<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_header(font_weight: :emphasized, p: 2) do %>
    <div class="table-list-header-toggle d-flex flex-justify-end">
      <%= render(GitHub::MenuComponent.new(
          title: "Filter by owner",
          filter_placeholder: "Filter users",
          filterable: true,
          js_filterable: true,
          preload: true,
          align: :right,
          src: owners_stafftools_user_personal_access_tokens_path(user_id: this_user, q: params[:q])
      )) do |component| %>
        <% component.with_summary do %>
          <%= render(GitHub::MenuSummaryComponent.new(classes: "btn-link select-menu-button", text: "Filter")) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if accesses.any? %>
    <% accesses.each do |access| %>
      <% component.with_row(
        display: :flex,
        justify_content: :center,
        py: 3
      ) do %>
        <div class="col-6">
          <%= link_to \
            access.name,
            stafftools_user_personal_access_token_organization_path(access.owner, access.id, this_user) %>

          <div class="pr-2">
            <%= avatar_for(access.owner, 20, class: "mr-1 avatar mt-0") %>
            <%= profile_link(access.owner, class: "Link--primary text-bold") %>
          </div>
        </div>

        <span class="col-3 d-flex flex-justify-end no-wrap flex-items-center">
          <small>Created <%= time_ago_in_words access.created_at %> ago</small>
        </span>

        <span class="col-3 d-flex flex-justify-end no-wrap flex-items-center">
          <small class="last-used float-right"><%= last_access_description(access) %></small>
        </span>
      <% end %>
    <% end %>
  <% else %>
    <% component.with_body do %>
      This organization does not have any granted access from personal tokens
    <% end %>
  <% end %>
<% end %>
