<% page_info :title => "Fine-grained personal access tokens - #{this_user}",
             :selected_link => :personal_access_tokens %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading do %>
    <span>Fine-grained personal access tokens</span>
    <%= render(Primer::Beta::Label.new(label: "Beta", title: "Label: Beta", ml: 1, scheme: :success, vertical_align: :middle))  { "Beta" } %>
  <% end %>
<% end %>

<turbo-frame id="personal-access-tokens-container" data-turbo-action="advance">
  <% if this_user.organization? %>
    <%= render partial: "stafftools/personal_access_tokens/list_by_org", locals: { accesses: accesses } %>
  <% else %>
    <%= render partial: "stafftools/personal_access_tokens/list", locals: { accesses: accesses } %>
  <% end %>

  <% if accesses.respond_to?(:total_pages) %>
    <div class="paginate-container">
      <%= will_paginate(accesses, renderer: TurboActionReplaceLinkRenderer) %>
    </div>
  <% end %>
</turbo-frame>

<% if GitHub.runtime.dotcom? %>
  <%= render(Primer::Beta::BorderBox.new(mb: 4)) do |component| %>
    <% component.with_header(font_weight: :emphasized) do %>
      Pinned API Version
    <% end %>
    <% component.with_body do %>
      <%= render partial: "stafftools/pinned_api_versions/form", locals: { actor: this_user } %>
    <% end %>
  <% end %>
<% end %>
