<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info :title => "Personal access token - #{access.name}",
             :selected_link => :general %>

<%= render(Primer::Beta::Subhead.new) do |component| %>
  <% component.with_heading(tag: :h3) do %>
    Personal access token details
  <% end %>

  <% component.with_actions do %>
    <%= render(Primer::Beta::Button.new(
      tag: :a, href: stafftools_audit_log_path(
        query: driftwood_ade_query?(current_user) ? "webevents | where data.user_programmatic_access_id == '#{access.id}'" : "data.user_programmatic_access_id:#{access.id}"
      ), scheme: :link
    )) { "Search audit logs" } %>
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_row(display: :flex) do %>
    <span class="col-4 text-bold">ID</span>
    <span class="col-8"><%= access.id %></span>
  <% end %>

  <% component.with_row(display: :flex) do %>
    <span class="col-4 text-bold">Name</span>
    <span class="col-8"><%= access.name %></span>
  <% end %>

  <% component.with_row(display: :flex) do %>
    <span class="col-4 text-bold">Description</span>
    <span class="col-8"><%= access.description %></span>
  <% end %>

  <% component.with_row(display: :flex) do %>
    <span class="col-4 text-bold">Credential expiration</span>

    <span class="col-8">
      <include-fragment src="<%= expiration_stafftools_user_personal_access_token_path(this_user, access) %>">
        <span class="color-fg-muted" data-hide-on-error>Loading expiration...</span>
        <span class="color-fg-danger" data-show-on-error hidden>Sorry, something went wrong.</span>
      </include-fragment>
    </span>
  <% end %>

  <% component.with_row(display: :flex) do %>
    <span class="col-4 text-bold">Credential last eight</span>

    <% last_eight = ProgrammaticAccessToken.token_last_eight(access) %>

    <span class="col-8">
      <% if last_eight.blank? %>
        Unknown
      <% else %>
        <code><%= last_eight %></code>
      <% end %>
    </span>
  <% end %>

  <% component.with_row(display: :flex) do %>
    <span class="col-4 text-bold">Last accessed</span>
    <span class="col-8"><%= last_access_description(access) %></span>
  <% end %>
 <% end %>

<hr>

<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_header(font_weight: :emphasized) do %>
    Compare
  <% end %>
  <% component.with_body do %>
    <%= form_for access, :method => :put, :url => compare_stafftools_user_personal_access_token_path do |form| %>
      <p>Compare a compromised token to this one to see if they match.</p>
      <div class="hfields">
        <dl class="form-group">
          <dt><%= label_tag :compromised_token, "Compromised Token" %></dt>
          <dd>
            <%= text_field_tag :compromised_token, nil, :class => "input-lg" %>
          </dd>
        </dl>

        <%= render Primer::Beta::Button.new(type: :submit) do %>Compare<% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<hr>

<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_header(font_weight: :emphasized) do %>
    Revoke
  <% end %>
  <% component.with_body do %>
    <p>
      Revoke this token to prevent access to the API. Your staff login will not be shown in the user's audit log.
    </p>
    <%= render(Primer::Experimental::Dialog.new(
      dialog_id: "revoke-token-dialog",
      header_variant: :large,
      width: :large,
      title: "Revoke token?",
      form_url: stafftools_user_personal_access_token_path(this_user, access),
      form_method: :delete
    )) do |c| %>
      <% c.with_show_button(
        scheme: :danger
      ) do |s| %>
        Revoke
      <% end %>
      <% c.with_body do %>
        <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
          Woah there! This action cannot be undone.
        <% end %>
      <% end %>
      <% c.with_button(
        data: { "close-dialog-id": "revoke-token-dialog" }
      ) { "Cancel" } %>
      <% c.with_button(
        type: :submit,
        scheme: :danger,
        data: { "disable-with": "" }
      ) { "Revoke token" } %>
    <% end %>
  <% end %>
<% end %>
