<p>
  Dear <%= @user.display_login %>,
</p>

<p class="mb-3">
 Your trial is ending tomorrow. <%= link_to "Get your subscription now", @settings_user_billing_path %> to continue having access to GitHub Copilot.
 </p>

<p class="mb-3">
  Subscribe now for <b>$10/month</b> or <b>$100/year</b> and keep getting access to all of the features:
</p>

<%
  [
    "Convert comments to code",
    "Navigate unfamiliar languages with code explanations and translations",
    "Create unit tests quickly",
    "Copilot Chat in the IDE",
    "Copilot in the CLI",
    "And much more..."
  ].each do |feature|
%>
  <p class="mb-3">
    <span style="color: #1A7F37">
      <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
    </span>
    <%= feature %>
  </p>
<% end %>

<%= render(
  Mail::ButtonComponent.new(
    text: "Subscribe to GitHub Copilot now",
    url: @settings_user_billing_path,
    classes: "btn-primary btn-large"
  )
) %>

<p class="mb-3 mt-3 text-gray-light">
  You cancelled your free one-time 30 days trial and won't be charged for Copilot.
  Your access to GitHub Copilot expires tomorrow.
</p>

<p class="mb-3 text-gray-light">
  Read the <%= link_to "billing documentation", Copilot::COPILOT_BILLING_DOCUMENTATION %> for more details.
</p>
