<p>
  Dear <%= @user.display_login %>,
</p>

<p class="mb-3">
  Your trial is ending soon. At the end of the trial, your GitHub Copilot subscription will continue at <b><%= @bill %></b> billed to your <%= @billing_method %>.
</p>

<p class="mb-3">
  You can cancel your <%= link_to "#{Copilot.individual_product_name} subscription trial", @settings_user_billing_path %> at any time before <%= @free_trial_ends_on %> and you won't be charged.
</p>

<p class="mb-3">
  If you do not cancel the trial before the end, the trial will automatically convert to a paid subscription starting from <%= @free_trial_ends_on %>.
</p>

<p class="mb-3">
  Read the billing documentation for more details.
</p>


<p class="mb-3">
  <%= render(
    Mail::ButtonComponent.new(
      text: "Manage subscription",
      url: @settings_user_billing_path,
      classes: "btn-primary btn-large"
    )
  ) %>
</p>

<p class="mb-3 mt-3 text-gray-light">
  You can manage your billing preferences or you can <%= link_to "cancel your #{Copilot.individual_product_name} subscription", Copilot::COPILOT_FOR_INDIVIDUALS_BILLING_DOCUMENTATION %> at any time.
  Read the <%= link_to "billing documentation", Copilot::COPILOT_BILLING_DOCUMENTATION %> for more details.
</p>

<p class="mb-3 mt-3 text-gray-light">
  Having trouble getting started with GitHub Copilot? Visit our <%= link_to "Getting Started Page", Copilot::COPILOT_GETTING_STARTED %>
</p>
