<p class="mb-3">
  Hi there <%= @user.display_login %>,
</p>

<p class="mb-3">
  Welcome to your GitHub Copilot Trial. Over the next 30 days, experience how GitHub Copilot’s AI-based coding suggestions can help you build software faster.
</p>

<p>
  First, you’ll need to install the GitHub Copilot extension to your editor. Select your editor below to get started:
</p>

<ul>
  <li>
    <%= link_to "Get started with Visual Studio Code", "https://docs.github.com/copilot/getting-started-with-github-copilot?tool=vscode" %>
  </li>
  <li>
    <%= link_to "Get started with Visual Studio", "https://docs.github.com/copilot/getting-started-with-github-copilot?tool=visualstudio" %>
  </li>
  <li>
    <%= link_to "Get started with JetBrains", "https://docs.github.com/copilot/getting-started-with-github-copilot?tool=jetbrains" %>
  </li>
  <li>
    <%= link_to "Get started with Neovim", "https://docs.github.com/copilot/getting-started-with-github-copilot?tool=vimneovim" %>
  </li>
</ul>

<p>
  From there, watch this <%= link_to "video", Copilot::COPILOT_GETTING_STARTED_VIDEO %> to learn different ways to use GitHub Copilot and get ready to take flight! Remember, with GitHub Copilot you can:
</p>

<ul>
  <li>
    <p class="mb-0">
      <b>Convert comments to code</b>
    </p>
    GitHub Copilot works best when you divide your code into small functions, use comments, and write docstrings as you go.
  </li>
  <li>
    <p class="mb-0">
      <b>Import unit test quickly</b>
    </p>
    While GitHub Copilot suggests code and functions, you’re always in charge. Remember to review, test, and vet your code.
  </li>
  <li>
    <p class="mb-0">
      <b>Navigate unfamiliar code languages</b>
    </p>
    GitHub Copilot helps you navigate unfamiliar libraries, frameworks, and languages.
  </li>
</ul>

<p>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Learn more",
      url: Copilot::COPILOT_FOR_INDIVIDUALS_DOCUMENTATION,
      classes: "btn-primary btn-large"
    )
  ) %>
</p>

<p class="text-gray-light mt-4">
  You can cancel your Copilot Individual subscription trial at any time at any time during the 30 days and you won't be charged. If you do not cancel the trial before the end of the 30 days, the trial will automatically convert to a paid subscription.
</p>

<p class="text-gray-light mt-2">
  If your company provides you with GitHub Copilot Business at some point during your trial, no action is needed and the payment details you provided will not be charged.
</p>

<p class="text-gray-light mt-2">
  <%= link_to "Read billing documentation", Copilot::COPILOT_FOR_INDIVIDUALS_BILLING_DOCUMENTATION %> for more details.
</p>

<p class="text-gray-light mt-2">
  Having trouble getting started with GitHub Copilot? Visit our <%= link_to "Getting Started Page", Copilot::COPILOT_GETTING_STARTED %>
</p>
