<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  tier = tier_result.tier
  calculated_tier = calculated_tier_result.tier
%>
<%= render(Primer::Beta::Flash.new) do %>
  <p class="text-bold">Hello Hubbers 👋🏼!!</p>
  <p>Please don't share tier information with customers! We don't discuss tiers in any public facing documentation and reserve the right to change the rules and resource limits, and/or force customers into tiers. This information should be for <span class="text-bold">internal use only</span>.</p>
<% end %>
<div class="Box" data-test-id="codespaces-group">
  <div class="Box-header">
    <h3 class="Box-title">
      Trust Tier
    </h3>
  </div>
  <div class="Box Box--condensed">
    <ul>
      <li class="Box-row">
        <div class="d-flex flex-justify-between flex-items-center">
          <div class="pr-2">
            <div class="d-flex flex-items-start flex-items-center">
              <label for="" class="mr-2">
                Account Tier
              </label>
            </div>
          </div>
          <div class="d-flex flex-justify-end position-relative">
            <%= render Primer::Beta::Label.new(scheme: tier == 1 ? :success : tier == 2 ? :purple : :warning, test_selector: "tier_value") do %>
              <%= TrustTiers::Tier.tier_name(tier) %><% if forced_tier > 0 %> <strong>(Forced)</strong><% else %> (Calculated)<% end %>
            <% end %>
          </div>
        </div>
      </li>

      <li class="Box-row">
        <div class="d-flex flex-justify-between flex-items-center">
          <div class="pr-2">
            <div class="d-flex flex-items-start flex-items-center">
              <label for="" class="mr-2">
                Tiering Reason
              </label>
            </div>
          </div>
          <div class="d-flex flex-justify-end position-relative"<%= test_selector("tier_reason") %>>
            <ul>
              <% if forced_tier > 0 %>
                <li class="Box-row">Forced</li>
              <% else %>
                <% verbose_tier_reason.each do |reason| %>
                  <li class="Box-row"><%= reason %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </li>

      <li class="Box-row">
        <div class="d-flex flex-justify-between flex-items-center">
          <div class="pr-2">
            <div class="d-flex flex-items-start flex-items-center">
              <label for="" class="mr-2">
                Codespaces Tiering Config
              </label>
            </div>
          </div>
          <div class="d-flex flex-justify-end position-relative">
            Codespaces Per User:   <%= codespaces_config.codespaces_per_user %><br>
            Concurrent Cores:      <%= codespaces_config.concurrent_cores %><br>
            Concurrent Codespaces: <%= codespaces_config.concurrent_codespaces %><br>
          </div>
        </div>
      </li>

      <li class="Box-row">
        <div class="d-flex flex-justify-between flex-items-center">
          <div class="pr-2">
            <div class="d-flex flex-items-start flex-items-center">
              <label for="" class="mr-2">
                Spending Limit Cap
              </label>
            </div>
              <p class="note">
                Maximum Allowed Spending Limit
              </p>
          </div>
          <div class="d-flex flex-justify-end position-relative">
            <%= spending_limit_text %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<br>

<div class="Box">
  <div class="Box Box--condensed">
    <ul>
      <%= render Stafftools::TrustTiers::TieringSelectComponent.new(user, tier, calculated_tier, forced_tier, business_or_invoiced) %>

      <% if tier != calculated_tier %>
        <%= render Stafftools::TrustTiers::TieringDetailComponent.new(
          "Calculated Tier",
          "Tier #{calculated_tier}",
          "This is the account's calculated tier before forcing a tier change."
        ) %>
      <% end %>

      <%= render Stafftools::TrustTiers::TieringDetailComponent.new(
        "Sales Serviced",
        user.is_a?(Business) || user.invoiced?,
        "Sales serviced account are automatically Tier 1"
      ) %>

      <%= render Stafftools::TrustTiers::TieringDetailComponent.new(
        "Account Plan",
        user.plan.display_name,
        "Plan display name"
      ) %>

      <%= render Stafftools::TrustTiers::TieringDetailComponent.new(
        "Enterprise Trial",
        tier_details.has_trial?,
        "Whether the plan is a trial"
      ) %>

      <% if user.organization? %>
        <%= render Stafftools::TrustTiers::TieringDetailComponent.new(
          "Has Paid Plan",
          tier_details.is_paid_plan?,
          "Account is on a paid plan"
        ) %>

        <%= render Stafftools::TrustTiers::TieringDetailComponent.new(
          "Oldest Owner",
          tier_details.oldest_owner,
          "Created #{tier_details.oldest_owner_age}"
        ) %>

        <%= render Stafftools::TrustTiers::TieringDetailComponent.new(
          "Oldest Owner Account > TRUSTED_COUPONED_AGE_LIMIT",
          tier_details.oldest_owner_older_than_trusted_couponed_age_limit?,
          "(Before #{TrustTiers::TierDetails::TRUSTED_COUPONED_AGE_LIMIT.ago})"
        ) %>

        <%= render Stafftools::TrustTiers::TieringDetailComponent.new(
          "Oldest Owner Account > NEUTRAL_PAID_OR_COUPONED_AGE_LIMIT",
          tier_details.oldest_owner_older_than_neutral_paid_or_couponed_age_limit?,
          "(Before #{TrustTiers::TierDetails::NEUTRAL_PAID_OR_COUPONED_AGE_LIMIT.ago})"
        ) %>

        <%= render Stafftools::TrustTiers::TieringDetailComponent.new(
          "Oldest Owner Account > NEUTRAL_FREE_AGE_LIMIT",
          tier_details.oldest_owner_older_than_neutral_free_age_limit?,
          "(Before #{TrustTiers::TierDetails::NEUTRAL_FREE_AGE_LIMIT.ago})"
        ) %>
      <% end %>


      <%= render Stafftools::TrustTiers::TieringDetailComponent.new(
        "Has Established Billing History",
        tier_details.has_established_billing_history?,
        "Has at least one successful payment two months old or older"
      ) %>

      <%= render Stafftools::TrustTiers::TieringDetailComponent.new(
        "Has Eligible Coupon",
        tier_details.has_eligible_coupon?,
        "Has an active, non-education coupon"
      ) %>

      <%= render Stafftools::TrustTiers::TieringDetailComponent.new(
        "Has Paid Money",
        tier_details.has_paid_money?,
        "Has a successful BillingTransaction"
      ) %>

      <%= render Stafftools::TrustTiers::TieringDetailComponent.new(
        "Latest Payment Succeeded",
        !tier_details.last_payment_failed?,
        "Most recent payment was successful (i.e., not in dunning)"
      ) %>
    </ul>
  </div>
</div>
<br>
