<%# erblint:counter DeprecatedComponentsCounter 3 %>
<details class="details-reset details-overlay details-overlay-dark">
  <%= render Primer::ButtonComponent.new(tag: :summary, classes: "SelectMenu-item", "aria-haspopup": "dialog") do %>
    <%= tier_name %>
  <% end %>
  <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast" aria-label="<%= tier_name %>" aria-modal="true"><%# erblint:disable A11yDetailsDialogMigration %>
    <div class="Box-header">
      <%= render Primer::Beta::IconButton.new(
        icon: :x,
        type: :button,
        float: :right,
        mt: 0,
        mr: 0,
        "aria-label": "Close dialog",
        "data-close-dialog": true)
      %>
      <h3 class="Box-title"><%= tier_name %></h3>
    </div>
    <%= form_tag stafftools_user_change_trust_tier_path(user), method: :put do %>
      <input type="hidden" name="new_tier" value="<%= tier %>">

      <div class="overflow-auto">
        <div class="Box-body overflow-auto">
          <label class="text-semibold" for="force-tier-reason-textarea-<%= tier %>">Reason for this tier change</label>
          <textarea
            class="form-control input-block"
            id="force-tier-reason-textarea-<%= tier %>"
            name="reason" required></textarea>
        </div>
      </div>
      <div class="Box-footer">
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, test_selector: "change_tier_form_#{tier}") do %>
          Force Tier
        <% end %>
        <%= render Primer::ButtonComponent.new(scheme: :invisible, "data-close-dialog": "") do %>
          Cancel
        <% end %>
      </div>
    <% end %>
  </details-dialog>
</details>
