<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Retired namespaces", selected_link: :retired_namespaces %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Subhead.new(mb: 3)) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Retired namespaces
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(mb: 3)) do |component| %>
    <% if retired_namespaces.empty? %>
      <%= component.with_body(test_selector: "empty-retired-namespaces") do %>
        There are no retired namespaces.
      <% end %>
    <% else %>
      <% retired_namespaces.each do |namespace| %>
        <% component.with_row(test_selector: "namespace-#{namespace.id}") do %>
          <div class="d-flex flex-items-center">
            <span class="text-mono flex-1">
              <%= namespace.name_with_owner %> -
              <span>
                (original user id: <%= namespace.owner_id %>)
              </span>
            </span>
            <%= form_with url: stafftools_retired_namespace_path(namespace.id), method: :delete do %>
              <%= render Primer::ButtonComponent.new(type: :submit, variant: :small) do %>
                Unretire
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate(retired_namespaces)%>
  </div>
<% end %>
