<% page_info title: "GitHub Sponsors agreements", selected_link: :sponsors_agreements %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |subhead_component| %>
    <% subhead_component.with_heading(tag: :h2) do %>
      Sponsors agreements
      <%= render Primer::Beta::Counter.new(vertical_align: :middle, count: agreements.total_entries) %>
    <% end %>
    <% subhead_component.with_actions do %>
        <%= render(
          Primer::Beta::Button.new(
            tag: :a,
            href: new_stafftools_sponsors_agreement_path,
          )
        ) { "Create new agreement" } %>
    <% end %>
  <% end %>

  <turbo-frame id="agreements-container" data-turbo-action="advance">
    <div id="agreements-container-pjax">
      <%= render Stafftools::Sponsors::AgreementsListComponent.new(agreements: agreements) %>
    </div>
  </turbo-frame>
<% end %>
