<% page_info title: "#{agreement} - GitHub Sponsors", selected_link: :sponsors_agreements %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Link.new(href: stafftools_sponsors_agreements_path, display: :inline_block, mb: 3)) do %>
    <%= render Primer::Beta::Octicon.new(icon: :"arrow-left", size: :small, aria: { hidden: true }) %>
    Back to all agreements
  <% end %>

  <h2 class="mb-4"><%= agreement %></h2>

  <%= render Primer::Beta::Subhead.new(display: :flex) do |subhead_component| %>
    <% subhead_component.with_heading(tag: :h3, justify_content: :flex_start) do %>
      Signatures
    <% end %>

    <% if agreement.invoiced_sponsor_kind? %>
      <% subhead_component.with_actions(display: :flex, justify_content: :flex_end) do %>
        <%= render(Primer::Alpha::ActionMenu.new(mr: 2)) do |menu| %>
          <% menu.with_show_button { |button|
            button.with_trailing_action_icon(icon: :"triangle-down")
            "Export CSV"
          } %>
          <% SponsorsAgreement::Signatures::ExportOption.values.each do |option| %>
            <% menu.with_item(
              label: option.description,
              href: stafftools_sponsors_agreement_signature_export_path(agreement),
              form_arguments: {
                method: :post,
                name: Stafftools::Sponsors::Agreements::SignatureExportsController::OPTION_PARAM,
                value: option.serialize,
                data: { turbo: false },
              },
            ) %>
          <% end %>
        <% end %>

        <%= render(Primer::Alpha::ActionMenu.new(
          dynamic_label: true,
          dynamic_label_prefix: "Sort by",
          select_variant: :single,
        )) do |menu| %>
          <% menu.with_show_button do |button| %>
            <% button.with_trailing_action_icon(icon: :"triangle-down") %>
          <% end %>
          <% SponsorsAgreement::Signatures::SortOption.values.each do |order| %>
            <% menu.with_item(
              label: order.serialize.humanize,
              href: stafftools_sponsors_agreement_path(
                agreement,
                Stafftools::Sponsors::AgreementsController::SIGNATURE_SORT_PARAM => order.serialize,
              ),
              active: signature_order == order,
            ) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <turbo-frame id="signatures-container" data-turbo-action="advance">
    <div id="signatures-container-pjax">
      <%= render Stafftools::Sponsors::Invoiced::SignatureListComponent.new(
        signatures: signatures,
        agreement: agreement,
      ) %>
    </div>
  </turbo-frame>

  <%= render Primer::Beta::Subhead.new do |subhead_component| %>
    <% subhead_component.with_heading(tag: :h3, mt: 4) do %>
      Terms
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% component.with_body do %>
      <div class="markdown-body" <%= test_selector("agreement-body") %>><%= agreement.body_html %></div>
    <% end %>
  <% end %>
<% end %>
