<% tracking_ref = pull.repository.refs.read("refs/pull/#{pull.number}/head") %>

<div class="site-admin-subhead">
  <h2 class="site-admin-subhead-heading">
    Tracking ref:
    <pre class="d-inline-block"><code class="f2 color-fg-muted color-bg-inset"><%= tracking_ref.qualified_name %></code></pre>
  </h2>
</div>

<% if tracking_ref.target_oid == pull.head_sha %>
  <p>
    <%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, alt: "everything looks good")) %>
    Tracking ref exists and is up to date
  </p>
<% else %>
  <% if tracking_ref.target_oid.nil? %>
    <p>
      <%= render(Primer::Beta::Octicon.new(icon: "x", size: :small, color: :danger, alt: "everything looks good")) %>
      Tracking ref doesn't exist
    </p>
  <% else %>
    <p>
      <%= render(Primer::Beta::Octicon.new(icon: "sync", size: :small, color: :attention, alt: "everything looks good")) %>
      Tracking ref is out of sync
    </p>
  <% end %>

  <%= form_tag maintain_tracking_ref_stafftools_repository_pull_request_path(current_repository.owner, current_repository, this_pull) do %>
    <%= render Primer::Beta::Button.new(type: :submit) do %>Maintain tracking ref<% end %>
  <% end %>
<% end %>
