<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<% if current_user.has_any_trade_restrictions? %>
  <div class="d-md-flex gutter-md-spacious">
    <div class="col-md-8">
      <%= render Primer::Beta::Flash.new(scheme: :danger, mb: 3, col: 12) do %>
        <%= render partial: "notices/ofac_sanctioned" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="d-flex flex-wrap flex-justify-between flex-items-baseline">
  <h2 class="f2-light">Subscription details</h2>

  <%= render(Primer::Alpha::Dialog.new(title: "Subscription plans", size: :auto)) do |dialog| %>
    <% dialog.with_header(show_divider: true) %>
    <% dialog.with_show_button(
      scheme: :link,
      font_size: :small,
      pb: 4,
      data: { "ga-click": "Organization new, view subscription plans" }
    ) { "Review subscription plans" } %>
    <% dialog.with_body(pt: 6, classes: "overflow-auto") do %>
      <div class="setup-form-container currency-container js-details-container Details">
        <%= render partial: "organizations/transform/plan_cards", locals: {
          creation_view: creation_view,
          coupon: coupon,
          business_plus_pricing_model: business_plus_pricing_model,
          per_seat_pricing_model: per_seat_pricing_model,
          plan_effective_at: plan_effective_at,
          plan: plan,
          current_organization: current_organization} %>
      </div>
    <% end %>
  <% end %>
</div>

<!-- Start Low res -->
<div class="currency-container js-details-container hide-lg hide-xl color-fg-default">
  <div class="pb-4">
    <div class="color-fg-muted border-bottom pb-1 mb-1 text-small">PLAN</div>
    <div class="f4">
      <div class="js-plan-info js-free-plan-info" <%= "hidden" unless params[:plan] == "free" %>>
        <%= short_plan_name(GitHub::Plan.free, account_type: "Organization") %>
      </div>
      <div class="js-plan-info js-business-plan-info" <%= "hidden" unless params[:plan] == "business" %>>
        <%= short_plan_name(GitHub::Plan.business) %>
      </div>
      <div
        class="js-plan-info js-enterprise-cloud-plan-info js-enterprise-server-plan-info js-enterprise-cloud-trial-plan-info"
        <%= "hidden" unless params[:plan] == "business_plus" %>
        <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
          <%= short_plan_name(GitHub::Plan.business_plus) %>
      </div>
      <div class="js-plan-info js-enterprise-server-plan-info" hidden>
        <a href="<%= ent_contact_url %> "
           class="btn btn-primary btn-block mt-4"
           data-ga-click="Enterprise plan card, click, Enterprise Server">
           Contact our team</a>
      </div>
    </div>
  </div>
  <div class="pb-4 js-plan-info js-free-plan-info js-business-plan-info js-enterprise-cloud-plan-info js-enterprise-cloud-trial-plan-info">
    <div class="color-fg-muted border-bottom pb-1 mb-1 text-small">PRICE</div>
    <div class="f4">
      <div class="js-plan-info js-free-plan-info" <%= "hidden" unless params[:plan] == "free" %>>
        <%= price_with_localization(0) %>
        per month
      </div>
      <div class="js-plan-info js-business-plan-info" <%= "hidden" unless params[:plan] == "business" %>>
        <span class="unstyled-unit-price"><%= price_with_localization(per_seat_pricing_model.unit_price) %></span>
        per user <span class="text-small">/ <%= creation_view.current_plan_duration %></span>
        <div class="f5 color-fg-muted">
          Starts at
          <span class="unstyled-base-price-obj"><%= price_with_localization(per_seat_pricing_model.base_price) %></span> / <span class="js-plan-duration-text"><%= creation_view.current_plan_duration %></span> which includes your first 5 users
        </div>
        <div>
          <a
            class="text-small js-org-signup-duration-change"
            data-plan-duration="<%= creation_view.available_plan_duration %>"
            href="<%= new_organization_path %>"
            data-url="<%= model_org_seats_path(coupon: creation_view.coupon, new_plan: GitHub::Plan.business_plus.to_s) %>"
            >Pay <span class="unstyled-available-plan-duration-adjective"><%= creation_view.available_plan_duration_adjective %></span>
          </a>
        </div>
      </div>
      <div
        class="js-plan-info js-enterprise-cloud-trial-plan-info"
        <%= "hidden" unless params[:plan] == "business_plus" %>
        <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
        Free <%= trial_length_label %> trial
      </div>
    </div>
  </div>
  <div class="pb-4 js-plan-info js-business-plan-info js-enterprise-cloud-plan-info">
    <div class="color-fg-muted border-bottom pb-1 mb-1 text-small">USERS</div>
    <div class="f4">
      <div class="js-plan-info js-free-plan-info" <%= "hidden" unless params[:plan] == "free" %>>
        ∞
      </div>
      <div class="js-plan-info js-business-plan-info <%= "has-removed-contents" unless params[:plan] == "business" %>" <%= "hidden" unless params[:plan] == "business" %>>
        <input type="number"
               class="form-control seat-field js-seat-field input-contrast input-hide-webkit-autofill js-addon-purchase-field mr-2"
               name="organization[seats]"
               min="<%= per_seat_pricing_model.base_seats %>"
               value="<%= per_seat_pricing_model.seats %>"
               data-url="<%=  model_org_seats_path(
                   plan_duration: creation_view.current_plan_duration,
                   coupon: creation_view.coupon,
                   new_plan: GitHub::Plan.business
               )%>"
               data-item-name="seats"
               data-item-minimum="<%= per_seat_pricing_model.base_seats %>"
               aria-label="Seats"
        >
      </div>
      <div
        class="js-plan-info js-enterprise-cloud-trial-plan-info"
        <%= "hidden" unless params[:plan] == "business_plus" %>
        <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
          <%= Billing::EnterpriseCloudTrial::INITIAL_SEAT_COUNT %>
      </div>
    </div>
  </div>
  <div class="pb-4 js-plan-info js-free-plan-info js-business-plan-info js-enterprise-cloud-plan-info js-enterprise-cloud-trial-plan-info">
    <div class="color-fg-muted border-bottom pb-1 mb-1 text-small">TOTAL</div>
    <div class="f4">
      <div class="js-plan-info js-free-plan-info" <%= "hidden" unless params[:plan] == "free" %>>
        <%= price_with_localization(0) %>
      </div>
      <div class="js-plan-info js-business-plan-info" <%= "hidden" unless params[:plan] == "business" %>>
        <span class="unstyled-final-price-obj">
          <%= price_with_localization(per_seat_pricing_model.final_price) %>
        </span>
        <span class="text-small">/ <span class='js-plan-duration-text'><%= creation_view.current_plan_duration %></span></span>
      </div>
      <div
        class="js-plan-info js-enterprise-cloud-trial-plan-info"
        <%= "hidden" unless params[:plan] == "business_plus" %>
        <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
        <%= link_to \
          "Start a Free Trial",
          enterprise_trial_accounts_new_path,
          class: "btn btn-primary btn-block js-enterprise-trial-link mt-4",
          data: {
            **analytics_click_attributes(
              category: "enterprise_trial_account",
              action: "click.start_a_free_trial",
              label: "location:organizations_transform_modal_cards_plan_info"
            )
          }
        %>
      </div>
    </div>
  </div>
</div>
<!-- End Low res -->

<!-- Start High res -->
<div class="hide-sm hide-md currency-container js-details-container ">
  <div class="d-table col-12 color-fg-muted border-y f6">
    <div class="col-3 p-2 d-table-cell">PLAN</div>
    <div class="col-4 p-2 d-table-cell">PRICE</div>
    <div class="col-2 p-2 d-table-cell">
      <span class="js-plan-info js-business-plan-info js-enterprise-cloud-trial-plan-info js-enterprise-cloud-plan-info" <%= "hidden" if params[:plan] == "free" %>>USERS</span>
    </div>
    <div class="col-3 p-2 d-table-cell">TOTAL</div>
  </div>

  <!-- Team for open source -->
  <div class="d-table col-12 f3 js-plan-info js-free-plan-info" <%= "hidden" unless params[:plan] == "free" %>>
    <div class="d-table-cell col-3 p-2">
      <%= short_plan_name(GitHub::Plan.free, account_type: "Organization") %>
    </div>
    <div class="d-table-cell col-4 p-2">
      <%= price_with_localization(0) %>
      / month
    </div>
    <div class="d-table-cell col-2 p-2"></div>
    <div class="d-table-cell col-3 p-2">
      <%= price_with_localization(0) %>
    </div>
  </div>

  <!-- Team plan -->
  <div class="d-table col-12 f3 js-plan-info js-business-plan-info <%= "has-removed-contents" unless params[:plan] == "business" %>" <%= "hidden" unless params[:plan] == "business" %>>
    <div class="d-table-cell col-3 p-2">
      <%= short_plan_name(GitHub::Plan.business) %>
    </div>
    <div class="d-table-cell col-4 p-2">
      <p>
        <span class="unstyled-unit-price"><%= price_with_localization(per_seat_pricing_model.unit_price) %></span>
        per user/  <span class='js-plan-duration-text'><%= creation_view.current_plan_duration %></span>
      </p>
      <p class="color-fg-muted text-small mb-0">
        Starts at
        <span class="unstyled-base-price-obj"><%= price_with_localization(per_seat_pricing_model.base_price) %></span> / <span class="js-plan-duration-text"><%= creation_view.current_plan_duration %></span> which includes your first 5 users
      </p>
      <div>
        <a
          class="text-small js-org-signup-duration-change"
          data-plan-duration="<%= creation_view.available_plan_duration %>"
          href="<%= new_organization_path %>"
          data-url="<%= model_org_seats_path(coupon: creation_view.coupon, new_plan: GitHub::Plan.business.to_s) %>"
          >Pay <span class="unstyled-available-plan-duration-adjective"><%= creation_view.available_plan_duration_adjective %></span>
        </a>
      </div>
    </div>
    <div class="d-table-cell col-2 p-2">
      <input type="number"
             class="form-control seat-field js-seat-field input-contrast input-hide-webkit-autofill js-addon-purchase-field mr-2"
             name="organization[seats]"
             min="<%= per_seat_pricing_model.base_seats %>"
             value="<%= params[:seats] || per_seat_pricing_model.seats %>"
             data-url="<%=  model_org_seats_path(
                 plan_duration: creation_view.current_plan_duration,
                 coupon: creation_view.coupon,
                 new_plan: GitHub::Plan.business
             )%>"
             data-item-name="seats"
             data-item-minimum="<%= per_seat_pricing_model.base_seats %>"
             aria-label="Seats"
      >
    </div>
    <div class="d-table-cell col-3 p-2">
      <span class="unstyled-final-price-obj">
        <%= price_with_localization(per_seat_pricing_model.final_price) %>
      </span>
      <span class="f3">/ <span class='js-plan-duration-text'><%= creation_view.current_plan_duration %></span></span>
    </div>
  </div>

  <!-- Enterprise trial plan -->
  <div class="d-table col-12 f3 js-plan-info js-enterprise-cloud-trial-plan-info" <%= "hidden" unless params[:plan] == GitHub::Plan.business_plus.to_s %>>
    <div class="d-table-cell col-3 p-2" <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
      <%= short_plan_name(GitHub::Plan.business_plus) %> Trial
    </div>
    <div class="d-table-cell col-4 p-2" <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
      Free <%= trial_length_label %> trial
    </div>
    <div class="d-table-cell col-2 p-2" <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
      <%= Billing::EnterpriseCloudTrial::INITIAL_SEAT_COUNT %>
    </div>
    <div class="d-table-cell col-3 p-2" <%= test_selector("enterprise-cloud-trial-collapsed-info") %>>
      <%= link_to \
        "Start a Free Trial",
        enterprise_trial_accounts_new_path,
        class: "btn btn-primary btn-block js-enterprise-trial-link mt-4",
        data: {
          **analytics_click_attributes(
            category: "enterprise_trial_account",
            action: "click.start_a_free_trial",
            label: "location:organizations_transform_modal_cards_plans_table"
          )
        }
      %>
    </div>
  </div>

  <!-- Enterprise Server plan -->
  <div class="d-table col-12 f3 js-plan-info js-enterprise-server-plan-info" hidden>
    <div class="d-table-cell col-3 p-2">
      <%= short_plan_name(GitHub::Plan.business_plus) %>
    </div>
    <div class="d-table-cell col-6 p-2">
    </div>
    <div class="d-table-cell col-3 p-2">
      <a href="<%= ent_contact_url %> "
        class="btn btn-primary btn-block"
        data-ga-click="Enterprise plan card, click, Enterprise Server">
        Contact our team</a>
    </div>
  </div>
</div>
<!-- End High res -->
