<%# rubocop:disable Lint/InstanceVariable %>
<%
    seats_data_url = model_org_seats_path(
      plan_duration: creation_view.current_plan_duration,
      coupon: creation_view.coupon,
      new_plan: plan
    )
%>

<div class="d-flex flex-items-center py-3">
  <div class="d-flex flex-items-center col-7">
    <% minimum_seats_disclaimer = "Note: The Team plan starts at #{money(pricing_model.base_price)} and" + "\n" + "includes up to #{pricing_model.base_seats} users." %>
    <span class="js-minimum-seats-disclaimer">
      <input
      type="number"
      class="form-control seat-field js-seat-field input-contrast input-hide-webkit-autofill js-addon-purchase-field mr-2"
      name="organization[seats]"
      value="<%= params[:seats] || pricing_model.seats %>"
      max="<%= maximum_seats %>"
      data-url="<%= seats_data_url %>"
      data-item-name="seats"
      data-item-minimum="<%= pricing_model.base_seats %>"
      data-item-maximum="<%= pricing_model.maximum_seats %>"
      aria-label="Seats"
      aria-description="<%= minimum_seats_disclaimer %>"
      >
    </span>
    <span class="text-normal text-small lh-condensed"><span class="unstyled-users-label"><%= "user".pluralize(pricing_model.seats) %></span> in this <%= plan.display_name.titleize %> plan</span>
  </div>
  <div class="col-5 text-right pr-2">
    <a
      class="text-small js-org-signup-duration-change"
      data-plan-duration="<%= creation_view.available_plan_duration %>"
      href="<%= new_organization_path %>"
      data-url="<%= model_org_seats_path(coupon: @coupon, new_plan: plan.to_s) %>"
      >Pay <span class="unstyled-available-plan-duration-adjective"><%= creation_view.available_plan_duration_adjective %></span>
    </a>
  </div>
</div>
