<li class="table-list-item collab-list-item" data-login="<%= user.display_login %>"
  <%= test_selector "org-owner-item" %>>
  <a class="table-list-cell collab-list-cell collab-team-link" href="<%= user_path(user) %>">
    <%= avatar_for user, 32, :class => "avatar" %>
    <div class="collab-info">
      <strong class="collab-name"><%= full_name %></strong>
      <%= user %>
    </div>
  </a>
  <% if user != current_user %>
    <span class="table-list-cell collab-list-cell collab-meta collab-remove js-team-remove-user-wrapper" <%= "hidden" if hide_remove_button %>>
      <a href="#org-owner" class="remove-link js-team-remove-user">
        <%= primer_octicon(:x) %>
      </a>
    </span>
  <% end %>
  <input type="hidden" class="js-login-field" name="organization[admin_logins][]" value="<%= user.display_login %>" disabled>
</li>
