<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<org-transform-step-three>
  <%= render(Billing::Settings::Upgrade::SectionComponent.new(title: "Review and submit", icon: "check-circle", color: view.org_transform_step_one_complete? && view.org_transform_step_two_complete? ? :default : :muted, data: { target: "org-transform-step-three.container" })) do |component| %>
    <% component.with_body(classes: "js-org-transform-step-three-body #{'has-removed-contents' unless view.org_transform_step_two_complete?}", mt: 3, data: { step_two_complete: view.org_transform_step_two_complete? } ) do %>
      <%= render Primer::Beta::Flash.new(scheme: :warning, icon: :alert, display: :flex, justify_content: :space_between, align_items: :flex_start, mb: 4, test_selector: "org-transform-step-three-warning-flash") do %>
        This is a irreversible action. Once submitted, you will no longer be able to access this personal account.
      <% end %>

      <div class="form-checkbox">
        <label>
          <input type="checkbox" required data-target="org-transform-step-three.checkbox" data-action="change:org-transform-step-three#toggleFormComplete">
          I understand and would like to transform my personal account to an organization account.
        </label>
      </div>

      <div class="color-fg-muted py-3 d-flex flex-items-center" <%= test_selector("org-transform-step-three-action-buttons") %>>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary) do %>
          Continue
        <% end %>

        <%= render Primer::Beta::Button.new(type: :reset, scheme: :default, tag: :a, href: settings_organizations_url, ml: 3, test_selector: "org-transform-step-three-cancel-btn") do %>
          Cancel
        <% end %>
      </div>
    <% end %>
  <% end %>
</org-transform-step-three>
