<% step1 ||= "" %>
<% step2 ||= "" %>
<ol class="steps">
  <li class="<%= step1 %> text-center text-md-left">
    <%= primer_octicon(:organization, height: 32, float: [:none, nil, :left], mx: :auto, mr: [nil, nil, 3]) %>
    <strong class="step"><% if step1 == "complete" %>Completed<% else %>Step 1:<% end %></strong>
    <% if logged_in? %>
      Create organization
    <% else %>
      Set up the organization
    <% end %>
  </li>
  <li class="<%= step2 %> text-center text-md-left">
    <%= primer_octicon(:clock, height: 32, float: [:none, nil, :left], mx: :auto, mr: [nil, nil, 3]) %>
    <strong class="step">Step 2:</strong>
    Wait for your transformation
  </li>
  <li class="text-center text-md-left">
    <%= primer_octicon(:person, height: 32, float: [:none, nil, :left], mx: :auto, mr: [nil, nil, 3]) %>
    <strong class="step">Step 3:</strong>
    Sign in to personal account
  </li>
</ol>
