<org-transform-step-two>
  <%= render(Billing::Settings::Upgrade::SectionComponent.new(title: "Select an organization owner", icon: "person-add", classes: "js-org-transform-step-two-container", color: view.org_transform_step_one_complete? ? :default : :muted, data: { target: "org-transform-step-two.container" })) do |component| %>
    <% component.with_body(classes: "js-org-transform-step-two-body #{'has-removed-contents' unless view.org_transform_step_one_complete?}", data: { step_two_complete: view.org_transform_step_two_complete? }) do %>
      <div class="mb-3 collaborators js-team-add-user-form" data-template-url="/account/organizations/access_list_members">
        <p class="text-small py-2 mb-0" data-target="org-transform-step-two.selectOwnerTitle" <%= "hidden" if view.org_transform_step_two_complete? %> <%= test_selector("org-transform-step-two-owner-title") %>>
          Select either your secondary personal account or another user you
          trust to manage your new organization. This person will be able to manage every aspect of the organization (<%= "billing, " if GitHub.billing_enabled? %>repositories, teams, etc).
        </p>
        <div class="js-team-add-user-form" data-template-url="/account/organizations/access_list_members" data-target="org-transform-step-two.autoCompleteWrapper">
          <div class="form-group">
            <%= render Primer::Beta::AutoComplete.new(
              label_text: "Search by username, full name or email address",
              src: autocomplete_users_path,
              full_width: true,
              input_id: "choose-org-owner",
              list_id: "org-owner-complete-results",
              placeholder: "Search",
              hidden: view.org_transform_step_two_complete?,
              data: { target: "org-transform-step-two.autoComplete" },
              value: view.admin_logins.present? ? view.admin_logins.first : nil,
            ) do |c| %>
              <% c.with_leading_visual_icon(icon: :search) %>
              <% c.with_input(
                classes: "input-block org-field",
                required: true
              ) %>
            <% end %>
          </div>
        </div>
        <ul class="table-list collab-list org-owner js-team-user-logins"></ul>
      </div>
      <div class="color-fg-muted py-3 d-flex flex-items-center" <%= test_selector("org-transform-step-two-action-buttons") %> data-target="org-transform-step-two.actionButtons" <%= "hidden" if view.org_transform_step_two_complete? %>>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary) do %>
          Continue
        <% end %>

        <% if view.org_transform_step_two_complete? %>
          <%= render Primer::Beta::Button.new(type: :reset, scheme: :default, ml: 3, data: { target: "org-transform-step-two.cancelButton", action: "click:org-transform-step-two#cancel" }) do %>
            Cancel
          <% end %>
        <% else %>
          <%= render Primer::Beta::Button.new(type: :reset, scheme: :default, tag: :a, href: settings_organizations_url, ml: 3) do %>
            Cancel
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% component.with_button(size: :medium, px: 3, scheme: :link, font_size: 6, classes: "js-org-transform-step-two-edit-btn", hidden: !view.org_transform_step_two_complete?, test_selector: "org-transform-step-two-edit-btn", data: { target: "org-transform-step-two.editButton", action: "click:org-transform-step-two#edit" }) do %>
      Edit
    <% end %>
  <% end %>
</org-transform-step-two>
