<%
  login_error = view.organization.try(:errors) && view.organization.errors[:login].any?
  login_value = current_user
  hint_name = current_user
%>

<org-transform-step-one>
  <%= render(Billing::Settings::Upgrade::SectionComponent.new(title: "Setup your organization", icon: :organization, data: { target: "org-transform-step-one.container" })) do |component| %>
    <% component.with_body do %>
      <div class="mt-4" <%= "hidden" unless view.org_transform_step_one_complete? %> data-target="org-transform-step-one.summary" <%= test_selector("org-transform-step-one-summary") %>>
        <div class="d-flex flex-md-row flex-sm-column mb-1 mb-sm-0" style="row-gap: 8px;">
          <div class="col-6 mb-auto d-flex flex-items-center js-billing-info-avatar-wrapper">
            <%= render GitHub::AvatarComponent.new(actor: current_user, size: 32, mr: 2) %>
            <ul class="list-style-none lh-condensed mb-2" style="min-height: 32px;">
              <li class="pb-1 text-bold"><%= view.organization.display_login %></li>
              <li class="text-small color-fg-muted">Organization account</li>
            </ul>
          </div>
        </div>
      </div>
      <div <%= "hidden" if view.org_transform_step_one_complete? %> data-target="org-transform-step-one.inputsWrapper" <%= test_selector("org-transform-step-one-inputs-wrapper") %>>
        <%=
          form.text_group("Organization name", :profile_name, {
            error:    login_error && "Name is unavailable",
            value:    login_value,
            disabled: true,
            class:    "js-new-organization-name",
            hint:     safe_join([
              "This will be your organization name on #{GitHub.url}/",
              content_tag(:strong, hint_name, :class => "js-field-hint-name"),
              "."
            ]),
            required: true
          })
        %>

        <% if GitHub.billing_enabled? %>
          <% email_error = view.organization.try(:errors) && view.organization.errors[:billing_email] %>
          <% billing_hint = ["We’ll send receipts to this inbox."] %>

          <%= hidden_field_tag "coupon", view.coupon.try(:code) %>
          <%= hidden_field_tag 'plan', view.plan_for_org_transform %>

          <%=
            form.text_group "#{org_contact_email_label} email", :billing_email,
              hint: (safe_join(billing_hint)),
              error: email_error.any? && "#{org_contact_email_label} email " + email_error.first,
              disabled: true,
              required: true
          %>
        <% end %>

        <% if GitHub.terms_of_service_enabled? %>
          <dl class="form-group required">
            <dt class="input-label">
              <label required>Organization type</label>
            </dt>
            <dd>
              <div role="radiogroup" class="Box my-2">
                <div class="Box-body">
                  <div class="form-checkbox my-2" >
                    <label id="is-business-false" class="text-normal">
                      <input
                        data-target="org-transform-step-one.standardTermsRadio"
                        data-action="click:org-transform-step-one#toggleTosRadio"
                        type="radio"
                        <%= 'checked' if view.terms_of_service.blank? || view.terms_of_service == 'standard' %>
                        name="terms_of_service_type"
                        value="standard"
                      >
                        Individual owned
                    </label>
                    <p class="d-block text-small">
                      GitHub's <a class="Link--inTextBlock" href="<%= site_terms_path %>" target="_blank" aria-hidden="false" rel="noopener noreferrer">Standard Terms of Service</a> will apply. Best for individuals wanting the freedom to move data and remain independent of a corporation.
                    </p>
                  </div>
                </div>
                <div class="Box-body">
                  <div class="form-checkbox my-2" >
                    <label id="is-business-true" class="text-normal">
                      <input
                        data-target="org-transform-step-one.businessTermsRadio"
                        data-action="click:org-transform-step-one#toggleTosRadio"
                        type="radio"
                        <%= 'checked' if view.terms_of_service == 'corporate' %>
                        name="terms_of_service_type"
                        value="corporate"
                      >
                        Business owned
                    </label>
                    <p class="d-block text-small">
                      GitHub's <a class="Link--inTextBlock" href="<%= customer_term_index_path %>" target="_blank" aria-hidden="false" rel="noopener noreferrer">Customer Agreement</a> will apply. Best for businesses that need to protect their intellectual property and secure visibility into their data.
                    </p>
                  </div>
                  <div class="has-removed-contents" data-target="org-transform-step-one.businessNameWrapper">
                    <div class="mt-4">
                      <%= form.text_group("Name of business or institution this organization belongs to", :company_name, {
                        class: "mb-2 js-company-name-input",
                        required: true,
                        hint: "This business or institution — not an individual — will control this organization account."
                      }) %>
                    </div>
                  </div>
                </div>
              </div>
            </dd>
          </dl>
        <% end %>

        <div class="color-fg-muted py-3 d-flex flex-items-center" <%= test_selector("org-transform-step-one-action-buttons") %>>
          <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary) do %>
            Continue
          <% end %>

          <% if view.org_transform_step_one_complete? %>
            <%= render Primer::Beta::Button.new(type: :reset, scheme: :default, ml: 3, data: { target: "org-transform-step-one.cancelButton", action: "click:org-transform-step-one#cancel" }) do %>
              Cancel
            <% end %>
          <% else %>
            <%= render Primer::Beta::Button.new(type: :reset, scheme: :default, tag: :a, href: settings_organizations_url, ml: 3) do %>
              Cancel
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% component.with_button(size: :medium, px: 3, scheme: :link, font_size: 6, hidden: !view.org_transform_step_one_complete?, test_selector: "org-transform-step-one-edit-btn", data: { target: "org-transform-step-one.editButton", action: "click:org-transform-step-one#edit" }) do %>
      Edit
    <% end %>
  <% end %>
</org-transform-step-one>
