<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  page_info :title => "Sign up your team", :class => "page-create-org"
  login_error = view.organization.try(:errors) && view.organization.errors[:login].any?
  login_value = current_user
  hint_name = current_user
%>

<% content_for :head do %>
  <%= stylesheet_bundle "site" %>
<% end %>

<div class="container-lg p-responsive py-5" <%= test_selector("org-transform-new-design") %>>
  <header class="d-md-flex flex-items-center flex-justify-between mt-1 mb-4" aria-labelledby="transform-header">
    <div class="d-flex flex-items-center mb-2 mb-md-0">
      <%= render(GitHub::AvatarComponent.new(actor: current_user, size: 48, mr: 3)) %>
      <div class="flex-auto">
        <h1 id="transform-header" class="h3 lh-condensed">
          <a href="<%= settings_account_path(current_user) %>" class="color-fg-default">
            <%= current_user.safe_profile_name %>
          </a>
          <span class="sr-only">settings</span>
        </h1>
        <div class="d-flex flex-items-center flex-wrap color-fg-accent">
          <p class="color-fg-muted mb-0 mr-1">
            Your personal account
          </p>
        </div>
      </div>
    </div>
  </header>
  <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
    <% component.with_heading(tag: :h2, test_selector: "org-transform-new-design-title") do %>Transform your personal account into an organization<% end %>
  <% end %>
  <%= form_for view.organization, :url => create_or_transform_org_path,
    :html => {
      :id                  => "new-organization",
      :class               => "clearfix js-braintree-encrypt setup-form",
      "data-braintree-key" => GitHub.braintree_client_side_encryption_key
    } do |f| %>
      <input class="js-transform-user" type="hidden" name="transform_user" value="1">
      <div class="d-md-flex gutter-md">
        <div class="col-md-7" <%= test_selector("setup-organization") %>>
          <% if view.organization.errors.any? -%>
            <%= render(Primer::Beta::Flash.new(scheme: :danger, mt: 2)) do %>
              There were problems creating your organization.
            <% end %>
          <% end %>
          <input type="hidden" class="js-transform-steps-complete" name="org_transform_steps_complete" value="false">
          <%= render :partial => "organizations/transform/transform_step_one", locals: { view: view, form: f } %>
          <%= render :partial => "organizations/transform/transform_step_two", locals: { view: view } %>
          <%= render :partial => "organizations/transform/transform_step_three", locals: { view: view } %>
        </div>
      </div>
  <% end %>
</div>
