<%= form_tag team_sync_update_path(view.organization), :class => "mt-3", :method => :put do %>
  <div class="form-checkbox">
    <label>
      <input type="checkbox"
        name="team_sync_forbid_organization_invites"
        <%= 'checked' if view.organization.team_sync_tenant.forbid_organization_invites %>
        <%= test_selector("organization-ts-forbid-org-invs-checkbox") %>
      >
      Do not allow Team Sync to re-invite past members to this organization that were removed by an organization owner
    </label>

    <p class="note <%= "color-fg-muted" if view.organization.team_sync_tenant.forbid_organization_invites %>">
      Disabling this setting will let Team Sync re-send invites to non-members if they are in a synced identity group and were previously an organization member removed by an organization owner.
    </p>
  </div>

  <%= render Primer::Beta::Button.new(
    ml: 3,
    type: :submit,
    disabled: false,
    test_selector: "organization-ts-forbid-org-invs-save-button"
  ) do %>
    Save
  <% end %>
<% end %>
