<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# `view` is an Orgs::SecuritySettings::TeamSync::InitiateSetupView %>
<% page_info :title => "Setup team synchronization" %>

<div class="org-sso text-center">
  <div class="org-sso-panel">
    <div class="position-relative mt-2 mb-3">
      <h1 class="sso-title m-0">
        Enable team synchronization with
        <strong><%= view.provider_label %></strong>
      </h1>
    </div>

    <div class="Box-body overflow-auto pb-4">
      <p class="color-fg-muted">
        To enable team synchronization you will be redirected to your identity
        provider to grant privileges.
        <a class="Link--inTextBlock" aria-label="Learn more about synchronizing teams between your identity provider and GitHub" href="<%= GitHub.help_url %>/articles/synchronizing-teams-between-your-identity-provider-and-github">Learn more</a>
      </p>
    </div>
    <div class="full-button">
      <%= form_tag team_sync_initiate_url(view.organization), method: "post" do %>
        <input type="hidden" name="token" value="<%= view.token %>">
        <button type="submit" class="btn btn-primary btn-block" id="enable-team-sync">Enable team synchronization</button>
      <% end %>
    </div>
  </div>

  <div class="text-small color-fg-muted mt-4">
    <p>
      <strong>If you don't have privileges to enable team synchronization</strong>
      share this link with your <%= view.provider_label %> administrator to enable.
    </p>
    <p>
      <span class="css-truncate css-truncate-target"><%= view.share_link %></span>
      <%= render Primer::Beta::ClipboardCopy.new(value: view.share_link, "data-copy-feedback": "Copied!", "aria-label": "Copy", color: :muted, classes: "Link--onHover", ml: 1) %>
    </p>
  </div>
</div>
