<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "#{beta.feature_name} beta signup", selected_link: :projects_roadmap_beta_signup %>

<%= render layout: "stafftools/stafftools" do %>

  <%= render(Primer::Beta::Subhead.new(mt: 3)) do |component| %>
    <% component.with_heading(tag: :h2) do %><%= beta.feature_name %> Organization Waitlist<% end %>
  <% end %>

  <%= feature %>

  <%= render(Primer::Box.new(display: :flex, mb: 1)) do |component| %>
    <%= form_tag stafftools_projects_beta_signup_path, method: :get, class: "d-flex mr-1" do %>
      <div class="subnav-search flex-auto d-flex mx-0">
        <input aria-label="Search waitlisted organizations&hellip;"
              placeholder="Search waitlisted organizations&hellip;"
              autocapitalize="off"
              autocomplete="off"
              class="form-control input-block flex-auto input-lg subnav-search-input"
              spellcheck="false"
              type="text"
              name="query"
              value="<%= params[:query] %>">
        <%= render(Primer::Beta::Octicon.new(:search, classes: "subnav-search-icon")) %>
        <% if params[:query].present? %>
            <a href="<%= stafftools_projects_beta_signup_path %>"
              class="issues-reset-query position-absolute top-0 right-0 mt-2 mr-1 rounded-2 text-center btn-link Link--muted"
              aria-label="Clear filter"
            >
            <%= render(Primer::Beta::Octicon.new(:x, classes: "issues-reset-query-icon")) %>
          </a>
        <% end %>
      </div>
      <%= render(Primer::ButtonComponent.new(type: :submit)) { "Search" } %>
    <% end %>
  <% end %>
  <small>Note: search only supports exact match on member organization names.</small>

  <table class="Box width-full mt-2">
    <tr>
      <th class="Box-header">Requestor</th>
      <th class="Box-header">Organization</th>
      <th class="Box-header">Registered Date</th>
      <th class="Box-header">Plan</th>
      <th class="Box-header">Member count</th>
      <th class="Box-header">Enabled?</th>
    </tr>
    <% memberships.each do |membership| %>
      <%
        user = membership.actor || User.ghost
        organization = membership.member || Organization.ghost
      %>
      <tr class="Box-row" <%= test_selector("waitlist-member") %>>
        <td class="p-3">
          <%= avatar_for(user, 24, class: "avatar avatar-small mr-2") %>
          <%= link_to user.display_login, stafftools_user_path(user) %>
        </td>
        <td class="p-3">
          <%= render(GitHub::AvatarComponent.new(actor: organization, size: 24)) %>
          <%= link_to organization.display_login, stafftools_user_path(organization) %>
        </td>
        <td class="p-3"><%= organization.created_at.to_date.iso8601 %></td>
        <td class="p-3 text-right"><%= metadata[:plan][organization.id] %></td>
        <td class="p-3 text-right"><%= metadata[:member_count][organization.id] %></td>
        <td class="p-3 text-center">
          <%= form_tag stafftools_update_projects_beta_signup_path(membership), method: :put, data: {feature: feature}, class: "js-setting-toggle", "data-autosubmit" => true do %>
            <input type="hidden" name="feature" value="<%= feature %>">
            <% if organization.display_login == "ghost" %>
            <%= render(Primer::Tooltip.new(
              label: "This organization has been deleted",
              no_delay: true,
              multiline: true,
              direction: :ne,
            )) do %>
              <input type="checkbox" name="user_beta_status" disabled aria-label="Toggle <%= organization.display_login %> beta status">
            <% end %>
            <% else %>
            <input type="checkbox" name="user_beta_status" aria-label="Toggle <%= organization.display_login %> beta status" <%= "checked" if membership.feature_enabled? %> data-confirm="Are you sure you want to <%= membership.feature_enabled? ? "Disable" : "Enable" %> <%= feature.capitalize %>? This cannot be easily undone!" >
            <% end %>
            <span class="status-indicator js-status-indicator">
              <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
              <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate memberships %>
  </div>
<% end %>
