<%= render(Primer::Box.new(display: :flex, direction: :row, mb: 3, pb: 3, border: :bottom, test_selector: "repository-summary")) do %>
  <%= render(Primer::Box.new(border: true, display: :flex, direction: :column, p: 3, border_radius: 2)) do %>
    <%= render Primer::Beta::Octicon.new(icon: repo_summary_icon,) %>
  <% end %>

  <%= render(Primer::Box.new(ml: 4)) do %>
    <%= render(Primer::Beta::Heading.new(tag: :h3, font_size: 4)) { "#{view.repo_visibility.capitalize} repository" } %>
    <%= render(Primer::Beta::Text.new(flex: 1, color: :muted)) { view.repo_visibility_description } %>
  <% end %>

  <%= render(Primer::Box.new(ml: :auto, mt: :auto)) do %>
      <%= render(Primer::Beta::Button.new(tag: :a, href: edit_repository_path(view.repository.owner, view.repository.name))) { "Manage" } %>
  <% end %>
<% end %>

<div class="d-flex flex-md-row flex-column">
    <div class="color-bg-subtle p-3 rounded-2 color-shadow-small col-md-4 col-12 mr-md-3 mr-0 mb-md-0 mb-3">
      <div class="d-flex mb-2">
        <span class="flex-auto f6 text-mono text-uppercase color-fg-muted">
          <%= view.repo_visibility %>
          repository
        </span>
        <%= render(Primer::Beta::Octicon.new(icon: view.repo_visibility_icon, color: :default)) %>
      </div>
      <p class="f5">
        <%= view.repo_visibility_description %>.
      </p>
      <%= link_to "Manage", edit_repository_path(view.repository.owner, view.repository.name, anchor: "danger-zone"), class: "Link--inTextBlock" %>
    </div>
    <% if view.org_owned_repo? %>
      <div class="color-bg-subtle p-3 rounded-2 color-shadow-small col-md-4 col-12 mr-md-3 mr-0 mb-md-0 mb-3">
        <div class="d-flex mb-2">
          <span class="flex-auto f6 text-mono text-uppercase color-fg-muted">Base role</span>
          <% if view.show_org_info? %>
            <%= render Primer::Beta::Label.new(scheme: :primary, title: "Label: #{view.org_base_role}") do %>
              <%= view.org_base_role %>
            <% end %>
          <% end %>
        </div>
        <% if view.show_org_info? && view.organization.default_repository_permission == :none %>
          <p class="f5">
            <strong>No base role set.</strong>
            <% if view.repository.public? %>
              All
              <%= link_to "Members", org_people_path(view.organization), class: "Link--inTextBlock" %>
              can access this repository.
            <% else %>
              Only
              <%= link_to "Owners", org_people_path(view.organization, query: "role:owner"), class: "Link--inTextBlock" %>
              and those with direct access can access this repository.
            <% end %>
          </p>
          <% if view.org_owner?(current_user) %>
            <%= link_to "Set base role", settings_org_member_privileges_path(view.organization), class: "Link--inTextBlock" %>
          <% end %>
        <% else %>
          <p class="f5">
            All
            <strong>
              <%= view.organization.members_count %>
              <%= view.organization.business&.safe_profile_name %>
              members
            </strong>
            can access this repository<% unless view.show_org_info? %> based on the organization's base repository permission<% end %>.
          </p>
          <% if view.org_owner?(current_user) %>
            <%= link_to "Manage", settings_org_member_privileges_path(view.organization), class: "Link--inTextBlock" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="color-bg-subtle p-3 rounded-2 color-shadow-small col-md-4 col-12">
      <div class="d-flex mb-2">
        <span class="flex-auto f6 text-mono text-uppercase color-fg-muted">Direct access</span>
        <%= render(Primer::Beta::Octicon.new(icon: "people", color: :default)) %>
      </div>
      <p class="f5">
        <% if view.direct_access_headcount > 0 %>
          <strong><%= "#{pluralize(view.direct_access_headcount, "user")}" %></strong>
          <%= "has".pluralize(view.direct_access_headcount) %> access to this repository.
          <% if view.show_org_info? %>
            <% if view.org_member_direct_grants_count > 0 %>
              <%= link_to pluralize(view.org_member_direct_grants_count, "member"), view.filter_path_for("org_members"), class: "Link--inTextBlock" %>.
            <% end %>
            <% if view.outside_collab_count > 0 %>
              <% if view.repository.is_enterprise_managed? && view.repository.organization&.business&.emu_repository_collaborators_enabled? %>
                <%= link_to pluralize(view.outside_collab_count, "Repository collaborator"), view.filter_path_for("repository_collaborators"), class: "Link--inTextBlock" %>.
              <% else %>
                <%= link_to pluralize(view.outside_collab_count, outside_collaborators_verbiage(view.organization).singularize), view.filter_path_for("outside_collaborators"), class: "Link--inTextBlock" %>.
              <% end %>
            <% end %>
          <% else %>
            <% collab_count = view.outside_collab_count
               collab_count += view.org_member_direct_grants_count if view.org_owned_repo? %>
            <%= link_to pluralize(collab_count, "collaborator"), view.filter_path_for("collaborators"), class: "Link--inTextBlock" %>.
          <% end %>
          <% if view.team_count > 0 %>
            <%= link_to pluralize(view.team_count, "team"), view.filter_path_for("teams"), class: "Link--inTextBlock" %>.
          <% end %>
          <% if view.invitation_count > 0 %>
            <%= link_to pluralize(view.invitation_count, "invitation"), view.filter_path_for("pending_invitations"), class: "Link--inTextBlock" %>.
          <% end %>
        <% else %>
          <% if view.org_owned_repo? %>
            <strong>0</strong>
            teams or members have access to this repository. Only
            <%= link_to "Owners", org_people_path(view.organization, query: "role:owner"), class: "Link--inTextBlock" %>
            can contribute to this repository.
          <% else %>
            <strong>0</strong>
            collaborators have access to this repository. Only you can contribute to this repository.
          <% end %>
        <% end %>
      </p>
    </div>
    <% if view.repository.owner&.organization? %>
      <div <%= test_selector("organization-summary-card") %> class="color-bg-subtle p-3 rounded-2 color-shadow-small col-md-4 col-12 ml-md-3 mt-3 mt-md-0">
        <div class="d-flex mb-2">
          <span class="flex-auto f6 text-mono text-uppercase color-fg-muted">Organization access</span>
          <%= render(Primer::Beta::Octicon.new(icon: "organization", color: :default)) %>
        </div>
        <p class="f5">
          <strong <%= test_selector("organization-summary-user-count") %>>
            <%= view.repo_access_with_org_role_headcount %>
            <%= "user".pluralize(view.repo_access_with_org_role_headcount) %> and
          </strong>
          <strong <%= test_selector("organization-summary-team-count") %>>
            <%= link_to "#{view.repo_access_with_org_role_team_headcount} #{"team".pluralize(view.repo_access_with_org_role_team_headcount)}", teams_path(view.organization), class: "Link--inTextBlock" %>
          </strong>
          can access this repository through the organization.
        </p>
        <%= link_to "Manage", settings_org_roles_path(view.repository.owner), class: "Link--inTextBlock" %>
      </div>
    <% end %>
  </div>
