<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div <%= test_selector("add-#{add_type}-access-component") %> class="Box-body text-center border-bottom-0">
  <p><%= primer_octicon(:repo, height: 32, color: :muted) %></p>

  <div class="f3"><%= add_access_label %> to <strong><%= repository.name %></strong></div>
  <% if organization&.business&.metered_plan? && !organization&.business&.metered_ghec_trial? %>
    <span class="color-fg-muted f5" >
      Adding new members may result in a charge of up to $21 per month, for each additional member. Add-ons such as GitHub Advanced Security will incur
      additional charges.
    </span>
  <% end %>

  <% if add_type == :user && show_seat_info? %>
    <div>
      <span class="color-fg-muted"><%= seats_left %> seats left </span> &mdash;
      <% if self_serve_billing_org? %>
        <%= link_to "Buy More", settings_billing_enterprise_path(repository.organization.business) %>
      <% else %>
        <%= helpers.more_seats_link_for_organization(repository.organization) %>
      <% end %>
    </div>
  <% end %>
</div>

<%= form_tag add_repository_member_path(repository: repository, user_id: repository.owner.display_login), class: "d-flex flex-column min-height-0" do %>
  <%= hidden_field_tag :guidance_task, params[:guidance_task] %>
  <div id="repo-add-access-selector" class="js-repo-add-access-search d-flex flex-column min-height-0">

    <div class="js-repo-add-access-search-selection">
      <auto-complete src="<%= repository_member_suggestions_path(repository: repository, user_id: repository.owner.display_login, add_type: add_type) %>" for="repo-add-access-search-results-<%= add_type %>" class="d-block position-relative">
        <label for="member"><%= search_field_hint %></label>
        <div class="form-group auto-search-group">
          <input type="text" name="member" class="js-repo-add-access-search-input form-control input-block subnav-search-input position-relative d-block" placeholder="<%= add_search_placeholder %>" aria-label="<%= add_search_placeholder %>" autocomplete="off" autofocus required>
          <%= primer_octicon(:search) %>
          <%= render(Primer::Beta::Spinner.new(classes: "spinner")) %>
        </div>
        <ul class="autocomplete-results position-relative mb-2" id="repo-add-access-search-results-<%= add_type %>"></ul>
      </auto-complete>

      <% if display_outside_collab_warning? %>
        <p class="color-fg-muted text-small">
          <%= outside_collab_warning_text %>
        </p>
      <% end %>

      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, block: true, classes: "disabled", disabled: true) do %>
        <%= select_member_message %>
      <% end %>
    </div>

    <div class="js-repo-add-access-search-selected ml-n4 mr-n4 d-flex flex-column min-height-0" hidden>
      <div class="js-selected-member-badge p-3"></div>

      <% if show_individual_role_select? %>
        <%= render(Repositories::AccessManagement::RoleSelectionComponent.new(repository: repository)) %>
      <% end %>

      <div class="border-top px-3 pt-4">
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, block: true, classes: "css-truncate css-truncate-overflow") do %>
          Add <span class="js-selected-member-id">selection</span> to this repository
        <% end %>
      </div>
    </div>
  </div>
<% end %>
