<%= render(Primer::Alpha::Dialog.new(
  test_selector: "new-add-#{add_type}-access-component",
  title: title,
  id: dialog_id,
  style: "max-height: 90vh;",
  size: :large
)) do |dialog| %>
  <% dialog.with_show_button(
    scheme: :primary,
    classes: "btn btn-sm",
    **system_arguments
  ) do %>
    <%= show_button_text %>
  <% end %>
  <% dialog.with_header do |header| %>
    <% header.with_subtitle do %>
      <div>
        <% if add_type == :user && show_seat_info? %>
          <span class="color-fg-muted"><%= seats_left %> seats left </span> &mdash;
          <% if self_serve_billing_org? %>
            <%= render(Primer::Beta::Link.new(
              href: settings_billing_enterprise_path(repository.organization.business),
              classes: "Link--inTextBlock",
              scheme: :default
            )) { "Buy More" } %>
          <% else %>
            <%= helpers.more_seats_link_for_organization(repository.organization) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <% dialog.with_body do %>
    <%= form_tag add_repository_member_path(repository: repository, user_id: repository.owner.display_login), class: "d-flex flex-column min-height-0" do %>
      <%= hidden_field_tag :guidance_task, params[:guidance_task] %>

      <div id="repo-add-access-selector" class="js-repo-add-access-search d-flex flex-column min-height-0">

        <div class="js-repo-add-access-search-selection">
          <auto-complete src="<%= repository_member_suggestions_path(repository: repository, user_id: repository.owner.display_login, add_type: add_type) %>" for="repo-add-access-search-results-<%= add_type %>" class="d-block position-relative">
            <label for="member"><%= search_field_hint %></label>
            <div class="form-group auto-search-group">
              <input type="text" name="member" class="js-repo-add-access-search-input form-control input-block subnav-search-input position-relative d-block" placeholder="<%= add_search_placeholder %>" aria-label="<%= add_search_placeholder %>" autocomplete="off" autofocus required>
              <%= primer_octicon(:search) %>
              <%= render(Primer::Beta::Spinner.new(classes: "spinner")) %>
            </div>
            <ul class="autocomplete-results position-relative mb-2" id="repo-add-access-search-results-<%= add_type %>"></ul>
          </auto-complete>

          <% if display_outside_collab_warning? %>
            <p class="color-fg-muted text-small">
              <%= outside_collab_warning_text %>
            </p>
          <% end %>

          <div class="d-flex flex-justify-end pr-3">
            <%= render Primer::Beta::Button.new(type: :button, mr: 2, data: { "close-dialog-id": dialog_id }) do %>
              Cancel
            <% end %>
            <%= render Primer::Beta::Button.new(scheme: :primary, type: :submit, classes: "disabled", disabled: true) do %>
              Add to repository
            <% end %>
          </div>
        </div>

        <div class="js-repo-add-access-search-selected px-3 ml-n4 mr-n4 d-flex flex-column min-height-0" hidden>
          <div class="js-selected-member-badge py-3 px-4"></div>

          <% if show_individual_role_select? %>
            <div class="px-3">
              <%= render(Repositories::AccessManagement::RoleSelectionComponent.new(repository: repository, new_style: true)) %>
            </div>
          <% end %>

          <div class="d-flex flex-justify-end pr-3">
            <%= render Primer::Beta::Button.new(type: :button, mr: 2, data: { "close-dialog-id": dialog_id}) do %>
              Cancel
            <% end %>
            <%= render Primer::Beta::Button.new(scheme: :primary, type: :submit) do %>
              Add <span class="js-selected-member-id">selection</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
