<div class="d-flex mb-2">
  <div class="flex-1">
    <%= render(Primer::Beta::Text.new(font_weight: :bold, ml: 3, color: :muted, font_size: 6)) { "Choose a role" } %>
  </div>

  <% if show_role_details? %>
    <div class="flex-justify-end mr-3">
      <%= render(Primer::Beta::Link.new(href: settings_role_details_path(repository.organization, repository: repository), font_weight: :bold, font_size: 6)) { "View role details" } %>
    </div>
  <% end %>
</div>

<div class="<%= "Box" unless new_style %> rounded-0 border-0 border-top overflow-auto" style="min-height: 20vh;">
  <div class="<%= "Box-row" unless new_style %> Box-row--hover-gray border-top p-0">
    <div class="d-flex js-role-checkbox">
      <label class="d-flex flex-auto px-3 py-2 lh-condensed">
        <span class="mr-3">
          <input name="role" type="radio" value="pull" class="js-role-pull" <%= "data-disable-org-role" if disabled_role?("read") %> data-disable-org-admin required>
        </span>
        <div>
          <%= render(Primer::Box.new(display: :flex, align_items: :center)) do %>
            <%= render(Primer::Beta::Text.new(font_weight: :bold, test_selector: "role-name")) { "Read" } %>
            <% if show_base_role_badge?(:read) %>
              <%= render Primer::Beta::Label.new(scheme: :primary, ml: 1, classes: "js-base-role-badge", title: "Label: Base role") do %>
                Base role
              <% end %>
            <% end %>
          <% end %>
          <span class="f6 text-normal color-fg-muted">
            Recommended for non-code contributors who want to view or discuss your project.
          </span>
        </div>
      </label>
    </div>
  </div>

  <% if plan_supports_fgp? %>
    <div class="<%= "Box-row" unless new_style %> Box-row--hover-gray p-0">
      <div class="d-flex js-role-checkbox">
        <label class="d-flex flex-auto px-3 py-2 lh-condensed">
          <span class="mr-3">
            <input name="role" type="radio" value="triage" <%= "data-disable-org-role" if disabled_role?("triage") %> data-disable-org-admin required>
          </span>
          <div>
            <%= render(Primer::Box.new(display: :flex, align_items: :center)) do %>
              <%= render(Primer::Beta::Text.new(font_weight: :bold, test_selector: "role-name")) { "Triage" } %>
              <% if show_base_role_badge?(:triage) %>
                <%= render Primer::Beta::Label.new(scheme: :primary, ml: 1, classes: "js-base-role-badge", title: "Label: Base role") do %>
                  Base role
                <% end %>
              <% end %>
            <% end %>
            <span class="f6 text-normal color-fg-muted">
              Recommended for contributors who need to manage issues and pull requests without write access.
            </span>
          </div>
        </label>
      </div>
    </div>
  <% end %>

  <div class="<%= "Box-row" unless new_style %> Box-row--hover-gray p-0">
    <div class="d-flex js-role-checkbox">
      <label class="d-flex flex-auto px-3 py-2 lh-condensed">
        <span class="mr-3">
          <input name="role" type="radio" value="push" <%= "data-disable-org-role" if disabled_role?("write") %> data-disable-org-admin required>
        </span>
        <div>
          <%= render(Primer::Box.new(display: :flex, align_items: :center)) do %>
            <%= render(Primer::Beta::Text.new(font_weight: :bold, test_selector: "role-name")) { "Write" } %>
            <% if show_base_role_badge?(:write) %>
              <%= render Primer::Beta::Label.new(scheme: :primary, ml: 1, classes: "js-base-role-badge", title: "Label: Base role") do %>
                Base role
              <% end %>
            <% end %>
          <% end %>
          <span class="f6 text-normal color-fg-muted">
            Recommended for contributors who actively push to your project.
          </span>
        </div>
      </label>
    </div>
  </div>

  <% if plan_supports_fgp? %>
    <div class="<%= "Box-row" unless new_style %> Box-row--hover-gray p-0">
      <div class="d-flex js-role-checkbox">
        <label class="d-flex flex-auto px-3 py-2 lh-condensed">
          <span class="mr-3">
            <input name="role" type="radio" value="maintain" <%= "data-disable-org-role" if disabled_role?("maintain") %> data-disable-org-admin required>
          </span>
          <div>
            <%= render(Primer::Box.new(display: :flex, align_items: :center)) do %>
              <%= render(Primer::Beta::Text.new(font_weight: :bold, test_selector: "role-name")) { "Maintain" } %>
              <% if show_base_role_badge?(:maintain) %>
                <%= render Primer::Beta::Label.new(scheme: :primary, ml: 1, classes: "js-base-role-badge", title: "Label: Base role") do %>
                  Base role
                <% end %>
              <% end %>
            <% end %>
            <span class="f6 text-normal color-fg-muted">
              Recommended for project managers who need to manage the repository without access to sensitive or destructive actions.
            </span>
          </div>
        </label>
      </div>
    </div>
  <% end %>

  <div class="<%= "Box-row" unless new_style %> Box-row--hover-gray p-0">
    <div class="d-flex js-role-checkbox">
      <label class="d-flex flex-auto px-3 py-2 lh-condensed">
        <span class="mr-3">
          <input name="role" type="radio" value="admin" class="js-role-admin" <%= "data-disable-org-role" if disabled_role?("admin") %> required>
        </span>
        <div>
          <%= render(Primer::Box.new(display: :flex, align_items: :center)) do %>
            <%= render(Primer::Beta::Text.new(font_weight: :bold, test_selector: "role-name")) { "Admin" } %>
            <% if show_base_role_badge?(:admin) %>
              <%= render Primer::Beta::Label.new(scheme: :primary, ml: 1, classes: "js-base-role-badge", title: "Label: Base role") do %>
                Base role
              <% end %>
            <% end %>
          <% end %>
          <span class="f6 text-normal color-fg-muted">
            Recommended for people who need full access to the project, including sensitive and destructive actions like managing security or deleting a repository.
          </span>
        </div>
      </label>
    </div>
  </div>

  <% if show_custom_roles? %>
    <% org_custom_repo_roles.each do |role| %>
      <div class="<%= "Box-row" unless new_style %> Box-row--hover-gray p-0">
        <div class="d-flex js-role-checkbox">
          <label class="d-flex flex-auto px-3 py-2 lh-condensed">
            <span class="mr-3">
              <input name="role" type="radio" value="<%= role.name %>" <%= "data-disable-org-role" if disabled_role?(role.name) %> data-disable-org-admin required>
            </span>
            <div>
              <%= render(Primer::Beta::Text.new(display: :flex, align_items: :center, font_weight: :bold, test_selector: "role-name")) { role.display_name } %>
              <span class="f6 text-normal color-fg-muted">
                <%= role.description %>
              </span>
            </div>
          </label>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
