<label
  class="SelectMenu-item d-flex color-fg-muted js-branch-list-item"
  role="menuitemcheckbox"
  aria-checked="<%= checked ? "true" : "false"%>"
  <%= test_selector("branch_menu_item") %>
  tabindex="0"
>
  <input hidden
    type="checkbox"
    name="branch_names[]"
    data-action="change:development-menu#toggleSelectBranch"
    data-targets="development-menu.branchInputsList"
    value="<%= branch_name %>"
    <%= checked ? "checked" : ""%>>
  <%= primer_octicon "check", classes: "SelectMenu-icon SelectMenu-icon--check" %>
  <div class="mr-1">
    <%= primer_octicon "git-branch",
      classes: "SelectMenu-icon",
      color: :accent
    %>
  </div>
  <div class="flex-auto">
    <span class="color-fg-default text-bold line-clamp-1"><%= branch_name %></span>
    <p class="text-normal mb-0">
      no pull request
    </p>
  </div>
</label>
