<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%# erblint:counter ExperimentalDialogMigrationCounter 1 %>
<% if readonly %>
  <div class="discussion-sidebar-heading text-bold" <%= test_selector("readonly_development_menu") %>>
    Development
  </div>
<% else %>
    <details
      class="details-reset details-overlay position-relative"
      data-target="development-menu.details"
      data-action="click:development-menu#openSelectedRepoFromStorage"
      current-user="<%= current_user&.display_login %>"
      current-issue-or-pull-request-number="<%= issue.number %>"
      repo-nwo="<%= issue.repository.name_with_display_owner %>"
      <%= test_selector("development_menu") %>
    >
      <summary class="text-bold discussion-sidebar-heading discussion-sidebar-toggle"
              aria-haspopup="true"
              data-hotkey="x"<%# erblint:disable DataHotkey %>
              data-menu-trigger="development-select-menu">
        <%= primer_octicon(:gear) %>
        Development
      </summary>

      <details-menu
        class="SelectMenu SelectMenu--hasFilter right-0 page-responsive"
        data-target="development-menu.repoMenu"
        data-action="click:development-menu#stopPropagation"
        aria-label="Repository menu"
        role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal development-menu-component-menu-modal hx_rsm-modal-sm">
          <header class="SelectMenu-header">
            <h3 class="SelectMenu-title color-fg-default">
              Link a branch or pull request
              <span class="text-normal color-fg-muted d-block">
                Select a repository to search for branches and pull requests
                or
                <%= render(Primer::ButtonComponent.new(
                  scheme: :link,
                  aria: { label: "Create a branch" },
                  data: { action: "click:create-branch#openDialog" }
                )) { "create a branch" } %>
              </span>
            </h3>
            <button class="SelectMenu-closeButton top-0 right-0" type="button" data-action="click:development-menu#closeMenu">
              <%= primer_octicon("x", "aria-label": "Close menu") %>
            </button>
          </header>
          <div class="SelectMenu-filter">
            <remote-input
              aria-owns="development-menu-repository-list"
              param="repositories"
              src="<%= closing_issue_references_repositories_path(source_id: issue.id, source_type: issue.class.name.underscore.upcase) %>"
              data-action="
                remote-input-success:development-menu#repositoryListLoaded
                remote-input-error:development-menu#repositoryListLoadEnd
                loadstart:development-menu#repositoryListLoadStart
                loadend:development-menu#repositoryListLoadEnd
              ">
              <input
                type="text"
                class="SelectMenu-input form-control"
                placeholder="Search for repositories"
                data-target="development-menu.repoSearchInput"
                aria-label="Search for repositories"
                autocomplete="off"
                autofocus>
            </remote-input>
          </div>
          <div class="SelectMenu-list">
            <div class="SelectMenu-loading" data-target="development-menu.repositoryListSpinner">
              <%= render(Primer::Beta::Spinner.new) %>
            </div>
            <div data-target="development-menu.repositoryList" id="development-menu-repository-list"></div>
          </div>
        </div>
      </details-menu>
      <modal-dialog
        class="development-menu-component-dialog right-0 hx_rsm-modal-sm"
        data-target="development-menu.branchOrPullRequestDialog"
        data-action="click:development-menu#stopPropagation"
        aria-label="Branch or pull request dialog"
        <%= test_selector("development_details_dialog") %>
        hidden
      >
        <input
          type="text"
          name="repository_id"
          data-target="development-menu.selectedRepoIdInput"
          value=""
          hidden>
        <div class="SelectMenu-modal development-menu-component-dialog-modal">
          <div class="SelectMenu-header">
            <button class="SelectMenu-closeButton top-0 left-0 mr-2" type="button" data-action="click:development-menu#closeBranchOrPullRequestDialog">
              <%= primer_octicon("arrow-left", "aria-label": "Back to repository menu") %>
            </button>
            <h3 class="SelectMenu-title">
              <div class="color-fg-default line-clamp-1" data-target="development-menu.dialogTitle"></div>
              <span class="text-normal color-fg-muted">Link a branch, pull request, or
                <%= render(Primer::ButtonComponent.new(
                  scheme: :link,
                  aria: { label: "create a branch" },
                  data: { action: "click:create-branch#openDialog" },
                )) { "create a branch" } %>
              </span>
            </h3>
          </div>
          <div class="SelectMenu-filter">
            <remote-input
              aria-owns="development-menu-branch-and-pull-request-list"
              param="linkable_items"
              data-target="development-menu.branchAndPullRequestSearch"
              data-action="
                remote-input-success:development-menu#branchAndPullRequestListLoaded
                remote-input-error:development-menu#branchAndPullRequestListLoadEnd
                loadstart:development-menu#branchAndPullRequestListLoadStart
                loadend:development-menu#branchAndPullRequestListLoadEnd
              "
              src="">
              <input
                type="text"
                name="linkable_items"
                class="SelectMenu-input form-control"
                data-target="development-menu.branchAndPullRequestSearchInput"
                placeholder="Search for branches or pull requests"
                aria-label="Search for branches or pull requests"
                autocomplete="off"
                autofocus>
            </remote-input>
          </div>
          <div class="SelectMenu-list">
            <div class="SelectMenu-loading" data-target="development-menu.branchAndPullRequestListSpinner">
              <%= render(Primer::Beta::Spinner.new) %>
            </div>
            <div data-target="development-menu.branchAndPullRequestList" id="development-menu-branch-and-pull-request-list"></div>
          </div>
          <div class="SelectMenu-footer">
            <div class="d-flex flex-justify-start flex-row-reverse">
              <%= render(Primer::ButtonComponent.new(
                scheme: :primary,
                variant: :small,
                type: :submit,
                disabled: true,
                ml: 2,
                aria: { label: "Apply" },
                data: { target: "development-menu.applyButton" },
              ).with_content("Apply")) %>

              <%= render(Primer::ButtonComponent.new(
                variant: :small,
                aria: { label: "Close" },
                data: {
                  action: "click:development-menu#resetForm",
                },
              ).with_content("Cancel")) %>
            </div>
          </div>
        </div>
      </modal-dialog>
      <div class="development-menu-component-dialog-overlay"></div>
    </details>
<% end %>
