<div
  class="SelectMenu-message color-bg-attention color-fg-attention"
  data-target="development-menu.atLimitMessage"
  <%= at_limit? ? "" : "hidden" %>>
  You may only link <%= "#{max_manual_reference_count} pull requests to this issue across all repositories" %>.
</div>
<div
  data-target="development-menu.linkableItemList"
  menu-max-options="<%= remaining %>">
  <% manual_xref_pull_requests.each do |pull_request| %>
    <%= render Issues::References::PullRequestComponent.new(pull_request: pull_request, checked: true, disabled: false) %>
  <% end %>
  <% manual_xref_branches.each do |branch| %>
    <%= render Issues::References::BranchComponent.new(branch: branch, checked: true) %>
  <% end %>
  <% xref_pull_requests.each do |pull_request| %>
    <%= render Issues::References::PullRequestComponent.new(pull_request: pull_request, checked: true, disabled: true) %>
  <% end %>
  <% pull_requests.each do |pull_request| %>
    <% reference_at_limit = manual_reference_ids_at_limit.include? pull_request.id %>
    <%= render Issues::References::PullRequestComponent.new(
        pull_request: pull_request,
        disabled: at_limit? || reference_at_limit
      ) %>
  <% end %>
  <% branches.each do |branch| %>
    <%= render Issues::References::BranchComponent.new(branch: branch) %>
  <% end %>
</div>
<% if no_results? %>
  <div class="p-3 text-center" <%= test_selector("no_repositories_message") %>>
    No matching pull requests or branches could be found.
  </div>
<% end %>
