<label
  class="SelectMenu-item d-flex js-pull-request-list-item"
  role="menuitemcheckbox"
  aria-checked="<%= checked ? "true" : "false"%>"
  aria-disabled="<%= disabled ? "true" : "false"%>"
  <%= test_selector("pull_request_menu_item") %>
  tabindex="0"
>
  <input hidden
    type="checkbox"
    name="connection_ids[]"
    data-action="change:development-menu#toggleSelectPullRequest"
    data-targets="<%= disabled && checked ? "" : "development-menu.pullRequestInputsList"%>"
    value="<%= pull_request.id %>"
    <%= checked ? "checked" : ""%>>
  <%= primer_octicon "check", classes: "SelectMenu-icon SelectMenu-icon--check", color: :muted %>
  <%= primer_octicon octicon_name,
    classes: "SelectMenu-icon",
    color: octicon_color
  %>
  <div class="flex-auto">
    <span class="color-fg-default text-bold line-clamp-1"><%= pull_request.display_head_ref_name %></span>
    <p class="color-fg-muted mb-0 text-normal line-clamp-1">
      <%= "##{ pull_request.number } #{ pull_request.title }" %>
    </p>
  </div>
</label>
