<% repositories.each do |repository| %>
  <button
    class="SelectMenu-item color-fg-default"
    role="menuitem"
    type="button"
    selected-repo-nwo="<%= repository.name_with_display_owner %>"
    selected-repo-id="<%= repository.id %>"
    selected-repo-url="<%= closing_issue_references_path(
      repository_id: repository.id,
      source_id: issue.id,
      source_type: issue.class.name.underscore.upcase) %>"
    data-action="click:development-menu#openBranchOrPullRequestDialog"
    <%= test_selector("repository_menu_item") %>
  >
    <%= primer_octicon octicon_name(repository), classes: "SelectMenu-icon", color: :muted %>
    <span class="flex-1 line-clamp-1"><%= repository.name_with_display_owner %></span>
    <%= render(Primer::Beta::Counter.new(
      count: counter(repository),
      hide_if_zero: true,
      aria: { label: "Count of references to #{issue.title} in #{repository.name_with_display_owner}" },
      test_selector: "count"
      )) %>
    <%= primer_octicon "arrow-right", classes: "arrow", ml: 2, visibility: :hidden, color: :muted %>
  </button>
<% end %>
<% if repositories.empty? %>
  <div class="p-3 text-center" <%= test_selector("no_repositories_message") %>>
    No matching repositories.
  </div>
<% end %>
