<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<multi-repo-enablement
  data-selected-repos-count="0"
  data-content-url="<%= data.content_url %>"
  data-target="multi-repo-enablement-coordinator.enablementDialog"
>
  <%= form_tag(
    data.form_url,
    {
      data: {
        action: "submit:multi-repo-enablement#submit",
        target: 'multi-repo-enablement.form',
        test_selector: FORM_TEST_SELECTOR
      },
      method: :put
    }
  ) do %>
    <%= hidden_field_tag("query", data.query) %>
    <%= hidden_field_tag("selected_repo_ids", nil, { data: { target: "multi-repo-enablement-coordinator.selectedRepoIds" } }) %>
    <%= hidden_field_tag("use_query", false, { data: { target: "multi-repo-enablement-coordinator.useQuery" } }) %>
    <%= render(Primer::Alpha::Dialog.new(
      data: {
        action: "
          cancel:multi-repo-enablement#reset
          close:multi-repo-enablement#reset
        ",
      },
      position: :right,
      subtitle: "Change the security settings of the selected repositories",
      title: "Security settings",
      **system_arguments
    )) do |dialog| %>
      <% dialog.with_show_button(
        aria: { label: "Change the security settings of the selected repositories" },
        data: { action: "click:multi-repo-enablement#showDialog" },
        mr: 3,
        size: :small,
        test_selector: SHOW_BUTTON_TEST_SELECTOR,
      ) do |show_button| %>
        Security settings
      <% end %>

      <% dialog.with_header(show_divider: true) do %>
        <%= render(Primer::Box.new(display: :inline_flex, flex_wrap: :wrap)) do %>
          <%= render(Primer::Beta::Heading.new(tag: :h4, color: :default, word_break: :break_all, mr: 2)) do %>
            <%= render(Primer::Beta::Text.new(data: { target: "multi-repo-enablement.selectedReposCountElement" })) do %>
              0 repositories selected
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% dialog.with_body do %>
        <%= render(
          Primer::Beta::Flash.new(
            data: { target: "multi-repo-enablement.submitErrorMessage" },
            hidden: true,
            icon: :"alert-fill",
            mb: 3,
            scheme: :danger,
            tabindex: -1
          )
        ) { "At least one change is required." } %>

        <turbo-frame
          id="<%= TURBO_FRAME_ID %>"
          loading="lazy"
          data-target="multi-repo-enablement.dialogContentElement"
        >
          <%= render(Primer::Beta::Spinner.new(
            aria: { label: "Loading…" },
            size: :large,
            my: 12,
            mx: :auto,
            display: :block
          )) %>
        </turbo-frame>
      <% end %>

      <% dialog.with_footer(align_items: :center, display: :flex, justify_content: :flex_start, pt: 3) do %>
        <%#
          Counters in a "scheme: :primary" viewcomponent Button are not styled properly, hence the direct use of a button with Primer CSS classes here.
          Once https://github.com/primer/view_components/issues/1936 is complete, change this to a Primer Button viewcomponent.
        %>
        <button
          class="btn btn-primary"
          data-target="multi-repo-enablement.submitButton"
          type="submit"
          <%= test_selector(SUBMIT_BUTTON_TEST_SELECTOR) %>
        >
          Apply changes <%= render(Primer::Beta::Counter.new(count: 0, data: { target: "multi-repo-enablement.changedSettingsCountElement" })) %>
        </button>
      <% end %>
    <% end %>
  <% end %>
</multi-repo-enablement>
