<multi-repo-enablement-setting
  data-action="setting-selection-change:multi-repo-enablement#handleSettingSelectionChange"
  data-targets="multi-repo-enablement-setting.childrenSettings"
>
  <%= render(Primer::Box.new(**system_arguments)) do %>
    <%= render(Primer::Beta::BorderBox.new(classes: border_box_classes)) do |bb| %>
      <% bb.with_row do %>
        <%= render(Primer::Box.new(display: :flex, justify_content: :space_between)) do |bb| %>
          <%= render(
            Primer::Beta::Subhead.new(
              data: { target: "multi-repo-enablement-setting.settingText" },
              hide_border: true,
              mb: 0,
              mr: 2,
              pb: 0
            )
          ) do |c| %>
            <% c.with_heading(color: :default, font_size: 5, id: heading_id, test_selector: NAME_TEST_SELECTOR) do %>
              <%= data.name %>
            <% end %>

            <% c.with_description(font_size: 6, id: description_id, test_selector: DESCRIPTION_TEST_SELECTOR) do %>
              <%= data.description %>
            <% end %>
          <% end %>

          <select
            aria-describedby="<%= description_id %>"
            aria-labelledby="<%= heading_id %>"
            class="form-select"
            data-action="change:multi-repo-enablement-setting#handleSelectionChange"
            data-target="multi-repo-enablement-setting.settingSelection"
            name="<%= data.select_name %>"
            <%= "disabled" if is_blocked? %>
            <%= test_selector(SELECT_TEST_SELECTOR) %>
          >
            <option value="-1">No change</option>
            <option
              <%= "disabled" unless data.can_enable %>
              <%= test_selector(ENABLE_OPTION_TEST_SELECTOR) %>
              value="1"
            >
              Enable
            </option>
            <option
              <%= "disabled" unless data.can_disable %>
              <%= test_selector(DISABLE_OPTION_TEST_SELECTOR) %>
              value="0"
            >
              Disable
            </option>
          </select>
        <% end %>

        <% if is_blocked? %>
          <%= render(Primer::Box.new(color: :attention, display: :flex, mt: 3)) do %>
            <%= render(Primer::Beta::Octicon.new(:alert, mr: 2, mt: 1)) %>
            <%= render(Primer::Box.new(test_selector: BLOCKED_REASON_TEST_SELECTOR)) do %>
              <%= data.blocked_reason %>
            <% end %>
          <% end %>
        <% end %>

        <% if render_aux? %>
          <%= render(Primer::Box.new("data-target": "multi-repo-enablement-setting.auxBox", style: "display: none;")) do %>
            <%= render(Primer::Box.new(
              mt: 1,
              border: true,
              border_radius: 2,
              bg: :subtle,
              test_selector: AUX_DATA_TEST_SELECTOR
            )) do %>
              <%= render(Primer::BaseComponent.new(
                tag: :button,
                type: :button,
                classes: "btn btn-invisible btn-sm",
                w: :full,
                aria: { controls: "#{data.aux_data.name}-disclosure-content" },
                display: :flex,
                justify_content: :space_between,
                align_items: :center,
                color: :default,
                data: {
                  action: "click:multi-repo-enablement-setting#toggleDisclosure",
                  target: "multi-repo-enablement-setting.disclosureHeader",
                }
              )) do %>
                <%= render(Primer::Box.new) do %>
                  <%= render(Primer::Beta::Text.new) { "Query suite:" } %>
                  <%= render(Primer::Beta::Text.new("data-target": "multi-repo-enablement-setting.disclosureHeaderText")) %>
                <% end %>

                <%= render(Primer::Beta::Octicon.new(
                  :"chevron-down",
                  "data-target": "multi-repo-enablement-setting.disclosureIcon"
                ))%>
              <% end %>

              <%= render(Primer::Box.new(
                id: "#{data.aux_data.name}-disclosure-content",
                pl: 3,
                pr: 2,
                style: "display: none;",
                "data-target": "multi-repo-enablement-setting.disclosureContent",
              )) do %>
                <input
                  type="hidden"
                  name=<%= data.aux_data.name %>
                  <%= "value=#{data.aux_data.initial_value}" if data.aux_data.initial_value %>
                  data-target="multi-repo-enablement-setting.disclosureValue"
                >
                <%= render(Primer::Alpha::RadioButtonGroup.new(name: "_#{data.aux_data.name}", mt: 2)) do |radio_group| %>
                  <% data.aux_data.options.each do |option| %>
                    <% label = capture do %>
                      <%= render(Primer::Box.new(display: :inline_flex)) do %>
                        <%= render(Primer::Beta::Text.new) { option[:label] } %>
                        <% if data.aux_data.recommended_value == option[:value] %>
                          <%= render(Primer::Beta::Label.new(scheme: :accent, ml: 2)) { "Recommended" } %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <%
                      radio_group.radio_button(
                        label: label,
                        value: option[:value],
                        caption: option[:description],
                        checked: data.aux_data.initial_value == option[:value],
                        data: {
                          targets: "multi-repo-enablement-setting.disclosureInputs",
                          action: "change:multi-repo-enablement-setting#handleDisclosureInputChange",
                        },
                      )
                    %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>

            <%= render Primer::Box.new(mt: 2, ml: 1, color: :attention, font_size: :small) do %>
              <%= render(Primer::Beta::Octicon.new(icon: :"alert-fill", size: :xsmall, color: :attention)) %>
              <%= render(Primer::Beta::Text.new(vertical_align: :middle)) { "Enabling default setup will override existing workflows." } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= content %>
  <% end %>
</multi-repo-enablement-setting>
