<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<div class="position-relative width-full overflow-hidden readme-hero--features__img" style="height: 82vh">
  <%= render Site::ContentfulImageComponent.new(src: @story[:hero_image][:url], width: 2000, height: 1200, classes: "width-full height-full object-fit-cover", alt: @story[:hero_image][:description] || "", sizes: "(max-width: 755px) 100vw, 45vw", lazy: false, photo: false) %>

  <% if @story[:artist].present? %>
    <p class="position-absolute z-2 bottom-0 right-0 p-responsive-readme py-3 py-md-6 p-lg-6 text-mono f6-mktg mb-9 mb-lg-0 readme-bg-features readme-text-gray-med">
      Artwork: <%= link_to_if(@story[:artist][:website].present?, @story[:artist][:name], @story[:artist][:website], target: "_blank", rel: "noopener", class: "readme-text-gray-med") %>
    </p>
  <% end %>
</div>

<div class="position-relative z-1 mt-n6 mt-md-n9 overflow-hidden">
  <div class="position-relative container-readme mx-auto pt-3 pb-0 p-responsive-readme">
    <div class="position-relative pb-3 pb-xl-4">
      <a href="<%= readme_index_path %>" aria-label="ReadME Project Homepage" class="d-inline-block readme-logo-link--inverted">
        <%= svg("modules/site/readme/readme-logo-lockup", height: 50, width: 132, class: "d-block readme-logo", aria_hidden: true) %>
      </a>
    </div>

    <h1 class="col-xl-11 mb-4 color-text-white readme-heading-0">
      <%= @story[:heading] %>
    </h1>

    <p class="col-lg-10 col-xl-8 mb-8 readme-subheading readme-text-gray-med">
      <%= @story[:subheading] %>
    </p>

    <p class="text-mono text-uppercase f5-mktg mb-7 mb-lg-0 readme-text-gray-med" style="letter-spacing:0.05em;">
      <%= preview_label unless @story[:published?] %> <%= show_author_and_date %>
    </p>
  </div>
</div>
