<li class="Box-row Box-row--focus-gray d-flex mt-0 js-navigation-item" <%= test_selector("code-scanning-alert") %>>
  <% if show_checkbox %>
    <label class="flex-shrink-0 pr-2 mt-1">
      <input type="checkbox"
        class="js-scanning-alert-check"
        name="number[]"
        value="<%= alert_number %>"
        aria-labelledby="alert-<%= alert_number %>"
        data-check-all-item
        <%= test_selector("code-scanning-alert-checkbox") %>>
    </label>
  <% end %>

  <%= render(Primer::Box.new(display: :flex, mr: 2, mt: 1)) do %>
    <%= render(SecurityCenter::StateComponent.new(icon: alert_state_icon)) %>
  <% end %>

  <div class="d-flex flex-column flex-auto min-width-0 lh-default" <%= test_selector("result-number") %> id="alert-<%= alert_number %>">
    <div class="flex-items-start d-flex flex-items-center">
      <%= render Primer::Beta::Link.new(
        href: repository_result_path,
        scheme: :primary,
        underline: false,
        mr: 2,
        font_size: 4,
        font_weight: :bold,
        test_selector: "result-title"
      ) do %>
        <%= alert_title %>
      <% end %>

      <%= render CodeScanning::AlertSeverityComponent.new(
        severity: alert_rule_severity,
        security_severity: alert_security_severity,
        filter_url: severity_link,
        large_label: false,
        additional_classes: "flex-shrink-0 mr-2",
      ) %>

      <% if alert_classifications.present? %>
        <% alert_classifications.each do |classification| %>
          <%= render Primer::Beta::Label.new(scheme: :secondary, tag: :a, mr: 2) do %>
            <%= classification %>
          <% end %>
        <% end %>
      <% end %>

      <% if show_experimental_label? %>
        <%= render Primer::Beta::Label.new(scheme: :secondary, tag: :a, href: experimental_tag_path, mr: 2) do %>
          Experimental
        <% end %>
      <% end %>
    </div>

    <div class="text-small color-fg-muted mt-1">
      <% if show_alert_number %>
        <span <%= test_selector("alert-row-number") %>>#<%= alert_number %></span>
      <% end %>

      <%= alert_state_label %>

      <% if alert_closed? %>
        as <% if filtered_by_resolution_url.present? %>
          <%= render Primer::Beta::Link.new(
            font_size: 6,
            font_weight: :bold,
            href: filtered_by_resolution_url,
            scheme: :secondary,
            test_selector: "closed-alert"
          ).with_content(alert_closed_reason) %>
        <% else %>
          <span class="text-bold" <%= test_selector("closed-alert") %>>
            <%= alert_closed_reason %>
          </span>
        <% end %>
      <% end %>
      <% if alert_state_timestamp.present? %>
        <%= render Primer::Beta::RelativeTime.new(datetime: timestamp_to_time(alert_state_timestamp), tense: :past) %>
      <% end %>

      &bull;

      <%= render Primer::Beta::Link.new(
        font_size: 6,
        href: filtered_by_tool_url,
        scheme: :secondary,
        test_selector: "tool-name"
      ) do %>
        Detected by
        <b><%= alert_tool %></b>
      <% end %>
      in <span <%= test_selector("file-path") %>>
        <% truncated_file_path = reverse_truncate_path(alert_file_path, 24) %>
        <%= render Primer::Beta::Link.new(
          id: "file-path-#{repository.id}-#{alert_number}",
          font_size: 6,
          font_weight: :bold,
          href: filtered_by_path_url,
          scheme: :secondary,
          test_selector: "file-path"
        ).with_content(truncated_file_path) %>:<%= alert_file_start_line %>
        <% if truncated_file_path != alert_file_path %>
          <%= render(Primer::Alpha::Tooltip.new(for_id: "file-path-#{repository.id}-#{alert_number}", type: :description, text: alert_file_path, direction: :ne)) %>
        <% end %>
      </span>
      <% if alert_closed? %>
        <%= render Primer::Beta::RelativeTime.new(datetime: timestamp_to_time(alert_created_at), tense: :past) %>
      <% end %>
    </div>
  </div>

  <% if show_linked_issues? %>
    <%= render(Primer::Box.new(
      mr: 5,
      classes: "no-wrap",
      test_selector: "alert-issues-count"
    )) do %>
      <% if linked_issues_count == 1 && @show_link_to_issue %>
        <a aria-label="1 issue" href="<%= linked_issues[0].url %>" class="Link--muted">
          <%= render(Primer::Beta::Octicon.new(icon: "issue-opened")) %>
          <%= linked_issues_count %>
        </a>
      <% else %>
        <%= render(Primer::Beta::Octicon.new(icon: "issue-opened")) %>
        <%= linked_issues_count %>
      <% end %>
    <% end %>
  <% end %>

  <% if show_repository %>
    <%= render(Primer::Box.new(style: "max-width: 40%")) do %>
      <%= render(SecurityCenter::RepositoryLinkComponent.new(
        alert_number: alert_number,
        href: repository_results_path,
        repository: repository,
        show_owner: show_organization
      )) %>
    <% end %>
  <% else %>
    <div style="max-width: 40%">
      <span class="branch-name pt-1 no-wrap width-full" style="text-overflow: ellipsis; overflow: hidden;"
        <%= test_selector("branch-name") %>><%= alert_file_branch_ref_name&.dup.force_encoding(Encoding::UTF_8).scrub! %></span>
    </div>
  <% end %>
</li>
