<div <%= test_selector("alert-select-menu") %> class="<%= @additional_classes %>">
  <%= render(
    Primer::Experimental::SelectMenuComponent.new(
      align_right: true,
      header: @header,
      details: { overlay: :default },
      display: :inline_block,
      id: @id,
      menu: {
        preload: true,
        src: data_path,
        tag: "details-menu"
      },
      modal: {
        params: { font_size: 5 }
      },
      position: :relative,
      pr: @no_right_padding ? 0 : 3,
      test_selector: @id,
      will_have_tabs: @will_have_tabs
    )
  ) do |menu| %>
    <% menu.with_header(border_bottom: 0).with_content(@header) %>
    <% if options.present? && data_path.nil? %>
      <% menu.with_list do |list| %>
        <% options.each do |option| %>
          <% opt_content = capture do %>
            <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, w: :full)) do %>
              <%= render(Primer::Box.new(display: :flex, direction: :row)) do %>
                <%= render(Primer::Beta::Octicon.new(icon: option[:octicon], style: "color:#{option[:octicon_color]};", mr: 2)) if option[:octicon].present? %>
                <%= render(Primer::Box.new(display: :flex, direction: :column)) do %>
                  <%= render(Primer::Beta::Truncate.new) { |c| c.with_item(max_width: 175, test_selector: "filter-label") { option[:label] } } %>
                  <%= render(Primer::Beta::Truncate.new) { |c| c.with_item(max_width: 175, color: :muted, test_selector: "filter-sublabel") { option[:sublabel] } } if option[:sublabel].present? %>
                <% end %>
              <% end %>
              <%= render(Primer::Beta::Counter.new(count: option[:count], align_self: :center, test_selector: "filter-count")) if option[:count].present? %>
            <% end %>
          <% end %>

          <% if option[:url].present? %>
            <% list.with_item(tag: :a, href: option[:url], selected: option[:selected], border_bottom: 0, color: :default, classes: "no-underline") do %>
              <%= opt_content %>
            <% end %>
          <% else %>
            <% list.with_item(selectable: false, icon: false, tag: :div, font_weight: :bold, role: "", color: :muted, border_bottom: 0) do %>
              <%= opt_content %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if @show_clear %>
      <% menu.with_clear_item(
        data: { pjax: true },
        href: @clear_path,
        muted: true,
        selected: false,
        tag: :a,
        underline: false,
        test_selector: "#{@caption.downcase}-clear-filter"
      ) do %>
        <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, w: :full)) do %>
          <%= render(Primer::Box.new(direction: :column, display: :flex)) do %>
            <%= render(Primer::Beta::Truncate.new) { |c| c.with_item(max_width: 175) { @clear_text } } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% menu.with_summary(color: :muted, scheme: :link, underline: false, caret: false, classes: "select-menu-button").with_content(@caption) %>
  <% end %>
</div>
