<%= render Primer::Beta::Details.new(**system_arguments, id: "close-alert-menu") do |c| %>
  <% c.with_summary(button: summary_button_param, **summary_system_arguments) do %>
    <%= summary %>
  <% end %>

  <% c.with_body(**body_system_arguments) do %>
    <alert-dismissal-details>
    <%= form_tag close_path, method: :put, data: {target: "alert-dismissal-details.form", turbo: true, "turbo-frame" => form_turbo_frame} do %>
      <div class="SelectMenu-modal color-fg-default">
        <header class="SelectMenu-header">
          <span class="SelectMenu-title" id="dismiss-alert-popup-heading">Select a reason to dismiss</span>
          <button class="SelectMenu-closeButton" type="button" aria-label="Close menu" data-action="click:alert-dismissal-details#reset" data-toggle-for="close-alert-menu">
            <%= primer_octicon(:x, "aria-label": "Close menu") %>
          </button>
        </header>

        <ul class="px-3 py-2" aria-labelledby="dismiss-alert-popup-heading" data-target="alert-dismissal-details.radiogroup">
          <% alert_closure_reasons.each_with_index do |(reason, label), index| %>
            <li class="list-style-none" <%= test_selector("code-scanning-alert-dismissal-reason") %>>
              <label>
                <div class="form-checkbox my-2">
                  <input type="radio" name="reason" value="<%= reason %>" data-action="click:alert-dismissal-details#show">
                  <div class="cursor-pointer <%= index < alert_closure_reasons.size - 1 ? "pb-2 border-bottom" : "" %>">
                    <%= label %>
                    <p class="note"><%= pluralize ? close_reason_details_plural[reason] : close_reason_details_singular[reason] %></p>
                  </div>
                </div>
              </label>
            </li>
          <% end %>
        </ul>

        <%= render(Primer::Box.new(data: {target: "alert-dismissal-details.footer"})) do %>
          <div class="SelectMenu-divider border-0 border-top">Dismissal comment</div>
          <footer class="SelectMenu-footer">

            <textarea name="resolution_note" style="min-height:3em;max-height:10em;max-width:100%;min-width:100%" class="form-control input-block mb-2" label="dismissal-comment" aria-label="Dismissal comment" maxlength=280 placeholder="Add a comment"></textarea>
            <%= render(Primer::Box.new(display: :flex, direction: :row, justify_content: :flex_end)) do %>
              <%= render Primer::Beta::Button.new(type: :button,  data: {"toggle-for": "close-alert-menu", action: "click:alert-dismissal-details#reset"}) do %>
                Cancel
              <% end %>

              <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, ml: 2) do %>
                Dismiss alert
              <% end %>
            <% end %>

            <% unless number.nil? %>
              <input type="hidden" name="number[]" value="<%= number %>">
            <% end %>

            <% ref_names.each do |ref| %>
              <input type="hidden" name="ref_names_b64[]" value="<%= Base64.strict_encode64(ref) %>">
            <% end %>

            <%# when dismissing an alert from a PR we send the review thread id so we can mark the conversation as resolved %>
            <% if pull_request_review_thread.present? %>
              <input type="hidden" name="pull_request_review_thread" value="<%= pull_request_review_thread.id %>">
            <% end %>

            <div class="js-scanning-bulk-action-items" hidden>
              <%# The index page javascript will add hidden inputs for the selected alert numbers in here %>
            </div>
          </footer>
        <% end %>
      </div>
    <% end %>
    </alert-dismissal-details>
  <% end %>
<% end %>
