<div
    class="text-normal color-fg-muted d-flex flex-items-center flex-justify-between js-scanning-alert-bulk-actions"
    hidden
    <%= test_selector("code-scanning-bulk-actions") %>>
  <span class="flex-auto" role="status" aria-atomic="true">
    <span data-check-all-count>0</span> selected
  </span>
  <div class="js-scanning-bulk-action-items" hidden></div>

  <span class="d-flex">
    <% if open_filter_applied? %>
      <%= render(CodeScanning::AlertDismissalDetailsComponent.new(
        close_path: close_path,
        pluralize: true,
        ml: 3,
        summary_button: false,
        body_system_arguments: {
          left: 0,
        }
      )) do |c| %>
        <% c.with_summary do %>
          Dismiss
          <div class="dropdown-caret"></div>
        <% end %>
      <% end %>
    <% else %>
      <%= form_tag reopen_path, method: :put, class: "ml-3" do %>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :link, classes: "Link--muted js-scanning-reopen-button") do %>Reopen<% end %>
        <%= render Primer::Beta::Button.new(
          id: "scanning-reopen-button-disabled", type: :submit, scheme: :link, hidden: true,
          aria: { disabled: true }, classes: "js-scanning-reopen-button-disabled"
        ) do |c| %>
          <% c.with_tooltip(
            text: "Some selected alerts have been fixed and cannot be reopened."
          ) %>
          Reopen
        <% end %>
        <div class="js-scanning-bulk-action-items" hidden></div>
        <div class="js-scanning-fixed-alert-numbers"
            data-numbers="<%= fixed_result_numbers %>"
            hidden></div>

      <% end %>
    <% end %>
  </span>
</div>
