<div class="Box-header d-flex py-3">

  <% if actions.present? %>
    <%= render(Primer::Box.new(mr: 2, mt: 2)) do %>
      <input aria-label="Select all alerts" data-check-all type="checkbox">
    <% end %>
    <%= render actions %>
  <% end %>

  <div class="no-wrap d-none d-lg-flex flex-auto" data-pjax>
    <%= render(Primer::Box.new(display: :flex, classes: "js-scanning-alert-links")) do %>
      <%= render SecurityCenter::StatesComponent.new(
        open_state_href: open_path,
        open_state_count: open_count,
        open_state_selected: !has_both_state_filters? && open_filter_applied?,
        closed_state_href: closed_path,
        closed_state_count: closed_count,
        closed_state_selected: !has_both_state_filters? && closed_filter_applied?
      ) %>
    <% end %>
  </div>

  <div class="d-flex no-wrap flex-auto flex-justify-between flex-items-center flex-sm-justify-start flex-lg-justify-end js-scanning-filter-options">
    <% select_menus.each do |sm| %>
      <%= render sm %>
    <% end %>

  </div>
</div>
