<div <%= test_selector("code-scanning-annotation") %>>
  <%= div_if_inline(class: "Details js-details-container check-annotation check-annotation-#{ warning_level } py-3", id: "annotation_#{annotation_id}", data: {"test-selector" => "inline-code-scanning-annotation"}) do %>
    <% if inline %>
      <%= render partial: "diff/inline_annotation_header", locals: {
          warning_level: warning_level,
          filename: nil,
          end_line: nil
      } %>
    <% end %>
    <p class="ml-3 mb-2 pl-4 mr-2 flex-shrink-0 d-flex flex-items-center">
      <%= primer_octicon(:"mark-github") %>
      <span class="mx-1 text-bold">Code scanning</span><%= " / #{tool_name}" if tool_name.present? %>
    </p>

    <p class="ml-3 mb-0 pl-4 text-bold d-flex flex-items-start">
      <span class="annotation-title pr-2 " >
        <%= alert_title %>
      </span>
      <% if show_alert_severity? %>
        <%= render CodeScanning::AlertSeverityComponent.new(
          severity: rule_severity,
          security_severity: security_severity,
          large_label: false,
          additional_classes: "mr-2 flex-shrink-0",
        ) %>
      <% end %>

      <% alert_classifications.each do |classification| %>
        <%= render Primer::Beta::Label.new(scheme: :secondary, mr: 2) do %>
          <%= classification %>
        <% end %>
      <% end %>

      <% if show_experimental_query_info? %>
        <%= render Primer::Beta::Label.new(scheme: :secondary, mr: 2) do %>Experimental<% end %>
      <% end %>
    </p>
    <div class="pt-2 pl-4 ml-3 overflow-auto code-scanning-font-size-inherit cs-message">
      <%= alert_message %>
    </div>

    <% if alerts_readable_by_current_user? %>
      <div class="ml-3 pl-4">
        <a href="<%= repository_code_scanning_result_path(repository.owner, repository, number: alert_number) %>" class="f6" <%= test_selector("cs-details-link") %>>
          Show more details
        </a>

        <% if show_interactive_elements? %>
          <div class="my-1 d-flex">
            <div class="d-flex flex-justify-between flex-items-end width-full mr-2">

              <div class="d-flex mr-2">
                <% if has_code_paths? %>
                  <% code_paths_url = repository_code_scanning_code_paths_path(repository.owner, repository, number: alert_number, ref: alert_instance&.ref_name_bytes) %>
                  <%= render(Primer::Alpha::Dialog.new(title: alert_title, size: :xlarge)) do |d| %>
                    <% d.with_show_button(size: :small, mt: 2, mr: 2, test_selector: "show-paths-button") { 'Show paths' } %>
                    <% d.with_body do %>
                      <include-fragment class="my-6" src="<%= code_paths_url %>">
                          <div class="text-center" data-show-on-error hidden>
                            <%= primer_octicon(:alert) %>
                            Error loading code paths
                          </div>
                          <div class="text-center" data-hide-on-error>
                            <%= render(Primer::Beta::Spinner.new) %>
                          </div>
                        </include-fragment>
                    <% end %>
                  <% end %>
                <% end %>

                <% if alerts_writable_by_current_user? %>
                  <% if result_resolved? %>
                    <div <%= test_selector("cs-reopen-alert-button")%>>
                      <% reopen_path = repository_code_scanning_reopen_path(repository.owner, repository, number: alert_number, ref_names: ref_names) %>
                      <%= button_to "Reopen alert", reopen_path, method: :put, class: "btn btn-sm", form_class: "mt-2", form: {"data-turbo" => "true", "data-turbo-frame" => "_self"} %>
                    </div>
                  <% else %>
                    <% if feature_enabled_globally_or_for_user?(feature_name: :code_scanning_react_partials, subject: current_user) %>
                      <span class="js-alert-actions-portal-root mt-2">
                        <%= render_react_partial name: "code-scanning-alert-dismissal", ssr: false, props: {
                          alertClosureReasons: alert_closure_reasons,
                          closeReasonDetails: close_reason_details_singular,
                          prReviewThreadID: pull_request_review_thread&.id,
                          number: alert_number,
                          refNames: base64_ref_names,
                          path: repository_code_scanning_close_path(repository.owner, repository),
                        } %>
                      </span>
                    <% else %>
                      <%= render(CodeScanning::AlertDismissalDetailsComponent.new(
                        close_path: repository_code_scanning_close_path(repository.owner, repository),
                        number: alert_number,
                        pull_request_review_thread: pull_request_review_thread,
                        ref_names: ref_names,
                        pluralize: true,
                        mt: 2,
                        summary_system_arguments: {
                          variant: :small,
                          "aria-haspopup": "true",
                        },
                        position: :static,
                      )) do |c| %>
                        <% c.with_summary do %>
                          Dismiss alert
                          <div class="dropdown-caret" <%= test_selector("dismiss-alert-button") %>></div>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>

              <%= disclaimer %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
