<div class="code-scanning-timeline">
  <% @timeline_events.each do |timeline_event| %>
    <% timeline_item_params = {
      timeline_event: timeline_event,
      has_more_than_one_category: has_more_than_one_category?,
      initial_tool_version: initial_tool_version,
      commit: commit_for_timeline_event(timeline_event),
      workflow_run: workflow_run_for_timeline_event(timeline_event)
    }%>
      <% case timeline_event.type %>
      <% when :TIMELINE_EVENT_TYPE_ALERT_APPEARED_IN_BRANCH %>
        <%= render CodeScanning::TimelineItemComponent.new(**timeline_item_params) do |item| %>
          <% item.with_badge(icon: :"git-branch") %>
          <% item.with_body(font_weight: :bold) do %>
            Appeared in branch
            <%= item.formatted_ref_name %>
          <% end %>
        <% end %>
      <% when :TIMELINE_EVENT_TYPE_ALERT_CLOSED_BECAME_FIXED %>
        <%= render CodeScanning::TimelineItemComponent.new(**timeline_item_params) do |item| %>
          <% if timeline_event.ref_name_bytes == @selected_ref %>
            <% item.with_badge(icon: :"shield-check", color: :on_emphasis, background: :done_emphasis)%>
          <% else %>
            <% item.with_badge(icon: :check)%>
          <% end %>
          <% item.with_body(font_weight: :bold) do %>
            Fixed in branch
            <%= item.formatted_ref_name %>
          <% end %>
        <% end %>
      <% when :TIMELINE_EVENT_TYPE_ALERT_CLOSED_BY_USER %>
        <%= render CodeScanning::TimelineItemComponent.new(**timeline_item_params) do |item| %>
          <% item.with_badge(icon: :"shield-x", color: :on_emphasis, background: :danger_emphasis)%>
          <% item.with_body do %>
            <% user = safe_user(timeline_event.user_id) %>
            <%= profile_link(user, scheme: :primary, font_weight: :bold, class: "Link--primary text-bold") do %>
              <%= render Primer::Beta::Avatar.new(src: avatar_url_for(user), alt: "#{user.display_login} profile")%>
              <%= user.display_login -%>
            <% end %>
            closed this
            <% if timeline_event.resolution != :NO_RESOLUTION %>
              as
              <%= render Primer::Beta::Text.new(font_weight: :bold, classes: "branch-name") do %>
                <%= alert_closure_reason_description(timeline_event) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% when :TIMELINE_EVENT_TYPE_ALERT_CREATED %>
        <%= render CodeScanning::TimelineItemComponent.new(**timeline_item_params) do |item| %>
          <% item.with_badge(icon: :shield)%>
          <% item.with_body(font_weight: :bold) do %>
            First detected in commit
          <% end %>
        <% end %>
      <% when :TIMELINE_EVENT_TYPE_ALERT_REAPPEARED %>
        <%= render CodeScanning::TimelineItemComponent.new(**timeline_item_params) do |item| %>
          <% item.with_badge(icon: :shield)%>
          <% item.with_body(font_weight: :bold) do %>
            Reappeared in branch
            <%= item.formatted_ref_name %>
          <% end %>
        <% end %>
      <% when :TIMELINE_EVENT_TYPE_ALERT_REOPENED_BY_USER %>
        <%= render CodeScanning::TimelineItemComponent.new(**timeline_item_params) do |item| %>
          <% user = safe_user(timeline_event.user_id) %>
          <% item.with_badge(icon: :"dot-fill", color: :on_emphasis, background: :success_emphasis)%>
          <% item.with_body do %>
            <%= profile_link(user, scheme: :primary, font_weight: :bold, class: "Link--primary text-bold") do %>
              <%= render Primer::Beta::Avatar.new(src: avatar_url_for(user), alt: "#{user.display_login} profile")%>
              <%= user.display_login -%>
            <% end %>
            reopened this
          <% end %>
        <% end %>
      <% when :TIMELINE_EVENT_TYPE_ALERT_CLOSED_BECAME_OUTDATED %>
        <%= render CodeScanning::TimelineItemComponent.new(**timeline_item_params) do |item| %>
          <% if timeline_event.ref_name_bytes == @selected_ref %>
            <% item.with_badge(icon: :"shield-check", color: :on_emphasis, background: :done_emphasis)%>
          <% else %>
            <% item.with_badge(icon: :check)%>
          <% end %>
          <% item.with_body(font_weight: :bold) do %>
            Closed as
            <%= render Primer::Beta::Truncate.new(font_family: :mono, font_size: 6, border_radius: 1, bg: :subtle) do%>
              <%= timeline_event.category.empty? ? "API Upload" : timeline_event.category %>
            <% end %>
            configuration was deleted in branch
            <%= item.formatted_ref_name %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>
</div>
