<% page_info(title: "Billing options for GitHub Sponsors") %>

<% content_for :header_title do %>
  <a class="Header-link" href="<%= user_path(this_organization) %>">
    <%= this_organization %>
  </a>
<% end %>

<div class="container-md p-responsive">
  <%= render Primer::Beta::Subhead.new do |subhead| %>
    <%= subhead.with_heading(tag: :h2).with_content("Billing options for GitHub Sponsors") %>
  <% end %>

  <%= render Sponsors::Orgs::InvoicedBilling::BillingOptionsComponent.new(
    organization: this_organization,
  ) %>
</div>
