<%= render Primer::Beta::Subhead.new(spacious: true, hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2, display: :flex, align_items: :center) { "Resources" } %>
<% end %>

<% if reports.any? %>
  <div class="Box" <%= test_selector "compliance-reports" %> data-hpc>
    <div class="Box-header d-flex flex-items-center">
      <div class="col-7 mr-5">
        <h3>Report</h3>
      </div>
      <div class="flex-auto">
        <h3>Coverage period</h3>
      </div>
    </div>
    <% reports.each do |report| %>
      <div class="Box-row" <%= test_selector "compliance-report-#{report.id}" %>>
        <div class="d-flex flex-items-center">
          <div class="<%= report.group? ? "col-12" : "col-7" %> mr-5 mb-1">
            <h4><%= report.title %></h4>
            <div class="markdown-body f5 color-fg-muted mt-2">
              <%= helpers.github_simplified_markdown(report.description) %>
            </div>
          </div>
          <div class="flex-auto mr-3">
            <div class="color-fg-muted mt-2">
              <%= report.coverage_period if report.coverage_period.present? %>
            </div>
          </div>
          <% if report.download? %>
            <%= render(Primer::Beta::Button.new(
              tag: :a,
              type: :button,
              href: helpers.registered_compliance_report_path(account, report.slug)
            )) do |button| %>
              <% button.with_leading_visual_icon(icon: :download) %>
              Download
            <% end %>
          <% elsif report.link? %>
            <%= render(Primer::Beta::Button.new(
              tag: :a,
              type: :button,
              href: report.url,
              target: "_blank"
            )) do |button| %>
              <% button.with_leading_visual_icon(icon: :"link-external") %>
              View
            <% end %>
          <% end %>
        </div>

        <% if report.group? %>
          <% report.child_reports.each do |child_report| %>
            <div class="d-flex flex-items-center pb-2 mb-2 border-bottom">
              <div class="col-7 mr-5">
                <strong><%= child_report.title %></strong>
              </div>
              <div class="flex-auto mr-3">
                <div class="color-fg-muted mt-2">
                  <%= child_report.coverage_period if child_report.coverage_period.present? %>
                </div>
              </div>
              <% if child_report.download? %>
                <%= render(Primer::Beta::Button.new(
                  tag: :a,
                  type: :button,
                  href: helpers.registered_compliance_report_path(account, child_report.slug)
                )) do |button| %>
                  <% button.with_leading_visual_icon(icon: :download) %>
                  Download
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(border: true, test_selector: "compliance-reports-blankslate") do |bs| %>
    <% bs.with_heading(tag: :h2).with_content("No compliance reports") %>
    <% bs.with_description { "No compliance reports are currently available" } %>
  <% end %>
<% end %>
