<div
  class="full-button width-full"
  id="repo-visibility-proceed-button-<%= new_visibility %>-container"
>
  <% if show_verification_input? %>
    <%= render Primer::Alpha::TextField.new(
      name: :verification_field,
      label: verification_label,
      invalid: true,
      mb: 2,
      full_width: true,
      data: {
        number_of_stars:,
        new_visibility:,
        repo_nwo:,
        test_selector: "repo-visibilities-proceed-confirmation",
      },
      classes: "js-repo-visibility-proceed-confirmation",
    ) %>
  <% elsif last_stage? %>
    <input type="hidden" name="verify" value="<%= repo_nwo %>">
    <input type="hidden" name="visibility" value="<%= new_visibility %>">
  <% end %>
  <%= render Primer::Beta::Button.new(
    type: button_type,
    scheme: last_stage? ? :danger : :default,
    block: true,
    id: "repo-visibility-proceed-button-#{new_visibility}",
    classes: "js-repo-visibility-proceed-button",
    disabled: show_verification_input?,
    data: {
      next_stage:,
      new_visibility:,
      test_selector: "repo-visibility-proceed-button-#{new_visibility}",
    }.compact,
  ) do %>
    <%= button_text %>
  <% end %>
</div>
