<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# view is an instance of Oauth::AuthorizeIntegrationView %>
<% page_info responsive: false, :title => "Connection with #{view.application.name}", :selected_link => :settings_user_authorized_integrations %>

<% content = capture do %>
  <div class="oauth-application-info">
    <div class="settings-next">
      <div class="flash-messages" <%= test_selector("spammy_flash_alert") %>>
        <% if GitHub.flipper[:alert_on_spammy_apps].enabled? && view.application.spammy? %>
          <%= render(Primer::Alpha::Banner.new(scheme: :danger)) do %>
            The owner of this GitHub App has been marked as spammy.
          <% end %>
        <% end %>

        <% if view.application.suspended? %>
          <%= render(Primer::Alpha::Banner.new(scheme: :danger)) do %>
            This GitHub App has been suspended.
          <% end %>
        <% end %>
      </div>

      <%= render :partial => "oauth_applications/application_header", :locals => { :view => view }  %>
      <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
        <% component.with_heading(tag: :h2) do %>Permissions<% end %>
        <% if Apps::Internal.capable?(:oauth_authorizations_revocable_by_user, app: view.application) %>
          <% component.with_actions do %>
            <%= render layout: "shared/details_dialog", locals: {
              button_class: "btn btn-sm btn-danger",
              button_text: "Revoke access",
              title: "Are you sure you want to revoke authorization?"
            } do %>
              <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
                <%= render Primer::Alpha::Banner.new(full: true, scheme: :warning) do %>
                  <%= view.application.name %> will no longer be able to access the GitHub API. You cannot undo this action.
                <% end %>
              <% else %>
                <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
                  <%= view.application.name %> will no longer be able to access the GitHub API. You cannot undo this action.
                <% end %>
              <% end %>

              <div class="Box-footer">
                <%= form_tag settings_oauth_authorization_path(view.application.key), :method => :delete do %>
                  <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-disable-with": "Revoking…") do %>
                    I understand, revoke access
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <p><strong><%= view.application.name %></strong> can access your account <strong><%= current_user.display_login %></strong> to:</p>
      <ul class="mb-3 ml-4">
        <li>Verify your GitHub identity</li>
        <li>Know what resources you can access</li>
        <li>Act on your behalf</li>
        <% view.permissions.each do |name, permission| %>
          <li><%= view.description(name) %></li>
        <% end %>
      </ul>
      <p><%= view.existing_installations_message %></p>
      <p class="note color-fg-muted mt-3">
        Applications act on your behalf to access your data based on the permissions you grant them. Organizations control which applications are allowed to access their private data. Applications you authorize will always have access to public data in your organizations.
        <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/authentication/keeping-your-account-and-data-secure/authorizing-github-apps">Read about third-party access.</a>
      </p>
    </div>

  </div>
<% end %>

<%= render layout: "settings/settings" do %>
  <%= content %>
<% end %>
