<%# Top of the card %>
<div class="col-lg-12 d-none d-lg-block mt-9 mt-lg-11">
  <div class="col-lg-10 color-bg-subtle pt-7 Box border-bottom-0 rounded-bottom-0"></div>
</div>

<%# The Card: %>
<div class="col-lg-12 d-flex flex-column flex-lg-row mt-4 mb-9 my-lg-0">
  <div class="color-bg-subtle col-lg-7 border-lg-left d-flex flex-items-center mx-3 mx-lg-0">
    <div class="offset-lg-1 col-lg-10 py-6 py-lg-0 px-3 px-lg-0 border border-lg-0 rounded-top-2">
      <div class="d-flex flex-justify-start flex-items-start flex-lg-items-center mb-3 mb-lg-5 flex-column flex-lg-row">
        <% if @story[:logo] %>
          <img <%= test_selector("highlighted-story-logo") %> width="150" src="<%= @story[:logo][:url] %>" alt="" class="pr-3 mr-3 mb-4 mb-lg-0 customer-story__logo customer-story__logo--colored border-lg-right">
        <% end %>

        GitHub Enterprise
      </div>

      <h3 class="h1 mb-4"><%= @story[:lead] %></h3>

      <%= link_to(customer_story_path(@story[:url]), class: "btn-mktg") do %>
        <span class="sr-only">Read more about <%= @story[:title] %> and GitHub&apos;s story</span>
        <span aria-hidden="true" class="text-semibold">Read story <%= svg("modules/site/icons/chevrow.svg") %></span>
      <% end %>

      <% if @story[:callouts].present? %>
        <ul class="d-md-flex flex-justify-between pt-5">
          <% @story[:callouts].each do |callout| %>
            <li <%= test_selector("highlighted-story-callout") %> class="d-flex flex-column flex-items-start pb-4 pb-md-0 pr-2 color-fg-muted customer-story__figures float-left">
              <span class="highlighted-story__fact customer-story__fact-highlight text-normal lh-condensed-ultra f0-mktg d-block"><%= callout[:value] %></span>
              <%= callout[:label] %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <% if @story[:highlights].present? %>
    <div class="col-lg-5">
      <%= render Site::Contentful::CustomerStories::StoryHighlightsComponent.new(
        highlights: @story[:highlights],
        dark: true,
        products: @story[:product_filters],
        classes: "highlighted-story__highlights rounded-2 overflow-hidden pt-8 pr-7 pb-3 pl-7"
      ) %>
    </div>
  <% end %>
</div>

<%# Bottom of the card %>
<div class="col-lg-12 d-none d-lg-block mb-11 mb-lg-12">
  <div class="col-lg-10 color-bg-subtle pt-7 Box border-top-0 rounded-top-0"></div>
</div>
