<ul role="list" class="list-style-none" <%= test_selector("crumbs-list") %>>
  <% context_crumbs.each do |crumb| %>
    <li>
      <%= render Primer::BaseComponent.new(**crumb_attributes(crumb)) do %>
        <span class="AppHeader-context-item-label <%= "Truncate-text" if compact? %> <%= crumb.label_classes %>">
          <% if compact? %>
            <%= primer_octicon crumb.compact_octicon, size: :xsmall, mr: 1 %>
          <% end %>

          <%= crumb.label %>
        </span>

        <% if crumb.octicon.present? %>
          <%= primer_octicon(crumb.octicon, size: :xsmall, ml: 1) %>
        <% end %>
      <% end %>

      <% if !compact? && !is_last?(crumb) %>
        <span class="AppHeader-context-item-separator">/</span>
      <% end %>
    </li>
  <% end %>
</ul>
