<%# rubocop:disable Lint/InstanceVariable %>

<%
  page_info(
    title: "Contribute to #{repository.name_with_display_owner}"
  )

  @disable_branch_selector = true
  instrument_explore_page_view(
    user: current_user,
    visitor: current_visitor,
    view_context: :CONTRIBUTE_PAGE,
    record_id: repository.id,
    visible_record_ids: { visible_good_first_issue_ids: issues.map(&:id) },
  )
%>
<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="container-xl px-3 px-md-4 px-lg-5 mt-5">
    <div class="d-md-flex flex-justify-between">
      <div class="flex-auto mr-md-5">
        <h2 class="f1 text-normal mb-1">
          Contribute to <strong class="text-bold"><%= repository.name_with_display_owner %></strong>
        </h2>
        <p class="color-fg-muted mb-0">
          Make your first contribution to this repository by tackling one of the issues listed below.
        </p>
      </div>
      <% if contributing_file = repository.preferred_files.fetch(:contributing) %>
        <article class="col-md-6 col-lg-4 mt-3 mt-md-0 mb-3" <%= test_selector("contributing-card") %>>
          <%= render(Primer::Beta::Link.new(
            display: :block,
            animation: :hover_grow,
            box_shadow: true,
            underline: false,
            bg: :default,
            p: 3,
            border: true,
            border_radius: 1,
            data: explore_click_tracking_attributes(
              actor: current_user,
              click_context: :CONTRIBUTE_PAGE,
              click_target: :CONTRIBUTING_MD,
              click_visual_representation: :READ_THE_CONTRIBUTING_GUIDELINES,
            ),
            href: contributing_file.permalink,
          )) do %>
            <h1 class="d-flex flex-items-center h4 lh-condensed mb-1">
              <%= primer_octicon(:file, height: 18, color: :muted, mr: 2) %> Read the contributing guidelines
            </h1>

            <div class="f6 color-fg-muted" <%= test_selector("contributing-repo-name") %>>
              <%= contributing_file.repository_name %> / <%= contributing_file.filename %>
            </div>
          <% end %>
        </article>
      <% end %>
    </div>

    <% if issues.size.positive? %>
      <p class="color-fg-muted">Each issue displayed here is a "good first issue," selected for its relative approachability for first-time contributors.</p>

      <div class="Box Box--condensed my-5">
        <div class="Box-header d-flex flex-items-center flex-justify-between">
          <h3 class="Box-title">Good first issues</h3>
        </div>

        <div aria-label="Issues" role="group" data-issue-and-pr-hovercards-enabled>
          <% issues.each do |issue| %>
            <article class="Box-row">
              <div class="d-flex">
                <div class="mr-2" style="margin-top: 2px;">
                  <%= primer_octicon(:"issue-opened", color: :success) %>
                </div>

                <div class="flex-auto">
                  <div class="mb-1">
                    <%= render(Primer::Beta::Link.new(
                      vertical_align: :middle,
                      underline: false,
                      classes: "Link--primary h4 js-navigation-open",
                      data: explore_click_tracking_attributes(
                        actor: current_user,
                        click_context: :CONTRIBUTE_PAGE,
                        click_target: :ISSUE,
                        click_visual_representation: :GOOD_FIRST_ISSUE,
                        record_id: issue.id,
                      ).merge(hovercard_data_attributes_for_issue_or_pr(issue.original_issue)),
                      id: "issue_#{issue.number}_link",
                      href: issue_permalink_path(issue.original_issue),
                    )) do %>
                      <%= issue.title %>
                    <% end %>

                    <span class="lh-default">
                      <% issue.labels.each do |label| %>
                        <span class="d-inline-block IssueLabel v-align-text-top">
                          <%= render Issues::LabelComponent.new(
                              color: label.color,
                              name: label.name,
                              description: label.description,
                              data: explore_click_tracking_attributes(
                                actor: current_user,
                                click_context: :CONTRIBUTE_PAGE,
                                click_target: :LABEL_SCOPED_ISSUE_SEARCH,
                                click_visual_representation: :LABEL_TAG,
                                record_id: label.id,
                              ),
                              href: issues_search_query(
                                      replace: { label: nil },
                                      append: [[:label, label.name]])) do %>
                            <%= label.name_html %>
                          <% end %>
                        </span>
                      <% end %>
                    </span>
                  </div>
                  <div class="mt-1 text-small color-fg-muted">
                    <span class="opened-by">
                      #<%= issue.number %>
                      opened <%= time_ago_in_words_js(issue.created_at) %> by
                      <%= profile_link(
                        issue.safe_user,
                        class: "Link--muted",
                        title: "#{issue.title}",
                        url: issues_path(
                          repository.owner,
                          repository,
                          q: " is:issue is:open author:#{issue.safe_user}",
                        ),
                        data: explore_click_tracking_attributes(
                          actor: current_user,
                          click_context: :CONTRIBUTE_PAGE,
                          click_target: :OWNER,
                          click_visual_representation: :ISSUE_AUTHOR,
                          record_id: issue.safe_user.id,
                        ),
                      ) %>
                      <%= bot_identifier(issue.safe_user) %>
                    </span>
                  </div>
                </div>

                <% if issue.comments.size.positive? %>
                  <div class="f6 color-fg-muted text-right no-wrap ml-3"> <%= primer_octicon(:comment, color: :muted) %>
                    <%= issue.comments.size %>
                  </div>
                <% end %>
              </div>
            </article>
          <% end %>
        </div>
      </div>

      <div class="d-sm-flex flex-justify-center">
        <%= render(Primer::Beta::Link.new(
          classes: "btn",
          data: explore_click_tracking_attributes(
            actor: current_user,
            click_context: :CONTRIBUTE_PAGE,
            click_target: :REPOSITORY_ISSUES,
            click_visual_representation: :SEE_ALL_ISSUES,
          ),
          href: issues_path,
        )) do %>
          See all issues
        <% end %>
      </div>
    <% else %>
      <%= render Primer::Beta::Blankslate.new(spacious: true, my: 5) do |c| %>
        <% c.with_visual_icon(icon: "issue-opened") %>

        <% c.with_heading(tag: :h2) do %>
          This repo doesn't have any good first issues, yet
        <% end %>

        <% c.with_description do %>
          Once its maintainers label issues and pull requests for new contributors, they will begin to appear here.
        <% end %>

        <% c.with_secondary_action(href: issues_path) do %>
          All issues in this repository
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
