<% page_info \
  title: "Git",
  richweb: {
    title: "git Guides",
    url: request.original_url,
    description: "Learn git.",
    image: image_path("modules/site/social-cards/git-guides/git-guides.png"),
  }
%>

<%= render "site/git_guides/git_guides_nav" %>

<div class="position-relative">
  <%= image_tag "modules/site/git-guides/git-guides.png", alt: "Git remote illustration", class: "width-full height-full object-fit-cover position-absolute top-0 left-0" %>
  <svg width="2880" height="360" aria-hidden="true" class="width-full d-none d-lg-block height-auto v-hidden"></svg>
  <svg width="1440" height="360" aria-hidden="true" class="width-full d-none d-md-block d-lg-none height-auto v-hidden"></svg>
  <svg width="880" height="360" aria-hidden="true" class="width-full d-block d-md-none height-auto v-hidden"></svg>
</div>

<div class="container-md pt-6 pt-md-11 pb-md-10 pb-5 px-4 markdown-body git-guide position-relative">
  <%# Deprecated: Do not use this pattern in the future %>
  <% markdown = render(partial: "site/git_guides/md/git-overview", formats: [:text]) %>
  <%= GitHub::Goomba::GuidesMarkdownPipeline.to_html(markdown, { anchor_icon: primer_octicon(:link) }, cache_settings: { use_cache: true }) %>

  <%= render "site/git_guides/git_guides_edit", href: "https://github.com/github/training-kit/blob/master/git-guides/git-overview.md" %>

  <%= render "site/git_guides/git_guides_footer", ref_page: "" %>
</div>
