<% page_info \
  title: "Git Guides - #{title}",
  richweb: {
    title: "Git Guides - #{title}",
    url: request.original_url,
    description: description,
    image: image_path("modules/site/social-cards/git-guides/#{id}.png"),
  }
%>

<%= render "site/git_guides/git_guides_nav" %>

<div class="position-relative">
  <%= image_tag "modules/site/git-guides/#{id}.png", alt: "#{title.titleize} illustration", class: "width-full height-full object-fit-cover position-absolute top-0 left-0" %>
  <svg width="2880" height="360" aria-hidden="true" class="width-full d-none d-lg-block height-auto v-hidden"></svg>
  <svg width="1440" height="360" aria-hidden="true" class="width-full d-none d-md-block d-lg-none height-auto v-hidden"></svg>
  <svg width="880" height="360" aria-hidden="true" class="width-full d-block d-md-none height-auto v-hidden"></svg>
</div>

<div class="container-md pt-6 pt-md-11 pb-md-10 pb-5 px-4 markdown-body git-guide position-relative">
  <%= GitHub::Goomba::GuidesMarkdownPipeline.to_html(markdown, {anchor_icon: primer_octicon(:link)}, cache_settings: { use_cache: true }) %>

  <%= render "site/git_guides/git_guides_edit", href: "https://github.com/github/training-kit/blob/master/git-guides/#{id}.md" %>

  <%= render "site/git_guides/git_guides_footer", ref_page: "/#{id}" %>
</div>
