<li class="listgroup-item d-flex flex-items-center">
  <span class="reinstate-title flex-auto"><%= primer_octicon(view.octicon) %><%= view.name.capitalize %></span>
  <% text = "#{view.count} #{view.name}"%>
  <% if view.models.any? %>
    <%= render layout: "shared/details_dialog", locals: {
      button_class: "btn-link",
      button_text: text,
      title: "#{invitee_login} #{view.phrase} #{view.count} #{view.name}"
    } do %>
      <div class="Box-body overflow-auto">
        <p>The following <%= view.name %> will be reinstated:</p>
        <ul class="listgroup">
          <% view.models.each do |model| %>
            <%= render :partial => "orgs/invitations/reinstate/item", :locals => {:label => model.public_send(view.label_attribute)} %>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% else %>
    <span class="color-fg-muted"><%= text %></span>
  <% end %>
</li>
