<%# erblint:counter DeprecatedComponentsCounter 1 %>
<ul class="list-style-none <% if show_as_grid %>d-flex flex-wrap mb-n2<% end %>">
  <% @user_hashes.each do |user_hash| %>
    <li class="<%= class_names(
        "mb-2",
        "mr-2": show_as_grid,
        "d-flex": !show_as_grid) %>"
        <%= test_selector "grid-mode-element" %>>
      <a href="<%= user_hash[:profile_url] %>"
          class="<%= class_names("mr-2": !show_as_grid) %>"
          <% if user_hash[:avatar_user_actor] %>
            <%= user_hovercard_attributes(user_hash[:login]) %>
          <% end %>
          <%= safe_data_attributes(data) %>
        >
        <%= render Primer::Beta::Avatar.new(
          alt: "@#{user_hash[:login]}",
          src: user_hash[:avatar_url],
          size: 32,
          test_selector: "#{user_hash[:login]}-avatar",
          shape: user_hash[:avatar_user_actor] ? :circle : :square
        )%>
      </a>
      <% unless show_as_grid %>
      <%= render(Primer::Truncate.new(tag: :span, w: :fit, flex: :auto, classes: "flex-self-center min-width-0", test_selector: "list-mode-element")) do %>
        <a href="<%= user_hash[:profile_url] %>" class="Link--primary no-underline flex-self-center">
          <strong><%= user_hash[:login] %></strong>
          <% if user_hash[:profile_name].present? %><span class="color-fg-muted"><%= user_hash[:profile_name] %></span><% end %>
        </a>
      <% end %>
      <% end %>
    </li>
  <% end %>
  <% if truncator %>
    <li class="<%= class_names("mb-2 d-flex") %>"
        <%= test_selector "truncator-slot" %>
    >
        <%= truncator %>
    </li>
  <% end %>
</ul>

<% if show_names_summary && show_as_grid %>
  <div class="mt-2 color-fg-muted" <%= test_selector "names-string" %>>
    <%= user_names_summary %>
  </div>
<% end %>
