<%= render Primer::BaseComponent.new(
  tag: :div,
  px: for_feed ? 0 : 3,
  pb: for_feed ? 0 : 3,
  test_selector: "user-#{card_type}",
  **system_arguments
) do %>
  <% if user_status.present? %>
    <div class="f6 border-bottom mr-n3 ml-n3 user-status-container">
      <%= render(
        "user_statuses/user_status",
        status: user_status,
        compact: true,
        truncate: true,
        force_one_line: true,
      ) %>
    </div>
  <% end %>
  <div class="d-flex <%= for_feed ? "" : "mt-3 " %>position-relative overflow-hidden">
    <div class="d-flex <%= for_feed ? "" : "flex-column " %>width-fit">
      <section aria-label="User avatar" class="rounded-2 overflow-hidden">
        <%= profile_link(
          user,
          skip_hovercard: true,
          hydro_data: hydro_click_attrs("avatar"),
          class: "user-hovercard-avatar"
        ) do %>
          <%= helpers.avatar_for(user, 48, class: "d-block") %>
        <% end %>
      </section>
      <% if for_feed %>
        <div class="d-flex flex-column flex-justify-center pl-2">
          <section aria-label="User login and name" class="d-inline-flex">
            <%= link_to user.display_login, user_path(user), class: "f5 text-bold Link--primary no-underline", data: hydro_click_attrs("user_login") %>
            <% if user.profile_name.present? %>
              <%= render(Primer::Beta::Truncate.new(test_selector: 'user-profile-name')) do |component| %>
                <% component.with_item(max_width: 230, expandable: true) do %>
                  <%= link_to user.profile_name, user_path(user), class: "Link--secondary no-underline ml-1" %>
                <% end %>
              <% end %>
            <% end %>
            <% if helpers.user_pronouns_enabled? && (pronouns = user.profile_pronouns).present? %>
              <span class="flex-shrink-0 flex-auto color-fg-muted">
                &nbsp;&middot;
                <span <%= test_selector("user-#{card_type}-pronouns") %>>
                  <%= pronouns %>
                </span>
              </span>
            <% end %>
          </section>

          <% if user.profile_bio.present? %>
            <section aria-label="User bio" class="mt-1 dashboard-break-word">
              <%= GitHub::Goomba::ProfileBioPipeline.to_html(user.profile_bio) %>
            </section>
          <% end %>
        </div>
      <% else %>
        <section aria-label="User login and name" class="d-inline-flex mt-2">
          <%= link_to user.display_login, user_path(user), class: "f5 text-bold Link--primary no-underline", data: hydro_click_attrs("user_login") %>
          <% if user.profile_name.present? %>
            <%= render(Primer::Beta::Truncate.new(test_selector: 'user-profile-name')) do |component| %>
              <% component.with_item(max_width: 230, expandable: true) do %>
                <%= link_to user.profile_name, user_path(user), class: "Link--secondary no-underline ml-1" %>
              <% end %>
            <% end %>
          <% end %>
          <% if helpers.user_pronouns_enabled? && (pronouns = user.profile_pronouns).present? %>
            <span class="flex-shrink-0 flex-auto color-fg-muted">
              &nbsp;&middot;
              <span <%= test_selector("user-#{card_type}-pronouns") %>>
                <%= pronouns %>
              </span>
            </span>
          <% end %>
        </section>

        <% if user.profile_bio.present? %>
          <section aria-label="User bio" class="mt-1 dashboard-break-word">
            <%= GitHub::Goomba::ProfileBioPipeline.to_html(user.profile_bio) %>
          </section>
        <% end %>
      <% end %>
      <% if show_staff_badge_to_viewer %>
        <section aria-label="User staff badge" class="mt-2 color-fg-muted text-small d-flex flex-items-center">
          <%= primer_octicon(:"mark-github") %>
          <% if current_user&.employee? %>
            <%= render Primer::Beta::Label.new(tag: :a, href: user.thehub_url, scheme: :info, ml: 1, text_transform: :uppercase, title: "Label: Staff") do %>
              Staff
            <% end %>
          <% else %>
            <%= render Primer::Beta::Label.new(scheme: :info, ml: 1, text_transform: :uppercase, title: "Label: Staff") do %>
              Staff
            <% end %>
          <% end %>
        </section>
      <% elsif show_pro_badge_to_viewer && user.has_pro_plan_badge? %>
        <section aria-label="User pro badge" class="mt-2 color-fg-muted text-small d-flex flex-items-center">
          <%= primer_octicon(:"star-fill") %>
          <%= render Primer::Beta::Label.new(scheme: :purple, ml: 1, text_transform: :uppercase, test_selector: "pro-badge", title: "Label: Pro") do %>
            Pro
          <% end %>
        </section>
      <% end %>

      <% if show_user_location && (location = user.profile_location).present? %>
        <address aria-label="User location" class="mt-2 color-fg-muted text-small d-flex flex-items-center" <%= test_selector("user-#{card_type}-location") %> style="font-style: initial;">
          <%= primer_octicon(:location) %>
          <span class="ml-1"><%= location %></span>
        </address>
      <% end %>

      <% if show_user_local_time && user.profile_local_time_zone_name.present? %>
        <section aria-label="User local time" class="mt-1 color-fg-muted text-small d-flex flex-items-center" <%= test_selector("user-#{card_type}-local-time") %> style="font-style: initial;">
          <%= primer_octicon(:clock) %>
          <%= render Profiles::User::LocalTimeComponent.new(user: user, classes: "ml-1") %>
        </section>
      <% end %>
    </div>
    <% if render_action_buttons? %>
      <aside aria-label="User action buttons" class="position-absolute right-0 top-0 d-flex flex-items-center">
        <% if viewer_is_sponsoring || user_is_sponsorable %>
          <%= render Sponsors::SponsorButtonComponent.new(
            sponsorable: user,
            is_sponsoring: viewer_is_sponsoring,
            id: "#{viewer_is_sponsoring ? "sponsoring" : "sponsor"}-button-#{card_type}-user",
            location: sponsor_button_location,
            data: hydro_click_attrs("#{viewer_is_sponsoring ? "sponsoring" : "sponsor"}_button"),
            mr: 2
          ) %>
        <% end %>
        <% if render_follow_button %>
          <%= helpers.follow_button user, data: hydro_click_attrs("follow_button") %>
        <% end %>
      </aside>
    <% end %>
  </div>
  <% if content.present? %>
    <%= content %>
  <% end %>
<% end %>
