<% record_retention_period_metric("render_activity", collector) %>

<% if include_header %>
  <% if !current_user&.feature_enabled?(:mobile_year_picker) && !activity_overview_enabled? %>
    <%= render partial: "users/year_list",
               locals: { activity_overview_enabled: false, collector: collector, org: org } %>
  <% end %>
  <div class="d-lg-none float-right js-profile-timeline-year-list">
    <%= render Users::Contributions::YearDropdownComponent.new(collector: collector, org: org) %>
  </div>

  <h2 class="f4 text-normal mt-4 mb-3">
    <%= contribution_activity_title(org_name: org&.name) %>
  </h2>

  <% if GitHub.flipper[:contribution_retention_period].enabled?(collector.user) && collector.started_at < Contribution.retention_period.begin %>
    <div class="mb-2 color-fg-muted">Commits created more than <%= Contribution::RETENTION_DURATION.in_years.to_i %> years ago are not included</div>
  <% end %>
<% end %>

<% if collector.any_contribution? %>
  <%= render partial: "users/time_range_with_activity",
             locals: { org: org, collector: collector } %>
<% else %>
  <%= render partial: "users/time_range_without_activity",
             locals: { org: org, collector: collector } %>
<% end %>
