<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  user_is_viewer = user == current_user

  page_info title: user_following_title(login: user.display_login, name: user.profile_name, is_viewer: user_is_viewer), breadcrumb: "Following"
%>

<% if followings.any? %>
  <% followings.each do |user| %>
    <%= render partial: "users/follow_user", locals: {user: user} %>
  <% end %>

  <div class="paginate-container" <%= test_selector("pagination") %>>
    <%= simple_paginate followings %>
  </div>

<% elsif followings.total_entries > 0 %>
  <p class="mt-4">That’s it. You’ve reached the end of
  <%= user_is_viewer ? "your" : "#{user.display_login}’s" %> followings.</p>

<% else %>
  <%= render Primer::BlankslateComponent.new(
    icon: "people",
    title: (user_is_viewer ? "You aren’t" : "#{user.display_login} isn’t") + " following anybody.",
    mt: 4,
  ) do %>
    <p><%= render(Primer::Beta::Link.new(href: "https://docs.github.com/get-started/quickstart/be-social", classes: "Link--inTextBlock", aria: { label: "Learn more about being social on GitHub"})) { "Learn more" } %> about being social on GitHub.</p>
  <% end %>
<% end %>
