<%
  item_showcase = ProfileItemShowcase.new(user: this_user, viewer: current_user)
  page_info title: profile_page_title(login: this_user.display_login, name: this_user.profile_name)
%>

<%= render Profiles::User::Private::HeaderComponent.new(
  viewer: current_user,
  profile_user: this_user,
  previewing: layout_data.previewing
) %>

<%= render Profiles::User::Achievements::DisabledCtaComponent.new(
  achievements_enabled: layout_data.achievements_enabled?,
  has_unseen_private_achievement: layout_data.has_unseen_private_achievement?,
  has_unseen_public_achievement: layout_data.has_unseen_public_achievement?,
  private_contribution_count_enabled: layout_data.private_contribution_count_enabled?,
  user_is_viewer: layout_data.user_is_viewer?,
) %>

<% if show_profile_readme? %>
  <%= render partial: "users/tabs/profile_readme" %>
<% end %>

<div class="mt-4">
  <% viewer_can_change_pinned_items = this_user.can_pin_profile_items?(current_user) %>
  <%= render Profiles::User::Tabs::RepositoriesOverviewComponent.new(
    any_pinnable_items: viewer_can_change_pinned_items && this_user.async_any_pinnable_items?(
      viewer: current_user,
      types: ProfilePin.pinned_item_types.keys,
    ),
    has_pinned_items: item_showcase.has_pinned_items?,
    items: item_showcase.items.first(ProfilePin::LIMIT_PER_PROFILE),
    profile_user: this_user,
    viewer_can_change_pinned_items: viewer_can_change_pinned_items,
  ) %>
</div>

<% show_mobile_year_picker = current_user&.feature_enabled?(:mobile_year_picker) %>
<div class="mt-4 <%= show_mobile_year_picker ? "" : "position-relative" %>">
  <% unless GitHub.contribution_graph_disabled? %>
    <% if async_contributions_enabled? %>
      <include-fragment src="<%= user_contribution_path(this_user.display_login, params.permit!.to_h.merge(tab: "contributions")) %>">
        <div class="text-center" data-hide-on-error>
          <%= render Primer::Beta::Spinner.new(aria: { label: "Loading" }) %>
        </div>
        <div class="text-center" data-show-on-error hidden>
          Something went wrong, please refresh the page to try again.<br>
          If the problem persists, check the <%= render(Primer::Beta::Link.new(href: GitHub.status_url, classes: "Link--inTextBlock")) { "GitHub status page" } %>
          or <%= render(Primer::Beta::Link.new(href: contact_path, classes: "Link--inTextBlock")) { "contact support" } %>.
        </div>
      </include-fragment>
    <% else %>
      <% if show_mobile_year_picker%>
        <%= render partial: "users/tabs/contributions_new",
                  locals: { collector: local_assigns[:collector] } %>
      <% elsif activity_overview_enabled? %>
        <%= render partial: "users/tabs/contributions_new",
                  locals: { collector: local_assigns[:collector] } %>
      <% else %>
        <%= render partial: "users/tabs/contributions",
                  locals: { collector: local_assigns[:collector] } %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if logged_in? %>
  <div id="pinned-items-modal-wrapper"></div>
<% end %>
