<ol class="d-flex flex-wrap list-style-none gutter-condensed mb-4">
  <% popular_repositories.each do |repo| %>

    <li
      class="<%= class_names(
        "mb-3 d-flex flex-content-stretch",
        "col-12 col-md-6 col-lg-6" => responsive?,
        "col-6" => !responsive?,
      ) %>"
    >
      <div
        class="<%= class_names(
          "Box pinned-item-list-item d-flex p-3 width-full public",
          "fork" => repo.fork?,
          "source" => !repo.fork?,
        ) %>"
      >
        <div class="pinned-item-list-item-content">
          <div class="d-flex v-align-middle mr-2">
            <%= render(Primer::Beta::Link.new(href: repository_path(repo), font_weight: :bold, flex: :auto, word_break: :break_all, classes: "min-width-0", id: repo.id)) do |link| %>
              <% link.with_tooltip(text: repo.name) %>
              <span class="repo" <%= test_selector(repo.name) %>>
                <%= repo.name %>
              </span>
            <% end %>
            <span class="flex-auto text-right">
              <%= repository_label(repo) %>
            </span>
          </div>

          <% if repo.fork? && repo.parent %>
            <p class="color-fg-muted text-small mb-2">
              Forked from <%= link_to(
                repo.parent.name_with_display_owner,
                repository_path(repo.parent),
                class: "Link--muted Link--inTextBlock",
              ) %>
            </p>
          <% end %>

          <p class="pinned-item-desc color-fg-muted text-small d-block mt-2 mb-3">
            <%= repo.short_description_html %>
          </p>

          <p class="mb-0 f6 color-fg-muted">
            <% if repo.primary_language %>
              <%= render Languages::BadgeComponent.new(
                name: repo.primary_language.name,
                display: :inline_block,
                mr: 3,
              ) %>
            <% end %>
            <% if repo.stargazer_count > 0 %>
              <a
                href="<%= stargazers_repository_path(
                  repository: repo,
                  user_id: repo.owner_display_login,
                ) %>"
                class="pinned-item-meta Link--muted"
              >
                <%= render Primer::Beta::Octicon.new(
                  icon: "star",
                  aria: { label: "star".pluralize(repo.stargazer_count) },
                ) %>
                <%= social_count(repo.stargazer_count) %>
              </a>
            <% end %>
            <% if repo.forks_count > 0 %>
              <a
                href="<%= forks_path(repo.owner_display_login, repo.name) %>"
                class="pinned-item-meta Link--muted"
              >
                <%= render Primer::Beta::Octicon.new(
                  icon: "repo-forked",
                  aria: { label: "fork".pluralize(repo.forks_count) },
                ) %>
                <%= social_count(repo.forks_count) %>
              </a>
            <% end %>
          </p>
        </div>
      </div>
    </li>
  <% end %>
</ol>
