<% readme = this_user.profile_readme %>
<% config_repo = this_user.configuration_repository %>
<div class="Box mt-4 <%= "profile-readme" unless header_redesign_enabled? %>" <%= test_selector("profile-readme") %>>
  <div class="Box-body <%= "p-4" if readme.language %>">
    <div class="d-flex flex-justify-between">
      <div class="text-mono text-small mb-3">
        <% config_repo_url = "/#{this_user.display_login}/#{this_user.config_repo_name}" %>
        <a
          href="<%= config_repo_url %>"
          class="no-underline Link--primary"
        ><%= this_user.config_repo_name %></a><span
          class="color-fg-muted d-inline-block"
          style="padding:0px 2px;"
        >/</span><%= this_user.profile_readme_filename %><span
         class="color-fg-muted"
        >.<%= this_user.profile_readme_file_extension %></span>
      </div>

      <% if this_user == current_user %>
        <div class="text-small mb-3">
          <a href="<%= file_edit_path(current_user, config_repo, config_repo.default_branch, this_user.profile_readme.path) %>"
              class="Box-btn-octicon btn-octicon pr-3"
              aria-label="Edit this file"
              <%= test_selector("edit-profile-readme") %>>
              <%= render(Primer::Beta::Octicon.new(icon: "pencil")) %>
          </a>
        </div>
      <% end %>
    </div>
    <%= format_readme(readme, entity: config_repo, committish: config_repo.default_branch, classes: "f5") %>
  </div>
</div>
