<div class="position-relative z-1 mt-6 mb-10 mb-md-0 readme-bio">
  <div class="container-xl p-responsive">
    <div class="readme-bio-text d-flex flex-items-center">
      <div class="position-relative d-inline-flex flex-items-center flex-justify-center mr-7 mr-md-4 mt-n3 mb-n3">
        <div class="overflow-hidden circle d-inline-flex flex-items-center flex-justify-center" style="width:120px; height:120px;">
          <%= render Site::ContentfulImageComponent.new(src: story[:author][:photo][:url], width: 240, height: 240, classes: "width-full height-auto d-block", lazy: false, alt: "Photo of #{story[:name]}", sizes: "120px") %>
        </div>

        <% if story[:company].present? %>
          <div class="position-absolute readme-bg-white rounded box-shadow-card-border-mktg" style="transform: translateX(-50%) translateY(-50%); top:100%; left: 100%; width:60px; height:60px; padding: 0.75rem">
            <%= render Site::ContentfulImageComponent.new(src: story[:company][:logo][:url], width: 72, height: 72, classes: "width-full height-auto d-block", lazy: false, alt: "#{story[:company][:name]} logo", sizes: "36px") %>
          </div>
        <% end %>
      </div>

      <p class="mb-0 py-2 py-md-5">
        <strong class="d-block d-md-inline text-bold"><%= story[:name] %></strong><span class="text-mono text-uppercase f5-mktg readme-text-gray-dark" style="letter-spacing:0.05em;"><span class="d-none d-md-inline"> // </span><%= story[:author_role] %><%= ", #{story[:company][:name]}" if story[:company].present? %></span> <%= preview_label unless story[:published?] %>
      </p>
    </div>
  </div>
</div>
