<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<% mask_number = ["1", "2"].sample %>
<% hero_background = story[:hero_background_color].present? ? "##{story[:hero_background_color]}" : "#191919" %>

<div class="position-relative d-flex width-full overflow-hidden js-build-in" data-build-margin-bottom="45">
  <div class="position-absolute top-0 right-0 left-0 readme-hero--guides__background" style="background-color:<%= hero_background %>"></div>

  <div class="position-relative d-flex flex-column-reverse flex-lg-row   flex-justify-between container-readme mx-auto">
    <div class="position-relative col-lg-6 d-flex flex-column flex-justify-center p-responsive-readme mt-6 mt-lg-n2 mb-6 mb-lg-12 mb-xl-9 readme-hero__text">
      <div class="width-full height-full d-flex flex-column flex-justify-center pt-lg-12">
        <div class="mb-4 mb-md-6 mb-xl-9">
          <a href="<%= readme_index_path %>" aria-label="ReadME Project Homepage" class="readme-logo-link--inverted">
            <%= svg("modules/site/readme/readme-logo-lockup", height: 50, class: "d-block readme-logo", aria_hidden: true) %>
          </a>
        </div>

        <h1 class="mb-6 color-text-white readme-heading-1 readme-heading--condensed">
          <%= story[:heading] %>
        </h1>

        <p class="col-xl-11 mb-lg-6 readme-subheading fgColor-onEmphasis">
          <%= story[:subheading] %>
        </p>
      </div>
    </div>

    <div class="position-relative col-lg-6 readme-hero__img">
      <%= render Site::ContentfulImageComponent.new(src: story[:thumbnail][:url], width: 1200, height: 1400, classes: "d-block width-full height-full object-fit-cover readme-mask--thumbnail-#{mask_number}", picture_classes: "d-flex",  alt: story[:thumbnail][:description] || "", sizes: "(max-width: 755px) 100vw, 45vw", lazy: false, photo: false) %>

      <% if story[:artist].present? %>
        <p class="position-lg-absolute z-2 bottom-0 right-0 p-responsive-readme pt-4 pl-lg-6 pr-xl-0 text-md-right text-mono f6-mktg mb-6 mb-lg-0 readme-artist-credit--guides" style="background-color:<%= hero_background %>;">
          Artwork: <%= link_to_if(story[:artist][:website].present?, story[:artist][:name], story[:artist][:website], target: "_blank", rel: "noopener") %>
        </p>
      <% end %>
    </div>
  </div>
</div>
