<% page_info \
  title: page_data[:story][:meta_title],
  description: page_data[:story][:meta_description],
  class: "readme-project header-overlay",
  richweb: {
    title: page_data[:story][:open_graph_title],
    url: request.original_url,
    description: page_data[:story][:open_graph_description],
    image: page_data[:story][:meta_image][:absolute_url]
  }
%>

<% content_for :head do %>
  <meta name="readme-story-name" content="<%= page_data[:story][:name] %>">
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= render "site/readme/shared/structured_data", url: readme_guide_url(page_data[:story][:slug]), name: page_data[:story][:heading] %>
  <%= article_structured_data_tag(
    headline: page_data[:story][:heading],
    publication_date: page_data[:story][:publication_date_iso8601],
    images: [page_data[:story][:hero_image]],
    authors: [page_data[:story][:author]]
  ) %>
<% end %>

<div class="js-details-container">
  <%= render "site/readme/guides/hero", story: page_data[:story] %>
  <%= render "site/readme/guides/bio", story: page_data[:story] %>

  <%= render "site/readme/shared/story_content", navigation_topics: page_data[:navigation_topics], story: page_data[:story], story_content_body: page_data[:story_content_body], has_approved_sponsors_account: false %>

  <% if page_data[:story][:bio].present? %>
    <%= render "site/readme/guides/postscript", bio: page_data[:story][:bio] %>
  <% end %>

  <%= render "site/readme/shared/story_footer", story: page_data[:story], contributing: page_data[:contributing], more_stories: page_data[:more_stories] %>
</div>
