<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="ml-1 mr-2 pl-2 mt-3 mb-2">
<div class="color-fg-muted d-block">Email</div>
<% if current_context.profile_email %>
  <p class="<%= current_context.email_verified? ? 'css-truncate css-truncate-target f4' : 'css-truncate css-truncate-target color-fg-muted' %>"  style="max-width:270px">
    <%= current_context.profile_email %>
  </p>
  <% if !current_context.email_verified? %>
    <% profile_email_verification = current_context.profile_email_verification %>
    <% if profile_email_verification.blank? %>
      <%= form_tag profile_emails_path(current_context), class: "d-inline-block ml-1" do %>
        <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :link)) { "Verify Email" } %>
      <% end %>
    <% else %>
      <%= form_tag resend_verification_request_profile_email_path(current_context, profile_email_verification), class: "d-inline-block ml-1" do %>
        <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :link)) { "Resend verification link" } %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p class="text-small color-fg-muted mt-1">Verified email</p>
<% end %>
</div>
