<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% page_info responsive: false, title: "GitHub Publisher Verification", selected_link: :publisher_settings %>
<%
  is_verified = (verification_state == Configurable::MarketplaceCreatorVerification::APPROVED)
  is_rejected = (verification_state == Configurable::MarketplaceCreatorVerification::REJECTED)
  is_applied = (verification_state == Configurable::MarketplaceCreatorVerification::APPLIED)
  is_default = (verification_state == Configurable::MarketplaceCreatorVerification::DEFAULT)
  creator = current_context
%>

<% render_layout = \
  if current_context.organization?
    ->(&blk) {
      render(layout: "orgs/settings/layout", &blk)
    }
  elsif current_context.user?
    ->(&blk) {
      render(layout: "settings/developer_settings", &blk)
    }
  end
%>

<%= render_layout.call do %>
  <% is_domain_verified = current_context.has_verified_domain? %>
  <% is_profile_details_complete = current_context.profile_complete? %>
  <% profile_error_message = current_context.profile_error %>

  <%= render Primer::Beta::Subhead.new(classes: "settings-next") do |component| %>
    <% component.with_heading(tag: :h2, font_size: 3) do %>Publisher Verification<% end %>
  <% end %>

  <% if is_applied %>
    <%= render Primer::Beta::Flash.new(display: :flex, classes: "flex-items-center") do %>
      <div class="float-left"> <%= render Primer::Beta::Octicon.new(icon: "info") %></div>
      <div class="flex-auto">
        <strong>Pending Verification. </strong>Your request will be reviewed by GitHub for verification.
        <div>
          We'll notify you via email with updates.
          <%= link_to "Learn more about publisher verification.", "#{GitHub.developer_help_url}/developers/github-marketplace/applying-for-publisher-verification-for-your-organization", class: "Link--inTextBlock" %>
        </div>
      </div>
      <div>
        <%= button_to settings_org_cancel_publisher_verification_path(creator_id: creator.id),
            form_class: "d-inline",
            class: "btn btn-sm ml-1",
            "aria-label": "Cancel verification" do %>Cancel Verification
        <% end %>
      </div>
    <% end %>
  <% elsif is_verified %>
    <div>Your publisher profile has been successfully verified. <%= link_to "Learn more about publisher verification.", "#{GitHub.developer_help_url}/developers/github-marketplace/applying-for-publisher-verification-for-your-organization", class: "Link--inTextBlock" %></div>
  <% elsif is_rejected %>
    <%= render Primer::Beta::Flash.new(scheme: :danger, mb: 3, mt: 3, display: :flex, classes: "flex-items-center") do %>
      <div class="float-left"> <%= render Primer::Beta::Octicon.new(icon: "info") %></div>
      <div class="flex-auto"><strong>Request rejected: </strong> We have notified you via email with updates. Please check the information and request again.</div>
    <% end %>
  <% elsif is_default%>
    <% if !current_context.is_org_app_listed? %>
      <%= render Primer::Beta::Flash.new(mb: 3, display: :flex, classes: "flex-items-center") do %>
        <div class="float-left"> <%= render Primer::Beta::Octicon.new(icon: "info") %></div>
        <div class="flex-auto">
          There must be 1 or more GitHub/OAuth App registered by the organization to request publisher verification
        </div>
      <% end %>
    <% end %>
    <p>You can request publisher verification for your organization. A <%= render(Primer::Beta::Octicon.new(icon: "verified", color: :accent, ml: 1)) %> badge will be added to your
    apps published in the marketplace, recognizing that apps and other published materials were created by you.</p>
    <%= link_to "Learn more about publisher verification.", "#{GitHub.developer_help_url}/developers/github-marketplace/applying-for-publisher-verification-for-your-organization", class: "Link--inTextBlock" %>
  <% end %>

  <% unless is_default && !current_context.is_org_app_listed? %>
    <% if is_default || is_rejected %>
      <p class="mt-3 f3">Checklist</p>
    <% end %>
    <div class="Box mt-3">
      <div class="Box-header color-bg-default">
        <div class="d-flex flex-items-center" >
          <div class="Box-btn-octicon btn-octicon">
            <%= marketplace_onboarding_status_icon(is_profile_details_complete) %>
          </div>
          <div class="flex-auto ml-1 pl-2">
            <strong>Profile details </strong>
            <div class="text-small color-fg-muted d-block">
              Valid profile picture, display name, location and verified email
            </div>
          </div>
          <%= link_to "Edit profile", settings_org_profile_path(current_context), class: "mt-1 btn ", "data-pjax" => true %>
        </div>
        <div class="Box mt-3 d-flex color-bg-subtle">
            <div class="float-right ml-3 mt-4 mb-2"><%= avatar_for current_context, 30, class: "v-align-middle" %></div>
            <div class="ml-1 mr-2 pl-2 mt-3 mb-2">
              <div class="color-fg-muted d-block">Display name</div>
              <% if current_context.profile_name %>
                <p class="css-truncate css-truncate-target f4" style="max-width:180px"><strong><%= current_context.profile_name %> </strong></p>
              <% else %>
                <p class="text-small color-fg-muted mt-1">Name</p>
              <% end %>
            </div>
            <div class="ml-1 mr-2 pl-2 mt-3 mb-2">
              <div class="color-fg-muted d-block">Location</div>
              <% if current_context.profile_location %>
                <p class="css-truncate css-truncate-target f4" style="max-width:150px"><%= current_context.profile_location %></p>
              <% else %>
                <p class="text-small color-fg-muted mt-1">Place</p>
              <% end %>
            </div>
            <%= render "orgs/publisher_verification/profile_email" %>
          </div>
          <% unless is_profile_details_complete %>
            <br>
            <div class="ml-5 text-small color-fg-danger d-block">
              <%= profile_error_message %>
            </div>
          <% end %>
      </div>
      <div class="Box-row color-bg-default d-flex flex-items-center">
        <div class="Box-btn-octicon btn-octicon">
          <%= marketplace_onboarding_status_icon(current_context.two_factor_requirement_enabled?) %>
        </div>
        <div class="flex-auto ml-1 pl-2">
          <strong>Two-factor authentication enabled</strong>
        </div>
        <%= link_to "Edit Security", settings_org_security_path(current_context), class: "mt-1 btn ", "data-pjax" => true %>
      </div>
      <div class="Box-row color-bg-default d-flex flex-items-center">
        <div class="Box-btn-octicon btn-octicon">
          <%= marketplace_onboarding_status_icon(is_domain_verified) %>
        </div>
        <div class="flex-auto ml-1 pl-2">
          <strong>Domain verification</strong>
          <div class="text-small color-fg-muted">Verify ownership of your domains and get a "verified" badge on the organization profile.</div>
        </div>
        <%= link_to "Review", settings_org_domains_path(current_context), class: "mt-1 btn ", "data-pjax" => true %>
      </div>
    </div>
  <% end %>

  <% if (is_default || is_rejected) && current_context.is_org_app_listed? %>
    <div class="mt-3">
      <%= button_to settings_org_verify_publisher_path(creator_id: creator.id, query: params[:query]),
          form_class: "d-inline",
          class: "btn btn-sm btn-primary #{'disabled' unless can_request_verification}",
          disabled: !can_request_verification,
          "aria-label": "Request verification" do %>Request Verification
      <% end %>
      <% if can_request_verification %>
        <span class="ml-1">Your request will be reviewed by GitHub. We'll notify you via email with updates.</span>
      <% else %>
        <span class="ml-1 color-fg-muted">You can request verification once all the items are checked.</span>
      <% end %>
    </div>
  <% end %>
<% end %>
