<% delete_dialog_id = "delete_copilot_coding_guideline_#{guideline.id}" %>
<% edit_href = edit_copilot_code_guideline_path(user_id: current_repository.owner, id: guideline) %>
<% enablement_href = copilot_code_guideline_enablement_path(user_id: current_repository.owner, copilot_code_guideline_id: guideline) %>

<% border_box.with_row(flex: 1, display: :flex, justify_content: :space_between, align_items: :center) do %>
  <%= render(Primer::Box.new(display: :flex, direction: :column)) do %>
    <%= render(Primer::Beta::Text.new(tag: :p, font_weight: :bold, mb: 1, test_selector: "coding-guideline")) do %>
      <%= render(Primer::Beta::Link.new(href: edit_href, scheme: :primary)) { guideline.name } %>
    <% end %>
    <%= render(Primer::Beta::Text.new(tag: :span, font_size: :small, color: :muted)) do %>
      Last detected never &middot; 0 detections in the last 30 days
    <% end %>
  <% end %>

  <%= render(Primer::Box.new(display: :flex, align_items: :center, classes: "gap-2")) do %>
    <%= render(Primer::Alpha::ToggleSwitch.new(
      src: enablement_href,
      checked: guideline.enabled?,
      "aria-label": "Copilot code guideline enablement",
    )) %>

    <%= render(Primer::Alpha::ActionMenu.new) do |menu| %>
      <% menu.with_show_button(
        icon: "kebab-horizontal",
        scheme: :invisible,
        "aria-label": "Show more actions",
      ) %>
      <% menu.with_item(
        label: "Edit",
        href: edit_href,
      ) %>
      <% menu.with_item(
        label: "Delete",
        scheme: :danger,
        content_arguments: { "data-show-dialog-id": delete_dialog_id },
      ) %>
    <% end %>

    <%= render(Primer::Alpha::Dialog.new(id: delete_dialog_id, size: :small, title: "Are you sure you want to delete this guideline?")) do |d| %>
      <%= form_tag copilot_code_guideline_path(user_id: current_repository.owner, id: guideline), method: :delete do %>
        <%= render(Primer::Alpha::Dialog::Body.new) do %>
          <p>Once deleted, this guideline will not be included in new reviews. Existing reviews will be unaffected.</p>
        <% end %>
        <%= render(Primer::Alpha::Dialog::Footer.new) do %>
          <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": delete_dialog_id })) { "Cancel" } %>
          <%= render(Primer::Beta::Button.new(scheme: :danger, type: :submit)) { "Delete" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
