<%= render(Primer::Alpha::Dialog.new(
  id: "add_file_path_dialog",
  title: "Include by pattern",
  subtitle: "Paths that match the matching pattern will be targeted by this guideline.",
  size: :small)) do |d| %>
  <%= form_tag "#", data: {action: "submit:copilot-coding-guideline-form#addRow"} do %>
    <%= render(Primer::Alpha::Dialog::Body.new(border: true, border_left: 0, border_right: 0, mt: 1, pt: 3)) do %>
      <%= render Primer::Alpha::TextField.new(
        name: "path",
        id: "path",
        label: "Path inclusion pattern",
        caption: "Example patterns: “main”, “releases/**/*”, “users/**/*”",
        data: {target: "copilot-coding-guideline-form.modalPathInput"}
      ) %>
      <div hidden
        class="FormControl-inlineValidation"
        aria-live="polite"
        data-target="copilot-coding-guideline-form.formErrorMessage">
        Path is required and can't have spaces
      </div>
    <% end %>
    <%= render(Primer::Alpha::Dialog::Footer.new(mt: 3)) do %>
      <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "add_file_path_dialog", "target": "copilot-coding-guideline-form.closeModalButton" })) { "Cancel" } %>
      <%= render(Primer::Beta::Button.new(scheme: :primary, type: :submit)) do %>
        Add inclusion pattern
      <% end %>
    <% end %>
  <% end %>
<% end %>
