<% page_info \
  container_xl: true,
  title: "Settings · Coding guidelines · #{current_repository.name_with_display_owner}",
  selected_link: :repo_settings_copilot_coding_guidelines %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render partial: "edit_repositories/copilot_code_guidelines/heading", locals: {breadcrumb_title: "New coding guideline"} %>

  <copilot-coding-guideline-form>
    <div class="d-flex width-full">
      <%= form_with model: coding_guideline,
          url: copilot_code_guidelines_path,
          class: "width-full",
          method: :post do |f| %>
        <%= render partial: "edit_repositories/copilot_code_guidelines/form", locals: {f:, suggestions:, coding_guideline:} %>
      <% end %>
    </div>
    <%= render partial: "edit_repositories/copilot_code_guidelines/path_modal" %>
  <copilot-coding-guideline-form>
<% end %>
