<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% row_id = "ssh-key-#{deploy_key.id}" %>
<li class="Box-row d-flex flex-items-center <%= "selected-user-key" if selected %>" id="<%= row_id %>">
  <span class="pl-2 pr-4 text-center d-flex flex-column">
    <% if !deploy_key.verified? %>
      <% key_class = "color-fg-danger" %>
    <% elsif deploy_key.recent? %>
      <% key_class = "color-fg-success" %>
    <% end %>
    <span class="js-user-key-icon <%= key_class unless key_class.nil? %>">
      <%= primer_octicon(:key, :height => 32) %>
    </span>
    <%= render Primer::Beta::Label.new(mt: 2) do %>SSH<% end %>
  </span>

  <span class="flex-auto Details min-width-0">
    <strong class="d-block"><%= deploy_key.title %></strong>
    <span>
      <code><%= deploy_key.fingerprint %></code>
    </span>
    <span class="color-fg-muted d-block">
      <%= key_created_at_description(deploy_key) %>
    </span>
    <span class="color-fg-muted d-block">
      <% if !deploy_key.verified? %>
        <span class="color-fg-danger js-unverified-user-key-notice"><%= deploy_key.unverification_explanation %></span>
      <% else %>
        <span class="<%= "recent-user-key-access" if deploy_key.recent? %>"><%= last_access_description(deploy_key, "key", "tooltipped-se") %></span>
      <% end %>
      <%= view.permissions_text(deploy_key) if defined? view %>
    </span>
  </span>

  <span class="d-flex border-bottom-0 flex-items-center">
    <div class="listgroup-item">
      <%= render layout: "shared/details_dialog", locals: {
          button_text: "Delete",
          button_class: "btn btn-sm btn-danger",
          title: "Are you sure you want to delete this SSH key?"
        } do %>
        <div class="Box-body overflow-auto ws-normal">
          <p>
            This action <strong>cannot</strong> be undone. This will permanently delete the SSH key, and if you’d like to use it in the future, you will need to upload it again.
          </p>
        </div>
        <div class="Box-footer">
          <%= form_tag resolve_key_path(deploy_key), method: :delete do %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true, "data-disable-with": "") do %>I understand, delete this SSH key<% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if !deploy_key.verified? %>
      <%= form_tag resolve_key_verify_path(deploy_key), :class => "js-verify-ssh-key" do %>
        <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, scheme: :primary, "data-disable-with": "Verifying…") do %>Approve<% end %>
      <% end %>
    <% end %>
  </span>
</li>
