<%# rubocop:disable Lint/InstanceVariable %>
<% @repo_settings_area = true %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <h1 class='sr-only'>Settings: <%= current_repository.name_with_display_owner %></h1>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
    <%= render(Primer::Alpha::Layout.new(stacking_breakpoint: :sm)) do |component| %>
      <% component.with_sidebar do %>
        <%= render partial: "navigation/edit_repository" %>
      <% end %>

      <% component.with_main(width: :md) do %>
        <%= yield %>
      <% end %>
    <% end %>
  </div>
<% end %>
