
  <div class="p-4 text-center rounded-2 color-shadow-medium mb-4 js-hero-listing-container color-bg-default" style="background-size: cover; background-position: center top;"> <%= marketplace_logo(name: action.name, logo_url: action.primary_avatar_url(62), bgcolor: action.icon_color, classes: "CircleBadge--medium CircleBadge--feature mx-auto js-hero-listing-bgcolor", by_github: false) %>
    <h3 class="h2 no-wrap js-hero-listing-name color-fg-default"><%= action.name %></h3>
  </div>

<div class="clearfix gutter">
  <div class="col-5 float-left">
    <%= file_attachment_tag(
      model: :avatars,
      class: "js-upload-avatar-image is-default",
      input: "logo-uploader",
      "data-alambic-owner-id": action.id,
      "data-alambic-owner-type": RepositoryAction.name,
      "data-alambic-organization": action.repository.name
    ) do %>
      <dl class="form-group required">
        <dt>
          <label for="logo-uploader">Logo</label>
        </dt>
        <dd>
          <div class="avatar-upload">
            <div class="clearfix">
              <input type="file" id="logo-uploader" class="form-control d-none">
              <label for="logo-uploader" class="btn">Upload file</label>

              <div class="upload-state loading">
                    <%= render Primer::Beta::Button.new(
                      tag: :a,
                      mr: [0, nil, 3, nil, nil],
                    ) do %><%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %> Uploading...<% end %>
              </div>
            </div>

            <div class="upload-state color-fg-danger file-empty">
              This file is empty.
            </div>

            <div class="upload-state color-fg-danger too-big">
              Please upload a picture smaller than 1 MB.
            </div>

            <div class="upload-state color-fg-danger bad-dimensions">
              Please upload a picture smaller than 10,000x10,000.
            </div>

            <div class="upload-state color-fg-danger bad-file">
              We only support PNG, GIF, or JPG pictures.
            </div>

            <div class="upload-state color-fg-danger failed-request">
              Something went really wrong and we can’t process that picture.
            </div>

            <div class="upload-state color-fg-danger bad-format">
              File contents don’t match the file extension.
            </div>
          </div>
        </dd>
      </dl>
    <% end %>
  </div>
</div>
