<% page_info \
    title: "Where open source communities live",
    class: "f4" %>

<div class="py-6 py-sm-8 py-lg-10 py-xl-12 jumbotron-codelines" <%= mktg_color_theme_attributes %>>
  <div class="container-lg p-responsive position-relative text-center">
    <h1 class="h2-mktg mb-4 col-md-9 color-fg-default mx-auto">The largest open&nbsp;source community in the&nbsp;world</h1>
    <p class="f3-mktg color-fg-muted mb-5 col-md-7 mx-auto">There are millions of open source projects on GitHub. Join&nbsp;one or start your own.</p>

    <%= render Site::ButtonComponent.new(
      text: "Sign up for GitHub",
      url: signup_path(source: "hero-opensource"),
      size: :large,
      analytics: {
        category: "Signup top",
        action: "Attempt",
        label: "text:Sign up for GitHub"
      }
    ) if !logged_in? %>
  </div>
</div>

<div class="py-7 py-md-8 py-lg-9">
  <div class="container-lg p-responsive">
    <h2 class="h3-mktg mt-3 mb-5 text-center col-md-8 mx-auto">
      Get the most out of open&nbsp;source
    </h2>
    <p class="f3-mktg color-fg-muted text-center mb-4 pb-md-4 col-md-8 mx-auto">
      Open source software is free for you to use and explore. Get involved to perfect your craft and be part of something big.
    </p>
    <div class="clearfix gutter-md-spacious">
      <div class="float-left col-md-4">
        <div class="clearfix mb-4 text-md-center">
          <div class="float-left mr-4 float-md-none mr-md-0 mb-md-3"><img src="<%= image_path "modules/site/icons/community-actions.svg" %>" alt="" loading="lazy"></div>
          <div class="overflow-hidden">
            <h3 class="h6-mktg mb-2">Shape the future of&nbsp;software</h3>
            <p class="color-fg-muted">Your contributions help make technology better for everyone, developers and non-developers&nbsp;alike.</p>
          </div>
        </div>
      </div>
      <div class="float-left col-md-4">
        <div class="clearfix mb-4 text-md-center">
          <div class="float-left mr-4 float-md-none mr-md-0 mb-md-3"><img src="<%= image_path "modules/site/icons/trophy.svg" %>" alt="" loading="lazy"></div>
          <div class="overflow-hidden">
            <h3 class="h6-mktg mb-2">Work with the best in the&nbsp;field</h3>
            <p class="color-fg-muted">Amazing developers use GitHub. Contribute code to projects that change how software&nbsp;is&nbsp;built.</p>
          </div>
        </div>
      </div>
      <div class="float-left col-md-4">
        <div class="clearfix mb-4 text-md-center">
          <div class="float-left mr-4 float-md-none mr-md-0 mb-md-3"><img src="<%= image_path "modules/site/icons/grow.svg" %>" alt="" loading="lazy"></div>
          <div class="overflow-hidden">
            <h3 class="h6-mktg mb-2">Grow your skills and help&nbsp;others</h3>
            <p class="color-fg-muted">Whatever your skill level, working on open source software is a great way to learn new&nbsp;things.</p>
          </div>
        </div>
      </div>
    </div>

    <%= render "site/open_source/guides_feature" %>
    <%= render "site/open_source/friday_feature" %>

    <div class="d-md-flex flex-items-center my-8">
      <div class="col-md-6 pr-md-4 text-center">
        <img src="<%= image_path "modules/site/open-source/survey.png" %>" alt="" loading="lazy" class="featurette-illo img-responsive">
      </div>
      <div class="col-md-6 text-center text-md-left">
        <h3 class="h5-mktg mb-3">Learn how others use and contribute to open&nbsp;source</h3>
        <p class="color-fg-muted mb-4">Browse data from over 3,800 projects on the experiences and backgrounds of those who use and build open source software.</p>

        <%= render Site::LinkComponent.new(text: "Read Open Source Survey", url: "https://opensourcesurvey.org/", size: :medium, underlined: true) %>
      </div>
    </div>
  </div>
</div>

<div class="py-7">
  <div class="container-lg p-responsive">
    <h2 class="h2-mktg mb-4">Join the community</h2>
    <p class="f3-mktg color-fg-muted mb-2 pb-md-4 col-md-8">Whether you are new to code or ready to start a big project, there are a few ways to get involved in open source.</p>

    <div class="d-md-table my-6 direction-md-rtl">
      <div class="d-md-table-cell v-align-middle col-md-6 text-center">
        <img src="<%= image_path "modules/site/open-source/ill-watch.png" %>" alt="" loading="lazy" class="featurette-illo img-responsive">
      </div>
      <div class="d-md-table-cell v-align-middle col-md-6 text-center text-md-left direction-md-ltr">
        <h3 class="h6-mktg mb-2">Follow open source projects</h3>
        <p class="color-fg-muted">Learn how developers build and maintain open source software. You can watch a project that interests you to see its progress as it happens.</p>
      </div>
    </div>

    <div class="d-md-table my-6">
      <div class="d-md-table-cell v-align-middle col-md-6 text-center">
        <img src="<%= image_path "modules/site/open-source/ill-experiment.png" %>" alt="" loading="lazy" class="featurette-illo img-responsive">
      </div>
      <div class="d-md-table-cell v-align-middle col-md-6 text-center text-md-left">
        <h3 class="h6-mktg mb-2">Build on great ideas</h3>
        <p class="color-fg-muted">You don’t have to build everything from scratch. Make copies of your favorite projects, experiment in private repositories, and tailor tools and features to meet your needs.</p>
      </div>
    </div>

    <div class="d-md-table my-6 direction-md-rtl">
      <div class="d-md-table-cell v-align-middle col-md-6 text-center">
        <img src="<%= image_path "modules/site/open-source/ill-giveback.png" %>" alt="" loading="lazy" class="featurette-illo img-responsive">
      </div>
      <div class="d-md-table-cell v-align-middle col-md-6 text-center text-md-left direction-md-ltr">
        <h3 class="h6-mktg mb-2">Contribute your skills</h3>
        <p class="color-fg-muted">Make a suggestion, fix a bug, improve documentation, or contribute code to a project. Even asking questions helps.</p>
      </div>
    </div>
  </div>
</div>

<div class="py-7 py-md-8 py-lg-9">
  <div class="container-lg p-responsive mb-6">
    <h2 class="h2-mktg text-center mb-5">The people behind the code</h2>
    <p class="f3-mktg color-fg-muted text-center mb-2 pb-md-4 col-md-8 mx-auto">
      Open source software is made by people just like you. Here’s how they got&nbsp;started.
    </p>
  </div>

  <% if stories && stories.length > 0 %>
    <% story = stories.take(1)[0] %>
    <div class="container-xl p-responsive">
      <div class="d-md-flex mb-5">
        <div class="col-md-4 d-block dots-4 color-bg-default p-5 p-md-6">
          <h3 class="h6-mktg"><%= story[:name] %></h3>
          <p class="my-3 color-fg-muted">
            <%= story[:subheading] %>
          </p>
          <a href="<%= story[:url] %>"  class="d-flex width-full f5 border-top flex-justify-between py-3 color-fg-accent">
            Read more <%= svg("site/icons/chevrow.svg", class: "mt-1") %>
          </a>
        </div>
        <div class="col-md-8 p-0">
          <div class="video-responsive">
            <img src="<%= story[:hero_image][:url] %>" width="2000" height="1200" class="rounded-2 width-full height-auto" alt="" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="container-lg p-responsive mt-8">
    <% if stories && stories.length > 1 %>
      <div class="d-flex flex-wrap flex-justify-center gutter-md-spacious mb-3">
        <% stories.drop(1).take(3).each do |story| %>
          <article class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column py-2 py-md-3">
            <a
              href="<%= story[:url] %>"
              class="arrow-target-mktg customer-story-card color-bg-default rounded px-3 pt-3 no-underline d-flex flex-column position-relative height-full"
            >
              <div class="customer-story-card-hero position-relative rounded overflow-hidden">
                <img src="<%= story[:thumbnail][:url] %>" width="177" height="214" class="rounded-2 width-full height-auto" alt="" loading="lazy">
              </div>

              <div class="pt-3 d-flex flex-column flex-auto">
                <h3 class="h6-mktg color-fg-default mb-2"><%= story[:name] %></h3>

                <p class="color-fg-muted f6 flex-auto">
                  <%= story[:subheading]%>
                </p>

                <div class="d-flex width-full f5 border-top flex-justify-between py-3 color-fg-accent">
                  Read more <%= svg("site/icons/chevrow.svg", class: "mt-1") %>
                </div>
              </div>
            </a>
          </article>
        <% end %>
      </div>
    <% end %>

    <p class="text-center mb-3">
      <%= render Site::LinkComponent.new(text: "Read more developer stories", url: "/readme/stories", size: :medium, underlined: true) %>
    </p>
  </div>
</div>

<div class="py-7 py-md-8 py-lg-9 color-bg-subtle">
  <div class="container-lg p-responsive">
    <h2 class="h2-mktg mb-4 text-center mt-5">Explore millions of projects</h2>
    <p class="f3-mktg color-fg-muted text-center mb-2 pb-md-4 col-md-8 mx-auto">
      Whatever your interest—whether it’s mobile apps or astrophysics—there’s an open source project for&nbsp;you.
    </p>
    <div class="mb-4 text-center">
      <a class="mb-3" href="//github.com/microsoft/vscode" aria-label="Microsoft/vscode on GitHub"><img src="<%= image_path "modules/site/logos/visualstudio-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
      <a class="mb-3" href="//github.com/facebook" aria-label="Facebook on GitHub"><img src="<%= image_path "modules/site/logos/facebook-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
      <a class="mb-3" href="//github.com/emberjs" aria-label="Emberjs on GitHub"><img src="<%= image_path "modules/site/logos/ember-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
      <span class="d-inline-block">
        <a class="mb-3" href="//github.com/apple/swift" aria-label="Apple/swift on GitHub"><img src="<%= image_path "modules/site/logos/swift-logo.png?sn?sn" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
        <a class="mb-3" href="//github.com/nasa" aria-label="Nasa on GitHub"><img src="<%= image_path "modules/site/logos/nasa-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
        <a class="mb-3" href="//github.com/google" aria-label="Google on GitHub"><img src="<%= image_path "modules/site/logos/google-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
      </span>
      <span class="d-inline-block">
        <a class="mb-3" href="//github.com/rails" aria-label="Rails on GitHub"><img src="<%= image_path "modules/site/logos/rails-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
        <a class="mb-3" href="//github.com/jquery" aria-label="Jquery on GitHub"><img src="<%= image_path "modules/site/logos/jquery-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
        <a class="mb-3" href="//github.com/twbs" aria-label="Twbs on GitHub"><img src="<%= image_path "modules/site/logos/bootstrap-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
        <a class="mb-3" href="//github.com/docker" aria-label="Docker on GitHub"><img src="<%= image_path "modules/site/logos/docker-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
        <a class="mb-3" href="//github.com/nodejs" aria-label="Nodejs on GitHub"><img src="<%= image_path "modules/site/logos/node-logo.png" %>" alt="" loading="lazy" class="logo-img logo-img-lg"></a>
      </span>
    </div>

    <p class="text-center mt-5 mb-7">
      <%= render Site::ButtonComponent.new(text: "Start exploring now", url: "/explore", size: :large, scheme: :muted) %>
    </p>

    <div class="clearfix gutter-md-spacious mt-6">
      <div class="float-left col-md-6 mb-6 text-center text-md-left">
        <h3 class="f3-mktg color-fg-muted mb-3"><%= primer_octicon(:code, height: 40, mr: 1, mb: 2, vertical_align: :middle, "aria-hidden": true) %><span class="sr-only">Coded</span> with <%= primer_octicon(:heart, height: 40, mr: 1, mb: 2, vertical_align: :middle, "aria-hidden": true) %><span class="sr-only">love</span> by <%= primer_octicon(:"logo-github", height: 35, ml: 1, mb: 2, vertical_align: :middle, "aria-hidden": true) %><span class="sr-only">GitHub</span></h3>
        <p class="color-fg-muted">We’re building developer tools alongside you. We hope they help you perfect your process, work on projects of any size, and share ideas with your friends and coworkers. Take them for a spin or <a href="//github.com/github" class="Link--inTextBlock no-wrap">help us build them</a>.</p>
      </div>
      <div class="float-left col-md-6 mt-2">
        <div class="clearfix">
          <div class="float-left featurette-benefit-img"><img src="<%= image_path "modules/site/logos/hubot-logo.png" %>" alt="" loading="lazy" class="featurette-icon"></div>
          <div class="overflow-hidden pb-4 pl-4">
            <h4 class="h6-mktg mb-1"><a href="//hubot.github.com" target="_blank">Hubot</a></h4>
            <p class="color-fg-muted">Hubot is a chat bot, modeled after GitHub’s Campfire bot, hubot. He’s pretty cool. He’s extendable with scripts and can work on many different chat services.</p>
          </div>
        </div>
        <div class="clearfix">
          <div class="float-left featurette-benefit-img"><img src="<%= image_path "modules/site/logos/lfs-logo.png" %>" alt="" loading="lazy" class="featurette-icon"></div>
          <div class="overflow-hidden pl-4 pb-0">
            <h4 class="h6-mktg mb-1"><a href="//git-lfs.github.com" target="_blank">Git Large File Storage</a></h4>
            <p class="color-fg-muted">Git LFS is a command line extension and specification for managing large files with Git. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-7 py-md-8 py-lg-9 border-top border-bottom">
  <div class="container-lg p-responsive">
    <div class="text-center mx-auto">
      <% if !logged_in? %>
      <h2 class="h4-mktg mb-3">
        Get started for free
      </h2>
      <p class="f3-mktg color-fg-muted text-center mb-2 pb-md-4 col-md-8 mx-auto">
        Public and open source projects are free to start, maintain, and contribute to. Add advanced collaboration tools to your private repositories for $7/month.
      </p>
      <p class="f3 mb-6">
        <%= render Site::ButtonComponent.new(
          text: "Sign up for GitHub",
          url: signup_path(source: "button-opensource"),
          size: :large,
          analytics: {
            category: "Signup bottom",
            action: "Attempt",
            label: "text:Sign up for GitHub"
          }
        ) %>
      </p>
      <% end %>

      <h2 class="h4-mktg mb-3 pt-6">Stay in touch</h2>
      <p class="f3-mktg color-fg-muted text-center mb-2 col-md-8 mx-auto">
        Be the first to hear about GitHub’s latest open source tips and resources.
      </p>
      <div class="col-md-8 col-lg-6 col-xl-5 mx-auto my-5 p-5 color-bg-subtle Box" id="mc_embed_signup">
        <%= form_tag "//github.us11.list-manage.com/subscribe/post?u=9d7ced8c4bbd6c2f238673f0f&amp;id=b514344ba3",
              :method => :post,
              :id => "mc-embedded-subscribe-form",
              :name => "mc-embedded-subscribe-form",
              :target => "_blank",
              :novalidate => "novalidate" do %>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL" class="d-inline-block mb-4 h6-mktg">Your email address</label>
            <input type="email" placeholder="email@example.com" value="" name="EMAIL" class="form-control input-block input-contrast f4 mb-3 color-bg-default" id="mce-EMAIL">
            <input type="checkbox" value="8" name="group[9617][8]" id="mce-group[9617]-9617-3" checked style="display:none">
            <input type="submit" value="Sign up for updates" name="subscribe" id="mc-embedded-subscribe" class="btn-mktg btn-large-mktg" <%= safe_analytics_click_attributes(category: "Email updates", action: "click", label: "text:Sign up for updates") %>>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
