<div class="mt-5 mb-3">
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Access and cost control
    <% end %>
  <% end %>
</div>

<%= render Codespaces::PrebuildConfigurations::TriggerOptionsComponent.new(
  form: form,
  repo: repo,
  trigger: trigger,
  delivery_days: delivery_days,
  delivery_times: delivery_times,
  time_zone_name: time_zone_name
)%>
<%= render Codespaces::PrebuildConfigurations::RegionSelectComponent.new(
  form: form,
  repo: repo,
  selected_locations: selected_locations,
  all_locations_selected: all_locations_selected
)%>
<%= render Codespaces::PrebuildConfigurations::DeveloperOptionsComponent.new(
  form: form,
  repo: repo,
  vscs_target_options: vscs_target_options,
  selected_target_name: selected_target_name,
  vscs_target_url: vscs_target_url,
)%>
<%= render Codespaces::PrebuildConfigurations::TemplateVersionComponent.new(
  form: form,
  repo: repo,
  maximum_template_versions: maximum_template_versions
)%>
<% if repo.feature_enabled?(:codespaces_prebuild_runner_choice) %>
  <%= render Codespaces::PrebuildConfigurations::RunnerGroupComponent.new(
    form: form,
    repo: repo,
    runner_group_options: runner_group_options,
  )%>
<% end %>
