<div class="mt-5 mb-3" id="advanced-options" style="display: none">
<%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Advanced options
    <% end %>
   <% end %>
   <div class="color-fg-muted">
   <%= disable_optimization_msg %>
   <a href="https://aka.ms/ghcs-prebuild-optimization" target="_blank">Learn about prebuild optimization</a>
  </div>
  <div class="form-checkbox">
    <label aria-live="polite">
      <%= form.check_box('disable_fast_path', { class: "form-checkbox-details-trigger", checked: !fast_path_enabled}, true, false) %>
      Disable prebuild optimization
      <p class="note">
      <%= disable_optimization_msg_note %>
      </p>
    </label>
  </div>
</div>
<div>
  <button class="js-codespaces-toggle-advanced-options float-right color-fg-accent color-bg-default" id="toggle-advanced-options" type="button" style="border: none;"><%= show_advanced_options_msg %></button>
   <input type="hidden" class="js-message js-show-options" prebuild-show-advanced-options="<%= show_advanced_options_msg %>" name="show-advanced-options" >
   <input type="hidden" class="js-message js-hide-options" prebuild-hide-advanced-options="<%= hide_advanced_options_msg %>" name="hide-advanced-options" >
   <br>
</div>


