<div class="mt-5 mb-3">
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Configuration
    <% end %>
  <% end %>
</div>
<div class="color-fg-muted mb-3">
  Your prebuild will be built from the branch and configuration file selected below. Learn more about
  <a class="Link--inTextBlock" href="https://docs.github.com/codespaces/prebuilding-your-codespaces/configuring-prebuilds" target="_blank">prebuild configuration.</a>
</div>
<div style="display: flex">
  <div style="margin-right: 20px" id="update-configuration" data-controller-path-update-config="<%= update_config_info_codespaces_prebuild_configurations_path(repository.owner, repository) %>">
  <%= csrf_hidden_input_for update_config_info_codespaces_prebuild_configurations_path(repository.owner, repository), id: "update-config-csrf", class: "js-data-check-url-csrf" %>
    <%= render Codespaces::Forms::BranchSelectComponent.new(
      repository: repository,
      form: form,
      initial_branch_ref: initial_branch_ref,
      cache_key: cache_key,
      default_branch: default_branch,
    )%>
  </div>
  <%= render Codespaces::PrebuildConfigurations::DevcontainerPathSelectComponent.new(
      repository: repository,
      initial_branch_ref: initial_branch_ref,
      devcontainer_path: devcontainer_path,
  )%>
</div>
