<%# erblint:counter DeprecatedComponentsCounter 1 %>
  <div id = "devcontainer-path-select">
  <% if initial_branch_ref.present? %>
    <details class="details-reset details-overlay position-relative">
    <%= render Primer::ButtonComponent.new(tag: :summary, display: :flex, variant: :small, classes: "css-truncate") do %>
        Configuration File:&nbsp;
        <span data-menu-button class="text-normal css-truncate-target">
            <%= devcontainer_path.presence || DEFAULT_CODESPACES_CONFIGURATION %>
          </span>
        <span class="dropdown-caret float-right mt-2"></span>
      <% end %>
      <% if pickable_devcontainers.length == 1 && Codespaces::DevContainer::PATHS.include?(pickable_devcontainers.first.path) %>
        <details-menu class="select-menu-modal right-0" style="z-index: 99; min-width: 220px;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-list" id="devcontainer-path-menu-list">
            <label class="select-menu-item selected" aria-checked="true" tabindex="0" role="menuitemradio">
            <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">
            <input type="radio" name="codespaces_prebuild_configuration[devcontainer_path]" value="<%= devcontainer_path %>" checked hidden>
            <span class="select-menu-item-text text-normal" data-menu-button-contents><%= devcontainer_path %></span>
            </div>
          </label>
        </div>
      </details-menu>
      <% else %>
        <details-menu class="select-menu-modal right-0" style="z-index: 99; min-width: 220px;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-list" id="devcontainer-path-menu-list">
          <% if pickable_devcontainers.length == 0 || pickable_devcontainers.none? { |dc| Codespaces::DevContainer::PATHS.include?(dc.path) } %>
              <label class="select-menu-item" aria-checked="<%= devcontainer_path.blank? %>" tabindex="0" role="menuitemradio">
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                <div class="select-menu-item-text">
                <input type="radio" name="codespaces_prebuild_configuration[devcontainer_path]" value="" <% if devcontainer_path.blank? %>checked<% end %> hidden>
                <span class="select-menu-item-text text-normal" data-menu-button-contents><%= DEFAULT_CODESPACES_CONFIGURATION %> </span>
                </div>
              </label>
          <% end %>
          <% pickable_devcontainers.each do |devcontainer| %>
            <label class="select-menu-item" aria-checked="<%= devcontainer_path == devcontainer.path %>" tabindex="0" role="menuitemradio">
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                <div class="select-menu-item-text">
                  <input type="radio" name="codespaces_prebuild_configuration[devcontainer_path]" value="<%= devcontainer.path %>" <% if devcontainer_path == devcontainer.path %>checked<% end %> hidden>
                    <span class="select-menu-item-text text-normal" data-menu-button-contents><%= devcontainer.path %></span>
                </div>
            </label>
          <% end %>
        </div>
      </details-menu>
      </details>
    <% end %>
  <% end %>
</div>
