<div class="my-3" <%= test_selector "developer-options" %>>
  <%= render(Primer::Beta::Heading.new(tag: :h4, mb: 2)) { "VSCS target" } %>

  <div class="Box Box--condensed">
    <% vscs_target_options.each do |target| %>
      <div class="Box-row js-codespaces-prebuilds-vscs-targets">
        <label>
          <%= form.radio_button(
            :vscs_target,
            vscs_target_name(target),
            {
              class: "js-codespaces-prebuilds-vscs-target mr-1 #{"form-checkbox-details-trigger" if local_target?(target)}",
              checked: selected_vscs_target?(target),
              "data-codespace-geos": geos_by_vscs_target(vscs_target_name(target)),
            },
          ) %>

          <span><%= vscs_target_display_name(target) %></span>

          <% if local_target?(target) %>
            <div class="my-3 form-checkbox-details">
              <label>VSCS target url</label>
              <%= form.url_field(
                :vscs_target_url,
                placeholder: "Required if target is local",
                class: "form-control input-block mt-2",
                value: vscs_target_url
              ) %>
            </div>
          <% end %>

        </label>
      </div>
    <% end %>
  </div>
</div>

