<%= render Primer::Box.new(classes: 'js-settings-partial', id: 'notify-options') do %>
  <input type="hidden" class="js-flash-error js-message" prebuild-data-error-message="An unknown error occurred. Please try again later." name="flash-error" value="<%= defined?(flash_error) && flash_error %>">
<div class="mt-5 mb-3" <%= test_selector "notify-options" %>>
<%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Failure notifications
    <% end %>
   <% end %>
  <div class="color-fg-muted">
   You can specify users or teams to be notified via e-mail when prebuilds for this particular configuration fail.
  </div>
  <br>
    <div>
      <div class="input-group width-full">
        <auto-complete src="<%= suggested_notifiers_codespaces_prebuild_configurations_path(repo.owner, repo) %>"
          for="prebuild-notify-complete-results"
          class="auto-search-group d-block">
          <input type="text" name="user" data-controller-path-prebuild-update-actors="<%= update_notifiers_codespaces_prebuild_configurations_path(repo.owner, repo)  %>" aria-label="Search by username, full name, or team name"
            class="form-control input-block input-contrast auto-search-input new-member-field"
            placeholder="Add by username, full name, or team name">
          <%= csrf_hidden_input_for update_notifiers_codespaces_prebuild_configurations_path(repo.owner, repo), id: "update-notifiers-csrf", class: "js-data-check-url-csrf" %>
          <%= primer_octicon(:person) %>
          <ul id="prebuild-notify-complete-results" class="m-0 autocomplete-results"></ul>
        </auto-complete>
    </div>
  </div>
</div>
  <div <%= test_selector "prebuild-notify-settings" %>>
  <% if users_to_notify.count.nonzero? || teams_to_notify.count.nonzero? %>
      <ul class="js-tag-input-selected-tags" id="actors-to-notify">
      <% users_to_notify.each do |member| %>
        <%= render layout: "codespaces/prebuild_configurations/add_user_to_notify", formats: :html, locals: {
          user: member,
          actor_link: member.spammy? ? nil : user_path(member),
          actor_link_data_options: hovercard_data_attributes_for_user(member),
          display_login: member.display_login
        } do %>
        <% end %>
      <% end %>
      <% teams_to_notify.each do |team| %>
        <%= render layout: "codespaces/prebuild_configurations/add_user_to_notify", formats: :html, locals: {
          team: team,
          actor_link: team_path(team),
          actor_link_data_options: hovercard_data_attributes_for_team(team),
          slug: team.slug
        } do %>
        <% end %>
      <% end %>
    </ul>
    <% else %>
      <%= render Primer::Beta::Blankslate.new(narrow: true) do |c| %>
        <% c.with_visual_icon(icon: "people") %>

        <% c.with_heading(tag: :h4) do %>
          You haven't added anyone yet
        <% end %>

        <% c.with_description do %>
          Add members to receive email notifications when prebuilds fail for this configuration
        <% end %>
      <% end %>
    <% end %>
  </div>
  <br>
<% end %>
