<div class="mt-5 mb-3">
  <%= render(Primer::Beta::Heading.new(tag: :h4)) { "Region availability" } %>
</div>

<div class="form-checkbox">
  <label aria-live="polite">
    <%= form.check_box('location_preference', { class: "form-checkbox-details-trigger js-codespaces-prebuilds-specific-regions", checked: !all_locations_selected }, Codespaces::PrebuildConfigurationLocation::SPECIFIC_LOCATIONS, Codespaces::PrebuildConfigurationLocation::ALL_LOCATIONS) %>
    <% if GitHub.flipper[:codespaces_developer].enabled?(current_user) %>
      <input type='hidden' id='vscs_developer_target_location_input' name= '<%= form.object_name %>[vscs_developer_target_location_input]' disabled>
    <% end %>
    Reduce prebuild availability to only specific regions
    <p class="note">
      By default, your prebuilt image will be available to all regions where codespaces are available and storage costs will apply for each region. You can adjust this to manage your storage usage.
       <a class="Link--inTextBlock" href="https://docs.github.com/codespaces/prebuilding-your-codespaces/about-codespaces-prebuilds#about-billing-for-codespaces-prebuilds" target="_blank">Learn about region availability</a>
    </p>
    <span class="Box mt-2 form-checkbox-details text-normal">
      <%# use vscs_target: :production so we render all geos, then disable them specifically with JS %>
      <% Codespaces::Locations::Geo.where(vscs_target: :production).each do |geo| %>
        <div class="Box-row pl-2" >
          <label>
            <%= form.check_box('locations', { multiple: true, class: "mx-2 js-codespaces-prebuilds-locations", checked: selected_locations.include?(geo.id), "data-originally-checked": selected_locations.include?(geo.id)}, geo.id, false )%>
            <%= geo.name %>
            <% if GitHub.flipper[:codespaces_developer].enabled?(current_user) %>
              <span class="js-codespaces-prebuilds-vscs-location-unavailable color-fg-subtle text-small text-normal" hidden> (Unavailable for selected VSCS target)</span>
            <% end %>
          </label>
        </div>
      <% end %>
    </span>
  </label>
</div>

