<div class="mt-5 mb-3" <%= test_selector "trigger-options" %>>
  <%= render(Primer::Beta::Heading.new(tag: :h4)) { "Prebuild triggers" } %>
  <div class="color-fg-muted">
   You can specify how often to prebuild your codespace based on changes to your repository or a schedule to manage Actions usage.
   <a class="Link--inTextBlock" href="https://docs.github.com/codespaces/prebuilding-your-codespaces/configuring-prebuilds" target="_blank">Learn about prebuild triggers</a>
  </div>
  <div class="mt-3">
    <%= render(Primer::Alpha::RadioButtonGroup.new(name: "codespaces_prebuild_configuration[trigger]")) do |component| %>
      <% component.radio_button(label: "Every push", value: :push, caption: "Your codespace will prebuild on every push to this branch", checked: selected_trigger?(:push), class: "js-codespaces-prebuilds-trigger") %>
      <% component.radio_button(label: "Configuration change", value: :configuration, caption: "Your codespace will prebuild when a change is detected on the devcontainer.json and associated configuration files", checked: selected_trigger?(:configuration), class: "js-codespaces-prebuilds-trigger") %>
      <% component.radio_button(label: "Scheduled", value: :schedule, caption: "Your codespace will prebuild on a schedule", checked: selected_trigger?(:schedule), class: "js-codespaces-prebuilds-trigger") %>
    <% end %>
    <div <%= test_selector "schedule-options" %> id="codespaces_prebuild_configuration_schedule"<%= (!selected_trigger?(:schedule) ? "hidden" : nil) %>>
      <dl class="form-group js-day-form-group">
        <dt>Days</dt>
        <dd>
          <%= render partial: "codespaces/prebuild_configurations/day_select", locals: { summary_text: delivery_days_text, day_options: day_options, form: form } %>
        </dd>
        <dd class="error">You must select at least one day</dd>
      </dl>
      <dl class="form-group js-time-form-group">
        <dt>Times</dt>
        <dd class="d-flex">
          <%= render partial: "codespaces/prebuild_configurations/time_select", locals: {time_options: time_options, form: form } %>
          <%= render partial: "codespaces/prebuild_configurations/time_zone_select", locals: { timezone_options: timezone_options,  form: form } %>
        </dd>
        <dd class="error">You must select at least one time</dd>
      </dl>
    </div>
  </div>
</div>

