<% if unauthorized_accounts_by_policy.any? %>
  <div class="<%= container_classes %>">
    <%# Unified SAML banner component %>
    <% if grouped_unauthorized_saml_targets.present? %>
      <div class="mb-1">
        <section aria-label="Single sign on information">
          <%= render Primer::Alpha::Banner.new(icon: "shield-lock") do |banner| %>
            <div>
              <% if grouped_unauthorized_saml_targets.size == 1 %>
                <p>
                  <a class="Link--inTextBlock" href="<%= restricted_raw_path(:saml, grouped_unauthorized_saml_targets.first, (return_to || request.url)) %>">Single sign on</a>
                  <span>to see results in the</span>
                  <b><%= grouped_unauthorized_saml_targets.first.name %></b>
                  <span>organization.</span>
                </p>
              <% else %>
                <p>
                  <span>Single sign on to see results in the</span>
                  <%= saml_accounts_text %>
                </p>
              <% end %>
              <% if grouped_unauthorized_saml_targets.count > 1 %>
                <% banner.with_action_content do %>
                  <%= render Primer::Alpha::ActionMenu.new(test_selector: "sso-action-menu") do |menu| %>
                    <% menu.with_show_button(size: :small) do |button| %>
                      <% button.with_trailing_action_icon(icon: :"triangle-down") %>
                      Select an organization
                    <% end %>
                    <% grouped_unauthorized_saml_targets.each do |target| %>
                      <% menu.with_item(
                        label: target.name,
                        test_selector: "sso-action-menu-item",
                        tag: :a,
                        href: restricted_raw_path(:saml, target, (return_to || request.url)),
                      ) %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </section>
      </div>
    <% end %>

    <%# Individual banner components %>
    <% unauthorized_accounts_for_banner.each do |policy, unauthorized_account| %>
      <% target_for(unauthorized_account, policy).each do |target| %>
        <%= content_tag(tag, class: classes) do %>
          <div class="d-flex <%= inner_classes %>" <%= test_selector("conditional-access-unauthorized-target-list") %>>
            <%= render Primer::Beta::Octicon.new(
              icon: "shield-lock",
              color: :muted,
              aria: { hidden: true },
              **icon_arguments
            ) %>
            <p class="note m-0">
              <%= restricted_policy_link(
                target,
                policy: policy,
                resource_label: "#{resource_label}",
                return_to: (return_to || request.url),
                join_word: "within",
              ) %>
            </p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
