<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div
  class="Box-row js-socket-channel js-updatable-content"
  data-channel="<%= live_update_view_channel(@check_run.channel) %>"
  data-url="<%= check_run_item_partial_path(user_id: @check_run.repository.owner, repository: @check_run.repository, check_run_id: @check_run.id, :os_icon => @os_icon) %>"
   <%= test_selector("check-run-item") %>
>
    <div class="d-flex">
      <div class="col-12 d-flex flex-column flex-md-row flex-md-justify-between mr-3 pl-4 position-relative">

        <div class="position-absolute left-0 checks-list-item-icon text-center">
          <%= render Actions::WorkflowRuns::StatusComponent.new(
            conclusion: @check_run.conclusion,
            status: @check_run.status,
            is_job: true,
            size: 16,
            style: "margin-top: 2px",
          ) %>
        </div>

        <div>
          <div class="h4 d-flex text-bold lh-condensed mb-1 width-full">
            <% unless @os_icon.nil? || @os_icon.empty? %>
              <% if @os_icon == :linux %>
                <%= svg("modules/actions/actions-os-icon-linux.svg", data: {"test-selector": "os-icon"}) %>
              <% elsif @os_icon == :macos %>
                <%= svg("modules/actions/actions-os-icon-macos.svg", data: {"test-selector": "os-icon"}) %>
              <% elsif @os_icon == :windows %>
                <%= svg("modules/actions/actions-os-icon-windows.svg", data: {"test-selector": "os-icon"}) %>
              <% else %>
                <%= render(Primer::Beta::Octicon.new(icon: :unverified, test_selector: "os-icon")) %>
              <% end %>
            <% end %>

            <h4>
              <%= render Primer::Beta::Link.new(
                muted: false,
                scheme: :primary,
                href: @check_run.permalink,
                mr: 2,
              ).with_content("#{@check_run.check_suite.name } / #{@check_run.display_name}") %>
            </h4>

            <% unless @check_run.workflow_job_run.nil? || @check_run.workflow_job_run.label_data.nil? || @check_run.workflow_job_run.label_data.empty? %>
              <% @check_run.workflow_job_run.label_data.each do |label| %>
                <%= render Primer::Beta::Label.new(
                    mr: 1,
                    scheme: :secondary,
                    title: "Label: #{label}",
                  ).with_content(label)
                %>
              <% end %>
            <% end %>
          </div>
          <div class="text-small color-fg-muted">
            <%= @check_run.repository.name_with_display_owner %>
          </div>
        </div>

        <div class="text-small mt-1 d-flex flex-md-column mt-md-0 col-md-2">
          <span class="mr-2 mb-md-1 mr-md-0">
            <%= render Actions::Runners::RunStartTimeComponent.new(started_at: @check_run.started_at) %>
          </span>
          <%= render Actions::Runners::RunTimeToCompleteComponent.new(time_to_complete: @check_run.duration, status: (@check_run.conclusion || @check_run.status) ) %>
        </div>
      </div>

      <div class="d-flex flex-column flex-justify-center text-small">
        <div>

          <div class="text-right">
            <details class="details-overlay details-reset position-relative d-inline-block ">
              <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "timeline-comment-action", "aria-haspopup": "menu") do %>
                <%= render Primer::Beta::Octicon.new(icon: "kebab-horizontal", aria: { label: "Show options", hidden: false }) %>
              <% end %>

              <ul class="dropdown-menu dropdown-menu-sw show-more-popover color-fg-default anim-scale-in" style="width: 185px">
                <% if check_run.check_suite.cancelable? %>
                  <li>
                    <%= form_tag cancel_check_suite_path(check_run.check_suite, user_id: check_run.repository.owner, repository: check_run.repository), method: :put do %>
                      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, classes: "dropdown-item menu-item-danger") do %>Cancel run<% end %>
                    <% end %>
                  </li>

                  <li role="none" class="dropdown-divider"></li>
                <% end %>

                <li>
                  <% unless @check_run.check_suite.workflow_run.nil? %>
                    <%= render Primer::ButtonComponent.new(
                        tag: :a,
                        href: workflow_run_file_path(user_id: @check_run.repository.owner, repository: @check_run.repository, workflow_run_id: @check_run.check_suite.workflow_run.id),
                        scheme: :link,
                        classes: "dropdown-item",
                        test_selector: "view-workflow-file",
                      ).with_content("View workflow file")
                    %>
                  <% end %>
                </li>

              </ul>
            </details>
          </div>
        </div>
      </div>
    </div>
</div>
