<%# erblint:counter ClipboardCopyComponentMigrationCounter 1 %>
<div class="color-bg-subtle border-0 rounded-2 p-3" <%= test_selector("runner-code-component") %>>
  <code class="f6 p-0 lh-default">
    <% @commands.each do |command| %>
      <span class="color-fg-muted px-2">
        // <%= command[:desc] %>
      </span>
      <br>
      <clipboard-copy
        class="js-clipboard-copy d-block CopyBlock position-relative px-2 py-1 tooltipped-no-delay"
        data-copy-feedback="Copied!"
        data-tooltip-direction="ne"
        role="button"
        tabindex="0"
        for="<%= dom_id(command) %>"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        <span class="color-fg-muted">$</span>
        <span id="<%= dom_id(command) %>"><%= command[:body] || safe_join(command[:body_arr], "") %></span>
        <%= render Primer::Beta::Octicon.new(
          icon: "copy",
          classes: "js-clipboard-copy-icon",
          color: :accent, position: :absolute, mr: 1, mt: 1, top: false, right: false,
        ) %>
        <%= render Primer::Beta::Octicon.new(
          icon: "check",
          classes: "js-clipboard-check-icon",
          color: :success, position: :absolute, mr: 1, mt: 1, top: false, right: false, display: :none,
        ) %>
      </clipboard-copy>
    <% end %>
  </code>
</div>
