<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="d-flex flex-column">
  <div class="d-flex">
    <div class="col-2 text-bold pb-2">
      Configuration:
    </div>
    <div>
      <%= @runner.os %> <%= @runner.arch %>
    </div>
  </div>
  <% if !@restricted_plan && @owner_settings.settings_owner_type != "repository"%>
    <div class="mt-2 mb-2">
      <%= form_for :runner, url: @owner_settings.update_runner_path(id: @runner.id), :method => :put do %>
        <input type="hidden" name="runner_id" value="<%= @runner.id %>">
        <%= render GitHub::MenuComponent.new(
          title: "Move runner to group",
          src: @owner_settings.runner_groups_menu_path,
          filterable: true,
          )  do |menu| %>
            <% menu.with_summary do %>
              <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button") do %>
                <span>Runner group: </span><span class="text-bold"><%= @runner_group.name %></span>
              <% end %>
            <% end %>
        <% end %>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>

<div class="d-flex flex-column pt-2">
  <div class="col-2 text-bold mb-3 h5">
    Labels
  </div>
  <div class="text-small color-fg-muted">
    <div>Labels are values used with the <code>runs-on:</code> key in your workflow's YAML to send jobs to specific runners. To copy a label, click on it. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/hosting-your-own-runners/using-labels-with-self-hosted-runners">Learn more about labels.</a></div>
  </div>
  <div class="d-flex pt-3">
    <div class="d-table-cell">
      <% @runner.labels.each do |label| %>
        <%= render Primer::Beta::ClipboardCopy.new(value: label.name, "aria-label": "labels-clipboard-copy", classes: "CopyBlock", "data-copy-feedback": "Copied!", "data-tooltip-direction": "ne", role: "button") do %>
          <%= render Primer::Beta::Label.new(mb: 1, mr: 2, px: 2, classes: label.type != "system" ? "css-truncate css-truncate-target" : "css-truncate css-truncate-target", style: "max-width:250px; cursor:pointer", scheme: :secondary) do %>
            <%= label.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <details class="details-reset details-overlay ml-1 js-runner-labels-details">
      <summary aria-haspopup="menu">
        <span>
          <%= primer_octicon(:gear, "aria-label": "Labels", classes: "Link--muted") %>
        </span>
      </summary>
      <details-menu class="SelectMenu SelectMenu--hasFilter" src="<%= labels_path %>" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
          <include-fragment class="SelectMenu-loading">
            <%= render(Primer::Beta::Spinner.new) %>
          </include-fragment>
        </div>
      </details-menu>
    </details>
  </div>
</div>

<hr class="pt-1">

<div class="h5">
  Active Job
</div>

<% if @check_run.present? %>
  <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
    <% component.with_row(p: 2) do %>
      <%= render Actions::Runners::CheckRunItemComponent.new(check_run: @check_run) %>
    <% end %>
  <% end %>
<% else %>
  <div class="Box mt-2 text-center py-4">
   <h2>There are currently no running jobs</h2>
      <% if @runner.labels.first %>
        Add `<code>runs-on: <%=@runner.labels.first.name%></code>` to your workflow's YAML to send jobs to this runner.
      <% end %>
  </div>
<% end %>
