
<span class="lh-condensed color-fg-muted" <%= test_selector("run-start-date") %>>
  <%= render Primer::Beta::Octicon.new(icon: "calendar") %>
  <relative-time tense="past" datetime="<%= started_at.iso8601 %>" <%= test_selector("time-ago") %>>
    <%= initial_start_time_in_words %>
  </relative-time>
</span>
