
<span class="color-fg-muted" <%= test_selector("run-time-to-complete") %>>
  <% if @time_to_complete > 0 %>
    <span <%= test_selector("completed") %>>
      <%= render(Primer::Beta::Octicon.new(icon: "stopwatch")) %>
      <span <%= test_selector("time-to-complete") %>><%= precise_duration(@time_to_complete) %></span>
    </span>
  <% else %>
    <span class="d-inline d-md-block lh-condensed pr-2 pr-md-0" <%= test_selector("in-progress") %>>
      <%= render(Primer::Beta::Octicon.new(icon: "stopwatch", color: :muted)) %>
      <span class="text-italic" <%= test_selector("status") %>><%= (@status).humanize %></span>
    </span>
  <% end %>
<span>
