<%
  page_info title: "Choose an Enterprise plan"
%>

<%= render layout: "signup/container",
  locals: {
    title: "Try Enterprise free for 30 days",
    container_class: "mb-2 mb-md-4 container-xl",
    yield_container_class: "container-xl",
    description: "Choose your enterprise type"
  } do %>

  <div class="f5 color-fg-muted text-center container-md mb-4">
    <div>
      Your enterprise type determines whether members can contribute to public, as well as, private company repositories, and how members are given access to your enterprise.
      <%= link_to "Learn more about choosing an enterprise type", "#{GitHub.help_url}/admin/managing-iam/understanding-iam-for-enterprises/choosing-an-enterprise-type-for-github-enterprise-cloud", class: "Link--inTextBlock" %>.
    </div>
  </div>
  <div class="container-lg" <%= test_selector("user-type-selector")%> >
    <div class="d-md-flex flex-justify-center flex-items-stretch gutter-md-spacious mb-8">
      <div class="col-md-5 mb-3 mb-md-0">
        <div class="d-flex flex-column flex-items-center height-full Box rounded-3 p-3 p-lg-5">
          <span class="CircleBadge avatar-7 box-shadow-none color-bg-done">
            <%= render(Primer::Beta::Octicon.new(
              icon: "cloud",
              height: 32,
              classes: "CircleBadge-icon",
              color: :done,
            )) %>
          </span>
          <div>
            <h2 class="h3 mt-2 text-center">Enterprise with personal accounts</h2>
              <div class="mb-2 text-center">Enterprise for public, open source and private work, that allows members to access your repositories with their personal GitHub accounts.</div>
            <div class="Box-row d-flex pb-0" style="border-top: none;">
              <%= render(Primer::Beta::Octicon.new(:check, size: :small, color: :success)) %>
              <div class="ml-2">
                <div class="listgroup-item-body color-fg-muted">Your enterprise can publish public repositories, and members can work seamlessly between public and private, company repositories.</div>
              </div>
            </div>
            <div class="Box-row d-flex" style="border-top: none;">
              <%= render(Primer::Beta::Octicon.new(:check, size: :small, color: :success)) %>
              <div class="ml-2">
                <div class="listgroup-item-body color-fg-muted">Developers use their own GitHub accounts for work within your enterprise. SAML SSO authentication can be enforced.</div>
              </div>
            </div>
          </div>

          <div class="d-flex flex-column text-center mt-auto width-full">
            <% params = { users_type: 'metered_ghe' } %>
            <%= link_to 'Continue', enterprise_trial_signup_path(organization, params: params), class: 'btn btn-block btn-large' %>
            <%= link_to "Learn more about Enterprise Cloud", "#{GitHub.help_url}/admin/overview/about-github-enterprise-cloud", class: "Link--inTextBlock pt-4" %>
          </div>
        </div>
      </div>

      <div class="col-md-5 mb-3 mb-md-0">
        <div class="d-flex flex-column flex-items-center Box rounded-3 p-3 p-lg-5">
          <span class="CircleBadge avatar-7 box-shadow-none color-bg-done">
            <%= render(Primer::Beta::Octicon.new(
              icon: "shield",
              height: 32,
              classes: "CircleBadge-icon",
              color: :done,
            )) %>
          </span>
          <div>
            <h2 class="h3 mt-2 text-center">Enterprise with managed users</h2>
            <div class="mb-2 text-center">Enterprise for private, internal work only, with member accounts provisioned from your identity provider.</div>
            <div class="Box-row d-flex pb-0" style="border-top: none;">
              <%= render(Primer::Beta::Octicon.new(:check, size: :small, color: :success)) %>
              <div class="ml-2">
                <div class="listgroup-item-body color-fg-muted">Your enterprise, its members, and its repositories cannot be discovered or shared publicly.</div>
              </div>
            </div>
            <div class="Box-row d-flex" style="border-top: none;">
              <%= render(Primer::Beta::Octicon.new(:check, size: :small, color: :success)) %>
              <div class="ml-2">
                <div class="listgroup-item-body pb-6 color-fg-muted">Member accounts are provisioned and authenticated via your company's identity provider.</div>
              </div>
            </div>
          </div>

          <div class="d-flex flex-column text-center mt-auto width-full">
            <% params = { users_type: 'enterprise_managed' } %>
            <%= link_to 'Continue', enterprise_trial_signup_path(organization, params: params), class: 'btn btn-block btn-large' %>
            <%= link_to "Learn more about Enterprise Managed Users", "#{GitHub.help_url}/admin/managing-iam/understanding-iam-for-enterprises/about-enterprise-managed-users", class: "Link--inTextBlock pt-4" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="f5 color-fg-muted text-center container-md">
    <div>
      Need more information? <%= link_to "Contact sales", ent_contact_url, class: "Link--inTextBlock pt-4" %>.
    </div>
  </div>
<% end %>
