<% content_for :content do %>
  <% if valid_sudo_session? %>
    <div class="pagehead">
      <div class="container-lg px-3">
        <h1>
          <%= primer_octicon(:rocket, :height => 32) %>
          <%= link_to "Site admin", stafftools_path %>
          /
          <strong>Anonymous gist: <%= @gist.repo_name %></strong>
        </h1>
      </div>
    </div>

    <div class="container-lg px-3">
      <main class="clearfix stafftools-group" id="stafftools">
        <%= yield %>
      </main>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
