<%
  page_info container_xl: true
%>

<% content_for :breadcrumbs do %>
  <%= link_to "Site admin", stafftools_path %>
  /
  <%= link_to "Enterprises", stafftools_enterprises_path %>
  /
  <strong><%= link_to this_business.name, stafftools_enterprise_path(this_business) %></strong>
<% end %>

<% content_for :nav_sidebar do %>
  <% unless GitHub.single_business_environment? %>
    <% if this_business.staff_owned? %>
      <%= render Primer::Beta::BorderBox.new(padding: :condensed, mb: 2) do |bb| %>
        <% bb.with_row do %>
          <section aria-label="Enterprise staff owned badge" role="note">
            <%= primer_octicon(:"mark-github") %>
            <%= render Primer::Beta::Label.new(ml: 1, text_transform: :uppercase, title: "Label: Staff Owned") do %>
              Staff Owned
            <% end %>
          </section>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <nav class="menu" aria-label="Enterprise account" data-hpc>
    <%= selected_link_to "Overview", stafftools_enterprise_path(this_business), highlight: :business_overview, class: "menu-item" %>
    <%= selected_link_to "Organizations", summary_stafftools_enterprise_organizations_path(this_business), highlight: :business_organizations, class: "menu-item" %>
    <% if this_business.enterprise_teams_enabled? %>
      <%= selected_link_to "Enterprise teams", stafftools_enterprise_teams_path(this_business), highlight: :enterprise_teams, class: "menu-item", "data-test-selector": "enterprise-teams" %>
    <% end %>
    <%= selected_link_to "People", stafftools_enterprise_people_path(this_business), highlight: :business_people, class: "menu-item" %>
    <%= selected_link_to "Policies", policies_stafftools_enterprise_path(this_business), highlight: :business_policies, class: "menu-item" %>
    <%= selected_link_to "Authentication security", stafftools_enterprise_security_path(this_business), highlight: :business_security, class: "menu-item" %>
    <% unless GitHub.single_business_environment? %>
      <%= selected_link_to "Webhooks", stafftools_enterprise_hooks_path(this_business), highlight: [:business_webhooks, :hooks], class: "menu-item" %>
      <% unless this_business.customer&.billed_via_billing_platform? %>
        <%= selected_link_to "Enterprise licensing", stafftools_enterprise_licensing_path(this_business), highlight: :business_licenses, class: "menu-item" %>
      <% end %>
      <%= selected_link_to "Enterprise Server installations", stafftools_enterprise_enterprise_installations_path(this_business), highlight: :enterprise_installations, class: "menu-item" %>
    <% end %>

    <% if GitHub.driftwood_streaming_stafftools_enabled? %>
      <%= selected_link_to "Audit log streaming", stafftools_audit_log_stream_path(this_business), highlight: :audit_log_streaming, class: "menu-item" %>
    <% end %>

    <%= selected_link_to "Domains", stafftools_enterprise_domains_path(this_business), highlight: :domains, class: "menu-item" %>

    <% unless GitHub.single_business_environment? %>
      <%= selected_link_to "Actions", stafftools_actions_path(this_business), highlight: [:actions, :actions_hosted_runners], class: "menu-item" %>
      <%= selected_link_to "Hosted compute networking", stafftools_hosted_compute_networking_path(this_business), highlight: :hosted_compute_networking, class: "menu-item" %>
      <%= selected_link_to "SLA report", stafftools_sla_reports_path(stafftools_sla_report: { entity_kind: "Enterprise", entity_id: this_business }), highlight: :sla_report, class: "menu-item" %>

      <% if this_business.enterprise_managed_user_enabled? %>
        <%= selected_link_to "External groups", external_groups_stafftools_enterprise_path(this_business), highlight: :external_groups, class: "menu-item" %>
      <% end %>
    <% end %>

    <% if GitHub.dotcom_request? # limiting to dotcom so only GitHub staff can see this %>
      <%= selected_link_to(
        "Security center",
        stafftools_enterprise_security_center_path(this_business),
        class: "menu-item",
      ) %>
    <% end %>

    <% if GitHub.billing_enabled? && stafftools_action_authorized?(
      controller: Stafftools::Businesses::TradeComplianceController,
      action: :show,
    ) %>
      <%= selected_link_to "Trade compliance", stafftools_enterprise_trade_compliance_path(this_business), class: "menu-item" %>
    <% end %>
  </nav>

  <% if GitHub.copilot_enabled? %>
    <% copilot_business = Copilot::Business.new(this_business) %>
    <nav class="menu" aria-labelledby="copilot-heading">
      <div class="menu-heading" id="copilot-heading">
        <%= render(Primer::Beta::Octicon.new("copilot")) %>
        Copilot
      </div>
      <%= selected_link_to "Copilot details", stafftools_copilot_path(this_business), highlight: :copilot, class: "menu-item" %>
      <% if copilot_business.copilot_standalone? %>
        <%= selected_link_to "Copilot seat assignments", standalone_seat_assignments_stafftools_copilot_path(this_business), highlight: :copilot, class: "menu-item" %>
      <% end %>
      <%= selected_link_to "Usage metrics", stafftools_copilot_usage_metrics_path(this_business), highlight: :copilot_metrics, class: "menu-item" %>
    </nav>
  <% end %>

  <% if GitHub.billing_enabled? %>
    <nav class="menu" aria-labelledby="billing-heading">
      <div class="menu-heading" id="billing-heading">
        <%= render(Primer::Beta::Octicon.new("credit-card")) %>
        Billing
      </div>
      <%= selected_link_to "Overview", stafftools_enterprise_billing_path(this_business), class: "menu-item" %>
      <%= selected_link_to "Payment history", stafftools_enterprise_billing_payment_history_path(this_business), class: "menu-item" %>
      <%= selected_link_to "Billing emails", emails_stafftools_enterprise_billing_path(this_business), class: "menu-item" %>
      <%= selected_link_to "Actions & Packages usage", stafftools_actions_packages_path(this_business), highlight: :actions_packages, class: "menu-item" %>
      <%= selected_link_to "Codespaces usage", stafftools_codespaces_path(this_business), highlight: :codespaces, class: "menu-item" %>
      <%= selected_link_to "Copilot usage", stafftools_copilot_usage_path(this_business), highlight: :copilot, class: "menu-item" %>
      <%= selected_link_to "Education configuration", stafftools_enterprise_billing_education_configuration_path(this_business), highlight: :education_configuration, class: "menu-item" %>
      <%= selected_link_to "Marketplace usage", stafftools_enterprise_marketplace_path(this_business), highlight: :marketplace, class: "menu-item" if this_business.self_serve_payment? %>
      <%= selected_link_to "Metered billing exports", stafftools_metered_exports_path(this_business), highlight: :metered_exports, class: "menu-item" %>
      <%= selected_link_to "Prepaid metered usage", stafftools_prepaid_metered_usage_refills_path(this_business), highlight: :prepaid_metered_usage_refills, class: "menu-item" %>
      <%= selected_link_to "Advanced Security", stafftools_advanced_security_path(this_business), highlight: :advanced_security, class: "menu-item"  %>
      <%= selected_link_to "Zuora webhooks", stafftools_enterprise_billing_zuora_webhooks_path(this_business), highlight: :zuora_webhooks, class: "menu-item" %>
      <%= selected_link_to "Sponsorships", stafftools_enterprise_billing_sponsorships_path(this_business), highlight: :sponsorships, class: "menu-item" %>
    </nav>
    <% if this_business.customer&.billed_via_billing_platform? %>
      <nav class="menu" aria-labelledby="billing-vnext-heading">
        <div class="menu-heading" id="billing-vnext-heading">
          <%= render(Primer::Beta::Octicon.new("rocket")) %>
          Billing & Licensing
          <%= render(Primer::Beta::Label.new(inline: true, scheme: :success)) { "Beta" } %>
        </div>
        <%= selected_link_to "Overview",  stafftools_enterprise_billing_usage_overview_path(this_business), class: "menu-item" %>
        <%= selected_link_to "Usage", stafftools_enterprise_billing_usage_path(this_business), class: "menu-item" %>
        <%= selected_link_to "Cost centers",  stafftools_enterprise_billing_cost_centers_path(this_business), class: "menu-item" %>
        <%= selected_link_to "Budgets",  stafftools_enterprise_billing_budgets_path(this_business), class: "menu-item" %>
        <%= selected_link_to "Licensing", stafftools_enterprise_licensing_path(this_business), highlight: :business_licenses, class: "menu-item" %>
        <%= selected_link_to "Discounts", stafftools_enterprise_billing_discounts_path(this_business), class: "menu-item" %>
        <%= selected_link_to "Invoices", stafftools_enterprise_billing_invoices_path(this_business), class: "menu-item" %>
        <%= selected_link_to "Migration", stafftools_enterprise_billing_migrations_path(this_business), class: "menu-item" %>
        <%= selected_link_to "Trigger Azure emission",  stafftools_enterprise_billing_trigger_azure_emissions_path(this_business), class: "menu-item" %>
        <% if GitHub.flipper[:azure_emissions_stafftools_page].enabled? %>
          <%= selected_link_to "Azure emissions", stafftools_enterprise_billing_azure_emissions_path(this_business), class: "menu-item" %>
        <% end %>
      </nav>
    <% end %>
  <% end %>
<% end %>

<%= render template: "layouts/stafftools" %>
