<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  page_info container_xl: true
%>

<% content_for :banner do %>
  <% if this_user.organization? && this_user.deleted? %>
    <% if this_user.soft_deleted? %>
      <%= render Primer::Alpha::Banner.new(scheme: :warning, icon: :alert) do %>
        <span <%= test_selector "soft-deleted-org-message" %>>
          This organization is scheduled for deletion <strong><%= time_ago_in_words_js(this_user.soft_deleted_at + Organization::RESTORABLE_PERIOD) %></strong>
        </span>
      <% end %>
    <% else %>
      <% delete_user_job_status = UserDeleteJob.status(this_user.id) %>
      <%= render Primer::Beta::Flash.new(scheme: :danger, icon: :alert) do |component| %>
        <% if delete_user_job_status.nil? || delete_user_job_status.error? %>
          <span <%= test_selector "user-delete-job-failed-message" %>>
            This organization was queued for deletion, but the job failed.
          </span>
          <% component.with_action do %>
            <%= render(Primer::Alpha::Dialog.new(
              title: "Mark as not deleted",
              id: "mark-not-deleted",
            )) do |d| %>
              <% d.with_show_button(
                "data-disable-invalid": "",
                "data-disable-with": "Mark as not deleted"
              ) { "Mark as not deleted" } %>
              <% d.with_header(show_divider: true) do %>
                  Mark organization as not deleted?
              <% end %>
              <% d.with_body do %>
                <p>
                  Marking the <strong><%= this_user.display_login %></strong> organization as not deleted will
                  allow organization owners to delete the organization again.
                </p>
              <% end %>
              <% d.with_footer(show_divider: true) do %>
                <%= render(Primer::Beta::Button.new(
                  data: { "close-dialog-id": "mark-not-deleted" }
                )) { "Cancel" } %>

                <%= form_with(
                  url: stafftools_user_undeletes_path(this_user.display_login),
                  method: :post) do |form| %>
                  <input type="hidden" name="mark_as_failed" value="true">
                  <%= render(Primer::Beta::Button.new(
                    type: :submit,
                    scheme: :danger,
                    "data-disable-invalid": "",
                    "data-disable-with": "Marking as not deleted..."
                  )) { "Mark organization as not deleted" } %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          This organization is queued for deletion.
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= link_to "Site admin", stafftools_path %>
  /
  <strong><%= link_to this_user, stafftools_user_path(this_user) %></strong>
<% end %>

<% content_for :nav_items do %>
  <%= selected_link_to stafftools_user_administrative_tasks_path(this_user), highlight: :account_admin, class: "UnderlineNav-item" do %>
    <%= primer_octicon(:gear, classes: "UnderlineNav-octicon") %>
  Admin
  <% end %>

  <% if GitHub.billing_enabled? %>
    <%= selected_link_to billing_stafftools_user_path(this_user), highlight: :account_billing, class: "UnderlineNav-item" do %>
      <%= primer_octicon(:"credit-card", classes: "UnderlineNav-octicon") %>
      Billing
    <% end %>
  <% end %>

  <%= selected_link_to stafftools_user_security_path(this_user), highlight: [
    :account_security, :applications, :apps, :developers_stafftools_user_apps, :enterprise,
    :hooks, :installations, :integrations, :ip_allowlist, :org_teams, :personal_access_tokens,
    :personal_access_token_requests, :role_details, :ssh_cas, :stafftools_user_security
  ], class: "UnderlineNav-item" do %>
    <%= primer_octicon(:"shield-lock", classes: "UnderlineNav-octicon") %>
    Security
  <% end %>

  <%= selected_link_to stafftools_user_repositories_path(this_user), highlight: [:account_content, :job_posting], class: "UnderlineNav-item" do %>
    <%= primer_octicon(:repo, classes: "UnderlineNav-octicon") %>
    Content
  <% end %>
<% end %>

<%= render template: "layouts/stafftools" %>
