<% can_buy_more_licenses = organization.business&.owner?(current_user) && organization.business.can_self_serve? && !organization.business.trial? %>
<% if enterprise_managed_user_enabled %>
  <% unless remaining_seats_or_licenses.positive? %>
    <span <%= test_selector("license-details-emu-license-warning") %>>
      There are 0 licenses available to assign users without an organization affiliation.
      If you require additional licenses, please contact your
      <%= link_to("enterprise owner", org_enterprise_owners_path(organization), class: "Link--inTextBlock") %>.
    </span>
  <% end %>
<% else %>
  <span class="color-fg-muted" <%= test_selector("license-details-available-seats") %>>
    There <%= pluralize_without_number remaining_seats_or_licenses, "is" %>
    <%= number_with_delimiter remaining_seats_or_licenses %>
    <%= pluralize_without_number remaining_seats_or_licenses, seat_or_license(organization) %> remaining.
  </span>
  <% if organization.business.present? %>
    <span <%= test_selector("license-details-business-message") %>>
      You can invite an existing member of your enterprise without using a seat
      <% if can_buy_more_licenses %>
        or <%= link_to "buy more.", settings_billing_enterprise_path(organization.business, return_to: org_people_path(organization, anchor: "invite-member")), class: "Link--inTextBlock" %>
      <% else %>
        .
      <% end %>
    </span>
  <% else %>
    <% more_seats_link = more_seats_link_for_organization(organization, self_serve_link_text: "buy more", self_serve_return_to: org_people_path(organization, anchor: "invite-member")) %>
    <% if more_seats_link.present? %>
      <%= more_seats_link %>.
    <% end %>
  <% end %>
<% end %>
