<%
  repository_count_text = "%s %s" % [
    contribution_count > 3 ? "several" : contribution_count,
    contribution_count > 1 ? "repositories" : "repository",
  ]
%>

<div class="pb-3 px-3">
  <div class="d-flex mt-3">
    <div class="flex-self-start">
      <div class="rounded-2 overflow-hidden">
        <%= profile_link(user, skip_hovercard: true) do %>
          <%= avatar_for(user, 60, class: "d-block") %>
        <% end %>
      </div>
    </div>

    <div class="overflow-hidden ml-3">
      <div class="h5">Arctic Code Vault Contributor</div>
      <p class="mt-1 lh-condensed">
        <span>
          <%= link_to user.profile_name.presence || "@#{user.display_login}", user_path(user), class: "f5 text-bold Link--primary" %>
        </span>
        <span class="f5">
          <% if contribution_count == 0 %>
            contributed code to the <%= link_to "2020 GitHub Archive Program", "https://archiveprogram.github.com/", class: "f5 text-bold Link--primary"%>
          <% else %>
            contributed code to <%= repository_count_text %> in the <%= link_to "2020 GitHub Archive Program", "https://archiveprogram.github.com/", class: "f5 text-bold Link--primary"%><% if show_repositories %>:<% else %>.<% end %>
          <% end %>
        </span>
      </p>
      <% if show_repositories %>
        <p class="mt-1 lh-condensed">
          <% last_repo = link_to(top_repositories.last.name_with_display_owner, repository_path(top_repositories.last)) %>
          <% if contribution_count == 1 %>
            <%= last_repo %>
          <% else %>
            <% top_repositories[0...-1].each do |repo| %>
              <%= link_to(repo.name_with_display_owner, repository_path(repo), class: "Link--inTextBlock") %>,
            <% end %>
            <% if contribution_count > 3 %>
              <%= last_repo %>, and more!
            <% else %>
              and <%= last_repo %>.
            <% end %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="sr-only">
    Press escape to close this hovercard
  </div>
</div>
