<template data-target="ref-selector.noMatchTemplate">
  <% if current_user_can_push? && (commit = current_commit) # rubocop:disable GitHub/DeprecatedViewHelpers %>
    <create-repo-from-selector
      check-tag-name-exists-path="<%= check_tag_name_exists_path %>"
    >
      <%= form_tag create_branch_path, method: :post do %>
        <input data-target="create-repo-from-selector.refName" type="hidden" name="name" value="{{ refName }}">
        <input type="hidden" name="branch"  value="<%= show_sha_on_branch_create ? commit.oid : tree_name_for_display %>">
        <input type="hidden" name="path_binary" value="<%= Base64.strict_encode64(path_string) if params[:path] %>">

        <button
          class="SelectMenu-item wb-break-word"
          type="submit"
          role="menuitem"
          data-index="{{ index }}"
          data-action="click:create-repo-from-selector#createBranch"
          <%= safe_data_attributes(refs_selector_menu_create_branch_attributes(current_repository)) %>>
          <%= primer_octicon(:"git-branch", classes: "SelectMenu-icon flex-self-baseline") %>
          <div>
            <span class="text-bold">Create branch: {{ refName }}</span>
            <span class="color-fg-muted">from ‘<%= show_sha_on_branch_create ? commit.oid[0, 7] : tree_name_for_display %>’</span>
            <%= csrf_hidden_input_for check_tag_name_exists_path, "data-target": "create-repo-from-selector.checkTagNameExistsPathCsrf" %>
          </div>
        </button>
      <% end %>
    </create-repo-from-selector>
  <% else %>
    <div class="SelectMenu-message">Nothing to show</div>
  <% end %>
</template>
