<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="Box-header">
  <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
    <%= primer_octicon(:x) %>
  </button>
  <h3 class="Box-title">Subscription Sync Status</h3>
</div>
<div class="Box-row">
  <b>Target:</b>
  <% if target = sync_status.target %>
    <% if target.business? %>
      <%= link_to "#{target.slug}", stafftools_enterprise_path(target), title: "Stafftools page for #{target.slug}" %>
    <% else %>
      <%= link_to "#{target.name}", billing_stafftools_user_path(target), title: "Stafftools Billing page for #{target.name}" %>
    <% end %>
  <% end %>
  <br>
  <b>Type:</b>
  <% if target = sync_status.target %>
    <%= target.class.name %>
  <% end %>
  <br>
  <b>Zuora Account:</b>
  <% if sync_status&.plan_subscription&.zuora_subscription_number %>
    <%= link_to "...#{sync_status.plan_subscription.zuora_subscription_number.last(5)}", sync_status.zuora_subscription_url, target: "_blank", rel: "noopener noreferrer",
      title: "Open subscription(#{sync_status.plan_subscription.zuora_subscription_number}) in Zuora" %>
  <% else %>
    N/A
  <% end %>
  <br>
  <b>Status:</b>
  <%= sync_status.external_sync_status %>
  <br>
  <b>Updated At:</b>
  <%= date_with_time_tooltip sync_status.updated_at %>
</div>
<div class="Box-row">
  <%= form_tag investigate_stafftools_subscription_sync_status_path(sync_status), class: "inline-form", method: :put do %>
    <input type="text"
           name="investigation_notes"
           value="<%= sync_status.investigation_notes %>"
           aria-label="Investigation notes"
           placeholder="Notes"
           size="10"
           maxlength="255">
    <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, "aria-label": "Investigate") do %>
      Investigate
    <% end %>
  <% end %>
</div>
<div class="Box-row">
  <%= form_tag stafftools_subscription_sync_status_force_sync_path(sync_status), class: "inline-form", method: :put do %>
    <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, "aria-label": "Force Sync") do %>
      Force Sync
    <% end %>
  <% end %>
  <%= form_tag stafftools_subscription_sync_status_mark_successful_path(sync_status), class: "inline-form", method: :put do %>
    <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, "aria-label": "Mark Successful") do %>
      Mark Successful
    <% end %>
  <% end %>
</div>
<div class="Box-row">
  <h4>Audit Logs</h4>
  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/subscription_sync_statuses/audit_log",
        locals: {
          query: audit_query,
          logs: audit_logs,
          results: audit_results
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>
  <%= link_to "View All Billing Logs", stafftools_billing_audit_log_path(sync_status.target) %>
</div>
