<%# erblint:counter DeprecatedComponentsCounter 5 %>
<%
  page_info container_xl: true
%>

<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
    Refer to the <%= link_to "Playbook", "https://github.com/github/gitcoin/blob/main/docs/playbook/alerts/unsuccessful_subscription_synchronizations.md", class: "Link--inTextBlock" %>
    for more information on how to handle subscription sync attempts that are left in a pending state after an attempted account update.
  <% end %>

  <%= render(Primer::Box.new(mb: 2)) do %>
    <%= form_tag bulk_force_sync_stafftools_subscription_sync_statuses_path, method: :post do %>
      <%= render Primer::Beta::Button.new(type: :submit, size: :small, mt: 2, "aria-label": "Process", "data-confirm": "Are you sure you want to retry all failed syncs? This will queue up jobs to retry all the failed syncs.") do %>
        Force Sync All Failed Syncs
      <% end %>
    <% end %>
  <% end %>

  <div class="boxed-group flush">
      <h3><%= unsuccessful_sync_statuses.count %> Unsuccessful Subscription Syncs</h3>

      <div class="boxed-group-inner seamless color-bg-subtle">
        <table class="stafftools-table">
          <% if unsuccessful_sync_statuses.any? %>
            <thead>
              <th class="no-wrap billing-table-cell pr-0">Id</th>
              <th class="no-wrap billing-table-cell pr-0">Target</th>
              <th class="no-wrap billing-table-cell pr-0">Type</th>
              <th class="no-wrap billing-table-cell pr-0">Zuora Act</th>
              <th class="no-wrap billing-table-cell pr-0">Status</th>
              <th class="no-wrap billing-table-cell pr-0">Updated At</th>
              <th class="no-wrap billing-table-cell pr-0">Actions</th>
              <th class="no-wrap billing-table-cell pr-0"></th>
            </thead>

            <tbody>
              <% unsuccessful_sync_statuses.each do |sync_status| %>
                <tr>
                  <td class="no-wrap tiny" <%= test_selector "sync_status_id" %>><%= sync_status.id %></td>
                  <td class="no-wrap pr-0">
                    <% if target = sync_status.target %>
                      <% if target.business? %>
                        <%= link_to "#{target.slug}", stafftools_enterprise_path(target), title: "Stafftools page for #{target.slug}" %>
                      <% else %>
                        <%= link_to "#{target.name}", billing_stafftools_user_path(target), title: "Stafftools Billing page for #{target.name}" %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="no-wrap pr-0">
                    <% if target = sync_status.target %>
                      <%= target.class.name %>
                    <% end %>
                  </td>
                  <td class="no-wrap pr-0">
                    <% if sync_status&.plan_subscription&.zuora_subscription_number %>
                      <%= link_to "...#{sync_status.plan_subscription.zuora_subscription_number.last(5)}", sync_status.zuora_subscription_url, target: "_blank", rel: "noopener noreferrer",
                        title: "Open subscription(#{sync_status.plan_subscription.zuora_subscription_number}) in Zuora" %>
                    <% else %>
                      N/A
                    <% end %>
                  </td>
                  <td class="no-wrap tiny">
                    <%= sync_status.external_sync_status %>

                    <% if sync_status.external_sync_status == 'failed_but_retrying' %>
                      <div>
                        (<%= pluralize sync_status.number_of_retries_remaining, 'retry' %> remaining)
                      </div>
                    <% end %>
                  </td>
                  <td class="no-wrap tiny"><%= date_with_time_tooltip sync_status.updated_at %></td>
                  <td class="tiny no-wrap">
                    <div>
                      <%= form_tag investigate_stafftools_subscription_sync_status_path(sync_status), class: "inline-form", method: :put do %>
                        <input type="text"
                          name="investigation_notes"
                          value="<%= sync_status.investigation_notes %>"
                          aria-label="Investigation notes"
                          placeholder="Notes"
                          size="10"
                          maxlength="255">
                        <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, "aria-label": "Investigate") do %>
                          Investigate
                        <% end %>
                      <% end %>
                    </div>
                    <span class="d-block mt-1">
                      <div>
                        <%= form_tag stafftools_subscription_sync_status_force_sync_path(sync_status), class: "inline-form", method: :put do %>
                          <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, "aria-label": "Force Sync") do %>
                            Force Sync
                          <% end %>
                        <% end %>
                        <%= form_tag stafftools_subscription_sync_status_mark_successful_path(sync_status), class: "inline-form", method: :put do %>
                          <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, "aria-label": "Mark Successful") do %>
                            Mark Successful
                          <% end %>
                        <% end %>
                      </div>
                    </span>
                  </td>
                  <td>
                    <details class="details-overlay details-overlay-dark details-reset lh-default color-fg-default">
                      <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, font_size: 5) do %>
                        View Details
                      <% end %>
                      <details-dialog
                        class="Box Box-overlay--wide d-flex flex-column anim-fade-in fast text-left"
                        aria-label="Sync Details"
                        src="<%= stafftools_subscription_sync_status_path(sync_status) %>"><%# erblint:disable A11yDetailsDialogMigration %>
                        <include-fragment>
                          <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
                        </include-fragment>
                      </details-dialog>
                    </details>
                  </td>
                </tr>
              <% end %>
            </tbody>

          <% end %>
        </table>
        <div class="paginate-container">
          <%= will_paginate unsuccessful_sync_statuses %>
        </div>
      </div>
      <p class="mt-2">Note: Syncs started in the past 5 minutes will not be displayed here</p>
  </div>

<% end %>
