<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% track_render_partial("checks/approvals_log") do %>
  <div
      <% if should_update %>
      class="js-updatable-content js-socket-channel"
      data-channel="<%= live_update_view_channel(check_suite.workflow_run.approval_logs_channel) + " " + live_update_view_channel(check_suite.workflow_run.execution_channel) %>"
      data-url="<%= workflow_run_approvals_partial_path(workflow_run_id: check_suite.workflow_run.id, repository: current_repository, user_id: current_repository.owner.display_login) %>"
      <% end %>>
    <% if gate_approval_logs.any? %>
      <div class="actions-fullwidth-module color-bg-default Box color-shadow-small mb-3 pt-3 pb-1 border rounded-2">
        <div class="mt-1 mb-3 px-3">
          <div class="mx-0 mx-md-1">
            <h4 class="text-bold" <%= test_selector("gates-approval-log-header") %>>Deployment reviews</h4>
            <div class="color-fg-muted text-small">Learn who reviewed the deployments in this run</div>
          </div>
        </div>

        <table class="width-full px-3 mt-n1 actions-workflow-table">
          <thead>
            <tr class="color-fg-muted border-bottom color-border-muted">
              <td class="py-0 text-semibold col-4 col-sm-2 col-md-4">Event</td>
              <td class="py-0 text-semibold col-3 col-xl-3">Environments</td>
              <td class="py-0 text-semibold col-4 col-xl-6 hide-sm hide-md">Comment</td>
            </tr>
          </thead>
          <tbody>
            <% gate_approval_logs.each_with_index do |gate_approval_log, index| %>
              <% last_item = index == gate_approval_logs.size - 1 %>
              <tr role="row">
                <td class="pr-3 <% unless last_item %>border-bottom color-border-muted<% end %> col-4 col-sm-2 col-md-4">
                  <div class="d-flex flex-items-center" <%= test_selector("gate-approval-log-#{gate_approval_log.id}") %>>
                    <a class="position-relative lh-0" href="<%= user_path(gate_approval_log.user) %>">
                      <%= render GitHub::AvatarComponent.new(actor: gate_approval_log.user, size: 40, classes: "avatar-small", mr: 2) %>
                      <%
                        icon = gate_approval_log.state == "approved" ? "check-circle-fill" : "x-circle-fill"
                        class_name = gate_approval_log.state == "approved" ? "color-fg-success" : "color-fg-danger"
                      %>
                      <%= octicon icon, class: "position-absolute color-bg-default circle border #{class_name}", style: "right: 5px; bottom: -1px; border-color: transparent !important;" %>
                    </a>
                    <div class="ml-1">
                      <a class="text-bold no-underline Link--primary" href="<%= user_path(gate_approval_log.user) %>"><%= gate_approval_log.user.display_login %></a>
                      <div class="color-fg-muted"><%= gate_approval_log.state %> <%= time_ago_in_words_js gate_approval_log.created_at %></div>
                    </div>
                  </div>
                </td>
                <td class="pr-3 <% unless last_item %>border-bottom color-border-muted<% end %> col-3 col-xl-3">
                  <% if gate_approval_log.gate_approvals.count == 1 %>
                    <% if gate_approval_log.gate_approvals.first.environment_name.nil? %>
                      <span class="color-fg-muted">(Environment deleted)</span>
                    <% else %>
                      <a class="text-bold no-underline Link--primary" href="<%= deployments_activity_log_path(environment: gate_approval_log.gate_approvals.first.environment_name) %>"><%= gate_approval_log.gate_approvals.first.environment_name %></a>
                    <% end %>
                  <% end %>
                  <% if gate_approval_log.gate_approvals.count == 2 %>
                    <% gate_approval_log.gate_approvals.each_with_index do |gate_approval, i| %>
                      <% if gate_approval.environment_name.nil? %>
                        <span class="color-fg-muted">(Environment deleted)</span>
                      <% else %>
                        <a class="text-bold no-underline Link--primary" href="<%= deployments_activity_log_path(environment: gate_approval.environment_name) %>"><%= gate_approval.environment_name %></a>
                      <% end %>
                      <%= " and " if i == 0 %>
                    <% end %>
                  <% end %>
                  <% if gate_approval_log.gate_approvals.count > 2 %>
                    <div class="js-hidden-environments-container">
                      <div class="js-shown-environments">
                        <% if gate_approval_log.gate_approvals.first.environment_name.nil? %>
                          <span class="color-fg-muted">(Environment deleted)</span>
                        <% else %>
                          <a class="text-bold no-underline Link--primary" href="<%= deployments_activity_log_path(environment: gate_approval_log.gate_approvals.first.environment_name) %>"><%= gate_approval_log.gate_approvals.first.environment_name %></a>
                        <% end %>
                        and
                        <button type="button" class="js-show-more-environments btn-link text-bold no-underline Link--primary" aria-expanded="false">
                          <%= gate_approval_log.gate_approvals.count-1 %> more
                        </button>
                      </div>
                      <div class="js-hidden-environments d-none">
                        <% gate_approval_log.gate_approvals.each_with_index do |gate_approval, i| %>
                          <%= " and " if i == gate_approval_log.gate_approvals.count-1 %>
                          <% if gate_approval.environment_name.nil? %>
                            <span class="color-fg-muted">(Environment deleted)</span>
                          <% else %>
                            <a class="text-bold no-underline Link--primary" href="<%= deployments_activity_log_path(environment: gate_approval.environment_name) %>"><%= gate_approval.environment_name %></a>
                          <% end %>
                          <%= ", " if i < gate_approval_log.gate_approvals.count-1 %>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </td>
                <td class="pr-3 <% unless last_item %>border-bottom color-border-muted<% end %> color-fg-muted col-4 col-xl-6 hide-sm hide-md">
                  <div style="max-width: 640px;"><%= gate_approval_log.comment.force_encoding("utf-8") %></div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
