<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  check_suite = check_run.check_suite
  artifacts_count = check_suite.artifacts.size
  artifacts = check_suite.artifacts.order(:name)
%>

<% if artifacts_count > 0 %>

  <details class="dropdown details-reset details-overlay d-inline-block mr-2">
    <summary class="color-fg-muted px-2 d-inline" aria-haspopup="true">
      Artifacts
      <%= render Primer::Beta::Counter.new(count: artifacts_count, mx: 1, px: 2, scheme: :primary) %>
      <div class="dropdown-caret"></div>
    </summary>

    <div class="dropdown-menu dropdown-menu-sw container-lg py-3" style="width: 360px;">
      <% if artifacts.any? %>
        <div class="mb-2 text-bold f6">
          Download artifacts
        </div>

        <% expired = artifacts.any?(&:expired?) %>
        <% if !logged_in? || expired %>
          <% if expired %>
            <p class="f6 color-fg-muted">The following artifacts have expired and are no longer able to be downloaded.</p>
          <% end %>

          <div class="overflow-y-auto" style="max-height: 130px;">
            <% artifacts.each do |artifact| %>
              <div class="my-1 f6">
                <small class="color-fg-muted float-right"><%= number_to_human_size(artifact.size) %></small>
                <%= primer_octicon(:package, mr: 1, color: :muted) %>
                <span class="color-fg-muted text-bold css-truncate css-truncate-target" style="max-width: 170px">
                  <%= artifact.name %>
                </span>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="overflow-y-auto" style="max-height: 130px;">
            <% artifacts.each do |artifact| %>
              <div class="my-1 f6">
                <%= primer_octicon(:package, mr: 1, color: :muted) %>
                <%= link_to artifact.name,
                  download_artifact_path(id: check_suite.id, user_id: current_repository.owner, repository: current_repository, artifact_id: artifact.id),
                  class: "text-bold css-truncate css-truncate-target",
                  style: "max-width: 170px",
                  title: artifact.name %>
                <% if current_repository.writable_by?(current_user) %>
                  <%= form_tag delete_artifact_path(id: check_suite.id, user_id: current_repository.owner, repository: current_repository, artifact_id: artifact.id),
                        method: "delete", class: "inline-form float-right ml-6" do %>
                    <button type="submit" data-confirm="Are you sure?"
                            class="btn-link color-fg-danger"
                            aria-label="Delete artifact">
                      <%= primer_octicon(:trash) %>
                    </button>
                  <% end %>
                <% end %>
                <small class="color-fg-muted float-right"><%= number_to_human_size(artifact.size) %></small>
              </div>
            <% end %>
          </div>
        <% end %>

      <% else %>
        <h6 class="color-fg-muted">No artifacts were created by this check.</h6>
        <p class="text-small color-fg-muted mb-0">Artifacts are defined in your CI configuration.</p>
      <% end %>
    </div>
  </details>

<% end %>
