<%# erblint:counter DeprecatedComponentsCounter 2 %>
<details class="d-inline-block select-menu details-reset details-overlay ml-2">
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "Link--muted select-menu-button", "data-hotkey": "c") do %>
    <code class="mr-1 color-fg-subtle"><%= selected_commit.abbreviated_oid%></code>
  <% end %>
  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" role="menu" src="<%= pull_request_changed_commits_partial_path(id: pull.number, sha: selected_commit.oid, check_run_id: selected_check_run.present? ? selected_check_run.id : "") %>"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Select commit</span>
    </div>
    <div class="select-menu-list">
      <include-fragment>
        <div class="SelectMenu-loading check-range-menu-loading">
          <%= render(Primer::Beta::Spinner.new(mx: :auto)) %>
        </div>
        <%= render(Primer::Beta::Flash.new(scheme: :danger, icon: "alert", m: 2, classes: "check-range-menu-error")) do %>
          Failed to load commit list.
        <% end %>
      </include-fragment>
    </div>
  </details-menu>
</details>
