<div id="check_run_<%= check_run.id %>" class="js-socket-channel js-updatable-content"
  data-channel="<%= live_update_view_channel(check_run.channel) %>"
  data-url="<%= checks_summary_path(ref: check_run.head_sha, id: check_run.id, pull_id: pull&.id) %>">

  <% unless check_run.is_actions_check_run? %>
    <div class="d-block mx-4">
      <%= render Checks::RetentionComponent.new(check_suite: check_suite) %>
    </div>

    <div class="f5 mx-4 mb-4 py-3 border-bottom">
      <span class="text-bold"><%= check_suite.github_app.name %> / <%= check_run.visible_name %></span>

      <%= render partial: "checks/checks_header", locals: { check_run: check_run } %>
    </div>

    <% if check_run.actions? && current_repository.writable_by?(current_user) %>
      <div class="color-fg-muted checks-summary-meta mb-4 mx-4">
        <% check_run.actions.each do |action| %>
          <%= form_tag request_action_check_run_path(check_run, user_id: current_repository.owner, repository: current_repository), class: "d-inline-block", method: :put do %>
            <input type="hidden" name="label" value="<%= action[:label] %>">
            <input type="hidden" name="identifier" value="<%= action[:identifier] %>">
            <%= render Primer::Beta::Button.new(id: "check-action-button-#{action[:label]}", size: :small, display: :inline_block, mr: 1, type: :submit) do |component| %>
              <% component.with_tooltip(text: "#{ action[:description] }", direction: :e) %>
              <%= action[:label] %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if check_run.title || check_run.summary || check_run.concluded? %>
      <div class="markdown-body f5 mb-4 mx-4">
        <% if check_run.title %>
          <h2 class="f3"><%= check_run.title %></h2>
        <% else %>
          <h2 class="f3">Summary</h2>
        <% end %>
        <div class="ml-0">
          <% if check_run.summary %>
            <%= github_flavored_markdown(check_run.summary) %>
          <% elsif check_run.concluded? %>
            This check concluded as <%= check_run.conclusion %>.
          <% end %>
        </div>
      </div>
    <% end %>

    <% if check_run.images.any? %>
      <div class="markdown-body mb-4 mx-4">
        <div class="d-flex flex-wrap mr-n4 ml-n4">
          <% check_run.images.each_with_index do |image, index| %>
            <figure class="px-4 m-0" <%= test_selector("check-run-image") %>>
              <% if image[:image_url].present? %>
                <a href="<%= check_run_image_url_for(image[:image_url]) %>" target="_blank" rel="noopener noreferrer">
                  <img src="<%= check_run_image_url_for(image[:image_url]) %>" alt="<%= image[:alt] %>" class="width-full width-fit">
                </a>
                <% if image[:caption] %>
                  <figcaption class="f6 color-fg-muted">
                    <%= image[:caption] %>
                  </figcaption>
                <% end %>
              <% else %>
                Sorry! This image was malformed, the image url was not provided by the integrator.
              <% end %>
            </figure>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if check_run.text %>
      <div class="mx-4">
        <h2 class="f6 text-normal text-uppercase color-fg-muted mb-2">Details</h2>
        <div class="Box p-3 markdown-body f5 mb-4">
          <%= github_flavored_markdown(check_run.text) %>
        </div>
      </div>
    <% end %>

    <% if check_run.annotation_count > 0 %>
      <h2 class="f6 text-normal text-uppercase color-fg-muted mb-2 mx-4">Annotations</h2>
      <div class="checks-results-items mx-4">
        <%=
          render :partial => "checks/checks_annotations", locals: {
            check_run: check_run,
            annotation_details: annotation_details,
            pull: pull,
            commit: commit
          }
        %>
      </div>
    <% end %>

    <% if check_run.details_url && !check_suite.code_scanning_app? %>
      <div class="mx-4 mb-4">
        <a href="<%= check_run.details_url %>" class="text-small color-fg-muted" target="_blank" rel="noopener noreferrer"
            data="<%= hydro_click_tracking_attributes("check_suite.external_click", { check_suite_id: check_suite.id, check_run_id: check_run.id, link_url: check_run.details_url, link_text: "View more details on" }) %>">
          <%= primer_octicon(:"link-external", mr: 2) %>View more details on <%= check_suite.github_app.name %>
        </a>
      </div>
    <% end %>
  <% end %>
</div>

<% if !request.xhr? && check_run.is_actions_check_run? %>
  <%= render partial: "checks/checks_steps_container", locals: {
      check_run: check_run,
      steps: check_run.passthrough_steps? ? check_run.steps_from_backend : check_run.get_steps,
      ux_refresh: use_actions_ux?,
      show_check_run_logs: show_check_run_logs,
      can_show_copilot_button: false
    }
  %>
<% end %>
