<span class="d-block f6 js-socket-channel js-updatable-content color-fg-muted"
  data-channel="<%= live_update_view_channel(check_run.channel) %>"
  data-url="<%= check_run_show_header_partial_path(id: check_run.id) %>">
  <%
    display_waiting_logs = check_run.status == StatusCheckConfig::WAITING && current_repository.can_use_environments? && !check_run.all_gates_open?
    workflow_run = check_run.check_suite.workflow_run
    execution = check_run.workflow_job_run&.workflow_run_execution
    show_latest_attempt_link = execution && workflow_run.has_multiple_attempts && workflow_run.latest_workflow_run_execution.id != execution.id
  %>
  <% if display_waiting_logs %>
  <%
    gate_request = check_run.gate_requests.find { |r| r.state == "closed" }
    environment_name = gate_request&.gate&.environment&.name
  %>
    is waiting for <span class="Deployment-header-text css-truncate css-truncate-target" style="max-width:300px;"><%= environment_name %></span> deployment approval
  <% elsif check_run.completed? %>
    <%= StatusCheckConfig.verb_state(check_run.conclusion) %>
    <%= time_ago_in_words_js(check_run.completed_at) if check_run.completed_at %><%= " in #{precise_duration(check_run.seconds_to_completion)}" if check_run.seconds_to_completion %><%= "." if show_latest_attempt_link %>
    <% if show_latest_attempt_link %>
      <%= render Primer::Beta::Link.new(
        href: workflow_run_path(user_id: current_repository.owner_display_login, repository: current_repository, workflow_run_id: workflow_run.id),
        underline: :false,
      ).with_content("View latest attempt") %>.
    <% end %>
  <% elsif check_run.started_at %>
    Started
    <relative-time format="elapsed" datetime="<%= check_run.started_at.iso8601 %>">
      <%= timestamp(check_run.started_at) %>
    </relative-time>
    ago
  <% end %>
</span>
