<%
  annotation_level = annotation.annotation_level.downcase
  creator = check_run.github_app&.bot
  creator = User.ghost if creator.nil? || creator.hide_from_user?(current_user)
%>

<div class="Details js-details-container Box position-relative check-annotation check-annotation-<%= annotation_level %> my-2 py-3">
  <p class="text-small pl-3 mb-2">
    <span class="annotation-octicon text-center d-inline-block">
      <% if annotation_level == "failure" %>
        <%= primer_octicon(:x, color: :danger) %>
      <% elsif annotation_level == "warning" %>
        <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
      <% else %>
        <%= primer_octicon(:info, color: :muted) %>
      <% end %>
    </span>

    <%
      annotation_url = pull.present? ? "#{pull_request_path(pull)}/files#annotation_" : "#{commit_path(commit)}#annotation_"
      annotation_url = "#{annotation_url}#{annotation.id}"
    %>
    <a href="<%= annotation_url %>" class="color-fg-muted d-inline-block ml-1">Check <%= annotation_level %> on line <%= annotation.end_line %> in <%= annotation.path %></a>

    <%= render Primer::Beta::ClipboardCopy.new(value: annotation.path, "aria-label": "Copy", "data-copy-feedback": "Copied!", classes: "Link--onHover", color: :muted, ml: 1) %>
  </p>

  <div class="annotation-actions position-absolute">
    <%= render(Primer::Beta::IconButton.new(
          tag: :a,
          href: annotation_url,
          icon: :"file-code",
          color: :muted,
          scheme: :invisible,
          aria: { label: "See this annotation in the file changed." },
        )) %>
  </div>

  <% if code_scanning_alert.present? %>
    <%= render CodeScanning::AnnotationComponent.new(
        code_scanning_annotation_result: code_scanning_alert[:result],
        inline: false,
        annotation_id: annotation.id,
        fallback_warning_level: annotation.warning_level,
        fallback_tool_name: annotation.parent_name,
        fallback_alert_title: annotation.title,
        fallback_alert_message: annotation.message,
        alert_number: code_scanning_alert[:cs_annotation].alert_number,
        repository: current_repository,
        refs: code_scanning_alert[:pull_request_refs],
        pull_request: pull) %>
  <% else %>
    <h4 class="f5 ml-3 mb-2 pl-4 mr-2 flex-shrink-0 d-flex flex-items-center">
      <img src="<%= creator.primary_avatar_url %>" width="20" height="20" alt="@<%= creator.display_login_legacy %>" class="<%= avatar_class_names(creator) %> mr-2 flex-shrink-0">
      <span><%= creator.display_login_legacy %></span> <span class="ml-1 text-normal">/ <%= check_run.name %></span>
    </h4>

    <p class="ml-3 mb-0 pl-4 text-bold d-flex flex-items-center">
      <span class="annotation-title flex-auto pr-2">
        <%= annotation.title %>
      </span>
    </p>

    <div class="py-2 pl-4 ml-3 overflow-auto">
      <code><pre><%= annotation.message %></pre></code>
    </div>

    <% if annotation.raw_details.present? %>
      <details>
        <%= render Primer::Beta::Button.new(tag: :summary, size: :small, mt: 2, mb: 3, ml: 6) do %>Raw output<% end %>
        <div class="border-top py-2 px-3 color-bg-subtle overflow-auto">
          <code>
            <pre><%= annotation.raw_details %></pre>
          </code>
        </div>
      </details>
    <% end %>
  <% end %>
</div>
