<div id="checks_state_summary" class="js-socket-channel js-updatable-content"
  data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.commit(current_repository, head_sha)) %>"
  data-url="<%= checks_state_summary_path(repository: current_repository, ref: head_sha) %>">
  <%
    latest_check_runs = check_suites.map(&:latest_check_runs).flatten
    latest_check_runs_by_state = latest_check_runs.group_by { |check_run| check_run.conclusion || check_run.status }
  %>
  <% latest_check_runs_by_state.each_with_index do |(state, check_runs), index| %>
    <span class="f6 <%= status_state_text_color(state) %> <%= status_state_font_style(state) %>">
      <%= check_runs.count %> <%= status_state_adjective(state) %>
      <% if index < latest_check_runs_by_state.count - 2 %>
        <span class="color-fg-muted text-normal">,</span>
      <% elsif index < latest_check_runs_by_state.count - 1 %>
        <span class="color-fg-muted text-normal">, and</span>
      <% end %>
    </span>
  <% end %>
  <span class="color-fg-muted text-normal"><%= "check".pluralize(latest_check_runs.count) %></span>
</div>
