<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  if current_repository&.show_code_scanning_annotations_ui?(current_user)
    code_scanning_alerts = CodeScanningAnnotation.results_by_id(
      repository: current_repository,
      annotations: annotation_details[:annotations_by_id].keys,
    )
  end
%>

<% annotation_details[:annotations_by_id].each do |id, annotation| %>
  <%= render partial: "checks/checks_annotation", locals: {
    check_run: check_run,
    annotation: annotation,
    pull: pull,
    commit: commit,
    code_scanning_alert: code_scanning_alerts && code_scanning_alerts[id],
  } %>
<% end %>

<% if annotation_details[:has_next_page] %>
  <div class="text-center p-3 ajax-pagination-form js-ajax-pagination">
    <%= form_tag checks_annotations_path(ref: commit.oid, id: check_run.id), :method => :get do %>
      <input name="after" type="hidden" value="<%= annotation_details[:end_cursor] %>">
      <input name="pull" type="hidden" value="<%= pull&.id %>">
      <%= render Primer::ButtonComponent.new(type: :submit, "data-disable-with": "Loading more...") do %>Load more annotations...<% end %>
    <% end %>
  </div>
<% end %>
