<div class="container-lg p-responsive">
  <div class="col-10 text-center my-4 py-4 mx-auto">

    <% if !GitHub.enterprise? %>

      <h2 class="f1-light mt-4 mb-2">Enhance your code review process with GitHub Actions</h2>
      <p class="mb-5 mx-auto color-fg-muted">
        GitHub Actions make it easy to automate all your software workflows, now with world-class CI/CD.<br>
        Build, test, and deploy your code right from GitHub. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/categories/automating-your-workflow-with-github-actions">Learn more about GitHub Actions</a>.
      </p>

      <div class="d-flex mx-auto mb-5 col-7 text-left">
        <div class="d-flex flex-column col-6">
          <div class="d-flex flex-row flex-items-center px-4 mb-3">
            <%= image_tag "modules/site/features/actions-linux-and-containers.svg", alt: "Linux, macOS, Windows, and containers", class: "mr-3" %>
            <h5>Linux, macOS, Windows, and containers</h5>
          </div>

          <div class="d-flex flex-row flex-items-center px-4 mb-3">
            <%= image_tag "modules/site/features/actions-matrix.svg", alt: "Matrix builds", class: "mr-3" %>
            <h5>Matrix builds</h5>
          </div>

          <div class="d-flex flex-row flex-items-center px-4 mb-3">
            <%= image_tag "modules/site/features/actions-any-lang.svg", alt: "Any language", class: "mr-3" %>
            <h5>Any language</h5>
          </div>
        </div>

        <div class="d-flex flex-column col-6">
          <div class="d-flex flex-row flex-items-center px-4 mb-3">
            <%= image_tag "modules/site/features/actions-live-logs.svg", alt: "Live logs", class: "mr-3" %>
            <h5>Live logs</h5>
          </div>

          <div class="d-flex flex-row flex-items-center px-4 mb-3">
            <%= image_tag "modules/site/features/actions-secret-store.svg", alt: "Built-in secret store", class: "mr-3" %>
            <h5>Built-in secret store</h5>
          </div>

          <div class="d-flex flex-row flex-items-center px-4 mb-3">
            <%= image_tag "modules/site/features/actions-multi-container-testing.svg", alt: "Multi-container testing", class: "mr-3" %>
            <h5>Multi-container testing</h5>
          </div>
        </div>

      </div>

    <% else %>

      <h2 class="f1-light mt-4 mb-2">Enhance your code review process with Checks</h2>
      <p class="mb-5 mx-auto color-fg-muted" style="max-width: 600px;">Test your code with continuous integration apps and view check status, build details, and inline code annotations &mdash; without leaving GitHub. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/about-status-checks#checks">Learn more about Checks</a>.</p>

      <div class="d-flex flex-justify-center flex-wrap mb-5">
        <div class="px-4">
          <img src="<%= image_path "modules/checks/checks-index.jpg" %>" alt="a screenshot of check runs" class="rounded-2 color-shadow-large" width="340">
          <p class="color-fg-muted f6 mt-2">View check statuses and detailed summaries</p>
        </div>

        <div class="px-4">
          <img src="<%= image_path "modules/checks/checks-annotation.png" %>" alt="a screenshot of a checkrun annotation in a file diff" class="rounded-2 color-shadow-large" width="340">
          <p class="color-fg-muted f6 mt-2">App-powered annotations directly in code diffs</p>
        </div>
      </div>

    <% end %>

  </div>
</div>
