<%# erblint:counter DeprecatedComponentsCounter 5 %>
<% if current_repository.writable_by?(current_user) %>
  <% if check_suite.rerunnable? %>
    <% checks_name = check_suite.actions_app? ? "jobs" : "checks"
      details_class = local_assigns[:details_class] || "dropdown details-reset details-overlay d-inline-block ml-4 mt-n1"
      summary_class = local_assigns[:summary_class] || "btn btn-sm"
    %>

    <% if check_suite.rerequestable && !check_suite.check_runs_rerunnable %>
      <%= form_tag rerequest_check_suite_path(check_suite, user_id: current_repository.owner, repository: current_repository), class: "mt-n1", method: "put" do %>
        <input type="hidden" name="only_failed_check_runs" value="false">
        <%= render Primer::ButtonComponent.new(type: :submit) do %>
          <%= render Primer::Beta::Octicon.new(icon: "sync", mr: 1) %>
          Re-run all <%= checks_name %>
        <% end %>
      <% end %>
    <% else %>
      <template id="js-check-suite-rerequest-form-success">
        <%= render layout: "shared/flash_container", locals: { type: "notice" } do %>
          <% if check_suite.actions_app? %>
            You have successfully requested a re-run of the workflow run.
          <% else %>
            You have successfully requested checks from <%= check_suite.github_app.name %>.
          <% end %>
        <% end %>
      </template>

      <template id="js-check-suite-rerequest-form-error">
        <%= render layout: "shared/flash_container", locals: { type: "error" } do %>
          <% if check_suite.actions_app? %>
            There was a problem requesting a re-run of the workflow run.
          <% else %>
            There was a problem requesting checks from <%= check_suite.github_app.name %>.
          <% end %>
        <% end %>
      </template>

      <% if check_suite.failed? && check_suite.check_runs_rerunnable && check_suite.rerequestable %>
        <%# Dropdown menu to display both re-run failed and re-run all options, with a failed conclusion there should be at least one failed check run %>
        <details class="<%= details_class %>">
          <summary class="<%= summary_class %>" aria-haspopup="true">
            <%= render Primer::Beta::Octicon.new(icon: "sync", mr: 1) %>
            Re-run <%= checks_name %>
            <div class="dropdown-caret"></div>
          </summary>

          <ul class="dropdown-menu dropdown-menu-sw" style="width: 170px">
            <li>
              <%= form_tag rerequest_check_suite_path(check_suite, user_id: current_repository.owner, repository: current_repository), method: "put", class: "js-check-suite-rerequest-form" do %>
                <input type="hidden" name="only_failed_check_runs" value="true">
                <%= render Primer::ButtonComponent.new(scheme: :link, classes: "dropdown-item", type: :submit) do %>
                  Re-run failed <%= checks_name %>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= form_tag rerequest_check_suite_path(check_suite, user_id: current_repository.owner, repository: current_repository), method: "put", class: "js-check-suite-rerequest-form" do %>
                <input type="hidden" name="only_failed_check_runs" value="false">
                <%= render Primer::ButtonComponent.new(scheme: :link, classes: "dropdown-item", type: :submit) do %>
                  Re-run all <%= checks_name %>
                <% end %>
              <% end %>
            </li>
          </ul>
        </details>
      <% else %>
        <%# Single large button when there are no failed check runs %>
        <% if check_suite.rerequestable %>
          <%= form_tag rerequest_check_suite_path(check_suite, user_id: current_repository.owner, repository: current_repository), method: "put", class: "js-check-suite-rerequest-form" do %>
            <input type="hidden" name="only_failed_check_runs" value="false">
            <input type="hidden" name="only_failed_check_suites" value="false">
            <%= render Primer::ButtonComponent.new(type: :submit) do %>
              <%= render Primer::Beta::Octicon.new(icon: "sync", mr: 1) %>
              Re-run all <%= checks_name %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if check_suite.cancelable? %>
    <%= form_tag cancel_check_suite_path(check_suite, user_id: current_repository.owner, repository: current_repository), method: :put, class: "d-inline-block" do %>
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, variant: :small, ml: 1) do %>Cancel workflow<% end %>
    <% end %>
  <% end %>
<% end %>
