<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<% page_info \
  title: "Features · Code review",
  description: "Make code review seamless with GitHub. Request reviews, propose changes, keep track of versions, and protect branches on the path to better code with your team.",
  richweb: {
    title: "GitHub features: Intuitive code review tools",
    url: request.original_url,
    description: "Make code review seamless with GitHub. Request reviews, propose changes, keep track of versions, and protect branches on the path to better code with your team.",
    image: image_path("modules/site/social-cards/features.png"),
  }
%>

<%= render "site/features/features_nav" %>

<div class="position-relative z-1">
  <img src="<%= image_path "modules/site/heroes/features-hero-code-review.svg" %>" class="width-full position-absolute top-0 left-0 events-none z-n1" alt="">

  <div class="py-6 py-sm-8 py-lg-10 py-xl-12">
    <div class="container-lg p-responsive text-center position-relative" style="z-index: 5;">
      <%= svg("site/icons/code-review", class: "d-block mx-auto mb-5", width: "100") %>
      <h1 class="h1-mktg mb-4">Write better code</h1>
      <p class="f3-mktg color-fg-muted mb-5 col-md-9 mx-auto">On GitHub, lightweight code review tools are built into every pull request. Your team can create review processes that improve the quality of your code and fit neatly into your workflow.</p>

      <div class="jumbotron-video js-video-container togglevideo pb-6">
        <p class="togglevideo-hidewhenexpanded text-center">
          <button
            class="btn-link jumbotron-link-followup js-video-play h5-mktg d-inline-block color-fg-accent"
            type="button"
            <%= safe_analytics_click_attributes(
              category: "Video",
              action: "play",
              label: "What is GitHub Video;ref_page:Code Review"
            ) %>
          >
            <%= svg("site/icons/play-button.svg", class: "jumbotron-link-followup-icon ml-1") %>
            See what’s possible
          </button>
        </p>
        <div class="togglevideo-hidewhencollapsed togglevideo-showwhenexpanded video-responsive">
          <iframe class="js-video"
            title="Video titled 'What is GitHub?'"
            data-src="https://www.youtube.com/embed/w3jLJU7DT5E?autoplay=1&amp;rel=0"
            frameborder="0" allowfullscreen>
          </iframe>
        </div>
        <span class="jumbotron-video-close togglevideo-hidewhencollapsed togglevideo-showwhenexpanded">
          <button
            class="btn-link js-video-close"
            type="button"
            aria-label="Close video"
            <%= safe_analytics_click_attributes(
              category: "Video",
              action: "close",
              label: "What is GitHub Video;ref_page:Code Review"
            ) %>
          >
            <%= primer_octicon(:x, height: 30, color: :muted) %>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="py-7 py-md-8 py-lg-9 position-relative z-1">
  <div class="container-lg p-responsive text-center py-6">
    <h2 class="h3-mktg mb-3">Start with a pull request</h2>
    <p class="f3-mktg color-fg-muted col-md-8 mx-auto">
      Pull requests are fundamental to how teams review and improve code on GitHub. Evolve projects, propose new features, and discuss implementation details before changing your source code.
    </p>
  </div>
  <div class="container-lg p-responsive text-center">
    <h3 class="h3-mktg mt-6 pt-md-4 mb-3">Make a change</h3>
    <p class="f3-mktg color-fg-muted col-md-8 mx-auto">
      Start a new feature or propose a change to existing code with a pull request—a base for your team to coordinate details and refine your&nbsp;changes.
    </p>
    <p class="mb-6 pb-md-4 col-md-8 mx-auto">
      <%= render Site::LinkComponent.new(text: "Learn pull request fundementals", url: docs_url("pull-requests/about-pull-requests")) %>
    </p>
    <picture>
      <source srcset="<%= image_path "modules/site/code-review/pull-request.webp" %>" type="image/webp">
      <img src="<%= image_path "modules/site/code-review/pull-request.png" %>" width="980" height="341" class="d-block width-fit height-auto" alt="">
    </picture>
  </div>
</div>

<div class="container-xl p-responsive">
  <div class="py-7 py-md-8 py-lg-9 text-center">
    <h3 class="h3-mktg mt-6 pt-md-4 mb-4">See every update</h3>

    <div class="clearfix gutter-md-spacious">
      <div class="col-md-4 float-left">
        <picture>
          <source srcset="<%= image_path "modules/site/code-review/diff.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/code-review/diff.png" %>" width="460" height="193" class="width-fit height-auto my-4 my-md-6" alt="">
        </picture>
        <h3 class="h6-mktg mb-3">Diffs</h3>
        <p class="color-fg-muted f4-mktg">
          Preview changes in context with your code to see what is being proposed. Side-by-side Diffs highlight added, edited, and deleted code right next to the original file, so you can easily spot&nbsp;changes.
        </p>
        <p>
          <%= render Site::LinkComponent.new(text: "Learn how to compare branches with&nbsp;diffs", url: "#{GitHub.help_url}/articles/about-comparing-branches-in-pull-requests/", size: :medium) %>
        </p>
      </div>
      <div class="col-md-4 float-left">
        <picture>
          <source srcset="<%= image_path "modules/site/code-review/history.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/code-review/history.png" %>" width="460" class="width-fit my-4 my-md-6" alt="">
        </picture>
        <h3 class="h6-mktg mb-3">History</h3>
        <p class="color-fg-muted f4-mktg">
          Browse commits, comments, and references related to your pull request in a timeline-style interface. Your pull request will also highlight what’s changed since you last&nbsp;checked.
        </p>
        <hr class="mx-auto my-4" width="80">
        <p class="f5-mktg color-fg-muted">
          <span class="color-fg-success text-bold">Pro-tip:</span> You can <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/searching-commits/">search your commit history</a> by keyword, committer, organization, and more.
        </p>
      </div>
      <div class="col-md-4 float-left">
        <picture>
          <source srcset="<%= image_path "modules/site/code-review/blame.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/code-review/blame.png" %>" width="460" class="width-fit my-4 my-md-6" alt="">
        </picture>
        <h3 class="h6-mktg mb-3">Blame</h3>
        <p class="color-fg-muted f4-mktg">
          See what a file looked like before a particular change. With <a class="Link--inTextBlock" href="<%= GitHub.blog_url %>/2017-01-18-navigate-file-history-faster-with-improved-blame-view/">blame view</a>, you can see how any portion of your file has evolved over time without viewing the file’s full history.
        </p>
        <hr class="mx-auto my-4" width="80">
        <p class="f5-mktg">
          <span class="color-fg-success text-bold">Pro-tip:</span> Use  <code><a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/tracing-changes-in-a-file/">git blame</a></code>  to trace the changes in a file.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-lg p-responsive">
  <div class="py-7 py-md-8 py-lg-9 text-center text-md-left">
    <h3 class="h3-mktg text-center mb-5 mb-md-8">Discuss code</h3>

    <div class="d-flex flex-column flex-md-row flex-md-justify-center gutter-md-spacious mb-9">
      <div class="col-md-5 flex-md-self-center text-center">
        <picture>
          <source srcset="<%= image_path "modules/site/code-review/comment-simple.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/code-review/comment-simple.png" %>" width="460" class="d-block width-fit mx-auto mb-3" alt="" loading="lazy">
        </picture>
      </div>
      <div class="col-md-7 col-lg-6 pr-md-5 flex-md-self-center">
        <h4 class="h6-mktg mb-3">Comments</h4>
        <p class="color-fg-muted">
          On GitHub, conversations happen alongside your code. Leave detailed comments on code syntax and ask questions about structure inline.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column flex-md-row-reverse flex-md-justify-center gutter-md-spacious mb-9">
      <div class="col-md-5 flex-md-self-center text-center">
        <picture>
          <source srcset="<%= image_path "modules/site/code-review/review-request-2.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/code-review/review-request-2.png" %>" width="460" class="d-block width-fit mx-auto mb-3" alt="" loading="lazy">
        </picture>
      </div>
      <div class="col-md-7 col-lg-6 pr-md-5 flex-md-self-center">
        <h4 class="h6-mktg mb-3">Review requests</h4>
        <p class="color-fg-muted">
          If you’re on the other side of the code, requesting peer reviews is easy. Add users to your pull request, and they’ll receive a notification letting them know you need their feedback.
        </p>
      </div>
    </div>

    <div class="d-flex flex-column flex-md-row flex-md-justify-center gutter-md-spacious">
      <div class="col-md-5 flex-md-self-center text-center">
        <picture>
          <source srcset="<%= image_path "modules/site/code-review/reviews.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/code-review/reviews.png" %>" width="460" class="d-block width-fit mx-auto mb-3" alt="" loading="lazy">
        </picture>
      </div>
      <div class="col-md-7 col-lg-6 pr-md-5 flex-md-self-center">
        <h4 class="h6-mktg mb-3">Reviews</h4>
        <p class="color-fg-muted">
          Save your teammates a few notifications. Bundle your comments into one cohesive review, then specify whether comments are required changes or just suggestions.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-7 py-md-8 py-lg-9 text-center">
  <div class="container-lg p-responsive">
    <h3 class="h3-mktg mb-4">Resolve simple conflicts</h3>
    <p class="f3-mktg mb-6 col-md-8 mx-auto color-fg-muted">
      You can’t always avoid conflict. Merge pull requests faster by resolving simple merge conflicts on GitHub—no command line necessary.
    </p>
    <div class="mb-6 col-md-10 mx-auto">
      <picture>
        <source srcset="<%= image_path "modules/site/code-review/conflict.webp" %>" type="image/webp">
        <img src="<%= image_path "modules/site/code-review/conflict.png" %>" width="970" class="d-block width-fit" alt="" loading="lazy">
      </picture>
    </div>
    <p class="color-fg-muted mb-6 pb-md-4 col-md-8 mx-auto">
      Learn how to resolve merge conflicts <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/resolving-a-merge-conflict-on-github/">on GitHub</a> and <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/resolving-a-merge-conflict-using-the-command-line/">using the command line</a>.
    </p>
  </div>
</div>

<div class="py-7 py-md-8 py-lg-9 text-center color-bg-subtle">
  <div class="container-lg p-responsive">
    <h2 class="h3-mktg mb-5 mt-3">Merge the highest quality code</h2>
    <p class="f3-mktg text-normal color-fg-muted mb-2 pb-md-4 col-md-8 mx-auto">
      Reviews can improve your code, but mistakes happen. Limit human error and ensure only high quality code gets merged with detailed permissions and status&nbsp;checks.
    </p>
  </div>
  <div class="container-xl p-responsive">
    <div class="d-md-flex flex-wrap gutter-md-spacious">
      <div class="col-md-4">
        <%= svg("site/icons/permissions", class: "d-inline-block mx-auto my-5", width: "70") %>
        <h3 class="h6-mktg mb-3">Permissions</h3>
        <p class="f4-mktg color-fg-muted">
          Give collaborators as much access as they need through your repository settings. You can extend access to a few teams and select which ones can read or write to your files. The options you have for permissions depend on your plan.
        </p>
        <p class="f4-mktg">
          <%= render Site::LinkComponent.new(text: "See plan options", url: "/pricing", analytics: { category: "Code review"}, size: :medium) %>
         </p>
      </div>
      <div class="col-md-4">
        <%= svg("site/icons/protected-branches", class: "d-inline-block mx-auto my-5", width: "70") %>
        <h3 class="h6-mktg mb-3">Protected branches</h3>
        <p class="f4-mktg color-fg-muted">
          <a class="Link--inTextBlock" href="<%= docs_url "repositories/about-protected-branches" %>">Protected Branches</a> help you maintain the integrity of your code. Limit who can push to a branch, and disable force pushes to specific branches. Then scale your policies with the <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/v3/repos/branches/">Protected&nbsp;Branches&nbsp;API</a>.
        </p>
      </div>
      <div class="col-md-4">
        <%= svg("site/icons/status-checks", class: "d-inline-block mx-auto my-5", width: "70") %>
        <h3 class="h6-mktg mb-3">Required status checks</h3>
        <p class="f4-mktg color-fg-muted">
          Create required status checks to add an extra layer of error prevention on branches. Use the <a class="Link--inTextBlock" href="<%= GitHub.status_check_url %>">Status API</a> to enforce checks and disable the merge button until they pass. To err is human; to automate, divine!
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-7 py-md-8 py-lg-9">
  <div class="container-lg p-responsive">
    <h2 class="h3-mktg text-center mb-5 mt-3">Bulletproof your review process</h2>
    <p class="f3-mktg text-normal color-fg-muted text-center mb-2 pb-md-4 col-md-8 mx-auto">
      Build on GitHub with review tools to avoid human error and add extra polish to your team’s code with review tools.
    </p>
    <div class="d-flex flex-wrap gutter-md-spacious mt-md-6">
      <div class="col-md-6 mb-4 d-flex flex-items-center">
        <a href="/marketplace/codecov">
          <picture class="d-flex flex-justify-center">
            <source srcset="<%= image_path "modules/site/integrators/codecov.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/integrators/codecov.png" %>" width="96" height="96" alt="Codecov" class="p-3 circle color-shadow-medium" loading="lazy" style="background-color: #fc2b6a;">
          </picture>
        </a>
        <div class="pl-4">
          <h3 class="h6-mktg mb-1">
            <a href="/marketplace/codecov">Codecov</a>
          </h3>
          <p>Group, merge, archive and compare coverage reports</p>
        </div>
      </div>
      <div class="col-md-6 mb-4 d-flex flex-items-center">
        <a href="/marketplace/codacy">
          <picture class="d-flex flex-justify-center">
            <source srcset="<%= image_path "modules/site/integrators/codacy-dark.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/integrators/codacy-dark.png" %>" alt="Codacy" class="p-3 circle color-shadow-medium" width="96" height="96" loading="lazy" style="background-color: #242C33;">
          </picture>
        </a>
        <div class="pl-4">
          <h3 class="h6-mktg mb-1">
            <a href="/marketplace/codacy">Codacy</a>
          </h3>
          <p>Automated code reviews to help developers ship better software, faster</p>
        </div>
      </div>
    </div>
    <div class="d-flex flex-wrap gutter-md-spacious mt-md-6">
      <div class="col-md-6 mb-4 d-flex flex-items-center">
        <a href="/marketplace/coveralls">
          <picture class="d-flex flex-justify-center">
            <source srcset="<%= image_path "modules/site/integrators/coveralls.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/integrators/coveralls.png" %>" alt="Coveralls" class="p-3 circle color-shadow-medium" width="96" height="96" loading="lazy" style="background-color: #FFFFFF;">
          </picture>
        </a>
        <div class="pl-4">
          <h3 class="h6-mktg mb-1">
            <a href="/marketplace/coveralls">Coveralls</a>
          </h3>
          <p>Ensure that new code is fully covered, and see coverage trends emerge</p>
        </div>
      </div>
      <div class="col-md-6 mb-4 d-flex flex-items-center">
        <a href="/marketplace/codefactor">
          <picture class="d-flex flex-justify-center">
            <source srcset="<%= image_path "modules/site/integrators/codefactor.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/integrators/codefactor.png" %>" alt="Gitcolony" class="p-3 circle color-shadow-medium" width="96" height="96" loading="lazy"  style="background-color: #353e4f;">
          </picture>
        </a>
        <div class="pl-4">
          <h3 class="h6-mktg mb-1">
            <a href="/marketplace/codefactor">CodeFactor</a>
          </h3>
          <p>Automated Code Review for GitHub</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center border-y py-4">
  <a href="/features">&larr; Back to all features</a>
</div>

<%= render "site/pricing/features_pricing" %>
