<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= form_tag(
  form_path,
  "data-replace-remote-form": true,
  class: "js-custom-thread-settings-form d-flex flex-column",
) do -%>
  <input type="hidden" name="repository_id" value="<%= list_id %>">
  <input type="hidden" name="thread_id" value="<%= thread_id %>">
  <input type="hidden" name="thread_class" value="<%= thread_class %>">
  <div>
    <label class="d-block p-3">
      <div class="form-checkbox my-0">
        <input
          type="radio"
          name="id"
          value="unsubscribe"
          class="js-thread-notification-setting"
          <% if unsubscribed? %>
            checked
          <% end %>
        > Not subscribed
        <p class="note">
          Only receive notifications from this <%= visible_thread_type %>
          when you have participated or have been @mentioned.
        </p>
      </div>
    </label>
    <label class="d-block p-3 border-top">
      <div class="form-checkbox my-0">
        <input
          type="radio"
          name="id"
          value="<%= modal_subscribe_action %>"
          class="js-thread-notification-setting"
          <% if subscribed? %>
            checked
          <% end %>
        > Subscribed
        <p class="note">Receive all notifications from this <%= visible_thread_type %>.</p>
      </div>
    </label>
    <label class="d-block p-3 border-top" aria-live="polite">
      <div class="form-checkbox my-0">
        <input
          type="radio"
          name="id"
          value="subscribe_to_custom_notifications"
          class="js-thread-notification-setting js-reveal-custom-thread-settings"
          <% if custom_subscription? %>
            checked
          <% end %>
        > Custom
        <p class="note">You will only be notified for the events selected from the list below.
        <br>If you participate or are @mentioned you will be subscribed.</p>
      </div>
    </label>
    <div
      class="ml-3 js-custom-thread-settings"
      <% if !custom_subscription? %>
        hidden
      <% end %>
    >
      <% subscribable_events.each do |event_name| %>
        <label class="d-block px-3 mb-3">
          <div class="form-checkbox m-0">
            <input
              type="checkbox"
              name="events[]"
              value="<%= event_name %>"
              class="js-custom-thread-notification-option"
              data-custom-option-required-text="Please select at least one event."
              <% if subscribed_to_event?(event_name) %>
                checked
              <% end %>
            > <%= event_name.capitalize %>
            <p class="note">
              Receive a notification when this <%= visible_thread_type %>
              has been <%= event_name %>.
            </p>
          </div>
        </label>
      <% end %>
    </div>
  </div>
  <div class="Box-footer form-actions">
    <button type="submit" class="btn btn-primary" data-disable-with="Saving…" autofocus>
      Save
    </button>
    <%= render Primer::Beta::Button.new(type: :reset, "data-close-dialog-id": "configure_thread_subscription", float: :right, mr: 1) do %>Cancel<% end %>
  </div>
<% end %>
