<% if deferred? %>
  <include-fragment loading="lazy" src="<%= websocket_url %>">
    <div data-hide-on-error>
      <% if spinner? %>
        <%= spinner %>
      <% else %>
        <%= render(Primer::Beta::Spinner.new(mx: :auto, display: :block)) %>
      <% end %>
    </div>
    <p data-show-on-error hidden>
      <% if fallback_error? %>
        <%= fallback_error %>
      <% else %>
        <%= primer_octicon(:alert, mr: 1) %>
        Sorry, something went wrong and we weren't able to fetch your subscription status.
        <%= render Primer::Beta::Button.new(scheme: :link, classes: "Link--muted", "data-retry-button": "") do %>Retry<% end %>
      <% end %>
    </p>
  </include-fragment>
<% else %>
  <div
    class="thread-subscription-status js-socket-channel js-updatable-content"
    data-replace-remote-form-target
    data-channel="<%= channel_list %>"
    data-url="<%= websocket_url %>"
    <%= test_selector "notifications-commit-subscription" %>
  >
    <% if custom_notifications_supported_for_thread? %>
      <%= render(
        Notifications::ConfigureThreadSubscriptionDialogComponent.new(
          list: list,
          thread_class: thread_class,
          thread_id: thread_id,
        ),
      ) %>
    <% elsif show_notifications_header? %>
      <div class="discussion-sidebar-heading text-bold mt-n1 py-1 mb-1">
        Notifications
      </div>
    <% end %>
    <% if notifications_disabled_for_thread? %>
      <div class="thread-subscribe-form">
        <%= render(Primer::Beta::Button.new(
          block: :true,
          size: :small,
          disabled: true,
          "data-thread-subscribe-button": "",
          "aria-describedby": "notification-subscribe-button-reason"
        )) do |button| %>
          <% button.with_leading_visual_icon(icon: "bell-slash") %>
          Subscribe
        <% end %>
      </div>
    <% elsif thread_status == :unavailable %>
      <div class="thread-subscribe-form">
        <%= render(Primer::Beta::Button.new(
          block: :true,
          size: :small,
          disabled: true,
          "data-thread-subscribe-button": "",
          "aria-describedby": "notification-subscribe-button-reason"
        )) do |button| %>
          <% button.with_leading_visual_icon(icon: "bell-slash") %>
          Unavailable
        <% end %>
      </div>
    <% else %>
      <%= form_tag form_path, "data-replace-remote-form": true, class: "thread-subscribe-form" do -%>
        <input type="hidden" name="repository_id" value="<%= list_id %>">
        <input type="hidden" name="thread_id" value="<%= thread_id %>">
        <input type="hidden" name="thread_class" value="<%= thread_class %>">
        <input type="hidden" name="id" value="<%= form_action %>">
        <%= render(Primer::Beta::Button.new(
          block: :true,
          type: :submit,
          size: :small,
          "data-thread-subscribe-button": "",
          "data-disable-with": "",
          disabled: thread_status == :ignoring_list,
          "aria-describedby": "notification-subscribe-button-reason"
        )) do |button| %>
          <% button.with_leading_visual_icon(icon: button_icon) %>
          <%= button_text %>
        <% end %>
      <% end %>
    <% end %>
    <% if display_explanation_text? %>
      <p id="notification-subscribe-button-reason" class="reason text-small color-fg-muted" aria-live="polite">
        <%= explanation_text %>
      </p>
    <% end %>
  </div>
<% end %>
