<%# erblint:counter FlashMigrationCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% if deferred? %>
  <%= render Primer::BaseComponent.new(
      tag: :"notification-shelf-watcher",
      classes: "js-socket-channel",
      src: include_url,
      data: {
        "base-url": base_url,
        channel: websocket_channel,
      }) { "" }
  %>
  <%# the target placeholder has to be outside the watcher, if not the sticky logic won't work properly %>
  <div hidden data-initial data-target="notification-shelf-watcher.placeholder"></div>
<% else %>
  <%
    content_css_classes = class_names(
      "d-flex flex-justify-between",
      {
        "notification-read": !referrer[:is_unread] && !referrer[:is_archived],
        "notification-unread": referrer[:is_unread],
        "notification-archived": referrer[:is_archived],
        "notification-unsubscribed": ["unsubscribed", "list_ignored"].include?(referrer[:subscription_status]),
        "notification-starred": referrer[:is_starred],
      }
    )
  %>

  <div
    class="notifications-v2 notification-shelf js-notification-shelf js-notification-top-shelf js-sticky js-position-sticky top-0 flash flash-full mt-0 border-top-0 overflow-x-hidden <%= extra_classes %>"
    style="position: sticky;"
    id="notification-shelf"
    data-turbo-permanent
    data-target="notification-shelf-watcher.placeholder"
    <%= test_selector("notification-top-shelf") %>
  >
    <div
      class="<%= content_css_classes %>"
      data-notification-id="<%= referrer[:id] %>"
      data-notification-status="<%= referrer[:is_unread] ? "unread" : "read" %>"
      data-target="notification-shelf-watcher.placeholder"
    >
      <a href="<%= back_to_notifications_url %>"
        class="js-notifications-back-to-inbox btn btn-sm mr-2"
        aria-labelledby="shelf-back-label">
          &#8592;
          <span class="d-md-none">Notifications</span>
          <span id="shelf-back-label" class="d-none d-md-inline">Back to notifications</span>
      </a>

      <ul class="d-flex flex-items-center list-style-none d-md-none">
        <%=
          render(
            partial: "notifications/v2/actions/item_actions",
            locals: {
              include_read_actions: true,
              include_hotkeys: false,
              inbox_redirect: true,
              notification_id: referrer[:id],
              list_is_ignored: referrer[:subscription_status] == "list_ignored",
              show_button_text: false,
              button_classes: "btn-sm"
            }
          )
        %>
      </ul>
      <ul class="flex-items-center list-style-none d-none d-md-flex">
        <%=
          render(
            partial: "notifications/v2/actions/item_actions",
            locals: {
              include_read_actions: true,
              include_hotkeys: true,
              inbox_redirect: true,
              notification_id: referrer[:id],
              list_is_ignored: referrer[:subscription_status] == "LIST_IGNORED",
              show_button_text: true,
              button_classes: "btn-sm"
            }
          )
        %>
        <li>
          <button class="btn-octicon js-flash-close" type="button" aria-label="Close notification controls">
            <%= primer_octicon(:x) %>
          </button>
        </li>
      </ul>
    </div>
  </div>
<% end %>
