<%-
  # @request is an ExemptionRequest
  # @response is an ExemptionResponse
  # @repository is a Repository
  # @status is a String
  # @reason is a String
-%>
<% content_for :header do %>
  <% if @status == "dismissed" %>
    Your request to bypass push protections had recent activity but still requires approval
  <% else %>
    Your request to bypass push protections has been <%= @status %>
  <% end %>
<% end %>

<%= render(Mail::BorderedRowComponent.new(skip_padding: true, classes: "text-left")) do %>
  <%= render(Mail::BorderedRowComponent.new(skip_padding: true)) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      <p class="mb-0 text-gray">User</p>
    <% end %>
    <td style="width: 75%" class="p-2 text-left">
      <%= render GitHub::AvatarComponent.new(actor: @request.requester, size: 16, classes: "avatar-small") %>
      <span class="mb-0 v-align-middle"><%= @request.requester.display_login %></span>
    </td>
  <% end %>
  <%= render(Mail::BorderedRowComponent.new(skip_padding: true)) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      <p class="mb-0 text-gray">Repository</p>
    <% end %>
    <td style="width: 75%" class="p-2 text-left">
      <p class="mb-0"><%= @repository.name_with_display_owner %></p>
    </td>
  <% end %>
  <%= render(Mail::BorderedRowComponent.new(skip_padding: true)) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      <p class="mb-0 text-gray">Commit</p>
    <% end %>
    <td style="width: 75%" class="p-2 text-left">
      <p class="mb-0"><%= @request.resource_owner.after_oid %></p>
    </td>
  <% end %>
  <%= render(Mail::BorderedRowComponent.new(skip_padding: true, last: true)) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      <p class="mb-0 text-gray">Time</p>
    <% end %>
    <td style="width: 75%" class="p-2 text-left">
      <p class="mb-0"><%= @request.created_at %></p>
    </td>
  <% end %>

  <%= render(Mail::SpacerComponent.new(size: 24)) %>
<% end %>

<%
  rule_suite = @request.resource_owner
  failed_rules = rule_suite.rule_runs.filter(&:failed?)
%>
<% failed_rules.each do |rule_run| %>
  <%= render(Mail::BorderedRowComponent.new(skip_padding: true, classes: "text-left")) do %>
    <td style="width: 100%">
      <p class="mb-0 py-4">
        <%= render(Primer::Beta::Octicon.new(icon: :stop, size: :small, color: :danger, mr: 2)) %>
        <b class="h4"><%= rule_run.rule_impl.display_name %></b>
      </p>
    </td>
    <td>
      <%= rule_run.violations["total"] %>
    </td>
  <% end %>
<% end %>

<%= render(Mail::SpacerComponent.new(size: 24)) %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ContainerComponent.new) do %>
    <% if @status == "dismissed" %>
      <p><b>@<%= @response.reviewer.display_login %></b> dismissed their response to your request.</p>
    <% else %>
      <p>Your request has been <%= @status %> by <b>@<%= @response.reviewer.display_login %></b>.</p>
    <% end %>

    <%= render(Mail::SpacerComponent.new(size: 16)) %>

    <%= render(Mail::ButtonComponent.new(
      text: "View request details",
      url: @permalink,
      classes: "btn-large btn-primary"))
    %>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  <%= @reason %>
<% end %>
