<% if this_team.externally_managed? %>
  <div class="site-admin-table">
    <table>
      <tr>
        <th>
          External Groups
        </th>
        <td>
          <%= link_to gh_external_groups_stafftools_team_path(this_team) do %>
            <%= pluralize mappings.size, "external group", "external groups" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>
          Status
        </th>
        <td>
          <span class="text-bold"><%= status %></span>
          <div class="text-small">
            <%= render(Primer::Beta::Link.new(href: splunk_search_url(%Q!index=catchall app=group-syncer team_id="#{this_team.global_relay_id}"!), target: "_blank", classes: "Link--inTextBlock")) do |component| %>
              View logs
              <%= render Primer::Beta::Octicon.new("link-external") %>
            <% end %>
          </div>
          <% if status == "partial" %>
            <div class="text-small color-fg-muted">This group has greater than 5000 members and cannot be fully synced by design.</div>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>
          Synced At
        </th>
        <td>
          <%= synced_at %>
        </td>
      </tr>
    </table>
  </div>
<% else %>
  <p class="site-admin-blankstate">No external groups</p>
<% end %>
