<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info \
  title: "#{this_user.login} - Failed invitations",
  container_xl: true,
  selected_link: :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless d-flex flex-justify-between">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Members", stafftools_user_teams_path(this_user) %>
      / Failed invitations
    </h2>
    <% if !GitHub.single_business_environment? && invitations.any? %>
      <%= render GitHub::DialogComponent.new(title: "Delete failed invitations for #{this_user.name}") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
        <% dialog.with_summary do %>
          <%= render Primer::ButtonComponent.new(
            float: :right,
            tag: :summary,
            scheme: :danger
          ) do %>
            Delete failed invitations
          <% end %>
        <% end %>
        <% dialog.with_body do %>
          <p>Are you sure you want to delete all failed invitations to the <%= this_user.name %> organization?</p>
        <% end %>
        <% dialog.with_footer do %>
          <%= form_tag stafftools_user_invitations_collection_path(this_user, "failed"), method: :delete do %>
            <%= render Primer::ButtonComponent.new(
              type: :submit,
              scheme: :danger,
              block: true
            ) do %>
              Confirm failed invitations deletion
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if invitations.any? %>
    <%= render "stafftools/teams/invitation_list",
      render_failed_invitations: true,
      invitations: invitations %>
  <% else %>
    <p class="site-admin-blankstate">
      No failed invitations.
    </p>
  <% end %>
</div>
