<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
    :title => "#{this_user} - guest collaborators",
    :selected_link => :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Members", stafftools_user_teams_path(this_user) %>
        /
        Guest collaborators
    </h2>
  </div>

  <p>
    Guest collaborators are a special type of EMU that cannot see internal repositories in an enterprise by default. They must be added to an organization directly, or through a team, to see repositories owned by the organization.
  </p>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading" <%= test_selector "teams-guest-collaborator-subheading" %>>
      Guest collaborators
    </h2>
  </div>

  <%= render Stafftools::SimpleSearchFormComponent.new(
    query_label: "Search guest collaborators",
    form_url: guest_collaborators_stafftools_user_path(this_user)
  ) %>

  <% if users.any? %>
    <table class="site-admin-table">
      <% users.each do |user| %>
        <tr>
          <td <%= test_selector "guest-collaborator" %>>
            <%= avatar_for user, 20, class: :avatar %>
            <%= link_to user, stafftools_user_path(user) %>
          </td>
          <td>
            <%= user.profile_name %>
          </td>
          <td class="float-right">
            <% role = Organization::Role.new(this_user, user) %>
            <% if role.admin? %>
              Owner
            <% else %>
              <%= link_to pluralize(this_user.teams_for(user).size, "team"),
                            stafftools_user_organization_membership_path(user, this_user) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate users %>
    </div>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
          No guest collaborators
        <% if params[:query].present? %>
          matching <em><%= params[:query] %></em>
        <% end %>
        in this organization.
      <% end %>
    <% end %>
  <% end %>
</div>
