<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "#{this_user.login} - Teams", selected_link: :org_teams %>

<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
	<% component.with_heading(tag: :h2) do %>Members<% end %>
  <% unless GitHub.enterprise? %>
    <% component.with_actions do %>
      <%= render(OrganizationMembersExportComponent.new(
        export_path: members_export_stafftools_user_path(this_user)
      )) %>
    <% end %>
  <% end %>
<% end %>

<table class="site-admin-table" <%= test_selector("stafftools-teams-members") %>>
  <tr <%= test_selector("stafftools-owners-link") %>>
    <td>
      <%= link_to "Owners", owners_stafftools_user_path(this_user) %>
    </td>
    <td class="right-align">
      <%= pluralize num_admins, "user" %>
    </td>
  </tr>
  <tr <%= test_selector("stafftools-direct-members-link") %>>
    <td>
      <%= link_to "Direct members", members_stafftools_user_path(this_user) %>
    </td>
    <td class="right-align">
      <%= pluralize num_members, "user" %>
    </td>
  </tr>
  <% if GitHub.user_abuse_mitigation_enabled? %>
    <tr <%= test_selector("stafftools-moderators-link") %>>
      <td>
        <%= link_to "Moderators", stafftools_user_moderators_path(this_user) %>
      </td>
      <td class="right-align">
        <%= pluralize num_moderator_users, "user" %>, <%= pluralize num_moderator_teams, "team" %>
      </td>
    </tr>
  <% end %>
  <% if this_user.enterprise_managed_user_enabled? %>
    <tr  <%= test_selector("stafftools-guest-collaborators-link") %>>
      <td>
        <%= link_to "Guest collaborators", guest_collaborators_stafftools_user_path(this_user) %>
      </td>
      <td class="right-align">
        <%= pluralize num_guest_collaborators, "user" %>
      </td>
    </tr>
  <% else %>
    <tr <%= test_selector("stafftools-outside-collaborators-link") %>>
      <td>
        <%= link_to GitHub.outside_collaborators_flavor.capitalize, outside_collaborators_stafftools_user_path(this_user) %>
      </td>
      <td class="right-align">
        <%= pluralize num_outside_collaborators, "user" %>
      </td>
    </tr>
    <% if GitHub.repo_invites_enabled? %>
      <tr <%= test_selector("stafftools-pending-collaborators-link") %>>
        <td>
          <%= link_to \
            "Pending collaborators",
            pending_collaborators_stafftools_user_path(this_user) %>
        </td>
        <td class="right-align">
          <%= pluralize num_pending_collaborators, "pending collaborator" %>
        </td>
      </tr>
    <% end %>
  <% end %>
  <% if this_user.business&.emu_repository_collaborators_enabled? %>
  <tr <%= test_selector("stafftools-repository-collaborators-link") %>>
    <td>
      <%= link_to "Repository collaborators", repository_collaborators_stafftools_user_path(this_user) %>
    </td>
    <td class="right-align">
      <%= pluralize num_outside_collaborators, "user" %>
    </td>
  </tr>
  <% end %>
  <% unless GitHub.bypass_org_invites_enabled? %>
    <tr <%= test_selector("stafftools-pending-invitations-link") %>>
      <td>
        <%= link_to \
          "Pending invitations",
          invitations_stafftools_user_path(this_user) %>
      </td>
      <td class="right-align">
        <%= pluralize num_invitations, "invitation" %>
      </td>
    </tr>
    <tr <%= test_selector("stafftools-failed-invitations-link") %>>
      <td>
        <%= link_to \
          "Failed invitations",
          failed_invitations_stafftools_user_path(this_user) %>
      </td>
      <td class="right-align">
        <%= pluralize num_failed_invitations, "invitation" %>
      </td>
    </tr>
    <tr <%= test_selector("stafftools-invitation-opt-outs-link") %>>
      <td>
        <%= link_to \
          "Invitation opt outs",
          invitation_opt_outs_stafftools_user_path(this_user) %>
      </td>
      <td class="right-align">
        <%= pluralize num_opted_out_invitations, "opt out" %>
      </td>
    </tr>
  <% end %>
</table>

<div class="site-admin-subhead ruleless">
  <h2 class="site-admin-subhead-heading">
    Teams
  </h2>
</div>

<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search teams",
  form_url: stafftools_user_teams_path(this_user)
) %>

<% if teams.empty? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No teams
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      in this organization.
    <% end %>
  <% end %>
<% else %>
  <table class="site-admin-table">
    <% teams.each do |team| %>
      <tr>
        <td <%= test_selector "team-#{team.slug}" %>>
          <%= link_to team.name, gh_stafftools_team_path(team) %>
        </td>
        <td>
          <% if team.legacy_admin? %>
            <span class="d-inline-flex flex-items-center">
              Legacy admin team
              <%= render Primer::Beta::IconButton.new(icon: :info, size: :small, "aria-label": "Members can create new repositories", tooltip_direction: :sw, scheme: :invisible) %>
            </span>
          <% end %>
        </td>
        <td>
          <% if team.pending_team_membership_requests.any? %>
            <%= pluralize \
                  team.pending_team_membership_requests.size,
                  "pending request" %>
            to join
          <% end %>
        </td>
        <% if team.externally_managed? %>
          <td class="right-align">
            <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: external groups") do %>
              external groups
            <% end %>
            <% if external_group_team = team.external_group_team %>
              <% if external_group_team.in_sync? %>
                <%= render Primer::Beta::Label.new(scheme: :success, test_selector: "external-group-team-synced-#{team.id}") do %>
                  Synced
                <% end %>
              <% elsif external_group_team.out_of_sync_insufficient_licenses? %>
                <%= render Primer::Beta::Label.new(scheme: :danger, test_selector: "external-group-team-no-licenses-#{team.id}") do %>
                  Not Synced: out of licenses
                <% end %>
              <% else %>
                <%= render Primer::Beta::Label.new(scheme: :danger, test_selector: "external-group-team-not-synced-#{team.id}") do %>
                  Not Synced
                <% end %>
              <% end %>
            <% elsif !this_user.enterprise_managed_user_enabled? %>
              <%= render Primer::Beta::Label.new(scheme: team.mapping_sync_status_label, title: "Label: #{team.mapping_sync_status}") do %>
                <%= team.mapping_sync_status %>
              <% end %>
            <% end %>
          </td>
          <td class="right-align">
            <% if this_user.enterprise_managed_user_enabled? %>
              <%= form_tag gh_stafftools_reconcile_team_path(team), method: :put do %>
                <%= render(Primer::ButtonComponent.new(variant: :small, type: :submit)) { "Reconcile" } %>
              <% end %>
            <% else %>
              <%= form_tag gh_stafftools_sync_team_path(team), method: :put do %>
                <%= render(Primer::ButtonComponent.new(variant: :small, type: :submit)) { "Sync" } %>
              <% end %>
            <% end %>
          </td>
        <% else %>
          <td class="right-align"></td>
          <td class="right-align"></td>
        <% end %>

        <td class="right-align">
          <% if SecurityProduct::SecurityManagerRole.granted_or_inherited? team %>
            <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: Security manager") do %>
              <%= "Security manager" %>
            <% end %>
          <% end %>
        </td>
        <td class="right-align">
          <%= pluralize team.num_members, "user" %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate teams %>
  </div>
<% end %>
