<% page_info \
     :title => "#{this_user.login} - Invitation opt outs",
     :selected_link => :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Members", stafftools_user_teams_path(this_user) %>
      / Invitation opt outs
    </h2>
  </div>

  <p>
    These users have clicked the opt out link from an invitation email.
    They will not receive any future invitations from this organization unless
    their opt out is removed.
  </p>

  <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Invitation opt outs
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% if invitation_opt_out_groups.empty? %>
      <% component.with_row do %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h3).with_content("No invitation opt outs.") %>
        <% end %>
      <% end %>
    <% else %>
      <% invitation_opt_out_groups.each do |invite, opt_outs| %>
        <% component.with_row do %>
          Invitation ID: <%= invite %>
          <%= form_tag remove_invitation_opt_out_stafftools_user_teams_path(this_user, invitation: invite),
                        :class => "inline-form float-right" do %>
            <%= submit_tag "Delete", :class => "btn btn-sm btn-danger" %>
          <% end %>
          <ul class="list-style-none">
            <% opt_outs.each do |opt| %>
              <li><%= opt.email %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
