<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
     title: "#{this_user.login} - Pending invitations",
     container_xl: true,
     selected_link: :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Members", stafftools_user_teams_path(this_user) %>
      / Pending invitations
    </h2>
  </div>

  <p>
    These users have been invited to join this organization by one of its
    owners.  An invite will remain pending until the user accepts or rejects it,
    or an owner cancels it.
  </p>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Rate limit policy
    </h2>
  </div>

  <p>
    This organization is rate limited with the <strong><%= rate_limit_policy.classification %></strong> policy,
    with <%= number_with_delimiter rate_limit_policy.limit %> <%= "invitation".pluralize(rate_limit_policy.limit) %> per day allowed.
  </p>

  <h3>Rate limit policy</h3>
  <%= form_tag set_invitation_rate_limit_stafftools_user_teams_path(this_user) do %>
    <div class="form-group">
      <div class="form-group-header">
        <label for="custom-rate-limit">Custom limit</label>
      </div>
      <div class="form-group-body mb-3">
        <input type="number" name="custom_rate_limit" id="custom-rate-limit"
          value="<%= rate_limit_policy.limit if rate_limit_policy.custom? %>"
          placeholder="<%= rate_limit_policy.limit  %>"
          class="form-control input-contrast">
      </div>

      <div class="form-group-header">
        <label for="custom_rate_limit_expires_at">Expires on</label>
      </div>
      <div class="form-group-body">
        <input type="date" pattern="\d\d\d\d-\d\d-\d\d" placeholder="yyyy-mm-dd"
          class="form-control" id="custom_rate_limit_expires_at"
          value="<%= rate_limit_policy.custom_limit_expires_at.strftime("%Y-%m-%d") if rate_limit_policy.custom_limit_expires_at.present? %>"
          name="custom_rate_limit_expires_at">
      </div>
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, mt: 3) do %>
        Set custom limit
      <% end %>
    </div>
  <% end %>

  <%= form_tag reset_invitation_rate_limit_stafftools_user_teams_path(this_user) do %>
    <button type="submit" class="btn btn-danger <%= "tooltipped tooltipped-e" unless rate_limit_policy.custom? %>"
      <%= "disabled" unless rate_limit_policy.custom? %>
      <% unless rate_limit_policy.custom? %>disabled aria-label="No custom limit applied"<% end %>><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
      Remove custom limit
    </button>
  <% end %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>

  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: @query,
          logs: @logs,
          more_results: @more_results,
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Invitations
    </h2>
  </div>

  <% if invitations.any? %>
    <%= render "stafftools/teams/invitation_list",
      render_failed_invitations: false,
      invitations: invitations %>
  <% else %>
    <p class="site-admin-blankstate">
      No pending invitations.
    </p>
  <% end %>
</div>
