<% page_info \
    :title => "#{this_user} - #{outside_collaborators_verbiage(this_user)}",
    :selected_link => :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Members", stafftools_user_teams_path(this_user) %>
      /
      <%= outside_collaborators_verbiage(this_user).capitalize %>
    </h2>
  </div>

  <p>
    <%= outside_collaborators_verbiage(this_user).capitalize %> are users that have access to
    this organization’s repositories but are not members of the organization.
  </p>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= outside_collaborators_verbiage(this_user).capitalize %>
    </h2>
  </div>

  <%= render Stafftools::SimpleSearchFormComponent.new(
    query_label: "Search #{outside_collaborators_verbiage(this_user)}",
    form_url: this_user.business&.emu_repository_collaborators_enabled? ?
      repository_collaborators_stafftools_user_path(this_user) :
      outside_collaborators_stafftools_user_path(this_user)
  ) %>

  <% if users.any? %>
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |box| %>
      <% users.each do |user| %>
        <% box.with_row test_selector: "collaborator-#{user.login}" do %>
          <%= avatar_for user, 20, class: :avatar %>
          <%= link_to user, stafftools_user_path(user) %>
          <span class="ml-2 color-fg-muted">
            <%= user.profile_name %>
          </span>
        <% end %>
      <% end %>
    <% end %>

    <div class="paginate-container">
      <%= will_paginate users %>
    </div>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No <%= outside_collaborators_verbiage(this_user) %>
        <% if params[:query].present? %>
          matching <em><%= params[:query] %></em>
        <% end %>
        in this organization.
      <% end %>
    <% end %>
  <% end %>
</div>
