<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "#{this_user} - owners", :selected_link => :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Members", stafftools_user_teams_path(this_user) %>
      / Owners
    </h2>
  </div>

  <p>
    Owners have full control over all aspects of an organization.  This
    includes managing billing, repositories, members, permissions and even adding or
    removing other owners.
  </p>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>

  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: @query,
          logs: @logs,
          more_results: @more_results,
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">Add owners</h2>
    <p>
      <%= form_for "add_owner", url: add_owner_stafftools_user_path(this_user), html: { class: "d-flex" } do |f| %>
        <%= text_field_tag "login", nil, placeholder: "User to add as owner",
            id: "add-login",
            "aria-label": "User to add as owner", required: true,
            class: "flex-shrink-0 mr-1" %>
        <%= text_field_tag "reason", nil,
            id: "add-reason",
            placeholder: "Please provide an explanation for the audit log.",
            "aria-label": "Please provide an explanation for the audit log.",
            required: true, class: "flex-auto mr-1" %>
        <%= render Primer::Beta::Button.new(type: :submit, "data-disable-invalid": "", scheme: :primary, float: :right) do %>Add owner<% end %>
      <% end %>
    </p>
  </div>

  <% if this_user.login == "dsp-testing" %>
    <div class="site-admin-subhead ruleless">
      <h2 class="site-admin-subhead-heading">Demote Owners to Members</h2>
      <p>
        <%= form_for "demote_owner", url: demote_owner_stafftools_user_path(this_user), html: { class: "d-flex" } do |f| %>
          <%= text_field_tag "login", nil, placeholder: "Owner to demote",
              id: "demote-login",
              "aria-label": "User to demote to member", required: true,
              class: "flex-shrink-0 mr-1" %>
          <%= text_field_tag "reason", nil,
              id: "demote-reason",
              placeholder: "Please provide an explanation for the audit log.",
              "aria-label": "Please provide an explanation for the audit log.",
              required: true, class: "flex-auto mr-1" %>
          <%= render Primer::Beta::Button.new(type: :submit, "data-disable-invalid": "", scheme: :primary, float: :right) do %>Demote owner<% end %>
        <% end %>
      </p>
    </div>
  <% end %>

  <div class="d-flex flex-items-start flex-justify-between">
    <%= render Stafftools::SimpleSearchFormComponent.new(
      query_label: "Search owners",
      form_url: owners_stafftools_user_path(this_user)
    ) %>

  <% if all_org_owners.any? %>
    <div class="form-group">
      <%= render Primer::Beta::ClipboardCopy.new(
        value: members_as_copyable_text(all_org_owners),
        classes: "btn",
        "aria-label": "Copy all owners to clipboard") do %>
        <%= render(Primer::Beta::Octicon.new(icon: "copy")) %>
        Copy all owners
      <% end %>
    </div>
  <% end %>
  </div>

  <% if users.any? %>
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |box| %>
      <% users.each do |user| %>
        <% box.with_row test_selector: "owner-#{user.login}" do %>
          <%= avatar_for user, 20, class: :avatar %>
          <%= link_to user, stafftools_user_path(user) %>
          <span class="ml-2 color-fg-muted">
            <%= user.profile_name %>
          </span>
        <% end %>
      <% end %>
    <% end %>

    <div class="paginate-container">
      <%= will_paginate users %>
    </div>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No owners
        <% if params[:query].present? %>
          matching <em><%= params[:query] %></em>
        <% end %>
        in this organization.
      <% end %>
    <% end %>
  <% end %>
</div>
