<% page_info \
  title: "#{this_user.login} - Pending collaborators",
  selected_link: :org_teams %>
<div class="site-admin-subhead ruleless">
  <h2 class="site-admin-subhead-heading">
    <%= link_to "Members", stafftools_user_teams_path(this_user) %>
    / Pending collaborators
  </h2>
</div>
<p>
  These users have pending collaborator invitations for repositories
  owned by <strong><%= this_user.login %></strong>.
</p>

<div class="d-flex flex-items-end flex-justify-between">
  <%= render Stafftools::SimpleSearchFormComponent.new(
    query_label: "Search pending collaborators",
    form_url: pending_collaborators_stafftools_user_path(this_user),
    extra_input_fields: [
      {
        name: "is_occupying_seat",
        id: "is_occupying_seat",
        value: view.filter_seats,
        hidden: true,
      },
    ]
  ) %>

  <% if view.show_filter? %>
    <div class="mb-1 clearfix">
      <a href="<%= view.filter_link %>" class="text-bold color-fg-muted mt-1 mr-2 float-right">
        <%= view.filter_icon %> <%= view.filter_text %>
      </a>
    </div>
  <% end %>
</div>

<% if collaborator_invitations.any? %>
  <div class="Box Box--condensed">
    <div class="Box-header d-flex flex-items-center">
      <h3 class="Box-title flex-auto">
        <%= view.list_title %>
        <%= render Primer::Beta::Counter.new(count: collaborator_invitations.total_entries, scheme: :primary) %>
      </h3>
      <%= render Primer::Beta::ClipboardCopy.new(value: view.collaborators_json, "aria-label": "Copy to clipboard", classes: "btn btn-sm") %>
    </div>
    <ul id="pending-collaborators-list">
      <% collaborator_invitations.each do |collaborator_invitation| %>
        <li class="Box-row clearfix">
          <% if collaborator_invitation.email %>
            <%= primer_octicon(:mail, height: 20, width: 20, color: :muted, classes: "avatar-small") %>
            <%= collaborator_invitation.email %>
          <% else %>
            <%= avatar_for collaborator_invitation.invitee, 20, class: :avatar %>
            <%= link_to collaborator_invitation.invitee.login, stafftools_user_path(collaborator_invitation.invitee.login) %>
          <% end %>
          <% repo = collaborator_invitation.repository %>
          <div class="float-right">
            <% if repo.fork? %>
              <%= primer_octicon(:"repo-forked", classes: 'repo-icon', :'aria-label' => "Forked repository") %>
            <% elsif repo.mirror.present? %>
              <%= primer_octicon(repo.private? ? "lock" : "mirror", classes: "repo-icon", "aria-label": "Repository") %>
            <% else %>
              <%= primer_octicon(repo.private? ? "lock" : "repo", classes: "repo-icon", "aria-label": "Repository") %>
            <% end %>
            <a href="<%= stafftools_path %>/<%= repo.name_with_owner %>">
              <%= repo.name_with_owner %>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate collaborator_invitations %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      <%= view.blankslate_text %>
    <% end %>
  <% end %>
<% end %>
