<% page_info \
     :title => "#{this_user.login} - #{this_team.name} team join requests",
     :selected_link => :org_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "Teams", stafftools_user_teams_path(this_user) %>
      /
      <%= link_to this_team.name, gh_stafftools_team_path(this_team) %>
      / Join requests
    </h2>
  </div>

  <% if requests.any? %>
    <table class="site-admin-table">
      <% requests.each do |request| %>
        <% user = request.requester %>
        <tr>
          <td>
            <%= avatar_for user, 20, class: :avatar %>
            <%= link_to user, stafftools_user_path(user) %>
          </td>
          <td>
            <%= user.profile_name %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p class="site-admin-blankstate">No join requests</p>
  <% end %>
</div>
