<%# erblint:counter DeprecatedComponentsCounter 2 %>
<li>
  <%= render(Primer::Beta::BorderBox.new(mt: 4)) do |component| %>
    <% component.with_row do %>
      <div class="clearfix">
        <div class="clearfix">
          <h3 class="h5 float-left text-bold" data-filterable-type="substring"><%= budget.budget_name %></h3>
          <h3 class="h4 float-right">
            <% if show_elipses_menu %>
              <details class="dropdown details-reset details-overlay d-inline-block">
                <summary aria-haspopup="true">
                  <%= render(Primer::Beta::Octicon.new(icon: "kebab-horizontal", aria: { label: "Show options", hidden: false })) %>
                </summary>

                <ul class="dropdown-menu dropdown-menu-sw" style="width:auto;">
                  <li>
                    <%= link_to edit_billing_settings_billing_budget_path(id: budget.id), class: "dropdown-item text-normal f5" do %>
                      <%= render(Primer::Beta::Octicon.new(icon: "pencil")) %> Edit Budget
                    <% end %>
                  </li>
                  <li>
                    <%= render layout: "shared/details_dialog", locals: {
                      dialog_class: "Box-overlay--wide",
                      button_text: "Delete budget",
                      title: "Confirm removing budget",
                      button_icon: "trash",
                      button_icon_class: "menu-item-danger",
                      button_class: "dropdown-item text-normal f5 menu-item-danger",
                      button_aria_label: "delete budget"
                    } do %>
                      <%= render(Primer::Beta::Flash.new(scheme: :warning, full: true)) do %>
                        <span class="color-fg-default">
                          This can't be undone!
                        </span>
                      <% end %>
                      <div class="Box-body overflow-auto border-bottom-0">
                        <h4 class="mb-2">Are you sure you want to delete the <strong><%= budget.budget_name %></strong> budget?</h4>
                      </div>
                      <%= form_tag billing_settings_billing_budget_path(id: budget.id), method: :delete do %>
                        <div class="Box-footer border-top-0">
                          <%= render Primer::ButtonComponent.new(block: true, scheme: :danger, type: :submit) do %>Remove <%= budget.budget_name %> <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </li>
                </ul>
              </details>
            <% end %>
          </h3>
        </div>
        <div class="float-left pl-3 pb-2 border-right col-4">
          <h4 class="h6 text-normal color-fg-muted">Scope</h4>
          <h3 class="h5 text-normal">
            <% if view.is_business_budget?(budget) %>
              Enterprise <span class="color-fg-muted">(all organizations)</span>
            <% else %>
              <%= render(GitHub::AvatarComponent.new(actor: budget.owner, size: 20, mr: 1)) + budget.owner.name %>
            <% end %>
          </h3>
        </div>
        <div class="float-left pl-3 pb-2 border-right col-4">
          <h4 class="h6 text-normal color-fg-muted">Services</h4>
          <h3 class="h5 text-normal"><%= view.product_label(budget.product) %></h3>
        </div>
        <div class="float-left pl-3 col-4">
          <h4 class="h6 text-normal color-fg-muted">Current Monthly Spending</h4>
          <h3 class="h4 float-left">$<%= '%.2f' % view.budget_amount_spent(budget) %></h3>
          <h3 class="h4 float-right text-normal color-fg-muted"><%= view.show_budget_limit(budget) %></h3>
          <div class="clearfix"></div>
          <span class="Progress Progress--small">
            <%
              progress_percentage = view.budget_progress_percentage(budget)
              if progress_percentage < 60
                progress_color = "color-bg-accent-emphasis"
              elsif progress_percentage < 90
                progress_color = "color-bg-attention-emphasis"
              else
                progress_color = "color-bg-danger-emphasis"
              end
            %>
            <span class="Progress-item <%= progress_color %>" style="width: <%= progress_percentage %>%;"></span>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
</li>
