<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<div class="commit commits-list-item js-commits-list-item py-4 js-navigation-item js-details-container Details">
  <div class="d-flex flex-column flex-md-row">
    <div class="d-inline-flex col-12 col-md-9">
      <div class="pr-3">
        <div class="avatar-parent-child">
          <%= link_to image_tag(hit.committer_avatar, height: "32", alt: hit.commit['committer']['name'], class: "avatar"), hit.committer_link %>
          <% unless hit.committer_is_author? %>
            <%= link_to image_tag(hit.author_avatar, height: "16", alt: hit.commit['author']['name'], class: "avatar-child"), hit.author_link %>
          <% end %>
        </div>
      </div>

      <div class="min-width-0">
        <p class="h4 mb-0 pb-2">
          <% if hit.empty_message? %>
            <%= link_to("No commit message", hit.commit_link, class: "color-fg-default js-navigation-open") %>
          <% else %>
            <%= link_markup_to(hit.hl_message.subject, hit.commit_link, class: "color-fg-default js-navigation-open") %>
          <% end %>

          <% if hit.message_body_html? %>
            <span class="hidden-text-expander inline"><button type="button" class="ellipsis-expander js-details-target" aria-expanded="false">&hellip;</button></span>
          <% end %>
        </p>

        <% if hit.message_body_html? %>
          <div class="commit-desc"><pre class="text-small"><%= hit.hl_message.body_html %></pre></div>
        <% end %>

        <p class="f6 color-fg-muted">
          <%= hit.author.nil? ? commit["author"]["name"] : link_to(hit.author["login"], hit.author_link) %>
          committed to
          <%= link_to(hit.repository.name_with_owner, hit.repository.repo_link, class: "Link--inTextBlock") %>
          <% unless hit.committer_is_author? %>
            with <%= hit.committer.nil? ? commit["committer"]["name"] : link_to(hit.committer["login"], hit.committer_link) %>
          <% end %>
          <%= time_ago_in_words_js hit.committed_at %>

          <% if commit["comment_count"] > 0 %>
            <a href="<%= hit.commit_link %>" class="d-none d-md-inline-block Link--muted mr-2 v-align-middle">
              <%= number_with_delimiter(commit["comment_count"]) %> <%= "comment".pluralize(commit["comment_count"]) %>
            </a>
          <% end %>

          <span class="d-md-none">
            &middot;
            <a href="<%= hit.commit_link %>" class="text-mono"><%= hit.oid[0, 7] %></a>
          </span>
        </p>
      </div>
    </div>

    <div class="d-none d-md-block col-8 text-right">
      <div class="commit-links-group BtnGroup">
        <%= render Primer::Beta::ClipboardCopy.new(value: hit.oid, "aria-label": "Copy the full SHA", classes: "btn BtnGroup-item zeroclipboard-button") %>
        <a href="<%= hit.commit_link %>" class="sha btn BtnGroup-item">
          <%= hit.oid[0, 7] %>
        </a>
      </div>
      <a href="<%= hit.tree_path %>" aria-label="Browse the repository at this point in the history" class="btn tooltipped tooltipped-sw" rel="nofollow"><%= primer_octicon(:code) %></a><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
    </div>
  </div>
</div>
