<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  click_data = {
    page_number: page_number,
    result_position: hit_position,
    hit_object: hit.topic,
    hit_url: "#{base_url}/#{hit.url}"
  }
%>

<div class="topic-list-item col-12 py-4 mb-1 d-flex">
  <% if hit.has_logo? %>
    <a href="<%= hit.url %>" title="<%= hit.display_name %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <img src="<%= hit.logo_url %>" width="64" height="64" class="d-block rounded-2 mr-3 flex-shrink-0" alt="<%= hit.name %> logo">
    </a>
  <% elsif any_logos %>
    <div class="d-block mr-3 flex-shrink-0" style="width: 64px"></div>
  <% end %>
  <div>
    <h3><%= link_to hit.hl_display_name, hit.url, title: hit.display_name %></h3>
    <% if hit.curated? %>
      <p><%= hit.hl_short_description %></p>
    <% end %>
    <p class="f6 mb-0 mt-2 color-fg-muted">
      <%= social_count hit.repository_count %><%= "+" if hit.repository_count_over_max_fetch_limit? %> <%= "repository".pluralize(hit.repository_count) %>
    </p>
    <% if hit.any_related_topics? %>
      <p class="f6 mb-0 mt-2 color-fg-muted js-hidden-topics-container">
        Related:
        <% hit.visible_related_topic_names.each_with_index do |name, i| %>
          <a href="<%= hit.topic_url(name) %>"><%= name %></a><%= "," if hit.include_comma?(i) %>
        <% end %>
        <% if hit.hidden_related_topic_count > 0 %>
          <button type="button" class="js-reveal-hidden-topics btn-link color-fg-muted" aria-expanded="false">
            and <%= hit.hidden_related_topic_count %> more
          </button>
          <span class="js-hidden-topics d-none">
            <% hit.hidden_related_topic_names.each_with_index do |name, i| %>
              <a href="<%= hit.topic_url(name) %>"><%= name %></a><%= "," if i < hit.hidden_related_topic_names.length - 1 %>
            <% end %>
          </span>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
