<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<li class="repo-list-item d-flex flex-column flex-md-row flex-justify-start py-4 <%= hit.css %>">
  <div class="col-12 col-md-8 pr-md-3">
    <h3>
      <%= link_to hit.name_with_owner, "#{hit.repo_link}", :class => "v-align-middle" %>
      <% if hit.private? || hit.archived? || hit.mirror? || hit.template? %>
        <%= render Primer::Beta::Label.new(ml: 1, vertical_align: :middle, scheme: hit.archived? ? :attention : :secondary, title: "Label: #{hit.type}") do %>
          <%= hit.type %>
        <% end %>
      <% end %>
    </h3>

    <% if hit.description.present? %>
      <p class="col-9 d-inline-block color-fg-muted mb-2 pr-4">
        <%= truncate_html(hit.hl_description, 120) %>
      </p>
    <% end %>

    <% if hit.topics.any? %>
      <div class="topics-row-container col-12 col-md-9 d-inline-flex flex-wrap flex-items-center f6 my-1">
        <% hit.topics.each do |topic| %>
          <%= render(Topics::TagComponent.new(
            name: topic,
            href: "https://github.com/topics/#{topic}",
            font_size: 6, my: 1,
            data: {
              ga_click: "Topic, search results",
              octo_click: "topic_click",
              octo_dimensions: "topic:#{topic},repository_id:#{hit.id},repository_nwo:#{hit.name_with_owner},repository_public:#{!hit.private},repository_is_fork:#{hit.fork}"
            }
          )) %>
        <% end %>
      </div>
    <% end %>

    <div class="d-flex flex-wrap">
      <% if hit.show_license? %>
        <p class="f6 color-fg-muted mr-3 mb-0 mt-2">
          <%= hit.license_name %> license
        </p>
      <% end %>

      <% if hit.pushed_at %>
        <p class="f6 color-fg-muted mb-0 mt-2">
          Updated <%= time_ago_in_words_js hit.pushed_at %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="flex-shrink-0 col-6 col-md-4 pt-2 pr-md-3 d-flex">
    <div class="color-fg-muted flex-auto min-width-0">
      <% if hit.language %>
        <%= render(Languages::BadgeComponent.new(name: hit.language)) %>
      <% end %>
    </div>

    <% if hit.followers > 0 %>
      <div class="text-right flex-auto min-width-0">
        <a class="Link--muted" href="<%= "#{hit.followers_link}" %>">
          <%= primer_octicon(:star, :"aria-label" => "star") %>
          <%= social_count(hit.followers) %>
        </a>
      </div>
    <% end %>
  </div>
</li>
