<%# rubocop:disable Lint/InstanceVariable %>
<% if results.timed_out? %>
  <%= render :partial => "dotcom_codesearch/results_error", :locals => { :search => @search, :type => "Issues" } %>
<% elsif results.empty? %>
  <%= render :partial => "dotcom_codesearch/results_empty", :locals => { :message => "We couldn’t find any issues matching '#{@search}' in #{GitHub.dotcom_host_name_string}" } %>
<% else %>
  <h3> <%= "#{number_with_delimiter(results.total)} #{'result'.pluralize(results.total)} from #{GitHub.dotcom_host_name_string}" %></h3>
  <div id="issue_search_results">
    <div>
      <% results.each do |hit| %>
        <%= render :partial => "dotcom_codesearch/hit_issue", :locals => {:hit => hit} %>
      <% end %>
    </div>
    <%= render partial: "codesearch/results_pagination", locals: { results: results } %>
  </div>
<% end %>
