<div id="branch-<%= view.branch.id %>">
  <%= primer_octicon(:"git-branch", color: :muted) %>
  <span class="branch-name"><%= view.branch.name %></span>
  <% if view.branch.merge_queue_enabled? %>
    <span class="branch-name">Merge Queue enabled</span>
  <% end %>
</div>

<div class="d-flex flex-justify-between my-3">
  <div class="col-4 mr-3">
    <strong>Status checks</strong>
    <ul class="list-style-none text-small">
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Required status checks
        </span>

        <% if view.branch.required_status_checks_enabled? %>
          <%= render(Primer::Alpha::Dialog.new(
            id: "status_checks_modal-#{view.branch.id}",
            title: "Required status check contexts for #{view.branch.name}"
          )) do |c| %>
            <% c.with_show_button(
              scheme: :link
            ) do |s| %>
              <%= view.branch.required_status_checks.count %>
            <% end %>
            <% c.with_header(variant: :large, show_divider: true)%>
            <% c.with_body do %>
              <div class="Box">
                <% view.branch.required_status_checks.each do |status_check| %>
                  <div class="Box-row">
                    <a href="<%= view.status_check_audit_link(status_check) %>"><%= status_check.context %></a>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <%= view.octicon_x %>
        <% end %>
      </li>
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Require branches to be up-to-date
        </span>

        <%= view.octicon_for_boolean(view.branch.strict_required_status_checks_policy?) %>
      </li>
    </ul>
  </div>

  <div class="col-4 mr-3">
    <strong>Reviews</strong>
    <ul class="list-style-none text-small">
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Require pull requests
        </span>

        <%= view.octicon_for_boolean(view.branch.pull_request_reviews_enabled?) %>
      </li>
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Reviews required
        </span>

        <%= view.branch.pull_request_reviews_enabled? ? view.branch.required_approving_review_count : 0 %>
      </li>
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Require review from code owners
        </span>

        <%= view.octicon_for_boolean(view.branch.require_code_owner_review) %>
      </li>
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Dismiss stale reviews
        </span>

        <%= view.octicon_for_boolean(view.branch.dismiss_stale_reviews_on_push?) %>
      </li>
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Dismissals restricted users or teams
        </span>

        <% if view.branch.restricted_dismissed_reviews? %>
          <%= render(Primer::Alpha::Dialog.new(
            id: "dismissal_actors_modal-#{view.branch.id}",
            title: "Review dismissal users or teams for #{view.branch.name}"
          )) do |c| %>
            <% c.with_show_button(
              scheme: :link
            ) do |s| %>
              <%= view.restricted_dismissal_text %>
            <% end %>
            <% c.with_header(variant: :large, show_divider: true)%>
            <% c.with_body do %>
              <% if view.show_dismissal_actors_list? %>
                <% if view.dismissal_users_count > 0 %>
                  <div class="Box">
                    <div class="Box-header">
                      <h3 class="Box-title">
                        Users
                        <%= render Primer::Beta::Counter.new(count: view.dismissal_users_count, scheme: :primary) %>
                      </h3>
                    </div>
                    <% view.dismissal_actors[:users].each do |user| %>
                      <div class="Box-row">
                        <%= link_to user.login, stafftools_user_path(user) %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <% if view.dismissal_teams_count > 0 %>
                  <div class="Box mt-3">
                    <div class="Box-header">
                      <h3 class="Box-title">
                        Teams
                        <%= render Primer::Beta::Counter.new(count: view.dismissal_teams_count, scheme: :primary) %>
                      </h3>
                    </div>
                    <% view.dismissal_actors[:teams].each do |team| %>
                      <div class="Box-row">
                        <%= link_to team.combined_slug, gh_stafftools_team_path(team) %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <p>Dismissals are restricted, but there aren’t any users or teams authorized to dismiss reviews.</p>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <%= view.octicon_x %>
        <% end %>
      </li>
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Ignore approvals from contributors
        </span>

        <%= view.octicon_for_boolean(view.branch.ignore_approvals_from_contributors?) %>
      </li>
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Require approval from someone other than last pusher
        </span>

        <%= view.octicon_for_boolean(view.branch.require_last_push_approval?) %>
      </li>
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Require review thread resolution
        </span>

        <%= view.octicon_for_boolean(view.branch.required_review_thread_resolution_enabled?) %>
      </li>
    </ul>
  </div>

  <div class="col-4 mr-3">
    <strong>Permissions</strong>
    <ul class="list-style-none text-small">
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Force-push allowed
        </span>

        <%= view.octicon_for_boolean(!view.branch.block_force_pushes_enabled?) %>
      </li>
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Deletion allowed
        </span>

        <%= view.octicon_for_boolean(!view.branch.block_deletions_enabled?) %>
      </li>
      <li class="d-flex flex-justify-between my-2 pt-2 border-top">
        <span class="color-fg-muted">
          Enforced for admins
        </span>

        <%= view.octicon_for_boolean(view.branch.admin_enforced?) %>
      </li>
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Authorized push actors
        </span>

        <% if view.branch.has_authorized_actors? %>
          <%= render(Primer::Alpha::Dialog.new(
            id: "authorized_actors_modal-#{view.branch.id}",
            title: "Actors allowed to push to the #{view.branch.name} branch"
          )) do |c| %>
            <% c.with_show_button(
              scheme: :link
            ) do |s| %>
              <%= view.authorized_actors_text %>
            <% end %>
            <% c.with_header(variant: :large, show_divider: true)%>
            <% c.with_body do %>
              <p>
                Required status checks will still prevent these actors from merging if the checks fail.
              </p>

              <% if view.show_authorized_actors_list? %>
                <% if view.authorized_users_count > 0 %>
                  <div class="Box">
                    <div class="Box-header">
                      <h3 class="Box-title">
                        Users
                        <%= render Primer::Beta::Counter.new(count: view.authorized_users_count, scheme: :primary) %>
                      </h3>
                    </div>
                    <% view.authorized_actors[:users].each do |user| %>
                      <div class="Box-row">
                        <%= link_to user.login, stafftools_user_path(user) %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <% if view.authorized_teams_count > 0 %>
                  <div class="Box mt-3">
                    <div class="Box-header">
                      <h3 class="Box-title">
                        Teams
                        <%= render Primer::Beta::Counter.new(count: view.authorized_teams_count, scheme: :primary) %>
                      </h3>
                    </div>
                    <% view.authorized_actors[:teams].each do |team| %>
                      <div class="Box-row">
                        <%= link_to team.combined_slug, gh_stafftools_team_path(team) %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <% if view.authorized_integration_installations_count > 0 %>
                  <div class="Box mt-3">
                    <div class="Box-header">
                      <h3 class="Box-title">
                        Apps
                        <%= render Primer::Beta::Counter.new(count: view.authorized_integration_installations_count, scheme: :primary) %>
                      </h3>
                    </div>
                    <% view.authorized_actors[:integration_installations].each do |installation| %>
                      <div class="Box-row">
                        <%= link_to installation.integration.slug, stafftools_user_installation_path(view.branch.repository.owner, installation) %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <p>Pushes are restricted, but there aren’t any users, teams, or apps authorized to push to this branch.</p>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <%= view.octicon_x %>
        <% end %>
      </li>
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Require signed commits
        </span>

        <%= view.octicon_for_boolean(view.branch.required_signatures_enabled?) %>
      </li>
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Require linear history
        </span>

        <%= view.octicon_for_boolean(view.branch.required_linear_history_enabled?) %>
      </li>
      <li class="d-flex flex-justify-between my-1">
        <span class="color-fg-muted">
          Branch locked
        </span>

        <%= view.octicon_for_boolean(view.branch.lock_branch_enabled?) %>
      </li>
      <% if view.branch.lock_branch_enabled? %>
        <li class="d-flex flex-justify-between my-1">
          <span class="color-fg-muted">
            Branch lock allows syncing with upstream
          </span>

          <%= view.octicon_for_boolean(view.branch.lock_allows_fetch_and_merge?) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
