<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "#{current_repository.name_with_owner} - Protected Branches" %>

<%= render Primer::Beta::Subhead.new do |component| %>
	<% component.with_heading(tag: :h2) do %>Protected Branches<% end %>
<% end %>

<% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
  <p>
    <%= link_to "Search audit log", stafftools_audit_log_path(query: audit_query), class: "Link--inTextBlock" %>
    for branch protection events
  </p>
<% else %>
  <p>Search audit log</p>
  <p><%= stafftools_not_authorized_html %></p>
<% end %>

<% if BranchProtectionsConfig.new(current_repository).branch_protection_disabled? %>
  <p>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, full: false, icon: "alert")) do %>
      This repository has branch protection disabled.
      No branch protection rules will apply and branch protection APIs will fail.
    <% end %>
  </p>
<% end %>

<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% if branches.any? %>
    <% branches.each do |branch| %>
      <% component.with_row do %>
        <%= render "stafftools/protected_branches/branch",
          view: create_view_model(
            Stafftools::ProtectedBranches::BranchView,
            branch: branch
          )
        %>
      <% end %>
    <% end %>
  <% else %>
    <% component.with_body do %>
      No branches have been protected in this repository.
    <% end %>
  <% end %>
<% end %>
