<h3 class="py-2 mt-3 h5">Labels</h3>
  <div class="text-small color-fg-muted pt-1">
    <div>
      Labels are values used with the <code>runs-on:</code> key in your workflow's YAML to send jobs to specific runners. To copy a label, click on it.
      <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/using-github-hosted-runners/running-jobs-on-larger-runners#using-labels-to-control-where-jobs-are-run">Learn more about labels.</a>
    </div>
    <div class="d-flex flex-wrap pt-3">
      <%= render Primer::Beta::Label.new(mb: 1, mr: 2, px: 2, classes: "css-truncate css-truncate-target", scheme: :secondary, hidden: true, id: "custom-hosted-runner-label-template") do %>
      <% end %>
      <% @labels.each do |label| %>
      <%= render Primer::Beta::ClipboardCopy.new(value: label.name, "aria-label": "labels-clipboard-copy", classes: "CopyBlock tooltipped-no-delay", "data-copy-feedback": "Copied!", "data-tooltip-direction": "ne", role: "button") do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        <%= render Primer::Beta::Label.new(mb: 1, mr: 2, px: 2, classes: label.type != "system" ? "css-truncate css-truncate-target" : "css-truncate css-truncate-target", style: "max-width:250px; cursor:pointer", scheme: :secondary) do %>
          <%= label.name %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
