<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="Box-header" <%= test_selector("custom-hosted-runner-delete-modal-component") %>>
  <button
    class="Box-btn-octicon btn-octicon float-right"
    type="button"
    aria-label="Close dialog"
    data-close-dialog>
    <%= primer_octicon(:x) %>
  </button>
  <h3 class="Box-title">Remove runner</h3>
</div>

<% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
  <%= render(Primer::Alpha::Banner.new(scheme: :warning, full: true)) do %>
    Removing a runner permanently removes it from your <%= @owner_settings.settings_owner_type %>.
    <%# TODO: Add link once we have documentation for custom hosted runners %>
    <%# For more information, see the documentation for "<a href="https://github.com/github/c2c-actions-service/issues/2575" class="text-bold">Removing custom hosted runners</a>". %>
  <% end %>
<% else %>
  <%= render(Primer::Beta::Flash.new(scheme: :warning, full: true)) do %>
    Removing a runner permanently removes it from your <%= @owner_settings.settings_owner_type %>.
    <%# TODO: Add link once we have documentation for custom hosted runners %>
    <%# For more information, see the documentation for "<a href="https://github.com/github/c2c-actions-service/issues/2575" class="text-bold">Removing custom hosted runners</a>". %>
  <% end %>
<% end %>

<div class="Box-body pt-0 mb-0 overflow-y-auto">
  <div class="Box container-md my-1 mt-3 mx-auto text-left border-0">
    <%= form_tag @owner_settings.delete_larger_runner_path(@larger_runner_id, viewing_from_runner_group: @viewing_from_runner_group), method: :delete do %>
      <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-sudo-required": "true") do %>Remove this runner
      <% end %>
    <% end %>
  </div>
</div>
