<div class="p-3 mb-3 border rounded-2 color-shadow-small d-flex js-notice position-relative" <%= test_selector(DEFAULT_RUNNERS_BANNER_NOTICE_NAME) %> >
  <div class="d-flex flex-column flex-md-row flex-items-start flex-md-items-center flex-1">
    <img src="<%= image_path "modules/site/features/actions-icon-runner-banner-zap.svg" %>" class="mr-3 flex-md-self-center flex-self-start flex-shrink-0 mb-3 mb-md-0" alt="GitHub Actions">
    <div class="flex-auto mr-5 mb-3 mb-md-0">
      <%= render (Primer::Beta::Text.new(tag: :p, font_weight: :bold, mb: 1)) { "GitHub-hosted larger runners are available." } %>
      <%= render (Primer::Beta::Text.new(tag: :p, color: :muted, font_size: :small, mb: 0)) { "Get started with larger runners to speed up your workflows. Setup default Ubuntu and Windows runners to try them out." } %>
    </div>
    <%= render(Primer::Alpha::Dialog.new(
      title: "Setup GitHub-hosted larger runners",
      id: "setup-default-runners-dialog",
      size: :large
    )) do |d| %>
      <% d.with_show_button(mr: 3) { "Setup" } %>
      <% d.with_header(show_divider: true) { "Setup GitHub-hosted larger runners" } %>
      <% d.with_body do %>
        <p>Enabling the default GitHub-hosted larger runners will automatically create larger Ubuntu and Windows machines.
        These labels will become available to your team and <%= render(Primer::Beta::Text.new(tag: :span, font_weight: :bold)) { "you will be charged for billing minutes." } %></p>
        <%= render(Primer::Beta::BorderBox.new) do |component| %>
          <% component.with_body do %>
            <% default_runners_configurations.each do |configuration| %>
              <div class="flex-1 d-flex flex-items-center">
                <div class="pr-1">
                  <%= render(Primer::Alpha::Image.new(src: image_path("#{configuration[:image_path]}"), alt: "#{configuration[:image].display_name}", height: 24, width: 24, pt: 1)) %>
                </div>
                <div class="pr-1">
                  <%= render(Primer::Beta::Text.new(tag: :span, font_weight: :bold)) { configuration[:image].display_name } %>
                </div>
                <div class="pr-2">
                  <%= render(Primer::Beta::Text.new(tag: :span, font_size: :small, color: :muted)) { "(#{ configuration[:os_version] })" } %>
                </div>
                <div class="pr-2">
                  <%= render(Primer::Beta::Label.new(scheme: :secondary, classes: "css-truncate", title: "Label: #{configuration[:name]}")) { "#{configuration[:name]}" } %>
                </div>
              </div>
              <div class="flex-1 d-flex mb-3 pl-1">
                <div class="pr-1">
                  <%= render(Primer::Beta::Text.new(tag: :span, font_size: :small, color: :muted)) { "#{ configuration[:machine_spec].display_title }" } %>
                  <%= render(Primer::Beta::Text.new(tag: :span, font_size: :small, color: :muted)) { " · " }%>
                  <%= render(Primer::Beta::Text.new(tag: :span, font_size: :small, color: :muted)) { "#{ configuration[:price] }" } %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% d.with_footer do %>
        <%= render(Primer::Beta::Button.new(
          data: { "close-dialog-id": "setup-default-runners-dialog" }
        )) { "Cancel" } %>
        <%= form_tag setup_default_runners_path, method: :post do %>
          <%= render Primer::Beta::Button.new(
            scheme: :primary,
            type: :submit
          ) do %>
            Setup default runners
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex position-absolute ml-2 mr-2 my-2 position-md-relative top-0 right-0">
    <%= form_tag dismissal_path, method: :delete, class: "js-notice-dismiss flex-self-center" do %>
      <%= render Primer::Beta::CloseButton.new(type: :submit, aria: { label: "Hide this notice" }) %>
    <% end %>
  </div>
</div>


