<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# Banner for public IP ranges being disabled after downgrade  %>
<% if should_disable_public_ip_from_downgrade %>
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render Primer::Alpha::Banner.new(scheme: :warning, icon: :alert, display: :flex, mb: 4, justify_content: :space_between, align_items: :flex_start, dismiss_scheme: :remove) do %>
      <strong>Public IP is disabled because your organization downgraded your plan.</strong><br>You can upgrade to recover your public IP data, otherwise it will be permanently deleted in <%= public_ip_graceful_period %> days after downgrade.
    <% end %>
  <% else %>
    <%= render Primer::Beta::Flash.new(scheme: :warning, icon: :alert, display: :flex, mb: 4, justify_content: :space_between, align_items: :flex_start) do %>
      <div class="col-11 pr-5">
        <strong>Public IP is disabled because your organization downgraded your plan.</strong><br>You can upgrade to recover your public IP data, otherwise it will be permanently deleted in <%= public_ip_graceful_period %> days after downgrade.
      </div>
      <div class="col-1">
        <button class="flash-close js-flash-close" type="button" aria-label="Close">
          <%= primer_octicon(:x, 'aria-label': "Dismiss") %>
        </button>
      </div>
    <% end %>
  <% end %>
<% end %>
<%# Banner for public IP ranges being disabled after non-usage period %>
<% if should_disable_public_ip_from_non_use_limit %>
    <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
      <%= render Primer::Alpha::Banner.new(scheme: :warning, icon: :alert, display: :flex, mb: 4, justify_content: :space_between, align_items: :flex_start, dismiss_scheme: :remove) do %>
        <strong>This runner with fixed IP was last used <%= runner_last_used_days_ago %> days ago.</strong>
        <br>
        Per our <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/using-github-hosted-runners/using-larger-runners#networking-for-larger-runners" target="_blank" rel="noopener noreferrer">fair usage policy</a>, we'll permanently delete the unused public IP soon.
        <br>
        Run a workflow to keep your IP range.
      <% end %>
    <% else %>
      <%= render Primer::Beta::Flash.new(scheme: :warning, icon: :alert, display: :flex, mb: 4, justify_content: :space_between, align_items: :flex_start) do %>
          <div class="col-11 pr-5">
            <strong>This runner with fixed IP was last used <%= runner_last_used_days_ago %> days ago.</strong>
            <br>
            Per our <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/using-github-hosted-runners/using-larger-runners#networking-for-larger-runners" target="_blank" rel="noopener noreferrer">fair usage policy</a>, we'll permanently delete the unused public IP soon.
            <br>
            Run a workflow to keep your IP range.
          </div>
          <div class="col-1">
            <button class="flash-close js-flash-close" type="button" aria-label="Close">
              <%= primer_octicon(:x, 'aria-label': "Dismiss") %>
            </button>
          </div>
      <% end %>
    <% end %>
<% end %>
