<%= render Site::SectionComponent.new(
  theme: :dark,
  id: "collaboration",
  padding: false,
  classes: "home-campaign-collaboration js-section pt-5 px-3",
) do %>
  <div class="d-flex js-build-in-trigger position-relative" data-build-in-stagger="100">
    <div class="col-1 d-flex flex-column flex-items-center">
      <%= render "site/home/glowing_icon", icon: "code-of-conduct" %>
      <div class="home-campaign-git-line height-full rounded js-build-in-item build-in-scale-top" style="background: linear-gradient(#F778BA 40%, transparent);" data-build-delay="500"></div>
    </div>

    <div class="col-11 col-lg-8 ml-2 ml-md-0 mb-6 mb-md-10 pr-lg-3">
      <h2 class="h5-mktg mb-4 text-medium js-build-in-item build-in-slideX-left">Collaboration</h2>
      <h3 class="h3-mktg mb-4 text-medium js-build-in-item build-in-slideX-left">
        <span class="text-accent-primary d-block">Supercharge collaboration</span>
        GitHub helps your teams work more efficiently together.
      </h3>
    </div>

    <%= image_tag(
      "modules/site/home-campaign/shape-3.svg",
      alt: "",
      aria: { hidden: true },
      width: "502",
      height: "735",
      class: "position-absolute height-auto d-none d-md-block col-5 events-none js-build-in-item build-in-fade",
      style: "top: -9%; right: -12%;",
      loading: "lazy",
      decoding: "async"
    ) %>
  </div>

  <%= render Site::ImageComponent.new(
    src: image_path("modules/site/home-campaign/issues-plan-2.png"),
    width: 2498,
    height: 1450,
    classes: "position-relative z-1 width-full height-auto d-block rounded-3 border box-shadow-card-dark-mktg",
    alt: "Illustration of project table view with cards grouped by 'Feature planning' phase.",
    sizes: "(max-width: 1200px) 90vw, 1248px"
  ) %>

  <div class="d-flex position-relative">
    <div class="col-1 d-flex flex-column flex-items-center position-relative js-build-in-trigger">
      <div class="home-campaign-git-line height-full position-relative z-1 js-build-in-item build-in-scale-top" style="transition-duration: 1100ms; background: linear-gradient(transparent, #F778BA, #F778BA, transparent);"></div>
      <%= image_tag(
        "modules/site/home-campaign/git-branch-collaboration-2.svg",
        alt: "",
        aria: { hidden: true },
        width: "81",
        height: "612",
        style: "left: calc(50% - 2px); height: auto; max-width: 9vw;",
        class: "d-none d-md-block position-absolute bottom-4 js-build-in-item build-in-scale-fade",
        loading: "lazy",
        decoding: "async"
      ) %>
    </div>

    <div class="col-11 ml-2 ml-md-6">
      <%= render Site::RiverComponent.new(
        header: "<em>GitHub Issues and GitHub Projects</em> supply project management tools that adapt to your team alongside your code.",
        size: :small,
        classes: "flex-column-reverse",
        link: {
          text: "Get started with GitHub Issues",
          url: features_issues_path
        }
      ) do %>
        <div class="d-flex flex-column position-relative">
          <div class="js-build-in-item build-in-slideY border box-shadow-mktg-xl overflow-hidden rounded-2 position-relative left-4 z-1" style="max-width: 595px; margin-top: -50%;">
            <img src="<%= image_path "modules/site/home-campaign/illu-projects-2.png" %>" alt="" loading="lazy" decoding="async" width="1190" height="964" class="width-full height-auto d-block">
          </div>

          <%= image_tag(
            "modules/site/home-campaign/bg-glow-purple.png",
            alt: "",
            aria: { hidden: true },
            width: "1000",
            height: "1000",
            class: "position-absolute d-none d-md-block events-none js-build-in-item build-in-fade",
            style: "bottom: -300px; right: -240px;",
            loading: "lazy",
            decoding: "async"
          ) %>
        </div>
      <% end %>

      <div class="mb-6 mb-md-9 pb-4 js-build-in-trigger">
        <div class="py-3 text-left col-sm-10 col-md-6 col-lg-3 js-build-in-item build-in-slideX-left">
          <%= render Site::BadgeComponent.new(text: "Did you know?", size: :small) %>
          <h3 class="text-accent-primary mb-2 mt-3 h1-mktg text-medium">80%</h3>
          <p class="mb-3 f2-mktg text-medium col-6-max">reduction in onboarding time with GitHub<sup>2</sup></p>
        </div>
      </div>
    </div>
  </div>

  <%= render Site::HstackComponent.new do %>
    <div class="position-relative z-1 col-md-6 d-flex">
      <%= render Site::FeatureCardComponent.new(
        orientation: :vertical,
        header: "<em>GitHub Discussions</em> creates space to ask questions and have open-ended conversations.",
        link: {
          text: "Jump into GitHub Discussions",
          url: features_discussions_path
        },
        image: {
          src: image_path("modules/site/home-campaign/illu-discussions-2.png"),
          alt: "",
          aria: { hidden: true },
          width: 1208,
          height: 804,
          classes: "width-full d-block height-auto js-build-in-item build-in-scale-up"
        },
        cache_version: 3
      ) %>
    </div>

    <div class="col-md-6 d-flex">
      <%= render Site::FeatureCardComponent.new(
        orientation: :vertical,
        header: "<em>Pull requests</em> allow real-time communication and collaboration about code changes.",
        link: {
          text: "Check out pull requests",
          url: features_code_review_path
        },
        image: {
          src: image_path("modules/site/home-campaign/illu-pull-requests-2.png"),
          alt: "",
          aria: { hidden: true },
          width: 1208,
          height: 804,
          classes: "width-full d-block height-auto js-build-in-item build-in-scale-up"
        },
        cache_version: 3
      ) %>
    </div>
  <% end %>

  <%= render Site::FeatureCardComponent.new(
    orientation: :horizontal,
    header: "<em>GitHub Sponsors</em> lets you support your favorite open source maintainers and projects.",
    cache: false, # Since we're shuffling the array of sponsors
    link: {
      text: "Invest with GitHub Sponsors",
      url: "/sponsors"
    },
    cache_version: 3
  ) do %>
    <div class="d-flex flex-wrap position-relative top-n12 mt-n4 right-n4 p-4 js-build-in-trigger" style="transform: rotate(-15deg) translateZ(10px); max-height: 480px;" data-build-in-stagger="75">
      <% [{
        name: "ESLint",
        slug: "eslint",
        format: "png",
        type: "organisation",
      }, {
        name: "CommandPost",
        slug: "commandpost",
        format: "png",
        type: "organisation",
      }, {
        name: "Evan You",
        slug: "yyx990803",
        format: "jpeg",
        type: "person",
      }, {
        name: "Nikema",
        slug: "prophen",
        format: "jpeg",
        type: "person",
      }, {
        name: "Homebrew",
        slug: "homebrew",
        format: "png",
        type: "organisation",
      }, {
        name: "kazuya kawaguchi",
        slug: "kazupon",
        format: "jpeg",
        type: "person",
      }, {
        name: "sindresorhus",
        slug: "sindresorhus",
        format: "jpeg",
        type: "person",
      }, {
        name: "chaynHQ",
        slug: "chaynhq",
        format: "png",
        type: "organisation",
      }, {
        name: "Directus",
        slug: "directus",
        format: "png",
        type: "organisation",
      }, {
        name: "Nick DeJesus",
        slug: "dayhaysoos",
        format: "jpeg",
        type: "person",
      }, {
        name: "Samuel",
        slug: "imolorhe",
        format: "jpeg",
        type: "person",
      }, {
        name: "curl",
        slug: "curl",
        format: "jpeg",
        type: "organisation",
      }].shuffle.slice!(0..8).each do |item| %>
        <div class="col-6 col-sm-4 col-md-6 col-lg-4">
          <%= profile_link(
            item[:slug],
            target: "_blank",
            class: "rounded p-4 border color-bg-subtle no-underline d-flex flex-column flex-items-center m-2 box-shadow-default-mktg js-build-in-item build-in-scale-up",
            tabindex: "-1",
          ) do %>
            <%= image_tag(
              "modules/site/home-campaign/sponsors/#{item[:slug]}.#{item[:format]}",
              alt: "#{item[:name]} avatar",
              width: "96",
              height: "96",
              class: class_names(
                "d-block",
                {
                  "circle": item[:type] == "person",
                  "rounded": item[:type] == "organisation"
                }
              ),
              loading: "lazy",
              decoding: "async",
            ) %>
            <%= tag.div(item[:name], class: "color-fg-muted text-truncate my-2") %>
            <%= render(Primer::Beta::Button.new(tabindex: "-1")) do |c| %>
              <% c.with_leading_visual_icon(icon: :heart) %>
              Sponsor
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
