<div>
  <% if !logged_in? && GitHub.signup_enabled? %>
    <label class="d-block pb-2" for="<%= cta_location %>_user_email"><%= _("Email address") %></label>
  <% end %>
  <div class="d-flex flex-column flex-md-row">
    <% if !logged_in? && GitHub.signup_enabled? %>
      <%= form_for(:user,
        url: new_nux_signup_path,
        method: :get, html: {
          class: "mx-0 col-12 col-md-7 col-lg-5 js-signup-form position-relative z-2",
          autocomplete: "off",
        }
      ) do |f| -%>
        <div class="d-flex flex-column flex-md-row flex-items-center">
          <input <%= mktg_color_theme_attributes(mode: "light") %> class="col-12 my-0 mb-3 mb-md-0 flex-auto form-control f4-mktg width-full rounded-md-right-0" style="height: 3rem" placeholder="<%= _("you@company.com") %>" type="email" name="user_email" id="<%= cta_location %>_user_email" autocomplete="off" spellcheck="false" required>
          <input type="hidden" name="source" value="form-home-signup">
          <%= render Site::ButtonComponent.new(
            text: _("Sign up for GitHub"),
            classes: "width-full width-md-auto mb-3 mb-md-0 rounded-md-left-0 home-campaign-signup-button",
            scheme: :signup,
            submit: true,
            analytics: {
              category: "Home campaign",
              label: "ref_page:#{request.fullpath};ref_cta:Sign up for GitHub;ref_loc:#{cta_location}"
            }
          ) %>
        </div>
      <% end %>
    <% else %>
      <%= render Site::ButtonComponent.new(
        text: "Explore all features",
        url: features_path(
          "ref_page": "/",
          "ref_cta": "Explore all features",
          "ref_loc": "Home campaign #{cta_location}"
        ),
        arrow: true,
      ) %>
    <% end %>

    <div class="border-top border-md-left mx-md-3 mb-3 mb-md-0"></div>

    <%= render Site::ButtonComponent.new(
      text: "Start a free enterprise trial",
      url: org_enterprise_plan_path(
        "ref_page": "/",
        "ref_cta": "Start a free enterprise trial",
        "ref_loc": "Home campaign #{cta_location}"
      ),
      scheme: :muted,
      arrow: true,
      classes: "home-campaign-enterprise",
      "data-test-selector": "start-trial-button",
    ) %>
  </div>
</div>
