<div class="position-relative z-2 user-select-none home-globe-scene js-webgl-globe-data<% if feature_enabled_globally_or_for_current_user?(:home_page_globe_a11y_disable) %> events-none<% end %>"<% if feature_enabled_globally_or_for_current_user?(:home_page_globe_a11y_disable) %> role="img" aria-label="Millions of developers from around the world are collaborating right now, opening and merging pull requests on GitHub."<% end %>>
  <div class="home-globe-container home-globe-container-webgl mx-auto">
    <div class="mx-auto width-full position-relative height-full js-webgl-globe js-webgl-globe-trigger">
      <video width="916" height="918" loop muted playsinline preload="none" class="home-globe-container-video js-globe-fallback-video " hidden>
        <source type="video/mp4; codecs=hevc,mp4a.40.2" src="<%= image_path "modules/site/home/globe-900.hevc.mp4" %>">
        <source type="video/mp4; codecs=avc1.4D401E,mp4a.40.2" src="<%= image_path "modules/site/home/globe-900.h264.mp4" %>">
      </video>
      <video loop muted playsinline preload="none" class="home-globe-container-video js-globe-fallback-video-small" hidden>
        <source type="video/mp4; codecs=hevc,mp4a.40.2" src="<%= image_path "modules/site/home/globe-500.hevc.mp4" %>">
        <source type="video/mp4; codecs=avc1.4D401E,mp4a.40.2" src="<%= image_path "modules/site/home/globe-500.h264.mp4" %>">
      </video>
      <img
        srcset="<%= image_path "modules/site/home/globe-700.jpg" %> 700w,
                <%= image_path "modules/site/home/globe.jpg" %> 1400w"
        sizes="(max-width: 700px) 70vw, 700px"
        src="<%= image_path "modules/site/home/globe.jpg" %>"
        alt="Planet earth with visualization of GitHub activity crossing the globe"
        class="width-full height-auto js-globe-fallback-image"
        loading="lazy"
        decoding="async"
        width="1238"
        height="1404"
        hidden
      >

      <%= svg("site/home/globe-placeholder", class: "js-webgl-globe-loading position-absolute left-0 right-0 top-0 bottom-0", style: "margin: auto; transform: scale(0.8)") %>
    </div>

    <%= image_tag(
      "modules/site/home-campaign/footer-copilot.png",
      alt: "",
      aria: { hidden: true },
      width: "150",
      height: "150",
      style: "left: 0; top: 30%;",
      class: "d-none d-md-block position-absolute home-footer-float z-1",
      loading: "lazy",
      decoding: "async"
    ) %>

    <%= image_tag(
      "modules/site/home-campaign/footer-mona.png",
      alt: "",
      aria: { hidden: true },
      width: "200",
      height: "200",
      style: "right: 5%; top: 50%; animation-delay: 1s;",
      class: "d-none d-md-block position-absolute home-footer-float z-2",
      loading: "lazy",
      decoding: "async"
    ) %>

    <%= image_tag(
      "modules/site/home-campaign/footer-star.png",
      alt: "",
      aria: { hidden: true },
      width: "48",
      height: "48",
      style: "left: -5%; top: 50%;",
      class: "d-none d-md-block position-absolute home-footer-rotate",
      loading: "lazy",
      decoding: "async"
    ) %>

    <%= image_tag(
      "modules/site/home-campaign/footer-diamond.png",
      alt: "",
      aria: { hidden: true },
      width: "50",
      height: "50",
      style: "right: 10%; top: 20%;",
      class: "d-none d-md-block position-absolute home-footer-rotate",
      loading: "lazy",
      decoding: "async"
    ) %>

    <%= image_tag(
      "modules/site/home-campaign/footer-orb.png",
      alt: "",
      aria: { hidden: true },
      width: "98",
      height: "90",
      style: "right: -10%; top: 30%;",
      class: "d-none d-md-block position-absolute home-footer-float",
      loading: "lazy",
      decoding: "async"
    ) %>

    <%= image_tag(
      "modules/site/home-campaign/footer-blur.png",
      alt: "",
      aria: { hidden: true },
      width: "64",
      height: "64",
      style: "left: 10%; top: 70%; animation-delay: 2s;",
      class: "d-none d-md-block position-absolute home-footer-float",
      loading: "lazy",
      decoding: "async"
    ) %>
  </div>

  <video loop muted playsinline preload="none" class="js-globe-aurora position-absolute top-0 left-0 right-0" style="margin: auto; z-index: -1; min-width: 100%; min-height: 100%; -webkit-mask-image: -webkit-linear-gradient(transparent, #000 20%, transparent 90%);" hidden>
    <source type="video/mp4; codecs=avc1.4D401E,mp4a.40.2" src="<%= image_path "modules/site/home/aurora.h264.mp4" %>">
  </video>
</div>
