<div class="px-3 home-campaign-hero">
  <div class="position-relative pt-3 pt-sm-8 pt-lg-12 container-xl js-build-in-trigger" data-hpc>
    <div class="d-flex pt-sm-9">
      <div class="col-1 d-flex flex-column events-none position-relative">
        <div class="mx-auto">
          <div class="d-inline-block circle p-1" style="border: 2px solid rgba(255, 255, 255, 0.3);"></div>
        </div>
        <div
          style="background: linear-gradient(transparent, #7C72FF 30%); height: 72%"
          class="home-campaign-git-line rounded mx-auto"
        ></div>

        <div class="mx-auto my-3 home-campaign-glowing-icon">
          <div class="position-relative d-inline-block z-1">
            <%= render Primer::Beta::Octicon.new(icon: "code", size: :medium) %>
            <span class="position-absolute left-0 top-0 height-full width-full home-campaign-glowing-icon-glow circle z-n1" style="background-color: var(--mktg-accent-primary); filter: blur(18px);"></span>
          </div>
        </div>

        <div
          style="background: linear-gradient(#7C72FF, #2DA44E 80%, #3FB950);"
          class="home-campaign-git-line height-full rounded mx-auto"
        ></div>
      </div>

      <div class="col-11 text-left pl-2 pl-sm-0 mt-n4">
        <div class="position-relative z-1 mb-2 mb-sm-6">
          <%#= render Site::EyebrowBannerComponent.new(
            title: "GitHub Universe: Watch now",
            subtitle: "80+ sessions over 2 days, register for free",
            url: "https://githubuniverse.com/?utm_source=github&utm_medium=banner&utm_campaign=bannerlo",
            icon: image_path("modules/site/universe/eyebrow-23@2x.png"),
            render: feature_enabled_globally_or_for_current_user?(:universe_eyebrow_banner23_watch)
          ) %>
        </div>

        <h1 class="h0-mktg mb-3 position-relative z-2">
          <span style="font-size: 1.2em">Let’s build from&nbsp;here</span>
        </h1>

        <p class="f2-mktg text-normal color-fg-muted mb-3 mb-md-10 position-relative z-1">
          The world’s leading AI-powered developer platform.
        </p>

        <%= render "site/home/cta", cta_location: "hero" %>

        <div class="my-8 my-md-10 build-in-animate col-12">
          <p class="d-block color-fg-subtle f3-mktg">Trusted by the world’s leading&nbsp;organizations&nbsp;↘︎</p>

          <div class="d-flex flex-wrap flex-justify-around flex-md-justify-between flex-items-center col-12 col-lg-11">
            <img src="<%= image_path("modules/site/home-campaign/logos/3m.svg") %>" alt="3M logo" height="48" class="my-3">
            <img src="<%= image_path("modules/site/home-campaign/logos/kpmg.svg") %>" alt="KPMG logo" height="40" class="my-3">
            <div class="col-12 d-sm-none"></div>
            <img src="<%= image_path("modules/site/home-campaign/logos/mercedes.svg") %>" alt="Mercedes-Benz logo" height="44" class="my-3">
            <img src="<%= image_path("modules/site/home-campaign/logos/sap.svg") %>" alt="SAP logo" height="44" class="my-3">
            <div class="col-12 d-none d-sm-block d-md-none"></div>
            <div class="col-12 d-sm-none"></div>
            <img src="<%= image_path("modules/site/home-campaign/logos/pg.svg") %>" alt="P&G logo" height="32" class="my-3">
            <img src="<%= image_path("modules/site/home-campaign/logos/telus.svg") %>" alt="Telus logo" height="32" class="my-3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
