<%= render Site::SectionComponent.new(
  theme: :dark,
  id: "productivity",
  classes: "home-campaign-productivity js-section"
) do %>
  <div class="d-flex js-build-in-trigger position-relative" data-build-in-stagger="100" data-build-margin-bottom="20">
    <div class="col-1 d-flex flex-column flex-items-center">
      <div class="mb-4 position-relative home-campaign-glowing-icon">
        <%= render Primer::Beta::Octicon.new(:briefcase, size: :medium) %>
        <span class="position-absolute left-0 top-0 height-full width-full home-campaign-glowing-icon-glow circle z-n1" style="background-color: var(--mktg-accent-primary); filter: blur(18px);"></span>
      </div>
      <div class="home-campaign-git-line height-full rounded js-build-in-item build-in-scale-top" style="background: linear-gradient(#3FB950, #2EA043, transparent);" data-build-delay="500"></div>
    </div>

    <div class="col-11 col-lg-8 ml-2 ml-md-0 mb-6 mb-md-10">
      <h2 class="h5-mktg mb-4 text-medium">Productivity</h2>
      <h3 class="h3-mktg mb-4 text-medium">
        <span class="text-accent-primary d-block">Accelerate innovation</span>
        Our AI-powered platform increases the pace of software development.
      </h3>
    </div>

    <%= image_tag(
      "modules/site/home-campaign/shape-0.svg",
      alt: "",
      aria: { hidden: true },
      width: "626",
      height: "626",
      class: "position-absolute height-auto d-none d-md-block col-6 events-none home-shape-rotate",
      style: "top: 0; right: -25%;",
      loading: "lazy",
      decoding: "async"
    ) %>
  </div>

  <div class="js-build-in-trigger">
    <%= image_tag(
      "modules/site/home-campaign/illu-copilot-editor.png",
      alt: "",
      aria: { hidden: true },
      width: "2496",
      height: "1302",
      class: "width-full d-block height-auto position-relative z-1 rounded-3 border js-build-in-item build-in-slideX-right",
      loading: "lazy",
      decoding: "async"
    ) %>
  </div>

  <div class="d-flex js-build-in-trigger position-relative" data-build-in-stagger="100">
    <%= image_tag(
      "modules/site/home-campaign/shape-1.svg",
      alt: "",
      aria: { hidden: true },
      width: "584",
      height: "584",
      class: "position-absolute height-auto d-none d-md-block col-7 events-none home-shape-rotate",
      style: "bottom: -50%; right: -20%; animation-duration: 300s;",
      loading: "lazy",
      decoding: "async"
    ) %>

    <div class="col-1 d-flex flex-column flex-items-center position-relative">
      <div class="home-campaign-git-line height-full position-relative z-1 js-build-in-item build-in-scale-top" style="transition-duration: 900ms; background: linear-gradient(transparent, #3FB950, #3FB950, transparent);"></div>
      <%= image_tag(
        "modules/site/home-campaign/git-branch-productivity.svg",
        alt: "",
        aria: { hidden: true },
        width: "81",
        height: "485",
        style: "left: calc(50% - 2px); height: auto; max-width: 9vw;",
        class: "d-none d-md-block position-absolute bottom-4 js-build-in-item build-in-scale-fade",
        loading: "lazy",
        decoding: "async"
      ) %>
    </div>

    <div class="col-11 ml-2 ml-md-6">
      <%= render Site::RiverComponent.new(
        header: "<em>GitHub Copilot</em> empowers developers to complete tasks 55% faster with contextualized AI coding assistance across workflows.",
        size: :small,
        classes: "flex-column-reverse",
        link: {
          text: "Explore GitHub Copilot",
          url: features_copilot_path
        }
      ) do %>
        <div class="d-flex flex-column position-relative">
          <div class="js-build-in-item build-in-slideX-right overflow-hidden rounded-3 position-relative z-1 d-none d-md-block" style="max-width: 480px; margin-top: -100%">
            <img src="<%= image_path "modules/site/home-campaign/illu-copilot-sidebar.png" %>" loading="lazy" width="960" height="1222" alt="" decoding="async" class="width-full d-block height-auto">
          </div>

          <div class="js-build-in-item build-in-slideX-right overflow-hidden rounded-3 position-absolute right-3 bottom-3 bottom-sm-0 z-1 d-md-none" style="max-width: 60%;">
            <img src="<%= image_path "modules/site/home-campaign/illu-copilot-sidebar.png" %>" loading="lazy" width="960" height="1222" alt="" decoding="async" class="width-full d-block height-auto">
          </div>

          <%= image_tag(
            "modules/site/home-campaign/bg-glow-purple.png",
            alt: "",
            aria: { hidden: true },
            width: "1000",
            height: "1000",
            class: "position-absolute d-none d-md-block events-none js-build-in-item build-in-fade",
            style: "bottom: -300px; right: -200px;",
            loading: "lazy",
            decoding: "async"
          ) %>
        </div>
      <% end %>

      <div class="mb-6 mb-md-7 pb-4 js-build-in-trigger">
        <div class="py-3 text-left col-sm-8 col-md-7 col-lg-6 col-xl-5 js-build-in-item build-in-slideX-left">
          <%= render Site::BadgeComponent.new(text: "Did you know?", size: :small) %>
          <h3 class="text-accent-primary mb-2 mt-3 h1-mktg text-medium">22% increase</h3>
          <p class="mb-3 f2-mktg text-medium col-6-max">in developer productivity after three years with GitHub</p>
          <%= render Site::LinkComponent.new(
            text: "Read the report",
            url: "https://resources.github.com/forrester/"
          ) %>
        </div>
      </div>
    </div>
  </div>

  <div class="position-relative z-1">
    <%= render Site::FeatureCardComponent.new(
      orientation: :horizontal,
      header: "<em>GitHub Actions</em> automates your build, test, and deployment workflow with simple and secure CI/CD.",
      link: {
        text: "Discover GitHub Actions",
        url: features_actions_path
      },
      image: {
        src: image_path("modules/site/home-campaign/illu-actions-2.png"),
        alt: "",
        aria: { hidden: true },
        width: 1306,
        height: 992,
        classes: "width-full d-block height-auto"
      },
      cache_version: 4
    ) %>
  </div>

  <%= render Site::HstackComponent.new do %>
    <div class="col-md-6 d-flex">
      <%= render Site::FeatureCardComponent.new(
        orientation: :vertical,
        header: "<em>GitHub Codespaces</em> offers a complete dev environment in seconds. Code, build, test, and open pull requests from any repo.",
        link: {
          text: "Check out GitHub Codespaces",
          url: features_codespaces_path
        },
        image: {
          src: image_path("modules/site/home-campaign/illu-codespaces.png"),
          alt: "",
          aria: { hidden: true },
          width: 1209,
          height: 890,
          classes: "width-full d-block height-auto js-build-in-item build-in-scale-fade"
        },
        cache_version: 2
      ) %>
    </div>

    <div class="col-md-6 d-flex">
      <%= render Site::FeatureCardComponent.new(
        orientation: :vertical,
        header: "<em>GitHub Mobile and Copilot</em> now let you manage projects and converse with your AI pair programmer on the&nbsp;go.",
        link: {
          text: "Download GitHub Mobile",
          url: "/mobile"
        },
        image: {
          src: image_path("modules/site/home-campaign/illu-mobile-chat.webp"),
          alt: "",
          aria: { hidden: true },
          width: 1244,
          height: 1029,
          classes: "width-full d-block height-auto js-build-in-item build-in-scale-fade"
        },
        cache_version: 2
      ) %>
    </div>
  <% end %>

  <div class="col-1 d-flex flex-column flex-items-center js-build-in-trigger">
    <div class="home-campaign-git-line mt-n3 mt-md-n4 mb-n8 rounded js-build-in-item build-in-scale-top" style="height: 160px; background: linear-gradient(transparent, #33B3AE 40%);"></div>
  </div>
<% end %>
