<%= render Site::SectionComponent.new(theme: :dark, id: "security", classes: "home-campaign-security js-section") do %>
  <div class="d-flex js-build-in-trigger position-relative" data-build-in-stagger="100">
    <div class="col-1 d-flex flex-column flex-items-center">
      <%= render "site/home/glowing_icon", icon: "lock" %>
      <div class="home-campaign-git-line height-full rounded js-build-in-item build-in-scale-top" style="background: linear-gradient(#33B3AE 40%, transparent);" data-build-delay="500"></div>
    </div>

    <div class="col-11 col-lg-7 ml-2 ml-md-0 mb-6 mb-md-10 pr-lg-3">
      <h2 class="h5-mktg mb-4 text-medium js-build-in-item build-in-slideX-left">Application security</h2>
      <h3 class="h3-mktg mb-4 text-medium js-build-in-item build-in-slideX-left">
        <span class="text-accent-primary d-block">Empower developers</span> With GitHub, you can secure code in minutes.
      </h3>
    </div>

    <%= image_tag(
      "modules/site/home-campaign/shape-2.svg",
      alt: "",
      aria: { hidden: true },
      width: "595",
      height: "595",
      class: "position-absolute height-auto d-none d-md-block col-8 events-none",
      style: "top: -10%; right: -25%;",
      loading: "lazy",
      decoding: "async"
    ) %>
  </div>

  <card-skew class="overflow-hidden rounded-3 mb-3 mb-md-5 position-relative z-1">
    <div class="color-bg-subtle border rounded-3 p-2 p-lg-6 js-build-in-trigger feature-card-mktg z-1 position-relative" data-target="card-skew.bounding" data-build-in-stagger="200">
      <div class="color-fg-subtle p-4">
        <div class="f5 text-medium">cmake.yml</div>
        <span class="f6">on: push</span>
      </div>

      <div class="position-relative d-flex flex-column flex-md-row gutter-spacious col-lg-10 mx-auto my-lg-6">
        <div class="col-md-6 js-build-in-item build-in-scale-right">
          <div class="p-4 rounded mt-5 box-shadow-mktg-xl mb-6" style="background: rgba(235, 245, 255, 0.2);">
            <ul class="list-style-none mb-n4">
              <% {
                "Build" => "1m 21s",
              }.each do |title, time| %>
                <li class="mb-4 f4-mktg d-flex flex-items-center flex-justify-between js-build-in-item build-in-scale-fade">
                  <div class="d-flex flex-items-center">
                    <%= render Primer::Beta::Octicon.new(icon: :"check-circle-fill", size: :medium, color: :success, mr: 2) %>
                    <%= tag.span title, class: "text-medium" %>
                  </div>
                  <%= tag.span time, class: "f5 color-fg-muted d-none d-sm-block" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="home-campaign-ghas-connect position-relative position-md-absolute z-1 d-flex flex-items-center js-build-in-item build-in-scale-fade">
          <div class="d-inline-block circle p-1 color-bg-emphasis" style="box-shadow: 0 0 0 2px #444D56;"></div>
          <div style="width: 40px; height: 2px; background: #D1D5DA;"></div>
          <div class="d-inline-block circle p-1 color-bg-emphasis" style="box-shadow: 0 0 0 2px #444D56;"></div>
        </div>

        <div class="col-md-6 js-build-in-item build-in-scale-right">
          <div class="pt-2 pb-1 px-4 rounded-top-2 d-inline-block text-medium" style="background: rgba(235, 245, 255, 0.2);">
            Steps
          </div>
          <div class="p-4 rounded-bottom-2 rounded-right-2 box-shadow-mktg-xl mb-6" style="background: rgba(235, 245, 255, 0.2);">
            <ul class="list-style-none mb-n4">
              <% {
                "Initialize CodeQL" => "1m 42s",
                "Autobuild" => "1m 24s",
                "Perform CodeQL Analyses" => "1m 36s",
              }.each do |title, time| %>
                <li class="mb-4 f4-mktg d-flex flex-items-center flex-justify-between js-build-in-item build-in-scale-fade">
                  <div class="d-flex flex-items-center">
                    <%= render Primer::Beta::Octicon.new(icon: :"check-circle-fill", size: :medium, color: :success, mr: 2) %>
                    <%= tag.span title, class: "text-medium" %>
                  </div>
                  <%= tag.span time, class: "f5 color-fg-muted d-none d-sm-block" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div data-target="card-skew.shine" class="position-absolute bottom-0 right-0 events-none z-n1"></div>
    </div>
  </card-skew>

  <div class="d-flex js-build-in-trigger position-relative" data-build-in-stagger="100">
    <div class="col-1 d-flex flex-column flex-items-center position-relative">
      <div class="home-campaign-git-line height-full position-relative z-1 js-build-in-item build-in-scale-top" style="background: linear-gradient(transparent, #33B3AE, #33B3AE, transparent);"></div>

      <%= image_tag(
        "modules/site/home-campaign/git-branch-security-2.svg",
        alt: "",
        aria: { hidden: true },
        width: "81",
        height: "612",
        style: "left: calc(50% - 2px); height: auto; max-width: 9vw;",
        class: "d-none d-md-block position-absolute bottom-4 js-build-in-item build-in-scale-fade",
        loading: "lazy",
        decoding: "async"
      ) %>
    </div>

    <div class="col-11 ml-2 ml-md-6">
      <%= render Site::RiverComponent.new(
        header: "<em>GitHub Advanced Security</em> enables you to find and fix vulnerabilities with ease and ship secure code quickly.",
        size: :small,
        classes: "flex-column-reverse",
        link: {
          text: "Dive into GitHub Advanced Security",
          url: feature_enabled_globally_or_for_current_user?(:site_security_react) ? "/enterprise/advanced-security" : features_security_path,
        }
      ) do %>
        <div class="d-flex flex-column position-relative">
          <div class="js-build-in-item build-in-slideX-right border overflow-hidden rounded-2 position-relative left-6 z-1" style="max-width: 541px; margin-top: -30%">
            <img src="<%= image_path "modules/site/home-campaign/illu-ghas-list.png" %>" alt="" loading="lazy" decoding="async" width="1084" height="600" class="width-full height-auto d-block">
          </div>

          <%= image_tag(
            "modules/site/home-campaign/bg-glow-blue.png",
            alt: "",
            aria: { hidden: true },
            width: "1000",
            height: "1000",
            class: "position-absolute d-none d-md-block events-none js-build-in-item build-in-fade",
            style: "bottom: -160px; right: -220px;",
            loading: "lazy",
            decoding: "async"
          ) %>
        </div>
      <% end %>

      <div class="mb-6 mb-md-12 pb-3 js-build-in-trigger">
        <div class="py-3 js-build-in-item col-sm-10 col-md-6 text-left col-lg-7 build-in-slideX-left">
          <%= render Site::BadgeComponent.new(text: "Did you know?", size: :small) %>
          <h3 class="text-accent-primary mb-2 mt-3 h1-mktg text-medium">7x faster</h3>
          <p class="mb-3 f2-mktg text-medium col-6-max">vulnerability fixes with GitHub<sup>1</sup></p>
        </div>
      </div>
    </div>
  </div>

  <div class="position-relative z-1 js-build-in-trigger">
    <%= render Site::FeatureCardComponent.new(
      orientation: :horizontal,
      header: "<em>Code scanning</em> is our code analysis tool that helps you remediate issues in your code.",
      link: {
        text: "Download the latest SAST ebook",
        url: "https://resources.github.com/security/sast/"
      },
      image: {
        src: image_path("modules/site/home-campaign/illu-code-scanning.png"),
        alt: "",
        aria: { hidden: true },
        width: 1288,
        height: 992,
        classes: "width-full d-block height-auto js-build-in-item build-in-scale-fade"
      },
      cache_version: 2
    ) %>
  </div>

  <%= render Site::HstackComponent.new do %>
    <div class="col-md-6 d-flex">
      <%= render Site::FeatureCardComponent.new(
        orientation: :vertical,
        header: "<em>Dependabot</em> makes it easy to find and fix vulnerable dependencies in your supply chain.",
        link: {
          text: "Explore Dependabot",
          url: features_security_software_supply_chain_path
        },
        image: {
          src: image_path("modules/site/home-campaign/illu-dependabot.png"),
          alt: "",
          aria: { hidden: true },
          width: 1208,
          height: 764,
          classes: "width-full d-block height-auto js-build-in-item build-in-scale-fade"
        },
        cache_version: 2
      ) %>
    </div>

    <div class="col-md-6 d-flex">
      <%= render Site::FeatureCardComponent.new(
        orientation: :vertical,
        header: "<em>Secret scanning</em> automatically looks for partner patterns and prevents fraudulent use of accidentally committed secrets.",
        link: {
          text: "Read about secret scanning",
          url: features_security_code_path
        },
        image: {
          src: image_path("modules/site/home-campaign/illu-secret-scanning-2.png"),
          alt: "",
          aria: { hidden: true },
          width: 1208,
          height: 804,
          classes: "width-full d-block height-auto js-build-in-item build-in-scale-fade"
        },
        cache_version: 2
      ) %>
    </div>
  <% end %>

  <div class="col-1 d-flex flex-column flex-items-center js-build-in-trigger">
    <div class="home-campaign-git-line mt-n3 mt-md-n4 mb-n8 rounded js-build-in-item build-in-scale-top" style="height: 160px; background: linear-gradient(transparent, #F778BA 40%);"></div>
  </div>
<% end %>
