<%
  force_globe = local_assigns[:force_globe] == true
  globe_enabled = local_assigns[:globe_enabled] == true
%>

<% page_info \
  title: "GitHub: Let’s build from here",
  description: _("GitHub is where over #{GitHub::MarketingStats::USER_MILLIONS_FALLBACK} million developers shape the future of software, together. Contribute to the open source community, manage your Git repositories, review code like a pro, track bugs and features, power your CI/CD and DevOps workflows, and secure code before you commit it."),
  richweb: {
    title: "GitHub: Let’s build from here",
    url: request.original_url,
    image: image_path("modules/site/social-cards/campaign-social.png"),
    description: _("GitHub is where over #{GitHub::MarketingStats::USER_MILLIONS_FALLBACK} million developers shape the future of software, together. Contribute to the open source community, manage your Git repositories, review code like a pro, track bugs and features, power your CI/CD and DevOps workflows, and secure code before you commit it.")
  },
  marketing_footer_theme: "dark",
  class: "header-overlay home-campaign",
  canonical_url: home_url
%>

<% content_for :head do %>
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <%# For Mastondon verification %>
  <link rel="me" href="https://hachyderm.io/@github">

  <%= stylesheet_bundle "home" %>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <% if local_globe_server_enabled? %>
    <script type="text/javascript" src="<%= local_globe_javascript_bundle_url %>"></script>
  <% end %>
<% end %>

<% if !logged_in? %>
  <%= render "site/experiments/video" %>
<% end %>
<div class="overflow-hidden" <%= mktg_color_theme_attributes %>>
  <%= render "site/home/hero_bg" %>
  <%= render "site/home/hero" %>
</div>
<div class="js-sticky-state position-sticky z-3 init-hidden" style="height: 1px;">
<%= render "site/home/nav" %>
</div>
<%= render "site/home/productivity" %>
<%= render "site/home/security" %>
<%= render "site/home/collaboration" %>

<%= render "site/home/footer", globe_enabled: globe_enabled, force_globe: force_globe %>
