<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% number_number = ["1", "2", "3"].sample %>
<% primary_story = homepage&.featured_content&.first %>
<% secondary_stories = homepage&.featured_content&.drop(1)&.take(4) %>

<div class="position-relative width-full pt-12 pb-9 pb-xl-12 overflow-hidden js-build-in" data-build-margin-bottom="45">
  <div class="position-absolute top-0 right-0 bottom-0 left-0 readme-bg-black--pattern"></div>
  <div class="container-readme p-responsive-readme">
    <%= render "site/readme/shared/navbar_hero", invert: "true" %>
  </div>
</div>

<div class="container-readme p-responsive-readme position-relative width-full d-md-flex" data-hpc>
  <% if primary_story.present? %>
    <div class="col-md-7 mt-n6 text-center">
      <div class="d-block mt-xl-n6 readme-link readme-link--focus-boost">
        <figure class="position-relative readme-link__figure readme-mask--thumbnail-<%= number_number %> js-readme-rotate <% if primary_story.developer_story? %>readme-mask--vertical-<%= number_number %><% end %>" data-animation-is-running="false" data-skew-x="0" data-skew-y="0" data-skew-target-x="0" data-skew-target-y="0">

          <%= render Site::ContentfulImageComponent.new(src: primary_story.thumbnail.url, width: 1200, height: 1400, classes: "d-block width-full height-auto readme-link__img readme-img-build-in js-build-in", lazy: false, alt: primary_story.thumbnail.description || "", sizes: "(max-width: 755px) 90vw, 45vw", build_margin_bottom: 20, photo: primary_story.label == "Featured Article" ? "false" : "true") %>

          <% if primary_story.developer_story? %>
            <picture>
              <source srcset="<%= image_path "modules/site/readme/spice-overlay-vertical-#{number_number}.webp" %>" type="image/webp">
              <img class="height-full width-full position-absolute d-block" style="top:50%; left:50%; transform:translateX(-50%) translateY(-50%); object-fit:contain;" src="<%= image_path "modules/site/readme/spice-overlay-vertical-#{number_number}.png" %>" width="1080" height="1380" alt="" aria-hidden="true">
            </picture>
          <% end %>
        </figure>
      </div>

      <div class="py-6">
        <h2 class="readme-home-visually-hidden">Featured stories</h2>
        <%= render Site::Readme::Shared::LinkTextComponent.new(
          story: primary_story.to_json,
          heading_class: "readme-heading-1 readme-heading--condensed",
          subtitle_class: "f2-mktg text-normal"
        ) %>
      </div>
    </div>
  <% end %>

  <% if secondary_stories.present? %>
    <div class="col-md-5 border-md-left ml-md-4 ml-xl-6">
      <% secondary_stories.each do |story| %>
        <div class="d-flex flex-row-reverse flex-items-center flex-md-items-start border-top pl-md-4 pl-xl-6 pt-4 pt-xl-5 mb-4 mb-xl-7">
          <div class="position-relative col-4 col-sm-3 col-md-4 pl-3 pl-md-2 pl-lg-3 pl-xl-4">
            <%= render Site::Readme::Shared::LinkImgComponent.new(
              story: story.to_json,
              image: "thumbnail",
              lazyload: false,
              build_in: true,
              build_in_margin: "5",
              shape: "circle",
              topic_tag: false,
              podcast_badge: false,
              sizes: "160px",
              dimensions: {
                width: 360,
                height: 420
              },
              photo: story.label != "Featured Article"
            ) %>
          </div>

          <div class="col-8">
            <p class="text-mono text-uppercase readme-text-gray-dark f5-mktg mb-2">
              <%= preview_label unless story.published? %>
              <%= story.label %>
            </p>

            <a
              href="<%= story.url %>"
              data-ga-click="<%= sanitized_ga_params(
                category: "ReadME Stories",
                action: "click",
                label: "ref_page:#{request.fullpath};" \
                  "ref_cta:#{story.heading};" \
                  "ref_loc:Story list"
              ) %>"
              class="position-relative d-block no-underline readme-underline--green"
            >
              <h3 class="mb-3 readme-heading-3">
                <span><%= story.heading %></span>
              </h3>
            </a>

            <p class="d-none d-lg-block f4-mktg">
              <%= story.subheading %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
