<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% quoted_story = homepage.quoted_content %>

<div class="container-readme p-responsive-readme">
  <div class=" border-top pt-9">
    <blockquote class="col-xl-11 offset-xl-1 text-center text-md-right lh-condensed readme-home-blockquote">
      <a href="<%= quoted_story.url %>" class="no-underline readme-underline--blue">
        <span><%= homepage.featured_quote %></span>
      </a>
    </blockquote>

    <div class="d-flex flex-column flex-md-row-reverse flex-items-center mt-6">
      <div class="position-relative col-4 col-md-2 mb-4 mb-md-0 ml-md-4" style="max-width:120px">
        <%= render Site::Readme::Shared::LinkImgComponent.new(
          story: quoted_story.to_json,
          image: "thumbnail",
          lazyload: true,
          build_in: true,
          build_in_margin: "5",
          shape: "circle",
          sizes: "120px",
          dimensions: {
            width: 300,
            height: 350
          }
        ) %>
      </div>

      <div class="col-12 col-md-10 text-center text-md-right ">
        <a
          href="<%= quoted_story.url %>"
          data-ga-click="<%= sanitized_ga_params(
            category: "ReadME Stories",
            action: "click",
            label: "ref_page:#{request.fullpath};" \
              "ref_cta:#{quoted_story.heading};" \
              "ref_loc:Story list"
          ) %>"
          class="position-relative d-block no-underline readme-underline--green"
        >
          <h3 class="mb-3 readme-heading-3">
            <span><%= quoted_story.heading %></span>
          </h3>
        </a>

        <p class="text-mono text-uppercase readme-text-gray-dark f5-mktg mb-2">
          <%= quoted_story.label %>
        </p>
      </div>
    </div>
  </div>
</div>
