<div class="container-readme p-responsive-readme mt-5 mt-md-6 mb-6 mb-md-8">
  <div class="border-top readme-border--black d-sm-flex flex-justify-between">
    <h2 class="d-inline-block pt-3 pt-md-4 readme-heading-2 readme-heading--condensed text-uppercase" style="border-top: 1rem solid">
      <%= title %>
    </h2>

    <%= link_to link, class: "d-block d-sm-inline no-underline text-semibold text-uppercase arrow-target-mktg readme-text-blue text-center py-3 f4-mktg", style: "letter-spacing:0.05em;" do %>
      See all <%= title %> <%= svg("site/icons/chevrow.svg", class: "octicon") %>
      <span class="sr-only"> stories from <%= title %></span>
    <% end %>
  </div>
</div>
