<% page_info \
  title: "The ReadME Project · Meet the people behind the projects you love",
  description: "",
  class: "readme-project header-overlay",
  richweb: {
    title: "The ReadME Project",
    url: request.original_url,
    description: "The ReadME Project amplifies the voices of the open source community: the maintainers, developers, and teams whose contributions move the world forward every day.",
    image: image_path("modules/site/social-cards/readme-project.jpg")
  }
%>

  <div>
    <% cache page_data[:cache_key] do %>
      <% homepage = Site::Contentful::Readme::Homepage.fetch_by_id(page_data[:homepage_id]) %>

      <div class="overflow-hidden width-full js-details-container">
        <h1 class="readme-home-visually-hidden">The ReadME Project</h1>

        <%= render "site/readme/home/issue_primary", homepage: homepage %>

        <div class="js-build-in" data-build-margin-bottom="75">
          <%= render "site/readme/shared/navbar_dropdown", remove_keyboard_focus: true %>
          <%= render(Site::Readme::Shared::NavComponent.new(topics: page_data[:navigation_topics])) %>

          <%= render(Site::Readme::Home::TopicLinksComponent.new(topics: page_data[:navigation_topics])) %>
          <%= render "site/readme/home/issue_secondary", homepage: homepage %>

          <% if homepage.featured_quote.present? %>
            <%= render "site/readme/home/issue_quote", homepage: homepage %>
          <% end %>

          <% cache page_data[:podcasts_cache_key] do %>
            <% podcasts = Site::Contentful::Readme::Podcast.all(include_unpublished: readme_staff?, "fields.slug[in]": page_data[:podcasts_slugs], **Site::Contentful::Readme::Podcast.select_for_index).map(&:to_json) %>

            <%= render Site::Readme::Home::PodcastsSectionComponent.new(stories: podcasts) %>
          <% end %>

          <% cache page_data[:featured_articles_cache_key] do %>
            <% featured_articles = Site::Contentful::Readme::FeaturedArticle.all(include_unpublished: readme_staff?, "fields.slug[in]": page_data[:featured_articles_slugs], **Site::Contentful::Readme::FeaturedArticle.select_for_index).map(&:to_json) %>

            <%= render Site::Readme::Home::FeaturedSectionComponent.new(stories: featured_articles) %>
          <% end %>

          <% cache page_data[:developer_stories_cache_key] do %>
            <% developer_stories = Site::Contentful::Readme::DeveloperStory.all(include_unpublished: readme_staff?, "fields.slug[in]": page_data[:developer_stories_slugs], **Site::Contentful::Readme::DeveloperStory.select_for_index).map(&:to_json) %>

            <%= render Site::Readme::Home::DeveloperStoriesSectionComponent.new(stories: developer_stories) %>
          <% end %>

          <% cache page_data[:guides_cache_key] do %>
            <% guides = Site::Contentful::Readme::Guide.all(include_unpublished: readme_staff?, "fields.slug[in]": page_data[:guides_slugs], **Site::Contentful::Readme::Guide.select_for_index).map(&:to_json) %>

            <%= render Site::Readme::Home::GuidesSectionComponent.new(stories: guides) %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div id="newsletter">
      <%= render "site/readme/shared/about" %>
    </div>
  </div>


