<%# erblint:counter FlashMigrationCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="clearfix flash flash-full <%= enabled_2fa ? "flash-info" : "flash-warn" %> d-flex flex-row-reverse flex-justify-center flex-items-center header-overlay-hide-flash">
  <%= form_with url: dismiss_banner_settings_account_two_factor_requirements_path(banner_action: :dismiss), method: :patch do |form| %>
    <button class="flash-close" float="right" type="submit" aria-label="Dismiss this message">
      <%= primer_octicon(:x) %>
    </button>
  <% end %>
  <div <%= test_selector "two-factor-banner" %>>
    <%= form_tag dismiss_banner_settings_account_two_factor_requirements_path(banner_action: enabled_2fa ? :manage : :enable), method: :patch do %>
      <%= render(Primer::ButtonComponent.new(type: :submit, float: :right, mr: 4, ml: 4)) { enabled_2fa ? "Manage 2FA" : "Enable 2FA" } %>
    <% end %>
  </div>
  <p class="flex-1">
    <%= render(Primer::Beta::Octicon.new(icon: enabled_2fa ? "info" : "alert")) %>
    GitHub users are <a class="Link--inTextBlock" href="<%= GitHub.blog_url %>/2023-03-09-raising-the-bar-for-software-security-github-2fa-begins-march-13/" target="_blank" rel="noopener noreferrer">now required</a>
    to enable two-factor authentication as an additional security measure. Your activity on GitHub includes you in this requirement.
    <% if enabled_2fa %>
      No action is required on your part, but two-factor authentication will be permanently required on your account
      after <%= enforce_date %>.
    <% else %>
      You will need to enable two-factor authentication on your account before <%= enforce_date %>, or be restricted
      from account actions.
    <% end %>
  </p>
</div>
