<%# erblint:counter GoogleAnalyticsDeprecation 4 %>
<% locals = ensure_local_vars(local_assigns, {
  required: [:button_text, :title],
  optional: [:button_icon, :button_icon_class, :dialog_class, :ga_click, :sudo_required, :id, :button_role, :deferred_loading_url, :button_aria_label, :title_class, :safe_toggle_button_data_attributes, :default_open],
  defaults: {
    button_class: "btn",
    details_class: "d-inline-block text-left",
    preload: false,
    is_checked: false,
    hidden: false,
    disabled: false,
    default_open: false,
    # Optional use of h1 for dialog header. More context: https://github.com/github/github/pull/329945#discussion_r1647414403
    use_h1_dialog_header: false
  },
  view: "shared/details_dialog"
}) %>

<details
  class="details-reset details-overlay details-overlay-dark lh-default color-fg-default <%= locals[:details_class] %>"
  <%= test_selector("shared-details-dialog") %>
  <% if locals[:id] %>id="<%= locals[:id] %>"<% end %>
  <% if locals[:default_open] == "true" %> open <% end %>
>
  <summary
      class="<%= locals[:button_class] %>"
      <%= locals[:safe_toggle_button_data_attributes] %>
      <% if locals[:button_aria_label] %>aria-label="<%= locals[:button_aria_label] %>"<% end %>
      <% if locals[:ga_click] %>data-ga-click="<%= locals[:ga_click] %>"<% end %>
      <% if locals[:sudo_required] %>data-sudo-required="<%= locals[:sudo_required] %>"<% end %>
      <% if locals[:button_role].present? %>
        role="<%= locals[:button_role] %>"
        <% if ["menuitemradio", "menuitemcheckbox"].include?(locals[:button_role]) %>aria-checked="<%= locals[:is_checked] %>"<% end %>
      <% end %>
      <% if locals[:hidden] %>hidden<% end %>
      <% if locals[:disabled] %>aria-disabled="true"<% end %>>
      <% if locals[:button_icon] %>
        <%= octicon locals[:button_icon], class: locals[:button_icon_class] %>
      <% end %>
    <%= locals[:button_text] %>
  </summary>
  <details-dialog
    aria-label="<%= title %>"
    class="Box Box--overlay d-flex flex-column anim-fade-in fast <%= locals[:dialog_class] %>"
    <% if locals[:deferred_loading_url] %>src="<%= locals[:deferred_loading_url] %>"<% end %>
    <% if locals[:preload] %>preload<% end %>><%# erblint:disable A11yDetailsDialogMigration %>
    <div class="Box-header">
      <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
        <%= primer_octicon(:x) %>
      </button>
      <% if locals[:use_h1_dialog_header] %>
        <h1 class="Box-title <%= locals[:title_class] %>"><%= locals[:title] %></h1>
      <% else %>
        <h3 class="Box-title <%= locals[:title_class] %>"><%= locals[:title] %></h3>
      <% end %>
    </div>
    <%= yield %>
  </details-dialog>
</details>
