<% flash_rendered! %>
<div id="js-flash-container" class="flash-container" data-turbo-replace>
  <% if weak_password_used_for_creation_or_change? || weak_password_used_for_sign_in? %>
    <%= render partial: "shared/weak_password_banner" %>
  <% end %>

  <% if defined?(show_2fa_banners) && show_2fa_banners %>
    <% if account_2fa_requirement_banner_required?(user: current_user, request: request, session: session) %>
      <%= render partial: "shared/account_two_factor_requirement_banner",
      locals: {
        enabled_2fa: session[:account_2fa_requirement_banner] == "enabled",
        enforce_date: current_user.two_factor_requirement_metadata.required_by.to_date.to_formatted_s(:long)
        } %>
    <% end %>

    <% if show_two_factor_holiday_banner?(user: current_user) %>
      <include-fragment <%= test_selector "holiday-warning-banner-fragment" %> src="<%= settings_user_2fa_holiday_warning_banner_path %>"></include-fragment>
    <% end %>
  <% end %>

  <% global_flash.each do |type, message| %>
    <%= render layout: "shared/flash_container", locals: { type: type } do %>
      <%= message %>
    <% end %>
  <% end %>

  <template class="js-flash-template">
    <%= render layout: "shared/flash_container", locals: { is_template: true } do %>
      <div>{{ message }}</div>
    <% end %>
  </template>
</div>
