<%# erblint:counter FlashMigrationCounter 2 %>
<% if trade_controls_read_only %>
  <% unless trade_notice_dismissed %>
    <div class="js-notice flash flash-warn flash-full border-0 text-left py-2">
      <div class="container-lg d-flex <%= responsive? ? "p-responsive" : "px-3" %>">
        <% if can_admin %>
          <span>
            <p class="pr-0 pr-md-6 mb-2">
              <%= trade_controls_archived_admin_notice %>
            </p>
            <p class="pr-0 pr-md-6 mb-2">
              <%= trade_controls_archived_cta_for_admins %>
            </p>
          </span>
        <% else %>
          <span>
            <p class="pr-0 pr-md-6 mb-2">
              <%= trade_controls_archived_non_admins_notice %>
            </p>
            <p class="pr-0 pr-md-6 mb-2">
              <%= trade_controls_archived_cta_for_non_admins %>
            </p>
          </span>
        <% end %>
        <%= form_tag dismiss_notice_path(Billing::OFACCompliance::TRADE_CONTROLS_READ_ONLY), class: "js-notice-dismiss" do %>
          <%= render Primer::Beta::CloseButton.new(type: :submit, "aria-label": "Hide this notice") %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="flash flash-warn flash-full border-top-0 text-center text-bold py-2">
    <% exported_to_url = repository.get_repository_exported_to_url %>
    <% if exported_to_url.present? %>
      <p>This repository has been migrated to another deployment of GitHub. You can now access it at <strong><%= link_to exported_to_url, exported_to_url %></strong>. </p>
      <p>Please contact the repository’s owner, <strong><%= profile_link(repository.owner) %></strong>, for more information.</p>
    <% else %>
      This repository is currently being migrated. It's locked while the migration is in progress.
    <% end %>
  </div>
<% end %>
