<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  templates = {
    password_reset: { # during the 2fa password reset flow
      auth_class: "js-poll-github-mobile-two-factor-password-reset-authenticate",
      auth_challenge: "We sent you a password reset request on your GitHub Mobile app. Enter the digits shown below to verify your identity.",
      auth_retry: "We could not verify your identity",
      timeout_flash: "Password reset request timed out.",
      error_flash: "Password reset request failed."
    },
    sign_in: { # during the 2fa sign in flow
      auth_class: "js-poll-github-mobile-two-factor-authenticate",
      auth_challenge: "We sent you a sign-in request on your GitHub Mobile app. Enter the digits shown below to verify your identity.",
      no_auth_challenge: "We sent you a sign-in request on your GitHub Mobile app. Approve the request to verify your identity.",
      auth_retry: "We could not verify your identity",
      timeout_flash: "Sign-in request timed out.",
      error_flash: "Sign-in request failed."
    },
    verified_device: { # during the verified device flow
      auth_class: "js-poll-github-mobile-verified-device-authenticate",
      auth_challenge: "We sent you a verification request on your GitHub Mobile app. Enter the digits shown below to verify the sign-in from this device.",
      auth_retry: "We could not verify your device",
      timeout_flash: "Verification request timed out.",
      error_flash: "Verification request failed."
    },
    sudo: { # during the sudo verification flow
      auth_class: "js-poll-github-mobile-sudo-authenticate",
      auth_challenge: "We sent you a verification request on your GitHub Mobile app. Enter the digits shown below to enter sudo mode.",
      no_auth_challenge: "We sent you a verification request on your GitHub Mobile app. Approve the request to enter sudo mode.",
      auth_retry: "We could not verify your identity",
      timeout_flash: "Verification request timed out.",
      error_flash: "Verification request failed."
    }
  }

  mobile_template = templates[auth_template.to_sym]
%>

<%= render(Primer::Beta::BorderBox.new(mt: 3, bg: :subtle)) do |component| %>
  <% component.with_header(display: :flex, justify_content: :center, align_items: :center, direction: :column, border_bottom: 0, pb: 0) do %>
    <img class="rounded-2" src="<%= image_path "modules/login/github_mobile@1x.png" %>" srcset="<%= image_path "modules/login/github_mobile@2x.png" %> 2x" alt="GitHub Mobile icon">

    <h2 class="mt-2 f3 text-normal text-center">GitHub Mobile</h2>
  <% end %>

  <%= component.with_body do %>
    <div id="github-mobile-authenticate-prompt" class="<%= mobile_template[:auth_class] %> d-flex flex-column flex-items-center" data-poll-url="<%= status_path %>">
      <p data-target="sudo-credential-options.githubMobileNoChallengeMessage" <%= challenge.blank? ? "" : "hidden"%>> <%= mobile_template[:no_auth_challenge] %> </p>
      <p data-target="sudo-credential-options.githubMobileChallengeMessage" <%= challenge.blank? ? "hidden" : ""%>> <%= mobile_template[:auth_challenge] %> </p>
      <h3
        <%= test_selector "github-mobile-challenge" %>
        class="mt-3 lh-default f1-light"
        data-target="sudo-credential-options.githubMobileChallengeValue"
        <%= challenge.blank? ? "hidden" : ""%>>
        <%= challenge %>
      </h3>
      <% if Rails.env.development? %>
        <p><a target="_blank" href="http://localhost:8003">Approve using authnd's test mobile client</a></p>
      <% end %>
    </div>

    <div hidden id="github-mobile-authenticate-error-and-retry" class="d-flex flex-column flex-items-center" timeout-flash="<%= mobile_template[:timeout_flash] %>" error-flash="<%= mobile_template[:error_flash] %>">
      <p> <%= mobile_template[:auth_retry] %> </p>

      <%= render Primer::ButtonComponent.new(href: retry_path, tag: :a, block: :true, scheme: :primary, "data-action": "click:sudo-credential-options#githubMobileRetry") do %>
        Retry
      <% end %>
    </div>

    <%= form_with url: status_path, hidden: true, id: "github-mobile-authenticate-form" do %>
      <%= csrf_hidden_input_for status_path, method: :post, class: "js-data-url-csrf" %>
    <% end -%>
    <a href="<%= rejected_path %>" id="github-mobile-rejected-redirect" hidden></a>
  <% end %>
<% end %>
