<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%
  include_header = local_assigns.fetch(:include_header, true)
  dynamically_load_captcha = local_assigns.fetch(:dynamically_load_captcha, false)
%>

<div class="<%= signup_form_margin("y") %>" <%= test_selector("signup-form-captcha")%>>
  <% if include_header %>
    <%= signup_h2("Verify your account", class: signup_form_margin("b")) %>
  <% end %>

  <div class="js-octocaptcha-spinner d-flex flex-justify-center flex-items-center width-full">
    <%= image_tag "spinners/octocat-spinner-128.gif", size: "64x64", alt: "Waiting for verification." %>
  </div>

  <div class="js-octocaptcha-success d-none d-flex flex-justify-center flex-items-center width-full">
    <%= primer_octicon(:check, height: 64, color: :success, "aria-label": "Account has been verified. Please continue.") %>
  </div>

  <div class="width-full"
    data-ga-event-category="Signup funnel entrance"
  >
    <% if dynamically_load_captcha %>
      <iframe data-src="<%= GitHub.urls.octocaptcha_url_with_src_params(origin_page, version: local_assigns[:version], captcha_demo: local_assigns[:captcha_demo]) %>" class="js-octocaptcha-frame width-full d-block v-hidden border-0 rounded-2" title="Please verify by completing this captcha."></iframe>
    <% else %>
      <iframe src="<%= GitHub.urls.octocaptcha_url_with_src_params(origin_page, version: local_assigns[:version], captcha_demo: local_assigns[:captcha_demo]) %>" class="js-octocaptcha-frame width-full d-block v-hidden border-0 rounded-2" title="Please verify by completing this captcha."></iframe>
    <% end %>
  </div>

  <input
    required
    name="octocaptcha-token"
    class="js-octocaptcha-token d-none"
    data-octocaptcha-url="<%= GitHub.urls.octocaptcha_url %>"
    data-octocaptcha-timeout="<%= octocaptcha_timeout ||= 30_000 %>"
    <% if dynamically_load_captcha %>
      data-dynamically-load-captcha="<%= dynamically_load_captcha %>"
    <% end %>
  >
</div>
