<% if include_github_dev_hotkey? %>
  <%# the href will be appended to by JS before it is followed! %>
  <a href="<%= GitHub.codespaces_serverless_url %>" class="d-none js-github-dev-shortcut" data-hotkey="<%= hotkeys_for(current_user, :repositories, :github_dev_editor_open) %>">Open in github.dev</a>
  <a href="<%= GitHub.codespaces_serverless_url %>" class="d-none js-github-dev-new-tab-shortcut" data-hotkey="<%= hotkeys_for(current_user, :repositories, :github_dev_editor_open_in_new_tab) %>" target="_blank" rel="noopener noreferrer">Open in a new github.dev tab</a>
  <% if current_repository.present? %>
    <%= link_to "Open in codespace", codespace_keyboard_shortcut_path(current_repository, branch: params[:branch], pull: pull), class: "d-none", data: { hotkey: hotkeys_for(current_user, :repositories, :codespace_open) }, target: :_blank %>
  <% end %>
<% end %>
