<% locals = ensure_local_vars(local_assigns, {
  required: [:plan_display_name, :plan_description, :plan_name, :selection_text],
  optional: [:plan, :plan_benefits, :price, :price_subtitle, :features, :data, :disabled, :button_value],
  defaults: {
    disabled: false
  },
  view: "shared/plan_selection"
}) %>


<div
  class="height-full position-relative rounded-3 px-2 pt-5 pb-2 <% if plan_name == "business" %>pricing-recommended-plan<% end %>"
  data-min-seats="1"
  data-max-seats="4"
  <%= test_selector(plan_name) %>
>
  <p <% unless plan_name == "business" %>hidden<% end %> class="position-absolute left-0 right-0 h5 text-center text-uppercase color-fg-on-emphasis js-recommended-plan-caption" style="top:6px;">Most popular</p>

  <div class="d-md-flex flex-column flex-justify-between height-full rounded-3 color-shadow-extra-large color-bg-default">
    <div class="px-3 pt-4 pb-md-4">
      <h2 class="mb-2 h5-mktg"><%= locals[:plan_display_name] %></h2>
      <p class="color-fg-muted lh-condensed px-md-6 mb-0"><%= locals[:plan_description] %></p>
    </div>

    <% if locals[:plan_benefits] %>
      <%= locals[:plan_benefits]  %>
    <% end %>

    <div class="px-3 pt-4 pb-3">
      <% if locals[:plan] %>
        <%= render Pricing::PriceTagComponent.new(plan: locals[:plan], render_mode: :plan_card) %>
      <% end %>
      <!-- Plan CTA button -->
      <% if locals[:custom_button] %>
        <%= locals[:custom_button]  %>
      <% else %>
        <div class="m-2">
          <%= render partial: "signup/button", locals: {
            text: locals[:selection_text],
            type: "submit",
            disabled: locals[:disabled],
            data_disabled: false,
            data: locals[:data],
            name: "plan",
            value: locals[:button_value] || locals[:plan_name],
            test_selector: "plan-input-#{locals[:plan_name]}",
            custom_classes: "btn-block btn-mktg"
          } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
