<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 4 %>
<%# required locals: button_text, title %>
<% button_class ||= "btn" %>
<% button_icon ||= nil %>
<% details_class ||= "d-inline-block text-left" %>
<% dialog_class ||= "overflow-auto" %>
<% container_class ||= "p-4" %>
<% ga_click ||= nil %>
<% id ||= "" %>
<% button_role ||= "" %>
<% is_checked ||= false %>
<% test_selector_value ||= nil %>
<% button_aria_label ||= nil %>
<% new_modal_header ||= nil %>

<details class="details-reset details-overlay details-overlay-dark <%= details_class %>" <% if id.present? %>id="<%= id %>"<% end %>>
  <summary
    class="<%= button_class %>"
    <%= test_selector(test_selector_value) if test_selector_value %>
    <% if button_aria_label %>aria-label="<%= button_aria_label %>"<% end %>
    <% if ga_click %>data-ga-click="<%= ga_click %>"<% end %>
    <% if button_role.present? %>
      role="<%= button_role %>"
      <% if ["menuitemradio", "menuitemcheckbox"].include?(button_role) %>aria-checked="<%= is_checked %>"<% end %>
    <% end %>
    <%= local_assigns[:analytics] %>
  >
    <%= primer_octicon(button_icon) if button_icon %>
    <%= button_text %>
  </summary>
  <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast <%= dialog_class %>" aria-label="<%= title %>"><%# erblint:disable A11yDetailsDialogMigration %>
    <% if new_modal_header %>
      <div class="Box-header">
        <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
          <%= primer_octicon(:x) %>
        </button>
        <% unless defined?(hide_title) %>
          <h3 class="Box-title text-normal"><%= title %></h3>
        <% end %>
      </div>
    <% else %>
      <%= render Primer::ButtonComponent.new(scheme: :link, position: :absolute, p: 4, right: 0, classes: "Link--muted", "aria-label": "Close dialog", "data-close-dialog": "") do %>
        <%= primer_octicon(:x) %>
      <% end %>
      <% unless defined?(hide_title) %>
        <div class="px-4 pt-4 mb-n2">
          <h3 class="f3 text-center px-4 lh-condensed"><%= title %></h3>
        </div>
      <% end %>
    <% end %>
    <div class="d-flex flex-column <%= container_class %>"><%= yield %></div>
  </details-dialog>
</details>
