<%# Use of this partial is discouraged; toasts are an accessibility anti-pattern.
    Please use the Primer Banner component instead
    https://primer.style/components/banner
 %>
<% locals = ensure_local_vars(local_assigns, {
  required: [:text, :icon],
  # https://primer.style/css/components/toasts
  optional: [:state, :action],
  defaults: {
    dismissable: true
  },
  view: "shared/toast"
}) %>

<div class="
  position-fixed bottom-0 left-0 ml-5 mb-5
  anim-fade-in fast Toast
  <% if locals[:state].present? %> Toast--<%= locals[:state] %><% end %>"
  role="log"
  style="z-index: 101;">
  <span class="Toast-icon">
    <% if locals[:state].present? && locals[:state] == "loading" %>
      <svg class="Toast--spinner" viewBox="0 0 32 32" width="18" height="18" aria-hidden="true">
        <path fill="#959da5" d="M16 0 A16 16 0 0 0 16 32 A16 16 0 0 0 16 0 M16 4 A12 12 0 0 1 16 28 A12 12 0 0 1 16 4"></path>
        <path fill="#ffffff" d="M16 0 A16 16 0 0 1 32 16 L28 16 A12 12 0 0 0 16 4z"></path>
      </svg>
    <% else %>
      <%= primer_octicon(locals[:icon]) %>
    <% end %>
  </span>
  <span class="Toast-content d-flex">
    <span>
      <%= locals[:text] %>
    </span>
    <% if locals[:action].present? %>
      <a href="<%= locals[:action][:href] %>" class="ml-5 color-fg-default text-bold no-wrap d-flex flex-items-center"> <%= locals[:action][:text] %> </a>
    <% end %>
  </span>
  <% if locals[:dismissable] %>
    <button class="Toast-dismissButton" type="button" aria-label="Close">
      <%= primer_octicon(:x) %>
    </button>
  <% end %>
</div>
