<% page_info title: "Metered Products" %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Metered Products<% end %>
  <% end %>

  <div class="boxed-group">
    <% if product_uuids.any? %>
      <div class="boxed-group-inner seamless">
        <table class="boxed-group-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Product Key</th>
              <th>Product Type</th>
            </tr>
          </thead>
          <tbody>
            <% product_uuids.each do |uuid| %>
              <tr>
                <td><%= link_to uuid.name, stafftools_metered_product_uuid_path(uuid) %></td>
                <td><%= uuid.product_key %></td>
                <td><%= uuid.product_type %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="boxed-group-inner">
        No metered product uuids available
      </div>
    <% end %>
  </div>
<% end %>
