<% page_info(title: "Metered Products") %>

<%= render(layout: "stafftools/stafftools") do %>
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <%= render(Primer::Beta::Breadcrumbs.new) do |c| %>
        <% c.with_item(href: stafftools_metered_product_uuids_path) do %>Metered Products<% end %>
        <% c.with_item(href: request.path) do %>
          <% if product_uuid.name? %>
            <%= product_uuid.name %>
          <% else %>
            <%= "#{product_uuid.product_type}: #{product_uuid.product_key}" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="container-lg clearfix">
    <table class="text-left d-table">
      <tr>
        <th>Id</th>
        <td class="px-3"><%= product_uuid.id %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td class="px-3"><%= product_uuid.name %></td>
      </tr>
      <tr>
        <th>Product Key</th>
        <td class="px-3"><%= product_uuid.product_key %></td>
      </tr>
      <tr>
        <th>Product Type</th>
        <td class="px-3"><%= product_uuid.product_type %></td>
      </tr>
      <tr>
        <th>Billing Cycle</th>
        <td class="px-3"><%= product_uuid.billing_cycle %></td>
      </tr>
      <tr>
        <th>Metered</th>
        <td class="px-3"><%= product_uuid.metered %></td>
      </tr>
      <tr>
        <th>Zuora</th>
        <td class="px-3">
          <tr>
            <th>↳ Product</th>
            <td class="px-3">
              <%= link_to product_uuid.zuora_product_id, zuora_product_url(product_id: product_uuid.zuora_product_id) %>
            </td>
          </tr>
          <tr>
            <th>↳ Product Rate Plan</th>
            <td class="px-3">
              <%= link_to product_uuid.zuora_product_rate_plan_id, zuora_product_url(product_id: product_uuid.zuora_product_id, rate_plan_id: product_uuid.zuora_product_rate_plan_id) %>
            </td>
          </tr>
          <tr>
            <th class="v-align-top">↳ Product Rate Plan Charges</th>
            <td class="px-3">
              <table>
                <% product_uuid.zuora_product_rate_plan_charge_ids.each do |rate_plan_charge| %>
                  <tr>
                    <th><%= rate_plan_charge[0] %></th>
                    <td class="px-3"><%= rate_plan_charge[1] %></td>
                  </tr>
                <% end %>
              </table>
            </td>
          </tr>
        </td>
      </tr>
    </table>
  </div>

  <br>

  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Charges
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
    <% if !product_uuid.charges.present? %>
      <% component.with_body do %>
        <p>No charges found.</p>
      <% end %>
    <% else %>
      <% product_uuid.charges.each do |charge| %>
        <% component.with_row do %>
          <table class="text-left d-table">
            <tr>
              <th>Name</th>
              <td class="px-3"><%= charge["name"] %></td>
            </tr>
            <tr>
              <th>Type</th>
              <td class="px-3"><%= charge["type"] %></td>
            </tr>
            <tr>
              <th>Price</th>
              <td class="px-3"><%= charge["price"] %></td>
            </tr>
            <tr>
              <th>Billing Duration</th>
              <td class="px-3"><%= charge["billing_duration"] %></td>
            </tr>
            <tr>
              <th>Zuora Product Rate Plan Charge</th>
              <td class="px-3"><%= charge["zuora_product_rate_plan_charge_id"] %></td>
            </tr>
          </table>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
