<% error = error_for(access, :custom_expires_at, human_field: "Custom expiration") %>
<% description_id = "description_#{SecureRandom.hex(6)}" %>
<% not_for_pat_v2 = !ProgrammaticAccess.user_type?(access) %>

<dl id="token-expiration" class="form-group required<%= " errored" if error %>">
  <dt class="input-label">
    <%= f.label(:default_expires_at, "Expiration", { id: "expiration-label" }) %>
  </dt>
  <dd class="d-inline-block mr-2">
    <%= f.select(
      :default_expires_at,
      options_for_select(expiration_timeframes(allow_none: not_for_pat_v2), access.default_expires_at),
      {},
      { "class" => "js-default-token-expiration-select", "aria-labelledby" => "expiration-label" })
    %>
  </dd>

  <% if error %>
    <dd class="error" id="<%= description_id %>">
      <%= error %>
    </dd>
  <% end %>

  <dd id="custom-expires-wrapper" class="d-inline-block" <%=" hidden" if access.default_expires_at != "custom" %>>
    <%=
      f.date_field(
        :custom_expires_at,
        {
          "class" => "form-select",
          "aria-labelledby" => "expiration-label",
          "min" => 1.day.from_now.to_date,
          "max" => 1.year.from_now.to_date,
          "value" => access.custom_expires_at&.strftime("%Y-%m-%d")
        }
      )
    %>
  </dd>

  <dd id="expiration-helper-note" class="d-inline-block" <%=" hidden" if access.default_expires_at == "custom" %>>
    <p class="note">
      <%= expiration_helper_note(access) %>
    </p>
  </dd>

  <dd id="no-expiration-warning" class="mt-3" <%=" hidden" if access.default_expires_at != "none" || current_user.is_first_emu_owner? %>>
    <p class="flash flash-warn">
      GitHub strongly recommends that you set an expiration date for your token to help keep your information secure.
      <a class="Link--inTextBlock" rel="noopener noreferrer" href="<%= GitHub.blog_url %>/changelog/2021-07-26-expiration-options-for-personal-access-tokens/" target="_blank">Learn more</a><%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
    </p>
  </dd>
</dl>
