<%# rubocop:disable Lint/InstanceVariable %>
<% view = OauthTokens::ScopeView.new(scope: scope.name) %>
<% scopes = Array(@access.scopes) %>

<% if current_user.preview_features? || Api::AccessControl.grantable?(scope.name) %>
  <% checked ||= scopes.include?(scope.name) %>
  <% disabled = view.dependent_scope_selected?(scope, scopes) %>

  <% if scope.parent %>
    <% disabled = disabled || view.dependent_scope_selected?(scope.parent, scopes) %>
  <% end %>

  <li class="<%= 'Box-row px-2 py-1' if scope.parent.nil? %> js-check-scope-container" data-scope-for="<%= scope.name %>">
    <div class="form-checkbox my-2">
      <label class="clearfix">
        <div class="col-4 float-left <%= 'pl-3' if scope.parent %>">
          <% options = { id: nil, class: view.html_classes_for_scope(scope), disabled: disabled } %>

          <% related_scope_families = view.related_scope_families(scope.name) %>
          <% options[:"data-check-related-scopes"] = related_scope_families.join(" ") if related_scope_families.any? %>

          <% selected_by = view.selected_by(scope, scopes) %>
          <% options[:"data-selected-by"] = selected_by.join(" ") if selected_by.any? %>

          <%= check_box_tag "oauth_access[scopes][]", scope.name, checked, options %>

          <% font_weight = scope.parent ? :normal : :bold %>
          <%= render(Primer::Beta::Text.new(tag: :span, color: :default, font_weight: font_weight)) { scope.name } %>
        </div>

        <div class="col-8 float-left">
          <span class="color-fg-muted text-normal">
            <%= scope.description.to_s.upcase_first %>
            <%= link_to("(Developer Preview)", preview_docs_url, :target => "_blank") if local_assigns[:preview_docs_url] %>
          </span>
        </div>
      </label>
    </div>

    <% if scope.send(:children).any? %>
      <% child_scopes = Api::AccessControl.child_scopes(scope) %>
      <ul class="list-style-none">
        <%= render :partial => "oauth_tokens/scope", :collection => child_scopes, :as => :scope, :locals => { :checked => checked } %>
      </ul>
    <% end %>
  </li>
<% end %>
