<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% token_type = "tokens#{" (classic)" if current_user.patsv2_enabled?}" %>
<div class="settings-next">
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2, font_size: 3) { "Personal access #{token_type}" } %>
    <% component.with_actions do %>
      <% if current_user.patsv2_enabled? %>
        <%= render(GitHub::MenuComponent.new(align: :right, text: "Generate new token", items: [
          GitHub::Menu::LinkComponent.new(
            href: new_settings_user_access_token_path, text: "Generate new token",
            label: GitHub::BetaFlagComponent.new(ml: 1), description: "Fine-grained, repo-scoped",
          ),
          GitHub::Menu::LinkComponent.new(
            href: new_settings_user_token_path,
            text: "Generate new token (classic)", description: "For general use",
          )
        ])) %>
      <% else %>
        <%= link_to "Generate new token", new_settings_user_token_path, :class => "btn btn-sm", "data-pjax" => true%>
      <% end %>

      <% unless tokens.empty? %>
        <%= render layout: "shared/details_dialog", locals: {
          button_text: "Revoke all",
          button_class: "btn btn-sm btn-danger ml-1",
          title: "Are you sure you want to revoke access?"
        } do %>
          <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
            <%= render Primer::Alpha::Banner.new(full: true, scheme: :warning) do %>
              This will revoke access for <strong>all personal access <%= token_type %></strong>, but will not revoke access for any authorized third-party OAuth applications. This action cannot be undone.
            <% end %>
          <% else %>
            <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
              This will revoke access for <strong>all personal access <%= token_type %></strong>, but will not revoke access for any authorized third-party OAuth applications. This action cannot be undone.
            <% end %>
          <% end %>

          <%= form_tag revoke_all_settings_user_tokens_path, :method => :post do %>
            <div class="Box-body">
              <p>
              Any SSH keys created on your behalf by personal access <%= token_type %> will also be deleted.
              </p>

              <dl class="form-group mb-0">
                <dt>
                  <label for="revoke-access-confirmation">
                    Type your username to confirm
                  </label>
                </dt>
                <dd>
                  <input type="text"
                    autofocus
                    required
                    id="revoke-access-confirmation"
                    class="form-control input-block"
                    pattern="<%= case_insensitive_pattern current_user.display_login %>"
                    aria-label="Type in your username to confirm that you want to revoke access for all personal access tokens.">
                </dd>
              </dl>
            </div>
            <div class="Box-footer">
              <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-disable-invalid": "") do %>
                I understand, revoke access for everything
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if tokens.empty? %>
    <p>Need an API token for scripts or testing? <a class="Link--inTextBlock" href="<%= new_settings_user_token_path %>" data-pjax>Generate a personal access token</a> for quick access to the <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>">GitHub API</a>.</p>
  <% else %>
    <p class="mb-3">
      Tokens you have generated that can be used to access the <a class="Link--inTextBlock" rel="noopener noreferrer" href="<%= GitHub.developer_help_url %>" target="_blank">GitHub API</a>.
    </p>

    <% if flash[:new_personal_access] %>
      <%= render partial: "oauth_tokens/copy_token_now_flash" %>
    <% end %>

    <div class="listgroup">
      <%= render partial: "oauth_tokens/token", collection: tokens %>
    </div>

    <div class="paginate-container">
      <%= will_paginate tokens, class: "d-flex d-md-inline-block pagination" %>
    </div>
  <% end %>
</div>

<div class="text-small color-fg-muted mt-3">
  Personal access <%= token_type %> function like ordinary OAuth access tokens. They
  can be used instead of a password for Git over HTTPS, or can be used to
  <a class="Link--inTextBlock" rel="noopener noreferrer" href="<%= GitHub.developer_help_url %>/v3/auth/#basic-authentication" target="_blank">authenticate to the API over Basic Authentication</a>.
</div>
