<% title = current_user.patsv2_enabled? ? "Personal Access Tokens (Classic)" : "Personal Access Tokens" %>
<% page_info :title => title, :selected_link => :oauth_tokens %>

<% content = capture do %>
  <%= render partial: "oauth_tokens/tokens", locals: { tokens: tokens } %>

  <% if GitHub.flipper[:api_version_pinning].enabled?(current_user) %>
    <%= form_tag pinned_api_version_path, method: :put do %>
      <dl class="form-group">
        <dt>
          <label>API Version</label>
          <p class="text-small color-fg-muted mt-3" id="settings_user_api_version_note">
            This version of the API will be used for any requests made by your personal access tokens,
            unless those requests include version headers.
          </p>
        </dt>
        <dd>
          <%= select_tag :pinned_api_version, options_for_select(Rest::HasPinnedApiVersion.version_options_for_select, current_user.pinned_api_version), class: "form-select", :"aria-label" => "API Version", :"aria-describedby" => "settings_user_api_version_note" %>
          <%= submit_tag "Update", class: "btn btn-primary" %>
        </dd>
    <% end %>
  <% end %>
<% end %>

<%= render layout: "settings/developer_settings" do %>
  <%= content %>
<% end %>
