<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: "Regenerate personal access token", selected_link: :oauth_tokens %>
<% page_info :title => "Regenerate Personal Access Token#{" (Classic)" if current_user.patsv2_enabled?}", :selected_link => :oauth_tokens %>

<%= render layout: "settings/developer_settings" do %>
  <div class="settings-next">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Regenerate personal access token<%= " (classic)" if current_user.patsv2_enabled? %><% end %>
    <% end %>

    <%= render(Primer::Beta::Flash.new(scheme: :warning, classes: "regenerate-token-cta" )) do %>
      Submitting this form will generate a new token. Be aware that any scripts or applications using this token will need to be
      updated.
    <% end %>

    <% if @access.authorization.public_keys.size > 0 %>
      <a class="float-right" href="<%= settings_keys_path %>">Includes <%= pluralize(@access.authorization.public_keys.size, 'SSH key') %></a>
    <% end %>

    <%= form_for @access, method: :post, url: regenerate_settings_user_token_path(@access), html: { class: "js-edit-oauth-access" } do |f| %>
      <div class="form">
        <%= render :partial => "oauth_tokens/expiration_date_picker", :locals => { :f => f, :access => @access } %>
      </div>
      <%= hidden_field_tag "index_page", @index_page %>
      <p>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>Regenerate token<% end %>
        <%= link_to "Cancel", settings_user_tokens_path, class: "btn btn-invisible" %>
      </p>
    <% end %>
  </div>
<% end %>
