<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Edit Personal Access Token#{" (Classic)" if current_user.patsv2_enabled?}", :selected_link => :oauth_tokens %>

<%= render layout: "settings/developer_settings" do %>
  <div class="settings-next">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Edit personal access token<%= " (classic)" if current_user.patsv2_enabled? %><% end %>
    <% end %>

    <% if flash[:new_personal_access] %>
      <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
        <%= render(Primer::Alpha::Banner.new) do %>
          <p>Make sure to copy your token now as you will not be able to see it again.</p>

          <div class="input-group">
            <input class="form-control" id="new-oauth-token" type="text" placeholder="Access token" aria-label="Access token" disabled value="<%= flash[:new_personal_access]["token"] %>">
            <span class="input-group-button">
              <%= render Primer::Beta::ClipboardCopy.new(for: "new-oauth-token", "aria-label": "Copy token", classes: "btn", tabindex: "0", role: "button", "data-copy-feedback": "Copied!") %>
            </span>
          </div>
        <% end %>
      <% else %>
        <%= render(Primer::Beta::Flash.new) do %>
          <p>Make sure to copy your token now as you will not be able to see it again.</p>

          <div class="input-group">
            <input class="form-control" id="new-oauth-token" type="text" placeholder="Access token" aria-label="Access token" disabled value="<%= flash[:new_personal_access]["token"] %>">
            <span class="input-group-button">
              <%= render Primer::Beta::ClipboardCopy.new(for: "new-oauth-token", "aria-label": "Copy token", classes: "btn", tabindex: "0", role: "button", "data-copy-feedback": "Copied!") %>
            </span>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
        <%= render Primer::Alpha::Banner.new(scheme: :warning, classes: "regenerate-token-cta") do %>
          <%= link_to "Regenerate token", regenerate_edit_settings_user_token_path, class: "btn btn-danger float-right" %>
          If you’ve lost or forgotten this token, you can regenerate it, but be
          aware that any scripts or applications using this token will need to be
          updated.
        <% end %>
      <% else %>
        <%= render Primer::Beta::Flash.new(scheme: :warning, classes: "regenerate-token-cta") do %>
          <%= link_to "Regenerate token", regenerate_edit_settings_user_token_path, class: "btn btn-danger float-right" %>
          If you’ve lost or forgotten this token, you can regenerate it, but be
          aware that any scripts or applications using this token will need to be
          updated.
        <% end %>
      <% end %>
    <% end %>

    <% if @access.authorization.public_keys.size > 0 %>
      <a class="float-right" href="<%= settings_keys_path %>">Includes <%= pluralize(@access.authorization.public_keys.size, 'SSH key') %></a>
    <% end %>

    <%= form_for @access, method: :put, :url => settings_user_token_path(@access), html: { class: "js-edit-oauth-access" } do |f| %>
      <%= render :partial => "oauth_tokens/token_form", :object => f, locals: { :expiration_enabled => false } %>
      <p>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary) do %>Update token<% end %>
        <%= link_to "Cancel", settings_user_tokens_path, :class => "btn btn-invisible" %>
      </p>
    <% end %>

    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>Delete token<% end %>
    <% end %>
    <%= render partial: "oauth_tokens/delete_token_dialog", locals: { token: @access, ajax: false, edit_view: true } %>
    <p>Any applications or scripts using this token will no longer be able to access the GitHub API. You cannot undo this action.</p>
  </div>
<% end %>
