<% content_for :header do %>
  Your migration to Container registry has finished
<% end %>

<%= render(Mail::ContainerComponent.new) do %>
  <% organisation =  "organizations" %>
  <% organisation =  "organization" if @result[:total_org_count] == 1 %>
  <% package =  "packages" %>
  <% package =  "package" if @result[:total_pkg_count] == 1 %>
  <% if @result[:failed_org_count] == 0 %>
    <p><strong> <%= @result[:total_org_count] %> <%= organisation %> completed the migration.</strong> <%= @result[:total_pkg_count] %> <%= package %> were successfully migrated from Docker to Container registry.</p>
  <% else %>
    <p> We have finished with the migration. </p>
    <p><strong> <%= @result[:failed_org_count] %> out of <%= @result[:total_org_count] %> <%= organisation %> failed the migration. </strong></p>
    <p> Please make sure the packages don't have the same name in the Docker and Container registries before re-running the migration. </p>
  <% end %>

  <%= render(Mail::SpacerComponent.new) %>

  <%= render(
    Mail::ButtonComponent.new(
      text: @result[:failed_org_count] == 0 ? "View completed migration" : "View migration",
      url: @result[:url],
      classes: "btn-primary btn-large"
    )
  ) %>

  <%= render(Mail::SpacerComponent.new(size: 8)) %>

  <hr>

  <%= render(Mail::SpacerComponent.new(size: 8)) %>

  Use this link if the button is not working: <br>
  <a href="<%= @result[:url] %>" class="wb-break-all"><%= @result[:url] %></a>

<% end %>

<% content_for :footer_text do %>
  You are receiving this because you migrated Docker packages to Container registry for the <%= @result[:enterprise_name] %> enterprise account.
<% end %>
