<%# view is an instance of IntegrationInstallations::IndexView %>

<%# The integration may be missing if the installation is being deleted in the background %>
<%# See https://github.com/github/ecosystem-apps/issues/1314 for more details %>
<% if (integration = installation.integration) %>
  <div class="Box-row d-flex flex-items-center gap-2">
    <div class="CircleBadge CircleBadge--small" style="background-color: #<%= integration.preferred_bgcolor %>">
      <%= installation_avatar(installation: installation, size: 30, class: "CircleBadge-icon", alt: integration.name) %>
    </div>
    <span class="text-bold color-fg-default"><%= integration.name %></span>
    <% if installation.installed_automatically? %>
      <%= render Primer::Beta::Label.new(ml: 2, title: view.automatic_installation_reason(installation)) do %>
        Automatic
      <% end %>
    <% end %>

    <% if installation.suspended? %>
      <% scheme = installation.user_suspended? ? :warning : :danger %>

      <%= render Primer::Beta::Label.new(ml: 2, scheme: scheme, title: "Label: Suspended", test_selector: "suspended_label_#{installation.id}") do %>
        Suspended
      <% end %>
    <% end %>

    <% if installation.integration_suspended? %>
      <%= render Primer::Beta::Label.new(ml: 2, scheme: :danger, title: "Label: App Suspended", test_selector: "suspended_label_#{installation.id}") do %>
        App Suspended
      <% end %>
    <% end %>

    <% if GitHub.flipper[:alert_on_spammy_apps].enabled? && installation.integration.spammy? %>
      <%= render Primer::Beta::Label.new(ml: 2, scheme: :danger, title: "Label: Spammy", test_selector: "spammy_label_#{ installation.id}") do %>
        Spammy
      <% end %>
    <% end %>

    <% if installation.outdated? %>
      <p class="color-fg-muted text-normal mb-0"><span class="hx_dot-fill-pending-icon"><%= primer_octicon(:"dot-fill")  %></span> Permission updates requested. <%= link_to "Review request", view.update_permissions_path_for(installation), class: "Link--inTextBlock" %>.</p>
    <% end %>
    <div class="d-flex flex-1">
      <div class="BtnGroup flex-auto">
        <% if view.can_configure_installation?(installation) %>
          <% case view.configure_installation_as(installation)
            when :is_admin %>
            <%= link_to "Configure", gh_settings_installation_path(installation), class: "btn iconbutton BtnGroup-item float-right" %>
          <% when :admin_on_selected_repos, :admin_on_subset %>
            <%= link_to "Configure", gh_edit_app_installation_path(installation.integration, installation, current_user), class: "btn iconbutton BtnGroup-item float-right" %>
          <% end %>
        <% else %>
          <%= render Primer::Beta::Button.new(id: "disabled-config-button-#{installation.id}", disabled: true) do |component| %>
            <% component.with_tooltip(text: "You must be an admin on the account that owns this repository") %>
            Configure
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
