<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# view is an instance of IntegrationInstallations::ShowView %>
<% index_view = IntegrationInstallations::IndexView.new(current_user: current_user, target: view.installation.target) %>

<% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
  <%= render Primer::Alpha::Banner.new(scheme: :warning, p: 3, mt: 3, mb: 1, classes: "TableObject") do %>
    <div class="TableObject-item TableObject-item--primary">
      <strong><%= view.integration.name %> is requesting an update to its permissions.</strong>
    </div>
    <div class="TableObject-item">
      <%= link_to "Review request", index_view.update_permissions_path_for(view.installation), :class => "btn btn-sm" %>
    </div>
  <% end %>
<% else %>
  <%= render Primer::Beta::Flash.new(scheme: :warning, p: 3, mt: 3, mb: 1, classes: "TableObject") do %>
    <div class="TableObject-item TableObject-item--primary">
      <strong><%= view.integration.name %> is requesting an update to its permissions.</strong>
    </div>
    <div class="TableObject-item">
      <%= link_to "Review request", index_view.update_permissions_path_for(view.installation), :class => "btn btn-sm" %>
    </div>
  <% end %>
<% end %>
