<%# `view` is an instance of IntegrationInstallations::SuggestionsView %>
<% label_type = view.suggestion_label(repository) %>
<% action_label_text = label_type.to_s %>
<% label_title = view.label_title(label_type) %>

<button
  type="button"
  role="menuitem"
  class="width-full select-menu-item"
  value="<%= repository.id %>">
  <%= primer_octicon(repository.repo_type_icon, classes: "select-menu-item-icon") %>
  <span class="select-menu-item-text"><%= repository.owner.display_login %><strong>/<%= repository.name %></strong></span>
  <span class="repo-desc"><%= repository.description.presence || 'no description' %></span>
  <% if label_type %>
    <%= render(Primer::Beta::Label.new(scheme: :warning, title: label_title)) { action_label_text } %>
  <% end %>
  <template>
    <%= render :partial => "integration_installations/suggestion_selection", locals: {repository: repository, label: {text: action_label_text, title: label_title}} %>
  </template>
</button>
