<div class="js-repository-picker-result">
  <input type="hidden" name="repository_ids[]" value="<%= repository.id %>" class="js-selected-repository-field">
  <div class="mini-repo-list-item css-truncate pr-3">
    <%= primer_octicon(repository.repo_type_icon, classes: "repo-icon") %>
    <%= render Primer::Beta::Button.new(value: repository.id, scheme: :link, color: :muted, float: :right, classes: "js-repository-picker-remove",  "aria-label": "Remove #{repository}") do %>
      <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
    <% end %>
    <span class="repo-and-owner css-truncate-target">
      <span class="owner css-truncate-target" ><%= repository.owner.display_login %></span>/<span class="repo" <%= test_selector repository %>><%= repository %></span>
      <% if label[:text].present? %>
        <%= render(Primer::Beta::Label.new(scheme: :warning, title: label[:title])) { label[:text] } %>
      <% end %>
    </span>
  </div>
</div>
