<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# view is an instance of IntegrationInstallations::ShowView %>

<%= render partial: "integrations/suspended_integration_alert", locals: { integration: view.integration } %>

<% if view.installation.suspended? %>
  <div class="flash-messages">
    <% if view.installation.staff_suspended? %>
      <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
        <%= render(Primer::Alpha::Banner.new(scheme: :danger)) do %>
          <p>Your installation was suspended by GitHub staff on <%= view.installation.user_suspended_at.to_formatted_s(:deprecation_mailer) %>.</p>
          <p>Please <%= link_to "contact GitHub", contact_url(host: GitHub.urls.host_name), class: "Link--inTextBlock" %> for more details.</p>
        <% end %>
      <% else %>
        <%= render(Primer::Beta::Flash.new(scheme: :danger)) do %>
          <p>Your installation was suspended by GitHub staff on <%= view.installation.user_suspended_at.to_formatted_s(:deprecation_mailer) %>.</p>
          <p>Please <%= link_to "contact GitHub", contact_url(host: GitHub.urls.host_name), class: "Link--inTextBlock" %> for more details.</p>
        <% end %>
      <% end %>
    <% elsif view.installation.integrator_suspended? %>
      <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
        <%= render(Primer::Alpha::Banner.new(scheme: :danger)) do %>
          Your installation was suspended on <%= view.installation.integrator_suspended_at.to_formatted_s(:deprecation_mailer) %>.
        <% end %>
      <% else %>
        <%= render(Primer::Beta::Flash.new(scheme: :danger)) do %>
          Your installation was suspended on <%= view.installation.integrator_suspended_at.to_formatted_s(:deprecation_mailer) %>.
        <% end %>
      <% end %>
    <% else %>
      <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
        <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
          <% if view.installation.user_suspended_by != current_user %>
            Your installation was suspended by <strong>@<%= view.installation.user_suspended_by %></strong>
          <% else %>
            Your installation was suspended by you
          <% end %>

          on <%= view.installation.user_suspended_at.to_formatted_s(:deprecation_mailer) %>.

        <% end %>
      <% else %>
        <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
          <% if view.installation.user_suspended_by != current_user %>
            Your installation was suspended by <strong>@<%= view.installation.user_suspended_by %></strong>
          <% else %>
            Your installation was suspended by you
          <% end %>

          on <%= view.installation.user_suspended_at.to_formatted_s(:deprecation_mailer) %>.

        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
