<%# locals: (view:, target:) %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<% if view.integration_installed_on?(target) %>
  <%= link_to view.configure_url_for(target), :class => "Box-row Link--muted d-block clearfix color-bg-subtle hx_Box-row--with-top-border" do %>
    <%= render :partial => "integration_installations/installed", :locals => {:view => view, :target => target} %>
    <%= avatar_for(target, 20, :class => "avatar float-left mr-2") %>
    <span class="text-bold color-fg-default"><%= target.display_login %></span>
  <% end %>
<% else %>
  <% if (target_request = view.request_on_target(target)) %>
    <div class="Box-row Box-row--hover-gray js-navigation-item d-block clearfix hx_Box-row--with-top-border">
      <%= render Primer::Beta::Details.new(overlay: :dark) do |component| %>
        <% component.with_summary(button: true, scheme: :link, display: :block, classes: "Link--muted") do %>
          <%= render :partial => "integration_requests/requested", :locals => {:view => view, :target => target} %>
          <%= avatar_for(target, 20, :class => "avatar float-left mr-2") %>
          <span class="text-bold color-fg-default"><%= target.display_login %></span>
        <% end %>
        <% component.with_body(
          tag: :"details-dialog",
          display: :flex,
          animation: :fade_in,
          classes: "Box Box--overlay flex-column fast overflow-hidden",
          "aria-label": "Cancel Request"
        ) do %><%# erblint:disable A11yDetailsDialogMigration %>
          <div class="Box-header">
            <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
              <%= primer_octicon(:x) %>
            </button>
            <h2 class="Box-title">Cancel Request</h2>
          </div>
          <div class="Box-body">
            <p class="color-fg-default">
              Are you sure you want to cancel installation request of <%= view.integration_name %> to <%= target.display_login %>?
            </p>
            <%= form_tag gh_cancel_app_integration_installation_request_url(target_request, current_user), method: :delete do %>
              <button type="submit" class="btn btn-block btn-danger mt-2" autofocus>Cancel</button>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% elsif view.disabled_for?(target: target) %>
    <div class="Box-row--gray Box-row d-block clearfix hx_Box-row--with-top-border">
      <%= avatar_for(target, 20, :class => "avatar float-left mr-2") %>
      <span class="color-fg-default"><%= target.display_login %></span>
      <p class="text-small mb-0">Installation on this account is prohibited</p>
    </div>
  <% else %>
    <%= link_to gh_app_installation_permissions_url(view.integration, current_user, target_id: target.id, target_type: target.class), :class => "Box-row Box-row--hover-gray Link--muted js-navigation-item d-block clearfix hx_Box-row--with-top-border" do %>
      <span class="float-right color-fg-muted"><%= primer_octicon(:"chevron-right", ml: 1) %></span>
      <%= avatar_for(target, 20, :class => "avatar float-left mr-2") %>
      <span class="text-bold color-fg-default"><%= target.display_login %></span>
    <% end %>
  <% end %>
<% end %>
