<%# view is an instance of IntegrationInstallations::IndexView %>

<% if current_context.is_a?(Repository) %>
  <% page_info \
    container_xl: true,
    title: "GitHub Apps",
    selected_link: :integration_installations,
    hide_marketplace_retargeting_notice: true,
    hide_marketplace_pending_installations_notice: true %>
<% else %>
  <% page_info \
    title: "Installed GitHub Apps",
    selected_link: :integration_installations,
    hide_marketplace_retargeting_notice: true,
    hide_marketplace_pending_installations_notice: true %>
<% end %>

<% content = capture do %>
  <% case current_context %>
  <% when Repository, Organization %>
    <%= render Primer::Beta::Subhead.new do |component| %>
     <% component.with_heading(tag: :h2) do %>Installed GitHub Apps<% end %>
    <% end %>
  <% when Business %>
    <%= render Primer::Beta::Subhead.new do |component| %>

    <% end %>
  <% else %>
    <%= render partial: "navigation/application_settings" %>
  <% end %>

  <p>
    <%= render partial: "integration_installations/subhead_description" %>
  </p>

  <% if view.installations.any? %>
    <div class="Box">
      <% view.installations.each do |install| %>
        <%= render partial: "integration_installations/installation_row", locals: { view: view, installation: install } %>
      <% end %>
    </div>

    <div class="paginate-container">
      <%= will_paginate view.installations %>
    </div>

  <% end %>

  <% if view.can_review_pending_requests? %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>Pending GitHub Apps installation requests<% end %>
    <% end %>
    <p>
      Members in your organization can request that GitHub Apps be installed. Pending requests are listed below.
    </p>
    <% if view.installation_requests.any? %>
      <div class="Box">
        <% view.installation_requests.each do |installation_request| %>
          <%= render partial: "integration_installations/installation_request", locals: {view: view, installation_request: installation_request} %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if view.installations.empty? && view.installation_requests.empty? %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No installed applications
      <% end %>

      <% c.with_description do %>
        You have no applications installed on this account.
      <% end %>
    <% end %>
  <% end %>

<% end %>

<%# We capture and render within the view so that we can use the appropriate layout partial, not an actual layout file %>
<% if current_context.is_a?(Repository) %>
  <%= render layout: "edit_repositories/edit" do %>
    <%= content %>
  <% end %>
<% elsif current_context.is_a?(Organization) %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% elsif current_context.is_a?(Business) %>
  <%= render layout: "businesses/layout",
    locals: {
      business: this_business,
      title: "GitHub Apps",
      container_attributes: "itemscope itemtype='http://schema.org/Business'",
      header_component_action: new_enterprise_integration_button_for(current_context),
      } do %>
    <%= render "businesses/integrations/tabs" %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "settings/settings" do %>
    <%= content %>
  <% end %>
<% end %>
