<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# view is an instance of IntegrationInstallations::PermissionsUpdateRequestView %>
<% page_info \
  :title => "#{view.integration.name} permissions", :class => "color-bg-subtle", hide_marketplace_retargeting_notice: true, hide_marketplace_pending_installations_notice: true
%>

<div class="container-lg px-3 pt-6">
  <div class="col-md-8 mx-auto">
    <div class="CircleBadge CircleBadge--medium mx-auto mb-4" style="background-color: #<%= view.integration.preferred_bgcolor %>">
      <%= integration_avatar(integration: view.integration, size: 64, width: 50, height: 50, class: "CircleBadge-icon", alt: view.integration.name) %>
    </div>
    <h2 class="f2 text-center text-normal mb-3"><%= view.integration_title %> by <%= link_to view.integration.display_owner.display_login, view.integration.display_owner.user_path, class: "Link--inTextBlock" %> is requesting updated permissions</h2>
  </div>
  <div class="col-lg-6 col-md-8 mx-auto">

    <div class="Box color-shadow-small my-4">
      <% view.permissions_added.each do |permission, value| %>
        <div class="Box-row">
          <strong><%= view.permission_text(value) %></strong>
          access to
          <strong><%= view.human_name(permission) %></strong>
          <%= render Primer::Beta::Label.new(scheme: :secondary, float: [nil, :none, :right]) do %>New request<% end %>
        </div>
        <% if permission == "content_references" %>
          <div class="Box-row">
            <strong>Write</strong> access to attach content to the following <%= "domain".pluralize(view.new_content_references.length) %>:
            <%= render Primer::Beta::Label.new(scheme: :secondary, float: [nil, :none, :right]) do %>New request<% end %>
            <ul class="my-1 mx-4">
              <% view.new_content_references.each do |domain| %>
                <li><strong><%= domain %></strong></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>

      <% view.permissions_upgraded.each do |permission, value| %>
        <div class="Box-row">
          <strong><%= view.permission_text(value) %></strong>
          access to
          <strong><%= view.human_name(permission) %></strong>

          <span class="text-small color-fg-muted float-right"><em>Was <strong><%= view.permission_text(:read).downcase %></strong></em></span>
        </div>
      <% end %>

      <% view.permissions_downgraded.each do |permission, value| %>
        <div class="Box-row">
          <strong><%= view.permission_text(value) %></strong>
          access to
          <strong><%= view.human_name(permission) %></strong>

          <span class="text-small color-fg-muted float-right"><em>Was <strong><%= view.permission_text(:write).downcase %></strong></em></span>

        </div>
      <% end %>

      <% view.permissions_removed.each do |permission, value| %>
        <div class="Box-row">
          <strong><%= view.permission_text(value) %></strong>
          access to
          <strong><%= view.human_name(permission) %></strong>
          <span class="text-small color-fg-muted float-right"><em>no longer required</em></span>
        </div>
      <% end %>

      <% if view.single_file_paths_changed? %>
        <div class="Box-row">
          <strong>Updated access</strong>
          to the following
          <strong><%= "Single file path".pluralize(view.new_content_references.length) %></strong>:
        </div>
        <% if view.added_single_files? %>
          <div class="Box-row">
            Added <%= "path".pluralize(view.new_single_files.length) %>:
            <ul class="my-1 mx-4">
              <% view.new_single_files.each do |path| %>
                <li><strong><%= path %></strong></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if view.removed_single_files? %>
          <div class="Box-row">
            Removed <%= "path".pluralize(view.old_single_files.length) %>:
            <ul class="my-1 mx-4">
              <% view.old_single_files.each do |path| %>
                <li><strong><%= path %></strong></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>

      <% if view.permissions_unchanged.key?("content_references") && view.updated_content_references? %>
        <div class="Box-row">
          <strong>Updated content references</strong>
          <%= render Primer::Beta::Label.new(scheme: :secondary, float: [nil, :none, :right]) do %>New request<% end %>
        </div>
        <div class="Box-row">
          <% if view.added_content_references? %>
            Added <%= "domain".pluralize(view.new_content_references.length) %>:
            <ul class="my-1 mx-4">
              <% view.new_content_references.each do |domain| %>
                <li><strong><%= domain %></strong></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="Box-row">
          <% if view.removed_content_references? %>
            Removed <%= "domain".pluralize(view.old_content_references.length) %>:
            <ul class="my-1 mx-4">
              <% view.old_content_references.each do |domain| %>
                <li><strong><%= domain %></strong></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>

      <% unless view.permissions_unchanged.empty? %>
        <div class="Details js-details-container">
          <button class="Box-row Box-row--gray Box-row--hover-blue text-center border-top Link--muted d-block js-details-target btn-block border-0" aria-expanded="false" aria-label="Expand and collapse" type="button">
            <span class="Details-content--shown"><%= primer_octicon(:unfold) %> Show unchanged permissions</span>
            <span class="Details-content--hidden"><%= primer_octicon(:fold) %> Hide unchanged permissions</span>
          </button>

          <div class="Details-content--hidden">
            <% view.permissions_unchanged.each do |permission, value| %>

              <div class="Box-row color-bg-subtle border-top color-fg-muted">
                <strong><%= view.permission_text(value) %></strong>
                access to
                <strong><%= view.human_name(permission) %></strong>

              </div>
              <% if permission == "content_references" %>
                <div class="Box-row color-bg-subtle border-top color-fg-muted">
                  <strong>Write</strong> access to attach content to the following <%= "domain".pluralize(view.old_content_references.length) %>:
                  <ul class="my-1 mx-4">
                    <% view.old_content_references.each do |domain| %>
                      <li><strong><%= domain %></strong></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            <% end %>
            <% if view.unchanged_single_files.any? %>
              <div class="Box-row color-bg-subtle border-top color-fg-muted">
                Access to
                <strong><%= "Single file path".pluralize(view.unchanged_single_files.length) %></strong>:
                <ul class="my-1 mx-4">
                  <% view.unchanged_single_files.each do |path| %>
                    <li><strong><%= path %></strong></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <%= form_tag view.update_permissions_path, class: "js-integrations-install-form", method: :put do %>
      <%= hidden_field_tag "version_id", view.integration.latest_version.id %>
      <%= hidden_field_tag "integration_fingerprint", view.integration.fingerprint %>
      <% if view.repository_installation_required? %>
        <div class="Box color-shadow-small my-4">
          <div class="Box-row">
            <p class="text-small color-fg-muted">
              <%= view.integration.name %> now requires access to one or more repositories
            </p>

            <%= render partial: "integration_installations/select_repositories", locals: {
              view: create_view_model(
                IntegrationInstallations::SuggestionsView,
                integration: view.integration,
                target: view.target
              )
            } %>
          </div>
        </div>
      <% end %>

      <% if view.note.present? %>
        <div class="border rounded-2 p-3 color-fg-muted mt-3 my-4">
          <h4 class="f4 text-normal pb-2 border-bottom mb-2">Developer note</h4>
          <div class="markdown-body">
            <%= view.latest_version.body_html %>
          </div>
        </div>
      <% end %>

      <div class="text-center">
        <% if view.repo_admin_cannot_accept? %>
          <%= render Primer::Beta::Flash.new(scheme: :warning, my: 2) do %>An administrator is required to accept these permissions<% end %>
          <%= render Primer::ButtonComponent.new(type: :submit, disabled: true, scheme: :primary, block: true) do %>
            Accept new permissions
          <% end %>
        <% else %>
          <button type="submit" <% unless view.allow_accept_new_permissions? %>disabled<% end %> class="btn btn-primary btn-block js-integrations-install-form-submit">
            Accept new permissions
          </button>
        <% end %>
      </div>

      <p class="note">
        The <%= view.integration.name %> app will retain its current permissions if you choose not to accept the new permissions.
      </p>
    <% end %>

  </div>
</div>
