<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# view is an instance of IntegrationInstallations::PermissionsUpdateRequestView %>
<% page_info \
  :title => "#{view.integration.name} permissions", :class => "color-bg-subtle", hide_marketplace_retargeting_notice: true, hide_marketplace_pending_installations_notice: true
%>

<% if view.was_upgraded? %>
  <div class="flash-messages">
    <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
      <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
        <p class="text-center">Coming to this page from a notification to approve permissions? It's likely someone else has already approved them.</p>
      <% end %>
    <% else %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
        <p class="text-center">Coming to this page from a notification to approve permissions? It's likely someone else has already approved them.</p>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="container-lg px-3 pt-6">
  <div class="col-md-8 mx-auto">
    <div class="CircleBadge CircleBadge--medium mx-auto mb-4" style="background-color: #<%= view.integration.preferred_bgcolor %>">
      <%= integration_avatar(integration: view.integration, size: 64, width: 50, height: 50, class: "CircleBadge-icon", alt: view.integration.name) %>
    </div>
    <h2 class="f2 text-center text-normal mb-3"><%= view.integration_title %> by <%= link_to view.integration.display_owner.display_login, view.integration.display_owner.user_path, class: "Link--inTextBlock" %> is already up to date</h2>
  </div>

  <div class="col-lg-6 col-md-8 mx-auto">
    <%= link_to "View installation settings", gh_settings_installation_path(view.installation), class: "btn btn-block" %>
  </div>
</div>
