<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# view is an instance of IntegrationInstallations::ShowView %>

<% page_info \
  title: "Repositories accessible by installed GitHub App - #{view.integration.name}",
  responsive: false,
  selected_link: :integration_installations,
  hide_marketplace_retargeting_notice: true,
  hide_marketplace_pending_installations_notice: true,
  stafftools: stafftools_user_installation_path(view.installation.target, view.installation)
%>

<% content = capture do %>
  <%= render "integration_installations/suspended_installation_alert", view: view %>

  <div class="d-flex flex-items-center pb-3 mb-3 border-bottom">
    <div style="background-color: #<%= view.integration.preferred_bgcolor %>" class="CircleBadge CircleBadge--small mr-3 flex-shrink-0">
      <%= oauth_application_logo(view.integration, 30, class: "CircleBadge-icon", alt: view.integration.name) %>
    </div>
    <div>
      <h2 class="f2 text-normal"><%= view.integration.name %></h2>
      <div class="text-small color-fg-muted pt-2">
        <% if view.installed_automatically? %>
          <span class="mr-3"><%= render(Primer::Beta::Octicon.new(icon: "clock")) %> Installed <%= render Primer::Beta::RelativeTime.new(datetime: view.installation.created_at, tense: :past) %> by GitHub <span class="help tooltipped tooltipped-e" aria-label="<%= view.automatic_installation_reason %>"><%= primer_octicon(:question) %></span></span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
        <% else %>
          <span class="mr-3"><%= render(Primer::Beta::Octicon.new(icon: "clock")) %> Installed <%= render Primer::Beta::RelativeTime.new(datetime: view.installation.created_at, tense: :past) %></span>
        <% end %>
        <span class="mr-3"><%= primer_octicon(:person) %> Developed by <%= link_to "#{view.integration.display_owner.display_login}", view.integration.display_owner.user_path, class: "Link--inTextBlock" %></span>
        <% if manages_integration?(user: view.current_user, integration: view.integration) %>
          <span class="mr-3"><%= primer_octicon(:gear) %> <%= link_to "App settings", gh_settings_app_path(view.integration), class: "Link--inTextBlock" %></span>
        <% end %>
        <span class="mr-3"><%= primer_octicon(:"link-external") %> <%= link_to view.integration.url, view.integration.url, class: "Link--inTextBlock" %></span>
      </div>
    </div>
  </div>

  <%= render Primer::Beta::Subhead.new(spacious: true, hide_border: true) do |component| %>
    <% component.with_heading(tag: :h2) do %>Repository access<% end %>
  <% end %>
<% end %>

<% if view.business_installation? %>
  <%= render layout: "businesses/layout",
    locals: {
      business: this_business,
      title: "Installations",
      container_attributes: "itemscope itemtype='http://schema.org/Business'"
    } do %>
    <%= content %>
  <% end %>
<% elsif view.organization_installation? %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% elsif view.user_installation? %>
  <%= render layout: "settings/settings" do %>
    <%= content %>
  <% end %>
<% end %>
