<%# view is instance of Integrations::SelectTargetView  %>
<% page_info \
  :title => "Installing #{view.integration_name}", :class => "color-bg-subtle", hide_marketplace_retargeting_notice: true, hide_marketplace_pending_installations_notice: true
%>

<div class="integrations-auth-wrapper">
  <div class="CircleBadge CircleBadge--medium mx-auto mb-4" style="background-color: #<%= view.integration.preferred_bgcolor %>">
    <%= oauth_application_logo(view.integration, 50, class: "CircleBadge-icon") %>
  </div>
  <h1 class="f2 text-center text-normal">Install <%= view.integration_name %></h1>
  <p class="color-fg-muted text-center mb-4">Where do you want to install <%= view.integration_name %>?</p>

  <% if view.can_install_on_business? %>
    <div class="Box color-shadow-small mb-4">
      <div class="js-navigation-container js-active-navigation-container color-border-muted">
        <p class="p-3"><%= view.integration_name %> can be installed on the following enterprise:</p>

        <%= render partial: "integration_installations/target_integration_install", locals: { view: view, target: view.integration_owner_business } %>
      </div>
    </div>
  <% end %>

  <div class="Box color-shadow-small">
    <div class="js-navigation-container js-active-navigation-container color-border-muted">
      <% view.accounts.each do |target| %>
        <%= render partial: "integration_installations/target_integration_install", locals: { view: view, target: target } %>
      <% end %>
    </div>
  </div>
  <div class="paginate-container">
    <%= will_paginate view.accounts %>
  </div>
</div>
