<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="Box-header">
  <h3 class="Box-title">Archive all cards in <%= column_name %></h3>
</div>
<div class="Box-body border-0 rounded-0 m-0 pb-0 overflow-auto">
  <p>Are you sure you want to archive all cards in the <span class="text-bold"><%= column_name %></span> column? You will not be able to undo this action.</p>
  <%= form_tag column_archive_resource_path,
      "data-column-id": column_id,
      method: :put,
      class: "pb-3 js-archive-project-column d-flex flex-column d-sm-block pt-2" do %>
    <%= render Primer::ButtonComponent.new(scheme: :danger, flex: :auto, type: :submit, "data-disable-with": "Archiving cards...") do %>
      Archive all cards
    <% end %>
    <%= render Primer::ButtonComponent.new(mt: [2, 0], flex: :auto, "data-close-dialog": "") do %>Cancel<% end %>
    <input type="hidden" name="client_uid" class="js-client-uid-field">
  <% end %>
</div>
