<%# erblint:counter ButtonComponentMigrationCounter 4 %>
<%graphql
  fragment ProjectColumn on ProjectColumn {
    databaseId
    name
    resourcePath
    archiveResourcePath

    ...Views::ProjectWorkflows::Edit::ProjectColumn
    ...ProjectsHelper::ProjectColumnAnchorUrl::ProjectColumn
  }

  fragment Project on Project {
    closed
    viewerCanUpdate
    ...Views::ProjectWorkflows::Edit::Project
  }
%><%# erblint:disable NoGraphqlFragments %>
<% project_column = Views::ProjectColumns::Menu::ProjectColumn.new(project_column) %>
<% project = Views::ProjectColumns::Menu::Project.new(project) %>


<details class="details-reset details-overlay column-menu-container dropdown float-right position-static hide-sm">
  <summary class="color-fg-muted btn-octicon p-1" aria-label="Column menu">
    <%= primer_octicon(:"kebab-horizontal") %>
  </summary>
  <details-menu class="dropdown-menu dropdown-menu-sw top-0 mt-5"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <% if project.viewer_can_update? && !project.closed? %>
      <button data-dialog-id="edit-column-<%= project_column.database_id %>" class="dropdown-item btn-link btn-block text-left js-project-dialog-button" role="menuitem" aria-expanded="false"><%# erblint:disable ButtonHasType %>
        Edit column
      </button>
      <button data-dialog-id="edit-column-automation-<%= project_column.database_id %>" class="dropdown-item btn-link btn-block text-left js-project-dialog-button" role="menuitem" aria-expanded="false"><%# erblint:disable ButtonHasType %>
        Manage automation
      </button>
      <button data-dialog-id="archive-column-<%= project_column.database_id %>" class="dropdown-item btn-link btn-block text-left js-project-dialog-button" role="menuitem" aria-expanded="false"><%# erblint:disable ButtonHasType %>
        Archive all cards
      </button>
      <div class="dropdown-divider" role="none"></div>
    <% end %>
    <%= render Primer::Beta::ClipboardCopy.new(classes: "dropdown-item btn-link", text_align: :left, value: project_column_anchor_url(project_column), "aria-label": "Copy column link", role: "menuitem") do %>
      Copy column link
    <% end %>
    <% if project.viewer_can_update? && !project.closed? %>
      <div class="dropdown-divider" role="none"></div>
      <button data-dialog-id="delete-column-<%= project_column.database_id %>" class="dropdown-item btn-link btn-block text-left js-project-dialog-button" role="menuitem" aria-expanded="false"><%# erblint:disable ButtonHasType %>
        Delete column
      </button>
    <% end %>
  </details-menu>
</details>

<% if project.viewer_can_update? %>
  <template id="archive-column-<%= project_column.database_id %>">
    <%= render partial: "project_columns/archive", locals: {
          column_name: project_column.name,
          column_id: project_column.database_id,
          column_archive_resource_path: project_column.archive_resource_path.to_s
        }
    %>
  </template>
  <template id="delete-column-<%= project_column.database_id %>">
    <%= render partial: "project_columns/delete", locals: {
          column_name: project_column.name,
          column_resource_path: project_column.resource_path.to_s,
          column_id: project_column.database_id,
        }
    %>
  </template>
  <template id="edit-column-<%= project_column.database_id %>">
    <%= render partial: "project_columns/edit", locals: {
          column_name: project_column.name,
          column_id: project_column.database_id,
          column_resource_path: project_column.resource_path.to_s
        }
    %>
  </template>
  <template id="edit-column-automation-<%= project_column.database_id %>">
    <%= render partial: "project_workflows/edit", locals: { project_column: project_column, project: project } %>
  </template>
<% end %>
