<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if show_header? %>
  <%= render(Primer::Beta::Subhead.new(test_selector: "heading")) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Edit <%= item.item.name_with_owner %>
    <% end %>

    <% component.with_actions do %>
      <a href="<%= back_path %>">
        <%= render Primer::Beta::Octicon.new(icon: "arrow-left") %>
        Back
      </a>
    <% end %>
  <% end %>
<% end %>

<%= form_with model: [context, showcase, item] do |f| %>
  <% if item.new_record? %>
    <showcase-health-check
      data-src="<%= healthcheck_path %>"
      data-csrf-token="<%= authenticity_token_for(healthcheck_path) %>"
      data-error-message="An error occured when loading the health check."
    >
      <div class="form-group">
        <div class="form-group-header">
          <%= f.label :name_with_owner, for: "name_with_owner" %>
        </div>
        <div class="form-group-body">
          <%= f.text_field :name_with_owner,
            value: nwo_value,
            required: true,
            id: "name_with_owner",
            class: "form-control",
            placeholder: "defunkt/dotjs",
            "data-target": "showcase-health-check.repoName",
            "data-action": "input:showcase-health-check#performHealthCheck"
          %>
        </div>
      </div>
      <div
        class="d-flex flex-items-center"
        data-target="showcase-health-check.loadingIndicator"
        hidden
      >
        <%= render(Primer::Beta::Spinner.new(size: :small, mr: 2)) %>
        Performing health checks...
      </div>
      <div data-target="showcase-health-check.result"></div>
    </showcase-health-check>
  <% else %>
    <%= f.hidden_field :name_with_owner, id: "name_with_owner", value: nwo_value %>
  <% end %>

  <div class="form-group">
    <div class="form-group-header">
      <%= f.label :body, for: "body" %>
    </div>
    <div class="form-group-body">
      <%= f.text_area :body, id: "body", class: "form-control js-comment-field" %>
    </div>
  </div>
  <div class="form-actions">
    <%= render Primer::ButtonComponent.new(
      type: :submit,
      "data-disable-invalid": "",
    ) do %>
      Save item
    <% end %>
  </div>
<% end %>
