<%= render Primer::Beta::BorderBox.new(border: :dashed) do |component| %>
  <% component.with_body(border: 0, px: 4, py: 3) do %>
    <p class="mb-2" <%= test_selector("health-message") %>>
      <%= message %>
    </p>

    <ul class="list-style-none">
      <% health_checks.each do |check| %>
        <li <%= test_selector("health-check-#{check.check}") %>>
          <%= render check.octicon %>
          <%= check.name %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
