<% content_for :header do %>
  Your GitHub Support verification code is <%= @code %>
<% end %>

<%= render(Mail::HeaderTitleComponent.new(title: "GitHub Support", icon: "premium-support.png")) %>
<%= render(Mail::SpacerComponent.new) %>

<p>Enter this verification code on the GitHub Suport portal within the next <b>20 minutes</b> to sign in:</p>

<p style="border-color: #1b4b34; border-style: solid; border-width: 2px; border-radius: 3px; display: block; width: 120px; text-align: center; font-size: 17px; line-height: 60px; text-decoration: none;">
  <%= @code %>
</p>

<p>The code must be entered in the same browser session where you started the verification process.</p>

<% content_for :footer_text do %>
  You're receiving this email because you were asked to verify your account before contacting
  <%= link_to "GitHub Support", "#{GitHub.support_url}" %>.
<% end %>
