<% page_info title: "GitHub Sitemap" %>

<div class="container-xl p-responsive py-6">
  <h1 class="h3-mktg mt-3 mb-9">Sitemap</h1>
  <h2 class="h4-mktg border-bottom pb-2 mb-2">Explore GitHub</h2>
  <div class="d-md-flex gutter-md mb-9">
    <div class="col-md-6">
      <h3 class="f3-mktg mt-5 mb-1"><%= link_to("Create GitHub Account", signup_path(source: "seo-sitelink")) %></h3>
      <h3 class="f3-mktg mt-5 mb-1"><%= link_to("GitHub Login", login_path) %></h3>
      <h3 class="f3-mktg mt-5 mb-1"><%= link_to("GitHub Pricing", pricing_path) %></h3>
      <h3 class="f3-mktg mt-5 mb-1"><%= link_to("What is Git?", git_guides_path) %></h3>
      <%= render "site/sitemap/section",
        heading: link_to("GitHub Teams", team_marketing_page_path),
        links: [
          link_to("Slack Integration", "https://slack.github.com"),
          link_to("Jira + GitHub", "https://github.com/marketplace/jira-software-github"),
          link_to("CI/CD workflows - GitHub Actions", marketplace_search_path(type: "action")),
          link_to("Sign Up Teams Free", signup_path(plan: "free", setup_organization: true, source: "seo-sitelink")),
        ]
      %>
      <h3 class="f3-mktg mt-5 mb-1"><%= link_to("GitHub for Enterprise", enterprise_marketing_page_path) %></h3>
      <%= render "site/sitemap/section",
        heading: "GitHub Platform",
        links: [
          link_to("Developer API", "#{GitHub.developer_help_url}/get-started/exploring-integrations/about-building-integrations"),
          link_to("Partners", "https://partner.github.com/"),
          link_to("GitHub CLI", "https://cli.github.com/"),
          link_to("GitHub Desktop", "https://desktop.github.com/"),
          link_to("GitHub Mobile", "https://github.com/mobile"),
        ]
      %>
    </div>

    <div class="col-md-6">
      <h3 class="f3-mktg mt-5 mb-1"><%= link_to("Features", features_path) %></h3>
      <ul class="pl-4">
        <li class="mb-1"><%= link_to("Code Review", features_code_review_path) %></li>
        <li class="mb-1"><%= link_to("Codespaces", features_codespaces_path) %></li>
        <li class="mb-1"><%= link_to("Copilot", features_copilot_path) %></li>
        <li class="mb-1"><%= link_to("Discussions", features_discussions_path) %></li>
        <li class="mb-1"><%= link_to("Integrations", features_integrations_path) %></li>
        <li class="mb-1"><%= link_to("Issues", features_issues_path) %></li>
        <li class="mb-1">
          <%= link_to("Action - workflows", features_actions_path) %>
          <ul class="pl-4 mt-2 mb-3">
            <li class="mb-1"><%= link_to("Push", features_actions_path) %></li>
            <li class="mb-1"><%= link_to("Issue Creation", features_actions_path) %></li>
            <li class="mb-1"><%= link_to("New release", features_actions_path) %></li>
          </ul>
        </li>
        <li class="mb-1">
          <%= link_to("Packages", features_packages_path) %>
          <ul class="pl-4 mt-2 mb-3">
            <li class="mb-1"><%= link_to("Privately", features_packages_path) %></li>
            <li class="mb-1"><%= link_to("Team", features_packages_path) %></li>
            <li class="mb-1"><%= link_to("Publicly (open source)", features_packages_path) %></li>
          </ul>
        </li>
        <li class="mb-1">
          <%= link_to("Security", features_security_path) %>
          <ul class="pl-4 mt-2 mb-3">
            <li class="mb-1"><%= link_to("Secure your code", features_security_code_path) %></li>
            <li class="mb-1"><%= link_to("Software supply chain", features_security_software_supply_chain_path) %></li>
          </ul>
        </li>
        <li class="mb-1"><%= link_to("Hosting", "https://pages.github.com") %></li>
      </ul>

      <% if GitHub.sponsors_enabled? %>
        <h3 class="f3-mktg mt-5 mb-1"><%= link_to("GitHub Sponsors", sponsors_path) %></h3>
      <% end %>
      <h3 class="f3-mktg mt-5 mb-1"><%= link_to("The ReadME Project", readme_index_path) %></h3>
    </div>
  </div>

  <h2 class="h4-mktg border-bottom pb-2 mb-2">Additional Resources</h2>

  <div class="d-md-flex flex-wrap gutter-md mb-9">
    <div class="col-md-4">
      <%= render "site/sitemap/section",
        heading: "Support",
        links: [
          link_to("Docs", GitHub.help_url),
          link_to("Community Forum", "https://github.community"),
          link_to("Professional Services", "https://services.github.com"),
          link_to("Skills", "https://skills.github.com"),
          link_to("Status", "https://githubstatus.com"),
          link_to("Contact GitHub", GitHub.contact_support_url(tags: "dotcom-sitemap")),
        ]
      %>
    </div>
    <div class="col-md-4">
      <%= render "site/sitemap/section",
        heading: "GitHub",
        links: [
          link_to("About", about_path),
          link_to("Blog", "https://github.blog"),
          link_to("Careers", "https://github.careers"),
          link_to("Press", about_press_path),
          link_to("Social Impact", "https://socialimpact.github.com"),
          link_to("Diversity, Inclusion, and Belonging", about_diversity_path),
          link_to("Communities of Belonging", about_communities_of_belonging_path),
          link_to("Shop", "https://www.thegithubshop.com"),
        ]
      %>
    </div>
    <div class="col-md-4">
      <%= render "site/sitemap/section",
        heading: "Learn",
        links: [
          link_to("Security", learn_security_path),
          link_to("DevOps", learn_devops_path),
          link_to("The State of the Octoverse", "https://octoverse.github.com"),
        ]
      %>
    </div>

    <div class="col-md-4">
      <%= render "site/sitemap/section",
        heading: "Discover",
        links: [
          link_to("GitHub FAQs", "https://resources.github.com/faq"),
          link_to("How GitHub secures open source software", "https://resources.github.com/whitepapers/How-GitHub-secures-open-source-software"),
          link_to("Secure Software Development in the Financial Services Industry eBook", "https://resources.github.com/whitepapers/Secure-Software-Development-in-the-Financial-Services-Industry"),
          link_to("The complete guide to developer-first application security", "https://resources.github.com/security/secure-software-faster-ebook"),
        ]
      %>
    </div>
    <div class="col-md-4">
      <%= render "site/sitemap/section",
        heading: "DevOps",
        links: [
          link_to("What is DevOps?", "https://github.blog/2020-10-07-devops-definition"),
          link_to("Role of Operations in DevOps", "https://github.blog/2020-12-03-the-evolving-role-of-operations-in-devops"),
          link_to("DevOps Automation", "https://github.blog/2020-10-29-getting-started-with-devops-automation"),
          link_to("The enterprise architect’s guide to DevSecOps", "https://resources.github.com/whitepapers/Architects-guide-to-DevOps"),
          link_to("Top seven tips for faster application development with DevOps", "https://resources.github.com/whitepapers/Seven-Tips-for-Faster-Development"),
        ]
      %>
    </div>
  </div>
</div>
