<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%- project = view.project %>
<% page_info \
  :title => "#{project.owner} Project ##{project.number}",
  :selected_link => :projects %>

<div class="boxed-group">
  <h3>&quot;<%= project.name %>&quot; Project metadata</h3>
  <table class="site-admin-table">
    <tr>
      <th>Owner</th>
      <td>
        <% if project.owner.is_a?(Repository) %>
          <%= link_to project.owner, gh_stafftools_repository_projects_path(project.owner) %>
        <% else %>
          <%= link_to project.owner, stafftools_user_projects_path(project.owner) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Columns</th>
      <td><%= project.columns.size %></td>
    </tr>
    <tr>
      <th>Cards</th>
      <td><%= project.cards.size %></td>
    </tr>
    <tr>
      <th>Awaiting Triage</th>
      <td><%= project.cards.pending.size %></td>
    </tr>
    <tr>
      <th>Notes</th>
      <td><%= project.cards.notes.size %></td>
    </tr>
    <tr>
      <th>Issues</th>
      <td><%= view.issue_cards_size %></td>
    </tr>
    <tr>
      <th>Pull Requests</th>
      <td><%= view.pull_cards_size %></td>
    </tr>
  </table>
</div>

<div class="boxed-group">
  <h3>Project record</h3>
  <%= render \
        partial: "stafftools/database",
        locals: { record: project } %>
</div>

<div class="boxed-group">
  <h3>Project columns</h3>
  <% if project.columns.any? %>
    <table class="site-admin-table">
      <% project.columns.each do |col| %>
        <tr>
          <th class="tiny"><%= col.position %></th>
          <td><%= col.name %></td>
          <td class="right-align"><%= pluralize(col.cards.size, "Card") %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="boxed-group-inner clearfix">
      <p>No columns for this project.</p>
    </div>
  <% end %>
</div>

<div class="boxed-group">
  <h3>Linked repositories</h3>
  <% if project.linked_repositories.any? %>
    <table class="site-admin-table">
      <% project.project_repository_links.includes(:repository, :creator).each do |link| %>
        <% repo = link.repository %>
        <% creator = link.creator %>
        <tr>
          <td>
            <% if repo.private? %>
              <%= primer_octicon(:lock) %>
            <% end %>
            <%= repo.name %>
          </td>
          <td class="right-align">Linked by <%= creator&.login || "unknown" %></td>
          <td>
            <%= form_tag unlink_stafftools_project_path(id: project.id, repository_id: repo.id), method: :put do %>
              <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, variant: :small) do %>Unlink<% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="boxed-group-inner clearfix">
      <p>No linked repositories for this project.</p>
    </div>
  <% end %>
</div>
