<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>

<% owner_name = owner.is_a?(Repository) ? owner.nwo : owner.login %>

<% title = "Projects owned by #{owner_name}" %>
<% page_info :title => title %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading"><%= title %></h2>
  </div>

  <% if projects.any? %>
    <table class="site-admin-table">
      <% projects.each do |project| %>
        <tr>
          <td class="tiny">
            <%= link_to "##{project.number}", stafftools_project_path(project.id) %>
          </td>
          <td>
            <% if project.deleted_at %>
              <span class="tooltipped tooltipped-n" aria-label="This project has not been properly deleted and may cause errors."><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                <%= primer_octicon(:alert, color: :danger) %>
              </span>
            <% end %>
            <%= project.name %>
          </td>
          <td class="right-align">
            <% if project.creator %>
                Created by <%= link_to project.creator, stafftools_user_path(project.creator), class: "name Link--inTextBlock" %>
                <%= project.created_at.to_formatted_s(:short) %>
            <% else %>
                Could not determine who created this project.
            <% end %>
          </td>
          <td>
            <%= form_tag(stafftools_project_path(project.id), method: :delete) do %>
              <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, variant: :small, "data-confirm": "Are you sure you want to delete #{ project.name }?") do %>Delete<% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate projects, :params => {:repository => params[:repository]} %>
    </div>

  <% else %>
    <p class="site-admin-blankstate">
      No projects yet.
    </p>
  <% end %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">Archived <%= title %></h2>
  </div>

  <% if archived_projects.any? %>
    <table class="site-admin-table">
      <% archived_projects.each do |project| %>
        <tr>
          <td class="tiny">
            #<%= project.number %>
          </td>
          <td>
            <%= project.name %>
          </td>
          <td class="right-align">
            Created by <%= link_to project.creator, stafftools_user_path(project.creator), class: "name Link--inTextBlock" %>
            <%= project.created_at.to_formatted_s(:short) %>
          </td>
          <td class="right-align">
            <%= form_tag(restore_stafftools_project_path(project), :method => :put) do %>
              <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, variant: :small) do %>Restore<% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

  <% else %>
    <p class="site-admin-blankstate">
      No projects found in the archive.
    </p>
  <% end %>
</div>
