<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# `view` is an instance of Stafftools::Projects::ShowView %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render partial: "stafftools/projects/database", locals: { view: view } %>

  <div class="boxed-group">
    <h3>Project permissions</h3>
    <div class="boxed-group-inner clearfix">
      <% if view.project.owner_type == "Repository" %>
        This is a repository-owned project, so it inherits all of its permissions from its repository. View its repository permissions <a class="Link--inTextBlock" href="<%= permissions_stafftools_repository_path(view.project.owner.owner.login, view.project.owner.name) %>">here</a>.<%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
      <% else %>
        View this project's permissions <a class="Link--inTextBlock" href="<%= permissions_stafftools_project_path(view.project.id) %>">here</a>.<%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
      <% end %>
    </div>
  </div>

  <div class="boxed-group dangerzone">
    <h3>Change Project Owner</h3>
    <div class="boxed-group-inner clearfix">
      <% if view.suitable_owners.present? %>
        <%= form_for "new_owner",
                     :url => change_owner_stafftools_project_path(id: view.project.id),
                     :html => { :method => "put", :class => "inline-form" } do |f| %>
            <%= f.hidden_field :type, value: view.suitable_owner_type %>
            <%= f.label "id", "New Owner" %>
            <%= f.select "id", options_for_select(view.suitable_owners) %>
            <%= f.submit "Set New Owner", class: "btn btn-sm" %>
        <% end %>

        <% if view.suitable_owner_type == "Organization" %>
          <p>
            Note: <strong><a class="Link--inTextBlock" href="<%= stafftools_user_path(view.project.creator) %>"><%= view.project.creator.login %></a></strong>, the creator of this project,
            <% if view.one_suitable_owner? %>
              <% if view.will_automatically_add_creator_to_project? %>
                will automatically be added as an admin collaborator to preserve their existing access.
              <% else %>
                will lose access because they aren’t a member of <strong><a class="Link--inTextBlock" href="<%= stafftools_user_path(view.suitable_owner_object) %>"><%= view.suitable_owner_object.login %></a></strong>.
              <% end %>
            <% else %>
              may either lose access or be automatically added as an admin collaborator, depending on their membership status in the chosen organization.
            <% end %>
          </p>
        <% end %>
      <% else %>
        <p>There are no other suitable owners for this project.</p>
      <% end %>
    </div>
  </div>

  <% if view.project.locked? %>
    <div class="boxed-group dangerzone">
      <h3>Project Locked</h3>
      <div class="boxed-group-inner clearfix">
        <%= form_tag unlock_stafftools_project_path(id: view.project.id), method: :put do %>
          <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, variant: :small) do %>Unlock<% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end -%>
