<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay position-relative d-inline-block js-dropdown-details">
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, "aria-haspopup": "true", "aria-label": "Show more options") do %>
    <%= primer_octicon(:"kebab-horizontal", 'aria-label' => "Show more options") %>
  <% end %>

  <div class="dropdown-menu dropdown-menu-sw mt-1 color-fg-default anim-scale-in" style="right: -10px;">
    <%= render layout: "shared/details_dialog", locals: {
      button_class: "dropdown-item btn-link",
      button_text: "Report abuse",
      details_class: "",
      title: "Report Abuse" } do %>
      <%= render partial: "oauth_applications/report_abuse_modal", locals: { authorization: authorization } %>
    <% end %>

    <% if Apps::Internal.capable?(:oauth_authorizations_revocable_by_user, app: authorization.application) %>
      <%= render layout: "shared/details_dialog", locals: {
        button_class: "dropdown-item btn-link menu-item-danger",
        button_text: "Revoke",
        details_class: "",
        title: "Are you sure you want to revoke authorization?" } do %>
        <%= render partial: "oauth_applications/revoke_access_modal", locals: { authorization: authorization } %>
      <% end %>
    <% end %>
  </div>
</details>
