<%# view is an instance of `Oauth::AuthorizeView` or `Oauth::AuthorizeIntegrationView` %>

<div class="d-flex flex-items-center pb-3 mb-3 border-bottom">
  <div style="background-color: #<%= view.preferred_bgcolor %>" class="CircleBadge CircleBadge--small mr-3">
    <%= oauth_application_logo(view.application, 30, class: "CircleBadge-icon") %>
  </div>
  <div>
    <h2 class="f2 text-normal"><%= view.application.name %></h2>
    <div class="text-small color-fg-muted pt-2">
      <% if view.authorization %>
        <span class="mr-3"><%= render(Primer::Beta::Octicon.new(icon: "clock")) %> <%= last_authorization_access_description(view.authorization) %></span>
      <% end %>

      <span class="mr-3"><%= primer_octicon(:person) %> Developed by <%= link_to view.application.display_owner.display_login, view.application.display_owner.user_path, class: "Link--inTextBlock" %></span>
      <span class="mr-3"><%= primer_octicon(:"link-external") %> <%= link_to truncate(view.application.url), view.application.url, class: "Link--inTextBlock" %></span>
      <% if view.try(:application_approval_requester?) %>
        <span class="mr-3"><%= primer_octicon(:key) %> approval requested by <%= link_to view.approval.requestor.display_login, user_path(view.approval.requestor), class: "Link--inTextBlock" %></span>
      <% end %>
    </div>
  </div>
</div>

<% if view.integration_application_type? %>
  <div class="markdown-body">
    <%= render "integrations/integration_description", :integration => view.application %>
  </div>
<% else %>
  <p><%= view.application.description %></p>
<% end %>
