<%# erblint:counter DeprecatedComponentsCounter 1 %>
<dl class="form-group <%= callback_url.errors.none? ? "" : "errored" %> callback-url js-callback-url <%= callback_url.default? ? "is-default-callback" : "" %>">
  <dd>
    <div class="d-flex width-full flex-justify-between">
      <div class="field-with-errors flex-1">
        <input class="form-control" name="oauth_application[callback_urls][]" size="30" type="text" value="<%= callback_url.raw_url %>">
      </div>
      <div class="callback-url-action-cell p-responsive">
        <span class="label default">Default</span>
        <%= render Primer::ButtonComponent.new(scheme: :danger, classes: "js-delete-callback") do %>Delete<% end %>
      </div>
    </div>
  </dd>
  <% if callback_url.errors.any? %>
    <dd class="error"><%= errors_sentence_for(callback_url, :url, human_field: "Callback URL") %></dd>
  <% end %>
</dl>
