<div class="col-6 mb-4 float-left clearfix <%= developer_application_row.pending_deletion? ? "oauth-pending-deletion-list-item" : "" %>">
  <div class="TableObject">
    <div class="TableObject-item">
      <%= link_to oauth_application_path(developer_application_row), class: "CircleBadge CircleBadge--small float-left", style: "background-color: ##{developer_application_row.preferred_bgcolor}" do %>
        <%= oauth_application_logo(developer_application_row, 30, class: "CircleBadge-icon", alt: developer_application_row.name) %>
      <% end %>
    </div>
    <div class="TableObject-item TableObject-item--primary pl-3">
      <%= link_to developer_application_row.name, oauth_application_path(developer_application_row), :class => "text-bold" %> <br>
      <div class="text-small color-fg-muted ws-normal"><%= truncate(developer_application_row.description, :length => 40) %></div>
      <div class="oauth-pending-deletion">
        <em class="float-right">Pending deletion</em>
      </div>
    </div>
  </div>
</div>
