<%# erblint:counter DeprecatedComponentsCounter 2 %>

<div class="oauth-app-info-container">
  <%= render Primer::Beta::Subhead.new do |component| %>

    <% component.with_heading(tag: :h2, font_size: 3) do %>
      <span class="text-emphasized"><%= number_with_delimiter(total_authorizations) %></span>
      user<%= 's' unless total_authorizations == 1 %>
    <% end %>

    <% component.with_actions do %>
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Revoke all user tokens",
        button_class: "btn btn-danger mr-2",
        title: "Revoke all user tokens?",
        details_class: "d-inline-block text-normal"
      } do %>
        <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
          <%= render Primer::Alpha::Banner.new(full: true, scheme: :warning) do %>
            Are you sure you want to revoke <strong>all</strong> user tokens for this application?
          <% end %>
        <% else %>
          <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
            Are you sure you want to revoke <strong>all</strong> user tokens for this application?
          <% end %>
        <% end %>
        <div class="Box-body">
          <p>
            All users of this application will be forced back through the
            <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/guides/basics-of-authentication/">authorization flow</a>
            before they can use your application again.
          </p>
          <p>All SSH keys created by this application will also be deleted.</p>
          <p class="mb-0">This action is not reversible.</p>
        </div>
        <div class="Box-footer">
          <%= form_tag oauth_application_revoke_all_tokens_path(current_application) do %>
            <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>
              I understand, revoke all user tokens
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>

  <% end %>
</div>
