<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="float-right details-reset details-overlay position-relative mr-2">
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, vertical_align: :middle, pr: 1, classes: "select-menu-button") do %>
    Sort
  <% end %>

  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Sort by</span>
    </div>

    <div class="select-menu-list" data-pjax>
      <a href="<%= url_with(
        :page => nil,
        :o => nil) %>"
        class="select-menu-item"
        aria-checked="<%= params[:o].nil? %>"
        role="menuitemradio">
        <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
        <div class="select-menu-item-text">Alphabetical</div>
      </a>
      <a href="<%= url_with(
        :page => nil,
        :o => "used-desc") %>"
        class="select-menu-item"
        aria-checked="<%= params[:o] == 'used-desc' %>"
        role="menuitemradio">
        <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
        <div class="select-menu-item-text">Recently used</div>
      </a>
      <a href="<%= url_with(
        :page => nil,
        :o => "used-asc") %>"
        class="select-menu-item"
        aria-checked="<%= params[:o] == 'used-asc' %>"
        role="menuitemradio">
        <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
        <div class="select-menu-item-text">Least recently used</div>
      </a>
    </div>
  </details-menu>
</details>
