<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>

<%= form_tag destroy_logo_path(@application), method: destroy_logo_method(@application), class: "js-delete-oauth-application-image-form" do %>
  <%= hidden_field_tag destroy_logo_field_name(@application), destroy_logo_field_value(@application) %>
<% end %>

<%= form_tag do |f| %>
  <%= file_attachment_tag(
      model: :avatars,
      input: "upload-app-logo",
      class: "logo-upload js-upload-avatar-image is-default upload-enabled #{'has-uploaded-logo' if ApplicationLogoHelper.has_logo?(@application)}",
      :"data-alambic-owner-id" => @application.id,
      :"data-alambic-owner-type" => @application.class.base_class.name) do %>

    <span class="delete js-delete-oauth-application-image tooltipped tooltipped-ne" aria-label="Delete this image"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
      <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
    </span>

    <div class="logo-upload-container d-flex">
      <div class="logo-box">
        <%= oauth_application_logo(@application, 120, force_app_logo: true) %>

        <div class="logo-placeholder">
          <div>
            <%= primer_octicon(:upload, height: 32, mt: 4) %>
            <p>Drag &amp; drop</p>
          </div>
        </div>
      </div>
      <div class="logo-upload-label d-flex flex-column flex-items-start ml-3">
        <input id="upload-app-logo" type="file" aria-describedby="upload-app-logo-message" multiple class="sr-only">
        <label class="btn button-change-avatar" for="upload-app-logo">
          Upload new logo
        </label>
        <div class="upload-state default">
          <p>You can also drag and drop a picture from your computer.</p>
        </div>
      </div>

      <p class="drag-and-drop text-normal mt-3" id="upload-app-logo-message">
        <span class="loading">
          <%= image_tag "spinners/octocat-spinner-32.gif", :width => 16, :height => 16, :alt => "" %> Uploading…
        </span>
        <span class="error bad-file">
          Only images, please. Try again.
        </span>
        <span class="error file-too-big">
          1MB or less, please. Try again.
        </span>
        <span class="error failed-request">
          Whoops! Try again.
        </span>
        <span class="error bad-format">
          File contents don’t match the file extension. Try again.
        </span>
      </p>
    </div>
  <% end %>
<% end %>
