<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%= render layout: "settings/oauth_application" do %>
  <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
    <% component.with_heading(tag: :h2, danger: true) do %>Danger zone<% end %>
  <% end %>

  <div class="Box Box--danger">
    <div class="Box-row d-flex flex-items-center">
      <div class="flex-auto">
        <strong>Delete this OAuth application</strong>
        <div class="text-small color-fg-muted">
          This cannot be undone. Please be certain.
        </div>
      </div>
      <% if current_application.can_delete? %>
        <%= render layout: "shared/details_dialog", locals: { button_text: "Delete application", button_class: "btn btn-danger", title: "Delete application?" } do %>
          <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
            <%= render Primer::Alpha::Banner.new(full: true, scheme: :warning) do %>
              Please note that deleting the OAuth application will invalidate any access tokens authorized by users.
            <% end %>
          <% else %>
            <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
              Please note that deleting the OAuth application will invalidate any access tokens authorized by users.
            <% end %>
          <% end %>
          <div class="Box-body">
            <% if current_application.authorizations.count > 0 %>
              <%= pluralize current_application.authorizations.count, "user" %> will not be able to use this application after deletion.
            <% else %>
              No users are currently using this application. It will not be able to be used after deletion.
            <% end %>
          </div>
          <div class="Box-footer">
            <%= form_tag oauth_application_path(current_application), :method => :delete do %>
              <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger) do %>
                Delete OAuth application
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Button.new(disabled: true, scheme: :danger, float: :right, mt: 1, classes: "tooltipped tooltipped-nw", "aria-label": "This application cannot be deleted since it has active marketplace subscriptions.") do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          Delete OAuth application
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
