<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render layout: "settings/oauth_application" do %>
  <% if beta_features_available? %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2, font_size: 3) do %>Activate optional features for <%= current_application.name %><% end %>
    <% end %>

    <p class="mb-4">Choose a feature to activate for <%= current_application.name %>:</p>
  <% else %>
    <%= render Primer::BlankslateComponent.new(icon: "hubot", title: "There are no optional features to try right now.") do %>
      Keep an eye on <a class="Link--inTextBlock" href="<%= GitHub.blog_url %>">the blog</a> for updates.
    <% end %>
  <% end %>
<% end %>
