<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Developer applications", :selected_link => :settings_user_developer_applications %>

<% content = capture do %>
  <% unless @pending_transfers.blank? %>
    <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
      <%= render(Primer::Alpha::Banner.new(scheme: :warning, icon: :alert)) do %>
        You have <%= @pending_transfers.count %> pending application transfer <%= pluralize_without_number(@pending_transfers.count, 'request') %>. You can review those below.
      <% end %>
    <% else %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, icon: :alert)) do %>
        You have <%= @pending_transfers.count %> pending application transfer <%= pluralize_without_number(@pending_transfers.count, 'request') %>. You can review those below.
      <% end %>
    <% end %>
    <h4>Pending transfer requests</h4>
    <ul class="table-list org-transfer-requests">
      <% @pending_transfers.each do |transfer| -%>
      <%= render :partial => 'oauth_applications/application_transfer_row', :object => transfer, :locals => { :counts => @authorization_counts } %>
      <% end -%>
    </ul>
  <% end %>

  <% if @applications.empty? %>
    <%= render Primer::BlankslateComponent.new(
      title: "No OAuth applications",
    ) do %>
      <p class="">OAuth applications are used to access the GitHub API. <a class="Link--inTextBlock" href="<%= docs_url "apps/overview" %>">Read the docs</a> to find out more.</p>
      <%= link_to "Register a new application", new_oauth_application_path, :class => "btn btn-primary", 'data-pjax' => true -%>
    <% end %>
  <% else %>
    <div class="settings-next">
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2, font_size: 3) do %>OAuth Apps<% end %>
        <% component.with_actions do %>
          <%= link_to_new_oauth_app("New OAuth App") -%>
        <% end %>
      <% end %>
    </div>

    <div class="gutter clearfix">
      <% @applications.each do |app| -%>
        <%= render :partial => 'oauth_applications/developer_application_row', :object => app %>
      <% end -%>
    </div>

    <div class="paginate-container">
      <%= will_paginate @applications %>
    </div>

    <p class="text-small color-fg-muted">These are applications you have registered to use the <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>">GitHub API</a>.</p>

  <% end %>
<% end %>

<%= render layout: "settings/developer_settings" do %>
  <%= content %>
<% end %>
