<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%# locals: (can_create_applications:) %>

<% page_info responsive: false, title: "#{h current_context.display_login} - OAuth applications", selected_link: :applications_settings %>

<%= render layout: "orgs/settings/layout" do %>
  <% unless @pending_transfers.blank? %>
    <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
      <%= render(Primer::Alpha::Banner.new(scheme: :warning, icon: "alert")) do %>
        <strong><%= current_context %></strong> has <%= @pending_transfers.count %> pending application transfer <%= pluralize_without_number(@pending_transfers.count, 'request') %>. You can review those below.
      <% end %>
    <% else %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, icon: "alert")) do %>
        <strong><%= current_context %></strong> has <%= @pending_transfers.count %> pending application transfer <%= pluralize_without_number(@pending_transfers.count, 'request') %>. You can review those below.
      <% end %>
    <% end %>
    <h4>Pending transfer requests</h4>
    <ul class="table-list org-transfer-requests">
      <% @pending_transfers.each do |transfer| -%>
        <%= render :partial => 'oauth_applications/application_transfer_row', :object => transfer %>
      <% end -%>
    </ul>
  <% end %>

  <% if @applications.empty? && can_create_applications %>
    <%= render Primer::BlankslateComponent.new(
      title: "No Organization Owned Applications",
      button_text: "Register an application",
      button_url: new_oauth_application_path,
    ) do %>
      <p>Do you want to develop an application that uses the <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>">GitHub API</a>? Register an application to generate OAuth tokens.</p>
    <% end %>
  <% else %>
    <div class="settings-next">
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2, font_size: 3) do %>OAuth Apps<% end %>
        <% if can_create_applications %>
          <% component.with_actions do %>
            <%= link_to_new_oauth_app("New Org OAuth App") -%>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="gutter clearfix">
      <% @applications.each do |app| -%>
        <%= render :partial => 'oauth_applications/developer_application_row', :object => app %>
      <% end -%>
    </div>

    <div class="paginate-container">
      <%= will_paginate @applications %>
    </div>
  <% end %>
<% end %>
