<%# view is an instance of RepositoryCodeScanning::CodePathsView %>

<div class="my-4" <%= test_selector("code-scanning-code-flow-step") %>>
<div class="d-flex my-1">
  <div>
    <span class="h5 mr-2 flex-shrink-0 color-fg-muted">
      Step <%= step_index + 1 %>
    </span>

    <span class="f6 color-fg-muted text-mono flex-shrink-0">
      <%= message %>
    </span>
  </div>

  <div style="margin-left: auto">
    <% if step_kind == "source" %>
      <%= render Primer::Beta::Label.new(scheme: :secondary, flex_shrink: 0, title: "Label: Source") do %>
        Source
      <% end %>
    <% elsif step_kind == "sink" %>
      <%= render Primer::Beta::Label.new(scheme: :secondary, flex_shrink: 0, title: "Label: Sink") do %>
        Sink
      <% end %>
    <% end %>
  </div>
</div>

<div class="py-1 my-2 rounded-2 border color-shadow-small">
  <div class="px-3 py-1 mb-1 d-flex flex-items-center">
    <% file_path, file_name = view.split_file_path_and_name(reverse_truncate(location.file_path, length: DiffHelper::DIFF_FILE_LABEL_TRUNCATION_LENGTH)) %>
    <% if view.blob_for(location) %>
      <% link_id = "code-flow-#{code_path_index}-step-#{step_index}-file-path" %>
      <a href="<%= view.blob_path(commit_oid: view.alert_instance.commit_oid, file_path: location.file_path, start_line: location.start_line, end_line: location.end_line) %>"
        id="<%= link_id %>"
        class="f6 Link--primary text-mono flex-auto min-width-0"
        aria-label="Snippet of file <%= location.file_path %> at line <%= location.start_line %>"
      >
        <%= file_path %><b><%= file_name %></b>:<%= location.start_line %>
      </a>
      <% if location.file_path.length > DiffHelper::DIFF_FILE_LABEL_TRUNCATION_LENGTH %>
        <%= render(Primer::Alpha::Tooltip.new(for_id: link_id, type: :description, text: location.file_path, direction: :ne)) %>
      <% end %>
    <% else %>
      <span class="f6 text-mono flex-auto min-width-0">
        <%= file_path %><b><%= file_name %></b>
      </span>
    <% end %>
  </div>

  <% if view.blob_for(location) %>
    <%= render partial: "repos/scanning/code_snippet", locals: { helper: view.snippet_helper(location, view.alert_instance.commit_oid) } %>
  <% else %>
    <div class="p-4" <%= test_selector("code-scanning-missing-code-flow-step")%>>
      <%= render partial: "repos/scanning/missing_blob" %>
    </div>
  <% end %>
</div>
</div>
