<%# view is an instance of RepositoryCodeScanning::IndexView %>

<%
  octicon_check_html = primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check")
%>

<tab-container>
  <div>
    <filter-input class="SelectMenu-filter" aria-owns="ref-list-branches">
      <input
        type="text"
        id="context-commitish-filter-field"
        class="SelectMenu-input form-control"
        autofocus
        autocomplete="off"
        aria-label="Filter branches/tags"
        placeholder="Filter branches/tags">
    </filter-input>
    <nav class="SelectMenu-tabs" role="tablist" aria-label="Filter Tabs">
      <button type="button" class="SelectMenu-tab" data-filter-placeholder="Filter branches/tags" role="tab" aria-selected="true">Branches</button>
      <button type="button" class="SelectMenu-tab" data-filter-placeholder="Find a tag…" role="tab">Tags</button>
    </nav>
  </div>

  <div class="select-menu-list" role="tabpanel" id="ref-list-branches">
    <div data-filter-list>
      <% branches = current_repository.heads.refs_with_default_first %>
      <% default_branch = current_repository.heads.default %>

      <% branches.each do |branch| %>
        <% qualified_name = branch.qualified_name_for_display %>
        <a class="SelectMenu-item border-bottom-0"
           href="<%= view.branch_path(branch.name_for_display) %>"
           role="menuitemradio"
           aria-checked="<%= view.ref_selected?(qualified_name) %>"
           rel="nofollow">
          <%= octicon_check_html %>
          <% if branch.name == default_branch %>
            <span class="flex-1 wb-break-word" data-menu-button-text data-filter-item-text><%= branch.name_for_display %></span>
            <%= render Primer::Beta::Label.new(scheme: :secondary, align_self: :start, title: "Label: default") do %>
              default
            <% end %>
          <% else %>
            <span class="wb-break-word" data-menu-button-text data-filter-item-text><%= branch.name_for_display %></span>
          <% end %>
        </a>
      <% end %>

      <div class="p-2" data-filter-empty-state hidden>Nothing to show</div>
    </div>
  </div>

  <div class="select-menu-list" role="tabpanel" id="ref-list-tags" hidden>
    <div data-filter-list>
      <% current_repository.tags.take(100).each do |tag| %>
        <a class="SelectMenu-item"
           href="<%= view.ref_path(tag.qualified_name) %>"
           role="menuitemradio"
           aria-checked="<%= view.ref_selected?(tag.qualified_name) %>"
           rel="nofollow">
          <%= octicon_check_html %>
          <span>
            <%= tag.name_for_display %>
          </span>
        </a>
      <% end %>
    </div>

    <div class="p-2" data-filter-empty-state hidden>Nothing to show</div>
  </div>
</tab-container>
