<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="d-inline details-overlay mb-0"
    data-deferred-details-content-url="<%= view.related_location_path(commit_oid: commit_oid, related_location: related_location) %>"
    <%= test_selector("related-location-link")%>>
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link) do %><%= link_text %><% end %>
  <div class="dropdown-menu dropdown-menu-s mt-2 width-full" style="top: auto">
    <include-fragment class="m-2">
      <div class="text-center" data-show-on-error hidden>
        <%= primer_octicon(:alert) %>
        Error loading related location
      </div>
      <%= render(Primer::Beta::Spinner.new("data-hide-on-error": true)) %>
    </include-fragment>
  </div>
</details>
