<%# view is an instance of RepositoryCodeScanning::RelatedLocationView %>

<div class="p-2" <%= test_selector("code-scanning-related-location-content")%>>
  <% file_path, file_name = view.split_file_path_and_name(view.location[:file_path]) %>
  <% if view.blob %>
    <a class="Link--primary d-block mb-1" href="<%= view.path_link_target %>">
      <span class="color-fg-muted"><%= file_path %></span><b><%= file_name %></b>
    </a>
    <%= render partial: "repos/scanning/code_snippet", locals: { helper: view.helper } %>
  <% else %>
    <div class="color-fg-muted mb-1"><%= view.location[:file_path] %></div>
    <%= render partial: "repos/scanning/missing_blob" %>
  <% end %>
</div>
