<div
  class="js-socket-channel js-updatable-content"
  data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.code_scanning_alert(current_repository, alert_number: view.result.number)) %>"
  data-url="<%= repository_code_scanning_result_path(current_repository.owner, current_repository, number: view.result.number, partial: "autofix") %>">
  <% if view.show_alert_with_suggested_fix? %>
    <%= render Suggestions::SuggestedFixComponent.new(
      create_pr_path: repository_code_scanning_create_autofix_pr_path(current_repository.owner, current_repository, view.result.number),
      suggested_fix: view.suggested_fix,
      generated_at: view.suggested_fix_alert.state_updated_at,
      alert_location: view.alert_instance.location,
      alert_title: result_title(view.result),
      alert_description_html: view.rich_result_message_text,
      alert_code_paths_url: view.has_code_paths? ? view.code_paths_url : nil,
      alert_rule_severity: view.result.rule_severity,
      alert_help_html: view.rule_intro,
      path_link: view.code_snippet_path_link,
    ) %>
  <% else %>
    <% if view.show_create_suggested_fix? %>
      <%= render Primer::Box.new(
        p: 1,
        mb: 3,
        block: true,
        border: true,
        border_radius: 2,
        display: :flex,
        justify_content: :space_between,
        align_items: :center,
        test_selector: "create-autofix-btn",
        bg: :subtle
      ) do %>
        <div class="d-flex p-2">
          <%= render Primer::Beta::Octicon.new(:copilot, color: :muted, m: 1) %>
          <%= render Primer::Beta::Text.new(tag: :p, m: 0, ml: 1) do %>
            Speed up the remediation of this alert with
            <%= render Primer::Beta::Link.new(
              classes: "Link--inTextBlock",
              href: view.suggested_fix_autofix_docs_url
            ).with_content("Copilot Autofix") %>
          <% end %>
        </div>
        <%= form_tag(
          repository_code_scanning_generate_autofix_path(current_repository.owner, current_repository, view.result.number)
        ) do %>
          <%= render(Primer::Beta::Button.new(
            type: :submit,
            justify_content: :center,
            p: 3,
            m: 1
          )) do %>
            <%= render(Primer::Beta::Octicon.new("shield-check", color: :muted, mr: 1)) %>
            Generate fix
          <% end %>
        <% end %>
      <% end %>
    <% elsif view.suggested_fix_alert_pending? %>
      <%= render Primer::Box.new(
        p: 1,
        mb: 3,
        block: true,
        border: true,
        border_radius: 2,
        display: :flex,
        justify_content: :space_between,
        align_items: :center,
        test_selector: "ai-suggested-fix-pending",
        bg: :subtle
      ) do %>
        <div class="d-flex p-2">
          <div class="mx-1 d-flex flex-items-center flex-justify-center position-relative fgColor-accent">
            <%= render Primer::Beta::Spinner.new(position: :absolute, size: :medium) %>
            <%= render Primer::Beta::Octicon.new(icon: :copilot, color: :accent) %>
          </div>
          <%= render Primer::Beta::Text.new(tag: :p, m: 0, ml: 2) do %>
            <strong>Copilot Autofix</strong>
            <%= render(Primer::Beta::Label.new(scheme: :secondary)) { "AI" } %>
            <span class="color-fg-muted">is generating a fix suggestion&hellip;</span>
          <% end %>
        </div>
      <% end %>
    <% elsif view.suggested_fix_alert_error? %>
      <%= render Primer::Box.new(
        p: 2,
        pt: 1,
        pr: 1,
        mb: 3,
        block: true,
        border: true,
        border_radius: 2,
        border_color: :attention,
        bg: :attention,
        display: :flex,
        justify_content: :space_between,
        test_selector: "ai-suggested-fix-error"
      ) do %>
        <div class="d-flex my-2 mr-3">
          <%= render Primer::Beta::Octicon.new(:alert, color: :attention, block: true, m: 1) %>
          <%= render Primer::Beta::Text.new(tag: :p, m: 0, ml: 2) do %>
            Copilot Autofix can't suggest a suitable fix for this alert at this time. Retry and if the problem persists
            <%= render Primer::Beta::Link.new(
              classes: "Link--inTextBlock",
              href: GitHub.support_url
            ).with_content("contact support") %>.
          <% end %>
        </div>
        <div>
          <%= form_tag(
            repository_code_scanning_generate_autofix_path(current_repository.owner, current_repository, view.result.number)
          ) do %>
            <%= render Primer::Beta::Button.new(
              type: :submit,
              justify_content: :center,
              p: 3,
              m: 1
            ) do %>
              <%= render Primer::Beta::Octicon.new("shield-check", color: :muted, block: true) %>
              Generate fix
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% elsif view.suggested_fix_alert_invalid? %>
      <%= render Primer::Box.new(
        p: 1,
        mb: 3,
        block: true,
        border: true,
        border_radius: 2,
        align_items: :center,
        test_selector: "ai-suggested-fix-invalid",
        bg: :subtle
      ) do %>
        <div class="d-flex p-2">
          <%= render Primer::Beta::Octicon.new(:copilot, color: :muted, m: 1) %>
          <%= render Primer::Beta::Text.new(tag: :p, m: 0, ml: 1) do %>
            <strong>Copilot Autofix</strong>
            <%= render(Primer::Beta::Label.new(scheme: :secondary)) { "AI" } %>
            <span class="color-fg-muted">can't suggest a suitable fix for this alert</span>
          <% end %>
        </div>
      <% end %>
    <% elsif view.suggested_fix_language_not_supported? || view.suggested_fix_rule_not_supported? %>
      <%= render Primer::Box.new(
        p: 1,
        mb: 3,
        block: true,
        border: true,
        border_radius: 2,
        align_items: :center,
        test_selector: view.suggested_fix_language_not_supported? ? "ai-suggested-fix-language-not-supported" : "ai-suggested-fix-rule-not-supported",
        bg: :subtle
      ) do %>
        <div class="d-flex p-2">
          <%= render Primer::Beta::Octicon.new(:copilot, color: :muted, m: 1) %>
          <%= render Primer::Beta::Text.new(tag: :p, m: 0, ml: 1) do %>
            <%= view.suggested_fix_not_supported %>
            <%= render Primer::Beta::Link.new(
              classes: "Link--inTextBlock",
              href: view.suggested_fix_autofix_query_lists_docs_url
            ).with_content("is not supported by Copilot Autofix")%>
          <% end %>
        </div>
      <% end %>
    <% elsif view.suggested_fix_outdated? %>
      <%= render Primer::Box.new(
        p: 2,
        pt: 1,
        pr: 1,
        mb: 3,
        block: true,
        border: true,
        border_radius: 2,
        display: :flex,
        justify_content: :space_between,
        test_selector: "create-autofix-outdated",
        bg: :subtle
      ) do %>
        <div class="d-flex my-2 mr-3">
          <%= render Primer::Beta::Octicon.new(:copilot, color: :muted, m: 1) %>
          <%= render Primer::Beta::Text.new(tag: :p, m: 0, ml: 2) do %>
            The previous fix suggestion was discarded because new code was pushed affecting this alert's location.
            Request a new fix to remediate this alert with the help of
            <%= render Primer::Beta::Link.new(
              classes: "Link--inTextBlock",
              href: view.suggested_fix_autofix_docs_url
            ).with_content("Copilot Autofix") %>
          <% end %>
        </div>
        <div>
          <%= form_tag(
            repository_code_scanning_generate_autofix_path(current_repository.owner, current_repository, view.result.number)
          ) do %>
            <%= render Primer::Beta::Button.new(
              type: :submit,
              justify_content: :center,
              p: 3,
              m: 1
            ) do %>
              <%= render Primer::Beta::Octicon.new("shield-check", color: :muted, mr: 1) %>
              Generate fix
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <h2 class="sr-only">Code snippet</h2>
    <%= render partial: "repos/scanning/location", locals: {
      full_path: view.alert_instance.location.file_path,
      path_link: view.code_snippet_path_link,
      snippet_helper: view.snippet_helper(view.alert_instance.location, view.alert_instance.commit_oid),
      tool_display_name: view.tool_display_name,
      alert_title: result_title(view.result),
      code_paths_url: view.has_code_paths? ? view.code_paths_url : nil,
      classifications: view.classifications,
      line_number: view.alert_instance.location.start_line,
    } %>
  <% end %>
</div>
