<%# erblint:counter DeprecatedInPrimerCounter 3 %>
<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 3 %>

<%= outdated_slack_installation_warning %>
<%= render partial: "reminders/header", locals: { title: "Scheduled reminders" } %>

<% if view.slack_workspaces.empty? %>
  <% if view.can_add_slack_workspace? %>
    <%= render Primer::BlankslateComponent.new(
      image_src: "modules/site/integrators/slackhq.png",
      image_alt: "Slack",
      title: "No scheduled reminders created.",
      description: "To keep projects moving, you can now remind your teams about pull requests they need to review.",
    ) do %>
      <% if view.slack_installation_outdated? %>
        <span class="btn btn-primary my-3 disabled">Connect a Slack workspace to get started</span>
      <% else %>
        <%= render(GitHub::DialogComponent.new(title: "Add Slack workspace", variant: :wide, dialog_classes: "text-left")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
          <% dialog.with_summary do %>
            <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :primary, my: 3) do %>
              Connect a Slack workspace to get started
            <% end %>
          <% end %>
          <%= render(Primer::Beta::BorderBox.new) do |component| %>
            <% component.with_body(p: 3, pb: 3) do %>
              <p class="p-3 f5 color-fg-default">
                We have rolled out a new version of the GitHub app in Slack. If you are currently on the old app, please consider switching over to the new app! More info about migration can be found <%= link_to "here.", "https://github.com/integrations/slack/blob/master/README.md#moving-away-from-the-legacy-workspace-app-model-in-slack", class: "Link--inTextBlock" %><%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
                <br><br>1. Clicking on 'Add' will configure your Slack workspace with the new GitHub app.
                <br>2. If you already have the old app in Slack, it will uninstall the legacy app and install the new one.
              </p>
            <% end %>
            <% component.with_footer(pb: 6, pr: 2) do %>
              <div class="p-3">
                <%= button_to "Add workspace",
                  authorize_reminder_slack_workspace_path(view.organization),
                  class: "btn btn-primary float-right" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_visual_image(src: image_path("modules/site/integrators/slackhq.png"), alt: "Slack") %>

      <% c.with_heading(tag: :h2) do %>
        To get started, ask an organization owner to connect a Slack workspace.
      <% end %>

      <% c.with_description do %>
        This feature reminds your team about pull requests they need to review.
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <% view.slack_workspaces.each do |slack_workspace| %>
    <% if !view.grouped_reminders[slack_workspace].empty? %>
      <div class="Box mb-3">
        <div class="menu-heading d-flex flex-items-center">
          <%= image_tag "modules/site/integrators/slackhq.png", alt: "Slack", height: 16, class: "pr-2" %>
          <%= slack_workspace.name %>
        </div>
        <% view.grouped_reminders[slack_workspace].each do |reminder| %>
          <div class="Box-row d-flex flex-justify-between flex-items-center">
            <div class="pr-1">
              <% if view.can_edit_reminder?(reminder) %>
                <%= link_to "##{reminder.slack_channel}", reminders_url_for(:show, id: reminder.id) %>
              <% else %>
                <span class="tooltipped tooltipped-se tooltipped-multiline" aria-label="This reminder is setup for multiple teams on the Slack Channel #<%= reminder.slack_channel %>. An org admin for <%= reminder.remindable.name %> needs to edit it">#<%= reminder.slack_channel %></span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
              <% end %>
              <span class="text-small color-fg-muted pl-1" title="Delivering to <%= reminder.teams.to_sentence %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
                <%= reminder.delivery_times_text %>
              </span>
              <p class="color-fg-muted m-0"><%= reminder.description(include_team: view.locked_to_team.nil?) %></p>
            </div>
            <div class="BtnGroup mr-2" style="min-width: 75px">
              <%= button_to reminders_url_for(:reminder_test, id: reminder.id), form_class: "d-inline", style: "border-right-width: 0px;", class: "btn BtnGroup-item btn-sm tooltipped tooltipped-sw tooltipped-multiline", "aria-label": "Send a test reminder" do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                <%= primer_octicon(:megaphone) %>
              <% end %>
              <% if view.can_edit_reminder?(reminder) %>
                <a href="<%= reminders_url_for(:show, id: reminder.id) %>" class="btn BtnGroup-item btn-sm tooltipped tooltipped-sw tooltipped-multiline" aria-label="Edit reminder"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                  <%= primer_octicon(:pencil) %>
                </a>
              <% else %>
                <span class="btn BtnGroup-item btn-sm disabled tooltipped tooltipped-sw tooltipped-multiline" aria-label="This reminder is setup for multiple teams on the Slack Channel #<%= reminder.slack_channel %>. An org admin for <%= reminder.remindable.name %> needs to edit it"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                  <%= primer_octicon(:pencil) %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end -%>
  <% end -%>
  <% if view.reminders_present? %>
    <div>
      <% if view.slack_installation_outdated? %>
        <span class="btn disabled">Add reminder</span>
      <% else %>
        <a href="<%= reminders_url_for(:new) %>" class="btn" role="button">Add reminder</a>
      <% end %>
    </div>
  <% else %>
    <%= render Primer::BlankslateComponent.new(
      image_src: "modules/site/integrators/slackhq.png",
      image_alt: "Slack",
      title: "No scheduled reminders created.",
      description: "To keep projects moving, you can now remind your " + (view.can_add_slack_workspace? ? "team" : "teams") + " about pull requests they need to review.",
    ) do %>
      <% if view.slack_installation_outdated? %>
        <span class="btn btn-primary my-3 disabled">Add your first reminder</span>
      <% else %>
        <a href="<%= reminders_url_for(:new) %>" class="btn btn-primary my-3">Add your first reminder</a>
      <% end %>
    <% end %>
  <% end -%>
<% end -%>
