
<div class="Box mb-3">
  <% reminders.each do |reminder| %>
    <div class="Box-row d-flex flex-justify-between flex-items-center">
      <div class="d-flex flex-items-center">
        <%= avatar_for(reminder.organization, 22, class: "avatar avatar-small mr-2") %>
        <% if configured || editable -%>
          <%= link_to reminder.organization.display_login, personal_reminder_path(reminder.organization), class: "Link--primary" %>
        <% else -%>
          <%= reminder.organization.display_login %>
        <% end -%>
      </div>
      <div class="d-flex flex-items-center">
        <% if configured || editable -%>
          <% if configured -%>
            <div>
              <%= image_tag reminder.slack_workspace.class.image_url, alt: reminder.slack_workspace.class.alt_name, height: 18, class: "v-align-middle mr-2", style: "margin-top: 1px" %>

              <span style="max-width: 300px" class="color-fg-muted css-truncate css-truncate-target v-align-middle">
                <%= reminder.description %>
              </span>
            </div>
          <% end -%>
          <div class="BtnGroup ml-2 text-right" style="<%= configured ? 'min-width: 75px' : '' %>">
            <% if configured -%>
              <%= button_to reminder_test_personal_reminder_path(reminder.organization), form_class: "d-inline", class: "Button Button--iconOnly Button--secondary Button--medium color-fg-muted mr-1 tooltipped tooltipped-sw tooltipped-multiline", "aria-label": "Send a test reminder" do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                <%= render(Primer::Beta::Octicon.new(:megaphone, color: :muted, "aria-label": "Send a test reminder", title: "Send a test reminder")) %>
              <% end %>
            <% end -%>
            <%= render(Primer::Beta::Link.new(href: personal_reminder_path(reminder.organization), underline: false, aria: { label: "Configure reminder" })) do |c| %>
              <% if configured %>
                <%= render Primer::Beta::IconButton.new(icon: :pencil, color: :muted, "aria-label": "Edit Reminder", title: "Edit Reminder") %>
              <% else %>
                <%= render Primer::Beta::IconButton.new(icon: :plus, color: :muted, "aria-label": "Configure Reminder", title: "Configure Reminder") %>
              <% end %>
            <% end %>
          </div>
        <% else -%>
          <span class="f6 color-fg-muted">
            <%= reminder.editable_hint %>
          </span>
        <% end -%>
      </div>
    </div>
  <% end %>
</div>
