<aside
  class="position-relative overflow-hidden border rounded-2 color-border-default mx-6 mx-lg-3 hide-sm color-shadow-medium js-notice <%= header_redesign_enabled? ? "mt-3 mb-6" : "my-6" %>"
  aria-label="Fix vulnerabilities in minutes with GitHub Advanced Security"
  <%= test_selector "ghas-trial-upsell-banner" %>
>
  <div class="d-flex flex-items-center p-3">
    <span class="CircleBadge avatar-7 hide-sm hide-md hide-lg box-shadow-none mr-3 color-bg-accent-emphasis">
      <%= render(Primer::Beta::Octicon.new(
        icon: "shield-lock",
        height: 24,
        classes: "CircleBadge-icon",
        color: :on_emphasis
      )) %>
    </span>
    <div class="flex-1">
      <h3>Fix vulnerabilities in minutes</h3>
      <p class="f5 color-fg-muted mb-0">
        Explore <%= learn_more_link %>,
        the only native application security solution that empowers developers to fix vulnerabilities in minutes.
      </p>
    </div>
    <div class="d-flex flex-items-center mr-2">
      <% if show_self_serve_cta? %>
        <%= render Primer::Beta::Button.new(
          scheme: :default,
          tag: :a,
          size: :small,
          mx: 3,
          test_selector: "self-serve-cta",
          href: enterprise_licensing_path(organization&.business, start_advanced_security_trial: true),
          data: analytics_click_attributes(
            category: "advanced_security_self_serve_trial",
            action: "click_to_start_free_trial",
            label: "location:org_overview"
          )
        ).with_content("Start free trial") %>
      <% else %>
        <%= render Primer::Beta::Button.new(
          scheme: :default,
          tag: :a,
          size: :small,
          mx: 3,
          test_selector: "sales-serve-cta",
          href: ghas_trial_requests_path(organization&.display_login, utm_source: "product", utm_campaign: "growth", utm_content: organization&.plan_name),
          data: analytics_click_attributes(
            category: "GHAS Trial request",
            action: "click to go to ghas trial form",
            label: "location:org_overview"
          )
        ).with_content("Request trial") %>
      <% end %>
      <%= form_tag dismiss_notice, method: :delete, class: "js-notice-dismiss" do %>
        <input type="hidden" name="input[organizationId]" value="<%= @organization&.id %>">
        <input type="hidden" name="input[notice]" value="<%= User::NoticesDependency::ORGANIZATION_NOTICES[:ghas_trial_upsell_banner] %>">
        <button
          type="submit"
          class="close-button float-right"
          aria-label="Hide this banner from view"
          <%= safe_analytics_click_attributes(category: "GHAS Trial request", action: "click to dismiss ghas trial banner", label: "location:org_overview") %>
        >
          <%= render(Primer::Beta::Octicon.new(icon: :x, "aria-label": "Dismiss")) %>
        </button>
      <% end %>
    </div>
  </div>
</aside>
