<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="container-xl">
  <% if !helpers.show_onboarding_component?(layout_data.profile_organization) && layout_data.show_ghas_trial_upsell_banner? %>
    <%= render(Profiles::Organization::GhasTrialBannerComponent.new(
        organization: layout_data.profile_organization,
        user: layout_data.viewer,
        display_mode: layout_data.ghas_trial_banner_display_mode,
    )) %>
  <% end %>

  <% if layout_data.site_admin_alerts.present? %>
    <%= render(Primer::Beta::Flash.new(scheme: :danger, my: 2)) do %>
      This organization is <%= layout_data.site_admin_alerts %>
    <% end %>
  <% end %>

  <% if helpers.user_or_global_preview_enabled?(:improved_layout) %>
    <%= render(Primer::Alpha::Layout.new) do |component| %>
      <% component.with_sidebar(col_placement: :end, row_placement: :end, px: [3, nil, 0]) do %>
        <% track_render_partial("orgs/profile") do %>
          <%= render Profiles::Organization::SidebarComponent.new(profile_layout_data: layout_data) %>
        <% end %>
      <% end %>
      <% component.with_main do %>
        <%= content %>
      <% end %>
    <% end %>
  <% else %>
    <%= render(Primer::LayoutComponent.new(responsive: true, side: :right, w: :full)) do |component| %>
      <% component.with_sidebar do %>
        <div class="px-3 px-md-0">
          <% track_render_partial("orgs/profile") do %>
            <%= render Profiles::Organization::SidebarComponent.new(profile_layout_data: layout_data) %>
          <% end %>
        </div>
      <% end %>
      <% component.with_main do %>
        <div class="position-relative" data-hpc>
          <%= content %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
