<%# erblint:counter GoogleAnalyticsDeprecation 3 %>
<% if organization_members.any? %>
  <div <%= test_selector("profile-members") %>>
    <div>
      <a class="d-block color-fg-default" href="<%= org_people_path(profile_organization) %>" data-ga-click="Orgs, go to people, location:profile people module; text:People">
        <h4 class="f4 text-normal mb-3">People</h4>
      </a>
      <div class="clearfix d-flex flex-wrap" style="margin: -1px">
        <% link_data_attrs = { ga_click: "Orgs, go to person, location:profile people module; text:username" } %>
        <% organization_members.each do |member| %>
          <%= profile_link member, class: "member-avatar", data: link_data_attrs, url: organization_member_url(member) do %>
            <%= avatar_for(member, 35, class: "avatar") %>
          <% end %>
        <% end %>
      </div>
      <% if more_items? %>
        <%= render Primer::Box.new(mt: 2) do %>
          <%= render Primer::Beta::Link.new(href: org_people_path(profile_organization), text: :small) do %>
            View all
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% if adminable_by_viewer? %>
      <% if !org_at_seat_limit? %>
        <div class="mt-3">
          <%= render(Primer::Alpha::Dialog.new(
              title: "Invite Member",
              id: "invite-member-dialog",
              size: :large,
            )) do |d| %>
            <% d.with_header(show_divider: false, visually_hide_title: true) { "" } %>
            <% invite_cta = invite_or_add_action_word(enterprise_managed: profile_organization.enterprise_managed_user_enabled?) %>
            <% d.with_show_button(
              scheme: :default,
              size: :small,
              type: :button, "aria-label": "#{invite_cta} someone",
              test_selector: "invite-member",
              data: analytics_click_attributes(
                category: "#{invite_cta} member",
                action: "click to #{invite_cta} someone",
                label: "ref_cta:#{invite_cta} someone;ref_loc:org_profile_overview"
              )) do %>
              <%= invite_cta %> someone
            <% end %>
            <% d.with_body(text_align: :left) do %>
              <%= render :partial => 'orgs/invitations/invite_member_dialog', :locals => {
                :organization => profile_organization,
                :rate_limited => rate_limited
              } %>
            <% end %>
          <% end %>
        </div>
      <% elsif GitHub.billing_enabled? %>
        <% if show_buy_more_seats_link? %>
          <div class="mt-3" <%= test_selector("buy-more-seats") %>>
            0 <%= seat_or_license(profile_organization) %>s left &mdash; <%= more_seats_link_for_organization(profile_organization, self_serve_return_to: org_root_path(profile_organization)) %>
          </div>
        <% else %>
          <div class="mt-3" >
            0 <%= seat_or_license(profile_organization) %>s left
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="" id="org-members">
    <a class="d-block color-fg-default" href="<%= org_people_path(profile_organization) %>" data-ga-click="Orgs, go to people, location:profile people module; text:People">
      <h4 class="f4 text-normal">People</h4>
    </a>
    <p class="color-fg-muted mt-3 mb-0">
      This organization has no public members. You must be a member to see who&rsquo;s a part of this organization.
    </p>
  </div>
<% end %>
