<div class="Box mb-4" <%= test_selector('profile-readme') %>>
  <div class="Box-body <%= "p-4" if profile_readme.language %>">
    <div class="d-flex flex-justify-between">
      <div class="text-mono text-small mb-3">
        <a
          href="<%= tree_path(profile_readme.path, profile_repository.default_branch, profile_repository) %>"
          class="no-underline Link--primary"
          style="padding:0px 2px;"
        ><%= profile_readme.name %></a>
      </div>

      <% if profile_repository.pushable_by?(current_user) %>
        <div class="text-small mb-3">
          <a href="<%= file_edit_path(organization, profile_repository, profile_repository.default_branch, profile_readme.path) %>"
              class="Box-btn-octicon btn-octicon pr-3"
              aria-label="Edit this file"
              <%= test_selector("edit-profile-readme") %>>
              <%= render(Primer::Beta::Octicon.new(icon: "pencil")) %>
          </a>
        </div>
      <% end %>
    </div>
    <%= helpers.format_readme(profile_readme, entity: profile_repository, committish: profile_repository.default_branch, classes: "f5", view: :org_profile) %>
  </div>
</div>
