<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<div class="hide-sm hide-md">
  <%= render Profiles::Organization::SwitchProfilesComponent.new(
    profile_layout_data: profile_layout_data,
    align_right: true,
    dialog_location: "org-switch-profile-web"
  ) %>
</div>
<%= render Onboarding::Organizations::ToggleComponent.new(organization: profile_layout_data.profile_organization, user: current_user) %>

<% if org_discussions_viewable? %>
  <div class="<%= top_border_class(Discussions::OverviewDiscussionsComponent) %>">
    <%= render Discussions::OverviewDiscussionsComponent.new(
        repository: org_discussions_repository,
        org_param: profile_organization.display_login,
        view_all_discussions_path: org_discussions_path(profile_layout_data.profile_organization)
      ) %>
  </div>
<% elsif current_user_can_enable_org_discussions? %>
  <div class="<%= top_border_class(Discussions::EnableDiscussionsComponent) %>">
    <%= render Discussions::EnableDiscussionsComponent.new(
        discussions_settings_path: settings_org_discussions_path(profile_layout_data.profile_organization)
      ) %>
  </div>
<% end %>

<%= render Profiles::Organization::RepositoriesComponent.new(organization: profile_layout_data.profile_organization) %>

<div class="<%= top_border_class(Profiles::Organization::MembersComponent) %>">
  <%= render Profiles::Organization::MembersComponent.new(profile_layout_data: profile_layout_data) %>
</div>

<% track_render_partial("sponsors/sponsorable_profile_sponsors") do %>
  <%= render Profiles::Organization::SponsorsComponent.new(profile_layout_data: profile_layout_data) %>
<% end %>

<%= include_cached_fragment src: org_top_languages_path(profile_layout_data.profile_organization, context: "overview"), cache_key: top_languages_cache_key do %>
  <div class="my-3 py-3 border-top">
    <div>
      <h4 class="f4 mb-2 text-normal">Top languages</h4>
      <p>Loading…</p>
    </div>
  </div>
<% end %>

<%= include_cached_fragment src: org_most_used_topics_path(profile_layout_data.profile_organization, context: "overview"), cache_key: most_used_topics_cache_key, accept: "text/fragment+html" do %>
  <div class="my-3 py-3 border-top">
    <div>
      <h4 class="f4 mb-2 text-normal">Most used topics</h4>
      <p>Loading…</p>
    </div>
  </div>
<% end %>

<% if show_github_sponsor_recognition? || show_developer_program_member_badge? %>
  <div class="py-3">
    <% if show_github_sponsor_recognition? %>
      <%= render(Primer::Beta::Link.new(href: sponsors_path, my: 1, display: :flex, align_items: :center, test_selector: "github-sponsor-badge", data: { turbo: "false" },
      )) do %>
        <%= render Primer::Beta::Octicon.new(icon: "heart", mr: 2, color: :sponsors) %> GitHub Sponsor
      <% end %>
    <% end %>

    <% if show_developer_program_member_badge? %>
      <%= render(Primer::Beta::Link.new(href: GitHub.developer_help_url, display: :flex, align_items: :center, test_selector: "developer-program-member-badge")) do %>
        <%= render Primer::Beta::Octicon.new(icon: "cpu", mr: 2, color: :muted) %> Developer Program Member
      <% end %>
    <% end %>
  </div>
<% end %>

<% if show_report_abuse_link? %>
  <div class="my-2">
    <a class="text-small Link--secondary" href="<%= flavored_contact_path(report: profile_layout_data.profile_organization.to_s, flavor: "report-abuse") %>" aria-label="Report abuse" data-ga-click="Orgs, report, location:profile repositories index; text:Report abuse tooltip">
        Report abuse
    </a>
  </div>
<% end %>
