<div <%= test_selector("profile-sponsorships") %>>
  <% if sponsorships_as_maintainer.present? %>
    <div class="my-3 py-3 border-top" <%= test_selector("profile-sponsors") %>>
      <h4 class="f4 text-normal mb-3" id="sponsors-heading">Sponsors</h4>
      <div class="d-flex flex-wrap">
        <ul aria-labelledby="sponsors-heading" class="list-style-none d-inline-flex flex-wrap">
          <% sorted_sponsorships_as_maintainer.each do |sponsorship| %>
            <li>
              <%= render Sponsors::Profile::SponsorAvatarComponent.new(
                user_or_org: sponsorship.linked_or_direct_sponsor,
                sponsorship: sponsorship,
                size: 35,
              ) %>
            </li>
          <% end %>
        </ul>
      </div>

      <% if sponsorships_as_maintainer_overflow_count > 0 %>
        <%= render Primer::Box.new(mt: 2) do %>
          <%= render Primer::Beta::Link.new(
            href: "#{sponsorable_path(org)}#sponsors",
            text: :small,
          ).with_content("View all") %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if sponsorships_as_sponsor.present? %>
    <div class="my-3 py-3 border-top" <%= test_selector("profile-sponsoring") %>>
      <h4 class="f4 text-normal mb-3" id="sponsoring-heading">Sponsoring</h4>
      <div class="d-flex flex-wrap">
        <ul aria-labelledby="sponsoring-heading" class="list-style-none d-inline-flex flex-wrap">
          <% sorted_sponsorships_as_sponsor.each do |sponsorship| %>
            <li>
              <%= render Sponsors::Profile::SponsorAvatarComponent.new(
                user_or_org: sponsorship.sponsorable,
                sponsorship: sponsorship,
                size: 35,
              ) %>
            </li>
          <% end %>
        </ul>
      </div>

      <% if sponsorships_as_sponsor_overflow_count > 0 %>
        <%= render Primer::Box.new(mt: 2) do %>
          <%= render Primer::Beta::Link.new(
            href: "#{user_path(org)}?tab=sponsoring",
            text: :small,
          ).with_content("View all") %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
