<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="mb-3 pb-3">
  <%= render Primer::Alpha::ActionMenu.new(
    anchor_align: :end,
    select_variant: :single,
    dynamic_label: true,
    dynamic_label_prefix: "View as"
  ) do |menu| %>
    <% menu.with_show_button(
      size: :medium,
      scheme: :invisible,
      p: 0
    ) do |b| %>
      <% b.with_leading_visual_icon(icon: "eye") %>
      <% b.with_trailing_action_icon(icon: "triangle-down") %>
    <% end %>

    <% VIEW_AS.each do |value, name| %>
      <% menu.with_item(label: name, href: "?view_as=#{value}", active: selected_view_as == name) %>
    <% end %>
  <% end %>

  <div class="Subhead-description text-small pt-1" <%= test_selector("selected-org-profile-sub-heading") %>><%= sub_heading_copy %></div>

  <% if should_display_cta? %>
    <div class="Subhead-description text-small pt-3" <%= test_selector("selected-org-profile-cta") %>>
      You can
        <% if should_display_readme_cta? %>
          <%= render(Primer::Alpha::Dialog.new(
            title: "Create #{get_selected_view_as} README",
            details_classes: "d-inline-block",
            title_classes: "color-fg-default",
            body_classes: "markdown-body",
            )) do |dialog| %>
          <% dialog.with_show_button(tag: :button, display: :inline, role: "button", test_selector: "create-readme-button", scheme: :link) do %>
          create a README file
            <% end %>
            <% dialog.with_body do %>
              <%= render Primer::Beta::Text.new(
                    tag: :p,
                    font_size: 5,
                    color: :default,
                  ) do %>
                  <% if !profile_repository %>
                    Create a <%= visibility %> repository called <code><%= repo_name %></code>.
                    Once created, add a <code>/profile/README.md</code>. The README will appear on your organization's profile, <%= visible_text %>.
                  <% elsif !profile_readme %>
                    Add a <code>/profile/README.md</code> to the <code><%= repo_name %></code> repository.
                    The README will appear on your organization's profile, <%= visible_text %>.
                  <% end %>
              <% end %>
              <%= render(Primer::Beta::Link.new(
                  href: "https://docs.github.com/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile",
                  font_size: 5,
                  classes: "Link--inTextBlock"
                )) { "Read documentation" } %>
            <% end %>
            <% dialog.with_footer do %>
              <div class="form-actions" <%= test_selector("org-profile-dialog-actions") %>>
                <% if !profile_repository %>
                  <%= render Primer::ButtonComponent.new(
                      tag: :a,
                      scheme: :primary,
                      href: new_org_repository_path(profile_layout_data.profile_organization) + "?#{profile_readme_param}",
                      data: {
                        **analytics_click_attributes(
                          category: "Org profile README",
                          action: "Create repository",
                          label: "view_as:#{profile_layout_data.view_as};location:switcher"),
                      }
                    ) do %>
                    <%= render Primer::Beta::Octicon.new(icon: "repo", mr: 1) %>
                    Create repository
                  <% end %>
                <% elsif !profile_readme %>
                  <%= render Primer::ButtonComponent.new(
                      tag: :a,
                      scheme: :primary,
                      href: blob_new_path('', profile_repository.default_branch, profile_repository) + "?#{add_readme_param}=1",
                      data: {
                        **analytics_click_attributes(
                          category: "Org profile README",
                          action: "Create README file",
                          label: "view_as:#{profile_layout_data.view_as};location:switcher"),
                      }
                    ) do %>
                    <%= render Primer::Beta::Octicon.new(icon: "file", mr: 1) %>
                    Create file
                  <% end %>
                <% end %>
                <button type="reset" class="btn" data-close-dialog="" form="">Cancel</button>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <%= should_display_readme_cta? && should_display_pins_cta? ? "or" : "" %>
        <% if should_display_pins_cta? %>
          <%= render Profiles::ProfilePins::PinnedItemsComponent.new(
            show_button_name: "pin repositories",
            profile_user: profile_layout_data.profile_organization,
            view_as: profile_layout_data.view_as,
            viewing_as_member: profile_layout_data.view_as == "member",
            dialog_location: dialog_location,
            data: safe_analytics_click_attributes(
              category: "Org profile pins",
              action: "Open pin repositories dialog",
              label: "view_as:#{profile_layout_data.view_as};location:switcher"
            )
          ) %>
        <% end %>
      <%= visible_text %>.
    </div>
  <% end %>
</div>
