<% unless GitHub.single_business_environment? %>
  <%= render(Primer::Alpha::UnderlineNav.new(
    tag: :div,
    label: "Enterprise accounts by state",
    test_selector: "enterprise-state-nav")
  ) do |nav| %>
    <% nav.with_tab(
      href: stafftools_enterprises_path,
      selected: active?
    ) { "Active" } %>
    <% nav.with_tab(
      href: stafftools_enterprises_path(tab: "deleted"),
      selected: deleted?
    ) { "Deleted" } %>
  <% end %>

  <% if deleted? %>
    <%= render(Primer::Beta::Text.new(
      tag: :p, mt: 3, font_weight: :bold, test_selector: "deleted-enterprise-restore-period"
    )) do %>
      <%= render(Primer::Beta::Octicon.new(:"info")) %>
      Deleted enterprises may be restored for a period of
      <%= Business::RESTORABLE_PERIOD.inspect %>
      after deletion.
    <% end %>
  <% end %>

  <%= render Stafftools::SimpleSearchFormComponent.new(
    form_group_test_selector: "enterprise-search-form",
    query_label: "Find enterprises by name or slug",
    form_url: stafftools_enterprises_path(tab: tab),
    extra_input_fields: [{ name: "tab", value: tab, hidden: true }]
  ) %>
<% end %>

<% if businesses.any? %>
  <div class="Box Box--condensed">
    <ul>
      <% businesses.each do |business| %>
        <li class="Box-row">
          <%= render(Stafftools::Businesses::BusinessListItemComponent.new(
            business: business
          )) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate businesses %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h3) do %>
      No <% if deleted? %>deleted<% end%> enterprises
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      exist.
    <% end %>
  <% end %>
<% end %>
