<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="d-flex flex-items-center" <%= test_selector "enterprise-#{business.id}" %>>
  <%= helpers.avatar_for business, 32, class: "avatar", alt: business.name %>
  <div class="flex-auto ml-3">
    <div>
      <% if business.deleted? %>
        <span class="text-semibold"><%= business.name %></span>
      <% else %>
        <%= render(
          Primer::Beta::Link.new(
            href: stafftools_enterprise_path(business),
            test_selector: "enterprise-link-#{business.id}",
            underline: true,
          )
        ) { business.name } %>
      <% end %>
      &ndash;
      <span class="text-mono"><%= business.slug %></span>
      <% if show_deleted_label %>
        <%= render(Primer::Beta::Label.new(
          test_selector: "enterprise-deleted-label-#{business.id}",
          scheme: :danger,
          ml: 1
        )) { "Deleted" } %>
      <% end %>
      <% if show_emu_label %>
        <%= render(Primer::Beta::Label.new(
          test_selector: "enterprise-emu-label-#{business.id}",
          scheme: :danger,
          ml: 1
        )) { "EMU" } %>
      <% end %>
    </div>
    <div class="mt-1">
      <span>
        <% if business.deleted? %>
          Deleted <%= time_ago_in_words_js business.deleted_at %>
        <% else %>
          Created <%= time_ago_in_words_js business.created_at %>
        <% end %>
      </span>
      <% if business.deleted? %>
        <span>
          &middot;
          <%= render(
            Primer::Beta::Link.new(
              href: stafftools_audit_log_path(
                query: business.site_admin_audit_log_query(driftwood_ade: helpers.driftwood_ade_query?(current_user))
              ),
              test_selector: "enterprise-audit-log-link-#{business.id}"
            )
          ) { "Search audit logs" } %>
        </span>
        <span>
          &middot;
          <%= render(
            Primer::Beta::Link.new(
              href: stafftools_deleted_account_transactions_path(deleted_enterprise_id: business.id),
              test_selector: "enterprise-payment-history-link-#{business.id}"
            )
          ) { "Payment history" } %>
        </span>
      <% end %>
    </div>
  </div>
  <% if business.deleted? %>
    <div>
      <%= render(Primer::Alpha::Dialog.new(
        id: "restore-enterprise-#{business.id}",
        size: :large,
        title: "Confirm restore of enterprise"
      )) do |c| %>
        <% c.with_show_button(
          size: :small,
          scheme: :danger,
          test_selector: "enterprise-restore-button-#{business.id}"
        ) do |c| %>
          Restore
        <% end %>
        <% c.with_header(show_divider: true) do %>
            Confirm restore of enterprise
        <% end %>
        <% c.with_body do %>
          <p>
            This will restore the <strong><%= business.name %></strong> enterprise.
            As a result, all functionality and settings of the enterprise will
            become accessible again.
          </p>
        <% end %>
        <% c.with_footer(show_divider: true) do %>
          <%= render(Primer::Beta::Button.new(
            data: { "close-dialog-id": "restore-enterprise-#{business.id}" }
          )) { "Cancel" } %>

          <%= form_with(
            url: stafftools_enterprise_restores_path(business),
            method: :post) do |form| %>
            <%= render(Primer::Beta::Button.new(
              type: :submit,
              scheme: :danger,
              "data-disable-invalid": "",
              "data-disable-with": ""
            )) { "Restore #{business.name}" } %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if show_purge_button? %>
      <div class="ml-2">
        <%= render(Primer::Alpha::Dialog.new(
          id: "purge-enterprise-#{business.id}",
          size: :large,
          title: "Confirm permanent deletion of #{ "EMU" if business.enterprise_managed? } enterprise",
          test_selector: "purge-enterprise-dialog-#{business.id}"
        )) do |c| %>
          <% c.with_show_button(
            size: :small,
            scheme: :danger
          ) do |c| %>
            Purge
          <% end %>
          <% c.with_header(show_divider: true) do %>
            Confirm permanent deletion of <%= "EMU" if business.enterprise_managed? %> enterprise
          <% end %>
          <% c.with_body do %>
            <%= render(Primer::Beta::Flash.new(scheme: :warning, mt: 2)) do %>
              Make sure you want to do this.
            <% end %>
            <p>
              The <strong><%= business.name %></strong> enterprise is scheduled to be purged
              <strong><%= time_ago_in_words_js(business.deleted_at + Business::RESTORABLE_PERIOD) %></strong>.
            </p>
            <p>
              Are you sure you want to purge this enterprise <strong>immediately</strong>?
              This will permanently delete the enterprise.
              <% if business.enterprise_managed? %>
                Also, its organizations, first EMU owner, administrators and members will be permanently deleted.
              <% end %>
              <strong>The enterprise or any of its resources will not be able to be restored.</strong>
            </p>
            <%= form_with(
              url: stafftools_enterprise_path(business),
              method: :delete) do |form| %>
              <p>
                <label>
                  Enter the enterprise slug to confirm
                  <input type="text" class="form-control input-block"
                    pattern="<%= helpers.case_insensitive_pattern(business.slug) %>"
                    required autofocus>
                </label>
              </p>
              <p>
                <%= render(Primer::Beta::Button.new(
                  type: :submit,
                  scheme: :danger,
                  "data-disable-invalid": "",
                  "data-disable-with": ""
                )) { "Permanently delete #{business.name}" } %>
              </p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
