<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Enterprise trials<% end %>
<% end %>

<div class="form-group">
  <%= form_with url: trials_stafftools_enterprises_path, method: "get" do |form| %>
    <%= form.hidden_field :tab, id: :tab, value: tab%>
    <% filter.map do |key, _| %>
      <%= form.hidden_field "filter[#{key}]", id: :filter, value: filter[key] %>
    <% end %>
    <%= form.text_field :query, id: :query, class: "form-control", placeholder: "Find enterprise by name or slug", value: query %>
    <%= render Primer::Beta::Button.new(type: :submit, position: :relative, display: :inline_block) do %>Search<% end %>
  <% end %>
  <%= render "stafftools/businesses/filter_bar", filter: filter, query: query, tab: tab %>
  <% if query.present? || filter.present? %>
    <div class="mt-2">
      <%= render(Primer::Beta::Link.new(href: trials_stafftools_enterprises_path)) do %>
        <%= render(Primer::Beta::Octicon.new(:x)) %>
        Clear filters
      <% end %>
    </div>
  <% end %>
</div>

<%= render(Primer::Alpha::UnderlineNav.new(tag: :div, label: "With div element")) do |component| %>
  <% component.with_tab(href: stafftools_active_trials_path, selected: tab == "active") { "Active" } %>
  <% component.with_tab(href: stafftools_expired_trials_path, selected: tab == "expired") { "Expired" } %>
  <% component.with_tab(href: stafftools_converted_trials_path, selected: tab == "converted") { "Converted" } %>
  <% component.with_tab(href: stafftools_cancelled_trials_path, selected: tab == "cancelled") { "Cancelled" } %>
<% end %>

<% if tab == "active" %>
  <%= render "stafftools/businesses/trials", businesses: active_trials, page_param_name: :active_page %>
<% elsif tab == "expired" %>
  <%= render "stafftools/businesses/trials", businesses: expired_trials, page_param_name: :expired_page %>
<% elsif tab == "converted" %>
  <%= render "stafftools/businesses/trials", businesses: converted_trials, page_param_name: :converted_page %>
<% elsif tab == "cancelled" %>
  <%= render "stafftools/businesses/trials", businesses: cancelled_trials, page_param_name: :cancelled_page %>
<% end %>
