<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "#{organization} - Terms of Service" %>
<% view = Stafftools::Organization::ShowView.new(organization: organization, current_user: current_user) %>

<div class="boxed-group">
  <h3>Terms of Service</h3>
  <div class="boxed-group-inner">
    <%= link_to "See all previous changes", view.terms_of_service_audit_log_path %>
    <% if view.show_sdn_blocked_notice? %>
      <%= render(Primer::Box.new(p: 2, bg: :transparent, style: "max-width: 544px;")) do %>
        <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
          <%= render(Primer::Alpha::Banner.new(icon: "alert", scheme: :warning)) do %>
            <h5 class="h5">
              Proceed with caution
            </h5>
            <div>
              <%= view.sdn_blocked_text %>
            </div>
          <% end %>
        <% else %>
          <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
            <h5 class="h5">
              <%= render(Primer::Beta::Octicon.new("alert")) %>
              Proceed with caution
            </h5>
            <div class="ml-5">
              <%= view.sdn_blocked_text %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= form_for(
      organization,
      url: stafftools_user_terms_of_service_record_path(organization),
      method: :patch,
    ) do |f| %>
      <dl class="form-group m-2">
        <dt><%= f.label "company_name", "Company Name" %></dt>
        <dd><%= f.text_field :company_name, value: organization.company.try(:name) %></dd>

        <dt><%= f.label "terms_of_service_type", "Terms of Service Type" %></dt>
        <% Organization::TermsOfService::TERMS_OF_SERVICE_TYPES.each do |tos_type| %>
          <dd>
            <%= f.radio_button(
              :terms_of_service_type,
              tos_type,
              checked: organization.terms_of_service.name == tos_type,
            ) %>
            <%= f.label "terms_of_service_type_#{tos_type.downcase}", tos_type %>
          </dd>
        <% end %>

        <dt>
          <%= f.label "terms_of_service_change_note", "Terms of Service Change Note" %>
          <p class="note">
            Explanation of why this change was made (required). You should probably include
            something like a link to a Slack or Zendesk discussion.
          </p>
        </dt>
        <dd>
          <%= f.text_field(
            :terms_of_service_change_note,
            value: nil,
            class: "required",
            required: true,
          ) %>
        </dd>
      </dl>
      <%= f.submit "Update", class: "btn", disable_with: "Updating..." %>
    <% end %>
  </div>
</div>
