<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter LabelComponentMigrationCounter 1 %>
<% if view.display_badge? %>
  <span
    class="tooltipped tooltipped-multiline tooltipped-s prerelease-badge text-bold Label Label--secondary pt-0 rounded-2 <%= view.additional_classes.to_s %>"
    aria-label="The <%= view.public_name %> feature is part of the pre-release program. Leave feedback on the feature by clicking this label."
  ><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
    <% if view.feedback_url %>
      <a href="<%= view.feedback_url %>">
        <%= primer_octicon(:beaker, mr: 1) %>Pre-release
      </a>
    <% else %>
      <%= primer_octicon(:beaker, mr: 1) %>Pre-release
    <% end %>
  </span>
<% end %>
