<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "#{beta.feature_name} beta signup", selected_link: :betas %>

<%= render layout: "stafftools/stafftools" do %>

  <%= render(Primer::Beta::Breadcrumbs.new) do |component| %>
    <% component.with_item(href: stafftools_betas_path) do %>Technology Previews<% end %>
    <% component.with_item(href: stafftools_beta_signup_path) do %><%= beta.feature_name %><% end %>
    <% component.with_item(href: stafftools_add_beta_signup_path) do %>Onboard Users<% end %>
  <% end %>

  <%= render(Primer::Beta::Subhead.new(mt: 3)) do |component| %>
    <% component.with_heading(tag: :h2) do %>Onboard Users<% end %>
    <% component.with_description do %>
      Note: Welcome email only sent to users who signed up for beta waitlist
    <% end %>
  <% end %>

  <%= form_tag stafftools_add_beta_signup_submit_path, class: "mb-3" do %>
    <div class="form-group">
      <textarea aria-label="Whitespace separated user logins"
                placeholder="Whitespace separated user logins"
                class="form-control input-block flex-auto input-lg"
                autocapitalize="off"
                autocomplete="off"
                spellcheck="false"
                name="users"></textarea>
    </div>
    <div class="form-group">
      <%= render(Primer::ButtonComponent.new(block: :true, type: :submit, scheme: :primary, variant: :medium)) { "Onboard Users" } %>
    </div>
  <% end %>

  <% if defined?(failed_users) %>
    <hr>
    <% failed_users.each do |user| %>
      <p <%= test_selector "beta-failed-user" %>>Failed: <%= user %></p>
    <% end %>
  <% end %>

  <% if defined?(added_users) %>
    <hr>
    <% added_users.each do |user| %>
      <p <%= test_selector "beta-added-user" %>>Added: <%= user %></p>
    <% end %>
  <% end %>

<% end %>
