<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter FlashMigrationCounter 1 %>
<% page_info title: view.page_title, selected_link: :ssh_keys %>

<%= render Primer::Beta::Subhead.new(hide_border: true) do |subhead| %>
  <% subhead.with_heading(tag: :h3) { "SSH keys" } %>
<% end %>
<%= render(Primer::Beta::BorderBox.new(mb: 6)) do |box| %>
  <% if view.keys? %>
    <% box.with_row do %>
      <p>
        These are the user’s SSH public keys and their respective fingerprints.
        The fingerprint of a key can be determined using the following commands.
      </p>
      <p>
        OpenSSH 6.8 or newer outputs a SHA256 fingerprint.
      </p>
      <p><code>ssh-keygen -lf path/to/key.pub</code></p>
    <% end %>
    <% view.keys.each do |key| %>
      <% box.with_row do %>
        <%= render partial: "stafftools/key", locals: { key: key } %>
      <% end %>
    <% end %>
  <% else %>
    <% box.with_body do %>
      <p>This account has no public keys.</p>
    <% end %>
  <% end %>
<% end %>

<% unless GitHub.enterprise? %>
  <%= render Primer::Beta::Subhead.new(hide_border: true) do |subhead| %>
    <% subhead.with_heading(tag: :h3) { "SSH account ownership verification" } %>
  <% end %>
  <%= render(Primer::Beta::BorderBox.new(mb: 6)) do |box| %>
    <% box.with_body do %>
      <p>
        You can verify account ownership using SSH if a user has a public key. Ask them to run the
        following:
      </p>
      <p>
        <code>ssh -T git@github.com verify</code>
      </p>
      <p>
        and provide you with the token that is returned. Then paste the token below to see if it is
        valid for this user.
      </p>

      <hr>

      <% if messages %>
        <% messages.each do |m| %>
          <div class="flash <%= valid && valid == "true" ? "flash-notice" : "flash-error" %>">
            <%= m %>
          </div>
        <% end %>
      <% end %>

      <%= form_tag stafftools_user_ssh_keys_verification_path(this_user) do %>
        <dl class="form-group">
          <dt><label for="token">SSH Verification Token</label></dt>
          <dd>
            <input class="form-control" type="text" name="token" id="token" autocomplete="off">
            <%= render Primer::ButtonComponent.new(type: :submit) do %>Verify Token<% end %>
          </dd>
        </dl>
      <% end %>
    <% end %>
  <% end %>
<% end %>
