<% page_info title: "Discussions", breadcrumb: "Discussions" %>

<div class="<%= class_names(
  "pt-4 position-relative p-responsive",
  "container-xl" => container_xl?,
  "container-lg" => !container_xl?
) %>">
  <%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
    classes: "Box mb-1",
    container_classes: "mb-2",
    resource_label: "discussions",
    cap_filter: cap_filter
  )%>

  <div class="subnav d-flex mb-3 flex-column flex-md-row" data-pjax>
    <nav aria-label="Discussions filter" id="discussion-filter-header">
      <%= render(Primer::Alpha::SegmentedControl.new("aria-labelledby": "discussion-filter-header")) do |component| %>
        <%= component.with_item(
          tag: :a,
          href: all_discussions_path,
          label: "Created",
          selected: link_selected?(all_discussions_path)
        ) %>
        <%= component.with_item(
          tag: :a,
          href: all_discussions_commented_path,
          label: "Commented",
          selected: link_selected?(all_discussions_commented_path)
          ) %>
      <% end %>
    </nav>
    <div class="flex-auto min-width-0">
      <%= form_tag discussions_dashboard_search_path, :method => :get, :class => "subnav-search ml-0 ml-md-3 mt-3 mt-md-0", :role => "search", :"aria-label" => "Discussions" do %>
        <%= render(
          Primer::Alpha::TextField.new(
            name: "discussions_q",
            label: "Search all discussions",
            placeholder: "Search all discussions",
            id: "js-issues-search",
            value: query.rstrip,
            full_width: true,
            visually_hide_label: true,
            show_clear_button: true,
            leading_visual: {
              icon: :search
            }
          )
        ) %>
      <% end %>
    </div>
  </div>

  <div class="Box Box--responsive hx_Box--firstRowRounded0" id="js-issues-toolbar" data-pjax>
    <% if discussions.empty? %>
      <%= render Primer::Beta::Blankslate.new(spacious: true, test_selector: "discussions-blankslate") do |c| %>
        <% c.with_visual_icon(icon: "comment-discussion") %>

        <% c.with_heading(tag: :h2) do %>
          No discussions match the selected filters.
        <% end %>

        <% c.with_description do %>
          Discussions are used to ask questions and have open-ended conversations.
        <% end %>
      <% end %>
    <% else %>
      <div class="js-navigation-container js-active-navigation-container" data-discussion-hovercards-enabled data-repository-hovercards-enabled>
        <% discussions.each_with_index do |discussion, i| %>
          <%= render "orgs/discussions/discussion",
                discussion: discussion,
                index: i,
                participants: participants_by_discussion_id[discussion.id] %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="d-flex flex-justify-center">
    <% if discussions.total_pages > 1 %>
      <div class="paginate-container">
        <div class="pagination">
          <%= will_paginate discussions %>
        </div>
      </div>
    <% end %>
  </div>
</div>
