<% pluralized_request = total > 1 ? "requests" : "request" %>
<%# this js- selector must also be set in the dialog body placeholder in index.html.erb %>
<div class="js-delete-dialog-body">
  <p>The branch <strong><%= branch %></strong> is associated with <%= total %> open pull <%= pluralized_request %>:</p>
  <ul class="ml-4">
    <% open_pulls.each do |pull| %>
      <li><%= link_to "##{pull[:number]} - #{pull[:title]}", pull[:url], target: "_blank" %></li>
    <% end %>
  </ul>
  <% if total > 3 %>
  <span class="ml-4">and <%= total - 3%> more</span>
  <% end %>
  <p style="margin-top:10px">If you delete this branch, the pull <%= pluralized_request %> will be closed.</p>
  <p>Are you sure you want to delete this branch?</p>
</div>
