<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# `view` is an instance of `Branches::OverviewView` %>
<div class="Box Box--condensed mb-3" data-hpc>
  <div class="Box-header d-flex flex-items-center flex-justify-between">
    <h3 class="Box-title">Default branch</h3>
    <% if current_repository.writable? && current_repository.can_switch_default_branch?(current_user) %>
      <a class="d-none d-lg-inline-block tooltipped tooltipped-w Link--secondary" aria-label="Switch default branch" href="<%= edit_repository_path %>"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        <%= render Primer::Beta::Octicon.new(icon: "arrow-switch", size: :small) %>
      </a>
    <% end %>
  </div>
  <ul>
    <%= render partial: "branches/branch", object: view.primary_branch %>
  </ul>

  <% if show_protect_this_branch_banner?(tree_name) && !current_repository.advisory_workspace? %>
    <%= render partial: "branches/protect_this_branch_banner" %>
  <% end %>
</div>

<% if view.your_branches.any? %>
  <div class="Box Box--condensed mb-3">
    <div class="Box-header">
      <h3 class="Box-title">Your branches</h3>
    </div>
    <ul>
      <%= render :partial => "branches/branch", :collection => view.your_branches %>
      <% if view.your_branches.next_page %>
        <li class="Box-row Box-row--blue text-center p-0">
          <%= link_to branches_path(view.repository, :view => :yours), :class => "d-block p-2" do %>
            View more of your branches
            <%= primer_octicon(:"chevron-right", ml: 1) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if view.active_branches.any? %>
  <div class="Box Box--condensed mb-3">
    <div class="Box-header">
      <span class="Box-title">Active branches</span>
    </div>
    <ul>
      <%= render :partial => "branches/branch", :collection => view.active_branches %>
      <% if view.active_branches.next_page %>
        <li class="Box-row Box-row--blue text-center p-0">
          <%= link_to branches_path(view.repository, :view => :active), :class => "d-block p-2" do %>
            View more active branches
            <%= primer_octicon(:"chevron-right", ml: 1) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if view.stale_branches.any? %>
  <div class="Box Box--condensed mb-3">
    <div class="Box-header">
      <span class="Box-title">Stale branches</span>
    </div>
    <ul>
      <%= render :partial => "branches/branch", :collection => view.stale_branches %>
      <% if view.stale_branches.next_page %>
        <li class="Box-row Box-row--blue text-center p-0">
            <%= link_to branches_path(view.repository, :view => :stale), :class => "d-block p-2" do %>
              View more stale branches
              <%= primer_octicon(:"chevron-right", ml: 1) %>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
<% end %>
