<div class="Box mb-3" data-hpc>
  <div class="Box-header py-2">
    <span class="Box-title"><%= view.title %></span>
  </div>

  <ul>
  <%= render :partial => "branches/branch", :object => view.primary_branch if view.show_default_branch? %>

  <% if view.branches.any? %>
    <%= render :partial => "branches/branch", :collection => view.branches %>
  <% elsif !view.show_default_branch? %>
    <li class="Box-body text-center color-fg-muted list-style-none">
      <% more = "more " if view.branches.current_page > 1 %>
      <% if view.search_mode? %>
        No <%= more %>branches found matching “<%= view.search_query %>”.
      <% elsif view.selected_view == :yours %>
        You haven’t pushed any <%= more %>branches to this repository.
      <% else %>
        There aren’t any <%= more %><%= view.selected_view unless view.selected_view == :all %> branches.
      <% end %>
    </li>
  <% end %>
  </ul>
</div>

<div class="paginate-container">
  <%= simple_paginate(view.branches) %>
</div>
