<%
  learn_more_url = "/repositories/configuring-branches-and-merges-in-your-repository/managing-rulesets/about-rulesets"
  link_action = "click_to_learn_more_about_rulesets"
  label_ref_cta = "learn_more_about_rulesets"
%>
<aside class="position-relative overflow-hidden border-top color-border-default js-notice" aria-label="Your <%= tree_name_for_display %> branch isn't protected">
  <div class="d-md-flex flex-justify-between p-3" <%= test_selector "protect-this-branch-banner" %>>
    <div class="d-flex flex-items-center">
      <span class="branch-action-item-icon completeness-indicator completeness-indicator-problem float-none mr-3 ml-0" <%= test_selector "protect-this-branch-primer-icon" %>>
        <%= render(Primer::Beta::Octicon.new(icon: "git-branch")) %>
      </span>
      <div>
        <h1 class="h5 mb-1">Your <%= tree_name_for_display %> branch isn't protected</h1>
        <p class="f6 color-fg-muted mb-0">Protect this branch from force pushing or deletion, or require status checks before merging. <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}#{learn_more_url}", data: analytics_click_attributes(category: "suggestion", action: "#{link_action}", label: "ref_page:#{request.fullpath};#{label_ref_cta};ref_loc:repo_files_listing;"), classes: "Link--inTextBlock")) { "Learn more" } %></p>
      </div>
    </div>
    <div class="d-flex flex-items-center">
      <%= form_tag dismiss_repository_notice_user_path(current_user), class: "js-notice-dismiss", method: :delete do %>
        <input type="hidden" name="repository_id" value="<%= current_repository.id %>">
        <input type="hidden" name="notice_name" value="sculk_protect_this_branch">

        <%= button_tag(type: "submit",
          class: "f6 btn-link color-fg-muted mx-3",
          data: analytics_click_attributes(category: "suggestion", action: "click_to_dismiss", label: "ref_page:#{request.fullpath};ref_cta:dismiss;ref_loc:repo_branches_listing;"),
          "aria-label": "Dismiss") do %>
          Dismiss
        <% end %>
      <% end %>
      <%= link_to "Protect this branch",
        new_repository_ruleset_path + "?target=branch&enforcement=disabled",
        class: "btn btn-sm",
        "data-pjax": true,
        data: analytics_click_attributes(category: "suggestion", action: "click_to_add_a_rule", label: "ref_page:#{request.fullpath};ref_cta:protect_this_branch;ref_loc:repo_branches_listing;")
      %>
    </div>
  </div>
</aside>
