<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%
  input_id = "branch_new_name" unless local_assigns.key?(:input_id)
  any_pr_retargets = pr_retarget_count > 0
  any_pr_closures = pr_closure_count > 0
  any_release_updates = draft_release_count > 0
  any_protected_branch_updates = protected_branch_count > 0
  any_automatic_actions = any_pr_retargets || any_pr_closures || any_release_updates ||
    any_protected_branch_updates || will_pages_change
%>
<div class="<%= class_names(
  "form-group mt-0",
  "mb-1" => is_default
) %>">
  <div class="form-group-header">
    <label for="<%= input_id %>">
      Rename
      <span class="commit-ref color-fg-default user-select-contain wb-break-word f6"><%= branch %></span>
      to:
    </label>
  </div>
  <div class="form-group-body">
    <auto-check src="<%= check_name_path = rename_ref_check_path(current_repository.owner, current_repository, branch) %>" required>
      <input autofocus data-required-change required id="<%= input_id %>" type="text" name="new_name" value="<%= branch %>" class="form-control js-rename-branch-input" placeholder="<%= branch %>">
      <%= csrf_hidden_input_for(check_name_path) %>
    </auto-check>
  </div>
</div>
<% if is_default %>
  <p class="f6 color-fg-muted mb-3">
    Most projects name the default branch <strong>main</strong>
  </p>
<% end %>
<% if any_automatic_actions %>
  <p>Renaming this branch:</p>
<% end %>
<ul class="list-style-none">
  <% if any_pr_retargets %>
    <li class="my-1 clearfix">
      <%= render Primer::Beta::Octicon.new(icon: :check, color: :success, float: :left) %>
      <div class="ml-4">
        Will update
        <strong <%= test_selector("pull-request-count") %>>
          <%= social_count(pr_retarget_count) %>
        </strong>
        pull <%= "request".pluralize(pr_retarget_count) %>
        targeting this
        <% if pr_retarget_repo_count > 1 %>
          branch across
          <span <%= test_selector("pull-request-repo-count") %>>
            <%= social_count(pr_retarget_repo_count) %>
          </span>
          repositories.
        <% else %>
          branch.
        <% end %>
      </div>
    </li>
  <% end %>
  <% if any_pr_closures %>
    <li class="my-1 clearfix">
      <%= render Primer::Beta::Octicon.new(icon: :check, color: :success, float: :left) %>
      <div class="ml-4">
        Will close
        <strong <%= test_selector("pull-request-close-count") %>>
          <%= social_count(pr_closure_count) %>
        </strong>
        open pull <%= "request".pluralize(pr_closure_count) %> for this branch.
      </div>
    </li>
  <% end %>
  <% if any_release_updates %>
    <li class="my-1 clearfix">
      <%= render Primer::Beta::Octicon.new(icon: :check, color: :success, float: :left) %>
      <div class="ml-4">
        Will update
        <strong <%= test_selector("draft-release-count") %>>
          <%= social_count(draft_release_count) %>
        </strong>
        draft <%= "release".pluralize(draft_release_count) %> targeting this branch.
      </div>
    </li>
  <% end %>
  <% if any_protected_branch_updates %>
    <li class="my-1 clearfix">
      <%= render Primer::Beta::Octicon.new(icon: :check, color: :success, float: :left) %>
      <div class="ml-4">
        Will update
        <strong <%= test_selector("protected-branch-count") %>><%= protected_branch_count %></strong>
        branch protection
        <%= "rule".pluralize(protected_branch_count) %>
        that explicitly
        <%= protected_branch_count == 1 ? "targets" : "target" %>
        <code><%= branch %></code>.
      </div>
    </li>
  <% end %>
  <% if will_pages_change %>
    <li class="my-1 clearfix">
      <%= render Primer::Beta::Octicon.new(icon: :alert, color: :danger, float: :left) %>
      <div class="ml-4" <%= test_selector("pages-unpublish-warning") %>>
        Will unpublish current GitHub Pages site.
        <details class="details-reset hx_details-with-rotating-caret">
          <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link) do %>
            Learn more
            <span class="dropdown-caret hx_dropdown-caret-rotatable"></span>
          <% end %>
          <%= render Primer::Beta::Flash.new(mt: 2, p: 2, clearfix: true) do %>
            <%= render Primer::Beta::Octicon.new(icon: "info", float: :left, color: :default, mr: 0, mt: 1) %>
            <div class="f6 ml-4" style="max-width: 100%">
              <p>Your current GitHub Pages site will become unpublished. A new commit on the renamed branch will publish the GitHub Pages site again.</p>
            </div>
          <% end %>
        </details>
      </div>
    </li>
  <% end %>
  <li class="mt-1 clearfix">
    <% if any_automatic_actions %>
      <%= render Primer::Beta::Octicon.new(icon: :x, color: :danger, float: :left) %>
    <% end %>
    <div class="<%= class_names(
      "ml-4" => any_automatic_actions
    ) %>">
      <% if any_automatic_actions %>
        Will
      <% else %>
        Renaming this branch will
      <% end %>
      not update your members' local environments.
      <details class="details-reset hx_details-with-rotating-caret">
        <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link) do %>
          Learn more
          <span class="dropdown-caret hx_dropdown-caret-rotatable"></span>
        <% end %>
        <%= render Primer::Beta::Flash.new(mt: 2, p: 2, clearfix: true) do %>
          <%= render Primer::Beta::Octicon.new(icon: "info", float: :left, color: :default, mr: 0, mt: 1) %>
          <div class="f6 ml-4" style="max-width: 100%">
            <p>
              Your members will have to manually update their local environments.
              We'll let them know when they visit the repository, or you can share the following commands.
              <span class="js-rename-branch-special-characters-documentation" <%= 'hidden aria-hidden' unless shell_safe_names_include_placeholders?([[":branch", branch]]) %>>
                <%= link_to "Learn about dealing with special characters on the command line.", ShellHelper::SHELL_ESCAPING_DOCS_URL %>
              </span>
            </p>
            <div class="copyable-terminal p-2">
              <div class="copyable-terminal-button">
                <%= render Primer::Beta::ClipboardCopy.new(for: "update-existing-local-branch-copy", "aria-label": "Copy to clipboard", classes: "btn btn-sm zeroclipboard-button") %>
              </div>
              <pre id="update-existing-local-branch-copy" class="copyable-terminal-content">git branch -m <%= shell_safe_name(':branch', branch) %> <span class="js-rename-branch-new-name">&lt;BRANCH&gt;</span>
git fetch origin
git branch -u <span class="js-rename-branch-new-name-with-remote">origin/&lt;BRANCH&gt;</span> <span class="js-rename-branch-new-name">&lt;BRANCH&gt;</span>
git remote set-head origin -a</pre>
            </div>
          </div>
        <% end %>
      </details>
    </div>
  </li>
</ul>
