<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% summary_id = SecureRandom.hex(4) %>
<%= render GitHub::DialogComponent.new(title: "Rename #{is_default ? "default" : "this"} branch", src: branch_rename_form_path(current_repository.owner, current_repository, branch, section: section)) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
  <% dialog.with_summary do %>
    <summary id="rename-button-<%= summary_id %>" class="btn-link Link--secondary ml-2">
      <%= primer_octicon(:pencil) %>
    </summary>
  <% end %>
  <% dialog.with_body do %>
    <%= form_tag branch_path(current_repository.owner, current_repository, branch), method: :put, class: "py-2 js-rename-branch-form" do %>
      <div class="ws-normal">
        <include-fragment>
          <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
        </include-fragment>
      </div>
      <div class="form-actions pt-2">
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, "data-disable-with": "Saving…", "data-disable-invalid": "", disabled: true) do %>Rename branch<% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
<%= render(Primer::Alpha::Tooltip.new(for_id: "rename-button-#{summary_id}", type: :label, text: "Rename#{is_default ? " default" : "" } branch #{display_name}", direction: :ne)) %>
