<% repository = current_repository %>

<nav class="subnav-links mb-4 d-flex flex-1 flex-shrink-0 text-center col-lg-6" style="z-index: 0" aria-label="Branches">
  <a href="<%= branches_path(repository, view: :overview) %>" data-targets="branch-filter.filters" class="subnav-item flex-auto <% if selected == :overview %>selected<% end %>">
    Overview
  </a>
  <% if repository.pushable_by?(current_user) %>
    <a href="<%= branches_path(repository, view: :yours) %>" data-targets="branch-filter.filters" class="subnav-item flex-auto border-right-0 <% if selected == :yours %>selected<% end %>">
      Yours
    </a>
  <% end %>
  <a href="<%= branches_path(repository, view: :active) %>" data-targets="branch-filter.filters" class="subnav-item flex-auto hide-sm border-right-0 <% if selected == :active %>selected<% end %>">
    Active
  </a>
  <a href="<%= branches_path(repository, view: :stale) %>" data-targets="branch-filter.filters" class="subnav-item flex-auto hide-sm border-right-0 <% if selected == :stale %>selected<% end %>">
    Stale
  </a>
  <a href="<%= branches_path(repository, view: :all) %>" data-targets="branch-filter.filters" data-target="branch-filter.allFilter" class="subnav-item flex-auto <% if selected == :all %>selected<% end %>">
    All<span class="hide-md hide-sm"> branches</span>
  </a>
</nav>
