<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  case form_type
    when "sudo"
      submit_path = ""
      help_label = "More information about sudo mode authentication"
      help_article_path = "/articles/sudo-mode"
    when "checkup_app", "checkup_sms"
      submit_path = ""
      help_label = "More information about Authentication Codes"
      help_article_path = "/articles/providing-your-2fa-authentication-code"
    else
      submit_path = two_factor_path
      help_label = "More information about Authentication Codes"
      help_article_path = "/articles/providing-your-2fa-authentication-code"
  end
  form_body_partial = render(partial: "sessions/totp/form_body", locals: {
    user: user,
    form_type: form_type,
    type: :sms
  })
%>

<% if form_type != "sudo" %> <%# sudo page and modal have own flashes, so prevent duplicate, but login does not %>
  <%= render "shared/flash" %>
<% end %>

<%= render Primer::Beta::Flash.new(classes: "flash-notice sms-success") do %>
  <button type="button" class="flash-close js-flash-close" aria-label="Dismiss this message">
    <%= primer_octicon(:x) %>
  </button>
  Your authentication code has been sent.
<% end %>
<%= render Primer::Beta::Flash.new(scheme: :warning, classes: "sms-error") do %>
  <button type="button" class="flash-close js-flash-close" aria-label="Dismiss this message">
    <%= primer_octicon(:x) %>
  </button>
  <span class='js-sms-error'>
    We were unable to send your authentication code. Please try again or <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> if the problem persists.
  </span>
<% end %>

<%= render(Primer::Beta::BorderBox.new(mt: 3, bg: :subtle)) do |component| %>
  <% component.with_header(display: :flex, justify_content: :center, align_items: :center, direction: :column, border_bottom: 0, pb: 0) do %>
    <%= primer_octicon(:"comment", height: 32, color: :muted) %>
    <h2 class="mt-2 f3 text-normal text-center" id="session-otp-input-label">Authentication code
      <%= render Primer::Beta::IconButton.new(
        scheme: :invisible,
        icon: :question,
        tag: :a,
        aria: {label: help_label},
        href: GitHub.help_url + help_article_path,
        target: "_blank",
        rel: "noopener noreferrer",
        mb: 2)
      %>
    </h2>
  <% end %>
  <%= component.with_body(pt: 0, mt: 0) do %>
    <% if submit_path != "" %>
      <%= form_tag submit_path do %>
        <%= form_body_partial %>
      <% end %>
    <% else %>
      <%= form_body_partial %>
    <% end %>
  <% end %>
<% end %>
