<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="d-flex flex-grow-0 ml-2">
  <% if member.instance_of?(Repository) %>
    <%= render layout: "shared/details_dialog", locals: {
      button_icon: "trash",
      button_text: "",
      title: "Confirm you want to remove this repository",
      button_class: "close-button btn-octicon-danger",
      button_aria_label: "remove access to repository from this package"
    } do %>
      <%= form_tag local_removal_path,
          "data-error-message":  "Sorry, we couldn’t remove access. Please try again.",
          method: :delete do %>
        <input name="collaborator" type="hidden" value="<%= member.class.name.downcase %>/<%= member.id %>">

        <div class="d-flex flex-auto flex-column p-3">
          <p>
            Once removed,
            <span class="text-bold"><%= member.name %></span>
            will no longer have access to the
            <span class="text-bold"><%= package.name %></span>
            package.
          </p>
          <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true, mt: 3, "data-close-dialog": "") do %>
            Remove <%= member.name %> from <%= package.name.truncate(30) %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% elsif member.instance_of?(User) %>
    <%= render layout: "shared/details_dialog", locals: {
      button_text: "Remove",
      title: "Confirm you want to remove this user",
      button_class: "btn btn-sm btn-invisible hx_remove-member",
      button_aria_label: "remove access to user from this package"
    } do %>
      <%= form_tag remove_package_collaborator_path,
          "data-error-message":  "Sorry, we couldn’t remove access. Please try again.",
          method: :delete do %>
        <input name="collaborator" type="hidden" value="<%= member.class.name.downcase %>/<%= member.id %>">

        <div class="d-flex flex-auto flex-column p-3">
          <p>
            Once removed,
            <span class="text-bold"><%= member.display_login %></span>
            will no longer have access to the
            <span class="text-bold"><%= package.name %></span>
            package.
          </p>
          <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true, mt: 3, "data-close-dialog": "") do %>
            Remove <%= member.display_login %> from <%= package.name %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <%= render layout: "shared/details_dialog", locals: {
      button_text: "Remove",
      title: "Confirm you want to remove this team",
      button_class: "btn btn-sm btn-invisible hx_remove-member",
      button_aria_label: "remove access to team from this package"
    } do %>
      <%= form_tag remove_package_collaborator_path,
          "data-error-message":  "Sorry, we couldn’t remove access. Please try again.",
          method: :delete do %>
        <input name="collaborator" type="hidden" value="<%= member.class.name.downcase %>/<%= member.id %>">

        <div class="d-flex flex-auto flex-column p-3">
          <p>
            Once removed,
            <span class="text-bold"><%= member.name %></span>
            will no longer have access to the
            <span class="text-bold"><%= package.name %></span>
            package.
          </p>
          <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true, mt: 3, "data-close-dialog": "") do %>
            Remove <%= member.name %> from <%= package.name %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
