<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>

<%
  package_roles = {
    "contents" => { name: "Read", description: "Can download this package and read package metadata." },
    "administration" => { name: "Write", description: "Can upload and download this package. Can read and write package metadata." },
    "maintainer" => { name: "Admin", description: "Can upload, download, and manage this package. Can read and write package metadata. Can delete and restore packages." },
  }
%>

<%= form_tag update_package_actions_access_path, method: :post, class: "select-menu js-permission-menu-form d-flex flex-items-center" do %>
    <input name="collaborator" type="hidden" value="<%= repository.class.name.downcase %>/<%= repository.id %>">

    <details class="dropdown details-reset details-overlay">
    <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, "aria-haspopup": "true") do %>
      <span class="text-normal color-fg-muted">Role: </span>
      <span data-menu-button><%= package_roles[role][:name] %></span>
      <span class="dropdown-caret"></span>
    <% end %>
    <details-menu class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class ="SelectMenu-modal" style="width:320px;max-height:545px;">
        <header class="SelectMenu-header d-flex flex-justify-between">
          <span class="SelectMenu-title">Choose role</span>
        </header>
        <div class="SelectMenu-list">
          <% package_roles.each do |role_slug, r| %>
            <label role="menuitemradio" class="SelectMenu-item" aria-checked="<%= role_slug == role %>" tabindex="0">
              <%= radio_button_tag "permission", role_slug, false, {"data-autosubmit": true , hidden: true, id: nil} %>
              <div class="d-flex">
                <span class="SelectMenu-icon SelectMenu-icon--check mt-1"><%= primer_octicon(:check) %></span>
                <span>
                  <h5 data-menu-button-text><%= r[:name] %></h5>
                  <span class="f6 text-normal"><%= r[:description] %></span>
                </span>
              </div>
            </label>
          <% end %>
        </div>
      </div>
    </details-menu>
  </details>
  <span class="js-permission-success" hidden aria-label="Save successful"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse %>
    <%= primer_octicon(:check, color: :success, ml: 3) %>
  </span>
  <span class="js-permission-error ml-3 tooltipped tooltipped-sw" hidden aria-label="Something went wrong. Try again"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
    <%= primer_octicon(:alert, color: :danger) %>
  </span>
<% end %>
