<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="d-flex flex-grow-0 ml-2 flex-content-end">

  <%= render layout: "shared/details_dialog", locals: {
    button_icon: "trash",
    button_text: "",
    title: "Confirm you want to unlink this repository",
    button_class: "close-button btn-octicon-danger",
    button_aria_label: "unlink a repository from this package"
  } do %>

    <%= form_tag packages_two_remove_repo_path,
      title: "Confirm you want to unlink this repository",
      button_icon: "",
      button_text: "",
      class: "d-inline overflow-hidden",
      id: "packages-repo-form",
      method: :put do %>

      <div class="d-flex flex-auto flex-column p-3">
        <p>
          Are you sure you want to unlink <%= repository.name %> from <%= package.name %>?
        </p>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true, mt: 3, "data-close-dialog": "") do %>
          Yes, unlink this repository
        <% end %>
      </div>

    <% end %>

  <% end %>

</div>

