<%= render(Primer::BaseComponent.new(tag: "page-header", **@system_arguments)) do %>
  <div class="PageHeader-contextBar">
    <% if parent_link %>
        <span class="PageHeader-parentLink">
           <%= render(Primer::Beta::Link.new(href: @parent_link_href )) do %>
              <%= render(Primer::Beta::Octicon.new(icon: "arrow-left")) %>
              <span class="PageHeader-parentLink-label"> <%= @parent_link_label %></span>
          <% end %>
        </span>
      <% end %>
  </div>
  <div class="PageHeader-titleBar">
    <div class="<%= @title_wrap_classes %>">
      <% if back_button %>
        <%= back_button %>
      <% end %>
      <% if leading_visual %>
        <%= leading_visual %>
      <% end %>
      <%= title %>
      <% if trailing_visual %>
        <span class="PageHeader-trailingVisual">
          <%= trailing_visual %>
        </span>
      <% end %>
      </div>

      <% if actions %>
        <%= actions %>
      <% end %>
  </div>
  <% if description %>
    <%= description %>
  <% end %>
  <% if navigation %>
    <%= navigation %>
  <% end %>
<% end %>
