<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <%= render(Primer::Alpha::TabPanels.new(
    label: @label,
    classes: "CommentBox-header",
    with_panel: true,
    wrapper_arguments: {
      "data-preview-url": marketplace_preview_path,
      classes: "js-previewable-comment-form write-selected"
    },
    body_arguments: {
      classes: "no-wrap"
    }
  )) do |container| %>
    <% container.with_tab(id: "write-tab-#{@component_hash}", panel_id: "write-panel-#{@component_hash}", selected: true, px: [3, 6, 3], flex: [1, nil, :auto], classes: "btn-link write-tab js-write-tab") do |tab| %>
      <% tab.with_text { "Write" } %>
      <% tab.with_panel(mx: [0, nil, 2], mt: 2, mb: 2, classes: "js-write-bucket CommentBox-container") do %>
        <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
          <%= textarea %>
        </text-expander>
      <% end %>
    <% end %>

    <% container.with_tab(id: "preview-tab-#{@component_hash}", panel_id: "preview-panel-#{@component_hash}", px: [3, 6, 3], flex: [1, nil, :auto], classes: "btn-link tabnav-tab preview-tab js-preview-tab") do |tab| %>
      <% tab.with_text { "Preview" } %>
      <% tab.with_panel(mx: [0, nil, 2], mt: 2, mb: 2, classes: "js-preview-panel") do %>
        <div class="comment">
          <div class="comment-body markdown-body js-preview-body">
            <p>Nothing to preview</p>
          </div>
        </div>
      <% end %>
    <% end %>

    <% container.with_extra(align: :right) do %>
      <%= extra %>
      <%= render Comments::MarkdownToolbarComponent.new(textarea_id: @textarea_id) %>
    <% end %>
  <% end %>

  <div class="clearfix">
    <div class="tabnav-extra d-flex flex-justify-between pt-0">
      <div class="d-flex flex-justify-start">
        <a
          id="<%= @help_text_description %>"
          class="color-fg-muted"
          href="<%= GitHub.help_url %>/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax"
          target="_blank"
          data-ga-click="Markdown Toolbar, click, help"
          >
          <%= render(Primer::Beta::Octicon.new(:markdown, vertical_align: :bottom)) %>
          Styling with Markdown is supported.
        </a>
        <% if @character_limit %>
          <span class="ml-1">Limit <%= number_with_delimiter @character_limit %> characters.</span>
        <% end %>
      </div>
      <% if @character_limit %>
      <div class="d-flex flex-justify-end mr-2">
        <p class="js-length-limited-input-warning d-none color-fg-danger"></p>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
