<%= conditional_form_tag @form_action_url, :method => :get, id: "#{@id}-form" do %>
  <% @hidden_form_fields.each do |k, v| %>
    <%= hidden_field_tag k, v %>
  <% end %>
  <%= render Primer::BaseComponent.new(**@system_arguments) do %>
    <div class="FormControl FormControl--fullWidth">
      <label id="<%= @id %>-label" for="<%= @id %>" class="FormControl-label <% if @visually_hide_label %>sr-only<% end %>">
        <%= @label_text %>
        <% if @required %>
          <span aria-hidden="true">*</span>
        <% end %>
      </label>
      <div
        class="QueryBuilder-StyledInput width-fit <% if @invalid %>color-border-danger-emphasis<% end %>"
        data-target="query-builder.styledInput"
      >
        <% if leading_visual %>
          <span id="<%= @id %>-leadingvisual-wrap" class="FormControl-input-leadingVisualWrap QueryBuilder-leadingVisualWrap">
            <%= leading_visual %>
          </span>
        <% else %>
          <div class="QueryBuilder-spacer"></div>
        <% end %>
        <div data-target="query-builder.styledInputContainer" class="QueryBuilder-StyledInputContainer">
          <div
            aria-hidden="true"
            class="QueryBuilder-StyledInputContent"
            data-target="query-builder.styledInputContent"
          ></div>
          <div class="QueryBuilder-InputWrapper">
            <div aria-hidden="true" class="QueryBuilder-Sizer" data-target="query-builder.sizer"></div>
            <%= input %>
          </div>
        </div>
        <% if @show_clear_button %>
          <%# Adds visually hidden "clear" text - required for the aria-label to read the clear button text appropriately %>
          <span class="sr-only" id="<%= @id %>-clear">Clear</span>
          <%= render Primer::Beta::IconButton.new(
            icon: "x-circle-fill",
            role: "button",
            id: "#{@id}-clear-button",
            type: :button,
            aria: {
              labelledby: "#{@id}-clear #{@id}-label",
            },
            data: {
              target: "query-builder.clearButton",
              action: "
                click:query-builder#clear
                focus:query-builder#clearButtonFocus
                blur:query-builder#clearButtonBlur
              ",
            },
            scheme: :invisible,
            show_tooltip: false,
            mr: 1,
            px: 2,
            py: 0,
            display: :flex,
            align_items: :center,
            border_radius: 1,
            color: :muted,
            variant: :small,
            hidden: true,
            **@clear_button_system_arguments
          ) %>
        <% end %>
      </div>
      <%= render Primer::Experimental::QueryBuilder::Icons.new %>
      <% if @persist_list %>
        <ul
          role="listbox"
          class="ActionListWrap QueryBuilder-ListWrap"
          aria-label="Suggestions"
          data-action="
            combobox-commit:query-builder#comboboxCommit
            mousedown:query-builder#resultsMousedown
          "
          data-target="query-builder.resultsList"
          data-persist-list=<%= @persist_list %>
          id="<%= @id %>-results"
        ></ul>
      <% else %>
        <div class="position-relative">
          <% if @use_overlay %>
            <div class="Overlay-backdrop--anchor right-0 left-0" id="<%=@id%>-overlay">
              <div class="Overlay Overlay-whenNarrow Overlay--height-auto" hidden data-target="query-builder.overlay">
                <div class="Overlay-body Overlay-body--paddingNone">
          <% end %>
                <ul
                  role="listbox"
                  class="ActionListWrap QueryBuilder-ListWrap"
                  aria-label="Suggestions"
                  data-action="
                    combobox-commit:query-builder#comboboxCommit
                    mousedown:query-builder#resultsMousedown
                  "
                  data-target="query-builder.resultsList"
                  data-persist-list=<%= @persist_list %>
                  id="<%= @id %>-results"
                ></ul>
          <% if @use_overlay %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= content_tag(:div, **validation_arguments) do %>
        <span class="FormControl-inlineValidation--visual">
          <%= render(Primer::Beta::Octicon.new(icon: :"alert-fill", size: :xsmall, aria: { hidden: true })) %>
        </span>
        <%= content_tag(:span, @validation_message) %>
      <% end %>
    </div>
    <div data-target="query-builder.screenReaderFeedback" aria-live="polite" aria-atomic="true" class="sr-only"></div>
  <% end %>
<% end %>
