<%= render details_component do %>
  <%= summary %>

  <%= render select_menu_component do %>
    <%= render modal_component do %>
      <%= header %>

      <% if clear_item.present? %>
        <%= render Primer::Box.new(role: "menu") do %>
          <%= clear_item %>
        <% end %>
      <% end %>

      <%= filter %>

      <% if @menu[:src].present? %>
        <include-fragment class="SelectMenu-loading" aria-label="Menu is loading">
          <%= render Primer::Beta::Spinner.new(display: :block, mx: :auto) %>
        </include-fragment>
      <% else %>
        <% if tabbed? %>
          <nav class="SelectMenu-tabs" role="tablist" aria-label="Tabs">
            <% lists.each_with_index do |list, i| %>
              <%= render Primer::Beta::BaseButton.new(aria: { selected: i == selected_list_index }, classes: "SelectMenu-tab", role: :tab) do %>
                <%= list.title %>
              <% end %>
            <% end %>
          </nav>
        <% end %>

        <% lists.each_with_index do |list, i|
          if lists.size > 1
            list.role = :tabpanel
            list.hidden = i != selected_list_index
          end
        %>
          <%= list %>
        <% end %>
      <% end %>

      <%= footer %>
    <% end %>
  <% end %>
<% end %>
