<div
  class="Box--condensed width-full js-socket-channel js-updatable-content"
  data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.pull_request_merge_queue_entry_state(pull_request)) %>"
  data-url="<%= merge_queue_entry_status_path(user_id: repository.owner_display_login, repository: repository, merge_queue_branch: merge_queue.branch, entry_id: entry.id) %>"
  data-gid="<%= pull_request.global_relay_id %>"
>
  <% if entry.waiting? %>
    <ul>
      <%=
        render MergeQueues::EntryStatus::DetailComponent.new(
          summary_color: :subtle,
          summary: "Checks pending",
          details: "",
          test_selector_prefix: "waiting-status",
        )
      %>
    </ul>
  <% else %>
    <ul>
      <%=
        render MergeQueues::EntryStatus::ReviewsComponent.new(
          merge_state: pull_request.cached_merge_state(viewer: current_user),
          base_branch_rule_evaluator: pull_request.base_branch_rule_evaluator,
        )
      %>
      <% if entry.blocked_by_merge_conflicts? %>
        <%= render MergeQueues::EntryStatus::MergeConflictsComponent.new(blocked: true) %>
      <% else %>
        <%= render MergeQueues::EntryStatus::ChecksComponent.new(
          entry: entry,
          required_status_checks: entry.required_status_checks,
          blocked: false,
        ) %>
      <% end %>
    </ul>
  <% end %>
</div>
