<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "#{current_repository.name_with_owner} - Redirects" %>

<div class="boxed-group create-repository-redirect">
  <h3>Add a Redirect</h3>
  <div class="boxed-group-inner">
    <%= form_for [:stafftools, RepositoryRedirect.new] do |form| %>
      <p>Redirect from a deprecated repository to this repository.</p>
      <div class="hfields">
        <dl class="form-group">
          <dt><%= form.label :repository_name, "Redirect From" %></dt>
          <dd>
            <%= form.text_field :repository_name, :class => "short",
                                :placeholder => "username/repository",
                                :autofocus => true %>
          </dd>
        </dl>

        <%= render Primer::ButtonComponent.new(type: :submit) do %>Create<% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="boxed-group">
  <h3>Existing Redirects</h3>
  <div class="boxed-group-inner">
    <ul class="boxed-group-list standalone repository-redirects">
      <% if @redirects.any? %>
        <% @redirects.each do |redirect| %>
          <li>
            <span>
              <%= redirect.repository_name %>
              &rarr;
              <%= current_repository.name_with_owner %>
            </span>
            <%= form_tag stafftools_repository_redirect_path(redirect),
                          method: :delete, class: "d-inline" do %>
              <%= render Primer::Beta::IconButton.new(
                type: :submit,
                scheme: :danger,
                float: :right,
                "aria-label": "Delete redirect",
                tooltip_direction: :n,
                icon: :trash
              ) %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_heading(tag: :h2) do %>
              No redirects to this repository yet.
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
