<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
    page_info(
            container_xl: true,
            )
%>
<div class="container-sm px-3 mt-4">
  <div class="pt-4 text-center">
    <%= linked_avatar_for(invitation.inviter, 48, img_class: "avatar") %>
    <%= primer_octicon(:plus, pl: 3, pr: 4, color: :muted) %>
    <%= linked_avatar_for(current_user, 48, img_class: "avatar") %>

    <p><h3><a class="Link--inTextBlock" href="/<%= invitation.inviter.path %>"><%= invitation.inviter.display_login %></a> invited you to be their account successor</h3></p>

    <p>
      As an account successor, you would be able to manage <%= invitation.inviter.display_login %>'s repositories if they're not able to.
      <a class="Link--inTextBlock" href="<%= SuccessorInvitation.help_link %>">Learn more about account successors</a>.
    </p>

    <%# The following is legal copy; do not change without consulting GitHub Legal %>
    <p class="text-small color-fg-muted text-left pt-4">
      By clicking "Accept invitation" below, I acknowledge that I agree to serve as the successor for <%= invitation.inviter %>, in such ways
      authorized by their successor request. I agree to abide by GitHub's
      <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/terms">Terms of Service</a>
      and the user's written requests, if any, in my
      use and maintaining of their account's content.
    </p>
    <p class="text-small color-fg-muted text-left pt-3">
      I understand that accepting this appointment as successor does not override legally
      binding next-of-kin rules or estate laws of any relevant jurisdiction, and does not create a binding will, and I agree to comply or
      assist with a valid request by an individual with legal authority over the user's property (such as next-of-kin, an estate's executor,
      and/or a beneficiary of their will).
    </p>

    <div class="mt-4">
      <%= form_tag successor_invitation_accept_path(invitation.inviter.display_login), :class => "inline-form js-navigation-open" do %>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>
          Accept invitation
        <% end %>
      <% end %>

      <%= form_tag successor_invitation_decline_path(invitation.inviter.display_login), :class => "inline-form js-navigation-open" do %>
        <%= render Primer::ButtonComponent.new(type: :submit) do %>
          Decline
        <% end %>
      <% end %>
    </div>
  </div>
</div>
