<%
  user = view.user
  page_info title: "#{user.login} - Activity", selected_link: :stafftools_user_overview
%>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= link_to \
      "#{view.account_type_title} information",
      stafftools_user_path(user),
      "data-pjax": true
    %>
    / Activity
  <% end %>
<% end %>

<% unless GitHub.enterprise? %>
  <h4>This information is used to evaluate user activity.</h4>
  <p>
    <%= render Primer::Beta::Octicon.new(icon: "alert", color: :danger) %>
      Validate against our
    <a target="_blank"
      href="https://thehub.github.com/support/compliance/usernames/supporting-username-requests/">
      dormancy policy</a> before
    <%= link_to(
      "renaming",
      stafftools_user_administrative_tasks_path(user, anchor: "admin-account-danger-zone"),
      class: "Link--inTextBlock"
    ) %>
    the <%= h user.login %> account.
  </p>
<% end %>

<div class="clearfix summary">
  <dl>
    <dt>
      <%= link_to(
        "Plan",
        billing_stafftools_user_path(user),
      ) %>
    </dt>
    <dd><%= user.plan.to_s.humanize %> plan</dd>
  </dl>
  <dl>
    <dt>Billing state</dt>
    <dd><%= user.disabled? ? "Locked" : "Unlocked" %></dd>
  </dl>
  <dl>
    <dt>
      <%= link_to(
        "Billing activity",
        stafftools_user_billing_history_path(user),
      ) %>
    </dt>
    <dd>
      <%= render Primer::Beta::Octicon.new(
        **view.dormant_icon_options(user.dormancy_status[:last_billing_transaction_time]),
      ) %>
      <%= view.to_date user.dormancy_status[:last_billing_transaction_time] %>
    </dd>
  </dl>
  <dl>
    <dt>Created At</dt>
    <dd>
      <%= render Primer::Beta::Octicon.new(
        **view.dormant_icon_options(user.dormancy_status[:created_at]),
      ) %>
      <%= user.dormancy_status[:created_at].to_date %>
    </dd>
  </dl>
  <% unless user.organization? %>
    <dl>
      <dt>
        <%= link_to(
          "Active organization memberships",
          stafftools_user_organization_memberships_path(user),
        ) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.dormancy_status[:active_org_membership_count]),
        ) %>
        <%= user.dormancy_status[:active_org_membership_count] %> active
      </dd>
    </dl>
    <dl>
      <dt>
        <%= link_to(
          "Owned repositories",
          stafftools_user_repositories_path(user),
        ) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.dormancy_status[:repo_owner_count]),
        ) %>
        <%= user.dormancy_status[:repo_owner_count] %>
      </dd>
    </dl>
  <% end %>
  <dl>
    <dt>
      <%= link_to(
        "Active owned repositories",
        stafftools_user_repositories_path(user),
      ) %>
    </dt>
    <dd>
      <%= render Primer::Beta::Octicon.new(
        **view.dormant_icon_options(user.active_repositories.size),
      ) %>
      <%= user.active_repositories.size %> active
    </dd>
  </dl>
  <% unless user.organization? %>
    <dl>
      <dt>
        <%= link_to(
          "Personal access tokens",
          stafftools_user_oauth_tokens_path(user),
        ) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.oauth_accesses.personal_tokens.size),
        ) %>
        <%= user.oauth_accesses.personal_tokens.size %>
        </dd>
    </dl>
    <dl>
      <dt>Personal access token access</dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.last_personal_token_access_time),
        ) %>
        <%= view.to_date user.last_personal_token_access_time %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= link_to(
          "3rd party apps",
          developers_stafftools_user_applications_path(user),
        ) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.oauth_authorizations.third_party.size),
        ) %>
        <%= user.oauth_authorizations.third_party.size %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= link_to "SSH keys", stafftools_user_ssh_keys_path(user) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.public_keys.size),
        ) %>
        <%= user.public_keys.size %>
      </dd>
    </dl>
    <dl>
      <dt>SSH keys access</dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.last_public_key_access_time),
        ) %>
        <%= view.to_date user.last_public_key_access_time %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= link_to "Two Factor Authentication", stafftools_user_security_path(user) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.dormancy_status[:two_factor]),
        ) %>
        <%= user.dormancy_status[:two_factor] ? "Enabled" : "Disabled" %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= link_to(
          "Collaborating repositories",
          stafftools_user_repositories_collaborations_path(user),
        ) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.member_repositories.size),
        ) %>
        <%= user.member_repositories.size %>
      </dd>
    </dl>
  <% end %>
  <% unless user.organization? %>
    <dl>
      <dt>
        <%= link_to "Web session", stafftools_user_security_path(user) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.dormancy_status[:last_session]),
        ) %>
        <%= view.to_date user.dormancy_status[:last_session] %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= link_to "Repository starring", stafftools_user_repositories_stars_path(user) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.dormancy_status[:last_star]),
        ) %>
        <%= view.to_date user.dormancy_status[:last_star] %>
      </dd>
    </dl>
    <dl>
      <dt>
      <%= link_to(
        "Repository watching",
        stafftools_user_repositories_notification_preferences_path(user),
      ) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.dormancy_status[:last_watch]),
        ) %>
        <%= view.to_date user.dormancy_status[:last_watch] %>
      </dd>
    </dl>
    <% unless GitHub.enterprise? %>
      <dl>
        <dt>
          <%= link_to "Email verification", stafftools_user_emails_path(user) %>
        </dt>
        <dd>
          <%= render Primer::Beta::Octicon.new(
            **view.dormant_icon_options(user.dormancy_status[:last_email_verification]),
          ) %>
          <%= view.to_date user.dormancy_status[:last_email_verification] %>
        </dd>
      </dl>
      <dl>
        <dt>
          <%= link_to(
            "Password reset",
            stafftools_audit_log_path(query: view.user_change_password_audit_log_query),
          ) %>
        </dt>
        <dd>
          <%= render Primer::Beta::Octicon.new(
            **view.dormant_icon_options(user.dormancy_status[:last_password_reset]),
          ) %>
          <%= view.to_date user.dormancy_status[:last_password_reset] %>
        </dd>
      </dl>
      <dl>
        <dt>
          <%= link_to(
            "Login",
            stafftools_audit_log_path(query: view.user_login_audit_log_query),
          ) %>
        </dt>
        <dd>
          <%= render Primer::Beta::Octicon.new(
            **view.dormant_icon_options(user.dormancy_status[:last_login]),
          ) %>
          <%= view.to_date user.dormancy_status[:last_login] %>
        </dd>
      </dl>
      <dl>
        <dt>
          <%= link_to "Public Packages", stafftools_user_packages_path(user) %>
        </dt>
        <dd>
          <%= render Primer::Beta::Octicon.new(
            **view.dormant_icon_options(user.dormancy_status[:public_packages_count]),
          ) %>
          <%= user.dormancy_status[:public_packages_count] %>
        </dd>
      </dl>
      <dl>
        <dt>
          <%= link_to "Gists", stafftools_user_gists_path(user) %>
        </dt>
        <dd>
          <%= render Primer::Beta::Octicon.new(
            **view.dormant_icon_options(user.dormancy_status[:gist_count]),
          ) %>
          <%= user.dormancy_status[:gist_count] %>
        </dd>
      </dl>
      <dl>
        <dt>Comments</dt>
        <dd>
          <%= render Primer::Beta::Octicon.new(
            **view.dormant_icon_options(user.dormancy_status[:all_comment_count]),
          ) %>
          <%= user.dormancy_status[:all_comment_count] %>
        </dd>
      </dl>
      <dl>
        <dt>Last comment</dt>
        <dd>
          <%= render Primer::Beta::Octicon.new(
            **view.dormant_icon_options(user.dormancy_status[:last_comment]),
          ) %>
          <%= view.to_date user.dormancy_status[:last_comment] %>
        </dd>
      </dl>
      <dl>
        <dt>
          <%= link_to(
            "Organization invitation",
            stafftools_audit_log_path(query: view.organization_invitation_audit_log_query),
          ) %>
        </dt>
        <dd>
          <%= render Primer::Beta::Octicon.new(
            **view.dormant_icon_options(user.dormancy_status[:last_org_invite]),
          ) %>
          <%= view.to_date user.dormancy_status[:last_org_invite] %>
        </dd>
      </dl>
    <% end %>
  <% end %>
  <% if !GitHub.enterprise? && user.organization? %>
    <dl>
      <dt>
        <%= link_to "Owned repositories", stafftools_user_repositories_path(user) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(icon: "x", color: :danger) %>
        <%= user.dormancy_status[:ignored][:repo_owner_count] %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= link_to "Organization members", members_stafftools_user_path(user) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(icon: "x", color: :danger) %>
        <%= user.dormancy_status[:ignored][:org_size] %>
      </dd>
    </dl>
    <dl>
      <dt>Recent admin event</dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.dormancy_status[:last_admin_event]),
        ) %>
        <%= view.to_date user.dormancy_status[:last_admin_event] %>
      </dd>
    </dl>
    <dl>
      <% if user.dormancy_status[:active_admin] %>
        <dt>
          <%= link_to "Recently active admin", owners_stafftools_user_path(user) %>
        </dt>
      <% else %>
        <dt> Recently active admin </dt>
      <% end %>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.dormancy_status[:active_admin]),
        ) %>
        <%= user.dormancy_status[:active_admin] ? "True" : "False" %>
      </dd>
    </dl>
  <% end %>
  <dl>
    <dt>Activity feed</dt>
    <dd>
      <%= render Primer::Beta::Octicon.new(
        **view.dormant_icon_options(user.dormancy_status[:last_event]),
      ) %>
      <%= view.to_date user.dormancy_status[:last_event] %>
    </dd>
  </dl>
  <dl>
    <dt>
      <%= link_to(
        "Audit log Events",
        stafftools_audit_log_path(
          query: user.organization? ? view.org_audit_log_activity_events : view.user_audit_log_query
        ),
      ) %>
    </dt>
    <dd>
      <%= render Primer::Beta::Octicon.new(
        **view.dormant_icon_options(user.dormancy_status[:last_log]),
      ) %>
      <%= view.to_date user.dormancy_status[:last_log] %>
    </dd>
  </dl>
</div>

<% unless GitHub.enterprise? || user.organization? %>
  <p>
    This additional information is helpful for evaluating account activity, but isn't directly
    referenced by our dormancy policy.
  </p>

  <div class="clearfix summary">
    <dl>
      <dt>
        <%= link_to "Staff notes", stafftools_user_overview_path(user, anchor: "staffnotes") %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.recent_staff_note?),
        ) %>
        <%= user.recent_staff_note? ? view.to_date(user.staff_notes.last.created_at) : "None" %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= link_to(
          "Exact match compromised password",
          stafftools_audit_log_path(query: view.compromised_password_audit_log_query),
        ) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.dormancy_status[:ignored][:last_pass_compromise]),
        ) %>
        <%= view.to_date user.dormancy_status[:ignored][:last_pass_compromise] %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= link_to "Owned integrations", stafftools_user_apps_path(user) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.integrations.size),
        ) %>
        <%= user.integrations.size %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= link_to "Installed integrations", stafftools_user_installations_path(user) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.integration_installations.size),
        ) %>
        <%= user.integration_installations.size %>
      </dd>
    </dl>
    <dl>
      <dt>
        <%= link_to(
          "Organization memberships",
          stafftools_user_organization_memberships_path(user),
        ) %>
      </dt>
      <dd>
        <%= render Primer::Beta::Octicon.new(
          **view.dormant_icon_options(user.dormancy_status[:ignored][:org_membership_count]),
        ) %>
        <%= user.dormancy_status[:ignored][:org_membership_count] %>
      </dd>
    </dl>
  </div>
<% end %>
