<ul class="SelectMenu-list select-menu-list" role="menu">
  <% categories.each do |category| %>
    <% if category.id == discussion.category_id %>
        <%= render(Primer::Beta::Button.new(
          scheme: :invisible,
          test_selector: "category-#{category.id}",
          block: true,
          align_content: :start,
          size: :small,
          data: { toggle_for: "change-discussion-category"},
          role: "menuitemcheckbox",
          aria: { checked: true }
        )) do |button| %>
          <% button.with_leading_visual_icon(icon: :check, aria: { hidden: true }) %>
          <span aria-hidden="true"><%= discussion_category_emoji_tag(category, classes: "f5 mr-2 ml-1") %></span>
          <span class="color-fg-default"><%= category %></span>
        <% end %>
    <% else %>
        <%= form_tag discussion_path(discussion), method: :put do %>
          <input type="hidden" name="discussion[category_id]" value="<%= category.id %>">
          <%= render(Primer::Beta::Button.new(
            scheme: :invisible,
            type: :submit,
            test_selector: "category-#{category.id}",
            block: true,
            align_content: :start,
            size: :small,
            role: "menuitemcheckbox",
            aria: { checked: false }
          )) do %>
            <span aria-hidden="true"><%= discussion_category_emoji_tag(category, classes: "f5 mr-2 ml-4") %></span>
            <span class="color-fg-default"><%= category %></span>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
</ul>
