<div class="container-xl p-responsive position-relative py-9 py-md-12 position-relative">
  <div class="d-flex flex-row flex-wrap flex-items-center gutter gutter-spacious position-relative z-1">
    <div class="col-12 col-md-6 position-relative z-2">
      <h2 class="h2-mktg text-gradient-red-orange pb-3 pr-lg-7">
        Safe and secure by design
      </h2>
      <p class="f3-mktg color-fg-muted col-6-max">
        Security is at the core of everything we do. When you're busy building the Next Great Thing, you don't want to worry about the security of your data, much less your development platform. That’s our job.
      </p>
      <% if show_security_pdf == true %>
        <a href="#todo" class="link-mktg color-fg-default f3-mktg mt-3 py-1 mt-md-4" target="_blank" download>
          Download GitHub’s security whitepaper&nbsp;<%= svg("modules/site/icons/chevrow.svg") %>
        </a>
      <% end %>
    </div>
    <% if show_security_pdf == true %>
      <div class="col-12 col-md-6 mt-9 mt-md-0">
        <div class="position-relative mx-auto" style="max-width: 280px;">
          <picture>
            <source srcset="<%= image_path "modules/site/security/platform/slack-whitepaper-placeholder.webp" %>" type="image/webp">
            <img
              src="<%= image_path "modules/site/security/platform/slack-whitepaper-placeholder.jpg" %>"
              alt=""
              aria-hidden="true"
              width="280"
              height="362"
              class="mx-auto position-relative z-1" loading="lazy" decoding="async">
          </picture>
          <img
            src="<%= image_path "modules/site/security/platform/security-design-glow.png" %>"
            alt=""
            aria-hidden="true"
            width="782"
            height="671"
            class="height-auto position-absolute d-block"
            style="width: calc(100% + 500px); top: -50%; left: -200px; max-width: none;" loading="lazy" decoding="async">
        </div>
      </div>
    <% end %>
  </div>

  <img
    src="<%= image_path "modules/site/security/platform/security-design-grid.svg" %>"
    alt=""
    aria-hidden="true"
    width="1190"
    height="892"
    style="max-width: 1190px;"
    class="col-10 height-auto position-absolute d-block bottom-0 right-0" loading="lazy">
</div>
