<div class="position-relative py-12 overflow-hidden" <%= mktg_color_theme_attributes %> data-hpc>
  <%= render Site::ImageComponent.new(src: image_path("modules/site/security/platform/security-hero-bg.jpg"), lazy: false, width: 1600, height: 744, classes: "width-full height-full object-fit-cover position-absolute d-block top-0 left-0", sizes: "100vw", alt: "") %>

  <img
    src="<%= image_path "modules/site/security/platform/security-hero-spice.png" %>"
    alt=""
    aria-hidden="true"
    width="700"
    height="273"
    style="max-width: 700px;"
    class="col-6 height-auto position-absolute z-1 d-block top-0 right-0">

  <img
    src="<%= image_path "modules/site/security/platform/secuirty-hero-spice-2.png" %>"
    alt=""
    aria-hidden="true"
    width="232"
    height="234"
    style="max-width: 232px;"
    class="col-4 height-auto position-absolute z-1 d-block bottom-n7 right-n7 bottom-md-3 right-md-7">

  <div class="container-xl p-responsive position-relative z-2 py-md-7">
    <div class="f2-mktg color-fg-muted">
      GitHub Security
    </div>
    <h1 class="h0-mktg mb-3 color-fg-default">
      Trusted by millions <br class="d-none d-sm-block">of developers
    </h1>
    <p class="col-7-max f2-mktg mb-4 pr-lg-7 color-fg-muted">
      We protect and defend the most trustworthy platform for developers everywhere to create and build software.
    </p>

    <%= render Site::ButtonComponent.new(text: "Explore GitHub Advanced Security",
      url: feature_enabled_globally_or_for_current_user?(:site_security_react) ? "/enterprise/advanced-security" : "https://resources.github.com/contact/security/?utm_source=github&utm_medium=site&utm_campaign=2022q2-resources-site-ww-Security-Contact-Request&utm_content=AdvancedSecurity",
      classes: "mr-3 mb-3 mb-sm-0",
      analytics: {
        category: "GitHub Advanced Security",
        ref_loc: "security hero"
      }) %>

    <%= render Site::ButtonComponent.new(text: "Contact Sales",
      url: enterprise_contact_requests_path(
        ref_page: request.fullpath,
        ref_cta: url_encode("Contact Sales"),
        ref_loc: url_encode("security platform page"),
        utm_source: "github",
        utm_medium: "site",
        utm_campaign: "2022q2-resources-site-ww-Security-Contact-Request",
        utm_content: "Security",
        scid: ""
      ),
      classes: "mb-3 mb-sm-0",
      scheme: :muted,
      analytics: {
        ref_loc: "security hero"
      }) %>
  </div>
</div>
