<div class="container-xl p-responsive pb-9 pb-md-12 pt-8 position-relative z-1">
  <h2 class="h2-mktg text-gradient-red-orange pb-3">
    Latest in security
  </h2>
  <div class="d-flex flex-row flex-wrap gutter gutter-spacious mt-n4 mt-md-n6">
    <div class="col-12 col-sm-6 col-lg-4 mt-7 mt-md-12">
      <a href="https://www.businessinsider.com/github-hires-security-vp-former-nsa-jacob-depriest-2021-7" target="_blank" class="dev-policy-link-box arrow-target-mktg color-fg-default no-underline position-relative pb-3 d-flex flex-column height-full">
        <p class="f4-mktg color-fg-muted text-medium">
          GitHub Security Team News
        </p>
        <h3 class="h5-mktg text-semibold mb-3">
          GitHub just hired a 15-year NSA veteran as its new security VP as it aims to beef up its response to open source security threats
        </h3>
        <p class="mb-8 color-fg-muted">
          Meet Jacob DePriest, GitHub’s new VP of security, who will be helping further our mission to secure open source software.
        </p>
        <span class="mt-auto">
          Learn more about Jacob&nbsp;<%= svg("modules/site/icons/chevrow.svg") %>
        </span>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-7 mt-md-12">
      <a href="<%= GitHub.blog_url %>/2021-06-25-seven-years-github-security-bug-bounty-program/" class="dev-policy-link-box arrow-target-mktg color-fg-default no-underline position-relative pb-3 d-flex flex-column height-full">
        <p class="f4-mktg color-fg-muted text-medium">
          GitHub Bug Bounty
        </p>
        <h3 class="h5-mktg text-semibold mb-3">
          Seven years of the GitHub Security Bug Bounty program
        </h3>
        <p class="mb-8 color-fg-muted">
          GitHub’s Bug Bounty turned seven this year, adding more private bounties and paying out over half a million dollars to security researchers.
        </p>
        <span class="mt-auto">
          Learn more about what’s to come for GitHub’s Bug Bounty&nbsp;<%= svg("modules/site/icons/chevrow.svg") %>
        </span>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-7 mt-md-12">
      <a href="<%= GitHub.blog_url %>/changelog/2021-07-19-codeql-code-scanning-new-severity-levels-for-security-alerts/" class="dev-policy-link-box arrow-target-mktg color-fg-default no-underline position-relative pb-3 d-flex flex-column height-full">
        <p class="f4-mktg color-fg-muted text-medium">
          Changelog
        </p>
        <h3 class="h5-mktg text-semibold mb-3">
          CodeQL code scanning: new severity levels for security alerts
        </h3>
        <p class="mb-8 color-fg-muted">
          CodeQL security alerts now include security severity levels to help you understand the risks posed by the issue alerted and enable you to set policies by severity level.
        </p>
        <span class="mt-auto">
          Learn more about this new feature&nbsp;<%= svg("modules/site/icons/chevrow.svg") %>
        </span>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-7 mt-md-12">
      <a href="<%= GitHub.blog_url %>/2021-06-10-privilege-escalation-polkit-root-on-linux-with-bug/" class="dev-policy-link-box arrow-target-mktg color-fg-default no-underline position-relative pb-3 d-flex flex-column height-full">
        <p class="f4-mktg color-fg-muted text-medium">
          Security Lab Research
        </p>
        <h3 class="h5-mktg text-semibold mb-3">
          Privilege escalation with polkit: How to get root on Linux with a seven-year-old bug
        </h3>
        <p class="mb-8 color-fg-muted">
        </p>
        <span class="mt-auto">
          Read the GitHub Blog&nbsp;<%= svg("modules/site/icons/chevrow.svg") %>
        </span>
      </a>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-7 mt-md-12">
      <a href="https://twitter.com/GitHubSecurity" target="_blank" class="dev-policy-link-box arrow-target-mktg color-fg-default no-underline position-relative pb-3 d-flex flex-column height-full ">
        <p class="f4-mktg color-fg-muted text-medium">
          GitHub Security Twitter
        </p>
        <h3 class="h5-mktg text-semibold mb-3">
          Latest tweets from GitHub’s Security team
        </h3>
        <p class="mb-8 color-fg-muted">
        </p>
        <span class="mt-auto">
          Follow us on Twitter&nbsp;<%= svg("modules/site/icons/chevrow.svg") %>
        </span>
      </a>
    </div>

  </div>
</div>
