<div class="container-xl p-responsive pt-9 pt-md-12">
  <h2 class="h2-mktg mt-6 col-6-max text-gradient-red-orange pb-3">
    Secure platform, secure data
  </h2>
  <p class="f3-mktg color-fg-muted col-6-max">
    We’re constantly improving our security, audit, and compliance solutions with you in mind.
  </p>
  <div class="d-flex flex-row flex-wrap gutter gutter-spacious">
    <div class="col-12 col-lg-8 d-flex flex-row flex-wrap gutter gutter-spacious">

      <div class="col-12 col-sm-6 mt-5 mt-md-7">
        <span class="circle color-bg-subtle color-fg-muted d-inline-block mb-3" style="padding: 20px;">
          <%= render(Primer::Beta::Octicon.new(icon: "shield-lock", size: :medium, style: "display: block")) %>
        </span>
        <h3 class="h5-mktg text-semibold mb-2">
          Platform
        </h3>
        <p class="color-fg-muted">
          We keep GitHub safe, secure, and free of spam and abuse so that this can be the platform where developers come together to create.  We do this through significant investments in platform security, incident response, and anti-abuse.
        </p>
      </div>

      <div class="col-12 col-sm-6 mt-5 mt-md-7">
        <span class="circle color-bg-subtle color-fg-muted d-inline-block mb-3" style="padding: 20px;">
          <%= render(Primer::Beta::Octicon.new(icon: "git-pull-request", size: :medium, style: "display: block")) %>
        </span>
        <h3 class="h5-mktg text-semibold mb-2">
          Open source
        </h3>
        <p class="color-fg-muted">
          Our GitHub Security Lab is a world-class security R&D team. We inspire and enable the community to secure open source at scale, so the world’s software we all depend on sits on foundations you can trust. Our ambition is to be the home where security researchers and developers can collaborate to make security easy for everyone willing to secure open source.
        </p>
      </div>

      <div class="col-12 col-sm-6 mt-5 mt-md-7">
        <span class="circle color-bg-subtle color-fg-muted d-inline-block mb-3" style="padding: 20px;">
          <%= render(Primer::Beta::Octicon.new(icon: "people", size: :medium, style: "display: block")) %>
        </span>
        <h3 class="h5-mktg text-semibold mb-2">
          Customers
        </h3>
        <p class="color-fg-muted">
          We help our customers' security and risk teams feel confident in their decisions to encourage developer collaboration on GitHub. We recognize that security is a shared responsibility with our customers. We are proud to partner with your security, risk, and procurement teams to provide the information needed for risk assessments and true understanding of our security and compliance posture.
        </p>
      </div>

      <div class="col-12 col-sm-6 mt-5 mt-md-7">
        <span class="circle color-bg-subtle color-fg-muted d-inline-block mb-3" style="padding: 20px;">
          <%= render(Primer::Beta::Octicon.new(icon: "rocket", size: :medium, style: "display: block")) %>
        </span>
        <h3 class="h5-mktg text-semibold mb-2">
          Features
        </h3>
        <p class="color-fg-muted">
          Ship secure applications within the GitHub flow: Stay ahead of security issues, leverage the security community’s expertise, and use open source securely.
        </p>
        <a href="<%= GitHub.help_url(skip_enterprise: true) %>/get-started/learning-about-github/about-github-advanced-security" class="link-mktg color-fg-default mt-3">
          Explore GitHub Advanced Security&nbsp;<%= svg("modules/site/icons/chevrow.svg") %>
        </a><br>
        <a href="/features/security" class="link-mktg color-fg-default">
          Learn more about GitHub’s Security features&nbsp;<%= svg("modules/site/icons/chevrow.svg") %>
        </a>
      </div>

    </div>

    <div class="col-12 col-lg-4 mt-5 mt-md-7">
      <span class="circle color-bg-subtle color-fg-muted d-inline-block mb-3" style="padding: 20px;">
        <%= render(Primer::Beta::Octicon.new(icon: "code-review", size: :medium, style: "display: block")) %>
      </span>
      <h3 class="h5-mktg text-semibold mb-2">
        Products
      </h3>
      <p class="color-fg-muted">
        We embody the shift toward investments in safe and secure software design practices with our world-class security engineering program. We embed security expertise and capabilities into every phase of our Software Development Lifecycle.
      </p>
      <p class="color-fg-muted">
        Our Product Security Engineering team empowers developers to  create a secure platform and products. Through developer training, the creation of components that form a secure foundation to build on, automated code analysis, in-depth threat modeling, and security code review and testing, we prevent vulnerabilities as early as possible in the development lifecycle.
      </p>
      <p class="color-fg-muted">
        Once our product is out the door, our security testing doesn’t stop. In addition to our internal Red Team, we leverage the collective expertise of the security research community through our <a href="https://bounty.github.com/" class="color-fg-default text-underline">Bug Bounty program</a> to provide ongoing and broadly-scoped review.
      </p>
      <a href="https://bounty.github.com/" class="link-mktg color-fg-default mt-3">
        Help us keep the world’s software safe&nbsp;<%= svg("modules/site/icons/chevrow.svg") %>
      </a>
    </div>

  </div>
</div>
