<div class="container-xl p-responsive position-relative py-9 py-md-12 z-1">
  <h2 class="h2-mktg mt-6 col-6-max text-gradient-red-orange pb-3">
    World-renowned security program
  </h2>
  <p class="f3-mktg color-fg-muted col-6-max">
    We aim to exceed industry standards for security.
  </p>
  <div class="d-flex flex-row flex-wrap gutter gutter-spacious">

    <div class="col-12 col-sm-6 col-lg-4 mt-6 mt-md-9 d-flex flex-column flex-items-start">
      <span class="circle color-border-default color-fg-muted border d-inline-block mb-3" style="padding: 18px; border-width: 2px !important;">
        <%= render(Primer::Beta::Octicon.new(icon: "lock", size: :medium, style: "display: block")) %>
      </span>
      <h3 class="h5-mktg text-semibold mb-2">
        Data privacy
      </h3>
      <p class="color-fg-muted mb-3">
        GitHub is committed to developer privacy and provides a high standard of privacy protection to all our developers and customers. We apply stringent individual privacy protections to all GitHub users worldwide, regardless of their country of origin or location. <a class="Link--inTextBlock" href="<%= GitHub.help_url(skip_enterprise: true) %>/articles/github-privacy-statement">Read more about our Global Privacy Practices.</a>
      </p>
      <%= render Site::LinkComponent.new(
        url: "#{GitHub.help_url(skip_enterprise: true)}/articles/github-privacy-statement",
        text: "Read our Privacy Statement",
        classes: "mt-auto",
        size: :medium
      ) %>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-6 mt-md-9 d-flex flex-column flex-items-start">
      <span class="circle overflow-hidden d-inline-block mb-3">
        <picture>
          <source srcset="<%= image_path "modules/site/security/platform/logo-soc.webp" %>" type="image/webp">
          <img
            src="<%= image_path "modules/site/security/platform/logo-soc.jpg" %>"
            alt=""
            aria-hidden="true"
            width="64"
            height="64"
            style="max-width: 64px;" loading="lazy" decoding="async">
        </picture>
      </span>
      <h3 class="h5-mktg text-semibold mb-2">
        SOC 1 and SOC 2
      </h3>
      <p class="color-fg-muted mb-3">
        GitHub offers AICPA System and Organization Controls (SOC) 1 Type 2 and SOC 2 Type 2 reports  with IAASB International Standards on Assurance Engagements, ISAE 2000, and ISAE 3402 for GitHub Enterprise Cloud. <a class="Link--inTextBlock" href="<%= image_path "modules/site/security/2023-GitHub-SOC-3-Report.pdf" %>" target="_blank" rel="noopener noreferrer">View the SOC 3 report for GitHub Enterprise Cloud</a>.
      </p>
      <%= render Site::LinkComponent.new(
        url: "#{GitHub.blog_url}/changelog/2021-05-12-github-enterprise-cloud-self-service-compliance-reports-have-moved",
        text: "Learn more about our SOC reports",
        classes: "mt-auto",
        size: :medium
      ) %>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-6 mt-md-9 d-flex flex-column flex-items-start">
      <picture>
        <source srcset="<%= image_path "modules/site/security/platform/logo-fr.webp" %>" type="image/webp">
        <img
          src="<%= image_path "modules/site/security/platform/logo-fr.jpg" %>"
          alt=""
          aria-hidden="true"
          width="64"
          height="64"
          class="mb-3" style="max-width: 64px;" loading="lazy" decoding="async">
      </picture>
      <h3 class="h5-mktg text-semibold mb-2">
        FedRAMP LI-Saas Authorization to Operate (ATO)
      </h3>
      <p class="color-fg-muted mb-3">
        Government users can host projects on GitHub Enterprise Cloud with the confidence that our platform meets the low impact software-as-a-service (SaaS) baseline of security standards set by our U.S. federal government partners.
      </p>
      <%= render Site::LinkComponent.new(
        url: "https://government.github.com/",
        text: "Explore how GitHub works with governments",
        classes: "mt-auto",
        size: :medium
      ) %>
    </div>

  </div>
  <div class="d-flex flex-row flex-wrap gutter gutter-spacious">
    <div class="col-12 col-sm-6 col-lg-4 mt-6 mt-md-9 d-flex flex-column flex-items-start">
      <picture>
        <source srcset="<%= image_path "modules/site/security/platform/logo-csa.webp" %>" type="image/webp">
        <img
          src="<%= image_path "modules/site/security/platform/logo-csa.jpg" %>"
          alt=""
          aria-hidden="true"
          width="122"
          height="64"
          class="mb-3" style="max-width: 122px;" loading="lazy" decoding="async">
      </picture>
      <h3 class="h5-mktg text-semibold mb-2">
        Cloud Security Alliance
      </h3>
      <p class="color-fg-muted mb-3">
        GitHub is a Trusted Cloud Provider(™) with the Cloud Security Alliance (CSA). GitHub has completed the self-assessment of the Consensus Assessment Initiative Questionnaire (CAIQ) required for Level 1 of the CSA STAR Registry. GitHub has also completed the third-party independent assessment required for Level 2 STAR Certification for ISO/IEC 27001:2013 in the CSA STAR Registry.
      </p>
      <%= render Site::LinkComponent.new(
        url: "https://cloudsecurityalliance.org/star/registry/github-inc/",
        text: "Learn more about GitHub and CSA",
        classes: "mt-auto",
        size: :medium
      ) %>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-6 mt-md-9 d-flex flex-column flex-items-start">
      <span class="circle color-border-default color-fg-muted border d-inline-block mb-3" style="padding: 18px; border-width: 2px !important;">
        <%= render(Primer::Beta::Octicon.new(icon: "globe", size: :medium, style: "display: block")) %>
      </span>
      <h3 class="h5-mktg text-semibold mb-2">
        ISO Standards
      </h3>
      <p class="color-fg-muted mb-3">
        GitHub's Information Security Management System (ISMS) has been certified against the ISO/IEC 27001:2013 standard. GitHub recognizes and supports that ISO/IEC 27001:2013 is the basis for many of our international customers’ programs.
      </p>
      <%= render Site::LinkComponent.new(
        url: "https://www.iso.org/standard/54534.html",
        text: "Learn more about ISO/IEC standards",
        classes: "mt-auto",
        size: :medium
      ) %>
    </div>
  </div>
</div>
