<li class="table-list-item position-relative" <%= test_selector "ip-allowlist-entry-#{entry.id}" %>>
  <div class="table-list-cell v-align-text-top wb-break-word pl-3">
    <strong class="<% if entry.active? && !override_disabled %>color-fg-default<% end %>"><%= entry.allow_list_value %></strong>
    <% if !entry.active? || override_disabled %>
      <%= render Primer::Beta::Label.new(
        scheme: :primary,
        ml: 2,
        title: "Label: Disabled",
        test_selector: "ip-allowlist-entry-disabled-label") do %>
        Disabled
      <% end %>
    <% end %>
  </div>

  <div class="table-list-cell v-align-text-top" <%= test_selector "ip-allowlist-entry-description" %>>
    <span class="color-fg-muted"><%= entry_description %></span>
  </div>

  <div class="table-list-cell v-align-text-top text-right pr-3">
    <div class="BtnGroup d-inline-flex text-left">
      <% if owner == entry.owner %>
        <details class="details-reset details-overlay d-inline-block BtnGroup-parent position-relative">
          <%= render(Primer::Beta::Button.new(
            tag: :summary,
            type: :button,
            role: :button,
            size: :small,
            test_selector: "ip-allowlist-entry-edit-button",
            classes: "BtnGroup-item"
          )) { "Edit" } %>

          <div class="Popover right-0 mt-6">
            <div class="Popover-message Popover-message--top-right Box p-3 color-shadow-large" style="width: 600px">
              <%= form_for entry, url: resolve_ip_allowlist_entry_path(entry), html: { class: "d-flex" } do |f| %>
                <%= render partial: "ip_allowlist_entries/edit_entry",
                  object: entry, as: :entry, locals: { f: f } %>
              <% end %>
            </div>
          </div>
        </details>
        <% if entry.active? %>
          <%= button_to "Disable",
            resolve_ip_allowlist_entry_path(entry),
            params: { ip_allowlist_entry: { active: false } },
            class: "btn BtnGroup-item btn-sm",
            method: :patch,
            form_class: "BtnGroup-parent",
            data: test_selector_hash("ip-allowlist-entry-disable-button") %>
        <% else %>
          <%= button_to "Enable",
            resolve_ip_allowlist_entry_path(entry),
            params: { ip_allowlist_entry: { active: true } },
            class: "btn BtnGroup-item btn-sm",
            method: :patch,
            form_class: "BtnGroup-parent",
            data: test_selector_hash("ip-allowlist-entry-enable-button") %>
        <% end %>

        <%= render(Primer::Alpha::Dialog.new(
          title: "Are you sure you want to delete this entry?",
          id: "delete-entry-#{entry.id}"
        )) do |d| %>
          <% d.with_show_button(
            size: :small,
            scheme: :danger,
            test_selector: "ip-allowlist-entry-delete-button",
            display: :inline_block,
            classes: "BtnGroup-item rounded-left-0"
          ) { "Delete" } %>
          <% d.with_header(show_divider: true) %>
          <% d.with_body(mt: 3) do %>
            This will permanently delete the IP allow list entry for <strong><%= entry.allow_list_value %></strong>.
          <% end %>
          <% d.with_footer(show_divider: true) do %>
            <%= form_tag resolve_ip_allowlist_entry_path(entry), method: :delete do %>
              <%= render(Primer::Beta::Button.new(
                type: :submit,
                scheme: :danger,
                block: true,
                data: { "disable-with": "" }
              )) { "Yes, delete this IP allow list entry" } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
