<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info(responsive: false, selected_link: :business_connect_settings) %>
<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      GitHub Connect
    <% end %>
    <% component.with_description do %>
      GitHub Connect lets you share specific features and workflows between your
      GitHub Enterprise instance and a GitHub.com enterprise organization. The
      connection must originate from your Enterprise instance.
    <% end %>
  <% end %>
  <% if org_enterprise_installations.empty? %>
    <div class="border rounded-2 d-flex flex-column flex-items-center p-5 color-shadow-small">
      <%= svg("site/icons/enterprise-cloud.svg", width: "72", height: "72", class: "mb-3") %>
      <h3 class="mb-1">No Enterprise Server connections yet</h3>
      <p class="color-fg-muted">
        You must first establish a connection from your Enterprise instance.
        <%= link_to "Learn more about GitHub Connect",
          "#{GitHub.enterprise_admin_help_url}/installation/connecting-github-enterprise-server-to-github-enterprise-cloud", class: "Link--inTextBlock" %>
      </p>
    </div>
  <% else %>
    <%= render partial: "enterprise_installations/usage_metrics_export", locals: {
      stats_export_url: settings_enterprise_installation_stats_export_url(current_organization),
      this_business: current_organization
    } if current_organization.has_s4_stats? %>

    <div class="d-flex pb-2 border-bottom mt-6">
      <div class="col-4">
        <span class="text-small text-uppercase color-fg-muted">
          <%= number_with_delimiter org_enterprise_installations.count %>
          <%= pluralize_without_number org_enterprise_installations.count, "server" %>
          connected
        </span>
      </div>
      <div class="col-6">
        <span class="text-small text-uppercase color-fg-muted">Hostname</span>
      </div>
    </div>
    <% org_enterprise_installations.each do |installation| %>
      <div class="d-flex py-3 border-bottom flex-items-center">
        <div class="col-4 d-flex flex-items-center">
          <div class="d-flex">
            <%= primer_octicon(:server, size: :medium, mr: 3) %>
            <strong><%= installation.customer_name %></strong>
          </div>
        </div>
        <div class="col-6 d-flex flex-items-center">
          <div class="d-flex">
            <strong><%= installation.host_name %></strong>
          </div>
        </div>
        <div class="col-2 clearfix">
          <div class="float-right">
            <%= render layout: "shared/details_dialog", locals: {
              button_text: "Disconnect",
              button_class: "btn btn-sm btn-danger",
              title: "Disconnect Enterprise Server installation?"
            } do %>
              <div class="Box-body f5">
                Are you sure that you want to disconnect the
                <strong><%= installation.host_name %></strong>
                GitHub Enterprise installation?
              </div>
              <div class="Box-footer text-center">
                <%= form_tag organization_enterprise_installation_delete_path(current_organization, installation), method: :delete do %>
                  <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>
                    Yes, disconnect installation
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
