<%
  default_hydro_payload = {
    repository_action_id: database_id,
    source_url: request.url,
    location: controller.controller_name + "#" + controller.action_name
  }
  hydro_data ||= hydro_click_tracking_attributes("marketplace.action.click", default_hydro_payload)

  stars = action_viewdata.stars
  hide_social_proof ||= false
  show_social_proof = stars && (stars >= ::RepositoryAction::MIN_STARS_FOR_SOCIAL_PROOF) &&
    !hide_social_proof
  dependents_count = action_viewdata.dependents_count
  show_dependents_count = GitHub.flipper[:dependents_count_marketplace].enabled?(current_user) && dependents_count && dependents_count > 0

  action_owner_login = action_viewdata.owner_login
%>

<% if !action.action_package_listed || (GitHub.flipper[:action_package_marketplace].enabled?(current_user) && action.action_package_listed) %>
  <%= content_tag(:a, href: resource_path, data: hydro_data, class: "col-md-6 mb-4 d-flex no-underline") do -%>
    <div>
      <% if action.primary_avatar.present? %>
        <%= marketplace_logo(name: action.name, logo_url: action.primary_avatar_url(62), bgcolor: action.icon_color, classes: "CircleBadge--small", by_github: false) %>
      <% else %>
        <div style ="background-color: #<%= action.color %>" class="CircleBadge CircleBadge--small">
          <%= action_icon(name: action_viewdata.name, icon_name: action.icon_name, color: action.icon_color, owner: action_owner_login) %>
        </div>
      <% end %>
    </div>
    <div class="px-3" <%= test_selector("action-link-content") %>>
      <h3 class="h4 wb-break-word"><%= action_viewdata.name %></h3>
      <% if action_owner_login.present? %>
        <p class="color-fg-muted text-small lh-condensed mb-1">By <span class="color-fg-muted"><%= action_owner_login %></span></p>
        <% if action_viewdata.is_verified_owner %>
          <%# erblint:counter TooltipCounter 1 %>
          <span>
            <%= primer_octicon(:verified, color: :accent) %> Creator verified by GitHub
          </span>
        <% end %>
      <% end %>
      <p class="color-fg-muted lh-condensed wb-break-word mb-0"><%= action_viewdata.description %></p>
       <% if action.partnership_managed? %>
            <%= render Primer::Beta::Label.new(scheme: :secondary, mt: 1, title: "Label: Recommended") do %>
              GitHub Partner
            <% end %>
          <% end %>
      <% if show_social_proof %>
        <%= render(Primer::Beta::Octicon.new(icon: "star", size: :small, color: :muted)) %>
        <span class="text-small color-fg-muted text-bold"><%= social_count(stars) %> stars</span>
      <% end %>
      <% if show_dependents_count %>
        <% dependents_count_text = dependents_count > 1 ? "#{social_count(dependents_count)} repos using this" : "1 repo using this" %>
        <%= render(Primer::Beta::Octicon.new(icon: "repo-forked", size: :small, color: :muted)) %>
        <span class="text-small color-fg-muted text-bold"><%= dependents_count_text %> </span>
      <% end %>
    </div>
  <% end %>
<% end %>
