<%
  version = selected_version.presence || latest_version
  uses_value = "#{repository_action.external_uses_path_prefix}#{version}"
%>

 <%= render(Primer::Alpha::Dialog.new(
  id: "marketplace-action-install-dialog",
  title: repository_action.name,
  size: :large,
  position: :center,
  visually_hide_title: :false)) do |dialog| %>
    <% dialog.with_header do %>
      <div class="d-flex flex-items-center">
        <div class="pr-3">
          <div style ="background-color: #<%= repository_action.color %>" class="CircleBadge CircleBadge--small mx-auto mb-2">
            <%= action_icon(name: repository_action.name, icon_name: repository_action.icon_name, color: repository_action.icon_color, owner: repository.owner_display_login) %>
          </div>
        </div>
        <div class="flex-auto lh-condensed">
          <h3 class="h4 lh-condensed"><%= repository_action.name %></h3>
          <p class="color-fg-muted lh-condensed mb-2"><%= repository_action.description %></p>
        </div>
      </div>
    <% end %>
    <% dialog.with_body do %>
        <div class="overflow-auto p-4" style="margin-top: -25px !important;">

          <h2 class="text-uppercase h6">Installation</h2>
          <p class="text-small color-fg-muted">Copy and paste the following snippet into your <span class="text-mono">.yml</span> file.</p>

          <div class="copyable-terminal mb-2">
            <div class="copyable-terminal-button">
              <%= render Primer::Beta::ClipboardCopy.new(for: "action-text#{ repository_action.global_relay_id }", "data-copy-feedback": "Copied!", "aria-label": "Copy to clipboard", position: :absolute, m: 2, top: 0, right: 0, classes: "ClipboardButton btn btn-sm") %>
            </div>
            <pre id="action-text<%= repository_action.global_relay_id %>" style="overflow-x: scroll; line-height: 5px; margin-bottom: -15px !important;">
              <p>- name: <%= repository_action.name %></p>
              <p>  uses: <%= uses_value %></p>
            </pre>
          </div>
          <a href="<%= repository_url(repository) %>" class="text-small">
            Learn more about this action in <strong><%= repository.name_with_display_owner %></strong>
          </a>
        </div>
    <% end %>
  <% end %>
