<%
  categories = repository_action.regular_categories + repository_action.filter_categories
  action_owner_login = repository.owner_display_login
%>

<aside class="col-lg-3 col-md-4 float-md-left mt-6">
  <% if repository_action.verified_owner? %>
    <div class="py-3">
      <h5 class="mb-2 text-mono text-normal color-fg-muted">
        <%= primer_octicon(:verified, color: :accent) %>
        Verified creator
      </h5>

      <p class="text-small color-fg-muted">
        GitHub has verified that this action was created by
        <%= link_to action_owner_login, user_path(repository.owner_display_login), class: "Link--primary text-bold", data: repository.owner.is_a?(Organization) ? hovercard_data_attributes_for_org(login: repository.owner_display_login) : hovercard_data_attributes_for_user_login(repository.owner_display_login) %>.
      </p>

      <p class="text-small"><a class="Link--inTextBlock" href="<%= "#{GitHub.help_url}/actions/automating-your-workflow-with-github-actions/using-github-marketplace-actions" %>">Learn more about verified Actions</a>.</p>
    </div>
  <% end %>

  <div class="pb-3 d-flex flex-column">
    <h5 class="mb-2 text-mono text-normal color-fg-muted">Stars</h5>
    <%= render Stars::ButtonComponent.new(
        entity: repository,
        show_count: true,
        override_flex_display: true,
        form_flex_class: ""
      ) do |c| c.with_list_menu end %>
  </div>

  <div class="pb-3">
    <h5 class="mb-2 text-mono text-normal color-fg-muted">Contributors</h5>
    <div class="ml-n1 clearfix">
      <% top_contributors.each do |user| %>
        <%= link_to user_path(user) do %>
          <%= avatar_for(user, 32, class: "avatar ml-1 mt-1 float-left", data: hovercard_data_attributes_for_user_login(user.display_login)) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if categories.any? %>
    <div class="py-3">
      <h5 class="mb-2 text-mono text-normal color-fg-muted">Categories</h5>
      <div class="ml-n1 clearfix">
        <% categories.each do |category| %>
          <%= render(Topics::TagComponent.new(
            name: category.name,
            href: marketplace_category_path(category.slug),
            font_size: 6,
            outline: category.acts_as_filter?,
            title: "Category: #{category.name}"
          )) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="py-3 border-bottom color-border-muted">
    <h5 class="text-mono text-normal color-fg-muted mb-2">Links</h5>

    <a href="<%= repository_url(repository) %>" class="d-block mb-2">
      <%= primer_octicon(:repo, color: :default, mr: 2) %><%= repository.name_with_display_owner %>
    </a>

    <% if repository.has_issues? %>
      <%= link_to issues_path(repository.owner_display_login, repository.name), class: "d-block mb-2" do %>
        <%= primer_octicon(:"issue-opened", color: :default, mr: 2) %>Open issues
        <%= render Primer::Beta::Counter.new(count: repository.open_issue_count_for(current_user), limit: 5_000, float: :right) %>
      <% end %>
    <% end %>

    <%= link_to pull_requests_path(repository.owner_display_login, repository.name), class: "d-block mb-2" do %>
      <%= primer_octicon(:"git-pull-request", color: :default, mr: 2) %>Pull requests
      <%= render Primer::Beta::Counter.new(count: repository.open_pull_request_count_for(current_user), limit: 5_000, float: :right) %>
    <% end %>

    <%= link_to flavored_contact_path(report: "#{repository_action.name} (GitHub Action)", flavor: "report-abuse"), class: "d-block mb-2" do %>
      <%= primer_octicon(:report, color: :default, mr: 2) %>Report abuse
    <% end %>
  </div>

  <% unless repository.owner_display_login == RepositoryAction::ACTIONS_ORG_NAME %>
    <p class="color-fg-muted text-small mt-3" <%= test_selector("certified-notice") %>>
      <strong><%= repository_action.name %></strong> is not certified by GitHub. It is provided by a third-party and is governed by separate terms of service, privacy policy, and support documentation.
    </p>
  <% end %>
</aside>
