<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  current_release = selected_release || latest_release
  selected_release_is_latest = selected_release&.tag_name == latest_release.tag_name
  action_owner_login = repository.owner_display_login
%>

<% page_info \
  title: "#{repository_action.name} · Actions · GitHub Marketplace",
  stafftools: biztools_repository_action_path(repository_action.id),
  description: repository_action.description,
  canonical_url: marketplace_action_url(repository_action.slug),
  container_xl: true,
  richweb: {
    title: "#{repository_action.name} - GitHub Marketplace",
    url: request.original_url,
    description: repository_action.description,
    image: repository.open_graph_image_url(current_user)
  }
%>

<div class="pb-6">
  <div class="container-lg p-responsive">
    <div class="py-3 d-flex">
      <%= render(Primer::Beta::Breadcrumbs.new(flex: :auto)) do |component| %>
        <% component.with_item(href: marketplace_path) do %>Marketplace<% end %>
        <% component.with_item(href: marketplace_path(type: "actions")) do %>Actions<% end %>
        <% component.with_item(href: request.path) do %><%= repository_action.name %><% end %>
      <% end %>
      <%= render partial: "marketplace/actions/delist_button", locals: {
            action_id: repository_action.global_relay_id,
            action_slug: repository_action.slug,
            repo_viewer_can_administer: repository.adminable_by?(current_user),
          }
      %>
    </div>

    <% if selected_release.present? && !selected_release_is_latest %>
      <%= render Primer::Beta::Flash.new(scheme: :warning) do %>
        <div class="container-lg">
          <%= primer_octicon(:alert) %>
          You're viewing an older version of this GitHub Action. Do you want to see the <%= link_to "latest version", marketplace_action_path(repository_action.slug), class: "Link--inTextBlock" %> instead?
        </div>
      <% end %>
    <% end %>

    <div class="flex-column  flex-md-row d-flex flex-md-items-center pt-6 flex-justify-between">
      <div class="d-flex flex-column flex-md-row flex-items-center flex-justify-center flex-md-justify-start text-center text-md-left">
        <div class="CircleBadge CircleBadge--medium color-shadow-large mb-4 mb-md-0" style="background-color: #<%= repository_action.color %>; min-width: 96px;">
        <% if repository_action.primary_avatar.present? && GitHub.flipper[:marketplace_action_avatar_upload].enabled?(repository.owner) && repository.adminable_by?(current_user) %>
          <%= marketplace_logo(name: repository_action.name, logo_url: repository_action.primary_avatar_url(62), bgcolor: repository_action.icon_color, classes: "CircleBadge--large mx-auto color-shadow-large mt-1", by_github: false) %>
        <% else %>
          <%= action_icon(name: repository_action.name, icon_name: repository_action.icon_name, color: repository_action.icon_color, size: "43%", owner: action_owner_login) %>
        <% end %>

        </div>
        <div class="pl-md-3 lh-default">
          <h3 class="text-mono f4 text-normal color-fg-muted">GitHub Action</h3>
          <h1 class="f1 text-normal mb-1"><%= repository_action.name %></h1>
          <div class="d-flex flex-items-center flex-justify-center flex-md-justify-start">

            <%= primer_octicon(:tag) %>
            <span class="mx-2"><%= current_release.tag_name %></span>

            <% if current_release.prerelease? %>
              <%= render Primer::Beta::Label.new(scheme: :severe, mx: 2) do %>Pre-release<% end %>
            <% elsif selected_release.nil? || selected_release_is_latest %>
              <%= render Primer::Beta::Label.new(scheme: :success, mx: 2) do %>Latest version<% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="d-flex flex-justify-center mt-4 mt-md-0">
        <%= render(Primer::Beta::ButtonGroup.new(size: :large, scheme: :primary)) do |component| %>
          <% payload = {repository_action_id: repository_action.global_relay_id, source_url: request.url, location: controller.controller_name + "#" + controller.action_name} %>
          <% component.with_button(
            "data-show-dialog-id": "marketplace-action-install-dialog",
            data: hydro_click_tracking_attributes("marketplace.action.click", payload),
            test_selector: "marketplace-actions-install-button"
          ) do %>
            Use <%= selected_version.presence ? selected_version : "latest version" %>
          <% end %>
          <% component.with_button("data-show-dialog-id": "marketplace-version-picker", test_selector: "version-open-dialog-button") do %>
            <%= primer_octicon(:"triangle-down", :"aria-label" => "Choose a version") %>
          <% end %>
        <% end %>
        <%= render partial: "marketplace/actions/code_snippet", locals: { repository: repository, repository_action: repository_action, latest_version: latest_release.tag_name, selected_version: selected_version } %>
        <%= render "marketplace/actions/version_switcher", repository_action: repository_action, releases: releases, selected_version: selected_version %>
      </div>
    </div>

    <div class="clearfix">
      <div class="col-lg-9 col-md-8 float-md-left pr-lg-6 pr-md-5 mt-6 mb-6 mb-md-0">
        <% if readme_html %>
          <div class="markdown-body">
            <%= readme_html %>
          </div>
        <% else %>
          <%= render Primer::BlankslateComponent.new(
            title: "No description",
            spacious: true,
            mb: 3,
          ) do %>
            <p>This GitHub Action has no README in the repository. If <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/about-readmes/">one is added</a>, it will appear here.</p>
          <% end %>
        <% end %>

      </div>

      <%= render partial: "marketplace/actions/sidebar", locals: { repository_action: repository_action, repository: repository, top_contributors: top_contributors } %>
    </div>
  </div>
</div>
