<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% repositories_count = view.repo_count %>

<% if repositories_count > 0 %>
  <div class="Box my-4 mx-3 overflow-auto team-repo-access-list">
    <%= render Primer::Beta::Flash.new(full: true, scheme: :warning, border: :bottom) do %>
      Through this team, this member will receive
      <strong>access to <%= number_with_delimiter repositories_count %> <%= pluralize_without_number repositories_count, "repository" %></strong>
      within the <strong><%= view.team.organization.display_login %> organization</strong>, and their forks as well.
    <% end %>
    <% view.repositories.each do |repo| %>
      <div class="Box-row d-flex">
        <div class="flex-auto" <%= test_selector("accessible-to-members-repo-name") %>>
          <%= link_to repository_path(repo) do %>
            <span><%= repo.owner.display_login %>/<strong><%= repo.name %></strong></span>
          <% end %>
          <% network_count = repo.network_count %>
          <% if network_count > 0 %>
            <span <%= test_selector("accessible-to-members-repo-forks-page-link") %>>
              <%= render Primer::Beta::Octicon.new(icon: :"repo-forked", size: :small, ml: 2, color: :muted) %>
              <%= link_to forks_path(repo.owner_display_login, repo.name) do %>
                <%= number_with_delimiter network_count %> <%= pluralize_without_number network_count, "fork" %>
              <% end %>
            </span>
          <% end %>
        </div>
        <div>
          <% role = view.roles[repo.id] %>
          <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: #{role}", test_selector: "accessible-to-members-repo-role") do %>
            <%= role %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if view.more_repositories_to_view? %>
      <div class="Box-row text-center">
        <%= link_to "View all #{ number_with_delimiter repositories_count } repositories", team_repositories_path(view.team) %>
      </div>
    <% end %>
  </div>
<% end%>

<% if view.org_role_count > 0 %>
  <div class="Box my-4 mx-3 overflow-auto">
    <%= render Primer::Beta::Flash.new(full: true, scheme: :warning, border: :bottom) do %>
      Through this team, this member will receive <strong>permissions from
      <%= number_with_delimiter view.org_role_count %> <%= pluralize_without_number view.org_role_count, "organization role" %>
      </strong>
      within the <strong><%= view.team.organization.display_login %> organization</strong>.
    <% end %>
    <% view.organization_roles.each do |role| %>
      <div class="Box-row d-flex">
        <div class="flex-auto" <%= test_selector("accessible-to-members-org-role-#{role.id}") %>>
          <%= link_to settings_org_roles_path(view.team.organization) do %>
            <span><strong><%= role.name %></strong></span>
          <% end %>
          <% if role.description %>- <span><%= role.description %></span><% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= form_tag view.action_type == "approve_request" ? approve_team_membership_request_path(
  view.team.organization,
  view.team,
  requester: view.member_name,
  return_to: view.return_to
) : team_members_path(view.team), class: "mx-3 mb-3" do %>
  <input type="hidden" name="member" value="<%= view.member_name %>">
  <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, block: true) do %>Add <%= view.member_name %> to
    <span class="css-truncate css-truncate-target"><%= view.team_name %></span>
  <% end %>
<% end %>
