<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= primer_octicon(:repo, height: 30, display: :block, mx: :auto, mt: 2, color: :muted) %>

<div class="f3 text-center mt-3 mx-3">
  Add repository to <strong><%= name %></strong>
  <p class="px-3 mt-1 mb-0 color-fg-muted f6">Only repositories that you have admin privileges for can be added.</p>
</div>

<% if has_all_repo_role %>
  <%= render Primer::Alpha::Banner.new(scheme: :default, icon: :info, my: 3, mx: 3) do %>
    This team already has access to all repositories in the <%= org.name %> organization via organization role assignment.
  <% end %>
<% end %>

<%= form_tag team_repo_path, class: "input-block", data: test_selector_hash("add-repo-to-team-form") do %>
  <div class="Box-body">
    <auto-complete src="<%= team_suggestion_path %>" class="auto-search-group" for="repo-popup">
      <div class="auto-search-group">
        <input type="text"
               name="member"
               class="form-control input-block input-contrast auto-search-input new-member-field"
               aria-label="Search by repository name"
               placeholder="Search by repository name"
               autofocus>
        <%= primer_octicon(:repo) %>
        <ul id="repo-popup" class="autocomplete-results border color-bg-default" style="z-index: 1"></ul>
      </div>
    </auto-complete>
  </div>
  <div class="Box-footer">
    <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit, block: true) do %>Add repository to team<% end %>
  </div>
<% end %>
