
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<div itemscope itemtype="http://schema.org/Organization" class="js-check-all-container js-bulk-actions-container" data-bulk-actions-url="<%= org_team_repositories_toolbar_actions_path %>" data-bulk-actions-parameter="repository_names">

  <%#= render :partial => "orgs/teams/team_banner", :locals => { :view => view }  %>
  <%# Probably want some sort of banner for when there are no repositories %>

  <div class="subnav org-toolbar org-toolbar-next">
    <% if repo_count > 0 || !has_all_repo_role %>
      <h3 class="mb-3">Repositories with direct access</h3>
      <%= form_tag team_repositories_path(team), :method => :get,
            :class => "subnav-search float-left",
            :"data-autosearch-results-container" => "org-team-repositories" do %>
        <div class="auto-search-group">
          <input  class="form-control subnav-search-input input-contrast auto-search-input js-team-search-field" value="<%= params[:query] %>" type="text" name="query" placeholder="Find a repository…" aria-label="Find a repository" autocomplete="off" data-throttled-autosubmit>
          <%= primer_octicon(:search) %>
          <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
        </div>
      <% end %>
    <% end %>
    <% if viewer_can_administer && !team.legacy_admin? %>
      <div class="float-right">
        <%= render layout: "shared/details_dialog", locals: {
          button_class: "btn btn-primary float-right",
          button_text: "Add repository",
          ga_click: "Team, add repository, location:team repositories; text:Add repository",
          title: "Add repository to #{team.name}"
        } do %>
          <%= render partial: "orgs/team_repositories/add_repository_dialog",
              locals: {
              org: org,
              name: team.name,
              team_repo_path: team_repositories_path(team),
              team_suggestion_path: team_repository_suggestions_path(team),
              has_all_repo_role: has_all_repo_role
            }
          %>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if repo_count > 0 || !has_all_repo_role %>
    <div class="table-list-header table-list-header-next bulk-actions-header <% if viewer_can_administer %> js-sticky<% end %>">
      <div class="table-list-filters d-flex">
        <% if viewer_can_administer %>
          <div class="table-list-header-select-all">
            <input id="select-all-checkbox" type="checkbox" name="select-all-checkbox" data-check-all>
          </div>
          <div class="select-all-dropdown js-bulk-actions flex-auto">
            <%=
              render "orgs/teams/repositories_toolbar_actions",
                team_name: team.name,
                viewer_can_administer: viewer_can_administer,
                selected_repository_names: [],
                selected_repositories: []
            %>
          </div>
        <% else %>
          <span class="table-list-heading table-list-header-meta flex-auto">
            <%= "#{pluralize(repo_count, "repository", "repositories")} in the #{team.name} team"  %>
          </span>
        <% end %>
      </div>
    </div>

    <div id="org-team-repositories" data-hpc>
      <%= render partial: "orgs/team_repositories/list", locals: { org: org, team: team, abilities: abilities, viewer_can_administer: viewer_can_administer, repo_count: repo_count, paginated_repo_ids: paginated_repo_ids, repos_on_current_page: repos_on_current_page} %>
    </div>
  <% end %>
</div>
