<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if inherited_selected %>
  <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
    <% if repositories.any? %>
      Access to repositories inherited from parent teams will not be affected by this action.
    <% else %>
      Access to repositories inherited from parent teams must be removed from those parent teams.
    <% end %>
  <% end %>
<% end %>
<% if repositories.any? %>
  <div class="Box-body overflow-auto">
    <p>The following repositories will be removed:</p>
    <ul class="border rounded-2 list-style-none">
      <% repositories.each do |repository| %>
        <li class="confirm-removal-list-item">
          <%= repository.name %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="Box-footer">
    <%= form_tag team_repository_bulk_remove_path(this_organization, this_team), :method => :post do %>
      <% repositories.each do |repository| %>
        <input type="hidden" name="repository_ids[]" value="<%= repository.id %>">
      <% end %>
      <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Remove repositories<% end %>
    <% end %>
  </div>
<% end %>
