<li class="py-3 py-lg-5 d-sm-flex">
  <%= render(Primer::Beta::Link.new(
    col: [8, 4, 3, 4],
    data: {
      **analytics_click_attributes(
        category: "Events",
        action: "go to #{local_assigns[:event][:name]}",
        label: "location:github conferences"
      )
    },
    display: :block,
    href: local_assigns[:event][:external_url],
    pr: 4,
  )) do %>
    <%= render Site::ContentfulImageComponent.new(src: local_assigns[:event][:image][:url], classes: "width-full height-auto", width: 362, height: 206, alt: "#{local_assigns[:event][:name]} Event Image") %>
  <% end %>

  <div class="col-sm-8 col-md-9 col-lg-8 d-md-flex flex-items-center d-lg-block">
    <div class="col-md-8 col-lg-12">
      <h3>
        <%= render(Primer::Beta::Link.new(
          data: {
            **analytics_click_attributes(
              category: "Events",
              action: "go to #{local_assigns[:event][:name]}",
              label: "location:github conferences"
            )
          },
          href: local_assigns[:event][:external_url],
          test_selector: "event-name"
        )) do %>
          <%= local_assigns[:event][:name] %>
        <% end %>
      </h3>

      <p class="mb-3"><%= local_assigns[:event][:short_description] %></p>
    </div>

    <div class="col-md-4 col-lg-12 text-md-right text-lg-left">
      <%= render(Primer::Beta::Link.new(
        classes: "btn",
        data: {
          **analytics_click_attributes(
            category: "Events",
            action: "go to #{local_assigns[:event][:name]}",
            label: "location:github conferences"
          )
        },
        href: local_assigns[:event][:external_url],
      )) do %>
        Learn more
      <% end %>
    </div>
  </div>
</li>
