<% page_info(
  class: "f4",
  richweb: {
    title: "GitHub Events",
    description: "Connect with the GitHub community at conferences, meetups, and hackathons around the world.",
  },
  title: event[:name],
) %>

<%= render Explore::NavComponent.new %>

<div class="container-lg p-responsive border-bottom py-5">
  <div class="col-md-9">
    <div class="h5 text-uppercase color-fg-muted">
      <% if event[:external_url].present? %>
        <%= render Primer::Beta::Link.new(href: event[:external_url], color: :muted) do %>
          Event
        <% end %>
      <% else %>
        Event
      <% end %>
    </div>

    <h1 class="h1 lh-condensed mt-3 mb-4">
      <%= event[:name] %>
    </h1>

    <div class="clearfix">
      <% if event[:image][:url].present? %>
        <div
          class="float-md-right col-md-6 rounded color-bg-default p-3 mt-md-2 mr-md-n6 mb-6 ml-md-6">
            <%= render Site::ContentfulImageComponent.new(src: event[:image][:url], classes: "width-full height-auto rounded-2", width: 336, height: 168, alt: "#{event[:name]} Event Image") %>
        </div>
      <% end %>

      <h2 class="h3">
        When <span class="sr-only">event is taking place</span>
      </h2>

      <p class="color-fg-muted">
        <%= format_event_date_range(start_date: event[:start_date], end_date: event[:end_date]) %>
      </p>

      <h2 class="h3 mt-3">
        Where <span class="sr-only">event is taking place</span>
      </h2>

      <p class="color-fg-muted"><%= event[:location_full_address] %></p>

      <div class="border-bottom overflow-hidden my-4"></div>

      <h2 class="sr-only">Event Description</h2>

      <div class="color-fg-muted mt-4">
        <% if event[:content].present? %>
          <%= contentful_rich_text(event[:content][:content][0]) %>
        <% else %>
          <p><%= event[:short_description] %></p>
        <% end %>
      </div>

      <% if event[:external_url].present? %>
        <%= render(Primer::Beta::Link.new(
          classes: "btn btn-large",
          data: {
            **analytics_click_attributes(
              category: "#{event[:name]}",
              action: "go to external URL"
            )
          },
          href: event[:external_url],
          my: 4
        )) do %>
          Visit event website
          <%= render(Primer::Beta::Octicon.new(
            icon: "link-external",
            ml: 1,
            vertical_align: :middle,
          )) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
