<%# rubocop:disable Lint/InstanceVariable %>

<% page_info title: "File storage ∙ Site admin", selected_link: :file_storage %>

<% view = Stafftools::StorageBlobView.new(:blob => @blob) %>

<%= render layout: "stafftools/stafftools" do %>

  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Storage object
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
    <% component.with_row do %>
      <div class="d-flex">
        <div class="col-1 text-bold">OID</div>
        <div><%= @blob.oid %></div>
      </div>
    <% end %>
    <% component.with_row do %>
      <div class="d-flex">
        <div class="col-1 text-bold">Size</div>
        <div><%= number_to_human_size @blob.size %></div>
      </div>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Replicas
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
    <% @blob.storage_replicas.each do |replica| %>
      <% component.with_row do %>
        <div class="d-flex">
          <div><%= replica.host %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      References
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
    <% view.each_reference_link do |link| %>
      <% component.with_row do %>
        <div class="d-flex">
          <div><%= link %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
