<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>

<% page_info title: "File storage ∙ Site admin", selected_link: :file_storage %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Subhead.new(test_selector: "storage-section")) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Storage
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(mb: 3)) do |component| %>
    <% component.with_header do %>
      <div class="d-flex text-bold">
        <div class="col-3">Host</div>
        <div class="col-2">Online</div>
        <div class="col-2">Embargoed</div>
        <div class="col-2">Non voting</div>
        <div class="col-2">Disk free</div>
        <div class="col-2">Disk used</div>
      </div>
    <% end %>

    <% @fileservers.each do |fileserver| %>
      <% partition = @partitions[fileserver.id] %>
      <% component.with_row do %>
        <div class="d-flex">
          <div class="col-3"><%= fileserver.host %></div>
          <div class="col-2"><%= fileserver.online? ? :yes : :no %></div>
          <div class="col-2"><%= fileserver.embargoed? ? :yes : :no %></div>
          <div class="col-2"><%= fileserver.non_voting? ? :yes : :no %></div>
          <% if partition %>
            <div class="col-2"><%= number_to_human_size partition.disk_free %></div>
            <div class="col-2"><%= number_to_human_size partition.disk_used %></div>
          <% else %>
            <div class="col-2">-</div>
            <div class="col-2">-</div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Find object
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(mb: 3)) do |component| %>
    <% component.with_body do %>
      <%= form_tag "", method: :get do %>
        <div class="form-group">
          <label for="oid" class="mr-2">Find by OID</label>
          <%= text_field_tag :oid, nil, class: "short" %>
          <%= render(Primer::ButtonComponent.new(type: :submit)) { "Search" } %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Repository LFS management
    <% end %>
  <% end %>

  <% if @media_blobs.empty? %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        We couldn’t find any LFS objects in any repository
      <% end %>
    <% end %>
  <% else %>
    <%= render(Primer::Beta::BorderBox.new(mb: 3)) do |component| %>
      <% component.with_header do %>
        <div class="d-flex text-bold">
          <div class="col-3">Repository name</div>
          <div class="col-3">Disk usage</div>
          <div class="col-3">Link</div>
        </div>
      <% end %>

      <% @media_blobs.each do |media_blob| %>
        <% component.with_row do %>
          <div class="d-flex text-bold">
            <div class="col-3">
              <%= media_blob.repository_network.root.name_with_owner %>
            </div>
            <div class="col-3">
              <%= number_to_human_size(media_blob.total_size) %>
            </div>
            <div class="col-3">
              <%= link_to \
                "View stats",
                stafftools_repository_large_files_path(media_blob.repository_network.root.owner.login, media_blob.repository_network.root.name) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
