<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Subhead.new(spacious: true, hide_border: view.authorized_credentials.any?) do |component| %>
  <% component.with_heading(tag: :h2) do %>Authorized credentials<% end %>
<% end %>
<% if view.authorized_credentials.any? %>

  <p>
    Personal access tokens and SSH keys this member has authorized for API and Git access to this organization.
    <%= link_to "See the documentation", GitHub.sso_credential_authorization_help_url, class: "Link--inTextBlock" %>
    for more about authorizing API and Git access to this organization.
  </p>

  <%= render "shared/sso/authorized_credentials", view: view %>
<% else %>
  <%= render Primer::BlankslateComponent.new(
    icon: "key",
    title: "No authorized credentials",
    spacious: true,
  ) do %>
    <p>
      <%= view.member.display_login %> has not authorized any credentials for API and
      Git access to this organization.
      <%= link_to "See the documentation", GitHub.sso_credential_authorization_help_url, class: "Link--inTextBlock" %>
      for more about authorizing API and Git access to this organization.
    </p>
  <% end %>
<% end %>
