<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<% if view.can_edit_metadata? %>
  <%= render GitHub::DialogComponent.new(title: "Edit repository details", variant: :wide, dialog_classes: "overflow-x-hidden") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <summary class="float-right">
        <div class="Link--secondary pt-1 pl-2">
          <%= render Primer::Beta::Octicon.new(icon: "gear", "aria-label": "Edit repository metadata", float: :right) %>
        </div>
      </summary>
    <% end %>
    <% dialog.with_body do %>
      <div class="js-topic-form-area">
        <%= form_tag update_repo_meta_path, method: :put, id: "repo_metadata_form" do %>
          <div class="form-group mt-0 mb-3 js-length-limited-input-container">
            <div class="mb-2">
              <label for="repo_description">Description</label>
            </div>
            <input type="text"
              id="repo_description"
              class="form-control input-contrast width-full js-length-limited-input"
              name="repo_description"
              placeholder="Short description of this repository"
              autofocus
              value="<%= current_repository.description %>"
              data-input-max-length=<%= ::Repository::DESCRIPTION_CHAR_LIMIT %>
              data-warning-length=50
              data-warning-text="{{remaining}} characters remaining"
            >
            <div class="d-none mt-1 js-length-limited-input-warning text-right color-fg-danger"></div>
          </div>
          <div class="form-group my-3">
            <div class="mb-2">
              <label for="repo_homepage">Website</label>
            </div>
            <% if current_repository.page.nil? %>
             <input type="url" id="repo_homepage" class="color-bg-default form-control input-contrast width-full" name="repo_homepage" value="<%= current_repository.homepage.to_s %>" placeholder="Enter a valid URL">
            <% else %>
              <% if view.pages_url_sidebar_section_enabled?%>
                <input readonly type="url" id="repo_homepage" class="color-bg-subtle color-fg-subtle js-pages-url-input form-control input-contrast width-full" name="repo_homepage" value="<%= current_repository.homepage.to_s %>">
              <% else %>
                <input type="url" id="repo_homepage" class="color-bg-default js-pages-url-input form-control input-contrast width-full" name="repo_homepage" value="<%= current_repository.homepage.to_s %>" placeholder="Enter a valid URL">
              <%end%>
                <span hidden id="page-url"><%= current_repository.page.url %></span>
              <label class="text-bold mt-2 d-flex flex-items-center gap-1">
                  <%= check_box "repo_sections", "pages_url", checked: view.pages_url_sidebar_section_enabled?, class: "js-use-pages-url" %> Use your GitHub Pages website
              </label>
            <% end %>
          </div>
          <div class="width-full tag-input-container topic-input-container d-inline-block js-tag-input-container">
            <div class="js-tag-input-wrapper">
              <div class="form-group my-0">
                <div class="mb-2">
                  <label for="repo_topics" class="d-block">Topics <span class="text-normal color-fg-muted">(separate with spaces)</span></label>
                </div>
                <div class="tag-input form-control d-inline-block color-bg-default py-0 position-relative">
                  <ul class="js-tag-input-selected-tags d-inline">
                    <li class="d-none topic-tag-action my-1 mr-1 f6 float-left js-tag-input-tag js-template">
                      <span class="js-placeholder-tag-name"></span>
                      <button type="button" class="delete-topic-button f5 no-underline ml-1 js-remove" tabindex="-1">
                        <%= primer_octicon(:x, "aria-label": "Remove topic") %>
                      </button>
                      <input type="hidden" name="repo_topics[]" class="js-topic-input" value="">
                    </li>

                    <% view.topics.each do |topic| %>
                      <li class="topic-tag-action my-1 mr-1 f6 float-left js-tag-input-tag">
                        <%= topic.name %>
                        <button type="button" class="delete-topic-button f5 no-underline ml-1 js-remove" tabindex="-1">
                          <%= primer_octicon(:x, "aria-label": "Remove topic") %>
                        </button>
                        <input type="hidden" name="repo_topics[]" value="<%= topic.name %>">
                      </li>
                    <% end %>
                  </ul>

                  <% if GitHub.multi_tenant_enterprise? %>
                    <input type="text" id="repo_topics" class="tag-input-inner form-control color-bg-default short d-inline-block p-0 my-1 border-0" autocomplete="off" autofocus>
                  <% else %>
                    <auto-complete src="<%= topic_autocomplete_path(current_repository.owner.display_login, current_repository.name) %>" for="repo-topic-popup">
                      <input type="text" id="repo_topics" class="tag-input-inner form-control color-bg-default short d-inline-block p-0 my-1 border-0" autocomplete="off" autofocus>
                      <ul class="suggester border width-full color-bg-default left-0" id="repo-topic-popup" style="top: 100%;"></ul>
                    </auto-complete>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group mt-3 mb-0" role="group" aria-labelledby="hidden_sidebar_options">
            <div class="text-bold mb-2" id="hidden_sidebar_options">Include in the home page</div>
            <label class="d-block mb-2 text-normal">
              <%= check_box "repo_sections", "releases", checked: view.releases_sidebar_section_enabled?, class: "mr-1" %> Releases
            </label>
            <label class="d-block mb-2 text-normal">
              <%= check_box "repo_sections", "packages", checked: view.packages_sidebar_section_enabled?, class: "mr-1" %> Packages
            </label>

            <label class="d-block text-normal">
              <%= check_box "repo_sections", "deployments", checked: view.deployments_sidebar_section_enabled?, class: "mr-1" %> Deployments
            </label>
          </div>
        <% end %>
      </div>
    <% end %>
    <% dialog.with_footer do %>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary" form="repo_metadata_form">Save changes</button>
        <button type="reset" class="btn" data-close-dialog="" form="repo_metadata_form">Cancel</button>
      </div>
    <% end %>
  <% end %>
<% end %>
<div class="hide-sm hide-md">
  <h2 class="mb-3 h4">About</h2>

  <% if !view.show_description? && !view.show_website? %>
    <% if view.any_topics? %>
      <div class="f4 my-3 color-fg-muted text-italic">
        No description or website provided.
      </div>
    <% else %>
      <div class="f4 my-3 color-fg-muted text-italic">
        No description, website, or topics provided.
      </div>
    <% end %>
  <% else %>
    <% if view.show_description? %>
      <p class="f4 my-3">
        <%= view.formatted_description %>
      </p>
    <% end %>
    <% if view.show_website? %>
      <div class="my-3 d-flex flex-items-center">
        <%= render Primer::Beta::Octicon.new(icon: "link", mr: 2, classes: "flex-shrink-0") %>
        <span class="flex-auto min-width-0 css-truncate css-truncate-target width-fit">
          <%= safe_link_to(view.website.sub(/https?:\/\//, "").strip, view.website, title: view.website, role: "link", target: "_blank", rel: "nofollow", class: "text-bold") || view.website %>
        </span>
      </div>
    <% end %>
  <% end %>

  <% if view.any_topics? %>
    <h3 class="sr-only">Topics</h3>
    <div class="my-3">
      <%= render partial: "topics/list", locals: { topics: view.topics } %>
    </div>
  <% end %>

  <% if has_readme? %>
    <h3 class="sr-only">Resources</h3>
    <div class="mt-2">
      <%= link_to(
       "#readme-ov-file",
        class: "Link--muted",
        data: {
          **analytics_click_attributes(
            category: "Repository Overview",
            action: "click",
            label: "location:sidebar;file:readme"
          )
        }) do %>
        <%= render Primer::Beta::Octicon.new(icon: "book", mr: 2) %>
        Readme
      <% end %>
    </div>
  <% end %>

  <%= render_nothing_on_error do %>
    <%= render Repositories::ViewLicensesComponent.new(repository: current_repository, options: {selector_classes: "mt-2"}, current_directory: current_directory)%>
  <% end %>

  <% if view.show_code_of_conduct? %>
    <h3 class="sr-only">Code of conduct</h3>
    <div class="mt-2">
      <a href="#coc-ov-file"
        class="Link--muted"
        <%= test_selector("oss-coc") %>
        <%= safe_analytics_click_attributes(
          category: "Repository Overview",
          action: "click",
          label: "location:sidebar;file:code of conduct"
        ) %>
      >
        <%= render Primer::Beta::Octicon.new(icon: "code-of-conduct", mr: 2) %>
        Code of conduct
      </a>
    </div>
  <% end %>

  <% if view.show_security_policy? %>
    <h3 class="sr-only">Security policy</h3>
    <div class="mt-2">
      <a href="#security-ov-file"
        class="Link--muted"
        <%= test_selector("oss-security-policy") %>
        <%= safe_analytics_click_attributes(
          category: "Repository Overview",
          action: "click",
          label: "location:sidebar;file:security policy"
        ) %>
      >
        <%= render Primer::Beta::Octicon.new(icon: "law", mr: 2) %>
        Security policy
      </a>
    </div>
  <% end %>

  <include-fragment <%= test_selector("citation") %> src="<%= repository_citation_sidebar_partial_path(tree_name: current_branch_or_tag_name) %>">
  </include-fragment>

  <div class="mt-2">
    <%= render(Primer::Beta::Link.new(href: activity_index_path(current_repository.owner, current_repository), muted: true, **repo_turbo_frame_attr(hash: true, flagged: true))) do %>
      <%= render Primer::Beta::Octicon.new(icon: "pulse", text: "gray", mr: 2) %>
      <span class="color-fg-muted">Activity</span>
    <% end %>
  </div>

  <% if current_repository.owner.organization? %>
    <div class="mt-2">
      <%= render(Primer::Beta::Link.new(href: repository_custom_properties_overview_path(current_repository.owner, current_repository), muted: true, **repo_turbo_frame_attr(hash: true, flagged: true))) do %>
        <%= render Primer::Beta::Octicon.new(icon: "note", text: "gray", mr: 2) %>
        <span class="color-fg-muted">Custom properties</span>
      <% end %>
    </div>
  <% end %>

  <h3 class="sr-only">Stars</h3>
  <div class="mt-2">
    <%= render(Primer::Beta::Link.new(href: gh_stargazers_path(current_repository), muted: true, **repo_turbo_frame_attr(hash: true, flagged: true))) do %>
      <%= primer_octicon(icon: "star", mr: 2) %>
      <strong><%= social_count current_repository.stargazer_count %></strong>
      star<%= "s" unless current_repository.stargazer_count == 1 %>
    <% end %>
  </div>

  <h3 class="sr-only">Watchers</h3>
  <div class="mt-2">
    <%= render(Primer::Beta::Link.new(href: gh_watchers_path(current_repository), muted: true, **repo_turbo_frame_attr(hash: true, flagged: true))) do %>
      <%= primer_octicon(icon: "eye", mr: 2) %>
      <strong><%= social_count current_repository.watchers_count %></strong>
      watching
    <% end %>
  </div>

  <h3 class="sr-only">Forks</h3>
  <div class="mt-2">
    <%= render(Primer::Beta::Link.new(href: gh_fork_network_path(current_repository), muted: true, **repo_turbo_frame_attr(hash: true, flagged: true))) do %>
      <%= primer_octicon(icon: "repo-forked", mr: 2) %>
      <strong><%= social_count current_repository.forks_count %></strong>
      fork<%= "s" unless current_repository.forks_count == 1 %>
    <% end %>
  </div>

  <% if current_repository.can_report?(current_user) %>
    <div class="mt-2">
      <%= link_to(flavored_contact_path(
          flavor: "report-content",
          report: "#{current_repository&.owner&.display_login} (user)",
          content_url: "#{GitHub.url}#{repository_path(current_repository)}",
      ), class: "Link--muted") do %>
          Report repository
      <% end %>
    </div>
  <% end %>
</div>
