<%= render Files::SidebarListComponent.new(
  title: "Deployment",
  href: gh_deployments_path(current_repository),
  count: environments.sum { |deployments, environment| deployments },
  limit: 500,
  current_repository: current_repository,
  max_count: environments.length < Files::SidebarListComponent::MAX_COUNT ? environments.length : Files::SidebarListComponent::MAX_COUNT) do |component| %>
  <ul class="list-style-none">
    <% environments.first(component.items_to_show).each do |deployment, environment| %>
      <li class="mt-2">
        <%= include_cached_fragment(
            src: environment_status_path(environment: environment),
            "aria-label": "Loading #{environment} deployment status.") do %>
          <div class="Skeleton Skeleton--text">
            <%= render Repositories::DeploymentStatusComponent.new(state: "queued") %>
            <%= environment %>
            <%= render(Primer::Beta::Text.new(color: :subtle)) { "queued" } %>
          </div>
        <% end %>
       </li>
    <% end %>
  </ul>
<% end %>
