<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<h2 class="h4 mb-3">Languages</h2>
<div class="mb-2">
  <%= render(Primer::Beta::ProgressBar.new) do |component| %>
    <% view.top_languages.each do |lang, amount| -%>
      <% lang = Linguist::Language[lang] -%>
      <% component.with_item(style: "background-color:#{language_color(lang)} !important;", itemprop: "keywords", percentage: amount, "aria-label": "#{lang ? lang : 'Other'} #{amount}") %>
    <%- end %>
  <% end %>
</div>
<ul class="list-style-none">
  <% view.top_languages.each do |lang, amount| -%>
    <li class="d-inline">
    <% if lang = Linguist::Language[lang] %>
      <% if view.repository.fork? %>
        <span class="d-inline-flex flex-items-center flex-nowrap text-small mr-3">
          <%= primer_octicon(:"dot-fill", mr: 2, style: "color:#{language_color(lang)};") %>
          <span class="color-fg-default text-bold mr-1"><%= lang %></span>
          <span><%= amount %>%</span>
        </span>
      <% else %>
        <a class="d-inline-flex flex-items-center flex-nowrap Link--secondary no-underline text-small mr-3" href="/<%= current_repository.name_with_display_owner %>/search?<%= {:l => lang.default_alias}.to_query %>"  data-ga-click="Repository, language stats search click, location:repo overview">
          <%= primer_octicon(:"dot-fill", mr: 2, style: "color:#{language_color(lang)};") %>
          <span class="color-fg-default text-bold mr-1"><%= lang %></span>
          <span><%= amount %>%</span>
        </a>
      <% end %>
    <% else %>
      <span class="d-inline-flex flex-items-center flex-nowrap text-small mr-3">
        <%= primer_octicon(:"dot-fill", mr: 2, style: "color:#{language_color(lang)};") %>
        <span class="color-fg-default text-bold mr-1">Other</span>
        <span><%= amount %>%</span>
      </span>
    <% end %>
    </li>
  <% end %>
</ul>
