<%
packages_path = if !GitHub.enterprise? || (GitHub.enterprise? && GitHub.registry_v2_enabled_for_enterprise?)
  packages_two_path(current_repository.owner.organization? ? "orgs" : "users", current_repository.owner.display_login, repo_name: current_repository.name)
else
  packages_path(current_repository.owner, current_repository)
end
%>
<%= render Files::SidebarListComponent.new(
  title: "Package",
  href: packages_path,
  count: repository_packages_count) do |component| %>

    <%# We need to use `repository_packages_count` rather than `view.might_have_packages?` as the latter can produce false positives. %>
    <% if repository_packages_count == 0 %>
      <div class="text-small color-fg-muted" <%= test_selector("packages-list-empty-state") %>>
        No packages published <br>
        <% if repository_writable %>
          <%= link_to "Publish your first package", packages_path(current_repository.owner, current_repository), class: "Link--inTextBlock" %>
        <% end %>
      </div>
    <% else %>
      <ul class="list-style-none">
        <% packages.first(component.items_to_show).each do |package| %>
          <li class="mb-2 d-flex lh-condensed">
            <% if GitHub.flipper[:view_immutable_actions].enabled?(current_user) && package.respond_to?(:is_actions_package?) && package.is_actions_package?(current_user) %>
              <span><%= primer_octicon(:play, mr: 2) %></span>
            <% elsif package.package_type == :container %>
              <span><%= primer_octicon(:container, mr: 2) %></span>
            <% else %>
              <span><%= render Packages::IconComponent.new(type: package.package_type, mr: 2) %></span>
            <% end %>
            <% v2_package = package.instance_of?(PackageRegistry::PackageMetadata) %>
            <% if v2_package %>
              <% url_prefix = package.owner.organization? ? "orgs" : "users" %>
              <%= link_to packages_two_view_path(url_prefix, package.owner.display_login, package.package_type, package.name), class: "Link--primary no-underline wb-break-word" do %>
                <span class="text-bold mr-1"><%= package.name %></span>
              <% end %>
            <% else %>
              <a href="<%= package_path(*current_repository.name_with_display_owner.split("/"), package) %>" class="Link--primary no-underline wb-break-word">
                <span class="text-bold mr-1"><%= package.name %></span>
              </a>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
<% end %>
