<%
packages_path = if !GitHub.enterprise? || (GitHub.enterprise? && GitHub.registry_v2_enabled_for_enterprise?)
  packages_two_path(current_repository.owner.organization? ? "orgs" : "users", current_repository.owner.display_login, repo_name: current_repository.name)
else
  packages_path(current_repository.owner, current_repository)
end
%>

<% if view.might_have_packages? %>
  <%= include_cached_fragment(
        src: packages_list_path(current_repository: current_repository),
              "aria-busy": "true",
              "aria-label": "Loading latest packages") do %>
    <%= render Files::SidebarListComponent.new(
    title: "Package",
    href: packages_path) do |component| %>
      <% Array.new(Files::SidebarListComponent::MAX_COUNT).each do %>
        <div class="mb-2 d-flex flex-items-center">
          <div class="Skeleton mr-2" style="width:20px;height:20px;"></div>
          <div class="Skeleton Skeleton--text flex-auto">&nbsp;</div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= render Files::SidebarListComponent.new(
    title: "Package",
    href: packages_path,
    count: 0) do |component| %>
      <div class="text-small color-fg-muted" <%= test_selector("packages-list-empty-state") %>>
        No packages published <br>
        <% if current_repository.writable_by?(current_user) %>
          <%= link_to "Publish your first package", packages_path(current_repository.owner, current_repository), class: "Link--inTextBlock" %>
        <% end %>
      </div>
  <% end %>
<% end %>
