<h2 class="h4 mb-3" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
  <%= render Primer::Beta::Link.new(href: releases_path(current_repository), classes: "Link--primary no-underline") do %>
    Releases
    <% if view.latest_release %>
      <%= render Primer::Beta::Counter.new(count: view.release_count, hide_if_zero: true) %>
    <% end %>
  <% end %>
</h2>

<% if view.latest_release %>
  <%= link_to release_path(view.latest_release), class: "Link--primary d-flex no-underline", data: { pjax: "#repo-content-pjax-container", "turbo-frame": "repo-content-turbo-frame" } do %>
    <%= render Primer::Beta::Octicon.new(icon: "tag", mt: 1, classes: "flex-shrink-0", color: :success) %>
    <div class="ml-2 min-width-0">
      <div class="d-flex">
        <span class="css-truncate css-truncate-target text-bold mr-2" style="max-width: none;"><%= view.latest_release.display_name %></span>
        <%= render Primer::Beta::Label.new(scheme: :success, flex_shrink: 0, title: "Label: Latest") do %>
          Latest
        <% end %>
      </div>
      <div class="text-small color-fg-muted"><%= time_ago_in_words_js view.latest_release_published_at %></div>
    </div>
  <% end %>
  <% if view.release_count > 1 %>
    <%= render Primer::Box.new(mt: 3) do %>
      <%= render Primer::Beta::Link.new(href: releases_path(current_repository), text: :small, data: { pjax: "#repo-content-pjax-container", "turbo-frame": "repo-content-turbo-frame" }) do %>
        + <%= number_with_delimiter(view.release_count - 1) %> <%= "release".pluralize(view.release_count - 1) %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <% if view.tag_count > 0 %>
    <%= link_to tags_path(current_repository.owner_display_login, current_repository), class: "Link--primary no-underline", data: { pjax: "#repo-content-pjax-container", "turbo-frame": "repo-content-turbo-frame" } do %>
      <%= render Primer::Beta::Octicon.new(icon: "tag") %>
      <span class="text-bold"><%= number_with_delimiter(view.tag_count) %></span>
      <span class="color-fg-muted"><%= "tags".pluralize(view.tag_count) %></span>
    <% end %>
  <% else %>
    <div class="text-small color-fg-muted">No releases published</div>
  <% end %>
  <% if current_repository.writable_by?(current_user) %>
    <div class="<% if view.tag_count > 0 %>mt-3<% end %> text-small"><%= link_to "Create a new release", new_release_path_helper, class: "Link--inTextBlock" %></div>
  <% end %>
<% end %>
