<% if block_button %>
  <% sponsorables.each do |user| %>
    <%
      show_sponsors_button = user.sponsored_by_viewer?(current_user) ||
        user.sponsorable_by?(current_user) ||
        (user.organization? ? user.adminable_by?(current_user) : user == current_user)
    %>
    <div class="d-flex mb-3">
      <%= profile_link(user) do %>
        <%= avatar_for(user, 32, class: "avatar d-block mr-2") %>
      <% end %>
      <span class="mr-2 flex-self-center flex-auto min-width-0 css-truncate css-truncate-target width-fit">
        <%= profile_link(user, skip_hovercard: true, class: "Link--primary no-underline") do %>
          <strong><%= user.display_login %></strong>
          <% if user.profile_name.present? %><span class="color-fg-muted"><%= user.profile_name %></span><% end %>
        <% end %>
      </span>
    </div>
    <% if show_sponsors_button %>
      <%= render Sponsors::SponsorButtonComponent.new(
        sponsorable: user.display_login,
        is_sponsoring: user.sponsored_by_viewer?(current_user),
        size: :medium,
        block: true,
        location: user.sponsored_by_viewer?(current_user) ? :REPO_FILES_SIDEBAR_SPONSORING : :REPO_FILES_SIDEBAR_SPONSOR
      ) %>
    <% end %>
  <% end %>
<% else %>
  <ul class="list-style-none">
    <% sponsorables.each do |user| %>
      <%
        show_sponsors_button = user.sponsored_by_viewer?(current_user) ||
          user.sponsorable_by?(current_user) ||
          (user.organization? ? user.adminable_by?(current_user) : user == current_user)
      %>
      <li class="mb-2 d-flex">
        <%= profile_link(user) do %>
          <%= avatar_for(user, 32, class: "avatar d-block mr-2") %>
        <% end %>
        <span class="mr-2 flex-self-center flex-auto min-width-0 css-truncate css-truncate-target width-fit">
          <%= profile_link(user, skip_hovercard: true, class: "Link--primary no-underline") do %>
            <strong><%= user.display_login %></strong>
            <% if user.profile_name.present? %><span class="color-fg-muted"><%= user.profile_name %></span><% end %>
          <% end %>
        </span>
        <% if show_sponsors_button %>
          <%= render Sponsors::SponsorButtonComponent.new(
            sponsorable: user.display_login,
            is_sponsoring: user.sponsored_by_viewer?(current_user),
            display: :flex,
            align_items: :center,
            hide_text: true,
            location: user.sponsored_by_viewer?(current_user) ? :REPO_FILES_SIDEBAR_SPONSORING : :REPO_FILES_SIDEBAR_SPONSOR
          ) %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
