<%= cache used_by_sidebar_cache_key, skip_digest: true do %>
  <h2 class="h4 mb-3">
    <%= render Primer::Beta::Link.new(href: gh_network_dependents_package_path(current_repository, package_id: package.id), classes: "Link--primary no-underline") do %>
      Used by <%= render Primer::Beta::Counter.new(count: repository_dependents_count, limit: nil, round: true, hide_if_zero: true) %>
    <% end %>
  </h2>

  <a class="d-flex flex-items-center" href="<%= gh_network_dependents_package_path(current_repository, package_id: package.id) %>">
    <ul class="hx_flex-avatar-stack list-style-none min-width-0">
      <% package.dependents.each do |dependent| %>
        <% if dependent_repository = dependent&.repository %>
          <li class="hx_flex-avatar-stack-item">
            <%= avatar_for(dependent_repository.owner, 32, class: "avatar") %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <% if repository_dependents_count > dependents_limit %>
      <span class="px-2 text-bold text-small no-wrap">
        + <%= number_with_delimiter repository_dependents_count - dependents_limit %>
      </span>
    <% end %>
  </a>
<% end %>
