<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= form.hidden_field :_destroy %>

<dl class="form-group js-application-callback-url <%= 'errored' if has_errors || (default && has_collection_errors) %>">
  <dt><%= form.label :url, "Callback URL" %></dt>
  <dd class="input-group">
    <%= form.text_field :url, value: form.object.raw_url, class: "js-application-callback-url-field" %>

    <span class="input-group-button">
      <button class="btn color-fg-danger js-delete-application-callback-url" type="button">
        Delete
      </button>
    </span>
  </dd>

  <% if default && has_collection_errors %>
    <dd class="error"><%= error_for(integration, :application_callback_urls, human_field: "") %></dd>
  <% elsif has_errors %>
    <dd class="error"><%= error_for(form.object, :url) %></dd>
  <% end %>
</dl>
