<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 3 %>
<%= render Primer::Beta::Subhead.new(spacious: view.hook.present?, hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2, danger: true, font_size: 3) do %>Danger zone<% end %>
<% end %>

<% if view.pending_transfer? %>
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render(Primer::Alpha::Banner.new(scheme: :warning, mb: 4)) do %>
      This GitHub App is
      <%= link_to_if view.transfer_target.adminable_by?(current_user), "pending transfer", gh_settings_app_transfer_path(view.transfer_target, view.transfer) %>
      to <strong><%= link_author view.transfer_target %></strong>
      <%= button_to "Cancel transfer",
            gh_settings_app_transfer_path(view.transfer_target, view.transfer.id),
            :method     => :delete,
            :class      => "btn btn-danger btn-sm",
            :form_class => "float-right" %>
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 4)) do %>
      This GitHub App is
      <%= link_to_if view.transfer_target.adminable_by?(current_user), "pending transfer", gh_settings_app_transfer_path(view.transfer_target, view.transfer) %>
      to <strong><%= link_author view.transfer_target %></strong>
      <%= button_to "Cancel transfer",
            gh_settings_app_transfer_path(view.transfer_target, view.transfer.id),
            :method     => :delete,
            :class      => "btn btn-danger btn-sm",
            :form_class => "float-right" %>
    <% end %>
  <% end %>
<% end %>

<div class="Box Box--danger">

<% if !view.enterprise_owned? %>
  <div class="Box-row TableObject">
    <div class="TableObject-item TableObject-item--primary">
      <strong>Transfer ownership of this GitHub App</strong>
      <div>Transferring may be delayed until the new owner approves the transfer.</div>
    </div>
    <% unless view.pending_transfer? %>
      <div class=" TableObject-item--primary">
        <% if view.integration.can_transfer_ownership? %>
          <%= render layout: "shared/details_dialog", locals: {
            button_text: "Transfer ownership",
            button_class: "btn btn-danger mt-1",
            title: "Where should we transfer #{view.integration.name}?"
          } do %>
            <%= form_tag gh_transfer_settings_app_path(view.integration), method: :put, class: "d-flex flex-column flex-auto" do %>
              <div class="Box-body overflow-auto">
                <p>Transferring may be delayed until the new owner approves the transfer.</p>
                <dl class="form-group">
                  <dt><label for="confirm_integration_name">Type the name of the GitHub App to confirm</label></dt>
                  <dd>
                    <input class="form-control" type="text" id="confirm_integration_name" autofocus required
                    pattern="<%= case_insensitive_pattern view.integration.name %>|<%= case_insensitive_pattern view.integration.name %>"
                            aria-label="Type in the name of the GitHub App to confirm that you want to transfer this owner.">
                  </dd>
                </dl>
                <dl class="form-group mb-0">
                  <dt><label for="confirm_transfer_to">New owner’s GitHub username or organization name</label></dt>
                  <dd><input id="confirm_transfer_to" class="form-control" type="text" name="transfer_to" id="transfer_field" required aria-label="Type in the username of the new owner."></dd>
                </dl>
              </div>
              <div class="Box-footer">
                <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger, "data-disable-invalid": "") do %>Transfer this GitHub App<% end %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <%= render Primer::Beta::Button.new(disabled: true, scheme: :danger, float: :right, mt: 1, test_selector: "disabled-transfer-button", classes: "tooltipped tooltipped-nw", "aria-label": view.transfer_tooltip_content) do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
            Transfer ownership
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

  <% if view.can_delete? %>
    <div class="Box-row">
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Delete GitHub App",
        button_class: "btn btn-danger",
        details_class: "float-right mt-1",
        title: "Delete GitHub App?"
      } do %>
        <%= render "integrations/settings/delete_confirmation", :integration => view.integration %>
      <% end %>

      <strong>Delete this GitHub App</strong>
      <div class="">This cannot be undone. Please be certain.</div>
    </div>
  <% else %>
    <div class="Box-row">
      <%= render Primer::Beta::Button.new(disabled: true, scheme: :danger, float: :right, mt: 1, classes: "tooltipped tooltipped-nw", "aria-label": view.delete_tooltip_content) do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        Delete GitHub App
      <% end %>

      <strong>Delete this GitHub App</strong>
      <div>This cannot be undone. Please be certain.</div>
    </div>
  <% end %>

  <% if !view.enterprise_owned? %>
    <% if view.public? && view.can_make_private? %>

      <div class="Box-row">
        <%= button_to "Make private",
          gh_make_private_settings_app_path(view.integration),
          method: :put,
          form_class: "float-right",
          class: "btn btn-danger mt-1",
          "data-confirm": "This GitHub app will only be installable on the #{view.integration.owner.display_login} account.
  Are you sure you want to make #{view.integration.name} private?" %>

        <strong>Make this application private</strong>
        <div class="">Private applications cannot be installed on other accounts.</div>
      </div>

    <% elsif view.public? && !view.can_make_private? %>

      <div class="Box-row">
        <%= render Primer::Beta::Button.new(disabled: true, scheme: :danger, float: :right, mt: 1, classes: "tooltipped tooltipped-nw", "aria-label": view.make_private_tooltip_content) do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          Make private
        <% end %>

        <strong>Make this GitHub App private</strong>
        <div>Private GitHub Apps cannot be installed on other accounts.</div>
      </div>

    <% else %>
      <div class="Box-row">
        <%= button_to "Make public",
          gh_make_public_settings_app_path(view.integration),
          method: :put,
          form_class: "float-right",
          class: "btn btn-danger mt-1",
          "data-confirm": "Any user or organization will be able to install this GitHub App. Are you sure you want to make #{view.integration.name} public?" %>

        <strong>Make this GitHub App public</strong>
        <div>Allow this GitHub App to be installed on other accounts.</div>
      </div>
    <% end %>
  <% end %>

</div>
