<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= form_tag gh_settings_app_path(integration), :method => :delete do %>
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render(Primer::Alpha::Banner.new(scheme: :warning, full: true)) do %>
      Unexpected bad things will happen if you don’t read this!
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, full: true)) do %>
      Unexpected bad things will happen if you don’t read this!
    <% end %>
  <% end %>

  <div class="Box-body">
    <p>
      This action <strong>CANNOT</strong> be undone. This will permanently delete
      the <strong><%= integration.name %></strong> GitHub App.
    </p>

    <% if integration.installations.any? %>
      <p>
        This will also uninstall the GitHub App from
        <strong><%= pluralize(number_with_delimiter(integration.installations.count), "account") %></strong>.
      </p>
    <% end %>

    <p><label for="confirm-delete-app">Please type in the name of the GitHub App to confirm.</label></p>

    <input type="text" class="input-block" autofocus required
      id="confirm-delete-app"
      pattern="<%= case_insensitive_pattern integration.name %>"
      name="verify">
  </div>
  <div class="Box-footer">
    <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-disable-invalid": "") do %>
      I understand the consequences, delete this GitHub App
    <% end %>
  </div>
<% end %>
