<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if flash[:integration_just_created] %>
  <div class="flash-messages mb-0">
    <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
      <%= render Primer::Alpha::Banner.new(scheme: :warning, full: true) do %>
        <div class="container-lg px-3">
          Registration successful. You must <a class="Link--inTextBlock" href="#private-key">generate a private key</a> in order to install your GitHub App.
        </div>
      <% end %>
    <% else %>
      <%= render Primer::Beta::Flash.new(scheme: :warning, full: true) do %>
        <div class="container-lg px-3">
          Registration successful. You must <a class="Link--inTextBlock" href="#private-key">generate a private key</a> in order to install your GitHub App.
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="border-bottom mb-4">
  <div class="container-lg px-3 clearfix d-flex flex-items-center">
    <div class="col-12">
      <%= render(Primer::Beta::Breadcrumbs.new(my: 3)) do |component| %>
        <% if current_context.is_a?(Organization) %>
          <% if org_admin? %>
            <% component.with_item(href: settings_org_profile_path(this_organization)) do %><%= this_organization.display_login %> settings<% end %>
          <% else %>
            <% component.with_item(href: settings_org_apps_path(this_organization)) do %><%= this_organization.display_login %> settings<% end %>
          <% end %>
        <% elsif current_context.is_a?(Business) %>
          <% component.with_item(href: settings_profile_enterprise_path) do %>Settings<% end %>
          <% component.with_item(href: gh_settings_apps_path(current_context)) do %>GitHub Apps<% end %>
        <% else %>
          <% component.with_item(href: settings_user_profile_path) do %>Settings<% end %>
          <% component.with_item(href: settings_user_developer_applications_path) do %>Developer settings<% end %>
          <% component.with_item(href: gh_settings_apps_path(current_context)) do %>GitHub Apps<% end %>
        <% end %>
        <% component.with_item(href: request.path) do %><%= view.integration.name %><% end %>
      <% end %>
    </div>
  </div>
</div>
