<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 5 %>
<%# view is an instance of Integrations::ShowView %>

<div class="container-md mx-auto py-6 integration-key-management-wrapper js-integration-key-management-wrapper js-integration-key-multi <%= view.keys_classes %>">

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2, font_size: 3) do %>Private keys<% end %>
    <% component.with_actions(classes: "integration-key-list") do %>
      <%= button_to "Generate a private key", gh_generate_key_settings_app_path(view.integration), class: "btn btn-sm js-generate-integration-key" %>
    <% end %>
  <% end %>

  <div class="integration-key-list">
    <p>
      You need a private key to sign access token requests.
      <%= link_to "Learn more about private keys", "#{GitHub.developer_help_url}/apps/building-github-apps/authentication-options-for-github-apps/#generating-a-private-key", class: "Link--inTextBlock" %>.
    </p>

    <div class="Box">
      <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
        <%= render Primer::Alpha::Banner.new(scheme: :danger, full: true, classes: "Box-row js-error-container") do %>
          <button class="flash-close js-error-dismiss" type="button"><%= primer_octicon(:sync, :"aria-label" => "Reload keys") %></button>
          <span class="js-error-message">There was a problem...</span>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Flash.new(scheme: :danger, full: true, classes: "Box-row js-error-container") do %>
          <button class="flash-close js-error-dismiss" type="button"><%= primer_octicon(:sync, :"aria-label" => "Reload keys") %></button>
          <span class="js-error-message">There was a problem...</span>
        <% end %>
      <% end %>

      <% view.integration.public_keys.each do |public_key| %>
        <div id="integration-key-<%= public_key.id %>" class="Box-row d-flex flex-items-center integration-key">
          <div class="">
            <span class="js-user-key-icon clearfix d-block text-center">
              <%= primer_octicon(:key, height: 32) %>
            </span>
            <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: Private") do %>
              Private
            <% end %>
          </div>
          <div class="flex-auto px-4">
            <h5>Private key</h5>
            <code><%= public_key.fingerprint %></code>
            <p class="color-fg-muted mb-0">
              Added <%= time_ago_in_words_js public_key.created_at %>
              <% if public_key.creator.present? %>
                by <strong><%= public_key.creator.display_login %></strong>
              <% end %>
            </p>

          </div>
          <div class="action">
            <div class="deletable">
              <%= render layout: "shared/details_dialog", locals: {
                button_text: "Delete",
                button_class: "btn btn-sm btn-danger",
                title: "Delete private key?"
              } do %>
                <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
                  <%= render Primer::Alpha::Banner.new(scheme: :warning, full: true) do %>
                    This action cannot be undone. This key will stop working immediately.
                    Are you sure you want to delete this private key?
                  <% end %>
                <% else %>
                  <%= render Primer::Beta::Flash.new(scheme: :warning, full: true) do %>
                    This action cannot be undone. This key will stop working immediately.
                    Are you sure you want to delete this private key?
                  <% end %>
                <% end %>
                <div class="Box-footer">
                  <%= form_tag gh_remove_key_settings_app_path(view.integration, public_key), method: :delete,
                    class: "js-remove-integration-key", "data-key-id" => "integration-key-#{public_key.id}" do %>
                    <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>
                      Delete
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="undeletable">
              <%= render Primer::ButtonComponent.new(variant: :small, scheme: :danger, classes: "tooltipped tooltipped-w", disabled: true, "aria-label": "You cannot delete the only private key. Generate a new key first.") do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                Delete
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="integration-key-downloading Box-row">
        <div class="d-flex flex-items-center">
          <div class="">
            <span class="js-user-key-icon clearfix d-block text-center">
              <%= primer_octicon(:key, height: 32) %>
            </span>
            <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: Private") do %>
              Private
            <% end %>
          </div>
          <div class="flex-auto px-4">
            <h5>Private key (generating)</h5>
            <p class="color-fg-muted mb-0">
              Added just now
              by <strong><%= current_user.display_login %></strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render Primer::BlankslateComponent.new(
    title: "Generate a private key",
    description: "You need a private key to sign access token requests.",
  ) do %>
    <%= button_to "Generate a private key", gh_generate_key_settings_app_path(view.integration), class: "btn btn-primary my-3 js-generate-integration-key" %>
    <p>
      <%= link_to "Learn more about private keys", "#{GitHub.developer_help_url}/apps/building-github-apps/authentication-options-for-github-apps/#generating-a-private-key" %>.
    </p>
  <% end %>
</div>
