<%# view is instance of Integrations::PermissionsView %>

<%= render(ProgrammaticAccess::PermissionsSelectionComponent.new(view: view)) do |component| %>
  <% component.with_subhead(spacious: !component.edit_view?) do |subhead|%>
    <% subhead.with_heading(tag: :h2, font_size: 3) { "Permissions" } %>
  <% end %>
  <% component.with_description(mb: 4) do %>
    User permissions are granted on an individual user basis as part of the <%= link_to "User authorization flow", "#{GitHub.developer_help_url}/apps/building-github-apps/identifying-and-authorizing-users-for-github-apps/#identifying-and-authorizing-users-for-github-apps", class: "Link--inTextBlock" %>.
    <br>
    Read our <%= link_to "permissions documentation", view.resource_docs_url(nil), target: "_blank", rel: "noopener noreferrer", class: "Link--inTextBlock" %> for information about specific permissions.
    <% if component.edit_view? %>
      <br><br>
      Changes to permissions will be applied to all future installations. Current users will be prompted to accept any changes and enable the new permissions on their installation.
    <% end %>
  <% end %>

  <% component.with_additional_settings do |additional_settings| %>
    <%= render Primer::Beta::Subhead.new(spacious: true, classes: "js-integration-hook-enabled", hidden: !view.active_hook?) do |component| %>
      <% component.with_heading(tag: :h2, font_size: 3) do %>Subscribe to events<% end %>
    <% end %>

    <p class="js-integration-hook-enabled" <%= 'hidden' unless view.active_hook? %>>Based on the permissions you’ve selected, what events would you like to subscribe to?</p>

    <div class="clearfix border-bottom js-integration-hook-enabled" <%= 'hidden' unless view.active_hook? %>>
      <%= render partial: "integrations/settings/integrator_event_selection", collection: view.available_integrator_events, as: :event, locals: { view: view } %>
      <%= render partial: "integrations/settings/event_selection", collection: view.event_types_to_resources, as: :event, locals: { view: view } %>
    </div>
  <% end %>
<% end %>
