<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_for integration, url: gh_update_permissions_settings_apps_path(integration), method: :put do |f| %>
  <%= render "integrations/settings/permission_fields", view: create_view_model(Integrations::PermissionsView, { integration: integration, form: f }) %>

  <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
    <% component.with_heading(tag: :h2, font_size: 3) do %><label for="note">Add a note to users</label><% end %>
    <% component.with_description do %>This note will be displayed on the permissions update approval page.<% end %>
  <% end %>

  <%= render partial: "integrations/settings/preview_markdown_field", locals: {integration: integration, form: f, field: :note} %>

  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render(Primer::Alpha::Banner.new(scheme: :danger, mb: 3, mt: 4)) do %>
      <h5 class="">Are you sure you want to update permissions?</h5>
      <p>Current users will be prompted to accept these changes and enable the new permissions on their installation.</p>
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Flash.new(scheme: :danger, mb: 3, mt: 4)) do %>
      <h5 class="">Are you sure you want to update permissions?</h5>
      <p>Current users will be prompted to accept these changes and enable the new permissions on their installation.</p>
    <% end %>
  <% end %>

  <div class="form-actions border-top pt-3">
    <% if current_user.employee? && Apps::Internal.capable?(:proxima_first_party_sync, app: integration) %>
      <%= render(Primer::Alpha::Banner.new(scheme: :warning, mb: 3, mt: 4)) do %>
        <p>This integration is currently sync'd on all Proxima stamp environments. Before making changes, please ensure that you are properly handling the setting changes in all environments. There may be a delay of up to five minutes before changes to this integration's settings are reflected in the Proxima stamp environments.</p>
        <p>Refer to <%= link_to("the documentation on The Hub", "https://thehub.github.com/epd/engineering/products-and-services/dotcom/apps/proxima/how-to-synchronize-apps-on-proxima/", class: "Link--inTextBlock") %> for more information.</p>
      <% end %>
    <% end %>

    <%= f.submit "Save changes", id: 'js-update-integration-permissions', class: 'btn btn-primary', disabled: true %>
  </div>
<% end %>
