<div class="form-group">
  <div>
    <%
      textarea_id = field == :description ? "integrator_description": "developer_note"
      data_preview_url = gh_preview_permissions_note_apps_path(integration, field: field)
    %>
    <div class="js-previewable-comment-form previewable-comment-form write-selected" data-preview-url="<%= data_preview_url %>">
      <%= csrf_hidden_input_for data_preview_url, class: "js-data-preview-url-csrf" %>
      <div class="p-0 color-bg-default comment-form-head tabnav">
        <div class="float-right hide-sm">
          <a rel="noopener noreferrer" class="tabnav-extra" href="<%= GitHub.help_url %>/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax" target="_blank">
            <%= primer_octicon(:markdown) %>
            Markdown supported
          </a>
        </div>
        <nav class="tabnav-tabs" aria-labelledby="<%= textarea_id %>">
          <span class="tabnav-tab write-tab js-write-tab selected">Write</span>
          <span class="tabnav-tab preview-tab js-preview-tab">Preview</span>
        </nav>
      </div>
      <div class="comment-form-error js-comment-form-error" role="alert" hidden></div>

      <div class="m-0 write-content js-write-bucket">
        <%= form.text_area field,
          rows: nil,
          cols: nil,
          id: textarea_id,
          placeholder: field == :description ? "This is displayed to users of your GitHub App" : "Add a note to your users explaining why you are requesting these changes.",
          class: "js-comment-field js-paste-markdown js-size-to-fit input-with-fullscreen-icon",
          "aria-label":  field == :description ? "This is displayed to users of your GitHub App" : "Add a note to your users explaining why you are requesting these changes."
        %>
      </div>

      <div class="m-0 preview-content">
        <div class="comment-body markdown-body js-preview-body"></div>
      </div>
    </div>
  </div>
</div>
