<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="js-single-files col-8">
  <div class="m-0">
    <dl class="form-group <%= 'errored' if view.has_single_files_error? %>">
      <dt><label for="example-text">Path</label></dt>
      <dd>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="" aria-label="Path">
          <span class="input-group-button">
            <%= render(Primer::ButtonComponent.new(classes: "js-path-add", "aria-label": "Add path")) { "Add" } %>
          </span>
        </div>
        <div class="f6 py-1">The content paths to single files your app can access.</div>
      </dd>
      <dd class="sub-permissions-error error position-static" <%= 'hidden' unless view.has_single_files_length_error? %>>One or more paths were too long (maximum is 255 characters)</dd>
      <dd class="sub-permissions-error error position-static" <%= 'hidden' unless view.has_single_files_invalid_character_error? %>>One or more paths contain invalid characters</dd>
    </dl>
    <div class="Box my-3" <%= 'hidden' if view.granted_single_files.empty? %>>
      <ul class="js-single-files-path-list">
        <% view.granted_single_files.each do |path| %>
          <li class="Box-row d-flex flex-justify-between">
            <div class="js-single-files-path overflow-hidden pr-3"><%= path %></div>
            <button type="button" class="js-close btn-octicon px-1" aria-label="Delete this path"><%= render(Primer::Beta::Octicon.new(icon: "x")) %></button>
            <input type="hidden" name="integration[single_file_paths][]" value="<%= path %>">
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <template>
    <li class="Box-row d-flex flex-justify-between">
      <div class="js-single-files-path overflow-hidden pr-3"></div>
      <button type="button" class="js-close btn-octicon px-1" aria-label="Delete this path"><%= render(Primer::Beta::Octicon.new(icon: "x")) %></button>
      <input type="hidden" name="integration[single_file_paths][]">
    </li>
  </template>
</div>
