<%# view is an instance of Integrations::ShowView %>
<% page_info\
  responsive: false,
  title: "GitHub Apps - #{view.integration.name}",
  selected_link: view.selected_link,
  stafftools: stafftools_user_app_path(view.integration.owner, view.integration)
%>
<%
  agreement_needs_signed = view.integration.owner.feature_enabled?(:copilot_extensions_agreement) && !Copilot::ExtensionsAgreementSignature.signed_by?(view.integration.owner)
%>
<% content = capture do %>
  <%= render "integrations/settings/integration_header", :view => view %>
  <div class="container-lg px-3">
    <div class="gutter clearfix">
      <div class="col-3 float-left">
        <%= render "integrations/settings/integration_menu", :view => view %>
      </div>
      <div class="col-9 float-left">
        <%= render Primer::Beta::Subhead.new do |component| %>
          <% component.with_heading(tag: :h2) do %>
            Copilot
          <% end %>

          <% component.with_description do %>
            A Copilot configuration allows your GitHub App to integrate with Copilot.
          <% end %>
        <% end %>

        <% agent = view.integration.integration_agent || view.integration.build_integration_agent %>
        <integration-agent-form <%= view.integration.agent_disableable? ? "data-useswitcher='1'" : nil %> >
          <% if view.integration.agent_disableable? %>
            <%= render Primer::Alpha::Select.new(
              name: "integration_agent[app_type]",
              required: true,
              label: "App Type",
              data: { target: "integration-agent-form.switcher", action: "change:integration-agent-form#switchForm" },
              mb: 3
            ) do |component| %>
              <% component.option label: "Disabled", value: "disabled", selected: agent.app_type == "disabled" %>
              <% component.option label: "Agent", value: "agent", selected: agent.app_type == "agent" %>
            <% end %>
          <% end %>
          <div data-target="integration-agent-form.agent" <%= "hidden" unless agent.app_type == "agent" %> >

          <% if agreement_needs_signed %>
            <div class="mb-4">
              <%= render(Copilot::ExtensionsAgreementComponent.new(view.integration)) %>
            </div>
          <% end %>

          <%= primer_form_with(
            url: gh_settings_app_update_integration_agent_path(view.integration),
            method: :put,
            model: agent,
          ) do |f| %>
            <div class="FormControl-spacingWrapper">
                <%= render Primer::Alpha::TextField.new(
                  name: "integration_agent[url]",
                  required: true,
                  label: "URL",
                  caption: "The URL that Copilot will send messages to.",
                  value: agent.url,
                  disabled: agreement_needs_signed,
                ) %>

                <%= render Primer::Alpha::TextArea.new(
                  name: "integration_agent[description]",
                  required: true,
                  label: "Inference description",
                  caption: "A machine-ready description, used to infer your App's capabilities.",
                  value: agent.description,
                  disabled: agreement_needs_signed,
                ) %>

                <%= render Primer::Alpha::TextField.new(
                  id: "agent_client_authorization_url",
                  name: "integration_agent[client_authorization_url]",
                  required: false,
                  label: "Pre-Authorization URL",
                  caption: "The URL where users will be redirected to start for authentication.",
                  value: agent.client_authorization_url,
                  disabled: agreement_needs_signed,
                ) %>

                <div class="flex-self-start">
                  <%= render Primer::Beta::Button.new(type: :submit, disabled: agreement_needs_signed) do %>Save<% end %>
                </div>
              </div>
            <% end %>
          </div>
        </integration-agent-form>
      </div>
    </div>
  </div>
<% end %>
<%= render layout: "settings/settings_focus" do %>
  <%= content %>
<% end %>
