<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# view is an instance of Integrations::ShowView %>

<% page_info\
  responsive: false,
  title: "GitHub Apps - #{view.integration.name}",
  selected_link: view.selected_link,
  stafftools: stafftools_user_app_path(view.integration.owner, view.integration)
%>

<% content = capture do %>
  <%= render "integrations/settings/integration_header", :view => view %>
  <div class="container-lg px-3">
    <div class="gutter clearfix">
      <div class="col-3 float-left">
        <%= render "integrations/settings/integration_menu", :view => view %>
      </div>
      <div class="col-9 float-left">
        <%= render Primer::Beta::Subhead.new do |component| %>
          <% component.with_heading(tag: :h2, font_size: 3) do %>Activate optional features for <%= view.integration.name %><% end %>
        <% end %>
        <p class="mb-4">Choose a feature to activate for <%= view.integration.name %>:</p>
        <div class="Box">

          <% if view.beta_feature_available?("user_token_expiration_opt_in") %>
            <div class="Box-row d-flex flex-items-center">
              <div class="flex-auto mr-3">
                <strong class="mb-2">User-to-server token expiration</strong>
                <p class="note"> User-to-server access tokens will expire after 8 hours. A Refresh Token will be provided which can be exchanged for a new access token.</p>
              </div>

              <%= form_tag(gh_settings_app_beta_feature_toggle_path(view.integration), method: :put) do %>
                <input type="hidden" name="beta_feature" value="user_token_expiration_opt_in">
                <input type="hidden" name="beta_feature_toggle" value="<%= view.beta_feature_toggle_value("user_token_expiration_opt_in") %>">
                <%= render Primer::ButtonComponent.new(type: :submit, classes: "btn-default", "aria-label": "#{ view.beta_feature_toggle_value("user_token_expiration_opt_in").capitalize } user-to-server token expiration for this app.") do %>
                  <%= view.beta_feature_toggle_submit_value("user_token_expiration_opt_in") %>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <% unless view.beta_features? %>
            <div class="Box-row">
              <p>There's nothing here yet, check back later!</p>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
<% end %>

<%= render layout: "settings/settings_focus" do %>
  <%= content %>
<% end %>
