<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info :title => "GitHub Apps", :selected_link => :integrations %>

<% content = capture do %>
  <% unless view.pending_transfers.blank? %>
    <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
      <%= render(Primer::Alpha::Banner.new(scheme: :warning, mb: 4, icon: "alert")) do %>
        You have <%= view.pending_transfers.count %> pending integration transfer <%= pluralize_without_number(view.pending_transfers.count, 'request') %>. You can review those below.
      <% end %>
    <% else %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 4, icon: "alert")) do %>
        You have <%= view.pending_transfers.count %> pending integration transfer <%= pluralize_without_number(view.pending_transfers.count, 'request') %>. You can review those below.
      <% end %>
    <% end %>

    <h4>Pending transfer requests</h4>

    <ul class="table-list org-transfer-requests">
      <% view.pending_transfers.each do |transfer| -%>
        <%= render :partial => 'integrations/settings/integration_transfer_row', :object => transfer %>
      <% end %>
    </ul>
  <% end %>

  <div class="settings-next">
    <% unless current_context.is_a?(Business) %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2, font_size: 3) do %>GitHub Apps<% end %>
      <% component.with_actions do %>
        <% if view.can_create_apps? %>
        <%= link_to "New GitHub App",
            gh_new_settings_app_path(current_context),
            :class => new_integration_button_classes(current_context, ["btn", "btn-sm"]),
            "data-pjax" => true %>
        <% end %>
      <% end %>
      <% end %>
    <% end %>

    <% if view.integrations.empty? && view.can_create_apps? %>
      <p>
        Want to build something that integrates with and extends GitHub?
        <%= link_to "Register a new GitHub App", gh_new_settings_app_path(current_context), class: "Link--inTextBlock" %> to get started developing on the GitHub API.
        You can also read more about building GitHub Apps in our <a class="Link--inTextBlock" href="<%= docs_url "apps/about-creating-github-apps" %>">developer documentation</a>.
      </p>
    <% end %>
  </div>

  <% if view.integrations.any? %>
    <div class="js-navigation-container js-active-navigation-container clearfix mt-n3">
      <% view.integrations.each do |integration| %>
        <%= render "integrations/settings/integration_row", :integration => integration %>
      <% end %>
    </div>

    <div class="paginate-container">
      <%= will_paginate view.integrations %>
    </div>

    <p class="text-small color-fg-muted">A GitHub App can act on its own behalf, taking actions via the API directly instead of impersonating a user. Read more in our <a class="Link--inTextBlock" href="<%= docs_url "apps/about-creating-github-apps" %>">developer documentation</a>.</p>
  <% end %>

  <% if current_context.organization? && org_admin? %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2, font_size: 3) do %>Management<% end %>
    <% end %>

    <p>
      Choose members that are allowed to manage all GitHub Apps belonging to this organization.
    </p>

    <%= render "settings/organization/member_privileges/manage_apps", view: create_view_model(
      Settings::Organization::ManageIntegrationsView,
      organization: current_context
    ) %>
  <% end %>
<% end %>

<% if current_context.business? %>
  <%= render layout: "businesses/layout",
      locals: {
        title: "GitHub Apps",
        business: current_context,
        container_attributes: "itemscope itemtype='http://schema.org/Business'",
        header_component_action: new_enterprise_integration_button_for(current_context),
      } do %>
    <%= render "businesses/integrations/tabs" %>
    <%= content %>
  <% end %>
<% elsif current_context.organization? %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% elsif current_context.user? %>
  <%= render layout: "settings/developer_settings" do %>
    <%= content %>
  <% end %>
<% end %>
