<%# view is an instance of Integrations::ShowView %>

<% page_info\
  responsive: false,
  title: "GitHub Apps - #{view.integration.name}",
  selected_link: view.selected_link,
  stafftools: stafftools_user_app_path(view.integration.owner, view.integration)
%>

<% content = capture do %>
  <%= render "integrations/settings/integration_header", :view => view %>
  <div class="container-lg px-3">
    <div class="gutter clearfix">
      <div class="col-3 float-left">
        <%= render "integrations/settings/integration_menu", :view => view %>
      </div>
      <div class="col-9 float-left">
        <%= render partial: 'integrations/settings/permission_fields_form', locals: { integration: view.integration } %>
      </div>
    </div>
  </div>
<% end %>

<%= render layout: "settings/settings_focus" do %>
  <%= content %>
<% end %>
