<%# `view` is an instance of Stafftools::User::ShowView %>
<% if GitHub.copilot_enabled? %>
  <div class="site-admin-box">
    <h4>
      <%= primer_octicon(:copilot) %>
      <%= link_to "Copilot", stafftools_user_copilot_settings_path(this_user) %>
    </h4>
    <ul class="site-admin-detail-list">
      <% if this_user.organization? %>
        <%= render(Stafftools::Copilot::OrganizationAccessDetailComponent.new(this_user)) %>
      <% else %>
        <%= render(Stafftools::Copilot::AccessDetailComponent.new(
          access_allowed: view.copilot_access_allowed?,
          access_reason: view.copilot_access_reason,
          allow_public_code_suggestions: view.copilot_allow_public_code_suggestions,
          telemetry_enabled: view.copilot_telemetry_enabled,
        )) %>
        <li>
          <%= link_to "View details", stafftools_user_copilot_settings_path(this_user) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
