<% if GitHub.codespaces_enabled? %>
  <div class="site-admin-box">
    <h4>
      <%= primer_octicon(:codespaces) %>
      <%= link_to "Codespaces", stafftools_user_codespaces_path(this_user) %>
    </h4>
    <ul class="site-admin-detail-list">
      <% if this_user.codespaces_feature_enabled? %>
        <% unless this_user.organization? %>
          <% if this_user.codespaces.count == 0 %>
            <li>
              <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
              No Codespaces
            </li>
          <% else %>
            <li>
              <%= primer_octicon(:codespaces) %>
              <%= render(Primer::Beta::Link.new(href: stafftools_user_codespaces_path(this_user))) do %>
                <%= number_with_delimiter this_user.codespaces.count %>
                <%= pluralize_without_number this_user.codespaces.count, "codespace" %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <% else %>
        <li>
          <%= render(Primer::Beta::Octicon.new(icon: "circle-slash", color: :danger)) %> Codespaces Disabled
        </li>
      <% end %>
      <li>
        <%= primer_octicon(:gear) %> <%= link_to "View settings", stafftools_user_codespaces_path(this_user) %>
      </li>
    </ul>
  </div>
<% end %>
