<% if GitHub.package_registry_enabled? %>
  <div class="site-admin-box">
    <h4>
      <%= primer_octicon(:package) %>
      Packages
    </h4>
    <ul class="site-admin-detail-list">
      <% if counts[:unmigrated_packages] == 0 %>
        <li>
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          No Packages
        </li>
      <% else %>
        <li>
          <%= primer_octicon(:package) %> <%= pluralize(number_with_delimiter(counts[:unmigrated_packages]), "") %> <%= link_to "Packages", stafftools_user_packages_path(this_user) %>
        </li>
      <% end %>
      <% if counts[:organization_packages] == 0 %>
        <li>
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          No Organization Packages
        </li>
      <% else %>
        <li>
          <%= primer_octicon(:container) %> <%= pluralize(number_with_delimiter(counts[:organization_packages]), "") %> <%= link_to "Organization Packages", stafftools_user_organization_packages_path(this_user) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
