<div class="site-admin-box">
  <h4>
    <%= render(Primer::Beta::Octicon.new(icon: "repo")) %>
    <%= link_to "Repositories", stafftools_user_repositories_path(account) %>
  </h4>
  <ul class="site-admin-detail-list">
    <% if counts[:total_repos] == 0 %>
      <li>
        <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
        No repositories
      </li>
    <% else %>
      <%= render(Stafftools::SummaryCounterComponent.new(
        icon: :lock,
        count: counts[:private_repos],
        singular: "private repository",
        path: stafftools_user_repositories_path(account),
        max_threshold: Organization::MEGA_ORG_REPOS_THRESHOLD
      )) %>
      <%= render(Stafftools::SummaryCounterComponent.new(
        icon: :lock,
        count: counts[:internal_repos],
        singular: "internal repository",
        path: stafftools_user_repositories_internal_path(account),
        max_threshold: Organization::MEGA_ORG_REPOS_THRESHOLD
      )) %>
      <%= render(Stafftools::SummaryCounterComponent.new(
        icon: :repo,
        count: counts[:public_repos],
        singular: "public repository",
        path: stafftools_user_repositories_public_path(account),
        max_threshold: Organization::MEGA_ORG_REPOS_THRESHOLD
      )) %>
      <% if counts[:disabled_repos] > 0 %>
        <%= render(Stafftools::SummaryCounterComponent.new(
          icon: :alert,
          count: counts[:disabled_repos],
          singular: "disabled repository",
          path: stafftools_user_repositories_disabled_path(account),
          max_threshold: Organization::MEGA_ORG_REPOS_THRESHOLD
        )) %>
      <% end %>
      <%= render(Stafftools::SummaryCounterComponent.new(
        icon: :trash,
        count: counts[:archived_repos],
        singular: "deleted repository",
        path: stafftools_user_repositories_deleted_path(account),
        max_threshold: Organization::MEGA_ORG_REPOS_THRESHOLD
      )) %>
      <% if counts[:locked_repos] > 0 %>
        <%= render(Stafftools::SummaryCounterComponent.new(
          icon: :alert,
          count: counts[:locked_repos],
          singular: "locked repository",
          path: stafftools_user_repositories_locked_path(account),
          max_threshold: Organization::MEGA_ORG_REPOS_THRESHOLD
        )) %>
      <% end %>
      <%= render(Stafftools::SummaryCounterComponent.new(
        icon: :pin,
        count: counts[:pinned_repos],
        singular: "pinned repository",
        path: stafftools_user_repositories_public_path(account),
      )) %>
      <% unless GitHub.single_or_multi_tenant_enterprise? %>
        <%= render(Stafftools::SummaryCounterComponent.new(
          icon: :trash,
          count: counts[:repos_with_deleted_pages],
          singular: "soft-deleted pages",
          path: stafftools_user_repositories_pages_path(account),
        )) %>
      <% end %>
    <% end %>
  </ul>
</div>
