<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="container-<%= container_size %> mt-3">
  <%= render(Primer::Beta::Flash.new(test_selector: "low-balance-cta")) do %>
    <%= sponsor %>'s sponsorship balance is below <%= low_balance_threshold.format(no_cents_if_whole: true) %>.
    <% if self_serve_invoices_enabled? %>
      <a href="<%= new_invoice_url %>">Create a new invoice</a> to refill your balance.
    <% else %>
      <a href="<%= support_url %>">Contact support</a> to refill your balance.
    <% end %>
  </div>
<% end %>
