<% if has_visible_sponsorships? %>
  <%= render Sponsors::SponsoringHeaderComponent.new(
    paginated_sponsorships: sponsorships,
    active_sponsoring_count: active_sponsoring_count,
    inactive_sponsoring_count: inactive_sponsoring_count,
    viewer_can_manage_sponsorships: viewer_can_manage_sponsorships?,
    location: :org_sponsoring_tab,
    user_or_org: @sponsor,
  ) %>

  <%= render(Primer::Alpha::TabNav.new(label: "Sponsorship state filters")) do |component| %>
    <% component.with_tab(
      selected: filtering_active?,
      href: org_sponsoring_path(org: @sponsor),
    ) { "Current" } %>
    <% component.with_tab(
      selected: filtering_inactive?,
      href: org_sponsoring_path(
        filter: Sponsors::Orgs::SponsoringComponent::INACTIVE_FILTER_PARAM,
        org: @sponsor,
      ),
    ) { "Past" } %>
  <% end %>
<% end %>

<% if show_sponsorships? %>
  <ul class="d-flex flex-wrap list-style-none gutter-condensed mb-1 clearfix" <%= test_selector("sponsoring-list") %>>
    <% sponsorships.each do |sponsorship| %>
      <%= render Sponsors::Orgs::SponsorshipComponent.new(
        sponsorship: sponsorship,
        viewer_can_manage_sponsorships: viewer_can_manage_sponsorships?,
        viewer_is_sponsoring: viewer_is_sponsoring?(sponsorship.sponsorable_id),
        is_sponsorable_for_viewer: viewer_can_sponsor?(sponsorship.sponsorable_id),
      ) %>
    <% end %>
  </ul>

  <% if sponsorships.total_pages > 1 %>
    <div class="paginate-container">
      <%= will_paginate sponsorships %>
    </div>
  <% end %>
<% else %>
  <div class="d-lg-flex gutter-lg">
    <div class="col-lg-12">
      <%= render Primer::Beta::Blankslate.new(mt: 5, test_selector: "sponsoring-blank-slate") do |c| %>
        <% c.with_heading(tag: :h2).with_content(blank_slate_message) %>
      <% end %>
    </div>
  </div>
<% end %>

<% if viewer_can_manage_sponsorships? %>
  <p class="color-fg-muted" <%= test_selector("sponsorship-log-link") %>>
    You can see changes made to <strong><%= @sponsor %></strong>'s sponsorships over time in the
    <a class="Link--inTextBlock" href="<%= settings_org_sponsors_log_path(@sponsor) %>">sponsorship log</a>.
  </p>
<% end %>

<%= render Sponsors::DependenciesBannerComponent.new(
  sponsor_login: @sponsor.display_login,
  total_dependencies: @total_dependencies,
) %>
