<li class="col-12 col-lg-6 mb-3" <%= test_selector("sponsoring-#{sponsorable_login}") %>>
  <div class="border rounded-2 d-flex flex-column height-full flex-justify-between">
    <div class="d-flex flex-justify-between pt-3 px-3 pb-1">
      <div class="d-flex flex-items-center">
        <%= render Sponsors::Sponsorables::LinkedAvatarComponent.new(
          sponsors_listing: sponsors_listing,
          avatar_size: 40,
        ) %>
        <div class="pl-3">
          <p class="m-0 mb-1">
            <% if sponsorable.profile_name %>
              <div>
                <%= profile_link(sponsorable, class: "Link--primary text-bold wb-break-word") do %>
                  <%= sponsorable.profile_name %>
                <% end %>
              </div>
              <%= profile_link(sponsorable, class: "text-small color-fg-muted wb-break-word") do %>
                <%= sponsorable_login %>
              <% end %>
            <% else %>
              <%= profile_link(sponsorable, class: "Link--primary text-bold wb-break-word") do %>
                <%= sponsorable_login %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
      <div <%= test_selector("sponsoring-#{sponsorable_login}-button") %>>
        <% if viewer_can_manage_sponsorships? %>
          <%= render  Sponsors::ManageSponsorshipComponent.new(sponsorship: sponsorship) %>
        <% elsif viewer_is_sponsoring? || sponsorable_for_viewer? %>
          <%= render Sponsors::SponsorButtonComponent.new(
            sponsorable: sponsorable_login,
            is_sponsoring: viewer_is_sponsoring?,
            location: sponsor_button_location,
            id: sponsor_button_id,
          ) %>
        <% end %>
      </div>
    </div>

    <div class="px-3 pb-2" <%= test_selector("sponsoring-#{sponsorable_login}-bio") %>>
      <p class="text-small my-2"><%= sponsors_listing.featured_description.presence || sponsorable.profile_bio %></p>
    </div>
    <div class="p-3 width-full border-top">
      <div class="color-fg-muted text-small" <%= test_selector("sponsoring-#{sponsorable}-info") %>>
        <% if viewer_can_manage_sponsorships? %>
          <div class="mb-2">
            <%= primer_octicon(icon: :eye, size: :xsmall, mr: 1) %>
            Only visible to admins and billing managers
          </div>
          <%= render Sponsors::Orgs::PastSponsorshipLabelComponent.new(sponsorship: sponsorship, mb: 2) %>
          <span class="d-block"><%= sponsoring_text %></span>
          <span <%= test_selector("sponsoring-#{sponsorable_login}-tier-info") %> class="d-block">
            <%= tier_description %>
          </span>
          <% if sponsorship_end_date.present? %>
            <span class="d-block" <%= test_selector("sponsors-end-date") %>>
              <%= sponsorship_end_date %>
            </span>
          <% end %>
          <%= render Sponsors::PendingChangeNoticeComponent.new(sponsorship: sponsorship, px: 2, mt: 3) %>
        <% else %>
          <%= sponsoring_text %>
          <%= render Sponsors::Orgs::PastSponsorshipLabelComponent.new(sponsorship: sponsorship, ml: 2) %>
        <% end %>
      </div>
    </div>
  </div>
</li>
