<div role="row" class="d-flex gutter-md-condensed flex-wrap flex-md-nowrap width-full width-md-auto">
  <div role="rowheader" class="col-12 col-md-4 position-relative text-left my-md-3">
    <%= content_tag(:details,
      class: "Box-row pricing-card-accordion details-reset p-0 d-flex color-fg-muted",
      data: @data
    ) do %>
      <summary class="Details-element">
        <div class="col-12 d-flex user-select-none">
          <div class="d-flex flex-items-center col-6 col-md-12 pr-1">
            <div class="pricing-card-accordion-state mt-1 mr-1 mr-md-0 col-1 col-md-1 color-fg-muted text-small">
              <%= primer_octicon(:"chevron-right", use_symbol: true) %>
            </div>
            <div class="d-flex flex-auto flex-justify-between flex-items-center">
              <div class="flex-auto d-inline-block text-bold">
                <%= title %>
              </div>
            </div>
          </div>
          <div class="d-flex d-md-none flex-items-center col-6 color-bg-subtle">
            <div class="p-3 js-compare-features-item" data-plan="free">
              <%= feature_support_text(free) %>
              <%= footnote_text(free) %>
            </div>
            <% if is_personal? %>
              <div class="p-3 js-compare-features-item" data-plan="pro">
                <%= feature_support_text(is_pro_plan? ? pro : team) %>
                <%= footnote_text(is_pro_plan? ? pro : team) %>
              </div>
            <% else %>
              <div class="p-3 js-compare-features-item" data-plan="team">
                <%= feature_support_text(team)%>
                <%= footnote_text(team) %>
              </div>
              <% unless hide_enterprise? %>
                <div class="p-3 js-compare-features-item" data-plan="enterprise">
                  <%= feature_support_text(enterprise) %>
                  <%= footnote_text(enterprise) %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </summary>
      <include-fragment class="d-flex mt-2 flex-row flex-justify-end">
        <p class="ml-3 ml-md-0 col-11"><%= GitHub::Goomba::SimplePipeline.to_html(description, cache_settings: { use_cache: true }) %></p>
      </include-fragment>
    <% end %>
  </div>

  <div role="cell" class="col-4 d-none d-md-block text-center js-compare-features-item" data-plan="free">
    <div class="height-full p-3 color-bg-default">
      <%= feature_support_text(free) %>
      <%= footnote_text(free) %>
    </div>
  </div>

  <% if is_personal? %>
    <div role="cell" class="col-4 d-none d-md-block text-center js-compare-features-item" data-plan="pro">
      <div class="height-full p-3 color-bg-subtle">
        <%= feature_support_text(is_pro_plan? ? pro : team) %>
        <%= footnote_text(is_pro_plan? ? pro : team) %>
      </div>
    </div>
  <% else %>
    <div role="cell" class="col-4 d-none d-md-block text-center js-compare-features-item" data-plan="team">
      <div class="height-full p-3 color-bg-subtle">
        <%= feature_support_text(team) %>
        <%= footnote_text(team) %>
      </div>
    </div>

    <% unless hide_enterprise? %>
      <div role="cell" class="col-4 d-none d-md-block text-center js-compare-features-item" data-plan="enterprise">
        <div class="height-full p-3 color-bg-subtle">
          <%= feature_support_text(enterprise) %>
          <%= footnote_text(enterprise) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
