<li class="position-relative">
  <%= content_tag(:details,
      class: "Box-row pricing-card-accordion details-reset p-0 d-flex color-fg-muted",
      data: @data
    ) do %>
    <summary class="Details-element">
      <div class="py-2 d-flex user-select-none">
        <div class="pricing-card-accordion-state col-1 flex-shrink-0 color-fg-muted">
          <%= primer_octicon(:"chevron-right", use_symbol: true) %>
        </div>
        <div class="d-flex flex-column flex-items-baseline">
          <div class="flex-auto text-bold">
            <%= @title %>
          </div>
          <%= content_tag(:div,
            @subtitle,
            class: "color-fg-muted f6") if @subtitle.present? %>
        </div>
      </div>
    </summary>
    <include-fragment class="d-flex flex-justify-end">
      <p class="col-11"><%= GitHub::Goomba::SimplePipeline.to_html(@description, cache_settings: { use_cache: true }) %></p>
    </include-fragment>
  <% end %>
</li>
