<% if render_in_plan_card? %>
  <div <%= "hidden" if !monthly_only? %> class="js-monthly-cost tooltipped-n tooltipped-multiline tooltipped-no-delay"
    data-plan="<%= plan_name %>"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
    <h3 class="mb-0">
      <span class="d-flex flex-wrap flex-justify-center flex-items-center">
        <span class="d-flex flex-items-center f0-mktg text-normal mr-2">
          <%- if symbol_first? -%>
            <sup class="f3 color-fg-muted v-align-middle mr-1"><%= currency_symbol %></sup>
            <span class="js-computed-value" data-plan="<%= plan_name %>"><%= localized_unit_cost_monthly %></span>
            <span class="flex-self-end f2-mktg ml-1 mb-1 mb-md-2"><%= CURRENCY %></span>
          <%- else -%>
            <span class="js-computed-value" data-plan="<%= plan_name %>"><%= localized_unit_cost_monthly %></span>
            <sup class="f3 color-fg-muted v-align-middle mr-0"><%= currency_symbol %></sup>
            <span class="flex-self-end f2-mktg ml-1 mb-1 mb-md-2"><%= CURRENCY %></span>
          <%- end -%>
        </span>
        <span class="text-normal f4 color-fg-muted js-pricing-cost-suffix js-monthly-suffix">
          <%= per_month_suffix %>
        </span>
      </span>
    </h3>
  </div>

  <div <%= "hidden" if monthly_only? %> class="js-yearly-cost tooltipped-n tooltipped-multiline tooltipped-no-delay"
    data-plan="<%= plan_name %>"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
    <h3 class="mb-0">
      <div class="d-flex flex-wrap flex-lg-column flex-lg-wrap flex-xl-nowrap flex-justify-center flex-items-center">
        <div class="d-flex flex-lg-row flex-lg-wrap flex-justify-center flex-items-center">
          <% if display_discount? %>
            <span class="sr-only">Original price</span>
            <s class="d-flex js-yearly-cost flex-items-center f1-mktg color-fg-subtle mr-2 no-wrap" style="text-decoration-line: none;">
              <sup class="f4 color-fg-subtle v-align-middle mr-1"><%= currency_symbol %></sup>
              <span class="diagonal_line_through" data-plan="<%= plan_name %>"><%= localized_unit_cost_yearly %></span>
            </s>
            <span class="sr-only">Discounted price</span>
          <% end %>
          <span class="d-flex flex-items-center f0-mktg text-normal mr-2 no-wrap">
            <%- if symbol_first? -%>
              <sup class="f3 color-fg-muted v-align-middle mr-1"><%= currency_symbol %></sup>
              <span class="js-computed-value" data-plan="<%= plan_name %>"><%= localized_unit_cost_yearly_with_discount %></span>
              <span class="flex-self-end f2-mktg ml-1 mb-1 mb-md-2"><%= CURRENCY %></span>
            <%- else -%>
              <span class="js-computed-value" data-plan="<%= plan_name %>"><%= localized_unit_cost_yearly_with_discount %></span>
              <sup class="f3 color-fg-muted v-align-middle mr-0"><%= currency_symbol %></sup>
              <span class="flex-self-end f2-mktg ml-1 mb-1 mb-md-2"><%= CURRENCY %></span>
            <%- end -%>
          </span>
        </div>
        <span class="text-normal text-center f6-mktg color-fg-muted">
          <span>
            <%= per_year_suffix %>
          </span>
          <span class="d-lg-block no-wrap">
            <% if free? %>
              forever
            <% elsif !pro? %>
              for the first 12 months<sup class="color-fg-accent">*</sup>
            <% end %>
          </span>
        </span>
      </div>
    </h3>
  </div>

<% end %>

<% if render_in_comparison_table? %>
  <div class="my-2 tooltipped-n tooltipped-multiline tooltipped-no-delay"
    <%= test_selector("comparison-table-price") %>
  ><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
    <div hidden class="js-monthly-cost d-lg-flex flex-justify-center flex-items-center">
      <div class="f2 mr-lg-1">
        <%= currency_symbol %><span class="js-computed-value" data-plan="<%= plan_name %>"><%= localized_unit_cost_monthly %></span>
        <span class="flex-self-end f5"><%= CURRENCY %></span>
      </div>
      <span class="f6 js-pricing-cost-suffix" data-plan="<%= plan_name %>">
        <%= per_month_suffix %>
      </span>
    </div>

    <div class="js-yearly-cost d-lg-flex flex-column flex-justify-center flex-items-center">
      <div class="f2 mr-lg-1">
        <%= currency_symbol %><span class="js-computed-value" data-plan="<%= plan_name %>"><%= localized_unit_cost_yearly_with_discount %></span>
        <span class="flex-self-end f5"><%= CURRENCY %></span>
      </div>
      <span class="f6 js-pricing-cost-suffix" data-plan="<%= plan_name %>">
        <%= per_year_suffix %>
        <% if free? %>
          forever
        <% elsif !pro? %>
          <span>for the first 12 months<sup class="color-fg-accent">*</sup></span>
        <% end %>
      </span>
    </div>
  </div>
<% end %>

<% if render_monthly_and_annual? %>
  <div data-plan="<%= plan_name %>" <%= test_selector "price_tag_monthly_and_annual" %>>
    <h3 class="mb-0">
      <span class="d-flex flex-justify-center flex-items-center">
        <span class="d-flex flex-items-center text-normal mr-2">
            <span <%= test_selector "price_tag_cost_monthly" %> data-plan="<%= plan_name %>"><%= currency_symbol %><%= localized_unit_cost_monthly %> <%= per_month_suffix %></span>
        </span>
      </span>
    </h3>
    <span class="d-flex flex-justify-center flex-items-center">
      <span <%= test_selector "price_tag_cost_annual" %> data-plan="<%= plan_name %>" class="d-flex flex-items-center text-normal color-fg-muted">
        <%= currency_symbol %><%= localized_unit_cost_yearly %> <%= per_year_suffix %>
      </span>
    </span>
  </div>
<% end %>

<% if render_default? %>
  <div <%= test_selector("pricing-default") %> >
    <div class="d-lg-flex flex-justify-center flex-items-center">
      <div class="f5 mr-lg-1">
        <%= currency_symbol %><span class="js-computed-value" data-plan="<%= plan_name %>"><%= localized_unit_cost_monthly %></span>
      </div>
      <span class="f5 js-pricing-cost-suffix" data-plan="<%= plan_name %>">
        <%= per_month_suffix %>
      </span>
    </div>
  </div>
<% end %>
