<% if ip_allowlist_entries.any? || installed_app_ip_allowlist_entries.any? %>
<%# write the number of all entries in a span %>
<%# show result if there is one and results if there are more than 1 %>

<span class="sr-only" data-autosearch-results>
  <%= ip_allowlist_entries.count + installed_app_ip_allowlist_entries.count %> result<%= "s" if ip_allowlist_entries.count + installed_app_ip_allowlist_entries.count > 1 %>
</span>
  <ul class="table-list" style="table-layout: auto;">
    <li class="table-list-item color-bg-subtle color-fg-default">
      <span class="table-list-cell border-top-0 text-bold f5 py-3 pl-3" style="min-width: 140px;">IP address</span>
      <span class="table-list-cell border-top-0 text-bold f5 py-3 ">Description</span>
      <span class="table-list-cell border-top-0 text-bold f5 py-3 pr-3"></span>
    </li>
    <%= render(IpAllowlistEntries::EntryComponent.with_collection(
      installed_app_ip_allowlist_entries,
      owner: owner,
      override_disabled: !owner.ip_allowlist_app_access_enabled?
    )) %>
    <%= render(IpAllowlistEntries::EntryComponent.with_collection(
      ip_allowlist_entries,
      owner: owner
    )) %>
  </ul>
  <div class="paginate-container hidden-when-empty" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate ip_allowlist_entries %>
  </div>
<% else %>
  <div class="Box-body text-center color-fg-muted py-6" data-autosearch-results>
    There are no IP addresses
    <% if params[:query].present? %>
      matching <em><%= params[:query] %></em>
    <% end %>
    on the allow list yet.
  </div>
<% end %>

<%= form_for IpAllowlistEntry.new, url: new_entry_path do |f| %>
  <div class="Box-footer d-flex flex-wrap gap-2">
    <%= render partial: "ip_allowlist_entries/edit_entry",
      object: IpAllowlistEntry.new, as: :entry, locals: { f: f } %>
  </div>
<% end %>
