<fieldset>
  <legend class="sr-only">Search results</legend>
  <% repositories.each do |repository| %>
    <%= render Discussions::Transfers::CandidateRepositories::RepositoryComponent.new(
      repository: repository,
    ) %>
  <% end %>
</fieldset>

<p aria-live="polite" class="sr-only">
  <% if repositories.empty? %>
    <%= empty_results_message %>
  <% else %>
    <%= pluralize(repositories.size, 'result') %>
  <% end %>
</p>

<% if repositories.empty? %>
  <div class="p-3 border-bottom" <%= test_selector("empty-results-message") %>>
    <%= empty_results_message %>
  </div>
<% end %>
