<% page_info responsive: false, title: view.page_title, selected_link: view.selected_link %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <%= link_to "Billing", settings_org_billing_path(view.organization) %> / Consumed Licenses
    <% end %>
  <% end %>
  <p>This table includes each user/email that is consuming a license.</p>

  <p> A user/email will consume a license if: </p>

  <%= render "shared/organization_licensing_explanation" %>

  <div class="Box my-4">
    <div class="markdown-body">
      <table class="csv-data d-table f3">
        <thead>
          <tr>
            <th>Handle or email</th>
            <th>Profile link</th>
          </tr>
        </thead>

        <tbody>
          <% view.data_rows.each do |row| %>
            <tr>
              <td><%= row.display_name %></td>
              <td>
                <% if row.url.present? %>
                  <a href="<%= row.url %>">Profile</a>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="paginate-container">
    <%= will_paginate view.data_rows %>
  </div>
<% end %>
