<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="px-3 mx-auto pt-4 container-md">
  <div class="text-left">
    <%= shared_flash %>
  </div>

  <h1 class="f2 text-center text-normal">
    Single sign-on to your <%= "organization".pluralize(organizations.count) %>
  </h1>
</div>

<div class="px-3 mt-5 mx-auto" style="max-width: 530px;">
  <div class="Box color-shadow-small">
    <div class="Box-header border-bottom-0 pb-0 color-bg-default">
      <h2 class="Box-title">
        Authenticate to authorize access
      </h2>
      <% if organizations.count > 1 %>
        <p>To access data within these organizations, your authentication is required</p>
      <% else %>
        <p>To access data within this organization, your authentication is required</p>
      <% end %>

      <hr class="my-2">
    </div>

    <div class="Box-body p-3 p-md-0 border-0 pb-2">
      <% organizations.each do |organization, authorized| %>
        <div class="Box-row d-flex flex-items-center border-0 py-2">
          <% if authorized %>
            <div class="flex-auto">
              <span class="color-fg-success"><%= primer_octicon(:check, height: 20, mr: 1) %></span> <span class="color-fg-muted"><%= organization.safe_profile_name %></span>
            </div>
          <% else %>
            <div class="flex-auto">
              <%= avatar_for(organization, 20, class: "avatar mr-1") %> <%= organization.safe_profile_name %>
            </div>

            <%= form_tag initiate_sso_url_for(organization), "data-turbo": "false" do %>
              <%= hash_to_hidden_fields(form_data: @form_data) if @form_data %>
              <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, variant: :small) do %>Authorize<% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <hr class="mx-3 mb-0 mt-1">

    <div class="Box-footer text-center border-top-0">
      <%= footer %>
    </div>
  </div>
</div>
