<%# view is an instance of Statuses:IconView. This view is the little icon
    near the SHA of a commit on a timeline representing the state of a commit %>

<% if view.any_statuses? %>
  <% if mobile? %>
    <div class="commit-build-statuses">
      <span class="<%= status_state_text_class(view.state) %>">
        <%= primer_octicon(icon_symbol_for_state(view.state), 'aria-label': combined_status_tooltip(view.combined_status)) %>
      </span>
    </div>
  <% else %>
    <details class="commit-build-statuses details-overlay details-reset js-dropdown-details">
      <summary class="<%= status_state_text_class(view.state) %>"
        aria-label="<%= combined_status_tooltip(view.combined_status) %>">
        <%= primer_octicon(icon_symbol_for_state(view.state)) %>
      </summary>
      <div class="dropdown-menu <%= view.dropdown_classes %> overflow-hidden">
        <% if block_given? %>
          <%= yield %>
        <% else %>
          <%= render "statuses/combined_branch_status", view: create_view_model(Statuses::CombinedStatusView, {
                combined_status: view.combined_status,
                simple_view: true
              }) %>
        <% end %>
      </div>
    </details>
  <% end %>
<% end %>
