<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="branch-action-item">
  <% if conflicts && view.head_branch_pushable? %>
    <%
      reason = if !pull.conflict_resolvable?
        "These conflicts are too complex to resolve in the web editor"
      elsif view.protection_prohibits_merge_on_head?
        "#{view.head_ref} branch is a protected branch"
      elsif view.conflict_editor_disabled?
        "Web conflict resolution across forked repositories has been disabled by your site administrator"
      end
    %>

    <a href="<%= pull_request_path(pull) + "/conflicts" %>" class="float-right btn <% if reason %>disabled<% end %>">
      Resolve conflicts
      <% if reason %>
        <span class="tooltipped tooltipped-nw tooltipped-multiline" aria-label="<%= reason %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
          <%= primer_octicon(:question) %>
        </span>
      <% end %>
    </a>
  <% end %>

  <div class="branch-action-item-icon completeness-indicator completeness-indicator-problem">
    <%= primer_octicon(:alert) %>
  </div>
  <h3 class="h4 status-heading">This branch has conflicts that must be resolved</h3>
  <span class="status-meta">
    <% if view.base_branch_pushable? %>
      <% if pull.conflict_resolvable? && view.head_branch_pushable? && !view.conflict_editor_disabled? && !view.protection_prohibits_merge_on_head? %>
        Use the <a class="Link--inTextBlock" href="<%= pull_request_path(pull) + "/conflicts" %>">web editor</a> or the <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-details-target", "aria-expanded": "false") do %>command line<% end %> to resolve conflicts.
      <% else %>
        <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-details-target", "aria-expanded": "false") do %>Use the command line<% end %> to resolve conflicts before continuing.
      <% end %>
    <% else %>
      Only those with <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/what-are-the-different-access-permissions">write access</a> to this repository can merge pull requests.
    <% end %>
  </span>

  <% if conflicts && view.head_branch_pushable? %>
    <h4 class="mb-1">Conflicting files</h4>
    <% conflicts.each do |file| %>
      <div class="pt-1 pb-1">
        <code><%= GitHub::Encoding.try_guess_and_transcode(file) %></code>
      </div>
    <% end %>
    <div class="mt-3 pt-3 border-top">
      <% if pull.conflict.max_files_exceeded? %>...<% end %>
    </div>
  <% end %>
</div>
