<%
  rule_path = new_repository_ruleset_path + "?target=branch&enforcement=disabled"
  docs_link = "#{GitHub.help_url}/repositories/configuring-branches-and-merges-in-your-repository/managing-rulesets/about-rulesets"
  docs_text = "Rulesets"
%>
<div class="position-relative overflow-hidden branch-action-item marketplace-product-callout js-notice">
  <div class="branch-action-item-icon completeness-indicator completeness-indicator-problem" <%= test_selector "protect-default-branch-primer-icon" %>>
    <%= render(Primer::Beta::Octicon.new(icon: "git-branch")) %>
  </div>
  <div class="d-sm-flex flex-justify-between" <%= test_selector "protect-default-branch-banner" %>>
    <div>
      <h4 class="status-heading color-fg-muted">Require approval from specific reviewers before merging</h4>
      <p class="status-meta mb-0"><%= render(Primer::Beta::Link.new(href: docs_link, data: analytics_click_attributes(category: "suggestion", action: "click_to_learn_more_about_branch_protection_rules", label: "ref_page:#{request.fullpath};ref_cta:branch_protection_rules;ref_loc:pull_request_status;"), classes: "Link--inTextBlock")) { docs_text } %> ensure specific people approve pull requests before they're merged.</p>
    </div>
    <div class="d-flex flex-items-center">
      <%= link_to "Add rule", rule_path, class: "btn mr-3 mx-sm-3", "data-pjax": true, data: analytics_click_attributes(category: "suggestion", action: "click_to_add_a_rule", label: "ref_page:#{request.fullpath};ref_cta:add_rule;ref_loc:pull_request_status;") %>
      <%= form_tag dismiss_repository_notice_user_path(current_user), method: :delete, :class => "js-notice-dismiss" do %>
        <input type="hidden" name="repository_id" value="<%= current_repository.id %>">
        <input type="hidden" name="notice_name" value="sculk_protect_this_branch">

        <%= button_tag(type: "submit",
          class: "btn-link color-fg-muted",
          data: analytics_click_attributes(category: "suggestion", action: "click_to_dismiss", label: "ref_page:#{request.fullpath};ref_cta:dismiss;ref_loc:pull_request_status;"),
          "aria-label": "Dismiss") do %>
          <%= render(Primer::Beta::Octicon.new(:x), "aria-label": "Dismiss") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
