<%# view is an instance of PullRequests::MergeButtonView %>
<% if view.required_review_thread_resolution_enabled? %>
  <% unresolved_thread_count, resolved_thread_count = view.review_thread_counts %>
  <div class="branch-action-item">
    <% if unresolved_thread_count == 0 && resolved_thread_count == 0 %>
      <div class="branch-action-item-icon completeness-indicator completeness-indicator-success">
        <%= render Primer::Beta::Octicon.new(icon: "check")  %>
      </div>
      <a href="<%= gh_show_pull_request_path(view.pull) %>/files#conversations-menu" class="float-right">
        View
      </a>
      <div class="h4 status-heading">No unresolved conversations</div>
      <span class="status-meta">There aren't yet any conversations on this pull request.</span>
    <% elsif unresolved_thread_count == 0 %>
      <div class="branch-action-item-icon completeness-indicator completeness-indicator-success">
        <%= render Primer::Beta::Octicon.new(icon: "check")  %>
      </div>
      <a href="<%= gh_show_pull_request_path(view.pull) %>/files#conversations-menu" class="float-right">
        View
      </a>
      <div class="h4 status-heading">All conversations are resolved</div>
      <span class="status-meta"><%= pluralize(resolved_thread_count, "resolved conversation") %></span>
    <% else %>
      <div class="branch-action-item-icon completeness-indicator completeness-indicator-error">
        <%= render Primer::Beta::Octicon.new(icon: "x")  %>
      </div>
      <a href="<%= gh_show_pull_request_path(view.pull) %>/files#conversations-menu" class="float-right">
        View
      </a>
      <div class="h4 status-heading color-fg-danger">Unresolved conversations</div>
      <span class="status-meta"><%= pluralize(unresolved_thread_count, "conversation") %> must be resolved before merging.</span>
    <% end %>
  </div>
<% end %>
