<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<%# view is an instance of PullRequests::MergeButtonView %>
<%
  pull = view.pull
  merge_state = view.merge_state
%>

<% if view.show_review_status? %>
  <div class="branch-action-item js-details-container Details">
    <% if merge_state.draft? %>
      <div class="branch-action-item-icon completeness-indicator completeness-indicator-problem">
        <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
      </div>
    <% elsif merge_state.blocked_by_review_policy? %>
      <div class="branch-action-item-icon completeness-indicator completeness-indicator-error">
        <% if merge_state.requested_changes? %>
          <%= review_state_icon("changes_requested") %>
        <% else %>
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
        <% end %>
      </div>
    <% elsif merge_state.requested_changes? %>
      <div class="branch-action-item-icon completeness-indicator">
        <% review_counts = {
          success: merge_state.reviews.count(&:approved?),
          error: merge_state.reviews.count(&:changes_requested?)
        } %>
        <%= donut_svg review_counts %>
      </div>
    <% else %>
      <div class="branch-action-item-icon completeness-indicator completeness-indicator-success">
        <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
      </div>
    <% end %>

    <% if view.any_reviews_or_reviewers? %>
      <%= render Primer::Beta::Button.new(scheme: :link, float: :right, classes: "js-details-target", "aria-expanded": "false") do %>
        <span class="statuses-toggle-opened">Hide all reviewers</span>
        <span class="statuses-toggle-closed">Show all reviewers</span>
      <% end %>
    <% elsif view.can_add_review? %>
      <a class="btn-link float-right" href="<%= gh_show_pull_request_path(pull) %>/files#submit-review">
        Add your review
      </a>
    <% end %>

    <% if merge_state.draft? %>
      <h3 class="status-heading h4 mt-1">
        Reviews
      </h3>
    <% else %>
      <h3 class="status-heading h4 <%= 'color-fg-danger' if merge_state.blocked_by_review_policy? || view.requested_changes? %> ">
        <% if merge_state.review_policy_decision_reason_summary %>
          <%= merge_state.review_policy_decision_reason_summary %>
        <% elsif pull.review_requests.pending.any? %>
          Review requested
        <% end %>
      </h3>

      <span class="status-meta">
        <% if merge_state.review_policy_decision_reason_message %>
          <%= merge_state.review_policy_decision_reason_message %>
          <a class="Link--inTextBlock btn-link" href="<%= docs_url "pull-requests/about-reviews" %>">Learn more about pull request reviews.</a>
        <% elsif pull.review_requests.pending.any? %>
          Review has been requested on this pull request. It is not required to merge.
          <a class="Link--inTextBlock btn-link ws-pre-wrap" href="<%= docs_url "pull-requests/requesting-review" %>">Learn more about requesting a pull request review.</a>
        <% end %>
      </span>
    <% end %>

    <%= render partial: "statuses/progressive_review_status", locals: { view: view } %>
  </div>
<% end %>

<%= render Statuses::ReviewStatusProtectionWarningComponent.new(pull: pull, current_user: current_user) %>
