<div class="color-fg-muted col-10 css-truncate css-truncate-target" <%= test_selector("status-check-item-body") %>>
  <strong class="text-emphasized<%= " mr-2" unless additional_context.empty? %>">
    <%= context %>
  </strong>

  <% if status_check_pending?(state) %>
    <span class="text-italic" aria-live="polite">
      <%= additional_context %>
    </span>
  <% else %>
      <%= additional_context %>
  <% end %>

  <% unless description.blank? %>
    —
    <% if status_check_pending?(state) %>
      <span class="text-italic" aria-live="polite">
        <%= description %>
      </span>
    <% else %>
      <%= description %>
    <% end %>
  <% end %>
</div>

<div
  class="d-flex col-2 flex-shrink-0"
  <% if is_required_for_pull_request %>
  style="min-width: 120px; align-items: center;"
  <% end %>
>
  <% if is_required_for_pull_request %>
    <span class="label Label--primary">Required</span>
  <% end %>

  <% if target_url.present? %>
    <a class="status-actions" href="<%= target_url %>" aria-label="Details for <%= context %>.">Details</a>
  <% end %>
</div>
