<%= render(Primer::Box.new(display: :flex, justify_content: :space_between, flex: 1, direction: :row)) do %>
  <%= render(Primer::Box.new) do %>
    <%= render(Primer::Box.new(display: :inline_flex, justify_content: :space_between, flex: 1, direction: :column)) do %>
      <%= render(Primer::Beta::Text.new(tag: :span, mb: 1, font_weight: :bold)) do %>
        Copilot in github.com
      <% end %>
      <%= render(Primer::Beta::Text.new(tag: :p, mb: 2, mr: 3, color: :muted)) do %>
        If enabled, the organizations can use
        <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_DOTCOM_CHAT_DOCUMENTATION, classes: "Link--inTextBlock")) { "Copilot Chat in github.com" } %>,
        <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_FOR_PRS_DOCUMENTATION, classes: "Link--inTextBlock")) { "pull request summaries" } %>,
        <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_DOCSET_MANAGEMENT, classes: "Link--inTextBlock")) { "knowledge base search" } %>.
      <% end %>
    <% end %>
    <% if copilot_mixed_licenses_enabled? %>
      <%= render(Primer::Beta::Text.new(tag: :p, mb: 3, color: :muted, font_size: :small)) do %>
        <% if number_of_enterprise_organizations == 0 %>
          Your enterprise currently has 0 organizations on the Copilot Enterprise plan. Enable Enterprise for organizations to access this feature.
        <% else %>
          Applies to organizations on
          <%= link_to "Copilot Enterprise", "Copilot::COPILOT_FOR_ENTERPRISE_DOCUMENTATION", class: "Link--inTextBlock" %>
          plan only (<%= pluralize(number_of_enterprise_organizations, "organization") %>).
        <% end %>
      <% end %>
    <% end %>

    <% if render_copilot_feedback_opt_in_settings? %>
      <%= render(Primer::Box.new(mt: 2, pl: 3)) do %>
        <%= render(Copilot::Policies::UserFeedbackOptInFormComponent.new(configurable: configurable)) %>
      <% end %>
    <% end %>

    <% if render_copilot_beta_features_opt_in_settings? %>
      <%= render(Primer::Box.new(mt: 2, pl: 3)) do %>
        <%= render(Copilot::Policies::BetaFeaturesOptInFormComponent.new(configurable: configurable)) %>
      <% end %>
    <% end %>
  <% end %>

  <% if copilot_mixed_licenses_enabled? && number_of_enterprise_organizations == 0 %>
    <%= render(Primer::Box.new(mt: 4, col: 2, text_align: :right)) do %>
      <%= render(Primer::Beta::Link.new(href: settings_copilot_enterprise_path(configurable.slug), classes: "Link--inTextBlock")) { "Manage access" } %>
    <% end %>
  <% else %>
    <%= form_with url: submit_path, class: "d-inline mt-2", method: :put do %>
      <input type="hidden" name="tab" value="policies">
      <%= render GitHub::MenuComponent.new(items: menu_items, align: :right) do |menu| %>
        <% menu.with_summary do %>
          <%= render Primer::Beta::Button.new(tag: :summary) do |component| %>
            <% component.with_trailing_action_icon(icon: "triangle-down") %>
            <span data-menu-button><%= menu.default_selection_text || "Select a policy" %></span>
          <% end %>
        <% end %>
      <% end %>
      <%= form_content %>
    <% end %>
  <% end %>
<% end %>
