<%= render(Primer::Box.new(display: :flex, justify_content: :space_around, align_items: :center, flex: :auto, direction: :row)) do %>
  <%= render(Primer::Box.new(display: :inline_flex, justify_content: :space_between, flex: 1, direction: :column)) do %>
    <%= render(Primer::Beta::Text.new(tag: :span, mb: 1, font_weight: :bold)) do %>
      Copilot Fine-tuning
      <%= render(Primer::Beta::Label.new(scheme: :success, ml: 2)) { "Beta" } %>
    <% end %>
    <%= render(Primer::Beta::Text.new(tag: :p, mb: 2, mr: 3, color: :muted)) do %>
      If enabled, the organizations can create and fine-tune custom models. <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_CUSTOM_MODELS_DOCS, classes: "Link--inTextBlock")) { "Learn more about Copilot fine-tuning" } %>.
    <% end %>
  <% end %>
  <%= form_with url: submit_path, class: "d-inline", method: :put do %>
    <input type="hidden" name="tab" value="policies">
    <%= render GitHub::MenuComponent.new(items: menu_items, input_id: @input_id) do |menu| %>
      <% menu.with_summary do %>
        <%= render Primer::Beta::Button.new(tag: :summary) do |component| %>
          <% component.with_trailing_action_icon(icon: "triangle-down") %>
          <span data-menu-button><%= menu.default_selection_text || "Select a policy"%></span>
        <% end %>
      <% end %>
    <% end %>
    <%= form_content %>
  <% end %>
<% end %>
