<%= render(Primer::Box.new(display: :flex, justify_content: :space_between, flex: 1, direction: :row, align_items: :center)) do %>
  <%= render(Primer::Box.new(display: :inline_flex, justify_content: :space_between, flex: 1, direction: :column)) do %>
    <%= render(Primer::Beta::Text.new(tag: :span, mb: 1, font_weight: :bold)) do %>
      Suggestions matching public code (duplication detection filter)
    <% end %>
    <%= render(Primer::Beta::Text.new(tag: :p, mb: 2, mr: 3, color: :muted)) do %>
      GitHub Copilot can allow or block suggestions matching public code. Learn more about
      <%= render(Primer::Beta::Link.new(href: "https://docs.github.com/enterprise-cloud@latest/copilot/configuring-github-copilot/configuring-github-copilot-settings-in-your-organization#configuring-suggestion-matching-policies-for-github-copilot-in-your-organization", classes: "Link--inTextBlock")) do %>
      code suggestions<% end %>.
    <% end %>
  <% end %>
  <% if (@copilot_configurable.copilot_billable? || @copilot_organization&.business_trial.present?) && @enable %>

    <% form_fields = capture do %>
      <input type="hidden" name="tab" value="policies">
      <%= render GitHub::MenuComponent.new(items: menu_items, input_id: @input_id, align: :right) do |menu| %>
        <% menu.with_summary do %>
          <%= render Primer::Beta::Button.new(tag: :summary) do |component| %>
            <% component.with_trailing_action_icon(icon: "triangle-down") %>
            <span data-menu-button><%= menu.default_selection_text %></span>
          <% end %>
        <% end %>
      <% end %>
      <%= form_content %>
    <% end %>

    <% if @skip_form %>
      <%= form_fields %>
    <% else %>
      <%= form_with url: submit_path, class: "d-inline", method: :put do %>
        <%= form_fields %>
      <% end %>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Button.new(tag: :summary, disabled: true) do %>
      <span data-menu-button><%= current_label %></span>
    <% end %>
  <% end %>
<% end %>
