<div <%= test_selector("copilot-standalone-settings") %>>
  <%= form_with url: update_settings_copilot_enablement_enterprise_path(@copilot_business.business_object), method: :put, class: "mb-6" do |f| %>
    <div class="form-checkbox">
      <label id="standalone-form-component-radio-button-disabled">
        <%= f.radio_button :copilot_enabled, "disabled", checked: @copilot_business.copilot_disabled? %>
        Disabled
        <p class="note">Disable Copilot Business access for my enterprise</p>
      </label>
    </div>
    <div class="form-checkbox">
      <label id="standalone-form-component-radio-button-enabled">
        <%= f.radio_button :copilot_enabled, "enabled", checked: @copilot_business.copilot_enabled? %>
        Allowed
        <p class="note">Allow access to Copilot Business for my enterprise</p>
      </label>
    </div>

    <p class="mb-3">
      Your enterprise's use of Copilot Business is governed by the
      <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_SPECIFIC_TERMS, classes: "Link--inTextBlock")) { "GitHub Copilot Product Specific Terms" } %>.
    </p>

    <%= render Primer::Beta::Button.new(
      type: :submit,
      disabled: !@copilot_business.copilot_billable?,
      id: "standalone-form-component-submit-button",
      hidden: @copilot_business.copilot_disabled?
    ) do %>
      Save
    <% end %>

    <%= render(Primer::Alpha::Dialog.new(
      title: "Remove Copilot access",
      id: "copilot-business-settings-access-component",
      position: :center,
      h: :fit
    )) do |component| %>
      <% component.with_show_button(hidden: @copilot_business.copilot_enabled?) { "Save" }%>
      <% component.with_header(show_divider: true, font_weight: :bold) do %>
        Remove Copilot access
      <% end %>
      <% component.with_body do %>
        <div class="pt-3">
          <p class="text-bold">There are <%= org_count %> <%= "organization".pluralize(org_count) %>  and <%= member_count %> <%= "member".pluralize(member_count) %>.</p>
          <p>This will reset all GitHub Copilot features settings for <strong>organizations and users</strong> and all the seats will be cancelled immediately.</p>
          <ul class="list-style-none my-2">
            <li>
              <%= render(Primer::Beta::Octicon.new(icon: :x, color: :danger)) %>
              <span>Copilot in the CLI</span>
            </li>
            <li>
              <%= render(Primer::Beta::Octicon.new(icon: :x, color: :danger)) %>
              <span>Copilot Chat in the IDE and Mobile</span>
            </li>
          </ul>
          <p>Are you sure you want to remove access now?</p>
        </div>
      <% end %>
      <% component.with_footer(show_divider: true) do %>
        <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "copilot-business-settings-access-component" })) { "Cancel" } %>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger) do %>
          Confirm and save
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
