<copilot-business-settings>
  <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, flex: 1, direction: :row, align_items: :center)) do %>
    <%= render(Primer::Box.new(display: :inline_flex, justify_content: :space_between, flex: 1, direction: :column)) do %>
      <%= form_with url: submit_path, class: "d-inline", method: :put, data: { target: "copilot-business-settings.userFeedbackOptInForm" } do %>
        <input type="hidden" name="tab" value="policies">
        <%= render(Primer::Beta::Text.new(tag: :p, mb: 1, font_weight: :bold)) do %>
          <input type="hidden" value="disabled" name="copilot_user_feedback_opt_in">
          <input
            type="checkbox"
            id="copilot_user_feedback_opt_in"
            name="copilot_user_feedback_opt_in"
            value="enabled"
            class="mr-1" <%= copilot_object.user_feedback_opt_in_enabled? ? "checked" : "" %>
            data-action="click:copilot-business-settings#toggleUserFeedbackOptIn"
            data-target="copilot-business-settings.userFeedbackOptInCheckbox"
          >
          <label for="copilot_user_feedback_opt_in">
            Opt in to user feedback collection
          </label>
        <% end %>
      <% end %>
      <%= render(Primer::Beta::Text.new(tag: :p, mb: 2, mr: 3, color: :muted)) do %>
        Enables user feedback collection on Copilot features in github.com. This feedback may include sensitive
        information such as pull request summaries.
      <% end %>
    <% end %>
  <% end %>
</copilot-business-settings>
