<div class="d-flex flex-row flex-wrap gutter gutter-spacious">
  <% news.each_with_index do |entry, index| %>
    <%= tag.div(
      class: class_names(
        "col-12 col-lg-4 mt-7 mt-md-9",
        {
          "d-none": index > 2,
        }
      ),
      data: {
        targets: index > 2 ? "unveil-container.unveilItems" : nil,
      }
    ) do %>
      <a href="<%= entry["url"] %>" class="dev-policy-link-box arrow-target-mktg no-underline color-fg-default position-relative pb-3 d-flex flex-column height-full">
        <p class="f4-mktg color-fg-muted text-medium dev-policy-news-date">
          <%= entry["date_published"].try(:in_time_zone).try(:strftime, "%B %-d, %Y") %>
        </p>
        <h3 class="f2-mktg mb-5 dev-policy-news-title"><%= entry["title"] %></h3>
        <span class="py-1 mt-auto">Read More&nbsp;<%= svg("modules/site/icons/chevrow.svg") %></span>
      </a>
    <% end %>
  <% end %>
</div>

<% if news.length > 3 %>
  <div class="mt-8 text-center">
    <%= render Site::ButtonComponent.new(
      text: "View All Posts",
      scheme: :muted,
      data: {
        target: "unveil-container.unveilElement",
        action: "click:unveil-container#unveil",
      }
    ) %>
  </div>
<% end %>
