<%= render(Primer::Box.new(**system_arguments)) do %>
  <%= render Primer::BaseComponent.new(tag: :div, display: :flex, align_items: :stretch) do %>
    <%= render(Repositories::SuggestedWorkflows::IconComponent.new(template: template, size: :small, "aria-hidden": true))%>
    <%= render Primer::BaseComponent.new(tag: :div, display: :flex, direction: :column ) do %>
      <%= render(Primer::Beta::Text.new(font_size: 5, font_weight: :bold, ml: 2)) { template.name } %>
      <%= render Primer::Beta::Text.new(color: :muted, ml: 2, font_size: :small) { byline } %>
    <% end %>
    <%= render(Primer::Beta::Button.new(
      tag: :a,
      size: :small,
      ml: :auto,
      href: configure_path,
      data: button_data,
      style: "min-width: 80px",
      aria: { describedby: "#{template.name.parameterize}-description" },
    )) do %>
      <%= button_text %><span class="sr-only">&nbsp;<%= template.name %></span>
    <% end %>
  <% end %>
  <%= render(Primer::Beta::Text.new(
    id: "#{template.name.parameterize}-description",
    aria: { hidden: true },
    display: :flex,
    color: :muted,
    font_size: 6,
    ml: 5,
    mt: 1,
    pl: 2,
  )) { template.description } %>
<% end %>
