<%
  page_info \
    title: "Discussion ##{this_discussion.number} comments",
    selected_link: :discussions
  discussion_has_answer = this_discussion.answered?
%>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Discussions",
            gh_stafftools_repository_discussions_path(current_repository) %>
      /
      <%= link_to \
            "Discussion ##{this_discussion.number}",
            gh_stafftools_repository_discussion_path(this_discussion) %>
      / Comments
    </h2>
  </div>

  <table class="site-admin-table">
    <% comments.each do |comment| %>
      <tr>
        <td class="tiny">
          #<%= comment.id %>
        </td>
        <% if discussion_has_answer %>
          <td class="tiny">
            <% if comment.answer? %>
              <span>
                <%= primer_octicon(:check, color: :success) %>
              </span>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= link_to gh_stafftools_repository_discussion_comment_path(comment) do %>
            Comment by <%= comment.author.login %>
            <% if current_repository.public? && comment.author.spammy? %>
              <small>(spammy)</small>
            <% end %>
          <% end %>
        </td>
        <td class="float-right">
          <%= comment.created_at %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate comments %>
  </div>
</div>
