<%
  title = "Discussion"
  page_info \
    title: "#{title} ##{this_discussion.number} comment ##{this_comment.id} child comments",
    selected_link: :discussions
%>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "#{title}s",
            gh_stafftools_repository_discussions_path(current_repository) %>
      /
      <%= link_to \
            "#{title} ##{this_discussion.number}",
            gh_stafftools_repository_discussion_path(this_discussion) %>
      /
      <%= link_to \
            "Comments",
            gh_stafftools_repository_discussion_comments_path(this_discussion) %>
      /
      <%= link_to \
            "Comment ##{this_comment.id}",
            gh_stafftools_repository_discussion_comment_path(this_comment) %>
      / Child comments
    </h2>
  </div>

  <table class="site-admin-table">
    <% comments.each do |comment| %>
      <tr>
        <td class="tiny">
          #<%= comment.id %>
        </td>
        <td>
          <%= link_to gh_stafftools_repository_discussion_comment_path(comment) do %>
            Comment by <%= comment.author.login %>
            <% if current_repository.public? && comment.author.spammy? %>
              <small>(spammy)</small>
            <% end %>
          <% end %>
        </td>
        <td class="float-right">
          <%= comment.created_at %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate comments %>
  </div>
</div>
