<%
  title = "Discussion"
  page_info \
    title: "#{title} ##{this_discussion.number} comment ##{this_comment.id}",
    selected_link: :discussions
%>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "#{title}s",
            gh_stafftools_repository_discussions_path(current_repository) %>
      /
      <%= link_to \
            "#{title} ##{this_discussion.number}",
            gh_stafftools_repository_discussion_path(this_discussion) %>
      /
      <%= link_to \
            "Comments",
            gh_stafftools_repository_discussion_comments_path(this_discussion) %>
      / Comment #<%= this_comment.id %>
    </h2>
  </div>

  <div class="site-admin-table">
    <table>
      <tr>
        <th>
          Created
        </th>
        <td>
          <%= this_comment.created_at %>
        </td>
      </tr>
      <% if this_comment.answer? %>
        <tr>
          <th>
            Status
          </th>
          <td>
            <%= primer_octicon(:check, color: :success) %> This comment is marked as the discussion answer
          </td>
        </tr>
      <% end %>
      <tr>
        <th>
          Commenter
        </th>
        <td>
          <% comment_path = stafftools_user_path(this_comment.user) if this_comment.user %>
          <%= link_to_if this_comment.user, this_comment.author, comment_path %>
        </td>
      </tr>
      <% if this_comment.top_level_comment? && this_comment.comment_count > 0 %>
        <tr>
          <th>
            Nested comments
          </th>
          <td>
            <%= link_to pluralize(this_comment.comment_count, "comment"), gh_nested_comments_stafftools_repository_discussion_comment_path(this_comment) %>
          </td>
        </tr>
      <% elsif !this_comment.top_level_comment? %>
        <tr>
          <th>
            Parent comment
          </th>
          <td>
            <%= link_to "Parent comment", gh_stafftools_repository_discussion_comment_path(this_comment.parent_comment) %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th>
          Discussion
        </th>
        <td>
          <%= link_to "View comment", this_comment.async_path_uri.sync.to_s %>
        </td>
      </tr>
    </table>

    <%= link_to \
          "View database record",
          gh_database_stafftools_repository_discussion_comment_path(this_comment),
          class: "more" %>
  </div>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Moderate
    </h2>
  </div>

  <%= render \
      partial: "stafftools/comments/moderate",
      locals: {comment: this_comment}
  %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>

  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: audit_log_data[:query],
          logs: audit_log_data[:logs],
          more_results: audit_log_data[:more_results],
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Notifications
    </h2>
  </div>

  <%= render(
        partial: "stafftools/discussion_comments/notifications",
        locals: { notification_deliveries: notification_deliveries }
      )
  %>
</div>
