<%
  viewer_is_sponsoring = organization.sponsored_by_viewer?(current_user)
  show_sponsor_button = viewer_is_sponsoring || organization.sponsorable_by?(current_user)
  viewer_previewing_from_sponsors_checkout = params[:subject].to_s.start_with?("sponsors_listing")
  show_your_sponsor_indicator = viewer_previewing_from_sponsors_checkout ||
    current_user&.sponsor_exists_and_is_visible_to?(organization.id, viewer: current_user)
  show_enterprise_link = local_assigns[:show_enterprise] || false
%>

<div class="pb-3 px-3" <%= test_selector("organization-hovercard") %>>
  <%= content_tag :div, "", data: hydro_view_tracking_attributes("organization-hovercard-hover", { organizationId: organization.id, subject: params[:subject] }) %>
  <div class="d-flex mt-3">
    <div class="flex-self-start">
      <%= link_to user_path(organization), "aria-label" => organization.display_login, :itemprop => "follows", :class => "avatar-group-item", :data => hovercard_click_hydro_attrs("org_hovercard:avatar", data: hydro_data) do %>
        <%= avatar_for(organization, 44, class: avatar_class_names(organization), alt: organization.display_login, src: organization.primary_avatar_url(88)) %>
      <% end %>
    </div>

    <div class="overflow-hidden ml-3 flex-auto">
      <% if organization.is_verified? %>
        <%= render Primer::Beta::Label.new(scheme: :success, mt: 0, float: :right, title: "Label: Verified") do %>
          Verified
        <% end %>
      <% end %>

      <div class="d-flex">
        <%= link_to truncate(organization.profile_name.presence || organization.display_login, length: 16), user_path(organization), class: "f5 text-bold Link--primary no-underline", data: hovercard_click_hydro_attrs("org_hovercard:org_login", data: hydro_data) %>

        <% if organization.profile_name.present? %>
          <%= link_to truncate(organization.display_login, length: 10), user_path(organization), class: "Link--secondary no-underline ml-1", data: hovercard_click_hydro_attrs("org_hovercard:org_login", data: hydro_data) %>
        <% end %>
      </div>

      <% if organization.description.present? %>
        <div class="mt-1 color-fg-muted">
          <%= organization.description %>
        </div>
      <% end %>

      <% if show_enterprise_link %>
        <div class="mt-2 color-fg-muted text-small" <%= test_selector "enterprise-link" %>>
          <%= primer_octicon(:globe, mr: 1) %>
          <%= link_to "Part of #{organization.business.safe_profile_name}", enterprise_path(organization.business), class: "color-fg-muted" %>
        </div>
      <% end %>

      <% if organization.profile_location.present? %>
        <div class="mt-2 color-fg-muted text-small">
          <%= primer_octicon(:location, mr: 1) %>
          <%= organization.profile_location %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="border-top mr-n3 ml-n3 mt-3 pt-3">
    <div class="f6 color-fg-muted mx-3">
      <div class="d-inline-block mr-3">
        <%= render(Primer::Beta::Octicon.new(icon: "repo")) %>
        <%= number_with_delimiter(repository_count) %> <%= "repository".pluralize(repository_count) %>
      </div>
      <div class="d-inline-block mr-3" <%= test_selector("org-member-count") %>>
        <%= primer_octicon(:people) %>
        <%= number_with_delimiter(member_count) %> <%= "member".pluralize(member_count) %>
      </div>
    </div>
  </div>

  <% if show_your_sponsor_indicator || show_sponsor_button %>
    <div class="border-top ml-n3 mr-n3 mt-3 pt-3 px-3 d-flex flex-items-center flex-justify-between" <%= safe_data_attributes(hovercard_click_hydro_attrs("org_hovercard:sponsor_button", data: hydro_data)) %>>
      <% if show_sponsor_button %>
        <%= render Sponsors::SponsorButtonComponent.new(
          sponsorable: organization,
          is_sponsoring: viewer_is_sponsoring,
          id: "#{viewer_is_sponsoring ? "sponsoring" : "sponsor"}-button-hovercard-org",
          location: viewer_is_sponsoring ? :HOVERCARD_SPONSORING : :HOVERCARD_SPONSOR
        ) %>
      <% end %>
      <% if show_your_sponsor_indicator %>
        <div>
          <%= primer_octicon(:heart, mr: 1, color: :sponsors) %>
          <span class="color-fg-muted text-small" <%= test_selector("your-sponsor-indicator") %>>
            <% if organization.sponsorship_as_sponsor_for(current_user)&.privacy_private? %>
              Your private sponsor
            <% else %>
              Your sponsor
            <% end %>
          </span>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="sr-only">
    Press escape to close this hovercard
  </div>
</div>
