<img src="<%= image_path "modules/site/services/form-glow.png" %>" alt="" class="position-absolute m-auto top-0 left-0 right-0 bottom-0 events-none width-auto height-full" loading="lazy" decoding="async" style="transform: scale(1.6);">
<div id="services-contact" class="rounded-2 overflow-hidden position-relative z-1" <%= mktg_color_theme_attributes %>>
  <div class="d-flex flex-wrap gutter gutter-spacious flex-md-items-center my-7 my-md-9 position-relative text-center pb-md-4 px-3 px-md-0">
    <div class="col-12">
      <h3 class="color-fg-default h4-mktg mb-3 col-lg-8 mx-md-auto px-3">How can we help?</h3>
      <p class="f3-mktg color-fg-muted px-3 mx-auto col-7-max">Let's build a customized solution that meets all of your needs.</p>
    </div>
    <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 mt-7">
      <%= form_with url: "https://s88570519.t.eloqua.com/e/f2", id: "eloquaForm", method: :post, class: "js-form-validator" do |f| %>
        <input value="ContactUs_ServicesForm" type="hidden" name="elqFormName">
        <input value="88570519" type="hidden" name="elqSiteId">
        <input name="elqCampaignId" type="hidden">
        <%= f.hidden_field :USOURCE, value: params[:utm_source] %>
        <%= f.hidden_field :UMEDIUM, value: params[:utm_medium] %>
        <%= f.hidden_field :UCAMPAIGN, value: params[:utm_campaign] %>

        <fieldset>
          <div class="d-flex flex-row flex-wrap text-left gutter gutter-spacious">
            <dl class="col-12 col-md-6 form-group mb-4 required">
              <dt class="input-label">
                <%= f.label :fullName1, _("Full name"), class: "error-label-transition", for: :field0, required: true %>
              </dt>
              <dd>
                <%= f.text_field :fullName1,
                  id: :field0,
                  required: true,
                  class: "form-control input-block width-full error-border-transition js-validity-check",
                  placeholder: _("First and last name"),
                  data: mktg_color_theme_data(mode: :light),
                  style: "height: 56px"
                %>
                <span class="error-msg fgColor-danger mt-1 d-block"><%= render Primer::Beta::Octicon.new(:"alert-fill", size: :small) %> This field is required.</span>
              </dd>
            </dl>

            <dl class="col-12 col-md-6 form-group mb-4 required">
              <dt class="input-label">
                <%= f.label :emailAddress, _("Business email"), class: "error-label-transition", for: :field1, required: true %>
              </dt>
              <dd>
                <%= f.email_field :emailAddress,
                  id: :field1,
                  required: true,
                  class: "form-control input-block width-full error-border-transition js-validity-check",
                  placeholder: "you@example.com",
                  data: mktg_color_theme_data(mode: :light).merge(
                    "validity-check": "business-email"
                  ),
                  style: "height: 56px"
                %>
                <span class="error-msg fgColor-danger mt-1 d-block"><%= render Primer::Beta::Octicon.new(:"alert-fill", size: :small) %> Please enter a valid work email address.</span>
              </dd>
            </dl>

            <dl class="col-12 col-md-6 form-group mb-4 required">
              <dt class="input-label">
                <%= f.label :company, _("Company"), class: "error-label-transition", for: :field2, required: true %>
              </dt>
              <dd>
                <%= f.text_field :company,
                  id: :field2,
                  required: true,
                  class: "form-control input-block width-full error-border-transition js-validity-check",
                  placeholder: "Acme, Inc",
                  data: mktg_color_theme_data(mode: :light),
                  style: "height: 56px"
                %>
                <span class="error-msg fgColor-danger mt-1 d-block"><%= render Primer::Beta::Octicon.new(:"alert-fill", size: :small) %> This field is required.</span>
              </dd>
            </dl>

            <dl class="col-12 col-md-6 form-group mb-4 required">
              <dt class="input-label">
                <%= f.label :contactComments, _("What can we help you with?"), class: "error-label-transition", for: :field3, required: true %>
              </dt>
              <dd>
                <%= f.text_field :contactComments,
                  id: :field3,
                  required: true,
                  class: "form-control input-block width-full error-border-transition js-validity-check",
                  placeholder: _("Tell us how we can help."),
                  data: mktg_color_theme_data(mode: :light),
                  style: "height: 56px"
                %>
                <span class="error-msg fgColor-danger mt-1 d-block"><%= render Primer::Beta::Octicon.new(:"alert-fill", size: :small) %> This field is required.</span>
              </dd>
            </dl>
          </div>
        </fieldset>

        <div class="mt-7">
          <%= f.button _("Contact our team"),
            type: :submit,
            class: "btn-mktg js-form-validator-submit" %>

          <div class="color-fg-muted f4-mktg mt-5 mt-md-4">
            For support questions, head to <br class="d-block d-md-none"><a class="Link--inTextBlock" href="https://github.com/contact">github.com/contact</a>
          </div>
        </div>

        <input id="field4" type="hidden" name="country" value="">
        <input id="field5" type="hidden" name="subdivision" value="">
        <input id="field9" type="hidden" name="lastfield">
        <input id="field6" type="hidden" name="city" value="">
        <input type="hidden" name="elqCustomerGUID" value="">
        <input type="hidden" name="elqCookieWrite" value="0">
        <input id="field7" type="hidden" name="sfcampaignid" value="2018q2-ww-Services-Contact">
        <input id="field8" type="hidden" name="source" value="<%= request.original_url %>">
        <% if logged_in? %>
          <%= f.hidden_field :GHLoggedIn, value: current_user.name %>
          <% if current_user.businesses&.any? %>
            <% businesses = (current_user.businesses(membership_type: :admin) + current_user.businesses(membership_type: :billing_manager)).uniq %>
            <% if businesses&.any? %>
              <% businesses_ids = businesses.map(&:id).join(',') %>
              <%= f.hidden_field :BusinessID, value: businesses_ids %>
              <%= f.hidden_field :UserID, value: current_user.id %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
