<% page_meta = {
    title: "Expert Services | GitHub",
    description: "From idea to implementation, our experts are ready to help your team get wherever you want to go. Start a conversation with us about how we can bring your goals to life.",
  }

  page_info \
  title: page_meta[:title],
  description: page_meta[:description],
  class: "header-dark",
  marketing_footer_theme: "dark",
  richweb: {
    title: "GitHub Services",
    url: request.original_url,
    description: page_meta[:description],
    image: image_path("modules/site/social-cards/services.jpg"),
  }
%>

<%= render Site::SubNavComponent.new(
  sticky: true,
  title: "Expert Services",
  url: "/services/",
  dark: true,
  classes: "color-bg-subtle",
  analytics: {
    context: "services",
  },
  links: [
    {
      text: "Introduction",
      url: "/services#services-introduction",
    },
    {
      text: "Our Process",
      url: "/services#services-process",
    },
    {
      text: "Services Catalog",
      url: "/services#services-catalog",
    },
  ],
  ctas: ([
    {
      text: "Contact Experts",
      scheme: :muted,
      url: "#services-contact",
      render: true
    }
  ])
) %>

<%= render Site::SectionComponent.new(
  theme: :dark,
  overflow: true,
  padding: false,
  container: false,
  classes: "position-relative js-section",
  id: "services-introduction"
) do %>
  <div class="position-absolute top-0 left-0 width-full height-full overflow-hidden">
    <picture>
      <source srcset="<%= image_path "modules/site/services/hero-bg/services-hero-bg-800.webp" %> 800w,
        <%= image_path "modules/site/services/hero-bg/services-hero-bg-1600.webp" %> 1600w,
        <%= image_path "modules/site/services/hero-bg/services-hero-bg-3200.webp" %> 3200w" type="image/webp">
      <img class="position-absolute top-0 left-0 width-full height-full events-none" style="object-fit: cover; object-position: 50% 50%; filter: blur(28px); transform: scale(1.1);" srcset="
        <%= image_path "modules/site/services/hero-bg/services-hero-bg-800.jpg" %> 800w,
        <%= image_path "modules/site/services/hero-bg/services-hero-bg-1600.jpg" %> 1600w,
        <%= image_path "modules/site/services/hero-bg/services-hero-bg-3200.jpg" %> 3200w" src="<%= image_path "modules/site/services/hero-bg/services-hero-bg-1600.jpg" %>" width="1600" height="827" alt="" aria-hidden="true">
    </picture>
  </div>
  <div class="container-xl p-responsive position-relative z-1">
    <%= render Site::HeroComponent.new(
      header: "The GitHub <br>Expert Services Team",
      ctas: [
        {
          text: "Contact Experts",
          url: "#services-contact",
        }
      ]
    ) do |component| %>
      <% component.with_before do %>
        <div class="color-fg-muted f3-mktg text-medium pb-1 mb-2">Introduction</div>
      <% end %>
    <% end %>

    <div class="position-relative services-hero-zoom-call box-shadow-default-mktg border bottom-n8 bottom-md-n12 mt-n6 mt-md-n11 col-12 col-md-10 offset-md-1">
      <img class="width-full height-full events-none" src="<%= image_path "modules/site/services/services-zoom-ui-top.jpg" %>" width="1008" height="110" alt="" aria-hidden="true">
      <div class="position-relative" role="img" aria-label="An animation of GitHub Experts on a Zoom call, waving and greeting you.">
        <svg aria-hidden="true" width="1024" height="570" class="width-full height-auto d-block" style="visibility: hidden; pointer-events: none;"></svg>
        <video tabindex="0" playsinline loop autoplay muted width="1024" height="570" class="js-viewport-aware-video looping-mktg width-full height-full position-absolute top-0 left-0" data-play-aria-label="The video is paused. Press the space bar to play the video." data-pause-aria-label="The video is playing. Press the space bar to pause the video." poster="<%= image_path "modules/site/services/services-zoom.jpg" %>">
          <source src="<%= image_path "modules/site/services/services-zoom.h264.mp4" %>" type="video/mp4; codecs=h264">
          <source src="<%= image_path "modules/site/services/services-zoom.vp9.webm" %>" type="video/webm; codecs=vp9">
        </video>
      </div>
      <img class="width-full height-full events-none" src="<%= image_path "modules/site/services/services-zoom-ui-bottom.jpg" %>" width="1008" height="43" alt="" aria-hidden="true">
    </div>
  </div>
<% end %>

<%= render Site::SectionComponent.new(
  classes: "pb-4 pt-5",
  padding: false,
  container: false
) do %>
  <div class="container-xl p-responsive">
    <div class="river-mktg js-build-in-trigger d-flex flex-column flex-md-items-center mt-3 mt-sm-7 mt-md-8 position-relative pt-6 pt-md-12 flex-md-column text-center pb-4 pb-md-7" data-build-in-stagger="100">
      <div class="col-12 pt-5 pt-md-3 pb-md-2">
        <h2 class="color-fg-default h4-mktg mb-3 col-lg-8 mx-md-auto px-sm-3">Hands-on consulting, guided workshops, and training for your teams.</h2>
        <p class="f3-mktg color-fg-muted px-sm-3 mx-auto col-7-max mt-4 mt-md-5 text-medium"><em class="text-semibold">We’ll work alongside your developers</em> to bring insights, best practices, and knowledge from across hundreds of organizations to help you adopt GitHub quickly and efficiently.</p>
      </div>

      <div class="col-12 py-3 mt-6 mt-md-8">
        <div class="text-left f4-mktg color-fg-muted text-medium mb-4 mb-md-0">
          Companies we’ve trained <svg aria-hidden="true" width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle;"><path d="M1.58 11.04L10.68 11L10.7 1.64H9.24L9.22 8.5L1.2 0.219999L0.16 1.3L8.18 9.48H1.58V11.04Z" fill="currentcolor"></svg>
        </div>
        <div class="d-flex flex-justify-between gutter gutter-spacious flex-wrap flex-lg-nowrap">
          <% {
            "Spotify" => "spotify",
            "slack" => "slack",
            "arm" => "arm",
            "Dow Jones" => "dowjones",
            "Ford" => "ford",
            "Stripe" => "stripe",
            "3M" => "3m",
          }.each do |company, filename| %>
            <div class="col-6 col-md-4 col-lg-2 d-flex flex-column flex-justify-start flex-md-justify-center my-2 my-md-3 my-lg-5 flex-items-start flex-md-items-center">
              <%= image_tag(
                image_path("modules/site/services/logos/#{filename}.svg"),
                class: "width-fit height-auto",
                style: "max-height: 43px",
                alt: "#{company}",
                loading: "lazy",
                decoding: "async",
              ) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render Site::SectionComponent.new(
  classes: "color-bg-subtle pb-4 pb-md-8 pb-lg-9 pt-2 pt-md-5 js-section",
  padding: false,
  container: false,
  id: "services-process"
) do %>
  <div class="container-xl p-responsive">
    <%= render Site::RiverComponent.new(
      header: "We tailor our services to suit your organization’s needs.",
      text_placement: :center,
      padding: false
    ) do |component| %>
      <% component.with_before do %>
        <div class="color-fg-muted f3-mktg text-medium pb-md-1 mb-2" style="margin-top: 6px;">Why Expert Services?</div>
      <% end %>
      <div class="d-flex flex-row flex-wrap gutter gutter-spacious flex-items-center">
        <div class="col-12 col-md-5 offset-md-1 mt-n4 mt-md-0">
          <%= render Site::ImageComponent.new(
            src: image_path("modules/site/services/tailored.png"),
            width: 984,
            height: 672,
            classes: "d-block height-auto width-full rounded-2 box-shadow-default-mktg",
            sizes: "(max-width: 720px) 90vw, 492px"
          ) %>
        </div>
        <div class="col-12 col-md-5 text-left build-in-slideX-left build-in-animate mt-8 mt-md-0">
          <p class="f3-mktg color-fg-muted pl-lg-8 mb-0">There’s no such thing as a one-size-fits-all solution, which is why we work across your org, whether you’re looking to pick up DevSecOps best practices, dive into Innersource, or try out GitHub Administration.</p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render Site::SectionComponent.new(
  classes: "pb-6 pb-md-8 pt-5",
  padding: false,
  container: false
) do %>
  <div class="container-xl p-responsive my-7 my-md-10 my-lg-12">
    <div class="river-mktg js-build-in-trigger d-flex flex-column flex-md-items-center position-relative text-center" data-build-in-stagger="100">
      <div class="col-12 mb-4 mb-md-8">
        <h2 class="color-fg-default h3-mktg col-lg-8 mx-md-auto px-sm-3">How we help customers</h2>
        <p class="f3-mktg color-fg-muted px-sm-3 mx-auto col-7-max mt-3 mt-md-5 text-medium mb-0">We take a multifaceted approach to improving your GitHub adoption journey. Here’s what we do best.</p>
      </div>

      <div class="col-12">
        <div class="d-flex flex-wrap gutter gutter-spacious text-left">
           <% [
                {
                  header: "Transform culture",
                  text: "We improve your visibility and attractiveness to developer communities by leveraging the best practices of InnerSource and open source.",
                  octicon: "versions",
                },
                {
                  header: "Streamline processes",
                  text: "Our automations, workflow implementations, and API integrations make your day-to-day workflow seamless.",
                  octicon: "issue-reopened",
                },
                {
                  header: "Implement strategy",
                  text: "Our Delivery Engineers work hand-in-hand with you to design a high-level strategy to achieve your goals.",
                  octicon: "checklist",
                },
                {
                  header: "Empower people",
                  text: "We provide developers and team leaders with trainings, workshops, and hackathons.",
                  octicon: "people",
                },
                {
                  header: "Improve technology",
                  text: "We build and develop tools to export code repositories and metadata.",
                  octicon: "tools",
                },
                {
                  header: "Provide support",
                  text: "We’re available through a shared communication and collaboration channel to assist on day-to-day tasks.",
                  octicon: "terminal",
                },
              ].each do |section| %>
                <div class="col-12 col-md-4 d-flex flex-column mt-6 mt-md-8">
                  <div class="circle color-bg-subtle d-inline-block flex-self-start p-3">
                    <%= render Primer::Beta::Octicon.new(icon: section[:octicon], height: 32, width: 32, display: :block) %>
                  </div>

                  <h3 class="h5-mktg text-semibold mt-4 col-8-max"><%= section[:header] %></h3>
                  <p class="f4-mktg col-8-max mt-3 mb-0 color-fg-muted"><%= section[:text] %></p>
                </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render Site::SectionComponent.new(
  theme: :dark,
  classes: "pb-5 pt-5 js-section",
  padding: false,
  container: false,
  id: "services-catalog"
) do %>
  <div class="container-xl p-responsive my-7 my-md-10 my-lg-12">
    <div class="col-6-max">
      <h2 class="h3-mktg">Our catalog of services</h2>
      <p class="f3-mktg mt-4 col-5-max color-fg-muted">Whether you use GitHub every day or you’re just getting started, we’ll provide you with the skills your organization needs to work smarter.</p>
    </div>

    <div class="d-flex flex-wrap gutter gutter-spacious mt-8 mt-lg-11">
      <%
        ExploreFeed::ProfessionalService
          .all.each do |section| %>
        <div class="col-12 col-md-4 mt-5 mt-md-7">
          <div class="height-full d-flex flex-column flex-justify-between border-bottom">
            <h3 class="h5-mktg text-semibold pb-1 pb-md-0 mb-3"><%= section.title %></h3>
            <p class="f4-mktg color-fg-muted d-none d-md-block mb-md-3 pb-md-1"><%= section.lead %></p>
            <div class="mt-auto mb-5 mb-md-7">
              <%= render Site::LinkComponent.new(
                  text: "Learn more",
                  url: section.url,
                  size: :medium,
                  classes: "color-fg-accent"
                ) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= render Site::SectionComponent.new(
  classes: "border-bottom pb-5 pt-5",
  padding: false,
  container: false
) do %>
  <div class="container-xl p-responsive my-7 my-md-10 my-lg-12">
    <div class="river-mktg js-build-in-trigger d-flex flex-column position-relative text-center" data-build-in-stagger="100">
      <div class="col-12 mb-8 mb-lg-10">
        <h2 class="color-fg-default h3-mktg col-lg-8 mx-md-auto px-sm-3">Our impact</h2>
        <p class="f3-mktg color-fg-muted px-sm-3 mx-auto col-7-max mt-3 mt-md-5 text-medium mb-0">Learn how GitHub Expert Services has helped the world’s most innovative companies thrive.</p>
      </div>

      <%= render Site::HstackComponent.new(classes: "flex-justify-center text-left gutter-spacious") do %>

        <div class="col-md-4 d-flex flex-justify-between flex-1 z-1 mb-4 mb-md-7">
          <div class="d-flex flex-column flex-justify-between no-underline box-shadow-card-border-mktg rounded-2 width-full px-4 py-6 pt-md-7 pb-md-7 pl-md-5 pl-lg-7 pr-md-5 pr-lg-7 color-bg-subtle">
            <%= image_tag(
              image_path("modules/site/services/logos/stripe-color.svg"),
              class: "height-auto mb-4 mt-2",
              alt: "Stripe logo",
              loading: "lazy",
              decoding: "async",
              width: 81,
              height: 40
            ) %>

            <h3 class="mb-auto f2-mktg text-bold col-9 color-fg-default">
              How Stripe is changing financial technology on GitHub
            </h3>
            <%= render Site::LinkComponent.new(
              text: "Read more",
              url: "/customer-stories/stripe",
              size: :medium,
              classes: "color-fg-default mt-5 mt-md-6 flex-self-start",
              style: "font-weight: 600 !important;"
            ) %>
          </div>
        </div>

        <div class="col-md-4 d-flex flex-justify-between flex-1 z-1 mb-4 mb-md-7">
          <div class="d-flex flex-column flex-justify-between no-underline box-shadow-card-border-mktg rounded-2 width-full px-4 py-6 pt-md-7 pb-md-7 pl-md-5 pl-lg-7 pr-md-5 pr-lg-7 color-bg-subtle">
            <%= image_tag(
              image_path("modules/site/services/logos/adobe-color.svg"),
              class: "height-auto mb-4 mt-2",
              alt: "Adobe logo",
              loading: "lazy",
              decoding: "async",
              width: 118,
              height: 31
            ) %>

            <h3 class="mb-auto f2-mktg text-bold col-9 color-fg-default">
              Why Adobe is building its SaaS platform on GitHub
            </h3>
            <%= render Site::LinkComponent.new(
              text: "Read more",
              url: "/customer-stories/adobe",
              size: :medium,
              classes: "color-fg-default mt-5 mt-md-6 flex-self-start",
              style: "font-weight: 600 !important;"
            ) %>
          </div>
        </div>
      <% end %>

      <%= render "site/services/customer_stories" %>
    </div>
  </div>
<% end %>

<%= render Site::SectionComponent.new(
  padding: false,
  container: false,
  classes: "pb-8 pt-5"
) do %>
  <div class="container-xl p-responsive">
    <%= render Site::FaqComponent.new(
      headline_classes: "mb-6",
      classes: "gutter gutter-spacious",
      items: [
        {
          question: "Do you provide hands-on migration services?",
          answer: "Yes, we have providers who are able to assist our customers with hands-on migrations."
        },
        {
          question: "What is the lead time for the delivery of the services?",
          answer: "Delivery of our services range from 4 to 6 weeks."
        },
        {
          question: "What is the schedule like for each training?",
          answer: "Depending on the type of training, workshop or advisory services, the schedule can be anywhere between two days and an established cadence of follow ups with our delivery engineers."
        },
        {
          question: "Can the material be tailored and customized to our needs?",
          answer: "Yes. While our offerings consist of fixed materials for trainings, we can work with our customers to provide a more tailored solution, if needed."
        },
        {
          question: "Can the training be provided on-site?",
          answer: "Yes, we have on-site and remote trainings available. "
        },
        {
          question: "What I’m after isn’t on your list. How do we get help with a specific project?",
          answer: "Our Expert Services team will work with you regarding your goals and propose a custom engagement where needed."
        },
      ]
    ) %>
  </div>

  <div class="container-xl p-responsive position-relative mb-5 mb-md-10 pt-5 mt-md-12 pt-md-7">
    <%= render "site/services/contact" %>
  </div>
<% end %>

<%= render "site/services/newsletter" %>
