<% page_meta = {
    title: "#{service.title} | Expert Services | GitHub",
    description: service.lead,
  }

  page_info \
  title: page_meta[:title],
  description: page_meta[:description],
  class: "header-dark",
  marketing_footer_theme: "dark",
  richweb: {
    title: page_meta[:title],
    url: request.original_url,
    description: page_meta[:description],
    image: image_path("modules/site/social-cards/services.jpg"),
  }
%>

<%= render Site::SubNavComponent.new(
  sticky: true,
  title: "Expert Services",
  url: "/services/",
  dark: true,
  classes: "color-bg-subtle",
  analytics: {
    context: "services",
  },
  links: [
    {
      text: "Introduction",
      url: "/services#services-introduction",
    },
    {
      text: "Our Process",
      url: "/services#services-process",
    },
    {
      text: "Services Catalog",
      url: "/services#services-catalog",
    },
  ],
  ctas: ([
    {
      text: "Contact Experts",
      scheme: :muted,
      url: "#services-contact",
      render: true
    }
  ])
) %>

<%= render Site::SectionComponent.new(
  padding: false,
  container: false,
  classes: "pb-8"
) do %>
  <div class="container-xl p-responsive">
    <div class="grid gutter-spacious">
      <div class="col-12 offset-md-2 col-md-8">
        <h1 class="h3-mktg my-8 my-md-12"><%= service.title %></h1>

        <div class="services-body f4-mktg">
          <%= service.content %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xl p-responsive position-relative mb-5 mb-md-10 pt-5 mt-8 mt-md-12 pt-md-7">
    <%= render "site/services/contact" %>
    <div class="text-center mt-7 mt-md-9">
      <%= render Site::ButtonComponent.new(text: "Back to catalog listing", url: "/services#services-catalog", arrow: true) %>
    </div>
  </div>
<% end %>

<%= render "site/services/newsletter" %>
