<% page_meta = {
    title: "Thank You | Expert Services | GitHub",
    description: "Get the right tools for the job. Automate your CI/CD and DevOps workflow with GitHub Actions, build securely, manage teams and projects, and review code in one place.",
  }

  page_info \
  title: page_meta[:title],
  description: page_meta[:description],
  class: "header-dark",
  marketing_footer_theme: "dark",
  richweb: {
    title: "GitHub Services",
    url: request.original_url,
    description: page_meta[:description],
    image: image_path("modules/site/social-cards/features-launchpad.png"),
  },
  noindex_and_nofollow: true
%>

<%= render Site::SubNavComponent.new(
  sticky: true,
  title: "Expert Services",
  url: "/services/",
  dark: true,
  classes: "color-bg-subtle",
  analytics: {
    context: "services",
  },
  links: [
    {
      text: "Introduction",
      url: "/services#services-introduction",
    },
    {
      text: "Our Process",
      url: "/services#services-process",
    },
    {
      text: "Services Catalog",
      url: "/services#services-catalog",
    },
  ],
  ctas: ([
    {
      text: "Contact Experts",
      scheme: :muted,
      url: "#services-contact",
      render: true
    }
  ])
) %>

<div class="container-xl mx-auto p-responsive mt-md-12 pt-6 mb-md-12 pb-8 text-md-left text-center">
  <div class="d-flex flex-wrap flex-row-reverse flex-items-center gutter-spacious">
    <div class="mx-auto col-8 col-md-5 text-center mb-5 mb-md-0">
      <div class="d-inline-block position-relative">
        <svg aria-hidden="true" width="318" height="318" class="width-full height-auto d-block" style="visibility: hidden; pointer-events: none;"></svg>
        <picture>
          <source srcset="<%= image_path "modules/site/services/sparkles.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/services/sparkles.png" %>" class="position-absolute width-full height-full top-0 left-0 events-none" style="object-fit: cover;" alt="✨">
        </picture>
      </div>
    </div>
    <div class="col-12 col-md-7">
      <h1 class="h3-mktg" style="margin-bottom: 20px;">Thank you.</h1>
      <div class="color-fg-muted f4-mktg">
        <p>Our services team will be in touch shortly.</p>
        <div class="mt-6">
          <%= render Site::ButtonComponent.new(text: "Back to the GitHub Expert Services", url: "/services", arrow: true) %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "site/services/newsletter" %>
