<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% title = cwe.cwe_id + ": " + cwe.name %>
<div class="color-bg-subtle p-2 mt-2 width-full js-cwe-link rounded-2"
     data-cwe-id="<%= cwe.cwe_id %>"
     data-cwe-name="<%= cwe.name %>"
     <%= "hidden" if hidden %>
>
  <input type="hidden"
    name="<%= field_name_prefix %>[cwes][]"
    value="<%= cwe.id %>"
    class="js-cwe-id"
    <% if hidden %>disabled<% end %>
  >
  <span class="color-fg-default"><%= cwe.name %></span>
  <span class="color-fg-muted">(<%= cwe.cwe_id %>)</span>
  <%= render Primer::ButtonComponent.new(scheme: :link, float: :right, ml: 2, classes: "Link--muted js-remove-cwe-link", "aria-label": "Remove #{ cwe.cwe_id }") do %>
    <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
  <% end %>
</div>
