<%= render Primer::BaseComponent.new(tag: :div, **@system_arguments) do %>
  <%= render Primer::Beta::BorderBox.new do |box| %>
    <% box.with_body do %>
      <%= render Primer::BaseComponent.new(
        tag: heading_tag,
        font_size: 4,
        test_selector: "bulk-sponsorship-summary",
      ) do %>
        Sponsoring <%= pluralize(sponsorship_count, "maintainer") %>
      <% end %>

      <div class="my-3">
        <div class="f3">
          <span class="text-bold" <%= test_selector("bulk-sponsorship-amount") %>>
            <%= total_amount %>
          </span>
          <span <%= test_selector("bulk-sponsorship-frequency") %>><%= frequency_text %></span>
        </div>
        <span class="text-small color-fg-muted">Sponsorship total</span>
      </div>

      <% if include_sponsorables_list? %>
        <div <%= test_selector("bulk-sponsorables-list") %>>
          <% if truncate_sponsorables? %>
            <%= sponsorables_sentence_for(sponsorship_rows.take(SPONSORABLES_TO_DISPLAY)) %><span class="color-fg-muted">,</span>
            <div class="Details js-details-container" <%= test_selector("hidden-sponsorables") %>>
              <span class="js-notice Details-content--hidden">
                <% if sponsorship_rows.drop(SPONSORABLES_TO_DISPLAY).size > 1 %>
                  <%= sponsorables_sentence_for(sponsorship_rows.drop(SPONSORABLES_TO_DISPLAY)) %>
                <% else %>
                  <span class="color-fg-muted">and</span>
                  <%= render(Sponsors::BulkSponsorshipImports::SponsorableLinkComponent.new(
                    sponsorship_row: sponsorship_rows.last,
                  )) %>
                <% end %>
              </span>
              <%= render(Primer::Alpha::HiddenTextExpander.new(
                aria: { label: "Show #{sponsorship_rows.drop(10).size} more" },
                button_arguments: { classes: "js-details-target" },
              )) %>
            </div>
          <% else %>
            <%= sponsorables_sentence_for(sponsorship_rows) %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if include_checkout_button? %>
    <% if sponsor.sponsors_invoicing_required_to_sponsor? %>
      <%= render Sponsors::InvoicedSponsorsRequiredNoticeComponent.new(
        sponsor_login: sponsor.display_login,
        mt: 3,
      ) %>
    <% else %>
      <%= render Primer::Beta::Button.new(
          scheme: :primary,
          size: :large,
          type: :submit,
          disabled: disable_checkout_button?,
          test_selector: "continue-to-checkout-button",
          mt: 3,
        ).with_content("Continue to checkout") %>
    <% end %>
  <% end %>
<% end %>
