<div class="py-4" data-hpc>
  <div class="Box py-7 px-4 pl-md-12 pr-md-12 d-flex flex-column flex-items-center">
    <%= render(Primer::Beta::Octicon.new(:clock, size: :medium, mb: 1)) %>
    <h2 class="mb-5 text-center">Choose a frequency</h2>
    <%= render Primer::Beta::BorderBox.new(mx: 6) do |component| %>
      <%= component.with_row do %>
        <%= render Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center, mb: 2) do %>
          <h3 class="h4">One-time</h3>
          <%= render Primer::Beta::Button.new(
            tag: :a,
            href: one_time_imports_path,
            ml: 6,
            test_selector: "one-time-imports-button"
          ).with_content("Choose") %>
        <% end %>
        <p class="small color-fg-muted">Sponsored maintainers will receive a one-time payment.
          Your profile picture will appear in their sponsors for one month.</p>
      <% end %>
      <%= component.with_row do %>
        <%= render Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center, mb: 2) do %>
          <h3 class="h4">Monthly</h3>
          <%= render Primer::Beta::Button.new(
            tag: :a,
            href: recurring_imports_path,
            ml: 6,
            test_selector: "recurring-imports-button",
          ).with_content("Choose") %>
        <% end %>
        <p class="small color-fg-muted">
          Sponsored maintainers will receive a recurring sponsorship
          <% if invoiced? %>
            <span <%= test_selector("invoiced-balance-txt") %>>
              until you cancel or your balance runs out.
            </span>
          <% else %>
            until you cancel.
          <% end%>
          Your profile picture will appear in their sponsors for the duration of your sponsorship.
        </p>
      <% end %>
    <% end %>
  </div>
</div>
