<%= issues_triage_menu_hidden_fields(params[:issues]) %>

<div class="select-menu-list">
  <div data-filterable-for="triage-assigns-filter-field" data-filterable-type="substring">
    <button type="button" role="menuitem" class="select-menu-item width-full" name="clear_assignees" value="1">
      <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
      <div class="select-menu-item-text">Assign to nobody</div>
    </button>

    <% issues_triage_menu_assignee_counts(populate_assignees, params[:issues]) do |user, count, total| %>
      <% selected = count > 0 %>
      <% indeterminate = selected && count < total %>
      <label
        role="menuitemcheckbox"
        aria-checked="<%= indeterminate ? "mixed" : selected %>"
        class="select-menu-item text-normal"
        data-name="assignees[<%= user.id %>]"
        data-value="1"
        tabindex="0">

        <input
          type="checkbox"
          hidden
          <% if indeterminate %>data-indeterminate<% elsif selected %>checked<% end %>>

        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <%= primer_octicon(:dash, classes: "select-menu-item-icon") %>

        <div class="select-menu-item-gravatar"><%= avatar_for user %></div>
        <div class="select-menu-item-text">
          <%= user.display_login %>
          <span class="description-inline"><%= user.profile_name %></span>
        </div>
      </label>
    <% end %>
  </div>

  <div class="select-menu-no-results">Nothing to show</div>
</div>
