<% if installations.any? %>
  <div class="d-flex pb-2 border-bottom mt-4">
    <div class="col-4">
      <span class="text-small text-uppercase color-fg-muted">
        <%= number_with_delimiter installations.count %>
        <%= pluralize_without_number installations.count, "server" %>
        <% if query.present? %>
          matching <em><%= query %></em>
        <% end %>
        connected
      </span>
    </div>
    <div class="col-3">
      <span class="text-small text-uppercase color-fg-muted">Hostname</span>
    </div>
    <div class="col-3">
      <span class="text-small text-uppercase color-fg-muted">Members</span>
    </div>
  </div>
  <% installations.each do |installation| %>
    <div class="d-flex py-3 border-bottom flex-items-center" <%= test_selector "installation-#{installation.id}" %>>
      <div class="col-4 d-flex flex-items-center">
        <div class="d-flex">
          <%= primer_octicon(:server, size: :medium, mr: 3) %>
          <strong><%= installation.customer_name %></strong>
        </div>
      </div>
      <div class="col-3 d-flex flex-items-center">
        <div class="d-flex">
          <strong><%= installation.host_name %></strong>
        </div>
      </div>
      <div class="col-3 d-flex flex-items-center">
        <div class="d-flex">
          <strong>
            <%= number_with_delimiter installation.user_accounts.count %>
            <%= pluralize_without_number installation.user_accounts.count, "member" %>
          </strong>
        </div>
      </div>
      <div class="col-2 clearfix">
        <div class="float-right">
          <%= render layout: "shared/details_dialog", locals: {
            button_text: "Disconnect",
            button_class: "btn btn-sm btn-danger",
            title: "Disconnect Enterprise Server installation?"
          } do %>
            <div class="Box-body f5">
              Are you sure that you want to disconnect the
              <strong><%= installation.host_name %></strong>
              GitHub Enterprise installation?
            </div>
            <div class="Box-footer text-center">
              <%= form_tag enterprise_installation_path(installation.id), method: :delete do %>
                <%= render Primer::Beta::Button.new(
                  type: :submit,
                  block: true,
                  scheme: :danger,
                  data: { "disable-with": "" }
                ) do %>
                  Yes, disconnect installation
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="paginate-container">
    <%= will_paginate(installations) %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>
    <% c.with_heading(tag: :h2) do %>
      No servers found
    <% end %>
    <% c.with_description do %>
      <%= "There aren’t any servers for this enterprise matching '#{query}'." %>
    <% end %>
  <% end %>
<% end %>
