<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<details class="details-reset details-overlay select-menu hx_rsm hx_rsm--auto-height select-menu-modal-right width-full" id="<%= select_menu_id %>">
  <summary class="btn select-menu-button width-full text-center">
    <i>Period:</i>
    <span data-menu-button>
      1 <%= time_period.to_s =%>
    </span>
  </summary>
  <%= render Primer::Beta::CloseButton.new(classes: "hx_rsm-close-button btn-link", "data-toggle-for": select_menu_id, "aria-label": "Close menu") %>
  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header text-left">
      <span class="select-menu-title">Filter by time period</span>
    </div>
    <div class="select-menu-list">
      <% %w[week month year].each do |period| %>
        <a
            href="<%= url_for(period: period, server: selected_server) %>"
            class="select-menu-item"
            aria-checked="<%= time_period.to_s  == period %>"
            role="menuitemradio">

            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="text-normal select-menu-item-text"><%= "1 #{period}" %></div>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>
