<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<details class="details-reset details-overlay select-menu hx_rsm hx_rsm--auto-height select-menu-modal-right width-full" id="<%= select_menu_id %>">
  <summary class="btn select-menu-button width-full text-center">
    <i>Server:</i>
    <span data-menu-button>
      <%= servers[selected_server] =%>
    </span>
  </summary>
  <%= render Primer::Beta::CloseButton.new(classes: "hx_rsm-close-button btn-link", "data-toggle-for": select_menu_id, "aria-label": "Close menu") %>
  <details-menu
    class="select-menu-modal position-absolute right-0"
    style="z-index: 99;" ><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header text-left">
      <span class="select-menu-title">Select server</span>
    </div>
    <div class="select-menu-list">
      <% servers.each do |sever_id, server_name| %>
        <a
            href="<%= url_for(period: time_period.to_s, server: sever_id) %>"
            class="select-menu-item"
            aria-checked="<%= selected_server  == sever_id %>"
            role="menuitemradio">

            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="text-normal select-menu-item-text"><%= "#{server_name}" %></div>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>
