<% page_info title: "GitHub Connect Overview",
  selected_link: :business_connect_settings,
  stafftools: stafftools_enterprise_path(this_business)
%>
<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "GitHub Connect",
    container_attributes: "itemscope itemtype='http://schema.org/Business'",
    header_description: "GitHub Connect lets you share specific features and workflows between your
    GitHub Enterprise instance and a GitHub.com enterprise account. The
    connection must originate from your Enterprise instance."
  } do %>

  <% if installations.count == 0 && params[:query].blank? %>
    <div class="border rounded-2 d-flex flex-column flex-items-center p-5 color-shadow-small" data-hpc>
      <%= svg("site/icons/enterprise-cloud.svg", width: "72", height: "72", class: "mb-3") %>
      <h3 class="mb-1">No Enterprise Server connections yet</h3>
      <p class="color-fg-muted">
        You must first establish a connection from your Enterprise instance.
        <%= link_to "Learn more about managing GitHub Connect",
          "#{GitHub.enterprise_admin_help_url}/installation/connecting-github-enterprise-server-to-github-enterprise-cloud",
          class: "Link--inTextBlock" %>.
      </p>
    </div>
  <% else %>
    <%= render partial: "enterprise_installations/usage_metrics_export", locals: {
      stats_export_url: stats_export_url
    } if this_business.has_s4_stats? %>

    <%= form_tag enterprise_enterprise_installations_path(this_business), method: :get,
      "data-autosearch-results-container": "installations-list" do %>
      <div class="auto-search-group">
        <input class="form-control width-full input-contrast auto-search-input"
          type="text"
          name="query"
          value="<%= params[:query] %>"
          placeholder="Find a server…"
          aria-label="Find a server…"
          autocomplete="off"
          data-throttled-autosubmit>
        <%= render Primer::Beta::Octicon.new(icon: "search") %>
        <%= render Primer::Beta::Spinner.new(size: :small, classes: "spinner") %>
      </div>
    <% end %>

    <div id="installations-list" data-hpc>
      <%= render "businesses/settings/enterprise_installations/installations_list",
        installations: installations,
        query: params[:query] %>
    </div>
  <% end %>
<% end %>
