<% page_info title: "GitHub Connect",
             selected_link: :business_connect_settings,
             stafftools: stafftools_enterprise_path(this_business)
%>
<%= render layout: "businesses/layout",
           locals: {
             business: this_business,
             container_attributes: "itemscope itemtype='http://schema.org/Business'",
           } do %>


  <div class="p-responsive pt-2">
    <div class="border-bottom color-border-default pb-2 mb-2 mt-2 mt-md-0">
      <div class="d-flex flex-column flex-md-row flex-md-items-center">
        <%= render(Primer::Beta::Label.new(scheme: :attention)) { "Alpha" } %>
        <%= render(Primer::Beta::Heading.new(tag: :h2, ml: 2)) { "Server Statistics" } %>
        <div class="flex-auto f2 pl-2"></div>
        <div class="pt-2 pt-md-0 pr-md-2">
          <%= render partial: "businesses/settings/enterprise_installations/server_selector",
                     locals: {
                       time_period: time_period,
                       selected_server: selected_server,
                       servers: server_results,
                       select_menu_id: "org-server-select-menu-in-nav" } %>
        </div>
        <div class="pt-2 pt-md-0">
          <%= render partial: "businesses/settings/enterprise_installations/period_selector",
                     locals: {
                       time_period: time_period,
                       selected_server: selected_server,
                       select_menu_id: "org-period-select-menu-in-nav" } %>
        </div>
      </div>
    </div>

    <div class="org-insights-cards d-flex flex-column flex-md-row flex-md-items-center pt-1 pb-2 mb-2">
      <div class="flex-auto flex-order-2 flex-md-order-1 color-fg-muted">
        <% if !server_results.key?(selected_server) %>
          The selected server is not available.
        <% else %>
          Showing activity for server <strong> <%= server_results[selected_server] %> </strong> during the last <strong>1 <%= time_period %></strong>.
        <% end %>
      </div>
    </div>

    <p>
      This view is only visible as a result of an enterprise owner's participation in our alpha program and provision of
      feedback. Please note that this view is currently in the development phase and may be subject to change.
    </p>

    <%= render_react_partial name: "enterprise-server-stats", ssr: true, props: {
      enterpriseSlug: this_business.slug,
      selectedServer: selected_server,
      timePeriod: time_period
    } %>
  </div>
<% end %>
