<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<% if label.new_record? %>
  <div class="form-group mt-0 mb-2 js-label-preview" data-url-template="/organizations/<%= current_organization.name %>/settings/labels/preview/" data-default-name="Label preview">
    <%= render partial: "orgs/label_settings/preview", locals: { label: label.dup } %>
  </div>
<% end %>

<div class="clearfix d-flex flex-justify-end flex-wrap">
  <div class="clearfix d-flex <%= "mt-2" if label.persisted? %>">


    <!--new label name-->
    <% name_chars_remaining = Labelable::NAME_MAX_LENGTH - (label.name || "").length %>
    <dl class="form-group col-4 pr-3 js-characters-remaining-container js-label-error-container">
      <dt class="<%= "mb-0" if label.persisted? %> d-flex flex-justify-between flex-items-center">
        <label for="label-name-<%= label.id %>" class="f5">Label name</label>
        <span class="text-small d-none label-characters-remaining js-characters-remaining" data-suffix="remaining">
            <%= name_chars_remaining %> remaining
        </span>
      </dt>
      <dd class="position-relative">
        <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path(use_colon_emoji: true) %>">
          <input
            type="text"
            data-maxlength="<%= Labelable::NAME_MAX_LENGTH %>"
            autocomplete="off"
            required
            id="label-name-<%= label.id %>"
            name="label[name]"
            class="js-new-label-name-input js-characters-remaining-field form-control"
            placeholder="Label name"
            value="<%= label.name %>"
            aria-describedby="label-<%= label.id %>-name-error">
        </text-expander>
      </dd>
      <dd class="error js-label-name-error" hidden id="label-<%= label.id %>-name-error"></dd>
    </dl><!--END label name-->


    <!--new label description-->
    <% desc_chars_remaining = Labelable::DESCRIPTION_MAX_LENGTH - (label.description || "").length %>
    <dl class="form-group js-characters-remaining-container js-label-error-container flex-auto pr-3">
      <dt class="d-flex flex-justify-between flex-items-center <%= "mb-0" if label.persisted? %>">
        <label for="label-description-<%= label.id %>" class="f5">Description</label>
        <span class="text-small label-characters-remaining d-none js-characters-remaining" data-suffix="remaining">
          <%= desc_chars_remaining %> remaining
        </span>
      </dt>
      <dd>
        <input type="text" id="label-description-<%= label.id %>" name="label[description]" class="form-control width-full js-characters-remaining-field js-new-label-description-input" placeholder="Description (optional)" value="<%= label.description %>" aria-describedby="label-<%= label.id %>-description-error" maxlength="<%= Labelable::DESCRIPTION_MAX_LENGTH %>">
      </dd>
      <dd class="error js-label-description-error" hidden id="label-<%= label.id %>-description-error"></dd>
    </dl><!--END new label description-->


    <!--new label color-->
    <dl class="form-group js-label-error-container">
      <dt<% if label.persisted? %> class="mb-0"<% end %>>
        <label for="label-color-<%= label.id %>" class="f5">Color</label>
      </dt>
      <dd class="d-flex">
        <% new_label_color_id = label.persisted? ? "new-label-color-#{label.id}" :  "new-label-color" %>
        <%= render Issues::LabelComponent.new(
            id: new_label_color_id,
            color: label.color,
            tag: :button,
            type: "button",
            mr: 2,
            border_radius: 2,
            classes: "flex-shrink-0 btn-link js-new-label-color") do |component| %>
          <%= render Primer::Beta::Octicon.new(icon: :sync) %>
        <% end %>
        <%= render Primer::Alpha::Tooltip.new(for_id: new_label_color_id, type: :label, text: "Get a new color") %>
        <div class="position-relative">
          <input required aria-describedby="label-<%= label.id %>-color-error" value="#<%= label.color %>" type="text" name="label[color]" id="label-color-<%= label.id %>" style="width: 6em" class="form-control input-monospace pb-1 mr-0 js-new-label-color-input" maxlength="7" autocomplete="off" spellcheck="off" pattern="#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})" title="Hex colors should only contain numbers and letters from a-f"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
          <div hidden class="js-new-label-swatches Popover">
            <div class="Popover-message Popover-message--top-left p-2 mt-2 Box color-shadow-large">
              <p class="f6 color-fg-muted mb-1">Choose from default colors:</p>
              <div class="d-flex flex-justify-between mb-2">
                <% UserLabel::DARK_COLORS.each do |color| %>
                  <button type="button" aria-label="Color #<%= color %>" class="js-new-label-color-swatch new-label-color-dimensions btn-link rounded-2" style="background-color: #<%= color %> !important;" data-color="#<%= color %>"></button>
                <% end %>
              </div>
              <div class="d-flex flex-justify-between">
                <% UserLabel::LIGHT_COLORS.each do |color| %>
                  <button type="button" aria-label="Color #<%= color %>" class="js-new-label-color-swatch new-label-color-dimensions btn-link rounded-2" style="background-color: #<%= color %> !important;" data-color="#<%= color %>"></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </dd>
      <dd class="error js-label-color-error" hidden id="label-<%= label.id %>-color-error"></dd>
    </dl><!--END new label color-->

  </div>
  <!--new label actions-->
  <div>
    <% if label.new_record? %>
      <%= render Primer::ButtonComponent.new(classes: "js-details-target js-edit-label-cancel", "aria-expanded": "true") do %>Cancel<% end %>
      <%= render Primer::ButtonComponent.new("data-disable-invalid": "", scheme: :primary, "data-disable-with": "Saving...", type: :submit) do %>Create label<% end %>
    <% else %>
      <%= render Primer::ButtonComponent.new(classes: "js-edit-label-cancel") do %>Cancel<% end %>
      <%= render Primer::ButtonComponent.new("data-disable-invalid": "", scheme: :primary, "data-disable-with": "Saving...", type: :submit) do %>Save changes<% end %>
      <%= form_tag delete_org_user_label_path(current_organization, label), method: :delete, class: "d-inline js-delete-label" do %>
      <% end %>
    <% end %>
  </div>
  <!--END new label actions-->
</div>
