<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="Box-row Box-row--focus-gray Details p-3 m-0 d-flex flex-justify-between flex-items-baseline flex-wrap js-navigation-item js-labels-list-item js-label-preview-container">

    <% show_description = label.description.present? %>
    <div class="col-4 pr-3">
      <%= render Issues::LabelComponent.new(
          color: label.color,
          name: label.name,
          description: label.description,
          variant: :big,
          display: :inline_block,
          vertical_align: :top,
          test_selector: "label-name",
          classes: "lh-condensed js-label-link") do %>
        <%= html_label_name(label.name) %>
      <% end %>

      <% if label.persisted? %>
        <div class="d-none js-label-preview" data-url-template="/organizations/<%= current_organization.name %>/settings/labels/preview/" data-default-name="Label preview">
          <%= render partial: "orgs/label_settings/preview", locals: { label: label.dup } %>
        </div>
      <% end %>
    </div>

    <div class="col-6 f6 color-fg-muted js-hide-on-label-edit pr-3">
      <% if show_description %>
        <span <%= test_selector("label-detail") %> ><%= label.description %></span>
      <% end %>
    </div>

    <div class="col-2 f6 d-flex flex-justify-end">
      <%= render Primer::ButtonComponent.new(scheme: :link, classes: "Link--secondary js-edit-label js-hide-on-label-edit") do %>
        Edit
      <% end %>

      <%= form_tag delete_org_user_label_path(current_organization, label), method: :delete, class: "d-inline js-delete-label" do %>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, ml: 3, classes: "Link--secondary", "data-confirm": "Are you sure? Deleting a label will remove as a default, and no future repositories will receive this label when created.") do %>
          <%= render(Primer::Beta::Spinner.new(size: :small, mr: 1, classes: "js-label-delete-spinner", hidden: true)) %>
          Delete
        <% end %>
      <% end %>
    </div>

    <%= form_for label, url: update_org_user_label_path(current_organization, label), method: :put, html: { class: "label-edit d-none js-update-label js-label-form width-full", "data-label-id": label.id } do |f| %>
      <%= render partial: "orgs/label_settings/form", locals: { f: f, label: label } %>
    <% end %>

</div>
