<% if monthly_usage.has_error? %>
  <%= render(Primer::Alpha::Banner.new(scheme: :danger)) do %>
    There was a problem requesting billing API data. Error: <%= monthly_usage.original_error.to_s %>
  <% end %>
<% else %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
      <% component.with_header do %>
      <h3 class="h5">Copilot Billing</h3>
    <% end %>

    <% component.with_row do %>
      <p class="text-bold">Copilot</p>
      <p>
        <details class="billing-box-accordion-chevron details-reset d-flex pl-0 mt-2">
          <summary>
            <%= render(Primer::Beta::Octicon.new("graph", classes: "lfs-data-icon dark")) %>
            <span class="text-bold">Billed Seats</span> –
            Using
            <%= number_with_delimiter(monthly_usage.meuse_product_usage) %>
            User Month
            <div class="float-right">
              <%= Billing::Money.new(monthly_usage.meuse_product_cost).format(no_cents_if_whole: false) %>
            </div>
          </summary>
        </details>
      </p>
    <% end %>
  <% end %>
<% end %>
