<%# erblint:counter DeprecatedComponentsCounter 5 %>
<%# view is an instance of OauthApplicationTransfers::ShowView %>
<% page_info responsive: false, :title => "Transfer OAuth Application", :class => 'page-account', :selected_link => :applications_settings %>

<% content = capture do %>
  <div class="boxed-group application-show-group"><%# erblint:disable DeprecatedCustomCss %>
    <h3>
      Transfer request
    </h3>
    <div class="boxed-group-inner"><%# erblint:disable DeprecatedCustomCss %>
      <% unless view.requester == current_user %>
        <div class="profile-picture clearfix app-owner">
            <p>
             <%= avatar_for view.user, 30 %>
              <strong><%= link_author view.requester %></strong>
              wants to transfer this application to
              <strong><%= link_author view.target %></strong>.
            </p>
        </div>
        <hr class="bleed-flush">
      <% end %>
      <div class="oauth-application-info">
        <%= oauth_application_logo(view.application, 50, :class => "float-left avatar") %>
        <div class="application-title"><%= view.name %></div>
        <% if view.description.blank? %>
        <p class="application-description oauth-no-description">No description for <em><%= view.name %></em>.</p>
        <% else %>
        <p class="application-description"><%= view.description %></p>
        <% end %>
      </div>
      <p>Developed and owned by <%= avatar_for view.user, 20, :class => "avatar" %> <strong><%= link_author view.user %></strong>.</p>
      <hr class="bleed-flush">

      <div class="oauth-app-info-container clearfix">
        <p class="user-count float-left-container">
          <span class="text-emphasized"><%= number_with_delimiter view.authorizations.count %></span>
          user<%= 's' unless view.authorizations.count == 1 %>
        </p>

        <dl class="keys float-right-container">
          <dt>Client ID</dt>
          <dd><%= view.key %></dd>
          <dt>Website</dt>
          <dd><%= link_to view.url, view.url %></dd>
        </dl>
      </div>

      <hr class="bleed-flush">
      <% if current_context.organization? && GitHub.oauth_application_policies_enabled? && !current_context.allows_oauth_application?(view.application) %>
        <div class="flash-messages hooks-oap-warning">
          <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
            <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
              The <strong><%= current_context.display_login %></strong> organization
              restricts the applications that may access its data. This application
              currently has limited, read-only access to this organization’s public
              data.
                <p>Completing this transfer will remove these restrictions for the <strong><%= view.name %></strong> application.</p>
            <% end %>
          <% else %>
            <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
              The <strong><%= current_context.display_login %></strong> organization
              restricts the applications that may access its data. This application
              currently has limited, read-only access to this organization’s public
              data.
                <p>Completing this transfer will remove these restrictions for the <strong><%= view.name %></strong> application.</p>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="clearfix text-right app-transfer-actions">
        <% if current_context.organization? %>
          <%= form_for view.application, :method => :delete, :url => settings_org_application_transfer_path(view.target, view.id) do %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger) do %>Cancel<% end %>
          <% end %>

          <%= form_for view.application, :method => :put, :url => accept_settings_org_application_transfer_path(view.target, view.id) do %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>Complete transfer<% end %>
          <% end %>
        <% else %>
          <%= form_for view.application, :method => :delete, :url => settings_user_application_transfer_path(view.target, view.id) do %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger) do %>Cancel<% end %>
          <% end %>

          <%= form_for view.application, :method => :put, :url => accept_settings_user_application_transfer_path(view.target, view.id) do %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>Complete transfer<% end %>
          <% end %>
        <% end %>
      </div>
      <br>
    </div>
  </div>
<% end -%>

<% if current_context.organization? %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "settings/settings" do %>
    <%= content %>
  <% end %>
<% end %>
