<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% if hook.active? %>
  <%= form_with url: stafftools_toggle_hook_active_status_path(hook), method: :patch do  %>
    <%= render layout: "shared/details_dialog", locals: {
      button_text: "Disable webhook",
      button_class: "btn btn-danger",
      details_class: "float-right ml-1",
      dialog_class: "Box-overlay--wide",
      title: "Are you sure you want to disable this webhook?"
    } do %>
      <%= render Primer::Beta::Flash.new(scheme: :warning, full: true) do %>
        Pay attention!
      <% end %>
      <div class="Box-body overflow-auto">
        <p>
          Disabling this webhook means we will not deliver event details to this URL.
          We will notify the user that their webhook has been temporarily disabled due
          to an internal issue. It is your responsibility to ensure that this webhook
          is enabled after the issue is resolved.
        </p>
        <p>
          Remember that the user can re-enable the webhook from settings. If you are
          disabling in the case of a malicious user, consider taking action that is
          irreversible by the user.
        </p>
         <p>
          Please enter the reason for disabling the webhook in the textbox below and
          include links to relevant issues or Slack threads with more information.
          The reason will be visible only to GitHub Staff via the audit log entry
          which will be created for disabling the webhook. The reason will not be
          visible to the end-user.
        </p>
        <div style="padding-top: 10px;">
          <label for="disable_reason">Reason</label>
        </div>
        <div>
          <%= text_area_tag :disable_reason,
            "",
            autofocus: true,
            required: true,
            style: "height: 100px; min-height: 100px; margin: 10px 0; width: 100%;" %>
        </div>
      </div>

      <div class="Box-footer">
        <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-disable-invalid": "") do %>
          I understand, disable this webhook now
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= form_with url: stafftools_toggle_hook_active_status_path(hook), method: :patch do %>
    <%= render Primer::ButtonComponent.new(type: :submit, float: :right, ml: 1) do %>Enable webhook<% end %>
  <% end %>
<% end %>
