<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div <%= test_selector "report-#{report.id}" %>>
  <%= render Primer::Beta::Subhead.new do |subhead| %>
    <% subhead.with_heading(
      tag: :h3,
      font_size: 3,
    ) do %>
      <%= primer_octicon(report_octicon, mr: 1) %>
      <%= report.title %>
    <% end %>
    <% subhead.with_actions do %>
      <% if report.published? %>
        <%= render(Primer::Beta::Label.new(scheme: :success, mr: 1)) { "Published" } %>
      <% else %>
        <%= render(Primer::Beta::Label.new(scheme: :secondary, mr: 1)) { "Unpublished" } %>
      <% end %>

      <% if report.download? %>
        <%= render(Primer::Beta::Button.new(
          scheme: :default,
          size: :small,
          tag: :a,
          mr: 1,
          test_selector: "download-report-button",
          href: stafftools_compliance_report_path(report),
        )) { "Download" } %>
      <% end %>

      <%= render(Primer::Beta::Button.new(
        scheme: :default,
        size: :small,
        tag: :a,
        mr: 1,
        test_selector: "edit-report-button",
        href: edit_stafftools_compliance_report_path(report),
      )) { "Edit" } %>

      <%= render(Primer::Alpha::Dialog.new(
        id: "delete-report-#{report.id}",
        size: :medium_portrait,
        title: "Confirm deletion of report"
      )) do |c| %>
        <% c.with_show_button(
          size: :small,
          scheme: :danger,
          test_selector: "delete-report-button"
        ) do |c| %>
          Delete
        <% end %>
        <% c.with_header(show_divider: true) do %>
          Confirm deletion of report
        <% end %>
        <% c.with_body do %>
          <%= render(Primer::Beta::Flash.new(scheme: :warning, mt: 3)) do %>
            Make sure you want to do this.
          <% end %>
          <p class="my-3">
            Are you sure you want to delete the <strong><%= report.title %></strong> compliance report?
            This will permanently delete the report.
            <strong>The report will no longer be available to customers.</strong>
          </p>
          <%= form_with(
            url: stafftools_compliance_report_path(report),
            method: :delete) do |form| %>
            <p>
              <%= render(Primer::Beta::Button.new(
                type: :submit,
                scheme: :danger,
                "data-disable-invalid": "",
                "data-disable-with": ""
              )) { "Permanently delete report" } %>
            </p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="f5 mb-2">
    <strong>Report availability:</strong>
    <span class="color-fg-muted" <%= test_selector "report-availability" %>>
      <%= ComplianceReport.availability_for_humans(report.availability) %>
    </span>
  </div>

  <div class="f5 mb-2">
    <strong>Report type:</strong>
    <span class="color-fg-muted" <%= test_selector "report-type" %>>
      <%= report.report_type.titleize %>
    </span>
  </div>

  <% if report.download? || report.link? %>
    <div class="f5 mb-2">
      <% if report.download? %>
        <strong>Filename:</strong>
        <span class="color-fg-muted">
          <%= report.filename %>
        </span>
      <% elsif report.link? %>
        <strong>URL:</strong>
        <span class="color-fg-muted">
          <%= report.url %>
        </span>
      <% end %>
    </div>
  <% end %>

  <div class="f5 mb-2">
    <strong>Coverage period:</strong>
    <span class="color-fg-muted">
      <%= report.coverage_period.present? ? report.coverage_period : "Unspecified" %>
    </span>
  </div>

  <div class="f5 mb-2">
    <strong>Display order:</strong>
    <span class="color-fg-muted">
      <%= report.display_order.present? ? report.display_order : "Unspecified" %>
    </span>
  </div>

  <div class="f5">
    <strong>Description:</strong>
  </div>
  <div class="markdown-body f5 color-fg-muted mt-2">
    <%= helpers.github_simplified_markdown(report.description) %>
  </div>
</div>

<% if report.group? %>
  <% if report.child_reports.any? %>
    <%= render Primer::Beta::Subhead.new(hide_border: true, mt: 3) do |subhead| %>
      <% subhead.with_heading(
        tag: :h3,
        font_size: 3,
      ) { "Group reports" } %>
    <% end %>

    <%= render(Primer::Beta::BorderBox.new) do |box| %>
      <% report.child_reports.each do |child_report| %>
        <% box.with_row do %>
          <%= render(Stafftools::ComplianceReportListItemComponent.new(report: child_report)) %>
        <% end %>
      <% end %>
    <% end %>

  <% else %>
    <%= render Primer::Beta::Blankslate.new do |bs| %>
      <% bs.with_heading(tag: :h3, font_size: 3) do %>
        No group reports.
      <% end %>
    <% end %>
  <% end %>
<% end %>
