<tr <%= test_selector "invitation-#{invitation.id}" %>>
  <td class="text-small">
    <%= helpers.avatar_for user, 20, class: :avatar %>
      <% if invitation.email? %>
        <%= invitation.email %>
      <% else %>
        <%= link_to user, stafftools_user_path(user) %>
      <% end %>
  </td>
  <td class="text-small">
    <%= helpers.invitation_display_role(invitation) %>
  </td>
  <td class="text-small">
    <% if !repo_invitation? && invitation.teams.any? %>
      <%= invitation.teams.map(&:name).join(", ") %>
    <% else %>
      No teams
    <% end %>
  </td>
  <td class="right-align text-small">
    <% if inviter.present? %>
      <%= link_to inviter, stafftools_user_path(inviter) %>
    <% else %>
      Inviter not found.
      <% unless repo_invitation? %>
        <% if helpers.stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
          Search the <%= link_to "audit log", stafftools_audit_log_path(query: audit_log_query), class: "Link--inTextBlock" %>
        <% end %>
      <% end %>
    <% end %>
  </td>
  <td class="text-small">
    <%= invitation.created_at.to_date %>
  </td>
  <td class="text-small">
    <%= invitation.updated_at.to_date unless repo_invitation? %>
  </td>
  <% if failed? %>
    <td class="text-small" <%= test_selector "failed-reason" %>>
      <%= invitation.failed_reason_description %>
    </td>
  <% end %>
</tr>
