<div class="form-group"
  <%= test_selector(form_group_test_selector) if form_group_test_selector.present? %>>
  <% if query_label.present? %>
    <label for="query" class="text-bold">
      <%= query_label %>
    </label>
  <% end %>
  <%= form_with url: form_url, method: "get" do |form| %>
    <%= form.text_field \
      :query,
      id: :query,
      class: "form-control",
      placeholder: query_placeholder,
      value: params[:query] %>

    <% if extra_input_fields.any? %>
      <% extra_input_fields.each do |field| %>
        <%= form.text_field \
          field[:name],
          id: field[:id],
          class: "form-control",
          value: field[:value],
          hidden: field[:hidden] %>
      <% end %>
    <% end %>

    <%= render Primer::Beta::Button.new(type: :submit, display: :inline_block) do %>Search<% end %>
  <% end %>
  <% if params[:query].present? %>
    <div class="mt-2">
      <%= render(Primer::Beta::Link.new(href: form_url)) do %>
        <%= render(Primer::Beta::Octicon.new(:x)) %>
        Clear search query
      <% end %>
    </div>
  <% end %>
</div>
