<div id="staffnotes" class="js-details-container Details staffnotes">
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(
      tag: :h2,
      test_selector: "staff-notes-heading",
    ) do %>Staff notes<% end %>
    <% component.with_actions do %>
      <%= render Primer::Beta::Button.new(
        classes: "Details-content--shown js-details-target",
        "aria-expanded": "false",
      ) do %>Add note<% end %>
    <% end %>
  <% end %>

  <div class="Details-content--hidden mb-3">
    <%= form_for(
      new_note,
      url: create_path,
      html: { id: "new_note" },
    ) do |f| %>
      <dl class="form-group mt-0 mb-2">
        <dt><label for="staff_note_note">New note</label></dt>
        <dd>
          <%= f.text_area "note",
            autofocus: "",
            class: "form-control js-quick-submit",
            :'aria-label' => "staff note" %>
        </dd>
      </dl>
      <%= render(Primer::Box.new(display: :flex, justify_content: :flex_end, style: "gap: 4px")) do %>
        <%= render Primer::Beta::Button.new(
          type: :submit,
          classes: "js-details-target",
          "aria-expanded": "true",
        ) do %>Cancel<% end %>
        <% if !pinned_staff_note? %>
          <%= render(Primer::Alpha::Dropdown.new(with_caret: true)) do |c| %>
            <% c.with_button(scheme: :primary) do %>
              Add note
            <% end %>
            <% c.with_menu(direction: :sw, style: "width: fit-content") do |menu| %>
              <% menu.with_item(
                tag: :button,
                type: :submit,
                "data-disable-with": ""
              ) do %>
                Add note
              <% end %>
              <%= menu.with_item(divider: true) %>
              <% menu.with_item(
                tag: :button,
                type: :submit,
                name: "is_pinned",
                "data-disable-with": ""
              ) do %>
                Add pinned note
                <br>
                <small>An always visible note used to mark critical information</small>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            scheme: :primary,
            "data-disable-with": "",
          ) do %>Add note<% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% if pinned_staff_note? || staff_notes.any? %>
  <% if pinned_staff_note? %>
    <%= render(Stafftools::StaffNoteComponent.new(note: pinned_staff_note)) %>
  <% end %>

  <div class="mb-4">
    <% staff_notes.each_with_index do |note, index| %>
      <%= render(Stafftools::StaffNoteComponent.new(note: note)) %>
    <% end %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |bs| %>
    <% bs.with_heading(tag: :h2).with_content("No staff notes") %>
    <% bs.with_description { "There are no staff notes on this account." } %>
  <% end %>
<% end %>
