<li <%= test_selector "summary-counter" %>>
  <%= primer_octicon(icon) %>
  <% if path.present? %>
    <%= link_to text, path %>
  <% else %>
    <%= text %>
  <% end %>

  <% if after_counter? %>
    <%= after_counter %>
  <% end %>
</li>
