<div class="note pt-2 pb-3 mt-0" <%= test_selector "default-repository-permission-org-settings" %>>
  <% if !this_business.default_repository_permission_policy? %>
    Your organizations' current settings are shown below. If you change this setting
    to <span class="text-bold">Admin</span>, <span class="text-bold">Write</span>,
    <span class="text-bold">Read</span>, or <span class="text-bold">None</span>
    the enterprise policy will override these values.
  <% else %>
    Your organizations' settings without the enterprise policy are shown below.
    If you adjust this setting with <span class="text-bold">No policy</span>,
    then the organizations will use the configuration outlined below.
  <% end %>
</div>

<ul class=" table-list border-bottom-0">
  <%= render partial: "businesses/organizations/settings/row", locals: {
    organizations: this_business.default_repository_permission_setting_organizations(value: "admin"),
    label: "Admin",
    description: "Organization members can clone, pull, push, and add new collaborators to all organization repositories."
  } %>
  <%= render partial: "businesses/organizations/settings/row", locals: {
    organizations: this_business.default_repository_permission_setting_organizations(value: "write"),
    label: "Write",
    description: "Organization members can clone, pull, and push all organization repositories."
  } %>
  <%= render partial: "businesses/organizations/settings/row", locals: {
    organizations: this_business.default_repository_permission_setting_organizations(value: "read"),
    label: "Read",
    description: "Organization members can clone and pull all organization repositories."
  } %>
  <%= render partial: "businesses/organizations/settings/row", locals: {
    organizations: this_business.default_repository_permission_setting_organizations(value: "none"),
    label: "No permission",
    description: if GitHub.public_repositories_available?
        "Organization members can only clone and pull public repositories."
      else
        "Organization members cannot clone and pull repositories."
      end
  } %>
</ul>
