<% view = Businesses::Organizations::Settings::RowView.new(organizations: organizations) %>

<li class="table-list-item">
  <div class="d-flex flex-items-center table-list-cell pt-3 pb-2 px-0">
    <div class="width-full">
      <div class="d-flex flex-items-center">
        <h2 class="f5 float-left color-fg-default"><%= label %></h2>
        <div class="float-left border-0 pl-1 mb-0">
          <div class="f5 color-fg-muted">
            <%= view.count_text %>
          </div>
        </div>
      </div>
      <p class="note pb-2">
        <%= description %>
      </p>
      <div class="pb-2">
        <% organizations.first(view.first_number_of_orgs).each do |org| %>
          <%= link_to user_path(org), class: "d-inline-block v-align-middle" do %>
            <%= avatar_for(org, 25, class: "avatar position-relative float-left") %>
          <% end %>
        <% end %>
        <% if view.hidden_count > 0 %>
          <span class="d-inline-block v-align-middle no-underline border color-fg-muted rounded-2 p-1">
            plus <%= view.hidden_count %> more.
          </span>
        <% end %>
      </div>
    </div>
  </div>
</li>
