<% stats_timer do %>
  <%= render Feed::ItemNextComponent.new(
    actor:,
    action:,
    timestamp: item.created_at,
    item:,
    repository:,
    heading_icon:,
  ) do |c| %>
    <% if item.rollup? %>
      <% c.with_heading_action do %>
        commented on
      <% end %>
      <% c.with_heading_subject do %>
        <%= item.total_related_items + 1 %> <%= "pull request".downcase.pluralize(item.total_related_items + 1) %>
      <% end %>
    <% else %>
      <% c.with_heading_subject do %>
        <%= helpers.link_to_feed_repo(repository, item, include_owner: true) %>
      <% end %>
    <% end %>

    <% c.with_body do |body| %>
      <% body.with_title do %>
        <%= render Primer::Beta::Link.new(
          href: pull_request_comment.url,
          data: pull_request_comment_link_data(click_target: "pull_request_comment_title_link"),
          scheme: :primary,
          underline: false,
          font_weight: :bold,
          target: "_top",
        ) do %>
          <%= issue.title %>
          <span class="f3-light color-fg-muted">#<%=issue.number%></span>
        <% end %>
        <% body.with_preview_markdown(
          bg: :subtle,
          data: hydro_data(click_target: "pull_request_comment_body"),
          mb: 0,
          pt: 3,
          px: 3,
          pb: comment_body_truncated? ? 3 : 0,
          border_radius: 1,
        ) do %>
          <div class="flex-column">
            <div class="d-flex flex-items-center pb-1 wb-break-word pb-2">
              <%= helpers.feed_user_avatar(item.actor, item, size: 20, mr: 2, show_login: true) %>
              <%= helpers.link_to_feed_user(item.actor, item) %>
            </div>

            <%= truncated_body_html %>

            <% if comment_body_truncated? %>
              <%= render(
                Primer::Beta::Link.new(
                  href: pull_request_comment.url,
                  data: helpers.feed_pull_request_comment_link_data(
                    pull_request:,
                    comment: pull_request_comment,
                    click_target: "pull_request_comment_body",
                    feed_item: item,
                    ),
                  scheme: :primary,
                  underline: false,
                  font_weight: :bold,
                  target: "_top",
                  mt: 2,
                  pt: 2,
                ),
              ) { _("Read more") } %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if item.rollup? %>
      <% c.with_related_items do %>
        <% item.related_items.each do |item| %>
          <%= render Feed::Cards::CommentedPullRequestNextComponent.new(item:) %>
        <% end %>
      <% end %>
    <% end %>

  <% end %>
<% end %>
