<% stats_timer do %>
  <%= render Feed::ItemNextComponent.new(
    actor:,
    action: item.action_string,
    timestamp: item.created_at,
    item:,
    repository:,
    heading_icon:,
  ) do |c| %>
    <% if item.rollup? %>
      <% c.with_heading_subject do %>
        <%= "#{item.total_related_items + 1} repositories" %>
      <% end %>
    <% end %>

    <% c.with_body do %>
      <div class="d-flex color-bg-subtle flex-items-center flex-justify-between p-3 rounded-1" <%= test_selector("create-repo-feed-card") %>>
        <div class="flex-column">
          <div class="d-flex flex-items-center pb-1 wb-break-word">
            <%= helpers.feed_user_avatar(item.actor, item, size: 20, mr: 2) %>
            <%= helpers.link_to_feed_repo(repository, item, include_owner: true) %>
          </div>
          <div class="pt-1">
            <% if repository.short_description_html.present? %>
              <div <%= test_selector("repo-desc")%>>
                <%= repository.short_description_html %>
              </div>
            <% end %>

            <% if repository.stargazer_count > 0 || repository.primary_language_name.present? %>
              <div class="pt-2">
                <%= render Feed::RepoDetailsComponent.new(item:) %>
              </div>
            <% end %>
          </div>
        </div>

        <% if show_star_repo_buttons && include_star_button? %>
          <div
            class="<%= repo_has_details? ? 'flex-self-start' : 'flex-self-center' %> ml-1"
            <%= test_selector("star-button") %>
          >
            <%= render Stars::ButtonComponent.new(
              entity: repository,
              display: :inline_block,
              context: "repository",
              current_user_can_read_repo: repository&.readable_by?(current_user),
              data: helpers.feed_clicks_hydro_attrs(click_target: "star_button", feed_item: item),
            ) do |c| %>
              <%= c.with_list_menu(
                data: helpers.feed_clicks_hydro_attrs(
                  click_target: "user_list_menu",
                  feed_item: item,
                ),
              ) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if item.rollup? %>
      <% c.with_related_items_preview do %>
        <%= render Feed::Cards::CreatedRepositoryNextComponent.new(
          item: item.related_items.slice(0),
          show_star_repo_buttons:,
          ) %>
      <% end %>

      <% c.with_related_items do %>
        <% item.related_items.slice(1..).each do |item| %>
          <%= render Feed::Cards::CreatedRepositoryNextComponent.new(
            item:,
            show_star_repo_buttons:,
          ) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
