<% stats_timer do %>
  <%= render Feed::ItemComponent.new(actor:, action:, timestamp: item.created_at, item:) do |c| %>
    <% c.with_body do %>
      <div <%= test_selector("feed-post-feed-card") %> class="comment-body markdown-body p-0">
        <%= body_html %>
      </div>
    <% end %>
    <% c.with_footer do %>
      <%= render Primer::BaseComponent.new(
        tag: :section,
        display: :flex,
        justify_content: :space_between,
        w: :full,
        aria_label: "release-interactions",
        classes: "js-comment",
      ) do %>
        <%=
          render DashboardFeed::ReactionsComponent.new(
            target_global_id: feed_post.global_relay_id,
            reaction_path: feed_post.reaction_path,
            emotions: Discussion.emotions,
            reaction_count_by_content: user_reactions,
            viewer_reaction_contents: viewer_reaction_contents,
            emotion_data: hydro_data(click_target: "feed_posts_emotion_button"),
            selector_data: hydro_data(click_target: "feed_posts_selector_button"),
          )
        %>
      <% end %>

      <% c.with_comments do %>
        <div id="<%= "post-#{post_id}" %>">
          <%= render FeedPosts::CommentsComponent.new(comments:, reaction_context: feed) %>
          <%= render FeedPosts::InlineCommentContainerComponent.new(post_id:) %>
        </div>
      <% end %>
    <% end %>

    <% if item.rollup? %>
      <% c.with_related_items do %>
        <% item.related_items.each do |item| %>
          <%= render Feed::Cards::FeedPostComponent.new(item:, feed:) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
