<% stats_timer do %>
  <%= render Feed::ItemComponent.new(actor:, action:, timestamp:, item:) do |c| %>
    <% c.with_heading do %>
      <header class="d-inline-flex flex-items-center width-full">
        <span
          class="circle d-inline-flex p-2 mr-2"
          style="background-color: var(--bgColor-neutral-muted, var(--color-scale-gray-2));"
        >
          <%= primer_octicon(:"person-add", size: :small, color: :muted, "aria-label": "follow-rec-icon") %>
        </span>
        <h5 class="text-normal color-fg-muted">
          <%= action_string %>
        </h5>
      </header>
    <% end %>

    <div class="d-flex flex-justify-between flex-column flex-xl-row gap-2 width-full">
      <% follow_items.each do |item| %>
        <div class="col-12 <%= col_class %>">
          <%= render Primer::BaseComponent.new(
            tag: :article,
            bg: user_feature_enabled?(:feeds_v2) ? :overlay : :default,
            mt: 2,
            border: true,
            border_color: :muted,
            border_radius: 1,
            box_shadow: :medium,
            h: :full,
          ) do %>
            <%= render Users::UserCardComponent.new(
              user: item.subject,
              viewer_is_sponsoring: item.subject.sponsored_by_viewer?(current_user),
              user_is_sponsorable: item.subject.sponsorable_by?(current_user),
              show_staff_badge_to_viewer: false,
              show_pro_badge_to_viewer: false,
              show_user_location: false,
              hydro_data: {
                event_type: "feeds.feed_click",
                payload: {
                  feed_card: item.analytics_attributes,
                  original_request_id: item.request_id,
                }
              },
              test_selector: "user-rec-#{item.subject.id}",
            ) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
