<% stats_timer do %>
  <%= render Feed::ItemNextComponent.new(actor:, action:, timestamp:, item:) do |c| %>
    <% c.with_heading do %>
      <header class="d-inline-flex flex-items-center width-full">
        <span
          class="circle d-inline-flex p-1 mr-2"
        >
          <%= primer_octicon(:"person-add", size: :small, color: :muted, "aria-label": "follow-rec-icon") %>
        </span>
        <h5 class="text-normal color-fg-muted">
          <%= action_string %>
        </h5>
      </header>
    <% end %>

    <% c.with_body do %>
      <div class="d-flex rounded-1 flex-justify-between" <%= test_selector("user-feed-card") %>>
        <div class="width-full py-2">
          <%= render Users::UserCardComponent.new(
          user: item.subject,
          viewer_is_sponsoring: item.subject.sponsored_by_viewer?(current_user),
          user_is_sponsorable: item.subject.sponsorable_by?(current_user),
          show_staff_badge_to_viewer: false,
          show_pro_badge_to_viewer: false,
          show_user_location: false,
          for_feed: true,
          hydro_data: {
            event_type: "feeds.feed_click",
            payload: {
              feed_card: item.analytics_attributes,
              original_request_id: item.request_id,
            }
          },
          test_selector: "user-rec-#{item.subject.id}",
        ) %>
        </div>
      </div>
    <% end %>

    <% if item.rollup? %>
      <% c.with_related_items_preview do %>
        <%= render Feed::Cards::FollowRecommendationNextComponent.new(item: item.related_items.slice(0)) %>
      <% end %>

      <% c.with_related_items do %>
        <% item.related_items.slice(1..).each do |item| %>
          <%= render Feed::Cards::FollowRecommendationNextComponent.new(item:) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
