<% stats_timer do %>
    <%= render Feed::ItemNextComponent.new(
      actor:,
      action:,
      timestamp: item.created_at,
      item:,
      heading_icon:,
    ) do |c| %>
      <% if item.rollup? %>
        <% c.with_heading_subject do %>
          <%= "#{item.total_related_items + 1} #{item.resource_type.downcase.pluralize(item.total_related_items + 1)}"%>
        <% end %>
      <% else %>
        <% c.with_heading_subject do %>
          <% if contains_viewer? %>
            you
          <% end %>
        <% end %>
      <% end %>

      <% c.with_body do %>
        <div class="d-flex color-bg-subtle rounded-1 flex-justify-between p-3" <%= test_selector("user-feed-card") %>>
          <div class="d-flex">
            <%= helpers.feed_user_avatar(user, item, size: 48) %>

            <div class="ml-2">
              <p class="css-truncate text-bold wb-break-all m-0">
                <%= helpers.link_to_feed_user(user, item, show_profile_name: true) %>
                <%= helpers.feed_user_login_name(user) %>
              </p>
              <% if render_description? %>
                <div class="m-0 mt-1 wb-break-all" <%= test_selector("description") %>><%= description %></div>
              <% end %>

              <% if render_counts? %>
                <p class="m-0 mt-1 color-fg-muted">
                  <% if render_repo_count? %>
                    <span class="mr-3" <%= test_selector("repo-count") %>>
                      <%= helpers.social_count(user_repo_count) %>
                      <%= ("repository").pluralize(user_repo_count) %>
                    </span>
                  <% end %>
                  <% if render_follower_count? %>
                    <span <%= test_selector("follower-count") %>>
                      <%= helpers.social_count(user_follower_count) %>
                      <%= ("follower").pluralize(user_follower_count) %>
                    </span>
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>

          <div <%= test_selector("card-cta") %> class="ml-1">
            <%= helpers.follow_button user, data: hydro_data(click_target: "follow_button") %>
          </div>
        </div>
      <% end %>

      <% if item.rollup? %>
        <% c.with_related_items_preview do %>
          <%= render Feed::Cards::FollowedUserNextComponent.new(item: item.related_items.slice(0)) %>
        <% end %>

        <% c.with_related_items do %>
          <% item.related_items.slice(1..).each do |item| %>
            <%= render Feed::Cards::FollowedUserNextComponent.new(item:) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
