<% stats_timer do %>
  <%= render Feed::RollupContainerComponent.new(item:) do %>
    <%= render Feed::ItemComponent.new(
      actor:,
      action:,
      timestamp: item.created_at,
      item:,
      heading_icon:,
    ) do |c| %>
      <% if item.rollup? %>
        <% c.with_heading_subject do %>
          <%# first user %>
          <% if contains_viewer? %>
            <%= "you" -%>
          <% else %>
            <h5 class="Truncate">
              <%= helpers.link_to_feed_user(user, item) %>
            </h5>
          <% end %><%= item.total_related_items >= 2 ? "," : " and" %>

          <%# second user %>
          <h5 class="Truncate">
            <%= helpers.link_to_feed_user(item.heading_subjects.first, item) %>
          </h5>

          <%# 'and more' %>
          <%= "and #{item.total_related_items - 1} more" unless item.total_related_items < 2 %>
        <% end %>
      <% else %>
        <% c.with_heading_subject do %>
          <% if contains_viewer? %>
            you
          <% else %>
            <%= helpers.link_to_feed_user(user, item) %>
          <% end %>
        <% end %>
      <% end %>

      <% c.with_body do %>
        <div class="d-flex flex-justify-between" <%= test_selector("user-feed-card") %>>
          <div class="d-flex">
            <%= helpers.feed_user_avatar(user, item, size: 48) %>

            <div class="ml-2">
              <p class="css-truncate text-bold wb-break-all m-0">
                <%= helpers.link_to_feed_user(user, item, show_profile_name: true) %>
              </p>
              <% if render_description? %>
                <div class="m-0 mt-1 wb-break-all" <%= test_selector("description") %>><%= description %></div>
              <% end %>

              <% if render_counts? %>
                <p class="m-0 mt-2 color-fg-muted">
                  <% if render_repo_count? %>
                    <span class="mr-3" <%= test_selector("repo-count") %>>
                      <%= helpers.social_count(user_repo_count) %>
                      <%= ("repository").pluralize(user_repo_count) %>
                    </span>
                  <% end %>
                  <% if render_follower_count? %>
                    <span <%= test_selector("follower-count") %>>
                      <%= helpers.social_count(user_follower_count) %>
                      <%= ("follower").pluralize(user_follower_count) %>
                    </span>
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>

          <div <%= test_selector("card-cta") %>>
            <%= helpers.follow_button user, data: hydro_data(click_target: "follow_button") %>
          </div>
        </div>
      <% end %>

      <% if item.rollup? %>
        <% c.with_related_items do %>
          <% item.related_items.each do |item| %>
            <%= render Feed::Cards::FollowedUserComponent.new(item:) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
