<% stats_timer do %>
  <%= render Feed::ItemNextComponent.new(actor:, action:, timestamp:, item:, heading_icon:) do |c| %>
    <% c.with_heading_subject do %>
      <%= render Issues::LabelComponent.new(color: label.color) do %>
        <%= label.name_html %>
      <% end %>
      in
      <%= helpers.link_to_feed_repo(repository, item, include_owner: true) %>
    <% end %>

    <% c.with_body do |body| %>
      <% body.with_title do %>
        <%= render Primer::Beta::Link.new(
          href: issue_path(issue),
          data: issue_link_data(click_target: "issue_title_link"),
          scheme: :primary,
          underline: false,
          font_weight: :bold,
        ) do %>
          <%= issue.title %>
          <span class="f3-light color-fg-muted">#<%=issue.number%></span>
        <% end %>

        <% body.with_preview_markdown(
          bg: :subtle,
          mb: 0,
          p: 3,
          border_radius: 1,
          data: hydro_data(click_target: "issue_body"),
        ) do %>
          <%= truncated_issue_body_html %>

          <% if issue_body_truncated? %>
            <%= render(
              Primer::Beta::Link.new(
                href: issue_path(issue),
                data: helpers.feed_issue_link_data(
                  issue:,
                  click_target: "issue_body",
                  feed_item: item,
                ),
                scheme: :primary,
                underline: false,
                font_weight: :bold,
                mt: 2,
                pt: 2,
              ),
            ) { _("Read more") } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% c.with_footer do %>
      <%= render Primer::BaseComponent.new(
        tag: :section,
        display: :flex,
        justify_content: :space_between,
        w: :full,
        aria_label: "issue-interactions",
        classes: "js-comment",
      ) do %>
        <%= render DashboardFeed::ReactionsComponent.new(
          target_global_id: issue.global_relay_id,
          reaction_path: issue.reaction_path,
          emotions: issue.class.emotions,
          reaction_count_by_content: reaction_count_by_content,
          viewer_reaction_contents: viewer_reaction_contents,
          emotion_data: hydro_data(click_target: "reactions_emotion_button"),
          selector_data: hydro_data(click_target: "reactions_selector_button"),
        ) %>
        <% if issue.issue_comments_count > 0 %>
          <div
            class="ml-auto mt-auto mb-auto flex-self-end"
            <%= test_selector("issue-comments") %>
          >
            <%= render Primer::Beta::Link.new(
              href: issue_path(issue),
              underline: false,
              muted: true,
              font_weight: :normal,
              font_size: 6,
              data: helpers.feed_issue_link_data(
                issue:,
                click_target: "issue_comments_link",
                feed_item: item,
              ),
            ) do %>
              <%= render Primer::Beta::Octicon.new(icon: "comment", mr: 1) %>
              <%= pluralize(issue.issue_comments_count, _("comment")) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
