<% stats_timer do %>
  <%= render Feed::ItemComponent.new(
    actor:,
    action:,
    timestamp: item.created_at,
    item:,
    repository:,
    heading_icon:,
  ) do |c| %>
    <% c.with_heading_subject do %>
      <%= helpers.link_to_feed_repo(repository, item, include_owner: true) %>
    <% end %>

    <% c.with_body do |body| %>
      <% body.with_title do %>
        <%= helpers.link_to_feed_pull_request(
          pull_request.title,
          pull_request,
          item,
          data: {
            test_selector: "pull-request-title",
          }.merge!(hydro_data(click_target: "pull_request_title")),
        ) %>
      <% end %>

      <% body.with_subheader do %>
        <%= render Feed::PullRequestDetailsComponent.new(pull_request:, item:) %>
      <% end %>

      <% if body_html.present? %>
        <% body.with_preview_markdown(data: hydro_data(click_target: "pull_request_body")) do %>
          <%= truncated_body_html %>
        <% end %>

        <% if body_truncated? %>
          <%= render(
            Primer::Beta::Link.new(
              href: pull_request_path(pull_request),
              data: helpers.feed_pull_request_link_data(
                pull_request:,
                click_target: "pull_request_body",
                feed_item: item,
              ),
              scheme: :primary,
              underline: false,
              font_weight: :bold,
              mt: 2,
              pt: 2,
            ),
          ) { _("Read more") } %>
        <% end %>
      <% end %>
    <% end %>

    <% c.with_footer do %>
      <%= render Primer::BaseComponent.new(
        tag: :section,
        display: :flex,
        justify_content: :space_between,
        w: :full,
        aria_label: "pull-request-interactions",
        classes: "js-comment",
      ) do %>
        <%= render DashboardFeed::ReactionsComponent.new(
          target_global_id: pull_request.global_relay_id,
          reaction_path: pull_request.reaction_path,
          emotions: pull_request.class.emotions,
          reaction_count_by_content: reaction_count_by_content,
          viewer_reaction_contents: viewer_reaction_contents,
          emotion_data: hydro_data(click_target: "reactions_emotion_button"),
          selector_data: hydro_data(click_target: "reactions_selector_button"),
        ) %>
        <% if pull_request.total_comments > 0 %>
          <div
            class="ml-auto mt-auto mb-auto flex-self-end"
            <%= test_selector("pull-request-comments") %>
          >
            <%= render Primer::Beta::Link.new(
              href: pull_request_path(pull_request),
              underline: false,
              muted: true,
              font_weight: :normal,
              font_size: 6,
              data: helpers.feed_pull_request_link_data(
                pull_request:,
                click_target: "pull_request_comments_link",
                feed_item: item,
              ),
            ) do %>
              <%= render Primer::Beta::Octicon.new(icon: "comment-discussion", mr: 1) %>
              <%= pluralize(pull_request.total_comments, _("comment")) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
