<% stats_timer do %>
  <%= render Feed::ItemNextComponent.new(
    actor:,
    action:,
    timestamp: item.created_at,
    item:,
    heading_icon:,
  ) do |c| %>

      <% if render_sponsor_button? %>
        <% c.with_action_button do %>
          <%= render Sponsors::SponsorButtonComponent.new(
            sponsorable: user,
            is_sponsoring: sponsoring?,
            data: hydro_data(click_target: "sponsors_button"),
          ) %>
        <% end %>
      <% end %>

    <% c.with_body do %>
      <div <%= test_selector("user-feed-card") %>>
        <% if render_description? %>
          <p class="mt-2" <%= test_selector('near-goal-description') %>>
            <%= description %>
          </p>
        <% end %>
        <%= render Sponsors::Profile::GoalProgressComponent.new(
          sponsors_listing: sponsors_listing,
          goal: sponsors_goal,
        ) %>
      </div>
    <% end %>

    <% if item.rollup? %>
      <% c.with_related_items do %>
        <% item.related_items.each do |item| %>
          <%= render Feed::Cards::NearSponsorsGoalNextComponent.new(item:) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
