<% stats_timer do %>
  <%= render Feed::ItemComponent.new(
    actor:,
    action:,
    timestamp: item.created_at,
    item:,
    heading_icon:,
  ) do |c| %>
    <% c.with_body do %>
      <div
        class="d-flex flex-column flex-justify-center flex-items-center"
        <%= test_selector("newly-sponsorable-feed-card") %>
      >
        <%= helpers.feed_user_avatar(user, item, size: 80, link_arguments: { href: sponsors_url, mr: 0, mb: 3 }) %>
        <span class="d-flex text-bold">
          <%= helpers.link_to_feed_user(user, item, href: sponsors_url, show_profile_name: true) %>
        </span>
        <% if render_description? %>
          <%= render(
            Primer::Box.new(
              display: :flex,
              text_align: :center,
              px: 6,
              mb: using_profile_bio? ? 3 : 2,
              test_selector: "description-#{using_profile_bio? ? "profile" : "sponsors"}-bio",
            ),
          ) { description } %>
        <% end %>
        <div <%= test_selector("card-cta") %>>
          <% if render_sponsor_button? %>
            <%= render Sponsors::SponsorButtonComponent.new(
              sponsorable: user,
              is_sponsoring: sponsoring?,
              size: :large,
              span_classes: "v-align-baseline",
              data: hydro_data(click_target: "sponsors_button"),
            ) %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
