<% if user_or_global_feature_enabled?(:feeds_v2) %>
  <% stats_timer do %>
    <%= render Feed::ItemComponent.new(
      actor:,
      action: item.action_string,
      timestamp: item.made_public_at,
      item:,
      repository:,
      heading_icon:,
    ) do |c| %>
      <% c.with_body do |body| %>
        <% if repository.short_description_html.present? %>
          <% body.with_preview_markdown(
            aria_label: "repo description",
            pt: 2,
            pb: 1,
            test_selector: "repo-desc",
          ) { repository.short_description_html } %>
        <% end %>

        <%= render Feed::RepoDetailsComponent.new(item:) %>
      <% end %>

      <% if show_star_repo_buttons && include_star_button? %>
        <% c.with_action_button do %>
          <div
            class="<%= repo_has_details? ? 'flex-self-start' : 'flex-self-center' %>"
            <%= test_selector("star-button") %>
          >
            <%= render Stars::ButtonComponent.new(
              entity: repository,
              display: :inline_block,
              context: "repository",
              current_user_can_read_repo: repository&.readable_by?(current_user),
              data: helpers.feed_clicks_hydro_attrs(click_target: "star_button", feed_item: item),
            ) do |c| %>
              <%= c.with_list_menu(
                data: helpers.feed_clicks_hydro_attrs(
                  click_target: "user_list_menu",
                  feed_item: item,
                ),
              ) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
