<% if user_or_global_feature_enabled?(:feeds_v2) %>
  <% stats_timer do %>
    <%= render Feed::ItemNextComponent.new(
      actor:,
      action: item.action_string,
      timestamp: item.made_public_at,
      item:,
      repository:,
      heading_icon:,
    ) do |c| %>
      <% c.with_body do %>
        <div class="d-flex color-bg-subtle flex-items-center flex-justify-between p-3 rounded-1" <%= test_selector("private-to-public-repo-feed-card") %>>
          <div class="flex-column">
            <div class="d-flex flex-items-center">
              <%= helpers.feed_user_avatar(item.actor, item, size: 20, mr: 2) %>
              <%= helpers.link_to_feed_repo(repository, item, include_owner: true) %>
            </div>
            <% if repository.stargazer_count > 0 || repository.primary_language_name.present? %>
              <div class="m-0 mt-2 color-fg-muted">
                <%= render Feed::RepoDetailsComponent.new(item: item) %>
              </div>
            <% end %>
          </div>

          <% if show_star_repo_buttons && include_star_button? %>
            <div
              class="<%= repo_has_details? ? 'flex-self-start' : 'flex-self-center' %>"
              <%= test_selector("star-button") %>
            >
              <%= render Stars::ButtonComponent.new(
                entity: repository,
                display: :inline_block,
                context: "repository",
                current_user_can_read_repo: repository&.readable_by?(current_user),
                data: helpers.feed_clicks_hydro_attrs(click_target: "star_button", feed_item: item),
              ) do |c| %>
                <%= c.with_list_menu(
                  data: helpers.feed_clicks_hydro_attrs(
                    click_target: "user_list_menu",
                    feed_item: item,
                  ),
                ) %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
