<% stats_timer do %>
  <%= render Feed::ItemNextComponent.new(
    actor: target_user,
    action:,
    timestamp: item.created_at,
    item:,
    repository:,
    heading_icon:,
  ) do |c| %>

    <% if repository.sponsorable_owner? %>
      <% c.with_action_button do %>
        <%= render Sponsors::SponsorButtonComponent.new(
          sponsorable: target_user,
          is_sponsoring: sponsoring?,
          align_self: :end,
          data: hydro_data(click_target: "sponsors_button"),
        ) %>
      <% end %>
    <% end %>

    <% if item.rollup? %>
      <% c.with_heading_action do %>
        published
      <% end %>
      <% c.with_heading_subject do %>
        <%= item.total_related_items + 1 %> <%= "release".downcase.pluralize(item.total_related_items + 1) %>

        &middot;
        <%= helpers.link_to_feed_releases("See more", repository, item) %>
      <% end %>

    <% else %>
      <% c.with_heading_action do %>
        released
      <% end %>
    <% end %>

    <% if item.related_item? %>
      <% c.with_border do %>
        <hr class="mb-3 mt-2">
      <% end %>
    <% end %>

    <% c.with_body do |body| %>
      <% body.with_title do %>
        <%= helpers.link_to_feed_release(release.name.present? ? release.name : release.tag_name, release, item) %>
      <% end %>

      <% if short_description_html.present? %>
        <% body.with_preview_markdown(
          bg: :subtle,
          mb: 0,
          p: 3,
          border_radius: 1,
          data: helpers.feed_clicks_hydro_attrs(click_target: "release_body", feed_item: item),
        ) do %>
          <%= short_description_html %>

          <% if short_description_info[:truncated?] %>
            <%= helpers.link_to_feed_release(_("Read more"), release, item, display: :block, mt: 2, pt: 2) %>
          <% end %>
        <% end %>
      <% end %>

      <% if release_preview_image %>
        <% body.with_preview_image(src: release_preview_image, alt: release.name) %>
      <% end %>
    <% end %>
    <% c.with_footer do %>
      <% if render_contributors? %>
        <section
          class="f6 mt-3 mb-0 pb-2 color-fg-muted width-full"
          aria-label="Release Contributors"
          <%= test_selector("release-item-contributors") %>
        >
          <h6 class="color-fg-muted text-normal">Contributors</h6>
          <div class="mt-1">
            <%= render Users::AvatarListComponent.new(
              release.mentions.take(MAX_AVATARS),
              data: hydro_data(click_target: "release_contributor_button")
            ) do |component| %>
              <% (release.mentions.size > MAX_AVATARS) && component.with_truncator do %>
                <span class="flex-self-center color-fg-muted">
                  +<%= release.mentions.size - MAX_AVATARS %>
                </span>
              <% end %>
            <% end %>
          </div>
        </section>
      <% end %>
      <% if !reactions_disabled? || discussion.present? %>
        <%= render Primer::BaseComponent.new(
          tag: :section,
          display: :flex,
          justify_content: :space_between,
          w: :full,
          mt: render_contributors? ? 2 : nil,
          aria_label: "release-interactions",
          classes: "js-comment"
        ) do %>
          <% unless reactions_disabled? %>
            <%= render DashboardFeed::ReactionsComponent.new(
              target_global_id: release.global_relay_id,
              reaction_path: release.reaction_path,
              emotions: Releases::Public.emotions,
              reaction_count_by_content: reaction_count_by_content,
              viewer_reaction_contents: viewer_reaction_contents,
              emotion_data: hydro_data(click_target: "reactions_emotion_button"),
              selector_data: hydro_data(click_target: "reactions_selector_button"),
            ) %>
          <% end %>
          <% if discussion %>
            <div
              class="ml-auto mt-auto mb-auto flex-self-end"
              <%= test_selector("release-item-discussion") %>
            >
              <%= render Primer::Beta::Link.new(
                href: discussion_path(discussion),
                underline: false,
                muted: true,
                font_weight: :normal,
                font_size: 6,
                data: helpers.feed_discussion_link_data(
                  repo: repository,
                  number: discussion.number,
                  click_target: "release_discussion_link",
                  feed_item: item,
                ),
              ) do %>
                <% if discussion.comment_count > 0 %>
                  <%= render Primer::Beta::Octicon.new(icon: "comment-discussion", mr: 1) %>
                  <%= pluralize(discussion.comment_count, _("comment")) %>
                <% else %>
                  <%= _("Join discussion") %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if item.rollup? %>
      <% c.with_related_items_preview do %>
        <%= render Feed::Cards::ReleaseNextComponent.new(item: item.related_items.slice(0)) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
