<% stats_timer do %>
  <%= render Feed::ItemNextComponent.new(actor:, action: nil, timestamp: nil, item:, repository:) do |c| %>
    <% c.with_heading do %>
      <header
        class="d-inline-flex flex-items-center width-full mb-2"
        <%= test_selector("feed-item-heading") %>
      >
        <span
          class="d-inline-flex mr-2"
          <%= test_selector("repo-rec-icon") %>
        >
          <%= primer_octicon(
            repo_recommendation_icon,
            size: :small,
            color: :muted,
            "aria-label": "repo-rec-icon",
          ) %>
        </span>
        <h5
          class="text-normal color-fg-muted"
          <%= test_selector("feed-item-heading") %>
        >
          <%= item.action_string %> <%= link_to_repo_recommendation %>
        </h5>
        <%= render Feed::HeadingMenuComponent.new(item:, ml: :auto) %>
      </header>
    <% end %>

    <% if item.related_item? %>
      <% c.with_border do %>
        <hr class="mb-3 mt-2">
      <% end %>
    <% end %>

    <% c.with_body do |body| %>
      <div class="d-flex rounded-1 flex-items-center flex-justify-between py-1" <%= test_selector("fork-repo-feed-card") %>>
        <div class="flex-column">
          <div class="d-flex flex-items-center wb-break-word" <%= test_selector("repo-avatar-link") %>>
            <%= helpers.feed_user_avatar(repository.owner, item, size: 20, mr: 2) %>
            <%= helpers.link_to_feed_repo(repository, item, include_owner: true) %>
          </div>

          <div class="pt-2">
            <% if repository.short_description_html.present? %>
              <div <%= test_selector("repo-desc")%>>
                <%= repository.short_description_html %>
              </div>
            <% end %>

            <% if repository.stargazer_count > 0 || repository.primary_language_name.present? %>
              <div class="pt-2">
                <%= render Feed::RepoDetailsComponent.new(item:) %>
              </div>
            <% end %>
          </div>
        </div>

        <% if show_star_repo_buttons && include_star_button? %>
          <div
            class="<%= repo_has_details? ? 'flex-self-start' : 'flex-self-center' %> ml-1"
            <%= test_selector("star-button") %>
          >
            <%= render Stars::ButtonComponent.new(
              entity: repository,
              display: :inline_block,
              context: "repository",
              current_user_can_read_repo: repository&.readable_by?(current_user),
              data: helpers.feed_clicks_hydro_attrs(click_target: "star_button", feed_item: item),
            ) do |c| %>
              <%= c.with_list_menu(
                data: helpers.feed_clicks_hydro_attrs(
                  click_target: "user_list_menu",
                  feed_item: item,
                ),
              ) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if item.rollup? %>
      <% c.with_related_items_preview do %>
        <%= render Feed::Cards::RepositoryRecommendationNextComponent.new(
          item: item.related_items.slice(0),
          show_star_repo_buttons:,
          ) %>
      <% end %>

      <% c.with_related_items do %>
        <% item.related_items.each do |item| %>
          <%= render Feed::Cards::RepositoryRecommendationNextComponent.new(
            item:,
            show_star_repo_buttons:,
          ) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
