<% stats_timer do %>
  <%= render Feed::ItemNextComponent.new(actor:, action:, timestamp:, item:, repository:) do |c| %>
    <% c.with_heading(pb: 0) do %>
      <header
        class="d-inline-flex flex-items-center width-full mb-2"
        <%= test_selector("feed-item-heading") %>
      >
        <span
          class="d-inline-flex mr-2"
          <%= test_selector "trending-repos-icon" %>
        >
          <%= render Primer::Beta::Octicon.new(icon: "graph", size: :small, color: :muted, mr: 0) %>
        </span>
        <h5 class="text-normal color-fg-muted" <%= test_selector "trending-repos-header" %>>Trending repositories</h5>
        <span class="mx-2">&middot;</span>
        <%= render(
          Primer::Beta::Link.new(
            href: trending_index_url,
            test_selector: "inline-trending-repositories-show-more-link",
            data: helpers.feed_clicks_hydro_attrs(click_target: "SEE_MORE")
          ),
        ) { "See more" } %>
        <%= render Feed::HeadingMenuComponent.new(item:, ml: :auto) %>
      </header>
    <% end %>

    <% if item.related_item? %>
      <% c.with_border do %>
        <hr class="mb-3 mt-2">
      <% end %>
    <% end %>

    <% c.with_body do %>
      <div class="d-flex flex-items-center flex-justify-between" <%= test_selector("fork-repo-feed-card") %>>
        <div class="flex-column">
          <div class="d-flex flex-items-center">
            <%= helpers.feed_user_avatar(repository.owner, item, size: 20, mr: 2) %>
            <%= helpers.link_to_feed_repo(repository, item, include_owner: true) %>
          </div>

          <div class="pt-2">
            <% if repository.short_description_html.present? %>
              <div <%= test_selector("repo-desc")%>>
                <%= repository.short_description_html %>
              </div>
            <% end %>

            <% if repository.stargazer_count > 0 || repository.primary_language_name.present? %>
              <div class="pt-2">
                <%= render Feed::RepoDetailsComponent.new(item:) %>
              </div>
            <% end %>
          </div>
        </div>

        <% if show_star_repo_buttons && include_star_button? %>
          <div
            class="<%= repo_has_details? ? 'flex-self-start' : 'flex-self-center' %>"
            <%= test_selector("star-button") %>
          >
            <%= render Stars::ButtonComponent.new(
              entity: repository,
              display: :inline_block,
              context: "repository",
              current_user_can_read_repo: repository&.readable_by?(current_user),
              data: helpers.feed_clicks_hydro_attrs(click_target: "star_button", feed_item: item),
            ) do |c| %>
              <%= c.with_list_menu(
                data: helpers.feed_clicks_hydro_attrs(
                  click_target: "user_list_menu",
                  feed_item: item,
                ),
              ) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if item.rollup? %>
      <% c.with_related_items_preview do %>
        <%= render Feed::Cards::TrendingRepoNextComponent.new(item: item.related_items.slice(0), show_star_repo_buttons:) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
