<dl class="col-4 mt-0">
  <dt class="text-bold" <%= test_selector("field-title") %>>
    <%= title %>
  </dt>
  <dd class="note">
    <span class="<%= value_class %>" <%= test_selector("field-value") %>><%= value %></span>

    <% if search_url.present? %>
      <a href="<%= search_url %>" class="d-block" <%= test_selector("field-search-link") %>>
        <%= render Primer::Beta::Octicon.new(icon: "search", size: :xsmall) %>
        Search audit log
      </a>
    <% end %>
  </dd>
</dl>
