<div class="Box Details mb-2 js-details-container">
  <div class="Box-row d-flex flex-justify-between flex-items-center">
    <div class="col-4">
      <a
        href="<%= stafftools_user_overview_path(sponsor_login) %>"
        class="text-bold"
        <%= test_selector("flagged-sponsor") %>
      >
        <%= sponsor_login %>
      </a>
      <span class="d-block color-fg-muted text-small">
        Flagged at <%= formatted_flagged_at %>
      </span>
    </div>

    <div class="col-7">
      <ul class="list-style-none text-mono color-fg-muted">
        <% if flagged_record.matched_current_client_id.present? %>
          <%= render Primer::Beta::Label.new(
            scheme: :secondary,
            test_selector: "flagged-current-client-id",
            mr: 1,
            mb: 1,
          ).with_content("Client ID") %>
        <% end %>
        <% if flagged_record.matched_historical_client_id.present? %>
          <%= render Primer::Beta::Label.new(
            scheme: :secondary,
            test_selector: "flagged-historical-client-id",
            mr: 1,
            mb: 1,
          ).with_content("Historical client ID") %>
        <% end %>
        <% if flagged_record.matched_current_ip.present? %>
          <%= render Primer::Beta::Label.new(
            scheme: :secondary,
            test_selector: "flagged-current-ip",
            mr: 1,
            mb: 1,
          ).with_content("IP address") %>
        <% end %>
        <% if flagged_record.matched_historical_ip.present? %>
          <%= render Primer::Beta::Label.new(
            scheme: :secondary,
            test_selector: "flagged-historical-ip",
            mr: 1,
            mb: 1,
          ).with_content("Historical IP address") %>
        <% end %>
        <% if flagged_record.matched_current_ip_region_and_user_agent.present? %>
          <%= render Primer::Beta::Label.new(
            scheme: :secondary,
            test_selector: "flagged-region-user-agent",
            mr: 1,
            mb: 1,
          ).with_content("Region + user agent") %>
        <% end %>
      </ul>
    </div>

    <div class="col-1 d-flex flex-justify-end">
      <button
        class="btn-octicon js-details-target"
        type="button"
        aria-label="Toggle"
        aria-expanded="false"
      >
        <span class="sponsors-foldable-opened"><%= render(Primer::Beta::Octicon.new(icon: "fold")) %></span>
        <span class="sponsors-foldable-closed"><%= render(Primer::Beta::Octicon.new(icon: "unfold")) %></span>
      </button>
    </div>
  </div>

  <div class="sponsors-foldable color-bg-subtle">
    <div class="border-top"></div>
    <div class="d-flex flex-wrap p-3">
      <% Stafftools::Sponsors::Members::FlaggedSponsors::FlaggedSponsorFieldComponent::FIELDS.keys.each do |field| %>
        <%= render Stafftools::Sponsors::Members::FlaggedSponsors::FlaggedSponsorFieldComponent.new(
          flagged_record: flagged_record,
          field: field,
        ) %>
      <% end %>
    </div>
  </div>
</div>
