<li <%= test_selector("pinnable-item") %> class="css-truncate" <%= li_attributes %>>
  <input
    type="checkbox" name="pinned_items_id_and_type[]"
    value="<%= "#{pinnable_item.id}-Repository" %>"
    id="pinned-item-<%= pinnable_item.id %>"
    class="pinned-item-checkbox m-2 position-absolute"
    data-action="change:favorite-pins#formModified"
    <%= input_attributes %>>
  <label class="pinned-item-name d-flex flex-items-center pl-5 p-1"
    for="pinned-item-<%= pinnable_item.id %>">
    <%= primer_octicon(octicon_name, mr: 2, classes: "flex-shrink-0", aria: { label: octicon_label }) %>
    <span class="css-truncate-target width-fit flex-auto text-normal" data-filter-item-text>
      <%= truncate(pinnable_item.name_with_display_owner, length: 50) %>
    </span>
    <span class="stars no-wrap color-fg-muted">
      <%= social_count(pinnable_item.stargazer_count) %>
      <%= primer_octicon(:star, :"aria-label" => "star".pluralize(pinnable_item.stargazer_count)) %>
    </span>
  </label>
</li>
