<h2 class="text-center mb-5"><%= title %></h2>
<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% unless diff_all_permissions.only_revoked_permissions? %>
    <% component.with_row do %>
      <%= inner_box_text %>
    <% end %>
  <% end %>
  <% permissions.each do |label, permissions| %>
    <% component.with_row do %>
      <%= render(Codespaces::AllowPermissionsRowItemComponent.new(label: label, permissions: permissions, icon: :lock, is_prebuild: @is_prebuild)) %>
    <% end %>
  <% end %>

  <% if unknown_repository_permissions.present? %>
    <% component.with_row(pt: 5) do %>
      The following permissions were also requested but are not available. You can continue but the codespace may not function as intended.
    <% end %>

    <% unknown_repository_permissions.each do |label, permissions| %>
      <% component.with_row do %>
        <%= render(Codespaces::AllowPermissionsRowItemComponent.new(label: label, permissions: permissions, icon: :"x-circle-fill", color: "color-fg-danger", is_prebuild: @is_prebuild)) %>
      <% end %>
    <% end %>
  <% end %>

  <% if revoked_permissions.present? %>
    <% component.with_row(pt: 5) do %>
      The following permissions were previously authorized and will now be removed:
    <% end %>

    <% revoked_permissions.each do |label, permissions| %>
      <% component.with_row do %>
        <%= render(Codespaces::AllowPermissionsRowItemComponent.new(label: label, permissions: permissions, icon: :"x-circle-fill", color: "color-fg-attention", action: "removed", is_prebuild: @is_prebuild)) %>
      <% end %>
    <% end %>
  <% end %>

  <% component.with_footer do %>
    <%= footer %>
  <% end %>
<% end %>


