
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Details.new(reset: true, classes: "Details-element details-reset") do |c| %>
  <% c.with_summary(button: false) do %>
    <%= render(Primer::Box.new(display: :flex)) do %>
      <% if permissions.present? %>
        <span class="Details-content--open"><%= render Primer::Beta::Octicon.new(icon: "chevron-down") %></span>
        <span class="Details-content--closed"><%= render Primer::Beta::Octicon.new(icon: "chevron-right") %></span>
      <% end %>
      <%= render(Primer::Box.new(display: :inline_flex, justify_content: :space_between, align_items: :center, flex: 1)) do %>
        <%= render(Primer::Box.new) do %>
          <span class="<%= color %>">
            <%= render(Primer::Beta::Octicon.new(icon)) %>
            <%= label %>
          <span>
        <% end %>
        <% if permissions.present? %>
          <%= render(Primer::Box.new) do %>
            <p class="text-small color-fg-muted m-0"><%= pluralize(permissions.length, "permission") %> <%= action %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
<% end %>
  <% c.with_body(ml: 3, mt: 3) do %>
    <% permissions.each do |resource, action| %>
      <% if action == "write" && is_prebuild %>
        <div class = "text-small d-flex flex-items-center">
        <span class="text-bold"><%= resource.titleize %>: </span>
          <span class="ml-1 color-fg-muted" style="text-decoration: line-through">write </span>
          <span class="ml-1 color-fg-muted">read </span>
        <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "Link--secondary tooltipped tooltipped-nw", "aria-label": "Write permissions are not granted for prebuild configurations") do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          <%= render(Primer::Beta::Octicon.new(icon: "info", ml: 1, size: :small)) %>
        <% end %>
        </div>
      <% else%>
        <p class="text-small">
          <span class="text-bold"><%= resource.titleize %>: </span>
          <span class="color-fg-muted"> <%= action %>
            <%= render Primer::Beta::Label.new(scheme: :orange, mr: 1, classes: "js-mandatory-label", title: "Label: mandatory") do %>
              mandatory
            <% end if resource.mandatory? %>
          </span>
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
