<div class="js-socket-channel js-updatable-content" data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.repository_codespaces(repository, current_user)) %>"
  data-url="<%= repository_codespaces_code_menu_contents_path(repository.owner, repository, pull_request: pull_request&.number, name: current_branch_or_tag_name) %>"
  data-gid="<%= repository.global_relay_id %>">
  <ul class="list-style-none">
    <li class="Box-row p-0 mt-0" <%= test_selector("code-dropdown-codespaces-section") %>>
      <include-fragment
        <%= test_selector("lazy_loaded_codespaces_list") %>
        id="lazyLoadedCodespacesList"
        data-target="get-repo.codespaceList"
        data-src="<%= codespaces_path(codespaces_path_params) %>"
        data-action="include-fragment-replace:get-repo#hideSpinner"
      >
        <div
          class="d-flex flex-items-center"
          data-target="get-repo.codespaceLoadingMenu"
        >
          <%= render Primer::Beta::Spinner.new(my: 3, flex: 1) %>
        </div>
      </include-fragment>
    </li>
  </ul>
</div>
