<div class="color-border-muted border-bottom p-3 d-flex flex-items-center flex-row flex-justify-between">

  <template id="concurrency-error">
    <%= render Codespaces::CreateConcurrencyErrorComponent.new %>
  </template>

  <div>
    <span class="text-bold" <%= test_selector("codespaces-section-header") %>>Codespaces</span>
    <br>
    <span class="text-small color-fg-subtle" <%= test_selector("codespaces-section-sub-header") %>>Your workspaces in the cloud</span>
  </div>

  <div class="d-flex" style="gap: 4px;">
    <% if disable_one_click_creation %>
      <a
        target="_blank"
        href="<%= new_codespace_path(repo: codespace.repository_id, hide_repo_select: true, ref: display_ref) %>"
      >
        <%= render(Primer::Beta::IconButton.new(icon: "plus", tag: :button, scheme: :invisible, "aria-label": tooltip_text, "data-test-selector": "create-codespace-w-options-plus-in-header")) %>
      </a>
    <% else %>
      <%= form_for(codespace, form_options) do |f| %>
        <%= f.hidden_field(:repository_id) %>
        <%= f.hidden_field(:ref, value: codespace.ref_for_display) %>
        <%= f.hidden_field(:pull_request_id) %>
        <%= hidden_field_tag(:open_in_deeplink, open_in_deeplink) if open_in_deeplink %>
        <%# We don't want to nest this within the codespace object we send up, as that would actually try to dictate the billable owner, which we recompute server-side. %>
        <%= hidden_field_tag(:expected_billable_owner_id, codespace.billable_owner_id) %>
        <%= f.hidden_field(:devcontainer_path) %>
        <% if !creations_should_be_disabled? %>
          <%= render(Primer::Beta::IconButton.new(icon: "plus", tag: :button, type: :submit, scheme: :invisible, "aria-label": tooltip_text, data: { "test-selector": "create-codespace-plus-in-header" }.merge(click_tracking_attributes), classes: "js-toggle-hidden")) %>
          <span class="js-toggle-hidden" hidden><%= render(Primer::Beta::Spinner.new(size: :small, mt: 2, mr: 2)) %></span>
        <% end %>
      <% end %>
    <% end %>
    <%= render(Primer::Alpha::ActionMenu.new) do |menu| %>
      <% menu.with_show_button(icon: "kebab-horizontal", "aria-label": "Codespace repository configuration", anchor_align: :end, scheme: :invisible) %>
      <% if !creations_should_be_disabled? %>
        <% menu.with_item(label: "New with options...", href: new_with_options_link, target: :_blank, data: { test_selector: "codespaces_advanced_options_link" }) do |item| %>
          <% item.with_leading_visual_icon(icon: :plus) %>
        <% end %>
      <% end %>

      <% if show_configure_dev_container? %>
        <% menu.with_item(label: "Configure dev container", href: create_or_edit_dev_container_path) do |item| %>
          <% item.with_leading_visual_icon(icon: :container) %>
        <% end %>
      <% end %>

      <% if show_configure_prebuilds? %>
        <% menu.with_item(label: "Set up prebuilds", href: codespaces_repository_settings_path(repository: repository, user_id: user_id)) do |item| %>
          <% item.with_leading_visual_icon(icon: :zap) %>
        <% end %>
      <% end %>

      <% menu.with_divider %>

      <% menu.with_item(label: "Manage codespaces", href: repository_codespaces_path(repository)) do |item| %>
        <% item.with_leading_visual_icon(icon: :codespaces) %>
      <% end %>

      <% menu.with_item(label: "Share a deep link", tag: :button, value: "", content_arguments: { "data-show-dialog-id": "share-deep-link-modal" }) do |item| %>
        <% item.with_leading_visual_icon(icon: :share) %>
      <% end %>

      <% menu.with_item(label: "What are codespaces?", href: "#{GitHub.help_url}/codespaces") do |item| %>
        <% item.with_leading_visual_icon(icon: :question) %>
      <% end %>
    <% end %>
    <%= render(Primer::Alpha::Dialog.new(
      title: "Share codespace configuration",
      subtitle: "Choose which settings from this configuration to include when sharing",
      size: :xlarge,
      position: :center,
      id: "share-deep-link-modal",
      data: { test_selector: "codespaces-share-deep-link" }
    )) do |component| %>
      <% component.with_header(show_divider: true) %>
      <% component.with_body(px: 0, pt: 0, pb: 2) do %>
        <%= render Codespaces::ShareDeepLinkComponent.new(codespace: codespace) %>
      <% end %>
    <% end %>

  </div>
</div>
