<%# erblint:counter DeprecatedComponentsCounter 4 %>
<details class="d-inline-block details-reset details-overlay BtnGroup-parent" data-target="<%= "create-button.selectionDetails" %>">
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :primary, group_item: true, float: :none, classes: "select-menu-button js-toggle-hidden", "aria-label": "Codespace creation options", "aria-haspopup": "true") %>
  <details-menu class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal mt-1">
      <div class="SelectMenu-list p-2">
        <%= render Primer::ButtonComponent.new(
          disabled: !default_sku,
          scheme: :invisible,
          px: 2,
          pb: 0,
          border: 0,
          classes: "ws-normal",
          border_radius: 0,
          w: :full,
          color: hide_advanced_options_button && default_sku ? :default : :muted,
          style: hide_advanced_options_button && default_sku ? "" : "pointer-events:none",
          data: {target: "create-button.dropdownButton", action: "click:create-button#useBasicCreation"},
        ) do %>
          <%= render Primer::Box.new(display: :flex, pt: 1) do %>
            <%= render Primer::Beta::Octicon.new(:"check", data: { target: "create-button.basicOptionsCheck"}, visibility: hide_advanced_options_button ? nil : :hidden) %>
            <%= render Primer::Truncate.new(tag: :p, ml: 1, mb: 0).with_content(create_button_text) %>
          <% end %>
          <%= render Primer::Beta::Text.new(
              tag: :p,
              text_align: :left,
              ml: 4,
              pb: 1,
              font_size: :small,
              color: :muted
            ).with_content(default_sku ? default_sku.display_specs : "No machine types available.")
          %>
        <% end %>
        <%= render Primer::ButtonComponent.new(
          scheme: :invisible,
          px: 2,
          pb: 0,
          border: 0,
          classes: "ws-normal",
          border_radius: 0,
          w: :full,
          color: :default,
          data: {action: "click:create-button#useAdvancedCreation"},
        ) do %>
          <%= render Primer::Box.new(display: :flex, pt: 1) do %>
            <%= render Primer::Beta::Octicon.new(:"check", data: { target: "create-button.advancedOptionsCheck"}, visibility: hide_advanced_options_button ? :hidden : nil) %>
            <%= render Primer::Beta::Text.new(tag: :p, ml: 1, mb: 0).with_content("Configure and create codespace") %>
          <% end %>
          <%= render Primer::Beta::Text.new(
              tag: :p,
              text_align: :left,
              ml: 4,
              pb: 1,
              font_size: :small,
              color: :muted
            ).with_content("Show advanced options before launching codespace")
          %>
        <% end %>
      </div>
    </div>
  </details-menu>
</details>
