<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= content_tag(tag, {
    class: class_names(["d-flex flex-column"]),
    role: role
  }.merge(
    test_selector_data_hash("codespaces-list-item-component")
  ).merge(
    test_selector_data_hash(codespace.id, name: "codespace-id") )
) do %>
  <div class="d-flex flex-items-center">
    <div class="flex-1 lh-condensed pt-1 pb-2" style="min-width: 0px">
      <div class="d-flex flex-wrap flex-items-center">
        <div class="d-flex mr-2 Truncate flex-1">
          <%= codespace_link_html do %>
            <div style="position: relative;">
              <% if show_display_name? %>
                <%= render(
                  Primer::Truncate.new(
                    max_width: 250,
                    font_weight: :bold,
                    color: (codespace.blocking_operation? || needs_machine_type_change?) ? :muted : :default,
                    pb: 1,
                    data: {
                      test_selector: "codespaces-list-item-component-display-name"
                    }
                  )
                ) do %>
                  <%= formatted_codespace_display_name(codespace: codespace) %>
                <% end %>
              <% else %>
                <%= render Codespaces::RefComponent.new(codespace: codespace, should_truncate: true, show_branch_icon: false, link_to_repo: false, disabled: codespace.blocking_operation?) %>
              <% end %>
            </div>
          <% end %>

          <% if show_display_name? && !link_disabled? %>
            <%# Tooltip should follow the link element for accessibility %>
            <%= render(Primer::Alpha::Tooltip.new(
              for_id: codespace.name,
              type: :description,
              text: codespace_url_text,
              data: {
                test_selector: "codespaces-display-name-tooltip"
              },
              direction: :n)
            ) %>
          <% end %>
        </div>

        <div class="text-small color-fg-muted">
          <% if needs_machine_type_change? %>
            <span>Machine type disallowed</span>
          <% elsif needs_base_image_change? %>
            <span>Image disallowed</span>
          <% elsif codespace.blocking_operation? %>
            <span><%= codespace.blocking_operation_disabled_text %></span>
          <% else %>
            <% if codespace.auto_deletion_soon? %>
              <%= render Codespaces::RetentionExpirationComponent.new(retention_expires_at: codespace.retention_expires_at, size: :small) %>
            <% elsif show_failed_label? %>
              <div class="d-flex" <%= test_selector "codespaces-failed-indicator" %>>
                <%= render Primer::Beta::Octicon.new(icon: "dot-fill", color: :"danger") %>
                <p class="f6 mb-0 mr-2 text-small color-fg-muted">
                  Failed
                </p>
              </div>
            <% elsif show_active_label? %>
              <div class="d-flex" <%= test_selector "codespaces-active-indicator" %>>
                <%= render Primer::Beta::Octicon.new(icon: "dot-fill", color: :"success") %>
                <p class="f6 mb-0 mr-2 text-small color-fg-muted">
                  Active
                </p>
              </div>
            <% else %>
              <%= render(Primer::Beta::RelativeTime.new(
                  datetime: codespace.last_used_at,
                  format: :micro,
                  tense: :past,
                  flex: :auto,
                  ml: 1,
                  mr: 1,
                  text_align: :right,
                  data: {
                    test_selector: "codespaces-used-at-time-ago"
                  },
                  font_size: :small)
                ) %>
            <% end %>
          <% end %>
        </div>
        <%= render Codespaces::ActionDropdownComponent.new(
          codespace:,
          allow_codespace_interaction: access_result.allowed?,
          allow_change_machine_type: access_result.allowed? || needs_machine_type_change?,
          needs_fork_to_push: needs_fork_to_push,
        ) %>
      </div>


      <div class="d-flex flex-row flex-items-baseline text-small color-fg-muted" style="gap: 8px;" >
       <% if !(codespace.unpublished?) %>
          <% if show_display_name? %>
            <%= render Codespaces::RefComponent.new(codespace: codespace, should_truncate: true, show_branch_icon: false, link_to_repo: false, dropdown: true) %>
          <% end %>

          <% if show_commit_divergence %>
            <%= render Codespaces::GitCommitDivergenceComponent.new(codespace: codespace, small_variant: true, extra_classes: "mb-0") %>
          <% end %>

          <% if codespace.pull_request %>
            <span class="text-small color-fg-muted mr-1">•</span>
            <span class="text-small color-fg-muted" <%= test_selector("codespaces-created-from-pr-description") %>>
              <%= render Primer::Beta::Octicon.new(icon: pull_request_icon) %> #<%= codespace.pull_request.number %>
            </span>
          <% else %>
            <%= render(Primer::Truncate.new(tag: :div, mr: 2, max_width: 150, font_size: :small, test_selector: "codespaces-last-used-description")) do %>
              <% if is_read_only? %>
                <span class="text-small color-fg-muted mr-1">•</span>
                <span <%= test_selector("codespaces-show-read-only-info") %>>
                  <%= no_permission_copy %>
                </span>
              <% elsif is_for_fork? %>
                <span class="text-small color-fg-muted mr-1">•</span>
                <span  <%= test_selector("codespaces-show-from-your-fork") %>>
                  <% if codespace.owner == codespace.repository.owner %>
                    From your fork <span class="text-bold"><%= codespace.repository.name_with_display_owner %></span>
                  <% else %>
                    From fork <span class="text-bold"><%= codespace.repository.name_with_display_owner %></span>
                  <% end %>
                </span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
