<export-branch data-exported-codespace-url="<%= exported_codespace_path(codespace) %>" data-export-error-redirect-url="<%= codespaces_path %>">
  <div <%= "hidden" unless export_status == :exportable %>>
    <%= form_for(codespace,
          url: export_codespace_path(codespace, fork: needs_fork),
          method: :post,
          namespace: "codespace_export_#{codespace.id}",
          html: {
            "data-target": "export-branch.form",
            "data-codespace-id": codespace.id,
          }.merge(test_selector_data_hash("codespaces-export-form"))) do %>
      <%= generate_branch_button %>
    <% end %>
  </div>
  <div <%= "hidden" unless export_status == :exporting %> data-target="export-branch.loadingIndicator">
    <%= loading_indicator %>
  </div>
  <div <%= "hidden" unless export_status == :exported %> data-target="export-branch.viewBranchLink">
    <%= view_branch_button %>
  </div>
</export-branch>
