<p class="<%= extra_classes %> d-inline text-small color-fg-muted" style="<%= add_style %>">
  <% if small_variant %>
    <% if codespace.commits_ahead == 0 && codespace.has_uncommitted_changes? %>
      Uncommitted changes
    <% elsif number_of_changes.to_i != 0 %>
      <%= pluralize(number_of_changes, "change") %>
    <% else %>
      <%= no_changes_el %>
    <% end %>
  <% else %>
    <%= display_commit_status %>
  <% end %>
</p>
