<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div id="default-idle-timeout-header" <%= test_selector("default-idle-timeout-setting") %> >
  <%= render Primer::Beta::Subhead.new(display: :flex, justify_content: :space_between) do |component| %>
    <% component.with_heading(tag: :h2) do %>Default idle timeout<% end %>
  <% end %>
  <p><%= description %> The maximum value is <strong <%= test_selector("upper-limit") %>><%= upper_limit %></strong> minutes (<%= upper_limit.minutes / 1.hour %> hours).</p>
  <retention-form>
  <%= form_tag @update_idle_timeout_path, method: :put, autocomplete: :off do %>
    <div class="form-group" data-target="retention-form.group">
      <input
        class="form-control"
        type="number"
        id="default-idle-timeout-minutes"
        aria-labelledby="default-idle-timeout-header"
        value="<%= value %>"
        name="codespace_default_idle_timeout"
        style="width: 125px; padding-right: 65px;"
        data-target="retention-form.input"
        data-action="
          input:retention-form#validate
          blur:retention-form#validate"
        data-min="<%= lower_limit %>"
        data-max="<%= upper_limit %>"
        data-allow-nil="true"
        placeholder="<%= Codespaces::VscsClient::AUTO_SHUTDOWN_MINUTES %>">
      <span style="line-height: 32px; margin-left: -70px; padding-right: 10px; vertical-align: middle">minutes</span>
      <%= render Primer::ButtonComponent.new(ml: 1, align_self: :start, type: :submit, "data-target": "retention-form.button", data: { disable_with: "Save"}) do %>Save<% end %>
      <p class="note error" data-target="retention-form.note">
        <span data-target="retention-form.maxMessage"><%= upper_limit_error %></span>
        <span data-target="retention-form.minMessage"><%= lower_limit_error %></span>
      </p>
    </div>
  <% end %>
  </retention-form>
</div>
