<div class="d-flex flex-lg-items-center">
  <div class="d-flex flex-1 flex-lg-items-center flex-lg-justify-between flex-column flex-lg-row">
    <div class="col-11 col-lg-6">
      <%# First column, first line contains avatar and repository nwo %>
      <div class="d-block d-lg-flex flex-lg-row">
        <div class="d-flex flex-items-center flex-wrap" style="z-index: 1;">
          <% if codespace.unpublished? %>
            <div class="mr-2 color-fg-muted">
              <%= render(Primer::Beta::Octicon.new(:"repo-template", size: :small)) %>
            </div>

            <p class="f6 mb-0 text-small color-fg-muted">
              Created from
              <a
                class="Link--inTextBlock f6 mb-0 text-small color-fg-muted"
                href="<%= codespace.template_repository.permalink(include_host: false) %>"
                data-repository-hovercards-enabled
                <%= safe_data_attributes(hovercard_data_attributes_for_repository(codespace.template_repository)) %>
              >
                <%= codespace.template_repository.name_with_display_owner %>
              </a>
            </p>
          <% else %>
            <div class="d-flex">
              <div class="mr-2">
                <%= render(Primer::Beta::Avatar.new(
                  href: user_path(repository_owner),
                  src: repository_owner.primary_avatar_url,
                  alt: repository_owner.display_login,
                  shape: repository_owner.is_a?(Organization) ? :square : :circle,
                  size: 16
                )) %>
              </div>

              <a
                class="f6 mb-0 text-small color-fg-muted"
                href="<%= codespace.repository.permalink(include_host: false) %>"
                data-repository-hovercards-enabled
                <%= safe_data_attributes(hovercard_data_attributes_for_repository(codespace.repository)) %>
              >
                <%= codespace.repository.name_with_display_owner %>
              </a>
            </div>
          <% end %>
        </div>
      </div>

      <%# Second line contains display name %>
      <div class="d-block d-lg-flex flex-lg-row">
        <div class="col d-flex flex-items-center flex-wrap">
          <% if codespace.keep? %>
            <%= render(Primer::Beta::Octicon.new(icon: "bookmark-fill", size: :xsmall, mr: 1)) %>
          <% end %>
          <% if usage_allowed && !codespace.blocking_operation? %>
            <% if GitHub.flipper[:codespace_loading_page].enabled?(codespace.owner) %>
              <%= link_to(
                codespace_url,
                class: "d-flex flex-items-center no-underline color-fg-default",
                target: "_blank",
                data: {
                  "test-selector" => "codespace-url",
                  "turbo" => false,
                  **click_tracking_attributes
                }
              ) do %>
                <span class="h5 pr-2"><%= formatted_codespace_display_name(codespace: codespace) %></span>
              <% end %>
            <% else %>
              <%= link_to(
                codespace_url,
                class: "d-flex flex-items-center no-underline color-fg-default",
                data: {
                  "test-selector" => "codespace-url",
                  "turbo" => false,
                  **click_tracking_attributes
                }
              ) do %>
                <span class="h5 pr-2"><%= formatted_codespace_display_name(codespace: codespace) %></span>
              <% end %>
            <% end %>
          <% else %>
            <span class="h5 pr-2"><%= formatted_codespace_display_name(codespace: codespace) %></span>
          <% end %>
        </div>
      </div>

      <%# Third line contains branch name, changes, and pull request if published %>
      <% if codespace.published? %>
        <div class="d-flex flex-items-center flex-wrap" style="white-space:nowrap;">
          <div style="max-width:75%">
            <% if usage_allowed && !codespace.blocking_operation? %>
              <%= link_to(codespace_url, class: "d-flex mr-1", data: {"test-selector" => "codespace-url", "turbo" => false}, style: "text-decoration:none;") do %>
                <%= render Codespaces::RefComponent.new(
                  codespace: codespace,
                  show_tooltip: true,
                  should_truncate: true,
                  show_branch_icon: false,
                  link_to_repo: false,
                  extra_classes: "user-select-contain") unless codespace.unpublished?
                %>
              <% end %>
            <% else %>
              <%= render Codespaces::RefComponent.new(
                codespace: codespace,
                should_truncate: true,
                show_tooltip: true,
                show_branch_icon: false,
                link_to_repo: false,
                disabled: true,
                extra_classes: "user-select-contain") unless codespace.unpublished?
              %>
            <% end %>
          </div>

          <div class="d-none d-xl-flex flex-items-center">
            <% if usage_allowed %>
              <%= render Codespaces::GitCommitDivergenceComponent.new(codespace: codespace, extra_classes: "f6 mb-0 mr-2") unless codespace.unpublished? %>
            <% end %>
          </div>

          <div class="d-none d-xl-flex flex-items-center">
            <% if with_database_error_fallback(fallback: nil) { codespace.pull_request }%>
              <div class="f6 mb-0 mr-2 text-bold color-fg-muted d-none d-md-block">
                •
              </div>

              <div <%= safe_data_attributes(hovercard_data_attributes_for_issue_or_pr(codespace.pull_request)) %>>
                <p class="f6 mb-0 mr-2 text-small">
                  <a href="<%= gh_show_pull_request_path(codespace.pull_request) %>" class="no-underline color-fg-muted">
                    <%= render(Primer::Beta::Octicon.new(:"git-pull-request")) %> #<%= codespace.pull_request.number %>
                  </a>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <%# Second column contains machine type, status, and context menu %>
    <div class="col-12 col-lg-6 mt-1 mt-lg-0">
      <div class="d-flex flex-items-center flex-justify-start flex-lg-justify-end flex-wrap" style="white-space:nowrap;">
        <p class="f6 mb-0 mr-2 text-small color-fg-muted d-md-block d-lg-none d-xl-block">
          <%= render Primer::Beta::Octicon.new(icon: "cpu", color: :muted) %> <%= sku&.display_specs %>
        </p>
        <p class="f6 mb-0 mr-2 text-small color-fg-muted d-none d-lg-block d-xl-none"> <%# Short version to prevent text overlap %>
          <%= render Primer::Beta::Octicon.new(icon: "cpu", color: :muted) %> <%= sku&.display_cpus %>
        </p>

        <div class="f6 mb-0 mr-2 text-bold color-fg-muted d-none d-md-block">
          •
        </div>
        <% if show_storage_utilization? %>
          <%= render(Primer::Beta::Octicon.new(
                display: [:none, nil, nil, :block],
                icon: :database,
                color: :muted,
                mr: 1,
                data: { test_selector: "codespaces-storage-utilization" })
            ) %>

          <p class="f6 mb-0 text-small color-fg-muted d-none d-lg-block"
              <%= test_selector "codespaces-storage-utilization-text" %>
            >
              <%= storage_utilization_display_text %>
          </p>

          <div class="f6 mb-0 mx-2 text-bold color-fg-muted d-none d-lg-block">
            •
          </div>
        <% end %>
        <% if codespace.blocking_operation? %>
          <p class="f6 mb-0 mr-2 text-small color-fg-muted">
            <%= codespace.blocking_operation_disabled_text %>
          </p>
        <% elsif needs_machine_type_change %>
          <%= render(Primer::Alpha::Dialog.new(
              title: "Machine type disallowed",
              id: "needs-machine-type-change-dialog",
              position: :center,
              size: :medium,
            )) do |component| %>
            <% component.with_show_button(scheme: :link, font_weight: :normal, font_size: :small, color: :muted) do |button| %>
              Machine type disallowed
            <% end %>
            <% component.with_body(mt: 2) do %>
              Machine type disallowed by organization settings. Please update the codespace's machine type or export your changes to a branch.
            <% end %>
          <% end %>
        <% elsif needs_base_image_change %>
          <%= render(Primer::Alpha::Dialog.new(
              title: "Dev container image disallowed",
              id: "needs-base-image-change-dialog",
              position: :center,
              size: :medium,
            )) do |component| %>
            <% component.with_show_button(scheme: :link, font_weight: :normal, font_size: :small, color: :muted) do |button| %>
              Dev container image disallowed
            <% end %>
            <% component.with_body(mt: 2) do %>
              The image used by this codespace's dev container is disallowed by organization settings. Please export your changes to a branch.
            <% end %>
          <% end %>
        <% elsif show_active_label? %>
          <%= render Primer::Beta::Octicon.new(icon: "dot-fill", color: :"success") %>
          <p class="f6 mb-0 mr-2 text-small color-fg-muted">
            Active
          </p>
        <% elsif show_failed_label? %>
          <%= render Primer::Beta::Octicon.new(icon: "dot-fill", color: :"danger") %>
          <p class="f6 mb-0 mr-2 text-small color-fg-muted">
            Failed
          </p>
        <% else %>
          <% if codespace.auto_deletion_soon? %>
            <p class="f6 mb-0 mr-2 text-small color-fg-muted">
              <%= render Codespaces::RetentionExpirationComponent.new(retention_expires_at: codespace.retention_expires_at) %>
            </p>
          <% else %>
            <p class="f6 mb-0 mr-2 text-small color-fg-muted">Last used <%= time_ago_in_words(codespace.last_used_at) %> ago</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render Codespaces::ActionDropdownComponent.new(
    codespace:,
    allow_codespace_interaction: show_editor_links,
    allow_change_machine_type: show_editor_links || needs_machine_type_change,
    needs_fork_to_push: needs_fork_to_push,
  ) %>
</div>
