<% if user_owns_codespaces? %>
  <% if !query.at_limit? %>
    <%= render Codespaces::CreateNoticeFlashErrorComponent.new(
      billable_owner: current_user,
      user: current_user,
      at_codespace_limit: query.at_limit?,
      user_codespace_limit: query.codespace_limit,
      show_billable_owner: false,
      system_arguments: { mb: 4 }
    ) %>
  <% end %>
  <div class="Box codespaces-list-box mb-4">
    <div class="Box-header">
      <h3 class="Box-title">
        Owned by <%= current_user.display_login %>
      </h3>
    </div>
    <%= render :partial => "codespaces/index_codespace_group", locals: {
      owner_login: current_user.display_login,
      all_codespaces_data: all_codespaces_for(current_user),
    } %>
  </div>
<% end %>

<% other_billable_owners.each do |owner| %>
  <% if !query.at_limit? %>
    <%= render Codespaces::CreateNoticeFlashErrorComponent.new(
      billable_owner: owner,
      user: current_user,
      at_codespace_limit: query.at_limit?,
      user_codespace_limit: query.codespace_limit,
      show_billable_owner: false,
      system_arguments: { mb: 4 }
    ) %>
  <% end %>
  <div class="Box codespaces-list-box mb-4">
    <div class="Box-header">
      <h3 class="Box-title">
        Owned by <%= owner.display_login %>
      </h3>
    </div>
    <%= render :partial => "codespaces/index_codespace_group", locals: {
      owner_login: owner.display_login,
      all_codespaces_data: all_codespaces_for(owner),
    } %>
  </div>
<% end %>
