<div class="<%= container_classes %>">

  <svg style="visibility: hidden; position: absolute;" aria-hidden='true'><defs><symbol id="spinner-vscs-icon"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.917 7A6.002 6.002 0 002.083 7H1.071a7.002 7.002 0 0113.858 0h-1.012z"/></symbol><symbol id="tick-vscs-icon"><path d="M7 14.492c1.27 0 2.448-.315 3.536-.944a6.918 6.918 0 002.512-2.512c.64-1.088.96-2.267.96-3.536 0-1.27-.32-2.448-.96-3.536a6.918 6.918 0 00-2.512-2.512A6.941 6.941 0 007 .508a6.737 6.737 0 00-3.536.944A6.918 6.918 0 00.952 3.964 6.941 6.941 0 00.008 7.5c0 1.27.315 2.448.944 3.536a6.918 6.918 0 002.512 2.512A6.942 6.942 0 007 14.492zm-1.024-4.128h-.704L3 8.092l.704-.704 1.92 1.92L9.832 5.1l.704.704-4.56 4.56z"/></symbol><symbol id="error-vscs-icon"><path d="M8.608.492a5.975 5.975 0 012.272.64 7.234 7.234 0 011.92 1.36c1.333 1.44 2 3.141 2 5.104 0 .79-.144 1.563-.432 2.32a7.778 7.778 0 01-1.168 2.08 6.957 6.957 0 01-1.776 1.536 6.697 6.697 0 01-2.224.864c-.821.16-1.61.181-2.368.064a6.384 6.384 0 01-2.224-.752 7.838 7.838 0 01-1.872-1.504 7.255 7.255 0 01-1.248-2.016 7.31 7.31 0 01-.512-2.352c-.032-.821.075-1.6.32-2.336.523-1.664 1.456-2.933 2.8-3.808a6.756 6.756 0 012.128-.96 7.785 7.785 0 012.384-.24zm.496 12.912a6.49 6.49 0 001.84-.752 5.916 5.916 0 001.552-1.36 6.371 6.371 0 00.944-1.776c.224-.672.31-1.344.256-2.016 0-.81-.15-1.595-.448-2.352A5.473 5.473 0 0012 3.196c-1.035-1.035-2.235-1.6-3.6-1.696a6.078 6.078 0 00-1.968.16 5.268 5.268 0 00-1.84.832c-1.141.832-1.904 1.936-2.288 3.312a5.663 5.663 0 00-.272 2 5.13 5.13 0 00.464 2c.608 1.301 1.51 2.299 2.704 2.992a5.383 5.383 0 001.904.688c.672.096 1.339.07 2-.08zm-1.2-6.4l2.4-2.512.704.704-2.4 2.496 2.4 2.512-.704.688-2.4-2.496-2.4 2.496-.704-.688 2.4-2.512-2.4-2.496.704-.704 2.4 2.512z"/></symbol></defs></svg>

  <div class="vso-splash-screen" data-hpc>
    <div class="container flex-items-center"><%# erblint:disable DeprecatedCustomCss %>
      <%= render(Primer::Beta::Octicon.new(:"mark-github", height: 96)) %>
      <div class="vscs-splash-screen-steps-pane js-codespace-loading-steps" data-current-state="<%= loading_state %>">
        <h4><%= header_text %></h4>
        <div class="initializing vso-splash-screen__step-header">
          <span class="vso-splash-screen__status vso-splash-screen__status-icon-progress">
            <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-label="Loading spinner">
              <use xlink:href="#spinner-vscs-icon"></use>
            </svg>
          </span>
          <span class="title">Initializing...</span>
        </div>
        <div class="vso-splash-screen__step-header failed">
          <span class="vso-splash-screen__status vso-splash-screen__status-icon-red">
            <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-label="Codespace boot error icon">
              <use xlink:href="#error-vscs-icon"></use>
            </svg>
          </span>
          <span class="title">Failed to start Codespace. Back to <% if repository.nil? %><a class="Link--inTextBlock" href="/">GitHub</a><% else %><a class="Link--inTextBlock" href="<%= repository_path(repository) %>"><%= repository.name_with_display_owner %></a><% end %></span>
        </div>
      </div>
    </div>
  </div>
</div>
