<div
  class="js-socket-channel js-updatable-content"
  data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.prebuild_configuration_workflow_run(configuration)) %>"
  data-url="<%= latest_run_status_codespaces_prebuild_configuration_path(repo_owner, current_repo, configuration) %>"
>
  <span class="mt-1 pr-2 color-fg-subtle text-small" <%= test_selector "codespaces-prebuild-configuration-status" %>>
    <%= workflow_run_status_for_display %>
  </span>
  <% if see_output_url %>
    <%= render(Primer::Beta::Link.new(href: see_output_url, classes: "btn")) { "See output" } %>
  <% end %>
</div>
