<label class="select-menu-item <%= "selected" if selected %> <%= "disabled opaque" if disabled %>" tabindex="0" role="menuitemradio">
  <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
  <div class="select-menu-item-text">
    <input type="radio" name="repo" value="<%= repository.id %>" <%= "checked" if selected %> <%= "disabled" if disabled %> data-autosubmit>
    <span class="select-menu-item-text text-normal" data-menu-button-contents><%= repository.name_with_display_owner %></span>
  </div>
</label>
