<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div id="default-retention-period-header" <%= test_selector("default-retention-period-setting") %> >
  <%= render Primer::Beta::Subhead.new(display: :flex, justify_content: :space_between) do |component| %>
    <% component.with_heading(tag: :h2) do %>Default retention period<% end %>
  <% end %>
  <p><%= description %> The default and maximum value is <strong <%= test_selector("upper-limit") %>><%= upper_limit %></strong> days.
  <%= link_to "Learn about retention setting", "https://aka.ms/ghcs-retention-setting", class: "Link--inTextBlock" %></p>
  <retention-form>
  <%= form_tag @update_retention_period_path, method: :put, autocomplete: :off do %>
    <div class="form-group" data-target="retention-form.group">
      <input
        class="form-control"
        type="number"
        id="default-retention-period-days"
        aria-labelledby="default-retention-period-header"
        value="<%= value_in_days %>"
        name="codespace_default_retention_period"
        style="width: 105px; padding-right: 45px;"
        data-target="retention-form.input"
        data-action="
          input:retention-form#validate
          blur:retention-form#validate"
        data-min="<%= lower_limit %>"
        data-max="<%= upper_limit %>"
        data-allow-nil="true"
        placeholder="<%= upper_limit %>">
      <span style="line-height: 32px; margin-left: -50px; padding-right: 11px; vertical-align: middle">days</span>
      <%= render Primer::ButtonComponent.new(ml: 1, align_self: :start, type: :submit, "data-target": "retention-form.button", data: { disable_with: "Save"}) do %>Save<% end %>
      <p class="note error" data-target="retention-form.note">
        <span data-target="retention-form.maxMessage"><%= upper_limit_error %></span>
        <span data-target="retention-form.minMessage"><%= lower_limit_error %></span>
      </p>
    </div>
  <% end %>
  </retention-form>
</div>
