<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if valid_payment_method_configured? %>
  <%= render(Primer::Beta::Flash.new(border_radius: 2, p: 3, mb: 4, position: :relative, scheme: :default)) do %>
    <%= render Primer::Beta::Heading.new(tag: :h4, mb: 2, text: :bold) do %>
      Set a spending limit to use Codespaces
    <% end %>
    <p>To use Codespaces within your organization you'll need to set a Codespaces spending limit in <%= link_to("Billing & plans", settings_org_billing_path(organization), class: "Link--inTextBlock") %>.</p>
    <%= render(Primer::Beta::Button.new(tag: :a, href: "https://docs.github.com/billing/managing-billing-for-github-codespaces/managing-spending-limits-for-codespaces")) { "Learn more" } %>
  <% end%>
<% else %>
  <%= render(Primer::Beta::Flash.new(border_radius: 3, p: 2, pl: 3, mb: 3, display: :flex, justify_content: :space_between, align_items: :center, scheme: :danger)) do %>
    <div>
      <%= render(Primer::Beta::Octicon.new(icon: "credit-card", size: :small, mr: 2)) %>
      <%= render(Primer::Beta::Text.new(tag: :span, font_weight: :light)) { "You must add a payment method in order to own the codespaces created in your organization." } %>
    </div>
    <%= render(Primer::Beta::Button.new(size: :medium, tag: :a, href: target_payment_method_path(organization))) { "Add a payment method" } %>
  <% end %>
<% end %>
