<codespace-share-dialog data-base-url-template="<%= url_text %>" data-badge-url="<%= badge_codespaces_url %>" <%= is_template_repository? ? "data-template-mode='1'" : nil %>>
  <%= render(Primer::Box.new(border: :bottom)) do %>
    <div class="m-3 d-flex flex-row flex-justify-between flex-items-center">
      <div class="d-flex flex-row flex-items-baseline">
        <%= check_box_tag :template, checked: true, class: "mr-2", data: { action: "change:codespace-share-dialog#toggleSkipTemplate"} %>
        <label class="d-flex flex-column" for="template">
          <span class="f5">Template mode</span>
          <span class="f6 text-normal">Codespaces created with this link will act as a template.  <%= link_to "Read more about codespace templates.", "https://docs.github.com/codespaces/developing-in-codespaces/creating-a-codespace-from-a-template", target: :_blank, class: "Link--inTextBlock" %></span>
        </label>
      </div>
    </div>
  <% end if is_template_repository? %>
  <%= render(Primer::Box.new(border: :bottom)) do %>
    <div class="m-3 d-flex flex-row flex-justify-between flex-items-center">
      <div class="d-flex flex-row flex-items-baseline">
        <%= check_box_tag :quickstart, checked: false, class: "mr-2", data: { action: "change:codespace-share-dialog#toggleQuickstart"} %>
        <label class="d-flex flex-column" for="quickstart">
          <span class="f5">Quick start</span>
          <span class="f6 text-normal">Automatically create or reuse the most recent matching codespace. <%= link_to "Read more about creating a link.", "https://docs.github.com/codespaces/setting-up-your-project-for-codespaces/setting-up-your-repository/facilitating-quick-creation-and-resumption-of-codespaces#creating-a-link-to-resume-a-codespace", target: :_blank, class: "Link--inTextBlock" %></span>
        </label>
      </div>
    </div>
  <% end %>
  <% if devcontainers.many? %>
    <%= render(Primer::Box.new(border: :bottom)) do %>
      <div class="m-3 d-flex flex-row flex-justify-between flex-items-center">
        <div class="d-flex flex-row flex-items-baseline">
          <%= check_box_tag :devcontainer, checked: false, class: "mr-2", data: { action: "change:codespace-share-dialog#toggleDevcontainer"} %>
          <label class="d-flex flex-column" for="devcontainer">
            <span class="f5">Configuration file</span>
            <span class="f6 text-normal">Select which devcontainer to use. If unselected the default configuration for your repository will be used. <%= link_to "Read more about configuring Codespaces.", "https://docs.github.com/codespaces/setting-up-your-project-for-codespaces/configuring-dev-containers", target: :_blank, class: "Link--inTextBlock" %></span>
          </label>
        </div>
        <div>
          <%= render Primer::Beta::Button.new(display: :flex, text_align: :left, font_weight: :normal, disabled: :true, data: { target: "codespace-share-dialog.devcontainerDisabledButton" }) do |component| %>
            <h6 data-target="codespace-share-dialog.devcontainerDisabledButtonText"><%= active_devcontainer&.display_name.presence || "Default project configuration" %></h6>
            <% component.with_trailing_action_icon(icon: :"triangle-down") %>
          <% end %>
          <details class="details-reset details-overlay position-relative" data-target="codespace-share-dialog.devcontainerPicker">
            <%= render Primer::Beta::Button.new(tag: :summary, display: :flex, align_items: :center, classes: "form-control") do |component| %>
              <div class="select-menu-item-text" data-menu-button style="max-width: 220px">
                <h6><%= active_devcontainer&.display_name.presence || "Default project configuration" %></h6>
              </div>
              <% component.with_trailing_action_icon(icon: :"triangle-down") %>
            <% end %>
            <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99; min-width: 220px;" role="menu" data-action="details-menu-selected:codespace-share-dialog#updateUrl"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="select-menu-list" id="devcontainer-path-menu-list">
                <% if devcontainers.none? { |dc| Codespaces::DevContainer.is_default_path?(dc.path) } %>
                  <%# Always allow folks to eject out of a non-standard devcontainer.json back to the kitchen sink if there are no default devcontainers in the repo?? %>
                  <label class="select-menu-item" aria-checked="<%= active_devcontainer.blank? %>" tabindex="0" role="menuitemradio">
                    <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                    <div class="select-menu-item-text">
                      <input type="radio" name="devcontainer_path" value="" <% if active_devcontainer.blank? %>checked<% end %> hidden data-targets="codespace-share-dialog.devcontainers" data-display-name="Default project configuration">
                      <div data-menu-button-contents>
                        <h6>Default project configuration</h6>
                      </div>
                    </div>
                  </label>
                <% end %>
                <% devcontainers.each do |devcontainer| %>
                  <label class="select-menu-item" aria-checked="<%= active_devcontainer&.path == devcontainer.path %>" tabindex="0" role="menuitemradio">
                    <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                    <div class="select-menu-item-text">
                      <input type="radio" name="devcontainer_path" value="<%= devcontainer.path %>" <% if active_devcontainer&.path == devcontainer.path %>checked<% end %> hidden data-targets="codespace-share-dialog.devcontainers" data-display-name="<%= devcontainer.display_name%>">
                      <div data-menu-button-contents>
                        <h6><%= devcontainer.display_name %></h6>
                      </div>
                    </div>
                  </label>
                <% end %>
              </div>
            </details-menu>
          </details>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render(Primer::Box.new(m: 3)) do %>
    <%= render Primer::Beta::Text.new(tag: :div, font_weight: :bold).with_content("Snippets") %>
    <%= render Primer::Beta::Text.new(tag: :div, color: :muted, font_size: :small).with_content("Use the following snippets to embed an “Open in Codespaces” button for this configuration in your own page or README.") %>

    <%= render(Primer::Box.new) do %>
      <%= render(Primer::Alpha::UnderlinePanels.new(label: "With panels")) do |component| %>
        <% component.with_tab(id: "tab-url", selected: true, position: :relative) do |tab| %>
          <% tab.with_text { "URL" } %>
          <% tab.with_panel do %>
            <div class="position-relative">
              <input type="text" readonly value="" data-target="codespace-share-dialog.urlTextInput" class="FormControl-input FormControl-medium pr-6 FormControl-input FormControl-medium">
              <%= render(Primer::Beta::ClipboardCopy.new(
                value: "",
                "aria-label": "Copy text to the system clipboard",
                position: :absolute,
                mr: 2,
                mb: 1,
                right: 0,
                bottom: 0,
                data: {
                  target: "codespace-share-dialog.urlClipboardButton"
                }.merge(url_click_tracking_attributes)
              )) %>
            </div>
          <% end %>
        <% end %>
        <% component.with_tab(id: "tab-html", position: :relative) do |tab| %>
          <% tab.with_text { "HTML" } %>
          <% tab.with_panel do %>
            <div class="position-relative">
              <%= render(Primer::Beta::BorderBox.new(mb: 2)) do |component| %>
                <%= component.with_body do %>
                  <%= image_tag badge_codespaces_url, alt: "Open in codespaces badge" %>
                <% end %>
              <% end %>

              <input type="text" readonly value="" data-target="codespace-share-dialog.htmlTextInput" class="FormControl-input FormControl-medium pr-6 FormControl-input FormControl-medium">
              <%= render(Primer::Beta::ClipboardCopy.new(
                value: "",
                "aria-label": "Copy text to the system clipboard",
                position: :absolute,
                mr: 2,
                mb: 1,
                right: 0,
                bottom: 0,
                data: {
                  target: "codespace-share-dialog.htmlClipboardButton"
                }.merge(html_click_tracking_attributes)
              )) %>
            </div>
          <% end %>
        <% end %>
        <% component.with_tab(id: "tab-markdown") do |tab| %>
          <% tab.with_text { "Markdown" } %>
          <% tab.with_panel do %>
            <div class="position-relative">
              <%= render(Primer::Beta::BorderBox.new(mb: 2)) do |component| %>
                <%= component.with_body do %>
                  <%= image_tag badge_codespaces_url, alt: "Open in codespaces badge" %>
                <% end %>
              <% end %>

              <input type="text" readonly value="" data-target="codespace-share-dialog.markdownTextInput" class="FormControl-input FormControl-medium pr-6 FormControl-input FormControl-medium">
              <%= render(Primer::Beta::ClipboardCopy.new(
                value: "",
                "aria-label": "Copy text to the system clipboard",
                position: :absolute,
                mr: 2,
                mb: 1,
                right: 0,
                bottom: 0,
                data: {
                  target: "codespace-share-dialog.markdownClipboardButton"
                }.merge(markdown_click_tracking_attributes)
              )) %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</codespace-share-dialog>
