<!-- Will render Codespaces::WorkbenchFormComponent either immediately or after the provision path polling responds successfully -->
<% if codespace.provisioned? %>
  <% if editor == Codespaces::Settings::PREFERRED_EDITOR_VSCODE && GitHub.flipper[:codespace_loading_page].enabled?(current_user) %>
    <editor-forwarder data-codespace-url="<%= codespace.vscode_url %>">
      <div class="blankslate">
        <h3 class="blankslate-heading">Launching Visual Studio Code</h3>
        <p>You should have received a prompt to open Visual Studio Code. If not, ensure it is <a class="Link--inTextBlock" href="https://code.visualstudio.com/download">installed</a>.</p>
      </div>
    </editor-forwarder>
  <% elsif editor == Codespaces::Settings::PREFERRED_EDITOR_JETBRAINS && GitHub.flipper[:codespace_loading_page].enabled?(current_user) %>
    <editor-forwarder data-codespace-url="<%= codespace.jetbrains_url %>">
      <div class="blankslate">
        <h3 class="blankslate-heading">Launching JetBrains Gateway</h3>
        <p>You should have received a prompt to open the JetBrains Gateway. If not, ensure it is <a class="Link--inTextBlock" href="https://www.jetbrains.com/remote-development/gateway/">installed</a>.</p>
      </div>
    </editor-forwarder>
  <% else %>
    <%= render Codespaces::WorkbenchFormComponent.new \
      codespace:,
      connection:,
      github_token:,
      github_token_valid_after:,
      user:,
      user_settings:,
      cascade_token:,
      editor:
    %>
  <% end %>
<% elsif codespace.provisioning? || codespace.pending? %>
  <%= render Codespaces::LoadingComponent.new(codespace: codespace, repository: repository) %>
  <poll-include-fragment src="<%= provisioned_codespace_path(codespace) %>"></poll-include-fragment>
<% end %>
