<ul class="dropdown-menu dropdown-menu-sw" style="width: fit-content;">
  <li class="d-block d-md-none dropdown-divider" role="none"></li>
  <li>
    <%= link_to "Create a new repository",
      clone_url,
      class: "dropdown-item"
    %>
  </li>
  <li>
    <%= form_with url: codespaces_path, method: :post, html: { target: "_blank" } do |f| %>
      <%= form_content %>
      <%= f.hidden_field "codespace[template_repository_id]", value: template.repository.id %>
      <%= f.hidden_field "codespace[repository_id]", value: template.repository.id %>
      <%= f.hidden_field "codespace[ref]", value: template.repository.default_branch %>
      <%= f.button class: "dropdown-item btn-link", data: { **click_tracking_attributes } do %>
        Open in a codespace
      <% end%>
    <% end %>
  </li>
</ul>

