<div class="Box d-flex p-3 width-full flex-column color-bg-transparent">
  <div class="mb-3 d-flex flex-justify-between flex-items-center">
  <div>
    <h5>
      <a class="color-fg-default" href="<%= template.repository.permalink %>"
          data-repository-hovercards-enabled <%= safe_data_attributes(hovercard_data_attributes_for_repository(template.repository)) %>
      >
        <%= template.name %>
      </a>
    </h5>
    <% if template.author && template.verified? %>
      <div class="d-flex flex-items-center mt-1 color-fg-subtle" style="gap: 4px">
        <div class="f6">By <%= template.author %></div> <%= render Primer::Beta::Octicon.new(icon: "verified", size: :xsmall) %>
      </div>
    <% end %>
    </div>
    <% if template.icon_path.present? %>
      <div class="CircleBadge CircleBadge--small" style="background-color: var(--bgColor-white, var(--color-scale-white));">
        <%= image_tag TreeEntryRenderHelper.raw_blob_url(current_user, template.repository, template.default_branch, template.icon_path), class: "CircleBadge-icon", alt: template.name %>
      </div>
    <% elsif template.icon.present? %>
      <div class="CircleBadge CircleBadge--small" style="background-color: var(--bgColor-white, var(--color-scale-white)); color: var(--fgColor-black, var(--color-scale-black));">
        <%= render(Primer::Beta::Octicon.new(template[:icon], size: :medium, classes: "CircleBadge--icon")) %>
      </div>
    <% else %>
      <%= profile_link(template.repository.owner, class: "CircleBadge CircleBadge--small", style: "background-color: var(--bgColor-white, var(--color-scale-white));") do %>
        <%= avatar_for(template.repository.owner, 30, class: "CircleBadge-icon avatar") %>
      <% end %>
    <% end %>
  </div>

  <% if template.description %>
    <p class="flex-1 mb-3 color-fg-subtle"><%= template.description %></p>
  <% end %>
  <div class="d-flex flex-items-center">
    <% if creations_should_be_disabled? %>
      <%= render Primer::Beta::Button.new(disabled: true) do %>
        Use this template
      <% end %>
      <p class="color-fg-subtle float-left ml-2 mb-0"><%= disabled_button_reason %></p>
    <% else %>
      <%= form_with url: codespaces_path, method: :post, html: { target: "_blank" } do |f| %>
        <%= form_content %>
        <%= f.hidden_field "codespace[template_repository_id]", value: template.repository.id %>
        <%= f.hidden_field "codespace[repository_id]", value: template.repository.id %>
        <%= f.hidden_field "codespace[ref]", value: template.default_branch %>
        <%= f.hidden_field "codespace[devcontainer_path]", value: params[:devcontainer_path] %>
        <%= f.button class: "btn", data: { **click_tracking_attributes } do %>
          Use this template
        <% end%>
      <% end %>
    <% end %>
  </div>
</div>
