<div class="js-workbench-form-container" data-hpc>
  <%= form_tag service_url, method: :post do %>
    <% if fetch_cascade_token? %>
      <%
        "The cascade token value is fetched async by the form tag below when not available at render +
        javascript observers for both cascade token and partner info"
      %>
      <%= hidden_field_tag "cascadeToken", @cascade_token, class: "js-cascade-token" %>
    <% end %>
    <%= hidden_field_tag "partnerInfo", partner_info, class: "js-partner-info" %>
  <% end %>
</div>

<% if !@cascade_token && fetch_cascade_token? %>
  <%= render Codespaces::LoadingComponent.new(codespace: codespace, repository: codespace.repository) unless already_loading %>
  <%= form_tag mint_cascade_token_codespaces_path(codespace), method: :post, class: "js-fetch-cascade-token" %>
<% end %>
