<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Bulk DMCA Takedown</h3>
    <div class="boxed-group-inner">
      <%= form_with(model: notice,
                    url: stafftools_new_stafftools_bulk_dmca_takedown_path,
                    method: "post") do |f| %>
        <% if notice.errors[:notice_text] %>
          <% notice_error = error_for notice, :notice_text %>
        <% end %>
        <dl class="form-group <% if notice_error %> errored <% end %>">
          <dt><%= f.label(:notice_text, "Takedown Notice Text (limited to #{Stafftools::BulkDmcaTakedown::MAX_REPOS} repositories)", for: "notice_text") %></dt>
          <dd><%= f.text_area(:notice_text, { "id" => "notice_text", "aria-describedby" => "form-error-notice-text" } ) %></dd>
          <dd class="error" id="form-error-notice-text">
            <%= notice_error %>
          </dd>
        </dl>
        <% if notice.errors[:public_url] %>
          <% url_error = error_for notice, :public_url %>
        <% end %>
        <dl class="form-group <% if url_error %> errored <% end %>">
          <dt><%= f.label(:public_url, "Takedown URL", for: "public_url") %></dt>
          <dd><%= f.text_field(:public_url, { "id" => "public_url", "aria-describedby" => "form-error-notice-public-url" } ) %></dd>
          <dd class="error" id="form-error-notice-public-url">
            <%= url_error %>
          </dd>
        </dl>
        <div class="form-actions">
          <%= f.submit("Extract Repos from Notice", class: 'btn btn-primary') %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
