<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Validate Found Repos for Bulk DMCA Takedown</h3>
    <div class="boxed-group-inner">

      <%= form_with(model: bulk_dmca_takedown, url: stafftools_bulk_dmca_takedown_start_job_path(bulk_dmca_takedown) , method: "post") do |f| %>
        <% if bulk_dmca_takedown.errors[:notice_public_url] %>
          <% url_error = error_for bulk_dmca_takedown, :notice_public_url %>
        <% end %>

        <dl class="form-group <% if url_error %> errored <% end %>">
          <dt><label for="notice_public_url">Takedown Notice Public URL</label></dt>
          <dd><%= f.text_field(:notice_public_url, class: "form-control", id: "notice_public_url") %></dd>
          <dd class="error" id="form-error-notice-public-url">
            <%= url_error %>
          </dd>
        </dl>

        <h5>Found Repos:</h5>
        <%= f.collection_check_boxes :repository_ids, f.object.repositories, :id, :name do |b| %>
          <div class="form-checkbox">
            <label>
              <%= b.check_box checked: !b.object.access.disabled?, disabled: b.object.access.disabled? %>
              <%= b.object.name_with_owner %> <% if b.object.access.disabled? %>(currently disabled)<% end %>
              <% if b.object.forks.any? %>
                <span class="color-fg-severe" id="fork-notice-<%= b.object.id %>">[<%= pluralize(b.object.forks.size, "fork") %>]</span>
              <% end %>
            </label>
          </div>
        <% end %>

        <div class="form-actions">
          <%= submit_tag("Take Down Repos", class: 'btn btn-primary') %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
