<%# erblint:counter DeprecatedComponentsCounter 6 %>
<% if workflow.disabled? %>
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render Primer::Alpha::Banner.new(icon: :alert, scheme: :warning, display: :flex, mb: 4, test_selector: "disabled_workflow_banner") do |component| %>
      <% if workflow.state == "disabled_fork" %>
        This scheduled workflow is disabled because scheduled workflows are disabled by default in forks.
      <% elsif workflow.state == "disabled_inactivity" %>
        This scheduled workflow is disabled because there hasn't been activity in this repository for at least <%= Actions::Workflow::REPOSITORY_INACTIVITY_THRESHOLD %> days.
        Enable this workflow to resume scheduled runs.
      <% elsif workflow.state == "disabled_manually" %>
        This workflow was disabled manually.
      <% end %>
      <% if current_repository.writable_by?(current_user) %>
        <% component.with_action_content do %>
          <%= form_tag enable_workflow_path(workflow_id: workflow.id), method: :post do %>
            <%= render Primer::ButtonComponent.new(type: :submit, variant: :small) do %>Enable workflow<% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Flash.new(scheme: :warning, display: :flex, mb: 4, test_selector: "disabled_workflow_banner") do |component| %>
      <%= primer_octicon(:alert, mr: 2, mt: 1) %>
      <div class="flex-1">
        <% if workflow.state == "disabled_fork" %>
          This scheduled workflow is disabled because scheduled workflows are disabled by default in forks.
        <% elsif workflow.state == "disabled_inactivity" %>
          This scheduled workflow is disabled because there hasn't been activity in this repository for at least <%= Actions::Workflow::REPOSITORY_INACTIVITY_THRESHOLD %> days.
          Enable this workflow to resume scheduled runs.
        <% elsif workflow.state == "disabled_manually" %>
          This workflow was disabled manually.
        <% end %>
      </div>
      <% if current_repository.writable_by?(current_user) %>
        <% component.with_action do %>
          <%= form_tag enable_workflow_path(workflow_id: workflow.id), method: :post do %>
            <%= render Primer::ButtonComponent.new(type: :submit, variant: :small) do %>Enable workflow<% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% elsif workflow.churning? %>
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render Primer::Alpha::Banner.new(icon: :alert, scheme: :warning, display: :flex, mb: 4, test_selector: "disabled_workflow_banner") do |component| %>
      This workflow will be disabled soon because there's no recent activity in the repository.
      <% if current_repository.writable_by?(current_user) %>
        <% component.with_action_content do %>
          <%= form_tag enable_workflow_path(workflow_id: workflow.id), method: :post do %>
            <%= render Primer::ButtonComponent.new(type: :submit, variant: :small) do %>Continue running workflow<% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Flash.new(scheme: :warning, display: :flex, mb: 4, test_selector: "disabled_workflow_banner") do |component| %>
      <%= primer_octicon(:alert, mr: 2, mt: 1) %>
      <div class="flex-1">
        This workflow will be disabled soon because there's no recent activity in the repository.
      </div>
      <% if current_repository.writable_by?(current_user) %>
        <% component.with_action do %>
          <%= form_tag enable_workflow_path(workflow_id: workflow.id), method: :post do %>
            <%= render Primer::ButtonComponent.new(type: :submit, variant: :small) do %>Continue running workflow<% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
