<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<actions-workflow-filter>
  <%
    form_submit_path = selected_workflow ?
        workflow_runs_list_path(workflow_file_name: selected_workflow.filename, repository: current_repository, user_id: current_repository.owner) :
        actions_path(current_repository.owner, current_repository)
  %>
  <%= form_tag form_submit_path,
    method: :get,
    class: "ml-0 subnav-search flex-auto js-navigation-container js-active-navigation-container",
    role: "search",
    enforce_utf8: false,
    data: {
      pjax: "#repo-content-pjax-container",
      "turbo-frame": "repo-content-turbo-frame",
      target: "actions-workflow-filter.searchForm",
      action: "
        navigation:open:actions-workflow-filter#handleSelectedSuggestionResultEvent
        navigation:keydown:actions-workflow-filter#handleFormKeydownEvent
      "
    } do
  %>
    <% if selected_workflow&.lab? %>
      <input type="hidden" name="lab" value="true">
    <% end %>
    <input
      role="combobox"
      aria-owns="workflow-runs-filter-results"
      type="search"
      autocomplete="off"
      aria-expanded="false"
      spellcheck="false"
      name="query"
      class="form-control subnav-search-input width-full f5 pr-5 flex-auto js-navigation-enable actions-tab-filter-input"
      value="<%= actions_filtered_query(filters: workflow_run_filters) %>"
      aria-label="Filter workflow runs"
      placeholder="Filter workflow runs"
      data-hotkey="<%= is_mobile == true ? "" : local_search_hotkey %>"<%# erblint:disable DataHotkey %>
      data-target="actions-workflow-filter.searchInput"
      data-use-workflow-qualifier="<%= selected_workflow ? false : true %>"
      data-action="
        input:actions-workflow-filter#updateFilterSuggestionResults
        focusin:actions-workflow-filter#updateFilterSuggestionResults
        focusout:delay:actions-workflow-filter#handleSearchBlur
        keydown:actions-workflow-filter#inputKey
      "
      data-initial-value="<%= actions_filtered_query(filters: workflow_run_filters) %>"
      data-default-value=""
      data-suggested-branches-path="<%= refs_ref_list_path(repository: current_repository.name, user_id: current_repository.owner_display_login, type: "branch") %>"
      data-suggested-actors-path="<%= actions_actors_menu_path(current_repository.owner, current_repository) %>"
      data-suggested-events-path="<%= actions_events_menu_path(current_repository.owner, current_repository) %>"
      data-suggested-statuses-path="<%= actions_statuses_menu_path(current_repository.owner, current_repository) %>"
      data-suggested-workflows-path="<%= actions_workflows_menu_path(current_repository.owner, current_repository) %>">
    <%= primer_octicon(:search, classes: "subnav-search-icon") %>
    <button
      type="button"
      class="position-absolute top-0 right-0 mt-2 mr-1 rounded-2 d-block text-center btn-link Link--muted"
      data-target="actions-workflow-filter.clearButton"
      data-action="click:actions-workflow-filter#clear"
      aria-label="Clear filters"
      <%= "hidden" unless !workflow_run_filters.empty? %>>
      <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
    </button>

    <div
      class="card-filter-autocomplete-dropdown color-shadow-medium width-full border rounded-2 mt-1 position-absolute overflow-auto color-bg-default hide-sm"
      data-target="actions-workflow-filter.autocompleteDropdown"
      hidden
    >
      <div class="px-2 pb-1">
        <div
          id="workflow-runs-filter-results"
          data-target="actions-workflow-filter.autocompleteResults"
        ></div>
      </div>
      <div
        class="border-top f6 color-fg-muted color-bg-attention text-normal p-2"
        data-target="actions-workflow-filter.filterKeywordWarningContainer"
        hidden
      >
        <span
          class="color-fg-default text-bold"
          data-target="actions-workflow-filter.filterKeywordWarningMessage"
        >
        </span>
        will be ignored since log searching is not yet available
      </div>
    </div>
  <% end %>
</actions-workflow-filter>
