<ul class="list-style-none">
  <li>
    <% if view.show_owner_templates? %>
      <% if view.filter_options.category_slug == "owner" %>
        <a href="<%=view.prefilled_filter_path(category: "none")%>" class="d-flex flex-justify-between flex-items-center filter-item py-1 px-1 mb-0 selected">
          By <%= current_repository.owner.safe_profile_name %>
          <%= primer_octicon(:x) %>
        </a>
      <% else %>
        <a href="<%=view.prefilled_filter_path(category: "owner")%>" class="d-flex flex-justify-between flex-items-center filter-item py-1 px-1 mb-0">
          By <%= current_repository.owner.safe_profile_name %>
        </a>
      <% end %>
    <% end %>
  </li>
  <% Actions::StarterWorkflowsView::NAVIGATION_CATEGORIES.each do |slug, category| %>
    <% if view.show_navigation_category?(slug) %>
      <li>
        <% if slug == view.filter_options.category_slug %>
          <a href="<%=view.prefilled_filter_path(category: "none")%>" class="d-flex flex-justify-between flex-items-center filter-item py-1 px-1 mb-0 selected">
            <%= category %>
            <%= primer_octicon(:x) %>
          </a>
        <% else %>
          <a href="<%=view.prefilled_filter_path(category: slug)%>" class="d-flex flex-justify-between flex-items-center filter-item py-1 px-1 mb-0">
            <%= category %>
          </a>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
