<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  workflow_runs = local_assigns[:workflow_runs]
  user_has_push_access = current_repository.writable_by?(current_user)
  data_url =  workflow_runs_partial_path(workflow_file_name: selected_workflow&.filename, lab: selected_workflow&.lab?, query: params[:query], page: current_page)
  user_is_site_admin = current_user && current_user.site_admin?
%>

<div class="js-socket-channel js-updatable-content" id="<%= "partial-actions-workflow-runs" %>"
  data-channel="<%= live_update_view_channel(current_repository.workflow_runs_channel) %>"
  data-url="<%= data_url %>">

  <% if workflow_runs.present? %>
    <%= render Actions::WorkflowRunItemComponent.with_collection(
      workflow_runs,
      user_has_push_access: user_has_push_access,
      current_repository: current_repository,
      user_is_site_admin: user_is_site_admin,
    ) %>
  <% else %>
    <%
      title =
        if params[:query].present?
          show_search_suggestion = true
          'No results matched your search.'
        elsif params[:workflow_file_name] && !selected_workflow
          'This workflow does not exist.'
        elsif selected_workflow
          'This workflow has no runs yet.'
        else
          'There are no workflow runs yet.'
        end
    %>
    <%= render Primer::BlankslateComponent.new(
      image_src: "modules/site/features/actions-icon-actions.svg",
      image_alt: "GitHub Actions",
      title: title,
      large: true,
      spacious: true,
    ) do %>
      <% if show_search_suggestion %>
        <p <%= test_selector("search-all-suggestion")%>>
          You could search <a class="Link--inTextBlock" href="<%= actions_path %>">all workflow runs</a> or try different filters.
        </p>
      <% end %>
    <% end %>
  <% end %>

</div>
