<%# view object is Actions::StarterWorkflowsView %>
<%
  instrument_actions_onboarding_filter_page_view
  workflows_exist = workflows.any?
  setup_workflow_event = "actions.onboarding_setup_workflow_click"
  templates = view.filtered_templates_new(view.filter_options)
  category_slug = view.filter_options.category_slug
  view_section = view.get_view_section(category_slug)
  search_query = view.filter_options.search_query
%>
<% page_info \
  title: "Workflow templates · #{current_repository.name_with_display_owner}",
  container_xl: true,
  selected_link: :repo_actions,
  skip_pjax_container: true,
  dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <div class="d-flex flex-column width-full">
    <%= render_actions_billing_warning_if_required(owner: current_repository.owner, current_user: current_user) %>
    <div class="d-flex flex-column flex-lg-row width-full <% if !workflows_exist %>px-lg-5 px-xl-6<% end %>">
      <div class="flex-auto col-12 col-lg-8">
        <div class="flex-auto">
          <%= render partial: "repository_actions/actions_get_started", locals:
            {
              :starter_workflow_repo_exists => view.starter_workflow_repo_exists?,
              :enterprise_admin_action_help_url => view.enterprise_admin_action_help_url,
              :workflows_exist => workflows_exist,
              :setup_workflow_event => setup_workflow_event
            }
          %>
          <%= render partial: "actions/side_nav", locals: { view: view } %>

          <div class="d-lg-block col-lg-9 float-lg-right">
            <div class="col-12 col-md-4 d-flex flex-column my-3 pr-2">
              <%= form_tag actions_onboarding_filter_path, method: :get, class: "ml-0 flex-auto", role: "search", "aria-label": "Workflows" do %>
                <div class="auto-search-group width-full" style="max-width: 544px; min-width: 75px">
                  <%= hidden_field_tag :category, category_slug %>
                  <%= text_field_tag :query,
                    search_query,
                    autofocus: true,
                    class: "form-control pl-5 width-full #{search_query.present? ? 'pr-5' : ''}",
                    placeholder: "Search workflows",
                    "aria-label": "Search workflows",
                    "data-hotkey": local_search_hotkey,
                    "data-test-selector": "workflow-search-input"
                  %>
                  <%= render(Primer::Beta::Octicon.new(icon: "search", color: :muted, style: "top: 8px")) %>
                  <% if search_query.present? %>
                    <%= link_to view.prefilled_filter_path(query: nil), class: "workflows-reset-query Link--secondary text-bold no-underline position-absolute", "aria-label":  "Clear current search query and filters" do %>
                      <%= render(Primer::Beta::Octicon.new(icon: "x-circle-fill", text_align: :center, classes: "workflows-reset-query-icon")) %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <actions-announceable-search-result-summary>
              <h2 class="my-2 py-2 f4 text-normal">
                <span data-target="actions-announceable-search-result-summary.searchResult">Found <%=pluralize(templates.size, "workflow") %></span>
              </h2>
            </actions-announceable-search-result-summary>
            <div class="text-left pb-4" data-hpc>
              <div class="d-flex flex-items-stretch ml-n2 mr-n2 mb-2 flex-wrap" <%= test_selector("workflow-filtered-templates") %>>
                <%= render partial: "repository_actions/workflow_template", collection: templates,
                locals: { view_section: view_section, new_with_filter_view: true, category: category_slug, search_query: search_query, code_scanning_enabled: view.code_scanning_enabled? } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
