<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  instrument_actions_page_view
%>

<% page_info \
    title: "Actions · #{current_repository.name_with_display_owner}",
    selected_link: :repo_actions,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <%= render Primer::Experimental::PageLayout.new do |c| %>
    <% c.with_content_region(width: :md) do %>
      <%= render_actions_billing_warning_if_required(owner: current_repository.owner, current_user: current_user) %>

      <% if current_repository.fork? %>
        <%= render Primer::BlankslateComponent.new(
          image_src: "modules/site/features/actions-icon-actions.svg",
          image_alt: "GitHub Actions",
          title: "Workflows aren’t being run on this forked repository",
          description: "Because this repository contained workflow files when it was forked, we have disabled them from running on this fork. Make sure you understand the configured workflows and their expected usage before enabling Actions on this repository.",
          spacious: true,
        ) do %>
          <%= button_to "I understand my workflows, go ahead and enable them",
            actions_enable_path(current_repository.owner, current_repository),
            method: "post",
            class: "btn btn-primary my-3"
          %>

          <p><a href="<%= blob_path(".github/workflows/", current_repository.default_branch) %>">View the workflows directory</a></p>
        <% end %>
      <% else %>
        <%= render Primer::BlankslateComponent.new(
          image_src: "modules/site/features/actions-icon-actions.svg",
          image_alt: "GitHub Actions",
          title: "Workflows aren’t being run on this repository",
          description: "GitHub Actions is not currently enabled on this repository.",
          spacious: true,
        ) do %>
          <%= button_to "Enable Actions on this repository",
            actions_enable_path(current_repository.owner, current_repository),
            method: "post",
            class: "btn btn-primary my-3"
          %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
