<%# view object is Actions::StarterWorkflowsView %>
<%
  instrument_actions_onboarding_page_view
  workflows_exist = workflows.any?
  setup_workflow_event = "actions.onboarding_setup_workflow_click"
%>

<% page_info \
  title: "Create new workflow · #{current_repository.name_with_display_owner}",
  container_xl: true,
  selected_link: :repo_actions,
  skip_pjax_container: true,
  dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<% starter_workflow_repo_exists = view.starter_workflow_repo_exists? %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4 d-flex flex-column">
    <%= render_actions_billing_warning_if_required(owner: current_repository.owner, current_user: current_user) %>
    <div class="d-flex flex-column flex-lg-row width-full <% if !workflows_exist %>px-lg-5 px-xl-6<% end %>">
      <div class="flex-auto col-12 col-lg-8">
        <div class="flex-auto" data-hpc>
          <%= render partial: "repository_actions/actions_get_started", locals:
            {
              :workflows_exist => workflows_exist,
              :setup_workflow_event => setup_workflow_event,
              :starter_workflow_repo_exists => starter_workflow_repo_exists,
              :enterprise_admin_action_help_url => view.enterprise_admin_action_help_url
            }
          %>
          <% if starter_workflow_repo_exists  %>
            <div class="d-flex flex-items-stretch ml-n2 mr-n2 mb-0 mb-md-2 flex-wrap">
              <div class="col-12 col-md-4 d-flex flex-column px-2">
                <%= form_tag actions_onboarding_filter_path, method: "get", class: "position-relative mb-3 mb-md-0" do %>
                  <%= primer_octicon(:search, color: :default, position: :absolute, mt: 2, ml: 3) %>
                  <input type="hidden" name="category" value="none">
                  <input
                    type="text"
                    name="query"
                    class="form-control input-block"
                    style="padding-left: 40px; padding-top: 5px; padding-bottom: 5px;"
                    placeholder="Search workflows"
                    aria-label="Search workflows"
                    value="">
                <% end %>
              </div>
            </div>

            <% if view.show_suggested_templates? %>
              <div class="d-flex flex-column flex-md-row flex-justify-between">
                <h2 class="f3 mt-0 mb-3 mt-md-3 lh-condensed">
                  Suggested for this repository
                </h2>
              </div>
              <div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap" <%= test_selector("workflow-featured-templates") %>>
                <%= render partial: "repository_actions/workflow_template_large", collection: view.suggested_templates, locals: { view_section: "suggested_templates" } %>
              </div>
            <% end %>

            <% if view.show_owner_suggested_templates? %>
              <div class="d-flex flex-justify-between">
                <h2 class="f3 my-3 lh-condensed">By <%= current_repository.owner.safe_profile_name %></h2>
                <% if view.owner_templates.length > Actions::StarterWorkflowsView::MAX_NUM_OF_TEMPLATES %>
                  <a href="<%= actions_onboarding_filter_path %>?<%= { category: "owner" }.to_param %>">
                    <div class="my-3">View all</div>
                  </a>
                <% end %>
              </div>
              <div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap" <%= test_selector("workflow-owner-templates") %>>
                <%= render partial: "repository_actions/workflow_template", collection: view.owner_suggested_templates.first(Actions::StarterWorkflowsView::MAX_NUM_OF_TEMPLATES), locals: { view_section: "owner_templates" } %>
              </div>
            <% end %>
            <% if view.show_partner_templates? %>
              <% unless GitHub.enterprise? %>
                <div class="d-flex flex-justify-between">
                  <h2 class="f3 my-3 lh-condensed">Deployment</h2>
                  <% if view.partner_templates.length > Actions::StarterWorkflowsView::MAX_NUM_OF_TEMPLATES_DEPLOYMENT %>
                    <a href="<%= actions_onboarding_filter_path %>?<%= { category: "deployment" }.to_param %>">
                      <div class="my-3">View all</div>
                    </a>
                  <% end %>
                </div>
                <div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap" <%= test_selector("workflow-partner-templates") %>>
                  <%= render partial: "repository_actions/workflow_template", collection: view.partner_templates.first(Actions::StarterWorkflowsView::MAX_NUM_OF_TEMPLATES_DEPLOYMENT), locals: { view_section: view.get_view_section("deployment") } %>
                </div>
              <% end %>
            <% end %>
            <% if view.show_security_templates? %>
              <div class="py-2">
                <div class="d-flex flex-justify-between">
                  <h2 class="f3 my-3 lh-condensed">Security</h2>
                  <% if view.security_templates.length > Actions::StarterWorkflowsView::MAX_NUM_OF_TEMPLATES %>
                    <a href="<%= actions_onboarding_filter_path %>?<%= { category: "security" }.to_param %>">
                      <div class="my-3">View all</div>
                    </a>
                  <% end %>
                </div>
                <div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap" <%= test_selector("workflow-security-templates") %>>
                  <%= render partial: "repository_actions/workflow_template", collection: view.security_templates.first(Actions::StarterWorkflowsView::MAX_NUM_OF_TEMPLATES),
                    locals: { view_section: view.get_view_section("security"), code_scanning_enabled: view.code_scanning_enabled? } %>
                </div>
              </div>
            <% end %>
            <% if view.show_ci_suggested_templates? %>
              <div class="d-flex flex-justify-between">
                <h2 class="f3 my-3 lh-condensed">Continuous integration</h2>
                <% if view.ci_templates.length > Actions::StarterWorkflowsView::MAX_NUM_OF_TEMPLATES %>
                  <a href="<%= actions_onboarding_filter_path %>?<%= { category: "continuous-integration" }.to_param %>">
                    <div class="my-3">View all</div>
                  </a>
                <% end %>
              </div>
              <div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap" <%= test_selector("workflow-ci-templates") %>>
                <%= render partial: "repository_actions/workflow_template", collection: view.ci_suggested_templates, locals: { view_section: view.get_view_section("continuous-integration") } %>
              </div>
            <% end %>
            <% if view.show_automation_section? %>
              <div class="py-2">
                <div class="d-flex flex-justify-between">
                  <h2 class="f3 my-3 lh-condensed">Automation</h2>
                  <% if view.automation_templates.length > Actions::StarterWorkflowsView::MAX_NUM_OF_TEMPLATES %>
                    <a href="<%= actions_onboarding_filter_path %>?<%= { category: "automation" }.to_param %>">
                      <div class="my-3">View all</div>
                    </a>
                  <% end %>
                </div>
                <div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap" <%= test_selector("workflow-automation-templates") %>>
                  <%= render partial: "repository_actions/workflow_template", collection: view.automation_templates.first(Actions::StarterWorkflowsView::MAX_NUM_OF_TEMPLATES), locals: { view_section: view.get_view_section("automation") } %>
                </div>
              </div>
            <% end %>
            <% if view.show_pages_section? %>
              <div class="py-2">
                <div class="d-flex flex-justify-between">
                  <h2 class="f3 my-3 lh-condensed">Pages</h2>
                  <% if view.pages_templates.length > Actions::StarterWorkflowsView::MAX_NUM_OF_TEMPLATES %>
                    <a href="<%= actions_onboarding_filter_path %>?<%= { category: "pages" }.to_param %>">
                      <div class="my-3">View all</div>
                    </a>
                  <% end %>
                </div>
                <div class="d-flex flex-items-stretch ml-n2 mr-n2 flex-wrap" <%= test_selector("workflow-pages-templates") %>>
                  <%= render partial: "repository_actions/workflow_template", collection: view.pages_templates.first(Actions::StarterWorkflowsView::MAX_NUM_OF_TEMPLATES), locals: { view_section: view.get_view_section("pages") } %>
                </div>
              </div>
            <% end %>

            <div class="py-2">
              <div class="d-flex flex-items-stretch flex-wrap ml-n2 mr-n2">
                <div class="col-12 col-lg-3 p-2">
                  <h2 class="f3 mb-2">Browse all categories</h2>
                  <div class="d-flex flex-column mb-2">
                    <% if view.show_owner_templates? %>
                      <div class="py-1">
                        <a href="<%= actions_onboarding_filter_path %>?<%= { category: "owner" }.to_param%>">
                          By <%= current_repository.owner.safe_profile_name %>
                        </a>
                      </div>
                    <% end %>
                    <% Actions::StarterWorkflowsView::NAVIGATION_CATEGORIES.each do |slug, category| %>
                      <% if view.show_navigation_category?(slug) %>
                        <div class="py-1">
                          <a href="<%= actions_onboarding_filter_path %>?<%= { category: slug }.to_param%>">
                            <%= category %>
                          </a>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-2 py-5 mb-n5 border-top">
              <h2 class="text-center lh-condensed">Learn more about GitHub Actions</h2>

              <div class="d-flex flex-column flex-md-row my-4 flex-justify-center col-12 mx-auto">
                <a href="<%= GitHub.help_url %>/actions/getting-started-with-github-actions" class="color-bg-subtle Link--primary no-underline mb-2 m-md-2 p-4 rounded-2 col-12 col-lg-4" <%= safe_analytics_click_attributes(category: "Learn more about GitHub Actions", action: "click to getting started and core concepts", label: "ref_page:#{request.fullpath};ref_cta:Getting started and core concepts;ref_loc:footer") %> >
                  <%= svg("docs-marketing-icon.svg", aria_hidden: true, width: "56", height: "56", class: "float-right ml-2") %>
                  <h3 class="f4 mt-1 mb-2">Getting started and core concepts</h3>
                  <p class="color-fg-muted">New to Actions? Start here. Learn the core concepts and how to get started.</p>
                </a>

                <a href="<%= GitHub.help_url %>/actions/configuring-and-managing-workflows/configuring-and-managing-workflow-files-and-runs" class="color-bg-subtle Link--primary no-underline mb-2 m-md-2 p-4 rounded-2 col-12 col-lg-4" <%= safe_analytics_click_attributes(category: "Learn more about GitHub Actions", action: "click to configuring and managing workflows", label: "ref_page:#{request.fullpath};ref_cta:Configuring and managing workflows;ref_loc:footer") %> >
                  <%= svg("site/icons/projects-activity", aria_hidden: true, width: "56", height: "56", class: "float-right ml-2") %>
                  <h3 class="f4 mt-1 mb-2">Configuring and managing workflows</h3>
                  <p class="color-fg-muted">Create custom workflows to control your project's life cycle processes.</p>
                </a>

                <a href="<%= GitHub.help_url %>/actions/language-and-framework-guides" class="color-bg-subtle Link--primary no-underline mb-2 m-md-2 p-4 rounded-2 col-12 col-lg-4" <%= safe_analytics_click_attributes(category: "Learn more about GitHub Actions", action: "click to language and framework guides", label: "ref_page:#{request.fullpath};ref_cta:Language and framework guides;ref_loc:footer") %> >
                  <%= image_tag "modules/site/features/actions-any-lang.svg", width: "56", height: "56", alt: "Any language", class: "float-right ml-2" %>
                  <h3 class="f4 mt-1 mb-2">Language and framework guides</h3>
                  <p class="color-fg-muted">Guides for projects written in many programming languages.</p>
                </a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
