<% page ||= :admins %>
<%= form_tag stafftools_enterprise_owners_path(business_slug), method: :post do %>
  <% if page == :complete %>
    <input type="hidden" name="complete_page" value="1">
  <% end %>
  <label for="add-admin">Add or invite an owner to this enterprise</label>
  <div class="input-group my-2 auto-search-group">
    <auto-complete src="<%= stafftools_enterprise_admin_suggestions_path(business_slug) %>" for="staff-admin-complete-results">
      <input type="text" id="add-admin" name="owner" class="form-control auto-search-input">
      <ul id="staff-admin-complete-results" class="autocomplete-results"></ul>
    </auto-complete>
    <%= primer_octicon(:person) %>
    <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
    <span class="input-group-button">
      <%= render Primer::Beta::Button.new(type: :submit,
        classes: "js-auto-complete-button border-left-0 rounded-left-0 color-border-emphasis") do %>
        <span class="js-add-btn"<% if page == :invites %> hidden<% end %>>Add owner</span>
        <span class="js-invite-btn"<% unless page == :invites %> hidden<% end %>>Invite owner</span>
      <% end %>
    </span>
  </div>
<% end %>
