<div class="Box-row">
  <% if this_business.has_commercial_interaction_restriction? %>
    <% if this_business.self_serve_payment? %>
      <div class="listgroup-item-title">Switch to invoiced payments</div>
      <div class="listgroup-item-body">
          This enterprise is ineligible to switch to invoiced payments due to trade restrictions.
      </div>
    <% else %>
      <div class="listgroup-item-title">Enable self-serve payments</div>
      <div class="listgroup-item-body">
        This enterprise is ineligible to switch to self-serve payments due to trade restrictions.
      </div>
    <% end %>
  <% elsif this_business.self_serve_payment? %>
    <%= render(Primer::Alpha::Dialog.new(
      size: :large,
      title: "Switch to invoiced payments",
    )) do |dialog| %>
      <% dialog.with_show_button(
        float: :right,
        scheme: :danger
      ) { "Switch to invoiced payments" } %>
      <%= form_tag stafftools_enterprise_billing_billing_type_path(this_business), method: :patch do %>
        <%= render(Primer::Alpha::Dialog::Body.new) do %>
          <%= hidden_field_tag "billing_type", Customer::BILLING_TYPE_INVOICE %>
          <p>
            This will switch the <%= this_business.name %> enterprise from self-serve payments to invoiced
            payments. Please note that manual updates on Salesforce, Enterprise Web, and Zuora have to be done
            prior to this payment method change . If not sure about taking this action, please contact
            <a class="Link--inTextBlock" href="/github/meao">@github/meao</a> for assistance.
          </p>
          <%= render(Primer::Beta::Button.new(
            type: :submit,
            scheme: :danger,
            data: { "disable-with": "" }
          )) { "Confirm switch to invoiced payments" } %>
        <% end %>
      <% end %>
    <% end %>

    <div class="listgroup-item-title">Switch to invoiced payments</div>
    <div class="listgroup-item-body">
      Will switch the enterprise from self-serve to invoiced payments. Please be certain.
    </div>
  <% else %>
    <%= render(Primer::Alpha::Dialog.new(
      size: :large,
      title: "Enable self-serve payments",
    )) do |dialog| %>
      <% dialog.with_show_button(
        float: :right,
        scheme: :danger
      ) { "Enable self-serve payments" } %>
      <%= form_tag stafftools_enterprise_billing_billing_type_path(this_business), method: :patch do %>
        <%= render(Primer::Alpha::Dialog::Body.new) do %>
          <p>
            Enabling this feature will change the <%= this_business.name %> enterprise to self-serve
            (credit card or PayPal) payments. The customer must set up a payment method immediately or risk dunning
            and experiencing a downgraded experience.
          </p>
          <p>
            Reminder: Unified GHEC/GHES SKU, GHES, and EMU are not currently supported in a self-serve experience.
            The customer must remain invoiced if they want to use these features.
          </p>

          <% pacific_time = Time.now.in_time_zone(GitHub::Billing.timezone) %>
          <%= render Primer::Alpha::Banner.new(scheme: :warning) do %>
            Warning! It is currently <%= pacific_time.hour %>:<%= pacific_time.min %> Pacific Time. The daily billing run happens every day at 4 am Pacific Time.
            The customer must input payment details before the next bill run, or else they will be downgraded.
            Please ensure the customer is ready.
          <% end %>

          <%= hidden_field_tag "billing_type", Customer::BILLING_TYPE_CARD %>
          <dl class="form-group">
            <dt>
              <label for="plan_duration">Plan duration</label>
            </dt>
            <dd>
              <%= select_tag "plan_duration", options_for_select(User::BillingDependency::PLAN_DURATIONS, "year"),
                id: "plan_duration", class: "form-select" %>
            </dd>
          </dl>

          <%= render(Primer::Beta::Button.new(
            type: :submit,
            scheme: :danger,
            data: { "disable-with": "" }
          )) { "Enable self-serve payments" } %>
        <% end %>
      <% end %>
    <% end %>

    <div class="listgroup-item-title">Enable self-serve payments</div>
    <div class="listgroup-item-body">
      Allows self-serve payments for the account. Please be certain.
    </div>
  <% end %>
</div>
