<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2, danger: true) do %>Danger zone<% end %>
<% end %>
<div class="Box Box--danger">
  <div class="Box-row">
    <%= render(Primer::Alpha::Dialog.new(
      title: "Rename URL slug",
    )) do |dialog| %>
      <% dialog.with_show_button(
        float: :right,
        scheme: :danger
      ) { "Rename URL slug" } %>
      <% dialog.with_body(mt: 3) do %>
        <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
          Please ensure appropriate authorization has been obtained before
          renaming the enterprise URL slug.
        <% end %>
        <p>
          This will rename the URL slug for the <%= this_business.name %>
          enterprise. Existing enterprise URLs will <strong>not be redirected</strong>.
        </p>
      <% end %>
      <% dialog.with_footer do %>
        <%= form_tag stafftools_enterprise_slug_path(this_business), method: :patch do %>
          <dl class="form-group">
            <dt><label for="reason">New enterprise URL slug</label></dt>
            <dd>
              <input class="form-control" type="text" name="new_slug" id="new_slug" autofocus>
            </dd>
          </dl>
          <%= render(Primer::Beta::Button.new(
            type: :submit,
            scheme: :danger,
            data: { "disable-with": "" }
          )) { "Rename enterprise URL slug" } %>
        <% end %>
      <% end %>
    <% end %>

    <div class="listgroup-item-title">Rename enterprise URL slug</div>
    <div class="listgroup-item-body">
      URLs will not be redirected if the URL slug is renamed. Please be certain.
    </div>
  </div>

  <% if !this_business.trial? && !this_business.trial_cancelled? %>
    <%= render "stafftools/businesses/billing_type" %>
  <% end %>

  <% if this_business.invoiced? %>
    <%= render "stafftools/businesses/downgrade" %>
  <% end %>

  <div class="Box-row">
    <% if this_business.suspended? %>
      <%= render(Primer::Alpha::Dialog.new(
        size: :large,
        title: "Unsuspend this enterprise",
      )) do |dialog| %>
        <% dialog.with_show_button(
          float: :right,
          scheme: :danger
        ) { "Unsuspend this enterprise" } %>
        <% dialog.with_body(mt: 3) do %>
          <p>
            This will unsuspend the <%= this_business.name %> enterprise.
            As a result, all functionality and settings of the enterprise will
            become accessible again.
          </p>
          <p>
            Please provide a reason for unsuspending this enterprise.
          </p>
          <%= form_tag stafftools_enterprise_suspension_path(this_business), method: :delete do %>
            <dl class="form-group">
              <dt><label for="reason">Reason for unsuspension</label></dt>
              <dd>
                <input
                  class="form-control"
                  type="text"
                  name="reason"
                  id="reason"
                  placeholder="Any relevant links are helpful"
                  autofocus>
              </dd>
            </dl>
            <%= render(Primer::Beta::Button.new(
              type: :submit,
              scheme: :danger,
              data: { "disable-with": "" }
            )) { "Unsuspend enterprise" } %>
          <% end %>
        <% end %>
      <% end %>

      <div class="listgroup-item-title">Unsuspend enterprise</div>
      <div class="listgroup-item-body">
        Unsuspends the enterprise. Please be certain.
      </div>
    <% else %>
      <%= render(Primer::Alpha::Dialog.new(
        size: :large,
        title: "Suspend this enterprise",
      )) do |dialog| %>
        <% dialog.with_show_button(
          float: :right,
          scheme: :danger
        ) { "Suspend this enterprise" } %>
        <% dialog.with_body(mt: 3) do %>
          <p>
            This will suspend the <%= this_business.name %> enterprise.
            As a result, all functionality and settings of the enterprise will
            be locked and inaccessible. The enterprise will become unusable. Owners
            of all member organizations will be notified of the suspension by email,
            which includes a list of paid subscription items cancelled as a result.
          </p>
          <p>
            Please provide a reason for suspending this enterprise.
          </p>
          <%= form_tag stafftools_enterprise_suspension_path(this_business), method: :post do %>
            <dl class="form-group">
              <dt><label for="reason">Reason for suspension</label></dt>
              <dd>
                <input
                  class="form-control"
                  type="text"
                  name="reason"
                  id="reason"
                  placeholder="Any relevant links are helpful"
                  autofocus>
              </dd>
            </dl>
            <%= render(Primer::Beta::Button.new(
              type: :submit,
              scheme: :danger,
              data: { "disable-with": "" }
            )) { "Suspend enterprise" } %>
          <% end %>
        <% end %>
      <% end %>

      <div class="listgroup-item-title">Suspend enterprise</div>
      <div class="listgroup-item-body">
        Suspends the enterprise. Please be certain.
      </div>
    <% end %>
  </div>
  <% unless this_business.stafftools_deletion_disabled?(current_user) %>
    <div class="Box-row">
      <% if show_trial_actions?(this_business) &&
        !this_business.trial_expired? &&
        !this_business.trial_cancelled? %>
        <div class="listgroup-item-title">Delete enterprise</div>
        <div class="listgroup-item-body">
          The enterprise trial must be cancelled or expired instead of being immediately deleted.
        </div>
      <% elsif this_business.organizations_blocking_deletion? && !(current_user.feature_enabled?(:soft_delete_organization) || this_business.feature_enabled?(:soft_delete_organization)) %>
        <div class="listgroup-item-title">Delete enterprise</div>
        <div class="listgroup-item-body">
          All organizations must be removed or transferred before the enterprise can be deleted.
        </div>
      <% elsif this_business.has_commercial_interaction_restriction? %>
        <div class="listgroup-item-title">Delete enterprise</div>
        <div class="listgroup-item-body">
          This enterprise is ineligible for deletion due to trade restrictions.
        </div>
      <% else %>
        <%= render(Primer::Alpha::Dialog.new(
          size: :large,
          title: "Delete this #{ "EMU" if this_business.enterprise_managed? } enterprise?",
          test_selector: "enterprise-deletion-dialog"
        )) do |dialog| %>
          <% dialog.with_show_button(
            float: :right,
            scheme: :danger
          ) { "Delete enterprise" } %>
          <% dialog.with_body(mt: 3) do %>
            <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
              Make sure you want to do this.
            <% end %>
            <p>This will mark the <%= this_business.name %> enterprise as deleted. Here's what will happen:</p>
            <ul class="ml-3 mb-2">
              <li>Organizations in the enterprise <strong>will be soft deleted and will not be usable</strong></li>
              <% if this_business.enterprise_managed? %>
                <li>The first EMU owner <strong>will be suspended</strong></li>
              <% end %>
              <li>
                Enterprise administrators and members
                <strong>will not be <%= this_business.enterprise_managed? ? "usable" : "deleted" %></strong>
              </li>
              <li>
                The <%= this_business.name %> enterprise
                <strong>will be marked as deleted and will no longer be usable</strong>
              </li>
              <li>
                <% if this_business.enterprise_managed? %>
                  The enterprise, organizations, first EMU owner, administrators and members
                <% else %>
                  The enterprise and organizations
                <% end %>
                <strong>
                  will be scheduled for permanent deletion in <%= Business::RESTORABLE_PERIOD.inspect %>
                </strong>
              </li>
            </ul>
            <p>
              Enterprise owners <strong>will not</strong> be notified of this deletion.
            </p>
            <p>
              <%= form_tag stafftools_enterprise_soft_deletion_path(this_business), method: :post do %>
                <label>
                  Enter the enterprise <strong>slug</strong> to confirm
                  <input type="text" class="form-control input-block"
                    pattern="<%= case_insensitive_pattern this_business.slug %>"
                    required autofocus>
                </label>

                <%= render(Primer::Beta::Button.new(
                  type: :submit,
                  scheme: :danger,
                  mt: 3,
                  data: { "disable-with": "", "disable-invalid": "" }
                )) { "Delete enterprise" } %>
              <% end %>
            </p>
          <% end %>
        <% end %>

        <div class="listgroup-item-title">Delete enterprise</div>
        <div class="listgroup-item-body">This will delete the enterprise. Please be certain.</div>
      <% end %>
    </div>
  <% end %>

  <% if this_business.enterprise_managed_user_enabled? %>
    <div class="Box-row">
      <%= render(Primer::Alpha::Dialog.new(
        size: :large,
        title: "Clean up suspended users for this enterprise?",
        test_selector: "cleanup-suspended-users-dialog"
      )) do |dialog| %>
        <% dialog.with_show_button(
          float: :right,
          scheme: :danger
        ) { "Clean up suspended users" } %>
        <% dialog.with_body(mt: 3) do %>
          <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
            Make sure you want to do this.
          <% end %>
          <p>
            This will delete all <strong>inactive</strong> suspended user accounts for the
            <strong><%= this_business.name %></strong> enterprise. Only suspended user accounts
            without recent activity will be deleted.
          </p>
          <p>
            Users <strong>will not</strong> be notified of their account deletion.
          </p>
          <%= form_tag stafftools_enterprise_suspended_members_path(this_business), method: :delete do %>
            <%= render(Primer::Beta::Button.new(
              type: :submit,
              scheme: :danger,
              data: { "disable-with": "", "disable-invalid": "" }
            )) { "Clean up suspended users" } %>
          <% end %>
        <% end %>
      <% end %>

      <div class="listgroup-item-title">
        Clean up suspended users (Engineering only)
      </div>
      <div class="listgroup-item-body">
        This will remove suspended user accounts for the enterprise. Please be certain. <strong>This is for engineering use only at the moment.</strong>
      </div>
    </div>
  <% end %>

  <% if current_user.feature_enabled?(:site_admin_change_enterprise_seats_plan_type) %>
    <div class="Box-row" <%= test_selector "change-seats-plan-type-row" %>>
      <% source_seats_plan_type = this_business.seats_plan_type %>
      <% target_seats_plan_type = this_business.seats_plan_full? ? "basic" : "full" %>
      <% if this_business.can_transition_to_seats_plan_type?(target_seats_plan_type) %>
        <%= render(Primer::Alpha::Dialog.new(
          title: "Change the seats plan type for this enterprise?",
          test_selector: "change-seats-plan-type-dialog"
        )) do |dialog| %>
          <% dialog.with_show_button(float: :right, scheme: :danger) do %>
            Change seats plan type
          <% end %>
          <% dialog.with_body(mt: 3) do %>
            <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
              Make sure you want to do this.
            <% end %>
            <p>
              This will transition the enterprise from the
              <strong><%= source_seats_plan_type %></strong>
              to the
              <strong><%= target_seats_plan_type %></strong>
              seats plan type.
            </p>
          <% end %>
          <% dialog.with_footer do %>
            <%= form_tag stafftools_enterprise_seats_plan_type_path(this_business), method: :patch do %>
              <input type="hidden" name="seats_plan_type" value="<%= target_seats_plan_type %>">
              <%= render(Primer::Beta::Button.new(
                type: :submit,
                scheme: :danger,
                mt: 3,
                data: { "disable-with": "", "disable-invalid": "" }
              )) { "Change seats plan type" } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <div class="listgroup-item-title">
        Change seats plan type
      </div>
      <div class="listgroup-item-body">
        <% if this_business.can_transition_to_seats_plan_type?(target_seats_plan_type) %>
          This will transition the enterprise to the
          <strong><%= target_seats_plan_type %></strong>
          seats plan type.
        <% else %>
          This enterprise cannot be transitioned to the
          <strong><%= target_seats_plan_type %></strong>
          seats plan type.
          <%= this_business.reason_unable_to_transition_to_seats_plan_type(target_seats_plan_type) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if this_business.feature_enabled?(:enterprise_teams_migrate_from_cfb) %>
    <div class="Box-row" <%= test_selector "migrate-to-copilot-standalone-row" %>>
      <% copilot_business = Copilot::Business.new(this_business) %>
      <% if copilot_business.eligible_to_migrate_to_enterprise_teams? %>
        <%= render(Primer::Alpha::Dialog.new(
          title: "Migrate this enterprise to Copilot Standalone?",
          test_selector: "migrate-to-copilot-standalone-dialog"
        )) do |dialog| %>
          <% dialog.with_show_button(float: :right, scheme: :danger) do %>
            Migrate to Copilot Standalone
          <% end %>
          <% dialog.with_body(mt: 3) do %>
            <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
              Make sure you want to do this.
            <% end %>
            <p>
              This will migrate this enterprise to Copilot Standalone and the basic plan. This will also destroy
              all organizations on the enterprise.
            </p>
          <% end %>
          <% dialog.with_footer do %>
            <%= form_tag migrate_to_enterprise_teams_copilot_stafftools_enterprise_path(this_business), method: :post do %>
              <input type="hidden" name="seats_plan_type" value="<%= target_seats_plan_type %>">
              <%= render(Primer::Beta::Button.new(
                type: :submit,
                scheme: :danger,
                mt: 3,
                data: { "disable-with": "", "disable-invalid": "" }
              )) { "Migrate to Copilot Standalone" } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <div class="listgroup-item-title">
        Migrate enterprise to Copilot Standalone
      </div>
      <div class="listgroup-item-body">
        <% if copilot_business.eligible_to_migrate_to_enterprise_teams? %>
          This will migrate this enterprise to Copilot Standalone and the basic plan. This will also destroy
          all organizations on the enterprise.
        <% else %>
           This enterprise is ineligible to migrate to Copilot Standalone.
        <% end %>
      </div>
    </div>
  <% end %>
</div>
