<% actions = [
  "Seats will be set to 0",
  "Support plan will be set to 'standard' unless the current support plan is 'education'",
  "Associated enterprise agreements will be ended",
  "Advanced security seats will be set to 0"
] %>
<div class="Box-row">
  <%= form_tag stafftools_enterprise_billing_downgrade_path(this_business), method: :patch do %>
    <%= render(Primer::Alpha::Dialog.new(
      id: "downgrade-billing-account-dialog",
      size: :large,
      title: "Downgrade billing account",
    )) do |dialog| %>
      <% dialog.with_header(show_divider: true, text_align: :left) { "" } %>
      <% dialog.with_show_button(
        float: :right,
        scheme: :danger,
        test_selector: "downgrade-billing-account-dialog-button"
      ) { "Downgrade billing account" } %>
      <% dialog.with_body do %>
        <%= render Primer::Alpha::Banner.new(scheme: :warning, icon: "alert", mt: 2) do %>
          <p>
            Downgrading the billing account of this enterprise will severely limit functionality.
            Please be certain.
          </p>
          <div>
            <p>The following actions will be performed on <%= this_business.name %>.</p>
            <%= render(Primer::Beta::BorderBox.new) do |component| %>
              <% actions.each do |action| %>
                <%= component.with_row do %>
                  <%= render Primer::Beta::Text.new do %>
                    <%= action %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% dialog.with_footer(show_divider: true) do %>
        <%= render Primer::Beta::Button.new(data: { "close-dialog-id": "downgrade-billing-account-dialog" }).with_content("Cancel") %>
        <%= render Primer::Beta::Button.new(type: :submit, "data-disable-with": "Downgrading billing account…", scheme: :danger) do %>
          Downgrade billing account
        <% end %>
      <% end %>
    <% end %>

    <div class="listgroup-item-title">Downgrade billing account</div>
    <div class="listgroup-item-body">
      Will downgrade the billing account of this enterprise.
    </div>
  <% end %>
</div>
