<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Enterprise agreement details<% end %>
  <% component.with_actions do %>
    <% if !this_business.metered_plan? %>
      <%= link_to "New Agreement", new_stafftools_enterprise_agreement_path(this_business), class: "btn" %>
    <% end %>
  <% end %>
<% end %>

<% if this_business.metered_plan? %>
  <%= render Primer::Beta::Flash.new(icon: :info) do %>
    Enterprise agreements are not available for enterprises with metered licensing.
  <% end %>
<% else %>
  <table class="stafftools-table mb-1">
    <tr>
      <th>Agreement</th>
      <th>Category</th>
      <th class="nowrap">Volume Seats</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <% billable_seats_per_agreement = this_business.consumed_volume_licenses_per_agreement_count %>
    <% non_linked_seats_per_agreement = this_business.unassigned_user_bundled_license_assignments_per_agreement_count %>
    <% this_business.enterprise_agreements.each do |enterprise_agreement| %>
      <tr>
        <td class="pt-3 pb-3">
          <%= render(Primer::Beta::Text.new(tag: :div, color: :muted, font_weight: :bold)) { enterprise_agreement.agreement_id } %>
          <%= render(Primer::Beta::Text.new(tag: :div, color: :muted, font_size: :small, mt: 2)) { "Created #{enterprise_agreement.created_at}" } %>
        </td>
        <td class="pt-3 pb-3"><%= render(Primer::Beta::Label.new) { enterprise_agreement.category } %></td>
        <td class="pt-2 pb-2">
          <%= render(Primer::Box.new(bg: :subtle, p: 2, border_radius: 2)) do %>
            <%= render(Primer::Beta::Text.new(tag: :div, color: :muted)) { "#{enterprise_agreement.seats} purchased" } %>
            <% if enterprise_agreement.visual_studio_bundle? %>
              <%= render(Primer::Beta::Text.new(tag: :div, color: :muted, font_size: :small, mt: 2)) { "#{billable_seats_per_agreement[enterprise_agreement.agreement_id] || 0} billable" } %>
              <%= render(Primer::Beta::Text.new(tag: :div, color: :muted, font_size: :small, mt: 2)) { "#{non_linked_seats_per_agreement[enterprise_agreement.agreement_id] || 0} non-linked" } %>
            <% end %>
          <% end %>
        </td>
        <td class="pt-3 pb-3">
          <%= render(Primer::Beta::Label.new(scheme: (enterprise_agreement.active? ? :success : :secondary))) do %>
            <%= enterprise_agreement.status %>
          <% end %>
        </td>
        <td class="pt-3 pb-3"><%= link_to "Edit", edit_stafftools_enterprise_agreement_path(this_business, enterprise_agreement) %></td>
      </tr>
    <% end %>
    <% if this_business.enterprise_agreements.empty? %>
      <tr>
        <td colspan="6">There are no enterprise agreements on this account.</td>
      </tr>
    <% end %>
  </table>
  <% unless this_business.enterprise_agreements.empty? %>
    <a href="<%= stafftools_enterprise_agreements_audit_log_path(this_business, current_user) %>" class="d-block mb-6">View audit log events</a>
  <% end %>
<% end %>
