<h3 class="Box-title">Filter</h3>
<div class="pb-2 mt-3 table-list-header-toggle d-flex flex-wrap">
  <%= render "stafftools/businesses/filters/enterprise_type", filter: filter, query: query, tab: tab %>
  <%= render "stafftools/businesses/filters/seat_type", filter: filter, query: query, tab: tab %>
  <%= render "stafftools/businesses/filters/organization_upgraded", filter: filter, query: query, tab: tab %>
  <%= render "stafftools/businesses/filters/owned_by", filter: filter, query: query, tab: tab %>
</div>

<h3 class="Box-title">Sort</h3>
<div class="pb-2 mt-3 table-list-header-toggle d-flex flex-wrap">
  <%= render "stafftools/businesses/filters/creation_date", filter: filter, query: query, tab: tab %>
  <%= render "stafftools/businesses/filters/expiration_date", filter: filter, query: query, tab: tab %>
  <%= render "stafftools/businesses/filters/conversion_date", filter: filter, query: query, tab: tab %>
  <%= render "stafftools/businesses/filters/cancellation_date", filter: filter, query: query, tab: tab %>
</div>
