<div class="d-flex gutter-condensed">
  <div class="col-4">
    <div class="Box" style="height: 100%" <%= test_selector "license-overview-ghe" %>>
      <div class="Box-header d-flex flex-items-center">
        <h3 class="h5" id="github-enterprise-licenses">GitHub Enterprise</h3>
      </div>
      <div class="Box-row">
        <div class="d-flex flex-column flex-sm-row flex-items-start flex-sm-items-center flex-justify-between">
          <div class="col-12 col-sm-9 mr-5">
            <table class="stafftools-table mb-6">
              <tr>
                <th><a href="<%= view.stafftools_business_plan_change_audit_log_path(this_business, current_user) %>">Purchased</a></th>
                <td><%= this_business.purchased_enterprise_licenses %></td>
              </tr>
              <tr>
                <th>Consumed<% if view.sales_serve_over_consumption %><sup>3</sup><% end %></th>
                <td><%= this_business.consumed_enterprise_licenses %></td>
              </tr>
              <tr>
                <th class="border-md-top">Remaining</th>
                <td class="border-md-top"><%= this_business.available_enterprise_licenses %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="Box" <%= test_selector "license-overview-vss" %>>
      <div class="Box-header d-flex flex-items-center">
        <h3 class="h5" id="visual-studio-licenses">Visual Studio with GHE</h3>
      </div>
      <div class="Box-row">
        <div class="d-flex flex-column flex-sm-row flex-items-start flex-sm-items-center flex-justify-between">
          <div class="col-12 col-sm-9 mr-5">
            <table class="stafftools-table mb-6">
              <tr>
                <th>Purchased</th>
                <td><%= this_business.purchased_volume_licenses %></td>
              </tr>
              <tr>
                <th>Overallocated<sup>1</sup></th>
                <td><%= this_business.volume_license_overages %></td>
              </tr>
              <tr>
                <th class="border-md-top">Available</th>
                <td class="border-md-top"><%= this_business.purchased_volume_licenses_with_overages %></td>
              </tr>
              <tr>
                <th>Consumed</th>
                <td><%= this_business.consumed_volume_licenses %></td>
              </tr>
              <tr>
                <th class="border-md-top">Remaining</th>
                <td class="border-md-top"><%= this_business.available_volume_licenses_with_overages %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="Box" style="height: 100%" <%= test_selector "license-overview-totals" %>>
      <div class="Box-header d-flex flex-items-center">
        <h3 class="h5" id="visual-studio-licenses">Totals</h3>
      </div>
      <div class="Box-row">
        <div class="d-flex flex-column flex-sm-row flex-items-start flex-sm-items-center flex-justify-between">
          <div class="col-12 col-sm-9 mr-5">
            <table class="stafftools-table mb-6">
              <tr>
                <th>Purchased</th>
                <td><%= this_business.total_purchased_licenses %></td>
              </tr>
              <tr>
                <th>Available<sup>2</sup></th>
                <td><%= this_business.total_purchased_licenses_with_overages %></td>
              </tr>
              <tr>
                <th>Consumed</th>
                <td><%= this_business.total_consumed_licenses %></td>
              </tr>
              <tr>
                <th class="border-md-top">Remaining</th>
                <td class="border-md-top"><%= this_business.total_available_licenses %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p class="color-fg-muted mt-2 mb-4">
  <sup>1</sup> In Visual Studio, organizations are allowed to create more users than the number of licenses they purchased in their enterprise agreements. When that happens, we call them overallocated licenses. Overallocated licenses count toward the number of total available licenses in GitHub.
  <br>
  <sup>2</sup> Purchased licenses + overallocated licenses.
  <% if view.sales_serve_over_consumption %>
    <br>
    <sup>3</sup> We found this enterprise has a sales-serve subscription. This gives sales manual control to modify the account configuration. It is likely the seat count at the enterprise level has been changed to a value below the number of consumed licenses.
  <% end %>
</p>
