<% if businesses.any? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |box| %>
    <% businesses.each do |business| %>
      <% box.with_row(display: :flex, align_items: :center,
        test_selector: "business-#{business.id}") do %>
        <%= avatar_for business, 32, class: "avatar", alt: business.name %>
        <div class="flex-auto ml-3">
          <div>
            <span>
              <%= link_to business.name, stafftools_enterprise_path(business.slug) %>
            </span>
            &ndash;
            <span>
              Created on <%= business.created_at.strftime("%Y-%m-%d") %>
              <% if business.staff_owned? %>
                <%= render(Primer::Beta::Octicon.new(:"person")) %> Staff owned
              <% end %>
            </span>
            <% if business.downgraded_to_free_plan? %>
              &ndash;
              <%= render Primer::Beta::Label.new(scheme: :danger, title: "Downgraded") do %>
                Downgraded
              <%end%>
            <% end %>
            <% if business.suspended? %>
              &ndash;
              <%= render Primer::Beta::Label.new(scheme: :danger, title: "Suspended") do %>
                Suspended
              <%end%>
            <% end %>
          </div>
          <div class="mt-1">
            <% outstanding_balance = business.plan_subscription&.balance %>
            <% if outstanding_balance.present? && outstanding_balance > 0 %>
              <span class="color-fg-danger">
                Balance: <%= outstanding_balance %> $
              </span>
            <% end %>
            &middot;
            <% notification_attempts = Billing::ManualDunningPeriod.find_by(customer_id: business.customer.id)&.notification_attempts %>
            <span>
              Payment notifications: <%= notification_attempts.present? ? notification_attempts : 0 %>
            </span>
          </div>
        </div>
        <div>
          <% if business.downgraded_to_free_plan? %>
            <%= render(Primer::Experimental::Dialog.new(
              dialog_id: "upgrade-#{business.id}-to-business-plus",
              header_variant: :large,
              width: :large,
              title: "Upgrade to Enterprise plan",
              form_url: stafftools_enterprise_manual_payment_accounts_path(business),
              form_method: :patch
            )) do |c| %>
              <% c.with_show_button(float: :right, scheme: :default) do |s| %>
                Upgrade
              <% end %>
              <% c.with_body do %>
                <%= hidden_field_tag "operation", "upgrade" %>
                <p>
                  This change will enable full functionality for the <%= business.name %> enterprise, and allow them to continue using manual payments.
                </p>
                <p>
                  Please be certain.
                </p>
              <% end %>
              <% c.with_button(data: { "close-dialog-id": "upgrade-#{business.id}-to-business-plus" }) do %>
                Cancel
              <% end %>
              <% c.with_button(type: :submit, scheme: :default, data: { "disable-with": "" } ) do %>
                  Upgrade to enterprise plan
              <% end %>
            <% end %>
          <% else %>
            <%= render(Primer::Experimental::Dialog.new(
              dialog_id: "downgrade-#{business.id}-to-free",
              header_variant: :large,
              width: :large,
              title: "Downgrade to Free plan",
              form_url: stafftools_enterprise_manual_payment_accounts_path(business),
              form_method: :patch
            )) do |c| %>
              <% c.with_show_button(float: :right, scheme: :danger) do |s| %>
                Downgrade
              <% end %>
              <% c.with_body do %>
                <%= hidden_field_tag "operation", "downgrade" %>
                <p>
                  This change will disable full enterprise functionality for the <%= business.name %> enterprise, and convert them to a non-paying plan.
                </p>
                <p>
                  Please be certain.
                </p>
              <% end %>
              <% c.with_button(data: { "close-dialog-id": "downgrade-#{business.id}-to-free" }) do %>
                Cancel
              <% end %>
              <% c.with_button(type: :submit, scheme: :danger, data: { "disable-with": "" } ) do %>
                  Downgrade to free plan
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <%= will_paginate businesses %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No enterprises
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      to show.
    <% end %>
  <% end %>
<% end %>
