<% if businesses.any? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |box| %>
    <% businesses.each do |business| %>
      <% box.with_row(display: :flex, align_items: :center,
        test_selector: "enterprise-upgrade-#{business.id}") do %>
        <div class="mr-3">
          <%= avatar_for business, 24, class: "avatar", alt: business.name %>
        </div>

        <div class="flex-auto">
          <span class="text-bold color-fg-default">
            <%= link_to business.name, stafftools_enterprise_path(business.slug) %>
          </span>
          <% if business.upgraded_from.present? %>
            <p>
              Upgraded from
              <%= link_to business.upgraded_from.safe_profile_name, stafftools_user_path(business.upgraded_from), class: "Link--inTextBlock" %>
            </p>
          <% end %>
        </div>

        <% if business.reviewed? %>
          <span class="mr-2">
            Review completed <%= time_ago_in_words_js business.upgrade_reviewed_at %>
            <% if business.upgrade_reviewed_by.present? %>
              by <%= link_to business.upgrade_reviewed_by.login, stafftools_user_path(business.upgrade_reviewed_by), class: "Link--inTextBlock" %>
            <% end %>
          </span>
        <% else %>
          <%= button_to "Completed",
            stafftools_enterprise_reviewable_organization_upgrade_path(business),
            method: "patch",
            form_class: "mr-2",
            class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <%= will_paginate businesses, param_name: page_param_name %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No enterprises upgraded from organizations to show.
    <% end %>
  <% end %>
<% end %>
