<% if organization_invitations.any? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |box| %>
    <% organization_invitations.each do |invitation| %>
      <% box.with_row(
        display: :flex,
        align_items: :center,
        test_selector: "invitation-#{invitation.id}"
      ) do %>
        <div class="mr-3">
          <%= avatar_for invitation.invitee, 24, class: "avatar", alt: invitation.invitee.name %>
        </div>

        <div class="flex-auto">
          <span class="text-bold color-fg-default">
            <%= link_to invitation.invitee.safe_profile_name, stafftools_user_path(invitation.invitee), class: "Link--inTextBlock" %>
          </span>
          <p>
            Invitation to
            <%= link_to invitation.business.name, stafftools_enterprise_path(invitation.business.slug), class: "Link--inTextBlock" %>
            <% if invitation.completed? %>
              completed
            <% else %>
              confirmed
            <% end %>
          </p>
        </div>

        <% if invitation.completed? %>
          <span class="mr-2">
            Completed <%= time_ago_in_words_js invitation.completed_at %>
            <% if invitation.completed_by.present? %>
              by <%= link_to invitation.completed_by.login, stafftools_user_path(invitation.completed_by), class: "Link--inTextBlock" %>
            <% end %>
          </span>
        <% else %>
          <%= button_to "Mark completed",
            stafftools_enterprise_reviewable_organization_invitation_path(invitation.business, invitation.id),
            method: "patch",
            form_class: "mr-2",
            class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <%= will_paginate organization_invitations, param_name: page_param_name %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No enterprise organization invitations to show.
    <% end %>
  <% end %>
<% end %>
