<% complete_page ||= false %>
<% have_owners = owners.any? %>

<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search owners",
  form_url: stafftools_enterprise_owners_path(this_business)
) %>

<% if have_owners %>
  <div class="Box Box--condensed">
    <ul>
      <% owners.each do |owner| %>
        <li class="Box-row d-flex flex-items-center" <%= test_selector "li-owner-#{owner}" %>>
          <span class="flex-auto">
            <%= avatar_for owner, 20, class: :avatar %>
            <%= link_to owner.login, stafftools_user_path(owner.login) %>
          </span>
          <% unless GitHub.single_business_environment? || owner.is_first_emu_owner? %>
            <span>
              <%= render layout: "shared/details_dialog", locals: {
                  button_text: "Remove owner",
                  button_class: "btn btn-danger btn-sm",
                  details_class: "float-right",
                  title: "Remove owner?",
              } do %>
                <div class="Box-body overflow-auto">
                  <p class="m-0">
                    Are you sure that you want to remove owner <%= owner.login %>
                    from <%= this_business.name %>?
                  </p>
                  <p>
                    <%= form_tag stafftools_enterprise_owner_path(this_business, owner), method: :delete do %>
                      <% if complete_page %>
                        <input type="hidden" name="complete_page" value="1">
                      <% end %>
                      <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger, test_selector: "owner-remove-button-#{owner.display_login}") do %>
                        Remove owner <%= owner.login %>
                      <% end %>
                    <% end %>
                  </p>
                </div>
              <% end %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if complete_page %>
  <% more_owners_count = this_business.owners.count - owners.count %>
  <div class="paginate-container">
    <% if more_owners_count > 0 %>
      <div class="BtnGroup float-right">
        <%= render(Primer::Beta::Link.new(
          href: stafftools_enterprise_owners_path(this_business),
          ref: "nofollow"
        )) do %>
          View <%= more_owners_count %> more...
        <% end %>
      </div>&nbsp;
    <% end %>
  </div>
<% elsif have_owners %>
  <div class="paginate-container">
    <%= will_paginate owners %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No owners
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      for this enterprise.
    <% end %>
  <% end %>
<% end %>
