<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% complete_page ||= false %>
<% have_invitations = pending_owner_invitations.any? %>

<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search owner invitations",
  form_url: stafftools_enterprise_pending_owners_path(this_business)
) %>

<% if have_invitations %>
  <div class="Box Box--condensed">
    <ul>
      <% pending_owner_invitations.each do |invite| %>
        <% invitee = invite.invitee %>
        <li class="Box-row d-flex flex-items-center" <%= test_selector "li-invitation-#{invite.id}" %>>
          <div class="flex-auto">
            <% if invitee.present? %>
              <%= avatar_for invitee, 20, class: :avatar %>
              <%= link_to invitee.login, stafftools_user_path(invitee.login) %>
            <% else %>
              <%= primer_octicon(:mail, height: 20, color: :muted) %>
              <span><%= invite.email %></span>
            <% end %>
            <% if invite.times_reinvited > 0 %>
              (re-invited <%= pluralize invite.times_reinvited.to_i, "time" %>)
            <% end %>
          </div>

          <div class="mr-2">
            Invited <%= time_ago_in_words_js(invite.updated_at) %>
          </div>

          <div>
            <%= render layout: "shared/details_dialog", locals: {
              button_text: "Cancel",
              button_class: "btn btn-sm btn-danger",
              title: "Cancel invitation?",
            } do %>
              <div class="Box-body overflow-auto">
                <p class="m-0">
                  Are you sure that you want to cancel the invitation for
                  <% if invitee.present? %>
                    <%= invitee.login %>
                  <% else %>
                    <%= invite.email %>
                  <% end %>
                  to become an owner of <%= this_business.name %>?
                </p>
                <p>
                  <%= form_tag stafftools_enterprise_pending_owner_path(this_business, invite.id), method: :delete do %>
                    <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Cancel invitation<% end %>
                  <% end %>
                </p>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if complete_page %>
  <% more_invitations_count = \
    this_business.pending_admin_invitations(role: [:owner]).count - pending_owner_invitations.count %>
  <div class="paginate-container">
    <% if more_invitations_count > 0 %>
      <div class="BtnGroup float-right">
        <a rel="nofollow" class="btn BtnGroup-item"
           href="<%= stafftools_enterprise_pending_owners_path(this_business) %>">View <%= more_invitations_count %> more...</a>
      </div>&nbsp;
    <% end %>
  </div>
<% elsif have_invitations %>
  <div class="paginate-container">
    <%= will_paginate pending_owner_invitations %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No pending owner invitations
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      for this enterprise.
    <% end %>
  <% end %>
<% end %>
