<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if scim_managed_enterprise?(this_business) || !GitHub.single_business_environment? %>
  <%= render Primer::Beta::Subhead.new(spacious: spacious) do |component| %>
    <% component.with_heading(tag: :h2) do %>Single sign-on<% end %>
  <% end %>
  <p class="color-fg-muted">
    <% if this_business.saml_provider.present? %>
      <%= primer_octicon(:"shield-lock", mr: 2) %>
      SAML single sign-on is <strong>enabled</strong> for the enterprise.
    <% elsif this_business.oidc_provider.present? %>
      <%= primer_octicon(:"shield-lock", mr: 2) %>
      OIDC single sign-on is <strong>enabled</strong> for the enterprise.
    <% else %>
      <%= primer_octicon(:x, mr: 2) %>
      Single sign-on is <strong>disabled</strong> for the enterprise.
    <% end %>
  </p>

  <% if this_business.saml_provider.present? %>
    <div class="Box Box--condensed mt-3">
      <div class="Box-header">
        <h3 class="Box-title">
          SAML Identity Provider settings
        </h3>
      </div>
      <ul>
        <li class="Box-row">
          <strong>Sign on URL</strong>
          <div class="mt-2">
            <pre><%= this_business.saml_provider.sso_url %></pre>
          </div>
        </li>
        <li class="Box-row">
          <strong>Issuer</strong>
          <div class="mt-2">
            <pre><%= this_business.saml_provider.issuer %></pre>
          </div>
        </li>
        <li class="Box-row">
          <strong>Public certificate</strong>
          <div class="mt-2">
            <pre><%= this_business.saml_provider.idp_certificate %></pre>
          </div>
        </li>
        <li class="Box-row">
          <strong>Public certificate validity dates</strong>
          <%= render Stafftools::SamlProvider::CertificateDatesComponent.new(certificate: this_business.saml_provider.idp_certificate) %>
        </li>
        <li class="Box-row">
          <strong>Public certificate issuer</strong>
          <%= render Stafftools::SamlProvider::CertificateIssuerComponent.new(certificate: this_business.saml_provider.idp_certificate, classes: 'mt-2') %>
        </li>
        <li class="Box-row">
          <strong>Public certificate subject</strong>
          <%= render Stafftools::SamlProvider::CertificateSubjectComponent.new(certificate: this_business.saml_provider.idp_certificate, classes: 'mt-2') %>
        </li>
        <li class="Box-row">
          <strong>Signature method</strong>
          <div class="mt-2">
            <pre><%= this_business.saml_provider.signature_method %></pre>
          </div>
        </li>
        <li class="Box-row">
          <strong>Digest method</strong>
          <div class="mt-2">
            <pre><%= this_business.saml_provider.digest_method %></pre>
          </div>
        </li>
      </ul>
    </div>

    <% unless this_business.enterprise_managed_user_enabled? %>
      <div class="Box Box--condensed mt-3" <%= test_selector("provisioning_settings_selector")%>>
        <div class="Box-header">
          <h3 class="Box-title">
            Provisioning settings
          </h3>
        </div>
        <ul>
          <% if GitHub.flipper[:enterprise_idp_provisioning].enabled?(this_business) %>
            <li class="Box-row">
              <strong <%= test_selector "enterprise_idp_selector" %>>Enterprise IdP provisioning</strong>
              <div class="mt-2">
                <p class="color-fg-muted">
                    Enabled
                </p>
              </div>
            </li>
          <% end %>
          <li class="Box-row">
            <strong>SAML user provisioning</strong>
            <div class="mt-2">
              <p class="color-fg-muted">
                <% if this_business.saml_provider.provisioning_enabled? %>
                  Enabled
                <% else %>
                  Disabled
                <% end %>
              </p>
            </div>
          </li>
          <li class="Box-row">
          <strong>SAML user deprovisioning</strong>
          <div class="mt-2">
              <p class="color-fg-muted">
                <% if this_business.saml_provider.saml_deprovisioning_enabled? %>
                  Enabled
                <% else %>
                  Disabled
                <% end %>
              </p>
            </div>
          </li>
          <li class="Box-row">
            <strong>SCIM user provisioning and deprovisioning</strong>
            <div class="mt-2">
              <p class="color-fg-muted">
                <% if this_business.external_provider&.scim_provisioning_state_enabled? %>
                  Enabled
                <% else %>
                  Disabled
                <% end %>
              </p>
            </div>
          </li>
        </ul>
      </div>
    <% end %>

    <div class="Box Box--condensed mt-3">
      <div class="Box-header">
        <h3 class="Box-title">
          SAML members
        </h3>
      </div>
      <ul>
        <li class="Box-row">
          <%= link_to pluralize(this_business.linked_external_members_count, "linked member"), linked_external_members_stafftools_enterprise_external_identities_path(this_business) %>
        </li>

        <li class="Box-row">
          <%= link_to pluralize(this_business.unlinked_external_members_count, "unlinked member"), unlinked_external_members_stafftools_enterprise_external_identities_path(this_business) %>
        </li>

        <li class="Box-row" <%= test_selector "unlinked-external-identities" %>>
          <%= link_to pluralize(this_business.unlinked_external_identities_count, "unlinked external identity"), unlinked_external_identities_stafftools_enterprise_external_identities_path(this_business) %>
        </li>

        <% unless this_business.external_provider&.scim_provisioning_state_enabled? %>
          <li class="Box-row">
            <%= link_to pluralize(this_business.linked_saml_orgs.count, "linked organization"), linked_saml_orgs_stafftools_enterprise_external_identities_path(this_business) %>
          </li>
        <% end %>
      </ul>
    </div>

    <% unless this_business.enterprise_server_scim_enabled? %>
      <div class="Box Box--danger mt-3">
        <div class="Box-row">
          <%= render layout: "shared/details_dialog", locals: {
            button_text: "Disable SAML SSO",
            button_class: "btn btn-danger",
            details_class: "float-right mt-1",
            title: "Disable SAML SSO?",
          } do %>
            <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
              Please ensure appropriate authorization has been obtained before
              disabling SAML SSO.
            <% end %>
            <div class="Box-body overflow-auto">
              <p>
                If SAML SSO is disabled, the SAML Identity Provider configuration
                will be removed and will need to be re-entered by an enterprise
                owner if they want to re-enable SAML SSO.
              </p>
              <%= form_tag stafftools_enterprise_external_provider_path(this_business),
                method: :delete do %>
                <dl class="form-group">
                  <dt><label for="reason">Reason for disabling</label></dt>
                  <dd>
                    <input class="form-control" type="text" name="reason" id="reason"
                      placeholder="Please provide an explanation for the audit log." autofocus>
                  </dd>
                </dl>
                <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger) do %>Disable SAML SSO<% end %>
              <% end %>
            </div>
          <% end %>

          <div class="listgroup-item-title">Remove SAML Identity Provider</div>
          <div class="listgroup-item-body">
            This will completely disable and remove the SAML Identity Provider configuration
            for the enterprise. Please be certain.
          </div>
        </div>
      </div>
    <% end %>
  <% elsif this_business.oidc_provider.present? %>
    <div class="Box Box--condensed mt-3">
      <div class="Box-header">
        <h3 class="Box-title">
          OIDC Identity Provider settings
        </h3>
      </div>
      <ul>
        <li class="Box-row">
          <strong>Tenant Id</strong>
          <div class="mt-2">
            <pre><%= this_business.oidc_provider.tenant_id %></pre>
          </div>
        </li>
        <li class="Box-row">
          <strong>IdP Provider</strong>
          <div class="mt-2">
            <pre><%= this_business.oidc_provider.oidc_provider %></pre>
          </div>
        </li>
      </ul>
    </div>

    <div class="Box Box--condensed mt-3">
      <div class="Box-header">
        <h3 class="Box-title">
          OIDC members
        </h3>
      </div>
      <ul>
        <li class="Box-row">
          <%= link_to pluralize(this_business.linked_external_members.count, "linked member"), linked_external_members_stafftools_enterprise_external_identities_path(this_business) %>
        </li>

        <li class="Box-row">
          <%= link_to pluralize(this_business.unlinked_external_members.count, "unlinked member"), unlinked_external_members_stafftools_enterprise_external_identities_path(this_business) %>
        </li>

        <li class="Box-row" <%= test_selector "unlinked-external-identities" %>>
          <%= link_to pluralize(this_business.unlinked_external_identities_count, "unlinked external identity"), unlinked_external_identities_stafftools_enterprise_external_identities_path(this_business) %>
        </li>
      </ul>
    </div>

    <% unless this_business.enterprise_server_scim_enabled? %>
      <div class="Box Box--danger mt-3">
        <div class="Box-row">
          <%= render layout: "shared/details_dialog", locals: {
            button_text: "Disable OIDC SSO",
            button_class: "btn btn-danger",
            details_class: "float-right mt-1",
            title: "Disable OIDC SSO?",
          } do %>
            <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
              Please ensure appropriate authorization has been obtained before
              disabling OIDC SSO.
            <% end %>
            <div class="Box-body overflow-auto">
              <p>
                If OIDC SSO is disabled, the OIDC Identity Provider configuration
                will be removed and and the enterprise owner will need to re-authenticate
                with an IdP if they want to re-enable OIDC SSO.
              </p>
              <%= form_tag stafftools_enterprise_external_provider_path(this_business),
                method: :delete do %>
                <dl class="form-group">
                  <dt><label for="reason">Reason for disabling</label></dt>
                  <dd>
                    <input class="form-control" type="text" name="reason" id="reason"
                      placeholder="Please provide an explanation for the audit log." autofocus>
                  </dd>
                </dl>
                <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger) do %>Disable OIDC SSO<% end %>
              <% end %>
            </div>
          <% end %>

          <div class="listgroup-item-title">Remove OIDC Identity Provider</div>
          <div class="listgroup-item-body">
            This will completely disable and remove the OIDC Identity Provider configuration
            for the enterprise. Please be certain.
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if this_business.enterprise_managed_user_enabled? %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>Single sign-on settings<% end %>
    <% end %>

    <p class="color-fg-muted" <%= test_selector "sso-automatically-redirect-users" %>>
      <% if this_business.sso_redirect_enabled? %>
        <%= primer_octicon(:check, mr: 2) %>
        Automatically redirect users to sign in is <strong>enabled</strong> for this enterprise.
      <% else %>
        <%= primer_octicon(:x, mr: 2) %>
        Automatically redirect users to sign in is <strong>disabled</strong> for this enterprise.
      <% end %>
    </p>

    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>Open SCIM Configuration<% end %>
    <% end %>

    <p class="color-fg-muted" <%= test_selector "open-scim-configuration" %>>
      <% if this_business.open_scim_enabled? %>
        <%= primer_octicon(:check, mr: 2) %>
        Open SCIM configuration is <strong>enabled</strong> for this enterprise.
      <% else %>
        <%= primer_octicon(:x, mr: 2) %>
        Open SCIM configuration is <strong>disabled</strong> for this enterprise.
      <% end %>
    </p>
  <% end %>

  <% if this_business.saml_sso_enabled? %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>Team synchronization<% end %>
    <% end %>
    <p class="color-fg-muted">
      <% if this_business.team_sync_enabled? %>
        <%= primer_octicon(:check, mr: 2) %>
        Team synchronization is <strong>enabled</strong> for this enterprise.
        <div class="Box">
          <div class="Box-row">
            <div class="text-small pr-3 d-inline">
              <strong><%= this_business.team_sync_tenant.provider_type %></strong>
              <code class="color-fg-muted"><%= this_business.team_sync_tenant.provider_id %></code><br>
            </div>
          </div>
        </div>

        <br>Team Sync <strong><%= this_business.team_sync_tenant.forbid_organization_invites? ? "cannot" : "can" %></strong> re-invite past members to this organization that were removed by an organization owner
      <% else %>
        <%= primer_octicon(:x, mr: 2) %>
        Team synchronization is <strong>disabled</strong> for this enterprise.
      <% end %>
    </p>
  <% end %>
<% end %>
