<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if GitHub.spamminess_check_enabled? %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Spam<% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(mb: 4)) do |box| %>
    <% box.with_row do %>
      <% if this_business.spammy? %>
        <%= form_with url: stafftools_enterprise_spam_path(this_business), method: :delete do |f| %>
          <%= render Primer::ButtonComponent.new(type: :submit, float: :right) do %>
            Clear spam flag
          <% end %>
        <% end %>
        <%= form_with url: allowlist_stafftools_enterprise_spam_path(this_business), method: :post do |f| %>
          <%= render Primer::ButtonComponent.new(type: :submit, float: :right, mr: 2) do %>
            Clear and allowlist
          <% end %>
        <% end %>
        <h4>Spam flag</h4>
        <p>
          This enterprise is currently marked as <strong>spammy</strong>
          <% if spam_flag_timestamp(this_business) %>
            [<%= time_ago_in_words spam_flag_timestamp(this_business) %> ago].
          <% end %>
          <div>Reason: <%= autolink_spammy_reason(this_business.spammy_reason) %></div>
        </p>
      <% else %>
        <%= render(Primer::Experimental::Dialog.new(
          dialog_id: "flag-enterprise-#{this_business.id}-spammy",
          header_variant: :large,
          width: :large,
          title: "Flag #{this_business} as spam",
          form_url: stafftools_enterprise_spam_path(this_business),
          form_method: :post
        )) do |c| %>
          <% c.with_show_button(float: :right) do |s| %>
            Flag as spam
          <% end %>
          <% c.with_body do %>
            <% if this_business&.plan&.paid? %>
              <p>
                This account is currently on a paid plan, please be certain that they are posting
                spammy content. For other issues consider using a ToS violation or account
                suspension instead.
              </p>
              <p>
                This action will only hide the account’s content and prevent notifications.
                Refunds and voids will not be automatically created, future charges will still be
                processed, and the account’s billing plan be not be changed.
              </p>
              <%= hidden_field_tag "paid_confirm", true %>
            <% end %>
            <p>
              Please provide a reason for flagging this enterprise as spam.
            </p>
            <dl class="form-group">
              <dt><label for="reason">Reason for flagging as spam</label></dt>
              <dd>
                <input
                  class="form-control"
                  type="text"
                  name="reason"
                  id="reason"
                  placeholder="Any relevant links are helpful"
                  autofocus>
              </dd>
            </dl>
          <% end %>
          <% c.with_button(data: { "close-dialog-id": "flag-enterprise-#{this_business.id}-spammy" }) { "Cancel" } %>
          <% c.with_button(
            type: :submit,
            scheme: :danger,
            data: { "disable-with": "" } ) do %>
            Flag as spam
          <% end %>
        <% end %>

        <p>
          This enterprise is currently marked as <strong>not spammy</strong>.
          <% if this_business.hammy? %>
            They have also been <strong>allowlisted</strong> from automatically being flagged as
            spam.
          <% end %>
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
