<% if businesses.any? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mt: 4)) do |box| %>
    <% businesses.each do |business| %>
      <% box.with_row(display: :flex, align_items: :center,
        test_selector: "enterprise-trial-#{business.id}") do %>
        <div class="mr-3">
          <%= avatar_for business, 32, class: "avatar", alt: business.name %>
        </div>

        <div class="flex-auto">
          <span class="text-bold color-fg-default">
            <%= link_to business.name, stafftools_enterprise_path(business.slug) %>
            <% if business.downgraded_to_free_plan? %>
              <%= render Primer::Beta::Label.new(scheme: :danger, title: "Downgraded") do %>
                Downgraded
              <% end %>
            <% end %>
            <% if business.suspended? %>
              <%= render Primer::Beta::Label.new(scheme: :danger, title: "Suspended") do %>
                Suspended
              <% end %>
            <% end %>
            <% if business.upgraded? %>
              <%= render Primer::Beta::Label.new(scheme: :success, title: "Org Upgraded") do %>
                Org Upgraded
              <% end %>
            <% end %>
            <% if business.metered_ghe? %>
              <%= render Primer::Beta::Label.new(scheme: :accent, title: "Metered GHE") do %>
                Metered GHE
              <% end %>
            <% end %>
            <% if business.enterprise_managed? %>
              <%= render Primer::Beta::Label.new(scheme: :done, title: "EMU") do %>
                EMU
              <% end %>
            <% end %>
          </span>
          <p class="f6 color-fg-muted">
            Created on <%= business.created_at.strftime("%Y-%m-%d") %>
            <% if business.staff_owned? %>
              <%= render(Primer::Beta::Octicon.new(:"person")) %> Staff owned
            <% end %>
          </p>
        </div>
        <span class="mr-2">
          <% if business.trial? %>
            Expire<%= business.trial_expired? ? "d" : "s" %> on
            <%= business.trial_expires_at.strftime("%Y-%m-%d") %>

            <% if business.extended_trial? %>
              (Extended)
            <% end %>
          <% elsif business.trial_cancelled? %>
            Cancelled on <%= business.trial_completed_at.strftime("%Y-%m-%d") %>
          <% elsif business.trial_converted? %>
            Converted on <%= business.trial_completed_at.strftime("%Y-%m-%d") %>
          <% end %>
        </span>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <%= will_paginate businesses, param_name: page_param_name %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No enterprises
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      to show.
    <% end %>
  <% end %>
<% end %>
