<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Trial account<% end %>
<% end %>

<div class="mb-6">
  <% if show_trial_actions?(this_business) %>
    <div class="Box">
      <% if this_business.trial_cancelled? || this_business.trial_expired? %>
        <div class="Box-row">
          <%= render GitHub::DialogComponent.new(title: "Reset trial for #{this_business.name}") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
            <% dialog.with_summary do %>
              <%= render Primer::Beta::Button.new(
                float: :right,
                mt: 1,
                tag: :summary,
                scheme: :danger,
                inline: true,
              ) do %>
                Reset trial
              <% end %>
            <% end %>
            <% dialog.with_body do %>
              <p>
               Trial will be reset on this enterprise account for another <strong>30 days</strong>. If this
                duration requires adjustment, edit the trial expiration date after reset is applied.
              </p>
            <% end %>
            <% dialog.with_footer do %>
              <%= form_tag stafftools_enterprise_trials_path(this_business), method: :patch do %>
                <input type="hidden" name="operation" value="reset">
                <%= render Primer::Beta::Button.new(
                  type: :submit,
                  scheme: :primary,
                  classes: "btn-large",
                  "data-disable-with": ""
                ) do %>
                  Confirm trial account reset
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <div class="listgroup-item-title">Reset trial</div>
          <div class="listgroup-item-body">
            Re-starts the trial period for this account.
          </div>
        </div>
      <% end %>

      <div class="Box-row">
        <%= render GitHub::DialogComponent.new(title: "Upgrade trial for #{this_business.name}") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
          <% dialog.with_summary do %>
            <%= render Primer::Beta::Button.new(
              float: :right,
              mt: 1,
              tag: :summary,
              scheme: :primary,
              inline: true,
            ) do %>
              Complete trial
            <% end %>
          <% end %>
          <% dialog.with_body do %>
            <p>This unlocks all features and converts the trial account to a full account with invoiced payments.</p>
          <% end %>
          <% dialog.with_footer do %>
            <%= form_tag stafftools_enterprise_trials_path(this_business), method: :patch do %>
              <input type="hidden" name="operation" value="convert">
              <%= render Primer::Beta::Button.new(
                type: :submit,
                scheme: :primary,
                classes: "btn-large",
                "data-disable-with": ""
              ) do %>
                Confirm trial account upgrade
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <div class="listgroup-item-title">Upgrade trial account</div>
        <div class="listgroup-item-body">
          Upgrade the account to a full, invoice paying, Enterprise account.
        </div>
      </div>

      <% if !this_business.trial_expired? && !this_business.trial_cancelled? %>
        <div class="Box-row">
          <%= render GitHub::DialogComponent.new(title: "Extend trial for #{this_business.name}") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
            <% dialog.with_summary do %>
              <%= render Primer::Beta::Button.new(
                float: :right,
                mt: 1,
                tag: :summary,
                scheme: :primary,
                inline: true,
              ) do %>
                Extend trial
              <% end %>
            <% end %>
            <% dialog.with_body do %>
              <p>
                This extends the trial period by
                <%= pluralize(Billing::EnterpriseCloudTrial.trial_length.in_days.to_i, "day") %>.
              </p>
            <% end %>
            <% dialog.with_footer do %>
              <%= form_tag stafftools_enterprise_trials_path(this_business), method: :patch do %>
                <input type="hidden" name="operation" value="extend">
                <%= render Primer::Beta::Button.new(
                  type: :submit,
                  scheme: :primary,
                  classes: "btn-large",
                  "data-disable-with": ""
                ) do %>
                  Confirm trial extension
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <div class="listgroup-item-title">Extend trial</div>
          <div class="listgroup-item-body">
            Extends the trial period by
            <%= pluralize(Billing::EnterpriseCloudTrial.trial_length.in_days.to_i, "day") %>.
          </div>
        </div>
        <div class="Box-row">
          <%= render GitHub::DialogComponent.new(title: "Expire trial for #{this_business.name}") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
            <% dialog.with_summary do %>
              <%= render Primer::Beta::Button.new(
                float: :right,
                mt: 1,
                tag: :summary,
                scheme: :danger,
                inline: true,
              ) do %>
                Expire trial
              <% end %>
            <% end %>
            <% dialog.with_body do %>
              <p>When you expire the trial the following will happen:</p>
              <ul class="ml-3">
                <li>
                  All enterprise functionality for the <%= this_business.name %>
                  enterprise will be disabled.
                </li>
                <li>
                  Owners or billing managers can still complete the trial either by
                  completing self-serve payment or contacting Sales.
                </li>
                <li>
                  All invited organizations will be <strong>removed</strong> from the
                  enterprise and have their previous plan restored.
                </li>
              </ul>
            <% end %>
            <% dialog.with_footer do %>
              <%= form_tag stafftools_enterprise_trials_path(this_business), method: :patch do %>
                <input type="hidden" name="operation" value="expire">
                <%= render Primer::Beta::Button.new(
                  type: :submit,
                  scheme: :danger,
                  classes: "btn-large",
                  "data-disable-with": ""
                ) do %>
                  Confirm trial expiration
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <div class="listgroup-item-title">Expire trial account</div>
          <div class="listgroup-item-body">
            Marks the trial account as expired and removes all invited organizations from the enterprise.
          </div>
        </div>
        <div class="Box-row">
          <%= render GitHub::DialogComponent.new(title: "Cancel trial for #{this_business.name}") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
            <% dialog.with_summary do %>
              <%= render Primer::Beta::Button.new(
                float: :right,
                mt: 1,
                tag: :summary,
                scheme: :danger,
                inline: true,
              ) do %>
                Cancel trial
              <% end %>
            <% end %>
            <% dialog.with_body do %>
              <p>When you cancel the trial the following will happen:</p>
              <ul class="ml-3">
                <li>All administrators will lose access to the <%= this_business.name %> enterprise.</li>
                <li>All organizations will be removed from the account, and their plan changed to free.</li>
              </ul>
            <% end %>
            <% dialog.with_footer do %>
              <%= form_tag stafftools_enterprise_trials_path(this_business), method: :patch do %>
                <input type="hidden" name="operation" value="cancel">
                <%= render Primer::Beta::Button.new(
                  type: :submit,
                  scheme: :danger,
                  classes: "btn-large",
                  "data-disable-with": ""
                ) do %>
                  Confirm trial cancellation
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <div class="listgroup-item-title">Cancel trial account</div>
          <div class="listgroup-item-body">
            Cancels the trial account, removing access for all admins, users and organizations.
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
