<% if businesses.any? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mt: 4)) do |box| %>
    <% businesses.each do |business| %>
      <% box.with_row(display: :flex, align_items: :center,
        test_selector: "self_serve_upgrade") do %>
        <div class="mr-3" <%= test_selector("business-#{business.id}") %>>
          <%= avatar_for business, 32, class: "avatar", alt: business.name %>
        </div>

        <div class="flex-auto">
          <span class="text-bold color-fg-default">
            <%= link_to business.name, stafftools_enterprise_path(business.slug) %>
            <% if business.downgraded_to_free_plan? %>
              <%= render Primer::Beta::Label.new(scheme: :danger, title: "Downgraded") do %>
                Downgraded
              <%end%>
            <% end %>
            <% if business.suspended? %>
              <%= render Primer::Beta::Label.new(scheme: :danger, title: "Suspended") do %>
                Suspended
              <%end%>
            <% end %>
          </span>
          <p class="f6 color-fg-muted">
            Created on <%= business.created_at.strftime("%Y-%m-%d") %>
            <% if business.staff_owned? %>
              <%= render(Primer::Beta::Octicon.new(:"person")) %> Staff owned
            <% end %>
          </p>
        </div>

        <span class="mr-2">
          <% if business.deleted? %>
            Deleted on <%= business.deleted_at.strftime("%Y-%m-%d") %>
          <% end %>
        </span>
        <span class="mr-2">
          <% case business.trial_completion_status %>
            <% when "no_trial_or_active_trial", "organization_upgrade_completed" %>
              Completed
            <% when "organization_upgrade_initiated" %>
              Initiated
            <% when "organization_upgrade_purchase_initiated" %>
              Payment in progress
            <% when "organization_direct_upgraded" %>
              Directly upgraded
          <% end %>
        </span>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <%= will_paginate businesses %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No enterprises
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      to show.
    <% end %>
  <% end %>
<% end %>
