<% view = Businesses::QueryView.new(query: query) %>
<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to stafftools_enterprise_user_namespace_repositories_path(this_business),
      class: "issues-reset-query" do %>
      <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<% if repositories.any? %>
  <div class="gutter d-flex">
    <div class="col-9">
      <div>
        <div class="d-flex table-list-header table-list-header-next mt-0">
          <span class="table-list-heading table-list-header-meta flex-auto">
            <%= number_with_delimiter repositories.total_entries %>
            <%= pluralize_without_number repositories.total_entries, "User namespace repository" %>
          </span>
        </div>
        <ul class="table-list table-list-bordered">
          <% repositories.each do |repository| %>
            <li class="d-flex flex-justify-between border border-top-0 p-3">
              <div class="d-flex">
                <div class="d-flex flex-column">
                  <div class="d-flex f4" <%= test_selector("user-namespace-repository") %> >
                    <% if repository.private? %>
                      <%= primer_octicon(:lock, height: 18, color: :muted, mr: 2, mt: 1) %>
                    <% else %>
                      <%= primer_octicon(:repo, height: 18, color: :muted, mr: 2, mt: 1) %>
                    <% end %>
                    <%= repository.name_with_display_owner %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>

        <div class="paginate-container">
          <%= will_paginate repositories %>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h3) do %>
      No matching user namespace repositories in this enterprise.
    <% end %>
  <% end %>
<% end %>
