<% page_info title: business.name, selected_link: :business_organizations %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Deleted organizations<% end %>
<% end %>

<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search organizations",
  form_url: stafftools_enterprise_deleted_organizations_path(this_business)
) %>

<% if organizations.any? %>
  <div class="Box Box--condensed">
    <ul>
      <% organizations.each do |org| %>
        <li class="Box-row d-flex flex-items-center" <%= test_selector "li-org-#{org.id}" %>>
          <span class="flex-auto">
            <%= avatar_for org, 20, class: :avatar %>
            <%= link_to org.login, stafftools_user_path(org.login) %>
          </span>
          <% unless GitHub.single_business_environment? || business.enterprise_managed_user_enabled? %>
            <span>
              <%= render(Primer::Alpha::Dialog.new(
                button_text: "Restore organization",
                button_class: "btn btn-sm mr-1",
                details_class: "float-right",
                dialog_class: "overflow-visible",
                title: "Restore organization?",
                test_selector: "restore-org-button"
              )) do |dialog| %>
                <% dialog.with_show_button(scheme: :default) do %>
                  Restore
                <% end %>
                <%= render(Primer::Alpha::Dialog::Body.new) do %>
                    Are you sure that you want to restore organization <b><%= org.login %></b> from <b><%= business.name %></b>?
                <% end %>
                <%= render(Primer::Alpha::Dialog::Body.new) do %>
                  <% legal_hold = LegalHold.where(user_id: org.id).any? %>
                  <%= form_tag stafftools_user_restorations_path do %>
                    <input type="hidden" name="was_org" value="true">
                    <input type="hidden" name="email" value="<%= org.billing_email %>">
                    <input type="hidden" name="id" value="<%= org.id %>">
                    <input type="hidden" name="login" value="<%= org.login %>">
                    <input type="hidden" name="plan" value="<%= org.plan&.name %>">
                    <input type="hidden" name="return_to" value="<%= stafftools_enterprise_organizations_path(business) %>">

                    <%= render Primer::Beta::Button.new(type: :submit, scheme: :default) do %>Restore<% end %>
                  <% end %>
                <% end %>
              <% end %>
            </span>
            <%= render Stafftools::Organizations::PurgeOrganizationDialogComponent.new(organization: org, with_show_button: true) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate organizations %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No organizations
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      in this enterprise.
    <% end %>
  <% end %>
<% end %>
