<% page_info title: "#{transfer_direction.upcase_first} organization transfers · #{this_business.name}", selected_link: :business_organizations %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= transfer_direction.upcase_first %> organization transfers
  <% end %>
<% end %>

<% if transfers.any? %>
  <p>
    <% case transfer_direction %>
    <% when "initiated" %>
      These are the organization transfers started from within this enterprise account.
    <% when "received" %>
      These are the organization transfers received into this enterprise account.
    <% end %>
  </p>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
    <% transfers.each do |transfer| %>
      <% component.with_row(test_selector: "transfer-#{transfer.id}") do %>
        <div class="d-flex flex-items-center">
          <div class="col-9">
            <div>
              <% if transfer.actor %>
                <%= render GitHub::AvatarComponent.new actor: transfer.actor, mr: 1 %>
                <%= link_to transfer.actor, stafftools_user_path(transfer.actor) %>
              <% else %>
                <%= render Primer::Beta::Octicon.new(icon: :person, mr: 1) %>
                Unknown user
              <% end %>

              <% if transfer.completed? %>
                transferred
              <% elsif transfer.failed? %>
                attempted to transfer
              <% else %>
                started transferring
              <% end %>

              <% if transfer.organization %>
                <%= render GitHub::AvatarComponent.new actor: transfer.organization, mx: 1 %>
                <%= link_to transfer.organization, stafftools_user_path(transfer.organization) %>
              <% else %>
                <%= render Primer::Beta::Octicon.new(icon: :organization, mx: 1) %>
                unknown organization
              <% end %>

              <% case transfer_direction %>
              <% when "initiated" %>
                to
                <% if transfer.to_business %>
                  <%= render GitHub::AvatarComponent.new actor: transfer.to_business, mx: 1 %>
                  <%= link_to transfer.to_business, stafftools_enterprise_path(transfer.to_business) %>
                <% else %>
                  <%= render Primer::Beta::Octicon.new(icon: :briefcase, mx: 1) %>
                  unknown enterprise
                <% end %>
              <% when "received" %>
                from
                <% if transfer.from_business %>
                  <%= render GitHub::AvatarComponent.new actor: transfer.from_business, mx: 1 %>
                  <%= link_to transfer.from_business, stafftools_enterprise_path(transfer.from_business) %>
                <% else %>
                  <%= render Primer::Beta::Octicon.new(icon: :briefcase, mx: 1) %>
                  unknown enterprise
                <% end %>
              <% end %>

              <% if transfer.site_admin_transfer? %>
                <%= render(Primer::Beta::Label.new(
                  scheme: :attention,
                  test_selector: "site-admin-transfer-#{transfer.id}"
                )) { "via site admin" } %>
              <% end %>

              <% if transfer.completed? %>
                <%= time_ago_in_words_js(transfer.completed_at) %>
              <% elsif transfer.failed? %>
                <%= time_ago_in_words_js(transfer.failed_at) %>
              <% else %>
                <%= time_ago_in_words_js(transfer.created_at) %>
              <% end %>
            </div>
          </div>
          <div class="col-3">
            <% if transfer.completed? %>
              <div class="float-right">
                <%= render(Primer::Beta::Label.new(scheme: :success, mr: 2)) { "Completed" } %>
              </div>
            <% elsif transfer.failed? %>
              <div class="float-right">
                <%= render(Primer::Beta::Label.new(scheme: :danger, mr: 2)) { "Failed" } %>
              </div>
            <% else %>
              <div class="d-flex flex-items-center float-right">
                <div class="mr-2">
                  <%= render(Primer::Alpha::Dialog.new(
                    title: "Mark transfer as failed",
                    id: "mark-transfer-failed-#{transfer.id}",
                  )) do |d| %>
                    <% d.with_show_button(
                      size: :small,
                      scheme: :danger,
                      "data-disable-invalid": "",
                      "data-disable-with": "Mark failed"
                    ) { "Mark failed" } %>
                    <% d.with_header(show_divider: true) do %>
                        Mark transfer as failed?
                    <% end %>
                    <% d.with_body do %>
                      <p>
                        If the transfer is stuck, you can mark it as failed to allow the transfer
                        to be retried.
                      </p>
                    <% end %>
                    <% d.with_footer(show_divider: true) do %>
                      <%= render(Primer::Beta::Button.new(
                        data: { "close-dialog-id": "mark-transfer-failed-#{transfer.id}" }
                      )) { "Cancel" } %>

                      <%= form_with(
                        url: stafftools_enterprise_organization_transfer_path(this_business, transfer),
                        method: :patch) do |form| %>
                        <input type="hidden" name="mark_as_failed" value="true">
                        <%= render(Primer::Beta::Button.new(
                          type: :submit,
                          scheme: :danger,
                          "data-disable-invalid": "",
                          "data-disable-with": "Marking as failed..."
                        )) { "Mark as failed" } %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
                <div class="float-right">
                  <%= render(Primer::Beta::Label.new(scheme: :attention, mr: 2)) { "Started" } %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="mt-2">
          <% if transfer.failed? %>
            <%= render(Primer::Beta::Octicon.new(icon: :x, color: :danger, mr: 1)) %>
            <% if transfer.failed_reason %>
              <%= transfer.failed_reason %>
            <% else %>
              No failure reason reported.
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <%= will_paginate transfers %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      <%= "No #{transfer_direction} transfers." %>
    <% end %>
  <% end %>
<% end %>
