<% page_info title: "#{invitation_status.to_s.upcase_first} organization invitations · #{this_business.name}", selected_link: :business_organizations %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %><%= invitation_status.to_s.upcase_first %> organization invitations<% end %>
<% end %>

<% if invitations.any? %>
  <p>
    <% case invitation_status %>
    <% when :created %>
      These invitations are waiting on an organization administrator to accept the invitation.
    <% when :accepted %>
      These invitations are waiting on an enterprise owner to confirm the invitation.
    <% when :confirmed %>
      These invitations have already been confirmed by an enterprise owner.
    <% end %>
  </p>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
    <% invitations.each do |invitation| %>
      <% component.with_row(display: :flex, test_selector: "invitation-#{invitation.id}") do %>
          <span class="flex-auto">
            <%= avatar_for invitation.invitee, 20, class: :avatar %>
            <%= link_to invitation.invitee.login, stafftools_user_path(invitation.invitee.login) %>
          </span>
          <span>
            <% if %i(created accepted).include? invitation.status %>
              Expires
              <%if invitation.status == :created %>
                <%= time_ago_in_words_js(
                  invitation.created_at + BusinessOrganizationInvitation::INVITATION_EXPIRY_PERIOD.days) %>.
              <% elsif invitation.status == :accepted %>
                <%= time_ago_in_words_js(
                  invitation.accepted_at + BusinessOrganizationInvitation::INVITATION_EXPIRY_PERIOD.days) %>.
              <% end %>
              <% if invitation.last_reminded_at.present? %>
                Last reminded <%= time_ago_in_words_js(invitation.last_reminded_at) %>.
              <% end %>
            <% elsif invitation.confirmed? %>
              Confirmed <%= time_ago_in_words_js(invitation.confirmed_at) %>.
            <% end %>
          </span>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <%= will_paginate invitations %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      <%= "No #{invitation_status} invitations." %>
    <% end %>
  <% end %>
<% end %>
