<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= link_to "People", stafftools_enterprise_people_path(this_business) %>
    / <%= outside_collaborators_verbiage(this_business).capitalize %>
  <% end %>
<% end %>

<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search #{outside_collaborators_verbiage(this_business)}",
  form_url: this_business&.emu_repository_collaborators_enabled? ?
    stafftools_enterprise_repository_collaborators_path(this_business) :
    stafftools_enterprise_outside_collaborators_path(this_business)
) %>

<% if outside_collaborators.any? %>
  <div class="Box Box--condensed">
    <ul>
      <% outside_collaborators.each do |outside_collaborator| %>
        <li class="Box-row d-flex flex-items-center"
          <%= test_selector "outside-collaborator-#{outside_collaborator.id}" %>>
          <span class="flex-auto">
            <%= avatar_for outside_collaborator, 20, class: :avatar %>
            <%= link_to outside_collaborator.login, stafftools_user_path(outside_collaborator.login) %>
            <% unless this_business&.emu_repository_collaborators_enabled? %>
              <span class="color-fg-muted text-small">
                <% if private_outside_collaborator_ids.include?(outside_collaborator.id) %>
                  (has private access)
                <% else %>
                  (only public access)
                <% end %>
              </span>
            <% end %>
          </span>
          <span>
            <%= pluralize outside_collaborator.outside_collaborator_repositories(business: this_business).count, "repository" %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate outside_collaborators %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No <%= outside_collaborators_verbiage(this_business) %>
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      in this enterprise.
    <% end %>
  <% end %>
<% end %>
