<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= link_to "People", stafftools_enterprise_people_path(this_business) %>
    / Pending billing manager invitations
  <% end %>
<% end %>

<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search billing manager invitations",
  form_url: stafftools_enterprise_pending_billing_managers_path(this_business)
) %>

<% if pending_billing_manager_invitations.any? %>
  <div class="Box Box--condensed">
    <ul>
      <% pending_billing_manager_invitations.each do |invite| %>
        <% invitee = invite.invitee %>
        <li class="Box-row d-flex flex-items-center" <%= test_selector "li-invitation-#{invite.id}" %>>
          <div class="flex-auto">
            <% if invitee.present? %>
              <%= avatar_for invitee, 20, class: :avatar %>
              <%= link_to invitee.login, stafftools_user_path(invitee.login) %>
            <% else %>
              <%= primer_octicon(:mail, height: 20, color: :muted) %>
              <span><%= invite.email %></span>
            <% end %>
          </div>

          <div>
            Invited <%= time_ago_in_words_js(invite.updated_at) %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate pending_billing_manager_invitations %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No pending billing manager invitations
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      for this enterprise.
    <% end %>
  <% end %>
<% end %>
