<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= link_to "People", stafftools_enterprise_people_path(this_business) %>
    / Pending collaborators
  <% end %>
<% end %>

<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search pending collaborators",
  form_url: stafftools_enterprise_pending_collaborators_path(this_business)
) %>

<% if pending_collaborator_invitations.any? %>
  <div class="Box Box--condensed">
    <ul>
      <% pending_collaborator_invitations.each do |invitation| %>
        <li class="Box-row d-flex flex-items-center"
          <%= test_selector "pending-collaborator-#{invitation.id}" %>>
          <% if invitee = invitation.invitee %>
            <span class="flex-auto">
              <%= avatar_for invitee, 20, class: :avatar %>
              <%= link_to invitee.login, stafftools_user_path(invitee.login) %>
            </span>
          <% else %>
            <span class="flex-auto">
              <%= primer_octicon(:mail, height: 20, color: :muted) %>
              <%= invitation.email %>
            </span>
          <% end %>
          <span>
            Invited to
            <%= link_to invitation.repository.name_with_owner,
              gh_stafftools_repository_path(invitation.repository) %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate pending_collaborator_invitations %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No pending collaborators
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      in this enterprise.
    <% end %>
  <% end %>
<% end %>
