<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::Beta::Subhead.new do |component| %>
	<% component.with_heading(tag: :h2) do %>People<% end %>
  <% unless GitHub.enterprise? %>
    <% component.with_actions do %>
      <% content_tag(:div, class: ["ml-3"]) do %>
        <%= form_tag people_export_stafftools_enterprise_path(this_business.slug),
          method: :post,
          class: "js-members-download-form" do %>
          <%= render Primer::ButtonComponent.new(
            id: "download-members-csv",
            test_selector: "csv-report-button",
            size: :medium,
            ml: 2,
            type: :submit,
            classes: "js-members-download-btn") do |c| %>
            <% c.with_leading_visual_icon(icon: :download) %>
            CSV report
          <% end %>
        <% end %>
        <%= render Primer::ButtonComponent.new(id: "download-members-csv-spinner", size: :medium, ml: 2, disabled: true, hidden: true, classes: "js-members-generating") do %>
          <%= render Primer::Beta::Spinner.new(size: :small, mr: 1, vertical_align: :text_bottom) %>
          CSV report
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="Box Box--condensed">
  <ul>
    <li class="Box-row d-flex flex-items-center" <%= test_selector("stafftools-member-link") %>>
      <span class="flex-auto">
        <%= link_to "Members", stafftools_enterprise_members_path(this_business) %>
      </span>
      <span>
        <%= number_with_delimiter members_count %>
        <%= pluralize_without_number members_count, "member" %>
      </span>
    </li>
    <% if scim_managed_enterprise?(this_business) %>
      <li class="Box-row d-flex flex-items-center" <%= test_selector("stafftools-suspended-member-link") %>>
        <span class="flex-auto">
          <%= link_to "Suspended members", stafftools_enterprise_suspended_members_path(this_business) %>
        </span>
        <span>
          <%= number_with_delimiter suspended_members_count %>
          <%= pluralize_without_number suspended_members_count, "member" %>
        </span>
      </li>
    <% end %>
    <% unless GitHub.single_business_environment? %>
      <li class="Box-row d-flex flex-items-center">
        <span class="flex-auto">
          <%= link_to "Pending members", stafftools_enterprise_pending_members_path(this_business) %>
        </span>
        <span>
          <%= number_with_delimiter pending_members_count %>
          <%= pluralize_without_number pending_members_count, "pending member" %>
        </span>
      </li>
      <li class="Box-row d-flex flex-items-center">
        <span class="flex-auto">
          <%= link_to "Visual Studio subscription license assignments", stafftools_enterprise_bundled_license_assignments_path(this_business) %>
        </span>
        <span>
          <%= number_with_delimiter bundled_license_assignments_count %> total
          (<%= number_with_delimiter assigned_license_assignments_count %> linked, <%= number_with_delimiter unassigned_license_assignments_count %> unlinked)
        </span>
      </li>
    <% end %>
    <% if this_business&.emu_repository_collaborators_enabled? %>
      <li class="Box-row d-flex flex-items-center" <%= test_selector("stafftools-repository-collaborators-link") %>>
        <span class="flex-auto">
            <%= link_to "Repository collaborators", stafftools_enterprise_repository_collaborators_path(this_business) %>
        </span>
        <span>
          <%= number_with_delimiter repository_collaborators_count %>
          <%= pluralize_without_number repository_collaborators_count, "member" %>
        </span>
      </li>
    <% end  %>
    <% if this_business.enterprise_managed_user_enabled? %>
      <li class="Box-row d-flex flex-items-center" <%= test_selector("stafftools-guest-collaborators-link") %>>
        <span class="flex-auto">
            <%= link_to "Guest Collaborators", stafftools_enterprise_guest_collaborators_path(this_business) %>
        </span>
        <span>
          <%= number_with_delimiter guest_collaborators_count %>
          <%= pluralize_without_number guest_collaborators_count, "member" %>
        </span>
      </li>
    <% end  %>
    <% unless this_business.enterprise_managed_user_enabled? %>
      <li class="Box-row d-flex flex-items-center" <%= test_selector("stafftools-public-outside-collaborators-link") %>>
        <span class="flex-auto">
          <%= link_to "Public #{outside_collaborators_verbiage(this_business)}", stafftools_enterprise_outside_collaborators_path(this_business) %>
          <span class="f6 color-fg-muted">(do not count towards license count)</span>
        </span>
        <span>
          <%= number_with_delimiter public_outside_collaborators_count %>
          <%= pluralize_without_number public_outside_collaborators_count, "public #{outside_collaborators_verbiage(this_business).singularize}" %>
        </span>
      </li>
      <li class="Box-row d-flex flex-items-center" <%= test_selector("stafftools-private-outside-collaborators-link") %>>
        <span class="flex-auto">
          <%= link_to "Private #{outside_collaborators_verbiage(this_business)}", stafftools_enterprise_outside_collaborators_path(this_business) %>
        </span>
        <span>
          <%= number_with_delimiter private_outside_collaborators_count %>
          <%= pluralize_without_number private_outside_collaborators_count, "private #{outside_collaborators_verbiage(this_business).singularize}" %>
        </span>
      </li>
      <% unless GitHub.single_business_environment? %>
        <li class="Box-row d-flex flex-items-center" <%= test_selector("stafftools-pending-outside-collaborators-link") %>>
          <span class="flex-auto">
            <%= link_to "Pending collaborators", stafftools_enterprise_pending_collaborators_path(this_business) %>
          </span>
          <span>
            <%= number_with_delimiter pending_outside_collaborators_count %>
            <%= pluralize_without_number pending_outside_collaborators_count, "pending collaborator" %>
          </span>
        </li>
      <% end %>
    <% end %>
    <% unless GitHub.single_business_environment? %>
      <li class="Box-row d-flex flex-items-center">
        <span class="flex-auto">
          <%= link_to "Support entitled members", stafftools_enterprise_support_entitlees_path(this_business) %>
        </span>
        <span>
          <%= number_with_delimiter support_entitlees_count %>
          <%= pluralize_without_number support_entitlees_count, "Support entitled members" %>
        </span>
      </li>
      <li class="Box-row d-flex flex-items-center">
        <span class="flex-auto">
          <%= link_to "Billing managers", stafftools_enterprise_billing_managers_path(this_business) %>
        </span>
        <span>
          <%= number_with_delimiter billing_managers_count %>
          <%= pluralize_without_number billing_managers_count, "billing manager" %>
        </span>
      </li>
      <li class="Box-row d-flex flex-items-center">
        <span class="flex-auto">
          <%= link_to "Pending billing manager invitations", stafftools_enterprise_pending_billing_managers_path(this_business) %>
        </span>
        <span>
          <%= number_with_delimiter pending_billing_managers_invitations_count %>
          <%= pluralize_without_number pending_billing_managers_invitations_count, "pending billing manager invitation" %>
        </span>
      </li>
    <% end %>
    <li class="Box-row d-flex flex-items-center">
      <span class="flex-auto">
        <%= link_to "Owners", stafftools_enterprise_owners_path(this_business) %>
      </span>
      <span>
        <%= number_with_delimiter owners_count %>
        <%= pluralize_without_number owners_count, "owner" %>
      </span>
    </li>
    <% unless GitHub.single_business_environment? %>
      <li class="Box-row d-flex flex-items-center">
        <span class="flex-auto">
          <%= link_to "Pending owner invitations",
            stafftools_enterprise_pending_owners_path(this_business) %>
        </span>
        <span>
          <%= number_with_delimiter pending_owner_invitations_count %>
          <%= pluralize_without_number pending_owner_invitations_count, "pending owner invitation" %>
        </span>
      </li>
      <li class="Box-row d-flex flex-items-center">
        <span class="flex-auto">
          <%= link_to "Expired owner invitations",
            stafftools_enterprise_expired_owner_invitations_path(this_business) %>
        </span>
        <span>
          <%= number_with_delimiter expired_owner_invitations_count %>
          <%= pluralize_without_number expired_owner_invitations_count, "expired owner invitation" %>
        </span>
      </li>
      <li class="Box-row d-flex flex-items-center" <%= test_selector("stafftools-unaffiliated-member-link") %>>
        <span class="flex-auto">
          <%= link_to "Unaffiliated members", stafftools_enterprise_unaffiliated_members_path(this_business) %>
        </span>
        <span>
          <% if this_business.supports_unaffiliated_user_accounts? %>
            <%= number_with_delimiter unaffiliated_count %>
            <%= pluralize_without_number unaffiliated_count, "unaffiliated member" %>
          <% else %>
            Not supported
          <% end %>
        </span>
      </li>
    <% end %>
    <% unless user_namespace_repositories_count.nil? %>
      <li class="Box-row d-flex flex-items-center" <%= test_selector("user-namespace-repositories-link") %>>
        <span class="flex-auto">
          <%= link_to "User namespaced repositories",
            stafftools_enterprise_user_namespace_repositories_path(this_business) %>
        </span>
        <span>
          <%= number_with_delimiter user_namespace_repositories_count %>
          <%= pluralize_without_number user_namespace_repositories_count, "user namespaced repository" %>
        </span>
      </li>
    <% end %>
  </ul>
</div>

<% unless GitHub.enterprise? %>
  <% if user_dormancy_reports.any?(&:in_progress?) %>
    <poll-include-fragment src="<%= user_dormancy_reports_url %>">
      <%= render partial: "businesses/settings/dormant_users_export/index", locals: {
        business: this_business,
        for_stafftools: true,
        reports: user_dormancy_reports,
        reports_url: user_dormancy_reports_url
      }%>
    </poll-include-fragment>
  <% else %>
    <%= render partial: "businesses/settings/dormant_users_export/index", locals: {
      business: this_business,
      for_stafftools: true,
      reports: user_dormancy_reports,
      reports_url: user_dormancy_reports_url
    }%>
  <% end %>
<% end %>
