<% slack_channel_link = "https://github.slack.com/archives/C017CT2GN30" %>
<% page_info title: "#{business.name} - Security center" %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Resync Security Center Enterprise Data<% end %>
<% end %>

<%= render(Primer::Alpha::Banner.new(scheme: :warning, mt: 3, test_selector: "business-security-center-resync-warning")) do %>
    <p>Please let <%= safe_link_to "#security-overview", slack_channel_link, target: "_blank" %> know why you're resync'ing so we can work to fix any underlying issues.</p>
    <p>These buttons are safe to trigger, and the jobs should only take a few minutes to complete.</p>
<% end %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3, test_selector: "business-organizations-reconciliation-job")) do |component| %>
  <% component.with_body(p: 2, display: :flex, justify_content: :space_between) do %>
    <%= render(Primer::Box.new) do %>
      <%= render(Primer::Beta::Heading.new(tag: :h4)) { "Trigger reconciliation job for Organizations" } %>
      <p>Triggers the ReconciliationJob on all organizations in the enterprise for all features.</p>
    <% end %>
    <%= render(Primer::Box.new) do %>
      <%= form_tag security_center_reconciliation_job_stafftools_enterprise_path(business), method: :post do %>
        <%= render Primer::Alpha::TextField.new(name: "entity_type", label: "Entity Type", hidden: true, value: "org") %>
        <%= render Primer::Beta::Button.new(type: :submit) do %>Run reconciliation job<% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if business.enterprise_managed? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3, test_selector: "business-users-reconciliation-job")) do |component| %>
    <% component.with_body(p: 2, display: :flex, justify_content: :space_between) do %>
      <%= render(Primer::Box.new) do %>
        <%= render(Primer::Beta::Heading.new(tag: :h4)) { "Trigger reconciliation job for Users" } %>
        <p>Triggers the ReconciliationJob on all Enterprise Managed Users (EMUs) in the enterprise for all features.</p>
      <% end %>
      <%= render(Primer::Box.new) do %>
        <%= form_tag security_center_reconciliation_job_stafftools_enterprise_path(business), method: :post do %>
          <%= render Primer::Alpha::TextField.new(name: "entity_type", label: "Entity Type", hidden: true, value: "user") %>
          <%= render Primer::Beta::Button.new(type: :submit) do %>Run reconciliation job<% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
