<% page_info title: "Self-Serve Billing Upgraded Organizations", selected_link: :self_serve_upgrades %>
<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Self-Serve Billing Upgraded Organizations<% end %>
  <% end %>

  <div class="form-group">
    <%= form_with url: self_serve_organization_upgrades_stafftools_enterprises_path, method: "get" do |form| %>
      <% filter.map do |key, _| %>
        <%= form.hidden_field "filter[#{key}]", id: :filter, value: filter[key] %>
      <% end %>
      <%= form.text_field :query, id: :query, class: "form-control", placeholder: "Find enterprise by name or slug", value: query %>
      <%= render Primer::Beta::Button.new(type: :submit, position: :relative, display: :inline_block) do %>Search<% end %>
    <% end %>
    <div class="pb-2 mt-3 table-list-header-toggle d-flex flex-wrap">
      <%= render "stafftools/businesses/filters/owned_by", filter: filter, query: query, tab: nil %>
      <%= render "stafftools/businesses/filters/upgrade_state", filter: filter, query: query, tab: nil %>
      <%= render "stafftools/businesses/filters/creation_date", filter: filter, query: query, tab: nil %>
    </div>
    <% if query.present? || filter.present? %>
      <div class="mt-2">
        <%= render(Primer::Beta::Link.new(href: self_serve_organization_upgrades_stafftools_enterprises_path)) do %>
          <%= render(Primer::Beta::Octicon.new(:x)) %>
          Clear filters
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render "stafftools/businesses/upgraded_orgs", businesses: businesses, page: current_page %>
<% end %>
