<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: this_business.name, selected_link: :business_overview %>

<%= render(Primer::Alpha::Layout.new(stacking_breakpoint: :lg, gutter: :condensed, mb: 6)) do |component| %>
  <% component.with_main(p: 2) do %>

    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Enterprise details<% end %>
      <% component.with_actions do %>
        <% unless GitHub.single_business_environment? %>
          <%= link_to "Edit enterprise", edit_stafftools_enterprise_path(this_business), class: "btn" %>
        <% end %>
      <% end %>
    <% end %>

    <table class="stafftools-table">
      <tr>
        <th <%= test_selector "business-name" %>>Name</th>
        <td>
          <%= this_business.name %>
          <% if this_business.suspended? %>
            <%= render Primer::Beta::Label.new(scheme: :danger, title: "Suspended") do %>
              Suspended
            <%end%>
          <% end %>
          <small>
            &ndash;
            <%= link_to "View profile", enterprise_path(this_business) %>
          </small>
        </td>
      </tr>
      <tr>
        <th>Slug</th>
        <td>
          <%= this_business.slug %>
          <small>
            &ndash;
            <%= stafftools_selected_link_to \
              "Search audit logs",
              stafftools_audit_log_path(
                query: this_business.site_admin_audit_log_query(driftwood_ade: driftwood_ade_query?(current_user))
              ) %>
          </small>
        </td>
      </tr>
      <tr>
        <th>ID</th>
        <td><%= this_business.id %></td>
      </tr>
      <tr>
        <th>Created</th>
        <td><%= this_business.created_at %></td>
      </tr>
      <tr>
        <th>Organizations</th>
        <td><%= this_business.organizations.count %></td>
      </tr>

      <% unless GitHub.single_business_environment? %>
        <% unless this_business.customer.blank? %>
          <tr>
            <th>Customer ID</th>
            <td><%= this_business.customer.id %></td>
          </tr>
        <% end %>
        <% if this_business.upgraded_from.present? %>
          <tr>
            <th>Upgraded from organization: </th>
            <td><%= link_to this_business.upgraded_from, stafftools_user_path(this_business.upgraded_from.login) %></td>
          </tr>
          <tr>
            <th>Upgraded from organization's previous plan: </th>
            <% if this_business.upgraded_from_plan.present? %>
              <td><%= this_business.upgraded_from_plan %></td>
            <% else %>
              <td><%= link_to "Previous plan not saved, view history instead", stafftools_user_billing_history_path(this_business.upgraded_from.login) %></td>
            <% end %>
          </tr>
        <% elsif this_business.upgrade_initiated_from_organization.present? %>
          <tr>
            <th>Upgrading organization: </th>
            <td><%= link_to this_business.upgrade_initiated_from_organization, stafftools_user_path(this_business.upgrade_initiated_from_organization.login) %></td>
          </tr>
        <% end %>
        <% if this_business.upgrade_status(this_business).present? %>
          <tr>
            <th>Upgrade status</th>
            <td>
              <%= this_business.upgrade_status(this_business) %>
            </td>
          </tr>
        <% end %>
        <tr>
          <th> GitHub Startups Program </th>
          <td><%= this_business.part_of_startup_program? ? (this_business.startups_program&.status&.titleize || "Yes") : "No" %></td>
        </tr>
        <tr>
          <th>Reseller customer</th>
          <td><%= this_business.reseller_customer? ? "Yes" : "No" %></td>
        </tr>
        <tr>
          <th <%= test_selector("emu-business-indicator") %>>Enterprise managed user enabled? (EMU)</th>
          <td><%= this_business.enterprise_managed_user_enabled? ? "Yes" : "No" %></td>
        </tr>
        <% if this_business.enterprise_managed_user_enabled? %>
          <tr>
            <th <%= test_selector("emu-business-shortcode") %>>EMU shortcode</th>
            <td><%= this_business.shortcode %></td>
          </tr>
        <% end %>
        <tr>
          <th>Seats plan type</th>
          <td <%= test_selector("seats-plan-type") %>><%= this_business.seats_plan_basic? ? "Basic (#{Copilot.business_product_name} for non-GHEC)" : "Full" %></td>
        </tr>
        <% if this_business.seats_plan_basic? %>
          <tr>
            <th>Max Copilot Seats</th>
            <td <%= test_selector("max-copilot-seats") %>><%= this_business.copilot_max_seats %></td>
          </tr>
        <% end %>
        <% if this_business.sales_serve_plan_subscription&.education_bundle? %>
          <tr>
            <th>Education bundle</th>
            <td>
              <%= this_business.sales_serve_plan_subscription.education_bundle %>
            </td>
          </tr>
        <% end %>
        <tr>
          <th>Support plan</th>
          <td><%= "#{this_business.humanize_support_plan} (#{this_business.support_plan_source})" %></td>
        </tr>
        <tr>
          <th colspan="100%" class="text-center pt-5 pb-2">Licensing</th>
        </tr>
        <tr>
          <th>GHE licensing model</th>
          <td <%= test_selector("ghe-licensing-model-value") %>>
            <%= this_business.metered_plan? ? "Metered" : "Volume" %>
          </td>
        </tr>
        <% if this_business.trial? %>
          <tr>
            <th>GHE trial</th>
            <td <%= test_selector("ghe-trial-value") %>>
              Active
            </td>
          </tr>
        <% end %>
        <tr>
          <th>GHAS licensing model</th>
          <td <%= test_selector("ghas-licensing-model-value") %>>
            <% if !this_business.advanced_security_purchased_for_entity? %>
              Not enabled
            <% else %>
              <%= this_business.advanced_security_metered_for_entity? ? "Metered" : "Volume" %>
            <% end %>
          </td>
        </tr>
        <% if this_business.has_active_advanced_security_trial? %>
          <tr>
            <th>GHAS trial</th>
            <td <%= test_selector("ghas-trial-value") %>>
              Active
            </td>
          </tr>
        <% end %>
        <tr>
          <th colspan="100%" class="text-center pt-5 pb-2">Billing</th>
        </tr>
        <tr>
          <th>Type</th>
          <td <%= test_selector("billing-type-value") %>>
            <%= this_business.billing_type.to_s.capitalize.presence || "Not set" %>
            <% if this_business.only_for_copilot? %>
              (GHEC for Copilot only)
            <% end %>
          </td>
        </tr>
        <% unless this_business.invoiced? %>
          <tr>
            <th>Payment method</th>
            <td>
              <% if !this_business.has_credit_card? && !this_business.has_paypal_account? %>
                Not set
              <% else %>
                <%= render Billing::Settings::CardDetailsComponent.new(payment_method: this_business.payment_method) %>
                <%= render Billing::Settings::PaypalDetailsComponent.new(payment_method: this_business.payment_method) %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <th>Invoice term end date</th>
          <td>
            <%= this_business.billing_term_ends_on %>
            &ndash;
            Note: This date does not impact customer access to the enterprise and owned organizations.
          </td>
        </tr>
        <% if (customer = this_business.customer)&.zuora_account_id.present? %>
          <tr>
            <th>Zuora account</th>
            <td>
              <a href="<%= zuora_account_url_for_customer(customer) %>">
                <%= customer.zuora_account_id %>
              </a>
            </td>
          </tr>
        <% end %>
        <tr>
          <th>Azure subscription ID</th>
          <td>
            <%= this_business.customer&.azure_subscription_id.presence || "Not set" %>
          </td>
        </tr>
        <tr>
          <th>Billing email</th>
          <td><%= this_business.billing_email %></td>
        </tr>
        <tr>
          <th>Enterprise Web business ID</th>
          <td>
            <% if this_business.enterprise_web_business_id.present? %>
              <%= link_to \
                this_business.enterprise_web_business_id,
                enterprise_web_business_url(this_business.enterprise_web_business_id) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Licenses</th>
          <td>
            See the
            <%= link_to "licensing page", stafftools_enterprise_licensing_path(this_business),  class: "Link--inTextBlock" %>
            for licensing details.
          </td>
        </tr>
        <tr>
          <th>Git LFS data</th>
          <td>
            <include-fragment
              src="<%= stafftools_enterprise_git_lfs_usage_path(this_business) %>"
              loading="lazy">
              Loading...
              <%= render(Primer::Beta::Spinner.new(size: :small)) %>
            </include-fragment>
          </td>
        </tr>
        <% if this_business.past_due_invoice? %>
          <tr>
            <th>
              <%= primer_octicon(:shield, color: :danger) %>
              <span class="sr-only">Warning</span>
            </th>
            <td <%= test_selector("overdue-invoice-text") %>>
              This customer has an overdue invoice.
            </td>
          </tr>
        <% end %>
        <tr>
          <th colspan="100%" class="text-center pt-5 pb-2">Trade compliance</th>
        </tr>
        <%= render Stafftools::TradeCompliance::BusinessAccountOverviewComponent.new(target: this_business) %>
        <tr>
          <th colspan="100%" class="text-center pt-5 pb-2">Features</th>
        </tr>
        <tr>
          <th>LFS self service</th>
          <td><%= this_business.can_self_serve? ? "Yes" : "No" %></td>
        </tr>
        <tr>
          <th>Advanced Security enabled</th>
          <td><%= this_business.advanced_security_purchased_for_entity? ? "Yes" : "No" %></td>
        </tr>
        <% if this_business.advanced_security_metered_for_entity? %>
          <tr>
            <th>Advanced Security via metered billing</th>
            <td>Yes</td>
          </tr>
        <% end %>
        <% if this_business.advanced_security_purchased_for_entity? %>
          <tr>
            <th>Advanced Security seats</th>
            <td>
              <%= this_business.advanced_security_license.consumed_seats %> / <% if this_business.advanced_security_seats_for_entity > 0 %>
                <%= this_business.advanced_security_seats_for_entity %>
              <% else %>
                Unlimited
              <% end %>
              &ndash;
              <%= link_to 'CSV', download_active_committers_stafftools_advanced_security_path(this_business.slug) %>
            </td>
          </tr>
        <% end %>
        <tr>
          <th>Pre-release?</th>
          <td>
            <% if this_business.prerelease_agreement.present? %>
              Yes &ndash; agreement signed
              <% if this_business.prerelease_agreement.actor.present? %>
                by
                <%= link_to \
                  this_business.prerelease_agreement.actor.login,
                  stafftools_user_path(this_business.prerelease_agreement.actor),
                  class: "Link--inTextBlock" %>
              <% end %>
              on <%= this_business.prerelease_agreement.created_at %>
              &ndash;
              <small>
                <%= link_to \
                  "view agreement changelog",
                  "https://github.com/github/help-docs/commits/master/content/dotcom/articles/github-pre-release-program.md",
                   class: "Link--inTextBlock"
                %>
              </small>
            <% else %>
              No
            <% end %>
          </td>
        </tr>
        <tr>
          <th <%= test_selector("source-ip-disclosure") %>>Source IP Disclosure enabled?</th>
          <td><%= this_business.source_ip_disclosure_enabled? ? "Yes" : "No" %></td>
        </tr>
        <tr>
          <th>Audit log stream enabled</th>
          <td><%= this_business.audit_log_stream_configurations&.first&.enabled? ? "Yes" : "No" %></td>
        </tr>
        <tr>
          <th>Audit log API request events enabled</th>
          <td><%= this_business.api_request_events_enabled? ? "Yes" : "No" %></td>
        </tr>
        <tbody>
          <tr>
            <th colspan="100%" class="text-center pt-5 pb-2">Terms Of Service</th>
          </tr>
          <tr>
            <th>Type</th>
            <td><%= this_business.terms_of_service_type_description %></td>
          </tr>
          <tr>
            <th>Notes</th>
            <td><%= this_business.terms_of_service_notes_html %></td>
          </tr>
          <tr>
            <th>Company name</th>
            <td><%= this_business.terms_of_service_company_name %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% end %>

  <% component.with_sidebar(col_placement: :end, row_placement: :start, p: 2) do %>
    <% if this_business.pinned_staff_note? %>
      <%= render(Primer::Beta::Flash.new(
        icon: :alert,
        scheme: :warning,
        p: 2
      )) { "Pinned staff note" } %>
    <% end %>

    <% if this_business.recent_staff_note? %>
      <%= render(Primer::Beta::Flash.new(
        icon: :check,
        scheme: :warning,
        p: 2
      )) { "Recent staff note" } %>
    <% end %>

    <% unless GitHub.single_business_environment? %>
      <%= render Primer::Beta::BorderBox.new(padding: :condensed, mb: 2) do |bb| %>
        <% bb.with_header do |header| %>
          <% header.with_title(tag: :h2) { "Trial details" } %>
        <% end %>
        <% if !this_business.eligible_for_trial? %>
          <% bb.with_body do %>
            Not eligible for a trial
          <% end %>
        <% else %>
          <% trial_status = trial_status(this_business) %>
          <% if trial_status.present? %>
            <% bb.with_row do %>
              <%= trial_status %>
            <% end %>
          <% end %>
          <% bb.with_row do %>
            <% if this_business.trial? %>
              Trial expire<%= this_business.trial_expired? ? "d" : "s" %> on
              <%= this_business.trial_expires_at.strftime("%Y-%m-%d") %>
              <% if this_business.extended_trial? %>
                (Extended)
              <% end %>
            <% elsif trial_status.blank? %>
              No trial
            <% else %>
              Trial <%= trial_status.downcase %> on
              <%= this_business.trial_completed_at.strftime("%Y-%m-%d") %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= render Primer::Beta::BorderBox.new(padding: :condensed, mb: 2) do |bb| %>
        <% bb.with_header do |header| %>
          <% header.with_title(tag: :h2) { "Trade screening" } %>
        <% end %>
        <% bb.with_body do %>
          <%= render Primer::Beta::Text.new(tag: "span") do %>
            Trade restrictions: <%= this_business.humanize_trade_screening_status(
              authorized_staffer: stafftools_action_authorized?(
                controller: Stafftools::TradeCompliance::TradeScreeningRecordsController,
                action: :index,
              )
            )%>
          <% end %>
        <% end %>
      <% end %>

      <%= render Primer::Beta::BorderBox.new(padding: :condensed, mb: 2) do |bb| %>
        <% bb.with_header do |header| %>
          <% header.with_title(tag: :h2) { "Billing status" } %>
        <% end %>
        <%
            [
              Stafftools::Billing::BillingSystemComponent.new(billable_entity: this_business, tag: :div),
              Stafftools::Billing::AddressValidatedStatusComponent.new(billable_entity: this_business, tag: :div),
              Stafftools::Billing::PaymentMethodStatusComponent.new(billable_entity: this_business, tag: :div),
              Stafftools::Billing::PaymentHistoryStatusComponent.new(billable_entity: this_business, tag: :div),
              Stafftools::Billing::LockStatusComponent.new(billable_entity: this_business, tag: :div),
              Stafftools::Billing::PaymentStatusComponent.new(billable_entity: this_business, tag: :div),
              Stafftools::Billing::AutopayStatusComponent.new(billable_entity: this_business, tag: :div),
              Stafftools::TradeCompliance::TradeRestrictionStatusComponent.new(billable_entity: this_business, tag: :div),
              Stafftools::TradeCompliance::SpammyRestrictionStatusComponent.new(billable_entity: this_business, tag: :div),
              Stafftools::Billing::MeteredServicesStatusComponent.new(billable_entity: this_business, tag: :div),
              Stafftools::Billing::MeteredViaAzureStatusComponent.new(billable_entity: this_business, tag: :div),
            ].each do |status_component|
        %>
          <% if status_component.render? %>
            <% bb.with_row do %>
              <%=
                render(status_component) # rubocop:disable GitHub/RailsViewRenderLiteral
              %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render Stafftools::AdvancedSecurity::SubscriptionItemComponent.new(business: this_business, mb: 6) %>

<%= render Businesses::SeatLimits::ListSeatLimitsComponent.new(business: this_business) %>

<% unless GitHub.single_business_environment? %>
  <%= render "stafftools/businesses/enterprise_agreements" %>

  <%= render(Stafftools::StaffNotesComponent.new(notable: this_business)) %>

  <%= render "stafftools/businesses/spam" %>

  <% if show_trial_actions?(this_business) %>
    <%= render partial: "stafftools/businesses/trial_actions" %>
  <% end %>

  <%= render partial: "stafftools/businesses/danger_zone" %>
<% end %>
