<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= link_to "People", stafftools_enterprise_people_path(this_business) %>
    / Support entitled members
  <% end %>
<% end %>

<p>
Support entitled members are granted access at <a class="Link--inTextBlock" href="<%= GitHub.contact_support_url(tags: "dotcom-support-entitlements") %>">support.github.com</a> to
view support tickets for their Enterprise, submitted by themselves and their colleagues. Enterprise administrators
and Billing managers also have this support entitlement, but are not listed on this page.
</p>

<% if support_entitlees.any? %>
  <div class="Box Box--condensed">
    <ul>
      <% support_entitlees.each do |user| %>
        <li class="Box-row d-flex flex-items-center">
          <span class="flex-auto" <%= test_selector "support-entitlee-#{user}" %>>
            <% if user.present? %>
              <%= avatar_for user, 20, class: :avatar %>
              <%= link_to user.login, stafftools_user_path(user) %>
            <% else %>
              <%= primer_octicon(:person, height: 20, color: :muted) %>
              <%= user.login %>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No support entitled members in this enterprise.
    <% end %>
  <% end %>
<% end %>
