<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= link_to "People", stafftools_enterprise_people_path(this_business) %>
    / Suspended members
  <% end %>
<% end %>

<% if suspended_members.any? %>
  <div class="Box Box--condensed" <%= test_selector("stafftools-suspended-member") %>>
    <ul>
      <% suspended_members.each do |suspended_member| %>
        <li class="Box-row d-flex flex-items-center">
          <span class="flex-auto">
            <%= render Primer::Beta::Avatar.new(src: suspended_member.primary_avatar_url, alt: suspended_member.login, size: 20, classes: :avatar) %>
            <%= link_to suspended_member.login, stafftools_user_path(suspended_member.login) %>
            <%= suspended_member.profile_name %>
          </span>
          <% if this_business.enterprise_managed_user_enabled? %>
            <span>
              <%= pluralize suspended_member.business_user_accounts.first.enterprise_organizations(current_user).count, "organization" %>,
              <%= pluralize suspended_member.business_user_accounts.first.user_enterprise_installations.count, "installation" %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate suspended_members %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No suspended members in this enterprise.
    <% end %>
  <% end %>
<% end %>
