<%= render(Primer::Beta::BorderBox.new(mt: 3, test_selector: "experiment")) do |component| %>
  <% component.with_header do %>
  <div class="d-flex">
    <div class="flex-1 col-9 d-flex flex-items-center">
        <b class="mr-2" <%= test_selector("experiment-name") %>> <%= experiment.name %> </b> <span <%= test_selector("experiment-variants-count") %>><%= experiment.variants.length %></span>&nbsp;variants
    </div>
    <div>
      <% if editable %>
        <%= render(Primer::Alpha::Dropdown.new(with_caret: true, w: :full, test_selector: "variants-select")) do |component| %>
          <% component.with_button(w: :full, display: :flex) do %>
            <span class="text-light mr-1">Override: </span>
              <%= render(Primer::Beta::Truncate.new(test_selector: "assigned-variant-override" )) { value } %>
          <% end %>
          <% component.with_menu(header: "Change assignment", w: :full) do |menu| %>
            <%= menu.with_item(display: :flex) do %>
                <%= render Stafftools::AzureExp::VariantMenuItemComponent.new(
                      experiment: experiment,
                      namespace: namespace,
                      variant: nil,
                      is_assigned: locally_assigned_variant.nil?
                    ) %>
              <% end %>

              <% experiment.variants.each do |variant| %>
                <%= menu.with_item(display: :flex) do %>
                  <%= render Stafftools::AzureExp::VariantMenuItemComponent.new(
                      experiment: experiment,
                      namespace: namespace,
                      variant: variant,
                      is_assigned: is_locally_assigned?(variant)
                    ) %>
                <% end %>
              <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

  <% experiment.variants.each do |variant| %>
    <% component.with_row(p: 0, display: :block, test_selector: "experiment-variant") do %>

      <details class="azure-exp-variant-box-accordion details-reset p-0 d-flex flex-items-center color-fg-muted">
        <summary class="Details-element">
          <div class="py-2 px-3 d-flex user-select-none flex-items-center">
            <div class="text-center mr-3 color-fg-muted text-small">
              <%= render(Primer::Beta::Octicon.new(icon: "chevron-right")) %>
            </div>
            <div class="d-flex flex-auto flex-justify-between flex-items-center">
              <div class="my-1 pr-3">
                <div <%= test_selector("accordion-menu-item-#{variant.name}")%> class="d-flex flex-md-row flex-column flex-items-baseline mb-1">
                  <div class="mr-2">
                    <b><%= variant.name %></b>
                  </div>
                  <div>
                    <% if is_assigned?(variant) %>
                      <%= render(Primer::Beta::Label.new(scheme: :success)) { "Assigned to you" } %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </summary>
        <p class="mx-3"><%= variant.details %></p>
        <div class="d-flex pb-4">
          <div class="flex-auto mb-n2 px-3 text-small">
            <%= render(Primer::Box.new(bg: :subtle, p: 3)) do %>
              <div class="col-12">
                <table class="text-left ml-1">
                  <tbody class="lh-condensed">
                    <% variant.parameters.each do |key, value| %>
                      <tr>
                        <td class="py-1"><b><%= key %></b></td>
                        <td class="py-1 pl-3"><%= value %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>
        </div>
      </details>
    <% end %>
  <% end %>
<% end %>
