<variant-menu-item class="width-full" data-action="click:variant-menu-item#assignVariant">
  <%= form_with url: azure_exp_local_assignments_path,
  method: :PUT,
  class: "width-full d-flex cursor-pointer",
  data: {
    turbo: true,
    target: "variant-menu-item.form"
  } do %>
    <%= hidden_field_tag(:namespace, namespace.name) %>
    <%= hidden_field_tag(:experiment, experiment.name) %>
    <%= hidden_field_tag(:variant, variant&.name) %>
    <div class="width-full d-flex">
      <div class="col-2 d-flex flex-items-center">
        <% if is_assigned %>
          <%= render(Primer::Beta::Octicon.new(:check, test_selector: "variant-menu-item-checked")) %>
        <% end %>
      </div>
      <div class="col-10 d-flex flex-items-center" <%= test_selector("variant-menu-item-label") %>>
        <%= label %>
      </div>
    </div>
  <% end %>
</variant-menu-item>
