<%= render Primer::Box.new(
  border: true,
  border_radius: 2,
  mb: 3,
  test_selector: "next-steps",
) do %>
  <%= render Primer::Beta::Details.new(reset: true, open: true, classes: "sponsors-foldable-details") do |component| %>
    <% component.with_summary(
      button: false,
      p: 3,
      width: :full,
      data: sponsors_button_hydro_attributes(
        :DASHBOARD_NEXT_STEPS_TOGGLE,
        sponsorable_login
      ).merge(test_selector_hash("next-steps-toggle")),
    ) do %>
      <div class="d-flex flex-row flex-justify-between">
        <div>
          <p class="text-bold mb-1">Next steps</p>
          <p>Here are some things you can do to grow your sponsorship</p>
        </div>
        <div class="pt-3">
          <%= render Primer::Beta::Octicon.new(icon: :fold, classes: "sponsors-fold") %>
          <%= render Primer::Beta::Octicon.new(icon: :unfold, classes: "sponsors-unfold") %>
        </div>
      </div>
    <% end %>
    <% component.with_body do %>
      <%= render Primer::Box.new do %>
        <div class="Box-row color-bg-subtle d-flex">
          <div class="mr-2">
            <%= render Primer::Beta::Octicon.new(icon: "repo", width: 16) %>
          </div>
          <div>
            <div class="text-bold mb-1">Enable the sponsor button</div>
            <p>
              The sponsor button is now live on
              <%= render Users::ProfileLinkComponent.new(
                login: sponsorable_login,
                font_weight: :bold,
                is_organization: for_organization?,
              ).with_content("@#{sponsorable_login}") %>’s
              <%= profile_type %> profile!

              You can also <%= funding_file_enabled? ? "customize" : "enable" %> the sponsor button on all
              <%= render Users::ProfileLinkComponent.new(
                login: sponsorable_login,
                font_weight: :bold,
                is_organization: for_organization?,
              ).with_content("@#{sponsorable_login}") %>’s
              repositories by

              <% if funding_file_enabled? %>
                <a class="Link--inTextBlock" href="<%= funding_yml_edit_url %>">editing the <code>.github/FUNDING.yml</code> file in <%= funding_file_repo.name_with_display_owner %></a>.
              <% else %>
                <a class="Link--inTextBlock" href="<%= helpers.docs_url("sponsors/funding-files") %>">creating and enabling a <code>.github/FUNDING.yml</code> file</a>.
              <% end %>
            </p>
            <div class="text-mono color-fg-muted text-small mb-1">
              Preview
            </div>
            <%= render Sponsors::SponsorButtonComponent.new(
              sponsorable: sponsorable_login,
              location: :DASHBOARD_NEXT_STEPS_PREVIEW_SPONSOR,
            ) %>
          </div>
        </div>

        <div class="Box-row color-bg-subtle d-flex">
          <div class="mr-2">
            <%= render Primer::Beta::Octicon.new(icon: "broadcast", width: 16) %>
          </div>
          <div>
            <div class="text-bold mb-1">Share it out</div>
            <p>
              Let others know that your Sponsors profile is now live by embedding the
              Sponsors widget on your personal websites or sharing out on social media.
            </p>
            <%= render(Sponsors::ShareButtonComponent.new(
              sponsorable_login: sponsorable_login,
              user: current_user,
              text: social_default_text,
              url_params: Sponsors::TrackingParameters.new(
                origin: Sponsors::TrackingParameters::SPONSORS_DASHBOARD_ORIGIN,
              ).to_h,
              data: sponsors_button_hydro_attributes(
                :DASHBOARD_SHARE,
                sponsorable_login,
              )
            )) %>
            <%= render(Sponsors::Dashboard::EmbedComponent.new(sponsors_listing: sponsors_listing)) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
