<% if show_incomplete_required_steps? %>
  <%= render Primer::Box.new(
    border: true,
    border_radius: 2,
    mb: 4,
    test_selector: "incomplete-required-steps",
  ) do %>
    <% if incomplete_required_steps_header_text.present? %>
      <h3 class="f5 Box-row">
        <% unless sponsors_listing.approved? %>
          <%= render(Sponsors::Dashboard::Overview::StatusLabelComponent.new(state: current_state_name, mr: 1)) %>
        <% end %>
        <%= incomplete_required_steps_header_text %>
      </h3>
    <% end %>
    <% incomplete_required_steps.each do |step_component| %>
      <%= render step_component %>
    <% end %>
  <% end %>
<% end %>

<%= render Primer::Box.new(
  border: true,
  border_radius: 2,
  test_selector: show_completed_steps? ? "completed-steps" : nil,
) do %>
  <% if show_completed_steps? %>
    <%= render Primer::Beta::Details.new(reset: true, open: false, classes: "sponsors-foldable-details") do |component| %>
      <% component.with_summary(
        button: false,
        p: 3,
      ) do %>
        <div class="d-flex flex-row flex-justify-between">
          <div>
            <% if sponsors_listing.approved? %>
              <%= render(Sponsors::Dashboard::Overview::StatusLabelComponent.new(state: current_state_name, mr: 1)) %>
            <% else %>
              <%= render Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success) %>
            <% end %>
            <%= completed_steps_header_text %>
          </div>
          <div>
            <%= render Primer::Beta::Octicon.new(icon: :fold, classes: "sponsors-fold") %>
            <%= render Primer::Beta::Octicon.new(icon: :unfold, classes: "sponsors-unfold") %>
          </div>
        </div>
      <% end %>
      <% component.with_body do %>
        <% completed_steps.each do |step_component| %>
          <%= render step_component %>
        <% end %>
      <% end %>
    <% end %>
  <% elsif sponsors_listing.disabled? %>
    <div class="Box-row">
      <h4 class="f5">
        <%= render(Sponsors::Dashboard::Overview::StatusLabelComponent.new(state: current_state_name, mr: 1)) %>
        Your GitHub Sponsors account is disabled
      </h4>
    </div>
  <% end %>

  <%= render(Sponsors::Dashboard::Overview::ReactivateComponent.new(
    form_path: sponsorable_reactivate_path(sponsors_listing.sponsorable_login),
    can_reactivate: sponsors_listing.can_reactivate?
  )) %>
<% end %>
