<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div data-hpc <%= test_selector("sponsors-dashboard-overview-welcome") %>>
  <% if sponsors_listing.approved? %>
    <% if sponsorships.none? %>
      <%= render(Primer::Beta::Flash.new(scheme: :success, test_selector: "new-approval")) do %>
        <%= emoji_tag(Emoji.find_by_alias("tada"), class: "mr-1") %> Your GitHub Sponsors profile was approved and is now public! You're ready for others to sponsor you from your
        <%= render Users::ProfileLinkComponent.new(
          login: sponsorable_login,
          is_organization: for_organization?,
        ).with_content("user profile") %> and user hovercard.
      <% end %>
    <% else %>
      <% unless dismissed_first_sponsor? %>
        <h4 class="flash mb-3" <%= test_selector "first-sponsor-notice" %>>
          <%= emoji_tag(Emoji.find_by_alias("tada")) %> Congratulations, you got your first sponsor!
        </h4>
        <span class="js-show-confetti-party" hidden data-dismiss-url="<%= dismiss_url %>">
          <%= csrf_hidden_input_for(dismiss_url, class: "js-data-dismiss-url-csrf") %>
        </span>
      <% end %>

      <div class="d-flex gutter-condensed flex-column flex-md-row mb-6">
        <div class="<%= column_size_class %>">
          <div class="flex-column height-full p-3 rounded color-shadow-small mb-2 mb-md-0 border color-border-default">
            <div class="d-inline-flex flex-justify-center flex-items-center p-2 circle color-bg-sponsors color-fg-sponsors mb-3">
              <%= primer_octicon(:heart) %>
            </div>
            <div class="color-fg-muted text-small text-uppercase">Total Sponsors</div>
            <div class="d-flex flex-items-center mb-2">
              <div class="f2 color-fg-default mb-0 mr-2" <%= test_selector("sponsor-count") %>><%= sponsors_count %></div>
              <%= render Primer::Beta::AvatarStack.new(body_arguments: { "aria-label": sponsors_logins, test_selector: "sponsor-list" }) do |c| %>
                <% sponsorships.each do |sponsorship| %>
                  <% c.with_avatar(**avatar_component_options(sponsorship.linked_or_direct_sponsor, 20), test_selector: "sponsor-avatar") %>
                <% end %>
              <% end %>
            </div>
            <a class="no-underline text-small" href="<%= sponsorable_dashboard_your_sponsors_path(sponsorable_login) %>">View all &rarr;</a>
          </div>
        </div>
        <div class="<%= column_size_class %>">
          <div class="flex-column height-full p-3 rounded color-shadow-small mb-2 mb-md-0 border color-border-default">
            <div class="d-inline-flex flex-justify-center flex-items-center p-2 circle color-bg-success color-fg-success mb-3">
              <%= primer_octicon(:"credit-card") %>
            </div>
            <div class="color-fg-muted text-small text-uppercase" <%= test_selector "estimated-income" %>>Monthly Estimated Income</div>
            <p class="f2 color-fg-default mb-2">
              <%= number_to_currency(total_monthly_pledged_in_dollars) %>
            </p>
            <p class="f6 color-fg-muted mb-0">This is an estimate of monthly income based on current monthly and yearly sponsorships.</p>
          </div>
        </div>
        <% if stripe_account? %>
          <div class="<%= column_size_class %>">
            <div class="flex-column height-full p-3 rounded color-shadow-small mb-2 mb-md-0 border color-border-default">
              <div class="d-inline-flex flex-justify-center flex-items-center p-2 circle color-bg-done color-fg-done mb-3">
                <%= primer_octicon(:clock) %>
              </div>
              <%= render Sponsors::Payouts::NextPayoutComponent.new(
                sponsors_listing: sponsors_listing,
                balance: stripe_balance,
              ) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render Primer::Beta::Subhead.new(mt: 3) do |component| %>
      <% component.with_heading(tag: :h2) do %>Your GitHub Sponsors profile<% end %>
      <% component.with_description do %>
        <a href="<%= GitHub.help_url %>/articles/editing-your-sponsored-developer-profile">Read more about managing your profile</a>.
      <% end %>
    <% end %>
  <% else %>
    <% if dismissed_welcome? || sponsors_listing.eligible_for_stripe_connect? %>
      <h2 class="mb-3"><%= emoji_tag(Emoji.find_by_alias("wave")) %> Welcome to GitHub Sponsors!</h2>
    <% end %>
    <p class="mb-3" <%= test_selector "pre-launch-instructions" %>>
    We need a few more details before we can publish your GitHub Sponsors profile. Learn more from the <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/becoming-a-sponsored-developer">GitHub Sponsors documentation</a>.
    </p>
  <% end %>
</div>
