<%# erblint:counter GoogleAnalyticsDeprecation 4 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% active_subscription = @subscription && @subscription.active? %>


<% if logged_in? && current_user.primary_user_email.present? %>
  <aside data-replace-remote-form-target
    aria-label="Explore newsletter"
    class="col-lg-8 col-xl-6 <% if !active_subscription %>d-md-flex flex-wrap flex-justify-center flex-items-center<% end %> border rounded-2 color-bg-default p-3 mx-auto"
    id="newsletter">
    <% if active_subscription %>
      <h2 class="f2 text-normal text-center text-md-left lh-condensed mb-2"><%= primer_octicon(:check, height: 32, display: [:block, nil, :inline_block], color: :success, vertical_align: :middle, mx: :auto, mr: [nil, nil, 2]) %> <span class="v-align-middle">You’re subscribed to the Explore newsletter</span></h2>
      <p class="d-md-inline-block color-fg-muted text-center text-md-left mr-md-1 mb-0">We’ll send you an email</p>
    <% else %>
      <h2 class="f2 text-normal text-center text-md-left lh-condensed mr-md-3 mb-2 mb-md-0"><%= primer_octicon(:mail, height: 32, display: [:block, nil, :inline_block], color: :muted, vertical_align: :middle, mx: :auto, mr: [nil, nil, 2]) %> <span class="v-align-middle">Want Explore delivered to your inbox?</span></h2>
    <% end %>

    <%= form_tag email_subscribe_path, "data-replace-remote-form": true, class: "d-block #{active_subscription ? 'd-md-inline-block mt-md-n1': ''} v-align-middle text-center text-md-left" do -%>
      <%= hidden_field_tag :name, 'explore' %>
      <details class="details-reset details-overlay d-inline-block position-relative select-menu hx_rsm hx_rsm--auto-height" id="select-menu-subscribe">
        <summary class="<% if active_subscription %>btn-link<% else %>btn btn-primary<% end %> select-menu-button">
          <span data-menu-button><%= active_subscription ? @subscription.kind.capitalize : 'Subscribe' %></span>
        </summary>

        <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-list">
            <div class="select-menu-header d-flex text-left">
              <span class="select-menu-title flex-auto">How often do you want to receive emails?</span>
              <%= render Primer::Beta::CloseButton.new(ml: 2, classes: "hx_rsm-close-button btn-link", "data-toggle-for": "select-menu-subscribe", "aria-label": "Close menu") %>
            </div>

            <button type="submit"
              class="select-menu-item width-full"
              role="menuitemradio" tabindex="0"
              name="kind" value="daily"
              aria-checked="<%= active_subscription && @subscription.kind == "daily" %>"
              data-ga-click="Explore, subscribe to daily newsletter">
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text text-normal" data-menu-button-text>Daily</span>
            </button>
            <button type="submit"
              class="select-menu-item width-full"
              role="menuitemradio" tabindex="0"
              name="kind" value="weekly"
              aria-checked="<%= active_subscription && @subscription.kind == "weekly" %>"
              data-ga-click="Explore, subscribe to weekly newsletter">
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text text-normal" data-menu-button-text>Weekly</span>
            </button>
            <button type="submit"
              class="select-menu-item width-full"
              role="menuitemradio" tabindex="0"
              name="kind" value="monthly"
              aria-checked="<%= active_subscription && @subscription.kind == "monthly" %>"
              data-ga-click="Explore, subscribe to monthly newsletter">
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text text-normal" data-menu-button-text>Monthly</span>
            </button>
            <% if active_subscription %>
              <a href="<%= mailers_unsubscribe_path(:token => @subscription.unsubscribe_token) %>"
                role="menuitem"
                class="select-menu-clear-item select-menu-item" data-ga-click="Explore, unsubscribe from newsletter">
                <span class="select-menu-item-text" data-menu-button-text>Don’t send me any messages</span>
              </a>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>
  </aside>
<% else %>
  <aside aria-label="Explore newsletter" class="col-lg-8 col-xl-7 d-md-flex flex-wrap flex-justify-center flex-items-center border rounded-2 color-bg-default p-3 mx-auto">
    <h2 class="f2 text-normal text-center text-md-left lh-condensed mr-md-3 mb-2 mb-md-0">
      <%= primer_octicon(:mail, height: 32, display: [:block, nil, :inline_block], color: :muted, vertical_align: :middle, mx: :auto, mr: [nil, nil, 2]) %>
      <span class="v-align-middle">Want Explore delivered to your inbox?</span>
     </h2>

    <div class="v-align-middle text-center text-md-left">
      <%= link_to(
        "Sign up for GitHub",
        signup_path(return_to: explore_subscribe_path),
        class: "btn btn-primary mr-1",
        data: sign_up_link_data_attributes(location_in_page: "explore email")
      ) %>
      or
      <%= link_to(
        "Sign in",
        login_path(return_to: explore_subscribe_path),
        rel: "nofollow",
        data: sign_in_link_data_attributes(location_in_page: "explore email"),
        class: "Link--inTextBlock"
      ) %>
    </div>
  </aside>
<% end %>
