Thank you for your interest in GitHub Marketplace.<br><br>
<% if @verified %>
  Your publisher account is verified. You are now eligible to publish paid applications on GitHub Marketplace.<br>
<% elsif @reason == "INVALID_LOCATION"%>
  As part of <a href="https://docs.github.com/developers/github-marketplace/applying-for-publisher-verification-for-your-organization#requesting-publisher-verification">publisher verification process</a> for <%= @publisher_name %>, we need to ensure that organization location is a physical location.<br><br>
  We are unable to complete the request at this time because your organization profile does not meet this criteria. Kindly <a href="https://github.com/organizations/<%=@publisher_name%>/settings/profile">update your organization profile</a> as per the publisher verification requirements and apply again.<br><br>
<% elsif @reason == "INVALID_IMAGE" %>
  As part of <a href="https://docs.github.com/developers/github-marketplace/applying-for-publisher-verification-for-your-organization#requesting-publisher-verification">publisher verification process</a> for <%= @publisher_name %>, we need to ensure that the organization's profile picture is valid.<br><br>
  We can not verify the request at this time. Kindly <a href="https://github.com/organizations/<%=@publisher_name%>/settings/profile">complete the publisher verification process</a> with a valid profile picture and apply again.<br><br>
<% elsif @reason == "INVALID_DISPLAY_NAME"%>
  As part of <a href="https://docs.github.com/developers/github-marketplace/applying-for-publisher-verification-for-your-organization#requesting-publisher-verification">publisher verification process</a> for <%= @publisher_name %>, we need to ensure that the organization's display name is relevant and does not imply GitHub or Microsoft endorsement.<br><br>
  We are unable to complete your request at this time, as your organization display name needs to be updated. Kindly <a href="https://github.com/organizations/<%=@publisher_name%>/settings/profile">update your organization profile</a> with a relevant display name and apply again.<br><br>
<% elsif @reason == "2FA_INACTIVE"%>
  As part of <a href="https://docs.github.com/developers/github-marketplace/applying-for-publisher-verification-for-your-organization#requesting-publisher-verification">publisher verification process</a> for <%= @publisher_name %>, we need to ensure that the organization's display name is relevant and does not imply GitHub or Microsoft endorsement.<br><br>
  We are unable to complete your request at this time, as your organization needs to have two-factor authentication enabled. Kindly <a href="https://github.com/organizations/<%=@publisher_name%>/settings/security">enable two-factor authentication for your organization</a> and apply again.<br><br>
<% elsif @reason == "CUSTOM_REASON"%>
  <div style="white-space: pre-wrap;"><%= @custom_reason %></div>
<% else %>
  As part of <a href="https://docs.github.com/developers/github-marketplace/applying-for-publisher-verification-for-your-organization#requesting-publisher-verification">publisher verification process</a> for <%= @publisher_name %>, we are unable to complete your request at this time. Kindly apply again.<br>
<% end %>
<br>
Thanks,<br>
GitHub Marketplace Team<br>
