<% page_info title: view.page_title %>

<% if !view.contributing_repos.empty? %>
  <% view.contributing_repos.each do |repo, scores| %>
    <div class="boxed-group">
      <h3>
        <%= primer_octicon(view.span_symbol(repo)) %>
        <a href="<%= gh_stafftools_repository_path repo %>">
          <%= repo.name_with_owner %>
          <%= "(DELETED)" unless repo.active? %>
        </a>
        <% unless GitHub.enterprise? %>
        <span class="float-right"><%= "%.3f" % scores.delete(:score) %></span>
        <% end %>
      </h3>
      <div class="boxed-group-inner">
        <% commit_contributions = view.commit_contributions_for(repo) %>
        <% pull_contributions = view.pull_request_contributions_for(repo) %>
        <% issue_contributions = view.issue_contributions_for(repo) %>
        <ul class="score-meta grid">
          <li class="col">
            <% if commit_contributions.any? %>
              <a href="<%= commits_path("", repo.default_branch, repo) + "?author=#{view.user.login}" %>">
                <%= pluralize(commit_contributions.inject(0) { |m, c| m + c.contributions_count }, "commit") %>
              </a>
              <span class="date"><%= commit_contributions.last.occurred_at.strftime("%b %d") %> - <%= commit_contributions.first.occurred_at.strftime("%b %d") %></span>
            <% else %>
              <%= pluralize(commit_contributions.count, "commit") %>
            <% end %>
            <% unless GitHub.enterprise? %>
            <span class="num"><%= "%.3f" % scores[:commits] %></span>
            <% end %>
          </li>
          <li class="col">
            <% if pull_contributions.any? %>
              <% query = "is:pr author:#{view.user.login}" %>
              <a href="<%= pull_requests_path(repo.owner, repo, q: query) %>">
                <%= pluralize(pull_contributions.size, "pull") %>
              </a>
              <span class="date"><%= pull_contributions.last.occurred_at.strftime("%b %d") %> - <%= pull_contributions.first.occurred_at.strftime("%b %d") %></span>
            <% else %>
              <%= pluralize(pull_contributions.size, "pull") %>
            <% end %>
            <% unless GitHub.enterprise? %>
            <span class="num"><%= "%.3f" % scores[:pulls] %></span>
            <% end %>
          </li>
          <li class="col">
            <% if issue_contributions.any? %>
              <% query = "is:issue author:#{view.user.login}" %>
              <a href="<%= issues_path(repo.owner, repo, q: query) %>">
                <%= pluralize(issue_contributions.size, "issue") %>
              </a>
              <span class="date"><%= issue_contributions.last.occurred_at.strftime("%b %d") %> - <%= issue_contributions.first.occurred_at.strftime("%b %d") %></span>
            <% else %>
              <%= pluralize(issue_contributions.size, "issue") %>
            <% end %>
            <% unless GitHub.enterprise? %>
            <span class="num"><%= "%.3f" % scores[:issues] %></span>
            <% end %>
          </li>
        </ul>

        <% if repo.fork? %>
          <p class="text-small lh-condensed-ultra no-wrap">
            <%= primer_octicon(repo.public? ? "git-branch" : "lock") %>
            <% if repo.parent.nil? %>
              Fork parent missing
            <% else %>
              Forked from <%= repo.parent.name_with_owner %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="boxed-group">
    <h3>Contributing Repositories</h3>
    <div class="boxed-group-inner">
      <p><%= view.no_contributing_repos_message %></p>
    </div>
  </div>
<% end %>
