<% page_info title: "Can Proceed With Usage" %>
<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Can Proceed With Usage
    <% end %>
    <% component.with_description do %>
      This tool checks the CanProceedWithUsage API. Use it to test what the response
      would be for a given entity parameters.
      <br>
      <br>
      Customer ID, Product and SKU are required parameters in order to
      ensure usage is collected for the right product.
      Org ID, Repo ID and Actor ID are optional. For products that are org, repo or actor based,
      these should be provide for full check across cost centers.
      <br>
      <br>
      <i>Quantity</i> is not used now. But would be the quantity of the product being used.
      <br>
      <br>
      See <%= link_to "CanProceedWithUsage", "https://github.com/github/billing-platform/blob/main/docs/can_proceed_with_usage.md", target: "_blank", class: "Link--inTextBlock" %>
      documentation for more details on the request and response.
    <% end %>
  <% end %>

  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Request
    <% end %>
    <% component.with_description do %>
      <%= form_tag stafftools_billing_can_proceed_with_usage_path, :method => :post do %>
        <div class="form-group">
          <div class="form-group">
            <div class="form-group-header">
              <%= label_tag "customer_id", "Customer ID *" %>
            </div>
            <div class="form-group-body">
              <%= text_field_tag :customer_id, params[:customer_id], { required: true, placeholder: "eg: 101010" } %>
            </div>
            <div class="form-group-header">
              <%= label_tag "product", "Product *" %>
            </div>
            <div class="form-group-body">
              <%= text_field_tag :product, params[:product], { required: true, placeholder: "eg: actions" } %>
            </div>
            <div class="form-group-header">
              <%= label_tag "sku", "SKU *" %>
            </div>
            <div class="form-group-body">
              <%= text_field_tag :sku, params[:sku], { required: true, placeholder: "eg: actions_linux" } %>
            </div>
            <div class="form-group-header">
              <%= label_tag "org_id", "Org ID" %>
            </div>
            <div class="form-group-body">
              <%= number_field_tag :org_id, params[:org_id], { placeholder: "eg: 101"} %>
            </div>
            <div class="form-group-header">
              <%= label_tag "repo_id", "Repo ID" %>
            </div>
            <div class="form-group-body">
              <%= number_field_tag :repo_id, params[:repo_id], { placeholder: "eg: 101"} %>
            </div>
            <div class="form-group-header">
              <%= label_tag "actor_id", "Actor ID" %>
            </div>
            <div class="form-group-body">
              <%= number_field_tag :actor_id, params[:actor_id], { placeholder: "eg: 101"} %>
            </div>
            <div class="form-group-header">
              <%= label_tag "quantity", "Quantity" %>
            </div>
            <div class="form-group-body">
              <%= number_field_tag :quantity, params[:quantity], { placeholder: "eg: 10.4", step: :any} %>
            </div>
          </div>
        </div>

        <%= submit_tag "Check", class: "btn btn-danger" %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Response
    <% end %>
    <% component.with_description do %>
      <pre class="text-wrap-balance"><%= JSON.pretty_generate(response) if response.present? %></pre>
    <% end %>
  <% end %>
<% end %>
