<%# erblint:counter DeprecatedInPrimerCounter 9 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="container-xl position-relative z-2 p-responsive mt-n5">
  <%= svg("signup/icons/learning-GitHub", class: "d-block mb-3", width: "80") %>
  <h1 class="h2-mktg d-inline-block features-category--title text-gradient-mint-blue mb-3">Real-world tools, engaged students.</h1>
  <p class="f2-mktg text-normal text-gray-light-mktg mb-6">GitHub gives teachers free access to industry-standard tools for training developers.</p>

  <div class="d-md-flex flex-items-stretch gutter-md-spacious recommended-plan-details-container">
    <%= render partial: "recommended_plans/free" %>

    <div class="col-md-6 position-relative">
      <div class="height-full d-flex flex-column flex-justify-between " style="background-color:#0c162d;">
        <div class="d-flex flex-items-center px-3 px-sm-5 py-3" style="background-color:#19253A;">
          <h2 class="h5-mktg color-text-white mr-3">Get additional teacher benefits</h2>
        </div>

        <h3 class="color-text-white text-bold f3-mktg my-2 mx-4">GitHub Team</h3>

        <ul class="d-lg-block flex-auto list-style-none color-text-white f4 px-sm-5">
          <li class="position-relative pl-8 my-4">
            <span class="pricing-info position-absolute left-0">
              <%= svg("signup/icons/protected-branches", class: "d-block", width: "40") %>
            </span>
            <div>
              Protect your branches
              <div class="text-gray-light-mktg f6">Ensure that collaborators on your repository cannot make irrevocable changes to branches.</div>
            </div>
          </li>
          <li class="position-relative pl-8 my-4">
            <details class="recommended-plan-details Details-element details-reset">
              <summary>
                <span class="position-absolute left-0 ml-2">
                  <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
                </span>
                Draft pull requests
              </summary>
              <p class="f5 mt-2">Easily discuss and collaborate on pull requests before submitting to formal review.</p>
            </details>
          </li>
          <li class="position-relative pl-8 my-4">
            <details class="recommended-plan-details Details-element details-reset">
              <summary>
                <span class="position-absolute left-0 ml-2">
                  <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
                </span>
                Required reviewers
              </summary>
              <p class="f5 mt-2">Ensure that pull requests have a specific number of approving reviews before collaborators can make changes to a protected branch.</p>
            </details>
          </li>
          <li class="position-relative pl-8 my-4">
            <details class="recommended-plan-details Details-element details-reset">
              <summary>
                <span class="position-absolute left-0 ml-2">
                  <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
                </span>
                3,000 CI/CD minutes/month
                <div class="text-gray-light-mktg f6">Free for public repositories</div>
              </summary>
              <p class="f5 mt-2">Get execution minutes for hosted runners to automate your software development workflows. Write tasks and combine them to build, test, and deploy any code project on GitHub.</p>
            </details>
          </li>
          <li class="position-relative pl-8 my-4">
            <details class="recommended-plan-details Details-element details-reset">
              <summary>
                <span class="position-absolute left-0 ml-2">
                  <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
                </span>
                2GB of Packages storage
                <div class="text-gray-light-mktg f6">Free for public repositories</div>
              </summary>
              <p class="f5 mt-2">Host your own software packages or use them as dependencies in other projects. Both private and public hosting available.</p>
            </details>
          </li>
          <li class="position-relative pl-8 my-4">
            <details class="recommended-plan-details Details-element details-reset">
              <summary>
                <span class="position-absolute left-0 ml-2">
                  <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
                </span>
                Web-based support
              </summary>
              <p class="f5 mt-2">GitHub Support can help you troubleshoot issues you run into while using GitHub.</p>
            </details>
          </li>
        </ul>

        <h3 class="color-text-white text-bold f3-mktg my-2 mx-4">GitHub Teacher Toolbox</h3>

        <ul class="d-lg-block flex-auto list-style-none color-text-white f4 px-sm-5">
          <li class="position-relative pl-8 my-4">
            <span class="pricing-info position-absolute left-0">
              <%= svg("signup/icons/service-account-engineer", class: "d-block", width: "40") %>
            </span>
            <div>
              Free access to the industry’s best developer tools
              <div class="text-gray-light-mktg f6">Hundreds of offers, including Digital Ocean, Microsoft Azure, Heroku, MongoDB, DataDog, Twilio, and Stripe.</div>
            </div>
          </li>
        </ul>

        <h3 class="color-text-white text-bold f3-mktg my-2 mx-4">GitHub Classroom</h3>

        <ul class="d-lg-block flex-auto list-style-none color-text-white f4 px-sm-5">
          <li class="position-relative pl-8 my-4">
            <span class="pricing-info position-absolute left-0">
              <%= svg("signup/icons/automate-workflow", class: "d-block", width: "40") %>
            </span>
            <div>
              Automate your course
              <div class="text-gray-light-mktg f6">Track and manage assignments in your dashboard, grade work automatically, and help students when they get stuck.</div>
            </div>
          </li>
        </ul>

        <h3 class="color-text-white text-bold f3-mktg my-2 mx-4">GitHub Campus Advisors</h3>

        <ul class="d-lg-block flex-auto list-style-none color-text-white f4 px-sm-5">
          <li class="position-relative pl-8 my-4">
            <span class="pricing-info position-absolute left-0">
              <%= svg("signup/icons/community-forum", class: "d-block", width: "40") %>
            </span>
            <div>
              Join a community for teachers
              <div class="text-gray-light-mktg f6">GitHub Campus Advisors master Git and GitHub, and champion the use of real-world tools at their school.</div>
            </div>
          </li>
        </ul>

        <a class="d-block btn btn-large btn-mktg mx-3 mx-sm-5 my-4"
          <%= safe_analytics_click_attributes(category: "Recommended Plan in Signup", action: "click to apply teacher benefits", label: "ref_page:#{request.fullpath};ref_cta:Apply for your GitHub student benefits;ref_loc:education teacher partial") %>
          href="<%= "#{GitHub.education_url}/discount_requests/teacher_application" %>" style="background-color: #4969ed !important; white-space: initial !important;">
          Apply for your GitHub teacher benefits
        </a>
      </div>
      <img src="<%= image_path "modules/site/home/repo-editor-glow.svg" %>" class="position-absolute z-n1 top-0 left-0 mt-5 ml-n5" style="width: 150%; transform: rotate(45deg);" alt="">
    </div>
  </div>
</div>
