<%# erblint:counter DeprecatedInPrimerCounter 4 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%# locals: (discuss_your_needs:) -%>

<div class="container-xl position-relative z-2 p-responsive mt-n5" style="background-color: transparent;">
  <%= svg("signup/icons/team", class: "d-block mb-3", width: "80") %>
  <h1 class="h2-mktg d-inline-block features-category--title text-gradient-mint-blue mb-3">Enterprises get GitHub's best.</h1>
  <p class="f2-mktg text-normal text-gray-light-mktg mb-6">Increase developer velocity. Secure every step. Automate entire workflows.</p>

  <div class="d-md-flex flex-items-stretch gutter-md-spacious recommended-plan-details-container">
    <%= render partial: "recommended_plans/free" %>

    <div class="col-md-6 position-relative">
      <div class="height-full d-flex flex-column flex-justify-between rounded-2 box-shadow-card-border-light-mktg" style="background-color:#0c162d;">
        <div class="d-flex flex-items-center px-3 px-sm-5 py-3" style="background-color:#19253A;">
          <h2 class="h5-mktg color-text-white mr-3">Enterprise</h2>
          <%= render(Primer::Beta::Label.new(title: "Recommended for you", size: :large, color: :on_emphasis)) { "Recommended for you" } %>
        </div>
        <ul class="d-lg-block flex-auto list-style-none color-text-white f4 px-3 px-sm-5">
          <li class="position-relative pl-8 my-4">
            <span
              class="position-absolute top-0 left-0 ml-2"
            >
              <%= render(Primer::Beta::Octicon.new(icon: "arrow-left", color: :on_emphasis)) %>
            </span>
            Everything included in other plans, plus...
          </li>
          <li class="position-relative pl-8 my-4">
            <span class="pricing-info position-absolute left-0">
              <%= svg("signup/icons/saml", class: "d-block", width: "40", title: "Use an identity provider to manage the identities of GitHub users and applications.") %>
            </span>
            <div>
              SAML single sign-on
              <div class="text-gray-light-mktg f6">Control and secure access to organization resources like repos, issues, and pull requests with SAML.</div>
            </div>
          </li>
          <li class="position-relative pl-8 my-4">
            <span class="pricing-info position-absolute left-0">
              <%= svg("signup/icons/audit", class: "d-block", width: "40", title: "Quickly review the actions performed by members of your organization. Keep copies of audit log data to ensure secure IP and maintain compliance for your organization.") %>
            </span>
            <div>
              Advanced auditing
              <div class="text-gray-light-mktg f6">Keep copies of audit log data to ensure secure IP and maintain compliance for your organization.</div>
            </div>
          </li>

          <% GitHub::Plan.business_plus.feature_information.each do |item| %>
            <% if item[:title] != "SAML single sign-on" && item[:title] != "Advanced auditing" %>
              <li class="position-relative pl-8 my-4">
                 <details class="recommended-plan-details Details-element details-reset">
                  <summary>
                    <span class="position-absolute left-0 ml-2">
                      <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
                    </span>
                    <%= item[:title] %>
                  </summary>
                  <p class="f5 mt-2"><%= item[:description] %></p>
                </details>
              </li>
            <% end %>
          <% end %>

          <li class="position-relative pl-8 my-4">
            <details class="recommended-plan-details Details-element details-reset">
              <summary>
                <span class="position-absolute left-0 ml-2">
                  <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
                </span>
                50,000 CI/CD minutes/month
                <div class="text-gray-light-mktg f6">Free for public repositories</div>
              </summary>
              <p class="f5 mt-2">Get execution minutes for hosted runners to automate your software development workflows. Write tasks and combine them to build, test, and deploy any code project on GitHub.</p>
            </details>
          </li>
          <li class="position-relative pl-8 my-4">
            <details class="recommended-plan-details Details-element details-reset">
              <summary>
                <span class="position-absolute left-0 ml-2">
                  <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
                </span>
                50GB of Packages storage
                <div class="text-gray-light-mktg f6">Free for public repositories</div>
              </summary>
              <p class="f5 mt-2">Host your own software packages or use them as dependencies in other projects. Both private and public hosting available.</p>
            </details>
          </li>
          <li>
            <span class="text-gradient-mint-blue">EXCLUSIVE OPTIONS</span>
          </li>
          <li class="position-relative pl-8 my-4">
            <span class="pricing-info position-absolute left-0">
              <%= svg("signup/icons/security", class: "d-block", width: "40") %>
            </span>
            <div>
              GitHub Advanced Security
              <div class="text-gray-light-mktg f6">Automatically find and fix vulnerabilities before they are put into production.</div>
            </div>
          </li>
          <li class="position-relative pl-8 my-4">
            <span class="pricing-info position-absolute left-0">
              <%= svg("signup/icons/support", class: "d-block", width: "40") %>
            </span>
            <div>
              Premium support
              <div class="text-gray-light-mktg f6">
                With Premium, get a 30-minute SLA on Urgent tickets and 24/7 web and phone support via callback request. With Premium Plus, get everything in Premium, assigned Customer Reliability Engineer and more.
                <br><br>
                <a href="/premium-support" style="color: #388bfd">Learn more about Premium&nbsp;Support</a>
              </div>
            </div>
          </li>
        </ul>

        <div class="d-sm-flex flex-justify-between mx-3 mx-sm-5 my-4">
          <a class="d-block d-sm-inline-block btn btn-large btn-mktg flex-auto color-text-white"
            <%= safe_analytics_click_attributes(category: "Recommended Plan in Signup", action: "click to try GitHub enterprise", label: "ref_page:#{request.fullpath};ref_cta:Start a free trial;ref_loc:enterprise partial") %>
            href="<%= enterprise_trial_accounts_new_path %>" style="background-color: #4969ed !important; white-space: initial !important;">
            Start a free trial
          </a>

          <% if discuss_your_needs %>
            <a class="d-flex flex-justify-center d-sm-inline-block btn btn-large btn-mktg btn-outline-mktg mt-3 mt-sm-0 ml-sm-5 col-sm-6" <%= mktg_color_theme_attributes %>
              href="<%= enterprise_contact_requests_path(ref_page: "/recommended_plan", ref_cta: "Discuss your needs", ref_loc: "enterprise_recommended_plan") %>"
              <%= safe_analytics_click_attributes(category: "Recommended Plan in Signup", action: "click to discuss your needs", label: "ref_page:#{request.fullpath};ref_cta:Discuss your needs;ref_loc:enterprise partial") %>
              style="white-space: initial !important;">
              Discuss your needs
            </a>
          <% end %>
        </div>
      </div>
      <img src="<%= image_path "modules/site/home/repo-editor-glow.svg" %>" class="position-absolute z-n1 top-0 left-0 mt-5 ml-n5" style="width: 150%; transform: rotate(45deg);" alt="">
    </div>
  </div>
</div>
