<%# erblint:counter DeprecatedInPrimerCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="col-md-6 mb-5 mb-md-0" style="background-color: transparent;" <%= mktg_color_theme_attributes %>>
  <div class="height-full d-flex flex-column flex-justify-between rounded-2 box-shadow-card-border-light-mktg" style="background-color:#0c162d;">
    <h2 class="h5-mktg color-text-white px-3 px-sm-5 py-3" style="background-color:#19253A;">Free</h2>
    <ul class="d-lg-block flex-auto list-style-none color-text-white f4 px-3 px-sm-5">
      <li class="position-relative pl-8 my-4">
        <details class="recommended-plan-details Details-element details-reset">
          <summary>
            <span class="position-absolute left-0 ml-2">
              <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
            </span>
            Unlimited public/private repositories
          </summary>
          <p class="f5 mt-2">Host open source projects in public GitHub repositories, accessible via web or command line. Public repositories are accessible to anyone at GitHub.com.</p>
        </details>
      </li>
      <li class="position-relative pl-8 my-4">
        <details class="recommended-plan-details Details-element details-reset">
          <summary>
            <span class="position-absolute left-0 ml-2">
              <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
            </span>
            2,000 CI/CD minutes/month
            <div class="text-gray-light-mktg f6">Free for public repositories</div>
          </summary>
          <p class="f5 mt-2">Get execution minutes for hosted runners to automate your software development workflows. Write tasks and combine them to build, test, and deploy any code project on GitHub.</p>
        </details>
      </li>
      <li class="position-relative pl-8 my-4">
        <details class="recommended-plan-details Details-element details-reset">
          <summary>
            <span class="position-absolute left-0 ml-2">
              <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
            </span>
            500MB of Packages storage
            <div class="text-gray-light-mktg f6">Free for public repositories</div>
          </summary>
          <p class="f5 mt-2">Host your own software packages or use them as dependencies in other projects. Both private and public hosting available</p>
        </details>
      </li>
      <li class="position-relative pl-8 my-4">
         <details class="recommended-plan-details Details-element details-reset">
          <summary>
            <span class="position-absolute left-0 ml-2">
              <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
            </span>
            120 core-hours of Codespaces compute
          </summary>
          <p class="f5 mt-2">Blazing fast cloud developer environments with flexible compute and pre-configured containers, developers can code, collaborate, and debug from any browser.</p>
        </details>
      </li>
      <li class="position-relative pl-8 my-4">
        <details class="recommended-plan-details Details-element details-reset">
          <summary>
            <span class="position-absolute left-0 ml-2">
              <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
            </span>
            15GB of Codespaces storage
          </summary>
          <p class="f5 mt-2">Blazing fast cloud developer environments with flexible compute and pre-configured containers, developers can code, collaborate, and debug from any browser.</p>
        </details>
      </li>
      <li class="position-relative pl-8 my-4">
        <details class="recommended-plan-details Details-element details-reset">
          <summary>
            <span class="position-absolute left-0 ml-2">
              <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
            </span>
            Community support
          </summary>
          <p class="f5 mt-2">Get help with most of your GitHub questions and issues in our Community Forum.</p>
        </details>
      </li>
    </ul>
    <a data-launch-animation="true" style="white-space: initial !important;" class="d-block btn btn-large btn-mktg btn-outline-mktg mx-3 mx-sm-5 my-4"
      <%= safe_analytics_click_attributes(category: "Recommended Plan in Signup", action: "click to continue for free", label: "ref_page:#{request.fullpath};ref_cta:Continue for free;ref_loc:free partial") %>
      href="<%= home_path %>">
      Continue for free
    </a>
  </div>
</div>
