<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  page_info(
    title: "What specific features are you interested in using?",
    class: "header-overlay",
    full_height: true,
  )
%>

<div class="container-xl position-relative z-2 p-responsive mt-n5">
  <%= form_with scope: :suggested_plan, url: signup_recommended_plan_path, local: true, method: "post" do |f| %>
    <div class="d-lg-flex gutter-md-spacious">
      <div class="col-lg-7">
        <%= svg("signup/icons/cli", class: "d-block mb-3", width: "80") %>
        <p class="h2-mktg d-inline-block features-category--title text-gradient-mint-blue mb-3">The tools you need to build what you want.</p>
        <p class="f2-mktg text-normal text-gray-light-mktg mb-6">Soup to nuts, GitHub has it all.</p>
      </div>
      <div class="col-lg-5">
        <div class="rounded-3 color-shadow-extra-large color-bg-default px-3 px-sm-5 py-5">
          <span class="Progress Progress--small mb-3">
            <span class="Progress-item" style="width: 66%;background-color: #4969ed;"></span>
          </span>

          <h1 class="h5-mktg features--color-title lh-condensed mb-2">What specific features are you interested in using?</h1>
          <p class="f5 color-fg-muted mb-3">Select all that apply so we can point you to the right GitHub plan.</p>

          <label class="d-flex my-4 cursor-pointer">
            <div class="mt-2 mr-3">
              <%= f.check_box :tools, { multiple: true, aria: { describedby: "help-text-for-collaboration" } }, "collaborative_coding", nil %>
            </div>
            <div>
              <div class="d-flex flex-items-center mb-1">
                <img src="<%= image_path "modules/site/features/launchpad/icons/icon-collaboration.svg" %>" alt="GitHub Collaboration Icon" width="32" height="32">
                <strong class="f4-mktg features--color-title lh-condensed ml-3">Collaborative coding</strong>
              </div>
              <div class="f5 color-fg-muted text-normal" id="help-text-for-collaboration">
                Codespaces, Pull requests, Notifications, Code review, Code review assignments, Code owners, Draft pull requests, Protected branches, and more.
              </div>
            </div>
          </label>

          <label class="d-flex my-4 cursor-pointer">
            <div class="mt-2 mr-3">
              <%= f.check_box :tools, { multiple: true, aria: { describedby: "help-text-for-automation" } }, "automation_cicd", nil %>
            </div>
            <div>
              <div class="d-flex flex-items-center mb-1">
                <img src="<%= image_path "modules/site/features/launchpad/icons/icon-automation.svg" %>" alt="GitHub Automation and CI/CD Icon" width="32" height="32">
                <strong class="f4-mktg features--color-title lh-condensed ml-3">Automation and CI/CD</strong>
              </div>
              <div class="f5 color-fg-muted text-normal" id="help-text-for-automation">
                Actions, Packages, APIs, GitHub Pages, GitHub Marketplace, Webhooks, Hosted runners, Self-hosted runners, Secrets management, and more.
              </div>
            </div>
          </label>

          <label class="d-flex my-4 cursor-pointer">
            <div class="mt-2 mr-3">
              <%= f.check_box :tools, { multiple: true, aria: { describedby: "help-text-for-security" } }, "security", nil %>
            </div>
            <div>
              <div class="d-flex flex-items-center mb-1">
                <img src="<%= image_path "modules/site/features/launchpad/icons/icon-security.svg" %>" alt="GitHub Security Icon" width="32" height="32">
                <strong class="f4-mktg features--color-title lh-condensed ml-3">Security</strong>
              </div>
              <div class="f5 color-fg-muted text-normal" id="help-text-for-security">
                Private repos, 2FA, Required reviews, Required status checks, Code scanning, Secret scanning, Dependency graph, Dependabot alerts, and more.
              </div>
            </div>
          </label>

          <label class="d-flex my-4 cursor-pointer">
            <div class="mt-2 mr-3">
              <%= f.check_box :tools, { multiple: true, aria: { describedby: "help-text-for-enterprise-security" } }, "enterprise_security", nil %>
            </div>
            <div>
              <div class="d-flex flex-items-center mb-1">
                <img src="<%= image_path "modules/site/features/launchpad/icons/icon-enterprise-security.svg" %>" alt="GitHub Enterprise Security Icon" width="32" height="32">
                <strong class="f4-mktg features--color-title lh-condensed ml-3">Enterprise security</strong>
              </div>
              <div class="f5 color-fg-muted text-normal" id="help-text-for-enterprise">
                SAML, LDAP, IP allow list, GitHub Connect, and Audit log API.
              </div>
            </div>
          </label>

          <label class="d-flex my-4 cursor-pointer">
            <div class="mt-2 mr-3">
              <%= f.check_box :tools, { multiple: true, aria: { describedby: "help-text-for-apps" } }, "client_apps", nil %>
            </div>
            <div>
              <div class="d-flex flex-items-center mb-1">
                <img src="<%= image_path "modules/site/features/launchpad/icons/icon-apps.svg" %>" alt="GitHub Client Apps Icon" width="32" height="32">
                <strong class="f4-mktg features--color-title lh-condensed ml-3">Client Apps</strong>
              </div>
              <div class="f5 color-fg-muted text-normal" id="help-text-for-apps">
                GitHub Mobile, GitHub CLI, and GitHub Desktop.
              </div>
            </div>
          </label>

          <label class="d-flex my-4 cursor-pointer">
            <div class="mt-2 mr-3">
              <%= f.check_box :tools, { multiple: true, aria: { describedby: "help-text-for-project-management" } }, "project_management", nil %>
            </div>
            <div>
              <div class="d-flex flex-items-center mb-1">
                <img src="<%= image_path "modules/site/features/launchpad/icons/icon-project-management.svg" %>" alt="GitHub Project Management Icon" width="32" height="32">
                <strong class="f4-mktg features--color-title lh-condensed ml-3">Project Management</strong>
              </div>
              <div class="f5 color-fg-muted text-normal" id="help-text-for-project-management">
                Projects, Labels, Milestones, Issues, Unified Contribution Graph, Org activity graph, Org dependency insights, Repo insights, Wikis, and GitHub Insights.
              </div>
            </div>
          </label>

          <label class="d-flex my-4 cursor-pointer">
            <div class="mt-2 mr-3">
              <%= f.check_box :tools, { multiple: true, aria: { describedby: "help-text-for-team-admin" } }, "team_administration", nil %>
            </div>
            <div>
              <div class="d-flex flex-items-center mb-1">
                <picture>
                  <source srcset="<%= image_path "modules/site/features/launchpad/icons/icon-team-admin.webp" %>" type="image/webp">
                  <img src="<%= image_path "modules/site/features/launchpad/icons/icon-team-admin.png" %>" alt="GitHub Team Administration Icon" loading="lazy" width="32" height="32">
                </picture>
                <strong class="f4-mktg features--color-title lh-condensed ml-3">Team Administration</strong>
              </div>
              <div class="f5 color-fg-muted text-normal" id="help-text-for-team-admin">
                Organizations, Invitations, Team sync, Custom roles, Domain verification, Audit Log API, Repo creation restriction, and Notification restriction.
              </div>
            </div>
          </label>

          <label class="d-flex my-4 cursor-pointer">
            <div class="mt-2 mr-3">
              <%= f.check_box :tools, { multiple: true, aria: { describedby: "help-text-for-community" } }, "community", nil %>
            </div>
            <div>
              <div class="d-flex flex-items-center mb-1">
                <img src="<%= image_path "modules/site/features/launchpad/icons/icon-community.svg" %>" alt="GitHub Community Icon" width="32" height="32">
                <strong class="f4-mktg features--color-title lh-condensed ml-3">Community</strong>
              </div>
              <div class="f5 color-fg-muted text-normal" id="help-text-for-community">
                GitHub Marketplace, GitHub Sponsors, GitHub Skills, and Electron.
              </div>
            </div>
          </label>

          <%= render Primer::ButtonComponent.new(block: true, classes: "btn-mktg", style: "background-color: #4969ed !important;", type: :submit) do %>
            Continue
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
