<div class="form-checkbox my-1">
  <li role="radio" class="list-style-none">
    <label for="reason_<%= reason %>" data-action="click:bypass-reason-selector#reasonSelected"
      <%= test_selector "secret-scanning-push-protection-bypass-option" %>
    >
      <input type="radio" name="reason" id="reason_<%= reason %>" reason="<%= reason %>" form="<%= form %>"
      value="<%= reason %>" aria-describedby="help-<%= reason %>" class="mt-1">
        <span class="ml-2 d-flex flex-column">
          <span class="f5"><%= label %></span>
          <span class="text-normal color-fg-muted"><%= description %></span>
        </span>
    </label>
  </li>
</div>
