<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="d-flex flex-column flex-auto width-full mb-0 mt-lg-4 pb-2 pb-lg-0 px-lg-3" <%= test_selector "secret-scanning-push-protection-bypass-component" %>>
  <% unless secret.nil? %>
    <%= render(Primer::Beta::Flash.new(scheme: :danger, mb: 3, display: :flex, justify_content: :space_between, test_selector: "secret-scanning-push-protection-bypass-flash")) do |component| %>
      <div>
        <%= render(Primer::Beta::Octicon.new(:blocked)) %>
        <%= link_to("Push protection for secrets", helpers.docs_url("code-security/working-with-push-protection-in-the-github-ui-resolving-a-blocked-commit"), class: "text-underline") %>
        found a <strong><%= token_type_label %></strong> secret<% if is_custom_pattern? %>, defined by your admins,<% end %>
        on <%= link_to("line #{start_line}", "#L#{start_line}", class: "text-underline") %>.
        To commit your changes, remove the secret from the file or use the dropdown to allow it.
        <% if push_protection_custom_msg.present? %>
          <%= render(Primer::Beta::Text.new(test_selector: "secret-scanning-push-protection-custom-msg")) do %>
            Review <%= safe_link_to("further guidance", push_protection_custom_msg.message, target: "_blank", class: "text-underline") %>
            from your <%= push_protection_custom_msg.owner_type %>, <%= render(Primer::Beta::Text.new(font_weight: :bold)) { push_protection_custom_msg.owner_name } %>.
          <% end %>
        <% end %>
      </div>
      <% component.with_action do %>
        <%= render(Primer::Beta::Details.new(overlay: :default, reset: true, id: "secret-scanning-push-protection-bypass-menu")) do |c| %>
          <% c.with_summary do %>
            Bypass protection
            <span class="dropdown-caret"></span>
          <% end %>
          <% c.with_body(tag: :"details-menu", classes: "SelectMenu", style: "width:351px;right:0;") do %><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="SelectMenu-modal width-full m-0">
              <header class="SelectMenu-header pl-3 pb-3 pt-3">
                <h3 class="SelectMenu-title" style="font-size:revert;">Select a reason to allow this secret</h3>
                <button class="SelectMenu-closeButton" type="button" aria-label="Close menu" data-toggle-for="secret-scanning-push-protection-bypass-menu">
                  <%= render(Primer::Beta::Octicon.new(:x, style: "color:inherit")) %>
                </button>
              </header>
              <bypass-reason-selector class="mb-1">
                <ul class="px-3 py-2 " role="radiogroup">
                  <%= render(SecretScanning::PushProtection::BypassReasonOptionComponent.new(SecretScanning::Models::BypassReason::USED_IN_TESTS, "It's used in tests", "The secret doesn't grant access to sensitive information or allow any unauthorized access.")) %>
                  <li class="dropdown-divider ml-4" role="none"></li>
                  <%= render(SecretScanning::PushProtection::BypassReasonOptionComponent.new(SecretScanning::Models::BypassReason::FALSE_POSITIVE, "It's a false positive", "The detected string is not a secret.")) %>
                  <li class="dropdown-divider ml-4" role="none"></li>
                  <%= render(SecretScanning::PushProtection::BypassReasonOptionComponent.new(SecretScanning::Models::BypassReason::WILL_FIX_LATER, "I'll fix it later",
                    content_tag(:span, safe_join([
                      "The secret is real, ",
                      content_tag(:span, "I understand the risk.", class: "text-bold"),
                      " This will open a security alert and notify admins."
                    ]))))
                  %>
                </ul>
                <%= hidden_field_tag('token_type', secret.type, form: "bypass-form") %>
                <%= hidden_field_tag('token_signature', secret.fingerprint, form: "bypass-form") %>
                <%= hidden_field_tag('bypass_placeholder_ksuid', secret.bypass_placeholder_ksuid, form: "bypass-form") %>
                <div class="border-top p-2 pr-3">
                  <%= render(Primer::Beta::Button.new(scheme: :primary, type: :submit, form: "bypass-form",
                    disabled: true, style: "float:right;margin-bottom:4px;margin-left:8px;",
                    data: {
                      "target": "bypass-reason-selector.submitBtn",
                      "action": "click:bypass-reason-selector#copyBlobFields" }
                    )) { "Allow Secret" } %>
                  <%= render(Primer::Beta::Button.new(type: :button, form: "bypass-form",
                    style: "float:right;margin-bottom:4px", data: {"toggle-for": "secret-scanning-push-protection-bypass-menu"})) { "Cancel" } %>
                </div>
              </bypass-reason-selector>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if unblock_secret_success %>
    <%= render(Primer::Beta::Flash.new(scheme: :success, icon: :check, dismissible: true, test_selector: "secret-scanning-push-protection-bypass-success-flash")) do %>
      Secret allowed. You can now commit these changes.
    <% end %>
  <% end %>
</div>
