<% editable_accounts.each do |account| %>
  <social-account-editor
    data-nodeinfo-software-url="<%= helpers.settings_nodeinfo_software_path %>"
    data-targets="waiting-form.prerequisites"
    data-waiting-form-method="waitForRecognition"
  >
    <div class="color-fg-muted mt-2 d-flex flex-items-center">
      <%# Icon %>
      <% SocialAccount.all_providers.each do |provider| %>
        <span
          <% if provider != account.class %>hidden<% end %>
          data-targets="social-account-editor.iconOptions"
          <% if provider.generic? %>data-target="social-account-editor.iconGeneric"<% end %>
          data-provider-key="<%= provider.key %>"
        >
          <%= social_account_icon(provider, "aria-label": provider.title) %>
          <% provider.js_recognition_patterns.each do |pattern| %>
            <span class="d-none" data-provider-pattern="<%= pattern %>"></span>
          <% end %>
          <% if GitHub.nodeinfo_probe_enabled? %>
            <% provider.js_nodeinfo_patterns.each do |pattern| %>
              <span
                class="d-none"
                data-try-nodeinfo-pattern="<%= pattern %>"
                data-nodeinfo-software="<%= provider.nodeinfo_software %>"
              ></span>
            <% end %>
          <% end %>
        </span>
      <% end %>
      <span data-target="social-account-editor.iconSpinner" hidden>
        <%= render(Primer::Beta::Spinner.new(size: :small)) %>
      </span>
      <input
        type="hidden"
        data-target="social-account-editor.iconField"
        name="<%= form_name_prefix %>[profile_social_accounts][][key]"
        value="<%= account.key %>"
      >
      <%# URL field %>
      <input
        class="ml-2 form-control flex-auto input-sm"
        data-target="social-account-editor.urlField"
        data-action="change:social-account-editor#recognizeUrl"
        type="text"
        placeholder="Link to social profile"
        aria-label="Link to social profile"
        name="<%= form_name_prefix %>[profile_social_accounts][][url]"
        value="<%= account.url %>"
        <%= test_selector("profile-social-account-edit") %>
      >
    </div>
  </social-account-editor>
<% end %>
