<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::Beta::Subhead.new(mb: 4) do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= render Primer::Beta::Breadcrumbs.new do |c| %>
      <% c.with_item(href: pages_settings_path) do %>Pages<% end %>
      <% c.with_item(href: request.path, selected: true, id: "pages_domain_protection_label") do %>Add a verified domain<% end %>
    <% end %>
  <% end %>
<% end %>

<% if flash[:pages_protected_domain_error] %>
  <%= render(Primer::Beta::Flash.new(scheme: :danger, icon: :alert, display: :flex, align_items: :center)) do %>
    <div>
      <% flash[:pages_protected_domain_error].each do |message| %>
        <p class="mb-0"><%= message %></p>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= form_for "page_protected_domain", url: pages_protected_domains_path, html: {
  "aria-labelledby": "pages_domain_protection_label"
} do |f| %>
  <div class="form-group">
    <%= render Primer::Alpha::TextField.new(
      name: "page_protected_domain[name]",
      label: "What domain would you like to add?",
    ) %>
  </div>

  <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>Add domain<% end %>
<% end %>
