<%# erblint:counter DeprecatedComponentsCounter 4 %>
<% is_organization = current_pages_owner.organization? %>

<section class="settings-protected-domains" aria-labelledby="pages_domain_protection_label">
  <% if domains.any?(&:unverified?) %>
    <%= render(Primer::Beta::Flash.new(scheme: :danger, icon: :alert, display: :flex, align_items: :center, my: 4)) do %>
      <p>
        One of your domains is unverified. Please verify it to prevent others from claiming it for their Pages sites.
        <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/pages/configuring-a-custom-domain-for-your-github-pages-site/verifying-your-custom-domain-for-github-pages"
        aria-label="Learn more about domain verification">Learn more</a>
      </p>
    <% end %>
  <% end %>

  <% if domains.any?(&:pending?) %>
    <% nearest_expiration = domains.filter_map { |d| d.unverified_at if d.pending? }.min %>
    <% deadline = time_until_unverification(nearest_expiration) %>
    <% within_deadline = deadline ? "within the next #{deadline}" : "now" %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, icon: :alert, display: :flex, align_items: :center, my: 4)) do %>
      <p>
        One of your domains requires reverification. Please verify it <%= within_deadline %> to prevent others from claiming it for their Pages sites.
        <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/pages/configuring-a-custom-domain-for-your-github-pages-site/verifying-your-custom-domain-for-github-pages"
        aria-label="Learn more about domain verification">Learn more</a>
      </p>
    <% end %>
  <% end %>

  <% if flash[:pages_protected_domain_info] %>
    <%= render(Primer::Beta::Flash.new(scheme: :success, my: 4, display: :flex, align_items: :center, "aria-atomic": true, role: "alert", classes: "js-flash-alert")) do%>
      <div><%= flash[:pages_protected_domain_info] %></div>
      <button autofocus class="flash-close js-flash-close" type="button" aria-label="Dismiss this message">
        <%= primer_octicon(:x) %>
      </button>
    <% end %>
  <% end %>

  <div class="d-flex pb-2 mt-4 flex-justify-between">
    <h3 id="pages_domain_protection_label" class="text-normal">Verified domains</h3>
    <%= render Primer::ButtonComponent.new(tag: :a, scheme: :primary, href: new_domain_path) do %>Add a domain<% end %>
  </div>

  <%= render Pages::ProtectedDomains::DomainListComponent.new(domains: domains, owner: owner) %>
</section>
