<%# erblint:counter DeprecatedComponentsCounter 2 %>

<%= render Primer::Beta::Subhead.new(mb: 4) do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= render Primer::Beta::Breadcrumbs.new do |c| %>
      <% c.with_item(href: pages_settings_path) do %>Pages<% end %>
      <% c.with_item(href: request.path, selected: true, id: "pages_domain_protection_label") do %>Add a verified domain<% end %>
    <% end %>
  <% end %>
<% end %>

<section id="pages-domain-protection-verify" aria-labelledby="pages_domain_protection_label" data-hpc>
  <% if flash[:pages_protected_domain_error].present? %>
    <%= render(Primer::Alpha::Banner.new(scheme: :warning, icon: :alert, mb: 4, dismiss_scheme: :hide)) do %>
        We were unable to verify ownership of <strong><%= domain.name %></strong>.
        <% flash[:pages_protected_domain_error].each do |message| %>
          <%= message %>
        <% end %>
    <% end %>
  <% end %>

  <div class="d-flex flex-wrap flex-justify-between mb-2">
    <h3>Add a DNS TXT record</h3>
    <%= render Primer::Beta::ClipboardCopy.new(
      id: "pages-domain-protection-copy-steps",
      "aria-label": "Copy verification steps to the system clipboard",
      value: "
1. Create a TXT record in your DNS configuration for the following hostname: #{domain.dns_txt_key}
2. Use this code for the value of the TXT record: #{domain.challenge}
3. Wait until your DNS configuration changes. This could take up to 24 hours to propagate.
".lstrip,
      data: { "copy-feedback": "Copied!", "tooltip-direction": :n },
      classes: "btn",
    ) do %>
      Copy verification steps
    <% end %>
  </div>

  <p>Before we can verify <strong><%= domain.name %></strong>, you'll need to complete these steps:</p>

  <ol class="ml-4">
    <li class="my-2">
      <strong>Create a TXT record in your DNS configuration for the following hostname:</strong>
        <%= render partial: "settings/pages_protected_domains/copy_value_hostname", locals: { value: domain.dns_txt_key_copy_challenge, punycode_encoded_domain: domain.domain_string_for_challenge, desc: "DNS TXT key" } %>
    </li>
    <li class="my-2">
      <strong>Use this code for the value of the TXT record:</strong>
      <%= render partial: "settings/pages_protected_domains/copy_value", locals: { value: domain.challenge, desc: "DNS TXT value" } %>
    </li>
    <li class="my-2">
      <strong>Wait until your DNS configuration changes. This could take up to 24 hours to propagate.</strong>
    </li>
  </ol>

  <% if domain.verified? %>
    <div class="d-flex flex-items-baseline color-fg-muted">
      <%= render Primer::ButtonComponent.new(scheme: :primary, disabled: true, mr: 2) do %>
        Verify
      <% end %>
      Your domain is verified. No further action is needed.
    </div>
  <% else %>
    <%= form_with url: update_url, method: "put" do %>
      <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit) do %>
        Verify
      <% end %>
    <% end %>
  <% end %>
</section>
