<% page_info title: "2FA Required", class: "session-authentication" %>

<% name = target.safe_profile_name %>

<div class="Box mt-6 mx-auto" style="max-width: 340px">
  <div class="m-4 text-center">
    <div class="position-relative mt-2 mb-3">
      <%= avatar_for target, 60, class: "avatar mb-3" %>
      <h2 class="f2-light">
        <strong><%= name %></strong> requires two-factor authentication
      </h2>
    </div>

    <p class="color-fg-muted mt-2 mb-4">
      <%= name %> requires everyone in the organization to enable two-factor authentication.
      <%= link_to "Learn more.", "#{GitHub.help_url}/github/authenticating-to-github/configuring-two-factor-authentication", class: "Link--inTextBlock" %><%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
    </p>
    <%= link_to("Enable two-factor authentication", settings_user_2fa_intro_path, class: "btn btn-primary btn-block") %>
  </div>
</div>
