<%# erblint:counter GoogleAnalyticsDeprecation 3 %>
<%graphql
  fragment Organization on Organization {
    team(slug: $slug) {
      name
      viewerCanAdminister

      projects {
        totalCount
      }
    }

    ...Views::Orgs::TeamProjects::AddProjectDialog::Organization
    ...Views::Orgs::TeamProjects::List::Organization
  }
%><%# erblint:disable NoGraphqlFragments %>

<%
organization = Views::Orgs::TeamProjects::Container::Organization.new(organization)
team = organization.team
index_navigation_options = {
  selected_item_id: :classic,
  beta_path: team_projects_path(type: "new"),
  classic_path: team_projects_path(type: "classic"),
  template_path: show_templates_index ? team_projects_path(query: "is:open is:template") : nil,
}
%>

<% if GitHub.projects_new_enabled? %>
  <div class="<%= class_names(
    "clearfix container-xl",
    "d-flex flex-column flex-auto" => full_height?,
    "px-3 px-md-4 px-lg-5" => !full_height? && !skip_responsive_padding?,
    "p-0" => !(!full_height? && !skip_responsive_padding?),
    "mt-4" => !full_height?
  ) %>">
    <h1 class='sr-only'>Projects: <%= team.name %></h1>

    <div class="clearfix mb-3">
      <div class="d-flex flex-column flex-lg-row width-full">
        <div class="d-flex d-lg-none flex-auto flex-justify-between flex-row">
          <%= render Memex::IndexNavigationComponent.new(
            **index_navigation_options,
            display_mode: :dropdown
          ) %>

          <% if team.viewer_can_administer? %>
            <%= render layout: "shared/spacious_details_dialog", locals: {
              button_text: "New classic project",
              button_class: "btn d-block d-md-inline-block float-md-right text-center",
              details_class: "d-flex d-md-block",
              dialog_class: "",
              hide_title: true,
              title: "Add project to #{team.name}",
              ga_click: "Team, add project, location:team projects; text:Add project"
            } do %>
              <%= render partial: "orgs/team_projects/add_project_dialog", locals: { organization: organization } %>
            <% end %>
          <% end %>
        </div>

        <div class="d-lg-block d-none col-3 pr-lg-4 pr-xl-5">
          <%= render Memex::IndexNavigationComponent.new(
            **index_navigation_options,
            owner_type: :team,
            display_mode: :list,
          ) %>
        </div>

        <div class="flex-auto col-12 col-lg-8">
          <div class="d-flex flex-items-center flex-justify-end mb-3" style="gap: 8px">

            <% if team.viewer_can_administer? %>
              <%= render layout: "shared/spacious_details_dialog", locals: {
                button_text: "New classic project",
                button_class: "btn d-none d-lg-block float-md-right text-center",
                details_class: "d-flex d-md-block",
                dialog_class: "",
                hide_title: true,
                title: "Add project to #{team.name}",
                ga_click: "Team, add project, location:team projects; text:Add project"
              } do %>
                <%= render partial: "orgs/team_projects/add_project_dialog", locals: { organization: organization } %>
              <% end %>
            <% end %>
          </div>

          <div class="table-list-header table-list-header-next">
            <div class="table-list-filters d-flex">
              <span class="table-list-heading table-list-header-meta flex-auto ml-3">
                <%= "#{pluralize(team.projects.total_count, "project")} in the #{team.name} team"  %>
              </span>
            </div>
          </div>


          <div id="org-team-projects">
            <%= render partial: "orgs/team_projects/list", locals: { organization: organization } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container-lg p-responsive mt-4">
    <div itemscope itemtype="http://schema.org/Organization">
      <div class="subnav org-toolbar org-toolbar-next">
        <% if team.viewer_can_administer? %>
          <%= render layout: "shared/spacious_details_dialog", locals: {
              button_text: "Add project",
              button_class: "btn btn-primary flex-auto float-md-right text-center",
              details_class: "d-flex d-md-block",
              dialog_class: "",
              hide_title: true,
              title: "Add project to #{team.name}",
              ga_click: "Team, add project, location:team projects; text:Add project"
            } do %>
            <%= render partial: "orgs/team_projects/add_project_dialog", locals: { organization: organization } %>
          <% end %>
        <% end %>
      </div>

      <div class="table-list-header table-list-header-next">
        <div class="table-list-filters d-flex">
          <span class="table-list-heading table-list-header-meta flex-auto ml-3">
            <%= "#{pluralize(team.projects.total_count, "project")} in the #{team.name} team"  %>
          </span>
        </div>
      </div>

      <div id="org-team-projects">
        <%= render partial: "orgs/team_projects/list", locals: { organization: organization } %>
      </div>
    </div>
  </div>
<% end %>
