<div class="site-admin-box">
  <h4>
    <%= render(Primer::Beta::Octicon.new(icon: "repo")) %>
    Repositories
  </h4>
  <ul class="site-admin-detail-list">
    <% if counts[:total_repos] == 0 %>
      <li>
        <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
        No repositories
      </li>
    <% else %>
      <li>
        <%= primer_octicon(:lock) %>
        <%= pluralize(number_with_delimiter(counts[:private_repos]), "private repository") %>
      </li>
      <li>
        <%= render(Primer::Beta::Octicon.new(icon: "repo")) %>
        <%= pluralize(number_with_delimiter(counts[:public_repos]), "public repository") %>
      </li>
    <% end %>
  </ul>
</div>
