
<div class="site-admin-box">
  <h4>
    <%= primer_octicon(:"credit-card") %>
    Billing
  </h4>
  <ul class="site-admin-detail-list">
    <li>
      <%= primer_octicon(:gear) %>
      <%= account.plan.to_s.titleize %> plan
    </li>
    <% if account.yearly_plan? %>
      <li>
        <%= primer_octicon(:calendar) %>
        Paying yearly
      </li>
    <% end %>
    <% if account.disabled? %>
      <li>
        <%= primer_octicon(:alert, classes: "alert") %>
        This account’s billing is locked
      </li>
    <% end %>
    <li>
      <% if account.has_credit_card? %>
        <%= primer_octicon(:"credit-card") %>
        Card on file
      <% elsif account.has_paypal_account? %>
        <%= primer_octicon(:"credit-card") %>
        PayPal account linked
      <% else %>
        <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
        No payment method on file
      <% end %>
    </li>
    <% if account.payment_method && account.payment_method.blocklisted? %>
      <li>
        <%= primer_octicon(:alert, classes: "alert") %>
        This account's payment method is blocklisted
      </li>
    <% end %>
    <% if (coupon = account.coupon) %>
      <li>
        <%= primer_octicon(:gift) %>
        Active coupon
        <% unless coupon.plan_specific? %>
          <br>
          <small>
            <%= coupon.human_discount %> off for <%= coupon.human_duration %>
          </small>
        <% end %>
      </li>
    <% end %>
    <% if last_transaction %>
      <% if last_transaction.charged_back? %>
        <li>
          <%= primer_octicon(:stop, classes: "alert") %>
          Disputed charge on
          <%= last_transaction.created_at.to_date %>
        </li>
      <% elsif last_transaction.was_refunded? %>
        <li>
          <%= primer_octicon(:reply, classes: "highlight") %>
          Refunded charge on
          <%= last_transaction.created_at.to_date %>
        </li>
      <% elsif last_transaction.voided? %>
        <li>
          <%= primer_octicon(:history, classes: "highlight") %>
          Voided charge on
          <%= last_transaction.created_at.to_date %>
        </li>
      <% elsif last_transaction.success? %>
        <li>
          <%= primer_octicon(:zap) %>
          Paid $<%= last_transaction.amount %> on
          <%= last_transaction.created_at.to_date %>
        </li>
      <% else %>
        <li>
          <%= primer_octicon(:alert, classes: "alert") %>
          Card declined on
          <%= last_transaction.created_at.to_date %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
