<% view = Stafftools::User::ShowView.new(user: account, current_user: current_user) %>

<div class="site-admin-box">
  <h4>
    <%= primer_octicon(:info) %>
    <%= avatar_for(account, 50) %>
    <%= account.class %> info
  </h4>
  <ul class="site-admin-detail-list">
    <li>
      <%= primer_octicon(:person) %>
      <% if account.profile %>
        <%= account.profile.name %>
      <% else %>
        <%= account.login %>
      <% end %>
      <small>
        &ndash;
        <%= link_to "View profile", user_path(account) %>
      </small>
    </li>
    <% if view.user.is_a?(Organization) && !GitHub.enterprise? %>
      <li>
        <%= primer_octicon(:law) %>
        <%= view.user.terms_of_service.name %> Terms of Service
        <% if view.user.company.try(:name) %>
          through <%= view.user.company.name %>
        <% end %>
      </li>
      <li>
        <%= primer_octicon(:checklist) %>
        <%= view.user.terms_of_service.name %> terms of service
      </li>
    <% end %>
  </ul>
  <% if view.show_corporate_tos_prompt_toggle? %>
    <div class="Box p-3">
      <h5 class="text-small">Corporate Terms of Service Upgrade</h5>
      <p class="text-small">
        Enable a prompt for organization admins to accept the Corporate Terms of Service.
      </p>
      <% if view.user.terms_of_service.corporate_upgrade_prompt_enabled? %>
        <p class="text-small">
          <%= primer_octicon(:check, color: :muted) %> Prompt was enabled <%= time_ago_in_words_js(Time.parse(view.user.terms_of_service.corporate_upgrade_prompt_enabled_at)) %>
        </p>
        <% prompt_button_text = "Re-enable upgrade prompt" %>
      <% else %>
        <% prompt_button_text = "Enable upgrade prompt" %>
      <% end %>
      <%= button_to prompt_button_text, enable_tos_prompt_biztools_users_path(view.user), method: :put, class: "btn btn-sm" %>
    </div>
  <% end %>

  <% if view.show_esa_education_tos_prompt_toggle? %>
    <div class="Box p-3 mt-3">
      <h5 class="text-small">Education Terms of Service Upgrade</h5>
      <p class="text-small">
        Enable a prompt for organization admins to accept the Education Terms of Service.
      </p>
      <% if view.user.terms_of_service.esa_education_upgrade_prompt_enabled? %>
        <p class="text-small">
          <%= primer_octicon(:check, color: :muted) %> Prompt was enabled <%= time_ago_in_words_js(Time.parse(view.user.terms_of_service.esa_education_upgrade_prompt_enabled_at)) %>
        </p>
        <% prompt_button_text = "Re-enable upgrade prompt" %>
      <% else %>
        <% prompt_button_text = "Enable upgrade prompt" %>
      <% end %>
      <%= button_to prompt_button_text, biztools_user_education_terms_path(view.user), method: :post, class: "btn btn-sm" %>
    </div>
  <% end %>
</div>
