<a
  class="Header-link"
  href="<%= home_url %>"
  data-hotkey="g d"<%# erblint:disable DataHotkey %>
  aria-label="<%= "Homepage #{GitHub.site_heading(enterprise_managed_user: enterprise_managed_user?)}" %>"
  data-turbo="false"
  <%= safe_analytics_click_attributes(
    category: "Header",
    action: "go to dashboard",
    label: "icon:logo"
  ) %>
>
  <%= primer_octicon(:"mark-github", height: 32, vertical_align: :middle) %>
  <% if GitHub.site_heading.present? || enterprise_managed_user? %>
    <span class="h4 pl-1 v-align-middle<% if responsive? %> d-none d-lg-inline<% end %>"><%= GitHub.site_heading(enterprise_managed_user: enterprise_managed_user?) %></span>
  <% end %>
</a>
