
<%#
This file is temporary!
It will be deleted once Blackbird search is GA in the monolith.
%>

<%# locals: (hotkey: "s,/", enable_jump_to: true) %>

<% view = Site::HeaderView.new(
      current_user: current_user,
      current_repository: current_repository,
      current_organization: current_organization,
      is_mobile_request: mobile?,
      current_copilot_user: current_copilot_user,
      enable_jump_to: enable_jump_to,
      params: params)

    is_search_page = current_page?(view.unscoped_search_path) || (GitHub.enterprise? && current_page?(view.unscoped_dotcom_search_path)) || (view.scoped_search_path && current_page?(view.scoped_search_path))
%>

<% unless is_search_page %>
  <button type="button" class="AppHeader-button AppHeader-search-whenNarrow js-toggle-appheader-search" aria-label="Search or jump to…">
    <%= primer_octicon :search %>
  </button>
<% end %>

<div class="<%= class_names(
    "js-site-search",
    "js-jump-to" => view.jump_to_enabled?,
    "scoped-search site-scoped-search" => view.search_scoped?,
  ) %>"
>
  <div class="AppHeader-search-whenRegular" style="width: 350px;">
    <%= form_tag view.search_path,
        :method => :get,
        :class => "js-site-search-form",
        :role => "search",
        "aria-label" => "Site",
        "data-scope-type" => view.scope&.class&.name,
        "data-scope-id" => view.scope&.id,
        "data-scoped-search-url" => view.scoped_search_path,
        "data-owner-scoped-search-url" => view.owner_scoped_search_path,
        "data-unscoped-search-url" => view.unscoped_search_path do %>
          <div class="AppHeader-search-wrap AppHeader-search-wrap--hasTrailing">
            <div class="AppHeader-search-control">
              <label
                for="AppHeader-searchInput"
                aria-label="Search or jump to…"
                class="AppHeader-search-visual--leading"
              >
                <%= render(Primer::Beta::Octicon.new(:search)) %>
              </label>

              <input
                id="AppHeader-searchInput"
                type="search"
                placeholder="Search or jump to…"
                aria-describedby="AppHeader-searchPlaceholder-id"
                class="form-control input-contrast <%= "jump-to-field js-jump-to-field" if view.jump_to_enabled? %> js-site-search-focus <%= "js-site-search-field" if view.search_scoped? %>"
                <%= "data-hotkey=#{hotkey}" if hotkey.present? %>
                name="q"
                <%= test_selector "nav-search-input" %>
                <%# only prefill the value on the search page since query can come from other searches like the issues page %>
                <% if is_search_page %>
                  value="<%= view.query %>"
                <% end %>
                data-unscoped-placeholder="<%= view.unscoped_search_placeholder_text %>"
                data-scoped-placeholder="<%= view.scoped_search_placeholder_text %>"
                autocapitalize="off"
                <% if view.jump_to_enabled? %>
                role="combobox"
                aria-haspopup="listbox"
                aria-expanded="false"
                aria-autocomplete="list"
                aria-controls="jump-to-results"
                aria-label="<%= view.search_placeholder_text %>"
                data-jump-to-suggestions-path="<%= graphql_path("GetSuggestedNavigationDestinations") %>"
                spellcheck="false"
                autocomplete="off"
                <% else %>
                aria-label="<%= view.search_aria_label_text %>"
                <% end %>
              >
              <% if user_or_global_feature_enabled? :skip_anon_jump_to_suggestions_enabled %>
                <% if logged_in? %>
                  <%= csrf_hidden_input_for graphql_path("GetSuggestedNavigationDestinations"), class: "js-data-jump-to-suggestions-path-csrf" %>
                <% end %>
              <% else %>
                <%= csrf_hidden_input_for graphql_path("GetSuggestedNavigationDestinations"), class: "js-data-jump-to-suggestions-path-csrf" %>
              <% end %>
              <input type="hidden" class="js-site-search-type-field" name="type" <%# The value is plucked from URL params by JS on submit %>>

              <% if view.jump_to_enabled? %>
                <div class="Box position-absolute overflow-hidden d-none jump-to-suggestions js-jump-to-suggestions-container">
                  <%= render partial: "jump_to/client_templates", locals: {
                    scoped_search_badge_text: view.jump_to_search_scope_badge_text,
                    scoped_search_badge_aria_label: view.jump_to_search_scope_badge_aria_label,
                    scoped_owner_search_badge_text: view.jump_to_search_owner_scope_badge_text,
                    scoped_owner_search_badge_aria_label: view.jump_to_search_owner_scope_badge_aria_label,
                    global_search_badge_text: view.jump_to_search_global_badge_text,
                    global_search_badge_aria_label: view.jump_to_search_scope_badge_aria_label_global
                  } %>
                </div>
              <% end %>
            </div>

            <span class="AppHeader-search-placeholder" id="AppHeader-searchPlaceholder-id">
              Type <kbd class="AppHeader-search-kbd">/</kbd> to search
            </span>

            <% if command_palette_enabled? %>
              <button type="button" id="AppHeader-commandPalette-button" class="AppHeader-search-action--trailing js-activate-command-palette" <%= safe_analytics_click_attributes(category: "SiteHeaderComponent", action: "command_palette", label: "open command palette") %>>
                <%= render(Primer::Beta::Octicon.new(:"command-palette")) %>
              </button>

              <%= render(Primer::Alpha::Tooltip.new(for_id: "AppHeader-commandPalette-button", type: :label, text: "Command palette", direction: :s)) %>
            <% end %>
          </div>
    <% end %>
  </div>
</div>
