<li class="Box-row js-required-status-check" data-context="<%= context %>">
  <div class="d-flex flex-items-center">
    <div class="flex-auto d-flex flex-justify-between">
      <b class="js-required-status-check-context"><%= context %></b>
      <% if current_repository.required_status_checks_perf_improvements? %>
        <%= render GitHub::BatchDeferredContentComponent.new(
          classes: "d-flex flex-items-center",
          url: branch_protection_rules_integration_suggestions_path,
          inputs: {
            protected_branch_id: protected_branch.id,
            context:,
            integration_id: selected_integration&.id,
          }
          ) do %>
          <%= render(
            "branch_required_status_contexts/integration_select",
            context: context,
            selected_integration: selected_integration,
            deferred_integration_loading: true
          ) %>
        <% end %>
      <% else %>
        <%= render(
          "branch_required_status_contexts/integration_select",
          context: context,
          selected_integration: selected_integration,
          integrations: protected_branch.possible_required_status_contexts_and_integrations[context]
        ) %>
      <% end %>
    </div>
    <div>
      <%= hidden_field_tag "contexts[]", context, id: nil %>
      <%= render(Primer::Beta::CloseButton.new(
        classes: "btn js-remove-required-status-check",
        float: :right,
        aria: {
          label: "Remove #{context} as a required status check"
        }
      )) %>
    </div>
  </div>
</li>
