<% field_name = "integration_ids[#{Base64.urlsafe_encode64(context).strip}]" %>
<% if local_assigns[:deferred_integration_loading] %>
    <%= render Primer::Beta::Spinner.new(mr: 1, size: :small) %>
<% end %>
<%= render Primer::Experimental::SelectMenuComponent.new(
  display: :inline,
  classes: ["js-branch-protection-integration-select"],
  menu: { tag: :"details-menu" },
  aria: { label: "Accept updates from" },
) do |c| %><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
  <% c.with_summary(scheme: :invisible) do %>
    <span class="js-branch-protection-integration-select-current">
      <% if selected_integration.nil? %>
        any source
      <% else %>
        <%= render(GitHub::AvatarComponent.new(actor: selected_integration.bot, mr: 1)) %>
        <%= selected_integration %>
      <% end %>
    </span>
  <% end %>
  <% c.with_list do |list| %>
    <% if local_assigns[:deferred_integration_loading] %>
      <% list.with_message do %>
        Loading suggestions...
      <% end %>
    <% else %>
      <% list.with_item(tag: :label, selected: selected_integration.nil?, classes: ["js-branch-protection-integration-select-item"]) do %>
        <input type="radio" <%= "checked" if selected_integration.nil? %> required hidden name="<%= field_name %>" value="any" class="js-branch-protection-integration-select-input">
        <span class="js-branch-protection-integration-select-label">
          any source
        </span>
      <% end %>
      <% integrations.each do |integration| %>
        <%- selected = selected_integration == integration %>
        <% list.with_item(tag: :label, selected: selected, classes: ["js-branch-protection-integration-select-item"])  do %>
          <input type="radio" <%= "checked" if selected %> required hidden name="<%= field_name %>" value="<%= integration.global_relay_id %>" class="js-branch-protection-integration-select-input">
          <span class="js-branch-protection-integration-select-label">
            <%= render(GitHub::AvatarComponent.new(actor: integration.bot, mr: 1)) %>
            <%= integration %>
          </span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
