<filter-input aria-owns="featured-repos" data-target="featured-work.filterInput" data-action="filter-input-start:featured-work#setFilteringLogic">
  <div class="d-flex flex-column flex-lg-row flex-auto">
    <div class="auto-search-group mb-1 mb-lg-0 mr-lg-1 flex-auto">
      <input
        type="search"
        aria-label="Search repositories"
        class="form-control width-full auto-search-input"
        data-target="featured-work.input"
        data-action="focus:featured-work#loadMoreItems"
        placeholder="Search repositories">
      <%= render Primer::Beta::Octicon.new(icon: "search") %>
    </div>
  </div>
</filter-input>
<remote-pagination
  class="overflow-auto mt-2 border-md-top"
  data-target="featured-work.remotePagination"
  data-action="remote-pagination-load:featured-work#filter remote-pagination-load:featured-work#trackSelectedRepoCount"
  id="featured-repos">
  <ul <%= test_selector("repositories-search-results-list") %> data-filter-list class="mb-2 list-style-none position-relative" data-target="remote-pagination.list" style="overflow: auto; height: 100%">
    <%= render partial: "sponsors/profiles/pinnable_repos", locals: {
      pinnable_items: repositories,
      pinned_items: currently_featured_repos,
      pinned_items_remaining: ::SponsorsListingFeaturedItem::FEATURED_REPOS_LIMIT_PER_LISTING - currently_featured_repos.count,
      sponsorable_login: sponsorable_login,
    } %>
  </ul>
  <%= form_tag "", method: "GET", class: "mb-3", hidden: true, "data-target": "remote-pagination.form", "data-action": "submit:remote-pagination#submit" do %>
    <%= render Primer::Beta::Button.new(scheme: :link, "data-target": "remote-pagination.submitButton", type: :submit) do %>Load more<% end %>
  <% end %>
</remote-pagination>
