<featured-work
  class="f5 d-flex flex-column overflow-hidden height-full"
  max="6"
  data-preview-url="<%= edit_sponsorable_dashboard_profile_featured_work_path(sponsorable) %>"
  data-search-url="<%= sponsorable_dashboard_profile_pinnable_repos_path(sponsorable) %>"
  >
  <div class="d-flex flex-justify-between mt-5 mb-3" <%= test_selector("sponsors-dashboard-featured-work") %>>
    <div class="mr-1">
      <label class="f4">Featured work <span class="f5 color-fg-muted text-normal">(optional)</span></label>
      <p class="note">
        Select public repositories to showcase on your GitHub Sponsors profile
      </p>
    </div>
    <div class="ml-1">
      <%= render Primer::Beta::Button.new(
        w: :full,
        data: {
          "show-dialog-id": "edit-sponsors-featured-work",
          target: "modal-dialog.show-button"
        }
      ) do %>
        Edit
      <% end %>
      <%= render Sponsors::Dashboard::Profile::FeaturedWorkSearchModalComponent.new(sponsors_listing: sponsors_listing)%>
    </div>
  </div>

  <div data-target="featured-work.repoList">
    <%= render Sponsors::Dashboard::Profile::SortableFeaturedReposComponent.new(featured_repos: featured_repositories) %>
  </div>
</featured-work>
