<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Alpha::Dialog.new(
  title: "Edit featured work",
  subtitle: "Select up to #{featured_repos_limit} public repositories.",
  id: "edit-sponsors-featured-work",
  data: {
    target: "featured-work.editDialog",
    test_selector: "sponsors-featured-work-search-modal"
  },
  size: :medium,
  style: "height: 100%; max-height: 70vh;"
) do |dialog| %>
  <%= dialog.with_body do %>
    <%= render Primer::Beta::Flash.new(
      scheme: :danger,
      py: 2,
      hidden: true,
      data: { target: "featured-work.error"}) do %>
      Please select 6 or fewer repositories
    <% end %>
    <include-fragment src="<%= sponsorable_dashboard_profile_featured_work_path(sponsorable_login) %>">
      <div data-hide-on-error>
        <%= render Primer::Beta::Spinner.new(aria: { label: "Loading" }) %>
      </div>
      <div data-show-on-error hidden>
        Something went wrong.
        <%= render Primer::Beta::Button.new("data-retry-button": "", scheme: :link, type: :submit) do %>Retry.<% end %>
      </div>
    </include-fragment>
  <% end %>

  <%= dialog.with_footer(show_divider: true) do %>
    <span class="float-left text-small pt-3 lh-condensed-ultra <%= " color-fg-danger" if featured_repos_remaining < 1 %>" data-target="featured-work.limitNotice" data-remaining-label="out of <%= featured_repos_limit %> repos added">
      <%= featured_repos_limit - featured_repos_remaining %> out of <%= featured_repos_limit %> repos added
    </span>
    <%= render(Primer::Beta::Button.new(
      scheme: :primary,
      display: :inline_block,
      data: {
        test_selector: "sponsors-featured-repos-submit-selection",
        action: "click:featured-work#handleSubmit"
      }
    )) { "Select" } %>
  <% end %>
<% end %>
