<%= hidden_field_tag "sponsors_listing[featured_sponsorships_selection][]", "" %>

<% featured_sponsorships.each do |sponsorship| %>
  <input type="hidden" name="sponsors_listing[featured_sponsorships_selection][]" value="<%= sponsorship.featureable.id %>">
<% end %>

<div class="d-flex flex-column ml-1 mr-1 mt-5 mb-3" <%= test_selector("sponsors-dashboard-featured-sponsors") %>>
  <label class="f4">Featured sponsors <span class="f5 color-fg-muted text-normal">(optional)</span></label>
  <p class="note">
    Use this area to spotlight sponsors. This is the order your sponsors will appear on your profile.
  </p>

  <div class="form-checkbox">
    <label for="enable-featured-sponsorships">
      Display featured sponsors
    </label>
    <input type="checkbox" value="enable"
      <%= "checked" if featured_sponsorships_enabled? %>
      id="enable-featured-sponsorships"
      class="js-sponsors-enable-featured-sponsorships"
      name="sponsors_listing[enable_featured_sponsorships]">

    <div class="js-sponsors-settings-featured-sponsorships" <%= "hidden" unless featured_sponsorships_enabled? %>>
      <fieldset>
        <div class="form-checkbox">
          <label for="automatic-featured-sponsorships">
            Automatically feature my top funders of all time
          </label>
          <input type="radio" value="automatic"
            <%= "checked" if featured_sponsorships_automatic? %>
            id="automatic-featured-sponsorships"
            class="js-sponsors-automate-featured-sponsorships"
            name="sponsors_listing[automate_featured_sponsorships]">
        </div>
        <div class="form-checkbox">
          <label for="manual-featured-sponsorships">
            I want to manually add my featured sponsors
          </label>
          <input type="radio" value="manual"
            <%= "checked" unless featured_sponsorships_automatic? %>
            id="manual-featured-sponsorships"
            class="js-sponsors-automate-featured-sponsorships"
            name="sponsors_listing[automate_featured_sponsorships]">
        </div>
      </fieldset>

      <div class="js-sponsors-manual-featured-sponsorships" <%= "hidden" if featured_sponsorships_automatic? %>>
        <%= render Primer::Alpha::Dialog.new(
          title: "Add up to #{featured_sponsorships_limit} funders to your GitHub Sponsors profile",
          id: "edit-featured-sponsorships-dialog",
          classes: "js-sponsors-featured-sponsorships-search-modal",
          size: :medium_portrait,
        ) do |dialog| %>
          <% dialog.with_show_button { "Add or remove" } %>
          <% dialog.with_header(show_divider: true) do %>
            <h1 class="Overlay-title mb-1">
              Add up to <%= featured_sponsorships_limit %> funders to your GitHub Sponsors profile
            </h1>
            <label for="sponsors-featured-sponsorships-search-input">Search @<%= sponsorable_login %> sponsors:</label>
            <div class="auto-search-group">
              <input type="search"
                id="sponsors-featured-sponsorships-search-input"
                class="form-control input-block input-contrast auto-search-input"
                form="<%= Sponsors::Dashboard::Profile::FeaturedSponsorsFormComponent::FORM_ID %>"
                name="query"
                placeholder="Search by username"
                aria-controls="<%= Sponsors::Dashboard::Profile::FeaturedSponsorsFormComponent::RESULTS_CONTAINER_ID %>"
                autocomplete="off"
                spellcheck="false"
                data-throttled-autosubmit>
              <%= primer_octicon(:search) %>
              <%= render Primer::Beta::Spinner.new(classes: "spinner") %>
            </div>
          <% end %>
          <% dialog.with_body(
            id: Sponsors::Dashboard::Profile::FeaturedSponsorsFormComponent::RESULTS_CONTAINER_ID,
            classes: "js-sponsors-dashboard-profile-search-results"
          ) do %>
              <include-fragment src=
                "<%= sponsorable_dashboard_profile_featured_sponsorships_path(sponsorable_login) %>" preload>
                  <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
              </include-fragment>
          <% end %>
          <% dialog.with_footer(
            display: :flex,
            align_items: :center,
            justify_content: :space_between,
            show_divider: true,
          ) do %>
            <span class="<%= class_names(
              "js-sponsors-featured-items-remaining text-small",
              "color-fg-danger" => total_featured_sponsorships >= featured_sponsorships_limit,
            ) %>" aria-live="polite">
              <%= featured_sponsorships_limit - total_featured_sponsorships %> remaining
            </span>
            <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary).with_content("Save") %>
          <% end %>
        <% end %>
        <%= render Sponsors::Dashboard::Profile::SortableFeaturedSponsorsComponent.new(featured_sponsorships: featured_sponsorships) %>
      </div>
    </div>
  </div>
</div>
