<%= hidden_field_tag "sponsors_listing[featured_users_selection][]", "" %>

<% featured_users.each do |user| %>
  <input type="hidden" name="sponsors_listing[featured_users_selection][]" value="<%= user.featureable.id %>">
<% end %>

<div class="d-flex flex-justify-between mt-5 mb-3" <%= test_selector("sponsors-dashboard-meet-the-team") %>>
  <div class="mr-1">
    <label class="f4">Meet the team <span class="f5 color-fg-muted text-normal">(optional)</span></label>
    <p class="note">
      Highlight members of the <%= sponsorable_login %> organization on your GitHub Sponsors profile.
      The first <%= pluralize(SponsorsListingFeaturedItem::MAX_DISPLAYED_FEATURED_USERS, "user") %>
      will be shown on load while the remaining users will be shown in a toggleable section below.
    </p>
  </div>
  <div class="ml-1">
    <%= render Primer::Alpha::Dialog.new(
      title: "Add up to #{featured_users_limit} members to your GitHub Sponsors profile",
      id: "edit-meet-the-team-dialog",
      classes: "js-sponsors-meet-the-team-search-modal",
      size: :medium_portrait,
    ) do |dialog| %>
      <% dialog.with_show_button { "Edit" } %>
      <% dialog.with_header(show_divider: true) do %>
        <h1 class="Overlay-title mb-1">
          Add up to <%= featured_users_limit %> members to your GitHub Sponsors profile
        </h1>
        <label for="sponsors-meet-the-team-search-input">Search @<%= sponsorable_login %> members:</label>
        <div class="auto-search-group">
          <input type="search"
            id="sponsors-meet-the-team-search-input"
            class="form-control input-block input-contrast auto-search-input"
            form="<%= Sponsors::Dashboard::Profile::MeetTheTeamFormComponent::FORM_ID %>"
            name="query"
            placeholder="Search by username"
            aria-describedby="<%= Sponsors::Dashboard::Profile::MeetTheTeamSearchResultsComponent::RESULTS_DESCRIPTION_ID %>"
            aria-controls="<%= Sponsors::Dashboard::Profile::MeetTheTeamFormComponent::RESULTS_CONTAINER_ID %>"
            autocomplete="off"
            spellcheck="false"
            data-throttled-autosubmit>
          <%= primer_octicon(:search) %>
          <%= render Primer::Beta::Spinner.new(classes: "spinner") %>
        </div>
      <% end %>
      <% dialog.with_body(
        id: Sponsors::Dashboard::Profile::MeetTheTeamFormComponent::RESULTS_CONTAINER_ID,
        classes: "js-sponsors-dashboard-profile-search-results"
      ) do %>
        <include-fragment src="<%= sponsorable_dashboard_profile_meet_the_teams_path(sponsorable_login) %>" preload>
          <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
        </include-fragment>
      <% end %>
      <% dialog.with_footer(
        display: :flex,
        align_items: :center,
        justify_content: :space_between,
        show_divider: true,
      ) do %>
        <span class="<%= class_names(
          "js-sponsors-featured-items-remaining text-small",
          "color-fg-danger" => total_featured_users >= featured_users_limit,
        ) %>" aria-live="polite">
          <%= featured_users_limit - total_featured_users %> remaining
        </span>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary).with_content("Save") %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render_react_partial(
  name: "sponsors-meet-the-team-list",
  props: react_list_props,
  ssr: true,
) %>
