<div class="clearfix">
  <div class="form-group mt-0 mb-0">
    <div class="mb-3">
      <label class="f4" for="sponsors-short-bio">
        Short bio (<%= SponsorsListing::MAX_FEATURED_DESCRIPTION_LENGTH %> characters)
      </label>
      <p class="note mt-0" id="help-text-for-short-bio">
        This appears wherever your sponsorship is shared
        (for example, in social cards and <%= link_to "github.com/sponsors", sponsors_path, class: "Link--inTextBlock" %> if you opt-in to be featured).
      </p>
    </div>
    <div class="js-length-limited-input-container width-full col-12 col-lg-8">
      <textarea rows="3"
                maxlength="<%= SponsorsListing::MAX_FEATURED_DESCRIPTION_LENGTH %>"
                class="form-control js-length-limited-input"
                style="height: 80px; min-height: 80px;"
                name="sponsors_listing[short_description]"
                id="sponsors-short-bio"
                data-input-max-length="<%= SponsorsListing::MAX_FEATURED_DESCRIPTION_LENGTH %>"
                data-warning-text="{{remaining}} remaining"
                aria-describedby="help-text-for-short-bio"
                autofocus
                <%= test_selector "sponsors-short-bio-input" %>><%= short_description %></textarea>
      <div class="d-flex flex-justify-end mr-2">
        <p class="v-hidden">remaining characters</p>
        <p class="js-length-limited-input-warning d-none color-fg-danger"></p>
      </div>
    </div>
  </div>
</div>
