<ol class="d-flex flex-wrap mt-3 flex-justify-between list-style-none gutter-condensed js-sponsors-sortable-list">
  <% featured_sponsorships.each do |sponsorship| %>
    <li class="d-flex position-relative col-12 mb-3 js-sponsors-sortable-item" <%= test_selector("sponsors-featured-sponsor-#{sponsorship.featureable.sponsor.safe_profile_name}") %> >
      <%= render(Sponsors::Dashboard::Profile::FeaturedSponsorComponent.new(sponsorship: sponsorship.featureable)) %>
      <%# Though these input names looks hideous, it allows us to share logic in the ProfilesController to
          update both the featured users (see: MeetTheTeams) and sponsors sections.  In the future, we would like to refactor
          this page to use `form_with`, bind this form to the sponsors_listing, and use Rails' form helper functions
          to auto-generate these inputs to improve code readability.  See https://github.com/github/sponsors/issues/6086 #%>
      <input type="hidden" name="sponsors_listing[featured_sponsorships][][id]" value="<%= sponsorship.id %>">
      <input type="hidden" name="sponsors_listing[featured_sponsorships][][featureable_id]" value="<%= sponsorship.featureable.id %>">
      <input type="hidden" name="sponsors_listing[featured_sponsorships][][description]" value="">

      <div class="position-absolute top-0 right-0 mt-2 mr-3">
        <%= render Primer::Beta::Button.new(
          scheme: :invisible,
          size: :small,
          right: 0,
          classes: "show-on-focus sortable-button js-sortable-button",
          position: :absolute,
          data: {
            direction: "up"
          }
        ) do %>
          <%= primer_octicon(:"chevron-up", "aria-label": "Move up") %>
        <% end %>
        <%= render Primer::Beta::Button.new(
          scheme: :invisible,
          size: :small,
          right: 0,
          classes: "show-on-focus sortable-button js-sortable-button",
          position: :absolute,
          data: {
            direction: "down"
          }
        ) do %>
          <%= primer_octicon(:"chevron-down", "aria-label": "Move down") %>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>
