<ol class="d-flex flex-wrap flex-justify-between list-style-none gutter-condensed js-sponsors-sortable-list">
  <% featured_repos.each do |repo| %>
    <li class="d-flex position-relative col-12 col-lg-6 mb-3 js-sponsors-sortable-item" <%= test_selector("sponsors-featured-repo-#{repo.name}") %>>
      <%= render(Sponsors::Shared::FeaturedRepositoryComponent.new(repo: repo)) %>

      <%= hidden_field_tag "sponsors_listing[featured_repos][][featureable_id]", repo.id, id: "featured_repo_#{repo.name}" %>

      <div class="position-absolute top-0 right-0 mt-2 mr-3">
        <span class="js-sponsors-sortable-item-handle px-2">
          <%= primer_octicon(:grabber) %>
        </span>
        <%= render Primer::Beta::Button.new(
          scheme: :invisible,
          size: :small,
          right: 0,
          classes: "show-on-focus sortable-button js-sortable-button",
          position: :absolute,
          data: {
            direction: "up"
          }
        ) do %>
          <%= primer_octicon(:"chevron-up", "aria-label": "Move #{repo.name} up") %>
        <% end %>
        <%= render Primer::Beta::Button.new(
          scheme: :invisible,
          size: :small,
          right: 0,
          classes: "show-on-focus sortable-button js-sortable-button",
          position: :absolute,
          data: {
            direction: "down"
          }
        ) do %>
          <%= primer_octicon(:"chevron-down", "aria-label": "Move #{repo.name} down") %>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>
