<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedInPrimerCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<div id="check_suite_<%= check_suite.id %>" class="js-socket-channel js-updatable-content"
  <%= test_selector("check_suite_sidebar_item_#{check_suite.id}") %>
  data-retain-focus
  data-channel="<%= live_update_view_channel(check_suite.channel) %>"
  data-url="<%= partial_path %>">

  <% if check_suite_is_user_visible? %>
    <details class="checks-list-item Details-element details-reset" id="sidebar_check_suite_<%= check_suite.id %>" <%= "open" if open_check_suite? %>>

      <% if viewing_check_suite? && logged_in? %>
        <%= form_tag graphql_path("MarkNotificationSubjectAsRead"), class: "d-none js-mark-notification-form" do %>
          <input type="hidden" name="variables[subjectId]" value="<%= check_suite.global_relay_id %>">
        <% end %>
      <% end %>

      <summary style="padding-bottom: 3px;" class="pt-1 summary-reset checks-list-item pl-3 border-right-0 border-left-0 border-top-0 border-bottom f6 text-left width-full <% if check_suite_selected %> selected color-bg-accent-emphasis color-fg-on-emphasis <% else %> color-bg-default<% end %>">
        <div class="d-flex pr-3">
          <span class="my-1 mr-1 ml-2 pt-3">
            <span class="Details-content--open" role="button" aria-label="Hide details">
              <%= render Primer::Beta::Octicon.new(icon: "chevron-down", mr: 1, classes: "selected-color-white") %>
            </span>
            <span class="Details-content--closed" role="button" aria-label="Show details">
              <%= render Primer::Beta::Octicon.new(icon: "chevron-right", mr: 1, classes: "selected-color-white") %>
            </span>
          </span>
          <span class="d-inline-block flex-auto h5 <% if check_suite_selected %> color-text-white <% else %> color-fg-default <% end %>">
            <% if check_suite.workflow_run %>
              <a href="<%= check_suite_workflow_run_path %>" <%= test_selector("check_suite_workflow_links_#{check_suite.id}") %> class="position-relative d-block width-full v-align-middle f5 Link--primary selected-color-white no-underline py-3">
               <span class="css-truncate css-truncate-target" style="max-width:235px;"><%= check_suite_name %></span>

                <% if check_suite.event %>
                  <span class="f6 text-normal css-truncate d-block <% if check_suite_selected %> color-text-white <% else %> color-fg-muted <% end %> mr-3" <%= test_selector("check_suite_event") %>>
                    on: <%= check_suite.event %>
                  </span>
                <% end %>

                <% if annotation_count > 0 %>
                  <span class="position-absolute right-0 top-0 mt-3 text-normal Link--secondary selected-color-white">
                    <%= render Primer::Beta::Octicon.new(icon: "report", mr: 1) %>
                    <%= annotation_count %>
                  </span>
                <% end %>
              </a>
            <% else %>
              <span <%= test_selector("check_suite_name_span_#{check_suite.id}") %> class="css-truncate css-truncate-target v-align-middle f5 py-3" style="max-width:290px"><%= check_suite_name %></span>
              <% if check_suite.event %>
                <span class="f6 text-normal css-truncate d-block <% if check_suite_selected %> color-text-white <% else %> color-fg-muted <% end %> mr-3" <%= test_selector("check_suite_event") %>>
                  on: <%= check_suite.event %>
                </span>
              <% end %>
            <% end %>
          </span>
        </div>
      </summary>

      <div class="border-bottom color-bg-subtle">
        <% check_runs.each do |check_run| %>
          <div <%= test_selector("check_suite_check_run_#{check_run.id}") %> class="d-flex position-relative checks-list-item <%= "selected" if check_run == selected_check_run %>"
            <% if check_run == selected_check_run %> id="js-selected-check-run" data-failed="<%= check_run.failed? %>"<% end %>>

            <div class="checks-list-item-name width-full pl-3">
              <div class="d-flex flex-items-center mb-0 ml-1 color-fg-muted">
                <span class="checks-list-item-icon d-inline-block text-center ml-1 mr-2 v-align-middle selected-color-white">
                  <%= render Checks::IconComponent.new(conclusion: check_run.conclusion, status: check_run.status, description: check_run_state_description(check_run)) %>
                </span>
                <span class="f5 text-normal">
                  <%= link_to check_run.permalink(pull: pull, check_suite_focus: check_suite_focus, repo: current_repository), class: "d-inline-block SideNav-subItem v-align-middle text-left py-2 selected-color-white", "data-turbo": "false" do %>
                    <span class="css-truncate css-truncate-target" style="max-width:215px;"><%= check_run.visible_name %></span>
                  <% end %>
                </span>
              </div>
            </div>

            <% if repo_writable? %>
              <% if check_run.failure? || check_run.timed_out? %>
                <% if check_suite.check_runs_rerunnable %>
                  <%= form_tag rerequest_check_run_path(check_run, user_id: current_repository.owner, repository: current_repository), method: "put", class: "position-absolute right-0 js-check-run-rerequest-form" do %>

                    <template class="js-check-run-rerequest-form-success">
                      <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
                        <%= render(Primer::Alpha::Banner.new(full: true)) do %>
                          You have successfully requested <%= check_run.visible_name %> be rerun.
                        <% end %>
                      <% else %>
                        <%= render(Primer::Beta::Flash.new(full: true)) do %>
                          You have successfully requested <%= check_run.visible_name %> be rerun.
                        <% end %>
                      <% end %>
                    </template>

                    <template class="js-check-run-rerequest-form-error">
                      <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
                        <%= render(Primer::Alpha::Banner.new(scheme: :danger, full: true)) do %>
                          There was a problem requesting <%= check_run.visible_name %> to be rerun.
                        <% end %>
                      <% else %>
                        <%= render(Primer::Beta::Flash.new(scheme: :danger, full: true)) do %>
                          There was a problem requesting <%= check_run.visible_name %> to be rerun.
                        <% end %>
                      <% end %>
                    </template>

                    <button class="btn-link Link--secondary no-underline text-right mr-3 mt-1 py-2 f6 lh-condensed selected-color-white" type="submit">
                      Re-run
                    </button>

                  <% end %>
                <% end %>
              <% elsif check_run.action_required? %>
                <a href="<%= check_run.details_url %>" <%= test_selector("check_run_details_link") %> class="btn-link Link--secondary no-underline position-absolute right-0 text-right text-small lh-condensed mr-3 mt-1 py-2 selected-color-white" target="_blank" rel="noopener noreferrer" data="<%= check_suite_external_hydro_tracking(check_run) %>">
                  Resolve<%= render Primer::Beta::Octicon.new(icon: "link-external", ml: 1, vertical_align: :middle) %>
                </a>
              <% end %>
            <% end %>

          </div>

        <% end %>
      </div>
    </details>
  <% end %>
</div>
