<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% accounts ||= [current_context]  %>
<%= hidden_field_tag :account, current_context %>
<details class="details-reset details-overlay select-menu">
  <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button with-gravatar", "data-menu-button": "") do %>
    <div class="select-menu-button-gravatar">
      <%= avatar_for(current_context, 20) %>
    </div>
    <%= current_context.to_s %>
  <% end %>

  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Select an account to register</span>
    </div>

      <% if user_can_switch_contexts? %>
        <div class="select-menu-list">

          <% accounts.each do |context| %>
            <a href="<%= register_developer_program_path(:account => context) %>"
              role="menuitemradio"
              class="select-menu-item"
              aria-checked="<%= context == current_context %>">
              <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
              <div data-menu-button-contents>
                <div class="select-menu-item-gravatar">
                  <%= avatar_for(context, 20) %>
                </div>
                <%= context %>
              </div>
            </a>
          <% end %>
        </div>

        <div class="select-menu-list">
          <a href="<%= new_organization_path %>" class="select-menu-item select-menu-action" role="menuitem">
            <%= primer_octicon(:plus, classes: 'select-menu-item-icon') %>
            <span class="select-menu-item-text">Create Organization</span>
          </a>
        </div>

      <% else %>
        <div class="select-menu-list">
          <div class="select-menu-no-results">You don’t belong to any organizations.</div>
        </div>
        <div class="select-menu-list">
          <a href="<%= new_organization_path %>" class="select-menu-item select-menu-action" role="menuitem">
            <%= primer_octicon(:plus, classes: 'select-menu-item-icon') %>
            <span class="select-menu-item-text">Create organization</span>
          </a>
        </div>
      <% end %>
  </details-menu>
</details>
