<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Register for the GitHub Developer Program" %>

<div class="setup-wrapper developer-wrapper">
  <div class="setup-header">
    <h1>Register for the</h1>
    <h1>GitHub Developer Program</h1>
    <p class="lead">The best way to integrate with GitHub.</p>
  </div>
  <div class="setup-content">
    <div class="setup-secondary">
      <div class="setup-info-module">
        <h2>Program Benefits</h2>
        <ul class="features-list">
          <li><%= primer_octicon(:check) %><h3>Notification of API changes</h3></li>
          <li><%= primer_octicon(:check) %><h3>Early access eligibility on select features</h3></li>
          <li><%= primer_octicon(:check) %><h3>Eligibility for development licenses for GitHub products</h3></li>
          <li><%= primer_octicon(:check) %><h3>GitHub profile membership badge</h3></li>
        </ul>
        <hr>
        <p><a href="<%= GitHub.developer_help_url %>/program/"><%= primer_octicon(:info) %> Learn more about the program</a></p>
      </div>
    </div>
    <div class="setup-main">

      <% if current_user.no_verified_emails? %>

        <p>You need to <%= link_to "verify your email address", settings_email_preferences_path, class: "Link--inTextBlock" %> before you can register for the GitHub Developer Program.</p>

      <% else %>

        <%= form_for :developer, url: register_developer_program_path do |f| %>
          <span class="js-flash-alert sr-only" role="alert" aria-atomic="true">
            <%= [error_for(@membership, :support_email).presence, error_for(@membership, :website).presence].compact.join(", ") %>
          </span>
          <dl class="form-group developer-select-account">
            <dt><label for="account">Select an account</label></dt>
            <dd>
              <%= render partial: "developer_program_membership/context",
                locals: {
                  current_context: @account,
                  accounts: adminable_accounts(include_businesses: false)
                } %>
            </dd>
          </dl>

          <% if @account.developer_program_member? %>

            <p>You are already a member! Update your information in your <%= link_to "account settings", context_settings_path, class: "Link--inTextBlock" %> or select a different account.</p>

          <% else %>

            <%= render :partial => "developer_program_membership/form", :object => f, :locals => { :membership => @membership, :auto_focus => true } %>

            <hr>

            <p class="tos-info">By clicking &ldquo;Register for the GitHub Developer Program&rdquo; below, you agree to the

            <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/github-registered-developer-agreement" target="_blank">developer terms of service</a> and the
            <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/github-privacy-statement" target="_blank">privacy statement</a>. We’ll occasionally send you account related emails.</p>

            <hr>

            <%= f.submit "Register for the GitHub Developer Program", :class => "btn btn-primary setup-submit-button" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
