<% page_info responsive: false, :title => "Thanks" %>

<div class="developer-thanks container"><%# erblint:disable DeprecatedCustomCss %>
  <div class="developer-thanks-image">
    <img src="<%= image_path "modules/developer/gdp-satellite@2x.png" %>" height="471" width="400" alt="">
  </div>
  <div class="developer-thanks-section">
    <h2>Thanks for joining!</h2>
    <p class="hook">You’re in! Here’s how to get started:</p>

    <ul class="developer-next-steps">
      <li>
        <%= primer_octicon(:check, :height => 32) %>
        <span class="developer-next-step">Read our <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/guides/">guide to getting started</a> with the GitHub API.</span>
      </li>
      <li>
        <%= primer_octicon(:check, :height => 32) %>
        <span class="developer-next-step">Check out some of the <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/program/">developer program benefits</a>.</span>
      </li>
      <li>
        <%= primer_octicon(:check, :height => 32) %>
        <span class="developer-next-step"><a class="Link--inTextBlock" href="<%= contact_path(:form => {:subject => "New GitHub Integration"}) %>">Tell us about an integration</a> that works with GitHub.</span>
      </li>
    </ul>
  </div>
</div>
