<% page_info :selected_link => :account_billing %>

<% content_for :nav_sidebar do %>
  <nav class="menu" aria-label="Account Billing">
  <%= link_to billing_stafftools_user_path(this_user), class: "menu-heading" do %>
      <%= primer_octicon(:rocket) %>
      Billing
    <% end %>
    <%= selected_link_to("Billing", billing_stafftools_user_path(this_user), :highlight => :stafftools_user_billing, :class => "menu-item") %>
    <%= selected_link_to("Billing emails", billing_emails_stafftools_user_path(this_user), highlight: :stafftools_user_billing, class: "menu-item") %>
    <%= selected_link_to("Payment history", stafftools_user_billing_history_path(this_user), :class => "menu-item") %>
    <%= selected_link_to(stafftools_user_subscription_items_path(this_user), class: "menu-item") do %>
      Subscription items
      <%= render Primer::Beta::Counter.new(
        count: this_user.active_product_uuid_subscription_items.count,
        scheme: :secondary,
      ) %>
    <% end %>
    <%= selected_link_to("Advanced Security", stafftools_user_advanced_security_path(this_user), :class => "menu-item") %>
    <%= selected_link_to("Zuora Webhooks", stafftools_user_billing_zuora_webhooks_path(this_user), class: "menu-item") %>
  </nav>

  <% if this_user.plan_metered_billing_eligible? %>
    <nav class="menu" aria-labelledby="metered-billing-nav-label">
      <div class="menu-heading" id="metered-billing-nav-label">
        <%= primer_octicon(:meter) %>
        Metered Billing
      </div>
      <%= selected_link_to("Actions", stafftools_user_metered_billing_actions_path(this_user), class: "menu-item") %>
      <%= selected_link_to("Packages Bandwidth", stafftools_user_metered_billing_packages_bandwidth_path(this_user), class: "menu-item") %>
      <%= selected_link_to("Shared Storage Usage", stafftools_user_metered_billing_shared_storage_usage_path(this_user), class: "menu-item") %>
      <%= selected_link_to("Actions Artifact Expirations", stafftools_user_metered_billing_actions_artifact_expirations_path(this_user), class: "menu-item") %>
      <% if Copilot::Organization.new(this_user).copilot_for_business_enabled? %>
        <%= selected_link_to("Copilot Usage", stafftools_user_metered_billing_copilot_usage_path(this_user), class: "menu-item") %>
      <% end %>
      <%= selected_link_to("Metered Usage Exports", stafftools_user_metered_exports_path(this_user), class: "menu-item") %>
      <%= selected_link_to("Spending limits", stafftools_user_billing_spending_limits_path(this_user), class: "menu-item") %>
    </nav>
  <% end %>

  <% if current_user.feature_enabled?(:licensing_org_page) %>
    <nav class="menu" aria-labelledby="licensing-nav-label">
      <div class="menu-heading" id="licensing-nav-label">
        <%= primer_octicon(:globe) %>
        Licensing
      </div>
      <%= selected_link_to("SDLC", stafftools_user_billing_sdlc_licensing_index_path(this_user), class: "menu-item") %>
    </nav>
  <% end %>
<% end %>

<%= render template: "layouts/stafftools/organization" %>
