<% page_info :selected_link => :account_content unless @selected_link %>

<% content_for :nav_sidebar do %>
  <nav class="menu" aria-label="Stafftools">
    <%= selected_link_to(
      "Private repositories",
      stafftools_user_repositories_path(this_user),
      class: "menu-item",
    ) %>
    <%= selected_link_to(
      "Internal repositories",
      stafftools_user_repositories_internal_path(this_user),
      class: "menu-item",
    ) %>
    <%= selected_link_to(
      "Public repositories",
      stafftools_user_repositories_public_path(this_user),
      class: "menu-item",
    ) %>
    <% if GitHub.anonymous_git_access_enabled? %>
      <%= selected_link_to(
        "Anonymous Git access repositories",
        stafftools_user_anonymously_accessible_repositories_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <%= selected_link_to(
      "Disabled repositories",
      stafftools_user_repositories_disabled_path(this_user),
      class: "menu-item",
    ) %>
    <%= selected_link_to(
      "Locked repositories",
      stafftools_user_repositories_locked_path(this_user),
      class: "menu-item",
    ) %>
    <%= selected_link_to(
      "Deleted repositories",
      stafftools_user_repositories_deleted_path(this_user),
      class: "menu-item",
    ) %>
    <% if GitHub.codespaces_enabled? %>
      <%= selected_link_to \
            "Codespaces",
            stafftools_user_codespaces_path(this_user),
            :highlight => :stafftools_user_codespaces,
            :class => "menu-item" %>
    <% end %>
    <% if GitHub.copilot_enabled? %>
      <%= selected_link_to \
            "Copilot Settings",
            stafftools_user_copilot_settings_path(this_user),
            :highlight => :stafftools_user_copilot,
            :class => "menu-item" %>
      <% if this_user.is_a?(Organization) %>
        <%= selected_link_to \
              "Copilot Seat Assignments",
              stafftools_user_copilot_seat_assignments_path(this_user),
              :highlight => :stafftools_user_copilot_seat_assignments,
              :class => "menu-item" %>
        <%= selected_link_to \
              "Copilot Seats",
              stafftools_user_copilot_seats_path(this_user),
              :highlight => :stafftools_user_copilot_seats,
              :class => "menu-item" %>
        <%= selected_link_to \
              "Copilot Usage Metrics",
              stafftools_user_copilot_usage_metrics_path(this_user),
              :highlight => :stafftools_user_copilot_usage_metrics,
              :class => "menu-item" %>
      <% end %>
    <% end %>
    <% if GitHub.trust_tiers_enabled? %>
      <%= selected_link_to \
        "Trust Tiers",
        stafftools_user_trust_tiers_path(this_user),
        highlight: :stafftools_user_trust_tiers,
        class: "menu-item" %>
    <% end %>
    <% unless GitHub.enterprise? %>
      <%= selected_link_to(
        "DMCA Takedowns",
        stafftools_user_repositories_dmca_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <% if GitHub.billing_enabled? %>
      <%= selected_link_to \
            "Large file storage",
            stafftools_user_large_file_storage_path(this_user),
            class: "menu-item" %>
    <% end %>
    <% if GitHub.actions_enabled? %>
      <%= selected_link_to \
            "Actions",
            stafftools_org_actions_path(this_user),
            class: "menu-item" %>
    <% end %>
    <% if GitHub.billing_enabled? %>
      <%= selected_link_to \
            "Actions & Packages usage",
            stafftools_user_actions_packages_usage_path(this_user),
            class: "menu-item" %>
    <% end %>
    <% classic_ui_enabled = ProjectsClassicSunset.projects_classic_ui_enabled?(this_user) %>
    <% if classic_ui_enabled %>
      <%= selected_link_to \
            "Projects",
            stafftools_user_projects_path(this_user),
            class: "menu-item" %>
    <% end %>
    <% if GitHub.projects_new_enabled? %>
      <% projects_label = classic_ui_enabled ? "Projects (Beta)" : "Projects" %>
      <%= selected_link_to \
            projects_label,
            stafftools_projects_beta_path(this_user),
            class: "menu-item" %>
    <% end %>
    <% if GitHub.package_registry_enabled? %>
      <%= selected_link_to \
            "Packages",
            stafftools_user_packages_path(this_user),
            class: "menu-item" %>
      <%= selected_link_to \
            "Organization Packages",
            stafftools_user_organization_packages_path(this_user),
            class: "menu-item" %>
    <% end %>
    <% if GitHub.dependabot_enabled? %>
      <%= selected_link_to \
            "Dependabot",
            stafftools_dependabot_path(this_user),
            class: "menu-item" %>
    <% end %>
    <% if GitHub.dependency_graph_enabled? %>
      <%= selected_link_to \
            "Dependency graph",
            org_stafftools_dependency_graph_path(this_user),
            class: "menu-item" %>
    <% end %>
    <% unless GitHub.enterprise? %>
      <%= selected_link_to \
            "Security configurations",
            security_configurations_stafftools_user_path(this_user),
            class: "menu-item" %>
    <% end %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/organization" %>
