<% page_info selected_link: :account_admin %>

<% content_for :nav_sidebar do %>
  <nav class="menu" aria-label="Stafftools">
    <%= stafftools_selected_link_to(
      "Overview",
      stafftools_user_overview_path(this_user),
      class: "menu-item",
    ) %>
    <%= stafftools_selected_link_to(
      "Admin",
      stafftools_user_administrative_tasks_path(this_user),
      class: "menu-item",
    ) %>
    <%= stafftools_selected_link_to(
      "Emails",
      stafftools_user_emails_path(this_user),
      class: "menu-item",
    ) %>
    <%= stafftools_selected_link_to(
      "Avatars",
      stafftools_user_avatars_path(this_user),
      class: "menu-item",
    ) %>
    <% if GitHub.user_abuse_mitigation_enabled? %>
      <%= stafftools_selected_link_to(
        "Blocked users",
        stafftools_user_interactions_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <% if !GitHub.enterprise? && stafftools_action_authorized?(
      controller: Stafftools::TradeCompliance::TradeScreeningRecordsController,
      action: :index,
    ) %>
      <%= stafftools_selected_link_to(
        "Trade compliance",
        stafftools_user_trade_compliance_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <%= stafftools_selected_link_to(
      "Search",
      stafftools_user_search_record_path(this_user),
      class: "menu-item",
    ) %>
    <%= stafftools_selected_link_to(
      "Database",
      stafftools_user_database_record_path(this_user),
      class: "menu-item",
    ) %>
    <%= stafftools_selected_link_to(
      "Retired namespaces",
      stafftools_user_retired_namespaces_path(this_user),
      class: "menu-item",
    ) %>
    <%= stafftools_selected_link_to(
      "Domains",
      stafftools_user_domains_path(this_user),
      class: "menu-item",
    ) %>
    <%= stafftools_selected_link_to(
      "Custom properties",
      stafftools_user_organization_custom_properties_path(this_user),
      :highlight => :organization_custom_properties,
      class: "menu-item",
    ) %>
    <% if GitHub.codespaces_enabled? %>
      <%= stafftools_selected_link_to(
        "Codespaces",
        stafftools_user_codespaces_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <% if !GitHub.enterprise? %>
      <%= selected_link_to \
            "Hosted compute networking",
            stafftools_user_hosted_compute_networking_path(this_user),
            class: "menu-item" %>
    <% end %>
    <%= selected_link_to(
      "Scheduled Reminders",
      stafftools_user_reminders_path(this_user),
      class: "menu-item",
    ) %>
    <% unless GitHub.enterprise? %>
      <%= stafftools_selected_link_to(
        "Profile",
        stafftools_user_profile_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <% if GitHub.sla_reports_available? %>
      <%= stafftools_selected_link_to(
        "SLA Report",
        stafftools_sla_reports_path(
          stafftools_sla_report: { entity_kind: "Organization", entity_id: this_user.id },
        ),
        class: "menu-item",
      ) %>
    <% end %>
    <% if GitHub.dotcom_request? # limiting to dotcom so only GitHub staff can see this %>
      <%= selected_link_to(
        "Security center",
        stafftools_user_security_center_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <% if GitHub.flipper_ui_enabled? %>
      <%= stafftools_selected_link_to(
        "Enabled Feature Flags",
        stafftools_user_enabled_feature_flags_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/organization" %>
