<%= render(Primer::Alpha::Dialog.new(
  id: "purge-org-dialog-#{organization_id}",
  header_variant: :large,
  width: :large,
  title: "Confirm permanent organization deletion",
  test_selector: "purge-org-dialog-#{organization_id}"
)) do |c| %>
  <% if with_show_button %>
    <% c.with_show_button(
      scheme: :danger,
      float: :right,
      ml: 2,
      test_selector: "purge-org-button") do |s| %>
      Purge
    <% end %>
  <% end %>
  <% c.with_body do %>
    <% form_tag(stafftools_user_path(login), method: :delete) do %>
      <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
        Make sure you want to do this.
      <% end %>
      <p>
        This organization has been scheduled for deletion <strong><%= time_ago_in_words_js(organization.soft_deleted_at + Organization::RESTORABLE_PERIOD) %></strong>
      </p>
      <p>
        Are you sure you want to purge this organization <strong>immediately</strong>?
        This will permanently delete the organization.
      </p>
      <p>
        <strong>The organization will not be able to be restored.</strong>
      </p>
      <label>
        Please enter the organization slug to confirm.
        <input type="text" class="form-control input-block"
          pattern="<%= helpers.case_insensitive_pattern login %>"
          required autofocus>
      </label>

      <%= render(Primer::Beta::Button.new(
        type: :submit,
        scheme: :danger,
        block: true,
        mt: 3,
        data: { "disable-with": "", "disable-invalid": "" },
        test_selector: "purge-org-button-#{organization_id}"
      )) { "Permanently delete #{login}" } %>
    <% end %>
  <% end %>
<% end %>
