<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Networking", selected_link: :virtual_networks %>
<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading do %>
      <%= render(Primer::Beta::Text.new(font_size: 1)) { virtual_network.virtual_network_name } %>
      <%= render(Primer::Beta::Text.new(font_size: 2, font_weight: :light)) { virtual_network.subnet_name } %>
    <% end %>
    <% component.with_description do %>
      <%= render(Primer::Box.new(display: :flex)) do %>
        <%= render(Primer::Box.new(mr: 3)) do %>
          <%= render(Primer::Beta::Octicon.new(:home)) %>
          <%= render(Primer::Beta::Text.new(font_size: :normal)) { virtual_network.subscription_name } %>
        <% end %>
        <%= render(Primer::Box.new(mr: 3)) do %>
          <%= render(Primer::Beta::Octicon.new(:clock)) %>
          Added <%= render(Primer::Beta::RelativeTime.new(datetime: virtual_network.created_at, tense: :past)) %>
        <% end %>
        <%= render(Primer::Box.new) do %>
          <%= render(Primer::Beta::Octicon.new("link-external")) %>
          <%= render(Primer::Beta::Link.new(href: "https://portal.azure.com", target: "_blank")) { "https://portal.azure.com" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Box.new(my: 6)) do %>
    <%= render(Primer::Beta::Heading.new(tag: :h2, font_weight: :light)) { "Organization access" } %>
    <%= form_with do |form| %>
      <div class="form-checkbox">
        <label>
          <%= form.radio_button :scope, "all_orgs" %>
          All organizations
        </label>
      </div>
      <div class="form-checkbox">
        <label>
          <%= form.radio_button :scope, "selected_orgs" %>
          Only select organizations
        </label>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
      <% component.with_heading(tag: :h3, danger: true) do %>
        Danger zone
      <% end %>
    <% end %>

    <div class="Box Box--danger">
      <div class="Box-body d-flex flex-items-center">
        <div class="flex-auto">
          <strong>Remove "<%= virtual_network.virtual_network_name %>"</strong>
          <div class="text-small color-fg-subtle">
            This will remove access to this virtual network for your enterprise.
          </div>
        </div>
        <%= render layout: "shared/details_dialog", locals: {
          button_text: "Remove",
          title: "Are you sure?",
          button_class: "btn btn-sm btn-danger"
        } do %>
          <div class="Box-body overflow-auto">
            <p>
              This will remove this network from all organizations
              and repositories under this enterprise.
            </p>
            <%= form_tag settings_virtual_network_path(this_business, virtual_network), method: :delete do %>
              <div class="Box-footer">
                <%= render(Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger)) { "Remove" } %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
