<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Networking", selected_link: :virtual_networks %>
<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Virtual network access
      <% component.with_actions do %>
        <%= link_to "Add a virtual network", new_settings_virtual_network_path(this_business), class: "mt-1 btn btn-sm btn-primary" %>
      <% end %>
    <% end %>
  <% end %>

  <p>
    If your enterprise requires resources to securely communicate with on-premises networks, you can manage access to those networks here. Virtual networks associated with your GitHub account are listed below. Learn how to add your virtual network.
  </p>

  <% unless virtual_networks.empty? %>
    <%= render(Primer::Beta::BorderBox.new) do |component| %>
      <% virtual_networks.each do |virtual_network| %>
        <% component.with_row do %>
          <%= render(Primer::Box.new(display: :flex, align_items: :center)) do %>
            <%= render(Primer::Box.new(p: 3)) do %>
              <%= render(Primer::Beta::Octicon.new(:squirrel, size: :medium)) %>
            <% end %>
            <%= render(Primer::Box.new) do %>
              <%= render(Primer::Box.new) do %>
                <%= render(Primer::Beta::Text.new(font_size: 2)) { virtual_network.virtual_network_name } %>
                <%= render(Primer::Beta::Text.new(font_size: 3, font_weight: :light)) { virtual_network.subnet_name } %>
              <% end %>
              <%= render(Primer::Box.new) do %>
                <%= render(Primer::Beta::Text.new(font_size: :normal)) { virtual_network.subscription_name } %>
              <% end %>
            <% end %>
            <%= render(Primer::Box.new(display: :flex, ml: :auto)) do %>
              <%= render(Primer::ButtonComponent.new(tag: :a, href: edit_settings_virtual_network_path(this_business, virtual_network))) { "Configure" } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
