<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Flash.new(scheme: :warning, mt: 2) do %>
  <h2 class="mb-2 h5">
    <%= render Primer::Beta::Octicon.new(icon: :alert, mr: 0, "aria-label": "Skip recovering account") %>
     The account recovery process can take approximately 1-3 business days. We recommend
     <% if can_use_gh_mobile_auth?(locals[:locked_out_user]) || has_recent_gh_mobile_and_2fa?(locals[:locked_out_user])%>
        one of the following
      <% else %>
        using a recovery code
      <% end %>
      if possible.
  </h2>
  <ul class='pl-3'>
    <li>
      <%= link_to "Enter a recovery code",
        two_factor_recovery_account_recovery_abort_metrics_path(reason: 'two_factor_recover_prompt')
      %>
      <p class='note mb-1'>The file containing your recovery codes may exist on your computer - check  for a file named <code>github-recovery-codes.txt</code>.</p>
    </li>
    <% if can_use_gh_mobile_auth?(locals[:locked_out_user]) %>
      <li>
        <%= link_to "Authenticate with GitHub Mobile",
          two_factor_recovery_account_recovery_abort_metrics_path(reason: 'github_mobile_two_factor_prompt')
        %>
         <p class='note'>It looks like you have a GitHub Mobile session that could be used for two-factor authentication. If you have access to your mobile device, you may be able to use it to login. </p>
      </li>
    <% elsif has_recent_gh_mobile_and_2fa?(locals[:locked_out_user]) %>
      <li>
        <%= link_to "Try GitHub Mobile Authentication", "#{GitHub.help_url}/articles/accessing-github-using-two-factor-authentication#verifying-with-github-mobile", class: "Link--inTextBlock" %>
        <p class='note'>You accessed the GitHub Mobile app within the past 6 months. Please check that you are still logged in to the app.
        If so, ensure that you have the latest version installed and reopen the app. Finally, try to
        <%= render(Primer::Beta::Link.new(
            href: login_path,
            classes: "Link--inTextBlock",
          )) do -%>
            sign in
          <%- end %>
        to GitHub.com again.
        </p>
      </li>
    <% end %>
  </ul>
<% end %>
