<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "Account recovery", class: "page-two-factor-auth session-authentication" %>

<% otp = Rails.env.development? ? session[:one_time_password] : "" %>

<div class="two-factor-container">

  <div id="login" class="auth-form px-3">

    <div class="auth-form-header p-0">
      <h1>Account recovery</h1>
    </div>

    <div class="my-3 d-flex flex-row flex-items-center text-center">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-accent-emphasis" style="width:28px; height: 28px;"><%= primer_octicon(:mail, color: :on_emphasis) %></span>
      <hr class="flex-auto color-border-accent-emphasis">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-subtle border color-border-default" style="width:28px; height: 28px;"><%= primer_octicon(:key, color: :muted) %></span>
      <hr class="flex-auto color-border-default">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-subtle border color-border-default" style="width:28px; height: 28px;"><%= primer_octicon(:clock, color: :muted) %></span>
    </div>

    <%= render "shared/flash" %>

    <% if tfa_recovery_without_password %>
      <%= render "sessions/recovery/without_password_hint" %>
    <% else %>
      <%= render "sessions/recovery/recovery_codes_hint", locals: { locked_out_user: locked_out_user } %>
    <% end %>

    <div class="auth-form-body mt-3">

      <div>
        <%= form_tag two_factor_recovery_request_verify_otp_path do %>
          <label for="otp" class="clearfix">
            One-time password
          </label>

          <%= telephone_field_tag :otp, otp, :required => true, :autocomplete => :off, :autofocus => "autofocus", :class => "input-block" %>

          <%= render Primer::ButtonComponent.new(scheme: :primary, block: true, "data-disable-with": "Verifying…", type: :submit) do %>Verify email address<% end %>
        <% end %>
      </div>
    </div>

    <div class="d-flex mt-3">
      <%= primer_octicon(:mail, mr: 3, classes: "flex-shrink-0") %>
      <div>
        <p>
          We sent an email to all addresses associated with this account containing a one-time password.
        </p>
        <%= form_tag two_factor_recovery_request_send_otp_path do %>
          <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, display: :inline) do %>Resend email<% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>
