<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info title: "Account recovery", class: "page-two-factor-auth session-authentication" %>

<div class="two-factor-container">

  <div id="login" class="auth-form px-3">

    <div class="auth-form-header p-0">
      <h1>Account recovery</h1>
    </div>

    <div class="my-3 d-flex flex-row flex-items-center text-center">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-accent-emphasis" style="width:28px; height: 28px;"><%= primer_octicon(:check, color: :on_emphasis) %></span>
      <hr class="flex-auto color-border-accent-emphasis">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-accent-emphasis" style="width:28px; height: 28px;"><%= primer_octicon(:check, color: :on_emphasis) %></span>
      <hr class="flex-auto color-border-accent-emphasis">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-accent-emphasis" style="width:28px; height: 28px;"><%= primer_octicon(:clock, color: :on_emphasis) %></span>
    </div>

    <%= render "shared/flash" %>

    <div class="auth-form-body mt-3">
      <p>
        <strong>What's next?</strong> A member of GitHub Support will review your account recovery
        request and follow up <strong>within approximately 1-3 business days</strong>.
      </p>
      <br>
      <p>
        Additional requests submitted during this time <strong>will not be reviewed</strong> by GitHub Support.
      </p>
      <a class="btn btn-block" href="<%= GitHub.url %>" role="button">Return to GitHub</a>
    </div>
  </div>
</div>
