<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Account recovery", class: "page-two-factor-auth session-authentication" %>

<div class="two-factor-container">
  <div id="login" class="auth-form px-3">

    <div class="auth-form-header p-0">
      <h1>Account recovery</h1>
    </div>

    <div class="my-3 d-flex flex-row flex-items-center text-center">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-accent-emphasis" style="width:28px; height: 28px;"><%= primer_octicon(:mail, color: :on_emphasis) %></span>
      <hr class="flex-auto color-border-default">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-subtle border color-border-default" style="width:28px; height: 28px;"><%= primer_octicon(:key, color: :muted) %></span>
      <hr class="flex-auto color-border-default">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-subtle border color-border-default" style="width:28px; height: 28px;"><%= primer_octicon(:clock, color: :muted) %></span>
    </div>

    <%= render "shared/flash" %>

    <% if tfa_recovery_without_password %>
      <%= render "sessions/recovery/without_password_hint" %>
    <% else %>
      <%= render "sessions/recovery/recovery_codes_hint", locals: { locked_out_user: locked_out_user } %>
    <% end %>

    <div class="auth-form-body mt-3">
      <p>
        <strong><%= tfa_recovery_without_password ? "We need to re-" : "First we need to "%>verify an email address</strong>
        by sending a one-time password to all addresses associated with this account.
      </p>

      <div>
        <%= form_tag two_factor_recovery_request_send_otp_path do %>
          <%= render Primer::ButtonComponent.new(scheme: :primary, block: true, type: :submit) do %>Send one-time password<% end %>
        <% end %>
      </div>
    </div>


  </div>
</div>
