<% content_for :header do %>
  <%= render(Mail::PreheaderComponent.new(text: "GitHub Enterprise has been provisioned for your organization")) %>
  Welcome <%= @business.name %>, to GitHub Enterprise Cloud
<% end %>

<%= render(Mail::ContainerComponent.new) do %>
  <img src="<%= @email_attributes[:ghio_links][:header_image] %>" width="460" alt="Octocat">
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::SpacerComponent.new(size: 8)) %>
    <p>As you start your journey with GitHub, we want you to know that we are dedicated to ensuring you have all of the resources you need for a seamless onboarding experience. To assist you, we've prepared a repository that includes:</p>

    <ul class="m-4">
      <li>
        <strong>Project boards</strong> to guide you through your journey as you onboard to GitHub's platform features.
      </li>
      <li>
        Chat with <strong>Copilot in GitHub Support</strong> to help answer your questions.
      </li>
      <li>
        Shortcuts to resources such as <strong>GitHub Docs</strong>, <strong>GitHub Community</strong>, <strong>GitHub Support</strong>, and much more.
      </li>
    </ul>

    <p>Click the button below to receive an invite, which you will then need to accept to gain access to your repository.</p>
  <% end %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%=
    render(
      Mail::ButtonComponent.new(
        text: "START HERE",
        url: email_link_with_tracking(url: @email_attributes[:cta_link], email_source: @email_attributes[:campaign_codes][:email_source]),
        classes: "btn-primary btn-large",
      )
    )
  %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <img src="https://success-repository.github.io/assets/welcome-email/cta_animation_variation_b_74.gif" width="460" alt="Animation showing a preview of the repository invitation steps">
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>Welcome to the world's largest developer community!</p>
    <p>Stephen Wise<br>Director, Digital Customer Outcomes</p>
  <% end %>
<% end %>

<%= render(Mail::SpacerComponent.new(size: 8)) %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <strong>Need some help?</strong>
    <a href="<%= @email_attributes[:ghio_links][:github_support] %>">GitHub Support</a> is your one-stop shop for getting help with things like searching for resources, troubleshooting common topics, and opening support tickets.
    <% if @business.has_premium_plus_support_plan? %>
      You have <a href="<%= @email_attributes[:ghio_links][:github_support_premium_plus] %>">GitHub Premium Plus Support</a> on your side, so you can expect ticket prioritization and handling from dedicated Customer Reliability Engineers.
    <% elsif @business.has_premium_support_plan? %>
      You have <a href="<%= @email_attributes[:ghio_links][:github_support_premium] %>">GitHub Premium Support</a> on your side. You can expect faster initial response times for higher severity tickets that can impact daily business operations.
    <% end %>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  You're receiving this email because you're an owner of a recently upgraded GitHub Enterprise account.
<% end %>
