<% page_info \
  title: "#{installation.host_name} - Accounts",
  selected_link: :enterprise_installation_accounts %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= number_with_delimiter accounts.count %>
    <%= pluralize_without_number accounts.count, "user account" %>
  <% end %>
<% end %>
<p>
  This represents the current state of user accounts that have been imported
  from the Enterprise Server to GitHub.com either automatically or manually.
</p>

<% if accounts.any? %>
  <div class="Box Box--condensed">
    <ul>
      <% accounts.each do |account| %>
        <li class="Box-row d-flex flex-items-center"
          <%= test_selector "enterprise-installation-account-#{account.id}" %>>
          <span class="flex-auto">
            <%= primer_octicon(:person, height: 20, color: :muted) %>
            <%= account.login %>
            &ndash;
            Updated <%= time_ago_in_words_js(account.updated_at) %>
          </span>
          <span>
            <% if account.emails.size == 1 %>
              <%= account.emails.first.email %>
              <% if account.emails.first.primary? %>(primary)<% end %>
            <% elsif account.emails.size > 1 %>
              <details class="dropdown details-reset details-overlay d-inline-block">
                <summary class="Link--onHover" aria-haspopup="true">
                  <%= pluralize account.emails.size, "email" %>
                  <div class="dropdown-caret"></div>
                </summary>
                <ul class="dropdown-menu dropdown-menu-sw dropdown-menu-no-overflow">
                  <% account.emails.each do |email| %>
                    <li class="p-2">
                      <%= email.email %>
                      <% if email.primary? %>(primary)<% end %>
                    </li>
                  <% end %>
                </ul>
              </details>
            <% else %>
              No emails
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate accounts %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No associated user accounts.
    <% end %>
  <% end %>
<% end %>
