<%# erblint:counter DeprecatedComponentsCounter 4 %>
<% page_info \
  title: "#{installation.host_name}",
  selected_link: :enterprise_installation_overview %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Enterprise Server installation details<% end %>
<% end %>

<% last_upload = installation.last_user_accounts_upload %>
<table class="stafftools-table mb-6">
  <tr>
    <th>ID</th>
    <td>
      <%= installation.id %>
        &ndash;
        <%= stafftools_selected_link_to "Search audit logs",
          stafftools_audit_log_path(
            query: driftwood_ade_query?(current_user) ?
                     "webevents | where data.enterprise_installation_id == '#{installation.id}'" :
                     "data.enterprise_installation_id:#{installation.id}"
          )
        %>
    </td>
  </tr>
  <tr>
    <th>Customer</th>
    <td><%= installation.customer_name %></td>
  </tr>
  <tr>
    <th>Hostname</th>
    <td><%= installation.host_name %></td>
  </tr>
  <tr>
    <th>Installed</th>
    <td><%= installation.created_at %></td>
  </tr>
  <tr>
    <th>License hash</th>
    <td>
      <%= installation.license_hash %>
    </td>
  </tr>
  <tr>
    <th>Owning account</th>
    <td>
      <% if installation.owner.is_a?(Business) %>
        <%= link_to installation.owner.name, stafftools_enterprise_path(installation.owner) %>
        &ndash; Enterprise account
      <% elsif installation.owner.is_a?(User) %>
        <%= link_to installation.owner.safe_profile_name, stafftools_user_path(installation.owner) %>
        &ndash; Organization
      <% end %>
    </td>
  </tr>
  <tr>
    <th>GitHub Connect</th>
    <td>
      <% if installation.connected? %>
        <%= render Primer::Beta::Label.new(scheme: :success, title: "Label: Enabled") do %>
          Enabled
        <% end %>
      <% else %>
        <%= render Primer::Beta::Label.new(scheme: :danger, title: "Label: Disabled") do %>
          Disabled
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>GitHub Connect Enabled Features</th>
    <td>
      <% if installation.connected? %>
        <% if installation.features.nil? %>
          No features enabled
        <% else %>
          <%= installation.features.join(", ") %>
        <% end %>
      <% else %>
        N/A
      <% end %>
    </td>
  </tr>
  <tr>
    <th>License usage last synced</th>
    <td>
      <% if last_upload %>
        <%= link_to \
          time_ago_in_words_js(last_upload.updated_at),
          user_accounts_uploads_stafftools_enterprise_installation_path(installation.id) %>
        &ndash; <% if last_upload.uploader.bot? %>
          via GitHub Connect
        <% else %>
          manual upload
        <% end %>
      <% else %>
        Never
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Last license usage sync state</th>
    <td>
      <% if last_upload %>
        <% if last_upload.sync_failure? %>
          <%= render Primer::Beta::Label.new(scheme: :danger, title: "Label: Failed") do %>
            Failed
          <% end %>
        <% elsif last_upload.sync_pending? %>
          <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: Processing") do %>
            Processing
          <% end %>
        <% elsif last_upload.sync_success? %>
          <%= render Primer::Beta::Label.new(scheme: :success, title: "Label: Succeeded") do %>
            Succeeded
          <% end %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>

<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2, danger: true) do %>Danger zone<% end %>
<% end %>
<div class="Box Box--danger mb-6">
  <div class="Box-row">
    <% if EnterpriseInstallation.blocked?(installation.license_hash) %>
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Unblock license",
        button_class: "btn btn-danger",
        details_class: "float-right mt-1",
        title: "Unblock license?",
      } do %>
        <div class="Box-body overflow-auto">
          <p class="m-0">
            Are you sure you want to unblock the customer's license for this
            Enterprise Server installation?
          </p>
          <p>
            <%= form_tag unblock_stafftools_enterprise_installation_path(installation.id),
              method: :put do %>
              <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Unblock license<% end %>
            <% end %>
          </p>
        </div>
      <% end %>
      <div class="listgroup-item-title">Unblock license</div>
      <div class="listgroup-item-body">A license may be blocked again if it is unblocked.</div>
    <% else %>
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Block license",
        button_class: "btn btn-danger",
        details_class: "float-right mt-1",
        title: "Block license?",
      } do %>
        <div class="Box-body overflow-auto">
          <p class="m-0">
            Are you sure you want to block the customer's license for this
            Enterprise Server installation?
          </p>
          <p>
            <%= form_tag block_stafftools_enterprise_installation_path(installation.id),
              method: :put do %>
              <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Block license<% end %>
            <% end %>
          </p>
        </div>
      <% end %>
      <div class="listgroup-item-title">Block license</div>
      <div class="listgroup-item-body">A license may be unblocked again if it is blocked.</div>
    <% end %>
  </div>
  <div class="Box-row">
    <%= render layout: "shared/details_dialog", locals: {
      button_text: "Remove installation",
      button_class: "btn btn-danger",
      details_class: "float-right mt-1",
      title: "Remove this installation?",
    } do %>
      <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
        Woah there!
      <% end %>
      <div class="Box-body overflow-auto">
        <p class="m-0">
          This will permanently delete the Enterprise Server installation.
          Are you sure you want to do this?
        </p>
        <p>
          <%= form_tag stafftools_enterprise_installation_path(installation.id),
            method: :delete do %>
            <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Delete installation<% end %>
          <% end %>
        </p>
      </div>
    <% end %>
    <div class="listgroup-item-title">Delete installation</div>
    <div class="listgroup-item-body">Once deleted, it will be gone forever. Please be certain.</div>
  </div>
</div>
