<% page_info \
  title: "#{installation.host_name} - License usage uploads",
  selected_link: :enterprise_installation_user_accounts_uploads %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= number_with_delimiter uploads.count %>
    <%= pluralize_without_number uploads.count, "license usage upload" %>
  <% end %>
<% end %>
<p>
  This lists the license usage uploads that have occurred for the Enterprise Server
  to GitHub.com, either automatically or manually.
</p>

<% if uploads.any? %>
  <div class="Box Box--condensed">
    <% uploads.each do |upload| %>
      <div class="Box-row d-flex flex-items-center"
        <%= test_selector "upload-#{upload.id}" %>>
        <div class="flex-auto">
          <p>
            <strong><%= upload.name %> (<%= number_to_human_size upload.size %>)</strong>
          </p>
          <p>
            Uploaded
            <% if upload.uploader.present? %>
              by <%= link_to upload.uploader.login, stafftools_user_path(upload.uploader.login), class: "Link--inTextBlock" %>
            <% end %>
            <%= time_ago_in_words_js(upload.updated_at) %>
          </p>
          <p>
            <strong>Sync state:</strong>
            <% if upload.sync_failure? %>
              <%= render Primer::Beta::Label.new(scheme: :danger, title: "Label: Failed") do %>
                Failed
              <% end %>
              <% if upload == uploads.first && upload.created_at > 7.days.ago %>
                <%= form_tag enqueue_user_accounts_uploads_stafftools_enterprise_installation_path(installation.id), method: :post do %>
                  <input type="hidden" name="upload_id" value="<%= upload.id %>">
                  <%= render(Primer::Beta::Button.new(size: :small, type: :submit)) { "Retry Sync" } %>
                <% end %>
              <% end %>
            <% elsif upload.sync_pending? %>
              <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: Processing") do %>
                Processing
              <% end %>
            <% elsif upload.sync_success? %>
              <%= render Primer::Beta::Label.new(scheme: :success, title: "Label: Succeeded") do %>
                Succeeded
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="paginate-container">
    <%= will_paginate uploads %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No license usage uploads.
    <% end %>
  <% end %>
<% end %>
