<%# rubocop:disable Lint/InstanceVariable %>
<%# view is an instance of Stafftools::RepositoryViews::RepositoryNotificationsView %>

<% page_info :title => "Repository Notification Settings", :selected_link => :repository_notifications %>

<div class="boxed-group">
  <h3>
    Repository Notification Settings
  </h3>
  <div class="boxed-group-inner">
    <p class="f6 m-0">
      Repository Notifications are sent to each listed email address on each push to a repository.
      <br>
      They have replaced the deprecated "Email" GitHub Service.
      <br>
      <br>
      <strong>Note: </strong>
      The raw data may include more email addresses,
      but the displayed "Actual Recipients" are the only addresses we will send email to.
    </p>

    <hr>

    <div class="summary">
      <dl>
        <% if view.notifications_configured? %>
          <dt>Active?</dt>
          <dd><%= view.hook.active? %></dd>

          <dt>Address (raw)</dt>
          <dd>
            <code><%= view.hook.masked_config["address"] %></code>
          </dd>

          <dt>Actual Recipients</dt>
          <dd>
            <ul class="list-style-none">
              <% view.recipient_emails.each do |email| %>
                <li>
                  <%= email %>
                  <% if view.show_splunk_links? %>
                    <%= link_to \
                          "Search splunk for this email",
                          splunk_search_url(view.splunk_email_query(email)) %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </dd>

          <dt>Approved Header</dt>
          <% if view.hook.masked_config["secret"] %>
            <dd><%= view.hook.masked_config["secret"] %></dd>
          <% else %>
            <dd><em>Not set</em></dd>
          <% end %>

          <dt>Creator</dt>
          <dd>
            <% if view.hook.created_by_oauth_application? %>
              <%= link_to view.hook.oauth_application.name, stafftools_user_application_path(view.hook.oauth_application.owner, view.hook.oauth_application), class: "Link--inTextBlock" %>
              on behalf of
              <%= link_to view.hook.creator, stafftools_user_path(view.hook.creator), class: "Link--inTextBlock" %>
              <% if view.hook.oauth_application.synchronized_dotcom_app? %>
                | This app is synchronized with GitHub.com.
                <%= link_to "View on GitHub.com", @hook.oauth_application.dotcom_app_owner_metadata.url, target: "_blank", class: "Link--inTextBlock" %>
              <% end %>
            <% elsif view.hook.created_by_user? %>
              <%= link_to view.hook.creator, stafftools_user_path(view.hook.creator), class: "Link--inTextBlock" %>
            <% else %>
              unknown
            <% end %>
          </dd>
        <% else %>
          Repository notifications are not currently configured for this repository.
        <% end %>
      </dl>
    </div>
  </div>

  <div class="site-admin-subhead ruleless">
    <h3 class="site-admin-subhead-heading">
      Audit log
    </h3>
    <p class="f6 m-0">
      Entries for Repository Notifications Settings appear in the audit log as "hook" events with a <code>name</code> of <code>Email</code>.
    </p>
  </div>

  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: view.audit_log_data[:query],
          more_results: view.audit_log_data[:more_results],
          logs: view.audit_log_data[:logs]
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>

  <% if view.notifications_configured? %>
    <div class="site-admin-subhead ruleless">
      <h3 class="site-admin-subhead-heading">
        Recent Pushes
      </h3>
      <p class="f6 m-0">
        Each push to the repository will result in notification emails being sent.
        <br>
        The links below will take you to a splunk search for the relevant message id for support debug.
      </p>
    </div>

    <% if view.reflog_entries.present? %>
      <%= render \
          partial: "stafftools/repository_notifications/reflog",
          locals: { view: view }
      %>
    <% else %>
      <p class="site-admin-blankstate">
        The reflog is unavailable.
      </p>
    <% end %>
  <% end %>
</div>
