<div class="container-lg my-4">
  <%= render(Primer::Beta::Heading.new(tag: :h2, mb: 2)) { "Activate GitHub Copilot" } %>
  <hr>

  <%= render Primer::Alpha::Layout.new(first_in_source: :main, gutter: :spacious) do |component| %>
    <% component.with_main do %>
      <!-- account -->
      <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center, mb: 3)) do %>
        <%= render(Primer::Beta::Text.new(tag: :p, font_size: 4, font_weight: :bold, mb: 3)) { "Account" } %>
      <% end %>
      <%= render "copilot/purchase/checkout_border_box" do %>
        <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center)) do %>
          <%= render(Primer::Box.new(display: :flex)) do %>
            <%= render(Primer::Beta::Avatar.new(shape: :square, src: Primer::ExampleImage::BASE64_SRC, alt: "@kittenuser", size: 40)) %>
            <%= render(Primer::Box.new(display: :flex, direction: :column, pl: 3)) do %>
              <%= render(Primer::Beta::Text.new(font_weight: :bold)) { "Evil Copilot" } %>
              <%= render(Primer::Beta::Text.new(color: :muted, font_size: 6)) { "Organization • 420 members" } %>
            <% end %>
          <% end %>

          <%= render(Primer::Alpha::SelectPanel.new(fetch_strategy: :local)) do |panel| %>
            <% panel.with_show_button do |button| %>
              <% button.with_leading_visual_icon(icon: :'arrow-switch') %> Switch
            <% end %>
            <% panel.with_item(label: "Item 1") %>
            <% panel.with_item(label: "Item 2") %>
          <% end %>
        <% end %>
      <% end %>
      <!-- END account -->
      <!-- plan -->
      <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center, mb: 3)) do %>
        <%= render(Primer::Beta::Text.new(tag: :p, font_size: 4, font_weight: :bold, mb: 3)) { "Copilot plan" } %>
      <% end %>
      <%= render "copilot/purchase/checkout_border_box" do %>
        <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, col: 12)) do %>
          <%= render(Primer::Box.new(display: :flex, direction: :column, mr: 3, col: 10)) do %>
            <%= render(Primer::Beta::Text.new(font_weight: :bold)) { "Copilot Business" } %>
            <%= render(Primer::Beta::Text.new(color: :muted, font_size: 6)) do %>
              For organizations ready to improve engineering velocity, code quality, and developer experience. See all features on Business plan.
            <% end %>
          <% end %>
          <%= render(Primer::Box.new(display: :flex, direction: :column, col: 2, text_align: :right)) do %>
            <%= render(Primer::Beta::Text.new(font_weight: :bold)) { "$19 / user" } %>
            <%= render(Primer::Beta::Text.new(color: :muted, font_size: 6)) { "per month" } %>
          <% end %>
        <% end %>
      <% end %>
      <!-- END plan -->
      <!-- billing info -->
      <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center, mb: 3)) do %>
        <%= render(Primer::Beta::Text.new(tag: :p, font_size: 4, font_weight: :bold)) { "Billing information" } %>
        <%= render(Primer::Beta::Button.new(scheme: :secondary, id: "edit-billing-details")) { "Edit" } %>
      <% end %>
      <%= render "copilot/purchase/checkout_border_box" do %>
        <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, col: 12)) do %>
          <%= render(Primer::Box.new(display: :flex, col: 6, pr: 4)) do %>
            <%= render(Primer::Beta::Avatar.new(shape: :square, src: Primer::ExampleImage::BASE64_SRC, alt: "@kittenuser", size: 40)) %>
            <%= render(Primer::Box.new(display: :flex, direction: :column, pl: 3)) do %>
              <%= render(Primer::Beta::Text.new(font_weight: :bold)) { "Evil Copilot" } %>
              <%= render(Primer::Beta::Text.new(color: :muted, font_size: 6)) { "Organization" } %>
            <% end %>
          <% end %>
          <%= render(Primer::Box.new(display: :flex, direction: :column, col: 6, pl: 4, border: :left, border_color: :muted)) do %>
            <!-- this will be the name of the business, if there is one -->
            <%= render(Primer::Beta::Text.new(font_weight: :bold)) { "Evil Copilot, Inc." } %>
            <%= render(Primer::Beta::Text.new(color: :muted, font_size: 6)) do %>
              88 Colin P Kelly Jr Way
            <% end %>
            <%= render(Primer::Beta::Text.new(color: :muted, font_size: 6)) do %>
              San Francisco, CA 94117
            <% end %>
            <%= render(Primer::Beta::Text.new(color: :muted, font_size: 6)) do %>
              United States of America
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <!-- END billing info -->
      <!-- payment info -->
      <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center, mb: 3)) do %>
        <%= render(Primer::Beta::Text.new(tag: :p, font_size: 4, font_weight: :bold)) { "Payment method" } %>
        <%= render(Primer::Beta::Button.new(scheme: :secondary, id: "edit-payment-method")) { "Edit" } %>
      <% end %>
      <%= render "copilot/purchase/checkout_border_box" do %>
        <%= render(Primer::Box.new(display: :flex)) do %>
          <%= render(Primer::Beta::Octicon.new(icon: :'credit-card', size: :small, mr: 3)) %>
          <%= render(Primer::Box.new(display: :flex, direction: :column, mt: -1)) do %>
            <%= render(Primer::Beta::Text.new(font_weight: :bold)) { "Mastercard ending in 4321" } %>
              <%= render(Primer::Beta::Text.new(color: :muted, font_size: 6)) do %>
                Expires 02/2026
              <% end %>
          <% end %>
        <% end %>
      <% end %>
      <!-- END payment info -->
    <% end %>

    <% component.with_sidebar(col_placement: :end, row_placement: :end) do %>
      <%= render "copilot/purchase/checkout_border_box" do %>
        <%= render(Primer::Beta::Text.new(tag: :p, font_size: 3, font_weight: :bold)) { "Summary" } %>
        <hr>
        <%= render(Primer::Beta::Text.new(tag: :p, font_size: 5, font_weight: :bold)) { "GitHub Copilot" } %>
        <%= render(Primer::Beta::Text.new(tag: :p, font_size: 6, color: :muted, mb: 2)) { "Monthly • No seats assigned yet" } %>
        <%= render(
          Primer::Beta::Button.new(
            scheme: :primary,
            size: :medium,
            id: 'submit-purchase',
            tag: :button,
            type: :submit,
            disabled: false,
            mb: 2,
            block: true,
          )
        ) do |_c| %>
          Enable GitHub Copilot
        <% end %>
        <%= render(
          Primer::Beta::Button.new(
            scheme: :default,
            size: :medium,
            id: 'cancel-purchase',
            tag: :a,
            block: true,
            href: "https://github.com",
          )
        ) do |_c| %>
          Cancel
        <% end %>
        <%= render(Primer::Beta::Text.new(tag: :p, mt: 3, mb: 0, color: :subtle, text_align: :center, font_size: 6)) do %>
          Your existing agreement with GitHub governs your use of GitHub Copilot. See GitHub Copilot specific terms here. If you require invoices, contact our sales team.
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
