<% page_info title: this_business.name, selected_link: :enterprise_installations %>

<%= render Primer::Beta::Subhead.new do |component| %>
	<% component.with_heading(tag: :h2) do %>Enterprise Server installations<% end %>
<% end %>

<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search installations",
  form_url: stafftools_enterprise_enterprise_installations_path(this_business)
) %>

<% if enterprise_installations.any? %>
  <div class="d-table col-12 border-bottom text-bold py-2">
    <div class="d-table-cell col-3">Hostname</div>
    <div class="d-table-cell col-3">Customer name</div>
    <div class="d-table-cell col-2">Created</div>
    <div class="d-table-cell col-2">License usage last synced</div>
    <div class="d-table-cell col-1">Last sync state</div>
    <div class="d-table-cell col-1">GitHub Connect</div>
  </div>

  <% enterprise_installations.each do |installation| %>
    <% last_upload = installation.last_user_accounts_upload %>
    <div class="d-table col-12 border-bottom py-2">
      <div class="d-table-cell col-3">
        <%= render(Primer::Beta::Link.new(
          href: stafftools_enterprise_installation_path(installation),
          test_selector: "installation-#{installation.id}"
        )) { installation.host_name } %>
      </div>
      <div class="d-table-cell col-3">
        <%= installation.customer_name %>
      </div>
      <div class="d-table-cell col-2">
        <%= time_ago_in_words_js installation.created_at %>
      </div>
      <div class="d-table-cell col-2">
        <% if last_upload %>
          <%= time_ago_in_words_js last_upload.updated_at %>
        <% else %>
          Never
        <% end %>
      </div>
      <div class="d-table-cell col-1">
        <% if last_upload %>
          <% if last_upload.sync_failure? %>
            <%= render Primer::Beta::Label.new(scheme: :danger, title: "Label: Failed") do %>
              Failed
            <% end %>
          <% elsif last_upload.sync_pending? %>
            <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: Processing") do %>
              Processing
            <% end %>
          <% elsif last_upload.sync_success? %>
            <%= render Primer::Beta::Label.new(scheme: :success, title: "Label: Succeeded") do %>
              Succeeded
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="d-table-cell col-1 text-center">
        <% if installation.connected? %>
          <%= primer_octicon(:check, color: :success) %>
        <% else %>
          <%= primer_octicon(:x) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="paginate-container">
    <%= will_paginate enterprise_installations %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No enterprise server installations
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      for this enterprise.
    <% end %>
  <% end %>
<% end %>
