<div class="border col-lg-4 rounded-2 color-border-muted color-bg-subtle no-underline p-3 mt-3">
<div class="width-full color-fg-muted f6 text-bold lh-condensed wb-break-word mb-1">Learn more</div>
  <div class="d-flex">
    <div>
      <%= render(Primer::Beta::Octicon.new(:"link-external", size: :small, color: :accent, mr: 2)) %>
    </div>
    <div>
      <%= render(Primer::Beta::Link.new(
        data: analytics_click_attributes(
          category: "advanced_security_onboarding_docs",
          action: "click_onboarding_docs_recommended_configuration",
          label: "ref_cta:GitHub-recommended configuration;ref_loc:advanced_securty_onboarding"
        ),
        font_size: :small,
        font_weight: :bold,
        href: helpers.docs_url("code-security/github-recommended-configuration"))) { "GitHub-recommended configuration" } %>
    </div>
  </div>

  <div class="d-flex">
    <div>
      <%= render(Primer::Beta::Octicon.new(:"link-external", size: :small, color: :accent, mr: 2)) %>
    </div>
    <div>
      <%= render(Primer::Beta::Link.new(
        data: analytics_click_attributes(
          category: "advanced_security_onboarding_docs",
          action: "click_onboarding_docs_dependabot",
          label: "ref_cta:Dependabot;ref_loc:advanced_securty_onboarding"
        ),
        font_size: :small,
        font_weight: :bold,
        href: helpers.docs_url("code-security/about-dependabot-alerts"))) { "Dependabot" } %>
    </div>
  </div>

  <div class="d-flex">
    <div>
      <%= render(Primer::Beta::Octicon.new(:"link-external", size: :small, color: :accent, mr: 2)) %>
    </div>
    <div>
      <%= render(Primer::Beta::Link.new(
        data: analytics_click_attributes(
          category: "advanced_security_onboarding_docs",
          action: "click_onboarding_docs_code_scanning",
          label: "ref_cta:Code scanning;ref_loc:advanced_securty_onboarding"
        ),
        font_size: :small,
        font_weight: :bold,
        href: helpers.docs_url("code-security/about-code-scanning"))) { "Code scanning" } %>
    </div>
  </div>

  <div class="d-flex">
    <div>
      <%= render(Primer::Beta::Octicon.new(:"link-external", size: :small, color: :accent, mr: 2)) %>
    </div>
    <div>
      <%= render(Primer::Beta::Link.new(
        data: analytics_click_attributes(
          category: "advanced_security_onboarding_docs",
          action: "click_onboarding_docs_secret_scanning",
          label: "ref_cta:Secret scanning;ref_loc:advanced_securty_onboarding"
        ),
        font_size: :small,
        font_weight: :bold,
        href: helpers.docs_url("code-security/about-secret-scanning"))) { "Secret scanning" } %>
    </div>
  </div>
</div>
