<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render layout: "move_work/layout", locals: { progressbar_value: progressbar_value } do %>
    <p class="f2" <%= test_selector "heading" %>>Ready to move <%= move_work_resources_count_message(repos_count, projects_count) %> to <strong><%= move_work.target.name %></strong>?</p>

    <div class="d-flex flex-items-stretch my-5 flex-justify-start col-md-9">
      <div class="d-flex flex-column col-md-4">
        <label for="from_org" class="d-flex flex-items-center mb-3">
          <span class="mr-2">
            <%= render(GitHub::AvatarComponent.new(actor: current_context, size: 24)) %>
          </span>
          <span class="f5"><%= current_context.name %></span>
        </label>
        <%= render Primer::Box.new(bg: :subtle, border: true, p: 3, display: :flex, direction: :row, h: :full, border_radius: 2) do %>
          <ul class="list-style-none" role="list">
          <% move_work.move_work_items.each do |item| %>
            <li class="h6 mb-1"><%= item.resource.name %></li>
          <% end %>
          </ul>
        <% end %>
      </div>
      <div class="d-md-flex flex-justify-center flex-items-center col-md-1">
        <span ><%= render(Primer::Beta::Octicon.new(:"arrow-right", size: :medium, mt: 4)) %></span>
      </div>
      <div class="d-flex flex-column col-md-4">
        <label for="target" class="d-flex flex-items-center mb-3">
          <span class="mr-2">
            <%= render(GitHub::AvatarComponent.new(actor: move_work.target, size: 24)) %>
          </span>
          <span class="f5"><%= move_work.target.name %></span>
        </label>
        <%= render(Primer::Box.new(bg: :default, border: true, p: 3, display: :flex, h: :full, border_radius: 2)) %>
      </div>
    </div>

    <%= form_with(url: move_work_confirm_path(current_context), html: { class: "d-inline mr-3" }) do |f| %>
      <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :primary)) { "Move to your organization" } %>
    <% end %>
    <%= render Primer::ButtonComponent.new(
      tag: :a,
      scheme: :default,
      href: new_move_work_path(current_user)).with_content("Cancel")
    %>
<% end %>
