<%# locals: (view:, invitation_token:, via_email:, return_to:) %>

<% if view.display_copilot_business_seat_request? %>
  <%= render_nothing_if_database_fails do %>
    <%
      copilot_organization = Copilot::Organization.new(view.organization)
    %>
    <% if !(view.invitation.role == "admin") %>
      <%= render(Hydro::TrackViewComponent.new(name: "copilot_for_business/ask_for_seat")) %>
      <div class="border rounded-2 mb-4 d-flex">
        <div class="clearfix p-3 color-bg-subtle rounded-top-2">
          <div class="d-flex flex-column flex-items-center">
            <div class="d-flex mb-1">
              <%= check_box_tag :copilot_seat, checked: false, form: "form-show-org-invitation"%>
              <%= label_tag :copilot_seat_label, for: "copilot_seat" do %>
                <%= render(Primer::Beta::Octicon.new(:copilot, size: :small, ml: 2, mr: 1)) %>
                <span <%= test_selector("check-box-message") %>>Ask for a GitHub Copilot seat (optional)</span>
              <% end %>
            </div>
            <div class="f5 color-fg-muted">
              Request a seat from your admin to get real-time AI code suggestions, improve code quality, and accelerate your workflow.
              <%= render(Primer::Beta::Link.new(href: view.learn_more_url, classes: "Link--inTextBlock")) { "Learn more about GitHub Copilot." } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= form_tag org_show_invitation_path(
    view.organization,
    :invitation_token => invitation_token,
    :via_email => via_email,
    :return_to => return_to
  ),
  id: "form-show-org-invitation",
  class: "inline-form",
  method: :post do %>
  <%= render(Primer::Beta::Button.new(
    type: :submit,
    scheme: :primary,
    mr: 0,
    disabled: !view.two_factor_auth_settings_permit_joining?,
    data: analytics_click_attributes(
      category: "Org Invitation Confirm Button",
      action: "click to confirm org invitation",
      label: "location:org_invitation_confirmation_page"
    ),
    test_selector: "invitation-#{view.organization.id}-join-button")) { "Join #{view.organization.safe_profile_name}" } %>
<% end %>
