<% if invitation.present? && invitation.email? %>
  <li class="list-item js-org-list-item">
    <%= form_tag destroy_org_invitation_path(invitation), :method => :delete,
          :class => "js-org-remove-item",
          "data-error-message" => "There was an error canceling the invitation." do %>
      <%= render Primer::Beta::Button.new(type: :submit, scheme: :link, float: :right, "aria-label": "Cancel invitation") do %>
        <%= primer_octicon(:x) %>
      <% end %>
    <% end %>

    <span class="team-member-list-avatar">
      <%= primer_octicon(:mail, :height => 32) %>
    </span>

    <div class="team-member-content">
      <span class="team-member-username">
        <%= invitation.email_or_invitee_name %>

        <span class="labels">
          <%= render Primer::Beta::Label.new(scheme: :secondary, title: "This person has been invited to join the org") do %>
            Invited
          <% end %>
        </span>
      </span>

      <p class="note">
      </p>
    </div>
  </li>
<% else %>
  <li class="list-item js-org-list-item" data-login="<%= user.display_login %>">
    <%# only user to org transform uses this %>
    <input type="hidden" class="js-login-field" name="organization[admin_logins][]" value="<%= user.display_login %>" disabled>

    <% if invitation.present? %>
      <%= form_tag destroy_org_invitation_path(invitation), :method => :delete,
            :class => "js-org-remove-item",
            "data-error-message" => "There was an error canceling the invitation." do %>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :link, float: :right, "aria-label": "Cancel invitation") do %>
          <%= primer_octicon(:x) %>
        <% end %>
      <% end %>
    <% end %>

    <%= linked_avatar_for(user, 40, img_class: "avatar", link_class: "team-member-list-avatar") %>

    <div class="team-member-content">
      <span class="team-member-username">
        <%= profile_link(user) %>

        <% if invitation.present? %>
          <span class="labels">
            <%= render Primer::Beta::Label.new(scheme: :secondary, title: "This person has been invited to join the org") do %>
              Invited
            <% end %>
          </span>
        <% end %>
      </span>
      <p class="note">
        <%= user.profile_name %>
      </p>
    </div>
  </li>
<% end %>
