<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% return_to ||= nil %>

<li class="list-item d-flex flex-items-baseline py-3 border-bottom">

  <%= profile_link(invitation.invitee, itemprop: "url", skip_hovercard: true) do %>
    <%= avatar_for invitation.invitee, 28, :class => "avatar mr-2" %>
  <% end %>

  <div class="flex-auto">
    <% if invitation.invitee.profile_name.present? %>
      <%= profile_link(invitation.invitee, skip_hovercard: true, class: "team-member-username text-bold Link--primary no-underline mr-1") do %>
        <%= invitation.invitee.profile_name %>
      <% end %>
    <% end %>

    <span class="mt-1 mb-0 text-small color-fg-muted text-normal" itemprop="name">
      <%= invitation.invitee.display_login %>
    </span>
  </div>

  <% if current_organization_for_member_or_billing.adminable_by?(current_user) %>
    <% org = current_organization %>
    <% invitee = invitation.invitee.display_login %>

    <a href="<%= org_edit_invitation_path(org, invitee) %>"
       class="btn btn-sm edit-invitation">
      Edit invitation
    </a>
  <% end %>
</li>
