<%# locals: (title:, subtitle:, icon:, value:) %>

<%
  invitee = value.respond_to?(:display_login) ? value.display_login : value
  remove_hydro = invite_hydro_click_tracking_attributes(invitee: invitee, organization: current_organization, actor: current_user, event_type: :REMOVE_INVITE)
  remove_hydro_payload = remove_hydro["hydro-click"]
  remove_hydro_hmac = remove_hydro["hydro-click-hmac"]
%>

<% if params["badge_size"] == "small" %>
  <template class="js-badge-template">
    <button class="js-badge hx_badge ml-1 mb-1 rounded-2 p-1 color-fg-accent color-bg-accent border color-border-accent"
            aria-pressed="false"
            type="button"
            data-hydro-click-hmac="<%= remove_hydro_hmac %>"
            data-hydro-click-payload="<%= remove_hydro_payload %>">
      <div class="d-flex flex-grow-0 flex-shrink-0 flex-order-1 flex-items-center">
        <%= icon %>
        <div class="lh-condensed-ultra"><%= title %></div>
        <input type="hidden" name="members[]" value="<%= value %>">
      </div>
    </button>
  </template>
<% else %>
  <template class="js-badge-template">
      <button class="js-badge hx_badge m-1 rounded-2 p-2 color-fg-accent color-bg-accent border color-border-accent"
              aria-pressed="false"
              type="button"
              data-hydro-click-hmac="<%= remove_hydro_hmac %>"
              data-hydro-click-payload="<%= remove_hydro_payload %>">
        <div class="d-flex flex-grow-0 flex-shrink-0 flex-order-1">
          <%= icon %>
          <div class="d-flex flex-column text-left">
            <div class="text-bold lh-condensed-ultra"><%= title %></div>
            <div class="text-small lh-condensed-ultra pt-1"><%= subtitle %></div>
          </div>
          <input type="hidden" name="members[]" value="<%= invitee %>">
        </div>
      </button>
  </template>
<% end %>
