<%= render "orgs/header", view: create_view_model(
  Orgs::HeaderView,
  organization: organization,
  selected_nav_item: :members,
) %>

<div class="container-lg d-block mx-auto" style="width: 500px">
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Invite <%= params[:email] %>
      to <%= organization.safe_profile_name %>
    <% end %>
  <% end %>

  <p>
    In order to prevent abuse, we’ve limited the number of invitations you
    can send in a day.
  </p>
  <p>
    Try inviting new members tomorrow or <a class="Link--inTextBlock" href="<%= GitHub.contact_support_url(tags: "dotcom-organizations") %>">contact support</a>.
  </p>
</div>
