<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% page_info :title => "Invitation to join #{view.organization.safe_profile_name}" %>

<% content_for(:header_logo) do %>
  <a class="header-logo pb-3" href="<%= home_url %>" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
    <%= primer_octicon(:"logo-github", :height => 40) %>
  </a>
<% end %>

<div class="auth-form sign-up-via-invitation px-3">
  <div class="auth-form-body" data-hpc>

    <div class="text-center position-relative">
      <%= avatar_for view.organization, 60, :class => "avatar mb-3" %>

      <p class="f3">
        You’ve been invited to the<br>
        <strong><%= view.organization.safe_profile_name %></strong>
        organization.
      </p>

      <% if view.invitation.show_inviter? %>
        <p class="color-fg-muted text-small mt-2 mb-3">Invited by <%= view.invitation.inviter.safe_profile_name %></p>
      <% end %>

      <hr class="bleed-flush">
      <%= link_to(
        "Already have an account? Sign in.",
        urls.login_path(return_to: view.return_to_invitation_link(params[:invitation_token])),
        class: "text-center d-block",
        data: sign_in_link_data_attributes(location_in_page: "invitation already have account").merge!(test_selector: "invitation-sign-in-link"),
      ) %>
    </div>

    <hr class="bleed-flush">

    <div class="mt-4 mb-2">
      <% if view.organization.external_identity_session_owner.saml_sso_enforced? %>
        <%= form_tag view.idm_saml_initiate_url, {class: "d-flex flex-justify-center"} do %>
          <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>
            Authenticate to join
          <% end %>
        <% end %>
      <% else %>
        <h4 class="text-normal f5 text-center">New to GitHub? Create your account.</h4>

        <% if GitHub.flipper[:deprecate_legacy_signup_forms].enabled? %>
          <div class="d-flex flex-items-center mt-4 mb-4">
            <%= render(
                Primer::Beta::Button.new(
                  type: :button,
                  tag: :a,
                  href: new_nux_signup_path(return_to: params[:return_to], invitation_token: params[:invitation_token]),
                  scheme: :primary,
                  mx: :auto
                )
              ) { "Sign up for GitHub" } %>
          </div>
        <% else %>
          <%= render "orgs/sign_up_form",
            :organization => view.organization,
            :source => "org-invitation",
            :hidden_fields => {
              :invitation_token => params[:invitation_token],
              :return_to => params[:return_to]
            } %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if GitHub.billing_enabled? %>
    <p class="tos-info text-center text-small color-fg-muted mt-4">
      <% if view.organization.external_identity_session_owner.saml_sso_enforced? %>
        By creating a GitHub account you agree to our
      <% else %>
        By clicking "Create account and join", you agree to our
      <% end %>
      <a class="Link--inTextBlock" href="<%= site_terms_path %>" target="_blank" rel="noopener noreferrer">Terms of Service</a> and
      <a class="Link--inTextBlock" href="<%= site_privacy_path %>" target="_blank" rel="noopener noreferrer">Privacy Statement</a>.
      We’ll occasionally send you account related emails.
    </p>
  <% end %>

  <p class="text-center text-small color-fg-muted mt-4">
    <%= primer_octicon(:lock) %>
    <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/permission-levels-for-an-organization">Owners</a>
    of <%= view.organization.safe_profile_name %> will be able to see if you have two-factor authentication enabled or not.
    <br>
    <a class="Link--inTextBlock" href="<%= settings_account_preferences_path %>">View two-factor authentication settings</a>
  </p>
</div>
