<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  invite_or_add = invite_or_add_action_word(enterprise_managed: !!organization&.enterprise_managed_user_enabled?)
%>
<%= render "orgs/header", view: create_view_model(
  Orgs::HeaderView,
  organization: organization,
  selected_nav_item: :members,
) %>

<div class="container"><%# erblint:disable DeprecatedCustomCss %>
  <div class="text-center">
    <h1 class="my-3"><%= "#{invite_or_add} a member to #{organization.safe_profile_name}" %></h1>
    <p class="mt-4" <%= test_selector "uninvitable-message" %>>
      <% if invitee.is_a?(User) %>
        Sorry, <strong><%= invitee.safe_profile_name %></strong>
      <% else %>
        Sorry, <strong><%= invitee %></strong>
      <% end %>

      <% if existing_invitation.present? %>
        has already been invited to
      <% elsif status.errors.include?(:already_on_org) %>
        is already a member of
      <% elsif status.errors.include?(:email_already_on_org) %>
        belongs to someone who is already a member of
      <% else %>
        cannot be invited to
      <% end %>

      <%= organization.safe_profile_name %>.
      <% if status.errors.include?(:invalid_email) %>
        <%= "#{Organization::InviteStatus::ERROR_MESSAGES[:invalid_email]}." %>
      <% end %>
    </p>
  </div>

  <% if existing_invitation.present? %>
    <%= form_tag cancel_org_invitation_path(organization, existing_invitation), method: :put, class: "inline-form" do %>
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, "data-ga-click": "Orgs, cancel, location:uninvitable; text:Cancel invitation") do %>Cancel this invitation<% end %>
    <% end %>.
  <% end %>
</div>
