<div <%= test_selector("topic-feeds-search-overview") %>>

  <% unless starred_topics.empty? %>
    <article class="border rounded color-shadow-small p-2 my-3 p-3 color-bg-default">
      <p class="text-bold">Followed topics</p>
      <p class="color-fg-muted">Keep up with communities you're interested in. These topics are pinned to your feed.</p>

      <% starred_topics.each do |topic| %>
        <%= render Dashboard::TopicFeedsSearch::ItemComponent.new(topic: topic, test_selector: "topic-feeds-starred-item") %>
      <% end %>
    </article>
  <% end %>

  <% unless suggested_topics.empty? %>
    <article class="border rounded color-shadow-small my-3 p-3 color-bg-default">
      <p class="text-bold">Suggested topics</p>

      <% suggested_topics.each do |topic| %>
        <%= render Dashboard::TopicFeedsSearch::ItemComponent.new(topic: topic, test_selector: "topic-feeds-suggested-item") %>
      <% end %>
    </article>
  <% end %>

  <% unless popular_topics.empty? %>
    <article class="border rounded color-shadow-small my-3 p-3 color-bg-default">
      <p class="text-bold">Popular on GitHub</p>

      <% popular_topics.each do |topic| %>
        <%= render Dashboard::TopicFeedsSearch::ItemComponent.new(topic: topic, test_selector: "topic-feeds-popular-item") %>
      <% end %>

      <div class="mt-3">
        <%= render Primer::Beta::Button.new(scheme: :invisible) do %>
          <%= render(Primer::Beta::Link.new(href: topics_path, underline: false, display: :block)) { "View all" } %>
        <% end %>
      </div>
    </article>
  <% end %>
</div>
