<% if user_feature_enabled?(:primer_experimental_selectpanel_single_sign_on) %>
  <%= render Primer::Experimental::SelectPanel.new(
    id: "configure-sso-#{id}",
    title: "Single sign-on organizations",
    dynamic_label: true,
    size: :medium,
    select_variant: :none,
    fetch_strategy: :eventually_local,
    src: @src,
    no_results_label: "No matching organizations.",
  ) do |menu| %>
    <% menu.with_show_button(size: :small, aria: { label: "Configure SSO for #{cred_title}" }) do |button| %>
      <% button.with_trailing_action_icon(icon: "triangle-down") %>
      Configure SSO
    <% end %>
    <% menu.with_subtitle do %>
      <p class="mb-1 lh-default">These organizations require <%= sso_subjects_label %> to be authorized for access.</p>
      <p class="mb-2 lh-default"><%= link_to "See the documentation", sso_help_url, class: "Link--inTextBlock" %> for more information.</p>
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::Alpha::Overlay.new(title: "Single sign-on organizations", anchor_align: :end, role: :dialog, id: "configure-sso-#{id}", border: true, border_radius: 3) do |dialog| %>
    <% dialog.with_show_button(size: :small, aria: { label: "Configure SSO for #{cred_title}" }) do |button| %>
      <% button.with_trailing_action_icon(icon: "triangle-down") %> Configure SSO
    <% end %>
    <% dialog.with_header(divider: true, text_align: :left, font_size: 4, font_weight: :bold) do %>
      Single sign-on organizations
    <% end %>

    <% dialog.with_body(pt: 2, font_size: 6) do %>
      <div class="text-left" id="single-sign-on-organizations-message">
        <p class="mb-1">These organizations require <%= sso_subjects_label %> to be authorized for access.</p>
        <p class="mb-0"><%= link_to "See the documentation", sso_help_url, class: "Link--inTextBlock" %> for more information.</p>
      </div>
      <filter-input aria-owns="filter-menu-<%= id %>" class="SelectMenu-filter <%= 'js-configure-token-sso' if user_feature_enabled?(:personal_access_token_sso_js) %>">
          <input
            autofocus
            aria-owns="filter-menu-<%= id %>"
            class="form-control width-full py-2"
            id="assigns-filter-field"
            type="text"
            aria-label="Single sign-on organizations"
            placeholder="Filter by organization">
        </filter-input>
        <div
          id="filter-menu-<%= id %>"
          class="d-flex flex-column flex-1 overflow-hidden"
          role="menu"
          aria-label="Single sign-on organizations">
          <div data-filter-list>
            <include-fragment src="<%= @src %>" aria-label="Loading" class="text-center py-4">
              <%= render(Primer::Beta::Spinner.new) %>
            </include-fragment>
          </div>
        </div>
    <% end %>
  <% end %>
<% end %>
