<% if @credential_authorization.nil? %>
  <a href="<%= authorize_path %>" class="SelectMenu-item flex-items-center" aria-label="Authorize <%= cred_title %> for <%= @org.name %>" data-sso-availability="<%= @sso_availability %>">
    <div class="flex-auto">
      <%= render(Organizations::CredentialAuthorizations::AvatarComponent.new(@org)) %>
    </div>

    <%= render(Primer::Beta::Label.new) { "Authorize" } %>
  </a>
<% elsif @credential_authorization.revoked? %>
  <button class="SelectMenu-item flex-items-center" type="button" data-sso-availability="<%= @sso_availability %>" disabled>
    <div class="flex-auto">
      <%= render(Organizations::CredentialAuthorizations::AvatarComponent.new(@org)) %>
      (Revoked by <%= @credential_authorization.revoked_by.display_login %>)
    </div>

    <%= render(Primer::Beta::Label.new(color: :muted)) { "Revoked" } %>
  </button>
<% else %>
  <%= button_to destroy_path, method: :delete, form: { data: { "sso-availability" => @sso_availability } }, class: "SelectMenu-item flex-items-center", role: "menuitem" do %>
    <div class="flex-auto">
      <%= render(Organizations::CredentialAuthorizations::AvatarComponent.new(@org)) %>
    </div>

    <%= render(Primer::Beta::Label.new(color: :danger)) { "Deauthorize" } %>
  <% end %>
<% end %>
