<% content_for :header do %>
  The custom domain <%= @domain_name %> has been removed
<% end %>

<% len = @repositories.length %>

<p>Domain <b><%= @domain_name %></b> is verified by another owner. As a result, the custom domain for the following GitHub Pages <%= "site".pluralize(len) %> has been removed:</p>

<p>
  <% @repositories.each do |repository| %>
    <strong><%= repository %></strong><%= "," unless @repositories.last == repository %>
  <% end %>
</p>

<p>The GitHub Pages <%= "site".pluralize(len) %> <%= "is".pluralize(len) %> still accessible on the default <b>github.io</b> domain.</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ButtonComponent.new(text: "Manage verified domains", url: @pages_settings_url, classes: "btn-primary btn-large")) %>
