<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
  container_xl: true,
  title: "Update Actions variable #{variable.name} · #{current_repository.name_with_display_owner}",
  selected_link: selected_link %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= repository_variables_path(app_name: app_name) %>">
        <%= page_title %>
      </a> / Update variable
    <% end %>
  <% end %>

  <p>
    Note: Variable values are exposed as plain text. If you need to encrypt and mask sensitive information, <a class="Link--inTextBlock" href="<%= repository_new_secret_path(app_name: app_name) %>">create a secret</a> instead.
  </p>
  <variables-input data-operation="update">
    <%= form_tag repository_update_variable_path(app_name: app_name, name: variable.name),
      class: "d-flex flex-column",
      method: :put,
      data: {
        target: "variables-input.form" ,
        action: "submit:variables-input#submit"
      } do %>
      <div class="form-group">
        <div class="form-group-header">
          <label for="variable_updated_name">Name</label>
          <span aria-hidden="true">*</span>
        </div>
        <div class="form-group-body">
          <input
            required
            type="text"
            name="variable_updated_name"
            id="variable_updated_name"
            aria-required="true"
            value="<%= variable.name %>"
            data-action="input:variables-input#nameInput"
            data-target="variables-input.name"
            aria-describedby="variable_validation_message"
            aria-invalid="<%= !GitHub::KredzClient::Varz.validate_key(variable.name).succeeded? %>"
            class="form-control width-full"
            maxlength="<%= GitHub::KredzClient::Varz::VARIABLE_KEY_MAX_SIZE %>"
          >
        </div>
        <div data-target="variables-input.validationMessage" class="pt-2" hidden>
          <%= primer_octicon(:"alert-fill", color: :danger) %>
          <span data-target="variables-input.validationError" id="variable_validation_message" class="color-fg-danger"></span>
        </div>
      </div>
      <div class="form-group">
        <div class="form-group-header">
          <label for="variable_value">Value</label>
          <span aria-hidden="true">*</span>
        </div>
        <div class="form-group-body">
          <textarea
            required
            type="text"
            name="variable_value"
            id="variable_value"
            class="form-control width-full"
            aria-invalid="<%= !GitHub::KredzClient::Varz.validate_value(variable.value).succeeded? %>"
            maxlength="<%= GitHub::KredzClient::Varz::VARIABLE_VALUE_MAX_SIZE %>"
          ><%= Base64.strict_decode64(variable.value).force_encoding(Encoding::UTF_8) %></textarea>
        </div>
      </div>
      <div class="form-group">
        <%= render Primer::ButtonComponent.new("data-sudo-required": true, type: :submit, scheme: :primary, data: { target: "variables-input.submitButton" }) do %>Update variable<% end %>
      </div>
    <% end %>
  </variables-input>
<% end %>
