<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
  container_xl: true,
  title: "Add Actions variable · #{current_repository.name_with_display_owner}",
  selected_link: selected_link %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= repository_variables_path(app_name: app_name) %>">
        <%= page_title %>
      </a> / New variable
    <% end %>
  <% end %>

  <p>
    Note: Variable values are exposed as plain text. If you need to encrypt and mask sensitive information, <a class="Link--inTextBlock" href="<%= repository_new_secret_path(app_name: app_name) %>">create a secret</a> instead.
  </p>

  <variables-input data-operation="add">
    <%= form_tag repository_create_variable_path(app_name: app_name),
      class: "d-flex flex-column",
      method: :post,
      data: {
        target: "variables-input.form" ,
        action: "submit:variables-input#submit"
      } do %>
      <div class="form-group">
        <div class="form-group-header">
          <label for="variable_name">Name</label>
          <span aria-hidden="true">*</span>
        </div>
        <div class="form-group-body">
          <input
            required
            type="text"
            name="variable_name"
            value="<%= variable_name %>"
            id="variable_name"
            aria-required="true"
            class="form-control width-full"
            data-action="input:variables-input#nameInput"
            data-target="variables-input.name"
            aria-invalid="<%= !GitHub::KredzClient::Varz.validate_key(variable_name).succeeded? %>"
            aria-describedby="variable_validation_message"
            aria-details="variable_validation_rules"
            maxlength="<%= GitHub::KredzClient::Varz::VARIABLE_KEY_MAX_SIZE %>">
        </div>
      </div>
      <div id="variable_validation_rules" class="color-fg-subtle f6 ml-3">
        <ul>
          <li>Variable names may only contain alphanumeric characters ([a-z], [A-Z], [0-9]) or underscores (_).</li>
          <li>Variable names cannot start with a number.</li>
          <li>Variable names cannot start with <code>GITHUB_</code> prefix.</li>
        </ul>
      </div>
      <div data-target="variables-input.validationMessage" class="pt-2" hidden>
        <%= primer_octicon(:"alert-fill", color: :danger) %>
        <span data-target="variables-input.validationError" id="variable_validation_message" class="color-fg-danger"></span>
      </div>
      <div class="form-group">
        <div class="form-group-header">
          <label for="variable_value">Value</label>
          <span aria-hidden="true">*</span>
        </div>
        <div class="form-group-body">
          <textarea
            required
            type="text"
            name="variable_value"
            id="variable_value"
            class="form-control width-full"
            aria-invalid="<%= !GitHub::KredzClient::Varz.validate_value(params[:variable_value]).succeeded? %>"
            maxlength="<%= GitHub::KredzClient::Varz::VARIABLE_VALUE_MAX_SIZE %>"
          ></textarea>
        </div>
      </div>
      <div class="form-group">
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, data: { target: "variables-input.submitButton" }) do %>Add variable<% end %>
      </div>
    <% end %>
  </variables-input>
<% end %>
