<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "#{this_user} - Switch to per-seat", :selected_link => :stafftools_user_billing %>

<div class="Box Box--condensed">
  <div class="Box-header">
    <h3 class="Box-title">
      <%= render(Primer::Beta::Breadcrumbs.new) do |component| %>
        <% component.with_item(href: billing_stafftools_user_path(@per_seat_pricing_model.organization)) do %>Billing<% end %>
        <% component.with_item(href: stafftools_user_per_seat_pricing_model_path(@per_seat_pricing_model.organization)) do %>Switch to per-seat<% end %>
      <% end %>
    </h3>
  </div>
  <%= render(Primer::Beta::Flash.new(full: true, mb: 0)) do %>
    If you change a customer to per-seat, we will give them a prorated
    credit for their old plan, and immediately charge them the prorated
    amount for the new plan, if it costs more.
    If you change the customer’s billing frequency, then
    we will refund service left on their current plan, set today as their
    new billing date, and immediately charge the payment method on file.
  <% end %>
  <%= form_tag stafftools_user_per_seat_pricing_model_path(@per_seat_pricing_model.organization), :method => :put do %>
    <div class="Box-row d-flex">
      <div class="flex-1 mr-3">
        <%= text_field_tag "seats", this_user.default_seats,
          :label        => "seats",
          :id           => "seats",
          :class        => "shorter textfield js-total-seats-field",
          :type         => "text",
          :autocomplete => "off",
          :required     => "required",
          "data-url"    => stafftools_user_per_seat_pricing_model_path(this_user)
        %>
        <label for="seats" class="ml-1 unstyled-delta-seats-label text-normal">seats</label>
        <span class="color-fg-muted">
          @
          <span class="unstyled-human-base-price"><%= @per_seat_pricing_model.human_base_price %></span>
          +
          <span class="unstyled-human-unit-price"><%= @per_seat_pricing_model.human_unit_price %></span>
        </span>
      </div>
      <div class="flex-1 text-right unstyled-total-seats-price"><%= @per_seat_pricing_model.total_seats_price.format %></div>
    </div>
    <div class="Box-row d-flex">
      <div class="flex-1 mr-3">
        <span class="unstyled-data-packs-count"><%= this_user.data_packs %></span> data pack(s)
          @
          <span class="unstyled-data-packs-unit-price"><%= @per_seat_pricing_model.data_pack_change.human_data_pack_unit_price %></span>
          &ndash;
          <%= link_to "Change",
                      stafftools_user_edit_large_file_storage_path(this_user),
                      "data-pjax" => true %>
      </div>
      <div class="flex-1 text-right">
        <span class="unstyled-data-packs-price"><%= @per_seat_pricing_model.data_pack_change.renewal_price.format %></span>
      </div>
    </div>
    <div class="Box-row d-flex">
      <div class="flex-1 mr-3">
        Coupon:
          <code class="unstyled-coupon-name"><%= @per_seat_pricing_model.coupon %></code>
          <span class="unstyled-no-coupon"><% unless @per_seat_pricing_model.coupon %>None<% end %></span>
          <span class="unstyled-coupon-description">
            <% if @per_seat_pricing_model.coupon %>
            (<%= @per_seat_pricing_model.coupon.human_discount %> for <%= @per_seat_pricing_model.coupon.human_duration %>)
            <% end %>
          </span>
          &ndash;
          <%= link_to "Change", biztools_user_redemptions_path(this_user) %>
      </div>
      <div class="flex-1 text-right">
        <span class="unstyled-coupon-discount"><%= @per_seat_pricing_model.coupon_discount_for_duration.format(sign_before_symbol: true) %></span>
      </div>
    </div>
    <% if this_user.plan.free? %>
      <div class="Box-row Box-row--gray d-flex">
        <div class="flex-1 text-right mr-3">
          <strong>Total</strong>
        </div>
        <div class="flex-1 text-right">
          <strong class="unstyled-final-price-text"><%= @per_seat_pricing_model.final_price.format %></strong>
        </div>
      </div>
    <% else %>
      <div class="Box-row d-flex">
        <div class="flex-1 text-right mr-3">
          <strong><span class="unstyled-plan-duration-adjective"><%= @per_seat_pricing_model.plan_duration.capitalize %>ly</span> Renewal Price</strong>
        </div>
        <div class="flex-1 text-right">
          <strong class="unstyled-renewal-price"><%= @per_seat_pricing_model.renewal_price.format %></strong>
        </div>
      </div>
      <div class="Box-row js-altered-subscription <%= @per_seat_pricing_model.starting_new_subscription? ? "d-none" : "d-flex" %>">
        <div class="flex-1 text-right mr-3">
          Prorated for <%= pluralize @per_seat_pricing_model.new_subscription.service_days_remaining, "day" %>
        </div>
        <div class="flex-1 text-right unstyled-prorated-total-price"><%= @per_seat_pricing_model.price_for_rest_of_billing_cycle.format(:sign_before_symbol => true) %></div>
      </div>
      <div class="Box-row js-altered-subscription <%= @per_seat_pricing_model.starting_new_subscription? ? "d-none" : "d-flex" %>">
        <div class="flex-1 text-right mr-3">
          Credit for <%= pluralize @per_seat_pricing_model.old_subscription.service_days_remaining, "day" %> left on <%= this_user.plan.to_s.humanize %> plan
        </div>
        <div class="flex-1 text-right unstyled-refund-discount"><%= (-1 * @per_seat_pricing_model.price_of_remaining_service).format(:sign_before_symbol => true) %></div>
      </div>
      <div class="Box-row Box-row--gray js-altered-subscription <%= @per_seat_pricing_model.starting_new_subscription? ? "d-none" : "d-flex" %>">
        <div class="flex-1 text-right mr-3"><strong>Total Charge Today</strong></div>
        <div class="flex-1 text-right"><strong class="unstyled-final-price-text"><%= @per_seat_pricing_model.final_price.format %></strong></div>
      </div>
      <div class="Box-row js-replaced-subscription <%= @per_seat_pricing_model.starting_new_subscription? ? "d-none" : "d-flex" %>">
        <div class="flex-1 text-right mr-3">
          Refund for <%= pluralize @per_seat_pricing_model.old_subscription.service_days_remaining, "day" %> left on <%= this_user.plan.to_s.humanize %> plan
        </div>
        <div class="flex-1 text-right unstyled-refund-discount"><%= (-1 * @per_seat_pricing_model.price_of_remaining_service).format(:sign_before_symbol => true) %></div>
      </div>
      <div class="Box-row Box-row--gray js-replaced-subscription <%= @per_seat_pricing_model.starting_new_subscription? ? "d-none" : "d-flex" %>">
        <div class="flex-1 text-right mr-3"><strong>Total Charge Today</strong></div>
        <div class="flex-1 text-right"><strong class="unstyled-final-price-text"><%= @per_seat_pricing_model.final_price.format %></strong></div>
      </div>
    <% end %>
    <div class="Box-body border-top">
      <div class="form-group">
        <div class="form-group-header">
          <strong>Billing</strong>
        </div>
        <div class="form-group-body">
          <div class="radio-group">
            <%= radio_button_tag "duration", "year", @per_seat_pricing_model.yearly_plan?, :class => "radio-input js-plan-duration" %>
            <label for="duration_year" class="radio-label">Yearly</label>
            <%= radio_button_tag "duration", "month", @per_seat_pricing_model.monthly_plan?, :class => "radio-input js-plan-duration" %>
            <label for="duration_month" class="radio-label">Monthly</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-group-header"><strong>Charge to</strong></div>
        <div class="form-group-body">
          <% payment_method = this_user.payment_method %>
          <% if this_user.has_paypal_account? %>
            <strong>PayPal account</strong> (<%= payment_method.paypal_email %>)
          <% elsif this_user.has_credit_card? %>
            <%= primer_octicon(:"credit-card") %>
            <strong><%= payment_method.card_type %></strong> (<%= payment_method.formatted_number %>)
          <% else %>
            <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
            No payment method on file.
          <% end %>
        </div>
      </div>
    </div>
    <div class="Box-footer text-right">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, mr: 1) do %>Switch<% end %>
      <%= link_to "Cancel", billing_stafftools_user_path(this_user), :class => "btn", "data-pjax" => true %>
    </div>
  <% end %>
</div>
