<%
  page_info \
    title: "#{ this_user } / #{ codespace.name }",
    selected_link: :stafftools_user_codespaces
 %>

<div class="boxed-group">
  <h3>
    <%= this_user %> / <%= codespace.name %>
    <% if codespace.provisioning? || codespace.deprovisioning?%>
      <%= form_tag fail_environment_stafftools_user_codespace_path(codespace.owner, codespace), class: "float-right ml-2" do %>
        <%= render(Primer::Beta::Button.new(type: :submit, size: :small, test_selector: "fail-button", data: {confirm: "Are you sure you want to move this codespace to a failed state?"})) do |c| %>
          <% c.with_leading_visual_icon(icon: :stop) %>
          Fail
        <% end %>
      <% end %>
    <% end %>
  </h3>
  <div class="boxed-group-inner">
    <div class="summary">
      <dl>
        <dt>Repository</dt>
        <dd>
          <% if repository = codespace.repository %>
            <%= link_to repository.nwo, gh_stafftools_repository_path(repository) %>
          <% else %>
            <strong>Deleted</strong>
          <% end %>
        </dd>
        <dt>Display name</dt>
        <dd><%= codespace.display_name %></dd>
        <dt>State</dt>
        <dd><%= codespace.state %></dd>
        <dt>Ref</dt>
        <dd><%= codespace.ref %></dd>
        <dt>Pull request</dt>
        <dd>
          <% if pull =  codespace.pull_request %>
            <%= link_to "PR ##{pull.number}", gh_stafftools_repository_pull_request_path(pull) %>
          <% else %>
            n/a
          <% end %>
        </dd>
        <dt>Created</dt>
        <dd><%= timestamp codespace.created_at %></dd>
        <dt>Updated</dt>
        <dd><%= timestamp codespace.updated_at %></dd>
        <dt>Last used</dt>
        <dd><%= timestamp codespace.last_used_at %></dd>
        <dt>Shutdown At</dt>
        <dd><%= codespace.shutdown_at && timestamp(codespace.shutdown_at) %></dd>
        <dt>Retention Period</dt>
        <% if codespace.retention_period %>
          <% if codespace.retention_expires_at %>
            <dd><%= codespace.retention_period.inspect %> (expires <%= timestamp codespace.retention_expires_at %>)</dd>
          <% else %>
            <dd><%= codespace.retention_period.inspect %></dd>
          <% end %>
        <% else %>
          <dd>None</dd>
        <% end %>
        <% if codespace.deleted? %>
          <dt>Deleted at</dt>
          <dd><%= timestamp codespace.deleted_at %> (<%= codespace.deletion_reason.humanize %>)</dd>
        <% end %>
        <dt>Restore count</dt>
        <dd><%= codespace.restore_count %></dd>
        <dt>Last restored</dt>
        <% if codespace.restored_at %>
          <dd><%= timestamp codespace.restored_at %></dd>
        <% else %>
          <dd>N/A</dd>
        <% end %>
        <dt>Billed to</dt>
        <dd><%= codespace.billable_owner %></dd>
        <dt>Copilot Workspace ID</dt>
        <dd><%= codespace.copilot_workspace_id %></dd>
      </dl>
    </div>
  </div>
</div>

<%= render(Stafftools::Codespaces::PermissionTableComponent.new(codespace_id: codespace.id)) %>


<% env_data = codespace.environment_data %>
<div class="boxed-group mt-5">
  <h3>
    Visual Studio Environment
    <%= form_tag refresh_environment_data_stafftools_user_codespace_path(codespace.owner, codespace), class: "float-right ml-2" do %>
      <%= render(Primer::Beta::Button.new(type: :submit, size: :small)) do |c| %>
        <% c.with_leading_visual_icon(icon: :sync) %>
        Sync Environment Data
      <% end %>
    <% end %>
    <% if env_data&.suspended? %>
      <%= form_tag suspend_environment_stafftools_user_codespace_path(codespace.owner, codespace), class: "float-right" do %>
        <%= render(Primer::Beta::Button.new(type: :submit, size: :small)) { "Suspend" } %>
      <% end %>
    <% end %>
  </h3>
  <div class="boxed-group-inner">
    <div class="summary">
      <dl>
        <dt>Environment ID</dt>
        <dd><%= codespace.guid %></dd>
        <dt>Location</dt>
        <dd><%= codespace.location %></dd>
        <dt>Plan</dt>
        <dd>
          <%= codespace.plan&.name %>
        </dd>
        <% if env_data.present? %>
            <dt>Environment data (cached)</dt>
            <dd>
              <div class="markdown-body">
                <pre><code><%= JSON.pretty_generate(env_data.as_json) %></code></pre>
              </div>
            </dd>
        <% end %>
      </dl>
    </div>
  </div>
</div>
