<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# locals: (owner:, avatar_size: 200, input_id: nil) -%>

<dl>
  <dt><label class="d-block mb-2">Profile picture</label></dt>
  <dd class="avatar-upload-container clearfix position-relative">
    <%
       # load the primary avatar so we can build the unique avatar signature
       owner.primary_avatar
    -%>

    <% if action_name == "show" && !owner.is_a?(Business) %>
      <%= form_for owner, url: real_user_path(owner), method: :put,
        html: {
          id: "",
          novalidate: "novalidate",
          "aria-label": "Profile picture"
        } do |f| %>
        <%= file_attachment_tag(
            model: :avatars,
            input: "avatar_upload",
            class: "js-upload-avatar-image is-default",
            :"data-alambic-owner-id" => owner.id,
            :"data-alambic-owner-type" => owner.class.base_class.name) do %>
          <input type="file" id="avatar_upload" class="manual-file-chooser width-full ml-0" hidden>
          <%= render partial: "settings/avatar_error" %>
        <% end %>
      <% end %>

      <div class="avatar-upload">
        <details class="dropdown details-reset details-overlay" <%= test_selector("avatar-edit-button-rendered") %>>
          <summary>
            <%= avatar_for owner, avatar_size, class: "avatar rounded-2" %>
            <div class="position-absolute color-bg-default rounded-2 color-fg-default px-2 py-1 left-0 bottom-0 ml-2 mb-2 border">
              <%= render Primer::Beta::Octicon.new(icon: "pencil", size: :small) %>
              Edit
            </div>
          </summary>
          <details-menu class="dropdown-menu dropdown-menu-se" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <label for="avatar_upload" class="dropdown-item text-normal" style="cursor: pointer;" role="menuitem" tabindex="0">
              Upload a photo&hellip;
            </label>
            <% if owner.primary_avatar.present? %>
              <%= form_tag settings_primary_avatar_path, method: :delete do -%>
                <button
                  class="btn-link dropdown-item <%= "js-detect-gravatar" if GitHub.gravatar_enabled? %>"
                  type="submit"
                  name="op"
                  value="reset"
                  role="menuitem"
                  data-disable-with
                  data-confirm="Are you sure you want to reset your current avatar?"
                  data-gravatar-text="Revert to Gravatar"
                  data-url="<%= settings_gravatar_status_path %>">
                  Remove photo
                </button>
              <% end -%>
            <% end %>
          </details-menu>
        </details>

        <div class="upload-state loading position-absolute color-bg-subtle rounded-2" style="top: 0; right: 0; opacity: 0.25; width: 200px; height: 200px;">
          <span class="position-absolute" style="top: 40px; left: 35px;"><%= render(Primer::Beta::Spinner.new(size: :large)) %></span>
        </div>
      </div>
    <% else %>
      <%= avatar_for owner, avatar_size, class: "avatar rounded-2" %>

      <div class="avatar-upload" <%= test_selector("avatar-upload-new-picture-button") %>>
        <label class="position-relative btn button-change-avatar mt-3">
          Upload new picture
          <input
            type="file"
            <% if input_id %>id="<%= input_id %>"<% end %>
            class="manual-file-chooser width-full height-full ml-0 left-0 top-0 position-absolute">
        </label>

        <div class="upload-state loading">
          <%= render Primer::ButtonComponent.new(mt: 3, disabled: true) do %>
            <%= render(Primer::Beta::Spinner.new(size: :small, vertical_align: :text_bottom)) %> Uploading...
          <% end %>
        </div>
      </div> <!-- /.avatar-upload -->
      <br>
      <% if !owner.is_a?(Business) && GitHub.marketplace_enabled? %>
        <p class="f6 color-fg-muted" <%= test_selector("avator-marketplace-notice") %>>
          Note: To apply for a publisher verification your organization's profile
          picture should not be irrelevant, abusive or vulgar. It should not be a
          default image provided by GitHub.
        </p>
      <% end %>
      <%= render partial: "settings/avatar_error"%>
    <% end %>
  </dd>
</dl>
