<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% unless GitHub.enterprise? %>
  <%= render Primer::Beta::Subhead.new(spacious: true, hide_border: true) do |component| %>
    <% component.with_heading(tag: :h2) do %>GitHub Developer Program<% end %>
  <% end %>

  <div id="github-developer-program" class="Box Box-body clearfix">
    <% if current_context.developer_program_member? %>
      <p class="mb-4">
        <%= render(Primer::Beta::Link.new(
          href: docs_url("get-started/about-building-integrations"),
          classes: "Link--inTextBlock"
        )) { "GitHub Docs" } %>
        has guides, API and webhook references, information about creating GitHub Apps and other resources for building applications that integrate with GitHub.
        Make sure your contact information is up-to-date below. Thanks for being a member!
      </p>

      <%= form_for :developer, :url => developer_program_membership_path, :html => { :method => :put } do |f| %>

        <%= hidden_field_tag :account, current_context %>

        <%= render :partial => "developer_program_membership/form", :object => f,
          :locals => { :membership => current_context.developer_program_membership, :auto_focus => nil } %>

          <%= f.submit "Update contact information", :class => "btn float-left" %>

      <% end %>

      <%= form_tag developer_program_membership_path(:account => current_context), :method => :delete do %>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, float: :right) do %>Leave the program<% end %>
      <% end %>
    <% else %>
      <p class="mb-0">
        Building an application, service, or tool that integrates with GitHub?
        <%= render(Primer::Beta::Link.new(
          href: register_developer_program_path(:account => current_context),
          classes: "Link--inTextBlock"
        )) { "Join the GitHub Developer Program" } %>,
        or read more about it at our
        <%= render(Primer::Beta::Link.new(
          href: docs_url("get-started/github-developer-program"),
          classes: "Link--inTextBlock"
        )) { "GitHub developer program" } %>.
      </p>
    <% end %>
  </div>
<% end %>
