<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  locals = ensure_local_vars(local_assigns, {
    required: [:current_context],
    optional: [:hide_profile_link, :hide_context_switcher],
    defaults: {},
    view: "settings/header"
    })
%>

<header class="d-md-flex flex-items-center flex-justify-between mt-1 mb-4" aria-labelledby="settings-header">
  <div class="d-flex flex-items-center mb-2 mb-md-0">
    <%= render(GitHub::AvatarComponent.new(actor: locals[:current_context], size: 48, mr: 3)) %>
    <div class="flex-auto">
      <h1 id="settings-header" class="h3 lh-condensed">
        <a href="<%= settings_account_path(current_context) %>" class="color-fg-default">
          <%= locals[:current_context].safe_profile_name %>
          <% if locals[:current_context].user? %>
            <span class="color-fg-muted">(<%= locals[:current_context].display_login %>)</span>
          <% end %>
        </a>
        <span class="sr-only">settings</span>
      </h1>
      <div class="d-flex flex-items-center flex-wrap color-fg-accent" data-turbo-replace>
        <p class="color-fg-muted mb-0 mr-1">
          <%= settings_account_label(current_context) %>
          <% if belongs_to_business?(current_context) %>
          <a href="<%= settings_account_path(current_context.business) %>" aria-label="Enterprise account">
            <%= render(Primer::Truncate.new(max_width: 110, expandable: true, color: :inherit, mr: 1)) { parent_business_name(current_context) } %>
          </a>
          <% end %>
        </p>
        <% unless locals[:hide_context_switcher]%>
          <%= render partial: "settings/header_context_switcher", locals: {
            current_context: locals[:current_context]
          } %>
        <% end %>
      </div>
    </div>
  </div>
  <% unless locals[:hide_profile_link] %>
    <a href="<%= settings_account_path(current_context) %>" class="btn btn-sm">
      Go to your <%= settings_account_type(current_context) %> profile
    </a>
  <% end %>
</header>
