<%
  locals = ensure_local_vars(local_assigns, {
    required: [:current_context],
    optional: [],
    defaults: {},
    view: "settings/header_context_switcher"
  })
  available_contexts = available_contexts(current_context: locals[:current_context])
  include_filter = available_contexts.size > SettingsHelper::CONTEXT_DROPDOWN_MIN
  account_type = current_context.organization? ? "organization" : "personal"
%>

<% if available_contexts.any? %>
  <details class="dropdown details-overlay details-reset" <%= test_selector("settings-context-dropdown")%>>
    <summary
      <%= test_selector("settings-context-header")%>
      <%= settings_context_dropdown_attributes(
        event_context: current_context.organization? ? :ORG_SETTINGS : :USER_SETTINGS,
        target: :DROPDOWN)
      %>
      class="f6 color-fg-accent"
      aria-haspopup="true"
    >
      <%= primer_octicon(:"arrow-switch", mr: 1) %> Switch settings context
      <div class="dropdown-caret"></div>

    </summary>

    <details-menu
      class="SelectMenu <% if include_filter %>SelectMenu--hasFilter<% end %>"
      aria-labelledby="context-switch-title-<%= locals[:current_context] %>"
    ><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>

      <div class="SelectMenu-modal">
        <header class="SelectMenu-header d-none">
          <span class="SelectMenu-title" id="context-switch-title-<%= locals[:current_context] %>">Switch settings context</span>
        </header>

        <include-fragment src="<%= settings_available_contexts_path(
          context_type: current_context.organization? ? "org" : "user",
          id: current_context.display_login
        ) %>" >
          <%= render(Primer::Beta::Spinner.new(
            "aria-label": "Loading...",
            size: :small,
            my: 12,
            mx: :auto,
            display: :block,
            test_selector: "settings-context-dropdown-context-spinner"
          )) %>
        </include-fragment>
      </div>
    </details-menu>
  </details>
<% end %>
