<%
  locals = ensure_local_vars(local_assigns, {
    required: [:current_context, :available_contexts],
    optional: [],
    defaults: {},
    view: "settings/list_partial"
    })
  include_filter = available_contexts.size > SettingsHelper::CONTEXT_DROPDOWN_MIN
  available_contexts = locals[:available_contexts]
%>
<fuzzy-list class="d-flex flex-column flex-1" style="min-height: 0"  min-score="-1">
  <% if include_filter %>
    <div class="SelectMenu-filter" <%= test_selector("settings-context-filter")%>>
      <input
        type="text"
        id="context-context-filter-field-<%= locals[:current_context] %>"
        class="SelectMenu-input form-control"
        placeholder="Filter organizations"
        aria-label="Choose an account"
        autofocus
      >
    </div>
  <% end %>

  <ul role="menu" class="SelectMenu-list SelectMenu-list--borderless">
    <% available_contexts.each do |context, context_permission| %>
      <%
        link = switch_context_link(
          current_context: locals[:current_context],
          target_context: context,
          permission: context_permission)
        display_name = target_context_display_name(context)
        context_type = tracking_target_type(context)
      %>
      <li role="presentation" <%= test_selector("settings-context-dropdown-context")%>>
        <a
          role="menuitem"
          class="SelectMenu-item d-flex flex-items-center"
          href="<%= link %>"
          <%= test_selector("settings-context-dropdown-link-#{context_type}")%>
          <%= settings_context_dropdown_attributes(
            event_context: current_context.organization? ? :ORG_SETTINGS : :USER_SETTINGS,
            target: context_type,
            target_name: display_name,
            target_id: context.id,
            target_link: link)
          %>
        >
          <div><%= render(GitHub::AvatarComponent.new(actor: context, mr: 2)) %></div>
          <span class="css-truncate css-truncate-overflow">
            <%= display_name %>
          </span>
        </a>
      </li>
    <% end %>
  </ul>
</fuzzy-list >
