<%= stylesheet_bundle "site" %>

<% page_info title: "OAuth application settings", class: 'page-account' %>

<div class="border-bottom">
  <div class="container-lg px-3">
    <div class="gutter clearfix">
      <div class="col-12 float-left">
        <%= render(Primer::Beta::Breadcrumbs.new(my: 3)) do |component| %>
          <% if current_context.is_a?(Organization) %>
            <% component.with_item(href: settings_org_profile_path(current_context)) do %><%= current_context.display_login %> settings<% end %>
            <% component.with_item(href: settings_org_applications_path(current_context)) do %>OAuth Apps<% end %>
          <% else %>
            <% component.with_item(href: settings_user_profile_path) do %>Settings<% end %>
            <% component.with_item(href: settings_user_developer_applications_path) do %>Developer settings<% end %>
          <% end %>
          <% component.with_item(href: request.path) do %><%= current_application.name %><% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="pt-4 container-lg p-responsive d-flex flex-md-row flex-column px-md-0 px-3 clearfix">
  <%= render "navigation/oauth_application", view: create_view_model(Settings::NavigationView) %>
  <div class="col-md-9 col-12">
    <%= yield %>
  </div>
</div>
