<% page_info breadcrumb_object: current_user, breadcrumb: "Settings" %>

<%# rubocop:disable GitHub/ContentFor %>
<% content_for :site_banner do %>
  <%= render Billing::SalesTaxBannerComponent.new(account: current_user, current_user: current_user) %>
<% end %>

<div class="pt-4 container-xl p-responsive clearfix" data-hpc>
  <% hide_context_switcher = local_assigns[:hide_context_switcher] || false %>
  <%= render partial: "settings/header", locals: {
    current_context: current_user,
    hide_context_switcher: hide_context_switcher
  } %>

  <% if !local_assigns[:hide_sidebar] %>
    <%= render Primer::Alpha::Layout.new do |c| %>
      <% c.with_sidebar do %>
        <navigation-list data-turbo-frame="settings-frame">
          <%= render "navigation/settings", view: create_view_model(Settings::NavigationView) %>
        </navigation-list>
      <% end %>
      <% c.with_main(width: :xl) do %>
        <turbo-frame id="settings-frame" data-turbo-action="advance">
          <%= yield %>
        </turbo-frame>
      <% end %>
    <% end %>
  <% else %>
    <turbo-frame id="settings-frame" data-turbo-action="advance">
      <%= yield %>
    </turbo-frame>
  <% end %>
</div>
