<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% page_info :title => "Enable two-factor authentication" %>

<div class="text-center mx-auto m-2" style="width: 630px">
  <div class="d-flex flex-items-center">
    <h2 class="f2 text-normal flex-auto">Two-factor authentication (2FA)</h2>
  </div>
  <div class="d-flex mb-5 flex-items-center">
    <h2 class="f2 text-normal flex-auto"> is required for your <%= GitHub.flavor %> account</h2>
  </div>

  <div class="auth-form-body mb-4" style="padding: 30px">

    <div class="d-flex flex-column flex-auto mb-4">
      <div class="d-flex flex-justify-center mb-2">
        <%= avatar_for(current_user, 50, img_class: "avatar") %>
      </div>
      <div class="text-center">
        <h3 class="color-fg-default lh-condensed"><%= current_user.safe_profile_name %></h3>
        <h4 class="color-fg-muted lh-condensed text-normal"><%= current_user.display_login %></h4>
      </div>
    </div>

    <%= render Primer::Beta::Flash.new(scheme: :default, full: true, mb: 4) do %>
      <%= primer_octicon(:info, float: :left, vertical_align: :top, mt: 1, mb: 4) %>
      <div class="text-left">
        <b>This will only take a minute.</b>
      </div>
      <div class="text-left">
        Enable 2FA now. You'll be able to continue on with your work right after.
      </div>
    <% end %>

    <p class="mb-4 text-left">Two-factor authentication adds an
      <a class="Link--primary text-underline" href="<%= docs_url "authentication/about-two-factor" %>">additional layer of account security</a>.
      It is a proven method of keeping you safe from hackers and account takeover, even if your password is stolen or compromised.
    </p>

    <div class="d-flex flex-justify-center">
      <%= form_tag interrupt_settings_account_two_factor_requirements_path, method: :post do %>
        <%= hidden_field_tag "return_to", return_to %>
        <%= render(Primer::ButtonComponent.new(type: :submit, name: "type", value: "setup", block: :true, scheme: :primary, style: "width: 200px; height: 40px")) { "Enable 2FA now" } %>
      <% end %>
    </div>
  </div>

  <% if bypassable %>
    <div class="text-left mb-3">
      <p class="f4 text-normal">You have <b><%= days_remaining %> day<%= days_remaining > 1 ? "s": "" %></b> left to enable 2FA. Take action now to avoid additional interruptions.</p>
    </div>
    <%= form_tag interrupt_settings_account_two_factor_requirements_path, method: :post do %>
      <%= hidden_field_tag "return_to", return_to %>
      <%= render(Primer::ButtonComponent.new(type: :submit, name: "type", value: "bypass", block: :true, style: "height: 40px")) { "Remind me tomorrow" } %>
    <% end %>
  <% else %>
    <div class="text-left mb-3">
      <p class="f4 text-normal">You may no longer delay this requirement. Please enable two-factor authentication to continue.</p>
    </div>
  <% end %>
</div>
