<% page_info responsive: false, title: "Requests from members", selected_link: :member_feature_requests %>

<%= render layout: "orgs/settings/layout" do %>

  <% unless total_by_feature.empty? %>
    <% currently_on_free_plan = this_organization.plan.free? %>
    <% upgrade_to_plan = currently_on_free_plan && !enterprise_only ? GitHub::Plan.business : GitHub::Plan.business_plus %>
    <% upgrade_to_plan_label = upgrade_to_plan.display_name.capitalize %>
    <% eligible_for_enterprise_trial = upgrade_to_plan == GitHub::Plan.business_plus && this_organization.eligible_for_org_enterprise_cloud_trial? %>
    <%= render Primer::Beta::Subhead.new(display: :flex) do |component| %>
      <% component.with_heading(tag: :h2, test_selector: "team-features-member-requests", display: :flex) do %>
        Member requests for GitHub <%= upgrade_to_plan_label %>
        <div class="d-flex" style="margin-left: auto;">
          <%= render(Organizations::MemberRequests::WatchButtonComponent.new(user: current_user, organization: this_organization)) %>
        </div>
      <% end %>
    <% end %>
    <p class="color-fg-muted">
      Discover your organization’s specific needs and uncover your users’ ideal workflows to enhance productivity and collaboration.
    </p>
    <%= render(Primer::Beta::BorderBox.new(padding: :spacious, mt: 4, mb: 3)) do |box| %>
      <% box.with_row(border: :top, classes: "member-requests-hero-bg", data: { "color-mode": active_color_mode.name }) do %>
        <div class="d-flex flex-row position-relative">
          <div class="col-12 col-md-8 mx-auto mx-md-0 ">
            <%= render(Primer::Beta::Heading.new(tag: :h2, test_selector: "enterprise-team-feature-title", classes: "unlock-feature-banner lh-condensed")) do %>
              <span class="color-fg-done">Unlock</span> <%= upgrade_to_plan_label %> Features
            <% end %>
            <p class="color-fg-muted">
              <%= this_organization.name %> is on the <span class="text-bold"><%= this_organization.plan.display_name.capitalize %> organization plan</span>
            </p>

            <% if eligible_for_enterprise_trial %>
              <% test_selector = "requests-from-members-try-enterprise-cta" %>
              <% cta_link = enterprise_trial_signup_path(this_organization) %>
              <% data_attributes = analytics_click_attributes(
                  category: "requests_from_members_page",
                  action: "click_to_select_trial_enterprise_plan",
                  label: "ref_cta:try_enterprise_for_free; ref_loc:requests_from_members_unlock_banner") %>
              <% cta_label = "Try #{upgrade_to_plan_label} for free" %>
            <% else %>
              <% test_selector = "requests-from-members-upgrade-cta" %>
              <% cta_link = upgrade_path(plan: upgrade_to_plan, target: "organization", org: this_organization) %>
              <% data_attributes = analytics_click_attributes(
                  category: "requests_from_members_page",
                  action: "click_to_upgrade_#{this_organization.plan.display_name}_to_#{upgrade_to_plan.display_name}",
                  label: "ref_cta:upgrade_to_#{upgrade_to_plan.display_name}; ref_loc:requests_from_members_unlock_banner") %>
              <% cta_label = "Upgrade to #{upgrade_to_plan_label}" %>
            <% end %>
            <div class="d-flex flex-row">
              <%= render(Primer::Beta::Button.new(
                test_selector: test_selector,
                tag: :a,
                href: cta_link,
                mr: 2,
                scheme: :primary,
                data: data_attributes
              )) { cta_label } %>
              <%= render(Primer::Beta::Button.new(
                test_selector: "requests-from-members-watch-customer-story-cta",
                tag: :a,
                href: 'https://www.youtube.com/watch?v=z8Tqq6AltMo',
                target: :_blank,
                rel: "noopener noreferrer",
                data: analytics_click_attributes(
                  category: "requests_from_members_page",
                  action: "click_to_watch_customer_story_video",
                  label: "ref_cta:watch_customer_story; ref_loc:requests_from_members_unlock_banner")
              )) do %>
                <%= primer_octicon(:"link-external") %> Watch customer story
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% total_by_feature.each do |feature, total| %>
        <% box.with_row(id: feature.to_s) do %>
          <div class="d-flex flex-column flex-md-row">
            <div class="d-flex flex-items-start mr-3">
              <span class="d-flex flex-row circle p-2 color-bg-subtle">
                <%= render Primer::Beta::Octicon.new(icon: feature.icon, color: :muted) %>
              </span>
            </div>
            <div class="d-flex flex-column col-12 col-md-8">
              <div class="d-flex flex-row flex-items-center">
                <span class="h4 mr-2"><%= feature.name %></span>
              </div>
              <p class="color-fg-muted mb-0">
                <%= feature.description %>
                <%= render(Primer::Beta::Link.new(
                  test_selector: "requests-from-members-view-docs-#{feature.to_s.dasherize}-cta",
                  href: feature.docs_url,
                  classes: "Link--inTextBlock",
                  data: analytics_click_attributes(
                    category: "requests_from_members_page",
                    action: "click_to_view_docs_#{feature}",
                    label: "ref_cta:view_docs; ref_loc:requests_from_members_page_#{upgrade_to_plan.display_name}_features"
                ))) { "View docs" } %>
              </p>
            </div>
            <div class="d-flex flex-md-justify-end flex-items-baseline col-md-4">
              <span class="h3 mr-2" <%= test_selector("total-feature-#{feature}-total") %>><%= total %></span>
              <span class="color-fg-muted"><%= "request".pluralize(total) %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% unless total_by_addons.empty? %>
    <%= render Primer::Beta::Subhead.new(display: :flex) do |component| %>
      <% component.with_heading(tag: :h2, test_selector: "business-addons-heading", display: :flex) do %>
        Member requests for GitHub Add-Ons
        <% if total_by_feature.empty? %>
          <div class="d-flex" style="margin-left: auto;">
            <%= render(Organizations::MemberRequests::WatchButtonComponent.new(user: current_user, organization: this_organization)) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <%= render(Primer::Beta::BorderBox.new(padding: :spacious, mt: 4)) do |box| %>
      <% total_by_addons.each do |addon, total| %>
        <% box.with_row(id: addon.to_s) do %>
          <div class="d-flex flex-column flex-md-row">
            <div class="d-flex flex-items-start mr-3">
              <span class="d-flex flex-row circle p-2 color-bg-subtle">
                <%= render Primer::Beta::Octicon.new(icon: addon.icon, color: :muted) %>
              </span>
            </div>
            <div class="d-flex flex-column col-12 col-md-8">
              <div class="d-flex flex-row flex-items-center">
                <span class="h4 mr-2"><%= addon.name %></span>
                <% if !user_seen_copilot_for_business_section?(this_organization) %>
                  <% user_seen_copilot_for_business_section!(this_organization) %>
                  <%= render(Primer::Beta::Label.new(scheme: :accent)) { "New" } %>
                <% end %>
              </div>
              <p class="color-fg-muted">
                <%= addon.description %>
                <%= render(Primer::Beta::Link.new(
                  href: addon.docs_url,
                  classes: "Link--inTextBlock",
                  data: analytics_click_attributes(
                    category: "requests_from_members_page",
                    action: "click_to_view_docs_#{addon}",
                    label: "ref_cta:view_docs; ref_loc:requests_from_members_business_add_on"
                  )
                )) { "View docs" } %>
              </p>
              <%= render(Organizations::MemberRequests::AddonActionsComponent.new(feature: addon, organization: this_organization, user: current_user)) %>
            </div>
            <div class="d-flex flex-md-justify-end flex-items-baseline col-md-4">
              <span class="h3 mr-2" <%= test_selector("total-addon-#{addon}") %>><%= total %></span>
              <span class="color-fg-muted"><%= "request".pluralize(total) %></span>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
