<% content_for :header do %>
  You’ve been added as <%= @role_for_email %> of the <%= @business.name %> enterprise
<% end %>

<div class="org-content-header">
  <%= avatar_for @business, 60, class: "avatar" %>
</div>
<h1 class="primary-heading">
  <strong><%= @business.name %></strong>
</h1>

<p style="text-align:center;">
  Hi <strong><%= @user.safe_profile_name %></strong>!
</p>

<p style="text-align:center;">
  You’ve been added as <%= @role_for_email %> of the <%= @business.name %> enterprise on GitHub.
  Set your password to begin configuring your enterprise account.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Set your password",
      url: @password_reset_link,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>
  <p style="text-align:center;">
    This link will expire in <%= pluralize(@expires, "day") %>.
  </p>
  <% if GitHub.flipper[:resend_initial_first_emu_admin_password_reset].enabled? %>
    <p style="text-align:center;">
      If the link has expired, <%= link_to "click here to generate a new password reset link", "#{@password_reset_url}" %>.
    </p>
  <% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  Once your password is set, you can return to
  <%= link_to "#{@enterprise_url}", "#{@enterprise_url}" %>
  to configure your enterprise account
  <% if @business.seats_plan_basic? %>
    any time using the instructions in
    <%= link_to \
      "this documentation",
      "#{GitHub.help_url}/early-access/copilot/managing-copilot-business-licenses-with-an-enterprise-account" %>.
  <% else %>
    any time.
  <% end %>
</p>

<% content_for :footer_text do %>
  You're receiving this email because you have been invited as the <%= @role_for_email %> of an enterprise account on GitHub.
<% end %>
