<%
  page_info \
    :title => "Pull Request ##{this_issue.number} review comments",
    :selected_link => :issues
%>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Pull Requests",
            gh_stafftools_repository_issues_path(current_repository) %>
      /
      <%= link_to \
            "Pull Request ##{this_issue.number}",
            gh_stafftools_repository_issue_path(this_issue) %>
      / Review Comments
    </h2>
  </div>

  <table class="site-admin-table">
    <% review_comments.each do |comment| %>
      <tr>
        <td class="tiny">
          #<%= comment.id %>
        </td>
        <td>
          <%= link_to gh_stafftools_repository_pull_request_review_comment_path(comment) do %>
            Comment by <%= comment.user.login %>
            <% if current_repository.public? && comment.user.spammy? %>
              <small>(spammy)</small>
            <% end %>
          <% end %>
        </td>
        <td class="float-right">
          <%= comment.created_at %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate review_comments %>
  </div>
</div>
