<%
  page_info \
    :title => "Pull Request ##{this_pull.number} comment ##{this_comment.id}",
    :selected_link => :issues
%>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Pull Requests",
            gh_stafftools_repository_issues_path(current_repository) %>
      /
      <%= link_to \
            "Pull Request ##{this_pull.number}",
            gh_stafftools_repository_issue_path(this_issue) %>
      /
      <%= link_to \
            "Review Comments",
            gh_stafftools_repository_pull_request_review_comments_path(this_pull) %>
      / Comment #<%= this_comment.id %>
    </h2>
  </div>

  <div class="site-admin-table">
    <table>
      <tr>
        <th>
          Created
        </th>
        <td>
          <%= this_comment.created_at %>
        </td>
      </tr>
      <tr>
        <th>
          Commenter
        </th>
        <td>
          <%= link_to this_comment.user, stafftools_user_path(this_comment.user) %>
        </td>
      </tr>
      <tr>
        <th>
          Discussion
        </th>
        <td>
          <%= link_to "View comment", this_comment.async_path_uri.sync.to_s %>
        </td>
      </tr>
    </table>

    <%= link_to \
          "View database record",
          gh_database_stafftools_repository_pull_request_review_comment_path(this_comment),
          :class => "more" %>
  </div>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Moderate
    </h2>
  </div>

  <%= render \
      partial: "stafftools/comments/moderate",
      locals: {comment: this_comment}
  %>
</div>
