<%# required locals: external_group %>
<% octicon ||= nil %>

<% external_group_link = external_group_members_enterprise_path(id: external_group.id) %>
<% external_group_team_count = external_group.external_group_teams.count %>

<% teams_text = capture do %>
  <div class="d-flex">
    <%= pluralize external_group_team_count, "team" %>
  </div>
<% end %>
<% members_text = capture do %>
  <div class="d-flex">
    <%= pluralize external_group.members.count, "member" %>
  </div>
<% end %>

<li class="d-flex flex-row border border-top-0 p-3 table-list-item member-list-item js-bulk-actions-item" data-bulk-actions-id="<%= external_group.display_name %>">
  <div class="d-flex flex-justify-between flex-items-center" style="width: 70%">
    <div class="pr-0 d-flex flex-items-center" style="width: 100%">
      <% if octicon%>
        <% if external_group_link %>
          <%= link_to external_group_link, class: "color-fg-muted mr-2 pl-3 hide-sm", "aria-label": "#{external_group.display_name}" do %>
            <%= render Primer::Beta::Octicon.new(icon: octicon, height: 32) %>
          <% end %>
        <% else %>
          <span class="pl-3 hide-sm">
            <%= render Primer::Beta::Octicon.new(icon: octicon, height: 32) %>
          </span>
        <% end %>
      <% end %>

      <div class="d-inline-block text-bold pl-3 f4" style="max-width: 75%; min-width: 75%" <%= test_selector("external_group_#{external_group.id}") %>>
        <% if external_group_link %>
          <%= link_to external_group_link, class: "text-bold" do %>
            <span class="text-bold"><%= external_group.display_name %></span>
          <% end %>
        <% else %>
          <span class="text-bold"><%= external_group.display_name %></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="d-flex flex-justify-between flex-items-center" style="width: 30%">
    <div class="d-flex flex-justify-between flex-items-center flex-1">
      <div class="text-left v-align-middle f5">
        <%= teams_text %>
        <% if external_group_team_count > 0 %>
          <div class="text-left v-align-middle f5 color-fg-muted" <%= test_selector("external-groups-sync-status") %>>
            <% if external_group.group_and_team_memberships_match? %>
              <%= render(Primer::Beta::Octicon.new(icon: "check", color: :success, test_selector: "external-groups-sync-status-synced")) %>
              Synced
            <% else %>
              <% view = Businesses::ExternalGroupsView.new(business: this_business)%>
              <%= link_to external_group_teams_enterprise_path(id: external_group.id, query: view.apply_query_filters(sync_status: BusinessesHelper::EXTERNAL_GROUP_SYNC_STATUS["NOT_SYNCED"]) ) do %>
                <%= render(Primer::Beta::Octicon.new(icon: "x", color: :danger, test_selector: "external-groups-sync-status-not-synced")) %>
                Not synced
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="d-flex flex-justify-end flex-items-center flex-1">
      <div class="text-left v-align-middle f5">
        <%= members_text %>
      </div>
    </div>
  </div>
</li>
