<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% view = Businesses::QueryView.new(query: query) %>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to external_group_teams_enterprise_path(id: external_group.id), class: "issues-reset-query" do %>
      <%= render Primer::Beta::Octicon.new(icon: "x") %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex table-list-header table-list-header-next">
  <span class="d-none d-md-block d-lg-block table-list-heading table-list-header-meta flex-auto ">
    <%= number_with_delimiter teams.count %>
    <%= pluralize_without_number teams.count, "team" %>
    in <%= external_group.display_name %>
  </span>
</div>

<% if teams.any? %>
  <ul class="team-listing">
    <% teams.each do |team| %>
      <%= render Businesses::ExternalGroups::ExternalGroupTeamComponent.new(
        external_group_team: team.external_group_team,
        team: team,
        business: this_business
      ) %>
    <% end %>
  </ul>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate(teams) %>
  </div>
<% else %>
  <%= render Primer::BlankslateComponent.new(
    icon: "people",
    title: "No teams",
    description: "There aren’t any linked teams in this external group" + (view.original_query.present? ? " matching '#{view.original_query}'" : "") + ".",
  ) %>
<% end %>
