<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% sort_order = params[:sort_by] %>
<% view = Businesses::ExternalGroupsView.new(business: this_business, query: query) %>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to external_groups_enterprise_path(this_business.slug), class: "issues-reset-query" do %>
      <%= render Primer::Beta::Octicon.new(icon: "x") %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex table-list-header table-list-header-next">
  <span class="table-list-heading table-list-header-meta flex-auto">
    <%= number_with_delimiter external_groups.count %>
    <%= pluralize_without_number external_groups.count, "IdP group" %>
    in <%= this_business.name %>
  </span>

  <div class="table-list-header-toggle pl-0 d-flex flex-items-center">
    <%= render Primer::Alpha::ActionMenu.new(select_variant: :single, test_selector: "sort-button", hide: :sm) do |menu| %>
      <% menu.with_show_button(border: false, box_shadow: :none) do |button| %>
        <% button.with_trailing_action_icon(icon: :"triangle-down") %>
        <% "Sort" %>
      <% end %>
      <% menu.with_item(
        tag: :a,
        href: external_groups_enterprise_path(this_business.slug, query: query, sort_by: "asc"),
        active: sort_order == "asc" || !sort_order.present?
      ) do %>
        <div class="select-menu-item-text">A-Z Groups</div>
      <% end %>
      <% menu.with_item(
        tag: :a,
        href: external_groups_enterprise_path(this_business.slug, query: query, sort_by: "desc"),
        active: sort_order == "desc"
      ) do %>
        <div class="select-menu-item-text">Z-A Groups</div>
      <% end %>
    <% end %>
  </div>
</div>

<% if external_groups.any? %>
  <ul>
    <% external_groups.each do |external_group| %>
      <%= render layout: "businesses/external_groups/external_group", locals: {
        external_group: external_group,
        octicon: "people"
      } do %>
      <% end %>
    <% end %>
  </ul>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate(external_groups) %>
  </div>
<% else %>
  <%= render Primer::BlankslateComponent.new(
    icon: "people",
    title: "No external groups",
    description: "There aren’t any external groups in this enterprise" + (view.original_query.present? ? " matching '#{view.original_query}'" : "") + ".",
  ) %>
<% end %>
