<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% view = Businesses::PeopleView.new(business: this_business, query: query) %>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to external_group_members_enterprise_path(id: external_group.id), class: "issues-reset-query" do %>
      <%= render Primer::Beta::Octicon.new(icon: "x") %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex table-list-header table-list-header-next">
  <span class="d-none d-md-block d-lg-block table-list-heading table-list-header-meta flex-auto ">
    <%= number_with_delimiter members.count %>
    <%= pluralize_without_number members.count, "member" %>
    in <%= external_group.display_name %>
  </span>
</div>

<% if members.any? %>
  <ul>
    <% members.each do |member| %>
      <% if member.suspended? %>
        <% member_organizations = capture do %>
          <div class="color-fg-muted d-flex">
            Suspended
          </div>
        <% end %>
      <% else %>
        <% member_organizations = capture do %>
          <div class="color-fg-muted d-flex">
            <%= view.membership_count_label(this_business.enterprise_organizations_for(member: member, viewer: current_user).count, 0) %>
          </div>
        <% end %>
      <% end %>

      <%= render Businesses::UserListCardComponent.new(
        user: member,
        # If user is provided as nil show a "person" octicon as the server-only
        # EnterpriseUserAccount avatar.
        octicon: "person",
        user_link: view.member_link(member),
        user_link_data_options: view.organization_member_link_data_options(member),
        primary_name: member.profile_name.present? ? member.profile_name : member.display_login,
        secondary_name: member.profile_name.present? ? member.display_login : nil,
        subtitle: member_organizations,
        display_login: member.display_login
      ) do %>
      <% end %>
    <% end %>
  </ul>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate(members) %>
  </div>
<% else %>
  <%= render Primer::BlankslateComponent.new(
    icon: "people",
    title: "No members",
    description: "There aren’t any members in this external group" + (view.original_query.present? ? " matching '#{view.original_query}'" : "") + ".",
  ) %>
<% end %>
