<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "External groups · #{this_business.name}",
   stafftools: stafftools_enterprise_path(this_business),
   selected_link: :business_external_groups %>

<% view = Businesses::ExternalGroupsView.new(business: this_business, query: query) %>
<% outer_div_class = "d-flex flex-auto flex-wrap flex-items-start" %>
<% inner_div_class = "mb-1 mr-3 col-4 flex-auto auto-search-group" %>
<% header_description = "IdP groups are managed by your identity provider and can be linked with teams in your enterprise. Your identity provider updates GitHub with group membership information. GitHub synchronizes group members with the linked GitHub teams. To edit these groups and their memberships, contact the administrator of your identity provider." %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Identity Provider (IdP) groups",
    header_description: header_description
  } do %>

    <% if external_groups.any? { |eg| !eg.group_and_team_memberships_match? } %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 4, test_selector: "external-groups-out-of-sync-banner")) do %>
        Some groups are failing to synchronize to teams. Check that you have available licenses.
        <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/troubleshooting-team-membership-with-identity-provider-groups", classes: "Link--inTextBlock")) { "Learn more" } %>
        about troubleshooting synchronization failures.
      <% end %>
    <% end %>

    <div class="<%= outer_div_class %>">
      <div class="<%= inner_div_class %>%">
        <%= form_tag external_groups_enterprise_path(this_business.slug),
                     method: :get,
                     "data-autosearch-results-container": "business-external-groups-list" do %>
          <div class="auto-search-group">
            <input class="form-control width-full input-contrast auto-search-input js-member-filter-field"
                   type="text"
                   name="query"
                   value="<%= query %>"
                   placeholder="Find a group…"
                   aria-label="Find a group…"
                   autocomplete="off"
                   data-throttled-autosubmit>
            <%= render Primer::Beta::Octicon.new(icon: "search") %>
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
          </div>
        <% end %>
      </div>

      <div class="d-flex"> <%# Buttons container %>
        <div class="d-flex hide-sm flex-wrap">
          <%= render partial:  "businesses/external_groups/external_groups_filter", locals: {
            view: view,
            query: query,
            } %>
        </div>
      </div> <%# End of buttons container %>
    </div>

    <div id="business-external-groups-list" class="js-bulk-actions-container js-check-all-container">
      <%= render "businesses/external_groups/external_groups_list", external_groups: external_groups, query: query %>
    </div>
<% end %>
