<% page_info responsive: false, title: "External group members · #{external_group.display_name}",
   stafftools: stafftools_enterprise_path(this_business),
   selected_link: :business_external_group_members %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: external_group.display_name,
    header_description: "SCIM Group ID: #{external_group.guid}",
    back_to_link_path: external_groups_enterprise_path(this_business.slug),
    back_to_link_text: "Identity Provider groups"
  } do %>
    <div class="d-flex flex-justify-between mb-md-3 flex-column flex-md-row flex-items-end">
      <div class="d-flex flex-justify-between flex-column-reverse width-full mb-3 mb-lg-0 mb-md-0">
        <%= form_tag external_group_members_enterprise_path(id: external_group.id),
                     method: :get,
                     "data-autosearch-results-container": "business-external-group-members-list" do %>
          <div class="auto-search-group">
            <input class="form-control width-full input-contrast auto-search-input js-member-filter-field"
                   type="text"
                   name="query"
                   value="<%= query %>"
                   placeholder="Find a member…"
                   aria-label="Find a member…"
                   autocomplete="off"
                   data-throttled-autosubmit>
            <%= render Primer::Beta::Octicon.new(icon: "search") %>
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
          </div>
        <% end %>
      </div>

      <div class="ml-3 d-flex flex-justify-end width-full">
        <nav class="d-flex flex-nowrap" aria-label="Members">
          <%= selected_link_to "Members",
                               external_group_members_enterprise_path(this_business.slug),
                               class: "subnav-item" %>
          <%= selected_link_to "Teams",
                               external_group_teams_enterprise_path(this_business.slug),
                               class: "subnav-item" %>
        </nav>
      </div>
    </div>

  <div id="business-external-group-members-list" class="js-bulk-actions-container js-check-all-container">
    <%= render "businesses/external_groups/external_group_members_list", external_group: external_group, members: members, query: query %>
  </div>
<% end %>
