<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info responsive: false, title: "External group teams · #{external_group.display_name}",
   stafftools: stafftools_enterprise_path(this_business),
   selected_link: :business_external_group_teams %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: external_group.display_name,
    header_description: "SCIM Group ID: #{external_group.guid}",
    back_to_link_path: external_groups_enterprise_path(this_business.slug),
    back_to_link_text: "Identity Provider groups"
  } do %>

    <% unless external_group.group_and_team_memberships_match? %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 4, test_selector: "external-group-teams-out-of-sync-banner")) do %>
        Some groups are failing to synchronize to teams. Check that you have available licenses.
        <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/troubleshooting-team-membership-with-identity-provider-groups", classes: "Link--inTextBlock")) { "Learn more" } %>
        about troubleshooting synchronization failures.
      <% end %>
    <% end %>

    <div class="d-flex flex-justify-between mb-md-3 flex-column flex-md-row flex-items-end">
      <div class="d-flex flex-justify-between flex-column-reverse width-full mb-3 mb-lg-0 mb-md-0">
        <%= form_tag external_group_teams_enterprise_path(id: external_group.id),
                     method: :get,
                     "data-autosearch-results-container": "business-external-groups-list" do %>
          <div class="auto-search-group">
            <input class="form-control width-full input-contrast auto-search-input js-member-filter-field"
                   type="text"
                   name="query"
                   value="<%= query %>"
                   placeholder="Find a team…"
                   aria-label="Find a team…"
                   autocomplete="off"
                   data-throttled-autosubmit>
            <%= render Primer::Beta::Octicon.new(icon: "search") %>
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
          </div>
        <% end %>
      </div>

      <div class="d-flex width-full flex-justify-end">
        <div class="d-flex width-full flex-justify-end">
          <div class="d-flex hide-sm flex-wrap">
            <%= render partial:  "businesses/external_groups/external_group_teams_filter", locals: {
              view: Businesses::ExternalGroupsView.new(business: this_business, query: query),
              query: query,
              external_group: external_group,
            } %>
          </div>
        </div>

        <div class="ml-3 d-flex flex-justify-end">
          <nav class="d-flex flex-nowrap" aria-label="Teams">
            <%= selected_link_to "Members",
                                external_group_members_enterprise_path(this_business.slug),
                                class: "subnav-item" %>
            <%= selected_link_to "Teams",
                                external_group_teams_enterprise_path(this_business.slug),
                                class: "subnav-item" %>
          </nav>
        </div>
      </div>
    </div>

    <div id="business-external-groups-list" class="js-bulk-actions-container js-check-all-container">
      <%= render "businesses/external_groups/external_group_teams_list", external_group: external_group, teams: teams, query: query %>
    </div>
<% end %>
