<% if logged_in? %>
  <div class="p-responsive container-lg mt-7 mt-md-8 mt-lg-9 mb-5 mb-lg-9" <%= test_selector("llama2-signups-main") %>>
    <div class="col-sm-9 mx-auto">
      <% if show_request_in_review_notice? %>
        <h1 class="h3-mktg" <%= test_selector("llama2-header") %>>
          Thank you for requesting access to the ONNX optimized Llama 2 models
        </h1>

        <div class="mb-4 mt-4" <%= test_selector("llama2-desc-1") %>>
          We are processing your request, we'll contact you once your access is granted. Just make sure your <a class="Link--inTextBlock" href="<%= GitHub.url %>/settings/emails">primary email address</a> is up to date.
          <br>
          <br>
          If you run into any issues while accessing the repository or need additional support, please <%= mail_to "msftllamaonnxaccessissue@service.microsoft.com", "contact support", class: "Link--inTextBlock" %>.
        </div>
      <% else %>
        <h1 class="h3-mktg" <%= test_selector("llama2-header") %>>
          Request access to the ONNX optimized Llama 2 models
        </h1>

        <div class="mb-4 mt-4" <%= test_selector("llama2-desc-1") %>>
          Microsoft permits you to use, modify, redistribute and create derivatives of Microsoft's contributions to the optimized version subject to the restrictions and disclaimers of warranty and liability in the <a class="Link--inTextBlock" href="http://ai.meta.com/llama/license" target="_blank" rel="noopener" aria-hidden="false">Llama Community License Agreement</a>
        </div>
        <hr>

        <div class="d-block clearfix pb-3 mt-3">
          <%= render Primer::Beta::Heading.new(
            tag: :h2,
            float: :left,
            classes: "h3",
            test_selector: "account-details",
            font_size: 4,
          ).with_content("Account details:") %>
          <% if current_user.is_allowed_to_edit_trade_screening_information? %>
            <div class="float-right js-edit-user-personal-profile-wrapper" <%= test_selector("billing-info-edit-btn") %>>
              <%= render Primer::Beta::Button.new(
                type: :button,
                font_size: 6, classes: "js-edit-user-personal-profile"
              ) do %>
                Edit <span class="sr-only">account details</span>
              <% end %>
            </div>
            <% end %>
        </div>

        <div class="clearfix d-sm-flex">
          <div class="<%= class_names("col-sm-6 mb-3", "mb-sm-0" => has_saved_trade_screening_record?) %>">
            <div class="d-flex flex-items-center">
              <%= render GitHub::AvatarComponent.new(actor: current_user, size: 48, mr: 2) %>
              <ul class="list-style-none lh-condensed mb-2" style="min-height: 48px;">
                <li class="pb-1 text-bold"><%= current_user.safe_profile_name %></li>
                <li class="text-small color-fg-muted">Personal account</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 text-sm-right lh-condensed">
            <% if has_saved_trade_screening_record? %>
              <%= render Billing::Settings::NameAddressSummaryComponent.new(profile: current_user.trade_screening_record) %>
            <% end %>
          </div>
        </div>

        <div class="js-name-address-collection-wrapper" <%= "hidden" if hide_name_address_collection_wrapper? %>>
          <%= form_tag trade_screening_record_update_path, method: :post do |f| %>
            <%= hidden_field_tag "llama2_access_request", "true" %>
            <%= render Billing::Settings::NameAddressFormInputsComponent.new(
              profile: current_user.trade_screening_record,
              target: current_user,
              payment_flow_loaded_from: "LLAMA2_SIGNUP",
              return_to: request.original_url
            ) %>
            <div class="form-group pt-1">
                <%= submit_tag "Confirm data and continue", class: "btn btn-primary mt-2", name: 'billing_info_submit_btn', id: "billing_info_submit" %>
              </div>
          <% end %>
        </div>

        <% if has_saved_trade_screening_record? %>
          <%= form_tag llama2_request_access_path, method: :post do |f| %>
            <div class="form-group pt-1 js-llama2-submit-wrapper" <%= test_selector("request-access-btn") %>>
                <%= render(Primer::Beta::Button.new(type: :submit, size: :medium, scheme: :primary, mt: 2)) { "Confirm data and request access" } %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <div>
  </div>
<% else %>
  <div class="p-responsive container-lg mt-7 mt-md-8 mt-lg-9 mb-5 mb-lg-9">
    <div class="col-sm-9 mx-auto">
      <h1 class="h3-mktg" <%= test_selector("llama2-header") %>>Request access to the ONNX optimized Llama 2 models</h1>

      <div class="mt-4 mb-4" <%= test_selector("llama2-desc-1") %>>
        Sign in to request access to an optimized version of the Llama 2 models, available from Meta
      </div>

      <div class="mb-4" <%= test_selector("llama2-desc-2") %>>
        Microsoft permits you to use, modify, redistribute and create derivatives of Microsoft's contributions to the optimized version subject to the restrictions and disclaimers of warranty and liability in the <a class="Link--inTextBlock" href="http://ai.meta.com/llama/license" target="_blank" rel="noopener" aria-hidden="false">Llama Community License Agreement</a>
      </div>
      <%= render(Primer::Beta::Button.new(tag: :a, size: :medium, scheme: :primary, test_selector: "sign-in-to-request-access-btn", href: login_path(return_to: llama2_show_path), mt: 2)) { "Sign in to request access" } %>
    <div>
  </div>
<% end %>
