<nav class="col-3 float-left menu" aria-label="Biztools">
  <%= link_to biztools_path, :class => "menu-heading" do %>
    <%= primer_octicon(:briefcase) %>
    Biztools
  <% end %>

  <% unless enterprise? %>
    <%= selected_link_to "Coupons", biztools_coupons_path, :highlight => :admin_coupons, :class => "menu-item" %>
    <%= selected_link_to "Showcases", biztools_showcase_collections_path, :highlight => :showcase_biztools, :class => "menu-item" %>
    <%= selected_link_to "Repository Topics", biztools_topics_path, highlight: :topics, class: "menu-item" %>
    <% if GitHub.actions_enabled? %>
      <%= selected_link_to "Repository Actions", biztools_repository_actions_path, highlight: :actions, class: "menu-item" %>
    <% end %>
    <%= selected_link_to "Explore Collections", biztools_collections_path, highlight: :collections, class: "menu-item" %>

    <%= selected_link_to "Users", biztools_users_path, :highlight => :users, :class => "menu-item" %>
    <% if GitHub.marketplace_enabled? %>
      <%= selected_link_to "Marketplace Listings", biztools_marketplace_path, :highlight => :marketplace_listings, :class => "menu-item" %>
      <%= selected_link_to "Marketplace Creators", biztools_marketplace_creator_verification_path, :highlight => :marketplace_creator_verification, :class => "menu-item" %>
      <%= selected_link_to "Marketplace Agreements", biztools_marketplace_agreements_path, :highlight => :marketplace_agreements, :class => "menu-item" %>
      <%= selected_link_to "Marketplace Categories", biztools_marketplace_categories_path, :highlight => :marketplace_categories, :class => "menu-item" %>
      <%= selected_link_to "Marketplace Stories", biztools_marketplace_stories_path, :highlight => :marketplace_stories, :class => "menu-item" %>
      <%= selected_link_to "Marketplace Recommendations", biztools_marketplace_recommendations_path, :highlight => :marketplace_recommendations, :class => "menu-item" %>

    <% end %>
  <% end %>
</nav>
