<nav class="reponav" role="navigation"><%# erblint:disable GitHub::Accessibility::NavigationHasLabel %>
  <%= selected_link_to surveys_path,
          :highlight => :surveys,
          :class => "reponav-item" do %>
    <%= primer_octicon(:checklist) %>
    Surveys
  <% end %>

  <% if GitHub.spamminess_check_enabled? %>
    <%= selected_link_to devtools_spamurai_path,
            :highlight => :spamurai,
            :class => "reponav-item" do %>
      <%= primer_octicon(:flame) %>
      Spamuari
    <% end %>
  <% end %>

  <%= selected_link_to backscatter_path,
          :highlight => :backscatter,
          :class => "reponav-item" do %>
    <%= primer_octicon(:telescope) %>
    Backscatter
  <% end %>

  <%= selected_link_to code_experiments_path,
          :highlight => :code_experiments,
          :class => "reponav-item" do %>
    <%= primer_octicon(:beaker) %>
    Code experiments
  <% end %>

  <%= selected_link_to newsletters_path,
          :highlight => :newsletters,
          :class => "reponav-item" do %>
    <%= primer_octicon(:mail) %>
    Newsletters
  <% end %>

  <%= selected_link_to devtools_jobs_path,
          :highlight => :background_jobs,
          :class => "reponav-item" do %>
    <%= primer_octicon(:terminal) %>
    Background jobs
  <% end %>

  <%= selected_link_to devtools_feature_flags_path,
          :highlight => :features,
          :class => "reponav-item" do %>
    <%= primer_octicon(:squirrel) %>
    Features
  <% end %>
</nav>
