<nav class="UnderlineNav box-shadow-none px-3 px-lg-0"
     aria-label="Gist"
     data-pjax="#gist-pjax-container">

  <div class="UnderlineNav-body">
    <%= selected_link_to user_gist_path(view.user_param, view.gist),
            :highlight => view.highlights_for_code,
            :class => "UnderlineNav-item",
            "data-pjax" => true,
            "data-hotkey" => "g c" do %>
      <%= primer_octicon(:code, classes: 'UnderlineNav-octicon') %>
      Code
    <% end %>

    <% if view.show_revisions? %>
      <%= selected_link_to revisions_user_gist_path(view.user_param, view.gist),
              :highlight => view.highlights_for_revisions,
              :class => "UnderlineNav-item",
              "data-pjax" => true,
              "data-hotkey" => "g r" do %>
        <%= primer_octicon(:"git-commit", classes: 'UnderlineNav-octicon') %>
        Revisions
        <%= render Primer::Beta::Counter.new(text: view.revisions_count) %>
      <% end %>
    <% end %>

    <% if view.show_stars? %>
      <%= selected_link_to stargazers_gist_path(view.user_param, view.gist),
              :highlight => view.highlights_for_stars,
              :class => "UnderlineNav-item",
              "data-pjax" => true,
              "data-hotkey" => "g s" do %>
        <%= primer_octicon(:star, classes: 'UnderlineNav-octicon') %>
        Stars
        <%= render Primer::Beta::Counter.new(count: view.stargazer_count(current_user, true)) %>
      <% end %>
    <% end %>

    <% if view.show_forks? %>
      <%= selected_link_to forks_user_gist_path(view.user_param, view.gist),
              :highlight => view.highlights_for_forks,
              :class => "UnderlineNav-item",
              "data-pjax" => true,
              "data-hotkey" => "g f" do %>
        <%= primer_octicon(:"git-branch", classes: 'UnderlineNav-octicon') %>
        Forks
        <%= render Primer::Beta::Counter.new(count: view.fork_count) %>
      <% end %>
    <% end %>
  </div>
</nav>
