
<nav class="UnderlineNav js-repo-nav js-sidenav-container-pjax <%= local_assigns[:classes] || "" %>"
     itemscope
     itemtype="http://schema.org/BreadcrumbList"
     aria-label="Temporary private fork"
     data-pjax="#js-repo-pjax-container">
  <div class="UnderlineNav-body" role="tablist">
    <span class="d-flex" itemscope itemtype="http://schema.org/ListItem" itemprop="itemListElement">
      <%= selected_link_to(
            repository_path(repository, current_branch_or_tag_name),
            { :class => "UnderlineNav-item",
            :highlight => [:repo_source, :repo_downloads, :repo_commits, :repo_releases, :repo_tags, :repo_branches, :repo_packages, :repo_deployments],
            "data-hotkey" => "g c",
            "itemprop" => "url",
            :role => "tab" }.merge(test_selector_data_hash("code-tab"))) do %>
        <%= primer_octicon(:code, classes: "UnderlineNav-octicon") %>
        <span itemprop="name">Code</span>
        <meta itemprop="position" content="1">
      <% end %>
    </span>

    <span class="d-flex" itemscope itemtype="http://schema.org/ListItem" itemprop="itemListElement">
      <%= selected_link_to(
            pull_requests_path,
            { :class => "UnderlineNav-item",
            :highlight => [:repo_pulls, :checks],
            "data-hotkey" => "g p",
            "itemprop" => "url",
            :role => "tab" }.merge(test_selector_data_hash("pull-requests-tab"))) do %>
        <%= primer_octicon(:"git-pull-request", classes: "UnderlineNav-octicon") %>
        <span itemprop="name">Pull requests</span>
        <%= render Primer::Beta::Counter.new(count: with_database_error_fallback(fallback: 0) { repository.open_pull_request_count_for(current_user) }, limit: 5_000) %>
        <meta itemprop="position" content="2">
      <% end %>
    </span>

    <% if parent_repository_can_have_actions_on_private_forks?(repository) %>
      <span class="d-flex" itemscope itemtype="http://schema.org/ListItem" itemprop="itemListElement">
        <%= selected_link_to(
          actions_path(repository.owner, repository),
          {
            class: "UnderlineNav-item",
            highlight: [:repo_actions],
            "data-hotkey": "g a",
            itemprop: "url",
            role: "tab"
          }.merge(test_selector_data_hash("actions-tab")),
        ) do %>
          <%= primer_octicon(:play, classes: "UnderlineNav-octicon") %>
          <span itemprop="name">Actions</span>
          <meta itemprop="position" content="3">
        <% end %>
      </span>
    <% end %>
  </div>
</nav>
