<div class="<%= class_names(
  "float-left",
  "col-2" => container_xl?,
  "col-3" => !container_xl?,
) %>" data-pjax>
  <nav class="menu" aria-label="Site admin">
    <% if header %>
      <%= link_to stafftools_path, class: "menu-heading" do %>
        <%= primer_octicon(:rocket) %>
        Site admin
      <% end %>
    <% end %>

    <%= stafftools_selected_link_to "Search", stafftools_path, class: "menu-item" %>
    <% if display_management_console_link? %>
      <%= stafftools_selected_link_to 'Management console', '/setup', class: "menu-item" %>
    <% end %>
      <%= stafftools_selected_link_to 'Audit log', stafftools_audit_log_path, highlight: :audit_log, class: "menu-item" %>
      <%= stafftools_selected_link_to 'Explore', stafftools_explore_path, highlight: :explore_stafftools, class: "menu-item" %>
    <% if GitHub.reports_enabled? %>
      <%= stafftools_selected_link_to 'Reports', stafftools_reports_path, class: "menu-item" %>
    <% end %>
    <%= stafftools_selected_link_to "Search indexes", stafftools_search_indexes_path, highlight: :indexing, class: "menu-item" %>
    <% if GitHub.billing_enabled? %>
      <%= stafftools_selected_link_to(
        "Site admins",
        stafftools_users_site_admins_path,
        class: "menu-item",
      ) %>
      <%= stafftools_selected_link_to "Large file storage", stafftools_large_file_storage_path, class: "menu-item", highlight: :lfs_stafftools %>
    <% end %>
    <% if !GitHub.enterprise? %>
      <%= selected_link_to "Automatic App Installs", stafftools_integration_installation_triggers_path, class: "menu-item", highlight: :triggered_applications %>
    <% end %>
    <% if !GitHub.enterprise? %>
      <%= selected_link_to "Internal Apps", stafftools_internal_apps_path, class: "menu-item", highlight: :internal_apps %>
    <% end %>
    <% unless GitHub.enterprise? %>
     <%= stafftools_selected_link_to "Enterprise Server installations", stafftools_enterprise_installations_path, class: "menu-item", highlight: :enterprise_installations %>
    <% end %>
    <%= stafftools_selected_link_to "Repository networks", stafftools_networks_path, class: "menu-item" %>
    <%= stafftools_selected_link_to "Gists", stafftools_gist_maintenance_index_path, class: "menu-item" %>
    <%= stafftools_selected_link_to "Topics", stafftools_topics_index_path, class: "menu-item" %>
    <% unless GitHub.single_instance? %>
      <%= stafftools_selected_link_to 'Git fileserver health', stafftools_fileservers_path, class: "menu-item" %>
    <% end %>
    <% if GitHub.storage_cluster_enabled? -%>
      <%= stafftools_selected_link_to "File storage", stafftools_storage_path, class: "menu-item", highlight: :file_storage %>
    <% end -%>
    <%= selected_link_to 'Reserved logins', stafftools_reserved_logins_path, :class => "menu-item", :highlight => :reserved_logins %>
    <% unless GitHub.enterprise? %>
      <%= stafftools_selected_link_to 'Dependency Graph', stafftools_dependency_graph_path, class: "menu-item", highlight: :dependency_graph %>
    <% end %>
    <% if GitHub.ghe_content_analysis_enabled? %>
      <%= stafftools_selected_link_to 'Vulnerabilities', stafftools_vulnerabilities_path, class: "menu-item", highlight: :vulnerabilities %>
    <% end %>
    <% unless GitHub.single_business_environment? %>
      <%= stafftools_selected_link_to "Enterprise accounts", stafftools_enterprises_path, class: "menu-item", highlight: :businesses %>
      <%= stafftools_selected_link_to \
        "Enterprise trials",
        trials_stafftools_enterprises_path,
        class: "menu-item",
        highlight: :enterprise_trials %>
      <%= stafftools_selected_link_to "Enterprise organization invitations & upgrades", organization_invitations_stafftools_enterprises_path, class: "menu-item", highlight: :organization_invitations_and_upgrades %>
      <%= stafftools_selected_link_to "Self-serve billing organization upgrades", self_serve_organization_upgrades_stafftools_enterprises_path, class: "menu-item", highlight: :self_serve_organization_upgrades %>
      <%= stafftools_selected_link_to "Manual payment enterprise accounts", manual_payment_accounts_stafftools_enterprises_path, class: "menu-item", highlight: :manual_payment_enterprise_accounts %>
    <% end %>
    <% if GitHub.compliance_reports_available? %>
      <%= stafftools_selected_link_to \
        "Compliance reports",
        stafftools_compliance_reports_path,
        class: "menu-item",
        highlight: :compliance_reports %>
    <% end %>
    <% if GitHub.codespaces_enabled? %>
      <%= stafftools_selected_link_to "Codespaces Unprocessed Billing Messages", stafftools_codespaces_unprocessed_billing_messages_path, class: "menu-item", highlight: :codespaces_unprocessed_billing_messages %>
      <% if GitHub.flipper[:codespaces_developer].enabled?(current_user) %>
        <%= stafftools_selected_link_to "Codespaces Dials", stafftools_codespaces_dials_path, class: "menu-item", highlight: :codespaces_dials %>
      <% end %>
    <% end %>
    <% if GitHub.copilot_enabled? %>
      <%= stafftools_selected_link_to "Copilot Enterprise Usage", stafftools_copilot_enterprises_path, class: "menu-item", highlight: :copilot_enterprises %>
      <%= stafftools_selected_link_to "Copilot bulk abuse blocks", stafftools_copilot_bulk_blocks_path, class: "menu-item", highlight: :copilot_bulk_blocks %>
      <%= stafftools_selected_link_to "Copilot bulk abuse unblocks", stafftools_copilot_bulk_unblocks_path, class: "menu-item", highlight: :copilot_bulk_unblocks %>
    <% end %>
    <% unless GitHub.enterprise? %>
      <%= stafftools_selected_link_to 'Bulk ticketer', stafftools_bulk_ticketer_path, class: "menu-item", highlight: :bulk_ticketer %>
      <%= stafftools_selected_link_to "Bulk DMCA Takedown", stafftools_bulk_dmca_takedown_index_path, class: "menu-item", highlight: :bulk_dmca_takedown %>
    <% end %>
    <% if GitHub.sla_reports_available? %>
      <%= stafftools_selected_link_to "SLA reports", stafftools_sla_reports_path, class: "menu-item", highlight: :sla_reports %>
    <% end %>
    <% if GitHub.enterprise? %>
      <%= stafftools_selected_link_to "Advanced Security Committers", stafftools_ghas_committers_path, class: "menu-item", highlight: :ghas_committers %>
      <%= stafftools_selected_link_to 'Retired namespaces', stafftools_retired_namespaces_path, class: "menu-item", highlight: :retired_namespaces %>
    <% end %>
    <% unless GitHub.enterprise? %>
      <%= stafftools_selected_link_to 'CodeQL bulk building', stafftools_codeql_bulk_building_path, class: "menu-item", highlight: :codeql_bulk_building %>
    <% end %>
    <% unless GitHub.enterprise? %>
      <%= stafftools_selected_link_to 'Security center', stafftools_security_center_path, class: "menu-item", highlight: :security_center %>
    <% end %>
    <% if current_user.security_incident_response_access? && !GitHub.enterprise? %>
      <%= stafftools_selected_link_to 'Security Incident Response', stafftools_security_incident_response_path, class: "menu-item", highlight: :security_incident_response %>
    <% end %>
    <% unless GitHub.enterprise? %>
      <%= stafftools_selected_link_to "Copilot PR feedback", stafftools_copilot_pr_summary_feedback_path({type: "pr_summary"}), class: "menu-item", highlight: :copilot_pr_summary_feedback %>
    <% end %>
    <% if GitHub.actions_ims_stafftools_enabled?(current_user) %>
        <%= stafftools_selected_link_to 'Hosted Compute Image Management', stafftools_hosted_compute_ims_admin_index_path, class: "menu-item", highlight: :stafftools_hosted_compute_ims_admin_index %>
    <% end %>
    <% if !GitHub.enterprise? && !GitHub.multi_tenant_enterprise? && GitHub.flipper[:proxima_service_rate_limits].enabled? %>
      <%= stafftools_selected_link_to "Proxima service rate limits", stafftools_proxima_service_rate_limits_path, class: "menu-item", highlight: :proxima_service_rate_limits %>
    <% end %>
    <% if !GitHub.enterprise? && !GitHub.multi_tenant_enterprise? %>
      <%= stafftools_selected_link_to "Research participants", stafftools_research_participants_path, class: "menu-item", highlight: :research_participants %>
    <% end %>
    <% if !GitHub.enterprise? && !GitHub.multi_tenant_enterprise? %>
      <%= stafftools_selected_link_to "Models", stafftools_models_path, class: "menu-item", highlight: :models %>
    <% end %>
  </nav>

  <% if GitHub.single_business_environment? %>
    <nav class="menu" aria-label="Enterprise admin">
      <%= stafftools_selected_link_to "Enterprise overview", global_enterprise_path, class: "menu-item" %>
      <%= stafftools_selected_link_to 'Repositories', stafftools_repositories_path, class: "menu-item" %>
    </nav>
  <% end %>

  <% if scim_managed_enterprise?(GitHub.global_business) %>
    <nav class="menu" aria-label="External groups admin">
      <%= stafftools_selected_link_to "External groups", stafftools_external_groups_path, class: "menu-item", highlight: :external_groups %>
    </nav>
  <% end %>

  <% if !GitHub.enterprise? && stafftools_action_authorized?(
    controller: Stafftools::TradeCompliance::TradeScreeningRecordsController,
    action: :index,
  ) %>
    <nav class="menu" aria-label="Trade Compliance">
      <div class="menu-heading">
        <%= primer_octicon(:shield) %>
        Trade compliance
      </div>
      <%= stafftools_selected_link_to(
        "Trade screening records",
        stafftools_trade_compliance_trade_screening_records_path,
        class: "menu-item",
      ) %>
      <% if current_user.security_incident_response_access? && stafftools_action_authorized?(
        controller: Stafftools::TradeCompliance::BatchOperationsController,
        action: :index,
      )%>
        <%= stafftools_selected_link_to(
          "Trade compliance batch operations",
          stafftools_trade_compliance_batch_operations_path,
          class: "menu-item",
        ) %>
      <% end %>
      <a href="<%= stafftools_audit_log_events_query %>" class="menu-item">
        Audit Log Events
      </a>
      <%= stafftools_selected_link_to(
        "Contact Microsoft trade help",
        stafftools_trade_compliance_microsoft_trade_help_emails_path,
        class: "menu-item",
      ) %>
    </nav>
  <% end %>

  <% if GitHub.sponsors_enabled? %>
    <nav class="menu" aria-label="GitHub Sponsors">
      <div class="menu-heading">
        <%= primer_octicon(:heart) %>
        GitHub Sponsors
      </div>
      <%= stafftools_selected_link_to "Members", stafftools_sponsors_members_path, class: "menu-item", highlight: :sponsors_members %>
      <%= stafftools_selected_link_to "Fiscal hosts", stafftools_sponsors_fiscal_hosts_path, class: "menu-item", highlight: :sponsors_fiscal_hosts %>
      <%= stafftools_selected_link_to "Fraud reviews", stafftools_sponsors_fraud_reviews_path, class: "menu-item", highlight: :sponsors_fraud_reviews %>
      <%= stafftools_selected_link_to "Sponsorships", stafftools_sponsors_sponsorships_path, class: "menu-item", highlight: :sponsorships %>
      <%= stafftools_selected_link_to "Invoiced sponsors", stafftools_sponsors_invoiced_sponsors_path,
        class: "menu-item", highlight: :invoiced_sponsors %>
      <%= stafftools_selected_link_to "Billing mismatches", stafftools_sponsors_billing_mismatches_path, class: "menu-item", highlight: :sponsors_billing_mismatches %>
      <%= stafftools_selected_link_to "Potential sponsorships", stafftools_sponsors_potential_sponsorships_path,
        class: "menu-item", highlight: :potential_sponsorships %>
      <%= stafftools_selected_link_to "Agreements", stafftools_sponsors_agreements_path,
        class: "menu-item", highlight: :sponsors_agreements %>
    </nav>
  <% end %>

  <% if GitHub.billing_enabled? %>
    <nav class="menu" aria-label="Billing">
      <div class="menu-heading">
        <%= primer_octicon(:ruby) %>
        Billing
      </div>

      <%= stafftools_selected_link_to "Billing Jobs", stafftools_billing_billing_jobs_path, class: "menu-item", highlight: :billing_billing_jobs %>
      <%= stafftools_selected_link_to "Subscription Synchronizations", stafftools_subscription_sync_statuses_path, class: "menu-item", highlight: "/stafftools/subscription_sync_statuses" %>
      <%= stafftools_selected_link_to "VSS licenses", stafftools_vss_subscription_events_path, class: "menu-item", highlight: [:vss_subscription_events, :orphaned_bundled_license_assignments] %>
      <%= stafftools_selected_link_to "Webhooks (Stripe & Zuora)", stafftools_zuora_webhooks_path, class: "menu-item", highlight: "/stafftools/stripe_webhooks" %>
      <%= stafftools_selected_link_to "Support Plan Mass Uploads", stafftools_support_plan_uploads_path, class: "menu-item", highlight: "/stafftools/support_plan_uploads" %>
      <%= stafftools_selected_link_to "Transaction Search", stafftools_billing_transaction_path, class: "menu-item", highlight: "/stafftools/billing_transactions/search" %>
      <%= stafftools_selected_link_to "Reused card fingerprints", stafftools_reused_card_fingerprints_path, class: "menu-item", highlight: :reused_card_fingerprints %>
      <%= stafftools_selected_link_to "Metered Products", stafftools_metered_product_uuids_path, class: "menu-item", highlight: :metered_product_uuids %>
      <%= stafftools_selected_link_to "Test Metered Product Usage", stafftools_test_metered_products_path, class: "menu-item", highlight: :test_metered_products %>

      <% if GitHub.iap_enabled? %>
        <%= stafftools_selected_link_to "Apple IAP Lookup", new_stafftools_billing_iap_apple_lookup_path, class: "menu-item", highlight: :billing_iap_apple_lookups %>
        <%= stafftools_selected_link_to "Google IAP Lookup", new_stafftools_billing_iap_google_lookup_path, class: "menu-item", highlight: :billing_iap_google_lookups %>
      <% end %>
    </nav>
    <nav class="menu" aria-label="Billing vNext (Beta)">
      <div class="menu-heading">
        <%= primer_octicon(:rocket) %>
        Billing vNext (Beta)
      </div>

      <%= stafftools_selected_link_to "Products", stafftools_billing_products_path, class: "menu-item", highlight: :billing_products %>
      <%= stafftools_selected_link_to "Dead Letter Queue", stafftools_billing_dead_letter_queues_path, class: "menu-item", highlight: :billing_dead_letter_queue %>
      <%= stafftools_selected_link_to "Onboard Customers to Billing Platform", stafftools_billing_onboard_billing_platform_customers_path, class: "menu-item", highlight: :billing_onboard_billing_platform  %>
      <%= stafftools_selected_link_to "Trigger Azure Emission", stafftools_billing_trigger_azure_emission_path, class: "menu-item", highlight: :billing_trigger_azure_emission %>
      <%= stafftools_selected_link_to "Trigger Watermark Workflow", stafftools_billing_trigger_watermark_workflows_path, class: "menu-item", highlight: :billing_trigger_watermark_workflow %>
      <%= stafftools_selected_link_to "Generate Usage", stafftools_billing_generate_usages_path, class: "menu-item", highlight: :billing_generate_usage %>
      <%= stafftools_selected_link_to "Trigger High Watermark Rollover", stafftools_billing_trigger_high_watermark_rollover_path, class: "menu-item", highlight: :billing_trigger_high_watermark_rollover %>
      <%= stafftools_selected_link_to "Can Proceed With Usage", stafftools_billing_can_proceed_with_usage_path, class: "menu-item", highlight: :billing_can_proceed_with_usage %>
    </nav>
  <% end %>

  <% unless GitHub.enterprise? %>
    <nav class="menu" aria-label="Early access programs">
      <div class="menu-heading">
        <%= primer_octicon(:beaker) %>
        Early access programs
      </div>
      <%= stafftools_selected_link_to 'Technology Previews', stafftools_betas_path, class: "menu-item", highlight: :betas %>
      <%= stafftools_selected_link_to 'Scheduled reminders beta', stafftools_reminders_beta_signup_path, class: "menu-item", highlight: :reminders_beta_signup %>
      <%= stafftools_selected_link_to 'Merge Queue beta', stafftools_merge_queue_beta_signup_path, class: "menu-item", highlight: :merge_queue_beta_signup %>
      <%= stafftools_selected_link_to 'Projects Tasklists beta', stafftools_projects_beta_signup_path(:tasklists), class: "menu-item", highlight: :stafftools_projects_beta_signup %>
      <%= stafftools_selected_link_to 'Memex Without Limits beta', stafftools_memex_without_limits_beta_signup_path, class: "menu-item", highlight: :stafftools_memex_without_limits_beta_signup %>
    </nav>
    <nav class="menu" aria-label="Developer tools">
      <a href="<%= devtools_path %>" class="menu-heading">
        <%= primer_octicon(:code) %>
        Developer tools
      </a>
      <a href="<%= devtools_feature_flags_path %>" class="menu-item">
        Feature Flags
      </a>
      <a href="<%= devtools_toggleable_features_path %>" class="menu-item">
        Feature Previews
      </a>
      <a href="<%= devtools_experiments_path %>" class="menu-item">
        Scientist Code Experiments
      </a>
      <a href="<%= devtools_surveys_path %>" class="menu-item">
        Surveys
      </a>
      <a href="<%= devtools_integration_features_path %>" class="menu-item">
        GitHub Apps Directory
      </a>
    </nav>
    <nav class="menu" aria-label="Biztools admin">
      <%= link_to biztools_path, class: "menu-heading" do %>
        <%= primer_octicon(:briefcase) %>
        Biztools
      <% end %>
    </nav>
  <% end %>

  <% unless GitHub.billing_enabled? %>
    <nav class="menu" aria-label="User admin">
      <% if GitHub.user_invites_enabled? %>
        <%= stafftools_selected_link_to(
          "Invite user",
          new_stafftools_users_invitation_path,
          class: "menu-item",
        ) %>
      <% end %>
      <% if GitHub.auth.ldap? %>
        <%= stafftools_selected_link_to "LDAP users", ldap_stafftools_users_path, class: "menu-item" %>
      <% end %>
        <%= stafftools_selected_link_to 'All users', stafftools_users_path, class: "menu-item" %>
        <%= stafftools_selected_link_to(
          "Site admins",
          stafftools_users_site_admins_path,
          class: "menu-item",
        ) %>
      <% if GitHub.bulk_dormant_user_suspension_enabled? %>
        <%= stafftools_selected_link_to(
          "Dormant users",
          stafftools_dormant_users_path,
          class: "menu-item",
        ) %>
        <%= stafftools_selected_link_to(
          "Suspended users",
          stafftools_suspended_users_path,
          class: "menu-item",
        ) %>
      <% end %>
    </nav>
  <% end %>
</div>
