<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div id="dependencies">
  <%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
    <% component.with_heading(tag: :h2) do %>Dependabot alerts<% end %>

    <% component.with_actions do %>
      <div class="d-flex">
        <%= render(Primer::Beta::Link.new(href: "https://gh.io/dependabot-feedback", scheme: :default, muted: false, underline: false, display: :flex, mr: 3, align_items: :center)) do %>
          Give feedback
        <% end %>
        <details class="dropdown details-reset details-overlay">
          <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, "aria-haspopup": "true") do %>
            Configure
            <div class="dropdown-caret"></div>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-sw" style="width:270px">
            <% if view.show_repository_settings_link? %>
              <li>
                <%= link_to "Manage repository vulnerability settings",
                  view.security_and_analysis_path,
                  class: "dropdown-item text-small"
                %>
              </li>

              <% if GitHub.dependabot_rules_enabled? %>
                <li>
                  <%= link_to "Manage Dependabot rules",
                    view.dependabot_rules_path,
                    class: "dropdown-item text-small"
                  %>
                </li>
              <% end %>
            <% end %>

            <li>
              <%= link_to "Manage account notification settings",
                settings_notification_preferences_path,
                class: "dropdown-item text-small"
              %>
            </li>
          </ul>
        </details>
      </div>
    <% end %>
  <% end %>
</div>

<% if view.show_paused_banner? %>
  <%= render(Dependabot::PausedUpdatesBannerComponent.new(repository: current_repository, interactive: true)) %>
<% else %>
  <%= render DependabotAlerts::RulesPromoBannerComponent.new(repository: current_repository) %>
  <%#= render "network/ds_actions_prompt" %> <%# FIXME: Render this again once we remove the RulesPromoBanner above! %>
<% end %>

<% if view.alerts_enabled? %>
  <%= render DependabotAlerts::TableComponent.new(
    query: view.query,
    query_string: view.query_string,
    repository: current_repository,
    alerts_page_path: view.alerts_page_path,
    filter_suggestions_path: view.filter_suggestions_path,
    menu_content_path: view.menu_content_path,
    dismissal_reasons: view.dismissal_reasons
  ) %>
<% else %>
  <div class="Box color-border-muted">
    <%= render Primer::BlankslateComponent.new(
      icon: "shield",
      title: "Dependabot alerts are disabled.",
      large: true,
      spacious: true,
      test_selector: "disabled-alerts-blankslate",
      data: {
        "hpc": ""
      }
    ) do %>
      <% if view.show_repository_settings_link? %>
        <p>
          To receive Dependabot alerts, you must first enable Dependabot alerts in <%= link_to "this repository’s settings", security_analysis_settings_path(current_repository), class: "Link--inTextBlock" %>.
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render(DependabotAlerts::TipComponent.new(repo: current_repository, query_string: view.query_string)) %>
