<% content_for :header do %>
  You’ve been added as <%= @role_for_email %> of the <%= @business.name %> enterprise
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Added as #{@role_for_email} of #{@business.name}", avatar_plus_avatar: [@business, @user] %>

<p>
  Hi <strong><%= @user.safe_profile_name %></strong>! You’ve been added as
  <%= @role_for_email %> of the <%= @business.name %> enterprise on GitHub.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Visit #{@business.name} on GitHub",
      url: enterprise_url(@business),
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p class="email-body-subtext">
  <strong>Note:</strong> If you get a 404 page, make sure you’re signed in as <strong><%= @user.display_login %></strong>.
</p>

<% content_for :footer_text do %>
  You’re receiving this email because
  you were added as <%= @role_for_email %> of an enterprise on GitHub.
<% end %>
