<% content_for :header do %>
  You are now <%= @role_for_email %> of the <%= @business.name %> enterprise
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Enterprise role changed", avatar_plus_avatar: [@business, @user] %>

<p>
  Hi <strong><%= @user.safe_profile_name %></strong>!
</p>

<p>
  Your role with the <strong><%= @business.name %></strong> enterprise has changed, and you are now <%= @role_for_email %> of this enterprise.
</p>

<p>
  If you feel like this change has occurred in error, please contact an owner of the enterprise.
</p>

<% content_for :footer_text do %>
  You’re receiving this email because your role changed within an enterprise on GitHub.
<% end %>
