<% seat_update_link = enterprise_licensing_url(@business, manage_seats: true) %>
<% org_invite_link = new_enterprise_organization_invitation_url(@business) %>
<% content_for :header do %>
  Your organization upgrade to GitHub Enterprise is incomplete
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Add seats to complete your organization upgrade", avatar_plus_avatar: [@business, @organization] %>

<p>
  Hi <strong><%= @actor.name %></strong>, <br>
  Your enterprise account, <strong> <%= @business.slug %></strong>, has been successfully created, but your <strong> <%= @organization.safe_profile_name %> </strong> organization has not yet been upgraded.
  The required number of seats may have changed before your purchase was processed.
</p>
<p>
  <strong> To complete the upgrade: </strong> <br>
  The <strong> <%= @business.slug %> </strong> enterprise needs <strong> <%= @additional_seats_needed %> </strong> additional <%= "seat".pluralize(@additional_seats_needed) %> to add <strong> <%= @organization.safe_profile_name %> </strong>
</p>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Update user licenses",
      url: seat_update_link,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
Then, head over to organization invitations at <%= link_to org_invite_link, org_invite_link.to_s %> to invite <%= @organization.safe_profile_name %> to your new enterprise account.
</p>


<hr>
<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser to update user licenses:<br>
  <%= link_to seat_update_link, seat_update_link.to_s %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because you're an owner of the <%= @business.name %> GitHub Enterprise
  account on GitHub.
<% end %>
