<% content_for :header do %>
  The  audit log stream for the <%= @business.name %> enterprise has been disabled.
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Audit log stream disabled", avatar: @business %>

<p>
  Hello!
</p>
<p>
  The audit log stream for the <%= @business.name %> enterprise has been disabled because of ongoing errors. Please check your endpoint and resume the stream to re-enable it.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Check your audit log stream",
      url: settings_audit_log_stream_enterprise_url(@business),
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<% content_for :footer_text do %>
  You’re receiving this email because the audit log stream for the <%= @business.name %> enterprise has been disabled.
<% end %>
