<% content_for :header do %>
  The audit log stream for <%= @business.name %> is experiencing errors preventing event delivery.
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Action is required to restore your audit log stream", avatar: @business %>

<p>
  You're receiving this email because you are an Enterprise Owner of the <%= @business.name %> enterprise.
  It has come to our attention that the audit log stream for your enterprise is currently misconfigured.
</p>
<p>
  GitHub conducts automated checks of audit log stream health every 24 hours, and a recent inspection has revealed that your stream is not properly configured.
  Consequently, audit log events are not being written to your designated endpoint.

  Streamed audit logs are stored for up to 7 days on <%= link_to 'GitHub.com', 'https://github.com' %>.

  To avoid any data loss from your audit log stream, you must follow our documentation for
  <%= link_to 'setting up audit log streaming', 'https://docs.github.com/en/enterprise-cloud@latest/admin/monitoring-activity-in-your-enterprise/reviewing-audit-logs-for-your-enterprise/streaming-the-audit-log-for-your-enterprise#setting-up-audit-log-streaming' %>
  to reconfigure your audit log stream within 6 days.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Check your audit log stream",
      url: settings_audit_log_stream_enterprise_url(@business),
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<% content_for :footer_text do %>
  You’re receiving this email because the audit log stream for the <%= @business.name %> enterprise is experiencing ongoing errors.
<% end %>
