<% content_for :header do %>
  New <%= @business.name %> enterprise created
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "New enterprise created", avatar_plus_avatar: [@business, @organization] %>

<p>
  Hello! @<%= @actor.display_login %> has created the new <%= @business.name %> enterprise for the existing
  <%= @organization.safe_profile_name %> organization on GitHub.
</p>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>The following changes have been made:</p>
    <ul class="ml-3">
      <li>
        The <%= @organization.safe_profile_name %> organization has been added as the first
        member organization in the new <%= @business.name %> enterprise.
      </li>
      <li>
        All previous owners of the <%= @organization.safe_profile_name %> organization
        are now owners of the <%= @business.name %> enterprise.
      </li>
      <li>
        All previous billing managers of the <%= @organization.safe_profile_name %> organization
        are now owners of the <%= @business.name %> enterprise.
      </li>
      <li>
        All billing details of the <%= @organization.safe_profile_name %> organization have been
        transferred to the <%= @business.name %> enterprise.
      </li>
      <% if @business.has_an_active_coupon? %>
        <li>
          The <%= @organization.safe_profile_name %> organization's current coupon has been transferred to the <%= @business.name %> enterprise. The conditions and remaining duration of the coupon will carry over.
        </li>
      <% end %>
      <% @settings_transferred.each do |setting| %>
        <li>
          <%= setting[:description] %> for the <%= @organization.safe_profile_name %> organization
          was transferred to the <%= @business.name %> enterprise.
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  Head over to <a href="<%= enterprise_url @business %>"><%= enterprise_url @business %></a>
  to check out the <%= @business.name %> profile.
</p>

<% content_for :footer_text do %>
  You’re receiving this email because the <%= @business.name %> enterprise was created on GitHub.
<% end %>
