<% content_for :header do %>
  Your invitation to become an owner of the
  <%= @business.name %> enterprise has been canceled
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Enterprise owner invitation canceled", avatar: @business %>

<p>
  Hi <%= @invitation.email_or_invitee_name %>, your invitation to become an owner
  of the <%= @business.name %> enterprise on GitHub has been canceled.
  Links to the invitation in previous emails will no longer work.
</p>

<p>
If this is unexpected, reach out to the owners of <%= @business.name %>.
</p>

<% content_for :footer_text do %>
  You’re receiving this email because your invitation to become an owner
  of the <%= @business.name %> enterprise on GitHub has been canceled.
<% end %>
