<% content_for :header do %>
  The <%= @business.name %> enterprise has been deleted
<% end %>

<%= render Mail::HeaderTitleComponent.new title: "Enterprise deleted", avatar: @business %>

<p>
  This email is to confirm that the <strong><%= @business.name %></strong> enterprise has been
  deleted from
  <% if @actor.present? %>
    GitHub by
    <%= render(Primer::Beta::Link.new(href: user_url(@actor), classes: "Link--inTextBlock")) do %>@<%= @actor.display_login %><% end %>.
  <% else %>
    GitHub.
  <% end %>
</p>

<p>
  Your enterprise's policies and content have been deleted from the system.
  The enterprise name and URL will be
  available for registration after <%= Business::RESTORABLE_PERIOD.inspect %>.
</p>

<p>
  Any accrued balance on your enterprise will undergo a one time payment after
  which you will not be billed again.
</p>

<hr class="rule">

<p>
  If this was unexpected, please confirm with other owners of the enterprise, or
  <a href="<%= contact_url %>">contact GitHub Support</a>.
</p>

<% content_for :footer_text do %>
  You’re receiving this email because you’re an owner of the <strong><%= @business.name %></strong>
  enterprise on GitHub.
<% end %>
