<% content_for :header do %>
  Your GitHub Enterprise trial has been <%= @cancelled_flavor %>.
<% end %>

<%= render Mail::HeaderTitleComponent.new(
  title: "GitHub Enterprise trial account",
  avatar: @business
) %>

<p>
  Hi <strong><%= @actor.name %></strong>!
</p>
<p>
  Your GitHub Enterprise trial, <%= @business.name %>, has been <%= @cancelled_flavor %>.
</p>
<p>
  This means we have removed all members and administrators from the trial account, detached any organizations
  upgraded or transferred into the trial and reverted back to their previous plan, and restricted access to all
  organizations created as part of the trial.
</p>

<%= render(Mail::SpacerComponent.new) %>

<% content_for :footer_text do %>
  You’re receiving this email because you're an owner of the <%= @business.name %> GitHub Enterprise trial
  account on GitHub.
<% end %>
