<% redemption_link = @coupon.present? ? redeem_coupon_url(code: @coupon, id: @business.slug) : find_coupon_url %>
<% content_for :header do %>
  Your purchase of GitHub Enterprise was unsuccessful.
<% end %>

<p>
  Hi <strong><%= @actor.name %></strong>!
</p>
<p>
  Your purchase of GitHub Enterprise for the <%= @business.name %> enterprise was unsuccessful.
</p>
<p>
  To proceed, please verify your payment information and try again.
</p>
<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Update Payment Information",
      url: redemption_link,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to redemption_link, redemption_link.to_s %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because you attempted to create the <%= @business.name %> GitHub Enterprise
  account on GitHub by redeeming a coupon.
<% end %>
