<% content_for :header do %>
  New GitHub Enterprise account created
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "GitHub Enterprise account", avatar: @business %>

<% if @organization.present? %>
  <p>
    Hello! @<%= @actor.display_login %> has created the new <%= @business.name %> Enterprise account on GitHub.
    You’re a step closer to building better software, faster.
  </p>
  <%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      <p>
        The <%= @organization.safe_profile_name %> organization has been added as the first
        member organization in the new <%= @business.name %> enterprise. As a result:
      </p>
      <ul class="ml-3">
        <li>
          All previous owners of the <%= @organization.safe_profile_name %> organization
          are now owners of the <%= @business.name %> enterprise.
        </li>
        <li>
          All previous billing managers of the <%= @organization.safe_profile_name %> organization
          are now billing managers of the <%= @business.name %> enterprise.
        </li>
      </ul>
    <% end %>
  <% end %>

  <%= render(Mail::SpacerComponent.new(size: 24)) %>
<% else %>
  <p>
    Hi @<%= @actor.display_login %>!
  </p>
  <p>
    Thank you for creating your GitHub Enterprise account, <%= @business.name %>.
    You’re a step closer to building better software, faster.
  </p>
<% end %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Get Started Now",
      url: enterprise_url(@business),
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new(size: 24)) %>

<p>
  We're here to help if you need it. Visit the
  <a href="<%= GitHub.help_url %>/github/setting-up-and-managing-your-enterprise/about-enterprise-accounts">
    Help Center</a> to learn more about enterprise accounts or
  <a href="https://github.com/enterprise/contact">
    contact us</a>.
</p>

<p class="email-body-subtext">
  <strong>Note:</strong> If you get a 404 page, make sure you’re signed in as an owner of
  <strong><%= @business.name %></strong>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to enterprise_url(@business), enterprise_url(@business).to_s %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because you're an owner of the <%= @business.name %> Enterprise account on GitHub.
<% end %>
