<% content_for :header do %>
  An owner of the <%= @business.name %> enterprise has just <%= @state %> a domain
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "#{@state.capitalize} domain", avatar: @business %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hi @<%= @user.display_login %>,
    </p>
    <p>
      An owner of the <%= link_to(@business.name, enterprise_url(@business)) %> enterprise has
      just <%= @state %> the <strong><a href="<%= @verified_domain %>"><%= @verified_domain %></a></strong> domain. You
      are a member of the following organizations within the <%= @business.safe_profile_name %>
      enterprise:
    </p>

    <% @organization_logins.each do |display_login| %>
      <ul style="margin-left: 25px; text-align: left;">
        <li><strong><%= link_to display_login, user_url(display_login) %></strong></li>
      </ul>
    <% end %>

    <p>Previously, admins of these organizations could see:</p>
    <ul style="margin-left: 25px; margin-bottom: 5px; text-align: left;">
      <li>If you have two-factor authentication enabled or not</li>
      <li>Your public profile information</li>
      <li>Certain activity within this organization</li>
      <li>Country of request origin</li>
      <li>Your access level to repositories within the organization</li>
      <li>Your IP address</li>
    </ul>

    <p>Now, admins will also be able to see:<p>

    <ul style="margin-left: 25px; text-align: left;">
      <li>Your <strong>email address</strong> in the <strong><a href="<%= @verified_domain %>"><%= @verified_domain %></a></strong> domain.</li>
    </ul>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  You’re receiving this email because you are a member of one or more organizations in the
  <%= @business.name %> enterprise.
<% end %>
