<% content_for :header do %>
  Your report on Dormant Users is ready
<% end %>

<%= render(Mail::BorderedRowComponent.new) do %>
  <%= render(Mail::HeaderTitleComponent.new(title: "We have finished generating the Dormant Users report for the #{@business.name} enterprise. This report will expire in #{@expiry_time}.")) %>

  <%= render(Mail::SpacerComponent.new) %>

  <%= render(Mail::ContainerComponent.new) do %>
    <%= render(Mail::ButtonComponent.new(
      text: "Get report",
      url: @url,
      classes: "btn-large btn-primary"))
    %>
  <% end %>
  <%= render(Mail::SpacerComponent.new) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new(classes: "text-gray")) do %>
  <p>
    Use this link if the button is not working:
    <br><%= link_to @url, @url %>
  </p>
<% end %>

<% content_for :footer_text do %>
  You are receiving this because you generated a report on dormant users for the <%= @business.name %> enterprise.
<% end %>
