<% content_for :header do %>
  Your Enterprise Members report is ready
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Enterprise Members report is ready", avatar: @business %>

<p>
  We have finished generating the Enterprise Members report for the <%= @business.name %> enterprise. This report will expire in <%= @expiry_time %>.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Download report",
      url: @url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<% content_for :content_footer do %>
  Button not working? Paste the following link into your browser:
  <br><%= link_to @url, @url %>
<% end %>

<% content_for :footer_text do %>
  You are receiving this email because you generated a report of enterprise members for the <%= @business.name %> enterprise.
<% end %>
