<% content_for :header do %>
  Failed to enable and enforce two-factor requirement for <%= @business.name %> enterprise
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Enterprise two-factor authentication requirement", avatar: @business %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hi @<%= @actor.display_login %>,
    </p>
    <p>
      You attempted to enable the two-factor authentication requirement for the
      <%= @business.name %> enterprise.
    </p>
    <p>
      Enabling the requirement was not successful. Please try again.
    </p>
    <p>
      <%= link_to settings_security_enterprise_url(@business), settings_security_enterprise_url(@business) %>
    </p>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  You’re receiving this email because an attempt to enable the two-factor authentication
  requirement for the <%= @business.name %> enterprise failed.
<% end %>
