<% content_for :header do %>
  <% if @invitation.show_inviter? %>
    @<%= @inviter.display_login %> has invited <%= @organization.name %>
  <% else %>
    <%= @organization.name %> has been invited
  <% end %>
  to join the <%= @business.name %> enterprise
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Enterprise organization invitation", avatar_plus_avatar: [@business, @organization] %>

<p>
  Hi <strong><%= @organization.name %></strong>!
</p>
<p>
  <% if @invitation.show_inviter? %>
    @<%= link_to @inviter.display_login, user_url(@inviter) %> has invited <%= @organization.name %>
  <% else %>
    <%= @organization.name %> has been invited
  <% end %>
  to join the <%= @business.name %> enterprise on GitHub.
  Head over to <a href="<%= enterprise_url @business %>"><%= enterprise_url @business %></a>
  to check out <%= @business.name %>’s profile.
</p>
<p>
  This invitation will expire in
  <%= pluralize(BusinessOrganizationInvitation::INVITATION_EXPIRY_PERIOD, "day") %>.
</p>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "View invitation",
      url: settings_org_billing_url(@organization),
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p class="email-body-subtext">
  <strong>Note:</strong> If you get a 404 page, make sure you’re signed in as an owner of
  <strong><%= @organization.name %></strong>. You can also accept the invitation by visiting
  the enterprise page directly at <a href="<%= enterprise_url @business %>"><%= enterprise_url @business %></a>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to settings_org_billing_url(@organization), settings_org_billing_url(@organization).to_s %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because
  <% if @invitation.show_inviter? %>
    @<%= @inviter.display_login %>
  <% else %>
    someone
  <% end %>
  invited <%= @organization.name %> to join an enterprise on GitHub.
<% end %>
