<% content_for :header do %>
  The <%= @organization.name %> organization is now a part of the <%= @business.name %> enterprise.
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Organization added to enterprise", avatar_plus_avatar: [@business, @organization] %>

<p>
  Hello!
</p>
<p>
  The <%= @organization.name %> organization is now a part of the <a href="<%= enterprise_url(@business) %>"><%= @business.name %></a> enterprise.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  If this was unexpected, please confirm with other owners of the enterprise or organization, or
  <a href="<%= contact_url %>">contact GitHub Support</a>.
</p>

<% content_for :footer_text do %>
  You’re receiving this email because
  <%= @organization.name %> was added to an enterprise on GitHub.
<% end %>
