<% content_for :header do %>
  @<%= @actor.display_login %> has completed the invitation for <%= @organization.name %> to join the <%= @business.name %> enterprise on GitHub.
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Enterprise organization invitation", avatar_plus_avatar: [@business, @organization] %>

<p>
  Hello! @<%= link_to @actor.display_login, user_url(@actor) %> has completed the invitation for <%= @organization.name %>
  to join the <%= @business.name %> enterprise on GitHub.
</p>
<p>
  The organization is now a part of the <a href="<%= enterprise_url(@business) %>"><%= @business.name %></a> enterprise.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  If this was unexpected, please confirm with other owners of the enterprise or organization, or
  <a href="<%= contact_url %>">contact GitHub Support</a>.
</p>

<% content_for :footer_text do %>
  You’re receiving this email because
  @<%= @actor.display_login %>
  has completed the invitation for <%= @organization.name %> to join an enterprise on GitHub.
<% end %>
