<% content_for :header do %>
  <% if @show_inviter %>@<%= @inviter.display_login %> has invited you<% else %>You’re invited<% end %>
  to join the <%= @business.name %> enterprise
<% end %>

<% if @user.present? %>
  <%= render Mail::HeaderTitleComponent.new \
    title: "Enterprise invitation", avatar_plus_avatar: [@business, @user] %>
<% else %>
  <%= render Mail::HeaderTitleComponent.new \
    title: "Enterprise invitation", avatar: @business %>
<% end %>

<p>
  <% if @user.present? %>
    Hi <strong><%= @user.safe_profile_name %></strong>!
  <% end %>
  <% if @show_inviter %><%= link_to "@#{@inviter.display_login}", user_url(@inviter) %> has invited you<% else %>You’re invited<% end %>
  to join the <%= @business.name %> enterprise on GitHub.
</p>

<p>
  This invitation will expire in <%= pluralize(GitHub.invitation_expiry_period, "day") %>.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Join #{@business.name}",
      url: @url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<% if @user.present? %>
  <p class="email-body-subtext">
    <strong>Note:</strong> If you get a 404 page, make sure you’re signed in as
    <strong><%= @user.display_login %></strong>. You can also accept the invitation by visiting the
    enterprise page directly at <a href="<%= enterprise_url @business %>"><%= enterprise_url @business %></a>.
  </p>
<% else %>
  <p class="email-body-subtext">
    <strong>New to GitHub?</strong> GitHub is how people build software. Millions of developers use
    GitHub to build personal projects, support their businesses, and work together on open source
    technologies. <a href="https://github.com">Learn more about GitHub</a>.
  </p>

  <p class="email-body-subtext">
    <strong>Note:</strong> This invitation was intended for <strong><%= @email %></strong>.
    If you were not expecting this invitation, you can ignore this email.
  </p>
<% end %>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to @url, @url %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because
  <% if @show_inviter %>@<%= @inviter.display_login %><% else %>someone<% end %>
  invited you to join an enterprise on GitHub.
<% end %>
