<% content_for :header do %>
  @<%= @actor.display_login %> has rejected your invitation for <%= @organization.name %> to join the <%= @business.name %> enterprise
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Enterprise organization invitation", avatar_plus_avatar: [@business, @organization] %>

<p>
  Hello! @<%= link_to @actor.display_login, user_url(@actor) %> has rejected the invitation for <%= @organization.name %>
  to join the <%= @business.name %> enterprise on GitHub.
</p>

<% content_for :footer_text do %>
  You’re receiving this email because
  @<%= @actor.display_login %>
  has rejected the invitation for <%= @organization.name %> to join an enterprise on GitHub.
<% end %>
