<% content_for :header do %>
Your Enterprise account will be deleted in <%= pluralize(@days_to_deletion, "day") %>
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Upgrade to keep your account and data", icon: "code-alert.png"%>

<p>
  On <%= @trial_deletion_date %>, your GitHub Enterprise trial for the
  <strong><%= @business.safe_profile_name %></strong> enterprise
  account will be deleted. This happens 90 days after the end of the trial period. Upgrade to a paid account to keep
  your access to SAML, Actions, and audit logs.
</p>

<p>
  We cannot recover deleted accounts.
</p>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Upgrade account",
      url: @trial_billing_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<% content_for :footer_text do %>
  You’re receiving this email because you are an admin of the <%= @business.safe_profile_name %>
  enterprise.
<% end %>
