<% content_for :header do %>
  The <%= @business.name %> enterprise has restricted notifications to domain emails
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Enterprise notification restrictions", avatar: @business %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hi @<%= @user.display_login %>,
    </p>
    <p>
      The <%= link_to(@business.name, enterprise_url(@business)) %> enterprise has restricted
      notifications to domain emails. The following member organizations now require a verified
      email from one of the listed domains in order to receive notifications from repositories
      owned by the organization:
    </p>

    <% @org_domains.each do |organization, domains| %>
      <div style="margin-bottom: 5px">
        <strong><%= link_to organization.display_login, user_url(organization) %></strong>:
        <ul style="margin-left: 25px; text-align: left;">
          <% domains.each do |domain| %>
            <li><strong><%= domain %></strong></li>
          <% end %>
          <% @enterprise_domains.each do |domain| %>
            <li><strong><%= domain %></strong></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      If you would like to continue receiving email notifications for
      these organizations, you must add a verified email from one of
      the verified or approved domains for each organization. You can
      <a href="<%= settings_email_preferences_url %>">add email addresses in your email settings</a>.
    </p>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  You’re receiving this email because you are a member of one or more organizations in the
  <%= @business.name %> enterprise.
<% end %>
