<% content_for :header do %>
  Your enterprise account has been deleted
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Your #{@business_slug} enterprise account has been deleted", icon: "code-alert.png"%>

<p>
  We delete accounts <%= @restorable_period %> after the end of the trial period, which is why your <%= @business_slug %> enterprise has been deleted. Thanks for trying out GitHub Enterprise.
</p>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "View our plans",
      url: @pricing_url,
      classes: "btn-primary btn-large mt-2",
    )
  ) %>
<% end %>

<% content_for :footer_text do %>
  You’re receiving this email because you were an admin of the enterprise.
<% end %>
