<% content_for :header do %>
  The <%= @transfer.organization %> organization was successfully transferred.
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Organization transferred", avatar: @transfer.organization %>

<p>
  Hello! The <strong><%= @transfer.organization %></strong> organization has been successfully transferred
  <% if @transfer.show_actor? %>
    by <%= link_to "@#{@transfer.actor.display_login}", user_url(@transfer.actor) %>
  <% else %>
    by GitHub staff
  <% end %>
  from the <strong><%= @transfer.from_business.name %></strong> enterprise to the
  <strong><%= @transfer.to_business.name %></strong> enterprise.
</p>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>The following changes have been made:</p>
    <ul>
      <li class="m-3">
        The <strong><%= @transfer.organization %></strong> organization is now part of the
        <strong><%= @transfer.to_business.name %></strong> enterprise, and is no longer part
        of the <strong><%= @transfer.from_business.name %></strong> enterprise.
      </li>
      <li class="m-3">
        Billing, identity management, 2FA requirements, and other policies are
        now governed by the <strong><%= @transfer.to_business.name %></strong> enterprise.
      </li>
    </ul>
  <% end %>
<% end %>

<hr class="rule">

<% content_for :footer_text do %>
  You’re receiving this email because <strong><%= @transfer.organization %></strong> was transferred from the
  <strong><%= @transfer.from_business.name %></strong> enterprise to the
  <strong><%= @transfer.to_business.name %></strong> enterprise on GitHub.
<% end %>
