<% content_for :header do %>
  Reminder to confirm the invitation for <%= @organization.name %> to join the <%= @business.name %> enterprise
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Enterprise organization invitation", avatar_plus_avatar: [@business, @organization] %>

<p>
  Hello! This is a friendly reminder that you have not yet confirmed the invitation for <%= @organization.name %>
  to join the <%= @business.name %> enterprise on GitHub.
  Head over to <a href="<%= pending_organizations_enterprise_url(@business) %>"><%= pending_organizations_enterprise_url(@business) %></a>
  to complete the transfer of ownership to <%= @business.name %>.
</p>
<p>
  If not confirmed, the invitation will expire in <%= @until_expiry_in_words %>.
</p>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Complete #{@organization.name} transfer of ownership",
      url: pending_organizations_enterprise_url(@business),
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p class="email-body-subtext">
  <strong>Note:</strong> If you get a 404 page, make sure you’re signed in as an owner of
  <strong><%= @business.name %></strong>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to pending_organizations_enterprise_url(@business), pending_organizations_enterprise_url(@business).to_s %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because
  you have not yet confirmed the invitation for <%= @organization.name %> to join an enterprise on GitHub.
<% end %>
