<% content_for :header do %>
  Transferring the <%= @transfer.organization %> organization failed.
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Organization transfer failure", avatar: @transfer.organization %>

<p>
  The transfer of the <strong><%= @transfer.organization %></strong> organization
  from the <strong><%= @transfer.from_business.name %></strong> enterprise
  failed unexpectedly.
</p>

<p>
  Please try transferring the organization again. If the transfer continues to fail, please
  <%= render(Primer::Beta::Link.new(href: contact_url, classes: "Link--inTextBlock")) { "contact GitHub Support" } %>
  for assistance.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(Mail::ButtonComponent.new(
    text: "View #{@transfer.from_business.name} organizations",
    url: enterprise_url(@transfer.from_business),
    classes: "btn-large btn-primary"))
  %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<% content_for :footer_text do %>
  You’re receiving this email because transferring the <strong><%= @transfer.organization %></strong>
  organization failed on GitHub.
<% end %>
