<% checkout_link = enterprise_url(@business) %>
<% content_for :header do %>
  Your upgrade to GitHub Enterprise is still pending
<% end %>

<p>
  Hi <strong><%= @actor.display_login %></strong>!
</p>
<p>
  Your purchase of GitHub Enterprise for the <%= @org.safe_profile_name %> organization is incomplete, but you're almost there!
</p>
<p>
To proceed with the upgrade, confirm your payment information.
</p>
<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Buy GitHub Enterprise",
      url: checkout_link,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to checkout_link, checkout_link.to_s %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because you initiated an upgrade to GitHub Enterprise for the <%= @org.safe_profile_name %> organization on GitHub.
<% end %>
