<% content_for :header do %>
  The <%= @organization.name %> organization was removed from the <%= @business.name %> enterprise.
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Organization removed from enterprise", avatar: @organization %>

<p>
  Hello! The <%= @organization.name %> organization has been removed from the
  <%= @business.name %> enterprise.
</p>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>The following changes have been made:</p>
    <ul>
      <li class="m-3">
        Billing, identity management, 2FA requirements, and other policies are
        no longer governed by the <%= @business.name %> enterprise.
      </li>
      <li class="m-3">
        <% if @plan %>
        The organization has been reverted to the <%= @plan %> plan.
        <% else %>
        The organization has been downgraded to the free plan.
        <% end %>
      </li>
      <li class="m-3">
        Any internal repositories within the organization have been converted to private repositories.
      </li>
    </ul>
  <% end %>
<% end %>

<% if @removed_org_add_payment_info_or_contact_sales %>
  <%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      <p>
        While the <%= @organization.name %> organization has been reverted to the <%= @plan %> plan,
        payment information needs to be added.
      </p>
    <% end %>
  <% end %>

  <%= render(Mail::ContainerComponent.new) do %>
    <%= render(
      Mail::ButtonComponent.new(
        text: "Add Payment Information",
        url: settings_org_billing_tab_url(organization_id: @organization.display_login, tab: "payment_information"),
        classes: "btn-primary btn-large"
      )
    ) %>
  <% end %>

  <%= render(Mail::SpacerComponent.new) %>

  If you require invoiced payments instead,
  <a href="https://github.com/enterprise/contact?ref_page=/pricing&ref_cta=Contact%20Sales&ref_loc=cards">contact our sales team</a>.
<% end %>

<hr class="rule">

<p class="email-text-small email-text-gray">
  If this was unexpected, please confirm with other owners of the enterprise or organization, or
  <a href="<%= contact_url %>">contact GitHub Support</a>.
</p>

<% content_for :footer_text do %>
  You’re receiving this email because <%= @organization.name %> was removed from the
  <%= @business.name %> enterprise on GitHub.
<% end %>
