<% content_for :header do %>
  Welcome, <%= @business.name %>, to GitHub Premium Support
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Thank you for becoming a GitHub Premium Support customer", avatar: @business %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Below are some resources that provide more information about GitHub Premium Support and our initial response
      times for our different products:
    </p>
    <ul class="ml-4">
      <li>
        <a href="<%= BusinessMailer::DOCS_LINKS[:ghes_sla] %>">
          GitHub Enterprise Server
        </a>
      </li>
      <li>
        <a href="<%= BusinessMailer::DOCS_LINKS[:ghec_sla] %>">
          GitHub Enterprise Cloud
        </a>
      </li>
    </ul>
  <% end %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Your <a href="<%= BusinessMailer::DOCS_LINKS[:account] %>">Enterprise Account</a> is the central place to
      manage the following:
    </p>
    <ul class="ml-4">
      <li>
        <a href="<%= BusinessMailer::DOCS_LINKS[:policies] %>">Enterprise Policies</a>
      </li>
      <li>
        <a href="<%= BusinessMailer::DOCS_LINKS[:license] %>">Enterprise Server Licenses</a>
      </li>
      <li>
        <a href="<%= BusinessMailer::DOCS_LINKS[:entitlements] %>">Enterprise Support Entitlements</a>
      </li>
    </ul>
  <% end %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Please take a moment to review the <a href="<%= BusinessMailer::DOCS_LINKS[:entitlements] %>">support entitled users</a>
      in your enterprise. If you need to <a href="<%= GitHub.support_url %>">contact support</a>, make sure to select your
      enterprise account when creating your ticket so that your ticket is correctly prioritised.
    </p>
  <% end %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Review Support Entitled Users for #{@business.name}",
      url: enterprise_support_index_url(@business),
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <p class="email-body-subtext">
    <strong>Note:</strong> If you get a 404 page, make sure you’re signed in.
  </p>
<% end %>

<% content_for :footer_text do %>
  You're receiving this email because you are entitled to GitHub Premium Support.
<% end %>
