<% org = @business.upgrade_initiated_from_organization %>
<% org_link = org.present? ? settings_org_plans_url(org) : new_organization_url %>
<% content_for :header do %>
  Your purchase of GitHub Enterprise was unsuccessful.
<% end %>

<p>
  Hi <strong><%= @actor.name %></strong>!
</p>
<p>
  Your purchase of GitHub Enterprise for the <%= @business.name %> enterprise was unsuccessful.
</p>
<p>
To complete this purchase, confirm the plan upgrade and proceed to verify your payment information.
</p>
<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Buy GitHub Enterprise",
      url: org_link,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to org_link, org_link.to_s %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because you're an owner of the <%= @business.name %> GitHub Enterprise
  account on GitHub.
<% end %>
