<% content_for :header do %>
  We couldn't remove user @<%= @user.name %> from the <%= @business.name %> enterprise
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Enterprise member removal failed", avatar: @business %>

<p>
  Hello! There’s been a hold up in removing @<%= @user.display_login %> from the <%= @business.name %> enterprise.
</p>

<p>
  <% if @failure == "Organization::NoAdminsError" %>
    @<%= @user.display_login %> could not be removed from the <%= @business.name %> enterprise because this user is the last owner in the following organizations: <%= @organizations.join(", ") %>. You must have at least one owner in each organization.
  <% elsif @failure == "Business::NoAdminsError" %>
    @<%= @user.display_login %> could not be removed from the <%= @business.name %> enterprise because this user is the last owner in the enterprise. You must have at least one owner in your enterprise.
  <% end %>
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  If this was unexpected, please confirm with other owners of the enterprise or organization, or
  <a href="<%= contact_url %>">contact GitHub Support</a>.
</p>

<% content_for :footer_text do %>
  You’re receiving this email because you initiated the removal of @<%= @user.display_login %> from the <%= @business.name %> enterprise.
<% end %>
