<% content_for :header do %>
  You have been removed as <%= @roles.to_sentence %> in the <%= @business.name %> enterprise on GitHub
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Removed as #{@roles.to_sentence} in #{@business.name}", avatar: @business %>

<p>
  Hi <strong><%= @user.safe_profile_name %></strong>,
</p>

<p>
  You’ve been removed as <%= @roles.to_sentence %> in the <%= @business.name %> enterprise on GitHub.
</p>

<% if @org_count > 0 %>
  <p>
    <strong>You can no longer access resources in the following <%= pluralize(@org_count, "organization") %>:</strong>
  </p>

  <p>
    <% @organizations.each do |org| %>
      <strong><%= org.safe_profile_name %></strong> (@<%= org.display_login %>)<br>
    <% end %>
  </p>

  <p>
    Only a person with owner permissions in each organization can restore your membership and
    previous privileges. If you feel like this happened in error, contact a member of each of
    these organizations to let them know you need your access restored. If the person you contact isn’t an
    organization owner <a href="<%= @lookup_org_owner_help_doc_url %>">they can
    look up an organization owner</a> and forward your request to them.
  </p>
<% end %>

<% content_for :footer_text do %>
  You’re receiving this email because you were removed as
  <%= @roles.to_sentence %> in the <%= @business.name %> enterprise on GitHub.
<% end %>
