<% content_for :header do %>
  You have been removed from <%= pluralize(@repo_count, "repository") %> in the
  <%= @business.name %> enterprise
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Removed from repositories in #{@business.name}", avatar: @business %>

<% if @user.present? %>
  <p>
    Hi @<strong><%= @user.display_login %></strong>,
  </p>
<% end %>

<p>
  <strong>You’ve been removed as a collaborator from
  <%= pluralize(@repo_count, "repository") %></strong>
  in the organizations that are part of the <%= @business.name %> enterprise because you don’t
  have two-factor authentication on your user account. The
  <%= @business.name %> enterprise requires all affiliated users to have
  two-factor authentication enabled.
</p>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Turn on two-factor authentication",
      url: settings_security_url(via_email: "1"),
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  <strong>What happens after that?</strong>
</p>

<p>
  After you’ve enabled two-factor authentication, contact a member of each of your
  organizations to let them know you want your access restored.
</p>

<p>
  Repositories you have been removed from:
</p>

<p>
  <% @repository_names.each do |repo_name_with_owner| %>
    <%= repo_name_with_owner %><br>
  <% end %>
</p>

<p>
  Only a person with owner permissions in each organization can restore your
  previous privileges directly. If the person you contact isn’t an
  organization owner, <a href="<%= @lookup_org_owner_help_doc_url %>">they can
  look up an organization owner</a> and forward your request to them.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Trouble with the button above? Copy and paste the following link into your
  browser:
  <br>
  <%= link_to settings_security_url,
              settings_security_url(:via_email => "1") %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because you were removed from
  <%= pluralize(@repo_count, "repository") %> in organizations that are part of the
  <%= @business.name %> enterprise on GitHub.
<% end %>
