<% content_for :header do %>
  Your GitHub Enterprise Server license usage import <% if @success %>is complete<% else %>failed<% end %>.
<% end %>

<%= render(Mail::ContainerComponent.new) do %>
  <p> The license usage import <% if @success %>has completed processing and is now visible in the Enterprise licensing settings<% else %>did not complete due to an error<% end %>. </p>

  <% unless @success %>
    <p> When retrying, please verify you are uploading the file that you downloaded from your GitHub Enterprise Server. </p>
  <% end %>

  <%= render(Mail::SpacerComponent.new) %>

  <%= render(
    Mail::ButtonComponent.new(
      text: "View Enterprise licensing settings",
      url: @url,
      classes: "btn-primary btn-large"
    )
  ) %>

  <%= render(Mail::SpacerComponent.new(size: 8)) %>

  <hr>

  <%= render(Mail::SpacerComponent.new(size: 8)) %>

  Use this link if the button is not working: <br>
  <a href="<%= @url %>" class="wb-break-all"><%= @url %></a>

  <p> If you have any questions you can submit a request at <a href="https://enterprise.githubsupport.com/hc/en-us/requests/new">https://enterprise.githubsupport.com/hc/en-us/requests/new</a> </p>
<% end %>

<% content_for :footer_text do %>
  You are receiving this because you uploaded a license usage import for the <%= @upload.business.name %> enterprise account.
<% end %>
