<% content_for :header do %>
  Your GitHub Enterprise trial has ended today.
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Your GitHub Enterprise account", avatar: @business %>
<p>
  Hi <strong><%= @actor.name %></strong>!
</p>

<p>
  Your GitHub Enterprise trial period has ended.<br>
  Your account, <%= @business.name %>, has lost access to all GitHub Enterprise features and any organizations created during this trial.
</p>
<p>
  To continue using GitHub Enterprise, manage your current projects,
  and save all your past work, you will need to <%= @business.metered_plan? ? "activate" : "upgrade" %> your account.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: @business.metered_plan? ? "Activate GitHub Enterprise" : "Buy GitHub Enterprise",
      url: @upgrade_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new(size: 24)) %>

<p>
  <% if @deletion_scheduled %>
  This account will automatically be deleted in 90 days if you don't upgrade to a paid account.
  <% end %>
  If you don't want to continue using GitHub Enterprise, you can <%= link_to "cancel the trial", settings_billing_enterprise_url(@business)+"#cancel-trial", class: "color-mute" %> to delete the account immediately.
</p>

<%= render(Mail::SpacerComponent.new) %>

<p class="email-body-subtext">
  <strong>Note:</strong> If you get a 404 page, make sure you’re signed in as an owner of
  <strong><%= @business.name %></strong>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to @upgrade_url, @upgrade_url.to_s %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because the <%= @business.name %> GitHub Enterprise trial has ended.
<% end %>
