<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# The following is legal copy; do not change without consulting GitHub Legal %>
<p class="text-small color-fg-muted mt-3">
  By clicking "Add Successor" below, I acknowledge that I am the owner of the @<%= current_user.display_login %> account, and am
  authorizing GitHub to transfer content within that account to my GitHub Successor, <span class="js-designated-user" data-autocomplete-text="designated below">designated below</span>, in the event
  of my death. I understand that this appointment of a successor does not override legally binding next-of-kin rules
  or estate laws of any relevant jurisdiction, and does not create a binding will.
  <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/github/setting-up-and-managing-your-github-user-account/maintaining-ownership-continuity-of-your-user-accounts-repositories">
    Learn more about account successors.
  </a>
</p>
<%= form_tag form_action, :class => "mt-4 js-add-user-form", :method => :post, :role => "search", :"aria-label" => "Designate Successor" do %>
  <label for="search-user">Search by username, full name, or email address</label>
  <div class="mt-2 clearfix">
    <div class="col-md-10 col-12 float-left pr-md-2 pr-0 input-group auto-search-group">
      <auto-complete src="<%= suggestions_url %>" class="d-block position-relative js-add-user-completer" for="designate-successor-complete-results">
        <input
          type="text"
          name="login"
          id="search-user"
          class="form-control auto-search-input"
          autofocus>
          <ul id="designate-successor-complete-results" class="autocomplete-results"></ul>
        </auto-complete>
        <%= primer_octicon(:person) %>
         <span class="input-group-button">
           <%= render Primer::ButtonComponent.new(type: :submit, classes: "js-add-new-user") do %>Add Successor<% end %>
         </span>
       </div>
    </div>
  <% end %>
