<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% user = successor_invite.invitee %>
<div class="Box-row d-flex flex-justify-between">
  <a class="no-underline" href="<%= user_path(user) %>">
    <%= avatar_for user, 28, :class => "avatar v-align-middle" %>
    <%= user.display_login %>
  </a>

  <% if successor_invite.accepted? %>
    <div class="text-small color-fg-danger text-bold m-1 pr-1">
      <%= form_tag unset_successor_path(login: user.display_login),
                   :method => "put",
                   :class => "inline-form v-align-middle" do %>
        <input class="btn btn-sm btn-danger" type="submit" value="Revoke">
      <% end %>
    </div>
  <% end%>

  <% if successor_invite.pending? %>
    <span>
      <div class="text-small color-fg-danger text-bold pr-1 d-inline-flex">
        <div id="successor-pending" class="text-small color-fg-severe text-bold m-1 pr-1">
          Pending
        </div>
      </div>

      <div class="collaborators collab-list-cell mr-3 d-inline-flex">
        <details class="details-overlay details-reset js-dropdown-details position-relative">
          <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small) do %>
            Copy invite link
            <span class="dropdown-caret"></span>
          <% end %>

          <div class="dropdown-menu dropdown-menu-sw p-3 mt-2" style="width: 360px;">
            <h4 class="mt-0 mb-1 color-fg-default">Copy invite link</h4>
            <p class="mt-0 mb-1 color-fg-default">
              This link will only work for <%= user.display_login %>.
            </p>
            <div class="input-group">
              <input type="text" class="form-control input-monospace input-sm" data-autoselect value="<%= successor_invite.permalink %>" aria-label="Copy and share invite link <%= successor_invite.permalink %>" readonly autofocus>
              <div class="input-group-button">
                <%= render Primer::Beta::ClipboardCopy.new(value: successor_invite.permalink, "aria-label": "Copy to clipboard", classes: "btn btn-sm") %>
              </div>
            </div>
          </div>
        </details>
      </div>

      <%= form_tag cancel_successor_invitation_path(login: user.display_login),
                  :method => "put",
                  :class => "inline-form v-align-middle d-inline-flex" do %>
        <input class="btn btn-sm btn-danger" type="submit" value="Cancel">
      <% end %>
    </span>
  <% end %>

  <% if successor_invite.declined? %>
    <div class="text-small color-fg-danger text-bold pr-1">
      <div id="successor-pending" class="text-small color-fg-danger text-bold m-1 pr-1">
        Declined
      </div>
    </div>
  <% end %>
</div>
