<div class="border-top d-lg-flex flex-justify-between pt-4 pt-md-5 mb-4 mb-sm-8">
  <div class="col-lg-4 mb-4 mb-lg-0">
    <h2 class="readme-heading-2 readme-heading--condensed text-uppercase mb-2">
      <%= @topic[:name] %>
    </h2>

    <%= link_to readme_topic_path(@topic[:slug]), class: "d-block d-sm-inline no-underline text-semibold text-uppercase arrow-target-mktg readme-text-blue text-center py-3 f4-mktg", style: "letter-spacing:0.05em;" do %>
      See all <%= svg("site/icons/chevrow.svg", class: "octicon") %>
    <% end %>
  </div>

  <div class="d-sm-flex col-lg-8 gutter-sm">
    <% @stories.take(2).each do |story| %>
      <div class="col-sm-6 mb-6 mb-sm-0" <%= test_selector "story" %>>
        <div class="mb-4">
          <%= render Site::Readme::Shared::LinkImgComponent.new(
            story: story,
            image: "hero",
            lazyload: true,
            topic_tag: false,
            dimensions: {
              width: 1000,
              height: 600
            }
          ) %>
        </div>

        <%= render Site::Readme::Shared::LinkTextComponent.new(
          story: story,
          subtitle: false
        ) %>
      </div>
    <% end %>
  </div>
</div>
