<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2) do %>Linked members<% end %>
<% end %>

<div class="d-flex table-list-header table-list-header-next">
  <span class="table-list-heading table-list-header-meta flex-auto" <%= test_selector "linked-identities-list" %>>
    <%= pluralize(view.linked_identity_list.count, "linked member")  %>
    in <%= view.member.name %>
  </span>
</div>

<% view.linked_identity_list.each do |identity| %>
  <ul <%= test_selector "linked-identities-card" %>>
    <%= render Businesses::UserListCardComponent.new(
      user: identity.user,
      user_link: view.user_sso_identity_path(identity.user),
      user_link_data_options: hovercard_data_attributes_for_user(identity.user),
      primary_name: view.identity_primary_name(identity),
      secondary_name: view.identity_secondary_name(identity),
      subtitle: identity.guid,
      spammy: identity.user&.spammy?,
      display_login: identity.user&.display_login
    ) %>
  </ul>
<% end %>
<div class="paginate-container" <%= test_selector "pagination" %>>
  <%= will_paginate(view.linked_identity_list, page: current_page) %>
</div>
