<% page_info title: "Invite owners", stafftools: stafftools_enterprise_path(this_business) %>

<% description = capture do %>
  <%= invite_or_add_action_word(enterprise_managed: this_business.enterprise_managed_user_enabled?) %> members who will need full administrative rights to the organization. <%= profile_link(current_user, class: "css-truncate css-truncate-target text-bold") %> is automatically an owner.
<% end %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "#{ invite_or_add_action_word(enterprise_managed: this_business.enterprise_managed_user_enabled?) } owners",
    back_to_link_path: enterprise_organizations_path(this_business),
    back_to_link_text: "organizations",
    hide_header: true,
    header_description: description
} do %>
  <div class="setup-form-container col-9">
    <% if this_business.saml_sso_enabled? && !scim_managed_enterprise?(this_business) %>
      <%= render(Primer::Alpha::Banner.new(mb: 3)) do %>
        Membership in this organization is managed by your
        <a class="Link--inTextBlock" href="<%= settings_security_enterprise_path(this_business.slug) %>">SAML Identity Provider</a>.
        Owners you invite will not be able to accept the invitation, or will be removed from the organization, unless they are provisioned with the Identity Provider.
      <% end %>
    <% end %>

    <div class="subnav subnav-bordered border-bottom-0 subnav-flush">
      <%= form_tag add_owner_enterprise_organization_path(this_business.slug, current_organization) do %>
        <% if Rails.env.development? && params[:fakestate] %>
          <input type="hidden" name="fakestate" value="<%= params[:fakestate] %>">
        <% end %>

        <label for="search-member">Search by username, or full name</label>
        <div class="input-group mt-2">
          <auto-complete src="<%= org_invitations_invitee_suggestions_path(current_organization) %>" for="new-org-members-complete-results">
            <div class="auto-search-group">
              <input type="text" name="member" id="search-member" class="form-control auto-search-input input-block">
              <%= primer_octicon(:person) %>
              <ul id="new-org-members-complete-results" class="autocomplete-results"></ul>
            </div>
          </auto-complete>
          <div class="input-group-button">
            <% action_label = this_business.bypass_admin_invites? ? "Adding..." : "Inviting..." %>
            <%= render Primer::Beta::Button.new(
              type: :submit,
              scheme: :primary,
              classes: "js-auto-complete-button rounded-left-0",
              "data-disable-with": action_label
            ) do %>
              <%= invite_or_add_action_word(enterprise_managed: this_business.enterprise_managed_user_enabled?) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% if this_business.bypass_admin_invites? %>
      <p class="h5"><%= pluralize(current_organization.admins.count, "owner") %></p>
      <div class="mb-4 border-top">
        <% current_organization.admins.each do |admin| %>
          <div class="d-flex flex-items-center border-bottom py-3">
            <%= linked_avatar_for(admin, 32, img_class: "avatar mr-3") %>
            <div class="flex-auto">
              <div <%= test_selector "organization-card-name" %>>
                <%= profile_link(admin, class: "f5") %>
              </div>
              <% if admin.profile_name %>
                <span class="color-fg-muted f6 d-block"><%= admin.profile_name %></span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% elsif owner_invitations.any? %>
      <p class="h5">Inviting <%= pluralize(owner_invitations.count, "owner") %></p>
      <div class="mb-4 border-top">
        <% owner_invitations.reverse_each do |invitation| %>
          <div class="d-flex flex-items-center border-bottom py-3" data-login="<%= invitation.invitee&.display_login %>">
            <% if invitation.invitee.present? %>
              <%= linked_avatar_for(invitation.invitee, 32, img_class: "avatar mr-3") %>
              <div class="flex-auto">
                <div <%= test_selector "organization-card-name" %>>
                  <%= profile_link(invitation.invitee, class: "f5") %>
                </div>
                <% if invitation.invitee.profile_name %>
                  <span class="color-fg-muted f6 d-block"><%= invitation.invitee.profile_name %></span>
                <% end %>
              </div>
            <% else %>
              <%= primer_octicon(:mail, height: 32, color: :muted, mr: 3) %>
              <div class="flex-auto">
                <span><%= invitation.email %></span>
              </div>
            <% end %>
            <div>
              <%= form_tag cancel_invitation_enterprise_organization_path(this_business.slug, current_organization),
                method: :delete do %>
                <input type="hidden" name="invitation_id" value="<%= invitation.id %>">
                <%= render Primer::Beta::Button.new(
                  type: :submit,
                  "data-disable-with": ""
                ) do %>
                  Cancel invitation
                <% end %>
              <% end %>
            </div>
          </div>
      <% end %>
      </div>
    <% end %>

    <%= render(Primer::Beta::Button.new(
      tag: :a,
      href: finish_enterprise_organization_path(this_business, current_organization),
      scheme: :primary,
    )) { "Finish" } %>
  </div>
<% end %>
