<% page_info title: "Pending Organizations · #{this_business.name}",
  stafftools: stafftools_enterprise_path(this_business),
  selected_link: :business_pending_organizations %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Pending organizations",
    back_to_link_path: enterprise_organizations_path(this_business),
    back_to_link_text: "organizations"
  } do %>
    <div id="business-pending-organizations-list">
      <% if created_invitations.any? || accepted_invitations.any? %>
        <% if accepted_invitations.any? %>
          <div class="mb-6">
            <h3>
              <%= pluralize(accepted_invitations.count, "organization") %> <%= accepted_invitations.count > 1 ? "need" : "needs" %> final approval
            </h3>
            <p class="d-flex flex-column color-fg-muted">
              <span>
                Once approved, the organization's ownership and billing will be transferred to <%= this_business.name %>'s enterprise account.
              </span>
            </p>
            <div class="border rounded-2 border-bottom-0 mt-3">
              <% accepted_invitations.each do |invitation| %>
                <div class="d-flex flex-items-center flex-justify-between border-bottom color-border-muted">
                  <div>
                    <%= render Businesses::Organizations::OrganizationCardComponent.new \
                      organization: invitation.invitee,
                      business: this_business,
                      subtitle: "Invitation accepted #{time_ago_in_words(invitation.accepted_at)} ago" %>
                  </div>
                  <div class="d-flex flex-items-center mr-3">
                    <%= form_tag \
                      cancel_pending_enterprise_organization_invitation_path(
                        this_business,
                        invitation.invitee.display_login,
                        return_to_business: true,
                        initiated_from: "enterprise"
                      ),
                      method: :post do %>
                      <%= render Primer::Beta::Button.new(
                        type: :submit,
                        scheme: :link,
                        test_selector: "invitation-#{invitation.id}-cancel-button") do %>
                        Cancel
                      <% end %>
                    <% end %>
                    <%= render "businesses/organization_invitations/confirm_modal", invitation: invitation, business: this_business %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if created_invitations.any? %>
          <div>
            <h3>Invite sent</h3>
            <p class="color-fg-muted">An organization administrator must accept the invitation.</p>
            <div class="border rounded-2 border-bottom-0 mt-3">
              <% created_invitations.each do |invitation| %>
                <div class="d-flex flex-items-center border-bottom color-border-muted">
                  <div class="col-12">
                    <%= render Businesses::Organizations::OrganizationCardComponent.new \
                      organization: invitation.invitee,
                      business: this_business,
                      subtitle: "Invitation sent #{time_ago_in_words(invitation.created_at)} ago by #{invitation.inviter.safe_profile_name}" %>
                  </div>

                <div class="col-4 mr-3 text-right">
                  <%= button_to "Cancel",
                    cancel_pending_enterprise_organization_invitation_path(
                      this_business.slug,
                      invitation.invitee.display_login,
                      return_to_business: true,
                      initiated_from: "enterprise"
                    ),
                    method: "post", form_class: "inline-form", class: "btn-link"%>
                  <%= button_to "Resend",
                    resend_pending_enterprise_organization_invitation_path(this_business.slug, invitation.invitee.display_login),
                    method: "post", form_class: "inline-form", class: "btn btn-sm ml-3" %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_visual_icon(icon: "mail") %>

          <% c.with_heading(tag: :h2) do %>
            No invitations
          <% end %>

          <% c.with_description do %>
            No pending organization invitations in this enterprise.
          <% end %>
        <% end %>
      <% end%>
    </div>
<% end %>
