<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# `view` is an instance of Sso::ShowView %>

<%
  primary_name = view.member.name.present? ? view.member.name : view.member.display_login
  secondary_name = view.member.name.present? ? view.member.display_login : nil
%>
<% title = capture do %>
  <span><%= primary_name  %></span>
  <% if secondary_name %>
    <span class="color-fg-muted f2-light"><%= secondary_name %></span>
  <% end %>
<% end %>

<% page_info responsive: false, title: "#{view.target.name} - #{view.page_title}",
             selected_link: :business_people,
             stafftools: stafftools_enterprise_path(view.target) %>

<%= render layout: "businesses/layout", locals: {
  business: view.target,
  title: title,
  back_to_link_path: enterprise_organizations_path(this_business),
  back_to_link_text: "organizations"
} do %>
  <div class="col-9">
    <% if view.external_identity %>
      <%= render "businesses/organizations/group_data", view: view %>

      <%= render(Primer::Beta::Flash.new(scheme: :danger, mt: 3, mb: 6)) do %>
        If you think this organization's external identity was linked incorrectly and needs to be unlinked,
        <% if GitHub.enterprise? %>
          <%= contact_support_snippet(true) %>.
        <% else %>
          please <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a>.
        <% end %>
      <% end %>
      <% if view.linked_identity_list.any? %>
        <%= render "businesses/organizations/linked_identities_list", view: view %>
      <%else %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_visual_icon(icon: "person") %>

          <% c.with_heading(tag: :h2) do %>
            No linked members found
          <% end %>

          <% c.with_description do %>
            No linked external members in this organization.
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
        <% component.with_heading(tag: :h2) do %>Linked identity<% end %>
      <% end %>
      <%= render Primer::BlankslateComponent.new(
        icon: "link",
        title: "No linked account",
        spacious: true,
      ) do %>
        <p>
          It doesn’t look like the <strong><%= view.member %></strong> organization has
          been linked to your enterprise account's SAML identity provider.
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
