<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="col-12 d-flex flex-column px-2">
  <div class="Box rounded-2 d-flex flex-column overflow-hidden width-full flex-auto mb-3">
    <div class="d-flex flex-justify-between px-4 pt-3 pb-0">
      <div class="pr-4">
        <h5><%= template['name'] %></h5>
        <p class="color-fg-muted mb-0 text-small">
          By <a class="Link--inTextBlock" href="https://github.com/devcontainers">devcontainers</a>
        </p>
      </div>
      <div>
        <div class="CircleBadge CircleBadge--small" style="color: blue; background-color: var(--bgColor-white, var(--color-scale-white)); width: 32px; height: 32px;">
              <img class="CircleBadge-icon" src="<%= image_path "icons/actions/#{template['id']}.svg" %>" alt="<%= template['name'] %> logo">
        </div>
      </div>
    </div>
    <div class="d-flex flex-column flex-auto flex-justify-between">
      <div class="d-flex flex-justify-between flex-items-center pt-1 pb-0 px-4">
        <p class="color-fg-muted text-small mb-1">
          <%= template['description'] %>
        </p>
      </div>
          <div class="d-flex flex-justify-between flex-items-center pt-1 pb-3 px-4">
              <%= render Primer::ButtonComponent.new(disabled: false) do %>Configure<% end %>
          </div>
      </div>
  </div>
</div>
