
<% item_type_js_class = case item_type
  when :suggestion
    "js-jump-to-suggestion"
  when :scoped_search
    "js-jump-to-scoped-search d-none"
  when :owner_scoped_search
    "js-jump-to-owner-scoped-search d-none"
  when :global_search
    "js-jump-to-global-search d-none"
end
%>

<li class="d-flex flex-justify-start flex-items-center p-0 f5 navigation-item js-navigation-item <%= item_type_js_class %>" role="option">
  <a tabindex="-1" class="no-underline d-flex flex-auto flex-items-center jump-to-suggestions-path js-jump-to-suggestion-path js-navigation-open <%= item_padding_class %>" href="<%# {suggestion.path} %>" data-item-type="<%= item_type %>">
    <div class="jump-to-octicon js-jump-to-octicon flex-shrink-0 mr-2 text-center d-none">
      <%= primer_octicon(:repo, display: :none, flex_shrink: 0, classes: "js-jump-to-octicon-repo", title: "Repository", "aria-label": "Repository") %>
      <%= primer_octicon(:project, display: :none, flex_shrink: 0, classes: "js-jump-to-octicon-project", title: "Project", "aria-label": "Project") %>
      <%= primer_octicon(:search, display: :none, flex_shrink: 0, classes: "js-jump-to-octicon-search", title: "Search", "aria-label": "Search") %>
    </div>

    <img class="avatar mr-2 flex-shrink-0 js-jump-to-suggestion-avatar d-none" alt="<%# {suggestion.name} %>" aria-label="Team" src="<%# {suggestion.avatar_url} %>" width="28" height="28">

    <div class="jump-to-suggestion-name js-jump-to-suggestion-name flex-auto overflow-hidden text-left no-wrap css-truncate css-truncate-target">
      <%# {suggestion.name} %>
    </div>

    <%# Displayed to the right of each suggestion item when it is a "search" %>
    <div class="border rounded-2 flex-shrink-0 color-bg-subtle px-1 color-fg-muted ml-1 f6 d-none js-jump-to-badge-search">
      <span class="js-jump-to-badge-search-text-default d-none" aria-label="<%= scoped_search_badge_aria_label %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse %>
        <%= scoped_search_badge_text %>
      </span>
      <span class="js-jump-to-badge-search-text-global d-none" aria-label="<%= global_search_badge_aria_label %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse %>
        <%= global_search_badge_text %>
      </span>
      <span aria-hidden="true" class="d-inline-block ml-1 v-align-middle">↵</span>
    </div>

    <%# Displayed to the right of each suggestion item when it is a "jump-to" %>
    <div aria-hidden="true" class="border rounded-2 flex-shrink-0 color-bg-subtle px-1 color-fg-muted ml-1 f6 d-none d-on-nav-focus js-jump-to-badge-jump">
      Jump to
      <span class="d-inline-block ml-1 v-align-middle">↵</span>
    </div>
  </a>
</li>
