<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="flex-auto d-flex flex-justify-between f6 px-3 py-1 text-small color-bg-subtle js-code-nav-retry" data-code-nav-kind="<%= data_kind %>" data-code-nav-url="<%= retry_url %>">
  <%= render Primer::BlankslateComponent.new(
    icon: "search",
    icon_size: :small,
    title: "No #{data_kind} found using a #{display_backend} lookup.",
    title_tag: :h4,
  ) do %>
    Try again with a <%= render(Primer::Beta::Button.new(scheme: :link, font_weight: :normal, data: code_navigation_hydro_click_tracking(action, repo: current_repository, ref: tree_name, language: language, backend: backend, retry_backend: retry_backend, code_nav_context: code_nav_context), classes: "Link--inTextBlock")) { "#{display_backend_name(retry_backend)}" } %> lookup. <%= render(Primer::Beta::Link.new(href: "https://docs.github.com/repositories/working-with-files/using-files/navigating-code-on-github#precise-and-search-based-navigation", classes: "Link--inTextBlock")) { "Learn more." } %>
  <% end %>
</div>
