<div class="flex-auto d-flex flex-justify-between f6 px-3 py-1 text-small color-bg-subtle js-code-nav-retry" data-code-nav-kind="<%= data_kind %>" data-code-nav-url="<%= retry_url %>">
  <span class="v-align-middle">
    Viewing <span class="text-bold"><%= display_backend_name(backend) %></span> results. Try a
    <%=
      render(Primer::Beta::Button.new(
        scheme: :link,
        font_weight: :normal,
        data: code_navigation_hydro_click_tracking(
          action,
          repo: current_repository,
          ref: tree_name,
          language: language,
          backend: backend,
          code_nav_context: code_nav_context,
          retry_backend: retry_backend
        ),
        classes: "Link--inTextBlock"
      )) { "#{display_backend_name(retry_backend)}" } %> lookup.
      <%= render(Primer::Beta::Link.new(
          href: "https://docs.github.com/repositories/working-with-files/using-files/navigating-code-on-github#precise-and-search-based-navigation",
          classes: "Link--inTextBlock"
        )) { "Learn more." }
    %>
  </span>
</div>
