<%
  path_params = {
    q: query,
    language: language,
    blob_path: blob_path,
    ref: ref,
    row: row,
    col: col,
  }
%>

<% if request_timed_out %>
  <%= render partial: "code_navigation/timed_out", locals: { display_backend: display_backend_name(backend), nav_kind: "references", nav_url: code_nav_references_path(current_repository.owner, current_repository, path_params), available_backends: available_backends, backend: backend, code_nav_context: code_nav_context, language: language, retry_backend: retry_backend(backend, available_backends) } %>
<% elsif locations.present? %>
  <div class="d-flex flex-justify-between f6 px-3 py-1 text-small color-bg-subtle">
    <div class="flex-auto color-fg-muted">
      Found
      <span class="color-fg-default text-bold">
        <%= pluralize(locations.count, "reference") %>
      </span>
      in
      <span class="color-fg-default text-bold">
        <%= pluralize(locations_by_path.count, "file") %>
      </span>
    </div>

    <% if aleph_show_proxy_backend_enabled? %>
      <i><%= display_backend_name(backend) %></i>
    <% end%>
  </div>

  <% locations_by_path.each do |loc_path, locations| %>
    <div class="d-flex f6 px-3 py-1 border-top color-bg-default" style="position: sticky; top: 34px; z-index: 1;">
      <span class="flex-auto text-bold css-truncate css-truncate-target" title="<%= loc_path %>" style="max-width: 100% !important;"><%= loc_path %></span><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
    </div>
    <ul class="TagsearchPopover-list">
      <%= render partial: "code_navigation/location", collection: locations, locals: {
            click_tracking_id: "navigate_to_reference",
            ref: ref,
            repos_by_location: repos_by_location,
            language: language,
            backend: backend,
            retry_backend: "",
            commit_oid: commit_oid,
            code_nav_context: code_nav_context,
          }
      %>
    </ul>
  <% end %>
  <% if available_backends.length > 1 %>
    <% retry_backend_value = retry_backend(backend, available_backends) %>
    <% path_params[:backend] = display_backend_name(retry_backend_value) %>
    <%= render partial: "code_navigation/results_backend", locals: { action: "retry_references", retry_backend: retry_backend_value, data_kind: "references", display_backend: display_backend_name(backend), retry_url: code_nav_references_path(current_repository.owner, current_repository, path_params), backend: backend, code_nav_context: code_nav_context, language: language } %>
  <% end %>
<% elsif available_backends.length > 1 %>
  <% retry_backend_value = retry_backend(backend, available_backends) %>
  <% path_params[:backend] = display_backend_name(retry_backend_value) %>
  <%= render partial: "code_navigation/no_results", locals: { action: "retry_references", retry_backend: retry_backend_value, data_kind: "references", display_backend: display_backend_name(backend), retry_url: code_nav_references_path(current_repository.owner, current_repository, path_params), backend: backend, code_nav_context: code_nav_context, language: language } %>
<% elsif backend == :ALEPH_PRECISE || backend == :ALEPH_PRECISE_PREVIEW || backend == :ALEPH_PRECISE_DEVELOPMENT %>
  <% retry_backend_value = :BLACKBIRD %>
  <% path_params[:backend] = display_backend_name(retry_backend_value) %>
  <%= render partial: "code_navigation/no_results", locals: { action: "retry_references", retry_backend: retry_backend_value, data_kind: "references", display_backend: display_backend_name(backend), retry_url: code_nav_references_path(current_repository.owner, current_repository, path_params), backend: backend, code_nav_context: code_nav_context, language: language } %>
<% elsif backend == :BLACKBIRD && is_retry %>
  <% retry_backend_value = :ALEPH_PRECISE %>
  <% path_params[:backend] = display_backend_name(retry_backend_value) %>
  <%= render partial: "code_navigation/no_results", locals: { action: "retry_references", retry_backend: retry_backend_value, data_kind: "references", display_backend: display_backend_name(backend), retry_url: code_nav_references_path(current_repository.owner, current_repository, path_params), backend: backend, code_nav_context: code_nav_context, language: language } %>
<% else %>
  <%= render partial: "code_navigation/no_results_no_retry", locals: { data_kind: "references", display_backend: display_backend_name(backend) } %>
<% end %>
