<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  path_params = {
    q: query,
    language: language,
    blob_path: blob_path,
    ref: ref,
    row: row,
    col: col,
    code_nav_context: code_nav_context,
  }
%>

<% attrs = code_navigation_hydro_click_tracking("click_on_symbol",
                                                repo: current_repository,
                                                ref: ref,
                                                language: language,
                                                backend: backend,
                                                code_nav_context: code_nav_context,
                                                retry_backend: "",
                                                cross_repo_results_included: cross_repo_results_included,
                                                in_repo_result_count: in_repo_result_count,
                                                cross_repo_result_count: cross_repo_result_count,
                                               ) %>
<div class="Details js-details-container" data-hydro-click="<%= attrs["hydro-click"] %>" data-hydro-click-hmac="<%= attrs["hydro-click-hmac"] %>">
  <div class="Details-content--shown position-relative">
    <%= render partial: "code_navigation/tabs", locals: { references_selected: false, ref: ref, language: language, definitions_count: locations.size, backend: backend, code_nav_context: code_nav_context } %>
    <%= render template: "code_navigation/definitions", layout: false, locals: {
          locations: locations,
          locations_by_path: locations_by_path,
          repos_by_location: repos_by_location,
          available_backends: available_backends,
          backend: backend,
          ref: ref,
          language: language,
          commit_oid: commit_oid,
          path_params: path_params.clone,
          request_timed_out: request_timed_out,
          is_retry: is_retry,
          code_nav_context: code_nav_context,
    } %>
  </div>

  <div class="Details-content--hidden">
    <%= render partial: "code_navigation/tabs", locals: {
      references_selected: true,
      ref: ref,
      language: language,
      definitions_count: locations.size,
      backend: backend,
      code_nav_context: code_nav_context,
    } %>
    <div class="position-relative js-code-nav-references">
      <include-fragment src="<%= code_nav_references_path(current_repository.owner, current_repository, path_params) %>">
        <%= render Primer::BlankslateComponent.new(
          description: "Looking for references.",
        ) do |component| %>
          <% component.with_spinner(size: :medium) %>
        <% end %>
      </include-fragment>
    </div>
  </div>
<div>
