<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  provider = this_business.saml_provider
%>
<%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
  <% component.with_heading(tag: :h2, display: :flex, align_items: :center) do %>
    SAML User Provisioning
    <%= render GitHub::BetaFlagComponent.new(font_size: 6, color: :default, ml: 2, classes: "lh-default") %>
  <% end %>
<% end %>
<p class="mb-3">
  User provisioning lets you manage organization membership directly from your Identity Provider. Enable SAML user provisioning to receive organization membership information when users sign in via SAML. SCIM user provisioning is automatically supported, if it is enabled in your Identity Provider.

  <%= link_to "Learn more", "#{GitHub.help_url}/github/setting-up-and-managing-your-enterprise/enforcing-security-settings-in-your-enterprise-account#managing-user-provisioning-for-organizations-in-your-enterprise-account", class: "Link--inTextBlock" %>.<%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
</p>

<template id="enable-saml-deprovisioning-confirmation">
  <div class="Box-header"><h3 class="Box-title">Are you sure you want to enable SAML deprovisioning?</h3></div>
  <div class="Box-body">
    Enabling SAML deprovisioning will invalidate all active user SSO sessions in the <%= this_business.name %> enterprise. <span class="text-emphasized">You</span> and
    <span class="text-emphasized">all of the users in your enterprise</span> will be required to re-authenticate through your configured SAML SSO identity provider
    in order to access enterprise resources. Any user with organization membership that's not reflected in the identity provider's SAML metadata will be
    removed from those organizations, including you.
  </div>
  <% if !provider.saml_groups_valid_for_deprovisioning?(current_user) %>
    <div class="Box-body">
      <span class="text-emphasized">WARNING</span>: You may be missing organization membership information in your identity provider’s SAML metadata.
      Your identity provider needs to be configured to send groups’ membership data or your users will irreversibly lose organization permissions when SAML deprovisioning is enabled.
      It is <span class="text-emphasized">strongly</span> recommended that you update the settings in your identity provider before enabling SAML deprovisioning.
    </div>
  <% end %>
  <%= form_for(provider, url: settings_saml_provider_update_user_provisioning_enterprise_path(this_business.slug), method: :put, html: { class: "Box-footer", "data-turbo": "false"}) do |f| %>
    <%= f.hidden_field :provisioning_enabled %>
    <input type="hidden" value="1" name="business_saml_provider[saml_deprovisioning_enabled]">
    <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Enable SAML deprovisioning<% end %>
  <% end %>
</template>

<div id="user-provisioning-settings" data-warn-unsaved-changes="Changes to your user provisioning settings may not be saved">
  <%= form_for(provider, url: settings_saml_provider_update_user_provisioning_enterprise_path(this_business.slug), method: :put, html: { class: "js-enterprise-user-provisioning-form", "data-turbo": "false" }) do |f| %>
    <div class="form-checkbox">
      <%= f.check_box :provisioning_enabled, class: "js-provisioning-enabled-checkbox" %>
      <%= f.label :provisioning_enabled, "Enable SAML user provisioning" %>
      <input type="hidden" name="business_saml_provider_provisioning_enabled_previously" value="<%= provider.saml_provisioning_enabled? ? '1' : '0' %>">

      <p class="note">
        Enabling SAML user provisioning will use metadata from your Identity Provider to automatically create organization memberships for your users.
      </p>
    </div>

    <div class="ml-4">
      <div class="form-checkbox js-deprovisioning-checkbox deprovisioning-checkbox pt-4 border-top<%= ' checkbox-disabled' unless provider.saml_provisioning_enabled? %>">
        <%= f.check_box :saml_deprovisioning_enabled, class: "js-disable-when-user-provisioning-disabled-checkbox", disabled: !provider.saml_provisioning_enabled? %>
        <%= f.label :saml_deprovisioning_enabled, "Enable SAML user deprovisioning" %>
        <input type="hidden" name="business_saml_provider_saml_deprovisioning_enabled_previously" value="<%= provider.saml_deprovisioning_enabled? ? '1' : '0' %>">

        <p class="note">
          Enabling automatic SAML deprovisioning will cause the users of this enterprise to have their organization memberships synchronized with membership information supplied by the Identity Provider.

          Organization membership will be granted and revoked based on the user's `groups` SAML assertion.
        </p>

        <span class="note pt-1 mt-1 clearfix show-if-disabled">
        <%= primer_octicon(:question) %>
          Your enterprise must enable user provisioning before SAML deprovisioning can be enabled.
      </span>
      </div>
    </div>

    <div class="border-top mt-4 pt-3">
      <button id="save-provisioning-settings" name="save_user_provisioning_settings" value="1" class="btn ml-3" type="submit">Save</button>
    </div>
  <% end %>
</div>
