<% page_info title: "Invoiced sponsorship transfers for @#{sponsor} · Invoiced sponsors · GitHub Sponsors",
  container_xl: true, selected_link: :invoiced_sponsors %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h1) do %>
      <a href="<%= stafftools_sponsors_invoiced_sponsors_path %>">Premium sponsors</a> /
      <a href="<%= stafftools_user_path(sponsor) %>" class="text-bold"><%= sponsor.safe_profile_name %></a>
    <% end %>
    <% if sponsor.sponsors_invoiced? %>
      <% component.with_actions do %>
        <%= render Primer::Beta::Button.new(
          tag: :a,
          href: new_stafftools_sponsors_invoiced_sponsor_sponsorship_path(sponsor),
          size: :small,
          test_selector: "create-sponsorship-button",
        ).with_content("Create sponsorship") %>
      <% end %>
    <% end %>
  <% end %>

  <%= render Primer::Beta::BorderBox.new(padding: :condensed) do |box| %>
    <% box.with_header(display: :flex, align_items: :center) do |header| %>
      <% header.with_title(tag: :h2, flex: :auto) do %>
        Invoiced sponsorship transfers
        <%= render Primer::Beta::Label.new(vertical_align: :middle).with_content(transfers.total_entries.to_s) %>
      <% end %>
      <%= render Primer::Beta::Button.new(
        tag: :a,
        scheme: :primary,
        href: new_stafftools_sponsors_invoiced_sponsor_transfer_path(sponsor),
        size: :small,
        test_selector: "create-transfer-button",
      ).with_content("Create transfer") %>
    <% end %>
    <% box.with_body(p: 0) do %>
      <turbo-frame id="invoiced-transfers-container" data-turbo-action="advance">
        <div id="invoiced-transfers-container-pjax">
          <%= render Stafftools::Sponsors::Invoiced::TransfersListComponent.new(
            transfers: transfers,
            sponsor: sponsor,
          ) %>
        </div>
      </turbo-frame>
    <% end %>
  <% end %>
<% end %>
