<%
  page_info title: "New invoiced sponsorship transfer for @#{sponsor}"
  zuora_payment_id_help_url = "https://github.com/github/sponsors/tree/main/docs/operations-playbook/invoiced-billing#finding-a-zuora-payment-id-associated-with-an-invoice"
%>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>New invoiced sponsorship transfer for @<%= sponsor %><% end %>
  <% end %>

  <div class="Box" style="max-width: 440px;">
    <div class="Box-body">
      <p>
        Please only submit this form once you have verified that GitHub has received payment for the invoice.
      </p>

      <%=
        form_with(
          model: transfer,
          url: stafftools_sponsors_invoiced_sponsor_transfers_path(sponsor)
        ) do |f|
      %>
        <div class="form-group mt-0">
          <div class="form-group-header">
            <label for="sponsorable-login">Sponsorable login</label>
            <div class="note">
              e.g.
              <span class="text-mono">
                homebrew
              </span>
            </div>
          </div>
          <div class="form-group-body">
            <%=
              f.text_field(
                :sponsorable_login,
                required: true,
                class: "form-control",
                id: "sponsorable-login",
                autocomplete: "off",
                autocorrect: "off",
              )
            %>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group-header">
            <label for="zuora-payment-id">Zuora payment ID</label>
            <% if sponsor.zuora_account? %>
              <a href="<%= zuora_account_url_for_customer(sponsor.customer) %>" class="text-small text-normal">
                (@<%= sponsor %>’s Zuora account)
              </a>
            <% end %>
            <div class="note">
              from <a class="Link--inTextBlock" href="<%= zuora_payment_id_help_url %>">Zuora URL</a>, e.g.
              <span class="text-mono">
                2c92a00d6ff0e96f0170168b81415536
              </span>
            </div>
          </div>
          <div class="form-group-body">
            <%=
              f.text_field(
                :zuora_payment_id,
                required: true,
                class: "form-control",
                id: "zuora-payment-id",
                autocomplete: "off",
                autocorrect: "off",
              )
            %>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group-header">
            <label for="amount-in-dollars">Transfer amount</label>
            <div class="note">
              in USD, e.g.
              <span class="text-mono">
                $1,000.50
              </span>
            </div>
          </div>
          <div class="form-group-body">
            <%=
              f.text_field(
                :amount_in_dollars,
                required: true,
                class: "form-control",
                id: "amount-in-dollars",
              )
            %>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group-header">
            <label for="expires-at">Sponsorship Expiration Date</label>
            <div class="note">
              in yyyy-mm-dd format, e.g.
              <span class="text-mono">
                2021-01-31
              </span>
            </div>
          </div>
          <div class="form-group-body">
            <%=
              f.date_field(
                :expires_at,
                required: true,
                class: "form-control",
                id: "expires-at",
                min: (Date.current + 1.day).to_s,
              )
            %>
          </div>
        </div>

        <%
          # Hello future reader!
          # You might be wondering: why do we need the number of months if we know the expiration date?
          # Great question! This is a limitation on the manual process required to make invoiced
          # sponsorships. Some of our corporate partners will give us a big sum of sponsorship $$
          # at once but they want us to distribute it monthly. Invoiced sponsorships are treated as
          # one-time sponsorships so that means someone has to manually re-issue the sponsorship every
          # month. Usually, they will set the expiration to be a bit longer than a month so that we have
          # some buffer to create the sponsorships. Therefore we can't rely on the expiration date to
          # calculate this and we want an accurate number so that it gets reported in our dashboards
          # correctly.
          #
          # If we can automate invoiced sponsorships in the future then this is likely to not be needed
          # anymore!
        %>
        <div class="form-group">
          <div class="form-group-header">
            <label for="number-of-months">How many <strong>months</strong> is this payment for?</label>
            <div class="note">
              <p>
                Used to calculate the "monthly" amount of the sponsorship so it's correctly reported in our dashboards.
              </p>
              Specify in whole months, e.g., <span class="text-mono">2</span>
            </div>
          </div>
          <div class="form-group-body">
            <%=
              f.number_field(
                :number_of_months,
                required: true,
                value: 1,
                class: "form-control",
                id: "number-of-months",
                min: 1,
                step: 1,
              )
            %>
          </div>
        </div>

        <div class="form-group mb-4">
          <div class="form-group-header">
            <label for="privacy-level">Who can see the sponsorship?</label>
          </div>
          <div class="form-checkbox">
            <label class="h5">
              <%=
                f.radio_button(
                  :privacy_level,
                  "public",
                  required: true,
                )
              %>
              Everyone
            </label>
            <p class="note">
              Others will be able to see the sponsorship.
            </p>
          </div>

          <div class="form-checkbox">
            <label class="h5">
              <%=
                f.radio_button(
                  :privacy_level,
                  "private",
                  required: true,
                )
              %>
              Private
            </label>
            <p class="note">
              Only the sponsorable will be able to see the sponsorship.
            </p>
          </div>
        </div>

        <div class="form-checkbox">
          <%=
            f.check_box(
              :email_opt_in,
              id: "email-opt-in",
            )
          %>
          <label for="email-opt-in">Receive email updates from the sponsorable</label>
          <div class="note">
            The sponsor's email will not be shared
          </div>
        </div>

        <div class="form-checkbox">
          <%=
            f.check_box(
              :send_new_sponsor_email_on_transfer,
              class: "form-checkbox-details-trigger",
              id: "send-new-sponsor-email-on-transfer",
            )
          %>
          <label for="send-new-sponsor-email-on-transfer">Notify sponsorable via email</label>
          <div class="note">
            We’ll let them know they have a new sponsor
          </div>

          <div class="form-checkbox-details form-group">
            <div class="form-group-header">
              <label for="new-sponsor-email-note">Note to sponsorable</label>
              <div class="note">
                Optional, to be included in email
              </div>
            </div>
            <div class="form-group-body">
              <%=
                f.text_area(
                  :new_sponsor_email_note,
                  class: "form-control",
                  id: "new-sponsor-email-note",
                )
              %>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit("Create transfer", class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
