<label
  class="select-menu-item <%= 'disabled' if disabled? %> <%= "d-none" if !owner_option.id %>"
  role="menuitemradio"
  aria-checked="<%= checked? %>"
  <%= "aria-disabled=true" if disabled? %>
  <%= "tabindex=0" if !disabled? %>
  data-is-user-or-org="<%= !!owner_option.id %>"
  data-permission="<%= permission %>"
  data-default="<%= owner_option.default_repo_visibility %>"
  data-default-new-repo-branch="<%= owner_option.default_new_repo_branch %>"
  data-user-show-trade-controls="<%= has_trade_restrictions? %>"
  data-owner-settings-link-prefix="<%= owner_settings_link_prefix %>"
  <% if show_default_branch_settings_link? %>
    data-owner-settings-url="<%= owner_settings_url %>"
  <% end %>
  <% if is_organization? %>
    <% if owner_option.business.present? %>
      data-business-id="<%= owner_option.business.id %>"
      data-business-name="<%= owner_option.business.name %>"
    <% end %>
    data-org-allow-internal-repos="<%= org_allow_internal_repos? %>"
    data-org-allow-private-repos="<%= org_allow_private_repos? %>"
    data-org-allow-public-repos="<%= org_allow_public_repos? %>"
    data-org-name="<%= owner_option.display_login %>"
    data-org-private-restricted-by-plan="<%= !org_can_add_private_repo? %>"
    data-org-show-trade-controls="<%= has_trade_restrictions? %>"
    data-org-show-upgrade="<%= org_show_upgrade? %>"
    data-viewer-is-org-admin="<%= org_adminable_by_current_user? %>"
  <% end %>
  <%= test_selector("owner-menu-option-label") %>
>
  <% if !disabled? %>
    <input
      class="<%= class_names(
        "js-repository-owner-choice",
        "js-repository-owner-is-viewer": checked?,
        "js-repository-owner-is-org": is_organization?,
        "d-none": hidden
      ) %>"
      name="owner"
      type="radio"
      value="<%= owner_option.display_login %>"
      <%= "checked" if checked? %>
      <%= test_selector("owner-menu-option-input") %>
    >
  <% end %>
  <% if show_quick_install? %>
    <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
    <template class="js-quick-install-list-template" hidden <%= test_selector("quick-install-list-template") %>>
      <% if render_marketplace_listings? %>
        <%= render partial: "repositories/new/marketplace_apps_list", locals: {
              listings: marketplace_listings,
              account: owner_option,
              instrument_listings: !checked?
            } %>
      <% end %>
    </template>
  <% end %>
  <% if !hidden %>
    <div class="select-menu-item-text" data-menu-button-contents <%= test_selector("menu-item-contents") %>>
      <% if owner_option.id %>
        <%= helpers.avatar_for(owner_option, 20, class: "avatar select-menu-item-gravatar", alt: "") %>
      <% end %>
      <%= owner_option.display_login %>
      <% if disabled? %>
        <% if custom_disabled_message.present? %><%= custom_disabled_message %><% else %>(Insufficient permission)<% end %>
      <% end %>
    </div>
  <% end %>
</label>
