<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% page_info responsive: false, title: "Discussions", selected_link: :discussions %>

<%= render layout: "orgs/settings/layout" do %>
  <% if flash[:success] %>
    <%= render(Primer::Beta::Flash.new(icon: :check, scheme: :success, mb: 2)) do |component| %>
      <span id="org-discussions-success"><%= flash[:success] %></span>
      <% component.with_action do %>
        <%= render(Primer::ButtonComponent.new(
          size: :small,
          tag: :a,
          href: org_discussions_path(current_organization),
          autofocus: true,
          aria: { describedby: "org-discussions-success" }
        )) { "View organization discussions" } %>
      <% end %>
    <% end %>
  <% end %>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Discussions for your organization<% end %>
  <% end %>

  <p>
    Setting up Discussions for your organization will allow you to broadcast updates, answer questions, and hold
    conversations for the entire organization.
  </p>

  <%= form_tag organization_settings_discussions_path(current_organization), method: :put do %>
    <div class="form-checkbox">
      <input
        class="js-org-discussion-toggle"
        type="checkbox"
        name="discussions_enabled"
        value="1"
        id="organization-discussions-feature"

        <%= "checked" if current_organization.discussion_repository.present? %>
      >
      <label for="organization-discussions-feature">Enable discussions for this organization</label>
    </div>

    <div class="ml-3 js-org-level-discussion-form" <%= "hidden" unless current_organization.discussion_repository.present? %>>
      <p>
        Choose a source repository that will host the discussions.
        <ul class="ml-4">
          <li>All discussions on the source repository will be surfaced to the organization Discussions tab.</li>
          <li>Permissions from the repository will be applied to the organization Discussions. By default, all members of the organization will be able to create and comment on discussions.</li>
          <li>Members can now share updates or ask questions to the entire organization.</li>
          <li>For more information, see our documentation.</li>
        </ul>
      </p>

      <%= render(Discussions::Settings::OrgLevelRepoSelectComponent.new(
        organization: current_organization,
        repos_path: organization_settings_discussions_selected_repositories_path(current_organization))) %>
    </div>

    <%= render(Primer::ButtonComponent.new(scheme: :primary, disabled: true, type: :submit, id: "js-submit-button")) { "Save" } %>
  <% end %>
<% end %>
