<p>
  Dear <%= @user_name %>,
</p>

<p>
  The owner of the organization <%= @organization_name %>
  has granted you access to GitHub <%= Copilot.business_product_name %>. Your individual
  license subscription for <strong><%= @user.display_login %></strong> has been automatically cancelled and no further payments
  will be taken from you, as your business is now covering the costs.
</p>

<p>
  We have arranged a refund for any amounts due.
  <b>
    No action is needed, and you don’t need to contact us. You can keep using
    Copilot, and you should see no interruption to your service.
  </b>
  Enjoy!
</p>

<p>
  We will automatically post a <%= @refund_amount.format %> refund to your <% if @payment_type == "paypal" %>PayPal account<% else %>credit card<% end %> within 14 days.
</p>

<div style="display: flex; justify-content: center;"><pre style="font-family: monospace !important; border: 1px solid #e1e4e8; box-shadow: 0.5em 0.5em 0.5em #e1e4e8; margin: 1em; padding: 1em;">
--------------------------------------------------
GITHUB REFUND RECEIPT - <%= @refunded_at %>

User: <%= @user_name %>
Refund: <%= @refund_amount.currency %> <%= @refund_amount.format %>

GitHub, Inc.
88 Colin P.Kelly JR. Street
San Francisco, CA94107

*VAT/GST paid directly by GitHub, where applicable
--------------------------------------------------
</pre></div>

<p class="text-gray-light">
  The organization granting you this GitHub Copilot license will
  receive <%= link_to "user engagement data", Copilot::COPILOT_TRUST_CENTER_PRIVACY %> for all activities associated
  with this account. For more information,
  please review <%= link_to "GitHub's Privacy Statement", Copilot::github_general_privacy_statement_url %>.
</p>
