<p>
  The owner of the <%= @friendly_grantor_type %> <%= @grantor_name %>
  has granted you access to GitHub Copilot for your <strong><%= @user.display_login %></strong> user.
</p>

<p>
  To use GitHub Copilot, you first need to install the GitHub Copilot
  extension. To install for your preferred code editor, check out these Getting
  Started guides:
</p>

<ul>
  <li>
    <%= link_to "Visual Studio Code", DocsUrlConfig.url_for("copilot/get-started-with-copilot", query: {tool: "vscode"}) %>
  </li>

  <li>
    <%= link_to "Visual Studio", DocsUrlConfig.url_for("copilot/get-started-with-copilot", query: {tool: "visualstudio"}) %>
  </li>

  <li>
    <%= link_to "JetBrains", DocsUrlConfig.url_for("copilot/get-started-with-copilot", query: {tool: "jetbrains"}) %>
  </li>

  <li>
    <%= link_to "Neovim", DocsUrlConfig.url_for("copilot/get-started-with-copilot", query: {tool: "vimneovim"}) %>
  </li>
</ul>

<div style="display: flex; background-color: #ddf4ff; border: 1px solid #54aeff; border-radius: 6px; padding: 1em; margin: 1em 0;">
  <div style="flex: 0 0 2em;">
    <style>.octicon-info { fill: #54aeff; }</style>
    <%= primer_octicon(:info) %>
  </div>

  <div style="flex: 1;">
    If you have the extension already installed for your code editor and have it
    open, please restart your editor in order to access GitHub Copilot.
  </div>
</div>

<p>
  Having problems installing?
  <%= link_to "Visit the Feedback forum", "https://github.co/copilot-feedback" %>
</p>

<p>
  Tip: Don’t see your code editor? We currently only support the editors listed
  above. We’re constantly looking to expand the editors we support, so stay
  tuned.
</p>

<p class="text-gray-light">
  The <%= @friendly_grantor_type %> granting you this GitHub Copilot license will
  receive <%= link_to "user engagement data", Copilot::COPILOT_TRUST_CENTER_PRIVACY %> for all activities associated
  with this account. For more information,
  please review <%= link_to "GitHub's Privacy Statement", Copilot::github_general_privacy_statement_url %>.
</p>
