<p>
Dear <%= @user.display_login %>,
</p>

<p>
  You’ve been granted access to GitHub <%= Copilot.business_product_name %> for <%= @trial_length %> days by an owner of the organization <span class="text-bold"><%= @organization_name %></span>.
</p>

<p>
  You need to install the extension to start using GitHub <%= Copilot.business_product_name %>. Check out these Getting Started guides to install it in your preferred code editor:
</p>

<ul>
  <li>
    <%= link_to "Get started with Visual Studio Code", "https://docs.github.com/copilot/getting-started-with-github-copilot?tool=vscode" %>
  </li>

  <li>
    <%= link_to "Get started with Visual Studio", "https://docs.github.com/copilot/getting-started-with-github-copilot?tool=visualstudio" %>
  </li>

  <li>
    <%= link_to "Get started with JetBrains", "https://docs.github.com/copilot/getting-started-with-github-copilot?tool=jetbrains" %>
  </li>

  <li>
    <%= link_to "Get started with Neovim", "https://docs.github.com/copilot/getting-started-with-github-copilot?tool=vimneovim" %>
  </li>

  <li>
    <%= link_to "Explore features available on your plan", Copilot::COPILOT_PRICING_PAGE %>
  </li>
</ul>

<p class="text-bold">
  If you have the extension already installed for your code editor and have it
  open, please restart your editor in order to access GitHub Copilot.
</p>

<p class="text-gray-light">
  Don’t see your code editor? We currently only support the editors listed
  above. We’re constantly looking to expand the editors we support, so stay
  tuned.
</p>

<p class="text-gray-light">
  Having problems installing? <%= link_to "Visit the Feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<p class="text-gray-light">
  The organization granting you this GitHub Copilot license will
  receive <%= link_to "user engagement data", Copilot::COPILOT_TRUST_CENTER_PRIVACY %> for all activities associated
  with this account. For more information,
  please review <%= link_to "GitHub's Privacy Statement", Copilot::github_general_privacy_statement_url %>.
</p>

<% content_for :footer_text do %>
  <p class="text-gray-light">
    You are receiving this because you are the owner of <%= @user.display_login %> account.
  </p>
<% end %>
