<p class="mb-3">
  We hope your organization members are enjoying GitHub Copilot. Your organization <span class="text-bold"><%= @organization.display_login %></span> still has access to the GitHub <%= Copilot.business_product_name %> trial for another 5 days.
</p>

<p class="mb-3">
  To continue using it after your trial expires, contact your sales representative.
</p>

<p class="mb-3">
  Upgrading to the paid version of GitHub Copilot will allow you to:
</p>

<ul>
  <li class="mb-3">Assign an unlimited number of seats to all or selected members of your organization</li>
  <li class="mb-3">Assign seats to teams</li>
</ul>

<%= render(
  Mail::ButtonComponent.new(
    text: "Learn more about GitHub Copilot",
    url: Copilot::COPILOT_DOCUMENTATION,
    classes: "btn-primary btn-medium mb-4"
  )
) %>

<p class="text-gray-light">
  For more information on setting up and using GitHub Copilot <%= link_to "visit the Feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<% content_for :footer_text do %>
  <p class="text-gray-light">
    You are receiving this because you are the owner of <%= @organization.display_login %> account.
  </p>
<% end %>
