<p class="mb-3">
  Your organization’s <span class="text-bold"><%= @organization.display_login %></span> GitHub Copilot trial has expired.
</p>

<p class="mb-3">
  Your organization members can no longer use GitHub Copilot and lost access to these benefits:
</p>

<ul>
  <li class="mb-3">Suggested code completion in most programming languages including Python, JavaScript, TypeScript, Go, and Ruby</li>
  <li class="mb-3">Support for VS Code, Visual Studio, Neovim, and JetBrains IDEs</li>
  <li class="mb-3">GitHub <%= Copilot.business_product_name %> features</li>
</ul>

<% if @mixed_licenses_feature_enabled %>
  <p>
    To continue using Copilot <%= Copilot::BUSINESS_PRODUCT_NAME %>, please contact your enterprise administrator to upgrade to the full version or get in touch with a sales representative.
  </p>
<% else %>
  <p class="mb-0">
    After your trial expires, you can either <%= link_to "continue using Copilot", settings_org_copilot_seat_management_url(@organization) %> if you’ve set up your payment details or purchase Copilot Business.
  </p>

  <%= render(
    Mail::ButtonComponent.new(
      text: "Purchase #{Copilot.business_product_name}",
      url: copilot_business_signup_organization_payment_url(org: @organization),
      classes: "btn-primary btn-medium my-4"
    )
  ) %>
<% end %>
<p class="text-gray-light">
  For more information on setting up and using GitHub Copilot <%= link_to "visit the Feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<% content_for :footer_text do %>
  <p class="text-gray-light">
    You are receiving this because you are an owner of the <%= @organization.display_login %> account.
  </p>
<% end %>
