<p>
Dear <%= @user.display_login %>,
</p>

<p>
  Your GitHub Copilot access has been disabled because your organization's <span class="text-bold"><%= @organization_name %></span> trial has expired.
</p>

<p>
  To continue using GitHub Copilot, contact your organization owners, or get <%= link_to "GitHub #{Copilot.individual_product_name}", "https://github.com/github-copilot/signup" %>.
</p>

<p class="text-gray-light">
  For more information on setting up and using GitHub Copilot <%= link_to "visit the Feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<% content_for :footer_text do %>
  <p class="text-gray-light">
    You are receiving this because you are the owner of <%= @user.display_login %> account.
  </p>
<% end %>
