<%# erblint:counter DeprecatedComponentsCounter 2 %>

<li class="d-flex flex-items-center flex-justify-between js-explore-item-container">
  <div class="flex-auto mr-2 d-flex">
    <% if topic.logo_url %>
      <a href="<%= topic.resource_path %>" target="_blank" class="avatar flex-shrink-0 rounded-2 mr-2 d-inline-block" rel="noopener noreferrer">
        <img src="<%= topic.logo_url %>" width="48" height="48" class="d-inline-block" alt="<%= topic.name %> logo">
      </a>
    <% else %>
      <div class="mr-2 flex-shrink-0" style="width: 48px; height: 48px"></div>
    <% end %>
    <div>
      <a href="<%= topic.resource_path %>" target="_blank" class="text-bold" rel="noopener noreferrer"><%= topic.display_name %></a>
      <% if topic.featured? %>
        <span class="d-inline-block">
          <%= primer_octicon(:star) %>
        </span>
      <% end %>
      <br>
      <%= topic.short_description %>
    </div>
  </div>
  <%= form_tag biztools_update_topic_path(topic.name), :method => :put, :class => "js-update-explore-item-form" do %>
    <% if topic.featured? %>
      <input type="hidden" name="featured" value="0">
      <%= render Primer::ButtonComponent.new("data-disable-with": "Updating&hellip;", type: :submit, variant: :small) do %>Don’t feature<% end %>
    <% else %>
      <input type="hidden" name="featured" value="1">
      <%= render Primer::ButtonComponent.new("data-disable-with": "Updating&hellip;", type: :submit, variant: :small) do %>Feature<% end %>
    <% end %>
  <% end %>
</li>
