<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="text-small">
  <strong class="d-inline-block mr-3">Filter:</strong>
  <a class="d-inline-block mr-3 color-fg-muted" href="<%= biztools_topics_path %>">
    <%= primer_octicon(:check) if featured.nil? %>
    Featured and non-featured
  </a>
  <a class="d-inline-block mr-3 color-fg-muted" href="<%= biztools_topics_path(featured: 1) %>">
    <%= primer_octicon(:check) if featured %>
    Featured only
  </a>
  <a href="<%= biztools_topics_path(featured: 0) %>" class="color-fg-muted">
    <%= primer_octicon(:check) if featured == false %>
    Non-featured only
  </a>
</div>
<h4 class="mb-2 f5 clearfix">
  <% if query.present? || !featured.nil? %>
    <a href="<%= biztools_topics_path %>" class="text-small text-normal color-fg-muted float-right">
      Clear filters
    </a>
  <% end %>
  <%= pluralize(curated_topics.total_entries, "matching topic") %>:
</h4>
<ul class="boxed-group-list standalone">
  <% if curated_topics.total_entries < 1 && !curated_topics.previous_page %>
    <li>No results</li>
  <% end %>
  <% curated_topics.each do |topic| %>
    <%= render partial: "biztools/topics/curated_topic", locals: { topic: topic } %>
  <% end %>
</ul>
<% if curated_topics.next_page %>
  <div class="my-2">
    <%= render Primer::ButtonComponent.new(tag: :a, href: url_with(page: curated_topics.next_page), border_color: :default, mt: 0, py: 2, font_size: 6, test_selector: "next-page-button") do %>
      Next page
    <% end %>
  </div>
<% end %>
