<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Repository Topics · Biztools" %>

<%= render layout: "biztools/biztools" do %>
  <% if topics_repository && !topics_repository.private? %>
    <div class="boxed-group">
      <h3>Import from <%= topics_repository.name_with_owner %></h3>
      <%= form_tag import_biztools_topics_path, method: :post, class: "boxed-group-inner clearfix" do %>
        <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>
          Import Topics
        <% end %>
        Import the latest curated topics from the
        <a class="Link--inTextBlock" href="<%= repository_path(topics_repository) %>"><%= topics_repository.name_with_owner %></a>
        repository. The community contributes descriptions, images, and relevant URLs for
        topics via <%= topics_repository.name_with_owner %>. Import their contributions so they
        appear on GitHub pages.
      <% end %>
    </div>
  <% end %>

  <div class="boxed-group">
    <h3>Curated Topics</h3>
    <div class="boxed-group-inner py-0">
      <div class="my-2">
        Curated topics are topics that have additional information, such as a description or logo.
        Featured topics are just curated topics that also get search callouts and appear on
        <a class="Link--inTextBlock" href="<%= topics_path %>"><%= topics_path %></a>.
      </div>
      <div id="curated-topics">
        <input autofocus type="search" value="<%= query %>" class="js-curated-explore-items-query form-control input-block mb-2 input-sm" aria-label="Search curated topics" placeholder="Search curated topics by name" aria-owns="curated-topics-items" data-url="<%= biztools_topics_path(q: nil, after: nil) %>">
        <div id="curated-topics-items" aria-live="polite">
          <%= render partial: "biztools/topics/curated_topics", locals: { curated_topics: curated_topics, featured: featured, query: query } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
