<%# erblint:counter FlashMigrationCounter 1 %>
<%# `view` is an instance of Milestones::ShowView %>

<div class="js-socket-channel js-milestone-issues"
  data-channel="<%= live_update_view_channel(view.channel) %>"
  data-url="<%= milestone_issues_path(view.milestone.repository.user, view.milestone.repository, view.milestone, closed: params[:closed], page: params[:page]) %>">
  <%= form_tag prioritize_milestone_path(view.milestone.repository.user, view.milestone.repository, view.milestone, :format => "json"),
    method: "PUT",
    class: "js-milestone-sort-form" do %>
    <input name="item_id" type="hidden" class="js-item-id">
    <input name="prev_id" type="hidden" class="js-prev-id">
    <input name="client_uid" type="hidden" class="js-client-uid" value="<%= view.client_uid %>">
    <input name="timestamp" value="<%= view.timestamp %>" type="hidden" class="js-timestamp">
    <div class="flash flash-full flash-warn issue-reorder-warning position-fixed top-0 left-0 right-0 js-milestone-changed d-none" role="alert">
      <div class="container"><%# erblint:disable DeprecatedCustomCss %>
        Oops, this milestone has changed. Please refresh and try again.
        <button class="flash-close js-flash-close" type="button" aria-label="Dismiss this message">
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
        </button>
      </div>
    </div>
    <div class="sr-only js-milestone-reorder-feedback"
      role="status" aria-live="polite"
      data-success-text="Order updated."></div>

    <div class="border-right border-bottom border-left js-navigation-container js-active-navigation-container js-milestone-issues-container <% if view.draggable? %>js-draggable-issues-container<% end %>">
      <include-fragment src="<%= milestone_paginated_issues_path(view.milestone.repository.user, view.milestone.repository, view.milestone, page: 1, closed: params[:closed]) %>">
        <div class="text-center pt-4 pb-4">
          <%= render(Primer::Beta::Spinner.new) %>
        </div>
      </include-fragment>
    </div>
  <% end %>
</div>
