<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<li class="table-list-item milestone<%= view.milestone_due_class %>">
  <div class="table-list-cell milestone-title">
    <h2 class="milestone-title-link">
      <%= link_to view.milestone.title, gh_milestone_path(view.milestone, view.repository) %>
    </h2>

    <div class="milestone-meta">
      <span class="milestone-meta-item">
        <%= milestone_due_text(view.milestone) %>
      </span>
      <span class="milestone-meta-item">
        <%= primer_octicon(:clock) %>
        Last updated <span title="<%= view.milestone.updated_at %>"><%= time_ago_in_words(view.milestone.updated_at) %> ago</span><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      </span>
    </div>

    <% if view.has_description? %>
      <div class="milestone-description js-details-container Details <%= "open" unless view.show_description_preview? %>">
        <% if view.show_description_preview? %>
          <div class="milestone-description-plaintext">
            <%= view.description_preview_html %>
          </div>
        <% end %>

        <div class="milestone-description-html markdown-body">
          <%= view.full_description_html %>
          <button type="button" aria-expanded="true" class="btn-link h5 text-normal expand-more Details-content--hidden js-details-target">
            Show less<%= render Primer::Beta::Octicon.new(icon: "chevron-up", text: :blue, ml: 1) %>
          </button>
        </div>
      </div>
    <% end %>
  </div>

  <div class="table-list-cell milestone-progress">
    <%= render(Primer::Beta::ProgressBar.new(size: :large, mt: 1, mb: 2)) do |component| %>
      <% component.with_item(percentage: view.milestone.progress_percentage) %>
    <% end %>
    <div class="stats d-flex d-inline-flex flex-wrap">
      <div class="stat">
        <%= milestone_percentage_tag(view.milestone) %>
        <span class="stat-label">complete</span>
      </div>
      <div class="stat">
        <%= link_to issues_path(:q => view.milestone_open_query) do %>
          <%= number_with_delimiter view.milestone.open_issue_count %>
          <span class="stat-label">open</span>
        <% end %>
      </div>
      <div class="stat">
        <%= link_to issues_path(:q => view.milestone_closed_query) do %>
          <%= number_with_delimiter view.milestone.closed_issue_count %>
          <span class="stat-label">closed</span>
        <% end %>
      </div>
    </div>

    <% if current_user_can_push? && current_repository_writable? %>
      <div class="f5 mt-2 color-fg-default">
        <%= link_to "Edit", view.edit_path, :class => "d-inline-block mr-2" %>

        <%= form_tag view.toggle_path, :method => :put, :class => "d-inline-block mr-2" do %>
          <% if view.milestone.closed? %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link) do %>Reopen<% end %>
          <% else %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link) do %>Close<% end %>
          <% end %>
        <% end %>

        <%= render layout: "shared/details_dialog", locals: {
          button_class: "color-fg-danger",
          button_text: "Delete",
          title: "Are you sure?"
        } do %>
          <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
            Deletions are final!
          <% end %>
          <div class="Box-body overflow-auto">
            <p>Once you delete this milestone you will not be able to see it again. If you would like to close the milestone, remove any issues from the milestone and it will automatically close.</p>
            <p>Deleting this milestone will not delete or close the associated issues.</p>
          </div>
          <div class="Box-footer">
            <%= form_tag view.delete_path, :method => :delete do %>
              <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Delete this milestone<% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</li>
