<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<%  page_info \
  selected_link: :repo_issues,
  container_xl: true,
  title: "Milestones - #{current_repository.name_with_display_owner}" %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "issues" %>
<% end %>

<%= render layout: "issues/issues" do %>
  <div class="subnav">
    <%= render :partial => "issues/navigation" %>
  </div>
  <%= form_for current_milestone, :url => milestone_path(current_repository.owner, current_repository, current_milestone.number), :html => { :class => "js-milestone-edit-form" }, :method => :put  do |f| %>
    <hr>
    <div>
      <div class="col-8">
        <dl class="form-group">
          <%= f.text_group "Title", :title,
                          :class => "input-lg input-block js-quick-submit",
                          :placeholder => 'Title',
                          :autofocus => 'autofocus',
                          :error => error_for(current_milestone, :title) %>
        </dl>
        <dl class="form-group">
          <dt class="input-label">
            <label for="milestone_due_on">Due date (optional)</label>
          </dt>
          <dd>
            <input type="date" pattern="\d\d\d\d-\d\d-\d\d" placeholder="yyyy-mm-dd" class="form-control" id="milestone_due_on" name="milestone[due_on]" value="<%= current_milestone.due_date %>">
          </dd>
        </dl>
        <dl class="form-group">
          <dt class="input-label">
            <label for="milestone_description">Description</label>
          </dt>
          <dd>
          <div class="write-content">
            <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
              <textarea
                class="form-control js-quick-submit"
                maxlength="<%= Milestone::MAX_DESCRIPTION_LENGTH %>"
                id="milestone_description"
                cols="40" rows="20"
                name="milestone[description]"><%= current_milestone.description %></textarea>
            </text-expander>
          </div>
          </dd>
        </dl>
      </div>
    </div>
    <hr>
    <div class="d-flex flex-wrap-reverse flex-row-reverse milestones-flexbox-gap">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>
        Save changes
      <% end %>

      <% if current_milestone.open? %>
        <button type="submit" class="btn" name="milestone[state]" value="closed">
          Close milestone
        </button>
      <% else %>
        <button type="submit" class="btn" name="milestone[state]" value="open">
          Reopen milestone
        </button>
      <% end %>

      <a href="<%= milestones_path %>" class="btn js-milestone-edit-cancel" data-confirm-changes="Are you sure?">
        Cancel
      </a>
    </div>
  <% end %>
<% end %>
