<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%
  page_info \
    selected_link: :repo_issues,
    container_xl: true,
    title: "Milestones - #{current_repository.name_with_display_owner}"
%>

<%= render layout: "issues/issues" do %>
  <%= render :partial => 'navigation/milestones' %>

  <div class="table-list-header">
    <div class="table-list-filters">
      <div class="table-list-header-toggle states float-left">
        <%= link_to(milestones_path(:state => "open"), :class => "btn-link "+((!params[:state] || params[:state] == 'open') ? 'selected' : '')) do %>
          <%= primer_octicon(:milestone) %>
          <%= @counts[:open] %>
          Open
        <% end %>

        <%= link_to(milestones_path(:state => "closed"), :class => "btn-link "+(params[:state] == 'closed' ? 'selected' : '')) do %>
          <%= primer_octicon(:check) %>
          <%= @counts[:closed] %>
          Closed
        <% end %>
      </div>

      <div class="table-list-header-toggle float-right">
        <details class="details-reset details-overlay select-menu">
          <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "select-menu-button icon-only") do %>
            Sort
          <% end %>
          <details-menu class="select-menu-modal position-absolute right-0" style="z-index:99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header">
              <span class="select-menu-title">Sort</span>
            </div>
            <div class="select-menu-list">
              <a class="select-menu-item" href="<%= milestones_path(state: params[:state]) %>" aria-checked="<%= params[:sort].blank? %>" role="menuitemradio">
                <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                <div class="select-menu-item-text">Recently updated</div>
              </a>
              <%
                  state = params[:state] || "open"
                  sorts = [
                    ["due_date", "desc"],
                    ["due_date", "asc"],
                    ["completeness", "asc"],
                    ["completeness", "desc"],
                    ["title", "asc"],
                    ["title", "desc"],
                    ["count", "desc"],
                    ["count", "asc"],
                  ]
              %>
              <% sorts.each do |sort, direction| %>
                <a class="select-menu-item" href="<%= milestones_path(sort: sort, direction: direction, state: state) %>" aria-checked="<%= params[:sort] == sort && params[:direction] == direction %>" role="menuitemradio">
                  <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                  <div class="select-menu-item-text"><%= milestone_sort_label(sort, direction) %></div>
                </a>
              <% end %>
            </div>
          </details-menu>
        </details>
      </div>
    </div>
  </div>

  <% if @has_milestones_for_state %>
    <include-fragment src="<%= paginate_milestones_path(
      current_repository.user,
      current_repository,
      page: 1,
      state: params[:state],
      sort: params[:sort],
      direction: params[:direction]) %>">
      <div class="text-center pt-4 pb-4">
        <%= render(Primer::Beta::Spinner.new) %>
      </div>
    </include-fragment>
  <% else %>
    <% if current_repository.milestones.count == 0 %>
      <% if current_user_can_push? && current_repository_writable? %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_visual_icon(icon: "milestone") %>

          <% c.with_heading(tag: :h2) do %>
            You haven’t created any Milestones.
          <% end %>

          <% c.with_description do %>
            Use Milestones to create collections of Issues and Pull Requests for a particular release or project.
          <% end %>

          <% c.with_primary_action(href: new_milestone_path(current_repository.owner, current_repository)) do %>
            Create a Milestone
          <% end %>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_visual_icon(icon: "milestone") %>

          <% c.with_heading(tag: :h2) do %>
            No Milestones found!
          <% end %>

          <% c.with_description do %>
            If this project had milestones, we’d show you them here. Promise!
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_visual_icon(icon: "milestone") %>

        <% c.with_heading(tag: :h2) do %>
          We couldn’t find anything!
        <% end %>

        <% c.with_description do %>
          There aren’t any milestones that match. Give it another shot above.
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
