<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%
  highlight ||= :milestones
  page_info \
    selected_link: :repo_issues,
    container_xl: true,
    title: "New Milestone - #{current_repository.name_with_display_owner}"
%>

<%= render layout: "issues/issues" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>New milestone<% end %>
    <% component.with_description do %>
      Create a new milestone to help organize your issues and pull requests. Learn more about <a class="Link--inTextBlock" href="https://docs.github.com/issues/tracking-your-work-with-issues/about-issues">milestones and issues</a>.
    <% end %>
  <% end %>
  <%= form_for @milestone do |f| %>
    <div>
      <div class="col-8">
        <%= f.text_group "Title", :title,
                        class: "input-lg input-block js-quick-submit",
                        placeholder: "Title",
                        autofocus: "autofocus",
                        error: error_for(@milestone, :title) %>
        <dl class="form-group">
          <dt class="input-label">
            <label for="milestone_due_on">Due date (optional)</label>
          </dt>
          <dd>
            <input type="date" pattern="\d\d\d\d-\d\d-\d\d" placeholder="yyyy-mm-dd" class="form-control" id="milestone_due_on" name="milestone[due_on]">
          </dd>
        </dl>
        <dl class="form-group">
          <dt class="input-label">
            <label for="milestone_description">Description</label>
          </dt>
          <dd>
            <div class="write-content">
              <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
                <textarea
                  class="form-control js-quick-submit"
                  maxlength="<%= Milestone::MAX_DESCRIPTION_LENGTH %>"
                  cols="40" rows="20"
                  id="milestone_description"
                  name="milestone[description]"
                  ><%= @milestone.description %></textarea>
              </text-expander>
            </div>
          </dd>
        </dl>
      </div>
    </div>
    <hr>
    <div class="form-actions">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>Create milestone<% end %>
    </div>
  <% end %>
<% end %>
