<div class="d-flex flex-column flex-lg-row">

  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-jetbrains">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Beta
        </div>
        <p class="lh-condensed copilot-waitlist-header">Get GitHub Copilot Chat in JetBrains IDEs</p>

        <p class="text-light mt-4 mb-4">
          Admission to the private beta for <%= link_to "GitHub Copilot Chat", "https://github.co/copilot-chat-jetbrains", class: "Link--inTextBlock" %>
          in JetBrains IDEs is limited to users with an <%= link_to "Individual subscription", Copilot::COPILOT_FOR_INDIVIDUALS_DOCUMENTATION, class: "Link--inTextBlock" %> plan.
          Joining the waitlist does not guarantee access.
        </p>
      </div>
    </div>
  </div>

  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10" data-hpc>
    <div class="copilot-waitlist-section-inner">
      <% if has_cfi_access %>
        <p class="mb-2 h3">About this private beta</p>

        <p class="mb-4">
          If you have access to Copilot through your organization’s (Copilot Business plan) account, please contact your
          organization administrator to ask for access to this private beta.
        </p>

        <%= render(Copilot::BetaSignupFormComponent.new(
          signup_url_path: copilot_chat_jetbrains_waitlist_signup_create_path,
          signup_cta_text: "Join Chat in JetBrains waitlist",
          preview_terms: preview_terms,
          preview_terms_text: "You will receive a separate email when are you accepted into the beta program with installation instructions.",
        )) %>
      <% elsif has_cfb_access %>
        <p class="mb-2 h3">Oops!</p>

        <p class="mb-2">
          Admission to the private beta for <%= link_to "GitHub Copilot Chat", "https://github.co/copilot-chat-jetbrains", class: "Link--inTextBlock" %>
          in JetBrains IDEs is limited to users with an <%= link_to "Individual subscription", Copilot::COPILOT_FOR_INDIVIDUALS_DOCUMENTATION, class: "Link--inTextBlock" %>
          plan. Joining the waitlist does not guarantee access.
        </p>

        <p>
          As a Copilot Business user, please contact your organization administrator to ask your account manager for access to this private beta.
        </p>

        <%= render(Site::ButtonComponent.new(
          role: :button,
          scheme: :muted,
          url: "https://github.co/copilot-ide-chat",
          text: "Learn more about Copilot Chat",
          arrow: true,
          classes: "width-full copilot-waitlist-buy-button"
        )) %>
      <% else %>
        <p class="mb-2 h3">Oops!</p>

        <p class="mb-2">
          Admission to the private beta for <%= link_to "GitHub Copilot Chat", "https://github.co/copilot-chat-jetbrains", class: "Link--inTextBlock" %>
          in JetBrains IDEs is limited to users with an active <%= link_to "GitHub Copilot Individual subscription", Copilot::COPILOT_FOR_INDIVIDUALS_DOCUMENTATION, class: "Link--inTextBlock" %>.
          Copilot users with an Individual plan may request access by joining this waitlist.
        </p>

        <p class="mb-2">
          Joining does not guarantee access. If you have access to Copilot through your organization (Copilot Business plan),
          please contact your organization administrator to ask your account manager for access to this private beta.
        </p>

        <p class="mb-6">
          Customers on Free, Team and self-serve Enterprise plans do not have an account manager and are not eligible for the private beta at this time.
        </p>

        <%= render(Site::ButtonComponent.new(
          role: :button,
          scheme: :muted,
          url: "https://github.com/features/copilot#pricing",
          text: "Compare Copilot plans",
          arrow: false,
          classes: "width-full copilot-waitlist-buy-button"
        )) %>
      <% end %>
    </div>
  </div>
</div>
