<%# view is an instance of RepositoryAdvisories::EventView %>
<div class="TimelineItem" id="<%= view.dom_id %>" data-team-hovercards-enabled>
  <span class="TimelineItem-badge <%= view.badge_color %>"><%= primer_octicon(view.icon) %></span>
  <div class="TimelineItem-body">
    <% if view.actor_id == view.subject_id %>
      <%= render "repos/advisories/events/user", user: view.actor %>
      <%= view.verb %> themselves
    <% else %>
      <%= render "repos/advisories/events/user", user: view.actor %>
      <%= view.verb %>
      <%= render "repos/advisories/events/user", user: view.subject %>
    <% end %>

    as a collaborator

    <a href="#<%= view.dom_id %>" class="Link--secondary"><%= time_ago_in_words_js(view.timestamp) %></a>
  </div>
</div>
