<%# view is an instance of RepositoryAdvisories::EventView %>
<div class="TimelineItem" id="<%= view.dom_id %>" data-team-hovercards-enabled>
  <span class="TimelineItem-badge <%= view.badge_color %>"><%= primer_octicon(view.icon) %></span>
  <div class="TimelineItem-body">
    <%# Historic credit events have the recipient in the actor field rather than the subject %>
    <%= render "repos/advisories/events/user", user: view.subject || view.actor %>

    <%= view.verb %>

    <% if view.show_credit_suffix? %>
      <%= view.credit_suffix %>
    <% end %>

    <% if view.event.credit_type_changed? && view.value_is.present? && view.value_was.present? %>
      <del class="text-bold"><%= view.value_was %></del>
      <ins class="text-bold no-underline"><%= view.value_is == "other" ? "\"#{view.value_is}\"" : view.value_is %></ins>
    <% end %>

    <a href="#<%= view.dom_id %>" class="Link--secondary"><%= time_ago_in_words_js(view.timestamp) %></a>
    <% if view.show_credit_action_button %>
      <div class="float-right">
        <%= button_to view.credit_action_button_path, method: :put, class: "btn btn-sm" do %>
          <%= view.credit_action_button_text %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
