<%# view is an instance of RepositoryAdvisories::EventView %>
<div class="TimelineItem" id="<%= view.dom_id %>" data-team-hovercards-enabled>
  <span class="TimelineItem-badge <%= view.badge_color %>"><%= primer_octicon(view.icon) %></span>
  <div class="TimelineItem-body">
    <%= primer_octicon(:"mark-github", display: :inline_block) %>

    <div class="d-inline-block text-bold author">GitHub</div>

    <% if view.link_to_global_advisory? %>
      <%= link_to "#{view.verb} this", view.global_advisory_path, class: "Link--primary", data: hovercard_data_attributes_for_advisory(ghsa_id: view.advisory_ghsa_id) %>
    <% else %>
      <%= view.verb %> this
    <% end %>

    <a href="#<%= view.dom_id %>" class="Link--secondary"><%= time_ago_in_words_js(view.timestamp) %></a>
  </div>
</div>
