<%# view is an instance of RepositoryAdvisories::EventView %>
<div class="TimelineItem" id="<%= view.dom_id %>" data-team-hovercards-enabled>
  <span class="TimelineItem-badge <%= view.badge_color %>"><%= primer_octicon(view.icon) %></span>
  <div class="TimelineItem-body">
    <%= render "repos/advisories/events/user", user: view.actor %>

    changed the title

    <del class="text-bold"><%= view.value_was %></del>
    <ins class="text-bold no-underline"><%= view.value_is %></ins>

    <a href="#<%= view.dom_id %>" class="Link--secondary"><%= time_ago_in_words_js(view.timestamp) %></a>
  </div>
</div>
