<% if user %>
  <% if user.is_a?(Team) %>
    <%= link_to(user.to_s, team_path(user), class: "author color-fg-inherit Link--secondary text-bold", data: hovercard_data_attributes_for_team(user)) %>
  <% else %>
    <%= linked_avatar_for(user, 16, img_class: "avatar") %>
    <%= profile_link(user, class: "author color-fg-inherit Link--secondary text-bold") %>
  <% end %>
  <%= bot_identifier(user) %>
<% else %>
  <img src="<%= User.ghost.primary_avatar_url(32) %>" alt="" height="16" width="16" class="<%= avatar_class_names(User.ghost) %>">
  <div class="text-bold author"><%= GitHub.ghost_user_login %></div>
<% end %>
