<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%graphql
  fragment Project on Project {
    databaseId
    addCardsLinkResourcePath

    pendingCards: cards(includePending: true, includeTriaged: false) {
      totalCount
    }
  }
%><%# erblint:disable NoGraphqlFragments %>
<% project = Views::Projects::AddCardsLink::Project.new(project) %>
<div class="d-table-cell position-relative hide-sm js-socket-channel js-updatable-content"
  data-url="<%= project.add_cards_link_resource_path %>"
  data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.project_add_cards_link(project.database_id)) %>">
  <%= render Primer::ButtonComponent.new(scheme: :link, vertical_align: :middle, display: :flex, classes: "Link--primary project-header-link no-underline js-show-project-triage flex-items-center", "aria-haspopup": "true") do %>
    <%= primer_octicon(:plus) %> <span class="hide-md ml-1">Add cards</span>
    <% if project.pending_cards.total_count > 0 %>
      (<%= [project.pending_cards.total_count, ProjectCard::PENDING_LIMIT].min %><% if project.pending_cards.total_count > ProjectCard::PENDING_LIMIT %>+<% end %>
       new)
      <span class="pending-cards-status circle position-absolute"></span>
    <% end %>
  <% end %>
</div>
