<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if cards.any? %>
  <% cards.each do |card| %>
    <%= render partial: "projects/card", locals: { card: card, status_direction: "w", include_add_link: true } %>
  <% end %>

  <% if next_page %>
    <div class="pt-2 ajax-pagination-form js-ajax-pagination">
      <%= form_tag project_search_archived_cards_path(project),
          method: :get,
          class: "js-more-search-cards-form" do %>
        <input class="js-search-cards-next-page" name="page" type="hidden" value="<%= next_page %>">
        <input name="query" type="hidden" value="<%= query %>">
        <input name="column_id" type="hidden" value="<%= column_id %>">
        <input name="more" type="hidden" value="1">
        <input type="hidden" name="client_uid" class="js-client-uid-field">
        <%= render Primer::ButtonComponent.new(type: :submit, block: true, "data-disable-with": "Loading more...") do %>More<% end %>
      <% end %>
    </div>
  <% end %>
<% elsif current_page == 1 %>
  <% if filters_present %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No results
      <% end %>

      <% c.with_description do %>
        We couldn't find any archived cards that matched your search.
      <% end %>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No archived cards
      <% end %>

      <% c.with_description do %>
        You haven't archived any cards yet.
      <% end %>
    <% end %>
  <% end %>
<% end %>
