<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%
comments_path = if issue_node.is_a?(PlatformTypes::PullRequest)
                  "#{issue_node.repository.resource_path}/pull/#{issue_node.number}/comment?sticky=true"
                else
                  issue_comments_path(issue_node.repository.owner.display_login, issue_node.repository.name)
                end
%>

<div class="flex-auto overflow-auto" style="height: 0">
  <div class="p-3 d-flex f4 lh-condensed project-comment-title-hover Details js-details-container">
    <%= render partial: "projects/card_issue_details_title_icon", locals: { issue: issue } %>
    <div class="flex-auto overflow-hidden lh-default">
      <%= render partial: "projects/card_issue_details_title", locals: { issue: issue } %>
    </div>
    <div class="d-flex flex-shrink-0">
      <div class="<%= "v-hidden" unless current_repository_writable? && can_modify_issue?(issue) %>">
        <%= render Primer::ButtonComponent.new(scheme: :link, mr: 2, px: 2, classes: "comment-action Link--secondary js-details-target", "aria-expanded": "false", "aria-label": "Edit #{ issue.pull_request? ? "Pull Request" : "Issue" } title") do %><%= render(Primer::Beta::Octicon.new(icon: "pencil")) %><% end %>
      </div>
      <div>
        <%= render Primer::ButtonComponent.new(scheme: :link, classes: "project-pane-close js-hide-project-menu js-hide-project-card-details", "aria-label": "Hide details") do %>
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render partial: "projects/card_issue_details_body", locals: { issue: issue, issue_node: issue_node } %>

  <div class="pb-3 px-3 border-top">
    <% if issue.pull_request? %>
      <%= render partial: "pull_requests/sidebar/show/reviewers", locals: { pull_request: issue.pull_request } %>
    <% end %>
    <%= render partial: "issues/sidebar/show/assignees", locals: { issue: issue } %>
    <%= render partial: "issues/sidebar/show/labels", locals: { issue: issue } %>
    <%= render partial: "issues/sidebar/show/projects", locals: { issue: issue } %>
    <%= render partial: "issues/sidebar/show/milestone", locals: { issue: issue } %>
    <% if issue_node %>
      <create-branch
        data-default-repo="<%= current_repository.name_with_display_owner %>"
        data-default-source-branch="<%= issue.repository.default_branch %>"
        class="discussion-sidebar-item d-block">
        <%= render partial: "issues/sidebar/show/references", locals: { issue: issue } %>
        <%= render(Branch::CreateBranchDialogComponent.new(
          show: logged_in? && BranchIssueReference.creatable_for?(user: current_user, issue: issue, repository: issue.repository),
          src: create_branch_for_issue_form_path(id: issue)
        )) %>
      </create-branch>
    <% end %>
  </div>
</div>

<div class="border-top flex-shrink-0 text-center p-3 color-shadow-medium">
  <a
    href="<%= issue_or_pull_request_path(issue) %>"
    class="<%= class_names(
      "btn width-full",
      "mb-2" => !issue.pull_request?,
    ) %>"
    target="_blank"
    rel="noopener"
    data-ga-click="Project board, go to <%= issue.pull_request? ? "pull request" : "issue" %>, location:sidebar"
  >
    <span class="pr-1">Go to <%= issue.pull_request? ? "pull request" : "issue" %> for full details</span>
    <%= primer_octicon(:"link-external") %>
  </a>
  <%= form_tag comments_path, class: "js-new-comment-form js-needs-timeline-marker-header" do %>
    <% if issue.respond_to?(:closed?) %>
      <input type="hidden" value="<%= issue_node.number %>" name="issue">
      <input type="hidden" class="js-comment-field" name="comment[body]">
      <input type="hidden" name="context" value="project_sidebar">
      <%= render "issues/state_button_wrapper", issue: issue %>
    <% end %>
  <% end %>
</div>
