<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="js-socket-channel js-updatable-content"
    data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.issue(issue)) %>"
    data-url="<%= show_partial_issue_path(id: issue, partial: "projects/card_issue_details_title") %>">
  <% noun = issue.pull_request? ? "Pull Request" : "Issue" %>

  <div class="Details-content--shown">
    <%= link_to issue_or_pull_request_path(issue), class: "Link--primary js-project-card-details-external-link", target: "_blank", rel: "noopener", tabindex: 0 do %>
      <span class="text-bold markdown-title js-issue-title"><%= title_markdown(issue.title) %></span>
      <span class="color-fg-muted">#<%= issue.number %></span>
    <% end %>

    <div class="text-small pt-1">
      <span class="color-fg-muted">Opened in</span>
      <%= link_to current_repository.name_with_display_owner, repository_path(current_repository), class: "color-fg-muted text-bold" %>
    </div>
  </div>

  <% if can_modify_issue?(issue) %>
    <%= form_for issue, method: :put, html: { class: "d-flex flex-column px-2 py-1 Details-content--hidden js-project-card-issue-details-title" } do |f| %>
      <%= f.text_field :title, class: "flex-auto js-quick-submit", autofocus: true, autocomplete: "off", "aria-label": "#{noun} title" %>
      <div class="pt-2">
        <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit, "data-disable-with": "Updating") do %>Save<% end %>
        <%= render Primer::ButtonComponent.new(classes: "js-details-target", "aria-expanded": "true") do %>Cancel<% end %>
      </div>
    <% end %>
  <% end %>
</div>
