<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%graphql
  fragment Project on Project {
    name
    updateStateResourcePath
    closed
    workflows {
      totalCount
    }
    migrationStatus
  }
%><%# erblint:disable NoGraphqlFragments %>
<% project = Views::Projects::ChangeState::Project.new(project) %>
<% reopen_sync_message = "Reopen and sync project" %>
<% reopen_message = "Reopen project" %>
<% if !project.closed? %>
  <%= render Primer::ButtonComponent.new("data-dialog-id": "close-project", variant: :small, float: :right, classes: "js-project-dialog-button", "aria-expanded": "false") do %>Close project<% end %>
  <template id="close-project">
    <div class="d-flex flex-column flex-auto overflow-hidden js-column-form-container">
      <div class="Box-header">
        <h3 class="Box-title">Close project</h3>
      </div>
      <div class="Box-body border-0 rounded-0 m-0 pb-0 overflow-auto">
        <p>Are you sure you want to close <span class="text-bold"><%= project.name %></span>?</p>
        <% if project.workflows.total_count > 0 %>
          <p>Closing the project will <span class="text-bold">pause</span> automation.</p>
        <% end %>
        <%= form_tag project.update_state_resource_path.to_s,
          method: :put,
          class: "pb-3 js-change-project-state-form" do %>

          <input type="hidden" name="client_uid" class="js-client-uid-field">

          <div class="d-flex d-sm-block">
            <button class="btn flex-auto"
                      data-disable-invalid
                      data-disable-with="Closing project..."
                      value="closed"
                      name="state"
                      type="submit">
              Close project
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </template>
<% elsif project.closed? && (!current_user.feature_enabled?(:projects_migration_disallow_reopen_after_migrate) || project.migration_status != "COMPLETED") %>
  <%= form_tag project.update_state_resource_path.to_s,
    method: :put,
    class: "js-change-project-state-form" do %>

    <% if project.workflows.total_count == 0 %>
      <button type="submit" class="btn btn-sm" name="state" value="open"><%= reopen_message %></button>
    <% else %>
      <div class="js-project-change-state-sync-menu-parent BtnGroup float-right">
        <%= render Primer::ButtonComponent.new(variant: :small, group_item: true, float: :left, classes: "js-project-change-state-sync-menu-button", type: :submit) do %>
          <%= reopen_sync_message %>
        <% end %>
        <details class="details-reset details-overlay select-menu position-relative BtnGroup-parent">
          <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, group_item: true, classes: "select-menu-button", "aria-label": "Reopen project options dropdown") do %><% end %>

          <details-menu class="position-absolute select-menu-modal right-0 js-project-change-state-sync-menu" style="z-index: 99; top: 23px;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <input name="state" value="open" type="hidden">
            <label class="select-menu-item" tabindex="0" role="menuitemradio" aria-checked="true">
              <input type="radio" name="sync" value="1" checked required>
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Reopen and sync</span>
                <span class="description">Reopen and sync project with automation events that have occurred while closed.</span>
                <span class="hidden-select-button-text" data-menu-button-text>
                  <%= reopen_sync_message %>
                </span>
              </div>
            </label>
            <label class="select-menu-item" tabindex="0" role="menuitemradio">
              <input type="radio" name="sync" value="0" required>
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Reopen only</span>
                <span class="description">Reopen project without syncing automation events that have occurred while closed.</span>
                <span class="hidden-select-button-text" data-menu-button-text>
                  <%= reopen_message %>
                </span>
              </div>
            </label>
          </details-menu>
        </details>
      </div>
    <% end %>
  <% end %>
<% end %>
