<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
  <!-- Prevent form from ever validating again -->
  <input type="text" class="d-none" data-required-change required>

  <span>
    This note has already been converted to
    <% if card.redacted? %>
      an issue that you do not have access to.
    <% else %>
      <a href="<%= issue_path(card.content) %>">
        <% if card.project.owner_type != "Repository" %>
          <%= card.content.repository.name_with_display_owner %>#<%= card.content.number %>
        <% else %>
          #<%= card.content.number %>
        <% end %>
      </a>
      by <%= link_to card.content.safe_user, user_path(card.content.safe_user), class: "Link--inTextBlock" %>.
    <% end %>
  </span>
<% end %>
