<% repositories.each do |repository| %>
  <li role="option"
      data-autocomplete-value="<%= repository.name %>"
      class="autocomplete-item pt-2 pb-2">
    <% if repository.private? %>
      <%= primer_octicon(:lock) %>
    <% elsif repository.fork? %>
      <%= primer_octicon(:"repo-forked") %>
    <% else %>
      <%= render(Primer::Beta::Octicon.new(icon: "repo")) %>
    <% end %>
    <span class="pl-1 text-bold ws-normal"><%= repository.name %></span>

    <% if repository.description %>
      <p class="f6 mb-0 mt-1 text-normal ws-normal"><%= repository.description %></p>
    <% end %>

    <% unless project %>
      <%= render partial: "project_repository_links/repository_results_badge", locals: { repository: repository, hidden: true } %>
    <% end %>
  </li>
<% end %>
