<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<div class="position-relative d-inline-block js-project-lock-container">
  <button class="btn-link color-fg-muted js-project-lock-info-button" aria-label="Info"><%= primer_octicon(:info) %></button><%# erblint:disable ButtonHasType %>
  <div class="Popover js-prompt d-none right-0 left-0">
    <div class="Popover-message Popover-message--top-left text-left p-4 mt-2 mx-auto Box color-shadow-large" style="width:290px;left:-26px;">
      <h4 class="mb-2 color-fg-default"><%= message %></h4>
      <p class="f5 color-fg-muted">Your project board is in <span class="text-bold">read-only mode</span> while we finish <%= description %>.</p>
      <p class="note">Initiated by @<%= user %></p>
      <button type="submit" class="btn-link color-fg-muted position-absolute p-2 js-close-project-lock-popover" aria-label="Close info" style="top:5px;right:5px;"><%= render(Primer::Beta::Octicon.new(icon: "x")) %></button>
    </div>
  </div>
</div>
