<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="d-flex flex-column flex-auto overflow-hidden js-note-form-container">
  <div class="Box-header">
    <h3 class="Box-title">Edit note</h3>
  </div>
  <div class="Box-body border-0 rounded-0 m-0 py-0 overflow-auto">
    <%= form_tag project_update_note_path(card),
      "data-card-id": card.id,
      "data-warn-unsaved-changes": "Are you sure you want to close this? Your changes will not be saved.",
      method: :put,
      autocomplete: "off",
      class: "pb-3 js-project-note-form" do %>
      <% note_error = card.errors.full_messages.presence %>
      <input type="hidden" name="client_uid" class="js-client-uid-field">
      <dl class="form-group <% if note_error %>errored<% end %>">
        <dt>
          <label for="card_note_text">Note</label>
        </dt>
        <dd class="position-relative js-length-limited-input-container">
          <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
            <textarea type="text" class="form-control js-edit-note-input js-quick-submit js-length-limited-input" name="project_card[note]"
              id="card_note_text"
              data-input-max-length="<%= ProjectCard::MAX_NOTE_LENGTH %>"
              data-warning-length="99"
              data-warning-text="{{remaining}} remaining"
              autofocus required><%= card.note %></textarea>
          </text-expander>
          <p class="js-length-limited-input-warning d-none mt-3 mb-0 text-center"></p>
        </dd>
        <dd class="error">
          <%= note_error.try(:to_sentence) %>
        </dd>
      </dl>

      <div class="d-flex d-sm-block">
        <%= render Primer::ButtonComponent.new(scheme: :primary, flex: :auto, "data-disable-with": "Saving note...", type: :submit, "data-disable-invalid": "") do %>
          Save note
        <% end %>
      </div>
    <% end %>
  </div>
</div>
