<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%graphql
  fragment ProjectProgress on ProjectProgress {
    doneCount
    donePercentage
    inProgressCount
    inProgressPercentage
    todoCount
  }
%><%# erblint:disable NoGraphqlFragments %>
<%
  progress = Views::Projects::ProjectProgress::ProjectProgress.new(progress) unless progress.is_a? ProjectProgress
  tooltip_direction = local_assigns.fetch(:tooltip_direction, "s")
%>
<div class="tooltipped tooltipped-<%= tooltip_direction %>"
    aria-label="<%= progress.done_count %> done / <%= progress.in_progress_count %> in progress / <%= progress.todo_count %> to do"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
  <span class="progress-bar progress-bar-small"><%# erblint:disable DeprecatedCustomCss %>
    <span class="progress d-inline-block color-bg-success-emphasis" style="width: <%= progress.done_percentage %>%">&nbsp;</span><span class="progress d-inline-block color-bg-done-emphasis" style="width: <%= progress.in_progress_percentage %>%">&nbsp;</span>
  </span>
</div>
