<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%= include_staff_bar(view_id: "project-search-results") %>

<% if is_initial_search && pending_cards.any? %>
  <% pending_redacted_cards, pending_visible_cards = pending_cards.partition { |card| card.redacted? && !card.writable_by?(current_user) } %>

  <% if params[:triage] == "show" %>
    <div class="mb-3 js-project-pending-cards-container js-project-column">
      <div class="d-flex mb-2 flex-justify-between flex-items-baseline">
        <p class="mb-0 f5 color-fg-muted flex-auto">
          Triage (<span class="js-column-card-count"><%= pending_cards.size %><% if pending_cards_limited %>+<% end %></span>)
          <small>
            <%= render Primer::ButtonComponent.new(scheme: :link, ml: 2, classes: "js-hide-triage Link--secondary") do %>Hide<% end %>
          </small>
        </p>
        <% if pending_redacted_cards.any? %>
          <div class="color-fg-muted">
            <small class="tooltipped tooltipped-sw tooltipped-multiline" aria-label="A redacted card references something you don’t have access to"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
              <%= primer_octicon(:info) %>
              <%= pluralize(pending_redacted_cards.size, "redacted card") %>
            </small>
          </div>
        <% end %>
      </div>

      <div class="js-project-column-cards js-project-search-results <% if enable_dragging?(project) %>js-project-search-results-drag-container<% end %> <% if enable_drag_by_handle? %>js-drag-by-handle<% end %> js-project-pending-cards">
        <% pending_visible_cards.each do |card| %>
          <%= render partial: "projects/card", locals: { card: card, status_direction: "w", include_add_link: true } %>
        <% end %>
      </div>
    </div>
  <% else %>
    <p class="color-fg-muted mb-2">Triage (<span class="js-column-card-count"><%= pending_cards.size %><% if pending_cards_limited %>+<% end %></span>) <small><%= render Primer::ButtonComponent.new(scheme: :link, ml: 2, font_size: 6, classes: "Link--secondary js-show-triage") do %>Show<% end %></small></p>
  <% end %>
<% end %>

<% if is_initial_search %>
  <p class="mb-2 f5 color-fg-muted">Search results</p>

  <div class="js-project-column-cards js-project-search-results <% if enable_dragging?(project) %>js-project-search-results-drag-container<% end %> <% if enable_drag_by_handle? %>js-drag-by-handle<% end %> js-project-search-cards">
    <%= render partial: "projects/search_result_cards", locals: { project: project, cards: cards, next_page: next_page, query: query } %>
  </div>

  <% if cards.empty? %>
    <div class="mb-3 p-5 text-center color-fg-muted">
      No results
    </div>
  <% end %>
<% else %>
  <%= render partial: "projects/search_result_cards", locals: { project: project, cards: cards, next_page: next_page, query: query } %>
<% end %>
