<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
  container_xl: true,
  title: "Editing Project",
  selected_link: :new_repo_project %>

<%= content_for :header_title do %>
  <a class="Header-link" href="<%= project_path(project) %>"><%= project.name %></a>
  #<%= project.number %>
<% end %>

<%= render layout: "layouts/projects", locals: { project_owner: project.owner } do %>
  <div class="container-md">
    <%= render Primer::Beta::Subhead.new(mt: 0, mb: 0 ) do |component| %>
      <% component.with_heading(tag: :h2) do %>
        Edit <span class="d-inline-block d-lg-none">project</span><span class="d-lg-inline-block d-none"><%= project.name %></span>
      <% end %>
    <% end %>

    <%= render partial: "projects/form", locals: { project: project, project_owner: project.owner } %>

    <hr>

    <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
      <% component.with_heading(tag: :h2, mt: 2) do %>
        Delete <span class="d-inline-block d-lg-none">project</span><span class="d-lg-inline-block d-none"><%= project.name %></span>
      <% end %>
      <% component.with_description do %>Once you delete this project, there is no going back. Please be certain.<% end %>
    <% end %>

    <%= form_tag projects_path(owner: project.owner), method: :delete do %>
      <input type="hidden" name="global_id" value="<%= project.global_relay_id %>">
      <input type="hidden" name="client_uid" class="js-client-uid-field">
      <div class="d-flex d-md-block">
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, flex: :auto, "data-confirm": "Sure you want to delete this project?") do %>Delete project<% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "projects" %>
<% end %>
