<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  page_meta = {
    title: "GitHub Discussions · Developer Collaboration & Communication Tool ·  GitHub",
    description: "Learn about GitHub Discussions, a collaboration tool & forum connecting the developer community. Collaborate on code, ask questions, share ideas, & build connections"
  }

  page_info \
  title: page_meta[:title],
  description: page_meta[:description],
  richweb: {
    title: page_meta[:title],
    url: request.original_url,
    description: page_meta[:description],
    image: image_path("modules/site/social-cards/discussions-social.jpg"),
  }

  available_handles = Site::AvailableHandlesManager.new

  page_ctas = [
    {
      text: "Enable Discussions",
      url: "https://docs.github.com/discussions/quickstart"
    }
  ]
%>

<%= render "site/features/features_nav" %>

<%= render Site::SectionComponent.new(padding: false) do %>
  <%= render Site::HeroComponent.new(
    header: "The home for<br>developer communities",
    text: "Ask questions, share ideas, and build connections with each other&mdash;all right next to your code. GitHub Discussions enables healthy and productive software&nbsp;collaboration.",
    ctas: page_ctas
  ) %>

  <div class="position-relative mb-10 mb-md-12">
    <%= image_tag(
      "modules/site/discussions/hero-glow.png",
      alt: "",
      class: "width-full m-auto position-absolute top-0 left-0 right-0 bottom-0 events-none"
    ) %>

    <div class="col-lg-10 mx-auto">
      <div class="position-relative js-build-in-trigger js-type-in-trigger">
        <%= render Site::ImageComponent.new(
          src: image_path("modules/site/discussions/overview.png"),
          lazy: false,
          width: 2066,
          height: 1090,
          classes: "width-full height-auto color-bg-default rounded-2 box-shadow-default-border-mktg position-relative",
          alt: "Discussions UI",
          sizes: "(max-width: 1024px) 90vw, 1032px",
        ) %>

        <div class="js-build-in-item build-in-scale-up position-absolute color-fg-success px-3 py-2 color-bg-default top-n4 left-4 left-lg-12 f2-mktg text-semibold box-shadow-default-border-mktg" style="border-radius: 2em">
          <%= render(Primer::Beta::Octicon.new("check-circle-fill", size: :medium, vertical_align: :middle, mb: 1)) %>
          <span class="color-fg-subtle">07</span>
        </div>

        <div class="js-build-in-item build-in-scale-up position-absolute color-fg-success px-3 py-2 color-bg-default top-4 top-lg-12 right-n2 right-lg-n7 f2-mktg text-semibold box-shadow-default-border-mktg" style="border-radius: 2em" data-build-delay="200">
          🚀 <span class="color-fg-subtle">19</span>
        </div>

        <div class="js-build-in-item build-in-scale-up d-none d-lg-block position-absolute h2-mktg right-n11" style="top: 50%" data-build-delay="400">
          <span style="opacity: 0.6; display: block; line-height: 1.2;">💬</span>
        </div>

        <div class="js-build-in-item build-in-scale-up d-none d-lg-block position-absolute color-fg-subtle px-3 py-2 color-bg-default bottom-8 right-n10 box-shadow-default-border-mktg rounded-3" data-build-delay="100">
          <%= render(Primer::Beta::Octicon.new("issue-opened", color: :success, mr: 1)) %>
          Converted from issue
        </div>

        <div class="js-build-in-item build-in-scale-up d-none d-lg-block position-absolute p-4 color-bg-default left-n11 box-shadow-default-border-mktg rounded-3" style="top: 35%;" data-build-delay="150">
          <%= render(Primer::Beta::Octicon.new("webhook", color: :sponsors, size: :medium)) %>
        </div>

        <% [
          { filename: "sparkles-fast", size: 128, top: 25, left: 65 },
          { filename: "hearts", size: 256, top: 75, left: 55 },
        ].each do |video| %>
          <%= render "site/features/discussions/video", video: video %>
        <% end %>

        <div class="js-build-in-item build-in-scale-up position-absolute px-3 pt-1 pb-2 px-md-5 py-md-3 color-bg-default bottom-n3 bottom-md-n4 left-n2 left-lg-n6 f2-mktg text-semibold color-fg-success border color-border-success-emphasis box-shadow-default-mktg" style="border-width: 2px !important; border-radius: 2em" data-build-delay="250">
          Answered
        </div>
      </div>
    </div>
  </div>

  <%= render Site::RiverComponent.new(
    header: "Dedicated space for conversations",
    text: "Decrease the burden of managing active work in issues and pull requests by providing a separate space to host ongoing discussions, questions, and&nbsp;ideas.",
    text_placement: :center,
  ) %>

  <div class="col-lg-10 col-xl-9 mx-lg-auto">
    <%= render Site::RiverComponent.new(
      text: "<em>Mark what’s most helpful.</em> Highlight quality responses and make the best answer more discoverable for future community members to find.",
      illustration_size: :large,
      text_placement: :right,
    ) do |c| %>
      <div class="color-bg-default rounded-2 box-shadow-default-border-mktg js-type-in-trigger">
        <div class="p-3">
          <div class="mb-2">
            <%= render Site::AvatarComponent.new(
              handle: available_handles.use("JohnCreek"),
              size: 32,
              classes: "mr-2"
            ) %>
            <strong><%= available_handles.use("JohnCreek") %></strong>
            <span class="color-fg-subtle">on March 22, 2022</span>
          </div>
          <p>Hello fellow octoinvaders! I want to brainstorm new ideas for power-ups. What's the Mona equivalent to coin boxes and mushrooms?</p>

          <%= tag.span(class: "Label Label--large Label--secondary") do %>
            <%= render(Primer::Beta::Octicon.new("arrow-up", vertical_align: :text_top)) %>
            <%= tag.span(6, class: "js-build-number") %>
          <% end %>

          <%= tag.span(class: "Label Label--large Label--secondary px-1") do %>
            <%= render(Primer::Beta::Octicon.new("smiley", vertical_align: :middle, mt: -1)) %>
          <% end %>

          <%= tag.span(class: "Label Label--large Label--secondary") do %>
            👍 <%= tag.span(12, class: "js-build-number") %>
          <% end %>
        </div>

        <div class="p-3 color-bg-success rounded-bottom-2 js-build-in-item build-in-slideY" data-build-delay="300">
          <div class="mb-2">
            <span class="color-fg-success">
              <%= render(Primer::Beta::Octicon.new("check-circle-fill", color: :success, mr: 1)) %>
              Answered by <strong>tonyjaramillo</strong>
            </span>
            <span class="color-fg-subtle">on March 23, 2022</span>
          </div>
          <p>Echoing what <strong>@pifafu</strong> said, I’d love to see Hubot show up as the sidekick delivering the power-ups. He'd give Mona superpowers similar to how GitHub products give developers superpowers. Here is a potential list based on the current features:</p>
          <div class="color-fg-accent">
            View full answer
            <%= render(Primer::Beta::Octicon.new("arrow-down")) %>
          </div>
        </div>
      </div>
    <% end %>

    <%= render Site::RiverComponent.new(
      text: "<em>Thread conversations.</em> Keep context in-tact and conversations on track with threaded comments.",
      illustration_size: :large,
      text_placement: :right,
    ) do |c| %>

      <div class="mb-4"><strong>1 suggested answer</strong> &middot; 5 replies</div>

      <div class="color-bg-default rounded-2 box-shadow-default-border-mktg js-type-in-trigger">
        <div class="p-3 border-bottom">
          <div class="mb-2">
            <%= render Site::AvatarComponent.new(
              handle: available_handles.use("enstyled"),
              size: 32,
              classes: "mr-2"
            ) %>
            <strong><%= available_handles.use("enstyled") %></strong>
            <span class="color-fg-subtle">20 min ago</span>
          </div>
          <p>A power-up could be calling Hubot and they would magically reveal the path and protect Mona for a set period of time.</p>

          <div class="d-flex flex-justify-between flex-items-center">
            <div>
              <%= tag.span(class: "Label Label--large Label--secondary color-bg-secondary") do %>
                <%= render(Primer::Beta::Octicon.new("arrow-up", vertical_align: :text_top)) %>
                <%= tag.span(5, class: "js-build-number") %>
              <% end %>

              <%= tag.span(class: "Label Label--large Label--secondary px-1") do %>
                <%= render(Primer::Beta::Octicon.new("smiley", vertical_align: :middle, mt: -1)) %>
              <% end %>

              <%= tag.span(class: "Label Label--large Label--secondary") do %>
                👀 <%= tag.span(3,
                  class: "js-build-number",
                  data: {
                    "increment-speed": 250
                  }
                ) %>
              <% end %>
            </div>

            <div class="color-fg-muted text-small">
              <span class="js-build-number" data-increment-speed="150">5</span> replies
            </div>
          </div>
        </div>

        <div class="color-bg-subtle rounded-bottom-2">
          <div class="px-3">
            <% [{
              author: "pifafu",
              time: "18 min ago",
              message: "What if Hubot was some sort of provider of power-up and gave different types of power/objects depending on levels?",
              reactions: { "💪" => 3 }
            }, {
              author: "tobiasahlin",
              time: "15 min ago",
              message: "I like the collaboration idea, perfect fit for the characters.",
            }, {
              author: "jesussandreas",
              time: "10 min ago",
              message: "What about a jetpack to make Mona 10x faster for 10s.",
            }, {
              author: "cameronfoxly",
              time: "5 min ago",
              message: "Magic portals could be sweet and add some randomness.",
            }, {
              author: "mdo",
              time: "2 min ago",
              message: "In the same vein, a merge tool could be a cool hint.",
            }].each do |reply| %>
              <div class="TimelineItem flex-items-start js-build-in-item build-in-slideY pb-0">
                <%= render Site::AvatarComponent.new(
                  handle: available_handles.use(reply[:author]),
                  size: 32,
                  classes: "TimelineItem-badge"
                ) %>

                <div class="TimelineItem-body color-fg-default">
                  <strong><%= available_handles.use(reply[:author]) %></strong>
                  <span class="color-fg-subtle"><%= reply[:time] %></span>
                  <%= tag.p(reply[:message]) %>
                    <% reply[:reactions].try(:each) do |reaction, count| %>
                    <%= tag.span(class: "Label Label--large Label--secondary") do %>
                      <%= reaction %>
                      <%= tag.span(count,
                        class: "js-build-number",
                        data: {
                          "increment-speed": 400
                        }
                      ) %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="p-3 border-top js-build-in-item build-in-slideY d-flex">
            <%= render Site::AvatarComponent.new(
              handle: available_handles.use("JohnCreek"),
              size: 32,
              classes: "mr-2"
            ) %>

            <div class="Box flex-1">
              <div class="Box-row color-fg-muted px-2 py-1">
                Write a reply
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= render Site::RiverComponent.new(
      text: "<em>Ask your community with polls.</em> Gauge interest in a feature, vote on a meetup time, or learn more about your community with custom polls.",
      illustration_size: :large,
      text_placement: :right,
    ) do %>
      <div class="color-bg-default p-3 rounded-2 box-shadow-default-border-mktg js-type-in-trigger">
        <div class="color-fg-subtle mb-2">
          <%= render Site::AvatarComponent.new(
            handle: available_handles.use("JohnCreek"),
            size: 32,
            classes: "mr-2"
          ) %>
          <strong class="color-fg-default"><%= available_handles.use("JohnCreek") %></strong>
          <span class="text-normal"><span class="d-none d-sm-inline">created a poll</span> 10 min ago in</span>
          <strong class="color-fg-default">👂Feedback</strong>
        </div>
        <div class="mb-2 h3">Power-up contest</div>
        <p>I got a bunch of really cool ideas from y’all about how Hubot will help Mona in her quest. Now we need to choose the one we’ll implement in the game. Pick your favorite!</p>

        <div class="Box my-3">
          <div class="Box-header">
            <div class="Box-title">Mona needs...</div>
          </div>
          <% {
            "💫 Magic portals" => 24,
            "🤖 Her sidekick Hubot" => 51,
            "🚀 A jetpack" => 25,
          }.each do |title, percentage| %>
            <div class="Box-body">
              <div class="d-flex flex-justify-between flex-items-center mb-2">
                <%= title %>
                <strong>
                  <span class="js-build-number" data-increment-speed="20">
                    <%= percentage %>
                  </span>%
                </strong>
              </div>

              <div class="Progress Progress--large position-relative z-1">
                <div class="Progress-item color-bg-accent-emphasis js-build-in-item build-in-fill" style="width: <%= percentage %>%; animation-duration: <%= percentage * 20 %>ms;"></div>
              </div>
            </div>
          <% end %>
          <div class="Box-footer">
            <div class="d-flex flex-justify-between flex-items-center">
              <div class="color-fg-subtle">
                <span class="js-build-number" data-increment-speed="30">98</span> votes
              </div>
              <%= render(Primer::ButtonComponent.new) { "Vote" } %>
            </div>
          </div>
        </div>

        <%= tag.span(class: "Label Label--large Label--secondary color-bg-secondary") do %>
          <%= render(Primer::Beta::Octicon.new("arrow-up", vertical_align: :text_top)) %>
          1
        <% end %>

        <%= tag.span(class: "Label Label--large Label--secondary px-1") do %>
          <%= render(Primer::Beta::Octicon.new("smiley", vertical_align: :middle, mt: -1)) %>
        <% end %>

        <%= tag.span(
          class: "Label Label--large color-bg-accent color-fg-accent js-build-in-item build-in-scale-fade",
          data: {
            "build-delay": 500
          }
        ) do %>
          🤖 <%= tag.span(
            9,
            class: "js-build-number",
            data: {
              "type-delay": 500,
              "increment-speed": 100,
            }
          ) %>
        <% end %>
      </div>
    <% end %>

    <%= render Site::RiverComponent.new(
      text: "<em>Leverage GraphQL API and webhooks.</em> Decrease maintainer burden by integrating your workflows where your teams already are.",
      illustration_size: :large,
      text_placement: :right
    ) do %>
      <div class="d-none d-md-block position-absolute width-full js-build-in-item build-in-fade">
        <div class="TimelineItem py-7 ml-n1" style="top: -147px; left: 50%;">
          <div class="TimelineItem-badge color-bg-default p-4 ml-n4 border">
            <%= tag.img(
              src: image_path("modules/site/discussions/slack.svg"),
              width: 28,
              height: 28,
              class: "",
              alt: "Slack icon",
              loading: "lazy",
              decoding: "async"
            ) %>
          </div>
        </div>
      </div>

      <div class="color-bg-default height-auto rounded-2 box-shadow-default-border-mktg overflow-hidden mt-md-1">
        <div class="color-fg-on-emphasis px-2 py-2" style="background: #270C28;" aria-hidden="true">
          <div class="d-flex p-1">
            <% 3.times do %>
              <span class="d-inline-block circle ml-1 color-bg-subtle opacity-4" style="width: 10px; height: 10px;"></span>
            <% end %>
          </div>
        </div>

        <div class="d-flex">
          <div class="d-none d-sm-block d-md-none d-lg-block color-fg-on-emphasis" style="background: #441A49;">
            <div class="p-3 border-bottom color-border-done">
              <%= tag.img(
                src: image_path("modules/site/discussions/robotocat.png"),
                width: 24,
                height: 24,
                class: "avatar",
                alt: "Robotocat avatar",
                loading: "lazy",
                decoding: "async"
              ) %>
              <div class="h4 d-inline-block ml-1 mr-lg-3 v-align-middle">OctoSlack</div>
            </div>
            <div class="h5 px-3 py-2">
              Channels
            </div>

            <ul class="list-style-none">
              <li class="d-block px-3 py-1" style="background: #2D639E;">#community</li>
            </ul>
          </div>

          <div class="flex-1">
            <div class="p-3 border-bottom d-flex">
              <div class="h4">#Octoinvader-community</div>
              <div class="flex-1 text-right">
                <% ["ajashams", "tobiasahlin", "aliciabonnington", "enstyled"].each do |username| %>
                  <%= render Site::AvatarComponent.new(
                    handle: available_handles.use(username),
                    size: 24,
                    classes: "ml-n2"
                  ) %>
                <% end %>
              </div>
            </div>
            <div class="p-3">
              <p class="text-small color-fg-muted">Community feed from GitHub Discussions</p>

              <div class="d-flex mt-2 js-build-in-item build-in-slideY" data-build-delay="200">
                <div class="mr-2">
                  <%= tag.img(
                    src: image_path("modules/site/discussions/robotocat.png"),
                    width: 24,
                    height: 24,
                    class: "avatar",
                    alt: "Robotocat avatar",
                    loading: "lazy",
                    decoding: "async"
                  ) %>
                </div>
                <div>
                  <div class="mb-2"><span class="h5">Robotocat</span> <small class="color-fg-muted color-bg-subtle p-1 rounded-2">APP</small> <small class="color-fg-muted opacity-4">10:15AM</small></div>
                  <p>New poll created by <span class="color-fg-accent">johncreek</span></p>

                  <div class="border-left color-border-accent-emphasis pl-3 mb-2">
                    <div class="color-fg-accent h5">#1238 Power-up contest</div>
                  </div>

                  <div class="border-left pl-3">
                    <p>I got a bunch of really cool ideas from y’all about how Hubot will help Mona in her quest. Now we need to choose the one we’ll ...</p>
                    <p class="text-small color-fg-muted d-flex flex-items-center">
                      <%= render Primer::Beta::Octicon.new(icon: "mark-github", mr: 2) %>
                      github/octoinvader/discussions | Mar 23rd
                    </p>
                  </div>
                </div>
              </div>

              <div class="d-flex mt-2 js-build-in-item build-in-slideY" data-build-delay="900">
                <div class="mr-2">
                  <%= tag.img(
                    src: image_path("modules/site/discussions/robotocat.png"),
                    width: 24,
                    height: 24,
                    class: "avatar",
                    alt: "Robotocat avatar",
                    loading: "lazy",
                    decoding: "async"
                  ) %>
                </div>
                <div>
                  <div class="mb-2"><span class="h5">Robotocat</span> <small class="color-fg-muted color-bg-subtle p-1 rounded-2">APP</small> <small class="color-fg-muted opacity-4">10:18AM</small></div>
                  <p><span class="color-fg-accent">ajashams</span> voted in <span class="color-fg-accent">Power-up contest</span></p>
                  <%= tag.span(
                    "✅ 1",
                    class: "Label Label--large color-bg-accent color-fg-accent js-build-in-item build-in-scale-fade",
                    data: { "build-delay": 1500 }
                  ) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render Site::SectionComponent.new(classes: "color-bg-subtle") do %>
 <%= render Site::RiverComponent.new(
    header: "Give each conversation<br>the right context",
    text: "GitHub Discussions is dedicated space for your community to come together, ask and answer questions, and have open-ended conversations.",
    text_placement: :center,
  ) %>

  <div class="col-lg-10 col-xl-9 mx-lg-auto">
    <%= render Site::RiverComponent.new(
      text: "<em>Give your open ended conversations the room they need outside of issues.</em>",
      illustration_size: :large,
      text_placement: :right,
      padding: false,
    ) do |c| %>
      <% c.with_before do %>
        <div class="d-none d-lg-block position-absolute left-3 mt-1">
          <%= render(Primer::Beta::Octicon.new(
            icon: "arrow-right",
            size: :medium,
            color: :sponsors,
          )) %>
        </div>
      <% end %>

      <div class="color-bg-default rounded-2 box-shadow-default-border-mktg js-type-in-trigger">
        <div class="p-3 border-bottom d-flex flex-items-center">
          <div class="position-relative">
            <%= render(Primer::Beta::State.new(
              title: "Open",
              scheme: :open,
              position: :absolute,
              left: 0,
              classes: "js-build-in-item build-out-fade"
            )) do %>
              <%= primer_octicon(:"issue-opened") %>
              Open
            <% end %>

            <%= render(Primer::Beta::State.new(
              title: "Closed",
              scheme: :merged,
              classes: "js-build-in-item build-in-slideX-left"
            )) do %>
              <%= primer_octicon(:"issue-closed") %>
              Closed
            <% end %>
          </div>

          <div class="pl-2">
            <span class="h4">Gameplay improvements</span>
            <span class="color-fg-muted">#1992</span>
          </div>
        </div>

        <div class="px-3">
          <% [{
            author: "cameronfoxly",
            time: "10 min ago",
            message: "Thanks for all the work on the latest updates to our game. This got me thinking, should we think about adding power-ups?",
          }, {
            author: "JohnCreek",
            time: "8 min ago",
            message: "Let's move this conversation out of our mechanics work and ask the community.",
            reactions: {
              "👍" => 5,
              "👀" => 2,
            }
          }].each do |reply| %>
            <div class="TimelineItem flex-items-start js-build-in-item build-in-slideY">
              <%= render Site::AvatarComponent.new(
                handle: available_handles.use(reply[:author]),
                size: 32,
                classes: "TimelineItem-badge"
              ) %>

              <div class="TimelineItem-body color-fg-default mt-0">
                <div class="Box">
                  <div class="Box-header py-2 d-flex flex-justify-between">
                    <div>
                      <strong><%= available_handles.use(reply[:author]) %></strong>
                      <span class="color-fg-subtle">commented <%= reply[:time] %></span>
                    </div>
                    <div class="d-none d-sm-block d-md-none d-lg-block">
                      <%= render(Primer::Beta::Octicon.new(:smiley, color: :subtle, ml: 1, classes: "opacity-4")) %>
                      <%= render(Primer::Beta::Octicon.new(:"kebab-horizontal", color: :subtle, ml: 1, classes: "opacity-4")) %>
                    </div>
                  </div>
                  <div class="Box-body">
                    <%= tag.p(reply[:message]) %>
                      <% reply[:reactions].try(:each) do |reaction, count| %>
                      <%= tag.span(class: "Label Label--large Label--secondary") do %>
                        <%= reaction %>
                        <%= tag.span(count,
                          class: "js-build-number",
                          data: {
                            "increment-speed": 400
                          }
                        ) %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="TimelineItem py-6 ml-5 position-md-absolute">
        <div class="TimelineItem-badge color-border-muted js-build-in-item build-in-fade">
          <%= render(Primer::Beta::Octicon.new("cross-reference")) %>
        </div>
        <div class="TimelineItem-body color-fg-subtle js-build-in-item build-in-fade">
          <span class="color-fg-default">johncreek</span> converted Issue to Discussion
        </div>
      </div>
    <% end %>

    <div class="d-flex mt-n5 mb-n5 mt-sm-n8 mb-sm-n8 my-md-10 js-build-in-trigger js-type-in-trigger">
      <div class="col-md-2">
        <div class="d-none d-md-block ml-md-5" style="height: 50%; border-radius: 0 0 0 1rem; border-bottom: 2px solid var(--borderColor-muted, var(--color-border-muted)); border-left: 2px solid var(--borderColor-muted, var(--color-border-muted));"></div>
      </div>

      <div class="col-md-8">
        <div class="d-block color-bg-default p-4 rounded-2 box-shadow-default-border-mktg position-relative">
          <div class="text-center">
            <div class="CircleBadge CircleBadge--medium color-bg-subtle h2-mktg mx-auto box-shadow-none">
              💡
            </div>

            <div class="my-3">
              <%= render Site::AvatarComponent.new(
                handle: available_handles.use("JohnCreek"),
                size: 16,
                classes: "mr-1"
              ) %>
              <strong><%= available_handles.use("JohnCreek") %></strong>
              <span class="color-fg-muted"><span class="d-none d-sm-inline">created a poll</span> 10 min ago in</span> <strong>👂Feedback</strong>
            </div>

            <div class="h2">Power-up contest</div>
            <p class="px-md-4">Hello fellow octoinvaders! I want to brainstorm new ideas for power-ups. What's the Mona equivalent to coin boxes and mushrooms?</p>
          </div>

          <div class="d-flex flex-justify-between flex-items-center pt-4">
            <div>
              <%= tag.span(class: "Label Label--large Label--secondary color-bg-secondary") do %>
                <%= render(Primer::Beta::Octicon.new("arrow-up", vertical_align: :text_top)) %>
                1
              <% end %>

              <%= tag.span(class: "Label Label--large Label--secondary px-1") do %>
                <%= render(Primer::Beta::Octicon.new("smiley", vertical_align: :middle, mt: -1)) %>
              <% end %>

              <%= tag.span(class: "Label Label--large Label--secondary") do %>
                👀 <%= tag.span(7,
                  class: "js-build-number",
                  data: {
                    "increment-speed": 250
                  }
                ) %>
              <% end %>

              <%= tag.span(class: "Label Label--large Label--secondary") do %>
                👍 <%= tag.span(5,
                  class: "js-build-number",
                  data: {
                    "increment-speed": 250
                  }
                ) %>
              <% end %>
            </div>

            <div class="flex-1 text-right mr-2 d-none d-sm-block">
              <% ["pifafu", "tobiasahlin", "jesussandreas", "mdo"].each do |username| %>
                <%= render Site::AvatarComponent.new(
                  handle: available_handles.use(username),
                  size: 20,
                  classes: "ml-n2"
                ) %>
              <% end %>
            </div>

            <div class="color-fg-muted text-small">
              <%= render(Primer::Beta::Octicon.new(:comment, vertical_align: :text_top, color: :subtle)) %>
              <span class="js-build-number" data-increment-speed="25">44</span> comments
            </div>
          </div>

          <div class="position-absolute border color-border-success-emphasis rounded-2 width-full height-full top-0 left-0 js-build-in-item build-in-fade" style="border-width: 3px !important;"></div>

          <div class="color-fg-success f4 p-4 position-absolute top-0 right-0 js-build-in-item build-in-scale-fade">
            Answered <%= render(Primer::Beta::Octicon.new("check-circle-fill", size: :medium, vertical_align: :middle, mb: 1)) %>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="d-none d-md-block mr-md-5" style="height: 50%; border-radius: 0 1rem 0 0; border-top: 2px solid var(--borderColor-muted, var(--color-border-muted)); border-right: 2px solid var(--borderColor-muted, var(--color-border-muted)); position: relative; top: 50%;"></div>
      </div>
    </div>

    <%= render Site::RiverComponent.new(
      text: "<em>Convert discussions into issues when you're ready to scope out work.</em>",
      illustration_size: :large,
      padding: false,
      classes: "flex-column-reverse"
    ) do |c| %>
      <% c.with_before do %>
        <div class="d-none d-lg-block position-absolute left-n2 mt-1">
          <%= render(Primer::Beta::Octicon.new(
            icon: "arrow-right",
            size: :medium,
            color: :sponsors,
          )) %>
        </div>
      <% end %>

      <div class="TimelineItem discussions-timeline-right py-6 ml-5 ml-md-0 mr-5 position-md-absolute right-md-0 top-md-n11">
        <div class="TimelineItem-badge color-border-muted js-build-in-item build-in-fade">
          <%= render(Primer::Beta::Octicon.new("issue-opened")) %>
        </div>
        <div class="TimelineItem-body discussions-timeline-right-body color-fg-subtle text-md-right js-build-in-item build-in-fade">
          <span class="color-fg-default">johncreek</span> created Issue from Discussion
        </div>
      </div>

      <div class="color-bg-default rounded-2 box-shadow-default-border-mktg js-type-in-trigger">
        <div class="p-3 border-bottom">
          <span class="h3">Gameplay feature - Power-up</span>
          <span class="color-fg-muted">#8426</span>

          <div class="pt-2">
            <%= render(Primer::Beta::State.new(
              title: "Open",
              scheme: :open,
            )) do %>
              <%= primer_octicon(:"issue-opened") %>
              Open
            <% end %>

            <div class="p-2 d-inline-block">
              <strong>0 of 3 tasks</strong>
            </div>
          </div>
        </div>

        <div class="px-3">
          <% [{
            author: "cameronfoxly",
            time: "10 min ago",
            message: "After gathering feedback from our community (see #293), we have 3 main render engine bugs to address",
            tasks: {
              "1246" => "Power-up implementation",
              "1247" => "Update sandbox and test on staging",
              "1248" => "Udpate package and documentation",
            },
            reactions: {
              "👍" => 5,
              "👀" => 2,
            }
          }].each do |reply| %>
            <div class="TimelineItem flex-items-start js-build-in-item build-in-slideY">
              <%= render Site::AvatarComponent.new(
                handle: available_handles.use(reply[:author]),
                size: 32,
                classes: "TimelineItem-badge"
              ) %>

              <div class="TimelineItem-body color-fg-default mt-0">
                <div class="Box">
                  <div class="Box-header py-2 d-flex flex-justify-between">
                    <div>
                      <strong><%= available_handles.use(reply[:author]) %></strong>
                      <span class="color-fg-subtle">commented <%= reply[:time] %></span>
                    </div>
                    <div class="d-none d-sm-block d-md-none d-lg-block">
                      <%= render(Primer::Beta::Octicon.new(:smiley, color: :subtle, ml: 1, classes: "opacity-4")) %>
                      <%= render(Primer::Beta::Octicon.new(:"kebab-horizontal", color: :subtle, ml: 1, classes: "opacity-4")) %>
                    </div>
                  </div>
                  <div class="Box-body">
                    <%= tag.p(reply[:message]) %>

                    <ul class="list-style-none mb-2">
                      <% reply[:tasks].each do |id, title| %>
                        <li class="d-block Truncate">
                          <div class="Truncate-text">
                            <%= render(Primer::Beta::Octicon.new(:square, color: :subtle, size: :medium, vertical_align: :top, classes: "opacity-4")) %>
                            <%= render(Primer::Beta::Octicon.new(:"issue-opened", color: :success, mr: 1)) %>
                            <span class="color-fg-default"><%= title %></span>
                            <span class="color-fg-subtle">#<%= id %></span>
                          </div>
                        </li>
                      <% end %>
                    </ul>

                    <% reply[:reactions].try(:each) do |reaction, count| %>
                      <%= tag.span(class: "Label Label--large Label--secondary") do %>
                        <%= reaction %>
                        <%= tag.span(count,
                          class: "js-build-number",
                          data: {
                            "increment-speed": 400
                          }
                        ) %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render Site::SectionComponent.new(
  theme: :dark,
  style: "background-image: url(#{image_path("modules/site/discussions/insights-background.svg")}); background-position: bottom center; background-repeat: no-repeat;",
) do %>
  <% personalize_features = [{
    icon: :pin,
    title: "Pin discussions",
    description: "Make announcements and the most important discussions more visible for contributors.",
  }, {
    icon: :tools,
    title: "Custom categories",
    description: "Create discussion categories that fit your community's needs.",
  }, {
    icon: :tag,
    title: "Label and organize",
    description: "Keep your discussions tidy and make it easy for your community to filter topics.",
  }] %>

  <% personalize_features.each do |feature| %>
    <%= render Site::ImageComponent.new(
      src: image_path("modules/site/discussions/#{feature[:title].parameterize}.png"),
      width: 1848,
      height: 1258,
      style: "visibility: hidden; width: 0; height: 0;",
      alt: "",
      sizes: "(max-width: 960px) 90vw, 924px",
      aria: {
        hidden: true
      }
    ) %>
  <% end %>

  <%= render Site::RiverComponent.new(
    header: "Personalize for your<br>community and team",
    text: "Explore ways to make your space unique<br>for you and your collaborators. ",
    text_placement: :center
  ) do |c| %>
    <tab-container class="discussions-personalize-tabs d-lg-flex js-build-in-item build-in-scale-up">
      <div class="col-lg-8 col-xl-9">
        <% personalize_features.each_with_index do |feature, index| %>
          <div role="tabpanel" <%= "hidden" unless index == 0 %>>
            <%= render Site::ImageComponent.new(
              src: image_path("modules/site/discussions/#{feature[:title].parameterize}.png"),
              width: 1848,
              height: 1258,
              classes: "d-block width-full height-auto box-shadow-active-mktg border rounded-3 color-bg-subtle",
              alt: "#{feature[:title]} UI screenshot",
              sizes: "(max-width: 960px) 90vw, 924px",
            ) %>
          </div>
        <% end %>
      </div>

      <div class="col-lg-4 col-xl-3" role="tablist">
        <div class="d-md-flex d-lg-block pl-lg-4 mt-4 mt-lg-0">
          <% personalize_features.each_with_index do |feature, index| %>
            <%= tag.div(
              class: "col-md-4 col-lg-12 cursor-pointer text-left p-4 rounded-2",
              role: "tab",
              tabindex: (-1 unless index == 0),
              aria: {
                selected: index == 0,
              }
            ) do %>
              <h3 class="h6-mktg mb-2">
                <%= render(Primer::Beta::Octicon.new(feature[:icon], size: :medium, mr: 2)) %>
                <%= feature[:title] %>
              </h3>

              <span class="personalize-feature-description">
                <%= feature[:description] %>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
    </tab-container>
  <% end %>

  <div class="pb-sm-4 js-build-in-trigger">
    <div class="mb-6 js-build-in-item build-in-slideX-right">
      <h3 class="color-fg-default h3-mktg mb-3">Monitor insights</h3>
      <p class="f3-mktg color-fg-muted">Track the health and growth of your community with a dashboard full of actionable data.</p>
    </div>

    <%= render Site::HstackComponent.new(classes: "no-gutter") do %>
      <% {
        "Contribution activity" => "Count of total contribution activity to Discussions, Issues, and PRs.",
        "Discussions page views" => "Total page views to Discussions segmented by logged in vs anonymous users.",
        "Discussions daily contributors" => "Count of unique users who have reacted, upvoted, marked an answer, commented, or posted in the selected period.",
      }.each.with_index(1) do |(title, description), index| %>
        <div class="col-12">
          <div class="color-bg-overlay border p-4 rounded-3 box-shadow-active-mktg text-left mb-4 js-build-in-item build-in-slideX-right" data-build-delay="<%= index * 100 %>">
            <%= tag.h4(title, class: "h6-mktg mb-2") %>
            <%= tag.p(description, class: "f5-mktg mb-3 color-fg-muted col-xl-11") %>
            <%= tag.br if description.length < 100 %>
            <%= image_tag(
                image_path("modules/site/discussions/monitor-#{index}.svg"),
                class: "d-block width-full height-auto",
                alt: "#{title} graph",
                loading: "lazy",
                decoding: "async",
              ) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render Site::SectionComponent.new do %>
  <%= render Site::RiverComponent.new(
    header: "Respond on-the-go<br>with Mobile",
    text: "Converse, check in, and respond to discussions whenever and wherever is convenient for you.",
    text_placement: :center
  ) do |c| %>
    <div class="col-lg-8 mx-auto pt-4">
      <div class="position-relative js-build-in-trigger js-type-in-trigger" data-build-in-stagger="250">
        <div class="discussions-mockup-phone d-inline-block border box-shadow-mktg-xl p-2 mx-auto">
          <img src="<%= image_path "modules/site/discussions/phone-status-bar.svg" %>" alt="" width="294" height="35" class="d-block" loading="lazy" decoding="async">

          <%= render Site::ImageComponent.new(
            src: image_path("modules/site/discussions/mobile-screen.png"),
            width: 588,
            height: 1200,
            classes: "discussions-mockup-phone-screen d-block height-auto js-build-in-item build-in-scale-up",
            alt: "Mobile screen showing the Discussions interface",
            sizes: "294px",
            style: "width: 294px"
          ) %>
        </div>

        <% [
          { filename: "laughing", size: 128, top: 20, left: 73 },
          { filename: "hearts", size: 256, top: 25, left: 2 },
          { filename: "mind-blown", size: 192, top: 55, left: 63 },
        ].each do |video| %>
          <%= render "site/features/discussions/video", video: video %>
        <% end %>

        <%= tag.div(
          class: "position-absolute",
          style: "top: 80%; left: 8%; transform: scale(1.5);"
        ) do %>
          <%= tag.span(
            "Answered",
            class: "Label Label--large Label--success color-bg-default py-1 px-3 box-shadow-mktg-xl js-build-in-item build-in-scale-up",
          ) %>
        <% end %>

        <% [
          { symbol: "❤️", number: 10, top: 10, left: 16, },
          { symbol: "🎉", number: 12, top: 8, left: 75, },
          { symbol: "🚀", number: 19, top: 65, left: 5, },
          { symbol: "👀", number: 14, top: 50, left: 85, },
        ].each.with_index(1) do |r, i| %>
          <%= tag.div(
            class: "position-absolute",
            style: "top: #{r[:top]}%; left: #{r[:left]}%; transform: scale(1.5);"
          ) do %>
            <%= tag.span(
              class: "Label Label--large Label--secondary color-bg-subtle px-2 box-shadow-mktg-xl js-build-in-item build-in-scale-up"
            ) do %>
              <%= r[:symbol] %>
              <%= tag.span(
                r[:number],
                class: "js-build-number",
                data: { "type-delay": 500 + (i * 250) }
              ) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= render Site::RiverComponent.new(
    text: "See how your favorite communities are using discussions",
    text_placement: :center
  ) do |c| %>
    <div class="d-flex flex-wrap text-left p-responsive">
      <% [{
          name: "Next.js",
          uri: "vercel/next.js",
          discussions: "10k+"
      }, {
          name: "TailwindCSS",
          uri: "tailwindlabs/tailwindcss",
          discussions: "3k+"
      }, {
          name: "Homebrew",
          uri: "Homebrew/discussions",
          discussions: "4k+"
      }, {
          name: "Bootstrap",
          uri: "twbs/bootstrap",
          discussions: "600+"
      }, {
          name: "Laravel",
          uri: "laravel/framework",
          discussions: "1.6k+"
      }, {
          name: "D3.js",
          uri: "d3/d3",
          discussions: "30k+"
      }, {
          name: "Symfony",
          uri: "symfony/symfony",
          discussions: "700+"
      }, {
          name: "VueJS",
          uri: "vuejs/core",
          discussions: "50+"
      }].each do |project| %>
        <div class="col-6 col-lg-3 d-flex my-4">
          <a href="https://github.com/<%= project[:uri] %>/discussions" class="d-flex Link--primary no-underline" rel="nofollow" target="_blank">
            <div class="col-2 d-flex flex-justify-center flex-items-center">
              <%= image_tag(
                image_path("modules/site/discussions/logos/#{project[:name].parameterize}.svg"),
                class: "width-fit height-auto",
                alt: "#{project[:name]} logo",
                loading: "lazy",
                decoding: "async",
              ) %>
            </div>
            <div class="pl-2 pl-sm-3 flex-self-center">
              <div class="h6-mktg"><%= project[:name] %></div>
              <span class="d-block text-mono color-fg-muted f5-mktg">
                <%= project[:discussions] %> discussions
              </span>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= render Site::FooterCardComponent.new(
    header: "Start the conversation with your community",
    ctas: page_ctas,
    background_image: "modules/site/discussions/cta-glow.png",
  ) %>

  <%= render Site::HstackComponent.new(classes: "flex-justify-center position-relative") do %>
    <%= render Site::CardComponent.new(
      size: :large,
      octicon: "issue-opened",
      color: :success,
      header: "Project planning for developers",
      cta: "Explore GitHub Issues",
      url: "/features/issues",
      classes: "flex-1"
    ) %>

    <%= render Site::CardComponent.new(
      size: :large,
      octicon: "workflow",
      header: "Automate your workflow from idea to production",
      cta: "Explore GitHub Actions",
      url: "/features/actions",
      classes: "flex-1"
    ) %>
  <% end %>
<% end %>
