<%# erblint:counter DeprecatedComponentsCounter 1 %>
<hr class="bleed-flush">

<%= form_tag sponsorable_billing_country_path(@sponsorable.display_login), method: :put do %>
  <div class="form-group" <%= test_selector "billing-country-form" %>>
    <div class="form-group-header">
      <label for="billing-country">Country or region of bank account</label>
    </div>
    <div class="form-group-body">
      <div class="d-flex flex-items-center">
        <div class="input-group">
          <% if sponsors_listing.billing_country_flag_emoji_alias %>
            <span class="input-group-button js-sponsors-country-flag" data-country-code="<%= billing_country %>">
              <%= emoji_tag(Emoji.find_by_alias(sponsors_listing.billing_country_flag_emoji_alias),
                class: "emoji emoji-icon mr-1") %>
            </span>
          <% end %>
          <%= select_tag(:billing_country,
            options_for_select(country_options, billing_country),
            id: "billing-country",
            name: "billing_country",
            class: "form-select js-sponsors-country-select",
            required: true,
            "aria-describedby": "billing-country-description",
            prompt: "Select a country or region",
          ) %>
        </div>
        <%= render Primer::ButtonComponent.new(
          type: :submit,
          ml: 1,
          "data-disable-invalid": true,
        ).with_content("Save") %>
      </div>
      <p class="note" id="billing-country-description">
        The country or region where your bank account for payouts is located.
      </p>
    </div>
  </div>
<% end %>
