<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if @sponsorable.user? %>
  <%= form_tag sponsorable_contact_email_path(@sponsorable.display_login), method: :put do %>
    <div class="form-group">
      <div>
        <label for="email">Contact email</label>
        <p class="note" id="email-description">
          Select an email address for us to contact you about your GitHub Sponsors profile.
          This will not be shared publicly.
        </p>
      </div>
      <div <%= test_selector "user-contact-email" %>>
        <%= select_tag(:contact_email_id, options_for_select(
            possible_emails,
            contact_email&.id
          ),
            id: "email",
            name: "contact_email_id",
            class: "form-select",
            required: true,
            "aria-describedby": "email-description",
        ) %>
        <%= render Primer::ButtonComponent.new(type: :submit) do %>Save<% end %>
      </div>
      <% unless contact_email&.verified? %>
        <%= render Primer::Alpha::Banner.new(scheme: :danger, mt: 2, test_selector: "verify-email-warning") do %>
          This email has not been verified. Please select a different email address, or
          <%= render Primer::Beta::Link.new(href: settings_email_preferences_path, classes: "Link--inTextBlock").with_content("verify this email") %>
          to receive sponsorship payments.
        <% end %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="form-group">
    <div>
      <span class="text-bold d-block">Contact email</span>
      <p class="note">
        The organization billing email where we will contact you about your GitHub Sponsors profile.
        This will not be shared publicly.
      </p>
    </div>
    <div>
      <span class="text-bold" <%= test_selector "org-billing-email" %>>
        <%= billing_email %>
      </span> &mdash;
      <%= link_to "Edit in the organization profile page", settings_org_profile_path(@sponsorable.display_login), class: "Link--inTextBlock" %>
    </div>
  </div>
<% end %>
