<%= render Primer::Alpha::Dialog.new(
  title: "Delete Stripe Connect account",
) do |d| %>
  <% d.with_show_button(ml: 3, aria: { haspopup: "dialog" }) do %>
    <%= render Primer::Beta::Octicon.new(
      icon: "trash",
      color: :danger,
      aria: { label: "Delete", hidden: false }
    ) %>
  <% end %>
  <% d.with_header(show_divider: true) %>
  <% d.with_body do %>
    <p <%= test_selector "delete-stripe-reason" %>>
      <% if allow_delete? %>
        Are you sure you want to delete this Stripe Connect account?
      <% else %>
        <%= human_reason_delete_is_not_allowed %>
      <% end %>
    </p>
  <% end %>
  <% if allow_delete? %>
    <% d.with_footer do %>
      <%= form_tag sponsorable_stripe_account_path(sponsorable_login, stripe_account), method: :delete do %>
        <div class="form-actions">
          <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, test_selector: button_test_selector) do %>
            Delete Stripe Connect account
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
