<hr class="bleed-flush">

<% if self_service_disable_allowed? %>
  <div>
    <div>
      <span class="text-bold color-fg-danger d-block">Disable GitHub Sponsors account</span>
      <p class="note" <%= test_selector("note") %>>
        <% if sponsors_listing.approved? %>
          If you disable your GitHub Sponsors account and choose to rejoin the program, your profile will
          need to be re-approved.
        <% else %>
          You can disable your GitHub Sponsors account if you decide you no longer want to
          join the program. You can always re-enable your account later to proceed with
          the approval process.
        <% end %>
      </p>
    </div>
    <div>
      <%= render Primer::Alpha::Dialog.new(
        title: "Disable GitHub Sponsors account?",
      ) do |d| %>
        <% d.with_show_button(
          size: :small,
          scheme: :danger,
          mt: 2,
          aria: { haspopup: "dialog" },
        ).with_content("Disable account") %>
        <% d.with_header(show_divider: true) %>
        <% d.with_body(pt: 2) do %>
          <p>
            <% if sponsors_listing.approved? %>
              If you disable your GitHub Sponsors account, you will need to re-request
              approval to publish your profile in the future. Your GitHub Sponsors profile
              will no longer be visible to others and people will not be able to sponsor you.
            <% else %>
              You can disable your GitHub Sponsors account if you decide against
              joining the program.
            <% end %>
          </p>
          <p>
            Please confirm that you want to disable your account.
          </p>
        <% end %>
        <% d.with_footer do %>
          <%= form_tag sponsorable_disable_path(sponsorable) do %>
            <%= render Primer::Beta::Button.new(
              scheme: :danger,
              type: :submit,
            ).with_content("Disable GitHub Sponsors account") %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <p class="mt-3 color-fg-muted f6" <%= test_selector("contact-support") %>>
    To disable your GitHub Sponsors account entirely, please
    <a class="Link--inTextBlock" href="<%= SponsorsListing.support_url(subject: "GitHub Sponsors: Disable account") %>">contact support</a>.
  </p>
<% end %>
