<hr class="bleed-flush">

<%= form_tag sponsorable_email_settings_path(@sponsorable.display_login),
  method: :put, class: "js-sponsors-opt-out-container" do %>
  <div class="form-group">
    <div>
      <label>Notifications</label>
      <p class="note">
        Choose which events you'll receive emails for.
      </p>
    </div>

    <% checkbox_params.each do |checkbox| %>
      <div class="pb-1" <%= test_selector("receive-email-checkbox") %> >
        <%= check_box_tag checkbox.name,
          1,
          !opted_out_of_all? && !checkbox.opted_out,
          class: "js-sponsors-email-preference-checkbox",
          autocomplete: "off"
        %>
        <%= label_tag checkbox.name, checkbox.label %>
      </div>
    <% end %>

    <div class="pt-2 pb-3" <%= test_selector("opt-out-of-all-email-checkbox") %> >
      <p class="note">
        If you prefer to receive no notifications, you can opt out of them all.
      </p>
      <%= check_box_tag :opt_out_of_all,
        1,
        opted_out_of_all?,
        class: "js-sponsors-opt-out-all-checkbox",
        autocomplete: "off"
      %>
      <%= label_tag :opt_out_of_all, "Opt out of all emails" %>
    </div>
    <%= render Primer::Beta::Button.new(type: :submit).with_content("Save") %>
  </div>
<% end %>

