<hr class="bleed-flush">

<div>
  <dl>
    <div>
      <dt>
        <label>Sponsors dashboard access</label>
        <p class="note">
          Organization owners of <strong><%= @sponsorable.display_login %></strong> can view and edit the <strong><%= @sponsorable.display_login %></strong> Sponsors dashboard.<br>
          Manage <%= "and view all" if has_more_owners? %> owners on the People page of <%= link_to "your organization profile", organization_owners_link, class: "Link--inTextBlock" %>.
        </p>
      </dt>
    </div>
  </dl>
  <div class="Box mt-3" <%= test_selector "organization-owners-list" %>>
    <div class="Box-header">
      <h3 class="Box-title" <%= test_selector "organization-owners-total" %>><%= pluralize(owners_total, "owner") %></h3>
    </div>
    <ul>
      <% owners.each do |owner| %>
        <li class="Box-row" <%= test_selector "organization-owner-#{owner.display_login}" %>>
          <%= link_to user_path(owner), itemprop: "follows", class: "avatar-group-item", data: hovercard_data_attributes_for_user(owner) do %>
            <%= avatar_for(owner, 32, class: "avatar mr-2") %>
            <strong><%= owner.display_login %></strong>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
