<% if @listing.can_redraft? %>
  <hr class="bleed-flush">

  <div>
    <div>
      <span class="text-bold color-fg-danger d-block">Unpublish your GitHub Sponsors profile</span>
      <p class="note">
        If you choose to unpublish your profile, it will not be visible to users or publicly available.
      </p>
    </div>
    <div>
      <%= render Primer::Alpha::Dialog.new(
        title: "Unpublish GitHub Sponsors profile",
        id: "unpublish-profile-dialog",
      ) do |dialog| %>
        <% dialog.with_show_button(
          scheme: :danger,
          size: :small,
          mt: 2,
        ).with_content("Unpublish profile") %>
        <% dialog.with_body do %>
          <p>
            If you unpublish your GitHub Sponsors profile, you will need to re-request
            approval to receive sponsorships in the future.
          </p>
          <p>
            Please confirm that you would like to unpublish your profile and revert back to a draft state.
          </p>
        <% end %>
        <% dialog.with_footer do %>
          <%= render Primer::Beta::Button.new(
            data: { "close-dialog-id": "unpublish-profile-dialog" },
          ).with_content("Cancel") %>

          <%= form_with(url: sponsorable_redraft_path(@sponsorable.display_login)) do %>
            <%= render Primer::Beta::Button.new(
              scheme: :danger,
              type: :submit,
              test_selector: "unpublish-profile-button",
            ).with_content("Unpublish profile") %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <hr class="bleed-flush">

  <p class="mt-3 color-fg-muted f6" <%= test_selector("unpublish-profile-instructions") %>>
    Please <a class="Link--inTextBlock" href="<%= SponsorsListing.support_url(subject: "GitHub Sponsors: Unpublish profile") %>">contact support</a>
    if you want to temporarily unpublish your GitHub Sponsors profile, putting it back into a draft state.
  </p>
<% end %>
