<%# erblint:counter DeprecatedComponentsCounter 1 %>
<hr class="bleed-flush">

<div>
  <div>
    <span class="text-bold d-block">Stripe Connect accounts</span>
    <p class="note">
      GitHub Sponsors payments are transferred to your active Stripe Connect account. You can only
      have one active account at a time.
      <% if can_manage_stripe? %>
        If you need to change information on Stripe that cannot be modified, you can create a new account.
      <% end %>
    </p>
  </div>
  <div>
    <%= render Primer::Beta::BorderBox.new(my: 3, classes: "Box--condensed") do |box_component| %>
      <% box_component.with_header(display: :flex, align_items: :center) do %>
        <h3 class="Box-title flex-auto">All Stripe accounts</h3>
        <% if can_manage_stripe? %>
          <%= render Primer::Alpha::Dialog.new(
            title: "Create Stripe Connect account",
          ) do |d| %>
            <% d.with_show_button(
              ml: 3,
              size: :small,
              test_selector: "create-stripe-connect-account",
              aria: { haspopup: "dialog" }
            ).with_content("Create new account") %>
            <% d.with_header(show_divider: true) %>
            <% d.with_body do %>
              <p>
                You might need to associate a new Stripe account with your GitHub Sponsors profile
                to change information that
                <a class="Link--inTextBlock" href="https://stripe.com/docs/connect/update-verified-information" target="_blank" rel="noopener noreferrer">can't be updated on Stripe</a>.
              </p>
              <p>
                When you create a new account, it will be marked as inactive. You will be able
                to mark it active once it has been verified.
              </p>
            <% end %>
            <% d.with_footer do %>
              <% if sponsors_listing.within_stripe_account_limit? %>
                <%= form_tag sponsorable_stripe_accounts_path(sponsorable_login) do %>
                  <div class="form-actions">
                    <%= render Primer::Beta::Button.new(
                      type: :submit,
                      scheme: :primary,
                    ).with_content("Create Stripe Connect account") %>
                  </div>
                <% end %>
              <% else %>
                <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
                  To add another Stripe Connect account, please
                  <a class="Link--inTextBlock" href="<%= SponsorsListing.support_url(subject: "GitHub Sponsors: Add Stripe Connect account") %>">contact&nbsp;support</a>.
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% stripe_accounts.each do |stripe_account| %>
        <% box_component.with_row(display: :flex, align_items: :center) do %>
          <div class="flex-auto">
            <% if hide_stripe_link? %>
              <span><%= stripe_account_display_name(stripe_account) %></span>
            <% else %>
              <a href="<%= sponsorable_stripe_account_path(sponsorable_login, stripe_account) %>"
                 target="_blank"
                 rel="noopener noreferrer"
              >
                <%= stripe_account_display_name(stripe_account) %>
                <%= render Primer::Beta::Octicon.new(icon: "link-external", ml: 1) %>
              </a>
            <% end %>

            <% if stripe_account.billing_country.present? %>
              <%=
                render Primer::Beta::Label.new(
                  title: "Billing country: #{stripe_account.billing_country}",
                  scheme: :secondary,
                  ml: 2,
                  test_selector: "stripe-account-#{stripe_account}-billing-country-label",
                ) do
              %><%= stripe_account.billing_country %><% end %>
            <% end %>

            <% if stripe_account.default_currency.present? %>
              <%=
                render Primer::Beta::Label.new(
                  title: "Currency code: #{stripe_account.default_currency}",
                  scheme: :secondary,
                  ml: 2,
                  test_selector: "stripe-account-#{stripe_account}-default-currency-label",
                ) do
              %><%= stripe_account.default_currency.upcase %><% end %>
            <% end %>

            <% if stripe_account.active? %>
              <%=
                render Primer::Beta::Label.new(
                  title: "Label: Active",
                  scheme: :success,
                  ml: 2,
                  test_selector: "stripe-account-#{stripe_account.stripe_account_id}-active-label",
                ) do
              %>Active<% end %>
            <% else %>
              <%=
                render Primer::Beta::Label.new(
                  title: "Label: Inactive",
                  ml: 2,
                  test_selector: "stripe-account-#{stripe_account.stripe_account_id}-inactive-label",
                ) do
              %>Inactive<% end %>
            <% end %>

            <% if stripe_account.verified_verification_status? %>
              <%=
                render Primer::Beta::Label.new(
                  title: "Label: Verified",
                  scheme: :success,
                  ml: 2,
                  test_selector: "stripe-account-#{stripe_account.stripe_account_id}-verified-label",
                ) do
              %>Verified<% end %>
            <% else %>
              <%=
                render Primer::Beta::Label.new(
                  title: "Label: Unverified",
                  ml: 2,
                  test_selector: "stripe-account-#{stripe_account.stripe_account_id}-unverified-label",
                ) do
              %>Unverified<% end %>
            <% end %>
          </div>
          <% if can_manage_stripe? && stripe_account.can_be_activated? %>
            <%=
              button_to(
                "Make active",
                sponsorable_stripe_account_activation_path(sponsorable_login, stripe_account),
                class: "btn btn-sm",
                data: test_selector_hash("stripe-account-#{stripe_account.stripe_account_id}-active-button"),
              )
            %>
          <% end %>
          <%= render Sponsors::Dashboard::Settings::DeleteStripeComponent.new(
            sponsors_listing: sponsors_listing,
            stripe_account: stripe_account,
          ) %>
        <% end %>
      <% end %>

      <% if stripe_accounts.empty? %>
        <% box_component.with_row do %>
          <%= render Primer::Beta::Blankslate.new(test_selector: "stripe-accounts-blankslate") do |c| %>
            <% c.with_heading(tag: :h2) do %>
              This profile doesn&rsquo;t have any Stripe accounts
            <% end %>

            <% c.with_description do %>
              Newly created Stripe accounts may take a few minutes to appear.
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
