<% if user_feature_enabled?(:tasklist_tracked_by_redesign) %>
  <%= render(Primer::Alpha::ActionList.new(p: 2, pt: 0, test_selector: "issue-tracked-in-hovercard")) do |component| %>
    <% component.with_heading(title: 'Tracked by', mx: 2, mt: 1, test_selector: "issue-tracked-in-hovercard-title") %>

    <% normalized_tracking_issues.each do |tracking_issue| %>
      <% component.with_item(label: tracking_issue[:issue_title], href: tracking_issue[:issue_url]) do |item| %>
        <% item.with_leading_visual_content do %>
          <% if tracking_issue[:issue_state].present? %>
            <% if tracking_issue[:issue_state].downcase.to_sym == :open %>
              <%= primer_octicon(:"issue-opened", classes: "open") %>
            <% elsif tracking_issue[:issue_state_reason]&.downcase&.to_sym == :not_planned %>
              <%= primer_octicon(:skip, color: :muted) %>
            <% else %>
              <%= primer_octicon(:"issue-closed", classes: "closed") %>
            <% end %>
          <% end %>
        <% end %>

        <% item.with_description do %>
          <%= render Issues::IssueReferenceComponent.new(owner: tracking_issue[:owner], repository: tracking_issue[:repository], issue_number: tracking_issue[:issue_number], render_context: {
            current_owner: this_repository.owner_display_login,
            current_repository: this_repository.name,
            truncate: true,
          }) %>

          <% if tracking_issue[:tracked_by_title].present? %>
            <%= primer_octicon(:"chevron-right", size: :xsmall) %>
            <%= tracking_issue[:tracked_by_title] %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="d-flex flex-column m-3" <%= test_selector("issue-tracked-in-hovercard") %> >
    <span class="color-fg-muted">Tracked by</span>
    <% normalized_tracking_issues.each do |tracking_issue| %>
      <div class="mt-1">
        <%=
          render Issues::IssueHrefComponent.new(
            owner: tracking_issue[:owner],
            repository: tracking_issue[:repository],
            issue_number: tracking_issue[:issue_number],
            issue_url: tracking_issue[:issue_url],
            issue_title: tracking_issue[:issue_title],
            issue_state: tracking_issue[:issue_state],
            render_context: {
              current_owner: this_repository.owner_display_login,
              current_repository: this_repository.name,
              truncate: true,
            }
          )
          %>
      </div>
    <% end %>
  </div>
<% end %>
