<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Card fingerprints", selected_link: :reused_card_fingerprints %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Reused card fingerprints
    <% end %>
  <% end %>

  <%= render Primer::Beta::Flash.new(mb: 3) do %>
    This is a list of card fingerprints that have been reused across 5 or more customers in the last 30 days.
    Credit card reuse across multiple accounts can be an indicator of fraudulent activity.
  <% end %>

  <div class="boxed-group flush">
    <h3>
      30 day snapshot
    </h3>

    <div class="boxed-group-inner seamless">
      <table class="stafftools-table">
        <thead>
          <th class="no-wrap billing-table-cell pr-0">Fingerprint</th>
          <th class="no-wrap billing-table-cell pr-0">30 day reuse count</th>
        </thead>

        <tbody>
          <% fingerprints.each do |fingerprint| %>
            <tr>
              <td class="no-wrap tiny">
                <%= link_to fingerprint.card_fingerprint, lookup_stafftools_reused_card_fingerprints_path(card_fingerprint: fingerprint.card_fingerprint) %>
              </td>

              <td class="no-wrap tiny">
                <%= fingerprint.count %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
