<%= render Primer::Beta::BorderBox.new(mt: 2) do |box| %>
  <% box.with_row(scheme: :info, border: :top, border_radius: 1) do %>
    <div class="d-flex flex-justify-between text-bold">
      <h2 class="h3">Metadata</h2>

      <div>
        <%= button_to(
          "Recalculate All",
          recalculate_all_stafftools_user_profile_path(user),
          method: :put,
          class: "btn btn-sm btn-danger",
        ) %>
      </div>
    </div>

    <% if metadata_persisted? %>
      <% metadata_attributes.each do |attribute, value| %>
        <% box.with_row do %>
          <div class="d-flex flex-items-center">
            <div class="d-flex flex-1 flex-column">
              <strong><%= attribute.titleize %></strong>

              <% if comment = column_comment_for(attribute) %>
                <span class="color-fg-subtle" <%= test_selector("column-comment") %>>
                  <%= comment %>
                </span>
              <% end %>
            </div>

            <div class="pr-2"><%= display_value_for(value) %></div>
            <%= button_to(
              attribute_update_button_text(value),
              attribute_update_path(attribute, value),
              method: :put,
              class: "btn btn-sm",
            ) %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <% box.with_row do %>
        <div class="text-small color-fg-muted">
          This user does not have a metadata record.
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
