<%= render Primer::Beta::BorderBox.new(mt: 2) do |box| %>
  <% box.with_row(scheme: :info, border: :top, border_radius: 1) do %>
    <div class="d-flex flex-justify-between text-bold">
      <h2 class="h3">Social Accounts</h2>
    </div>

    <% if social_accounts.present? %>
      <% box.with_row do %>
        <div class="d-table col-12">
          <div class="col-2 d-table-cell border text-center h4 p-2">Identified Type</div>
          <div class="col-5 d-table-cell border text-center h4 p-2">URL</div>
          <div class="col-3 d-table-cell border text-center h4 p-2">More Info</div>
          <div class="col-2 d-table-cell border text-center h4 p-2">Reclassify</div>
        </div>

        <% social_accounts.each do |account| %>
          <div class="d-table col-12">
            <div class="col-2 d-table-cell border p-1 pl-2">
              <%= social_account_icon(account) %>
              <%= account.option %>
            </div>

            <div class="col-5 d-table-cell border p-1 pl-2">
              <%= link_to account.url, account.url, target: "_blank" %>
            </div>

            <div class="col-3 d-table-cell border text-center p-1"><%= more_info(account) %></div>

            <div class="col-2 d-table-cell border p-1 text-center">
              <%= render Primer::Alpha::Dropdown.new do |component| %>
                <% component.with_button do %>
                  <%= social_account_icon(account) %>
                  <%= account.option %>
                <% end %>

                <% component.with_menu(header: "Reclassify", direction: :s) do |menu| %>
                  <% SocialAccount.all_providers.each do |provider| %>
                    <% menu.with_item(tag: :a, text_align: :left) do %>
                      <%= button_to(
                        stafftools_user_social_account_path(
                          user_profile.user,
                          existing_provider_key: account.key,
                          new_provider_key: provider.key,
                          provider_url: account.url,
                        ),
                        method: :patch,
                        class: "btn-link color-fg-muted no-underline",
                      ) do %>
                        <%= social_account_icon(provider) %>
                        <%= provider.option %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <% box.with_row do %>
        <div class="text-small color-fg-muted">
          This user does not have any social accounts.
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
