<% if @error %>
  <p class="flash flash-error visible"><%= @error %></p>
<% end %>

<% if @check_now %>
  <div class="blankslate">
    <p><img src="/setup/images/spinners/octocat-spinner-64-dark.gif" alt="" width="32" height="32"></p>
    <h2>Update check is running</h2>
    <p>We're checking to see if there's a newer version of GitHub Enterprise in your series.</p>
  </div>
  <%== erb :"updates/_logs" %>
<% else %>
  <% case @updates.status %>
    <% when "RUNNING" %>
      <div class="blankslate">
        <p><img src="/setup/images/spinners/octocat-spinner-64-dark.gif" alt="" width="32" height="32"></p>
        <h2>Update check is running</h2>
        <p>We're checking to see if there's a newer version of GitHub Enterprise in your series.</p>
      </div>
      <%== erb :"updates/_logs" %>
    <% when "LATEST" %>
      <div class="blankslate">
        <h2>You are up-to-date</h2>
        <p>You're running the latest version of GitHub Enterprise!</p>
      </div>
      <%== erb :"updates/_logs" %>
    <% when "NEVER" %>
      <div class="blankslate">
        <h2>Update check has not run yet</h2>
        <p>We haven't run an automated update check yet. If you'd like to check now, use the button below to trigger a check.</p>
        <br>
        <%== erb :"updates/_form_manual" %>
      </div>
    <% when "DOWNLOADING" %>
      <div class="blankslate">
        <p><img src="/setup/images/spinners/octocat-spinner-64-dark.gif" alt="" width="32" height="32"></p>
        <h2>Update package is downloading</h2>
        <p><progress class="js-download-progress" value="<%= @updates.download_progress %>" max="100"><%= @updates.download_progress %>%</progress></p>
      </div>
      <%== erb :"updates/_logs" %>
    <% when "DOWNLOADED" %>
    <%== erb :"updates/_package_status" %>
    <div style="text-align: center; padding: 15px;" >
      <form action="/setup/updates/check" enctype="multipart/form-data" method="POST" class="js-check-now-form">
        <%== csrf_tag %>
        <button type="submit" class="btn check-update js-check-now" <% if @updates.running? || @check_now %>disabled="true"<% end %>>Check update package</button>
      </form>
    </div>
      <%== erb :"updates/_logs" %>
    <% when "DOWNLOADEDINTERMEDIATE" %>
      <div class="blankslate">
        <%== erb :"updates/_package_status" %>
      </div>
      <%== erb :"updates/_logs" %>
    <% when /^ERROR\S*/ %>
      <%== erb :"updates/_error" %>
      <div style="text-align: center; padding: 15px;" >
        <form action="/setup/updates/check" enctype="multipart/form-data" method="POST" class="js-check-now-form">
          <%== csrf_tag %>
          <button type="submit" class="btn btn-primary check-update js-check-now" <% if @updates.running? || @check_now %>disabled="true"<% end %>>Check Again</button>
        </form>  
      </div>    
      <%== erb :"updates/_logs" %>
  <% end %>
<% end %>
