<% installLogVisibility = "display: none;" unless @auto_install.log_file? %>

<h2>Logs</h2>
<div class="tabnav logs-tabnav">
  <nav class="tabnav-tabs">
    <a href="#" data-tab="#update-check-logs" class="tabnav-tab selected">Update Checks</a>
    <a href="#" data-tab="#package-install-logs" class="tabnav-tab install-log-nav" style="<%= installLogVisibility %>">Package Installs</a>
  </nav>
</div>

<div id="update-check-logs">
  <p>In order to use the GitHub Enterprise automatic update checking feature, we need to collect some data from your installed enterprise instance. The following log contains any external communication by <code>ghe-update-check</code> <a class="js-click2copy click2copy-addon-code js-tooltipped" data-clipboard-text="ghe-update-check" title="Copy to clipboard"  data-preclick-title="Copy to clipboard" data-copied-hint="Copied!"><span class="octicon octicon-clippy"></span></a>.</p>

  <p>You can see the full logs at <code>/data/user/common/ghe-update-check.log</code> <a class="js-click2copy click2copy-addon-code js-tooltipped" data-clipboard-text="/data/user/common/ghe-update-check.log" title="Copy to clipboard"  data-preclick-title="Copy to clipboard" data-copied-hint="Copied!"><span class="octicon octicon-clippy "></span></a> on the appliance.</p>
  <div id="collapsible-log-container">
    <button id="toggle-log-button" class="btn"> show logs </button>
    <div id="collapsible-log-content" style="display: none;">
      <textarea class="log-file"><%= @update_log_text %></textarea>
    </div>
  </div>
</div>

<div id="package-install-logs" style="display: none">
  <p>The following is an overview from the installation of <%== @auto_install.package_name %>.</p>
  <p>This log is located at <code><%== @auto_install.log_file %></code> <a class="js-click2copy click2copy-addon-code js-tooltipped" data-clipboard-text="<%== @auto_install.log_file %>" title="Copy to clipboard"  data-preclick-title="Copy to clipboard" data-copied-hint="Copied!"><span class="octicon octicon-clippy"></span></a> on the appliance.</p>

  <% if @auto_install.install_log? %>
    <p>A detailed installation log is located at <code><%== @auto_install.install_log %></code> <a class="js-click2copy click2copy-addon-code js-tooltipped" data-clipboard-text="<%== @auto_install.install_log %>" title="Copy to clipboard"  data-preclick-title="Copy to clipboard" data-copied-hint="Copied!"><span class="octicon octicon-clippy"></span></a> on the appliance.</p>
  <% end %>

  <textarea class="log-file"><%== @auto_install.log_content %></textarea>
</div>
