<div class="aside-section">
  <h3>Current version</h3>
  <p>Running v<%= @updates.current_version %> <a href="https://enterprise.github.com/releases/<%= @updates.current_version %>/notes">(view release notes)</a></p>
</div>

<% if @updates.enabled? %>
  <div class="aside-section">
    <h3>Automatic checking</h3>
    <p>Automatic update checking is currently enabled. GitHub Enterprise will periodically check for new releases.</p>
    <% unless @updates.last_run.blank? %>
      <p class="js-update-last-run" data-last-run="<%= @check_now || @updates.last_run %>">Last checked <%= Time.at(@updates.last_run.to_i).strftime("%b %d, %Y %H:%M %Z") %>.</p>
    <% end %>
    <%== erb :"updates/_form_auto_updates" %>
  </div>
<% end %>
