<% status = @auto_install.status[:status].strip %>
<% package= @auto_install.status[:package] %>
<% case status %>
  <% when "NOTSTARTED" %>
    <div class="blankslate check-success">
    <% scheduled_at = @auto_install.scheduled_at %>
    <% if scheduled_at %>
      <h2>Update package scheduled</h2>
      <p><%= @auto_install.package_file %> will be installed at</p>
      <p><em><span id="scheduled-at" data-at="<%== scheduled_at.utc.iso8601 %>"></span></em></p>
    <% else %>
      <div class="package-information">
        <h2>Update package downloaded</h2>
        <p>
          The package was saved to <%= @updates.file %>.
          <% if @updates.status == "DOWNLOADEDINTERMEDIATE" %>
            A newer version than <%= @updates.latest_version %> is available, but you must first upgrade to <%= @updates.latest_version %>. Refer to <a href="<%= help_url %>/admin/upgrading-your-instance/preparing-to-upgrade/overview-of-the-upgrade-process">the upgrade documentation</a> for more information.
          <% end %>
          To start the upgrade process, SSH to the machine and run <code style="color: #3c763d">ghe-upgrade <%= @updates.file %></code>
          <a class="js-click2copy click2copy-link js-tooltipped" data-clipboard-text="ghe-upgrade <%= @updates.file %>" title="Copy to clipboard"  data-preclick-title="Copy to clipboard" data-copied-hint="Copied!"><span class="octicon octicon-clippy" style="color: #3c763d"></span></a>
        </p>
      </div>

    <% end %>
    <%== erb :"updates/_preflight_check_result" %>
    <%== erb :"updates/_form_auto_install" %>
    </div>
  <% when "RUNNING" %>
  <div class="blankslate">
  <% progress = @auto_install.status[:progress] %>
  <% message = @auto_install.status[:message].strip %>
    <h2>Installing <%= package %></h2>
    <div><img src="/setup/images/spinners/octocat-spinner-64-dark.gif" alt="" width="32" height="32"></div>
    <p><progress class="js-install-progress" value="<%= progress %>" max="100"><%= progress %>%</progress></p>
    <p><span class="js-install-message"><%= message %></span>...</p>
  </div>
  <% when "DONE" %>
  <div class="blankslate">
    <h2 class="success-state">Update package installation completed</h2>
    <p><%= package %> was successfully installed.</p>
  </div>
  <% when "ERROR" %>
  <div class="blankslate">
    <% install_log = @auto_install.status[:message].strip %>
    <h2 class="error-state">Update package installation failed</h2>
    <p>Installing <%= package %> failed. Please see the <a href="#" data-tab="#package-install-logs">logs</a>.</p>
    <h4>After resolving logged errors, you can retry the package installation.</h4>
    <%== erb :"updates/_form_auto_install" %>
  </div>
<% end %>
