<%if @updates.preflight%>
<div style="color: gray;text-align: left;">last check at: <%= @updates.preflight["timestamp"] %></div>
<div class="list-group" id="preflight-check-result" style="margin-top: 5px;text-align: left;">
<% @updates.preflight["checks"].each do |check| %>
    <div class="list-group-item">
    <% if check["result"] == "Pass"%>
    <span class="status pull-right" style="background-color: green;"><%= check["result"] %></span>
    <% else %>
    <span class="status pull-right" style="background-color: red;"><%= check["result"] %></span>
    <% end %>
    <span class="label" style="color: gray;"><%= check["name"] %> </span><br>
    <% if check["action"] != "None"%>
    <span class="lsit-group-header" style="color: gray;font-size:14px" >Action: <%= check["action"] %></span>
    <% end %>
    </div>
<% end %>
</div>
<% end %>