<% page_info :title => "#{current_account.login} - Site admin", :selected_link => :users %>

<%= render layout: "biztools/biztools" do %>
  <%= render \
        partial: "biztools/accounts/landing_info",
        locals: {
          account: current_account,
          counts: counts
        } %>

  <% if GitHub.billing_enabled? %>
    <%= render \
          partial: "biztools/accounts/landing_billing",
          locals: {account: current_account, last_transaction: last_transaction} %>
  <% end %>

  <%= render \
        partial: "biztools/accounts/landing_repositories",
        locals: {account: current_account, counts: counts} %>

  <div class="site-admin-box">
    <h4>
      <%= primer_octicon(:people) %>
      Members &amp; Teams
    </h4>
    <ul class="site-admin-detail-list">
      <li>
        <%= primer_octicon(:organization) %>
        <%= pluralize(counts[:admins], "owner") %>
      </li>
      <li>
        <%= primer_octicon(:people) %>
        <%= pluralize(number_with_delimiter(counts[:teams]), "team") %>
      </li>
      <li>
        <%= primer_octicon(:person) %>
        <%= pluralize(number_with_delimiter(counts[:members]), "member") %>
      </li>
      <li>
        <%= primer_octicon(:"credit-card") %>
        <%= pluralize(number_with_delimiter(counts[:billing_managers]), "billing manager") %>
      </li>
    </ul>
  </div>

  <% if GitHub.marketplace_enabled? %>
    <div class="site-admin-box">
      <h4>
        <%= primer_octicon(:plug) %>
        Marketplace Listings
      </h4>
      <ul class="site-admin-detail-list">
        <li>
          <a href="<%= biztools_marketplace_path(admin_id: current_account.id, admin_type: current_account.class.name) %>">
            <%= primer_octicon(:lock) %>
            <%= pluralize(counts[:owned_marketplace_listings], "owned listing") %>
          </a>
        </li>
      </ul>
    </div>

    <div class="site-admin-box">
      <h4>
        <%= primer_octicon(:law) %>
        Marketplace Agreements
      </h4>
      <ul class="site-admin-detail-list">
        <% if counts[:marketplace_agreement_signatures] < 1 %>
          <li>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
            No signed agreements.
          </li>
        <% else %>
          <% marketplace_agreement_signatures.each do |signature| %>
            <% agreement = signature.agreement %>
            <li>
              <%= render(Primer::Beta::Octicon.new(icon: "pencil")) %>
              <a class="no-wrap" href="/biztools/users/<%= signature.signatory.login %>">
                <%= avatar_for(signature.signatory, 16, class: "avatar") %>
                <%= signature.signatory.login %>
              </a>
              signed <strong><%= agreement.name %></strong>
              <em><%= agreement.version %></em> for this organization<br>
              <span class="color-fg-muted">&mdash; <%= signature.created_at.to_date %></span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="site-admin-box">
    <h4>
      <%= render(Primer::Beta::Octicon.new(icon: "link")) %>
      OAuth applications
    </h4>
    <ul class="site-admin-detail-list">
      <% if GitHub.oauth_application_policies_enabled? %>
        <li>
          <% if current_account.restricts_oauth_applications? %>
            <%= primer_octicon(:thumbsup) %>
            App restrictions enabled
          <% else %>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
            App restrictions disabled
          <% end %>
        </li>
      <% end %>
      <% if counts[:owned_apps] > 0 %>
        <li>
          <%= primer_octicon(:squirrel) %>
          <%= pluralize(number_with_delimiter(counts[:owned_apps]), "owned application") %>
        </li>
      <% else %>
        <li>
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          Owns no applications
        </li>
      <% end %>

      <% if GitHub.hookshot_enabled? %>
        <% if counts[:webhooks] > 0 %>
          <li>
            <%= primer_octicon(:plug) %>
            <%= pluralize(number_with_delimiter(counts[:webhooks]), "webhook") %>
          </li>
        <% else %>
          <li>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
            No webhooks
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

<% end %>
