<div class="input-group my-2">
  <input type="text" class="form-control input-sm color-bg-subtle" data-autoselect value="<%= value %>" aria-label="<%= aria_label %>" readonly>

  <div class="input-group-button">
    <%= content_tag("clipboard-copy", "value": value, "aria-label": "Copy to clipboard", "class": "btn btn-sm js-clipboard-copy tooltipped-no-delay ClipboardButton", "data-copy-feedback": "Copied!", "data-tooltip-direction": "n") do %>
      <%= render(Primer::Beta::Octicon.new(icon: "copy", classes: "js-clipboard-copy-icon", display: :inline_block)) %>
      <%= render(Primer::Beta::Octicon.new(icon: "check", classes: "js-clipboard-check-icon", color: :success, display: [:inline_block, :none])) %>
    <% end %>
  </div>
</div>
