<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% apa_format = citation.format(:apa) %>
<% bibtex_format = citation.format(:bibtex) %>
<% can_cite = citation.valid? && (!!apa_format || !!bibtex_format) %>

<%= render(Primer::Beta::BorderBox.new(border: 0)) do |component| %>
  <% component.with_header(bg: :default, border_bottom: 0, pb: 0) do %>
    <p class="text-bold">
      Cite this repository
    </p>
    <p class="color-fg-muted">
      If you use this software in your work, please cite it using the following metadata.
      <a class="text-underline" href="<%= Repositories::Citation.help_url %>">Learn more about CITATION files.</a>
    </p>
  <% end %>


  <% component.with_body(border: 0, pt: 0) do %>
    <% if can_cite %>
      <%= render Primer::Alpha::UnderlinePanels.new(label: "Citations", box_shadow: :none) do |c| %>
        <% c.with_tab(id: "apa-tab", panel_id: "apa-panel", selected: true) do |t| %>
          <% t.with_text { "APA" } %>
          <% if !!apa_format %>
            <% t.with_panel do %>
              <%= render partial: "hovercards/repositories/citations/citation", locals: { aria_label: "APA Citation", value: apa_format } %>
            <% end %>
          <% end %>
        <% end %>

        <% c.with_tab(id: "bibtex-tab", panel_id: "bibtex-panel") do |t| %>
          <% t.with_text { "BibTeX" } %>
          <% if !!bibtex_format %>
            <% t.with_panel do %>
              <%= render partial: "hovercards/repositories/citations/citation", locals: { aria_label: "BibTeX Citation", value: bibtex_format } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% component.with_footer(border: :top) do %>
    <%= render(Primer::ButtonComponent.new(block: true, href: citation.file_path, tag: :a)) { "View citation file" } %>
  <% end %>
<% end %>
