<%
  commit_date = commit.committed_date
  show_checks_status ||= false
  commit_message = commit.message
%>

<%= cache tree_commit_key, skip_digest: true do %>
  <div class="flex-shrink-0 ml-n1 mr-n1 mt-n1 mb-n1 hx_avatar_stack_commit" <%= test_selector("commit-tease-avatar-stack") %>>
    <%= render Commits::AvatarStackComponent.new(commit: commit, size: 24) %>
  </div>
  <div class="flex-1 d-flex flex-items-center ml-3 min-width-0">
    <div class="css-truncate css-truncate-overflow color-fg-muted" <%= test_selector("commit-tease-attribution-info") %>>
      <%= render Commits::AttributionInfoComponent.new(commit: commit, repository: commit.repository, include_verbs: false) %>
      <% if commit_message.blank? %>
        <a
          href="<%= commit_path(commit) %>"
          data-pjax="true"
          class="Link--muted color-fg-inherit d-none d-sm-inline"
          <%= test_selector("commit-tease-blank-commit-message") %>
        >
          No commit message
        </a>
      <% else %>
        <span class="d-none d-sm-inline">
          <%= link_markup_to commit_message_markdown(commit.short_message_html), commit_path(commit),
                "data-pjax": true, "data-test-selector": "commit-tease-commit-message", title: commit_message.rstrip, class: "Link--primary markdown-title" %>
        </span>
      <% end %>
    </div>
    <span
      class="hidden-text-expander ml-2 d-inline-block <% unless commit.message_body_html.present? %>d-inline-block d-lg-none<% end %>"
      <%= test_selector("commit-tease-hidden-text-expander") %>
    >
      <button
        type="button"
        class="color-fg-default ellipsis-expander js-details-target"
        aria-expanded="false"
        <%= test_selector("commit-tease-details-target") %>
      >
        &hellip;
      </button>
    </span>
    <div class="d-flex flex-auto flex-justify-end ml-3 flex-items-baseline">
      <% if comment_count > 0 %>
        <a
          class="no-wrap Link--secondary no-underline mr-2 color-fg-inherit d-none d-lg-inline"
          href="<%= commit_path(commit) %>"
          anchor="comments"
          data-pjax="#repo-content-pjax-container"
          data-turbo-frame="repo-content-turbo-frame"
          <%= test_selector("commit-tease-comment-count") %>
        >
          <%= primer_octicon(:comment) %>
          <%= number_with_delimiter(comment_count) %>
        </a>
      <% end %>
      <% if show_checks_status %>
        <include-fragment accept="text/fragment+html" src="<%= checks_statuses_rollup_path(ref: commit.oid, direction: "sw") %>" class="d-inline" <%= test_selector("check-statuses-rollup") %>></include-fragment>
      <% end %>
      <a
        href="<%= commit_path(commit) %>"
        class="f6 Link--secondary text-mono ml-2 d-none d-lg-inline"
        data-pjax="#repo-content-pjax-container"
        data-turbo-frame="repo-content-turbo-frame"
        <%= test_selector("commit-tease-abbreviated-oid") %>
      >
        <%= commit.abbreviated_oid %>
      </a>
      <a
        href="<%= commit_path(commit) %>"
        class="Link--secondary ml-2"
        data-pjax="#repo-content-pjax-container"
        data-turbo-frame="repo-content-turbo-frame"
        <%= test_selector("commit-tease-time-ago") %>
      >
        <%= time_ago_in_words_js commit_date %>
      </a>
    </div>
  </div>
  <div class="pl-0 pl-md-5 flex-order-1 width-full Details-content--hidden">
    <% if commit_message.blank? %>
      <a
        href="<%= commit_path(commit) %>"
        data-pjax="#repo-content-pjax-container"
        data-turbo-frame="repo-content-turbo-frame"
        class="Link--muted color-fg-inherit mt-2 d-inline-block d-lg-none"
        <%= test_selector("commit-tease-blank-commit-message") %>
      >
        No commit message
      </a>
    <% else %>
      <div class="mt-2">
        <%= link_markup_to commit.short_message_html, commit_path(commit),
              "data-pjax": "#repo-content-pjax-container", "data-turbo-frame": "repo-content-turbo-frame", "data-test-selector": "commit-tease-commit-message", class: "Link--primary text-bold" %>
      </div>
    <% end %>
    <% if commit.message_body_html.present? %>
      <pre class="mt-2 text-mono color-fg-muted text-small ws-pre-wrap"><%= commit.message_body_html %></pre>
    <% end %>
    <div class="d-flex flex-items-center">
      <code class="border d-lg-none mt-2 px-1 rounded-2"><%= commit.abbreviated_oid %></code>
      <% if comment_count > 0 %>
        <a
          class="no-wrap Link--secondary no-underline ml-2 mt-2 color-fg-inherit d-lg-none"
          href="<%= commit_path(commit) %>"
          anchor="comments"
          data-pjax="#repo-content-pjax-container"
          data-turbo-frame="repo-content-turbo-frame"
          <%= test_selector("commit-tease-comment-count") %>
        >
          <%= primer_octicon(:comment) %>
          <%= number_with_delimiter(comment_count) %>
        </a>
      <% end %>
    </div>
  </div>
<% end %>
