<%
  resource_path = commit_path(commit, commit.repository)
%>

<div class="js-details-container Details js-socket-channel js-updatable-content"
     data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.commit(commit.repository, commit.oid)) %>"
     data-url="<%= show_partial_commit_path(repository: commit.repository, user_id: commit.repository.owner_display_login, name: commit, partial: "commit/condensed_details") %>">
  <div class="d-flex flex-md-row flex-column">
    <div class="d-flex flex-auto">
      <%= render Commits::AvatarStackComponent.new(commit: commit) %>

      <div class="pr-1 flex-auto min-width-0" <%= test_selector("commit-message") %>>
        <code>
          <%= link_markup_to commit_message_markdown(commit.short_message_html),
                  resource_path,
                  title: commit.message.rstrip,
                  data: { pjax: true },
                  class: "Link--secondary markdown-title" %>
        </code>

        <% if commit.message_body_html.present? %>
          <span class="hidden-text-expander inline">
            <button type="button" class="ellipsis-expander js-details-target" aria-expanded="false">&hellip;</button>
          </span>
        <% end %>

        <% if commit.comment_count > 0 %>
          <a href="<%= resource_path %>#comments" aria-label="View comments on this commit" class="Link--secondary">
            <%= primer_octicon(:"comment-discussion") %>
          </a>
        <% end %>
      </div>

      <div class="pr-1 d-md-inline-block d-none">
        <% if defer_commit_badges? %>
          <%= render "commit/deferred_badge", verifiable_global_relay_id: commit.global_relay_id, indicate_loading: commit.has_signature?, badge_size: "small", dropdown_direction: "w" %>
        <% else %>
          <%= render partial: "commits/signed_commit_badge", locals: { item: commit, item_type: "commit", badge_size: "small", dropdown_direction: "w" } %>
        <% end %>
      </div>

      <div class="pr-1 flex-shrink-0" style="width: 16px;">
        <% if defer_status_check_rollups? && commit.has_status_check_rollup? %>
          <%= render "statuses/deferred_icon", commit_oid: commit.oid, dropdown_direction: "w", url: checks_statuses_batch_rollup_path(user_id: commit.repository.owner_display_login, repository: commit.repository) %>
        <% elsif !defer_status_check_rollups? && commit.status_check_rollup.present? %>
          <%= render partial: "statuses/icon", locals: { status: commit.status_check_rollup, updatable_url: checks_statuses_rollup_path(ref: commit.oid) } %>
        <% end %>
      </div>

      <!-- ml-1 is added to accommodate "clock" icon -->
      <div class="text-right ml-1">
        <code>
          <a href="<%= resource_path %>" class="Link--secondary"><%= commit.abbreviated_oid %></a>
        </code>
      </div>
    </div>
  </div>
  <% if commit.message_body_html.present? %>
    <div class="Details-content--hidden mt-2">
      <pre class="color-fg-muted ws-pre-wrap"><%= commit.message_body_html %></pre>
    </div>
  <% end %>
</div>
