<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  show_checks_status ||= false

  raise ArgumentError, "missing keyword: commit" if !local_assigns[:commit]
%>

<%= render partial: "commit/spoofed_commit_warning" %>

<div class="commit full-commit mt-0 px-2 pt-2 <%= 'merge-commit' if commit.merge_commit? %>">
  <div class="d-flex flex-justify-between gap-2">
    <div class="d-flex">
      <% if show_checks_status %>
        <span class="mr-1" style="height: 24px">
          <% if commit.has_status_check_rollup? %>
            <%= render "statuses/deferred_icon", commit_oid: commit.oid, dropdown_direction: "se", url: checks_statuses_batch_rollup_path(user_id: commit.repository.owner_display_login, repository: commit.repository) %>
          <% end %>
        </span>
      <% end %>

      <% if commit.empty_message? %>
        <div class="commit-title blank">
          No commit message
        </div>
      <% else %>
        <div class="commit-title markdown-title">
          <%= commit_message_markdown(commit.short_message_html) %>
        </div>
      <% end %>
    </div>

    <a id="browse-at-time-link" href="<%= commit_tree_path(commit.oid) %>" class="btn flex-self-start" rel="nofollow">Browse files</a>
    <%= render(Primer::Alpha::Tooltip.new(for_id: "browse-at-time-link", type: :description, text: "Browse the repository at this point in the history", direction: :ne)) %>
  </div>

  <% if commit.message_body_html? %>
    <div class="commit-desc"><pre><%= commit.message_body_html %></pre></div>
  <% end %>

  <%= render partial: "commit/commit_branches_tags", locals: { commit: commit } %>

  <div class="commit-meta p-2 d-flex flex-wrap gap-3 flex-column flex-md-row">

    <div class="d-flex flex-1">
      <%= render Commits::AvatarStackComponent.new(commit: commit) %>
      <div class="flex-self-start flex-content-center">
        <%= render Commits::AttributionInfoComponent.new(commit: commit, repository: commit.repository) %>
        <div class="d-none d-md-inline-block">
          <%= render "commit/deferred_badge", verifiable_global_relay_id: commit.global_relay_id, indicate_loading: commit.has_signature?, badge_size: "medium" %>
        </div>
      </div>
    </div>

    <div class="d-flex gap-3 no-wrap text-lg-right text-left overflow-x-auto">
      <span class="sha-block ml-0" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
        <%= pluralize commit.parent_count, "parent" %>
        <% commit.parent_oids.each_with_index do |parent_oid, index| %>
          <%= ' + ' unless index == 0 %>
          <% parent_path = params[:controller] == 'tree' ? :commit_tree_path : :commit_path %>
          <%= link_to parent_oid[0, 7], send(parent_path, parent_oid), :class => "sha", "data-hotkey" => parent_hotkey(index) %>
        <% end %>
      </span>
      <span class="sha-block m-0">commit <span class="sha user-select-contain"><%= commit.oid[0, 7] %></span></span>
    </div>
  </div>
</div>
