<% locked = !commit.can_comment?(current_user) %>
<% if logged_in? %>

  <div class="<%= class_names("js-comment-container ml-0 pl-0 ml-md-6 pl-md-3", "locked-conversation": locked) %>">
    <div class="d-none d-md-block">
      <%= timeline_comment_avatar_for(user: current_user) %>
    </div>

    <%= form_tag create_commit_comment_path(repository: current_repository, user_id: current_repository.owner_display_login), class: "js-new-comment-form js-needs-timeline-marker-header" do %>
      <%= spamurai_form_signals %>
      <div>
        <% if current_user.must_verify_email? %>
          <%= render partial: "comments/no_verified_email_message" %>
        <% else %>
          <input type='hidden' name='commit_id' value='<%= commit.oid %>'>
          <input type='hidden' name='path' value='<%= path_string %>'>
          <% if current_repository.archived? %>
            <%= render partial: "comments/archived_repository_comment_form" %>
          <% elsif current_repository.locked_on_migration? %>
            <%= render partial: "comments/migrating_repository_comment_form" %>
          <% elsif locked %>
            <%= render partial: "comments/locked_comment_form" %>
          <% else %>
            <%= render(Comments::PreviewableCommentFormComponent.new(
              textarea_id: "new_commit_comment_field",
              current_repository: current_repository,
              subject: commit,
              slash_commands_enabled: slash_commands_enabled?,
              use_fixed_width_font: current_user.use_fixed_width_font?
            )) %>

            <div class="d-flex flex-items-center flex-justify-end gap-2 my-2">
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, "data-disable-invalid": "", "data-disable-with": "") do %>Comment on this commit<% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </div>
<% else %>
  Please
  <%= link_to(
    "sign in",
    login_path_with_return,
    rel: "nofollow",
    class: "Link--inTextBlock",
    data: sign_in_link_data_attributes(location_in_page: "commit comment", repository_id: current_repository.id)
  ) %> to comment.
<% end %>
