<%
  show_checks_status_deferred = local_assigns.fetch(:show_checks_status, false) && defer_status_check_rollups? && commit.has_status_check_rollup?
  show_checks_status = local_assigns.fetch(:show_checks_status, false) && !show_checks_status_deferred && commit.status_check_rollup
%>
<% raise ArgumentError, "missing keyword: pull_comparison" if !local_assigns[:pull_comparison] %>
<% raise ArgumentError, "missing keyword: commit" if !local_assigns[:commit] %>
<% view = Commit::ShowView.new(:commit => commit, :repository => commit.repository, :current_user => current_user) %>
<div class="commit full-commit prh-commit px-2 pt-2 <% if commit.merge_commit? %>merge-commit<% end %>">
  <% unless pull_comparison.total_commits_size == 1 %>
    <%= render Primer::Beta::ButtonGroup.new(float: :right, "data-pjax": true, size: :small) do |c| %>
      <% if next_commit = pull_comparison.commit_before(commit) %>
        <% c.with_button(tag: :a, href: pull_request_commit_path(pull_comparison.pull, next_commit), "data-hotkey": "p", id: "prev-commit-#{commit.oid}") do |button| %>
          <% button.with_leading_visual_icon(icon: :"chevron-left") %>
          <% button.with_tooltip(text: "Previous commit") %>
          Prev
        <% end %>
      <% else %>
        <% c.with_button(disabled: true, classes: "tooltipped tooltipped-s", "aria-label": "You are viewing the earliest commit") do |button| %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          <% button.with_leading_visual_icon(icon: :"chevron-left") %>
          Prev
        <% end %>
      <% end %>

      <% if previous_commit = pull_comparison.commit_after(commit) %>
        <% c.with_button(tag: :a, href: pull_request_commit_path(pull_comparison.pull, previous_commit), "data-hotkey": "n", id: "next-commit-#{commit.oid}") do |button| %>
          <% button.with_trailing_visual_icon(icon: :"chevron-right") %>
          <% button.with_tooltip(text: "Next commit") %>
          Next
        <% end %>
      <% else %>
        <% c.with_button(disabled: true, classes: "tooltipped tooltipped-sw", "aria-label": "You are viewing the latest commit") do |button| %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          <% button.with_trailing_visual_icon(icon: :"chevron-right") %>
          Next
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if show_checks_status_deferred || show_checks_status %>
    <span class="mr-1 mt-1 float-left">
      <% if show_checks_status_deferred %>
        <%= render "statuses/deferred_icon", commit_oid: commit.oid, dropdown_direction: "se", url: checks_statuses_batch_rollup_path(user_id: commit.repository.owner_display_login, repository: commit.repository) %>
      <% elsif show_checks_status %>
        <%= render "statuses/icon", status: commit.status_check_rollup, dropdown_direction: "se", updatable_url: checks_statuses_rollup_path(ref: commit.oid) %>
      <% end %>
    </span>
  <% end %>

  <% if commit.empty_message? %>
    <div class="commit-title blank">
      No commit message
    </div>
  <% else %>
    <div class="commit-title markdown-title">
       <%= commit_message_markdown(commit.short_message_html) %>
    </div>
  <% end %>

  <% if commit.message_body_html? %>
    <div class="commit-desc"><pre><%= commit.message_body_html %></pre></div>
  <% end %>

  <%= render partial: "commit/commit_branches_tags", locals: { commit: commit } %>

  <div class="commit-meta clearfix p-2 no-wrap d-flex flex-column flex-md-row flex-md-items-center">
    <div class="flex-auto pb-2 pb-md-0">
      <div class="float-left"><%= render Commits::AvatarStackComponent.new(commit: commit) %></div>
      <%= render Commits::AttributionInfoComponent.new(commit: commit, repository: commit.repository) %>

      <% if defer_commit_badges? %>
        <%= render "commit/deferred_badge", verifiable_global_relay_id: commit.global_relay_id, indicate_loading: commit.has_signature?, badge_size: "medium" %>
      <% else %>
        <%= render partial: "commits/signed_commit_badge", locals: {
              item: commit,
              badge_size: 'medium',
              item_type: "commit" } %>
      <% end %>
    </div>
    <span>
      <span class="text-small color-fg-muted text-mono">commit <span class="sha user-select-contain"><%= commit.oid %></span></span>
    </span>
  </div>
</div>
