<%
  title_message = commit.short_message_text.empty? ? "" : "#{commit.short_message_text} · "
  title = "#{title_message}#{current_repository.name_with_display_owner}@#{commit.abbreviated_oid}"
  page_info selected_link: :repo_commits,
            title: title,
            class: diff_body_class(force_full_width: file_tree_available?(file_count: commit.diff.changed_files)),
            dashboard_pinnable_item_id: current_repository.global_relay_id,
            container_xl: true,
            richweb: {
              title: title,
              url: commit_url(commit.oid),
              description: truncate(commit.message_body_text || "", :length => 240),
              updated_time: commit.committed_date.to_i,
              image: repository_open_graph_image_url(current_repository, resource: commit)
            }

  view = Commit::ShowView.new(:commit => commit, :repository => current_repository, :current_user => current_user)
%>
<% content_for :head do %>
  <%= tag(:link, :href => "#{request.path}.diff",  :rel => 'alternate', :type => 'text/plain+diff',  :'data-turbo-transient' => true) %>
  <%= tag(:link, :href => "#{request.path}.patch", :rel => 'alternate', :type => 'text/plain+patch', :'data-turbo-transient' => true) %>

  <meta name="diff-view" content="<%= diff_view %>" data-turbo-transient>
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="<%= class_names("clearfix mt-4 px-3 px-md-4 px-lg-5",) %>">
  <%= render partial: "commit/commit_show_header", locals: {
    commit: commit,
    show_checks_status: show_checks_status,
    view: view
  } %>
  <%= render partial: "commit/show_contents", locals: { commit: commit, file_list_view: file_list_view, show_checks_status: show_checks_status, view: view } %>
</div>
<% end %>
