<% if inline_author_names %>
  <% author_actors.each_with_index do |author, i| %>
    <%= render Commits::ContributorLinkComponent.new(git_actor: author) %>
    <%= " and " if i != last_author_index %>
  <% end %>
<% else %>
  <span class="text-bold"> <%# Possible TODO: Bring back `title=attribution` later as a dialog or summary%>
    <%= commit.author_actors.count %> <%= authors_word %>
  </span>
<% end %>
<% if !committer_attribution %>
  <%= committed_word %>
<% else %>
  <%= authored_word %> and
  <%= render Commits::ContributorLinkComponent.new(git_actor: commit.committer_actor) %>
  <%= committed_word %>
<% end %>
<% if include_verbs %>
  <%= commit_date %>
<% end %>
