<%# erblint:counter DeprecatedComponentsCounter 1 %>

<div class="<%= avatar_stack_classes %>" <%= test_selector("commits-avatar-stack-count-#{stack_count}") %>>
  <div class="AvatarStack-body" <%= test_selector("commits-avatar-stack-attribution") %>>
    <% authors.each_with_index do |author, index| %>
      <% if exceeds_max_displayed_commit_avatars?(index) %>
        <div class="avatar-more avatar" <%= test_selector("commits-avatar-stack-more") %>></div>
      <% end %>
      <%= profile_link(author, profile_link_options(author)) do %>
        <%= avatar_for(author, size, data: { "test-selector": "commits-avatar-stack-avatar-image" }) %>
      <% end %>
    <% end %>
    <% if on_behalf_of %>
      <%= render(Primer::Tooltip.new(label: on_behalf_of_tooltip_message, direction: :se, float: :left, test_selector: "commits-avatar-stack-on-behalf-of")) do %>
        <%= render GitHub::AvatarComponent.new(actor: on_behalf_of, size: size, data: { "test-selector": "commits-avatar-stack-on-behalf-of-image" }) %>
      <% end %>
    <% end %>
  </div>
</div>
