<% if has_rename_commits %>
  <div class="TimelineItem TimelineItem--condensed pt-0 pb-2" <%= test_selector "browse-rename-history-selector" %>>
    <div class="TimelineItem-badge">
      <%= render Primer::Beta::Octicon.new(icon: "git-commit") %>
    </div>
    <div class="mt-1">
      Renamed from <%= old_file %>
      <a href="<%= commits_path(old_file, last_commit, current_repository) + "?browsing_rename_history=true&new_path=#{new_file}&original_branch=#{branch}" %>">
        (Browse History)
      </a>
    </div>
  </div>
<% else %>
  <div class="TimelineItem TimelineItem--condensed pt-0 pb-2" <%= test_selector "no-rename-history-selector" %>>
    <div class="TimelineItem-badge">
      <%= render Primer::Beta::Octicon.new(icon: "git-commit") %>
    </div>
    <div class="mt-1">
      End of commit history for this file
    </div>
  </div>
<% end %>
