<%# erblint:counter DeprecatedComponentsCounter 1 %>
<li class="Box-row Box-row--focus-gray mt-0 d-flex js-commits-list-item js-navigation-item"
    data-channel="<%= live_update_view_channel(websocket_channel) %>"
    data-url="<%= live_update_url %>"
    <%= test_selector("commits-list-item-component") %>
    <% if turbo_frame %><%= helpers.turbo_frame_attr(id: turbo_frame, flagged: true) %><% end %>
>
  <div class="flex-auto min-width-0 js-details-container Details">
    <p class="mb-1" <%= test_selector("commit-title") %>>
      <% if commit.message.blank? %>
        <%= render Primer::Beta::Link.new(href: resource_path, text: "italic", classes: "js-navigation-open") do %>
          No commit message
        <% end %>
      <% else %>
        <%= link_markup_to commit_message_markdown(message_headline_html),
            resource_path,
            class: "Link--primary text-bold js-navigation-open markdown-title" %>
      <% end %>

      <% if !message_body_html.blank? %>
        <span class="hidden-text-expander inline">
          <%= render Primer::ButtonComponent.new(classes: "ellipsis-expander js-details-target", aria: { expanded: false , label: "Commit message body"}) do %>
            &hellip;
          <% end %>
        </span>
      <% end %>
    </p>

    <% if !message_body_html.blank? %>
      <div class="my-2 Details-content--hidden" <%= test_selector("commit-description") %>><pre class="text-small ws-pre-wrap"><%= message_body_html %></pre></div>
    <% end %>

    <div class="d-flex flex-items-center mt-1" <%= test_selector("commit-author-section") %>>
      <%= render Commits::AvatarStackComponent.new(commit: commit) %>
      <div class="f6 color-fg-muted min-width-0">
        <%= render Commits::AttributionInfoComponent.new(commit: commit, repository: commit.repository) %>
      </div>
      <div class="ml-1">
        <% case status_check_rollup_availability %>
        <% when CHECK_RUN_UNAVAILABLE %>
          <%= render "statuses/check_runs_unavailable" %>
        <% else %>
          <% if always_defer_status_loading || has_status_check_rollup? %>
            <%= render "statuses/deferred_icon", commit_oid: commit.oid, url: check_statuses_rollups_path %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="d-flex flex-shrink-0" <%= test_selector("commit-links-cell") %>>
    <% if commit_comment_count > 0 %>
      <%= render Primer::Beta::Link.new(muted: true, mt: 1, mr: 2, display: :inline_block, vertical_align: :middle, href: comments_path) do %>
        <%= render(Primer::Beta::Octicon.new(icon: "comment", vertical_align: :bottom)) %>
        <%= number_with_delimiter commit_comment_count %>
      <% end %>
    <% end %>

    <%= render "commit/deferred_badge", verifiable_global_relay_id: commit.global_relay_id, indicate_loading: commit.has_signature?, badge_size: "large", html_class: "d-inline-block v-align-middle" %>

    <%= render(Primer::Alpha::ActionMenu.new(display: [:flex, :none])) do |menu| %>
      <% menu.with_show_button(icon: "kebab-horizontal", size: :small, scheme: :invisible, "aria-label": "Configuration menu") %>
      <% menu.with_item(label: "View commit details", href: resource_path) do |item| %>
        <% item.with_leading_visual_icon(icon: :"git-commit") %>
      <% end %>
      <% menu.with_item(tag: :"clipboard-copy", content_arguments: { value: commit.oid }, label: "Copy full SHA for #{commit.abbreviated_oid}") do |item| %>
        <% item.with_leading_visual_icon(icon: :copy) %>
      <% end %>
      <% if render_current_blob_path_link? %>
        <% menu.with_item(label: "View code at this point", href: blob_path(current_blob_path, commit.oid, commit.repository)) do |item| %>
          <% item.with_leading_visual_icon(icon: "file-code") %>
        <% end %>
      <% end %>
      <% menu.with_item(label: "Browse repository at this point", href: tree_path("", commit.oid, commit.repository)) do |item| %>
        <% item.with_leading_visual_icon(icon: :code) %>
      <% end %>
    <% end %>

    <%= render Primer::Beta::ButtonGroup.new(size: :small, mr: 2, test_selector: "commit-links-group", display: [:none, :flex]) do |c| %>
      <% c.with_button(px: 0, id: "copy-commit-#{commit.oid}") do |b| %>
        <% b.with_tooltip(text: sha_label) %>
        <%= render Primer::Beta::ClipboardCopy.new(value: commit.oid, "aria-label": sha_label, px: 2, py: 2) %>
      <% end %>
      <%= c.with_button(id: "commit-details-#{commit.oid}", font_family: :mono, font_size: 6, tag: :a, href: resource_path, test_selector: "commit-sha") do |b| %>
        <% b.with_tooltip(text: "View commit details") %>
        <%= commit.abbreviated_oid %>
      <% end %>
    <% end %>

    <%= render Primer::Beta::ButtonGroup.new(size: :small,  display: [:none, :flex]) do |c| %>
      <% if render_current_blob_path_link? %>
        <% c.with_button(id: "history-point-#{commit.oid}", icon: "file-code", tag: :a, href: blob_path(current_blob_path, commit.oid, commit.repository), aria: { label: "View at this point in the history"}) do |b| %>
          <% b.with_tooltip(text: "View at this point in the history") %>
        <% end %>
      <% end %>
      <% c.with_button(id: "history-link-#{commit.oid}", icon: "code", tag: :a, href: tree_path("", commit.oid, commit.repository), aria: { label: "Browse the repository at this point in the history"}) do |b| %>
        <% b.with_tooltip(text: "Browse the repository at this point in the history") %>
      <% end %>
    <% end %>
  </div>
</li>
