<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>

<%
  page_info(
    title: "Invitation to join #{current_repository.name_with_display_owner}",
    container_xl: true,
  )
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-sm px-3 px-md-4 px-lg-5 mt-4">
    <div class="pt-4 text-center">
      <%= linked_avatar_for(view.inviter, 48, img_class: "avatar") %>
      <%= primer_octicon(:plus, pl: 3, pr: 4, color: :muted) %>
      <%= linked_avatar_for(current_user, 48, img_class: "avatar") %>

      <p><h1 class="h3"><a class="Link--inTextBlock" href="/<%= view.inviter.path %>"><%= view.inviter.display_login %></a> invited you to collaborate</h1></p>

      <% if view.invitee_two_factor_requirement_non_compliant? %>
        <%= render Primer::Beta::Flash.new(scheme: :warning, full: true, p: 3, classes: "invitation-2fa-banner") do %>
          <p class="mb-3">
            <strong><%= view.organization_name %></strong> requires
            all members to have two-factor authentication enabled.
          </p>

          <a href="<%= settings_security_path %>" class="btn btn-primary mr-0">
            Enable two-factor authentication
          </a>
        <% end %>
      <% end %>

      <div class="boxed-group mt-4" data-hpc><%# erblint:disable DeprecatedCustomCss %>
        <%= form_tag repository_invitation_accept_path(view.invitation.id), :class => "inline-form js-navigation-open" do %>
          <% if params[:invitation_token].present? %>
            <input type="hidden" name="invitation_token" value="<%= params[:invitation_token] %>">
          <% end %>

          <button
            type="submit"
            class="btn btn-primary"
            <%= 'disabled' unless view.invitee_can_accept_invitation? %>
            <%= safe_analytics_click_attributes(category: "Repo Invitation Confirm Button", action: "click to accept repo invitation", label: "location:repo_invitation_confirmation_page") %>
          >
            Accept invitation
          </button>
        <% end %>

        <%= form_tag repository_invitation_reject_path(view.invitation.id), :class => "inline-form js-navigation-open" do %>
          <%= render Primer::ButtonComponent.new(
            type: :submit,
            data: analytics_click_attributes(category: "Repo Invitation Decline Button", action: "click to decline repo invitation", label: "location:repo_invitation_confirmation_page")
          ) do %>
            Decline
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-11 col-sm-8 mx-auto pb-2 border-bottom color-fg-muted">
      <p>
        <%= primer_octicon(:lock, mr: 2) %>
        <a href="<%= view.invitation_disclosure_article_url %>">Owners</a> of
        <%= current_repository.name %> will be able to see:
        <ul class="pl-3">
          <li>Your public profile information</li>
          <li><a class="Link--inTextBlock" href="<%= view.audit_log_disclosure_url %>">Certain activity</a> within this repository</li>
          <li>Country of request origin</li>
          <li>Your access level for this repository</li>
          <li>Your IP address</li>
        </ul>
      </p>
    </div>

    <% if GitHub.user_abuse_mitigation_enabled? %>
      <div class="col-11 col-sm-8 mx-auto mt-3">
        <p class="color-fg-muted mb-0">
          Is this user sending spam or malicious content?
        </p>
        <%= button_to "Block #{view.inviter}", block_repository_inviter_path(view.invitation), :class => "btn-link" %>
      </div>
    <% end %>
  </div>
<% end %>
