<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% locals = ensure_local_vars(local_assigns, {
  required: [:invitation, :invitation_token],
  optional: [],
  defaults: {},
  view: "repository_invitations/sign_up_via_repo_invitation"
}) %>

<% page_info :title => "Invitation to join #{locals[:invitation].repository.name_with_display_owner}" %>

<% content_for(:header_logo) do %>
  <a class="header-logo pb-3" href="<%= home_url %>" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
    <%= primer_octicon(:"logo-github", :height => 40) %>
  </a>
<% end %>

<div class="auth-form sign-up-via-invitation px-3">
  <div class="auth-form-body">

    <div class="text-center position-relative">
      <%= avatar_for locals[:invitation].inviter, 60, :class => "avatar mb-3" %>

      <p class="f3">
        You’ve been invited to collaborate on the<br>
        <strong><%= locals[:invitation].repository.name_with_display_owner %></strong>
        repository.
      </p>

      <p class="color-fg-muted text-small mt-2 mb-3">Invited by <%= locals[:invitation].inviter.safe_profile_name %> </p>
    </div>

    <hr class="bleed-flush">

    <div class="mt-4 mb-2" data-hpc>
      <h4 class="text-normal f5 text-center">New to GitHub? Create your account to accept this invitation</h4>

      <% if GitHub.flipper[:deprecate_legacy_signup_forms].enabled? %>
        <div class="d-flex flex-items-center mt-4 mb-4">
          <%= render(
              Primer::Beta::Button.new(
                type: :button,
                tag: :a,
                href: new_nux_signup_path(return_to: params[:return_to], repo_invitation_token: locals[:invitation_token]),
                scheme: :primary,
                mx: :auto
              )
            ) { "Sign up for GitHub" } %>
        </div>
      <% else %>
        <%= render "orgs/sign_up_form",
          :organization => locals[:invitation].repository.organization,
          :source => "repo-invitation",
          :hidden_fields => {
            :repo_invitation_token => locals[:invitation_token],
            :return_to => params[:return_to]
          } %>
      <% end %>
    </div>

  </div>

  <% if GitHub.billing_enabled? %>
    <p class="tos-info text-center text-small color-fg-muted mt-4">By clicking "Create account and join", you agree to our
      <a class="Link--inTextBlock" href="<%= site_terms_path %>" rel="noopener" target="_blank">Terms of Service</a> and
      <a class="Link--inTextBlock" href="<%= site_privacy_path %>" rel="noopener" target="_blank">Privacy Statement</a>. We’ll occasionally send you account related emails.
    </p>
  <% end %>
</div>
