<div class="d-flex flex-items-center gap-2">
  <%= render(GitHub::AvatarComponent.new(actor: current_context)) %>
  <%= render(primer_selectpanel_component(
    id: id,
    title: "Switch dashboard context",
    src: dashboard_ajax_context_list_path(current_context: current_context, id: id),
    preload: preload?,
    dynamic_label: true,
    size: :small,
    fetch_strategy: :eventually_local,
    show_filter: filterable?
  )) do |menu| %>
    <% menu.with_show_button(scheme: :invisible, "data-test-selector": "account-context", "aria-label": "Switch dashboard: #{current_context.display_login}") do |button| %>
      <% button.with_trailing_action_icon(icon: :"triangle-down") %>
      <%= current_context.display_login %>
    <% end %>
    <% menu.with_footer do |footer| %>
      <%= render(Primer::Beta::Button.new(
        href: settings_organizations_path,
        tag: :a,
        block: true,
      )) do |button| %>
        <% button.with_leading_visual_icon(icon: :organization) %>
        Manage organizations
      <% end %>
      <% if user_can_create_orgs? %>
        <%= render(Primer::Beta::Button.new(
          data: test_selector_hash("context-create-org"),
          href: new_organization_path,
          tag: :a,
          block: true,
        )) do |button| %>
          <% button.with_leading_visual_icon(icon: :plus) %>
          Create organization
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
