<%= render Primer::BaseComponent.new(tag: :'loading-context', position: :relative, h: :full, classes: "loading-context") do %>
    <div <%= test_selector "loading-context-spinner" %> class="loading-context-spinner" data-target="loading-context.spinner">
      <%= render Dashboard::LoadingSpinnerComponent.new %>
    </div>
    <div <%= test_selector("loading-context-details") %> data-target="loading-context.details" hidden>
      <%= details %>
    </div>
  <% end %>
