<div class="Box" <%= test_selector("dashboard-profile-readme-zero") %>>
  <div class="Box-header color-bg-default d-flex flex-items-center flex-justify-between py-2">
    <div class="text-mono text-small">
      <span><%= current_user.config_repo_name %></span><span class="color-fg-muted d-inline-block" style="padding:0px 2px;">/</span>README<span class="color-fg-muted">.md</span>
    </div>
    <%= button_to(
      "Create",
      profile_readme_path(current_user),
      {
        class: "btn btn-sm btn-primary",
        data: continue_button_data_attributes.merge(analytics_click_attributes(category: "Zero User Content", action: "click.cta_create_readme", label: "location:introduce yourself")),
      }.merge(test_selector_data_hash("profile-readme-continue"))
    ) %>
  </div>
  <article class="color-bg-subtle rounded-bottom-2 py-2">
    <% template_lines.each_with_index do |line, i| %>
      <div class="d-flex flex-items-center">
        <span class="blob-num pinned-gist-blob-num pl-0"><%= i + 1 %></span>
        <pre class="lh-condensed-ultra overflow-hidden"><%= line %></pre>
      </div>
    <% end %>
  </article>
</div>
