<%# erblint:counter DeprecatedComponentsCounter 5 %>
<div class="Box-row">
  <% if mismatch.context.any? %>
    <details class="details-reset">
      <%= render Primer::ButtonComponent.new(tag: :summary) do %>Context<span class="dropdown-caret"></span><% end %>
      <div class="mt-2">
        <% mismatch.context.each do |key, value| %>
          <dl class="d-flex flex-justify-start ml-4 mt-0 mb-2">
            <dt class="d-flex flex-items-center col-2 text-bold"><%= key %>:</dt>
            <dd class="d-block col-8"><%= value %></dd>
          </dl>
        <% end %>
      </div>
    </details>
  <% end %>

  <details class="details-reset">
    <%= render Primer::ButtonComponent.new(tag: :summary) do %>Control<span class="dropdown-caret"></span><% end %>
    <p><code><%= mismatch.control_value %></code></p>
  </details>

  <% mismatch.candidate_values.each do |name, value, exception| %>
    <details class="details-reset">
      <% if exception.present? %>
        <%= render Primer::ButtonComponent.new(tag: :summary) do %>Candidate raised<span class="dropdown-caret"></span><% end %>
        <p><code><%= exception %></code></p>
      <% else %>
        <%= render Primer::ButtonComponent.new(tag: :summary) do %>Candidate<span class="dropdown-caret"></span><% end %>
        <p><code><%= value %></code></p>
      <% end %>
    </details>
  <% end %>

  <% mismatch.diff_lines_by_candidate.each do |name, diff| %>
    <div class="mb-1">
      <p>Diff between control and candidate:</p>
      <pre class="highlight">
        <div>
          <%= safe_join(diff, "\n") %>
        </div>
      </pre>
    </div>
  <% end %>

  <details class="details-reset">
    <%= render Primer::ButtonComponent.new(tag: :summary) do %>Show raw data<span class="dropdown-caret"></span><% end %>
    <pre class="highlight">
      <div>
        <%= safe_join(mismatch.raw_data_lines, "\n") %>
      </div>
    </pre>
  </details>
</div>
