<% page_info(title: "@#{sponsor} · Invoiced sponsors · GitHub Sponsors", selected_link: :account_billing) %>

<%= render(Primer::Beta::Subhead.new) do |component| %>
  <% component.with_heading do %>
    Create a Sponsors invoice
  <% end %>
  <% component.with_description do %>
    <p>
      Once the customer has signed an agreement for the desired amount, you can create a Stripe invoice so that their
      sponsorship balance is topped up.
    </p>
    The Stripe invoice will be created as a
    <a class="Link--inTextBlock" href="https://stripe.com/docs/invoicing/overview" target="_blank" rel="noopener noreferrer">draft</a>
    and stay that way until someone manually finalizes it, which will send it to the customer. You can edit it on
    Stripe while it's still a draft, if necessary.
    <a class="Link--inTextBlock" target="_blank" href="https://github.com/github/sponsors/blob/main/stripe/sending-a-stripe-invoice.md">Read our internal docs &rarr;</a>
  <% end %>
<% end %>

<%= form_tag stafftools_sponsors_stripe_invoices_path(sponsor) do %>
  <div class="form-group">
    <div class="FormControl width-full">
      <label class="FormControl-label">Receiving organization:</label>
      <div class="position-relative d-flex flex-items-center">
        <a class="Link--primary"
          href="<%= user_path(sponsor) %>"
          <%= safe_data_attributes(hovercard_data_attributes_for_user(sponsor)) %>
          target="_blank"
          rel="noopener noreferrer"
        >
          <%= render GitHub::AvatarComponent.new(actor: sponsor, size: 24, mr: 2) %> <%= sponsor %>
        </a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= render Primer::Alpha::TextField.new(
      name: :purchase_order_number,
      label: "Purchase order (PO) number:",
      placeholder: "e.g., 21041258",
      value: purchase_order_number,
      caption: "If a purchase order was marked as required on the order form, you should wait till the purchase " \
        "order is received before creating an invoice.",
    ) %>
  </div>
  <div class="form-group">
    <%= render Primer::Alpha::TextField.new(
      name: :stripe_customer_id,
      label: "Stripe customer ID:",
      value: stripe_customer_id,
      placeholder: "e.g., cus_NWHTE7nqw3aEcZ",
      caption: "The ID of the customer in Stripe who should receive this invoice.",
    ) %>
    <% if stripe_customer_id.present? %>
      <a class="text-small" href="<%= stripe_customer_url(stripe_customer_id) %>" target="_blank" rel="noopener noreferrer">
        View on Stripe <%= primer_octicon(:"link-external", size: :xsmall) %>
      </a>
    <% end %>
  </div>
  <div class="form-group">
    <%= render Primer::Alpha::TextField.new(
      name: :amount_in_dollars,
      type: :number,
      label: "Amount in dollars:",
      value: amount_in_dollars,
      min: 1,
      step: 0.01,
      placeholder: "e.g., 23000 or 23000.00 for $23,000.00",
      caption: "The amount you want them to pay. This amount less the fee percentage will be added to " \
        "their sponsorship balance. If no fee is specified, this entire amount will be added to their " \
        "sponsorship balance.",
    ) %>
  </div>
  <div class="form-group">
    <%= render Primer::Alpha::TextField.new(
      name: :fee_percentage,
      type: :number,
      label: "Fee percentage:",
      value: fee_percentage,
      min: 0,
      max: 100,
      step: 0.01,
      placeholder: "e.g., 3 for 3%",
      caption: "What percentage of the amount they pay should be kept by GitHub as a service fee, if any. Defaults " \
        "to 0. This amount will not be added to their sponsorship balance.",
    ) %>
  </div>
  <div class="form-actions">
    <%= render Primer::Beta::Button.new(
      scheme: :primary,
      type: :submit,
    ).with_content("Create Stripe invoice") %>
  </div>
<% end %>
