<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render(Mail::HeaderTitleComponent.new(title: GitHub.random_zen, icon: "cogs.png")) %>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<p>This is an HTML email delivered to you. Styled by Primer.</p>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<%= render partial: "mailers/shared/progress_bar", locals: { color: "green", percentage: 25, label: "Spending limit", amount: "$25 of $100" } %>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(Mail::ButtonComponent.new(text: "You are awesome", url: "https://github.com", classes: "btn-primary btn-large")) %>
<% end %>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<%= render(Mail::RowComponent.new(classes: "text-gray")) do %>
  <%= render(Mail::ColumnComponent.new(classes: "pr-2")) do %>
    I am a column for some very interesting content. The text wraps around nicely and fits into this column.
    This sure is very useful.
  <% end %>
  <%= render(Mail::ColumnComponent.new) do %>
    I am another column that is within a row. I am also positioned correctly and wrap nicely.
  <% end %>
<% end %>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
