<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render(Mail::HeaderTitleComponent.new(title: "GitHub Actions scheduled workflow", icon: "actions.png")) %>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<p>Scheduled workflows are disabled automatically after <%= @threshold %> days of repository inactivity. <a href="<%= GitHub.help_url %>/actions/managing-workflow-runs/disabling-and-enabling-a-workflow">Learn more about disabling and enabling workflows.</a></p>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<% if @disabled %>
  <p>You can re-enable <b><%= @workflow.name %></b> on the workflows page.</p>
<% else %>
  <p>You can prevent <b><%= @workflow.name %></b> from being disabled on the workflows page.</p>
<% end %>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(Mail::ButtonComponent.new(text: "Manage workflow", url: @url, classes: "btn-primary btn-large")) %>
<% end %>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
