<% page_info title: title %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading"><%= title %></h2>
  </div>

  <% if orchestrations.any? %>
    <table class="site-admin-table">
      <tr>
        <th class="tiny">
          ID
        </th>
        <th class="tiny" style="text-align: center">
          State
        </th>
        <th class="tiny">
          Type
        </th>
        <th class="tiny">
          Step
        </th>
        <th class="tiny" style="text-align: center">
          Attempts
        </th>
        <th class="tiny" >
          Duration
        </th>
        <th class="tiny" >
          Created At
        </th>
      </tr>
      <% orchestrations.each do |orchestration| %>
        <tr>
          <td class="tiny">
            <%= orchestration_link(orchestration) %>
          </td>
          <td class="tiny" style="text-align: center">
            <%= octicon_for_state(orchestration.state) %>
            &nbsp;
          </td>
          <td>
            <%= orchestration_type(orchestration) %>
          </td>
          <td>
            <%= orchestration.step_name %>
          </td>
          <td style="text-align: center">
            <%= orchestration.attempts %>
          </td>
          <td>
            <%= "#{(orchestration.updated_at - orchestration.created_at).round(2)} sec" %>
          </td>
          <td>
            <%= orchestration.created_at.utc %>
          </td>
        </tr>
      <% end %>
    </table>
    State: <%= octicon_for_state("succeeded") %> Succeeded | <%= octicon_for_state("failed") %> Failed | <%= octicon_for_state("created") %> Created | <%= octicon_for_state("other") %> Other

    <div class="paginate-container">
      <%= will_paginate @orchestrations, params: {user_id: params[:user_id], repository: params[:repository]} %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">
      No orchestrations.
    </p>
  <% end %>
</div>
