<%= render Primer::BaseComponent.new(tag: :div, **system_arguments) do %>
  <div class="d-flex flex-items-start flex-lg-items-center">
    <% if icon %>
      <%= render Primer::BaseComponent.new(tag: :div, test_selector: "banner-icon") do %>
        <span class="d-flex mr-3 ml-0 color-bg-accent flex-justify-center flex-items-center" style="width:30px; height:30px; border-radius:50%;">
          <%= render(Primer::Beta::Octicon.new(icon: icon, color: :accent)) %>
        </span>
      <% end %>
    <% end %>
    <div class="d-lg-flex flex-items-center flex-auto">
      <div class="flex-auto">
        <%= title %>
        <%= description %>
      </div>
      <div class="d-flex flex-items-center mt-2 mt-lg-0 <%= "mr-3" if scheme == :full_width %>">
        <%= action %>
        <% if dismissible == :user %>
          <%= form_tag dismiss_notice_path(notice_name), :class => "js-notice-dismiss" do %>
              <%= button_tag(type: "submit",
                class: "btn-link",
                data: dismiss_data || {},
                "aria-label": "Dismiss") do %>
                <span class="d-none d-lg-inline-block">
                  <%= render(Primer::Beta::Octicon.new(icon: :x, color: :muted, "aria-label": "Dismiss")) %>
                </span>
                <span class="d-lg-none">Dismiss</span>
              <% end %>
          <% end %>
        <% elsif dismissible == :organization %>
          <%= form_tag dismiss_org_notice_path(organization), method: :delete, class: "js-notice-dismiss" do %>
            <input type="hidden" name="input[organizationId]" value="<%= organization.id %>">
            <input type="hidden" name="input[notice]" value="<%= notice_name %>">
            <%= button_tag(type: "submit",
              class: "btn-link",
              data: dismiss_data || {},
              "aria-label": "Dismiss") do %>
              <span class="d-none d-lg-inline-block">
                <%= render(Primer::Beta::Octicon.new(icon: :x, color: :muted, "aria-label": "Dismiss")) %>
              </span>
              <span class="d-lg-none">Dismiss</span>
            <% end %>
          <% end %>
        <% elsif dismissible == :business %>
          <%= form_tag enterprise_notice_path(business, notice: notice_name),
            method: :delete,
            class: "js-notice-dismiss" do %>
            <%= button_tag(type: "submit",
              class: "btn-link",
              data: dismiss_data || {},
              "aria-label": "Dismiss") do %>
              <span class="d-none d-lg-inline-block">
                <%= render(Primer::Beta::Octicon.new(icon: :x, color: :muted, "aria-label": "Dismiss")) %>
              </span>
              <span class="d-lg-none">Dismiss</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
