<% if !this_user.is_organization_billed_through_business? && this_user.customer %>
  <%= render_react_partial(
    name: "licensify-licenses",
    ssr: false,
    props: {
      customerId: this_user.customer.id.to_s,
    }
  ) %>
<% end %>

<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2, danger: true) do %>Danger zone<% end %>
<% end %>
<div class="Box Box--danger">
  <div class="Box-row">
    <div class="form-group d-flex mt-0">
      <div class="d-flex flex-column col-6">
        <label>Synchronize SDLC licenses</label>
        <span class="note">
          This should only be done in extremely rare circumstances, such as a problem with the transition
          to metered, or some other exceptional reason.
        </span>
      </div>
      <div class="d-flex flex-1 flex-justify-center flex-column">
        <%= form_tag stafftools_user_billing_sdlc_licensing_index_path(this_user), method: :put do %>
          <%= render(Primer::Alpha::Dialog.new(
              title: "Confirm license sync",
              id: dom_id(this_user),
              size: :medium_portrait,
            )) do |dialog| %>
            <% dialog.with_show_button(
              scheme: :danger,
              block: true,
              id: dom_id(this_user)
            ) { "Sync licenses" } %>

            <% dialog.with_body do %>
              Use this to make sure we're tracking up-to-date licenses within this organization.
            <% end %>

            <% dialog.with_footer do %>
              <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": dom_id(this_user) })) { "Cancel" } %>
              <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger)) { "Confirm" } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
