<% page_info title: "Audit log", selected_link: :business_audit_log_stream_settings,
  stafftools: stafftools_enterprise_path(business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: business,
    check_result: check_result,
    check_is_ok: check_is_ok,
    title: "Audit log",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <%= render "businesses/audit_log/tabs", business: business %>
  <%= render Primer::Beta::Subhead.new(spacious: false) do |component| %>
    <% component.with_heading(tag: :h3, font_size: 3, font_weight: :bold, pb: 2) do %>Configure Audit log streaming to Google Cloud Storage<% end %>
    <% component.with_description do %>Stream audit logs to a Google Cloud Storage endpoint.
      <a class="Link--inTextBlock" href="https://cloud.google.com/storage/docs/creating-buckets" aria-label="Learn more about streaming to Google Cloud Storage">Learn more.</a>
    <% end %>
  <% end %>
  <%= render partial: "businesses/audit_log_stream/check_result", locals: { check_result: check_result } %>
  <%= form_tag form_route, method: :post,
    class: "js-encrypt-bulk-submit-enable-empty",
    "data-public-key" => public_key do %>
    <div class="gutter clearfix d-flex flex-shrink-0">
      <div class="col-8">
        <dl class="form-group">
          <dt><%= label_tag :gcs_bucket, "Bucket" %></dt>
          <dd><%= text_field_tag :gcs_bucket, google_cloud.bucket %></dd>
        </dl>
        <dl class="form-group">
          <dt><%= label_tag :secret, "JSON Credentials" %></dt>
          <dd><%= password_field_tag :secret, "", :autocomplete => 'new-password', :placeholder => json_placeholder %></dd>
        </dl>
      </div>
    </div>

    <%= hidden_field_tag :secret_encrypted_value, google_cloud.encrypted_json_credentials %>
    <%= hidden_field_tag :public_key_id, public_key_id %>
    <%= hidden_field_tag :id, google_cloud.id %>

    <%= render partial: "businesses/audit_log_stream/buttons", locals: { business: business, check_is_ok: check_is_ok } %>
  <% end %>
<% end %>
