<div class="Box Box--spacious color-bg-subtle rounded-2 border-0" <%= test_selector("sponsors-goals-active") %>>
  <div class="Box-body d-flex border-0">
    <%= render Sponsors::Sponsorables::LinkedAvatarComponent.new(sponsors_listing: sponsors_listing) %>
    <div class="ml-3 flex-1">
      <label class="d-block mb-1">
        <%= goal_base_title %>
        <span class="<%= target_value_preview_css_class %>">
          <%= goal_title %>
        </span>
      </label>
      <p class="mb-0">
        <span class="<%= description_preview_css_class %>">
          <%= goal_description %>
        </span>
      </p>
    </div>
  </div>
</div>
