<div class="Box-row Box-row--hover-blue hx_Box-row--with-top-border js-sponsors-custom-amount-container" <%= test_selector("select-custom-amount") %>>
  <%= form_tag(form_action, method: :get, class: "d-flex flex-items-center flex-justify-between mb-2 js-tier-shared-parent", data: test_selector_hash("select-custom-amount-form")) do %>
    <input type="hidden" name="sponsor" value="<%= sponsor_login %>">
    <input type="hidden" name="preview" value="<%= previewing? %>">
    <input type="hidden" name="frequency" value="<%= one_time? ? "one-time" : "recurring" %>">
    <% @sponsorable_metadata.each do |key, value| %>
      <input type="hidden" name="<%= key %>" value="<%= value %>">
    <% end %>
    <div class="form-group my-0">
      <h4 class="d-flex flex-items-center">
        <span class="position-relative mr-2">
          <span class="position-absolute ml-2 color-fg-muted" style="top: 4px;left: 3px">$</span>
          <auto-check <%= test_selector("custom-tier-verify") %> class="js-tier-pricing-check" src="<%= sponsorable_custom_tier_verify_url %>" required>
            <input type="number"
              class="form-control pl-4 js-sponsors-custom-amount-input"
              style="width: 96px;"
              name="amount"
              value="<%= custom_amount_value %>"
              min="1"
              step="1"
              aria-label="Custom sponsorship amount"
              max="<%= SponsorsTier::MAX_SPONSORSHIP_AMOUNT_IN_DOLLARS %>"
              <%= "autofocus" if autofocus_custom_amount? %>
              required>
            <%= csrf_hidden_input_for sponsorable_custom_tier_verify_url %>
          </auto-check>
        </span>
        <span <%= test_selector("custom-amount-frequency") %>>
          <%= one_time? ? "one time" : "a month" %>
        </span>
      </h4>
    </div>

    <% if show_select_button? %>
      <%= render Primer::Beta::Button.new(
        type: :submit,
        test_selector: "select-custom-amount-button",
        float: :right,
        classes: "js-publish-tier-button",
      ).with_content("Select") %>
    <% end %>
  <% end %>
  <div
    class="markdown-body comment-body p-0 js-sponsors-custom-amount-message"
    data-tier-minimums="<%= tier_minimums.to_json %>"
    data-min-custom-tier-amount="<%= min_custom_tier_amount %>"
    data-tier-reward-prefix="<%= tier_reward_prefix %>"
    data-tier-reward-suffix="<%= tier_reward_suffix %>"
    data-default-reward-text="<%= default_reward_text %>"
    data-choose-amount-text="<%= choose_amount_text %>"
    <%= test_selector('custom-tier-rewards-message') %>
    >
      <%= rewards_message %>
  </div>
</div>
