<li class="Box d-flex mb-3 p-3 sponsors-featured-item" <%= test_selector("sponsors-meet-team-#{user.display_login}") %>>
  <%= profile_link(user) { helpers.avatar_for(user, 50, class: "avatar") } %>
  <div class="flex-auto ml-3 wb-break-word">
    <%= profile_link(user, class: "no-underline mb-1 d-block") do %>
      <span class="h4 color-fg-default" <%= test_selector("display-name-#{user.id}") %>><%= user.safe_profile_name %></span>
      <% unless user.display_login == user.safe_profile_name %>
        <span class="ml-1 color-fg-muted" <%= test_selector("username-#{user.id}") %>><%= user.display_login %></span>
      <% end %>
    <% end %>
    <% if description.present? %>
      <div <%= test_selector("item-description") %>><%= description %></div>
    <% elsif user.profile_bio.present? %>
      <div <%= test_selector("user-bio") %>>
        <%= GitHub::Goomba::ProfileBioPipeline.to_html(user.profile_bio, {}) %>
      </div>
    <% end %>
  </div>
</li>
