<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <p class="<%= @header_class %>">
    <span <%= test_selector("sponsors-goal-percent-complete") %> class="<%= percentage_preview_css_class %>">
      <%= goal_percent_complete %>%
    </span>

    towards

    <span class="<%= target_value_preview_css_class %>">
      <%= @goal&.title %>
    </span>

    goal
  </p>
  <%=
    render(Primer::Beta::ProgressBar.new(mb: 2)) do |component|
      component.with_item(
        style: "background-color: #ec6cb9 !important;",
        percentage: goal_percent_complete,
        classes: "sponsors-goal-progress-bar #{percentage_bar_preview_css_class}",
        **progress_data_attr
      )
    end
  %>

  <% if @preview.blank? %>
    <div class="d-flex" <%= test_selector("sponsors-goals-progress-avatars") %>>
      <% if sponsors_to_render.any? %>
        <div class="AvatarStack mr-1 <%= avatar_modifier_class %>">
          <div class="AvatarStack-body">
            <% sponsors_to_render.first(2).each do |sponsor| %>
              <%= linked_avatar_for(sponsor, 20, link_class: "avatar") %>
            <% end %>

            <% if sponsors_to_render.size > 2 %>
              <div class="avatar avatar-more"></div>
              <% sponsors_to_render.drop(2).each do |sponsor| %>
                <%= linked_avatar_for(sponsor, 20, link_class: "avatar") %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <p class="text-small color-fg-muted" <%= test_selector("sponsors-goals-progress-text") %>>
        <% if sponsors_count.positive? %>
          <% if sponsor_already_sponsoring? %>
            <% if how_many_others.positive? %>
              You <%= others_text %> sponsor this goal
            <% else %>
              You sponsor this goal
            <% end %>
          <% elsif show_sponsor_names? %>
            <%= render Primer::Beta::Truncate.new do |trunc| %>
              <% trunc.with_item(tag: :span, max_width: 150) do %>
                <%= sponsors_to_render.first.display_login %>
              <% end %>
            <% end %>
            <% if how_many_others.positive? %>
              <%= others_text %> sponsor this goal
            <% else %>
              sponsors this goal
            <% end %>
          <% elsif sponsors_count == 1 %>
            1 other sponsors this goal
          <% else %>
            <%= sponsors_count %> others sponsor this goal
          <% end %>
        <% else %>
          Be the first to sponsor this goal!
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>
