<%= render(Primer::Beta::BorderBox.new(test_selector: "latest-one-time-payment")) do |component| %>
  <% component.with_row(scheme: :default) do %>
    <%=
      render(Sponsors::AccountSwitcherComponent.new(
        sponsorable: sponsorable,
        sponsor: sponsor,
        sponsorship: sponsorship,
        adminable_orgs_only: false,
        allow_selecting_invoiced_orgs: true,
        path_params: sponsorable_metadata,
      ))
    %>
  <% end %>
  <% component.with_row do %>
    <div class="d-flex">
      <div class="color-fg-sponsors flex-items-center mr-2">
        <%= render Primer::Beta::Octicon.new(icon: "heart-fill") %>
      </div>
      <p <%= test_selector("latest-one-time-payment-message") %>>
        <% if amount_readable_by_viewer? %>
          Sponsored for <strong>$<%= latest_one_time_payment_amount %></strong> on <strong><%= one_time_payment_date %></strong>
        <% else %>
          Sponsored one-time on <strong><%= one_time_payment_date %></strong>
        <% end %>
      </p>
    </div>
    <% if amount_readable_by_viewer? %>
      <%= render(Primer::Beta::Link.new(href: sponsors_log_path, test_selector: "latest-one-time-payment-log").with_content("See your history")) %>
    <% end %>
  <% end %>
<% end %>
