<div class="border-top py-4 color-border-muted" <%= test_selector("sponsors-profile-meet-team") %>>
  <h4 class="f3-light color-fg-muted mb-3">
    Meet the team
  </h4>
  <ul class="list-style-none d-flex flex-row flex-wrap flex-justify-between">
    <% featured_users.take(MAX_DISPLAYED_FEATURED_USERS).each do |item| %>
      <%= render Sponsors::Profile::FeaturedUserComponent.new(
        user: item.featureable,
        description: item.description,
      ) %>
    <% end %>
  </ul>
  <% if featured_users.length > MAX_DISPLAYED_FEATURED_USERS %>
    <div class="Details js-details-container">
      <%= render Primer::Beta::Button.new(
        scheme: :link,
        font_size: 6,
        color: :muted,
        underline: false,
        "aria-expanded": "false",
        classes: "js-details-target") do %>
        <span class="Details-content--shown">Show more <%= primer_octicon(:"chevron-down") %></span>
        <span class="Details-content--hidden">Show less <%= primer_octicon(:"chevron-up") %></span>
      <% end %>
      <ul class="list-style-none d-flex flex-row flex-wrap flex-justify-between pt-4 Details-content--hidden">
        <% featured_users.drop(MAX_DISPLAYED_FEATURED_USERS).each do |item| %>
          <%= render Sponsors::Profile::FeaturedUserComponent.new(
            user: item.featureable,
            description: item.description,
          ) %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
