<% sponsors_patreon_tiers.each do |sponsors_patreon_tier| %>
  <%= render Sponsors::Profile::PatreonTierComponent.new(
    sponsors_patreon_tier: sponsors_patreon_tier,
    sponsorable: sponsorable,
    sponsor: @sponsor,
    sponsorship: sponsorship,
  ) %>
<% end %>

<div class="Box-row hx_Box-row--with-top-border">
  <% unless sponsoring_via_patreon? %>
    <p <%= test_selector("patreon-redirect-message") %>>
      You'll be redirected to Patreon to complete your transaction.
    </p>
  <% end %>

  <p class="mb-0" <%= test_selector("patreon-connect-cta") %>>
    <%= action_text %> your Patreon in <%= link_to "settings", settings_path, class: "Link--inTextBlock" %>.
  </p>
</div>
