<div class="Box-row Box-row--hover-blue hx_Box-row--with-top-border" <%= test_selector("select-patreon-tier") %>>
  <% if sponsoring_via_patreon? %>
    <div class="d-flex flex-row flex-justify-between flex-wrap flex-items-center mb-1">
      <%= render Primer::Beta::Label.new(
        scheme: :secondary,
        test_selector: "current-sponsorship-label",
      ).with_content("Current sponsorship") %>

      <%= render Sponsors::Profile::PatreonActionsComponent.new(
        sponsors_patreon_tier: sponsors_patreon_tier,
        sponsorship: sponsorship,
      ) %>
    </div>
  <% end %>

  <div class="d-flex flex-items-center flex-justify-between flex-wrap flex-row">
    <h4 class="d-inline-block" <%= test_selector("patreon-tier-name") %>>
      <%= tier_name %>
    </h4>

    <%= render(Primer::Beta::Button.new(
      tag: :a,
      href: select_tier_button_link,
      test_selector: "select-patreon-tier-button",
    )) do |component| %>
      <% component.with_leading_visual_svg do %>
        <%= render Sponsors::PatreonIconComponent.new %>
      <% end %>

      <%= select_tier_button_text %>
    <% end %>
  </div>
</div>
