<li <%= test_selector("sponsors-featured-repos-search-#{pinnable_item.id}") %> class="css-truncate <%= li_classes %>">
  <input <%= test_selector("pinnable-repo-#{pinnable_item.id}") %>
    type="checkbox"
    value="<%= "#{pinnable_item.id}" %>"
    class="f5 pinned-item-checkbox m-2 position-absolute"
    data-targets="featured-work.checkboxes"
    data-action="change:featured-work#toggleRepository"
    <%= input_attributes %>
  >
  <label class="pinned-item-name d-flex flex-items-center pl-5 p-1"
    for="pinned-item-<%= pinnable_item.id %>">
    <%= primer_octicon(octicon_name, mr: 2, classes: "flex-shrink-0", aria: { label: octicon_label }) %>
    <strong class="css-truncate-target width-fit flex-auto" data-filter-item-text>
      <%= truncate(title, length: 50) %>
    </strong>
    <span class="stars no-wrap color-fg-muted">
      <%= social_count(pinnable_item.stargazer_count) %>
      <%= primer_octicon(:star, :"aria-label" => "star".pluralize(pinnable_item.stargazer_count)) %>
    </span>
  </label>
</li>
