<%# rubocop:disable Rails/DataHash %>
<%= render(Primer::Alpha::Dialog.new(title: "Share your sponsorships", visually_hide_title: true, size: :medium_portrait, open: true, test_selector: "sponsors-social-sharing-dialog")) do |d| %>
  <%= d.with_body do %>
    <%= render Primer::Alpha::Image.new(src: image_path("modules/site/sponsors/sponsors-mona.svg"), alt: "Mona", width: 210, display: :block, mx: :auto, mt: 2, mb: 6) %>
    <p class="h3 mb-3">Make your sponsorships go further when you share on social media.</p>

    <%= render Sponsors::ShareButtonComponent.new(
      sponsorable_login: @sponsorable.display_login,
      user: current_user,
      text: share_default_text,
      data: share_button_data,
      url_params: share_button_url_params,
      render_textarea: true,
      autofocus: true
    ) %>

    <div class="float-right mt-1">
      <%= content_tag("clipboard-copy",
          class: "btn-octicon js-clipboard-copy",
          value: sponsors_profile_url,
          "aria-label": "Copy URL to clipboard",
          data: clipboard_button_data
      ) do %>
        <%= primer_octicon(:copy, classes: "js-clipboard-copy-icon") %>
        <span class="js-clipboard-check-icon d-none color-fg-success">
          <%= render Primer::Beta::Octicon.new(icon: "check") %>
        </span>
      <% end %>
    </div>
  <% end %>
<% end %>
