<%# rubocop:disable Rails/DataHash %>
<div class="Box color-shadow-medium mt-4" <%= test_selector("sponsors-social-sharing") %>>
  <div class="Box-row">
    <div class="d-flex flex-items-center mb-3">
      <img src="<%= image_path "modules/site/sponsors/pink-sponsors.svg" %>" class="mr-2" alt="sponsors icon">
      <div class="flex-1 wb-break-word">
        Share why you became <strong><%= @sponsorable.display_login %></strong>’s sponsor!
      </div>
    </div>
    <div class="clearfix">
      <%= render Sponsors::ShareButtonComponent.new(
        sponsorable_login: @sponsorable.display_login,
        user: current_user,
        text: default_text,
        url_params: Sponsors::TrackingParameters.new(
          origin: Sponsors::TrackingParameters::SPONSORS_PROFILE_ORIGIN,
          referring_account_login: @sponsor.display_login,
        ).to_h,
        render_textarea: true,
        data: sponsors_button_hydro_attributes(
          :SPONSORS_PROFILE_SHARE,
          @sponsorable.display_login,
        ),
        autofocus: @autofocus
      ) %>

      <div class="float-right mt-1">
        <%= content_tag("clipboard-copy",
            class: "btn-octicon js-clipboard-copy",
            value: sponsors_profile_url,
            "aria-label": "Copy URL to clipboard",
            data: sponsors_button_hydro_attributes(:SOCIAL_SHARE_CLIPBOARD, @sponsorable.display_login).merge(
              copy_feedback: "Copied Sponsors profile link to clipboard!",
              tooltip_direction: "sw",
            )
        ) do %>
          <%= primer_octicon(:copy, classes: "js-clipboard-copy-icon") %>
          <span class="js-clipboard-check-icon d-none color-fg-success">
            <%= render Primer::Beta::Octicon.new(icon: "check") %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
