<div class="d-flex mb-1 mr-1" <%= test_selector("sponsor-avatar") %> <%= next_page_attribute %>>
  <% if can_show_identity? %>
    <%= linked_avatar_for(
      user_or_org,
      size,
      img_class: "avatar",
      link_data: test_selector_hash("public-sponsor"),
    ) %>
  <% else %>
    <a
      id="<%= private_sponsor_uuid %>"
      href="<%= helpers.docs_url("sponsors/sponsorship-privacy-setting") %>"
      class="d-inline-block border avatar-user overflow-hidden text-center text-small color-bg-subtle"
      style="width:<%= size %>px; height: <%= size %>px; line-height: <%= size %>px;"
      <%= test_selector("private-sponsor") %>
    >
      <%= render Primer::Beta::Octicon.new(
        icon: "person",
        color: :subtle,
        test_selector: "private-sponsorship-icon-#{sponsorship.id}",
        aria: { label: "Private Sponsor" }) %>
    </a>

    <%= render Primer::Alpha::Tooltip.new(
      for_id: private_sponsor_uuid,
      type: :description,
      text: "Private Sponsor",
      direction: :ne
    ) %>
  <% end %>
</div>
