<div class="border-top pt-4 color-border-muted" <%= test_selector("sponsors-count") %>>
  <p class="f3-light color-fg-muted mb-3">
    <% if is_first_sponsorship? %>
      You are <%= @sponsorable.display_login %>’s first sponsor!
    <% elsif is_new_sponsorship? %>
      You joined <%= @sponsor_count - 1 %> <%= "other".pluralize(@sponsor_count -1) %>
      in sponsoring <%= @sponsorable.display_login %>!
    <% elsif is_sponsoring? %>
      You are one of <%= @sponsorable.display_login %>’s <%= @sponsor_count %> <%= "sponsor".pluralize(@sponsor_count) %>!
    <% else %>
      <%= pluralize(@sponsor_count, "sponsor") %>
      <%= "has".pluralize(@sponsor_count) %> funded
      <%= @sponsorable.display_login %>’s work.
    <% end %>
  </p>
</div>
