<div class="mt-3 pb-4" id="sponsors-section-list" <%= test_selector("sponsors-section-list") %>>
  <% if should_render_featured_sponsors? %>
    <div>
      <h3 class="f3-light color-fg-muted mb-3" <%= test_selector("featured-sponsors") %>>
        Featured sponsors
      </h3>
      <%= render(Sponsors::Profile::FeaturedSponsorAvatarListComponent.new(
        featured_sponsorships: featured_sponsorships,
        sponsorable: sponsorable,
      )) %>
    </div>
  <% end %>
  <% if active_sponsorships_count > 0 %>
    <div>
      <h4 class="mb-3" <%= test_selector("current-sponsors") %>>
        Current sponsors <%= render(Primer::Beta::Counter.new(count: active_sponsorships_count, vertical_align: :middle, ml: 1)) %>
      </h4>
      <%= render(Sponsors::Profile::SponsorAvatarListComponent.new(
        sponsorships: active_sponsorships,
        sponsorable: sponsorable,
        next_page_filter: "active",
      )) %>
    </div>
  <% end %>
  <% if inactive_sponsorships_count > 0 && !hide_past_sponsorships? %>
    <div>
      <h5 class="mb-3" <%= test_selector("past-sponsors") %>>
        Past sponsors <%= render(Primer::Beta::Counter.new(count: inactive_sponsorships_count, vertical_align: :middle, ml: 1)) %>
      </h5>
      <%= render(Sponsors::Profile::SponsorAvatarListComponent.new(
        sponsorships: inactive_sponsorships,
        sponsorable: sponsorable,
        next_page_filter: "inactive",
      )) %>
    </div>
  <% end %>
</div>
