<div class="Box-row Box-row--hover-blue hx_Box-row--with-top-border">
  <% if show_current_sponsorship_label? %>
    <%= render Primer::Beta::Label.new(scheme: :secondary, test_selector: "current-sponsorship-label") do %>
      Current sponsorship
    <% end %>
  <% elsif show_previous_sponsorship_label? %>
    <%= render Primer::Beta::Label.new(scheme: :secondary, test_selector: "previous-sponsorship-label") do %>
      Previous sponsorship
    <% end %>
  <% end %>
  <div class="d-flex flex-items-center flex-justify-between mb-2">
    <h4 class="d-inline-block" <%= test_selector("tier-name-label-#{tier.id}") %>>
      <%= tier.name %>
    </h4>
    <% if !logged_in? %>
      <%= render Primer::Beta::Button.new(
        tag: :a,
        href: login_url,
        float: :right,
        test_selector: "select-tier-button",
      ).with_content("Select") %>
    <% elsif show_select_button? %>
      <% if active_patreon_sponsorship? %>
        <%= render(Primer::Alpha::Dialog.new(
            id: "confirm-patreon-sponsorship",
            title: "Confirm sponsorship",
            "data-test-selector": "confirm-patreon-sponsorship-dialog",
          )) do |d| %>
          <% d.with_header(show_divider: true) do %>
            <h3 class="Box-title">
              <div class="h4 text-semibold">
                <%= "Confirm sponsorship" %>
              </div>
            </h3>
          <% end %>

          <% d.with_show_button { submit_text } %>

          <% d.with_body { patreon_dialog_body_text } %>

          <% d.with_footer(show_divider: true) do %>
            <%= render(Primer::Beta::Button.new(
              data: { "close-dialog-id": "confirm-patreon-sponsorship" }
            )) { "Cancel" } %>
            <%= form_tag(sponsorable_sponsorships_path(@sponsorable), method: :get, data: test_selector_hash("select-tier-form-dialog")) do %>
              <input type="hidden" name="sponsor" value="<%= @sponsor.display_login %>">
              <input type="hidden" name="tier_id" value="<%= @tier.id %>">
              <input type="hidden" name="preview" value="false">
              <% @sponsorable_metadata.each do |key, value| %>
                <input type="hidden" name="<%= key %>" value="<%= value %>">
              <% end %>
              <%= render Primer::Beta::Button.new(
                type: :submit,
                test_selector: "select-tier-button-dialog",
                scheme: :primary,
              ) do %>
                Continue
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= form_tag(sponsorable_sponsorships_path(@sponsorable), method: :get, data: test_selector_hash("select-tier-form")) do %>
          <input type="hidden" name="sponsor" value="<%= @sponsor.display_login %>">
          <input type="hidden" name="tier_id" value="<%= @tier.id %>">
          <input type="hidden" name="preview" value="false">
          <% @sponsorable_metadata.each do |key, value| %>
            <input type="hidden" name="<%= key %>" value="<%= value %>">
          <% end %>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            test_selector: "select-tier-button",
            float: :right,
          ) do %>
            <%= submit_text %><span class="sr-only"> <%= tier.name %> tier</span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if show_repo_access_message? %>
    <%= render(Primer::Box.new(
      bg: :subtle,
      color: :muted,
      font_size: :small,
      mb: 3,
      p: 2,
      border_radius: 2,
      test_selector: "tier-repo-access",
    ).with_content("Sponsors will be automatically invited to a private repository.")) %>
  <% end %>

  <div class="markdown-body comment-body p-0">
    <% if tier.custom? %>
      Custom amount
    <% else %>
      <%= tier.description_html %>
    <% end %>
  </div>
</div>
