<turbo-frame id="personal-access-tokens-results-container" data-turbo-action="advance">
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, border_top: 0, classes: "rounded-top-0")) do |component| %>
    <% if grant_requests.none? %>
      <% component.with_body do %>
        <% title = params[:q].present? ? "No results matched your search" : "There aren't any personal access token requests for this organization" %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h2).with_content(title) %>
        <% end %>
      <% end %>
    <% else %>
      <% grant_requests.each do |grant_request| %>
        <% access = grant_request.user_programmatic_access %>
        <% component.with_row(
          display: :flex,
          justify_content: :center,
          py: 3,
          classes: "js-bulk-actions-item",
          test_selector: "grant-request-row",
          data: {
            "bulk-actions-id" => grant_request.id.to_s,
            "test-id" => grant_request.id.to_s
          }
        ) do |row| %>

          <div class="form-checkbox flex-1 d-flex m-0">
            <label>
              <input type="checkbox" class="js-bulk-actions-toggle" name="grant_requests[]" value="<%= grant_request.id %>" aria-labelledby="<%= "grant-request-#{grant_request.id}" %>" autocomplete="off" data-check-all-item>
              <%= link_to(access.name, settings_org_personal_access_token_request_path(id: grant_request.id), class: "Link--primary no-underline h5") %>

              <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/credential_expiration", locals: {
                access: access, src: settings_org_personal_access_token_request_credential_expiration_path(current_organization, grant_request)
              } %>
            </label>
          </div>

          <span class="col-2 d-flex flex-items-center">
            <div class="pr-2">
              <%= avatar_for(access.owner, 20, class: "mr-1 avatar mt-0") %>
              <%= profile_link(access.owner, class: "Link--primary text-bold") %>
            </div>
          </span>

          <span class="col-3 d-flex no-wrap flex-items-center pb-2">
            requested <%= time_ago_in_words(grant_request.created_at) %> ago
          </span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if grant_requests.respond_to?(:total_pages) %>
    <div class="paginate-container">
      <%= will_paginate(grant_requests, renderer: TurboActionReplaceLinkRenderer) %>
    </div>
  <% end %>
</turbo-frame>
