<%# erblint:counter DeprecatedComponentsCounter 2 %>
<label for="select-all-checkbox" class="d-inline-block mt-2 color-fg-muted <% if selected_grant_requests.any? %>sr-only<% end %>">
  <span>Requests</span>
</label>

<% if selected_grant_requests.any? %>

  <%= render(Primer::Experimental::ActionMenu.new(menu_id: "org-pat-request-action-menu", anchor_align: :end)) do |menu| %>
    <% menu.with_trigger do |trigger| %>
       <% trigger.with_trailing_action_icon(icon: :"triangle-down") %>
       <%= pluralize selected_grant_requests.count, "request" %> selected…
    <% end %>
    <% menu.with_item(tag: :button,
      type: "button",
      classes: "pat-request-list-action-button",
      data: { "show-dialog-id": "visibility-menu-dialog-approve" }) do %>
        Approve
    <% end %>
    <% menu.with_item(tag: :button,
      type: "button",
      classes: "pat-request-list-action-button",
      data: { "show-dialog-id": "visibility-menu-dialog-deny" }) do %>
        Deny
    <% end %>
  <% end %>

  <%= render Primer::Alpha::Dialog.new(
    title: "Approve access for #{pluralize selected_grant_requests.count, "request"}?",
    size: :medium_portrait,
    id: "visibility-menu-dialog-approve",
  ) do |dialog| %>

    <% dialog.with_header(show_divider: true) %>

    <%= render(Primer::Alpha::Dialog::Body.new) do %>
      <p>Access will be <strong>approved</strong> for the following requests:</p>
      <ul class="border rounded-2 list-style-none">
        <% selected_grant_requests.each do |request| %>
          <% access = request.user_programmatic_access %>
          <li class="confirm-removal-list-item">
            <%= access.name %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= render(Primer::Alpha::Dialog::Footer.new(show_divider: true)) do %>
      <%= form_tag settings_org_bulk_approve_personal_access_token_requests_path(current_organization), :method => :put do %>
        <input type="hidden" name="grant_request_ids" value="<%= selected_grant_requests.pluck(:id).join(",") %>">
        <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Approve<% end %>
      <% end %>
    <% end %>
  <% end %>


  <%= render Primer::Alpha::Dialog.new(
    title: "Deny access for #{pluralize selected_grant_requests.count, "request"}?",
    size: :medium_portrait,
    id: "visibility-menu-dialog-deny",
  ) do |dialog| %>

    <% dialog.with_header(show_divider: true) %>

    <%= render(Primer::Alpha::Dialog::Body.new) do %>
      <p>Access will be <strong>denied</strong> for the following requests:</p>
      <ul class="border rounded-2 list-style-none">
        <% selected_grant_requests.each do |request| %>
          <% access = request.user_programmatic_access %>
          <li class="confirm-removal-list-item">
            <%= access.name %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= render(Primer::Alpha::Dialog::Footer.new(show_divider: true)) do %>
      <%= form_tag settings_org_bulk_deny_personal_access_token_requests_path(current_organization), :method => :delete do %>
        <input type="hidden" name="grant_request_ids" value="<%= selected_grant_requests.pluck(:id).join(",") %>">
        <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Deny<% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
