<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<% sidebar_url = editor_action_url(breadcrumb_params.merge(action_id: id)) %>
<% tracking = safe_analytics_click_attributes(category: "Featured Action", action: "click to go to featured action", label: "ref_page:#{request.fullpath};ref_cta:#{name};ref_loc:featured action") %>

<div class="d-flex flex-items-start mb-4 js-marketplace-action-search-item">
  <button class="text-left btn-link no-underline"
          type="button"
          aria-label="<%= name %>"
          data-workflow-editor-sidebar-url="<%= sidebar_url %>" <%= tracking %> >
    <div class="CircleBadge"
         style="background-color: #<%= color %>; overflow: hidden; min-width: 40px; width: 40px; height:40px">
      <%= action_icon(name: name, icon_name: icon_name, color: icon_color, size: "20px", owner: owner_login) %>
    </div>
  </button>

  <div class="pl-3 flex-auto flex-items-start">
    <button class="ws-normal lh-condensed mb-1 h5 text-left btn-link no-underline Link--primary"
            type="button"
            <%= test_selector("action-name") %>
            data-workflow-editor-sidebar-url="<%= sidebar_url %>" <%= tracking %> >
      <%= name %>
      <% if owner_login.present? %>
        <p class="color-fg-muted text-normal text-small lh-condensed mb-0">
          By <span class="color-fg-muted"><%= owner_login %></span>
        </p>
      <% end %>
    </button>
    <p class="color-fg-muted lh-condensed mb-0 ws-normal"><%= description %></p>
  </div>
  <span class="float-right text-small color-fg-muted ml-3 no-wrap">
    <%= primer_octicon(:star) %>
    <%= social_count(stargazer_count) %>
  </span>
</div>
