<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<div>
  <div class="mb-3 f6">
    <%= render Primer::ButtonComponent.new(scheme: :link, "data-workflow-editor-sidebar-search-placeholder": search_placeholder, "data-workflow-editor-sidebar-search-query": "", "data-workflow-editor-sidebar-search-url": editor_actions_search_url(seed: params[:seed])) do %>
      Marketplace
    <% end %>
    <% if params[:query].present? %>
      / Search results
    <% elsif category_name.present? %>
      / <%= category_name.capitalize %>
    <% end %>
  </div>
  <div class="f6" style="text-align: center;">
    Your search has returned <%= action_results.count %> results.
  </div><br>
  <div>
    <% action_results.each do |result| %>
      <% action = result.repository_action %>
      <%= render partial: "editor/actions/action", locals: {
        id: action.id,
        name: action.name,
        description: action.description,
        owner_login: action.repository.owner_display_login,
        verified_owner: action.verified_owner?,
        color: action.color,
        icon_name:  action.icon_name,
        icon_color: action.icon_color,
        stargazer_count: action.repository.stargazer_count,
        breadcrumb_params: {
          breadcrumb_category: params[:category].presence,
          breadcrumb_query: params[:query].presence,
          breadcrumb_before: params[:before].presence,
          breadcrumb_after: params[:after].presence,
          breadcrumb_seed: params[:seed].presence,
        }.compact,
      }%>
    <% end %>
  </div>

  <div class="mb-3 text-center">
    <div class="BtnGroup" <%= test_selector "pagination" %>>
      <button class="btn BtnGroup-item px-2 py-1 text-small" type="button"
        <% if previous_page = action_results.previous_page %>
          data-workflow-editor-sidebar-search-placeholder="<%= search_placeholder(category: params[:category]) %>"
          data-workflow-editor-sidebar-search-query="<%= params[:query] %>"
          data-workflow-editor-sidebar-search-url="<%= pagination_url(page: previous_page) %>">
        <% else %>
          disabled>
        <% end %>
        Previous
      </button>
      <button class="btn BtnGroup-item px-2 py-1 text-small" type="button"
        <% if next_page = action_results.next_page %>
          data-workflow-editor-sidebar-search-placeholder="<%= search_placeholder(category: params[:category]) %>"
          data-workflow-editor-sidebar-search-query="<%= params[:query] %>"
          data-workflow-editor-sidebar-search-url="<%= pagination_url(page: next_page) %>">
        <% else %>
          disabled>
        <% end %>
        Next
      </button>
    </div>
  </div>
</div>
