<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= render(GitHub::DialogComponent.new(title: "Confirm #{entity_name}", body_classes: "p-0")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
  <% dialog.with_summary do %>
    <summary aria-label="Confirm <%= entity_name %>"></summary>
  <% end %>
  <% dialog.with_body do %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, full: true, icon: "alert", display: :flex, p: 3)) do %>
      <div class="f5">
        This <%= container_name %> is going to <strong>send a notification to
        everyone on each of these teams</strong>.
      </div>
      <% end %>
    <% teams.each do |team| %>
      <div class="d-flex js-large-team p-2" data-id="<%= team.id %>">
        <div class="p-1">
          <img src="<%= team.primary_avatar_url(40) %>" class="<%= avatar_class_names(team) %>" width="40" height="40" alt="<%= team.name %>">
        </div>
        <div class="p-1 width-full">
          <div class="text-bold f5"><%= team.organization.display_login %>/<%= team.slug %></div>
          <div><%= team.name %></div>
        </div>
        <div class="d-flex flex-items-center">
          <%= render Primer::Beta::Label.new(mb: 1, scheme: :secondary, title: "#{threshold}+ members") do %>
            <%= threshold %>+&nbsp;members
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% dialog.with_footer do %>
    <div class="float-right">
      <%= render Primer::ButtonComponent.new(classes: "js-large-teams-cancel-button") do %>
        <%= cancel_text %>
      <% end %>
      <%= render Primer::ButtonComponent.new(scheme: :primary, ml: 1, classes: "js-large-teams-confirm-button") do %>
        <%= confirm_text %>
      <% end %>
    </div>
  <% end %>
<% end %>
