<%# erblint:counter DeprecatedComponentsCounter 1 %>
<ul class="team-listing table-list table-list-bordered">
  <% @teams.each do |team| %>
    <% members_count = members_count(team) %>
    <% subscription = team.subscription_status(current_user) %>
    <li class="table-list-item">
      <div class="table-list-cell v-align-middle">
        <div class="nested-team-name">
          <%= render(Primer::Beta::Link.new(underline: false, href: team_path(team), test_selector: "name-with-owner-label", font_size: 4, classes: "lh-condensed")) do %>
            <%= render(Primer::Truncate.new(tag: :span, inline: true, expandable: true, max_width: 200)) do %>
              <%# This method should be using name_with_owner from newsies_adapter. Change details: https://github.com/github/github/pull/259730 %>
              <%= team.combined_slug %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="table-list-cell v-align-middle text-right hide-sm hide-md">
        <div class="shortened-teams-avatars" <%= test_selector "team-member-avatars" %>>
          <% members(team.id).each do |member| %>
            <%= render(Primer::Beta::Avatar.new(href: user_path(member), src: member.primary_avatar_url, alt: member.display_login, size: 24, display: :inline_block, vertical_align: :middle)) %>
          <% end %>
          <% if members_count > visible_member_range %>
            <%= render(Primer::Beta::Link.new(
              underline: false,
              href: team_members_path(team),
              test_selector: "team-member-avatars-more",
              display: :inline_block,
              vertical_align: :middle,
              border: true,
              text_align: :center,
              color: :muted,
              border_radius: 2, classes: "team-member-ellipsis",
              aria: { label: "View all members in #{team.name}" }
            )) do %>
              &#8230;
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="table-list-cell f5 text-right v-align-middle hide-sm hide-md team-short-info" <%= test_selector "team-members-count" %>>
        <%= pluralize(number_with_delimiter(members_count), "member") %>
      </div>
      <div class="table-list-cell f5 text-right v-align-middle team-short-info">
        <%= render(
          Teams::NotificationsComponent.new(
            team: team,
            status: subscription,
            beta: true, # This is to show the beta label only for this team view
            deferred: GitHub.flipper[:notifications_async_watch_team_button].enabled?(current_user),
            button_size: :sm
          ),
        ) do |component| %>
          <%= component.with_fallback_error do %>
            <%= primer_octicon(:alert, mr: 1) %>
            <span class="f6">Couldn't load subscription status.</span>
            <%= render(Primer::Beta::Button.new(scheme: :link, font_size: 6, classes: "Link--muted", display: :flex, ml: :auto, "data-retry-button": "")) { "Retry" } %>
          <% end %>
          <%= component.with_spinner do %>
            <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1, mb: 2, mx: :auto, display: :block)) %>
          <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
