<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% new_setup_recovery_codes ||= [] %>
<% new_setup_saml_params ||= {} %>
<% new_setup = new_setup_recovery_codes.any? %>
<%
  recovery_codes = if new_setup
    new_setup_recovery_codes
  else
    this_business.saml_provider.formatted_recovery_codes
  end
%>
<div class="container-sm mx-auto mt-6">
  <div class="settings-next">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Single sign-on recovery codes<% end %>
    <% end %>
    <p class="h4">
      <strong>Put these in a safe spot.</strong> If your identity provider is unavailable and
      you don’t have a recovery code you will lose access. A recovery code grants access
      for 24 hours and can only be used once.
    </p>
    <div class="two-factor-steps">
      <h3>Recovery codes</h3>
      <p class="note">
        Treat your recovery codes with the same level of attention as you would your password!
        We recommend saving them with a password manager such as
        <a class="Link--inTextBlock" href="https://1password.com/" target="_blank" rel="noopener noreferrer">1Password</a>,
        <a class="Link--inTextBlock" href="https://authy.com/" target="_blank" rel="noopener noreferrer">Authy</a>, or
        <a class="Link--inTextBlock" href="https://keepersecurity.com/" target="_blank" rel="noopener noreferrer">Keeper</a>.
      </p>

      <ul class="two-factor-recovery-codes">
        <% recovery_codes.each do |code| %>
          <li class="two-factor-recovery-code"><%= code %></li>
        <% end %>
      </ul>

      <div class="recovery-codes-saving-options mb-4">
        <%= form_tag settings_saml_provider_download_recovery_codes_enterprise_path(this_business), class: "d-inline" do -%>
          <%= render Primer::ButtonComponent.new(mr: 3, classes: "js-enable-enable-saml-provider-button recovery-code-save-button", type: :submit) do %>
            <%= primer_octicon(:"desktop-download") %>
            Download
          <% end %>
        <% end -%>

        <a href="<%= settings_saml_provider_print_recovery_codes_enterprise_path(this_business) %>"
          target="_new"
          class="btn js-enable-enable-saml-provider-button recovery-code-save-button">
          <%= primer_octicon(:file) %>
          Print
        </a>

        <%= render Primer::Beta::ClipboardCopy.new(value: recovery_codes.join("\s\n"), classes: "btn js-enable-enable-saml-provider-button recovery-code-save-button", "aria-label": "Copy") do %>
          <%= render(Primer::Beta::Octicon.new(icon: "copy")) %>
          Copy
        <% end %>
      </div>
    </div>
    <% if new_setup %>
      <div class="d-flex flex-items-center">
        <div>
        <%= form_tag settings_saml_provider_enterprise_path(this_business), method: :put, "data-turbo": "false" do %>
          <%= hidden_field_tag "saml[sso_url]", new_setup_saml_params[:sso_url] %>
          <%= hidden_field_tag "saml[issuer]", new_setup_saml_params[:issuer] %>
          <%= hidden_field_tag "saml[idp_certificate]", new_setup_saml_params[:idp_certificate] %>
          <%= hidden_field_tag "saml[digest_method]", new_setup_saml_params[:digest_method] %>
          <%= hidden_field_tag "saml[signature_method]", new_setup_saml_params[:signature_method] %>
          <%= hidden_field_tag "saml[recovery_secret]", new_setup_saml_params[:recovery_secret] %>
          <%= hidden_field_tag "recovery_codes_viewed", true %>

          <% if GitHub.flipper[:saml_encrypted_assertions].enabled?(this_business) %>
            <%= hidden_field_tag "saml[encrypted_assertions]", new_setup_saml_params[:encrypted_assertions] %>
            <%= hidden_field_tag "saml[encryption_method]", new_setup_saml_params[:encryption_method] %>
            <%= hidden_field_tag "saml[key_transport_method]", new_setup_saml_params[:key_transport_method] %>
          <% end %>

          <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, classes: "js-enable-saml-provider-button", disabled: true) do %>
            Enable SAML authentication
          <% end %>
        <% end %>
        </div>
        <div class="note ml-2 js-enable-saml-provider-instruction">
          You must save the recovery codes above first.
        </div>
      </div>
    <% else %>
      <strong>Generate new recovery codes</strong>
      <p class="note mb-3">
        When you generate new recovery codes, you must download or print the
        new codes. Your old codes won’t work anymore.
      </p>
      <%= form_tag settings_saml_provider_regenerate_recovery_codes_enterprise_path(this_business), "data-turbo": "false", method: :put do %>
        <%= render Primer::ButtonComponent.new(type: :submit) do %>Generate new recovery codes<% end %>
      <% end %>
    <% end %>
    <hr>
    <p>
      <a href="<%= settings_security_enterprise_path(this_business) %>">Back to settings</a>
    </p>
  </div>
</div>
