<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_banners = capture do %>
  <% if backfill_in_progress %>
    <%= render(Primer::Beta::Flash.new(mb: 3, scheme: :warning, test_selector: "backfill_in_progress")) do %>
      Data is currently refreshing. Please revisit this page in a few minutes.
    <% end %>
  <% end %>
  <% if show_feedback_survey? %>
      <%= render SecurityCenter::SurveyComponent.new(
      survey_id: "security-center-private-beta-survey",
      mb: 3,
    ) do |component| %>
      <% component.with_heading do %>
          Can you give us some feedback?
      <% end %>
      <% component.with_description do %>
          Tell us how you're using the security pages. <%= render(Primer::Beta::Link.new(href: SecurityCenter::SurveyComponent::FEEDBACK_SCHEDULING_URL, classes: "Link--inTextBlock")) { "Book some time" } %> with us to share how you're using security overview and share any feedback you may have.
      <% end %>
    <% end %>
  <% end %>
  <% if show_security_configs_banner? %>
    <%= render(::SecurityCenter::SecurityConfigsBannerComponent.new(mb: 5, mt: 3, org: @organization)) %>
  <% end %>
<% end %>

<main>
  <%= render(Primer::Experimental::PageLayout.new(outer_spacing: :none, inner_spacing: :normal, column_gap: :none)) do |layout| %>
    <% layout.with_pane_region(
      width: :wide,
      divider: :line,
      pl: 4, # Fixing issue with 'inner_spacing: :normal' mistakenly using the :condensed padding instead
      pr: 2,
    ) do %>
      <%= render(
        SecurityCenter::NavComponent.new(
          selected_tab: selected_tab,
          organization: organization,
        )
      ) %>
      <%= render(Primer::Beta::BorderBox.new(mx: 1, mt: 3, mr: 3)) do |component| %>
        <% component.with_body do %>
          <%= render(Primer::Beta::Text.new(font_size: :small)) do %>
            You can only see data from repositories for which you have
            <%= render(Primer::Beta::Link.new(href: PERMISSIONS_DOC_HREF, scheme: :primary, underline: true)) { "permission" } %>
            to view.
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% layout.with_content_region(
      width: :lg,
      px: 4, # Fixing issue with 'inner_spacing: :normal' mistakenly using the :condensed padding instead
    ) do %>
      <%= page_banners %>
      <%= header_section if header_section %>
      <%= main_section if main_section %>
    <% end %>
  <% end %>
</main>
