<%= render(Primer::Beta::Truncate.new) do %>
  <%= render(Primer::Beta::Link.new(href: href, id: id, scheme: :secondary, **system_arguments)) do %>
    <%= render(Primer::Beta::Octicon.new(icon: repository.repo_type_icon)) %>
    <span><%= text %></span>
  <% end %>

  <%= render Primer::Alpha::Tooltip.new(
    direction: :w,
    for_id: id,
    text: repository.visibility.capitalize,
    type: :description,
  ) %>
<% end %>
