<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Beta::Flash.new(
  border_color: :muted,
  style: "background: linear-gradient(to right, var(--bgColor-default, var(--color-canvas-default)) 0%, var(--bgColor-default, var(--color-canvas-default)) 55%, var(--bgColor-sponsors-muted, var(--color-sponsors-subtle)) 71%, var(--bgColor-accent-muted, var(--color-accent-subtle)) 95%, var(--bgColor-default, var(--color-canvas-default)) 104%); overflow: hidden; padding-bottom: 15px;",
  test_selector: "security-configs-banner-component",
  **system_arguments
)) do %>
  <%= render(Primer::Box.new(display: :flex)) do %>
    <%= render(Primer::Box.new(col: 7, style: "padding-right: 50px; width: 600px")) do %>
      <%= render(Primer::Beta::Text.new(tag: :h2, classes: "h4", style: "margin-bottom: 10px")) { "Save time with configurations enablement" } %>
      <%= render(Primer::Beta::Text.new(color: :muted, tag: :p)) do %>
        Easily manage security features at scale by
        <%= render(Primer::Beta::Link.new(href: settings_org_security_products_path(@org), classes: "Link--inTextBlock")) { "applying security configurations" } %>
        for groups of repositories.
        <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/code-security/securing-your-organization/introduction-to-securing-your-organization-at-scale/about-enabling-security-features-at-scale", classes: "Link--inTextBlock", aria_label: "Learn more about security configurations")) { "Learn more." } %>
      <% end %>
    <% end %>
    <%= render(Primer::Box.new(col: 5, classes: "box-container", style: "position: relative; margin-top: -15px;")) do %>
      <%= render(Primer::Box.new(aria: { hidden: true }, color: :muted, display: :flex, mb: 2, style: "margin-left: -30px;")) do %>
        <%= render(Primer::Box.new(bg: :default, border: true, border_color: :muted, border_radius: 1, box_shadow: :medium, display: :flex, direction: :column, font_size: :small, p: 2, style: "width: 225px;")) do %>
          <%= render Primer::Beta::Text.new(font_weight: :bold).with_content("GitHub recommended") %>
          <%= render Primer::Beta::Text.new(color: :muted, font_size: :small, font_weight: :normal).with_content("Suggested settings for Dependabot,") %>
          <%= render Primer::Beta::Text.new(color: :muted, font_size: :small, font_weight: :normal).with_content("code scanning and secret scanning.") %>
        <% end %>
      <% end %>
      <%= render(Primer::Box.new(aria: { hidden: true }, color: :muted, display: :flex, style: "padding-left: 200px; margin-top: -50px; margin-bottom: -5px;")) do %>
        <%= render(Primer::Box.new(bg: :default, border: true, border_color: :muted, border_radius: 1, box_shadow: :medium, display: :flex, direction: :column, font_size: :small, p: 2, style: "width: 225px;")) do %>
        <%= render Primer::Beta::Text.new(font_weight: :bold).with_content("High risk") %>
        <%= render Primer::Beta::Text.new(color: :muted, font_size: :small, font_weight: :normal).with_content("Settings for critical repositories,") %>
        <%= render Primer::Beta::Text.new(color: :muted, font_size: :small, font_weight: :normal).with_content("including code scanning.") %>
      <% end %>
      <% end %>
    <% end %>
    <%= render(Primer::Box.new(classes: "box-container", style: "position: relative")) do %>
      <%= form_tag(dismiss_security_configs_banner_path(org.display_login), method: :delete) do %>
        <button aria-label="Close" class="position-absolute" style="background: none; border: none; right: -28px; top: -18px;" type="submit">
          <%= render(Primer::Beta::Octicon.new(color: :muted, icon: :x)) %>
        </button>
      <% end %>
      <% end %>
  <% end %>
<% end %>
