<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if show_header? %>
  <div class="d-flex flex-items-center p-3 flex-justify-between" <%= test_selector("owned-deps-header") %>>
    <div class="d-flex flex-items-center">
      <%= render GitHub::AvatarComponent.new(actor: sponsorable, size: 48) %>
      <div class="ml-2">
        <h2 class="h4" <%= test_selector("sponsorable-login") %>><%= sponsorable %></h2>
        <% unless sponsorable.profile_name == sponsorable.display_login %>
          <span class="color-fg-muted text-small text-normal" <%= test_selector("sponsorable-profile-name") %>>
            <%= sponsorable.profile_name %>
          </span>
        <% end %>
      </div>
    </div>
    <%= render Sponsors::SponsorButtonComponent.new(
      sponsorable: sponsorable,
      is_sponsoring: sponsoring?,
      location: sponsoring? ? :DEPENDENCY_SPONSORING : :DEPENDENCY_SPONSOR,
      sponsor_login: potential_sponsor.display_login,
    ) %>
  </div>

  <p class="px-3" <%= test_selector("total-owned-deps-count") %>>
    <% if logged_in? && current_user == potential_sponsor %>
      <strong>You</strong> depend on
    <% else %>
      <strong><%= potential_sponsor %></strong> depends on
    <% end %>
    <%= number_with_delimiter(paginated_repositories.total_entries) %>
    <% if non_owner_sponsorables_included? %>
      <%= "repository".pluralize(paginated_repositories.total_entries) %>
      <strong><%= sponsorable %></strong>
      owns or maintains.
    <% else %>
      of <strong><%= sponsorable %></strong>'s repositories
    <% end %>
  </p>

  <% if non_owner_sponsorables_included? %>
    <div class="note px-3 mb-3" <%= test_selector("maintainer-explainer") %>>
      <%= primer_octicon :info, mr: 1 %>
      We check their maintainer status by seeing if they're listed in a repository's
      <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/displaying-a-sponsor-button-in-your-repository#about-funding-files">funding file</a>.
    </div>
  <% end %>

  <% if paginated_repositories.any? && current_user&.feature_enabled?(:sponsors_openssf_badge) %>
    <div class="d-flex flex-justify-between border-top border-bottom px-3 pt-2 color-fg-muted" <%= test_selector("ossf-header") %>>
      <p>Repository name</p>
      <p>OpenSSF Scorecard</p>
    </div>
  <% end %>
<% end %>


<% paginated_repositories.each_with_index do |repository, index| %>
  <div class="p-3 d-flex flex-items-center flex-justify-between border-top">
    <div>
      <% unless sponsorable_login == repository.owner_display_login %>
        <span class="Truncate">
          <a
            href="<%= user_path(repository.owner_display_login) %>"
            class="text-bold Truncate-text"
          ><%= repository.owner_display_login %></a>
        </span>
        <span class="color-fg-muted">/</span>
      <% end %>
      <span class="Truncate">
        <a
          href="<%= repository_path(repository) %>"
          class="text-bold Truncate-text"
        ><%= repository.name %></a>
      </span>
      <%= render GitHub::BatchDeferredContentComponent.new(
        url: sponsors_explore_dependency_uses_path(filter_set.query_args),
        inputs: { dependency_id: repository.id },
        content_tag_options: test_selector_data_hash("dependent-repo-count-placeholder"),
      ) %>
    </div>
    <% if current_user&.feature_enabled?(:sponsors_openssf_badge) %>
      <%= render GitHub::BatchDeferredContentComponent.new(
        url: sponsors_explore_batch_deferred_ossf_scores_path,
        inputs: { dependency_name: repository.name_with_display_owner },
        content_tag_options: test_selector_data_hash("ossf-badge-placeholder"),
      ) %>
    <% else %>
      <%= render(Stars::ButtonComponent.new(entity: repository)) do |c| c.with_list_menu end %>
    <% end %>
  </div>
<% end %>

<% if next_page %>
  <%= form_tag sponsorable_represented_dependencies_path(sponsorable_login, filter_set.with(page: next_page).query_args), method: :get, data: test_selector_hash("pagination-form"), class: "ajax-pagination-form js-ajax-pagination pagination-loader-container text-center mb-3" do %>
    <%= render Primer::ButtonComponent.new(
      type: :submit,
      classes: "ajax-pagination-btn no-underline",
      mt: 0,
      bg: :default,
      border: 0,
      scheme: :invisible,
      "data-disable-with": "Loading...",
    ).with_content("Load more...") %>
  <% end %>
<% end %>
