<div class="js-build-in-trigger bg-gray-dark-mktg position-relative pt-11 pt-md-12 pb-8 pb-md-9 security-hero-container" style="background-image: radial-gradient(61.69% 146.73% at 71.33% 58.36%, #001536 18.75%, #040D21 100%); background-color: #011311;" <%= mktg_color_theme_attributes %>>
  <div class="security-hero-illo-container container-xl position-absolute top-0 right-0 height-full">
    <picture>
      <source srcset="<%= image_path "modules/site/security/hero-bg.webp" %>" type="image/webp">
      <img src="<%= image_path "modules/site/security/hero-bg.svg" %>" class="position-absolute height-full top-0 security-hero-illo-img security-hero-illo-bg js-build-in" alt="">
    </picture>
    <%= svg("site/security/hero-lines", class: "position-absolute height-full top-0 security-hero-illo-img security-hero-illo-lines width-auto js-build-in", width: "1430") %>
    <picture>
      <source srcset="<%= image_path("modules/site/security/hero-main.webp") %>" type="image/webp">
      <img src="<%= image_path("modules/site/security/hero-main.svg") %>" class="position-absolute height-full top-0 security-hero-illo-img security-hero-illo-main js-build-in" width="1298" height="931" alt="" aria-hidden="true">
    </picture>
    <picture>
      <source srcset="<%= image_path("modules/site/security/hero-corner.webp") %>" type="image/webp">
      <img src="<%= image_path("modules/site/security/hero-corner.svg") %>" class="position-absolute height-full top-0 security-hero-illo-img security-hero-illo-foreground js-build-in" width="1298" height="931" alt="" aria-hidden="true">
    </picture>
  </div>
  <div class="position-relative z-1 container-xl mx-auto px-3 pt-6 py-md-12 height-full d-flex flex-column flex-justify-center">
    <div class="mx-auto mx-md-0 col-12 col-md-11 col-lg-7 py-7 py-md-8 text-center text-md-left">
      <h1 class="h1-mktg mb-4 color-fg-default">Security at every&nbsp;step</h1>
      <p class="text-normal f2-mktg mb-6 col-12 col-md-10 lh-condensed mx-auto mx-md-0 text-gray-light-mktg">
        <span class="color-fg-default">Native application security testing</span>
      </p>
      <%= render Site::ButtonComponent.new(text: "Request a demo", url: "https://resources.github.com/demo/advanced-security/", size: :large, classes: "mb-3") %>
      <%= render Site::ButtonComponent.new(text: "Contact sales", scheme: :muted, url: "https://resources.github.com/contact/security/", size: :large, classes: "mb-3 ml-md-2") %>
    </div>
  </div>
</div>
