<div class="width-full position-relative d-flex flex-column js-build-in-trigger" data-build-in-stagger="50" style="min-height: 330px">
  <div class="position-relative flex-self-center js-build-in-item build-in-slideX-right">
    <picture>
      <source srcset="<%= image_path("modules/site/security/avatars/leitsuch.webp") %>" type="image/webp">
      <img src="<%= image_path("modules/site/security/avatars/leitsuch.jpg") %>" loading="lazy" width="77" class="circle" alt="Photo of security community member Jonathan Leitschuh">
    </picture>
    <a href="https://github.com/advisories/GHSA-763g-fqq7-48wg" class="d-block rounded-2 color-bg-overlay box-shadow-card-dark-mktg px-3 py-2 no-underline position-relative left-0 ml-6 top-n2 mt-n3" style="max-width: 320px;">
      <span class="d-block f5-mktg color-fg-default">XML external entity (XXE) processing</span>
      <span class="d-block f6-mktg color-fg-muted mb-1">CVE-2019-10782 • Jonathan Leitschuh</span>
    </a>
  </div>

  <div class="position-relative flex-self-start js-build-in-item build-in-slideX-right">
    <picture>
      <source srcset="<%= image_path("modules/site/security/avatars/gianni.webp") %>" type="image/webp">
      <img src="<%= image_path("modules/site/security/avatars/gianni.jpg") %>" loading="lazy" width="77" class="circle" alt="Photo of security community member Jonathan Leitschuh">
    </picture>
    <a href="https://securitylab.github.com/advisories/GHSL-2020-026-lua-openssl/" class="d-block rounded-2 color-bg-overlay box-shadow-card-dark-mktg px-3 py-2 no-underline position-relative left-0 ml-6 top-n2 mt-n3" style="max-width: 320px;">
      <span class="d-block f5-mktg color-fg-default">Incorrect use of X509_check_host</span>
      <span class="d-block f6-mktg color-fg-muted mb-1">CVE-2020-9432 • lua-openssl • Agustin Gianni</span>
    </a>
  </div>

  <div class="position-relative flex-self-end js-build-in-item build-in-slideX-right">
    <picture>
      <source srcset="<%= image_path("modules/site/security/avatars/staicu.webp") %>" type="image/webp">
      <img src="<%= image_path("modules/site/security/avatars/staicu.jpg") %>" loading="lazy" width="77" class="circle" alt="Photo of security community member Jonathan Leitschuh">
    </picture>
    <a href="https://github.com/advisories/GHSA-h466-j336-74wx" class="d-block rounded-2 color-bg-overlay box-shadow-card-dark-mktg px-3 py-2 no-underline position-relative left-0 ml-6 top-n2 mt-n3" style="max-width: 320px;">
      <span class="d-block f5-mktg color-fg-default">Prototype pollution in mpath package</span>
      <span class="d-block f6-mktg color-fg-muted mb-1">CVE-2018-16490 • Cristian-Alexandru Staicu</span>
    </a>
  </div>
</div>
