<div class="position-relative z-1 mx-auto box-shadow-default-mktg wide-block pt-5 pt-md-0 overflow-hidden color-bg-default <% if local_assigns[:classes] != nil%><%= classes %><% end %>" data-color-mode="dark" data-light-theme="light" data-dark-theme="dark">
  <div class="container-xl p-responsive">
    <div class="col-12 offset-md-1 pt-8 pt-md-9 pb-6 pb-md-11 d-flex flex-column gutter gutter-spacious">

      <div class="col-12 col-md-5 px-3 px-md-0 mt-3 mb-4 mb-md-0 d-flex flex-column flex-justify-center position-relative">
        <% if local_assigns[:badge] != nil %><img src="<%= badge %>" alt="" width="66" class="position-absolute left-n10 top-0" loading="lazy"><% end %>
        <h2 class="h3-mktg mb-3 text-gradient-red-orange mb-4 mb-md-6 pb-3"><%= title %></h2>
        <p class="f3-mktg color-fg-muted mb-5 pr-md-5 mb-lg-0 col-5-max security-body">
          <%= sanitize body %>
        </p>
      </div>

      <% if local_assigns[:background] != nil %>
          <%= render "site/features/security/illustration", images: background %>
      <% end %>

      <% sections.each_with_index do |section, i| %>
        <div class="col-12 px-3 px-md-0 mt-3 mb-5 mb-md-0 d-flex flex-row flex-wrap flex-md-nowrap flex-justify-between position-relative river-mktg">
          <div class="d-flex flex-column flex-justify-center js-build-in build-in-slideX-left pr-md-5">
            <p class="col-12 color-fg-muted col-md-5 f3-mktg mb-5 col-5-max">
              <%= sanitize section[:body] %>
            </p>

            <% if section[:cta].present? %>
              <div>
                <%= render Site::LinkComponent.new(text: section[:cta][:body], url: section[:cta][:url]) %>
              </div>
            <% end %>

            <% if section[:read].present? %>
              <%= render Site::ReadMoreListComponent.new do |c| %>
                <% c.with_items(section[:read]) %>
              <% end %>
            <% end %>
          </div>

          <div class="col-12 col-md-6 position-relative <% if local_assigns[:images_classes] != nil %><%= images_classes %><% end %>">
            <% if section[:images] != nil %>
              <%= render "site/features/security/illustration", images: section[:images] %>
            <% end %>
            <% if section[:illustration] != nil %>
              <% if section[:illustration] == 'oss' %><%= render "site/features/security/illo_oss" %><% end %>
              <% if section[:illustration] == 'issues' %><%= render "site/features/security/illo_issues" %><% end %>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
