<% page_info \
  title: "Features · Security",
  description: "Build on a secure foundation.",
  marketing_page_theme: "dark",
  class: "header-dark",
  richweb: {
    title: "Features • Security",
    url: request.original_url,
    description: "Build on a secure foundation.",
    image: image_path("modules/site/social-cards/security.jpg?v=2"),
  }
%>

<%= render "site/features/security/nav", ctas: [
  {
    text: "Sign up for a demo",
    url: "/features/security/advanced-security/signup"
  },
  {
    text: "Contact sales",
    url: enterprise_contact_requests_path(
      ref_page: request.fullpath,
      ref_cta: "Contact Sales",
      ref_loc: "navigation",
      utm_source: "github",
      utm_medium: "site",
      utm_campaign: "adv-security",
      utm_content: "Security",
      scid: ""
    )
  },
] %>

<div class="overflow-hidden">
  <%= render "site/features/security/hero" %>
</div>

<div <%= mktg_color_theme_attributes(mode: "light") %>>
  <%= render Site::SectionComponent.new do %>
    <%= render Site::RiverComponent.new(
      header: "Find and fix vulnerabilities 7x&nbsp;faster",
      text: "With AI-powered application security testing tools embedded in your development workflow, GitHub Advanced Security outperforms non-native add-ons by delivering 7x faster remediation rates for identified vulnerabilities.",
      classes: "mt-md-12",
      link: {
        text: "Secure your code",
        url: "/features/security/code-scanning"
      },
      text_placement: :right,
      images: [
        { src: image_path("modules/site/security/cmake-window.png"), classes: "col-12 height-auto rounded box-shadow-mktg-xl", width: 1230, height: 652 },
        { src: image_path("modules/site/security/cmake-steps.png"), classes: "position-absolute top-8 security-illo-cmake-steps height-auto js-build-in-item build-in-scale-up", width: 1584, height: 610}
      ]) do |c| %>
      <% c.with_background do %>
        <img src="<%= image_path("modules/site/security/grid2.svg") %>" class="position-absolute col-9-max z-n1" style="left: -50px; opacity: 0.7;" aria-hidden="true" alt="">
        <img src="<%= image_path("modules/site/security/glows/3.svg") %>" class="position-absolute col-9-max z-n1" style="left: -190px;" aria-hidden="true" alt="">
      <% end %>
    <% end %>

    <%= render Site::RiverComponent.new(
      text: "Detect security issues in your pull requests and prevent new vulnerabilities from entering main with automatic scans that leverage machine learning to continuously amp up accuracy.",
      text_placement: :right,
      images: [
        { src: image_path("modules/site/security/terminal.png"), classes: "col-8 height-auto position-relative top-n4 rounded box-shadow-mktg-xl js-build-in-item build-in-slideX-right mb-7", width: 864, height: 656 },
        { src: image_path("modules/site/security/code-scanning.png?v=2"), classes: "position-absolute rounded border col-9 height-auto top-3 right-0 box-shadow-mktg-xl js-build-in-item build-in-slideX-left", width: 1044, height: 758 }
      ]) %>

    <%= render Site::RiverComponent.new(
      text: "Prioritize alerts and view exposure across the codebase to make sure you focus on what matters. Automatically resolve alerts with AI-powered auto-remediation.",
      text_placement: :right,
      images: [{ src: image_path("modules/site/security/issues.png?v=2"), classes: "width-full height-auto border rounded-2 box-shadow-mktg-xl js-build-in-item build-in-slideX-left", width: 1276, height: 472 }]) %>

    <%= render Site::RiverComponent.new(
      text: "Find vulnerabilities and suppress false positives with more than 2,000 queries from GitHub and the open-source community, or write your own queries for custom-curated results. Support for third-party scanning engines includes consolidated results in a single unified interface. Tackling a big project? Multi-repository variant analysis means you can run a single query on up to 1000 repositories at once.",
      text_placement: :right,
      illustration_alignment: :top,
      link: { text: "Learn more about CodeQL", url: "https://github.blog/2023-03-31-codeql-zero-to-hero-part-1-the-fundamentals-of-static-analysis-for-vulnerability-research/" },
      ) do %>
      <div class="d-flex flex-md-justify-end">
        <picture>
          <source srcset="<%= image_path("modules/site/security/vscode.webp") %>" type="image/webp">
          <img src="<%= image_path("modules/site/security/vscode.png") %>" class="rounded box-shadow-mktg-xl position-relative top-md-n7 js-build-in-item build-in-slideX-left security-vscode-illo" alt="" aria-hidden="true" loading="lazy" decoding="async" height="665">
        </picture>
      </div>
    <% end %>

    <%= render Site::RiverComponent.new(
      header: "Software supply chains, secure by design",
      text: "GitHub supply chain security is designed for developers, built for speed, and free for everyone. All powered by a database of over 12,000 expert-reviewed advisories.",
      link: {
        text: "Secure your supply chain",
        url: "/features/security/software-supply-chain"
      },
      read: [
        {
          text: 'Watch the video',
          url: 'https://www.youtube.com/watch?v=Mh8yZu01DI8'
        }
      ],
      images: [
        { src: image_path("modules/site/security/dependency-graph-bg.png"), classes: "col-12 height-auto rounded box-shadow-mktg-xl", width: 1230, height: 792 },
        { src: image_path("modules/site/security/dependency-graph-list.png?v=2"), classes: "col-11 height-auto position-absolute top-8 border js-build-in-item build-in-scale-up rounded box-shadow-mktg-xl left-0 right-0 mx-auto", width: 1166, height: 768 }
      ]) do |c| %>
      <% c.with_background do %>
        <img src="<%= image_path("modules/site/security/grid1.svg") %>" class="position-absolute col-8-max z-n1" style="right: -100px; opacity: 0.7;" aria-hidden="true" alt="" loading="lazy" decoding="async">
        <img src="<%= image_path("modules/site/security/glows/2.svg") %>" class="position-absolute col-9-max z-n1" style="right: -150px;" aria-hidden="true" alt="" loading="lazy" decoding="async">
      <% end %>
    <% end %>

    <%= render Site::RiverComponent.new(
      text: "Fresh, clean dependencies. Every year, developers resolve over 60M outdated and vulnerable dependencies with Dependabot.",
      images: [
        { src: image_path("modules/site/security/dependabot-repo.png"), classes: "rounded-2 width-full height-auto box-shadow-mktg-xl border color-border-default mt-7 mt-md-8", width: 1234, height: 544 },
        { src: image_path("modules/site/security/dependabot-repo.png"), classes: "position-absolute left-n2 left-md-n7 top-0 col-11 height-auto rounded-2 box-shadow-mktg-xl js-build-in-item build-in-slideX-right", width: 1214, height: 276 }
      ]) %>

    <%= render Site::RiverComponent.new(
      text: "Automatically monitor and fix vulnerable dependencies with expert curation and remediation advice from our community of over 100M developers.",
      images: [
        { src: image_path("modules/site/security/pr-bg.png"), classes: "mb-9 rounded-2 col-11 height-auto box-shadow-mktg-xl border color-border-default mx-auto d-block", width: 1116, height: 900 },
        { src: image_path("modules/site/security/pr-comment.png"), classes: "position-absolute rounded-2 border color-border-default right-0 top-8 top-md-11 col-11 height-auto js-build-in-item build-in-slideX-left", width: 1196, height: 882 },
        { src: image_path("modules/site/security/dependabot-icon.png"), classes: "position-absolute left-0 top-8 top-md-11 js-build-in-item build-in-scale-up", width: 40, height: 40, style: "width: 7%; height: auto;" }
      ],
      read: [
        {
          text: 'Learn more about Dependabot',
          url: 'https://github.blog/2023-01-12-a-smarter-quieter-dependabot/'
        }
      ]) %>

    <%= render Site::RiverComponent.new(
      header: "Detect and prevent secret&nbsp;leaks",
      text: "Keep secrets out of your code with secret scanning and push protection, built on the foundation of 100+ partners and 200+ token types. Create custom patterns and detect leaked passwords, powered by AI.",
      text_placement: :right,
      images: [
        { src: image_path("modules/site/security/secrets-scanning.png"), classes: "col-10 height-auto mb-9 rounded box-shadow-mktg-xl position-relative z-1 border js-build-in-item build-in-slideX-right", width: 1128, height: 402 },
        { src: image_path("modules/site/security/secrets-logos.png"), classes: "position-absolute rounded border col-11 height-auto bottom-0 right-0 box-shadow-mktg-xl border js-build-in-item build-in-slideX-left", width: 1426, height: 394 }
      ],
      read: [
        {
          text: 'Secret scanning is now free for all public repositories',
          url: 'https://github.blog/2023-02-28-secret-scanning-alerts-are-now-available-and-free-for-all-public-repositories/'
        }
      ]) do |c| %>
      <% c.with_background do %>
        <img src="<%= image_path("modules/site/security/grid2.svg") %>" class="position-absolute col-9-max z-n1" style="left: -190px; top: -80px; opacity: 0.7;" width="1192" height="830" aria-hidden="true" alt="" loading="lazy" decoding="async">
        <img src="<%= image_path("modules/site/security/glows/1.svg") %>" class="position-absolute col-9-max z-n1 height-auto" style="left: -190px; top: -80px;" aria-hidden="true" width="1002" height="785" alt="" loading="lazy" decoding="async">
      <% end %>
    <% end %>


    <%= render Site::RiverComponent.new(
      header: "Complete visibility into your enterprise",
      text: "Security overview provides a cross-organizational view of security issues and trends so that you can focus on prioritizing remediation efforts and track progress over time.",
      images: [{ src: image_path("modules/site/security/alerts-chart.png"), classes: "width-full height-auto border rounded-2 box-shadow-mktg-xl js-build-in-item build-in-slideX-right", width: 1282, height: 815 }]) %>
  <% end %>

  <div class="wide-block-container">
    <%= render "site/features/security/section_dark",
        title: "Be part of the world’s largest security community.",
        background: [{
          src: image_path("modules/site/security/globe-bg.jpg"),
          webp: image_path("modules/site/security/globe-bg.webp"),
          classes: "position-absolute right-0 top-0 z-n1 d-none d-md-block",
          width: "840",
          height: "750"
        }],
        body: "Understand your dependence on  the software supply chain, and how you can contribute back.",
        sections: [
          {
            body: "Collaborate with the security community on GitHub and with the <a class='Link--inTextBlock' href='https://openssf.org'>Open Source Security Foundation (OpenSSF)</a>",
            illustration: 'oss'
          },
          {
            body: "Report security issues, share security knowledge and <em>grow with the community</em>. Contribute to <em>open source code scanning queries</em> written by GitHub and leading security researchers.",
            illustration: 'issues',
            cta: {
              body: "Meet the GitHub Security Lab",
              url: 'https://securitylab.github.com',
            },
            read: [{
              text: "GitHub Security Lab’s research blog",
              url: "https://securitylab.github.com/research",
            }]
          }
        ]
      %>
  </div>

  <%= render Site::ResourceCardsComponent.new(header: "Best practices for more secure software") do |c| %>
    <% c.with_cards([
      {
        octicon: "file",
        header: 'Developer-first application security',
        text: 'Take an in-depth look at the current state of application security.',
        url: "https://resources.github.com/security/supply-chain/shipping-fast-secure-supply-chain/",
      },
      {
        octicon: "file",
        header: "Proactive vs Reactive Security",
        text: 'Prevent security issues from happening in the first place.',
        url: 'https://resources.github.com/security/proactive-security/',
      },
      {
        octicon: "file",
        header: 'Static application security testing SAST',
        text: 'Discover what SAST is and how to get started with SAST.',
        url: "https://resources.github.com/security/sast/",
      }
    ]) %>
  <% end %>
</div>
