<%# erblint:counter DeprecatedComponentsCounter 2 %>
<ul class="Box border-bottom-0 mb-3">
  <% view.authorized_credentials.each do |token| %>
    <% personal_access_token = token.is_a?(OauthAccess) %>
    <li id="access-token-<%= token.id %>" class="Box-row border-bottom access-token">
      <div class="pt-4 d-flex clearfix float-right">

        <%= render layout: "shared/details_dialog", locals: {
          button_text: "Revoke",
          button_class: "btn btn-sm btn-danger ml-1",
          details_class: "ws-normal color-fg-default lh-default d-inline-block",
          title: "Are you sure you want to revoke access for this #{personal_access_token ? "token" : "SSH key"}?"
        } do %>
          <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
            <%= view.revoke_token_warning %>
          <% end %>
          <div class="Box-footer">
            <%= form_tag view.revoke_credential_path(token, token.class.name), method: :delete do %>
              <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>
                I understand, revoke access for this <%= personal_access_token ? "token" : "SSH key" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="d-flex">
        <div class="Box-row d-flex flex-column token-type">
          <% if personal_access_token %>
          <span>
            <%= primer_octicon(:lock, :height => 32) %>
          </span>
          <span class="border d-block f6 mt-1 px-1 rounded color-fg-muted">Token</span>
          <% else %>
          <span>
            <%= primer_octicon(:key, :height => 32) %>
          </span>
          <span class="border d-block f6 mt-1 px-1 rounded color-fg-muted">SSH</span>
          <% end%>
        </div>
        <div>
          <% if personal_access_token %>
          <strong class="d-block"><%= token.description.blank? ? "(No description)" : token.description %></strong>
          <span title="Token fingerprint"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
            <code><%= "#{ "*" * 5 }#{token.token_last_eight}" %></code>
          </span>
          <span class="color-fg-muted">
            <%= scopes_description_tooltip_list(token.scopes) %>
          </span>
          <span class="color-fg-muted d-block">
            <span><%= last_access_description(token, "token", "tooltipped-se") %></span>
          </span>
          <% else %>
            <strong class="d-block"><%= token.title %></strong>
            <span title="Public key fingerprint"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
              <code><%= token.fingerprint %></code>
            </span>
            <span class="color-fg-muted d-block">
              <span class="<%= "recent-user-key-access" if token.recent? %>"><%= last_access_description(token, "key", "tooltipped-se") %></span>
            </span>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
