<%# `view` is an instance of Sso::ShowView %>

<%= render Primer::Beta::Subhead.new(spacious: true, hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2) do %>Active SSO sessions<% end %>
<% end %>

<div class="Box manage-member-sso-sessions js-user-sessions-container <%= "has-active-sessions" if view.external_sessions.any? %>">
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      This member does not have any active SSO sessions.
    <% end %>
  <% end %>
  <% if view.external_sessions.any? %>
    <ul>
      <% view.external_sessions.each do |external_session| %>
        <li class="Box-row js-user-session" <%= test_selector("sso_session_#{external_session.id}") %>>

          <% if view.allow_revoke_actions? %>
            <%= form_tag view.revoke_sso_session_path(external_session.id), method: :delete, class: "js-user-sessions-revoke float-right" do %>
              <%= render Primer::Beta::Button.new(type: :submit, size: :small) do %>Revoke<% end %>
            <% end %>
          <% else %>
            <details class="details-reset float-right">
              <%= render Primer::Beta::Button.new(tag: :summary, size: :small, "aria-disabled": "true") do %>Revoke<% end %>
            </details>
          <% end %>


          <% view.user_sessions(external_session).each do |user_session| %>
            <% if user_session.location.any? %>
              <strong>
                <%= user_session.location[:country_name] %>
              </strong>
            <% end %>

            <% if user_session.ua %>
              <span class="d-block">
                <strong><%= user_session.ua.name %></strong>
                on
                <%= user_agent_platform(user_session.ua) %>
              </span>
            <% end %>

            <span class="note">
              Expires <%= time_ago_in_words_js external_session.expires_at %> • Last accessed on <time><%= user_session.accessed_at.in_time_zone(Time.zone).strftime('%b %d, %Y') %></time>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
