<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# `view` is an instance of Sso::ShowView %>

<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2) do %>Linked SSO identity<% end %>
<% end %>

<div class="Box">
  <% saml_data = view.external_identity.saml_user_data %>
  <% if saml_data.any? %>
    <div class="Box-row hx_Box-row--with-top-border d-flex flex-justify-between flex-items-center">
      <div>
        <strong><%= saml_data.name_id %></strong>
        <span class="tooltipped tooltipped-n" aria-label="This is the NameID"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
          <%= primer_octicon(:info, color: :muted, ml: 1) %>
        </span>
      </div>
      <% if view.allow_revoke_actions? %>
        <%= render layout: "shared/details_dialog", locals: {
            button_text: "Revoke",
            button_class: "btn btn-danger btn-sm",
            title: "Revoke external identity for #{view.member}",
        } do %>
          <%= render Primer::Beta::Flash.new(scheme: :warning, full: true) do %>
            <p>Be careful &mdash; this will unlink the user's external identity and invalidate their active SAML sessions.</p>
            <% if view.scim_identity? %>
              <p><strong>Warning</strong> &mdash; this user's external identity contains SCIM metadata. The identity provider will no longer be able to synchronize or deprovision this user if SCIM data is removed. To change an existing external identity or user association, an admin may need to remove and re-assign the user to the GitHub application in the Identity Provider.</p>
            <% end %>
          <% end %>
          <div class="Box-body overflow-auto">
            <p>
              They will not be removed from the <%= view.target_description %>, their credentials will remain authorized, and they will be able to link
              their external identity again next time they authenticate with the Identity Provider.
              Revoke the external identity if it has been linked to the wrong GitHub account, or if another problem has occurred.
            </p>
            <%= form_tag view.unlink_identity_path, method: "delete" do %>
              <div class="Box-footer">
                <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true) do %>
                  Revoke external identity
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <details class="details-reset">
          <summary class="btn btn-danger btn-sm" aria-disabled="true" title="SAML SSO is configured by the Enterprise account that this organization belongs to, and only Enterprise account owners can revoke its external identities."><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
            Revoke
          </summary>
        </details>
      <% end %>
    </div>
    <% group_ids = view.external_identity_group_ids %>
    <% if group_ids.any? %>
      <div class="Box-row d-flex flex-justify-between flex-items-center">
        <div>Groups</div>
        <div><%= group_ids.to_sentence %></div>
      </div>
    <% end %>
  <% end %>
  <% scim_data = view.external_identity.scim_user_data %>
  <% if scim_data.any? %>
    <div class="Box-row Box-row--gray hx_Box-row--with-top-border">
      <strong>SCIM identity</strong>
    </div>
    <div class="Box-row d-flex flex-justify-between flex-items-center">
      <div>SCIM User ID</div>
      <div><%= view&.external_identity&.guid %></div>
    </div>
    <div class="Box-row d-flex flex-justify-between flex-items-center">
      <div>Username</div>
      <div><%= scim_data.user_name %></div>
    </div>
    <div class="Box-row d-flex flex-justify-between flex-items-center">
      <div>External ID</div>
      <div><%= scim_data.external_id %></div>
    </div>
    <div class="Box-row d-flex flex-justify-between flex-items-center">
      <div>Name</div>
      <div><%= scim_data.given_name %> <%= scim_data.family_name %></div>
    </div>
    <div class="Box-row d-flex flex-justify-between flex-items-center">
      <div>Emails</div>
      <div>
        <% scim_data.emails.each do |email| %>
          <%= email %> <br>
        <% end %>
      </div>
    </div>
    <div class="Box-row d-flex flex-justify-between flex-items-center">
      <div>Roles</div>
      <div>
        <% scim_data.roles.each do |role_value| %>
          <span <%= test_selector("scim_role_value_#{role_value}") %>><%= role_value %> (<%= Platform::Provisioning::RoleReconciler.human_readable_role(role_value) %>)</span> <br>
        <% end %>
      </div>
    </div>

    <% group_ids = view.external_identity_group_ids(group_data: view.external_identity.scim_group_data) %>
    <% if group_ids.any? %>
      <div class="Box-row d-flex flex-justify-between flex-items-center">
        <div>Groups</div>
        <div><%= group_ids.to_sentence %></div>
      </div>
    <% end %>
  <% end %>
</div>
