<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<% actions.each do |action| %>
  <li class="Box-row d-flex flex-justify-between flex-items-center" <%= test_selector("state-#{action.state}") %>>
    <div class="d-flex flex-items-center">
      <div style="background-color: #<%= action.color %>" class="mr-3 CircleBadge CircleBadge--small">
        <%= action_icon(name: action.name, icon_name: action.icon_name, color: action.icon_color, owner: action.repository.owner.display_login) %>
      </div>
      <div class="d-flex flex-column flex-justify-between">
        <h3 class="f5 lh-condensed mb-0">
          <%= action.name %>
        </h3>
        <span class="text-small color-fg-muted">Action</span>
      </div>
    </div>
    <div>
      <a href="<%= releases_path(action.repository) %>" class="btn">Publish action</a>
    </div>
  </li>
<% end %>

<% if actions.next_page.present? %>
  <li class="ajax-pagination-form js-ajax-pagination Box-row d-flex flex-justify-between flex-items-center">
    <%= form_tag new_marketplace_listing_path, method: :get do %>
      <input name="action_cursor" type="hidden" value="<%= actions.next_page %>">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, "data-disable-with": "Loading more Actions...") do %>Load more GitHub Actions...<% end %>
    <% end %>
  </li>
<% end %>
