<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  # Breaking the cache of the logo url so that changes are seen immediately in the browser.
  logo_url = Addressable::URI.parse(marketplace_listing.primary_avatar_url(106))
  logo_url.query_values = (logo_url.query_values || {}).merge({ cache: Time.now.to_i })

  logo_url = logo_url.to_s
%>

<% page_info \
  title: "Edit #{marketplace_listing.name} - GitHub Marketplace",
  selected_link: marketplace_path,
  stafftools: biztools_marketplace_listing_path(marketplace_listing.slug),
  class: "full-width",
  richweb: {
    title: "Edit #{marketplace_listing.name} - GitHub Marketplace",
    url: request.original_url,
    description: "GitHub integrates with hundreds of tools that help you and your team build software better, together.",
  }
%>

<div class="p-3 d-none d-sm-flex flex-justify-between flex-items-center border-bottom">
  <div class="TableObject">
    <div class="TableObject-item TableObject-item--primary">
      <%= render(Primer::Beta::Breadcrumbs.new) do |component| %>
        <% component.with_item(href: marketplace_path) do %>Marketplace<% end %>
        <% component.with_item(href: marketplace_listing_path(marketplace_listing)) do %>Edit <%= marketplace_listing.name %><% end %>
        <% component.with_item(href: request.path) { "Overview" } if selected_tab == :overview %>
        <% component.with_item(href: request.path) { "Insights" } if selected_tab == :insights %>
        <% component.with_item(href: request.path) { "Transactions" } if selected_tab == :transactions %>
        <% component.with_item(href: request.path) { "Contact info" } if selected_tab == :contact_info %>
        <% component.with_item(href: request.path) { "Listing description" } if selected_tab == :description%>
        <% component.with_item(href: request.path) { "Webhook" } if selected_tab == :web_hook %>
        <% component.with_item(href: request.path) { "Featured customers" } if selected_tab == :featured_customers %>
        <% component.with_item(href: request.path) { "Plans and pricing" } if selected_tab == :pricing %>

        <% if [:pricing_plan, :pricing_new].include? selected_tab %>
          <% component.with_item(href: marketplace_listing_plans_path(marketplace_listing.slug)) do %>Plans and pricing<% end %>
          <% component.with_item(href: request.path) { "New" } if selected_tab == :pricing_new %>
          <% component.with_item(href: request.path) { "Plan" } if selected_tab == :pricing_plan %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="position-relative">
    <%= render(Primer::Beta::Button.new(
      tag: :a,
      href: marketplace_listing_path(marketplace_listing.slug),
      target: "_blank",
    )) do |button| %>
      <% button.with_leading_visual_icon(icon: :"link-external") %>
      <% if marketplace_listing.publicly_listed? %>
        View listing
      <% else %>
        Preview listing
      <% end %>
    <% end %>
  </div>
</div>

<%= render(Primer::Alpha::Layout.new(border: :bottom, classes: "MarketplaceEdit-body js-marketplace-listing-form-container")) do |component| %>
  <% component.with_main(p: 3) do %>
    <div class="container-md">
      <%= render(Primer::Beta::Flash.new(
        scheme: :danger,
        dismissible: true,
        icon: :alert,
        classes: "js-marketplace-listing-error-container",
        hidden: true
      )) do %>
        <span class="js-marketplace-listing-error"></span>
      <% end %>
      <%= yield %>
    </div>
  <% end %>
  <% component.with_sidebar(p: 3, width: :wide, border: :right, hide: :whenNarrow) do %>
    <div class="CircleBadge CircleBadge--small mx-auto mb-2 js-marketplace-listing-bgcolor" style="background-color: #<%= marketplace_listing.bgcolor %>;">
      <img src="<%= logo_url %>" class="CircleBadge-icon" alt="<%= marketplace_listing.name %> logo preview">
    </div>
    <%= render(Primer::Beta::Heading.new(
      tag: :h1,
      font_weight: :normal,
      font_size: 4,
      text_align: :center,
      pb: 3
    )) { marketplace_listing.name } %>
    <%= render Marketplace::Listings::AdminSidebarComponent.new(listing: marketplace_listing, selected_tab: selected_tab) %>
  <% end %>
<% end %>

<%= render Marketplace::Listings::ResponsiveMenuComponent.new(listing: marketplace_listing, selected_tab: selected_tab) %>
