<%
  logo_url = marketplace_listing.primary_avatar_url(106)
  click_source = "featured_apps_section"

  hydro_tracking ||= hydro_click_tracking_attributes(
    "marketplace_listing_click",
    {
      marketplace_listing_id: marketplace_listing.id,
      location: click_source,
      source_url: request.url,
      destination_url: marketplace_listing_url(marketplace_listing.slug)
    }
  )

  if local_assigns[:break_logo_cache]
    # Used by the Marketplace admin pages. So that integrators can upload their logo and immediately see the new version.
    logo_url = Addressable::URI.parse(logo_url)
    logo_url.query_values = (logo_url.query_values || {}).merge({ cache: Time.now.to_i })

    logo_url = logo_url.to_s
  end
%>
<%= link_to marketplace_listing_path(marketplace_listing.slug), class: "no-underline MarketplaceFeature-link", data: hydro_tracking do %>
  <div class="p-4 text-center rounded-2 color-shadow-medium mb-4 js-hero-listing-container color-bg-default" style="<%= marketplace_card_background_image marketplace_listing.hero_card_background_url_for_viewer(current_user) %> background-size: cover; background-position: center top;"> <%= marketplace_logo(name: marketplace_listing.name, logo_url: logo_url, bgcolor: marketplace_listing.bgcolor, classes: "CircleBadge--medium CircleBadge--feature mx-auto js-hero-listing-bgcolor", by_github: marketplace_listing.by_github?) %>
    <h3 class="h2 no-wrap js-hero-listing-name <%= marketplace_logo_text_class(marketplace_listing.light_text) %>"><%= marketplace_listing.name %></h3>
  </div>
<% end %>
