<%
  # The is_enterprise_managed could be passed in as a local variable, else we need to compute it
  is_enterprise_managed = if local_assigns.key?(:is_enterprise_managed)
    local_assigns[:is_enterprise_managed]
  else
    is_enterprise_managed?(current_user)
  end
%>

<% apps.each do |app| %>
  <li class="Box-row flex-row d-md-flex flex-justify-between flex-items-center">
    <div class="d-flex flex-items-center">
      <img src="<%= image_path app.preferred_avatar_url(size: 40) %>" alt="" class="marketplace-integratable-logo mr-3 mt-1 avatar float-left" width="20" height="20">
      <div class="d-flex flex-column flex-justify-between">
        <%= render(Primer::Beta::Heading.new(tag: :h3, font_size: 5, mb: 0, classes: "lh-condensed")) { app.name } %>
        <span class="text-small color-fg-muted">GitHub App</span>
      </div>
    </div>
    <%= render(Primer::Beta::Button.new(
      tag: :a,
      href: new_marketplace_listing_with_integratable_path(MarketplaceListingsController::GITHUB_APP_TYPE, app.id),
      disabled: is_enterprise_managed,
      mt: [2, 2, 0, nil],
      aria: { label: "Create draft listing for #{app.name}"},
      test_selector: "create-draft-integration"
    )) do |_c| %>
      Create draft listing
    <% end %>
  </li>
<% end %>

<% if apps.next_page.present? %>
  <li class="ajax-pagination-form js-ajax-pagination Box-row d-flex flex-justify-between flex-items-center">
    <%= form_tag new_marketplace_listing_path, :method => :get do %>
      <input name="app_cursor" type="hidden" value="<%= apps.next_page %>">
      <%= render Primer::Beta::Button.new(type: :submit, scheme: :link, "data-disable-with": "Loading more GitHub Apps...") do %>Load more GitHub Apps...<% end %>
    <% end %>
  </li>
<% end %>
