<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  owner = listing.owner unless listing.owner&.hide_from_user?(current_user)
  agreement_body_html = Platform::Helpers::MarketplaceListingContent.html_for(agreement, :body, { current_user: current_user })
%>

<div class="Box p-4 color-bg-subtle mb-4">
  <h2 class="f4 mt-0">Accept the <%= agreement.name %> prior to submitting your listing</h2>
  <%= form_tag marketplace_agreement_signatures_path(listing.slug), method: :post do %>
    <div class="form-checkbox mb-0">
      <input type="hidden" name="accept" value="0">
      <input type="hidden" name="marketplace_agreement_id" value="<%= agreement.id %>">
      <input type="hidden" name="marketplace_listing_id" value="<%= listing.id %>">
      <label class="text-normal d-block mb-3" for="accept_marketplace_agreement">
        <input required type="checkbox" name="accept" value="1" id="accept_marketplace_agreement">
        By clicking &ldquo;Accept Terms&rdquo; below, you agree to the
        <%= render partial: "marketplace_listings/agreement_modal_button", locals: {
          button_class: "btn-link",
          button_text: "GitHub #{agreement.name}",
          agreement_title: "GitHub #{agreement.name} #{agreement.version}",
          agreement_body_html: agreement_body_html } %>
        on behalf of
        <% case owner %>
        <% when Organization %>
          the
          <a href="<%= user_path(owner.display_login) %>" class="d-inline-block no-wrap color-fg-default text-bold no-underline">
            <%= image_tag owner.primary_avatar_url(36), alt: "@#{owner.display_login}", width: 16, height: 16, class: avatar_class_names(owner) %>
            <%= owner.name %>
          </a>
          organization.
        <% when User %>
          <a href="<%= user_path(owner.display_login) %>" class="d-inline-block no-wrap color-fg-default text-bold no-underline">
            <%= image_tag owner.primary_avatar_url(36), alt: "@#{owner.display_login}", width: 16, height: 16, class: avatar_class_names(owner) %>
            <%= owner.name %>.
          </a>
        <% end %>
        Please check to make sure that you are agreeing to these terms on behalf of the
        correct account.
      </label>
      <%= render Primer::ButtonComponent.new(type: :submit, "data-disable-with": "Saving...", "data-disable-invalid": "", scheme: :primary) do %>
        Accept Terms
      <% end %>
    </div>
  <% end %>
</div>
