<%
  owner_detail = listing.owner&.display_login
%>

<%= content_tag(:a, href: marketplace_listing_path(listing.slug), data: hydro_data, class: "col-md-6 mb-4 d-flex no-underline") do -%>
  <div role="img" aria-hidden="true">
    <%= marketplace_logo(name: listing.name, logo_url: listing.primary_avatar_url(62), bgcolor: listing.bgcolor, classes: "CircleBadge--small", by_github: listing.by_github?) %>
  </div>
  <div class="px-3">
    <%= render(Primer::Beta::Heading.new(tag: :h3, font_size: 4, test_selector: "marketplace-listing-name")) { listing.name } %>
    <% if owner_detail.present? %>
      <p class="color-fg-muted lh-condensed wb-break-word mb-0"><span><%= render(Primer::Beta::Octicon.new(icon: "verified", color: :accent, ml: 1)) %></span> By <%= owner_detail %>
        <% if listing.verified_owner? %>
          <span>
            <%= render(Primer::Beta::Octicon.new(icon: "verified", color: :accent, ml: 1)) %> Publisher domain and email verified
          </span>
        <% end %>
      </p>
    <% end %>
    <p class="color-fg-muted lh-condensed wb-break-word mb-0"><%= listing.normalized_short_description %></p>
    <% if listing.show_recommended_or_install_count %>
      <% if listing.recommended? %>
        <%= render Primer::Beta::Label.new(scheme: :secondary, mt: 1, title: "Label: Recommended") do %>
          Recommended
        <% end %>
      <% else %>
        <%= render(Primer::Beta::Octicon.new(icon: "download", size: :small, color: :muted)) %>
        <span class="text-small color-fg-muted text-bold"><%= social_count(listing.cached_installation_count) %> installs</span>
      <% end %>
    <% end %>
  </div>
<% end %>
