<%
  owner_login = listing_viewdata.owner_login
  install_count = listing_viewdata.installation_count
  is_recommended = listing_viewdata.recommended
  is_verified_owner = listing_viewdata.is_verified_owner
  show_social_proof = ( install_count && install_count >= Marketplace::Listing::MIN_INSTALLS_FOR_SOCIAL_PROOF) || is_recommended
%>
  <div class="col-md-6 mb-4 d-flex">
    <div role="img" aria-hidden="true">
      <%= marketplace_logo(name: listing.name, logo_url: listing.primary_avatar_url(62), bgcolor: listing.bgcolor, classes: "CircleBadge--small", by_github: listing.by_github?) %>
    </div>
    <div class="px-3">
      <h3 class="h4">
        <%= render(Primer::Beta::Link.new(href: resource_path, data: hydro_data)) { listing.name } %>
      </h3>
    <% if owner_login.present? %>
      <p class="color-fg-muted lh-condensed wb-break-word mb-0"> By <%= owner_login %>
      </p>
    <% end %>
    <p class="color-fg-muted lh-condensed wb-break-word mb-0"><%= listing.normalized_short_description %></p>
    <% if listing.partnership_managed? %>
      <%= render Primer::Beta::Label.new(scheme: :secondary, mt: 1, title: "Label: Recommended") do %>
        GitHub Partner
      <% end %>
    <% end %>
    <% if show_social_proof %>
      <% if is_recommended %>
        <%= render Primer::Beta::Label.new(scheme: :secondary, mt: 1, title: "Label: Recommended") do %>
          Recommended
        <% end %>
      <% else %>
        <%= render(Primer::Beta::Octicon.new(icon: "download", size: :small, color: :muted)) %>
        <span class="text-small color-fg-muted text-bold"><%= social_count(install_count) %> installs</span>
      <% end %>
    <% end %>
    </div>
  </div>
