<%
  is_enterprise_managed = if local_assigns.key?(:is_enterprise_managed)
    local_assigns[:is_enterprise_managed]
  else
    is_enterprise_managed?(current_user)
  end
%>

<% oauth_apps.each do |oauth_app| %>
  <li class="Box-row flex-row d-md-flex flex-justify-between flex-items-center">
    <div class="d-flex flex-items-center">
      <%= oauth_application_logo(oauth_app, 40, alt: "",
        class: "marketplace-integratable-logo mr-3 mt-1 avatar float-left" ) %>
      <div class="d-flex flex-column flex-justify-between">
        <%= render(Primer::Beta::Heading.new(tag: :h3, font_size: 5, mb: 0, classes: "lh-condensed")) { oauth_app.name } %>
        <span class="text-small color-fg-muted">OAuth App</span>
      </div>
    </div>

    <%= render(Primer::Beta::Button.new(
      tag: :a,
      href: new_marketplace_listing_with_integratable_path(MarketplaceListingsController::OAUTH_APP_TYPE, oauth_app.id),
      disabled: is_enterprise_managed,
      mt: [2, 2, 0, nil],
      aria: { label: "Create draft listing for #{oauth_app.name}"},
      test_selector: "create-draft-oauth"
    )) do |_c| %>
      Create draft listing
    <% end %>
  </li>
<% end %>

<% if oauth_apps.next_page.present? %>
  <li class="ajax-pagination-form js-ajax-pagination Box-row d-flex flex-justify-between flex-items-center">
    <%= form_tag new_marketplace_listing_path, :method => :get do %>
      <input name="oauth_cursor" type="hidden" value="<%= oauth_apps.next_page %>">
      <%= render Primer::Beta::Button.new(type: :submit, scheme: :link, "data-disable-with": "Loading more OAuth apps...") do %>Load more OAuth apps...<% end %>
    <% end %>
  </li>
<% end %>
