<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details
  class="select-menu details-reset details-overlay js-check-all-container my-2">
  <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
    Choose languages
    (<span data-check-all-count><%= selected_language_names.length %></span>/<%= Marketplace::Listing::MAX_SUPPORTED_LANGUAGES_COUNT %>)
  <% end %>

  <details-menu
    class="select-menu-modal position-absolute js-languages-menu" style="z-index: 99;"
    data-menu-max-options="<%= Marketplace::Listing::MAX_SUPPORTED_LANGUAGES_COUNT %>"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">
        Supported languages
      </span>
    </div>

    <div class="select-menu-filters">
      <div class="select-menu-text-filter">
        <input type="text" id="language-filter-field" class="form-control js-filterable-field"
                placeholder="Filter languages" aria-label="Filter languages" autocomplete="off" spellcheck="off" autofocus>
      </div>
    </div>
    <div class="p-2 flash-warn border-bottom"
      data-menu-max-options-warning
      <% if Marketplace::Listing::MAX_SUPPORTED_LANGUAGES_COUNT > selected_language_names.length %>hidden<% end %>>
      You can only select up to <%= pluralize(Marketplace::Listing::MAX_SUPPORTED_LANGUAGES_COUNT, "language") %>.
    </div>

    <div class="select-menu-list">
      <!-- check-all behavior require a check-all input -->
      <input type="hidden" data-check-all>
      <!-- Fallback to no languages selected -->
      <input type="hidden" value="" name="marketplace_listing[supportedLanguageNames][]">
      <div class="select-menu-no-results">Nothing to show</div>

      <div data-filterable-for="language-filter-field" data-filterable-type="substring">
        <div class="select-menu-divider">Popular</div>
        <% Linguist::Language.popular.each do |language| %>
          <% checked = selected_language_names.include?(language.name) %>
          <label tabindex="0" class="btn-block select-menu-item text-normal" aria-checked="<%= checked %>" role="menuitemcheckbox">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <input hidden type="checkbox" data-check-all-item value="<%= language.name %>" name="marketplace_listing[supportedLanguageNames][]" <% if checked %>checked<% end %>>

            <div class="select-menu-item-text lh-condensed">
              <%= language.name %>
            </div>
          </label>
        <% end %>

        <div class="select-menu-divider">Other</div>

        <% Linguist::Language.unpopular.each do |language| %>
          <% checked = selected_language_names.include?(language.name) %>
          <label tabindex="0" class="btn-block select-menu-item text-normal" aria-checked="<%= checked %>" role="menuitemcheckbox">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <input hidden type="checkbox" data-check-all-item value="<%= language.name %>" name="marketplace_listing[supportedLanguageNames][]" <% if checked %>checked<% end %>>

            <div class="select-menu-item-text lh-condensed">
              <%= language.name %>
            </div>
          </label>
        <% end %>
      </div>
    </div>
  </details-menu>
</details>

<div class="js-language-selection text-small text-bold color-fg-muted my-2">
  <%= selected_language_names.join(", ") %>
</div>
