<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% content_for :head do %>
  <meta name="description" content="Discover new ways to build better — now with a free 14-day trial.">
<% end %>

<% page_info \
  title: "GitHub Marketplace · Free Trials",
  richweb: {
    title: "GitHub Marketplace - Free Trials",
    url: request.original_url,
    description: "Discover new ways to build better — now with a free 14-day trial.",
  }
%>

<% if listings.any? %>
  <div class="py-4 py-md-6" style="background-image:url(<%= image_path "modules/marketplace/bg-category.svg" %>);background-position:center top;background-repeat: no-repeat; background-size: auto 100%">
    <div class="container-lg p-responsive">
      <span class="d-block"><a href="<%= marketplace_path %>">Marketplace</a></span>
      <h1 class="f00-light mb-0 lh-condensed-ultra">
        Free trials
      </h1>
    </div>
  </div>
  <div>
    <div class="container-lg p-responsive">
      <div class="d-md-flex mt-md-6">
        <nav aria-labelledby="search_marketplace" class="col-md-3 pl-3 pl-md-0 pr-3 pr-md-5 pt-3 pt-md-2 pb-md-6 ml-n3 mr-n3 ml-sm-n6 mr-sm-n6 ml-md-0 mr-md-0 MarketplaceSideNav">
          <div class="d-none d-md-block">
            <h4 id="search_marketplace" class="mb-2">Search Marketplace</h4>
            <%= form_tag marketplace_path, method: "get", class: "mb-4" do %>
              <input type="text" name="query" placeholder="Name or description" aria-label="Search by name, or description" class="form-control input-contrast width-full">
            <% end %>
          </div>
          <h4 class="d-none d-md-block mb-md-1">Categories</h4>
          <ul class="d-md-none py-2 mb-4 list-style-none d-flex overflow-auto" aria-hidden>
            <% categories.each do |category| %>
              <li>
                <a href="<%= marketplace_category_path(category.slug) %>" class="filter-item py-1 mb-0">
                  <%= category.name %>
                </a>
              </li>
            <% end %>
          </ul>
          <ul class="list-style-none d-none d-md-block" style="margin-left: -10px;">
            <% categories.each do |category| %>
              <li>
                <a href="<%= marketplace_category_path(category.slug) %>" class="filter-item py-1">
                  <%= category.name %>
                </a>
              </li>
            <% end %>
          </ul>
          <% if manageable_listings_count > 0 %>
            <div class="d-none d-md-block">
              <hr>
              <a href="<%= manage_marketplace_listings_path %>" class="btn btn-sm"> Manage your <%= "listing".pluralize(manageable_listings_count) %>
              </a>
            </div>
          <% end %>
        </nav>
        <div class="col-md-9 pl-md-5 mt-1 mb-4">

          <div class="mb-6 mb-md-0">
            <h2 class="f3-light mb-4 color-fg-muted">Discover new ways to build better—now with a free 14-day trial.</h2>

            <div class="d-md-flex flex-wrap mb-3">
              <%= render partial: "marketplace_listings/listing", collection: listings, locals: { hydro_data: {} } %>
            </div>
          </div>
        </div>
      </div>
      <%= render "marketplace/submit_app_cta" %>
    </div>
  </div>
<% end %>
