<%# erblint:counter DeprecatedComponentsCounter 1 %>

<% page_info \
  title: "Manage Marketplace Listings · GitHub Marketplace",
  selected_link: marketplace_path,
  responsive: false,
  richweb: {
    title: "Manage Marketplace Listings - GitHub Marketplace",
    url: request.original_url,
    description: "GitHub integrates with hundreds of tools that help you and your team build software better, together.",
  }
%>

<div class="container"><%# erblint:disable DeprecatedCustomCss %>
  <div class="py-3">
    <% tools_count = listings.size + actions.size %>
    <%= render(Primer::Beta::Breadcrumbs.new) do |component| %>
      <% component.with_item(href: marketplace_path) do %>Marketplace<% end %>
      <% component.with_item(href: request.path) do %>Manage your <%= "listing".pluralize(tools_count) %><% end %>
    <% end %>
  </div>

  <div class="container-md mx-auto mt-4">
    <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>Manage your GitHub Marketplace <%= "tool".pluralize(tools_count) %><% end %>
    <% end %>
    <div class="Box color-shadow-small">
      <div class="Box-header d-flex flex-items-center">
        <h3 class="Box-title flex-auto">Apps</h3>
        <%= render Primer::Beta::Button.new(tag: :a, href: new_marketplace_listing_path, scheme: :primary) do %>
          Create a new App listing
        <% end %>
      </div>
      <ul>
        <% listings.each do |listing| %>
        <li class="Box-row d-flex flex-justify-between flex-items-center">
          <a class="d-flex flex-items-center no-underline" href="<%= marketplace_listing_path(listing.slug) %>">
            <div class="CircleBadge CircleBadge--small flex-shrink-0" style="background-color: #<%= listing.bgcolor %>;">
              <img src="<%= image_path listing.primary_avatar_url(140) %>" alt="" class="CircleBadge-icon">
            </div>
            <div class="px-3">
              <h4 class="f4 lh-condensed mb-0">
                <%= listing.name %>
              </h4>
              <p class="color-fg-muted lh-condensed mb-0"><%= listing.short_description %></p>
            </div>
          </a>
          <div class="d-flex flex-items-center ">
            <div class="mr-3">
              <%= render partial: "marketplace_listings/listing_status", locals: {
                    state: listing.status,
                    state_color: marketplace_listing_state_color(listing),
                    state_octicon: marketplace_listing_state_octicon(listing),
                  }
              %>
            </div>
            <% if listing.allowed_to_edit?(current_user) %>
              <%= render Primer::Beta::Button.new(tag: :a, href: edit_marketplace_listing_path(listing.slug)) do %>
                Manage listing
              <% end %>
            <% else %>
              <%= render Primer::ButtonComponent.new(classes: "disabled", disabled: true) do |button| %>
              <% button.with_tooltip(text: "You do not have access to manage this listing") %>
                Manage listing
              <% end %>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>

    <% if actions.any? %>
      <div class="Box color-shadow-small mt-4">
        <div class="Box-header d-flex flex-items-center">
          <h3 class="Box-title flex-auto">Actions</h3>
        </div>
        <ul>
          <% actions.each do |action| %>
            <li class="Box-row d-flex flex-justify-between flex-items-center">
              <a class="d-flex flex-items-center no-underline" href="<%= marketplace_action_path(action.slug) %>">
                <div class="CircleBadge CircleBadge--small flex-shrink-0" style="background-color: #<%= action.color %>;">
                  <%= action_icon(name: action.name, icon_name: action.icon_name, color: action.icon_color, owner: action.repository.owner_display_login) %>
                </div>
                <div class="px-3">
                  <h4 class="f4 lh-condensed mb-0">
                    <%= action.name %>
                  </h4>
                  <p class="color-fg-muted lh-condensed mb-0"><%= action.description %></p>
                </div>
              </a>
              <div class="d-flex flex-items-center ">
                <%= render(Primer::Beta::Button.new(tag: :a, href: releases_path(action.repository))) do %>
                  Manage releases
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
