<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% is_enterprise_managed = is_enterprise_managed? current_user %>

<% page_info \
  title: "New Marketplace Listing · GitHub Marketplace",
  container_xl: true,
  selected_link: marketplace_path,
  richweb: {
    title: "New Marketplace Listing - GitHub Marketplace",
    url: request.original_url,
    description: "GitHub integrates with hundreds of tools that help you and your team build software better, together.",
  }
%>
<div class="container-md p-responsive">
  <div class="py-3">
    <%= render(Primer::Beta::Breadcrumbs.new) do |component| %>
      <% component.with_item(href: marketplace_path) do %>Marketplace<% end %>
      <% component.with_item(href: request.path) do %>List your tool<% end %>
    <% end %>
  </div>
</div>
<div class="container-md p-responsive mt-4">
  <%= render Primer::Beta::Subhead.new(hide_border: true, mb: 1) do |component| %>
    <% component.with_heading(tag: :h1, font_size: 2) do %>List your tool on GitHub Marketplace<% end %>
  <% end %>

  <%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
    classes: "Box color-shadow-small mb-1",
    container_classes: "mb-2 mt-2",
    resource_label: "listable tools",
    cap_filter: cap_filter
  ) %>

  <% if oauth_apps.present? || apps.present? || actions.present? %>
    <div class="Box color-shadow-small mb-2">
      <div class="Box-header">
        <div class="Box-title">
          <h2 class="f4">
            <% if is_enterprise_managed %>
              Enterprise Managed Users cannot publish apps to the Marketplace
            <% else %>
              Create a draft GitHub Marketplace listing from one of your tools
            <% end %>
          </h2>
        </div>
      </div>
      <ul style="overflow: none !important;">
        <% if oauth_apps.present? %>
          <%= render partial: "marketplace_listings/oauth_applications", locals: { oauth_apps: oauth_apps, is_enterprise_managed: is_enterprise_managed } %>
        <% end %>
        <% if apps.present? %>
          <%= render partial: "marketplace_listings/integrations", locals: { apps: apps, is_enterprise_managed: is_enterprise_managed } %>
        <% end %>
      </ul>
    </div>
    <p>
      <%= primer_octicon(:info, color: :muted) %> Your tool must <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/apps/adding-integrations/listing-apps-on-github-marketplace/requirements-for-listing-an-app-on-github-marketplace/">meet the requirements</a> for GitHub Marketplace in order to be approved.
    </p>
    <% if actions.present? %>
      <div class="Box color-shadow-small mb-2 mt-4">
        <div class="Box-header">
          <div class="Box-title">
            <h2 class="f4">
              Publish your Action to GitHub Marketplace
            </h2>
          </div>
        </div>
        <ul>
          <%= render partial: "marketplace_listings/actions", locals: { actions: actions } %>
        </ul>
      </div>
    <% end %>
    <hr class="my-5">
  <% else %>
    <%= render Primer::BlankslateComponent.new(
      icon: "tools",
      title: "You have no tools to list on GitHub Marketplace",
      spacious: true,
      mb: 3,
    ) do %>
      <p><a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/apps/adding-integrations/listing-apps-on-github-marketplace/requirements-for-listing-an-app-on-github-marketplace/">Learn more about the requirements</a> to list a tool on GitHub Marketplace.</p>
    <% end %>
  <% end %>
  <h4 class="f5 mb-2">More about tools and GitHub Marketplace</h4>

  <div class="clearfix">
    <dl class="col-6 float-left mt-0 pr-3">
      <dt><a href="<%= GitHub.developer_help_url %>/apps/adding-integrations/listing-apps-on-github-marketplace/about-github-marketplace/" class="lh-condensed d-block mb-1"><%= primer_octicon(:book, mr: 1) %>About GitHub Marketplace</a></dt>
      <dd class="color-fg-muted text-small lh-condensed mb-2">How to create and list tools on the GitHub Marketplace, including guidelines for listing content, artwork, and screenshots.</dd>
    </dl>
    <dl class="col-6 float-left mt-0 pl-3">
      <dt><a href="<%= GitHub.developer_help_url %>/apps/adding-integrations/managing-listings-on-github-marketplace/adding-webhooks-for-a-github-marketplace-listing/" class="lh-condensed d-block mb-1"><%= primer_octicon(:book, mr: 1) %>Adding webhooks for a GitHub Marketplace listing</a></dt>
      <dd class="color-fg-muted text-small lh-condensed">Add webhooks for your app to notify you when specified events are triggered.</dd>
    </dl>
  </div>
</div>
