<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  default_name = form_data[:name] || integratable.name
  is_enterprise_managed = is_enterprise_managed? integratable.owner
%>

<% page_info \
  title: "New Marketplace Listing for #{integratable.name} · GitHub Marketplace",
  selected_link: marketplace_path,
  responsive: false,
  richweb: {
    title: "New Marketplace Listing for #{integratable.name} - GitHub Marketplace",
    url: request.original_url,
    description: "GitHub integrates with hundreds of tools that help you and your team build software better, together.",
  }
%>
<div class="container"><%# erblint:disable DeprecatedCustomCss %>
  <div class="py-3">
    <%= render(Primer::Beta::Breadcrumbs.new) do |component| %>
      <% component.with_item(href: marketplace_path) do %>Marketplace<% end %>
      <% component.with_item(href: new_marketplace_listing_path) do %>List your tool<% end %>
      <% component.with_item(href: request.path) do %>Create draft listing<% end %>
    <% end %>
  </div>
</div>
<div class="container-md mx-auto mt-4">
  <%= form_tag marketplace_path, method: :post do %>
    <% if integratable_type == MarketplaceListingsController::OAUTH_APP_TYPE %>
      <input type="hidden" name="marketplace_listing[oauthApplicationID]" value="<%= integratable.id %>">
    <% else %>
      <input type="hidden" name="marketplace_listing[appID]" value="<%= integratable.id %>">
    <% end %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Create a new GitHub Marketplace draft listing<% end %>
    <% end %>
    <div class="clearfix">
      <div class="col-8 float-left pr-3">
        <dl class="form-group">
          <dt><label for="marketplace_listing_name">Listing name</label></dt>
          <dd class="js-listing-characters-remaining-container">
          <input required type="text" name="marketplace_listing[name]" class="form-control js-listing-characters-remaining-field" id="marketplace_listing_name" value="<%= default_name %>" aria-describedby="help-text-for-name" maxlength="<%= Marketplace::Listing::NAME_MAX_LENGTH %>">
          <p class="note" id="help-text-for-name">
          Limit <%= Marketplace::Listing::NAME_MAX_LENGTH %> characters.
          <span class="js-listing-characters-remaining" data-suffix="remaining.">
            <%= Marketplace::Listing::NAME_MAX_LENGTH - default_name.length %> remaining.
          </span>
          <br>
          A human-friendly name for your listing.
          </p>
          </dd>
        </dl>
        <dl class="form-group">
          <dt><label for="marketplace_listing_primary_category">Primary category</label></dt>
          <dd>
          <select name="marketplace_listing[primaryCategoryName]" class="form-select" id="marketplace_listing_primary_category">
            <% category_names.each do |name| %>
              <option value="<%= name %>" <%= "selected" if name == form_data[:primaryCategoryName] %>>
              <%= name %>
              </option>
            <% end %>
          </select>
          </dd>
        </dl>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, disabled: is_enterprise_managed) do %>
          Save and add more details
        <% end %>
        <% if is_enterprise_managed %>
          <div class="note">
            Enterprise Managed <%=integratable.owner.user? ? "Users" : "Organizations"%> cannot publish apps to the Marketplace
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
