<%= form_for(contact_request, url: enterprise_contact_requests_path, html: { class: "js-form-validator #{"js-octocaptcha-parent" if octocaptcha.show_captcha?}" }) do |f| %>
  <%= f.hidden_field :ref_cta, value: params[:ref_cta] %>
  <%= f.hidden_field :ref_loc, value: params[:ref_loc] %>
  <%= f.hidden_field :ref_page, value: params[:ref_page] %>
  <%= f.hidden_field :variant, value: :control %>

  <% utm_memo&.each do |key, value| %>
    <%= f.hidden_field key, value: value %>
  <% end %>

  <fieldset id="signup-form" class="d-md-flex flex-column flex-justify-between color-fg-default f5">
    <dl class="form-group mb-0 required">
      <dt class="input-label">
        <%= f.label :first_name, _("First Name"), class: "error-label-transition", required: true %>
      </dt>
      <dd>
        <%= f.text_field :first_name,
          required: true,
          autofocus: true,
          class: "form-control input-block width-full error-border-transition js-validity-check",
          placeholder: _("First name")
        %>
      </dd>
    </dl>
    <dl class="form-group mb-0 required">
      <dt class="input-label">
        <%= f.label :last_name, _("Last Name"), class: "error-label-transition", required: true %>
      </dt>
      <dd>
        <%= f.text_field :last_name,
          required: true,
          autofocus: true,
          class: "form-control input-block width-full error-border-transition js-validity-check",
          placeholder: _("Last name")
        %>
      </dd>
    </dl>

    <dl class="form-group mb-0 required">
      <dt class="input-label">
        <%= f.label :company, _("Company"), class: "required mb-1 error-label-transition",  required: true %>
      </dt>
      <dd>
        <%= f.text_field :company,
          required: true,
          class: "form-control input-block width-full error-border-transition js-validity-check",
          placeholder: _("Company name")
        %>
      </dd>
    </dl>

    <div class="d-flex flex-wrap gutter-condensed">
      <dl class="col-6 form-group mb-0 required">
        <dt class="input-label">
          <%= f.label :email, _("Work Email"), class: "required mb-1 error-label-transition", required: true %>
        </dt>
        <dd>
          <%= f.email_field :email,
            required: true,
            class: "form-control input-block width-full error-border-transition js-validity-check",
            placeholder: _("name@company.com"),
            pattern: UserEmail::MarketingDependency::EMAIL_PATTERN_JS
          %>
        </dd>
      </dl>

      <dl class="col-6 form-group mb-0">
        <dt class="input-label">
          <%= f.label :phone, _("Phone Number"), class: "required mb-1 error-label-transition" %>
        </dt>
        <dd>
          <%= f.telephone_field :phone,
            class: "form-control input-block width-full",
            placeholder: "If you want us to call you"
          %>
        </dd>
      </dl>
    </div>

    <dl id="request-details-container" class="form-group mb-0">
      <dt class="input-label">
        <%= f.label :request_details, _("Message"), class: "mb-1" %>
      </dt>
      <dd>
        <%= f.text_area :request_details,
          required: false,
          class: "form-control input-block width-full",
          style: "min-height: 80px; height: 80px;",
          placeholder: _("Describe your project, needs, and timeline")
        %>
      </dd>
    </dl>

    <dl class="form-group mb-0 required">
      <dt class="input-label">
        <%= f.label :country, _("Country"), class: "mb-1", required: true %>
      </dt>
      <dd>
        <%= f.select :country, ::TradeControls::Countries.marketing_targeted_countries.map { |name, alpha, _, _| [name, alpha] },
          {prompt: "Choose your country", required: true},
          class: "form-control input-block width-full js-consent-experience-country-select"
        %>
      </dd>
    </dl>

    <%= render_react_partial name: "consent-experience", ssr: true, props: {
      fieldName: f.field_name(:marketing_email_opt_in),
      countryFieldSelector: ".js-consent-experience-country-select",
      privacyStatementHref: GitHub.privacy_statement_url,
      emailSubscriptionSettingsLinkHref: new_settings_link_request_path,
      exampleFields: ["full name", "company", "email"],
      hasPhone: true,
      formControlClass: "form-checkbox mb-0 Links--underline",
      noticeClass: "mt-3 mb-0"
    } %>

    <% if octocaptcha.show_captcha? %>
      <noscript>
        <p class="flash flash-error">GitHub requires JavaScript enabled for this page. Please enable JavaScript to continue.</p>
      </noscript>

      <%
        # These meta tags are a temporary workaround to appease `rake gettext:find`,
        # which is unable to find externalized strings in some ruby blocks, e.g. page_info
        # https://github.com/github/global-expansion-and-partnerships/issues/15
      %>
      <meta property="gettext-captcha-prompt" content="<%= _("Verify you're not a robot...") %>">

      <div id="enterprise-contact-form-captcha">
        <dl class="form-group mb-0 required">
          <dt class="input-label">
            <%= label_tag nil, _("Verify you're not a robot..."), class: "required mb-1" %>
          </dt>

          <dd>
            <%= render "shared/octocaptcha", origin_page: "github_enterprise_contact", include_header: false %>
          </dd>
        </dl>
      </div>
    <% end %>

    <div class="mt-3">
      <p class="text-bold">
        <%= _("By submitting this form, I agree to be contacted by GitHub Sales.") %>
      </p>

      <%= f.button(
        type: :submit,
        class: "btn-mktg mr-0 mr-sm-2 mt-2 js-form-validator-submit#{" js-octocaptcha-form-submit" if octocaptcha.show_captcha?}",
        data: { test_selector: "contact_request_submit"},
        disabled: octocaptcha.show_captcha?
      ) do %>
        <%= _("Contact Sales") %>
        <%= render(Primer::Beta::Octicon.new("chevron-right")) %>
      <% end %>
    </div>
  </fieldset>
<% end %>
