<% page_info \
  title: "Enterprise · A smarter way to work together",
  description: "Whether you’re working solo or leading an enterprise, GitHub has everything you need to build and scale your team’s workflow. Choose the plan that’s right for your hosting environment and security policies, and we’ll get you set up in no time.",
  class: "overflow-x-hidden position-relative header-dark",
  richweb: {
    title: "GitHub Enterprise: a smarter way to work together",
    url: request.original_url,
    description: "Whether you’re working solo or leading an enterprise, GitHub has everything you need to build and scale your team’s workflow. Choose the plan that’s right for your hosting environment and security policies, and we’ll get you set up in no time.",
    image: image_path("modules/site/social-cards/enterprise.png"),
  },
  marketing_footer_theme: "dark"
%>

<div <%= mktg_color_theme_attributes %> class="contact-vector-bg">
  <div class="container-xl color-fg-default">
    <div class="d-lg-flex flex-items-stretch gutter-lg-spacious pt-lg-10 pb-lg-11 py-3 flex-justify-center">
      <div class="offset-lg-1 col-lg-6 mb-3 mb-lg-0">
        <div class="height-full position-relative pt-md-5 pb-md-2">
          <div class="d-md-flex flex-column flex-justify-between height-full p-4 px-md-6 pb-md-10 pt-md-5 box-shadow-default-mktg contact-bg-color">
            <div class="pt-md-7 pb-md-6">
              <h1 class="mb-2 text-gradient-aquamarine-mauve h3-mktg">
                <%= _("Talk to our sales team") %>
              </h1>
            </div>

            <%= render "site/enterprise/contact_requests/form", contact_request: local_assigns[:contact_request], octocaptcha: local_assigns[:octocaptcha] %>
          </div>
        </div>
      </div>

      <div class="d-flex col-lg-4 mb-3 mb-lg-0 pb-md-8 py-lg-12">
        <div class="d-flex flex-column px-4 px-lg-0 px-md-6 pt-4 pt-lg-10 pb-md-4">
          <div class="mb-6">
            <h2 class="h6-mktg color-fg-default mb-2">
              <%= _("Need customer support?") %>
            </h2>

            <div class="color-fg-muted">
              <%= _("Questions about your existing GitHub Enterprise Installation?") %>
            </div>

            <div class="mt-2">
              <a href="<%= GitHub.contact_support_url(tags: "dotcom-enterprise") %>" class="underlined-mktg color-fg-default"><%= _("Contact Enterprise support.") %></a>
            </div>
          </div>

          <div class="mb-6">
            <h2 class="h6-mktg color-fg-default mb-2">
              <%= _("GitHub mailing address") %>
            </h2>

            <address class="color-fg-muted" style="font-style: normal">
              88 Colin P Kelly Jr St<br>
              San Francisco, CA 94107<br>
              United States
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
