<% page_info \
    title: "Enterprise · Thanks",
    description: "Thank you for reaching out to the sales team. We'll get back to you as soon as possible.",
    class: "enterprise-contact-thanks header-dark",
    marketing_footer_theme: "dark"
%>

<div data-color-mode="dark" data-dark-theme="dark">
  <div class="pt-4 pt-sm-10 text-center color-fg-default">
    <div class="p-responsive container-xl d-flex flex-items-center flex-column">
      <h1 class="h1-mktg mb-3 color-fg-default">Thanks for your message!</h1>

      <p class="f3-mktg color-fg-muted mb-10">We'll be in touch soon to help your business get up and running with GitHub.</p>

      <div class="col-12 mb-4 d-flex flex-wrap flex-justify-center gutter-spacious">
        <div class="col-md-5 mb-6 mb-md-0">
          <%= svg("modules/site/enterprise/contact_request/help.svg", height: 55, title: "Sales team available for questions") %>
          <h3 class="h5-mktg mb-3 color-fg-default">Don't miss our reply</h3>
          <p class="color-fg-muted">
            Add <%= link_to enterprise_email, "mailto:#{enterprise_email}", class: "color-fg-default underlined-mktg" %>
            as a contact to make sure our updates make it to your inbox.
          </p>
        </div>
      </div>

      <div class="col-12 mb-4">
        <hr class="col-2 mx-auto mb-5">
        <p class="f5 color-fg-muted">
          Check out our
          <%= link_to "support page", GitHub.support_url, class: "color-fg-default underlined-mktg" %>
          for answers to most technical questions.
        </p>
      </div>
    </div>
  </div>

<div class="color-fg-default color-bg-subtle pt-8">
  <div class="container-lg d-md-flex flex-items-center flex-justify-between">
    <div class="flex-auto mr-md-3">
      <h2 class="h4-mktg color-fg-default mb-2">While we're replying to you, <span class="d-md-block"><%= try_enterprise_trial_message(upcase: false) %></span></h2>
      <p class="mb-4 mt-2 color-fg-muted">Get started with automatic security and version updates, SAML single sign-on, and advanced auditing.</p>
    </div>
    <%=
      render Site::ButtonComponent.new(
        text: "Start a free trial",
        url: enterprise_trial_accounts_new_path(
          "ref_page": request.fullpath,
          "ref_cta":
          url_encode("Start a free trial"),
          "ref_loc": url_encode("contact_sales_thank_you")
        ),
        analytics: {
          category: "enterprise_trial_account",
          action: "click to set up enterprise trial",
          label: "ref_page:/enterprise/contact/thanks;ref_cta:Start a free trial;ref_loc:hero"
        }
      ) %>
  </div>

  <% unless customer_stories.empty? %>
    <div class="p-4">
      <div class="container-lg">
        <h3 class="h4 text-normal underline-dashed text-mono mb-3">
          More customer stories
        </h3>
      <div class="d-flex flex-wrap flex-sm-content-stretch pb-3 gutter-sm-condensed gutter-lg-spacious">
        <% customer_stories.each do |customer_story| %>
          <div class="col-lg-4 col-sm-6 mb-3">
            <%= link_to customer_story_path(customer_story.parameterized_name), class: "d-block rounded-2 no-underline pt-3 px-3 border" do %>
              <div class="customer-story-img position-relative width-full mb-2 rounded-2" style="background-image: url(<%= customer_story.hero_image %>)"></div>
              <h3 class="pt-1 h6-mktg mb-2 color-fg-default"><%= customer_story.title %></h3>
              <p class="customer-story-card--description f6 color-fg-muted"><%= customer_story.lead %></p>
              <p class="border-top color-border-default py-3 mb-0 color-fg-default">Read more <span class="float-right">→</span></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if microsoft_analytics_order_id.present? %>
  <% content_for(:microsoft_analytics_addition) do %>
    <%= content_tag "microsoft-analytics-event", nil, data: {
      behavior: "contact",
      "order-id": microsoft_analytics_order_id,
      "product-title": microsoft_analytics_product_title
    } %>
  <% end %>
<% end %>
