<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if is_personal_key %>
  <% page_info(title: "Please audit your SSH key") %>
<% else %>
  <% page_info(title: "Please audit #{public_key.repository.name_with_display_owner}’s deploy key") %>
<% end %>

<div class="container-lg p-responsive mt-5">
  <div class="Box mb-3">
    <div class="Box-header">
      <% if is_personal_key %>
        <h3 class="Box-title"><%= primer_octicon(:stop) %> Please audit your SSH key</h3>
      <% else %>
        <h3 class="Box-title">
          <%= primer_octicon(:stop) %>
          Please audit <%= public_key.repository.name_with_display_owner %>’s deploy key
        </h3>
      <% end %>
    </div>
    <%= render(Primer::Beta::Flash.new(full: true, scheme: :warning)) do %>
      <%
        help_url_for_uploading_new_key = if is_personal_key
          docs_url("authentication/generating-new-ssh-key-adding-to-ssh-agent")
        else
          docs_url("authentication/managing-deploy-keys-deploy-keys")
        end
      %>
      <p>
        One of your organizations has blocked access for SSH keys created by untrusted third-party
        applications. Your SSH key will be considered untrusted if you added it before February
        2014, since GitHub didn’t track the origin of SSH keys before that date. If you created
        and imported this key yourself, you can approve it for access to your organization
        repositories. <strong>If you have any doubts about this key, you should delete it and
        <a class="Link--inTextBlock" href="<%= help_url_for_uploading_new_key %>" target="_blank" rel="noopener noreferrer">upload a new one</a>.</strong>
      </p>
      <p>
        <a
          href="<%= GitHub.help_url %>/articles/keeping-your-ssh-keys-and-application-access-tokens-safe#reviewing-your-ssh-keys"
        >Get help verifying fingerprints.</a>
      </p>
    <% end %>
    <div class="Box-body">
      <div class="d-block d-sm-flex">
        <div class="d-flex flex-1">
          <div class="flex-shrink-0 px-2 text-center">
            <%= primer_octicon(:key, size: :medium, color: public_key.recent? ? :success : nil) %>
            <span class="border d-block f6 mt-1 px-1 rounded color-fg-muted">SSH</span>
          </div>

          <div class="flex-1 mx-2 js-details-container Details">
            <strong class="d-block"><%= public_key.title %></strong>
            <span>
              <code><%= public_key.fingerprint %></code>
            </span>
            <span class="color-fg-muted d-block">
              <%= key_created_at_description(public_key) %>
              <span class="<%= "recent-user-key-access" if public_key.recent? %>">
                <%= last_access_description(public_key, "key", "tooltipped-se") %>
              </span>
            </span>
          </div>
        </div>
        <div class="flex-shrink-0 mt-3 mt-sm-0 text-right">
          <% if is_personal_key %>
            <%= button_to(
              "Approve",
              verify_public_key_path(public_key, params[:token]),
              class: "btn btn-sm btn-primary",
              form_class: "d-inline-block",
            ) %>
            <%= button_to(
              "Delete",
              public_key_path(public_key),
              method: :delete,
              class: "btn btn-sm btn-danger",
              form_class: "d-inline-block ml-2",
            ) %>
          <% else %>
            <%= button_to(
              "Approve",
              verify_deploy_key_path(
                public_key.repository.owner,
                public_key.repository,
                public_key,
                params[:token],
              ),
              class: "btn btn-sm btn-primary",
              form_class: "d-inline-block",
            ) %>
            <%= button_to(
              "Delete",
              deploy_key_path(public_key.repository.owner, public_key.repository, public_key),
              method: :delete,
              class: "btn btn-sm btn-danger",
              form_class: "d-inline-block ml-2",
            ) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <p>
    If you have any questions at all, please don’t hesitate to
    <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a>.
  </p>
</div>
