<div class="d-flex flex-justify-between table-list-header table-list-header-next">
  <span class="table-list-heading table-list-header-meta flex-auto">
    <%= number_with_delimiter retired_namespaces.count %> <%= pluralize_without_number retired_namespaces.count, "retired namespaces" %>
  </span>
</div>

<% if retired_namespaces.any? %>
    <ul>
      <% retired_namespaces.each do |namespace| %>
        <li class="d-flex flex-justify-between flex-items-center border border-top-0 p-3 flex-row">
          <span>
            <%= namespace.name_with_display_owner %>
          </span>
            <%= form_with url: settings_retired_namespaces_destroy_enterprise_path(this_business.slug, namespace.id), method: :delete do %>
              <%= render Primer::Beta::Button.new(type: :submit, size: :small) do %>
                Unretire
              <% end %>
            <% end %>
        </li>
      <% end %>
    </ul>
  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate(retired_namespaces) %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "repo") %>
    <% c.with_heading(tag: :h2) do %>
      No retired namespaces
    <% end %>
    <% c.with_description do %>
      <%= params[:query].present? ? "There aren’t any retired namespaces in this enterprise matching '#{params[:query]}'." : "There aren’t any retired namespaces in this enterprise." %>
    <% end %>
  <% end %>
<% end %>
