<% page_info title: "Retired namespaces",
  selected_link: :retired_namespaces_settings %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Retired namespaces
    <% end %>
  <% end %>

<%= form_tag settings_retired_namespaces_enterprise_path(this_business.slug),
              method: :get,
              "data-autosearch-results-container": "retired-namespaces-list" do %>
  <div class="auto-search-group">
    <input class="form-control width-full input-contrast auto-search-input js-member-filter-field"
            type="text"
            name="query"
            value="<%= params[:query] %>"
            placeholder="Filter namespaces"
            aria-label="Filter namespaces"
            autocomplete="off"
            data-throttled-autosubmit>
    <%= render Primer::Beta::Octicon.new(icon: "search") %>
    <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
  </div>
<% end %>

<div id="retired-namespaces-list">
  <%= render "businesses/settings/retired_namespaces/list", retired_namespaces: retired_namespaces %>
</div>
<% end %>
