<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 4 %>
<%# view is an instance of PullRequests::MergeButtonView %>
<%
  pull = view.pull
  state = view.merge_state
  method = view.merge_method
%>

<div class="select-menu d-inline-block">
  <div class="BtnGroup position-relative">
    <button type="button"
      class="merge-box-button btn-group-merge rounded-left-2 btn <%= view.merge_commit_button_class %> BtnGroup-item js-details-target hx_create-pr-button"
      aria-expanded="false"
      data-details-container=".js-merge-pr"
      <%# disabled if
        the merge strategy isn't allowed
        an admin must confirm they are overriding required
      %>
      <% if !view.can_perform_merge_commit? || view.admin_must_confirm? %>disabled<% end %>>
      Merge pull request
    </button>

    <button type="button"
      class="merge-box-button btn-group-squash rounded-left-2 btn <%= view.merge_squash_button_class %> BtnGroup-item js-details-target hx_create-pr-button"
      aria-expanded="false"
      data-details-container=".js-merge-pr"
      <%# disabled if
        the merge strategy isn't allowed
        an admin must confirm they are overriding required
      %>
      <% if !view.can_perform_squash_merge? || view.admin_must_confirm? %>disabled<% end %>>
      Squash and merge
    </button>

    <button type="button"
      class="merge-box-button btn-group-rebase rounded-left-2 btn <%= view.merge_rebase_button_class %> BtnGroup-item js-details-target hx_create-pr-button"
      aria-expanded="false"
      data-details-container=".js-merge-pr"
      <%# disabled if
        the merge strategy isn't allowed
        an admin must confirm they are overriding required
      %>
      <% if !view.can_perform_rebase_merge? || view.admin_must_confirm? %>disabled<% end %>>
      Rebase and merge
    </button>

    <% if view.merge_button_disabled? %>
      <%= render Primer::ButtonComponent.new(group_item: true, classes: "select-menu-button", "aria-label": "Select merge method", disabled: true) do %><% end %>
    <% else %>
      <% initial_class = method != :rebase || pull.rebase_safe? ? view.merge_button_class : "" %>
      <details class="details-reset details-overlay BtnGroup-parent">
        <summary
          class="btn <%= initial_class %> select-menu-button BtnGroup-item js-merge-method-menu-button"
          data-merge-button-class="<%= view.merge_button_class %>"
          aria-label="Select merge method"></summary>

        <details-menu
          class="select-menu-modal select-menu-merge-method js-merge-method-menu position-absolute left-0"
          style="top: 100%; z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-list">
            <button class="width-full select-menu-item js-merge-box-button-merge"
              <% unless view.can_choose_merge_commit? %>disabled<% end %>
              aria-checked="<%= method == :merge %>"
              role="menuitemradio"
              value="merge"
              type="button"
              data-input-title-value="<%= pull.default_merge_commit_title %>"
              data-input-message-value="<%= pull.default_merge_commit_message %>"
              <% if view.enforce_linear_history? %>data-dangerous-action<% end %>>
              <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Create a merge commit</span>
                <span class="description">All commits from this branch will be added to the base branch via a merge commit.</span>
                <% if view.repo_merge_commit_setting.error? %>
                  <span class="unavailable-merge-method">Failed to load repo merge settings</span>
                <% elsif !view.repo_merge_commit_setting.allowed? %>
                  <span class="unavailable-merge-method">Not enabled for this repository</span>
                <% elsif !view.can_choose_merge_commit? %>
                  <span class="unavailable-merge-method">Not enabled for this branch</span>
                <% end %>
              </div>
            </button>

            <button class="width-full select-menu-item js-merge-box-button-squash"
              <% unless view.can_choose_squash_merge? %>disabled<% end %>
              aria-checked="<%= method == :squash %>"
              role="menuitemradio"
              value="squash"
              type="button"
              data-input-title-value="<%= pull.default_squash_commit_title %>"
              data-input-message-value="<%= pull.default_squash_commit_message %>">
              <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Squash and merge</span>
                <span class="description">
                  <% if !pull.corrupt? %>
                    <% if pull.changed_commits.size == 1 %>
                      The 1 commit from this branch will be added to the base branch.
                    <% else %>
                      The <%= number_with_delimiter(pull.changed_commits.size) %><%= "+" if pull.commit_limit_exceeded? %> commits
                      from this branch will be combined into one commit in the base branch.
                    <% end %>
                  <% else %>
                    All commits from this branch will be combined into one commit in the base branch.
                  <% end %>
                </span>
                <% if view.repo_squash_merge_setting.error? %>
                  <span class="unavailable-merge-method">Failed to load repo merge settings</span>
                <% elsif view.repo_squash_merge_setting.disallowed? %>
                  <span class="unavailable-merge-method">Not enabled for this repository</span>
                <% end %>
              </div>
            </button>

            <button class="width-full select-menu-item"
              <% unless view.can_choose_rebase_merge? %>disabled<% end %>
              aria-checked="<%= method == :rebase %>"
              role="menuitemradio"
              name="do"
              value="rebase"
              type="button"
              <% unless pull.rebase_safe? %>data-dangerous-action<% end %>
              data-input-title-value=""
              data-input-message-value="">
              <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Rebase and merge</span>
                <span class="description">
                  <% if !pull.corrupt? %>
                    <% if pull.changed_commits.size == 1 %>
                      The 1 commit from this branch will be rebased and added to the base branch.
                    <% else %>
                      The <%= number_with_delimiter(pull.changed_commits.size) %><%= "+" if pull.commit_limit_exceeded? %> commits
                      from this branch will be rebased and added to the base branch.
                    <% end %>
                  <% else %>
                    All commits from this branch will be rebased and added to the base branch.
                  <% end %>
                </span>
                <% if view.repo_rebase_merge_setting.error? %>
                  <span class="unavailable-merge-method">Failed to load repo merge settings</span>
                <% elsif view.repo_rebase_merge_setting.disallowed? %>
                  <span class="unavailable-merge-method">Not enabled for this repository</span>
                <% end %>
              </div>
            </button>
          </div>
        </details-menu>
      </details>
    <% end %>
  </div>
</div>
