<% pull = view.pull %>
<% state = view.merge_state %>

<div class="ml-0 pl-0 ml-md-6 pl-md-3 my-3 branch-action branch-action-state-dirty">
  <span class="branch-action-icon d-none d-md-flex flex-items-center flex-justify-center">
    <%= primer_octicon(:"git-merge", size: :medium) %>
  </span>
  <div class="branch-action-body timeline-comment--caret">
    <div class="mergeability-details js-details-container Details">
      <%= render "statuses/review_status", view: view %>
      <%= render "statuses/required_conversation_resolution_status", view: view %>
      <%= render PullRequests::MergeBox::CombinedBranchStatusComponent.new(view) %>
      <%= render "statuses/mergeability_status", view: view %>

      <% if view.show_merge_message? %>
        <%= render partial: "pull_requests/merge_button_states/merge_message", locals: { pull: pull, view: view } %>
      <% elsif !view.authorized_to_update_protected_base_branch? %>
        <%= render :partial => "pull_requests/unauthorized_merge_button", :locals => { :pull => pull } %>
      <% end %>
    </div>
  </div>
</div>
