<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# `view` is an instance of `PullRequests::MergeButtonView` %>
<div class="merge-message">
  <% if view.auto_merge_enabled? %>
    <div class="d-flex flex-justify-between">
      <div>
        <% if view.merge_state.clean? && pull.auto_merge_request.merge_error.present? %>
          <h3 class="h4 status-heading">An error occurred while performing auto-merge.</h3>
        <% else %>
          <%
            method = case pull.auto_merge_request.merge_method
            when "auto_squash_and_merge" then "squash and merge"
            when "auto_rebase_and_merge" then "rebase and merge"
            else
              "merge"
            end
          %>

          <h3 class="h4 status-heading">
            Auto-merge enabled
          </h3>
          <p class="text-small <% if responsive? %>mt-md-0 mt-2<% end %>">
            This pull request will <span class="text-bold"><%= method %> automatically</span> when all requirements are met.
            <%= link_to(
              "Learn more",
              GitHub.help_url + "/github/collaborating-with-issues-and-pull-requests/automatically-merging-a-pull-request",
              class: "small Link--inTextBlock",
              target: "_blank",
              rel: "noopener noreferrer",
              aria: { label: "Learn more about automatically merging a pull request." }
            ) %>
          </p>
        <% end %>
      </div>

      <%
        form_class = "js-merge-pull-request js-immediate-updates js-needs-timeline-marker-header"
      %>
      <%= form_tag view.disable_auto_merge_form_action, class: form_class, method: :delete do %>
        <button
          class="rounded-2 btn BtnGroup-item"
          data-disable-with="Disabling…"
          type="submit"
          <%= safe_analytics_click_attributes(
              category: "Disable Auto-Merge Button",
              action: "Disable auto-merge",
              label: "disable_auto_merge"
          ) %>
          <% if view.disable_auto_merge_button_disabled? %>disabled<% end %>>
          Disable auto-merge
        </button>
      <% end %>
    </div>
  <% else %>
    <% if view.admin_must_confirm? %>
      <p class="color-fg-danger">
        <label>
          <input type="checkbox" class="js-admin-merge-override" name="admin_override" value="0">
           Merge without waiting for requirements to be met (bypass branch protections)
        </label>
      </p>
      <%# for normal merging button_menu will already be shown next to the admin override checkbox, it should not
          be toggled from hidden.
          for auto merge and merge queue we show the button to enable those actions, and want to toggle
          this if they click the admin override checkbox. %>
      <% if view.show_merge_queue? || view.show_auto_merge_options? %>
        <div class="js-merge-box" hidden>
          <%= render "pull_requests/merge_button_states/button_menu", view: view %>
          <%= render :partial => "pull_requests/merge_button_states/alt_merge_options", :locals => { :pull => pull } %>
        </div>
      <% end %>
    <% end %>

    <% if view.show_merge_queue? %>
      <%# It would be nice to move this conditional that controls whether we render MergeQueueStatusComponent
          to instead be in MergeQueueStatusComponent#render?. However, since the other elsif
          branches below need this so they don't render at the same time, it remains here for now. %>
      <%= render PullRequests::MergeQueueStatusComponent.new(
        pull_request: pull,
        repository: current_repository,
        is_merge_queue_enabled_for_pull_request: view.merge_queue_enabled_for_pull_request?,
      ) %>
    <% elsif view.show_auto_merge_options? %>
      <div class="js-auto-merge-box">
        <%= render "pull_requests/auto_merge_button", view: view %>
      </div>
    <% else %>
      <%= render "pull_requests/merge_button_states/button_menu", view: view %>
      <%= render :partial => "pull_requests/merge_button_states/alt_merge_options", :locals => { :pull => pull } %>
    <% end %>
  <% end %>
  <%= render "pull_requests/merge_help", pull: pull, merge_state: view.merge_state %>
</div>
