<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Alpha::Dialog.new(
  title: "Delete branch protection rule",
  id: "delete-branch-protection-rule-dialog-#{branch_protection_rule_id}",
  size: :large,

)) do |d| %>
  <% d.with_header(show_divider: true) do %>
    <h3>Delete this branch protection rule?</h3>
  <% end %>
  <% d.with_show_button(scheme: :danger, size: :small, style: "border-radius: 0 6px 6px 0") { "Delete" } %>
  <%= d.with_body do %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, full: false)) { "This action cannot be undone." } %>
  <% end %>
  <%= d.with_footer do %>
    <%= form_tag branch_protection_rule_path(id: branch_protection_rule_id), :method => :delete do %>
      <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger) do %>
        I understand, delete this rule.
      <% end %>
    <% end %>
  <% end %>
<% end %>
