<% has_checks = protected_branch.required_status_checks.any? %>
<div class="width-full">
  <auto-complete
    class="auto-search-group d-block js-add-protected-branch-required-status-check"
    data-add-url="<%= branch_required_status_context_path(branch: branch_name) %>"
    src="<%= branch_required_status_context_suggestions_path(branch: branch_name) %>"
    for="required-status-checks-results">
    <input
      type="text"
      class="form-control input-block auto-search-input"
      placeholder="Search for status checks in the last week for this repository"
      aria-label="Search for status checks in the last week for this repository">
    <%= render(Primer::Beta::Octicon.new(icon: "search")) %>
    <ul id="required-status-checks-results" class="autocomplete-results"></ul>
  </auto-complete>

  <div class="Box mt-2">
    <div class="Box-header">
      <span class="js-required-status-checks-title-any" <%= !has_checks ? "hidden" : "" %>>Status checks that are required</span>
      <span class="js-required-status-checks-title-empty" <%= has_checks ? "hidden" : "" %>>No required checks</span>
    </div>
    <ul class="js-required-status-checks">
      <li class="Box-row js-required-status-checks-empty" <%= has_checks ? "hidden" : "" %>>No checks have been added</li>
      <% protected_branch.required_status_checks.each do |required_status_check| %>
        <%= render partial: "branch_required_status_contexts/context", locals: {
          context: required_status_check.context,
          protected_branch: protected_branch,
          selected_integration: required_status_check.integration,
        } %>
      <% end %>
    </ul>
  </div>
</div>
