<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
  container_xl: true,
  title: "Settings · Branches · Branch protection rule · #{current_repository.name_with_display_owner}",
  selected_link: :repo_branch_settings %>

<%= render layout: "edit_repositories/edit" do %>

  <% show_tip = params[:enable_tip].present? && current_repository.organization.present? %>
  <%= render(Onboarding::Organizations::CompletedGuidanceComponent.new(
    organization: current_repository.organization,
    completed_task: OnboardingTasks::Organizations::BranchProtectionRule.new(taskable: current_repository.organization, user: current_user),
    show_tip: show_tip,
    container_class: "mb-4"
  )) if show_tip %>

  <div class="settings-next">

    <%= form_tag branch_protection_rule_path(id: protected_branch.id), class: "js-protected-branch-settings", method: :put do %>

      <%= render "branch_protection_rules/branch_pattern", branch_protection_rule: protected_branch, heads_count: current_repository.heads.size %>

      <%= render "branch_protection_rules/form", branch_protection_rule: protected_branch %>

      <hr class="form-hr">

      <%= render Primer::ButtonComponent.new(scheme: :primary, mr: 1, type: :submit) do %>Save changes<% end %>
    <% end %>
  </div>
<% end %>
