<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
  container_xl: true,
  responsive: false,
  selected_link: :dependabot_updates,
  dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<% page_title "Dependabot · #{current_repository.name_with_display_owner}" %>

<%= render layout: "layouts/repository/insights" do %>
  <div id="dependabot-updates">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Dependency graph<% end %>
    <% end %>

    <%= render partial: "network/dependency_tabs", locals: { selected_tab: :dependabot } %>

    <% if !current_repository.dependabot_installed? || !config_file_enabled %>
      <%= render partial: "network/install_dependabot" %>
    <% elsif dependabot_error %>
      <%= render partial: "network/dependabot/dependabot_error" %>
      <%= render partial: "network/dependabot/dependabot_footer" %>
    <% elsif dependabot_unavailable %>
      <%= render partial: "network/dependabot/dependabot_unavailable" %>
      <%= render partial: "network/dependabot/dependabot_footer" %>
    <% elsif config_file&.error %>
      <div class="Box">
        <div class="Box-header timeline-comment-header py-0 clearfix">
          <h3 class="Box-title timeline-comment-header-text text-normal">
            <%= primer_octicon(:alert, mr: 1) %>
            <%= config_file.error.msg %>
          </h3>
        </div>
        <div class="Box-body p-3">
          <div class="markdown-body my-2">
            <%= github_flavored_markdown(config_file.error.details) %>
          </div>
          <p class="f4">
            <a href="<%= GitHub.dependabot_version_updates_help_url %>" target="_blank" rel="noopener noreferrer">Learn more</a><%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
          </p>
        </div>
      </div>
    <% elsif update_configs.any? %>
      <% update_configs.each do |update_config| %>
          <div class="Box mb-3" id="">
            <div class="Box-header clearfix border-bottom-0">
              <div class="table-list-filters">
                <div class="table-list-header-toggle states pl-0 color-fg-default position-relative d-flex flex-justify-between flex-items-center">
                  <div>
                    <%= render(Dependabot::PackageEcosystemIconComponent.new(package_ecosystem: update_config.package_ecosystem.name)) %>
                    <% manifest = update_config.monitored_manifest_files&.first&.path&.sub(/\A\//, "") %>
                    <% target_branch = update_config.target_branch&.present? ? update_config.target_branch : current_repository.default_branch %>
                    <% if manifest %>
                      <%= link_to Dependabot.short_manifest_file_path(manifest), blob_view_path(manifest, target_branch), {
                        class: "ml-2 Link--primary text-bold",
                        'data-octo-click': "dep_graph_manifest",
                        title: manifest
                      } %>
                    <% else %>
                      <span class="ml-2 color-fg-default text-bold">
                        <%= Dependabot.serialize_package_ecosystem(package_ecosystem: update_config.package_ecosystem.name) %>
                      </span>
                    <% end %>

                    <% if update_config.monitored_manifest_files&.any? %>
                      <details class="details-overlay details-reset position-relative d-inline-block ">
                        <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, pl: 1, pr: 2, "aria-haspopup": "menu") do %>
                          <%= primer_octicon(:"kebab-horizontal", "aria-label": "Show monitored") %>
                        <% end %>

                        <div class="dropdown-menu dropdown-menu-sw show-more-popover color-fg-default anim-scale-in" style="width: 200px">
                          <div class="dropdown-header">
                            Monitored dependency files
                          </div>

                          <ul class="overflow-y-auto d-block" style="max-height: 130px;">
                            <% update_config.monitored_manifest_files.each do |manifest| %>
                              <% path = manifest.path&.sub(/\A\//, "") || "" %>
                              <li class="css-truncate">
                                <%= link_to Dependabot.short_manifest_file_path(path), blob_view_path(path, target_branch), {
                                  class: "dropdown-item d-block css-truncate-target",
                                  'data-octo-click': "dep_graph_manifest",
                                  title: path,
                                  style: "max-width: 200px"
                                } %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      </details>
                    <% end %>
                  </div>

                  <div class="text-small d-flex flex-justify-between flex-items-center gap-2">
                    <% if update_config.last_full_update_run&.last_error %>
                      <%= primer_octicon(:alert, color: :danger, mr: 1) %>
                    <% end %>
                    <% unless update_config.last_full_update_run&.finished_at %>
                    <div style="height:16px; width:16px;">
                      <svg aria-label="Version Update is currently running." width="100%" height="100%" fill="none" viewBox="0 0 16 16" class="anim-rotate" xmlns="http://www.w3.org/2000/svg">
                        <path stroke="#DBAB0A" stroke-width="2" d="M3.05 3.05a7 7 0 1 1 9.9 9.9 7 7 0 0 1-9.9-9.9Z" opacity=".5"></path>
                        <path fill="#DBAB0A" fill-rule="evenodd" d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Z" clip-rule="evenodd"></path>
                        <path fill="#DBAB0A" d="M14 8a6 6 0 0 0-6-6V0a8 8 0 0 1 8 8h-2Z"></path>
                      </svg>
                    </div>
                    <% end %>
                    <%= link_to "Recent update jobs", network_dependabot_jobs_index_path(update_config_id: update_config.id) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <%= render partial: "network/dependabot/dependabot_footer" %>
    <% else %>
      <%= render partial: "network/dependabot/dependabot_empty" %>
    <% end %>
  </div>
<% end %>
