<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
  container_xl: true,
  responsive: false,
  selected_link: :dependabot_updates,
  dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<% page_title "Update details · #{current_repository.name_with_display_owner}" %>

<%= render layout: "layouts/repository/insights" do %>
  <div id="dependabot-update-details">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Dependency graph<% end %>
    <% end %>

    <%= render partial: "network/dependency_tabs", locals: { selected_tab: :dependabot } %>

    <% if dependabot_error %>
      <%= render partial: "network/dependabot/dependabot_error" %>
      <%= render partial: "network/dependabot/dependabot_footer" %>
    <% elsif dependabot_unavailable %>
      <%= render partial: "network/dependabot/dependabot_unavailable" %>
      <%= render partial: "network/dependabot/dependabot_footer" %>
    <% elsif update_job %>
        <%= render(Dependabot::UpdateJobComponent.new(owner: owner, repository: current_repository, update_job: update_job)) %>

      <% if update_job_logs.present? %>
        <div class="Box d-flex flex-column">
          <div class="Box-header timeline-comment-header py-0 clearfix">
            <h3 class="Box-title timeline-comment-header-text text-normal">
              Update logs
            </h3>
          </div>

          <div class="Box-body pt-2 p-3">
            <div class="text-mono text-small my-1 overflow-auto">
            <% update_job_logs.split("\n").each do |line| %>
              <div class="d-flex">
                <div class="d-inline-block flex-auto" style="white-space: pre-wrap;"><%= line %></div>
              </div>
            <% end %>
          </div>
        </div>
      <% elsif check_run.present? %>
        <div class="Box color-border-muted mt-2">
          <%= render Primer::BlankslateComponent.new(
            icon: "hubot",
            title: "Dependabot update logs",
            description: "Dependabot update logs provide information on what we attempted to update and why. Logs will also show details of any errors that may have occurred.",
            spacious: true,
          ) do %>
            <p>Logs are <a class="Link--inTextBlock" href="https://docs.github.com/organizations/managing-organization-settings/configuring-the-retention-period-for-github-actions-artifacts-and-logs-in-your-organization">retained</a> according to your retention policy</p>
            <%= render(Primer::Beta::Link.new(href: check_run_path(id: check_run.id, check_suite_focus: true), classes: "Link--inTextBlock")) { "View logs" } %>
          <% end %>
        </div>
      <% else %>
        <div class="Box color-border-muted mt-2">
          <%= render Primer::Beta::Blankslate.new(spacious: (true unless update_job.last_error)) do |c| %>
            <% c.with_visual_icon(icon: "hubot") %>

            <% c.with_heading(tag: :h2) do %>
              Can't find any logs
            <% end %>

            <% c.with_description do %>
              Logs are deleted after 14 days
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= render partial: "network/dependabot/dependabot_empty" %>
    <% end %>
  </div>
<% end %>
