<% if view.eligible_for_free_trial? %>
  <div class="mb-3 py-3 d-flex flex-justify-between flex-items-center border color-bg-accent color-border-accent rounded-2 p-3">
    <div class="lh-condensed">
      <%= render(Primer::Beta::Heading.new(tag: :h3, font_size: 4)) { "Due today" } %>
      <span class="text-small color-fg-muted d-block">Free Trial ends <%= view.formatted_free_trial_end_date %></span>
    </div>
    <h2 class="text-right unstyled-payment-due float-right mb-0 lh-condensed">
      <%= view.formatted_prorated_total_price %>
    </h2>
  </div>
  <% unless view.formatted_free_trial_end_date == view.end_date %>
    <div class="d-flex mb-3">
      <div class="text-sm-left lh-condensed flex-auto">
        <ul class="list-style-none">
          <li class="text-bold mb-1">Next payment</li>
          <li class="text-normal">Prorated for <%= view.formatted_day_after_trial_ends %>-<%= view.formatted_post_free_trial_bill_date %></li>
        </ul>
      </div>
      <p class="f5">
        <%= view.post_trial_prorated_total_price.format %>
      </p>
    </div>
    <hr class="mb-0">
  <% end %>
<% elsif !view.selected_plan.direct_billing? %>
  <div class="mb-3 py-3 d-flex flex-justify-between flex-items-center border color-bg-accent color-border-accent rounded-2 p-3">
    <div class="lh-condensed">
      <%= render(Primer::Beta::Heading.new(tag: :h3, font_size: 4)) { "Due today" } %>
      <span class="text-small color-fg-muted d-block">Prorated for <%= view.start_date %>-<%= view.end_date %></span>
    </div>
    <h2 class="text-right unstyled-payment-due float-right mb-0 lh-condensed">
      <%= view.formatted_prorated_total_price %>
    </h2>
  </div>
  <hr class="mb-0">
<% end %>
