<% is_indirect_business_billing = !view.selected_plan_direct_billing? && view.business_owned? %>
<div class="<%= view.already_purchased? ? "py-3" :  "pb-3" %> clearfix <%= "border-bottom" if is_indirect_business_billing %>">
  <div class="float-left lh-condensed">
    <% if view.already_purchased? %>
      <h4>New plan</h4>
    <% elsif !view.selected_plan_direct_billing? %>
      <% if view.account.display_sales_tax_on_checkout? %>
        <%= render(Primer::Beta::Text.new(tag: :p, font_weight: :normal, mb: 1)) { "Subtotal" } %>
        <%= render(Primer::Beta::Text.new(tag: :p, font_weight: :normal, test_selector: "sales-tax-label")) { "Sales tax" } %>
      <% end %>
      <%= render(Primer::Beta::Heading.new(tag: :h3, font_size: 4)) { "Total amount" } %>
    <% end %>
    <% if is_indirect_business_billing %>
      <span class="text-small color-fg-muted d-block">
        <%= view.selected_plan_name %>
        <% if view.selected_plan_per_unit %>
          with <%= pluralize(view.quantity, view.selected_plan_unit_name) %>
        <% end %>
      </span>
    <% end %>
  </div>
  <% unless view.selected_plan_direct_billing? %>
    <div class="float-right lh-condensed text-right">
      <% if view.account.display_sales_tax_on_checkout? %>
        <p class="mb-1"><span class="d-inline f5 mr-1"><%= view.total_mp_plans_price.format %></span><span class="color-fg-muted text-right d-inline f5">/ <%= view.subscription_duration.downcase %></span></p>
        <p class="f5 color-fg-muted" <%= test_selector("sales-tax-value") %>>(applied to your invoice)</p>
      <% end %>
      <p><span class="d-inline f5 mr-1"><%= view.total_mp_plans_price.format %></span><span class="color-fg-muted text-right d-inline f5">/ <%= view.subscription_duration.downcase %></span></p>
    </div>
  <% end %>
</div>
