<%
  if agreement
    agreement_body_html = Platform::Helpers::MarketplaceListingContent.html_for(agreement, :body, { current_user: current_user })
    signature = agreement.signatures.for_user(current_user).latest.first if logged_in?
  end
%>
<div class="text-small color-fg-muted text-center mb-0 lh-condensed">
  <% if listing.tos_url.present? %>
    By clicking "<%= btn_text %>", you are agreeing to
    <% unless signature.present? %>
      the <%= render partial: "marketplace_listings/agreement_modal_button", locals: {
        button_text: agreement&.name,
        button_class: "btn-link",
        agreement_title: "GitHub #{agreement&.name} #{agreement&.version}",
        agreement_body_html: agreement_body_html } %>,
    <% end %>
    <%= listing.name %>’s <a class="Link--inTextBlock" target="_blank" rel="noopener noreferrer" href="<%= listing.tos_url %>">Terms of Service</a> and
    the <a class="Link--inTextBlock" target="_blank" rel="noopener noreferrer" href="<%= listing.privacy_policy_url %>">Privacy Policy</a>.
  <% else %>
    By clicking "<%= btn_text %>", you agree to
    <% unless signature.present? %>
      the <%= render partial: "marketplace_listings/agreement_modal_button", locals: {
        button_text: agreement&.name,
        button_class: "btn-link",
        agreement_title: "GitHub #{agreement&.name} #{agreement&.version}",
        agreement_body_html: agreement_body_html } %> and
    <% end %>
    <%= listing.name %>’s <a class="Link--inTextBlock" target="_blank" rel="noopener noreferrer" href="<%= listing.privacy_policy_url %>">Privacy Policy</a>.
  <% end %>

  <% if signature.present? %>
    You previously agreed to the <%= render partial: "marketplace_listings/agreement_modal_button", locals: {
      button_text: "#{agreement.name}.",
      button_class: "btn-link",
      agreement_title: "GitHub #{agreement.name} #{agreement.version}",
      signature_created_at: signature.created_at,
      agreement_body_html: agreement_body_html } %>
  <% end %>
</div>
