<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<div id="<%= "#{budget_group}-spending-limit" %>" class="mb-4" <%= test_selector("#{budget_group}-cost-management") %>>
  <% if title.present? %>
    <h3 class="h3 mb-2"><%= title %></h3>
  <% end %>
  <div class="Box" <% if disabled? %>style="pointer-events:none; opacity:0.5"<% end %>>
    <%= form_tag form_action do %>
      <input type="hidden" name="budget_group" value="<%= budget_group %>" <%= disabled_attribute %>>
      <div class="Box-row my-0 pl-5 form-checkbox">
        <label class="ml-1 d-block">
          <input type="radio" name="enforce_spending_limit" value="true" class="form-checkbox-details-trigger" name="setup" <%= disabled_attribute %> <% if enforce_spending_limit %>checked<% end %>>
          Limit spending
          <div class="note">
            <p class="mb-1">Set up a spending limit on a monthly basis</p>
            <div class="form-checkbox-details">
              <div class="mt-3 pt-1 mb-2 d-block position-relative">
                <span class="position-absolute f5 pl-2" style="line-height: 34px">$</span>
                <input class="form-control col-4 pl-4" type="number" name="spending_limit" step=".01" min="0" placeholder="$0.00" aria-label="$0.00"
                  value="<%= spending_limit_value %>"
                  <%= disabled_attribute %>>
                <button class="btn btn-primary ml-1" type="submit" <%= disabled_attribute %>>Update limit</button>
              </div>
              <% if zero_limit_for_no_included_usage? %>
                <p class="pt-1 mb-2 lh-condensed-ultra color-fg-attention"
                  <%= test_selector("zero-limit-warning") %>>
                  <%= primer_octicon(:alert) %>
                  <%= zero_limit_for_no_included_usage_warning %>
                </p>
              <% end %>
              <% if has_products_with_included_usage? %>
                <p class="pt-1 mb-2 lh-condensed-ultra">Leaving it at $0.00 will avoid any extra expenses</p>
              <% end %>
            </div>
          </div>
        </label>
      </div>
      <div class="Box-row my-0 pl-5 form-checkbox">
        <label class="ml-1 d-block">
          <input type="radio" name="enforce_spending_limit" value="false" class="form-checkbox-details-trigger" name="setup"
            <%= disabled_attribute %>
            <% unless enforce_spending_limit %>checked<% end %>>
          Unlimited spending
          <div class="note">
            <p class="mb-1">Pay as much as needed to keep <%= product_name %> running</p>
            <% if enforce_spending_limit %>
              <div class="form-checkbox-details">
                <p class="mt-3 mb-1 color-fg-attention">
                  <%= primer_octicon(:alert) %>
                  <strong>Important</strong>: you will be <strong>paying all the costs</strong> through the usage of <%= product_name %>.
                  <br><button class="btn mt-2 btn-primary" type="submit" <%= disabled_attribute %>>Update to unlimited</button>
                </p>
              </div>
            <% end %>
          </div>
        </label>
      </div>
    <% end %>
  </div>

  <%= form_tag notification_form_action, class: "js-usage-notification-toggle", "data-autosubmit": true do %>
    <input type="hidden" name="budget_group" value="<%= budget_group %>">
    <div class="mt-4">
      <div class="mt-4">
        <h4 class="f4 mb-1 text-normal" >Email alerts</h4>
        <p>Receive email notifications when usage reaches 75%, 90% and 100% thresholds.</p>
        <% if has_products_with_included_usage? %>
          <div class="form-checkbox">
            <%= hidden_field_tag "included_usage_notification", false, id: "included_usage_notification_#{budget_group}" %>
            <label>
              <%= check_box_tag "included_usage_notification", true, included_usage_notification, id: "included-usage-#{budget_group}" %>
              Included resources alerts
              <span class="status-indicator js-status-indicator js-status-active">
                <%= render(Primer::Beta::Octicon.new("check")) %>
                <%= render(Primer::Beta::Octicon.new("x")) %>
              </span>
            </label>
          </div>
        <% end %>
      </div>
      <div class="form-checkbox">
        <%= hidden_field_tag "paid_usage_notification", false, id: "paid_usage_notification_#{budget_group}" %>
        <label>
          <div <% if disabled? %>style="pointer-events:none;opacity:0.5"<% end %>>
            <%= check_box_tag "paid_usage_notification", true, paid_usage_notification, id: "paid-usage-#{budget_group}", disabled: disabled?  %>
            Spending limit alerts
            <span class="status-indicator js-status-indicator">
              <%= render(Primer::Beta::Octicon.new("check")) %>
              <%= render(Primer::Beta::Octicon.new("x")) %>
            </span>
          </div>
        </label>
      </div>
    </div>
  <% end %>
</div>
