<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if view.selected_tab?(:saved) %>
  <div class="text-center pt-6 mt-6 px-4">
    <%= light_or_dark_picture_tag("modules/notifications/saved-blank.svg", "modules/notifications/saved-blank-dark.svg",
      class: "py-2",
      style: "width: 330px; max-width: 90%; height: auto;",
      alt: "Save a notification"
    ) %>
  </div>
  <%= render Primer::Beta::Blankslate.new(pt: 2) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      Save something important
    <% end %>

    <% c.with_description do %>
      Notifications you save will appear here to read later.
    <% end %>
  <% end %>

<% elsif view.selected_tab?(:done) %>
  <div class="text-center pt-6 mt-6 px-4">
    <%= light_or_dark_picture_tag("modules/notifications/done-blank.svg", "modules/notifications/done-blank-dark.svg",
      class: "py-2",
      style: "width: 330px; max-width: 90%; height: auto;",
      alt: "Mark as done"
    ) %>
  </div>
  <%= render Primer::BlankslateComponent.new(
    title: "Mark as done",
    pt: 2,
  ) do %>
    <p>Mark notifications as done so you can move on with your work.<br>New activity appears in your inbox.</p>
  <% end %>

<% elsif view.selected_tab?(:inbox) %>
  <div class="text-center pt-6 mt-6 px-4">
    <%= light_or_dark_picture_tag("modules/notifications/inbox-zero.svg", "modules/notifications/inbox-zero-dark.svg",
      class: "py-2",
      style: "width: 480px; max-width: 90%; height: auto;",
      alt: "Inbox zero"
    ) %>
  </div>
  <%= render Primer::Beta::Blankslate.new(pt: 2) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      All caught up!
    <% end %>

    <% c.with_description do %>
      Take a break, write some code, do what you do best.
    <% end %>
  <% end %>

<% elsif view.filter_tab_selected? %>
  <div class="text-center pt-6 mt-6 px-4">
    <%= light_or_dark_picture_tag("modules/notifications/filters-zero.svg", "modules/notifications/filters-zero-dark.svg",
      class: "py-2",
      style: "width: 480px; max-width: 90%; height: auto;",
      alt: "Filter zero"
    ) %>
  </div>
  <%= render Primer::Beta::Blankslate.new(pt: 2) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      All done here!
    <% end %>

    <% c.with_description do %>
      You're caught up on this filter.
    <% end %>
  <% end %>

<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>

    <% c.with_heading(tag: :h2) do %>
      No results
    <% end %>

    <% c.with_description do %>
      No notifications matched your query.
    <% end %>
  <% end %>
<% end %>

