<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter FlashMigrationCounter 1 %>

<div class="overflow-auto">
  <% if notification_filters.size >= Newsies::CustomInbox::MAX_INBOXES_PER_USER %>
    <div class="flash flash-error js-custom-inbox-max-filters-flash" hidden>
      <p>You already have the maximum number of filters (<%= Newsies::CustomInbox::MAX_INBOXES_PER_USER %>). Please remove an existing filter and try again.</p>
    </div>
  <% end %>
  <div class="Box-body overflow-auto border-0 p-0 pb-3">
    <ul>
      <li class="Box-row pb-2 d-flex flex-items-center clearfix border-0">
        <%# Desktop view %>
        <div class="width-full flex-items-center d-none d-md-flex">
          <div class="col-3 float-left">
            <p class="h5 m-0">Name</p>
          </div>
          <div class="col-9 float-left d-flex flex-items-center">
            <p class="h5 m-0 flex-auto">Filter inbox by…</p>
            <% if notification_filters.size < Newsies::CustomInbox::MAX_INBOXES_PER_USER %>
              <%= render Primer::Beta::Button.new(size: :small, classes: "js-custom-inbox-create-button") do %>Create new filter<% end %>
            <% else %>
              <%= render Primer::Beta::Button.new(size: :small, disabled: true) do %>Maximum filters reached<% end %>
            <% end %>
          </div>
        </div>
        <%# Responsive view %>
        <div class="d-flex width-full flex-items-center d-md-none">
          <div class="col-6 float-left">
            <p class="h5 m-0">Name</p>
          </div>
          <div class="col-8 float-left d-flex flex-items-center">
            <p class="h5 m-0 flex-auto">Filter by…</p>
            <% if notification_filters.size < Newsies::CustomInbox::MAX_INBOXES_PER_USER %>
              <%= render Primer::Beta::Button.new(size: :small, classes: "js-custom-inbox-create-button") do %>
                New filter
              <% end %>
            <% else %>
              <%= render Primer::Beta::Button.new(size: :small, disabled: true) do %>Maximum filters reached<% end %>
            <% end %>
          </div>
        </div>
      </li>
      <% notification_filters.each do |inbox| %>
        <% if inbox.default_filter? %>
          <div class="d-none d-md-block">
            <li class="Box-row py-2 border-0 d-flex flex-items-center clearfix">
              <div class="col-3 float-left pr-2">
                <input class="form-control input-contrast color-fg-muted width-full" type="text" placeholder="Filter name..." aria-label="Inbox name" value="<%= inbox.name %>" disabled>
              </div>
              <div class="col-9 float-left d-flex">
                <input class="form-control input-contrast color-fg-muted width-full" type="text" placeholder="Filter inbox by..." aria-label="Filter inbox by…" value="<%= inbox.query_string %>" disabled>
              </div>
            </li>
          </div>
          <div class="d-md-none">
            <li class="Box-row py-2 border-0 d-flex flex-items-center clearfix">
              <div class="col-5 float-left pr-2">
                <input class="form-control input-contrast color-fg-muted width-full" type="text" placeholder="Filter name..." aria-label="Inbox name" value="<%= inbox.name %>" disabled>
              </div>
              <div class="col-7 float-left d-flex">
                <input class="form-control input-contrast color-fg-muted width-full" type="text" placeholder="Filter inbox by..." aria-label="Filter inbox by…" value="<%= inbox.query_string %>" disabled>
              </div>
            </li>
          </div>
        <% else %>
          <li class="Box-row py-2 border-0 d-flex flex-items-center clearfix">
            <div class="col-3 float-left pr-2">
              <input
                form="<%= inbox.global_relay_id %>"
                class="form-control width-full"
                aria-label="Inbox name"
                name="custom_inbox[name]"
                value="<%= inbox.name %>"
                required
                <%= test_selector("notifications-custom-inbox-dialog-item-name") %>
              >
            </div>
            <div class="col-9 float-left d-flex">
              <input
                form="<%= inbox.global_relay_id %>"
                type="text"
                class="form-control width-full"
                aria-label="Filter inbox by…"
                name="custom_inbox[query_string]"
                value="<%= inbox.query_string %>"
                required
                <%= test_selector("notifications-custom-inbox-dialog-item-query-string") %>
              >
              <%= form_tag notifications_beta_update_custom_inbox_path, id: inbox.global_relay_id, class: "js-custom-inbox-form", remote: true, method: :put do %>
                <input type="hidden" name="custom_inbox[id]" value="<%= inbox.global_relay_id %>">
                <%= render Primer::ButtonComponent.new(type: :submit, ml: 2) do %>Update<% end %>
              <% end %>
              <%= form_tag notifications_beta_delete_custom_inbox_path, class: "d-flex js-custom-inbox-form", remote: true, method: :delete do %>
                <input type="hidden" name="custom_inbox[id]" value="<%= inbox.global_relay_id %>">
                <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, px: 2, ml: 2, classes: "Link--secondary", "aria-label": "Delete this inbox") do %><%= primer_octicon(:trash) %><% end %>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
      <li class="Box-row d-flex py-2 border-0 flex-items-center clearfix js-custom-inbox-create-form-container" hidden>
        <%= form_tag notifications_beta_create_custom_inbox_path, class: "width-full js-custom-inbox-form", remote: true do %>
          <div class="col-3 float-left pr-2">
            <input class="form-control width-full js-custom-inbox-name-input" aria-label="Inbox name" autocomplete="off" placeholder="Name" name="custom_inbox[name]" autofocus required>
          </div>
          <div class="col-9 float-left d-flex">
            <input type="text" class="form-control width-full js-custom-inbox-query-string-input" aria-label="Filter inbox by…" autocomplete="off" placeholder="Query" name="custom_inbox[query_string]" required>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, ml: 2) do %>Create<% end %>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</div>
