<%# view is an instance of Notification::V2::IndexView %>

<%# responsive nav dropdown %>
<div class="d-block d-md-none py-2 px-2 py-md-0 px-sm-0 p-md-0">
  <div class="d-flex gap-1">
    <%= render(Primer::Alpha::Dialog.new(id: "notifications-tabs-nav", title: 'Switch inbox')) do |d| %>
      <% d.with_header(show_divider: true) %>
      <% d.with_show_button(block: true)  do |button| %>
        <% button.with_trailing_action_icon(icon: "triangle-down") %>
        <%= view.selected_tab_title  %>
      <% end %>
      <% d.with_body do %>
        <%= render(Primer::Beta::NavList.new(selected_item_id: view.selected_item, aria: {label: "Switch inbox"}, my: 2)) do |list| %>
          <% list.with_item(href: view.notifications_tab_path(tab: :inbox), test_selector: "responsive-inbox-link", selected_by_ids: 'inbox') do |item| %>
            <% item.with_leading_visual_icon(icon: :inbox) %>
            <div class="d-flex flex-justify-between">
              Inbox
              <span class="count text-normal"><%= number_with_delimiter(view.inbox_unread_count) if view.inbox_unread_count > 0%> </span>
            </div>
          <% end %>
          <% list.with_item(label: "Saved", href: view.notifications_tab_path(tab: :saved), selected_by_ids: 'saved') do |item| %>
            <% item.with_leading_visual_icon(icon: :bookmark) %>
          <% end %>
          <% list.with_item(label: "Done", href: view.notifications_tab_path(tab: :done),  selected_by_ids: 'done') do |item| %>
            <% item.with_leading_visual_icon(icon: :check) %>

          <% end %>
          <% unless view.filters.empty? %>
            <% list.with_divider %>
            <% list.with_group(classes: 'js-notification-mobile-filters') do |group| %>
              <% group.with_heading(title: "Filters") %>
              <% view.filters.each do |filter| %>
                <% group.with_item(href: notifications_path(query: filter.query_string)) do |item| %>
                  <div class="d-flex flex-justify-between">
                    <%= filter.name %>
                    <span class="count text-normal"><%= number_with_delimiter(filter.unread_count) if filter.unread_count > 0 %></span>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% unless view.repo_notification_counts.empty?  %>
            <% list.with_divider %>
            <% list.with_group do |group| %>
              <% group.with_heading(title: "Repositories") %>
              <% view.repo_notification_counts.take(25).each do |count| %>
                <% group.with_item(href: view.notifications_repository_tab_path(count.repository.name_with_display_owner), test_selector: "responsive-sidebar-repo-link") do |item| %>
                  <div class="d-flex flex-justify-between">
                    <%= count.repository.name_with_display_owner %>
                    <span class="count text-normal"><%= number_with_delimiter(count.unread_count) if count.unread_count > 0%> </span>
                  </div>
                <% end %>
              <% end %>
          <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render(Primer::Alpha::ActionMenu.new(select_variant: :single, anchor_align: :end)) do |menu_component| %>
      <% menu_component.with_show_button do |button| %>
        <% button.with_trailing_action_icon(icon: :"triangle-down")   %>
        <%= "All" unless view.unread_only? %><%= "Unread" if view.unread_only? %>
      <% end %>
      <% menu_component.with_item(
        label: 'All',
        active: view.unread_only? == false,
        href: view.notifications_path(unread: true, read: true),
      ) %>
      <% menu_component.with_item(
        label: 'Unread',
        active: view.unread_only?,
        href: view.notifications_path(unread: true, read: false),
      )  %>
    <% end %>

    <% if GitHub.flipper[:notifications_a11y_filters_mobile].enabled?(current_user) %>
      <span class="notification-configure-filters" <%= test_selector("configure-filters-responsive") %>>
        <%= render partial: "notifications/v2/custom_inboxes_dialog_mobile" %>
      </span>
    <% end %>
  </div>
</div>

<%# full width sidebar nav %>
<div class="d-none d-md-flex col-12 col-sm-12 col-md-3 col-lg-2 col-xl-2 flex-shrink-0 flex-grow-0" data-pjax>
  <h2 class='sr-only'>Navigation</h2>
  <nav class="color-bg-default col-12 height-full notification-navigation pt-3 pb-6" aria-label="Notifications">
    <% if GitHub.flipper[:notifications_a11y_navlist_migration].enabled?(current_user) %>
      <%= render(Primer::Beta::NavList.new(
        aria: { label: "Inbox" },
        selected_item_id: view.selected_tab_id,
        classes: 'js-notification-inboxes',
        test_selector: "notifications-navlist-tabs-component",
      )) do |component| %>
        <% component.with_item(label: "Inbox", href: view.notifications_tab_path(tab: :inbox), selected_by_ids: :inbox) do |item| %>
          <% item.with_leading_visual_icon(icon: :inbox) %>
          <% item.with_trailing_visual_counter(
            count: view.inbox_unread_count > 0 ? number_with_delimiter(view.inbox_unread_count) : nil,
          ) %>
        <% end %>
        <% component.with_item(label: "Saved", href: view.notifications_tab_path(tab: :saved), selected_by_ids: :saved) do |item| %>
          <% item.with_leading_visual_icon(icon: :bookmark) %>
        <% end %>
        <% component.with_item(label: "Done", href: view.notifications_tab_path(tab: :done), selected_by_ids: :done) do |item| %>
          <% item.with_leading_visual_icon(icon: :check) %>
        <% end %>
      <% end %>
    <% else %>
      <ul class="filter-list js-notification-inboxes">
        <li <%= "aria-current=page" if view.selected_tab?(:inbox) %>>
          <a href="<%= view.notifications_tab_path(tab: :inbox) %>" class="filter-item <%= "selected" if view.selected_tab?(:inbox) %>" <%= test_selector("full-width-inbox-link") %>>
            <span class="mr-2 text-center d-inline-block" style="width:14px;">
              <%= primer_octicon(:inbox) %>
            </span>
            <span class="count text-normal"><%= number_with_delimiter(view.inbox_unread_count) if view.inbox_unread_count > 0 %></span>
            Inbox
          </a>
        </li>
        <li <%= "aria-current=page" if view.selected_tab?(:saved) %>>
          <a href="<%= view.notifications_tab_path(tab: :saved) %>" class="filter-item <%= "selected" if view.selected_tab?(:saved) %>">
            <span class="mr-2 text-center d-inline-block" style="width:14px;">
              <%= primer_octicon(:bookmark) %>
            </span>
            Saved
          </a>
        </li>
        <li <%= "aria-current=page" if view.selected_tab?(:done) %>>
          <a href="<%= view.notifications_tab_path(tab: :done) %>" class="filter-item <%= "selected" if view.selected_tab?(:done) %>">
            <span class="mr-2 text-center d-inline-block" style="width:14px;">
              <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
            </span>
            Done
          </a>
        </li>
      </ul>
    <% end %>
    <hr>
    <% if GitHub.flipper[:notifications_a11y_navlist_migration].enabled?(current_user) %>
      <%= render(Primer::Beta::NavList.new(
        aria: { label: "Filters" },
        selected_item_id: view.selected_filter_name,
        classes: 'js-notification-new-filters',
        test_selector: "notifications-navlist-filters-component",
      )) do |component| %>
        <% component.with_group do |group| %>
          <% group.with_heading(title: "Filters", heading_level: 2) %>

          <% view.filters.each do |filter| %>
            <% group.with_item(label: filter.name, href: notifications_path(query: filter.query_string), selected_by_ids: filter.name) do |item| %>
              <% item.with_trailing_visual_counter(
                count: filter.unread_count > 0 ? filter.unread_count : nil,
              ) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <span class="notification-configure-filters" <%= test_selector("configure-filters-desktop") %>>
        <%= render partial: "notifications/v2/custom_inboxes_dialog", locals: { button_location: :sidebar } %>
      </span>
    <% else %>
      <% if GitHub.flipper[:notifications_a11y_filters_migration].enabled?(current_user) %>
        <%= render(Primer::Alpha::ActionList.new(
            role: 'list',
            scheme: :full,
            show_dividers: false,
            classes: 'js-notification-new-filters',
          )) do |component|
            component.with_heading(title: 'Filters')
            view.filters.each do |filter|
              component.with_item(
                label: filter.name,
                href: notifications_path(query: filter.query_string),
                label_arguments: { color: :muted, p: 1 },
                label_classes: view.selected_tab?(filter.global_relay_id) ? 'fgColor-onEmphasis' : '',
                classes: view.selected_tab?(filter.global_relay_id) ? 'bgColor-accent-emphasis' : '',
                aria: {current: view.selected_tab?(filter.global_relay_id) ? 'page' : ''},
              ) do |item|
                item.with_trailing_visual_counter(
                  count: filter.unread_count > 0 ? filter.unread_count : nil,
                  mt: 1, color: view.selected_tab?(filter.global_relay_id) ? :on_emphasis : :default,
                )
              end
            end
          end %>
        <span class="notification-configure-filters" <%= test_selector("configure-filters-desktop") %>>
          <%= render partial: "notifications/v2/custom_inboxes_dialog", locals: { button_location: :sidebar } %>
        </span>
      <% else %>
        <div class="border-0 py-2 m-0 d-flex" style="padding-right: 7px">
          <h3 class="h6 color-fg-muted pl-2 flex-auto">Filters</h3>
          <span class="notification-configure-filters">
            <%= render partial: "notifications/v2/custom_inboxes_dialog", locals: { button_location: :sidebar } %>
          </span>
        </div>
        <ul class="filter-list js-notification-sidebar-filters">
          <% view.filters.each do |filter| %>
            <li <%= "aria-current=page" if view.selected_tab?(filter.global_relay_id) %>>
              <a href="<%= notifications_path(query: filter.query_string) %>" class="filter-item <%= "selected" if view.selected_tab?(filter.global_relay_id) %>">
                <span class="count text-normal"><%= number_with_delimiter(filter.unread_count) if filter.unread_count > 0 %></span>
                <%= filter.name %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>

    <div class="js-notification-sidebar-repositories">
      <% if view.repo_notification_counts.length > 0 %>
        <hr>
        <% if GitHub.flipper[:notifications_a11y_navlist_migration].enabled?(current_user) %>
          <%= render(Primer::Beta::NavList.new(
            aria: { label: "Repositories" },
            selected_item_id: view.selected_repo_name,
            test_selector: "notifications-navlist-repositories-component",
          )) do |component| %>
            <% component.with_group do |group| %>
              <% group.with_heading(title: "Repositories", heading_level: 2) %>
              <% view.repo_notification_counts.take(25).each do |count| %>
                <%= count.repository.name_with_display_owner %>
                <% group.with_item(
                  label: count.repository.name_with_display_owner,
                  href: view.notifications_repository_tab_path(count.repository.name_with_display_owner),
                  selected_by_ids: count.repository.name,
                ) do |item| %>
                  <% item.with_trailing_visual_counter(
                    count: count.unread_count > 0 ? count.unread_count : nil,
                  ) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <h3 class="h6 border-0 color-fg-muted py-2 pl-2 m-0">Repositories</h3>
          <ul class="filter-list ">
            <% view.repo_notification_counts.take(25).each do |count| %>
              <li <%= "aria-current=page" if view.selected_tab?(count.repository.global_relay_id) %>>
                <a href="<%= view.notifications_repository_tab_path(count.repository.name_with_display_owner) %>" class="filter-item <%= "selected" if view.selected_tab?(count.repository.global_relay_id) %>" <%= test_selector("full-width-sidebar-repo-link") %>>
                  <%= avatar_for(count.repository.owner, 16, class: "avatar avatar-small mr-2 v-align-middle") %>
                  <span class="count text-normal"><%= number_with_delimiter(count.unread_count) if count.unread_count > 0 %></span>
                  <%= count.repository.name_with_display_owner %>
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
    <hr>
    <div class="pt-2 pl-2">
      <%= render(Primer::Alpha::ActionMenu.new(anchor_side: :outside_top, test_selector: "action-menu-manage-notifications",)) do |component|
        component.with_show_button(scheme: :link, classes: "Link--muted", font_weight: :normal, display: :flex) { |button|
          button.with_trailing_action_icon(icon: :"triangle-down")
          "Manage notifications"
        }
        component.with_item(label: "Notification settings", href: settings_notification_preferences_path)
        component.with_item(label: "Watched repositories", href: watching_path)
        component.with_item(label: "Subscriptions", href: notification_subscriptions_path)
        component.with_item(label: "Teams notifications", href: teams_notifications_path) if GitHub.flipper[:ignorable_team_notifications].enabled?(current_user)
      end %>
    </div>
  </nav>
</div>
