<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  starting_item = first_item_offset
  ending_item = starting_item + notifications_size - 1
%>

<div
  class="d-flex flex-md-row flex-column flex-items-center width-full pb-6 pt-4 pt-md-0 mb-6 mb-md-0 f6 flex-auto flex-justify-end flex-shrink-0"
  <%= test_selector("notifications-list-footer") %>
>
  <% if total_count == 0 %>
    <%# render empty elements so that they are not visible but present and can be updated in future updates %>
    <div class="js-notifications-list-protip"></div>
    <div class="js-notifications-list-paginator-counts"></div>
    <div class="js-notifications-list-paginator-buttons"></div>
  <% else %>
    <div style="margin-right: auto" class="d-flex flex-items-center color-fg-muted js-notifications-list-protip">
      <%= primer_octicon(:'light-bulb', color: :muted) %>
      <div class="ml-1">
        <strong>ProTip!</strong>
        <%= view.protip %>
      </div>
    </div>

    <div class="mr-0 mr-md-3 mb-2 mb-md-0 js-notifications-list-paginator-counts">
      <strong><%= starting_item %>-<%= ending_item %></strong> of <%= total_count %>
    </div>

    <nav class="paginate-container BtnGroup m-0 d-flex flex-items-center js-notifications-list-paginator-buttons" aria-label="Pagination" data-pjax>
      <% if page_info.has_previous_page? %>
        <%= link_to(view.notifications_path(before: page_info.start_cursor), class: "btn BtnGroup-item", "aria-label": "Previous") do %>
          Prev
        <% end %>
      <% else %>
        <%= render Primer::ButtonComponent.new(group_item: true, "aria-label": "Previous", disabled: true) do %>Prev<% end %>
      <% end %>

      <% if page_info.has_next_page? %>
        <%= link_to(view.notifications_path(after: page_info.end_cursor), class: "btn BtnGroup-item", "aria-label": "Next") do %>
          Next
        <% end %>
      <% else %>
        <%= render Primer::ButtonComponent.new(group_item: true, "aria-label": "Next", disabled: true) do %>Next<% end %>
      <% end %>
    </nav>
  <% end %>
</div>
