<%# view is an instance of Notification::V2::IndexView %>
<% if total_count == 0 %>
  <div
    class="js-notifications-list js-socket-channel js-notifications-blankslate"
    data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.notifications_changed(current_user)) %>"
    data-url="<%= notifications_beta_notifications_exist_path(query: params[:query]) %>"
    data-hpc
  >
    <% track_render_partial("notifications/index/list_blankslate") do %>
      <%= render partial: "notifications/v2/blankslate", locals: { view: view } %>
    <% end %>
  </div>
<% else %>
  <% track_render_partial("notifications/index/conditional_access_banner") do %>
    <%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
      classes: "Box mb-1",
      container_classes: "mb-2",
      resource_label: "notifications",
      cap_filter: cap_filter,
      accounts: current_user&.resources_for_cap_filter(
        direct_and_indirect_orgs: true
      ),
      # Enable SAML logging
      logging: current_user&.feature_enabled?(:log_notifications_unauthorized_accounts),
      # Group SAML accounts into unified SAML SSO banner
      group_saml: GitHub.flipper[:notifications_unified_sso_banner].enabled?(current_user),
      # Sort SAML accounts by name
      sort_by_name: GitHub.flipper[:notifications_unified_sso_banner_alphabetical_order].enabled?(current_user),
    ) %>
  <% end %>
  <div class="Box mx-0 mt-0 mb-3 notifications-list js-notifications-list" <%= test_selector("notifications-list-view") %>>
    <% unless view.selected_tab?(:saved) %>
      <% track_render_partial("notifications/index/list_selected_tab") do %>
        <div class="Box-header d-flex flex-items-center py-2 pl-md-0 pl-3" style="height: 52px;">
          <label class="h6 pl-0 pl-md-4">
            <input class="mr-1 js-notifications-mark-all-prompt" type="checkbox" data-check-all autocomplete="off">

            <span class="js-select-all-text">
              Select all
            </span>
            <span class="js-count-selected-text" hidden>
              <span data-check-all-count>0</span> selected
            </span>
            <span class="js-all-count-selected-text" hidden>
              <%= total_count %> selected
            </span>
          </label>

          <%= render partial: "notifications/v2/actions/bulk_actions", locals: { view: view, mark_all: false, total_count: total_count } %>
          <%= render partial: "notifications/v2/actions/bulk_actions", locals: { view: view, mark_all: true, total_count: total_count } %>
        </div>
      <% end %>
    <% end %>

    <div class="Box-body p-0" data-hpc>
      <ul class="list-style-none color-bg-subtle <%= "mixed-notifications-tab" if view.show_all_notification_states? %> <%= "archived-notifications-tab" if view.show_only_archived_notifications? %> js-navigation-container js-navigation-container-no-mouse js-active-navigation-container"
          data-pjax>
        <% track_render_partial("notifications/index/list_items_all") do %>
          <% notifications.each do |notification| %>
            <%= render partial: "notifications/v2/notifications_item", locals: {
              notification: notification,
              view: view
            } %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
