<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="mt-md-3 mt-0 mb-3 js-notice">
  <div class="p-3 border rounded-2 color-shadow-small d-flex flex-lg-row flex-column mx-sm-0 mx-2">
    <%= svg("modules/notifications/code-alert.svg", aria: true, title: "Code alert", class: "mr-3 flex-self-start flex-shrink-0") %>
    <div class="flex-auto pr-lg-6 pr-0">
      <h2 class="h5 mb-1">Clear out the clutter.</h2>
      <p class="m-0 color-fg-muted" style="max-width:550px;">Get the most out of your new inbox by quickly and easily marking all of your previously read notifications as done.</p>
    </div>
    <div class="d-flex mt-lg-0 mt-3">
      <%= form_tag dismiss_notice_path("notifications_onboarding_banner"), class: "js-notice-dismiss" do %>
        <%= render Primer::ButtonComponent.new(type: :submit, mr: 0, ml: [0, nil, nil, 4], classes: "flex-self-start flash-action js-dismiss-notification-onboarding-notice", "aria-label": "Hide this notice forever") do %>Dismiss<% end %>
      <% end %>
      <%= render(
        layout: "shared/details_dialog",
        locals: {
          title: "Clean up your inbox",
          button_text: "Get started",
          button_aria_label: "Get started clearing your notifications",
          button_class: "flex-self-start d-inline-block btn ml-2 btn-primary flash-action",
          details_class: "js-onboarding-dialog"
        }
      ) do %>
        <div class="p-3">
          <p class="mb-3">Marking your notifications as "done" helps to create a more focused inbox. Don't worry - if there is new activity, you'll still be notified.</p>

          <div class="js-notification-action">
            <div class="js-notification-bulk-action">
              <%= form_tag notifications_beta_mark_as_archived_path, "data-remote" => true, "data-close-onboarding-element" => true, class: "clearfix" do %>
                <input type="hidden" name="mark_all" value="1">
                <input type="hidden" name="query" value="is:read">

                <button type="submit" class="btn btn-block m-0 btn-primary flash-action">
                  Mark all read notifications as done
                </button>
              <% end %>
            </div>
          </div>

          <p class="note mt-3">This process could take a few moments depending on the quantity.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
