<%# view is an instance of Notification::V2::IndexView %>

<div
  class="js-socket-channel js-updatable-content"
  data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.notifications_changed(current_user)) %>"
  data-url="<%= view.notifications_recent_notifications_alert_path(since: since) %>"
  <%= test_selector("recent-notifications-alert") %>
>
  <% if unread_count > 0 %>
    <a class="h6"
       href="<%= view.notifications_filter_path %>"
       <%= test_selector("recent-notifications-alert-link") %>
    >
      <span class="d-inline-block circle color-bg-accent-emphasis" style="width: 8px; height: 8px"></span>
      <% if unread_count > max_count %>
        <%= max_count %>+ new notifications
      <% else %>
        <%= pluralize(unread_count, "new notification") %>
      <% end %>
    </a>
  <% end %>
</div>
