<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  # `view` is an instance of `Notifications::V2::IndexView`
  query = query&.rstrip
%>

<notification-filter>
  <%= form_tag view.notifications_path,
        method: :get,
        class: "ml-0 subnav-search flex-auto js-navigation-container",
        role: "search",
        data: {
          pjax: true,
          target: "notification-filter.searchForm",
          action: "
            navigation:keydown:notification-filter#handleFormKeydownEvent
            navigation:open:notification-filter#handleSelectedSuggestionResultEvent
          "
        } do
  %>
    <input
      type="text"
      name="query"
      value="<%= query.blank? ? "" : query + " " %>"
      class="form-control subnav-search-input width-full subnav-search-input-wide input-contrast js-navigation-enable js-notification-search-input"
      placeholder="Filter notifications"
      aria-label="Filter notifications"
      autocomplete="off"
      data-target="notification-filter.searchInput"
      data-action="
        input:notification-filter#updateFilterSuggestionResults
        focusin:notification-filter#handleInputFocusIn
        focusout:delay:notification-filter#handleSearchBlur
        keydown:notification-filter#inputKey
      "
      data-initial-value="<%= query %>"
      data-default-value=""
      data-suggested-repositories-path="<%= notifications_beta_suggested_repositories_path %>"
      data-suggested-owners-path="<%= notifications_beta_suggested_owners_path %>"
      data-suggested-authors-path="<%= notifications_beta_suggested_authors_path %>"
      data-suggestable-qualifiers="<%= view.suggestable_qualifiers.to_json %>"
      data-suggestable-reasons="<%= view.suggestable_reasons.to_json %>"
      data-suggestable-types="<%= view.suggestable_types.to_json %>"
      data-filter-support-url="<%= "#{GitHub.help_url}/github/managing-subscriptions-and-notifications-on-github/managing-notifications-from-your-inbox#custom-filter-limitations" %>"
      <% if view.selected_tab?(:saved) %>disabled<% end %>
      <%= test_selector("notifications-search-input") %>
    >
    <%= primer_octicon(:filter, classes: 'subnav-search-icon') %>
    <button
      type="button"
      class="position-absolute top-0 right-0 mt-2 mr-1 btn-link issues-reset-query"
      aria-label="Clear filters"
      data-target="notification-filter.clearButton"
      data-action="click:notification-filter#clear"
      <%= "hidden" if query.blank? %>>
      <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
    </button>

    <div
      class="card-filter-autocomplete-dropdown color-bg-default border rounded-2 mt-1 position-absolute overflow-auto color-bg-default hide-sm width-full"
      <%= test_selector("notifications-autocomplete-dropdown") %>
      data-target="notification-filter.autocompleteDropdown"
      hidden
    >
      <div class="px-2 py-1">
        <div data-target="notification-filter.autocompleteResults"></div>
      </div>
    </div>
  <% end %>
</notification-filter>
