<%
  repo = view.selected_repositories.first
  subscription = GitHub.newsies.subscription_status(current_user, repo)
%>
<div class="flash js-notice js-unwatch-suggestions unwatch-suggestions-alert"
  <%= test_selector("unwatch-suggestions-alert-repo") %>
  <%= safe_data_attributes(hydro_view_tracking_attributes("notifications.unwatch_suggestion_event.shown_alert", view.unwatch_suggestions_metadata.merge(repository_id: repo.id))) %>
>
  <%= form_tag notifications_beta_dismiss_unwatch_suggestion_alert_path, :class => "js-notice-dismiss", :"data-replace-remote-form" => true do %>
    <button
      class="flash-close"
      type="submit"
      name="dismiss"
      <%= test_selector("unwatch-suggestions-alert-repo-dismiss") %>
      <%= safe_data_attributes(hydro_click_tracking_attributes("notifications.unwatch_suggestion_event.dismissed_alert", view.unwatch_suggestions_metadata.merge(repository_id: repo.id))) %>
    >
      <%= primer_octicon(:x, "aria-label": "Dismiss") %>
    </button>
  <% end %>
  <div class="position-relative">
    <div class="flash-action mr-1">
      <%= render(Repositories::NotificationsComponent.new(
        aria_id_prefix: "repo-#{repo.id}",
        repository: repo,
        button_block: true,
        status: subscription,
        unwatch_hydro_tracking_attributes: hydro_click_tracking_attributes("notifications.unwatch_suggestion_event.unwatch_repository", view.unwatch_suggestions_metadata.merge(repository_id: repo.id))
      )) %>
    </div>
  </div>
  We've noticed that you rarely interact with this repository. Are you sure you need notifications?
</div>
