<div
  class="flash js-notice js-unwatch-suggestions"
  <%= test_selector("unwatch-suggestions-alert") %>
  <%= safe_data_attributes(hydro_view_tracking_attributes("notifications.unwatch_suggestion_event.shown_alert", view.unwatch_suggestions_metadata)) %>
>
  <%= form_tag notifications_beta_dismiss_unwatch_suggestion_alert_path, :class => "js-notice-dismiss", :"data-replace-remote-form" => true do %>
    <button
      class="flash-close"
      type="submit"
      name="dismiss"
      <%= test_selector("unwatch-suggestions-alert-dismiss") %>
      <%= safe_data_attributes(hydro_click_tracking_attributes("notifications.unwatch_suggestion_event.dismissed_alert", view.unwatch_suggestions_metadata)) %>
    >
      <%= primer_octicon(:x, "aria-label": "Dismiss") %>
    </button>
  <% end %>
  Overwhelmed by notifications? We've found some repositories that may be causing notifications you don't need. <%= link_to "Update watching settings", watching_path, class: "Link--inTextBlock" %>
</div>
