<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 4 %>
<%# view is an instance of Notification::V2::IndexView %>

<%
  page_info(
    title: "Notifications",
    breadcrumb: "Notifications",
    footer: false,
    class: "notifications-v2"
  )
%>

<div class="d-flex flex-column flex-md-row pb-sm-3 px-sm-3 p-0 height-full width-full js-notifications-container"
     data-url="<%= view.notifications_path %>"
>
  <h1 class='sr-only'>Notifications</h1>
  <% track_render_partial("notifications/index/notifications_tabs") do %>
    <%= render partial: "notifications/v2/notifications_tabs", locals: { view: view } %>
  <% end %>

  <div class="col-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
    <div class="flex-auto pl-md-3 pl-0 js-check-all-container min-width-0 pt-0 pt-md-3">
      <div class="d-flex flex-items-center mt-0 mb-md-3 mb-0 px-2 px-sm-0 flex-sm-wrap flex-md-wrap flex-lg-wrap gap-3 flex-justify-end">
        <div class="d-flex min-width-0" style="flex-grow: 1">
          <% if view.show_unread_toggle? %>
            <% track_render_partial("notifications/index/unread_toggle") do %>
              <div class="BtnGroup mr-3 d-none d-md-block flex-shrink-0" <%= test_selector("notifications-all-unread-toggle") %>>
                <% if view.selected_tab?(:inbox) %>
                  <%= form_tag notifications_beta_set_preferred_inbox_query_path, class: "BtnGroup-parent", method: :post do %>
                    <input type="hidden" name="query" value="">
                    <button type="submit" class="btn BtnGroup-item <%= "selected" if view.all? %>">All</button>
                  <% end %>
                  <%= form_tag notifications_beta_set_preferred_inbox_query_path, class: "BtnGroup-parent", method: :post do %>
                    <input type="hidden" name="query" value="is:unread">
                    <button type="submit" class="btn BtnGroup-item <%= "selected" if view.unread_only? %>">Unread</button>
                  <% end %>
                <% else %>
                  <a class="btn BtnGroup-item <%= "selected" if view.all? %>" href="<%= view.notifications_path(unread: true, read: true) %>">All</a>
                  <a class="btn BtnGroup-item <%= "selected" if view.unread_only? %>" href="<%= view.notifications_path(unread: true, read: false) %>">Unread</a>
                <% end %>
              </div>
            <% end %>
          <% end %>

            <div class="d-none d-md-block col-12 col-sm-7 min-width-0 width-full">
              <% if GitHub.flipper[:notifications_a11y_search_box_migration].enabled?(current_user) %>
                <%= render(Primer::Experimental::QueryBuilder.new(
                  id: "notifications-search-input",
                  input_name: "query",
                  label_text: "Search notifications",
                  visually_hide_label: true,
                  placeholder: "Search notifications",
                  value: params[:query] || "",
                  form_action_url: "",
                  test_selector: "notifications-query-builder-search",
                  "data-suggestable-authors": notifications_beta_suggested_authors_path,
                  "data-suggestable-repositories": notifications_beta_suggested_repositories_path,
                  "data-suggestable-owners": notifications_beta_suggested_owners_path,
                  "data-suggestable-types": view.suggestable_types.to_json,
                  "data-suggestable-reasons": view.suggestable_reasons.to_json,
                  "data-min-width": 140,
                )) do |component| %>
                  <% component.with_leading_visual_icon(icon: :search) %>
                <% end %>
              <% else %>
                <% track_render_partial("notifications/index/search_input") do %>
                  <%= render partial: "notifications/v2/search_input", locals: { view: view, query: params[:query] }%>
                <% end %>
              <% end %>
            </div>


          <% if view.show_save_custom_search? %>
            <% track_render_partial("notifications/index/custom_inboxes_dialog") do %>
              <%= render partial: "notifications/v2/custom_inboxes_dialog", locals: { button_location: :search } %>
            <% end %>
          <% end %>

          <% if view.can_be_grouped_by_repo? %>
            <% track_render_partial("notifications/index/grouped_by_repo") do %>
              <div class="ml-3 d-none d-md-block flex-shrink-0" <%= test_selector("notifications-group-by-list-menu") %>>
                <%= render(Primer::Alpha::ActionMenu.new(select_variant: :single, dynamic_label: true, dynamic_label_prefix: "Group by")) do |menu_component| %>
                  <% menu_component.with_show_button(display: :flex) do |button| %>
                    <% button.with_trailing_action_icon(icon: :"triangle-down") %>
                    <% view.grouped_by_list? ? "Repository" : "Date" %>
                  <% end %>
                  <% menu_component.with_item(
                    label: "Repository",
                    active: view.grouped_by_list? ? true : false,
                    href: notifications_beta_update_view_preference_path,
                    form_arguments: {
                      method: :post,
                      inputs: [
                        { name: "query", value: params[:query] },
                        { name: "view_preference", value: "group_by_repository" },
                      ]
                    }
                  ) %>
                  <% menu_component.with_item(
                    label: "Date",
                    active: view.grouped_by_list? ? false : true,
                    href: notifications_beta_update_view_preference_path,
                    form_arguments: {
                      method: :post,
                      inputs: [
                        { name: "query", value: params[:query] },
                        { name: "view_preference", value: "sort_by_date" },
                      ]
                    }
                  ) %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="d-flex flex-shrink-0 text-right d-lg-flex gap-4 pl-3">
          <div class="d-none d-md-block flex-shrink-0 text-right">
            <include-fragment
              <%= test_selector("deferred_large_recent_notifications_alert") %>
              src="<%= view.notifications_recent_notifications_alert_path(since: last_notification_timestamp) %>">
            </include-fragment>
          </div>

          <div class="d-md-none mx-auto mb-2">
            <include-fragment
              <%= test_selector("deferred_small_recent_notifications_alert") %>
              src="<%= view.notifications_recent_notifications_alert_path(since: last_notification_timestamp) %>">
            </include-fragment>
          </div>

          <% if feature_enabled_globally_or_for_current_user?(:notification_inbox) %>
            <%= form_with url: "/toggle_inbox", class: 'd-md-flex d-block flex-shrink-0 text-right h6' do |f| %>
              <%= render(Primer::Beta::Label.new(scheme: :secondary, font_weight: :normal)) { "Alpha" } %>
              <%= emoji_tag(Emoji.find_by_alias("love_letter"), class: "emoji emoji-icon ml-2", style: "line-height: 20px;") %>
              <%= render Primer::Beta::Button.new(scheme: :link, type: :submit, font_weight: :normal) do %>
                <span class="d-flex ml-1" style="align-items: center;" <%= test_selector("notifications-inbox-feature-button") %>>
                  Try the new inbox
                </span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if view.show_alert_unwatch_multiple_repositories? %>
        <% track_render_partial("notifications/index/unwatch_multiple_repos_alert") do %>
          <%= render partial: "notifications/v2/unwatch_repositories_alert", locals: { view: view } %>
        <% end %>
      <% elsif view.show_alert_unwatch_single_repository? %>
        <% track_render_partial("notifications/index/unwatch_single_repo_alert") do %>
          <%= render partial: "notifications/v2/unwatch_repository_alert", locals: { view: view } %>
        <% end %>
      <% end %>

      <% unless view.web_notifications_enabled_for_user? %>
        <% track_render_partial("notifications/index/web_notifications_disabled_flash") do %>
          <%= render(Primer::Beta::Flash.new) do %>
            Web notifications are currently disabled. You can enable them now in your <%= link_to "notifications settings", settings_notification_preferences_path, class: "Link--inTextBlock" %>.
          <% end %>
        <% end %>
      <% end %>

      <% track_render_partial("notifications/index/bulk_action_toasts") do %>
        <%= render partial: "notifications/v2/bulk_action_toasts", locals: { viewer_id: current_user.id, view: view } %>
      <% end %>

      <% if view.selected_tab?(:inbox) && !current_user.dismissed_notice?("notifications_onboarding_banner") %>
        <% track_render_partial("notifications/index/onboarding_banner") do %>
          <%= render partial: "notifications/v2/onboarding_banner" %>
        <% end %>
      <% end %>

      <% if view.grouped_by_list? %>
        <% track_render_partial("notifications/index/notifications_grouped_list") do %>
          <%= render partial: "notifications/v2/notifications_grouped_list", locals: {
            notifications: notifications,
            total_count: total_count,
            view: view
          } %>
        <% end %>
      <% else %>
        <% track_render_partial("notifications/index/notifications_list") do %>
          <%= render partial: "notifications/v2/notifications_list", locals: {
            total_count: total_count,
            notifications: notifications,
            view: view
          } %>
        <% end %>

        <% track_render_partial("notifications/index/notifications_list_footer") do %>
          <%= render partial: "notifications/v2/notifications_list_footer", locals: {
            view: view,
            total_count: total_count,
            page_info: page_info,
            notifications_size: notifications.size,
            first_item_offset: first_item_offset,
          } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "notifications-v2" %>
<% end %>
