<% if !expiration_time_set? %>
  <span>
    <%= render(Primer::Beta::Octicon.new(icon: "alert", color: :attention)) %>
    <%= render(Primer::Beta::Link.new(**link_component_attributes)) do |c| %>
      <% c.with_tooltip(text: "To set a new expiration date, you must regenerate the token.", direction: :e) if render_tooltip? %>
      This token has no expiration date.
    <% end %>
  </span>
<% elsif expired? %>
  <span>
    <%= render(Primer::Beta::Octicon.new(icon: "alert", color: :attention)) %>
    <%= render(Primer::Beta::Link.new(**link_component_attributes)) do |c| %>
      <% c.with_tooltip(text: "To set a new expiration date, you must regenerate the token.", direction: :e) if render_tooltip? %>
      This token has expired.
    <% end %>
  </span>
<% elsif expiring_soon? %>
  <span>
    <%= render(Primer::Beta::Octicon.new(icon: "alert", color: :attention)) %>
    <%= render(Primer::Beta::Link.new(**link_component_attributes)) do |c| %>
      <% c.with_tooltip(text: "To set a new expiration date, you must regenerate the token.", direction: :e) if render_tooltip? %>
      Expires <span class="text-semibold text-italic"><%= human_expiration_date(expiration_time) %></span>.
    <% end %>
  </span>
<% else %>
  Expires <span class="text-semibold text-italic"><%= human_expiration_date(expiration_time) %></span>.
<% end %>
