<div id="access-token-<%= id %>" class="access-token js-revoke-item <%= newly_created? ? "new-token" : "" %>" data-id="<%= id %>" data-type="token">
  <div class="listgroup-item">
    <div class="d-flex float-right">
      <%= render partial: "personal_access_tokens/delete_token_dialog", locals: { token: access } %>
    </div>

    <small class="last-used float-right"><%= last_access_description(access) %></small>
    <div class="token-description">
      <% if newly_created? %>
        <% if successfully_created? %>
          <p class="f5 lh-default">Make sure to copy your personal access token now as you will not be able to see this again.</p>

          <div class="input-group mb-2">
            <input class="form-control color-bg-inset text-mono text-small" id="new-access-token" type="text" placeholder="Access token" aria-label="Access token" disabled value="<%= unhashed_token %>">
            <span class="input-group-button">
              <%= render Primer::Beta::ClipboardCopy.new(for: "new-access-token", "aria-label": "Copy token", tabindex: "0", role: "button", classes: "btn", "data-copy-feedback": "Copied!", test_selector: "token-copy-link") %>
            </span>
          </div>
        <% else %>
          <%= render(Primer::Beta::Octicon.new(icon: "alert", color: :attention)) %>
          We failed to generate the API credential, please try again.
        <% end %>
      <% else %>
        <strong class="f5">
        <%= render GitHub::AvatarComponent.new(actor: actor, size: 16, classes: "avatar-small", mr: 2, title: resource_owner_message) %>
        <a href="<%= settings_user_access_token_path(access) %>" data-pjax><%= name %></a>
        </strong>
        <%= render(Primer::Beta::Label.new(scheme: :attention, title: "Associated request is pending approval")) { "Pending" } if has_requested_grant? %>
      <% end %>
    </div>
    <div>
      <include-fragment src="<%= settings_user_access_token_expiration_path(access, page: page) %>">
        <span class="color-fg-muted" data-hide-on-error>Loading expiration ...</span>
        <p class="color-fg-danger" data-show-on-error hidden>Sorry, something went wrong.</p>
      </include-fragment>
    </div>
  </div>
</div>
