<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% user ||= nil %>
<% octicon ||= nil %>
<% actor_link ||= nil %>
<% actor_link_data_options ||= {} %>
<% display_login ||= nil %>
<% updated_view ||= false %>
<% team ||= nil %>
<% slug ||= nil %>

<% if user %>
  <li style="border-radius: 9999px;" class="color-bg-subtle tag-input js-tag-input-tag border d-inline-block p-1 mb-2" js-bulk-actions-item <%= updated_view ? "flex-row" : "flex-justify-between flex-items-center" %> prebuild-data-user-or-team="user" prebuild-data-bulk-actions-id-user="<%= display_login %>">
    <%= avatar_for(user, 32, class: "avatar mr-2") %>
    <%= link_to actor_link, class: "text-bold", id: "user-#{display_login}", data: actor_link_data_options do %>
      <%= display_login %>
    <% end %>
    <%= render Primer::ButtonComponent.new(type: :button, scheme: :link, classes: "js-remove-user-button", tabindex: "-1") do %>
    <%= render Primer::Beta::Octicon.new(icon: "x", color: :muted, "aria-label": "Remove user", ml: 2) %>
    <% end %>
      <input type="hidden" name="codespaces_prebuild_configuration[users_to_notify][]" value="<%= display_login %>">
  </li>
<% end %>

<% if team %>
  <li style="border-radius: 9999px;" class="color-bg-subtle tag-input js-tag-input-tag border d-inline-block p-1 mb-2" js-bulk-actions-item <%= updated_view ? "flex-row" : "flex-justify-between flex-items-center" %> prebuild-data-user-or-team="team" prebuild-data-bulk-actions-id-team="<%= slug %>">
    <img class= "avatar mr-2 avatar-user" width="32" height="32" src="<%= avatar_url_for(team) %>" alt="<% slug %>">
    <%= link_to actor_link, class: "text-bold", id: "team-#{slug}", data: actor_link_data_options do %>
      <%= slug %>
    <% end %>
    <%= render Primer::ButtonComponent.new(type: :button, scheme: :link, classes: "js-remove-user-button", tabindex: "-1") do %>
    <%= render Primer::Beta::Octicon.new(icon: "x", color: :muted, "aria-label": "Remove team", ml: 2) %>
    <% end %>
      <input type="hidden" name="codespaces_prebuild_configuration[teams_to_notify][]" value="<%= slug %>">
  </li>
<% end %>

