<% suggestions.each do |suggested_target| %>
  <% if suggested_target.is_a?(User) %>
    <li class="member-suggestion typeahead-result"
        role="option"
        data-autocomplete-value="<%= suggested_target.display_login %>"
        data-user-or-team="user"
        data-name="<%= suggested_target.display_login %>">

        <%= avatar_for(suggested_target, 24, :class => "avatar") %>
        <p class="member-suggestion-info">
          <strong class="member-login">
            <%= suggested_target.display_login %>
          </strong>
          <span class="member-name">
            <%= suggested_target.profile_name %>
          </span>
        </p>
    </li>
  <% end %>
  <% if suggested_target.is_a?(Team) %>
    <li class="member-suggestion typeahead-result"
        role="option"
        data-autocomplete-value="<%= suggested_target.slug %>"
        data-user-or-team="team"
        data-name="<%= suggested_target.slug %>">

        <img class= "avatar avatar-user" width="24" height="24" src="<%= avatar_url_for(suggested_target) %>" alt="<% suggested_target.slug %>">
        <p class="member-suggestion-info">
          <strong class="member-login">
            <%= suggested_target.slug %>
          </strong>
          <span class="member-name">
            <%= suggested_target.name %>
          </span>
        </p>
    </li>
  <% end %>
<% end %>
