<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<details class="details-reset details-overlay js-orgs-reminders-time-menu" id="delivery-time-menu" <%= "data-allow-blank " if local_assigns[:allow_blank] %> >
  <summary class="btn js-delivery-time-summary" data-default-label="Select a time">
    <span class="css-truncate css-truncate-target js-delivery-time-summary-text"
          style="max-width: 225px;">Select a time</span>
    <span class="dropdown-caret"></span>
  </summary>
  <details-menu class="SelectMenu" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal">
      <div class="SelectMenu-list">
        <% time_options.each do |time, time_attrs| %>
          <label tabindex="0" class="SelectMenu-item" role="menuitemcheckbox" aria-checked="<%= time_attrs[:selected] %>">
            <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
            <input type="checkbox"
                  name="<%= form.object_name %>[delivery_times][]"
                  class="js-delivery-time-input"
                  <% if time_attrs[:selected] %>checked<% end %>
                  value="<%= time %>"
                  hidden> <%= time %>
          </label>
        <% end %>
      </div>
    </div>
  </details-menu>
</details>
