<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "Prebuilds Allow Permissions", stafftools: stafftools_user_codespaces_path(current_user) %>
<div class="pt-4 position-relative container-sm" data-hpc>
  <%= render(Codespaces::AllowPermissionsComponent.new(
      devcontainer: devcontainer,
      repo_readable_by_user_count: repo_readable_by_user_count,
      is_prebuild: is_prebuild,
      branch: branch
    )) do |allow_permissions_component| %>
    <% allow_permissions_component.with_footer do %>
    <div class="d-inline">
      <%= form_with url: add_consented_permissions_codespaces_prebuild_configurations_path(ref: ref, devcontainer_path: devcontainer_path) do |f| %>
        <% allow_permissions_component.all_repository_permissions.each do |owner, permissions| %>
          <% permissions.each do |resource, action| %>
            <%= hidden_field_tag("owner_permissions[#{owner}][#{resource}]", action) %> <%# rubocop:disable GitHub/DoNotAllowLogin %>
          <% end %>
        <% end %>
        <%= hidden_field_tag("codespaces_prebuild_configuration[devcontainer_path]", devcontainer_path) %>
        <%= hidden_field_tag("codespaces_prebuild_configuration[branch]", branch) %>
        <% allow_permissions_component.repository_permissions.each do |name_with_display_owner, permissions| %>
          <% permissions.each do |resource, action| %>
            <%= hidden_field_tag("repository_permissions[#{name_with_display_owner}][#{resource}]", action) %>
          <% end %>
        <% end %>
        <%= hidden_field_tag("is_creating", is_creating) %>
        <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center, classes: "js-toggle-hidden")) do %>
          <div class="width-fit">
            <%= render Primer::ButtonComponent.new(
              name: "commit",
              value: "Deny",
              scheme: :invisible,
              classes: "btn-link",
              type: :submit,
              test_selector: "submit-button",
              data: {
                "confirm" => "Your prebuild may not work properly if you do not grant permissions. Are you sure you want to continue?",
              }
              ) do |component| %>
                Continue without authorizing
            <% end %>
          </div>
          <div class="width-fit">
            <%= render(Primer::ButtonComponent.new(
              name: "commit",
              value: "Authorize",
              scheme: :primary,
              type: :submit,
              test_selector: "submit-button"
              )) { allow_permissions_component.authorize_button_text } %>
          </div>
        <% end %>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
