<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  page_info(
    title: "Codespaces",
    container_xl: true,
    selected_link: :codespaces_repository_settings,
  )
%>

<%= render layout: "edit_repositories/edit" do %>
  <%= render(Codespaces::PrebuildConfigurations::SubheadComponent.new(subhead_text: "Edit configuration", repo: repository, repo_owner: repository.owner)) %>

  <% if prebuild_usage_message.present? %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, mt: 2, test_selector: "prebuild-usage-message")) do %>
      <%= prebuild_usage_message %>
    <% end %>
  <% end %>

  <div data-hpc>
    <%= form_with(
      model: prebuild_configuration,
      url: codespaces_prebuild_configuration_path(repository.owner, repository, prebuild_configuration),
      method: :put,
      data: { "test-id" => "codespace-prebuild-configuration-form"}
      ) do |form| %>
      <%= render Codespaces::PrebuildConfigurations::ConfigurationComponent.new(
        form: form,
        repository: repository,
        initial_branch_ref: branch_ref,
        default_branch: repository.default_branch,
        cache_key: branch_ref_selector_cache_key,
        devcontainer_path: devcontainer_path,
      )%>
      <%= render Codespaces::PrebuildConfigurations::AccessAndCostControlComponent.new(
        form: form,
        repo: repository,
        selected_locations: selected_locations,
        all_locations_selected: all_locations_selected,
        vscs_target_options: vscs_target_options,
        selected_target_name: prebuild_configuration.vscs_target,
        vscs_target_url: prebuild_configuration.vscs_target_url,
        delivery_days: delivery_days,
        delivery_times: delivery_times,
        time_zone_name: time_zone_name,
        trigger: prebuild_configuration.trigger.to_sym,
        maximum_template_versions: prebuild_configuration.maximum_template_versions,
        runner_group_options: runner_group_options
      )%>
      <%= render Codespaces::PrebuildConfigurations::NotifyOptionsComponent.new(
        repo: repository,
        users_to_notify: users_to_notify,
        teams_to_notify: teams_to_notify,
      )%>
      <%= render Codespaces::PrebuildConfigurations::AdvancedOptionsComponent.new(
        form: form,
        repo: repository,
        fast_path_enabled: fast_path_enabled,
      )%>
      <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit, classes: "js-submit-codespace-prebuild-configuration-button")) { "Update" } %>
    <% end %>
  </div>
<% end %>
