<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%
  page_info(
    title: "Codespaces New Prebuild Configuration",
    container_xl: true,
    selected_link: :codespaces_repository_settings,
  )

  locals = ensure_local_vars(local_assigns, {
    required: [:repository, :vscs_target_options, :all_locations_selected, :branch_ref_selector_cache_key, :runner_group_options],
    optional: [:selected_locations, :selected_target_name, :vscs_target_url, :branch_ref, :trigger, :delivery_days, :delivery_times, :time_zone_name, :users_to_notify, :teams_to_notify, :maximum_template_versions, :devcontainer_path, :fast_path_enabled, :prebuild_usage_message],
    defaults: {
      selected_locations: Codespaces::Locations::Geo.where(vscs_target: Codespaces::Vscs.default_target).map(&:id),
      trigger: Codespaces::PrebuildConfiguration::DEFAULT_TRIGGER,
      users_to_notify: [],
      teams_to_notify: [],
      maximum_template_versions: 2,
      fast_path_enabled: Codespaces::PrebuildConfiguration::DEFAULT_FAST_PATH_ENABLED,
      prebuild_usage_message: nil
    },
    view: "codespaces/prebuild_configurations/new"
  })
%>

<%= render layout: "edit_repositories/edit" do %>
  <%= render(Codespaces::PrebuildConfigurations::SubheadComponent.new(subhead_text: "New prebuild configuration", repo: repository, repo_owner: repository.owner)) %>

  <% if prebuild_usage_message.present? %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, mt: 3, test_selector: "prebuild-usage-message")) do %>
      <%= prebuild_usage_message %>
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Flash.new(icon: :alert, mt: 3, scheme: :warning)) do %>
      Prebuilds consume storage space that will incur a billable charge.
      Learn more about <%= render(Primer::Beta::Link.new(href: "https://docs.github.com/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces#about-billing-for-codespaces-prebuilds", underline: true)) { "prebuild configurations" } %>.
    <% end %>
  <% end %>

  <div data-hpc>
    <%= form_with model: Codespaces::PrebuildConfiguration.new do |form| %>
      <%= render Codespaces::PrebuildConfigurations::ConfigurationComponent.new(
        form: form,
        repository: repository,
        initial_branch_ref: locals[:branch_ref],
        default_branch: repository.default_branch,
        cache_key: locals[:branch_ref_selector_cache_key],
        devcontainer_path: locals[:devcontainer_path],
      )%>
      <%= render Codespaces::PrebuildConfigurations::AccessAndCostControlComponent.new(
        form: form,
        repo: repository,
        selected_locations: locals[:selected_locations],
        all_locations_selected:  locals[:all_locations_selected],
        vscs_target_options: locals[:vscs_target_options],
        selected_target_name: locals[:selected_target_name],
        vscs_target_url: locals[:vscs_target_url],
        delivery_days: locals[:delivery_days],
        delivery_times: locals[:delivery_times],
        time_zone_name: locals[:time_zone_name],
        trigger: locals[:trigger].to_sym,
        maximum_template_versions: locals[:maximum_template_versions],
        runner_group_options: locals[:runner_group_options],
      )%>
      <%= render Codespaces::PrebuildConfigurations::NotifyOptionsComponent.new(
        repo: repository,
        users_to_notify: locals[:users_to_notify],
        teams_to_notify: locals[:teams_to_notify],
      )%>
      <%= render Codespaces::PrebuildConfigurations::AdvancedOptionsComponent.new(
        form: form,
        repo: repository,
        fast_path_enabled: locals[:fast_path_enabled],
      )%>
      <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit, classes: "js-submit-codespace-prebuild-configuration-button")) { "Create" } %>
    <% end %>
  </div>
<% end %>
