<div class="p-3">
  <div class="f6 color-fg-muted mb-1">
    <a class="d-inline-block text-underline Link--secondary" href="<%= GitHub.url %>/<%= repository.name_with_display_owner %>">
      <%= repository.name_with_display_owner.truncate(32) %>
    </a>
    on
    <span>
      <%= full_month_date(alert.created_at, omit_current_year: true) %>
    </span>
  </div>
  <div class="d-flex mt-2">
    <span class="lh-condensed py-1 pr-2">
      <%= primer_octicon(:shield, color: :muted, mr: 1) %>
    </span>
    <div class="d-flex flex-column">
      <div class="d-flex flex-column f5 lh-condensed mt-1 wb-break-word">
        <%= link_to(repository_alert_path(user_id: repository.owner.display_login, repository: repository.name, number: alert.number), class: "no-underline Link--primary d-block", **test_selector_data_hash("dependabot-alert-hovercard-link")) do %>
          <h5 class="d-inline" <%= test_selector("dependabot-alert-hovercard-title") %>><%= alert.title.truncate(80) %></h5>
        <% end %>
        <div><%=alert.package_name%></div>
        <div class="lh-condensed color-fg-muted mt-1 mb-0" <%= test_selector("dependabot-alert-hovercard-description") %>>
          <%= simple_format alert.vulnerability.description_text.truncate(200) %>
        </div>
      </div>

      <div class="d-flex ml-0 mt-1">
        <div <%= test_selector("dependabot-alert-hovercard-state")%>>
          <%= render Primer::Beta::State.new(title: state_properties[:title], scheme: state_properties[:scheme], tag: :span, size: :small) do %>
            <%= render Primer::Beta::Octicon.new(icon: state_properties[:icon]) %>
            <%= state_properties[:label] %>
          <% end %>
        </div>

        <div class="ml-2" <%= test_selector("dependabot-alert-hovercard-severity")%>>
          <%= render DependabotAlerts::SeverityLabelComponent.new(severity: alert.severity, verbose: false,  size: :large) %>
        </div>
      </div>
    </div>
  </div>
  <div class="sr-only">
    Press escape to close this hovercard
  </div>
</div>
