<%= render(Primer::Box.new(**system_arguments)) do %>
  <div class="container-lg clearfix">
    <div class="col-4 float-left">
      <%= render(Primer::Beta::Text.new(font_weight: :bold, test_selector: "files-extracted-label")) do %>
        <%= label %>
      <% end %>
    </div>
    <div class="col-8 float-left d-table text-right">
      <%= render(Primer::Beta::Text.new(col: 5, display: :table_cell, color: :subtle, test_selector: "files-extracted-counts")) do %>
        <% if files.total.nonzero? %>
          <%= humanize(num: files.extracted) %>/<%= pluralize(humanize(num: files.total), "file") %> scanned
        <% else %>
          <%= pluralize(humanize(num: files.extracted), "file") %> scanned
        <% end %>
      <% end %>
      <% if files.total.nonzero? %>
        <%= render(Primer::Beta::ProgressBar.new(mx: 3)) do |component| %>
          <% component.with_item(percentage: percentage, **progress_bar_system_arguments) %>
        <% end %>
        <%= render(Primer::Beta::Text.new(col: 1, display: :table_cell, font_weight: :bold, test_selector: "files-extracted-percentage")) do %>
          <%= percentage %>%
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
