<%= render Primer::BaseComponent.new(tag: :li, role: "listitem", **@kwargs) do %>
  <%= render(Primer::Beta::Link.new(href: @href, classes: "ActionListItem ActionListContent ActionListContent--visual16")) do %>
    <span>
      <%= render Primer::Beta::Octicon.new(icon: :"arrow-left", color: :muted) %>
    </span>
    <span class="no-wrap">
      <%= @label %>
    </span>
  <% end %>
  <%= subtitle %>
<% end %>
