<% if messages.present? %>
  <p class="color-fg-muted text-small" <%= test_selector("tool-status-message-count") %>>
    <%= count_message %>
  </p>
<% end %>

<message-list <%= test_selector("tool-status-message-list") %>>
  <%= render(Primer::Beta::BorderBox.new(mb: 4)) do |c| %>
    <% if working_as_expected? %>
      <% c.with_row do %>
        <div class="d-flex">
          <%= render(Primer::Beta::Text.new(tag: :p, mb: 0)) do %>
            <%= render Primer::Beta::Octicon.new(mr: 2, icon: "check-circle-fill", color: :success) %>
          <% end %>
          <p class="mb-0">This configuration is working as expected.</p>
        </div>
      <% end %>
    <% end %>
    <% messages.each do |message| %>
      <% c.with_row(data: {targets: "message-list.messages"}) do %>
        <toggle-message>
          <div style="display:grid;grid-template-columns:min-content auto" class="width-full">
            <div class="no-wrap mr-2 flex-self-center" style="font-size:0">
              <%= render Primer::Beta::IconButton.new(mr: 1, size: :small, icon: "chevron-right", scheme: :invisible, :"aria-label" => "Toggle more details", data: {target: "toggle-message.handle", action: "click:toggle-message#toggleMessage"}) %>
              <%= render CodeScanning::ToolStatus::MessageListComponent::Icon.new(level: message.level) %>
            </div>
            <div class="d-flex flex-self-center">
              <h4 class="h5 flex-1"><%= message.title %></h4>
              <%= message.action %>
            </div>
            <div class="width-full mt-1 cs-status-message" style="grid-column-start:2" data-target="toggle-message.description"><%= GitHub::Goomba::CodeScanningStatusMessagePipeline.to_html(message.message) %></div>
          </div>
        </toggle-message>
      <% end %>
    <% end %>
    <% unless messages.empty? %>
      <% c.with_footer(p: 0, data: {target: "message-list.toggle"}, hidden: true) do %>
        <%= render(Primer::Beta::Button.new(classes: "rounded-top-0", scheme: :invisible, block: true, data: {action: "click:message-list#toggleMessages"})) do %>
          Show <span data-target="message-list.more" hidden><%= [messages.size - 2, 0].max %> more</span><span data-target="message-list.less" hidden>less</span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</message-list>
