<div class="width-full d-flex flex-items-center flex-justify-between flex-wrap" <%= test_selector("tool-status") %>>
  <% if has_configured_tools? %>
    <%= render(Primer::Box.new(mb: 0, mr: 3, test_selector: "overall-status")) do %>
      <%= render CodeScanning::Status::Icon.new(level: status, mr: 2) %>
      <%= render(CodeScanning::Status::Text.new(level: status)) do %>
        <%= status_text %>
      <% end %>
      <% if error_link_component.present? %>
        <%= render(Primer::Beta::Text.new(test_selector: "show-tsp-link")) do %>
          Check the <%= render(error_link_component) %> for help.
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Text.new(tag: :p, mb: 0, mr: 3, test_selector: "no-status")) do %>
      <%= render Primer::Beta::Octicon.new(icon: "circle", color: :muted, mr: 2) %>
        Configured tools are not scanning the default branch.
      <%= render(Primer::Beta::Text.new(color: :muted)) do %>
      <% end %>
    <% end %>
  <% end %>

  <div>
    <% if has_configured_tools? %>
      <%= render(Primer::Beta::Button.new(scheme: :invisible, tag: :a, href: repository_code_scanning_results_tool_status_show_path(user_id: current_repository.owner_display_login, repository: current_repository, tool_name: linked_tool))) do |component| %>
        <% component.with_leading_visual_icon(icon: :tools) %>
        <% component.with_trailing_visual_counter(count: tools_count) %>
        Tools
      <% end %>
    <% end %>

    <% if GitHub.actions_enabled? && current_repository.actions_enabled? %>
      <%= render(Primer::Beta::Button.new(scheme: :invisible, tag: :a, href: actions_onboarding_filter_path(user_id: current_repository.owner_display_login, repository: current_repository, category: "security", query: "code scanning"), test_selector: "setup-tools-button")) do |component| %>
        <% component.with_leading_visual_icon(icon: :plus) %>
        Add tool
      <% end %>
    <% end %>
  </div>
</div>
