<%
  search_label = "Find a repository"
%>

<favorite-pins
  class="f5 d-flex flex-column overflow-hidden height-full"
  max="<%= UserDashboardPin::LIMIT_PER_USER_DASHBOARD %>"
  data-datasource="<%= dashboard_favorites_pinnable_items_path %>"
  <%= test_selector("pinned-items-view") %>>

  <div class="py-3">
    <div class="auto-search-group mb-1 mb-lg-0 mr-lg-1 flex-auto">
      <%= render Primer::Beta::Octicon.new(icon: "search") %>
      <div class="FormControl flex-1 width-full">
        <label for="favorites-filter" class="sr-only FormControl-label"><%= search_label %></label>
        <div class="FormControl-input-wrap FormControl-medium FormControl-input-wrap--trailingAction">
          <input
            id="favorites-filter"
            type="search"
            class="form-control width-full auto-search-input pr-7"
            data-target="favorite-pins.input"
            data-action="input:favorite-pins#handleSearchInput"
            placeholder="<%= search_label %>">
          <%= render(Primer::Beta::Button.new(
            id: "favorites-modal-search-clear-button",
            px: 2,
            py: 0,
            mr: 1,
            display: :flex,
            align_items: :center,
            align_self: :center,
            color: :muted,
            size: :small,
            border: 0,
            border_radius: 1,
            position: :absolute,
            right: 0,
            padding: 0,
            style: "height: 24px;",
            data: {
              target: "favorite-pins.clearButton",
              action: "click:favorite-pins#handleClearSearch"
            },
            hidden: true,
            aria_label: "Clear"
          )) { "Clear" } %>
        </div>
      </div>
    </div>
  </div>

  <div
    class="overflow-auto position-relative"
    id="pinnable-items">
    <%= form_tag dashboard_favorites_path,
      class: "mb-3 pinned-favorites-update-form", method: :post,
      id: "pinned-items-update-form",
      "data-target": "favorite-pins.form",
      "data-action": "change:favorite-pins#limitPins change:favorite-pins#formModified reset:favorite-pins#limitPins" do %>

      <%=
        render(
          ConditionalAccess::UnauthorizedAccountsComponent.new(
            resource_label: "repositories",
            classes: "Box mb-1",
            container_classes: "mb-3",
            cap_filter: cap_filter,
            return_to: "/"
          )
        )
      %>

      <%= render Primer::BaseComponent.new(
        tag: :ol,
        classes: "list-style-none",
        mb: 2,
        position: :relative,
        data: {
          target: "favorite-pins.list"
      }) do %>
        <% pinnable_items.each_with_index do |pinnable_item, i| %>
          <%= render Dashboard::Favorites::PinnableFavoriteComponent.new(
            pinnable_item: pinnable_item,
            is_first_item: i == 0,
            has_more_items: pinnable_items.has_more?,
            next_page: pinnable_items.next_page,
            is_pinned: pinned_items.include?(pinnable_item),
            pinned_items_remaining: pinned_items_remaining,
            this_user: current_user
          ) %>
        <% end %>
      <% end %>
      <div class="color-fg-muted m-1"
        data-filter-empty-state
        data-target="favorite-pins.filterEmptyState"
        <%= test_selector("favorites-empty-filter-state") %>
        <% if has_pinnable_repos || pinned_items.any? %>hidden<% end %>>
        No repositories found.
      </div>

      <%= render Dashboard::LoadingSpinnerComponent.new(hidden: true,
        data: {
          target: "favorite-pins.loadMoreSpinner",
      }) %>

      <%= render Primer::Beta::Button.new(scheme: :link,
        type: :button,
        hidden: !pinnable_items.has_more?,
        display: :inline_block,
        data: {
          action: "click:favorite-pins#queryNextPage",
          target: "favorite-pins.loadMoreButton",
        }
        ) do %>Load more<% end %>
    <% end %>

  </div>
  <footer class="pt-3 text-right">
    <span class="float-left text-small pt-3 lh-condensed-ultra <%= " color-fg-danger" if current_user.dashboard_pinned_items_remaining < 1 %>"
          data-remaining-label="out of 25 favorites added" data-target="favorite-pins.limitNotice" <%= test_selector("pins-remaining") %>>
      <%= 25 - current_user.dashboard_pinned_items_remaining %> out of 25 favorites added
    </span>
    <%= render(Primer::Beta::Button.new(
      display: :inline_block,
      data: {
        "close-dialog-id": "edit-dashboard-favorites",
      }
    )) { "Cancel" } %>
    <%= render(Primer::Beta::Button.new(
      type: :submit,
      scheme: :primary,
      display: :inline_block,
      form: "pinned-items-update-form",
      data: {
        "target": "favorite-pins.submitButton"
      },
      disabled: true,
    )) { "Save" } %>
  </footer>
</favorite-pins>
