<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="form-group">
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do |component| %>
      Your request for access was created <em><%= render(Primer::Beta::RelativeTime.new(datetime: current_grant_request.created_at, tense: :past)) %></em> and is waiting admin approval.
      <br>
      To make any changes, you need to cancel this request.
      <% component.with_action_content(mt: -3) do %>
        <%= render(Primer::Experimental::Dialog.new(
          dialog_id: "cancel-request",
          header_variant: :large,
          width: :large,
          title: "Cancel request?",
          form_url: settings_user_access_cancel_org_access_request_path(token, current_target),
          form_method: :delete
        )) do |c| %>
          <% c.with_show_button(scheme: :link) do |s| %>
            <%= render(Primer::Beta::Button.new(tag: :summary, size: :small)) { "Cancel request" } %>
          <% end %>

          <% c.with_body do %>
            <p>All permissions and repositories selected as part of the request will be dismissed.</p>
            <p><strong>You cannot undo this action.</strong></p>
          <% end %>

          <% c.with_button(data: { "close-dialog-id": "cancel-request" }) { "No thanks" } %>

          <% c.with_button(
            type: :submit,
            scheme: :danger,
            data: { "disable-with": "Cancelling request…", "submit-dialog-id": "cancel-request" }
          ) { "Cancel request" } %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning)) do |component| %>
      Your request for access was created <em><%= render(Primer::Beta::RelativeTime.new(datetime: current_grant_request.created_at, tense: :past)) %></em> and is waiting admin approval.
      <br>
      To make any changes, you need to cancel this request.
      <% component.with_action(mt: -3) do %>
        <%= render(Primer::Experimental::Dialog.new(
          dialog_id: "cancel-request",
          header_variant: :large,
          width: :large,
          title: "Cancel request?",
          form_url: settings_user_access_cancel_org_access_request_path(token, current_target),
          form_method: :delete
        )) do |c| %>
          <% c.with_show_button(scheme: :link) do |s| %>
            <%= render(Primer::Beta::Button.new(tag: :summary, size: :small)) { "Cancel request" } %>
          <% end %>

          <% c.with_body do %>
            <p>All permissions and repositories selected as part of the request will be dismissed.</p>
            <p><strong>You cannot undo this action.</strong></p>
          <% end %>

          <% c.with_button(data: { "close-dialog-id": "cancel-request" }) { "No thanks" } %>

          <% c.with_button(
            type: :submit,
            scheme: :danger,
            data: { "disable-with": "Cancelling request…", "submit-dialog-id": "cancel-request" }
          ) { "Cancel request" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
