<% current_grantable = current_grant_request || current_grant || null_grant %>
<% repository_selection = current_grantable.repository_selection %>
<% url = current_target.organization? ? settings_user_access_request_org_access_path(current_access, current_target) : settings_user_access_request_user_access_path(current_access, current_target) %>

<div id="js-grant-form" hidden>
  <%= form_for current_access, method: :post, :url => url, :html => {:"aria-label" => "Personal access token", id: "programmatic-access-grant-form", class: "js-user-programmatic-access-form" } do |f| %>
    <% if requesting_access %>
      <%= render partial: "personal_access_tokens/request_reason_form" %>
    <% end %>

    <%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
      <% component.with_heading(tag: :h4, font_size: 4, font_weight: :bold) { t("personal_access_tokens.repository_selection.heading") } %>
      <% component.with_description(font_size: :small, color: :muted) { t("personal_access_tokens.repository_selection.description") } %>
    <% end %>

    <%= render "personal_access_tokens/select_repositories", view: repositories_view, skip_heading: true, display_as_list: current_grant_request.present? %>
    <%= render(ProgrammaticAccess::PermissionsSelectionComponent.new(view: permissions_view, hide_repository_permissions: repository_selection == "none", current_target: current_target)) do |component| %>
    <% component.with_subhead(border_bottom: 0) do |subhead|%>
      <% subhead.with_heading(tag: :h4, font_size: 4, font_weight: :bold) { "Permissions" } %>
      <% subhead.with_description(font_size: :small, color: :muted) do %>
        Read our <%= link_to "permissions documentation", permissions_view.resource_docs_url(nil), target: "_blank", rel: "noopener noreferrer", class: "Link--inTextBlock" %> for information about specific permissions.
      <% end %>
    <% end %>
  <% end %>

    <%= render "personal_access_tokens/token_summary", programmatic_access: current_access %>

    <div class="mt-4 d-flex flex-justify-start">
      <% if current_grant_request %>
        <%= render(Primer::Beta::Button.new(scheme: :default, classes: "js-toggle-grant-summary")) { "Cancel" } %>
      <% else %>
        <% save_message = requesting_access ? "Request update" : "Update" %>
        <%= render(Primer::Beta::Button.new(type: :submit, mr: 1, scheme: :primary, classes: "js-integrations-install-form-submit")) { save_message } %>
        <%= render(Primer::Beta::Button.new(scheme: :default, classes: "js-toggle-grant-summary js-grant-reload")) { "Cancel" } %>
      <% end %>
    </div>

    <% unless requesting_access %>
      <p class="note text-small mt-2 color-fg-muted">This token will be ready for use immediately.</p>
    <% end %>
  <% end %>
</div>
