<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% if grant.repositories.empty? %>
  <% if grant.repository_selection == "none" %>
    <div class="Box mt-2 text-center py-4">
      <%= render Primer::BlankslateComponent.new(title_tag: :h5, title: t("personal_access_tokens.repository_selection.none.granted")) %>
    </div>
  <% else # this can occur if the access is for all repos and the organization has none %>
    <div class="Box mt-2 text-center py-4">
      <%= render Primer::BlankslateComponent.new(title_tag: :h5, title: t("personal_access_tokens.repository_selection.subset.none_accessible.granted")) %>
    </div>
  <% end %>
<% else %>
  <% if grant.repository_selection == "all" %>
    <div class="Box mt-2 text-center py-4">
      <% resource_owner = grant.target&.organization? ? "the organization" : "you" %>
      <%= render Primer::BlankslateComponent.new(title_tag: :h5, title: t("personal_access_tokens.repository_selection.all.granted.resource_owner", resource_owner: resource_owner)) %>
    </div>
  <% else %>
    <%= render(Primer::Beta::BorderBox.new(classes: "overflow-y-auto", style: "max-height: 320px")) do |component| %>
      <% grant.repositories.each do |repository| %>
        <% component.with_row(display: :flex, justify_content: :center) do %>
          <div class="d-flex flex-column flex-1">
            <span class="color-fg-muted">
              <%= repository.name_with_display_owner %>
            </span>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<%end%>
