<% repository_selection = current_grant_request.repository_selection %>

<div id="js-grant-form" hidden>
  <%= render(Primer::Beta::Subhead.new(spacious: true, hide_border: true)) do |component| %>
    <% component.with_heading(tag: :h4, font_size: 4, font_weight: :bold) { "Reason provided" } %>
  <% end %>
  <%= render(Primer::Box.new(bg: :subtle, p: 3)) { current_grant_request.body_html } %>

  <%= render(Primer::Beta::Subhead.new(spacious: true, hide_border: true)) do |component| %>
    <% component.with_heading(tag: :h4, font_size: 4, font_weight: :bold) { "Repository access" } %>
    <% component.with_description(font_size: :small, color: :muted) { "Selected repositories" } %>
  <% end %>

  <%= render "personal_access_tokens/select_repositories", view: repositories_view, skip_heading: true, display_as_list: true %>

  <div hidden>
    <%= render(ProgrammaticAccess::PermissionsSelectionComponent.new(view: permissions_view, current_target: current_target, hide_repository_permissions: repository_selection == "none")) do |component| %>
    <% component.with_subhead(border_bottom: 0) do |subhead|%>
      <% subhead.with_heading(tag: :h4, font_size: 4, font_weight: :bold) { "Permissions" } %>
      <% subhead.with_description(font_size: :small, color: :muted) do %>
        Read our <%= link_to "permissions documentation", permissions_view.resource_docs_url(nil), target: "_blank", rel: "noopener noreferrer", class: "Link--inTextBlock" %> for information about specific permissions.
      <% end %>
    <% end %>
  <% end %>
  </div>

  <%= render "personal_access_tokens/token_summary", programmatic_access: current_access %>
  <%= render(Primer::Beta::Button.new(scheme: :default, mt: 5, classes: "js-toggle-grant-summary")) { "Show current access" } %>
</div>
