<% requesting_access = !ProgrammaticAccessGrantRequest.approvable_by?(current_target, current_user) %>
<% url = current_target.organization? ? settings_user_access_request_org_access_path(current_access, current_target) : settings_user_access_request_user_access_path(current_access, current_target) %>

<%= form_for current_access, method: :post, :url => url, :html => {:"aria-label" => "Personal access token", id: "programmatic-access-grant-form", class: "js-user-programmatic-access-form" } do |f| %>
  <% if requesting_access %>
    <%= render partial: "personal_access_tokens/request_reason_form" %>
  <% end %>

  <%= render(Primer::Beta::Subhead.new(spacious: true, hide_border: true)) do |component| %>
    <% component.with_heading(tag: :h4, font_size: 4, font_weight: :bold) { "Repository access" } %>
    <% component.with_description(font_size: :small, color: :muted) { "Select the repositories this token can access.  Personal access tokens can always read from all public repositories on GitHub.com." } %>
  <% end %>
  <%= render "personal_access_tokens/select_repositories", view: repositories_view, skip_heading: true %>

  <%= render(ProgrammaticAccess::PermissionsSelectionComponent.new(view: permissions_view, hide_repository_permissions: repositories_view.programmatic_access_install_target_radio_checked?(:none), current_target: current_target)) do |component| %>
    <% component.with_subhead(border_bottom: 0) do |subhead|%>
      <% subhead.with_heading(tag: :h4, font_size: 4, font_weight: :bold) { "Permissions" } %>
      <% subhead.with_description(font_size: :small, color: :muted) do %>
        Select the type of access you need for each resource. Read our <%= link_to "permissions documentation", permissions_view.resource_docs_url(nil), target: "_blank", rel: "noopener noreferrer", class: "Link--inTextBlock" %> for information about specific permissions.
      <% end %>
   <% end %>
  <% end %>

  <%= render "personal_access_tokens/token_summary", programmatic_access: token %>

  <div class="mt-4 d-flex flex-justify-start">
    <% message = requesting_access ? "Request access" : "Update" %>

    <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary, classes: "js-integrations-install-form-submit")) { message } %>
    <%= render(Primer::Beta::Button.new(
      type: :button, scheme: :invisible, tag: :a,
      href: settings_user_tokens_path(type: PersonalAccessTokensController::BETA_VERSION)
    )) { "Cancel" } %>
  </div>

  <% unless requesting_access %>
    <p class="note text-small mt-2 color-fg-muted">This token will be ready for use immediately.</p>
  <% end %>
<% end %>
