<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<div class="form-group">
  <div class="form-group-header">
    <label id="access-target-label" for="target_type_selector">Resource owner</label>
  </div>
  <div class="form-group-body">
    <%= render(GitHub::MenuComponent.new(classes: "js-target-container")) do |menu| %>
      <% menu.with_summary do %>
        <summary role="button" class="btn select-menu-button with-gravatar">
          <span data-menu-button>
            <%= render(GitHub::AvatarComponent.new(actor: current_target, mr: 1)) %>
            <span class="text-normal"><%= " #{current_target.display_login} " %></span>
          </span>
        </summary>
      <% end %>

      <% menu.with_body do %>
        <% accessible_organizations = current_user.organizations.select(&:patsv2_enabled?) %>
        <% actors = [current_user, accessible_organizations.to_a].flatten %>
        <% actors.each do |actor| %>
          <% checked = current_target == actor %>

          <label role="menuitemradio" aria-checked="<%= checked %>" class="SelectMenu-item text-normal" tabindex="0" data-src="<%= user_access_token_select_access_path(id: current_access&.id, target_name: actor.display_login) %>">
            <input type="radio" name="target_name" value="<%= actor.display_login %>" autocomplete="off" hidden <% if checked%>checked<% end %>>
            <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>

            <div data-menu-button-contents>
              <%= render(GitHub::AvatarComponent.new(actor: actor, mr: 1)) %>
              <span class="text-normal"><%= " #{actor.display_login} " %></span>
            </div>
          </label>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
