<% requesting_access = !ProgrammaticAccessGrantRequest.approvable_by?(current_target, current_user) %>

<% if requesting_access %>
  <%= render partial: "personal_access_tokens/request_reason_form" %>
<% end %>

<%= render "personal_access_tokens/select_repositories", view: repositories_view %>
<%= render(ProgrammaticAccess::PermissionsSelectionComponent.new(view: permissions_view, hide_repository_permissions: repositories_view.programmatic_access_install_target_radio_checked?(:none), current_target: current_target)) do |component| %>
  <% component.with_subhead(spacious: true) do |subhead|%>
    <% subhead.with_heading(tag: :h3, font_size: 3) { "Permissions" } %>
  <% end %>
  <% component.with_description do %>
     Read our <%= link_to "permissions documentation", permissions_view.resource_docs_url(nil), target: "_blank", rel: "noopener noreferrer", class: "Link--inTextBlock" %> for information about specific permissions.
  <% end %>
<% end %>

<%= render "personal_access_tokens/token_summary", programmatic_access: token %>

<div class="mt-4 d-flex flex-justify-start">
  <% message = requesting_access ? "Generate token and request access" : "Generate token" %>

  <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary, "data-disable-invalid": "", classes: "js-integrations-install-form-submit")) { message } %>
  <%= render(Primer::Beta::Button.new(
    type: :button, scheme: :invisible, tag: :a,
    href: settings_user_tokens_path(type: PersonalAccessTokensController::BETA_VERSION)
  )) { "Cancel" } %>
</div>

<% unless requesting_access %>
  <p class="note text-small mt-2 color-fg-muted">This token will be ready for use immediately.</p>
<% end %>
