<%# erblint:counter DeprecatedComponentsCounter 4 %>
<% in_edit_mode ||= token.errors.any? %>
<% in_display_mode = !in_edit_mode %>

<%= render Primer::Box.new('data-replace-remote-form-target': '') do %>
  <%= form_for token, method: :put, data: { 'replace-remote-form': true }, :url => settings_user_access_token_path(token), :html => {:"aria-label" => "Personal access token", class: "js-user-programmatic-access-form" } do |f| %>
    <% if token.errors.any? %>
      <%= render(Primer::Beta::Flash.new(scheme: :danger, dismissible: true, mb: 2)) { token.errors.full_messages.to_sentence } %>
    <% end %>

    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        <p <%= "hidden" if in_edit_mode %> class="js-token-display-field"><%= token.name_was %></p>
        <%=
          f.text_field :name,
            class: "f3 mb-2 js-token-form-field",
            hidden: in_display_mode,
            required: true,
            size: ProgrammaticAccessToken.name_max_length
          %>
      <% end %>
      <% component.with_description do %>
        <% if token.description.blank? %>
          <%= render(Primer::Beta::Text.new(tag: :p, hidden: in_edit_mode, mb: 0, classes: "js-token-display-field", color: :subtle)) { "No description" } %>
        <% else %>
          <%= render(Primer::Beta::Text.new(tag: :p, hidden: in_edit_mode, mb: 0, classes: "js-token-display-field")) { token.description } %>
        <% end %>
        <%=
          f.text_area :description,
            hidden: in_display_mode,
            size: ProgrammaticAccessToken.description_max_length,
            class: "short width-full mb-2 js-token-form-field"
          %>
      <% end %>
      <% component.with_actions do %>
        <%= render(Primer::ButtonComponent.new(size: :small, id: "js-token-action-edit", classes: "js-token-display-field", hidden: in_edit_mode)) { "Edit" } %>
        <%= render(Primer::ButtonComponent.new(size: :small, id: "js-token-action-save", classes: "js-token-form-field", hidden: in_display_mode, type: :submit)) { "Save" } %>
        <%= render(Primer::ButtonComponent.new(size: :small, id: "js-token-action-cancel", classes: "js-token-form-field", hidden: in_display_mode, scheme: :invisible)) { "Cancel" } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
