<% page_info :title => 'Fine-grained Personal Access Tokens', :selected_link => :access_tokens %>

<% content = capture do %>
  <div class="settings-next">
    <% beta_version = PersonalAccessTokensController::BETA_VERSION %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        <span>Fine-grained personal access tokens</span>
        <%= render(Primer::Beta::Label.new(label: beta_version.capitalize, title: "Label: #{beta_version.capitalize}", ml: 1, scheme: :success, vertical_align: :middle))  { beta_version.capitalize } %>
      <% end %>
      <% component.with_actions do %>
        <%= link_to "Generate new token", new_settings_user_access_token_path, :class => "btn btn-sm", "data-pjax" => true %>
      <% end %>
    <% end %>
    <% if tokens.empty? %>
      <p>Need an API token for scripts or testing? <a class="Link--inTextBlock" href="<%= new_settings_user_access_token_path %>" data-pjax>Generate a personal access token</a> for quick access to the <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>">GitHub API</a>.</p>
    <% else %>
      <p class="mb-3">
        These are fine-grained, repository-scoped tokens suitable for personal <a class="Link--inTextBlock" rel="noopener noreferrer" href="<%= GitHub.developer_help_url %>/en/rest" target="_blank">API</a> use and for using Git over HTTPS.
      </p>

      <div class="listgroup">
        <%= render partial: "personal_access_tokens/token", collection: tokens %>
      </div>
      <div class="paginate-container">
        <%= will_paginate tokens, class: "d-flex d-md-inline-block pagination" %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render layout: "settings/developer_settings" do %>
  <%= content %>
<% end %>
