<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Regenerate Fine-grained Personal Access Token", selected_link: :access_tokens %>
<% beta_version = PersonalAccessTokensController::BETA_VERSION %>

<%= render layout: "settings/developer_settings" do %>
  <div class="settings-next">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Regenerate fine-grained personal access token<% end %>
    <% end %>

    <p class="mb-3">Submitting this form will generate a new token. Be aware that any scripts or applications using this token will need to be updated.</p>

    <%= form_for token, method: :post, url: regenerate_user_access_token_path(token), html: { class: "js-edit-oauth-access" } do |f| %>
      <div class="form">
        <%= render :partial => "oauth_tokens/expiration_date_picker", :locals => { :f => f, :access => token } %>
      </div>
      <%= hidden_field_tag "index_page", params[:index_page] %>
      <p>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>Regenerate token<% end %>
        <%= link_to "Cancel", settings_user_tokens_path(type: beta_version), :class => "btn btn-invisible" %>
      </p>
    <% end %>
  </div>
<% end %>
