<% use_colon_emoji = local_assigns.key?(:use_colon_emoji) ? local_assigns[:use_colon_emoji] : false %>
<% cache emoji_suggestions_cache_key(use_colon_emoji: use_colon_emoji, tone: local_assigns[:tone]) do %>
  <ul role="listbox" class="suggester-container suggester suggestions emoji-suggestions list-style-none position-absolute">
    <% emojis.each do |emoji| %>
      <li role="option" id="emoji-<%= emoji.name %>"<% if use_colon_emoji %> data-use-colon-emoji<% end %> data-value=":<%= emoji.name %>:" data-emoji-name="<%= emoji.name %>" data-text="<%= (emoji.aliases + emoji.tags).join(" ") %>">
        <% if emoji.raw %>
          <%= emoji_tag(emoji, class: "emoji-result", tone: local_assigns[:tone]) %>
        <% else %>
          <img class="emoji emoji-result" height="20" width="20" align="absmiddle" alt=":<%= emoji.name %>:" src="<%= image_path "icons/emoji/#{emoji.image_filename}" %>">
        <% end %>
        <%= emoji.name %>
      </li>
    <% end %>
  </ul>
<% end %>
