<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<% pr_can_convert_to_draft = pull_request.can_convert_to_draft?(current_user) %>
<% convert_to_draft_url = pull_request_convert_to_draft_path(current_repository.owner, current_repository, local_assigns[:pull_request]) %>
<div class="py-2 d-flex">
  <span class="mr-1">Still in progress?</span>

  <% if pr_can_convert_to_draft %>
    <details class="details-reset details-overlay details-overlay-dark d-inline">
      <summary role="button" class="btn-link Link--muted Link--inTextBlock">Convert to draft</summary>
      <details-dialog class="Box Box--overlay anim-fade-in fast" aria-labelledby="convert-to-draft"><%# erblint:disable A11yDetailsDialogMigration %>
        <div class="Box-header">
          <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
            <%= primer_octicon(:x) %>
          </button>
          <h3 class="Box-title" id="convert-to-draft">Convert this pull request to draft?</h3>
        </div>
        <%= render(Primer::Beta::Flash.new(scheme: :warning, full: true)) do %>
          People who are already subscribed will not be unsubscribed.
        <% end %>
        <div class="Box-footer">
          <%= render Primer::ButtonComponent.new(block: :true, scheme: :danger, classes: "js-convert-to-draft", "data-url": convert_to_draft_url) do %>Convert to draft<% end %>
          <%= csrf_hidden_input_for convert_to_draft_url, class: "js-data-url-csrf" %>
        </div>
      </details-dialog>
    </details>
  <% else %>
    <%
      hydro_label = "user:#{current_user&.id};repo:#{current_repository&.id};"

      if current_repository.organization.present?
        hydro_label += "org:#{current_repository.organization.id};"
      end

      GlobalInstrumenter.instrument("analytics.event",
        category: "sculk_draft_pr_sidebar_link",
        action: "draft_pr_sidebar_link_viewed",
        label: hydro_label
      )
    %>

    <%= render(Primer::ButtonComponent.new(
      color: :muted,
      flex: :auto,
      scheme: :link,
      underline: false,
      display: :flex,
      justify_content: :space_between,
      align_items: :center,
      classes: "Link--secondary",
      "data-show-dialog-id": "drafts-upgrade-dialog",
      data: analytics_click_attributes(
        category: "sculk_draft_pr_sidebar_link",
        action: "click_to_open_draft_pr_dialog",
        label: "ref_cta:ref_cta:learn_about_draft_prs;ref_loc:pr_sidebar_link"
      )
    )) do %>
      <div class="d-flex width-full flex-justify-between flex-items-center">
        Learn about draft PRs
        <%= render(Primer::Beta::Octicon.new(icon: "info", ml: 1, mt: 0)) %>
      </div>
    <% end %>
    <%= render(PullRequests::DraftsUpgradeDialogComponent.new(
      repository: current_repository,
      current_user: current_user,
      location: "sidebar_link"
    )) %>
  <% end %>
</div>
