<%
  input_name = if local_assigns[:subject_kind] == :discussion
    "discussion[labels][]"
  else
    "issue[labels][]"
  end

  # For typeahead, we are using this as a template that will be replaces on the client side. Creating stub label for this case.
  label ||= IssuesHelper::LabelPlaceholder.new(name: "", color: "", id: -1, name_html: "", description: "stub")
%>
<label
  class="select-menu-item label-select-menu-item text-normal js-filterable-label"
  role="menuitemcheckbox"
  aria-checked="<%= selected %>"
  tabindex="0"
  data-prio-filter-value="<%= label.name %>">
  <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
  <div class="select-menu-item-text">
    <input hidden
           type="checkbox"
           data-label-name="<%= label.name %>"
           value="<%= label.id %>"
           name="<%= input_name %>"
           <% if selected %>checked<% end %>>

     <div class="float-left color mr-2 js-label-color" label-color="<%= label.color %>" style="margin-top: 2px; background-color: #<%= label.color %>"></div>
       <div>
         <%= primer_octicon(:x, ml: 2) %>
         <div data-name="<%= label.id %>" class="css-truncate js-label-id">
           <span class="name js-label-name-html"><%= label.name_html %></span>
           <% if label.description.present? %>
             <div class="description d-block css-truncate-target m-0 js-label-description">
               <%= label.description %>
             </div>
           <% end %>
        </div>
      </div>
  </div>
</label>
