<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  project_owner = item.memex_project.owner
  is_memex_template = item.memex_project.is_template?
  count_fields = count_user_defined_fields[item.memex_project.id]

  update_url ||= update_memex_item_path(memex_id: item.memex_project.id)
  unarchive_url ||= unarchive_memex_items_path(memex_id: item.memex_project.id)
  show_url = item.memex_project.owner.organization? ? show_org_memex_path(project_owner, item.memex_project.number) : show_user_memex_path(project_owner, item.memex_project.number)
  is_readonly = !viewer_can_write
%>
<collapsible-sidebar-widget url="<%= edit_form_memex_item_path(memex_id: item.memex_project.id, memex_project_item_id: item.id) %>">
  <div class="mb-2 border p-2 rounded-2 color-fg-muted">
    <div class="d-flex width-full flex-justify-between flex-items-center">
      <%= link_to show_url, class: "css-truncate css-truncate-overflow f6 text-bold #{item.archived? ? 'Link--secondary' : 'Link--primary'} no-underline mr-4" do %>
        <% if is_memex_template %>
          <%= render(Primer::Beta::Octicon.new("project-template")) %>
        <% else %>
          <%= render(Primer::Beta::Octicon.new("table")) %>
        <% end %>
        <span class="ml-1"><%= item.memex_project.display_title %></span>
      <% end %>
        <% if !count_fields.nil? && count_fields > 0 %>
        <button type="button" tabindex="-1" aria-label="See more fields ..." class="collapsible-sidebar-widget-button" data-action="mousedown:collapsible-sidebar-widget#onMouseDown keydown:collapsible-sidebar-widget#onKeyDown" <%= test_selector "memex-expand-item" %>>
          <svg xmlns="http://www.w3.org/2000/svg" class="collapsible-sidebar-widget-indicator octicon" viewBox="0 0 16 16" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12.78 6.22a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06 0L3.22 7.28a.75.75 0 011.06-1.06L8 9.94l3.72-3.72a.75.75 0 011.06 0z"></path></svg>
          <svg class="collapsible-sidebar-widget-loader anim-rotate" viewBox="0 0 16 16" fill="none" width="16" height="16" aria-hidden="true">
            <circle cx="8" cy="8" r="7" stroke="currentColor" stroke-opacity="0.25" stroke-width="2" vector-effect="non-scaling-stroke"></circle>
            <path d="M15 8a7.002 7.002 0 00-7-7" stroke="currentColor" stroke-width="2" stroke-linecap="round" vector-effect="non-scaling-stroke"></path>
          </svg>
        </button>
      <% end %>
    </div>
    <div>
      <div class="d-flex flex-wrap flex-justify-between flex-items-center pt-2">
        <% if item.archived? %>
          <%= render Sidebar::MemexRestoreItemComponent.new(
            item: item,
            unarchive_url: unarchive_url,
            readonly: is_readonly
          ) %>
        <% else %>
          <%= render Sidebar::MemexStatusComponent.new(
              item: item,
              status: status_column_values[item.id],
              update_url: update_url,
              readonly: is_readonly
          ) %>
          <% if !count_fields.nil? && count_fields > 0 %>
            <%= render Primer::ButtonComponent.new(
              scheme: :link,
              classes: "Link--primary",
              data: { action: "mousedown:collapsible-sidebar-widget#onMouseDown keydown:collapsible-sidebar-widget#onKeyDown" }
            ) do %>
              +<%= count_fields %> more
            <% end %>
          <% end %>
        <% end %>

      </div>
    </div>
    <div class="collapsible-sidebar-widget-content" data-target="collapsible-sidebar-widget.collapsible"></div>
  </div>
</collapsible-sidebar-widget>
