<%# rubocop:disable Lint/InstanceVariable %>
<%
current_milestone = @issue.milestone if @issue
open_milestones, closed_milestones = current_repository.available_milestones(current_milestone: current_milestone)
%>

<tab-container>
  <div class="select-menu-filters width-full">
    <div class="select-menu-text-filter">
      <input type="text" id="context-milestone-filter-field" class="form-control js-filterable-field" autofocus placeholder="Filter milestones" aria-label="Filter milestones" autocomplete="off">
    </div>
    <div class="select-menu-tabs" role="tablist">
      <ul>
        <li class="select-menu-tab">
          <button type="button" role="tab" class="select-menu-tab-nav" aria-selected="true">Open</button>
        </li>
        <li class="select-menu-tab">
          <button type="button" role="tab" class="select-menu-tab-nav">Closed</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="select-menu-list" role="tabpanel">
    <% if current_milestone %>
      <label class="select-menu-clear-item select-menu-item" role="menuitemradio" tabindex="0" aria-checked="false">
        <%= radio_button_tag 'milestone', 'clear' %>
        <%= primer_octicon(:x, classes: 'select-menu-item-icon') %>
        <div class="select-menu-item-text">Clear this milestone</div>
      </label>
    <% end %>

    <div data-filterable-for="context-milestone-filter-field" data-filterable-type="substring">
      <% if current_milestone && current_milestone.open? %>
        <label class="select-menu-item text-normal" role="menuitemradio" tabindex="0" aria-checked="true">
          <%= radio_button_tag 'milestone', current_milestone.id, true %>
          <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
          <div class="select-menu-item-text">
            <span class="select-menu-item-heading"><%=h current_milestone.title %></span>
            <span class="description"><%= milestone_due_text(current_milestone) %></span>
          </div>
        </label>
      <% end %>

      <% open_milestones.each do |milestone| %>
        <label class="select-menu-item text-normal" role="menuitemradio" tabindex="0" aria-checked="false">
          <%= radio_button_tag 'milestone', milestone.id %>
          <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
          <div class="select-menu-item-text">
            <span class="select-menu-item-heading"><%=h milestone.title %></span>
            <span class="description"><%= milestone_due_text(milestone) %></span>
          </div>
        </label>
      <% end %>
    </div>

    <label class="select-menu-item select-menu-new-item-form js-new-item-form text-normal" tabindex="0" role="menuitemradio" aria-checked="false">
      <input type="radio" name="milestone" value="new">
      <input type="hidden" class="js-new-item-value" name="milestone_title">

      <%= primer_octicon(:milestone, classes: 'select-menu-item-icon') %>
      <div class="select-menu-item-text">
        <span class="select-menu-item-heading">Create and assign to new milestone:</span>
        <span class="description js-new-item-name"></span>
      </div>
    </label>

    <% if !open_milestones.any? %>
      <div class="select-menu-no-results">Nothing to show</div>
    <% end %>
  </div>

  <div class="select-menu-list" role="tabpanel" hidden>

    <div data-filterable-for="context-milestone-filter-field" data-filterable-type="substring" role="menu">
      <% if current_milestone && current_milestone.closed? %>
        <label class="select-menu-item text-normal" role="menuitemradio" tabindex="0" aria-checked="true">
          <%= radio_button_tag 'milestone', current_milestone.id, true %>
          <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
          <div class="select-menu-item-text">
            <span class="select-menu-item-heading"><%=h current_milestone.title %></span>
            <span class="description"><%= milestone_due_text(current_milestone) %></span>
          </div>
        </label>
      <% end %>

      <% closed_milestones.each do |milestone| %>
        <label class="select-menu-item text-normal" role="menuitemradio" tabindex="0" aria-checked="false">
          <%= radio_button_tag 'milestone', milestone.id %>
          <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
          <div class="select-menu-item-text">
            <span class="select-menu-item-heading"><%=h milestone.title %></span>
            <span class="description"><%= milestone_due_text(milestone) %></span>
          </div>
        </label>
      <% end %>
    </div>

    <div class="select-menu-no-results">Nothing to show</div>
  </div>
</tab-container>
