<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%
  card ||= find_card_for_sidebar(issue: issue, card_id: params[:card_id])
  writable = card&.writable_by?(current_user)
  # Only need to do a readable check if writable is false
  readable = writable || card&.readable_by?(current_user)
  card = nil unless card && readable
  project = card&.project
  columns = project&.columns
  card_column = card&.column
  column_name = card_column ? truncate(card_column.name, length: 40) : "Awaiting triage"
  show_columns_menu ||= false
%>

<% if card %>
  <div class="d-flex js-socket-channel js-updatable-content mb-2 border rounded-2 p-2"
    data-channel="<%= live_update_view_channel(project.channel) %>"
    data-url="<%= show_partial_issue_path(id: card.content, partial: "issues/sidebar/project_card_move", card_id: card.id, show_columns_menu: show_columns_menu) %>"
  >
    <div class="d-flex flex-items-start mt-1 mr-2">
      <% if card.archived? %>
        <span class="tooltipped tooltipped-s" aria-label="Archived"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
          <%= primer_octicon(:archive, color: :muted, p: 0) %>
        </span>
      <% elsif project.public? %>
        <%= primer_octicon(:project, color: :muted, p: 0) %>
      <% else %>
        <%= primer_octicon(:lock, color: :muted, p: 0) %>
      <% end %>
    </div>
    <div class="d-flex flex-column flex-auto min-width-0">
      <%= link_to project_path(project, anchor: "card-#{card.id}"), class: "f6 text-bold Link--primary no-underline", data: hovercard_data_attributes_for_project(project: project) do %>
        <span class="css-truncate css-truncate-target width-fit"><%= truncate project.name, length: 40 %></span>
      <% end %>
      <% if project.progress.enabled? %>
        <div class="mt-1">
          <%= render partial: "projects/project_progress", locals: { progress: project.progress } %>
        </div>
      <% end %>

      <% if show_columns_menu && writable %>
        <% if card_column || project.open? %>
          <% column_class_names = card_column ? "css-truncate css-truncate-target" : "text-italic" %>
          <div class="d-flex">
            <details class="details-overlay details-reset dropdown js-dropdown-details js-project-column-menu-dropdown mt-1 hx_dropdown-fullscreen">
              <summary class="color-fg-muted" aria-haspopup="menu" style="padding-right: 14px">
                <span class="f6 color-fg-muted d-inline-block js-project-column-menu-summary <%= column_class_names %>" style="max-width: 152px;"><%= column_name %></span>
                <span class="dropdown-caret"></span>
              </summary>
              <details-menu src="<%= project_card_columns_path(project, card) %>" class="dropdown-menu dropdown-menu-sw" role="menu" style="width: 280px"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                <include-fragment>
                  <%= render(Primer::Beta::Spinner.new(my: 5, mx: :auto, display: :block)) %>
                </include-fragment>
              </details-menu>
            </details>
          </div>
        <% end %>
      <% else %>
        <div class="f6 css-truncate css-truncate-target color-fg-muted d-block mr-1 js-project-column-menu-summary" style="max-width: 160px;">
          <%= truncate column_name, length: 40 %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
