<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  linked_item_type = issue_or_pr.is_a?(PullRequest) ? "issues" : "pull requests"
  at_limit = existing_manual_references.count >= max_manual_reference_count
%>

<%# Link a branch or pull request %>
<%# Select a repository to search for branches and pull requests or
 create a new branch %>

<div class="select-menu-filters">
  <div class="select-menu-text-filter">
    <input type="text" id="references-sidebar-filter-field" class="form-control js-filterable-field"
          placeholder=<%= "Filter #{linked_item_type}" %> aria-label=<%= "Filter #{linked_item_type}" %>  autofocus autocomplete="off">
  </div>
</div>

<div class="warning mb-0" <% unless at_limit %>hidden<% end %> data-menu-max-options-warning>
  You may only link <%= "#{max_manual_reference_count} #{linked_item_type}" %>.
</div>

<div class="select-menu-list">
  <div data-filterable-for="references-sidebar-filter-field" data-filterable-type="substring">
    <% existing_manual_references.each do |reference| %>
      <label class="select-menu-item d-flex text-normal css-truncate" aria-checked="true" role="menuitemcheckbox" tabindex="0">
        <div><%= primer_octicon(:check, classes: "select-menu-item-icon") %></div>
        <div class="mr-1"><%= issue_pr_state_octicon_ar(reference) %></div>

        <div class="select-menu-item-text flex-auto">
          <input hidden
                  type="checkbox"
                  name="connection_ids[]"
                  value="<%= reference.id %>"
                  checked>

          <strong class="css-truncate-target markdown-title" style="max-width:240px;">
            <%= title_markdown(reference.title) %>
          </strong>
          <div class="description">
            <%= "#{reference.repository.name_with_display_owner}##{reference.number}" %>
          </div>
        </div>
      </label>
    <% end %>
    <% existing_xrefs.each do |reference| %>
      <label class="select-menu-item d-flex text-normal css-truncate" aria-checked="true" tabindex="0" style="opacity:0.5;">
        <div><%= primer_octicon(:check, classes: "select-menu-item-icon") %></div>
        <div class="mr-1"><%= issue_pr_state_octicon_ar(reference) %></div>

        <div class="select-menu-item-text flex-auto">
          <strong class="css-truncate-target markdown-title" style="max-width:240px;">
            <%= title_markdown(reference.title) %>
          </strong>
          <div class="description">
            <%= "#{reference.repository.name_with_display_owner}##{reference.number}" %>
          </div>
        </div>
      </label>
    <% end %>
    <% all_possible_references.each do |reference| %>
      <% reference_at_limit = manual_reference_ids_at_limit.include? reference.id %>
      <label class="select-menu-item d-flex text-normal css-truncate" aria-checked="false" role="menuitemcheckbox" tabindex="0" <% if reference_at_limit %>style="opacity:0.5" <% end %>>
        <div><%= primer_octicon(:check, classes: "select-menu-item-icon") %></div>
        <div class="mr-1"><%= issue_pr_state_octicon_ar(reference) %></div>
        <div class="select-menu-item-text">
          <input hidden
                  type="checkbox"
                  name="connection_ids[]"
                  <%  if at_limit || reference_at_limit %>disabled<% end %>
                  value="<%= reference.id %>">

          <strong class="css-truncate-target markdown-title" style="max-width:240px;">
            <%= title_markdown(reference.title) %>
          </strong>
          <div class="description">
            <%= "#{reference.repository.name_with_display_owner}##{reference.number}" %>
          </div>
        </div>
      </label>
    <% end %>
  </div>

  <div class="select-menu-no-results">No results</div>
</div>

<% if BranchIssueReference.creatable_for?(user: current_user, issue: issue_or_pr, repository: current_repository) %>
  <% unless issue_or_pr.is_a?(PullRequest) %>
    <%= render Primer::ButtonComponent.new(
      scheme: :link,
      display: :flex,
      w: :full,
      align_items: :center,
      color: :muted,
      border: :top,
      data: { action: "click:create-branch#openDialog" },
      classes: "issue-create-branch-menu-action select-menu-item last-visible") do |c| %>
      <% c.with_leading_visual_icon(icon: :plus) %>
      Create a branch
    <% end %>
  <% end %>
<% end %>
