<%
  display_assignees = issue.assignees.any?
  display_labels = show_labels_ui?(current_repository) && issue.labels.any?
  # We are currently missing memex items and should add them here if keeping responsive meta info portion of UI
  display_projects = ProjectsClassicSunset.projects_classic_ui_enabled?(current_user, org: current_repository&.organization) && show_projects_ui?(current_repository) && project_cards.any?
  display_milestones = show_milestones_ui?(current_repository) && issue.milestone.present?
%>
<% if [display_assignees, display_labels, display_projects, display_milestones].any? %>
  <div class="d-block d-md-none border-bottom mb-4 f6">
    <% if display_assignees %>
      <div class="d-flex mb-3">
        <span class="text-bold color-fg-muted col-3 col-sm-2 flex-shrink-0">Assignees</span>
        <div class="min-width-0">
          <% issue.assignees.each do |assignee| %>
            <%= profile_link assignee, class: "no-underline" do %>
              <%= avatar_for assignee, 20, class: "avatar" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if display_labels %>
      <div class="d-flex mb-3">
        <span class="text-bold color-fg-muted col-3 col-sm-2 flex-shrink-0">Labels</span>
        <div class="min-width-0 d-flex flex-wrap mt-n1">
          <% issue.sorted_labels.each do |label| %>
            <%= render Issues::LabelComponent.new(
                color: label.color,
                name: label.name,
                description: label.description,
                href: gh_label_path(label, current_repository),
                w: :fit,
                mb: 1, mr: 1) do |component| %>
              <span class="css-truncate css-truncate-target width-fit"><%= label.name_html %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if display_projects %>
      <div class="d-flex mb-3">
        <span class="text-bold color-fg-muted col-3 col-sm-2 flex-shrink-0">Projects</span>
        <div class="min-width-0">
          <% project_cards.each do |card| %>
            <% project = card&.project %>
            <%= link_to project_path(project, anchor: "card-#{card&.id}"), class: "Link--primary text-bold no-underline mr-2", data: hovercard_data_attributes_for_project(project: project) do %>
              <% if card.archived? %>
                <%= primer_octicon(:archive, color: :muted, p: 0) %>
              <% elsif project.public? %>
                <%= primer_octicon(:project, color: :muted, p: 0) %>
              <% else %>
                <%= primer_octicon(:lock, color: :muted, p: 0) %>
              <% end %>

              <span class="css-truncate css-truncate-target" style="max-width: 160px;"><%= truncate project.name, length: 40 %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if display_milestones %>
      <div class="d-flex mb-3">
        <span class="text-bold color-fg-muted col-3 col-sm-2 flex-shrink-0">Milestone</span>
        <div class="min-width-0">
          <a title="<%= issue.milestone.title %>" href="<%= gh_milestone_path(issue.milestone, current_repository) %>" class="Link--primary text-bold no-underline"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
            <%= primer_octicon(:milestone, color: :muted) %>
            <span class="css-truncate css-truncate-target"><%= truncate(issue.milestone.title, :length => 20) %></span>
          </a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
