<% possible_reviewers ||= issue.pull_request.pending_review_requests.map(&:reviewer).compact %>
<% single_select ||= false %>

<div class="select-menu-filters">
  <div class="select-menu-text-filter hx_form-control-spinner-wrapper">
    <input
      type="text"
      id="review-filter-field"
      class="form-control js-filterable-field"
      placeholder="<%= "Type or choose a user" %>"
      aria-label="<%= "Type or choose a user" %>"
      autofocus spellcheck="false"
      autocomplete="off">
      <%= render(Primer::Beta::Spinner.new(size: :small, classes: "hx_form-control-spinner")) %>
  </div>
</div>

<div class="warning" hidden data-menu-max-options-warning>
  You can only select <%= pluralize issue.pull_request.manual_review_requests_limit, "reviewer" %>.
</div>

<div class="select-menu-list">
  <div class="select-menu-no-results">Nothing to show</div>

  <div
    data-filterable-for="review-filter-field"
    data-filterable-type="substring-memory"
    data-filterable-limit="100"
    data-filterable-src="<%= data_source %>">
    <% possible_reviewers.each do |reviewer| %>
      <% type = reviewer.is_a?(Team) ? "team" : "user" %>
      <input type="hidden" name="reviewer_<%= type %>_ids[]" value="<%= reviewer.id %>">
    <% end %>
    <input type="hidden" name="dummy-field-just-to-avoid-empty-submit" value="foo">

    <template>
      <label class="select-menu-item text-normal" role="<%= single_select ? "menuitemradio" : "menuitemcheckbox" %>" aria-checked="false" tabindex="0">
        <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>

        <input style="display:none"
               type="<%= single_select ? "radio" : "checkbox" %>"
               value=""
               name="reviewer_user_ids[]">

        <div class="select-menu-item-gravatar">
          <img src="" alt="" size="20" class="avatar-small mr-1 js-avatar">
        </div>

        <div class="select-menu-item-text lh-condensed">
          <span class="select-menu-item-heading">
            <span class="js-username"></span>
            <span class="description js-description"></span>
            <span class="description d-block ml-4 pl-1 pr-2 js-extended-description"></span>
          </span>
        </div>
      </label>
    </template>

    <%= render(Primer::Beta::Spinner.new(my: 5, mx: :auto, display: :block)) %>

    <div class="select-menu-divider js-divider-suggestions" hidden>Suggestions</div>
    <div class="select-menu-divider js-divider-rest" hidden>Everyone else</div>
  </div>
</div>
