<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% tracking_data = {"octo-click": "hovercard-link-click", "octo-dimensions": "link_type:self"} %>

<%= content_tag(:span, { class: "d-flex min-width-0 flex-1 js-hovercard-left", data: hovercard_data_attributes_for_user(user, tracking: false), "data-assignee-name": user&.display_login }) do %>
  <%= profile_link user, class: "no-underline", skip_hovercard: true, data: tracking_data do %>
    <%= avatar_for user, 20, class: "avatar mr-1" %>
  <% end %>
  <%= profile_link user, class: "assignee Link--primary css-truncate-target width-fit", skip_hovercard: true, data: tracking_data do %>
    <span class="css-truncate-target width-fit v-align-middle"><%= user_display_login_or_bot_integration_name(user) -%></span>
  <% end %>
  <%# Only show the option to "unassign me" if the user is assigned, and the user does not have permission to edit other assignees  %>
  <% if local_assigns.fetch(:show_unassign_link, false) && unassign_self_url = local_assigns.fetch(:unassign_self_url, false) %>
    <span class="js-issue-sidebar-form no-wrap" data-url="<%= unassign_self_url %>">
      <%= csrf_hidden_input_for unassign_self_url, method: :delete, class: "js-data-url-csrf" %>
      —<%= render Primer::ButtonComponent.new(scheme: :link, h: :full, classes: "Link--muted js-issue-unassign-self") do %>unassign me<% end %>
    </span>
  <% end %>
  <% if local_assigns.fetch(:fill, false) %>
    <span class="reviewers-status-icon v-hidden" aria-hidden="true"></span>
  <% end %>
<% end %>
