<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
if available_chat_clients.length == 1
  selected_chat_client ||= available_chat_clients.first
end
%>
<details class="details-reset details-overlay <%= local_assigns[:class] if local_assigns[:class].present? %>" id="clients-menu">
  <summary class="btn" title="<%= selected_chat_client&.alt_name || "Select Platform" %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
    <span data-menu-button>
      <% unless selected_chat_client.nil? %>
        <%= image_tag selected_chat_client&.image_url, alt: "", height: 16, class: "v-align-middle pr-1" %>
      <% end %>
      <%= selected_chat_client&.alt_name || "Select Platform" %>
    </span>
    <span class="dropdown-caret"></span>
  </summary>
  <details-menu class="SelectMenu" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal">
      <div class="SelectMenu-list">
        <% available_chat_clients.each do |chat_client| %>
          <label
            tabindex="0"
            class="SelectMenu-item"
            role="menuitemradio"
            aria-checked="<%= selected_chat_client&.name == chat_client.name %>"
          >
            <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
            <input
              type="radio"
              name="<%= personal ? "personal_reminder" : "reminder"%>[chat_client]"
              class="js-reminders-client-selection"
              <% if selected_chat_client&.name == chat_client.name %>
              checked
              <% end %>
              value="<%= chat_client.name %>"
              hidden
              data-title="<%= chat_client.name %>"
            >
            <div data-menu-button-contents>
              <%= image_tag chat_client&.image_url, alt: "", height: 16, class: "v-align-middle pr-1" %>
              <span><%= chat_client.alt_name %></span>
            </div>
          </label>
        <% end %>
      </div>
    </div>
  </details-menu>
</details>
