<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="js-repository-picker-result">
  <input type="hidden" name="reminder[tracked_repository_ids][]" value="<%= repository.id %>" class="js-selected-repository-field">
  <div class="mini-repo-list-item css-truncate pr-3">
    <%= primer_octicon(repository.repo_type_icon, classes: "repo-icon") %>
    <button type="button" value="<%= repository.id %>" class="float-right js-repository-picker-remove btn-link Link--muted" aria-label="Remove <%= repository %>">
      <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
    </button>
    <span class="repo-and-owner css-truncate-target">
      <span class="owner css-truncate-target" title="<%= repository.owner %>"><%= repository.owner %></span>/<span class="repo" title="<%= repository %>"><%= repository %></span><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
    </span>
  </div>
</div>
