<%# `view` is an instance of IntegrationInstallations::SuggestionsView %>

<button
  type="button"
  role="menuitem"
  class="width-full select-menu-item"
  value="<%= repository.id %>">
  <%= primer_octicon(repository.repo_type_icon, classes: "select-menu-item-icon") %>
  <span class="select-menu-item-text"><%= repository.owner %><strong>/<%= repository.name %></strong></span>
  <span class="repo-desc"><%= repository.description.presence || 'no description' %></span>

  <template>
    <%= render :partial => "reminders/form/repository_suggestion_selection", locals: {repository: repository} %>
  </template>
</button>
