<% page_info :title => "Datadog Metric Generator", :selected_link => :spamurai %>

<% content_for :pagehead_path do %>
  / <strong>Datadog Metric Generator</strong>
<% end %>

<div class="Box">
  <div class="Box-header d-flex flex-items-center">
    <h3 class="Box-title flex-auto"> Generate a datadog metric</h3>
  </div>

  <%= render Primer::Alpha::Banner.new(scheme: :warning, full: true) do |component| %>
    <div>
      <p>This tool is meant to generate a single metric with the desired tags to help easily create charts and monitors for new datadog metrics. For more information see the <a class="Link--inTextBlock" href="https://gh.io/devtools-datadog-metric-generator" target="_blank" rel="noopener noreferrer">datadog metric generator documentation</a>.</p>
      <p>Ensure you follow metric and tag naming conventions and cost implications described in <a class="Link--inTextBlock" href="https://thehub.github.com/epd/engineering/dev-practicals/observability/metrics/metric-naming/" target="_blank" rel="noopener noreferrer">TheHub documentation</a>.</p>
      <p>Please don't use this to send metrics for features that are already in production as this can trigger alerts.</p>
    </div>
  <% end %>

  <div class="Box-body">
    <%= form_tag devtools_datadog_metric_path, :method => :post do %>
      <div class="form-group">
        <div class="form-group-header">
          <%= label_tag "metric-type", "Metric Type*" %>
        </div>
        <div class="form-group-body">
          <%= select_tag "metric-type",
            options_for_select([
              ["Counter", "counter"],
              ["Distribution", "distribution"],
              ["Gauge", "gauge"],
              ["Histogram", "histogram"],
            ]),
            id: "metric-type",
            required: true,
            class: "form-control",
            prompt: "Select a metric type"
          %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <%= label_tag "metric-name", "Metric Name*" %>
        </div>
        <div class="form-group-body">
          <%= text_field_tag "metric-name", nil, required: true, placeholder: "Metric name" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <%= label_tag "metric-value", "Metric Value*" %>
        </div>
        <div class="form-group-body">
          <%= text_field_tag "metric-value", nil, required: true, placeholder: "Metric value" %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <label for="tags[]">Tags</label>
        </div>
        <div class="form-group-body">
            <div class="tag-input-container js-multi-tag-input-container">
              <div class="js-tag-input-wrapper">
                <ul class="js-tag-input-selected-tags">
                  <%# Template used to generate new selected tags %>
                  <li class="tag-input js-tag-input-tag js-template d-none border rounded-2 d-inline-block p-1 pl-2 mb-2 ml-1">
                    <span class="js-placeholder-tag-name"></span>
                    <button type="button" class="remove js-remove border-0 color-bg-default m-0" tabindex="-1">
                      <%= primer_octicon(:x, "aria-label": "Remove tag") %>
                    </button>
                    <input type="hidden" name="tags[]" value="">
                  </li>
                </ul>
                <input type="text" name="tags-input" id="tags-input" class="form-control" autocomplete="off" autofocus placeholder="key:value key:value" size="30">
              </div>
            </div>
        </div>
      </div>
      <p class="form-actions">
        <%= submit_tag "Generate", :class => "btn btn-primary" %>
      </p>
    <% end %>
  </div>
</div>
