<%= render Primer::Experimental::SelectMenu::ListComponent.new do |list| %>
  <% attempt_objects.each do |attempt_object| %>
    <% list.with_item(
      tag: :a,
      href: attempt_object[:path],
      selected: attempt_object[:selected],
      icon: true,
      test_selector: "attempt-#{attempt_object[:attempt_number]}",
      align_items: :flex_start,
      py: 2,
      pl: 2,
      pr: 3,
    ) do%>
      <div class="position-relative overflow-hidden">
        <span class="lh-condensed text-semibold f5"><%= attempt_object[:title] %></span>
        <span class="d-flex flex-auto flex-items-center" style="margin-top: 2px; height: 18px;">
          <%= render Actions::WorkflowRuns::StatusComponent.new(
            conclusion: attempt_object[:conclusion],
            status: attempt_object[:status],
            size: 16,
            classes: "mr-1",
          ) %>
          <span class="f6 color-fg-muted text-normal css-truncate css-truncate-overflow">
            <span class="text-semibold">
              <%= attempt_object[:verb_state] %>
            </span>
            <% if attempt_object[:time].present? %>
              on
              <%= attempt_object[:time] %>
            <% end %>
            <% if attempt_object[:actor_login].present?%>
              by
              <span class="text-semibold">
                <%= attempt_object[:actor_login] %>
              </span>
            <% end %>
          </span>
        </span>
      </div>
    <% end %>
  <% end %>
<% end %>
