<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Generate Usage" %>
<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Generate Usage
    <% end %>
    <% component.with_description do %>
      This tool generates usage for a customer. Use it to correct for cases
      where we underbill.
      <br>
      <br>
      Customer ID & SKU are required parameters in order to
      ensure usage is collected for the right product. Org & repo ID can be further
      used in the event we need to be more specific.
      <br>
      <br>
      Pass in one of <i>amount</i> or <i>quantity</i>. Billing Platform will do the
      heavy lifting to derive to appropriate value for the other field. For example:
      if you know the exact dollar amount we've underbilled, Billing Platform will
      use the price of the given SKU to derive the value of <i>quantity</i>.
      <br>
      <br>
      <%= render(Primer::Beta::Flash.new(icon: :info)) do %>
       Quantity is taken as a float and converted into a nano value within Billing Platform.
     <% end %>
    <% end %>
  <% end %>

  <%= form_tag stafftools_billing_generate_usages_path, :method => :post do %>
    <div class="form-group">
      <div class="form-group">
        <div class="form-group-header">
          <%= label_tag "customer_id", "Customer ID *" %>
        </div>
        <div class="form-group-body">
          <%= text_field_tag :customer_id %>
        </div>
        <div class="form-group-header">
          <%= label_tag "sku", "SKU *" %>
        </div>
        <div class="form-group-body">
          <%= text_field_tag :sku %>
        </div>
        <div class="form-group-header">
          <%= label_tag "org_id", "Org ID" %>
        </div>
        <div class="form-group-body">
          <%= number_field_tag :org_id %>
        </div>
        <div class="form-group-header">
          <%= label_tag "repo_id", "Repo ID" %>
        </div>
        <div class="form-group-body">
          <%= number_field_tag :repo_id %>
        </div>
        <div class="form-group-header">
          <%= label_tag "amount", "$ Amount" %>
        </div>
        <div class="form-group-body">
          <%= number_field_tag :amount %>
        </div>
        <div class="form-group-header">
          <%= label_tag "quantity", "Quantity" %>
        </div>
        <div class="form-group-body">
          <%= number_field_tag :quantity %>
        </div>
      </div>
    </div>

    <%= submit_tag "Run", class: "btn btn-danger" %>
  <% end %>
<% end %>
