<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= render layout: "move_work/layout", locals: { progressbar_value: progressbar_value, show_context_switcher: true } do %>
  <div>
    <h2 class="f2 text-normal mb-2" <%= test_selector "heading" %>>What do you want to move?</h2>
    <%= form_with(url: move_work_choose_resources_path(current_context), model: choose_resources) do |f| %>
      <%= f.hidden_field :feature, value: params[:feature] %>

      <% if choose_resources.errors.any? %>
        <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 3)) do %>
          <%= choose_resources.errors.full_messages.to_sentence %>
        <% end %>
      <% end %>

      <div class="border-bottom pb-5 my-3">
        <include-fragment
          src="<%= move_work_repositories_path(current_context, repository: params[:repository]) %>">
          <div class="d-flex flex-items-baseline mt-4 mb-2" <%= test_selector "resource_title" %>>
            <span class="mr-2"><%= render(Primer::Beta::Octicon.new(:repo)) %></span>
            <span class="f4 mr-2">Repositories</span>
          </div>
          <%= render(Primer::Beta::Spinner.new) %>
        </include-fragment>
        <include-fragment
          src="<%= move_work_projects_path(current_context) %>">
          <div class="d-flex flex-items-baseline mt-4 mb-2" <%= test_selector "resource_title" %>>
            <span class="mr-2"><%= render(Primer::Beta::Octicon.new(:project)) %></span>
            <span class="f4 mr-2">Projects</span>
          </div>
          <%= render(Primer::Beta::Spinner.new) %>
        </include-fragment>

        <%= render(Primer::Beta::Flash.new(
          scheme: :warning, mb: 1, mt: 4, col: [12, nil, 6],
          hidden: true,
          data: {target: 'move-work-container.maxSelectionNotice'},
          "data-notice-repository": "You can move up to 50 repositories at a time",
          "data-notice-project": "You can move up to 50 projects at a time",
          "data-notice-all": "You can move up to 50 repositories and projects each at a time"
          )) { "" } %>

        <div class="mt-5 d-flex">
          <%= f.submit "Save and continue",
            class: "btn btn-primary mr-3",
            disabled: params[:repository].blank?,
            data: { target: 'move-work-container.moveResourcesCTA' } %>

          <%= render(Primer::ButtonComponent.new(
            tag: :a,
            scheme: :default,
            href: user_path(current_user),
            test_selector: "opt-out-cta"
          )) { "Return to your personal profile" } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
