<% content_for :header do %>
  Hi @<%= @user.display_login %>,
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>

    <p>
    We noticed that your application, <strong><%= @application.name %></strong>, used a token with an outdated format to access the GitHub API on <%= @time %><%= unless @user_agent.blank?; ", with a user-agent header of #{@user_agent}"; end %>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
    In order to provide additional security benefits to all our customers, we recently updated the format of our API authentication tokens. We encourage you to reset any authentication tokens used by this app, as well as tokens used by any other apps you may have, with our <%= link_to "reset token API", "https://docs.github.com/rest/reference/apps#reset-a-token/" %>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
    Alternatively, you can prompt your users to step through the authorization flow again, as outlined in the docs for either <%= link_to "GitHub Apps", "https://docs.github.com/developers/apps/identifying-and-authorizing-users-for-github-apps" %> and <%= link_to "OAuth Apps", "https://docs.github.com/developers/apps/authorizing-oauth-apps" %>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
    To understand more about this change and why it's important, visit <%= link_to "#{GitHub.blog_url}/2021-04-05-behind-githubs-new-authentication-token-formats", "#{GitHub.blog_url}/2021-04-05-behind-githubs-new-authentication-token-formats" %>.
    </p>

    <p>
      Thanks,<br>
      The GitHub Team
    </p>

  <% end %>
<% end %>
