<% content_for :header do %>
  The <%= @org_login %> organization has been archived
<% end %>

<%= render Mail::HeaderTitleComponent.new title: "Organization archived" %>

<p>
  This email is to confirm that the <strong><%= @org_login %></strong>
  organization has been archived on GitHub<% if @archiver.present? && !@by_site_admin %> by <strong><%= @archiver %></strong><% end %>.
</p>

<p>
  Your organization’s repositories have been archived and most write/change operations are now disabled.
</p>

<% content_for :footer_text do %>
  You’re receiving this email because you are an owner of the <%= @org_login %> organization on GitHub.
<% end %>
