<% content_for :header do %>
  Invited to claim data in the <strong><%= @org.display_login %></strong> organization
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "You have been invited to claim data in the #{@org.display_login} organization", avatar: @org %>

<p>
  Hi <strong><%= @target.safe_profile_name %></strong>!
</p>
<p>
  <%= @inviter.safe_profile_name %> (@<%= @inviter.display_login %>) has invited you to claim
  contributions you made as @<%= @source.sanitized_source_login %> in the
  @<%= @org.display_login %> organization on GitHub.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Claim  @#{ @source.sanitized_source_login }'s Contributions",
      url: org_attribution_invitations_url(@org),
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p class="email-body-subtext">
  <strong>Note:</strong> If you get a 404 page, make sure you’re signed in as
  <strong><%= @target.display_login %></strong>.
</p>

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to org_attribution_invitations_url(@org), org_attribution_invitations_url(@org) %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because @<%= @inviter.display_login %>
  invited you to claim data in an organization on GitHub.
<% end %>
