<% content_for :header do%>
  <%= @header_content %>
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: @title_content, avatar: @target %>

<p>
  Hello!
</p>
<p>
  <%= @body_content %>
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Visit your export history",
      url: @url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<% render(Mail::SpacerComponent.new) %>

<% content_for :footer_text do %>
  You're receiving this email because you exported the audit log for <% @target.name %>
<% end %>
