<p>
  Hey <%= @user.display_login %>,
</p>

<p>
  We're reaching out to let you know that we have made some changes to how 2FA with SMS is configured on GitHub.com.
  As part of the two-factor authentication initiative (2FA) that <%= link_to "we announced", "#{GitHub.blog_url}/2023-03-09-raising-the-bar-for-software-security-github-2fa-begins-march-13/" %> we've added the ability to have both SMS and an authenticator app (TOTP) 2FA methods registered at the same time.
  While you are already enrolled in 2FA, we have made some changes that update your use of the fallback SMS number.
</p>

<p>
  <b>No action is required on your part</b>, but please see below for more information about this change.
  You can also read about this change in <%= link_to "today's blog post", "#{GitHub.blog_url}/changelog/2023-03-02-sms-and-totp-can-now-both-be-registered-2fa-methods/" =%>.
</p>

<p>
  Making the software supply chain more secure is a team effort, and we can't do it without you.
  Your enrollment in 2FA is an impactful step in keeping the world's software secure.
</p>

<h3>Changes to SMS two-factor authentication (2FA)</h3>

<p>
  We now support both SMS and TOTP 2FA methods at the same time instead of supporting only a "fallback" SMS feature, which allows you to receive a text message to recover your account.
  For most accounts, we have migrated their fallback SMS number to a standard SMS registration, alongside their TOTP method.
  However, your account is part of a small set that has both a primary SMS and fallback SMS registered.
</p>

<p>
  As a result, no change has been made to your account. You still have access to this fallback SMS registration. You can use it during account recovery, and update it at <a href="https://github.com/settings/security">https://github.com/settings/security</a> if you wish.
  However, if you remove it from your account, you will not be able to add it back.
  You can learn more about 2FA configuration at <%= link_to "#{GitHub.help_url}/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication", "#{GitHub.help_url}/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication" %>.
</p>

<h4>Is any action required for my SMS registrations?</h4>

<p>
  No. Your primary SMS number is still registered, and can be used for 2FA during sign in.
  Your fallback SMS number is still valid as well, for account recovery purposes. However,
  if you choose to delete the fallback SMS number, you will lose the ability to add it back in.
</p>

<p>
  Please review your SMS numbers at <a href="https://github.com/settings/security">https://github.com/settings/security</a> to ensure that both of them are still valid
  contact methods for you – out-of-date SMS numbers are a security risk for your account if someone else now uses that number.
</p>

<p>
  In addition, we recommend that you add additional authentication methods to your account beyond SMS, for security and reliability.
  Most phones and computers support security keys, which you can quickly register by going to <a href="https://github.com/settings/security">https://github.com/settings/security</a>.
</p>

<p>
  To understand more about 2FA configuration, visit <%= link_to "#{GitHub.help_url}/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication", "#{GitHub.help_url}/authentication/securing-your-account-with-two-factor-authentication-2fa/configuring-two-factor-authentication" %>.
</p>

<h4>What forms of 2FA can I use?</h4>

<p>GitHub.com lets you select one or more of the following options:</p>

<ul>
<li>Security key</li>
<li>GitHub Mobile</li>
<li>Authenticator application</li>
<li>Text messages or SMS</li>
</ul>

<p>
  Thank you,<br>
  The GitHub Team
</p>
