<% content_for :header do %>
  Blocked from the <strong><%= @org.display_login %></strong> organization
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "You have been blocked from the #{@org.display_login} organization", avatar: @org %>

<p>
  <%= blocked_notification_html(@org.display_login, @org.profile_email, @content_url, @coc_url) %>
</p>

<%= render(Mail::SpacerComponent.new) %>

<% if @coc_url %>
  <p>
    Link not working? Paste the following link into your browser:<br>
    <a href="<%= @coc_url %>"><%= @coc_url %></a>
  </p>
<% end %>

<% content_for :footer_text do %>
  You’re receiving this email because you have been blocked by an organization on GitHub.
<% end %>
