<% content_for :header do %>
  The <%= @org_login %> organization has been deleted
<% end %>

<%= render Mail::HeaderTitleComponent.new title: "Organization deleted" %>

<p>
  This email is to confirm that the <strong><%= @org_login %></strong>
  organization has been deleted from GitHub<% if @deleter.present? %> by <strong><%= @deleter %></strong><% end %>.
</p>

<p>
  Your organization’s repositories and content have been deleted from the system and
  the username will be available for registration after 90 days.
  <% if @paid_account %>
    The organization was on a paid plan and will not be billed again.
  <% end %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because the <%= @org_login %> organization on GitHub was deleted.
<% end %>
