<p>
  Hey <%= @user.display_login %>!
</p>

<p>
  This email, <%= @email %>, is registered to the <%= @user.display_login %> GitHub account.
  A request has been initiated to unlink one or more email addresses associated with <%= @user.display_login %>.
</p>

<p>
  Unlinking this email will have the following permanent effects:
  <ul>
    <li>You will no longer be able to access the account <%= @user.display_login %> with this email address.</li>
    <li>Commits made with this email address will no longer be attributed to the account <%= @user.display_login %>.</li>
    <li>If another account links this email address, historical commits made with this email address will be attributed to that account.</li>
  </ul>
</p>

<p>
  If you would like to remove this association, which would allow you to use this email with a different GitHub account,
  click the link below. No action is needed if you want to keep this email linked to the <%= @user.display_login %> GitHub account.

  <br>
  <ul style="list-style-type:none">
    <li><a href="<%= @link %>">Unlink this email</a></li>
  </ul>
</p>


<p>
  If you did not initiate this request, your accounts may be compromised:
    <ul>
    <li>Create a new, strong password for your GitHub account from your <a href="<%= settings_security_url %>">user settings</a>.</li>
    <li>The initiation of this request also required access to one of <%= @user.display_login %>'s email accounts. You can review the email addresses associated with <%= @user.display_login %> from your <a href="<%=GitHub.url%>/settings/emails"> user settings</a>. Check that these are accurate, and consider updating their passwords as well.</li>
  </ul>
</p>

<p>
Thanks,<br>
The GitHub Team
</p>
