<% content_for :header do %>
  <% if @invitation.show_inviter? %>@<%= @inviter.display_login %> has invited you<% else %>You’re invited<% end %> to join the<br> <strong>@<%= @org.display_login %></strong> organization
<% end %>

<%= render Mail::HeaderTitleComponent.new \
   title: (@invitation.show_inviter? ? "@#{@inviter.display_login} has invited you" : "You're invited") + " to join the #{@org.display_login} organization", avatar: @org %>

<p>
  <% if @invitation.show_inviter? %>@<%= @inviter.display_login %> has invited you<% else %>You’re invited<% end %> to join the @<%= @org.display_login %> organization on GitHub. Head over to <a href="<%= user_url @org %>"><%= user_url @org %></a> to check out @<%= @org.display_login %>’s profile.
</p>
<% if @invitation.can_expire? %>
  <p>
    This invitation will expire in <%= pluralize(GitHub.invitation_expiry_period, "day") %>.
  </p>
<% end %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
    text: "Join @#{ @org.display_login }",
    url: org_show_invitation_url(@org, invitation_token: @invitation_token, via_email: "1"),
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p class="email-body-subtext">
  <strong>New to GitHub?</strong> GitHub is how people build software. Millions of developers use GitHub to build personal projects, support their businesses, and work together on open source technologies. <a href="https://github.com">Learn more about GitHub</a>.
</p>

<p class="email-body-subtext">
  <strong>Note:</strong> This invitation was intended for <strong><%= @email %></strong>. If you were not expecting this invitation, you can ignore this email.
  <% if GitHub.user_abuse_mitigation_enabled? %>
    If @<%= @login_to_block %> is sending you too many emails, you can <% if @invitation.show_inviter? %><a href="<%= settings_blocked_users_url(block_user: @login_to_block) %>">block them</a> or <% end %><a href="<%= "#{flavored_contact_url(flavor: 'report-abuse')}?report=#{@login_to_block}" %>">report them for abuse</a>.
  <% end %>
</p>

<p>
  Button not working? Paste the following link into your browser:<br>
  <%= link_to org_show_invitation_url(@org, invitation_token: @invitation_token, via_email: "1"), org_show_invitation_url(@org, invitation_token: @invitation_token, via_email: "1") %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because <% if @invitation.show_inviter? %>@<%= @inviter.display_login %><% else %>someone<% end %> invited you to an organization on GitHub.
<% end %>
