<%
  new_password_reset_url = defined?(@new_password_reset_url) ? @new_password_reset_url : "#{GitHub.url}/password_reset"
%>

<% content_for :header do %>
  Reset your <%= GitHub.flavor %> password
<% end %>

<%= render(Mail::HeaderTitleComponent.new(title: "#{GitHub.flavor} password reset")) %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <% if @forced_reset %>
      <p><%= PasswordReset::FORCED_WEAK_PASSWORD_RESET_MESSAGE %></p>
      <p>You can use the following link to reset your password:</p>
    <% else %>
      <p>We heard that you lost your <%= GitHub.flavor %> password. Sorry about that!</p>
      <p>But don’t worry! You can use the following button to reset your password:</p>
    <% end %>

    <%= render(Mail::ContainerComponent.new) do %>
      <%= render(
        Mail::ButtonComponent.new(
          text: "Reset your password",
          url: @link,
          classes: "btn-primary btn-large"
        )
      ) %>
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <% if @forced_reset %>
      <p>
        If you don’t use this link within <%= pluralize(@hours_until_expiry, "hour") %>,
        it will expire. To get a new password reset link, try signing in again.
      </p>
    <% else %>
      <p>
        If you don’t use this link within <%= pluralize(@hours_until_expiry, "hour") %>,
        it will expire. <%= link_to "Click here to get a new password reset link", new_password_reset_url %>.
      </p>
    <% end %>

    <p>
      Thanks,<br>
      The GitHub Team
    </p>

  <% end %>
<% end %>

<% content_for :footer_text do %>
  You're receiving this email because a password reset was requested for your account.
<% end %>
