<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Some of your invitations didn’t reach their recipients</title>
    <%= render "mailers/global/column_template/styles" %>
  </head>

  <body class="body-style">
    <div class="content div-style">
      <!--// HEADER //-->
      <%= render partial: "mailers/global/column_template/header", locals: {email_source: @email_source} %>

      <!--// MAIN CONTENT //-->
      <%= render partial: "mailers/global/column_template/description", locals: {
        title: "Some of your invitations didn’t reach their recipients"
      } %>

      <div>
        <img src="<%= GitHub.mailer_asset_host_url %>/images/icons/access_and_permission.png" class="resource-img" height="72" alt="icon">

        <div style="font-size: 22px; margin: 12px 0px 20px 0px">
          There’s been a hold up in getting some of your teammates onboarded, but don’t let it stop you. See what the problem was and how you can fix it.
        </div>

        <div>
          Check out the steps you can take to fix any errors on your organization page and forge ahead—your best work is yet to come.
        </div>

        <% if @failures.any? %>
          <ul style="margin: 12px 0px 20px 0px">
            <% @failures.each do |failure| %>
              <li>
                <strong><%= failure["member"] %></strong> could not be invited because
                <% if failure["class"] == "OrganizationInvitation::NoAvailableSeatsError" %>
                  you don't have seats available.
                <% elsif failure["class"] == "OrganizationInvitation::TradeControlsError" %>
                  of <a href="<%= GitHub.help_url %>/articles/github-and-trade-controls">trade regulations</a>.
                <% elsif failure["class"] == "OrganizationInvitation::AlreadyAcceptedError" %>
                  they've already accepted an invitation.
                <% else %>
                  of a system error. <a href="<%= contact_url %>">Contact support</a>.
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <div style="margin: 20px 0px; 24px; 0px">
          <%= render partial: "mailers/global/column_template/blue_button", locals: {
            url: org_people_url(@org),
            text: "See why your invites weren’t sent"
          } %>
        </div>
      </div>
    </div>

    <!--// FOOTER //-->
    <%= render partial: "mailers/global/column_template/footer", locals: {email_source: @email_source} %>
  </body>
</html>
