<% content_for :header do %>
  Your invitation to the
  <%= @org.safe_profile_name %> organization has been canceled
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Organization invitation canceled", avatar: @org %>

<p>
  Hi <%= @invitation.email_or_invitee_name %>,
  your invitation to the <%= @org.safe_profile_name %> organization on GitHub has been canceled.
  Links to the invitation in previous emails will no longer work.
</p>

<p>
  If this is unexpected, reach out to the owners of <%= @org.safe_profile_name %>.
</p>

<% content_for :footer_text do %>
  You’re receiving this email because your invitation to the <%= @org.safe_profile_name %>
  organization on GitHub has been canceled.
<% end %>
