<% content_for :header do %>
  Hello people of <strong>@<%= @organization %></strong>!
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <% if @from_profile_email_verify %>
        <strong>@<%= @requested_by %></strong> has requested to verify this email address
        (<%= mail_to @email.profile_email, @email.profile_email, :class => "plaintext" %>)
        for the <strong>@<%= @organization %></strong> organization as part of the GitHub Marketplace <%= link_to "publisher verification process", "https://docs.github.com/developers/github-marketplace/applying-for-publisher-verification-for-your-organization#requesting-publisher-verification" %>.

        <%= render(Mail::SpacerComponent.new) %>

        Verifying this email address will ensure that you are contactable and active
        on the email provided on your organization profile.
    <% else %>
      <p>
        <strong>@<%= @requested_by %></strong> has requested to use this email address
        (<%= mail_to @email.email, @email.email, :class => "plaintext" %>)
        for the <strong>@<%= @organization %></strong> organization.
      </p>
      <p>
        Verifying this email address will make it available when installing GitHub Apps
        and if selected will be shared with the selected GitHub App owners.
      </p>
    <% end %>
  <% end %>
<% end %>

<%= render :partial => "mailers/global/cta_button",
  :locals => {
    :text => "Verify email address",
    :center => true,
    :url => @cta_tracking_url
  } %>

<% if !@from_profile_email_verify %>
  <hr>
<% end %>

<% content_for :content_footer do %>
  <%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      <%= render(Mail::SpacerComponent.new) %>
        Button not working? Paste the following link into your browser:<br>
        <%= link_to @cta_url, @cta_tracking_url.to_s %>
    <% end %>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  You’re receiving this email because <strong>@<%= @requested_by %></strong> recently
  requested to verify a <%= @from_profile_email_verify ? "profile" : "new" %> email address. If you don’t want this email address
  used for communication with the <strong>@<%= @organization %></strong> organization,
  please ignore this email.
<% end %>
