<% content_for :header do %>
  Passkey removed
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hey <%= @user.display_login %>!
    </p>

    <p>
      A passkey "<%= @nickname %>" was removed from your account.
    </p>

    <p>
      You may still need to remove it from your password manager to remove it from autofill suggestions.
    </p>

    <p>
      To see this and other security events for your account, visit <a href="<%= settings_user_audit_log_url %>">your account security audit log.</a>
    </p>

    <p>
      If you did not initiate this action or believe your account has been compromised, it is a good idea to review
      your active sessions and all passkeys associated with your account or consider enabling two-factor authentication.
    </p>

    <p>
    Thanks,<br>
    The GitHub Team
    </p>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  You're receiving this email because a passkey was removed from your account.
<% end %>
