<% content_for :header do %>
  Hi @<%= @user.display_login %>,
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>

    <p>
    We noticed your personal access token, <strong><%= @oauth_access.description %></strong>, has an outdated format and was used to access the GitHub API on <%= @time %><%= unless @user_agent.blank?; " with a user-agent header of #{@user_agent}"; end %>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
    We recently updated the format of our API authentication tokens, providing additional security benefits to all our customers.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
In order to benefit from this new format, please regenerate your personal access token, <strong><%= @oauth_access.description %></strong>, using the button below.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <%= render(
        Mail::ButtonComponent.new(
          text: "Regenerate your personal access token",
          url: @reset_link,
          classes: "btn-primary btn-large"
        )
      ) %>
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
    To understand more about this change and why it's important, visit <%= link_to @blog_link, @blog_link %>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
    We encourage you to reset your other authentication tokens as well, or revoke any that are no longer needed. This applies to integrations (such as OAuth Apps and GitHub Apps) as well as personal access tokens. For more information on reviewing your authorized integrations, refer to <%= link_to "https://docs.github.com/github/authenticating-to-github/reviewing-your-authorized-integrations", "https://docs.github.com/github/authenticating-to-github/reviewing-your-authorized-integrations" %>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Thanks,<br>
      The GitHub Team
    </p>

  <% end %>
<% end %>
