<% content_for :header do %>
  <strong><%= "@#{@user.display_login}" %></strong>, your fine-grained personal access token has expired.
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>Hey <strong><%= @user.display_login %></strong>!</p>

    <p>Your fine-grained personal access token (<%= link_to @access.name, settings_user_access_token_url(@access) %>) has expired.</p>

    <p>If this token is still needed, click the button below to generate an equivalent.</p>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ButtonComponent.new(text: "Regenerate your token", url: @reset_link, classes: "btn-primary btn-large")) %>
  <% end %>
<% end %>

<% content_for :content_footer do %>
  <%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      Button not working? Paste the following link into your browser: <a href="<%= @reset_link %>"><%= @reset_link %></a>
    <% end %>
  <% end %>
<% end %>
