<% content_for :header do %>
  <strong><%= "@#{@user.display_login}" %></strong>, a personal access token was created on your account.
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>Hey <strong><%= @user.display_login %></strong>!</p>

    <p>A fine-grained personal access token (<%= link_to @access.name, settings_user_access_token_url(@access) %>) was recently added to your account.</p>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ButtonComponent.new(text: "View your token", url: settings_user_access_token_url(@access), classes: "btn-primary btn-large")) %>
  <% end %>
<% end %>
