<% count = @accesses.count %>
<% this = (count > 1) ? "These" : "This" # According to Rails, the singular of 'this' is 'thare'. %>

<% target_display_login = "@#{@target.display_login}" %>

<% content_for :header do %>
  <strong><%= target_display_login %></strong> has approved access on your fine-grained personal access tokens
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>Hey <strong><%= @user.display_login %></strong>,</p>

    <p>
      An administrator in the <%= link_to target_display_login, user_url(@target) %> organization has approved access on your fine-grained personal access <%= "token".pluralize(count) %>.
    </p>

    <p>
      <%= "#{this} token".pluralize(count) %> can be used to access resources inside the <%= link_to target_display_login, user_url(@target) %> organization.
    </p>

    <div class="markdown-body">
      <ul>
        <% @accesses.each do |access| %>
          <li>
            <code><%= link_to access.name, settings_user_access_token_url(access) %></code>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  You're receiving this email because you have fine-grained personal access tokens with access to the <%= target_display_login %> organization.
<% end %>
