<p>
  Someone has signed in to your GitHub account using a two-factor authentication recovery code.

  <% if @remaining_codes_count >= 5 %>
    You have <%= pluralize(@remaining_codes_count, "active recovery codes") %> left. To generate a new set of recovery codes visit
  <% else %>
    <span style="font-weight: bold; color: red;">You have <%= pluralize(@remaining_codes_count, "active recovery codes") %> left.</span> Generate a new set of recovery codes by visiting
  <% end %>

  <a href="<%= settings_auth_recovery_codes_url %>">your recovery code settings.</a>
</p>

<p>
  If you recently authenticated using a saved recovery code, no further action is required. If you did not authenticate with a recovery code, your password and recovery codes may be compromised. Follow these steps:
</p>

<ol>
  <li>Create a new strong and unique password for your GitHub account. For more information, see <a href="<%= GitHub.help_url %>/articles/keeping-your-account-and-data-secure/">the GitHub Help page.</a></li>
  <li>Visit your <%= link_to "user settings", settings_security_url %> to update your two-factor authentication methods.</li>
</ol>
