<p>
  Hey <%= @user.display_login %>!
</p>

<p>
  <% if @reconfiguring %>
    The two-factor <%= @factor_display_name %> registration on your account has been updated.
  <% else %>
    A two-factor <%= @factor_display_name %> registration has been added to your account.
  <% end%>
</p>

<p>
  <b>Your recovery codes have not been updated</b>, but you should ensure they are saved to a safe place.
</p>

<p>
  Recovery codes are the only way to access your account again. By saving your
  recovery codes, you’ll be able to regain access if you:
  <br>

  <ul>
    <li>Lose your phone</li>
    <li>Delete your authenticator app</li>
    <li>Change your phone number</li>
  </ul>
</p>

<% unless GitHub.enterprise? %>
<p>
  GitHub Support will not be able to restore access to your account.
</p>
<% end %>

<p>
  More information about two-factor authentication can be found on
  <a href="<%= GitHub.help_url %>/articles/about-two-factor-authentication">GitHub Help</a>.
</p>

<p>
  If you have any questions, please contact support by visiting <a href="<%= contact_url %>">the GitHub support page</a>.
</p>

<p>
  Thanks,
  <br>
  Your friends at GitHub
  </p>
