<% content_for :header do %>
  Some users in your <%= @entity_type %> will soon be required to enable 2FA
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hey <%= @user.display_login %>!
    </p>

    <p>
      You are receiving this notification because you are the admin of the "<%= @entity_name %>" <%= @entity_type %>, and 2FA requirements are changing for some of these users. In your <%= @entity_type %> there are <%= @user_count %> users that GitHub will now require to use two-factor authentication (2FA) because they are administrators of enterprises or organizations. Of these <%= @user_count %> users, <%= @user_2fa_enabled_count %> already have 2FA enabled.<%= @user_count == @user_2fa_enabled_count ? " Thank you for helping protect the software community! No action is required from your users, and we will notify them directly that they won't be allowed to disable 2FA after the next 45 days." : " The rest will be required to enable 2FA over the next 45 days. Read on to learn what that means for your users and how to prepare." %>
    </p>

    <p>
      <b>This enrollment is not related to your <%= @entity_type %> account settings.</b> It is based on the individual privileges of your <%= @entity_type %>'s users on GitHub.com, both within your <%= @entity_type %> and outside of it.
    </p>

    <h2>What is GitHub's required 2FA program?</h2>
    <p>
      GitHub is expanding the 2FA program <a href="https://github.blog/2022-05-04-software-security-starts-with-the-developer-securing-developer-accounts-with-2fa/">announced last year</a>.  Starting this week, we're including administrators of enterprises and organizations in the 2FA requirements. Following our <a href="https://github.blog/2023-03-09-raising-the-bar-for-software-security-github-2fa-begins-march-13">launch of this program in March</a>, we have also included users who had published a release, app, Action, or Package. 
    </p>

    <h2>Which new users will have to enable 2FA?</h2>
    <p>
      Users in this enrollment group are enterprise or organization administrators. That means, the <%= @user_count %> users in your <%= @entity_type %> being added to the program are administrators, either within your own <%= @entity_type %> or elsewhere on GitHub.com.
      In addition to the new enrollment group, we have enabled daily updates to our previous enrollment groups. If a user publishes a release, app, Action, or Package for the first time, they will be enrolled in the 2FA program the next day, starting the 45-day enrollment process detailed <a href="https://github.blog/2023-03-09-raising-the-bar-for-software-security-github-2fa-begins-march-13/#reminder-what-to-expect-if-you-are-required-to-enable-2fa">in our March blog post</a>.
    </p>

    <h2>Will any more of my members need to enable 2FA?</h2>
    <p>
        More of your <%= @entity_type %>'s members may take an action that puts them in this enrollment group or a previous one. At any time, you can review which users are required to enable 2FA by checking the People tab of your <%= @entity_type %> - it shows users who are required to enable 2FA but have not yet done so.
        In the future, we'll continue to expand the set of users that require 2FA, and we'll reach out again when that occurs.
    </p>

    <p>
      You should validate if service accounts you manage are in this rollout, by reviewing their associated email inbox for notifications across the next month. For help on setting up 2FA for shared service accounts, see <a href="https://docs.github.com/organizations/keeping-your-organization-secure/managing-two-factor-authentication-for-your-organization/managing-bots-and-service-accounts-with-two-factor-authentication">"Setting up 2FA for service accounts"</a>.
   </p>

    <h2>Isn't SAML protection sufficient?</h2>
    <p>
      SAML protects your <%= @entity_type %> data, but it doesn't stop an attacker from accessing your users' personal accounts. These accounts can be contributors outside of your <%= @entity_type %>, and need to be protected as well.
    </p>

    <p>
      Making the software supply chain more secure is a team effort, and we couldn't do it without you. Your support of 2FA is an impactful step in keeping the world's software secure.
    </p>

    <p>
      Thanks,<br>
      The GitHub Security Team
    </p>
  <% end %>
<% end %>
