<% content_for :header do %>
  Welcome to GitHub, <strong>@<%= @user.display_login %></strong>!
<% end %>

<%= render(Mail::HeaderTitleComponent.new(title: "Welcome to GitHub", icon: "admin-mentoring.png")) %>

<%= render(Mail::ContainerComponent.new) do %>
  <p>You’re the newest member in this community of over <%= GitHub::MarketingStats::USER_MILLIONS_FALLBACK %> million people who use GitHub to host and review code, manage projects, and build software.<p>
  <hr>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <h4>Get started</h4>
  <% end %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<table class="width-full">
  <tbody>
    <tr>
      <td class="v-align-top pr-4" style="width: 56px;">
        <img alt="" src="<%= mailer_static_asset_path("images/email/icons/complete-your-profile.png") %>" width="56" height="56">
      </td>
      <td class="width-full">
        <%= render(Mail::BorderedRowComponent.new(skip_padding: true, classes: "f4 pb-2")) do %>
          <%= render(Mail::RowComponent.new) do %>
            <%= render(Mail::ColumnComponent.new) do %>
              <a href="<%= email_link_with_tracking(url: user_url(@user), email_source: "welcome") %>">
                Complete your profile
              </a>
            <% end %>
          <% end %>
        <% end %>

        <%= render(Mail::BorderedRowComponent.new(skip_padding: true, classes: "f4 py-2")) do %>
          <%= render(Mail::RowComponent.new) do %>
            <%= render(Mail::ColumnComponent.new) do %>
              <a href="<%= email_link_with_tracking(url: "#{GitHub.help_url}/articles/set-up-git", email_source: "welcome") %>">
                Set up your computer for GitHub
              </a>
            <% end %>
          <% end %>
        <% end %>

        <%= render(Mail::BorderedRowComponent.new(skip_padding: true, last: true, classes: "f4 py-2")) do %>
          <%= render(Mail::RowComponent.new) do %>
            <%= render(Mail::ColumnComponent.new) do %>
              <a href="<%= email_link_with_tracking(url: "https://docs.github.com", email_source: "welcome") %>">
                Learn more about using GitHub
              </a>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <h4>Ready to work on projects?</h4>
  <% end %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<table class="width-full">
  <tbody>
    <tr>
      <td class="v-align-top pr-4" style="width: 56px;">
        <img alt="" src="<%= mailer_static_asset_path("images/email/icons/code-hosting.png") %>" width="56" height="56">
      </td>
      <td class="width-full">
        <%= render(Mail::BorderedRowComponent.new(skip_padding: true, classes: "f4 pb-2")) do %>
          <%= render(Mail::RowComponent.new) do %>
            <%= render(Mail::ColumnComponent.new) do %>
              <a href="<%= email_link_with_tracking(url: new_repository_url, email_source: "welcome") %>">
                Create a new repository
              </a>
            <% end %>
          <% end %>
        <% end %>

        <%= render(Mail::BorderedRowComponent.new(skip_padding: true, classes: "f4 py-2")) do %>
          <%= render(Mail::RowComponent.new) do %>
            <%= render(Mail::ColumnComponent.new) do %>
              <a href="<%= email_link_with_tracking(url: new_repository_import_url, email_source: "welcome") %>">
                Import an existing repository
              </a>
            <% end %>
          <% end %>
        <% end %>

        <%= render(Mail::BorderedRowComponent.new(skip_padding: true, last: true, classes: "f4 py-2")) do %>
          <%= render(Mail::RowComponent.new) do %>
            <%= render(Mail::ColumnComponent.new) do %>
              <a href="<%= email_link_with_tracking(url: explore_url, email_source: "welcome") %>">
                Explore open source projects
              </a>
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<% content_for :footer_text do %>
  You’re receiving this email because you recently created a new GitHub account. If this wasn’t you, please ignore this email.
<% end %>
