<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: "Owned applications", selected_link: :developers_stafftools_user_apps %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Application creation limit<% end %>
<% end %>

<%= form_with url: update_creation_limit_stafftools_user_applications_path(this_user), method: :put, local: true do %>
  <dl class="form-group">
    <dt><%= label_tag :creation_limit, "Application creation limit" %></dt>
    <dd>
      <%= text_field_tag :creation_limit, this_user.applications_creation_limit(OauthApplication.new) %>
    </dd>
  </dl>
  <p><%= submit_tag "Submit", class: "btn btn-primary" %></p>
<% end %>

<%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
  <% component.with_heading(tag: :h2) do %>Owned applications<% end %>
<% end %>

<% if @owned_apps.any? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
    <% @owned_apps.each do |app| %>
      <% component.with_row(display: :flex) do %>
        <span class="flex-auto">
          <%= link_to app.name, stafftools_user_application_path(app.user, app.id) %>
        </span>
        <span class="time">
          Updated <%= time_ago_in_words app.updated_at %> ago
        </span>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <%= will_paginate @owned_apps %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      This account does not own any applications.
    <% end %>
  <% end %>
<% end %>
