<%
  trigger_enum = trigger_type.upcase
%>

<div class="form-checkbox mx-2 mt-0">
  <label>
    <% if other_column_name %>
      <input type="checkbox"
             name="project_column[automation_options][]"
             value="<%= trigger_enum %>"
             data-confirm-checked
             data-confirm="This rule will be removed from the <%= other_column_name %> column. Are you sure?">

    <% elsif workflow_id.present? %>
      <input type="checkbox"
             name="project_column[checked_workflow_ids][]"
             value="<%= workflow_id %>"
             checked>

    <% else %>
      <input type="checkbox"
             name="project_column[automation_options][]"
             value="<%= trigger_enum %>">

    <% end %>
    <%= project_automation_description(trigger_type) %>
  </label>

  <% if other_column_name %>
    <p class="note">The <b><%= other_column_name %></b> column is already using this rule.</p>
  <% else %>
    <p class="note">
      <%= project_automation_description(trigger_type, verbose: true) %>
      <% if trigger_type == ProjectWorkflow::PR_APPROVED_TRIGGER %>
        Recommended when another column has the <span class="text-bold">Pending approval by reviewer</span> automation enabled.
      <% elsif trigger_type == ProjectWorkflow::PR_PENDING_APPROVAL_TRIGGER %>
        Recommended when another column has the <span class="text-bold">Approved by reviewer</span> automation enabled.
      <% end %>
    </p>
  <% end %>
</div>
