<div class="pagehead orghead border-bottom-0 pt-0">
  <%= render Organizations::ArchivedNoticeComponent.new(organization: this_organization)%>

  <div class="p-responsive d-none d-xl-block clearfix <%= container_size %>">
    <%= render "orgs/header_org_name", view: create_view_model(Orgs::HeaderView, organization: this_organization) %>
  </div>
  <%= render Organizations::HeaderNavComponent.new(
    organization: this_organization,
    selected_nav_item: :insights
  ) %>

  <%= render(Site::EnterpriseBannersComponent.new) %>
</div>
