<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div <%= test_selector("sponsors-account-filter") %>>
  <h2 class="h3 mb-3 mx-2" <%= test_selector("sponsors-account-filter-header") %>>Explore as</h2>

  <div>
    <% if accounts_to_display.any? %>
      <ul class="filter-list">
        <% accounts_to_display.each do |account| %>
          <li>
            <%= link_to(sponsors_explore_index_path(
              filter_set.with(account_login: account.display_login).query_args,
            ), account_link_attributes(account)) do %>
              <%= avatar_for(account, 24, class: "avatar avatar-3") %>
              <span class="ml-2 css-truncate css-truncate-target width-fit"><%= account %></span>
            <% end %>
          </li>
        <% end %>
      </ul>

      <% if show_overflow_menu? %>
        <details id="explore-as-accounts-menu" class="details-reset details-overlay position-relative">
          <%= render Primer::ButtonComponent.new(
            tag: :summary,
            h: :full,
            mt: [2, nil, 0],
            ml: 2,
            "aria-haspopup": "true",
            scheme: :link,
            classes: "Link--primary",
          ) do %>
            See more <span class="dropdown-caret"></span>
          <% end %>
          <details-menu class="SelectMenu SelectMenu--hasFilter left-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="SelectMenu-modal">
              <header class="SelectMenu-header">
                <h3 class="SelectMenu-title">Your accounts</h3>
                <button class="SelectMenu-closeButton" type="button" aria-label="Close menu" data-toggle-for="explore-as-accounts-menu">
                  <%= primer_octicon(:x, "aria-label": "Close menu") %>
                </button>
              </header>

              <div class="SelectMenu-filter">
                <input
                  class="SelectMenu-input form-control js-filterable-field"
                  id="sponsors-orgs-filter-field"
                  type="text"
                  placeholder="Filter your accounts"
                  aria-label="Filter your accounts"
                  autocomplete="off"
                  spellcheck="false"
                  autofocus
                >
              </div>

              <div class="SelectMenu-list" data-filterable-for="sponsors-orgs-filter-field" data-filterable-type="fuzzy" role="menu">
                <% remaining_orgs.each do |org| %>
                  <%= render Primer::Beta::Link.new(
                    href: sponsors_explore_index_path(filter_set.with(account_login: org.display_login).query_args),
                    "aria-checked": selected_account?(org),
                    role: "menuitemcheckbox",
                    classes: "SelectMenu-item",
                    test_selector: "overflow-org-#{org.display_login}",
                    **hydro_click_attrs_for(org),
                  ) do %>
                    <span class="d-flex flex-items-center">
                      <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                      <%= avatar_for(org, 20, class: "avatar") %>
                      <span class="ml-2 css-truncate css-truncate-target width-fit"><%= org %></span>
                    </span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </details-menu>
        </details>
      <% end %>
    </div>
  <% end %>
</div>
