<turbo-frame id="sponsors-featured-accounts">
  <div class="sr-only" role="status" aria-live="polite">
    <%= featured_listings.count %> sponsored developers and organizations loaded.
  </div>
  <% featured_listings.each do |listing| %>
    <article class="Box-row d-flex" id="pa-<%= listing.sponsorable_login %>" <%= test_selector("sponsors-featured-account") %>>
      <div class="ml-0 mr-3 ml-lg-3">
        <%= render Sponsors::Sponsorables::LinkedAvatarComponent.new(sponsors_listing: listing, avatar_size: 48) %>
      </div>

      <div class="d-sm-flex flex-auto">
        <div class="col-sm-9 d-md-flex">
          <div class="col-md-5 pr-3">
            <h2 class="h3 lh-condensed">
              <a href="<%= user_path(listing.sponsorable_login) %>"><%= listing.sponsorable_name %></a>
            </h2>
          </div>

          <div class="col-md-7"><%= listing.featured_description %></div>
        </div>

        <div class="col-sm-3 d-flex flex-items-start flex-sm-justify-end ml-sm-3 mt-3 mt-sm-0">
          <%= render Sponsors::SponsorButtonComponent.new(
            sponsorable: listing.sponsorable_login,
            is_sponsoring: listing.sponsored_by_viewer?(current_user),
            size: :medium,
            px: 2,
            py: 1,
            location: listing.sponsored_by_viewer?(current_user) ? :FEATURED_SPONSORING : :FEATURED_SPONSOR,
          ) %>
        </div>
      </div>
    </article>
  <% end %>
</turbo-frame>
