<div class="position-relative my-3 text-center" style="height: 90px">
  <svg viewBox="0 0 36 36" aria-hidden="true" style="width: 90px" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <linearGradient id="gradient" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="100%" y2="0">
        <stop offset="0%" stop-color="var(--bgColor-sponsors-emphasis, var(--color-sponsors-emphasis))" />
        <stop offset="100%" stop-color="var(--bgColor-done-emphasis, var(--color-done-emphasis))" />
      </linearGradient>
    </defs>
    <path class="sponsors-funded-dependencies-percent-circle-bg"
      d="M18 2.0845
        a 15.9155 15.9155 0 0 1 0 31.831
        a 15.9155 15.9155 0 0 1 0 -31.831"
      stroke-dasharray="100, 100"
    />
    <path class="sponsors-funded-dependencies-percent-circle"
      d="M18 2.0845
        a 15.9155 15.9155 0 0 1 0 31.831
        a 15.9155 15.9155 0 0 1 0 -31.831"
      stroke-dasharray="<%= percentage %>, 100"
      stroke="url(#gradient)"
    />
  </svg>
  <span class="text-bold position-absolute width-full text-center left-0" style="top: 33px" <%= test_selector("percentage") %>><%= percentage %>%</span>
</div>

<p class="f5" <%= test_selector("org-has-funded") %>>
  <%= org %> has funded
  <strong <%= test_selector("sponsored-deps") %>><%= number_with_delimiter total_direct_dependencies_sponsored %></strong>
  of their
  <strong <%= test_selector("total-deps") %>><%= number_with_delimiter total_direct_dependencies_sponsorable %></strong>
  direct dependencies.
</p>

<p class="note">
  We use files in your repositories like <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph">package-lock.json</a> and
  <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph#supported-package-ecosystems">requirements.txt</a> to figure this out.
</p>
