<%= render Primer::Beta::Details.new(overlay: :default, reset: true, position: :relative, disabled: !enable_links?) do |component| %>
  <% component.with_summary(
    classes: class_names("btn-sm", "disabled" => !enable_links?),
    test_selector: "sort-menu-toggle",
  ) do %>
    <%= sort_options[sort_by] %>
    <span class="dropdown-caret"></span>
  <% end %>
  <% component.with_body(classes: "SelectMenu", right: 0, role: :menu, test_selector: "sort-menu") do %>
    <% if enable_links? %>
      <div class="SelectMenu-modal">
        <div class="SelectMenu-list" data-pjax>
          <% sort_options.each do |value, label| %>
            <%= link_to sort_path_for(value), class: "SelectMenu-item", role: "menuitemcheckbox", "aria-checked": sort_by == value, data: hydro_click_attrs_for(value) do %>
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
              <%= label %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
