<div class="f5" <%= test_selector("total-funded-component") %>>
  <% if start_date.nil? %>
    Invest in open source software and we'll track your progress here!
  <% elsif can_see_total_funded? %>
    <% if organization? %>
      Your organization has
    <% else %>
      Amazing! You've
    <% end %>
    given a total of
    <strong <%= test_selector("total-funded") %>><%= total_funded.format(no_cents_if_whole: true) %></strong>
    to open source software since
    <strong <%= test_selector("start-date") %>><%= start_date %></strong>.
  <% else %>
    Your organization's first sponsorship was in
    <strong <%= test_selector("start-date") %>><%= start_date %></strong>.
  <% end %>
</div>
