<label>Source</label>
<div class="d-flex flex-items-center mt-1">
  <% if !archived? %>
    <%= render Primer::Alpha::ActionMenu.new(select_variant: :single, size: :small, "aria-label": "Source") do |menu| %>
      <% menu.with_show_button do |button|%>
        <% button.with_trailing_action_icon(icon: :"triangle-down") %>
        <% Pages::BuildTypes::SelectItemComponent.item_name(current_build_type) %>
      <% end %>
      <% menu.with_item("data-action": "click:pages-build-type#buildWorkflow", active: workflow?, disabled: workflow?) do |item| %>
        <%= Pages::BuildTypes::SelectItemComponent.item_name(:workflow) %>
        <input
          hidden
          data-targets="pages-build-type.types"
          value="workflow"
          name="build_type"
          <% if workflow? %>
            checked
            disabled
          <% end %>
        >
        <% item.with_description do %>
          <% capture do %>
            <%= Pages::BuildTypes::SelectItemComponent.description(:workflow) %>
            <% if actions_disabled? %>
              <%= render Primer::Beta::Text.new(tag: :p, color: :attention, mb: -1, font_size: :small) do %>
                Disabled for this repo
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% menu.with_item("data-action": "click:pages-build-type#buildLegacy keydown:pages-build-type#buildLegacy", active: legacy?, disabled: legacy?, "aria-label": "Source") do |item| %>
        <span> Deploy from a branch</span>
        <input
          hidden
          data-targets="pages-build-type.types"
          value="legacy"
          name="build_type"
          <% if legacy? %>
            checked
            disabled
          <% end %>
        >
        <% item.with_description do %>
          <% Pages::BuildTypes::SelectItemComponent.description(:legacy) %>
        <% end %>
      <% end %>
    <% end %>
    <%= render Primer::Beta::Octicon.new(icon: :check, color: :success, classes: "pages-build-type-status-indicator", "aria-label" => "Page source has been saved") %>
    <span data-target="pages-build-type.output"></span>
  <% else %>
    <%= render(Primer::Beta::Button.new(border_color: :muted, bg: :subtle, size: :medium, disabled: true, "aria-label": "Source")) do |b|%>
      <% b.with_trailing_action_icon(icon: :"triangle-down") %>
      Deploy from a branch
    <% end %>
  <% end %>
</div>
