<label
  role="menuitemradio"
  aria-checked="<%= checked %>"
  class="SelectMenu-item pages-build-type-selector-item text-normal"
  tabindex="0"
  <% if disabled? %>aria-disabled="true"<% end %>>
  <input
    type="radio"
    name="build_type"
    value="<%= build_type.to_s %>"
    autocomplete="off"
    hidden
    <% if disabled? %>disabled<% end %>
    <% if checked %>checked<% end %>
    <% if @data %><%= safe_data_attributes(@data) %><% end %>
  >
  <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
  <div>
    <div class="f5 text-bold">
      <%= name %>
    </div>
    <div class="color-fg-muted mt-1">
      <%= description %>
    </div>
    <% if disabled? %>
      <div class="color-fg-attention">
        Disabled for this repo
      </div>
    <% end %>
  </div>

  <span hidden data-filter-item-text data-menu-button-text>
    <%= name %>
  </span>
</label>
