<div class="container-xl p-responsive position-relative py-9 py-md-12">
  <h2 class="h2-mktg position-relative mt-6"><span class="position-relative z-1">Areas where we advocate</span>
    <img class="position-absolute" style="top: -109px; left: -116px;" src="<%= image_path "modules/site/about/developer-policy/advocate-decoration-1.png" %>" width="152" height="152" alt="" aria-hidden="true" loading="lazy">
  </h2>
  <div class="d-flex flex-row flex-wrap gutter gutter-spacious position-relative z-1">
    <div class="col-12 col-sm-6 col-lg-4 mt-5 mt-md-7">
      <span class="circle color-bg-subtle color-fg-muted d-inline-block mb-3" style="padding: 20px;"><%= render(Primer::Beta::Octicon.new(icon: "shield-check", size: :medium, style: "display: block")) %></span>
      <h3 class="f2-mktg mb-2">Platform responsibility</h3>
      <p class="color-fg-muted">Protecting developers’ ability to collaborate by providing a safe and inclusive space that transparently respects rights to free expression, assembly, and association.</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mt-5 mt-md-7">
      <span class="circle color-bg-subtle color-fg-muted d-inline-block mb-3" style="padding: 20px;"><%= render(Primer::Beta::Octicon.new(icon: "rocket", size: :medium, style: "display: block")) %></span>
      <h3 class="f2-mktg mb-2">Innovation</h3>
      <p class="color-fg-muted">Advocating for copyright, patent, and employment rules that foster exploration, collaboration, and the freedom to tinker on side projects.</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mt-5 mt-md-7">
      <span class="circle color-bg-subtle color-fg-muted d-inline-block mb-3" style="padding: 20px;"><%= render(Primer::Beta::Octicon.new(icon: "git-branch", size: :medium, style: "display: block")) %></span>
      <h3 class="f2-mktg mb-2">Open source</h3>
      <p class="color-fg-muted">Encouraging governments to use open source as a tool of public policy, to work proactively with open source contributors, and to support open source software in legislation and regulation.</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mt-5 mt-md-7">
      <span class="circle color-bg-subtle color-fg-muted d-inline-block mb-3" style="padding: 20px;"><%= render(Primer::Beta::Octicon.new(icon: "globe", size: :medium, style: "display: block")) %></span>
      <h3 class="f2-mktg mb-2">Global collaboration</h3>
      <p class="color-fg-muted">Supporting developers to work with anyone, anywhere, so they can build secure and useful software that benefits their local communities.</p>
    </div>
    <div class="col-12 col-sm-6 col-lg-4 mt-5 mt-md-7">
      <span class="circle color-bg-subtle color-fg-muted d-inline-block mb-3" style="padding: 20px;"><%= render(Primer::Beta::Octicon.new(icon: "person-add", size: :medium, style: "display: block")) %></span>
      <h3 class="f2-mktg mb-2">Inclusion</h3>
      <p class="color-fg-muted">Breaking down barriers so anyone can become a developer and we can build a developer community that reflects our global diversity.</p>
    </div>
  </div>
  <img class="position-absolute d-none d-sm-block" style="right: -116px; bottom: 109px;" src="<%= image_path "modules/site/about/developer-policy/advocate-decoration-2.png" %>" width="232" height="234" alt="" aria-hidden="true" loading="lazy">
</div>
