<div class="position-relative color-fg-on-emphasis py-9 py-md-12 overflow-hidden">
  <picture>
    <source srcset="<%= image_path "modules/site/about/developer-policy/dev-policy-bg/dev-policy-bg@1x.webp" %> 1600w, <%= image_path "modules/site/about/developer-policy/dev-policy-bg/dev-policy-bg@2x.webp" %> 3200w" type="image/webp">
    <img srcset="<%= image_path "modules/site/about/developer-policy/dev-policy-bg/dev-policy-bg@1x.jpg" %> 1600w, <%= image_path "modules/site/about/developer-policy/dev-policy-bg/dev-policy-bg@2x.jpg" %> 3200w" src="<%= image_path "modules/site/about/developer-policy/dev-policy-bg/dev-policy-bg@2x.jpg" %>" alt="" class="width-full height-full object-fit-cover position-absolute d-block top-0 left-0" width="1600" height="740" loading="lazy" decoding="async">
  </picture>
  <div class="width-full height-full position-absolute z-1 top-0 left-0" style="background: linear-gradient(90deg, rgba(27,31,35,1) 0%, rgba(27,31,35,0.9) 30%, rgba(27,31,35,0.3) 200%);"></div>

  <div class="container-xl p-responsive position-relative z-2">
    <h2 class="h2-mktg mb-7">Get involved</h2>
    <div class="d-flex flex-row flex-wrap gutter gutter-spacious">
      <a href="https://github.com/github/developer-policy" class="dev-policy-link-box no-underline color-fg-on-emphasis col-12 col-md-6 d-flex flex-column arrow-target-mktg">
        <div class="rounded-2 p-5" style="background: #24292f;">
          <img class="d-block mb-4" src="<%= image_path "modules/site/about/developer-policy/icon-issue.svg" %>" width="48" height="48" alt="" aria-hidden="true" loading="lazy">
          <h3 class="h4-mktg text-semibold mb-3">Open an issue</h3>
          <p class="f3-mktg color-fg-muted mb-4" style="min-height: 80px;">Need help on a developer policy or want to share feedback?</p>
          <span class="f3-mktg mt-auto">
            Visit our repository&nbsp;<%= svg("modules/site/icons/chevrow.svg") %>
          </span>
        </div>
      </a>
      <a href="mailto:policy@github.com" class="arrow-target-mktg dev-policy-link-box no-underline color-fg-on-emphasis col-12 col-md-6 d-flex flex-column mt-5 mt-md-0">
        <div class="rounded-2 p-5" style="background: #24292f;">
          <img class="d-block mb-4" src="<%= image_path "modules/site/about/developer-policy/icon-email.svg" %>" width="48" height="48" alt="" aria-hidden="true" loading="lazy">
          <h3 class="h4-mktg text-semibold mb-3">Send us an email</h3>
          <p class="f3-mktg color-fg-muted mb-4" style="min-height: 80px;">Interested in collaborations or scheduling a meeting?</p>
          <span class="f3-mktg mt-auto">
            Email us&nbsp;<%= svg("modules/site/icons/chevrow.svg") %>
          </span>
        </div>
      </a>
    </div>
  </div>
</div>
