<div class="position-relative py-12 overflow-hidden" <%= mktg_color_theme_attributes %>>
  <picture>
    <source srcset="<%= image_path "modules/site/about/developer-policy/dev-policy-bg/dev-policy-bg@1x.webp" %> 1600w, <%= image_path "modules/site/about/developer-policy/dev-policy-bg/dev-policy-bg@2x.webp" %> 3200w" type="image/webp">
    <img srcset="<%= image_path "modules/site/about/developer-policy/dev-policy-bg/dev-policy-bg@1x.jpg" %> 1600w, <%= image_path "modules/site/about/developer-policy/dev-policy-bg/dev-policy-bg@2x.jpg" %> 3200w" src="<%= image_path "modules/site/about/developer-policy/dev-policy-bg/dev-policy-bg@2x.jpg" %>" alt="" class="width-full height-full object-fit-cover position-absolute d-block top-0 left-0" width="1600" height="740" loading="lazy" decoding="async">
  </picture>
  <div class="width-full height-full position-absolute z-1 top-0 left-0" style="background: linear-gradient(90deg, rgba(27,31,35,1) 0%, rgba(27,31,35,0.9) 30%, rgba(27,31,35,0.3) 200%);"></div>

  <div class="container-xl p-responsive position-relative z-2 py-md-7">
    <div class="f2-mktg color-fg-muted">GitHub Policy</div>
    <h1 class="h0-mktg mb-3 color-fg-default">Fighting for developers</h1>
    <p class="col-7-max f2-mktg mb-4 pr-lg-7">As the home for all developers, GitHub is committed to shaping policies that promote their interests and the future of software. We work on policy in its many forms—laws, regulations, norms, and standard practices—to fight for developers when it matters most.</p>

    <%= render Site::ButtonComponent.new(text: "See our impact", arrow: true, url: "#impact") %>
  </div>
</div>
