<div id="impact" class="py-9 py-md-12" <%= mktg_color_theme_attributes %>>
  <div class="container-xl p-responsive">
    <h2 class="h2-mktg text-center">
      How we make an impact
    </h2>

    <div class="d-block d-lg-flex flex-row flex-items-center gutter gutter-spacious mt-9 mt-md-12">
      <div class="col-lg-6">
        <img src="<%= image_path "modules/site/about/developer-policy/illo-protect.svg" %>" width="457" height="423" class="width-full height-auto mx-auto" style="max-width: 457px" alt="" aria-hidden="true" loading="lazy">
      </div>
      <div class="col-lg-6 mt-6 mt-lg-0">
        <h3 class="h4-mktg mb-2">Protecting open source from EU copyright law</h3>
        <p class="f3-mktg color-text-secondary-inverse">When the EU began working on the Copyright Directive in 2016, software developers weren’t on policymakers’ minds. Drafts effectively required upload filters that would have wreaked havoc on online software collaboration. We worked to mobilize developers and convey their concerns to members of parliament, and together we succeeded: The final text included an exemption for “open source software developing and sharing platforms.”</p>
        <%= render Site::LinkComponent.new(
          url: "#{GitHub.blog_url}/2019-02-13-the-eu-copyright-directive-what-happens-from-here/",
          text: "Learn more") %>
      </div>
    </div>

    <div class="d-block d-lg-flex flex-row-reverse flex-items-center gutter gutter-spacious mt-9 mt-md-12">
      <div class="col-lg-6">
        <img src="<%= image_path "modules/site/about/developer-policy/illo-advancing.svg" %>" width="600" height="471" class="width-full height-auto mx-auto" style="max-width: 557px" alt="" aria-hidden="true" loading="lazy">
      </div>
      <div class="col-lg-6 mt-6 mt-lg-0">
        <h3 class="h4-mktg mb-2">Advancing developer freedom and access in Iran</h3>
        <p class="f3-mktg color-text-secondary-inverse">No matter where developers may live, we’re committed to keeping as much of GitHub available to as many developers as possible. As part of this commitment to support software development everywhere, we make the case to governments for licenses and changes to the law. Starting in 2019, we worked with the US government’s Office of Foreign Assets Control to obtain a license to fully serve developers in Iran. Building on this success, we’re pursuing similar efforts to be able to fully serve developers in Crimea and Syria, and are also advocating for changes to the law so that all developers can have access — whether they use GitHub or other collaboration tools. </p>
        <%= render Site::LinkComponent.new(
          url: "#{GitHub.blog_url}/2021-01-05-advancing-developer-freedom-github-is-fully-available-in-iran/",
          text: "Learn more") %>
      </div>
    </div>

    <div class="d-block d-lg-flex flex-row flex-items-center gutter gutter-spacious mt-9 mt-md-12">
      <div class="col-lg-6">
       <img src="<%= image_path "modules/site/about/developer-policy/illo-establish.svg" %>" width="558" height="446" class="width-full height-auto mx-auto" style="max-width: 558px" alt="" aria-hidden="true" loading="lazy">
      </div>
      <div class="col-lg-6 mt-6 mt-lg-0">
        <h3 class="h4-mktg mb-2">Establishing the Developer Defense&nbsp;Fund</h3>
        <p class="f3-mktg color-text-secondary-inverse">Section 1201 of the US DMCA can pose challenges to developers. Each year, GitHub receives a small number of 1201 takedown claims, contending that developers are hosting code that illegally circumvents a technological protection measure. To help, GitHub has committed $1 million to establish a Developer Defense Fund and sponsored the GitHub Developer Rights Fellowship at Stanford Law School’s Juelsgaard Intellectual Property and Innovation Clinic.</p>
        <%= render Site::LinkComponent.new(
          url: "#{GitHub.blog_url}/2021-07-27-github-developer-rights-fellowship-stanford-law-school/",
          text: "Learn more") %>
      </div>
    </div>
  </div>
</div>
