<% page_meta = {
    title: "GitHub Policy",
    description: "GitHub is committed to shaping policies that promote developers' interests and the future of software."
  }

  page_info \
  title: page_meta[:title],
  description: page_meta["description"],
  class: "overflow-x-hidden",
  richweb: {
    title: page_meta["title"],
    url: request.original_url,
    description: page_meta["description"],
    image: image_path("modules/site/social-cards/developer-policy.jpg"),
  }
%>

<div class="overflow-x-hidden">
  <%= render "site/about/developer_policy/nav" %>
  <%= render "site/about/developer_policy/hero" %>
  <%= render "site/about/developer_policy/best_work" %>
  <%= render "site/about/developer_policy/impact" %>
  <%= render "site/about/developer_policy/advocate" %>
  <%= render "site/about/developer_policy/testimonial" %>
  <%= render "site/about/developer_policy/latest_news", show_latest_news: true %>
  <%= render "site/about/developer_policy/footer_ctas" %>
</div>
