<%# erblint:counter DeprecatedComponentsCounter 5 %>
<%= render(Primer::Beta::Subhead.new) do |component| %>
  <% component.with_heading(tag: :h2) do %>
    Showcase
  <% end %>

  <% component.with_actions do %>
    <%= render(
        Primer::ButtonComponent.new(
          tag: :a,
          href: showcase_collection_path(showcase),
          variant: :small,
        )
      ) { "View in Explore" } %>
    <%= render(
        Primer::ButtonComponent.new(
          tag: :a,
          href: edit_path,
          variant: :small,
        )
      ) { "Edit" } %>
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(mb: 3)) do |component| %>
  <% component.with_body do %>
    <h4 class="mb-2" <%= test_selector("showcase-title") %>>
      <%= showcase.name %>
    </h4>
    <%= showcase.body_html %>
  <% end %>

  <% if showcase.owner.present? %>
    <% component.with_footer do %>
      <div class="color-fg-muted">
        Created by <a class="Link--inTextBlock" href="<%= creator_path %>">@<%= showcase.owner.login %></a>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_header do %>
    <div class="d-flex flex-items-center flex-justify-between">
      <h3 class="Box-title">Repositories</h3>
      <%= render(GitHub::DialogComponent.new(title: "Add repository")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
        <% dialog.with_summary do %>
          <%= render(
              Primer::ButtonComponent.new(tag: :summary, variant: :small)
            ) { "Add repository" } %>
        <% end %>

        <% dialog.with_body do %>
          <%= render Stafftools::Explore::ShowcaseItems::FormComponent.new(
            showcase: showcase,
            item: items.build,
            context: context,
          ) %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if items.present? %>
    <% items.each do |item| %>
      <% repo = item.item %>
      <% component.with_row(test_selector: "showcase-item") do %>
        <div class="d-flex flex-justify-between flex-items-center">
          <div class="col-9">
            <% if repo.present? %>
              <a href="<%= repository_path(repo) %>"><%= repo.name_with_owner %></a>
            <% else %>
              <span class="text-italic">Repository deleted</span>
            <% end %>
          </div>
          <div class="col-3 d-flex flex-justify-end">
            <%= render(
                Primer::ButtonComponent.new(
                  tag: :a,
                  href: edit_item_path(item),
                  variant: :small,
                  mr: 2,
                )
              ) { "Edit" } %>

              <%= form_tag delete_item_path(item), method: :delete do %>
                <%= render(
                    Primer::ButtonComponent.new(
                      scheme: :danger,
                      variant: :small,
                      type: :submit,
                      "data-confirm": "Are you sure you want remove this repo from the collection?"
                    )
                  ) { "Remove" } %>
              <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <% component.with_body(color: :muted, test_selector: "empty-items") do %>
      There aren't any items for this showcase.
    <% end %>
  <% end %>
<% end %>
