<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Beta::Subhead.new) do |component| %>
  <% component.with_heading(tag: :h2, test_selector: "showcases-header") do %>
    <%= heading %>
  <% end %>

  <% component.with_actions do %>
    <%= render Primer::ButtonComponent.new(tag: :a, href: new_url, variant: :small) do %>
      <%= new_button_text %>
    <% end %>
  <% end %>
<% end %>

<% if featured? %>
  <p <%= test_selector("featured-description") %>>
    There should always be <strong>9</strong> featured repositories, currently there are <strong><%= collections.count %></strong>.
    There is a job that will run and update the featured repositories with new ones every Monday.
  </p>
<% end %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed, my: 3)) do |component| %>
  <% collections.each do |collection| %>
    <% component.with_row do %>
      <%= render Stafftools::Explore::Showcases::RowComponent.new(
        collection: collection,
        show_badges: !featured?,
        context: context,
      ) %>
    <% end %>
  <% end %>
<% end %>
