<%= render(Primer::Box.new(display: :flex, flex: 1, flex_grow: 0, test_selector: "action-menu")) do %>
  <memex-project-picker-unlink class="d-flex">
    <%= render(Primer::Alpha::ActionMenu.new(
      select_variant: :none,
      anchor_align: :start,
      anchor_side: :outside_bottom,
      align_self: :center,
      test_selector: "memex-row-action-menu",
    )) do |menu| %>
      <% menu.with_show_button(scheme: :invisible, aria: { label: "More project options" }, anchor_align: :start) do |button| %>
        <% button.with_trailing_action_icon(icon: "kebab-horizontal", mr: 2) %>
      <% end %>

      <% menu.with_item(label: "Make a copy", content_arguments: { classes: "hide-copy-project-button-in-memex", data: copy_project_content_attributes }) do |c| %>
        <% c.with_leading_visual_icon(icon: :copy, color: :muted, mr: 1) %>
      <% end %>

      <% if org_project? && viewer_is_org_member_or_manager? %>
        <% menu.with_item(label: "Copy as template", content_arguments: { classes: "hide-copy-project-button-in-memex", data: copy_as_template_content_attributes }) do |c| %>
          <% c.with_leading_visual_icon(icon: :duplicate, color: :muted, mr: 1) %>
        <% end %>
      <% end %>

      <% if @viewer_can_write %>
        <% if linker? %>
          <% if repository_context? %>
            <% menu.with_item(label: "Remove project", href: unlink_repo_project_beta_path(@owner, current_repository, memex_project_id: @project.id), form_arguments: { method: :delete }) do |c| %>
              <% c.with_leading_visual_icon(icon: :x, color: :muted, mr: 1) %>
            <% end %>
          <% elsif team_context? %>
            <% if disabled_unlink? %>
              <% menu.with_item(label: "Remove project", content_arguments: {"data-show-dialog-id": "cannot-remove-project-#{@project.number}"}) do |c| %>
                <% c.with_leading_visual_icon(icon: :x, color: :muted, mr: 1) %>
              <% end %>
            <% else %>
              <% menu.with_item(label: "Remove project", data: {
                    action: "click:memex-project-picker-unlink#unlinkProject",
                    target: "memex-project-picker-unlink.button",
                    number: @project.number,
                    name: @project.name,
                    owner: @project.owner.to_s
                  }) do |c| %>
                <% c.with_leading_visual_icon(icon: :x, color: :muted, mr: 1) %>
                Remove project
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% if @project.closed? %>
            <% menu.with_item(label: "Reopen", href: update_memex_path, form_arguments: { method: :put, name: :closed, value: 0 }) do |c| %>
              <% c.with_leading_visual_icon(icon: :sync, color: :muted, mr: 1) %>
            <% end %>
          <% else %>
            <% menu.with_item(label: "Close project", href: update_memex_path, form_arguments: { method: :put, name: :closed, value: 1 }) do |c| %>
              <% c.with_leading_visual_icon(icon: :archive, color: :muted, mr: 1) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if is_recent_selected? && (org_project? || projects_dashboard_context?) %>
        <% form_path = org_project? ? remove_visited_org_memex_path(@project.owner, @project.number) : remove_visited_user_memex_path(@project.owner, @project.number) %>
        <% menu.with_item(href: form_path, form_arguments: { method: :delete }) do |c| %>
          <% c.with_leading_visual_icon(icon: :x, color: :muted, mr: 1) %>
          Remove from recently viewed
        <% end %>
      <% end %>
    <% end %>
  </memex-project-picker-unlink>

  <%# Cannot render these dialogs within a <ul> action menu %>
  <%= render(Memex::ProjectList::CopyProjectDialogComponent.new(project: @project)) %>
  <%= render(Memex::ProjectList::CopyProjectDialogComponent.new(project: @project, copy_as_template: true)) %>

  <% if team_context? && disabled_unlink? %>
    <%= render(Primer::Alpha::Dialog.new(
      title: "Cannot remove project",
      id: "cannot-remove-project-#{@project.number}",
    )) do |d| %>
      <% d.with_body do %>
        <p>You must be a member of the team <strong><%= @team.name %></strong> and an administrator of the project <strong><%= @project.title %></strong>.</p>
      <% end %>
      <% d.with_footer do %>
        <%= render(
          Primer::Beta::Button.new(
            data: { "close-dialog-id": "cannot-remove-project-#{@project.number}" }
          )
        ) { "Okay" } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
