<%= form_with model: new_memex_project_record, url: upsert_path, method: :put, id: "js-project-picker-form", role: "search", "aria-label": "Project search" do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :is_template, value: is_template? %>
  <%= f.hidden_field :ui, value: ui&.serialize %>

  <project-buttons-list>
    <%= f.hidden_field(:action_type, id: "action-type-control", name: :action_type, value: "link", data: { target: "project-buttons-list.actionType" }) %>
    <div class="d-flex flex-1 flex-justify-between">
      <% if repo_org_member_or_owner? %>
        <%= render Primer::Beta::Button.new(
          scheme: :primary,
          type: :submit,
          word_break: :break_word,
          mr: 2,
          data: {
            target: "project-buttons-list.newProjectButton",
          }
        ) do |button| %>
          <% button.with_leading_visual_icon(icon: :plus) %>
          New <%= @label %>
        <% end %>
      <% end %>

      <%= render(Memex::ProjectPickerPanelComponent.new(
        context: context,
        team: team,
        viewer: current_user,
        owner: owner,
        suggestions_path: suggestions_path,
        suggestions_recent_path: suggestions_recent_path,
        is_template: is_template?,
        multiselect: multiselect,
      )) do |panel| %>
        <% panel.with_show_button(scheme: :primary) do |button| %>
          <% button.with_leading_visual_icon(icon: :link) %>
          Link a <%= label %>
        <% end %>
      <% end %>
    </div>
  </project-buttons-list>
<% end %>
