<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% copy_organizations_path =     memex_suggested_copy_organizations_path(@project.id) %>

<copy-project>
  <%= form_tag form_path, method: :post do %>
    <%= render(Primer::Alpha::Dialog.new(
      title: dialog_text,
      id: dialog_id,
      size: :medium_portrait,
      data: { test_selector: "project-copy-from-template-dialog"}

    )) do |d| %>
      <% d.with_body(
        classes: "overflow-y-visible" # Permit the owner selector to flow out of the dialog
      ) do %>
        <input type="hidden" name="memex_project_copy[template_id]" value="<%= @template_id %>">
        <input type="hidden" name="memex_project_copy[include_draft_issues]" value="true">
        <ul class="list-style-none mb-3">
          <li class="mb-1">
            <%= primer_octicon(:check, color: :success, "aria-label": "Green checkmark") %>
            Views, custom fields, insights, workflows, and draft issues will be copied.
          </li>
          <li class="mb-1">
            <%= primer_octicon(:dash, "aria-label": "Dash") %>
            Issues and pull requests will not be copied.
          </li>
        </ul>

        <dl class="form-group mt-1">
          <dt class="form-group-header">
            <label for="project-owner">Owner</label>
          </dt>
          <dd class="form-group-body">
            <details class="js-owner-container position-relative details-reset details-overlay select-menu" data-target="copy-project.ownerPicker" >
              <summary class="btn select-menu-button with-gravatar js-owner-select" data-menu-button aria-describedby="project-owner-label">
                Select an owner
              </summary>
              <details-menu preload class="select-menu-modal position-absolute" style="z-index: 99;" src="<%= copy_organizations_path %>" aria-labelledby="repository-owner-label" data-target="copy-project.ownerPickerMenu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                <include-fragment data-target="copy-project.ownerPickerInclude">
                  <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
                </include-fragment>
              </details-menu>
            </details>
          </dd>
        </dl>
        <div class="mb-1 mb-2">
          <label class="d-block mb-1">New project name
            <input <%=test_selector("project-copy-from-template-default-title") %> class="width-full form-control" placeholder="Name" name="memex_project_copy[title]" value="@<%= @current_user.display_login %>'s untitled project">
          </label>
        </div>

        <% d.with_footer(
          show_divider: true
        ) do %>
          <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": dialog_id }, display: :inline_block).with_content("Cancel")) %>
          <%= render(Primer::Beta::Button.new(scheme: :primary, type: :submit, display: :inline_block, data: { target: "copy-project.submitButton", disable_with: "Creating project..." }).with_content("Use template")) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</copy-project>
