<%= render(Primer::Box.new(
  display: :flex,
  flex: :auto,
  align_items: :center
)) do %>
  <%= render(Primer::Box.new(display: :flex, flex: :auto, flex_shrink: 0)) do %>
    <%= render(Primer::Beta::Link.new(
      href: @open_projects_path,
      scheme: :primary,
      muted: !open_state?,
      font_weight: open_state? ? :bold : :normal,
      underline: false,
      p: 0,
      test_selector: "open-memex-count"
    )) do %>
      <%= render(Primer::Beta::Octicon.new(open_icon)) %>
      <%= number_with_delimiter @open_memex_count %> Open
    <% end %>
    <%= render(Primer::Beta::Link.new(
      href: @closed_projects_path,
      scheme: :primary,
      muted: !closed_state?,
      font_weight: closed_state? ? :bold : :normal,
      underline: false,
      p: 0,
      ml: 3,
      test_selector: "closed-memex-count"
    )) do %>
      <%= render(Primer::Beta::Octicon.new(:archive)) %>
      <%= number_with_delimiter @closed_memex_count %> Closed
    <% end %>
  <% end %>

  <%= render Primer::Alpha::ActionMenu.new(
    select_variant: :single,
    anchor_align: :end
  ) do |menu| %>
    <% menu.with_show_button(scheme: :invisible, p: 0 ) { |button|
      button.with_trailing_action_icon(icon: :"triangle-down")
      "Sort"
    } %>
    <% MemexesHelper::SORTS.each do |description, sort, _|
      selected = @parsed_query.selected_projects_sort?(sort)
      next_query = @parsed_query.memex_project_query(replace: { sort: sort}).stringify %>
        <% menu.with_item(
          tag: :a,
          href: "#{@projects_path}?type=new&query=#{next_query}",
          active: selected,
        ) do %>
          <div class="select-menu-item-text"><%= description %></div>
        <% end %>
    <% end %>
  <% end %>
<% end %>
