<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<tr class="<%= class_names("color-bg-inset" => billing_dispute_counter.even?) %>">
  <td class="tiny no-wrap p-2">
    <code>
      <%= link_to billing_dispute.short_dispute_id, billing_dispute.dispute_url, :title => "Open Dispute in #{billing_dispute.platform_name}" %>
    </code>
  </td>
  <td class="tiny no-wrap p-2">
    <code>
      <%= link_to billing_dispute.short_transaction_id, billing_dispute.transaction_url, :title => "Open Transaction in #{billing_dispute.transaction_platform_name}" %>
    </code>
  </td>
  <td class="no-wrap p-2"><%= date_with_time_tooltip(billing_dispute.created_at) %></td>
  <td class="p-2"><%= billing_dispute.reason %></td>
  <td class="p-2">
    <%= billing_dispute.status %>
    <% if billing_dispute.can_respond? %>
      <br>
      <strong>Response due:</strong>
      <%= date_with_time_tooltip(billing_dispute.response_due_by) %>
    <% end %>
  </td>
  <td class="p-2">
    <% if billing_dispute.can_respond? %>
      <%= link_to primer_octicon(:upload), billing_dispute.response_url, title: "Respond to Dispute in #{billing_dispute.platform_name}" %>
    <% end %>
    <% if billing_dispute.refundable? %>
      <%= form_tag refund_path_for(billing_dispute.billing_transaction), :class => "inline-form" do %>
        <button type="submit"
                class="delete-button btn-link color-fg-danger tooltipped tooltipped-n"
                aria-label="Refund"
                data-confirm="Are you sure you want to refund this transaction?"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          <%= primer_octicon(:reply) %>
        </button>
      <% end %>
    <% end %>
  </td>
  <td class="no-wrap p-2"><%= billing_dispute.amount.format %></td>
</tr>
