<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<% markdown_link_id = defined?(file_chooser_id) ? "dd_#{file_chooser_id}_md_link" : "dd_#{rand(2**20)}_md_link" %>
<% if attachments_enabled? %>
  <label class="text-normal drag-and-drop hx_drag-and-drop position-relative d-flex flex-justify-between color-border-emphasis">
    <input <%= upload_policy_accept_extensions_attribute(asset_types) %> type="file"
      multiple
      class="manual-file-chooser manual-file-chooser-transparent top-0 right-0 bottom-0 left-0 width-full ml-0 form-control rounded-top-0"
      <% if defined?(file_chooser_id) %>
        id="<%= file_chooser_id %>"
      <% end %>
      >
      <%# Input opacity must be non-zero to be "invisible" in Firefox, but still read by ChromeVox screenreader. %>
    <span class="color-bg-subtle position-absolute top-0 left-0 rounded-bottom-2 width-full height-full" style="pointer-events: none;"></span>
    <span class="position-relative pr-2" style="pointer-events: none;">
      <span class="default">
        <% gist ||= false %>
        Attach files by <% unless mobile? || gist %>dragging &amp; dropping, <% end %>selecting or pasting them.
      </span>
      <span class="loading">
        <%= render(Primer::Beta::Spinner.new(size: :small, vertical_align: :text_bottom, mr: 1)) %>
          <span class="js-file-upload-loading-text" data-file-upload-message="Uploading your files…">
            Uploading your files…
          </span>
      </span>
      <span class="error bad-file">
        We don’t support that file type.
        <span class="drag-and-drop-error-info">
          <span class="btn-link">Try again</span> with a
          <%= upload_policy_friendly_extensions(asset_types) %>
        </span>
      </span>
      <span class="error bad-permissions">
        Attaching documents requires write permission to this repository.
        <span class="drag-and-drop-error-info">
          <span class="btn-link">Try again</span> with a <%= upload_policy_friendly_extensions(asset_types) %>
        </span>
      </span>
      <span class="error repository-required">
        We don’t support that file type.
        <span class="drag-and-drop-error-info">
          <span class="btn-link">Try again</span> with a <%= upload_policy_friendly_extensions(asset_types) %>
        </span>
      </span>
      <span class="error too-big js-upload-too-big">
        <%# This HTML has been moved off the render thread.
          The error message will come from the server response
        and be inserted in the DOM by JavaScript %>
      </span>
      <span class="error empty">
        This file is empty.
        <span class="drag-and-drop-error-info">
          <span class="btn-link">Try again</span> with a file that’s not empty.
        </span>
      </span>
      <span class="error hidden-file">
        This file is hidden.
        <span class="drag-and-drop-error-info">
          <span class="btn-link">Try again</span> with another file.
        </span>
      </span>
      <span class="error failed-request">
        Something went really wrong, and we can’t process that file.
        <span class="drag-and-drop-error-info">
          <span class="btn-link">Try again.</span>
        </span>
      </span>
    </span>
    <a
      class="Link--muted position-relative d-inline"
      href="<%= GitHub.markdown_docs_url %>"
      target="_blank"
      data-ga-click="Markdown Toolbar, click, help"
      id="<%= markdown_link_id %>"
      <%= test_selector("markdown-icon") %>
    >
      <%= primer_octicon(:markdown, vertical_align: :bottom) %>
    </a>
    <%= render Primer::Alpha::Tooltip.new(for_id: markdown_link_id, direction: :nw, type: :label, text: "Styling with Markdown is supported") %>
  </label>
<% else %>
  <p class="drag-and-drop position-relative d-flex flex-justify-end">
    <a
      class="Link--muted position-relative d-inline"
      href="<%= GitHub.markdown_docs_url %>"
      target="_blank" data-ga-click="Markdown Toolbar, click, help"
      id="<%= markdown_link_id %>"
      <%= test_selector("markdown-icon-attachments-disabled") %>
    >
      <%= primer_octicon(:markdown, vertical_align: :bottom) %>
    </a>
    <%= render Primer::Alpha::Tooltip.new(for_id: markdown_link_id, direction: :nw, type: :label, text: "Styling with Markdown is supported") %>
  </p>
<% end %>
