<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter FlashMigrationCounter 1 %>

<%
  review_comment ||= false
%>

<div class="flash flash-warn <%= review_comment ? "my-2" : "flash-full" %>">
  <button class="flash-close js-comment-hide-minimize-form" type="button"><%= primer_octicon(:x, 'aria-label' => "Cancel hiding comment") %></button>
  <h3 class="<%= review_comment ? "f5" : "f4" %>">Choose a reason for hiding this comment</h3>
  <p class="mb-3">The reason will be displayed to describe this comment to others. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/managing-disruptive-comments/#hiding-a-comment">Learn more about hiding comments</a>.</p>
  <%= form_tag minimize_comment_path(user_id: comment.repository.owner.display_login, repository: comment.repository.name), method: :put, class: "js-comment-minimize d-md-inline-block d-flex" do %>
    <%# `CommunityController#minimize` expects to receive a graphql_id of the comment %>
    <input type="hidden" name="comment_id" value="<%= comment.is_a?(ActiveRecord::Base) ? comment.global_relay_id : comment.id %>">
    <select name="classifier" class="form-select mr-2" aria-label="Reason" required>
      <option value>
      Choose a reason
      </option>
      <%= options_for_select(minimize_reasons_for_select) %>
    </select>
    <%= render Primer::ButtonComponent.new(type: :submit) do %>
      Hide
      <% if responsive? %>
        <span class="d-md-inline-block d-none">comment</span>
      <% else %>
        comment
      <% end %>
    <% end %>
  <% end %>
</div>
