<%
  legacy_commit_comment = nil unless local_assigns.key?(:legacy_commit_comment)
  pull_request_review_comment = comment.is_a?(PlatformTypes::PullRequestReviewComment)
  repository_id = if comment.respond_to?(:repository)
    comment.repository&.database_id
  end
%>

<% if comment.viewer_can_see? %>
  <details class="Details-element details-reset <%= "border rounded-2 color-bg-default" unless pull_request_review_comment %>"
        data-body-version="<%= comment.body_version %>">
  <% if comment.is_a?(PlatformTypes::PullRequestReviewComment) %>
    <summary class="color-fg-muted f6">
      <div class="d-flex flex-justify-between flex-items-center">
        <h3 class="review-comment-contents color-bg-default f5 text-normal text-italic" style="margin-left:38px">
          <div class="discussion-item-icon discussion-item-icon-gray color-fg-muted">
            <%= primer_octicon(:fold) %>
          </div>
          <div class="d-inline-block">
            <%= render partial: "comments/minimized_comment_header", locals: {
                  minimized_by_staff: comment.minimized_by_staff?,
                  minimized_reason: comment.minimized_reason,
                  spammy: comment.spammy?
            } %>
          </div>
        </h3>
        <div class="color-fg-muted text-small">
          <%= link_to(
            "Sign in to view",
            login_path_with_return,
            rel: "nofollow",
            class: "Link--secondary",
            data: sign_in_link_data_attributes(location_in_page: "minimized comment", repository_id: repository_id)
          ) %>
        </div>
      </div>
    </summary>
  <% else %>
    <summary class="color-bg-subtle border-bottom-0 py-0 px-2">
      <div class="d-flex flex-justify-between flex-items-center">
        <h3 class="timeline-comment-header-text f5 color-fg-muted text-normal text-italic">
          <%= render partial: "comments/minimized_comment_header", locals: {
                minimized_by_staff: comment.minimized_by_staff?,
                minimized_reason: comment.minimized_reason,
                spammy: comment.spammy?
          } %>
        </h3>
        <div class="color-fg-muted text-small">
          <%= link_to(
            "Sign in to view",
            login_path_with_return,
            rel: "nofollow",
            class: "Link--secondary",
            data: sign_in_link_data_attributes(location_in_page: "minimized comment", repository_id: repository_id)
          ) %>
        </div>
      </div>
    </summary>
  <% end %>
  </details>
<% else %>
  <div class="<%= "border rounded-2 color-bg-default" unless pull_request_review_comment %>">
  <% if comment.is_a?(PlatformTypes::PullRequestReviewComment) %>
    <div class="color-fg-muted f6">
      <div class="d-flex flex-justify-between flex-items-center">
        <div class="review-comment-contents color-bg-default f5 text-normal text-italic" style="margin-left:38px">
          <div class="discussion-item-icon discussion-item-icon-gray color-fg-muted">
            <%= primer_octicon(:fold) %>
          </div>
          <div class="d-inline-block">
            <%= render partial: "comments/minimized_comment_header", locals: {
                  minimized_by_staff: comment.minimized_by_staff?,
                  minimized_reason: comment.minimized_reason,
                  spammy: comment.spammy?
            } %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="color-bg-subtle border-bottom-0 py-0 px-2">
      <div class="d-flex flex-justify-between flex-items-center">
        <div class="timeline-comment-header-text f5 color-fg-muted text-normal text-italic">
          <%= render partial: "comments/minimized_comment_header", locals: {
                minimized_by_staff: comment.minimized_by_staff?,
                minimized_reason: comment.minimized_reason,
                spammy: comment.spammy?
          } %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
