<div class="avatar-parent-child TimelineItem-avatar d-none d-md-block">
  <%= cached_linked_avatar comment.author %>

  <% if comment.respond_to?(:via_app?) && comment.via_app? %>
    <a href="<%= comment.via_app.html_url %>">
      <img src="<%= comment.via_app.logo_url.to_s %>" alt="<%= comment.via_app.name %>" width="20" height="20" class="avatar avatar-child rounded-2">
    </a>
  <% elsif comment.author.is_a?(Bot) && comment.author.is_dependabot? %>
    <%= cached_dependabot_avatar %>
  <% end %>
</div>
