<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  # We have to use the deprecated button class because the beta `ButtonGroup`
  # component does not currently support embedding our `details-menu`.
%>
<close-reason-selector>
  <div class="BtnGroup d-flex width-full" <%= test_selector("closables-buttons-close") %>>
    <%= render Primer::ButtonComponent.new(
      type: :submit,
      group_item: true,
      flex: 1,
      name: "comment_and_close",
      value: "1",
      classes: "js-comment-and-button js-quick-submit-alternative",
      data: { disable_with: "", comment_text: "Close with comment" },
      "formnovalidate": "",
    ) do %>
      <div class="mr-1 d-inline-block" data-target="close-reason-selector.selectedIconContainer">
        <%= render Primer::Beta::Octicon.new(
          icon: default_option.octicon,
          color: default_option.octicon_color,
        ) %>
      </div>
      <span class="js-form-action-text" data-default-action-text="<%= default_close_text %>">
        <%= default_close_text %>
      </span>
    <% end %>
    <details class="details-reset details-overlay select-menu BtnGroup-parent position-relative">
      <%= render Primer::ButtonComponent.new(
        tag: :summary,
        float: :none,
        group_item: true,
        classes: "select-menu-button",
        data: { disable_invalid: "", disable_with: "" },
        aria: { label: "Select close #{closable_name} reason" },
      ) do %><% end %>
      <details-menu
        class="select-menu-modal position-absolute right-0"
        style="z-index: 99"
        data-action="details-menu-selected:close-reason-selector#handleSelection"
      ><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-list" role="menu">
          <% options.each do |option| %>
            <label
              class="select-menu-item"
              tabindex="0"
              role="menuitemradio"
              aria-checked="<%= option == default_option %>"
              <%= test_selector("option-#{option.value}") %>
            >
              <%= render Primer::Beta::Octicon.new(icon: :check, classes: "select-menu-item-icon") %>
              <%= radio_button_tag :state_reason, option.value, option == default_option %>
              <div class="select-menu-item-text">
                <div class="select-menu-item-heading d-flex flex-items-center">
                  <div class="d-flex flex-items-center mr-1" data-close-reason-icon>
                    <%= render Primer::Beta::Octicon.new(
                      icon: option.octicon,
                      color: option.octicon_color,
                    ) %>
                  </div>
                  <%= option.title %>
                </div>
                <span class="description text-normal"><%= option.description %></span>
              </div>
            </label>
          <% end %>
        </div>
      </details-menu>
    </details>
  </div>
</close-reason-selector>
