<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  # We have to use the deprecated button class because the beta `ButtonGroup`
  # component does not currently support embedding our `details-menu`.
%>
<reopen-reason-selector>
  <div class="BtnGroup d-flex width-full" <%= test_selector("closables-buttons-reopen") %>>
    <%= render Primer::ButtonComponent.new(
      type: :submit,
      flex: 1,
      group_item: true,
      name: "comment_and_open",
      value: "1",
      classes: "js-comment-and-button js-quick-submit-alternative",
      data: {
        target: "reopen-reason-selector.reopenButton",
        disable_with: "",
        comment_text: "Reopen with comment"
      },
      "formnovalidate": "",
    ) do %>
      <div class="mr-1 d-inline-block" data-target="reopen-reason-selector.selectedIconContainer">
        <%= reopen_icon %>
      </div>
      <span
        class="js-form-action-text"
        data-target="reopen-reason-selector.reopenButtonText"
        data-default-action-text="<%= default_reopen_text %>"
      >
        <%= default_reopen_text %>
      </span>
    <% end %>
    <details class="details-reset details-overlay select-menu BtnGroup-parent position-relative">
      <%= render Primer::ButtonComponent.new(
        tag: :summary,
        float: :none,
        group_item: true,
        classes: "select-menu-button",
        data: { disable_invalid: "", disable_with: "" },
        aria: { label: "Select close #{closable_name} reason" },
      ) do %><% end %>
      <details-menu
        class="select-menu-modal position-absolute right-0"
        style="z-index: 99"
        data-action="details-menu-selected:reopen-reason-selector#handleSelection"
      ><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-list" role="menu">
          <label
            class="select-menu-item"
            tabindex="0"
            role="menuitemradio"
            aria-checked="true"
            data-default-action-text="<%= default_reopen_text %>"
            data-comment-text="Reopen with comment"
          >
            <%= render Primer::Beta::Octicon.new(icon: :check, classes: "select-menu-item-icon") %>
            <%= radio_button_tag :state_reason, "reopened", true %>
            <div class="select-menu-item-text">
              <div class="select-menu-item-heading d-flex flex-items-center">
                <div class="d-flex flex-items-center mr-1" data-reopen-reason-icon>
                  <%= reopen_icon %>
                </div>
                <%= default_reopen_text %>
              </div>
            </div>
          </label>
          <% selectable_options.each do |option| %>
            <label
              class="select-menu-item"
              tabindex="0"
              role="menuitemradio"
              data-default-action-text="<%= option.title %>"
              data-comment-text="Close with comment"
              <%= test_selector("option-#{option.value}") %>
            >
              <%= render Primer::Beta::Octicon.new(icon: :check, classes: "select-menu-item-icon") %>
              <%= radio_button_tag :state_reason, option.value %>
              <div class="select-menu-item-text">
                <div class="select-menu-item-heading d-flex flex-items-center">
                  <div class="d-flex flex-items-center mr-1" data-reopen-reason-icon>
                    <%= render Primer::Beta::Octicon.new(
                      icon: option.octicon,
                      color: option.octicon_color,
                    ) %>
                  </div>
                  <%= option.title %>
                </div>
                <span class="description text-normal"><%= option.description %></span>
              </div>
            </label>
          <% end %>
        </div>
      </details-menu>
    </details>
  </div>
</reopen-reason-selector>
