<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="position-relative color-bg-subtle pt-3">
  <div class="mb-4 px-3">
    <%= render :partial => "repositories/title", :locals => { :repository => current_repository } %>
  </div>
</div>

<div class="container-sm px-3 mt-4">
  <div class="pt-4 color-bg-default text-center">
    <p><h3>GitHub staff is requesting temporary access to <a class="Link--inTextBlock" href="/<%= current_repository.name_with_display_owner %>"><%= current_repository.name_with_display_owner %></a></h3></p>

    <div class="col-11 col-sm-8 mx-auto pb-2 border-bottom color-fg-muted">
      <p>
        GitHub staff would like to temporarily access this repository. If approved, staff access will automatically be revoked after five days.
      </p>
    </div>

    <div class="boxed-group mt-4"><%# erblint:disable DeprecatedCustomCss %>
      <%= form_tag repository_access_request_consent_path(consent: "accept", id: access_request.id), :class => "inline-form js-navigation-open" do %>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>
          Accept request
        <% end %>
      <% end %>

      <%= form_tag repository_access_request_consent_path(consent: "deny", id: access_request.id ), :class => "inline-form js-navigation-open" do %>
        <%= render Primer::ButtonComponent.new(type: :submit) do %>
          Decline request
        <% end %>
      <% end %>
    </div>
  </div>
</div>
