<%# rubocop:disable Lint/InstanceVariable %>
<div class='stafftools-auditlog <%= 'invalid' if log.invalid? %>'>
  <%= primer_octicon(log.icon, height: 32) %>
  <div class='js-details-container Details audit-log-entry <%= "open" if @logs.size == 1 %>'>
    <div class='Details'>
      <p class="h4 pb-3 pt-1"><strong>Unlock user’s private repository logs</strong></p>
      <div class="py-3 Box px-4 mb-3">
        <span class="float-right"><%= time_ago_in_words_js log.created_at %></span>
        <strong class="audit-log-title pb-1"><%= log.action %>
          <% if log.invalid? %>
            <%= content_tag(:span, primer_octicon(:alert),
                            :class => "tooltipped tooltipped-s tooltipped-auditlog",
                            :'aria-label' => view.invalid_tooltip_label(log)) %>
          <% end %>
          <% if view.show_filter_links? %>
            <% search_action_url = view.filter_action_query(log.action) %>
            <%= render(Primer::Beta::Link.new(id: "action-filter-search-#{log.action}", href: "#{search_action_url}", aria: { label: "Show only #{log.action} events" }, data: { pjax: true } )) do |component| %>
              <% component.with_tooltip(text: "Show only #{log.action} events") %>
              <%= primer_octicon(:search) %>
            <% end %>
            <% hide_action_url = view.hide_action_query(log.action) %>
            <%= render(Primer::Beta::Link.new(id: "action-filter-hide-#{log.action}", href: "#{hide_action_url}", aria: { label: "Hide #{log.action} events" }, data: { pjax: true } )) do |component| %>
              <% component.with_tooltip(text: "Hide #{log.action} events") %>
              <%= primer_octicon(:"bell-slash") %>
            <% end %>
          <% end %>
        </strong>
        <small class="log-subtitle">
          <%= log.title(viewer: current_user) %>
        </small>
        <p class="pb-1">
          Performed
          <% if log.actor %>
            by <%= view.log_query(log.actor) %>
          <% end %>
          from <%= view.actor_location log %>
          <%= "(#{log.country})" unless log.country.blank? %>
        </p>
        <p>
          Targeting
          <% if log.repo %>
            repository
            <%= view.log_query log.repo %>
          <% elsif log.org %>
            organization
            <%= view.log_query log.org %>
          <% elsif log.business %>
            business
            <%= view.log_query log.business %>
          <% elsif log.user %>
            user <%= view.log_query log.user %>
          <% elsif log.hit[:user] %>
            user <%= view.log_query log.hit[:user] %>
          <% elsif log.actor %>
            user <%= view.log_query log.actor %>
          <% else %>
            <em>unknown</em>
          <% end %>
        </p>
      </div>
      <%= render :partial => "stafftools/users/hubber_prompt_form", locals: {this_user: log.actor} %>
    </div>
  </div>
</div>
