<% if view.show_copy_all? %>
  <hr class="bleed-flush">
  <h4>Copy all log metadata for internal use</h4>
  <%= render Primer::Beta::ClipboardCopy.new(float: :right, classes: "btn", value: view.all_pretty_metadata, "aria-label": "Copy to clipboard") %>
  <p>
    Copy the metadata of all displayed log entries to your clipboard as JSON-formatted data.<br>
    Data that is copied has been sanitized of sensitive data but may include actions the user may not normally see. Share with caution.
  </p>
  <hr class="bleed-flush">
<% end %>
<% if view.show_copy_filtered?%>
  <h4>Copy user facing log metadata</h4>
  <%= render Primer::Beta::ClipboardCopy.new(float: :right, classes: "btn", value: view.filtered_pretty_metadata, "aria-label": "Copy to clipboard") %>
  <p>
    Copy log metadata that would appear in either a user's security history or an organization's audit log. Sensitive fields will
    be removed. Review events before sharing with a user.
  </p>
  <hr class="bleed-flush">
<% end %>

<% pagination_content = capture do %>
  <div class="paginate-container">
    <div class="pagination">
      <% if view.prev_page? %>
        <%= link_to "Newer", view.prev_page_params, method: :get %>
      <% else %>
        <span class="disabled">Newer</span>
      <% end %>

      <% if view.next_page? %>
        <%= link_to "Older", view.next_page_params, method: :get %>
      <% else %>
        <span class="disabled">Older</span>
      <% end %>
    </div>
  </div>
<% end %>

<%= pagination_content if view.logs? %>

<% if view.logs? %>
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Logs for <%= view.query_string %>
    <% end %>
  <% end %>

  <%= render \
      partial: "stafftools/search/audit_log_table",
      locals: {
        view: view
      } %>
<% else %>
  <% if !view.query_string.blank? %>
    <hr class="bleed-flush">
    <h3>No logs found for: <%= view.query_string %></h3>
  <% end %>
<% end %>

<%= pagination_content if view.logs? %>
