<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
    <% component.with_header do %>
      <h3 class="Box-title">
        Search results &ndash; Accounts
      </h3>
    <% end %>
    <% if results.renamed_user %>
      <% component.with_footer do %>
        <p>
        Account renamed from "<%= results.old_name %>" to
        <%= link_to results.renamed_user, stafftools_user_path(results.renamed_user), class: "Link--inTextBlock" %>
        </p>
      <% end %>
    <% else %>
      <% if results.users.empty? && results.fuzzy_users.empty? && results.deleted_users.empty? %>
        <% component.with_footer do %>
          <p>No accounts found.</p>
        <% end %>
      <% else %>
          <% results.users.each do |user| %>
            <% component.with_row(clearfix: true) do %>
              <%= render(Stafftools::Users::UserListItemComponent.new(user: user)) %>
            <% end %>
          <% end %>
          <% unless results.deleted_users.empty? %>
            <% results.deleted_users.each do |deleted_user| %>
              <% component.with_row(clearfix: true) do %>
                <%= render(Stafftools::Users::UserListItemComponent.new(user: deleted_user, deleted: true)) %>
              <% end %>
            <% end%>
          <% end %>
        <% unless results.fuzzy_users.empty? %>
          <% component.with_row(mt: 2, classes: "fuzzy-match-header") do %>
            Fuzzy matches
          <% end %>
          <%= render :partial => "stafftools/search/fuzzy_member", :collection => results.fuzzy_users, locals: {component: component} %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% unless GitHub.single_business_environment? %>
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
      <% component.with_header do %>
        <h3 class="Box-title">
          Search results &ndash; Enterprises
        </h3>
      <% end %>
      <% if results.businesses.empty? && results.deleted_businesses.empty? %>
        <% component.with_row do %>
          <p>No enterprises found.</p>
        <% end %>
      <% else %>
        <% results.deleted_businesses.each do |business| %>
          <% component.with_row(test_selector: "deleted-enterprise-#{business.id}") do %>
            <%= render(Stafftools::Businesses::BusinessListItemComponent.new(
              business: business,
              show_deleted_label: true,
              show_emu_label: business.enterprise_managed?
            )) %>
          <% end %>
        <% end %>

        <% results.businesses.each do |business| %>
          <% component.with_row(test_selector: "enterprise-#{business.id}") do %>
            <%= render(Stafftools::Businesses::BusinessListItemComponent.new(
              business: business
            )) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% unless GitHub.single_business_environment? %>
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
      <% component.with_header do %>
        <h3 class="Box-title">
          Search results &ndash; Customers
        </h3>
      <% end %>
      <% if results.customers.empty? %>
        <% component.with_row do %>
          <p>No customers found.</p>
        <% end %>
      <% else %>
        <% results.customers.each do |customer| %>
          <% if customer.business.present? %>
            <% component.with_row(test_selector: "customer-#{customer.id}") do %>
              <%= render(Stafftools::Businesses::BusinessListItemComponent.new(
                business: customer.business
              )) %>
            <% end %>
          <% elsif customer.users.present? || customer.organizations.present? %>
            <% users_and_orgs = customer.users + customer.organizations %>
            <%= render :partial => "stafftools/member", collection: users_and_orgs, locals: {component: component} %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3, classes: 'repositories')) do |component| %>
    <% component.with_header do %>
      <h3 class="Box-title">
        Search results &ndash; Repositories
      </h3>
    <% end %>
    <% if results.repositories.empty? %>
      <% component.with_row do %>
        <p>No repositories found.</p>
      <% end %>
    <% else %>
      <% results.repositories.each do |repo| %>
        <% component.with_row do %>
          <% if repo.owner.nil? %>
            <%= primer_octicon((repo.public? ? "repo" : "lock").to_sym) %>
            (no owner)/<%= repo.name %>
            <small>ID: <%= repo.id %></small>
          <% else %>
            <%= primer_octicon((repo.public? ? "repo" : "lock").to_sym) %>
            <%= link_to repo.name_with_owner, gh_stafftools_repository_path(repo) %>
            <small><%= repo.human_disk_usage %></small>
            <% if repo.fork? && repo.parent %>
              <div class="text-small lh-condensed-ultra no-wrap">
                Forked from <%= link_to repo.parent.name_with_owner,
                  gh_stafftools_repository_path(repo.parent), class: "Link--inTextBlock" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
    <% component.with_header do %>
      <h3 class="Box-title">
        Search results &ndash; OAuth applications
      </h3>
    <% end %>
    <% if results.oauth_apps.empty? %>
      <% component.with_row do %>
        <p>No OAuth applications found.</p>
      <% end %>
    <% else %>
      <% results.oauth_apps.each do |oauth_app| %>
        <% component.with_row do %>
          <%= primer_octicon(:gear) %>
          <%= oauth_app.user %> /
          <%= link_to oauth_app.name, stafftools_user_application_path(oauth_app.user, oauth_app.id) %>
          &ndash;
          <small><%= pluralize results.oauth_app_user_counts[oauth_app.id], "user" %></small>
          <% if oauth_app.synchronized_dotcom_app? %>
            <small>
              &ndash;
              <% link_to "(syncronized)", oauth_app.dotcom_app_owner_metadata.url, class: "Link--secondary" %>
            </small>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
    <% component.with_header do %>
      <h3 class="Box-title">
        Search results &ndash; Teams
      </h3>
    <% end %>
    <% if results.teams.empty? %>
      <% component.with_row do %>
        <p>No teams found.</p>
      <% end %>
    <% else %>
      <% results.teams.each do |team| %>
        <% component.with_row do %>
          <%= render GitHub::AvatarComponent.new actor: team.owner %>
          <%= team.owner.name %> /
          <%= link_to team.name, gh_stafftools_team_path(team) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
    <% component.with_header do %>
      <h3 class="Box-title">
        Search results &ndash; GitHub Apps
      </h3>
    <% end %>
    <% if results.integrations.empty? %>
      <% component.with_row do %>
        <p>No GitHub Apps found.</p>
      <% end %>
    <% else %>
      <% results.integrations.each do |integration| %>
        <% component.with_row do %>
          <%= primer_octicon(:gear) %>
          <%= integration.owner.name %> /
          <%= link_to integration.name, stafftools_user_app_path(integration.owner, integration) %>
          <% if integration.synchronized_dotcom_app? %>
            <small>
              &ndash;
              <% link_to "(syncronized)", integration.dotcom_app_owner_metadata.url, class: "Link--secondary" %>
            </small>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
    <% component.with_header do %>
      <h3 class="Box-title">
        Search results &ndash; GitHub App Installations
      </h3>
    <% end %>
    <% if results.integration_installations.empty? %>
      <% component.with_row do %>
        <p>No GitHub App Installations found.</p>
      <% end %>
    <% else %>
      <% results.integration_installations.each do |installation| %>
        <% component.with_row do %>
          <%= primer_octicon(:gear) %>
          <%= installation.target.name %> /
          <%= link_to installation.integration.name, stafftools_user_installation_path(installation.target, installation) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
    <% component.with_header do %>
      <h3 class="Box-title">
        Search results for &ndash; Gists
      </h3>
    <% end %>
    <% if results.gists.empty? %>
      <% component.with_row do %>
        <p>No Gists found.</p>
      <% end %>
    <% else %>
      <% results.gists.each do |gist| %>
        <% component.with_row do %>
          <%= primer_octicon(:"code-square") %>
          <%= link_to gist.name_with_owner, stafftools_user_gist_path(gist.user_param, gist) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
    <% component.with_header do %>
      <h3 class="Box-title">
        Search results for &ndash; Hooks
      </h3>
    <% end %>
    <% if results.hook %>
      <% component.with_row do %>
        <p>
        <%= primer_octicon(:plug) %>
        <%= link_to "Hook with id #{results.hook.id}", stafftools_hook_path(results.hook) %>
        </p>
      <% end %>
    <% else %>
      <% component.with_row do %>
        <p>No hooks found.</p>
      <% end %>
    <% end %>
  <% end %>
