<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render layout: "stafftools/stafftools" do %>
  <div class="stafftools-search">
    <%= form_tag stafftools_search_actions_workflow_execution_path, :method => :get do %>
      <%= text_field_tag :query, query, :class => "short", :autofocus => true,
          "aria-label" => "Search workflow execution" %>
      <%= render Primer::ButtonComponent.new(type: :submit) do %>Search<% end %>
    <% end %>
  </div>
  <div class="boxed-group">
    <h3>Search results &ndash; Workflow Runs</h3>
    <div class="boxed-group-inner">
      <% if workflow_runs.empty? %>
        <p>No workflow runs found with id <%= query %>.</p>
      <% else %>
        <ul class="boxed-group-list standalone">
          <% workflow_runs.each do |workflow_run| %>
            <li>
              <%= link_to "Workflow Run (ID: #{workflow_run.id}, check suite ID: #{workflow_run.check_suite_id}, repo: #{workflow_run.repository.name_with_owner})",
                 actions_workflow_execution_stafftools_repository_path(
                  workflow_run.repository.owner,
                  workflow_run.repository,
                  workflow_run.check_suite_id
                ) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
