<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>

<% view = Stafftools::Search::AuditLogView.new(page: @page, logs: @logs, query_string: @query_string, current_user: @current_user, results: @results) %>

<% page_info title: view.page_title, selected_link: :audit_log %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Audit log
    <% end %>
      <% component.with_actions do %>
        <%= render(
          Primer::Beta::Button.new(
            tag: :a,
            href: view.json_log_path,
            aria: { label: view.json_title },
            classes: view.json_css + " js-download-button",
            hidden: true,
          )
        ) do %>
          <%= primer_octicon(:download, mr: 1) %>
          JSON
        <% end %>
      <% end %>
  <% end %>

  <%= form_tag "", :method => :get do %>
    <dl class="form-group">
      <dt>
        <label for="query">Query</label>
      </dt>
      <dd>
        <% if view.ade_query? %>
          <%= text_area_tag :query, view.query_string, placeholder: @default_query_string,
            class: "js-quick-submit mb-3" %>
        <% else %>
          <%= text_field_tag :query, view.query_string %>
        <% end %>
        <%= render Primer::Beta::Button.new(type: :submit) do %>Search<% end %>
        <% if view.ade_query? %>
          <details class="mt-4">
            <summary>Questions about the new audit log?</summary>
            <ul>
              <li class="ml-4">
                Read more about the change on
                <a class="Link--inTextBlock" href="https://thehub.github.com/epd/engineering/products-and-services/internal/audit-log/stafftools-kql/">
                  The Hub.
                </a>
              </li>
              <li class="ml-4">
                View the official
                <a class="Link--inTextBlock" href="https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/">KQL documentation.</a>
              </li>
              <li class="ml-4">
                Submit feedback in this <a class="Link--inTextBlock" href="https://github.com/github/audit-log/discussions/998">discussion.</a>
              </li>
              <li class="ml-4">
                Chat with the audit log team in <a class="Link--inTextBlock" href="https://github.slack.com/archives/C0EARN63D">Slack.</a>
              </li>
            </ul>
          </details>
        <% end %>
      </dd>
    </dl>
    <% unless view.ade_query? %>
      <%= stafftools_selected_link_to "Advanced Search", stafftools_audit_log_advanced_search_path %>
    <% end %>
  <% end %>
  <%= csrf_hidden_input_for stafftools_audit_log_query_start_url, class: "js-data-url-csrf" %>

  <async-audit-log data-url="<%= view.start_async_query(after: audit_log_params[:after], before: audit_log_params[:before], query: audit_log_params[:query])%>">
    <%= render "stafftools/search/query_loading_spinner"%>
    <div class="Box-row" data-target="async-audit-log.warning" hidden>
      <%= render(Primer::Beta::Flash.new(scheme: :danger)) do %>
        <%= render(Primer::Beta::Octicon.new("alert")) %>
          Too many queries in progress. Please try again later.
          <%= render Primer::Beta::CloseButton.new(ml: 2, classes: "SelectMenu-closeButton btn-link", aria_label: "Dismiss this message", "data-action": "click:async-audit-log#closeWarning", float: :right) %>
      <% end %>
    </div>
    <div class="Box-row" data-target="async-audit-log.error" hidden>
      <%= render(Primer::Beta::Flash.new(scheme: :danger)) do %>
        <%= render(Primer::Beta::Octicon.new("alert")) %>
          There was an error retrieving your results. Please try again later.
        <%= render Primer::Beta::CloseButton.new(ml: 2, classes: "SelectMenu-closeButton btn-link", aria_label: "Dismiss this message", "data-action": "click:async-audit-log#closeError", float: :right) %>
      <% end %>
    </div>
  </async-audit-log>
<% end %>
