<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>

<% view = Stafftools::Search::AuditLogView.new(page: @page, logs: @logs, query_string: @query_string, current_user: @current_user, results: @results) %>

<% page_info title: view.page_title, selected_link: :audit_log %>

<% pagination_content = capture do %>
  <div class="paginate-container">
    <div class="pagination">
      <% if view.prev_page? %>
        <%= link_to "Newer", view.prev_page_params %>
      <% else %>
        <span class="disabled">Newer</span>
      <% end %>

      <% if view.next_page? %>
        <%= link_to "Older", view.next_page_params %>
      <% else %>
        <span class="disabled">Older</span>
      <% end %>
    </div>
  </div>
<% end %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Audit log
    <% end %>
    <% if view.show_copy_all? %>
      <% component.with_actions do %>
        <%= render(
          Primer::ButtonComponent.new(
            tag: :a,
            href: view.json_log_path,
            aria: { label: view.json_title },
            classes: view.json_css
          )
        ) do |button| %>
          <% button.icon(icon: :download) %>
          JSON
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= form_tag "", :method => :get do %>
    <dl class="form-group">
      <dt>
        <label for="query">Query</label>
      </dt>
      <dd>
        <% if view.ade_query? %>
          <%= text_area_tag :query, view.query_string, placeholder: @default_query_string,
            class: "js-quick-submit mb-3" %>
        <% else %>
          <%= text_field_tag :query, view.query_string %>
        <% end %>
        <%= render Primer::ButtonComponent.new(type: :submit) do %>Search<% end %>
        <% if view.ade_query? %>
          <details class="mt-4">
            <summary>Questions about the new audit log?</summary>
            <ul>
              <li class="ml-4">
                Read more about the change on
                <a class="Link--inTextBlock" href="https://thehub.github.com/epd/engineering/products-and-services/internal/audit-log/stafftools-kql/">
                  The Hub.
                </a>
              </li>
              <li class="ml-4">
                View the official
                <a class="Link--inTextBlock" href="https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/">KQL documentation.</a>
              </li>
              <li class="ml-4">
                Submit feedback in this <a class="Link--inTextBlock" href="https://github.com/github/audit-log/discussions/998">discussion.</a>
              </li>
              <li class="ml-4">
                Chat with the audit log team in <a class="Link--inTextBlock" href="https://github.slack.com/archives/C0EARN63D">Slack.</a>
              </li>
            </ul>
          </details>
        <% end %>
      </dd>
    </dl>
    <% unless view.ade_query? %>
      <%= stafftools_selected_link_to "Advanced Search", stafftools_audit_log_advanced_search_path %>
    <% end %>
  <% end %>

  <%= pagination_content if view.logs? %>

  <% if view.show_copy_all? %>
    <hr class="bleed-flush">

    <h4>Copy all log metadata for internal use</h4>

    <%= render Primer::Beta::ClipboardCopy.new(float: :right, classes: "btn", value: view.all_pretty_metadata, "aria-label": "Copy to clipboard") %>
    <p>
      Copy the metadata of all displayed log entries to your clipboard as JSON-formatted data.<br>
      Data that is copied has been sanitized of sensitive data but may include actions the user may not normally see. Share with caution.
    </p>

    <hr class="bleed-flush">
  <% end %>

  <% if view.show_copy_filtered?%>
    <h4>Copy user facing log metadata</h4>

    <%= render Primer::Beta::ClipboardCopy.new(float: :right, classes: "btn", value: view.filtered_pretty_metadata, "aria-label": "Copy to clipboard") %>
    <p>
      Copy log metadata that would appear in either a user's security history or an organization's audit log. Sensitive fields will
      be removed. Review events before sharing with a user.
    </p>

    <hr class="bleed-flush">
  <% end %>

  <% if view.logs? %>
    <%= render(Primer::Beta::Subhead.new) do |component| %>
      <% component.with_heading(tag: :h2) do %>
        Logs for <%= view.query_string %>
      <% end %>
    <% end %>

    <%= render \
        partial: "stafftools/search/audit_log_table",
        locals: {
          view: view
        } %>
  <% else %>
    <% if !view.query_string.blank? %>
      <hr class="bleed-flush">
      <h3>No logs found for: <%= view.query_string %></h3>
      <% if Rails.env.development? %>
        <p class="pt-2"> Were you expecting results? Make sure you have Driftwood running by following
          <a class="Link--inTextBlock" href="https://github.com/github/driftwood#codespaces-development">these steps</a>.
        </p>
      <% end %>
    <% end %>
  <% end %>

  <%= pagination_content if view.logs? %>
<% end %>
