<%# erblint:counter DeprecatedComponentsCounter 1 %>

<% page_info title: "Audit log advanced search", selected_link: :audit_log %>

<% view = Stafftools::Search::AuditLogAdvancedSearchView.new %>
<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Audit log advanced search
    <% end %>
  <% end %>

  <%= form_tag stafftools_audit_log_path, :method => :get do %>
    <div class="pagehead codesearch-head">
      <div class="TableObject search-form-fluid" id="adv_code_search">
        <div class="TableObject-item TableObject-item--primary">
          <label class="form-control search-page-label js-advanced-search-label" for="search-text">
            <input id="search-text" aria-label="Search text" class="form-control input-block search-page-input js-advanced-search-input js-advanced-search-prefix" data-search-prefix="" type="text" value="">
            <p class="completed-query js-advanced-query top-0 right-0 left-0"></p>
          </label>
          <input class="js-search-query" type="hidden" name="query" value="">
          <input class="js-type-value" type="hidden" name="type" value="">
          <input type="hidden" name="ref" value="advsearch">
        </div>
        <div class="TableObject-item">
          <%= render Primer::ButtonComponent.new(type: :submit) do %>Search<% end %>
        </div>
      </div>
    </div>

    <br>

    <p>Below are all the indexed fields you can search against as well as a generic "All indexes search" field.</p>

    <div class="advanced-search-form">
      <fieldset>
        <dl class="form-group flattened">
        <% view.advanced_search_fields.each do |field| %>
          <dt><label for="<%= field %>"><%= view.advanced_search_label_pretify(field) %>:</label></dt>
          <dd>
          <input id="<%= field %>" type="text" class="form-control js-advanced-search-prefix" data-search-prefix="<%= field %>:" value="">
            <small>Search <i><%= field %></i> index</small>
          </dd>
        <% end %>
        </dl>
      </fieldset>
    </div>
  <% end %>
<% end %>
