<% view = Stafftools::RepositoryViews::IndexView.new %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="stafftools-search" data-hpc>
    <%= form_tag "/stafftools/search", :method => :get do %>
      <%= text_field_tag :query, query, :class => "short", :autofocus => true,
        "aria-label" => "Search users, organizations, repositories, gists and OAuth applications" %>
      <%= render Primer::Beta::Button.new(type: :submit, display: :inline_block) do %>Search<% end %>
    <% end %>
  </div>

  <% if GitHub.flipper[:stafftools_async_search_results].enabled?(current_user) %>
    <div>
      <%= render_react_partial ssr: true, name: "search-results", props: { searchQuery: query} %>
    </div>
  <% else %>
    <%= render :partial => "stafftools/search/search_results", locals: {results: results, query: query} %>
  <% end %>
<% end %>
