<%# `view` is an instance of AutocompleteView %>

<% view.suggestions.each do |suggested_target| %>
  <li class="member-suggestion typeahead-result"
      role="option"
      data-autocomplete-value="<%= suggested_target.display_login %>"
      data-name="<%= suggested_target.display_login %>">

      <%= avatar_for(suggested_target, 24, :class => "avatar") %>
      <p class="member-suggestion-info">
        <strong class="member-login float-left">
          <%= suggested_target.display_login %>
        </strong>
        <span class="member-name">
          <%= suggested_target.profile_name %>
        </span>
      </p>
  </li>
<% end %>
