<%= render(SecretScanning::Mailers::LayoutComponent.new(
  title: @title,
  icon: @icon,
  )) do |layout| %>
  <%= layout.with_header_text do %>
    <%= @header_prefix%> <b><%= @repo.name_with_display_owner %></b>
  <% end %>
  <%= layout.with_subheader_text do %>
    <p><%= @message %></p>
    <% if @secondary_message.present? %>
    <p><%= @secondary_message %></p>
    <% end %>
  <% end %>

  <%= render(Mail::SpacerComponent.new) %>
  <% layout.with_main_section do %>
    <%= render(SecretScanning::Mailers::AlertsListComponent.new(@alerts, @repo, @alerts_list_limit, @total_scan_count, @skip_bottom_border)) %>
    <% if @total_alert_count.present? && @total_alert_count > 0 %>
      <%= render(Mail::ContainerComponent.new) do %>
        <div class="p-4">This repository has a total of <%= @total_alert_count %> open secret scanning alerts.</div>
        <%= render(Mail::ButtonComponent.new(
          text: "Review all alerts",
          url: GitHub.url + @results_path,
          classes: "btn-primary btn-large")) %>
      <% end %>
    <% end %>
  <% end %>

  <% if @detected_by_ai %>
    <% layout.with_content_footer do %>
      <%= render(SecretScanning::Mailers::DetectedByAiComponent.new) %>
    <% end %>
  <% end %>

  <% if @feedback_link %>
    <% layout.with_content_footer do %>
      <%= render(SecretScanning::Mailers::BetaFeedbackLinkComponent.new("Beta", @feedback_link)) %>
    <% end %>
  <% end %>

  <% layout.with_footer_text do %>
    <p><%= @footer %></p>
  <% end %>
<% end %>
