<%= render(SecretScanning::Mailers::LayoutComponent.new(
  title: @title,
  icon: @icon,
  )) do |layout| %>
  <%= layout.with_header_text do %>
    <%= @header_text %>
  <% end %>
  <%= layout.with_subheader_text do %>
    <h3><%= @message %></h3>
  <% end %>

  <% layout.with_main_section do %>
    <%= render(Mail::ContainerComponent.new) do %>
    The dry run failed for the "<%=@custom_pattern_name%>" custom pattern in the <b><%=@owner_name%></b> <%= @owner_scope%>. Please review the pattern before dry running it again.
    <%= render(Mail::SpacerComponent.new) %>
    <%= render(Mail::ButtonComponent.new(
      text: "View custom pattern",
      url: GitHub.url + @custom_pattern_edit_path,
      classes: "btn-primary btn-large")) %>
    <% end %>
  <% end %>
  <% layout.with_footer_text do %>
    <p>You are receiving this email because GitHub had a problem performing a dry run for a custom pattern.</p>
  <% end %>
<% end %>
