<%= render(SecretScanning::Mailers::LayoutComponent.new(
  title: @title,
  icon: @icon,
  )) do |layout| %>
  <%= layout.with_header_text do %>
    <%= @header_text %>
  <% end %>
  <%= layout.with_subheader_text do %>
    <%= @message %>
  <% end %>

  <%= render(Mail::SpacerComponent.new) %>
  <% layout.with_main_section do %>
    <%= render(Mail::ContainerComponent.new) do %>
      Your dry run for "<%=@custom_pattern_name%>" custom pattern in the <b><%=@owner_name%></b> <%= @owner_scope%> has successfully completed.
      <%= render(Mail::SpacerComponent.new) %>
      <%= render(Mail::ContainerComponent.new) do %>
        Please review these results before publishing your pattern.
      <% end %>
      <%= render(Mail::SpacerComponent.new) %>
      <%= render(Mail::ButtonComponent.new(
        text: "View results",
        url: GitHub.url + @custom_pattern_edit_path,
        classes: "btn-primary btn-large")) %>
    <% end %>
  <% end %>
  <% layout.with_footer_text do %>
    <p>You are receiving this email because GitHub found matches in a custom pattern dry run.</p>
  <% end %>
<% end %>
