<%= render(SecretScanning::Mailers::LayoutComponent.new(
  title: "Your GitHub App User Access Token has been revoked",
  icon: "token-scanning.png",
  )) do |layout| %>
  <% layout.with_header_text do %>
    Action needed: GitHub App User Access Token found in <%= @leak_source %>, any app using this secret may be affected
  <% end %>
  <% layout.with_subheader_text do %>
    A recent scan found a valid GitHub App User Access Token linked to your authorized app, <b><%= @app_name %></b>,

    <% if @url.present? %>
      in <a href="<%= @url %>" style="text-decoration: none;"><%= @link_text %></a>.
    <% else %>
      in <%= @link_text %>.
    <% end %>

    We have revoked the token to protect your data from unauthorized access. As a result, this app may no longer be authorized to act on your behalf. It may take up to eight hours for any changes in authorization to take effect.
  <% end %>
  <% layout.with_main_section do %>
    <%= render(SecretScanning::Mailers::NextStepsForAppUsersComponent.new(
      app_name: @app_name,
      remediation_review_url: "#{GitHub.help_url}/authentication/keeping-your-account-and-data-secure/reviewing-your-authorized-integrations#reviewing-your-authorized-github-apps",
      docs_url: "#{GitHub.help_url}/apps/using-github-apps/authorizing-github-apps",
      docs_url_text: "Learn about authorizing GitHub Apps",
      view_authorized_apps_url: "#{GitHub.url}/settings/apps/authorizations",
      view_authorized_apps_text: "View authorized GitHub apps")) %>
  <% end %>
  <% layout.with_footer_text do %>
    <p>You are receiving this email because your GitHub App User Access Token was found by GitHub and revoked.</p>
  <% end %>
<% end %>
