<%= render(SecretScanning::Mailers::LayoutComponent.new(
  title: @title,
  icon: @icon,
  )) do |layout| %>
  <%= layout.with_header_text do %>
    No new secrets detected in your historical scan of <b><%= @org_or_enterprise_name %></b>
  <% end %>
  <%= layout.with_subheader_text do %>
    We performed a historical scan for eligible repositories in <b><%= @org_or_enterprise_name %></b> and found no secrets.
  <% end %>
  <%= render(Mail::SpacerComponent.new) %>
  <%= layout.with_subheader_text do %>
    If we find any new secrets in your <%= @org_or_enterprise_type %>, you can view the alerts in <a href="<%= @alerts_url %>"><%= @alerts_text %></a>.
  <% end %>
  <% layout.with_footer_text do %>
    <p>You are receiving this email because GitHub scanned for exposed tokens or private key credentials in your repository.</p>
  <% end %>
<% end %>
