<%= render(SecretScanning::Mailers::LayoutComponent.new(
  title: @title,
  icon: @icon,
  )) do |layout| %>
  <%= layout.with_header_text do %>
    Secrets detected in your historical scan of <b><%= @org_or_enterprise_name %></b> repositories
  <% end %>
  <%= layout.with_subheader_text do %>
    Anyone with read access can view the committed secret. Consider rotating and revoking each valid secret to avoid any irreversible damage.

    <% if @org_or_enterprise_type == "enterprise" %>
      <%= render(Mail::SpacerComponent.new) %>
      You can only view alerts for repositories you have access to.
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <%= render(
        Mail::ButtonComponent.new(
          text: "View alerts",
          url: @alerts_url,
          classes: "btn-primary btn-large"
        )
      ) %>
    <% end %>
  <% end %>

  <% layout.with_footer_text do %>
    <p>You are receiving this email because GitHub scanned for exposed tokens or private key credentials in your repository.</p>
  <% end %>
<% end %>
