<%= render(SecretScanning::Mailers::LayoutComponent.new(
  title: @title,
  icon: @icon,
  )) do |layout| %>
  <%= layout.with_header_text do %>
    <%= @header %>&nbsp;<b><%= @repo.name_with_display_owner %></b>
  <% end %>
  <%= layout.with_subheader_text do %>
    <%= @message %>
  <% end %>

  <%= render(Mail::SpacerComponent.new) %>
  <% layout.with_main_section do %>
    <%= render(SecretScanning::Mailers::AlertsListComponent.new(@alerts, @repo, @alerts_list_limit, @total_scan_count, true)) %>
  <% end %>

  <% if @detected_by_ai %>
    <% layout.with_content_footer do %>
      <%= render(SecretScanning::Mailers::DetectedByAiComponent.new) %>
    <% end %>
  <% end %>

  <% layout.with_footer_text do %>
    <p>You are receiving this email because GitHub scanned for exposed tokens or private key credentials in your repository.</p>
  <% end %>
<% end %>
