<% page_info :title => "Image attachment"  %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Image attachment</h3>
    <div class="boxed-group-inner clearfix">
      <p>
        <div class="summary">
          <%= render "stafftools/user_assets/summary", :asset => this_asset %>
        </div>
      </p>
    </div>
  </div>

  <% if GitHub.flipper[:schaefer_send_for_scanning].enabled?(current_user) %>
    <% unless GitHub.enterprise? %>
      <div class="boxed-group">
        <h3>Automated content classification</h3>
        <div class="boxed-group-inner d-flex">
          <div class="pr-3">
            <h4>Submit for automated content classification</h4>
            <p>
             If you suspect that this image contains Child Sexual Exploitation Imagery or Extreme Terrorism content,
             submit this image for classification and potential flagging. <strong>Do not delete the asset.</strong>
            </p>
          </div>
          <div class="full-button">
            <%= form_tag stafftools_user_asset_scan_path(this_asset), :method => 'post' do %>
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger) do %>Submit for classification<% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="boxed-group dangerzone">
    <h3>Danger Zone</h3>
    <div class="boxed-group-inner">
      <%= render(Primer::Experimental::Dialog.new(
        dialog_id: "delete-image-attachment-dialog",
        header_variant: :large,
        width: :large,
        title: "Delete image attachment",
        form_url: stafftools_user_asset_path(this_asset),
        form_method: :delete
      )) do |c| %>
        <% c.with_show_button(
          color: :danger,
          classes: "boxed-action"
        ) do |s| %>
          Delete image attachment
        <% end %>
        <% c.with_body do %>
          <p>
            This will delete the image attachment. <strong>Are you certain?</strong>
          </p>
        <% end %>
        <% c.with_button(
          data: { "close-dialog-id": "delete-image-attachment-dialog" }
        ) { "Cancel" } %>
        <% c.with_button(
          type: :submit,
          scheme: :danger,
          data: { "disable-with": "" }
        ) { "Delete image attachment" } %>
      <% end %>

      <h4>Delete image attachment</h4>
      <p>Delete this image attachment. This is not reversible.</p>
    </div>
  </div>
<% end %>
