<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<% page_info \
  title: "GitHub Logos and Usage",
  class: "f4" %>

<div class="container-lg p-responsive py-9">
  <h1 class="h2-mktg text-center">GitHub Logos and Usage</h1>

  <p class="f3-mktg color-fg-muted text-center col-8 mx-auto mt-3">We’ve put together some guidelines for those times when you want to use our logos to show off your GitHub integration or link back to us. Happy coding!</p>

  <h2 class="h3-mktg text-center mt-6">Permitted GitHub logos</h2>

  <div class="d-flex flex-column flex-sm-row flex-items-center flex-sm-items-start flex-sm-justify-center gutter-spacious mt-6">
    <div class="col-12 col-sm-8 col-md-5 mb-5">
      <div class="d-flex flex-column flex-justify-end"
        style="height: 290px;">
        <div class="d-flex flex-items-center flex-justify-center flex-auto Box border-bottom-0"
          style="border-radius: 3px 3px 0 0;">
          <%= image_tag 'modules/logos_page/GitHub-Logo.png', :width => '200', :height => '52', :alt => 'GitHub Logotype', :class => 'height-auto' %>
        </div>
        <a class="btn p-3 f4-mktg text-center"
          style="border-top-right-radius: 0; border-top-left-radius: 0;"
          href="https://github-media-downloads.s3.amazonaws.com/GitHub-Logos.zip">
          <%= primer_octicon(:download, mr: 1) %>
          Download GitHub logo
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-5 mb-5">
      <div class="d-flex flex-column flex-justify-end"
        style="height: 290px;">
        <div class="d-flex flex-items-center flex-justify-center flex-auto Box border-bottom-0"
          style="border-radius: 3px 3px 0 0;">
          <%= image_tag 'modules/logos_page/GitHub-Mark.png', :width => '200', :height => '200', :alt => 'GitHub Logomark', :class => 'height-auto' %>
        </div>
        <a class="btn p-3 f4-mktg text-center"
          style="border-top-right-radius: 0; border-top-left-radius: 0;"
          href="<%= image_path "modules/logos_page/github-mark.zip" %>">
          <%= primer_octicon(:download, mr: 1) %>
          Download Invertocat logo
        </a>
      </div>
    </div>
  </div>

  <div class="clearfix gutter-sm mt-6">
    <div class="float-sm-left col-12 col-sm-6">
      <h3 class="h6-mktg mb-3">Do these awesome things</h3>
      <ul class="list-style-none color-fg-muted pl-4">
        <li class="my-2"><%= render(Primer::Beta::Octicon.new(icon: "check", mr: 1, ml: -4, color: :success)) %> Use a permitted GitHub logo to link to GitHub.</li>
        <li class="my-2"><%= render(Primer::Beta::Octicon.new(icon: "check", mr: 1, ml: -4, color: :success)) %> Use the Invertocat logo as a social button to link to your GitHub profile or project.</li>
        <li class="my-2"><%= render(Primer::Beta::Octicon.new(icon: "check", mr: 1, ml: -4, color: :success)) %> Use a permitted GitHub logo to inform others that your project integrates with GitHub.</li>
        <li class="my-2"><%= render(Primer::Beta::Octicon.new(icon: "check", mr: 1, ml: -4, color: :success)) %> Use the GitHub logo in a blog post or news article about GitHub.</li>
        <li class="my-2"><%= render(Primer::Beta::Octicon.new(icon: "check", mr: 1, ml: -4, color: :success)) %> Use the permitted GitHub logos less prominently than your own company or product name or logo.</li>
      </ul>
    </div>
    <div class="float-sm-left col-12 col-sm-6 mt-6 mt-sm-0">
      <h3 class="h6-mktg mb-3">Please don’t do these things</h3>
      <ul class="list-style-none color-fg-muted pl-4">
        <li class="my-2"><%= render(Primer::Beta::Octicon.new(icon: "x", mr: 1, ml: -4, color: :danger)) %> Do not use the GitHub name or any GitHub logo in a way that suggests you are GitHub, your offering or project is by GitHub, or that GitHub is endorsing you or your offering or project.</li>
        <li class="my-2"><%= render(Primer::Beta::Octicon.new(icon: "x", mr: 1, ml: -4, color: :danger)) %> Do not use any GitHub logo as the icon or logo for your business/organization, offering, project, domain name, social media account, or website.</li>
        <li class="my-2"><%= render(Primer::Beta::Octicon.new(icon: "x", mr: 1, ml: -4, color: :danger)) %> Do not modify the permitted GitHub logos, including changing the color, dimensions, or combining with other words or design elements.</li>
        <li class="my-2"><%= render(Primer::Beta::Octicon.new(icon: "x", mr: 1, ml: -4, color: :danger)) %> Do not use GitHub trademarks, logos, or artwork without GitHub’s prior written permission.</li>
      </ul>
    </div>
  </div>

  <div class="gutter-sm mt-6">
    <div class="col-12 col-sm-6 mt-lg-4">
      <h3 class="h6-mktg mb-3">Legal</h3>
      <div class="mt-2 color-fg-muted">
        In short, the GitHub logos represent only GitHub and should not be used to represent you or your projects, products, or company. You may also
        <%= render layout: "shared/details_dialog", locals: {
          button_class: "btn-link Link--inTextBlock",
          button_text: "read the official legal terms,",
          title: "Logo and Octocat terms of use"
        } do %>
          <div class="Box-body overflow-auto">
            <p>GITHUB®, the GITHUB® logo design, the INVERTOCAT logo design, OCTOCAT®, and the OCTOCAT® logo design are trademarks of GitHub, Inc., registered in the United States and other countries.</p>
            <p>The OCTOCAT design is the exclusive property of GitHub, Inc and has been federally registered with the United States Copyright Office. All rights reserved.</p>
            <p>No adaptation or use of any kind of any of our registered trademarks or copyrights, or any other contents of this website, is allowed without the express written permission of GitHub, Inc.</p>
            <p>For more information regarding the authorized uses of these items, please <a class="Link--inTextBlock" href="<%= contact_path %>">contact us</a>.</p>
          </div>
        <% end %> if you’re into that.</div>
    </div>
  </div>
</div>
