<div class="footer">
  <hr class="footer-hr">

  <div class="footer-links">
    <p class="footer-text">
      <a href="<%= email_link_with_tracking(url: "#{GitHub.url}/email/unsubscribe?#{{ token:  NewsletterSubscription.get_unsubscribe_token(@user, email_source) }.to_query}", email_source: email_source) %>" class="a-style-3">Unsubscribe</a> &middot;
      <a href="<%= email_link_with_tracking(url: settings_email_preferences_url, email_source: email_source) %>" class="a-style-3">Email preferences</a> &middot;
      <a href="<%= email_link_with_tracking(url: "#{GitHub.help_url}/articles/github-terms-of-service", email_source: email_source) %>" class="a-style-3">Terms</a> &middot;
      <a href="<%= email_link_with_tracking(url: "#{GitHub.help_url}/articles/github-privacy-policy", email_source: email_source) %>" class="a-style-3">Privacy</a> &middot;
      <a href="<%= email_link_with_tracking(url: "#{GitHub.url}/login", email_source: email_source) %>" class="a-style-3">Sign into GitHub</a>
    </p>
  </div>

  <p class="footer-text">GitHub, Inc.<br class="footer-br"> 88 Colin P Kelly Jr St.<br class="footer-br"> San Francisco, CA 94107</p>
</div>
