<table class="row">
  <tr>
    <td class="pr-3" style="vertical-align: top;">
      <img src="<%= GitHub.mailer_asset_host_url %><%= image_path %>" height="60" alt="icon">
    </td>
    <td>
      <h2 class="row-h2">
        <%= title %>
      </h2>

      <p>
        <%= description %>
      </p>

      <div class="pt-4">
        <a href="<%= email_link_with_tracking(url: button_link, email_source: @email_source) %>" class="btn-mktg">
          <%= button_text %>
        </a>
      </div>
    </td>
  </tr>
</table>
