<% content_for :header do %>
  You have been made an owner of the <strong><%= @org.safe_profile_name %></strong> organization
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "You have been made an owner of the #{@org.safe_profile_name} organization",
  avatar: @org %>

<p>Hi <strong>@<%= @user.display_login %></strong>,</p>

<p>
  You have been made an owner of the "<%= @org.safe_profile_name %>" organization.
  Owners have full rights to the organization and have complete access to all repositories and teams.
</p>

<p>
  You can view all organization owners at <%= link_to @url, @url %>
</p>

<p>
  Read more about organization permissions at
  <%= link_to \
    "#{GitHub.help_url}/articles/what-are-the-different-access-permissions/#organization-accounts",
    "#{GitHub.help_url}/articles/what-are-the-different-access-permissions/#organization-accounts" %>
</p>

<% content_for :footer_text do %>
  You’re receiving this email because you were made an owner of an organization on GitHub.
<% end %>
