<% content_for :header do %>
  Owner of <strong><%= @org.safe_profile_name %></strong> <%= @state %> the
  <strong><%= @domain %></strong> domain
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "An owner of the #{@org.safe_profile_name} organization just
  #{@state} the #{@domain} domain", avatar: @org %>

<p>Hi <strong>@<%= @user.display_login %></strong>,</p>

<p>
  Previously, owners of the
  <strong><a href="<%= "#{GitHub.url}/#{@org.display_login}" %>">"<%= @org.safe_profile_name %>"</a></strong>
  organization could see:
</p>

<ul style="margin-left: 25px; margin-bottom: 5px; text-align: left;">
  <li>If you have two-factor authentication enabled or not</li>
  <li>Your public profile information</li>
  <li>Certain activity within this organization</li>
  <li>Country of request origin</li>
  <li>Your access level to repositories within the organization</li>
  <li>Your IP address</li>
</ul>

<p>Now, owners will also be able to see:<p>

<ul style="margin-left: 25px; margin-bottom: 5px; text-align: left;">
  <li>Your <strong>email address</strong> in the <strong><a href="<%= @domain %>"><%= @domain %></a></strong> domain.</li>
</ul>

<% content_for :footer_text do %>
  You’re receiving this email because an owner of an organization
  <%= @state %> a domain on GitHub.
<% end %>
