<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Your GitHub Enterprise trial ends today</title>
    <%= render "mailers/organization/styles" %>
  </head>

  <body class="body-style">
    <div class="content div-style">
      <!--// HEADER //-->
      <%= render partial: "mailers/organization/header", locals: {email_source: @email_source} %>

      <div class="header-style pb-4 mb-4">
        <h2 class="mb-1 h2-style">
          Upgrade to continue using GitHub Enterprise
        </h2>

        <p class="color-fg-muted py-2">
        @<%= @organization.display_login %>, keep building at your best with a paid plan.
        You'll lose access to GitHub Enterprise features at the end of today if you don't upgrade.
        </p>

        <a href="<%= email_link_with_tracking(url: upgrade_url(org: @organization, target: "organization", plan: "business_plus"), email_source: @email_source) %>" class="btn-mktg">
          Upgrade to GitHub Enterprise
        </a>
      </div>

      <img src="<%= mailer_static_asset_path("images/email/organization/changelog.png") %>" class="resource-img" height="61" alt="changelog-icon">

      <div class="mb-4">
        <h3 class="mb-1 h2-style">
          About your trial
        </h3>

        <p>
        If you have any questions about your GitHub Enterprise trial,
        <a href="<%= email_link_with_tracking(url: "#{GitHub.enterprise_web_url}/contact", email_source: @email_source) %>">contact GitHub's Sales team</a>.
        When you're finished with your trial, you can
        <a href="<%= email_link_with_tracking(url: upgrade_url(org: @organization, target: "organization", plan: "business_plus"), email_source: @email_source) %>">upgrade to GitHub Enterprise</a>,
        <a href="<%= email_link_with_tracking(url: settings_org_plans_url(@organization), email_source: @email_source) %>">downgrade to GitHub Free or Team</a>, or
        <a href="<%= email_link_with_tracking(url: settings_org_billing_url(@organization), email_source: @email_source) %>">delete your organization account</a>.
        </p>
      </div>


      <!--// FOOTER //-->
      <%= render partial: "mailers/organization/footer", locals: {email_source: @email_source} %>
    </div>
  </body>
</html>
