<% content_for :header do %>
  The <strong><%= @org.display_login %></strong> organization
  has restricted notifications to domain emails
<% end %>

<%= render Mail::HeaderTitleComponent.new \
  title: "Organization notification restrictions", avatar: @org %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hi <strong>@<%= @user.display_login %></strong>,
    </p>

    <p>
      The <strong><%= @org.display_login %></strong> organization now requires a verified
      email from one of the following domains in order to receive notifications from
      repositories owned by the organization:
    </p>

    <ul style="margin-left: 25px; margin-bottom: 5px; text-align: left;">
      <% @email_eligible_domains.each do |domain| %>
        <li><strong><%= domain %></strong></li>
      <% end %>
    </ul>

    <p>
      If you would like to continue receiving email notifications for
      <strong><%= @org.display_login %></strong>, you must add a verified email from one of
      those domains. You can <a href="<%= settings_email_preferences_url %>">add one in your email settings</a>.
    </p>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  You’re receiving this email because the <strong><%= @org.display_login %></strong> organization
  has restricted notifications to domain emails.
<% end %>
