<% if business.trial_expired? %>
  <%= render Primer::Alpha::Banner.new(
    scheme: :warning,
    mb: 3,
    test_selector: "trial-expired-enterprise-banner"
  ) do |banner| %>
    <div class="d-inline-flex">
      <div>
        <div class="color-fg-default text-bold">
          Your GitHub Enterprise trial has expired.
        </div>
        <div class="color-fg-default">
          <%= render Businesses::Billing::UpgradePreviewComponent.new(business: business) %>
        </div>
      </div>
      <div>
        <% banner.with_action_content do %>
          <%= render(Businesses::TrialAccounts::CancelActionComponent.new(business: business)) %>
          <%= render partial: "businesses/enterprise_trial_banner_buy_enterprise_action", locals: {
            business: business,
            ref_loc: "enterprise trial setup banner"
          } %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= render(Primer::Box.new(
    border: true,
    border_radius: 2,
    p: 3,
    mb: 3,
    test_selector: "trial-enterprise-banner"
  )) do |box| %>
    <div class="d-flex flex-justify-between flex-items-center">
      <div>
        <h3 class="lh-condensed">
          Your GitHub Enterprise trial will expire <% if business.trial_days_remaining == 0 %>today<% else %>in <%= pluralize business.trial_days_remaining, "day" %><% end %>.
        </h3>
        <div>
          <%= render Businesses::Billing::UpgradePreviewComponent.new(business: business) %>
        </div>
      </div>
      <div class="d-flex flex-items-center">
        <%= render(Businesses::TrialAccounts::CancelActionComponent.new(business: business)) %>
        <%= render partial: "businesses/enterprise_trial_banner_buy_enterprise_action", locals: {
          business: business,
          ref_loc: "enterprise trial setup banner"
        } %>
      </div>
    </div>
  <% end %>
<% end %>
