<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag(
  settings_appearance_preferences_fixed_width_font_path,
  method: :put,
  "data-autosubmit": true,
  class: "js-setting-toggle",
) do %>
  <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
    <% component.with_heading(tag: :h2, id: "markdown-editor-font-heading") do %>
      Markdown editor font preference
    <% end %>
    <% component.with_actions do %>
      <span class="hx_status-indicator status-indicator js-status-indicator">
        <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
        <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
        <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
      </span>
    <% end %>
  <% end %>

  <p class="mb-2">Font preference for plain text editors that support Markdown styling (e.g. pull request and issue descriptions, comments.)</p>

  <label class="mr-2">
    <%= hidden_field_tag "use_fixed_width_font_preference", "0", id: "use_variable_width" %>
    <%= check_box_tag "use_fixed_width_font_preference", "1", user.settings.get(:use_fixed_width_font), data: { throttled_autosubmit: "" }, id: "use_fixed_width" %>
    Use a fixed-width (monospace) font when editing Markdown
  </label>

  <noscript>
    <%= render Primer::ButtonComponent.new(type: :submit, mt: 3, display: :block) do %>Update preference<% end %>
  </noscript>
<% end %>
