  <% if style==:list %>
    <div>
      <%= render(Primer::Beta::Octicon.new(icon: "device-mobile")) %>
      <span class="text-bold" <%= test_selector("mobile-device-name-model") %>>
        <%- if show_device_name?(device_name, device_model) -%><%= device_name -%>, <%- end -%><%= device_model -%>
      </span>
      &mdash; registered on
      <time datetime="<%= created_at %>"><%= formatted_time(created_at) %></time>
    </div>
  <% else %>
   <div class="Box-row d-flex flex-column">
      <div class="d-flex flex-justify-between flex-auto">
        <div class="d-flex flex-items-center">
          <%= primer_octicon(:"device-mobile", :height => 24) %>
          <strong <%= test_selector("mobile-device-name-model") %> class="ml-2 mb-1">
            <%- if show_device_name?(device_name, device_model) -%><%= device_name -%>, <%- end -%><%= device_model -%>
          </strong>
        </div>
        <div>
          <%= form_tag mobile_revoke_settings_session_path(@device.id), :method => :delete, "data-sudo-required" => "true" do %>
            <%= render Primer::Beta::Button.new(type: :submit, size: :small, scheme: :danger) do %>
              Revoke
            <% end %>
          <% end%>
        </div>
      </div>

      <div class="d-flex flex-row ml-5 mt-2 color-fg-muted">
        <strong> Registered - &nbsp</strong>
        <time datetime="<%= created_at %>"><%= formatted_time(created_at) %></time>
      </div>

      <div class="d-flex flex-row ml-5 my-2 color-fg-muted">
        <strong> Last accessed - &nbsp</strong>
        <% if last_accessed_at.nil? %>
          <p class="text-italic m-0">
            Never accessed
          </p>
        <% else %>
          <time datetime="<%= last_accessed_at %>"><%= formatted_time(last_accessed_at) %></time>
        <% end %>
      </div>

      <div class="d-flex flex-row ml-5 color-fg-muted">
        <strong> Last used for authentication - &nbsp</strong>
         <% if !last_authenticated_at.nil? %>
            <time datetime="<%= last_authenticated_at %>"><%= formatted_time(last_authenticated_at) %></time>
        <% else %>
          <p class="text-italic">
            Never used
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
