<% unless @owner.business? %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Global code security settings<% end %>
  <% end %>
  <% if @owner.organization? %>
    <p>
      Global code security settings are enabled for all repositories in this organization where the parent feature is enabled.
      By enabling these features, you're granting us permission to perform read-only analysis on your organization's repositories.
    </p>
  <% else %>
    <p>
      Security and analysis features help keep your repositories secure and updated. By enabling these features, you're granting us permission to perform read-only analysis on your repositories.
    </p>
  <% end %>
<% end %>

<% if dependabot_rules_enabled? || show_dependabot_updates_settings? %>
  <h4>Dependabot</h4>

  <% if dependabot_rules_enabled? %>
    <%= render(DependabotAlerts::RulesSettingsComponent.new(organization: @owner)) %>
  <% end %>

  <% if show_dependabot_updates_settings? %>
    <div class="ml-4">
      <%= render(Settings::SecurityAnalysisDependabotUpdatesComponent.new(
        owner: @owner,
        public_repo_count:,
        repo_count:
        )) %>
    </div>
  <% end %>
<% end %>

<% if @owner.instance_of?(User) %>
  <%= render(Settings::SecurityAnalysisGhasSettingsComponent.new(
      owner: @owner,
      public_repo_count:,
      repo_count:,
      cursor: @cursor,
      custom_patterns_query: @custom_patterns_query
  )) %>
<% else %>
  <include-fragment src="<%= ghas_settings_path %>" <%= test_selector "ghas-settings-fragment" %>>
    <div data-hide-on-error>
      <%= render Primer::Box.new(display: :flex, align_items: :center, justify_content: :center) do %>
        <%= render Primer::Beta::Spinner.new("aria-label": "Loading GitHub Advanced Security") %>
      <% end %>
    </div>
    <div data-show-on-error hidden>
      <%= render Primer::Beta::Octicon.new(icon: "alert", color: :attention) %>
      <%= render Primer::Beta::Text.new(color: :attention).with_content("Sorry, something went wrong loading GitHub Advanced Security settings.") %>
    </div>
  </include-fragment>
<% end %>
