<% unless @owner.business? %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Code security and analysis<% end %>
  <% end %>
  <%= render(Settings::SecurityAnalysisGhasTrialComponent.new(organization: current_organization, user: current_user)) %>
  <p>
    Security and analysis features help keep your repositories secure and updated. By enabling these features, you're granting us permission to perform read-only analysis on your <%= "organization's" if @owner.organization? %> repositories.
  </p>
<% end %>

<%= render(Settings::AdvancedSecurityOnboarding::TipComponent.new(tip: params[:tip], organization: current_organization)) %>
<%= render(Settings::SecurityAnalysisSecretScanningUserComponent.new(owner: @owner)) if @owner.user? %>

<%# Private Vulnerability Reporting %>
<% if show_private_vulnerability_reporting_settings? %>
  <div <%= test_selector("private-vulnerability-reporting-settings")%> class="py-3 border-bottom color-border-muted">
    <div class="d-flex flex-md-row flex-column flex-md-items-center">
      <div class="mb-md-0 mb-2 mr-4 flex-auto">
        <h3 class="h4">
          Private vulnerability reporting
        </h3>
        <p class="mb-0">
          Allow your community to privately report potential security vulnerabilities to maintainers and repository owners.
          <%= link_to(
            "Learn more about private vulnerability reporting",
            helpers.docs_url("code-security/privately-reporting-security-vulnerability", ghec: GitHub.enterprise?),
            target: "_blank", class: "Link--inTextBlock") %>.
        </p>
      </div>
      <div class="BtnGroup d-flex flex-shrink-0">
        <%= form_tag security_analysis_update_path(@owner), method: :put do %>
          <%= render(SecurityAnalysis::SettingsDialogComponent.new(
            summary_button_text: "Disable all",
            confirm_button_text: "Disable private vulnerability reporting",
            disabled: false,
            button_class: "btn btn-danger mr-1",
            title: "Disable private vulnerability reporting",
            button_aria_label: "Disable all private vulnerability reporting",
            dialog_text: "You're about to disable private vulnerability reporting on all public repositories in #{@owner.name}.",
            input_name: "private_vulnerability_reporting",
            input_value: "disable_all",
            checkbox_name: "private_vulnerability_reporting_new_repos",
            checkbox_id: "dialog-private-vulnerability-reporting-new-repos-disable-all",
            checkbox_condition: false,
            checkbox_label: "Enable by default for new public repositories",
            test_selector: "private-vulnerability-reporting-disable-all-button"
          )) %>
        <% end %>

        <%= form_tag security_analysis_update_path(@owner), method: :put do %>
          <%= render(SecurityAnalysis::SettingsDialogComponent.new(
            summary_button_text: "Enable all",
            confirm_button_text: "Enable private vulnerability reporting",
            disabled: false,
            title: "Enable private vulnerability reporting",
            button_aria_label: "Enable all private vulnerability reporting",
            dialog_text: "You're about to enable private vulnerability reporting on all public repositories in #{@owner.name}.",
            input_name: "private_vulnerability_reporting",
            input_value: "enable_all",
            checkbox_name: "private_vulnerability_reporting_new_repos",
            checkbox_id: "dialog-private-vulnerability-reporting-new-repos-enable-all",
            checkbox_condition: true,
            checkbox_label: "Enable by default for new public repositories",
            test_selector: "private-vulnerability-reporting-enable-all-button"
          )) %>
        <% end %>
      </div>
    </div>
    <%= form_tag security_analysis_update_path(@owner), :class => "js-setting-toggle d-flex flex-items-center pt-2", "data-autosubmit" => true, method: :put do %>
      <%= render partial: "settings/organization/security_analysis_enable_checkbox", locals: {
        name: "private_vulnerability_reporting_new_repos",
        id: "private-vulnerability-reporting-enable-new-private-repos",
        checked_condition: @owner.private_vulnerability_reporting_enabled_for_new_repos?,
        label_text: "Automatically enable for new public repositories",
        test_selector: "private-vulnerability-reporting-enable-new-checkbox",
        classes: "mr-2"
      } %>
    <% end %>
  </div>
<% end %>

<%# Dependency Graph %>
<% if show_dependency_graph_settings? %>
  <div class="border-bottom color-border-muted" <%= test_selector("dependency-graph-org-settings") %>>
    <% if @owner.organization? %>
      <div class="d-flex flex-justify-between pt-3 pb-2">
    <% else %>
      <div class="d-flex flex-md-row flex-md-justify-between flex-column pt-3 pb-2">
    <% end %>
      <div class="<% unless @owner.organization? %>mb-md-0 mb-2<% end %> mr-3">
        <h3 class="h4">Dependency graph</h3>
        <p class="mb-0">Understand your dependencies.</p>
        <% if GitHub.enterprise? %>
          <p class="mb-0 color-fg-muted text-small">Contact your <%= GitHub.flavor %> administrators to <%= link_to "#{GitHub.dependency_graph_enabled? ? "disable" : "enable"} Dependency Graph", "#{GitHub.enterprise_admin_help_url(skip_version: true)}/configuration/enabling-alerts-for-vulnerable-dependencies-on-github-enterprise-server", class: "Link--inTextBlock" %>.</p>
        <% end %>
      </div>
      <% unless GitHub.enterprise? %>
        <div>
          <div class="BtnGroup d-flex flex-shrink-0">
            <%= form_tag security_analysis_update_path(@owner), method: :put do %>
              <%= render(SecurityAnalysis::SettingsDialogComponent.new(
                summary_button_text: "Disable all",
                confirm_button_text: "Disable dependency graph",
                disabled: button_disabled_no_repos,
                button_class: "btn btn-danger mr-1",
                title: button_disabled_no_repos_title("Disable dependency graph"),
                button_aria_label: "Disable all dependency graph",
                dialog_text: "You're about to disable dependency graph on all #{user_or_org_text(@owner, true)}. This will also disable Dependabot alerts and Dependabot security updates on those repositories.",
                input_name: "dependency_graph",
                input_value: "disable_all",
                checkbox_name: "dependency_graph_new_repos",
                checkbox_id: "dialog-dependency-graph-disable-all",
                checkbox_condition: false,
                checkbox_label: "Enable by default for new#{GitHub.enterprise? ? "" : " private"} repositories",
                test_selector: "dependency-graph-disable-all-button"
              )) %>
            <% end %>

            <%= form_tag security_analysis_update_path(@owner), method: :put do %>
              <%= render(SecurityAnalysis::SettingsDialogComponent.new(
                summary_button_text: "Enable all",
                confirm_button_text: "Enable dependency graph",
                disabled: button_disabled_no_repos,
                title: button_disabled_no_repos_title("Enable dependency graph"),
                button_aria_label: "Enable all dependency graph",
                dialog_text: "You're about to enable dependency graph on all #{user_or_org_text(@owner, true)}.",
                input_name: "dependency_graph",
                input_value: "enable_all",
                checkbox_name: "dependency_graph_new_repos",
                checkbox_id: "dialog-dependency-graph-enable-all",
                checkbox_condition: true,
                checkbox_label: "Enable by default for new#{GitHub.enterprise? ? "" : " private"} repositories",
                test_selector: "dependency-graph-enable-all-button"
              )) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% unless GitHub.enterprise? %>
      <div class="pb-3 width-full">
        <div class="d-flex flex-justify-start">
          <%= form_tag security_analysis_update_path(@owner), :class => "js-setting-toggle d-flex flex-items-center", "data-autosubmit" => true, method: :put do %>
            <%= render partial: "settings/organization/security_analysis_enable_checkbox", locals: {
              name: "dependency_graph_new_repos",
              id: "dependency-graph-enable-new-private-repos",
              checked_condition: @owner.dependency_graph_enabled_for_new_repos?,
              label_text: "Automatically enable for new#{GitHub.enterprise? ? "" : " private"} repositories",
              test_selector: "dependency-graph-enable-new-checkbox",
              classes: "mr-2"
            } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%# Dependabot Alerts %>
<%= render(Settings::SecurityAnalysisDependabotAlertsComponent.new(owner: @owner, repo_count: repo_count, private_repo_count: private_repo_count)) %>

<%# Dependabot Updates %>
<% if show_dependabot_updates_settings? %>
  <%= render(Settings::SecurityAnalysisDependabotUpdatesComponent.new(owner: @owner, public_repo_count:, repo_count:)) %>
<% end %>

<% if @owner.instance_of?(User) %>
  <%= render(Settings::SecurityAnalysisGhasSettingsComponent.new(
      owner: @owner,
      public_repo_count:,
      repo_count:,
      cursor: @cursor,
      custom_patterns_query: @custom_patterns_query
  )) %>
<% else %>
  <include-fragment src="<%= ghas_settings_path %>" <%= test_selector "ghas-settings-fragment" %>>
    <div data-hide-on-error>
      <%= render Primer::Box.new(display: :flex, align_items: :center, justify_content: :center) do %>
        <%= render Primer::Beta::Spinner.new("aria-label": "Loading GitHub Advanced Security") %>
      <% end %>
    </div>
    <div data-show-on-error hidden>
      <%= render Primer::Beta::Octicon.new(icon: "alert", color: :attention) %>
      <%= render Primer::Beta::Text.new(color: :attention).with_content("Sorry, something went wrong loading GitHub Advanced Security settings.") %>
    </div>
  </include-fragment>
<% end %>
