<div class="d-flex flex-justify-between pb-2 pt-3" <%= test_selector("dependabot-org-settings") %>>
  <div>
    <h3 class="h4">Dependabot</h3>
    <p class="mb-0">
      Keep your dependencies secure and up-to-date. <%= link_to "Learn more about Dependabot", "https://docs.github.com/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security#what-is-dependabot", target: "_blank", class: "Link--inTextBlock" %>.
    </p>
  </div>
</div>

<div <%= test_selector("#{security_alerts_test_selector_text}") %>>
  <div class="ml-4">
    <% show_alert_tip = params[:show_alert_tip].present? %>
    <% if show_alert_tip %>
      <% vulnerability_task = OnboardingTasks::Organizations::DependabotVulnerabilityAlerts.new(taskable: @owner, user: current_user) %>
      <%= render(Onboarding::Organizations::TipComponent.new(
        organization: @owner,
        show_tip: show_alert_tip,
        task: vulnerability_task,
        mt: 4,
        )) do %>
        <h3 class="mb-1">Get alerts for vulnerabilities</h3>
        <div class="color-fg-muted">
          <p>When enabled,
            <a
              href="https://docs.github.com/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/about-alerts-for-vulnerable-dependencies"
              target="_blank"
              class="Link--inTextBlock"
            >
            Dependabot detects vulnerable dependencies</a> and sends you alerts when a new vulnerability is added to the GitHub Advisory Database or when the dependency graph for a repository changes.</p>
          <p>
            <a
              href="https://docs.github.com/code-security/supply-chain-security/managing-vulnerabilities-in-your-projects-dependencies/configuring-notifications-for-vulnerable-dependencies"
              target="_blank"
              class="Link--inTextBlock"
            ><%= render(Primer::Beta::Octicon.new(icon: "file", color: :accent, mr: 1 )) %>Configuring notifications for vulnerable dependencies</a>
          </p>
        </div>
      <% end %>

      <%= render(Onboarding::Organizations::CompletedGuidanceComponent.new(
        organization: @owner,
        completed_task: OnboardingTasks::Organizations::DependabotVulnerabilityAlerts.new(taskable: @owner, user: current_user),
        show_tip: show_alert_tip,
        container_class: "mt-4"
      )) %>
    <% end %>

    <% if @owner.organization? %>
      <div class="d-flex flex-justify-between pt-3 pb-2">
    <% else %>
      <div class="d-flex flex-md-row flex-md-justify-between flex-column pt-3 pb-2">
    <% end %>
      <div class="<% unless @owner.organization? %>mb-md-0 mb-2<% end %> mr-3">
      <h4>Dependabot alerts</h4>
      <p class="mb-0">
        Receive alerts for vulnerabilities that affect your dependencies and manually generate Dependabot pull requests to resolve these vulnerabilities.
        <% if dependabot_alerts_enabled_for_instance? %>
          <%= link_to "Configure alert notifications", settings_notification_preferences_path(anchor: "vulnerability-alerts-heading"), target: "_blank", class: "Link--inTextBlock" %>.
        <% end %>
      </p>
      <% unless dependabot_alerts_enabled_for_instance? %>
        <% if @owner.is_a?(Business) %>
          <p class="mb-0 color-fg-muted text-small" <%= test_selector("security-alerts-gh-connect-prompt") %>>
            <%= link_to "Turn on GitHub Connect", github_connect_enterprise_url, class: "Link--inTextBlock" %> to allow Dependabot alerts to be enabled.
          </p>
        <% else %>
          <p class="mb-0 color-fg-muted text-small" <%= test_selector("security-alerts-contact-admin-prompt") %>>
            Contact your <%= GitHub.flavor %> administrators to <%= link_to "allow Dependabot alerts to be enabled", "#{GitHub.enterprise_admin_help_url(skip_version: true)}/configuration/enabling-alerts-for-vulnerable-dependencies-on-github-enterprise-server", class: "Link--inTextBlock" %>.
          </p>
        <% end %>
      <% end %>
      </div>
      <% if dependabot_alerts_enabled_for_instance? %>
        <div>
          <div class="BtnGroup d-flex flex-shrink-0">
            <%= form_tag security_analysis_update_path(@owner), method: :put do %>
              <%= render(SecurityAnalysis::SettingsDialogComponent.new(
                summary_button_text: "Disable all",
                confirm_button_text: "Disable Dependabot alerts",
                warning_text: security_config_warning_banner_text(value: "disabled"),
                disabled: button_disabled_no_repos(include_public_repos: true),
                button_class: "btn btn-danger mr-1",
                title: button_disabled_no_repos_title("Disable Dependabot alerts", include_public_repos: true),
                button_aria_label: "Disable all Dependabot alerts",
                dialog_text: "You're about to disable Dependabot alerts on all #{user_or_org_text(@owner, false)}. This will also disable Dependabot security updates on those repositories.",
                input_name: "security_alerts",
                input_value: "disable_all",
                checkbox_name: "security_alerts_new_repos",
                checkbox_id: "dialog-security-alerts-disable-all",
                checkbox_condition: false,
                checkbox_label: "Enable by default for new repositories",
                test_selector: "security-alerts-disable-all-button"
              )) %>
            <% end %>

            <%= form_tag security_analysis_update_path(@owner), method: :put do %>
              <%= hidden_field_tag :show_alert_tip, params[:show_alert_tip].presence %>
              <%= render(SecurityAnalysis::SettingsDialogComponent.new(
                summary_button_text: "Enable all",
                confirm_button_text: "Enable Dependabot alerts",
                warning_text: security_config_warning_banner_text(value: "enabled"),
                disabled: button_disabled_no_repos(include_public_repos: true),
                title: button_disabled_no_repos_title("Enable Dependabot alerts", include_public_repos: true),
                button_aria_label: "Enable all Dependabot alerts",
                dialog_text: dependabot_alerts_enablement_dialog_text,
                input_name: "security_alerts",
                input_value: "enable_all",
                checkbox_name: "security_alerts_new_repos",
                checkbox_id: "dialog-security-alerts-enable-all",
                checkbox_condition: true,
                checkbox_label: "Enable by default for new repositories",
                test_selector: "security-alerts-enable-all-button"
              )) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% if dependabot_alerts_enabled_for_instance? %>
      <div class="pb-3 width-full">
        <div class="d-flex flex-justify-start">
          <%= form_tag security_analysis_update_path(@owner), :class => "js-setting-toggle d-flex flex-items-center", "data-autosubmit" => true, method: :put do %>
              <%= render partial: "settings/organization/security_analysis_enable_checkbox", locals: {
                name: "security_alerts_new_repos",
                id: "security-alerts-enable-new-private-repos",
                checked_condition: @owner.security_alerts_enabled_for_new_repos?,
                label_text: "Automatically enable for new repositories",
                test_selector: "security-alerts-enable-new-checkbox",
                classes: "mr-2"
              } %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if dependabot_rules_enabled? %>
      <%= render(DependabotAlerts::RulesSettingsComponent.new(organization: @owner)) %>
    <% end %>
  </div>
</div>
