<%= render Primer::Box.new(
  display: :flex,
  justify_content: :space_between,
  direction: :column,
  pt: 3,
  pb: 2,
  test_selector: "code-scanning-org-settings",
) do %>

  <%= render Primer::Box.new(display: :flex) do %>
    <%= render Primer::Box.new do %>
      <%= render Primer::Beta::Text.new(tag: :h3, classes: "h4") do %>
        Code scanning
      <% end %>
    <% end %>
  <% end %>

  <div class="pt-2 pb-3">
    <%= form_tag security_analysis_update_path, class: "js-setting-toggle d-flex flex-items-center mb-1", "data-autosubmit": true, method: :put do %>
      <%= render partial: "settings/organization/security_analysis_enable_checkbox", locals: {
        name: "code_scanning_recommend_extended_query_suite",
        id: "code-scanning-recommend-extended-query-suite",
        checked_condition: @owner.code_scanning_recommend_extended_query_suite?,
        label_text: "Recommend the extended query suite for repositories enabling default setup",
        description_text: "The extended query includes the default suite, plus lower severity and precision queries.",
        test_selector: "code-scanning-recommend-extended-query-suite-checkbox",
        classes: "mr-2"
      } %>
    <% end %>

    <% if CodeScanning::Autofix.org_settings_configurable?(@owner) %>
      <% autofix_label_text = capture do %>
        Copilot Autofix
      <% end %>
      <% autofix_limitations_documentation_url = "#{GitHub.help_url(ghec_exclusive: @owner.organization? && (@owner.business || @owner.business_plus?))}/code-security/code-scanning/managing-code-scanning-alerts/about-autofix-for-codeql-code-scanning#limitations-of-autofix-suggestions" %>
      <% autofix_description_text = capture do %>
        Suggest fixes for CodeQL alerts using AI. CodeQL default or advanced setup must be enabled for this feature to work.
        Learn more about the <%= render(Primer::Beta::Link.new(href: autofix_limitations_documentation_url, target: "_blank", classes: "Link--inTextBlock")) { "limitations of autofix code suggestions" } %>.
      <% end %>

      <%= form_tag security_analysis_update_path, class: "js-setting-toggle d-flex flex-items-center", method: :put, data: { autosubmit: true }  do %>
        <%= render partial: "settings/organization/security_analysis_enable_checkbox", locals: {
            name: "code_scanning_autofix",
            id: "code-scanning-autofix-enablement",
            checked_condition: @owner.code_scanning_autofix_settings_enabled?,
            label_text: autofix_label_text,
            description_text: autofix_description_text,
            test_selector: "code-scanning-autofix-checkbox",
            classes: "mr-2"
        } %>
      <% end %>
    <% end %>
  </div>

  <%= render Primer::Box.new(display: :flex, justify_content: :space_between, border: :bottom, pb: 3) do %>
    <%= render Primer::Box.new do %>
      <%= render Primer::Beta::Text.new(tag: :p, mb: 0, font_weight: :bold) do %>
        Expand CodeQL analysis
      <% end %>
      <%= render Primer::Beta::Text.new(tag: :p, mb: 0, color: :muted, font_size: :small) do %>
        Expand CodeQL to recognize more libraries and frameworks in repositories using CodeQL default setup.
      <% end %>
    <% end %>
    <%= render Primer::Box.new(display: :flex, flex_shrink: 0) do %>
      <%= render(Primer::Beta::Button.new(tag: :a, href: model_packs_path, "aria-label": "Configure CodeQL model packs", disabled: codeql_analysis_expansion_unavailable?, id: "codeql-expansion-button", test_selector: "codeql-expansion-button")) do |component| %>
        <% component.with_tooltip(text: "Requires GitHub Packages Container registry which is currently disabled.", direction: :n) if codeql_analysis_expansion_unavailable? %>
        Configure
      <% end %>
    <% end %>
  <% end %>
<% end %>
