<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%#
  TODO ^ There's no reason to keep the button below as raw
  HTML, so this should be changed when time allows.
%>
<%= render Primer::Alpha::Dialog.new(title: @title) do |dialog| %>
  <% dialog.with_header(show_divider: true) %>
  <% dialog.with_show_button(px: 3, classes: "btn", aria: { label: @button_aria_label }, scheme: @button_scheme) do %>
    <%= @button_text %>
  <% end %>

  <% dialog.with_body do %>
    <% if @dialog_text %>
      <p class="ws-normal mt-2"><%= @dialog_text %></p>
    <% else %>
      <%= dialog_body %>
    <% end %>
  <% end %>

  <% dialog.with_footer(show_divider: true) do %>
    <input type="hidden" name="<%= @input_name %>" value="<%= @input_value %>">
    <button
      type="submit"
      <% if @data_octo_click %>data-octo-click="<%= @data_octo_click %>"<% end %>
      <% if @data_octo_dimensions %>data-octo-dimensions="enabled:<%= @data_octo_dimensions %>,location:settings"<% end %>
      class="btn btn-block ws-normal <%= "btn-danger" if @button_scheme == :danger %>"
      data-close-dialog><%= @dialog_button_text %>
    </button>
  <% end %>
<% end %>
