<%= render Organizations::DismissibleNoticeComponent.new(name: notice_name, user: user, org: organization, duration: 6.months, mb: 3, p: 0, style: "overflow: hidden; max-width: 100%;") do |component| %>
  <% component.with_body(display: :flex, flex: 1, flex_wrap: :nowrap) do %>
    <div class="d-flex flex-column p-4" style="min-width: 330px;">
      <%= render Primer::Beta::Text.new(tag: :p, font_size: 4, font_weight: :bold, mb: 4) do %>
        <%= render(Primer::Beta::Octicon.new(:"mark-github", size: :medium)) %> Advanced Security
      <% end %>
      <%= render(Primer::Beta::Text.new(tag: :p, font_size: 2, mb: 0, font_weight: :bold, style: "line-height: 24px;")) { "Find and fix vulnerabilities" } %>
      <%= render(Primer::Beta::Text.new(
        mb: 4,
        tag: :p,
        font_size: 2,
        font_weight: :bold,
        classes: "growth-GhasTrial-gradientText",
        "data-color-mode": active_color_mode.name
        )) { "before you merge" } %>
      <% if show_self_serve_cta? %>
        <%= render Primer::Beta::Button.new(
        size: :medium,
        tag: :a,
        rel: "noopener",
        href: enterprise_licensing_path(organization&.business, start_advanced_security_trial: true),
        w: [:full, :auto],
        text_align: [:center, :left],
        align_self: :start,
        mt: :auto,
        test_selector: "self-serve-trial-cta",
        data: analytics_click_attributes(
          category: "advanced_security_self_serve_trial",
          action: "click_to_start_free_trial",
          label: "location:settings_security_analysis")
        ) do %>
          Start free trial
        <% end %>
      <% else %>
        <%= render Primer::Beta::Button.new(
        size: :medium,
        tag: :a,
        rel: "noopener",
        href: ghas_trial_requests_path(organization&.display_login, utm_source: "product", utm_campaign: "growth", utm_content: organization&.plan_name),
        w: [:full, :auto],
        text_align: [:center, :left],
        align_self: :start,
        mt: :auto,
        test_selector: "sales-serve-trial-cta",
        data: analytics_click_attributes(
          category: "GHAS Trial request",
          action: "click to go to ghas trial form",
          label: "location:settings_security_analysis")
        ) do %>
          Request free trial
        <% end %>
      <% end %>
    </div>
    <div class="flex-self-end" style="width: 500px; min-width: 500px; margin-left: auto;">
      <%= light_or_dark_picture_tag(
        image_path("modules/settings/ghas_light.png"),
        image_path("modules/settings/ghas_dark.png"),
        alt: "Code with a potential vulnerability highlighted",
        class: "d-flex width-fit"
      ) %>
    </div>
  <% end %>
<% end %>
