<div>
  <%= render Primer::Box.new(
    display: :flex,
    justify_content: :space_between,
    direction: :column,
    pt: 3,
    pb: 2,
    test_selector: "innersource-advisories-org-settings",
  ) do %>

    <%= render Primer::Box.new(display: :flex) do %>
      <%= render Primer::Box.new do %>
        <%= render Primer::Beta::Text.new(tag: :h3, classes: "h4") do %>
          Innersource Advisories
        <% end %>

        <%= render Primer::Beta::Text.new(tag: :p, mb: 0) do %>
          Enable security advisory publication on private innersource repositories. This option will also prompt
          Dependabot to send alerts about the advisory to other internal private repositories dependent on it.
        <% end %>

        <%= render Primer::Beta::Text.new(tag: :p, mb: 0) do %>
          <%= link_to(
            "Learn more about innersource advisories.",
            "https://docs.github.com",
            target: "_blank",
            class: "Link--inTextBlock") %>
        <% end %>
      <% end %>

      <%= render Primer::Box.new(
        display: :flex,
        flex_shrink: 0,
      ) do %>
        <%= render Primer::Box.new(mr: 1) do %>
          <div class="BtnGroup d-flex flex-shrink-0">
          <%= form_tag(security_analysis_update_path, method: :put) do %>
            <%= render(SecurityAnalysis::SettingsDialogComponent.new(
              summary_button_text: "Disable all",
              confirm_button_text: "Disable innersource advisories",
              disabled: disable_button?,
              button_class: "btn btn-danger mr-1",
              title: button_title("Disable innersource advisories"),
              button_aria_label: "Disable all innersource advisories",
              dialog_text: "You're about to disable innersource advisories on all #{advanced_security_billed_repositories_description(owner: @owner, conditional_prefix: ' ')} repositories in #{@owner.name}.",
              input_name: "innersource_advisories",
              input_value: "disable_all",
              test_selector: "innersource-advisories-disable-all-button"
            )) %>
          <% end %>

          <%= form_tag security_analysis_update_path, method: :put do %>
            <%= render(SecurityAnalysis::SettingsDialogComponent.new(
              summary_button_text: "Enable all",
              confirm_button_text: "Enable innersource advisories",
              disabled: disable_button?,
              title: button_title("Enable innersource advisories"),
              button_aria_label: "Enable all innersource advisories",
              dialog_text: "You're about to enable innersource advisories on all public repositories in #{@owner.name}.",
              input_name: "innersource_advisories",
              input_value: "enable_all",
              checkbox_name: "innersource_advisories_new_repos",
              checkbox_id: "dialog-innersource-advisories-new-repos-enable-all",
              checkbox_condition: true,
              checkbox_label: "Enable by default for new #{advanced_security_billed_repositories_description(owner: @owner, conditional_prefix: ' ')} repositories",
              test_selector: "innersource-advisories-enable-all-button"
            )) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= form_tag security_analysis_update_path, :class => "js-setting-toggle d-flex flex-items-center pt-2", "data-autosubmit" => true, method: :put do %>
    <%= render partial: "settings/organization/security_analysis_enable_checkbox", locals: {
      name: "innersource_advisories_new_repos",
      id: "innersource-advisories-enable-new-private-repos",
      checked_condition: @owner.innersource_advisories_enabled_for_new_repos?,
      label_text: "Automatically enable for new #{advanced_security_billed_repositories_description(owner: @owner, conditional_prefix: ' ')} repositories",
      test_selector: "innersource-advisories-enable-new-checkbox",
      classes: "mr-2"
    } %>
  <% end %>
</div>
