<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Beta::Flash.new(scheme: :warning, mt: 3, test_selector: "ghas-banner-policy")) do %>
  <div class="d-flex">
    <div>
      <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
    </div>
    <div <%= test_selector(test_selector_name) %>>
      <% if enterprise_name %>
        Modifying <%= product_name %> and related settings has been blocked by an enterprise policy set by <a class="Link--inTextBlock" href="<%= org_enterprise_owners_path(owner) %>"><%= enterprise_name %></a>.
      <% else %>
        Modifying <%= product_name %> and related settings has been blocked by an enterprise policy.
      <% end %>
      <br>
      <%= link_to "Learn more about #{product_name} enterprise policies", policy_block_url %>
    </div>
  </div>
<% end %>
