<% if secret_scanning_push_protection_feature_available? %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h3, pt: 3) do %>User<% end %>
    <% component.with_description do %>
      Security and analysis features help keep you secure and updated, wherever you are.
    <%end%>
  <% end %>

  <% unless secret_scanning_push_protection_enabled_for_user? || secret_scanning_push_protection_enabled_for_user_by_default? %>
    <%= render(Primer::Alpha::Banner.new(icon: :info, dismiss_scheme: :remove, mb: 4, test_selector: "push-protection-user-beta-message", description:
        "GitHub will enable push protection for all GitHub Free individuals in January 2024. Enable below to try it now in beta."
      )) {
        "Keep your public pushes safe with push protection"
    }%>
  <% end %>

  <div <%= test_selector("secret-scanning-push-protection-user-settings") %>>
    <div class="d-flex flex-justify-between pb-4 pt-3">
      <div class="ws-normal">
        <h4>
          Push protection for yourself
          <% unless secret_scanning_push_protection_enabled_for_user_by_default? %>
            <%= render GitHub::BetaFlagComponent.new(py: 0, px: 2, mx: 1, test_selector: "push-protection-user-beta-flag") %>
          <% end %>
        </h4>
        <p class="mb-0">
          Block commits that contain <%= link_to "supported secrets", supported_secrets_href, class: "Link--inTextBlock" %> across all public repositories on GitHub.
        </p>
      </div>
      <div class="ws-normal">
        <div class="BtnGroup d-flex flex-shrink-0">
          <%= form_tag security_analysis_update_path(@owner), method: :put do %>
            <% if secret_scanning_push_protection_enabled_for_user? %>
              <%= render(SecurityAnalysis::SettingsDialogComponent.new(
                summary_button_text: "Disable",
                confirm_button_text: "Disable push protection",
                button_class: "btn btn-danger",
                title: "Disable push protection for yourself",
                button_aria_label: "Disable push protection for yourself",
                dialog_text: get_disable_dialog_box_text,
                input_name: "push_protection_user",
                input_value: "disabled",
                test_selector: "push-protection-user-disable"
              )) %>
            <% else %>
              <%= render(SecurityAnalysis::SettingsDialogComponent.new(
                summary_button_text: "Enable",
                confirm_button_text: "Enable push protection",
                title: "Enable push protection for yourself",
                button_aria_label: "Enable push protection for yourself",
                dialog_text: get_enable_dialog_box_text,
                input_name: "push_protection_user",
                input_value: "enabled",
                test_selector: "push-protection-user-enable"
              )) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render Settings::SurveyPromptComponent.new %>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h3, pt: 3) do %>Repositories<% end %>
    <% component.with_description do %>
      Security and analysis features help keep your repositories secure and updated.
    <%end%>
  <% end %>
<% end %>
