<div <%= test_selector("secret-scanning-push-protection-survey") %>>
  <%= render(Primer::Box.new(border: true, border_radius: 2, p: 3, mb: 2)) do %>
    <%= form_tag secret_scanning_push_protection_survey_answer_path do %>
      <%= label_tag "question-#{reason_question_id}", "Give feedback" %>
      <br>Help us improve the experience by giving us feedback on your personal experience.
      <%= select_tag "answers[#{reason_question_id}][choice]", options_for_select(reason_options),
        id: "question-#{reason_question_id}",  class: "mt-4 mb-4 form-select form-control", "aria-describedby": "question-#{reason_question_id}" %>

      <br><%= label_tag "question-#{elaborate_question_id}", "Please elaborate" %><br>
      <%= hidden_field_tag "answers[#{elaborate_question_id}][choice]", elaborate_choice_id %>
      <%= text_area_tag "answers[#{elaborate_question_id}][other][#{elaborate_choice_id}]", nil, rows: 2, style: "width:65%", placeholder: "Give feedback", class: "form-control" %>

      <%= render(Primer::Beta::Button.new(type: :submit, float: :right, mt: 5, ml: 2)) { "Submit feedback" } %>
    <% end %>
    <%= form_tag secret_scanning_push_protection_survey_dismiss_path do %>
      <%= render(Primer::Beta::Button.new(type: :submit, scheme: :invisible, float: :right, mt: -4)) { "Dismiss" } %>
    <% end %>
  <% end %>
</div>
