<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag(
  settings_appearance_preferences_tab_size_path,
  method: :put,
  "data-autosubmit": true,
  class: "js-setting-toggle",
) do %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2, id: "tab-size-heading") do %>
        Tab size preference
      <% end %>
      <% component.with_actions do %>
        <span class="hx_status-indicator status-indicator js-status-indicator">
          <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
          <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
        </span>
      <% end %>
    <% end %>

    <div class="text-bold mb-2" id="user_tab_size_rendering_preference_label">Choose the number of spaces a tab is equal to when rendering code</div>
    <%= select_tag "tab_size_rendering_preference", options_for_select(tab_size_options, user.settings.get(:tab_size)),
      id: "tab_size_rendering_preference",
      "aria-labelledby": "user_tab_size_rendering_preference_label",
      class: "form-select form-control" %>

    <noscript>
      <%= render Primer::ButtonComponent.new(type: :submit, mt: 3, display: :block) do %>Update preference<% end %>
    </noscript>
  <% end %>
