<% page_info(
    title: "Sponsoring · #{organization.safe_profile_name}",
) %>

<h1 class="sr-only" <%= test_selector "accessible-header" %>>Who <%= organization %> is sponsoring</h1>

<% content_for :header_title do %>
  <a class="Header-link" href="<%= user_path(organization) %>">
    <%= organization %>
  </a>
<% end %>

<% content_for :site_banner do %>
  <%= render Billing::SalesTaxBannerComponent.new(account: organization, current_user: current_user) %>
<% end %>

<% content_for :site_banner do %>
  <%= render Organizations::NewTermsOfServiceRequiredComponent.new(organization: organization) %>
<% end %>

<%= render Sponsors::Orgs::LowCreditBalanceComponent.new(
  sponsor: organization,
  active_invoiced_sponsors_agreement: organization.active_invoiced_sponsors_agreement?,
) %>

<div itemscope itemtype="http://schema.org/Organization">
  <%= render "orgs/identity_management/banner",
      organization: organization %>
  <%= render Organizations::ArchivedNoticeComponent.new(organization: organization)%>

  <%= render "orgs/header", view: create_view_model(
    Orgs::HeaderView,
    organization: organization,
    selected_nav_item: :sponsoring,
  ) %>

  <div class="<%= viewer_can_manage_sponsorships ? 'container-xl' : 'container-lg' %> p-responsive d-md-flex">
    <%= render Sponsors::Orgs::AdminSponsoringTabsComponent.new(
      org: organization,
      selected_link: :org_sponsoring,
      viewer_can_manage_sponsorships: viewer_can_manage_sponsorships,
    ) %>

    <div class="px-md-3 d-inline-flex width-full flex-wrap">
      <% if viewer_can_manage_sponsorships %>
        <%= render Primer::Box.new(display: :flex, justify_content: :space_between, mt: 2, width: :full, flex: 1) do %>
          <%= render Sponsors::Orgs::PremiumDashboard::CurrentBalanceComponent.new(org: this_organization) %>
          <%= render Sponsors::Orgs::PremiumDashboard::QuickActionsComponent.new(
            org: this_organization,
            has_active_sponsors_agreement: organization.active_invoiced_sponsors_agreement?,
          ) %>
        <% end %>
      <% end %>
      <div class="pt-3 width-full">
        <%= render Sponsors::Orgs::YourSponsorshipsComponent.new(
          sponsor: organization,
          viewer: current_user,
          viewer_is_org_member: viewer_is_org_member,
          viewer_can_manage_sponsorships: viewer_can_manage_sponsorships,
        ) %>
      </div>
  </div>
</div>
