<%# erblint:counter DeprecatedComponentsCounter 2 %>
<azure-metered-payment <%= test_selector "business-azure-metered-payment"%>>
<div class="Box mt-4">
  <div class="Box-row d-flex flex-items-stretch">
    <div class="flex-auto">
      <div>
        <div>
          <h3 class="mb-2">Metered billing via Azure</h3>
        </div>
      </div>
      <div class="flex-auto">
        <div class="text-normal color-fg-muted mt-2">
          Enable payment for metered products through Microsoft Azure by adding an Azure subscription ID to your account. <br>
          <% if view.display_cost_center_message? %>
            <%= render(Primer::Beta::Octicon.new(:info, size: :small)) %> In order to pay for a
            <%= link_to "cost center", "https://docs.github.com/en/enterprise-cloud@latest/early-access/billing/billing-private-beta#using-cost-centers", target: "_blank", class: "Link--inTextBlock", aria: { label: "Learn more about cost centers" } %>
            separately, you need to add a different Azure subscription ID to that cost center.
          <% end %>
        </div>
      </div>

  <% if view.has_azure_token? %>
      <azure-subscription-dialog-trigger
        anchor-name="open_dialog"
        src="<%= billing_settings_azure_subscriptions_path(view.business, :selected_tenant_id => params[:selected_tenant_id]) %>">
      </azure-subscription-dialog-trigger>

      <azure-subscription-dialog-trigger
        anchor-name="open_tenant_dialog"
        src="<%= billing_settings_azure_tenants_path(view.business) %>">
      </azure-subscription-dialog-trigger>
  <% end %>
  <% if view.linked_azure_subscription %>
    <div class="Box mt-5">
      <div class="Box-header">
        <h3 class="Box-title color-fg-muted">
          Azure subscription
        </h3>
      </div>
      <div class="Box-body">
        <div class="d-flex flex-justify-between">
          <div class="d-flex flex-column flex-justify-center">
            <span class="text-bold"><%= view.linked_azure_subscription_name %></span>
            <span class="color-fg-muted" <%= test_selector "azure_subscription_id" %>><%= view.linked_azure_subscription %></span>
          </div>
          <div>
            <%= link_to view.azure_subscription_uri.to_s, class: "btn btn-sm btn-octicon", aria: { label: "Edit Azure Subscription" } do %>
              <%= render(Primer::Beta::Octicon.new(icon: "pencil", color: :default)) %>
            <% end %>
            <%= render (Primer::Alpha::Dialog.new(
              title: "Confirm removing subscription",
              size: :large,
            )) do |d| %>
            <% d.with_show_button(
              scheme: :invisible,
              align_items: :center,
              display: :inline,
              aria: { label: "delete azure subscription" },
              p: 1,
              classes: "btn btn-sm btn-octicon",
              border: false,
              ) do %>
                <%= render(Primer::Beta::Octicon.new(icon: "trash", color: :default)) %>
                <% end %>
              <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
                <%= render(Primer::Alpha::Banner.new(scheme: view.azure_subscription_removal_scheme, full: true)) do %>
                  <span class="color-fg-default">
                    <%= view.azure_subscription_removal_message %>
                  </span>
                <% end %>
              <% else %>
                <%= render(Primer::Beta::Flash.new(scheme: view.azure_subscription_removal_scheme, full: true)) do %>
                  <span class="color-fg-default">
                    <%= view.azure_subscription_removal_message %>
                  </span>
                <% end %>
              <% end %>
              <div class="Box-body overflow-auto border-bottom-0">
                <h4 class="mb-2">Removing Azure subscription</h4>
                <div class="d-flex flex-column flex-justify-center">
                  <span class="text-bold text-small"><%= view.linked_azure_subscription_name %></span>
                  <span class="text-small color-fg-muted"><%= view.linked_azure_subscription %></span>
                </div>
              </div>
              <%= form_tag billing_settings_selected_azure_subscription_path, method: :delete do %>
                <div class="Box-footer border-top-0">
                  <%= render Primer::ButtonComponent.new(
                    block: true, scheme: :danger, type: :submit,
                    disabled: view.prevent_azure_subscription_removal?) do %>Remove<% end %>
                </div>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4 mt-5">
      <div class="Box">
        <div class="Box-header">
          <h3 class="Box-title color-fg-muted">Metered billing settings</h3>
        </div>
        <div class="Box-body p-0">
          <%= form_tag billing_settings_update_metered_via_azure_enterprise_path(view.business), method: :put do %>
            <div class="Box-row my-0 pl-5 form-checkbox">
              <label class="ml-1 d-block">
                <input type="radio" name="metered_via_azure" value="true" class="form-checkbox-details-trigger" name="setup"
                  <% if metered_via_azure %>checked<% end %>>
                  Enable metered billing through Azure
                <div class="note">
                  <p class="mb-1">Only metered services will be billed through Azure</p>
                </div>
              </label>
            </div>
            <div class="Box-row my-0 pl-5 form-checkbox">
              <label class="ml-1 d-block">
                <input type="radio" name="metered_via_azure" value="false" class="form-checkbox-details-trigger" name="setup"
                  <% unless metered_via_azure %>checked<% end %>>
                  Disable metered billing through Azure
                <div class="note">
                  <p class="mb-1">All metered services will be billed directly through GitHub</p>
                </div>
              </label>
            </div>
            <div class="Box-row my-0 pl-5">
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, disabled: view.prevent_azure_subscription_removal?) do %>
                Update metered billing settings
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <% if !view.linked_azure_subscription %>
    <div>
      <%= link_to "Add Azure Subscription", view.azure_subscription_uri.to_s, class: "btn" %>
    </div>
  <% end %>
  </div>
</div>
