<%# erblint:counter DeprecatedComponentsCounter 2 %>
<manage-seats class="mt-4 text-normal color-fg-default border-top" <%= test_selector "business-manage-seats" %>>
  <details
    class="Details-element details-reset Box-row color-fg-muted d-flex flex-items-center"
    <%= "open" if params[:manage_seats] == "true" || params[:manage_seats_view] == "true" %>
    data-action="toggle:manage-seats#enterViewMode"
  >
    <summary>
      <div class="d-inline-flex pl-2">
        <span class="Details-content--open d-flex flex-items-center"><%= render Primer::Beta::Octicon.new(icon: "chevron-down") %></span>
        <span class="Details-content--closed d-flex flex-items-center"><%= render Primer::Beta::Octicon.new(icon: "chevron-right") %></span>
        <div class="Box-title flex-1 ml-1 pl-3">
          <div>Enterprise licenses</div>
          <div class="text-small text-normal">
            <%= enterprise_licenses_label %>
          </div>
        </div>
      </div>
    </summary>
    <div class="mx-1">
      <% if flash[:business_seats_success] %>
        <%= render(Primer::Beta::Flash.new(scheme: :success, dismissible: true, icon: :check, mx: 6, mt: 3)) do %>
          <%= flash[:business_seats_success] %>
        <% end %>
      <% elsif flash[:business_seats_error] %>
        <%= render(Primer::Beta::Flash.new(scheme: :danger, dismissible: true, icon: :alert, mx: 6, mt: 3)) do %>
          <%= flash[:business_seats_error] %>
        <% end %>
      <% end %>
    </div>
    <%= render Billing::Settings::Upgrade::ManageSubscriptionComponent.new(
      px: 5,
      mx: 1,
      form_action: billing_settings_change_seats_enterprise_path(business),
      form_id: "change-enterprise-seats-form",
      price_url: billing_settings_seat_price_enterprise_path(business),
      open_edit_mode_param: :manage_seats,
      business: business,
      # view
      current_payment: current_payment,
      cost_per_seat: seat_cost_label_short,
      next_payment_label: is_in_trial? ? "Trial ends" : "Next payment",
      next_payment: next_billing_date,
      payment_term_label: payment_term_label,
      has_unlimited_seats: has_unlimited_seats?,
      can_manage_seats: can_manage_seats?,
      # edit
      current_seats_label: "You currently have #{pluralize(current_seats, "seats")}",
      new_seats_payment: payment_label,
      payment_due: payment_due,
    ) do |c| %>
      <% c.with_payment_method do %>
        <%= render "businesses/billing_settings/manage_seats_payment_method", business: business, payment_method: business.payment_method %>
      <% end %>
      <% c.with_hidden_form_field(name: "return_to", value: enterprise_licensing_path(business, manage_seats_view: true)) %>
      <% c.with_stepper_component(
        seats: seats,
        min: min_seats,
        max: max_seats,
        form: "change-enterprise-seats-form",
        min_error_message: min_error_message,
        max_error_message: max_error_message
      ) do |stepper| %>
        <% stepper.with_remove_seat_control(data: {
          **analytics_click_attributes(
            category: "enterprise_account_manage_seats",
            action: "click_to_decrease_seats_number",
            label: "ref_page:#{request.fullpath};ref_cta:decrease_seats_number;ref_loc:enterprise_licensing")}) %>
        <% stepper.with_input(data: {
          **analytics_click_attributes(
            category: "enterprise_account_manage_seats",
            action: "click_on_seats_input",
            label: "ref_page:#{request.fullpath};ref_cta:seats_input;ref_loc:enterprise_licensing")
          }) %>
        <% stepper.with_add_seat_control(data: {
          **analytics_click_attributes(
            category: "enterprise_account_manage_seats",
            action: "click_to_increase_seats_number",
            label: "ref_page:#{request.fullpath};ref_cta:increase_seats_number;ref_loc:enterprise_licensing")
          }) %>
      <% end %>
    <% end %>
  </details>
</manage-seats>
