<p <%= test_selector "business-seats-used" %>>
  <% if show_seat_breakdown? %>
    On <%= plan_name %> each seat costs <%= price_per_seat %> per <%= plan_duration %>.
      Your Enterprise is currently
      <%= render(Primer::Beta::Link.new(
        data: { test_selector: "business-seats-long-used-link" },
        href: people_enterprise_path(business),
        classes: "Link--inTextBlock")) {
          "using #{pluralize(total_seats, 'seat')}"
      } %>, including:
      <ul class="ml-4">
        <% if pending_admin_invitation_count > 0 %>
          <li <%= test_selector "business-seats-pending-admin-invites" %>>
            <%= render(Primer::Beta::Link.new(href: enterprise_pending_admins_path(business), classes: "Link--inTextBlock")) {
              "#{pluralize(pending_admin_invitation_count, 'pending admin invitation')}"
            } %>
          </li>
        <% end %>
        <% if pending_member_invitation_count > 0 %>
        <li <%= test_selector "business-seats-pending-member-invites" %>>
          <%= render(Primer::Beta::Link.new(href: enterprise_pending_members_path(business), classes: "Link--inTextBlock")) {
            "#{pluralize(pending_member_invitation_count, 'pending member invitation')}"
          } %>
        </li>
        <% end %>
        <% if outside_collaborator_count > 0 %>
          <li <%= test_selector "business-seats-outside-collaborators" %>>
            <%= render(Primer::Beta::Link.new(href: enterprise_outside_collaborators_path(business), classes: "Link--inTextBlock")) {
              "#{pluralize(outside_collaborator_count, 'outside collaborator')}"
            } %>
          </li>
        <% end %>
      </ul>
  <% else %>
    On <%= plan_name %> each seat costs <%= price_per_seat %> per <%= plan_duration %>.
    <% if show_current_enterprise_usage? %>
      Your Enterprise is currently
      <%= render(Primer::Beta::Link.new(
        data: { test_selector: "business-seats-short-used-link" },
        href: people_enterprise_path(business),
        classes: "Link--inTextBlock")) {
          "using #{pluralize(total_seats, 'seat')}"
      } %>.
    <% end %>
  <% end %>
</p>
