<span class="f5 text-normal" <%= test_selector('enterprise-trial-upgrade-preview') %>>
  Upgrade now for <%= total_upgrade_price.format %>/<%= Business::BillingDependency::MONTHLY_PLAN %>
  (<%= pluralize(seats, 'seat') %> at <%= per_seat_pricing.human_unit_price %>).
</span>
