<file-filter data-target="diff-file-filter.fileFilter" data-action="file-filter-change:diff-file-filter#applyFilter">
  <details class="diffbar-item details-reset details-overlay" <%= test_selector('file-filter-menu') %>>
    <summary class="Link--muted select-menu-button" aria-haspopup="true" data-target="file-filter.summary">
      <strong
        class="js-file-filter-text css-truncate css-truncate-target"
        data-target="file-filter.fileFilterActiveText"
        >
        File filter
      </strong>
    </summary>
    <details-menu class="SelectMenu js-file-filter"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="SelectMenu-modal">
        <header class="SelectMenu-header">
          <h3 class="SelectMenu-title">Filter by extension</h3>
        </header>
        <div class="SelectMenu-list SelectMenu-list--borderless">
          <%= form_with(url: "/", class: "js-file-filter-form") do  %>
            <fieldset>
              <legend class="sr-only">Filter by extension</legend>
              <% files_by_type.each do |file_type, files| %>
                <label class="SelectMenu-item" role="menuitem">
                  <input
                    class="js-diff-file-type-option mr-2"
                    type="checkbox"
                    value="<%= file_type %>"
                    name="file-filters[]"
                    <% if is_selected_file_type?(file_type: file_type, valid_file_types: valid_file_types) %>
                      checked
                    <% end %>
                    <%# Use "data-hydro-click-payload" instead of "data-hydro-click" so this click event
                    # is handled by `file-filter-element.ts` instead of `hydro-click-tracking.ts` %>
                    data-hydro-click-payload= "<%= filter_hydro_attributes_click(type: "extension", file_type: file_type, file_count: files.count) %>"
                    data-hydro-click-hmac= "<%= filter_hydro_attributes_hmac(type: "extension", file_type: file_type, file_count: files.count) %>"
                    data-non-deleted-files-count="<%= non_deleted_files_count(files) %>"
                    data-targets="file-filter.fileExtensions"
                    data-action="change:file-filter#updateFileInputs"
                    <%= test_selector("file-type-filter") %>
                  >
                  <%= file_type %>&nbsp
                  <span class="text-normal js-file-type-count"
                    data-non-deleted-file-count-markup="(<%= non_deleted_files_count(files) %>)"
                    data-all-file-count-markup="(<%= files.count %>)"
                    data-targets="file-filter.fileTypeCount"
                  >
                    (<%= files.count %>)
                  </span>
                </label>
              <% end %>
              <label class="SelectMenu-item" role="menuitem">
                <input
                  type="checkbox"
                  class="sr-only hx_focus-input"
                  data-target="file-filter.selectAllInput"
                  data-action="change:file-filter#enableAllFileInputs"
                  <%= test_selector("select-all-file-type-filter") %>
                >
                <span
                  class="color-fg-muted no-underline text-normal js-file-filter-select-all-container hx_focus-target"
                  data-select-all-markup="Select all <%= file_type_count %>"
                  data-all-selected-markup="All <%= file_type_count %> selected"
                  data-target="file-filter.selectAllContainer"
                  >
                  All <%= file_type_count %> selected
                </span>
              </label>
            </fieldset>
            <% if includes_manifest_files? || show_owned_files_option? %>
              <hr class="SelectMenu-divider">
              <% if includes_manifest_files? %>
                <label class="SelectMenu-item" role="menuitem">
                  <input
                    class="js-manifests-option mr-2"
                    type="checkbox"
                    value="true"
                    name="manifests"
                    <%= 'checked' if manifest_files_active? %>
                    data-hydro-click-payload="<%= filter_hydro_attributes_click(type: "manifest")%>"
                    data-hydro-click-hmac= "<%= filter_hydro_attributes_hmac(type: "manifest")%>"
                    data-target="file-filter.manifestFilesInput"
                    data-action="change:file-filter#updateFileInputs"
                    <%= test_selector("manifest-file-filter") %>
                  >
                  Only manifest files
                </label>
              <% end %>

              <% if show_owned_files_option? %>
                <label class="SelectMenu-item" role="menuitem">
                  <input
                    class="js-diff-owner-option mr-2"
                    type="checkbox"
                    value="<%= current_user.display_login %>"
                    name="owned-by[]"
                    <% if only_owned_by_active? %>
                      checked
                    <% end %>
                    data-hydro-click-payload= "<%= filter_hydro_attributes_click(type: "owned")%>"
                    data-hydro-click-hmac= "<%= filter_hydro_attributes_hmac(type: "owned")%>"
                    data-targets="file-filter.codeownersFilterInputs"
                    data-action="change:file-filter#updateFileInputs"
                    <%= test_selector("owned-file-filter") %>
                  >
                  Only files owned by you&nbsp
                  <span class="text-normal js-file-type-count" data-targets="file-filter.fileTypeCount">
                    (<%= owned_files_count %>)
                  </span>
                </label>
              <% end %>
            <% end %>
            <hr class="SelectMenu-divider">
            <% if includes_deleted_files? %>
              <label class="SelectMenu-item" role="menuitem">
                <input
                  type="checkbox"
                  class="js-deleted-files-toggle mr-2"
                  name="show-deleted-files"
                  value="true"
                  <%= 'checked' unless deleted_files_hidden? %>
                  data-hydro-click-payload= "<%= filter_hydro_attributes_click(type: "deleted")%>"
                  data-hydro-click-hmac= "<%= filter_hydro_attributes_hmac(type: "deleted")%>"
                  data-target="file-filter.deletedFilesInput"
                  data-action="change:file-filter#updateFileInputs"
                  <%= test_selector("deleted-file-filter") %>
                  >
                  Deleted files
              </label>
            <% end %>

            <label class="SelectMenu-item" role="menuitem">
              <input
                type="checkbox"
                class="js-viewed-files-toggle mr-2"
                name="show-viewed-files"
                value="true"
                <%= 'checked' unless viewed_files_hidden? %>
                data-hydro-click-payload= "<%= filter_hydro_attributes_click(type: "viewed")%>"
                data-hydro-click-hmac= "<%= filter_hydro_attributes_hmac(type: "viewed")%>"
                data-target="file-filter.viewedFilesInput"
                data-action="change:file-filter#updateFileInputs"
                <%= test_selector("viewed-file-filter") %>
                >
              Viewed files
            </label>
          <% end %>
        </div>
      </div>
    </details-menu>
  </details>
</file-filter>
