<% if node.directory? %>
  <li
    class="ActionList-item ActionList-item--hasSubItem<%= ' ActionList-item--subItem' if subitem %> js-tree-node"
    aria-level="<%= node.tree_depth %>"
    role="treeitem"
    style="--ActionList-tree-depth: <%= node.tree_depth %>;"
    data-skip-substring-filter
    data-tree-entry-type="directory"
    <%= test_selector('pr-file-tree-directory') %>
  >
    <button
      class="ActionList-content"
      aria-expanded="true"
      type="button"
      data-action="click:experimental-action-list#handleItemWithSubItemClick"
    >
      <span class="ActionList-item-action ActionList-item-action--leading">
        <%= primer_octicon(:"chevron-down", aria: { hidden: "true" }, classes: "ActionList-item-collapseIcon", use_symbol: true) %>
      </span>
      <span class="ActionList-item-visual ActionList-item-visual--leading">
        <%= render file_icon %>
      </span>
      <span
        class="ActionList-item-label ActionList-item-label--truncate"
        <%= test_selector('pr-file-tree-directory-display-name') %>
        >
        <%= display_name %>
      </span>
    </button>
    <ul
      class="ActionList ActionList--subGroup"
      data-filterable-for="file-tree-filter-field"
      data-filterable-type="substring"
      role="group"
      >
      <% node.children.each do |child_node| %>
        <%= render PullRequests::FileTree::NodeComponent.new(
          node: child_node,
          file_types: file_types,
          subitem: true,
          viewed_files: viewed_files,
          codeowners: codeowners,
          default_hydro_payload: default_hydro_payload
        ) %>
      <% end %>
    </ul>
  </li>
<% else %>
  <li
    id="file-tree-item-<%= file_id %>"
    class="ActionList-item<%= ' ActionList-item--subItem' if subitem %> js-tree-node"
    role="treeitem"
    aria-level="<%= node.tree_depth %>"
    style="--ActionList-tree-depth: <%= node.tree_depth %>;"
    <%= test_selector('pr-file-tree-file') %>
    data-action="
      click:experimental-action-list#handleItemClick
      click:file-tree#instrumentSelectFile
    "
    data-target="file-tree.fileTreeNode"
    data-targets="
      diff-file-filter.treeEntries
      file-tree.fileTreeNodes
    "
    <%# Use "hydro-click-payload" instead of "hydro-click" so this click event
    # is handled by `file-tree-element.ts` instead of `hydro-click-tracking.ts` %>
    data-hydro-click-payload="<%= hydro_tracking_attributes["hydro-click"] %>"
    data-hydro-click-hmac="<%= hydro_tracking_attributes["hydro-click-hmac"] %>"
    data-file-type="<%= file_type %>"
    data-file-deleted="<%= node.deleted? %>"
    <% if marked_as_viewed? %>
      data-file-user-viewed
    <% end %>
    <% if manifest_file? %>
      data-file-manifest
    <% end %>
    <% if hidden? %>
      data-skip-substring-filter
      hidden
    <% end %>
    <% if include_codeowners? %>
      data-codeowners="<%= codeowners_list.join(",") %>"
    <% end %>
    data-tree-entry-type="file"
  >
    <span data-filterable-item-text hidden><%= display_path %></span>
    <a class="ActionList-content hx_ActionList-content"
       href="#<%= diff_file_anchor(node.path) %>"
       data-turbo="false"
      >
      <span class="ActionList-item-visual ActionList-item-visual--leading hx_ActionList-item-visual">
        <%= render file_icon %>
      </span>
      <span
        class="ActionList-item-label ActionList-item-label--truncate hx_ActionList-item-label"
        <%= test_selector('pr-file-tree-file-display-name') %>
        >
        <%= display_name %>
      </span>
      <span class="ActionList-item-visual ActionList-item-visual--trailing hx_ActionList-item-visual">
        <%= render status_icon %>
      </span>
    </a>
  </li>
<% end %>
