<%# spritesheet for octicons %>
<%= render Primer::Alpha::OcticonSymbols.new(icons: ICONS) %>

<div class="subnav-search mx-0 mb-2" <%= test_selector('pr-file-tree-path-filter') %>>
  <input
    type="text"
    id="file-tree-filter-field"
    class="form-control input-block pl-5 js-filterable-field"
    placeholder="Filter changed files"
    aria-label="Filter changed files"
    autocomplete="off"
    data-target="diff-layout.fileTreePathFilter"
    <%= pathname_filter_hydro_tracking_attributes %>
    >
  <%= primer_octicon(:search, classes: 'subnav-search-icon') %>
</div>
<experimental-action-list data-arrow-navigation="true">
  <file-tree data-target="diff-layout.fileTree">
    <nav aria-label="File Tree Navigation" <%= test_selector('pr-file-tree-root') %>>
      <ul
        class="ActionList ActionList--tree ActionList--full"
        role="tree"
        aria-label="File Tree"
        data-filterable-for="file-tree-filter-field"
        data-filterable-type="substring"
        data-tree-entry-type="root"
        data-target="diff-file-filter.treeRoot"
        data-action="
          filterable:change:diff-file-filter#hideEmptyDirectories
          filterable:change:file-tree#instrumentPathFilterChange
          filterable:change:experimental-action-list#setupFocusZone
        "
      >
        <% tree.children.each do |child_node| %>
          <%= render PullRequests::FileTree::NodeComponent.new(
            node: child_node,
            file_types: file_types,
            viewed_files: viewed_files,
            codeowners: codeowners,
            default_hydro_payload: default_hydro_payload
          ) %>
        <% end %>
      </ul>
    </nav>
  </file-tree>
</experimental-action-list>
