<%# erblint:counter DeprecatedComponentsCounter 1 %>

<%= render(Primer::Experimental::PageHeader.new(title_size: :subtitle)) do |header| %>
    <% header.with_title(w: :full, tag: :h2) do %>
      <span class="hide-sm hide-md d-flex flex-items-center" <%= test_selector "workflow-title" %>>
        <% if show_ruleset_label? %>
          <div>
            <span class="mr-2 v-align-middle">
              <%= title %>
            </span>
            <% if @selected_workflow && @selected_workflow.required? %>
              <%= render(Primer::Beta::Label.new(test_selector: "ruleset-label")) { "Required by ruleset" } %>
            <% end %>
          </div>
        <% else %>
          <%= title %>
        <% end %>
      </span>
      <span class="hide-lg hide-xl d-flex flex-items-center Truncate" >
        <%= render Actions::MobileNavComponent.new(
          selected_workflow: @selected_workflow,
          selected_section: @selected_section,
          current_repo: @current_repository,
          workflow_run_filters: @workflow_run_filters
        ) %>
      </span>
    <% end %>

    <% header.with_description(mt: 0, color: :muted) do %>
      <% if description_text %>
        <span <%= test_selector "workflow-subtitle" %>><%= description_text %></span>
      <% end %>
      <% if description_link_url %>
        <a
          href="<%= description_link_url %>"
          class="Link"
          <%= test_selector description_test_selector %> >
          <%= description_link_text %>
        </a>
      <% end %>
    <% end %>

    <% header.with_actions(display: :flex) do %>
      <% if filter %>
        <div class="hide-sm hide-md">
          <%= filter(false) %>
        </div>
      <% end %>
      <% if is_workflows_section? %>
        <% if @selected_workflow %>
          <%= render Primer::Alpha::ActionMenu.new(pl: 2) do |menu|%>
            <% menu.with_show_button(icon: "kebab-horizontal", aria: { label: "Show workflow options" }) %>
            <% menu.with_item(
              label: "Create status badge",
              content_arguments: { "data-show-dialog-id": "create-status-badge" },
              test_selector: "badge-builder-button"
            ) %>
            <% if show_unpin_button? %>
              <% menu.with_item(
                label: "Unpin workflow",
                content_arguments: { "data-show-dialog-id": unpin_dialog_id },
                test_selector: "unpin-menu-item"
              ) %>
            <% elsif show_pin_button? %>
              <% menu.with_item(
                label: "Pin workflow",
                test_selector: "pin-menu-item",
                href: pin_workflow_path(repository: @current_repository, user_id: @current_repository.owner,),
                form_arguments: {
                  method: :post,
                  name: "workflow_id",
                  value: @selected_workflow.id,
                }
              ) %>
            <% end %>
            <% if !@selected_workflow.disabled? && @selected_workflow.disableable? && @user_has_push_access %>
              <% menu.with_item(
                label: "Disable workflow",
                href: disable_workflow_path(workflow_id: @selected_workflow.id),
                form_arguments: {
                  method: :post,
                }
              ) %>
            <% end %>
          <% end %>
          <%= render Actions::StatusBadgeDialogComponent.new(
            dialog_id: "create-status-badge",
            filename: @selected_workflow.filename,
            current_repository: @current_repository,
            lab: @selected_workflow.lab?,
          ) %>
          <% if show_unpin_button? %>
            <%= render partial: "actions/workflows_partials/unpin_workflow_dialog", locals: {
              workflow_id: @selected_workflow.id,
              dialog_id: unpin_dialog_id,
              current_repository: @current_repository,
            } %>
          <% end %>
        <% else %>
          <% if @current_repository.writable_by?(@current_user) && @user_has_push_access && !@current_repository.archived? %>
            <span class=" hide-lg hide-xl d-flex flex-items-center">
              <%= link_to "New workflow", actions_onboarding_path(@current_repository.owner, @current_repository), class: "d-block d-md-none btn btn-sm" %>
            </span>
          <% end %>
        <% end %>
      <% elsif is_runners_section? && set_up_runners_path.present? %>
        <%= render(Hydro::TrackViewComponent.new(name: "repository_runners/new_runner_cta")) %>
        <%= render(Primer::ButtonComponent.new(
          scheme: :primary,
          tag: :a,
          href: set_up_runners_path,
          test_selector: "new-runner-cta",
          data: analytics_click_attributes(
            category: "repository_runners",
            action: "click_new_runner_cta",
            label: "ref_cta:new_runner;ref_loc:repository_runner_header;path:#{set_up_runners_path}"
          )
        )) { "New runner" } %>
      <% end %>
    <% end %>

    <% header.with_navigation(hide: :whenRegular, mt: [3]) do %>
      <% if filter %>
        <%= filter(true) %>
      <% end %>
    <% end %>
  <% end %>
