<% page_info \
  title: "Features · Developer tools and integrations",
  description: "There’s no limit to the ways you can build on GitHub. Fine tune your process as your team changes and find new ways to work better with a variety of integrations for code review, project management, continuous integration, and more.",
  richweb: {
    title: "GitHub features: Developer tools and integrations",
    url: request.original_url,
    description: "There’s no limit to the ways you can build on GitHub. Fine tune your process as your team changes and find new ways to work better with a variety of integrations for code review, project management, continuous integration, and more.",
    image: image_path("modules/site/social-cards/features.png"),
  }
%>

<div class="jumbotron-integrations">
  <div class="py-6 py-sm-8 py-lg-10 py-xl-12">
    <div class="container-lg p-responsive text-center position-relative" style="z-index: 5;">
      <%= svg("site/icons/build", class: "d-block mx-auto mb-6", width: "75") %>
      <h1 class="h2-mktg mb-4">Built to grow</h1>
      <p class="f3-mktg color-fg-muted mb-5 col-md-9 mx-auto">
        Between applications and custom tools, there’s no limit to the ways you can build on GitHub. Fine tune your process as your team changes, update tools as technologies shift, and find new ways to work better.
      </p>
    </div>
  </div>
</div>

<div class="container-lg p-responsive">
  <div class="col-md-10 mx-auto">
    <div class="video-responsive color-shadow-extra-large color-bg-emphasis mb-6">
      <iframe src="https://www.youtube.com/embed/CtjaRp5b6II?autoplay=0&amp;rel=0&amp;end=100&color=white&autohide=1&modestbranding=1&showinfo=0" frameborder="0" allowfullscreen title="GitHub Marketplace video"></iframe>
    </div>
  </div>
</div>

<div class="py-7 py-md-8 py-lg-9" id="marketplace">
  <div class="container-lg p-responsive pb-6 mb-6">
    <div class="col-md-8 mx-auto pb-6">
      <p class="h4 text-mono text-normal text-center color-fg-muted mb-2">GitHub Marketplace</p>
      <h2 class="h3-mktg mb-3 text-center">Discover new tools</h2>
      <p class="f3-mktg text-normal color-fg-muted text-center mb-4">
        From continuous integration to code review, find tools for every step of the development process and start using them in minutes. Browse and buy apps from GitHub Marketplace with your GitHub account&mdash;no need for multiple accounts or payment methods.
      </p>
      <p class="f4 text-center mb-6">
        <%= render Site::ButtonComponent.new(
          text: "Browse the marketplace",
          url: marketplace_path,
          size: :large,
          classes: "mx-auto",
          scheme: :muted,
          arrow: true,
          analytics: {
            category: "Integrations",
            action: "click",
            label: "text:Browse the Marketplace"
          }
        ) %>
      </p>
    </div>

    <div class="d-flex flex-column flex-items-center flex-md-row my-5" id="apps">
      <div class="col-md-6 flex-md-self-center text-center">
        <div class="apps-quadrangle mx-auto my-4">
          <div class="CircleBadge CircleBadge--medium CircleBadge--feature" style="background-color: #78bdf2;">
            <picture class="d-flex flex-justify-center">
              <source srcset="<%= image_path "modules/site/integrators/waffleio.webp" %>" type="image/webp">
              <img src="<%= image_path "modules/site/integrators/waffleio.png" %>" alt="" class="p-3 circle color-shadow-medium" width="96" height="96" loading="lazy">
            </picture>
          </div>
          <div class="CircleBadge CircleBadge--medium CircleBadge--feature" style="background-color: #ffffff;" >
            <picture class="d-flex flex-justify-center">
              <source srcset="<%= image_path "modules/site/integrators/appveyor-logo.webp" %>" type="image/webp">
              <img src="<%= image_path "modules/site/integrators/appveyor-logo.png" %>" alt="" class="p-3 circle color-shadow-medium" width="96" height="96" loading="lazy">
            </picture>
          </div>
          <div class="CircleBadge CircleBadge--medium CircleBadge--feature" style="background-color: #eff9f9;">
            <picture class="d-flex flex-justify-center">
              <source srcset="<%= image_path "modules/site/integrators/travis-ci.webp" %>" type="image/webp">
              <img src="<%= image_path "modules/site/integrators/travis-ci.png" %>" alt="" class="p-3 circle color-shadow-medium" width="96" height="96" loading="lazy">
            </picture>
          </div>
          <div class="CircleBadge CircleBadge--medium CircleBadge--feature" style="background-color: #364e98;">
            <picture class="d-flex flex-justify-center">
              <source srcset="<%= image_path "modules/site/integrators/zenhubio.webp" %>" type="image/webp">
              <img src="<%= image_path "modules/site/integrators/zenhubio.png" %>" alt="" class="p-3 circle color-shadow-medium" width="96" height="96" loading="lazy">
            </picture>
          </div>
        </div>
      </div>
      <div class="col-md-6 pr-md-5">
        <h3 class="h5-mktg mb-2">Apps on your terms</h3>
        <p class="mb-3 mr-md-3 f4-mktg">
          GitHub Apps are a new way to integrate with GitHub. With granular API permissions and built-in webhooks, you have more control over what you build.
        </p>
        <%= render Site::LinkComponent.new(text: "Get started with GitHub Apps", url: GitHub.developer_help_url, size: :medium) %>
        <hr class="my-4" width="80">
        <p class="f6">
          <strong class="color-fg-success">Pro-tip:</strong> Don’t see what you need? Hundreds of OAuth apps work with GitHub. <a class="Link--inTextBlock" href="/works-with">Find what you’re looking for</a>
        </p>
      </div>
    </div>
  </div>
</div>



<div class="container-lg p-responsive">
  <div class="color-shadow-extra-large rounded color-bg-default d-md-flex flex-justify-between flex-items-center p-6 mx-auto position-relative" style="top: -80px;">
    <%= svg("site/icons/marketplace", class: "d-block flex-self-start mx-auto mb-4", width: "64") %>
    <div class="mx-md-6 text-center text-md-left" style="max-width: 500px;">
      <h3 class="h6-mktg mb-3">List your app on GitHub Marketplace</h3>
      <p class="mr-md-3 color-fg-muted">
        Share what you’ve built with the GitHub community. If your app meets <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/apps/adding-integrations/listing-apps-on-github-marketplace/requirements-for-listing-an-app-on-github-marketplace/">the requirements</a>, add it to GitHub Marketplace where millions of developers can find it.
      </p>
    </div>
    <p class="mt-4 mt-md-0 text-center">
      <%= render Site::ButtonComponent.new(text: "Submit your app for review", url: new_marketplace_listing_path, arrow: true, scheme: :muted) %>
    </p>
  </div>
</div>

<div class="py-7 py-md-8 py-lg-9 jumbotron-endpoints" id="api">
  <div class="container-lg p-responsive">
    <div class="col-md-6 mx-auto">
      <p class="h4 text-mono text-normal text-center color-fg-muted mb-2">GitHub API</p>
      <h2 class="h3-mktg mb-3 text-center">
        Build on GitHub
      </h2>
      <p class="f3-mktg text-normal color-fg-muted text-center mb-2 pb-md-4">
        Create your own tools with greater access to data than ever before using the same API that we use to build GitHub.
      </p>
    </div>
    <div class="d-md-flex">
      <div class="col-md-6 px-md-5 mb-5 text-center">
        <%= svg("site/icons/api", class: "d-block mx-auto mb-5", width: "60") %>
        <h3 class="h6-mktg mb-2">From release to API in no time</h3>
        <p class="color-fg-muted">
          Use API endpoints for a feature as soon as it launches. Features on GitHub.com are available in the GraphQL API because they’re built using GraphQL internally first.
        </p>
      </div>
      <div class="col-md-6 px-md-5 mb-5 text-center">
        <%= svg("site/icons/graphql", class: "d-block mx-auto mb-5", width: "60") %>
        <h3 class="h6-mktg mb-2">Precise data in one call</h3>
        <p class="color-fg-muted">
          Build a GraphQL query that gets you the exact data you need in a single request. No more calling multiple REST endpoints and working through the data yourself.
        </p>
        <%= render Site::LinkComponent.new(text: "Learn more", url: "#{GitHub.developer_help_url}/v4", size: :medium) %>
      </div>
    </div>
    <div class="col-md-6 mx-auto my-6 text-center">
      <p class="f6 color-fg-muted">
        <strong class="color-fg-success">Pro tip:</strong> The GitHub GraphQL API is fresh out of its Early Access program. We’re currently still supporting the previous version of our API, the GitHub REST API.
      </p>
    </div>
  </div>
</div>

<div class="text-center border-y py-4">
  <a href="/features">&larr; Back to all features</a>
</div>

<%= render "site/pricing/features_pricing" %>
