<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="js-organization-container position-relative details-reset details-overlay select-menu">
  <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button with-gravatar", "data-menu-button": "", "aria-describedby": "target-org-label") do %>
    <%= avatar_for(target , 20, class: "avatar select-menu-item-gravatar", alt: "") %>
    <%= target.display_login %>
  <% end %>
  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" aria-labelledby="target-org-label"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-list">
      <% business.organizations.each do |organization| %>
        <label
          class="select-menu-item"
          role="menuitemradio"
          aria-checked="<%= target == organization %>">
          <input
            type="radio"
            name="organization"
            data-upgrade-url="<%= target_billing_upgrade_data_plan_path(organization) %>"
            value="<%= organization.display_login %>"
            <%= "checked" if target == organization %>>

            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text" data-menu-button-contents>
              <%= avatar_for(organization, 20, class: "avatar select-menu-item-gravatar", alt: "") %>
              <%= organization.display_login %>
            </div>
        </label>
      <% end %>
    </div>
  </details-menu>
</details>
