<% page_info title: "Add a data pack",
  stafftools: stafftools_enterprise_path(this_business),
  selected_link: :business_billing_settings %>

<% trade_screening_error_data = trade_screening_cannot_proceed_error_data(target: this_business) %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Purchase Data Packs",
    back_to_link_path: settings_billing_enterprise_path(this_business),
    back_to_link_text: "billing",
  } do %>
  <p>
    A data plan is only necessary if you are using
    <%= link_to "Git Large File Storage (Git LFS)", "https://git-lfs.github.com?utm_source=github_site&utm_medium=billing_upgrade_link&utm_campaign=gitlfs", class: "Link--inTextBlock" %>.
  </p>

  <% if allowed_to_purchase_data_packs? %>
    <%= form_for data_pack_change.asset_status,
        method: :put,
        url: data_packs_enterprise_path(this_business),
        html: {"aria-label": "Upgrade data plan"} do |f| %>

        <dl class="form-group">
          <dt><label id="target-org-label" for="organization">Choose an organization</label></dt>
          <dd>
            <%= render "businesses/data_packs/organization_menu", f: f, business: this_business, target: target %>
          </dd>
        </dl>

        <%= render "asset_status/upgrade_form_fields", f: f, data_pack_change: data_pack_change, target: target %>
    <% end %>
  <% else %>
        <%= render(Growth::TradeScreeningCannotProceedComponent.new(target: this_business, check_for_current_user: true)) %>
  <% end %>
<% end %>
