<% page_info title: "Trade Compliance Batch Operations" %>
<%= render layout: "stafftools/stafftools" do %>
  <div class="Box">
    <%= form_tag stafftools_trade_compliance_batch_operations_path, multipart: true, method: :post do %>
      <div class="Box-header">
        <h3 class="Box-title">Run trade compliance batch operations</h3>
      </div>
      <div class="Box-body">
        <%= render Primer::Alpha::TextField.new(
          name: "reference_number",
          label: "Reference number",
          caption: "A unique reference number for this batch operation, for example a case number. You can also use this guid: #{SecureRandom.uuid}."
        ) %>

        <label>
          Upload accounts CSV
          <div>
            <input name="accounts" class="button-file-chooser user-csv-file-chooser position-relative user-csv-text" type="file" accept=".csv">
          </div>
        </label>

        <p class="mt-2">
          <%= render(Primer::Beta::Octicon.new(:info, size: :small)) %> The CSV should only contain a list of account ids with no headers for trade compliance operations.
        </p>
        <p class="mt-2">
          <%= render(Primer::Beta::Octicon.new(:info, size: :small)) %> For more information and instructions on how to check the progress of the batch operation see <a href="https://gh.io/trade-compliance-batch-operations-playbook" class="Link--inTextBlock">the playbook</a> for trade compliance batch operations.
        </p>
      </div>

      <div class="Box-body">
        <h3>Trade screening actions</h3>

        <div class="Box-body">
          <h4>Manual screening</h4>
          <%= render Primer::Alpha::CheckBox.new(
            name: "manual_screening",
            label: "Perform manual screening",
            caption: "This will trigger a live screening for the accounts in the CSV"
          ) %>
        </div>

        <div class="Box-body">
          <h4>Set screening status</h4>
          <%= render Primer::Alpha::CheckBox.new(
            name: "set_screening_status",
            label: "Set screening status",
            caption: "This will update the screening status for the accounts in the CSV"
          ) %>

          <%= render Primer::Alpha::Select.new(
            name: "screening_status",
            label: "Select screening status",
            id: "screening_status",
          ) do |c| %>
            <% c.option(label: "Select a status to set", value: "") %>
            <% AccountScreeningProfile::VALID_SDN_STATUSES.each do |status| %>
              <% c.option(label: status, value: status) %>
            <% end %>
          <% end %>

          <%= render Primer::Alpha::TextField.new(
            name: "set_screening_status_reason",
            label: "Reason for changing the screening status",
            placeholder: "e.g. Updating the screening status per guidance from CELA",
          ) %>
        </div>

        <div class="Box-body">
          <h4>SDN suspend</h4>
          <%= render Primer::Alpha::CheckBox.new(
            name: "sdn_suspend",
            label: "SDN suspend",
            caption: "This will sdn suspend the accounts in the CSV"
          ) %>

          <%= render Primer::Alpha::TextField.new(
            name: "sdn_suspend_reason",
            label: "Reason for suspending",
            placeholder: "e.g. SDN suspending per guidance from CELA",
          ) %>
        </div>

        <div class="Box-body">
          <h4>SDN unsuspend</h4>
          <%= render Primer::Alpha::CheckBox.new(
            name: "sdn_unsuspend",
            label: "SDN unsuspend",
            caption: "This will sdn unsuspend the accounts in the CSV"
          ) %>

          <%= render Primer::Alpha::TextField.new(
            name: "sdn_unsuspend_reason",
            label: "Reason for unsuspending",
            placeholder: "e.g. SDN unsuspending per guidance from CELA",
          ) %>
        </div>
      </div>

      <div class="Box-body">
        <h3>Test run options</h3>

        <%= render Primer::Alpha::CheckBox.new(
          name: "test_run",
          label: "Perform a test run",
        ) %>

        <%= render Primer::Alpha::TextField.new(
          name: "test_run_account_id",
          label: "Dry run account ID",
          caption: "A GitHub account ID to perform the test run on. Note that this will perform the requested actions on this account."
        ) %>
      </div>

      <div class="Box-footer form-actions">
        <%= render GitHub::DialogComponent.new(title: "Run batch operation") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
          <% dialog.with_body do %>
            <div class="d-flex flex-nowrap">
              <div class="pl-3 flex-1">
                <p class="overflow-hidden mb-1">Before you run the incident response, please consider that this will perform customer actions across potentially many accounts. As such, you should take great care and consider running a test run to validate the accounts CSV and ensure the action(s) does what you expect on a test account.</p>
              </div>
            </div>
          <% end %>
          <% dialog.with_footer do %>
            <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger) do %>
              <span class="d-md-inline-block d-none">Run batch operation</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
