<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  listing_state = sponsors_listing.current_state_name
%>

<%= render layout: "sponsors/dashboards/layout",
      locals: { sponsors_listing: sponsors_listing, selected_tab: :sponsors, full_width: true } do %>
  <%= render "sponsors/your_sponsors_navigation",
        sponsorable: sponsorable,
        selected_tab: :active_sponsors,
        sponsorships: sponsorships %>

  <% unless sponsors_listing.disabled? %>
    <div class="px-4 mb-3">
      <%= render(Sponsors::Dashboard::YourSponsorsComponent.new(
        sponsors_listing: sponsors_listing,
        selected_tier_id: selected_tier_ids.first,
      )) %>
    </div>
  <% end %>

  <div class="d-flex flex-column mb-6">
    <% if sponsorships.empty? %>
      <%= render Primer::BlankslateComponent.new(
        icon: "heart",
        title: no_sponsors_title(tier_id: params[:tier_id], state: listing_state),
        spacious: true,
      ) do %>
        <% if sponsors_listing.approved? %>
          <% unless params[:tier_id].present? %>
            <p>Try sharing your GitHub Sponsors profile: <a class="Link--inTextBlock" href="<%= sponsorable_path(sponsors_listing.sponsorable_login) %>"><%= sponsorable_url(sponsors_listing.sponsorable_login) %></a></p>
          <% end %>
        <% else %>
          <p><%= no_sponsors_message(state: listing_state) %></p>
        <% end %>
      <% end %>
    <% else %>
      <table class="color-border-muted width-full">
        <thead>
          <tr>
            <th class="sponsor-cell sponsor-header-cell">#</th>
            <th class="sponsor-cell sponsor-header-cell">Name</th>
            <th class="sponsor-cell sponsor-header-cell">Amount</th>
            <th class="sponsor-cell sponsor-header-cell">Type</th>
            <th class="sponsor-cell sponsor-header-cell">Start</th>
          </tr>
        </thead>
        <tbody <%= test_selector("sponsorships-table") %>>
          <% sponsorships.each_with_index do |sponsorship, index| %>
            <%= render Sponsors::SponsorRowComponent.new(
                  sponsorship: sponsorship,
                  index: index,
                  current_page: current_page,
                  per_page: sponsorships.per_page) %>
          <% end %>
        </tbody>
      </table>
      <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
        <%= will_paginate sponsorships %>
      </div>
    <% end %>
  </div>
<% end %>
