<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<li class="d-flex flex-items-center flex-justify-between js-explore-item-container">
  <div class="flex-auto mr-2 d-flex">
    <% if collection.image_url %>
      <a href="<%= collection_path(collection) %>" rel="noopener noreferrer" target="_blank" class="avatar flex-shrink-0 rounded-2 mr-2 d-inline-block">
        <img src="<%= collection.image_url %>" width="48" height="48" class="d-inline-block" alt="<%= collection.display_name %> logo">
      </a>
    <% else %>
      <div class="mr-2 flex-shrink-0" style="width: 48px; height: 48px"></div>
    <% end %>
    <div>
      <a href="<%= collection_path(collection) %>" rel="noopener noreferrer" target="_blank" class="text-bold"><%= collection.display_name %></a>
      <% if collection.featured? %>
        <span class="tooltipped tooltipped-e d-inline-block" aria-label="Featured"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
          <%= primer_octicon(:star) %>
        </span>
      <% end %>
      <br>
      <%= collection.description %>
    </div>
  </div>

  <%= form_tag biztools_update_collection_path(collection.slug), :method => :put, :class => "js-update-explore-item-form" do %>
    <% if collection.featured? %>
      <input type="hidden" name="featured" value="0">
      <%= render Primer::ButtonComponent.new("data-disable-with": "Updating&hellip;", type: :submit, variant: :small) do %>Don’t feature<% end %>
    <% else %>
      <input type="hidden" name="featured" value="1">
      <%= render Primer::ButtonComponent.new("data-disable-with": "Updating&hellip;", type: :submit, variant: :small) do %>Feature<% end %>
    <% end %>
  <% end %>
</li>
