<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="my-3">
  <input autofocus type="search" value="<%= query %>" class="js-curated-explore-items-query form-control input-block mb-2 input-sm" aria-label="Search curated collections" placeholder="Search curated collections by name" data-url="<%= url_with(q: nil, after: nil) %>">
  <div class="text-small">
    <strong class="d-inline-block mr-3">Filter:</strong>
    <a class="d-inline-block mr-3 color-fg-muted" data-pjax href="<%= biztools_collections_path %>">
      <%= primer_octicon(:check) if featured.nil? %>
      Featured and non-featured
    </a>
    <a class="d-inline-block mr-3 color-fg-muted" data-pjax href="<%= biztools_collections_path(featured: 1) %>">
      <%= primer_octicon(:check) if featured %>
      Featured only
    </a>
    <a href="<%= biztools_collections_path(featured: 0) %>" class="color-fg-muted" data-pjax>
      <%= primer_octicon(:check) if featured == false %>
      Non-featured only
    </a>
  </div>
</div>
<h4 class="mb-2 f5 clearfix">
  <% if query.present? || !featured.nil? %>
    <a href="<%= biztools_collections_path %>" data-pjax class="text-small text-normal color-fg-muted float-right">
      Clear filters
    </a>
  <% end %>
  <%= pluralize(collections.total_entries, "matching collection") %>:
</h4>
<ul class="boxed-group-list standalone">
  <% if collections.total_entries < 1 && !collections.previous_page %>
    <li>No results</li>
  <% end %>
  <% collections.each do |collection| %>
    <%= render partial: "biztools/collections/curated_collection", locals: { collection: collection } %>
  <% end %>
</ul>
<% if collections.next_page %>
  <div class="my-2">
    <%= render Primer::ButtonComponent.new(tag: :a, href: url_with(page: collections.next_page), border_color: :default, mt: 0, py: 2, font_size: 6, test_selector: "next-page-button", "data-pjax": "") do %>
      Next page
    <% end %>
  </div>
<% end %>
