<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Explore Collections · Biztools" %>

<%= render layout: "biztools/biztools" do %>
  <% if collections_repo && !collections_repo.private? %>
    <div class="boxed-group">
      <h3>Import from <%= collections_repo.name_with_owner %></h3>

      <%= form_tag import_biztools_collections_path, method: :post, class: "boxed-group-inner clearfix" do %>
        <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>
          Import Collections
        <% end %>

        Import the latest collections from the
        <a class="Link--inTextBlock" href="<%= repository_path(collections_repo) %>"><%= collections_repo.name_with_owner %></a>
        repository. The community contributes descriptions, images, and relevant URLs for
        collections via <%= collections_repo.name_with_owner %>. Import their contributions so they
        appear on GitHub pages.
      <% end %>
    </div>
  <% end %>

  <div class="boxed-group">
    <h3>Curated Collections</h3>
    <div class="boxed-group-inner py-0">
      <div class="my-2">
        Collections that appear here will appear on <%= link_to collections_path, class: "Link--inTextBlock" %>. Collections
        that are featured appear at the top of the collections page and get additional callouts.
      </div>
      <div id="curated-collections">
        <%= render partial: "biztools/collections/curated_collections",
                   locals: { collections: collections, featured: featured, query: query } %>
      </div>
    </div>
  </div>
<% end %>
