<% page_info(title: "GitHub Sponsors accounts") %>

<%= render Sponsors::Accounts::BreadcrumbsComponent.new %>

<h1 class="sr-only">GitHub Sponsors accounts</h1>

<div data-hpc class="container-lg clearfix p-4 mb-4">
  <%= render Primer::Beta::Subhead.new(mb: 5, mx: :auto, col: [12, nil, nil, 9]) do |component| %>
    <% component.with_heading(tag: :h2) do %>Manage who you sponsor<% end %>
  <% end %>

  <%= render Primer::Box.new(
    classes: "Box",
    box_shadow: :small,
    mb: 4,
    col: [12, nil, nil, 9],
    mx: :auto,
    p: 4,
  ) do %>
    <%= render Sponsors::PaypalDeprecationNoticeComponent.new(
      user_or_org: current_user,
      include_link: true,
      mb: 3,
    ) %>

    <div class="d-flex flex-column flex-md-row flex-items-center flex-md-items-start">
      <%= image_tag "email/sponsors/mona.png", height: 45, alt: "", class: "mb-3 mb-md-0 mr-md-4" %>

      <% if sponsorships_as_sponsor_count.positive? %>
        <p class="text-center text-md-left flex-self-center flex-1 m-0 mb-3 mb-md-0">
          You've sponsored <strong><%= number_with_delimiter sponsorships_as_sponsor_count %>
          <%= "project".pluralize(sponsorships_as_sponsor_count) %></strong>.<br>
          Thanks for giving back to the community!
        </p>

        <%= render Primer::Beta::Button.new(
          tag: :a,
          href: user_path(current_user) + "?tab=sponsoring",
          test_selector: "manage-sponsorships-button"
        ).with_content("Manage sponsorships") %>
      <% else %>
        <p class="text-center text-md-left flex-self-center m-0">
          You haven't sponsored anyone yet.
          <%= render Primer::Beta::Link.new(
            href: sponsors_explore_index_path,
            test_selector: "explore-sponsors-button",
            classes: "Link--inTextBlock"
          ).with_content("Find someone to sponsor") %>.
        </p>
      <% end %>
    </div>
  <% end %>

  <%= render Sponsors::Accounts::IndexComponent.new(sponsors_accounts: sponsors_accounts) %>
</div>
