<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# `view` is an instance of Businesses::AuditLog::ResultsView %>
<%= render "businesses/audit_log/search_form", view: view %>

<div id="truncate-warning" hidden>
<%= render(Primer::Beta::Flash.new(scheme: :warning, spacious: true)) do %>
 Exported results are truncated. Size limit reached for the requested time range. Please, try a smaller time range or the <a class="Link--inTextBlock" href="https://docs.github.com/rest/reference/orgs#get-the-audit-log-for-an-organization">REST API</a> for complete results.
<% end %>
</div>

<% if view.active_search? %>
  <div class="audit-results-actions">
    <div class="audit-search-clear">
      <a class="issues-reset-query" href="<%= view.search_path %>" data-pjax>
        <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
        Clear current search query
      </a>
    </div>
  </div>
<% end %>

<div class="Box">
  <div class="Box-header <%= "color-fg-danger" unless view.valid_query? %>">
    <h3 class="Box-title">
      <%= view.search_title %>
    </h3>
  </div>
  <% if view.audit_logs? %>
    <%= render partial: "businesses/audit_log/audit_log_entry_details",
      collection: view.audit_logs, as: :entry, locals: { view: view } %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_visual_icon(icon: "search") %>

      <% c.with_heading(tag: :h2) do %>
        We couldn’t find any events matching your search.
        <% if Rails.env.development? %>
          <% c.with_description do %>
            Were you expecting results? Make sure you have Driftwood running by following
            <%= link_to "these steps", "https://github.com/github/driftwood#codespaces-development", class: "Link--inTextBlock" %>.
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if view.audit_logs? %>
  <%= render partial: "audit_log/driftwood_pagination", locals: { view: view } %>

  <div class="protip">
    <%= primer_octicon(:"light-bulb", color: :muted) %>
    <strong>ProTip!</strong>
    <%= view.tips.selected_tip %>
  </div>
<% end %>
