<%# `view` is an instance of Businesses::AuditLog::SuggestionsView %>

<ul role="listbox" class="suggester-container suggester list-style-none position-absolute suggestions js-operation-suggestions">
  <li role="option" id="operation-<%= Audit::OperationTypes::ACCESS %>" data-value="<%= Audit::OperationTypes::ACCESS %>">
    <%= Audit::OperationTypes::ACCESS %>
  </li>
  <li role="option" id="operation-<%= Audit::OperationTypes::AUTHENTICATION %>" data-value="<%= Audit::OperationTypes::AUTHENTICATION %>">
    <%= Audit::OperationTypes::AUTHENTICATION %>
  </li>
  <li role="option" id="operation-<%= Audit::OperationTypes::CREATE %>" data-value="<%= Audit::OperationTypes::CREATE %>">
    <%= Audit::OperationTypes::CREATE %>
  </li>
  <li role="option" id="operation-<%= Audit::OperationTypes::MODIFY %>" data-value="<%= Audit::OperationTypes::MODIFY %>">
    <%= Audit::OperationTypes::MODIFY %>
  </li>
  <li role="option" id="operation-<%= Audit::OperationTypes::REMOVE %>" data-value="<%= Audit::OperationTypes::REMOVE %>">
    <%= Audit::OperationTypes::REMOVE %>
  </li>
  <li role="option" id="operation-<%= Audit::OperationTypes::RESTORE %>" data-value="<%= Audit::OperationTypes::RESTORE %>">
    <%= Audit::OperationTypes::RESTORE %>
  </li>
  <li role="option" id="operation-<%= Audit::OperationTypes::TRANSFER %>" data-value="<%= Audit::OperationTypes::TRANSFER %>">
    <%= Audit::OperationTypes::TRANSFER %>
  </li>
</ul>

<ul role="listbox" class="suggester-container suggester list-style-none position-absolute suggestions js-action-suggestions">
  <% view.actions.each do |action| %>
    <li role="option" id="action-<%= action %>" data-value="<%= action %>">
      <%= action %>
    </li>
  <% end %>
</ul>

<ul role="listbox" class="suggester-container suggester list-style-none position-absolute suggestions js-country-suggestions">
  <% Braintree::Address::CountryNames.each do |country_name, alpha_2_code, alpha_3_code, _| %>
    <li role="option" id="country-<%= alpha_2_code %>" data-value="<%= alpha_2_code %>">
      <%= country_name %>
    </li>
  <% end %>
</ul>

<ul role="listbox" class="suggester-container suggester list-style-none position-absolute suggestions js-user-suggestions">
  <% view.users.each do |user| %>
    <li role="option" id="user-<%= user.display_login %>" data-value="<%= user.display_login %>">
      <%= user.display_login %>
    </li>
  <% end %>
</ul>

<ul role="listbox" class="suggester-container suggester list-style-none position-absolute suggestions js-org-suggestions">
  <% view.organizations.each do |organization| %>
    <li role="option" id="organization-<%= organization.display_login %>" data-value="<%= organization.display_login %>">
      <%= organization.display_login %>
    </li>
  <% end %>
</ul>
