<% page_info title: "Audit log", selected_link: :business_audit_log_event_settings_export_logs,
  stafftools: stafftools_enterprise_path(business)%>
<%= render layout: "businesses/layout",
  locals: {
    business: business,
    title: "Audit log",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <%= render "businesses/audit_log/tabs", business: business %>

  <% if GitHub.flipper[:audit_log_react].enabled?(current_user) %>
    <% web_path = urls.settings_audit_log_export_enterprise_path(business, format: :json) %>
    <% git_path = urls.settings_audit_log_git_event_export_enterprise_path(business) %>
    <%= render_react_partial name: "audit-log-export-logs", ssr: false, props: {
      exports: json_exports, \
      webExportUrl: web_path, \
      gitExportUrl: git_path, \
      chunksPerDownload: chunks_per_download, \
      downloadWebExportUrl: download_web_export_url, \
      downloadGitExportUrl: download_git_export_url, \
      showGitExportButton: true \
    } %>
  <% else %>
    <div class="Box">
      <div class="Box-header">
        <h3 class="Box-title">
          Recent Exports
        </h3>
      </div>

      <% if exports.blank? %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h2) do %>
            We couldn’t find any exports.
          <% end %>
        <% end %>
      <% else %>
        <% exports.each do |export| %>
          <div class="Box-row TableObject test-audit-log-export">
            <div class="TableObject-item pr-3">
              <span class="avatar-parent-child member-avatar">
                <%= avatar_for(export.actor, 20, class: "avatar") %>
              </span>
            </div>
            <div class="TableObject-item TableObject-item--primary" style="white-space: normal;">
              <div class="actor-and-action">
                <span class="member-username">
                  <%= export.actor.display_login %>
                </span>
                &ndash;
                <span class="audit-type">
                <% if export.is_a?(AuditLogWebExport) %>
                  export
                <% else %>
                  git export
                <% end %>
                </span>
              </div>
              <div class="test-requested-filters-status">
                Requested: <%= time_ago_in_words_js(export.created_at) %>
                <span class="vertical-separator"></span>
                <% if export.is_a?(AuditLogWebExport) %>
                  <% unless export.phrase&.strip.blank? %>
                    Query: <%= export.phrase %>
                    <span class="vertical-separator"></span>
                  <% end %>
                <% else %>
                  From <span class="context"><%= export.start %></span> to <span class="context"><%= export.end %> </span>
                  <span class="vertical-separator"></span>
                <% end %>
                <% if export.completed %>
                  <% if export.created_at < 1.week.ago %>
                    Expired
                  <% else %>
                    Complete
                    <%= render partial: "audit_log/export_download", locals: { export: export, chunks_per_download: chunks_per_download } %>
                  <% end %>
                <% else %>
                  <% if export.expired %>
                    Expired
                  <% else %>
                    In Progress
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
