<%# `view` is an instance of Businesses::AuditLog::IndexPageView %>

<% if view.show_feedback_survey %>
  <%= render AuditLog::FeedbackLinkComponent.new(
    survey_id: "audit-log-business-feedback-survey",
    mb: 3,
  ) do |component| %>
    <% component.with_heading do %>
      Can you give us some feedback?
    <% end %>
    <% component.with_description do %>
      Tell us how you're using the audit log. <%= render(Primer::Beta::Link.new(href: AuditLog::FeedbackLinkComponent::FEEDBACK_SCHEDULING_URL, classes: "Link--inTextBlock")) { "Book some time" } %> with us to share how you're using the audit log and share any feedback you may have.
    <% end %>
  <% end %>
<% end %>

<% page_info title: "Audit log", selected_link: :business_audit_log_settings,
  stafftools: stafftools_enterprise_path(view.business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: view.business,
    title: "Audit log",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <%= render "businesses/audit_log/tabs", business: view.business %>
  <div id="audit-log-search" class="audit-log-search" data-hpc>
    <%= render "audit_log/results_fragment", view: view %>
  </div>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "graphs" %>
<% end %>
