<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<%# view is an instance of Repositories::SecurityOverviewView %>

<%
  page_info(
    title: "Security Overview · #{view.repository.name_with_display_owner}",
    container_xl: true,
    selected_link: :overview,
  )
%>
<%
  show_non_collaborator_view = !AdvisoryDB.collaborator?(repository: current_repository, user: current_user)
%>

<%= render layout: "layouts/repository/security", locals: { selected_tab: :overview, hide_sidebar: show_non_collaborator_view } do %>
  <% if show_non_collaborator_view %>
    <%= render(Repos::Security::OverviewForNonCollaboratorsComponent.new(repository: current_repository)) %>
  <% else %>
    <%= render Primer::Beta::Subhead.new(display: [:none, nil, :block], hide_border: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>Security overview<% end %>
    <% end %>
    <include-fragment src="<%= repository_code_scanning_tool_status_banner_path %>">
    </include-fragment>
    <div class="my-md-3">
      <ul class="Box Box--responsive" data-pjax>
        <li class="Box-row d-flex">
          <div class="d-flex flex-column flex-md-row flex-md-items-center flex-auto">
            <div class="flex-auto mr-2">
              <div>
                <%= render Primer::Box.new do %>
                  <span class="text-bold">Security policy &#8226;</span>
                  <% text, color = view.indicators_for_display(view.enablement_state(view.security_policy_exists?)) %>
                  <%= render Primer::Beta::Text.new(tag: :span, font_weight: :bold, color: color).with_content(text) %>
                <% end %>
                <span class="color-fg-muted">
                  <% if view.security_policy_exists? %>
                    View how to securely report security vulnerabilities for this repository
                  <% elsif view.security_policy_editable? %>
                    Define how users should report security vulnerabilities for this repository
                  <% else %>
                    Suggest how users should report security vulnerabilities for this repository
                  <% end %>
                </span>
              </div>
            </div>
            <% if view.security_policy_exists? %>
              <a class="flex-shrink-0" href="<%= view.security_policy_path %>">View security policy</a>
            <% else %>
              <a class="btn btn-sm flex-grow-0 text-center mt-2 mt-md-0" href="<%= view.security_policy_path %>">
                <% if view.security_policy_editable? %>
                  Set up a security policy
                <% else %>
                  Suggest a security policy
                <% end %>
              </a>
          <% end %>
          </div>
        </li>

        <% if view.security_advisories_show? %>
          <li class="Box-row d-flex" <%= test_selector("security-advisories-overview") %>>
            <div class="d-flex flex-column flex-md-row flex-md-items-center flex-auto">
              <div class="flex-auto mr-2">
                <div>
                  <%= render Primer::Box.new do %>
                    <span class="text-bold">Security advisories &#8226;</span>
                    <% text, color = view.indicators_for_display(view.enablement_state(view.security_advisories_show?)) %>
                    <%= render Primer::Beta::Text.new(tag: :span, font_weight: :bold, color: color).with_content(text) %>
                  <% end %>
                  <span class="color-fg-muted">
                    View<%= " or disclose" if view.security_advisories_creatable? %> security advisories for this repository
                  </span>
                </div>
              </div>

              <a class="flex-shrink-0" href="<%= view.security_advisories_view_path %>">View security advisories</a>
            </div>
          </li>
        <% end %>

        <% if view.private_vulnerability_reporting_show? %>
          <li class="Box-row d-flex" <%= test_selector("private-vulnerability-reporting-overview") %>>
            <div class="d-flex flex-column flex-md-row flex-md-items-center flex-auto">
              <div class="flex-auto mr-2">
                <%= render Primer::Box.new do %>
                  <span class="text-bold">Private vulnerability reporting &#8226;</span>
                  <% text, color = view.indicators_for_display(view.enablement_state(current_repository.private_vulnerability_reporting_enabled?)) %>
                  <%= render Primer::Beta::Text.new(tag: :span, font_weight: :bold, color: color, test_selector: "private-vulnerability-reporting-enablement-indicator").with_content(text) %>
                <% end %>
                <span class="color-fg-muted">
                  Allow users to privately report potential security vulnerabilities
                </span>
              </div>

              <div class="d-flex d-md-block flex-shrink-0">
                <% if view.private_vulnerability_reporting_configurable? %>
                  <% if current_repository.private_vulnerability_reporting_enabled? %>
                    <%= render(Primer::Beta::Link.new(href: view.security_advisories_view_path(state: "Triage"), test_selector: "private-vulnerability-reporting-linked")) { "See reported vulnerabilities" } %>
                  <% else %>
                    <%= render(Primer::Beta::Button.new(
                      size: :small,
                      tag: :a,
                      href: security_analysis_settings_path(current_repository),
                      test_selector: "private-vulnerability-reporting-enable")
                    ) { "Enable vulnerability reporting" } %>
                  <% end %>
                <% else %>
                  <%= render(Primer::Beta::Button.new(
                      size: :small,
                      tag: :a,
                      href: view.security_advisories_view_path,
                      test_selector: "private-vulnerability-alerting-report")
                    ) { "Report a vulnerability" } %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>

        <% if view.vulnerability_alerts_show? %>
          <li class="Box-row d-flex" <%= test_selector("vulnerability-alerts-overview") %>>
            <div class="d-flex flex-column flex-md-row flex-md-items-center flex-auto">
              <div class="flex-auto mr-2">
                <%= render Primer::Box.new do %>
                  <span class="text-bold">Dependabot alerts &#8226;</span>
                  <% text, color = view.indicators_for_display(view.enablement_state(view.vulnerability_alerts_configured?)) %>
                  <%= render Primer::Beta::Text.new(tag: :span, font_weight: :bold, color: color, test_selector: "vulnerability-alerts-enablement-indicator").with_content(text) %>
                <% end %>
                <span class="color-fg-muted">
                  Get notified when one of your dependencies has a vulnerability
                </span>
              </div>

              <div class="d-flex d-md-block flex-shrink-0">
                <% if view.vulnerability_alerts_configured? %>
                  <a href="<%= view.vulnerability_alerts_view_path %>" <%= test_selector("vulnerability-alerts-linked") %>>View Dependabot alerts</a>
                <% elsif view.vulnerability_alerts_configurable? %>
                  <% if view.repository.archived? %>
                    <span class="btn btn-sm flex-auto text-center mt-2 mt-md-0 disabled"
                      title="Unarchive this repository to enable Dependabot alerts on it"
                      <%= test_selector("vulnerability-alerts-enable-disabled-because-archived") %>><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
                      Enable Dependabot alerts
                    </span>
                  <% else %>
                    <a class="btn btn-sm flex-auto text-center mt-2 mt-md-0" href="<%= security_analysis_settings_path(current_repository) %>" <%= test_selector("vulnerability-alerts-enable") %>>Enable Dependabot alerts</a>
                  <% end %>
                <% else %>
                  <span class="btn btn-sm disabled flex-auto text-center mt-2 mt-md-0" title="You don't have permission to enable this feature" <%= test_selector("vulnerability-alerts-enable-disabled") %>>Enable Dependabot alerts</span><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>

        <% if view.code_scanning_show? %>
          <%#
            By default, the non-GHAS subtitle and the pending status indicator are shown,
            but certain cases in the conditional block below change this.
          %>

          <% code_scanning_subtitle = capture do %>
            <span <%= test_selector("code-scanning-overview-regular-subtitle") %>>
              Automatically detect common vulnerability and coding errors
            </span>
          <% end %>

          <% code_scanning_ghas_subtitle = capture do %>
            <span <%= test_selector("code-scanning-overview-ghas-subtitle") %>>
              Code scanning for private repositories is part of GitHub Advanced Security
            </span>
          <% end %>

          <% code_scanning_ghas_enterprise_subtitle = capture do %>
            <span <%= test_selector("code-scanning-overview-ghas-enterprise-subtitle") %>>
              Code scanning is part of GitHub Advanced Security
            </span>
          <% end %>

          <% code_scanning_orgs_only_subtitle = capture do %>
            <span <%= test_selector("code-scanning-overview-org-only-subtitle") %>>
              Advanced Security is only available for Organizations
            </span>
          <% end %>

          <% code_scanning_enablement_state = :disabled %>

          <% if view.repository.archived? -%>
            <% code_scanning_action = capture do %>
              <span class="btn btn-sm disabled flex-auto text-center mt-2 mt-md-0" title="Unarchive this repository to enable code scanning on it"
                <%= test_selector("code-scanning-overview-set-up-disabled-archived") %>><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
                Set up code scanning
              </span>
            <% end %>

            <% code_scanning_enablement_state = :needs_setup %>

          <% elsif view.ghas_required_and_purchased_but_not_enabled? %>
            <% code_scanning_action = capture do %>
              <a class="flex-auto text-center mt-2 mt-md-0" href="<%= security_analysis_settings_path(current_repository) %>"
                title="Enable GitHub Advanced Security for this repository to make code scanning available for it"
                <%= test_selector("code-scanning-overview-ghas-not-enabled") %>><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
                Enable in settings
              </a>
            <% end %>

            <% code_scanning_enablement_state = :disabled %>
            <% code_scanning_subtitle =  GitHub.enterprise? ? code_scanning_ghas_enterprise_subtitle : code_scanning_ghas_subtitle %>

          <% elsif !GitHub.enterprise? && view.code_scanning_ghas_required_but_not_purchased? %>
            <% code_scanning_action = capture do %>
              <a href="https://resources.github.com/code-scanning/" <%= test_selector("code-scanning-overview-ghas-not-purchased") %>>
                Contact sales
              </a>
            <% end %>

            <% code_scanning_enablement_state = :disabled %>
            <% code_scanning_subtitle = code_scanning_ghas_subtitle %>

          <% elsif view.private_user_owned_cloud_repo? || view.user_owned_ghes_repo? %>
            <% code_scanning_action = capture do %>
              <a href="<%= view.about_code_scanning_docs_url %>" <%= test_selector("code-scanning-overview-only-for-organizations") %>>
                Find out more
              </a>
            <% end %>

            <% code_scanning_enablement_state = :disabled %>
            <% code_scanning_subtitle = code_scanning_orgs_only_subtitle %>

          <% elsif view.code_scanning_configured? %>
            <% code_scanning_action = capture do %>
              <a href="<%= view.code_scanning_view_path %>" <%= test_selector("code-scanning-overview-view-alerts") %>>
                View alerts
              </a>
            <% end %>

            <% code_scanning_enablement_state = :enabled %>

          <% elsif view.code_scanning_configurable? %>
            <% code_scanning_action = capture do %>
              <a class="btn btn-sm flex-auto text-center mt-2 mt-md-0" href="<%= view.code_scanning_configure_path %>"
                <%= test_selector("code-scanning-overview-set-up") %>>
                Set up code scanning
              </a>
            <% end %>

            <% code_scanning_enablement_state = :needs_setup %>

          <% else %>
            <% code_scanning_action = capture do %>
              <span class="btn btn-sm disabled flex-auto text-center mt-2 mt-md-0" title="You don't have permission to enable code scanning"
                <%= test_selector("code-scanning-overview-set-up-disabled") %>><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
                Set up code scanning
              </span>
            <% end %>

            <% code_scanning_enablement_state = :needs_setup %>

          <% end %>

          <li class="Box-row d-flex" <%= test_selector("code-scanning-overview-item") %>>
            <div class="d-flex flex-column flex-md-row flex-md-items-center flex-auto">
              <div class="flex-auto mr-2">
                <%= render Primer::Box.new do %>
                  <span class="text-bold">Code scanning alerts &#8226;</span>
                  <% text, color = view.indicators_for_display(code_scanning_enablement_state) %>
                  <%= render Primer::Beta::Text.new(tag: :span, font_weight: :bold, color: color, test_selector: "code-scanning-enablement-indicator").with_content(text) %>
                <% end %>
                <span class="color-fg-muted">
                  <%= code_scanning_subtitle %>
                </span>
              </div>
              <div class="d-flex d-md-block flex-shrink-0">
                <%= code_scanning_action %>
              </div>
            </div>
          </li>
        <% end %>

        <% if view.token_scanning_show? %>
          <li class="Box-row d-flex" <%= test_selector("secret-scanning-overview") %>>
            <div class="d-flex flex-column flex-md-row flex-md-items-center flex-auto">
              <div class="flex-auto mr-2">
                <%= render Primer::Box.new do %>
                  <span class="text-bold">Secret scanning alerts &#8226;</span>
                  <% text, color = view.indicators_for_display(view.enablement_state(view.token_scanning_configured?)) %>
                  <%= render Primer::Beta::Text.new(tag: :span, font_weight: :bold, color: color, test_selector: "secret-scanning-enablement-indicator").with_content(text) %>
                <% end %>
                <span class="color-fg-muted">
                  Get notified when a secret is pushed to this repository
                </span>
              </div>

              <div class="d-flex d-md-block flex-shrink-0">
                <% if view.token_scanning_configured? %>
                  <a href="<%= view.token_scanning_view_path %>" <%= test_selector("secret-scanning-overview-view-secrets") %>>View detected secrets</a>
                <% elsif view.token_scanning_configurable? %>
                  <a class="flex-auto text-center mt-2 mt-md-0" href="<%= security_analysis_settings_path(current_repository) %>" <%= test_selector("secret-scanning-overview-enable") %>>Enable in settings</a>
                <% else %>
                  <span class="flex-auto text-center text-small color-fg-muted text-italic" <%= test_selector("secret-scanning-overview-not-admin") %>>Administrators can enable this feature in this repository's settings</span>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <% if view.show_security_overview_link? %>
      <div class="text-small color-fg-muted mx-md-2 <% if responsive? %>mt-md-2 mb-2 mt-3<% else %>my-2<% end %>">
        <%= render(Primer::Beta::Octicon.new(icon: "info", mr: 1)) %>
        Did you know? You can see a <a href="<%= security_center_navigation_tab_path(org: current_repository.organization) %>" class="Link--inTextBlock">security overview</a> for all repositories in the organization.
      </div>
    <% end %>
  <% end %>
<% end %>
