<span <%= test_selector "ip-allowlist-check-results" %>>
  <% if ip.present? %>
    <% if permitting_entries.any? %>
      <%= render Primer::Beta::Octicon.new(icon: "check-circle", color: :success, mr: 1) %>
      <strong><%= ip %></strong> is permitted by the following IP allow list entries:
      <strong><%= renderable_entries.join(", ") %></strong>
    <% else %>
      <%= render Primer::Beta::Octicon.new(icon: "x-circle", color: :danger, mr: 1) %>
      <strong><%= ip %></strong> is not permitted by the IP allow list.
    <% end %>
  <% end %>
</span>
