<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if view.delete_repo_access? %>
<div class="px-0 border-bottom-0 oauth-delete-repo-permissions oauth-permissions-details js-details-container Details <%= !view.delete_repo_access? ? 'd-none' : '' %>">

  <%= render Primer::ButtonComponent.new(scheme: :link, pr: 0, classes: "oauth-details-toggle js-details-target", "aria-label": "More information about this request", "aria-expanded": "false") do %>
    <%= primer_octicon(:"chevron-down", size: :medium) %>
    <%= primer_octicon(:"chevron-up", size: :medium) %>
  <% end %>

  <%= primer_octicon(:repo, :height => 32) %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Delete repositories</strong>
    <small class="access-details">
      <span>Ability to delete any adminable repository</span>
    </small>
  </div>
  <div class="content">
    <div class="permission-help pt-2">
      <p>This application will be able to delete any repository to which you have admin rights.</p>

      <%= render :partial => "oauth_accesses/learn_more_link", :locals => { :view => view } %>
    </div>
  </div> <!-- content -->
</div> <!-- details-container -->
<% end %>
