<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if view.devtools_access? %>
<div class="px-0 border-bottom-0 oauth-granular-permissions oauth-permissions-details js-details-container Details">

  <%= render Primer::ButtonComponent.new("aria-expanded": "false", scheme: :link, pr: 0, classes: "oauth-details-toggle js-details-target", "aria-label": "More information about this request") do %>
    <%= primer_octicon(:"chevron-down", size: :medium) %>
    <%= primer_octicon(:"chevron-up", size: :medium) %>
  <% end %>

  <%= primer_octicon(:tools, :height => 32) %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Developer Tools</strong>
    <small class="access-details">
      Access developer tools.
    </small>
  </div>
  <div class="content">
    <p>This application will be able to access GitHub developer tools.</p>
    <div class="permission-help pt-2">
      <%= render :partial => "oauth_accesses/learn_more_link", :locals => { :view => view } %>
    </div>
  </div> <!-- content -->
</div> <!-- details-container -->
<% end %>
