<%# view is Oauth::AuthorizeView %>
<% family_key, details_id = "oauth_authorization.#{family}", "scope-#{family}" %>
<% access = view.access_value(family) %>
<div class="px-0 border-bottom-0 m-0 py-3 position-relative">
  <details class="Details-element details-reset" id="<%= details_id %>">
    <summary>
      <%= primer_octicon(t("#{family_key}.icon"), size: :medium, float: :left, color: :muted, text_align: :center) %>
      <div class="lh-condensed" style="margin-left: 45px">
        <strong class="d-block"><%= t("#{family_key}.title") %></strong>
        <small class="position-relative color-fg-muted">
          <%= t("#{family_key}.#{access}.slug") %>
        </small>
        <span class="Details-content--closed position-absolute top-0 right-0 color-fg-muted text-center" style="padding-top: 20px; padding-left: 15px;">
          <%= primer_octicon(:"chevron-down", size: :medium) %>
        </span>
        <span class="Details-content--open position-absolute top-0 right-0 color-fg-muted text-center" style="padding-top: 20px; padding-left: 15px;">
          <%= primer_octicon(:"chevron-up", size: :medium) %>
        </span>
      </div>
    </summary>

    <div style="margin-left: 45px">
      <p><%= t("#{family_key}.#{access}.details") %></p>
      <div class="f6">
        <a href="<%= "#{GitHub.help_url}#{t("#{family_key}.help")}" %>" <% if show_contact_microsoft_link?(view.application) && GitHub.flipper[:open_footer_links_in_new_tab].enabled?  %> target="_blank" rel="noopener noreferrer"<% end %> ><%= primer_octicon(:question, float: :left, color: :muted, text_align: :center, mr: 1) %> Learn more</a>
      </div>
    </div>
  </details>
</div> <!-- details-container -->
