<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% unless view.no_gpg_key_access? %>
<div class="px-0 border-bottom-0 oauth-granular-permissions oauth-permissions-details js-details-container Details <%= view.gpg_key_access_value %>">

  <%= render Primer::ButtonComponent.new("aria-expanded": "false", scheme: :link, pr: 0, classes: "oauth-details-toggle js-details-target", "aria-label": "More information about this request") do %>
    <%= primer_octicon(:"chevron-down", size: :medium) %>
    <%= primer_octicon(:"chevron-up", size: :medium) %>
  <% end %>

  <%= primer_octicon(:key, :height => 32) %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">GPG Keys</strong>
    <small class="access-details">
      <span class="no-access">No access</span>
      <span class="read-access">Read access to your public GPG keys.</span>
      <span class="write-access">Write access to your public GPG keys.</span>
      <span class="full-access">Full control of your public GPG keys.</span>
    </small>
  </div>
  <div class="content">
    <p class="read-access">This application will be able to read your public GPG keys.</p>
    <p class="write-access">This application will be able to add public GPG keys to your account.</p>
    <p class="full-access">This application will be able to create, remove, and view public user GPG keys.</p>
    <div class="permission-help pt-2">
      <%= render :partial => "oauth_accesses/learn_more_link", :locals => { :view => view } %>
    </div>
  </div> <!-- content -->
</div> <!-- details-container -->
<% end %>
