<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% unless view.no_org_hook_access? %>
<div class="px-0 border-bottom-0 oauth-granular-permissions oauth-permissions-details js-details-container Details <%= view.org_hook_access_value %> <%= view.no_org_hook_access? ? 'd-none' : '' %>">

  <%= render Primer::ButtonComponent.new("aria-expanded": "false", scheme: :link, pr: 0, classes: "oauth-details-toggle js-details-target", "aria-label": "More information about this request") do %>
    <%= primer_octicon(:"chevron-down", size: :medium) %>
    <%= primer_octicon(:"chevron-up", size: :medium) %>
  <% end %>

  <%= primer_octicon(:plug, :height => 32) %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Organization webhooks</strong>
    <small class="access-details">
      <span class="no-access"><em class="highlight">No</em> access</span>
      <span class="read-access"><em class="highlight">Read-only</em> access</span>
      <span class="write-access"><em class="highlight">Read and write</em> access</span>
      <span class="full-access"><em class="highlight">Admin</em> access</span>
    </small>
  </div>
  <div class="content">
    <div class="permission-help pt-2">
      <p>
        <% if view.org_hook_admin_access? %>
          This application will have full access to organization webhooks
        <% else %>
          This application will have no access to organization webhooks
        <% end %>
        (no direct code access).
      </p>
      <%= render :partial => "oauth_accesses/learn_more_link", :locals => { :view => view } %>
    </div>
  </div> <!-- /.content -->
</div> <!-- /.details-container -->
<% end %>
