<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if view.packages_read_access? || view.packages_write_access? || view.packages_delete_access? %>
<div class="px-0 border-bottom-0 oauth-granular-permissions oauth-permissions-details js-details-container Details <%= view.packages_access_value %>">

  <%= render Primer::ButtonComponent.new("aria-expanded": "false", scheme: :link, pr: 0, classes: "oauth-details-toggle js-details-target", "aria-label": "More information about this request") do %>
    <%= primer_octicon(:"chevron-down", size: :medium) %>
    <%= primer_octicon(:"chevron-up", size: :medium) %>
  <% end %>

  <%= primer_octicon(:package, :height => 32) %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Packages</strong>
    <small class="access-details">
      <span class="no-access">No access.</span>
      <span class="read-access">Read packages from GitHub Packages.</span>
      <span class="write-access">Write packages to GitHub Packages.</span>
      <span>Delete private packages from GitHub Packages.</span>
      <span class="full-access">Read, write, and delete packages in GitHub Packages.</span>
    </small>
  </div>
  <div class="content">
    <div class="permission-help pt-2">
      <p>This application will be able to access packages in GitHub Packages.</p>
      <%= render :partial => "oauth_accesses/learn_more_link", :locals => { :view => view } %>
    </div>
  </div> <!-- content -->
</div> <!-- details-container -->
<% end %>
