<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% unless view.no_repo_access? %>
<div class="px-0 border-bottom-0 oauth-repo-permissions oauth-permissions-details js-details-container Details <%= view.repo_access_value %><%= view.no_repo_access?? ' d-none' : '' %>">

  <%= render Primer::ButtonComponent.new(scheme: :link, pr: 0, classes: "oauth-details-toggle js-details-target", "aria-label": "More information about this request", "aria-expanded": "false") do %>
    <%= primer_octicon(:"chevron-down", size: :medium) %>
    <%= primer_octicon(:"chevron-up", size: :medium) %>
  <% end %>
  <%= primer_octicon(:repo, :height => 32) %>
  <div class="permission-summary lh-condensed">
    <strong class="permission-title">Repositories</strong>
    <small class="access-details">
      <span class="full-access">Public and <em class="highlight">private</em></span>
      <span class="default-access">Public read-only</span>
      <span class="public-access">Public repositories</span>
      <span class="limited-repo-invite-access">and repository <em class="highlight">invites</em></span>
    </small>
  </div>

  <div class="content">
    <div class="permission-help pt-2">
      <% if view.full_repo_access? %>
        <p>This application will be able to <strong>read and write all public and private repository data</strong>. This includes the following:</p>
        <ul>
          <li>Code</li>
          <li>Issues</li>
          <li>Pull requests</li>
          <li>Wikis</li>
          <li>Settings</li>
          <li>Webhooks and services</li>
          <li>Deploy keys</li>
          <li>Collaboration invites</li>
        </ul>
        <p><strong>Note:</strong> In addition to repository related resources, the repo scope also grants access to <strong>manage organization attributes and organization-owned resources including projects, invitations, team memberships and webhooks</strong>. This scope also grants the ability to manage projects owned by users.</p>
      <% elsif view.public_repo_access? %>
        <p>This application will be able to <strong>read and write all public repository data</strong>. This includes the following:</p>
        <ul>
          <li>Code</li>
          <li>Issues</li>
          <li>Pull requests</li>
          <li>Wikis</li>
          <li>Settings</li>
          <li>Webhooks and services</li>
          <li>Deploy keys</li>
        </ul>
      <% else %>
        <p>This application will be able to <strong>read public repository data</strong>. This includes the following:</p>
        <ul>
          <li>Code</li>
          <li>Issues</li>
          <li>Pull requests</li>
          <li>Wikis</li>
        </ul>
      <% end %>
      <% if view.repo_invite_access? %>
        <p>This application will be able to <strong>access user invites to collaborate on a repository</strong>. This includes the following:</p>
        <ul>
          <li>Accept user invites to collaborate on a repository</li>
          <li>Reject user invites to collaborate on a repository</li>
        </ul>
      <% end %>
      <%= render :partial => "oauth_accesses/learn_more_link", :locals => { :view => view } %>
    </div>
  </div> <!-- content -->
</div> <!-- details-container -->
<% end %>
