<% page_info title: "#{organization.login} - External identities",
             selected_link: :stafftools_user_security %>

<div class="site-admin-unboxed">
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Unlinked SAML external identities
    <% end %>
    <% component.with_actions do %>
      <% if unlinked_external_identities_search_by %>
        <%= render Primer::Alpha::ActionMenu.new(
          select_variant: :single,
          anchor_align: :end
        ) do |menu| %>
          <% menu.with_show_button do |button| %>
            <% button.with_trailing_action_icon(icon: :"triangle-down") %>
            Search: <%= unlinked_external_identities_search_by.capitalize %>
          <% end %>
          <% unlinked_external_identities_search_labels.each do |label| %>
            <% menu.with_item(
              href: url_for(search: label, query: params[:query]),
              label: label.capitalize,
              active: unlinked_external_identities_search_by == label
            ) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render Stafftools::SimpleSearchFormComponent.new(
    query_label: "Search unlinked external identities",
    form_url: stafftools_user_unlinked_external_identities_path(organization),
    form_group_test_selector: "external-identity-search",
    extra_input_fields: [
      {
        name: "search",
        id: "search",
        value: params[:search],
        hidden: true,
      },
    ]
  ) %>

  <% if unlinked_external_identities.any? %>
    <table class="site-admin-table">
      <thead>
        <th>ID</th>
        <th>Guid (SCIM User ID)</th>
        <th>Name ID</th>
        <th>User Name</th>
      </thead>
      <tbody>
        <% unlinked_external_identities.each do |identity| %>
          <tr>
            <td>
              <%= link_to identity.id, stafftools_user_unlinked_external_identity_path(organization, identity.id) %>
            </td>
            <td>
              <%= identity.guid %>
            </td>
            <td>
              <%= identity.name_id %>
            </td>
            <td>
              <%= identity.user_name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="paginate-container">
      <%= will_paginate unlinked_external_identities %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">No unlinked SAML external identities</p>
  <% end %>
</div>
