<%# erblint:counter FlashMigrationCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% show_login = GitHub.auth.external_user?(current_user) %>

<div data-target="sudo-credential-options.passwordContainer" <%="hidden" unless defined?(visible) && visible %>>
  <%= form_tag sudo_action, method: sudo_method, class: form_classes do -%>
    <%= hash_to_hidden_fields redirect_params if render_redirect_params %>
    <input type="hidden" name="credential_type" value="password">
    <%= render(Primer::Beta::BorderBox.new(mt: 3, bg: :subtle)) do |component| %>
      <%= component.with_body(mt: 0) do %>
        <div class="flash flash-error js-sudo-error flash-full" hidden></div>

        <% if show_login %>
          <label for="sudo_login_field">
            Username
          </label>
          <%= text_field_tag "sudo_login", "", class: "input-block", id: "sudo_login_field", autocapitalize: :off, autofocus: "autofocus", data: { target: "sudo-credential-options.loginField" } %>
        <% end %>
        <label for="sudo_password">Password</label>
        <%= password_field_tag "sudo_password", GitHub.default_password, class: "input-block js-sudo-password mb-1", id: "sudo_password", data: { target: "sudo-credential-options.passwordField" }, autocomplete: "current-password", autofocus: show_login ? "" : "autofocus" %>

        <% unless GitHub.auth.external_user?(current_user) %>
          <%= link_to("Forgot password?", password_reset_path, class: "label-link") %>
        <% end -%>
        <%= render Primer::ButtonComponent.new(block: true, type: :submit, scheme: :primary, mt: 5) do %>Confirm<% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
