<div data-target="sudo-credential-options.webauthnContainer" <%="hidden" unless defined?(visible) && visible %>>
  <%= form_tag sudo_action, method: sudo_method, class: form_classes do -%>
    <%= hash_to_hidden_fields redirect_params if render_redirect_params %>
    <input type="hidden" name="credential_type" value="webauthn">

    <%= render(Primer::Beta::BorderBox.new(mt: 3, bg: :subtle)) do |component| %>
      <% component.with_header(display: :flex, justify_content: :center, align_items: :center, direction: :column, border_bottom: 0, pb: 0) do %>
        <%= primer_octicon(:"shield-lock", :height => 32, color: :muted) %>
        <h2 class="mt-2 f3 text-normal text-center"><%= current_user.available_u2f_registrations_description(current_device_id, capitalize_first_word: true) %></h2>
      <% end %>
      <%= component.with_body(mt: 0) do %>
        <div class="mb-3">When you are ready, authenticate using the button below.</div>
        <%= render(partial: "/sessions/webauthn/get", locals: {
          webauthn_user: current_user,
          webauthn_reason: :two_factor_sudo,
          is_primary_auth_option_in_prompt: true,
        }) %>
        <input type="hidden" name="webauthn_response" class="js-webauthn-response">
      <% end %>
    <% end %>
  <% end %>
</div>
