<%# erblint:counter DeprecatedComponentsCounter 5 %>
<%
webauthn_form_classes = class_names(
  "js-webauthn-form",
  "js-sudo-webauthn-form d-flex flex-column" => defined?(modal) && modal,
)
github_mobile_form_classes = class_names(
  "js-sudo-github-mobile-form d-flex flex-column" => defined?(modal) && modal,
)
totp_form_classes = class_names(
  "js-sudo-totp-form d-flex flex-column" => defined?(modal) && modal,
)
password_form_classes = class_names(
  "js-sudo-password-form d-flex flex-column" => defined?(modal) && modal,
)
render_redirect_params = defined?(modal) && !modal

option_totp_app_available = sudo_totp_app_available?
option_webauthn_available = sudo_webauthn_available?
option_github_mobile_available = sudo_github_mobile_available?
initial_credential_option = determine_initial_credential_option(active_credential_option)
only_password_option_available = initial_credential_option == :password && !option_webauthn_available && !option_github_mobile_available && !option_totp_app_available

gh_mobile_link_text = "Use GitHub Mobile"
app_link_text = "Use your authenticator app"
sms_link_text = "Send a code via SMS"
resend_sms_link_text = "Resend SMS"
%>

<sudo-credential-options
  initial-state="<%=initial_credential_option%>"
  webauthn-available="<%= option_webauthn_available%>"
  github-mobile-available="<%= option_github_mobile_available%>"
  github-mobile-prompt-url="<%= sudo_prompt_mobile_path%>"
  github-mobile-generic-error-message="There was an error requesting GitHub Mobile authentication."
  totp-app-available="<%= option_totp_app_available%>"
  sms-generic-error-message="An unexpected error occurred while sending an SMS to the phone number on your account."
  generic-error-message="An unexpected error occurred."
>

  <%= csrf_hidden_input_for sudo_prompt_mobile_path, method: :post, id: "sudo-credential-options-github-mobile-csrf" %>

  <%= render Primer::Beta::Flash.new(scheme: :danger, "data-target": "sudo-credential-options.flashErrorMessageContainer", mt: 2, hidden: true) do %>
    <span class="js-sudo-error" data-target="sudo-credential-options.flashErrorMessageText"></span>
  <% end %>

  <% if option_webauthn_available %>
    <%= render(partial: "/sudo/option_webauthn", locals: {
      visible: initial_credential_option == :webauthn,
      form_classes: webauthn_form_classes,
      render_redirect_params: render_redirect_params
    }) %>
  <% end %>

  <% if option_github_mobile_available %>
    <%= render(partial: "/sudo/option_gh_mobile", locals: {
      visible: initial_credential_option == :github_mobile,
      form_classes: github_mobile_form_classes,
      render_redirect_params: render_redirect_params
    }) %>
  <% end %>

  <% if option_totp_app_available %>
    <%= render(partial: "/sudo/option_totp_app", locals: {
      visible: initial_credential_option == :app,
      form_classes: totp_form_classes,
      render_redirect_params: render_redirect_params
    }) %>
  <% end %>

  <%= render(partial: "/sudo/option_password", locals: {
    visible: initial_credential_option == :password,
    form_classes: password_form_classes,
    render_redirect_params: render_redirect_params
  }) %>

  <% unless only_password_option_available %>
    <noscript>
      <%= render(partial: "/sudo/option_password", locals: {
        visible: true,
        form_classes: password_form_classes,
        render_redirect_params: render_redirect_params
      }) %>
    </noscript>
  <% end %>

  <% unless only_password_option_available %>
    <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
      <%= component.with_body(p: 3) do %>
        <h2 id="problems-options" class="h5 mb-2">Having problems?</h2>
        <ul class="ml-3" aria-labelledby="problems-options">
          <% if option_webauthn_available %>
            <li data-target="sudo-credential-options.webauthnNav" <%= "hidden" if initial_credential_option == :webauthn %>>
              <%= render Primer::ButtonComponent.new(scheme: :link, "data-action": "click:sudo-credential-options#showWebauthn") do %>Use your <%= current_user.available_u2f_registrations_description(current_device_id, capitalize_first_word: false) %><% end %>
            </li>
          <% end %>

          <% if option_github_mobile_available %>
            <li data-target="sudo-credential-options.githubMobileNav" <%= "hidden" if initial_credential_option == :github_mobile %>>
              <%= render Primer::ButtonComponent.new(scheme: :link, "data-action": "click:sudo-credential-options#showGitHubMobile") do %><%= gh_mobile_link_text %><% end %>
            </li>
          <% end %>

          <% if option_totp_app_available %>
            <li data-target="sudo-credential-options.totpAppNav" <%= "hidden" if initial_credential_option == :app %>>
              <%= render Primer::ButtonComponent.new(scheme: :link, "data-action": "click:sudo-credential-options#showTotpApp") do %><%= app_link_text %><% end %>
            </li>
          <% end %>

          <li data-target="sudo-credential-options.passwordNav" <%= "hidden" if initial_credential_option == :password %>>
            <%= render Primer::ButtonComponent.new(scheme: :link, "data-action": "click:sudo-credential-options#showPassword") do %>Use your password<% end %>
          </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</sudo-credential-options>
