<% page_info(title: "Confirm access") %>

<div id="sudo" class="auth-form px-3">
  <div class="auth-form-header p-0">
    <h1>Confirm access</h1>
  </div>

  <%= render "shared/flash" %>
  <%= render "/settings/user/signed_in_user_hint" %>
  <%= render "/sudo/sudo_credential_options", modal: false, active_credential_option: active_credential_option %>

  <p class="note px-3 my-3 text-center">
    <strong>Tip:</strong>
    <% if request.path =~ /^\/stafftools/ %>
      You are now entering site admin mode.<br>
      Please tread carefully.
    <% else %>
      You are entering
      <a class="Link--inTextBlock" href='<%= GitHub.help_url %>/articles/sudo-mode'>sudo mode</a>.
      After you've performed a sudo-protected action, you'll only be asked to re-authenticate again after a few hours of inactivity.
    <% end %>
  </p>

  <% if GitHub.default_password %>
    <p class="note px-3 my-3 text-center">
      <strong>Tip:</strong>
      The default password for all users in development is
      <strong><%= GitHub.default_password %></strong>
    </p>
  <% end %>
</div>
