<%
repo_type = user_repositories_type(visibility: repository.visibility, is_mirror: repository.mirror?, is_archived: repository.archived?, is_template: repository.template?)
max_title_length = 45 - repo_type.length
owner_length_limit = max_title_length / 3
name_length_limit = (max_title_length / 3) * 2
repo_description = repository.short_description_html
%>

<div class="p-3" tabindex="0" <%= test_selector("dependency-graph-package-hovercard") %>>
  <div class="d-flex flex-items-center text-bold mb-2">
    <div class="flex-1 wb-break-all mr-3" <%= test_selector("dependency-graph-package-hovercard-title") %>>
      <%= primer_octicon(:package, color: :muted, mr: 1) %>
      <%= package_name %>
    </div>

    <% if GitHub.sponsors_enabled? && current_repository != repository && repository.show_sponsor_button? %>
      <%= render Sponsors::Repositories::FundingModalComponent.new(
        owner_login: repository.owner_display_login,
        repo_name: repository.name,
        button_id: "dependencies-funding-modal-button-#{package_name}-#{SecureRandom.alphanumeric(6)}",
        modal_id: "dependencies-funding-modal-#{package_name}-#{SecureRandom.alphanumeric(6)}",
      ) %>
    <% end %>
  </div>

  <div class="d-block mb-3">
    <%= repo_description %>
  </div>

  <div class="d-block text-small color-fg-muted mr-2">
    <a class="Link--muted mr-2" href="<%= repository_path(repository) %>">
      <%= primer_octicon(:repo, color: :muted) %>
      <%= truncate(repository.owner_display_login, length: owner_length_limit) %>/<%= truncate(repository.name, length: name_length_limit) %>
    </a>

    <a class="Link--muted mr-2" href="<%= stargazers_repository_path(repository.owner_display_login, repository.name) %>">
      <%= primer_octicon(:star, :"aria-label" => "star") %>
      <%= number_with_delimiter repository.stargazer_count %>
    </a>
  </div>
</div>
