<div class="listgroup listgroup-sm mb-3">
  <div class="listgroup-item listgroup-header">
    Showing <%= view.files.length %> of <%= view.large_files_count %> large files we found
  </div>
  <div class="listgroup-overflow">
    <% view.files.each do |file| %>
      <div class="listgroup-item">
        <span class="float-right"><%= number_to_human_size(file["size"], :units => :bytes) %></span>
        <%= primer_octicon(:"file-binary") %>
        <strong><%= file["path"] %></strong>
        <span class="ml-3"><%= file["oid"] %></span>
      </div>
    <% end %>
  </div>
</div>
<% if view.paginate? %>
<div data-pjax class="paginate-container">
  <div class="pagination">
    <% if view.previous_page? %>
      <%= link_to "Previous", url_with(:page => view.previous_page), "data-turbo-frame": "lfs-turbo-file-list", "data-turbo-action": "advance" %>
    <% else %>
      <span class="disabled">Previous</span>
    <% end %>
    <% if view.next_page? %>
    <%= link_to "Next", url_with(:page => view.next_page), "data-turbo-frame": "lfs-turbo-file-list", "data-turbo-action": "advance" %>
    <% else %>
      <span class="disabled">Next</span>
    <% end %>
  </div>
</div>
<% end %>
