<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<% page_info :title => "#{view.name_with_display_owner}: Importing" %>

<div class="container-sm my-5">
  <%= render Primer::Beta::Subhead.new(mt: 3, mb: 3) do |component| %>
    <% component.with_heading(tag: :h2) do %>We found some files suitable for Git LFS<% end %>
    <% component.with_description do %>
      This has billing implications so we need to ask if you would like to opt-in or opt-out.
    <% end %>
  <% end %>
  <turbo-frame id="lfs-turbo-file-list" target="_top">
    <div id="lfs-file-list">
      <%= render :partial => "repository_imports/large_files/lfs_file_list", :locals => { :view => view } %>
    </div>
  </turbo-frame>
  <div class="my-4 js-repository-import-lfs-container">
    <div class="mb-2">
      <%= primer_octicon(:database, classes: "lfs-data-icon dark") %>
      <b>Storage</b> –
      Using <span class="js-usage-text"><%= number_with_delimiter(view.asset_status.storage_usage) %></span> of <%= number_with_delimiter(view.asset_status.storage_quota.round) %> GB
      <div class="usage-bar js-usage-bar <%= "exceeded" if view.asset_status.storage_usage_percentage >= 100 %> tooltipped tooltipped-e"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        <div class="progress js-repository-import-lfs-progress" style="width: <%= view.asset_status.storage_usage_percentage %>%"></div>
      </div>
    </div>

    <%= form_tag repository_import_large_files_path(view.url_params), :method => :put do %>
      <div class="form-checkbox">
        <label>
          <input type="radio" checked name="gitlfs" value="opt-out" class="js-repository-import-lfs-opt" data-percent-used="<%= view.ceiling_percentage %>" data-used="<%= view.asset_status.storage_usage %>">
          Exclude large files
        </label>
        <p class="note">
          This <strong>will not</strong> import any of your large files from your old repository.
        </p>
      </div>
      <div class="form-checkbox">
        <label>
          <input type="radio" name="gitlfs" value="opt-in" class="js-repository-import-lfs-opt" data-percent-used="<%= view.percentage_used_with_lfs %>" data-used="<%= view.storage_usage_with_lfs %>">
          Include large files
        </label>
        <p class="note">
          We will store your files using <a class="Link--inTextBlock" href="https://git-lfs.github.com/" target="_blank">git-lfs</a>, but this may increase your billing.
        </p>
        <p class="flash flash-warn mt-2 p-3 d-none js-repository-import-lfs-warn">
          Git LFS access has been disabled because
          <% if view.repository.owner.organization? %>
            this organization
          <% else %>
            your personal account
          <% end %>
          is over its data quota.
          <% unless GitHub.enterprise? %>
            <%= link_to "Purchase additional data to re-enable.", target_billing_upgrade_data_plan_path(view.repository.owner) %>
          <% end %>
        </p>
      </div>
      <%= render Primer::ButtonComponent.new(type: :submit) do %>Continue<% end %>
    <% end %>
  </div>
</div>
