<div class="d-flex mt-3">
  <%= view.form.fields_for :billing_address do |ba_form| %>
    <div class="country-field">
      <label for="<%= prefix %>_billing_country">Country</label>
      <select id="<%= prefix %>_billing_country" class="input-block form-select select-country js-select-country" name="billing[billing_address][country_code_alpha3]" required>
        <option value>Choose country</option>
        <% view.priority_countries.each do |country| %>
          <option value="<%= country[2] %>" <%= view.selected_country(country[2]) %>><%= country[0] %></option>
        <% end %>
        <option disabled></option>
        <% view.countries.each do |country| %>
          <option value="<%= country[2] %>" <%= view.selected_country(country[2]) %>><%= country[0] %></option>
        <% end %>
      </select>
    </div>
    <div class="state-field state-form pl-3">
      <label for="<%= prefix %>_billing_region">State</label>
      <select class="input-block form-select select-state js-select-state" name="billing[billing_address][region]" id="<%= prefix %>_billing_region">
        <option></option>
        <% StatesAndProvinceHelper::US_STATES.each do |state| %>
          <option <%= view.selected_state(state[0]) %>><%= state[0] %></option>
        <% end %>
      </select>
    </div>

    <div class="postal-code-form postcode-field pl-3">
      <label for="<%= prefix %>_billing_billing_address_postal_code">Postal Code</label>
      <input autocomplete="off" class="form-control textfield input-block js-postal-code-field" id="<%= prefix %>_billing_billing_address_postal_code"
        name="billing[billing_address][postal_code]"
        value="<%= view.postal_code %>"
        required
        size="30"
        type="text">
    </div>
  <% end %>

  <div class="vat-field pl-3<%= " prefilled" if view.owner.vat_code.present? %>">
    <label for="<%= prefix %>_billing_vat_code">VAT/GST ID <small class="help-text js-vat-help-text"></small></label>
    <input id="<%= prefix %>_billing_vat_code" class="form-control input-block input-vat" type="text" autocomplete="off" name="billing[vat_code]" value="<%= view.owner.vat_code %>">
    <p class="vat-field"><strong>Note:</strong> Please provide your VAT/GST number if you are purchasing GitHub for a business purpose.</p>
  </div>
</div>
