<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  # This partial renders the fields for our payment forms. It requires:
  #
  # owner - The User/Organization whose account we're updating.
  # form  - A Rails FormBuilder to use as context for this form.

  view = BillingSettings::PaymentMethodFieldsView.new(owner, form)
  condensed_view ||= false

  SecureHeaders.append_content_security_policy_directives(
    request,
    img_src: [GitHub.paypal_checkout_url],
    connect_src: [GitHub.braintreegateway_url, GitHub.braintree_analytics_url],
    frame_src: [GitHub.zuora_payment_page_server]
  )
%>

<div class="payment-methods js-payment-methods <%= "has-paypal-account" if owner.has_paypal_account? %> <%= "condensed-payment-methods" if condensed_view %>">
  <div class="d-md-flex flex-items-center" role="radiogroup">
    <div class="form-checkbox mr-4">
      <label for="pay-by-credit-card-<%= owner.display_login %>" role="radio"
        <%= safe_analytics_click_attributes(
          category: "#{local_assigns[:analytics_prefix]} credit card",
          action: "click to choose credit card",
          label: "ref_cta:Credit card;ref_loc:account_upgrade"
        ) if local_assigns[:analytics_prefix]
        %>
      >
        <input name="payment_method_<%= owner.display_login %>" type="radio" value="credit_card" <%= "checked" unless owner.has_paypal_account? %>
          class="js-payment-method radio-input"
          data-selected-tab="pay-by-credit-card"
          id="pay-by-credit-card-<%= owner.display_login %>"
        >
        Credit or debit card
      </label>
    </div>
    <div class="form-checkbox">
      <label for="pay-with-paypal-<%= owner.display_login %>" role="radio"
        <%= safe_analytics_click_attributes(
          category: "#{local_assigns[:analytics_prefix]} paypal",
          action: "click to choose paypal",
          label: "ref_cta:PayPal account;ref_loc:account_upgrade"
      ) if local_assigns[:analytics_prefix]
        %>
      >
        <input name="payment_method_<%= owner.display_login %>" type="radio" value="paypal" <%= "checked" if owner.has_paypal_account? %>
          class="js-payment-method radio-input"
          data-selected-tab="pay-with-paypal"
          id="pay-with-paypal-<%= owner.display_login %>"
        >
        <span class="d-none">PayPal account</span>
        <img alt="PayPal" src="<%= image_path "paypal/paypal-wordmark.png" %>" height="21" class="d-block">
      </label>
    </div>
  </div>

  <div class="js-selected-payment-method selected-payment-method pay-by-credit-card <%= "active" unless owner.has_paypal_account? %>">
    <div class="js-zuora-spinner d-flex flex-items-center my-4">
      <%= render(Primer::Beta::Spinner.new(size: :small, mr: 2)) %>
      Loading payment information…
    </div>
    <%= render Billing::Settings::ZuoraHppContainerComponent.new(
      user_id: current_user.id,
      signature_path: zuora_payment_page_signature_path,
      container_class: "js-zuora-payment-page",
      hidden: true,
      hydro_payload: {
        account_id: owner.id,
      },
      organization_id: (owner.display_login if owner.organization? && owner.persisted?),
    ) %>
    <%= render Billing::Settings::ZuoraBillingInfoComponent.new(
      target: owner,
      display: :none,
    ) do %>
      <div class="d-flex flex-justify-between border rounded-2 color-bg-subtle px-3 py-2">
        <div class="d-flex flex-items-center">
          <%= render(Primer::Beta::Octicon.new(icon: "credit-card", mr: 2)) %>
          <strong class="js-new-card-type mr-1"></strong>
          *<span class="js-new-card-number color-fg-muted"></span>
        </div>
        <%= render Primer::ButtonComponent.new(scheme: :link, font_size: 6, classes: "js-edit-card-details") do %>Edit<% end %>
      </div>
    <% end %>
  </div>

  <div class="js-selected-payment-method selected-payment-method pay-with-paypal <%= "active" if owner.has_paypal_account? %>">
    <%= render :partial => "payment_method/paypal_fields", :locals => { :view => view, :condensed_view => condensed_view } %>
  </div>
</div>
