<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<%
  # This partial renders the payment method form for PayPal

  # view - A PaymentMethodFieldsView
%>

<%
  condensed_view ||= false
  new_name_address_design ||= false
  hide_billing_info_fields ||= false
%>

<div class="js-paypal-method-details" <%= "hidden" if new_name_address_design && view.has_paypal_account? %>>
  <div class="paypal-label paypal-sign-in mt-0">Sign in to</div>
  <div class="paypal-label paypal-signed-in mt-0">Charge to</div>

  <% if view.has_paypal_account? %>
    <p>
      You are currently paying with your PayPal account <strong <%= test_selector("paypal-email") %>><%= view.owner.payment_method.paypal_email %></strong>.<br>
      Sign in to PayPal to use a different account.
    </p>
  <% end %>

  <div class="loading-paypal-spinner">
    <%= render(Primer::Beta::Spinner.new(size: :small, vertical_align: :text_top)) %>
    Connecting to PayPal…
  </div>

  <p class="flash flash-warn paypal-down-flash">
    Sorry, we’re having trouble with PayPal right now, please try again a bit later.
  </p>

  <input type="hidden" name="billing[paypal_nonce]" id="paypal-nonce-<%= view.owner_login %>">
  <div
    class="paypal-container js-paypal-container"
    data-nonce-field="<%= "#paypal-nonce-#{view.owner_login}" %>"
    data-ga-click="<%= ga_label_with_analytics_tracking_id("Signup funnel team payment,click,text:PayPal;") %>">
  </div>
  <%= render Primer::Beta::Octicon.new(icon: "x", display: :none, classes: "js-paypal-cancel-icon") %>

  <% unless hide_billing_info_fields %>
    <div class="setup-creditcard-form js-setup-creditcard billing-info <%= "is-vat-country" if view.owner.billing_extra.present? %>  <%= "has-credit-card" if view.has_credit_card? %> <%= "d-flex" if condensed_view %>">
      <% if condensed_view %>
        <%= render "payment_method/condensed_billing_info_fields", view: view, prefix: "paypal-#{view.owner_login}" %>
      <% else %>
        <%= render "payment_method/billing_info_fields", view: view, prefix: "paypal-#{view.owner_login}" %>
      <% end %>
    </div>
  <% end %>
</div>
