<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Payment details", :selected_link => :"#{params[:target] || "user"}_billing_settings" %>

<% content = capture do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <%= link_to "Billing & plans", target_billing_path(target), "data-pjax" => true %>
         / Payment method
    <% end %>
  <% end %>

  <div class="billing-credit-card js-billing-payment-methods disabled">
    <noscript>
      <p class="flash flash-error">
        Oh no! It looks like JavaScript is disabled in your browser.
        <strong>Please enable JavaScript</strong> to submit payment details.
      </p>
    </noscript>

    <% if @plan.present? %>
      <p class="flash">
        <% payment_amount = target.payment_amount(:plan => @plan) %>
        You’re upgrading to the <strong><%= @plan.display_name.humanize %></strong> plan
        <% if target.gift? %>
          (free gift account).
        <% elsif payment_amount == 0 && target.has_an_active_coupon? %>
          (free with current coupon).
        <% else %>
          (<%= casual_currency payment_amount %>/<%= target.plan_duration %>).
        <% end %>
        Once we successfully process payment, we’ll immediately upgrade your account.
        Thanks for choosing to become a paying customer!
      </p>
    <% end %>

    <%= render Billing::Settings::PaymentMethodFormComponent.new(
      target: target,
    ) %>
  </div>
<% end %>

<% if current_context.is_a?(Organization) %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "settings/settings" do %>
    <%= content %>
  <% end %>
<% end %>
