<% page_info title: "Confirm bulk sponsorships from #{sponsor}" %>
<div class="container-lg p-responsive clearfix mt-3">
  <%= render Sponsors::BulkSponsorships::BreadcrumbComponent.new(
    page: Sponsors::BulkSponsorships::BreadcrumbComponent::Page::Checkout,
    sponsor: sponsor,
    frequency: frequency,
    mb: 4,
  ) %>
  <div class="col-lg-4 float-lg-left mt-3 mt-lg-0 pr-lg-5">
    <div class="border-bottom pb-3 mb-5">
      <%= render Sponsors::AccountSwitcherComponent.new(
        sponsor: sponsor,
        route: :bulk_sponsorship_checkout,
        method: :post,
        form_data: form_data,
        header_tag: :h2,
      ) %>
    </div>

    <%= render Sponsors::BulkSponsorships::CheckoutSummaryComponent.new(
      sponsor: sponsor,
      sponsorship_rows: valid_sponsorship_rows,
      frequency: frequency,
      mb: 3,
    ) %>
  </div>
  <div class="col-lg-8 float-lg-left pl-lg-6 mt-5 mt-lg-0">
    <h1 class="mb-3 f2">Sponsorship summary</h1>

    <% if sponsor.sponsors_invoicing_required_to_sponsor? %>
      <%= render Sponsors::InvoicedSponsorsRequiredNoticeComponent.new(sponsor_login: sponsor.display_login) %>
    <% else %>
      <%= render(Sponsors::Sponsorables::PlanPricingComponent.new(
        sponsor: sponsor,
        via_bulk_sponsorship: true,
        sponsorship_rows: valid_sponsorship_rows,
        pay_prorated: pay_prorated,
        active_on: active_on
      )) %>
      <%= render Sponsors::Sponsorables::TradeScreeningCannotProceedComponent.new(sponsor: sponsor) %>
      <%= render Sponsors::Sponsorables::BillingInfoComponent.new(
        sponsor: sponsor,
        return_route: :bulk_sponsorships,
      ) %>
      <%= render(Sponsors::Sponsorables::InvoicePaymentMethodComponent.new(
        sponsor: sponsor,
      )) %>
      <%= render(Sponsors::Sponsorables::EnterprisePaymentMethodComponent.new(
        sponsor: sponsor,
      )) %>
      <%= render Sponsors::Sponsorables::SponsorshipComponent.new(
        sponsor: sponsor,
        bulk_sponsorship_rows: valid_sponsorship_rows,
        privacy_level: privacy_level,
        opted_in_to_email: opted_in_to_email,
        pay_prorated: pay_prorated,
        active_on: active_on,
      ) %>
    <% end %>
  </div>
</div>
