<% page_info title: "Thank you, #{sponsor}, for funding open source software!" %>

<% content_for :head do %>
  <%= stylesheet_bundle "site" %>
<% end %>

<span class="js-show-confetti-party" hidden></span>

<div class="mt-lg-10 mt-4 width-full container-lg p-responsive">
  <h1 class="h3 flex-justify-center d-flex flex-items-center">
    <%= render Primer::Beta::Avatar.new(
      src: sponsor.primary_avatar_url,
      alt: sponsor.display_login,
      size: 24,
      shape: sponsor.organization? ? :square : :circle,
      mr: 2,
    ) %>
    <%= sponsor.safe_profile_name %>
    <span class="d-inline-block mx-3">+</span>
    <%= primer_octicon(icon: "mark-github", size: :medium, mr: 2) %>
    GitHub Sponsors
  </h1>

  <h2 class="h6-mktg text-gradient-blue-purple text-md-center mb-4 mb-lg-6 mt-3 mt-lg-4 py-1">
    Thank you for funding open source software today.
  </h2>

  <h3 class="h3-mktg text-gradient-blue-purple text-center col-lg-8 mx-auto">
    You contributed a total of
    <span <%= test_selector("dollar-value") %>><%= total_amount.format(no_cents_if_whole: true) %></span>
    <% if frequency == :recurring %>
      <span <%= test_selector("frequency") %>>a month</span>
    <% end %>
    to
    <span <%= test_selector("total-maintainers") %>>
      <%= number_with_delimiter(total_sponsored) %>
      <% if any_sponsored_orgs && any_sponsored_users %>
        <%= "maintainer".pluralize(total_sponsored) %> and <%= "organization".pluralize(total_sponsored) %>.
      <% elsif any_sponsored_orgs %>
        <%= "organization".pluralize(total_sponsored) %>.
      <% else %>
        <%= "maintainer".pluralize(total_sponsored) %>.
      <% end %>
    </span>
  </h3>

  <p class="text-center mt-4 mt-lg-6">
    <%= render Primer::Beta::Button.new(
      tag: :a,
      href: sponsor.organization? ? org_sponsoring_path(sponsor) : user_path(sponsor, params: { tab: "sponsoring" }),
      scheme: :link,
    ) do %>
      View <%= sponsor.organization? ? "#{sponsor}'s" : "your" %> sponsorships <%= svg("modules/site/icons/chevrow.svg") %>
    <% end %>
  </p>
</div>
