<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Box.new(classes: "timeline-comment-actions", **system_arguments)) do %>
  <% if viewer_permissions[:write] %>
    <%= render Primer::Alpha::ActionMenu.new(menu_id: "role-actions-#{role_id}") do |menu| %>
      <% menu.with_show_button(icon: :"kebab-horizontal", scheme: :invisible, "aria-label": "Show custom role actions") %>
      <% menu.with_item(href: edit_path, label: "Edit Role", tag: :link, test_selector: "edit-button-#{role_id}") %>
      <% menu.with_item(
        label: "Delete role",
        scheme: :danger,
        tag: :button,
        test_selector: "delete-button-#{role_id}",
        content_arguments: { "data-show-dialog-id": "delete-role-#{role_id}"}
      ) %>
    <% end %>
    <%= render(Primer::Alpha::Dialog.new(
      id: "delete-role-#{role_id}",
      title: "Confirm role deletion",
      size: :medium_portrait,
      test_selector: "delete-role-confirmation-dialog-#{role_id}",
    )) do |d| %>
      <% d.with_body do %>
        <%= render Primer::Beta::Flash.new(scheme: :warning, mt: 1, mb: 2) do %>
          Deleting a custom role may result in downgrade of permissions for all the people and teams who have been assigned that role.
        <% end %>
        <%= render(Primer::Beta::Text.new) do %>
          You are about to delete the <%= render(Primer::Beta::Text.new(font_weight: :bold)) { role_name } %> role.
        <% end %>
        <%= render(Primer::Box.new(mt: 2)) do %>
          <%= render(Primer::Beta::Text.new) { "This role is currently assigned to:" } %>
          <ul class="m-0 mt-2 p-0 list-style-none">
            <li class="d-flex flex-items-center">
              <%= render(Primer::Beta::Octicon.new(icon: :person, color: :muted, mr: 2)) %>
              <%= render(Primer::Beta::Text.new(font_weight: :bold)) { pluralize(role_user_count, "person") } %>
            </li>
            <li class="d-flex flex-items-center">
              <%= render(Primer::Beta::Octicon.new(icon: :people, color: :muted, mr: 2)) %>
              <%= render(Primer::Beta::Text.new(font_weight: :bold)) { pluralize(role_team_count, "team") } %>
            </li>
          </ul>
        <% end %>
      <% end %>
      <% d.with_footer do %>
        <%= render(Primer::Beta::Button.new(type: :button, "data-close-dialog-id": "delete-role-#{role_id}", "aria-label": "Dismiss confirm dialog")) { "Cancel" } %>
        <%= form_tag(delete_path, method: :delete) do |f| %>
          <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger)) { "Delete role" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
