<%= render Primer::Beta::Details.new(reset: false) do |details_component| %>
  <% details_component.with_summary(button: false, display: :flex, justify_content: :flex_end, align_items: :center, pl: 4, pr: 3, pb: 3) do %>
    <% if assignee.class == User %>
      <%= helpers.avatar_for assignee, 32, class: "avatar mr-2" %>
      <span class="col-6 text-bold" <%= test_selector "assignee-row-org-role-assigned-user" %>>
        <%= assignee.display_login %>
      </span>
    <% else %>
      <%= helpers.avatar_for assignee, 32, class: "avatar mr-2", alt: assignee.name %>
      <span class="col-6 text-bold" <%= test_selector "assignee-row-org-role-assigned-team" %>>
        <%= assignee.name %>
      </span>
    <% end %>
    <span class="col-6 text-right color-fg-muted" <%= test_selector "assignee-row-org-role-assigned-summary" %>>
      <%= pluralize( assignments.count, 'role' ) %>
    </span>
    <span class="mt-1 ml-2 color-fg-muted">
      <%= render Primer::Beta::Octicon.new icon: "chevron-down" %>
    </span>
  <% end %>
  <% details_component.with_body(tag: :"div", pb: 1, border: 0) do %>
    <div>
      <% if direct_assignments.size > 0 %>
        <h3 class="f6 color-fg-muted pl-8 py-2" <%= test_selector "assignee-row-org-role-assignment-header" %>>Directly assigned roles</h3>
        <ul role="list">
          <% direct_assignments.each do |assignment| %>
            <%= render OrgRoles::AssignmentRowComponent.new(organization:, assignment:, stafftools:) %>
          <% end %>
        </ul>
      <% end %>
      <% if indirect_assignments.size > 0 %>
        <% indirect_by_team.each do |team, assignments| %>
          <h3 class="f6 color-fg-muted pl-8 py-2" <%= test_selector "assignee-row-org-role-assignment-header" %>>
            Inherited roles from
            <%= render(Primer::Beta::Link.new(
              href: team_link(team),
              classes: "Link--inTextBlock",
              scheme: :default
            )) { team.name } %>
          </h3>
          <ul role="list">
            <% assignments.each do |assignment| %>
              <%= render OrgRoles::AssignmentRowComponent.new(organization:, assignment:, stafftools:) %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
