<div id="organization-roles-assignment-form">
  <%= render Primer::Box.new(flex: :auto, align_items: :flex_start, display: :flex, flex_grow: 0) do %>
    <%= render OrgRoles::SearchComponent.new(query: get_query, url: index_url, organization: organization, org_roles: visible_roles) %>
    <%= render OrgRoles::RoleFilterComponent.new(custom_org_roles: visible_roles, query_hash: @query_hash) %>
    <% if display_assignment_buttons? %>
      <%= render OrgRoles::Assignment::AddAssignmentComponent.new(organization: organization, visible_roles: visible_roles) %>
    <% end %>
  <% end %>
  <%= render Primer::Alpha::UnderlineNav.new(
    tag: :div,
    label: "View User or Team assignments"
  ) do |component| %>
    <% user_tab = { query: get_query(filter: { is: "user" })} %>
    <% team_tab = { query: get_query(filter: { is: "team" })} %>
    <% component.with_tab(
      href: "?#{user_tab.to_query}",
      selected: user_tab_selected?) do |tab| %>
      <% tab.with_text { "Users" } %>
      <% tab.with_counter(count: user_count) %>
    <% end %>
    <% component.with_tab(
      href: "?#{team_tab.to_query}",
      selected: !user_tab_selected?) do |tab| %>
      <% tab.with_text { "Teams" } %>
      <% tab.with_counter(count: team_count) %>
    <% end %>
  <% end %>
</div>

<div id="organization-roles-assignment-table">
  <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
    <% if assignees.any? %>
      <% assignees.each do |assignee| %>
        <% component.with_row(test_selector: "org-role-assignment-#{@active_tab.serialize}-row", px: 0, pb: 0) do %>
          <%= render OrgRoles::AssigneeRowComponent.new(
            organization: organization,
            assignee: assignee,
            assignments: assignments_for_assignee(assignee.id),
            stafftools: stafftools?
          ) %>
        <% end %>
      <% end %>
    <% else %>
      <% component.with_body do %>
        <announce-live>
          <%= render Primer::Beta::Blankslate.new(test_selector: "org-role-assignments-blankslate") do |c| %>
            <% c.with_heading(tag: :h3, data: { target: "announce-live.container"}) do %>
              No results
            <% end %>
          <% end %>
        </announce-live>
      <% end %>
    <% end %>
  <% end %>
  <% if assignees.any? && assignees.total_pages > 1 %>
    <div class="paginate-container">
      <%= will_paginate assignees %>
    </div>
  <% end %>
</div>
