<li class="pb-3 d-flex flex-items-center pl-8 pr-4" role="listitem" <%= test_selector("role-name") %>>
  <div>
    <h4 class="text-bold f5" <%= test_selector "org-role-assigned-role" %>><%= role.display_name %></h4>
    <p class="mb-0 color-fg-muted"><%= role.description %></p>
  </div>
  <div class="flex-1 d-flex flex-items-center flex-justify-end">
    <% if display_remove_button? %>
      <div class="ml-3">
        <%= form_tag(delete_url, method: :delete) do %>
          <%= render(Primer::Alpha::Dialog.new(
            title: "Remove role assignment",
            "aria-label": "Confirm remove assignment of role `#{role.name}`",
            id: "remove-role-assigment-confirmation-dialog-#{role.id}-#{assignee.id}",
          )) do |d| %>
            <% d.with_show_button(
              scheme: :danger,
              button_text: "Remove",
              p: 2,
              "aria-label": "Remove assignment of role `#{role.name}`",
              title: "Remove assignment of role `#{role.name}`",
              "data-disable-with": "Removing…",
              test_selector: "remove-role-assignment-button-#{role.id}-#{assignee.id}"
            ) do %>
              Remove
            <% end %>

            <% d.with_body do %>
              <%= render(Primer::Beta::Text.new) do %>
                You are removing assignments to the role <%= render(Primer::Beta::Text.new(font_weight: :bold)) { role.display_name } %> for <%= render(Primer::Beta::Text.new(font_weight: :bold)) { assignee.name } %>.
              <% end %>
            <% end %>

            <% d.with_footer do %>
              <%= render(Primer::Beta::Button.new(
                "data-close-dialog-id": "remove-role-assigment-confirmation-dialog-#{role.id}-#{assignee.id}",
                "aria-label": "Cancel role `#{role.name}` assignment removal"
              )) { "Cancel" } %>
              <%= render(Primer::Beta::Button.new(
                type: :submit,
                scheme: :danger,
                "data-close-dialog-id": "remove-role-assigment-confirmation-dialog-#{role.id}-#{assignee.id}",
                aria: {
                  describedby: "role-remove-assignment",
                  label: "Confirm role `#{role.name}` assignment removal",
                },
              )) { "Remove role" } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</li>
