<%= render(Primer::BaseComponent.new(tag: :div, test_selector: "custom-roles-list-component", **system_arguments)) do %>
  <%= render(Primer::Box.new(display: :flex, my: 3, align_items: :center)) do %>
    <%= render(Primer::Box.new(display: :flex, direction: :column)) do %>
      <%= render(Primer::Beta::Heading.new(tag: :h3, mb: 1)) { "Custom roles" } %>
      <%= render(Primer::Beta::Text.new(color: :muted, test_selector: "subheading-text")) { subheading_text } %>
    <% end %>
    <%= render(Primer::Box.new(flex: 1)) %>
    <% if viewer_permissions[:write] %>
      <%= render(Primer::Beta::Button.new(
        scheme: :primary,
        tag: :a,
        disabled: custom_role_limit_reached?,
        href: new_settings_org_roles_path(organization),
        test_selector: "create_role_button",
      )) { "Create a role" }
      %>
    <% end %>
  <% end %>

  <div class="border rounded-2 mb-2 d-flex flex-column">
    <% if custom_roles.any? %>
      <div <%= test_selector "custom-roles-list" %>>
        <% custom_roles.each_with_index do |custom_role, idx| %>
          <div class="<%= "border-top" unless idx == 0 %>">
            <%= render(OrgRoles::OrgRoleRowComponent.new(role: custom_role)) do |row| %>
              <% if viewer_permissions[:write] %>
                <%= row.with_action_menu do %>
                  <%= render(OrgRoles::ActionMenuComponent.new(
                    role_id: custom_role.id,
                    role_name: custom_role.name,
                    role_user_count: role_user_count(custom_role),
                    role_team_count: role_team_count(custom_role),
                    delete_path: delete_settings_org_roles_path(organization, custom_role),
                    edit_path: edit_settings_org_roles_path(organization, custom_role),
                    viewer_permissions: viewer_permissions,
                    test_selector: "org-role-action-menu",
                    pr: 2,
                  )) %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= render(Primer::Box.new(p: 5, display: :flex, direction: :column, align_items: :center, test_selector: "custom-roles-empty-state")) do %>
        <%= render(Primer::Beta::Octicon.new(icon: :note, size: :medium, color: :muted, mb: 3)) %>
        <%= render(Primer::Beta::Text.new(font_size: 3, font_weight: :bold)) { "You do not have any custom roles yet" } %>
      <% end %>
    <% end %>
  </div>
<% end %>
