<%= form_tag form_url, method: http_method do %>
  <dl class="form-group mb-2 js-label-error-container">
    <dt><label for="role-name">Name</label></dt>
    <dd class="js-length-limited-input-container position-relative">
      <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
        <input
          class="js-length-limited-input form-control"
          type="text"
          data-input-max-length="62"
          data-warning-text="{{remaining}} remaining"
          placeholder="Role name"
          id="role-name"
          name="role[name]"
          value="<%= role&.name %>"
          required
          autofocus
          aria-describedby="error-text-for-name">
      </text-expander>
      <p class="js-length-limited-input-warning d-none color-fg-danger" id="error-text-for-name"></p>
    </dd>
  </dl>

  <dl class="form-group mb-2 js-label-error-container">
    <dt><label for="role-description">Description</label></dt>
    <dd class="js-length-limited-input-container position-relative">
      <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
        <input
          class="js-length-limited-input form-control"
          type="text"
          data-input-max-length="152"
          data-warning-text="{{remaining}} remaining"
          placeholder="What is this role all about?"
          id="role-description"
          name="role[description]"
          value="<%= role&.description %>"
          aria-describedby="error-text-for-description">
      </text-expander>
      <p class="js-length-limited-input-warning d-none color-fg-danger" id="error-text-for-description"></p>
    </dd>
  </dl>

  <p class="note" id="help-text-for-description">
    A short description who this role is for or what permissions it grants
  </p>

  <template id="fgp-summary-list-item-template">
    <li class="Box-row d-flex flex-items-center js-fgp-list-item">
      <%= render(Primer::Beta::Text.new(font_weight: :bold, flex: 1, classes: "js-fgp-item-title")) %>
      <%= render(Primer::Beta::IconButton.new(
        classes: "js-fgp-remove-button",
        icon: :trash,
        scheme: :danger,
        size: :small,
        data: { action: "click:fgp-search#removeFgp" },
        aria: { label: "Remove permission" }
      )) %>
      <%= render(Primer::Beta::Text.new(color: :muted, classes: "js-repository-inherit-label")) %>
    </li>
  </template>

  <%= render(Primer::Box.new(display: :flex, direction: :column, my: 3, test_selector: "permissions-selector")) do %>
    <%= render(Primer::Beta::Text.new(font_size: 4, font_weight: :bold)) { "Add permissions" } %>
    <%= render(Primer::Beta::Text.new(color: :muted, mb: 2)) { "Organization roles can include repository permissions. Repository permissions are granted to all repositories in the organization." } %>
    <%= render(Primer::Alpha::UnderlinePanels.new(
      label: "Permission type",
      wrapper_arguments: {
        border: true,
        border_radius: 2,
        classes: "overflow-hidden",
      },
      body_arguments: {
        bg: :subtle,
        pl: 3,
        w: :full,
      }
    )) do |component| %>
      <%= component.with_tab(id: "org-permissions-tab", selected: true) do |tab| %>
        <%= tab.with_text { "Organization" } %>
        <%= tab.with_counter(count: 0, id: "org-permissions-counter") %>
        <%= tab.with_panel do %>
          <fgp-search
            data-src="<%= org_fgp_metadata_url %>"
            data-initial-edit-role-permissions="<%= initial_edit_role_permissions %>"
            data-fgp-counter-id="org-permissions-counter"
          >
            <%= render(Primer::Box.new(p: 3, border: true, border_right: 0, border_left: 0, bg: :subtle, position: :relative)) do %>
              <filter-input aria-owns="org-permissions-list">
                <%= render(Primer::Alpha::TextField.new(
                  placeholder: "Search organization permissions",
                  name: "org_permissions_search",
                  label: "Search organization permissions",
                  visually_hide_label: true,
                  full_width: true,
                  leading_visual: { icon: :search },
                  data: {
                    target: "fgp-search.searchInput",
                    action: "focusin:fgp-search#openSearch blur:fgp-search#closeSearch",
                  },
                )) %>
              </filter-input>
              <div
                id="org-permissions-list"
                role="listbox"
                class="autocomplete-results"
                data-filter-list data-target="fgp-search.resultList"
                data-action="mousedown:fgp-search#keepOpen"
                hidden
              >
                <% base_role_fgps.available_fgps(organization).each do |fgp| %>
                  <label class="d-flex border-bottom p-2">
                    <input
                      type="checkbox"
                      name="role[fgps][]"
                      value="<%= fgp.label %>"
                      class="mr-2"
                      role="option"
                      data-action="change:fgp-search#handleFgpChange"
                      <%= "data-is-additional-fgp" if is_additional_fgp?(fgp.label) %>
                    >

                    <%= render(Primer::Beta::Text.new(font_weight: :bold, flex: 1)) { fgp.description } %>
                    <%= render(Primer::Beta::Text.new(color: :muted)) { title_for(fgp.category) } %>
                  </label>
                <% end %>
                <div class="p-5 d-flex flex-items-center f4" data-filter-empty-state hidden>
                  <%= primer_octicon(:search, mr: 1) %>
                  <%= render(Primer::Beta::Text.new(font_weight: :bold)) { "No permissions found." } %>
                </div>
              </div>
            <% end %>

            <%= render(Primer::Box.new(display: :flex, direction: :column, style: "min-height: 250px")) do %>
              <%= render(Primer::Box.new(
                display: :flex,
                direction: :column,
                align_items: :center,
                justify_content: :center,
                flex: 1,
                data: { target: "fgp-search.emptyState" },
              )) do %>
                <%= render(Primer::Beta::Octicon.new(icon: :organization, size: :medium, color: :muted)) %>
                <%= render(Primer::Beta::Heading.new(tag: :h3, mt: 3)) { "No organization permissions yet" } %>
              <% end %>

              <ul data-target="fgp-search.fgpSummaryList" hidden></ul>
            <% end %>
          </fgp-search>
        <% end %>
      <% end %>

      <%= component.with_tab(id: "repo-permissions-tab") do |tab| %>
        <%= tab.with_text do %>
          Repository
          <%= render(Primer::Beta::Label.new(scheme: :success, mr: 1)) { "Beta" } %>
        <% end %>
        <%= tab.with_counter(count: 0, id: "repo-permissions-counter") %>
        <%= tab.with_panel do %>
          <fgp-search
            data-src="<%= repo_fgp_metadata_url %>"
            data-initial-base-role="<%= initial_base_role %>"
            data-initial-edit-role-permissions="<%= initial_edit_role_permissions %>"
            data-fgp-counter-id="repo-permissions-counter"
          >
            <%= render(Primer::Box.new(
              border: true,
              border_right: 0,
              border_left: 0,
              bg: :subtle,
              p: 3,
              position: :relative,
              display: :flex
            )) do %>
              <filter-input aria-owns="repo-permissions-list" class="flex-auto">
                <%= render(Primer::Alpha::TextField.new(
                  placeholder: "Search repository permissions",
                  name: "repo_permissions_search",
                  label: "Search repository permissions",
                  visually_hide_label: true,
                  full_width: true,
                  width: :full,
                  leading_visual: { icon: :search },
                  flex: 1,
                  disabled: true,
                  data: {
                    target: "fgp-search.searchInput",
                    action: "focusin:fgp-search#openSearch blur:fgp-search#closeSearch",
                  }
                )) %>
              </filter-input>

              <%= render(Primer::Alpha::ActionMenu.new(
                ml: 3,
                select_variant: :single,
                dynamic_label: true,
                dynamic_label_prefix: "Base repository role",
                data: {
                  target: "fgp-search.baseRoleSelect",
                  action: "itemActivated:fgp-search#handleRepoBaseRoleChange",
                },
              )) do |menu| %>
                <% menu.with_show_button do |button| %>
                  <% button.with_trailing_action_icon(icon: :"triangle-down")  %>
                <% end %>
                <% menu.with_item(label: "None", data: { value: "none" }, active: role&.base_role.nil?) %>
                <% menu.with_item(label: "Read", data: { value: "read" }, active: is_active_base_role?("read")) do |item| %>
                  <% item.with_leading_visual_icon(icon: :book) %>
                <% end %>
                <% menu.with_item(label: "Triage", data: { value: "triage" }, active: is_active_base_role?("triage")) do |item| %>
                  <% item.with_leading_visual_icon(icon: :checklist) %>
                <% end %>
                <% menu.with_item(label: "Write", data: { value: "write" }, active: is_active_base_role?("write")) do |item| %>
                  <% item.with_leading_visual_icon(icon: :pencil) %>
                <% end %>
                <% menu.with_item(label: "Maintain", data: { value: "maintain" }, active: is_active_base_role?("maintain")) do |item| %>
                  <% item.with_leading_visual_icon(icon: :tools) %>
                <% end %>
                <% menu.with_item(label: "Admin", data: { value: "admin" }, active: is_active_base_role?("admin")) do |item| %>
                  <% item.with_leading_visual_icon(icon: :eye) %>
                <% end %>
              <% end %>

              <%= hidden_field_tag "role[base_role]" %>

              <div
                id="repo-permissions-list"
                role="listbox"
                class="autocomplete-results"
                data-filter-list data-target="fgp-search.resultList"
                data-action="mousedown:fgp-search#keepOpen"
                style="top: 85%"
                hidden
              >
                <% repo_fgps.each do |fgp| %>
                  <label class="d-flex border-bottom p-2">
                    <input
                      type="checkbox"
                      name="role[fgps][]"
                      value="<%= fgp[:label] %>"
                      class="mr-2"
                      role="option"
                      data-action="change:fgp-search#handleFgpChange"
                      <%= "data-is-additional-fgp" if is_additional_fgp?(fgp[:label]) %>
                    >

                    <%= render(Primer::Beta::Text.new(font_weight: :bold, flex: 1)) { fgp[:description] } %>
                    <%= render(Primer::Beta::Text.new(color: :muted, classes: "js-repository-inherit-label")) %>
                  </label>
                <% end %>

                <div class="p-5 d-flex flex-items-center f4" data-filter-empty-state hidden>
                  <%= primer_octicon(:search, mr: 1) %>
                  <%= render(Primer::Beta::Text.new(font_weight: :bold)) { "No permissions found." } %>
                </div>
              </div>
            <% end %>

            <ul data-target="fgp-search.fgpSummaryList" style="min-height: 250px" hidden></ul>

            <%= render(Primer::Box.new(
              display: :flex,
              direction: :column,
              style: "min-height: 250px",
              data: { target: "fgp-search.emptyState" },
            )) do %>
              <%= render(Primer::Box.new(
                display: :flex,
                direction: :column,
                align_items: :center,
                justify_content: :center,
                flex: 1,
              )) do %>
                <%= render(Primer::Beta::Octicon.new(icon: :repo, size: :medium, color: :muted)) %>
                <%= render(Primer::Beta::Heading.new(tag: :h3, mt: 3)) { "Choose a repository role to inherit" } %>
                <%= render(Primer::Beta::Text.new(font_size: 4, mt: 1, color: :muted)) { "You can only add repository permissions once a base repository role is selected." } %>
              <% end %>
            <% end %>
          </fgp-search>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if new_page? %>
    <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary)) { "Create role" } %>
  <% else %>
    <%= render(Primer::Alpha::Dialog.new(
      id: "update-role-#{role.id}",
      title: "Confirm role update",
      size: :medium_portrait,
      test_selector: "update-role-confirmation-dialog-#{role.id}",
    )) do |d| %>
      <% d.with_show_button(scheme: :primary) { "Update role" } %>
      <% d.with_body do %>
        <%= render(Primer::Beta::Text.new) do %>
          Updating the <%= render(Primer::Beta::Text.new(font_weight: :bold)) { role.display_name } %> role may change permissions for all the people and teams assigned to it.
        <% end %>
        <%= render(Primer::Box.new(mt: 2)) do %>
          <%= render(Primer::Beta::Text.new) { "This role is currently assigned to:" } %>
          <ul class="m-0 mt-2 p-0 list-style-none">
            <li class="d-flex flex-items-center">
              <%= render(Primer::Beta::Octicon.new(icon: :person, color: :muted, mr: 2)) %>
              <%= render(Primer::Beta::Text.new(font_weight: :bold)) { pluralize(role_user_count, "person") } %>
            </li>
            <li class="d-flex flex-items-center">
              <%= render(Primer::Beta::Octicon.new(icon: :people, color: :muted, mr: 2)) %>
              <%= render(Primer::Beta::Text.new(font_weight: :bold)) { pluralize(role_team_count, "team") } %>
            </li>
          </ul>
        <% end %>
      <% end %>
      <% d.with_footer do %>
        <%= render(Primer::Beta::Button.new(type: :button, "data-close-dialog-id": "update-role-#{role.id}", "aria-label": "Dismiss confirm dialog")) { "Cancel" } %>
        <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary)) { "Update role" } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
