<%= render(Primer::Box.new(display: :flex, direction: :column, test_selector: "org-role-row-component", **system_arguments)) do %>
  <org-role-row>
    <%= render(Primer::Box.new(display: :flex, align_items: :center, px: 3)) do %>
      <%= render(Primer::Beta::Octicon.new(icon: role.octicon, "aria-label": "#{role.name} icon", color: :muted)) %>
      <div class="d-flex flex-column flex-1 m-3">
        <%= render(Primer::Beta::Text.new(font_weight: :bold, font_size: 4)) { role.display_name } %>
        <%= render(Primer::Beta::Text.new(color: :muted)) { role.description } %>
      </div>
      <%= action_menu %>
      <span data-target="org-role-row.showDetailsButton">
        <%= render(Primer::Beta::IconButton.new(
          icon: :unfold,
          scheme: :invisible,
          aria: { label: "Show role permissions" },
          data: { action: "click:org-role-row#showDetails" },
        )) %> 
      </span>
      <span hidden data-target="org-role-row.hideDetailsButton">
        <%= render(Primer::Beta::IconButton.new(
          icon: :fold,
          scheme: :invisible,
          aria: { label: "Hide role permissions" },
          data: { action: "click:org-role-row#hideDetails" },
        )) %>
      </span>
    <% end %>

    <div data-target="org-role-row.permissionDetails" hidden class="d-flex pl-7 pr-3 pb-3" style="gap: 24px">
      <% if org_fgp_metadata.empty? && base_repo_role.nil? %>
        <%= render(Primer::Box.new(bg: :subtle, p: 3, border_radius: 2, flex: 1, text_align: :center, test_selector: "empty-state")) do %>
          <%= render(Primer::Beta::Text.new(color: :subtle)) { "No permissions added." } %>
        <% end %>
      <% else %>
        <% if org_fgp_metadata.present? %>
          <%= render(Primer::Box.new(bg: :subtle, p: 3, border_radius: 2, flex: 1, test_selector: "org-fgp-metadata")) do %>
            <%= render(Primer::Box.new(display: :flex, align_items: :center)) do %>
              <%= render(Primer::Beta::Octicon.new(icon: :organization, "aria-label": "Organization icon", mr: 2)) %>
              <%= render(Primer::Beta::Text.new(font_weight: :bold, font_size: 5)) { "Organization" } %>
            <% end %>
            <%= render(Primer::Box.new(ml: 4)) do %>
              <% org_fgp_metadata.each do |category, permissions| %>
                <%= render(Primer::Box.new(mt: 2)) do %>
                  <%= render(Primer::Beta::Text.new(font_size: 5)) { category } %>
                  <ul class="list-style-none">
                    <% permissions.each do |description| %>
                      <li>
                        <%= render(Primer::Beta::Text.new(color: :muted, ml: 3, font_size: 5)) { "• #{description}" } %>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if base_repo_role.present? %>
          <%= render(Primer::Box.new(bg: :subtle, p: 3, border_radius: 2, flex: 1, test_selector: "repo-fgp-metadata")) do %>
            <%= render(Primer::Box.new(display: :flex, align_items: :center)) do %>
              <%= render(Primer::Beta::Octicon.new(icon: :repo, "aria-label": "Repository icon", mr: 2)) %>
              <%= render(Primer::Beta::Text.new(font_weight: :bold, font_size: 5)) { "Repository" } %>
              <% if base_repo_role.present? %>
                <%= render(Primer::Box.new(flex: 1)) %>
                <%= render(Primer::Beta::Text.new(color: :muted, mr: 1)) { "Base repository role:" } %>
                <%= render(Primer::Beta::Label.new(scheme: :accent, inline: true)) { base_repo_role.display_name } %>
              <% end %>
            <% end %>
            <% if repo_fgp_metadata.present? %>
              <%= render(Primer::Beta::Text.new(
                color: :muted,
                ml: 4,
                font_size: 5,
                font_weight: :emphasized,
                test_selector: "base-repo-role-rollup",
              )) { "All #{base_repo_role.name} permissions plus..." } %>
              <%= render(Primer::Box.new(ml: 4)) do %>
                <% repo_fgp_metadata.each do |category, permissions| %>
                  <%= render(Primer::Box.new(mt: 1)) do %>
                    <%= render(Primer::Beta::Text.new(font_size: 5)) { category } %>
                    <ul class="list-style-none">
                      <% permissions.each do |description| %>
                        <li>
                          <%= render(Primer::Beta::Text.new(color: :muted, ml: 3, font_size: 5)) { "• #{description}" } %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <%= render(Primer::Box.new(ml: 4, test_selector: "base-repo-role-fgps")) do %>
                <% base_repo_role_fgp_metadata.each do |category, permissions| %>
                  <%= render(Primer::Box.new(mt: 2)) do %>
                    <%= render(Primer::Beta::Text.new(font_size: 5)) { category } %>
                    <ul class="list-style-none">
                      <% permissions.each do |description| %>
                        <li>
                          <%= render(Primer::Beta::Text.new(color: :muted, ml: 3, font_size: 5)) { "• #{description}" } %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </org-role-row>
<% end %>
