<%= render(Primer::Box.new(
  display: :flex,
  direction: :column,
  border: true,
  border_radius: 2,
  test_selector: "system-roles-component",
  **system_arguments,
)) do %>
  <% roles.each_with_index do |role, idx| %>
    <div class="<%= "border-top" unless idx == 0 %>">
      <% if role.name == "all_repo_read" %>
        <%= render(Primer::Box.new(display: :flex, align_items: :center, px: 3)) do %>
          <%= render(Primer::Beta::Octicon.new(icon: role.octicon, "aria-label": "#{role.name} icon", color: :muted)) %>
          <div class="d-flex flex-column m-3">
            <%= render(Primer::Beta::Text.new(font_weight: :bold, font_size: 4)) { role.display_name } %>
            <%= render(Primer::Beta::Text.new(color: :muted)) { role.description } %>
          </div>
        <% end %>
      <% else %>
        <%= render(OrgRoles::OrgRoleRowComponent.new(role: role)) %>
      <% end %>
    </div>
  <% end %>
<% end %>
