<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Box.new(
  classes: "Box",
  border_color: sponsors_listing.nil? ? :accent : nil,
  box_shadow: sponsors_listing ? :small : :medium,
  mb: 3,
  col: [12, nil, nil, 9],
  mx: :auto,
  p: 4,
  test_selector: "sponsors-account-card-#{display_login}",
) do %>
  <div class="d-flex flex-column flex-md-row flex-justify-between flex-items-center flex-md-items-start">
    <div class="d-flex flex-column flex-md-row flex-items-center flex-md-items-start">
      <% if sponsors_listing %>
        <%= render Sponsors::Sponsorables::LinkedAvatarComponent.new(
          sponsors_listing: sponsors_listing,
          avatar_size: 80,
        ) %>
      <% else %>
        <%= render Users::ProfileLinkComponent.new(user: account) do %>
          <%= render GitHub::AvatarComponent.new(actor: account, size: 80) %>
        <% end %>
      <% end %>

      <div class="ml-md-4 mt-3 mt-md-0 mr-md-3">
        <div class="text-center text-md-left mb-1">
          <span class="f3 text-bold v-align-middle"><%= link_author(account) %></span>
          <% if listing_state.present? && listing_state != :approved %>
            <%= render Sponsors::Dashboard::Overview::StatusLabelComponent.new(state: listing_state, ml: 2) %>
          <% end %>
          <% if show_country_of_residence_warning? %>
            <%= render Primer::Beta::Label.new(
              scheme: :danger,
              test_selector: "missing-country",
              ml: 2,
            ) do %>
              <%= primer_octicon(:alert) %>
              No country of residence
            <% end %>
          <% end %>
          <% if for_organization? %>
            <%= render Primer::Beta::Label.new(scheme: :secondary, ml: 2, title: "Label: Organization") do %>
              Organization
            <% end %>
          <% end %>
        </div>

        <div class="h4 text-normal text-center text-md-left">
          <%= description %>
        </div>

        <% if public_sponsors_listing? %>
          <div class="mt-4 d-flex flex-justify-center flex-md-justify-start">
            <p class="mr-3 mb-md-0">
              <span class="text-bold"><%= sponsors_count %></span>
              <span><%= "sponsor".pluralize(sponsors_count) %></span>
            </p>

            <p class="mr-3 mb-md-0">
              <span class="text-bold" <%= test_selector("funding-amount") %>><%= monthly_funding.format %></span>
              <span>per month</span>
            </p>

            <div class="clearfix">
              <% sponsors.each do |sponsor| %>
                <div class="mr-1 mb-1 float-left" style="width:20px;height:20px;">
                  <%= render Users::ProfileLinkComponent.new(user: sponsor) do %>
                    <%= render GitHub::AvatarComponent.new(actor: sponsor, size: 20) %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="flex-self-stretch flex-md-self-auto mt-4 mt-md-0">
      <%= render Primer::ButtonComponent.new(
        tag: :a,
        block: true,
        scheme: sponsors_listing ? :default : :primary,
        role: "button",
        href: action_button_url,
      ) do %>
        <%= action_button_text %>
      <% end %>
    </div>
  </div>
<% end %>
