<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%# `view` is an instance of Business::MemberInvitations::InviteeSuggestionsView %>

<% if view.suggestions? %>
  <% view.suggested_invitees.each do |user, suggested_invitee| %>
    <%= render Primer::Alpha::AutoComplete::Item.new(
      value: user.display_login,
      disabled: !suggested_invitee.item_enabled?,
      classes: "member-suggestion typeahead-result",
      "data-name": user.profile_name
    ) do %>
      <%= avatar_for(user, 24, :class => "avatar") %>
      <p class="member-suggestion-info">
        <strong class="member-login" <%= test_selector("invitee-suggestion-user") %>><%= user.display_login %></strong>
        <span class="member-name">
          <%= user.profile_name %>
        </span>
      </p>

      <% unless suggested_invitee.invitable? %>
        <p class="non-member-note text-small color-fg-muted"><%= suggested_invitee.uninvitable_reason_text %></p>
        <p class="non-member-action text-small color-fg-muted"><%= suggested_invitee.uninvitable_reason_text %></p>
      <% end %>

      <% if view.email_match?(user) %>
        <p class="member-email text-small color-fg-muted"><%= view.query %></p>
      <% end %>

      <%= suggested_invitee.octicon_html %>
    <% end %>
  <% end %>
<% elsif view.email_invitation? %>
  <%= render Primer::Alpha::AutoComplete::Item.new(
    value: view.query,
    classes: "member-suggestion email-suggestion typeahead-result"
  ) do %>
    <%= primer_octicon(:mail, mt: 1, float: :left, mr: 1) %>
    <p class="member-suggestion-info">
      <strong class="member-login" <%= test_selector("invitee-suggestion-email") %>><%= view.query %></strong>
      <span class="member-name">invite to <%= view.business.name %></span>
    </p>

    <%= primer_octicon(:plus, float: :right) %>
  <% end %>
<% end %>
