<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Experimental::Dialog.new(
  dialog_id: "block-country-dialog",
  header_variant: :large,
  width: :large,
  title: "Block country"
)) do |c| %>
  <% c.with_show_button(
    color: :danger,
    classes: "boxed-action"
  ) do |s| %>
    Block country
  <% end %>
  <% c.with_body do %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning)) { "Pay attention!" } %>

    <p>
      This will prevent public access to this gist from IPs seeming to originate from
      the given countries. All forks and their content will be blocked
      as well.
    </p>
    <% if view.gist.country_blocks.try(:any?) %>
      <h5>Existing blocks</h5>
      <% view.gist.country_blocks.each do |reason, url| %>
        <div class="d-flex py-1">
          <div class="flex-auto">
            <%= link_to GitRepositoryBlock::COUNTRY_BLOCK_DESCRIPTIONS[reason], url %>
          </div>
          <div>
            <%= form_tag country_block_stafftools_user_gist_path(view.user_param, view.gist),
                  :method => "delete", :class => "stafftools" do %>
              <%= hidden_field_tag :country_block, reason %>
              <%= render Primer::Beta::Button.new(
                type: :submit,
                size: :small,
                scheme: :danger,
                data: { "disable-with": "" }
              ) do %>
                Remove country block
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <h5>Add new block</h5>
    <%= form_tag country_block_stafftools_user_gist_path(view.user_param, view.gist),
          :class => "stafftools" do %>
      <p>
        Select the type of block for this gist.
        <%= select_tag :country_block, options_for_select(GitRepositoryBlock::COUNTRY_BLOCK_DESCRIPTIONS.invert) %>
      </p>
      <p>
        <dl class="form-group">
          <dt><label>Block reason</label></dt>
          <dd>
            <%= text_area_tag :country_block_reason,
              "",
              rows: 4,
              placeholder: "Reason for country block",
              required: true,
              aria_label: "Country block reason" %>
          </dd>
        </dl>
        <dl class="form-group">
          <dt><label>Block URL</label></dt>
          <dd><%= text_field_tag :country_block_url %></dd>
        </dl>
      </p>
      <div>
        <%= render Primer::Beta::Button.new(
          type: :submit,
          scheme: :danger,
          block: true,
          data: { "disable-with": "" }
        ) do %>
          Yes. Set up country block
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h4>Country specific block</h4>
<p>
  Block the gist in a specific country. It blocks
  public access for IP’s originating from a specific country.
</p>
