<% if view.deleted? %>
  <%= render(Primer::Experimental::Dialog.new(
    dialog_id: "restore-gist-dialog",
    header_variant: :large,
    width: :large,
    title: "Restore gist",
    form_url: restore_stafftools_user_gist_path(view.gist.user_param, view.gist),
    form_method: :post
  )) do |c| %>
    <% c.with_show_button(
      color: :danger,
      float: :right, ml: 2
    ) do |s| %>
      Restore this gist
    <% end %>
    <% c.with_body do %>
      <p>
        This will restore the gist and its comments.
        <strong>Are you certain?</strong>
      </p>
    <% end %>
    <% c.with_button(
      data: { "close-dialog-id": "restore-gist-dialog" }
    ) { "Cancel" } %>
    <% c.with_button(
      type: :submit,
      scheme: :danger,
      data: { "disable-with": "" }
    ) { "Restore" } %>
  <% end %>

  <h4>Restore gist</h4>
  <p>Restore this gist and all its related content.</p>
<% else %>
  <%= render(Primer::Experimental::Dialog.new(
    dialog_id: "delete-gist-dialog",
    header_variant: :large,
    width: :large,
    title: "Delete gist",
    form_url: stafftools_user_gist_path(view.user_param, view.gist),
    form_method: :delete
  )) do |c| %>
    <% c.with_show_button(
      color: :danger,
      float: :right, ml: 2
    ) do |s| %>
      Delete this gist
    <% end %>
    <% c.with_body do %>
      <p>
        This will delete the gist and its comments.
        <strong>Are you certain?</strong>
      </p>

      <% if !view.gist.active? %>
        <p>
          <strong>Note:</strong> This gist is already queued for archival.
          If gist is still archived after several minutes, please try
          deleting again.
        </p>
      <% end %>

      <dl class="form-group">
        <dt><label for="tos_reason">ToS violating reason</label></dt>
        <dd class="mt-2">
          <%= select_tag(
            :tos_reason,
            options_for_select(DsaConstants::TOS_MODERATION_REASON_OPTIONS),
            class: "input-block",
            required: true,
            include_blank: true
          ) %>
        </dd>
      </dl>

      <dl class="form-group">
        <dt><label for="content_formats">Format of violating content (select at least one)</label></dt>
        <dd>
          <%= render(Primer::Alpha::CheckBoxGroup.new(
            name: "content_formats",
            id: "content_formats")) do |c|
              DsaConstants::CONTENT_FORMAT_OPTIONS.each do |label, value|
                c.check_box(label:, value:)
              end
            end
          %>
        </dd>
      </dl>

      <dl class="form-group">
        <dt><label for="source">How was this content detected</label></dt>
        <dd>
          <%= select_tag(
            :source,
            options_for_select(DsaConstants::SOURCE_OPTIONS),
            class: "input-block",
            required: true
          ) %>
        </dd>
      </dl>
    <% end %>
    <% c.with_button(
      data: { "close-dialog-id": "delete-gist-dialog" }
    ) { "Cancel" } %>
    <% c.with_button(
      type: :submit,
      scheme: :danger,
      data: { "disable-with": "" }
    ) { "Delete gist" } %>
  <% end %>

  <h4>Delete gist</h4>
  <p>Delete this gist and all its related content.</p>
<% end %>
