<% page_info :title => view.page_title %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_header(font_weight: :bold) do %>
    <%= view.page_heading %>
  <% end %>
  <% if view.gists? %>
    <% view.gists.each do |gist| %>
      <% component.with_row do %>
          <%= primer_octicon(view.span_symbol(gist)) %>

          <%= link_to gist.name_with_owner, stafftools_user_gist_path(gist.user_param, gist), class: "Link--inTextBlock" %>
          last updated at <%= gist.updated_at.in_time_zone %>
      <% end %>
    <% end %>
  <% else %>
    <% component.with_body do %>
      <p>This user does not have any <%= view.gist_type %> gists.</p>
    <% end %>
  <% end %>
<% end %>

<% if view.paginatable? %>
  <div class="paginate-container">
    <%= will_paginate view.gists %>
  </div>
<% end %>
