<% page_info :title => view.page_title %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_header(font_weight: :bold) do %>
    <%= view.page_heading %>
  <% end %>
  <% if view.gists? %>
    <% view.gists.each do |gist| %>
      <% component.with_row do %>
        <span class="float-right">
          <small><%= gist.human_disk_usage %></small>

          <strong class='<%= view.route_classes gist %>'><%= view.route_display gist %></strong>
        </span>

        <%= primer_octicon(view.span_symbol(gist)) %>

        <%= link_to gist.name_with_owner, stafftools_user_gist_path(gist.user_param, gist), class: "Link--inTextBlock" %>
        <%= truncate (gist.description ? gist.description : gist.title), :length => 40 %>


        <% if gist.fork? %>
          <div class="text-small lh-condensed-ultra no-wrap">
            <% if gist.parent.nil? %>
              Fork parent missing
            <% else %>
              Forked from <%= gist.parent.name_with_owner %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% component.with_body do %>
      <p>This user does not have any <%= view.gist_type %> gists.</p>
    <% end %>
  <% end %>
<% end %>

<% if view.paginatable? %>
  <div class="paginate-container">
    <%= will_paginate view.gists %>
  </div>
<% end %>
