<% page_info :title => view.page_title, :selected_link => :stafftools_user_gists %>
<%# `view` is an instance of Stafftools::User::GistView %>
<%= render(Primer::Beta::BorderBox.new(classes: "summary", padding: :condensed, mb: 3)) do |component| %>
  <% component.with_header(font_weight: :bold) do %>
    Overview
  <% end %>

  <% component.with_row(classes: :clearfix) do %>
    <ul class="status-check-list">
      <%= view.db_state %>
      <%= view.git_state unless view.deleted? %>
      <%= view.fs_state %>
    </ul>

    <% if view.status_message.present? %>
      <p><strong><%= view.status_message %></strong></p>
    <% end %>

    <p>
      <div class="summary">
        <% if view.deleted? %>
          <%= render "stafftools/gists/deleted_summary", :view => view %>
        <% else %>
          <%= render "stafftools/gists/summary", :view => view %>
        <% end %>
      </div>
    </p>
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(classes: "summary", padding: :condensed, mb: 3)) do |component| %>
  <% component.with_header(font_weight: :bold) do %>
    Audit log
  <% end %>

  <% component.with_row do %>
    <h4>Search audit log</h4>
    <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
      <p>
        <%= link_to "Search logs",
              stafftools_audit_log_path(:query => view.audit_query), class: "Link--inTextBlock" %>
        for actions involving
        <strong><%= view.name %></strong>.
      </p>
    <% else %>
      <p><%= stafftools_not_authorized_html %></p>
    <% end %>
  <% end %>
<% end %>

<% unless view.deleted? %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
    <% component.with_header(font_weight: :bold) do %>
      Gist Repository
    <% end %>

    <% component.with_row do %>
      <%= form_tag schedule_maintenance_stafftools_user_gist_path(view.user_param, view.gist) do %>
        <%= render Primer::Beta::Button.new(type: :submit, float: :right, ml: 2) do %>Schedule<% end %>
      <% end %>
      <h4>Schedule maintenance</h4>
      <p>
        Run a maintenance job for this gist and update its status.
      </p>
    <% end %>

    <% unless view.marked_broken? %>
      <% component.with_row do %>
        <%= form_tag mark_as_broken_stafftools_user_gist_path(view.user_param, view.gist) do %>
          <%= render Primer::Beta::Button.new(type: :submit, float: :right, ml: 2) do %>Mark as broken<% end %>
        <% end %>
        <h4>Mark as broken</h4>res
        <p>
          Set the status of this gist to broken.
        </p>
      <% end %>
    <% end %>

    <% component.with_row do %>
      <% if view.gist.archive_resource_blocked? %>
        <%= form_tag unblock_archive_download_stafftools_user_gist_path(view.user_param, view.gist) do %>
          <%= render Primer::Beta::Button.new(type: :submit, float: :right, ml: 2) do %>
            Unblock
          <% end %>
        <% end %>
      <% else %>
        <%= form_tag block_archive_download_stafftools_user_gist_path(view.user_param, view.gist) do %>
          <%= render Primer::Beta::Button.new(type: :submit, float: :right, ml: 2) do %>
            Block
          <% end %>
        <% end %>
      <% end %>
      <h4>Block archive download</h4>
      <p>
          Block/unblock archive download for this gist.
      </p>
    <% end %>
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_header(font_weight: :bold, bg: :danger_emphasis, color: :on_emphasis, mb: 3) do %>
    Danger Zone
  <% end %>

  <% if view.dmca_and_country_blocking_enabled? %>
    <% component.with_row do %>
      <%= render "stafftools/gists/dmca_controls", :view => view %>
    <% end %>
    <% component.with_row do %>
      <%= render "stafftools/gists/country_block_controls", :view => view %>
    <% end %>
  <% end %>

  <% component.with_row do %>
    <%= render "stafftools/gists/delete_restore_controls", :view => view %>
  <% end %>
  <% if view.deleted? %>
    <% component.with_row do %>
      <%= render "stafftools/gists/purge_controls", :view => view %>
    <% end %>
  <% end %>
<% end %>
