<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% allow_enforcement = false unless local_assigns.has_key?(:allow_enforcement) %>
<% custom_default_enforced_by_owning_business = false unless local_assigns.has_key?(:custom_default_enforced_by_owning_business) %>
<% custom_default_enforced_by_self = false unless local_assigns.has_key?(:custom_default_enforced_by_self) %>

<%= form_with url: update_url,
              method: :put,
              class: "mt-2" do %>
  <auto-check src="<%= settings_user_default_branch_check_name_path %>" class="form-group" required>
    <input type="text" name="default_branch_name" class="form-control short"
      aria-label="Custom default branch"
      value="<%= has_custom_default ? current_default : "main" %>"
      <%= "data-required-change" if !allow_enforcement && has_custom_default %>
      <%= "disabled" if custom_default_enforced_by_owning_business %>>
    <%= csrf_hidden_input_for settings_user_default_branch_check_name_path %>
  </auto-check>
  <% if allow_enforcement %>
    <div class="form-checkbox mt-6">
      <label>
        <input type="checkbox" value="1" name="default_branch_enforce" <%= "checked" if custom_default_enforced_by_self %> aria-describedby="help-text-for-checkbox">
        Enforce across this enterprise
      </label>
      <p class="note" id="help-text-for-checkbox">
        Choose whether to enforce this default branch name across all organizations within this enterprise
      </p>
    </div>
  <% end %>
  <button type="submit" class="btn mr-2"
    <% if custom_default_enforced_by_owning_business %>disabled aria-describedby="disabled_message"<% end %>
    <% unless custom_default_enforced_by_owning_business %>data-disable-invalid data-disable-with="Updating…"<% end %>
  >Update</button>
  <% if custom_default_enforced_by_owning_business %>
    <p class="note" <%= test_selector("default-enforced-by-enterprise") %>>
      This default is enforced at the
      <% if url = current_org_enterprise_member_privileges_path %>
        <%= link_to "enterprise level", url, class: "Link--inTextBlock" %>.
      <% else %>
        enterprise level.
      <% end %>
    </p>
  <% end %>
<% end %>
