<%# erblint:counter DeprecatedComponentsCounter 3 %>
<template id="<%= template_dom_id %>" data-labelledby="<%= box_title_dom_id %>">
  <%# We need to do the dialog header manually since we don't have a GitHub::DialogComponent here %>
  <div class="Box-header">
    <%= render Primer::ButtonComponent.new(
      type: :button,
      float: :right,
      classes: "Box-btn-octicon btn-octicon",
      "aria-label": "Close dialog",
      "data-close-dialog": true,
    ) do %>
      <%= render Primer::Beta::Octicon.new(icon: "x") %>
    <% end %>
    <h2 class="Box-title" id="<%= box_title_dom_id %>">Delete list</h2>
  </div>
  <div class="Box-body">
    <p>Are you sure you want to delete this list?</p>
    <% if user_list.item_count.nonzero? %>
      <p>You will still be able to view the <%= pluralize(user_list.item_count, "repository") %> in this list in your
      stars.</p>
    <% end %>
    <div class="form-actions">
      <%= form_tag user_list_path(user_list.user_login, user_list), method: :delete do %>
        <%= render Primer::ButtonComponent.new(
          type: :submit,
          scheme: :danger,
        ).with_content("Delete") %>
      <% end %>
      <%= render Primer::ButtonComponent.new(
        type: :button,
        "data-close-dialog": true,
        mr: 2,
      ).with_content("Cancel") %>
    </div>
  </div>
</template>
