<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag(form_action_url, class: "Box-body d-flex flex-column p-3 js-user-list-form", method: form_method) do %>
  <% if prelude %>
    <%= prelude %>
  <% end %>
  <div class="<%= class_names(
    "form-group mx-0 mt-0 mb-2 js-user-list-input-container js-characters-remaining-container position-relative",
    "errored" => user_list.errors.key?(:name)
  ) %>">
    <auto-check src="<%= user_list_checks_src(attr: :name) %>" required>
      <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
        <input
          type="text"
          name="user_list[name]"
          class="form-control js-user-list-input js-characters-remaining-field"
          placeholder="⭐️ Name this list"
          value="<%= user_list.name || placeholder_name %>"
          aria-label="List name"
          maxlength="<%= UserList.name_character_limit %>"
          data-maxlength="<%= UserList.name_character_limit %>"
          autofocus
          required
        >
      </text-expander>
      <%= csrf_hidden_input_for user_list_checks_path(current_user, attr: :name) %>
    </auto-check>
    <p
      class="note error position-relative js-user-list-error"
      <%- unless user_list.errors.key?(:name) %> hidden<% end -%>
    >
      Name <%= user_list.errors.messages_for(:name).to_sentence %>.
    </p>
    <p class="mt-1 text-small float-right js-characters-remaining" data-suffix="remaining" hidden>
      <%= UserList.name_character_limit %> remaining
    </p>
  </div>
  <div class="<%= class_names(
    "form-group mx-0 mt-0 mb-2 js-user-list-input-container js-characters-remaining-container position-relative",
    "errored" => user_list.errors.key?(:description)
  ) %>">
    <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
      <textarea
        name="user_list[description]"
        class="form-control js-user-list-input js-characters-remaining-field"
        placeholder="Write a description"
        aria-label="List description"
        maxlength="<%= UserList.description_character_limit %>"
        data-maxlength="<%= UserList.description_character_limit %>"
        style="height: 74px; min-height: 74px"
      ><%= user_list.description %></textarea>
    </text-expander>
    <p
      class="note error position-relative js-user-list-error"
      <%- unless user_list.errors.key?(:description) %> hidden<% end -%>
    >
      Description <%= user_list.errors.messages_for(:description).to_sentence %>.
    </p>
    <p class="mt-1 text-small float-right js-characters-remaining" data-suffix="remaining" hidden>
      <%= UserList.description_character_limit %> remaining
    </p>
  </div>
  <%= render(Primer::Beta::Flash.new(
    scheme: :danger,
    hidden: !user_list.errors.key?(:base),
    mx: 0,
    mt: 0,
    mb: 2,
    classes: "js-user-list-base",
    "data-generic-message": "Unable to save your list at this time.",
  )) do %>
    <%= user_list.errors.messages_for(:base).to_sentence.capitalize %>.
  <% end %>
  <%= actions_list %>
  <p class="note mt-2 mb-0">
    <strong>Tip:</strong> type <code>:</code> to add emoji to the name or description.
  </p>
<% end %>
