<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
  classes: "Box my-1",
  container_classes: "my-3",
  resource_label: "repositories",
  cap_filter: cap_filter
) %>

<div class="my-3 d-flex flex-justify-between flex-items-center">
  <h2 class="f3-light">Lists <span class="color-fg-muted">(<%= user_lists.count %>)</span></h2>
  <div class="d-flex">
    <div class="mr-2"> <%= render UserLists::ProfileListsSortingDropdownComponent.new(user_lists: user_lists) %> </div>
      <% if mine? %>
        <% if can_create_lists? %>
          <%= render(UserLists::CreateDialogComponent.new) do |c| %>
            <% c.with_summary do %>
              <%= render(Primer::ButtonComponent.new(
                scheme: :primary,
                tag: :summary,
              ).with_content("Create list")) %>
            <% end %>
          <% end %>
        <% else %>
          <%= render(Primer::ButtonComponent.new(
            scheme: :primary,
            disabled: true,
            "aria-label": "Create list: You have the maximum number of lists",
            classes: "tooltipped tooltipped-n",
          ).with_content("Create list")) %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        <% end %>
    <% end %>
  </div>
</div>

<% if user_lists.any? %>
  <div id="profile-lists-container"><%= render UserLists::ProfileListsComponent.new(user_lists: user_lists) %></div>
<% elsif mine? %>
  <%= render(Primer::BlankslateComponent.new(icon: :star, spacious: true, title: "Create your first list", border: true, border_radius: 1)) do %>
    <div class="mt-3">
      Lists make it easier to organize and curate repositories that you have starred.
      <% if can_create_lists? %>
        <%= render(UserLists::CreateDialogComponent.new(details_classes: "d-inline-block text-left")) do |dialog| %>
          <% dialog.with_summary do %>
            <%= render(Primer::ButtonComponent.new(
              tag: :summary,
              scheme: :link,
            ).with_content("Create your first list.")) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render(UserLists::FeedbackComponent.new(mt: 3)) %>
