<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div
  class="js-user-list-menu-content-root js-social-updatable text-left"
  data-url="<%= update_url %>"
  data-batch-update-url="<%= batch_update_url %>"
  data-update-after-submit
>
  <%= csrf_hidden_input_for batch_update_url, class: "js-user-list-batch-update-csrf" %>
  <div class="d-flex flex-column" style="max-height: 360px">
    <% if filterable? %>
      <div class="SelectMenu-filter">
        <filter-input class="position-relative" aria-owns="filter-menu-user-list-<%= repository.id %>">
          <%= render(Primer::Beta::Octicon.new(
            display: :block,
            color: :muted,
            icon: :search,
            left: false,
            ml: 2,
            mt: 2,
            position: :absolute,
            top: false
          )) %>
          <input
            autofocus
            aria-owns="filter-menu-user-list-<%= repository.id %>"
            class="js-user-lists-menu-filter subnav-search-input width-full form-control"
            type="text"
            aria-label="Search lists"
            placeholder="Search lists"
            maxlength="<%= UserList.name_character_limit %>"
          >
        </filter-input>
      </div>
    <% end %>

    <% if show_blank_slate? %>
      <div class="SelectMenu-blankslate" <%= test_selector("empty") %>>
        You don't have any lists yet.
      </div>
    <% else %>
      <div class="SelectMenu-list flex-1 overflow-y-auto px-3 pb-2 mb-0">
        <%=
          form_tag(
            repo_user_lists_path(repository.owner_display_login, repository),
            method: :put,
            class: "js-user-list-menu-form",
          ) do
        %>
          <input type="hidden" name="repository_id" value="<%= repository.id %>">
          <input type="hidden" name="context" value="user_list_menu">
          <input type="hidden" name="list_ids[]" value="">

          <div id="filter-menu-user-list-<%= repository.id %>" role="list" data-filter-list aria-labelledby="user-lists-menu">
            <% with_each_list do |input_name, value, name_html, checked| %>
              <div class="form-checkbox mt-1 mb-0 p-1" role="listitem">
                <label class="d-flex">
                  <input
                    type="checkbox"
                    class="mx-0 js-user-list-menu-item"
                    name="<%= input_name %>"
                    value="<%= value %>"
                    <%= "checked" if checked %>
                  >
                  <%= render(Primer::Beta::Truncate.new(
                    ml: 2,
                    font_weight: :normal,
                    font_size: 5,
                    test_selector: "list-name",
                  ).with_content(name_html)) %>
                </label>
              </div>
            <% end %>

            <div class="SelectMenu-blankslate" data-filter-empty-state hidden>
              No results found.
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <footer class="SelectMenu-footer px-2">
    <%= render(Primer::ButtonComponent.new(
      block: true,
      text_align: :left,
      scheme: :invisible,
      font_weight: :normal,
      border_radius: 1,
      px: 2,
      disabled: !can_create_lists?,
      classes: "user-lists-menu-action js-user-lists-create-trigger",
      "data-repository-id": repository.id,
    )) do %>
      <%= primer_octicon(:plus, mr: 1) %>
      Create list
      <span class="js-user-list-create-trigger-text">
      </span>
    <% end %>
  </footer>
  <%= render(UserLists::CreateDialogTemplateComponent.new) %>
</div>
