<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay position-relative" id="user-lists-sort-options">
  <%= render Primer::ButtonComponent.new(tag: :summary, "aria-haspopup": "true") do %>
    <span>Sort</span>
    <span class="d-none" data-menu-button>
      <%= user_lists.sorting_strategy.to_human %>
    </span>
    <span class="dropdown-caret"></span>
  <% end %>
  <details-menu class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <span class="SelectMenu-title">Sort by</span>
        <button class="SelectMenu-closeButton" type="button" data-toggle-for="user-lists-sort-options"><%= render Primer::Beta::Octicon.new(icon: "x", aria: {label: "Close menu", hidden: false}) %></button>
      </header>
      <div class="SelectMenu-list">
        <% available_strategies.each do |strategy| %>
          <a class="SelectMenu-item" role="menuitemradio" aria-checked="<%= selected?(strategy) %>" href="<%= strategy_url(strategy) %>" data-pjax="#profile-lists-container">
            <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
            <%= strategy.to_human %>
          </a>
        <% end %>
      </div>
    </div>
  </details-menu>
</details>
