<a
  class="d-block Box-row Box-row--hover-gray mt-0 color-fg-default no-underline <%= classes %>"
  href="<%= user_list_href %>"
  <%= test_selector("user-list-row-#{user_list.id}") %>
>
  <div class="d-flex flex-row flex-items-baseline flex-justify-between">
    <h3 class="f4 text-bold no-wrap mr-3"><%= user_list.name_html %></h3>

    <% if user_list.description.present? %>
      <span class="Truncate flex-auto">
        <span class="Truncate-text color-fg-muted mr-3" <%= test_selector("description") %>>
          <%= user_list.description_html %>
        </span>
      </span>
    <% end %>

    <% unless item_count.zero? %>
      <div class="color-fg-muted text-small no-wrap" <%= test_selector("item-count") %>><%= pluralize(item_count, "repository") %></div>
    <% end %>
  </div>
</a>
