<%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
  classes: "Box my-1",
  container_classes: "mb-3",
  resource_label: "repositories",
  cap_filter: cap_filter
)%>

<a href="<%= user_path(list.user, params: { tab: :stars }) %>" class="d-flex flex-items-center mt-3 mb-2 text-semibold">
  <%= primer_octicon(:"chevron-left", mr: 2) %>
  Stars
</a>

<div class="my-3" <%= test_selector("list-header") %>>
  <div class="d-flex flex-justify-between flex-items-center mb-2">
    <% if mine? %>
      <h2><%= list.name_html %></h2>
      <div class="d-flex flex-items-center flex-justify-between">
        <%= render(UserLists::EditDialogComponent.new(user_list: list)) %>
      </div>
    <% else %>
      <h2><%= list.name_html %></h2>
    <% end %>
  </div>

  <% if list.description.present? %>
    <div class="f4 mt-2 mb-3" <%= test_selector("description") %>><%= list.description_html %></div>
  <% end %>

  <% if visible_item_count > 0 && !user_feature_enabled?(:user_list_feed) %>
    <div class="color-fg-muted"><%= primer_octicon(:repo, "aria-label": "Repositories in this list") %> <%= pluralize(visible_item_count, "repository") %></div>
  <% end %>
</div>

<% if visible_item_count.zero? %>
  <% if mine? %>
    <%# empty list, mine %>
    <%= render(Primer::Beta::Blankslate.new(
      spacious: true,
      border: true,
      border_radius: 1,
    )) do |c| %>
      <% c.with_visual_icon(icon: :telescope) %>

      <% c.with_heading(tag: :h2) do %>
        Add repositories to this list
      <% end %>

      <% c.with_description do %>
        Star repositories on GitHub to keep track of your favorite projects and inspirational code.
        <% unless hide_explore_link?  %>
          <a class="Link--inTextBlock" href="<%= explore_path %>">Explore repositories.</a>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%# empty list, thine %>
    <%= render Primer::Beta::Blankslate.new(spacious: true, border: true, border_radius: 1) do |c| %>
      <% c.with_visual_icon(icon: :star) %>

      <% c.with_heading(tag: :h2) do %>
        Nothing starred yet
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <% if user_list_feed_enabled? %>
    <%= render(Primer::Alpha::UnderlinePanels.new(label: "With panels")) do |component| %>
      <% component.with_tab(id: "tab-1", selected: true) do |tab| %>
        <% tab.with_text do %>
          <div>
            <%= primer_octicon(:repo, "aria-label": "Repositories in this list") %> <%= pluralize(visible_item_count, "repository") %>
          </div>
        <% end%>
        <% tab.with_panel do %>
          <div id="user-list-repositories">
            <%= render UserLists::ItemsComponent.new(
              list: list,
              page: page,
              visible_list_item_repositories: visible_list_item_repositories,
            ) %>
          </div>
        <% end %>
      <% end %>
      <% component.with_tab(id: "tab-2") do |tab| %>
        <% tab.with_text do %>
          <%= render(Primer::Beta::Octicon.new(icon: "rss", mr: 1)) %>
          Activity
        <% end %>
        <% tab.with_panel do %>
          <%= render partial: "dashboard/include_for_you_feed", locals: {
              url: user_list_activity_path(list.user, list.slug)
            }
          %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div id="user-list-repositories" class="border-top mt-5">
      <%= render UserLists::ItemsComponent.new(
        list: list,
        page: page,
        visible_list_item_repositories: visible_list_item_repositories,
      ) %>
    </div>
  <% end %>
<% end %>
