<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="d-flex" <%= test_selector("collection-row") %>>
  <div class="col-10 d-flex flex-items-center">
    <div>
      <a href="<%= show_url %>">
        <%= collection.name %>
      </a>

      <% if show_badges? %>
        <% unless collection.published? %>
          <%= render Primer::Beta::Label.new(
            title: "Draft",
            scheme: :secondary,
            mr: 1,
            test_selector: "collection-draft-badge",
          ) do %>
            <%= render(Primer::Beta::Octicon.new(icon: "pencil")) %> Draft
          <% end %>
        <% end %>

        <% if collection.featured? %>
          <%= render Primer::Beta::Label.new(
            title: "Featured",
            scheme: :success,
            test_selector: "collection-featured-badge",
          ) do %>
            <%= render(Primer::Beta::Octicon.new(icon: "person")) %> Featured
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-2 d-flex flex-justify-end">
    <% if collection.published? %>
      <% if collection.featured? %>
        <%= form_with url: form_url, method: :delete do %>
          <%= render(
              Primer::ButtonComponent.new(
                type: :submit,
                scheme: :danger,
                variant: :small,
                mr: 2,
              )
            ) { "Remove feature" } %>
        <% end %>
      <% else %>
        <%= form_with url: form_url, method: :put do %>
          <%= render Primer::ButtonComponent.new(type: :submit, variant: :small) do %>
            Feature
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render Primer::ButtonComponent.new(tag: :a, href: edit_url, variant: :small) do %>
      Edit
    <% end %>
  </div>
</div>
