<h2 class="h4 mb-3">
  <%= render Primer::Beta::Link.new(href: @href, classes: "Link--primary no-underline", display: :flex, align_items: :center) do %>
    <%= @title.pluralize(2) %>
    <% if @args[:limit] %>
      <%= render Primer::Beta::Counter.new(count: @count, hide_if_zero: true, limit: @args[:limit], ml: 1) %>
    <% else %>
      <%= render Primer::Beta::Counter.new(count: @count, hide_if_zero: true, ml: 1) %>
    <% end %>
  <% end %>
</h2>

<%= content %>

<% if more_items? %>
  <%= render Primer::Box.new(mt: 3) do %>
    <%= render Primer::Beta::Link.new(href: @href, text: :small, classes: "Link--inTextBlock", test_selector: "files-sidebar-list-more-items-link") do %>
    <% if @args[:limit] && @count >= @args[:limit] %>
      + more <%= @title.downcase.pluralize(@count - @max_count) %>
    <% else %>
      + <%= number_with_delimiter(@count - @max_count) %> <%= @title.downcase.pluralize(@count - @max_count) %>
    <% end %>
    <% end %>
  <% end %>
<% end %>
