<%= render Primer::BaseComponent.new(tag: :div, **system_arguments) do %>
  <div class="height-full border rounded-2 p-4">
    <%= render(Primer::Beta::Octicon.new(icon, size: :medium, color: :muted, mb: 2)) %>
    <h3 class="h4">
      <%= title %>
    </h3>
    <p class="color-fg-muted"><%= description %></p>
    <%= action %>
  </div>
<% end %>
