<% revocation_message_template = "Revoke %s's #{ form_field_name } access #{ "to this branch" if form_field_name != "vulnerability" }" %>
<% if actor.is_a?(Team) %>
  <div class="Box-row clearfix d-flex flex-items-center js-authorized-user-or-team" data-user-or-team-name="team/<%= actor.id %>">
    <%= primer_octicon(:people, height: 32, mr: 2, ml: 1, classes: "flex-shrink-0") %>
    <div class="flex-auto">
      <a href="<%= team_path(actor) %>" class="Link--primary color-fg-default js-protected-branch-pusher"><strong><%= actor %></strong></a>
      <div><%= pluralize(actor.members_scope_count, "member") %></div>
    </div>
    <div>
      <%= hidden_field_tag "#{form_field_name}_team_ids[]", actor.id, :id => nil %>
      <%= render Primer::Beta::IconButton.new(
        scheme: :invisible,
        float: :right,
        classes: "js-remove-authorized-user-or-team",
        "aria-label": revocation_message_template % actor,
        tooltip_direction: :nw,
        icon: "x"
      ) %>
    </div>
  </div>
<% elsif actor.is_a?(User) %>
  <div class="Box-row clearfix d-flex flex-items-center js-authorized-user-or-team" data-user-or-team-name="user/<%= actor.id %>">
    <%= linked_avatar_for(actor, 36, img_class: "avatar float-left mr-2", link_class: "Link--muted flex-shrink-0") %>
    <div class="flex-auto">
      <a href="<%= user_path(actor) %>" class="Link--primary color-fg-default js-protected-branch-pusher"><strong><%= actor %></strong></a>
      <div><%= actor.safe_profile_name %></div>
    </div>
    <div>
      <%= hidden_field_tag "#{form_field_name}_user_ids[]", actor.id, :id => nil %>
        <%= render Primer::Beta::IconButton.new(
          scheme: :invisible,
          float: :right,
          classes: "js-remove-authorized-user-or-team",
          "aria-label": revocation_message_template % actor,
          tooltip_direction: :nw,
          icon: "x"
        ) %>
    </div>
  </div>
<% elsif actor.is_a?(IntegrationInstallation) %>
  <% integration = actor.integration %>
  <div class="Box-row clearfix d-flex flex-items-center js-authorized-user-or-team" data-user-or-team-name="app/<%= integration.id %>">
    <%= oauth_application_logo(integration, 36, class: "avatar float-left mr-2 flex-shrink-0") %>
    <div class="flex-auto">
      <a href="<%= gh_edit_app_installation_path(integration, actor, current_user) %>" class="Link--primary color-fg-default js-protected-branch-pusher">
        <strong><%= integration.slug %></strong>
      </a>
      <div><%= integration.name %></div>
    </div>
    <div>
      <%= hidden_field_tag "#{form_field_name}_integration_ids[]", integration.id, :id => nil %>
      <%= render Primer::Beta::IconButton.new(
        scheme: :invisible,
        float: :right,
        classes: "js-remove-authorized-user-or-team",
        "aria-label": revocation_message_template % integration.name,
        tooltip_direction: :nw,
        icon: "x"
      ) %>
    </div>
  </div>
<% end %>
