<% suggestions.each do |suggestion| %>
  <% if suggestion.is_a?(User) %>
    <li role="option" class="autocomplete-item" data-autocomplete-value="user/<%= suggestion.id %>">
      <%= avatar_for(suggestion, 20, :class => "avatar") %> <%= suggestion %>
      <small class="text-normal"><%= suggestion.safe_profile_name %></small>
    </li>
  <% elsif suggestion.is_a?(Team) %>
    <li role="option" class="autocomplete-item" data-autocomplete-value="team/<%= suggestion.id %>">
      <%= primer_octicon(:people) %> <%= suggestion.combined_slug %>
    </li>
  <% elsif suggestion.is_a?(IntegrationInstallation) %>
    <% integration = suggestion.integration %>
    <li role="option" class="autocomplete-item" data-autocomplete-value="app/<%= integration.id %>">
      <%= oauth_application_logo(integration, 20, :class => "avatar") %> <%= integration.slug %>
      <small class="text-normal"><%= integration.name %></small>
    </li>
  <% end %>
<% end %>
