<p class="mb-3">
  Dear <%= @user_login %>,
</p>

<p class="mb-3">
  You’ve been granted access to <%= link_to "GitHub #{Copilot::ENTERPRISE_PRODUCT_NAME}", Copilot::COPILOT_FOR_ENTERPRISE_DOCUMENTATION %>
  (including <%= link_to "GitHub Copilot for Pull Requests", Copilot::COPILOT_FOR_PRS_DOCUMENTATION %> and <%= link_to "Copilot Chat", Copilot::COPILOT_DOTCOM_CHAT_DOCUMENTATION %>
   beta features by an administrator of the organization <%= link_to @organization_login, user_url(@organization_login) %>.
</p>

<ul>
  <li>
    <%= link_to "Get started with Copilot for Pull Requests", Copilot::COPILOT_FOR_PRS_DOCUMENTATION %>
  </li>
  <li>
    <%= link_to "Get started with Copilot Chat", Copilot::COPILOT_DOTCOM_CHAT_DOCUMENTATION %>
  </li>
</ul>

<p class="mb-3">
  This is a limited public beta release so you are likely to encounter some bugs and issues. Please send us feedback.
</p>

<ul>
  <li>
    <%= link_to "Report issues for Copilot for Pull Requests", "https://support.github.com/" %>
  </li>
  <li>
    <%= link_to "Report issues for Copilot Chat", "https://support.github.com/" %>
  </li>
</ul>

<p class="mb-3">
  For more information on setting up and using GitHub Copilot, visit the
  <%= link_to "feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or
  <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<% content_for :footer_text do %>
  <p>
    You are receiving this because you are the owner of the <%= link_to @user_login, user_url(@user_login) %> account.
  </p>
<% end %>
