<p class="mb-3">
  Your organization’s <span class="text-bold"><%= @organization.display_login %></span> <%= Copilot::COPILOT_IN_DOTCOM %> policy has been disabled.
</p>

<p class="mb-3">
  Your organization members lost access to these benefits:
</p>

<p class="mb-3">
  <%= link_to "GitHub #{Copilot::ENTERPRISE_PRODUCT_NAME} features", Copilot::COPILOT_FOR_ENTERPRISE_DOCUMENTATION %>
</p>

<p class="mb-0">
  To continue using GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %> features, you can
  <%= link_to "enable #{Copilot::COPILOT_IN_DOTCOM} policy", settings_org_copilot_policies_url(@organization) %>.
</p>

<%= render(
  Mail::ButtonComponent.new(
    text: "Set up #{Copilot::COPILOT_IN_DOTCOM} policy",
    url: settings_org_copilot_policies_url(@organization),
    classes: "btn-primary btn-medium my-4"
  )
) %>

<p class="text-gray-light">
  For more information on setting up and using GitHub Copilot <%= link_to "visit the Feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<% content_for :footer_text do %>
  <p class="text-gray-light">
    You are receiving this because you are an owner of the <%= @organization.display_login %> account.
  </p>
<% end %>
