<p class="mb-3">
  Your access for <%= link_to Copilot::ENTERPRISE_PRODUCT_NAME, Copilot::COPILOT_FOR_ENTERPRISE_DOCUMENTATION %>
  (including <%= link_to "GitHub Copilot for Pull Requests", Copilot::COPILOT_FOR_PRS_DOCUMENTATION %>, <%= link_to "Copilot Chat", Copilot::COPILOT_DOTCOM_CHAT_DOCUMENTATION %>
  on GitHub platform, and <%= link_to "knowledge base search", Copilot::COPILOT_DOCSET_MANAGEMENT %>) has been disabled by your <%= link_to "organization", user_url(@organization_login) %>.
</p>

<p class="mb-3">
  To continue using GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %> features, ask one of the administrators of your organization to grant you access.
</p>

<p class="mb-3">
  For more information on setting up and using GitHub Copilot, visit the
  <%= link_to "feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or
  <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<% content_for :footer_text do %>
  <p>
    You are receiving this because you are the owner of the <%= link_to @user_login, user_url(@user_login) %> account.
  </p>
<% end %>
