<% if @already_on_copilot_enterprise && !@mixed_licenses_feature_enabled %>
  <p class="mb-3">
    GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %> trial has expired for your organization <span class="text-bold"><%= @organization.display_login %></span> but you were upgraded to the paid version of GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %> by your enterprise <span class="text-bold"><%= @organization.business.name %></span>.
  </p>

  <p class="mb-3">
    This allows you to:
  </p>

  <ul>
    <li class="mb-3">Assign an unlimited number of seats to all or selected members of your organization</li>
    <li class="mb-3">Assign seats to teams</li>
    <li class="mb-0">Keep access to <%= link_to "#{Copilot::ENTERPRISE_PRODUCT_NAME} features", Copilot::COPILOT_FOR_ENTERPRISE_DOCUMENTATION %></li>
  </ul>

  <%= render(
    Mail::ButtonComponent.new(
      text: "Explore #{Copilot::ENTERPRISE_PRODUCT_NAME} in your organization",
      url: settings_org_copilot_policies_url(@organization),
      classes: "btn-primary btn-medium my-4"
    )
  ) %>
<% else %>
  <p class="mb-3">
    Your organization’s <span class="text-bold"><%= @organization.display_login %></span> GitHub Copilot trial has expired and your access has been downgraded to <%= Copilot.business_product_name %>.
  </p>

  <p class="mb-3">
    Your organization members lost access to these benefits:
  </p>

  <p class="mb-3">
    <%= link_to "GitHub #{Copilot::ENTERPRISE_PRODUCT_NAME} features", Copilot::COPILOT_FOR_ENTERPRISE_DOCUMENTATION %>
  </p>

  <% if @mixed_licenses_feature_enabled %>
    <p>
      To continue using GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %> features, please contact your enterprise administrator to upgrade to the full version
      or get in touch with a sales representative.
    </p>
  <% else %>
    <p class="mb-0">
      To continue using GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %> features, you can
      <%= link_to "upgrade to the full version of GitHub #{Copilot::ENTERPRISE_PRODUCT_NAME}", copilot_enterprise_signup_payment_url(enterprise: @organization.business) %>
      or get in touch with a sales representative.
    </p>

    <%= render(
      Mail::ButtonComponent.new(
        text: "Purchase #{Copilot::ENTERPRISE_PRODUCT_NAME}",
        url: copilot_enterprise_signup_payment_url(enterprise: @organization.business),
        classes: "btn-primary btn-medium my-4"
      )
    ) %>
  <% end %>
<% end %>

<p class="text-gray-light">
  For more information on setting up and using GitHub Copilot <%= link_to "visit the Feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<% content_for :footer_text do %>
  <p class="text-gray-light">
    You are receiving this because you are an owner of the <%= @organization.display_login %> account.
  </p>
<% end %>
