<p class="mb-3">
  Your organization <span class="text-bold"><%= @organization.display_login %></span> now has access to the GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %> trial. Your trial is limited to <%= @trial_length %> days.
</p>

<p class="mb-3">
  To continue using GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %> features after your trial ends,
  <% if @mixed_licenses_feature_enabled %>
    get in touch with a sales representative. If you don’t upgrade, you will be downgraded to <%= Copilot.business_product_name %> automatically.
  <% else %>
    either <%= link_to "upgrade to the full version of GitHub #{Copilot::ENTERPRISE_PRODUCT_NAME}", copilot_enterprise_signup_payment_url(enterprise: @organization.business) %> or get in touch with a sales representative. If you don’t upgrade, you will be downgraded to <%= Copilot.business_product_name %> automatically.
  <% end %>
</p>

<p class="mb-3">
  <%= link_to "Set up GitHub Copilot now", settings_org_copilot_policies_url(@organization) %> to configure your policies and start assigning seats to your organization memebers.
</p>

<p>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Set up GitHub Copilot",
      url: settings_org_copilot_policies_url(@organization),
      classes: "btn-primary btn-medium"
    )
  ) %>
</p>

<p class="text-gray-light mt-4">
  For more information on setting up and using GitHub Copilot <%= link_to "visit the Feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<% content_for :footer_text do %>
  <p class="text-gray-light">
    You are receiving this because you are the owner of <%= @organization.display_login %> account.
  </p>
<% end %>
