<p class="mb-3">
  We hope your organization members are enjoying GitHub Copilot. Your organization <span class="text-bold"><%= @organization.display_login %></span> still has access to the GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %> trial for another 5 days.
</p>

<p class="mb-3">
  To continue using GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %> features after your trial ends,
  <% if @mixed_licenses_feature_enabled %>
    get in touch with a sales representative. If you don’t upgrade, your access will be downgraded to <%= Copilot.business_product_name %> automatically.
  <% else %>
    either <%= link_to "upgrade to the full version of GitHub #{Copilot::ENTERPRISE_PRODUCT_NAME}", copilot_enterprise_signup_payment_url(enterprise: @organization.business) %> or get in touch with a sales representative. If you don’t upgrade, your access will be downgraded to <%= Copilot.business_product_name %> automatically.
  <% end %>
</p>

<p class="mb-3">
  Upgrading to the paid version of GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %> will allow you to:
</p>

<ul>
  <li class="mb-3">Assign an unlimited number of seats to all or selected members of your organization</li>
  <li class="mb-3">Assign seats to teams</li>
  <li class="mb-0">Keep access to <%= link_to "#{Copilot::ENTERPRISE_PRODUCT_NAME} features", Copilot::COPILOT_FOR_ENTERPRISE_DOCUMENTATION %></li>
</ul>

<%= render(
  Mail::ButtonComponent.new(
    text: "Learn more about GitHub Copilot",
    url: Copilot::COPILOT_DOCUMENTATION,
    classes: "btn-primary btn-medium my-4"
  )
) %>

<p class="text-gray-light">
  For more information on setting up and using GitHub Copilot <%= link_to "visit the Feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<% content_for :footer_text do %>
  <p class="text-gray-light">
    You are receiving this because you are the owner of <%= @organization.display_login %> account.
  </p>
<% end %>
