<p>
  Dear <%= @user.display_login %>,
</p>

<p>
  You’ve been granted access to <%= link_to "GitHub #{Copilot::ENTERPRISE_PRODUCT_NAME}", Copilot::COPILOT_FOR_ENTERPRISE_DOCUMENTATION %>
  (including <%= link_to "Copilot pull requests summaries", Copilot::COPILOT_FOR_PRS_DOCUMENTATION %>
  and <%= link_to "Copilot Chat", Copilot::COPILOT_CHAT_EDITOR_DOCS %>) features by an administrator of
  the organization <strong><%= @organization.display_login %></strong><%= " via a #{Copilot::ENTERPRISE_PRODUCT_NAME} trial" if @has_trial %>.
</p>

<ul>
  <li><%= link_to "Get started with Copilot for Pull Requests", Copilot::COPILOT_FOR_PRS_DOCUMENTATION %></li>
  <li><%= link_to "Get started with Copilot Chat", Copilot::COPILOT_CHAT_EDITOR_DOCS %></li>
</ul>

<p>
  Access video tutorials:
</p>

<ul>
  <li>
    <%= link_to "Create PR Summaries", Copilot::COPILOT_FOR_PRS_TUTORIAL_VIDEO %>
  </li>
  <li>
    <%= link_to "Use Natural Language with #{Copilot::ENTERPRISE_PRODUCT_NAME}", Copilot::COPILOT_CHAT_TUTORIAL_VIDEO %>
  </li>
</ul>

<p class="text-gray-light">
  For more information on setting up and using GitHub Copilot <%= link_to "visit the Feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<p class="text-gray-light">
  The organization granting you this GitHub Copilot license will
  receive <%= link_to "user engagement data", Copilot::COPILOT_TRUST_CENTER_PRIVACY %> for all activities associated
  with this account. For more information,
  please review <%= link_to "GitHub's Privacy Statement", Copilot::github_general_privacy_statement_url %>.
</p>

<% content_for :footer_text do %>
  <p class="text-gray-light">
    You are receiving this because you are a member of <%= @organization.display_login %> account.
  </p>
<% end %>
