<p>
  Dear <%= @user.display_login %>,
</p>

<p>
  You’ve been granted access to GitHub Copilot by an administrator of the organization <strong><%= @organization.display_login %></strong>. Your plan includes features such as <%= link_to "Copilot pull requests summaries", Copilot::COPILOT_FOR_PRS_DOCUMENTATION %> and <%= link_to "Copilot Chat", Copilot::COPILOT_CHAT_EDITOR_DOCS %>.
</p>

<ul>
  <li><%= link_to "Get started with Copilot for Pull Requests", Copilot::COPILOT_FOR_PRS_DOCUMENTATION %></li>
  <li><%= link_to "Get started with Copilot Chat", Copilot::COPILOT_CHAT_EDITOR_DOCS %></li>
</ul>

<p>
  You need to install the extension to start using GitHub Copilot. Check out these Getting Started guides to install it in your preferred code editor:
</p>

<ul>
  <li>
    <%= link_to "Visual Studio Code", "https://docs.github.com/copilot/getting-started-with-github-copilot?tool=vscode" %>
  </li>
  <li>
    <%= link_to "Visual Studio", "https://docs.github.com/copilot/getting-started-with-github-copilot?tool=visualstudio" %>
  </li>
  <li>
    <%= link_to "JetBrains", "https://docs.github.com/copilot/getting-started-with-github-copilot?tool=jetbrains" %>
  </li>
  <li>
    <%= link_to "Neovim", "https://docs.github.com/copilot/getting-started-with-github-copilot?tool=vimneovim" %>
  </li>
</ul>

<p>
  Access video tutorials:
</p>

<ul>
  <li>
    <%= link_to "Create PR Summaries", Copilot::COPILOT_FOR_PRS_TUTORIAL_VIDEO %>
  </li>
  <li>
    <%= link_to "Use Natural Language with #{Copilot::ENTERPRISE_PRODUCT_NAME}", Copilot::COPILOT_CHAT_TUTORIAL_VIDEO %>
  </li>
</ul>

<p>
  If you have the extension already installed for your code editor and have it
  open, please restart your editor in order to access GitHub Copilot.
</p>

<p>
  Don’t see your code editor? We currently only support the editors listed
  above. We’re constantly looking to expand the editors we support, so stay
  tuned.
</p>

<p class="text-gray-light">
  For more information on setting up and using GitHub Copilot <%= link_to "visit the Feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<p class="text-gray-light">
  If an organization, such as a school or employer, issued you this GitHub Copilot license, that organization will
  receive <%= link_to "user engagement data", Copilot::COPILOT_TRUST_CENTER_PRIVACY %> for all activities associated
  with this account. For more information,
  please review <%= link_to "GitHub's Privacy Statement", Copilot::github_general_privacy_statement_url %>.
</p>

<% content_for :footer_text do %>
  <p class="text-gray-light">
    You are receiving this because you are a member of <%= @organization.display_login %> account.
  </p>
<% end %>
