<p>
  The administrator of the enterprise <strong><%= @organization.business.name %></strong> granted your organization <strong><%= @organization.display_login %></strong> access to GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %>.
</p>

<p>
  <%= link_to "Set up GitHub Copilot", settings_org_copilot_policies_url(@organization) %> to configure your policies and start assigning seats to your organization members and teams.
</p>

<p>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Start assigning seats",
      url: settings_org_copilot_seat_management_url(@organization),
      classes: "btn-primary btn-medium mt-3 mb-4"
    )
  ) %>
</p>

<p class="text-gray-light">
  For more information on setting up and using GitHub Copilot <%= link_to "visit the Feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<% content_for :footer_text do %>
  <p class="text-gray-light">
    You are receiving this because you are the administrator of <%= @organization.display_login %> account.
  </p>
<% end %>
