<p>
  Your enterprise <strong><%= @business.name %></strong> is now set to GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %>. As an administrator of this Enterprise you are now able to:
</p>

<ul>
  <li><%= link_to "Manage which organizations have access to GitHub Copilot", settings_copilot_enterprise_url(@business) %></li>
  <li><%= link_to "Manage your enterprise policies", settings_copilot_enterprise_url(@business, tab: "policies") %></li>
  <li><%= link_to "Enabled features", settings_copilot_enterprise_url(@business, tab: "policies") %></li>
  <li><%= link_to "Review payment details", settings_billing_enterprise_url(@business) %></li>
</ul>

<p>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Go to Enterprise page",
      url: settings_copilot_enterprise_url(@business, tab: "policies"),
      classes: "btn-primary btn-medium mb-4"
    )
  ) %>
</p>

<p class="text-gray-light">
  For more information on setting up and using GitHub Copilot <%= link_to "visit the Feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or <%= link_to "read the documentation", Copilot::COPILOT_DOCUMENTATION %>.
</p>

<% content_for :footer_text do %>
  <p class="text-gray-light">
    You are receiving this because you are the administrator of <%= @business.name %> account.
  </p>
<% end %>
