<%# rubocop:disable Lint/InstanceVariable %>
<html>
<head>
  <meta charset="utf-8">
  <title>OctoCaptcha</title>
  <%= controller_javascript_bundles %>
  <%= javascript_bundle 'octocaptcha' %>

  <% if @client_api_v2 %>
    <script type="text/javascript" src="https://github-api.arkoselabs.com/v2/<%= @public_key %>/api.js" data-callback="loadFunCaptchaV2" async defer></script>
  <% else %>
    <script type="text/javascript" src="https://api.funcaptcha.com/fc/api/?onload=loadFunCaptcha" async defer></script>
  <% end %>
</head>

<body style="margin: 0px">
  <div id="funcaptcha"
       data-title="Please verify by completing this captcha."
       data-pkey="<%= @public_key %>"
       data-target-origin="<%= @target_origin %>"
       data-origin-page="<%= @origin_page %>"
       data-require-ack="<%= @require_ack %>"
       data-version="<%= @version %>"
       data-data-exchange-payload="<%= @data_exchange_payload %>"
  >
  </div>

  <% if @nojs %>
    <noscript>
      <iframe
        title="Verify with Captcha"
        src="https://api.funcaptcha.com/fc/api/nojs/?pkey=<%= GitHub.funcaptcha_public_key %>"
        style="height:410px; width:305px; border: 0;"
      >
      </iframe>
    </noscript>
  <% end %>
</body>

</html>
