<%= render Primer::Alpha::Dialog.new(title: "Delete webhook?", id: dialog_id) do |dialog| %>
  <% dialog.with_body do %>
    <%= render Primer::Alpha::Banner.new(scheme: :danger, my: 3) do %>
      <strong>Warning: This action cannot be undone.</strong>
    <% end %>
    Future events will no longer be delivered to this webhook (<span class="text-mono"><%= hook.url %></span>).
  <% end %>
  <% dialog.with_footer do %>
    <%= render Primer::Beta::Button.new(data: { "close-dialog-id": dialog_id }).with_content("Cancel") %>
    <%= form_with(url: form_url, method: :delete) do %>
      <%= render Primer::Beta::Button.new(scheme: :danger, type: :submit).with_content("Yes, delete webhook") %>
    <% end %>
  <% end %>
<% end %>
