<% if show_secret_banner? %>
  <edit-hook-secret <%= test_selector("hidden-secret-element") %>>
    <template data-target="edit-hook-secret.editTemplate">
      <div class="d-flex flex-justify-between flex-items-center">
        <%= render Primer::Alpha::TextField.new(
          name: "hook[secret]",
          label: "Secret",
          autocomplete: "off",
          placeholder: "Leave blank to remove secret",
          caption: "We recommend providing a secret to use when validating the signature of your hook payloads.",
        ) %>
        <%= render Primer::Beta::Button.new(
          ml: 2,
          data: { action: "click:edit-hook-secret#toggleView" },
        ).with_content("Cancel") %>
      </div>
    </template>

    <%= render(Primer::Alpha::Banner.new(icon: :info, data: { target: "edit-hook-secret.view" })) do %>
      <p>There is currently a secret configured for this webhook. If you've lost or forgotten this secret,
      you can change it, but be aware that any integrations using this secret will need to be updated.</p>
      <%= render Primer::Beta::Button.new(
        data: { action: "click:edit-hook-secret#toggleView" },
      ).with_content("Change secret") %>
    <% end %>
  </edit-hook-secret>
<% else %>
  <div <%= test_selector("hook-secret-element")%>>
    <%= render Primer::Alpha::TextField.new(
      name: "hook[secret]",
      label: "Secret",
      autocomplete: "off",
      value:  hook.secret,
      caption: "We recommend providing a secret to use when validating the signature of your hook payloads.",
      validation_message: hook.errors[:secret].to_sentence.presence,
    ) %>
  </div>
<% end %>
