<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "IP allow list", selected_link: :ip_allowlist %>

<%= render Primer::Beta::Subhead.new do |component| %>
	<% component.with_heading(tag: :h2) do %>IP allow list<% end %>
<% end %>
<p class="color-fg-muted" <%= test_selector "ip-allow-list-enabled" %>>
  <% if organization.ip_allowlist_enabled? %>
    <%= primer_octicon(:lock, mr: 2) %>
    IP allow list is <strong>enabled</strong> for this
    <% if organization.ip_allowlist_enabled_policy? %>
      organization because IP allow list is <strong>enabled</strong> on the
      <%= link_to(
        "#{organization.business.name} enterprise",
        stafftools_enterprise_path(organization.business),
        class: "Link--inTextBlock"
      ) %>.
    <% else %>
      organization.
    <% end %>
  <% else %>
    <%= primer_octicon(:x, mr: 2) %>
    IP allow list is <strong>disabled</strong> for this organization.
  <% end %>
</p>

<p class="color-fg-muted" <%= test_selector "ip-allow-list-apps-configuration-enabled" %>>
  <% if organization.ip_allowlist_app_access_enabled? %>
    <%= primer_octicon(:lock, mr: 2) %>
    IP allow list configuration for installed GitHub Apps is <strong>enabled</strong> for this
    <% if organization.ip_allowlist_app_access_enabled_policy? %>
      organization because IP allow list configuration for installed GitHub Apps is
      <strong>enabled</strong> on the
      <%= link_to(
        "#{organization.business.name} enterprise",
        stafftools_enterprise_path(organization.business),
        class: "Link--inTextBlock"
      ) %>.
    <% else %>
      organization.
    <% end %>
  <% else %>
    <%= primer_octicon(:x, mr: 2) %>
    IP allow list configuration for installed GitHub Apps is <strong>disabled</strong> for this
    organization.
  <% end %>
</p>

<% if organization.ip_allowlist_enabled? && !organization.ip_allowlist_enabled_policy? %>
  <div class="Box Box--danger mt-3 mb-4">
    <div class="Box-row">
      <%= render(
        layout: "shared/details_dialog",
        locals: {
          button_text: "Disable IP allow list",
          button_class: "btn btn-danger",
          details_class: "float-right mt-1",
          title: "Disable IP allow list?",
        },
      ) do %>
        <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
          Please ensure appropriate authorization has been obtained before disabling the IP allow
          list.
        <% end %>
        <div class="Box-body overflow-auto">
          <p>
            If the IP allow list is disabled, it will need to be manually re-enabled by an
            organization owner.
          </p>
          <%= form_tag stafftools_user_ip_allowlist_path(organization), method: :delete do %>
            <dl class="form-group">
              <dt><label for="reason">Reason for disabling</label></dt>
              <dd>
                <input class="form-control" type="text" name="reason" id="reason"
                  placeholder="Please provide an explanation for the audit log." autofocus>
              </dd>
            </dl>
            <%= render Primer::ButtonComponent.new(
              type: :submit,
              block: true,
              scheme: :danger,
            ) do %>
              Disable IP allow list
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="listgroup-item-title">Disable IP allow list</div>
      <div class="listgroup-item-body">
        This will completely disable the IP allow list configured for the organization. Please be
        certain.
      </div>
    </div>
  </div>
<% end %>

<%= render IpAllowlistChecks::FormComponent.new(
  owner_type: :organization,
  owner_id: organization.id) %>

<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search IP allow list entries",
  form_url: stafftools_user_ip_allowlist_path(organization),
  query_placeholder: "Search by IP or description"
) %>

<% if ip_allowlist_entries.any? || installed_app_ip_allowlist_entries.any? %>
  <div class="Box">
    <% ip_allowlist_entries.each do |entry| %>
      <div class="Box-row d-flex flex-items-center">
        <div class="flex-auto">
          <p>
            <strong><%= entry.allow_list_value %></strong>
            <% if entry.active? %>
              <%= render Primer::Beta::Label.new(
                ml: 2,
                scheme: :success,
                title: "Label: Is enabled",
              ) do %>
                Enabled
              <% end %>
            <% else %>
              <%= render Primer::Beta::Label.new(
                ml: 2,
                scheme: :secondary,
                title: "Label: Is disabled",
              ) do %>
                Disabled
              <% end %>
            <% end %>
          </p>
          <p><%= entry.name %></p>
          <% if entry.owner != organization %>
            <p class="color-fg-muted f6 mb-1">
              Managed by the
              <%= link_to(
                entry.owner_name_and_type,
                stafftools_enterprise_path(organization.business),
                class: "Link--inTextBlock"
              ) %>
            </p>
          <% end %>
          <p class="color-fg-muted f6 mb-0">
            Added
            <relative-time prefix="" threshold="PT0S" datetime="<%= entry.created_at.utc.iso8601 %>">
              <%= entry.created_at.strftime("%b %-d, %Y") %>
            </relative-time>
          </p>
        </div>
      </div>
    <% end %>

    <% installed_app_ip_allowlist_entries.each do |entry| %>
      <div
        class="Box-row d-flex flex-items-center"
        <%= test_selector "ip-allow-list-app-entry-#{entry.id}" %>
      >
        <div class="flex-auto">
          <p>
            <strong><%= entry.allow_list_value %></strong>
            <% if !organization.ip_allowlist_app_access_enabled? || !entry.active? %>
              <%= render Primer::Beta::Label.new(
                ml: 2,
                scheme: :secondary,
                title: "Label: Is disabled",
              ) do %>
                Disabled
              <% end %>
            <% else %>
              <%= render Primer::Beta::Label.new(
                ml: 2,
                scheme: :success,
                title: "Label: Is enabled",
              ) do %>
                Enabled
              <% end %>
            <% end %>
          </p>
          <p><%= entry.name %></p>
          <p class="color-fg-muted f6 mb-1">
            Managed by the
            <%= link_to(
              entry.owner_name_and_type,
              stafftools_user_app_path(entry.owner.owner, entry.owner),
              class: "Link--inTextBlock"
            ) %>
          </p>
          <p class="color-fg-muted f6 mb-0">
            Added
            <relative-time prefix="" threshold="PT0S" datetime="<%= entry.created_at.utc.iso8601 %>">
              <%= entry.created_at.strftime("%b %-d, %Y") %>
            </relative-time>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="paginate-container">
    <%= will_paginate ip_allowlist_entries %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |bs| %>
    <% bs.with_heading(tag: :h3) do %>
      No IP allow list entries
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      for this organization.
    <% end %>
  <% end %>
<% end %>
