<% child_listings.each_slice(2) do |child_listings_slice| %>
  <div class="d-flex flex-wrap flex-justify-between">
    <% child_listings_slice.each_with_index do |child_listing, i| %>
      <%
        child_sponsorable = child_listing.sponsorable
        sponsor_count = sponsor_counts[child_listing.id]
        hovercard_attrs = if child_sponsorable.organization?
          hovercard_data_attributes_for_org(login: child_sponsorable.display_login)
        else
          hovercard_data_attributes_for_user(child_sponsorable)
        end
      %>
      <div class="d-flex" style="width: 49%; margin-bottom: 2%;">
        <div class="p-3 border color-border-default rounded-2 width-full">
          <div class="d-flex">
            <div>
              <%= render Sponsors::Sponsorables::LinkedAvatarComponent.new(
                sponsors_listing: child_listing,
                avatar_size: 48,
              ) %>
            </div>
            <div class="pl-3">
              <p class="m-0 f4 mb-1">
                <%= link_to sponsorable_path(child_sponsorable), data: hovercard_attrs do %>
                  @<%= child_sponsorable %>
                  <% unless child_sponsorable.profile_name == child_sponsorable.login %>
                    <span class="ml-1 color-fg-muted text-small text-normal"><%= child_sponsorable.profile_name %></span>
                  <% end %>
                <% end %>
              </p>
              <div class="text-small color-fg-muted">
                <%= link_to sponsorable_path(child_sponsorable), class: "Link--secondary" do %>
                  <%= social_count sponsor_count %>
                  <%= "sponsor".pluralize(sponsor_count) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if child_listings.total_pages > 1 %>
  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate child_listings %>
  </div>
<% end %>
