<%= render layout: "sponsors/dashboards/layout", locals: { sponsors_listing: sponsors_listing, selected_tab: :fiscal_host } do %>
  <%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center, flex: :auto) do |component| %>
    <% component.with_heading(tag: :h2) do %>Fiscal host<% end %>
  <% end %>

  <%= form_with url: sponsorable_dashboard_fiscal_host_transaction_exports_path, class: "d-flex flex-items-end" do |f| %>
    <dl class="form-group">
      <dt>
        <h5>Export transaction history</h5>
        <p class="note">
          Export transactions for the organizations using your fiscal host in the requested timeframe.
        </p>
        <p class="note my-2">
          We'll send you an email to <strong><%= sponsors_listing.contact_email_address %></strong>
          with the export attached when it's done.<br>
          Not the right email? Update your <%= link_to "contact email settings", sponsorable_dashboard_settings_path(sponsorable), class: "Link--inTextBlock" %>.
        </p>
      </dt>
      <dd>
        <%= f.label(:timeframe, "Timeframe", for: "transactions-timeframe", class: "mr-2") %>
        <%= f.select(:timeframe, [["All-time", "all"], ["Past Month", "month"]], {}, class: "form-control short", id: "transactions-timeframe") %>
        <%= f.submit("Export", class: "btn") %>
      </dd>
    </dl>

    <hr class="bleed-flush">
  <% end %>

  <h5>Export payouts history</h5>
  <p class="note">
    Export payouts for the organizations using your fiscal host.
  </p>
  <p class="note my-2">
    We'll send you an email to <strong><%= sponsors_listing.contact_email_address %></strong>
    with the export attached when it's done.<br>
    Not the right email? Update your <%= link_to "contact email settings", sponsorable_dashboard_settings_path(sponsorable), class: "Link--inTextBlock" %>.
  </p>
  <include-fragment src="<%= sponsorable_dashboard_fiscal_host_payout_exports_path %>" preload aria-label="Fetching payouts...">
    <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
  </include-fragment>

  <hr class="bleed-flush">

  <% if child_listings.any? %>
    <%= render Primer::Beta::Subhead.new(mt: 6) do |component| %>
      <% component.with_heading(tag: :h2) do %>
        Organizations using @<%= sponsorable %>
        <%= render(Primer::Beta::Counter.new(count: child_listings.total_entries, vertical_align: :middle)) %>
        <%= form_with url: sponsorable_dashboard_fiscal_host_orgs_exports_path, method: :post, class: "d-inline" do |f| %>
          <%= f.submit("Export", class: "btn") %>
        <% end %>
      <% end %>
    <% end %>
    <div class="d-flex flex-column mb-6" id="child-listings-container">
      <%= render "sponsors/fiscal_hosts/child_listings",
        child_listings: child_listings, sponsor_counts: child_listing_sponsor_counts %>
    </div>
  <% end %>
<% end%>
