<%# rubocop:disable Lint/InstanceVariable %>
<% if results.package_types.any? %>
  <div class="border rounded-2 p-3 mb-3 d-none d-md-block">
    <h2 class="f5 mb-2">
      Package types
    </h2>
    <ul class="filter-list small" data-pjax>
      <% results.package_types.each do |aggregation| %>
        <%- this_link = aggregation.term.to_s.downcase == @package_type.to_s.downcase -%>
        <li>
          <% if aggregation.percentage > 2 %>
            <span class="bar" style="width: <%= aggregation.percentage %>%;"></span>
          <% else %>
            <span class="bar" style="width: 4px;"></span>
          <% end %>

          <% if this_link %>
            <%= link_to link_to_search(
              :package_type => nil,
              :p => nil,
              :s => params[:s],
              :o => params[:o]),
              :class => "filter-item selected" do %>
              <%= primer_octicon(:x, float: :right) %>
              <%= aggregation.term.capitalize %>
              <% end %>
          <% else %>
            <%= link_to link_to_search(
              :package_type => aggregation.term,
              :p => nil,
              :s => params[:s],
              :o => params[:o]),
              :class => "filter-item" do %>
              <span class="count"><%= number_with_delimiter(aggregation.count) %></span>
              <%= aggregation.term.capitalize %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="px-2 pt-2 d-flex d-md-none flex-items-center">
    <label for="codesearch_select_package_type" class="col-4 text-small px-2">Package type</label>
    <%= render(Primer::Alpha::Dropdown.new(mr: 2, col: 9, id: "codesearch_select_package_type")) do |c| %>
      <% c.with_button(dropdown: true, w: :full) do %>
        <%= @package_type.nil? ? "Any" : @package_type.capitalize %>
        <%= render(Primer::Beta::Octicon.new(:"triangle-down", float: :right)) %>
      <% end %>

      <% c.with_menu do |menu| %>
        <%= menu.with_item(href: link_to_search(package_type: nil, p: nil, s: params[:s], o: params[:o])) { "Any" } %>
        <% results.package_types.each do |aggregation| %>
        <%-
          this_link = aggregation.term.to_s.downcase == @package_type.to_s.downcase
          package_type = this_link ? nil : aggregation.term
        -%>
          <%= menu.with_item(href: link_to_search(package_type: package_type, p: nil, s: params[:s], o: params[:o])) { aggregation.term.capitalize } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<!-- Put sort options in filter area on small screens  -->
<% if results.total > 10 %>
  <%
    sort = params[:s] || packages_search_sort_fields.first
    direction = params[:o] || search_sort_directions.first
    sort_label = packages_search_sort_labels[[sort, direction]]
  %>
  <div class="px-2 pt-2 d-flex d-md-none flex-items-center">
    <label for="codesearch_sort_packages" class="col-4 text-small px-2">Sort</label>
    <%= render(Primer::Alpha::Dropdown.new(mr: 2, col: 9, id: "codesearch_sort_packages")) do |c| %>
      <% c.with_button(dropdown: true, w: :full) do %>
        <%= sort_label %>
        <%= render(Primer::Beta::Octicon.new(:"triangle-down", float: :right)) %>
      <% end %>

      <% c.with_menu do |menu| %>
        <% packages_search_sort_fields.product(search_sort_directions).each do |field, dir| %>
        <% if (option_label = packages_search_sort_labels[[field, dir]]) %>
            <%= menu.with_item(href: link_to_sorted_search([field, dir])) { option_label } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
