<%# rubocop:disable Lint/InstanceVariable %>
<% if results.languages.any? %>
  <div class="border rounded-2 p-3 mb-3 <% if responsive? %>d-none d-md-block<% end %>">
    <h2 class="d-inline-block f5 mb-2">
      Languages
    </h2>

    <ul class="filter-list small" data-pjax>
      <% results.languages.each do |aggregation| %>
        <%- this_link = aggregation.language.to_s.downcase == @language.to_s.downcase -%>
        <li>
          <% if aggregation.percentage > 2 %>
            <span class="bar" style="width: <%= aggregation.percentage %>%;"></span>
          <% else %>
            <span class="bar" style="width: 4px;"></span>
          <% end %>

          <% if this_link %>
            <%= link_to link_to_search(
              :l => nil,
              :p => nil,
              :s => params[:s],
              :o => params[:o]),
              :class => "filter-item selected" do %>
              <%= primer_octicon(:x, float: :right) %>
              <%= aggregation.language %>
              <% end %>
          <% else %>
            <%= link_to link_to_search(
              :l => aggregation.term,
              :p => nil,
              :s => params[:s],
              :o => params[:o]),
              :class => "filter-item" do %>
              <span class="count"><%= number_with_delimiter(aggregation.count) %></span>
              <%= aggregation.language %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <!-- Gist search is not responsive so explicitly check the page variable -->
  <% if responsive? %>
    <div class="px-2 pt-2 d-flex d-md-none flex-items-center">
      <label for="codesearch_select_language" class="col-3 text-small px-2">Language</label>
      <%= render(Primer::Alpha::Dropdown.new(mr: 2, col: 9, id: "codesearch_select_language")) do |c| %>
        <% c.with_button(dropdown: true, w: :full) do %>
          <%= @language.nil? ? "Any" : @language.name %>
          <%= render(Primer::Beta::Octicon.new(:"triangle-down", float: :right)) %>
        <% end %>

        <% c.with_menu do |menu| %>
          <%= menu.with_item(href: link_to_search(l: nil, p: nil, s: params[:s], o: params[:o])) { "Any" } %>
          <% results.languages.each do |aggregation|  %>
            <%= menu.with_item(href: link_to_search(l: aggregation.term, p: nil, s: params[:s], o: params[:o])) do
             aggregation.language.name unless aggregation.language.nil?
            end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
