<%
  # `hit` is an instance of `Search::IssueResultView`
  repo_specific ||= false

  click_data = {
    page_number: page_number,
    per_page: per_page,
    result_position: hit_position,
    hit_object: hit.issue,
    hit_url: hit.issue.url
  }
%>

<div class="issue-list-item d-flex py-4 hx_hit-issue
  <%= hit.public? ? "public" : "private" %>" <%= test_selector("results-issue") %>
  data-repository-hovercards-enabled>
    <%= octicon(hit.icon_symbol,
                height: 16,
                class: "#{hit.icon_class} flex-shrink-0") %>
    <div class="ml-1 flex-auto <%= 'mt-n1' if repo_specific %>">
    <% unless repo_specific %>
      <div class="text-small">
        <%= link_to hit.name_with_owner, "/#{hit.name_with_owner}/issues", class: "Link--muted text-bold", data: hovercard_data_attributes_for_repo_owner_and_name(hit.repository_owner, hit.repository_name) %>

        <%= link_to "##{hit.number}", "/#{hit.name_with_owner}/issues", class: "Link--muted color-fg-muted", data: hovercard_data_attributes_for_repo_owner_and_name(hit.repository_owner, hit.repository_name) %>

        <% unless hit.public? %>
          <%= render Primer::Beta::Label.new(ml: 1, scheme: :secondary, title: "Label: #{hit.visibility}") do %>
            <%= hit.visibility %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="f4 text-normal markdown-title">
      <%= link_to_with_hydro_search_tracking(title_markdown(hit.hl_title),
                                             hit.url,
                                             click_data,
                                             title: hit.title) %>
      <% if repo_specific %>
        <span class="flex-shrink-0 color-fg-muted">
          (#<%= hit.number %>)
        </span>
      <% end %>
    </div>

    <% if hit.hl_text.present? %>
      <p class="mb-0"><%= hit.hl_text %></p>
    <% end %>

    <% unless hit.issue.labels.empty? %>
      <div class="color-fg-muted mt-0">
        <% hit.issue.sorted_labels.each do |label| %>
          <span class="d-inline-block IssueLabel color-bg-subtle v-align-text-top">
            <%= html_label_name(label.name) %>
          </span>
        <% end %>
      </div>
    <% end %>

    <div class="d-flex text-small color-fg-muted flex-wrap position-relative">
      <div class="d-inline mr-3">
        <%= link_to hit.author_login,
          "/#{hit.author_login}",
          :title => hit.author_login,
          :class => "text-bold Link--muted" %>

        opened

        <%= time_ago_in_words_js hit.created %>
      </div>

      <% if hit.comments? %>
        <span class="mr-3">
          <%= hit.comments.length %>
          <%= (hit.comments.length > 1) ? "comments" : "comment" %>
        </span>
      <% end %>

      <% if hit.pull_request? %>
        <div class="text-small color-fg-muted d-inline mr-3">
          <span class="text-mono">
            <%= hit.issue.pull_request.base_label %>
          </span>
            &larr;
          <span class="text-mono">
            <%= hit.issue.pull_request.head_label %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
