<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%-
  if defined?(highlighted_message) && highlighted_message
    message_headline = title_markdown(highlighted_message.subject)
    message_body = highlighted_message.body_html
  else
    message_headline = commit_message_markdown(commit.short_message_html)
    message_body = commit.message_body_html
  end

  click_data = {
    page_number: page_number,
    per_page: per_page,
    result_position: hit_position,
    hit_object: hit_repo,
    hit_url: "#{GitHub.url}#{commit_path(commit, commit.repository)}"
  }
-%>

<div class="d-flex hx_hit-commit commit commits-list-item js-commits-list-item js-navigation-item js-details-container Details py-4" <%= test_selector("results-commit") %>>
  <div class="mt-n1 flex-auto">
    <%# -- Header -- %>
    <div class="d-flex">
      <%# -- Repo Name -- %>
        <a href="<%= repository_path(commit.repository) %>"
          class="Link--secondary text-bold text-small">
          <%= commit.repository.name_with_display_owner %>
        </a>
      <%# -- /Repo Name -- %>

      <%# -- Action buttons -- %>
      <div class="flex-shrink-0 flex-auto text-right hide-sm" style="position: relative; margin-top: -12px; top: 6px;">
        <%= render "commit/deferred_badge", verifiable_global_relay_id: commit.global_relay_id, indicate_loading: commit.has_signature?, badge_size: "small", html_class: "d-inline-block mr-1 v-align-middle" %>

        <div class="commit-links-group BtnGroup">
          <%= render Primer::Beta::ClipboardCopy.new(value: commit.oid, "aria-label": "Copy the full SHA", classes: "btn BtnGroup-item zeroclipboard-button btn-sm", style: "margin-top: 0;") %>
          <%= link_to_with_hydro_search_tracking(commit.abbreviated_oid, commit_path(commit, commit.repository), click_data, class: "sha btn btn-sm BtnGroup-item text-normal", style: "margin-top: 0;") %>
        </div>
        <a href="<%= tree_path("", commit.oid, commit.repository) %>" aria-label="Browse the repository at this point in the history" class="btn btn-sm tooltipped tooltipped-sw" style="margin-top: 0" rel="nofollow"><%= primer_octicon(:code) %></a><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
      </div>
      <%# -- / Action buttons -- %>
    </div>
    <%# -- /Header -- %>

    <%# -- Commit title -- %>
    <div class="f4 text-normal">
      <% if commit.message.blank? %>
        <a href="<%= commit_path(commit, commit.repository) %>" class="js-navigation-open">No commit message</a>
      <% else %>
        <%= link_markup_to message_headline,
            commit_path(commit, commit.repository),
            class: "message markdown-title js-navigation-open",
            "data-pjax": "true",
            data: hydro_search_click_tracking_data(click_data) %>
      <% end %>

      <% if !message_body.blank? %>
        <span class="hidden-text-expander inline">
          <button type="button" class="ellipsis-expander js-details-target" aria-label="Commit message" aria-expanded="false">&hellip;</button>
        </span>
      <% end %>
    </div>
    <%# -- /Commit title -- %>

    <%# -- Description -- %>
    <% if !message_body.blank? %>
      <div class="commit-desc">
        <pre class="ws-normal text-small">
          <%= message_body %>
        </pre>
      </div>
    <% end %>
    <%# -- /Description -- %>

    <%# -- META INFO -- %>
    <div class="commit-meta commit-author-section d-flex flex-items-center text-small">
      <div class="min-width-0">
        <%= render Commits::AttributionInfoComponent.new(commit: commit, repository: commit.repository) %>

        <% if commit.has_status_check_rollup? %>
          <div class="commit-indicator d-inline-block ml-1">
            <%= render "statuses/deferred_icon", commit_oid: commit.oid, dropdown_direction: "se", url: checks_statuses_batch_rollup_path(user_id: commit.repository.owner_display_login, repository: commit.repository) %>
          </div>
        <% end %>

        <% if commit.comment_count > 0 %>
          <a href="<%= commit_path(commit, commit.repository) %>#comments" class="Link--muted ml-3 d-inline-block v-align-middle">
            <%= number_with_delimiter commit.comment_count %>
            <%= (commit.comment_count > 1) ? "comments" : "comment" %>
          </a>
        <% end %>
      </div>
    </div>
    <%# -- /META INFO -- %>
  </div>
</div>
