<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%
  # `hit` is an instance of `Search::RepoResultView`
  list_item_classes = ""
  list_item_classes = []
  list_item_classes << (hit.public ? "public" : "private")
  list_item_classes << (hit.fork ? "fork" : "source")
  list_item_classes = list_item_classes.join(" ")

  click_data = {
    page_number: page_number,
    per_page: per_page,
    result_position: hit_position,
    hit_object: hit.repo,
    hit_url: repository_url(hit.repo)
  }
%>

 <li class="repo-list-item hx_hit-repo d-flex flex-justify-start py-4 <%= list_item_classes %>" <%= test_selector("results-repo") %>>
  <div class="flex-shrink-0 mr-2">
    <% if hit.private? %>
      <%= primer_octicon(:lock, style: "color: #dbab09") %>
    <% elsif hit.forked? %>
      <%= primer_octicon(:"repo-forked", style: "color: #6a737d") %>
    <% elsif hit.mirror? %>
      <%= primer_octicon(:mirror, style: "color: #6a737d") %>
    <% else %>
      <%= primer_octicon(:repo, style: "color: #6a737d") %>
    <% end %>
  </div>

  <div class="mt-n1 flex-auto">
    <div class="d-flex">
      <div class="f4 text-normal">
        <%= link_to_with_hydro_search_tracking(hit.name_with_owner, "/#{hit.name_with_owner_without_highlighting}", click_data, class: "v-align-middle") %>

        <% if hit.private? || hit.archived? || hit.mirror?  %>
          <%= render Primer::Beta::Label.new(ml: 1, vertical_align: :middle, scheme: hit.archived? ? :attention : :secondary, title: "Label: #{hit.type}") do %>
            <%= hit.type %>
          <% end %>
        <% end %>
      </div>

      <% if hit.show_sponsor_button? %>
        <div class="d-flex flex-items-center flex-justify-end flex-shrink-0 flex-auto">
          <%= render Sponsors::Repositories::FundingModalComponent.new(
            owner_login: hit.owner,
            repo_name: hit.name,
          ) %>
        </div>
      <% end %>
    </div>

    <% if hit.description.present? %>
      <p class="mb-1">
        <%= truncate_html(hit.hl_description, 120) %>
      </p>
    <% end %>

    <div>
      <% if hit.topics.any? %>
        <div>
          <% hit.topics.each do |topic| %>
            <%= render(Topics::TagComponent.new(
              name: topic,
              href: search_result_topic_url(
                topic,
                forked: hit.forked?,
                org: hit.owned_by_organization? ? hit.owner : nil,
              ),
              data: {
                ga_click: "Topic, search results",
                octo_click: "topic_click",
                octo_dimensions: "topic:#{topic},repository_id:#{hit.id},"\
                  "repository_nwo:#{hit.name_with_owner_without_highlighting},repository_public:#{hit.public},"\
                  "repository_is_fork:#{hit.fork}"
              },
              font_size: 6,
              px: 2,
              mx: 0,
              test_selector: "repo-topic",
            )) %>
          <% end %>
        </div>
      <% end %>

      <div class="d-flex flex-wrap text-small color-fg-muted">
        <% if hit.forked? %>
          <div class="f6 color-fg-muted mr-3">
            Forked from <%= link_to hit.parent.name_with_owner, repository_path(hit.parent), :class => "Link--muted Link--inTextBlock" %>
          </div>
        <% end %>

        <% if hit.followers > 0 %>
          <div class="mr-3">
            <a class="Link--muted" href="<%= "/#{hit.name_with_owner_without_highlighting}/stargazers" %>">
              <%= primer_octicon(:star, :"aria-label" => "star") %>
              <%= social_count(hit.followers) %>
            </a>
          </div>
        <% end %>

        <% if hit.language %>
          <div class="mr-3">
            <%= render(Languages::BadgeComponent.new(name: hit.language)) %>
          </div>
        <% end %>

        <% if hit.show_license? %>
          <div class="mr-3">
            <%= hit.license_name %> license
          </div>
        <% end %>

        <% if hit.pushed_at %>
          <div class="mr-3">
            Updated <%= time_ago_in_words_js hit.pushed_at %>
          </div>
        <% end %>

        <% if hit.show_issues_needing_help_link? %>
          <% if (issues_count = hit.help_wanted_issues_count) > 0 && (label = hit.help_wanted_label) %>
            <a class="Link--muted f6" href="<%= issues_path(hit.owner, hit.name, q: "label:\"#{label.name}\" is:issue is:open") %>">
              <%= pluralize(issues_count, "issue") %>
              need<%= "s" if issues_count == 1 %> help
            </a>

          <% elsif (issues_count = hit.good_first_issue_issues_count) > 0 && (label = hit.good_first_issue_label) %>
            <a class="Link--muted f6" href="<%= issues_path(hit.owner, hit.name, q: "label:\"#{label.name}\" is:issue is:open") %>">
              <%= pluralize(issues_count, "issue") %>
              need<%= "s" if issues_count == 1 %> help
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</li>
