<%
  click_data = {
    page_number: page_number,
    per_page: per_page,
    result_position: hit_position,
    hit_object: hit.user,
    hit_url: user_url(hit.user)
  }
%>

<div class="d-flex hx_hit-user px-0 Box-row" <%= test_selector("results-user") %>>
  <div class="flex-shrink-0 mr-2">
    <%= profile_link(hit.user, data: hydro_search_click_tracking_data(click_data), class: "d-table") do %>
      <%= avatar_for(hit.user, 20, class: "rounded-2", style: "margin-top: 2px;") %>
    <% end %>
  </div>

  <div class="flex-auto">
    <div class="d-flex">
      <div class="f4 text-normal">
        <% unless hit.hl_name.empty? %>
          <%= link_to_with_hydro_search_tracking(hit.hl_name,
                                                 "/#{hit.user.display_login}",
                                                 click_data,
                                                 class: "mr-1") %>
        <% end %>

        <%= link_to_with_hydro_search_tracking(hit.hl_login,
                                              "/#{hit.user.display_login}",
                                              click_data,
                                              class: "color-fg-muted") %>
      </div>

      <div class="d-flex flex-items-center flex-justify-end flex-shrink-0 flex-auto">
        <% if hit.sponsorable? %>
          <% if logged_in? %>
            <%= render GitHub::BatchDeferredContentComponent.new(
              url: sponsors_batch_deferred_buttons_path,
              inputs: {
                sponsorable_id: hit.user.id,
                sponsorable_login: hit.user.display_login,
                location: :USER_SEARCH_RESULT_SPONSOR,
              },
              content_tag_options: test_selector_data_hash("batch-deferred-content"),
            ) do %>
              <%= render Sponsors::SponsorButtonComponent.new(
                sponsorable: hit.user.display_login,
                is_sponsoring: false,
                location: :USER_SEARCH_RESULT_SPONSOR,
              ) %>
            <% end %>
          <% else %>
            <%= render Sponsors::SponsorButtonComponent.new(
              sponsorable: hit.user.display_login,
              is_sponsoring: false,
              location: :USER_SEARCH_RESULT_SPONSOR,
            ) %>
          <% end %>
        <% end %>

        <%= follow_button hit.user, classes: class_names(
          "btn btn-sm",
          "ml-2" => hit.sponsorable?
        ) %>
      </div>
    </div>

    <% if (bio = hit.hl_profile_bio).present? %>
      <p class="mb-1"><%= bio %></p>
    <% end %>

    <div class="d-flex flex-wrap text-small color-fg-muted">
      <% if hit.user.created_at > 1.month.ago %>
        <div class="mr-3">
          Joined
          <%= time_ago_in_words_js(hit.user.created_at) %>
        </div>
      <% end %>

      <% unless hit.location.blank? %>
        <div class="mr-3">
          <%= ERB::Util.force_escape(hit.location) %>
        </div>
      <% end %>

      <% unless (email = hit.email(logged_in: logged_in?)).blank? %>
        <div class="mr-3">
          <%= obfuscated_mail_to(email, :class => "Link--muted") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
