<%
  depth = local_assigns.fetch(:depth, 0)
  root_classes = class_names({
    "border-left color-border-muted pl-3": depth > 0
  })
  expand_details = depth < 2
%>

<% node_html = capture do %>
  <span class="text-bold pr-1"><%= node["value"] %></span>
  <span class="text-mono color-fg-muted f6"><%= node["description"] %></span>
<% end %>

<% if node["details"].present? %>
  <details class="<%= root_classes %>" <% if expand_details %>open<% end %>>
    <summary><%= node_html %></summary>
    <div>
      <%= render partial: "codesearch/hit_explain_node", collection: node["details"], as: :node, locals: { depth: depth + 1 } %>
    </div>
  </details>
<% else %>
  <div class="<%= root_classes %>"><%= node_html %></div>
<% end %>
