<%
  v2_package = hit.package.instance_of?(PackageRegistry::PackageMetadata)
  url_prefix = hit.package.owner.is_a?(Organization) ? "orgs" : "users"
  if v2_package
    click_data = {
      page_number: page_number,
      per_page: per_page,
      result_position: hit_position,
      hit_object: hit.package,
      hit_url: "#{packages_two_view_path(url_prefix, hit.package.owner.display_login, hit.package.package_type, hit.package.name)}"
    }
  else
    click_data = {
      page_number: page_number,
      per_page: per_page,
      result_position: hit_position,
      hit_object: hit.package,
      hit_url: "#{base_url}/#{package_path(hit.package.owner, hit.package.repository, hit.package)}"
    }
  end
%>

<div class="py-4 border-top hx_hit-package" <%= test_selector("results-package") %>>
  <% if v2_package %>
    <div>
      <%= link_to_with_hydro_search_tracking hit.package.name, packages_two_view_path(url_prefix, hit.package.owner.display_login, hit.package.package_type, hit.package.name), click_data, class: "h4 text-normal" %>
      <% if hit.package.visibility == 'internal' %>
        <%= render Primer::Beta::Label.new(ml: 1, vertical_align: :middle, scheme: :secondary, title: "Label: Internal package") do %>
          Internal
        <% end %>
      <% elsif hit.package.visibility == 'private' %>
        <%= render Primer::Beta::Label.new(ml: 1, vertical_align: :middle, scheme: :secondary, title: "Label: Private package") do %>
          Private
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div>
      <%= link_to_with_hydro_search_tracking hit.package.name, package_path(hit.package.owner, hit.package.repository, hit.package), click_data, class: "h4 text-normal" %>
      <% unless hit.public? %>
        <%= render Primer::Beta::Label.new(ml: 1, vertical_align: :middle, scheme: :secondary, title: "Label: Private repository") do %>
          Private
        <% end %>
      <% end %>
    </div>
   <% end %>

  <p class="mb-1">
    <%= hit.summary %>
  </p>

  <% if hit.topics.any? %>
    <div>
      <% hit.topics.each do |topic| %>
        <%= render Primer::Beta::Label.new(tag: :a, href: search_result_package_topic_url(topic), "data-ga-click": "Topic, package search results", mr: 1, mb: 1, scheme: :secondary, title: "Label: #{topic}") do %>
          <%= topic %>
        <% end %>
      <% end %>
    </div>
  <% end%>

  <div class="d-flex flex-wrap text-small color-fg-muted">
    <p class="mr-3 mb-0">
      <% if v2_package %>
        <span class="d-inline-block position-relative circle v-align-middle" style="background-color:#046fb3; top: -1px; width: 12px; height: 12px;"></span>
      <% elsif hit.package.try(:color).nil? %>
         <span class="d-inline-block position-relative circle v-align-middle" style="top: -1px; width: 12px; height: 12px;"></span>
      <% else %>
        <span class="d-inline-block position-relative circle v-align-middle" style="background-color:<%= hit.package.color %>; top: -1px; width: 12px; height: 12px;"></span>
      <% end %>
      <% if hit.package.respond_to?(:package_type_for_actor) %>
          <%= hit.package.package_type_for_actor(current_user).downcase %>
      <% else %>
          <%= hit.package.package_type.downcase %>
      <% end %>
    </p>

    <p class="mr-3 mb-0">
      <%= hit.latest_version %>
    </p>

    <p class="mr-3 mb-0">
      <% if v2_package %>
        <%= link_to hit.package.name, packages_two_view_path(url_prefix, hit.package.owner.display_login, hit.package.package_type, hit.package.name), class: "color-fg-muted"%>
      <% else %>
        <%= link_to hit.repo_name_with_owner, repository_path(hit.repository), class: "color-fg-muted" %>
      <% end %>
    </p>

    <% if hit.updated_at %>
      <p class="mr-3 mb-0">
        Updated <%= time_ago_in_words_js hit.updated_at %>
      </p>
    <% end %>

    <p class="mr-3 mb-0">
      <%= number_to_human(hit.downloads, units: {:thousand => "k"}, format: "%n%u") %>
      downloads
    </p>
  </div>
</div>
