<%
  tool = case hit.tool_type
         when "marketplace_listing" then hit.marketplace_listing
         when "repository_stack" then hit.repository_stack
         else hit.repository_action
         end


  tool_url = case hit.tool_type
             when "marketplace_listing" then marketplace_listing_url(tool.slug)
             when "repository_stack" then clean_repository_path(tool.repository)
             else marketplace_action_path(tool.slug)
             end

  click_data = {
    page_number: page_number,
    per_page: per_page,
    result_position: hit_position,
    hit_object: tool,
    hit_url: tool_url
  }

  hydro_data = hydro_search_click_tracking_data(click_data)

  show_verification_status = hit.tool_type == "marketplace_listing" && tool.publicly_listed?
%>


<div class="d-flex py-4 border-top hx_hit-marketplace" <%= test_selector("results-marketplace") %>>
  <div class="flex-shrink-0 mr-2 mt-n1">
    <%= link_to(tool_url, data: hydro_data, title: tool.name) do %>
      <% if hit.tool_type == "marketplace_listing" %>
        <%= marketplace_logo(name: tool.name, logo_url: hit.logo_url, bgcolor: tool.bgcolor, classes: "CircleBadge--tiny", by_github: false) %>
      <% elsif GitHub.actions_enabled? %>
        <div class="CircleBadge CircleBadge--tiny" style="background-color: #<%= tool.color %>">
          <%= action_icon(name: tool.name, icon_name: tool.icon_name, color: tool.icon_color, size: "20px", owner: tool.repository.owner_display_login) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <h3 class="h4 text-normal">
      <%= link_to_with_hydro_search_tracking(hit.hl_name, tool_url, click_data, title: hit.name, class: "no-underline") %>
      <% if show_verification_status %>
        <% if tool.verified? %>
          <span>
            <%= primer_octicon(:verified, ml: 1, color: :success) %> Verified by GitHub
          </span>
        <% end %>
      <% end %>
    </h3>

    <div class="text-small my-1">
      <% if hit.respond_to?(:primary_category) && hit.primary_category.present? %>
        <%= render Primer::Beta::Label.new(tag: :a, href: marketplace_category_url(hit.primary_category.parameterize), mr: 1, scheme: :secondary, title: "Label: #{hit.primary_category}") do %>
          <%= hit.primary_category %>
        <% end %>
      <% end %>

      <% if hit.respond_to?(:secondary_category) && hit.secondary_category.present? %>
        <%= render Primer::Beta::Label.new(tag: :a, href: marketplace_category_url(hit.secondary_category.parameterize), scheme: :secondary, title: "Label: #{hit.secondary_category}") do %>
          <%= hit.secondary_category %>
        <% end %>
      <% end %>
    </div>

    <p class="mb-0">
      <%= hit.hl_short_description %>
    </p>

    <% if hit.tool_type == "marketplace_listing" %>
      <p class="mb-0 color-fg-muted">
        <%= truncate_html(hit.hl_full_description, 180) %>
      </p>
    <% end %>
  </div>
</div>
