<%
  total_text ||= results.total_text if results.respond_to? :total_text
  unscoped_search ||= nil
  type ||= nil
%>
<h3>
  <% if results.timed_out? %>
    <span class="v-align-middle">
      Showing <%= number_with_delimiter(results.total) %> available
      <%= what.pluralize(results.total) %>
    </span>
    <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/github/searching-for-information-on-github/troubleshooting-search-queries#potential-timeouts", id: "query-timeout-info-link")) do |component| %>
      <% component.with_tooltip(
        type: :label,
        text: "This search took too long to finish; some results may not be shown."
      ) %>
      <%= render(Primer::Beta::Octicon.new(icon: "question", classes: "Link--muted")) %>
    <% end %>
  <% elsif total_text.present? %>
    <%= total_text %>
  <% elsif type == "RegistryPackages"%>
      <%= number_with_delimiter(results.results.length) %> <%= what.pluralize(results.results.length) %>
  <% else %>
    <%= number_with_delimiter(results.total) %> <%= what.pluralize(results.total) %>
  <% end %>

  <% if defined?(repository) && repository.present? %>
    in <%= link_to repository.name_with_display_owner, repository, class: "Link--inTextBlock" %>
  <% end %>

  <% if unscoped_search %>
    <small class="f4 text-normal no-wrap">
      or view <a class="Link--inTextBlock" href="<%= search_path(q: unscoped_search) %>">all results on GitHub</a>
    </small>
  <% end %>
</h3>
