<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%
  unscoped_search ||= nil
%>

<% unless @queries.search_type == "code" %>

<% if @queries.current.invalid_reason %>
  <%= render Primer::BlankslateComponent.new(
    icon: "search",
    title: "We could not perform this search",
    description: @queries.current.invalid_reason,
  ) do %>
    <% if unscoped_search %>
      You could <%= link_to "search all of GitHub", search_path(q: unscoped_search), class: "Link--inTextBlock" %>
      or try an <%= link_to "advanced search", advanced_search_path(q: @search), class: "Link--inTextBlock" %>.
    <% else %>
      You could try an <%= link_to "advanced search", advanced_search_path(q: @search), class: "Link--inTextBlock" %>.
    <% end %>
  <% end %>

<% else %>
  <%= render Primer::BlankslateComponent.new(icon: "search") do %>
    <h3>
      <%= message %>
      <% if repo_specific %>
        in <%= link_to current_repository.name_with_display_owner, repository_path(current_repository), class: "Link--inTextBlock" %>
      <% end %>
    </h3>

    <% if unscoped_search %>
      You could <%= link_to "search all of GitHub", search_path(q: unscoped_search), class: "Link--inTextBlock" %>
      or try an <%= link_to "advanced search", advanced_search_path(q: @search), class: "Link--inTextBlock" %>.
    <% else %>
      You could try an <%= link_to "advanced search", advanced_search_path(q: @search), class: "Link--inTextBlock" %>.
    <% end %>
  <% end %>
<% end %>

<% end %>
