<div class="Box p-3 mb-4 d-flex">
  <% if curated_topic.logo_url %>
    <img
      src="<%= curated_topic.logo_url %>"
      width="64"
      height="64"
      class="d-block rounded-2 mr-3 flex-shrink-0"
      alt="<%= linked_topic.name %> logo"
    >
  <% end %>
  <div class="d-md-flex flex-items-start flex-auto">
    <div class="flex-auto">
      <h3 class="mb-1"><%= curated_topic.safe_display_name %></h3>
      <p><%= curated_topic.short_description %></p>
      <a class="text-small" href="<%= topic_show_path(linked_topic) %>">See topic</a>
    </div>

    <%= render Stars::ButtonComponent.new(entity: curated_topic, context: "topic") %>
  </div>
</div>
