<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info(
  selected_link: :code_search,
  title: "Code Search",
  hide_search: true
)%>

<% content_for :head do %>
  <meta name="description" content="Use GitHub’s code search engine to find repositories, source code, and developers. Results can be filtered by programming languages such as Objective-C, Java, JavaScript, PHP, Ruby, Python and more.">
<% end %>

<div class="container-lg">
  <div class="py-6 my-6 px-4 px-md-6 mx-md-6">
    <h2 class="text-normal">
      <% if GitHub.enterprise? %>
        <%= primer_octicon(:search, size: :medium) %>
        <% if GitHub::Connect.unified_search_enabled? %>
          Search GitHub Enterprise and <%= GitHub.dotcom_host_name_string %>
        <% else %>
          Search GitHub Enterprise
        <% end %>
      <% end %>
    </h2>
    <%= form_tag search_path, :method => :get, :id => "search_form", :class => "search_repos my-3" do %>
      <div class="d-flex search-form-fluid flex-column flex-sm-row">
        <div class="flex-auto position-relative">
          <input
            aria-label="Search <%= GitHub.search_flavor %>"
            autocapitalize="off"
            autocomplete="off"
            autofocus
            class="form-control input-block"
            data-hotkey="s"<%# erblint:disable DataHotkey %>
            name="q"
            placeholder="Search <%= GitHub.search_flavor %>"
            spellcheck="false"
            type="text"
          >
          <input type="hidden" name="ref" value="simplesearch">
        </div>
        <%= render Primer::ButtonComponent.new(ml: [nil, 2], mt: [2, 0], type: :submit) do %>Search<% end %>
      </div>
    <% end %>

    <strong>ProTip!</strong>
    For an <%= link_to "advanced search", advanced_search_path, class: "Link--inTextBlock" %>, use some of our
    <%= render "codesearch/search_cheatsheet", show_button_styling: false, show_button_text: "prefixes." %>
  </div>
</div>

<% if logged_in? && params[:auto_enroll] %>
  <feature-preview-auto-enroll>
    <button type="button" data-target="feature-preview-auto-enroll.button" class="d-none" data-feature-preview-trigger-url="<%= feature_previews_path(user_id: current_user.display_login, selected_slug: "code_search_code_view") %>"></button>
  </feature-preview-auto-enroll>
<% end %>
