<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%
view = Search::ResultsView.new(
  self,
  queries: @queries,
  type: @type,
  search: @search,
  unscoped_search: @unscoped_search,
  elastic_search_down: @elastic_search_down,
  current_repository: current_repository,
  current_user: current_user,
  controller_name: controller_name,
  action_name: action_name,
  request: request,
  log_data: log_data,
  session: session,
  user_session: user_session,
  stats_ui_enabled: stats_ui_enabled?,
  params: params,
  cap_filter: cap_filter,
)
page_info(
  selected_link: :code_search,
  title: "Search · #{@search}",
  container_xl: true,
  skip_responsive_padding: true
)
%>

<% content_for :head do %>
  <meta name="analytics-param-rename" content="q:ga-q" data-turbo-transient>
<% end %>


<% content = capture do %>
  <div class="container-lg px-md-2 mt-lg-4 clearfix">
    <div class="col-12 px-2 py-2 py-md-3 d-lg-none d-flex">
      <div class="d-flex flex-auto">
        <%= form_tag view.repo_specific? ? repo_search_path(current_repository.owner, current_repository) : search_path,
              method: :get,
              class: "js-site-search-form flex-auto" do %>
          <input
            aria-label="Search <%= GitHub.search_flavor %>"
            autocapitalize="off"
            autocomplete="off"
            autofocus
            class="form-control input-block"
            name="q"
            placeholder="Search <%= GitHub.search_flavor %>"
            spellcheck="false"
            type="text"
            value="<%= @search %>"
          >
          <input type="hidden" class="js-site-search-type-field" name="type">
        </div>
        <%= render Primer::ButtonComponent.new(ml: 2, display: [:none, nil, :block], type: :submit) do %>Search<% end %>
      <% end %>
    </div>

    <div class="col-12 col-md-3 float-left px-md-2">
      <nav class="menu border d-none d-md-block" data-pjax aria-label="Results">
        <% case scope %>
        <% when :repository %>
          <%= view.link_to_code %>
          <%= view.link_to_commits %>
          <%= view.link_to_issues %>
          <%= view.link_to_discussions %>
          <%= view.link_to_packages if PackageRegistryHelper.show_packages? %>
          <%= view.link_to_wikis if current_repository.has_wiki %>
        <% else %>
          <%= view.link_to_repos %>
          <%= view.link_to_code %>
          <%= view.link_to_commits %>
          <%= view.link_to_issues %>
          <%= view.link_to_discussions %>
          <%= view.link_to_packages if PackageRegistryHelper.show_packages?  %>
          <% if GitHub.marketplace_enabled? %>
            <%= view.link_to_marketplace %>
          <% end %>
          <%= view.link_to_topics %>
          <%= view.link_to_wikis %>
          <%= view.link_to_users %>
        <% end %>
      </nav>

      <nav class="UnderlineNav UnderlineNav--full d-md-none mb-2 border-top" data-pjax aria-label="Code search">
        <div class="UnderlineNav-container">
          <div class="UnderlineNav-body js-codesearch-nav overflow-auto">
            <% case scope %>
            <% when :repository %>
              <%= view.link_to_code(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
              <%= view.link_to_commits(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
              <%= view.link_to_issues(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
              <%= view.link_to_discussions(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
              <%= view.link_to_packages(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) if PackageRegistryHelper.show_packages? %>
              <% if current_repository.has_wiki %>
                <%= view.link_to_wikis(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
              <% end %>
            <% else %>
              <%= view.link_to_repos(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
              <%= view.link_to_code(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
              <%= view.link_to_commits(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
              <%= view.link_to_issues(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
              <%= view.link_to_discussions(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
              <%= view.link_to_packages(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) if PackageRegistryHelper.show_packages? %>
              <% if GitHub.marketplace_enabled? %>
                <%= view.link_to_marketplace(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
              <% end %>
              <%= view.link_to_topics(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
              <%= view.link_to_wikis(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
              <%= view.link_to_users(link_classes: "UnderlineNav-item flex-shrink-0", fetch_counter: false) %>
            <% end %>
          </div>
        </div>
      </nav>

      <%= view.render_filter %>

      <div class="mt-3 d-none d-md-block">
        <a href="<%= advanced_search_path(q: @search, l: @language, r: current_repository&.name_with_display_owner, type: @type) %>" class="f6">Advanced search</a>
        <%= render "codesearch/search_cheatsheet", show_button_styling: true, show_button_text: "Cheat sheet" %>
      </div>
    </div>

    <div data-hpc class="col-12 col-md-9 float-left px-2 pt-3 pt-md-0 codesearch-results">
      <div class="px-2">
        <%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
          classes: "Box mb-1 color-fg-muted",
          container_classes: "mb-3",
          resource_label: "search results",
          cap_filter: cap_filter
        )%>

        <% if GitHub::Connect.unified_search_enabled? && !view.repo_specific? %>
          <%= render partial: "codesearch/tabs", locals: { q: @search, type: @type } %>
        <% end %>

        <%= view.render_sort %>
        <%= view.render_results %>
      </div>
    </div>

    <div class="px-3 d-block d-sm-none">
      <a href="<%= advanced_search_path(q: @search, l: @language) %>" class="f6">Advanced search</a>
    </div>
  </div>
<% end %>

<% if view.repo_specific? %>
  <%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
    <div class="clearfix mt-4">
      <%= content %>
    </div>
  <% end %>
<% else %>
  <%= content %>
<% end %>
