<%= render "site/autofill_pw_workaround" %>

<p>
  We'll send a <code class="color-bg-subtle rounded-2 p-1">POST</code> request to the URL below with details of any Marketplace events.
  You can also specify which data format you'd like to receive (JSON, <code class="color-bg-subtle rounded-2 p-1">x-www-form-urlencoded</code>, <em>etc</em>).
  More information can be found in <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/marketplace/listing-on-github-marketplace/configuring-the-github-marketplace-webhook/" target="_blank" rel="noopener noreferrer">our developer documentation</a>.
</p>

<hr class="bleed-flush compact">

<%= form_for hook, url: marketplace_listing_hook_path do |form| %>
  <div class="mb-3">
    <%= render Primer::Alpha::TextField.new(
      name: "hook[url]",
      label: "Payload URL",
      caption: "We require SSL and verify SSL certificates when delivering payloads.",
      placeholder: "Enter post-receive hook URL",
      autocomplete: "off",
      required: true,
      value: hook.url,
      autofocus: hook.errors[:url].present?,
      validation_message: hook.errors[:url].to_sentence.presence,
    ) %>
  </div>

  <div class="mb-3">
    <%= render Primer::Alpha::Select.new(
      name: "hook[content_type]",
      label: "Content type",
      required: true,
    ) do |list| %>
      <% Hooks::ShowView::CONTENT_TYPES.each do |content_type, value| %>
          <% list.option(label: content_type, value: value, selected: hook.content_type == value) %>
        <% end %>
      <% end %>
  </div>

  <%= render "hooks/secret_field", field_name: "hook[secret]", hook_persisted: hook.persisted?, current_value: hook.secret %>

  <%= hidden_field_tag "hook[events][]", Hook::WildcardEvent %>

  <hr class="bleed-flush compact">

  <%= render "hooks/webhook_active", field_name: "hook[active]", active: hook.active? %>

  <hr class="bleed-flush compact">

  <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary) do %>
    <%= hook.new_record? ? "Create" : "Update" %> webhook
  <% end %>
<% end %>
