<div data-component-type="<%= type %>" <%= "data-submit-form" if submit_form %> <%= "data-reload-suggestions" if reload_suggestions? %> <%= "data-custom-event=#{custom_event}" if custom_event %>>
  <% if component.is_a?(ApplicationComponent) %>
    <%= render component %>
  <% else %>
    <%= component %>
  <% end %>
</div>

<% unless footer.blank? %>
  <%= render footer %>
<% end %>
