<div class="SelectMenu js-slash-command-menu slash-command-menu-responsive" <%= test_selector("dialog-component") %>>
  <div class="SelectMenu-modal" style="<%= min_width_style %> <%= max_width_style %>">
    <header class="SelectMenu-header">
      <%= render SlashCommands::HeaderComponent.new(breadcrumbs) %>
    </header>
    <div class="SelectMenu-list js-command-list-container slash-command-list-container-responsive" style="<%= max_height_style %>">
      <%= content %>
    </div>

    <% if footer %>
      <footer class="SelectMenu-footer">
        <%= footer %>
      </footer>
    <% end %>
  </div>
</div>
