<div data-component="form">
  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% component.with_header do %>
      <h3 class="Box-title">
        <%= render Primer::Beta::Octicon.new(icon: "code-square") %>

        <% if breadcrumbs.any? %>
          <span class="color-fg-muted text-small pl-1">Slash</span>
          <% breadcrumbs.each do |breadcrumb| %>
            /
            <span class="text-small" <%= test_selector("breadcrumb-item") %>><%= breadcrumb %></span>
          <% end %>
        <% else %>
          <span class="color-fg-muted text-small pl-1" <%= test_selector("default-title") %>>Slash commands</span>
        <% end %>

        <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
          <%= primer_octicon(:x) %>
        </button>

        <%= render Primer::Beta::Label.new(tag: :div, scheme: :success, mr: 2, float: :right) do %>Alpha<% end %>
      </h3>
    <% end %>

    <% component.with_body(pt: pt) do %>
      <% render_parent %>
    <% end %>
  <% end %>
</div>
