<div class="SelectMenu js-slash-command-menu">
  <div class="SelectMenu-modal">
    <header class="SelectMenu-header">
      <%= render SlashCommands::HeaderComponent.new %>
    </header>
    <div class="SelectMenu-list">
      <div class="SelectMenu-blankslate">
        <%= render Primer::Beta::Octicon.new(icon: "alert", color: :muted) %>
        <h4 class="my-2"><%= title %></h4>
        <p class="mb-0 color-fg-muted" <%= test_selector("error-message-description") %>>
          <%= rich_message %>
        </p>
      </div>
    </div>
  </div>
</div>
