<% if flash.notice %>
  <span class="color-fg-success">
    <%= primer_octicon(:check) %>
    <%= flash.notice %>
  </span>
<% elsif flash.error %>
  <span class="color-fg-danger">
    <%= primer_octicon(:x) %>
    <%= flash.error %>
  </span>
<% else %>
  <span class="color-fg-accent">
    <%= flash.info %>
  </span>
<% end %>
