<div class="flex-1">
  <%= primer_octicon(:"code-square") %>

  <% if breadcrumbs.any? %>
    <span class="color-fg-muted text-small pl-1">Slash</span>
    <% breadcrumbs.each do |breadcrumb| %>
      /
      <span class="text-small" <%= test_selector("breadcrumb-item") %>><%= breadcrumb %></span>
    <% end %>
  <% else %>
    <span class="color-fg-muted text-small pl-1" id="slash-commands-title" <%= test_selector("default-title") %>>Slash commands</span>
  <% end %>
</div>

<%= render Primer::Beta::Label.new(tag: :div, scheme: :success) do %>Beta<% end %>
