<div class="form-group <%= "errored" if error_message.present? %>">
  <% if label? || description.present? %>
    <div class="form-group-header">
      <%= form.label label_text, label_text, id: label_id, for: input_id if label? %>
    </div>
  <% end %>

  <% if description.present? %>
    <%= render Primer::Beta::Markdown.new(mb: 2, id: description_id, font_size: :small, classes: "note", test_selector: "input-component-description") do %>
      <%= GitHub::Goomba::MarkdownPipeline.to_html(description) %>
    <% end %>
  <% end %>

  <div
    class="form-group-body <%= "border rounded-3" if border? %>"
    <% if form_group_body_described? && description.present? %>aria-describedby="<%= description_id %>"<% end %>
    >
    <%= render_input %>
  </div>

  <% if errors? %>
    <p class="note error">
      <%= error_message %>
    </p>
  <% end %>
</div>
