<li
  <% if id.present? %>id="slash-command-item-<%= id %>"<% end %>
  class="SelectMenu-item d-block slash-command-menu-item"
  role="option"
  data-url="<%= url %>"
  data-text="<%= title %>"
  <%= "data-group-id=#{group_id}" if has_group? %>
  <%= test_selector(test_selector_id) %>
>
  <%= form_tag url, class: "js-slash-command-suggestion-form" do %>
    <%= csrf_hidden_input_for url, method: :patch, class: "js-data-url-csrf" %>

    <% hidden_fields.each do |name, value| %>
      <%= hidden_field_tag name, value %>
    <% end %>
  <% end %>

  <h5><%= title %></h5>

  <% if description.present? %>
    <span class="command-description" <%= test_selector("menu-item-description") %>>
      <%= description %>
    </span>
  <% end %>
</li>
