<div class="form-checkbox <%= "errored" if error_message.present? %>">
  <label for="<%= input_id %>" id="<%= label_id %>">
    <%= form.check_box(name, params, value, nil) %>
    <%= label %>
  </label>
  <% if description %>
    <p class="note" id="<%= description_id %>">
      <%= description %>
    </p>
  <% end %>
  <% if error_message.present? %>
    <p class="note error">
      <%= error_message %>
    </p>
  <% end %>
</div>
