<% if enabled? %>
  <slash-command-expander
    keys="/"
    data-slash-command-url="<%= url %>"
  >
    <div class="SelectMenu js-slash-command-expander-loading d-none">
      <div class="SelectMenu-modal">
        <header class="SelectMenu-header">
          <%= render SlashCommands::HeaderComponent.new %>
        </header>
        <div class="SelectMenu-loading">
          <%= render(Primer::Beta::Spinner.new(mx: :auto, display: :block)) %>
        </div>
      </div>
    </div>

    <div class="SelectMenu js-slash-command-expander-error d-none">
      <div class="SelectMenu-modal">
        <header class="SelectMenu-header">
          <%= render SlashCommands::HeaderComponent.new %>
        </header>
        <div class="SelectMenu-list">
          <div class="SelectMenu-blankslate">
            <%= render Primer::Beta::Octicon.new(icon: "alert", color: :muted) %>
            <h4 class="my-2">An unexpected error has occurred</h4>
          </div>
        </div>
      </div>
    </div>

    <%= content %>
  </slash-command-expander>
<% else %>
  <%= content %>
<% end %>
