<% has_azure_subscription = this_business.has_valid_azure_subscription? %>
<% linked_azure_subscription = this_business.linked_azure_subscription %>
<% azure_subscription_uri = this_business.azure_subscription_uri %>
<% linked_azure_subscription_name = this_business.linked_azure_subscription_name%>

<div class="Box mb-4 mt-4" <%= test_selector "azure_metered_billing_component" %>>
  <div class="Box-header d-flex flex-items-center">
    <div class="Box-title flex-auto ml-1 pl-2">
      <div <%= test_selector("azure-metered-billing-section") %>>
        Metered billing via Azure
      </div>
    </div>

    <div class="d-flex flex-justify-end">
      <% unless has_azure_subscription %>
        <%= render Primer::Beta::Button.new(tag: :a, size: :small, "data-pjax": true, href: azure_subscription_uri.to_s, scheme: :primary) do %>
          Add Azure Subscription
        <% end %>
      <% end %>
    </div>
  </div>

  <% if has_azure_subscription %>
    <div class="Box-row d-flex flex-items-center color-fg-muted">
      <div class="d-flex width-full">
        <div class="d-flex flex-items-center">
          <%= render(Primer::Beta::Octicon.new(:link, height: 24)) %>
        </div>
        <div class="flex-1 ml-4">
          <div class="flex-auto text-left text-bold color-fg-muted">
            <%= linked_azure_subscription_name %>
          </div>
          <div class="color-fg-muted flex-auto" <%= test_selector "azure_subscription_id" %>>
            <%= linked_azure_subscription %>
          </div>
        </div>
      </div>

      <div class="d-flex col-2 flex-justify-end">
        <%= link_to azure_subscription_uri.to_s, class: "btn btn-sm btn-octicon", aria: { label: "Edit Azure Subscription" } do %>
          <%= render(Primer::Beta::Octicon.new(icon: "pencil", color: :default)) %>
        <% end %>

        <%= render(Primer::Alpha::Dialog.new(title: "Confirm removing subscription", size: :large)) do |d| %>
          <% d.with_show_button(
            scheme: :invisible,
            align_items: :center,
            display: :inline,
            aria: { label: "delete azure subscription" },
            pl: 1,
            pb: 1,
            classes: "btn btn-sm btn-octicon",
            border: false,
          ) do %>
          <%= render(Primer::Beta::Octicon.new(icon: "trash", color: :default)) %>
        <% end %>

        <%= render(Primer::Alpha::Banner.new(scheme: :warning, full: true)) do %>
          <span class="color-fg-default">
            Removing the azure subscription will cause all metered services to be paid directly through GitHub.
          </span>
        <% end %>

        <div class="Box-body overflow-auto border-bottom-0">
          <h4 class="mb-2">Removing Azure subscription</h4>
          <div class="d-flex flex-column flex-justify-center">
            <span class="text-bold">
              <%= linked_azure_subscription_name %>
            </span>
            <span class="color-fg-muted">
              <%= linked_azure_subscription %>
            </span>
          </div>
        </div>

        <%= form_tag billing_settings_selected_azure_subscription_path, method: :delete do %>
          <div class="Box-footer border-top-0">
            <%= render Primer::Beta::Button.new(block: true, scheme: :danger, type: :submit) do %>Remove<% end %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>

    <div class="Box-row py-2">
      <div class="d-flex my-1 flex-items-center">
        <%
          azure_status = if has_azure_subscription
            {
              icon: :check,
              color: :success,
              text: "Metered services will be billed through Azure once GitHub Enterprise is activated"
            }
          else
            {
              icon: :"x",
              color: :danger,
              text: "No services are being billed through Azure"
            }
          end
        %>

        <%= render(Primer::Beta::Octicon.new(azure_status[:icon], color: azure_status[:color], height: 24, mr: 3)) %>
        <span class="color-fg-muted ml-2"><%= azure_status[:text] %></span>
      </div>
    </div>
  <% else %>
    <span class="Box-row d-flex flex-items-center color-fg-muted">
      <%= render(Primer::Beta::Octicon.new(:plug, height: 24, mr: 4)) %>
      To manage metered billing for this account through Microsoft Azure an Azure Subscription ID must be added to your account.
    </span>
  <% end %>
</div>
