<div class="text-normal color-fg-muted mt-2">
  Includes usage across all organizations and repositories within <%= this_business.name %>.
</div>

<div class="radio-group clearfix width-full" role="radiogroup">
  <% billed_items.each do |billed_item| %>
    <div class="p-2 border-bottom" <%= test_selector(billed_item[:id]) %> >
      <div class="d-flex gutter-condensed">
        <div>
          <span class="h5">
            <%= billed_item[:label] %>
          </span>
        </div>

        <% if billed_item[:allow_removal] %>
          <div class="pl-2">
            <%= render(Primer::Alpha::Dialog.new(title: "Remove #{billed_item[:label]}")) do |d| %>
              <% d.with_show_button(
                scheme: :link,
                underline: false,
                display: :inline,
                color: :muted,
                aria: { label: "remove #{billed_item[:label]}" },
                test_selector: "remove-#{billed_item[:id]}",
                ) do %>
                  Remove
              <% end %>

              <div class="Box-body overflow-auto border-bottom-0">
                <div class="d-flex flex-column flex-justify-center">
                  <span class="color-fg-muted">
                    <%= billed_item[:removal_text] %>
                  </span>
                </div>
              </div>

              <%= form_tag settings_billing_cancel_addon_trial_enterprise_path, method: :put do %>
                <%= hidden_field_tag :addon_id, billed_item[:id] %>
                <%= hidden_field_tag :addon_label, billed_item[:label] %>
                <div class="Box-footer border-top-0">
                  <%= render Primer::Beta::Button.new(block: true, scheme: :danger, type: :submit) do %>Remove<% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <div class="ml-auto">
          <% if billed_item[:quantity] %>
            <%= billed_item[:cost].format(no_cents: true) %> x
            <%= billed_item[:quantity] %> <%= billed_item[:unit].pluralize(billed_item[:quantity]) %>
          <% else %>
            <%= billed_item[:cost].format(no_cents: true) %> x <%= billed_item[:unit] %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
