<div class="org-content-header">
  <%= avatar_for @inviter, 60, :class => "avatar" %>
  <img class="content-header-octicon" alt="plus" src="<%= mailer_static_asset_path("images/email/organization/octicon-plus.png") %>" height="60">
  <% if @invitation.email? %>
    <%= primer_octicon(:mail, :height => 60) %>
  <% else %>
    <%= avatar_for @invitee, 60, :class => "avatar" %>
  <% end %>
</div>

<h1 class="primary-heading">@<%= @inviter.display_login %> has invited you to collaborate on the<br><strong><%= @repository.name_with_display_owner %></strong> repository</h1>

<% if @invitation.sponsors_only_repository_invitation? %>
  <%= render Mail::RowComponent.new do %>
    <td class="vertical-center">
      <img src="<%= mailer_static_asset_path("images/email/sponsors/mona.png") %>" height="35" alt="">
      &nbsp;&nbsp;&nbsp;
    </td>
    <td class="vertical-center">
      You are receiving this invitation because you sponsor @<%= @inviter.display_login %>.
    </td>
  <% end %>
<% end %>

<hr class="rule">

<p>
  You can <%= link_to "accept or decline", @invitation.permalink %> this invitation.
  <% if @repository.private? %>
    You can also visit <%= link_to "@#{@inviter.display_login}", @inviter.permalink %> to learn a bit more about them.
  <% else %>
    You can also head over to <%= link_to @repository.permalink, @repository.permalink %> to check out the repository or visit <%= link_to "@#{@inviter.display_login}", @inviter.permalink %> to learn a bit more about them.
  <% end %>
</p>
<% if @invitation.can_expire? %>
  <p>
    This invitation will expire in <%= pluralize(GitHub.invitation_expiry_period, "day") %>.
  </p>
<% end %>
<%= render :partial => "mailers/global/cta_button",
  :locals => {
    :text => "View invitation",
    :center => true,
    :url => @invitation.permalink
  } %>

<p class="email-body-subtext">
  <strong>Note:</strong> This invitation was intended for <strong><%= @email %></strong>.
  If you were not expecting this invitation, you can ignore this email.
  <% unless GitHub.enterprise? %>
    If  @<%= @inviter.display_login %> is sending you too many emails, you can
    <%= link_to "block them", settings_blocked_users_url(block_user: @inviter.display_login) %>
    or <%= link_to "report abuse", "#{flavored_contact_url(flavor: 'report-abuse')}?report=#{@inviter.display_login}" %>.
  <% end %>
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  <strong>Getting a 404 error?</strong> Make sure you’re signed in as <strong><%= @invitation.email_or_invitee_login %></strong>.
</p>

<p class="email-text-small email-text-gray">
  <strong>Button not working?</strong> Copy and paste this link into your browser:
  <br><%= link_to @invitation.permalink, @invitation.permalink %>
</p>
