<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "Codespaces", selected_link: settings_user_codespaces_path %>

<%= render layout: "settings/settings" do %>
  <%= render Primer::Beta::Subhead.new(display: :flex, flex_justify: :between) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= settings_user_codespaces_path %>">Codespaces</a> / Update secret
    <% end %>
  <% end %>
  <code class="f3 color-fg-default" <%= test_selector("secret-name") %>><%= secret.name %></code>
  <%= form_with model: secret, url: codespaces_user_secret_path(secret.name),
      class: "d-flex flex-column js-encrypt-submit js-codespaces-user-secrets-form",
      data: { public_key: public_key[1], hpc: "" },
      method: :put do |f| %>
    <div class="form-group js-secret-value-form-group">
      <div class="form-group-header">
        <label for="secret_value">Value</label>
      </div>
      <div class="js-new-secret-value-input form-group-body" hidden>
        <textarea type="text" name="secret_value" id="secret_value" class="form-control width-full"></textarea>
        <input type="hidden" name="encrypted_value">
        <%= f.hidden_field :key_id %>
      </div>
      <div class="js-new-secret-value-prompt form-group-body">
        <p class="color-fg-muted mb-0">Secret values are encrypted and cannot be displayed, but you can <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-new-secret-value-button") do %>enter a new value.<% end %></p>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-header">
        <label for="visibility">Repository access</label>
      </div>
      <%= render Codespaces::UnauthorizedOrganizationsComponent.new(classes: "Box mb-2", cap_filter: cap_filter, resource_label: "repositories") %>
      <div class="form-group-body">
        <details class="select-menu details-reset details-overlay mb-2">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <%= render Primer::Beta::Octicon.new(icon: "repo") %>
            <span>Select repositories</span>
          <% end %>
          <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-filters">
              <div class="select-menu-text-filter">
                <remote-input
                  aria-owns="repository-menu-list"
                  src="<%= repository_select_codespaces_path %>">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search for a repository"
                    aria-label="Search for a repository"
                    autocomplete="off"
                    autofocus>
                </remote-input>
              </div>
            </div>
            <div class="select-menu-list" id="repository-menu-list">
            </div>
          </details-menu>
        </details>
        <div class="text-small color-fg-muted mb-3">
          Available to
          <span class="text-bold">
            <span data-target="selected-repositories.count"><%= visible_repositories.count %></span>
            <span data-target="selected-repositories.plural"<%= visible_repositories.count == 1 ? " hidden" : nil%>>repositories</span><span data-target="selected-repositories.singular"<%= visible_repositories.count != 1 ? " hidden" : nil%>>repository</span></span>.
            <span data-target="selected-repositories.active-warning"<%= visible_repositories.count != 0 ? " hidden" : nil%>>This secret will not be active until at least 1 repository is selected.</span>
        </div>
        <ul class="css-truncate list-style-none position-relative" data-target="selected-repositories.repositories">
          <% visible_repositories.each do |repository| %>
          <li class="css-truncate d-flex flex-items-center width-full">
            <input
              type="checkbox" name="codespaces_user_secret[repository_ids][]"
              value="<%= repository.id %>"
              id="user-secret-repo-<%= repository.id %>"
              checked
              class="repository-item-checkbox js-repository-item-checkbox mx-2 position-absolute">
            <label class="repository-item-name d-flex flex-items-center width-full color-fg-default py-1 pr-1 pl-5"
              for="user-secret-repo-<%= repository.id %>">
              <%= repository.name_with_display_owner %>
            </label>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <%= f.button "Save changes", class: "btn btn-primary", data: { "disable-with": "Updating…", "disable-invalid": true, "sudo-required": true } %>
    </div>
  <% end %>
<% end %>
