<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Codespaces", selected_link: settings_user_codespaces_path %>

<%= render layout: "settings/settings" do %>
  <%= render Primer::Beta::Subhead.new(display: :flex, flex_justify: :between, mb: 0) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= settings_user_codespaces_path %>">Codespaces</a> / New secret
    <% end %>
  <% end %>
  <%= form_with model: secret, url: codespaces_user_secrets_path,
      class: "d-flex flex-column js-encrypt-submit js-codespaces-user-secrets-form",
      data: { public_key: public_key[1] },
      method: :post do |f| %>
    <div class="form-group">
      <div class="form-group-header">
        <%= f.label :name, for: :name %>
      </div>
      <div class="form-group-body">
        <%= f.text_field :name, id: :name, placeholder: "YOUR_SECRET_NAME", required: true, class: "form-control", maxlength: GitHub::KredzClient::Credz::SECRET_KEY_MAX_SIZE %>
        <p class="note error" id="codespaces-secret-name-error">Secret name is required and must not start with GITHUB</p>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-header">
        <label for="secret_value">Value</label>
      </div>
      <div class="form-group-body">
        <textarea required type="text" name="secret_value" id="secret_value" class="form-control width-full"></textarea>
         <p class="note error" id="codespaces-secret-value-error">Secret value is required</p>
        <input type="hidden" name="encrypted_value">
        <%= f.hidden_field :key_id %>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-header">
        <label for="visibility">Repository access</label>
      </div>
      <div class="form-group-body">
        <% if user_feature_enabled?(:primer_experimental_selectpanel_codespaces_new_secrets) %>
          <%= render Primer::Alpha::SelectPanel.new(
            id: "new-codespaces-secret-repository-select-panel",
            title: "Repository access",
            size: :medium,
            select_variant: :multiple,
            src: repository_select_codespaces_path(form_name: "codespaces_user_secret[repository_ids]"),
            no_results_label: "No matching repositories.",
          ) do |menu| %>
            <% menu.with_show_button do |button| %>
              <% button.with_trailing_action_icon(icon: "triangle-down") %>
              <% button.with_leading_visual_icon(icon: :repo) %>
              Select repositories
            <% end %>
          <% end %>
          <div data-selected-repos-info="true" class="text-small color-fg-muted my-2" aria-live="polite" atomic="true">
            Available to
            <span class="text-bold">
              <span data-target="selected-repositories.count">0</span>
              <span data-target="selected-repositories.plural">repositories</span><span data-target="selected-repositories.singular" hidden>repository</span></span>.
              <span data-target="selected-repositories.active-warning">This secret will not be active until at least 1 repository is selected.</span>
          </div>
          <action-list>
            <ul data-target="selected-repositories.repositories" role="list" aria-label="Selected repositories"></ul>
          </action-list>
        <% else %>
          <details class="select-menu details-reset details-overlay mb-2">
            <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
              <%= render Primer::Beta::Octicon.new(icon: "repo") %>
              <span>Select repositories</span>
            <% end %>
            <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="select-menu-filters">
                <div class="select-menu-text-filter">
                  <remote-input
                    aria-owns="repository-menu-list"
                    src="<%= repository_select_codespaces_path %>">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search for a repository"
                      aria-label="Search for a repository"
                      autocomplete="off"
                      autofocus>
                  </remote-input>
                </div>
              </div>
              <div class="select-menu-list" id="repository-menu-list">
              </div>
            </details-menu>
          </details>
          <div class="text-small color-fg-muted mb-3">
            Available to
            <span class="text-bold">
              <span data-target="selected-repositories.count">0</span>
              <span data-target="selected-repositories.plural">repositories</span><span data-target="selected-repositories.singular" hidden>repository</span></span>.
              <span data-target="selected-repositories.active-warning">This secret will not be active until at least 1 repository is selected.</span>
          </div>
          <ul class="css-truncate list-style-none position-relative" data-target="selected-repositories.repositories">
          </ul>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.button "Add secret",
            class: "btn btn-primary",
            data: { "disable-with": "Adding…"}
      %>
    </div>
  <% end %>
<% end %>
