<%= render(Primer::Alpha::Dialog.new(
  id: "add-org-role-assignment-dialog",
  title: "New role assignment",
  size: :medium_portrait
)) do |d| %>
  <% d.with_show_button(scheme: :primary, ml: 2, test_selector: "add-org-role-assignment-button") { "New role assignment" } %>
  <% d.with_header(show_divider: true) do %>
    <h1 class="f5">Assign teams or users for an organization role in <strong><%= organization.display_login %></strong></h1>
  <% end %>
  <%= form_tag add_org_role_assignment_path(organization), class: "js-add-assignment-form d-flex flex-column min-height-0" do %>
    <%= render(Primer::Alpha::Dialog::Body.new) do %>
      <div id="org-role-add-assignment-selector" class="js-add-access-search d-flex flex-column min-height-0">
        <div class="js-add-assignment-search-selection">
          <%= render(Primer::Beta::AutoComplete.new(
            src: org_role_assignment_suggestions_path(organization),
            label_text:  "Search by team name, username, full name, or email",
            visually_hide_label: true,
            placeholder: "Search for users or teams",
            full_width: true,
            input_name: "assignee",
            with_icon: true,
            list_id: "org-role-add-assignment-search-results",
            input_id: "js-org-role-add-assignment-search-input",
            test_selector: "org-role-assignment-autocomplete",
            mt: 3,
            mb: 3,
            )) do |autocomplete| %>
              <% autocomplete.with_leading_visual_icon(icon: :search) %>
              <% autocomplete.with_input(required: true) %>
          <% end %>
        </div>

        <div class="js-add-assignment-search-selected d-flex flex-column min-height-0" hidden>
          <div class="js-selected-assignee-badge pb-3 pt-3"></div>
        </div>
      </div>

      <div id="org-role-role-selection" class="d-flex flex-column min-height-0">
        <%= render(Primer::Alpha::RadioButtonGroup.new(
          name: "org-role-radio-group",
          label: "Choose a Role",
          caption: link_to("View role details", settings_org_roles_path(organization), target: "_blank", class: "Link--inTextBlock"),
          "data-test-selector": "org-role-assignment-list",
        )) do |radio_group| %>
          <% visible_roles.each do |role| %>
            <% radio_group.radio_button(name: "role_id", label: role.display_name, value: role.id, caption: role.description, required: true) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= render(Primer::Alpha::Dialog::Footer.new(show_divider: true)) do %>
      <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary, block: true, disabled: true, id: "js-add-assignment-button")) { "Add new assignment" } %>
    <% end %>
  <% end %>
<% end %>
