<% if suggestions.any? %>
  <% suggestions.each do |suggestion| %>
    <div class="js-autocomplete-item">
      <%= render Primer::Beta::AutoComplete::Item.new(
        value: suggestion_value(suggestion),
        label: suggestion_label(suggestion),
        description_variant: :inline,
        m: 2,
        test_selector: "assignee-suggestion-#{suggestion_type(suggestion)}-#{suggestion.id}"
      ) do |item| %>
        <% item.with_description { "#{suggestion_type(suggestion).capitalize}" } %>
        <%= avatar_for(suggestion, 24, :class => "avatar") %>
        <strong class="ml-2"><%= suggestion_label(suggestion) %></strong>
      <% end %>

      <div class="js-selection-badge" hidden>
        <div class="d-flex flex-items-center p-2 rounded-2 color-fg-accent color-bg-accent border color-border-accent">
          <div class="col-1 mr-2 text-center">
            <%= avatar_for(suggestion, 28, class: "avatar") %>
          </div>
          <div class="col-10 mr-2">
            <%= render(Primer::Beta::Text.new(font_weight: :bold, classes: "css-truncate css-truncate-overflow")) { suggestion_label(suggestion) } %>
          </div>
          <%= render Primer::Beta::Button.new(scheme: :link, mr: 2, classes: "js-cancel-selection", "aria-label": "Cancel selection") do %>
            <%= primer_octicon(:x) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= render Primer::Beta::AutoComplete::Item.new(
    value: "no-results",
    label: "no-results",
    m: 2,
    disabled: true,
    test_selector: "empty-autocomplete-suggestion"
  ) do %>
    <p class="color-fg-muted m-0">
       Could not find any matching users or teams.
    </p>
  <% end %>
<% end %>
