<div class="select-menu-header">
  <span class="select-menu-title">Filter by CWE</span>
  <%= render Primer::Beta::CloseButton.new(classes: "hx_rsm-close-button btn-link", "data-toggle-for": "advisories-cwe-filter", "aria-label": "Close menu") %>
</div>

<div class="select-menu-filters">
  <filter-input class="select-menu-text-filter" aria-owns="cwe-list">
    <input
      type="text"
      class="form-control"
      autofocus
      spellcheck="false"
      autocomplete="off"
      aria-label="Filter CWEs"
      placeholder="Filter CWEs">
  </filter-input>
</div>

<div class="select-menu-list" id="cwe-list" data-pjax data-filter-list>
  <% view.cwe_filters.each do |cwe| %>
    <a href="<%= cwe[:url] %>" aria-checked="<%= cwe[:selected] %>" class="select-menu-item d-flex flex-items-center" role="menuitemradio">
      <%= primer_octicon(:check, classes: "flex-shrink-0 select-menu-item-icon") %>
      <div class="ml-2 lh-condensed select-menu-item-text css-truncate min-width-0">
        <div class="css-truncate-overflow text-bold"><%= cwe[:label] %></div>
        <% if cwe[:id].present? %>
          <div class="css-truncate-overflow mt-1" <%= test_selector("advisory-cwe-filter") %>>
            <%= cwe[:id] %>
          </div>
        <% end %>
      </div>
    </a>
  <% end %>

  <div class="p-2" data-filter-empty-state hidden>No CWEs found</div>
</div>
