<div class="gutter-lg gutter-condensed clearfix">
  <div class="col-12 col-md-9 float-left">
    <%= render partial: "repos/advisories/affected_products", locals: { affected_products: view.grouped_vulnerable_verson_ranges, show_suggest_link: !GitHub.single_or_multi_tenant_enterprise? } %>
    <%= render partial: "repos/advisories/published_description", locals: { description: view.render_description } %>
    <%= render "global_advisories/timeline", view: view %>
  </div>

  <div class="col-12 col-md-3 float-left pt-3 pt-md-0">
    <% unless view.advisory.malware? %>
      <%= render partial: "repos/advisories/sidebar/cvss", locals: { advisory: view.advisory } %>
    <% end %>
    <%= render partial: "repos/advisories/sidebar/cve_epss", locals: { advisory: view.advisory, cve_epss: view.advisory.cve_epss} %>
    <%= render partial: "repos/advisories/sidebar/cwe", locals: { advisory: view.advisory, pjax: true } %>
    <% unless view.advisory.malware? %>
      <%= render partial: "repos/advisories/sidebar/cve", locals: { advisory: view.advisory } %>
    <% end %>
    <%= render partial: "repos/advisories/sidebar/ghsa", locals: { advisory: view.advisory } %>
    <%= render partial: "repos/advisories/sidebar/source_code_location", locals: { view: view } %>
    <%= render partial: "repos/advisories/sidebar/credits", locals: { credits: view.credits } %>
    <%= render partial: "repos/advisories/sidebar/not_alertable", locals: { view: view } %>

    <div class="discussion-sidebar-item">
      <% unless view.advisory.malware? %>
        <include-fragment src="<%= view.history_path %>">
          <div class="pb-4">
            <%= render(Primer::Beta::Spinner.new(size: :small, vertical_align: :middle)) %>
            <span>Checking history</span>
          </div>
        </include-fragment>
      <% end %>

      <div class="color-fg-muted">
        <% if view.advisory.malware? %>
          Improvements are not currently accepted on this advisory because this package is malware and has no patched versions.
          If there is something to change, please open an issue at <a class="Link--inTextBlock" href="<%= view.advisories_repository_issues_url %>" target="_blank" rel="noopener noreferrer"><%= view.advisories_repository_issues_url %></a>.
        <% elsif view.osv_compatible? %>
          See something to contribute?
          <%= link_to(
            "Suggest improvements for this vulnerability" + view.dotcom_suffix,
            (GitHub.single_or_multi_tenant_enterprise? ? "#{GitHub.dotcom_host_protocol}://#{GitHub.dotcom_host_name}" : "") + new_global_advisory_improvement_path,
            data: {
              **test_selector_hash("advisory-improvement-link"),
              **view.contribute_analytic_attributes
              },
            target: GitHub.single_or_multi_tenant_enterprise? ? "_blank" : nil,
            rel: GitHub.single_or_multi_tenant_enterprise? ? "noopener noreferrer" : nil,
            class: "Link--inTextBlock"
          ) %>.
        <% else %>
          Improvements are not currently accepted on this advisory because it uses an unsupported versioning operator.
          <a class="Link--inTextBlock" href="<%= view.ecosystem_compatibility_discussion_url %>" target="_blank" rel="noopener noreferrer">Read more and discuss here</a>.
        <% end %>
      </div>
    </div>
  </div>
</div>
