<%# erblint:counter ButtonComponentMigrationCounter 7 %>
<%# view is an instance of GlobalAdvisories::IndexView %>

<details class="d-md-none details-reset details-overlay select-menu flex-shrink-0 position-relative">
  <summary class="btn-link color-fg-muted no-underline pr-2" aria-label="Filter options">
    <%= primer_octicon(:"kebab-horizontal") %>
  </summary>
  <details-menu class="dropdown-menu dropdown-menu-sw top-0 mt-4" style="width: auto"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <button type="button" class="dropdown-item text-left btn-link" role="menuitem" data-toggle-for="advisories-severity-filter">Filter by severity</button>
    <button type="button" class="dropdown-item text-left btn-link" role="menuitem" data-toggle-for="advisories-cwe-filter">Filter by CWE</button>
    <button type="button" class="dropdown-item text-left btn-link" role="menuitem" data-toggle-for="advisories-sort-filter">Sort by</button>
  </details-menu>
</details>

<div>
  <button type="button" class="ml-3 d-none d-md-block btn-link color-fg-muted no-underline select-menu-button" aria-haspopup="menu" data-toggle-for="advisories-severity-filter">
    Severity
  </button>

  <details class="details-reset details-overlay select-menu hx_rsm flex-shrink-0 position-relative" id="advisories-severity-filter">
    <summary tabindex="-1" aria-label="Severity"></summary>

    <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 1000;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-header">
        <span class="select-menu-title">Filter by severity</span>
        <%= render Primer::Beta::CloseButton.new(classes: "hx_rsm-close-button btn-link", "data-toggle-for": "advisories-severity-filter", "aria-label": "Close menu") %>
      </div>

      <div class="select-menu-list" data-pjax>
        <% view.severity_filters.each do |severity| %>
          <a href="<%= severity[:url] %>" aria-checked="<%= severity[:selected] %>" class="select-menu-item d-flex flex-items-center" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <% if severity[:severity] %>
              <%= render DependabotAlerts::SeverityIconComponent.new(severity: severity[:severity], ml: 2) %>
            <% end %>
            <div class="select-menu-item-text ml-2"><%= severity[:label] %></div>
          </a>
        <% end %>
      </div>
    </details-menu>
  </details>
</div>

<div>
  <button type="button" class="ml-3 d-none d-md-block btn-link color-fg-muted no-underline select-menu-button" aria-haspopup="menu" data-toggle-for="advisories-cwe-filter">
    CWE
  </button>

  <details class="details-reset details-overlay select-menu hx_rsm flex-shrink-0 position-relative" id="advisories-cwe-filter">
    <summary tabindex="-1" aria-label="CWE"></summary>

    <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;" aria-label="Filter by CWE" src="<%= global_advisories_cwe_filter_path(query: params[:query]) %>" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <include-fragment>
        <%= render(Primer::Beta::Spinner.new(my: 6, mx: :auto, display: :block)) %>
      </include-fragment>
    </details-menu>
  </details>
</div>

<div>
  <button type="button" class="ml-3 d-none d-md-block btn-link color-fg-muted no-underline select-menu-button" aria-haspopup="menu" data-toggle-for="advisories-sort-filter">
    Sort
  </button>

  <details class="details-reset details-overlay select-menu hx_rsm flex-shrink-0 position-relative" id="advisories-sort-filter">
    <summary tabindex="-1" aria-label="Sort"></summary>

    <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 1000;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-header">
        <span class="select-menu-title">Sort by</span>
        <%= render Primer::Beta::CloseButton.new(classes: "hx_rsm-close-button btn-link", "data-toggle-for": "advisories-sort-filter", "aria-label": "Close menu") %>
      </div>

      <div class="select-menu-list" data-pjax>
        <% view.sort_directions.each do |sort| %>
          <a href="<%= sort[:url] %>" aria-checked="<%= sort[:selected] %>" class="select-menu-item" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text"><%= sort[:label] %></div>
          </a>
        <% end %>
      </div>
    </details-menu>
  </details>
</div>
