<div class="select-menu-header">
  <span class="select-menu-title">Filter by organization or owner</span>
</div>

<div class="select-menu-filters">
  <filter-input class="select-menu-text-filter" aria-owns="organization-list">
    <input
      type="text"
      class="form-control"
      autofocus
      spellcheck="false"
      autocomplete="off"
      aria-label="Filter organizations"
      placeholder="Filter organizations">
  </filter-input>
</div>

<div class="select-menu-list" id="organization-list" data-pjax data-filter-list>
  <% view.organization_filters.each do |item| %>
    <a href="<%= item[:url] %>" aria-checked="<%= item[:selected] %>" class="select-menu-item d-flex flex-items-center" role="menuitemradio">
      <%= primer_octicon(:check, classes: "flex-shrink-0 select-menu-item-icon") %>
      <div class="select-menu-item-gravatar ml-2">
        <%= avatar_for item[:user], 30 %>
      </div>
      <div class="select-menu-item-text text-bold" <%= test_selector("advisory-organization-filter") %>>
        <%= item[:label] %>
      </div>
    </a>
  <% end %>

  <div class="p-2" data-filter-empty-state hidden>No organizations found</div>
</div>
