<div class="select-menu-header">
  <span class="select-menu-title">Filter by repository type</span>
</div>

<div class="select-menu-list" data-pjax data-filter-list>
  <% view.repository_type_filters.each do |item| %>
    <a href="<%= item[:url] %>" aria-checked="<%= item[:selected] %>" class="select-menu-item d-flex flex-items-center" role="menuitemradio">
      <%= primer_octicon(:check, classes: "flex-shrink-0 select-menu-item-icon") %>
      <div class="ml-2 select-menu-item-text" <%= test_selector("advisory-repository-type-filter") %>>
        <%= item[:label] %>
      </div>
    </a>
  <% end %>
</div>
