<%# view is an instance of GlobalAdvisories::ShowView %>
<% view.timeline_items.each do |item| %>
  <div class="ml-4 TimelineItem pb-1">
    <div class="TimelineItem-badge <%= view.timeline_badge_color(item) %>"><%= primer_octicon(item[:icon]) %></div>
    <div class="TimelineItem-body">
      <% if item[:event] == :repo_published %>
        <%= linked_avatar_for(view.safe_repository_advisory_publisher, 20, img_class: "avatar") %>
        <%= profile_link(view.safe_repository_advisory_publisher, class: "ml-1 Link--primary text-bold") %>
        published to
        <a href="<%= gh_repository_advisory_path(view.repository_advisory) %>" class="Link--primary">
          <%= view.repository_advisory.repository.name_with_display_owner %>
        </a>
      <% elsif item[:event] == :nvd_published %>
        Published by the <%= view.advisory.cve_id.present? ? render(Primer::Beta::Link.new(scheme: :primary, href: "https://nvd.nist.gov/vuln/detail/#{view.advisory.cve_id}", target: "_blank", rel: "noopener noreferrer", classes: "Link--inTextBlock")) { "National Vulnerability Database" } : "National Vulnerability Database" %>
      <% else %>
        <%= view.timeline_text(item[:event])%>
      <% end %>
      <%= time_ago_in_words_js(item[:time]) %>
    </div>
  </div>
<% end %>
