<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%# view is an instance of GlobalAdvisories::IndexView %>

<%
  page_info(
    title: "GitHub Advisory Database",
    stafftools: stafftools_vulnerabilities_path,
    richweb: {
      title: "GitHub Advisory Database",
      url: request.original_url,
      description: "A database of software vulnerabilities, using data from maintainer-submitted advisories and from other vulnerability databases.",
      image: image_path("modules/site/social-cards/advisory-database-index.png"),
    },
  )
%>

<% content_for :header_title do %>
  <strong class="color-text-white">GitHub Advisory Database</strong>
<% end %>

<div class="container-xl clearfix px-3 px-md-4 px-lg-5">
  <div class="pb-4 pt-5 d-lg-block">
    <h1 class="lh-condensed">
      GitHub Advisory Database
    </h1>

    <p class="mt-2">
      Security vulnerability database inclusive of CVEs and GitHub originated security advisories from the world of open source software.
    </p>
  </div>

  <div class="repository-content d-flex flex-column flex-lg-row width-full">
    <div class="flex-auto col-12 col-lg-3 pr-lg-4 pr-xl-5">
      <div class="d-none d-md-block pb-4">
        <h2 class="h6 color-fg-muted mb-3">GitHub reviewed advisories</h2>
        <ul class="filter-list" data-pjax>
          <% view.reviewed_filters.each do |ecosystem| %>
            <li>
              <a class="filter-item"
                <% if ecosystem[:selected] %>aria-current="true"<% end %> href="<%= ecosystem[:url] %>"> <%= ecosystem[:label] %>
                <span class="count text-normal" <%= test_selector("#{ecosystem[:id]}-ecosystem-count") %>><%= number_with_delimiter ecosystem[:count] %></span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="d-none d-md-block pb-4">
        <h2 class="h6 color-fg-muted mb-3">Unreviewed advisories</h2>
        <ul class="filter-list" data-pjax>

          <% view.unreviewed_filters.each do |ecosystem| %>
            <li>
              <a class="filter-item"
                <% if ecosystem[:selected] %>aria-current="true"<% end %> href="<%= ecosystem[:url] %>"> <%= ecosystem[:label] %>
                <span class="count text-normal" <%= test_selector("#{ecosystem[:id]}-unreviewed-ecosystem-count") %>><%= number_with_delimiter ecosystem[:count] %></span>
              </a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="d-none d-md-block pt-4 border-top">
        <div class="mb-3">
          <a href="<%= GitHub.site_policy_url %>/github-additional-product-terms#12-advisory-database" target="_blank" class="Link--muted" rel="noopener noreferrer">
            <%= primer_octicon(:law, mr: 2) %>
            CC-BY-4.0 License
          </a>
        </div>
        <div class="mb-3">
          <a href="<%= GitHub.help_url %>/code-security/security-advisories/working-with-global-security-advisories-from-the-github-advisory-database/about-the-github-advisory-database#github-reviewed-advisories" target="_blank" class="Link--muted" rel="noopener noreferrer">
            <%= primer_octicon(:book, mr: 2) %>
            Language support
          </a>
          <%= render(Primer::IconButton.new(icon: :info, "aria-label": "Unreviewed advisories have not been assessed by GitHub for quality and do not connect to the Dependabot service.", id: "global-advisories-index-language-support-info-icon")) %>
        </div>
        <div class="mb-3">
          <a href="<%= GitHub.help_url %>/code-security/security-advisories/working-with-global-security-advisories-from-the-github-advisory-database/about-the-github-advisory-database" target="_blank" class="Link--muted" rel="noopener noreferrer">
            <%= primer_octicon(:book, mr: 2) %>
            About GitHub Advisory Database
          </a>
        </div>
      </div>

      <details class="details-reset details-overlay select-menu d-md-none position-relative" id="ecosystem-select-menu-container" <%= test_selector("ecosystem-select-menu-container") %>>
        <summary class="btn text-bold text-center d-block" aria-haspopup="true">
          Filter advisories
          <span class="dropdown-caret"></span>
        </summary>

        <details-menu class="SelectMenu width-full"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="SelectMenu-modal width-full">
            <header class="SelectMenu-header">
              <h3 class="SelectMenu-title">Filter advisories</h3>
              <button class="SelectMenu-closeButton" type="button" data-toggle-for="ecosystem-select-menu-container" <%= test_selector("ecosystem-select-menu-close-button") %>>
                <%= primer_octicon(:x, aria: {label: "Close menu"}) %>
              </button>
            </header>
            <div class="SelectMenu-list SelectMenu-list">
              <div class="SelectMenu-divider">GitHub reviewed advisories</div>
              <% view.mobile_filters.each do |filter| %>
                <% if filter[:divider] %>
                  <div class="SelectMenu-divider"><%= filter[:label] %></div>
                <% else %>
                  <% url = filter[:url] %>
                  <a href="<%= url %>" class="SelectMenu-item d-flex flex-row flex-justify-between" aria-checked="<%= filter[:selected] %>" role="menuitemradio">
                    <div>
                      <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
                      <%= filter[:label] %>
                    </div>
                    <span>
                      <%= render Primer::Beta::Counter.new(count: filter[:count], hide_if_zero: true) %>
                    </span>
                  </a>
                <% end %>
              <% end %>
            </div>
          </div>
        </details-menu>
      </details>
    </div>

    <div class="flex-auto col-12 col-lg-9">
      <%= form_tag global_advisories_path, method: :get, class: "d-flex flex-column flex-md-row mb-3 mt-3 mt-lg-0", data: { pjax: true } do %>
        <div class="subnav-search flex-auto d-flex mx-0">
          <input aria-label="Search by CVE/GHSA ID, package, severity, ecosystem, credit&hellip;"
                placeholder="Search by CVE/GHSA ID, package, severity, ecosystem, credit&hellip;"
                autocapitalize="off"
                autocomplete="off"
                class="form-control input-block flex-auto input-lg subnav-search-input"
                spellcheck="false"
                type="text"
                name="query"
                value="<%= view.query.user_query %>">
          <%= primer_octicon(:search, classes: "subnav-search-icon") %>
          <% if view.query.user_query.present? %>
            <a href="<%= view.index_path(query: nil) %>"
              class="issues-reset-query position-absolute right-0 mr-1 rounded-2 text-center btn-link Link--muted flex-self-center"
              aria-label="Clear filters"
              data-pjax
            >
              <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
            </a>
          <% end %>
        </div>
        <%= render Primer::ButtonComponent.new(ml: [nil, nil, 2], mt: [2, nil, 0], display: [nil, nil, nil, :none], classes: "flex-shrink-0", type: :submit) do %>Search<% end %>
      <% end %>

      <% if view.show_unreviewed_advisories_notice? %>
        <div class="color-fg-muted f6 mb-3">Unreviewed advisories have not been assessed by GitHub for quality and do not connect to the Dependabot service.</div>
      <% end %>

      <div class="Box Box--responsive js-navigation-container js-active-navigation-container">
        <div class="Box-header d-flex">
          <h2 class="Box-title flex-auto">
            <span <%= test_selector("advisory-results-table-total") %>><%= number_with_delimiter(view.results.total) %></span> <%= "advisory".pluralize(view.results.total) %>
          </h2>

          <%= render "global_advisories/filters", view: view %>
        </div>

        <% if view.results.any? %>
          <% view.advisories.each do |advisory| %>
            <div class="Box-row Box-row--focus-gray p-0 js-navigation-item" <%= test_selector("advisory-list-item") %> <%= test_selector(advisory.ghsa_id, name: "ghsa-id") %>>
              <div class="d-flex position-relative">
                <div class="d-flex flex-auto flex-column p-3">
                  <div class="lh-condensed flex-auto">
                    <a href="<%= view.show_path(advisory) %>" class="Link--primary v-align-middle no-underline h4 js-navigation-open" data-pjax>
                      <%= view.advisory_title(advisory) %>
                    </a>

                    <% if advisory.malware? %>
                      <%= render(Primer::Beta::Label.new(scheme: :primary, vertical_align: :middle)) { "Malware" }%>
                    <% else %>
                      <%= render DependabotAlerts::SeverityLabelComponent.new(severity: view.advisory_severity(advisory), verbose: false, vertical_align: :middle) %>
                    <% end %>

                    <% if advisory.unreviewed? %>
                      <%= render Issues::LabelComponent.new(color: "E1E1E1", description: "Status: unreviewed", ml: 1, vertical_align: :middle) do %>
                        Unreviewed
                      <% end %>
                    <% end %>
                    <div class="mt-1 text-small color-fg-muted">
                      <span class="text-bold">
                        <%= advisory.identifier %>
                      </span>

                      was published
                      <% if advisory.public_vulnerable_version_ranges.any? %>
                        for
                        <span>
                          <%= advisory.affects.first %>
                        </span>
                        (<%= ::AdvisoryDB::Ecosystems.label(advisory.ecosystems.first) %>)
                      <% end %>
                      <%= time_ago_in_words_js(advisory.published_at) %>
                      <% if advisory.withdrawn? %>
                        &bull;
                        <%= render Primer::Beta::Label.new(scheme: :secondary, ml: 1, title: "Label: withdrawn") do %>
                          withdrawn
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
                <% credit_recipients = view.credit_recipients_for_advisory(advisory) %>
                <% if credit_recipients.present? %>
                  <%= render Primer::Beta::AvatarStack.new(
                    align: :right,
                    tooltipped: true,
                    body_arguments: {
                      direction: :sw,
                      align: :right_1,
                      multiline: true,
                      label: "Credited to #{credit_recipients.map(&:display_login).to_sentence}",
                    },
                    mx: 3,
                    mt: 3,
                  ) do |stack| %>
                    <% credit_recipients.each do |recipient| %>
                      <%= stack.with_avatar(
                        href: global_advisories_path(query: "credit:#{recipient.display_login}"),
                        src: avatar_url_for(recipient),
                        alt: recipient.display_login,
                        test_selector: "advisory-credit-avatar",
                        data: {
                          octo_click: "global_advisory_credit_avatar",
                          octo_dimensions: "click_on_self:#{recipient == current_user}",
                        },
                      ) %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= render Primer::BlankslateComponent.new(
            icon: "shield",
            title: "No results matched your search",
            large: true,
            spacious: true,
          ) do %>
            <p> Need help? Check out the <%= link_to("documentation.", view.documentation_url, class: "Link--inTextBlock") %> </p>
          <% end %>
        <% end %>
      </div>

      <% if view.results.total_pages > 1 %>
        <div class="paginate-container">
          <%= will_paginate view.results, "data-pjax": true, class: "d-flex d-md-inline-block pagination" %>
        </div>
      <% end %>

      <div class="mt-3 text-center">
        <%= primer_octicon(:"light-bulb") %>
        <strong>ProTip!</strong>
        <%= view.protip[:text] %>
        <a href="<%= view.protip[:link_href] %>"><%= view.protip[:link_text] %></a>
      </div>
    </div>
  </div>
</div>
