<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# view is an instance of GlobalAdvisories::ShowView %>

<%
  page_info(
    title: "#{view.advisory_title} · #{view.advisory.identifier} · GitHub Advisory Database",
    richweb: {
      title: "#{view.advisory.identifier} - GitHub Advisory Database",
      url: request.original_url,
      description: view.advisory_title,
      card: "summary",
      image: image_path("modules/site/social-cards/advisory-database-show.png"),
    },
    container_xl: true
  )
%>

<% content_for :header_title do %>
  <%= primer_octicon(:shield, mr: 1) %>
  <strong class="color-text-white"><%= view.advisory.identifier %></strong>
<% end %>

<div class="container-xl p-responsive"
  data-issue-and-pr-hovercards-enabled
  data-commit-hovercards-enabled
  data-repository-hovercards-enabled
  data-team-hovercards-enabled
  data-project-hovercards-enabled
>

  <%= render(Primer::Beta::Breadcrumbs.new(mt: 6, display: [:none, nil, nil, :block], data: {pjax: true})) do |component| %>
    <% component.with_item(href: global_advisories_path) do %>GitHub Advisory Database<% end %>
    <% if view.advisory.unreviewed? %>
      <% component.with_item(href: global_advisories_path(query: "type:unreviewed")) do %>Unreviewed<% end %>
    <% elsif view.advisory.malware? %>
      <% component.with_item(href: global_advisories_path(query: "type:malware")) do %>Malware<% end %>
    <% else %>
      <% component.with_item(href: global_advisories_path(query: "type:reviewed")) do %>GitHub Reviewed<% end %>
    <% end %>
    <% component.with_item(href: request.path) do %><%= view.advisory.identifier %><% end %>
  <% end %>

  <%= render Primer::Beta::Subhead.new(mt: [3, nil, nil, 4], hide_border: true) do |component| %>
    <% component.with_heading(tag: :h2, classes: "lh-condensed", "data-hpc": "") do %>
      <%= view.advisory_title %>
    <% end %>

    <% component.with_description do %>
      <% unless view.advisory.malware? %>
        <%= render DependabotAlerts::SeverityLabelComponent.new(severity: view.advisory.severity, font_weight: :bold, mr: 1, vertical_align: :middle, test_selector: "advisory-severity") %>
      <% end %>

      <% if view.advisory.unreviewed? %>
        <%= render Primer::Beta::Label.new(mr: 1, vertical_align: :middle) do %>
          Unreviewed
        <% end %>
      <% elsif view.advisory.malware? %>
        <%= render Primer::Beta::Label.new(scheme: :primary, mr: 1, vertical_align: :middle) do %>
          Malware
        <% end %>
      <% else %>
        <%= render Primer::Beta::Label.new(mr: 1, vertical_align: :middle) do %>
          GitHub Reviewed
        <% end %>
      <% end %>

      <span class="v-align-middle">
        Published
        <% if view.has_repository? %>
          <%= time_ago_in_words_js(view.repository_advisory.published_at) %>
          in
          <a href="<%= repository_path(view.repository) %>" class="text-bold Link--muted" data-repository-hovercards-enabled <%= safe_data_attributes(hovercard_data_attributes_for_repository(view.repository)) %>>
            <%= view.repository.name_with_display_owner %>
          </a>
        <% else %>
          <%= time_ago_in_words_js(view.advisory.published_at) %>
          to the GitHub Advisory Database
        <% end %>

        <% if view.advisory.updated_at > view.advisory.published_at %>
          &bull;
          Updated <%= time_ago_in_words_js(view.advisory.updated_at) %>
        <% end %>
      </span>
    <% end %>
  <% end %>

  <% if view.advisory.withdrawn? %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 6, mt: 3)) do %>
      <%= render(Primer::Beta::Label.new(bg: :default, mr: 1, title: "Withdrawn")) { "Withdrawn" } %>
      This advisory was withdrawn on <%= full_month_date(view.advisory.withdrawn_at) %>
    <% end %>
  <% end %>

  <% if view.show_dependabot_alerts_tab? %>
    <nav class="UnderlineNav mb-3" aria-label="Advisory" data-pjax>
      <div class="UnderlineNav-body" role="tablist">
        <a class="UnderlineNav-item" href="<%= global_advisory_path(view.advisory.ghsa_id) %>" <%= test_selector("advisory-details") %>
          <% if view.details_tab %>aria-current="page"<% end %>>Vulnerability details
        </a>
          <a class="UnderlineNav-item" href="<%= global_advisory_dependabot_alerts_path(view.advisory.ghsa_id) %>" <%= test_selector("advisory-dependabot-alerts") %>
            <% if view.dependabot_alerts_tab %>aria-current="page"<% end %>>Dependabot alerts
            <% if logged_in? %>
              <%= content_tag("include-fragment", nil, src: global_advisory_dependabot_alerts_count_path(view.advisory.ghsa_id), accept: "text/fragment+html") %>
            <% else %>
              <%= render partial: "global_advisories/dependabot_alerts_count", locals: { count: 0 } %>
            <% end %>
          </a>
      </div>
    </nav>
  <% end%>

  <% if view.show_dependabot_alerts_tab? %>
    <% if view.details_tab %>
      <%= render partial: "global_advisories/details", locals: { view: view } %>
    <% else %>
      <%= render partial: "global_advisories/dependabot_alerts", locals: { view: view } %>
    <% end %>
  <% else %>
    <%= render partial: "global_advisories/details", locals: { view: view } %>
  <% end %>
</div>
