<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="mb-6">
  <% if any_production_deployments? %>
    <h3 class="mb-3" <%= test_selector("active-group-header") %>>Currently deploying</h3>
  <% elsif locked? %>
    <h3 class="mb-3" <%= test_selector("active-group-header") %>>Locked to deploy next</h3>
  <% else %>
    <h3 class="mb-3" <%= test_selector("active-group-header") %>>Up next to deploy</h3>
  <% end %>

  <div class="Box mb-3">
    <div class="Box-header d-flex flex-auto">
      <div <%= test_selector("merge-status-icon") %>>
        <%= render MergeQueues::EntryStatusComponent.new(
          entry: last_entry,
          queue: merge_queue,
          repository: repository,
          status_icon_size: 32,
        ) %>
      </div>
      <div class="col-12 d-flex flex-column flex-lg-row flex-lg-items-center">
        <div class="ml-2 flex-1">
          <h4 class="d-block text-bold h5">
            <% if solo? %>
              Pull request
            <% else %>
              Merge group
            <% end %>
            <% if (any_production_deployments? || locked?) && head_oid.present? %>
              <span class="text-mono color-fg-muted" <%= test_selector("merge-group-head-ref") %>>
                <%= link_to(head_oid, commit_path(head_oid, repository)) %>
              </span>
              <%= render Primer::Beta::ClipboardCopy.new(value: head_oid, "aria-label": "Copy the SHA", color: :muted, classes: "Link--onHover", "data-copy-feedback": "Copied!", test_selector: "merge-group-copy-link", ml: 1) %>
            <% end %>
          </h4>
          <p class="color-fg-muted text-small lh-condensed mb-0" <%= test_selector("merge-status") %>>
            <%= merge_status_description %>
          </p>
          <% if any_production_deployments? %>
            <p class="text-small lh-condensed mb-0" <%= test_selector("deployment-summary") %>>
              <%= render Primer::Beta::Octicon.new(
                icon: "dot-fill",
                color: deployment_status_icon_color,
              ) %>
              <%= deployment_summary %>
              <% if log_url.present? %>
                &bull; <%= link_to "Monitor deployment", log_url, target: "_blank" %>
              <% end %>
            </p>
          <% end %>
        </div>
        <div class="ml-2 mt-2 mt-lg-0">
          <% if deploy_instructions.present? %>
            <%= render(GitHub::DialogComponent.new(
              title: deploy_instructions.title,
              details_classes: "mr-2 mb-2 mb-sm-0 d-block d-sm-inline-block",
              variant: :wide,
            )) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
              <% dialog.with_body do %>
                <div class="markdown-body entry-content" <%= test_selector("deploy-instructions") %>>
                  <% if deploy_instructions.body.present? %>
                    <%= GitHub::Goomba::MarkdownPipeline.to_html(deploy_instructions.body) %>
                  <% else %>
                    <%= render(Primer::Beta::Flash.new(scheme: :danger, test_selector: "deploy-instructions-errors")) do %>
                      <strong>Errors occurred when rendering deploy instructions for this repository:</strong>
                      <ul class="mt-3">
                        <li>Body was missing or invalid</li>
                      </ul>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% if show_deployment_progress? %>
      <span class="Progress Progress--small" <%= test_selector("deployment-progress") %>>
        <span class="Progress-item <%= deployment_progress_color %>" style="width: <%= percent_audience_served %>%;"></span>
      </span>
    <% end %>
    <ul>
      <% entries.each_with_index do |entry, index| %>
        <%= render MergeQueues::EntryComponent.new(
          entry: entry,
          repository: repository,
          locked: locked?,
          merge_queue: merge_queue,
          pull_request: entry.pull_request,
          display_entry_ci_status: false,
          last_entry_in_list: index == entries.size - 1
        ) %>
      <% end %>
    </ul>
  </div>
</div>
