<%= form_for reply, method: reply.persisted? ? :put : :post, html: {"aria-label": "Add a saved reply"} do %>
  <% if defined?(return_to) && return_to.present? %>
    <input type="hidden" name="return_to" value="<%= return_to %>">
  <% end %>

  <dl class="form-group">
    <dt><label for="saved-reply-title-field">Saved reply title</label></dt>
    <dd><input id="saved-reply-title-field" class="input-block form-control" type="text" required autofocus placeholder="Add a short title to your reply" name="title" value="<%= reply.title %>"></dd>
  </dl>

  <div>
    <%= render(Comments::PreviewableCommentFormComponent.new(
      body: reply.body,
      textarea_id: "saved_reply_field",
      field_name: "body",
      subject: reply,
      placeholder: "Add your saved reply",
      session_resumable: false,
      use_fixed_width_font: current_user.use_fixed_width_font?,
      size: :large
    )) %>

    <div class="d-flex flex-items-center flex-justify-end gap-2 my-2">
      <% if reply.title.nil? %>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, "data-disable-invalid": "", "data-disable-with": "") do %>Add saved reply<% end %>
      <% else %>
        <%= render Primer::Beta::Link.new(href: url_for(:back)) do %>Cancel<% end %>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, "data-disable-invalid": "", "data-disable-with": "") do %>Update saved reply<% end %>
      <% end %>
    </div>
  </div>
<% end %>
