<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: 'Saved replies', selected_link: :saved_replies %>

<%= render layout: "settings/settings" do %>
  <div class="settings-next">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Saved replies<% end %>
    <% end %>
  </div>

  <p>
    Saved replies are re-usable text snippets that you can use throughout GitHub comment fields.
    Saved replies can save you time if you’re often typing similar responses.
    <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/working-with-saved-replies/">Learn more about working with saved replies</a>.
  </p>
  <div class="mt-4 js-saved-reply-container">
    <div class="listgroup js-saved-reply-list" <%= "hidden" if !replies.any? %>>
      <% replies.each_with_index do |reply, index| %>
        <div class="listgroup-item listgroup-item-preview js-saved-reply-list-item">
          <div class="BtnGroup float-right">
            <%= form_tag edit_saved_reply_path(reply), :method => :get, :class => "BtnGroup-parent" do %>
              <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, group_item: true, "aria-label": "Edit reply") do %>
                <%= render(Primer::Beta::Octicon.new(icon: "pencil")) %>
              <% end %>
            <% end %>
            <%= form_tag saved_reply_path(reply), :method => :delete, :class => "js-saved-reply-delete BtnGroup-parent" do %>
              <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, group_item: true, scheme: :danger, "aria-label": "Delete reply") do %>
                <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
              <% end %>
            <% end %>
          </div>
          <span class="listgroup-item-title css-truncate">
            <span class="color-fg-default css-truncate-target">
              <%= reply.title %>
            </span>
          </span>
          <span class="listgroup-item-body css-truncate">
            <span class="css-truncate-target"><%= reply.body %></span>
          </span>
        </div>
      <% end %>
    </div>

    <div class="js-saved-reply-empty-container p-5 text-center color-fg-muted" <%= "hidden" if replies.any? %>>
      No saved replies yet.
    </div>
  </div>

  <div class="settings-next">
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>Add a saved reply<% end %>
    <% end %>
  </div>

  <%= render :partial => 'settings/user/replies/reply_form', :locals => { :reply => reply, :return_to => return_to }  %>
<% end %>
