<%= render Primer::Box.new(test_selector: TEST_SELECTOR) do %>
  <%= render(Primer::Beta::Subhead.new(hide_border: true)) do |c| %>
    <% c.with_heading(font_size: 3, color: :default) do %>
      Dependencies
    <% end %>
  <% end %>

  <% if blocked_message.present? %>
    <%= render(Primer::Box.new(color: :attention, display: :flex, align_items: :flex_start, mb: 3)) do %>
      <%= render(Primer::Beta::Octicon.new(:alert, mr: 2, mt: 1)) %>
      <%= render(Primer::Box.new) do %>
        <%= blocked_message %>
        <% if features_blocked_by_policy.any? %>
          <%= link_to "Learn more about this policy.", "https://docs.github.com/enterprise-cloud@latest/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-code-security-and-analysis-for-your-enterprise#enforcing-a-policy-to-manage-the-use-of-dependabot-alerts-in-your-enterprise", aria: { label: "Learn more about the Dependabot alerts enterprise policy" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <coverage-settings
    data-targets="enablement-dialog.coverageSettings"
    data-action="
      increment:enablement-dialog#incrementCounter
      decrement:enablement-dialog#decrementCounter
    "
  >
    <%= render(Primer::Beta::BorderBox.new) do |component| %>
      <% component.with_row do %>
        <%= render(Primer::Box.new(display: :inline_flex, mb: -2)) do %>
          <div class="mt-1">
            <input
              type="checkbox"
              name="dependency_graph_checkbox"
              aria-labelledby="dependency-graph-label"
              aria-describedby="dependency-graph-description"
              data-action="click:coverage-settings#toggleParentFeature"
              data-target="coverage-settings.parentFeatureCheckbox"
              setting-disabled="<%= setting_disabled?(:dependency_graph) %>"
              feature-enabled="<%= @enablement_data.dependency_graph_enabled %>"
            >
            <input
              type="hidden"
              name="dependency_graph_enabled"
              data-target="coverage-settings.parentFeatureEnabled"
            >
          </div>
          <%= render(Primer::Beta::Subhead.new(hide_border: true, ml: 2)) do |c| %>

            <% c.with_heading(id: "dependency-graph-label", font_size: 5, color: :default, data: { target: "coverage-settings.parentFeatureTitle" } ) do %>
              Dependency graph
              <%= render(Primer::Beta::Label.new(
                hidden: true,
                scheme: :accent,
                ml: 1,
                "data-target": "coverage-settings.parentFeatureModified"
              )) { "Modified" } %>
            <% end %>

            <% c.with_description(id: "dependency-graph-description", font_size: 6) do %>
              <%= feature_description(:dependency_graph) %>
            <% end %>
          <% end %>
        <% end %>
      <% end%>
    <% end %>

    <% if feature_enabled_at_instance_level?(:dependabot_alerts) %>
      <%= render(Primer::Box.new) do %>
        <%= render(Primer::Beta::Subhead.new(hide_border: true, mt: 3, ml: 3)) do |c| %>
          <% c.with_heading(font_size: 4, color: :default) do %>
            Dependabot
          <% end %>
        <% end %>

        <%= render(Primer::Beta::BorderBox.new(ml: 3, mb: 2)) do |component| %>
          <% component.with_row do %>
            <%= render(Primer::Box.new(display: :inline_flex, mb: -2)) do %>
              <div class="mt-1">
                <input
                  name="vulnerability_alerts_checkbox"
                  type="checkbox"
                  aria-labelledby="vulnerability-alerts-label"
                  aria-describedby="vulnerability-alerts-description"
                  data-action="click:coverage-settings#toggleSubFeatureTwo"
                  data-target="coverage-settings.subFeatureTwoCheckbox"
                  setting-disabled="<%= setting_disabled?(:dependabot_alerts) %>"
                  feature-enabled="<%= @enablement_data.dependabot_alerts_enabled %>"
                >
                <input
                  type="hidden"
                  name="vulnerability_alerts_enabled"
                  data-target="coverage-settings.subFeatureTwoEnabled"
                >
              </div>
              <%= render(Primer::Beta::Subhead.new(hide_border: true, ml: 2)) do |c| %>
                <% c.with_heading(id: "vulnerability-alerts-label", font_size: 5, color: :default, data: { target: "coverage-settings.subFeatureTwoTitle" } ) do %>
                  Alerts
                  <%= render(Primer::Beta::Label.new(
                    hidden: true,
                    scheme: :accent,
                    ml: 1,
                    "data-target": "coverage-settings.subFeatureTwoModified"
                  )) { "Modified" } %>
                <% end %>

                <% c.with_description(id: "vulnerability-alerts-description", font_size: 6) do %>
                  <%= feature_description(:dependabot_alerts) %>
                <% end %>
              <% end %>
            <% end %>
          <% end%>

          <% if feature_enabled_at_instance_level?(:dependabot_security_updates) %>
            <% component.with_row do %>
              <%= render(Primer::Box.new(ml: 3, display: :inline_flex, mb: -2)) do %>
                <div class="mt-1">
                  <input
                    name="vulnerability_updates_checkbox"
                    type="checkbox"
                    aria-labelledby="vulnerability-updates-label"
                    aria-describedby="vulnerability-updates-description"
                    data-action="click:coverage-settings#toggleSubFeatureTwoChild"
                    data-target="coverage-settings.subFeatureTwoChildCheckbox"
                    setting-disabled="<%= setting_disabled?(:dependabot_security_updates) %>"
                    feature-enabled="<%= @enablement_data.dependabot_security_updates_enabled %>"
                  >
                  <input
                    type="hidden"
                    name="vulnerability_updates_enabled"
                    data-target="coverage-settings.subFeatureTwoChildEnabled"
                  >
                </div>
                <%= render(Primer::Beta::Subhead.new(hide_border: true, ml: 2)) do |c| %>
                  <% c.with_heading(id: "vulnerability-updates-label", font_size: 5, color: :default, data: { target: "coverage-settings.subFeatureTwoChildTitle" } ) do %>
                    Security updates
                    <%= render(Primer::Beta::Label.new(
                      hidden: true,
                      scheme: :accent,
                      ml: 1,
                      "data-target": "coverage-settings.subFeatureTwoChildModified"
                    )) { "Modified" } %>
                  <% end %>

                  <% c.with_description(id: "vulnerability-updates-description", font_size: 6) do %>
                    <%= feature_description(:dependabot_security_updates) %>
                  <% end %>
                <% end %>
              <% end %>
            <% end%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </coverage-settings>
<% end %>
