<% if feature_available?(:secret_scanning) %>
  <%= render Primer::Box.new(test_selector: SECRET_SCANNING_TEST_SELECTOR) do %>
    <%= render(Primer::Beta::Subhead.new(hide_border: true, mt: 3, ml: left_margin)) do |c| %>
      <% c.with_heading(font_size: heading_font_size, color: :default) do %>
        Secret Scanning
      <% end %>
    <% end %>

    <% if blocked_message.present? %>
      <%= render(Primer::Box.new(color: :attention, display: :flex, align_items: :flex_start, mb: 3, ml: left_margin)) do %>
        <%= render(Primer::Beta::Octicon.new(:alert, mr: 2, mt: 1)) %>
        <%= render(Primer::Box.new) do %>
          <%= blocked_message %>
          <% if features_blocked_by_policy.any? %>
            <%= link_to "Learn more about this policy.", "https://docs.github.com/enterprise-cloud@latest/admin/policies/enforcing-policies-for-your-enterprise/enforcing-policies-for-code-security-and-analysis-for-your-enterprise#enforcing-a-policy-to-manage-the-use-of-dependabot-alerts-in-your-enterprise", aria: { label: "Learn more about the secret scanning enterprise policy" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render(Primer::Beta::BorderBox.new(ml: left_margin, mb: 2)) do |component| %>
      <% component.with_row do %>
        <%= render(Primer::Box.new(display: :inline_flex, mb: -2)) do %>
          <div class="mt-1">
            <input
              name="secret_scanning_alerts_checkbox"
              type="checkbox"
              aria-labelledby="secret-scanning-alerts-label"
              aria-describedby="secret-scanning-alerts-description"
              data-action="click:coverage-settings#toggleSubFeatureTwo"
              data-target="coverage-settings.subFeatureTwoCheckbox %>"
              setting-disabled="<%= setting_disabled?(:secret_scanning) %>"
              feature-enabled="<%= @enablement_data.secret_scanning_enabled  %>"
            >
            <input
              type="hidden"
              name="token_scanning_enabled"
              data-target="coverage-settings.subFeatureTwoEnabled"
            >
          </div>
          <%= render(Primer::Beta::Subhead.new(hide_border: true, ml: 2)) do |c| %>

            <% c.with_heading(id: "secret-scanning-alerts-label", font_size: 5, color: :default, data: { target: "coverage-settings.subFeatureTwoTitle" } ) do %>
              Alerts
              <%= render(Primer::Beta::Label.new(
                hidden: true,
                scheme: :accent,
                ml: 1,
                "data-target": "coverage-settings.subFeatureTwoModified"
              )) { "Modified" } %>
            <% end %>

            <% c.with_description(id: "secret-scanning-alerts-description", font_size: 6) do %>
              <%= feature_description(:secret_scanning) %>
            <% end %>
          <% end %>
        <% end %>
      <% end%>

      <% if feature_available?(:secret_scanning_push_protection) %>
        <% component.with_row do %>
          <%= render(Primer::Box.new(test_selector: PUSH_PROTECTION_TEST_SELECTOR, ml: 3, display: :inline_flex, mb: -2)) do %>
            <div class="mt-1">
              <input
                name="push_protection_checkbox"
                type="checkbox"
                aria-labelledby="push-protection-label"
                aria-describedby="push-protection-description"
                data-action="click:coverage-settings#toggleSubFeatureTwoChild"
                data-target="coverage-settings.subFeatureTwoChildCheckbox"
                setting-disabled="<%= setting_disabled?(:secret_scanning_push_protection) %>"
                feature-enabled="<%= @enablement_data.secret_scanning_push_protection_enabled %>"
              >
              <input
                type="hidden"
                name="token_scanning_push_protection_enabled"
                data-target="coverage-settings.subFeatureTwoChildEnabled"
              >
            </div>
            <%= render(Primer::Beta::Subhead.new(hide_border: true, ml: 2)) do |c| %>

              <% c.with_heading(id: "push-protection-label", font_size: 5, color: :default, data: { target: "coverage-settings.subFeatureTwoChildTitle" } ) do %>
                Push protection
                <%= render(Primer::Beta::Label.new(
                  hidden: true,
                  scheme: :accent,
                  ml: 1,
                  "data-target": "coverage-settings.subFeatureTwoChildModified"
                )) { "Modified" } %>
              <% end %>

              <% c.with_description(id: "push-protection-description", font_size: 6) do %>
                <%= feature_description(:secret_scanning_push_protection) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
