<tr class="Box-row" <%= test_selector("#{error? ? "invalid" : "valid"}-bulk-sponsorship-#{sponsorable_login}") %>>
  <td class="p-3 col-8 text-left">
    <% if !error? %>
      <%= hidden_field_tag "bulk_sponsorship[#{sponsorable_login.downcase}][include]", 1 %>
      <%= hidden_field_tag "sponsorables[]", sponsorable_login, id: nil %>
    <% end %>
    <span class="pr-3">
      <% if sponsors_listing %>
        <%= render Sponsors::Sponsorables::LinkedAvatarComponent.new(
          sponsors_listing: sponsors_listing,
          link_url: sponsorable_path(sponsorable_login),
          target: "_blank", # open in a new tab so as not to disrupt the bulk sponsorship process
        ) %>
      <% elsif sponsorable %>
        <%= render Users::ProfileLinkComponent.new(
          login: sponsorable_login,
          is_organization: organization?,
          target: "_blank", # open in a new tab so as not to disrupt the bulk sponsorship process
        ) do %>
          <%= render GitHub::AvatarComponent.new(
            size: 40,
            src: sponsorable.primary_avatar_url(80),
            alt: "@#{sponsorable_login}",
            is_user: !organization?,
          ) %>
        <% end %>
      <% else %>
        <%= render GitHub::AvatarComponent.new(
          actor: User.ghost,
          size: 40,
          is_user: true,
          test_selector: "avatar-placeholder",
        ) %>
      <% end %>
    </span>
    <% if sponsorable_url %>
      <%= render Users::ProfileLinkComponent.new(
        user: sponsorable,
        target: "_blank", # open in a new tab so as not to disrupt the bulk sponsorship process
        test_selector: "sponsorable-login",
        font_weight: :bold,
        word_break: :break_word,
        href: sponsorable_url,
      ).with_content(sponsorable_login) %>
    <% else %>
      <strong <%= test_selector("sponsorable-login") %>><%= sponsorable_login %></strong>
    <% end %>
  </td>
  <td class="p-3 col-4 text-right" <%= test_selector("sponsorship-amount-#{sponsorable_login}") %>>
    <% if !error? %>
      <%= hidden_field_tag "bulk_sponsorship[#{sponsorable_login.downcase}][amount]", amount.dollars.to_i %>
    <% end %>
    <%= amount.format(no_cents_if_whole: true) %>
    <span <%= test_selector("bulk-sponsorship-row-frequency") %> class="color-fg-muted">
      <%= frequency_text %>
    </span>
  </td>
</tr>
