<%= form_with(url: sponsors_bulk_sponsorship_imports_path(redirect_params)) do |form| %>
  <%= form.hidden_field :file_uploaded, value: true %>
  <%= form.file_field Sponsors::BulkSponsorshipImportsController::CSV_PARAM_NAME,
    id: "bulk-sponsorship-import-csv",
    accept: "text/csv",
    required: true,
    data: { max_file_size: Sponsors::BulkSponsorshipImportsController::MAX_FILE_SIZE },
    hidden: true,
    class: "js-bulk-sponsorship-import-csv"
  %>

  <%= render(Primer::Beta::BorderBox.new(
    position: :relative,
    my: 4,
    classes: class_names(
      "bulk-sponsorship-import-dropzone",
      "js-document-dropzone js-bulk-sponsorship-import-dropzone" => can_import?,
    ),
    test_selector: "import-blank-slate",
  )) do |box| %>
    <% box.with_body(text_align: :center) do %>
      <div class="bulk-sponsorship-import-outline position-absolute rounded-2"></div>
      <div class="p-3 position-relative">
        <%= primer_octicon(icon: "arrow-up", size: :medium, aria: { hidden: true }) %>
        <h2 class="mb-4">
          <span class="bulk-sponsorship-hide-on-dragover">Import a CSV</span>
          <span class="bulk-sponsorship-show-on-dragover">Drop to import your file</span>
        </h2>

        <% if can_import? %>
          <%= render Primer::Beta::Button.new(
            type: :button,
            scheme: :primary,
            classes: "js-bulk-sponsorship-import-csv-button",
            tabindex: "0",
            test_selector: "file-input-button",
          ).with_content("Choose file") %>
        <% else %>
          <%= render Sponsors::Sponsorables::TradeScreeningCannotProceedComponent.new(sponsor: sponsor) %>

          <% if sponsors_invoicing_required_to_sponsor? %>
            <%= render Sponsors::InvoicedSponsorsRequiredNoticeComponent.new(
              sponsor_login: sponsor.display_login,
              mb: 4,
            ) %>
          <% end %>
        <% end %>

        <%= render Primer::Beta::Button.new(
          tag: :a,
          href: sponsors_bulk_sponsorship_blank_template_path,
        ).with_content("Download example CSV") %>

        <div class="mt-3 f5 color-fg-muted">
          Or export a list of your dependencies on
          <a href="<%= sponsors_explore_index_path %>" class="Link--inTextBlock">Explore Sponsors</a>
        </div>
        <img src="<%= image_path "modules/site/sponsors/bulk-sponsorship-csv-example.png" %>"
          class="mt-3 bulk-sponsorship-template-image" alt="Example CSV Import" >
        <div class="mt-2 f5 color-fg-muted">
          A CSV is a type of file that contains the names of the people you want to sponsor and the sponsorship amount.
          We'll look for columns labeled Maintainer Username and Amount in USD. We'll safely ignore the rest of your columns.
          You can modify the file using a tool like Microsoft Excel, Google Sheets, or a text editor.
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
