<%# `view` is an instance of Businesses::Settings::SecurityView %>
<%= render Primer::Beta::Subhead.new(id: "team-sync-settings", spacious: true) do |component| %>
  <% component.with_heading(tag: :h2, display: :flex, align_items: :center) do %>
    Team synchronization
  <% end %>
<% end %>
<p class="mb-3">
  Team synchronization lets you manage team membership through your configured identity provider.
  <a class="Link--inTextBlock" aria-label="Learn more about synchronizing teams between your identity provider and GitHub" href="<%= GitHub.help_url %>/articles/synchronizing-teams-between-your-identity-provider-and-github">Learn more</a>.
</p>
<% if !view.supported_team_sync_provider? %>
  <%= render "businesses/security_settings/team_sync/settings_unsupported", view: view %>
<% elsif view.disallow_team_sync_setup? %>
  <%= render "businesses/security_settings/team_sync/settings_disallowed", view: view %>
<% elsif view.show_enable_team_sync_button? %>
  <%= render "businesses/security_settings/team_sync/settings_new", view: view %>
<% elsif view.show_team_sync_assignment_review_available? %>
  <%= render "businesses/security_settings/team_sync/settings_pending", view: view %>
<% elsif view.team_sync_enabled? %>
  <%= render "businesses/security_settings/team_sync/settings_enabled", view: view %>
<% end %>
