<%# `view` is an instance of Businesses::Settings::SecurityView %>
<div class="Box">
  <div class="Box-row">
    <%= button_to "Disable team synchronization", team_sync_disable_enterprise_path(view.business),
      method: "delete",
      class: "btn btn-danger float-right mt-1"
    %>

    <div class="text-small pr-3 d-inline">
      <strong><%= view.team_sync_provider_type_label %></strong>
      <code class="color-fg-muted"><%= view.team_sync_provider_id %></code><br>
      <p class="d-inline">
        <%= view.team_sync_status %>
        <%= view.team_sync_activity_link %>
        <% if view.okta_team_sync? %>
          |
          <%= link_to "Edit", team_sync_okta_credentials_edit_enterprise_path(view.business), class: "Link--inTextBlock" %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<%= render "businesses/security_settings/team_sync/forbid_organization_invites_checkbox", view: view %>
