<% if flash[:mandatory_message_error].present? %>
  <%= render(Primer::Alpha::Banner.new(
    scheme: :danger,
    full: true
  )) { flash[:mandatory_message_error] } %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(
  mt: 6,
  col: 6,
  mx: :auto,
  test_selector: "mandatory-message"
)) do |box| %>
  <% box.with_header do |header| %>
    <% header.with_title(tag: :h2) do %>
      <%= primer_octicon(:megaphone, pr: 2) %>
      A message from your administrator
    <% end %>
  <% end %>

  <% box.with_body do %>
    <% if defined?(preview) %>
      <div class="overflow-auto markdown-body mb-3" <%= test_selector "mandatory-message-preview" %>>
        <%= github_flavored_markdown(preview) if preview.present? %>
      </div>

      <%= render(Primer::Beta::Button.new(
        scheme: :primary,
      )) { "Okay" } %>
    <% else %>
      <%= form_tag mandatory_message_views_path, method: :post, class: "overflow-auto" do %>
        <div class="overflow-auto markdown-body mb-3">
          <%= MandatoryMessage.html %>
        </div>

        <%= render(Primer::Beta::Button.new(
          type: :submit,
          scheme: :primary,
          data: {
            "disable-invalid": "",
            "disable-with": "",
          }
        )) { "Okay" } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
