<% page_info :title => "Bulk Ticketer", :selected_link => :bulk_ticketer %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">

    <% if failed_lines.any? %>
      <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
        <% component.with_heading(tag: :h3, danger: true) do %>Failed Lines<% end %>
      <% end %>
      <div class="Box Box--danger overflow-scroll"  style="max-height: 200px">
        <div class="Box-body">
          <% failed_lines.each do |line| %>
            <%= line %> <br>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if rejected.any? %>
      <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
        <% component.with_heading(tag: :h3, danger: true) do %>Unprocessable Repos<% end %>
      <% end %>
      <div class="Box Box--danger overflow-scroll"  style="max-height: 200px">
        <div class="Box-body">
          <% rejected.each do |url| %>
            <%= url %> <br>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
      <% component.with_heading(tag: :h3) do %>JSON<% end %>
    <% end %>
    <div class="Box overflow-scroll" style="max-height: 300px">
      <div class="Box-body">
        <%= render Primer::Beta::ClipboardCopy.new(classes: "btn btn-sm zeroclipboard-button", for: "json-cartridge", "aria-label": "copy JSON") %>
        <pre id="json-cartridge"><%= "---BEGIN JSON ~ DO NOT WRITE BELOW THIS LINE---\n#{JSON.pretty_generate(cartridge)}" %></pre>
      </div>
    </div>

  </div>
<% end %>
