<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# view is an instance of Oauth::AuthorizeView %>
<div class="oauth-org-item js-toggler-container mb-2 m-0 px-0 <%= "on" if grant.allows_oauth_application?(view.application) %>">

  <%= render(Primer::Beta::Spinner.new(size: :small, float: :right, classes: "loading-indicator")) %>

  <div class="authorized-tools">
    <%= form_tag org_set_application_approval_state_path(grant, view.application.id, :state => "denied"), :method => :put, :class => "js-set-approval-state", "data-sudo-required" => "true" do %>
      <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, scheme: :danger, float: :right) do %>Revoke<% end %>
    <% end %>
  </div>
  <div class="unauthorized-tools">
    <%= form_tag org_set_application_approval_state_path(grant, view.application.id, :state => "approved"), :method => :put, :class => "js-set-approval-state", "data-sudo-required" => "true" do %>
      <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, float: :right) do %>Grant<% end %>
    <% end %>
  </div>

  <%= avatar_for(grant, 20, :class => "avatar") %>

  <strong class="color-fg-muted text-small"><%= grant.display_login %></strong>

  <%= render(Primer::Beta::Link.new(href: docs_url("organizations/about-oauth-app-access-restrictions"), classes: "link-to-docs", id: "link-to-docs-for-org-#{grant.id}", target: (show_contact_microsoft_link?(view.application) && GitHub.flipper[:open_footer_links_in_new_tab].enabled?) ? "_blank" : nil)) do |component| %>
    <% component.with_tooltip(
      type: :description,
      direction: :e,
      text: "Until access is granted by an owner, the application cannot access the organization’s private data or modify its public data."
    ) %>

    <%= render(Primer::Beta::Octicon.new(icon: :x, "aria-label": "Restricted")) %>
  <% end %>
</div>
