<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# view is an instance of Oauth::AuthorizeView %>
<% org = request %>
<div id="oauth-request-container-<%= org.id %>" class="oauth-org-item js-toggler-container mb-2 m-0 px-0 <% if request.approval_pending_for_oauth_application?(view.application) %>on<% end %>">

  <%= render(Primer::Beta::Spinner.new(size: :small, float: :right, classes: "loading-indicator")) %>

  <div class="authorized-tools">
    <span class="float-right color-fg-success text-small">Access request pending</span>
  </div>
  <div class="unauthorized-tools">
    <% if !view.allow_access_request_for?(org: org) %>
      <div class="float-right text-small">Disallowed by org owner</div>
    <% else %>
       <%= render layout: "shared/details_dialog", locals: {
      button_text: "Request",
      button_class: "btn btn-sm",
      title: "Send request for approval?",
      details_class: "float-right",
    } do %>
        <%= form_tag org_request_oauth_app_approval_path(org, view.application.id), :class => "js-request-access-approval-form", "data-container-id" => "oauth-request-container-#{org.id}" do %>
          <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
            <%= render Primer::Alpha::Banner.new(full: true, scheme: :warning) do %>
              Owners will receive an email regarding your request.
            <% end %>
          <% else %>
            <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
              Owners will receive an email regarding your request.
            <% end %>
          <% end %>
          <div class="Box-body">
            <p>By requesting this approval, you are asking owners of the <strong><%= org.display_login %></strong> organization to allow this application to access private organization data and modify public organization data.</p>
          </div>
          <div class="Box-footer">
            <%= render Primer::ButtonComponent.new(type: :submit, block: true) do %>
              Request approval from owners
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= avatar_for(org, 20, :class => "avatar") %>

  <strong class="color-fg-muted text-small"><%= org.display_login %></strong>

  <%= render(Primer::Beta::Link.new(href: docs_url("organizations/about-oauth-app-access-restrictions"), classes: "link-to-docs", id: "link-to-docs-for-org-#{org.id}", target: (show_contact_microsoft_link?(view.application) && GitHub.flipper[:open_footer_links_in_new_tab].enabled?) ? "_blank" : nil)) do |component| %>
    <% component.with_tooltip(
      type: :description,
      direction: :e,
      text: "Until access is granted by an owner, the application cannot access the organization’s private data or modify its public data."
    ) %>

    <%= render(Primer::Beta::Octicon.new(icon: :x, "aria-label": "Restricted")) %>
  <% end %>
</div>
