<% page_info :title => "Verify Session" %>
<% multi_account_enabled = account_switcher_helper.enabled? %>

<div class="auth-form px-3" <%= test_selector "switch_account_view" %> data-hpc>
  <div class="auth-form-header p-0">
    <h1>Select user to authorize <strong><%= application.name %></strong></h1>
  </div>
  <%= render "shared/flash" %>

  <%= render partial: "sessions/account_switcher_box", locals: {
    view_name: "switch_account",
    signing_out: false,
    continue_to: oauth_account_picker_path(account_picker_params),
    continue_method: :post,
    return_to: return_to_target,
  }%>

  <% if multi_account_enabled %>
    <%= link_to "Use a different account", login_path(return_to: return_to_target, add_account: "1", allow_signup: account_picker_params[:allow_signup]), class: "btn btn-large width-full text-center mt-3", role: "button" %>
  <% else %>
    <%= button_to "Use a different account", kill_session_path(after_logout: return_to_target), method: :post, class: "btn btn-large width-full text-center mt-3" %>
  <% end %>
</div>
