<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# view is an instance of Oauth::AuthorizeIntegrationView %>

<% page_info title: "Authorize #{view.application.name}" %>

<%= render Oauth::SuggestedSignInComponent.new(application: view.application, original_url: request.original_url, raw_suggestion: params[:login]) %>

<div class="px-3 mx-auto pt-4 container-md">
  <div class="DashedConnection mb-3 mx-auto d-none d-md-block" style="width: 300px;">
    <div class="d-flex flex-justify-between flex-items-center py-4">

      <div class="CircleBadge CircleBadge--medium" style="background-color: #<%= view.preferred_bgcolor %>">
        <%= integration_avatar(integration: view.application, size: 100, height: 50, width: 50, class: "CircleBadge-icon") %>
      </div>
      <div class="position-relative color-bg-success-emphasis text-center" style="border-radius: 50%; width: 32px; height: 32px;">
        <%= primer_octicon(:check, color: :on_emphasis, mt: 2) %>
      </div>
      <div class="CircleBadge CircleBadge--medium box-shadow-none" style="background-color: #fff; overflow: hidden;">
        <%= primer_octicon(:"mark-github", w: :full, h: :full) %>
      </div>
    </div>
  </div>

  <% if view.rate_limited? %>
    <h1 class="f2 text-normal text-center">Reauthorization required</h1>
    <p class="color-fg-muted text-center">
      This application has made an unusually high number of requests to access your account. Please reauthorize the application to continue.
    </p>
  <% end %>

  <h1 class="f2 text-center text-normal">

    <% if GitHub.flipper[:use_display_login_in_authorization_page].enabled? %>
      <%= view.application.name %> by <strong><%= link_to_unless (GitHub.enterprise? && view.application_github_owned?), view.application.display_owner.display_login, view.application.display_owner.user_path, class: "Link--inTextBlock" %></strong>
    <% else %>
      <%= view.application.name %> by <strong><%= link_to_unless (GitHub.enterprise? && view.application_github_owned?), view.application_owner, view.application_owner_path, class: "Link" %></strong>
    <% end%>

    <% if view.existing_authorization? && view.latest_app_permissions.any? && !view.rate_limited? %>
      would like to modify their authorized permissions on your account
    <% else %>
      would like permission to:
    <% end %>
  </h1>
</div>

<% if view.include_device_warning? %>
  <div class="px-3 mt-5 mx-auto" style="max-width: 530px;">
    <%= render partial: "device_authorization/trust_this_device_warning", locals: { view: view } %>
  </div>
<% end %>

<div class="px-3 mt-5 mx-auto" style="max-width: 530px;">
  <div class="Box color-shadow-small">
    <div class="Box-body p-3 p-md-4">
      <% if view.existing_integration_version? && view.latest_app_permissions.any? && !view.rate_limited? %>
        <div class="Box color-shadow-small my-4">
          <% view.permissions_added.each do |permission, value| %>
            <div class="Box-row">
              <strong><%= view.permission_text(value) %></strong>
              access to
              <strong><%= view.human_name(permission) %></strong>

              <%= render Primer::Beta::Label.new(scheme: :secondary, float: [nil, :none, :right]) do %>New request<% end %>
            </div>
          <% end %>

          <% view.permissions_upgraded.each do |permission, value| %>
            <div class="Box-row">
              <strong><%= view.permission_text(value) %></strong>
              access to
              <strong><%= view.human_name(permission) %></strong>

              <span class="text-small color-fg-muted float-right"><em>Was <strong><%= view.permission_text(:read).downcase %></strong></em></span>
            </div>
          <% end %>

          <% view.permissions_downgraded.each do |permission, value| %>
            <div class="Box-row">
              <strong><%= view.permission_text(value) %></strong>
              access to
              <strong><%= view.human_name(permission) %></strong>

              <span class="text-small color-fg-muted float-right"><em>Was <strong><%= view.permission_text(:write).downcase %></strong></em></span>
            </div>
          <% end %>

          <% view.permissions_removed.each do |permission, value| %>
            <div class="Box-row">
              <strong><%= view.permission_text(value) %></strong>
              access to
              <strong><%= view.human_name(permission) %></strong>
              <span class="text-small color-fg-muted float-right"><em>no longer required</em></span>
            </div>
          <% end %>

          <% unless view.permissions_unchanged.empty? %>
            <div class="Details js-details-container">
              <button class="Box-row Box-row--gray Box-row--hover-blue text-center border-top Link--muted d-block js-details-target btn-block border-0" aria-expanded="false" aria-label="Expand and collapse" style="cursor: pointer" type="button">
                <span class="Details-content--shown"><%= primer_octicon(:unfold) %> Show unchanged permissions</span>
                <span class="Details-content--hidden"><%= primer_octicon(:fold) %> Hide unchanged permissions</span>
              </button>

              <div class="Details-content--hidden">
                <% view.permissions_unchanged.each do |permission, value| %>
                  <div class="Box-row color-bg-subtle border-top color-fg-muted">
                    <strong><%= view.permission_text(value) %></strong>
                    access to
                    <strong><%= view.human_name(permission) %></strong>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="mb-4 position-relative lh-default" style="padding-left: 45px;">
          <%= primer_octicon(:person, height: 32, position: :absolute, mr: 3, mt: 1, color: :muted, top: 0, left: 0) %>
          <strong class="pt-2 d-block color-fg-muted">Verify your GitHub identity (<%= current_user.display_login %>)</strong>
        </div>
        <div class="mb-4 position-relative lh-default" style="padding-left: 45px;">
          <%= primer_octicon(:file, height: 32, position: :absolute, ml: 1, mt: 1, color: :muted, top: 0, left: 0) %>
          <strong class="pt-2 d-block color-fg-muted">Know which resources you can access</strong>
        </div>
        <div class="mb-4 position-relative lh-default" style="padding-left: 45px;">
          <%= primer_octicon(:pulse, height: 32, position: :absolute, mr: 3, mt: 1, color: :muted, top: 0, left: 0) %>
          <strong class="pt-2 mb-2 d-block color-fg-muted">Act on your behalf</strong>

        <% href = "#{GitHub.help_url}/apps/using-github-apps/authorizing-github-apps#about-github-apps-acting-on-your-behalf" %>
          <% if show_contact_microsoft_link?(view.application) && GitHub.flipper[:open_footer_links_in_new_tab].enabled? %>
            <%= render(Primer::Beta::Link.new(href: href, aria: { label: "Learn more about GitHub Apps acting on your behalf." }, display: :block, font_size: 6 , target: "_blank")) do %>
              <%= primer_octicon(:question, color: :muted, mr: 1, float: :left) %> Learn more
            <% end %>
          <% else %>
            <%= render(Primer::Beta::Link.new(href: href, aria: { label: "Learn more about GitHub Apps acting on your behalf." }, display: :block, font_size: 6 )) do %>
              <%= primer_octicon(:question, color: :muted, mr: 1, float: :left) %> Learn more
            <% end %>
          <% end %>
        </div>

        <% if view.permissions.any? %>
          <p class="h5 pb-1 border-bottom">Resources on your account</p>

          <% view.permissions.each do |resource, access_level| %>
            <div class="mb-4 position-relative lh-default" style="padding-left: 45px;">
              <%= primer_octicon(view.octicon_for_permission(resource), height: 32, position: :absolute, ml: 1, mt: 1, color: :muted, top: 0, left: 0, style: "max-width:38px;") %>
              <strong><%= view.human_name(resource) %> <span class="color-fg-muted text-normal">(<%= access_level %>)</span></strong>
              <small class="d-block color-fg-muted"><%= view.description(resource) %></small>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div class="text-small color-fg-muted pt-4 border-top">
        <p class="mb-0"><%= link_to "Learn more about #{view.application.name}", gh_app_path(view.application, current_user) %></p>
      </div>
    </div>
    <div class="Box-footer p-3 p-md-4 clearfix">
      <div class="col-sm-12">
        <%= form_tag view.form_submission_path do %>
          <% view.oauth_params.each do |param_key, value| %>
            <%= hidden_field_tag param_key, value %>
          <% end %>
          <% if view.application.present? %>
            <%= hidden_field_tag :integration_version_number, view.application.latest_version.number %>
          <% end %>

          <div class="d-flex flex-justify-center js-authorization-buttons">
            <%= render(Primer::ButtonComponent.new(type: :submit, name: :authorize, value: 0, w: :full, mr: 2, classes: "ws-normal")) { "Cancel" } %>
            <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit, name: :authorize, value: 1, w: :full, classes: "js-oauth-authorize-btn ws-normal", disabled: disable_oauth_authorize_button?(view.application)) do %>
               Authorize <%= view.application.name %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% unless view.device_authorization? %>
        <div class="col-sm-12 mt-2">
          <p class="text-small color-fg-muted mb-0 mt-2 mt-md-0 text-center">Authorizing will redirect to <br><strong class="color-fg-default"><%= view.application_redirect_origin %></strong></p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="Box color-bg-subtle mt-3 p-3 px-md-4 text-small color-fg-muted clearfix mb-6">
    <div class="gutter-condensed lh-condensed">
      <div class="col-12 mb-3 mb-md-0 col-md-4 float-md-left">
        <% if view.application_github_owned? %>
          <div class="position-relative pl-4"><%= primer_octicon(:"mark-github", position: :absolute, left: 0) %> Owned &amp; operated by GitHub</div>
        <% else %>
          <div class="position-relative pl-4"><%= primer_octicon(:"circle-slash", position: :absolute, left: 0) %> <strong>Not</strong> owned or operated by GitHub</div>
        <% end %>
      </div>
      <div class="col-12 mb-3 mb-md-0 col-md-4 float-md-left ">
        <div class="position-relative pl-4"><%= primer_octicon(:clock, position: :absolute, left: 0) %> Created <strong class="d-inline-block"><%= view.application_creation_time_in_words %> ago</strong></div>
      </div>
      <div class="col-12 col-md-4 float-md-left ">
        <div class="position-relative pl-4"><%= primer_octicon(:organization, position: :absolute, left: 0) %> <strong><%= view.application_user_range %></strong> <span class="d-inline-block">GitHub users</span></div>
      </div>
    </div>
  </div>
</div>
