<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<% page_info title: "Integration Installation Triggers", selected_link: :triggered_applications %>

<%= render layout: "stafftools/stafftools" do %>
  <% if stafftools_action_authorized?(controller: Stafftools::IntegrationInstallationTriggersController, action: :create) %>
    <div class="boxed-group-action">
      <%= link_to "Install a GitHub App automatically", new_stafftools_integration_installation_trigger_path, {
        class: "btn btn-sm btn-primary"
      } %>
    </div>
  <% end %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Automatically installed GitHub Apps<% end %>
  <% end %>

  <div class="border-bottom">
    <% if installation_triggers.any? %>
      <% installation_triggers.each do |trigger| %>
        <% view = create_view_model(Stafftools::IntegrationInstallationTriggers::ShowView, trigger: trigger) %>
        <div class="TableObject py-3 border-top">
          <div class="TableObject-item">
            <div class="CircleBadge CircleBadge--tiny" style="background-color: #<%= view.integration.bgcolor %>">
              <img class="CircleBadge-icon" alt="<%= view.integration.name %>" src="<%= view.integration.preferred_avatar_url(size: 60) %>" width="30" height="30">
            </div>
          </div>

          <div class="TableObject-item TableObject-item--primary px-3">
            <span class="text-bold color-fg-default">
              <%= link_to view.integration.name, stafftools_user_app_path(view.integration.owner, view.integration) %>
              <% if view.integration.synchronized_dotcom_app? %>
                | This app is synchronized from GitHub.com.
                <%= link_to "View on GitHub.com", view.integration.dotcom_app_owner_metadata.url, target: "_blank", class: "Link--inTextBlock" %>
              <% end %>
            </span>
            <p> Installed when
              <% if view.show_tooltip? %>
                <span class="help tooltipped tooltipped-n" aria-label="<%= view.path %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                  <%= view.install_type_explanation %>.
                </span>
              <% else %>
                  <%= view.install_type_explanation %>.
              <% end %>
            </p>
          </div>

          <% if stafftools_action_authorized?(controller: Stafftools::IntegrationInstallationTriggersController, action: :edit) %>
            <div class="TableObject-item">
              <div class="BtnGroup flex-auto">
                <%= link_to "Edit", edit_stafftools_integration_installation_trigger_path(view.trigger), class: "btn btn-sm BtnGroup-item float-right mr-1" %>
              </div>
            </div>
          <% end %>
          <% if stafftools_action_authorized?(controller: Stafftools::IntegrationInstallationTriggersController, action: :destroy) %>
            <div class="TableObject-item">
              <div class="BtnGroup flex-auto">
                <%= form_for view.trigger, url: stafftools_integration_installation_trigger_path(view.trigger), method: :delete do |f| %>
                  <%= f.submit "Remove", class: "btn btn-sm btn-danger iconbutton BtnGroup-item float-right" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
        <% c.with_visual_icon(icon: "alert") %>

        <% c.with_heading(tag: :h2) do %>
          There aren't any GitHub Apps installed by triggers.
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="paginate-container">
    <%= will_paginate installation_triggers %>
  </div>
<% end %>
