<% suggestions.each do |suggestion| %>
  <li role="option"
    class="autocomplete-item"
    data-name=<% if suggestion.is_a?(User) %>
      "<%= suggestion.display_login %>"
    <% else %>
      "<%= suggestion %>"
    <% end %>
    data-node-id="<%= suggestion.global_relay_id %>"
    data-avatar-url="<%= avatar_url_for(suggestion, 20) %>">
  <% if suggestion.is_a? User %>
    <%= avatar_for(suggestion, 20, :class => "avatar") %> <%= suggestion.display_login %>
    <small class="text-normal"><%= suggestion.safe_profile_name %></small>
  <% else %>
    <%= primer_octicon(:people) %> <%= suggestion.combined_slug %>
  <% end %>
  </li>
<% end %>
