<%
custom_protection_rules.each do |i|
%>
  <div class="Box-row">
    <div class="form-checkbox d-flex flex-items-center m-0">
      <input type="checkbox" name="custom_protection_rule_integrations[]"
        value="<%= i[:integration_id] %>"
        id="use-custom-<%= i[:integration_id] %>"
        aria-describedby="help-text-for-custom-<%= i[:integration_id] %>"
        <%= i[:enabled] ? "checked" : "" %>>

      <div class="d-flex flex-row flex-items-center ml-2">
        <div class="CircleBadge CircleBadge--tiny mr-2">
          <% if i[:integration] != nil %>
            <%= integration_avatar(integration: i[:integration], size: 30, class: "CircleBadge-icon", alt: i[:integration].name) %>
          <% else %>
            <%= render(Primer::Beta::Octicon.new(icon: :hubot)) %>
          <% end %>
        </div>
        <label for="use-custom-<%= i[:integration_id] %>">
          <% if i[:integration] != nil %>
            <%= i[:integration].name %>
            <p class="note" id="help-text-for-custom-<%= i[:integration_id] %>">
              Custom protection rule provided by <span class="text-bold"><%= i[:integration].name %></span>.
            </p>
          <% else %>
            Deleted app
            <p class="note" id="help-text-for-custom-<%= i[:integration_id] %>">
              Custom protection rule provided by <span class="text-bold"><%= "Deleted app" %></span>.
            </p>
          <% end %>
          <% if i[:invalid] %>
            <div>
              <p class="note color-fg-attention" id="warning-text-for-custom-<%=i[:integration_id] %>">
                <%= octicon "alert-fill", :height => 14, class: "color-fg-attention", style: "stroke-width: 3.5;stroke: var(--bgColor-default, var(--color-canvas-default));paint-order: stroke;"%>
                App is no longer valid. Remove this rule to continue deployments without requiring administrator bypass.
              </p>
            </div>
          <% end%>
        </label>
      </div>
    </div>
  </div>
<% end %>
