<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
  container_xl: true,
  title: "Configure environment #{environment.name} · #{current_repository.name_with_display_owner}",
  selected_link: :repository_environments %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <%= link_to "Environments", repository_environments_path %> / Configure
      <span class="css-truncate css-truncate-target" style="max-width:500px;"><%= environment.name %></span>
    <% end %>
  <% end %>

  <% if environment.errors.present? %>
    <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
      <%= render(Primer::Alpha::Banner.new(scheme: :danger, mb: 3)) do %>
        <%= environment.errors.full_messages.to_sentence %>
      <% end %>
    <% else %>
      <%= render(Primer::Beta::Flash.new(scheme: :danger, mb: 3)) do %>
        <%= environment.errors.full_messages.to_sentence %>
      <% end %>
    <% end %>
  <% end %>

  <div class="d-flex flex-column gap-4">
    <% if current_repository.can_use_deployment_branch_gates? %>
      <%= render "edit_repositories/pages/environments/protection_rules_form", environment: environment %>
    <% end %>
    <% if current_repository.can_use_deployment_protected_branch? %>
      <%= render "edit_repositories/pages/environments/branch_policies", repository: current_repository, environment: environment, params: params %>
    <% end %>

    <%= render "edit_repositories/pages/environments/secrets",
      environment: environment,
      secrets: secrets,
      edit_secret_urls: edit_secret_urls,
      delete_secret_urls: delete_secret_urls,
      public_key: public_key
    %>

    <%= render "edit_repositories/pages/environments/variables",
      environment: environment,
      variables: variables,
      edit_variable_urls: edit_variable_urls,
      delete_variable_urls: delete_variable_urls
    %>
  </div>
<% end %>
