<%
  default_hydro_payload = {
    github_app_id: database_id,
    source_url: request.url,
    location: controller.controller_name + "#" + controller.action_name
  }
  hydro_data ||= hydro_click_tracking_attributes("marketplace.action.click", default_hydro_payload)
%>

<%= content_tag(:a, href: resource_path, data: hydro_data, class: "col-md-6 mb-4 d-flex no-underline") do -%>
  <div>
    <div style ="background-color: #<%= app.bgcolor %>" class="CircleBadge CircleBadge--small">
      <img alt="" src="<%= app.primary_avatar_url %>" class="CircleBadge-icon">
    </div>
  </div>
  <div class="px-3">
    <h3 class="h4"><%= app_viewdata.name %></h3>
    <p class="color-fg-muted lh-condensed wb-break-word mb-0"><%= app_viewdata.hl_short_description %></p>
  </div>
<% end %>
