<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%# `view` is an instance of Orgs::Codespaces::SuggestionsView %>
<% view.suggestions.each do |suggested_target| %>
  <% if suggested_target.is_a?(User) %>
    <button class="member-suggestion typeahead-result btn-link text-left"
      type="submit"
      role="option"
      data-autocomplete-value="<%= suggested_target %>"
      data-name="<%= suggested_target.profile_name %>">
      <%= avatar_for(suggested_target, 24, :class => "avatar") %>
      <p class="member-suggestion-info">
        <strong class="member-login" <%= test_selector("codespaces-suggestions-login") %>>
          <%= suggested_target.display_login %>
        </strong>
        <span class="member-name">
          <%= suggested_target.profile_name %>
        </span>
      </p>
    </button>
  <% end %>
  <% if suggested_target.is_a?(Team) %>
    <button class="member-suggestion typeahead-result btn-link text-left"
      type="submit"
      role="option"
      data-autocomplete-value="<%= suggested_target.slug %>"
      data-name="<%= suggested_target.slug %>">
      <%= avatar_for(suggested_target, 24, :class => "avatar") %>
      <p class="member-suggestion-info">
        <strong class="member-login" <%= test_selector("codespaces-suggestions-login") %>>
          <%= suggested_target.slug %>
        </strong>
        <span class="member-name">
          <%= suggested_target.name %>
        </span>
      </p>
    </button>
  <% end %>
<% end %>
