<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>

<%= render Primer::Box.new(display: :flex, mt: 2, direction: :column, 'data-replace-remote-form-target': '') do %>
  <% if defined?(flash_error) && flash_error %>
    <%= render(Primer::Beta::Flash.new(scheme: :danger, mt: 5)) do %>
      <%= flash_error %>
    <% end %>
  <% end %>
  <% disabled = current_organization.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::DISABLED %>
  <%= form_for current_organization, url: settings_org_codespaces_update_trusted_repositories_access_path(current_organization),
    method: :put,
    html: {
      'data-codespaces-trusted-repos-form': '',
      'data-autosubmit': '',
      'id': "codespaces-trusted-repos-form"
    } do |f| %>
    <div class="form-checkbox">
      <label class="d-flex">
        <%= f.radio_button \
            :codespace_trusted_repositories_access,
            Configurable::CodespaceTrustedRepositories::DISABLED,
            :checked => current_organization.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::DISABLED,
            disabled: disabled
        %>
        <div class="ml-2">Disabled</div>
        <% if show_check && current_organization.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::DISABLED %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
      </label>
      <p class="note">
        Limit access of Codespaces to only the repository they were created for
      </p>
    </div>

    <div class="form-checkbox">
      <label class="d-flex">
        <%= f.radio_button \
            :codespace_trusted_repositories_access,
            Configurable::CodespaceTrustedRepositories::ALL_REPOS,
            :checked => current_organization.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::ALL_REPOS,
            disabled: disabled
        %>
        <div class="ml-2">All repositories</div>
        <% if show_check && current_organization.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::ALL_REPOS %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
      </label>
      <p class="note">
        All Codespaces created for repositories in my organization can access other organization-owned repositories
      </p>
    </div>

    <div class="form-checkbox">
      <label class="d-flex">
        <%= f.radio_button \
            :codespace_trusted_repositories_access,
            Configurable::CodespaceTrustedRepositories::SELECTED_REPOS,
            :checked => current_organization.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::SELECTED_REPOS,
            disabled: disabled
        %>
        <div class="ml-2">Selected repositories</div>
        <% if show_check && current_organization.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::SELECTED_REPOS %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
      </label>
      <p class="note">
        Codespaces created for specific repositories in my organization can access other organization-owned repositories
      </p>
    </div>

    <noscript>
      <button type="submit" class="btn mb-3" style="margin-left: 20px">Save</button>
    </noscript>
  <% end %>

  <% if current_organization.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::SELECTED_REPOS %>
      <div class="mt-2 position-relative">
        <details class="select-menu details-reset details-overlay mb-2">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <%= render Primer::Beta::Octicon.new(icon: "repo") %>
            <span>Select repositories</span>
          <% end %>
          <%= form_tag settings_org_codespaces_update_trusted_repositories_access_path(current_organization), method: :put, 'data-codespaces-trusted-repos-form': '' do %>
            <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="select-menu-filters">
              <div class="select-menu-text-filter">
              <remote-input
              aria-owns="repository-menu-list"
              src="<%= trusted_repository_select_codespaces_path(repos_owned_by: current_organization.id) %>">
              <input
                type="text"
                class="form-control"
                placeholder="Search for a repository"
                aria-label="Search for a repository"
                autocomplete="off"
                autofocus>
              </remote-input>
              </div>
              </div>
              <div class="select-menu-list" id="repository-menu-list">
              </div>
            </details-menu>
          <% end %>
        </details>
        <div class="text-small color-fg-muted mb-3">
          Selected <%= trusted_repositories.length %> repositories.
        </div>

        <% trusted_repositories.each do |repository| %>
          <%= form_tag settings_org_codespaces_update_trusted_repositories_access_path(current_organization), method: :put, 'data-codespaces-trusted-repos-form': '' do %>
            <div class="mini-repo-list-item css-truncate pr-3">
              <%= render Primer::Beta::Octicon.new(icon: repository.repo_type_icon, classes: "repo-icon") %>
              <button type="submit" name="repo" data-autosubmit value="<%= repository.id %>" class="float-right btn-link Link--muted" aria-label="Remove <%= repository %>">
                <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
              </button>

              <span class="repo-and-owner css-truncate-target">
                <span class="owner css-truncate-target"><%= repository.owner %></span>/<span class="repo"><%= repository %></span>
              </span>
            </div>
          <% end %>
        <% end %>
      </div>
    <%end %>
<% end %>
