<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%= form_tag submit_path, method: :put, class: "select-menu select-menu-modal-right d-flex flex-items-center js-permission-menu-form" do %>
  <details class="details-reset details-overlay position-relative">
    <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button", "data-menu-button": "") do %>
      <%= selected_permission.titlecase %>
    <% end %>
    <details-menu class="select-menu-modal position-absolute" style="z-index: 99; max-width: 70vw;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-header">
        <span class="select-menu-title">Permission level</span>
      </div>
      <div class="select-menu-list">
        <button
          type="submit"
          name="permission"
          value="admin"
          class="select-menu-item width-full"
          aria-checked="<%= selected_permission == "ADMIN" %>"
          role="menuitemradio">

          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">
            <span class="select-menu-item-heading select-menu-option-title" data-menu-button-text>Admin</span>
            <span class="description">Able to see, make changes to, and add new collaborators to this project.</span>
          </div>
        </button>

        <button
          type="submit"
          name="permission"
          value="write"
          class="select-menu-item width-full"
          aria-checked="<%= selected_permission == "WRITE" %>"
          role="menuitemradio">

          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">
            <span class="select-menu-item-heading select-menu-option-title" data-menu-button-text>Write</span>
            <span class="description">Able to see and make changes to this project.</span>
          </div>
        </button>

        <button
          type="submit"
          name="permission"
          value="read"
          class="select-menu-item width-full"
          aria-checked="<%= selected_permission == "READ" %>"
          role="menuitemradio">

          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">
            <span class="select-menu-item-heading select-menu-option-title" data-menu-button-text>Read</span>
            <span class="description">Able to see this project.</span>
          </div>
        </button>
      </div>
    </details-menu>
  </details>
  <span class="js-permission-success" hidden aria-label="Save successful"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse %>
    <%= primer_octicon(:check, color: :success, ml: 3) %>
  </span>
  <span class="js-permission-error ml-3 tooltipped tooltipped-sw" hidden aria-label="Something went wrong. Try again"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
    <%= primer_octicon(:alert, color: :danger) %>
  </span>
  <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
<% end %>
