<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%graphql
  fragment ProjectOwner on ProjectOwner {

    ... on Organization {
      login
    }

    ... on User {
      login
    }

    project(number: $projectNumber) {
      linkableRepositoriesResourcePath
      linkedRepositoriesSettingsResourcePath
    }
  }
%><%# erblint:disable NoGraphqlFragments %>

<% project_owner = Views::ProjectSettings::SearchRepositoriesToLink::ProjectOwner.new(project_owner) %>
<% project = project_owner.project %>

<%= render Primer::BlankslateComponent.new(
  icon: "link",
  title: "Link a repository",
) do %>
  <p>
    Search repositories owned by <span class="text-bold"><%= project_owner.login %></span> to link repositories to this project for more accurate suggestions and better search results.
  </p>
<% end %>

<%= form_tag project.linked_repositories_settings_resource_path.to_s, method: :post, class: "px-3 pb-3 mt-4 input-block" do %>
  <div class="input-group">
    <auto-complete src="<%= project.linkable_repositories_resource_path.to_s %>" for="project-repository-links-search" class="auto-search-group d-block">
      <input
        type="text"
        name="[project_repository_link]repository_name"
        class="form-control auto-search-input input-block input-contrast"
        aria-label="Search by repository name"
        placeholder="Search by repository name"
        autofocus
        required>
      <%= render(Primer::Beta::Octicon.new(icon: "repo")) %>
      <ul id="project-repository-links-search" class="autocomplete-results"></ul>
    </auto-complete>
    <div class="input-group-button"><%= render Primer::ButtonComponent.new(type: :submit, classes: "js-auto-complete-button", "data-disable-with": "Linking…") do %>Link<% end %></div>
  </div>
<% end %>
