<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%graphql
  fragment ProjectUserEdge on ProjectUserEdge {
    permission

    projectUserResourcePath

    node {
      databaseId
      login

      resourcePath
      avatarUrl
    }
  }

  fragment Viewer on User {
    databaseId
  }
%><%# erblint:disable NoGraphqlFragments %>
<% collaborator_edge = Views::ProjectSettings::User::ProjectUserEdge.new(collaborator_edge) %>
<% viewer = Views::ProjectSettings::User::Viewer.new(viewer) %>

<li class="d-flex flex-items-stretch table-list-item collab-list-item js-repo-access-entry">
  <div class="col-6 float-left d-flex flex-items-center px-2 py-3 table-list-cell collab-list-cell">
    <a class="flex-auto overflow-hidden collab-team-link" href="<%= collaborator_edge.node.resource_path %>" style="width: auto">
      <img src="<%= collaborator_edge.node.avatar_url %>" width="32" height="32" class="<%= avatar_class_names(collaborator_edge.node) %>" alt="">
      <div class="collab-info">
        <strong class="collab-name"><%= collaborator_edge.node.login %></strong>
      </div>
    </a>
  </div>

  <div class="col-4 float-left d-flex flex-items-center px-2 py-3 table-list-cell collab-list-cell permission-level-cell">
    <span class="flex-auto">
      <% if collaborator_edge.node.database_id != viewer.database_id %>
        <%= render partial: "project_settings/permission_select", locals: {
              selected_permission: collaborator_edge.permission,
              submit_path: collaborator_edge.project_user_resource_path.to_s
            } %>
      <% end %>
    </span>
  </div>

  <% if collaborator_edge.node.database_id != viewer.database_id || site_admin? %>
    <div class="col-2 float-left d-flex flex-items-center pl-2 pr-2 pr-md-4 py-3 table-list-cell collab-list-cell">
      <span class="flex-auto collab-meta collab-remove p-0" style="width: auto">
        <%= form_tag collaborator_edge.project_user_resource_path.to_s,
          "data-error-message": "Sorry, we couldn’t remove access. Please try again.",
          "data-skip-remote": (true if collaborator_edge.node.database_id == viewer.database_id),
          method: :delete,
          class: "js-remove-repo-access-form" do %>
          <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, classes: "remove-link tooltipped tooltipped-sw", "aria-label": "Remove #{ (collaborator_edge.node.database_id == viewer.database_id) ? "yourself" : collaborator_edge.node.login } as a collaborator") do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          <% end %>
        <% end %>
      </span>
    </div>
  <% end %>
</li>
