<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%graphql
  fragment ProjectOwner on ProjectOwner {
    ... on Organization {
      login
    }

    project(number: $projectNumber) {
      name
      viewerCanAdminister

      usersWithAccess(permission: ADMIN, first: 20) {
        edges {
          node {
            login
            avatarUrl
            name
          }
        }
      }
    }

    ...Views::ProjectSettings::Breadcrumbs::ProjectOwner
    ...Views::ProjectSettings::Tabs::ProjectOwner
  }
%><%# erblint:disable NoGraphqlFragments %>
<% project_owner = Views::ProjectSettings::Admins::ProjectOwner.new(project_owner) %>
<% project = project_owner.project %>

<% page_info title: "Administrators · Project settings" %>
<% page_info breadcrumb_object: this_project, breadcrumb: "Settings"  %>

<%= render partial: "project_settings/breadcrumbs", locals: { project_owner: project_owner } %>

<div class="d-flex flex-column flex-lg-row mt-lg-4">
  <div class="mb-lg-0 mb-4" role="navigation"><%# erblint:disable GitHub::Accessibility::NavigationHasLabel %>
    <%= render partial: "project_settings/tabs", locals: { project_owner: project_owner } %>
  </div>

  <div class="flex-auto">
    <% unless project.viewer_can_administer? %>
      <%= render Primer::Beta::Flash.new(mb: 4, classes: "flash-notice", icon: :info) do %>
        You do not have sufficient permissions to change the collaboration settings for this project. Contact an admin to change your permissions.
      <% end %>
    <% end %>

    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Admins<% end %>
    <% end %>

    <div id="project-collaborators">
      <ul>
        <% project.users_with_access.edges.map(&:node).each do |user| %>
          <li class="Box-row clearfix">
            <img class="<%= avatar_class_names(user) %> float-left d-inline-block" alt="<%= user.login %>" src="<%= user.avatar_url %>" width="48" height="48">
            <div class="ml-2 float-left d-inline-block">
              <p class="d-block f4 mb-0"><%= user.name %></p>
              <p class="d-block f5 color-fg-default mb-0"><%= user.login %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
