<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%graphql
  fragment ProjectOwner on ProjectOwner {
    project(number: $projectNumber) {
      settingsResourcePath
      teamsSettingsResourcePath
      usersSettingsResourcePath
      closed

      collaborators(first: 100) {
        edges {
          ...Views::ProjectSettings::User::ProjectUserEdge
        }
      }
    }

    ...Views::ProjectSettings::Breadcrumbs::ProjectOwner
    ...Views::ProjectSettings::Tabs::ProjectOwner
  }

  fragment Viewer on User {
    ...Views::ProjectSettings::User::Viewer
  }
%><%# erblint:disable NoGraphqlFragments %>
<% viewer = Views::ProjectSettings::Users::Viewer.new(viewer) %>
<% project_owner = Views::ProjectSettings::Users::ProjectOwner.new(project_owner) %>
<% project = project_owner.project %>

<% page_info title: "Collaborators · Project settings" %>

<%= render partial: "project_settings/breadcrumbs", locals: { project_owner: project_owner } %>

<div class="d-flex flex-column flex-lg-row mt-lg-4">
  <div class="mb-lg-0 mb-4" role="navigation"><%# erblint:disable GitHub::Accessibility::NavigationHasLabel %>
    <%= render partial: "project_settings/tabs", locals: { project_owner: project_owner } %>
  </div>

  <div class="flex-auto">
    <% if project_owner.is_a?(PlatformTypes::Organization) %>
      <%= render Primer::Beta::Flash.new(mb: 4, classes: "flash-notice", icon: :info) do %>
        Collaborators that are members of this organization can have permissions from multiple sources. If the <a class="Link--inTextBlock" href="<%= project.settings_resource_path %>">organization member permission</a> is set to a higher level of access, or if a collaborator is also a member of a <a class="Link--inTextBlock" href="<%= project.teams_settings_resource_path %>">team</a> with a higher level of access, their permission level cannot be lowered below.
      <% end %>
    <% end %>

    <div class="collaborators boxed-group flush js-repo-access-container"><%# erblint:disable DeprecatedCustomCss %>
      <h3>
        Collaborators
      </h3>
      <div class="boxed-group-inner repo-access-group js-repo-access-group <%= "is-empty" if project.collaborators.edges.empty? %>" id="project-collaborators"><%# erblint:disable DeprecatedCustomCss %>
        <ul class="table-list collab-list js-repo-access-list">
          <% project.collaborators.edges.each do |collaborator_edge| %>
            <%= render partial: "project_settings/user", locals: { collaborator_edge: collaborator_edge, viewer: viewer } %>
          <% end %>
        </ul>

        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h2) do %>
            This project doesn’t have any collaborators yet. Use the form below to add a collaborator.
          <% end %>
        <% end %>

        <%= form_tag project.users_settings_resource_path.to_s, method: :post, class: "js-add-repo-access-form" do %>
          <div class="access-form-wrapper px-2 py-3">
            <label for="search-member">Search by username, full name or email address</label>
            <p class="note">
              You’ll only be able to find a GitHub user by their email address if they’ve chosen to list it publicly. Otherwise, use their username instead.
            </p>
            <div class="input-group mt-2">
              <auto-complete src="<%= autocomplete_users_path %>" for="project-collab-complete-results" class="position-relative d-block">
                <input type="text" name="member" id="search-member" class="form-control js-add-repo-access-field" autofocus <% if project.closed? %>disabled<% end %>>
                <ul id="project-collab-complete-results" class="autocomplete-results"></ul>
              </auto-complete>
              <span class="input-group-button">
                <%= render Primer::ButtonComponent.new(type: :submit, classes: "js-add-new-collab js-auto-complete-button", disabled: project.closed?) do %>Add collaborator<% end %>
              </span>
            </div>
          </div>

          <%= render Primer::Beta::Flash.new(scheme: :danger, display: :none, classes: "access-flash error js-repo-access-error") do %><% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
