<% page_info \
  title: "GitHub Codespaces",
  description: "GitHub Codespaces gets you up and coding faster with fully configured, secure cloud development environments native to GitHub.",
  richweb: {
    title: "Secure development made simple",
    url: request.original_url,
    description: "GitHub Codespaces gets you up and coding faster with fully configured, secure cloud development environments native to GitHub.",
    image: image_path("modules/site/social-cards/codespaces-ga-individuals.jpg"),
  },
  marketing_page_theme: "dark",
  html_class: "color-bg-dark-mktg",
  class: "header-overlay"
%>

<%= render Site::SectionComponent.new(theme: :dark, container: false, padding: false, classes: "codespaces-hero pt-8") do %>
  <%= render "site/features/features_nav" %>

  <%= render Site::HeroComponent.new(
    header: "Secure development <br>made <span>simple</span>",
    text: "GitHub Codespaces gets you up and coding faster with fully configured, secure cloud development environments native to GitHub.",
    ctas: [{
      text: "Get started for free",
      url: codespaces_url,
    }, {
      text: "View plans and pricing",
      url: "#pricing",
      arrow: true,
    }],
    classes: "px-3 pt-8"
  ) %>
<% end %>

<%= render Site::SectionComponent.new(theme: :dark, classes: "position-relative pb-md-12 js-build-in-trigger") do %>
  <%= image_tag(
    image_path("modules/site/codespaces/hero-bg-square.svg"),
    class: "d-none d-md-block position-absolute bottom-0 left-n12 js-build-in-item build-in-slideX-left",
    alt: "",
    aria: { hidden: true }
  ) %>

  <%= image_tag(
    image_path("modules/site/codespaces/hero-bg-circle.svg"),
    class: "d-none d-md-block position-absolute top-12 right-n12 js-build-in-item build-in-slideX-right",
    alt: "",
    aria: { hidden: true }
  ) %>

  <div class="position-relative mb-4 js-build-in-trigger" data-build-in-stagger="1000" style="height: 2em;">
    <% {
      "Available in every repository" => :"plus-circle",
      "Getting started is just a click away" => :unlock,
      "Dev environments that just work" => :"code-square",
    }.each do |title, icon| %>
      <div class="d-flex flex-justify-center flex-items-center position-absolute width-full color-bg-default px-2 js-build-in-item build-in-scale-up">
        <%= tag.div(title, class: "h3 color-fg-done mr-2 text-gradient-mktg") %>
        <%= render(Primer::Beta::Octicon.new(icon: icon, size: :medium, color: :done)) %>
      </div>
    <% end %>
  </div>

  <div class="position-relative js-build-in-trigger" data-build-in-stagger="1000">
    <%= render Site::ImageComponent.new(
      src: image_path("modules/site/codespaces/illo-hero-1.png"),
      alt: "",
      width: 2772,
      height: 2040,
      classes: "width-full d-block height-auto rounded box-shadow-card-dark-mktg position-relative z-1 js-build-in-item build-in-scale-up",
      sizes: "(max-width: 768px) 90vw, 1152px"
    ) %>

    <%= render Site::ImageComponent.new(
      src: image_path("modules/site/codespaces/illo-hero-menu.png"),
      alt: "",
      width: 960,
      height: 724,
      classes: "d-block height-auto rounded box-shadow-card-dark-mktg position-absolute z-2 js-build-in-item build-in-slideY",
      sizes: "(max-width: 768px) 30vw, 480px",
      style: "width: 40%; top: 24%; right: 25%;"
    ) %>

    <%= render Site::ImageComponent.new(
      src: image_path("modules/site/codespaces/illo-hero-ide.png"),
      alt: "",
      width: 2496,
      height: 1600,
      classes: "width-full d-block height-auto rounded box-shadow-card-dark-mktg position-absolute top-0 left-0 z-3 js-build-in-item build-in-scale-up",
      sizes: "(max-width: 768px) 90vw, 1248px"
    ) %>
  </div>

  <%= image_tag(
    image_path("modules/site/codespaces/glow-new.png"),
    alt: "",
    aria: { hidden: true },
    class: "position-absolute",
    style: "width: 110%; height: 110%; left: -5%; top: -5%;",
    loading: "lazy"
  ) %>
<% end %>

<%= render Site::SectionComponent.new(theme: :dark, padding: false) do %>
  <%= render Site::RiverComponent.new(
    header: "Secure by design",
    text: "Created with security in mind, Codespaces provides a secure development environment through its built-in capabilities and native integration with the GitHub platform.",
  ) do %>
    <div class="box-shadow-card-dark-mktg rounded-3 px-4 py-3 p-md-6 color-bg-subtle position-relative">
      <%= image_tag(
        image_path("modules/site/codespaces/glow-new.png"),
        alt: "",
        aria: { hidden: true },
        class: "position-absolute width-full height-full top-0 left-0",
        style: "opacity: 70%",
        loading: "lazy"
      ) %>

      <% [
        'Isolated environments',
        'Access administration',
        'Cost control',
      ].each do |feature| %>
        <div class="box-shadow-card-dark-mktg rounded-3 p-4 my-4 d-flex flex-items-center js-build-in-item build-in-slideX-left" style="background: #24292F;">
          <div class="d-inline-block mr-3 circle p-2 color-bg-done-emphasis">
            <%= render(Primer::Beta::Octicon.new(
              icon: :check,
              size: :medium,
              display: :block,
            )) %>
          </div>
          <%= tag.h3 feature, class: "h5-mktg text-medium", style: "font-stretch: 125%;" %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= render Site::RiverComponent.new(
    header: "Collaborate <br> where you code",
    text: "Codespaces provides a shared development environment and removes the need for complex setups.") do |c|
  %>
    <% c.with_after do %>
      <div class="d-sm-flex py-4">
        <% [{
          type: :image,
          name: "Visual Studio Code",
          logo: "vscode",
          render: true,
        }, {
          type: :image,
          name: "Jet Brains",
          logo: "jet-brains",
          render: false,
        }, {
          type: :image,
          name: "Jupyter",
          logo: "jupyter",
          render: false,
        }, {
          type: :separator,
          render: true,
        }, {
          type: :icon,
          name: "Web",
          logo: :globe,
          render: true,
        }, {
          type: :icon,
          name: "Terminal",
          logo: :terminal,
          render: true,
        }].each do |editor| %>
          <% if editor[:render] %>
            <% if editor[:type] == :separator %>
              <div class="border-left my-3 my-sm-0 mr-sm-4"></div>
            <% else %>
              <div class="d-inline-block rounded-2 color-bg-subtle box-shadow-card-dark-mktg mr-4">
                <% if editor[:type] == :image %>
                  <%= render Site::ImageComponent.new(
                    src: image_path("modules/site/codespaces/editor-#{editor[:logo]}.png"),
                    alt: "#{editor[:name]}",
                    width: 112,
                    height: 112,
                    classes: "d-block rounded",
                    sizes: "56px",
                    style: "width: 56px; height: 56px;",
                  ) %>
                <% else %>
                  <%= render(Primer::Beta::Octicon.new(
                    icon: editor[:logo],
                    size: :medium,
                    display: :block,
                    "aria-label": "#{editor[:name]}",
                    m: 3
                  )) %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="d-flex flex-column">
      <div class="box-shadow-card-dark-mktg overflow-hidden rounded-2 position-relative z-1 flex-self-center flex-lg-self-end mr-4" style="max-width: 539px;">
        <img src="<%= image_path "modules/site/codespaces/illo-env-bg.png" %>" alt="" loading="lazy" decoding="async" class="width-full d-block color-shadow-large height-auto" width="1060" height="1122">
      </div>
      <div class="flex-self-center flex-lg-self-end position-relative z-1 mb-1 mb-md-7 offset-1 codespaces-standardized-env">
        <img src="<%= image_path "modules/site/codespaces/illo-env-ports-settings.png" %>" alt="" loading="lazy" decoding="async" class="js-build-in-item build-in-slideX-left card-dashed-mktg width-full d-block rounded-2 mb-4 height-auto" width="946" height="318" style="max-width: 473px">
        <img src="<%= image_path "modules/site/codespaces/illo-env-post-create.png" %>" alt="" loading="lazy" decoding="async" class="js-build-in-item build-in-slideX-left card-dashed-mktg width-full d-block rounded-2 mb-4 height-auto" width="896" height="138" style="max-width: 420px">
        <img src="<%= image_path "modules/site/codespaces/illo-env-extensions.png" %>" alt="" loading="lazy" decoding="async" class="js-build-in-item build-in-slideX-left card-dashed-mktg width-full d-block rounded-2 mb-4 height-auto" width="946" height="344" style="max-width: 473px">
      </div>
    </div>
  <% end %>

  <%= render Site::RiverComponent.new(
    header: "A home away from home for your code",
    text: "Start coding instantly from anywhere in the world. Switching projects? Grab a new machine from the cloud that’s preconfigured for that project. Your settings travel with you.",
    images: [
      {
        src: image_path("modules/site/codespaces/illo-cpu-new.png"),
        width: 1517,
        height: 1508,
        classes: "codespaces-illo-cpu position-relative height-auto"
      }
    ]
  ) do |c| %>
    <% c.with_after do %>
      <div class="d-sm-flex mb-3 mb-sm-0 flex-justify-between mt-6">
        <div class="col-sm-4 js-build-in-item build-in-slideX-left">
          <p class="f5-mktg text-medium color-fg-muted mb-0 text-uppercase">CPUs up to</p>
          <p class="h4-mktg color-fg-default">32 cores</p>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0 js-build-in-item build-in-slideX-left">
          <p class="f5-mktg text-medium color-fg-muted mb-0 text-uppercase">Memory up to</p>
          <p class="h4-mktg color-fg-default">64 GB</p>
        </div>
        <div class="col-sm-4 js-build-in-item build-in-slideX-left">
          <p class="f5-mktg text-medium color-fg-muted mb-0 text-uppercase">Spin up in</p>
          <p class="h4-mktg color-fg-default">&lt;10 sec</p>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="box-shadow-card-dark-mktg color-bg-subtle rounded-3 py-6 py-md-8 px-4 px-md-8 mb-8 mb-md-12">
    <h3 class="h4-mktg text-bold mb-3" style="font-stretch: 125%;">Your space, your way</h3>
    <p class="f3-mktg color-fg-subtle mb-4 col-md-8 col-lg-6">Tabs or spaces? Monokai or Solarized? Prettier or Beautify? It’s up to you. Control every nerdy detail only you care about with your own dotfiles repository.</p>
    <div class="d-sm-flex flex-wrap gutter">
      <% [{
        name: "IntelliCode",
      }, {
        name: "ES Lint",
      }, {
        name: "Prettier",
      }, {
        name: "Live Server",
      }, {
        name: "Live Share",
      }, {
        name: "Docker",
      }, {
        name: "GitLens",
      }, {
        name: "Debugger for Java",
      }].each do |extension| %>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box-shadow-card-dark-mktg color-bg-subtle rounded px-4 py-3 d-flex flex-items-center mt-4">
            <%= image_tag(
              image_path("modules/site/codespaces/extensions/#{extension[:name].parameterize}.png"),
              alt: "#{extension[:name]} logo",
              width: "48",
              height: "48",
              loading: "lazy",
              class: "mr-3",
            ) %>
            <%= tag.h4(extension[:name]) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render Site::RiverComponent.new(
    header: "Browser preview and port forwarding",
    text: "Preview your changes and get feedback from teammates by sharing ports within the scope allowed by policy.",
    text_placement: :right,
    link: {
      text: "Review port forwarding docs",
      url: "https://docs.github.com/codespaces/developing-in-codespaces/forwarding-ports-in-your-codespace"
    }
  ) do %>
    <div class="d-flex flex-column position-relative">
      <%= image_tag(
        image_path("modules/site/codespaces/glow-new.png"),
        alt: "",
        aria: { hidden: true },
        class: "position-absolute top-n12 left-n12",
        width: "140%",
        loading: "lazy"
      ) %>

      <div class="box-shadow-card-dark-mktg overflow-hidden rounded-2 flex-self-end mr-4" style="max-width: 538px">
        <img src="<%= image_path "modules/site/codespaces/illo-hello-1.png" %>" alt="" loading="lazy" decoding="async" class="box-shadow-card-dark-mktg width-full d-block">
      </div>
      <div class="js-build-in-item build-in-slideX-left box-shadow-card-dark-mktg overflow-hidden rounded-2 position-relative z-2 flex-self-end" style="max-width: 300px; margin-top: -30%; margin-right: 10%">
        <img src="<%= image_path "modules/site/codespaces/illo-context-menu.png" %>" alt="" decoding="async" class="width-full d-block">
        <img src="<%= image_path "modules/site/codespaces/illo-cursor.png" %>" alt="" decoding="async" class="position-absolute js-build-in-item build-in-slideX-left" width="30" style="right: 20%; bottom: 23%">
      </div>
      <div class="js-build-in-item build-in-slideX-right box-shadow-card-dark-mktg overflow-hidden rounded-2 position-relative z-1" style="max-width: 373px; margin-top: -20%">
        <img src="<%= image_path "modules/site/codespaces/illo-ports.png" %>" alt="" decoding="async" class="width-full d-block">
      </div>
    </div>
  <% end %>

  <%= render Site::RiverComponent.new(
    header: "Onboard faster",
    text: "Quickly spin up a codespace with only an IDE or browser and a GitHub account. With a few configuration files, you can give your developers an instant, fully configured, and secure development environment so they can start coding immediately.",
    text_placement: :right,
  ) do %>
    <%= image_tag(
      image_path("modules/site/codespaces/glow-new.png"),
      alt: "",
      aria: { hidden: true },
      class: "position-absolute col-6 height-full top-0 right-0",
      style: "transform: scale(1.6)",
      loading: "lazy"
    ) %>
    <div class="px-4 py-3 p-md-6 position-relative">
      <div class="bgColor-default rounded-3 position-absolute height-full top-0 left-0" style="width: 85%"></div>
      <%
        codespace_cards = [
          {
            name: 'mn-webgl-sandbox',
            branch: 'webgl-changes',
            avatar: 'mnmxmx',
            ahead: 6,
            behind: 0,
          },
          {
            name: 'ui refactoring',
            branch: 'layout-refactor',
            avatar: 'joshfarrant',
            ahead: 2,
            behind: 4,
          },
          {
            name: 'psychic space doodle',
            branch: 'node-extensions',
            avatar: 'simmonsjenna',
            ahead: 5,
            behind: 1,
          },
        ]

        codespace_cards.each_with_index do |codespace, index|
          first_card = index == 0
          last_card = index == codespace_cards.length - 1
      %>
        <div class="box-shadow-card-dark-mktg rounded-3 p-4 <%= first_card ? 'mt-0' : 'mt-4' %> <%= last_card ? 'mb-0' : 'mb-4'  %> <%= last_card ? 'mb-0' : 'mb-4'  %> <%= 'ml-n4 mr-4' unless first_card || last_card %> d-flex flex-items-center js-build-in-item build-in-slideX-left" style="background: #24292F;">
          <div class="d-flex mr-auto">
            <%= render(Primer::Beta::Octicon.new(
              icon: :codespaces,
              size: :medium,
              display: :block,
              classes: "flex-self-start",
              mr: 3,
              "aria-label": "Codespaces icon",
            )) %>
            <div class="d-flex flex-column flex-items-start">
              <span class="f4 lh-condensed-ultra" style="word-break: break-word;"><span class="sr-only">codespace name: </span><%= codespace[:name] %></span>
              <div class="d-flex flex-wrap flex-items-center fgColor-muted f5 mt-1">
                <span class="commit-ref mr-2 fgColor-default" style="background-color: #39424e; padding: 0 6px 1px 6px;"><span class="sr-only">git branch name: </span><%= codespace[:branch] %></span>
                <span class="d-flex flex-items-center">
                  <%= codespace[:behind] %> <span class="sr-only">change<%= 's' if codespace[:behind] != 1 %> behind</span>
                  <%= render(Primer::Beta::Octicon.new(
                    icon: :"arrow-down",
                    size: :small,
                    display: :block,
                    mr: 1,
                  )) %>
                  <%= codespace[:ahead] %> <span class="sr-only">change<%= 's' if codespace[:ahead] != 1 %> ahead</span>
                  <%= render(Primer::Beta::Octicon.new(
                    icon: :"arrow-up",
                    size: :small,
                    display: :block,
                  )) %>
                </span>
              </div>
            </div>
          </div>
          <div class="d-flex flex-items-center my-2 fgColor-muted">
            <span class="sr-only">Codespace created by <%= codespace[:avatar] %></span>
            <img src="<%= image_path("modules/site/codespaces/avatar-#{codespace[:avatar]}.jpg") %>" width="30" height="30" alt="User <%= codespace[:avatar] %> avatar" class="circle width-fit mr-2 border" loading="lazy" decoding="async">

            Active

            <div class="d-inline-block ml-1 circle color-fg-success">
              <%= render(Primer::Beta::Octicon.new(
                icon: :"dot-fill",
                size: :small,
                display: :block,
              )) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render Site::SectionComponent.new(theme: :dark, classes: "color-bg-subtle") do %>
  <%= render Site::RiverComponent.new(
    text_placement: :center,
    header: "What can you do with Codespaces?",
    padding: false,
    link: {
      text: "Learn how GitHub builds with Codespaces",
      url: "https://github.blog/2021-08-11-githubs-engineering-team-moved-codespaces/"
    }
  ) do |c| %>
    <div class="d-md-flex flex-wrap text-left gutter-spacious mx-auto">
      <% [{
        icon: :"device-mobile",
        title: "Code from any device",
        description: "Want to code on an iPad? Go for it. Spin up Codespaces from any device with internet access. Don’t worry if your device is powerful enough—Codespaces lives in the cloud."
      }, {
        icon: :zap,
        title: "Onboard at the speed of thought",
        description: "No more building your dev environment while you onboard. Codespaces launches instantly from any repository on GitHub with pre-configured, secure environments."
      }, {
        icon: :database,
        title: "Streamline contractor onboarding",
        description: "Codespaces gives you control over how your consultants access your resources, while providing them with instant onboarding and a fluid developer experience."
      }, {
        icon: :bug,
        title: "Fix bugs right from a pull request",
        description: "Got a pull request detailing a bug or security issue? Open Codespaces right from the pull request without waiting for your dev environment to load."
      }].each do |item| %>
        <div class="col-md-6">
          <div class="my-6 pr-lg-8">
            <div class="d-inline-block mb-3 circle p-3 box-shadow-card-dark-mktg" style="background: #20242B;">
              <%= render(Primer::Beta::Octicon.new(
                icon: item[:icon],
                size: :medium,
                color: :done,
                display: :block,
              )) %>
            </div>
            <%= tag.h3(item[:title], class: "h4-mktg mb-3 text-bold") %>
            <%= tag.p(item[:description], class: "f3-mktg color-fg-subtle") %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render Site::SectionComponent.new(theme: :dark) do %>
  <%= render Site::RiverComponent.new(
    text_placement: :center,
    header: "What developers are saying",
    cache_version: 2
  ) do |c| %>
    <div class="d-lg-flex gutter flex-wrap flex-items-center flex-justify-center flex-items-stretch">
      <% [{
        quote: "What used to be a 15-step process is just one step: open Codespaces and you’re off and running.",
        fullname: "Clint Chester",
        image: image_path("modules/site/codespaces/clint.png"),
        title: "Developer Lead, Synergy",
      }, {
        quote: "It’s so much easier for developers to use or even contribute to any repo when they can just spin up a codespace and immediately start working with the code.",
        fullname: "Katie Peters",
        image: image_path("modules/site/codespaces/katie.jpg"),
        title: "Staff Developer, TELUS",
      }, {
        quote: "Before Codespaces, the onboarding process was tedious. Instead of taking two days, now it only takes a minute for a developer to access a pristine, steady-state environment, thanks to prebuilds.",
        fullname: "Robbie Ostrow",
        image: image_path("modules/site/codespaces/robbie.png"),
        title: "Software Engineering Manager, Vanta Security",
      }, {
        quote: "Codespaces… lets developers skip the tedious, error-prone stuff that normally stands between them and getting started on real work.",
        fullname: "Keith Annette",
        image: image_path("modules/site/codespaces/keith.png"),
        title: "Cloud Capability Lead, KPMG, UK",
      }].each do |testimonial| %>
        <div class="col-lg-6 mb-3 mb-lg-5">
          <%= render Site::TestimonialComponent.new(
            **testimonial,
            size: :medium,
            classes: "height-full color-bg-overlay box-shadow-card-dark-mktg rounded-2 p-4 p-lg-5"
          ) %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= render Site::RiverComponent.new(
    id: "pricing",
    header: "Environments on demand",
    text: "Individuals can use Codespaces for free each month for 60 hours, with pay-as-you-go pricing after. Teams or Enterprises pay for Codespaces. A maximum monthly cap can also be set for extra pricing control.",
    text_placement: :center,
  ) do |component| %>
    <% component.with_after do %>
      <div class="d-flex flex-justify-center mt-5">
        <%= render Site::ButtonGroupComponent.new(
          size: :large,
          buttons: [{
            text: "Get started",
            url: logged_in? ? new_codespace_path : "#{GitHub.help_url}/codespaces/overview",
          }, {
            text: "See pricing",
            url: pricing_calculator_index_path,
            arrow: true,
          }],
        ) %>
      </div>
    <% end %>

    <%= image_tag(
      image_path("modules/site/codespaces/glow-new.png"),
      alt: "",
      aria: { hidden: true },
      class: "position-absolute",
      style: "width: 120%; height: 160%; left: -10%; top: -30%;",
      loading: "lazy"
    ) %>

    <div class="box-shadow-active-border-inverse-mktg rounded-3 overflow-hidden text-left col-lg-9 mx-auto position-relative z-1" style="background: #24292F;">
      <div class="pt-6 px-6 px-md-10">
        <div class="width-full lh-condensed text-medium">
          <% [{
            cores: 2,
            hours_included: 60,
            price_per_hour: 0.18
          }, {
            cores: 4,
            hours_included: 30,
            price_per_hour: 0.36
          }, {
            cores: 8,
            hours_included: 15,
            price_per_hour: 0.72
          }, {
            cores: "16+",
          }].each_with_index do |row, index| %>
            <div class="d-sm-flex <%= index == 0 ? 'pt-0 pb-4' : 'py-4 border-top' %>">
              <div class="col-sm-3">
                <span class="f3-mktg text-medium"><%= row[:cores] %> cores</span>
              </div>
              <div class="col-sm-4">
                <% if row[:price_per_hour] %>
                  <span class="f3-mktg text-medium color-fg-done text-gradient-mktg">$<%= row[:price_per_hour] %> USD</span>
                  <span class="f5 text-normal codespaces-fg-muted">/hour</span>
                <% else %>
                  <%= render Site::LinkComponent.new(
                    text: "See pricing docs",
                    url: "https://docs.github.com/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces",
                    size: :medium,
                    arrow: false,
                    underlined: true,
                    classes: "codespaces-pricing-link-mktg"
                  ) %>
                <% end %>
              </div>
              <div class="col-sm-5">
                <% if row[:hours_included] %>
                  <span class="f3-mktg text-medium"><%= row[:hours_included] %> hours</span>
                  <span class="f5 text-normal codespaces-fg-muted">/month free for individuals</span>
                <% else %>
                  <span class="f4-mktg text-normal codespaces-fg-muted">N/A</span>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="p-6 px-md-10" style="background: #32383F;">
        <div class="d-sm-flex">
          <div class="col-sm-3">
            <h3 class="f3-mktg text-medium">Storage</h3>
          </div>
          <div class="col-sm-4">
            <span class="f3-mktg text-medium color-fg-done text-gradient-mktg">$0.07 USD</span>
            <span class="f5 text-normal codespaces-fg-muted-accent">/GB per month</span>
          </div>
          <div class="col-sm-5">
            <span class="f3-mktg text-medium">15 GB</span>
            <span class="f5 text-normal codespaces-fg-muted-accent">/month free for individuals</span>
          </div>
        </div>
        <p class="codespaces-fg-muted-accent mt-4">As an individual, you can try GitHub Codespaces for free up to 60 hours and 15GB storage per month. Decide how many cores you need and go. Your free hours and storage automatically reset each month.</p>
      </div>
    </div>
  <% end %>

  <%= render Site::FaqComponent.new(
    classes: "codespaces-faq Links--underline",
    items: [
      {
        question: "How does Codespaces work?",
        answer: "A codespace is a development environment that's hosted in the cloud. Customize your project for GitHub Codespaces by [configuring dev container files](https://docs.github.com/codespaces/customizing-your-codespace/configuring-codespaces-for-your-project) to your repository (often known as configuration-as-code), which creates a repeatable codespace configuration for all users of your project.

GitHub Codespaces run on a various VM-based compute options hosted by GitHub.com, which you can configure from 2 core machines up to 32 core machines. Connect to your codespaces from the browser or locally using an IDE like Visual Studio Code or IntelliJ."
      },
      {
        question: "How do I use Codespaces?",
        answer: "There are a number of entry points to spin up a Codespaces environment, including:
- A [template](https://docs.github.com/codespaces/getting-started/quickstart).
- [Your repository](https://docs.github.com/codespaces/developing-in-codespaces/creating-a-codespace#creating-a-codespace) for new feature work
- An [open pull request](https://docs.github.com/codespaces/developing-in-codespaces/using-github-codespaces-for-pull-requests#opening-a-pull-request-in-codespaces) to explore work-in-progress
- A commit in the repository's history to investigate a bug at a specific point in time
- [Visual Studio Code](https://docs.github.com/codespaces/developing-in-codespaces/using-github-codespaces-in-visual-studio-code#creating-a-codespace-in-vs-code)
- In beta, can you also use your [JetBrains IDE](https://docs.github.com/codespaces/developing-in-a-codespace/using-github-codespaces-in-your-jetbrains-ide) or [JupyterLab](https://docs.github.com/codespaces/developing-in-a-codespace/getting-started-with-github-codespaces-for-machine-learning)

Learn more about how to use Codespaces in our [documentation](https://docs.github.com/codespaces/overview)."
      },
      {
        question: "Is Codespaces available for individual developers?",
        answer: "Codespaces is available for developers in every organization, and under the control of the organization who pays for the user's codespace. All personal (individual) GitHub.com accounts include a quota of free usage each month, which organizations can enable (see the next question) for their private and internal repositories. GitHub will provide users in the free plan 120 core hours or 60 hours of run time on a 2 core codespace, plus 15 GB of storage each month. See how it's balanced on the [billing page](https://github.com/settings/billing)."
      },
      {
        question: "Is Codespaces available for teams and companies?",
        answer: "Codespaces is available for teams and companies, but needs to be enabled first in an organization’s settings. Teams and companies can select which repositories and users have access to Codespaces for added security and permissioning control. Learn how to [enable Codespaces in an organization in our docs](https://docs.github.com/codespaces/managing-codespaces-for-your-organization/enabling-github-codespaces-for-your-organization)."
      },
      {
        question: "How much does Codespaces cost?",
        answer: "Codespaces is free for individual use up to 60 hours a month and comes with simple, pay-as-you-go pricing after that. It’s also available for organizations with pay-as-you-go pricing and has pricing controls so any company or team can determine how much they want to spend a month. Learn more about Codespaces pricing for organizations [here](https://docs.github.com/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces)."
      },
      {
        question: "Can I self-host Codespaces?",
        answer: "Codespaces cannot be self-hosted."
      },
      {
        question: "How do I access Codespaces with LinkedIn Learning?",
        answer: "You can use Codespaces directly through LinkedIn Learning. LinkedIn Learning offers 50+ courses across six of the most popular coding languages, as well as data science and machine learning. These courses are integrated with Codespaces, so you can get hands-on practice anytime, from any machine via LinkedIn. These courses will be unlocked on LinkedIn Learning for free through Feb. 2023. Learn more about LinkedIn Learning and GitHub Codespaces [here](https://learning.linkedin.com/product/hands-on-practice)."
      },
      {
        question: "How do I enable Codespaces on GitHub?",
        answer: "Codespaces is on by default for developers with a GitHub free account. If you belong to an organization, there may be a policy that prevents cloning—but if you can clone a repository, you will be able to start using Codespaces. Organizations will also need to pay for, enable, and manage their Codespaces instances."
      },
      {
        question: "Is Codespaces available for students?",
        answer: "Codespaces is available for free to students as part of the GitHub Student Developer Pack. Learn more about how to sign up and start using Codespaces and other GitHub products [here](https://education.github.com/pack)."
      },
      {
        question: "Is Codespaces available for open source maintainers?",
        answer: "Codespaces provides both maintainers and contributors with [generous free monthly usage](https://docs.github.com/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces#monthly-included-storage-and-core-hours-for-personal-accounts)."
      },
    ]
  ) %>

  <%= render Site::FooterCardComponent.new(
    header: "<span>Start coding</span> in seconds with Codespaces",
    text: "Go to any repository and open your own Codespaces environment instantly.",
    ctas: [{
      text: "Get started now",
      url: codespaces_url
    }],
    classes: "color-bg-subtle box-shadow-card-dark-mktg codespaces-footer-card",
  ) %>
<% end %>
