<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if agreements.first.nil? && agreements.previous_page.nil? %>
  <div class="Box-row">
    There are no Marketplace agreements right now.
  </div>
<% end %>

<% agreements.each do |agreement| %>
  <div class="Box-row d-flex flex-items-center">
    <div class="flex-auto">
      <h4 class="mb-2">
        <a href="<%= biztools_marketplace_agreement_path(agreement.global_relay_id) %>">
          <%= agreement.signatory_type.humanize %> agreement version <%= agreement.version %>
        </a>
      </h4>
      <div class="text-small color-fg-muted">
        <%= agreement.created_at %>
      </div>
    </div>
  </div>
<% end %>

<% if next_page = agreements.next_page %>
  <div class="text-center d-block p-1 ajax-pagination-form js-ajax-pagination">
    <%= form_tag biztools_marketplace_agreements_path, :method => :get do %>
      <input name="page" type="hidden" value="<%= next_page %>">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, "data-disable-with": "Loading more...") do %>Load more...<% end %>
    <% end %>
  </div>
<% end %>
