<% page_info \
  title: "#{signatory_type} agreement version #{version} · Marketplace Agreement · Biztools",
  selected_link: :marketplace_agreements %>

<%= render layout: "biztools/biztools" do %>
  <div class="site-admin-box">
    <h4>
      <%= primer_octicon(:info) %>
      <%= signatory_type.capitalize %> Agreement Info
    </h4>
    <ul class="site-admin-detail-list">
      <li>
        <%= primer_octicon(:versions) %>
        Version <%= version %>
      </li>
      <li>
        <%= primer_octicon(:calendar) %>
        Created <%= created_at %>
      </li>
    </ul>
  </div>
  <div class="boxed-group">
    <h3>Agreement text</h3>
    <div class="boxed-group-inner">
      <div class="markdown-body"><%= body_html %></div>
    </div>
  </div>
<% end %>
