<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if repositories.any? %>
  <% repositories.each_with_index do |repository, i| %>
    <%= render partial: "orgs/topics/repository",
               locals: { repository: repository, autofocus: i == 0 } %>
  <% end %>
<% elsif !repositories.has_previous_page? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "repo") %>

    <% c.with_heading(tag: :h2) do %>
      No repositories
    <% end %>

    <% c.with_description do %>
      <%= "There are no repositories in #{organization.name} that you’ve contributed to and that you can set topics on." %>
    <% end %>
  <% end %>
<% end %>

<% if repositories.has_more? %>
  <div class="text-center d-block ajax-pagination-form js-ajax-pagination">
    <%= form_tag org_topics_path(organization.display_login), method: :get do %>
      <input name="page" type="hidden" value="<%= repositories.next_page %>">
      <%= render Primer::ButtonComponent.new(type: :submit, "data-disable-with": "Loading more...") do %>Load more...<% end %>
    <% end %>
  </div>
<% end %>
