<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% if view.show_most_used_topics? %>
  <%= cache view.most_used_topics_cache_key, skip_digest: true, ttl: 8.hours do %>
    <div class="<%= class_names(
      "mb-3",
      "Box" => !view.render_org_overview?,
      "my-3 py-3 border-top" => view.render_org_overview?,
    ) %>">
      <div class="<%= "Box-body" unless view.render_org_overview? %>">
        <div class="d-inline-flex flex-justify-between flex-items-baseline width-full mb-2">
          <h4 class="f4 text-normal">Most used topics</h4>
          <% if view.show_topic_management_link? %>
            <a href="<%= org_topics_path(view.organization) %>" class="f6 Link--muted">
              Manage
            </a>
          <% end %>
        </div>
        <div class="d-inline-flex flex-wrap">
          <% view.most_used_topics.each do |name| %>
            <%= render(Topics::TagComponent.new(
              name: name,
              href: search_path(q: "topic:#{name} org:#{view.organization} fork:true", type: "repositories"),
              data: { ga_click: "Topic, org profile", octo_click: "topic_click", octo_dimensions: "topic:#{name},org:#{view.organization}" }
            )) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
