<div class="js-topic-save-notice-container width-full pb-4 <%= repository.private? ? "private" : "public" %> <%= repository.fork? ? "fork" : "source" %> <%= "mirror" if repository.mirror? %>" itemprop="owns" itemscope itemtype="http://schema.org/Code">
  <div class="mb-1">
    <h3 class="h4 text-normal">
      <a href="<%= repository_path(repository) %>" itemprop="name codeRepository">
        <span class="color-fg-muted"><%= repository.owner_display_login %> /</span>
        <%= repository.name %>
      </a>
      <%= repository_label(repository, classes: "ml-1 mb-1") %>

      <% if repository.primary_language.present? %>
        <span class="d-block f6 color-fg-muted text-normal float-right">
          <%= render(Languages::BadgeComponent.new(name: repository.primary_language.name)) %>
        </span>
      <% end %>

      <span class="js-repo-topics-save-notice float-right d-none color-fg-success f6 mr-2">
        <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
        Saved
      </span>
    </h3>

    <% if repository.fork? && repository.parent %>
      <span class="f6 color-fg-muted mb-1">
        Forked from
        <a href="<%= repository_path(repository.parent) %>" class="Link--muted Link--inTextBlock">
          <%= repository.parent.owner_display_login %>
        </a>
      </span>
    <% end %>

    <% if repository.mirror? %>
      <p class="f6 color-fg-muted mb-1">
        Mirrored from
        <a href="<%= repository.mirror.url %>" class="Link--muted Link--inTextBlock">
          <%= truncate(repository.mirror.url, length: 100) %>
        </a>
      </p>
    <% end %>
  </div>

  <% if repository.description.present? %>
    <div class="col-9 d-inline-block color-fg-muted mb-2 pr-4" itemprop="description">
      <%= repository.description_html %>
    </div>
  <% end %>

  <div class="js-topic-form-area form-group mt-0">
    <div class="width-full tag-input-container topic-input-container d-inline-block js-tag-input-container">
      <div class="js-tag-input-wrapper">
        <%= form_tag update_repo_topics_path(repository.owner_display_login, repository.name), :method => :put, :class => "js-repo-topics-edit-form" do %>
          <div class="org-repo-tag-input tag-input form-control d-inline-block color-bg-default py-0">
            <ul class="js-tag-input-selected-tags d-inline">
              <li class="d-none my-1 topic-tag-action f6 float-left js-tag-input-tag js-template">
                <span class="js-placeholder-tag-name"></span>
                <button type="button" class="delete-topic-button f5 no-underline ml-1 js-remove" tabindex="-1">
                  <%= primer_octicon(:x, "aria-label": "Remove topic") %>
                </button>
                <input type="hidden" name="repo_topics[]" class="js-topic-input" value="">
              </li>

              <% repository.topics.each do |topic| %>
                <li class="topic-tag-action f6 float-left js-tag-input-tag">
                  <%= topic.name %>
                  <button type="button" class="delete-topic-button f5 no-underline ml-1 js-remove" tabindex="-1">
                    <%= primer_octicon(:x, "aria-label": "Remove topic") %>
                  </button>
                  <input type="hidden" name="repo_topics[]" value="<%= topic.name %>">
                </li>
              <% end %>
            </ul>

            <% if GitHub.multi_tenant_enterprise? %>
              <input type="text" id="repo_topics_<%= repository.id %>"
                    class="tag-input-inner form-control color-bg-default shorter d-inline-block p-0 my-1 border-0"
                    aria-label="Topics for <%= repository.name %>"
                    <% if autofocus %>autofocus<% end %>>
            <% else %>
              <auto-complete for="repo_topics_<%= repository.id %>_suggestions"
                            src="<%= topic_autocomplete_path(repository.owner_display_login, repository.name) %>">
                <input type="text" id="repo_topics_<%= repository.id %>"
                      class="tag-input-inner form-control color-bg-default shorter d-inline-block p-0 my-1 border-0"
                      aria-label="Topics for <%= repository.name %>"
                      <% if autofocus %>autofocus<% end %>>
                <ul class="suggester border" style="top: 100%;" id="repo_topics_<%= repository.id %>_suggestions"></ul>
              </auto-complete>
            <% end %>
          </div>
        <% end %>
      </div>
      <span class="error js-topic-error"></span>
    </div>
  </div>
</div>
