<% page_info \
  title: "GitHub code search",
  description: "With GitHub code search, your code—and the world’s—is at your fingertips.",
  richweb: {
    title: "GitHub code search",
    url: request.original_url,
    description: "With GitHub code search, your code—and the world’s—is at your fingertips.",
    image: image_path("modules/site/social-cards/code-search-beta.png"),
  },
  marketing_page_theme: "dark",
  class: "header-dark"

  page_ctas = [
    {
      text: "Try it now",
      url: "/search?type=code&auto_enroll=true"
    },
    {
      text: "Watch video",
      url: "https://www.youtube.com/watch?v=ujVY8xqkflQ"
    }
  ]
%>

<%= render Site::SectionComponent.new(theme: :dark, container: false, padding: false) do %>
  <%= render "site/features/features_nav" %>

  <div class="px-3">
    <%= render Site::HeroComponent.new(
      header: "Exactly what you’re looking&nbsp;for.",
      text: "With GitHub code search, your code—and the world’s—is at your&nbsp;fingertips.",
      ctas: page_ctas) %>
  </div>

  <div class="mt-4 position-relative z-1 mb-8 mb-md-12 px-3">
    <div class="position-relative z-1 container-xl">
      <div class="box-shadow-card-dark-mktg rounded-2 overflow-hidden width-full">
        <picture>
          <source srcset="<%= image_path "modules/site/code-search/search-hero.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/code-search/search-hero.png" %>" alt="" class="width-full d-block height-auto" style="background-color: #22272e;" width="2560" height="1692">
        </picture>
      </div>
      <div class="col-4 position-absolute z-2 overflow-hidden cs-border rounded-3" style="right: -7%; top: 20%; max-width: 400px;">
        <picture>
          <source srcset="<%= image_path "modules/site/code-search/hero-popover.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/code-search/hero-popover.png" %>" alt="" class="width-full d-block height-auto" style="background-color: #22272e;" width="800" height="1058">
        </picture>
      </div>
      <div class="col-5 position-absolute z-2 overflow-hidden cs-border rounded-3" style="left: -7%; bottom: -4%; max-width: 504px;">
        <picture>
          <source srcset="<%= image_path "modules/site/code-search/hero-search-popover.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/code-search/hero-search-popover.png" %>" alt="" class="width-full d-block height-auto" style="background-color: #22272e;" width="1008" height="706">
        </picture>
      </div>
      <img src="<%= image_path "modules/site/code-search/glow.png" %>" alt="" class="position-absolute height-auto z-n1 events-none" width="30" height="22" style="width: 180%;left: -40%;top: -75%; opacity: 0.7;">
    </div>
  </div>

  <div class="container-xl px-3">
    <%= render Site::RiverComponent.new(
      header: "Search, navigate, and understand your team’s code—and billions of lines of public&nbsp;code.",
      text_placement: :center,
      classes: "z-1"
    ) %>

    <%= render Site::HstackComponent.new(classes: "flex-items-center flex-justify-center text-center mb-8 mb-md-12 gutter-spacious z-1 position-relative") do %>

      <div class="col-12 mb-5 mb-md-0 d-flex flex-column flex-justify-center flex-items-center">
        <img src="<%= image_path "modules/site/code-search/mona-2.png" %>" class="" alt="" width="64" height="64">
        <h2 class="h4-mktg text-gradient-mint-blue mt-3">Fast, relevant results</h2>
        <p class="f4-mktg mt-2 color-fg-muted">GitHub code search understands your code—and brings you relevant results with incredible speed.</p>
      </div>

      <div class="col-12 mb-5 mb-md-0 d-flex flex-column flex-justify-center flex-items-center">
        <img src="<%= image_path "modules/site/code-search/mona-3.png" %>" class="" alt="" width="64" height="64">
        <h2 class="h4-mktg text-gradient-mint-blue mt-3">A power user's dream</h2>
        <p class="f4-mktg mt-2 color-fg-muted">Search using regular expressions, boolean operations, keyboard shortcuts, and more.</p>
      </div>

      <div class="col-12 mb-5 mb-md-0 d-flex flex-column flex-justify-center flex-items-center">
        <img src="<%= image_path "modules/site/code-search/mona-1.png" %>" class="" alt="" width="64" height="64">
        <h2 class="h4-mktg text-gradient-mint-blue mt-3">More than just search</h2>
        <p class="f4-mktg mt-2 color-fg-muted">Dig deeper with the all-new code view—tightly integrating browsing and code navigation.</p>
      </div>
    <% end %>

    <%= render Site::RiverComponent.new(
      header: "Way more than grep.",
      text: "GitHub code search can search across multiple repositories and is always up to date. It understands your code, and puts the most relevant results first.",
      text_placement: :center
    ) %>

    <%= render Site::RiverComponent.new(
      header: "<em>Suggestions, completions, and more.</em> Use the new search input to find symbols and files—and jump right to&nbsp;them.",
      size: :small,
      illustration_size: :large,
      stagger: 80,
      images: [
        { src: image_path("modules/site/code-search/re-bg.png"), width: 1200, height: 848, classes: "d-block position-relative height-auto box-shadow-card-dark-mktg col-12 rounded-2", optimize: false },
        { src: image_path("modules/site/code-search/card.png"), width: 1032, height: 882, classes: "height-auto cs-border box-shadow-active-mktg col-10 rounded-3 position-absolute left-0 right-0 mx-auto top-n3 js-build-in-item build-in-scale-fade" },
      ]
    ) %>

    <%= render Site::RiverComponent.new(
      header: "<em>Powerful search syntax.</em> Know exactly what you’re looking for? Express it with our powerful search operators.",
      size: :small,
      text_placement: :right,
      illustration_size: :large,
      images: [
        { src: image_path("modules/site/code-search/re-bg.png"), width: 1200, height: 848, classes: "d-block position-relative height-auto box-shadow-card-dark-mktg col-12 rounded-2", optimize: false },
        { src: image_path("modules/site/code-search/search-1.png"), width: 649, height: 66, classes: "position-relative height-auto position-absolute js-build-in-item build-in-slideX-right", style: "right: 0; top: 20%; max-width: 94%" },
        { src: image_path("modules/site/code-search/search-2.png"), width: 703, height: 66, classes: "position-relative height-auto position-absolute js-build-in-item build-in-slideX-right", style: "right: 0; top: 37%; max-width: 98%" },
        { src: image_path("modules/site/code-search/search-3.png"), width: 756, height: 66, classes: "position-relative height-auto position-absolute js-build-in-item build-in-slideX-right", style: "right: 0; top: 54%; max-width: 102%" }
      ]
    )  %>

    <%= render Site::RiverComponent.new(
      header: "Meet the all-new code view.",
      text: "Dig deeper into complex codebases with tightly integrated search, code navigation and browsing.",
      text_placement: :center
    ) %>

    <%= render Site::RiverComponent.new(
    header: "<em>Code navigation.</em> Instantly jump to definitions in over 10 languages. No&nbsp;setup&nbsp;required.",
    size: :small,
    illustration_size: :large,
    images: [
        { src: image_path("modules/site/code-search/re-bg.png"), width: 1200, height: 848, classes: "d-block position-relative height-auto box-shadow-card-dark-mktg col-12 rounded-2", optimize: false },
        { src: image_path("modules/site/code-search/code-nav.png"), width: 1032, height: 882, classes: "height-auto cs-border box-shadow-active-mktg col-10 rounded-3 position-absolute left-0 right-0 mx-auto top-n3 js-build-in-item build-in-scale-fade" },
        { src: image_path("modules/site/code-search/code-nav-cursor.png"), width: 43, height: 45, classes: "position-absolute left-0 right-0 mx-auto js-build-in-item build-in-scale-fade", style: "top: 48%; height: 22px; width: 21px;" },
      ]
    ) %>


    <%= render Site::RiverComponent.new(
      header: "<em>File browser.</em> Keep all your code in context and instantly switch files with the new file tree pane.",
      size: :small,
      illustration_size: :large,
      text_placement: :right,
      stagger: 80,
      images: [
        { src: image_path("modules/site/code-search/re-bg.png"), width: 1200, height: 848, classes: "d-block position-relative height-auto box-shadow-card-dark-mktg col-12 rounded-2", optimize: false },
        { src: image_path("modules/site/code-search/tree.png"), width: 1032, height: 882, classes: "height-auto cs-border box-shadow-active-mktg col-10 rounded-3 position-absolute left-0 right-0 mx-auto top-n3 top-md-n4 js-build-in-item build-in-scale-fade" },
      ]
    ) %>

    <%= render Site::HstackComponent.new(classes: "mt-8 mt-md-12 flex-items-center flex-justify-center mb-12 position-relative z-1") do %>
      <div class="col-12 mb-5 mb-md-0">
        <%= render Site::TestimonialComponent.new(
          quote: "Code search makes it effortless to quickly find what I'm looking for in my code, or across all of GitHub",
          fullname: "Keith Smiley",
          image: image_path("modules/site/code-search/keith.jpg"),
          title: "Software Engineer",
          company: "Lyft",
          size: :medium,
          classes: "color-bg-overlay box-shadow-card-dark-mktg rounded-2 p-4 p-md-5"
        ) %>
      </div>

      <div class="col-12 mb-5 mb-md-0">
        <%= render Site::TestimonialComponent.new(
          quote: "Code search turns what would've been a ~10 minute grep search into a 2 second UI search",
          fullname: "Marco Montagna",
          image: image_path("modules/site/code-search/mmontagna.jpg"),
          title: "Platform Engineer",
          company: "Instacart",
          size: :medium,
          classes: "color-bg-overlay box-shadow-card-dark-mktg rounded-2 p-4 p-md-5"
        ) %>
      </div>
    <% end %>

    <%= render Site::FooterCardComponent.new(
      header: "Find more, search&nbsp;less",
      ctas: page_ctas,
      background_image: "modules/site/discussions/cta-glow.png",
    ) %>

    <%= render Site::FaqComponent.new(items: [
      {
        question: "Do I need to set up my repositories to support code navigation?",
        answer: "No, code navigation works out of the box, with zero configuration required."
      },
      {
        question: "Who can search my code?",
        answer: "Public code is searchable by anyone, but private code can only be searched by users who have access to it."
      },
      {
        question: "How much does the new code search and code view cost?",
        answer: "The new code search and code view are free for users of GitHub.com."
      },
    ]) %>
  </div>

<% end %>
