<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
  <div class="container-lg">
      You have <%= unresolved_abuse_report_count %> unresolved abuse <%= "report".pluralize(unresolved_abuse_report_count) %>.

      <a href="<%= reported_content_path(repository.owner, repository) %>">View <%= "report".pluralize(unresolved_abuse_report_count) %></a>
  </div>
<% end %>
