<% if commit %>
  <% if pull_requests.any? %>
    <a class="branch-name css-truncate-target" href="<%= commit_path(commit, commit.repository) %>" data-commit-hovercards-enabled <%= safe_data_attributes(hovercard_data_attributes_for_commit(commit_url: commit_path(commit))) %>>
      <%= pull_requests.first.display_head_ref_name %>
    </a>

    <span class="color-fg-muted">
      <%# Formatted to prevent spaces inside parens %>
      (<% pull_requests.each_with_index do |pull, index| %><a href="<%= pull_request_path(pull) %>" class="Link--muted issue-link" data-issue-and-pr-hovercards-enabled <%= safe_data_attributes(hovercard_data_attributes_for_issue_or_pr(pull)) %>>#<%= pull.number %></a><%= ", " unless index == pull_requests.length - 1 %><% end %>)
  <% else %>
    at <code>
    <a class="Link--muted" href="<%= commit_path(commit, commit.repository) %>" data-commit-hovercards-enabled <%= safe_data_attributes(hovercard_data_attributes_for_commit(commit_url: commit_path(commit, commit.repository))) %>><%= commit.abbreviated_oid %></a>
    </code>
  <% end %>
<% end %>
