<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Flash.new(full: true, scheme: :warning, display: :flex, align_items: :center, classes: "js-notice") do |component| %>
  <div class="flex-1">
    <h1 class="h4 mb-1">
      <%= TrustSafety::ContentWarnings.title_for(category) %>
    </h1>
    <p>
      <%= TrustSafety::ContentWarnings.subtitle_for(category, sub_category) %><%= custom_sub_category %>
    </p>
  </div>
  <% if logged_in? %>
    <% component.with_action do %>
      <%= form_tag(
        dismiss_content_warning_banner_path(current_repository.owner.display_login, current_repository.name, return_to: return_to_path),
        class: "js-notice-dismiss",
        method: :post,
        remote: true
      ) do %>
        <button class="flash-close" type="submit" aria-label="Dismiss content warning" <%= test_selector("dismiss-content-warning-banner-button") %>>
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
        </button>
      <% end %>
    <% end %>
  <% end %>
<% end %>
