<div id="deployment_environment_<%= deployment.latest_environment %>"
     class="Box Box--responsive mb-4 mt-md-4 js-socket-channel js-updatable-content"
     data-channel="<%= live_update_view_channel(deployment.dashboard_channel) %>"
     data-url="<%= deployments_environment_state_path(current_repository.owner, current_repository, environment: deployment.latest_environment) %>">
  <div class="Box-header d-flex flex-items-center">
    <h3 class="Box-title overflow-hidden flex-auto">
      Deployed to <%= deployment.latest_environment %>
    </h3>
  </div>

  <div class="Box-row d-flex flex-column flex-md-row">
    <div class="flex-auto color-fg-muted">
      <include-fragment src="<%= full_associated_pulls_path(current_repository.owner, current_repository, deployment_id: deployment.id) %>">
        <% if commit %>
          <a class="branch-name css-truncate-target" href="<%= commit_path(commit, commit.repository) %>">
            <%= commit.abbreviated_oid %>
          </a>
        <% else %>
          <span class="branch-name css-truncate-target">
            <%= deployment.short_sha %>
          </span>
        <% end %>

        was

        <% if log_url = deployment.latest_status&.encoded_log_url %>
          <%= safe_link_to "deployed", log_url, target: "_blank" %>
        <% else %>
          deployed
        <% end %>

         by

        <%= render partial: "repositories/deployed_by", locals: { deployment: deployment } %>

        <%= time_ago_in_words_js(deployment.created_at) %>

        <%= render Repositories::DeploymentStatusComponent.new(state: deployment.state) %>
        <div class="mt-2 color-fg-muted">
          Loading information…
        </div>
      </include-fragment>
    </div>

    <% if deployment.latest_status&.environment_url %>
      <div class="mt-2 mt-md-0">
        <%= safe_link_to "View deployment", deployment.latest_status.environment_url, class: "btn", target: "_blank" %>
      </div>
    <% end %>
  </div>
</div>
