<% creator = deployment.creator || User.ghost %>
<% app = deployment.performed_via_integration %>

<% if creator.bot? %>
  <%= linked_avatar_for(creator, 20, img_class: "avatar") %>
  <a href="<%= user_path(creator) %>" class="color-fg-inherit text-bold"><%= creator.name %></a>
<% elsif app&.readable_by?(current_user) %>
  <a href="<%= user_path(app.bot) %>" class="color-fg-inherit text-bold"><%= app.name %></a>
  on behalf of
  <%= linked_avatar_for(creator, 20, img_class: "avatar") %>
  <%= profile_link(creator, class: "color-fg-inherit text-bold") %>
<% else %>
  <%= linked_avatar_for(creator, 20, img_class: "avatar") %>
  <%= profile_link(creator, class: "color-fg-inherit text-bold") %>
<% end %>
