<%# `view` is an instance of Repositories::DetailsView %>
<ul class="pagehead-actions flex-shrink-0 <% if responsive? %>d-none d-md-inline<% end %>" style="padding: 2px 0;">
  <% track_render_partial("repositories/details/show_sponsor_button") do %>
    <%= render_nothing_if_database_fails do %>
      <% if view.include_sponsor_button_fragment? %>
        <li>
          <include-fragment src="<%= repository_sponsor_button_path(current_repository.owner, current_repository, sponsor: params[:sponsor]) %>"></include-fragment>
        </li>
      <% end %>
    <% end %>
  <% end %>

  <% track_render_partial("repositories/details/pin_component") do %>
    <% if current_repository.owner.organization? %>
      <%= render(Repositories::PinOrganizationRepoComponent.new(repository: current_repository)) %>
    <% else %>
      <%= render(Repositories::PinComponent.new(repository: current_repository)) %>
    <% end %>
  <% end %>

  <li>
    <% track_render_partial("repositories/details/notifications_component") do %>
      <%= render(
        Repositories::NotificationsComponent.new(
          aria_id_prefix: "repository-details",
          repository: current_repository,
          show_count: true,
          status: GitHub.flipper[:notifications_async_watch_repo_button].enabled?(current_user) ? nil : subscription_status,
          deferred_content: GitHub.flipper[:notifications_async_watch_repo_button].enabled?(current_user)
        ),
      ) do |component| %>
        <%= component.with_fallback_error do %>
          <span class="d-flex pt-1">
            <%= primer_octicon(:alert, mr: 1) %>
            Couldn't load subscription status.&nbsp;
            <%= render(Primer::Beta::Button.new(scheme: :link, "data-retry-button": "")) { "Retry" } %>
          </span>
        <% end %>
        <%= component.with_spinner do %>
          <%= render(Primer::Beta::Button.new(
            size: :small,
            classes: "tooltipped tooltipped-n",
            disabled: true,
            aria: { label: "Watching a repository" },
          )) do |c| %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
            <% c.with_leading_visual_icon(icon: "eye") %>
            Watch
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </li>

  <li>
    <% track_render_partial("repositories/details/fork_button") do %>
      <%= render(Repositories::ForkButtonComponent.new(
        repository: current_repository,
        forkability_error_message: logged_in? ? view.forkability_error_message : nil,
      )) %>
    <% end %>
  </li>

  <li>
    <% track_render_partial("repositories/details/stars_component") do %>
      <%= render(Stars::ButtonComponent.new(
        entity: view.repository,
        show_count: true,
        context: "repository",
        current_user_can_read_repo: current_user_can_read_repo?
      )) do |c| c.with_list_menu end %>
    <% end %>
  </li>

  <% if show_use_this_template_button?(current_repository) %>
    <li>
      <% track_render_partial("files/use_this_template_button") do %>
        <%= render partial: "files/use_this_template_button", locals: { view: view, small_button: true, use_left_padding: false } %>
      <% end %>
    </li>
  <% end %>
</ul>
