<% if commit %>
  <a class="branch-name css-truncate-target" href="<%= commit_path(commit, commit.repository) %>" data-commit-hovercards-enabled <%= safe_data_attributes(hovercard_data_attributes_for_commit(commit_url: commit_path(commit, commit.repository))) %>>
    <% if pull_requests.any? %>
      <%= pull_requests.first.display_head_ref_name %>
    <% else %>
      <%= commit.abbreviated_oid %>
    <% end %>
  </a>
<% else %>
  <span class="branch-name css-truncate-target">
    <%= deployment.short_sha %>
  </span>
<% end %>

was

<% if log_url = deployment.latest_status&.encoded_log_url %>
  <%= safe_link_to "deployed", log_url, target: "_blank" %>
<% else %>
  deployed
<% end %>

by

<%= render partial: "repositories/deployed_by", locals: { deployment: deployment } %>

<%= time_ago_in_words_js(deployment.created_at) %>

<%= render Repositories::DeploymentStatusComponent.new(:state => deployment.state, **test_selector_data_hash("deployment-status-label").symbolize_keys!) %>

<% if pull_requests.present? %>
  <% pull_requests.each do |pull_request| %>
    <div class="mt-2">
      <% if pull_request.issue_state == "open" %>
        <%= primer_octicon(:"git-pull-request", classes: "open") %>
      <% elsif pull_request.issue_state == "closed" %>
        <%= primer_octicon(:"git-pull-request-closed", classes: "closed") %>
      <% elsif pull_request.issue_state == "merged" %>
        <%= primer_octicon(:"git-merge", classes: "merged") %>
      <% end %>

      <a href="<%= pull_request_path(pull_request) %>" class="text-bold" data-issue-and-pr-hovercards-enabled <%= safe_data_attributes(hovercard_data_attributes_for_issue_or_pr(pull_request)) %>><%= pull_request.title %></a>
    </div>
  <% end %>
<% end %>
