<%
  experimental_select_panel = false unless local_assigns.key?(:experimental_select_panel)
  menu_id = nil unless local_assigns.key?(:menu_id)
%>

<% if experimental_select_panel %>
  <span data-list-inputs="true"><input type="hidden" name="issue[repository_id]"></span><%# used by select-panel-element.ts %>
  <%= render Primer::Alpha::SelectPanel::ItemList.new(
    aria: {
      label: "repositories",
    },
    id: "related-repositories-menu",
    menu_id: menu_id,
    select_variant: :single,
  ) do |list| %>
    <% repositories.each do |repository| %>
      <% list.with_item(
        label: repository.name,
        test_selector: "related-repository-item",
        content_arguments: { "data-value": repository.id }, # data-value is used by select-panel-element.ts
      ) do |item| %>
        <% item.with_description(repository.description) %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div id="related-repositories-menu" class="select-menu-list">
    <% repositories.each do |repository| %>
      <label class="select-menu-item" tabindex="0" role="menuitemradio">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <div class="select-menu-item-text" data-menu-button-contents <%= test_selector("related-repository-item") %>>
          <input type="radio" class="d-none" name="issue[repository_id]" value="<%= repository.id %>" >
          <%= repository.name %>
        </div>
      </label>
    <% end %>
    <% if repositories.empty? %>
      <div class="p-3 text-center">
        No matching repositories.
      </div>
    <% end %>
  </div>
<% end %>
