<%# erblint:counter GoogleAnalyticsDeprecation 1 %>

<li class="col-12 d-flex flex-justify-between width-full py-4 border-bottom color-border-muted <%= user_repositories_class_names(is_private: repository.private?, is_fork: repository.fork?, is_mirror: repository.mirror?, is_archived: repository.archived?) %>" itemprop="owns" itemscope itemtype="http://schema.org/Code">
  <div class="col-10 col-lg-9 d-inline-block">
    <div class="d-inline-block mb-1">
      <h3 class="wb-break-all">
        <a href="<%= repository.permalink(include_host: false) %>" itemprop="name codeRepository" <%= test_selector("repository") %>>
        <% if show_owner_prefix?(owner: repository.owner, owner_id: repository.owner.id) %>
          <span class="text-normal"><%= repository.owner.display_login %>/</span>
        <% end %>
        <%= repository.name %></a>
        <%= repository_label(repository, classes: "ml-1 mb-1") %>
      </h3>

      <% if repository.fork? && repository.parent %>
        <span class="f6 color-fg-muted mb-1">
          Forked from <a class="Link--muted Link--inTextBlock" href="<%= repository.parent.permalink(include_host: false) %>"><%= truncate(repository.parent.name_with_display_owner, length: 100) %></a>
        </span>
      <% end %>

      <% if repository.mirror? %>
        <p class="f6 color-fg-muted mb-1">
          Mirrored from <a class="Link--muted Link--inTextBlock" href="<%= repository.mirror.url %>"><%= truncate(repository.mirror.url, length: 100) %></a>
        </p>
      <% end %>
    </div>

    <div>
      <% if repository.short_description_html.present? %>
        <p class="col-9 d-inline-block color-fg-muted mb-2 pr-4" itemprop="description">
          <%= repository.short_description_html %>
        </p>
      <% end %>
    </div>

    <% if (topics = repository.topics.first(7)).any? %>

      <div class="topics-row-container d-inline-flex flex-wrap flex-items-center f6 my-1">
        <% topics.each do |repo_topic| %>
          <%= render(Topics::TagComponent.new(
            name: repo_topic.name,
            href: topic_show_path(repo_topic),
            data: {
              ga_click: "Topic, repository list",
              octo_click: "topic_click",
              octo_dimensions: "topic:#{repo_topic.name},repository_id:#{repository.id},repository_nwo:#{repository.name_with_display_owner},repository_public:#{!repository.private?},repository_is_fork:#{repository.fork?}"
            },
            font_size: 6, my: 1
          )) %>
        <% end %>
      </div>
    <% end %>

    <div class="f6 color-fg-muted mt-2" <%= test_selector("packages") %>>
      <% if repository.packages.not_deleted.count > 0 && PackageRegistryHelper.allow_access_to_actor?(repository.owner, current_user) %>
        <span class="mr-3">
          <a href="<%= repository.permalink(include_host: false) %>/packages" class="Link--muted">
            <%= primer_octicon(:package) %> <%= pluralize(repository.packages.not_deleted.count, "package") %>
          </a>
        </span>
      <% end %>

      <% if repository.primary_language %>
        <%= render(Languages::BadgeComponent.new(name: repository.primary_language.name, ml: 0, mr: 3)) %>
      <% end %>
      <% if repository.stargazer_count > 0 %>
        <a class="Link--muted mr-3" href="<%= stargazers_repository_path(repository.owner.display_login, repository.name) %>">
          <%= primer_octicon(:star, :"aria-label" => "star") %>
          <%= number_with_delimiter repository.stargazer_count %>
        </a>
      <% end %>
      <% if repository.forks_count > 0 %>
        <a class="Link--muted mr-3" href="<%= forks_path(repository.owner_display_login, repository.name) %>">
          <%= primer_octicon(:"repo-forked", :"aria-label" => "fork") %>
          <%= number_with_delimiter repository.forks_count %>
        </a>
      <% end %>

      <% if repository.license %>
        <span class="mr-3">
          <%= primer_octicon(:law, mr: 1) %><%= repository.license.name %>
        </span>
      <% end %>

      <% if repository.has_issues && repository.community_profile %>
        <% if repository.help_wanted_label && (issue_count = repository.community_profile.help_wanted_issues_count) > 0 %>
          <a class="Link--muted mr-3" href="<%= issues_path(repository.owner.display_login, repository.name, q: "label:\"#{repository.help_wanted_label.name}\" is:issue is:open") %>">
            <%= pluralize(issue_count, "issue") %>
            need<%= "s" if issue_count == 1 %> help
          </a>
        <% elsif repository.good_first_issue_label && (issue_count = repository.community_profile.good_first_issue_issues_count) > 0 %>
          <a class="Link--muted mr-3" href="<%= issues_path(repository.owner.display_login, repository.name, q: "label:\"#{repository.good_first_issue_label.name}\" is:issue is:open") %>">
            <%= pluralize(issue_count, "issue") %>
            need<%= "s" if issue_count == 1 %> help
          </a>
        <% end %>
      <% end %>

      <% if repository.pushed_at %>
        Updated <%= time_ago_in_words_js repository.pushed_at %>
      <% else %>
        Created <%= time_ago_in_words_js repository.created_at %>
      <% end %>
    </div>
  </div>
  <div class="col-2 d-flex flex-column flex-justify-around flex-items-end ml-3">
    <% if logged_in? %>
      <%= render(Stars::ButtonComponent.new(entity: repository)) do |c| c.with_list_menu end %>
    <% end %>

    <div class="text-right hide-lg hide-md hide-sm hide-xs flex-self-end <%= "mt-2" if repository.short_description_html.blank? %>">
      <poll-include-fragment src="<%= participation_path(repository.owner, repository.name, w: 155, h: 28, type: "sparkline") %>">
      </poll-include-fragment>
    </div>
  </div>
</li>
