<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<%= render Primer::Beta::Flash.new(py: 5, border: :bottom, classes: "js-notice", "data-ga-load": "Successors, see-popular-repo-successor-prompt") do %>
  <div class="container-lg d-flex <%= responsive? ? "p-responsive" : "px-3" %>">
    <div class="col-8">
      <p class="f4">Ensure the future of your work!<br>Consider inviting another GitHub user to be your successor.</p>
      <p class="color-fg-muted mb-4">
        Inviting a successor helps ensure the continuity of your work in case you are unable to access your account. <a class="Link--inTextBlock" data-ga-click="Successors, popular-user-owned-repo-view-docs" href="<%= GitHub.help_url %>/github/setting-up-and-managing-your-github-user-account/maintaining-ownership-continuity-of-your-user-accounts-repositories">Learn more</a><%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
      </p>
      <p>
        <a class="btn btn-primary" data-ga-click="Successors, popular-user-owned-repo-invite-successor" href="<%= settings_account_preferences_path %>"><strong>Invite a successor</strong></a>
      </p>
    </div>
    <div class="col-4 text-center">
      <%= form_tag dismiss_repository_notice_user_path(current_user), method: :delete, class: "js-notice-dismiss" do %>
        <input type="hidden" name="repository_id" value="<%= repository.id %>">
        <input type="hidden" name="notice_name" value="popular_repo_successor_prompt">
        <%= render Primer::Beta::CloseButton.new(
          type: :submit,
          float: :right,
          "data-ga-click": "Successors, dismiss-popular-repo-successor-prompt",
          "aria-label": "Hide this notice forever",
          color: :muted) %>
      <% end %>
      <%= render partial: "orgs/add_admin_icon" %>
    </div>
  </div>
<% end %>
