<%# erblint:counter DeprecatedComponentsCounter 5 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%#
  NOTE: The markup in this file for repository owner, name, and visibility
  option fields is almost identical to `repository_imports/new.html.erb`
  and `clone_template_repositories/new.html.erb`. These files also share
  JavaScript behavior from `repositories/new.ts`. Any changes made in this file
  most likely need to be applied to those templates as well (and vice versa).
%>
<%
  view = Repositories::CreateView.new(current_user, @repository)
  page_info title: "Create a New Repository",
    selected_link: :repo_create,
    class: "js-page-new-repo"
%>

<div class="container-md my-6 px-3 px-md-4 px-lg-5">
  <%=
    form_for @repository, :url => repositories_path, :html => {
      :id => "new_repository",
      :class => "js-braintree-encrypt js-repo-form",
      "aria-label" => "Create a new repository",
      "data-braintree-key" => GitHub.braintree_client_side_encryption_key } do |f|
  %>
    <%= render Primer::Beta::Subhead.new(mb: 3) do |component| %>
      <% component.with_heading(tag: :h1) do %>Create a new repository<% end %>
      <% component.with_description do %>
        <div class="d-flex flex-auto ">
          <p>
            A repository contains all project files, including the revision history.
            <% if GitHub.porter_available? %>
            Already have a project repository elsewhere? <%= link_to "Import a repository.", new_repository_import_path, data: repository_import_link_data_attributes, class: "Link--inTextBlock" %>
            <% end %>
          </p>
        </div>
      <% end %>
    <% end %>

    <%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
      classes: "Box mb-1",
      container_classes: "mb-2",
      resource_label: "more options",
      cap_filter: cap_filter,
      accounts: view.organizations_info.keys,
    )%>

    <%= render partial: "repositories/template_menu" %>
    <div class="js-owner-reponame owner-reponame clearfix">
      <%= render :partial => 'repositories/new/select_owner_form', locals: {
        initially_selected_owner: view.initially_selected_owner(@owner),
        view: view
      } %>
      <span class="float-left pt-4 mx-2 f2 js-with-permission-fields mt-1">/</span>
      <div class="d-block d-sm-none mb-2 clearfix"></div>
      <auto-check class="js-repo-name-autocheck" src="<%= repository_check_name_path %>" required>
        <%= f.text_group "Repository name", :name, {
          error: error_for(@repository, :name),
          autocapitalize: :off,
          maxlength: 100,
          class: 'js-repo-name js-repo-name-auto-check short',
          group_class: 'mt-1 float-left js-with-permission-fields',
          required: true,
          value: view.repo_value(params[:repo_name], @experiment_form),
          'aria-describedby': 'repo-name-suggestion',
          hint: error_for(@repository, :name)
        } %>
        <%= csrf_hidden_input_for repository_check_name_path %>
      </auto-check>
    </div>
    <% if view.supports_profile_readme?(@owner) %>
      <%= render Primer::Beta::Flash.new(
        my: 3,
        display: :flex,
        clearfix: true,
        hidden: true,
        test_selector: "profile-readme-feature",
        classes: "js-personal"
      ) do %>
        <%= image_tag "mona-whisper.gif", size: "48x48", alt: "Whispering...", style: "margin-top: -10px", class: "mr-3" %>
        <p>
          <strong><%= @owner.display_login %>/<%= @owner.display_login %></strong>
          is a ✨<em>special</em> ✨ repository that you can use
          to add a <code>README.md</code> to your GitHub profile. Make sure
          it&rsquo;s public and initialize it with a <strong>README</strong> to
          get started.
        </p>
      <% end %>
    <% end %>

    <% if view.supports_org_profile_readme?(current_user, @owner) %>
      <%= render Primer::Beta::Flash.new(
        my: 3,
        display: :flex,
        clearfix: true,
        hidden: true,
        test_selector: "org-profile-readme-feature",
        classes: "js-org-profile",
      ) do %>
        <%= image_tag "mona-whisper.gif", size: "48x48", alt: "Whispering...", style: "margin-top: -10px", class: "mr-3" %>
        <p>
          <strong><%= @owner.display_login %>/.github</strong>
          is a ✨<em>special</em> ✨ repository that you can use
          to add a <code>README.md</code> to your public organization profile, visible to anyone.
          Make sure it&rsquo;s public and initialize it with a <strong>README</strong> in the
          <strong>profile</strong> directory to get started.
        </p>
      <% end %>
    <% end %>

    <% if view.supports_org_member_profile_readme?(current_user, @owner) %>
      <%= render Primer::Beta::Flash.new(
        my: 3,
        display: :flex,
        clearfix: true,
        hidden: true,
        test_selector: "org-member-profile-readme-feature",
        classes: "js-org-private-profile",
      ) do %>
        <%= image_tag "mona-whisper.gif", size: "48x48", alt: "Whispering...", style: "margin-top: -10px", class: "mr-3" %>
        <p>
          <strong><%= @owner.display_login %>/.github-private</strong>
          is a ✨<em>special</em> ✨ repository that you can use
          to add a private <code>README.md</code> to your organization member profile, visible only to organization members.
          Make sure it&rsquo;s private and initialize it with a <strong>README</strong> in the
          <strong>profile</strong> directory to get started.
        </p>
      <% end %>
    <% end %>

    <div class="js-with-permission-fields">

      <% if !view.name_is_restricted?(@owner) %>
       <p class="my-2" id="repo-name-suggestion">
        Great repository names are short and memorable. Need inspiration? How about
        <strong class="reponame-suggestion js-reponame-suggestion"><%= view.suggested_name %></strong>?
        </p>
      <% end %>
      <% if view.show_restrict_create_repositories_in_personal_namespace_message? ? true : false %>
        <hr aria-hidden="true">
          <div class="color-fg-muted">
            <%= primer_octicon(:info, mr: 1) %> Creating repositories in personal namespace is disabled in this GitHub enterprise instance.
          </div>
        <hr aria-hidden="true">
      <% end %>

      <!-- description field -->
      <%= f.text_group safe_join(["Description ", content_tag(:span, "(optional)", :class => "note")]), :description,
        :error => error_for(@repository, :description),
        :class => "long",
        :autocomplete => "off" %>

      <hr aria-hidden="true">

      <!-- privacy options -->

      <% if view.show_public_ui? %>
        <div class="hx_disabled-form-checkbox-label form-checkbox" <%= test_selector("new-repo-public-option") %>>
          <label class="js-privacy-toggle-label-public">
            <%= f.radio_button :visibility, "public", :checked => f.object.public?, :class => "mt-2 js-privacy-toggle", :'aria-describedby' => "public-description" %>
            Public
          </label>
          <%= primer_octicon(:repo, height: 24, float: :left, mt: 1, mr: 2, color: :muted) %>
          <span id="public-description" class="js-public-description note">
            <% if GitHub.private_mode_enabled? %>
              Any logged in user can see this repository. You choose who can commit.
            <% else %>
              Anyone on the internet can see this repository. You choose who can commit.
            <% end %>
          </span>
          <span hidden class="js-public-restricted-by-policy-description note overflow-hidden">
            You may not create public repositories by organization policy.
          </span>
        </div>
      <% end %>

      <% if view.show_internal_ui? %>
        <% view.user_businesses.each do |business| %>
          <div class="hx_disabled-form-checkbox-label form-checkbox js-new-repo-internal-visibility" id="new-repo-internal-visibility-<%= business.id %>" hidden>
            <label class="js-privacy-toggle-label-internal">
              <%= f.radio_button :visibility, "internal", class: "mt-2 js-privacy-toggle", "aria-describedby": "new-repo-internal-visibility-#{business.id}",
                id: "repository_visibility_internal-#{business.id}" %>
              Internal
            </label>

            <%= primer_octicon(:organization, height: 24, color: :muted, float: :left, mt: 1, mr: 2) %>

            <span class="js-internal-description note">
              <%= business.safe_profile_name %> <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/roles-for-an-enterprise-account#enterprise-members">enterprise members</a> can see this repository. You choose who can commit.
            </span>
            <span hidden id="internal-restricted-by-policy-description-<%= business.id %>" class="js-internal-restricted-by-policy-description note overflow-hidden">
              You may not create internal repositories by organization policy.
            </span>
          </div>
        <% end %>
      <% end %>

      <div class="hx_disabled-form-checkbox-label form-checkbox">
        <label class="js-privacy-toggle-label-private">
          <%= f.radio_button :visibility, "private", :checked => view.private_visibility_checked?, :class => "mt-2 js-privacy-toggle", :'aria-describedby' => "private-description upgrade-private-description" %>
          Private
        </label>
        <%= primer_octicon(:lock, height: 24, color: :muted, float: :left, mt: 1, mr: 2) %>
        <span id="private-description" class="note js-private-description">
          You choose who can see and commit to this repository.
        </span>
        <span hidden class="js-private-restricted-by-policy-description note overflow-hidden">
          You may not create private repositories by organization policy.
        </span>
        <span hidden class="js-trade-controls-description note overflow-hidden">
          <%= trade_controls_private_repo_creation_warning %>
        </span>
        <span hidden class="js-individual-trade-controls-description note overflow-hidden">
          <%= trade_controls_user_private_repo_creation_warning %>
        </span>
        <span hidden class="js-upgrade-private-description note overflow-hidden">
          Your current plan does not support private repositories.
          <% if GitHub.billing_enabled? %>
            <% view.organizations.each do |org| %>
              <a
                hidden
                href="<%= upgrade_path(
                  plan: GitHub::Plan.business,
                  target: "organization",
                  org: org
                ) %>"
                class="btn-link js-org-upgrade-link"
                data-upgrade-link="<%= org.name %>"
                data-ga-click="Orgs, upgrade to team, location:create repo prompt">
                Upgrade to Team
              </a>
            <% end %>
            <span class="js-ask-owner-message">
              Your organization's owners will need to upgrade to Team.
            </span>
          <% end %>
        </span>
      </div>

      <div class="js-repository-auto-init-options">
        <hr aria-hidden="true">

        <h3 class="h5">Initialize this repository with:</h3>

        <p class="color-fg-muted">Skip this step if you’re importing an existing repository.</p>

        <!-- auto init -->

        <div class="hx_disabled-form-checkbox-label form-checkbox unchecked mt-0 mb-3">
          <label>
            <%= f.check_box :auto_init, class: "js-toggle-new-repo-default-branch-info js-repo-readme" %>
            Add a README file
          </label>
          <span class="note">
            This is where you can write a long description for your project.
            <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/github/creating-cloning-and-archiving-repositories/about-readmes" rel="noopener" target="_blank">Learn more about READMEs.</a>
          </span>
        </div>

        <div class="mt-0 mb-3">
          <h4 class="h5">Add .gitignore</h4>
          <div class="note mb-2">
            Choose which files not to track from a list of templates.
            <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/github/using-git/ignoring-files" rel="noopener" target="_blank">Learn more about ignoring files.</a>
          </div>
          <span>
            <%= render(GitHub::MenuComponent.new(
                text: ".gitignore template:",
                title: ".gitignore template",
                items: view.gitignore_menu_items,
                filter_placeholder: "Filter...",
                filterable: true)) %>
          </span>
        </div>

        <% if GitHub.license_picker_enabled? %>
          <div class="mt-0 mb-3 position-relative">
            <h4 class="h5">Choose a license</h4>
            <div class="note mb-2">
              A license tells others what they can and can't do with your code.
              <a class="Link--inTextBlock" href="<%= docs_url "repositories/licensing-a-repository" %>" rel="noopener" target="_blank">Learn more about licenses.</a>
            </div>
            <span>
              <%= render(GitHub::MenuComponent.new(
                text: "License:",
                title: "License",
                items: view.licenses_menu_items,
                filter_placeholder: "Filter...",
                filterable: true)) %>
            </span>
          </div>
        <% end %>

        <p class="color-fg-muted js-new-repo-default-branch-info" hidden <%= test_selector("new-repo-owner-default-branch") %>>
          This will set
          <span class="commit-ref">
            <%= primer_octicon(:"git-branch") %>
            <span class="ml-n1 js-new-repo-owner-default-branch"><%= @owner.default_new_repo_branch %></span>
          </span>
          as the default branch.
          <span class="js-repo-owner-default-branch-settings-link-container" <% unless show_default_branch_settings_link_for?(@owner) %>hidden<% end %>>
            Change the default name in
            <span class="js-new-repo-owner-settings-link-prefix">
              <% if @owner == current_user %>
                your
              <% else %>
                <%= @owner.safe_profile_name %>'s
              <% end %>
            </span>
            <%= link_to "settings", default_branch_settings_url_for(@owner),
                  class: "js-new-repo-owner-settings-link Link--inTextBlock", target: "_blank" %>.
          </span>
          <span class="js-org-repo-owner-default-branch-settings-info" <% if @owner.user? || show_default_branch_settings_link_for?(@owner) %>hidden<% end %>>
            Contact the organization admin to change the default name.
          </span>
        </p>
      </div>
      <div class="js-quick-install-container">
        <% default_apps = @owner.installable_apps %>
        <hr class="js-quick-install-divider" aria-hidden="true" <%= "hidden" unless default_apps&.any? %>>
        <div class="js-account-apps">
          <%= render partial: "repositories/new/marketplace_apps_list", locals: { listings: default_apps,
                                                                                  account: @owner,
                                                                                  instrument_listings: true }
          %>
        </div>
      </div>

      <hr aria-hidden="true">

      <div class="color-fg-muted">
        <%= primer_octicon(:info, mr: 1) %><span class="js-new-repo-destination-message text-normal"></span>
      </div>

      <hr aria-hidden="true">

      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, "data-disable-with": "Creating repository&hellip;") do %>
        Create repository
      <% end %>
    </div><!-- /.js-with-permission-fields -->

    <div class="js-without-permission-fields mt-2" hidden>
      <%= render Primer::Beta::Flash.new(scheme: :warning) do %>
        You don’t appear to have permission to create repositories for this organization. Sorry about that.
      <% end %>
    </div>
  <% end %>
</div>
