<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<div class="position-relative color-bg-subtle pt-3">
  <div class="mb-4 px-3">
    <%= render :partial => "repositories/title", :locals => { :repository => current_repository } %>
  </div>
</div>
<div class="container-sm px-3 mt-4">
  <div class="pt-4 color-bg-default text-center">
    <div class="d-flex flex-justify-center mb-6">
      <div class="CircleBadge CircleBadge--medium color-bg-danger">
        <%= primer_octicon(:alert, height: 32, color: :danger) %>
      </div>
    </div>
      <p class="f1">
        <%= TrustSafety::ContentWarnings.title_for(category) %>
      </p>
    <div class="mt-6">
      <% unless GitHub.multi_tenant_enterprise? %>
        <a href="<%= explore_path %>" class="btn btn-primary mr-3">Discover other projects on GitHub</a>
      <% end %>
      <%= form_tag opt_in_to_view_path(current_repository.owner.display_login, current_repository.name, return_to: return_to), class: "inline-form", method: :post do %>
        <button class="btn btn-danger" type="submit" method="post">View repository</button>
      <% end %>
    </div>
    <div class="mt-6">
      <h4>Additional resources</h4>
      <div class="d-flex flex-justify-center mt-2">
        <% if current_repository.owner.user? %>
          <% repo_owner = current_repository.owner %>
          <% if logged_in? && current_user.blocking?(repo_owner) %>
            <div class="mr-6">
              <p>You're blocking @<%= repo_owner %>. <br> <a class="Link--inTextBlock" href="<%=settings_blocked_users_path%>">Manage your blocked users.</a></p>
            </div>
          <% else %>
            <%= form_tag settings_blocked_users_path, class: "inline-form", method: :post do %>
              <input name="login" type="hidden" value="<%= repo_owner.display_login %>">
              <input name="return_to" type="hidden" value="<%= user_path(repo_owner) %>">
              <button class="btn-link mr-3" type="submit" method="post">Block @<%= repo_owner %></button>
            <% end %>
          <% end %>
        <% end %>
        <div>
          <a href="<%=GitHub.help_url%>/articles/github-community-guidelines">GitHub Community Guidelines</a>
        </div>
      </div>
    </div>
  </div>
</div>
