<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% view = Repositories::PulseView.new(current_repository, params[:period], current_user) %>
<% page_info \
    title: "Pulse · #{current_repository.name_with_display_owner}",
    container_xl: true,
    selected_link: :pulse,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<% content_for :head do %>
  <%= stylesheet_bundle :insights %>
<% end %>

<%= render layout: "layouts/repository/insights" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2, mt: [3, 0]) do %><%= view.range_label %><% end %>
    <% component.with_actions(mt: [3, 0] ) do %>
      <details class="details-reset details-overlay select-menu position-relative">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <i>Period:</i>
          <span data-menu-button><%= view.human_period %></span>
        <% end %>
        <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Filter activity</span>
          </div>
          <div class="select-menu-list">
            <% view.pulse_periods.each do |period, label| %>
              <% checked = view.period == period %>
              <a class="select-menu-item <%= "selected" if checked %>" role="menuitem" aria-checked="<%= checked %>" href="<%= gh_pulse_path(current_repository, period) %>" data-pjax="#js-repo-pjax-container">
                <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </a>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>
  <% end %>

  <div class="Box">
    <div class="Box-header">
      <h3 class="Box-title">Overview</h3>
    </div>

    <ul>
      <li class="Box-row p-0 d-flex flex-wrap">
        <div class="col-12 col-md-6 px-3 py-4">
          <div class="Progress">
            <% if view.total_pull_requests > 0 %>
              <% if view.summary.pull_ratio[:merged] > 0 %>
                <a href="<%= view.merged_pull_requests_path %>" class="Progress-item color-bg-done-emphasis" style="width:<%= view.summary.pull_ratio[:merged] * 100 %>%" aria-label="View all merged pull requests"></a>
              <% end %>
              <% if view.summary.pull_ratio[:new] > 0 %>
                <a href="<%= view.new_pull_requests_path %>" class="Progress-item color-bg-success-emphasis" style="width:<%= view.summary.pull_ratio[:new] * 100 %>%" aria-label="View all open pull requests"></a>
              <% end %>
            <% end %>
          </div>
          <div class="mt-2">
            <span class="text-emphasized"><%= number_with_delimiter view.total_pull_requests %></span>
            Active pull request<%= 's' if view.total_pull_requests != 1 %>
          </div>
        </div>

        <div class="col-12 col-md-6 px-3 py-4">
          <div class="Progress">
            <% if view.total_issues > 0 %>
              <% if view.summary.issue_ratio[:closed] > 0 %>
                <a href="<%= issues_path(:state => 'closed') %>" class="Progress-item color-bg-danger-emphasis" style="width:<%= view.summary.issue_ratio[:closed] * 100 %>%" aria-label="View all closed issues"></a>
              <% end %>
              <% if view.summary.issue_ratio[:new] > 0 %>
                <a href="<%= issues_path(:state => 'open') %>" class="Progress-item color-bg-success-emphasis" style="width:<%= view.summary.issue_ratio[:new] * 100 %>%" aria-label="View all open issues"></a>
              <% end %>
            <% end %>
          </div>
          <div class="mt-2">
            <span class="text-emphasized"><%= number_with_delimiter view.total_issues %></span>
            Active issue<%= 's' if view.total_issues != 1 %>
          </div>
        </div>
      </li>

      <li class="Box-row p-0">
        <ul class="list-style-none text-center d-flex flex-wrap">
          <li class="p-3 col-12 col-sm-6 col-md-3 border-bottom border-sm-right border-md-bottom-0 color-border-muted">
            <% if view.summary.merged_pulls.size != 0 %>
              <a href="#merged-pull-requests" class="d-block Link--muted">
                <span class="d-block h4 color-fg-default">
                  <%= primer_octicon(:"git-merge", color: :done) %>
                  <%= number_with_delimiter view.summary.merged_pulls.size %>
                </span>
                <span class="color-fg-muted">Merged pull request<%= 's' if view.summary.merged_pulls.size != 1 %></span>
              </a>
            <% else %>
                <span class="d-block h4 color-fg-default">
                  <%= primer_octicon(:"git-merge", color: :done) %>
                  <%= number_with_delimiter view.summary.merged_pulls.size %>
                </span>
                <span class="color-fg-muted">Merged pull request<%= 's' if view.summary.merged_pulls.size != 1 %></span>
            <% end %>
          </li>
          <li class="p-3 col-12 col-sm-6 col-md-3 border-bottom border-md-bottom-0 border-md-right color-border-muted">
            <% if view.summary.new_pulls.size != 0 %>
              <a href="#proposed-pull-requests" class="d-block Link--muted">
                <span class="d-block h4 color-fg-default">
                  <%= primer_octicon(:'git-pull-request', color: :success) %>
                  <%= number_with_delimiter view.summary.new_pulls.size %>
                </span>
                <span class="color-fg-muted">Open pull request<%= 's' if view.summary.new_pulls.size != 1 %></span>
              </a>
            <% else %>
              <span class="d-block h4">
                <%= primer_octicon(:'git-pull-request', color: :success) %>
                <%= number_with_delimiter view.summary.new_pulls.size %>
              </span>
              <span class="color-fg-muted">Open pull request<%= 's' if view.summary.new_pulls.size != 1 %></span>
            <% end %>
          </li>
          <li class="p-3 col-12 col-sm-6 col-md-3 border-bottom border-sm-bottom-0 border-sm-right color-border-muted">
            <% if view.summary.closed_issues.size != 0 %>
              <a href="#closed-issues" class="d-block Link--muted">
                <span class="d-block h4 color-fg-default">
                  <%= primer_octicon(:'issue-closed', color: :done) %>
                  <%= number_with_delimiter view.summary.closed_issues.size %>
                </span>
                <span class="color-fg-muted">Closed issue<%= 's' if view.summary.closed_issues.size != 1 %></span>
              </a>
            <% else %>
              <span class="d-block h4 color-fg-default">
                <%= primer_octicon(:'issue-closed', color: :done) %>
                <%= number_with_delimiter view.summary.closed_issues.size %>
              </span>
              <span class="color-fg-muted">Closed issue<%= 's' if view.summary.closed_issues.size != 1 %></span>
            <% end %>
          </li>
          <li class="p-3 col-12 col-sm-6 col-md-3">
            <% if view.summary.new_issues.size != 0 %>
              <a href="#new-issues" class="d-block Link--muted">
                <span class="d-block h4 color-fg-default">
                  <%= primer_octicon(:'issue-opened', color: :success) %>
                  <%= number_with_delimiter view.summary.new_issues.size %>
                </span>
                <span class="color-fg-muted">New issue<%= 's' if view.summary.new_issues.size != 1 %></span>
              </a>
            <% else %>
              <span class="d-block h4 color-fg-default">
                <%= primer_octicon(:'issue-opened', color: :success) %>
                <%= number_with_delimiter view.summary.new_issues.size %>
              </span>
              <span class="color-fg-muted">New issue<%= 's' if view.summary.new_issues.size != 1 %></span>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <% if view.show_diffstat_summary? %>
    <div class="d-flex flex-wrap flex-items-center pt-4">

      <div class="col-12 col-md-6 f4 js-pulse-contribution-data" data-pulse-diffstat-summary-url="<%= pulse_diffstat_summary_path(period: params[:period]) %>">

        <%= render(Primer::Beta::Spinner.new(classes: "js-blankslate-loading graph-loading", mx: :auto, display: :block)) %>

        <div class="js-blankslate-error d-none">
          <h3>Could not load contribution data</h3>
          <p>Please try again later</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <%= render(Repositories::Pulse::AuthorsGraphComponent.new(
          repository: current_repository,
          period: params[:period])
        ) %>
      </div>
    </div>
  <% else %>
    <%= render Primer::BlankslateComponent.new(mt: 4) do %>
      <h4>There hasn’t been any commit activity on <%=h view.repository.name_with_display_owner  %> in the last <%= view.human_period.sub(/\b1\b/, '') %>.</h4>

      <% if forking_allowed && current_repository.owner != current_user %>
        <p>Want to help out?</p>
        <% if logged_in? && current_user.organizations.any? %>
          <p>
            <a href="<%= fork_select_path(current_repository.owner, current_repository) %>" class="btn btn-sm" aria-label="Fork this repository">
              <%= primer_octicon(:"repo-forked") %>
              Fork this repository</a>
          </p>
        <% else %>
          <p>
            <%= form_tag fork_path(current_repository) do %>
              <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, "aria-label": "Fork this repo") do %>
                <%= primer_octicon(:"repo-forked") %>
                Fork this repository
              <% end %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="mt-4 f5">
    <% if view.summary.releases? -%>
      <%= render :partial => 'repositories/pulse/releases_infographic_section', :locals => {:view => view} %>
    <% end -%>
    <% if view.summary.pull_requests? %>
      <%= render :partial => 'repositories/pulse/pulls_infographic_section', :locals => {:view => view} %>
    <% end %>

    <% if view.summary.issues? %>
      <%= render :partial => 'repositories/pulse/issues_infographic_section', :locals => {:view => view} %>
    <% end %>

    <% if view.summary.active.size > 0 %>
      <%= render :partial => 'repositories/pulse/active_discussions_infographic_section', :locals => {:view => view} %>
    <% end %>
  </div>
<% end %>
