<% page_info \
  container_xl: true,
  title: "Stargazers · #{current_repository.name_with_display_owner}" %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4" id="repos">
    <%= render(Primer::Beta::Subhead.new) do |component| %>
      <% component.with_heading(tag: :h1) do %>
        Stargazers
      <% end %>
    <% end %>
    <%= render partial: "repositories/stargazers_nav" %>
    <% if stars.any? %>
      <ol class="d-block d-md-flex flex-wrap gutter list-style-none">
        <% stars.filter_map(&:user).each do |user| %>
          <%= render partial: "users/follow_list", object: user %>
        <% end %>
      </ol>
      <div class="paginate-container">
        <%= simple_paginate stars %>
      </div>
    <% elsif stars.current_page > 1 %>
      <p>
        That’s it. You’ve reached the end of
        <%= current_repository.name %>&rsquo;s
        stargazers.
      </p>
    <% else %>
      <%= render Primer::Beta::Blankslate.new(
        icon: "star",
      ) do |component| %>
        <% component.with_visual_icon(icon: :star) %>
        <% component.with_heading(tag: :h2).with_content("Be the first to star this repository") %>
        <% component.with_description do %>
          <p><a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/about-stars">Learn more about how starring works on GitHub.</a></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
