<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
  container_xl: true,
  title: "Stargazers · #{current_repository.name_with_display_owner}" %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4" id="repos">
    <%= render(Primer::Beta::Subhead.new) do |component| %>
      <% component.with_heading(tag: :h2) do %>
        Stargazers
      <% end %>
    <% end %>
    <%= render :partial => "repositories/stargazers_nav" %>
    <% if @stargazers_you_know.any? %>
      <ol class="d-block d-md-flex flex-wrap gutter list-style-none">
        <% @stargazers_you_know.each do |user| %>
          <%= render :partial => 'users/follow_list', :object => user %>
        <% end %>
      </ol>

      <div class="paginate-container">
        <%= simple_paginate @stargazers_you_know %>
      </div>
    <% elsif @stargazers_you_know.current_page > 1 %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_visual_icon(icon: "star") %>

        <% c.with_heading(tag: :h2) do %>
          This repository has no more stargazers that you follow.
        <% end %>
      <% end %>
      <div class="paginate-container">
        <%= simple_paginate @stargazers_you_know %>
      </div>
    <% else %>
      <%= render Primer::BlankslateComponent.new(
        icon: "star",
        title: current_repository.starred_by?(current_user) ? "No one you follow has starred this repository yet." : "Be the first of your friends to star this repository.",
      ) do %>
        <p><a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/about-stars">Learn more about how starring works on GitHub.</a></p>
      <% end %>
    <% end %>
  </div>
<% end %>
