<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
  container_xl: true,
  title: "Watchers · #{current_repository.name_with_display_owner}" %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4" id="repos">
    <%= render(Primer::Beta::Subhead.new) do |component| %>
      <% component.with_heading(tag: :h2) do %>
        Watchers
      <% end %>
    <% end %>

    <% if @watchers_response.failed? %>
      <%= render Primer::BlankslateComponent.new(
        icon: "eye",
        title: "The list of watchers is not available.",
      ) do %>
        <p>
          <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/watching-repositories">Learn more about how watching repositories works on GitHub</a>.
        </p>
      <% end %>
    <% elsif @watchers.any? %>
      <ol class="d-block d-md-flex flex-wrap gutter list-style-none">
        <% @watchers.each do |watcher| %>
          <%= render :partial => "users/follow_list", :object => watcher %>
        <% end %>
      </ol>

      <div class="paginate-container">
        <%= will_paginate @watchers, "data-pjax" => true %>
      </div>
    <% elsif @watchers.current_page > 1 %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_visual_icon(icon: "eye") %>

        <% c.with_heading(tag: :h2) do %>
          This repository has no more watchers.
        <% end %>
      <% end %>

      <div class="paginate-container">
        <%= will_paginate @watchers, "data-pjax" => true %>
      </div>
    <% else %>
      <%= render Primer::BlankslateComponent.new(
        icon: "eye",
        title: "No one’s watching this repository yet. You could be the first.",
      ) do %>
        <p>
          <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/watching-repositories">Learn more about how watching repositories works on GitHub</a>.
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
