<div class="js-u2f-registration width-full">
  <div class="u2f-registration d-flex flex-justify-between flex-items-center">
    <div>
      <span data-test-id="security-key-nickname"><%= registration.nickname %></span>
      <span class="note">
        &mdash; Registered on <time datetime="<%= registration.created_at.utc.iso8601 %>"><%= registration.created_at.strftime("%b %-d, %Y") %></time>
        | Last used
        <% if registration.get_last_used_at > 1.hour.ago %>
          less than an hour ago
        <% else %>
          <time datetime="<%= registration.get_last_used_at.utc.iso8601 %>"><%= time_ago_in_words_js(registration.get_last_used_at)%></time>
        <% end %>
      </span>
      <% if registration.is_passkey_registration? %>
        <p class="text-small color-fg-muted mt-1 mb-0">
          <%= render(Primer::Beta::Octicon.new(icon: "info")) %>
          You registered this as a passkey while enrolled in the feature preview.
        </p>
      <% end %>
    </div>
    <div class="d-inline-block">
      <% if current_user.passkeys_enabled? && registration.user_verifying %>
        <%= render(Primer::Beta::Button.new(
          tag: :a,
          href: trusted_device_upgrade_prompt_path(registration.id),
          p: 2,
          mr: 2,
          title: "Upgrade `#{registration.nickname}` to passkey",
          "data-close-dialog-id": "upgrade-security-key-#{registration.id}",
          "aria-label": "Upgrade `#{registration.nickname}` to passkey"
        )) { render Primer::Beta::Octicon.new(icon: "arrow-up", size: :small, color: :accent) } %>
      <% end %>
      <%= form_tag u2f_destroy_path(registration), :method => :delete,
       :class => "float-right js-u2f-registration-delete", data: { sudo_required: true } do %>
        <%= render(Primer::Alpha::Dialog.new(
          title: "Delete confirmation",
          "aria-label": "Confirm delete of `#{registration.nickname}` security key",
          id: "delete-security-key-#{registration.id}",
          )) do |d| %>
            <% d.with_show_button(
              scheme: :danger,
              p: 2,
              mr: 2,
              title: "Delete `#{registration.nickname}` security key",
              classes: "js-u2f-registration-delete-button",
              "data-disable-with": "Deleting…",
            ) do |sb| %>
              <% sb.with_tooltip(text: "Delete `#{registration.nickname}` security key") %>
              <%= render(Primer::Beta::Octicon.new(icon: :trash, size: :small)) %>
            <% end %>
            <% d.with_body do %>
              <p id="security-key-delete-description" role="alert">Are you sure you want to delete your `<%= registration.nickname %>` security key?</p>
            <% end %>
            <% d.with_footer do %>
              <%= render(Primer::Beta::Button.new(
                "data-close-dialog-id": "delete-security-key-#{registration.id}",
                "aria-label": "Cancel `#{registration.nickname}` security key delete"
              )) { "Cancel" } %>
              <%= render(Primer::Beta::Button.new(
                type: :submit,
                scheme: :danger,
                "data-close-dialog-id": "delete-security-key-#{registration.id}",
                "aria-describedby": "security-key-delete-description",
                "aria-label": "Confirm delete `#{registration.nickname}` security key"
              )) { "Delete" } %>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
  <hr class="my-2 mr-2">
</div>
