<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="new-u2f-registration js-new-u2f-registration mt-3">
  <%= render Primer::ButtonComponent.new(classes: "add-u2f-registration-link js-add-u2f-registration-link") do %>Register new security key<% end %>
  <%= form_tag u2f_create_path, class: "add-u2f-registration-form js-add-u2f-registration-form", "data-webauthn-register-request" => webauthn_register_request(webauthn_reason: :security_key_registration).to_json do %>
    <%= hidden_field_tag "page_view", page_view %>
    <input type="hidden" name="response">
    <div class="input-group">
      <input type="text"
          name="nickname"
          class="form-control js-u2f-registration-nickname-field"
          maxlength="44"
          placeholder="Enter a nickname for this security key"
          aria-label="Enter a nickname for this security key"
          required>
      <span class="input-group-button">
        <%= render Primer::ButtonComponent.new(type: :submit, "data-disable-invalid": "") do %>Add<% end %>
      </span>
    </div>
  <% end %>

  <div class="webauthn-request-interaction blankslate p-2">
    <%= render(Primer::Beta::Spinner.new(size: :small, vertical_align: :middle, mr: 2)) %>
    Waiting for input from browser interaction...
  </div>
  <div role="alert" class="webauthn-request-error blankslate p-1 js-webauthn-message js-webauthn-registration-error">
    <%= render(Primer::Beta::Octicon.new(icon: "alert", size: :small, vertical_align: :middle, mr: 2, mb: 1)) %>
    <span class="js-webauthn-registration-error-message">Security key registration failed.</span>
    <span class="js-webauthn-message js-webauthn-duplicate-registration-message" hidden>
      This security key has already been registered.
    </span>
    <span class="js-webauthn-registration-error-message-info d-block"></span>
    <%= render Primer::ButtonComponent.new(classes: "js-add-u2f-registration-retry", mt: 2) do %>Try again<% end %>
  </div>
</div>
