<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter FlashMigrationCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= form_tag settings_user_2fa_add_backup_path, class: "js-two-factor-set-sms-fallback" do %>
  <div class="js-configure-sms-fallback">
    <div class="flash flash-full flash-warn" hidden></div>
    <div class="Box-body">
      <p>
        Please note that SMS deliverability is only available in
        <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/countries-where-sms-authentication-is-supported#supported-countries-for-sms-authentication" target="_blank" rel="noopener noreferrer">certain countries and regions</a>.
      </p>
      <dl class="form-group">
        <dt><label for="countrycode">Country or region code</label></dt>
        <dd>
          <select class="form-select input-block" autocomplete="tel-country-code" name="countrycode" id="countrycode">
            <option value="+1">United States +1</option>
            <% sms_backup_country_code = backup_country_code(current_user)%>
            <% sms_supported_countries(sms_backup_country_code).each do |code, name| %>
              <option value="<%= code %>" <%= 'selected' if sms_backup_country_code == code %> ><%= name + " " + code.to_s %></option>
            <% end %>
          </select>
        </dd>
      </dl>
      <dl class="form-group">
        <dt><label for="number">Phone number</label></dt>
        <dd>
          <input class="form-control" type="text" name="number" id="number" value="<%= backup_national_number(current_user) %>" placeholder="2345556789" autocomplete="tel-national" required>
        </dd>
      </dl>
    </div>
    <div class="Box-footer">
      <button type="submit" data-disable-with="Setting fallback…" class="btn btn-block primary" <%= "disabled" if current_user.employee? %>>
        Set fallback
      </button>
    </div>
  </div>

  <div class="js-verify-sms-fallback" hidden>
    <div class="flash flash-full flash-warn" hidden></div>
    <div class="Box-body">
      <dl class="form-group">
        <dt><label for="otp">Verification code</label></dt>
        <dd>
          <input type="text" name="otp" id="otp" class="form-control js-fallback-otp js-verification-code-input-auto-submit" placeholder="<%= Rails.env.development? ? 'search rails logs for `SMS fallback setup code`' : 'XXXXXX' %>">
          <p class="note">We sent a verification code to your phone.</p>
        </dd>
      </dl>
    </div>
    <div class="Box-footer">
      <%= render Primer::ButtonComponent.new(type: :submit, "data-disable-with": "Verifying…", block: true, scheme: :primary) do %>
        Verify
      <% end %>
    </div>
  </div>
<% end %>
