<%# erblint:counter DeprecatedComponentsCounter 6 %>
<div data-filterable-for="repository-owner-filter-field">
  <%= render GitHub::DialogComponent.new(
    title: "Confirm unwatching all repositories",
    aria_described_by: "unwatch-all",
  ) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <%= render Primer::ButtonComponent.new(
        scheme: :link,
        tag: :summary,
        classes: "SelectMenu-item",
        style: "width: 100%",
      ) do %>
        All repositories
      <% end %>
    <% end %>

    <% dialog.with_body do %>
      <p class="f5" id="unwatch-all">
        You will stop receiving notifications for all repositories that you are watching.
      </p>
    <% end %>

    <% dialog.with_footer do %>
      <%= form_tag unwatch_all_path do %>
        <input type="hidden" name="subscription_type" value="<%= subscription_type %>">

        <div class="float-right">
          <%= render Primer::ButtonComponent.new(type: :button, "data-close-dialog": true, "aria-label": "Close dialog") do %>
            Cancel
          <% end %>
          <%= render Primer::ButtonComponent.new(
            scheme: :danger,
            type: :submit,
            autofocus: true,
            ml: 1,
            data: {
              **analytics_click_attributes(
                category: "Unwatch all",
                action: "click unwatch all repositories",
                label: "subscription_type:#{subscription_type}",
              )
            },
          ) do %>
            Unwatch
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% repo_owners_with_counts.each do |(repo_owner)| %>
    <% description_element_id = "unwatch-#{repo_owner.id}" %>
    <%= render GitHub::DialogComponent.new(
      title: "Confirm unwatching #{repo_owner.name}'s repositories",
      aria_described_by: description_element_id,
    ) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
      <% dialog.with_summary do %>
        <%= render Primer::ButtonComponent.new(
          scheme: :link,
          tag: :summary,
          classes: "SelectMenu-item",
          style: "width: 100%",
        ) do %>
          <%= avatar_for(repo_owner, 20, class: "mr-2") %>
          <div class="ws-normal">
            <span class="text-bold mr-1"><%= repo_owner.display_login %></span><%= repo_owner.profile_name %>
          </div>
        <% end %>
      <% end %>

      <% dialog.with_body do %>
        <p class="f5" id="<%= description_element_id %>">
          You will stop receiving notifications for all repositories owned by <%= repo_owner.name %> that you are watching.
        </p>
      <% end %>

      <% dialog.with_footer do %>
        <%= form_tag unwatch_all_path do %>
          <input type="hidden" name="owner_id" value="<%= repo_owner.id %>">
          <input type="hidden" name="subscription_type" value="<%= subscription_type %>">

          <div class="float-right">
            <%= render Primer::ButtonComponent.new(type: :button, "data-close-dialog": true, "aria-label": "Close dialog") do %>
              Cancel
            <% end %>
            <%= render Primer::ButtonComponent.new(
              scheme: :danger,
              type: :submit,
              autofocus: true,
              ml: 1,
              data: {
                **analytics_click_attributes(
                  category: "Unwatch all",
                  action: "click unwatch #{repo_owner.name}'s repositories",
                  label: "owner:#{repo_owner.display_login};subscription_type:#{subscription_type}",
                )
              },
            ) do %>
              Unwatch
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
