<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box mb-md-4 mb-3">
  <div class="Box-header d-flex py-2">
    <div class="Box-title flex-auto">
      <%= subscription_type.to_s.humanize(capitalize: true) %>
      <%= render Primer::Beta::Counter.new(count: total_repository_count) %>
    </div>

    <% if total_repository_count > NotificationsController::UNWATCH_ALL_LIMIT %>
      <details id="owner-unsubscribe-select-menu" class="details-reset details-overlay f5 position-relative select-menu hx_rsm">
        <%= render Primer::ButtonComponent.new(
          variant: :small,
          scheme: :danger,
          tag: :summary,
        ) do %>
          <span data-menu-button>
            <span>
              <%= render Primer::Beta::Octicon.new(icon: "eye") %>
              Unwatch all
            </span>
            <span class="dropdown-caret"></span>
          </span>
        <% end %>

        <div class="SelectMenu SelectMenu--hasFilter right-0">
          <div
            class="SelectMenu-modal position-absolute right-0 hx_rsm-modal overflow-y-scroll"
            role="menu"
            style="z-index: 99; overflow: visible;">
            <header class="SelectMenu-header">
              <h3 class="SelectMenu-title">Unwatch repositories by owner</h3>
              <%= render Primer::Beta::CloseButton.new(classes: "btn-link", "data-toggle-for": "owner-unsubscribe-select-menu", "aria-label": "Close menu") %>
            </header>

            <div class="SelectMenu-filter">
              <input
                <%= safe_analytics_click_attributes(
                  category: "Unwatch all",
                  action: "click select menu filter",
                  label: "user:#{current_user};subscription_type:#{subscription_type}",
                ) %>
                type="text"
                id="repository-owner-filter-field"
                class="SelectMenu-input form-control js-filterable-field"
                placeholder="Find a repository owner"
                aria-label="Find a repository owner"
                autofocus spellcheck="false"
                autocomplete="off">
            </div>

            <include-fragment class="SelectMenu-loading" aria-label="Loading" src="<%= notifications_repo_owners_path(subscription_type: subscription_type) %>">
              <%= render(Primer::Beta::Spinner.new) %>
            </include-fragment>
          </div>
        </div>
      </details>
    <% end %>
  </div>

  <% if subscriptions.present? %>
    <ul class="standalone repo-list">
      <% subscriptions.each do |subscription| %>
        <% repo = subscription.try(:list_object) || subscription %>

        <li class="Box-row py-2 d-flex flex-items-center" <%= test_selector "watched-repository-item" %>>
          <div class="d-flex flex-items-center flex-1">
            <%= primer_octicon(repo.public? ? "repo" : "lock", color: :muted, classes: "repo-icon flex-shrink-0") %>
            <a class="ml-1 wb-break-all pr-lg-0 pr-3" href="<%= repository_path(repo) %>"><%= repo.name_with_display_owner %></a>
          </div>

          <div class="float-right position-relative">
            <%= render(Repositories::NotificationsComponent.new(
              aria_id_prefix: "repo-#{repo.owner.display_login}-#{repo.name}",
              repository: repo,
              button_block: true,
              status: subscription
            )) %>
          </div>
        </li>
      <% end %>
    </ul>

    <% if total_repository_count > NotificationsController::SUBSCRIPTIONS_PER_PAGE %>
      <div class="Box-footer text-center">
        <%= paginate_subscriptions total_repository_count, class: "d-inline-block v-align-middle pagination" %>
      </div>
    <% end %>
  <% end %>
</div>
