<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Watching" %>

<div class="container-lg px-md-3 px-0 pt-md-3 pt-2">

  <%= render(Primer::Beta::Breadcrumbs.new(mt: [2, 2, 0, 0], mx: [3, 3, 0, 0], mb: 3)) do |component| %>
    <% component.with_item(href: global_notifications_path(:all => nil)) do %>Notifications<% end %>
    <% component.with_item(href: request.path) do %><h1 id="notifications-watching" class='text-normal f5'>Watching</h1><% end %>
  <% end %>

  <%= render partial: "notifications/navigation", locals: { selected_tab: "watching" } %>

  <div class="d-flex flex-md-row flex-column gutter-md px-md-0 px-3">
    <div class="col-lg-9 col-md-8 col-12 flex-md-order-1 flex-order-2">
      <div class="notifications-list">
        <%= render partial: "notifications/unwatch_suggestions", locals: { unwatch_suggestions: local_assigns.fetch(:unwatch_suggestions, nil) } %>

        <%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
          classes: "Box mb-1",
          container_classes: "mb-2",
          resource_label: "repositories",
          cap_filter: cap_filter,
          # Enable SAML logging
          logging: current_user&.feature_enabled?(:log_notifications_unauthorized_accounts),
          # Group SAML accounts into unified SAML SSO banner
          group_saml: GitHub.flipper[:notifications_unified_sso_banner].enabled?(current_user),
          # Sort SAML accounts by name
          sort_by_name: GitHub.flipper[:notifications_unified_sso_banner_alphabetical_order].enabled?(current_user),
        )%>

        <% if watching.present? %>
          <%=
            render partial: "notifications/repositories_by_subscription_type", locals: {
              subscription_type: :watching,
              subscriptions: watching,
              total_repository_count: watching_count,
            }
          %>
        <% end %>

        <% if custom.present? %>
          <%=
            render partial: "notifications/repositories_by_subscription_type", locals: {
              subscription_type: :custom,
              subscriptions: custom,
              total_repository_count: custom_count,
            }
          %>
        <% end %>

        <% if ignoring.present? %>
          <%=
            render partial: "notifications/repositories_by_subscription_type", locals: {
              subscription_type: :ignoring,
              subscriptions: ignoring,
              total_repository_count: ignoring_count,
            }
          %>
        <% end %>

        <% if [watching, custom, ignoring].all?(&:empty?) %>
          <%= render Primer::BlankslateComponent.new(
            icon: "eye",
            title: (subscriptions_page > 1 ? "There are no more repositories that you’re watching." : "You’re not watching any repositories.")
          ) do %>
            <p><a class="Link--inTextBlock" href="/explore">Explore repositories</a> and watch the ones you’re interested.</p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-12 flex-md-order-2 flex-order-1 mb-md-0 mb-3">
      <h2>Notification settings</h2>
      <p>You can change how you receive notifications from your account settings.</p>
      <p><%= link_to "Change notification settings", settings_notification_preferences_path, class: "btn" %></p>
    </div>
  </div>
</div>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "notifications" %>
<% end %>
