<%
  page_info(
    title: "Create an invoice · #{this_organization.safe_profile_name}",
    breadcrumb: "Invoices",
    breadcrumb_owner: this_organization,
    selected_link: :org_sponsoring_invoices,
    stafftools: billing_stafftools_user_path(this_organization),
  )
%>

<div class="p-md-3 width-full">
  <%= render Primer::Beta::Subhead.new do |subhead| %>
    <% subhead.with_heading(tag: :h1, font_size: 3).with_content("Create an invoice") %>
  <% end %>

  <p>You are generating a new invoice for <strong>@<%= this_organization.display_login %></strong>.</p>

  <p>
    The minimum amount to deposit when generating an invoice is
    <%= Billing::Money.new(Customer::SponsorsDependency::MINIMUM_INVOICE_AMOUNT_IN_CENTS).format(
        no_cents_if_whole: true,
        with_currency: true,
    ) %>.
  </p>

  <div class="mt-3">
    <%= primer_form_with(url: org_sponsoring_invoices_path(this_organization)) do |fields| %>
      <%= render Orgs::Sponsorings::NewInvoiceForm.new(
        fields,
        amount_in_dollars: params[:stripe_invoice]&.dig(:amount_in_dollars),
        purchase_order_number: params[:stripe_invoice]&.dig(:purchase_order_number),
      ) %>
    <% end %>
  </div>
</div>
