<%# rubocop:disable Lint/InstanceVariable %>
<% view = Stafftools::AssetsView.new(:asset => @asset) %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Asset metadata</h3>
    <div class="boxed-group-inner clearfix">
      <p><div class="clearfix summary">
        <dl>
          <dt>OID</dt>
          <dd><%= @asset.oid %></dd>
        </dl>
        <dl>
          <dt>Size</dt>
          <dd><%= number_to_human_size @asset.size %></dd>
        </dl>
      <% if @asset.image_dimensions? -%>
        <dl>
          <dt>Image size</dt>
          <dd><%= @asset.width %>x<%= @asset.height %></dd>
        </dl>
      <% end -%>
      </div></p>
    </div>
  </div>

  <div class="boxed-group">
    <h3>Asset References</h3>
    <div class="boxed-group-inner clearfix">
      <p>This lists the models that use this Asset:</p>
      <ul class="boxed-group-list">
      <% view.each_reference_link do |link| -%>
        <li><%= link %></li>
      <% end -%>
      </ul>
    </div>
  </div>
<% end -%>
