<% page_info title: "Organizations · #{this_business.name}", selected_link: :business_organizations %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Organizations<% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_row(display: :flex, test_selector: "member-organizations") do %>
      <span class="flex-auto">
        <%= link_to \
          "Member organizations",
          stafftools_enterprise_organizations_path(this_business) %>
      </span>
      <span>
        <%= number_with_delimiter member_org_count %>
        <%= pluralize_without_number member_org_count, "organization" %>
      </span>
  <% end %>

  <% unless GitHub.single_business_environment? %>
    <% component.with_row(display: :flex, test_selector: "created-invitations") do %>
        <span class="flex-auto">
          <%= link_to \
            "Created organization invitations (pending acceptance)",
            stafftools_enterprise_organization_invitations_path(this_business, status: "created") %>
        </span>
        <span>
          <%= number_with_delimiter created_org_invitation_count %>
          <%= pluralize_without_number created_org_invitation_count, "invitation" %>
        </span>
    <% end %>

    <% component.with_row(display: :flex, test_selector: "accepted-invitations") do %>
        <span class="flex-auto">
          <%= link_to \
            "Accepted organization invitations (pending confirmation)",
            stafftools_enterprise_organization_invitations_path(this_business, status: "accepted") %>
        </span>
        <span>
          <%= number_with_delimiter accepted_org_invitation_count %>
          <%= pluralize_without_number accepted_org_invitation_count, "invitation" %>
        </span>
    <% end %>

    <% component.with_row(display: :flex, test_selector: "confirmed-invitations") do %>
        <span class="flex-auto">
          <%= link_to \
            "Confirmed organization invitations",
            stafftools_enterprise_organization_invitations_path(this_business, status: "confirmed") %>
        </span>
        <span>
          <%= number_with_delimiter confirmed_org_invitation_count %>
          <%= pluralize_without_number confirmed_org_invitation_count, "invitation" %>
        </span>
    <% end %>

    <% component.with_row(display: :flex, test_selector: "initiated-transfers") do %>
        <span class="flex-auto">
          <%= link_to \
            "Initiated organization transfers",
            stafftools_enterprise_organization_transfers_path(this_business, direction: :initiated) %>
        </span>
        <span>
          <%= number_with_delimiter initiated_organization_transfers_count %>
          <%= pluralize_without_number initiated_organization_transfers_count, "transfer" %>
        </span>
    <% end %>

    <% component.with_row(display: :flex, test_selector: "received-transfers") do %>
        <span class="flex-auto">
          <%= link_to \
            "Received organization transfers",
            stafftools_enterprise_organization_transfers_path(this_business, direction: :received) %>
        </span>
        <span>
          <%= number_with_delimiter received_organization_transfers_count %>
          <%= pluralize_without_number received_organization_transfers_count, "transfer" %>
        </span>
    <% end %>

    <% if current_user.feature_enabled?(:soft_delete_organization) %>
      <% component.with_row(display: :flex, test_selector: "member-organizations") do %>
        <span class="flex-auto">
          <%= link_to \
            "Deleted member organizations",
            stafftools_enterprise_deleted_organizations_path(this_business) %>
        </span>
        <span>
          <%= number_with_delimiter deleted_member_org_count %>
          <%= pluralize_without_number deleted_member_org_count, "organization" %>
        </span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
