<div class="branch-action-item-icon completeness-indicator completeness-indicator-error">
  <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
</div>
<div class="h4 status-heading">Required advisory information</div>
<span class="status-meta">We need to know a few more details before we can publish this advisory.</span>

<ul class="merge-status-list list-style-none border-bottom" style="max-height: none;">
  <% if view.missing_affected_versions? %>
    <li class="merge-status-item d-flex flex-items-baseline" <%= test_selector("advisory-missing-affected-versions") %>>
      <div class="merge-status-icon flex-self-center">
        <%= primer_octicon(:x, color: :danger, mx: :auto, display: :block) %>
      </div>
      <div class="d-flex col-10 css-truncate css-truncate-target">
        <strong>Required information missing</strong>
        &nbsp; <span class="color-fg-muted">&mdash; Please edit the advisory and list affected version(s).</span>
      </div>
    </li>
  <% end %>

  <% if view.missing_description? %>
    <li class="merge-status-item d-flex flex-items-baseline" <%= test_selector("advisory-missing-description") %>>
      <div class="merge-status-icon flex-self-center">
        <%= primer_octicon(:x, color: :danger, mx: :auto, display: :block) %>
      </div>
      <div class="d-flex col-10 css-truncate css-truncate-target">
        <strong>Required information missing</strong>
        &nbsp; <span class="color-fg-muted">&mdash; Please edit the advisory and add a description.</span>
      </div>
    </li>
  <% end %>

  <% if view.missing_severity? %>
    <li class="merge-status-item d-flex flex-items-baseline" <%= test_selector("advisory-missing-severity") %>>
      <div class="merge-status-icon flex-self-center">
        <%= primer_octicon(:x, color: :danger, mx: :auto, display: :block) %>
      </div>
      <div class="d-flex col-10 css-truncate css-truncate-target">
        <strong>Required information missing</strong>
        &nbsp; <span class="color-fg-muted">&mdash; Please edit the advisory and add a severity.</span>
      </div>
    </li>
  <% end %>

  <% if view.repository_empty? %>
    <li class="merge-status-item d-flex flex-items-baseline" <%= test_selector("advisory-repo-empty") %>>
      <div class="merge-status-icon flex-self-center">
        <%= primer_octicon(:x, color: :danger, mx: :auto, display: :block) %>
      </div>
      <div class="d-flex col-10 css-truncate css-truncate-target">
        <strong>Required information missing</strong>
        &nbsp; <span class="color-fg-muted">&mdash; The repository cannot be empty.</span>
      </div>
    </li>
  <% end %>

  <% if view.description_matches_template? %>
    <li class="merge-status-item d-flex flex-items-baseline" <%= test_selector("advisory-description-matches-template") %>>
      <div class="merge-status-icon flex-self-center">
        <%= primer_octicon(:x, color: :danger, mx: :auto, display: :block) %>
      </div>
      <div class="d-flex col-10 css-truncate css-truncate-target">
        <strong>Required information missing</strong>
        &nbsp; <span class="color-fg-muted">&mdash; Please include a more complete description.</span>
      </div>
    </li>
  <% end %>
</ul>
