<%= render(Primer::Alpha::Dialog::Body.new) do %>
  <p class="mb-2">
    <strong>Are you sure you want to approve the domain <%= domain.domain %></strong>?
  </p>

  <p>
    Are you sure you want to approve this domain? This will allow
    notifications from GitHub to be sent to users with an email address
    ending in <strong>@<%= domain.domain %></strong>.
  </p>
<% end %>

<%= render(Primer::Alpha::Dialog::Footer.new) do %>
  <%= render(Primer::Beta::Button.new(
    data: {
      "close-dialog-id": "approve-domain-dialog-#{domain.id}"
    }
  )) { "Cancel" } %>
  <%= form_tag(
    owner_domain_path_for_action(action: :approve, owner: domain.owner, domain: domain),
    method: :put
  ) do %>
    <%= render(Primer::Beta::Button.new(
      scheme: :danger,
      type: :submit,
      data: {
        "disable-with": ""
      }
    )) { "Approve #{domain.domain}" } %>
  <% end %>
<% end %>
