<% length = (value.length / 2) + 1 %>

<div class="d-flex flex-items-baseline">
  <div class="input-group my-2" style="max-width: 35rem;">
    <input
      type="text"
      class="form-control input-monospace input-sm color-bg-subtle color-fg-muted"
      style="width: <%= length %>rem;"
      value="<%= value %>"
      aria-label="<%= value %>"
      readonly>
    <div class="input-group-button">
      <%= render(Primer::Beta::ClipboardCopyButton.new(
        aria: { label: "Copy #{desc} to the system clipboard" },
        classes: "rounded-left-0",
        color: :muted,
        id: "clipboard-button",
        size: :small,
        value: value)) %>
    </div>

  </div>
  <div class="ml-1">
    <%= render Primer::Beta::Truncate.new(tag: :span, inline: true).with_content(".#{domain_string_for_challenge}") %>
  </div>
</div>
