<% affected_members = owner.batched_members_without_eligible_email.includes(:profile) %>

<div class="Box-body overflow-auto">
  <p>
    Email notifications <%= owner.restrict_notifications_to_verified_domains? ? "are" : "will be" %> restricted to only
    verified or approved domain emails in this <%= owner.is_a?(Business) ? "enterprise" : "organization" %>.
    The following members will not receive <strong><%= owner.to_param %></strong> email notifications unless they add
    an email address from an eligible domain.
  </p>
  <p class="color-fg-danger mb-0">
    <strong>
      <%= pluralize(members_without_eligible_email_count, "member") %> must add a verified
      or approved domain email to receive email
      notifications<%= " now or in the future" unless owner.restrict_notifications_to_verified_domains? %>:
    </strong>
  </p>
  <ul class="list-style-none overflow-auto flex-auto">
    <% affected_members.each do |member| %>
      <li class="Box-row">
        <%= render GitHub::AvatarComponent.new(actor: member, size: 32) %>
        <span class="ml-1"><%= member.display_login %></span>
        <% if member.profile_name.present? %>
          <span class="ml-1 color-fg-muted text-small text-normal"><%= member.profile_name %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
