<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% owner_type = owner.is_a?(Business) ? "enterprise" : "organization" %>

<div class="mt-3">
  <%= render Primer::Beta::Octicon.new(icon: "eye", color: :accent) %>
  <%= render GitHub::DialogComponent.new(
    title: "#{owner_type.capitalize} members without an eligible domain email",
    details_classes: "d-inline-block") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <summary class="btn-link note color-fg-accent no-underline">
        <% if owner.restrict_notifications_to_verified_domains? %>
          <%= pluralize(members_without_eligible_email_count, "member") %> currently
          <%= members_without_eligible_email_count > 1 ? "do" : "does" %> not receive email notifications
        <% else %>
          View <%= owner_type %> members without an approved or verified domain email
        <% end %>
      </summary>
    <% end %>
    <%= render partial: "verifiable_domains/notification_restrictions_affected_members",
      locals: {
        owner: owner,
        members_without_eligible_email_count: members_without_eligible_email_count
      } %>
  <% end %>
</div>
