<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%= render(Primer::Beta::Flash.new(scheme: :warning, full: true,
  test_selector: "org-notification-restricted-banner")) do %>
  <div class="container"><%# erblint:disable DeprecatedCustomCss %>
    <% has_eligible_email = org.user_has_email_eligible_domain_notification_email?(current_user) %>
    <p>
      <% if has_eligible_email %>
        It looks like you are opted in to receive <strong><%= org.display_login %></strong> email notifications,
        but you have an ineligible email address configured in your notification routing settings.
        In order to receive email notifications for this organization, you'll have to update your organization
        routing settings for <strong><%= org.display_login %></strong> to use an email from one of the following domains:
      <% else %>
        It looks like you are opted in to receive <strong><%= org.display_login %></strong> email notifications,
        but haven't added an email from a verified or approved domain. This organization requires a verified email
        from one of the following domains in order to receive email notifications for organization activity:
      <% end %>
      <ul>
        <% email_eligible_domain_urls = org.email_eligible_domain_urls %>
        <% email_eligible_domain_urls.first(3).each do |domain| %>
          <li class="text-bold ml-3"><%= domain %></li>
        <% end %>
      </ul>
      <% if email_eligible_domain_urls.size > 3 %>
        <div class="Details js-details-container">
          <div class="Details-content--hidden">
            <ul>
              <% email_eligible_domain_urls.drop(3).each do |domain| %>
                <li class="text-bold ml-3"><%= domain %></li>
              <% end %>
            </ul>
          </div>
          <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-details-target", "aria-expanded": "false") do %>
            <span class="Details-content--shown">Show more<%= render Primer::Beta::Octicon.new(icon: "chevron-down", text: :blue, ml: 1) %></span>
            <span class="Details-content--hidden">Show less<%= render Primer::Beta::Octicon.new(icon: "chevron-up", text: :blue, ml: 1) %></span>
          <% end %>
        </div>
      <% end %>
    </p>

    <% if has_eligible_email %>
      <a href="/settings/notifications/custom_routing" class="btn">View notifications settings</a>
    <% else %>
      <a href="<%= settings_email_preferences_path %>" class="btn">Add an email from an eligible domain</a>
    <% end %>
  </div>
<% end %>
