<% page_info verifiable_domains_page_info_hash(domain.owner) %>

<% render_layout = \
  case domain.owner
  when Business
    ->(&blk) {
      render(layout: "businesses/layout", locals: {
        business: this_business,
        container_attributes: "itemscope itemtype='http://schema.org/Business'"
      }, &blk)
    }
  when Organization
    ->(&blk) {
      render(layout: "verifiable_domains/org_layout", &blk)
    }
  end
%>

<%= render_layout.call do %>
  <%= render(Primer::Beta::Breadcrumbs.new) do |component| %>
    <% component.with_item(href: owner_domain_path_for_action(owner: domain.owner)) do %>
      Verified & approved domains
    <% end %>
    <% component.with_item(href: request.path) do %>Verify domain<% end %>
  <% end %>

  <hr class="mt-3">

  <p>
    Before we can verify <strong><%= domain.domain %></strong>, you'll need to complete these steps:
  </p>

  <% if domain.verification_token %>
    <div class="Box p-3 mb-3">
      <div class="d-flex flex-items-center flex-justify-between">
        <h2 class="f4">Add a DNS TXT record</h2>
        <%= render Primer::Beta::ClipboardCopy.new(for: "copyable-domain-verification-steps", "aria-label": "Copy to clipboard", classes: "btn btn-sm") do %>
          Copy verification steps
        <% end %>
      </div>
      <%= render partial: "verifiable_domains/copyable_domain_verification_steps", locals: { domain: domain } %>
      <%= render partial: "verifiable_domains/domain_verification_steps", locals: { domain: domain } %>
    </div>
    <div class="d-flex flex-items-center">
      <%= button_to "Verify",
        owner_domain_path_for_action(action: :verify, owner: domain.owner, domain: domain),
        method: "put", class: "btn btn-primary" %>

      <% unless domain.approved? %>
        <div class="ml-3">
          Can't verify this domain?
          <%= render(Primer::Alpha::Dialog.new(
            id: "approve-domain-dialog-#{domain.id}",
            title: "Confirm approval of #{domain.domain}"
          )) do |d| %>
            <% d.with_show_button(
              scheme: :link,
              display: :inline,
              test_selector: "approve-link",
            ) { "Approve it instead" } %>
            <%= render partial: "verifiable_domains/approve_notice", locals: { domain: domain } %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="Box p-3 mb-3">
      <h3 class="f4">Your verification code has expired</h3>
      <p class="py-2">You'll need to generate a new code and update your DNS record to verify this domain.</p>
      <%= button_to "Regenerate code", owner_domain_path_for_action(action: :regenerate_token, owner: domain.owner, domain: domain), method: "put", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
