<% team_link = team_path(team)%>

<li class="d-flex flex-justify-between flex-items-center border border-top-0 p-3 table-list-item member-list-item js-bulk-actions-item" data-bulk-actions-id="<%= team.id %>">
  <div class="d-flex flex-justify-between flex-items-center flex-1">
    <div class="pr-0 d-flex v-align-middle css-truncate pl-3">
      <div class="d-inline-block flex-column">
        <div class="d-flex f4">
          <% if team_link %>
            <%= link_to team_link, class: "d-inline-block text-bold d-block", id: "team-#{team.id}", data: test_selector_hash("team_name") do %>
              <%= team.name %>
            <% end %>
          <% else %>
            <span class="d-inline-block text-bold"><%= team.name %></span>
          <% end %>
        </div>

        <div class="color-fg-muted">
          <div class="color-fg-muted d-flex" <%= test_selector "external_group_team_members_count" %>>
            <%= number_with_delimiter team.members.count %> <%= pluralize_without_number team.members.count, "member" %>
          </div>
        </div>

        <% if external_group_team.out_of_sync_insufficient_licenses? %>
          <div class="color-fg-attention" <%= test_selector "out_of_sync_insufficient_licenses" %>>
            Out of sync due to insufficient licenses
          </div>
        <% elsif external_group_team.out_of_sync_generic? %>
          <div class="color-fg-attention" <%= test_selector "out_of_sync_generic" %>>
            Out of sync
          </div>
        <% end%>
      </div>
    </div>

    <div class="flex-column flex-items-center v-align-middle css-truncate pl-3">
      <% if team.description %>
        <span><%= team.description %></span>
      <% end %>
    </div>
  </div>

  <% if external_group_team_has_mismatches? %>
    <div <%= test_selector "external_group_team_mismatch_widget" %>>
      <%= render_react_partial name: "external-group-team-mismatch-widget", ssr: false, props: { mismatches: transformed_external_group_team_mismatches_for_frontend, mismatch_list_cap: Businesses::ExternalGroups::ExternalGroupTeamComponent::MISMATCH_LIST_CAP } %>
    </div>
  <% end %>

  <div class="d-flex flex-justify-between flex-items-center">
    <div class="flex-column v-align-middle pl-3">
      <% if team.secret? %>
        <%= render Primer::Beta::Label.new(scheme: :secondary, vertical_align: :middle, title: "Only visible to its members") do %>
          Secret
        <% end %>
      <% end %>
    </div>
  </div>
</li>
