<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "Merge Queue beta signups", selected_link: :merge_queue_beta_signup %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">Merge Queue beta signups</h2>
    <p>The <code>Onboard</code> button is for tracking only; enable the Merge
    Queue for repositories using
    <a class="Link--inTextBlock" href="https://admin.github.com/devtools/feature_flags/merge_queue">the
    <code>merge_queue</code> feature flag</a>.</p>
  </div>

<%= form_tag stafftools_merge_queue_beta_signup_path, method: :get, class: "d-flex mb-3" do %>
  <div class="subnav-search flex-auto d-flex mx-0">
    <input aria-label="Search waitlist orgs/repos&hellip;"
           placeholder="Search waitlist orgs/repos&hellip;"
           autocapitalize="off"
           autocomplete="off"
           class="form-control input-block flex-auto input-lg subnav-search-input"
           spellcheck="false"
           type="text"
           name="query"
           value="<%= params[:query] %>">
    <%= render(Primer::Beta::Octicon.new(:search, classes: "subnav-search-icon")) %>
    <% if params[:query].present? %>
      <%= render Primer::Beta::IconButton.new(
        icon: :x,
        tag: :a,
        href: stafftools_merge_queue_beta_signup_path,
        type: :button,
        aria: {label: "Clear filter"},
        position: :absolute,
        top: false,
        right: false,
        mt: 1,
        mr: 1) %>
    <% end %>
  </div>
  <%= render(Primer::ButtonComponent.new(type: :submit)) { "Search" } %>
<% end %>
  <div>
    <%= total_requests %> Total Requests
    <% if params[:query].present? %>
      — Showing <%= survey_answers.count %>
    <% end %>
  </div>
  <table class="site-admin-table">
    <tr>
      <th>Repository</th>
      <th>Created at</th>
      <th>Requesting User</th>
      <th>Onboarding Status</th>
    </tr>
    <% requests.each do |request| %>
      <%
        organization = request[:organization]
        repository = request[:repository]
        requested_at = request[:requested_at]
        requesting_user = request[:requesting_user]
        early_access_membership = request[:early_access_membership]
      %>
      <tr>
        <td>
          <%= link_to organization, stafftools_user_path(organization) %>
          /
          <%= link_to repository, stafftools_repository_path(organization, repository) %>
        </td>
        <td>
          <%= requested_at %>
        </td>
        <td>
          <%= link_to requesting_user.login, stafftools_user_path(requesting_user.login) %>
        </td>
        <td>
          <% if early_access_membership.feature_enabled? %>
            <%= "Onboarded #{early_access_membership.invitation_sent_at.to_date}" %>
          <% else %>
            <%= form_tag stafftools_merge_queue_beta_signup_add_path, method: :post do %>
              <%= hidden_field_tag :early_access_membership, early_access_membership.id %>
              <%= render(Primer::ButtonComponent.new(type: :submit)) { "Onboard" } %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate survey_answers %>
  </div>
<% end %>
