<%= render Primer::BaseComponent.new(tag: :div, **system_arguments, style: "margin-top: auto;") do %>
  <%= render(Hydro::TrackViewComponent.new(name: "advanced_security_enterprise_sidebar_card_promotion")) %>
  <div class="d-flex flex-items-start flex-column p-3 m-3 border rounded-3" style="gap: 20px;">
    <div>
      <% if eligible_for_self_serve_advanced_security_trial? %>
        <h2 class="h4">Try Advanced Security</h2>
        <p class="color-fg-muted mt-2 mb-0">
          <span class="text-bold">Free for <%= pluralize(trial_length, "day")%>.</span> Help your teams identify and fix security issues by integrating security
          into every step of the developer workflow.
        </p>
      <% else %>
        <h2 class="h4">Buy Advanced Security</h2>
         <p class="color-fg-muted mt-2 mb-0">
          Help your teams identify and fix security issues by integrating security into every step of the developer workflow.
        </p>
      <% end %>
    </div>
    <div class="d-flex flex-items-center" style="gap: 16px;">
      <% if eligible_for_self_serve_advanced_security_trial? %>
        <%= render Primer::Beta::Button.new(
          test_selector: "start-free-trial",
          scheme: :default,
          tag: :a,
          href: enterprise_licensing_path(business, start_advanced_security_trial: true),
          data: analytics_click_attributes(
            category: "advanced_security_self_serve_trial",
            action: "click_to_start_free_trial",
            label: "ref_cta:start_free_trial;location:enterprise_settings_sidebar_card_promotion"
          )
        ).with_content("Start free trial") %>
      <% else %>
        <%= render Primer::Beta::Button.new(
          test_selector: "buy-advanced-security",
          scheme: :default,
          tag: :a,
          href: billing_settings_advanced_security_upgrade_enterprise_path(business),
          data: analytics_click_attributes(
            category: "advanced_security_self_serve_trial",
            action: "click_to_buy_advanced_security",
            label: "ref_cta:buy_advanced_security;location:enterprise_settings_sidebar_card_promotion"
          )
        ).with_content("Buy Advanced Security") %>
      <% end %>
      <%= form_tag enterprise_notice_path(business, notice: notice_name),
        method: :delete,
        class: "js-notice-dismiss" do %>
        <%= render Primer::Beta::Button.new(
          scheme: :link,
          type: :submit,
          data: analytics_click_attributes(
            category: "advanced_security_self_serve_trial",
            action: "click_to_dismiss",
            label: "location:enterprise_settings_sidebar_card_promotion"
          ),
        ).with_content("Dismiss") %>
      <% end %>
    </div>
  </div>
<% end %>
