<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<div class="Box Box-row--yellow color-border-subtle Details js-details-container mb-3" aria-expanded="false" style="background-clip: border-box;">
  <div class="d-flex flex-justify-between p-3">
    <div>
      <% if view.blocked_contributors.count == 1 %>
        A user you’ve blocked has previously contributed to this repository.
      <% else %>
        <%= view.blocked_contributors.count %> users you’ve blocked have previously contributed to this repository.
      <% end %>
    </div>

    <div>
      <%= render Primer::ButtonComponent.new(scheme: :link, classes: "Link--secondary js-details-target", "aria-label": "Show or hide blocked contributors", "aria-expanded": "true") do %>
        <span class="Details-content--shown">Expand<%= primer_octicon(:"chevron-down", ml: 1) %></span>
        <span class="Details-content--hidden">Collapse<%= primer_octicon(:"chevron-up", ml: 1) %></span>
      <% end %>
    </div>
  </div>

  <div class="d-flex px-3 pb-3 text-small Details-content--hidden">
    <% view.blocked_contributors.take(Files::OverviewView::NUMBER_OF_BLOCKED_CONTRIBUTORS_TO_SHOW).each do |contributor| %>
      <a class="d-block mr-3 Link--primary" href="/<%= "#{current_repository.name_with_display_owner}/commits?author=#{contributor.display_login}" %>">
        <%= avatar_for contributor, 20, class: "avatar mr-1" %><strong><%= contributor.name %></strong>
      </a>
    <% end %>
    <% if view.blocked_contributors.size > Files::OverviewView::NUMBER_OF_BLOCKED_CONTRIBUTORS_TO_SHOW %>
      <span class="text-bold tooltipped tooltipped-se" aria-label="<%= view.blocked_contributors[Files::OverviewView::NUMBER_OF_BLOCKED_CONTRIBUTORS_TO_SHOW..-1].map(&:display_login).to_sentence %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
        + <%= view.blocked_contributors.size - Files::OverviewView::NUMBER_OF_BLOCKED_CONTRIBUTORS_TO_SHOW %> more
      </span>
    <% end %>
  </div>

  <div class="Box-row py-2 text-small color-border-subtle Details-content--hidden">
    <%= link_to "Manage blocked users", settings_blocked_users_path, class: "Link--inTextBlock" %> or <%= link_to "disable this warning", settings_blocked_users_path(anchor: "blocked-contributor-warning"), class: "Link--inTextBlock" %>.
  </div>
</div>
