<% find_url = "#{tree_path("", tree_name_for_display, current_repository)}?search=1" %>
<%= link_to find_url,
  class: class_names(
    "btn ml-2",
    "d-none d-md-block" => logged_in?
  ),
  data: find_file_data_attributes(current_repository) do %>
  Go to file
<% end %>

<% if logged_in? %>
  <%
      dropdown_view = create_view_model(Files::NewFileActionView, {
        :repo => current_repository,
        :tree_name => tree_name_for_display
      })
    %>
  <%= render Primer::Beta::Details.new(overlay: :default, reset: true, position: :relative, display: dropdown_view.new_file_action_enabled? ? :block : [:block, nil, :none]) do |component| %>
    <% component.with_summary(button: true, ml: 2) do %>
      <span class="d-none d-md-flex flex-items-center">
        Add file
        <span class="dropdown-caret ml-1"></span>
      </span>
      <span class="d-inline-block d-md-none">
        <%= render Primer::Beta::Octicon.new(icon: "kebab-horizontal", "aria-label": "More options") %>
      </span>
    <% end %>
    <% component.with_body do %>
      <ul class="dropdown-menu dropdown-menu-sw">
        <li class="d-block d-md-none">
          <%= link_to find_url,
            class: "dropdown-item",
            data: find_file_data_attributes(current_repository) do %>
            Go to file
          <% end %>
        </li>
        <% if dropdown_view.new_file_action_enabled? %>
          <li class="d-block d-md-none dropdown-divider" role="none"></li>
          <%= render "files/new_file_button" %>
          <%= render "files/upload_files_button" %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
