<div>
  <% if Codespaces::Survey.show_survey_prompt_for_user_repository_page?(current_user, current_repository) %>
    <div class="clearfix mb-3 mt-3">
      <%= render_react_partial name: "codespaces-survey", ssr: true, props: {
        surveyLink: Codespaces::Survey.survey_url(current_user),
        surveyOpenCallbackPath: codespaces_survey_open_path,
        surveyDismissCallbackPath: codespaces_survey_dismiss_path
      } %>
    </div>
  <% end %>

  <%= render partial: "commit/spoofed_commit_warning" %>
  <%= include_cached_fragment(cache_key: spoofed_commit_check_cache_key(commit),
                              src: spoofed_commit_check_path(commit),
                              'data-test-selector': "spoofed-commit-check") {} %>

  <% if view.blocked_contributors.any? %>
    <%= render partial: "files/blocked_contributors", locals: { view: view } %>
  <% end %>
  <%= render(Primer::Alpha::Layout.new(first_in_source: :main, stacking_breakpoint: :md, style: "max-width: 100%", classes: "react-repos-overview-margin" )) do |component| %>
    <% component.with_sidebar(col_placement: :end, row_placement: :end) do %>
      <%= render(Repositories::ConfigurationRepositoryCallToActionComponent.new(
        user: current_user,
        repository: current_repository,
        tree_name: tree_name_for_display)) %>

      <div class="BorderGrid about-margin" data-pjax>
        <div class="BorderGrid-row">
          <div class="BorderGrid-cell">
            <%= render partial: "files/sidebar/about", locals: { view: view, commit: commit } %>
          </div>
        </div>

        <%= render_nothing_on_error do %>
          <% if view.releases_sidebar_section_enabled? %>
            <div class="BorderGrid-row">
              <div class="BorderGrid-cell">
                <%= render partial: "files/sidebar/releases", locals: { view: view } %>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= render_nothing_on_error do %>
          <% if current_repository.show_sponsor_button? %>
            <div class="BorderGrid-row">
              <div class="BorderGrid-cell">
                <%= render partial: "files/sidebar/sponsors", locals: { view: view } %>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= render_nothing_on_error do %>
          <% if view.show_packages_sidebar? %>
            <div class="BorderGrid-row">
              <div class="BorderGrid-cell">
                <%= render partial: "files/sidebar/packages", locals: { view: view } %>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= render_nothing_on_error do %>
          <% if view.show_used_by_sidebar? && !hide_used_by_section? %>
            <div class="BorderGrid-row" <%= "hidden" if read_fragment(used_by_sidebar_cache_key).nil? %>>
              <div class="BorderGrid-cell">
                <%= render partial: "files/sidebar/used_by" %>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= render_nothing_on_error do %>
          <% if view.contributor_count > 1 %>
            <div class="BorderGrid-row">
              <div class="BorderGrid-cell">
                <%= render partial: "files/sidebar/contributors", locals: { count: view.contributor_count } %>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= render_nothing_on_error do %>
          <% if view.show_environments_sidebar? %>
            <div class="BorderGrid-row">
              <div class="BorderGrid-cell">
                <%= render partial: "files/sidebar/deployments", locals: { environments: current_repository.ranked_active_deployment_environments } %>
            </div>
            </div>
          <% end %>
        <% end %>

        <%= render_nothing_on_error do %>
          <% if view.show_languages? %>
            <div class="BorderGrid-row">
              <div class="BorderGrid-cell">
                <%= render partial: "files/sidebar/languages", locals: { view: view } %>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= render_nothing_on_error do %>
          <% if logged_in? %>
            <% track_render_partial(
              "repositories/suggested_workflows_component",
              trace: true,
            ) do %>
              <%= render Repositories::SuggestedWorkflowsComponent.new(
                repository: current_repository,
                user: current_user,
                branch_or_tag_name: current_branch_or_tag_name
              ) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% component.with_main do %>
      <%= render_react_partial name: "repos-overview", props: { initialPayload: payload, appPayload: app_payload }, ssr: user_or_global_feature_enabled?(:react_overview_ssr) || GitHub.flipper[:react_overview_ssr].enabled?(current_repository) %>
      <%# TODO remove this once we can get csrf tokens from the app payload %>
      <%= csrf_hidden_input_for codespaces_path, method: :post, id: "react-codespace-csrf" %>
    <% end %>
  <% end %>
</div>
