<div class="d-lg-flex mb-6" <%= test_selector("org-upgrade-onboarding-getting-started") %>>
  <div class="col-md-12 mt-4" style="z-index: 1; max-width: 1024px;">

    <h3 class="h4 color-fg-muted mt-2">
      Let's start with the basics
    </h3>
    <%= render partial: "businesses/onboarding_tasks/getting_started", locals: { this_business: this_business } %>

    <div class="mt-4 mb-4">
      <h3 class="h4 color-fg-muted lh-condensed mt-4" <%= test_selector "how-to-guide" %>>How-to guide</h3>
      <ul class="list-style-none">
        <li class="mb-2 mt-2">
          <%= render Primer::Beta::Link.new(
            href: "#{GitHub.help_url}/enterprise-cloud@latest/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/about-github-actions-for-enterprises",
            underline: false,
            mb: 3,
            data: analytics_click_attributes(
              category: "org_to_enterprise_onboarding",
              action: "click_github_actions_for_enterprises",
              label: "ref_cta:github_actions_for_enterprises;location:enterprise_onboarding"
            )
          ) do %>
            <%= render(Primer::Beta::Octicon.new(icon: "link-external", color: :accent, mr: 2)) %>
            <span>GitHub Actions for enterprises</span>
          <% end %>
        </li>

        <li class="mb-2">
          <%= render Primer::Beta::Link.new(
            href: "#{GitHub.help_url}/enterprise-cloud@latest/admin/code-security",
            underline: false,
            mb: 3,
            data: analytics_click_attributes(
              category: "org_to_enterprise_onboarding",
              action: "click_manage_code_security",
              label: "ref_cta:manage_code_security;location:enterprise_onboarding"
            )
          ) do %>
            <%= render(Primer::Beta::Octicon.new(icon: "link-external", color: :accent, mr: 2)) %>
            <span>Manage code security</span>
          <% end %>
        </li>

        <li class="mb-2">
          <%= render Primer::Beta::Link.new(
            href:  "#{GitHub.help_url}/enterprise-cloud@latest/admin/monitoring-activity-in-your-enterprise",
            underline: false,
            mb: 3,
            data: analytics_click_attributes(
              category: "org_to_enterprise_onboarding",
              action: "click_monitor_activity_logs",
              label: "ref_cta:monitor_activity_logs;location:enterprise_onboarding"
            )
          ) do %>
            <%= render(Primer::Beta::Octicon.new(icon: "link-external", color: :accent, mr: 2)) %>
            <span>Monitor activity logs</span>
          <% end %>
        </li>

        <li class="mb-2">
          <%= render Primer::Beta::Link.new(
            href: "#{GitHub.help_url}/enterprise-cloud@latest/admin/policies/enforcing-policies-for-your-enterprise/about-enterprise-policies",
            underline: false,
            mb: 3,
            data: analytics_click_attributes(
              category: "org_to_enterprise_onboarding",
              action: "click_enterprise_policies",
              label: "ref_cta:enterprise_policies;location:enterprise_onboarding"
            )
          ) do %>
            <%= render(Primer::Beta::Octicon.new(icon: "link-external", color: :accent, mr: 2)) %>
            <span>Enterprise policies</span>
          <% end %>
        </li>

        <li class="mb-4">
          <%= render Primer::Beta::Link.new(
            href: "https://resources.github.com/migrations/",
            underline: false,
            mb: 3,
            data: analytics_click_attributes(
              category: "org_to_enterprise_onboarding",
              action: "click_migrate_your_data_to_github",
              label: "ref_cta:migrate_your_data_to_github;location:enterprise_onboarding"
            )
          ) do %>
            <%= render(Primer::Beta::Octicon.new(icon: "link-external", color: :accent, mr: 2)) %>
            <span>Migrate your data to GitHub</span>
          <% end %>
        </li>
      </ul>
    </div>

<%= form_tag enterprise_notice_path(this_business, notice: "org_upgrade_onboarding"),
  method: :delete,
  id: "org_upgrade_onboarding" do %>
  <%= render Primer::Beta::Button.new(
    type: :submit,
    test_selector: "dismiss-onboarding",
    data: analytics_click_attributes(
      category: "org_to_enterprise_onboarding",
      action: "click_dismiss_onboarding",
      label: "ref_cta:dismiss_onboarding;location:enterprise_onboarding"
    ),
  ) do %> Dismiss onboarding <% end %>
<% end %>
