<div class="js-notice">
  <%= form_tag enterprise_notice_path(this_business, notice: BusinessesHelper::TRIAL_ONBOARDING_NOTICE_NAME), method: :delete, id: "dismiss-onboard" do %>
    <button type="submit" class="close-button float-right" aria-label="Hide this notice forever">
    </button>
  <% end %>

  <div class="d-lg-flex mb-6">
    <div class="d-lg-flex flex-column">
      <div class="mt-4">
        <%= render(Primer::Beta::Heading.new(tag: :h3, font_size: 5)) { "Set up your enterprise" } %>
        <%= render partial: "businesses/onboarding_tasks/getting_started", locals: { this_business: this_business} %>
      </div>
      <%= render Businesses::EnterpriseCloudOnboarding::AddOnsComponent.new(
        user: current_user,
        business: this_business,
        mt: 4,
      ) %>
    </div>
  </div>

  <div class="position-relative d-flex flex-row flex-wrap mb-6">
    <div class="d-lg-flex flex-items-center">
      <% unless this_business.trial_conversion_initiated? %>
        <div class="mb-3 mb-lg-0 mr-lg-3">
          <%= render Primer::Beta::Button.new(
              type: :button,
              scheme: :primary,
              tag: :a,
              size: :large,
              href: "#{billing_settings_upgrade_enterprise_path(this_business)}",
              test_selector: "buy-enterprise-button",
              data: {
                **analytics_click_attributes(
                  category: "enterprise_trial_account",
                  action: "buy_enterprise",
                  label: "enterprise_id:#{this_business.id};location:onboarding_tasks;content:#{buy_enterprise_flavor(short: true).parameterize.underscore}")
              },
            ).with_content(buy_enterprise_flavor(short: true)) %>
        </div>
      <% end %>
      <div class="mb-3 mb-lg-0 mr-lg-3">
        <%= render Primer::Beta::Button.new(
          type: :button,
          tag: :a,
          mr: 3,
          href: "#{enterprise_contact_requests_url}?utm_source=github&utm_medium=site&utm_campaign=enterprise_cloud_trial_banner_cta",
          size: :large,
          data: {
            **analytics_click_attributes(
              category: "enterprise_trial_account",
              action: "talk_to_us",
              label: "enterprise_id:#{this_business.id};location:getting_started_page"),
          }
        ) do %>
          Talk to us
        <% end %>
      </div>
      <div class="mb-3 mb-lg-0 mr-lg-3" <%= test_selector "self-guided-trial-link" %>>
        <%= render Primer::Beta::Button.new(
          scheme: :link,
          type: :submit,
          classes: "Link--secondary",
          form: "dismiss-onboard",
          size: :small,
          data: {
            **analytics_click_attributes(
              category: "enterprise_trial_account",
              action: "dismiss_suggested_tasks",
              label: "enterprise_id:#{this_business.id}")
          }
        ) do %>
          I'll continue the trial on my own
        <% end %>
      </div>
    </div>
  </div>
</div>
