<%# erblint:counter DeprecatedComponentsCounter 1 %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Actions sharing workflow access<% end %>
<% end %>
<%= form_tag change_actions_package_sharing_policy_path, method: :put do %>
  <p>
    Control how this Action Package is used by GitHub Actions workflows in other repositories.
    <% if internal? %>
      <% url = "#{GitHub.actions_manage_repo_settings_help_url(ghec_exclusive: true)}#allowing-access-to-components-in-an-internal-repository" %>
    <% else %>
      <% url = "#{GitHub.actions_manage_repo_settings_help_url(ghec_exclusive: business_name.present?)}#allowing-access-to-components-in-a-private-repository" %>
    <% end %>
    <%= link_to "Learn more about allowing other repositories to access to Actions components in this repository.", url, class: "Link--inTextBlock" %>
  </p>
  <% actions_package_sharing_policy_options.each do |option| %>
    <div class="form-checkbox">
      <label>
        <input
          type="radio"
          name="actions_package_share_policy"
          value="<%= option[:value] %>"
          <% if effective_policy == option[:value] %>checked<% end %>>
        <%= option[:text] %>
        <p class="note">
          <%= option[:description] %>
        </p>
      </label>
    </div>
  <% end %>
  <%= render(Primer::ButtonComponent.new(type: :submit, ml: 3, "aria-label": "Save access setting")) { "Save" } %>
<% end %>
