<div class="col-5 float-left color-bg-subtle border-left p-3">
  <p class="text-bold mb-2">Preview</p>
  <div class="border d-flex mt-2 rounded-2 color-bg-default">
    <div class="p-3">
      <div style ="background-color: <%= metadata_file_values[:color] || '#'+action.color %>" class="CircleBadge CircleBadge--small">
        <%= action_icon(name: metadata_file_values[:name], icon_name: metadata_file_values[:icon_name] || action.icon_name, color: metadata_file_values[:icon_color] || action.icon_color , owner: action_owner) %>
      </div>
    </div>
    <div class="pt-3 pr-3 pb-3">
      <% if metadata_file_values[:name] %>
        <h3 class="h4 mb-1"><%= metadata_file_values[:name] %></h3>
      <% else %>
        <h3 class="h4 mb-1 color-fg-muted">Action name will appear here</h3>
      <% end %>

      <p class="color-fg-muted text-small lh-condensed mb-2">By <span class="color-fg-muted"><%= action_owner %></span>
      </p>

      <% if metadata_file_values[:description] %>
        <p class="color-fg-default lh-condensed wb-break-word mb-0"><%= truncate(metadata_file_values[:description], length: 125) %></p>
      <% else %>
        <p class="color-fg-muted lh-condensed wb-break-word mb-0">Description will appear here</p>
      <% end %>
    </div>
  </div>

  <div class="mt-3">
    <% if action_package_listed %>
      <p class="text-small color-fg-muted">To change appearance, update your <a class="Link--inTextBlock" href="<%= file_edit_path(action.repository.owner, action.repository, action.repository.default_branch, metadata_file_name) %>"><%= metadata_file_name %></a> and create a new release. See <a class="Link--inTextBlock" href="https://docs.github.com/actions/creating-actions/metadata-syntax-for-github-actions#branding" target="_blank" rel="noopener noreferrer">available icons and colors</a></p>
    <% else %>
      <p class="text-small">See <a class="Link--inTextBlock" href="https://docs.github.com/actions/creating-actions/metadata-syntax-for-github-actions#branding" target="_blank" rel="noopener noreferrer">available icons and colors</a></p>
    <% end %>
  </div>
</div>
