<%= form_tag update_action_category_contact_email_path(:user_type => action.repository.owner.organization? ? "orgs" : "users", :user_id => action.repository.owner.display_login, :ecosystem => "container", :name => action.repository.name), method: :put, remote: true, "data-turbo-frame": "category-details-frame" do %>
  <turbo-frame id="category-details-frame">
    <div class="form-group mb-0">
      <div class="d-flex flex-items-end" style="gap: 8px">
        <div class="flex-1">
          <div><label for="action-primary-category">Primary Category</label></div>
          <div>
            <select
              id="action-primary-category"
              name="primary_category_id"
              class="form-select col-12 mt-1"
              aria-describedby= "select-categories">
              <option disabled selected value="">Choose an option</option>
              <% regular_categories.each do |category| %>
                <option
                  <% if action_primary_category&.id == category.id %>selected<% end %>
                  value="<%= category.id %>"
                >
                  <%= category.name %>
                </option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="flex-1">
          <div>
            <label for="action-secondary-category">
              Additional Category
            </label>
          </div>
          <div>
            <select
              id="action-secondary-category"
              name="secondary_category_id"
              class="form-select col-12 mt-1"
              aria-describedby= "select-categories">
              <option disabled selected value="">Choose an option</option>
              <% regular_categories.each do |category| %>
                <option
                  <% if action_secondary_category&.id == category.id %>selected<% end %>
                  value="<%= category.id %>"
                >
                  <%= category.name %>
                </option>
              <% end %>
            </select>
          </div>
        </div>
        <% if !show_security_contact_field? %>
          <div class="mt-3 pt-1">
            <%= render Primer::Beta::Button.new("data-disable-with": "Saving", "data-disable-invalid": "", type: :submit, value: "Save", size: :medium) do %>Save<% end %>
          </div>
        <% end %>
      </div>
      <p class="text-small color-fg-muted mb-0 mt-1" id="select-categories">Select the categories that best describe the functionality of your action.</p>
      <% if show_security_contact_field? %>
        <div class="mt-3 pt-1">
          <%= render(Primer::Alpha::TextField.new(name: :contact_email, label: "Contact email", value: security_contact_default_value, full_width: true, auto_check_src: verify_email_format_path(:user_type => "orgs", :user_id => action.repository.owner.display_login, :ecosystem => "container", :name => action.repository.name), aria: { describedby: "contact-email" })) %>
          <p class="text-small color-fg-muted mb-0 mt-1" id="contact-email">Please provide your email in case we need to reach out to you. This will not be displayed publicly. </p>
          <div class="mt-3 pt-1">
            <%= render Primer::Beta::Button.new("data-disable-with": "Saving", "data-disable-invalid": "", type: :submit, value: "Save", size: :medium) do %>Save<% end %>
          </div>
        </div>
      <% end %>
    </div>
  </turbo-frame>
<% end %>
