<% if needs_to_sign_integrator_agreement? %>
  <%= render(PackageSettings::AcceptMarketplaceAgreementComponent.new(integrator_agreement: integrator_agreement, action: @action, repository_org_owner: repository_org_owner))%>
<% else %>
  <p class="mb-3">You can list this action on the GitHub Marketplace as long as you meet the requirements. <a class="Link--inTextBlock" href="https://docs.github.com/actions/creating-actions/publishing-actions-in-github-marketplace" target="_blank" rel="noopener noreferrer">Learn more about listing on Marketplace.</a> </p>
  <div class="form-group border d-flex rounded-2 overflow-hidden">
    <div class="col-7 p-3 ">
      <% requirements_met, total_requirements = action_requirements_met? %>
      <div class="d-flex flex-justify-between flex-items-center">
        <div>
            <p class="text-bold mb-0" id="toggle-list-action">List this action on the GitHub Marketplace</p>
        </div>
        <%= form_tag toggle_list_action_package_path(:user_type => action.repository.owner.organization? ? "orgs" : "users", :user_id => action.repository.owner.display_login, :ecosystem => "container", :name => action.repository.name), method: :post, "data-turbo-frame": "action-details-frame" do %>
          <%= render Primer::Alpha::ToggleSwitch.new(
          csrf_token: csrf_token,
          type: :submit,
          status_label_position: :start,
          size: :small,
          enabled: requirements_met == total_requirements ? true : false ,
          checked: action_package_listed,
          test_selector: "list-on-marketplace-switch",
          aria: { labelledby: "toggle-list-action" }) %>
        <% end %>
      </div>
      <% if requirements_met != total_requirements %>
        <div class="d-flex rounded-2 color-bg-default">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="#CF222E"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ><%# erblint:disable GitHub::Accessibility::SvgHasAccessibleText %>
            <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z" />
            <line x1="12" y1="9" x2="12" y2="13" />
            <line x1="12" y1="17" x2="12" y2="17" />
          </svg>
          <p class="text-small color-fg-danger pl-1 mb-0">Must meet all requirements before listing </p>
        </div>
      <% end %>
      <hr>
      <turbo-frame id="action-details-frame">
        <% if requirements_met == total_requirements && action_package_listed %>
          <%= render(PackageSettings::ActionMarketplaceCategoryComponent.new(action: @action))%>
        <% else %>
          <p class="color-fg-default mb-2"><%= requirements_met %> out of 3 requirements are met:</p>
          <div class="d-flex rounded-2 color-bg-default mb-1">
            <% if readme_file.present? %>
              <%= primer_octicon(:check, color: :success, style: "padding-top: 3px;") %>
            <% else %>
              <%= primer_octicon(:x, color: :muted, style: "padding-top: 3px;") %>
            <% end %>
            <p class="color-fg-default pl-2 mb-0">An existing <span class="text-bold">README </span></p>
          </div>
          <div class="d-flex rounded-2 color-bg-default mb-1">
            <% if name_valid? %>
              <%= primer_octicon(:check, color: :success, style: "padding-top: 3px;") %>
            <% else %>
              <%= primer_octicon(:x, color: :muted, style: "padding-top: 3px;") %>
            <% end %>
            <p class="color-fg-default pl-2 mb-0">Unique action <span class="text-bold">name</span> that doesn’t match an existing category, user or organization name</p>
          </div>
          <div class="d-flex rounded-2 color-bg-default mb-3">
            <% if description_valid? %>
              <%= primer_octicon(:check, color: :success, style: "padding-top: 3px;") %>
            <% else %>
              <%= primer_octicon(:x, color: :muted, style: "padding-top: 3px;") %>
            <% end %>
            <p class="color-fg-default pl-2 mb-0"><span class="text-bold">Description</span> with 125 characters or less</p>
          </div>
          <div class="mt-2">
            <% if readme_file.present? %>
              <p class="text-small color-fg-muted mb-0">Updating the <a class="Link--inTextBlock" href="<%= file_edit_path(action.repository.owner, action.repository, action.repository.default_branch, readme_file.path) %>">README</a> or <a class="Link--inTextBlock" href="<%= file_edit_path(action.repository.owner, action.repository, action.repository.default_branch, metadata_file_name) %>"><%= metadata_file_name %></a> requires a new release to reflect the changes.</p>
            <% else %>
              <p class="text-small">Updating the README or <a class="Link--inTextBlock" href="<%= file_edit_path(action.repository.owner, action.repository, action.repository.default_branch, metadata_file_name) %>"><%= metadata_file_name %></a> requires a new release to reflect the changes.</p>
            <% end %>
          </div>
        <% end %>
      </turbo-frame>
    </div>
    <%= render(PackageSettings::ActionMetadataPreviewComponent.new(action: @action, action_package_listed: action_package_listed))%>
  </div>
<%end%>
