<%= render(Primer::Box.new(display: :flex, justify_content: :center)) do %>
  <% if view.show_admin_notice? %>
    <div <%= test_selector("all-repo-notice")%>><strong><%= person.display_login %></strong> has <strong>admin access to all repositories</strong> that belong to the <%= organization.display_login %> organization because <%= person.display_login %> is an <%= link_to('owner', view.admin_notice_path, class: "Link--inTextBlock") %>.</div>
  <% elsif view.has_all_repo_role_access_through_multiple_teams_assignment? %>
    <div <%= test_selector("all-repo-notice")%>><strong><%= person.display_login %></strong> has <strong>access to all repositories</strong> that belong to the <%= organization.display_login %> organization via <%= link_to(view.all_repo_role_access_through_multiple_teams_assignment_label, view.all_repo_role_access_through_multiple_teams_assignment_path, class: "Link--inTextBlock") %>.</div>
  <% elsif view.has_all_repo_role_access_through_single_team_assignment? %>
    <div <%= test_selector("all-repo-notice")%>><strong><%= person.display_login %></strong> has <strong>access to all repositories</strong> that belong to the <%= organization.display_login %> organization because <%= person.display_login %> is a member of <%= link_to(view.all_repo_role_access_through_single_team_assignment_label, view.all_repo_role_access_through_single_team_assignment_path, class: "Link--inTextBlock") %> team.</div>
  <% elsif view.has_all_repo_role_access_through_direct_assignment? %>
    <div <%= test_selector("all-repo-notice")%>><strong><%= person.display_login %></strong> has <strong>access to all repositories</strong> that belong to the <%= organization.display_login %> organization via <%= link_to('organization role assignment', view.all_repo_role_access_through_direct_assignment_path, class: "Link--inTextBlock") %>.</div>
  <% end %>
<% end %>
