<%= form_tag org_people_convert_to_outside_collaborators_path(current_organization),
  method: :post,
  data: test_selector_hash("convert-to-outside-collaborator-form") do %>
  <%= render(Primer::Alpha::Dialog::Body.new) do %>
    <p>
      Converting members to <%= outside_collaborators_verbiage(current_organization) %> will remove them from this
      organization and from all teams, and if they do not currently have access to any private repositories in the
      organization their seat will be reclaimed.
    </p>
    <p>
      Their repository access will be preserved by making them collaborators on all repositories that their teams
      gave them access to. They will retain access to repositories that they were previously collaborators on, but
      all other access to this organization’s repositories will be lost. If the user does not have access to any
      repositories, they will be removed from the organization.
    </p>
  <% end %>
  <%= render(Primer::Alpha::Dialog::Footer.new(show_divider: true)) do %>
    <input type="hidden" name="member_ids" value="<%= [member_ids].flatten.join(",") %>">
    <%= render(Primer::Beta::Button.new(
      type: :submit,
      scheme: :danger,
      "data-disable-with": ""
    )) do %>
      Convert to <%= outside_collaborators_verbiage(current_organization).singularize %>
    <% end %>
  <% end %>
<% end %>
