<%# `view` is an instance of Orgs::People::EnterpriseOwnersPageView %>

<div class="d-flex flex-items-center px-3 table-list-header table-list-header-next bulk-actions-header
  <% if view.show_admin_stuff? %>
    js-sticky<%
  end %>">

  <span class="table-list-heading ml-0 table-list-header-meta flex-auto" <%= test_selector("member-toolbar-non-admin")%>>
    <%= number_with_delimiter view.owners_count %> enterprise
    <%= "owner".pluralize(view.owners_count) %> in the
    <%= view.organization.business.safe_profile_name %> enterprise
  </span>

  <div class="table-list-header-toggle d-flex py-1">
    <%= render(Primer::Alpha::ActionMenu.new(
      select_variant: :single,
      "data-filter-on": "role",
    )) do |menu| %>
      <% menu.with_show_button(scheme: :invisible) do |button|
        button.with_trailing_action_icon(icon: :"triangle-down")
        "Organization role"
      end %>
      <% menu.with_item(
        label: "Everyone",
        href: url_for(query: ""),
        active: view.role_filter_select_class(:all) == "selected",
        classes: "js-member-search-filter",
        "data-filter": ""
      ) %>
      <% menu.with_item(
        label: "Owners",
        href: url_for(query: "role:owner"),
        active: view.role_filter_select_class(:owner) == "selected",
        classes: "js-member-search-filter",
        "data-filter": "role:owner"
      ) %>
      <% menu.with_item(
        label: "Members",
        href: url_for(query: "role:member"),
        active: view.role_filter_select_class(:member) == "selected",
        classes: "js-member-search-filter",
        "data-filter": "role:member"
      ) %>
      <% menu.with_item(
        label: "Unaffiliated",
        href: url_for(query: "role:unaffiliated"),
        active: view.role_filter_select_class(:unaffiliated) == "selected",
        classes: "js-member-search-filter",
        "data-filter": "role:unaffiliated"
      ) %>
    <% end %>
  </div>
</div>

<% if view.owners_present? && view.show_member_stuff? %>
  <ul class="table-list-bordered<%= " adminable" if view.show_admin_stuff? %>">
    <% view.owners.each do |owner| %>
      <%= render Organizations::People::EnterpriseOwnerComponent.new(
        owner: owner,
        organization: view.organization,
        show_admin_stuff: view.show_admin_stuff?,
      ) %>
    <% end %>
  </ul>
<% end %>

<div class="paginate-container">
  <%= will_paginate view.owners %>
</div>

<% if view.show_no_results? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>

    <% c.with_heading(tag: :h2) do %>
      We couldn’t find any matching owners.
    <% end %>
  <% end %>
<% end %>
