<%# `view` is an instance of Orgs::People::IndexPageView %>
<div class="d-flex flex-items-center px-3 table-list-header table-list-header-next top-0" style="height: 50px;">

  <% unless view.invitations_empty? %>
    <div class="pr-3">
      <input type="checkbox" <%= test_selector "failed-invite-checkbox" %> id="select-all-failed" class="js-failed-invitations-mark-all-checkbox" data-check-all>
    </div>

    <div class="select-all-dropdown js-bulk-actions d-flex" style="align-items: center">
      <%= render "orgs/people/failed_invitation_toolbar_actions", view: create_view_model(
        Orgs::People::FailedInvitationToolbarActionsView,
        organization: view.organization,
        selected_invitations: []
      )%>
    </div>
  <% end %>
</div>

<% if view.show_failed_invitations? %>
  <ul class="table-list <% if view.organization.direct_or_team_member?(current_user) %>table-list-bordered<% end %> <% if view.show_admin_stuff? %>adminable<% end %>">
    <% view.invitations.each do |invitation| %>
      <%= render "orgs/people/failed_invitation", view: create_view_model(
        Orgs::People::FailedInvitationView,
        invitation: invitation,
        organization: view.organization,
      ) %>
    <% end %>
  </ul>

  <div class="paginate-container">
    <%= will_paginate view.invitations %>
  </div>
<% end %>

<% if view.invitations_empty? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "organization") %>

    <% c.with_heading(tag: :h2) do %>
      No failed invitations.
    <% end %>
  <% end %>
<% end %>
