<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# `view` is an instance of Orgs::People::DestroyInvitationsDialogView  %>

<% dialog_action =  view.action_dialog %>

<div class="Box-body overflow-auto">
  <p>The following invitations will be <%= Orgs::People::InvitationsDialogView::CONJUGATED_VERB[dialog_action.to_sym][:past] %>: </p>
  <% if view.scim_invitations? %>
    <p>Some selected invitations were provisioned via SCIM. Changes to SCIM-generated invitations should be triggered from the Identity Provider side.</p>
  <% end %>
  <div class="confirm-removal-list-container mb-0">
    <ul class="list-style-none">
      <% view.selected_invitations.each do |invitation| %>
        <li class="confirm-removal-list-item">
          <% if invitation.invitee %>
            <%= linked_avatar_for(invitation.invitee, 16, img_class: "avatar") %>
            <%= invitation.invitee %>
          <% else %>
            <%= primer_octicon(:mail) %>
            <%= invitation.email %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="Box-footer">
  <% invitations_count = view.selected_invitation_ids.length %>
  <% if dialog_action == "retry" %>
    <%= form_tag org_retry_invitations_path(view.organization) do %>
        <% view.selected_invitations.each do |inv| %>
          <input type="hidden" name=<%= invitation_id_param_name(inv)%> value="<%= inv.id %>">
        <% end %>
        <input type="hidden" name="redirect_to_path" value="<%= view.redirect_to_path %>">
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true) do %> <%=  dialog_action.capitalize %>  <%= "invitation".pluralize(invitations_count) %><% end %>
    <% end %>
  <% else %>
    <%= form_tag org_destroy_invitations_path(view.organization, failed_or_pending_action: Orgs::People::InvitationsDialogView::CONJUGATED_VERB[dialog_action.to_sym][:past]), :method => :delete do %>
        <% view.selected_invitations.each do |inv| %>
          <input type="hidden" name=<%= invitation_id_param_name(inv)%> value="<%= inv.id %>">
        <% end %>
        <input type="hidden" name="redirect_to_path" value="<%= view.redirect_to_path %>">
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true) do %><%= dialog_action.capitalize %> <%= "invitation".pluralize(invitations_count) %><% end %>
    <% end %>
  <% end %>
</div>
