<%# `view` is an instance of Orgs::People::IndexPageView %>
<% only_should_show_guest_collaborators ||= false %>

<% if view.show_toolbar? && view.organization.direct_or_team_member?(current_user) %>
  <div class="d-flex flex-items-center px-3 table-list-header table-list-header-next bulk-actions-header <% if view.show_admin_stuff? %> js-sticky<% end %>">
    <% unless only_should_show_guest_collaborators %>
      <% if view.show_admin_stuff? %>
        <div class="pr-3" <%= test_selector("member-toolbar-select-all")%>>
          <input type="checkbox" id="select-all-checkbox" aria-label="Select all members" data-check-all>
        </div>

        <span data-autosearch-results class="sr-only">
          <%= number_with_delimiter view.members_count %> <%= "person".pluralize(view.members_count) %> in the <%= view.organization.safe_profile_name %> organization
        </span>

        <div class="select-all-dropdown js-bulk-actions flex-auto">
          <%= render "orgs/people/members_toolbar_actions", view: create_view_model(
            Orgs::People::ToolbarActionsView,
            :organization     => view.organization,
            :selected_members => [],
          ) %>
        </div>
      <% else %>
        <span data-autosearch-results class="table-list-heading ml-0 table-list-header-meta flex-auto" <%= test_selector("member-toolbar-non-admin")%>>
          <%= number_with_delimiter view.members_count %> <%= "person".pluralize(view.members_count) %> in the <%= view.organization.safe_profile_name %> organization
        </span>
      <% end %>

      <div class="table-list-header-toggle d-flex py-1">
        <% if view.show_buy_seats_link? %>
          <include-fragment aria-label="Loading..." src="<%= org_licensing_headroom_path(view.organization) %>"></include-fragment>
        <% end %>

        <% if view.show_saml_sso? %>
          <%= render "orgs/people/filter_by_sso", view: view %>
        <% end %>

        <% if view.show_2fa? %>
          <%= render "orgs/people/filter_by_2fa", view: view %>
        <% end %>

        <% if view.show_organization_membership? %>
          <%= render "orgs/people/filter_by_membership", view: view %>
        <% end %>
        <%= render Primer::Alpha::ActionMenu.new(
          "data-filter-on": "role",
          select_variant: :single,
          anchor_align: :end,
          align_self: :center,
          mr: 1,
        ) do |menu| %>
          <% menu.with_show_button(scheme: :invisible) do |button|
              button.with_trailing_action_icon(icon: :"triangle-down")
              "Membership"
          end %>
          <% menu.with_item(
              href:  url_for(query: ""),
              label: "Everyone",
              active: view.role_filter_select_class(:all) == "selected",
              classes: "js-member-search-filter",
              "data-filter": ""
          ) %>
          <% menu.with_item(
            href: url_for(query: "role:owner"),
            label: "Owners",
            active:  view.role_filter_select_class(:owner) == "selected" ,
            classes: "js-member-search-filter",
            "data-filter": "role:owner"
          ) %>
          <% menu.with_item(
            href: url_for(query: "role:member"),
            label: "Members",
            active:  view.role_filter_select_class(:member) == "selected",
            classes: "js-member-search-filter",
            "data-filter": "role:member"
          ) %>
          <% if view.organization&.business&.enterprise_managed_user_enabled? %>
            <% menu.with_item(
              href: url_for(query: "role:guest_collaborator"),
              label: "Guest collaborators",
              active: view.role_filter_select_class(:guest_collaborator) == "selected",
              classes: "js-member-search-filter",
              "data-filter": "role:guest_collaborator"
            ) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<% if view.show_members? %>
  <ul class="<%= "table-list-bordered" if view.organization.direct_or_team_member?(current_user) %>
    <%= view.show_admin_stuff? ? "adminable" : "border-top" %>">
    <% if only_should_show_guest_collaborators %>
      <% view.guest_collaborators.each do |member| %>
        <%= render "orgs/people/member",  view: create_view_model(
          Orgs::People::MemberView,
          member: member,
          organization: view.organization,
        ) , only_should_show_guest_collaborators: true %>
      <% end %>
    <% else %>
      <% view.members.each do |user| %>
        <%= render "orgs/people/member", view: create_view_model(
          Orgs::People::MemberView,
          member: user,
          organization: view.organization,
        ) %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<div class="paginate-container">
  <%= will_paginate view.members %>
</div>

<% if view.show_no_members_for_non_member? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "organization") %>

    <% c.with_heading(tag: :h2) do %>
      This organization has no public members.
    <% end %>
  <% end %>
<% end %>

<% if view.show_no_results? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>

    <% c.with_heading(tag: :h2) do %>
      We couldn’t find any matching members.
    <% end %>
  <% end %>
<% end %>
