<%# `view` is an instance of Orgs::People::MemberView %>

<% only_should_show_guest_collaborators ||= false %>

<li class="d-flex flex-items-center flex-justify-end member-list-item js-bulk-actions-item border border-top-0 <%= "adminable" if view.show_admin_stuff? %>" data-bulk-actions-id="<%= view.member.id %>">
  <% if view.show_admin_stuff? %>
    <div class="py-3 pr-0 pl-3 flex-shrink-0">
      <input type="checkbox" name="members[]" value="<%= view.member %>" aria-labelledby="member-<%= view.member %>" class="js-bulk-actions-toggle"  data-check-all-item>
    </div>
  <% end %>

  <%= render(Organizations::Settings::MemberAvatarAndProfileLinkComponent.new(user: view.member, org: view.organization, show_admin_stuff: view.show_admin_stuff?)) %>

  <%= render GitHub::BatchDeferredContentComponent.new(
    url: org_member_details_path(view.organization),
    inputs: {
      member_id: view.member.id,
      only_should_show_guest_collaborators: only_should_show_guest_collaborators
    }
  ) do %>
    <span class="Skeleton d-inline-block ml-1 Skeleton--text">Loading…</span>
  <% end %>
</li>
