<li class="list-item js-org-list-item" data-login="<%= user.display_login %>">
  <%# only user to org transform uses this %>
  <input type="hidden" class="js-login-field" name="organization[admin_logins][]" value="<%= user.display_login %>" disabled>

  <% unless user == current_user %>
    <%= form_tag destroy_member_for_new_org_path(organization, :member => user.display_login), :method => :delete,
          :class => "js-org-remove-item",
          "data-sudo-required" => "true",
          "data-error-message" => "There was an error removing this member from the organization." do %>
      <%= render Primer::Beta::Button.new(type: :submit, scheme: :link, float: :right, "aria-label": "Remove member") do %>
        <%= primer_octicon(:x) %>
      <% end %>
    <% end %>
  <% end %>

  <%= linked_avatar_for(user, 40, img_class: "avatar", link_class: "team-member-list-avatar") %>

  <div class="team-member-content">
    <span class="team-member-username">
      <%= profile_link(user) %>
    </span>
    <p class="note">
      <%= user.profile_name %>
    </p>
  </div>
</li>
