<%# `view` is an instance of Orgs::People::OutsideCollaboratorsView %>

<% if view.outside_collaborators.total_entries > 0 %>
  <ul class="member-listing">
    <% view.outside_collaborators.each do |outside_collaborator| %>
      <li class="d-flex flex-items-center flex-justify-end border border-top-0 member-list-item js-bulk-actions-item adminable" data-bulk-actions-id="<%= outside_collaborator.id %>">
        <div class="py-3 pr-0 pl-3 flex-shrink-0">
          <input type="checkbox" name="outside_collaborator[]" aria-labelledby="check-<%= outside_collaborator %>" value="<%= outside_collaborator %>" id="outside-collaborator-<%= outside_collaborator %>" class="js-bulk-actions-toggle"  data-check-all-item>
        </div>

        <div class="py-3 pl-3 member-avatar-cell css-truncate flex-shrink-0">
          <a href="<%= org_person_path(view.organization, outside_collaborator) %>">
            <%= avatar_for(outside_collaborator, 48, :class => 'avatar float-left') %>
          </a>
        </div>

        <div class="py-3 css-truncate pl-3 member-info flex-auto">
          <a class="css-truncate-target f4" href="<%= org_person_path(view.organization, outside_collaborator) %>" id="check-<%= outside_collaborator %>">
            <% if outside_collaborator.profile_name.present? %>
              <%= outside_collaborator.profile_name %>
            <% else %>
              <%= outside_collaborator %>
            <% end %>
          </a>
          <% if outside_collaborator.profile_name.present? %>
            <span class="d-block css-truncate-target f5 color-fg-default" itemprop="name"><%= outside_collaborator %></span>
          <% end %>
        </div>

        <%= render GitHub::BatchDeferredContentComponent.new(
          url: org_outside_collaborator_details_path(view.organization),
          inputs: {
            outside_collaborator_id: outside_collaborator.id,
          }
        ) do %>
          <span class="Skeleton d-inline-block ml-1 Skeleton--text">Loading…</span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="paginate-container">
    <%= will_paginate view.outside_collaborators, page_links: view.use_page_links? %>
  </div>
<% elsif view.show_no_results? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>

    <% c.with_heading(tag: :h2) do %>
      We couldn’t find any matching <%= outside_collaborators_verbiage(view.organization) %>.
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No one outside of the organization has access to its repositories.
    <% end %>
  <% end %>
<% end %>
