<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% if selected_outside_collaborators.any? %>
  <details class="details-reset details-overlay select-all-dropdown dropdown" <%= test_selector('outside-collaborators-drop-down')%>>
    <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, mr: 3, "data-ga-click": "Orgs, selected, location:outside collaborator list bulk; text:selected") do %>
      <%= pluralize selected_outside_collaborators.count, "collaborator", "collaborators" %> selected…
      <span class="dropdown-caret"></span>
    <% end %>
    <details-menu class="dropdown-menu dropdown-menu-no-overflow dropdown-menu-se"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <%= render layout: "shared/details_dialog", locals: {
        button_role: "menuitem",
        details_class: "width-full",
        button_class: "menu-item-danger dropdown-item",
        button_text: "Remove from all repositories",
        ga_click: "Orgs, remove from all repositories, location:outside collabs list bulk; text:Remove from all repositories",
        title: "Removing #{pluralize(selected_outside_collaborators.count, "collaborator", "collaborators")} from #{organization.display_login}"
      } do %>
        <%= render :partial => "orgs/people/remove_outside_collaborator_dialog", :locals => {
          :selected_outside_collaborators => selected_outside_collaborators,
          :organization => organization,
          :redirect_to_path => org_outside_collaborators_path(organization)
        } %>
      <% end %>
    </details-menu>
  </details>
<% else %>
  <label for="select-all-checkbox" class="table-list-header-meta" class="none-selected" <%= test_selector('outside-collaborators-not-members-table')%>>
    Select all
  </label>
<% end %>
