<%# `view` is an instance of Orgs::People::PendingInvitationToolbarActionsView %>
<label for="select-all-pending" class="table-list-header-meta py-1 <% if view.selected_invitations.any? %>sr-only<% end %>">
  <span
    class="no-underline color-fg-default"
    <%= test_selector("pending-invitation-toolbar-pending-invites") %>
  >
    <%= pluralize(number_with_delimiter(view.invitations_count), "invitation", "invitations") %>
  </span>
</label>
<% if view.selected_invitations.any? %>
  <%= render(Primer::Alpha::ActionMenu.new(test_selector: "pending-invitations-dropdown")) do |menu| %>
    <% menu.with_show_button(size: :small, mr: 3, "data-ga-click": "Orgs, selected, location:pending invitation list bulk; text:selected") { |button|
      button.with_trailing_action_icon(icon: :"triangle-down"); "#{pluralize(number_with_delimiter(view.selected_invitations.count), "invitation", "invitations")} selected"
    } %>
    <% if view.show_remove_button? %>
      <% menu.with_item(
        scheme: :danger,
        "data-ga-click": "Orgs, remove from organization, location:pending invitation list bulk; text:Cancel invitation",
        "content_arguments": { "data-show-dialog-id": "cancel_selected_invitation_dialog" }
      ) do %>
        Cancel <%= "invitation".pluralize(view.selected_invitations.count) %>
      <% end %>
    <% end %>
  <% end %>

  <% url = org_invitations_action_dialog_path(
    view.organization,
    redirect_to_path: view.redirect_path,
    action_dialog: 'cancel') +
    view.selected_invitation_ids.map { |id| "&organization_invitation_ids[]=#{id}" }.join("") %>
  <%= render(Primer::Alpha::Dialog.new(
      title: "Cancel #{pluralize(number_with_delimiter(view.selected_invitations.count), "invitation", "invitations")} from #{view.organization.display_login}",
    id: "cancel_selected_invitation_dialog"
  )) do |dialog| %>
    <% dialog.with_body do %>
      <include-fragment class="my-3" loading="lazy" src="<%= url %>" aria-label="Loading...">
        <%= render(Primer::Beta::Spinner.new(size: :large, mx: :auto, display: :block)) %>
      </include-fragment>
    <% end %>
  <% end %>
<% end %>
