<%# `view` is an instance of Orgs::People::PendingInvitationsPageView %>
<div
  id="org-pending-invitations-table"
  class="js-check-all-container js-bulk-actions-container"
  data-bulk-actions-url="<%= org_pending_invitation_toolbar_actions_path(view.organization, invitations_count: view.invitations.count) %>"
  data-bulk-actions-parameter="organization_invitation_ids"
  <%= test_selector("pending-invitations-table")%>
>
<div class="d-flex flex-items-center px-3 table-list-header table-list-header-next top-0" style="height: 50px;">

  <% unless view.invitations.empty? %>
    <div class="pr-3">
      <input type="checkbox" id="select-all-pending" <%= test_selector "select-checkbox" %> data-check-all>
    </div>
  <% end %>

  <div class="select-all-dropdown js-bulk-actions flex-auto">
    <%=
      render "orgs/people/pending_invitation_toolbar_actions", view: create_view_model(
        Orgs::People::PendingInvitationToolbarActionsView,
        title: "Pending invitations",
        organization: view.organization,
        selected_invitations: [],
        invitations_count: view.invitations.count
      )
    %>
  </div>

  <%= render(Primer::Alpha::ActionMenu.new(
    select_variant: :single,
    hide: :sm,
    test_selector: "sort-button",
    "data-filter-on": "sort",
  )) do |menu| %>
    <% menu.with_show_button(scheme: :invisible) do |button|
      button.with_trailing_action_icon(icon: :"triangle-down")
      "Sort"
    end %>
    <% menu.with_item(
      label: "Newest",
      href: url_for(query: ""),
      active: view.sort_filter_select_class(:created, :desc) == "selected",
      classes: "js-member-search-filter",
      "data-filter": ""
    ) %>
    <% menu.with_item(
      label: "Oldest",
      href: url_for(query: "sort:created_asc"),
      active: view.sort_filter_select_class(:created, :asc) == "selected",
      classes: "js-member-search-filter",
      "data-filter": "sort:created_asc"
    ) %>
    <% menu.with_item(
      label: "A-Z",
      href: url_for(query: "sort:title_asc"),
      active: view.sort_filter_select_class(:title, :asc) == "selected",
      classes: "js-member-search-filter",
      "data-filter": "sort:title_asc"
    ) %>
    <% menu.with_item(
      label: "Z-A",
      href: url_for(query: "sort:title_desc"),
      active: view.sort_filter_select_class(:title, :desc) == "selected",
      classes: "js-member-search-filter",
      "data-filter": "sort:title_desc"
    ) %>
  <% end %>
</div>

<% if view.show_pending_invitations? %>
  <ul class="<% if view.organization.direct_or_team_member?(current_user) %>table-list-bordered<% end %> <% if view.show_admin_stuff? %>adminable<% end %>">
    <% view.invitations.each do |invitation| %>
      <%=
        render "orgs/people/pending_invitation", view: create_view_model(
          Orgs::People::PendingInvitationView,
          invitation: invitation,
          organization: view.organization,
          direct_or_team_member: view.direct_or_team_member?
        )
      %>
    <% end %>
  </ul>

  <div class="paginate-container">
    <%= will_paginate view.invitations %>
  </div>
<% end %>

<% if view.invitations_empty? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "organization") %>

    <% c.with_heading(tag: :h2) do %>
      No matching invitations.
    <% end %>
  <% end %>
<% end %>
</div>
