<%# `view` is an instance of Orgs::People::PendingInvitationView %>

<li class="d-flex flex-items-center flex-justify-end member-list-item js-bulk-actions-item border border-top-0 <%= "adminable" if view.show_admin_stuff? %>" data-bulk-actions-id="<%= view.invitation.id %>">
  <% if view.show_admin_stuff? %>
    <div class="py-3 pr-0 pl-3 flex-shrink-0">
      <input
        type="checkbox"
        name="organization_invitation_ids[]"
        value="<%= view.identifier %>"
        aria-labelledby="member-<%= view.identifier %>"
        class="js-bulk-actions-toggle"
        data-check-all-item
      >
    </div>
  <% end %>

  <div class="py-3 pl-3 pr-0 text-center flex-shrink-0">
    <% if view.email_invitation? %>
      <div class="d-inline-block">
        <%= primer_octicon(:mail, height: 48) %>
      </div>
    <% else %>
      <%= linked_avatar_for view.member, 48, img_class: "avatar", url: view.member_url %>
    <% end %>
  </div>

  <div class="py-3 css-truncate pl-3 flex-auto">
    <% if view.email_invitation? %>
      <span class="d-block css-truncate-target f5 color-fg-default" id="member-<%= view.email %>" itemprop="name" style="max-width: 220px;"><%= view.name %></span>
    <% else %>
      <%= profile_link view.member, class: "css-truncate-target f4", id: "member-#{view.member}", style: "max-width: 220px;", url: view.member_url do %>
        <%= view.member.safe_profile_name %>
      <% end %>
      <% if view.member.profile_name.present? %>
        <span class="d-block css-truncate-target f5 color-fg-default" itemprop="name" style="max-width: 220px;"><%= view.member.display_login %></span>
      <% end %>
    <% end %>
  </div>

  <% if view.direct_or_team_member? %>
    <div class="text-left color-fg-muted py-3 f5 flex-shrink-0" style="width: 70px">
      <%= view.role_name %>
    </div>
  <% end %>

  <div class="py-3 v-align-middle pl-3 mr-2" style="width: 200px">
    <span> <%= render(Primer::Beta::Octicon.new(:"calendar")) %> Invited on <%= view.invitation.updated_at.strftime("%b %-d, %Y") %> </span>
  </div>

  <div class="py-3 v-align-middle ml-3 mr-2" style="width: 120px">
    <span class="css-truncate css-truncate-target expandable">
      by
      <% if view.invitation.invitation_source == "member" && view.invitation.show_inviter? %>
        <%= render(Primer::Beta::Link.new(href: view.inviter_url, scheme: :primary)) { view.invitation.inviter.display_login } %>
      <% elsif view.invitation.invitation_source == "scim" || view.invitation.external_identity.present? %>
        SCIM
      <% else %>
        <%= view.invitation.invitation_source %>
      <% end %>
    </span>
  </div>

  <% if view.show_admin_stuff? %>
    <span class="d-flex flex-items-center ml-1 mr-2">
      <% edit_url = view.email_invitation? ?
        org_edit_email_invitation_path(view.organization, email: view.email) :
        org_edit_invitation_path(view.organization, view.member.display_login)
      %>
      <%= render(Primer::Alpha::ActionMenu.new(test_selector: "edit-pending-invitation")) do |menu| %>
        <% menu.with_show_button(icon: :"kebab-horizontal", scheme: :invisible, "aria-label": "Edit invitation") %>
        <% menu.with_item(
          tag: :a,
          href: edit_url,
          "data-ga-click": "Orgs, edit invitation, location:pending invite list; text:Edit invitation"
        ) do %>
          Edit invitation
        <% end %>
        <% menu.with_item(
          tag: :button,
          scheme: :danger,
        "data-ga-click": "Orgs, edit invitation, location:pending invite list; text:Cancel invitation",
        content_arguments: { "data-show-dialog-id": "cancel_invitation_dialog-#{view.invitation.id}" }
        ) do %>
          Cancel invitation
        <% end %>
      <% end %>

      <%= render(Primer::Alpha::Dialog.new(
        title: "Cancel invitation from #{view.organization.display_login}",
        id: "cancel_invitation_dialog-#{view.invitation.id}"
      )) do |dialog| %>
        <% dialog.with_body do %>
          <include-fragment class="my-3" loading="lazy" src="<%= org_invitations_action_dialog_path(view.organization,
            "organization_invitation_ids[]": view.invitation.id,
            redirect_to_path: org_pending_invitations_path(view.organization),
            action_dialog: 'cancel') %>" aria-label="Loading...">
            <%= render(Primer::Beta::Spinner.new(size: :large, mx: :auto, display: :block)) %>
          </include-fragment>
        <% end %>
      <% end %>
    </span>
  <% end %>

  <% unless view.direct_or_team_member? %>
    <div class="text-center color-fg-muted py-3 v-align-middle f5 text-right">
      <%= follow_button view.member %>
    </div>
  <% end %>
</li>
