<%# `view` is an instance of Orgs::People::RemoveRepoAccessDialogView %>
<div class="Box-body overflow-auto">
  <% if view.removing_collaborator? %>
    <p>They’ll be <strong>removed as a collaborator</strong> on the repository.</p>
  <% end %>

  <% if view.teams.any? %>
    <p>
      <strong><%= view.person.display_login %></strong> will be removed from <%= pluralize view.teams.size, "team that grants", "teams that grant" %> access to <%= view.repository.name_with_display_owner %><%= '.' unless view.permission_after_revoking %>
      <% if view.permission_after_revoking %>
        and will now have <strong><%= view.permission_after_revoking %> access</strong>.
      <% end %>
    </p>
    <p class="color-fg-danger text-bold"><%= view.person.display_login %> will be removed from <%= pluralize view.teams.size, "team" %></p>
    <div class="confirm-removal-list-container mb-0">
      <ul class="list-style-none">
        <% view.teams.each do |team| %>
          <li class="confirm-removal-list-item confirm-removal-team">
            <%= primer_octicon(:people) %>
            <a href="<%= team_path(team) %>">
              <%= team.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if view.casualties_count > 0 %>
    <p class="color-fg-danger text-bold my-2">
      and will also lose access to <%= pluralize view.casualties_count, "other repository", "other repositories" %>.
    </p>

    <div class="confirm-removal-list-container">
      <ul class="org-repos-mini list-style-none">
        <% view.truncated_casualties.each do |repo| %>
          <li class="confirm-removal-list-item confirm-removal-repo org-repo-mini-item">
            <span class="org-repo-name">
              <%= primer_octicon(repo.repo_type_icon) %>
              <a href="<%= repository_path(repo) %>" itemprop="name codeRepository" class="css-truncate" aria-label="<%= repo.name %>">
                <span class="repo-prefix">
                  <%= repo.owner %>
                  <span class="repo-slash">/</span>
                </span>
                <%= repo.name %>
              </a>
            </span>
          </li>
        <% end %>
      </ul>
    </div>

    <% if view.discarded_casualties_count > 0 %>
      <p>and <%= view.discarded_casualties_count %> more.</p>
    <% end %>
  <% end %>
</div>
<div class="Box-footer">
  <%= button_to "#{view.will_retain_access? ? "Decrease" : "Remove"} access", repository_permissions_path(view.organization, view.person, view.repository.owner, view.repository, :active_only => view.active_only ? "1" : "0"), :method => :delete, :class => "btn btn-danger" %>
</div>
