<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box-body">
  The following <%= outside_collaborators_verbiage(organization) %> will be removed:
</div>
<ul class="list-style-none overflow-auto">
  <% selected_outside_collaborators.each do |outside_collaborator| %>
  <li class="Box-row">
    <%= avatar_for(outside_collaborator, 16, :class => "avatar") %>
    <%= outside_collaborator.display_login %>
  </li>
  <% end %>
</ul>
<div class="Box-footer">
  <%= form_tag org_people_remove_outside_collaborators_path, method: :delete do %>
    <% selected_outside_collaborators.each do |outside_collaborator| %>
      <input type="hidden" name="outside_collaborator_ids[]" value="<%= outside_collaborator.id %>">
    <% end %>
    <input type="hidden" name="redirect_to_path" value="<%= redirect_to_path %>">
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true) do %>Remove <%= outside_collaborators_verbiage(organization) %><% end %>
  <% end %>
</div>
