<%# `view` is an instance of Orgs::People::RepoAbilitiesView %>
<% if view.abilities.any? %>
  <div class="manage-repo-access-wrapper">
    <ul class="manage-repo-access-list">
      <% if view.show_public_repo_notice? %>
        <li class="manage-repo-access-list-item">
          <span class="manage-repo-access-icon">
            <%= render(Primer::Beta::Octicon.new(icon: :eye, "aria-label": "Public repository")) %>
          </span>
          <strong>Public repository</strong>
          <a href="<%= edit_repository_path(view.repository) %>" class="float-right">Edit</a>
        </li>
      <% end %>

      <% if view.organization_ability.present? %>
        <%= render :partial => "orgs/people/repo_ability_row", :locals => {
              :repository => view.repository,
              :ability    => view.organization_ability,
              :person     => view.person
            } %>
      <% end %>

      <% if view.collaborator_ability.present? %>
        <%= render :partial => "orgs/people/repo_ability_row", :locals => {
              :repository => view.repository,
              :ability    => view.collaborator_ability,
              :person     => view.person
            } %>
      <% end %>

      <% if view.show_teams_divider? %>
        <li class="manage-repo-access-list-item">
          <span class="manage-repo-access-icon">
            <%= primer_octicon(:people) %>
          </span>
          Teams that give <%= view.teams_divider_access_type %> access:
        </li>

        <li class="manage-repo-access-list-item">
          <ul class="manage-repo-access-teams-group">
            <% view.team_abilities.each do |ability| %>
              <%= render :partial => "orgs/people/repo_ability_row", :locals => {
                    :repository => view.repository,
                    :ability    => ability,
                    :person     => view.person
                  } %>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p class="manage-access-none">
    Nothing explicitly gives <%= view.person %> <%= view.action %> access to <%= view.repository.name_with_display_owner %>.
  </p>
<% end %>
