<li class="manage-repo-access-list-item <%= "manage-repo-access-team-item" if ability.actor_type == "Team" %>">
  <% case ability.actor_type %>
  <% when "Organization" %>
    <span class="manage-repo-access-icon">
      <%= render(Primer::Beta::Octicon.new(icon: "organization", "aria-label": "Member access"))%>
    </span>
  <% when "User" %>
    <span class="manage-repo-access-icon">
      <%= render(Primer::Beta::Octicon.new(icon: "code", "aria-label": "Collaborator access"))%>
    </span>
  <% end %>

  <% case ability.actor_type %>
  <% when "Organization" %>
    <strong>Membership privilege</strong>
    <a href="<%= settings_org_member_privileges_path(repository.organization) %>" class="float-right">Edit</a>
  <% when "User" %>
    <strong>Collaborator access</strong>
    <a href="<%= repository_access_management_path(repository.owner, repository) %>" class="float-right">Edit</a>
  <% when "Team" %>
    <strong><a href="<%= team_path(ability.actor) %>"><%= ability.actor.name %></a></strong>
  <% end %>

  <p class="manage-repo-access-description">
    <% case ability.actor_type %>
    <% when "Team" %>
      <%= ability.actor.description %>
    <% end %>
  </p>
</li>
