<% view = Orgs::People::RepositoryListView.new(repositories: repositories, person: person) %>
<div class="table-list table-list-bordered org-repos-mini">
  <% repositories.each do |repo| %>
    <div class="org-repo-mini-item table-list-item js-org-repo" itemprop="owns" itemscope="" itemtype="http://schema.org/Code" <%= test_selector("repo-#{repo.name}") %>>
      <div class="org-repo-mini-cell table-list-cell">
        <h3 class="org-repo-name">
          <a href="<%= repository_path(repo) %>" itemprop="name codeRepository" class="css-truncate" aria-label="<%= repo.name %>">
            <span class="repo-prefix">
              <%= repo.owner.display_login %>
              <span class="repo-slash">/</span>
            </span>
            <%= repo.name %>
          </a>
          <% repo_type = RepositoriesTypeHelper.type \
            visibility: repo.visibility,
            mirror: repo.mirror?,
            archived: repo.archived?,
            template: repo.template? %>
          <%= render(Primer::Beta::Label.new(
            title: "Label: #{repo_type}",
            scheme: repo.archived? ? :attention : :secondary,
            vertical_align: :middle,
            ml: 1
          )) do %>
            <%= repo_type %>
          <% end %>
        </h3>
      </div>

      <div class="org-repo-meta org-repo-mini-cell table-list-cell text-center">
        <strong><%= view.repo_access_level(repo) %></strong> on this repository
      </div>

      <div class="org-repo-meta org-repo-mini-cell table-list-cell" style="width: 270px">
        <% if organization.adminable_by?(person) %>
          <div class="float-right">
            <%= render Primer::Beta::Button.new(
              id: "repo-#{repo.id}",
              disabled: true,
              size: :small
            ) do |button| %>
              <% button.with_tooltip(
                text: "You can’t manage an owner’s access",
                type: :description,
                direction: :w
              ) %>
              Manage access
            <% end %>
          </div>
        <% else %>
          <%= render Primer::Beta::Button.new(
            tag: :a,
            href: repository_permissions_path(organization, person, repo.owner, repo),
            size: :small,
            float: :right
          ) do %>
            Manage access
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="paginate-container" data-pjax>
  <%= will_paginate repositories %>
</div>
