<%# `view` is an instance of Orgs::People::SecurityManagersPageView %>

<div class="d-flex flex-items-center px-3 table-list-header table-list-header-next">
  <span class="table-list-heading ml-0 table-list-header-meta flex-auto" <%= test_selector("member-toolbar-non-admin")%>>
    <%= number_with_delimiter view.security_managers_count %> security
    <%= "manager".pluralize(view.security_managers_count) %> in the
    <%= view.organization.safe_profile_name %> organization
  </span>
</div>

<% if view.security_managers_present? %>
  <ul class="table-list-bordered">
    <% view.security_managers.each do |user| %>
      <li
        class="d-flex flex-items-center flex-justify-end member-list-item border border-top-0"
        <%= test_selector("security-manager-#{user.display_login}") %>
      >
        <%= render Organizations::Settings::MemberAvatarAndProfileLinkComponent.new(
          user:,
          org: view.organization,
          show_admin_stuff: false,
        ) %>

        <div class="pr-3 text-right color-fg-muted py-3 v-align-middle f5">
          <div>
            <%= render(Primer::Beta::Label.new) { 'Security Manager' } %>
          </div>
          <div class="note">
            Grants read access to all repositories to manage security alerts and settings.
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="paginate-container">
  <%= will_paginate view.security_managers %>
</div>

<% if view.show_no_results? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>

    <% c.with_heading(tag: :h2) do %>
      We couldn’t find any matching Security Managers.
    <% end %>
  <% end %>
<% end %>
