<nav class="menu" aria-labelledby="organization-people-label">
<%= form_tag orgs_people_tab_counts_path(view.organization), class: "js-fetch-tab-count", method: :get do %>
  <h3 class="menu-heading" id="organization-people-label">
    Organization permissions
    <%= render(Primer::Beta::Link.new(
      float: :right,
      href: "#{GitHub.help_url}/organizations/managing-peoples-access-to-your-organization-with-roles/roles-in-an-organization",
      classes: "Link--inTextBlock"
    )) do %>
      <%= render Primer::Beta::Octicon.new(:question, color: :muted, "aria-label": "help for user roles") %>
    <% end %>
  </h3>

  <%= selected_link_to org_people_path(view.organization), { highlight: :organization_people, class: "menu-item" }.merge(test_selector_data_hash("people-members-tab")) do %>
    Members
    <span>
      <input type="hidden" name="member" value="1">
      <%= render Primer::Beta::Counter.new(count: nil, classes: "unstyled-orgs-member-count") %>
    </span>
  <% end %>

 <% if view.organization.adminable_by?(current_user) && view.organization&.business&.enterprise_managed_user_enabled? %>
    <% path = org_guest_collaborators_path(view.organization) %>
    <%= selected_link_to path, { highlight: :organization_people, class: "menu-item" }.merge(test_selector_data_hash("people-guest-collaborators-tab")) do %>
      Guest collaborators
      <span>
        <input type="hidden" name="guest_collaborator" value="1">
        <%= render Primer::Beta::Counter.new(count: nil, classes: "unstyled-orgs-guest-collabo-count", test_selector: "unstyled-orgs-guest-collabo-count") %>
      </span>
    <% end %>
  <% end %>

  <% if view.organization.adminable_by?(current_user) && (!view.organization.enterprise_managed_user_enabled? || view.organization&.business&.emu_repository_collaborators_enabled?) %>
    <%= selected_link_to org_outside_collaborators_path(view.organization), { highlight: :outside_collaborators, class: "menu-item" }.merge(test_selector_data_hash("people-outside-collaborators-tab")) do %>
      <%= outside_collaborators_verbiage(view.organization).capitalize %>
      <span>
        <input type="hidden" name="outside_collabo" value="1">
        <%= render Primer::Beta::Counter.new(count: nil, classes: "unstyled-orgs-outside-collabo-count") %>
      </span>
    <% end %>
  <% end %>

  <% if view.organization.adminable_by?(current_user) && !view.organization.enterprise_managed_user_enabled? %>
    <% if GitHub.repo_invites_enabled? %>
      <%= selected_link_to org_pending_collaborators_path(view.organization), { highlight: :pending_collaborators, class: "menu-item" }.merge(test_selector_data_hash("people-pending-collaborators-tab")) do %>
        Pending collaborators
        <span>
          <input type="hidden" name="pending_collabo" value="1">
          <%= render Primer::Beta::Counter.new(count: nil, classes: "unstyled-orgs-pending-collabo-count") %>
        </span>
      <% end %>
    <% end %>

    <% unless GitHub.bypass_org_invites_enabled? %>
      <%= selected_link_to org_pending_invitations_path(view.organization), { highlight: :pending_invitation, class: "menu-item" }.merge(test_selector_data_hash("people-pending-invitation-tab")) do %>
        Invitations
        <span>
          <input type="hidden" name="pending_invite" value="1">
          <%= render Primer::Beta::Counter.new(count: nil, classes: "unstyled-orgs-pending-invite-count") %>
        </span>
      <% end %>

      <%= selected_link_to org_failed_invitations_path(view.organization), { highlight: :failed_invitation, class: "menu-item" }.merge(test_selector_data_hash("people-failed-invitation-tab")) do %>
        Failed invitations
        <span>
          <input type="hidden" name="failed_invite" value="1">
          <%= render Primer::Beta::Counter.new(count: nil, classes: "unstyled-orgs-failed-invite-count") %>
        </span>
      <% end %>
    <% end %>
  <% end %>

  <% if view.organization.direct_or_team_member?(current_user)%>
    <%= selected_link_to org_security_managers_path(view.organization), { highlight: :security_managers, class: "menu-item" }.merge(test_selector_data_hash("security-managers-tab")) do %>
      Security Managers
      <span>
        <input type="hidden" name="security_manager" value="1">
        <%= render Primer::Beta::Counter.new(count: nil, classes: "unstyled-security-mangers-count") %>
      </span>
    <% end %>
  <% end %>
<% end %>
</nav>

<% if can_manage_munich_seats?(view.organization) %>
  <nav class="menu" aria-label="Seats progress bar" <%= test_selector("manage-seats-option") %>>
    <div class="menu-item">
      <div class="d-flex flex-items-baseline mb-2">
        <div class="flex-auto d-inline-block text-bold">Seats</div>
        <div class="text-small d-inline-block">
          <strong><%= view.organization.filled_seats %></strong> of <%= view.organization.seats %> <%= "seat".pluralize(view.organization.seats) %> used
        </div>
      </div>
      <div class="billing-box-progress">
        <%= render(Primer::Beta::ProgressBar.new(size: :small)) do |component| %>
          <% progress_color = view.organization.filled_seats_percent >= 100 ? :attention_emphasis : :accent_emphasis %>
          <% component.with_item(bg: progress_color, percentage: view.organization.filled_seats_percent) %>
        <% end %>
      </div>
    </div>
    <div class="menu-item">
      <%= link_to "Manage seats", view.manage_seats_path, class: "d-block f6" %>
    </div>
  </nav>
<% end %>

<% if view.organization_enterprise && view.organization.direct_or_team_member?(current_user) %>
  <nav class="menu" aria-labelledby="enterprise-owners-label">
  <%= form_tag orgs_people_tab_counts_path(view.organization), class: "js-fetch-tab-count", method: :get do %>
    <h3 class="menu-heading" id="enterprise-owners-label">
      Enterprise permissions
    </h3>

    <%= selected_link_to org_enterprise_owners_path(view.organization), { highlight: :enterprise_owners, class: "menu-item" }.merge(test_selector_data_hash("enterprise-owners-tab")) do %>
      Enterprise owners
      <span>
        <input type="hidden" name="enterprise_owner" value="1">
        <% if view.organization.direct_or_team_member?(current_user) %>
          <%= render Primer::Beta::Counter.new(count: nil, classes: "unstyled-enterprise-owners-count") %>
        <% end %>
      </span>
    <% end %>
  <% end %>
  </nav>
<% end %>
