<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%#
  `user_login` is a string (required)
  `two_factor_enabled` is a boolean (required)
  `active_account_two_factor_requirement` is a boolean (required)
  `pending_account_two_factor_requirement` is a boolean (required)
  `account_two_factor_required_by_date` is a Time (required)
%>

<div class="text-center color-fg-muted  py-3 f5 flex-shrink-0 pr-3" <%= test_selector "two-factor-status-#{user_login}" %>>
  <% if two_factor_enabled %>
    <%= render Primer::Beta::Octicon.new(icon: "check") %>2FA

  <% elsif active_account_two_factor_requirement || pending_account_two_factor_requirement %>
    <%
      icon_color = active_account_two_factor_requirement ? :danger : :muted
      flash_scheme = active_account_two_factor_requirement ? :danger : :warning
      flash_icon = active_account_two_factor_requirement ? :stop : :alert
      required_by = account_two_factor_required_by_date.strftime('%Y-%m-%d')
    %>

    <%= render(GitHub::DialogComponent.new(title: "Two-factor security required", variant: :wide, details_classes: "ml-1", header_classes: 'p-3 text-left', body_classes: 'p-3 text-left')) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>

      <% dialog.with_summary do %>
        <summary role="button" class="Link--muted" aria-haspopup="dialog">
          <%= render Primer::Beta::Octicon.new(icon: "clock", size: :small, color: icon_color) %> 2FA
        </summary>
      <% end %>

      <% dialog.with_body do %>
        <div>
          <p>
            <strong><%= user_login %></strong> is required to enable two-factor authentication for their account by <strong><%= required_by %></strong>.
          </p>

          <%= render(Primer::Beta::Flash.new(icon: flash_icon, scheme: flash_scheme, px: 3, py: 3, mx: 0, my: 2, display: :flex, classes: "flex-items-center")) do %>
            <p>
              Once active after <%= required_by %>, they will have 7 days to enable two-factor authentication before <strong>their access will be restricted</strong>.
            </p>
          <% end %>
        </div>
      <% end %>

      <% dialog.with_footer do %>
        <div class="text-left text-small lh-condensed-ultra color-fg-muted">
          Learn more about
          <%= render(Primer::Beta::Link.new(href: "#{GitHub.blog_url}/2023-03-09-raising-the-bar-for-software-security-github-2fa-begins-march-13", tabindex: "0", classes: "Link--inTextBlock")) { "2FA requirements for GitHub contributors." } %>
        </div>
      <% end %>
    <% end %>

  <% else %>
    <%= render Primer::Beta::Octicon.new(icon: "x") %>2FA
  <% end %>
</div>
