<%# `view` is an instance of Orgs::People::EnterpriseOwnersPageView %>

<% filter_form = capture do %>
  <p class="color-fg-muted">
    Enterprise owners have complete control over the
    <%= link_to \
      view.organization_enterprise.safe_profile_name,
      enterprise_path(view.organization_enterprise),
      class: "Link--inTextBlock" %>
    enterprise to which this organization belongs.
    <%= link_to \
      "Learn more about roles in an enterprise",
      "#{GitHub.help_url}/admin/managing-accounts-and-repositories/managing-users-in-your-enterprise/roles-in-an-enterprise",
      class: "Link--inTextBlock" %>.
    Only enterprise owners can add or remove other enterprise owners.
    <%= link_to \
      "Learn more about adding and removing owners",
      "#{GitHub.help_url}/admin/managing-accounts-and-repositories/managing-users-in-your-enterprise/inviting-people-to-manage-your-enterprise",
      class: "Link--inTextBlock" %>.
  </p>
  <p class="color-fg-muted">
    An enterprise owner may either be an organization owner, an organization member, or unaffiliated
    with the organization.
    <% if GitHub.billing_enabled? %>
      If an enterprise owner is added as a member of an organization they will consume
      a seat from the available licenses.
    <% end %>
  </p>

  <%= form_tag org_enterprise_owners_path(view.organization),
    method: :get,
    class: "subnav-search float-left", "data-autosearch-results-container": "org-enterprise-owners-table" do %>
    <div class="auto-search-group" <%= test_selector('enterprise-owner-search')%>>
      <input class="form-control subnav-search-input auto-search-input js-member-filter-field"
        type="text" name="query" value="<%= params[:query] %>"
        placeholder="Find an owner…"
        aria-label="Find an owner…"
        autocomplete="off"
        data-throttled-autosubmit>
      <%= primer_octicon(:search, mt: nil) %>
      <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
    </div>
  <% end %>
<% end %>

<%= render layout: "orgs/people/layout", locals: {
  view: view,
  filter_form: filter_form,
  should_show_export_button: false,
  hide_add_or_invite_button: true
} do %>
  <div id="org-enterprise-owners-table"
    class="js-check-all-container js-bulk-actions-container"
    data-bulk-actions-url="<%= org_members_toolbar_actions_path(view.organization) %>"
    data-bulk-actions-parameter="owner_ids">
    <%= render "orgs/people/enterprise_owners_table", view: view %>
  </div>
<% end %>
