<%# `view` is an instance of Orgs::People::IndexPageView %>
<% page_info(
  title: "Members · People · #{view.organization.display_login}",
  canonical_url: request.original_url
) %>

<% only_should_show_guest_collaborators ||= false %>

<% filter_form = capture do %>
  <% if only_should_show_guest_collaborators %>
    <% action = org_guest_collaborators_path(view.organization) %>
    <% label = "Find a guest collaborator…" %>
    <%= form_tag action, method: :get, class: "subnav-search float-left col-4", "data-autosearch-results-container": "org-members-table" do %>
      <div class="auto-search-group" <%= test_selector('members-search')%>>
        <input class="form-control subnav-search-input auto-search-input js-member-filter-field" type="text" name="query" value="<%= params[:query] %>"
          placeholder="<%= label %>"
          aria-label="<%= label %>"
          autocomplete="off"
          data-throttled-autosubmit>
        <%= primer_octicon(:search) %>
        <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
      </div>
    <% end %>
  <% else %>
      <%= form_tag org_people_path(view.organization), method: :get, class: "subnav-search float-left col-4", "data-autosearch-results-container": "org-members-table" do %>
        <div class="auto-search-group" <%= test_selector('members-search')%>>
          <input class="form-control subnav-search-input auto-search-input js-member-filter-field" type="text" name="query" value="<%= params[:query] %>"
            placeholder="Find a member…"
            aria-label="Find a member…"
            autocomplete="off"
            data-throttled-autosubmit>
          <%= primer_octicon(:search) %>
          <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
        </div>
      <% end %>
  <% end %>
<% end %>

<%= render layout: "orgs/people/layout", locals: { view: view, filter_form: filter_form, should_show_export_button: true, only_should_show_guest_collaborators: only_should_show_guest_collaborators} do %>
  <%= render Accounts::LastOwnerBannerComponent.new(account: view.organization, current_user: current_user) %>
  <div id="org-members-table" class="js-check-all-container js-bulk-actions-container" data-bulk-actions-url="<%= org_members_toolbar_actions_path(view.organization) %>" data-bulk-actions-parameter="member_ids" data-hpc>
    <%= render "orgs/people/members_table",  view: view , only_should_show_guest_collaborators: only_should_show_guest_collaborators %>
  </div>
<% end %>
