<%# `view` is an instance of Orgs::People::OutsideCollaboratorsView %>
<% page_info title: view.page_title %>

<% filter_form = capture do %>
  <%= form_tag org_outside_collaborators_path(view.organization), method: :get, class: "subnav-search float-left col-4", "data-autosearch-results-container": "org-outside-collaborators" do %>
    <div class="auto-search-group" <%= test_selector('outside-collaborators-search')%>>
      <input class="form-control subnav-search-input auto-search-input js-member-filter-field" type="text" name="query" value="<%= params[:query] %>"
        placeholder="Find a collaborator…"
        aria-label="Find a collaborator…"
        autocomplete="off"
        data-throttled-autosubmit>
      <%= primer_octicon(:search) %>
      <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
    </div>
  <% end %>
<% end %>

<%= render layout: "orgs/people/layout", locals: { view: view, filter_form: filter_form } do %>
  <div itemscope itemtype="http://schema.org/Organization" class="js-check-all-container js-bulk-actions-container" data-bulk-actions-url="<%= org_outside_collaborators_toolbar_actions_path(view.organization) %>" data-bulk-actions-parameter="outside_collaborator_ids" <%= test_selector("outside-collaborators-table")%>>
    <div class="table-list-header table-list-header-next bulk-actions-header js-sticky d-flex">
      <div class="table-list-header-select-all">
        <input id="select-all-checkbox" type="checkbox" name="select-all-checkbox" data-check-all>
      </div>

      <div class="js-bulk-actions flex-auto">
        <%=
          render partial: "orgs/people/outside_collaborators_toolbar_actions", :locals => {
            :organization     => view.organization,
            :selected_outside_collaborators => []
          }
        %>
      </div>

      <div class="table-list-header-toggle d-flex py-1">
        <% if view.show_2fa? %>
          <%= render "orgs/people/filter_by_2fa", view: view %>
        <% end %>
      </div>
    </div>
    <div id="org-outside-collaborators">
      <%= render "orgs/people/outside_collaborators_list", view: view %>
    </div>
  </div>
<% end %>
