<% page_info title: "Pending Collaborators · People · #{organization.display_login}"%>

<% view = Orgs::People::PendingCollaboratorInvitationsListView.new(organization: organization, invitations: invitations, invitees: invitees) %>

<% filter_form = capture do %>
  <%= form_tag org_pending_collaborators_path(organization.display_login), method: :get, class: "subnav-search float-left", "data-autosearch-results-container" => "org-pending-collaborators" do %>
    <div class="auto-search-group">
      <input class="form-control subnav-search-input input-contrast auto-search-input js-member-filter-field" type="text" name="query" value="<%= params[:query] %>"
        placeholder="Find a pending collaborator…"
        aria-label="Find a pending collaborator…"
        autocomplete="off"
        data-throttled-autosubmit>
      <%= primer_octicon(:search) %>
      <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
    </div>
  <% end %>
<% end %>

<%= render layout: "orgs/people/layout", locals: { view: view, filter_form: filter_form } do %>
  <div itemscope itemtype="http://schema.org/Organization" class="js-check-all-container js-bulk-actions-container" data-bulk-actions-url="<%= org_pending_collaborator_invitations_toolbar_actions_path(view.organization) %>" data-bulk-actions-parameter="pending_collaborator_invitation_ids" <%= test_selector("pending-collaborators-table")%>>
    <div class="table-list-header table-list-header-next bulk-actions-header js-sticky d-flex">
      <div class="table-list-header-select-all">
        <input id="select-all-checkbox" type="checkbox" name="select-all-checkbox" data-check-all>
      </div>

      <div class="select-all-dropdown dropdown js-bulk-actions flex-auto">
        <%=
          render partial: "orgs/people/pending_collaborator_invitations_toolbar_actions", :locals => {
            organization: view.organization,
            selected_invitations: [],
            invitees: []
          }
        %>
      </div>
    </div>

    <div id="org-pending-collaborators">
      <%= render "orgs/people/pending_collaborator_invitations_list", view: view %>
    </div>
  </div>
<% end %>
