<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# `view` is an instance of Orgs::People::IndexPageView %>
<% page_info title: "Pending Members · People · #{view.organization.display_login}"%>

<% filter_form = capture do %>
  <%= form_tag org_pending_invitations_path(view.organization),
      method: :get,
      class: "subnav-search float-left col-4",  "data-autosearch-results-container": "org-pending-invitations-table" do |f| %>
    <div class="auto-search-group">
      <input class="form-control subnav-search-input auto-search-input js-member-filter-field" type="text" name="query" value="<%= params[:query] %>"
        placeholder="Find an invitation…"
        aria-label="Find an invitation…"
        autocomplete="off"
        data-throttled-autosubmit>
      <%= primer_octicon(:search) %>
      <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
    </div>
  <% end %>
<% end %>

<%= render layout: "orgs/people/layout", locals: {
    view: view,
    filter_form: filter_form,
    should_show_role_button: true,
    should_show_source_button: true
  } do %>
  <% if view.organization.saml_sso_present_enforced? %>
    <%= render Primer::Beta::Flash.new(mb: 3, classes: "flash-notice") do %>
      Membership in this organization is managed by your SAML Identity Provider. Members you invite will not be able to accept the invitation, or will be removed from the organization, unless they are provisioned with the Identity Provider.
    <% end %>
  <% end %>

  <%= render "orgs/people/pending_invitation_table", view: view %>
<% end %>
