<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%# view is an instance of Orgs::People::RepositoryPermissionsView %>

<% page_info responsive: false, :title => "#{view.person.display_login}’s access to #{view.repository.name_with_display_owner}" %>

<div itemscope itemtype="http://schema.org/Organization">

  <%=
  render "orgs/header", view: create_view_model(
    Orgs::HeaderView,
    :organization      => view.organization,
    :selected_nav_item => :members
  ) %>

  <div class="container-lg px-3">
    <div class="manage-repo-access-header">
      <% if view.show_revoke_all_repo_access_button? && view.revoke_all_repo_access_button_enabled? %>
        <%= render layout: "shared/details_dialog", locals: {
          details_class: "float-right",
          button_class: "btn btn-danger",
          button_text: "Remove access to this repository",
          ga_click: "Orgs, remove all repo access, location:manage member repo access header; text:Remove access to this repository",
          title: "Remove #{view.person.display_login}’s access",
        } do %>
          <%= render "orgs/people/remove_repo_access_dialog", view: create_view_model(
            Orgs::People::RemoveRepoAccessDialogView,
            :organization           => view.organization,
            :person                 => view.person,
            :repository             => view.repository,
            :repository_permissions => view.repository_permissions,
            :active_only            => false
          ) %>
        <% end %>
      <% end %>

      <h1 class="manage-repo-access-heading">
        <a href="<%= repo_people_index_path(view.repository.owner.display_login, view.repository.name) %>">
          <%= view.repository.name_with_display_owner %>
        </a>
      </h1>

      <p class="manage-repo-access-lead" <%= test_selector "manage-repo-access-lead" %>>
        <%= linked_avatar_for(view.person, 18, img_class: "avatar") %>
        <%= view.person.display_login %>
        <% if view.repository_permissions.active_permission.present? %>
          has <strong><%= view.repository_permission %></strong> access over
        <% else %>
          <strong>does not have access</strong> over
        <% end %>
        this repository
      </p>
    </div>

    <% if view.repository.owner == view.person %>
      <%#
      If the user is the repository's owner (meaning they forked one of the
      org's repos), show a special notice explaining the situation, since their
      access to their own fork can't be revoked.
      %>
      <div class="Box mb-3">
        <div class="Box-body">
          <%= primer_octicon(:person, :height => 32, classes: 'org-user-notice-icon') %>
          <h3 class="org-user-notice-title"><%= view.person.display_login %> owns this repository</h3>
          <p class="org-user-notice-content">
            As the <strong>repository’s owner</strong>, <%= view.person.display_login %> has <strong>admin</strong> access
          </p>
          <a href="<%= repository_access_management_path(view.repository.owner, view.repository) %>" class="btn btn-sm">Manage access to <%= view.repository.name_with_display_owner %></a>
        </div>
      </div>
    <% elsif view.organization.adminable_by?(view.person) %>
      <%#
      If the user is an organization owner, show a special notice explaining the
      situation, since their access to their own fork can't be revoked.
      %>
      <div class="Box mb-3">
        <div class="Box-body">
          <%= render :partial => "orgs/people/org_admin_notice", :locals => {
                :organization => view.organization,
                :person       => view.person
              } %>
        </div>
      </div>
    <% elsif view.repository_permissions.active_abilities.present? %>
      <%#
      If the user has actual abilities on the repo (directly, through teams, or
      otherwise), show a list of all those abilities.
      %>
      <div class="gutter d-flex flex-shrink-0">
        <div class="col-4">
          <div class="manage-repo-access-group <%= "manage-repo-access-not-active" unless view.repository_permissions.active_permission == :read %>">
            <h3 class="manage-repo-access-title">
              Read
              <%= render :partial => "orgs/people/permission_status_label", :locals => {
                :active_permission  => view.repository_permissions.active_permission,
                :current_permission => :read
              } %>
            </h3>
            <%= render "orgs/people/repo_abilities", view: create_view_model(
              Orgs::People::RepoAbilitiesView,
              :abilities  => view.repository_permissions.read_abilities,
              :action     => :read,
              :person     => view.person,
              :repository => view.repository
            ) %>
            <% if view.repository_permissions.active_permission == :read %>
              <%= render "orgs/people/remove_active_access", view: view %>
            <% end %>
          </div>
        </div> <!-- /.column -->

        <div class="col-4">
          <div class="manage-repo-access-group <%= "manage-repo-access-not-active" unless view.repository_permissions.active_permission == :write %>">
            <h3 class="manage-repo-access-title">
              Write
              <%= render :partial => "orgs/people/permission_status_label", :locals => {
                :active_permission  => view.repository_permissions.active_permission,
                :current_permission => :write
              } %>
            </h3>
            <%= render "orgs/people/repo_abilities", view: create_view_model(
              Orgs::People::RepoAbilitiesView,
              :abilities  => view.repository_permissions.write_abilities,
              :action     => :write,
              :person     => view.person,
              :repository => view.repository,
            ) %>
            <% if view.repository_permissions.active_permission == :write %>
              <%= render "orgs/people/remove_active_access", view: view %>
            <% end %>
          </div>
        </div> <!-- /.column -->

        <div class="col-4">
          <div class="manage-repo-access-group <%= "manage-repo-access-not-active" unless view.repository_permissions.active_permission == :admin %>">

            <h3 class="manage-repo-access-title">
              Admin
              <%= render :partial => "orgs/people/permission_status_label", :locals => {
                :active_permission  => view.repository_permissions.active_permission,
                :current_permission => :admin
              } %>
            </h3>
            <%= render "orgs/people/repo_abilities", view: create_view_model(
              Orgs::People::RepoAbilitiesView,
              :abilities  => view.repository_permissions.admin_abilities,
              :action     => :admin,
              :person     => view.person,
              :repository => view.repository,
            ) %>
            <% if view.repository_permissions.active_permission == :admin %>
              <%= render "orgs/people/remove_active_access", view: view %>
            <% end %>
          </div>
        </div> <!-- /.column -->
      </div>
    <% elsif view.repository_permissions.owner_of_parent_org? %>
      <div class="Box mb-3">
        <div class="Box-body">
          <h3 class="org-user-notice-title">Owner of this repository’s parent organization</h3>
          <p class="org-user-notice-content">
            Owners of the <strong><%= view.repository.plan_owner.display_login %></strong> organization, which owns the parent of this repository, also have read access to this repository.
          </p>
        </div>
      </div>
    <% else %>
      <%#
      At this point, we know the user isn't the repo's owner, and isn't an owner
      of this repo's owning org, isn't an owner of this repo's parent org, and
      has no abilities on the repo, so we show a "how to grant access" notice.
      %>
      <div class="Box mb-3">
        <div class="Box-body">
          <%= primer_octicon(:key, :height => 32, classes: 'org-user-notice-icon') %>
          <h3 class="org-user-notice-title">Granting access to this repository</h3>
          <p class="org-user-notice-content">
            You can grant <strong><%= view.person.display_login %></strong> access by ensuring they’re a member of a team with access, or by adding them as a collaborator directly.
          </p>
          <a href="<%= repository_access_management_path(view.repository.owner, view.repository) %>" class="btn btn-sm">Manage access to <%= view.repository.name_with_display_owner %></a>
        </div>
      </div>
    <% end %>
  </div>
</div>
