<%# `view` is an instance of Orgs::People::SecurityManagersPageView %>

<% filter_form = capture do %>
  <%= form_tag org_security_managers_path(view.organization),
    method: :get,
    class: "subnav-search float-left", "data-autosearch-results-container": "org-security-managers-table" do %>
    <div class="auto-search-group" <%= test_selector('security-manager-search')%>>
      <input class="form-control subnav-search-input auto-search-input js-member-filter-field"
        type="text" name="query" value="<%= params[:query] %>"
        placeholder="Find a security manager…"
        aria-label="Find a security manager…"
        autocomplete="off"
        data-throttled-autosubmit>
      <%= primer_octicon(:search, mt: nil) %>
      <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
    </div>
  <% end %>
<% end %>

<%= render layout: "orgs/people/layout", locals: {
  view: view,
  filter_form: filter_form,
  should_show_export_button: false,
  hide_add_or_invite_button: true
} do %>
  <div id="org-security-managers-table"
    class="js-check-all-container"
  >
    <%= render "orgs/people/security_managers_table", view: view %>
  </div>
<% end %>
