<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# `view` is an instance of Orgs::People::ShowView %>

<% page_info title: view.page_title, breadcrumb_owner: view.organization, breadcrumb_object: view.person %>

<div itemscope itemtype="http://schema.org/Organization">

  <%=
  render "orgs/header", view: create_view_model(
    Orgs::HeaderView,
    :organization      => view.organization,
    :selected_nav_item => :members,
  ) %>

  <div class="container-xl px-3">
    <%= render Primer::Alpha::Layout.new do |c| %>
      <% c.with_sidebar(width: :narrow) do %>
        <%= render partial: "orgs/people/sidebar", locals: {
          view: create_view_model(
            Orgs::People::SidebarView,
            organization: view.organization,
            person: view.person,
            repositories_count: view.repositories_count,
            editable: true
          ),
        } %>
      <% end %>
      <% c.with_main do %>
        <% if view.show_all_repo_role_notice? %>
          <div class="Box mb-3">
            <div class="Box-body">
              <%= render :partial => "orgs/people/all_repo_role_notice", :locals => {
                    organization: view.organization,
                    person: view.person,
                    view: view
                  } %>
            </div>
          </div>
        <% elsif view.show_admin_notice? %>
          <div class="Box mb-3">
            <div class="Box-body">
              <%= render :partial => "orgs/people/org_admin_notice", :locals => {
                    :organization => view.organization,
                    :person       => view.person
                  } %>
            </div>
          </div>
        <% end %>

        <% if view.repositories_count > 0 %>
          <% if view.show_search_form? %>
            <div class="table-list-header mt-0 d-flex flex-items-center">
              <span class="table-list-heading table-list-header-meta flex-auto min-width-0">
                <strong><%= view.person.display_login %></strong>
                has direct access to <%= pluralize view.repositories_count, "repository" %>
              </span>

              <%= form_tag org_person_path(view.organization, view.person), :method => :get,
                    :class => "mx-2",
                    :"data-autosearch-results-container" => "org-person-repositories" do %>
                <div class="auto-search-group">
                  <input class="form-control subnav-search-input auto-search-input"
                         type="text"
                         name="query"
                         value="<%= params[:query] %>"
                         placeholder="Find a repository they have access to…"
                         aria-label="Find a repository they have access to…"
                         autocomplete="off"
                         data-throttled-autosubmit>
                  <%= primer_octicon(:search) %>
                  <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
                </div>
              <% end %>
            </div> <!-- /.subnav -->
          <% end %>

          <div id="org-person-repositories">
            <%= render :partial => "orgs/people/repository_list", :locals => {
                  :organization => view.organization,
                  :person       => view.person,
                  :repositories => view.paginated_repositories
                } %>
          </div>
        <% else %>
          <%= render Primer::BlankslateComponent.new(
            icon: "repo",
            title: "No repository access",
            spacious: true,
          ) do %>
            <p>
              It doesn’t look like <strong><%= view.person.display_login %></strong> has
              access to any <strong><%= view.organization.display_login %></strong>
              repositories yet. You can grant access by

              <% if view.organization.member?(view.person) %>
                <a href="<%= teams_path(view.organization) %>">
                  adding them to teams
                </a> with repository access,
              <% else %>
                <a href="<%= org_edit_invitation_path(view.organization, view.person) %>">
                  inviting them to the organization
                </a>,
              <% end %>

              or by adding them as a repository collaborator directly.
            </p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div> <!-- /.container -->
</div>
