<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# `view` is an instance of Sso::ShowView %>

<% page_info responsive: false, :title => +view.page_title %>

<div itemscope itemtype="http://schema.org/Organization">

  <%= render "orgs/header", view: create_view_model(
    Orgs::HeaderView,
    organization: view.target,
    selected_nav_item: :members,
  ) %>

  <div class="container-lg px-3">
    <%= render Primer::Alpha::Layout.new do |c| %>
      <% c.with_sidebar(width: :narrow) do %>
        <%= render partial: "orgs/people/sidebar", locals: {
          view: create_view_model(
            Orgs::People::SidebarView,
            organization: view.target,
            person: view.member,
          ),
        } %>
      <% end %>

      <% c.with_main do %>
        <% if view.external_identity %>
          <%= render "shared/sso/user_data", view: view %>
          <%= render "shared/sso/sessions", view: view %>
        <% else %>
          <%= render Primer::Beta::Subhead.new do |component| %>
            <% component.with_heading(tag: :h2) do %>Linked SSO identity<% end %>
          <% end %>
          <%= render Primer::BlankslateComponent.new(
            icon: "link",
            title: "No linked account",
            spacious: true,
          ) do %>
            <p>
              It doesn’t look like <strong><%= view.member.display_login %></strong> has
              linked their account to your organization’s SAML identity provider.
            </p>
          <% end %>
        <% end %>

        <%= render "orgs/people/sso/authorized_credentials", view: view %>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle :settings %>
<% end %>
