<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<% page_info :title => "Data Sources" %>

<% content_for :pagehead_path do %>
  / <%= link_to "Spamurai Central", devtools_spamurai_path %>
  / <strong>Datasources</strong>
<% end %>

<ul class="Box js-navigation-container js-active-navigation-container">
<% spam_datasources.each do |datasource| %>
  <li class="Box-row d-flex width-full Box-row--focus-gray js-navigation-item">
    <div class="flex-auto">
      <%= link_to datasource.human_name, spamurai_datasource_path(datasource), :class => "pr-1 mb-1 f4 text-bold lh-condensed Link--primary js-navigation-open" %>

      <div class="color-fg-muted">
        #<%= datasource.id %> created <%= time_ago_in_words_js(datasource.created_at) %> <%= datasource.description %>
      </div>
    </div>

    <% unless datasource.entries.count.zero? %>
    <div class="text-right no-wrap pl-3">
      <a href="<%= spamurai_datasource_path(datasource) %>" class="tooltipped tooltipped-w Link--muted" aria-label="<%= datasource.entries.count %> data entries in source"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        <%= primer_octicon(:database) %>
        <%= number_with_precision datasource.entries.count, :precision => 0, :delimeter => "," %>
      </a>
    </div>
    <% end %>
  </li>
<% end %>
</ul>

<div class="paginate-container">
  <%= will_paginate spam_datasources %>
</div>
