<% page_info :title => "#{spam_datasource.human_name} Datasource" %>

<% content_for :pagehead_path do %>
  / <%= link_to "Spamurai Central", devtools_spamurai_path %>
  / <%= link_to "Datasources", spamurai_datasources_path %>
  / <strong><%= spam_datasource.human_name %></strong>
<% end %>

<ul class="Box js-navigation-container js-active-navigation-container">
<% entries.each do |entry| %>
  <%= render :partial => "devtools/spamurai/datasources/entry", :locals => { :entry => entry } %>
<% end %>
</ul>

<div class="paginate-container">
  <%= will_paginate entries %>
</div>
