<% page_info :title => "#{current_target_type.pluralize} accessible to - #{current_access.name}", :selected_link => selected_link %>

<%= render(Primer::Beta::Subhead.new) do |component| %>
  <% component.with_heading(tag: :h3) do %>
    <%= current_target_type.pluralize %>
  <% end %>
<% end %>

<% if grants.exists? %>
  <turbo-frame id="grants-container" data-turbo-action="advance">
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
      <% grants.each do |grant| %>
        <% component.with_row(display: :flex, align_items: :center) do %>
          <%= render partial: "stafftools/personal_access_tokens/grantables/grantable", locals: {
            grantable: grant, link: gh_stafftools_user_personal_access_token_grant_path(this_user, current_access, grant)
          } %>
        <% end %>
      <% end %>
    <% end %>

    <div class="paginate-container">
      <%= will_paginate(grants, renderer: TurboActionReplaceLinkRenderer) %>
    </div>
  </turbo-frame>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2).with_content("No #{current_target_type.downcase} authorizations found.") %>
    <% c.with_description { "It looks like the personal access token '#{current_access.name}' has not been authorized to access any #{current_target_type.downcase} accounts." } %>
  <% end %>
<% end %>
