<li class="Box-row js-repository-import-author">
  <% list_id = "import-author-results-#{view.author.id}" %>
  <%= form_tag repository_import_author_path(view.author_url_params), method: :put, class: "d-flex js-repository-import-author-form" do %>
    <% if view.mapped_to_github_user? %>
      <%= avatar_for view.user, 32, :class => "avatar mr-3" %>
    <% else %>
      <%= primer_octicon(:person, height: 32, ml: 2, mr: 3, color: :muted) %>
    <% end %>
    <details class="details-reset Details-element flex-auto">
      <summary>
        <span class="float-right btn btn-sm"><%= view.author_mapped? ? "Change " : "Connect " %></span>
        <strong class="color-fg-default"><%= view.author_name %></strong>
        <% if view.has_problem? %>
          <p class="color-fg-default Details-content--closed mb-0">has no attributable email, try email address instead</p>
        <% else %>
          <p class="color-fg-default Details-content--closed mb-0"><%= view.author_email %></p>
        <% end %>
      </summary>
      <auto-complete src="<%= repository_import_author_suggestions_path(view.url_params) %>" for="<%= list_id %>" class="position-relative mt-2 d-block">
        <input type="text" class="form-control col-9" autofocus placeholder="Type or choose a user" aria-label="Type or choose a user" autocomplete="off" value="<%= view.author_search_value %>" autofocus>
        <ul id="<%= list_id %>" class="autocomplete-results left-0">
          <% if view.author_mapped? %>
            <li class="select-menu-item" role="option" data-autocomplete-value="_clear">
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">
                  Clear selected author
                </span>
              </div>
            </li>
          <% end %>
        </ul>
      </auto-complete>
    </details>
  <% end %>
</li>
