<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="Box color-bg-subtle my-3 js-template-preview js-sync-container" data-filename="<%= template.filename_for_display %>">
  <div class="color-bg-subtle">
    <div class="border-top color-bg-subtle">
      <div class="Box-row d-flex flex-items-center color-bg-default">
        <div class="flex-auto">
          <strong class="f4" data-sync-with="name" data-sync-blank="Add name">
            <% if template.name.present? %>
              <%= truncate(template.name, length: 70) %>
            <% else %>
              <span class="color-fg-muted">Add name</span>
            <% end %>
          </strong>
          <div data-sync-with="about" data-sync-blank="Add about">
            <% if template.about.present? %>
              <%= truncate(template.about, length: 80) %>
            <% else %>
              <span class="color-fg-muted">Add about</span>
            <% end %>
          </div>
        </div>
        <%= render Primer::ButtonComponent.new(mr: 2, classes: "js-custom-template-toggle") do %>
          <span class="preview-button">Preview and edit</span>
          <span class="dismiss-preview-button">Close preview</span>
        <% end %>
        <%= render Primer::ButtonComponent.new(classes: "js-remove-template-button", "aria-label": "Remove this template") do %>
          <%= primer_octicon(:trash, color: :danger) %>
        <% end %>
      </div>
      <% unless template.valid? %>
         <%= render(Primer::Beta::Flash.new(scheme: :danger, full: true, icon: "alert")) do %>
          This template has some problems.
        <% end %>
      <% end %>
    </div>
    <%= render partial: "issue_templates/template_editor", locals: { template: template } %>
  </div>
</div>
