<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  page_info title: "Add an issue template to #{current_repository.name_with_display_owner}",
    container_xl: true,
    skip_pjax_container: true,
    selected_link: :issue_template_editor,
    highlight: :issue_template_editor,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <div class="px-4 pb-3 color-bg-default text-right">
    <%= render Primer::ButtonComponent.new(scheme: :primary, variant: :small, classes: "js-toggle-template-commit", disabled: true) do %>
      Propose changes
    <% end %>
  </div>
  <div class="d-flex color-bg-subtle js-template-editor js-templates mt-2" style="min-height: 100vh">
    <div class="position-relative border-top border-bottom width-full pt-6">
      <div class="template-previews px-2 px-lg-0 mx-auto">
        <div class="js-templates-container" <%= test_selector("issue-template-list") %>>
          <% issue_templates.each do |template| %>
            <%= render partial: "issue_templates/template", locals: { template: template } %>
          <% end %>
        </div>
        <div class="placeholder-box border-dashed color-bg-subtle my-3 rounded-2">
          <div class="pt-4 pb-4">
            <div class="d-flex flex-justify-center">
              <div class="position-relative js-add-template">
                <%= render(GitHub::MenuComponent.new(items: [
                  GitHub::Menu::ButtonComponent.new(
                    value: "template-editor-default-bug",
                    type: "button",
                    text: "Bug report",
                    description: "Standard bug report template"
                  ),
                  GitHub::Menu::ButtonComponent.new(
                    value: "template-editor-default-feature",
                    type: "button",
                    text: "Feature request",
                    description: "Standard feature request template"
                  ),
                  GitHub::Menu::ButtonComponent.new(
                    value: "template-editor-default-blank",
                    type: "button",
                    text: "Custom template",
                    description: "Blank template for other issue types"
                  ),
                ])) do |menu| %>
                  <% menu.with_summary do %>
                    <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
                      <i>Add template:</i>
                      <span data-menu-button>select</span>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="position-relative p-3 d-none v-align-top border-top border-bottom border-left color-bg-default col-2 js-template-commit-pane" style="min-width: 450px">
      <%= render partial: "issue_templates/template_commit_pane", locals: { issue_templates: issue_templates } %>
    </div>
  </div>
</div>
<% end %>
<%= render partial: "issue_templates/client_side_templates" %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "issues" %>
<% end %>
