<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# view is an instance of Diff::CodeLinesPartialView %>
<% hunk_id = local_assigns[:hunk_id] %>
<tr <% if hunk_id %>data-hunk="<%= hunk_id %>"<% end %> class="<%= 'show-top-border' unless current_repository&.feature_enabled?(:comment_outside_the_diff) %>">
  <% if line.type == :addition %>
    <td class="blob-num blob-num-<%= line.type %> empty-cell"></td>
  <% else %>
    <td id="<%= view.anchor %>L<%= line.left %>" data-line-number="<%= line.left %>"
        class="blob-num blob-num-<%= line.type %> js-linkable-line-number"></td>
  <% end %>

  <% if line.type == :deletion %>
    <td class="blob-num blob-num-<%= line.type %> empty-cell"></td>
  <% else %>
    <td id="<%= view.anchor %>R<%= line.right %>" data-line-number="<%= line.right %>"
        class="blob-num blob-num-<%= line.type %> js-linkable-line-number js-code-nav-line-number js-blob-rnum"></td>
  <% end %>

  <td class="blob-code blob-code-<%=line.type %> <%= 'blob-code-outside-diff-enabled' if current_repository&.feature_enabled?(:comment_outside_the_diff) %> js-file-line">
    <% if view.commentable && (!line.injected_context? || current_repository&.feature_enabled?(:comment_outside_the_diff)) %>
      <%= render Primer::ButtonComponent.new(scheme: :link, classes: "add-line-comment js-add-line-comment js-add-single-line-comment", "data-path": view.path, "data-anchor": view.anchor, "data-position": line.position, "data-side": line.deletion? ? 'left' : 'right', "data-line": line.current, "data-original-line": line.text, "aria-label": "Add line comment", test_selector: :add_line_comment) do %>
        <%= primer_octicon(:plus) %>
      <% end %>
    <% end %>
    <span class='blob-code-inner blob-code-marker js-code-nav-pass <% if line.type == :deletion %>js-skip-tagsearch<% end %>' data-code-marker="<%= view.code_marker_for(line.type) %>"><%= view.highlighted_line(line) %></span><%#
      Eliminate space to fix copy/paste issues. See https://github.com/github/github/pull/95667 for more information.
    %><% if line.nonewline? %>
      <span class="no-nl-marker">
        <%= primer_octicon(:"no-entry", aria: { label: "No newline at end of file" }) %>
      </span>
    <% end %><%#
    %></td>
</tr>
