<%# view is an instance of Diff::ContextPartialView %>
<% last_right = view.right_start %>
<% last_left  = view.left_start %>
<% view.lines.each_with_index do |line, position| %>
  <%
    left = view.left_start + position
    right = view.right_start + position
    last_right = right
    last_left = left
  %>
  <tr class="blob-expanded" data-expanded-full="<%= view.expanded_full %>">
    <% if split_diff? %>
      <% if current_repository&.feature_enabled?(:comment_outside_the_diff) && view.pull_request_context && view.commentable %>
        <td id="<%= view.anchor %>L<%= left %>" class="blob-num blob-num-context blob-num-context-outside-diff js-linkable-line-number" data-line-number="<%= left %>"></td>
        <td class="blob-code blob-code-context js-file-line js-skip-tagsearch">
          <%= render "diff/add_line_button", view:, position:, right:, line: %>
          <span class="blob-code-inner blob-code-marker" data-code-marker=" "><%= line %></span>
        </td>
        <td id="<%= view.anchor %>R<%= right %>" class="blob-num blob-num-context blob-num-context-outside-diff js-linkable-line-number js-code-nav-line-number js-blob-rnum" data-line-number="<%= right %>"></td>
        <td class="blob-code blob-code-context js-file-line">
          <%= render "diff/add_line_button", view:, position:, right:, line: %>
          <span class="blob-code-inner blob-code-marker" data-code-marker=" "><%= line %></span>
        </td>
      <% else %>
        <td id="<%= view.anchor %>L<%= left %>" class="blob-num blob-num-context js-linkable-line-number" data-line-number="<%= left %>"></td>
        <td class="blob-code blob-code-inner blob-code-marker js-skip-tagsearch" data-code-marker=" " data-split-side="left"><%= line %></td>
        <td id="<%= view.anchor %>R<%= right %>" class="blob-num blob-num-context js-linkable-line-number js-code-nav-line-number js-blob-rnum" data-line-number="<%= right %>"></td>
        <td class="blob-code blob-code-inner blob-code-marker js-file-line" data-code-marker=" " data-split-side="right"><%= line %></td>
      <% end %>
    <% else %>
      <td id="<%= view.anchor %>L<%= left %>" class="blob-num blob-num-context <%= 'blob-num-context-outside-diff' if current_repository&.feature_enabled?(:comment_outside_the_diff) %> js-linkable-line-number" data-line-number="<%= left %>"></td>
      <td id="<%= view.anchor %>R<%= right %>" class="blob-num blob-num-context <%= 'blob-num-context-outside-diff' if current_repository&.feature_enabled?(:comment_outside_the_diff) %> js-linkable-line-number js-code-nav-line-number js-blob-rnum" data-line-number="<%= right %>"></td>
      <% if current_repository&.feature_enabled?(:comment_outside_the_diff) && view.pull_request_context && view.commentable %>
        <td class="blob-code blob-code-context js-file-line">
          <%= render "diff/add_line_button", view:, position:, right:, line: %>
          <span class="blob-code-inner blob-code-marker" data-code-marker=" "><%= line %></span>
        </td>
      <% else %>
        <td class="blob-code blob-code-inner blob-code-marker js-file-line" data-code-marker=" "><%= line %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
