<%# view is an instance of Diff::FileView %>
<div class="js-diff-load-container" tabIndex="-1">
  <include-fragment data-fragment-url="<%= diff_path_for(
    :file_list_view => file_list_view,
    :base_repository => base_repository,
    :head_repository => head_repository,
    :entry => view.diff_number,
    :whitespace => file_list_view.ignore_whitespace?)
  %>" class="js-diff-entry-loader px-3 py-4 position-relative">
    <% if comments = file_list_view.comments_for(view.diff.path) %>
      <div>
        <% comments.each do |comment| %>
          <div id="diff-with-comment-<%= comment.id %>"></div>
        <% end %>
      </div>
    <% end %>

    <div data-hide-on-error class="js-skip-tagsearch">
      <svg aria-hidden="true" class="width-full" style="max-width: 340px;" height="84" viewBox="0 0 340 84" xmlns="http://www.w3.org/2000/svg" class="d-block">
        <path class="js-diff-placeholder" clip-path="url(#diff-placeholder)" d="M0 0h340v84H0z" style="fill: var(--bgColor-muted, var(--color-canvas-subtle))" fill-rule="evenodd"></path>
      </svg>
      <div class="d-flex flex-column flex-items-center flex-justify-center position-absolute top-0 left-0 height-full width-full">
        <%= render Primer::Beta::Button.new(scheme: :link, font_size: 4, classes: "load-diff-button no-underline js-diff-load", "data-disable-with": "Loading…", "aria-describedby": "hidden-diff-reason-#{ view.identifier }") do %>
          <div class="text-bold f4 js-button-text">Load diff</div>
        <% end %>
        <% if view.hidden_diff_reason %>
          <p id="hidden-diff-reason-<%= view.identifier %>" class="color-fg-muted f6">
            <% case view.hidden_diff_reason %>
            <% when :too_big %>
              Large diffs are not rendered by default.
            <% when :generated %>

              Some generated files are not rendered by default. Learn more about <a class="Link--inTextBlock js-ignore-this" href="<%= GitHub.help_url %>/github/administering-a-repository/customizing-how-changed-files-appear-on-github">how customized files appear on GitHub</a>.
            <% when :deleted %>
              This file was deleted.
            <% end %>
          </p>
        <% end %>
      </div>
    </div>

    <div class="load-diff-retry text-center p-1" data-show-on-error hidden>
      <%= primer_octicon(:alert, color: :danger, mr: 1) %>
      Oops, something went wrong.
      <%= render Primer::Beta::Button.new(scheme: :link, "data-retry-button": "") do %>Retry<% end %>
    </div>
  </include-fragment>
</div>
