<% if logged_in? %>
  <div class="js-replace-file-header-review d-flex">
    <%= form_tag user_review_file_path(pull_id: view.pull_request.number), method: view.reviewed? ? :delete : :post, class: "js-toggle-user-reviewed-file-form d-flex flex-items-stretch hide-sm", 'data-autosubmit': true do -%>
      <input type="hidden" name="path" value="<%= view.path %>">

      <% if view.dismissed? %>
        <%= render Primer::Beta::Label.new(scheme: :warning, ml: 2, align_self: :center, title: "Label: Changed since last view") do %>
          Changed since last view
        <% end %>
      <% end %>
      <label class="js-reviewed-toggle ml-2 mr-1 px-2 py-1 rounded-2 f6 text-normal d-flex flex-items-center border <%= view.reviewed? ? ' js-reviewed-file color-bg-accent color-border-accent' : 'color-fg-muted color-border-muted' %>" style="cursor:pointer;">
        <input id="<%= "#{view.path}-viewed-file" %>" class="mr-1 js-reviewed-checkbox" type="checkbox" name="viewed" value="viewed" <%= "checked" if view.reviewed? %>>
        <%= render(Primer::Alpha::Tooltip.new(for_id: "#{view.path}-viewed-file", type: :description, text: "Marking files as viewed can help keep track of your progress, but will not affect your submitted review", direction: :w)) %>
        Viewed
      </label>
    <% end %>
  </div>
<% end %>
