<p class="text-small pl-3 mb-2">
  <span class="annotation-octicon text-center d-inline-block">
    <% if warning_level == "failure" %>
      <%= primer_octicon(:x, color: :danger) %>
    <% elsif warning_level == "warning" %>
      <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
    <% else %>
      <%= primer_octicon(:info, color: :muted) %>
    <% end %>
  </span>
  <span class="color-fg-muted d-inline-block ml-1">
    Check <%= warning_level %>
    <% if filename != ".github" %>
      <% if end_line %>
        on line <%= end_line %>
      <% end %>
      <% if filename %>
        in <%= filename %>
      <% end %>
    <% end %>
  </span>
</p>
