<div class="Details js-details-container position-relative check-annotation check-annotation-<%= annotation.warning_level %> py-3" id="annotation_<%= annotation.id %>">
  <%= render partial: "diff/inline_annotation_header", locals: { warning_level: annotation.warning_level, filename: annotation.parsed_file_name, end_line: annotation.end_line } %>

  <div class="annotation-actions position-absolute">
    <%
      href = annotation.check_suite&.workflow_run ? workflow_run_path(workflow_run_id: annotation.check_suite.workflow_run.id, pull: pull_request) : annotation.check_run.permalink(pull: pull_request)
      parent_type = annotation.parent_type
    %>
    <%= render(Primer::Beta::IconButton.new(
      tag: :a,
      href: href,
      icon: :checklist,
      color: :muted,
      scheme: :invisible,
      aria: { label: "View #{parent_type} for this annotation" },
    )) %>
  </div>

  <h4 class="f5 ml-3 mb-2 pl-4 mr-2 flex-shrink-0 d-flex flex-items-center" <%= test_selector("annotation_app") %>>
    <%= integration_avatar(integration: annotation.github_app, size: 20, class: "#{avatar_class_names(annotation.github_app)} mr-2 flex-shrink-0") %>
    <span><%= annotation.github_app.name %></span> <span class="ml-1 text-normal">/ <%= annotation.parent_name %></span>
  </h4>

  <p class="ml-3 mb-0 pl-4 text-bold d-flex flex-items-center">
    <span class="annotation-title flex-auto pr-2">
      <%= annotation.title %>
    </span>
  </p>

  <div class="py-2 pl-4 ml-3 overflow-auto">
    <code><pre tabindex="0"><%= annotation_message(annotation.message) %></pre></code>
  </div>

  <% if annotation.raw_details.present? %>
    <details>
      <%= render Primer::Beta::Button.new(tag: :summary, size: :small, mt: 2, mb: 3, ml: 6) do %>Raw output<% end %>
      <div class="border-top py-2 px-3 color-bg-subtle overflow-auto">
        <code>
          <pre><%= annotation.raw_details %></pre>
        </code>
      </div>
    </details>
  <% end %>

  <% if annotation.suggested_change && GitHub.flipper[:suggested_change_in_annotations].enabled?(current_user) %>
    <% deletions, additions = DiffGenerator.new(end_line_text.sub(/\A[+-]/, ""), annotation.suggested_change, annotation.path).generate_diff %>
    <%# TODO: Extract into dedicated partial instead of filter_partial %>
    <%= render partial: "filter_partials/suggested_change", locals: { for_email: false, line_number: annotation.end_line, deletions: deletions, additions: additions } %>
  <% end %>
</div>
