<% if view.blob && view.blob.viewable? %>
  <div class="file js-details-container Details Details--on open
    <%= "d-flex flex-column flex-auto mb-0" if blob_fullwidth? %>"
    id="<%= diff_file_anchor(view.path) %>"
    data-file-type="<%= view.file_type %>"
    data-details-container-group="file"
  >
    <%= render :partial => "diff/non_diff_blob_header", :locals => { :current_blob => view.blob, :path_string => view.path, :pull_request => view.pull_request, :repository => view.repository, :view => view  } %>
    <div itemprop="text" class="blob-wrapper data type-<%= view.blob.language ? view.blob.language.name.parameterize : "text" %> <%= "d-flex flex-column flex-auto" if blob_fullwidth? %>">
      <div class="js-file-content Details-content--hidden">
        <%= render :partial => "blob/blob_code", :locals => {
          :blob => view.blob,
          :annotations => view.annotations,
          :lines_to_include => view.lines_to_include,
          :named_anchor_prefix => view.named_anchor_prefix,
          :show_toolbar => false,
          :pull_request => view.pull_request,
        } %>
      </div>
    </div>
  </div>
<% end %>
