<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="js-diff-progressive-container">
  <include-fragment src="<%= unchanged_files_with_annotations_path(
    :file_list_view => file_list_view)
  %>" class="diff-progressive-loader js-diff-progressive-loader mb-4 d-flex flex-items-center flex-justify-center"
      data-targets="diff-file-filter.progressiveLoaders"
    <%= test_selector("load-unchanged-files-with-annotations") %>
  >
    <%= render(Primer::Beta::Spinner.new("data-hide-on-error": true)) %>

    <div data-show-on-error hidden>
      <%= primer_octicon(:alert, color: :danger, mr: 1) %>
      Oops, something went wrong.
      <%= render Primer::ButtonComponent.new(scheme: :link, "data-retry-button": "") do %>Retry<% end %>
    </div>
  </include-fragment>
</div>
