<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% hunk_id = local_assigns[:hunk_id] %>
<tr <% if hunk_id %>data-hunk="<%= hunk_id %>"<% end %>>
  <% if left_line.type && left_line.position %>
    <% js_comment_class = left_line.type == :context ? "js-add-single-line-comment" : "js-add-split-line-comment" %>
    <td class="blob-num blob-num-<%= left_line.type %> js-linkable-line-number js-code-nav-line-number"
        id="<%= view.anchor %>L<%= left_line.left %>"
        data-line-number="<%= left_line.left %>"></td>

    <td data-split-side="left" data-lock-side-selection="" class="code-review blob-code blob-code-<%= left_line.type %> js-file-line js-skip-tagsearch">
      <% if view.commentable %>
        <%= render Primer::ButtonComponent.new(scheme: :link, classes: "btn-link add-line-comment js-add-line-comment #{js_comment_class}", "data-path": view.path, "data-anchor": view.anchor, "data-position": left_line.position , "data-side": (left_line.deletion? ? 'left' : 'right'), "data-line": (left_line.deletion? ? left_line.left : left_line.right), "data-original-line": left_line.text, "aria-label": "Add line comment") do %>
          <%= primer_octicon(:plus) %>
        <% end %>
      <% end %>

      <span class="blob-code-inner blob-code-marker js-code-nav-pass <% if left_line.type == :deletion %>js-skip-tagsearch<% end %>" data-code-marker="<%= code_marker_for(left_line.type) %>"><%= view.highlighted_line(left_line) %></span>

      <% if left_line.nonewline? %>
        <span class="no-nl-marker">
          <%= primer_octicon(:"no-entry", aria: { label: "No newline at end of file" }) %>
        </span>
      <% end %>
    </td>
  <% else %>
    <td class="blob-num blob-num-<%= left_line.type %> empty-cell"></td>
    <td class="blob-code blob-code-<%= left_line.type %> empty-cell" data-split-side="left"></td>
  <% end %>

  <% if right_line.type && right_line.position %>
    <% js_comment_class = right_line.type == :context ? "js-add-single-line-comment" : "js-add-split-line-comment" %>
    <td class="blob-num blob-num-<%= right_line.type %> js-linkable-line-number js-code-nav-line-number js-blob-rnum"
        id="<%= view.anchor %>R<%= right_line.right %>"
        data-line-number="<%= right_line.right %>"></td>

    <td data-split-side="right" data-lock-side-selection="" class="code-review blob-code blob-code-<%= right_line.type %> js-file-line">
      <% if view.commentable %>
         <%= render Primer::ButtonComponent.new(scheme: :link, classes: "btn-link add-line-comment js-add-line-comment #{js_comment_class}", "data-type": "addition", "data-path": view.path, "data-anchor": view.anchor, "data-position": right_line.position , "data-side": 'right', "data-line": right_line.right, "data-original-line": right_line.text, "aria-label": "Add line comment") do %>
          <%= primer_octicon(:plus) %>
        <% end %>
      <% end %>

      <span class="blob-code-inner blob-code-marker js-code-nav-pass" data-code-marker="<%= code_marker_for(right_line.type) %>"><%= view.highlighted_line(right_line) %></span>

      <% if right_line.nonewline? %>
        <span class="no-nl-marker">
          <%= primer_octicon(:"no-entry", aria: { label: "No newline at end of file" }) %>
        </span>
      <% end %>
    </td>
  <% else %>
    <td class="blob-num blob-num-<%= right_line.type %> empty-cell"></td>
    <td class="blob-code blob-code-<%= right_line.type %> empty-cell" data-split-side="right"></td>
  <% end %>
</tr>
