<%# view is an instance of Diff::SubmoduleFileView %>

<div class="data highlight empty">
  <%= primer_octicon(:"file-submodule", title: "submodule", vertical_align: :text_bottom) %>
  Submodule <%= view.submodule_path_link %>

  <% if view.diff_entry_added? %>
    added at
    <% if view.submodule_diff_linkable? %>
      <a href="<%= view.submodule_url %>/tree/<%= view.diff_entry_b_blob %>">
        <%= view.diff_entry_short_b_blob %>
      </a>
    <% else %>
      <%= view.diff_entry_short_b_blob %>
    <% end %>

  <% elsif view.diff_entry_deleted? %>
    deleted from
    <% if view.submodule_diff_linkable? %>
      <a href="<%= view.submodule_url %>/tree/<%= view.diff_entry_a_blob %>">
        <%= view.diff_entry_short_a_blob %>
      </a>
    <% else %>
      <%= view.diff_entry_short_a_blob %>
    <% end %>
  <% else %>
    updated

    <% if view.submodule_url && view.submodule_diff_summary_available? %>
      <a href="<%= view.submodule_compare_url %>">
        <%= view.submodule_diff_summary.changed_files %> files
      </a>
    <% elsif view.submodule_url %>
      <a href="<%= view.submodule_compare_url %>">
        from <%= view.diff_entry_short_a_blob %> to <%= view.diff_entry_short_b_blob %>
      </a>
    <% else %>
      from <%= view.diff_entry_short_a_blob %> to <%= view.diff_entry_short_b_blob %>
    <% end %>

    <% if view.render_submodule_diff_stats? %>
      <table class="submodule-diff-stats mx-4 my-2">
        <% view.each_submodule_diff_summary_delta_view do |delta_view| %>
          <tr>
            <td class="pr-2 text-right">
              <span class="color-fg-success">
                +<%= number_with_delimiter(delta_view.additions) %>
              </span>
              <span class="color-fg-danger">
                −<%= number_with_delimiter(delta_view.deletions) %>
              </span>
            </td>
            <td class="pr-2">
              <% if delta_view.added? %>
                <%= primer_octicon(:"diff-added", title: "added", vertical_align: :middle, color: :success) %>
              <% elsif delta_view.removed? %>
                <%= primer_octicon(:"diff-removed", title: "deleted", vertical_align: :middle, color: :danger) %>
              <% else %>
                <%= primer_octicon(:"diff-modified", title: "modified", vertical_align: :middle, color: :attention) %>
              <% end %>
            </td>
            <td>
              <a href="<%= view.submodule_compare_url %>#<%= diff_path_anchor(delta_view.path) %>">
                <%= reverse_truncate(delta_view.path, :length => 110) %>
              </a>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
</div>
