<div id="toc" class="d-flex flex-items-center js-details-container Details flex-1 my-2" style="gap: 4px 16px;">
  <%= render PullRequests::FileTree::ToggleComponent.new(
    classes: "d-inline-flex",
    split_diff: split_diff?,
    file_tree_visible: file_tree_visible?(file_count: file_list_view.changed_files),
  ) if file_tree_available %>

  <% if file_list_view.available? %>
    <div>
      Showing
      <strong><%= pluralize number_with_delimiter(file_list_view.changed_files), "changed file" %></strong>
      with
      <strong><%= pluralize number_with_delimiter(file_list_view.total_additions), "addition" %></strong>
      and
      <strong><%= pluralize number_with_delimiter(file_list_view.total_deletions), "deletion" %></strong>.
    </div>
  <% end %>

  <div class="flex-1"></div>
  <div class="d-flex d-inline-block">
    <%= form_tag diffview_path, class: "d-flex gap-2 flex-column flex-sm-row flex-items-end" do %>
      <%= render(Primer::Alpha::SegmentedControl.new(size: :small, aria: { label: "Whitespace"})) do |component| %>
        <% component.with_item("data-disable-with": "", type: :submit, name: "w", value: "0", selected: show_whitespace?, label: "Whitespace") %>
        <% component.with_item("data-disable-with": "", type: :submit, name: "w", value: "1", selected: !show_whitespace?, label: "Ignore whitespace") %>
      <% end %>
      <%= render(Primer::Alpha::SegmentedControl.new(size: :small, aria: { label: "Diff view"})) do |component| %>
        <% component.with_item("data-disable-with": "", type: :submit, name: "diff", value: "split", selected: split_diff?, label: "Split") %>
        <% component.with_item("data-disable-with": "", type: :submit, name: "diff", value: "unified", selected: !split_diff?, label: "Unified") %>
      <% end %>
      <%= hidden_field_tag "old_w", show_whitespace? ? "0" : "1" %>
      <%= hidden_field_tag "old_diff", split_diff? ? "split" : "unified" %>
    <% end %>
  </div>
</div>
