<%# erblint:counter DeprecatedInPrimerCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% if !file_list_view.available? %>
  <%= render :partial => "diff/availability", :locals => { :diff => file_list_view.diffs } %>
<% else %>
  <div id="toc" class="details-collapse table-of-contents js-details-container Details flex-1">
    <%= render "diff/diff_view_toggle" %>

    <div class="toc-diff-stats">
      <%= primer_octicon(:"file-diff") %>
      Showing
      <% if file_list_view.diffs.too_big? %>
        <strong><%= pluralize number_with_delimiter(file_list_view.changed_files), "changed file" %></strong>
      <% else %>
        <button type="button" class="btn-link js-details-target" aria-expanded="false">
          <%= pluralize number_with_delimiter(file_list_view.changed_files), "changed file" %>
        </button>
      <% end %>
      with
      <strong><%= pluralize number_with_delimiter(file_list_view.total_additions), "addition" %></strong>
      and <strong><%= pluralize number_with_delimiter(file_list_view.total_deletions), "deletion" %></strong>.
    </div>

    <% unless file_list_view.diffs.too_big? %>
      <ol class="content collapse js-transitionable overflow-y-hidden width-full">
        <% file_list_view.summary_delta_views.each do |delta_view| %>
        <li>
          <span class="diffstat float-right">
            <% if delta_view.unknown_changes? %>
              <a href="#<%= delta_view.anchor %>" class="tooltipped tooltipped-w" aria-label="<%= diff_file_type(delta_view) %> file <%= delta_view.status_label %>"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                <%= diff_label(delta_view) %>
                <% diffstat_block_class = delta_view.deleted? ? "diffstat-block-deleted" : "diffstat-block-added" %>
                <span class="<%= diffstat_block_class %>"></span><span class="<%= diffstat_block_class %>"></span><span class="<%= diffstat_block_class %>"></span><span class="<%= diffstat_block_class %>"></span><span class="<%= diffstat_block_class %>"></span>
              </a>
            <% elsif delta_view.simple_rename? %>
              <a href="#<%= delta_view.anchor %>" class="Link--muted tooltipped tooltipped-w" aria-label="File renamed without changes"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                <%= diff_label(delta_view) %>
                <span class="diffstat-block-neutral"></span><span class="diffstat-block-neutral"></span><span class="diffstat-block-neutral"></span><span class="diffstat-block-neutral"></span><span class="diffstat-block-neutral"></span>
              </a>
            <% else %>
              <span class="color-fg-success">
                +<%= number_with_delimiter(delta_view.additions) %>
              </span>
              <span class="color-fg-danger">
                −<%= number_with_delimiter(delta_view.deletions) %>
              </span>
              <a href="#<%= delta_view.anchor %>" class="tooltipped tooltipped-s" aria-label="<%= pluralize(number_with_delimiter(delta_view.changes), "line") %> changed"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                <%= delta_view.formatted_diffstat %>
              </a>
            <% end %>
          </span>
          <%= primer_octicon(delta_view.octicon, title: delta_view.status_label) %>
          <a href="#<%= delta_view.anchor %>"><%= diff_toc_label(delta_view) %></a>
        </li>
        <% end %>
      </ol>
    <% end %>
  </div>
<% end %>
