<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render(Primer::Beta::Flash.new(scheme: :warning, spacious: true)) do %>
  This diff is too large to display on one page. Use the table of contents
  below to view the diffs for individual files instead.
<% end %>

<div id="toc" class="details-collapse table-of-contents js-details-container Details">
  <div class="toc-diff-stats">
    <%= primer_octicon(:"file-diff") %>
    <%= pluralize number_with_delimiter(tree_diff.size), "changed file" %>
  </div>
  <%
  truncated = false
  rendered_items = 0
  %>
  <ol class="content">
    <%
    tree_diff.each_with_index do |entry, index|
      rendered_items = index + 1
      if request_time_left > 3.seconds
        path = entry["old_file"]["path"] || entry["new_file"]["path"]
    %>
      <li>
        <% case entry["status"]
        when "added" %>
        <%= primer_octicon(:"diff-added", :title => "added") %>
        <% when "modified" %>
        <%= primer_octicon(:"diff-modified", :title => "modified") %>
        <% when "deleted" %>
        <%= primer_octicon(:"diff-removed", :title => "deleted") %>
        <% end %>

        <a href="<%= diffable_file_path(diffable, path) %>">
          <%= reverse_truncate(path, :length => 110) %>
        </a>
      </li>
    <%
      else
        truncated = true and break
      end
    end
    %>
  </ol>

  <% if truncated %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, spacious: true)) do %>
    Truncated file list. <%= tree_diff.size - rendered_items %> files not shown
    <% end %>
  <% end %>
</div>
