<% if groups.empty? %>
  <button type="button" role="menuitem" class="select-menu-no-results select-menu-item width-full">No groups found.</button>
<% else %>
  <% groups.each do |group| %>
    <button type="button"
            role="menuitem"
            class="select-menu-item width-full"
            data-id="<%= group.id %>"
            data-name="<%= group.name %>"
            data-description="<%= group.description %>">
      <div class="select-menu-item-text">
        <span class="select-menu-item-heading"><%= group.name %></span>
        <span class="description note"><%= group.description %></span>
      </div>
    </button>
  <% end %>
<% end %>
