<% if user_feature_enabled?(:primer_experimental_selectpanel_external_identities) %>
  <% builder = Primer::Forms::Builder.new(nil, nil, self, {}) %>
  <% guest_collaborator_warning_selector = this_organization.default_repository_permission == :none ? "external-group-guest-collaborator-warning-no-permission" : "external-group-guest-collaborator-warning" %>
  <%= render(Primer::Alpha::SelectPanel::ItemList.new(
    select_variant: :single,
    form_arguments: { builder: builder, name: "external_group_team" },
    aria: { label: "groups" },
  )) do |list| %>
    <% groups.each do |group| %>
      <% if this_organization&.business %>
        <% contains_guest_collaborators = group_ids_with_guest_collaborator.include?(group.id) %>
      <% end %>
      <% list.with_item(
        active: group.id == team&.external_group_team&.external_group_id,
        content_arguments: {
          data: {
            id: group.id,
            value: group.display_name,
            input_name: "team[external_group_team][#{group.id}][display_name]",
            display_name: group.display_name
          },
          **test_selector_data_hash("external-group-select-menu-item-button"),
          **(contains_guest_collaborators ? { guest_collaborator_warning_selector => true } : {})
        }
      ) do |item| %>
        <span <%= test_selector("external-group-select-menu-item-heading") %>>
          <%= group.display_name %>
        </span>
        <% if contains_guest_collaborators %>
          <% item.with_description do %>
            <span <%= test_selector("external-group-guest-collaborator-label") %>>
              Contains guest collaborators
            </span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <% if groups.empty? %>
    <button type="button" role="menuitem" class="select-menu-no-results select-menu-item width-full">No groups found.</button>
  <% else %>
    <% guest_collaborator_warning_selector = this_organization.default_repository_permission == :none ? "external-group-guest-collaborator-warning-no-permission" : "external-group-guest-collaborator-warning" %>
    <% groups.each do |group| %>
      <% if this_organization&.business %>
        <% contains_guest_collaborators = group_ids_with_guest_collaborator.include?(group.id) %>
      <% end %>
      <button type="button"
              role="menuitem"
              class="select-menu-item width-full"
              data-id="<%= group.id %>"
              data-display-name="<%= group.display_name %>"
              <% if contains_guest_collaborators %><%= guest_collaborator_warning_selector %><% end %>
              <%= test_selector("external-group-select-menu-item-button") %>>
        <div class="select-menu-item-text">
          <span class="select-menu-item-heading" <%= test_selector("external-group-select-menu-item-heading") %>><%= group.display_name %></span>
          <% if contains_guest_collaborators %>
            <span class="description note" <%= test_selector("external-group-guest-collaborator-label") %>>Contains guest collaborators</span>
          <% end %>
        </div>
      </button>
    <% end %>
  <% end %>
<% end %>

