<div class="d-flex border-bottom py-3 flex-justify-between js-payment-summary">
  <div class="">
    <%= primer_octicon(:graph, classes: 'lfs-data-icon') %>
    Using
    <%= number_with_delimiter(target.asset_status.bandwidth_usage) %> of
    <%= number_with_delimiter(target.asset_status.bandwidth_quota.round) %> GB/<%= target.plan_duration %> of bandwidth
  </div>
  <div class="">

    <b><span class="unstyled-pack-bandwidth-total"><%= number_with_delimiter(data_pack_change.bandwidth_quota.round) %></span> GB/<%= target.plan_duration %></b>

  </div>
</div>


<div class="d-flex border-bottom flex-justify-between js-payment-summary">
  <div class="py-3">
    <%= primer_octicon(:database, classes: 'lfs-data-icon') %>
    Using
    <%= number_with_delimiter(target.asset_status.storage_usage) %> of
    <%= number_with_delimiter(target.asset_status.storage_quota.round) %> GB of storage
  </div>
  <div class="py-3">

    <b><span class="unstyled-pack-storage-total"><%= number_with_delimiter(data_pack_change.storage_quota.round) %></span> GB</b>

  </div>
</div>
