<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info \
  responsive: false,
  :title => "Downgrade data plan",
  :selected_link => :"#{params[:target] || "user"}_billing_settings" %>

<% content = capture do %>
  <% if target.invoiced? %>
    <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
      <%= render(Primer::Alpha::Banner.new(scheme: :warning, mb: 4)) do %>
        Please contact your sales representatives or <a class="Link--inTextBlock" href="https://github.com/enterprise/contact" target="_blank" rel="noreferrer">our sales team</a> to remove data packs from your plan.
      <% end %>
    <% else %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 4)) do %>
        Please contact your sales representatives or <a class="Link--inTextBlock" href="https://github.com/enterprise/contact" target="_blank" rel="noreferrer">our sales team</a> to remove data packs from your plan.
      <% end %>
    <% end %>
  <% elsif target.in_a_sales_managed_business? %>
    <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
      <%= render(Primer::Alpha::Banner.new(scheme: :warning, mb: 4)) do %>
        Please contact your GitHub Enterprise administrator to remove data packs from your plan.
      <% end %>
    <% else %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 4)) do %>
        Please contact your GitHub Enterprise administrator to remove data packs from your plan.
      <% end %>
    <% end %>
  <% else %>

    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        <%= link_to "Billing", target_billing_path(target), "data-pjax" => true %>
         / Downgrade data plan
      <% end %>
    <% end %>

    <%= form_for data_pack_change.asset_status,
        :method => :put,
        :url => target_billing_data_plan_path(target) do |f| %>

      <div class="d-flex border-bottom pb-3 flex-justify-between">
        <div><%= pluralize(target.data_packs, "data pack") %></div>
        <div>
          <%= select_tag "asset_status[total_packs]",
            options_for_select(data_pack_change.downgrade_options, data_pack_change.total_packs),
            :class            => "lfs-data-pack-field mr-2 js-addon-downgrade-field",
            :required         => "required",
            :autofocus        => "autofocus",
            "data-url"        => target_billing_downgrade_data_plan_path(target),
            "data-item-name"  => "packs",
            "data-item-count" => target.data_packs,
            "aria-label"      => "select number of packs"
          %>
          <span class="new-addon-items"><span class="unstyled-total-data-packs-label"><%= "data pack".pluralize(data_pack_change.total_packs) %></span></span>
          <span class="addon-cost">
            @ <%= data_pack_change.human_data_pack_unit_price %>
          </span>
          <% if data_pack_change.min_packs_to_cover_usage == 0 %>
            <%= render(Primer::Beta::IconButton.new(
              aria: { label: "You’ll need to reduce your usage before being able to downgrade below #{pluralize(data_pack_change.min_packs_to_cover_usage, "data pack")}" },
              size: :small,
              icon: "info",
              scheme: :invisible,
              tooltip_direction: :s,
            )) %>
          <% end %>
        </div>
      </div>

      <%= render :partial => "asset_status/usage", locals: { data_pack_change: data_pack_change, target: target } %>

      <p class="note mt-4">
        Changes will be reflected on your next bill.
        You are currently paying <b><%= target.data_pack_price.format(:no_cents_if_whole => true) %></b> per
        <%= target.plan_duration %> for
        <b><%= pluralize target.data_packs, "data pack" %></b>.

        Each data pack gives you an additional <%= data_pack_change.data_pack_storage_size.round %>
        GB storage,
        <%= data_pack_change.data_pack_bandwidth_size.round %>
        GB/month bandwidth.

        <%= link_to "Looking to purchase additional data packs instead?", target_billing_upgrade_data_plan_path(target), class: "Link--inTextBlock" %>

      </p>

      <p id="downgrade-disabled-message" class="note mt-4">
        To downgrade the number of data packs, please ensure your Git LFS usage is within plan limits by
        <a class="Link--inTextBlock" href="https://docs.github.com/repositories/working-with-files/managing-large-files/removing-files-from-git-large-file-storage">removing files from Git LFS storage</a>
        or
        <a class="Link--inTextBlock" href="https://docs.github.com/repositories/creating-and-managing-repositories/deleting-a-repository">deleting a repository.</a>
        Without a data pack, every account receives 1 GB of free storage and 1 GB of free bandwidth. See
        <a class="Link--inTextBlock" href="https://docs.github.com/billing/managing-billing-for-git-large-file-storage/about-billing-for-git-large-file-storage">About billing for Git Large Files Storage</a>
        for details.
      </p>

      <p class="form-submit mt-4">
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, classes: "js-downgrade-button", "aria-label": "Downgrade data plan", "data-disable-with": "Downgrading…") do %>Downgrade data plan<% end %>
        <%= link_to "Cancel", target_billing_path(target), :class => "btn" %>
      </p>
    <% end %>
  <% end %>
<% end %>

<% if current_context.is_a?(Organization) %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "settings/settings" do %>
    <%= content %>
  <% end %>
<% end %>
