<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% page_info \
  :title => "Upgrade data plan",
  responsive: false,
  :selected_link => :"#{params[:target] || "user"}_billing_settings" %>

<% trade_screening_error_data = trade_screening_cannot_proceed_error_data(target: target) %>

<% content = capture do %>
  <% if target.invoiced? %>
     <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 4)) do %>
      Please contact your sales representatives or <a class="Link--inTextBlock" href="https://github.com/enterprise/contact" target="_blank" rel="noreferrer">our sales team</a> to add more data packs to your plan.
    <% end %>
  <% elsif target.in_a_sales_managed_business? %>
    <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
      <%= render(Primer::Alpha::Banner.new(scheme: :warning, mb: 4)) do %>
        Please contact your GitHub Enterprise administrator to add more data packs to your plan.
      <% end %>
    <% else %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 4)) do %>
        Please contact your GitHub Enterprise administrator to add more data packs to your plan.
      <% end %>
    <% end %>
  <% else %>

    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        <%= link_to "Billing", target_billing_path(target), "data-pjax" => true %>
         / Upgrade data plan
      <% end %>
    <% end %>

    <p>A data plan is only necessary if you are using
    <%= link_to "Git Large File Storage (Git LFS)", "https://git-lfs.github.com?utm_source=github_site&utm_medium=billing_upgrade_link&utm_campaign=gitlfs", class: "Link--inTextBlock" %>.</p>

    <% if allowed_to_purchace_data_packs? %>
      <%= form_for data_pack_change.asset_status,
        :method => :put,
        :url => target_billing_data_plan_path(target),
        :html => {"aria-label": "Upgrade data plan"} do |f| %>

        <%= render "asset_status/upgrade_form_fields",
          f: f,
          data_pack_change: data_pack_change,
          target: target
        %>
      <% end %>
    <% else %>
      <div class="border-top py-3">
        <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
          <%= render(Primer::Alpha::Banner.new(icon: trade_screening_error_data[:icon], scheme: trade_screening_error_data[:scheme])) do %>
            <h2 class="h5">
              You can't proceed at this time
            </h2>
            <div class="ml-5" <%= test_selector("trade-screening-message") %>>
              <%= trade_screening_error_data[:message] %>
            </div>
          <% end %>
        <% else %>
          <%= render(Primer::Beta::Flash.new(scheme: trade_screening_error_data[:scheme])) do %>
            <h2 class="h5">
              <%= render(Primer::Beta::Octicon.new(trade_screening_error_data[:icon])) %>
              You can't proceed at this time
            </h2>
            <div class="ml-5" <%= test_selector("trade-screening-message") %>>
              <%= trade_screening_error_data[:message] %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if current_context.is_a?(Organization) %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "settings/settings" do %>
    <%= content %>
  <% end %>
<% end %>
