<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% primary_name = member.safe_profile_name
   secondary_name = member.profile_name.present? ? member.display_login : nil %>
<% title = capture do %>
  <span><%= primary_name  %></span>
  <% if secondary_name %>
    <span class="color-fg-muted f2-light"><%= secondary_name %></span>
  <% end %>
  <% if member.spammy? %>
    <%= render "shared/under_review_label" %>
  <% end %>
<% end %>

<% page_info title: "#{this_business.name} - #{primary_name}",
  stafftools: stafftools_enterprise_path(this_business),
  selected_link: :business_people %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: title,
    back_to_link_path: enterprise_admins_path(this_business),
    back_to_link_text: "administrators"
  } do %>
  <div class="gutter d-flex">
    <%= render BusinessUserAccounts::SidebarComponent.new(
      business: this_business,
      user: member,
      business_user_account: view.business_user_account,
      organization_count: view.organization_count,
      installation_count: view.installation_count,
      collab_repo_count: view.collaborator_repo_count
    ) %>

    <div class="col-9">
      <div class="d-flex flex-items-center flex-justify-between mb-4">
        <div class="d-flex">
          <nav aria-label="Enterprise Invitation type">
            <%= selected_link_to "Member",
                                 enterprise_pending_member_path(this_business, member),
                                 class: "subnav-item" %>
            <%= selected_link_to "Collaborator",
                                 enterprise_pending_collaborator_path(this_business, member),
                                 class: "subnav-item" %>
            <%= selected_link_to "Administrator",
                                 enterprise_pending_admin_path(this_business, member),
                                 class: "subnav-item" %>
          </nav>
        </div>
      </div>

      <div>
        <div class="d-flex table-list-header table-list-header-next">
          <span class="table-list-heading table-list-header-meta flex-auto">
            <%= number_with_delimiter invitations.count %>
            pending administrator
            <%= pluralize_without_number invitations.count, "invitation" %>
          </span>
        </div>

        <% if invitations.count > 0 %>
          <ul>
            <% invitations.each do |pending_invite| %>
              <% invitee = pending_invite.invitee %>

              <% cancel_invite = capture do %>
                <%= render layout: "shared/details_dialog", locals: {
                  button_text: "Cancel",
                  button_class: "btn btn-sm btn-danger",
                  title: "Cancel invitation?",
                } do %>
                  <div class="Box-body">
                    Are you sure you want to cancel the invitation for
                    <%= pending_invite.email_or_invitee_login %>
                    to become <%= pending_invite.role_for_message %>
                    of <%= this_business.name %>?
                  </div>
                  <div class="Box-footer">
                    <%= form_tag enterprise_admin_invitation_path(this_business.slug, pending_invite.id), method: :delete do %>
                      <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Cancel<% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>

              <%= render Businesses::UserListCardComponent.new(
                user: invitee,
                user_link: invitee.spammy? ? nil : user_path(invitee),
                user_link_data_options: hovercard_data_attributes_for_user(invitee),
                primary_name: invitee.safe_profile_name,
                secondary_name: invitee.profile_name.present? ? invitee.display_login : nil,
                subtitle: Business.admin_role_for(pending_invite.role),
                display_login: invitee.display_login,
                spammy: invitee.spammy?
              ) do %>
                <%= cancel_invite %>
              <% end %>
            <% end %>
          </ul>
        <% else %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_visual_icon(icon: "mail") %>

            <% c.with_heading(tag: :h2) do %>
              No invitations
            <% end %>

            <% c.with_description do %>
              <%= "There aren’t any pending administrator invitations in this enterprise for '#{member.display_login}'." %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
