<% primary_name = member.safe_profile_name
   secondary_name = member.profile_name.present? ? member.display_login : nil %>
<% title = capture do %>
  <span><%= primary_name  %></span>
  <% if secondary_name %>
    <span class="color-fg-muted f2-light"><%= secondary_name %></span>
  <% end %>
  <% if member.spammy? %>
    <%= render "shared/under_review_label" %>
  <% end %>
<% end %>

<% page_info title: "#{this_business.name} - #{primary_name}",
  stafftools: stafftools_enterprise_path(this_business),
  selected_link: :business_people %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: title,
    back_to_link_path: enterprise_outside_collaborators_path(this_business),
    back_to_link_text: outside_collaborators_verbiage(this_business)
  } do %>
  <div class="gutter d-flex">
    <% invitations_view = Businesses::InvitationsView.new(business: this_business, user: member) %>
    <%= render BusinessUserAccounts::SidebarComponent.new(
      business: this_business,
      user: member,
      business_user_account: invitations_view.business_user_account,
      organization_count: invitations_view.organization_count,
      installation_count: invitations_view.installation_count,
      collab_repo_count: invitations_view.collaborator_repo_count
    ) %>

    <div class="col-9">
      <div class="d-flex flex-items-center flex-justify-between mb-4">
        <div class="d-flex">
          <nav aria-label="Enterprise Invitation type">
            <%= selected_link_to "Member",
                                 enterprise_pending_member_path(this_business, member),
                                 class: "subnav-item" %>
            <%= selected_link_to "Collaborator",
                                 enterprise_pending_collaborator_path(this_business, member),
                                 class: "subnav-item" %>
            <%= selected_link_to "Administrator",
                                 enterprise_pending_admin_path(this_business, member),
                                 class: "subnav-item" %>
          </nav>
        </div>
      </div>

      <div>
        <% repositories = invitations.map &:repository %>
        <div class="d-flex table-list-header table-list-header-next">
          <span class="table-list-heading table-list-header-meta flex-auto">
            <%= number_with_delimiter repositories.size %>
            pending <%= outside_collaborators_verbiage(this_business).singularize %>
            <%= pluralize_without_number repositories.size, "invitation" %>
          </span>
        </div>

        <% if repositories.any? %>
          <ul class="table-list table-list-bordered">
            <% repositories.each do |repository| %>
              <li class="d-flex flex-justify-between border border-top-0 p-3">
                <div class="d-flex">
                  <div class="d-flex flex-column">
                    <div class="d-flex f4">
                      <% if repository.private? %>
                        <%= primer_octicon(:lock, height: 18, color: :muted, mr: 2, mt: 1) %>
                      <% else %>
                        <%= primer_octicon(:repo, height: 18, color: :muted, mr: 2, mt: 1) %>
                      <% end %>
                      <%= repository.name_with_display_owner %>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        <% else %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_visual_icon(icon: "mail") %>

            <% c.with_heading(tag: :h2) do %>
              No invitations
            <% end %>

            <% c.with_description do %>
              <%= "There aren’t any pending #{outside_collaborators_verbiage(this_business).singularize} invitations in this enterprise for '#{member.display_login}'." %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
