<div <%= test_selector(@test_selector) if @test_selector %>>
  <% if @disabled %>
    <button type="button" class="<%= @button_class %>" aria-disabled="true" aria-label="<%= @button_aria_label %>" title="<%= @title %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <%= @summary_button_text %>
    </button>
  <% else %>
    <%= render GitHub::DialogComponent.new(title: @title) do |c| %><%# erblint:disable A11yDetailsDialogMigration %>
      <% if @warning_text %>
        <% c.with_alert do %>
          <%= @warning_text %>
        <% end %>
      <% end %>

      <% c.with_summary do %>
        <summary class="<%= @button_class %>" aria-label="<%= @button_aria_label %>">
          <%= @summary_button_text %>
        </summary>
      <% end %>

      <% c.with_body do %>
        <p class="ws-normal" tabindex="0"><%= @dialog_text %></p>
        <% if include_checkbox? %>
          <%= render partial: "settings/organization/security_analysis_enable_checkbox", locals: {
            name: @checkbox_name,
            id: @checkbox_id,
            checked_condition: @checkbox_condition,
            label_text: @checkbox_label,
            description_text: @checkbox_description
          } %>
        <% end %>
      <% end %>

      <% c.with_footer do %>
        <input type="hidden" name="<%= @input_name %>" value="<%= @input_value %>">
        <button
          type="submit"
          <% if @data_octo_click %>data-octo-click="<%= @data_octo_click %>"<% end %>
          <% if @data_octo_dimensions %>data-octo-dimensions="enabled:<%= @data_octo_dimensions %>,location:settings"<% end %>
          class="btn-block <%= @button_class %>"
          data-close-dialog>
          <%= @confirm_button_text %>
        </button>
      <% end %>
    <% end %>
  <% end %>
</div>
