<%# locals: (scheduled_jobs:) %>
<% page_info title: "Security Center", selected_link: :security_center %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h1) do %>
      Security center
    <% end %>
  <% end %>

  <%= render(Primer::Beta::Subhead.new(hide_border: true, spacious: true)) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Dead letter queue
    <% end %>
  <% end %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3, test_selector: "security-center-dlq-details")) do |component| %>
    <% component.with_header(p: 2) do |h| %>
      <% h.with_title(tag: :h3) do %>
        <%= scheduled_jobs.length %> jobs scheduled for rerun.
        <% dashboard_url = "https://app.datadoghq.com/s/59fe6c40c/8ip-g98-urb" %>
        Click <%= render(Primer::Beta::Link.new(href: dashboard_url, classes: "Link--inTextBlock")) { "here" } %> to view the dashboard.
      <% end %>
    <% end %>

    <% if scheduled_jobs.any? %>
      <% component.with_body(p: 0) do %>
        <table class="site-admin-table mb-0 border-0">
          <thead>
            <tr>
              <th>Class</th>
              <th>Arguments</th>
              <th>Scheduled at</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% scheduled_jobs.each_with_index do |job, index| %>
              <tr>
                <td><%= job.job_class %></td>
                <td><%= job.arguments %></td>
                <td><%= Time.at(job.scheduled_time) %></td>
                <td>
                  <%= render(Primer::Box.new(test_selector: "run-now-#{index}")) do %>
                    <%= form_tag stafftools_security_center_dlq_run_job_path({ job_cache_key: job.key }), method: :post do %>
                      <%= render Primer::Beta::Button.new(type: :submit) do %>Run now<% end %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  <% end %>
<% end %>
