<%# erblint:counter DeprecatedComponentsCounter 3 %>
<details class="details-reset details-overlay details-overlay-dark">
  <%= render Primer::ButtonComponent.new(
    tag: :summary,
    scheme: :primary
  ) do %>
    Reattribute
  <% end %>
  <details-dialog class="anim-fade-in fast Box p-6 Box-overlay--wide"><%# erblint:disable A11yDetailsDialogMigration %>
    <button class="btn-octicon position-absolute right-0 top-0 p-4"
            type="button"
            aria-label="Close dialog"
            data-close-dialog>
      <%= primer_octicon(:x) %>
    </button>
    <%= render Primer::BlankslateComponent.new(
      icon: "organization",
      title: "Reattribute #{mannequin.source_login}'s contributions",
    ) do %>
      <p>Only users that are part of the <strong><%= current_organization %></strong> organization will appear in the search.</p>
      <%= form_tag create_org_attribution_invitation_path(current_organization) do %>
        <%= hidden_field_tag :source_login, mannequin.login, id: "source-#{mannequin.display_login}" %> <%# rubocop:disable GitHub/DoNotAllowLogin %>
        <div class="input-group mt-3">
          <%= render "settings/organization/import_export/target_auto_complete" %>
          <div class="input-group-button">
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, classes: "js-auto-complete-button") do %>
              Invite
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </details-dialog>
</details>
