<%
    page_info responsive: false, title: "Import/Export",
    hide_marketplace_retargeting_notice: true,
    hide_marketplace_pending_installations_notice: true,
    selected_link: :organization_import_export_settings
  %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render layout: "settings/organization/import_export/layout" do %>
    <p class="mt-3 mb-3">
    Below are the mannequin reattribution invitations that have been sent within
    this organization. If the state is "invited," then the user has not yet replied;
    if it is "completed," then the user has accepted and their contributions have
    been reattributed, and if it is "rejected," then the user opted not to be
    credited for that mannequin's contributions.
    </p>

    <% if invitations.any? %>
      <div>
        <table class="Box width-full">
          <thead class="Box-header">
            <tr>
              <th class="Box-title text-left border-bottom p-3">Source</th>
              <th class="Box-title text-left border-bottom p-3">Target</th>
              <th class="Box-title text-left border-bottom p-3">Status</th>
            </tr>
          </thead>
          <tbody>
            <% invitations.each do |invitation| %>
              <%= render "settings/organization/import_export/invitation_row", invitation: invitation %>
            <% end %>
          </tbody>
        </table>
      </div>
      <% if invitations.total_pages > 1 %>
        <div class="paginate-container">
          <%= will_paginate invitations %>
        </div>
      <% end %>
    <% else %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_heading(tag: :h2) do %>
          No attribution invitations have been sent
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
