<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%
    page_info responsive: false, title: "Import/Export",
    hide_marketplace_retargeting_notice: true,
    hide_marketplace_pending_installations_notice: true,
    selected_link: :organization_import_export_settings
  %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render layout: "settings/organization/import_export/layout" do %>
    <div class="subnav org-toolbar d-flex flex-items-center">
      <%= form_tag settings_org_import_export_path, :method => :get, :class => "subnav-search float-left" do %>
        <input
          name="query"
          value="<%= params[:query] %>"
          placeholder="Search mannequins by login or email..."
          class="form-control subnav-search-input"
          aria-label="Search mannequins by login or email"
               >
        <%= primer_octicon(:search, classes: 'subnav-search-icon') %>
      <% end %>
      <% if params[:query].present? %>
        <a class="issues-reset-query" href="<%= settings_org_import_export_path %>" data-pjax>
          <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
          Clear current search query
        </a>
      <% end %>
    </div>
    <div>

      <div class="Box width-full">
        <div class="Box-header TableObject">
          <div class="TableObject-item TableObject-item--primary text-bold">
            Mannequins
          </div>
          <% tooltip_text = <<-TOOLTIP
Mannequins represent authors of imported contributions. They do not have profile pages and cannot sign in. Their contributions can be reattributed to other members of your organization.
          TOOLTIP
        %>
      <div class="TableObject-item">
        <span
          class="tooltipped tooltipped-s tooltipped-multiline m-2 p-2"
          aria-label="<%= tooltip_text %>"
          ><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
          <%= primer_octicon(:question) %>
        </span>
      </div>
        </div>
        <div>
          <% if mannequins.any? %>
            <% mannequins.each do |mannequin| %>
              <% unless mannequin.claimant_login.present? %>
                <%= render "settings/organization/import_export/mannequin_row", mannequin: mannequin %>
              <% end %>
            <% end %>
        </div>
      </div>
    <% else %>
      <%
        no_mannequins_message = if params[:query].present?
          "No matching mannequins were found"
          else
          "There are no mannequins in this organization"
          end
      %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_heading(tag: :h2) do %>
          <%= no_mannequins_message %>
        <% end %>
      <% end %>
    <% end %>
    <% if mannequins.total_pages > 1 %>
      <div class="paginate-container">
        <%= will_paginate mannequins %>
      </div>
    <% end %>
  <% end %>
<% end %>
