
<dl class="d-flex flex-justify-start mt-0 mb-2">
  <dt class="d-flex flex-items-center col-4 text-bold">
    <%= health_check_icon !has_trade_restrictions, mr: 2 %>
    <div>
      SDN<sup>*</sup> trade screening status:
      <div class="note text-normal">* Specially Designated National</div>
    </div>
  </dt>
  <dd class="d-block col-8" <%= test_selector("trade-screening-status") %>>
    <%= trade_screening_status %> -
    <% if has_trade_restrictions %>
      Blocked from Sponsors commercial interactions
    <% else %>
      Cleared for Sponsors commercial interactions
    <% end %>
  </dd>
</dl>
<dl class="d-flex flex-justify-start mt-0 mb-2">
  <dt class="d-flex flex-items-center col-4 text-bold">
    <%= health_check_icon abuse_report_count < 1, mr: 2 %>
    Abuse reports:
  </dt>
  <dd class="d-block col-8"><%= abuse_report_count %></dd>
</dl>
<dl class="d-flex flex-justify-start mt-0 mb-2">
  <dt class="d-flex flex-items-center col-4 text-bold">
    <%= health_check_icon !recently_created_github_account, mr: 2 %>
    Account age:
  </dt>
  <dd class="d-block col-8">
    <%= time_ago_in_words signup_time %> &mdash; <%= signup_time.in_time_zone.to_formatted_s(:date) %>
  </dd>
</dl>
<dl class="d-flex flex-justify-start mt-0 mb-2">
  <dt class="d-flex flex-items-center col-4 text-bold">
    <%= health_check_icon has_customized_user_profile, mr: 2 %>
    Customized user profile?
  </dt>
  <dd class="d-block col-8"><%= has_customized_user_profile ? "yes" : "no" %></dd>
</dl>
<dl class="d-flex flex-justify-start mt-0 mb-2">
  <dt class="d-flex flex-items-center col-4 text-bold">
    <%= health_check_icon blocked_by_count <= 15, mr: 2 %>
    Other users blocking this account:
  </dt>
  <dd class="d-block col-8"><%= blocked_by_count %></dd>
</dl>
<dl class="d-flex flex-justify-start mt-0 mb-2">
  <dt class="d-flex flex-items-center col-4 text-bold">
    <%= health_check_icon follower_count >= 5, mr: 2 %>
    Followers:
  </dt>
  <dd class="d-block col-8"><%= follower_count %></dd>
</dl>
<dl class="d-flex flex-justify-start mt-0 mb-2">
  <dt class="d-flex flex-items-center col-4 text-bold">
    <%= health_check_icon public_contribution_count >= 100, mr: 2 %>
    Public contributions:
  </dt>
  <dd class="d-block col-8"><%= public_contribution_count %></dd>
</dl>
<dl class="d-flex flex-justify-start mt-0 mb-2">
  <dt class="d-flex flex-items-center col-4 text-bold">
    <%= health_check_icon has_public_non_fork_repository, mr: 2 %>
    Any public, non-fork repositories?
  </dt>
  <dd class="d-block col-8"><%= has_public_non_fork_repository ? "yes" : "no" %></dd>
</dl>
<% if is_user %>
  <% if time_zone_name.present? %>
    <dl class="d-flex flex-justify-start mt-0 mb-2">
      <dt class="d-flex flex-items-center col-4 text-bold">
        <%= health_check_icon has_supported_timezone, mr: 2 %>
        Supported time zone?
      </dt>
      <dd class="d-block col-8" <%= test_selector("supported-time-zone") %>>
        <%= has_supported_timezone ? "yes" : "no" %> &mdash;
        <%= time_zone_name %> time zone
      </dd>
    </dl>
    <dl class="d-flex flex-justify-start mt-0 mb-2">
      <dt class="d-flex flex-items-center col-4 text-bold">
        <%= health_check_icon timezone_matches_country_of_residence, mr: 2 %>
        Time zone matches residence?
      </dt>
      <dd class="d-block col-8" <%= test_selector("time-zone-matches-residence") %>>
        <%= timezone_matches_country_of_residence ? "yes" : "no" %> &mdash;
        <%= country_of_residence.presence || "unknown country or region of residence" %>
      </dd>
    </dl>
  <% else %>
    <dl class="d-flex flex-justify-start mt-0 mb-2">
      <dt class="d-flex flex-items-center col-4 text-bold">
        <%= health_check_icon false, mr: 2 %>
        Time zone:
      </dt>
      <dd class="d-block col-8">unknown time zone</dd>
    </dl>
  <% end %>
<% end %>
