<%# rubocop:disable Lint/InstanceVariable %>
<% view = Stafftools::FileserversView.new(sort: params[:sort]) %>
<% page_info title: "Git fileserver health" %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Git fileserver health
    <% end %>
  <% end %>

  <% if @statuses.any? %>
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
      <% component.with_header(clearfix: true) do %>
        <div class="col-2 float-left">
          <%= view.sortable_header "host", "down", "Hostname", "hostname" %>
        </div>
        <div class="col-1 float-left">
          <%= view.sortable_header "disk_free", "up", "Disk free", "free disk space" %>
        </div>
        <div class="col-1 float-left">
          <%= view.sortable_header "cpu_load", "down", "CPU load", "CPU load" %>
        </div>
        <div class="col-1 float-left">
          <%= view.sortable_header "git_ops", "down", "Active ops", "active git operations" %>
        </div>
        <div class="col-2 float-left">
          <%= view.sortable_header "num_repos", "down", "# repos (approx)", "approximate number of repositories" %>
        </div>
        <div class="col-2 float-left">
          <%= view.sortable_header "num_gists", "down", "# gists (approx)", "approximate number of gists" %>
        </div>
        <div class="col-1 float-left">
          <%= view.sortable_header "cpu_health", "up", "CPU health", "CPU health" %>
        </div>
        <div class="col-1 float-left">
          <%= view.sortable_header "mem_health", "up", "Mem health", "Memory health" %>
        </div>
        <div class="col-1 float-left">
          <%= view.sortable_header "queue_health", "up", "Queue health", "Ernicorn queue health" %>
        </div>
      <% end %>

      <% @statuses.each do |status| %>
        <% component.with_row(p: 0, m: 0, clearfix: true) do %>
          <div class="col-2 float-left p-1">
            <b><%= short_host(status[:host]) %></b>
          </div>
          <div class="col-1 float-left p-1 <%= status_category(status, :disk_free) %>">
            <%= fmt_pct status[:disk_free] %>
          </div>
          <div class="col-1 float-left p-1 <%= status_category(status, :cpu_load) %>">
            <%= status[:cpu_load] %><%= " / #{status[:cpu_count]}" if status[:cpu_count] %>
          </div>
          <div class="col-1 float-left p-1 <%= status_category(status, :git_ops) %>">
            <%= number_with_delimiter status[:git_ops] %>
          </div>
          <div class="col-2 float-left p-1 <%= status_category(status, :num_repos) %>">
            <%= number_with_delimiter status[:num_repos] %>
          </div>
          <div class="col-2 float-left p-1 <%= status_category(status, :num_gists) %>">
            <%= number_with_delimiter status[:num_gists] %>
          </div>
          <div class="col-1 float-left p-1 <%= status_category(status, :cpu_health) %>">
            <%= fmt_pct status[:cpu_health] %>
          </div>
          <div class="col-1 float-left p-1 <%= status_category(status, :mem_health) %>">
            <%= fmt_pct status[:mem_health] %>
          </div>
          <div class="col-1 float-left p-1 <%= status_category(status, :queue_health) %>">
            <%= fmt_pct status[:queue_health] %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No online fileservers found
      <% end %>
    <% end %>
  <% end %>
<% end %>
