<% content_for :header do %>
  <%= @display_login %> will be upgraded to an enterprise account on <%= @upgrade_date %>
<% end %>

<%= render(Mail::HeaderTitleComponent.new(title: "#{@display_login} will be upgraded to an enterprise account on #{@upgrade_date}", avatar: @organization)) %>
<%= render(Mail::SpacerComponent.new) %>
<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Dear Customer,
    </p>
    <p>
      You are receiving this email because you are an owner of <%= @display_login %>, which uses GitHub Enterprise Cloud.
    </p>
    <p>
      We want to inform you that <%= @display_login %> is scheduled for an automatic upgrade to an enterprise account, expected on <%= @upgrade_date %>. In June 2024,we <a href="<%= @changelog_url %>">announced</a> that <strong>enterprise customers who currently have a single organization without an enterprise account will be automatically upgraded to have an enterprise account at no cost</strong>.
    </p>
    <p>
      You have the option to voluntarily upgrade before <%= @upgrade_date %> by visiting 'Billing and Plans' under the account's settings page, or by using the 'Upgrade now' button below. If you choose not to, the upgrade will occur automatically on <%= @upgrade_date %>.
    </p>
    <p>
      Please note that the upgrade date could change if unexpected issues arise. Should this occur, we will notify you with the updated schedule.
    </p>
    <p> <strong>Timeline & Expectation for migration</strong> </p>
    <ul class="ml-3">
      <li>
        Voluntary Upgrade (Now - <%= @upgrade_date %>): Any administrator of <%= @display_login %> can proactively upgrade their existing account to an enterprise account via `Billing and Plans` under the account's settings page.
      </li>
      <li>
        Automatic Upgrade (Expected on <%= @upgrade_date %>): If an upgrade was not completed during the voluntary phase, <%= @display_login %> will be automatically upgraded.
      </li>
      <li>
        On the scheduled upgrade date, if not yet upgraded, <%= @display_login %> will be nested under a new assigned enterprise account.
        <ul class="ml-6">
          <li>
            The new enterprise account name will match the organization's name, or as close as possible if the name is already taken, and customers may choose to rename after the upgrade.
          </li>
          <li>
            There will be no change in ownership, all of the existing owners will remain the owners of the new enterprise account. The organization's URL will not change, so existing usage of the repos or organization URL will not be impacted.
          </li>
          <li>
            Existing configurations such as SAML SSO, PATs, policies, and application integrations should remain with the organization, unless there's an override at the enterprise account.
          </li>
          <li>
            Existing coupons will be transferred and continue to apply to your new enterprise account.
          </li>
        </ul>
      </li>
    </ul>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      For more information, you can visit our <a href="<%= @faq_url %>"> FAQ page</a> related to this automated upgrade.
    </p>

    <%= render(Mail::SpacerComponent.new) %>
    <%= render(Mail::ButtonComponent.new(text: "Upgrade now", url: @upgrade_url, classes: "btn-primary btn-large")) %>
    <%= render(Mail::SpacerComponent.new) %>

    <p class="email-body-subtext">
      <strong>Note:</strong> If you get a 404 page, make sure you’re signed in as an owner of <%= @display_login %>.
    </p>
  <% end %>
<% end %>

<% content_for :content_footer do %>
  <%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      Button not working? Paste the following link into your browser: <a href="<%= @upgrade_url %>"><%= @upgrade_url %></a>
    <% end %>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  You're receiving this email because you're an owner of the <%= @display_login %> organization on GitHub.
<% end %>
