<%
rows_digest = Digest::SHA256.hexdigest(rows.to_json)
version = "v1"
cache_key = "site_premium_support_comparison_row_#{rows_digest}_#{version}"

cache cache_key do
  rows.each do |row| %>
    <div role="row" class="d-flex flex-wrap gutter flex-md-nowrap border-bottom pt-5 pb-4 pt-md-7 pb-md-6 width-full width-md-auto">
      <div role="rowheader" class="col-12 col-md-3 position-relative text-left my-md-3">
        <% if row[:description].present? %>
          <details class="p-0 d-flex faq-mktg-item">
            <summary class="position-relative list-style-none pl-5 premium-support-row-description ml-n3">
              <span class="faq-mktg-marker" aria-hidden="true"></span>
              <%= render "site/enterprise/premium_support/compare_features_row_title", row: row %>
            </summary>
            <include-fragment class="d-flex pl-5 mt-2 flex-row color-fg-muted ml-n3">
              <%= GitHub::Goomba::MarkdownPipeline.to_html(row[:description], cache_settings: { use_cache: true }) %>
            </include-fragment>
          </details>
        <% else %>
          <div class="d-flex p-0 pl-5 ml-n3">
            <%= render "site/enterprise/premium_support/compare_features_row_title", row: row %>
          </div>
        <% end %>
      </div>

      <div role="cell" class="col-3 d-none d-md-block js-compare-features-item" data-plan="enterprise">
        <div class="height-full py-3">
          <% if row[:enterprise].present? && row[:enterprise] %>
            <%= GitHub::Goomba::MarkdownPipeline.to_html(row[:enterprise], cache_settings: { use_cache: true }) %>
          <% else %>
            n/a
          <% end %>
        </div>
      </div>

      <div role="cell" class="col-3 d-none d-md-block js-compare-features-item" data-plan="premium">
        <div class="height-full py-3">
          <% if row[:premium].present? && row[:premium_plus] %>
            <%= GitHub::Goomba::MarkdownPipeline.to_html(row[:premium], cache_settings: { use_cache: true }) %>
          <% else %>
            n/a
          <% end %>
        </div>
      </div>

      <div role="cell" class="col-3 d-none d-md-block js-compare-features-item" data-plan="premium-plus">
        <div class="height-full py-3">
          <% if row[:premium_plus].present? && row[:premium_plus] %>
            <%= GitHub::Goomba::MarkdownPipeline.to_html(row[:premium_plus], cache_settings: { use_cache: true }) %>
          <% else %>
            n/a
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
