<div class="container-xl p-responsive mt-9 mt-md-12 mb-9 mb-md-12 py-lg-8 position-relative z-2">
  <h2 class="h4-mktg text-semibold mb-5 mb-md-7 text-md-center mx-md-auto col-10 col-lg-8">Already an existing customer?</h2>

  <div class="d-flex flex-wrap gutter">
    <div class="col-12 col-lg-6 mb-4 mb-md-5">
      <div class="color-bg-subtle border p-5 pt-md-7 pr-md-7 pb-md-7 pl-md-7 rounded-3 height-full d-flex flex-column">
        <img src="<%= image_path("modules/site/premium-support/github-enterprise.svg") %>" alt="GitHub Enterprise" width="137" height="32" class="d-block mb-7">
        <h3 class="h5-mktg text-semibold mb-4 mb-md-7">Upgrade to GitHub Premium Support to drive impact quickly.</h3>
        <ul class="list-style-none f4-mktg p-0 pt-3 pt-md-6 border-top">
          <% [
            "Experience faster responses 24/7 to maximize your uptime",
            "Receive expert support in one central location",
            "Get a dedicated engineer who knows your account"
          ].each do |benefit| %>
            <li class="position-relative pl-4 mt-2">
              <%= render Primer::Beta::Octicon.new(icon: :check, color: :subtle, size: :small, position: :absolute, left: 0, style: "top: 1px") %>
              <%= benefit %>
            </li>
          <% end %>
        </ul>
        <div class="mt-auto">
          <%= render Site::ButtonComponent.new(
            text: "Discover all features",
            url: "#plans",
            scheme: :muted,
            classes: "mt-4 mt-md-7 width-full width-md-auto",
            analytics: {
              ref_loc: "existing customer section"
            }
          ) %>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 mb-4 mb-md-5">
      <div class="color-bg-subtle border p-5 pt-md-7 pr-md-7 pb-md-7 pl-md-7 rounded-3 height-full d-flex flex-column">
        <img src="<%= image_path("modules/site/premium-support/microsoft.svg") %>" alt="GitHub Enterprise" width="150" height="32" class="d-block mb-7">
        <h3 class="h5-mktg text-semibold mb-4 mb-md-7">Get GitHub Premium Support with your Microsoft Unified Support plan.</h3>
        <ul class="list-style-none f4-mktg p-0 pt-3 pt-md-6 border-top">
          <% [
            "Provide your team with convenient, self-service tools",
            "Ensure the reliability of your environment",
            "Accelerate your goals with best-in-class support"
          ].each do |benefit| %>
            <li class="position-relative pl-4 mt-2">
              <%= render Primer::Beta::Octicon.new(icon: :check, color: :subtle, size: :small, position: :absolute, left: 0, style: "top: 1px") %>
              <%= benefit %>
            </li>
          <% end %>
        </ul>
        <div class="mt-auto">
          <%= render Site::ButtonComponent.new(
            text: "Check your benefits",
            url: "https://www.microsoft.com/en-us/unifiedsupport/overview",
            scheme: :muted,
            classes: "mt-4 mt-md-7 width-full width-md-auto",
            analytics: {
              ref_loc: "existing customer section"
            }
          ) %>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="d-md-flex color-bg-subtle border rounded-3 position-relative overflow-hidden">
        <div class="d-flex flex-wrap position-relative z-1 gutter">
          <div class="col-lg-6 d-lg-flex flex-column height-lg-full">
            <div class="p-5 pt-md-7 pb-lg-7 pl-md-7 pr-md-7 pr-lg-0 d-lg-flex flex-column height-lg-full">
              <h3 class="h5-mktg text-semibold mb-2">Not a GitHub Enterprise customer yet?</h3>
              <p class="f4-mktg mb-0">Learn more about GitHub Premium&nbsp;Support and GitHub Premium&nbsp;Plus&nbsp;Support to discover the plan that’s right for you.</p>
              <div class="mt-auto">
                <%= render Site::ButtonComponent.new(
                    text: "Get a quote",
                    url: enterprise_contact_requests_path(
                      utm_source: "github",
                      utm_medium: "referral",
                      utm_campaign: "2023q3-site-ww-PremiumSupport",
                      utm_content: "Premium Support",
                      scid: ""
                    ),
                    analytics: {
                      ref_loc: "not an existing customer section"
                    },
                    arrow: true,
                    classes: "mt-4 width-full width-md-auto"
                  ) %>
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-lg-flex flex-justify-end flex-items-center height-lg-full">
            <div class="d-lg-flex flex-column flex-justify-end flex-items-end height-lg-full">
              <%= render Site::ImageComponent.new(
                src: image_path("modules/site/premium-support/customer-card-illo.png"),
                width: 1304,
                height: 694,
                classes: "d-block height-auto ml-auto col-12 col-md-9 col-lg-12",
                alt: "Screenshot of a Health Check report interface with high-level instance health check and a primary call to action to 'Request Health Check'",
                sizes: "652px"
              ) %>
            </div>
          </div>
        </div>
        <%= image_tag(
          image_path("modules/site/premium-support/customer-card-glow.png"),
          loading: "lazy",
          decoding: "async",
          alt: "",
          aria: { hidden: true },
          class: "position-absolute bottom-0 right-0 height-auto events-none",
          width: 100,
          height: 41,
          style: "width: 966px;"
        ) %>
      </div>
    </div>
  </div>
</div>
