<%= image_tag(
  image_path("modules/site/premium-support/hero-background-glow.png"),
  alt: "",
  aria: { hidden: true },
  class: "col-7 col-md-8 position-absolute top-0 right-0 height-auto events-none",
  width: 100,
  height: 102
) %>

<div class="container-xl position-relative z-1 p-responsive pt-12 pt-md-12 mb-8 mb-md-9">
  <h1 class="mt-5 mt-lg-8 mb-8 h1-mktg text-semibold col-lg-12">Get 24/7 support for your business with GitHub Premium&nbsp;Support</h1>

  <div class="d-flex flex-wrap flex-items-center gutter">
    <div class="col-12 col-md-5 mb-8 mb-md-0">
      <ul class="list-style-none p-0 color-fg-subtle overflow-hidden d-flex flex-column">
        <li class="git-list-item pb-4 pb-md-6 position-relative pl-5">
          <div class="color-bg-default position-absolute top-0 left-0 pt-1 z-1">
            <%= render Primer::Beta::Octicon.new(icon: :dot, size: :small, display: :block) %>
          </div>
          <p class="f3-mktg text-medium color-fg-muted"><em class="text-semibold color-fg-default">Protect your business</em> and manage IT health with a comprehensive support plan.</p>
        </li>

        <li class="git-list-item pb-4 pb-md-6 position-relative pl-5">
          <div class="color-bg-default position-absolute top-1 left-0 z-1">
            <%= render Primer::Beta::Octicon.new(icon: :dot, size: :small, display: :block) %>
          </div>
          <p class="f3-mktg text-medium color-fg-muted"><em class="text-semibold color-fg-default">Drive operational efficiency</em> and boost uptime with dedicated GitHub experts.</p>
        </li>

        <li class="git-list-item pb-4 pb-md-6 position-relative pl-5">
          <div class="color-bg-default position-absolute top-1 left-0 z-1">
            <%= render Primer::Beta::Octicon.new(icon: :dot, size: :small, display: :block) %>
          </div>
          <p class="f3-mktg text-medium color-fg-muted"><em class="text-semibold color-fg-default">Empower your team</em> and meet your goals with the resources to maximize your investment.</p>
        </li>

        <li class="git-list-item position-relative pl-5">
          <div class="color-bg-default position-absolute top-1 left-0 z-1">
            <%= render Primer::Beta::Octicon.new(icon: :"arrow-right", size: :small, display: :block) %>
          </div>
          <%= render Site::ButtonComponent.new(
            text: "Get a quote",
            url: enterprise_contact_requests_path(
              utm_source: "github",
              utm_medium: "referral",
              utm_campaign: "2023q3-site-ww-PremiumSupport",
              utm_content: "Premium Support",
              scid: ""
            ),
            analytics: {
              ref_loc: "hero"
            },
            arrow: true,
            classes: "mt-n2"
          ) %>
          <p class="mt-3 f4 text-underline color-fg-accent">
            <%= link_to "Looking for general support questions? Contact GitHub Support.", GitHub.contact_support_url %>
          </p>
        </li>
      </ul>
    </div>

    <div class="col-12 offset-md-1 col-md-6 d-flex flex-justify-center flex-items-center js-build-in-trigger" data-build-in-stagger="200">
      <div class="position-relative width-full mb-7 mt-5">
        <svg aria-hidden="true" viewBox="0 0 600 340" version="1.1" width="600" height="340" class="js-build-in-item build-in-slideX-right width-full height-auto d-block events-none rounded-2 position-absolute" style="max-width: 600px; top: -8%; left: -5%; background: linear-gradient(124.21deg, rgba(255, 255, 255, 0.1) 17.09%, rgba(13, 17, 23, 0) 87.01%);"></svg>
        <%= image_tag(
          image_path("modules/site/premium-support/hero-illo-glow.png"),
          alt: "",
          aria: { hidden: true },
          class: "width-full position-absolute height-auto events-none",
          style: "max-width: 873px; bottom: -50%; left: -40%;",
          width: 100,
          height: 91
        ) %>
        <picture>
          <source srcset="<%= image_path "modules/site/premium-support/hero-illo-main.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/premium-support/hero-illo-main.png" %>" width="1200" height="692" class="js-build-in-item build-in-slideX-right d-block height-auto width-full position-relative z-1 rounded-2 overflow-hidden box-shadow-card-mktg" style="max-width: 600px; background: rgba(33, 38, 45, 0.4); border: 1px solid rgba(72, 79, 88, 0.1);" alt="Screenshot of video call interface showing high CPU load chart with urgent API request analysis for a slow GitHub Enterprise Server.">
        </picture>
        <%= render Site::ImageComponent.new(
          src: image_path("modules/site/premium-support/hero-illo-front.png"),
          width: 650,
          height: 244,
          classes: "js-build-in-item build-in-scale-fade d-block height-auto col-7 position-absolute z-1 events-none rounded-2 overflow-hidden border box-shadow-card-mktg",
          alt: "",
          aria: { hidden: true },
          sizes: "325px",
          style: "max-width: 325px; bottom: -15%; right: 5%;",
          lazy: false
        ) %>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap flex-justify-center flex-lg-justify-between flex-items-center ml-n3 mr-n3 mt-8 mt-md-9" style="opacity: 0.5;">
    <% [
      {
        file: "spotify.svg",
        name: "Spotify",
        width: 136,
        height: 48
      },
      {
        file: "slack.svg",
        name: "Slack",
        width: 125,
        height: 48
      },
      {
        file: "arm.svg",
        name: "Arm",
        width: 65,
        height: 48
      },
      {
        file: "dow-jones.svg",
        name: "Dow Jones",
        width: 170,
        height: 48
      },
      {
        file: "ford.svg",
        name: "Ford",
        width: 106,
        height: 48
      },
      {
        file: "stripe.svg",
        name: "Stripe",
        width: 97,
        height: 48
      },
      {
        file: "uber.svg",
        name: "Uber",
        width: 91,
        height: 48
      }
    ].each do |logo| %>
      <%= image_tag(
        image_path("modules/site/premium-support/logos/#{logo[:file]}"),
        alt: "#{logo[:name]} logo",
        class: "mx-3 my-2 d-block",
        width: logo[:width],
        height: logo[:height]
      ) %>
    <% end %>
  </div>
</div>
