<div id="plans" class="mt-9 mt-md-12 mb-9 mb-md-12 py-lg-8">
  <div class="container-xl p-responsive">
    <div class="col-10 col-lg-8 text-md-center mx-md-auto mb-5 mb-md-7">
      <h2 class="h4-mktg text-semibold mb-3">Discover the plan that’s right for you</h2>
      <p class="color-fg-muted f4-mktg mb-0">Use the dropdown filters to reflect your organization’s properties.</p>
    </div>
    <div class="d-flex flex-wrap flex-md-justify-center flex-items-center ml-n1 mr-n1 ml-md-n2 mr-md-n2 mb-5 mb-md-8">
      <% [{
        title: "Product",
        type: "product",
        items: [{
          title: "GHES",
          value: "ghes"
        }, {
          title: "GHEC/GHES dual use + GHAS",
          value: "ghec-ghes"
        }, {
          title: "GHEC",
          value: "ghec"
        }]
      }, {
        title: "License seats",
        type: "seats",
        items: [{
          title: "< 1000",
          value: "<1000"
        }, {
          title: "< 2000",
          value: "<2000"
        }, {
          title: ">= 2000",
          value: ">=2000"
        }, {
          title: "< 6000",
          value: "<6000"
        }, {
          title: ">= 6000",
          value: ">=6000"
        }]
      }, {
        title: "Complexity",
        type: "complexity",
        items: [{
          title: "Standard",
          value: "standard"
        }, {
          title: "High",
          value: "high"
        }]
      }].each do |dropdown|%>
        <%= render(Primer::Alpha::Dropdown.new(display: :inline_block, with_caret: true, mx: [1, nil, 2], mb: [2], classes: "js-plans-dropdown", data: {type: dropdown[:type]})) do |c| %>
          <% c.with_button(bg: :default, border_color: :subtle, role: "button", aria: {haspopup: "menu"}, classes: "rounded-pill f4-mktg", box_shadow: :none) do %>
            <span class="js-plans-dropdown-title"><%= dropdown[:title] %></span>
          <% end %>

          <% c.with_menu(role: "menu", aria: {label: "Sort by"}) do |menu| %>
            <% dropdown[:items].each do |item| %>
              <% menu.with_item(tag: :button, type: :button, role: "menuitem", classes: "ws-normal js-plans-dropdown-item", data: {value: item[:value]}) { item[:title] } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="d-flex flex-wrap flex-justify-center gutter pb-5 pb-md-8 border-bottom">
      <% plans = [{
        title: "Enterprise",
        data: {plan: "enterprise", "recommended-plan": false},
        highlights: [{
          value: "24/5",
          description: "Support"
        }, {
          value: "< 8 hours",
          description: "Initial response for urgent requests"
        }, {
          value: "< 8 hours",
          description: "Initial response for high requests"
        }, false, false, false],
        features: {
          title: "Already included with your Enterprise license:",
          items: [
            "Support via online ticket submission",
            "Expert guidance from a shared support team"
          ]
        }
      }, {
        title: "Premium",
        data: {plan: "premium", "recommended-plan": true},
        highlights: [{
          value: "24/7",
          description: "Support"
        }, {
          value: "30 min",
          description: "Initial response for urgent requests"
        }, {
          value: "4 hours",
          description: "Initial response for high requests"
        }, {
          value: "20",
          description: "Support entitlements"
        }, false, false],
        cta: {
          text: "Get a quote",
          url: enterprise_contact_requests_path(
            utm_source: "github",
            utm_medium: "referral",
            utm_campaign: "2023q3-site-ww-PremiumSupport",
            utm_content: "Premium Support",
            scid: ""
          ),
          analytics: {
            ref_loc: "plans"
          },
          classes: "width-full width-md-auto",
          arrow: true
        },
        features: {
          title: "Get everything in the Enterprise support plan, along with:",
          items: [
            "Phone support in English via callback request",
            "Screenshare support for critical issues",
            "Guaranteed service level agreements (SLAs)",
            "20 support entitlement licenses",
            "Priority ticket handling",
            "Escalation management",
            "Unlimited automated health check reports",
            "Access to premium training content"
          ]
        }
      }, {
        title: "Premium Plus",
        data: {plan: "premium-plus", "recommended-plan": false},
        highlights: [{
          value: "24/7",
          description: "Support"
        }, {
          value: "30 min",
          description: "Initial response for urgent requests"
        }, {
          value: "4 hours",
          description: "Initial response for high requests"
        }, {
          value: "40",
          description: "Support entitlements"
        }, {
          value: "Named CRE",
          description: "Per account"
        }, {
          value: "1 training",
          description: "Per year"
        }],
        cta: {
          text: "Get a quote",
          url: enterprise_contact_requests_path(
            utm_source: "github",
            utm_medium: "referral",
            utm_campaign: "2023q3-site-ww-PremiumSupport",
            utm_content: "Premium Support",
            scid: ""
          ),
          analytics: {
            ref_loc: "plans"
          },
          classes: "width-full width-md-auto",
          arrow: true
        },
        features: {
          title: "Get everything in Premium support plan, along with:",
          items: [
            "Additional 20 support entitlement licenses",
            "Designated Customer Reliability Engineer (CRE)",
            "Incident management",
            "Quarterly enhanced health checks with findings, interpretations, and recommendations from a CRE (by request)",
            "Crisis prevention: Guided incident simulations that help you prepare for — and experience — an incident without risk (available for GitHub Enterprise Server)",
            "1 virtual training class per year",
            "12 hours of technical advisory hours per quarter",
            "Application upgrade assistance (by request)",
            "Cloud planning (by request)"
          ]
        }
      }] %>
      <% plans.each do |plan_info| %>
        <div class="col-12 col-md-4">
          <%= content_tag :div, class: "d-flex flex-column js-plan flex-justify-start height-full position-relative z-1 p-5 pb-md-7 pl-lg-7 pr-lg-7", data: plan_info[:data], style: "align-items: space-evenly;" do %>
            <div class="recommended-plan-highlight position-absolute d-flex flex-column top-0 left-0 width-full height-full z-n1"></div>
            <h3 class="h5-mktg text-semibold pb-4 pb-md-5 mb-5 mb-md-7 border-bottom text-center no-wrap"><%= plan_info[:title] %></h3>

            <div class="text-center border-bottom pb-2 mb-5 mb-md-7">
              <% if plan_info[:highlights].present? %>
                <% plan_info[:highlights].each do |highlight| %>
                  <% if highlight %>
                    <div class="mb-4 mb-md-6 f4-mktg text-light">
                      <div class="f2-mktg text-bold"><%= highlight[:value] %></div>
                      <%= highlight[:description] %>
                    </div>
                  <% else %>
                    <div class="premium-support-blank-highlight mb-4 mb-md-6 f4-mktg text-light d-none d-md-block">
                      <div class="f2-mktg text-bold">&mdash;</div>
                      &nbsp;
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>

            <% if plan_info[:features].present? %>
              <div class="d-none d-lg-block f4-mktg">
                <% if plan_info[:features][:title].present? %>
                  <div class="text-semibold d-none d-lg-block" style="min-height: 48px;">
                    <%= plan_info[:features][:title] %>
                  </div>
                <% end %>
                <% if plan_info[:features][:items].present? %>
                  <ul class="color-fg-muted list-style-none p-0 m-0">
                    <% plan_info[:features][:items].each do |feature_item| %>
                      <li class="mt-4"><%= feature_item %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            <% end %>

            <% if plan_info[:cta].present? %>
              <div class="mt-auto pt-lg-6">
                <%= render Site::ButtonComponent.new(**plan_info[:cta]) %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "site/enterprise/premium_support/compare_features", plans: plans %>
</div>
