<div class="container-xl p-responsive position-relative mt-9 mt-md-12 mb-9 mb-md-12 py-lg-8">
  <% if feature_enabled_globally_or_for_current_user?(:site_premium_support_redesign_stats) %>
    <%= image_tag(
      image_path("modules/site/premium-support/stats-mobile-glow.png"),
      loading: "lazy",
      decoding: "async",
      alt: "",
      aria: { hidden: true },
      class: "position-absolute right-0 top-0 height-auto width-full events-none d-block d-lg-none",
      width: 55,
      height: 100,
      style: "max-width: 358px;"
    ) %>
  <% end %>

  <h2 class="h4-mktg text-semibold mb-5 mb-md-9 text-md-center mx-md-auto col-10 col-lg-8 position-relative z-2">Why choose GitHub Premium&nbsp;Support?</h2>
  <div class="d-flex flex-wrap flex-items-center gutter position-relative z-1">
    <div class="col-12<%= feature_enabled_globally_or_for_current_user?(:site_premium_support_redesign_stats) ? " col-lg-5" : " col-md-8 offset-md-2" %> position-lg-relative">
      <%= image_tag(
        image_path("modules/site/premium-support/stats-desktop-glow.png"),
        loading: "lazy",
        decoding: "async",
        alt: "",
        aria: { hidden: true },
        class: feature_enabled_globally_or_for_current_user?(:site_premium_support_redesign_stats) ? "position-absolute height-auto top-0 events-none d-none d-lg-block" : "position-absolute height-auto top-0 events-none",
        width: 100,
        height: 76,
        style: feature_enabled_globally_or_for_current_user?(:site_premium_support_redesign_stats) ? "width: 1574px; right: 50%; transform: translateY(-50%);" : "width: 1574px; right: 65%; transform: translateY(-50%);"
      ) %>
      <blockquote class="position-lg-relative z-1">
        <span class="h3-mktg">“</span>
        <% if feature_enabled_globally_or_for_current_user?(:site_premium_support_redesign_stats) %>
          <h3 class="f4-mktg mb-0">At <a href="https://www.tsia.com" class="color-fg-default text-underline">TSIA</a>, we're seeing technology leaders take an active role in helping their customers adopt new technologies. GitHub is demonstrating a thoughtful, deliberate approach to creating compelling service offerings. With three tiers of service options, GitHub Premium Support provides customers with smart services at the right time to drive business goals, while simplifying customer choice and allowing for service expansion as needed.</h3>
        <% else %>
          <h3 class="f2-mktg text-normal mb-0">
            At <a href="https://www.tsia.com" class="color-fg-default text-underline">TSIA</a>, we're seeing technology leaders take an active role in helping their customers adopt new technologies. GitHub is demonstrating a thoughtful, deliberate approach to creating compelling service offerings.
            <br><br>
            <div class="text-semibold text-gradient-premium-support">
              With three tiers of service options, GitHub Premium Support provides customers with smart services at the right time to drive business goals, while simplifying customer choice and allowing for service expansion as needed.
            </div>
          </h3>
        <% end %>
        <footer>
          <p class="f4-mktg color-fg-muted mt-3">Hal Stanley // VP Service Offer Management Research & Advisory, <a href="https://www.tsia.com" class="color-fg-muted text-underline">TSIA</a></p>
          <a href="https://www.tsia.com" class="d-inline-block mt-3">
            <img src="<%= image_path("modules/site/premium-support/logos/tsia.svg") %>" alt="TSIA logo" width="103" height="41" class="d-block">
          </a>
        </footer>
      </blockquote>
    </div>
    <% if feature_enabled_globally_or_for_current_user?(:site_premium_support_redesign_stats) %>
      <div class="col-12 col-lg-6 offset-lg-1 mt-7 mt-lg-0">
        <% [{
          title: "30.5%",
          description: "Additional support tickets submitted per user"
        }, {
          title: "100%",
          description: "Eliminated costs of engineer-led risk management"
        }, {
          title: "65%",
          description: "Reduction in downtime"
        }].each do |stat| %>
          <div class="border-bottom py-5">
            <div class="h2-mktg text-semibold"><%= stat[:title] %></div>
            <p class="f3-mktg text-light mb-0 mt-2"><%= stat[:description] %></p>
          </div>
        <% end %>
        <div class="text-right color-fg-muted mt-3">
          Source: GitHub Statistics
        </div>
      </div>
    <% end %>
  </div>
</div>
