<%
  page_meta = {
    title: "GitHub Premium Support",
    description: "Get expert help for Enterprise Cloud and Enterprise—any hour your team needs it."
  }

  page_info \
  title: page_meta[:title],
  description: page_meta[:description],
  class: "header-overlay",
  marketing_footer_theme: "dark",
  richweb: {
    title: page_meta[:title],
    url: request.original_url,
    description: page_meta[:description],
    image: image_path("modules/site/social-cards/premium-support.jpg"),
  }
%>

<% content_for :head do %>
  <%= stylesheet_bundle "premium-support" %>
  <%= javascript_bundle "premium-support" %>
<% end %>

<%= content_tag :div, class: "position-relative", data: mktg_color_theme_data do %>
  <%= content_tag :div, class: "position-absolute pt-8 width-full premium-support-subnav" do %>
    <%= render "site/enterprise/enterprise_nav" %>
  <% end %>
  <%= render "site/enterprise/premium_support/hero" %>
  <%= render "site/enterprise/premium_support/customers" %>
  <%= render "site/enterprise/premium_support/stats" %>
  <%= render "site/enterprise/premium_support/plans" %>
  <%= render "site/enterprise/premium_support/testimonials" %>
  <%= render "site/enterprise/premium_support/team" %>

  <div class="color-bg-subtle position-relative py-9 py-md-12">
    <%= render "site/enterprise/premium_support/faqs" %>
    <%= render "site/enterprise/premium_support/footer_cta" %>
  </div>
<% end %>
