<pricing-calculator-section id="actions">
  <actions-calculator  class="d-block rounded-2 box-shadow-card-border-mktg px-4 flex-auto flex-column mb-5 color-bg-default" data-targets="pricing-calculator.calculatorSections">
    <%= render partial: "site/pricing/calculator/section_header", locals: {
      name: "actions",
      heading: "GitHub Actions",
      description: "Automate your workflow from idea to production.",
      icon_name: "play",
    } %>

    <div class="calculator-section calculator-section--hidden mt-2" data-target="pricing-calculator-section.sectionContent">
      <div data-target="pricing-calculator-section.sectionInputs" class="calculator-section">
        <div class="border rounded-2 p-3 mb-2">
          <div class="mt-n3 mb-2">
            <%= render partial: "site/pricing/calculator/actions/runner_type", locals: {
              heading: "Select the runner type application",
              calculator: "actions",
              data_targets: "actions-calculator.runnerTypes",
              data_action: "change:actions-calculator#runnerTypeChanged",
            } %>
          </div>

          <div data-target="actions-calculator.osTypesContainer" hidden>
            <%= render partial: "site/pricing/calculator/actions/os", locals: {
              calculator: "actions",
              data_targets: "actions-calculator.osTypes",
              data_action: "change:actions-calculator#validateInputs",
            } %>
          </div>

          <div class="d-sm-flex flex-sm-row flex-sm-justify-between gutter-sm-condensed py-3 border-top border-dashed border-bottom-0 border-left-0 border-right-0">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <label class="d-block" for="actions-jobs-count">Number of jobs</label>
              <%= render partial: "site/pricing/calculator/unit_input", locals: {
                name: "actions-jobs-count",
                unit: "/day",
                options: {
                  placeholder: "E.g 5",
                  data: {
                    target: "actions-calculator.jobCountInput",
                    action: "input:actions-calculator#validateInputs",
                  }
                }
              } %>
            </div>
            <div class="col-sm-6">
              <label class="d-block" for="actions-jobs-duration">Duration of each job</label>
              <%= render partial: "site/pricing/calculator/unit_input", locals: {
                name: "actions-jobs-duration",
                unit: "minutes",
                options: {
                  placeholder: "E.g 10",
                  data: {
                    target: "actions-calculator.jobDurationInput",
                    action: "input:actions-calculator#validateInputs",
                  }
                }
              } %>
            </div>
          </div>
        </div>

        <button
          type="button"
          data-target="actions-calculator.addRunnerButton"
          data-action="click:actions-calculator#addRunnerButtonClicked"
          class="col-12 py-2 mb-2 color-bg-default rounded-2 grayscale actions-btn"
          disabled
        >
          <span class="text-gradient-purple-coral f5-mktg text-bold">Add Actions Runner</span>
        </button>

        <div hidden data-target="actions-calculator.runnersContainer">
          <div class="d-flex flex-column">
            <h4 class="d-block f5-mktg text-bold mb-2">Your Action Runners</h4>
            <div class="calculator-runners-list" data-target="actions-calculator.runnersList"></div>

            <template data-target="actions-calculator.runnerTemplate">
              <action-runner class="d-flex flex-justify-between color-bg-subtle p-3 mb-2 anim-fade-in fast" data-targets="actions-calculator.runners">
                <div>
                  <span data-target="action-runner.jobCountDisplay" class="f5-mktg text-bold mr-1"></span><span class="f5-mktg color-fg-muted">jobs/day of</span>
                  <span data-target="action-runner.jobDurationisplay" class="f5-mktg text-bold mr-1"></span><span class="f5-mktg color-fg-muted">min on a</span>
                  <span data-target="action-runner.runnerTypeDisplay" class="f5-mktg text-bold"></span>
                  <span data-target="action-runner.osTypeDisplay" class="f5-mktg text-bold"></span>
                </div>

                <div class="text-right flex-shrink-0 ml-3">
                  <span data-target="action-runner.costDisplay" class="text-bold"></span> <span class="text-bold">USD</span>
                  <button class="color-fg-danger border-0 text-bold color-bg-subtle p-0 ml-1" style="transform: translateY(1px);" type="button" data-action="click:action-runner#removeSelf">
                    <%= render(Primer::Beta::Octicon.new(:x, size: :small)) %>
                  </button>
                </div>
              </action-runner>
            </template>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column rounded-2 color-bg-subtle p-3 my-4">
        <div class="d-flex flex-items-center">
          <span class="f5-mktg text-bold pr-2 mr-auto">Cost per month</span>
          <span class="f5-mktg text-bold text-right" data-target="actions-calculator.costPerMonthDisplay"><%= Money.new(0, "USD").format %></span>
          <span class="f5-mktg text-bold ml-1">USD</span>
        </div>
      </div>
    </div>
    <%= render partial: "site/pricing/calculator/more_info", locals: {
      link_name: "Actions",
      docs_href: "https://docs.github.com/actions",
    } %>
  </actions-calculator>
</pricing-calculator-section>
