<pricing-calculator-section id="lfs">
  <lfs-calculator class="d-block rounded-2 box-shadow-card-border-mktg px-4 flex-auto flex-column mb-5 color-bg-default" data-targets="pricing-calculator.calculatorSections">
    <%= render partial: "site/pricing/calculator/section_header", locals: {
        name: "lfs",
        heading: "Git LFS",
        description: "Version large files with Git.",
        icon_name: "archive",
    } %>

    <div class="calculator-section calculator-section--hidden mt-2" data-target="pricing-calculator-section.sectionContent">
      <div data-target="pricing-calculator-section.sectionInputs" class="calculator-section">
        <div class="mx-1">
          <p class="f5-mktg color-fg-muted">
            In the future, Git LFS will switch to metered billing. It comes with a generous free tier which varies by plan type. Additional storage $0.07 per GiB, additional data transfer out $0.0875 per GiB.
          </p>

          <div class="pb-3 border-bottom border-top-0 border-left-0 border-right-0 border-dashed">
            <p class="f5-mktg text-bold">Plan type</p>
            <p class="f5-mktg color-fg-muted">Enterprise and Teams plans come with more free storage and bandwidth. Select which plan you'll be using:</p>
            <% Site::PricingCalculator::LFS_INCLUDED_AMOUNTS.each do |plan_settings| %>
              <label class="d-flex flex-row flex-items-start pl-2 pr-3 px-sm-3 py-3 mb-2 rounded-2 calculator-radio-label" data-targets="lfs-calculator.planLabels">
                <%= radio_button_tag(
                  "lfs-plan-type",
                  plan_settings[:key],
                  false,
                  class: "mt-1 mr-2 position-relative",
                  "data-label": plan_settings[:label],
                  data: {
                    targets: "lfs-calculator.plans",
                    action: "click:lfs-calculator#planUpdated",
                  }
                ) %>
                <div class="d-flex flex-row flex-justify-between flex-1 position-relative">
                  <div class="col-10 col-sm-11 pr-2">
                    <p class="d-block f5-mktg text-bold"><%= plan_settings[:label] %></p>
                    <div class="f5-mktg color-fg-muted">First <span class="f5-mktg text-bold no-wrap"><%= plan_settings[:amount_included] %> GiB</span> storage and bandwidth free each month</div>
                  </div>
                </div>
              </label>
            <% end %>
          </div>


        <div class="d-sm-flex flex-sm-row flex-sm-justify-between gutter-sm-condensed py-4">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <label class="d-block f5-mktg text-bold mb-1" for="lfs-storage">Current storage</label>
            <%= render partial: "site/pricing/calculator/unit_input", locals: {
              name: "lfs-storage",
              unit: "GiB",
              options: {
                placeholder: "e.g. 5",
                data: {
                  target: "lfs-calculator.storageInput",
                  action: "input:lfs-calculator#calculate"
                  }
                }
              } %>
            </div>

          <div class="col-sm-6">
            <label class="d-block f5-mktg text-bold mb-1" for="lfs-egress-bandwidth">Current egress bandwidth</label>
            <%= render partial: "site/pricing/calculator/unit_input", locals: {
              name: "lfs-egress-bandwidth",
              unit: "GiB",
              options: {
                placeholder: "e.g. 28",
                data: {
                  target: "lfs-calculator.bandwidthInput",
                  action: "input:lfs-calculator#calculate"
                  }
                }
              } %>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column rounded-2 color-bg-subtle p-3 mt-1 mb-4">
        <div class="d-flex flex-items-center mb-2">
          <span class="f5-mktg text-bold pr-2 mr-auto">Cost per month</span>
          <span class="f5-mktg text-right text-bold" data-target="lfs-calculator.subtotalElement"><%= Money.new(0, "USD").format %></span>
          <span class="f5-mktg text-bold ml-1">USD</span>
        </div>
        <div class="d-flex flex-items-center">
          <span class="f5-mktg pr-2 mr-auto">Included bandwidth and storage</span>
          <span class="f5-mktg text-right" data-target="lfs-calculator.includedAmountElement">(choose a plan above)</span>
        </div>
      </div>
    </div>
    <%= render partial: "site/pricing/calculator/more_info", locals: {
      link_name: "LFS",
      docs_href: "https://docs.github.com/repositories/working-with-files/managing-large-files/about-git-large-file-storage",
    } %>
  </lfs-calculator>
</pricing-calculator-section>
