<pricing-calculator-section id="packages">
  <packages-calculator class="d-block rounded-2 box-shadow-card-border-mktg px-4 flex-auto flex-column mb-5 color-bg-default" data-targets="pricing-calculator.calculatorSections">
    <%= render partial: "site/pricing/calculator/section_header", locals: {
        name: "packages",
        heading: "GitHub Packages",
        description: "Your packages, at home with their code.",
        icon_name: "package",
    } %>

    <div class="calculator-section calculator-section--hidden mt-2" data-target="pricing-calculator-section.sectionContent">
      <div data-target="pricing-calculator-section.sectionInputs" class="calculator-section">
        <div class="mx-1">
          <p class="f5-mktg color-fg-muted">
            Not available for private repos in legacy per-repository plans, and free for public repositories. Additional storage $0.25 USD per GB, additional data transfer out outside of Actions $0.50 USD per GB.
          </p>

          <label class="border-bottom border-dashed border-top-0 border-left-0 border-right-0 py-4">
            <div class="d-flex flex-row flex-justify-between border rounded-2 p-3">
              <div class="flex-self-center">
                <span class="d-block f5-mktg text-bold">Will you be using Actions?</span>
                <span class="d-block f5-mktg color-fg-muted">Bandwidth for packages within Actions workflows is free.</span>
              </div>
              <%= render partial: "site/pricing/calculator/toggle", locals: {
                name: "uses-actions",
                data_target: "packages-calculator.usesActionsInput",
                data_action: "change:packages-calculator#calculate",
                classes: "flex-self-center"
              } %>
            </div>
          </label>

        <div class="d-sm-flex flex-sm-row flex-sm-justify-between gutter-sm-condensed py-4">
          <div class="col-sm-6 mb-3 mb-sm-0">
            <label class="d-block f5-mktg text-bold mb-1" for="packages-storage">Current storage</label>
            <%= render partial: "site/pricing/calculator/unit_input", locals: {
              name: "packages-storage",
              unit: "GB",
              options: {
                placeholder: "E.g 5",
                data: {
                  target: "packages-calculator.storageInput",
                  action: "input:packages-calculator#calculate"
                  }
                }
              } %>
            </div>

          <div class="col-sm-6">
            <label class="d-block f5-mktg text-bold mb-1" for="packages-egress-bandwidth">Current egress bandwidth</label>
            <%= render partial: "site/pricing/calculator/unit_input", locals: {
              name: "packages-egress-bandwidth",
              unit: "GB",
              options: {
                placeholder: "E.g 28",
                data: {
                  target: "packages-calculator.bandwidthInput",
                  action: "input:packages-calculator#calculate"
                  }
                }
              } %>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column rounded-2 color-bg-subtle p-3 mt-1 mb-4">
        <div class="d-flex flex-items-center">
          <span class="f5-mktg text-bold pr-2 mr-auto">Cost per month</span>
          <span class="f5-mktg text-right text-bold" data-target="packages-calculator.subtotalElement"><%= Money.new(0, "USD").format %></span>
          <span class="f5-mktg text-bold ml-1">USD</span>
        </div>
      </div>
    </div>
    <%= render partial: "site/pricing/calculator/more_info", locals: {
      link_name: "Packages",
      docs_href: "https://docs.github.com/packages",
    } %>
  </packages-calculator>
</pricing-calculator-section>
