<% page_info \
  title: "Pricing Calculator",
  description: "Configure and estimate the costs for GitHub products.",
  class: "header-white",
  container_xl: true,
  richweb: {
    title: "Pricing Calculator",
    url: request.original_url,
    description: "Configure and estimate the costs for GitHub products.",
    image: image_path("modules/site/social-cards/pricing.png"),
  }
%>

<% content_for :head do %>
  <%= content_tag(:meta,
    nil,
    name: "unit_prices",
    id: "unit_prices",
    data: Site::PricingCalculator.unit_prices.to_json
  ) %>
<% end %>

<pricing-calculator class="position-relative">
  <nav class="d-none d-sm-block color-bg-default p-3 position-sticky color-shadow-medium width-full z-3 top-0" data-target="pricing-calculator.navContainer" aria-label="Pricing Calculator">
    <div class="pricing-calculator-width mx-auto d-flex flex-justify-between flex-items-center">
      <% Site::PricingCalculator::SECTION_LINKS.map do |section_link|  %>
        <div class="col-3 text-center">
          <%= link_to(section_link[:label], section_link[:href], class: "f5-mktg color-fg-default", data: {
            **analytics_click_attributes(
              category: "Pricing Calculator",
              action: "click to calculator section link",
              label: "section:#{section_link[:label]}"
            )
          }) %>
        </div>
      <% end %>
    </div>
  </nav>
  <img src="<%= image_path "modules/site/pricing/calculator/bg-glow-real.png" %>" alt="" class="z-n1 position-absolute bg-glow m-auto top-0 left-0 right-0 events-none">
  <div class="position-absolute width-full z-n2 pricing-calculator-horizon d-flex flex-column flex-justify-end" style="min-height: 150px">
    <%= svg("site/pricing/calculator/horizon", aria_hidden: true, class: "d-block events-none width-full height-auto") %>
  </div>
  <div class="container-xl p-responsive mx-auto mb-4 mb-md-7 position-relative pricing-calculator-width">
    <div class="mx-auto d-flex flex-auto flex-column flex-justify-between position-relative">
      <div class="mb-7">
        <h1 class="h4-mktg mt-8">Pricing calculator</h1>
        <p class="f3-mktg col-5-max mt-1 color-fg-muted">Configure and estimate the costs for GitHub products.</p>
      </div>
      <div class="d-flex flex-justify-between flex-items-center mb-4">
        <div class="border-bottom flex-1 flex-self-center"></div>
          <span class="f4-mktg color-fg-default text-bold mx-2">Plans</span>
        <div class="border-bottom flex-1 flex-self-center"></div>
      </div>
      <%= render "site/pricing/calculator/enterprise_plan" %>
      <%= render "site/pricing/calculator/teams_plan" %>
      <div class="d-flex flex-justify-between flex-items-center mt-1 mb-4">
        <div class="border-bottom flex-1 flex-self-center"></div>
          <span class="f4-mktg color-fg-default text-bold mx-2">Features</span>
        <div class="border-bottom flex-1 flex-self-center"></div>
      </div>
      <%= render "site/pricing/calculator/codespaces" %>
      <%= render "site/pricing/calculator/actions" %>
      <%= render "site/pricing/calculator/packages" %>
      <%= render "site/pricing/calculator/lfs" %>
      <%= render "site/pricing/calculator/ghas" %>
      <%= render "site/pricing/calculator/estimate_total" %>
    </div>
  </div>
  <img src="<%= image_path "modules/site/pricing/calculator/bg-glow-real.png" %>" alt="" class="z-n1 position-absolute bg-glow m-auto bottom-0 left-0 right-0 events-none" loading="lazy" decoding="async">
  <div class="pt-2 mx-auto col-lg-8">
    <%= render "site/pricing/calculator/faq" %>
  </div>
</pricing-calculator>
