<div class="saml-note">

  <label class="checkbox-item whole">
      <input type="hidden" name="saml[idp_initiated_sso]" value="false" />
      <input type="checkbox" name="saml[idp_initiated_sso]" <%= view.saml_idp_initiated_sso_checked? %> value="true" />
    IdP initiated SSO <span class="muted">(disables AuthnRequest)</span>
  </label>

  <label class="checkbox-item whole">
      <input type="hidden" name="saml[disable_admin_demote]" value="false" />
      <input type="checkbox" name="saml[disable_admin_demote]" <%= view.saml_disable_admin_demote_checked? %> value="true" />
    Disable administrator demotion/promotion. (ignore the administrator attribute)
  </label>

  <div class="saml-encryption js-note-trigger-group">
    <label class="checkbox-item whole">
        <input type="hidden" name="saml[encrypted_assertions]" value="false" />
        <input type="checkbox" name="saml[encrypted_assertions]" class="js-note-trigger" data-triggers-note=".js-saml-encryption" <%= view.saml_encrypted_assertions_checked? %> value="true" />
      Require encrypted assertions
    </label>
    <div class="inline-doc">
      <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/identity-and-access-management/authenticating-users-for-your-github-enterprise-server-instance/using-saml#enabling-encrypted-assertions">
        <span class="octicon octicon-question"></span>
      </a>
    </div>
  </div>
  <div class="js-saml-encryption saml-encryption checkbox-list-indent">
    <label class="label-heading">
    Encryption Certificate <span class="muted">(Provide this certificate to your IdP)</span>
    </label>
    <div class="columns">
      <div class="column">
        <label class="inline next-to-select">
          Encryption Certificate
        </label>
        <a class="btn" href="/setup/settings/saml-sp.crt" download="github-encrypted-assertions.crt">Download</a>
      </div>
    </div>
    <label class="label-heading">
    Encryption Methods <span class="muted">(Retrieve these values from your IdP)</span>
    </label>
    <div class="columns">
      <div class="column">
        <label class="inline next-to-select">
          Encryption Method
        </label>
        <select type="hidden" name="saml[encryption_method]">
          <option <%= view.saml_encryption_method_selected("aes-128-cbc") %> value="aes-128-cbc">AES-128-CBC</option>
          <option <%= view.saml_encryption_method_selected("aes-192-cbc") %> value="aes-192-cbc">AES-192-CBC</option>
          <option <%= view.saml_encryption_method_selected("aes-256-cbc") %> value="aes-256-cbc">AES-256-CBC</option>
        </select>
      </div>
      <div class="column" type="hidden">
        <label class="inline next-to-select">
          Key Transport Method
        </label>
        <select name="saml[key_transport_method]">
          <option <%= view.saml_key_transport_method_selected("rsa-oaep") %> value="rsa-oaep">RSA-OAEP</option>
        </select>
      </div>
    </div>
  </div>

  <label class="label-heading">
    Single sign-on URL <span class="muted">(Required full URL for signing into your system)</span>
  </label>
  <input type="text"
         name="saml[sso_url]"
         class="js-required"
         value="<%= view.saml_sso_url %>"
         id="saml-sso-url"
         data-validation-message="valid SSO URL required">

  <label class="label-heading">
      Issuer <span class="muted">(Response issuer will be checked against this value)</span>
  </label>
  <input type="text" name="saml[issuer]" value="<%= view.saml_issuer %>" />

  <div class="columns">
    <div class="column">
      <label class="inline next-to-select">
        Signature Method
      </label>
      <select name="saml[signature_method]">
        <option <%= view.saml_signature_method_selected("rsa-sha256") %> value="rsa-sha256">RSA-SHA256</option>
        <option <%= view.saml_signature_method_selected("rsa-sha384") %> value="rsa-sha384">RSA-SHA384</option>
        <option <%= view.saml_signature_method_selected("rsa-sha512") %> value="rsa-sha512">RSA-SHA512</option>
        <% unless view.fips_mode? %>
          <option <%= view.saml_signature_method_selected("rsa-sha1") %> value="rsa-sha1">RSA-SHA1</option>
        <% end %>
      </select>
    </div>
    <div class="column">
      <label class="inline next-to-select">
        Digest Method
      </label>
      <select name="saml[digest_method]">
        <option <%= view.saml_digest_method_selected("sha256") %> value="sha256">SHA256</option>
        <option <%= view.saml_digest_method_selected("sha512") %> value="sha512">SHA512</option>
        <% unless view.fips_mode? %>
          <option <%= view.saml_digest_method_selected("sha1") %> value="sha1">SHA1</option>
        <% end %>
      </select>
    </div>
    <div class="column">
      <label class="inline next-to-select">
          Name Identifier Format</span>
      </label>
      <select name="saml[name_id_format]">
        <option <%= view.saml_name_id_format_selected("persistent") %> value="persistent">persistent</option>
        <option <%= view.saml_name_id_format_selected("unspecified") %> value="unspecified">unspecified</option>
      </select>
    </div>
  </div>

  <label class="label-heading">
    Verification certificate <span class="muted">(used to verify SAML responses)</span>
  </label>
  <div>
  <% if view.saml_configured? %>
    <div class="list-group certificate-info">
      <div class="list-group-item">
        <div class="label">Domain</div>
        <strong><%= view.saml_common_name %></strong>
      </div>
      <div class="list-group-item">
        <div class="label">Alternate names</div>
        <%= view.saml_alternate_names %>
      </div>
      <div class="list-group-item">
        <div class="label">Issuer</div>
        <div class="value"><%= view.saml_certificate_issuer %></div>
      </div>
      <div class="list-group-item">
        <div class="label">Valid From</div>
        <%= view.saml_certificate_valid_from %>
      </div>
      <div class="list-group-item">
        <div class="label">Expires After</div>
        <%= view.saml_certificate_expires_after %>
      </div>
    </div>
    <label for="saml-certificate-input">Replace Certificate</label>
    <input type="file" name="saml[certificate]" class="input-file" id="saml-certificate-input"/>

  <% else %>
    <input type="file"
           class="input-file js-required"
           id="saml-certificate-input"
           name="saml[certificate]"
           id="saml-certificate"
           data-validation-message="valid certificate required">
  <% end %>
  </div>

  <div>
    <label class="label-heading">
      User attributes <span class="muted">The SAML attributes used to update profile information.</span>
    </label>
    <div>
      <label class="inline-label" for="saml-username-attribute">Username</label>
      <input type="text" class="inline-input typeahead" id="saml-username-attribute" placeholder="NameID will be used if left blank" name="saml[username_attribute]" value="<%= view.saml_username_attribute %>">
    </div>
    <div>
      <label class="inline-label" for="saml-full-name-attribute">Full name</label>
      <input type="text" class="inline-input typeahead" id="saml-full-name-attribute" name="saml[full_name_attribute]" placeholder="full_name" value="<%= view.saml_full_name_attribute %>">
    </div>
    <div>
      <label class="inline-label" for="saml-emails-attribute">Email(s)</label>
      <input type="text" class="inline-input typeahead" id="saml-emails-attribute" name="saml[emails_attribute]" placeholder="emails" value="<%= view.saml_emails_attribute %>">
    </div>
    <div>
      <label class="inline-label" for="saml-ssh-keys-attribute">SSH keys</label>
      <input type="text" class="inline-input typeahead" id="saml-ssh-keys-attribute" name="saml[ssh_keys_attribute]" placeholder="public_keys" value="<%= view.saml_ssh_keys_attribute %>">
    </div>
    <div>
      <label class="inline-label" for="saml-gpg-keys-attribute">GPG keys</label>
      <input type="text" class="inline-input typeahead" id="saml-gpg-keys-attribute" name="saml[gpg_keys_attribute]" placeholder="gpg_keys" value="<%= view.saml_gpg_keys_attribute %>">
    </div>
  </div>
</div>
