<div class="js-ldap-field">
  <a class="btn settings-sub-action js-test-ldap-settings" popover="#test-ldap-settings" href="#">
    Test LDAP connection
  </a>
</div>

<input type="hidden" id="ldap-search-test" name="ldap_search_test" class="js-ldap-search-test">

<div class="js-ldap-field ci-ldap-connection">

  <div class="columns">

    <div class="one-half column">
      <label class="label-heading">
        Host <span class="muted">(ldap.example.com)</span>
      </label>
      <input id="ldap-host"
             type="text"
             name="ldap[host]"
             class="js-required"
             value="<%= view.ldap_host %>"
             data-validation-message="valid host required">
    </div>

    <div class="one-fourth column">
      <label class="label-heading">Port</label>
      <input type="text"
             name="ldap[port]"
             class="js-required"
             placeholder="389"
             value="<%= view.ldap_port %>"
             id="ldap-port"
             data-validation-message="valid port required">
    </div>

    <div class="one-fourth column">
      <label class="label-heading">Encryption</label>
      <select name="ldap[method]">
        <option <%= view.ldap_tls_selected %> value="TLS">StartTLS</option>
        <option <%= view.ldap_ssl_selected %> value="SSL">LDAPS</option>
        <option <%= view.ldap_none_selected %> value="None">None</option>
      </select>
    </div>

  </div>

</div>

<div class="js-ldap-field ci-ldap-bind-dn">
  <label class="label-heading">
    Domain search user <span class="muted">The LDAP user that performs user lookups. (cn=github_ldap,ou=People,dc=github,dc=com)</span>
  </label>
  <input type="text" name="ldap[bind_dn]" value="<%= view.ldap_bind_dn %>" autocomplete="off">
</div>

<div class="js-ldap-field ci-ldap-password">
  <label class="label-heading">
    Domain search password <span class="muted">The password for the search user, it's hidden after setting it.</span>
  </label>
  <% # password is blank to never show its value, See: https://github.com/github/enterprise/issues/979 %>
  <input type="password" name="ldap[password]" autocomplete="new-password">
</div>

<div class="js-ldap-field ci-ldap-admin-group">
  <label class="label-heading">
    Administrators group <span class="muted">Optional. Users in this group are promoted to site admins automatically. (GitHub Admins)</span>
  </label>
  <input type="text" name="ldap[admin_group]" value="<%= view.ldap_admin_group %>">
</div>

<div class="js-ldap-field ci-ldap-domain-base">

  <label class="label-heading">
    Domain base <span class="muted">The point in the LDAP tree where groups and users are searched from. (ou=People,dc=github,dc=com)</span>
  </label>

  <p class="empty-group-multiple <%= view.ldap_base? ? "hidden" : "" %>">There are no domain bases registered.</p>

  <div class="list-group list-group-multiple <%= view.ldap_base? ? "" : "hidden" %>">
  <% view.ldap_base.each do |base| %>
    <div class="list-group-item">
      <span class="pull-right list-group-remove-item js-remove-ldap-group">
          <a class="octicon octicon-trashcan"
        data-confirm="Are you sure you want to delete it?" key="<%= base %>"></a>
      </span>
      <span class="list-group-text"><%= base %></span>
      <input type="hidden" name="ldap[base][]" value="<%= base %>">
    </div>
  <% end %>
  </div>

  <div class="columns js-row">
    <div class="column three-fourths">
      <input type="text"
             name="ldap_base_input"
             data-input-name="ldap[base][]"
             class="span9 list-input js-required-list"
             id="ldap-domain-base"
             data-validation-message="valid domain base required">
    </div>
    <div class="column one-fourths">
      <a class="btn btn-medium js-submit list-submit" href="#">Add</a>
    </div>
  </div>
</div>

<div class="js-ldap-field ci-ldap-restricted-user-groups">

  <label class="label-heading">
    Restricted user groups <span class="muted">Only users in these groups will be able to sign in. (GitHub Users, software-developers, etc)</span>
  </label>

  <p class="empty-group-multiple <%= view.ldap_user_groups? ? "hidden" : "" %>">There are no groups registered.</p>
  <div class="list-group list-group-multiple <%= view.ldap_user_groups? ? "" : "hidden" %>">
  <% view.ldap_user_groups.each do |user_group| %>
    <div class="list-group-item">
      <span class="pull-right list-group-remove-item js-remove-ldap-group">
          <a class="octicon octicon-trashcan"
        data-confirm="Are you sure you want to delete it?" key="<%= user_group %>"></a>
      </span>
      <span class="list-group-text"><%= user_group %></span>
      <input type="hidden" name="ldap[user_groups][]" value="<%= user_group %>">
    </div>
  <% end %>
  </div>

  <div class="columns js-row">
    <div class="column three-fourths">
      <input type="text" name="ldap_user_group_input" data-input-name="ldap[user_groups][]" class="span9 list-input">
    </div>
    <div class="column one-forth">
      <a class="btn btn-medium js-submit list-submit" href="#">Add</a>
    </div>
  </div>
</div>

<div class="js-ldap-field ci-ldap-profile">
  <label class="label-heading">
    User fields <span class="muted">The LDAP fields used to get users' information.</span>
  </label>

  <div>
    <label class="inline-label">User ID</label>
    <input type="text"
           autocomplete="off"
           name="ldap[profile][uid]"
           placeholder="uid"
           class="inline-input typeahead js-required"
           value="<%= view.ldap_profile_uid %>"
           data-validation-message="valid User ID required">
  </div>
  <div>
    <label class="inline-label">Profile name</label>
    <input type="text" autocomplete="off" name="ldap[profile][name]" placeholder="cn" class="inline-input typeahead" value="<%= view.ldap_profile_name %>">
  </div>
  <div>
    <label class="inline-label">Emails</label>
    <input type="text" autocomplete="off"
           name="ldap[profile][mail]" id="ldap_profile_mail"
           placeholder="mail" class="inline-input typeahead <%= view.ldap_profile_mail_required %>"
           value="<%= view.ldap_profile_mail %>"
           data-validation-message="LDAP email attribute required">
  </div>
  <div>
    <label class="inline-label">SSH keys</label>
    <input type="text" autocomplete="off"
           name="ldap[profile][key]" id="ldap_profile_keys"
           placeholder="sshPublicKey" class="inline-input typeahead <%= view.ldap_profile_key_required %>"
           value="<%= view.ldap_profile_key %>"
           data-validation-message="LDAP SSH key attribute required">
  </div>
  <div>
    <label class="inline-label">GPG keys</label>
    <input type="text" autocomplete="off"
           name="ldap[profile][gpg_key]" id="ldap_profile_gpg_keys"
           placeholder="pgpKey" class="inline-input typeahead <%= view.ldap_profile_gpg_key_required %>"
           value="<%= view.ldap_profile_gpg_key %>"
           data-validation-message="LDAP GPG key attribute required">
  </div>

</div>

<div class="js-ldap-field">
  <label class="checkbox-item">
    <input name="ldap[external_auth_token_required]" type="hidden" value="false" />
    <input type="checkbox" name="ldap[external_auth_token_required]" <%== view.external_auth_token_required %>>
    Disable username and password authentication for Git operations (recommended)
  </label>
  <p>
    Users will be required to use personal access tokens or SSH for Git access.
    Username and password authentication will continue to work for the web interface and API.
  </p>
</div>

<div class="js-ldap-field">
  <label class="checkbox-item">
    <input name="ldap[verify_certificate]" type="hidden" value="false" />
    <input type="checkbox" name="ldap[verify_certificate]" <%== view.ldap_verify_certificate_checked %>>
    Enable LDAP certificate verification (recommended)
  </label>
  <p>
    Enables host certificate verification for secure connections to the LDAP server.
    Read the documentation on <a href="<%= help_url %>/admin/guides/user-management/using-ldap/#configuring-ldap-with-your-github-enterprise-instance">LDAP certificate verification</a> to learn more.
  </p>
</div>

<% if view.show_ldap_sync? %>
  <div class="js-ldap-field">
    <div class="ldap-sync js-note-trigger-group">
      <label class="checkbox-item">
        <input name="ldap[sync_enabled]" type="hidden" value="false" />
        <input type="checkbox" name="ldap[sync_enabled]" class="js-note-trigger" data-triggers-note=".js-ldap-sync-field" <%== view.ldap_sync_enabled %>>
        Synchronization
      </label>
      <p>
        Automatically update users and teams to match LDAP entries and groups.
        Read the documentation on <a href="<%= help_url %>/admin/guides/user-management/using-ldap/#configuring-ldap-with-your-github-enterprise-instance">configuring LDAP authentication</a> to learn how it works.
      </p>
    </div>

    <div class="js-ldap-sync-field ldap-sync-field">

      <div class="columns">

        <div class="one-half column">

          <label class="inline next-to-select">
            Synchronize all users
          </label>

          <select name="ldap[user_sync_interval]">
            <option <%= view.ldap_1_user_sync_interval_selected %>  value="1">every 1 hour</option>
            <option <%= view.ldap_4_user_sync_interval_selected %>  value="4">every 4 hours</option>
            <option <%= view.ldap_24_user_sync_interval_selected %> value="24">every 24 hours</option>
          </select>

        </div>

        <div class="one-half column">

          <label class="inline next-to-select">
            Synchronize all teams
          </label>

          <select name="ldap[team_sync_interval]">
            <option <%= view.ldap_1_team_sync_interval_selected %>  value="1">every 1 hour</option>
            <option <%= view.ldap_4_team_sync_interval_selected %>  value="4">every 4 hours</option>
            <option <%= view.ldap_24_team_sync_interval_selected %> value="24">every 24 hours</option>
          </select>

        </div>

      </div>

    </div>

    <div class="js-ldap-sync-field">
      <h3>Synchronize User Emails, SSH &amp; GPG keys</h3>
      <div>
        <label class="checkbox-item">
          <input name="ldap[user_sync_emails]" type="hidden" value="false" />
          <input type="checkbox" name="ldap[user_sync_emails]" class="js-toggle-required-field" data-required-field="#ldap_profile_mail" <%= view.ldap_user_sync_emails_checkbox %>>
          Synchronize Emails <span class="muted">(recommended)</span>
        </label>
      </div>
      <div>
        <label class="checkbox-item">
          <input name="ldap[user_sync_keys]" type="hidden" value="false" />
          <input type="checkbox" name="ldap[user_sync_keys]" class="js-toggle-required-field" data-required-field="#ldap_profile_keys" <%= view.ldap_user_sync_keys_checkbox %>>
          Synchronize SSH Keys <span class="muted">(recommended)</span>
        </label>
      </div>
      <div>
        <label class="checkbox-item">
          <input name="ldap[user_sync_gpg_keys]" type="hidden" value="false" />
          <input type="checkbox" name="ldap[user_sync_gpg_keys]" class="js-toggle-required-field" data-required-field="#ldap_profile_gpg_keys" <%= view.ldap_user_sync_gpg_keys_checkbox %>>
          Synchronize GPG Keys <span class="muted">(recommended)</span>
        </label>
      </div>
      <p>
        Forces User Emails, SSH and GPG Keys to be managed in LDAP.
        Valid <strong>user fields</strong> are required to use this option.
        <strong>Existing, manually entered Emails, SSH and GPG Keys will be removed when enabled.</strong>
      </p>
    </div>
  </div>
<% end %>
