<% view = Manage::ViewModels::Actions.new(@settings) %>

<% content_for :javascript do %>
  <script src="<%= page_javascript("actions") %>" type="text/javascript"></script>
<% end %>

<div class="page-section" id="actions" data-validation-message="Actions cannot be enabled without successfully testing storage settings">
  <h2>GitHub Actions</h2>
  <p>
    GitHub Actions makes it easy to automate all your software workflows, now with world-class CI/CD.
  </p>
  <p>
    Before enabling GitHub Actions, please review the <a href="<%= help_url %>/admin/installation/setting-up-a-github-enterprise-server-instance">minimum system requirements</a>.
  </p>

  <div id="setup-failures-warning">
    <p class="flash flash-warn visible"
       <% unless view.actions_setup_failures_detected? %>
         style="display: none;"
       <% end %>
    >
      <span class="octicon octicon-alert"></span>
      <strong>WARNING:</strong>
      A part of the Actions setup had problems and needs an administrator to resolve. Please read <a href="<%= help_url %>/admin/github-actions/advanced-configuration-and-troubleshooting/troubleshooting-github-actions-for-your-enterprise#bundled-actions">this documentation</a> for more.
    </p>
  </div>

  <div class="subsection">
    <div class="js-note-trigger-group">
      <label class="checkbox-item">
        <input name="feature_toggles[actions][enabled]" type="hidden" value="false" />
        <input type="checkbox" <%=('checked' if view.actions_enabled?)%>
          name="feature_toggles[actions][enabled]"
          class="js-enable-actions js-note-trigger js-toggle-required-field"
          data-triggers-note=".js-actions-storage-settings,.js-copy-actions-storage-settings"
          data-required-field="<%= view.storage_required_fields %>">
        Enable GitHub Actions
      </label>
      <p>You can select specific organizations and repositories later.</p>
    </div>
  </div>

  <div class="row subsection js-actions-storage-settings">
    <h3>Artifact & Log Storage</h3>
    <%== erb :"settings/actions/_storage_providers_with_oidc", locals: {view: view} %>
    <div class="popover js-popover" id="test-actions-settings" style="display: none;">
      <h3 class="popover-title">Actions storage settings</h3>
      <a class="popover-close js-popover-close" href="#"><span class="octicon octicon-x"></span></a>
      <div class="js-testing-actions popover-loader">
        <span class="spinner-small"></span>
        <span id="actions-test-storage-loading"> Testing storage settings&hellip; </span>
      </div>
      <div class="popover-content" id="actions_test_result"></div>
      <div class="popover-footer">
        <button class="btn close js-popover-close" type="button">Close</button>
      </div>
    </div>
  </div>
</div>
