<% content_for :javascript do %>
  <script src="<%= page_javascript("ldap") %>" type="text/javascript"></script>
  <script src="<%= page_javascript("ldapChecker") %>" type="text/javascript"></script>
  <script src="<%= page_javascript("passkeys") %>" type="text/javascript"></script>
<% end %>

<% view = Manage::ViewModels::Authentication.new(@settings) %>

<div class="page-section" id="authentication">

  <h2>Authentication</h2>
  <div class="inline-doc"><a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/managing-iam/understanding-iam-for-enterprises/about-identity-and-access-management"><span class="octicon octicon-question"></span></a></div>
  <p>
    Have an existing <strong>LDAP</strong>, <strong>SAML</strong> or <strong>CAS</strong> setup in
    your organization? Configure it below to replace the default authentication.
  </p>

  <div class="radio-list js-note-trigger-group">

    <label class="radio-item">
      <input type="radio" name="auth_mode" value="default" checked="checked" class="js-note-trigger builtin-auth" data-triggers-note=".builtin-note" data-triggers-note-hidden=".external-note" <%== view.default_checked? %>>
      Built in authentication
    </label>

    <label class="radio-item">
      <input type="radio" name="auth_mode" value="ldap" class="js-note-trigger auth-method" data-triggers-note=".js-ldap-field" <%== view.ldap_checked? %>>
      LDAP
    </label>

    <% if view.saml_enabled? %>
      <label class="radio-item">
        <input type="radio" name="auth_mode" value="saml" class="js-note-trigger auth-method" data-triggers-note=".saml-note" <%== view.saml_checked? %>>
        SAML
      </label>
    <% end %>

    <label class="radio-item">
      <input type="radio" name="auth_mode" value="cas" class="js-note-trigger auth-method" data-triggers-note=".cas-note" <%== view.cas_checked? %>>
      CAS
    </label>

    <% if @settings.github_oauth? %>
      <label class="radio-item">
        <input type="radio" name="auth_mode" value="github_oauth" class="js-note-trigger auth-method" data-triggers-note=".github-oauth-note" <%== view.github_oauth_checked? %>>
        GitHub OAuth
      </label>
    <% end %>


  </div>

  <p class="note builtin-note">
    Built in authentication will store all authentication details within the
    instance. Users will have to sign up with a new username and password inside
    the installation.
  </p>

  <label class="note external-note checkbox-item whole">
    <input name="builtin_auth_fallback" type="hidden" value="false" />
    <input type="checkbox" class="js-builtin-auth-fallback-checkbox" id="js-builtin-auth-fallback-checkbox" name="builtin_auth_fallback" <%= view.builtin_auth_fallback_checked? %> value="true" />
    Allow creation of accounts with built-in authentication
    <span class="muted saml-note">(for users not in SAML)</span>
    <span class="muted cas-note">(for users not in CAS)</span>
    <span class="muted js-ldap-field">(for users not in LDAP)</span>
  </label>

  <div class="passkeys-selection" style="display: none; padding-bottom: 6px; margin-bottom: 10px;">
    <h3>Passkeys</h3>

    <% unless view.ssl? %>
      <div class="flash flash-warn">
        <p class="note warning-link" style="padding: 5px;">
          Passkeys require <a href="https://docs.github.com/enterprise-server/admin/configuration/hardening-security-for-your-enterprise/configuring-tls" style="color: #0000FF;">configuring TLS</a> in order to function.
          Your instance does not have TLS configured, so your users will be unable to create or use passkeys, even with this setting enabled. Please configure TLS in order to use the passkeys feature.
        </p>
      </div>
    <% end %>

    <p class="note">
      Passkeys are a password replacement that validates user identity using touch, facial recognition, a password, or a PIN.
      Passkeys can be used for sign-in as a simple and secure alternative to passwords and two-factor credentials.
    </p>

    <p class="note">
      If passkey upsell is enabled, users will be prompted to create a passkey when GitHub identifies that they're using a FIDO2-compatible device or security key.
    </p>

    <label class="note checkbox-item">
      <input type="hidden" name="passkeys[enabled]" value="false">
      <input type="checkbox" class="js-enable-passkeys-checkbox" id="js-enable-passkeys-checkbox" name="passkeys[enabled]" <%= view.passkeys_checked? %> value="true" />
      Enable passkeys
    </label>

    <label class="note checkbox-item">
      <input type="hidden" name="passkeys[upsell]" value="false">
      <input type="checkbox" class="js-enable-passkeys-upsell-checkbox" id="js-enable-passkeys-upsell-checkbox" name="passkeys[upsell]" <%= view.upsell_passkeys_checked? %> value="true" />
      Enable upsell
    </label>
  </div>

  <%== erb :"settings/_authentication_ldap", :locals => {:view => view}  %>

  <% if view.saml_enabled? %>
    <%== erb :"settings/_authentication_saml", :locals => {:view => view } %>
  <% end %>

  <%== erb :"settings/_authentication_cas", :locals => {:view => view}  %>

  <% if @settings.github_oauth? %>
    <%== erb :"settings/_authentication_oauth", :locals => {:view => view}  %>
  <% end %>

  <div class="popover js-popover js-disable-builtin-auth-fallback-warning" style="display: none;">
    <h3 class="popover-title">
      <span class="octicon octicon-alert"></span>
      Warning
    </h3>
    <a class="popover-close js-popover-close" href="#"><span class="octicon octicon-x"></span></a>
    <div class="popover-content">
      <p>
        Disabling built-in account creation will <b>not</b> suspend existing users
        that use built-in authentication to sign in to the instance.
      </p>
      <p>
        If you disable built-in account creation, you must individually suspend
        any users that should no longer have access to the instance.

        <a target="ghe-docs"
           title="Learn more in our guides"
           href="<%= help_url %>/admin/guides/user-management/suspending-and-unsuspending-users/">
           <span class="octicon octicon-question"></span>
        </a>
      </p>
    </div>
    <div class="popover-footer">
      <button class="btn close js-popover-close" type="button">Ok</button>
    </div>
  </div>
</div>
