<% show_backup_copy ||= false %>

<% content_for :javascript do %>
  <script src="<%= page_javascript("authorizedKeys") %>" type="text/javascript"></script>
<% end %>

<% view = Manage::ViewModels::AuthorizedKeys.new(@ssh_settings) %>

<div class="page-section section-authorized-keys js-authorized-keys" id="ssh-access">

  <% if show_backup_copy %>
    <h3>Authorized SSH keys</h3>
    <p class="js-non-empty-ssh-keys <%= view.authorized_keys? ? "" : "hidden" %>">
      The following keys are currently authorized.
    </p>
  <% else %>
    <h2>SSH access</h2>
    <div class="inline-doc"><a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/guides/installation/accessing-the-administrative-shell-ssh/"><span class="octicon octicon-question"></span></a></div>
    <p>
      This grants limited SSH access to the appliance to perform specific operations. You can access this appliance via <code class="code-with-click2copy">ssh -p 122 admin@<span class="js-ssh-hostname"><%= @settings.github_hostname %></span></code>
      <a class="js-click2copy click2copy-addon-code js-tooltipped" data-clipboard-text="ssh -p 122 admin@<%= @settings.github_hostname %>" title="Copy to clipboard"  data-preclick-title="Copy to clipboard" data-copied-hint="Copied!"><span class="octicon octicon-clippy"></span></a>.
    </p>
  <% end %>

  <% unless show_backup_copy %>
    <label class="label-heading">Authorized SSH keys</label>
  <% end %>

  <p class="js-empty-ssh-keys <%= view.authorized_keys? ? "hidden" : "" %>">
    There are no authorized keys in your instance.
  </p>

  <ol class="list-group list-group-multiple list-group-authorized-keys js-list-group-authorized-keys <%= view.authorized_keys? ? "" : "hidden" %>">

    <% view.authorized_keys.each do |key| %>
      <li class="list-group-item">
        <a class="js-remove-ssh-key pull-right list-group-remove-item" data-confirm="Are you sure you want to delete this key?" key="<%= key.string %>">
          <span class="octicon octicon-trashcan"></span>
        </a>

        <div class="ssh-key"><%= key.pretty_print %></div>

        <div class="ssh-key-comment"><%= key.comment %></div>

      </li>
    <% end %>

  </ol>
  <div class="ssh-access-add-key">

    <label class="label-heading">Add new SSH key</label>
    <textarea class="js-authorized-key" id="authorized-key" name="authorized-key" rows="3"></textarea>

    <a class="btn js-submit js-authorized-key-submit settings-sub-action">
      Add key
    </a>

    <div class="ssh-access-error js-ssh-access-error hidden"></div>

  </div>

  <% if development? %>
    <div class="dev-zone dev-zone-local">
      <p class="dev-zone-heading">Fake SSH keys</p>
      <div>
        <a href="/setup/settings/authorized-keys/generate">Random list</a>
        <a id="rand-dev-key" class="js-dev-zone-add-key-link" href="#" key="<%= view.random_public_key %>">Add key</a>
      </div>
    </div>
  <% end %>

</div>
