<% view = Manage::ViewModels::Chatops.new(@settings) %>
<% content_for :javascript do %>                                                        
  <script src="<%= page_javascript("chatops") %>" type="text/javascript"></script>
<% end %>

<div class="page-section" id="chatops" data-validation-message="Chat integration cannot be enabled without entering all the details">
  <h2>Chat integration</h2>
  <div class="subsection">
    <div class="js-note-trigger-group">
      <p>
        Enabling chat integration allows you to subscribe to different activities on GitHub for Slack or MS Teams.
      </p>
      <label class="checkbox-item">
        <input name="feature_toggles[chatops][enabled]" type="hidden" value="false" />
        <input type="checkbox" <%=('checked' if view.chatops_enabled?)%> name="feature_toggles[chatops][enabled]" 
        class="js-enable-chatops js-note-trigger js-toggle-required-field"
        data-required-field="#chatops-slack-configuration-token-input"
        data-triggers-note="#chatops-settings">
        Enable GitHub Chat integration
      </label>
      <% if view.chatops_enabled? %>
        <button class="btn btn-danger chatops-remove-integration" type="button" value="/setup/settings/chatops/remove" popover="#remove-client-settings">
          Remove Integration
        </button>
      <% end %>
    </div>
  </div>
  <div id="chatops-settings">
    <div class="subsection js-chatops-client-settings">
      <div>

        <div id="chatops-client-settings">
          <div class="js-note-trigger-group">
          <div class="row subsection">
            <h3>Select chat client</h3>
            <label for="chatops-slack-radio" class="radio-item js-select-chatops-client">
              <input type="radio" name="chatops_app_type" 
                id="chatops-slack-radio" <%=('checked' if view.slack_enabled? || view.slacksocket_enabled?)%>
                class="js-note-trigger js-toggle-required-field"
                data-required-field="#chatops-slack-configuration-token-input"
                data-triggers-note="#chatops-slack-configuration-token"
              />
              Slack</label>

            <label for="chatops-teams-radio" class="radio-item js-select-chatops-client">
              <input type="radio" name="chatops_app_type" 
                id="chatops-teams-radio" <%=('checked' if view.msteams_enabled?)%> class="js-note-trigger js-toggle-required-field"
                data-required-field="#chatops-teams-app-id-input,#chatops-teams-app-password-input"
                data-triggers-note="#chatops-teams-appid,#chatops-teams-app-password"
              />
              Microsoft Teams</label>
          </div>

            <%== erb :"settings/chatops/_teams_section", locals: {view: view} %>
            <%== erb :"settings/chatops/_slack_section", locals: {view: view} %>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="popover js-popover" id="save-client-settings" style="display: none;">
      <h3 class="popover-title">Save client settings</h3>
      <a class="popover-close js-popover-close" href="#"><span class="octicon octicon-x"></span></a>
      <div class="js-saveing-client-settings popover-loader">
        <span class="spinner-small"></span>
        Saveing client settings&hellip;
      </div>
      <div class="popover-content" id="chatops_save_result"></div>
      <div class="popover-footer">
        <button class="btn close js-popover-close" type="button">Close</button>
      </div>
    </div>
    <div class="popover js-popover" id="remove-client-settings" style="display: none;">
      <h3 class="popover-title">Remove Integration</h3>
      <a class="popover-close js-popover-close" href="#"><span class="octicon octicon-x"></span></a>
      <div class="js-removing-client-settings popover-loader">
        This cannot be undone and all settings will be removed. Proceed with caution.
      </div>
      <div class="popover-content" id="chatops_remove_result"></div>
      <div class="popover-footer">
        <button class="btn close js-popover-close" type="button">Close</button>
        <button class="btn btn-danger js-chatops-remove" value="/setup/settings/chatops/remove" type="button">Confirm Remove Integration</button>
      </div>
    </div>
  </div>
</div>