<% view = Manage::ViewModels::Checks.new(@settings) %>
<div class="page-section" id="checks">
  <h2>Checks</h2>

  <div class="subsection">
    <div class="js-note-trigger-group">
      <label class="checkbox-item">
        <input name="checks_retention[enabled]" type="hidden" value="false" />
        <input type="checkbox" 
          name="checks_retention[enabled]" 
          <%== view.checks_retention_checkbox %>
          class="js-note-trigger"
          data-triggers-note=".checks_retention_options"
        >
        Enable archiving of Checks-related data <span class="muted">(recommended)</span>
      </label>
      <p>
        Enables background jobs that archives and deletes checks (Check Suites, Actions Workflow Runs, Statuses) and associated data based on the thresholds you set. <a href="<%= help_url %>/admin/configuration/configuring-your-enterprise">Learn more</a>.
      </p>
    </div>
  </div>

  <div class="checks_retention_options">
    <div class="subsection">
      <div class="columns">
        <div class="column one-half">
          <label class="label-heading">Archive threshold (days)</label>
            <input type="number" 
                id="checks-retention-archive-threshold"
                name="checks_retention[archive_threshold]"
                class="js-integer js-required"
                value="<%= view.checks_retention_archive_threshold %>"
                data-default="<%== view.settings.defaults['archive_threshold'] %>"
                placeholder="<%== view.settings.defaults['archive_threshold']%>"
                min="1"
              />
        </div>
      </div>
      <p>
        Checks older than this number of days will be archived.
      </p>
    </div>
    <div class="subsection">
      <div class="columns">
        <div class="column one-half">
          <label class="label-heading">Delete threshold (days)</label>
            <input type="number" 
                id="checks-retention-delete-threshold"
                name="checks_retention[delete_threshold]"
                class="js-integer js-required"
                value="<%= view.checks_retention_delete_threshold %>"
                data-default="<%== view.settings.defaults['delete_threshold'] %>"
                placeholder="<%== view.settings.defaults['delete_threshold']%>"
                min="1"
              />
        </div>
      </div>
      <p>
        Archived checks older than this number of days will be deleted permanently.
      </p>
    </div>
  </div>
</div>