<% content_for :javascript do %>
  <script src="<%= page_javascript("email") %>" type="text/javascript"></script>
<% end %>

<% view = Manage::ViewModels::Email.new(@settings) %>

<div class="page-section" id="email">

  <h2>Email</h2>

  <div class="subsection js-note-trigger-group">

    <label class="checkbox-item">
      <input name="smtp[enabled]" type="hidden" value="false" />
      <input type="checkbox" name="smtp[enabled]" class="js-note-trigger" data-triggers-note=".smtp-note" <%== view.email_checkbox %>>
      Enable email <span class="muted">(recommended)</span>
    </label>

    <p>
      GitHub Enterprise requires an external SMTP server to send email notifications for
      issues, pull requests, and commit comments. No email will be sent if this is disabled.
    </p>

    <div class="smtp-note">
      <%== erb :"settings/email_hostname_warning", locals: { show_email_warning: view.show_email_warning? } %>

      <button class="btn btn-small js-test-smtp-settings" popover="#test-smtp-settings">Test email settings</button>
    </div>

    <div class="popover js-popover" id="test-smtp-settings" style="display: none;">

      <h3 class="popover-title">Test email settings</h3>

      <a class="popover-close js-popover-close">
        <span class="octicon octicon-x"></span>
      </a>

      <div class="form">

        <div class="popover-content">

          <p class="js-testing-smtp" style="display: none;">
            <span class="spinner-small"></span>
            Sending test email&hellip;
          </p>

          <div class="message field-note" id="smtp_test_result"></div>

          <label>Send test email to</label>
          <input type="email" name="smtp_test_email" id="smtp_test_email" class="js-ignore" placeholder="name@example.com">
          <p><small>Don't forget to save any changes to your settings.</small></p>

        </div>

        <div class="popover-footer">
          <button class="btn btn-primary js-test-smtp" type="button" value="/setup/settings/test/smtp">Send test email</button>
          <button class="btn js-popover-close" type="button">Cancel</button>
        </div>

      </div>

    </div>

  </div>

  <div class="smtp-note">

    <div class="columns">

      <div class="column one-half">
        <label class="label-heading">
          Server address <span class="muted">(smtp.example.com, email.example.com)</span>
        </label>
        <input id="smtp-address"
               type="text"
               name="smtp[address]"
               class="js-required"
               value="<%= view.email_address %>"
               data-validation-message="valid SMTP address required">
      </div>

      <div class="column one-half">
        <label class="label-heading">Port</label>
        <input type="text"
               name="smtp[port]"
               class="js-required"
               value="<%= view.email_port %>"
               id="smtp-port"
               data-validation-message="valid SMTP port required">
      </div>

    </div>

    <div class="columns">

      <div class="column two-thirds">
        <label class="label-heading">
          Domain <span class="muted">(if you need to specify a HELO domain)</span>
        </label>
        <input type="text" name="smtp[domain]" value="<%= view.email_domain %>">
      </div>

    </div>

    <div class="subsection js-select-trigger-group email-authentication">

      <label class="inline">Authentication</label>
      <select name="smtp[authentication]" class="js-select-trigger" data-triggers-select=".smtp-auth">
        <option value="" <%= view.smtp_none_selected %>>none</option>
        <option value="plain" <%= view.smtp_plain_selected %>>plain</option>
        <option value="login" <%= view.smtp_login_selected %>>login</option>
        <% unless view.fips_mode? %>
          <option value="cram_md5" <%= view.smtp_cram_md5_selected %>>cram_md5</option>
        <% end %>
      </select>

      <div class="columns smtp-auth">

        <div class="column one-half">
          <label class="label-heading">
            Username <span class="muted">(if required)</span>
          </label>
          <input type="text" name="smtp[username]" value="<%= view.email_username %>" autocomplete="off">
        </div>

        <div class="column one-half">
          <label class="label-heading">
            Password <span class="muted">(if required)</span>
          </label>
          <input type="password" name="smtp[password]" value="<%= view.email_password %>" autocomplete="new-password">
        </div>

      </div>

    </div>

    <div class="smtp-note">
      <label class="checkbox-item">
        <input name="smtp[enforce_tls_auth]" type="hidden" value="false" />
        <input type="checkbox" name="smtp[enforce_tls_auth]" <%== view.enforce_tls_auth_checkbox %>>
        Enforce TLS auth <span class="muted">(recommended)</span>
      </label>
    </div>

    <div class="subsection">
      <label class="label-heading">No-reply email address</label>
      <input type="email" name="smtp[noreply_address]" class="js-email js-required"
        id="no-reply-email-address"
        value="<%= view.email_noreply_address %>"
        data-validation-message="No-reply email address is invalid.  Example: email@example.com"
      >
      <p>
        This is the email address that is used in the From and To fields for
        all notifications emails. Set this to either an address that you want to archive
        all notifications at or a blackhole address. Note that this has no actual
        effect unless outbound emails are enabled. The default is <code>noreply@[SMTP-DOMAIN]</code>.
      </p>

      <label class="checkbox-item">
        <input name="smtp[discard_to_noreply_address]" type="hidden" value="false" />
        <input type="checkbox" name="smtp[discard_to_noreply_address]" <%== view.discard_to_noreply_address_checkbox %>>
        Discard email addressed to the no-reply email address
      </label>
      <p>
        Immediately discard emails addressed to the no-reply email address.
        These emails are often delivery errors due to undeliverable notification emails.
      </p>
    </div>
  </div>

  <div class="subsection">
    <label class="label-heading">Support</label>

    <% email = view.support_address_is_email? %>
    <% url = view.support_address_is_url? %>

    <div class='radio-textfield'>
      <label class='<%= ('inline-label' if email) %> radio-button js-support-address'>
        <input type="radio"
               class="js-input-radio"
               name="smtp[support_address_type]"
               data-input-field-id="#support-address-email-radio"
               data-value="email"
               <%= ('checked' if email) %>>
        Email
      </label>
      <input type="email"
             id="support-address-email-radio"
             class='inline-input js-email'
             name="smtp[support_address]"
             placeholder="email@example.com"
             style="<%= ("display: none;" unless email) %>"
             value="<%= (view.support_address if email) %>"
             data-validation-message="Support email address is invalid.  Example: email@example.com"
             <%= ('disabled' unless email) %>>
    </div>

    <div class='radio-textfield'>
      <label class='<%= ('inline-label' if url) %> radio-button js-support-address'>
        <input type="radio"
               class="js-input-radio"
               name="smtp[support_address_type]"
               data-input-field-id="#support-address-url-radio"
               data-value="url"
               <%= ('checked' if url) %>>
        URL
      </label>
      <input type="text"
             id="support-address-url-radio"
             class='inline-input js-url'
             name="smtp[support_address]"
             placeholder="http://support.example.com"
             style="<%= ("display: none;" unless url) %>"
             value="<%= (view.support_address if url) %>"
             <%= ('disabled' unless url) %>>
    </div>
    </br>
    <p>
      This is the email address or url linked to from any "support" links throughout
      the installation. Please set this to the internal email address or website you want
      to send any of your users' support requests to.
    </p>
  </div>

</div>
