<% view = Manage::ViewModels::Hostname.new(@settings) %>
<% is_first_run ||= false %>

<% content_for :javascript do %>
  <script src="<%= page_javascript("dns") %>" type="text/javascript"></script>
  <script src="<%= page_javascript("packages") %>" type="text/javascript"></script>
<% end %>

<div class="page-section" id="hostname">

  <h2>Hostname</h2>
  <div class="inline-doc">
    <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/configuration/configuring-network-settings/configuring-a-hostname/">
      <span class="octicon octicon-question"></span>
    </a>
  </div>
  <p>Ensure this domain is routable on your network.</p>

  <label for="hostname-field" class="label-heading">
    Hostname <span class="muted">(github.companyname.com)</span>
  </label>

  <div class="hostname-form columns">
    <div class="column two-thirds">
      <input type="text"
             id="hostname-field"
             name="github_hostname"
             class="js-required"
             value="<%= view.github_hostname %>"
             data-validation-message="Valid hostname required">
    </div>

    <div class="column one-third">
      <button class="btn js-test-dns-settings" value="/setup/settings/test/dns" popover="#test-dns-settings">
        Test domain settings
      </button>
    </div>

    <div class="column full-width">
      <%== erb :"settings/email_hostname_warning", locals: { show_email_warning: view.show_email_warning? } %>
    </div>
  </div>
  <% if !is_first_run %>
    <div class="hostname-change-warning highlighted-warning">
        <img src="/setup/images/preflight/warn.svg" alt="" class="warning-icon">
        <p class="warning-text">
          Changing the hostname after initial setup will cause unexpected behavior, up to and including instance outages.
        </p>
    </div>
  <% end %>
  <div class="subsection">
    <div class="js-note-trigger-group">
      <label class="checkbox-item">
        <input name="subdomain_isolation" type="hidden" value="false" />
        <input type="checkbox"
              id="subdomain-isolation-checkbox"
              name="subdomain_isolation"
              class="js-note-trigger js-show-docker-v2-warning"
              data-triggers-note="#subdomain-isolation"
              <%== view.subdomain_isolation_checkbox %>>
        Subdomain isolation <span class="muted">(recommended)</span>
      </label>
    </div>
    <div class="inline-doc">
      <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/guides/installation/enabling-subdomain-isolation/">
        <span class="octicon octicon-question"></span>
      </a>
    </div>
    <p>
      Subdomain isolation is an <strong>important security feature</strong> used to separate user-supplied content from other portions of your GitHub Enterprise installation. A valid domain name, not an IP address, must be set as the Hostname and a wildcard DNS entry must be added for your host.
    </p>
    <div id="cr-enabled-warning">
        <p class="flash flash-warn visible">
          <span class="octicon octicon-alert"></span>
          Container Registry is currently enabled. <strong>Disabling subdomain isolation will disable Container Registry.</strong>
        </p>
      </div>
  </div>

  <div class="popover js-popover" id="test-dns-settings" style="display: none;">
    <h3 class="popover-title">Domain DNS and SSL settings</h3>
    <a class="popover-close js-popover-close" href="#"><span class="octicon octicon-x"></span></a>
    <div class="js-testing-dns popover-loader">
      <span class="spinner-small"></span>
      Checking DNS records and SSL certificate&hellip;
    </div>
    <div class="popover-content hidden" id="dns_test_result"></div>
    <div class="popover-footer">
      <button class="btn close js-popover-close" type="button">Close</button>
    </div>
  </div>
</div>
