<% view = Manage::ViewModels::Migrations.new(@settings) %>
<% content_for :javascript do %>
  <script src="<%= page_javascript("migrations") %>" type="text/javascript"></script>
<% end %>

<div class="page-section" id="migrations" data-validation-message="Migrations cannot be enabled without successfully testing storage settings">
  <h2>GitHub Migrations</h2>
  <div class="subsection">
    <div class="js-note-trigger-group">
      <label class="checkbox-item">
        <input name="feature_toggles[migrations][enabled]" type="hidden" value="false" />
        <input type="checkbox" <%=('checked' if view.migrations_enabled?)%>
          name="feature_toggles[migrations][enabled]"
          class="js-enable-migrations js-note-trigger js-toggle-required-field"
          data-required-field="#migrations-azure-connection-string"
          data-triggers-note="#migrations-settings">
        Enable GitHub Migrations
      </label>
    </div>
  </div>

  <div id="migrations-settings">
    <h3>Migrations Storage</h3>

    <div class="subsection js-migrations-storage-settings">
      <div class="column two-thirds">
        <div id="migrations-storage-settings">
          <div class="js-note-trigger-group">
            <label class="radio-item js-select-migrations-storage-provider" value="azure">
              <input type="radio"
                id="migrations-azure-radio-button"
                name="migrations[blob_storage_type]"
                class="js-note-trigger js-toggle-required-field js-toggle-azure-storage-migrations"
                value="azure"
                data-required-field="#migrations-azure-connection-string"
                data-triggers-note="#migrations-azure-storage"
                <%=('checked' if view.azure_storage_enabled?)%>>
              Azure Blob Storage
            </label>
            <label class="radio-item js-select-migrations-storage-provider" value="s3">
              <input type="radio"
                id="migrations-s3-radio-button"
                name="migrations[blob_storage_type]"
                class="js-note-trigger js-toggle-required-field"
                data-triggers-note="#migrations-s3-storage"
                <%# data-triggers-note-hidden="#migrations-azure-container-name" %>
                data-required-field="#migrations-aws-service-url,#migrations-aws-access-key,#migrations-s3-bucket,#migrations-aws-secret-key"
                value="s3"
                <%=('checked' if view.s3_storage_enabled?)%>>
              Amazon S3
            </label>
          </div>
        </div>
        <div id="migrations-azure-storage">
          <label class="label-heading">
            Azure Connection string
          </label>
          <input type="password"
            autocomplete="off"
            id="migrations-azure-connection-string"
            name="migrations[azure_connection_string]"
            <% if view.azure_connection_string? %>
              placeholder="******"
            <% else %>
              class="js-required"
            <% end %> 
          >
          <p>
            <small class="connection-string-note">
              <strong>Note</strong>: Use of a shared access signature (SAS) token as a connection string isn't currently supported.
              <a target="ghe-docs" class="docs-link" href="<%= help_url %>/migrations/using-github-enterprise-importer/migrating-repositories-with-github-enterprise-importer/migrating-repositories-from-github-enterprise-server-to-github-enterprise-cloud#step-4-set-up-blob-storage">Learn more about enabling GitHub migrations with blob storage. </a>
            </small>
          </p>
        </div>
        <div id="migrations-s3-storage">
          <label class="label-heading">
            AWS Service URL
          </label>
          <p>
            The Amazon S3 endpoint URL for your bucket's region (e.g. https://s3.us-west-1.amazonaws.com).  
          </p>
          <input id="migrations-aws-service-url"
                autocomplete="off"
                type="text"
                name="migrations[aws_service_url]"
                value="<%= view.aws_service_url%>">
          <p>
            <small class="connection-string-note">
              <strong>Note</strong>: Only <a class="docs-link" href="https://docs.aws.amazon.com/general/latest/gr/s3.html">standard Amazon S3 endpoints</a> are supported. VPC endpoints and S3-compatible storage providers (e.g. MinIO) are not supported.
              <a target="ghe-docs" class="docs-link" href="<%= help_url %>/migrations/using-github-enterprise-importer/migrating-repositories-with-github-enterprise-importer/migrating-repositories-from-github-enterprise-server-to-github-enterprise-cloud#step-4-set-up-blob-storage">Learn more about enabling GitHub migrations with blob storage. </a>
            </small>
          </p>
          <label class="label-heading">
            AWS S3 Bucket
          </label>
          <p>
            The name of the S3 bucket that will store the package artifacts.
          </p>
          <input id="migrations-s3-bucket"
                autocomplete="off"
                type="text"
                class="js-required"
                name="migrations[s3_bucket]"
                value="<%= view.s3_bucket %>">
          <label class="label-heading">
            AWS S3 Access Key
          </label>
          <input id="migrations-aws-access-key"
                type="password"
                autocomplete="off"
                name="migrations[aws_access_key]"
                <% if view.aws_access_key? %>
                  placeholder="******"
                <% else %>
                  class="js-required"
                <% end %> 
          >
          <label class="label-heading">
            AWS S3 Secret Key
          </label>
          <input id="migrations-aws-secret-key"
                type="password"
                autocomplete="off"
                name="migrations[aws_secret_key]"
                <% if view.aws_secret_key? %>
                  placeholder="******"
                <% else %>
                  class="js-required"
                <% end %> 
          >
        </div>
      </div>

      <div class="column one-third">
        <button class="btn js-test-migrations-settings" value="/setup/settings/test/storage/migrations" popover="#test-migrations-settings">
          Test storage settings
        </button>
      </div>
    </div>

    <div class="popover js-popover" id="test-migrations-settings" style="display: none;">
      <h3 class="popover-title">Migrations storage settings</h3>
      <a class="popover-close js-popover-close" href="#"><span class="octicon octicon-x"></span></a>
      <div class="js-testing-migrations popover-loader">
        <span class="spinner-small"></span>
        Testing storage settings&hellip;
      </div>
      <div class="popover-content" id="migrations_test_result"></div>
      <div class="popover-footer">
        <button class="btn close js-popover-close" type="button">Close</button>
      </div>
    </div>
  </div>
</div>