<% content_for :javascript do %>
  <script src="<%= page_javascript("snmp") %>" type="text/javascript"></script>
<% end %>

<% view = Manage::ViewModels::Monitoring.new(@settings) %>

<div class="page-section" id="monitoring">

  <h2>Monitoring</h2>
  <div class="inline-doc"><a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/guides/installation/monitoring-your-github-enterprise-server-appliance/"><span class="octicon octicon-question"></span></a></div>

  <div class="subsection">
  <% if view.fips_mode? %>
    <label class="checkbox-item">
      <input type="checkbox" disabled>
      Enable SNMP <span class="muted">(unavailable in this configuration)</span>
    </label>
  <% else %>
    <div class="js-note-trigger-group">
      <label class="checkbox-item">
        <input name="snmp[enabled]" type="hidden" value="false" />
        <input type="checkbox" name="snmp[enabled]" class="js-note-trigger" data-triggers-note=".snmp-note" <%== view.snmp_checkbox %>>
        Enable SNMP <span class="muted">(recommended)</span>
      </label>
      <p>
        Provides the ability to gather system performance metrics about your GitHub Enterprise appliance over SNMP version 2c with the community string set to <code>public</code>, or SNMP version 3 with your own defined users and passwords.
      </p>
    </div>
    <div class="snmp-note">

      <div class="radio-list js-note-trigger-group">
        <label class="radio-item">
          <input type="radio" name="snmp[version]" value="3" checked="checked" class="js-note-trigger" data-triggers-note=".snmp-users" <%== view.snmp_v3_checked %>>
          SNMP v3
        </label>

        <label class="radio-item">
          <input type="radio" name="snmp[version]" value="2" class="js-note-trigger" data-triggers-note=".snmp-community-note" <%== view.snmp_v2c_checked %>>
          SNMP v2c
        </label>
      </div>

      <div class="snmp-community-note hidden">
        <label class="label-heading">
          Community string <span class="muted">(used as authentication string, "public" by default)</span>
        </label>
        <input id="snmp-community-string" type="text" name="snmp[community]" value="<%= view.snmp_community %>">
      </div>

      <div class="snmp-users">
        <label class="label-heading">SNMPv3 Users</label>

        <p class="empty-group-multiple <%= view.snmp_v3_users? ? "hidden" : "" %>">There are no SNMPv3 users configured.</p>

        <div class="list-group list-group-multiple <%= view.snmp_v3_users? ? "" : "hidden" %>">
        <% view.snmp_v3_users_display.each do |user, display_string| -%>
          <div class="list-group-item">
            <span class="pull-right list-group-remove-item js-remove-snmp-group">
                <a class="octicon octicon-trashcan"
              data-confirm="Are you sure you want to delete it?" key="<%= user %>"></a>
            </span>
            <span class="list-group-text"><%= display_string %></span>
            <input type="hidden" name="snmp[users][]" value="<%= user %>">
          </div>
        <% end %>
        </div>

        <div class="snmp-add-user">

          <div class="columns">
            <div class="column three-fourths">
              <label class="label-heading">Username</label>
              <input type="text" name="snmp_username" autocomplete="off">
            </div>
            <div class="column one-fourth">
              <label class="label-heading">Security Level</label>
              <select class="js-snmp-security-level" name="snmp_sec_level">
                <option value="authPriv">authPriv</option>
                <option value="authNoPriv">authNoPriv</option>
                <option value="noAuthNoPriv">noAuthNoPriv</option>
              </select>
            </div>
          </div>

          <div class="columns js-snmp-auth">
            <div class="column three-fourths">
              <label class="label-heading">Authentication Password <span class="muted">(minimum 8 characters)</span></label>
              <input type="password" name="snmp_auth_password" autocomplete="new-password">
            </div>
            <div class="column one-fourth">
              <label class="label-heading">Protocol</label>
              <select name="snmp_auth_protocol">
                <option value="SHA">SHA</option>
                <option value="MD5">MD5</option>
              </select>
            </div>
          </div>

          <div class="columns js-snmp-privacy">
            <div class="column three-fourths">
              <label class="label-heading">Privacy Password <span class="muted">(optional: minimum 8 characters)</span></label>
              <input type="password" name="snmp_priv_password" autocomplete="new-password">
            </div>
            <div class="column one-fourth">
              <label class="label-heading">Protocol</label>
              <select name="snmp_priv_protocol">
                <option value="AES">AES</option>
                <option value="DES">DES</option>
              </select>
            </div>
          </div>

          <a class="btn js-submit js-snmp-user-submit">Add user</a>

        </div>
      </div>
    </div>
  <% end %>
  </div>

  <div class="subsection">

    <div class="js-note-trigger-group">
      <label class="checkbox-item">
        <input name="syslog[enabled]" type="hidden" value="false" />
        <input type="checkbox" name="syslog[enabled]" class="js-note-trigger" data-triggers-note=".syslog-note" <%== view.syslog_checkbox %>>
        Enable log forwarding <span class="muted">(recommended)</span>
      </label>
      <p>
        Provides the ability to forward log inputs to external servers using syslog-ng.
      </p>
    </div>

    <div class="syslog-note">

      <div class="columns">

        <div class="column two-thirds">
          <label class="label-heading">
            Server address <span class="muted">(logstash.example.com, logging.example.com:5455)</span>
          </label>
          <input id="syslog-server"
                 type="text"
                 name="syslog[server]"
                 class="js-required"
                 value="<%= view.syslog_server %>"
                 data-validation-message="valid server address required">
        </div>

        <div class="column one-third">
          <label class="label-heading">Protocol</label>
          <select name="syslog[protocol_name]">
            <option value="udp" <%= view.syslog_udp_selected %>>UDP</option>
            <option value="tcp" <%= view.syslog_tcp_selected %>>TCP</option>
            <option value="udp6" <%= view.syslog_udp6_selected %>>UDP6</option>
            <option value="tcp6" <%= view.syslog_tcp6_selected %>>TCP6</option>
          </select>
        </div>

      </div>

      <p>
        To forward logs to more than one server, specify multiple addresses in a comma-separated list.
      </p>

      <div class="js-note-trigger-group">

        <label class="checkbox-item">
          <input name="syslog[tls_enabled]" type="hidden" value="false" />
          <input type="checkbox" name="syslog[tls_enabled]" class="js-note-trigger" data-triggers-note=".syslog-ssl-note" <%== view.syslog_ssl_checkbox %>>
          Enable TLS <span class="muted">(recommended)</span>
        </label>

        <p>
          Enables TLS encrypted communication between syslog endpoints. A valid x509 SSL certificate is required to use this option. The certificate <strong>must be in PEM format</strong>.
        </p>
      </div>

      <div class="syslog-ssl-note">
        <label class="label-heading">
          CA Certificate
        </label>
        <% if view.syslog_tls_configured? %>
          <div class="list-group certificate-info">
            <div class="list-group-item">
              <div class="label">Domain</div>
              <strong><%= view.syslog_tls_common_name %></strong>
            </div>
            <div class="list-group-item">
              <div class="label">Alternate names</div>
              <%= view.syslog_tls_alternate_names %>
            </div>
            <div class="list-group-item">
              <div class="label">Issuer</div>
              <div class="value"><%= view.syslog_tls_issuer %></div>
            </div>
            <div class="list-group-item">
              <div class="label">Valid From</div>
              <%= view.syslog_tls_valid_from %>
            </div>
            <div class="list-group-item">
              <div class="label">Expires After</div>
              <%= view.syslog_tls_expires_after %>
            </div>
          </div>
        <% end %>
        <div>
          <label for="syslog_certificate">Certificate (*.pem)</label>
          <input type="file" id="syslog_certificate" name="syslog[cert]">
        </div>

        <p class="error js-ssl-error">A valid SSL certificate is required to enable TLS transport of logs.</p>
      </div>
    </div>

  </div>

  <div class="subsection">

    <div class="js-note-trigger-group">

      <label class="checkbox-item">
        <input name="collectd[enabled]" type="hidden" value="false" />
        <input type="checkbox" name="collectd[enabled]" class="js-note-trigger" data-triggers-note=".collectd-note" <%== view.collectd_checkbox %>>
        Enable collectd forwarding
      </label>
      <p>
        Provides the ability to forward statistics to an external collectd server (version 5.x or higher).
      </p>

    </div>

    <div class="collectd-note">

      <div class="columns">

        <div class="column two-thirds">
          <label class="label-heading">
            Server address <span class="muted">(collectd.example.com, 10.1.0.10)</span>
          </label>
          <input id="collectd-server"
                 type="text"
                 name="collectd[server]"
                 class="js-required"
                 value="<%= view.collectd_server %>"
                 data-validation-message="valid server address required">
        </div>

        <div class="column one-thirds">
          <label class="label-heading">
            Port <span class="muted">(Defaults to: 25826)</span>
          </label>
          <input id="collectd-port"
                 type="text"
                 name="collectd[port]"
                 class="js-required"
                 value="<%= view.collectd_port %>"
                 data-validation-message="valid port required">
        </div>

      </div>

      <div class="subsection js-select-trigger-group">

        <div class="whole clearfix">
          <label class="label-heading inline next-to-select">
            Cryptographic setup
          </label>
          <select name="collectd[encryption]" class="js-select-trigger" data-triggers-select=".collectd-encryption">
            <option value="" <%= view.collectd_none_selected %>>none</option>
            <option value="Sign" <%= view.collectd_signed_selected %>>sign</option>
            <option value="Encrypt" <%= view.collectd_encrypted_selected %>>encrypt</option>
          </select>
        </div>

        <div class="columns collectd-encryption">

          <div class="column one-half">
            <label class="label-heading">
              Username <span class="muted">(required)</span>
            </label>
            <input type="text" name="collectd[username]" value="<%= view.collectd_username %>" autocomplete="off">
          </div>

          <div class="column one-half">
            <label class="label-heading">
              Password <span class="muted">(required)</span>
            </label>
            <input type="password" name="collectd[password]" value="<%= view.collectd_password %>" autocomplete="new-password">
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
