<% view = Manage::ViewModels::Packages.new(@settings) %>
<% content_for :javascript do %>
  <script src="<%= page_javascript("packages") %>" type="text/javascript"></script>
<% end %>

<div class="page-section" id="packages" data-validation-message="Packages cannot be enabled without successfully testing storage settings">
  <h2>GitHub Packages</h2>
  <div class="subsection">
    <div class="js-note-trigger-group">
      <label class="checkbox-item">
        <input name="feature_toggles[packages][enabled]" type="hidden" value="false" />
        <input type="checkbox" <%=('checked' if view.packages_enabled?)%> name="feature_toggles[packages][enabled]" class="js-enable-packages js-note-trigger js-toggle-required-field"
        data-required-field="#packages-azure-connection-string,#packages-azure-container-name-input"
        data-triggers-note="#packages-settings">
        Enable GitHub Packages
      </label>
    </div>
  </div>
  <div id="packages-settings">
    <h3>Packages Storage Settings</h3>

    <div class="subsection js-packages-storage-settings">
      <div class="column two-thirds">
        <div id="packages-storage-settings">
          <div class="js-note-trigger-group">
            <label class="radio-item js-select-packages-storage-provider" value="azure">
              <input type="radio"
                id="packages-azure-radio-button"
                name="packages[blob_storage_type]"
                class="js-note-trigger js-toggle-required-field js-toggle-azure-storage-packages"
                value="azure"
                data-required-field="#packages-azure-connection-string,#packages-azure-container-name-input"
                data-triggers-note="#packages-azure-storage,#packages-azure-container-name"
                <%=('checked' if view.azure_storage_enabled?)%>>
              Azure Blob Storage
            </label>
            <label class="radio-item js-select-packages-storage-provider" value="s3">
              <input type="radio"
                id="packages-s3-radio-button"
                name="packages[blob_storage_type]"
                class="js-note-trigger js-toggle-required-field"
                data-triggers-note="#packages-s3-storage"
                data-triggers-note-hidden="#packages-azure-container-name"
                data-required-field="#packages-service-url,#packages-aws-access-key,#packages-s3-bucket,#packages-aws-secret-key"
                value="s3"
                <%=('checked' if view.s3_storage_enabled?)%>>
              Amazon S3
            </label>
          </div>
        </div>
        <div id="packages-azure-container-name">
          <label class="label-heading">
            Azure Container Name
          </label>
          <input id="packages-azure-container-name-input"
                autocomplete="off"
                type="text"
                name="packages[azure_container_name]"
                value="<%= view.azure_container_name %>">
        </div>
        <div id="packages-azure-storage">
          <label class="label-heading">
            Azure Connection string
          </label>
          <input type="password"
            autocomplete="off"
            id="packages-azure-connection-string"
            name="packages[azure_connection_string]"
            <% if view.azure_connection_string? %>
              placeholder="******"
            <% else %>
              class="js-required"
            <% end %> 
          >
          <p>
            <small class="connection-string-note">
              <strong>Note</strong>: Use of a shared access signature (SAS) token as a connection string isn't currently supported.
              <a target="ghe-docs" class="docs-link" href="<%= help_url %>/admin/packages/enabling-github-packages-with-azure-blob-storage">Learn more about enabling GitHub packages with Azure blob storage. </a>
            </small>
          </p>
        </div>
        <div id="packages-s3-storage">
          <label class="label-heading">
            AWS Service URL
          </label>
          <p>
            The S3 endpoint URL for your bucket's region (e.g. https://s3.us-west-1.amazonaws.com).
          </p>
          <input id="packages-service-url"
                autocomplete="off"
                type="text"
                name="packages[service_url]"
                value="<%= view.service_url%>">
          <label class="label-heading">
            AWS S3 Bucket
          </label>
          <p>
            The name of the S3 bucket that will store the package artifacts.
          </p>
          <input id="packages-s3-bucket"
                autocomplete="off"
                type="text"
                class="js-required"
                name="packages[s3_bucket]"
                value="<%= view.s3_bucket %>">
          <label class="label-heading">
            AWS S3 Access Key
          </label>
          <input id="packages-aws-access-key"
                type="password"
                autocomplete="off"
                name="packages[aws_access_key]"
                <% if view.aws_access_key? %>
                  placeholder="******"
                <% else %>
                  class="js-required"
                <% end %> 
          >
          <label class="label-heading">
            AWS S3 Secret Key
          </label>
          <input id="packages-aws-secret-key"
                type="password"
                autocomplete="off"
                name="packages[aws_secret_key]"
                <% if view.aws_secret_key? %>
                  placeholder="******"
                <% else %>
                  class="js-required"
                <% end %> 
          >
        </div>
      </div>

      <div class="column one-third">
        <button class="btn js-test-packages-settings" value="/setup/settings/test/storage/packages" popover="#test-packages-settings">
          Test storage settings
        </button>
      </div>
    </div>

    <div id="packages-ecosystem-toggles" class="subsection">
      <h3>Ecosystem Toggles</h3>
      <p>
        These toggles enable or disable individual package ecosystems globally for the installation.
        Setting an ecosystem to read-only will allow downloads of packages of that type, but will prevent new packages from being uploaded.
      </p>
      <div id="container-ecosystem" >
        <label class="label-heading">
          Container
        </label>
        <p id="cr-sdi-info" hidden> <small> This setting is disabled because subdomain isolation is not enabled. <a class="sdi" href="#hostname-field">Go to subdomain isolation. </a> </small> </p>

        <div id="container-radio-list" class="radio-list">
          <label class="radio-item">
            <input type="radio"
                  id="container-eco-enabled"
                  name="feature_toggles[packages][container_enabled]"
                  class="js-note-trigger"
                  data-triggers-note="#container-eco-enabled"
                  value="true"
                  <% if view.container_enabled?("true") %>checked="checked"<%end%>>
            Enabled
          </label>
          <label class="radio-item">
            <input type="radio"
                  id="container-eco-readonly"
                  name="feature_toggles[packages][container_enabled]"
                  data-triggers-note="#container-eco-readonly"
                  class="js-note-trigger"
                  value="readonly"
                  <% if view.container_enabled?("readonly") %>checked="checked"<%end%>>
            Read-Only
          </label>
          <label class="radio-item">
            <input type="radio"
                  id="container-eco-disabled"
                  name="feature_toggles[packages][container_enabled]"
                  class="js-note-trigger"
                  data-triggers-note="#container-eco-disabled"
                  value="false"
                  <% if view.container_enabled?("false") %>checked="checked"<%end%>>
            Disabled
          </label>
        </div>
      </div>

      <label class="label-heading">
        Docker
      </label>
      <div class="radio-list">
        <label class="radio-item">
          <input type="radio"
                id="docker-eco-enabled"
                name="feature_toggles[packages][docker_enabled]"
                class="js-note-trigger js-show-docker-v2-warning"
                data-triggers-note="#docker-eco-enabled"
                value="true"
                <% if view.docker_enabled?("true") %>checked="checked"<%end%>>
          Enabled
        </label>
        <label class="radio-item">
          <input type="radio"
                id="docker-eco-readonly"
                name="feature_toggles[packages][docker_enabled]"
                class="js-note-trigger js-show-docker-v2-warning"
                data-triggers-note="#docker-eco-readonly"
                value="readonly"
                <% if view.docker_enabled?("readonly") %>checked="checked"<%end%>>
          Read-Only
        </label>
        <label class="radio-item">
          <input type="radio"
                id="docker-eco-disabled"
                name="feature_toggles[packages][docker_enabled]"
                class="js-note-trigger js-show-docker-v2-warning"
                data-triggers-note="#docker-eco-disabled"
                value="false"
                <% if view.docker_enabled?("false") %>checked="checked"<%end%>>
          Disabled
        </label>
      </div>
      <div id="docker-v2-warning">
        <p class="flash flash-warn visible">
          <span class="octicon octicon-alert"></span>
          <strong>WARNING:</strong>
          Any user or organization named "v2" must be renamed prior to enabling Docker with subdomain isolation disabled. The "v2" account name is reserved to handle path conflicts with the Docker API.
        </p>
      </div>
      <label class="label-heading">
        Maven/Gradle
      </label>
      <div class="radio-list">
        <label class="radio-item">
          <input type="radio" name="feature_toggles[packages][maven_enabled]" value="true" <% if view.maven_enabled?("true") %>checked="checked"<%end%>>
          Enabled
        </label>
        <label class="radio-item">
          <input type="radio" name="feature_toggles[packages][maven_enabled]" value="readonly" <% if view.maven_enabled?("readonly") %>checked="checked"<%end%>>
          Read-Only
        </label>
        <label class="radio-item">
          <input type="radio" name="feature_toggles[packages][maven_enabled]" value="false" <% if view.maven_enabled?("false") %>checked="checked"<%end%>>
          Disabled
        </label>
      </div>

      <!-- wrap npm settings in trigger group b/c some settings are only relevant when npm is enabled -->
      <div class="js-note-trigger-group">
        <label class="label-heading">
          npm
        </label>
        <div class="radio-list">
          <label class="radio-item">
            <input
              type="radio"
              name="feature_toggles[packages][npm_enabled]"
              value="true"
              class="js-note-trigger"
              data-triggers-note="#npm-upstreaming-toggles"
              <% if view.npm_enabled?("true") %>checked="checked"<%end%>>
            Enabled
          </label>
          <label class="radio-item">
            <input
              type="radio"
              name="feature_toggles[packages][npm_enabled]"
              value="readonly"
              class="js-note-trigger"
              data-triggers-note="#npm-upstreaming-toggles"
              <% if view.npm_enabled?("readonly") %>checked="checked"<%end%>>
            Read-Only
          </label>
          <label class="radio-item">
            <input
              type="radio"
              name="feature_toggles[packages][npm_enabled]"
              value="false"
              class="js-note-trigger"
              data-triggers-note-hidden="#npm-upstreaming-toggles"
              <% if view.npm_enabled?("false") %>checked="checked"<%end%>>
            Disabled
          </label>
        </div>
        <div id="npm-upstreaming-toggles">
          <label class="label-heading">
            npm upstreaming
          </label>
          <div class="radio-list">
            <label class="radio-item">
              <input type="radio" name="feature_toggles[packages][npm_upstreaming_enabled]" value="true" <% if view.npm_upstreaming_enabled? %>checked="checked"<%end%>>
              Enabled
            </label>
            <label class="radio-item">
              <input type="radio" name="feature_toggles[packages][npm_upstreaming_enabled]" value="false" <% if !view.npm_upstreaming_enabled? %>checked="checked"<%end%>>
              Disabled
            </label>
          </div>
        </div>
      </div>

      <label class="label-heading">
        RubyGems
      </label>
      <div class="radio-list js-note-trigger-group">
        <label class="radio-item">
          <input type="radio" name="feature_toggles[packages][rubygems_enabled]" value="true" <% if view.rubygems_enabled?("true") %>checked="checked"<%end%>>
          Enabled
        </label>
        <label class="radio-item">
          <input type="radio" name="feature_toggles[packages][rubygems_enabled]" value="readonly" <% if view.rubygems_enabled?("readonly") %>checked="checked"<%end%>>
          Read-Only
        </label>
        <label class="radio-item">
          <input type="radio" name="feature_toggles[packages][rubygems_enabled]" value="false" <% if view.rubygems_enabled?("false") %>checked="checked"<%end%>>
          Disabled
        </label>
      </div>
      <label class="label-heading">
        NuGet
      </label>
      <div class="radio-list js-note-trigger-group">
        <label class="radio-item">
          <input type="radio" name="feature_toggles[packages][nuget_enabled]" value="true" <% if view.nuget_enabled?("true") %>checked="checked"<%end%>>
          Enabled
        </label>
        <label class="radio-item">
          <input type="radio" name="feature_toggles[packages][nuget_enabled]" value="readonly" <% if view.nuget_enabled?("readonly") %>checked="checked"<%end%>>
          Read-Only
        </label>
        <label class="radio-item">
          <input type="radio" name="feature_toggles[packages][nuget_enabled]" value="false" <% if view.nuget_enabled?("false") %>checked="checked"<%end%>>
          Disabled
        </label>
      </div>
    </div>

    <div class="popover js-popover" id="test-packages-settings" style="display: none;">
      <h3 class="popover-title">Packages storage settings</h3>
      <a class="popover-close js-popover-close" href="#"><span class="octicon octicon-x"></span></a>
      <div class="js-testing-packages popover-loader">
        <span class="spinner-small"></span>
        Testing storage settings&hellip;
      </div>
      <div class="popover-content" id="packages_test_result"></div>
      <div class="popover-footer">
        <button class="btn close js-popover-close" type="button">Close</button>
      </div>
    </div>
  </div>
</div>