<% view = Manage::ViewModels::Pages.new(@settings) %>

<% content_for :javascript do %>
  <script src="<%= page_javascript("pages") %>" type="text/javascript"></script>
<% end %>

<div class="page-section" id="pages">

  <h2>Pages</h2>
  <div class="inline-doc"><a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/guides/installation/configuring-github-pages-on-your-appliance/"><span class="octicon octicon-question"></span></a></div>

  <p>
    GitHub Pages are webpages hosted and easily published to GitHub Enterprise.
  </p>

  <div class="subsection">
    <label class="checkbox-item">
      <input name="pages[enabled]" type="hidden" value="false" />
      <input type="checkbox" name="pages[enabled]" <%== view.pages_enabled_checkbox %> class="js-enable-pages-toggle">
      Enable Pages
    </label>
  </div>

  <div class="subsection">
    <label class="checkbox-item js-public-pages-toggle">
      <input name="public_pages" type="hidden" value="false" />
      <input type="checkbox" name="public_pages" <%== view.public_pages_checkbox %> <%== view.public_pages_checkbox_enabled? ? "" : "disabled" %>>
      Public Pages
    </label>
    <p>
      Public Pages allows Pages sites hosted on your installation to be publicly
      accessible even if private mode is enabled. This setting is only meaningful
      when private mode is enabled. Pages sites are always publicly accessible
      if your installation is not in private mode.
    </p>
  </div>

  <div class="subsection">
    <label for="pages-build-timeout-minutes">Build Timeout <span class="muted">(minutes)</span></label>
    <input
      id="pages-build-timeout-minutes"
      type="number"
      name="pages[build_timeout_minutes]"
      value="<%= view.pages_build_timeout_minutes %>"
    />

    <label for="pages-sync-timeout-minutes">Sync Timeout <span class="muted">(minutes)</span></label>
    <input
      id="pages-sync-timeout-minutes"
      type="number"
      name="pages[sync_timeout_minutes]"
      value="<%= view.pages_sync_timeout_minutes %>"
    />
  </div>

  <div class="subsection">
    <label class="label-heading">Custom Http Headers</label>
    <p>
      Responses from GitHub Pages sites will include the list of headers below.
    </p>
    <ol class="list-group list-group-multiple list-group-override-headers js-list-group-override-headers <%= view.pages_override_headers_list? ? "" : "hidden" %>">
      <% view.pages_override_headers_list.each do |key, value| %>
        <li class="list-group-item">
          <a class="js-remove-override-headers pull-right list-group-remove-item" data-confirm="Are you sure you want to delete this header?" header="<%= key %>">
            <span class="octicon octicon-trashcan"></span>
          </a>
          <div class="override-headers-key"><%= key %></div>
          <div class="override-headers-value"><%= value %></div>
        </li>
      <% end %>
    </ol>
    <label class="label-heading">Http Header Name</label>
    <input type="text" class="js-override-header-name" />
    <label class="label-heading">Http Header Value</label>
    <input type="text" class="js-override-header-value" />
    <input type="text" class="js-override-headers" hidden id="override-headers" name="pages[header_override]" row="6"  value="<%=view.pages_override_headers%>"/>
    <a class="btn js-submit js-override-headers-submit settings-sub-action">
      Add headers
    </a>
    <p>
      <small class="override-headers-warning">
        <span class='octicon octicon-alert'></span>
        <span class="text">Add with caution. Improper configuration may impact appliance security.</span>
      </small>
    </p>
    <div class="override-headers-error js-override-headers-error hidden"></div>
  </div>
</div>
