<% view = Manage::ViewModels::Privacy.new(@settings) %>

<% content_for :javascript do %>
  <script src="<%= page_javascript("settings/privacy") %>" type="text/javascript"></script>
<% end %>

<div class="page-section" id="privacy">

  <h2>Privacy</h2>

  <div class="subsection">

    <div class="js-note-trigger-group">

      <label class="checkbox-item">
        <input name="github_ssl[enabled]" type="hidden" value="false" />
        <input type="checkbox" name="github_ssl[enabled]" class="js-note-trigger" data-triggers-note=".ssl-note" <%== view.github_ssl_checkbox %>>
        TLS only <span class="muted">(recommended)</span>
      </label>

      <p>
        Forces TLS for your installation. A valid x509 certificate and private key files are required to use this option. The certificate and key <strong>must be in PEM format</strong>. The key must be <strong>unencrypted</strong>.
      </p>

    </div>

    <div class="ssl-note">
      <div>
        <div class="js-note-trigger-group">
          <label class="checkbox-item">
            <input name="github_ssl[acme][enabled]" type="hidden" value="false" />
            <input type="checkbox" name="github_ssl[acme][enabled]" class="js-note-trigger" data-triggers-note=".acme-note" <%== view.github_ssl_acme_enabled_checkbox %>>
            Enable automation of TLS certificate management using Let's Encrypt
          </label>
        </div>
        <div class="acme-note">
          <p>
            To automatically obtain and renew TLS certificates for this appliance, provided by
            <a href="https://letsencrypt.org">Let's Encrypt</a>, enable this checkbox, click Save Settings,
            then click the Request TLS Certificate button.
          </p>
          <p>
            <b>Legal Note:</b> By enabling this feature, you indicate your acceptance of the
            <a href="https://letsencrypt.org/repository/">Let's Encrypt Subscriber Agreement</a>.
          </p>
          <p>
            <b>Privacy Note:</b> To obtain and renew the Let's Encrypt certificate, this
            GitHub Enterprise appliance will contact the Let's Encrypt servers.
            Then, Let's Encrypt servers will validate control of the configured domain name with inbound HTTP requests.
            These requests will reoccur periodically when renewing the certificate.
          </p>
          <p>
            <button class="btn js-acme-issue" popover="#acme-issue-popover" <%== view.github_ssl_acme_button %>>
              Request TLS Certificate
            </button>
          </p>
        </div>

        <input name="github_ssl[acme][accept_tos]" type="hidden" value="<%= view.github_ssl_acme_accept_tos %>" />
        <input name="github_ssl[acme][contact_email]" type="hidden" value="<%= view.github_ssl_acme_contact_email %>" />
        <input name="github_ssl[acme][validation_type]" type="hidden" value="<%= view.github_ssl_acme_validation_type %>" />
        <input name="github_ssl[acme][provider]" type="hidden" value="<%= view.github_ssl_acme_provider %>" />
      </div>
      <div>
        <label class="label-heading">
          TLS Protocol support
        </label>
        <p>
          Select here which protocols you want to allow.
        </p>

        <div class="radio-list">

        <label class="checkbox-item">
          <input type="checkbox" name="github_ssl[tls_mode][]" value="tlsv12" <%== view.github_ssl_tls_mode_checked?("tlsv12") %>>
          TLS 1.2
        </label>

        <label class="checkbox-item">
          <input type="checkbox" name="github_ssl[tls_mode][]" value="tlsv13" <%== view.github_ssl_tls_mode_checked?("tlsv13") %>>
          TLS 1.3
        </label>
        </div>
      </div>

      <label class="label-heading">
        TLS Certificate
      </label>
      <% if view.github_ssl_configured? %>
        <div class="list-group certificate-info">
          <div class="list-group-item">
            <div class="label">Domain</div>
            <strong><%= view.github_ssl_common_name %></strong>
          </div>
          <div class="list-group-item">
            <div class="label">Alternate names</div>
            <%= view.github_ssl_alternate_names %>
          </div>
          <div class="list-group-item">
            <div class="label">Issuer</div>
            <div class="value"><%= view.github_ssl_issuer %></div>
          </div>
          <div class="list-group-item">
            <div class="label">Valid From</div>
            <%= view.github_ssl_valid_from %>
          </div>
          <div class="list-group-item">
            <div class="label">Expires After</div>
            <%= view.github_ssl_expires_after %>
          </div>
        </div>
      <% end %>
      <div>
        <input type="hidden" id="ssl_certificate_acme" name="github_ssl[cert]">
        <input type="hidden" id="ssl_key_acme" name="github_ssl[key]">

        <label for="ssl_certificate">Certificate (*.pem)</label>
        <input type="file" id="ssl_certificate" name="github_ssl[cert]" <%== view.github_ssl_certificate_key_file %>>

        <label for="ssl_key">Unencrypted key (*.key)</label>
        <input type="file" id="ssl_key" name="github_ssl[key]" <%== view.github_ssl_certificate_key_file %>>
      </div>

      <p class="error js-ssl-error">The TLS certificate and key are required to enable TLS only mode.</p>
    </div>

  </div>

  <div class="subsection">
    <div class="js-note-trigger-group">
      <label class="checkbox-item">
        <input name="private_mode" type="hidden" value="false" />
        <input type="checkbox" name="private_mode" <%== view.private_mode_checkbox %> class="js-private-mode-toggle">
        Private mode
      </label>
    </div>
    <div class="inline-doc">
      <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/configuration/enabling-private-mode">
        <span class="octicon octicon-question"></span>
      </a>
    </div>
    <p>
      Private mode only allows users with accounts to access pages, gists and public repositories.
      The sign-up page will be disabled.
    </p>
  </div>

  <div class="subsection builtin-note">
    <label class="checkbox-item js-signup-toggle">
      <input name="signup_enabled" type="hidden" value="false" />
      <input type="checkbox" name="signup_enabled" <%== view.signup_enabled_checkbox %> <%== view.settings.private_mode? ? "disabled" : nil %>>
      Enable sign-up
    </label>
    <p>
      When sign-up is enabled, anyone who can access your GitHub
      Enterprise installation can also create an account. When sign-up
      is disabled, no one can create an account unless they are invited
      by a site admin. Sign-up cannot be enabled when Private Mode is enabled.
    </p>
  </div>

  <div class="subsection">
    <h3>External load balancers</h3>
    <label class="checkbox-item">
      <input name="load_balancer[http_forward]" type="hidden" value="false" />
      <input type="checkbox" name="load_balancer[http_forward]" class="js-note-trigger" <%== view.load_balancer_http_forward_checkbox %>>
      Allow HTTP X-Forwarded-For header
    </label>

    <p>
      By default GitHub Enterprise will, for security, strip certain headers
      meant to preserve information about incoming connections for example:
      <code>X-Forwarded-For</code>.<br>

      When using an external load balancer these values should not be stripped.
      By enabling this option stripping the headers will be disabled. Please note
      that this also means access to the instance needs to be blocked from anything
      except from the load balancer, otherwise users can forge the IP addresses
      that will be logged.
    </p>

    <label class="checkbox-item">
      <input name="load_balancer[proxy_protocol]" type="hidden" value="false" />
      <input type="checkbox" name="load_balancer[proxy_protocol]" class="js-note-trigger" <%== view.load_balancer_proxy_protocol_checkbox %>>
      Enable support for PROXY protocol
    </label>
    <p>
      This option enables additional listeners on a separate port with support
      for the PROXY protocol. On each protocol that needs to be forwarded by
      a load balancer an extra port is opened one higher than the standard port.

      Enabling this option means that access to these ports should be filtered and only
      load balancers should be allowed to access these ports by external firewalling. The
      following list of ports will be opened when enabling this option:

      <ul>
        <li><code>23</code> SSH with PROXY protocol enabled</li>
        <li><code>81</code> HTTP with PROXY protocol enabled</li>
        <li><code>444</code> HTTPS with PROXY protocol enabled</li>
        <li><code>9419</code> Git with PROXY protocol enabled</li>
        <li><code>8081</code> HTTP for manage with PROXY protocol enabled</li>
        <li><code>8444</code> HTTPS for manage with PROXY protocol enabled</li>
      </ul>
    </p>

  </div>

  <div class="subsection">

    <label class="label-heading">
      HTTP Proxy Server <span class="muted">(optional)</span>
    </label>
    <input id="http_proxy" type="url" name="http_proxy" value="<%= view.settings.http_proxy %>" class="js-url"
     data-validation-message="The HTTP Proxy Server must be a fully-qualified URL, including protocol (http://, https://, or socks5://).">
    <p>
      Routes webhooks, bundle uploads, and Actions storage requests through the specified proxy server. Additionally, the environment variables for proxy usage are set in administration SSH console sessions.
    </p>

    <label class="label-heading">
      HTTP Proxy Exclusion <span class="muted">(optional)</span>
    </label>
    <input id="http_noproxy" type="text" name="http_noproxy" value="<%= view.settings.http_noproxy %>">
    <p>
      A comma-separated list of hosts for which proxy access is not required. You can allow all hosts within a domain with a preceding ".", eg ".hostname.com"
    </p>
  </div>

  <div class="subsection">

    <div class="js-note-trigger-group">
      <label class="checkbox-item">
        <input name="mapping[enabled]" type="hidden" value="false" />
        <input type="checkbox" name="mapping[enabled]" class="js-note-trigger" data-triggers-note=".mapping-note" <%== view.mapping_enabled_checkbox %>>
        Enable GeoJSON rendering
      </label>
    </div>
    <p>
      GitHub can render and diff GeoJSON files within repositories. GeoJSON is an open geospatial data format. GeoJSON rendering requires the use of third-party services to provide basemaps, and is disabled by default.
    </p>
    
    <div class="mapping-note">
      <p>By default, GitHub Enterprise will use Azure's default basemap styling. If you'd like to use a different style, provide the ID of the new style below. </p>
      <label class="label-heading">
        Basemap ID <span class="muted">(e.g, satellite)</span>
      </label>
      <input id="basemap" type="text" name="mapping[basemap]" value="<%= view.mapping_configured? ? view.basemap : "" %>">
      <p>
        To use Azure Maps, you need to configure the five variables below. For details on what these variables are and how to find the correct values for each one, please see our 
        <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/configuration/configuring-user-applications-for-your-enterprise/configuring-interactive-maps">documentation.</a>
      </p>
      <label class="label-heading">
        Azure Map Client ID
      </label>
      <input id="mapping-azure-map-client-id" type="text" name="mapping[azure_map_client_id]" value="<%= view.mapping_configured? ? view.azure_map_client_id : "" %>">
      <label class="label-heading">
        Azure App Client ID
      </label>
      <input id="mapping-azure-app-client-id" type="text" name="mapping[azure_app_client_id]" value="<%= view.mapping_configured? ? view.azure_app_client_id : "" %>">
      <label class="label-heading">
        Azure Tenant ID
      </label>
      <input id="mapping-azure-tenant-id" type="text" name="mapping[azure_tenant_id]" value="<%= view.mapping_configured? ? view.azure_tenant_id : "" %>">
      <label class="label-heading">
        Azure App Client Secret
      </label>
      <input id="mapping-azure-app-client-secret" type="text" name="mapping[azure_app_client_secret]" value="<%= view.mapping_configured? ? view.azure_app_client_secret : "" %>">
      <label class="label-heading">
        CSRF Secret (32 byte long key)
      </label>
      <input id="mapping-csrf-token" type="text" name="mapping[csrf_secret]" value="<%= view.mapping_configured? ? view.csrf_secret : "" %>">
    </div>

  </div>

</div>
