<% view = Manage::ViewModels::RateLimits.new(@settings) %>

<% content_for :javascript do %>
  <script src="<%= page_javascript("settings/rate_limits") %>" type="text/javascript"></script>
<% end %>

<div class="page-section" id="rate-limits">
  <h2>Rate limiting</h2>

  <div class="subsection">
    <div class="js-note-trigger-group">
      <label class="checkbox-item">
        <input name="api_rate_limiting[enabled]" type="hidden" value="false" />
        <input type="checkbox"
          name="api_rate_limiting[enabled]"
          <%== view.api_rate_limits_checkbox %>
          class="js-note-trigger"
          data-triggers-note="#api-limits"
        >
        Enable HTTP API Rate Limiting
      </label>
    </div>
    <div class="inline-doc">
      <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/rest/overview/resources-in-the-rest-api#rate-limiting">
        <span class="octicon octicon-question"></span>
      </a>
    </div>

    <div class="clear"></div>

    <div id="api-limits">
      <div class="restore-defaults">
        <button type="button" class="btn js-defaults-btn" data-restore="#api-limits" title="Changes are not persisted until settings are saved">
          Restore defaults
          <span class="octicon octicon-info"></span>
        </button>
      </div>

      <div class="rate-limit">
        <label class="label-heading">API Requests (per hour)</label>
        <div class="columns">
          <div class="column one-half">
            <label class="label-heading">Authenticated</label>
            <input type="number"
              id="auth-api-rate-limit"
              name="api_rate_limiting[default_rate_limit]"
              class="js-integer js-required"
              value="<%== view.api_default_rate_limit %>"
              data-default="<%== view.api_rate_limits.defaults['default_rate_limit'] %>"
              placeholder="<%== view.api_rate_limits.defaults['default_rate_limit'] %>"
              min="1"
            >
          </div>
          <div class="column one-half">
            <label class="label-heading">Unauthenticated</label>
            <input type="number"
              id="unauth-api-rate-limit"
              name="api_rate_limiting[unauthenticated_rate_limit]"
              class="js-integer js-required"
              value="<%== view.api_unauthenticated_rate_limit %>"
              data-default="<%== view.api_rate_limits.defaults['unauthenticated_rate_limit'] %>"
              placeholder="<%== view.api_rate_limits.defaults['unauthenticated_rate_limit'] %>"
              min="1"
            >
          </div>
        </div>
      </div>

      <div class="rate-limit">
        <label class="label-heading">Search API Requests (per minute)</label>
        <div class="columns">
          <div class="column one-half">
            <label class="label-heading">Authenticated</label>
            <input type="number"
              id="auth-search-api-rate-limit"
              name="api_rate_limiting[search_default_rate_limit]"
              class="js-integer js-required"
              value="<%== view.api_search_default_rate_limit %>"
              data-default="<%== view.api_rate_limits.defaults['search_default_rate_limit'] %>"
              placeholder="<%== view.api_rate_limits.defaults['search_default_rate_limit'] %>"
              min="1"
            >
          </div>
          <div class="column one-half">
            <label class="label-heading">Unauthenticated</label>
            <input type="number"
              id="unauth-search-api-rate-limit"
              name="api_rate_limiting[search_unauthenticated_rate_limit]"
              class="js-integer js-required"
              value="<%== view.api_search_unauthenticated_rate_limit %>"
              data-default="<%== view.api_rate_limits.defaults['search_unauthenticated_rate_limit'] %>"
              placeholder="<%== view.api_rate_limits.defaults['search_unauthenticated_rate_limit'] %>"
              min="1"
            >
          </div>
        </div>
      </div>

      <div class="rate-limit">
        <label class="label-heading">LFS API Requests (per minute)</label>
        <div class="columns">
          <div class="column one-half">
            <label class="label-heading">Authenticated</label>
            <input type="number"
              id="auth-lfs-api-rate-limit"
              name="api_rate_limiting[lfs_default_rate_limit]"
              class="js-integer js-required"
              value="<%== view.api_lfs_default_rate_limit %>"
              data-default="<%== view.api_rate_limits.defaults['lfs_default_rate_limit'] %>"
              placeholder="<%== view.api_rate_limits.defaults['lfs_default_rate_limit'] %>"
              min="1"
            >
          </div>
          <div class="column one-half">
            <label class="label-heading">Unauthenticated</label>
            <input type="number"
              id="unauth-lfs-api-rate-limit"
              name="api_rate_limiting[lfs_unauthenticated_rate_limit]"
              class="js-integer js-required"
              value="<%== view.api_lfs_unauthenticated_rate_limit %>"
              data-default="<%== view.api_rate_limits.defaults['lfs_unauthenticated_rate_limit'] %>"
              placeholder="<%== view.api_rate_limits.defaults['lfs_unauthenticated_rate_limit'] %>"
              min="1"
            >
          </div>
        </div>
      </div>

      <div class="rate-limit">
        <label class="label-heading">GraphQL API Requests (per hour)</label>
        <div class="columns">
          <div class="column one-half">
            <label class="label-heading">Authenticated</label>
            <input type="number"
              id="auth-graphql-api-rate-limit"
              name="api_rate_limiting[graphql_default_rate_limit]"
              class="js-integer js-required"
              value="<%== view.api_graphql_default_rate_limit %>"
              data-default="<%== view.api_rate_limits.defaults['graphql_default_rate_limit'] %>"
              placeholder="<%== view.api_rate_limits.defaults['graphql_default_rate_limit'] %>"
              min="1"
            >
          </div>
          <div class="column one-half">
            <label class="label-heading">Unauthenticated</label>
            <input type="number"
              id="unauth-graphql-api-rate-limit"
              name="api_rate_limiting[graphql_unauthenticated_rate_limit]"
              class="js-integer js-required"
              value="<%== view.api_graphql_unauthenticated_rate_limit %>"
              data-default="<%== view.api_rate_limits.defaults['graphql_unauthenticated_rate_limit'] %>"
              placeholder="<%== view.api_rate_limits.defaults['graphql_unauthenticated_rate_limit'] %>"
              min="0"
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subsection">
    <div class="js-note-trigger-group">
      <label class="checkbox-item">
        <input name="abuse_rate_limiting[enabled]" type="hidden" value="false" />
        <input type="checkbox"
          name="abuse_rate_limiting[enabled]"
          class="js-note-trigger"
          data-triggers-note="#abuse-limits"
          <%== view.abuse_rate_limits_checkbox %>
        >
        Enable Secondary Rate Limiting
      </label>
    </div>

    <div class="inline-doc">
      <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/rest/overview/resources-in-the-rest-api#secondary-rate-limits">
        <span class="octicon octicon-question"></span>
      </a>
    </div>

    <div class="clear"></div>

    <div id="abuse-limits">
      <div class="restore-defaults">
        <button type="button" class="btn js-defaults-btn" data-restore="#abuse-limits" title="Changes are not persisted until settings are saved">
          Restore defaults
          <span class="octicon octicon-info"></span>
        </button>
      </div>

      <div class="rate-limit">
        <label class="label-heading">Total Requests (per minute)</label>
        <div class="columns">
          <div class="column one-half">
            <input type="number"
              id="total-abuse-rate-limit"
              name="abuse_rate_limiting[requests_per_minute]"
              class="js-integer js-required"
              value="<%== view.abuse_rate_requests %>"
              data-default="<%== view.abuse_rate_limits.defaults['requests_per_minute'] %>"
              placeholder="<%== view.abuse_rate_limits.defaults['requests_per_minute'] %>"
              min="1"
            >
          </div>
        </div>
      </div>

      <div class="rate-limit">
        <label class="label-heading">CPU Limit (ms per minute)</label>
        <div class="columns">
          <div class="column one-half">
            <input type="number"
              id="cpu-abuse-rate-limit"
              name="abuse_rate_limiting[cpu_millis_per_minute]"
              class="js-integer"
              value="<%== view.abuse_rate_cpu_millis %>"
              data-default="<%== view.abuse_rate_limits.defaults['cpu_millis_per_minute'] %>"
              placeholder="<%== view.abuse_rate_limits.defaults['cpu_millis_per_minute'] %>"
              min="1"
            >
          </div>
        </div>
      </div>

      <div class="rate-limit">
        <label class="label-heading">CPU Limit for Searching (ms per minute)</label>
        <div class="columns">
          <div class="column one-half">
            <input type="number"
              id="cpu-search-abuse-rate-limit"
              name="abuse_rate_limiting[search_cpu_millis_per_minute]"
              class="js-integer js-required"
              value="<%== view.abuse_rate_search_cpu_millis %>"
              data-default="<%== view.abuse_rate_limits.defaults['search_cpu_millis_per_minute'] %>"
              placeholder="<%== view.abuse_rate_limits.defaults['search_cpu_millis_per_minute'] %>"
              min="1"
            >
          </div>
        </div>
      </div>

      <div class="rate-limit">
        <label class="label-heading">CPU Limit for GraphQL API (ms per minute)</label>
        <div class="columns">
          <div class="column one-half">
            <input type="number"
              id="graphql-abuse-rate-limit"
              name="abuse_rate_limiting[graphql_cpu_millis_per_minute]"
              class="js-integer js-required"
              value="<%== view.abuse_rate_graphql_cpu_millis %>"
              data-default="<%== view.abuse_rate_limits.defaults['graphql_cpu_millis_per_minute'] %>"
              placeholder="<%== view.abuse_rate_limits.defaults['graphql_cpu_millis_per_minute'] %>"
              min="1"
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subsection">
    <div class="js-note-trigger-group">
      <label class="checkbox-item">
        <input name="governor[quotas_enabled]" type="hidden" value="false" />
        <input type="checkbox"
          name="governor[quotas_enabled]"
          class="js-note-trigger"
          data-triggers-note="#git-quotas"
          <%== view.git_quotas_checkbox %>
        >
        Enable Git Rate Limiting
      </label>

      <p>
        Provides the ability to limit the rate and concurrency of Git operations.
      </p>
    </div>

    <div class="clear"></div>

    <div id="git-quotas">
      <p>
        When the host’s CPU or RAM is overloaded, Governor slows Git operations on that host by as much as 95% until the load returns to normal.
        We encourage you to leave this setting disabled unless directly recommended by GitHub staff.
        Git operations are rarely the leading driver of CPU and RAM usage.
        Enabling this feature can make Git operations more likely to fail under high load conditions but does not address the underlying cause of those conditions.
      </p>

      <div class="restore-defaults">
        <button type="button" class="btn js-defaults-btn" data-restore="#git-quotas" title="Changes are not persisted until settings are saved">
          Restore defaults
          <span class="octicon octicon-info"></span>
        </button>
      </div>

      <div class="rate-limit">
        <label class="label-heading" title="This is generally equivalent to per-repository quotas.">
          Repository Network Limit <span class="octicon octicon-info"></span>
        </label>
        <div class="columns">
          <div class="column one-half">
            <input type="number"
              id="git_network_limit"
              name="governor[limit_network]"
              class="js-integer"
              value="<%== view.git_network_limit %>"
              data-default="<%== view.git_quotas.defaults['limit_network'] %>"
              placeholder="<%== view.git_quotas.defaults['limit_network'] %>"
              min="1"
            >
          </div>
          <div class="column one-half git-quota-description  <%= view.git_network_limit_description_visible %>">
            =>&nbsp;
            <span class="per-minute-value"><%== view.git_per_min_limit(view.git_network_limit) %></span> ops/minute,
            <span class="concurrency-value"><%== view.git_concurrent_limit(view.git_network_limit) %></span> concurrent ops
          </div>
        </div>
      </div>

      <div class="rate-limit">
        <label class="label-heading">User ID Limit</label>
        <div class="columns">
          <div class="column one-half">
            <input type="number"
              id="git_user_limit"
              name="governor[limit_user]"
              class="js-integer"
              value="<%== view.git_user_limit %>"
              data-default="<%== view.git_quotas.defaults['limit_user'] %>"
              placeholder="<%== view.git_quotas.defaults['limit_user'] %>"
              min="1"
            >
          </div>
          <div class="column one-half git-quota-description <%= view.git_user_limit_description_visible %>">
            =>&nbsp;
            <span class="per-minute-value"><%== view.git_per_min_limit(view.git_user_limit) %></span> ops/minute,
            <span class="concurrency-value"><%== view.git_concurrent_limit(view.git_user_limit) %></span> concurrent ops
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
