<% view = Manage::ViewModels::Security.new(@settings) %>

<% content_for :javascript do %>
  <script src="<%= page_javascript("security") %>" type="text/javascript"></script>
<% end %>

<div class="page-section" id="security">
  <h2>Security</h2>

  <div class="subsection">
    <div class="js-note-trigger-group">
      <label class="checkbox-item js-enable-dependency-graph-toggle">
        <input name="dependency_graph[enabled]" type="hidden" value="false" />
        <input type="checkbox" name="dependency_graph[enabled]" <%== view.dependency_graph_checkbox %>>
        Dependency graph
      </label>
    </div>
    <div class="inline-doc">
      <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph#enabling-the-dependency-graph">
        <span class="octicon octicon-question"></span>
      </a>
    </div>
    <p>The dependency graph identifies GitHub repository’s dependencies and supports a range of popular package ecosystems.</p>
  </div>

  <%# Dependabot requires Dependency Graph and Actions to be enabled %>
  <div id="dependabot-updates"
       class="subsection <%= (view.dependabot_enabled? && !view.actions_enabled?) ? 'invalid' : '' %>"
       data-validation-message="Dependabot cannot be enabled without enabling Actions">
    <div class="js-note-trigger-group">
      <label class="checkbox-item js-enable-dependabot-toggle">
        <input name="dependabot[enabled]" type="hidden" value="false" />
        <input type="checkbox"
              name="dependabot[enabled]"
              <%== view.dependabot_checkbox %>
              <%== !@settings.dependency_graph.enabled? ? "disabled" : nil %>>
        Dependabot updates
      </label>
    </div>
    <div class="inline-doc">
      <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/code-security/supply-chain-security/understanding-your-software-supply-chain">
        <span class="octicon octicon-question"></span>
      </a>
    </div>
    <p>Dependabot allows you to easily upgrade to non-vulnerable dependencies.</p>
  </div>

  <% if view.advanced_security_licensed? %>
    <div class="subsection">
      <div class="js-note-trigger-group">
        <label class="checkbox-item">
          <input name="code_scanning[enabled]" type="hidden" value="false" />
          <input type="checkbox" name="code_scanning[enabled]" <%== view.code_scanning_checkbox %>>
          Code scanning
        </label>
      </div>
      <div class="inline-doc">
        <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/github/finding-security-vulnerabilities-and-errors-in-your-code/about-code-scanning">
          <span class="octicon octicon-question"></span>
        </a>
      </div>

      <p>
        Code scanning allows you to automatically analyze the code in GitHub
        repositories to find security vulnerabilities and coding errors.
      </p>
    </div>
    
    <div class="subsection">
      <label class="checkbox-item">
        <input name="secret_scanning[enabled]" type="hidden" value="false" />
        <input type="checkbox" name="secret_scanning[enabled]" <%== view.secret_scanning_checkbox %>>
        Secret scanning
      </label>
      <p>
        Secret scanning allows you to automatically receive alerts when credentials are 
        detected in GitHub repositories.
      </p>
    </div>
  <% end %>
</div>
