<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render "shared/flash" %>
<%= render layout: "businesses/layout",
  locals: {
    business: business,
    title: "Okta Application Credentials for Team Sync",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <team-sync-okta-config-form>
    <%= form_with model: okta_credentials, url: team_sync_okta_credentials_enterprise_path(business), method: :put, local: true do |f| %>
      <div class="Details js-details-container js-ssws-token toggle-secret-field">
        <div class="secret-standin">
          <dl class="form-group required">
            <dt class="input-label">
              <label autocomplete="off" required for="team_sync_okta_credentials_ssws_token">
                SSWS Token
              </label>
            </dt>
            <dd>
              ∗∗∗∗∗∗∗∗∗∗∗∗∗∗∗∗ &mdash;
              <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-details-target", "aria-expanded": "false", data: { action: 'click:team-sync-okta-config-form#editOrCancelClicked' }) do %>Edit<% end %>
            </dd>
          </dl>
        </div>
        <div class="secret-field">
          <%= f.password_group "SSWS Token", :ssws_token, {
            data: { target: "team-sync-okta-config-form.sswsTokenInput" },
            autocomplete: "off",
            required: true,
            disabled: true,
            value: okta_credentials.ssws_token,
            error: error_for(okta_credentials, :ssws_token, human_field: "SSWS Token")
          } %>
          <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-details-target", "aria-expanded": "false", data: { action: 'click:team-sync-okta-config-form#editOrCancelClicked' }) do %>Cancel<% end %>
        </div>
      </div>

      <%= f.text_group "URL", :url, {
        required: true,
        error: error_for(okta_credentials, :url, human_field: "URL")
      } %>

      <div class="form-actions">
        <%= f.button "Update", class: "btn btn-primary"%>
        <%= link_to "Cancel", settings_security_enterprise_path(business), class: "btn" %>
      </div>
    </team-sync-okta-config-form>
  <% end %>
<% end %>