<%= render(Primer::Beta::BorderBox.new(mb: 4)) do |component| %>
  <% component.with_header do |header| %>
    <% header.with_title(tag: :h2, display: :flex, align_items: :center, justify_content: :space_between) do %>
      <span>Subscription</span>

      <%= render(Primer::Experimental::Dialog.new(
        title: "Edit Plan Subscription",
        src: edit_stafftools_enterprise_billing_plan_subscription_path(business),
        preload: true,
      )) do |c| %>
        <% c.with_show_button(float: :right) do |s| %>
          Edit
        <% end %>
        <% c.with_include_fragment do |s| %>
          <div data-hide-on-error>
            <h5>Loading...</h5>
            <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
          </div>
          <div data-show-on-error hidden>
            <h5>Sorry, something went wrong.</h5>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% component.with_row do %>
    <div class="d-flex flex-justify-start">
      <span class="d-block col-4 text-bold">Plan Duration</span>
      <span class="d-block col-8"><%= business.plan_duration %></span>
    </div>
  <% end %>

  <% component.with_row do %>
    <div class="d-flex flex-justify-start">
      <span class="d-block col-4 text-bold">Active coupon</span>
      <span class="d-block col-8">
        <% if (coupon = business.coupon) %>
          <%= primer_octicon(:gift) %>
          <small>
            <%= coupon.human_discount %> off for <%= coupon.human_duration %>,
            <time datetime="<%= business.coupon_redemption.expires_at %>">
              expires
              <% if business.coupon_redemption.expires_at.future? %>
                <%= time_ago_in_words_js business.coupon_redemption.expires_at %>
              <% else %>
                immediately
              <% end %>
            </time>
            <br>
            Coupon code: <%= link_to coupon.code, biztools_coupon_path(coupon.code), class: "Link--inTextBlock" %>
          </small>
        <% else %>
          No active coupon
          &ndash;
          <%= link_to "Apply coupon or view history", biztools_business_redemptions_path(business), class: "Link--inTextBlock" %>
        <% end %>
      </span>
    </div>
  <% end %>

<% end %>
