<article class="Box-row">
  <div class="float-right d-flex">
    <% if GitHub.sponsors_enabled? && sponsorable_ids.include?(repository.owner_id) %>
      <% is_sponsoring = is_sponsoring_by_sponsorable_id[repository.owner_id] %>
      <%= render Sponsors::SponsorButtonComponent.new(
        sponsorable: repository.owner,
        is_sponsoring: is_sponsoring,
        location: is_sponsoring ? :TRENDING_REPO_SPONSORING : :TRENDING_REPO_SPONSOR,
        mr: 2,
        span_classes: "d-none d-md-inline v-align-middle",
        icon_margin_right: [0, nil, 1],
      ) %>
    <% end %>

    <%= render(Stars::ButtonComponent.new(
      entity: repository.original_repository,
      starred: starred_by_viewer.include?(repository.id),
      show_count: false,
      context: "trending",
      hide_text_on_mobile: true,
    )) do |c| c.with_list_menu end %>
  </div>

  <h2 class="h3 lh-condensed">
    <%= render(Primer::Beta::Link.new(
      href: repository_path(repository),
      data: explore_click_tracking_attributes(
        click_context: :TRENDING_REPOSITORIES_PAGE,
        click_target: :REPOSITORY,
        click_visual_representation: :REPOSITORY_NAME_HEADING,
        actor: current_user,
        record_id: repository.id,
      ),
    )) do %>
      <%= render Primer::Beta::Octicon.new(icon: repository.octicon_name, mr: 1, color: :muted) %>

      <%= render Primer::Beta::Text.new(font_weight: :normal) do %>
        <%= repository.owner %> /
      <% end %>

      <%= repository.name %>
    <% end %>
  </h2>

  <% if repository.description.present? %>
    <p class="col-9 color-fg-muted my-1 pr-4">
      <%= formatted_repo_description repository %>
    </p>
  <% end %>

  <div class="f6 color-fg-muted mt-2">
    <% if repository.primary_language.present? %>
      <%= render(Languages::BadgeComponent.new(
        name: repository.primary_language.name,
        display: :inline_block,
        ml: 0,
        mr: 3,
      )) %>
    <% end %>

    <% if repository.stargazer_count > 0 %>
      <%= render(Primer::Beta::Link.new(
        display: :inline_block,
        href: gh_stargazers_path(repository.original_repository),
        mr: 3,
        muted: true,
      )) do %>
        <%= render Primer::Beta::Octicon.new(icon: "star", aria: { label: "star" }) %>
        <%= number_with_delimiter repository.stargazer_count %>
      <% end %>
    <% end %>

    <% if repository.network_count > 0 %>
      <%= render(Primer::Beta::Link.new(
        display: :inline_block,
        href: gh_fork_network_path(repository),
        mr: 3,
        muted: true,
      )) do %>
        <%= render Primer::Beta::Octicon.new(icon: "repo-forked", aria: { label: "fork" }) %>
        <%= number_with_delimiter repository.network_count %>
      <% end %>
    <% end %>

    <% if repository.contributor_profile_links(force_cache_miss: params[:force_cache_miss] == "true").any? %>
      <%= render Primer::Beta::Text.new(display: :inline_block, mr: 3) do %>
        Built by

        <% repository.contributor_profile_links.each do |link| %>
          <%= link %>
        <% end %>
      <% end %>
    <% end %>

    <% if repository.stargazer_count.positive? %>
      <% stars_since = repository.stars_since(period: since.to_sym) %>
      <%= render Primer::Beta::Text.new(display: :inline_block, float: [nil, :right]) do %>
        <%= render Primer::Beta::Octicon.new(icon: "star") %>
        <%= number_with_delimiter(stars_since) %> <%= "star".pluralize(stars_since) %> <%= since_text(since) %>
      <% end %>
    <% end %>
  </div>
</article>
