<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# `view` is an instance of Stafftools::Integrations::ShowView %>

<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2, danger: true) { "Danger Zone" } %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(border_color: :danger_emphasis)) do |box| %>
  <% box.with_row(display: :flex, classes: "js-details-container") do %>
    <div class="flex-auto">
      <strong>Rename integration</strong>

      <div class="text-small color-fg-muted">
        <p>Rename this integration and the slug. This should be done in accordance with the rename policy.</p>
      </div>

      <div class="inline-confirm mb-2">
        <%= form_tag rename_stafftools_user_app_path do %>
          <dl class="form-group">
            <dt><label for="integration_rename">Rename integration</label></dt>
            <dd>
              <%= text_field_tag :name, view.integration.name, class: "short", id: "integration_rename" %>
              <%= render Primer::Beta::Button.new(type: :submit) do %>Change name<% end %>
            </dd>
          </dl>
        <% end %>
      </div>
    </div>
    <%= render(Primer::Beta::Button.new(scheme: :danger, classes: "js-details-target", "aria-expanded": "false")) { "Rename" } %>
  <% end %>

   <% box.with_row(display: :flex, align_items: :center) do %>
    <div class="flex-auto">
      <strong>Revoke public keys</strong>
      <div class="text-small color-fg-muted">
        This will revoke all public keys made by the GitHub App via <code>server-to-server</code> requests.
      </div>
    </div>

    <%= render(Primer::Alpha::Dialog.new(
      size: :medium_portrait,
      title: "Revoke public keys",
    )) do |dialog| %>
      <% dialog.with_show_button(scheme: :danger) { "Revoke keys" } %>
      <%= render(Primer::Alpha::Dialog::Body.new) do %>
        <%= render(Primer::Beta::Flash.new(
          icon: :stop,
          scheme: :danger,
        )) do %>
          Are you sure you want to revoke these public keys?
        <% end %>
        <%= form_tag revoke_public_keys_stafftools_user_app_path, method: :delete do %>
          <%= submit_tag "Confirm revoke keys", class: "btn btn-danger" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if view.integration.suspended? %>
    <% box.with_row(display: :flex, align_items: :center) do %>
      <div class="flex-auto">
        <strong>Unsuspend GitHub App</strong>
        <div class="text-small color-fg-muted">
          This removes the suspension on this app. This app will become available for use again.
        </div>
      </div>

      <%= render(Primer::Alpha::Dialog.new(
        size: :medium_portrait,
        title: "Unsuspend GitHub App",
      )) do |dialog| %>
        <% dialog.with_show_button(scheme: :danger) { "Unsuspend App" } %>
        <%= render(Primer::Alpha::Dialog::Body.new) do %>
          <%= render(Primer::Beta::Flash.new(
            icon: :stop,
            scheme: :danger,
          )) do %>
            Are you sure you want to unsuspend this app?
          <% end %>
          <%= form_tag unsuspend_stafftools_user_app_path, method: :delete do %>
            <%= submit_tag "Unsuspend App", class: "btn btn-danger" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% box.with_row(display: :flex, align_items: :center) do %>
      <div class="flex-auto">
        <strong>Suspend GitHub App</strong>
        <div class="text-small color-fg-muted">
          This blocks all actions and requests from this app until it is unsuspended.
        </div>
      </div>

      <%= render(Primer::Alpha::Dialog.new(
        size: :medium_portrait,
        title: "Suspend GitHub App",
      )) do |dialog| %>
        <% dialog.with_show_button(scheme: :danger) { "Suspend App" } %>
        <%= render(Primer::Alpha::Dialog::Body.new) do %>
          <%= render(Primer::Beta::Flash.new(
            icon: :stop,
            scheme: :danger,
          )) do %>
            Are you sure you want to suspend this app?
          <% end %>
          <%= form_tag suspend_stafftools_user_app_path, method: :post do %>
            <%= render Primer::Alpha::TextArea.new(
              label: "Suspension reason",
              name: "reason",
              placeholder: "Suspension reason",
              required: true,
              full_width: true,
              mb: 3,
            ) %>
            <%= submit_tag "Suspend App", class: "btn btn-danger" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% box.with_row(display: :flex, align_items: :center) do %>
    <div class="flex-auto">
      <strong>Transfer Ownership</strong>
      <div class="text-small color-fg-muted">
        <p>Transfer this GitHub App to another owner</p>
      </div>
    </div>

      <%= render(Primer::Alpha::Dialog.new(
        size: :medium_portrait,
        title: "Transfer Ownership",
      )) do |dialog| %>
        <% dialog.with_show_button(scheme: :danger, disabled: !view.integration.can_transfer_ownership?) { "Transfer Ownership" } %>
        <%= render(Primer::Alpha::Dialog::Body.new) do %>
          <%= form_tag stafftools_user_app_transfer_path(view.integration.owner, view.integration) do %>
            <label for="search-member">Target Username</label>
            <auto-complete src="<%= transfer_suggestions_stafftools_user_app_transfer_path(view.integration.owner, view.integration) %>" for="transfer-app-complete-results" class="position-relative d-block">
              <input type="text" name="username" id="search-member" class="form-control js-add-repo-access-field" autofocus required>
              <ul id="transfer-app-complete-results" class="autocomplete-results"></ul>
            </auto-complete>

            <%= submit_tag "Transfer App", class: "mt-2 btn btn-danger" %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>
<% end %>
