<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: "Owned GitHub Apps", selected_link: :apps %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Application creation limit<% end %>
<% end %>

<%= form_with url: update_creation_limit_stafftools_user_apps_path(this_user), method: :put, local: true do %>
  <dl class="form-group">
    <dt><%= label_tag :creation_limit, "Application creation limit" %></dt>
    <dd>
      <%= text_field_tag :creation_limit, this_user.applications_creation_limit(Integration.new) %>
    </dd>
  </dl>
  <p><%= submit_tag "Submit", class: "btn btn-primary" %></p>
<% end %>

<%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
  <% component.with_heading(tag: :h2) do %>Owned GitHub Apps<% end %>
<% end %>

<% if @integrations.any? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
    <% @integrations.each do |integration| %>
      <% component.with_row(display: :flex) do %>
        <span class="flex-auto">
          <%= link_to integration.name, stafftools_user_app_path(this_user, integration) %>
          <% if integration.suspended? %>
            <%= render(Primer::Beta::Label.new(ml: 2, scheme: :danger, title: "Label: Suspended")) { "Suspended" } %>
          <% end %>
        </span>
        <span class="time">
          Updated <%= time_ago_in_words integration.updated_at %> ago
        </span>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <%= will_paginate @integrations %>
  </div>

  <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
    <% component.with_heading(tag: :h2, danger: true) { "Danger Zone" } %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(border_color: :danger_emphasis)) do |box| %>
    <% if @integrations.any? { |i| i.active? } %>
      <% box.with_row(display: :flex, align_items: :center) do %>
        <div class="flex-auto">
          <strong>Suspend All GitHub Apps</strong>
          <div class="text-small color-fg-muted">
            This suspends all apps owned by this account and blocks their requests.
          </div>
        </div>

        <%= render(Primer::Alpha::Dialog.new(
          size: :medium_portrait,
          title: "Suspend GitHub Apps",
        )) do |dialog| %>
        <% dialog.with_show_button(scheme: :danger) { "Suspend Apps" } %>
          <%= render(Primer::Alpha::Dialog::Body.new) do %>
            <%= render(Primer::Beta::Flash.new(
              icon: :stop,
              scheme: :danger,
            )) do %>
              Are you sure you want to suspend all apps owned by this account?
            <% end %>
            <%= form_tag suspend_stafftools_user_apps_path, method: :post do %>
              <%= render Primer::Alpha::TextArea.new(
                label: "Suspension reason",
                name: "reason",
                placeholder: "Suspension reason",
                required: true,
                full_width: true,
                mb: 3,
              ) %>
              <%= submit_tag "Suspend Apps", class: "btn btn-danger" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <% box.with_row(display: :flex, align_items: :center) do %>
        <div class="flex-auto">
          <strong>Unsuspend GitHub Apps</strong>
          <div class="text-small color-fg-muted">
            This removes the suspension on all apps owned by this account.
          </div>
        </div>

        <%= render(Primer::Alpha::Dialog.new(
          size: :medium_portrait,
          title: "Unsuspend GitHub Apps",
        )) do |dialog| %>
          <% dialog.with_show_button(scheme: :danger) { "Unsuspend Apps" } %>
          <%= render(Primer::Alpha::Dialog::Body.new) do %>
            <%= render(Primer::Beta::Flash.new(
              icon: :stop,
              scheme: :danger,
            )) do %>
              Are you sure you want to unsuspend all apps owned by this account?
            <% end %>
            <%= form_tag unsuspend_stafftools_user_apps_path, method: :delete do %>
              <%= submit_tag "Unsuspend Apps", class: "btn btn-danger" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      This account does not own any GitHub Apps.
    <% end %>
  <% end %>
<% end %>
