<% page_info title: this_business.name, selected_link: :business_security %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= link_to "Security", stafftools_enterprise_security_path(this_business.slug) %>
    / Unlinked External Identities
  <% end %>
  <% component.with_actions do %>
    <% if unlinked_external_identities_search_by %>
      <%= render Primer::Alpha::ActionMenu.new(
        select_variant: :single,
        anchor_align: :end
      ) do |menu| %>
        <% menu.with_show_button do |button| %>
          <% button.with_trailing_action_icon(icon: :"triangle-down") %>
          Search: <%= unlinked_external_identities_search_by.capitalize %>
        <% end %>
        <% unlinked_external_identities_search_labels.each do |label| %>
          <% menu.with_item(
            href: url_for(search: label, query: params[:query]),
            label: label.capitalize,
            active: unlinked_external_identities_search_by == label
          ) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search unlinked external identities",
  form_url: unlinked_external_identities_stafftools_enterprise_external_identities_path(this_business),
  form_group_test_selector: "external-identity-search",
  extra_input_fields: [
    {
      name: "search",
      id: "search",
      value: params[:search],
      hidden: true,
    },
  ]
) %>

<div class="Box Box--condensed mt-3">
  <div class="Box-header">
    <h3 class="Box-title">
      <%= pluralize(unlinked_identities.total_entries, "unlinked external identity") %>
    </h3>
  </div>
</div>

<%= render "stafftools/business_external_identities/unlinked_external_identities",
  business: this_business,
  unlinked_identities: unlinked_identities %>

<div class="paginate-container">
  <%= will_paginate unlinked_identities %>
</div>
