<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% page_info title: "#{business.name} - unlinked external identity ID #{external_identity.id}", selected_link: :business_security %>

<% if external_identity.present? %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Unlinked external identities / ID <%= external_identity.id %><% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(classes: "summary")) do |component| %>
    <% component.with_row do %>
      <div <%= test_selector "identity-details" %>>
        <% unless external_identity.provider_type == "Business::OIDCProvider" %>
          <dl>
            <dt>SAML user data</dt>
            <dd><pre><%= GitHub::JSON.encode(JSON.parse(external_identity.saml_user_data.to_json), pretty: true) %></pre></dd>
          </dl>
        <% end %>

        <dl>
          <dt>SCIM user data</dt>
          <dd><pre><%= GitHub::JSON.encode(JSON.parse(external_identity.scim_user_data.to_json), pretty: true) %></pre></dd>
        </dl>

        <dl>
          <dt>External Groups</dt>
            <dd>
              <%= safe_join(external_identity.external_identity_group_memberships.map { |group|
                if GitHub.enterprise?
                  link_to(group.external_group.display_name, stafftools_external_group_members_path(id: group.external_group.id))
                else
                  link_to(group.external_group.display_name, external_group_members_stafftools_enterprise_path(id: group.external_group.id))
                end
              }, ', ')%>
            </dd>
        </dl>

        <dl>
          <dt>SCIM User ID</dt>
          <dd><%= external_identity.guid %></dd>
        </dl>

        <dl>
          <dt>Provider type</dt>
          <dd><%= external_identity.provider_type %></dd>
        </dl>
        <dl>
          <dt>Created at</dt>
          <dd><%= time_ago_in_words_js external_identity.created_at %></dd>
        </dl>
        <dl>
          <dt>Updated at</dt>
          <dd><%= time_ago_in_words_js external_identity.updated_at %></dd>
        </dl>
      </div>
    <% end %>
    <% unless GitHub.enterprise? %>
      <% component.with_row do %>
        <%= render layout: "shared/details_dialog", locals: {
            button_text: "Destroy unlinked external identity",
            button_class: "btn btn-danger",
            details_class: "float-right ml-1",
            title: "Destroy unlinked external identity",
        } do %>
          <%= render Primer::Beta::Flash.new(scheme: :warning, full: true) do %>
            <p>
              Be careful &mdash; this will destroy the external identity and all associated data. Any associated organization invitations will be nullified.
            </p>
            <% if external_identity.scim_user_data.any? %>
              <p><strong>Warning</strong> &mdash; this external identity contains SCIM metadata. If there is an invitation associated with this external identity the user may no longer be able to accept the invite once the SCIM data is removed. An admin may need to remove and re-assign the user to the GitHub application in the Identity Provider.</p>
            <% end %>
          <% end %>
          <div class="Box-body overflow-auto">
            <%= form_tag unlinked_external_identity_stafftools_enterprise_external_identities_path(business.slug, external_identity.id), method: "delete" do %>
              <div class="Box-footer">
                <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true) do %>
                  Destroy unlinked external identity
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <div class="listgroup-item-title">Destroy unlinked external identity</div>
        <div class="listgroup-item-body">
          Be careful &mdash; this will destroy the external identity and all associated data.
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= render "stafftools/external_identity_sessions/sessions", external_identity: external_identity %>
<% else %>
  <%# User not linked to the enterprise's SSO IdP %>
  <%= render Primer::BlankslateComponent.new(
    icon: "shield-lock",
    title: "No unlinked identity",
    spacious: true,
  ) do %>
    <p>
      Unlinked identity has not been found.
    </p>
  <% end %>
<% end %>
