<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% view = Stafftools::Ldap::IndexView.new %>

<% page_info :title => "LDAP users" %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="boxed-group">
    <h3>Search results &ndash; LDAP users</h3>
    <div class="boxed-group-inner">
      <p><%= view.ldap_search_explanation %></p>

      <%= form_tag ldap_stafftools_users_path, :method => :get do %>
        <div class="hfields">
          <dl class="form-group">
            <dt>
              <label for="query">Query</label>
            </dt>
            <dd>
              <%= text_field_tag :query, params[:query], class: "short", autofocus: true %>
            </dd>
          </dl>
        </div>
        <p><%= render Primer::ButtonComponent.new(type: :submit) do %>Search<% end %></p>
      <% end %>

      <% if !@search_results.nil? %>
        <% if @search_results.empty? %>
          <p>No users found!</p>
        <% else %>
          <% if @limited %>
            <p>We can only display <%= pluralize(@limited, "result") %>. Try refining your search.</p>
          <% end %>
          <ul class="boxed-group-list standalone">
            <% @search_results.each do |user| %>
              <li class="js-action-ldap-create">
                <% if !user[:signed_in].empty? %>
                  <%= avatar_for user[:signed_in].first, 30, class: "avatar" %>
                  <%= link_to user[:gh_login].first, stafftools_user_path(user[:gh_login].first) %>
                <% else %>
                  <img src="<%= gravatar_disabled_image %>" width="30" height="30" alt="<%= user[:gh_login].first %>" class="avatar avatar-user">
                  <span class="float-right">
                    <%= form_tag ldap_stafftools_users_path(:login => user[:gh_login].first, :uid => user[@uid].first), :class => "js-action-ldap-create-form inline-form" do %>
                      <%= render Primer::ButtonComponent.new(type: :submit, variant: :small) do %>Create<% end %>
                    <% end %>
                  </span>
                  <%= user[:gh_login].first %>
                <% end %>
                &ndash; <%= user[:cn].first %>

                <strong><span class="js-message" style="display:none"></span></strong>
              </li>
            <% end %>
          </ul>

        <% end %>
      <% end %>
    </div>
  </div>
  <% if @search_results.present? %>
    <div class="paginate-container">
      <%= will_paginate @search_results, :params => {:query => params[:query]} %>
    </div>
  <% end %>
<% end %>
