<% content_for :header do %>
  Welcome to the Code Search Technology Preview
<% end %>

<%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
    <p>
      We’re thrilled to invite you to start testing the GitHub Code Search Technology Preview at <a href="https://cs.github.com">cs.github.com</a>.
      Watch <a href="https://cs.github.com/about/video">this video</a> for a quick introduction.
    </p>

    <p>
      Your perspective will help us make it even better. Please visit the <a href="https://github.com/github/feedback/discussions/categories/code-search-and-navigation-feedback">Code Search Feedback area</a> to ask questions and share your feedback. We look forward to hearing what you think!
    </p>

    <%= render(Mail::SpacerComponent.new) %>
    <%= render(Mail::ButtonComponent.new(text: "Try the Code Search Technology Preview", url: "https://cs.github.com", classes: "btn-primary btn-large")) %>
    <%= render(Mail::SpacerComponent.new) %>

    <p>
      All the best (results),<br>
      The GitHub Code Search Team
    </p>
  <% end %>
<% end %>
