<% attrs = helpers.code_navigation_hydro_click_tracking("click_on_blob_definitions", repo: current_repository, ref: tree_name, language: language, backend: backend, code_nav_context: code_nav_context, retry_backend: "") %>
<details class="details-reset details-overlay d-inline" id="jumpto-symbol-select-menu">
  <%= render Primer::Beta::Button.new(tag: :summary, scheme: :link, classes: "Link--secondary css-truncate", "aria-haspopup": "true", "data-hotkey": "r", "data-hydro-click": attrs["hydro-click"], "data-hydro-click-hmac": attrs["hydro-click-hmac"]) do |component| %>
    <%= render Primer::Beta::Octicon.new(icon: "code") %>
    <span data-menu-button>Jump to</span>
    <span class="dropdown-caret"></span>
  <% end %>
  <details-menu class="SelectMenu SelectMenu--hasFilter" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <span class="SelectMenu-title">Code definitions</span>
        <button class="SelectMenu-closeButton" type="button" data-toggle-for="jumpto-symbol-select-menu">
          <%= primer_octicon(:x, "aria-label": "Close menu") %>
        </button>
      </header>
      <% if has_code_symbols? %>
        <div class="SelectMenu-filter">
          <input
            class="SelectMenu-input form-control js-filterable-field"
            id="jumpto-symbols-filter-field"
            type="text"
            autocomplete="off"
            spellcheck="false"
            autofocus
            placeholder="Filter definitions"
            aria-label="Filter definitions">
        </div>
      <% end %>
      <div class="SelectMenu-list">
        <% unless has_code_symbols? %>
          <div class="SelectMenu-blankslate">
            <p class="mb-0 color-fg-muted">
              No definitions found in this file.
            </p>
          </div>
        <% end %>
        <div data-filterable-for="jumpto-symbols-filter-field" data-filterable-type="substring">
          <% code_symbols.each do |symbol| %>
            <%= link_to(symbol_path(symbol),
                  class: "SelectMenu-item d-flex flex-justify-between css-truncate",
                  role: "menuitemradio",
                  "aria-checked": false,
                  rel: "nofollow",
                  data: navigate_to_definition_hydro_attrs,
                ) do %>
              <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
              <span class="flex-auto css-truncate-target" data-menu-button-text><%= symbol.symbol %></span>
              <span class="flex-auto d-flex flex-justify-end"><%= symbol.kind %></span>
            <% end %>
          <% end %>
        </div>
      </div>
      <footer class="SelectMenu-footer">
        <div class="d-flex flex-justify-between">
          <%= STATES[state][:msg] %>
          <%= octicon("dot-fill", class: "text-#{STATES[state][:color]}") %>
        </div>
      </footer>
    </div>
  </details-menu>
</details>
