<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
  Removing members from the <%= this_team.name %> team
  will also delete their forks of any private
  <%= this_team.name %>-owned repositories. This may take up to 24 hours to occur.
<% end %>

<%= render(Primer::Alpha::Dialog::Body.new) do %>
  <div style="margin-top: 9px">
    <p>The following members will be removed:</p>
    <div class="confirm-removal-list-container">
      <ul class="list-style-none">
        <% members.each do |member| %>
          <li class="confirm-removal-list-item">
            <%= avatar_for(member, 16, :class => "avatar") %>
            <%= member.display_login %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= render(Primer::Alpha::Dialog::Footer.new(show_divider: :true)) do %>
  <%= form_tag destroy_team_member_path(this_organization, this_team), :method => :delete do %>
    <% members.each do |member| %>
      <input type="hidden" name="team_members_ids[]" value="<%= member.id %>">
    <% end %>
    <input type="hidden" name="redirect_to_path" value="<%= redirect_to_path %>">
    <%= render(Primer::Beta::Button.new(scheme: :danger, type: :submit)) { "Remove members" } %>
  <% end %>
<% end %>
