<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
  This action has no effect on Organization owners.
<% end %>

<%= render(Primer::Alpha::Dialog::Body.new) do %>
  <%= form_tag team_set_role_path(this_organization, this_team), :method => :put do %>
    <div style="margin-top: 9px">
      <p>Select a new role:</p>
      <div class="form-group">
        <div>
          <div class="form-checkbox">
            <label>
              <input name="role" type="radio" value="maintainer" required>
              Maintainer
            </label>
            <p class="note">
              Can add and remove team members and create child teams.
            </p>
          </div>
        </div>
        <% if team_poster_role_option %>
          <div>
            <div class="form-checkbox">
              <label>
                <input name="role" type="radio" value="poster" required>
                Team Poster
              </label>
              <p class="note">
                Can create new team posts.
              </p>
            </div>
          </div>
        <% end %>
        <div>
          <div class="form-checkbox">
            <label>
              <input name="role" type="radio" value="member" required>
              Member
            </label>
            <p class="note">
              Has no administrative permissions on the team.
            </p>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="team_member_ids" value="<%= [member_ids].flatten.join(",") %>">
    <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger, "data-disable-invalid": "")) { "Change role" } %>
  <% end %>
<% end %>
