<%# `view` is an instance of Orgs::TeamMembers::IndexPageView %>
<ul class="member-listing table-list table-list-bordered adminable">
  <% view.members.each do |member| %>
    <%= render 'orgs/team_members/member', view: create_view_model(
      Orgs::TeamMembers::MemberView,
      team: view.team,
      member: member,
      disable_bulk_actions: view.child_team_membership?,
    ) %>
  <% end %>
</ul>

<% if view.no_immediate_team_members? %>
  <div class="border border-top-0">
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "people") %>

      <% c.with_heading(tag: :h2) do %>
        This team doesn’t have any members.
      <% end %>
    <% end %>
  </div>
<% elsif view.no_child_team_members? %>
  <div class="border border-top-0">
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "people") %>

      <% c.with_heading(tag: :h2) do %>
        This team doesn’t have any child team members.
      <% end %>
    <% end %>
  </div>
<% elsif view.no_members? %>
  <div class="border border-top-0">
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "search") %>

      <% c.with_heading(tag: :h2) do %>
        We couldn’t find any matching members.
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="paginate-container">
    <%= will_paginate view.members, page_links: false %>
  </div>
<% end %>
