<%# `view` is an instance of Orgs::TeamMembers::MemberView %>

<% if view.member.present? %>
  <li class="table-list-item member-list-item js-bulk-actions-item <%= "adminable" if view.org_admin? %>" data-bulk-actions-id="<%= view.member.display_login %>">
    <% if view.team_locally_managed? && view.viewer_can_administer_team? %>
      <div class="table-list-cell table-list-cell-checkbox py-3 v-align-middle pr-0 pl-3">
        <input
          type="checkbox"
          name="members[]"
          value="<%= view.member_login %>"
          aria-label="<%= view.member_login %>"
          id="member-<%= view.member_login %>"
          class="js-bulk-actions-toggle"
          <%= "disabled" if view.disable_bulk_actions %>
          data-check-all-item>
      </div>
    <% end %>
    <div class="table-list-cell py-3 pl-3 v-align-middle member-avatar-cell css-truncate pr-0">
      <span class="float-left">
        <%= linked_avatar_for(view.member, 44, img_class: "avatar", url: view.member_url) %>
      </span>
    </div>
    <div class="table-list-cell py-3 v-align-middle css-truncate pl-3">
      <%= profile_link(view.member, class: "f4 d-inline-block mr-1", url: view.member_url) do %>
        <%= view.member.profile_name.presence || view.member.display_login %>
      <% end %>
      <% if view.member.profile_name.present? %>
        <span class="f5 color-fg-muted mr-2" itemprop="name"><%= view.member_login %></span>
      <% end %>
      <% if view.team_locally_managed? && view.team_maintainer? %>
        <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: Maintainer") do %>
          Maintainer
        <% end %>
      <% end %>
      <% if view.show_team_poster_label? %>
        <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: Team Poster") do %>
          Team Poster
        <% end %>
      <% end %>
    </div>
  </li>
<% end %>
