<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="table-list-header table-list-header-next bulk-actions-header <% if view.viewer_can_administer_team? %> js-sticky<% end %>">
  <% if view.team.locally_managed? && view.viewer_can_administer_team? %>
    <label class="table-list-header-select-all pr-0 pl-3 ml-0 mr-3">
      <input
        id="select-all-checkbox"
        type="checkbox"
        name="select-all-checkbox"
        data-check-all
        <%= "disabled" if view.child_team_membership? %>
        aria-label="Select all team members">
    </label>
    <div class="select-all-dropdown dropdown js-bulk-actions float-left">
      <%=
        render "orgs/teams/members_toolbar_actions",
          selected_team_members: []
      %>
    </div>
  <% end %>

  <%= render "orgs/team_members/memberlist_toggle", view: view %>

  <div class="table-list-header-toggle float-right">
    <% if view.team.locally_managed? %>
      <details class="details-reset details-overlay" data-filter-on="role">
        <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "select-menu-button icon-only") do %>
          Role
        <% end %>
        <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Filter by role</span>
          </div>
          <div class="select-menu-list">
            <a
              href="<%= url_for(query: "") %>"
              class="select-menu-item js-member-search-filter"
              data-filter=""
              aria-checked="<%= view.role_filter_select_class(:everyone) == "selected" %>"
              role="menuitemradio">

              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <div class="select-menu-item-text">Everyone</div>
            </a>
            <a
              href="<%= url_for(query: "role:maintainer") %>"
              class="select-menu-item js-member-search-filter"
              data-filter="role:maintainer"
              aria-checked="<%= view.role_filter_select_class(:maintainer) == "selected" %>"
              role="menuitemradio">

              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <div class="select-menu-item-text">Maintainer</div>
            </a>
            <a
              href="<%= url_for(query: "role:member") %>"
              class="select-menu-item js-member-search-filter"
              data-filter="role:member"
              aria-checked="<%= view.role_filter_select_class(:member) == "selected" %>"
              role="menuitemradio">

              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <div class="select-menu-item-text">Member</div>
            </a>
          </div>
        </details-menu>
      </details>
    <% end %>
  </div>
</div>
<%= render "orgs/team_members/members_listing", view: view %>
