<div class="table-list-filters">
  <div class="table-list-header-toggle states float-left js-membership-tabs">
    <div class="js-membership-tab btn-link <%= 'selected' unless view.child_team_membership? %>" data-membership="">
      <%= primer_octicon(:person) %>
      <%= pluralize number_with_delimiter(view.immediate_team_members_count), 'member', 'members' %>
    </div>

    <div class="js-membership-tab btn-link <%= 'selected' if view.child_team_membership? %>" data-membership="membership:child-team">
      <%= primer_octicon(:people) %>
      <%= pluralize number_with_delimiter(view.child_team_members_count), 'child team member', 'child team members' %>
    </div>
  </div>
</div>
