<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% page_info title: "CodeQL bulk building", selected_link: :codeql_bulk_building %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>CodeQL bulk building<% end %>
  <% end %>

  <%= render(Primer::ButtonComponent.new(variant: :medium, scheme: :default, tag: :a, href: stafftools_codeql_bulk_building_onboard_path)) { "Onboard new repositories" } %>
  <%= render(Primer::ButtonComponent.new(variant: :medium, scheme: :default, tag: :a, href: stafftools_codeql_bulk_building_offboard_path)) { "Offboard existing repositories" } %>

  <hr>

  <%= form_tag stafftools_codeql_bulk_building_path, method: :get, class: "d-flex mb-3" do %>
    <div class="subnav-search flex-auto d-flex mx-0">
      <input aria-label="Search for orgs/repos&hellip;"
            placeholder="Search for orgs/repos&hellip;"
            autocapitalize="off"
            autocomplete="off"
            class="form-control input-block flex-auto input-lg subnav-search-input mr-2"
            spellcheck="false"
            type="text"
            name="query"
            value="<%= params[:query] %>">
      <%= render(Primer::Beta::Octicon.new(:search, classes: "subnav-search-icon")) %>
      <% if params[:query].present? %>
        <%= render Primer::Beta::IconButton.new(
          icon: :x,
          tag: :a,
          href: stafftools_codeql_bulk_building_path,
          type: :button,
          aria: {label: "Clear filter"},
          position: :absolute,
          top: false,
          right: false,
          mt: 1,
          mr: 1) %>
      <% end %>
    </div>
    <%= render(Primer::ButtonComponent.new(type: :submit)) { "Search" } %>
  <% end %>

  <div <%= test_selector("bulk-building-repository-count") %>>
    <% if filtered_count.nil? %>
      <%= total_count %> total onboarded repositories
    <% else %>
      Showing <%= filtered_count %> matching repositories (out of <%= total_count %> total onboarded repositories)
    <% end %>
  </div>
  <table class="site-admin-table">
    <tr>
      <th>Repository</th>
      <th>Onboarded languages</th>
    </tr>
    <% onboarded_repo_languages.each do |row| %>
      <tr>
        <td>
          <% if row[0].nil? %>
            <span <%= test_selector("bulk-building-deleted-repository") %>>Deleted repository</span>
          <% else %>
            <a href="<%= gh_stafftools_repository_path row[0] %>" <%= test_selector("bulk-building-repository-name") %>><%= row[0].nwo %></a>
          <% end %>
        </td>
        <td>
          <span <%= test_selector("bulk-building-repository-languages") %>><%= row[1].join(", ") %></span>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate onboarded_repos %>
  </div>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle :settings %>
<% end %>
