<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "CodeQL bulk building", selected_link: :codeql_bulk_building %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <%= link_to "CodeQL bulk building", stafftools_codeql_bulk_building_path %>
      - offboard existing repositories
    <% end %>
  <% end %>

  <%= form_tag stafftools_codeql_bulk_building_offboard_path, class: "mb-3" do %>
    <div class="form-group">
      <textarea aria-label="Newline-separated org names or nwos (e.g. foo or foo/bar)"
                placeholder="Newline-separated org names or nwos (e.g. foo or foo/bar)"
                class="form-control input-block flex-auto input-lg"
                autocapitalize="off"
                autocomplete="off"
                spellcheck="false"
                name="repositories"
                required></textarea>
    </div>
    <div class="form-group">
      <input aria-label="Language"
             placeholder="Language"
             class="form-control input-block flex-auto input-lg"
             type="text"
             name="language"
             required>
    </div>
    <div class="form-group">
      <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :danger, variant: :medium)) { "Offboard repositories" } %>
    </div>
  <% end %>
<% end %>
