<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render(Mail::HeaderTitleComponent.new(
  title: @email_context.mail_product_title,
  icon: @email_context.mail_icon,
)) %>

<p>
  Hello! We wanted to provide you with an update on your usage and spending.
</p>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<%= render(
  partial: "mailers/shared/progress_bar",
  locals: {
    color: "red",
    percentage: @email_context.threshold,
    label: @email_context.progress_bar_title,
    amount: @email_context.progress_bar_details_text,
  }
) %>

<%= render(Mail::SpacerComponent.new(size: 32)) %>

<p>
  <%= @email_context.text %>
</p>

<p><%= @email_context.usage_reset_date_text %>.</p>

<%= render(Mail::SpacerComponent.new) %>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
