<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render Mail::HeaderTitleComponent.new(title: @subject, avatar: @business) %>
<p>
  Greetings, <strong><%= @business %></strong>
</p>

<p>
  We’re sorry to say that your coupon for <%= branded_plan_name(GitHub::Plan.business_plus).titleize %> has expired.
</p>

<% if @education_coupon %>
<p>
  If you are still a student or teacher, you may apply for a new academic discount coupon at <%= link_to "https://education.github.com", "https://education.github.com" %>.
</p>
<% end %>

<p>
<% if @payment_method_on_file %>
  Your GitHub Enterprise subscription will renew automatically using the payment method on file.
<% else %>
  If you’d like to renew GitHub, please update your payment method.
<% end %>
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: @payment_method_on_file ? "Review payment method" : "Update payment method",
      url: @payment_settings_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<% unless @payment_method_on_file %>
<p>
  Your enterprise account has been restricted, but will still provide access to your private repositories. If you would like to downgrade, then follow <%= link_to "these documented steps", @downgrade_url %> to proceed.
</p>
<% end %>

<p>
  If you feel there’s been a mistake or have any questions, <%= link_to "contact us", contact_url %>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to @payment_settings_url, @payment_settings_url.to_s %>
</p>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
