<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render Mail::HeaderTitleComponent.new(title: @subject, avatar: @account) %>
<p>
  Greetings, <strong><%= @account %></strong>
</p>

<p>
  We tried to bill your account, but it appears that your credit card has expired.
</p>

<p>
  <%= @metered_billing_failure_text %>
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Update your card",
      url: @settings_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  If you feel there’s been a mistake or have any questions, <%= link_to "contact us", contact_url %>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to @settings_url, @settings_url.to_s %>
</p>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
