<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render Mail::HeaderTitleComponent.new(title: @subject, avatar: @billable_entity) %>
<p>
  Greetings, <strong><%= @billable_entity %></strong>
</p>

<p>
  A while ago you used a GitHub coupon that was good for <%= @coupon.human_discount %> off <%= @coupon.human_duration %> of <%= branded_plan_name(@billable_entity.plan) %>.
</p>
<p>
  This coupon will expire in <%= distance_of_time_in_words_to_now @redemption.expires_at %> (<%= @redemption.expires_at.strftime('%B %d, %Y') %>) and your account will be
  <%- if @billable_entity.has_valid_payment_method? || @billable_entity.invoiced? -%>
  charged for the existing subscription on the next billing date.
  <%- elsif @billable_entity.plan.legacy? -%>
  locked until you add a payment method or downgrade to GitHub Free.
  <%- else -%>
  downgraded to GitHub Free until you add a payment method.
  <% end %>
</p>

<% if @coupon.education_coupon? %>
<p>
  If you are still a student or teacher, you may apply for a new academic discount coupon at <%= link_to "https://education.github.com", "https://education.github.com" %>.
</p>
<% end %>

<p>
<% if @billable_entity.has_valid_payment_method? -%>
  Since you already have a <%= @billable_entity.friendly_payment_method_name %> on file you don’t need to take any additional actions.
  We just wanted to let you know that you’ll be charged full price(<%= @payment_amount %>/<%= @billable_entity.plan_duration %>) after your coupon expires.
<% else -%>
  We noticed you haven’t entered any payment information yet. If you’d like to continue using (<%= branded_plan_name(@billable_entity.plan).titleize %> - <%=@payment_amount %>/<%= @billable_entity.plan_duration %>) you’ll need to add a valid payment method to your account.
  After your coupon expires, we’ll charge your account, and you can keep working without interruption.
<% end -%>
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: @billable_entity.has_valid_payment_method? ? "Update payment method" : "Add payment method",
      url: @settings_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  Want to downgrade? You'll still have access to your private repositories on <%= branded_plan_name(GitHub::Plan.free).titleize %>.
</p>
<p>
  We hope you've enjoyed trying out <%= branded_plan_name(GitHub::Plan.pro).titleize %>.
</p>

<p>
  If you feel there’s been a mistake or have any questions, <%= link_to "contact us", contact_url %>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to @settings_url, @settings_url.to_s %>
</p>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
