<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render Mail::HeaderTitleComponent.new(title: @subject, avatar: @billable_entity) %>
<p>
  Greetings, <strong><%= @billable_entity %></strong>
</p>

<p>
  We’re sorry to say that your coupon for <%= branded_plan_name(@billable_entity.plan).titleize %> has expired.
</p>

<% if @education_coupon %>
<p>
  If you are still a student or teacher, you may apply for a new academic discount coupon at <%= link_to "https://education.github.com", "https://education.github.com" %>.
</p>
<% end %>

<p>
  If you’d like to renew GitHub, please update your payment method.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Update payment method",
      url: @settings_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
<% if @billable_entity.plan.legacy? %>
  If you decide not to renew, you can switch to <%= branded_plan_name(GitHub::Plan.free).titleize %> and access your private repositories with limited review and collaboration features.
<% else %>
  Your account is still active and has been automatically switched to <%= branded_plan_name(GitHub::Plan.free).titleize %> which will still provide access to your private repositories.
<% end %>
</p>

<p>
  If you feel there’s been a mistake or have any questions, <%= link_to "contact us", contact_url %>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to @settings_url, @settings_url.to_s %>
</p>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
