<% content_for :header do %>
  <%= @account %> account: Your bill for usage on GitHub
<% end %>

<%= render(Mail::HeaderTitleComponent.new(title: @account, avatar: @account)) %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <p>
        <% if @notification_number.zero? %>
          Hello! Your bill for usage on GitHub is available to pay.
        <% elsif @notification_number == 1 %>
          Hello! This is a reminder that your bill for usage on GitHub is available to pay. Please pay your outstanding balance to avoid any service disruptions.
        <% else %>
          Hello! Your bill for usage on GitHub is past due. Please update your payment information in your <%= link_to "account billing page", target_billing_url(@account) %>. In the meantime, we've disabled access to paid features. If you run into any billing issues, feel free to contact <%= link_to "GitHub Support", "#{GitHub.contact_support_url}/account?type=billing" %>.
        <% end %>
      </p>

      <p>
        Bill amount
        <h3><%= Billing::Money.new(@account.plan_subscription.balance_in_cents).format %></h3>
      </p>

      <%= render(Mail::SpacerComponent.new) %>

      <p>
        Payment due by

        <br>

        <b>
          <%= @account.manual_dunning_period.due_date.strftime("%B %e, %Y") %>
        </b>
      </p>
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <%= render(Mail::ButtonComponent.new(text: "View and pay", url: target_billing_url(@account), classes: "btn-primary btn-large")) %>
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <p>
        Please note that auto-pay for recurring payments is currently disabled for your account due to the new RBI regulation. <%= link_to "Learn more about the RBI regulation", GitHub.india_rbi_url %>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
