<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render Mail::HeaderTitleComponent.new(title: @subject, avatar: @account) %>
<p>
  Greetings, <strong><%= @account %></strong>
</p>

<p>
  This email is to inform you that we’ve received the following error trying to bill your <%= @account.friendly_payment_method_name("account") %>:
</p>

<%= render(Mail::SpacerComponent.new) %>

<p>
  <strong><%= @message %></strong>
</p>

<%= render(Mail::SpacerComponent.new) %>

<p>
  Any marketplace subscriptions <%= @sponsorships %>have been reverted to their previous state. Please resolve this issue and attempt your purchase again.
</p>

<p>
  <%= @metered_billing_failure_text %>
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Update payment information",
      url: @settings_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  If you feel there’s been a mistake or have any questions, <%= link_to "contact us", contact_url %>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to @settings_url, @settings_url.to_s %>
</p>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
