<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render Mail::HeaderTitleComponent.new(title: @subject, avatar: @account) %>

<p>
  Greetings <strong><%= @account %></strong>,
</p>

<p>
  We’ve attempted to bill your <%= @account.friendly_payment_method_name("account") %>, but have been unsuccessful.
  The following is the response we received when trying to bill your account:
</p>

<%= render(Mail::SpacerComponent.new) %>

<p>
  <strong><%= @message %></strong>
</p>

<%= render(Mail::SpacerComponent.new) %>

<p>
  Your past due subscriptions have been cancelled, and access to metered usage has been restricted.
</p>
<p>
  To restore access, please update your payment information. You will also need to re-subscribe to any cancelled products.
  If you have no remaining paid products, we may remove your payment method to ensure continued access to free features.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Update payment information",
      url: @settings_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  If you feel there’s been a mistake or have any questions, <%= link_to "contact us", contact_url %>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to @settings_url, @settings_url.to_s %>
</p>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
