<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render Mail::HeaderTitleComponent.new(title: @subject, avatar: @organization) %>
<p>
  Greetings, <strong><%= @organization %></strong>
</p>

The <%= @organization %> organization's upgrade has timed out.
In order to upgrade, navigate to the organization's billing page and edit the plan at any time.

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Upgrade now",
      url: @org_plan_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  If you feel there’s been a mistake or have any questions, <%= link_to "contact us", contact_url %>.
</p>
<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to @org_plan_url, @org_plan_url.to_s %>
</p>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
