<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render Mail::HeaderTitleComponent.new(title: @subject, avatar: @account) %>
<p>
  Greetings, <strong><%= @account %></strong>
</p>

<p>
  This email is to inform you that we’ve received the following error trying to bill your <%= @account.friendly_payment_method_name("account") %>:
</p>

<%= render(Mail::SpacerComponent.new) %>

<p>
  <strong><%= @message %></strong>
</p>

<%= render(Mail::SpacerComponent.new) %>

<p>
  PayPal payments can fail for a number of reasons. Please login to <%= link_to "https://www.paypal.com/", "https://www.paypal.com/" %> and verify the following:
</p>

<p>
<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
  <% if @amount_in_cents %>
  <ul>
    <li>
      Make sure your PayPal account balance has enough funds to cover the subscription amount, USD <%= Money.new(@amount_in_cents).format %>.
      If not, please transfer funds from your funding source into your PayPal account.
    </li>
  </ul>

  <p>
    OR
  </p>

  <% end %>

  <ul>
    <li>Make sure you have a default payment method on your PayPal account.</li>
    <li>If your default payment method in PayPal is a credit card, make sure your details are up-to-date and that the card is not expired.</li>
    <li>If your default payment method in PayPal is a bank account, add a backup payment method.</li>
  </ul>
  <% end %>
<% end %>
</p>

<%= render(Mail::SpacerComponent.new) %>

<p>
  We’ll try billing your <%= @account.friendly_payment_method_name("account") %> again over the next two weeks.
</p>

<p>
  <%= @metered_billing_failure_text %>
</p>

<p>
  If you need to, you can also update your payment information.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Update payment information",
      url: @settings_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  If you feel there’s been a mistake or have any questions, <%= link_to "contact us", contact_url %>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to @settings_url, @settings_url.to_s %>
</p>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
