<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render(Mail::HeaderTitleComponent.new(title: @content.mail_product_title, icon: @content.mail_icon)) %>

<p>
  Hello! We wanted to provide you with an update on your usage and spending.
</p>

<% if @content.show_progress_bar %>
  <%= render(Mail::SpacerComponent.new(size: 16)) %>

  <%= render partial: "mailers/shared/progress_bar", locals: { color: "red", percentage: @content.threshold, label: @content.progress_bar_title, amount: @content.progress_bar_details_text } %>

  <%= render(Mail::SpacerComponent.new(size: 32)) %>
<% else %>
  <p>
    <%= @content.progress_bar_title %><br>
    <span class="f4 text-bold"><%= @content.progress_bar_details_text %></span>
  </p>
<% end %>

<p>
  <%= @content.text %>
  <% unless @owner.try(:has_any_trade_restrictions?) %>
    <br><%= sanitize_html(@content.action_text) %>
  <% end %>
</p>

<p><%= @content.usage_reset_date_text %>.</p>

<% if !@owner.try(:has_any_trade_restrictions?) && !@owner.delegate_billing_to_business? %>
  <%= render(Mail::SpacerComponent.new) %>

  <%= render(Mail::ContainerComponent.new) do %>
    <%= render(Mail::ButtonComponent.new(text: "Update spending limit", url: target_billing_url(@owner, tab: :spending_limit), classes: "btn-primary btn-large")) %>
  <% end %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
