<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render Mail::HeaderTitleComponent.new(title: @subject, avatar: @account) %>
<p>
  Hello staff,
</p>

<p>
A new tax exemption certificate has been uploaded for <%= @account.display_login %>.
</p>

<p>
State: <%= @state %>
</p>

<p>
Please review the attached certificate and update the account's tax exemption status <%= link_to "in stafftools", @stafftools_link %> as needed.
</p>

<p>
Thank you.
</p>

<hr class="rule">

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
