<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render Mail::HeaderTitleComponent.new(title: @subject, avatar: @user) %>
<p>
  Greetings, <strong><%= @user %></strong>
</p>

<p>
  Your annual subscription for GitHub.com is set to renew on <%= @billing_date %>.
</p>

<p>
  If you would like to make any changes to your account, please do so before then.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Update your account",
      url: @settings_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  If you have any questions, <%= link_to "contact us", contact_url %>.
</p>

<hr class="rule">

<p class="email-text-small email-text-gray">
  Button not working? Paste the following link into your browser:<br>
  <%= link_to @settings_url, @settings_url.to_s %>
</p>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
