<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  # An assumption here is that this template is only rendered for viewers who are collaborators.
  # Much of this is copied from comments/commend_header_component.html.erb
 %>

<div class="mb-3 js-repository-advisory-details" <%= "hidden" if view.show_edit_form_on_load? %>>
  <%= render partial: "repos/advisories/advisory_affected_products", locals: { view: view } %>
</div>

<div class="Box" data-hpc>
  <div class="js-repository-advisory-details" <%= "hidden" if view.show_edit_form_on_load? %>>
    <div class="Box-header timeline-comment-header py-1 d-flex flex-row flex-justify-between">
      <% if view.show_abuse_reports? %>
        <%= render Primer::Tooltip.new(direction: :ne, label: abuse_report_tooltip(view.report_count, view.top_report_reason, view.last_reported_at), mr: 1) do %>
          <%= primer_octicon(icon: :report, color: :danger) %>
        <% end %>
      <% end %>

      <h3 class="Box-title timeline-comment-header-text f5 text-normal">
        <%= link_author view.author, class: "author Link--secondary text-bold" %>
        opened
        <%= time_ago_in_words_js(view.created_at) %>

        <span class="js-comment-edit-history">
          <%= render "repos/advisories/description_edit_history", comment: view.advisory %>
        </span>
      </h3>

      <% if view.viewer_can_report(current_user) || view.show_stafftools_link? %>
        <details class="details-overlay details-reset position-relative d-inline-block">
          <%= render Primer::Beta::Button.new(tag: :summary, scheme: :link, classes: "timeline-comment-action Link--secondary") do %>
            <%= primer_octicon(:"kebab-horizontal", "aria-label": "Show options") %>
          <% end %>

            <details-menu
              class="dropdown-menu dropdown-menu-sw show-more-popover color-fg-default"
              style="width:185px"
            ><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <% if view.viewer_can_report(current_user) %>
                <%= link_to(flavored_contact_path(
                  flavor: "report-content",
                  report: "#{ view.author } (user)",
                  content_url: view.advisory.permalink
                ), {
                  role: "menuitem",
                  class: "dropdown-item btn-link",
                  'data-ga-click': "Report content, reported by #{view.viewer_relationship(current_user)}"
                }) do %>
                  Report content
                <% end %>
              <% end %>

              <% if view.show_stafftools_link? %>
                <%= link_to view.stafftools_url, {
                  role: "menuitem",
                  class: "dropdown-item btn-link",
                } do %>
                  View in <%= GitHub.enterprise? ? "Site Admin" : "Stafftools" %>
                <% end %>
              <% end %>
            </details-menu>
        </details>
      <% end %>
    </div>

    <%= render partial: "repos/advisories/description", locals: { description: view.description, class: "rounded-0" } %>
  </div>

  <div class="js-repository-advisory-edit-form-container" <%= "hidden" unless view.show_edit_form_on_load? %>>
    <%= render partial: "repos/advisories/edit_form", locals: { view: view } %>
  </div>
</div>
