<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="py-3">
  <h4 class="mb-2 h4">Advisory Details</h4>
  <div class="form-group <%= error_for(form.object, :title) && "errored" %>">
    <div class="form-group-header"><%= form.label :title, "Title *" %></div>
    <%= form.text_field :title, class: "width-full js-advisory-form-title", maxlength: 1024, required: true, "data-user-populated": view.title_is_user_populated? %>
    <div class="error"><%= error_for(form.object, :title) %></div>
  </div>

  <% if view.innersource_advisories_enabled? %>
    <div class="form-group-header"><%= form.label :description, "Advisory type" %></div>
    <%= render Primer::Beta::Label.new(size: :large, mt: 2, test_selector: "advisory-form-innersource-type") do %>
        Innersource
    <% end %>
  <% elsif view.show_cve_form? %>
    <%= render partial: "repos/advisories/cve_form", locals: { view: view, form: form } %>
  <% end %>

  <div class="form-group">
    <div class="form-group-header"><%= form.label :description, "Description *" %></div>
    <%= render partial: "advisories/comment_form", locals: {
        mention_suggestions_url: local_assigns[:mention_suggestions_url],
        issue_suggestions_url: local_assigns[:issue_suggestions_url],
        comment_body: local_assigns[:comment_body],
        data_preview_url: preview_path(repository: view.advisory.repository.id),
        textarea_id: form.field_id(:description),
        textarea_name: "#{form.object_name}[description]",
        templated_content: RepositoryAdvisory.description_template(pvr: use_pvd_workflow?),
        repository_id: view.advisory.repository.id
    } %>
  </div>
</div>

<div class="form-group my-0 pb-4">
  <h4 class="mb-2 h4">Affected products</h4>
  <affected-product-list
    class="d-block"
    data-action="affected-product-row-delete:affected-product-list#removeRow"
    data-next-index="<%= view.form_advisory.affected_products.size %>"
    data-destroy-entries
  >
    <div data-target="affected-product-list.body">
      <%= form.fields_for "affected_products" do |affected_product_fields| %>
        <%= render(
          "repos/advisories/affected_product_row",
          form: affected_product_fields,
          index: nil,
          locals: {
            require_ecosystem: false,
            innersource: view.innersource_advisories_enabled?,
          },
        ) %>
      <% end %>
    </div>

    <template data-target="affected-product-list.rowTemplate">
      <%= form.fields_for :"affected_products_attributes", RepositoryAdvisoryAffectedProduct.new do |affected_product_form| %>
        <%= render(
          "repos/advisories/affected_product_row",
          form: affected_product_form,
          index: "{{affected-product-entry-index}}",
          locals: {
            require_ecosystem: false,
            innersource: view.innersource_advisories_enabled?,
          },
        ) %>
      <% end %>
    </template>

    <%= render Primer::ButtonComponent.new(scheme: :link, data: { action: "click:affected-product-list#addRow" }) do |c| %>
      <% c.with_leading_visual_icon(icon: :plus, mr: 1) %>
      Add another affected product
    <% end %>
  </affected-product-list>
</div>

<% if GitHub.flipper[:advisory_db_cvss_v4].enabled?(view.advisory.repository) %>
  <%= render(Advisories::SeveritySelectionNextComponent.new(advisory: view.advisory, repository: view.advisory.repository, classes: "pb-2", form: form, required: false)) %>
<% else %>
  <%= render(Advisories::SeveritySelectionComponent.new(advisory: view.advisory, repository: view.advisory.repository, classes: "pb-2", form: form, required: false)) %>
<% end %>

<div class="pb-1">
  <%= render partial: "advisories/cwe_form", locals: { cwes: view.advisory.cwes, field_name_prefix: "repository_advisory" } %>
</div>
