<div class="js-socket-channel js-updatable-content"
     data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.repository_advisory(view.advisory)) %>"
     data-url="<%= show_partial_repository_advisory_path(id: view.ghsa_id, partial: "repository_advisory/body")%>"
     >

  <%= render partial: "repos/advisories/advisory_content_wrapper", locals: { view: view } %>

  <%# We used to treat the RepositoryAdvisory#body attribute like a comment
      (just like how Issue#body works). However, we've since stopped exposing
      the #body attribute.  Until we transition existing #body comments out to
      RepositoryAdvisoryComments, we have to keep checking to see whether the
      #body attribute has any content, so we can render it on the page.%>
  <% if view.body_present? %>
    <% body = view.get_preloaded_adapter(view.advisory)%>
    <div class="ml-6 pl-3">
      <hr class="my-0 border-bottom-0 TimelineItem py-2">

      <div class="TimelineItem pt-0 js-comment-container">
        <%= render partial: "comments/timeline_avatar", locals: { comment: body } %>
        <%= render partial: "comments/comment", locals: {
          comment: body,
          form_path: update_repository_advisory_body_path(id: view.advisory.ghsa_id),
          dom_id: "advisory-#{view.advisory.id}",
          action_text: "commented",
        } %>
      </div>
    </div>
  <% end %>
</div>
