<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="advisory-form border-0 color-bg-default rounded js-repository-advisory-form-container">
  <severity-tracking>
    <%# This form's fields can be found in the advisory_credit_fields partial. %>
    <%= form_tag gh_add_repository_advisory_credit_path(view.advisory.repository), id: "repository-advisory-add-credit-form", class: "js-repository-advisory-add-credit-form" %>

    <%= form_for view.advisory, url: create_repository_advisory_path(current_repository.owner, current_repository), method: :post do |form| %>
      <div class="px-3">
        <%= render partial: "repos/advisories/advisory_form",
          locals: { view: view, form: form, comment_body: view.advisory.description_or_template(pvr: use_pvd_workflow?) } %>
      </div>

      <%= render(partial: "repos/advisories/credits/form_list", locals: { view: view, form: form }) %>

      <div class="color-bg-subtle d-flex flex-justify-end form-actions mt-3 p-2 rounded-bottom-1">
        <%= link_to "Cancel", repository_advisories_path, class: "btn mt-2 mr-2" %>
          <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, mt: 2, "data-action": "click:severity-tracking#reportUserInteraction") do %>
            <% if use_pvd_workflow? %>
              Submit report
            <% else %>
              Create draft security advisory
            <% end %>
          <% end %>
      </div>
    <% end %>
  </severity-tracking>
</div>
