<div class="d-flex flex-items-end flex-column flex-sm-row clearfix" <%= test_selector "repository-advisory-cve-form" %>>
  <dl class="form-group my-0 float-left col-12 col-sm-6 col-md-4">
    <dt>
      <%= form.label :cve_selection, "CVE identifier" %>
    </dt>

    <dd class="form-group-body my-0 clearfix">
      <%= form.select :cve_selection, view.cve_selection_options, { prompt: "Select an option", selected: view.cve_selection_option }, { required: true, class: "js-cve-selection width-full" } %>
    </dd>
  </dl>

  <div class="js-existing-cve float-left col-12 col-sm-6 col-md-8 mt-2 mt-sm-0 pl-sm-2" <%= "hidden" unless view.cve_selection_option == "existing" %>>
    <%= form.text_group "Existing CVE", :cve_id, group_class: "my-0", class: "form-control input-block", placeholder: "e.g. CVE-#{Date.current.year}-######", error: error_for(view.form_advisory, :cve_id) %>
  </div>
</div>
