<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# copied from views/discussion_edits/ %>
<%
  repo = comment.repository
  latest_edit = comment.async_latest_user_content_edit.sync
  history_log_path = repository_advisory_edit_history_log_path(repo.owner, repo, comment)
%>

<% if latest_edit %>
  <span class="d-inline-block color-fg-muted">&#8226;</span>

  <details class="details-overlay details-reset d-inline-block dropdown hx_dropdown-fullscreen">
    <summary class="btn-link no-underline color-fg-muted js-notice">
      <div class="position-relative">
        <span>
          <% if latest_edit.editor.nil? %>
            edited by <%= GitHub.ghost_user_login %>
          <% elsif latest_edit.editor.display_login != comment.user&.display_login %>
            edited by <%= latest_edit.editor.display_login %> <%= bot_identifier(latest_edit.editor) %>
          <% else %>
            edited
          <% end %>
        </span>
        <%= primer_octicon(:"triangle-down", vertical_align: :middle) %>
      </div>
    </summary>
    <details-menu
      class="dropdown-menu dropdown-menu-s width-auto py-0 js-comment-edit-history-menu"
      style="max-width: 352px; z-index: 99;"
      src="<%= history_log_path %>"
      preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <include-fragment style="min-width: 100px;">
        <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
      </include-fragment>
    </details-menu>
  </details>
<% end %>
