<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# view is an instance of RepositoryAdvisories::ShowView %>
<div class="advisory-form border-0 color-bg-default js-repository-advisory-form-container rounded">
  <%# This form's fields can be found in the advisory_credit_fields partial. %>
  <%= form_tag gh_add_repository_advisory_credit_path(view.advisory.repository), id: "repository-advisory-add-credit-form", class: "js-repository-advisory-add-credit-form" %>

  <%= form_for view.form_advisory, url: gh_repository_advisory_path(view.advisory), method: :put, html: { id: "repository-advisory-metadata" } do |form| %>
    <div class="px-3">
      <%= render partial: "repos/advisories/advisory_form", locals: {
        view: view,
        form: form,
        comment_body: view.form_advisory.description_or_template,
        mention_suggestions_url: repository_advisory_mention_suggestions_path(view.advisory.repository.owner, view.advisory.repository, view.advisory.ghsa_id),
        issue_suggestions_url: repository_advisory_issue_suggestions_path(view.advisory.repository.owner, view.advisory.repository, view.advisory.ghsa_id),
      } %>
    </div>

    <input
      type="hidden"
      name="body_version"
      value="<%= view.form_advisory.body_version %>"
    >

    <%= render partial: "repos/advisories/credits/form_list", locals: { view: view, form: form } %>

    <div class="Box-footer d-flex flex-justify-end form-actions p-2 <%= "mt-n3 border-top-0" unless view.viewer_may_manage_credits? %>">
      <%= render Primer::ButtonComponent.new(scheme: :danger, mr: 2, classes: "js-repository-advisory-edit-form-cancel-button", "data-confirm-text": "Are you sure you want to discard your unsaved changes?", "aria-expanded": "true", "aria-label": "Cancel editing advisory") do %>
        Cancel
      <% end %>

      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, mr: 0) do %>
        Update security advisory
      <% end %>
    </div>
  <% end %>
</div>
