<%# view is an instance of RepositoryAdvisories::EventView %>
<% if view.visible? %>
  <div class="js-timeline-item js-timeline-progressive-focus-container" <%= test_selector(view.event_name, name: "timeline-item") %>>
    <% case view.changed_attribute
       when "collaborator" %>
      <%= render "repos/advisories/events/collaborator", view: view %>
    <% when "credit" %>
      <%= render "repos/advisories/events/credit", view: view %>
    <% when "cve_id" %>
      <%= render "repos/advisories/events/cve_id", view: view %>
    <% when "review_state" %>
      <%= render "repos/advisories/events/review_state", view: view %>
    <% when "state" %>
      <%= render "repos/advisories/events/state", view: view %>
    <% when "title" %>
      <%= render "repos/advisories/events/title", view: view %>
    <% when "report_state" %>
      <%= render "repos/advisories/events/report_state", view: view %>
    <% when "workspace_repository_id" %>
      <%= render "repos/advisories/events/workspace_event", view: view %>
    <% end %>
  </div>
<% end %>
