<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# view is an instance of RepositoryAdvisories::MergeBoxView %>

<%= form_tag view.merge_path, class: "d-inline" do %>
  <% view.current_head_shas.each do |head_sha| %>
    <%= hidden_field_tag "head_shas[]", head_sha, id: head_sha %>
  <% end %>

  <% if view.viewer_can_merge? %>
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>
      Merge pull <%= "request".pluralize(view.open_pull_request_count) %>
    <% end %>
  <% else %>
    <% if view.viewer_can_bypass_rules? %>
      <p class="color-fg-danger">
        <label class="color-fg-danger">
          <input type="checkbox" class="js-bypass-branch-protections" name="bypass_branch_protections" value="0">
          Merge and bypass branch protections
        </label>
      </p>
    <% end %>

    <%= render Primer::ButtonComponent.new(disabled: true, type: :submit, classes: "merge-button", scheme: view.viewer_can_bypass_rules? ? :danger : :default) do %>
      Merge pull <%= "request".pluralize(view.open_pull_request_count) %>
    <% end %>
  <% end %>

  <p class="alt-merge-options text-small">
    <% if view.viewer_may_merge? %>
      Once merged, changes will be visible in <%= link_to current_repository.name_with_display_owner, current_repository, class: "Link--inTextBlock" %>.
    <% elsif view.viewer_can_bypass_rules? %>
      This repository is protected by branch protections. These changes can only be merged by bypassing these protections.
    <% elsif view.viewer_blocked_by_rules? %>
      These changes may only be merged by someone that can bypass branch protections.
    <% else %>
      These changes may only be merged by someone with publishing rights.
    <% end %>
  </p>
<% end %>
