<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<div class="timeline-comment-wrapper timeline-new-comment composer composer-responsive mt-3">
  <%= timeline_comment_avatar_for(user: current_user, responsive_hidden: true) %>
  <%= form_tag create_repository_advisory_comment_path do %>
    <%= render partial: "advisories/comment_form", locals: {
      mention_suggestions_url: repository_advisory_mention_suggestions_path(view.advisory.repository.owner, view.advisory.repository, view.advisory.ghsa_id),
      issue_suggestions_url: repository_advisory_issue_suggestions_path(view.advisory.repository.owner, view.advisory.repository, view.advisory.ghsa_id),
      data_preview_url: preview_path(repository: view.advisory.repository.id),
      comment_head_classes: "color-bg-subtle pt-0 pt-md-2",
      tab_group_classes: "ml-n2 ml-md-0 mr-n2 mr-md-0",
      repository_id: view.advisory.repository.id,
    } %>

    <div class="form-actions pt-2">
      <% if view.viewer_can_comment? %>
        <button type="submit"
                name="comment"
                value="1"
                class="btn btn-primary"
                data-disable-invalid
                data-disable-with
                disabled
                >
          Comment
        </button>
      <% else %>
        <%= render Primer::ButtonComponent.new(disabled: true) do %>Comment<% end %>
      <% end %>

      <% if view.viewer_can_close? %>
        <button type="submit"
                name="comment_and_close"
                value="1"
                class="btn js-comment-and-button"
                data-comment-text="Close with comment"
                data-disable-with
                formnovalidate
                >
          <%= primer_octicon(:"shield-x", color: :danger, vertical_align: :text_bottom) %>
          <span class="js-form-action-text" data-default-action-text="Close security advisory">Close security advisory</span>
        </button>
      <% elsif view.viewer_can_reopen? %>
        <button type="submit"
                name="comment_and_reopen"
                value="1"
                class="btn js-comment-and-button"
                data-comment-text="Reopen and comment"
                data-disable-with
                formnovalidate
                >
          <span class="js-form-action-text" data-default-action-text="Reopen security advisory">Reopen security advisory</span>
        </button>
      <% end %>
    </div>
  <% end %>
</div>
