<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  # view is an instance of RepositoryAdvisories::ShowView
  credit = view.pending_credit_for_viewer
  creator = credit&.creator

  # Most credits where the creator is the recipient will be auto accepted, but
  # there are some cases where we still want to prompt them to accept.
  given_to_self = !!credit&.given_to_self?
%>
<% if credit %>
  <%= render Primer::Beta::Flash.new(scheme: :warning, mb: 3, test_selector: "pending-credit-banner") do |c| %>
    <% if creator && !given_to_self %>
      You have a pending credit from <%= profile_link(creator, class: "Link--primary text-bold") %> for this security advisory.
    <% else %>
      You have a pending credit for this security advisory.
    <% end %>

    <% c.with_action do %>
      <% if creator && !given_to_self %>
        <%# Creator still exists, show a dropdown with the option to block %>
        <details class="details-reset details-overlay d-inline-block position-relative">
          <%# Decline dropdown button %>
          <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, "aria-haspopup": "true") do %>
            Decline credit
            <div class="dropdown-caret"></div>
          <% end %>

          <%# Decline dropdown options %>
          <details-menu class="SelectMenu position-absolute right-0" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="SelectMenu-modal">
              <div class="SelectMenu-list border-top-0">
                <%# Decline dropdown button %>
                <%= button_to decline_repository_advisory_credit_path, { method: :put, class: "SelectMenu-item d-block", role: "menuitem" }.merge(test_selector_data_hash("decline-button")) do %>
                  <h5 class="color-fg-default">Decline credit</h5>
                  <div>Remove your name from public credits for this security advisory.</div>
                <% end %>

                <%# Decline and block dropdown button %>
                <%= button_to decline_repository_advisory_credit_and_block_user_path, { method: :put, class: "SelectMenu-item d-block", role: "menuitem" }.merge(test_selector_data_hash("decline-and-block-button")) do %>
                  <h5 class="color-fg-danger">Decline credit and block this user</h5>
                  <div>Remove your name from public credits for this security advisory and block <span class="text-bold"><%= creator.display_login %></span>.</div>
                <% end %>
              </div>
            </div>
          </details-menu>
        </details>
      <% else %>
        <%# Decline button (no dropdown) %>
        <%= button_to "Decline credit", decline_repository_advisory_credit_path, { method: :put, class: "btn btn-sm", form_class: "d-inline" }.merge(test_selector_data_hash("decline-button")) %>
      <% end %>

      <%# Accept button %>
      <%= button_to "Accept credit", accept_repository_advisory_credit_path, { method: :put, class: "btn btn-sm btn-primary", form_class: "d-inline" }.merge(test_selector_data_hash("accept-button")) %>
    <% end %>
  <% end %>
<% end %>
