<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="select-menu d-inline-block flex-shrink-0 mr-1 js-advisory-menu">
  <div class="BtnGroup position-relative">
  <% if view.viewer_may_request_cve? %>
    <div class="float-left js-show-if-requesting-cve" <%= "hidden" if view.emphasize_publication? %>>
      <%= render(Primer::Experimental::Dialog.new(
        dialog_id: "request-cve",
        show_header_divider: true,
        show_footer_divider: true,
        width: :large,
        title: "Request CVE",
        form_url: view.request_cve_url,
        form_method: :put
      )) do |c| %>
        <% c.with_show_button(
          scheme: view.viewer_cannot_publish_nor_request_cve? ? :default : :primary,
          disabled: !view.viewer_can_request_cve?,
          border_right: 0,
          classes: "rounded-right-0"
        ) do |s| %>
          Request CVE
        <% end %>
        <% c.with_body do %>
          Are you sure you want to request a CVE?
        <% end %>
        <% c.with_button(data: { "close-dialog-id": "request-cve" }) { "Cancel" } %>
        <% c.with_button(
          type: :submit,
          scheme: :danger,
          data: { "disable-with": "Requesting…" }
        ) { "Request CVE" } %>
      <% end %>
    </div>
  <% end %>
    <div class="float-left js-show-if-publishing" <%= "hidden" unless view.emphasize_publication? %>>
      <%= render(Primer::Experimental::Dialog.new(
        dialog_id: "publish-advisory",
        show_header_divider: true,
        show_footer_divider: true,
        width: :large,
        title: "Publish advisory",
        form_url: view.publish_url,
        form_method: :put
      )) do |c| %>
      <% button_args = !view.innersource_advisories_enabled? ? { border_right: 0, classes: "rounded-right-0" } : {} %>
        <% c.with_show_button(
          scheme: view.viewer_cannot_publish_nor_request_cve? ? :default : :primary,
          disabled: view.disable_publish_button?,
          test_selector: "repository-advisory-publish-button",
          **button_args
        ) do |s| %>
          Publish advisory
        <% end %>
        <% c.with_body do %>
          <%= render(Primer::Beta::Flash.new(icon: nil, scheme: :warning, spacious: false, full: false )) do %>
            Publishing this advisory will delete the temporary private fork.
          <% end %>

          <div class="mt-3">
            <% if merge_state == :unmerged_changes %>
              There are unmerged changes in the private fork <strong><%= view.workspace.name_with_display_owner %></strong>. To save your work, commit the changes waiting to be merged.
            <% else %>
              Are you sure you want to publish this advisory? This action can only be undone by contacting support.
            <% end %>
          </div>
        <% end %>
        <% c.with_button(data: { "close-dialog-id": "publish-advisory" }) { "Cancel" } %>
        <% c.with_button(
          type: :submit,
          scheme: :danger,
          data: { "disable-with": "Deleting fork and publishing…" }
        ) { "Delete fork and publish" } %>
      <% end %>
    </div>

    <% if view.viewer_may_request_cve? %>
      <details class="details-reset details-overlay BtnGroup-parent" <%= test_selector "repository-advisory-publish-menu-button" %>>
        <summary aria-label="Choose what to do first" class="btn <%= "btn-primary" unless view.viewer_cannot_publish_nor_request_cve? %> BtnGroup-item select-menu-button"></summary>
        <details-menu class="select-menu-modal select-menu-merge-method position-absolute left-0" style="top: 100%; z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-list">
            <button
              aria-checked="<%= !view.emphasize_publication? %>"
              class="width-full select-menu-item"
              data-advisory-info-show="js-show-if-requesting-cve"
              role="menuitemradio"
              type="button">
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Request CVE</span>
                <span class="description">
                  <% if view.cve_id.present? %>
                    This advisory has a CVE assigned.
                  <% elsif view.cve_request_pending? %>
                    Send this advisory to GitHub for additional review.
                  <% else %>
                    Send this advisory to GitHub for review.
                  <% end %>
                </span>
              </div>
            </button>
            <button
              aria-checked="<%= view.emphasize_publication? %>"
              class="width-full select-menu-item"
              data-advisory-info-show="js-show-if-publishing"
              role="menuitemradio"
              type="button">
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <span class="select-menu-item-heading">Publish advisory</span>
                <span class="description">
                  <% if view.published? %>
                    This advisory is already published.
                  <% else %>
                    This advisory will become public <span class="text-bold">immediately</span>.
                  <% end %>
                </span>
              </div>
            </button>
          </div>
        </details-menu>
      </details>
    <% end %>
  </div>
</div>

<p class="alt-merge-options text-small js-show-if-requesting-cve" <%= "hidden" if view.emphasize_publication? %>>
  Once requested, GitHub will review this advisory in order to assign a CVE.
</p>

<p class="alt-merge-options text-small js-show-if-publishing" <%= "hidden" unless view.emphasize_publication? %>>
<% if view.innersource_advisories_enabled? %>
    Once published, this advisory will send a Dependabot alert to all internal repositories dependent on this repository.
<% else %>
  Once published, this advisory will be visible at <%= link_to current_repository.name_with_display_owner, repository_advisories_path(state: "published"), class: "Link--inTextBlock" %>.
<% end %>
</p>
