<div class="<% if responsive? %>ml-0 pl-0 ml-md-6 pl-md-3<% else %>ml-6 pl-3<% end %> mt-3 branch-action mb-0 branch-action-state-<%= view.published? || view.viewer_can_publish? ? "clean" : "dirty" %>">
  <span class="branch-action-icon <% if responsive? %>d-none d-md-flex<% else %>d-flex<% end %> flex-justify-center flex-items-center">
    <%= primer_octicon(:shield, height: 28, style: "transform: translateX(0px);") %>
  </span>

  <div class="branch-action-body timeline-comment--caret js-details-container Details">
    <div class="branch-action-item" <%= test_selector("repository-advisory-required-details") %>>
      <% if view.draft? %>
        <% if !view.repository_empty? && view.form_filled_out? %>
          <%= render partial: "repos/advisories/publish_box_states/ready_to_publish", locals: { view: view } %>
        <% else %>
          <%= render partial: "repos/advisories/publish_box_states/need_more_details", locals: { view: view } %>
        <% end %>
      <% elsif view.published? %>
        <%= render partial: "repos/advisories/publish_box_states/has_been_published", locals: { view: view } %>
      <% end %>
    </div>
    <% if view.missing_patches? %>
      <%= render partial: "repos/advisories/publish_box_states/suggested_details" %>
    <% end %>

    <% if view.viewer_may_request_cve? || view.viewer_may_publish? %>
      <div class="merge-message color-bg-default">
        <div class="d-flex flex-items-center">
          <%= render partial: "repos/advisories/publish_button", locals: { view: view, merge_state: merge_state } %>
        </div>

        <% if view.show_github_review_info? %>
          <div class="mt-3 pt-3 border-top text-small color-fg-muted">
            <p>
              GitHub reviews published security advisories. Upon review, we may use this advisory to send Dependabot alerts to affected repositories and redistribute the advisory through our <a class="Link--inTextBlock" href="<%=GitHub.developer_help_url%>/v4/object/securityadvisory/">API</a> and <a class="Link--inTextBlock" href="<%=GitHub.developer_help_url%>/v3/activity/feeds/">Atom feed</a>.
            </p>
            <p class="mb-0">
              This process may take up to 3 working days and we may contact you for more information. <a class="Link--inTextBlock" href="<%=GitHub.help_url%>/articles/about-maintainer-security-advisories">Learn more about repository security advisories.</a>
            </p>
          </div>
        <% end %>
      </div>
    <% elsif view.show_github_review_info? && view.cve_id.blank? %>
      <div class="branch-action-item" <%= test_selector("repository-advisory-required-details") %>>
        <div class="branch-action-item-icon completeness-indicator completeness-indicator-problem">
          <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
        </div>
        <div class="h4 status-heading" <%= test_selector("advisory-state-no-cve") %>>No known CVE</div>
        <span class="status-meta" <%= test_selector("advisory-cve-request-available") %>>Maintainers and owners are able to request a CVE. Once requested, GitHub will review this advisory in order to assign a CVE. This process may take up to 3 working days and we may contact you for more information. <a class="Link--inTextBlock" href="<%=GitHub.help_url%>/articles/about-maintainer-security-advisories">Learn more.</a></span><%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
      </div>
    <% end %>
  </div>
</div>
