<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# `view` is instance of RepositoryAdvisories::PullRequestView %>

<div class="clearfix">
  <div class="col-10 pl-4 float-left">
    <%= content_tag :span, :class => view.status_icon_classes, :"aria-label" => view.status_tooltip do %>
      <%= primer_octicon(view.status_icon, vertical_align: :text_bottom) %>
    <% end %>

    <%= link_to view.title, issue_permalink_path(view.issue), class: "h4 Link--primary no-underline mb-n1" %>

    <div class="color-fg-muted f6 mb-1">
      #<%= view.number %>
      <% if view.open? %>
        opened <%= time_ago_in_words_js(view.created_at) %>
        by <%= profile_link view.safe_user, class: "Link--muted" %>
      <% elsif view.merged? %>
        by <%= profile_link view.safe_user, class: "Link--muted" %>
        was merged <%= time_ago_in_words_js(view.merged_at) %>
      <% end %>

      <%= render "pull_requests/review_status", pull_request: view.pull_request %>
    </div>
  </div>

  <div class="col-1 float-left">
    <div class="AvatarStack AvatarStack--right <%= avatar_stack_count_class(view.assignees.length) %>">
      <div class="AvatarStack-body tooltipped tooltipped-sw tooltipped-multiline tooltipped-align-right-1 mt-1"
           aria-label="Assigned to <%= view.assignees.reverse.map(&:display_login).to_sentence %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
        <% view.assignees.each_with_index do |assignee, index| %>
          <% if view.assignees.size > 3 && index == 2 %>
            <div class="avatar-more avatar"></div>
          <% end %>

          <%= link_to user_path(assignee),
                :class => "avatar",
                "aria-label" => "#{assignee}’s profile" do %>
            <%= avatar_for(assignee, 20, class: "from-avatar") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-1 float-left text-right">
    <% unless view.no_comments? %>
      <a href="<%= issue_permalink_path(view.issue) %>" class="Link--muted" aria-label="<%= pluralize view.total_comments, "comment" %>">
        <%= primer_octicon(:comment, vertical_align: :middle) %>
        <span class="text-small text-bold"><%= view.total_comments %></span>
      </a>
    <% end %>
  </div>
</div>

<div class="pl-4">
  <%= pull_branch_label(view.pull_request, :base, extra_classes: "commit-ref css-truncate") %>
  <span class="mx-1 color-fg-muted">←</span>
  <%= pull_branch_label(view.pull_request, :head, extra_classes: "commit-ref css-truncate") %>
</div>
