<%# erblint:counter DeprecatedInPrimerCounter 1 %>

<li class="Box-row Box-row--focus-gray p-0 <%= 'Box-row--unread' if view.has_unread_notifications? %>">
  <div class="d-flex Box-row--drag-hide position-relative">

    <div class="flex-shrink-0 pt-2 pl-3">
      <span class="tooltipped tooltipped-n" aria-label="<%= view.state_label.humanize %> advisory"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
        <%= primer_octicon(view.state_badge_icon, color: view.state_text_color, mr: 0) %>
      </span>
    </div>

    <div class="d-flex flex-auto flex-column flex-md-row p-2 pr-3">
      <div class="lh-condensed flex-auto">
        <a href="<%= gh_repository_advisory_path(view.advisory) %>" class="Link--primary v-align-middle no-underline h4">
          <%= view.title %>
        </a>

        <div class="mt-1 text-small color-fg-muted">
          <%= view.ghsa_id %>

          <span class="opened-by">
            <% if view.published? %>
              published
              <%= time_ago_in_words_js(view.published_at) %>
              by
              <%= link_author view.publisher, class: "author Link--muted" %>
            <% elsif view.closed? %>
              by
              <%= link_author view.author, class: "author Link--muted" %>
              was closed
              <%= time_ago_in_words_js(view.closed_at) %>
            <% else %>
              opened
              <%= time_ago_in_words_js(view.created_at) %>
              by
              <%= link_author view.author, class: "author Link--muted" %>
            <% end %>
          </span>
        </div>
      </div>

      <% if view.show_external_state? %>
        <div class="pl-md-2 pt-2 pt-md-0 flex-shrink-0">
          <%= render(Primer::Beta::Label.new(title: view.state_label, scheme: :secondary)) { view.state_label } %>
        </div>
      <% end %>

      <% if view.severity.present? %>
        <div class="pl-md-2 pt-2 pt-md-0 flex-shrink-0">
          <%= render DependabotAlerts::SeverityLabelComponent.new(severity: view.severity, verbose: false) %>
        </div>
      <% end %>
    </div>
  </div>
</li>
