<div class="col-12 <%= "col-md-9" unless view.unpublished_and_viewer_read_only? %>">
  <% if view.collaborator? %>
    <%= render partial: "repos/advisories/body", locals: { view: view } %>

    <div class="ml-6 pl-3">
      <%= render partial: "repos/advisories/timeline", locals: { view: view } %>
    </div>

    <div class="discussion-timeline-actions">
      <% if view.show_workspace_box? %>
        <%= render partial: "repos/advisories/workspace_box", locals: { view: view } %>
      <% end %>

      <% if view.show_accept_pvd_box? %>
        <%= render partial: "repos/advisories/accept_pvd_box", locals: { view: view }%>
      <% else %>
        <% merge_box_view = create_view_model(RepositoryAdvisories::MergeBoxView, advisory: view.advisory) %>
        <% if view.show_merge_box? %>
          <%= render "repos/advisories/merge_box", view: merge_box_view %>
        <% end %>

        <% if view.show_publish_box? %>
          <%= render partial: "repos/advisories/publish_box", locals: { view: view, merge_state: view.show_merge_box? ? merge_box_view.merge_state : nil } %>
        <% end %>
      <% end %>

      <% if view.show_comment_and_close_box? %>
        <%= render partial: "repos/advisories/new_comment_and_close_box", locals: { view: view } %>
      <% end %>
    </div>
  <% else %>
    <%= render partial: "repos/advisories/published_advisory", locals: { view: view } %>

    <% if view.being_reviewed? && view.user_is_pvd_submitter?(current_user) %>
      <%= render partial: 'repos/advisories/submission_thanks_box', locals: { view: view } %>
    <% end %>

    <% if view.timeline_items.any? %>
      <div class="ml-6 pl-3">
        <%= render partial: "repos/advisories/timeline", locals: { view: view } %>
      </div>
      <%# adds _____________ at the end: %>
      <div class="discussion-timeline-actions"></div>
    <% end %>
  <% end %>
</div>

<% unless view.unpublished_and_viewer_read_only? %>
  <div class="col-12 col-md-3 pl-md-4 mt-3 mt-md-0">
    <%= render partial: "repos/advisories/sidebar/cvss", locals: { advisory: view.advisory, hidden: view.show_edit_form_on_load? } %>
    <%= render partial: "repos/advisories/sidebar/advisory_type", locals: { view: view } %>
    <% if view.show_cve_sidebar? %>
      <%= render partial: "repos/advisories/sidebar/cve", locals: { advisory: view.advisory } %>
    <% end %>
    <%= render partial: "repos/advisories/sidebar/cwe", locals: { advisory: view.advisory, hidden: view.show_edit_form_on_load? } %>
    <%= render(partial: "repos/advisories/sidebar/credits", locals: { credits: view.credits, hidden: view.show_edit_form_on_load? }) unless view.innersource_advisories_enabled? %>

    <% if view.collaborator? %>
      <hr class="mb-5">
      <%= render partial: "repos/advisories/sidebar/member_list", locals: { view: view } %>
    <% end %>
  </div>
<% end %>
