<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="js-socket-channel js-updatable-content"
     data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.repository_advisory(view.advisory)) %>"
     data-url="<%= show_partial_repository_advisory_path(id: view.ghsa_id, partial: "repository_advisory/title") %>"
     >

  <div class="gh-header issue js-repository-advisory-details" <%= "hidden" if view.show_edit_form_on_load? %>>
    <div class="gh-header-show">
      <% if view.viewer_can_edit_title? %>
        <div class="gh-header-actions js-repository-advisory-details">
          <%= render Primer::ButtonComponent.new(variant: :small, float: :none, classes: "js-repository-advisory-edit-button", "aria-expanded": "false", "aria-label": "Edit advisory", test_selector: "edit-repository-advisory-button") do %>Edit advisory<% end %>
          <% if view.show_advisory_credits_feature_popover? %>
            <div class="position-relative mt-md-2">
              <div class="Popover right-md-0 js-notice" <%= test_selector("repository-advisory-credits-feature-popover") %>>
                <div class="Popover-message Popover-message--top-right Box right-0 color-shadow-large p-4" style="width: 250px;">
                  <h4 class="mb-2">Give some credit!</h4>
                  <p class="mb-3 lh-default">You can now credit people to thank them for helping with this Security Advisory</p>
                  <div class="d-flex flex-items-center">
                    <%= form_tag dismiss_notice_path("feature_repository_advisory_credits"), class: "js-notice-dismiss" do %>
                      <%= render Primer::ButtonComponent.new(type: :submit, classes: "js-repository-advisory-edit-button js-repository-advisory-credit-popover-edit-button", "aria-expanded": "false", "aria-label": "Edit advisory (and dismiss popover)") do %>Edit advisory<% end %>
                    <% end %>
                    <%= form_tag dismiss_notice_path("feature_repository_advisory_credits"), class: "js-notice-dismiss" do %>
                      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, ml: 3, "aria-label": "Not now (dismiss popover)") do %>Not now<% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <h1 class="gh-header-title" <%= test_selector("repository-advisory-title") %>>
        <%= view.title %>
      </h1>
    </div>

    <div class="gh-header-meta TableObject border-0 pb-0">
      <% if view.show_state_badge? %>
        <div class="TableObject-item">
          <%= render Primer::Beta::State.new(title: "Advisory status: #{view.state_label}", scheme: view.state_color.to_sym, tag: :div) do %>
            <%= primer_octicon(view.state_badge_icon, "aria-hidden": "true") %>
            <span aria-hidden="true"><%= view.state_label %></span>
          <% end %>
        </div>
      <% end %>

      <% if view.show_severity_badge? %>
        <div class="TableObject-item">
          <%= render DependabotAlerts::SeverityLabelComponent.new(severity: view.severity, verbose: false, font_weight: :bold, mr: 2, size: :large, test_selector: "advisory-metadata-severity") %>
        </div>
      <% end %>

      <div class="TableObject-item<%= " TableObject-item--primary" if view.show_state_badge? || view.show_severity_badge? %> ws-normal">
        <% if view.published? %>
          <%= link_author view.publisher, class: "author Link--secondary text-bold" %>
          published
          <span class="text-bold user-select-contain"><%= view.ghsa_id %></span>
          <%= time_ago_in_words_js(view.published_at) %>
        <% else %>
          <%= link_author view.author, class: "author Link--secondary text-bold" %>
          opened
          <span class="text-bold user-select-contain"><%= view.ghsa_id %></span>
          <%= time_ago_in_words_js(view.created_at) %>
        <% end %>

        <% if view.show_comment_count? %>
          &middot;
          <%= pluralize(number_with_delimiter(view.comment_count), "comment") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
