<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<div class="timeline-comment-wrapper composer composer-responsive mt-3">
  <div class="timeline-comment-group">
    <% unless view.repository_archived? %>
      <% if view.workspace.blank? %>
        <div class="Box p-3 d-flex flex-wrap flex-sm-nowrap flex-items-start">
          <%= primer_octicon(:"repo-forked", height: 28, mr: 3, mt: 1) %>
          <div class="flex-1">
            <h4>
              Collaborate on a patch in private
            </h4>
            <p class="mb-0">
              Use a temporary private fork of <strong><%= view.repository.name_with_display_owner %></strong> to
              collaborate on a fix.
            </p>
          </div>

          <% if view.viewer_can_create_workspace? %>
            <%= form_for view.advisory, url: open_repository_advisory_workspace_path(current_repository.owner, current_repository, view.advisory), method: :put, html: { id: "add_workspace" } do |f| %>
              <%= render Primer::ButtonComponent.new(type: :submit, my: 2, ml: 2) do %>
                <span <%= test_selector("advisory-workspace-create-temporary-private-fork") %>>Start a temporary private fork</span>
              <% end %>
            <% end %>
          <% else %>
            <%= render Primer::ButtonComponent.new(my: 3, ml: 2, classes: "tooltipped tooltipped-s", disabled: true, "aria-label": "Only users with publishing rights may open temporary private forks.") do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
              Start a temporary private fork
            <% end %>
          <% end %>
        </div>
        <% if view.being_reviewed? %>
          <%= render partial: 'repos/advisories/submission_thanks_box', locals: { view: view } %>
        <% end %>
      <% elsif view.workspace_creating? %>
        <poll-include-fragment src="<%= view.workspace_path %>">
          <div class="Box px-3 pb-3 pt-6 text-center">
            <h3>Creating <%= view.workspace %></h3>
            <p class="lead" <%= test_selector("advisory-workspace-creating") %>>
              It might take a few minutes for large repositories.
            </p>
            <%= render(Primer::Beta::Spinner.new(mt: 6, mb: 4, mx: :auto, display: :block)) %>
          </div>
        </poll-include-fragment>
      <% else %>
        <%= render partial: 'repos/advisories/repo_body', locals: {view: view} %>
      <% end %>
    <% end %>
  </div>
</div>
