<%
  # view is an instance of RepositoryAdvisories::IndexView
  page_info(
    title: "Security Advisories · #{current_repository.name_with_display_owner}",
    container_xl: true,
    selected_link: :security,
    dashboard_pinnable_item_id: current_repository.global_relay_id
  )
%>

<%= render layout: "layouts/repository/security", locals: { selected_tab: :advisories } do %>
  <div id="advisories">
    <%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
      <% component.with_heading(tag: :h2) do %>Security Advisories<% end %>
      <% if view.show_new_button? %>
        <% component.with_actions do %>
          <% if view.pvd_authorized? || (!logged_in? && !AdvisoryDB::Innersource.repo_authorized?(repo: current_repository)) %>
            <%= render(Repos::Advisories::ReportVulnerabilityButtonComponent.new(repository: current_repository)) %>
          <% else %>
            <%= render(Primer::Beta::Button.new(
              tag: :a,
              href: new_repository_advisory_path(current_repository.owner, current_repository),
              scheme: :primary,
              size: :medium,
              data: { hotkey: :c, pjax: true }
            )) { "New draft security advisory" } %>
          <% end %>
        <% end %>
      <% end %>
      <% component.with_description do %>
        <% view.description_text %>
      <% end %>
    <% end %>

    <%# This is a 16px spacer requested as part of https://github.com/github/team-advisory-database/issues/3265 %>
    <div class="mb-3"></div>

    <%= render(Repos::Advisories::AdvisoryListComponent.new(current_user: current_user, initial_state: view.state, page: view.page, repository: current_repository)) %>
  </div>
<% end %>
