<%
    page_info(
      title: "Draft Advisory · #{current_repository.name_with_display_owner}",
      container_xl: true,
      selected_link: :security,
      dashboard_pinnable_item_id: current_repository.global_relay_id
    )
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h1) do %>
      <% if use_pvd_workflow? %>
        Report a vulnerability
      <% else %>
        Open a draft security advisory
      <% end %>
    <% end %>
    <% component.with_description do %>
      <% if use_pvd_workflow? %>
        This submission will only be viewable to repository maintainers. You will be credited if the advisory is published.
      <% else %>
        After the draft security advisory is open, you can privately discuss it with collaborators and create a temporary private fork where you can collaborate on a fix. If you've already fixed the vulnerability, just fill out the draft security advisory and then publish it.
      <% end %>
    <% end %>
  <% end %>
  <div id="new-advisory-form" class="clearfix">
    <div class="Box col-md-9 col-12 float-left">
      <%= render partial: "repos/advisories/create_form", locals: { view: view } %>
    </div>

    <div class="col-md-3 col-12 float-left pl-md-4">
      <% if use_pvd_workflow? %>
        <div class="discussion-sidebar-item pt-md-0">
          <div class="text-bold color-fg-muted">Collaborator</div>
          <div class="my-2">
            <%= render :partial => "repos/advisories/sidebar/collaborator", locals: { member: current_user, view: view, show_removal: false } %>
          </div>
        </div>

        <div class="discussion-sidebar-item mt-4 pt-4">
          <div class="text-bold color-fg-muted">FAQs</div>

          <div class="text-bold mt-3 mb-1">Access and visibility</div>

          <p>Until it is published, this draft security advisory will only be visible to the maintainers of <strong><%= current_repository.name_with_display_owner %></strong> and invited collaborators.</p>

          <div class="text-bold mt-3 mb-1">Credit</div>

          <p>You will be automatically credited as a contributor. Your contribution will reflect the MITRE Credit System.</p>

          <div class="text-bold mt-3 mb-1">Community guidelines</div>

          <p>Remember to be respectful and follow the Contribution Guidelines and respect GitHub's Code of Conduct.</p>
        </div>
      <% else %>
        <div class="discussion-sidebar-item pt-md-0">
          <div class="text-bold mb-2">Access and visibility</div>

          <% if current_repository.in_organization? %>
            <p>Until it is published, this draft security advisory will only be visible to collaborators with admin permissions on <strong><%= current_repository.name_with_display_owner %></strong>. Other users and teams within the organization may be added once the advisory is created.</p>
          <% else %>
            <p>Until it is published, this draft security advisory will only be visible to the maintainers of <strong><%= current_repository.name_with_display_owner %></strong>. Other users and teams may be added once the advisory is created.</p>
          <% end %>

          <% if current_repository.public? %>
            <p>Once published, security advisories on public repositories are visible to everyone.</p><p>Once reviewed by GitHub, security advisories may be broadcast on the <a class="Link--inTextBlock" href="https://github.com/advisories">GitHub Advisory Database</a>. They may also trigger Dependabot alerts to users that depend on this repository.</p>
          <% else %>
            <p>Once published, security advisories on private repositories are visible to everyone who has access to the repo.</p><p>They are not broadcast to the <a class="Link--inTextBlock" href="https://github.com/advisories">GitHub Advisory Database</a> unless you request and receive a CVE identifier.</p>
          <% end %>
        </div>
      <% end %>

      <div class="discussion-sidebar-item mt-4 pt-4">
        <%# Show the security policy if it exists, or show the link to create one for Advisory Managers/Maintainers %>
        <% if current_repository.security_policy.exists? || !use_pvd_workflow? %>
          <div class="mb-3">
            <%= render Primer::Beta::Link.new(href: repository_security_policy_path(current_repository.owner, current_repository), scheme: :primary, font_weight: :bold, underline: false, target: :_blank) do %>
              <%= primer_octicon(:"shield-lock", mr: 2) %>Security policy
            <% end %>
          </div>
        <% end %>
        <div class="mb-3">
          <%= render Primer::Beta::Link.new(href: "#{GitHub.help_url}/enterprise-cloud@latest/code-security/repository-security-advisories/creating-a-repository-security-advisory", scheme: :primary, font_weight: :bold, underline: false, target: :_blank) do %>
            <%= primer_octicon(:book, mr: 2) %>Glossary and documentation
          <% end %>
        </div>
        <div class="mb-3">
          <%= render Primer::Beta::Link.new(href: "#{GitHub.help_url}/code-security/dependabot/dependabot-alerts/browsing-security-advisories-in-the-github-advisory-database#github-reviewed-advisories", scheme: :primary, font_weight: :bold, underline: false, target: :_blank) do %>
            <%= primer_octicon(:dependabot, mr: 2) %>Dependabot language support
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
