<%= render "shared/flash" %>
<div class="pagehead orghead">
  <div class="container-lg clearfix <% if responsive? %>p-responsive d-none d-lg-block<% else %>px-3<% end %>">
    <%= render "orgs/header_org_name", view: create_view_model(Orgs::HeaderView, organization: organization) %>
  </div>
</div>

<div class="container-sm">
  <%= form_with model: okta_credentials, url: orgs_team_sync_okta_credentials_path(organization), method: :post, local: true do |f| %>
    <%= f.password_group "SSWS Token", :ssws_token, {
      autocomplete: "off",
      required: true,
      error: error_for(okta_credentials, :ssws_token, human_field: "SSWS Token")
    } %>

    <%= f.text_group "URL", :url, {
      required: true,
      error: error_for(okta_credentials, :url, human_field: "URL")
    } %>

    <div class="form-actions">
      <%= f.button "Create", class: "btn btn-primary"%>
      <%= link_to "Cancel", settings_org_security_url(organization), class: "btn" %>
    </div>
  <% end %>
</div>
