<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% page_info \
    container_xl: true,
    responsive: true %>

<div class="container-sm settings-next recovery-codes-container">
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Two-factor recovery codes<% end %>
  <% end %>
  <p class="h4">
    Recovery codes can be used to access your account in the event you
    lose access to your device and cannot receive two-factor authentication
    codes.
  </p>

  <% unless GitHub.single_or_multi_tenant_enterprise? %>
    <%= render partial: "/settings/securities/inline_security_checkup_notice", locals: {
      section: "recovery-codes",
      from: "auth-recovery-codes"
    } %>
  <% end %>

  <div class="two-factor-steps mt-3">
    <recovery-codes>
      <h3>Recovery codes</h3>
      <p class="note">
        Keep your recovery codes as safe as your password.
        We recommend saving them with a password manager such as
        <a class="Link--secondary text-underline" href="https://1password.com/" target="_blank" rel="noopener noreferrer">1Password</a>,
        <a class="Link--secondary text-underline" href="https://authy.com/" target="_blank" rel="noopener noreferrer">Authy</a>, or
        <a class="Link--secondary text-underline" href="https://keepersecurity.com/" target="_blank" rel="noopener noreferrer">Keeper</a>.
      </p>
      <% scheme = updated ? :danger : :default %>
      <% warning = updated ? "These new codes have replaced your old codes. Save them " : "Keep your recovery codes " %>
      <%= render Primer::Beta::Flash.new(scheme: scheme, icon: :alert, full: true, mt: 3, classes: "recovery-codes-warning", "data-target": "recovery-codes.warning") do %>
        <b><%= warning %>in a safe spot. </b>
        These codes are the last resort for accessing your account in case you lose your password and second factors. If you cannot find these codes, you <b>will</b> lose access to your account.
      <% end %>
      <ul class="two-factor-recovery-codes">
        <% recovery_codes = current_user.two_factor_credential.formatted_recovery_codes %>
        <% recovery_codes.each do |code| %>
          <li class="two-factor-recovery-code"><%= code %></li>
        <% end %>
      </ul>
      <div class="recovery-codes-saving-options mb-4">
        <%= form_tag settings_auth_download_recovery_codes_path, :class => "d-inline" do -%>
          <%= render Primer::ButtonComponent.new(classes: "recovery-code-save-button", type: :submit, "data-ga-click": "2FA, download recovery codes, view 2fa recovery codes form", "data-action": "click:recovery-codes#saveCodes") do %>
            <%= primer_octicon(:"desktop-download") %>
            Download
          <% end %>
        <% end -%>

        <a href="<%= settings_auth_print_recovery_codes_path %>"
          target="_new"
          class="btn recovery-code-save-button"
          data-ga-click="2FA, print recovery codes, view 2fa recovery codes form"
          data-action="click:recovery-codes#saveCodes">
          <%= primer_octicon(:file) %>
          Print
        </a>

        <%= render Primer::Beta::ClipboardCopy.new(value: recovery_codes.join("\s\n"), "data-ga-click": "2FA, copy recovery codes, view 2fa recovery codes form", "data-action": "click:recovery-codes#saveCodes", classes: "btn recovery-code-save-button", "aria-label": "Copy") do %>
          <%= render(Primer::Beta::Octicon.new(icon: "copy")) %>
          Copy
        <% end %>
      </div>
    </recovery-codes>
  </div>
  <strong>Generate new recovery codes</strong>
  <p class="note mb-3">
    When you generate new recovery codes, you must download or print the
    new codes. <b>Your old codes won't work anymore.</b>
  </p>
  <%= form_tag settings_auth_regenerate_recovery_codes_path, :method => :put do %>
    <%= render Primer::ButtonComponent.new(type: :submit) do %>Generate new recovery codes<% end %>
  <% end %>
  <hr>
  <p>
    <a href="<%= settings_security_path %>">Back to settings</a>
  </p>
</div>
