<%
  licenses = view.top_licenses(licenses)
%>

<%
  # aria-hidden=true on this element as it is a visual representation of the same content that is presented
  # as links below. (which is the "legend" of the graph.)
%>
<div class="repository-lang-stats flex-auto">
  <ol class="repository-lang-stats-graph d-flex list-style-none border-0 pt-3" style="cursor: default; overflow: visible">
    <% licenses.each_with_index do |license, index| -%>
      <li class="language-color rounded-2 d-flex overflow-hidden color-bg-default"
          <%= test_selector("#{license[:label]}-#{license[:percent].round}%") %>
          style="height: 12px; width:calc(<%= license[:percent] %>% + 6px); margin-right: -6px; min-width: 12px; border: 2px solid var(--bgColor-default, var(--color-canvas-default)); z-index: <%= index + 1 %>">
        <div style="background-color:<%= license[:color] %>; <%= "opacity: 0.2" unless license[:selected] %>" class="d-flex flex-auto">
          <% if license[:url] %>
            <a aria-hidden="true" tabindex="-1" href="<%= license[:url] %>" class="flex-auto"></a>
          <% else %>
            <%= license[:label] %> <%= license[:percent].round %>%
          <% end %>
        </div>
      </li>
    <% end -%>
  </ol>

  <ol class="repository-lang-stats-numbers pt-3">
    <% licenses.each do |license| -%>
      <% license_info = capture do %>
        <span aria-hidden="true" class="language-color" style="background-color:<%= license[:color] %>; <%= "opacity: 0.2" unless license[:selected] %>"></span>
        <span class="lang <%= "color-fg-muted" unless license[:selected] %>"><%= license[:label] %></span>
        <span class="percent <%= "color-fg-muted" unless license[:selected] %>"><%= license[:percent_label] %></span>
      <% end %>
      <%
        # "MIT 68%, Filter by MIT" (used for aria-label)
        license_label = "#{license[:label]} #{license[:percent_label]}, Filter by #{license[:label]}"
      %>

      <li class="d-inline-block pb-0 pt-2 ws-normal text-left" style="width: auto">
        <% if license[:url] %>
          <a href="<%= license[:url] %>" aria-label="<%= license_label %>"><%= license_info %></a>
        <% else %>
          <%= license_info %>
        <% end %>
      </li>
    <% end -%>
  </ol>
</div>
