<div class="mx-3 mx-lg-0">
  <% if view.repository.present? && data.present? %>
    <% data.each do |manifest| %>
      <div class="Box mb-3" id="<% manifest_file_path_anchor(manifest.filename) %>">
        <div class="Box-header clearfix border-bottom-0">
          <div class="table-list-filters">
            <div class="table-list-header-toggle states float-left pl-0 color-fg-default">
              <%= primer_octicon(:package, mr: 2, color: :muted) %>
              Dependencies defined in
              <%= link_to short_manifest_file_path(manifest.filename), blob_view_path(manifest.filename, view.repository.default_branch, view.repository), {
                class: "Link--primary text-bold",
                title: manifest.filename
              } %>
              <% if manifest.parseable? %>
                <%= render Primer::Beta::Counter.new(count: manifest.dependencies_count, hide_if_zero: true, vertical_align: :middle) %>
              <% end %>
            </div>
          </div>
        </div>
        <%= render partial: "network/dependencies_list", locals: { manifest: manifest, repository: view.repository, default_branch: view.repository.default_branch }%>
      </div>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "info") %>

      <% c.with_heading(tag: :h2) do %>
        No dependency graph found
      <% end %>

      <% c.with_description do %>
        This package does not have any manifests in a repository.
      <% end %>
    <% end %>
  <% end %>
</div>
