<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="d-flex flex-column flex-md-row mb-lg-3 px-3 px-lg-0 pb-3 pb-lg-0">
  <h1 class="text-normal d-flex flex-items-center flex-auto min-width-0">
    <div class="min-width-0">
      <%= primer_octicon(:package, height: 32, color: :muted, mr: 1) %>
      <span class="f0-light" <%= test_selector('package-name') %>><%= view.package_name %></span>
      <span class="color-fg-muted f2" <%= test_selector('package-version') %>><%= view.package_version %></span>
    </div>
  </h1>

  <div class="flex-self-end flex-md-self-center pt-2 pt-md-0">
    <%= render partial: "package_dependencies/filters/organization", locals: { view: view } %>
  </div>
</div>

<%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
  classes: "Box mb-1",
  cap_filter: view.cap_filter,
  resource_label: "dependents on this package version"
) %>

<% if vulnerabilities_count.nonzero? %>
  <%= render Primer::Beta::Flash.new(scheme: :warning, mx: [3, nil, nil, 0], mt: [0, nil, nil, 3], mb: 3, test_selector: "vulnerability-alert") do %>
    <h5>
      <%= primer_octicon(:alert, height: 18, mr: 1) %>This version has an active security advisory and should not be used.
    </h5>
  <% end %>
<% end %>

<nav class="UnderlineNav mb-3" aria-label="Package page navigation" data-pjax>
  <div class="UnderlineNav-body">
    <a href="<%= view.build_path(tab: 'description') %>" class="UnderlineNav-item <%= "selected" if view.tab_selected?(:description) %>">Description</a>
    <a href="<%= view.build_path(tab: 'dependencies') %>" class="UnderlineNav-item <%= "selected" if view.tab_selected?(:dependencies) %>">Dependencies</a>
    <a href="<%= view.build_path(tab: 'dependents') %>" class="UnderlineNav-item <%= "selected" if view.tab_selected?(:dependents) %>">Dependents</a>
    <a href="<%= view.build_path(tab: 'contributors') %>" class="UnderlineNav-item <%= "selected" if view.tab_selected?(:contributors) %>">Contributors</a>
    <a href="<%= view.build_path(tab: 'security') %>" class="UnderlineNav-item <%= "selected" if view.tab_selected?(:security) %>">Security</a>
  </div>
</nav>
