<%
  dependent_repository = dependent.repository
  owner                = dependent_repository&.owner
%>

<% if dependent_repository %>
  <div class="Box-row d-flex flex-items-center" <%= test_selector("package-dependent") %>>
    <%= image_tag(owner.primary_avatar_url(40), width: 20, height: 20, class: "#{avatar_class_names(owner)} mr-2", alt: "") %>

    <span class="f5 color-fg-muted" data-repository-hovercards-enabled>
      <%= link_to owner.display_login, user_path(owner), data: hovercard_data_attributes_for_repository_owner(owner) %> /
      <%= link_to dependent_repository.name, repository_path(dependent_repository), class: "text-bold", data: hovercard_data_attributes_for_repository(dependent_repository) %>

      <% if dependent.manifest_path && dependent.manifest_blob_path %>
        <small><%= link_to dependent.manifest_path, dependent.manifest_blob_path.to_s, class: "Link--muted", target: :blank %></small>
      <% end %>
    </span>
  </div>
<% end %>
