<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  dependents_count = repository_package_release.dependents_count
  dependents = repository_package_release.dependents
  page_info = repository_package_release.dependents_page_info

  has_missing_repositories = dependents.any? do |dependent|
    dependent.repository.nil?
  end
%>

<div class="subnav mx-3 mx-lg-0">
  <%= form_tag view.build_path, method: :get, class: "subnav-search float-right" do %>
    <input type="hidden" name="query" value="<%= view.raw_query %>">
    <input type="search" name="dependent_name" class="form-control subnav-search-input input-contrast rounded-2" <% if view.dependent_search.present? %> value="<%= view.dependent_search %>" <% end %> placeholder="Search all dependents" aria-label="Search all dependents">
      <%= primer_octicon(:search, classes: "subnav-search-icon", style: "z-index: 2") %>
  <% end %>
</div>

<div class="Box mx-3 mx-lg-0">
  <div class="Box-header">
    <div class="Box-title">
      <%= primer_octicon(:"package-dependents") %>
      <%= number_with_delimiter(dependents_count) %>
      <%= "dependent".pluralize(dependents_count) %>
      <% if view.dependent_search.present? %>
        <p class="color-fg-muted f6 my-0">
          This is the total number of possible dependents on this package version.
        </p>
      <% end %>

      <% if has_missing_repositories %>
        <p class="color-fg-muted f6 my-0">
          Some dependents are hidden because they are in repositories you do not have access to or have been deleted.
        </p>
      <% end %>
    </div>
  </div>

  <% if dependents.present? %>
    <% dependents.each do |dependent| %>
      <%= render partial: "package_dependencies/show_dependent_row", locals: { dependent: dependent } %>
    <% end %>
  <% elsif view.unauthorized_organizations.any? %>
    <%= render Primer::BlankslateComponent.new(title: "Unauthorized Organization", icon: "eye-closed", test_selector: "unauthorized-dependent-orgs") do %>
      <%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
        classes: "mb-1",
        cap_filter: view.cap_filter,
        resource_label: "dependents on this package version"
      ) %>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "package-dependents") %>

      <% c.with_heading(tag: :h2) do %>
        No dependents found
      <% end %>

      <% c.with_description do %>
        We couldn't find anything dependent on this version in your organizations' repositories.
      <% end %>
    <% end %>
  <% end %>
</div>

<% if page_info&.has_next_page || page_info&.has_previous_page %>
  <nav class="paginate-container" aria-label="Pagination">
    <%= cursor_paginate(page_info, previous_label: "Previous", next_label: "Next") %>
  </nav>
<% end %>
