<div class="Box mx-3 mx-lg-0">
  <div class="Box-header">
    <h3 class="Box-title">
      <%= primer_octicon(:shield, mr: 1) %>
      <%= data.count %> security <%= "advisory".pluralize(data.count) %>
    </h3>
  </div>
  <% if data.present? %>
    <ul>
      <% data.each do |vulnerability| %>
        <li class="Box-row" <%= test_selector("package-dependencies-vulnerability") %>>
          <div class="d-flex flex-justify-between flex-items-center">
            <div>
              <h5 class="h4 mb-2">
                <%
                  first_cve = vulnerability.security_advisory.identifiers.detect { |identifier| identifier[:type] == "CVE" }
                  link_text = first_cve&.fetch(:value, nil) || vulnerability.security_advisory.ghsa_id
                %>
                <%= link_to link_text, global_advisory_path(vulnerability.security_advisory.ghsa_id),
                  class: "Link--primary no-underline",
                  data: hovercard_data_attributes_for_advisory(ghsa_id: vulnerability.security_advisory.ghsa_id)
                %>
              </h5>
            </div>
            <div>
              <%= render DependabotAlerts::SeverityLabelComponent.new(severity: vulnerability.severity) %>
            </div>
          </div>
          <div>
            <b>Vulnerable versions:</b>
            <span class="text-mono pl-1"><%= vulnerability.vulnerable_version_range %></span>
          </div>
          <div>
            <b>Patched version:</b>
            <% if vulnerability.first_patched_version %>
              <span class="text-mono pl-1"><%= vulnerability.first_patched_version[:identifier] %></span>
            <% else %>
              <span class="color-fg-muted text-italic pl-1">No fix</span>
            <% end %>
          </div>
          <div class="mt-2 markdown-body">
            <%= view.render_advisory_description(vulnerability.security_advisory.description, vulnerability.security_advisory.id) %>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "info") %>

      <% c.with_heading(tag: :h2) do %>
        No known security advisories
      <% end %>

      <% c.with_description do %>
        We couldn't find any security advisories for this version.
      <% end %>
    <% end %>
  <% end %>
</div>
