<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="mx-3 mx-lg-0">
  <% if view.repository.present? %>
    <div class="graph-filter clearfix">
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2, classes: "js-date-range") do %>Loading contributions…<% end %>
        <% component.with_actions do %>
          <details class="details-reset details-overlay select-menu select-menu-modal-right">
            <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button") do %>
              <i>Contributions:</i>
              <span data-menu-button><%= active_contribution_type %></span>
            <% end %>
            <details-menu class="select-menu-modal position-absolute right-0 js-contribution-menu" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="select-menu-header">
                <span class="select-menu-title">Filter contributions</span>
              </div>
              <div class="select-menu-list">
                <% contribution_types.each do |k, v| %>
                  <button type="button" role="menuitemradio" class="select-menu-item width-full" aria-checked="<%= active_contribution_type == v %>" value="<%= k %>">
                    <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                    <div class="select-menu-item-text" data-menu-button-text><%= v %></div>
                  </button>
                <% end %>
              </div>
            </details-menu>
          </details>
        <% end %>
      <% end %>
      <p class="info">Contributions to <%= view.repository.default_branch %>, excluding merge commits and bot accounts</p>
    </div>

    <div class="graphs" data-repo-url="<%= repository_url(view.repository) %>">
      <div id="contributors-master" class="tint-box graph-canvas"></div>
      <contributors-graph>
        <div id="contributors" class="clearfix js-graph graph-canvas" data-graph-width="295" data-url="/<%= view.repository.name_with_display_owner %>/graphs/contributors-data" data-target="contributors-graph.graph">
          <%= render partial: "graphs/activity" %>
        </div>
      </contributors-graph>
    </div>
  <% else %>
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "info") %>

      <% c.with_heading(tag: :h2) do %>
        No contributors graph found
      <% end %>

      <% c.with_description do %>
        Could not find repository associated to this package.
      <% end %>
    <% end %>
  <% end %>
</div>
