<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%
  page_title = "Package #{view.package_name}"
  package_missing = package_release.nil? || repository_package_release.nil?
  show_sidebar = !package_missing && !view.dependency_graph_error?

  if name_with_display_owner
    page_title = "#{page_title} · #{name_with_display_owner}"
  end

  page_info(
    title: page_title
  )
%>

<% content_for :header_title do %>
  <strong class="color-text-white">Dependency insights</strong>
<% end %>

<div class="container-lg pt-3 clearfix">
  <div class="col-12 <%= "col-lg-8 pr-lg-4" if show_sidebar %> float-left">
    <%= render partial: "package_dependencies/show_header_nav", locals: {
          vulnerabilities_count: vulnerabilities_count,
          view: view
        }
    %>

    <% if view.dependency_graph_timed_out %>
      <%= render Primer::Beta::Blankslate.new(spacious: true, mx: [3, nil, nil, 0]) do |c| %>
        <% c.with_visual_icon(icon: "hourglass") %>

        <% c.with_heading(tag: :h2) do %>
          The dependency graph is taking too long to respond
        <% end %>

        <% c.with_description do %>
          We’re working on fixing this issue as soon as possible. Please try again later.
        <% end %>
      <% end %>
    <% elsif view.dependency_graph_unavailable %>
      <%= render Primer::BlankslateComponent.new(
        icon: "alert",
        title: "Loading package release failed",
        spacious: true,
        mx: [3, nil, nil, 0],
      ) do %>
        <p>We track these errors automatically, but if the problem persists feel free to <a class="Link--inTextBlock" href="<%= contact_path %>">contact us</a>.</p>
      <% end %>
    <% elsif package_missing %>
      <%= render Primer::Beta::Blankslate.new(spacious: true, mx: [3, nil, nil, 0]) do |c| %>
        <% c.with_visual_icon(icon: "package") %>

        <% c.with_heading(tag: :h2) do %>
          Package dependency not found
        <% end %>

        <% c.with_description do %>
          Could not find package dependency in any of the selected organizations.
        <% end %>
      <% end %>
    <% else %>
      <% case view.selected_tab %>
      <% when :description %>
        <%= render partial: "package_dependencies/show_description", locals: {
              manifest_filename: local_assigns[:selected_tab_data],
              view: view
            }
        %>
      <% when :dependencies %>
        <%= render partial: "package_dependencies/show_dependencies", locals: {
              data: local_assigns[:selected_tab_data],
              view: view
            }
        %>
      <% when :contributors %>
        <%= render partial: "package_dependencies/show_contributors", locals: {
              view: view
            }
        %>
      <% when :security %>
        <%= render partial: "package_dependencies/show_security", locals: {
              data: local_assigns[:selected_tab_data],
              view: view
            }
        %>
      <% when :dependents %>
        <%= render partial: "package_dependencies/show_dependents", locals: {
              repository_package_release: repository_package_release,
              view: view
            }
        %>
      <% end %>
    <% end %>
  </div>

  <% if show_sidebar %>
    <%= render partial: "package_dependencies/show_sidebar", locals: {
          package_release: package_release,
          repository_package_release: repository_package_release,
          recent_releases: recent_releases,
          view: view
        }
    %>
  <% end %>
</div>
