<div class="d-flex flex-items-center flex-justify-between position-relative p-md-1 pb-md-2" style="touch-action: none; user-select: none; -webkit-user-select: none;">
  <div class="p-2 color-bg-inset rounded position-relative" style="z-index: 1;">
    <% if render_workflow_link? %>
      <h2 class="d-flex flex-items-center h4">
        <a class="Link--primary no-underline" href="<%= href %>"><%= name %></a>
        <% if is_required_workflow_execution %>
          <%= render(Primer::Beta::Label.new(test_selector: "required-label", ml: 2, scheme: :primary)) { "Required" } %>
        <% end %>
      </h2>
    <% else %>
      <h2 class="h4 d-flex flex-items-center">
        <%= name %>
        <% if is_required_workflow_execution %>
          <%= render(Primer::Beta::Label.new(test_selector: "required-label", ml: 2, scheme: :primary)) { "Required" } %>
        <% end %>
      </h2>
    <% end %>
    <div class="text-small color-fg-muted">on: <%= trigger %></div>
  </div>
</div>
