<div
  id="<%= group.dom_id %>"
  class="WorkflowCard <%= show_header? ? "has-title" : "" %> position-relative rounded-2 border mb-6 <%= single_job_group? ? "my-3" : "p-3 WorkflowCard-group" %>"
  data-action="
    mouseenter:action-graph#mouseEnter
    mouseleave:action-graph#mouseLeave
  ">
  <% if show_header? %>
    <div class="WorkflowCard-heading position-absolute text-small text-semibold pt-1 px-3 rounded-top-2">
      <span class="WorkflowCard-heading--content position-relative css-truncate css-truncate-target" style="top: 3px;max-width: 190px;">
        <%= header_text %>
      </span>
    </div>
  <% end %>

  <% if group.matrix? %>
    <%= render Actions::Graph::MatrixComponent.new(group: group, workflow_run: workflow_run, execution: @execution, retry_blankstate: @retry_blankstate, pull_request_number: @pull_request_number) %>
  <% else %>
    <%= render Actions::Graph::JobComponent.with_collection(group.jobs, workflow_run: workflow_run, execution: @execution, retry_blankstate: @retry_blankstate, parent_group: group.dom_id, pull_request_number: @pull_request_number) %>
  <% end %>

  <% if group.outputs.any? %>
    <div class="WorkflowCard-port WorkflowCard-port--output position-absolute circle">
    </div>
  <% end %>

  <% if group.inputs.any? %>
    <div class="WorkflowCard-port WorkflowCard-port--input position-absolute circle">
    </div>
  <% end %>
</div>
