<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="js-updatable-content js-socket-channel d-flex flex-row flex-items-center flex-auto width-full rounded-2 js-graph-matrix"
  <% if viewing_current? %> data-url="<%=  matrix_path(expanded: expanded?) %>" data-channel="<%= live_update_view_channel(channel) %>" <% end %>
  data-targets="action-graph.matrices"
  data-job-id="<%= job_parent_key %>"
  data-group-id="<%= group.dom_id %>">
  <% if workflow_job_runs.any? %>
    <% if expanded? %>
      <div class="d-flex flex-column width-full">
        <%= render Actions::Graph::JobComponent.with_collection(group.matrix_jobs, workflow_run: workflow_run, execution: @execution, is_matrix: true, retry_blankstate: @retry_blankstate, parent_group: group.dom_id, pull_request_number: @pull_request_number) %>
      </div>
    <% else %>
      <button type="button"
        data-update-url="<%= matrix_path(expanded: true) %>"
        data-action="click:action-graph#expandMatrix"
        class="btn-link text-small no-underline color-fg-muted d-flex flex-column flex-items-start WorkflowJob width-full rounded-2">
        <div class="d-flex flex-items-center MatrixComponent-collapse--title f5">
          <%= render Actions::WorkflowRuns::StatusComponent.new(conclusion: group.conclusion, status: group.status, size: 16) %>

          <div class="flex-self-baseline flex-1 pl-2 no-wrap text-semibold color-fg-default">
            <% if !group.in_progress? && group.completed_jobs_count == group.jobs_count %>
              <%= group.completed_jobs_count %>
            <% else %>
              <%= group.completed_jobs_count %>/<%= group.jobs_count %>
            <% end %>
            <% if group.completed_jobs_count == 1 %>
              job completed
            <% else %>
              jobs completed
            <% end %>
          </div>
        </div>

        <div class="mt-2 mb-n1">
          Show all jobs
        </div>
      </button>
    <% end %>
  <% else %>
    <div class="MatrixComponent-pending">
      <%= render Primer::Beta::Octicon.new(icon: "circle", color: :muted) %>
      <span class="text-semibold color-fg-muted p-2">
        Waiting for pending jobs
      </span>
    </div>
  <% end %>
</div>
