<%= render Primer::Beta::BorderBox.new(padding: :condensed, mb: 4) do |border_box| %>
  <% border_box.with_header do |header| %>
    <% header.with_title(tag: :h2) do %>
      Increase the credit balance for <%= sponsor %>'s Sponsors-specific Zuora account
    <% end %>
  <% end %>
  <% border_box.with_body do %>
    <p <%= test_selector("sponsors-add-credit-confirm-sponsor") %>>
      <%= render(Primer::Beta::Text.new(tag: :span, font_weight: :bold).with_content("Sponsor:")) %>
      <%= sponsor %>
    </p>
    <p <%= test_selector("sponsors-add-credit-confirm-amount") %>>
      <%= render(Primer::Beta::Text.new(tag: :span, font_weight: :bold).with_content("Amount (USD):")) %>
      <%= Billing::Money.parse(amount).format(no_cents_if_whole: true) %>
    </p>
    <p <%= test_selector("sponsors-add-credit-confirm-comment") %>>
      <%= render(Primer::Beta::Text.new(tag: :span, font_weight: :bold).with_content("Comment:")) %>
      <%= comment %>
    </p>
    <p <%= test_selector("sponsors-add-credit-confirm-reference-id") %>>
      <%= render(Primer::Beta::Text.new(tag: :span, font_weight: :bold).with_content("Reference ID:")) %>
      <%= reference_id %>
    </p>
    <%= form_tag(stafftools_sponsors_invoiced_sponsor_credit_balance_path(sponsor),
      data: test_selector_hash("sponsors-add-credit-confirm-form")
    ) do %>
      <%= hidden_field_tag(:amount, amount) %>
      <%= hidden_field_tag(:comment, comment) %>
      <%= hidden_field_tag(:reference_id, reference_id) %>
      <div class="ml-n3 mr-n3 px-3 border-top pt-3 mt-3">
        <%= render Primer::Beta::Button.new(
          scheme: :primary,
          type: :submit,
          block: true,
          "data-disable-with": "Applying credit balance...",
          test_selector: "sponsors-add-credit-confirm-button",
        ).with_content("Confirm") %>
      </div>
    <% end %>
  <% end %>
<% end %>
