<% page_info title: "#{this_user} - Moderators", selected_link: :org_teams %>

<%= render(Primer::Beta::Subhead.new) do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <a href="<%= stafftools_user_teams_path(this_user) %>">Members</a> / Moderators
  <% end %>
<% end %>

<p>
  Organization members or teams can be moderators for an organization.
  Moderators can block and unblock users from the organization, minimize comments, and manage interaction limits for all public organization repositories.
</p>

<p>
  An organization may add up to <strong><%= Organization::Moderation::MODERATOR_LIMIT %></strong>
  members or teams as moderators.
</p>

<%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
  <% if moderators.any? %>
    <% moderators.each do |moderator| %>
      <%
        stafftools_link = if moderator.is_a?(Team)
          stafftools_user_team_path(this_user, moderator.name)
        else
          stafftools_user_path(moderator.login)
        end
      %>
      <%= component.with_row do %>
        <%= linked_avatar_for(moderator, 20, img_class: "avatar") %>
        <a class="ml-2" href="<%= stafftools_link %>">
          <%= moderator.ability_description %>
        </a>
      <% end%>
    <% end %>
  <% else %>
    <% component.with_body(text_align: :center) do %>
      There aren't any moderators for this organization.
    <% end %>
  <% end %>
<% end %>
