<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::Beta::Flash.new(mt: 4) do |component| %>
  <div class="d-sm-flex flex-justify-between">
    <div class="d-flex flex-content-center">
      <%= render Primer::Beta::Octicon.new(icon: :info) %>
      <div>
        <% remove_beta_label = user_feature_enabled?(:remove_private_profile_beta) %>
        <p class="h5 mb-0"> Only you can see your full profile <% if !remove_beta_label %> <%= render GitHub::BetaFlagComponent.new(ml: 1) %> <% end %> </p>
        <p>
          You have marked your profile as private, which limits what activity other people can see.
          <%= link_to "Update profile settings", settings_user_profile_path, class: "Link--inTextBlock" %>.
        </p>
        <p class="mt-2">
          <span><%= link_to "Send feedback", feedback_url, class: "Link--inTextBlock" %></span>
        </p>
      </div>
    </div>
    <%= render Primer::ButtonComponent.new(tag: :a, href: button_link, size: :small, mt: [2, 0, nil, nil, nil], classes: "flex-self-start") do %>
      <%= button_text %>
    <% end %>
  </div>
<% end %>
