<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% unless header_redesign_enabled? %>
  <div
    class="mt-4 position-sticky top-0 d-none d-md-block color-bg-default width-full border-bottom
      color-border-muted"
    style="z-index:3;"
    data-turbo-frame="user-profile-frame"
  >
    <div class="container-xl px-3 px-md-4 px-lg-5">
      <% track_render_partial("users/show/tab_bar") do %>
        <%= render(Primer::Alpha::Layout.new(first_in_source: :sidebar)) do |component| %>
          <% component.with_sidebar(col_placement: :start) do %>
            <div class="user-profile-sticky-bar">
              <div class="user-profile-mini-vcard d-table">
                <span class="user-profile-mini-avatar d-table-cell v-align-middle lh-condensed-ultra pr-2">
                  <%= avatar_for(layout_data.profile_user, 32, class: "rounded-2") %>
                </span>
                <span class="d-table-cell v-align-middle lh-condensed">
                  <strong><%= layout_data.login_name %></strong>
                  <%= follow_button(
                    layout_data.profile_user,
                    classes: "btn btn-sm mini-follow-button",
                  ) %>
                </span>
              </div>
            </div>
          <% end %>
          <% component.with_main do %>
            <div class="UnderlineNav width-full box-shadow-none js-responsive-underlinenav overflow-md-x-hidden">
              <%= render Profiles::User::Private::NavigationComponent.new(profile_layout_data: layout_data) %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="container-xl px-3 px-md-4 px-lg-5 <%= "mt-2" if header_redesign_enabled? %>">
  <%= render(Primer::Alpha::Layout.new(first_in_source: :sidebar)) do |component| %>
    <% component.with_sidebar(col_placement: :start, row_placement: :start) do %>
      <div
        class="h-card <%= header_redesign_enabled? ? "mt-5" : "mt-5 mt-md-n5" %>"
        data-acv-badge-hovercards-enabled
        itemscope
        itemtype="http://schema.org/Person"
      >
        <% unless header_redesign_enabled? %>
          <div class="user-profile-sticky-bar js-user-profile-sticky-bar d-none d-md-block">
            <div class="user-profile-mini-vcard d-table">
              <span class="user-profile-mini-avatar d-table-cell v-align-middle lh-condensed-ultra pr-2">
                <%= avatar_for(layout_data.profile_user, 32, class: "rounded-2") %>
              </span>
            </div>
          </div>
        <% end %>

        <% track_render_partial("users/profile") do %>
          <%= render Profiles::User::Private::SidebarComponent.new(profile_layout_data: layout_data) %>
        <% end %>
      </div>
    <% end %>

    <% component.with_main do %>
      <% unless header_redesign_enabled? %>
        <div
          class="UnderlineNav user-profile-nav d-block d-md-none position-sticky top-0 pl-3 ml-n3
            mr-n3 pr-3 color-bg-default"
          style="z-index:3;"
          data-turbo-frame="user-profile-frame"
        >
          <%= render Profiles::User::Private::NavigationComponent.new(profile_layout_data: layout_data) %>
        </div>
      <% end %>
      <turbo-frame id="user-private-profile-frame" data-turbo-action="advance">
        <% if layout_data.site_admin_alerts.present? %>
          <%= render Primer::Beta::Flash.new(scheme: :danger, classes: "site-admin-alert", my: 2) do %>
            This user is <%= layout_data.site_admin_alerts %>
          <% end %>
        <% end %>

        <div class="position-relative" data-hpc>
          <%= content %>
        </div>
      </turbo-frame>
    <% end %>
  <% end %>
</div>
