<nav class="UnderlineNav-body width-full p-responsive js-sidenav-container-pjax" aria-label="User profile">
  <%= profile_tab_link user_overview_path, tab_name: "overview" do %>
    <%= render icon_component("book") %>
    Overview
  <% end %>

  <%= profile_tab_link(user_repos_path, tab_name: "repositories") do %>
    <%= render icon_component("repo") %>
    Repositories
    <%= render counter_component(repository_count) %>
  <% end %>
</nav>

<div class="position-absolute pr-3 pr-md-4 pr-lg-5 right-0 js-responsive-underlinenav-overflow" style="visibility: hidden">
  <%= render Primer::Beta::Details.new(overlay: :default, reset: true, position: :relative) do |details_component| %>
    <% details_component.with_summary(button: false) do %>
      <div class="UnderlineNav-item mr-0 border-0">
        <%= render Primer::Beta::Octicon.new(icon: "kebab-horizontal") %>
        <span class="sr-only">More</span>
      </div>
    <% end %>
    <% details_component.with_body do %>
      <details-menu role="menu" class="dropdown-menu dropdown-menu-sw"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <ul <%= test_selector("kebab-menu") %>>
          <li data-menu-item="overview" hidden>
            <%= selected_link_to "Overview", user_overview_path, role: "menuitem", class: "dropdown-item" %>
          </li>
          <li data-menu-item="repositories" hidden>
            <%= selected_link_to "Repositories", user_repos_path, role: "menuitem", class: "dropdown-item" %>
          </li>
        </ul>
      </details-menu>
    <% end %>
  <% end %>
</div>
