<%
  page_info(
    title: "Join GitHub",
    class: "header-overlay",
    full_height: true,
  )

  octocaptcha = Octocaptcha.new(session, page: :signup_redesign)
  show_captcha = octocaptcha.show_captcha?
  dynamically_load_captcha = show_captcha && octocaptcha.is_more_data_exchange_enabled.call
  hide_typing_effect = user.errors.any? || params[:invitation_token].present? || params[:repo_invitation_token].present?
%>

<text-suggester class="js-continue-container width-full z-1 signup-text-suggester">
  <div
    class="mx-1 mx-sm-4 my-4 px-sm-4 px-1 py-4 f4 color-shadow-small bg-gray-800-mktg rounded-2 signup-content-container"
    <%= test_selector("signup-redesign") %>
  >
    <% if hide_typing_effect %>
      <div
        class="text-mono text-gray-light-mktg px-sm-0 px-4">
        Welcome to GitHub!<br>Let’s begin the adventure
      </div>
      <div class="my-4 text-mono color-fg-attention" <%= test_selector("signup-errors") %>>
        <%= user.errors.full_messages.to_sentence %>
      </div>
    <% else %>
      <h1 class="sr-only">Welcome to GitHub! Let's begin the adventure</h1>
      <div class="px-sm-0 px-4">
        <typing-effect
          data-lines='["Welcome to GitHub!", "Let’s begin the adventure"]'
          data-continue-to="email-container"
          class="js-signup-typed-welcome js-octocaptcha-hide"
        >
          <span
            data-target="typing-effect.content"
            class="text-mono text-gray-light-mktg"
          ></span>
          <span
            data-target="typing-effect.cursor"
            class="typing-effect-cursor"
          >|</span>
        </typing-effect>
      </div>
    <% end %>

    <noscript>
      <div class="my-4 text-mono color-fg-attention">
        GitHub requires JavaScript enabled to sign up for our captcha. Please enable JavaScript.
      </div>
    </noscript>

    <%=
      form_with(
        model: user,
        url: nux_signup_index_path(return_to: params[:return_to]),
        class: class_names({ "position-relative js-octocaptcha-parent": show_captcha }),
      ) do |f|
    %>
      <%= hidden_field_tag :return_to,  params[:return_to] %>
      <%= hidden_field_tag :invitation_token,  params[:invitation_token] %>
      <%= hidden_field_tag :repo_invitation_token,  params[:repo_invitation_token] %>
      <div
        id="email-container"
        class="js-continue-step-container signup-continue-step-container js-octocaptcha-hide mt-4 px-sm-0 px-4"
        data-step-state="active"
        <% unless hide_typing_effect %>hidden<% end %>
      >
        <div class="mb-1">
          <label for="email" class="text-mono signup-text-prompt">
            Enter your email<sup aria-hidden="true">*</sup>
          </label>
        </div>
        <div class="d-flex flex-items-center flex-column flex-sm-row">
          <div class="d-flex flex-items-center width-full">
            <span class="signup-continue-prompt mr-2" aria-hidden="true"></span>
            <auto-check src="<%= email_validity_checks_path %>" class="js-prevent-default-behavior width-full mr-2" required>
              <%=
                f.email_field(
                  :email,
                  id: "email",
                  class: "js-continue-input js-continue-focus-target js-octocaptcha-data-field signup-input form-control input-block flex-1 border-0 pl-0 box-shadow-none color-text-white f4 text-mono",
                  required: true,
                  autofocus: true,
                  autocomplete: "email",
                  "data-target": "text-suggester.input",
                  "data-octocaptcha-field-name": "email_address",
                  "aria-describedby": "email-err"
                )
              %>
              <%= csrf_hidden_input_for email_validity_checks_path %>
            </auto-check>
          </div>
          <button
            type="button"
            class="js-continue-button signup-continue-button form-control px-3 width-full width-sm-auto mt-4 mt-sm-0"
            data-continue-to="password-container"
            disabled
          >
            Continue
          </button>
        </div>
      </div>

      <div
        id="password-container"
        class="js-continue-step-container signup-continue-step-container px-sm-0 px-4 js-octocaptcha-hide"
        <% unless hide_typing_effect %>hidden<% end %>
      >
        <div class="mt-4 mb-1">
          <label for="password" class="text-mono signup-text-prompt">
            Create a password<sup aria-hidden="true">*</sup>
          </label>
        </div>
        <div class="d-flex flex-items-center flex-column flex-sm-row">
          <div class="d-flex flex-items-center width-full">
            <span class="signup-continue-prompt mr-2" aria-hidden="true"></span>
            <visible-password class="flex-1 d-flex flex-items-center mr-3">
              <auto-check
                src="<%= password_validity_checks_path %>"
                class="js-prevent-default-behavior flex-1 mr-2"
                required
              >
                <%=
                  f.password_field(
                    :password,
                    id: "password",
                    value: GitHub.default_password,
                    class: "js-continue-input js-continue-focus-target signup-input form-control input-block flex-1 border-0 pl-0 box-shadow-none color-text-white f4 text-mono",
                    required: true,
                    passwordrules: User::PASSWORD_RULES,
                    autocomplete: "new-password",
                    "data-target": "visible-password.input",
                    "aria-describedby": "password-err"
                  )
                %>
                <%= csrf_hidden_input_for password_validity_checks_path %>
              </auto-check>
              <%= render Primer::Beta::Button.new(
                scheme: :link,
                classes: "signup-password-visibility-toggle",
                data: {
                  target: "visible-password.showButton",
                  action: "click:visible-password#show",
                },
                aria: { label: "Show password" },
              ) do %>
                <%= render Primer::Beta::Octicon.new(icon: :eye) %>
              <% end %>

              <%= render Primer::Beta::Button.new(
                scheme: :link,
                classes: "signup-password-visibility-toggle",
                data: {
                  target: "visible-password.hideButton",
                  action: "click:visible-password#hide",
                },
                aria: { label: "Hide password" },
                hidden: true,
              ) do %>
                <%= render Primer::Beta::Octicon.new(icon: :"eye-closed") %>
              <% end %>
            </visible-password>
          </div>
          <button
            type="button"
            class="js-continue-button signup-continue-button form-control px-3 width-full width-sm-auto mt-4 mt-sm-0"
            data-continue-to="username-container"
            disabled
          >
            Continue
          </button>
        </div>
      </div>

      <div
        id="username-container"
        class="js-continue-step-container js-octocaptcha-hide signup-continue-step-container px-sm-0 px-4"
        <% unless hide_typing_effect %>hidden<% end %>
      >
        <div class="mt-4 mb-1">
          <label for="login" class="text-mono signup-text-prompt">
            Enter a username<sup aria-hidden="true">*</sup>
          </label>
        </div>
        <div class="d-flex flex-items-center flex-column flex-sm-row">
          <div class="d-flex flex-items-center width-full">
            <span class="signup-continue-prompt mr-2" aria-hidden="true"></span>
            <auto-check src="<%= username_check_get_path(suggest_usernames: true) %>" http-method="GET" class="js-prevent-default-behavior width-full mr-2" required>
              <%=
                f.text_field(
                  :login,
                  id: "login",
                  class: "js-continue-input js-continue-focus-target js-octocaptcha-data-field signup-input form-control input-block flex-1 border-0 pl-0 box-shadow-none color-text-white f4 text-mono",
                  required: true,
                  autocomplete: "username",
                  "data-octocaptcha-field-name": "login",
                  "aria-describedby": "login-err"
                )
              %>
            </auto-check>
          </div>
          <button
            type="button"
            class="js-continue-button signup-continue-button form-control px-3 width-full width-sm-auto mt-4 mt-sm-0"
            data-continue-to="opt-in-container"
          >
            Continue
          </button>
        </div>
      </div>

      <div
        id="opt-in-container"
        class="js-continue-step-container signup-continue-step-container js-octocaptcha-hide px-sm-0 px-4"
        <% unless hide_typing_effect %>hidden<% end %>
      >
        <div class="mt-4 mb-1">
          <label for="opt_in" class="text-mono signup-text-prompt">
            Email preferences
          </label>
        </div>
        <div class="d-flex flex-items-center flex-column flex-sm-row">
          <div class="d-flex flex-items-center width-full">
            <%= check_box_tag :opt_in, true, false, class: "js-continue-input js-continue-focus-target signup-input form-control flex-1 signup-checkbox"%>
            <label class="color-fg-on-emphasis f4 text-mono text-normal position-relative pl-2" for="opt_in">
              Receive occasional product updates and announcements.
            </label>
          </div>
          <button
            type="button"
            class="js-continue-button signup-continue-button form-control px-3 width-full width-sm-auto mt-4 mt-sm-0 js-octocaptcha-load-captcha"
            data-continue-to="captcha-and-submit-container"
          >
            Continue
          </button>
        </div>
      </div>

      <div id="captcha-and-submit-container" class="width-full js-continue-step-container captcha-container">
        <% if show_captcha %>
          <div class="text-mono text-bold signup-text-prompt mt-4 px-sm-0 px-4">
            Verify your account
          </div>
          <div class="js-continue-focus-target" tabindex="-1" style="outline: none;">
            <%=
              render partial: "shared/octocaptcha", locals: {
                origin_page: "github_signup_redesign",
                octocaptcha_timeout: local_assigns[:octocaptcha_timeout],
                include_header: false,
                version: 2,
                captcha_demo: local_assigns[:captcha_demo],
                dynamically_load_captcha: dynamically_load_captcha,
              }
            %>
          </div>
        <% end %>

        <%= spamurai_form_signals %>

        <div class="px-sm-0 px-4">
          <%=
            f.button(
              "Create account",
              type: :submit,
              class: class_names([
                "form-control", "signup-submit-button", "width-full", "py-2 mt-2",
                {
                  "js-continue-focus-target": !show_captcha,
                  "js-octocaptcha-form-submit": show_captcha,
                },
              ]),
              data: {
                disable_invalid: true
              },
              disabled: show_captcha,
              hidden: show_captcha,
            )
          %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="js-continue-hint-container mx-4 px-4 f4 font-mktg text-gray-light-mktg signup-hint-container">
    <p id="email-err" data-hint-for="email" role="alert" aria-atomic="true"></p>
    <p id="password-err" data-hint-for="password" role="alert" aria-atomic="true"></p>
    <p id="login-err" data-hint-for="login" role="alert" aria-atomic="true"></p>
  </div>
</text-suggester>
