<% richweb_image_path = params[:category] == "team" ? "github-for-teams" : "enterprise" %>

<% page_info(
  class: "f4",
  description: page_data[:tagline],
  richweb: {
    description: page_data[:tagline],
    title: page_data[:heading],
    url: canonical_url_for(request.original_url),
    image: image_path("modules/site/social-cards/#{richweb_image_path}.png"),
  },
  selected_link: customer_stories_path,
  title: page_data[:heading]
) %>

<%
  category_text = page_data[:category_name] == 'All' ? "" : "#{page_data[:category_name]} "
  stories_section_heading = "Browse #{total_stories} #{category_text}customer #{"story".pluralize(total_stories)}"
  has_stories = total_stories > 0
%>

<%= render partial: "site/contentful/customer_stories/sub_nav" %>

<div class="border-bottom">
  <%= render Site::SectionComponent.new(classes: "pt-9 pb-4", padding: false) do %>
    <div class="p-responsive">
      <p <%= test_selector("customer-stories-category-page-heading") %> class="color-fg-muted f3-mktg text-normal mb-1"><%= page_data[:heading] %></p>
      <h1 <%= test_selector("customer-stories-category-page-tagline") %> class="h3-mktg color-fg-default mb-3 mb-md-6"><%= page_data[:tagline] %></h1>
    </div>
  <% end %>
</div>

<%= render Site::SectionComponent.new(overflow: true) do %>
  <div class="p-responsive">
    <% if has_stories %>
      <h2 <%= test_selector("customer-stories-category-featured-stories") %> class="h5-mktg my-4 mt-md-6 mb-md-3">Featured</h2>
      <div class="d-flex flex-column flex-md-row flex-justify-between">
        <% page_data[:featured_stories].each do |story| %>
          <%= render Site::Contentful::CustomerStories::StoryPreviewComponent.new(story) %>
        <% end %>
      </div>
    <% end %>

    <div class="d-lg-flex flex-justify-between my-4 my-lg-6 ">
      <div>
        <h2
          id="<%= "browse" if has_stories %>"
          class="h5-mktg d-inline-block browse-customer-stories"
          <%= test_selector("customer-stories-category-section-heading") %>
        >
          <% if has_stories %>
            <%= stories_section_heading %>
          <% else %>
            We didn't get an exact match.
          <% end %>
        </h2>

        <% if !has_stories %>
          <p class="f3-mktg mt-1">
            Check out a few of our favorite <%= category_text %>stories.
          </p>
        <% end %>
      </div>

      <div <%= test_selector("customer-stories-filter-dropdown-menu") %> class="d-lg-inline-block pt-3 pt-lg-0">
        <% [:industry, :feature, :region, :size].each do |filter_type| %>
          <%= render Site::Contentful::CustomerStories::CategoryFilterComponent.new(category: params[:category], filter: filter_type, existing_params: filter_params) %>
        <% end %>
      </div>
    </div>

    <%= tag.hr if has_stories %>

    <%= render Site::Contentful::CustomerStories::StoryGridComponent.new(stories, id: "story-cards-grid", **test_selector_data_hash("category-story-card-grid")) %>

    <% if !has_stories %>
      <div class="d-flex flex-column flex-md-row flex-justify-between">
        <% page_data[:featured_stories].each do |story| %>
          <%= render Site::Contentful::CustomerStories::StoryPreviewComponent.new(story) %>
        <% end %>
      </div>
    <% end %>

    <% if show_load_more_button?(stories) %>
      <div class="col-12 d-flex flex-justify-center">
        <%= render Site::Contentful::CustomerStories::TurboPaginateButtonComponent.new(
          text: "View more stories",
          url: search_customer_stories_path(category: params[:category].titleize, offset: next_offset, target: "story-cards-grid", **filter_params),
          id: "load-more-stories-button",
          **test_selector_data_hash("load-more-stories-link")
        ) do %>
          <%= render Primer::Beta::Octicon.new(icon: "chevron-down") %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render Site::Contentful::CustomerStories::CardLinksSectionComponent.new(page_data[:card_links]) %>
