<div class="d-flex flex-items-center flex-justify-start" <%= test_selector("corp-sponsors-account-toggle") %>>
  <%= render Primer::Beta::Heading.new(
    tag: @header_tag,
    display: :inline_block,
    mr: 2,
    font_size: 5,
    font_weight: :normal,
    color: :muted,
  ).with_content(@sponsorship ? "Sponsoring as" : "Sponsor as") %>
  <% if accounts.count == 1 %>
    <div <%= test_selector("sponsor-account-#{accounts[0].display_login}") %>>
      <%= avatar_for @sponsor, 24, class: "avatar mr-2" %><span class="css-truncate css-truncate-target"><%= @sponsor.display_login %></span>
    </div>
  <% else %>
    <sponsors-account-switcher>
      <%= render(Primer::Alpha::ActionMenu.new(
        select_variant: :single,
        data: {
          target: "sponsors-account-switcher.actionMenu",
          hydro_click_payload: hydro_attrs["hydro-click"],
          hydro_click_hmac: hydro_attrs["hydro-click-hmac"],
        },
        test_selector: "account-switcher-menu",
      )) do |menu| %>
        <% menu.with_show_button(test_selector: "sponsor-avatar") do |button| %>
          <% button.with_trailing_action_icon(icon: :"triangle-down") %>
          <%= avatar_for @sponsor, 20, class: "avatar mr-1", aria: { hidden: true } %>
          <span class="css-truncate css-truncate-target"><%= @sponsor.display_login %></span>
        <% end %>
        <% accounts.each do |account| %>
          <%= menu.with_item(
            component_klass: Sponsors::AccountSwitcher::ItemComponent,
            sponsor: account,
            sponsorable: @sponsorable,
            is_selected: account.display_login == @sponsor.display_login,
            route: @route,
            path_params: path_params,
            form_data: @form_data,
            locked_sponsorship_exists_for_sponsor: locked_sponsorship_exists_for_sponsor?(account),
            method: @method,
          ) %>
        <% end %>
      <% end %>
    </sponsors-account-switcher>
  <% end %>
</div>
