<%= render(Primer::Alpha::ActionMenu.new) do |menu| %>
  <% menu.with_show_button do |button| %>
    <% button.with_trailing_visual_icon(icon: :"triangle-down", data: test_selector_hash("connect")) %>
    Connect
  <% end %>
  <% if (user_email = user.publicly_visible_email(logged_in: logged_in?)).present? %>
    <%= menu.with_item(
      tag: :a,
      href: "mailto:#{user_email}",
      content_arguments: {target: :_blank},
      data: test_selector_hash("email")
    ) do |item| %>
      <%= primer_octicon(:mail) %>
      <span class="ml-1">
        <%= user_email %>
      </span>
    <% end %>
  <% end %>
  <% shareable_social_accounts.each do |social_account| %>
    <%= menu.with_item(
      tag: :a,
      href: share_url_by_social_account(social_account),
      content_arguments: {target: :_blank},
      data: test_selector_hash(social_account.key)
    ) do |item| %>
      <%= social_account_icon(social_account) %>
        <span class="ml-1">
          <%= social_account.pretty_account_name.presence || social_account.url %>
        </span>
    <% end %>
  <% end %>
<% end %>
