<div class="Box mt-3 border-0" <%= test_selector("sponsors-dependencies-banner") %>>
  <div class="Box-row Box-row--gray d-flex flex-items-center flex-justify-between">
    <div class="d-flex flex-items-center">
      <span class="CircleBadge color-bg-sponsors-emphasis mr-3 avatar-6">
        <%= render(Primer::Beta::Octicon.new(icon: "heart-fill", color: :on_emphasis, height: 28, classes: "CircleBadge-icon")) %>
      </span>
      <p class="mb-0">
        <span class="d-block h5">Fund the work of developers and projects you rely on</span>
        <span class="d-block text-normal">
          <%= message_subject %> on
          <strong><%= social_count(@total_dependencies) %></strong>
          <%= "repository".pluralize(@total_dependencies) %>.
        </span>
      </p>
    </div>

    <%= link_to "Explore Sponsors", sponsors_explore_index_path, class: "btn", role: "button" %>
  </div>
</div>
