<%= render Primer::BaseComponent.new(
  tag: :div,
  classes: class_names("Box-footer flash-warn rounded-bottom-2", class_overrides),
  py: 2,
  pl: 0,
  test_selector: "pending-change-#{sponsorable.display_login}",
  **system_arguments
) do %>
  <div class="d-flex my-1 flex-items-baseline">
    <div class="pr-2 col-1 text-center text-small flex-items-center">
      <%= primer_octicon(:clock) %>
    </div>
    <div class="flex-auto text-small">
      <div class="mb-0">
        <%= pending_change_description %>

        <%= form_tag undo_pending_change_url, class: "inline-form", method: :delete do %>
          <%= render Primer::Beta::Button.new(
            scheme: :link,
            type: :submit,
            font_size: 6,
            mr: 2,
            data: {
              confirm: "Are you sure you want to cancel this pending sponsorship change?"
            }
          ).with_content("Undo") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
