<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box color-border-sponsors-emphasis mb-3 js-notice">
  <div class="Box-header color-border-sponsors-emphasis border-bottom-0 color-bg-default d-flex flex-items-center flex-justify-between">
    <h3 class="Box-title f3" <%= test_selector("potential-sponsorship-banner-title") %>>
      <%= emoji_tag(Emoji.find_by_alias("sparkling_heart"), class: "emoji v-align-baseline") %>
      <%= who_is_sponsoring %> would like to sponsor <%= who_would_be_sponsored %>!
    </h3>
    <% if !preview_mode? && potential_sponsorship.persisted? %>
      <%= form_tag potential_sponsorable_banner_path(potential_sponsorable, potential_sponsorship), method: :delete, class: "js-notice-dismiss" do %>
        <%= render Primer::Beta::CloseButton.new(type: :submit, aria: { label: "Dismiss this notice" }) %>
      <% end %>
    <% else %>
      <%= render Primer::Beta::CloseButton.new(type: :button, disabled: true, aria: { label: "Dismiss this notice" }) %>
    <% end %>
  </div>
  <div class="Box-body color-fg-muted f4 border-bottom-0 pt-0">
    <p class="<%= class_names("mb-0" => potential_sponsorship.message.blank?) %>" <%= test_selector("banner-context") %>>
      <%= standard_message %>
    </p>
    <% if potential_sponsorship.message.present? %>
      <h4 class="color-fg-default f4">More information from GitHub staff:</h4>
      <div <%= test_selector("potential-sponsorship-message") %>>
        <%= potential_sponsorship.message %>
      </div>
    <% end %>
  </div>
  <div class="Box-footer border-top-0 pt-0">
    <%= render Primer::ButtonComponent.new(
      tag: :a,
      href: call_to_action_url,
      test_selector: "sponsors-call-to-action",
    ).with_content(call_to_action_text) %>
  </div>
</div>
