<% if shareable_social_accounts.empty? %>
  <%= render(Sponsors::TwitterButtonComponent.new(
    sponsorable_login: sponsorable_login,
    text: text,
    url_params: url_params,
    data: @data,
    render_textarea: render_textarea,
    autofocus: @autofocus
  )) %>
<% else %>
  <share-button-text-handler style="display: contents">
    <% if render_textarea %>
      <textarea
        name="share-text"
        rows="3"
        class="form-control mb-3 width-full"
        aria-label="Share why you sponsor"
        data-target='share-button-text-handler.share_text'
        data-action="change:share-button-text-handler#updateText"
        required
        <% if @autofocus %>autofocus<% end %>
        <%= test_selector("sponsors-share-textarea") %>
      ><%= text %></textarea>
    <% else %>
      <%= hidden_field_tag("share-text", text, data: {target: 'share-button-text-handler.share_text'}) %>
    <% end %>

  <%= render(Primer::Alpha::ActionMenu.new(display: :inline_block)) do |menu| %>
    <% menu.with_show_button do |button| %>
      <% button.with_leading_visual_icon(icon: :share) %>
      <% button.with_trailing_visual_icon(icon: :"triangle-down") %>
      Share
    <% end %>

      <% shareable_social_accounts.each do |social_account| %>
        <%= menu.with_item(
          test_selector: social_account.key,
          data: @data
        ) do |item| %>
          <share-button-form-submit-handler>
            <%= form_with(
              method: :get,
              url: share_url_by_social_account(social_account),
              html: {target: "_blank"},
              data: {
                test_selector: "#{social_account.key}-form",
                target: "share-button-form-submit-handler.form",
                action: "click:share-button-form-submit-handler#submit"
              }
            ) %>
            <%= hidden_field_tag(
              social_account.is_a?(SocialAccounts::Facebook) ? :u : :url,
              sponsors_profile_url_by_social_account(social_account)
            ) %>
            <%= hidden_field_tag(:text, text, data: {targets: 'share-button-text-handler.text'}) %>
            <span class="ml-1">
              <%= social_account_icon(social_account) %>
              <%= social_account.pretty_account_name %>
            </span>
          </share-button-form-submit-handler>
        <% end %>
      <% end %>
    <% end %>
  </share-button-text-handler>
<% end %>
