<div class="mb-3 clearfix d-lg-block d-flex flex-column-reverse" <%= test_selector("sponsoring-header") %>>
  <p class="f4 color-fg-muted" <%= test_selector("sponsoring-header-text") %>>
  <% if user_or_org == current_user %>
    You
    <% if active_sponsoring_count.positive? %>
      are sponsoring <strong><%= number_with_delimiter active_sponsoring_count %></strong> <%= helpers.sponsoring_users_text(active_sponsoring_count) %>
      <%= "and" if inactive_sponsoring_count.positive? %>
    <% end %>
    <% if inactive_sponsoring_count.positive? %>
      have sponsored <strong><%= number_with_delimiter inactive_sponsoring_count %></strong>
      <%= helpers.sponsoring_users_text(inactive_sponsoring_count) if active_sponsoring_count.zero? %> in the past
    <% end %>
  <% else %>
    <span class="text-bold color-fg-default"><%= user_or_org.display_login %></span>
    <% if active_sponsoring_count.positive? %>
      is sponsoring <strong><%= number_with_delimiter active_sponsoring_count %></strong> <%= helpers.sponsoring_users_text(active_sponsoring_count) %>
      <% if inactive_sponsoring_count.positive? %>
        and
      <% end %>
    <% end %>
    <% if inactive_sponsoring_count.positive? %>
      has sponsored <strong><%= number_with_delimiter inactive_sponsoring_count %></strong>
      <%= helpers.sponsoring_users_text(inactive_sponsoring_count) if active_sponsoring_count.zero? %> in the past
    <% end %>
  <% end %>
  </p>

  <% if viewer_can_manage_sponsorships? %>
    <%= render Sponsors::PaypalDeprecationNoticeComponent.new(
      user_or_org: user_or_org,
      include_link: true,
      has_active_sponsorships: active_sponsoring_count > 0,
      mt: 3,
      mx: 3,
    ) %>
  <% end %>

  <%= render Sponsors::Shared::BillingLinkComponent.new(
    sponsor: user_or_org,
  ) %>

</div>
