<%= render link_component do %>
  <%= render icon_component %>
  <% unless hide_text? %>
    <span class="<%= span_classes %>" <%= test_selector("sponsor-button-text") %>>
      <%= button_text %>
    </span>
  <% end %>
<% end %>
