<tr class="py-1 px-0">
  <td class="sponsor-cell sponsor-row-number" <%= test_selector("sponsor-row-number") %>>
    <%= row_number %>
  </td>
  <td class="sponsor-cell col-5 col-lg-6 col-xl-7"  style="overflow-x: auto; min-width: 400px;" <%= test_selector("sponsorship-#{sponsorship.id}") %>>
    <div class="d-flex flex-items-center">
      <%= avatar_for(sponsor, 26, class: "circle") %>
      <div class="d-flex">
        <%= render Users::ProfileLinkComponent.new(user: sponsor, color: :default) do %>
          <span class="wb-break-word ml-2"><%= sponsor.display_login %></span>
        <% end %>
        <% if sponsorship.privacy_private? %>
          <%= render Primer::Beta::Label.new(
                scheme: :secondary,
                vertical_align: :middle,
                ml: 1,
                test_selector: "private-sponsorship-label",
                title: "Private: Only you can see that they're a sponsor").with_content("Private") %>
        <% end %>
      </div>
      <div class="ml-auto">
        <% if !sponsor.profile_social_accounts.nil? || sponsor.publicly_visible_email.present? %>
          <%= render Sponsors::ConnectComponent.new(
            user: sponsor,
          ) %>
        <% end %>
      </div>
    </div>
  </td>
  <td class="sponsor-cell" <%= test_selector("expected-income") %>>
    <%= number_to_currency(item_monthly_price, precision: 0) %>
  </td>
  <td class="sponsor-cell">
    <span <%= test_selector("tier-frequency-#{tier.id}") %>>
      <%= tier.one_time? ? "One time" : "Monthly" %>
    </span>
    <% if tier.custom? %>
      <span class="color-fg-muted" <%= test_selector("custom-tier-label") %>>
        (custom)
      </span>
    <% end %>
    <% if sponsorship.patreon? %>
      <span class="color-fg-muted" <%= test_selector("patreon-label") %>>
        (Patreon)
      </span>
    <% end %>
    <% if sponsorship.via_bulk_sponsorship? %>
      <%= link_to "#{GitHub.help_url}/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor#sponsoring-accounts-in-bulk", id: "bulk-sponsorship-link-#{sponsorship.id}" do %>
        <%= render Sponsors::BulkSponsorshipIconComponent.new %>
      <% end %>
      <%= render Primer::Alpha::Tooltip.new(
        text: "Via bulk sponsorship",
        for_id: "bulk-sponsorship-link-#{sponsorship.id}",
        type: :label,
        direction: :n,
        display: :inline_block,
        test_selector: "bulk-sponsorship-label",
      ) %>
    <% end %>
  </td>
  <td class="sponsor-cell" <%= test_selector("subscribable-selected-at") %>>
    <%= selected_at.strftime("%b %-d, %Y")%>
  </td>
</tr>
