<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="Box-row overflow-hidden flex-column" <%= test_selector("sponsorable-card") %>>
  <% if @repository_count %>
    <div class="d-flex mb-3 f5 flex-items-center">
      <%= primer_octicon(:"heart-fill", mr: 2, color: :muted) %>
      <span class="color-fg-muted" <%= test_selector("repo-count-subject-and-verb") %>>
        <%= repo_count_subject_and_verb(capitalize: true) %>
      </span>

      <%= render GitHub::DialogComponent.new(
        title: "Repository list",
        src: sponsorable_represented_dependencies_path(@login, filter_set.with(page: nil).query_args),
        body_classes: "p-0 color-fg-default",
        header_classes: "color-fg-default",
        dialog_classes: "overflow-hidden col-xl-4 col-lg-6 col-md-8",
      ) do |component| %><%# erblint:disable A11yDetailsDialogMigration %>
        <% component.with_summary do %>
          <%= render Primer::ButtonComponent.new(
            display: :inline_block,
            ml: 1,
            mr: 3,
            role: "button",
            tag: :summary,
            test_selector: "repo-count",
            scheme: :link,
            classes: "Link--secondary",
            font_weight: :bold,
          ).with_content(repo_count_phrase) %>
        <% end %>
        <% component.with_body do %>
          <include-fragment class="py-5 text-center" tabindex="0" autofocus>
            <div data-hide-on-error>
              <%= render Primer::Beta::Spinner.new(aria: { label: "Loading" }) %>
            </div>
            <div data-show-on-error hidden>
              Something went wrong.
              <%= render Primer::ButtonComponent.new("data-retry-button": "", scheme: :link, type: :submit) do %>Retry.<% end %>
            </div>
          </include-fragment>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="width-full d-flex">
    <%= link_to user_path(@login), data: @hovercard_data, class: "d-inline-block mr-3" do %>
      <%= image_tag(@avatar_url,
        width: 60,
        height: 60,
        class: "#{@avatar_classes} flex-shrink-0",
        alt: "@#{@login}") %>
    <% end %>

    <div class="flex-auto col-8">
      <div class="d-flex flex-items-center flex-justify-between flex-wrap">
        <h3 class="css-truncate">
          <%= link_to @login, user_path(@login), data: @hovercard_data, class: "Link--primary css-truncate-target", style: "max-width: 354px" %>
          <% if repo? %>
            <span> / </span>
            <%= link_to @repo_name, @repo_url, class: "Link--primary css-truncate-target", style: "max-width: 354px" %>
          <% end %>
        </h3>

        <%= render Sponsors::SponsorButtonComponent.new(
          sponsorable: @login,
          is_sponsoring: @is_sponsoring,
          location: @sponsor_button_location,
          sponsor_login: login_to_sponsor_as,
        ) %>
      </div>

      <% if @description.present? %>
        <p class="f5 mt-1 mb-3 mr-6 col-10">
          <%= @description %>
        </p>
      <% end %>

      <div class="text-small color-fg-muted mt-1 d-flex flex-items-center">
        <% if @repo_url && @star_count && @star_count > 0 %>
          <a class="Link--muted" href="<%= @repo_url %>/stargazers">
            <%= render Primer::Beta::Octicon.new(icon: "star-fill") %>
            <%= social_count(@star_count) %>
          </a>
          <span class="mx-2 text-bold d-inline-block">&middot;</span>
        <% end %>

        <% if @primary_language %>
          <%= render(Languages::BadgeComponent.new(
            name: @primary_language,
            display: :inline_block,
            mr: 3,
          )) %>
        <% end %>

        <% if sponsor? %>
          <div class="d-inline-block mr-3" <%= test_selector("sponsors") %>>
            <%= link_to user_path(@sponsor_login), data: @sponsor_hovercard_data, class: "Link--secondary" do %>
              <%= image_tag(@sponsor_avatar_url,
                width: 16,
                height: 16,
                class: @sponsor_avatar_classes,
                alt: "@#{@sponsor_login}",
              ) %>
              <span class="d-inline-block ml-1"><%= @sponsor_login %></span>
            <% end %>
            <% if @total_sponsors > 1 %>
              and <span class="color-fg-muted"><%= @remaining_sponsor_count %></span>
              <%= "other".pluralize(@remaining_sponsor_count) %> sponsor<% if @total_org_sponsors >= 1 %>, including <%= helpers.social_count @total_org_sponsors %> <%= "organization".pluralize(@total_org_sponsors) %><% end %>
            <% else %>
              sponsors
            <% end %>
          </div>
        <% end %>

        <% if @repo_id %>
          <%= render GitHub::BatchDeferredContentComponent.new(
            url: sponsors_explore_dependency_uses_path(filter_set.query_args),
            inputs: { dependency_id: @repo_id },
          ) %>
        <% end %>
      </div>

      <div class="d-flex flex-items-center mt-2">
        <%= render Sponsors::GoalProgressBarComponent.new(active_goal: @active_goal) %>
      </div>
    </div>
  </div>
</div>
