<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Flash.new(
  scheme: :warning,
  full: true,
  test_selector: "sponsors-staff-view-banner",
) do %>
  <div class="container-lg p-responsive">
    <%= primer_octicon(:eye, mr: 1) %>
    <span <%= test_selector("sponsors-staff-view-banner-text") %>>
      This is a staff view of <%= account_login %>&rsquo;s GitHub Sponsors <%= page_name %>.
    </span>
  </div>
<% end %>
