<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Trigger Azure Emission" %>
<%= render layout: "stafftools/stafftools" do %>

  <%= render(Primer::Beta::Flash.new(scheme: :warning, icon: "alert")) do %>
    Warning: This page is not for viewing Azure emissions but rather for manually re-triggering them.
  <% end %>

  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Trigger Azure Emission
    <% end %>
    <% component.with_description do %>
      This tool is to trigger azure emissions to the billing platform. Specify an emission date between yesterday and up to 9 days ago.
      If it is the first or second day of a new month the emission date will be limited up to 48 hours ago.

      Monitor azure emissions via the
      <%= link_to("dashboard", "https://app.datadoghq.com/dashboard/aa7-aid-znj?from_ts=1688645334672&to_ts=1689250134672&live=true", class: "Link--inTextBlock") %>
    <% end %>
  <% end %>

  <%= form_tag stafftools_billing_trigger_azure_emission_trigger_emission_path, :method => :get do %>
    <div class="form-group">
      <div class="form-group">
        <div class="form-group-header">
          <%= label_tag "emission_date", "Select an emission date" %>
        </div>
        <div class="form-group-body">
          <% min_date_utc = (Time.now.utc.day == 1 || Time.now.utc.day == 2) ? Time.now.utc - 2.days : Time.now.utc - 9.days %>
          <%= date_field_tag :emission_date, '', max: (Time.now.utc - 1.day).strftime("%Y-%m-%d"), min: min_date_utc.strftime("%Y-%m-%d"), required: true %>
        </div>
      </div>
    </div>

    <%= submit_tag "Trigger Emission", class: "btn btn-danger", data: { confirm: 'Are you sure you want to manually re-run emissions?' } %>
  <% end %>
<% end %>
