<div class="container-lg p-responsive overflow-hidden" <%= test_selector("contentful-diversity-report-body-component") %>>
  <div class="f3-mktg mt-8 mb-2">
    <% @text_with_media_sections.each do |section| %>
      <%= render Site::Contentful::Report::TextWithMediaComponent.new(
        **section.fields.slice(:id, :heading, :image_components, :link_components, :audio_component, :audio_transcript_file_name),
        text: section.text_markdown,
        audio_description: section.audio_description_markdown,
      ) %>
    <% end %>
  </div>

  <% if @page_break_image.present? && @page_break_text.present? %>
    <div class="mb-10 p-3 p-lg-6 box-shadow-default-mktg rounded-2">
      <%= render Site::ContentfulImageComponent.new(
        src: @page_break_image.url,
        alt: @page_break_image.description,
        classes: "width-fit height-auto mb-3",
        width: 1600,
        height: 255,
        ) %>

      <p class="col-md-11 mx-auto f3-mktg text-center">
        <%= @page_break_text %>
      </p>
    </div>
  <% end %>

  <% if @by_the_numbers_sections.present? && @by_the_numbers_intro.present? %>
    <div class="mt-3 mb-8" id="by-the-numbers">
      <h2 class="h3-mktg mb-3">GitHub by the numbers</h2>
      <p class="col-sm-10 col-md-12 mb-3 f3-mktg text-gray-mktg">
        <%= @by_the_numbers_intro %>
      </p>
    </div>

    <% @by_the_numbers_sections.each do |by_the_numbers_section| %>
      <%= render Site::Contentful::Report::ByTheNumbersComponent.new(
        **by_the_numbers_section.fields.slice(:id, :segmented_content),
        heading: by_the_numbers_section.fields[:heading_markdown],
        subheading: by_the_numbers_section.fields[:subheading_markdown],
        text: by_the_numbers_section.fields[:text_markdown],
      ) %>
    <% end %>

    <div class="mb-8 f2">
      <% if @page_wrap_up_text.present? %>
        <%= GitHub::Goomba::MarkdownPipeline.to_html(@page_wrap_up_text) %>
      <% else %>
        It has been an exciting year of growth, and our commitment is to continue our intentional approach to represent the global developer community. Because GitHub is the home for all developers—where people with different backgrounds and experiences can thrive.
      <% end %>
    </div>

    <div class="mb-8 mb-md-12 f5-mktg color-fg-muted f5-mktg text-italic border-top color-border-muted pt-4 col-md-9">
      <% if @page_footnote_pre_text.present? %>
        <%= GitHub::Goomba::MarkdownPipeline.to_html(@page_footnote_pre_text) %>
      <% else %>
        <p>This data reflects the state of diversity at GitHub as of June 30, 2021, unless otherwise noted.</p>
      <% end %>

      <ol class="pl-4">
        <% @by_the_numbers_sections.each do |by_the_numbers_section| %>
          <% if by_the_numbers_section.fields[:footnote_id].present? %>
            <li>
              <p id="<%= by_the_numbers_section.fields[:footnote_id] %>">
                <%= by_the_numbers_section.fields[:footnote] %>
              </p>
            </li>
          <% end %>
        <% end %>
      </ol>

      <% if @page_footnote_post_text.present? %>
        <%= GitHub::Goomba::MarkdownPipeline.to_html(@page_footnote_post_text) %>
      <% else %>
        <p>We reserve the right to supplement data in this report with additional information throughout the year to keep it updated and relevant. Historical numbers may differ slightly due to rounding and refinements in methodology year over year.</p>
      <% end %>
    </div>
  <% end %>

  <div class="my-10 p-3 p-lg-6 box-shadow-default-mktg rounded-2 text-center">
    <h2 class="h3-mktg mb-4">
      <% if @page_footer_cta_title.present? %>
        <%= GitHub::Goomba::SimplePipeline.to_html(@page_footer_cta_title) %>
      <% else %>
        Join us to build the home of all&nbsp;developers
      <% end %>
    </h2>

    <p class="col-md-11 mx-auto">
      <%= render Site::ButtonComponent.new(text: @page_footer_cta_text, arrow: true, url: @about_careers_path, size: :large,
          data: analytics_click_attributes(
            category: "Footer CTA",
            label: "ref_page:#{request.fullpath}",
            action: "click to #{@page_footer_cta_text}")
        ) %>
    </p>
  </div>
</div>
