<%= content_tag(:h3, class: "h5-mktg mb-3 diversity-report-by-the-numbers-title", id: @id) do %>
  <%= GitHub::Goomba::SimplePipeline.to_html(@heading) %>
<% end %>

<div class="d-lg-flex mb-8 gutter" <%= test_selector "contentful-diversity-report-by-the-numbers-component" %>>
  <div class="col-lg-7">
    <% if @subheading.present? %>
      <div class="f2-mktg pr-lg-6">
        <%= GitHub::Goomba::MarkdownPipeline.to_html(@subheading) %>
      </div>
    <% end %>

    <div class="pr-3 f3-mktg">
      <%= GitHub::Goomba::MarkdownPipeline.to_html(@text) %>
    </div>
  </div>

  <segmented-nav class="col-lg-5">
    <%= render Site::Contentful::Report::SegmentedContentComponent.new(segments: @segmented_content, label: @heading) %>
  </segmented-nav>
</div>
