<div class="color-fg-on-emphasis position-relative" <%= mktg_color_theme_attributes %> <%= test_selector("contentful-diversity-report-header-component") %>>
  <%= render Site::ContentfulImageComponent.new(
    src: @hero_image.url,
    width: 100,
    height: 56,
    classes: "position-absolute width-full height-full top-0 left-0",
    lazy: false,
    photo: false,
    alt: "",
    style: "object-fit: cover; opacity: 0.5;",
  ) %>

  <div class="position-relative z-1">
    <div class="container-xl p-responsive pt-4">
      <%= render(Primer::Beta::Breadcrumbs.new) do |component| %>
        <% @breadcrumbs.breadcrumbs_list.map do |breadcrumb| %>
          <% component.with_item(href: breadcrumb[:href]) { breadcrumb[:text] } %>
        <% end %>
        <% component.with_item(href: request.path, color: :default) { @breadcrumbs.fields[:current_page] } %>
      <% end %>
    </div>
    <div class="p-responsive">
      <%= render Site::HeroComponent.new(
        **@hero.fields.slice(:header, :text),
        ctas: convert_keys_for_cta(@hero.fields[:ctas]),
      ) %>
    </div>
  </div>
</div>
