
<%= content_tag(:div, class: @image_components.present? ? "mb-8 d-flex flex-wrap diversity-report-text-with-media" : "mb-8 d-lg-flex diversity-report-text-with-media", id: @id, data: {"test-selector": "contentful-diversity-report-year-in-component"}) do %>
  <%= content_tag(:div, class: @image_components.present? ? "col-lg-9 mb-4 mb-lg-0" : "col-lg-10") do %>
    <h2 class="h4-mktg mb-3">
      <%= @heading %>
    </h2>

    <%= content_tag(:div, class: class_names("mb-4": @audio_component.present?, "mb-2": @link_components.present? && !@audio_component.present?)) do %>
      <%= GitHub::Goomba::MarkdownPipeline.to_html(@text) %>

      <% if @audio_component.present? %>
        <div class="d-block d-lg-flex flex-row flex-items-center gutter gutter-spacious mb-4">
          <div class="col-lg-7">
            <div class="rounded-2 px-4 py-4 py-sm-6 py-lg-10">
              <%= render Site::AudioPlayerComponent.new(
                 src: @audio_component.src,
                 title: @audio_component.track_name,
                 mobile_layout_only: @audio_component.mobile_layout_only,
                 download_src: @audio_component.src
               ) %>
            </div>
          </div>

          <div class="col-lg-5 mt-5 mt-lg-0">
            <h3 class="h4-mktg"><%= @audio_component.track_name %></h3>
            <p class="mt-2">
              <%= GitHub::Goomba::SimplePipeline.to_html(@audio_description) %>
            </p>
            <%= render @audio_transcript_file_name %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @link_components.present? %>
      <% @link_components.each do |link_component| %>
        <%= render Site::LinkComponent.new(
          **link_component.fields.slice(:text, :classes, :url, :underlined),
          size: link_component.size.to_sym,
        ) %>
      <% end %>
    <% end %>
  <% end %>

  <% if @image_components.present? %>
    <div class="col-lg-3 flex-self-center text-right d-flex flex-column position-relative mb-4 mb-lg-0">
      <% @image_components.each do |image_component| %>
        <%= render Site::ContentfulImageComponent.new(
          **image_component.fields.slice(:alt, :height, :width, :classes, :lazy, :style),
          src: image_component.file.url,
        ) %>
      <% end %>
    </div>
  <% end %>
<% end %>
