<% if topic.created_by.present? || topic.released.present? %>
  <% if topic.created_by.present? %>
    <p class="mb-1">
      <span class="color-fg-muted">Created by</span> <%= topic.created_by %>
    </p>
  <% end %>

  <% if topic.released.present? %>
    <p class="mb-1">
      <span class="color-fg-muted">Released</span> <%= topic.released %>
    </p>
  <% end %>

  <% if latest_release = topic.latest_release(current_user) %>
    <p class="mb-1">
      <span class="color-fg-muted">Latest release</span>
      <a href="<%= "#{topic.github_url}/releases/latest" %>" alt="Latest release">
        <%= topic.formatted_days_since(latest_release) %>
      </a>
    </p>
  <% end %>
<% end %>

<dl class="my-4">
  <dt class="d-none">
    Followers
  </dt>
  <dd class="mb-1 color-fg-muted">
    <%= primer_octicon(:people, "aria-label": "Topic followers", mr: 1) %>
    <%= topic_followers_formatted(topic) %>
  </dd>

  <% if topic.github_url.present? %>
    <dt class="d-none">
      <% if topic.github_url_is_repository? %>
        Repository
      <% else %>
        Organization
      <% end %>
    </dt>
    <dd class="mb-1">
      <% if topic.github_url_is_repository? %>
        <%= primer_octicon(:repo, color: :muted, mr: 1) %>
      <% else %>
        <%= primer_octicon(:organization, color: :muted, mr: 1) %>
      <% end %>
      <a href="<%= topic.github_url %>" aria-label="<%= formatted_url_path(topic.github_url) %>">
        <span
          class="css-truncate css-truncate-target"
        >
          <%= formatted_url_path(topic.github_url) %>
        </span>
      </a>
    </dd>
  <% end %>

  <% if topic.url.present? %>
    <dt class="d-none">
      Website
    </dt>
    <dd class="mb-1">
      <%= primer_octicon(:link, color: :muted, mr: 1) %>
      <a href="<%= topic.url %>" aria-label="<%= url_without_scheme(topic.url.to_s) %>">
        <span
          class="css-truncate css-truncate-target"
        >
          <%= url_without_scheme(topic.url.to_s) %>
        </span>
      </a>
    </dd>
  <% end %>

  <% if topic.wikipedia_url.present? %>
    <dt class="d-none">
      Wikipedia
    </dt>
    <dd class="mb-1">
      <%= primer_octicon(:link, color: :muted, mr: 1) %>
      <a href="<%= topic.wikipedia_url %>" aria-label="<%= url_without_scheme(topic.wikipedia_url.to_s) %>">
        <span
          class="css-truncate css-truncate-target"
        >
          Wikipedia
        </span>
      </a>
    </dd>
  <% end %>
</dl>

<% if topic.related_topics.present? %>
  <h2 class="h4 mb-2">
    Related Topics
  </h2>
<% end %>

<% topic.related_topics.each do |related_topic| %>
  <%=
    render(Topics::TagComponent.new(
      font_size: 6,
      href: topic_show_path(related_topic.name),
      my: 1,
      name: related_topic.name,
      title: "Topic: #{related_topic.name}",
    ))
  %>
<% end %>
