<%
  page_info(
    title: "#{topic.safe_display_name} · GitHub Topics",
    stafftools: stafftools_topic_path(topic.name)
  )
%>

<% if user_feature_enabled?(:topic_feeds) %>
  <template hidden class="js-topic-feeds-toast">
    <%= render partial: "shared/toast", locals: { text: "You're following {topic_display_name} on your feed.", dismissable: false, state: "success", icon: "check", action: {
      text: 'Go to feed',
      href: dashboard_path(topic: "{topic_name}"),
    } } %><%# erblint:disable A11yToastMigration %>
  </template>
<% end %>

<% if user_feature_enabled?(:topic_feeds) && params[:topics_query] %>
  <div class="container-lg mt-4 p-responsive">
    <%= render(Primer::Beta::Button.new(
      tag: :a,
      scheme: :link,
      color: :muted,
      test_selector: 'back-to-topic-feeds',
      href: dashboard_path(view: :topics, topics_query: params[:topics_query]))) do |component| %>
      <% component.with_leading_visual_icon(icon: :"arrow-left") %>
      Topics
    <% end %>
  </div>
<% end %>

<div class="container-lg p-responsive py-5">
  <div class="gutter-md">
    <div class="col-lg-9 col-md-8 d-flex flex-items-center mb-3 mb-sm-0">
      <div class="d-flex flex-1">
        <div
          class="border color-border-subtle color-bg-accent f4 color-fg-muted text-bold rounded flex-shrink-0 text-center mr-3"
          style="width: 48px; height: 48; line-height: 48px;"
        >
          #
        </div>

        <h1 class="h1">
          <%= topic.safe_display_name %>
        </h1>
      </div>

      <topic-feeds-toast-trigger data-topic-display-name="<%= topic.safe_display_name %>" data-topic-name="<%= topic.name %>">
        <%= render Stars::ButtonComponent.new(entity: topic, context: "topic") do |button| %>
          <% if user_feature_enabled?(:topic_feeds) %>
            <%= button.with_starred_state do %>
              Unfollow
            <% end %>
            <%= button.with_unstarred_state do %>
              Follow
            <% end %>
          <% end %>
        <% end %>
      </topic-feeds-toast-trigger>
    </div>
  </div>
</div>
