<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div>
  <% topic_results.each do |topic| %>
    <div class="py-4 border-bottom d-flex flex-justify-between">
      <a href="<%= topic_show_path(topic) %>" class="no-underline flex-grow-0">
        <% if topic.logo_url %>
          <img
            src="<%= topic.logo_url %>"
            class="rounded mr-3"
            width="64"
            height="64"
            alt="<%= topic.name %>"
          >
        <% else %>
          <div
            class="color-bg-accent f4 color-fg-muted text-bold rounded mr-3 flex-shrink-0 text-center"
            style="width:64px; height:64px; line-height:64px;"
          >
            #
          </div>
        <% end %>
      </a>
      <a href="<%= topic_show_path(topic) %>" class="no-underline flex-1 d-flex flex-column">
        <p class="f3 lh-condensed mb-0 mt-1 Link--primary"><%= topic.safe_display_name %></p>
        <p class="f5 color-fg-muted mb-0 mt-1">
          <%= truncate(topic.short_description, length: 160) %>
        </p>
      </a>
      <div class="flex-grow-0">
        <%= render Stars::ButtonComponent.new(entity: topic, context: "topic") %>
      </div>
    </div>
  <% end %>
</div>
<% if topic_results.next_page.present? %>
  <%= form_tag topics_path, method: :get, class: "ajax-pagination-form js-ajax-pagination" do %>
    <input name="page" type="hidden" value="<%= topic_results.next_page %>">
    <button
      type="submit"
      class="ajax-pagination-btn btn mt-4 py-2 color-border-default f6 width-full"
      data-disable-with="Loading more&hellip;"
    >
      Load more&hellip;
    </button>
  <% end %>
<% end %>
