<%# erblint:counter DeprecatedComponentsCounter 1 %>

<% if repository_results.total > 0 %>
  <h2 class="h3 color-fg-muted">
    <%= "Here is".pluralize(repository_results.total) %>
    <%= pluralize(
      number_with_delimiter(repository_results.total),
      "public repository",
    ) %>
    matching this topic...
  </h2>
<% end %>

<div class="d-sm-flex">
  <% if language_aggregates.size > 1 %>
    <details class="details-reset details-overlay mt-2 mr-3 select-menu">
      <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button") do %>
        <i>Language:</i>
        <span data-menu-button><%= get_selected_language(language) %></span>
      <% end %>
      <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-header">
          <span class="select-menu-title">Filter by language</span>
        </div>
        <div class="select-menu-list">
          <%= search_language_menu_item(nil, language) do %>
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <span class="select-menu-item-text d-flex flex-justify-between" data-menu-button-text>
              All
              <span><%= number_with_delimiter(all_repository_count_for_languages) %></span>
            </span>
          <% end %>
          <% language_aggregates.each do |language_aggregate| %>
            <%= search_language_menu_item(language_aggregate.language.name, language) do %>
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text d-flex flex-justify-between" data-menu-button-text>
                <%= language_aggregate.language.name %>
                <span><%= number_with_delimiter(language_aggregate.count) %></span>
              </span>
            <% end %>
          <% end %>
        </div>
      </details-menu>
    </details>
  <% end %>

  <%= render Topics::SortComponent.new(
    result_count: repository_results.total,
    sort: sort,
    direction: direction,
  ) %>
</div>
<%= render(
  "topics/paginated_repositories",
  repository_results: repository_results,
  topic: topic,
  sponsorability_by_repo_id: sponsorability_by_repo_id,
  sponsoring_status_by_repo_id: sponsoring_status_by_repo_id
) %>
