<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<li class="col-12 col-sm-6 col-md-4 mb-4">
  <div class="topic-box position-relative hover-grow height-full text-center border color-border-muted rounded color-bg-default p-5">
    <%= render "stars/star_topic_box_button", topic: topic %>

    <a
      href="<%= topic_show_path(topic) %>"
      class="no-underline d-flex flex-column flex-justify-center"
      data-ga-click="Explore, go to topic, text:<%= topic.name %>; location:boxes"
    >
      <% if topic.logo_url %>
        <img
          src="<%= topic.logo_url %>"
          width="64"
          height="64"
          class="mx-auto rounded mb-3"
          alt="<%= topic.name %>"
        >
      <% end %>
      <p class="f3 lh-condensed text-center Link--primary mb-0 mt-1">
        <%= topic.safe_display_name %>
      </p>
      <p class="f5 color-fg-muted text-center mb-0 mt-1"><%= topic.short_description %></p>
    </a>
  </div>
</li>
