<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%
  instrument_explore_page_view(user: current_user, visitor: current_visitor)
  language_aggregates = repository_results.languages
  page_info(
    title: "#{topic.name} · GitHub Topics",
    container_xl: spotlights.any? || events.any?,
    stafftools: stafftools_topic_path(topic.name),
    breadcrumb_owner: :explore,
    breadcrumb_object: topic
  )
%>

<% if user_feature_enabled?(:topic_feeds) %>
  <% if !params.has_key?(:topics_query) %>
    <%= render(Explore::NavComponent.new) %>
  <% end %>
<% else %>
  <%= render(Explore::NavComponent.new) %>
<% end %>

<div>
  <%= render "topics/default_header", topic: topic %>

  <div class="<%= class_names(
    "topic",
    "p-responsive",
    "container-xl" => (spotlights.any? || events.any?),
    "container-lg" => (!spotlights.any? && !events.any?),
  ) %>">
    <div class="d-md-flex gutter-md">
      <div class="col-md-8 col-lg-9" data-hpc>
        <% if topic.or_alias_source.curated? %>
          <%= render "topics/summary", topic: topic.or_alias_source %>
        <% end %>
        <% if topic_feeds_enabled? %>
          <%= render(Primer::Alpha::UnderlinePanels.new(label: "With panels")) do |component| %>
            <% component.with_tab(id: "tab-1", selected: true) do |tab| %>
              <% tab.with_text do %>
                <%= render(Primer::Beta::Octicon.new(icon: "rss", mr: 1)) %>
                Activity
              <% end %>
              <% tab.with_panel do %>
                <%= render partial: "dashboard/include_for_you_feed", locals: {
                    url: conduit_topic_feeds_path(topic: topic.name)
                  }
                %>
              <% end %>
            <% end %>
            <% component.with_tab(id: "tab-2") do |tab| %>
              <% tab.with_text do %>
                <%= render(Primer::Beta::Octicon.new(icon: "repo", mr: 1)) %>
                Repositories
              <% end%>
              <% tab.with_panel do %>
                <div class="mt-4">
                  <%=
                    render "topics/results", {
                      repository_results:,
                      all_repository_count_for_languages:,
                      language_aggregates:,
                      topic:,
                      sort:,
                      language:,
                      sponsorability_by_repo_id:,
                      sponsoring_status_by_repo_id:,
                      direction:,
                    }
                  %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <%=
            render "topics/results", {
              repository_results:,
              all_repository_count_for_languages:,
              language_aggregates:,
              topic:,
              sort:,
              language:,
              sponsorability_by_repo_id:,
              sponsoring_status_by_repo_id:,
              direction:,
            }
          %>
        <% end %>
      </div>

      <div class="col-md-4 col-lg-3">
        <% if topic.or_alias_source.curated? %>
          <%= render "topics/curated_aside", topic: topic.or_alias_source %>
        <% end %>

        <% if spotlights.any? || events.any? %>
          <%= render(Explore::Spotlight::RelatedListComponent.new(spotlights: spotlights)) %>
          <%= render(Explore::Event::RelatedListComponent.new(events: events)) %>
        <% end %>

        <% if GitHub.marketplace_enabled? && marketplace_listings.any? %>
          <div class="mb-6">
            <h2 class="h6 text-uppercase border-bottom pb-5 pb-md-3"><%= marketplace_category.name %> apps</h2>

            <!--// Up to four apps listed here //-->
            <% marketplace_listings.each do |listing| %>
              <article class="d-flex my-4">
                <div class="mr-3">
                  <%
                    hydro_tracking = hydro_click_tracking_attributes(
                      "marketplace_listing_click",
                      marketplace_listing_id: listing.id,
                      location: "topics_show",
                      source_url: request.url,
                      destination_url: marketplace_listing_url(listing)
                    )
                  %>
                  <% if listing.logo_url %>
                    <%= link_to(
                      marketplace_listing_path(listing),
                      data: hydro_tracking,
                      class: "CircleBadge CircleBadge--small",
                      style: "background-color: ##{listing.bgcolor};",
                    ) do %>
                      <img
                        src="<%= listing.logo_url %>"
                        alt="<%= listing.name %> logo"
                        class="CircleBadge-icon"
                        width="48"
                      >
                    <% end %>
                  <% end %>
                </div>
                <div>
                  <h1 class="h4">
                    <%= link_to(
                      listing.name,
                      marketplace_listing_path(listing),
                      data: hydro_tracking,
                    ) %>
                  </h1>
                  <p class="color-fg-muted"><%= listing.short_description %></p>
                </div>
              </article>
            <% end %>

            <% if marketplace_listings.size > 4 %>
              <a
                href="<%= marketplace_category_path(marketplace_category) %>"
                class="f6 Link--secondary"
              >
                See more <%= marketplace_category.name %> apps
              </a>
            <% end %>
          </div>
        <% end %>

        <% unless topic.or_alias_source.curated? %>
          <div class="mb-6">
            <h2 class="h4 mb-2">
              Improve this page
            </h2>

            <p class="color-fg-muted">
              Add a description, image, and links to the
              <span class="text-bold"><%= topic.name %></span>
              topic page so that developers can more easily learn about it.
            </p>

            <p>
              <a
                href="<%= tree_url(
                  repository: "explore",
                  user_id: "github",
                  name: "master/CONTRIBUTING.md",
                  source: "add-description-#{topic.name}",
                ) %>"
                data-ga-click="Explore, add description, text:add description"
              >
                Curate this topic
                <%= primer_octicon(:"chevron-right", ml: 1) %>
              </a>
            </p>
          </div>

          <div class="mb-6">
            <h2 class="h4 mb-2">
              Add this topic to your repo
            </h2>

            <p class="color-fg-muted">
              To associate your repository with the
              <span class="text-bold"><%= topic.name %></span>
              topic, visit your repo's landing page and select "manage topics."
            </p>

            <p>
              <a href="<%= GitHub.help_url %>/en/articles/classifying-your-repository-with-topics">
                Learn more
                <%= primer_octicon(:"chevron-right", ml: 1) %>
              </a>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
