<%# erblint:counter ButtonComponentMigrationCounter 2 %>

<% sidebar_url = editor_dev_containers_show_url(feature_id: Base64.encode64(id)) %>

<div class="d-flex flex-items-start mb-4 js-devcontainer-editor-sidebar-feature"
      devcontainer-editor-sidebar-feature-search-tag="<%= name %>"
      >
  <button class="text-left btn-link no-underline"
          type="button">
        <div class="CircleBadge CircleBadge--small" style="color: blue; background-color: var(--bgColor-white, var(--color-scale-white)); width: 32px; height: 32px;">
            <img class="CircleBadge-icon" src="<%= image_path "icons/packages/container.svg" %>" alt="<%= name %> logo">
        </div>
  </button>

  <div class="pl-3 flex-auto flex-items-start">
    <button class="ws-normal lh-condensed mb-1 h5 text-left btn-link no-underline Link--primary"
            type="button"
            <%= test_selector("feature-name") %>
            devcontainer-editor-sidebar-url="<%= sidebar_url %>">

      <%= name %>
      <% if owner_login.present? %>
        <p class="color-fg-muted text-normal text-small lh-condensed mb-0">By <span class="color-fg-muted"><%= owner_login %></span>
          <% if owner_login == "devcontainers" %>
            <span>
              <%= primer_octicon(:verified, color: :accent) %>
            </span>
          <% end %>
        </p>
      <% end %>
    </button>
    <p class="color-fg-muted lh-condensed mb-0 ws-normal"><%= description %></p>
  </div>
</div>
