<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
  container_xl: true,
  title: "Update #{view.app_display_name} secret #{secret.name} · #{current_repository.name}",
  selected_link: view.selected_link %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new(display: :flex, justify_content: :space_between) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= repository_secrets_path(app_name: view.app_name) %>">
        <%= view.page_title %>
      </a> / Update secret
      <% end %>
  <% end %>

  <code class="f3 color-fg-default" <%= test_selector("secret-name") %>><%= secret.name %></code>
  <%= form_tag repository_update_secret_path(name: secret.name, app_name: view.app_name),
    class: "d-flex flex-column js-encrypt-submit",
    "data-public-key" => public_key[1],
    method: :put do %>
    <div class="form-group">
      <div class="form-group-header">
        <label for="secret_value">Value</label>
      </div>
      <div class="form-group-body">
        <textarea required type="text" name="secret_value" id="secret_value" class="form-control width-full"></textarea>
        <input type="hidden" name="encrypted_value">
        <input type="hidden" name="key_id" value="<%= public_key[0] %>">
      </div>
    </div>
    <div class="form-group">
      <%= render Primer::ButtonComponent.new("data-disable-with": "Updating…", "data-sudo-required": true, "data-disable-invalid": "", type: :submit, scheme: :primary) do %>Update secret<% end %>
    </div>
  <% end %>
<% end %>
