<% page_info \
  container_xl: true,
  title: "Add #{view.app_display_name} secret · #{current_repository.name_with_display_owner}",
  selected_link: view.selected_link %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= repository_secrets_path(app_name: view.app_name) %>">
        <%= view.page_title %>
      </a> / New secret
    <% end %>
  <% end %>
  <%=
    primer_form_with(
      class: "js-encrypt-submit",
      data: { "public-key" => public_key[1] },
      url: repository_add_secret_path(app_name: view.app_name),
      method: :post
    ) do |f|
      render(Actions::Secrets::AddSecretForm.new(f, key_id: public_key[0]))
    end
  %>
<% end %>
