<topic-feeds-toast-trigger data-topic-display-name="<%= topic.safe_display_name %>" data-topic-name="<%= topic.name %>">
  <%= render Primer::BaseComponent.new(tag: :div,
    px: 2,
    py: 3,
    bottom_border: true,
    display: :flex,
    flex_items: :start,
    **system_arguments
  ) do %>
    <a href="<%= topic_show_path(topic, topics_query: query) %>" class="no-underline flex-grow-0 cursor-pointer">
      <% if topic.logo_url %>
        <img
          src="<%= topic.logo_url %>"
          class="rounded-1 mr-3"
          width="65"
          height="65"
          alt="<%= topic.name %>"
          <%= test_selector('topic-feeds-item-logo') %>
        >
      <% else %>
        <div
          class="color-bg-accent f4 color-fg-muted text-bold rounded-1 mr-3 flex-shrink-0 text-center"
          style="width:64px; height:64px; line-height:64px;"
        >
          #
        </div>
      <% end %>
    </a>
    <div class="flex-1 d-flex flex-column">
      <a href="<%= topic_show_path(topic, topics_query: query) %>" class="no-underline cursor-pointer mb-2" <%= test_selector("topic-feeds-item-link") %> <%= safe_data_attributes(link_hydro_data) %>>
        <p <%= test_selector("topic-feeds-item-name") %> class="f5 text-bold lh-condensed mb-1 color-fg-accent"><%= topic.safe_display_name %></p>
        <p class="f5 color-fg-muted mb-0 pr-4" <%= test_selector("topic-feeds-item-description") %>><%= truncate(topic.short_description, length: 160) %></p>
      </a>
      <p class="mb-0 f6 color-fg-muted">
        <%= follower_count_text %>
      </p>
    </div>
    <div class="flex-grow-0">
      <%= render Stars::ButtonComponent.new(
        entity: topic,
        context: "topic",
        hide_text_on_desktop: true,
        hide_text_on_mobile: true,
        colorful: true,
        data: {
          test_selector: "topic-feeds-item-star"
        }.merge(star_hydro_data)
      ) do |button| %>
        <% button.with_starred_state do %>
          Unfollow
        <% end %>
        <% button.with_unstarred_state do %>
          Follow
        <% end %>
      <% end %>
    </div>
  <% end %>
</topic-feeds-toast-trigger>
