<%= render Primer::Box.new(test_selector: TEST_SELECTOR, mb: 4) do %>
  <%= render Primer::Beta::Subhead.new(hide_border: true, mb: 2) do |component| %>
    <% component.with_heading(font_size: 3, mb: 2) do %>
      Dependency Insights
    <% end %>
    <% component.with_description do %>
      Dependency Insights provides a place to view all the packages that repositories
      depend on, including aggregated information about security advisories and licenses.
    <% end %>
  <% end %>
  <% if use_action_menu_component? %>
    <%= render Primer::Alpha::ActionMenu.new(
      select_variant: :single,
      size: :small,
      dynamic_label: true,
      dynamic_label_prefix: "All organizations"
    ) do |menu| %>
      <% menu.with_show_button(test_selector: "dependency_insights_selected_option") do |button| %>
        <% button.with_trailing_action_icon(icon: :"triangle-down") %>
        <%= selected_policy_text %>
      <% end %>
      <% policy_options.each do |policy| %>
        <% menu.with_item(
          label: policy.label,
          active: policy.active,
          href: settings_security_analysis_policies_update_dependency_insights_view_permissions_enterprise_path,
          form_arguments: {
            method: :put,
            name: policy_name,
            value: policy.value
          }
        ) do |component| %>
          <% component.with_description.with_content(policy.description) %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_tag settings_security_analysis_policies_update_dependency_insights_view_permissions_enterprise_path, method: :put do %>
      <%= render GitHub::MenuComponent.new(items: menu_items) do |menu| %>
        <% menu.with_summary do %>
          <%= render Primer::Beta::Button.new(tag: :summary) do |button| %>
            <% button.with_trailing_action_icon("triangle-down") %>
            <%= render(Primer::Beta::Text.new(style: "opacity: 0.75")) { "All organizations:" } %>
            <%= menu.default_selection_text %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="mt-3">
    <%= primer_octicon(:eye, color: :accent) %>
    <%= render(Primer::Alpha::Dialog.new(
      size: :large,
      title: "Dependency insights",
      id: "dependency-insights-dialog"
    )) do |dialog| %>
      <% dialog.with_show_button(
        scheme: :link,
        font_size: 6,
      ) { "View your organizations’ current configurations" } %>
      <% dialog.with_header(show_divider: true) %>
      <% dialog.with_body do %>
        <include-fragment
          src="<%= enterprise_organizations_setting_path(business, "members_can_view_dependency_insights") %>">
          <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
        </include-fragment>
      <% end %>
    <% end %>
    <span class="note"> without the enterprise's policy.</span>
  </div>
<% end %>
