<li class="col-4 actions-template-column flex-shrink-0">
  <a class="actions-template-card d-block color-bg-default rounded-2 no-underline" href="<%= user_path(action[:repo]) %>">
    <div class="py-3 px-4 d-flex flex-justify-between">
      <div class="pt-1 pr-4 min-width-0">
        <p class="f4-mktg mb-1 color-fg-default text-truncate text-semibold"><%= GitHub::Goomba::SimplePipeline.to_html(action[:title], cache_settings: { use_cache: true }) %></p>
        <p class="f6 color-fg-muted mb-0"><%= GitHub::Goomba::SimplePipeline.to_html(action[:description], cache_settings: { use_cache: true }) %></p>
      </div>
      <div class="actions-template-avatar circle d-flex flex-items-center flex-justify-center flex-shrink-0<%= " #{ action[:avatar_color] }" if action[:avatar_color] %>"<% if action[:avatar_color_style]%> style="<%= action[:avatar_color_style] %>"<% end %>>
        <% if action[:avatar_ext] == "svg" %>
          <%= image_tag "#{ action[:avatar_path] }.#{ action[:avatar_ext] }", alt: action[:avatar_alt], width: action[:avatar_width], height: action[:avatar_heigth], style: action[:avatar_style], loading: "lazy", decoding: "async" %>
        <% else %>
          <picture class="d-flex flex-items-center flex-justify-center">
            <source srcset="<%= image_path "#{ action[:avatar_path] }.webp" %>" type="image/webp">
            <%= image_tag "#{ action[:avatar_path] }.#{ action[:avatar_ext] }", alt: action[:avatar_alt], width: action[:avatar_width], height: action[:avatar_heigth], style: action[:avatar_style], loading: "lazy", decoding: "async" %>
          </picture>
        <% end %>
      </div>
    </div>
    <div class="border-top py-3 px-4 lh-condensed-ultra">
      <div class="actions-template-repo d-flex flex-items-center">
        <%= render(Primer::Beta::Octicon.new(icon: "repo", mr: 2, use_symbol: true)) %>
        <strong class="f6 text-semibold mb-1"><%= GitHub::Goomba::SimplePipeline.to_html(action[:repo], cache_settings: { use_cache: true }) %></strong>
      </div>
    </div>
  </a>
</li>
