<div class="position-relative mt-n12 top-n12">
  <h2 id="pricing-details" class="h3-mktg mb-8 text-center text-lg-left"><a href="#pricing-details" class="no-underline color-fg-default text-bold">Simple, pay-as-you-go pricing</a></h2>
  <div class="d-flex gutter-spacious flex-items-center flex-wrap flex-lg-nowrap">

    <div class="col-12 col-lg-8 position-relative mb-4">
      <div class="color-bg-default box-shadow-default-border-mktg rounded-2 py-7 pr-7 pl-7 position-relative z-1">
        <div class="mb-3">
          <div class="circle color-bg-open d-inline-block p-2">
            <%= render(Primer::Beta::Octicon.new(icon: :repo, size: :medium, display: :block, color: :open)) %>
          </div>
        </div>

        <h3 class="h3-mktg d-block text-semibold"><span style="font-size: 0.8333em">GitHub Actions is free <br><span class="color-fg-success">for public repositories</span></span></h3>

        <p class="mt-4 color-fg-muted f4-mktg">We take pride in our Open Source legacy, and are happy to provide free CI/CD for public repositories. Check out the doc to see which runners are included.</p>

        <%= render Site::LinkComponent.new(text: "View docs", url: "https://docs.github.com/billing/managing-billing-for-github-actions/about-billing-for-github-actions", size: :medium) %>
      </div>
    </div>

    <div class="col-12 col-lg-8 position-relative mb-4">
      <div class="color-bg-default box-shadow-default-border-mktg rounded-2 py-7 pr-7 pl-7 position-relative z-1">
        <div class="mb-3">
          <div class="circle color-bg-accent d-inline-block p-2">
            <%= render(Primer::Beta::Octicon.new(icon: :graph, size: :medium, display: :block, color: :accent)) %>
          </div>
        </div>
        <h3 class="h3-mktg d-block text-semibold"><span style="font-size: 0.8333em">Every GitHub plan <br><span class="color-fg-accent">includes free usage</span></span></h3>

        <p class="mt-4 color-fg-muted f4-mktg">Check out plan details to see how many minutes are included and the pricing table below to see which runners you can use your free minutes on.</p>

        <%= render Site::LinkComponent.new(text: "View pricing", url: "/pricing", size: :medium) %>
      </div>
    </div>

  </div>

  <div class="d-flex gutter-spacious flex-wrap mt-6 mt-lg-9">
    <div class="col-12 col-md-4 mb-5 mb-md-0">
      <h3 class="mb-1 h4-mktg text-semibold mb-4">Linux</h3>

      <ul class="list-style-none">
        <li class="d-flex flex-justify-between py-3 border-bottom border-top color-border-muted">
          <div class="d-flex flex-column">
            <strong class="f4-mktg d-block text-normal">2-vCPU</strong>
            <div class="d-inline-block px-2 lh-condensed f6-mktg border color-border-accent-emphasis rounded-3 color-fg-accent text-semibold my-1">Free plan minutes apply</div>
          </div>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.008 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
        <li class="d-flex flex-justify-between py-3 border-bottom color-border-muted">
          <div class="d-flex flex-column">
            <strong class="f4-mktg d-block text-normal">4-vCPU</strong>
            <div class="d-inline-block px-2 lh-condensed f6-mktg border color-border-open-emphasis rounded-3 color-fg-open text-semibold">Free for public repos</div>
          </div>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.016 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
        <li class="d-flex flex-justify-between py-3 border-bottom color-border-muted">
          <strong class="f4-mktg d-block text-normal">8-vCPU</strong>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.032 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
        <li class="d-flex flex-justify-between py-3 border-bottom color-border-muted">
          <strong class="f4-mktg d-block text-normal">16-vCPU</strong>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.064 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
        <li class="d-flex flex-justify-between py-3 border-bottom color-border-muted">
          <strong class="f4-mktg d-block text-normal">32-vCPU</strong>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.128 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
        <li class="d-flex flex-justify-between py-3">
          <strong class="f4-mktg d-block text-normal">64-vCPU</strong>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.256 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-4 mb-5 mb-md-0">
      <h3 class="mb-1 h4-mktg text-semibold mb-4">Windows</h3>

      <ul class="list-style-none">
        <li class="d-flex flex-justify-between py-3 border-bottom border-top color-border-muted">
          <div class="d-flex flex-column">
            <strong class="f4-mktg d-block text-normal">2-vCPU</strong>
            <div class="d-inline-block px-2 lh-condensed f6-mktg border color-border-accent-emphasis rounded-3 color-fg-accent text-semibold my-1">Free plan minutes apply</div>
          </div>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.016 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
        <li class="d-flex flex-justify-between py-3 border-bottom color-border-muted">
          <div class="d-flex flex-column">
            <strong class="f4-mktg d-block text-normal">4-vCPU</strong>
            <div class="d-inline-block px-2 lh-condensed f6-mktg border color-border-open-emphasis rounded-3 color-fg-open text-semibold">Free for public repos</div>
          </div>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">N/A</strong>
          </div>
        </li>
        <li class="d-flex flex-justify-between py-3 border-bottom color-border-muted">
          <strong class="f4-mktg d-block text-normal">8-vCPU</strong>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.064 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
        <li class="d-flex flex-justify-between py-3 border-bottom color-border-muted">
          <strong class="f4-mktg d-block text-normal">16-vCPU</strong>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.128 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
        <li class="d-flex flex-justify-between py-3 border-bottom color-border-muted">
          <strong class="f4-mktg d-block text-normal">32-vCPU</strong>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.256 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
        <li class="d-flex flex-justify-between py-3">
          <strong class="f4-mktg d-block text-normal">64-vCPU</strong>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.512 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-4 mb-5 mb-md-0">
      <h3 class="mb-1 h4-mktg text-semibold mb-4">macOS</h3>

      <ul class="list-style-none">
        <li class="d-flex flex-justify-between py-3 border-bottom border-top color-border-muted">
          <div class="d-flex flex-column">
            <strong class="f4-mktg d-block text-normal">3-vCPU</strong>
            <div class="d-inline-block px-2 lh-condensed f6-mktg border color-border-accent-emphasis rounded-3 color-fg-accent text-semibold my-1">Free plan minutes apply</div>
            <div class="d-inline-block px-2 lh-condensed f6-mktg border color-border-open-emphasis rounded-3 color-fg-open text-semibold">Free for public repos</div>
          </div>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.08 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
        <li class="d-flex flex-justify-between py-3 border-bottom color-border-muted">
          <strong class="f4-mktg d-block text-normal">12-vCPU</strong>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.12 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
        <li class="d-flex flex-justify-between py-3">
          <strong class="f4-mktg d-block text-normal">6-vCPU (M1)</strong>
          <div class="text-right">
            <strong class="f4-mktg d-block text-normal">$0.16 USD</strong>
            <p class="f5-mktg color-fg-muted m-0">per minute</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <span class="d-block color-fg-muted mt-6 f4-mktg border-top color-border-muted pt-3 mt-5">For a complete list of runner pricing and features please view <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions">docs about billing for GitHub Actions</a>.</span>
</div>
