<h2 class="h5-mktg mb-7 text-center text-lg-left">What our community is saying</h2>

<% testimonials = [
    {
      name: "Maël Nison",
      image: image_path("modules/site/features/actions-yarn.svg"),
      project: "Yarn",
      blockquote: "For open source projects, the lower the infrastructure friction we have, the easier it becomes to work with external contributors. Using GitHub Actions for CI and common tasks like triaging issues allows us to lower the barriers even more, so we can focus on writing a good product.",
      title: "Yarn maintainer",
    },
    {
      name: "Dirk Lemstra",
      image: image_path("modules/site/features/actions-imagemagick.svg"),
      project: "ImageMagick",
      blockquote: "With GitHub Actions, we are able to code, build, test and publish ImageMagick for Linux, macOS, and Windows in a single location without configuring multiple external dependencies. This is a game changer!",
      title: "ImageMagick maintainer",
    },
    {
      name: "Ralf Gommers",
      image: image_path("modules/site/features/actions-scipy.svg"),
      project: "SciPy",
      blockquote: "Actions is an exciting development and unlocks so much potential beyond CI/CD. It promises to streamline our workflows for a variety of tasks, from deploying our websites to querying the GitHub API for custom status reports to standard CI builds.",
      title: "SciPy maintainer",
    },
    {
      name: "Patrick Lühne",
      image: image_path("modules/site/features/actions-autodesk.svg"),
      project: "Autodesk",
      blockquote: "Compared to other offerings, GitHub always has a head start and introduces bleeding edge features first. GitHub Actions, for example, is currently unparalleled by other vendors.",
      title: "Senior Software Engineer",
    },
    {
      name: "Jim Rose",
      image: image_path("modules/site/features/actions-circle-ci.svg"),
      project: "CircleCI",
      blockquote: "CircleCI has been building a CI/CD platform since 2011, and GitHub has been a great partner. GitHub Actions is further validation that CI/CD is critical for the success of every software team. We believe that developers thrive in open, connected ecosystems, and we look forward to working with GitHub to lead the evolution of CI/CD.",
      title: "CEO of CircleCI",
    },
    {
      name: "Sydney Sweeney",
      image: image_path("modules/site/features/actions-dow-jones.svg"),
      project: "Dow Jones",
      blockquote: "We love the repo-native GitHub Actions CI/CD to fully self-contain end-to-end systems, applications, and now their deployment from a single repository! Our tokendito tool for generating credentials fits perfectly into Actions to securely authenticate to our cloud. It enables us to automate and standardize our software development lifecycle and security governance across all of our organizations.",
      title: "Lead Cybersecurity Engineer at Dow Jones",
    },
    {
      name: "Edith Harbaugh",
      image: image_path("modules/site/features/actions-launchdarkly.svg"),
      project: "LaunchDarkly",
      blockquote: "With the integration of Code References with GitHub Actions, developers can now easily locate feature flags in their code. Internally, we believe using Actions can optimize our CI infrastructure and streamline our build process by parallel testing our clients across Windows, Linux, and OSX.",
      title: "CEO of LaunchDarkly",
    },
    {
      name: "Christian Stein",
      image: image_path("modules/site/features/actions-junit5.svg"),
      project: "JUnit5",
      blockquote: "I’m excited to use GitHub Actions to streamline our workflows to access sources and builds. The ability to manage and automate issues, code, packages and CI tasks all in one place is very powerful.",
      title: "JUnit5 maintainer",
    },
    {
      name: "Ingo Sauerzapf",
      image: image_path("modules/site/features/actions-sap.svg"),
      project: "SAP",
      blockquote: "With GitHub Actions, we get an excellent SaaS-based CI/CD solution that integrates seamlessly into GitHub and will soon allow us to run selected workloads on-premise through self-hosted runners across operating systems.",
      title: "Software Development Manager, CI/CD",
    },
    {
      name: "Ezequiel Pellettieri",
      image: image_path("modules/site/features/actions-globant.svg"),
      project: "Globant",
      blockquote: "The ability to automate our workflows, as well as simplify and manage our issues, code, packages, CI, and deployment solutions, all in one place is powerful. We're excited about publishing CI/CD workflows and to discover, reuse and contribute to the Actions ecosystem within Globant and the GitHub community.",
      title: "Unix and Database Services Tech Lead",
    },
    {
      name: "Jeroen Knoops",
      image: image_path("modules/site/features/actions-philips.svg"),
      project: "Philips",
      blockquote: "GitHub Actions empowers teams to define highly advanced pipelines without losing the focus on simplicity. It brings the power of the pipeline as code, matrix builds, and predefined environment together in one place. GitHub Actions makes it possible to build and share workflows via reusable steps and delivers what’s required to build the next-generation CI/CD pipeline.",
      title: "Senior Software Engineer",
    },
    {
      name: "Hamid Shojaee",
      image: image_path("modules/site/features/actions-gitkraken.svg"),
      project: "Gitkraken",
      blockquote: "We’re excited about Actions and the possibilities it brings. It’s CI/CD but with so much more. Our integration with Actions allows Glo Board users to easily manage and automate their issues on various triggers.",
      title: "GitKraken Founder",
    },
    {
      name: "Dan Belcher",
      image: image_path("modules/site/features/actions-mabl.svg"),
      project: "mabl",
      blockquote: "Custom scripts and bespoke systems prevented many of our users from fully realizing the benefits of CI/CD. GitHub Actions gave us a platform to deliver intelligent pipelines with minimal up-front investment and no ongoing maintenance.",
      title: "mabl Co-Founder",
    },
    {
      name: "Elliott Spira",
      image: image_path("modules/site/features/actions-gorillastack.svg"),
      project: "GorillaStack",
      blockquote: "Our mantra is to integrate into a customer’s SDLC, working with their existing tools and workflows. GitHub Actions gives us the perfect interface to our customer's source of truth (the repository) and allows us to give them a native experience when interfacing with our solution.",
      title: "GorillaStack Co-Founder",
    },
    {
      name: "Olivier Gaudin",
      image: image_path("modules/site/features/actions-sonarsource.svg"),
      project: "SonarSource",
      blockquote: "Our mission is to empower all development teams with Code Quality and Security tools. For SonarCloud that means detecting bugs and security vulnerabilities, all while contributing to simple yet powerful pipelines, where multiple tools can play together as a team. GitHub Actions allows just that!",
      title: "SonarSource CEO & Co-Founder",
    },
  ]
%>

<div class="d-flex gutter gutter-lg-spacious flex-content-stretch flex-wrap mb-8">
  <% testimonials.sample(4).each do |testimonial| %>
    <div class="col-12 col-md-6 col-lg-3 mb-7">
      <blockquote class="d-flex flex-column">
        <div><img src="<%= testimonial[:image] %>" alt="<%= testimonial[:project] %>" class="mb-4" loading="lazy"></div>
        <p class="color-fg-muted f4 mb-4"><span class="float-left ml-n2">“</span><%= testimonial[:blockquote] %>”</p>

        <footer>
          <span class="d-block f4-mktg text-normal"><%= testimonial[:name] %></span>
          <span class="d-block text-mono color-fg-muted f6-mktg"><%= testimonial[:title] %></span>
        </footer>
      </blockquote>
    </div>
  <% end %>
</div>
