<% page_meta = {
    title: "Actions",
    name: "features_actions",
    description: "Easily build, package, release, update, and deploy your project in any language—on GitHub or any external system—without having to run code yourself.",
  }

  page_info \
  title: "Features • GitHub Actions",
  class: "overflow-x-hidden",
  richweb: {
    title: "Features • GitHub Actions",
    url: request.original_url,
    description: page_meta[:description],
    image: image_path("modules/site/social-cards/actions.png"),
  }
%>

<%= render "site/features/features_nav" %>

<div class="overflow-x-hidden overflow-y-hidden" data-hpc>
  <div class="section-actions-hero animate-actions-hero">
    <div class="container-xl mx-auto p-responsive height-full">
      <div class="d-md-flex gutter-spacious flex-items-center position-relative height-full pt-5 pt-md-0 z-1">
        <div class="actions-hero-bg position-absolute z-n2">
          <picture>
            <source srcset="<%= image_path "modules/site/actions/hero-bg.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/actions/hero-bg.jpg" %>" class="position-absolute width-full height-full z-n1 top-0 left-0 events-none" alt="">
          </picture>
        </div>
        <%= svg("site/features/actions-hero.svg", class: "position-absolute z-n1 actions-hero") %>

        <div class="col-12 text-center text-lg-left mx-auto mx-lg-0 py-8 position-relative" style="top: -5%">
          <h1 class="text-mono f4-mktg text-normal color-fg-muted mb-3"><%= image_tag "modules/site/features/actions-icon-actions.svg", alt: "GitHub Actions", class: "d-inline-block mr-3 position-relative top-1", style: "width: 27px;", loading: "lazy" %>GitHub Actions</h1>
          <h2 class="h2-mktg mb-3 mx-auto"><span>Automate your workflow</span><br class="actions-hero-text-break"> <span>from</span> <span>idea</span> <span>to</span> <span>production</span></h2>
          <p class="f3-mktg color-fg-muted mb-5 mx-auto mx-lg-0" style="max-width: 520px;">GitHub Actions makes it easy to automate all your software workflows, now with world-class CI/CD. Build, test, and deploy your code right from GitHub. Make code reviews, branch management, and issue triaging work the way you want.</p>
          <%= render Site::ButtonComponent.new(text: "Get started with Actions", url: "https://docs.github.com/actions", size: :large, arrow: true) %>
          <p class="color-fg-muted f4-mktg mt-3">
            Questions?
            <%= render Site::LinkComponent.new(
              text: "Contact Sales",
              size: :medium,
              url: enterprise_contact_requests_path(
                ref_page: request.fullpath,
                ref_cta: "Contact Sales",
                ref_loc: "hero",
                utm_source: "github",
                utm_medium: "site",
                utm_campaign: "Actions_feature_page_contact_sales_cta_utmroutercampaign",
                utm_content: "Actions",
                scid: ""
              ),
              analytics: {
                category: "Actions",
                ref_loc: "Hero"
              }
            ) %>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="overflow-x-hidden">
  <div class="container-xl mx-auto p-responsive z-1 position-relative mt-10 mt-md-0">
    <div class="js-build-in-trigger d-flex gutter-condensed gutter-md-spacious flex-items-center" data-build-margin-bottom="15">
      <div class="d-none d-sm-block col-1 col-md-2 col-lg-3">
        <div class="text-center float-right section-actions-events-left text-mono no-wrap js-build-in-item">
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> milestone</div>
            <div class="border actions-event-token mr-2"><span>on:</span> issue_comment</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> check_run</div>
            <div class="border actions-event-token mr-2"><span>on:</span> deployment</div>
            <div class="border actions-event-token mr-2"><span>on:</span> label</div>
            <div class="border actions-event-token mr-2"><span>on:</span> project_card</div>
            <div class="border actions-event-token mr-2"><span>on:</span> pull_request_comment</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> release</div>
            <div class="border actions-event-token mr-2"><span>on:</span> repository_vulnerability_alert</div>
            <div class="border actions-event-token mr-2"><span>on:</span> milestone</div>
            <div class="border actions-event-token mr-2"><span>on:</span> public</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> repository_dispatch</div>
            <div class="border actions-event-token mr-2"><span>on:</span> issue_comment</div>
            <div class="border actions-event-token mr-2"><span>on:</span> fork</div>
            <div class="border actions-event-token mr-2"><span>on:</span> deployment_status</div>
            <div class="border actions-event-token mr-2"><span>on:</span> page_build</div>
            <div class="border actions-event-token mr-2"><span>on:</span> watch</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> pull_request</div>
            <div class="border actions-event-token mr-2"><span>on:</span> delete</div>
            <div class="border actions-event-token mr-2"><span>on:</span> issue_comment</div>
            <div class="border actions-event-token mr-2"><span>on:</span> issues</div>
            <div class="border actions-event-token mr-2"><span>on:</span> check_suite</div>
            <div class="border actions-event-token mr-2"><span>on:</span> scheduled</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> pull_request_review</div>
            <div class="border actions-event-token mr-2"><span>on:</span> project_column</div>
            <div class="border actions-event-token mr-2"><span>on:</span> status</div>
            <div class="border actions-event-token mr-2"><span>on:</span> project</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> pull_request</div>
            <div class="border actions-event-token mr-2"><span>on:</span> delete</div>
            <div class="border actions-event-token mr-2"><span>on:</span> issue_comment</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> push</div>
            <div class="border actions-event-token mr-2"><span>on:</span> page_build</div>
            <div class="border actions-event-token mr-2"><span>on:</span> watch</div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto text-center js-build-in-item build-in-scale-up">
        <h2 class="h4-mktg mb-4">Run a workflow<br>on any GitHub event</h2>
        <p class="f4-mktg color-fg-muted text-left">Kick off workflows with GitHub events like push, issue creation, or a new release. Combine and configure actions for the services you use, built and maintained by the community.</p>
        <p class="f4-mktg color-fg-muted text-left mb-4">Whether you want to build a container, deploy a web service, or automate welcoming new users to your open source projects—there's an action for that. Pair GitHub Packages with Actions to simplify package management, including version updates, fast distribution with our global CDN, and dependency resolution, using your existing GITHUB_TOKEN.</p>
      </div>

      <div class="d-none d-sm-block col-sm-1 col-md-2 col-lg-3">
        <div class="list-style-none text-center float-left section-actions-events-right text-mono no-wrap js-build-in-item">
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> milestone</div>
            <div class="border actions-event-token mr-2"><span>on:</span> issue_comment</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> check_run</div>
            <div class="border actions-event-token mr-2"><span>on:</span> deployment</div>
            <div class="border actions-event-token mr-2"><span>on:</span> label</div>
            <div class="border actions-event-token mr-2"><span>on:</span> project_card</div>
            <div class="border actions-event-token mr-2"><span>on:</span> pull_request_comment</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> release</div>
            <div class="border actions-event-token mr-2"><span>on:</span> repository_vulnerability_alert</div>
            <div class="border actions-event-token mr-2"><span>on:</span> milestone</div>
            <div class="border actions-event-token mr-2"><span>on:</span> public</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> repository_dispatch</div>
            <div class="border actions-event-token mr-2"><span>on:</span> issue_comment</div>
            <div class="border actions-event-token mr-2"><span>on:</span> fork</div>
            <div class="border actions-event-token mr-2"><span>on:</span> deployment_status</div>
            <div class="border actions-event-token mr-2"><span>on:</span> page_build</div>
            <div class="border actions-event-token mr-2"><span>on:</span> watch</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> pull_request</div>
            <div class="border actions-event-token mr-2"><span>on:</span> delete</div>
            <div class="border actions-event-token mr-2"><span>on:</span> issue_comment</div>
            <div class="border actions-event-token mr-2"><span>on:</span> issues</div>
            <div class="border actions-event-token mr-2"><span>on:</span> check_suite</div>
            <div class="border actions-event-token mr-2"><span>on:</span> scheduled</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> pull_request_review</div>
            <div class="border actions-event-token mr-2"><span>on:</span> project_column</div>
            <div class="border actions-event-token mr-2"><span>on:</span> status</div>
            <div class="border actions-event-token mr-2"><span>on:</span> project</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> pull_request</div>
            <div class="border actions-event-token mr-2"><span>on:</span> delete</div>
            <div class="border actions-event-token mr-2"><span>on:</span> issue_comment</div>
          </div>
          <div class="mb-3">
            <div class="border actions-event-token mr-2"><span>on:</span> push</div>
            <div class="border actions-event-token mr-2"><span>on:</span> page_build</div>
            <div class="border actions-event-token mr-2"><span>on:</span> watch</div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex gutter-spacious flex-wrap mb-12">
      <div class="col-12 text-center py-6">
        <img style="max-width: 880px;" class="width-full mx-auto" src="<%= image_path "modules/site/features/actions-workflow.svg" %>" loading="lazy" alt="Illustration depicting the execution of 'npm test' as a push action on three different platforms: Linux, MacOS, and Windows.">
      </div>

      <div class="col-10 col-sm-12 mx-auto">
        <% value_props = [
          {
            icon: image_path("modules/site/features/actions-linux-and-containers.svg"),
            title: "Linux, macOS, Windows, ARM, and&nbsp;containers",
            body: "Hosted runners for every major OS make it easy to build and test all your projects. Run directly on a VM or inside a container. Use your own VMs, in the cloud or on-prem, with self-hosted runners."
          },
          {
            icon: image_path("modules/site/features/actions-matrix.svg"),
            title: "Matrix builds",
            body: "Save time with matrix workflows that simultaneously test across multiple operating systems and versions of your runtime."
          },
          {
            icon: image_path("modules/site/features/actions-any-lang.svg"),
            title: "Any language",
            body: "GitHub Actions supports Node.js, Python, Java, Ruby, PHP, Go, Rust, .NET, and more. Build, test, and deploy applications in your language of choice."
          }
        ] %>
        <%= render "site/components/icon_list",
          layout: "stacked",
          columns: 3,
          centered: true,
          lazy_load: true,
          icon_list_items: value_props
        %>
      </div>
    </div>

    <div class="js-build-in section-actions-workflow-logs d-flex gutter-spacious flex-items-center position-relative mb-6 z-1">
      <div class="col-12 col-lg-7 offset-lg-1 position-relative">
        <div class="rounded-2 p-4 actions-workflow-logs" <%= mktg_color_theme_attributes %>>
          <pre class="color-fg-default text-mono actions-workflow-logs-readout" style="opacity: 0.4">
  <%= render partial: "site/features/actions/logs" %>
          </pre>
        </div>

        <div class="actions-pr-checks-container width-full height-full position-sm-absolute top-0 left-0 d-flex flex-column flex-justify-center flex-items-end">
          <div class="actions-pr-checks ml-n2 mr-n2 mx-sm-0 box-shadow-default-border-mktg bgColor-default rounded-2 overflow-hidden">
            <div class="d-flex flex-wrap flex-items-start p-3 border-bottom">
              <div class="d-flex flex-justify-center flex-items-center circle bgColor-success-emphasis fgColor-onEmphasis mr-2" style="width: 32px; height: 32px;">
                <%= render(Primer::Beta::Octicon.new(
                    icon: :check,
                    size: :small,
                    display: :block,
                  )) %>
              </div>
              <div>
                <div class="h4">All checks have passed</div>
                <div class="fgColor-muted f5">4 successful checks</div>
              </div>
              <span class="pl-2 ml-auto fgColor-accent f5">Hide all checks</span>
            </div>
            <div class="bgColor-inset f5">
              <div class="border-bottom py-2 px-4 fgColor-muted d-flex flex-wrap flex-items-center">
                <%= render(Primer::Beta::Octicon.new(
                    icon: :check,
                    size: :small,
                    display: :inline_block,
                    mr: 2,
                    color: :success,
                  )) %>
                <span class="d-inline-block bgColor-emphasis fgColor-onEmphasis rounded-2 mr-2" style="padding: 2px;">
                  <%= render(Primer::Beta::Octicon.new(
                    icon: :"mark-github",
                    size: :small,
                    display: :block,
                  )) %>
                </span>
                <span class="text-emphasized d-inline-block mr-2">build</span> Successfully in 59s — build
              </div>
              <div class="border-bottom py-2 px-4 fgColor-muted d-flex flex-wrap flex-items-center">
                <%= render(Primer::Beta::Octicon.new(
                    icon: :check,
                    size: :small,
                    display: :inline_block,
                    mr: 2,
                    color: :success,
                  )) %>
                <span class="d-inline-block bgColor-emphasis fgColor-onEmphasis rounded-2 mr-2" style="padding: 2px;">
                  <%= render(Primer::Beta::Octicon.new(
                    icon: :"mark-github",
                    size: :small,
                    display: :block,
                  )) %>
                </span>
                <span class="text-emphasized d-inline-block mr-2">test</span> Successfully in 59s — build
              </div>
              <div class="border-bottom py-2 px-4 fgColor-muted d-flex flex-wrap flex-items-center">
                <%= render(Primer::Beta::Octicon.new(
                    icon: :check,
                    size: :small,
                    display: :inline_block,
                    mr: 2,
                    color: :success,
                  )) %>
                <span class="d-inline-block bgColor-emphasis fgColor-onEmphasis rounded-2 mr-2" style="padding: 2px;">
                  <%= render(Primer::Beta::Octicon.new(
                    icon: :"mark-github",
                    size: :small,
                    display: :block,
                  )) %>
                </span>
                <span class="text-emphasized d-inline-block mr-2">publish</span> Successfully in 59s — build
              </div>
            </div>
            <div class="d-flex flex-wrap flex-items-start p-3 border-bottom">
              <div class="d-flex flex-justify-center flex-items-center circle bgColor-success-emphasis fgColor-onEmphasis mr-2" style="width: 32px; height: 32px;">
                <%= render(Primer::Beta::Octicon.new(
                    icon: :check,
                    size: :small,
                    display: :block,
                  )) %>
              </div>
              <div>
                <div class="h4">This branch has no conflicts with the base branch</div>
                <div class="fgColor-muted f5">Merging can be performed automatically.</div>
              </div>
            </div>
            <div class="p-3 d-flex flex-wrap flex-md-nowrap flex-items-center fß5 fgColor-muted">
              <div class="BtnGroup flex-shrink-0 events-none mr-2">
                <div class="BtnGroup-item btn btn-primary">Merge when ready</div>
                <div class="select-menu-button BtnGroup-item btn btn-primary"><span class="sr-only">Select merge queue method</span></div>
              </div>
              <div class="py-2">
                You can also <span class="fgColor-accent">open this in GitHub Desktop</span> or view <span class="fgColor-accent">command line instructions</span>.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex gutter-spacious flex-items-center flex-wrap position-relative">
      <div class="col-10 col-sm-12 mx-auto">
        <% value_props = [
          {
            icon: image_path("modules/site/features/actions-live-logs.svg"),
            title: "Live logs",
            body: "See your workflow run in realtime with <a href='https://twitter.com/iamdevloper/status/1153988021085016064'>color and emoji</a>. It’s one click to copy a link that highlights a specific line number to share a CI/CD failure."
          },
          {
            icon: image_path("modules/site/features/actions-secret-store.svg"),
            title: "Built in secret store",
            body: "Automate your software development practices with workflow files embracing the Git flow by codifying it in your repository."
          },
          {
            icon: image_path("modules/site/features/actions-multi-container-testing.svg"),
            title: "Multi-container testing",
            body: "Test your web service and its DB in your workflow by simply adding some <code>docker-compose</code> to your workflow file."
          }
        ] %>
        <%= render "site/components/icon_list",
          layout: "stacked",
          columns: 3,
          centered: true,
          lazy_load: true,
          icon_list_items: value_props
        %>
      </div>
    </div>

  </div>


  <div class="color-bg-subtle mt-8 mt-lg-12 pb-12">
    <div class="container-xl mx-auto p-responsive pb-12">

      <div id="starter-workflows" data-animation-paused="false" data-build-margin-bottom="0" class="js-build-in d-flex gutter-spacious flex-wrap flex-column-reverse flex-lg-row">
        <div class="col-12 col-lg-7 position-relative top-n7">

          <%= render "site/features/actions/starter_workflows" %>

          <div class="box-shadow-default-border-mktg color-bg-default rounded-2 overflow-hidden mb-6">
            <div class="text-center position-relative color-fg-muted f5 px-3 py-2">
              ci.yml
              <div class="position-absolute top-2">
                <span class="d-inline-block circle color-bg-subtle mr-1" style="width: 12px; height: 12px;"></span>
                <span class="d-inline-block circle color-bg-subtle mr-1" style="width: 12px; height: 12px;"></span>
                <span class="d-inline-block circle color-bg-subtle mr-1" style="width: 12px; height: 12px;"></span>
              </div>
            </div>

            <div class="d-flex pt-4 px-4" style="line-height: 2">
              <div class="d-none d-md-block flex-grow-0 text-right text-mono color-fg-muted f5 pr-5 no-wrap user-select-none" style="width: 18px; opacity: 0.5;">
                1<br>
                2<br>
                3<br>
                4<br>
                5<br>
                6<br>
                7<br>
                8<br>
                9<br>
                10<br>
                11<br>
                12<br>
                14<br>
                15<br>
                16<br>
                17<br>
                18<br>
                19<br>
                20<br>
                21<br>
                22<br>
                23<br>
                24<br>
                25<br>
                26<br>
                27<br>
                28<br>
                29<br>
                30
              </div>
              <pre class="flex-auto text-mono text-blue-dark f5">
<span class="color-fg-success">on</span><span class="color-fg-danger">:</span> push
<span class="color-fg-success">jobs</span><span class="color-fg-danger">:</span>
  <span class="color-fg-success">test</span><span class="color-fg-danger">:</span>
    <span class="color-fg-success">strategy</span><span class="color-fg-danger">:</span>
      <span class="color-fg-success">matrix</span><span class="color-fg-danger">:</span>
        <span class="color-fg-success">platform</span><span class="color-fg-danger">:</span> [ubuntu-latest, macos-latest, windows-latest]
    <span class="color-fg-success">runs-on</span><span class="color-fg-danger">:</span> ${{ matrix.platform }}
    <span class="color-fg-success">steps</span><span class="color-fg-danger">:</span>
    - <span class="color-fg-success">uses</span><span class="color-fg-danger">:</span> actions/checkout@v4
    - <span class="color-fg-success">uses</span><span class="color-fg-danger">:</span> actions/setup-node@v4
      <span class="color-fg-success">with</span><span class="color-fg-danger">:</span>
        <span class="color-fg-success">node-version</span><span class="color-fg-danger">:</span> 20
    - <span class="color-fg-success">run</span><span class="color-fg-danger">:</span> npm install-ci-test
    - <span class="color-fg-success">uses</span><span class="color-fg-danger">:</span>











  <span class="color-fg-success">publish</span><span class="color-fg-danger">:</span>
    <span class="color-fg-success">needs</span><span class="color-fg-danger">:</span> [test]
    <span class="color-fg-success">steps</span><span class="color-fg-danger">:</span>
    - <span class="color-fg-success">uses</span><span class="color-fg-danger">:</span> actions/checkout@v4
              </pre>
            </div>
          </div>

          <div class="text-center position-relative top-n4">
            <button
              type="button"
              class="f4-mktg js-animation-pause-toggle animation-pause-toggle rounded-2"
              data-target-id="starter-workflows"
              aria-pressed="false"
              data-pause-aria-label="Starter workflows scrolling animation is currently playing. Click to pause animation."
              data-play-aria-label="Starter workflows scrolling animation is paused. Click to play animation."
            >
              <span class="animation-toggle-pause-label">Pause</span>
              <span class="animation-toggle-play-label">Play</span>
            </button>
          </div>
        </div>

        <div class="col-10 col-lg-5 mx-auto mx-lg-0 pt-8 mb-10 mb-lg-0">
          <h2 class="h5-mktg mb-3 text-center text-lg-left">Community-powered workflows</h2>
          <p class="f4-mktg color-fg-muted mb-3">GitHub Actions connects all of your tools to automate every step of your development workflow. Easily deploy to any cloud, create tickets in Jira, or publish a package to npm.</p>
          <p class="f4-mktg color-fg-muted mb-3">Want to venture off the beaten path? Use the millions of open source libraries available on GitHub to create your own actions. Write them in JavaScript or create a container action—both can interact with the full GitHub API and any other public API.</p>
        </div>

      </div>

      <%= render partial: "site/features/actions/testimonials" %>
    </div>
  </div>

  <div class="container-xl mx-auto p-responsive">
    <%= render partial: "site/features/actions/pricing" %>

    <div class="d-flex flex-justify-between flex-wrap flex-items-center mb-10 gutter-spacious">
      <div class="col-10 col-md-6 col-lg-5 mx-auto mx-md-0 mb-6 mb-lg-0">
        <h2 class="h4-mktg mb-2">The future of workflow automation is&nbsp;now</h2>
        <p class="color-fg-muted mb-4 col-9">Get started with GitHub Actions today and explore community created actions in the GitHub Marketplace.</p>

        <%= render Site::ButtonComponent.new(text: "Explore GitHub Actions", url: "/marketplace?type=actions") %>
      </div>

      <div class="col-12 col-md-6 col-lg-5 mx-auto mx-md-0 z-1 position-relative">
        <div class="d-flex rounded-2 p-6 border no-underline">
          <div>
            <%= image_tag "modules/site/features/actions-documentation.svg", alt: "Documentation", loading: "lazy", width: 56, height: 56 %>
          </div>
          <div class="pl-3">
            <h3 class="h6-mktg color-fg-default mb-2">Documentation</h3>
            <p class="color-fg-muted">Read the workflow language reference and how to’s for many popular languages.</p>

            <p class="color-fg-muted">Learn how to create an action and share it with everyone on GitHub.</p>

            <%= render Site::LinkComponent.new(text: "View docs", url: "#{GitHub.help_url}/categories/automating-your-workflow-with-github-actions", size: :medium) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
