<% if feature_flag.number_of_actor_gates > 0 %>
  <ul <%= test_selector("actors-list") %>>
    <% actor_gates.each do |gate| %>
      <% if !Object.const_defined?(gate.actor_type) %>
        <li>Unsupported actor type: <%= gate.value %></li>
      <% elsif gate.actor %>
        <% case gate.actor_type %>
        <% when User.name %>
          <%= render partial: "devtools/feature_flags/actors/user", locals: { user: gate.actor, feature_flag: feature_flag } %>
        <% when Organization.name %>
          <%= render partial: "devtools/feature_flags/actors/organization", locals: { organization: gate.actor, feature_flag: feature_flag } %>
        <% when Team.name %>
          <%= render partial: "devtools/feature_flags/actors/team", locals: { team: gate.actor, feature_flag: feature_flag } %>
        <% when Repository.name %>
          <%= render partial: "devtools/feature_flags/actors/repository", locals: { repository: gate.actor, feature_flag: feature_flag } %>
        <% when MemexProject.name %>
          <%= render partial: "devtools/feature_flags/actors/memex_project", locals: { memex_project: gate.actor, feature_flag: feature_flag } %>
        <% when Business.name %>
          <%= render partial: "devtools/feature_flags/actors/enterprise", locals: { enterprise: gate.actor, feature_flag: feature_flag } %>
        <% when Integration.name %>
          <%= render partial: "devtools/feature_flags/actors/integration", locals: { integration: gate.actor, feature_flag: feature_flag } %>
        <% when OauthApplication.name %>
          <%= render partial: "devtools/feature_flags/actors/oauth_application", locals: { oauth_application: gate.actor, feature_flag: feature_flag } %>
        <% when Vulnerability.name %>
          <%= render partial: "devtools/feature_flags/actors/vulnerability", locals: { vulnerability: gate.actor, feature_flag: feature_flag } %>
        <% when GitHub::FlipperHost.name %>
          <%= render partial: "devtools/feature_flags/actors/host", locals: { host: gate.actor, feature_flag: feature_flag } %>
        <% when GitHub::FlipperRole.name %>
          <%= render partial: "devtools/feature_flags/actors/role", locals: { role: gate.actor, feature_flag: feature_flag } %>
        <% else %>
          <%= render partial: "devtools/feature_flags/actors/other", locals: { actor: gate.actor, feature_flag: feature_flag } %>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <div class="paginate-container">
    <%= will_paginate(actor_gates, class: "d-flex d-md-inline-block pagination") %>
  </div>
<% else %>
  <div class="Box-row">
    <div class="my-2">
      <em>No actors have been granted access to <strong><%= feature_flag.name %></strong>.</em>
    </div>
  </div>

<% end %>
