<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_header do %>
    <h2 class="h5 text-normal"><%= header_text %></h2>
  <% end %>

  <% component.with_body do %>
    <%= form_for feature, **form_options do |f| %>
      <div class="form-group">
        <div class="form-group-header">
          <%= f.label :name, "Name *" %>
        </div>
        <div class="form-group-body">
          <%= f.text_field :name, value: feature.name, disabled: feature.persisted?, size: 30 %>
        </div>
        <% if feature.errors[:name] %>
          <p class="color-fg-danger"><%= feature.errors[:name].join(", ") %></p>
        <% end %>
    </div>

      <div class="form-group">
        <div class="form-group-header">
          <% reqd = Rails.env.development? ? "" : "* " %>
          <%= f.label :tracking_issue_url, "Tracking issue URL#{reqd}" %>
        </div>
        <div class="form-group-body">
          <%= f.text_field :tracking_issue_url, placeholder: "https://github.com/github/github/issues/123" %>
          <p class="note">Where can others read up on this flag?</p>
        </div>
        <% if feature.errors[:tracking_issue_url] %>
          <p class="color-fg-danger"><%= feature.errors[:tracking_issue_url].join(", ") %></p>
        <% end %>
      </div>

      <div class="form-checkbox">
        <label>
          <%= f.check_box :long_lived %>
          <%= "Long lived" %>
        </label>
        <p class="note">
          The flag will be in use for longer than three months. Read the <%= render(Primer::Beta::Link.new(href: "https://thehub.github.com/engineering/products-and-services/dotcom/features/feature-flags/overview/#long-lived-feature-flags", target: "_blank", classes: "Link--inTextBlock")) do %>
            docs <%= render(Primer::Beta::Octicon.new(:"link-external")) %>
          <% end %>.
        </p>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <%= f.label :description %>
        </div>
        <div class="form-group-body">
          <%= f.text_area :description, value: feature.description %>
        </div>
      </div>

      <%= render partial: "devtools/feature_flags/team_or_service_selection", locals: { feature: feature } %>

      <div class="form-group">
        <div class="form-group-header">
          <%= f.label :slack_channel %>
        </div>
        <div class="form-group-body">
          <%= f.text_field :slack_channel %>
          <p class="note">This will be displayed on the feature flag devtools page and is the Slack channel you'd like people to use if they have questions about this flag.</p>
        </div>
      </div>

      <p class="form-actions">
        <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit)) { "Save Feature" } %>
        <%= render(Primer::ButtonComponent.new(tag: :a, href: cancel_path)) { "Cancel" } %>
      </p>
    <% end %>
  <% end %>
<% end %>
