<ul>
  <% entries.each do |entry| %>
    <li class="Box-row <%= "p-1" if defined?(rollout) %>" <%= test_selector("history-row") %>>
      <% if entry["changes"] %>
        <details>
          <summary>
            <% if defined?(rollout) && entry.dig("data", "feature_name") %>
              <%= render(Primer::Beta::Link.new(href: devtools_feature_flag_path(entry.dig("data", "feature_name")), scheme: :primary)) do %>
                <%= entry.dig("data", "feature_name") %>
              <% end %>
            <% end %>
            <%= entry["action"].sub(/\Afeature\./, "").downcase %> for
            <%= FlipperFeature.get_subject_label(gate_name: entry["data"]["gate_name"]&.to_sym, subject: entry["data"]["subject"]) %>
            <%= time_ago_in_words_js(Timestamp.to_time(entry["@timestamp"])) %> by <strong><%= entry["actor"] %></strong>
          </summary>
          <div class="color-bg-subtle border-top my-1 px-2 py-1">
            <table>
              <% entry["changes"].each do |key, value| %>
                <tr>
                  <th><%= key %></th>
                  <td class="pl-4"><%= value %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </details>
      <% elsif entry.dig("data", "propagation_results") %>
        <details>
          <summary>
            <% if defined?(rollout) && entry.dig("data", "feature_name") %>
              <%= render(Primer::Beta::Link.new(href: devtools_feature_flag_path(entry.dig("data", "feature_name")), scheme: :primary)) do %>
                <%= entry.dig("data", "feature_name") %>
              <% end %>
            <% end %>
            <%= entry["action"].sub(/\Afeature\./, "").downcase %> <%= entry.dig("data", "result") ? "succeeded" : "failed" %>
            <%= entry.dig("data", "operation") == "propagate_enable" ? "setting #{FlipperFeature.get_subject_label(gate_name: entry["data"]["gate_name"]&.to_sym, subject: entry["data"]["subject"])}" : "" %>
            <%= time_ago_in_words_js(Timestamp.to_time(entry["@timestamp"])) %> by <strong><%= entry["actor"] %></strong>
          </summary>
          <div class="color-bg-subtle border-top my-1 px-2 py-1">
            <table>
              <% entry.dig("data", "propagation_results").each do |key, value| %>
                <tr>
                  <th><%= key %></th>
                  <td class="pl-4"><%= value ? "succeeded" : "failed" %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </details>
      <% else %>
        <% if defined?(rollout) && entry.dig("data", "feature_name") %>
          <%= render(Primer::Beta::Link.new(href: devtools_feature_flag_path(entry.dig("data", "feature_name")), scheme: :primary)) do %>
            <%= entry.dig("data", "feature_name") %>
          <% end %>
        <% end %>
        <%= entry["action"].sub(/\Afeature\./, "").downcase %>
        <%= entry.dig("data", "operation") == "enable" ? "for #{FlipperFeature.get_subject_label(gate_name: entry["data"]["gate_name"]&.to_sym, subject: entry["data"]["subject"])}" : "" %>
        <%= time_ago_in_words_js(Timestamp.to_time(entry["@timestamp"])) %> by <strong><%= entry["staff_actor"] || entry["actor"] %></strong>
      <% end %>
    </li>
  <% end %>
</ul>
