<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="form-group">
  <div class="form-group-header">
    <label>Owning service *</label>
  </div>
  <div class="form-group-body">
    <details class="select-menu details-reset details-overlay">
      <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button", "data-menu-button": "") do %>
        <%= feature.service_name.blank? ? "Choose a service" : feature.service_name %>
      <% end %>
      <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-header">
          <span class="select-menu-title">Choose a service</span>
        </div>
        <div class="select-menu-filters">
          <div class="select-menu-text-filter">
            <remote-input src="<%= devtools_feature_flags_service_autocomplete_path %>" aria-owns="service-filter-results">
              <input type="text" value="<%= feature.service_name %>" id="search-services" class="form-control" aria-label="Search for a service" autofocus>
            </remote-input>
          </div>
        </div>
        <div class="select-menu-list" id="service-filter-results"></div>
      </details-menu>
    </details>
    <p class="note">This is the service, within the <a class="Link--inTextBlock" href="https://catalog.githubapp.com">Service Catalog</a>, that this feature flag is for.</p>
  </div>
  <% if feature.errors[:service_name] %>
    <p class="color-fg-danger"><%= feature.errors[:service_name].join %></p>
  <% end %>
</div>
