<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "Add GitHub Team to #{feature.name}" %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_feature_flags_path %>">Feature Flags</a>
  / <a href="<%= devtools_feature_flag_path(feature) %>"><%= feature.name %></a>
  / <strong>Add GitHub Team</strong>
<% end %>

<div class="Box">
  <div class="Box-header">
    <h3 class="Box-title">Add GitHub Team</h3>
  </div>

  <%= form_tag(devtools_feature_flag_activate_github_team_path(feature.name), method: :post) do %>
    <div class="Box-body">
      <p>
        You can use this to add the members of a GitHub team as actors to this feature.
        Subsequent changes to the team's membership will not be reflected in the actor list automatically.
      </p>
      <p>
        This will not add the team as an entity. If you need to feature flag on a team (e.g. @github/engineering),
        you will need to "Add Actor" with the Flipper ID of the team, which can be found in Stafftools.
      </p>
      <p>If the team is larger than <%= maximum_team_size %> members it can not be added like this. Adding too many actors to a feature flag can cause performance issues.</p>

      <details class="select-menu details-reset details-overlay">
        <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button", "data-menu-button": "") do %>
          Choose a team
        <% end %>
        <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Choose a team</span>
          </div>
          <div class="select-menu-filters">
            <div class="select-menu-text-filter">
              <remote-input src="<%= devtools_feature_flags_team_autocomplete_path %>" aria-owns="team-filter-results">
                <input type="text" id="search-teams" class="form-control" aria-label="Search for a team" autofocus>
              </remote-input>
            </div>
          </div>
          <div class="select-menu-list" id="team-filter-results"></div>
        </details-menu>
      </details>
    </div>
    <div class="Box-footer form-actions">
      <%= render Primer::ButtonComponent.new(type: :submit) do %>Add Team<% end %>
    </div>
  <% end %>
</div>
