<% page_info :title => "Add Actor for #{feature.name}" %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_feature_flags_path %>">Feature Flags</a>
  / <a href="<%= devtools_feature_flag_path(feature) %>"><%= feature.name %></a>
  / <strong>Add Actor</strong>
<% end %>

<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_header(font_weight: :bold) do %>
    Add Actor
  <% end %>

  <% component.with_body do %>
    <%= render Devtools::GateOverrideMessageComponent.new(feature: feature) %>

    <%= render partial: "devtools/feature_flags/actors/form", locals: {
      form_path: devtools_feature_flag_actor_path(feature),
      form_method: :post,
      submit_label: "Add Actor",
      feature: feature
    } %>
  <% end %>
<% end %>
