<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% page_info title: "In-Memory Adapter", selected_link: :features %>

<% column_size="flex-basis:25%" %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_feature_flags_path %>">Feature Flags</a> / In-Memory Adapter
<% end %>

<%= render(Primer::Beta::BorderBox.new(mb: 3)) do |box| %>
  <% box.with_header(font_weight: :bold) { "Toolbox" } %>
  <% box.with_body do %>
    <div class="d-flex">
      <div class="d-flex flex-items-center">
        <%= render(Primer::ButtonComponent.new(tag: :a, href: "https://ops.githubapp.com/docs/playbooks/github/feature_management.md", mr: 2, target: "_blank")) do |c| %>
          Playbooks
        <% end %>
      </div>

      <div class="d-flex flex-items-center">
        <%= render(Primer::ButtonComponent.new(tag: :a, href: "https://app.datadoghq.com/dashboard/fcc-hss-w5w/in-memory-flipper-adapter", mr: 2, target: "_blank")) do |c| %>
          Datadog Dashboard
        <% end %>
      </div>

      <div class="d-flex flex-items-center">
        <%= render(Primer::ButtonComponent.new(tag: :a, href: "https://splunk.githubapp.com/en-US/app/gh_reference_app/feature_flags_in_memory_adapter_logs", mr: 2, target: "_blank")) do |c| %>
          Splunk Dashboard
        <% end %>
      </div>
    </div>

    <hr>

    <div class="d-flex flex-items-center mb-2">
      <%= form_tag toggle_in_memory_devtools_feature_flags_url do %>
        <%= submit_tag "#{::Flipper::Adapters::InMemory.adapter_enabled? ? 'Disable' : 'Enable'} In-Memory Adapter", data: { confirm: "#{::Flipper::Adapters::InMemory.adapter_enabled? ? 'Disable' : 'Enable'} in-memory adapter? This will affect all requests within a couple of seconds and could drastically impact performance" }, class: "btn btn-sm btn-danger", role: "button" %>
      <% end %>
      <div class="ml-2">Will switch the dual adapter between the in-memory adapter and its fallback adapter.</div>
    </div>
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new) do |box| %>
  <% box.with_header(font_weight: :bold) { "Adapter Status" } %>
  <% box.with_body do %>
    <div class="p-2 d-flex">
      <div class="text-bold d-flex flex-column" style="<%= column_size %>">Enabled Adapter</div>
      <div class="ml-6 mr-4 pt-1"><%= ::Flipper::Config.enabled_adapter.class.to_s %></div>
    </div>
    <p class="color-fg-muted text-normal px-2" style="<%= column_size %>">This is the adapter that is currently serving feature flags. This top level adapter will always be wrapped by the override adapter. Adapters are inherited in a chain with this one at the bottom.</p>

    <hr>

    <div class="p-2 d-flex">
      <div class="text-bold d-flex flex-column" style="<%= column_size %>">Dual Adapter Configuration</div>
      <div class="ml-6 mr-4 pt-1"><%= ::Flipper::Config.dual_adapter.new_adapter.class.to_s %>, <%= ::Flipper::Config.dual_adapter.fallback_adapter.class.to_s %></div>
    </div>
    <p class="color-fg-muted text-normal px-2" style="<%= column_size %>">The dual adapter allows us to toggle between two adapters via a key in the KV store. These are the two adapters it is currently configured to use.</p>

    <hr>

    <div class="p-2 d-flex">
      <div class="text-bold d-flex flex-column" style="<%= column_size %>">Enabled Dual Adapter</div>
      <div class="ml-6 mr-4 pt-1"><%= ::Flipper::Config.dual_adapter.enabled_adapter_type %></div>
    </div>
    <p class="color-fg-muted text-normal px-2" style="<%= column_size %>">This is the adapter the dual adapter is currently using. If the "Enabled Adapter" is not "Flipper::Adapters::Dual" then the dual adapter is not being used and this setting shouldn't matter.</p>

    <hr>

    <div class="p-2 d-flex">
      <div class="text-bold d-flex flex-column" style="<%= column_size %>">In-Memory Adapter Status</div>
      <div class="ml-6 mr-4 pt-1"><%= render(Primer::Beta::Label.new(size: :large)) { ::Flipper::Adapters::InMemory.adapter_enabled? ? "Enabled" : "Disabled" } %></div>
    </div>
    <p class="color-fg-muted text-normal px-2" style="<%= column_size %>">If the background thread is running but this adapter is disabled then we are not serving flags out of memory.</p>

    <hr>

    <div class="p-2 d-flex">
      <div class="text-bold d-flex flex-column" style="<%= column_size %>">Background Thread Status</div>
      <div class="ml-6 mr-4 pt-1"><%= render(Primer::Beta::Label.new(size: :large)) { ::Flipper::Config.in_memory_enabled? ? "Enabled" : "Disabled" } %></div>
    </div>
    <p class="color-fg-muted text-normal px-2" style="<%= column_size %>">The background thread preloads all feature flags (except big features) into memory. The thread runs on every unicorn instance so even if it's enabled it is possible for some unicorns to be in an unexpected state.</p>
  <% end %>
<% end %>
