<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="container-lg p-responsive">
  <div class="col-12 col-md-9 pl-md-4 mx-auto">
    <div class="mt-5 pt-1">
      <%= feature_icon_image_tag %>
      <h1 class="h3-mktg font-mktg">
        <span class="font-alt-mktg">Join the <%= feature_name %> Waitlist</span>
      </h1>
      <% if survey_flash.present? %>
        <%= render(Primer::Beta::Flash.new(mt: 6)) do %>
          <strong>Note</strong>: <%= survey_flash %> <% if survey_flash_link_url.present? %>Check out the <%= link_to "documentation", survey_flash_link_url, class: "Link--inTextBlock" %> to learn more.<% end %>
        <% end %>
      <% end %>
      <p class="col-md-11 mt-6 color-fg-muted f5">
        <%= safe_join(sign_up_callout.lines, tag(:br)) %>
      </p>
    </div>

    <div class="pb-5 mt-3">
      <% if logged_in? %>
        <% if membership_exists? %>
          <%= render(Primer::Beta::Flash.new(icon: :info)) do %>
            <% if already_enabled? %>
              <%= feature_name %> is <strong>already enabled on your account</strong>!
              <% if feature_url.present? %>
                Try it out at <a class="Link--inTextBlock" href="<%= feature_url %>" target="_blank" rel="noopener noreferrer"><%= URI.parse(feature_url).host %></a>.
              <% end %>
            <% else %>
              You’re already on the waitlist for <%= feature_name %>! We’ll email you when we’ve enabled it on your account.

              Make sure your <%= link_to "primary email address is up-to-date", settings_email_preferences_url, class: "Link--inTextBlock" %>.
            <% end %>
          <% end %>

        <% else %>
          <%= render Beta::SignupFormComponent.new(
            survey: survey,
            survey_header: survey_header,
            adminable_organizations: adminable_organizations,
            survey_choice_detail_links: survey_choice_detail_links,
          ) %>
        <% end %>

      <% else %>
        <div class="mt-5 col-12">
          <%=
            render(Primer::ButtonComponent.new(
              scheme: :primary,
              tag: :a,
              href: login_path(return_to: beta_signup_url),
              test_selector: "beta-form-sign-in")) {
              "Sign in to join waitlist"
            }
          %>
        </div>
      <% end %>
    </div>
  </div>
</div>
