<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if survey_header %>
  <h2 class="h5"><%= survey_header %></h2>
<% end %>

<%= form_with url: beta_agree_path do |f| %>
  <% (survey&.active_questions || []).each.with_index do |question, question_index| %>
    <% single_checkbox = !question.multiple_choice? && !question.choices.first.other? %>
    <fieldset class="<%= class_names('mb-4 form-group', 'border p-2 rounded-2': single_checkbox) %>">

      <%= f.hidden_field "answers[#{question_index}][question_id]", { value: question.id } %>

      <% if question.multiple_choice? %>

        <legend class="h5 mb-2">
          <%= question.text %>
          <% unless question.accept_multiple_answers? %>
            <span class="color-fg-danger">*</span>
          <% end %>
        </legend>
        <% question.choices.each_with_index do |choice, choice_index| %>
          <% field_id = "#{question.short_text}_#{choice.short_text}" %>
          <div class="my-1">
            <label class="text-normal">
              <% if question.accept_multiple_answers? %>
                <%= f.hidden_field "answers[#{question_index}-#{choice_index}][question_id]", { value: question.id } %>
                <%=
                  check_box_tag(
                    "answers[#{question_index}-#{choice_index}][choice_id]", choice.id, false,
                    id: field_id,
                    class: "mr-1",
                  )
                %>
              <% else %>
                <%=
                  radio_button_tag(
                    "answers[#{question_index}][choice_id]", choice.id, false,
                    id: field_id,
                    class: "mr-1",
                    required: true,
                  )
                %>
              <% end %>
              <%= choice.text %>

              <% if choice.other? %>
                <%= f.hidden_field "answers[#{question_index}][choice_id]", { value: choice.id } %>
                <%=
                  text_field_tag(
                    "answers[#{question_index}][other_text]",
                    nil,
                    id: "#{field_id}_other",
                    class: "ml-1 form-control",
                  )
                %>
              <% end %>
            </label>
          </div>
        <% end %>

      <% elsif choice = question.choices.first %>

        <% if choice.other? %>
          <label class="text-normal">
            <legend class="h5 mb-2">
              <%= question.text %>
              <span class="color-fg-danger">*</span>
            </legend>
            <%= f.hidden_field "answers[#{question_index}][choice_id]", { value: choice.id } %>
            <%=
              text_field_tag(
                "answers[#{question_index}][other_text]",
                nil,
                id: question.short_text,
                class: "mr-1 form-control",
                style: "width: 100%;",
                required: true,
              )
            %>
          </label>
        <% else %>
          <% field_id = "#{question.short_text}_#{choice.short_text}" %>
          <label class="d-flex text-normal f5">
            <%=
              check_box_tag(
                "answers[#{question_index}][choice_id]", choice.id, false,
                id: field_id,
                class: "mr-1 mt-1 flex-self-start",
                style: "width: 24px;",
              )
            %>
            <div class="col-10">
              <legend class="h5 mb-2">
                <%= question.text %>
              </legend>
              <span><%= choice.text %></span>
            </div>
            <%=
              survey_choice_detail_link(
                field_id,
                class: "ml-4 flex-self-center f6",
                style: "width: 80px;"
              )
            %>
          </label>
        <% end %>

      <% end %>

    </fieldset>
  <% end %>

  <% if adminable_organizations %>
    <legend class="h5 mb-2">
      For which account are you requesting this feature?
      <span class="color-fg-danger">*</span>
    </legend>

    <p class="color-fg-subtle">
      If an organization you are a member of is not listed here, ask your organization admin to request access!
    </p>

    <details class="details-reset details-overlay d-inline-block select-menu select-menu-modal-right mb-3">
      <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button with-gravatar", "data-menu-button": "") do %>
        Select an account
      <% end %>
      <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-list">
          <span data-menu-button-contents hidden>
            <div class="d-inline-block mr-1">Select an account</div>
          </span>
          <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="true">
            <input type="radio" name="member_id" value="" checked>
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Select an account</div>
          </label>

          <% if adminable_organizations.empty? %>
            <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="false" aria-disabled="true">
              <%= primer_octicon(:x, classes: "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <div class="mr-2">No organizations available</div>
              </div>
              <div data-menu-button-contents hidden>
                <div class="d-inline-block mr-4">
                  <div class="mr-2">No organizations available</div>
                </div>
              </div>
            </label>
          <% end %>

          <% adminable_organizations.each do |adminable_org| %>
            <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="false">
              <input type="radio" name="member_id" value="<%= adminable_org.id %>" data-owner="<%= adminable_org.owner.display_login %>">
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <%= avatar_for(adminable_org.owner, 20, class: "avatar select-menu-item-gravatar flex-shrink-0", alt: "#{adminable_org.display_login}'s avatar") %>
                <div class="mr-2"><%= adminable_org.display_login %></div>
              </div>
              <div data-menu-button-contents hidden>
                <div class="d-inline-block mr-4">
                  <%= avatar_for(adminable_org.owner, 20, class: "avatar select-menu-item-gravatar flex-shrink-0", alt: "#{adminable_org.display_login}'s avatar") %>
                  <div class="mr-2"><%= adminable_org.display_login %></div>
                </div>
              </div>
            </label>
          <% end %>
        </div>
      </details-menu>
    </details>
  <% end %>

  <div class="mt-4 col-12 col-md-11">

    <p>
      This technology preview is a Beta Preview under
      <%= link_to "GitHub's Terms of Service", "#{GitHub.help_url(skip_enterprise: true)}/articles/github-terms-of-service/", class: "Link--inTextBlock" %>.
    </p>

    <% if params[:redirect_back].present? %>
      <input type="hidden" name="redirect_back" value="<%= params[:redirect_back] %>">
    <% end %>

    <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit, disabled: false)) { "Join the waitlist" } %>
  </div>
<% end %>
