<%# erblint:counter DeprecatedComponentsCounter 7 %>

<% owner_name = owner.login %>

<% title = "Projects owned by #{owner_name}" %>
<% page_info title: title %>

<%= form_with url: stafftools_projects_beta_path, method: :get do |f| %>
  <div class="form-group">
    <%= f.text_field :query,
      autofocus: true,
      placeholder: 'Search by project title or user ID',
      value: query || '',
      "aria-labelledby": "general-search-description"
    %>

    <%= render Primer::ButtonComponent.new(type: :submit) do %>
      Search
    <% end %>
  </div>
<% end %>
<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">Open <%= title %></h2>
  </div>

<% if projects.any? %>
  <table class="site-admin-table">
    <% projects.each do |project| %>
      <tr>
        <td class="tiny">
          <%= link_to "##{project.number}", stafftools_projects_beta_show_path(project.id) %>
        </td>
        <td>
          <%= project.name %>
        </td>
        <td class="right-align">
          <% if project.creator %>
              Created by <%= link_to project.creator, stafftools_user_path(project.creator), class: "name Link--inTextBlock" %>
              <relative-time prefix="" class="no-wrap" datetime="<%= project.created_at %>"></relative-time>
          <% else %>
              Could not determine who created this project.
          <% end %>
        </td>
        <td>
          <%= render(Primer::Box.new(display: :flex)) do %>
            <%= form_tag(stafftools_projects_beta_soft_delete_path(project.id), method: :delete) do %>
              <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, variant: :small, mr: 1) do %>Soft delete<% end %>
            <% end %>
            <%= form_tag(stafftools_projects_beta_delete_path(project.id), method: :delete) do %>
              <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, variant: :small, "data-confirm": "Are you sure you want to permanently delete #{ project.name }?") do %>Destroy<% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate projects, param_name: :open_projects_page %>
  </div>

<% else %>
  <p class="site-admin-blankstate">
    No projects yet.
  </p>
<% end %>

<div class="site-admin-subhead ruleless">
  <h2 class="site-admin-subhead-heading">Closed <%= title %></h2>
</div>

<% if closed_projects.any? %>
  <table class="site-admin-table">
    <% closed_projects.each do |project| %>
      <tr>
        <td class="tiny">
          <%= link_to "##{project.number}", stafftools_projects_beta_show_path(project.id) %>
        </td>
        <td>
          <%= project.name %>
        </td>
        <td class="right-align">
          Created by <%= link_to project.creator, stafftools_user_path(project.creator), class: "name Link--inTextBlock" %>
          <relative-time prefix="" class="no-wrap" datetime="<%= project.created_at %>"></relative-time>
        </td>
        <td class="right-align">
          <%= render(Primer::Box.new(display: :flex)) do %>
            <%= form_tag(stafftools_projects_beta_reopen_path(project), method: :post) do %>
              <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, mr: 1) do %>Re-open<% end %>
            <% end %>
            <%= form_tag(stafftools_projects_beta_delete_path(project.id), method: :delete) do %>
              <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, variant: :small, "data-confirm": "Are you sure you want to permanently delete #{ project.name }?") do %>Destroy<% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate closed_projects, param_name: :closed_projects_page %>
  </div>

<% else %>
  <p class="site-admin-blankstate">
    No closed projects.
  </p>
<% end %>

<div class="site-admin-subhead ruleless">
  <h2 class="site-admin-subhead-heading">Deleted <%= title %></h2>
</div>

<% if deleted_projects.any? %>
  <table class="site-admin-table">
    <% deleted_projects.each do |project| %>
      <tr>
        <td class="tiny">
          <%= link_to "##{project.number}", stafftools_projects_beta_show_path(project.id) %>
        </td>
        <td>
          <%= project.name %>
        </td>
        <td class="right-align">
          Deleted by <%= link_to project.deleted_by, stafftools_user_path(project.deleted_by), class: "name Link--inTextBlock" %>
          <relative-time prefix="" class="no-wrap" datetime="<%= project.deleted_at %>"></relative-time>
        </td>
        <td>
          <%= render(Primer::Box.new(display: :flex)) do %>
            <%= form_tag(stafftools_projects_beta_restore_path(project), method: :post) do %>
              <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, mr: 1, "data-confirm": "Note: Any previously enabled workflows for this project will need to be manually reenabled") do %>Restore<% end %>
            <% end %>
            <%= form_tag(stafftools_projects_beta_delete_path(project.id), method: :delete) do %>
              <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, variant: :small, "data-confirm": "Are you sure you want to permanently delete #{ project.name }?") do %>Destroy<% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate deleted_projects, param_name: :deleted_projects_page %>
  </div>

<% else %>
  <p class="site-admin-blankstate">
    No deleted projects.
  </p>
<% end %>

</div>
