<%
  page_info \
  title: page[:title], \
  description: page[:seo_description],
  richweb: {
    title: page[:seo_title],
    url: request.original_url,
    description: page[:seo_description],
    image: page[:seo_image_url],
  },
  class: "header-white"
%>

<%= render Site::SectionComponent.new(classes: "pt-7 pt-lg-9") do %>
  <%= render Site::HeroComponent.new(
    classes: "Links--underline",
    header: page[:heading],
    text: "GitHub for Startups works with leading startup ecosystem leaders to help early-stage startups go from seed funding to unicorn status. Find out if your investor, accelerator, or incubator is involved in the <a class='Link--inTextBlock' href='/enterprise/startups'>GitHub for Startups</a> program to see if you’re eligible. From there, ask for a referral to our program and we'll take care of the rest."
    )
  %>

  <div class="f4-mktg col-7-max mx-auto markdown-body mb-10 d-flex flex-justify-center">
    <table>
      <thead>
        <th align="left">Partner</th>
        <th align="left">Type</th>
      </thead>
      <tbody class="wb-break-word">
        <% partners.each do |partner| %>
          <tr>
            <td align="left"><a href="<%= partner[:website] %>"><%= partner[:name] %></a></td>
            <td align="left"><%= partner[:type].join(', ') %></td> <%# partner can be multiple types (field is an array) %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render Site::RiverComponent.new(
    header: "Don't see your partner?",
    text_placement: :center,
    cache: false
  ) do |c| %>
    <% c.with_after do %>
      <%= render "site/enterprise/startups/forms/partner_intake", locals: { cta_link_caption: "Have them apply here" } %>
    <% end %>
  <% end %>

<% end %>
