<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag attach_to_stafftools_repository_network_path do %>
  <div class="Box-body">
    <%- view.attachable_repos.each do |repo| %>
      <div class="repo mb-2 mt-2">
        <label>
          <%= radio_button_tag "attach_to_repo_id", repo.id, false, class: "js-require-selection" %>
          <% if repo.owner.organization? %>
            <%= primer_octicon(:organization) %>
          <% else %>
            <%= primer_octicon(:person) %>
          <% end %>
          <%= repo.nwo %>
        </label>
      </div>
    <%- end %>
  </div>
  <div class="Box-footer">
    <%= render Primer::ButtonComponent.new(type: :submit, block: true, classes: "disabled", disabled: true) do %>
      <%= view.attach_button_text %>
    <% end %>
  </div>
<%- end %>
