<% view = Stafftools::RepositoryViews::NetworkView.new(repository: current_repository, current_user: current_user) %>

<% page_info title: "#{current_repository.name_with_owner} - Network tree", selected_link: :network %>

<%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= link_to "Network", stafftools_repository_network_path, "data-pjax" => true %>
    / Network tree
  <% end %>
<% end %>

<% if view.has_related_networks? %>
  <div id="network">
    <%= draw_network_tree view.first, view.repo_map, use_icons: true, stafftools: true %>
    <% view.family_network_maps.each do |network_map| %>
      <% next if network_map.first.source_id == view.network.id %>
      <hr>
      <%= draw_network_tree *network_map, use_icons: true, stafftools: true %>
    <% end %>
  </div>
<% elsif view.has_forks? || view.has_child_networks? %>
  <div id="network">
    <%= draw_network_tree view.first, view.repo_map, use_icons: true, stafftools: true %>
    <% view.child_network_maps.each do |network_map| %>
      <hr>
      <%= draw_network_tree *network_map, use_icons: true, stafftools: true %>
    <% end %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No forks of this repository exist
    <% end %>
  <% end %>
<% end %>
