<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h4, font_weight: :bold, font_size: 4) do %><%= heading %><% end %>
<% end %>
<% if read_access? || write_access? || admin_access? %>
  <%= render(Primer::Beta::BorderBox.new(my: 2)) do |component| %>
    <% component.with_body do %>
      <ul>
        <% if read_access? %>
          <li class="Box-row"><%= primer_octicon(:check, color: :success, mr: 1) %>
            <span class="text-bold">Read</span> access to <%= read_access %>
          </li>
        <% end %>
        <% if write_access? %>
          <li class="Box-row"><%= primer_octicon(:check, color: :success, mr: 1) %>
            <span class="text-bold">Read</span> and <span class="text-bold">Write</span> access to <%= write_access %>
          </li>
        <% end %>
        <% if admin_access? %>
          <li class="Box-row"><%= primer_octicon(:check, color: :success, mr: 1) %>
            <span class="text-bold">Read</span>, <span class="text-bold">Write</span>, and <span class="text-bold">Admin</span> access to <%= admin_access %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% else %>
  <div class="Box mt-2 text-center py-4">
    <%= render Primer::BlankslateComponent.new(title_tag: :h5, title: no_permissions_text) %>
  </div>
<% end %>
