<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h5, font_weight: :bold, classes: "h5") do %>Requested <%= @type %> Permissions<% end %>
<% end %>
<% if has_any_changes? %>
  <%= render(Primer::Beta::BorderBox.new(my: 2)) do |component| %>
    <% if added_permissions? %>
      <% component.with_row do %>
        <div class="pb-1">
          <span class="text-bold">Added permissions:</span>
        </div>
        <% if added_read_permissions? %>
          <div>
            <%= primer_octicon(:check, color: :success, mr: 1) %>
            <span class="text-bold">Read</span> access to <%= format_permission_names(added_read_permissions.keys) %>
          </div>
        <% end %>
        <% if added_write_permissions? %>
          <div>
            <%= primer_octicon(:check, color: :success, mr: 1) %>
            <span class="text-bold">Write</span> access to <%= format_permission_names(added_write_permissions.keys) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% if removed_permissions? %>
      <% component.with_row do %>
        <div class="pb-1">
          <span class="text-bold">Removed permissions:</span>
        </div>
        <% if removed_read_permissions? %>
          <div>
            <%= primer_octicon(:x, color: :danger, mr: 1) %>
            <span class="text-bold">Read</span> access to <%= format_permission_names(removed_read_permissions.keys) %>
          </div>
        <% end %>
        <% if removed_write_permissions? %>
          <div>
            <%= primer_octicon(:x, color: :danger, mr: 1) %>
            <span class="text-bold">Write</span> access to <%= format_permission_names(removed_write_permissions.keys) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% if downgraded_permissions? || upgraded_permissions? %>
      <% component.with_row do %>
        <div class="pb-1">
          <span class="text-bold">Changed permissions:</span>
        </div>
        <% if upgraded_write_permissions? %>
          <div>
            <%= primer_octicon(:"arrow-up", color: :attention, mr: 1) %>
            <span class="text-bold">Write</span> access <span class="text-italic color-fg-subtle">(was read)</span> to <%= format_permission_names(upgraded_write_permissions.keys) %>
          </div>
        <% end %>
        <% if downgraded_read_permissions? %>
          <div>
            <%= primer_octicon(:"arrow-down", color: :attention, mr: 1) %>
            <span class="text-bold">Read</span> access <span class="text-italic color-fg-subtle">(was write)</span> to <%= format_permission_names(downgraded_read_permissions.keys) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="Box mt-2 text-center py-4">
    <%= render Primer::BlankslateComponent.new(title_tag: :h5, title: "There are no changes to #{@type.downcase} permissions.") %>
  </div>
<% end %>
