<%# view is instance of Integrations::PermissionsView %>

<div class="js-integration-permissions-selector" name="integration_permissions">

  <%= subhead %>
  <%= description %>

  <%= render(ProgrammaticAccess::ResourceSelectionListComponent.new(resource_parent: Repository, view: view, hidden: !show_repository_permissions?, data_attribute: "data-repository-permissions")) do |component| %>
    <% component.with_description do %>
      Repository permissions permit access to repositories and related resources.
    <% end %>
  <% end %>

  <% if show_organization_permissions? %>
    <%= render(ProgrammaticAccess::ResourceSelectionListComponent.new(resource_parent: Organization, view: view, data_attribute: "data-organization-permissions")) do |component| %>
      <% component.with_description do %>
        Organization permissions permit access to organization related resources.
      <% end %>
    <% end %>
  <% end %>

  <% if show_user_permissions? %>
    <%= render(ProgrammaticAccess::ResourceSelectionListComponent.new(resource_parent: User, view: view, data_attribute: "data-user-permissions")) do |component| %>
      <% component.with_description do %>
        <% if integration_view? %>
          These permissions are granted on an individual user basis as part of the User authorization flow.
        <% else %>
          User permissions permit access to resources under your personal GitHub account.
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if show_enterprise_permissions? %>
    <%= render(ProgrammaticAccess::ResourceSelectionListComponent.new(resource_parent: Business, view: view, data_attribute: "data-business-permissions")) do |component| %>
      <% component.with_description do %>
        Enterprise permissions permit access to manage GitHub App Installations within your enterprise.
      <% end %>
    <% end %>
  <% end %>

  <%= additional_settings %>

</div>
