<%# erblint:counter ButtonComponentMigrationCounter 2 %>

<div class="form-group">
  <div class="js-previewable-comment-form previewable-comment-form write-selected" data-preview-url="<%= @data_preview_url %>">
    <%= csrf_hidden_input_for @data_preview_url, class: "js-data-preview-url-csrf" %>

    <div class="p-0 color-bg-default comment-form-head tabnav">
      <div class="float-right hide-sm">
        <a rel="noopener noreferrer" class="tabnav-extra" href="<%= writing_on_github_docs_url %>" target="_blank">
          <%= primer_octicon(:markdown) %> Markdown supported
        </a>
      </div>

      <nav class="tabnav-tabs mx-2 mx-lg-0 no-wrap d-flex flex-auto d-md-block" role="tablist" aria-labelledby="<% @name %>">
        <button type="button" class="btn-link tabnav-tab write-tab js-write-tab selected px-3 px-sm-6 px-md-3 flex-1 flex-md-auto" role="tab" aria-selected="true">Write</button>
        <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab flex-1 flex-md-auto" role="tab">Preview</button>
      </nav>
    </div>

    <div class="comment-form-error js-comment-form-error" role="alert" hidden></div>

    <div class="m-0 write-content js-write-bucket <%= 'js-length-limited-input-container' if @maxlength %>">
      <%= render(GitHub::TextExpanderComponent.new) %>
      <%= text_area_tag @field, @text_content, form_options %>

      <% if @maxlength %>
        <p class="js-length-limited-input-warning color-fg-danger d-none text-right mt-1"></p>
      <% end %>
    </div>

    <div class="m-0 preview-content">
      <div class="comment-body markdown-body js-preview-body"></div>
    </div>
  </div>
</div>
