<div class="flex-auto">
  <div>
    <strong><%= title %></strong>

    <%= render(Primer::Beta::Link.new(href: docs_url, target: "_blank", rel: "noopener noreferrer", classes: "link-small", scheme: :secondary, pl: 1, aria: { label: "Info" })) do %>
      <%= primer_octicon(:info) %>
    <% end %>

    <%= render(Primer::Beta::Label.new(scheme: :orange, ml: 2, hidden: !mandatory?, classes: "js-mandatory-label", title: "Label: mandatory")) { "mandatory" } %>
  </div>

  <div class="text-small color-fg-subtle">
    <%= description %>
  </div>
</div>

<%= render(ProgrammaticAccess::ActionSelectionListComponent.new(@resource, @view)) %>
