<section aria-label=<%= "#{permission_type}-permissions" %> <%= data_attribute %> <%= "hidden" if hidden %> class="js-permissions-selector mb-6 ">
  <%= render ProgrammaticAccess::CollapsibleBoxComponent.new(header_bg: :transparent) do |component| %>
    <% component.with_header do %>
      <%= render(Primer::Beta::Subhead.new(hide_border: true, p: 0)) do |subhead| %>
        <% subhead.with_heading(tag: :h4, font_size: 4, font_weight: :bold, flex_grow: 0) { heading } %>
        <% subhead.with_description(flex: :auto) do %>
          <%= render(Primer::Beta::Label.new(label: "#{permission_type} permission count", title: "Label: #{permission_type} permission count", ml: 1, bg: :subtle, hidden: true, classes: "js-permission-label")) do %>
            <span <%= "data-token-summary=#{permission_type}-permission-count" %>>0</span>
            <span> Selected</span>
          <% end %>
        <% end %>
      <% end %>

      <%= description %>
    <% end %>
    <% component.with_body do |body| %>
      <% resources.each do |resource| %>
        <% body.with_row(align_items: :center, classes: "js-list-group-item", display: :flex) do %>
          <%= render(ProgrammaticAccess::ResourceSelectionListItemComponent.new(resource, @view)) %>
        <% end %>

        <% if resource == "single_file" %>
          <% args = { classes: "js-dropdown-container", data: { resource: resource } } %>

          <% unless granted?(resource) %>
            <% args[:animation] = :fade_in %>
            <% args[:display] = :none %>
          <% end %>
          <% body.with_row(**args) do %>
            <%= render partial: "integrations/settings/single_file_field", locals: { view: @view } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>
