<%
  gist_files = Gist.limit_files(gist.files(nil), 1)
  title = gist.description.presence || gist_files.first&.display_name.presence || gist.sha || gist.name
%>

<li
  class="<%= class_names(
    "mb-3 d-flex flex-content-stretch sortable-button-item pinned-item-list-item js-pinned-item-list-item",
    "col-12 col-md-6 col-lg-6" => responsive?,
    "col-6" => !responsive?,
    "reorderable" => allow_reordering_pins,
  ) %>"
>
  <div
    class="<%= class_names(
      "Box d-flex p-3 width-full public",
      "fork" => gist.fork?,
      "source" => !gist.fork?
    ) %>"
  >
    <div class="pinned-item-list-item-content">
      <div class="d-flex width-full flex-items-center pb-3">
        <%= render Primer::Beta::Octicon.new(
          icon: "code-square",
          mr: 2,
          color: :muted,
        ) %>
        <%= render(Primer::Beta::Link.new(
          href: user_gist_url(gist.owner, gist, host: GitHub.gist_host_name),
          flex: :auto,
          font_weight: :bold,
          data: profile_click_tracking_attrs(:PINNED_GIST),
          id: gist.id,
        )) do |link| %>
          <% link.with_tooltip(text: title, type: :label) %>
          <span class="repo"><%= truncate(title, length: 39) %></span>
        <% end %>
        <% if allow_reordering_pins %>
          <%= hidden_field_tag "pinned_items_id_and_type[]", "#{gist.id}-Gist", id: "pinned-item-reorder-#{gist.id}" %>
          <span role="button" class="pinned-item-handle js-pinned-item-reorder" aria-label="Drag to reorder">
            <%= render Primer::Beta::Octicon.new(icon: :grabber) %>
          </span>
          <%= render Primer::Beta::Button.new(size: :small, right: 0, align_content: :center, classes: "show-on-focus sortable-button js-sortable-button", "data-direction": "up") do %>
            <%= render Primer::Beta::Octicon.new(
              icon: "chevron-up",
              aria: { label: "Move #{gist.description} up" },
            ) %>
          <% end %>
          <%= render Primer::Beta::Button.new(size: :small, right: 0, align_content: :center, classes: "show-on-focus sortable-button js-sortable-button", "data-direction": "down") do %>
            <%= render Primer::Beta::Octicon.new(
              icon: "chevron-down",
              aria: { label: "Move #{gist.description} down" },
            ) %>
          <% end %>
        <% end %>
      </div>

      <% if gist_files.size > 0 %>
        <% gist_file = gist_files.first %>
        <% if (lines = gist_file.binary? ? [] : gist_file.colorized_lines).any? %>
          <div class="rounded-bottom-2 color-bg-subtle pt-2 pb-1 pr-3 flex-auto">
            <% lines.first(5).each_with_index do |line, i| %>
              <div class="d-flex flex-items-center">
                <span class="blob-num pinned-gist-blob-num pl-0"><%= i + 1 %></span>
                <pre
                  class="lh-condensed-ultra overflow-hidden"
                  style="font-size: 11px"
                ><%= line %></pre>
              </div>
            <% end %>
          </div>
        <% elsif gist_file.image? && encoded_name_for(gist_file) %>
          <div class="mx-3 mb-3">
            <div
              <%= test_selector("gist-image") %>
              style="height: 100px; background-image: url('<%= gist_image_url(gist, gist_file) %>');
                background-size: contain; background-repeat: no-repeat; background-position-y: top;
                overflow: hidden;"
            ></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
