<%
  search_label = has_pinnable_gists ? "Filter repositories and gists" : "Filter repositories"
  show_type_filters = has_pinnable_repos && has_pinnable_gists
%>

<profile-pins
  class="f5 d-flex flex-column overflow-hidden height-full"
  max="<%= ProfilePin::LIMIT_PER_PROFILE %>"
  <%= test_selector("pinned-items-view") %>>
  <div class="mb-3">
    <p class="color-fg-muted">
      <%= modal_description_copy %>
    </p>
    <filter-input aria-owns="pinnable-items" data-target="profile-pins.filterInput" data-action="filter-input-start:profile-pins#setFilteringLogic">
      <div class="d-flex flex-column flex-lg-row flex-auto">
        <div class="auto-search-group mb-1 mb-lg-0 mr-lg-1 flex-auto">
          <input
            type="search"
            aria-label="<%= search_label %>"
            class="form-control width-full auto-search-input"
            data-target="profile-pins.input"
            data-action="focus:profile-pins#loadMorePinnableItems"
            placeholder="<%= search_label %>">
          <%= render Primer::Beta::Octicon.new(icon: "search") %>
        </div>
      </div>
    </filter-input>
    <% if show_type_filters %>
      <div class="mt-3 d-flex flex-items-center">
        <span class="text-bold">Show:</span>
        <div class="form-checkbox ml-4 my-0">
          <label class="text-normal">
            <input type="checkbox" value="repository"
              data-action="change:profile-pins#disableLastCheckedInput change:profile-pins#filter"
              data-targets="profile-pins.filterTypeInputs" checked>
            Repositories
          </label>
        </div>
        <div class="form-checkbox ml-4 my-0">
          <label class="text-normal">
            <input type="checkbox" value="gist"
              data-action="change:profile-pins#disableLastCheckedInput change:profile-pins#filter"
              data-targets="profile-pins.filterTypeInputs" checked>
            Gists
          </label>
        </div>
      </div>
    <% end %>
    <div
      class="flex-self-center text-small lh-condensed-ultra mt-2 color-fg-muted <%= " color-fg-danger" if this_user.pinned_items_remaining(internal_view: viewing_page_as_member) < 1 %>"
      data-remaining-label="remaining"
      data-target="profile-pins.limitNotice" >
      <%= this_user.pinned_items_remaining(internal_view: viewing_page_as_member) %> remaining
    </div>
  </div>

  <remote-pagination
    class="pt-2 overflow-auto border-top"
    data-target="profile-pins.remotePagination"
    data-action="remote-pagination-load:profile-pins#filter remote-pagination-load:profile-pins#limitPins"
    id="pinnable-items">
    <%= form_tag user_set_pinned_items_path(this_user.display_login),
      method: :put,
      id: "pinned-items-update-form",
      "data-target": "profile-pins.form",
      "data-action": "change:profile-pins#limitPins reset:profile-pins#limitPins" do %>
      <input type="hidden" name="view_as" value="<%= view_as %>">
      <ul data-filter-list class="list-style-none position-relative" data-target="remote-pagination.list">
        <%= render partial: "profile_pins/pinnable_items", locals: {
            pinnable_items: pinnable_items,
            pinned_items: pinned_items,
            pinned_items_remaining: this_user.pinned_items_remaining(internal_view: viewing_page_as_member),
            view_as: view_as,
            viewing_page_as_member: viewing_page_as_member,
            dialog_location: dialog_location
          }
        %>
      </ul>
      <div class="color-fg-muted m-1" data-filter-empty-state <% if has_pinnable_repos || has_pinnable_gists %>hidden<% end %>>
        No repositories or gists found.
      </div>
    <% end %>
    <%= form_tag "", method: "GET", class: "mb-3", hidden: true, "data-target": "remote-pagination.form", "data-action": "submit:remote-pagination#submit" do %>
      <%= render Primer::Beta::Button.new(scheme: :link, "data-target": "remote-pagination.submitButton", type: :submit) do %>Load more<% end %>
    <% end %>
  </remote-pagination>
</profile-pins>
