<%
  is_organization = profile_owner.is_a? Organization
%>
<li
  class="<%= class_names(
    "mb-3 d-flex flex-content-stretch sortable-button-item pinned-item-list-item js-pinned-item-list-item",
    "col-12 col-md-6 col-lg-6" => responsive?,
    "col-6" => !responsive?,
    "reorderable" => allow_reordering_pins
  ) %>"
>
  <div
    class="<%= class_names(
      "Box d-flex p-3 width-full public",
      "fork" => repo.fork?,
      "source" => !repo.fork?
    ) %>"
    <%= test_selector("org-pinned-item") if is_organization %>
  >
    <div class="pinned-item-list-item-content">
      <div class="d-flex width-full position-relative">
        <div class="flex-1">
          <% if show_stack_template_labels_icons?(repo) %>
            <%= primer_octicon(:stack, color: :muted, mr: 1) %>
          <% else %>
            <%= render Primer::Beta::Octicon.new(
              icon: icon,
              mr: 1,
              color: :muted
            ) %>
          <% end %>
          <%= render(Primer::Beta::Link.new(
            href: repository_path(repo),
            mr: 1,
            font_weight: :bold,
            word_break: :break_word,
            data: profile_click_tracking_attrs(:PINNED_REPO),
            id: repo.id,
          )) do |link| %>
            <% if !owned_by_user?(owner_id: repo.owner.id, user_id: profile_owner.id) %>
              <% tooltip = "#{repo.name_with_display_owner}" %>
              <span class="owner text-normal"><%= repo.owner_display_login %>/</span><%- end -%><span class="repo"><%= repo.name %></span>
              <% link.with_tooltip(text: tooltip || repo.name, type: :label) %>
          <% end %>
          <%= repository_label(repo, classes: "mt-1 no-wrap v-align-baseline Label--inline") %>
        </div>
        <% if allow_reordering_pins %>
          <div>
            <%= hidden_field_tag(
              "pinned_items_id_and_type[]",
              "#{repo.id}-Repository",
              id: "pinned-item-reorder-#{repo.id}",
            ) %>
            <span role="button" class="pinned-item-handle js-pinned-item-reorder" aria-label="Drag to reorder">
              <%= render Primer::Beta::Octicon.new(icon: :grabber) %>
            </span>
            <%= render Primer::Beta::Button.new(size: :small, right: 0, align_content: :center, classes: "show-on-focus sortable-button js-sortable-button", "data-direction": "up") do %>
              <%= render Primer::Beta::Octicon.new(
                icon: "chevron-up",
                aria: { label: "Move #{repo.name} up" },
              ) %>
            <% end %>
            <%= render Primer::Beta::Button.new(size: :small, right: 0, align_content: :center, classes: "show-on-focus sortable-button js-sortable-button", "data-direction": "down") do %>
              <%= render Primer::Beta::Octicon.new(
                icon: "chevron-down",
                aria: { label: "Move #{repo.name} down" },
              ) %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if repo.fork? && repo.parent %>
        <p class="color-fg-muted text-small mt-2 mb-0">
          Forked from <%= link_to(
            repo.parent.name_with_display_owner,
            repository_path(repo.parent),
            class: "Link--muted Link--inTextBlock",
          ) %>
        </p>
      <% end %>

      <p class="pinned-item-desc color-fg-muted text-small mt-2 mb-0">
        <%= repo.short_description_html %>
      </p>

      <p class="mb-0 mt-2 f6 color-fg-muted">
        <% if repo.primary_language %>
          <%= render Languages::BadgeComponent.new(
            name: repo.primary_language.name,
            display: :inline_block,
            mr: 3,
          ) %>
        <% end %>
        <% if repo.stargazer_count > 0 %>
          <a
            href="<%= stargazers_repository_path(repository: repo, user_id: repo.owner_display_login) %>"
            class="pinned-item-meta Link--muted"
          >
            <%= render Primer::Beta::Octicon.new(
              icon: "star",
              aria: { label: "star".pluralize(repo.stargazer_count) },
            ) %>
            <%= social_count(repo.stargazer_count) %>
          </a>
        <% end %>
        <% if repo.forks_count > 0 %>
          <a
            href="<%= forks_path(repo.owner_display_login, repo.name) %>"
            class="pinned-item-meta Link--muted"
          >
            <%= render Primer::Beta::Octicon.new(
              icon: "repo-forked",
              aria: { label: "fork".pluralize(repo.forks_count) },
            ) %>
            <%= social_count(repo.forks_count) %>
          </a>
        <% end %>
      </p>
    </div>
  </div>
</li>
