<%
  workflow_run_filters = local_assigns[:workflow_run_filters] || {}
  selected_workflow = local_assigns[:selected_workflow] || nil
  selected_workflow_name = local_assigns[:selected_workflow_name] || nil
  selected_section = local_assigns[:selected_section] || :all_workflows
  selected_item_id = selected_workflow&.id || selected_section
  selected_section_name = selected_section.to_s.titleize
  show_link_to_workflow = local_assigns[:show_link_to_workflow] || false
  user_has_push_access = local_assigns[:user_has_push_access] || false
  cache_item_filters = local_assigns[:cache_item_filters] || {}
  allow_pinning = local_assigns[:allow_pinning] || false
%>

<%
suffix = "Workflow runs · #{current_repository.name_with_display_owner}"
title = selected_workflow_name ? "#{selected_workflow_name} · " + suffix : suffix
page_info \
    title: title,
    breadcrumb: "Actions",
    container_xl: true,
    selected_link: :repo_actions,
    footer: false,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <h1 class='sr-only'>Actions: <%= current_repository.name_with_display_owner %></h1>
  <%= render Primer::Experimental::SplitPageLayout.new do |c| %>
    <% c.with_pane_region(width: :wide, test_selector: "actions-split-page-layout-pane") do %>
      <% if repository_feature_enabled?(:actions_workflow_list_pinning) %>
        <%= render partial: "actions/actions_nav_with_pinning", locals: {
          selected_workflow: selected_workflow,
          selected_item_id: selected_item_id,
          workflow_run_filters: workflow_run_filters,
          workflows: workflows,
          workflow_pages_count: workflow_pages_count,
          show_only_required_workflows: show_only_required_workflows,
          show_runners_view: show_runners_view,
          show_attestations_view: show_attestations_view,
          allow_pinning: allow_pinning,
        } %>
      <% else %>
        <%= render partial: "actions/actions_nav", locals: {
          selected_workflow: selected_workflow,
          selected_item_id: selected_item_id,
          workflow_run_filters: workflow_run_filters,
          workflows: workflows,
          required_workflows: required_workflows,
          workflow_pages_count: workflow_pages_count,
          required_workflow_pages_count: required_workflow_pages_count,
          show_only_required_workflows: show_only_required_workflows,
          show_runners_view: show_runners_view,
          show_attestations_view: show_attestations_view,
        } %>
      <% end %>
    <% end %>
    <% c.with_content_region(width: :xl, test_selector: "actions-split-page-layout-content") do %>
      <%= render_actions_billing_warning_if_required(owner: current_repository.owner, current_user: current_user) %>
      <%= render Actions::Navigation::HeaderComponent.new(
        selected_workflow: selected_workflow,
        selected_section: selected_section,
        current_repository: current_repository,
        current_user: current_user,
        workflow_run_filters: workflow_run_filters,
        page_title: page_title,
        show_link_to_workflow: show_link_to_workflow,
        user_has_push_access: user_has_push_access,
        cache_item_filters: cache_item_filters,
        allow_pinning: allow_pinning,
      ) %>
      <%= yield %>
    <% end %>
  <% end %>
<% end %>
