<%-
  # Global HTML document layout
  # Used on all pages. Keep the number of tags here to an absolute minimum.

  body_class_names ||= []
  html_class_names ||= []
-%>
<!DOCTYPE html>
<html
  lang="<%= I18n.locale %>"
  <% if html_class_names.any? %>
    class="<%= html_class_names.join(" ") %>"
  <% end %>
  <%= marketing_page_color_mode_attributes %>
  <%= color_mode_attributes %>
  <%= accessibility_attributes %>
  >

  <% if user_feature_enabled?(:monaspace_font) %>
    <%= render partial: "layouts/monaspace_font_test" %>
  <% end %>

  <% if user_feature_enabled?(:primer_button_border_contrast) %>
    <%= render partial: "layouts/primer_button_border_contrast" %>
  <% end %>

  <head>
    <%= render layout: "layouts/head", &head %>
  </head>

  <body <% if body_class_names.any? %>class="<%= body_class_names.join(" ") %>"<% end %> style="word-wrap: break-word;">
    <div data-turbo-body <% if body_class_names.any? %>class="<%= body_class_names.join(" ") %>"<% end %> style="word-wrap: break-word;">
      <%= yield %>
    </div>

    <% if user_feature_enabled?(:primer_live_region_element) %>
      <%= render partial: "layouts/primer_live_region" %>
    <% else %>
    <div id="js-global-screen-reader-notice" class="sr-only mt-n1" aria-live="polite" aria-atomic="true" <%= test_selector("aria-live-container") %>></div>
    <div id="js-global-screen-reader-notice-assertive" class="sr-only mt-n1" aria-live="assertive" aria-atomic="true"></div>
    <% end %>
  </body>
</html>
