<% case project_owner %>
<% when ::Repository, PlatformTypes::Repository %>
  <%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
    <div class="<%= class_names(
      "clearfix container-xl",
      "d-flex flex-column flex-auto" => full_height?,
      "px-3 px-md-4 px-lg-5" => !full_height? && !skip_responsive_padding?,
      "p-0" => !(!full_height? && !skip_responsive_padding?),
      "mt-4" => !full_height?
    ) %>">
      <%= yield %>
    </div>
  <% end %>
<% when ::Organization, PlatformTypes::Organization %>
  <%= yield %>
<% when ::User, PlatformTypes::User %>
  <%= yield %>
<% else %>
  <% raise TypeError, "unexpected project owner: #{project_owner.class}" %>
<% end %>
