<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter FlashMigrationCounter 1 %>
<%
  partial_tags = local_assigns.fetch(:tags, [])
  partial_tags = [] if !partial_tags.is_a?(Array)
%>

<% head = proc do %>
  <%= yield :preloads %>

  <%= color_mode_bundles %>
  <%
    if user_feature_enabled?(:primer_react_css_modules_css_layers)
      stylesheet_required_bundles.collect! { |bundle| bundle == "primer" ? "primer-css-layers" : bundle }
    end
  %>
  <% stylesheet_required_bundles.each do |bundle| %>
    <%= stylesheet_bundle(bundle) %>
  <% end %>
  <%= controller_stylesheet_bundles %>

  <%= render_nothing_if_database_fails do %>
  <% end %>

  <% if datafile_features.present? %>
    <%= features_datafile_tag %>
  <% end %>

  <%= controller_javascript_bundles %>
  <%= yield :scripts %>

  <title><%= title_for_page %></title>

  <% if staff_bar_enabled? %>
    <meta name="fe-hostname" content="<%= GitHub.local_host_name %>">
    <meta name="ruby" content="<%= RUBY_DESCRIPTION %>">
    <meta name="user-staff" content="true">
  <% end %>

  <% if logged_in? && current_user.site_admin? %>
    <meta name="site-admin-default-url" content="<%= admin_url %>">
    <% if @stafftools_link %>
      <meta name="site-admin-url" content="<%= "#{admin_host_url}#{@stafftools_link}" %>" data-turbo-transient>
    <% end %>
    <% if @spamurai_url %>
      <meta name="spamurai-url" content="<%= "#{@spamurai_url}" %>" data-turbo-transient>
    <% end %>
  <% end %>

  <meta name="route-pattern" content="<%= "#{controller.request.route_uri_pattern}" %>" data-turbo-transient>
  <meta name="route-controller" content="<%= controller.controller_path.gsub("/", "_") %>" data-turbo-transient>
  <meta name="route-action" content="<%= controller.action_name %>" data-turbo-transient>

  <% track_render_partial("stafftools/staffbar/current_catalog_service_meta", partial_tags) do %>
    <%= render partial: "stafftools/staffbar/current_catalog_service_meta" %>
  <% end %>

  <%= page_meta_tags %>

  <% if synthetic_test? %>
    <meta name="synthetic-test" content="true">
  <% end %>

  <% if hovercard_subject_tag %>
    <meta name="hovercard-subject-tag" content="<%= hovercard_subject_tag %>" data-turbo-transient>
  <% end %>

  <% if current_page?(home_path) %>
    <meta name="page-subject" content="GitHub">
  <% end %>

  <%= keyboard_shortcuts_meta_tag %>
  <%= sso_prompt_link_tags %>

  <meta name="selected-link" value="<%= @selected_link || request.path_info %>" data-turbo-transient>
  <link rel="assets" href="<%= asset_host_url %>/">

  <%= render "site/analytics_meta_tags" %>

  <% unless stateless_request? %>
    <meta name="user-login" content="<%= current_user.display_login if logged_in? %>">
  <% end %>

  <% if logged_in? %><link rel="sudo-modal" href="<%= sudo_modal_path %>"><% end %>

  <% if !turbo_visit_request? %>
    <meta name="viewport" content="width=device-width">

    <%= dont_index unless params[:page].blank? %>

    <% if @page_description %>
      <meta name="description" content="<%= @page_description %>">
    <% else %>
      <meta name="description" content="GitHub is where people build software. More than <%= GitHub::MarketingStats::USER_MILLIONS_FALLBACK %> million people use GitHub to discover, fork, and contribute to over <%= GitHub::MarketingStats::REPO_MILLIONS_FALLBACK %> million projects.">
    <% end %>

    <% if serving_gist_standalone? %>
      <link rel="search" type="application/opensearchdescription+xml" href="/opensearch-gist.xml" title="Gist">
    <% else %>
      <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GitHub">
    <% end %>

    <link rel="fluid-icon" href="<%= base_url %>/fluidicon.png" title="GitHub">
    <meta property="fb:app_id" content="<%= GitHub.facebook_app_id %>">
    <%= ios_app_banner %>

    <%= render "site/richweb_head" %>

    <% if live_updates_enabled? %>
      <link rel="shared-web-socket" href="<%= luau_url %>" data-refresh-url="<%= alive_web_socket_path %>" data-session-id="<%= luau_session_id %>">
      <link rel="shared-web-socket-src" href="<%= luau_worker_src %>">
    <% end %>

    <% if feature_enabled_globally_or_for_user?(feature_name: :pwa, subject: current_user) %>
      <link rel="service-worker-src" href="<%= service_worker_path %>">
    <% end %>

    <% if serving_gist_standalone? %>
      <meta name="hostname" content="<%= GitHub.gist3_host_name %>">
    <% else %>
      <meta name="hostname" content="<%= GitHub.host_name %>">
    <% end %>

    <% if GitHub.asset_crossorigin_with_credentials? %>
      <meta name="codemirror-crossorigin-credentials">
    <% end %>

    <% if logged_in? %>
      <meta name="keyboard-shortcuts-preference" content="<%= current_user.settings.get(:keyboard_shortcuts_preference) %>">
      <meta name="hovercards-preference" content="<%= current_user.settings.get(:hovercards_enabled) %>">
    <% end %>

    <% if GitHub.enterprise? %>
      <meta name="robots" content="noindex">
    <% else %>
      <% if serving_gist_standalone? %>
        <meta name="expected-hostname" content="<%= GitHub.gist3_host_name %>">
      <% else %>
        <meta name="expected-hostname" content="<%= GitHub.host_name %>">
      <% end %>
    <% end %>
  <% end %>

  <% if GitHub.enterprise? %>
    <meta name="runtime-environment" content="<%= GitHub.runtime.current %>">
  <% end %>

  <meta http-equiv="x-pjax-version" content="<%= pjax_version %>" data-turbo-track="reload">
  <meta http-equiv="x-pjax-csp-version" content="<%= pjax_csp_version %>" data-turbo-track="reload">
  <meta http-equiv="x-pjax-css-version" content="<%= pjax_css_version %>" data-turbo-track="reload">
  <meta http-equiv="x-pjax-js-version" content="<%= pjax_js_version %>" data-turbo-track="reload">

  <%= turbo_cache_control_tag %>

  <% if content_for?(:head) %>
    <%= yield :head %>
  <% end %>

  <% if content_for?(:insights_auth_token) %>
    <%= content_for :insights_auth_token %>
  <% end %>

  <% unless GitHub.single_or_multi_tenant_enterprise? || serving_gist_standalone? %>
    <%= render "site/seo_head" %>
  <% end %>

  <% if body_classes.any? %>
    <meta name="turbo-body-classes" content="<%= body_classes.join(" ") %>">
  <% end %>
<% end %>

<%= render layout: "layouts/document", locals: {
      head: head,
      html_class_names: (html_classes),
      body_class_names: (body_classes) } do %>

  <% if Rails.env.development? && GitHub.multi_tenant_enterprise? && !logged_in? && request.path.starts_with?('/login') %>
    <%= render partial: "stafftools/staffbar/tenant_selector" %>
  <% end %>

  <% unless @hide_header %>
    <div class="position-relative js-header-wrapper <% if stats_ui_enabled? %>stats-ui-enabled<% end %>">
      <a href="#start-of-content" data-skip-target-assigned="false" class="<%= logged_in? ? "p-3" : "px-2 py-4" %> color-bg-accent-emphasis color-fg-on-emphasis show-on-focus js-skip-to-content">Skip to content</a>

      <%= render(Primer::Beta::ProgressBar.new(position: :fixed, w: :full, classes: "progress-pjax-loader")) do |component| %>
        <% component.with_item(left: 0, top: 0, bg: :accent_emphasis, classes: "progress-pjax-loader-bar") %>
      <% end %>
      <%= render partial: "site/impersonated" if session_impersonated? %>
      <%= render partial: "stafftools/staffbar/serverstats" if staffbar_allowed? %>
      <%= render_react_partial name: "keyboard-shortcuts-dialog", ssr: false, props: {
        docsUrl: docs_url("get-started/keyboard-shortcuts")
      } %>

      <% if content_for?(:site_banner) %>
        <%= yield :site_banner %>
      <% end %>

      <% if marketing_page? %>
        <% if content_for?(:global_site_banner) %>
          <%= yield :global_site_banner %>
        <% else %>
          <% track_render_partial("site/header/global_banners", partial_tags, trace: true) do %>
            <%= render partial: "site/header/global_banners"%>
          <% end %>
        <% end%>
      <% end %>

      <%= render(Mobile::EnterpriseBannerComponent.new(browser: parsed_useragent, current_url: request.url, controller_name: controller_name)) %>

      <% unless @hide_header_content %>
        <% if content_for?(:site_header) %>
          <%= yield :site_header %>
        <% else %>
          <%= javascript_bundle "command-palette" if command_palette_enabled? %>

          <% if logged_in? && !marketing_page? %>
            <% if header_redesign_enabled? %>
              <% track_render_partial("site/header_component", partial_tags + ["context_region_type:#{nav_breadcrumb.class.name.underscore}"]) do %>
                <%= render(Site::HeaderComponent.new(
                  home_url: home_url,
                  user_can_create_organizations: user_can_create_organizations?,
                  current_repository: current_repository,
                  feature_preview_enabled: feature_preview_enabled?,
                  memex_enabled: GitHub.projects_new_enabled?,
                  context_crumb: nav_breadcrumb,
                  rich_content_enabled: true,
                  eager_load_global_nav: eager_load_global_nav?,
                  react_global_create_menu: react_global_create_menu?,
                  cookie_consent_enabled: @cookie_consent_enabled,
                  account_switcher_helper: account_switcher_helper
                )) %>
              <% end %>
            <% else %>
              <% track_render_partial("site/header/logged_in/header", partial_tags, trace: true) do %>
                <%= render layout: "site/header/logged_in/header" do %>
                  <% if content_for?(:header_title) %>
                    <%= yield :header_title %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <% track_render_partial("site/marketing_header", partial_tags, trace: true) do %>
              <%= render layout: "site/marketing_header", locals: {
                is_search: controller.instance_of?(CodesearchController),
                user_can_create_organizations: user_can_create_organizations?,
                eager_load_global_nav: eager_load_global_nav?,
                account_switcher_helper: account_switcher_helper
              } do %>
                <% if content_for?(:header_title) %>
                  <%= yield :header_title %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%
        stale_session_kwargs = {}
        stale_session_kwargs["data-signedin"] = flash[:stale_session_signedin] unless flash[:stale_session_signedin].nil?
      %>
      <%= render(Primer::Beta::Flash.new(dismissible: true, scheme: :warning, full: true, hidden: true, classes: "js-stale-session-flash stale-session-flash", **stale_session_kwargs)) do %>
        <%= primer_octicon(:alert) %>
        <span class="js-stale-session-flash-signed-in" hidden>You signed in with another tab or window. <a class="Link--inTextBlock" href="">Reload</a> to refresh your session.</span>
        <span class="js-stale-session-flash-signed-out" hidden>You signed out in another tab or window. <a class="Link--inTextBlock" href="">Reload</a> to refresh your session.</span>
        <span class="js-stale-session-flash-switched" hidden>You switched accounts on another tab or window. <a class="Link--inTextBlock" href="">Reload</a> to refresh your session.</span>
      <% end %>

      <% if logged_in? %>
        <% track_render_partial("site/global_notices", partial_tags, trace: true) do %>
          <%= render_nothing_if_database_fails do %>
            <% if content_for?(:global_notices) %>
              <%= yield :global_notices %>
            <% else %>
              <%= render(Site::GlobalNoticeWrapperComponent.new(
                viewer: current_user,
                hide_two_factor_recover_code_warning: @hide_two_factor_recover_code_warning,
                hide_email_verification_warning: @hide_email_verification_warning,
                hide_security_warning: @hide_security_warning))
              %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div id="start-of-content" class="show-on-focus"></div>

  <% if flash[:trade_screening_unknown_error] %>
    <%= render partial: "shared/trade_controls_error_flash", locals: { copy: trade_controls_unknown_error_notice } %>
  <% end %>

  <% if flash[:trade_controls_user_billing_error] %>
    <%= render partial: "shared/trade_controls_error_flash", locals: { copy: trade_controls_user_account_restricted_notice } %>
  <% end %>

  <% if flash[:trade_controls_organization_billing_error] %>
    <%= render partial: "shared/trade_controls_error_flash", locals: { copy: trade_controls_organization_billing_account_restricted } %>
  <% end %>

  <% if flash[:trade_controls_organization_sdn_billing_error] %>
    <%= render partial: "shared/trade_controls_error_flash", locals: { copy: trade_controls_organization_sdn_restricted_notice } %>
  <% end %>

  <% if flash[:trade_screening_generic_notice] %>
    <%= render partial: "shared/trade_controls_error_flash", locals: { copy: trade_screening_generic_notice } %>
  <% end %>

  <% if flash[:trade_screening_true_match_notice] %>
    <%= render partial: "shared/trade_controls_error_flash", locals: { copy: trade_screening_true_match_notice } %>
  <% end %>

  <% if flash[:trade_screening_organization_owned_repo_disabled] %>
    <%= render partial: "shared/trade_controls_error_flash", locals: { copy: trade_controls_organization_repo_disabled_notice(generic: false) } %>
  <% end %>

  <% unless flash_rendered? || @hide_flash %>
    <%= render "shared/flash", show_2fa_banners: true %>
  <% end %>

  <% track_render_partial("notifications/v2/top_shelf", partial_tags) do %>
    <%= render partial: "notifications/v2/top_shelf" %>
  <% end %>

  <% if content_for?(:enterprise_announcement_preview) %>
    <%= yield :enterprise_announcement_preview %>
  <% end %>

  <% content = yield :content %>

  <% if command_palette_enabled? %>
    <% track_render_partial("site/command_palette/dialog", partial_tags) do %>
      <%= render CommandPalette::DialogComponent.new(staff_bar_enabled: staff_bar_enabled?, scope: command_palette_scope, page_breadcrumb: page_breadcrumb_object) %>
    <% end %>
  <% end %>

  <div
    class="application-main <% if full_height? || sticky_footer? %>d-flex flex-auto flex-column<% end %>"
    data-commit-hovercards-enabled
    data-discussion-hovercards-enabled
    data-issue-and-pr-hovercards-enabled
  >
    <% if content && !content.empty? %>
      <%# Please ensure that your layout renders a <main> for accessibility. %>
      <%= content %>
    <% else %>
      <main>
        <%= yield %>
      </main>
    <% end %>
  </div>

  <% if @hide_footer %>
    <% if can_toggle_site_admin_and_employee_status? %>
      <div class="d-none">
        <%= render "site/site_admin_and_employee_toggle_link" %>
      </div>
    <% end %>
  <% else %>
    <% track_render_partial("site/footer", partial_tags) do %>
      <% if content_for?(:site_footer) %>
        <%= yield :site_footer %>
      <% else %>
        <% if show_footer? %>
          <%= render "site/footer", cookie_consent_enabled: @cookie_consent_enabled %>

          <% if content_for?(:site_footer_addition) %>
            <%= yield :site_footer_addition %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if @cookie_consent_enabled && !GitHub.single_or_multi_tenant_enterprise? %>
    <ghcc-consent id="ghcc" class="position-fixed bottom-0 left-0" style="z-index: 999999" data-initial-cookie-consent-allowed="<%= @initial_cookie_consent_allowed %>" data-cookie-consent-required="<%= @cookie_consent_required %>"></ghcc-consent>
  <% end %>

  <% if site_admin? %>
    <button type="button" hidden
      data-modal-url="<%= stafftools_modal_path %>"
      data-hotkey="&#92;,Alt+&#92;"<%# erblint:disable DataHotkey %>
      class="js-stafftools-toggle-modal">Show site admin modal</button>
  <% end %>

  <div id="ajax-error-message" class="ajax-error-message flash flash-error" hidden>
    <%= primer_octicon(:alert) %>
    <button type="button" class="flash-close js-ajax-error-dismiss" aria-label="Dismiss error">
      <%= primer_octicon(:x) %>
    </button>
    You can’t perform that action at this time.
  </div>

  <% if Rails.env.development? %>
    <meta name="environment" content="development">
    <%= render(Primer::Alpha::Banner.new(
      full: true,
      dismiss_scheme: :hide,
      id: "console-error-notice",
      hidden: true,
      scheme: :danger,
      p: 2)
    ) do %>
      <div>Markup errors (<span class="js-console-error-count">0</span>) detected. See console for more details.</div>
    <% end %>
    <%= render(Primer::Alpha::Banner.new(
      full: true,
      dismiss_scheme: :hide,
      id: "bundle-error-notice",
      hidden: true,
      scheme: :danger,
      p: 2)
    ) do %>
      <div>
        Error loading JS bundle(s): <span class="js-bundle-error-names"></span>.
        Run <code>bin/npm run tsc</code> to view syntax errors or <code>overmind connect <%= %w(js assets).join("-") %></code> to inspect the asset server.
      </div>
    <% end %>
  <% end %>
  <% track_render_partial("shared/details_dialog_template", partial_tags) do %>
    <%= render :partial => 'shared/details_dialog_template' %>
  <% end %>
  <% track_render_partial("site/hovercard_template", partial_tags) do %>
    <%= render :partial => 'site/hovercard_template' %>
  <% end %>
  <% track_render_partial("site/snippet_clipboard_copy_template", partial_tags) do %>
    <%= render :partial => 'site/snippet_clipboard_copy_template' %>
  <% end %>

  <% if logged_in? %>
    <%# highlight user's @mentions %>
    <style>
      .user-mention[href$="/<%= current_user.display_login %>"] {
        color: var(--color-user-mention-fg);
        background-color: var(--bgColor-attention-muted, var(--color-attention-subtle));
        border-radius: 2px;
        margin-left: -2px;
        margin-right: -2px;
        padding: 0 2px;
      }
    </style>
  <% end %>

  <% if staff_bar_enabled? %>
    <div style="display:none;" id="page-serverstats">
      <%= render partial: "stafftools/staffbar/stats" %>
    </div>

    <% if site_admin_performance_stats_mode_enabled? %>
      <% if stats_ui_enabled? %>
        <% if render_graphql_query_trace? %>
          <%= render partial: "stafftools/staffbar/graphql_stats", locals: { instrumenter: Platform::GlobalScope } %>
        <% end %>

        <% if render_mysql_query_trace? %>
          <div id="mysql_performance_pane" class="performance-pane js-mysql-performance-pane" hidden>
            <div class="inner">
              <%= render "stafftools/staffbar/mysql_queries_stats", view: create_view_model(Stafftools::Staffbar::MysqlQueriesStatsView, html_id: "mysql_stats", controller: controller) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if request.params["_tracing"] == "true" %>
      <%= render_react_partial name: "internal-api-insights", ssr: false %>
    <% end %>
  <% end %>
<% end %>
