<html data-color-mode="auto" data-light-theme="light" data-dark-theme="dark" data-a11y-link-underlines="true">
  <head>
    <%= controller_javascript_bundles %>
    <%= javascript_bundle 'marketing' %>
    <% stylesheet_required_bundles.each do |bundle| %>
       <%= stylesheet_bundle(bundle) %>
     <% end %>
    <%= stylesheet_bundle 'primer' %>
    <%= stylesheet_bundle 'global' %>
    <%= stylesheet_bundle 'site' %>
    <% ['light', 'dark'].each do |bundle| %>
      <%= stylesheet_bundle bundle %>
    <% end %>

    <meta name="viewport" content="width=device-width">
  </head>
  <body style="word-wrap: break-word;" >
    <div id="js-global-screen-reader-notice" class="sr-only" aria-live="polite" aria-atomic="true"></div>
    <div id="js-global-screen-reader-notice-assertive" class="sr-only" aria-live="assertive" aria-atomic="true"></div>

    <div class="py-3 px-4">
      <% if params.dig(:lookbook, :display, :focusable_siblings) == "on" %>
        <button type="button">Start Button</button>
      <% end %>

      <div data-component-output>
        <%= yield %>
      </div>

      <% if params.dig(:lookbook, :display, :focusable_siblings) == "on" %>
        <button type="button">End Button</button>
      <% end %>
    </div>

    <%= javascript_bundle 'lookbook' %>
  </body>
</html>
