<% content_for :head do %>
  <%= stylesheet_bundle "github" %>
<% end %>

<% content_for :dashboard_sub_layout do %>
  <div class="<%= user_feature_enabled?(:feeds_v2) ? "color-bg-default" : "" %>">
    <% if user_can_switch_contexts? %>
      <% feed_background_class = user_feature_enabled?(:feeds_v2) ? "" : "color-bg-default py-3 p-responsive" %>
      <aside class="hide-xl hide-lg width-full <%= feed_background_class %> border-bottom p-3" aria-label="Account context">
        <%= render Dashboard::ContextSwitcherComponent.new(
          current_context: current_context,
          user_can_create_orgs: user_can_create_organizations?,
          id: "switch_dashboard_context_three_column",
        ) %>
      </aside>
    <% end %>

    <%= render(Site::EnterpriseBannersComponent.new) %>

    <% feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "feed-background" : "color-bg-inset" %>
    <div class="d-md-flex <%=feed_v2_classes%>" style="min-height: 100vh;">
      <aside data-turbo="false" class="<%= user_feature_enabled?(:feeds_v2) ? "feed-left-sidebar " : "team-left-column " %>col-md-4 col-lg-3 color-border-muted border-bottom hide-md hide-sm border-right color-bg-default" aria-label="Account">
        <%= yield :left_column %>
      </aside>

      <div class="flex-auto col-md-8 col-lg-8 px-3 <%= user_feature_enabled?(:feeds_v2) ? "px-sm-3 px-md-0" : "px-lg-5" %>">
        <%= yield :hero %>

        <div class="d-md-flex<%= user_feature_enabled?(:feeds_v2) ? "": " gutter-md-spacious"%> ">
          <div class="mt-3 border-bottom d-flex <%= user_feature_enabled?(:feeds_v2) ? "feed-content flex-justify-center" : "col-md-12 col-lg-8" %>">
            <div class="overflow-x-hidden d-flex flex-auto flex-column <%= user_feature_enabled?(:feeds_v2) ? "feed-main" : "mx-auto" %>"
              style="max-width: <%= user_feature_enabled?(:feeds_v2) ? "" : "1400px" %>">
              <main class="flex-auto">
                <%= yield %>
              </main>

              <%= render "site/footer", cookie_consent_enabled: @cookie_consent_enabled, no_horizontal_padding: true %>
            </div>
            <% if user_feature_enabled?(:feeds_v2) %>
              <% if content_for?(:right_column) %>
                <aside class="feed-right-sidebar mb-5 border-bottom" aria-label="Explore">
                  <%= yield :right_column %>
                </aside>
              <% end %>
            <% end %>
          </div>
          <% if !user_feature_enabled?(:feeds_v2) %>
           <% if content_for?(:right_column) %>
            <aside class="team-left-column width-fit col-md-3 col-lg-4 mt-5 hide-lg hide-md hide-sm border-bottom">
              <%= yield :right_column%>
            </aside>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/dashboard" %>
