<% content_for :content do %>
  <%= yield :js_flash_messages %>

  <% unless header_redesign_enabled? %>
    <div class="pagehead site-admin-head">
      <div class="container-lg px-3 d-flex flex-items-center">
        <h1 class="color-fg-default">
          <%= primer_octicon(:code, :height => 32) %>
          <%= link_to "Developer tools", devtools_path %>
          <%= yield :pagehead_path %>
        </h1>

        <%#= render :partial => "navigation/devtools" %>
      </div>
    </div>
  <% end %>

  <main class="clearfix container-lg px-3 pt-4">
    <%= yield %>
  </main>
<% end %>

<%= render template: 'layouts/application' %>
