<% if command_palette_enabled? %>
  <% track_render_partial("site/command_palette/dialog") do %>
    <%= render CommandPalette::DialogComponent.new(staff_bar_enabled: staff_bar_enabled?, scope: command_palette_scope, page_breadcrumb: page_breadcrumb_object) %>
  <% end %>
<% end %>

<% if header_redesign_enabled? %>
  <% if content_for?(:repository_container_header) %>
    <%= content_for :repository_container_header %>
  <% else %>
    <%# Include empty container header so that any previous header is replaced by Turbo when navigating to pages without the header %>
    <div id="repository-container-header" data-turbo-replace hidden></div>
  <% end %>
<% else %>
  <% if content_for?(:repository_details_container) %>
    <%= content_for :repository_details_container %>
  <% end %>
<% end %>

<%= render partial: "shared/open_in_github_dev", locals: { pull: @pull } %>

<%= yield %>

<%= yield :scripts %>
<%= color_mode_bundles %>
<%= controller_stylesheet_bundles %>
<%= controller_javascript_bundles %>

<% if body_classes.any? %><meta name="turbo-body-classes" content="<%= body_classes.join(" ") %>"><% end %>

<div id="pjax-head" data-turbo-head>
  <title><%= title_for_page %></title>

  <meta http-equiv="x-pjax-version" content="<%= pjax_version %>" data-turbo-track="reload">
  <meta http-equiv="x-pjax-csp-version" content="<%= pjax_csp_version %>" data-turbo-track="reload">
  <meta http-equiv="x-pjax-css-version" content="<%= pjax_css_version %>" data-turbo-track="reload">
  <meta http-equiv="x-pjax-js-version" content="<%= pjax_js_version %>" data-turbo-track="reload">
  <meta name="route-pattern" content="<%= "#{controller.request.route_uri_pattern}" %>" data-turbo-transient>
  <meta name="route-controller" content="<%= controller.controller_path.gsub("/", "_") %>" data-turbo-transient>
  <meta name="route-action" content="<%= controller.action_name %>" data-turbo-transient>

  <meta name="selected-link" value="<%= @selected_link || request.path_info %>" data-turbo-transient>
  <%= analytics_ec_meta_tags %>
  <%= analytics_event_meta_tags %>
  <%= analytics_location_meta_tag %>
  <%= page_meta_tags %>
  <%= sso_prompt_link_tags %>
  <%= keyboard_shortcuts_meta_tag %>

  <% if hovercard_subject_tag %>
    <meta name="hovercard-subject-tag" content="<%= hovercard_subject_tag %>" data-turbo-transient>
  <% end %>

  <% if logged_in? && current_user.site_admin? && @stafftools_link %>
    <meta name="site-admin-url" content="<%= "#{admin_host_url}#{@stafftools_link}" %>" data-turbo-transient>
  <% end %>

  <%= turbo_cache_control_tag %>

  <%= render partial: "stafftools/staffbar/current_catalog_service_meta" %>

  <% unless GitHub.single_or_multi_tenant_enterprise? %>
    <%= render "site/seo_head" %>
  <% end %>

  <%= yield :head %>

  <% if content_for?(:insights_auth_token) %>
    <%= content_for :insights_auth_token %>
  <% end %>
</div>

<%= render "shared/flash", show_2fa_banners: true %>
<%= render partial: "layouts/responsive_meta" %>

<% if stats_ui_enabled? %>
  <div id="pjax-stats">
    <%= render partial: "stafftools/staffbar/stats" %>
  </div>
<% end %>

<% if content_for?(:counts_to_replace) %>
  <%= content_for :counts_to_replace %>
<% end %>
