<%
  locals = ensure_local_vars(
    local_assigns,
    {
      required: [:page_title],
      optional: [
        ## Data ##
        :github_runtime,
        :github_version_number,
        :github_billing_enabled,
        :memex_project,
        :memex_project_items,
        :memex_project_items_paginated,
        :memex_project_all_columns,
        :memex_templates,
        :memex_system_templates,
        :memex_workflow_configurations,
        :memex_workflows,
        :memex_charts,
        :created_with_template_memex,
        :sorted_by,
        :enabled_features,
        :reserved_column_names,
        :theme_preferences,
        :media_urls,
        :page_breadcrumb,
        :page_breadcrumb_object,
        :page_breadcrumb_owner,
        :memex_views,
        :memex_creator,
        :memex_owner,
        :memex_view,
        :logged_in_user,
        :viewer_privileges,
        :memex_limits,
        :memex_relay_ids,
        :latest_memex_project_status,
        :memex_user_notices,
        :memex_service,
        ## Metadata ##
        :memex_alive,
        :memex_refresh_api_data,
        :memex_update_api_data,
        :memex_delete_api_data,
        :memex_suggested_collaborators_api_data,
        :memex_collaborators_api_data,
        :memex_add_collaborators_api_data,
        :memex_remove_collaborators_api_data,
        :memex_item_create_api_data,
        :memex_item_create_bulk_api_data,
        :memex_item_update_bulk_api_data,
        :memex_item_get_api_data,
        :memex_item_update_api_data,
        :memex_item_delete_api_data,
        :memex_item_archive_api_data,
        :memex_item_unarchive_api_data,
        :memex_archived_items_get_api_data,
        :memex_paginated_items_get_api_data,
        :memex_get_archive_status_api_data,
        :memex_item_convert_issue_api_data,
        :memex_item_suggested_assignees_api_data,
        :memex_item_suggested_labels_api_data,
        :memex_item_suggested_issue_types_api_data,
        :memex_item_suggested_milestones_api_data,
        :memex_item_suggested_issue_types_api_data,
        :memex_preview_markdown_api_data,
        :memex_get_sidepanel_item_api_data,
        :memex_comment_on_sidepanel_item_api_data,
        :memex_update_sidepanel_item_reaction_api_data,
        :memex_sidepanel_item_suggestions_api_data,
        :memex_update_sidepanel_item_state_api_data,
        :memex_update_sidepanel_item_api_data,
        :memex_edit_sidepanel_comment_api_data,
        :memex_columns_get_api_data,
        :memex_column_create_api_data,
        :memex_column_update_api_data,
        :memex_column_delete_api_data,
        :memex_column_option_create_api_data,
        :memex_column_option_update_api_data,
        :memex_column_option_delete_api_data,
        :memex_workflow_create_api_data,
        :memex_workflow_update_api_data,
        :stats_post_endpoint_csrf_data,
        :memex_view_create_api_data,
        :memex_view_update_api_data,
        :memex_view_delete_api_data,
        :memex_update_organization_access_api_data,
        :memex_get_organization_access_api_data,
        :search_repositories_endpoint_data,
        :search_issues_and_pulls_endpoint_data,
        :count_issues_and_pulls_endpoint_data,
        :suggested_repositories_endpoint_data,
        :feedback,
        :archive_alpha_feedback,
        :memex_refresh_events,
        :memex_chart_create_api_data,
        :memex_chart_update_api_data,
        :memex_chart_delete_api_data,
        :memex_project_migration,
        :memex_template_api_data,
        :memex_custom_templates_api_data,
        :memex_migration_get_api_data,
        :memex_migration_retry_api_data,
        :memex_migration_cancel_api_data,
        :memex_migration_acknowledge_completion_api_data,
        :memex_tracked_by_api_data,
        :memex_reindex_items_api_data,
        :copy_memex_project_partial_data,
        :memex_item_update_bulk_api_data_v2,
        :memex_statuses_api_data,
        :memex_status_create_api_data,
        :memex_status_destroy_api_data,
        :memex_status_update_api_data,
        :memex_notification_subscription_create_api_data,
        :memex_notification_subscription_destroy_api_data,
        :memex_viewer_subscribed,
        :memex_without_limits_beta_signup_api_data,
        :memex_without_limits_beta_optout_api_data,
        :memex_dismiss_notice_api_data,
        :memex_filter_suggestions_api_data,
        :memex_consistency_metrics,
      ],
      defaults: {},
      view: "layouts/memex"
    }
  )
%>

<%
  page_info(
    title: locals[:page_title],
    full_height: true,
    footer: false,
    skip_pjax_container: true,
    breadcrumb: locals[:page_breadcrumb],
    breadcrumb_object: locals[:page_breadcrumb_object],
    breadcrumb_owner: locals[:page_breadcrumb_owner],
    force_compact_header: true
  )
%>

<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= memex_js_bundle %>
<% end %>

<% content_for :content do %>
  <div class="d-flex flex-column flex-auto height-full" id="js-repo-pjax-container">
    <%= render(Site::EnterpriseBannersComponent.new) %>

    <div class="color-bg-inset">
      <%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
        classes: "Box mx-5 mt-3 mb-0 color-bg-default",
        resource_label: "items",
        accounts: orgs_for_conditional_access_component,
        cap_filter: cap_filter
      ) %>
    </div>
    <projects-v2 id="memex-root" class="d-flex flex-column flex-1"></projects-v2>

    <%= yield %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
