<% head = proc do %>
  <title><%= @page_title %></title>
  <%= color_mode_bundles %>
  <%= stylesheet_bundle "primer" %>
  <%= stylesheet_bundle "global" %>
  <%= controller_stylesheet_bundles %>

  <%= controller_javascript_bundles %>
  <%= yield :head_additions %>
<% end %>

<%= render layout: "layouts/document", locals: { head: head } do %>
  <main>
    <%= yield %>
  </main>
<% end %>
