<%
  org_header_title(this_organization)
  page_info \
    title: this_organization.safe_profile_name,
    description: this_organization_description,
    dashboard_pinnable_item_id: this_organization.id,
    breadcrumb: @discussion ? nil : "Discussions",
    breadcrumb_owner: this_organization,
    container_xl: true
%>

<% content_for :head do %>
  <%= octolytics_repository_tags(current_repository) %>
<% end %>

<% content_for :site_banner do %>
  <%= render Billing::SalesTaxBannerComponent.new(account: this_organization, current_user: current_user) %>
<% end %>

<% content_for :site_banner do %>
  <%= render Organizations::NewTermsOfServiceRequiredComponent.new(organization: this_organization) %>
<% end %>

<% content_for :content do %>
  <main>
    <div itemscope itemtype="http://schema.org/Organization">
      <%= render "orgs/header", view: create_view_model(
        Orgs::HeaderView,
        organization: this_organization,
        selected_nav_item: :discussions,
      ) %>

      <div class="container-xl p-responsive clearfix">
        <%= yield %>
      </div>
    </div>
  </main>
<% end %>

<%= render template: 'layouts/application' %>
