<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% head = proc do %>
  <title><%= title_for_page %></title>

  <link rel="assets" href="<%= asset_host_url %>/">

  <%= page_meta_tags %>
  <%= octolytics_meta_tag %>

  <%= color_mode_bundles %>
  <%= stylesheet_bundle "primer" %>
  <%= stylesheet_bundle "global" %>

  <%= controller_javascript_bundles %>

  <meta name="description" content="Where software is built">
  <% unless stateless_request? %>
    <meta name="user-login" content="<%= current_user.display_login if logged_in? %>">
  <% end %>
<% end %>

<%= render layout: "layouts/document", locals: { head: head, body_class_names: [@page_class] } do %>
  <%= yield %>

  <%= render(Primer::Beta::Flash.new(dismissible: true, scheme: :warning, mb: 3, hidden: true, classes: "js-stale-session-flash")) do %>
    <%= primer_octicon(:alert) %>
    <span class="js-stale-session-flash-signed-in" hidden>You signed in with another tab or window. <a class="Link--inTextBlock" href="">Reload</a> to refresh your session.</span>
    <span class="js-stale-session-flash-signed-out" hidden>You signed out in another tab or window. <a class="Link--inTextBlock" href="">Reload</a> to refresh your session.</span>
    <span class="js-stale-session-flash-switched" hidden>You switched accounts on another tab or window. <a class="Link--inTextBlock" href="">Reload</a> to refresh your session.</span>
  <% end %>
<% end %>
