<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% open_links_in_new_tab = show_contact_microsoft_link?(@application) && GitHub.flipper[:open_footer_links_in_new_tab].enabled? %> <%# rubocop:disable Lint/InstanceVariable %>
<% page_info class: "session-authentication" %>

<% content_for :head do %>
  <%= stylesheet_bundle "github" %>
<% end %>

<% content_for :site_header do %>
<div class="header header-logged-out width-full pt-5 pb-4" role="banner">
  <div class="container clearfix width-full text-center"><%# erblint:disable DeprecatedCustomCss %>
    <% if enterprise? %>
      <a class="header-logo" href="<%= home_url %>" aria-label="Homepage">
        <img alt="GitHub Enterprise logo" src="<%= image_path "modules/enterprise/gh-enterprise-logo.svg" %>" width="204">
      </a>
    <% elsif content_for?(:header_logo) %>
      <%= content_for(:header_logo) %>
    <% else %>
    <a class="header-logo" href="<%= home_url %>" <% if open_links_in_new_tab %> target="_blank" rel="noopener noreferrer"<% end %> aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
      <%= primer_octicon(:"mark-github", :height => 48) %>
    </a>
    <% end %>
  </div>
</div>
<% end %>

<% content_for :site_footer do %>
  <div class="footer container-lg p-responsive py-6 mt-6 f6" role="contentinfo">
    <ul class="list-style-none d-flex flex-justify-center">
      <% if enterprise? %>
        <li class="mx-2">
          <%= render(Primer::Beta::Link.new(href: GitHub.enterprise_help_landing_page, scheme: :secondary)) { "Help" } %>
        </li>

        <% if GitHub.enterprise? %>
          <li class="mx-2">
            <%= render(Primer::Beta::Link.new(href: GitHub.support_link_not_enterprise_default? ? GitHub.support_link_text_mailto_or_link : contact_path, scheme: :secondary)) { "Support" } %>
          </li>
        <% end %>
      <% else %>
        <li class="mx-2">
          <%= render(Primer::Beta::Link.new(href: GitHub.terms_url, scheme: :secondary, data: analytics_click_attributes(category: "Footer", action: "go to Terms", label: "text:terms"))) { "Terms" } %>
        </li>

        <li class="mx-2">
          <%= render(Primer::Beta::Link.new(href: GitHub.privacy_url, scheme: :secondary, data: analytics_click_attributes(category: "Footer", action: "go to privacy", label: "text:privacy"))) { "Privacy" } %>
        </li>

        <li class="mx-2">
          <%= render(Primer::Beta::Link.new(href: GitHub.help_url, scheme: :secondary, data: analytics_click_attributes(category: "Footer", action: "go to docs", label: "text:docs"))) { "Docs" } %>
        </li>

        <li class="mx-2">
          <% if show_contact_microsoft_link?(@application) %>
            <%= render(Primer::Beta::Link.new(href: "https://support.microsoft.com/en-us/help/4501231/microsoft-account-link-your-github-account", scheme: :secondary, data: analytics_click_attributes(category: "Footer", action: "go to microsoft help", label: "text:microsoft-linked-identity-help"), target: "_blank", rel: "noopener noreferrer")) { "Contact Microsoft" } %>
          <% else %>
            <%= render(Primer::Beta::Link.new(href: GitHub.support_url, scheme: :secondary, data: analytics_click_attributes(category: "Footer", action: "go to contact", label: "text:contact"))) { "Contact GitHub Support" } %>
          <% end %>
        </li>

        <% if @cookie_consent_enabled && !GitHub.single_or_multi_tenant_enterprise? %>
          <%= render "site/footer_cookie_consent_links" %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render template: "layouts/application" %>
