<% page_info hide_footer: true %>

<% content_for :site_header do %>
  <header class="js-warp-hide header-logged-out f4 py-3 z-2" role="banner">
    <div class="container-xl d-lg-flex flex-items-center p-responsive">
      <div class="d-md-flex flex-justify-between flex-items-center width-full">
        <a href="<%= home_url %>" aria-label="Homepage">
          <%= render Primer::Beta::Octicon.new(icon: "mark-github", height: 32, color: :on_emphasis) %>
        </a>

        <% unless logged_in? %>
          <div class="font-mktg mt-3 mt-md-0">
            <span class="mr-2 text-gray-light-mktg">Already have an account?</span>
            <a href="<%= site_nav_login_path %>" class="color-fg-on-emphasis">
              Sign in →
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </header>
<% end %>

<% content_for :content do %>
  <div class="js-signup-warp-vid signup-warp-vid z-1">
    <p class="text-mono text-gray-dark-mktg">Initializing your <a class="Link--inTextBlock" href="/">dashboard</a>...</p>

    <video muted playsinline preload="none" class="signup-warp-video" aria-describedby="video-desc">
      <source type="video/mp4" src="<%= image_path "modules/signup/launch_codes/launch-codes-mona@2x.mp4" %>"> media="(min-device-pixel-ratio:2)">
      <source type="video/mp4" src="<%= image_path "modules/signup/launch_codes/launch-codes-mona@1x.mp4" %>">
    </video>

    <div class="js-fallback-img" hidden aria-describedby="video-desc" aria-live="polite">
      <img class="mona-fallback" src="<%= image_path "modules/signup/launch_codes/launch-codes-mona-fallback@1x.jpg" %>" srcset="<%= image_path "modules/signup/launch_codes/launch-codes-mona-fallback@2x.jpg" %> 2x" aria-describedby="video-desc" loading="lazy" alt="Mona Lisa, the Octocat, welcomes you to GitHub">
    </div>
  </div>

  <div class="js-signup-warp-bg signup-warp-bg position-absolute" role="img" aria-describedby="video-desc" hidden></div>

  <div id="video-desc" aria-live="polite" class="sr-only" style="display: none;">
    <p>Launch code accepted. Helm, Warp One. Engage! We are initializing your dashboard and will redirect you there momentarily.</p>
  </div>

  <div class="js-warp-hide bg-gray-dark-mktg d-flex flex-auto flex-column overflow-hidden position-relative">
    <div class="signup-space">
      <div class="signup-stars"></div>
      <div class="signup-stars"></div>
      <div class="signup-stars"></div>
      <div class="signup-stars"></div>
      <div class="signup-stars"></div>
      <div class="signup-stars"></div>
    </div>

    <main class="d-flex flex-auto flex-column">
      <div class="d-flex flex-auto flex-justify-center pt-12">
        <%= yield %>
      </div>

      <div class="d-flex flex-justify-center z-2">
        <div class="mb-6" style="max-width: 654px;">
          <% if GitHub.terms_of_service_enabled? && !logged_in? %>
            <p class="text-gray-light-mktg text-small m-4">
              By creating an account, you agree to the
              <a class="Link--inTextBlock" href="<%= site_terms_path %>" target="_blank" rel="noopener">Terms of Service</a>.
              For more information about GitHub's privacy practices, see the
              <a class="Link--inTextBlock" href="<%= site_privacy_path %>" target="_blank" rel="noopener">GitHub Privacy Statement</a>.
              We'll occasionally send you account-related emails.
            </p>
          <% elsif !current_page?(account_verifications_path) %>
            <div class="mx-4 my-6 pt-6">
              <%= link_to home_path, class: "f4-mktg text-gray-light-mktg", data: { launch_animation: true } do %>
                Skip personalization
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <img
        src="<%= image_path "modules/site/home/hero-glow.svg" %>"
        alt="Glowing universe"
        class="js-warp-hide position-absolute overflow-hidden events-none"
        style="top: 50%; left: 50%; width: 200%; transform: translate(-50%, -50%);"
      >
    </main>

    <div class="z-2">
      <%= render "site/footer", cookie_consent_enabled: @cookie_consent_enabled %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
