<% page_info(
  canonical_url: request.original_url,
  container_xl: true,
) %>

<% content_for :head do %>
  <link rel="preload" href="<%= static_asset_path(mktg_default_font_path) %>" as="font" type="font/woff2" crossorigin>
  <meta name="is_logged_out_page" content="true">
<% end %>

<% content_for :content do %>
  <main class="font-mktg">
    <%= yield %>
  </main>
<% end %>

<% unless GitHub.single_or_multi_tenant_enterprise? %>
  <% content_for :site_footer do %>
    <%= render "site/footer_marketing", cookie_consent_enabled: @cookie_consent_enabled %>
    <% if @cookie_consent_enabled && @microsoft_analytics_enabled %>
      <microsoft-analytics>
        <% if content_for?(:microsoft_analytics_addition) %>
          <%= yield :microsoft_analytics_addition %>
        <% end %>
      </microsoft-analytics>
    <% end %>

    <% if @cookie_consent_enabled && fullstory_enabled? %>
      <%= render Site::Fullstory::CaptureComponent.new %>
    <% end %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
