<% content_for :head do %>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_bundle "site" %>
<% end %>

<% content_for :content do %>
  <main>
    <%= yield %>
  </main>
<% end %>

<% content_for :site_footer do %>
  <% if logged_in? %>
    <%= render "site/footer", cookie_consent_enabled: @cookie_consent_enabled %>
  <% else %>
    <%= render "site/footer_marketing", cookie_consent_enabled: @cookie_consent_enabled %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
