<% content_for :content do %>
  <% if valid_sudo_session? %>
    <% if content_for?(:breadcrumbs) || content_for?(:nav_items) %>
      <nav class="UnderlineNav UnderlineNav--full UnderlineNav--right" aria-label="Main stafftools navigation" >

        <% if content_for?(:banner) %>
          <div class="<%= class_names(
            "p-3",
            "container-xl px-md-4 px-lg-5" => container_xl?,
            "container-lg" => !container_xl?
          ) %>">
            <%= yield :banner %>
          </div>
        <% end %>

        <div class="<%= class_names(
          "UnderlineNav-container px-3",
          "container-xl px-md-4 px-lg-5" => container_xl?,
          "container-lg" => !container_xl?
        ) %>">
          <% if content_for? :breadcrumbs %>
            <div class="UnderlineNav-actions f3 my-2" role="navigation" aria-label="Site Admin">
              <%= primer_octicon(:rocket, vertical_align: :baseline) %>
              <%= yield :breadcrumbs %>
            </div>
          <% end %>
          <% if content_for? :nav_items %>
            <nav class="UnderlineNav-body" aria-label="Site Admin <%= current_repository&.name_with_display_owner || this_user || this_business %>">
              <%= yield :nav_items %>
            </nav>
          <% end %>
        </div>
      </nav>
    <% end %>

    <main id="stafftools">
      <div class="<%= class_names(
        "px-3 mt-4",
        "container-xl px-md-4 px-lg-5" => container_xl?,
        "container-lg" => !container_xl?
      ) %>">
        <% if content_for? :nav_sidebar %>
          <div class="stafftools-group">
            <%= render(Primer::Alpha::Layout.new) do |layout| %>
              <% layout.with_sidebar do %>
                <%= yield :nav_sidebar %>
              <% end %>
              <% layout.with_main do %>
                <%= yield %>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
      </div>
    </main>
  <% else %>
    <%= yield %>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
