<%
  this_parent = this_team.parent_team
  this_grand_parent = this_parent&.parent_team
  selected_nav_item = local_assigns[:selected_nav_item]
  tabs = Team::NavigationTabs.for(team: this_team, current_user: current_user, repositories_count: local_assigns[:repositories_count])
%>
<% content_for :content do %>
  <div>
    <% unless header_redesign_enabled? %>
      <div class="UnderlineNav flex-justify-start UnderlineNav--right px-3">
        <div class="UnderlineNav-actions mr-4">
          <nav class="f5 team-breadcrumb js-expandable-team-breadcrumbs" aria-label="Breadcrumb" data-url="<%= org_team_breadcrumbs_path(team_slug: this_team.slug) %>">
            <ol class="list-style-none d-flex flex-items-center">
              <li class="team-breadcrumb-item d-flex flex-items-center">
                <img class="<%= avatar_class_names(this_organization) %> mr-2" src="<%= avatar_url_for(this_organization, 280) %>" width="24" height="24" alt="">
                <a href="<%= teams_path(this_organization).to_s %>" class="css-truncate css-truncate-target" <%= test_selector("breadcrumb-org-display-name") %>>
                  <%= this_organization.display_login %>
                </a>
              </li>
              <% if this_grand_parent %>
                <li class="team-breadcrumb-item d-flex flex-items-center">
                  <span class="btn-link js-team-breadcrumb-trigger">&hellip;</span>
                </li>
              <% end %>
              <% if this_parent %>
                <li class="team-breadcrumb-item d-flex flex-items-center">
                  <%= link_to(this_parent.name, team_path(this_parent), class: "css-truncate css-truncate-target") %>
                </li>
              <% end %>

              <li class="team-breadcrumb-item team-breadcrumb-item-selected d-flex flex-items-center text-bold color-fg-default" aria-current="page" data-name="<%= this_team.name %>">
                <span class="no-wrap"><%= this_team.name %></span>
              </li>
            </ol>
          </nav>
        </div>
        <nav class="UnderlineNav-body" role="navigation" aria-label="Detail Tabs">
          <% tabs.each do |tab| %>
            <a class="UnderlineNav-item no-wrap <%= "selected" if selected_nav_item && tab.highlight == selected_nav_item %>" href="<%= tab.href %>" <%= safe_data_attributes(tab.data) %>>
              <%= render Primer::Beta::Octicon.new(icon: tab.icon, classes: "UnderlineNav-octicon") %>
              <%= tab.text %>
              <%= render Primer::Beta::Counter.new(count: tab.count, **tab.counter_arguments) %>
            </a>
          <% end %>
        </nav>
      </div>
    <% end %>
    <main>
      <%= content_for?(:team_sub_layout) ? yield(:team_sub_layout) : yield %>
    </main>
  </div>
<% end %>
<%= render template: "layouts/application" %>
