<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% user = this_project.new_record? ? current_user : this_user %>

<% content_for :content do %>
  <% if user %>
   <% if @this_project&.closed? %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, full: true, border_top: 0, text_align: :center, font_weight: :bold, py: 2)) { "The project has been closed. It is now read-only." } %>
    <% end %>

    <div class="pagehead orghead <% if responsive? %>pt-0 pt-lg-3<% end %> <% if full_height? %>mb-0<% end %>">
      <div class="<%= responsive? ? "container-lg p-responsive d-none d-lg-block clearfix" : "container" %>">
        <h1>
          <a class="Link--primary no-underline" href="<%= user_path(user) %>" data-name="<%= user.name %>">
            <%= avatar_for(user, 30, class: "avatar float-left") %>
            <%= user.display_login %>
          </a>
        </h1>

        <nav class="orgnav" role="navigation"><%# erblint:disable GitHub::Accessibility::NavigationHasLabel %>
          <a class="pagehead-tabs-item" href="<%= user_path(user) %>?tab=repositories">
            <%= render(Primer::Beta::Octicon.new(icon: "repo")) %>
            Repositories
            <%= render Primer::Beta::Counter.new(count: user.visible_repositories_for(current_user).size) %>
          </a>

          <a class="pagehead-tabs-item selected" href="<%= user_projects_path(user, type: "classic") %>" data-hotkey="g b"><%# erblint:disable DataHotkey %>
            <%= primer_octicon(:project) %>
            Projects
            <%= render Primer::Beta::Counter.new(count: user.visible_projects_for(current_user).size) %>
          </a>
        </nav>
      </div>

      <% if content_for?(:custom_navigation) %>
        <%= content_for(:custom_navigation) %>
      <% end %>

      <%= render(Site::EnterpriseBannersComponent.new) %>
    </div>

    <main class="<%= responsive? ? "container-lg" : "container" %> <% if full_height? %>d-flex flex-auto p-0<% end %> <% if responsive? && !full_height? %>p-responsive<% end %>">
      <%= yield %>
    </main>
  <% end %>
<% end %>

<% unless content_for?(:header_title) %>
  <% content_for :header_title do %>
    <a class="Header-link" href="<%= user_path(user) %>"><%= user %></a>
  <% end %>
<% end %>

<%= render template: "layouts/application" %>
