<div>
  <div>
    <p class="js-aws-doc-link actions-storage-provider-help-text">
      Learn how to set up&nbsp;<a class="link" href= "<%= help_url %>/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-amazon-s3-storage"> Amazon S3 Storage </a> &nbsp;for GitHub Actions
    </p>
    <label class = "label-heading js-actions-storage-sub-heading">
      Authentication
    </label>
    <div id="actions-storage-provider-s3-auth-selection" class="js-note-trigger-group">
      <label class="radio-item" value="OIDC">
          <input type="radio"
          id="actions-s3-oidc-auth-radio-button"
          name="actions_storage[auth_type]"
          class="js-actions-auth-type-toggle js-note-trigger js-toggle-required-field"
          data-triggers-note="#s3-storage-with-oidc"
          data-required-field="#action_s3_oidc_bucket_name,#action_s3_role_arn,#action_s3_region"
          data-triggers-note-hidden="#s3-storage"
          value="oidc"
          <%=('checked' if (view.oidc_enabled? && view.s3_storage_enabled?))%>>
          OpenID Connect (OIDC)
      </label>
      <label class="radio-item" value="credential">
          <input type="radio"
          id="actions-s3-credential-auth-radio-button"
          name="actions_storage[auth_type]"
          class="js-actions-auth-type-toggle js-note-trigger js-toggle-required-field"
          data-triggers-note="#s3-storage"
          data-required-field="#action_s3_bucket_name,#action_s3_access_key,#action_s3_access_secret,#action_s3_service_url"
          data-triggers-note-hidden="#s3-storage-with-oidc"
          value="credential"
          <%=('checked' if (!view.oidc_enabled? && view.s3_storage_enabled?))%>>
          Credentials-based
      </label>
      <div class="actions-storage-warning highlighted-warning" style = <%=('display:none' if view.oidc_enabled?)%>>
        <img src="/setup/images/preflight/warn.svg" alt="" class="warning-icon">
        <p class="warning-text">
        GitHub recommends using OpenID Connect (OIDC) authentication for a more secure connection to Amazon S3 Storage. <a class="warning-link" href ="<%= help_url %>/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-amazon-s3-storage#about-external-storage-for-github-actions"> Learn more about using OIDC for GitHub Actions</a>.
        </p>
      </div>
    </div>
  </div>
  <div id="s3-storage" class="actions-credential-auth-fields two-thirds" style=<%=('display:none' if view.oidc_enabled?)%>>
    <div class="restore-defaults">
      <label class="label-heading">AWS Service URL</label>
      <input type="text"
        autocomplete="off"
        id="action_s3_service_url"
        name="actions_storage[s3][service_url]"
        value="<%= view.s3_service_url %>"
        class="js-required">
    </div>
    <div class="restore-defaults">
      <label class="label-heading">AWS S3 Bucket</label>
      <input type="text"
        autocomplete="off"
        id="action_s3_bucket_name"
        name="actions_storage[s3][bucket_name]"
        value="<%= view.s3_bucket_name %>"
        class="js-required">
    </div>
    <div class="restore-defaults">
      <label class="label-heading">AWS S3 Access Key</label>
      <input type="password"
        autocomplete="off"
        id="action_s3_access_key"
        name="actions_storage[s3][access_key_id]"
        <% if view.s3_access_key_id? %>
          placeholder="******"
        <% else %>
          class="js-required"
        <% end %> 
      >
    </div>
    <div class="restore-defaults">
      <label class="label-heading">AWS S3 Secret Key</label>
      <input type="password"
        autocomplete="off"
        id="action_s3_access_secret"
        name="actions_storage[s3][access_secret]"
        <% if view.s3_access_secret? %>
          placeholder="******"
        <% else %>
          class="js-required"
        <% end %> 
      >
    </div>
    <div class="subsection">
      <label class="checkbox-item">
        <input name="actions_storage[s3][force_path_style]" type="hidden" value="false" />
        <input type="checkbox"
                id="action_s3_force_path_style"
                name="actions_storage[s3][force_path_style]"
                <%=('checked' if view.s3_force_path_style_enabled?)%>>
        Force path style.
      </label>
      <p>
        Reference buckets and objects with path-style instead of virtual hosted-style URLs.
        This is only relevant for S3-compatible storage providers as they often only support
        path-style. Keep the setting disabled for new Amazon S3 buckets as they only support
        virtual hosted-style.
        <a href="https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/">Learn more</a>.
      </p>
    </div>
  </div>
  <div>
    <div id="s3-storage-with-oidc" class="actions-oidc-auth-fields two-thirds" style=<%=('display:none' unless view.oidc_enabled?)%>>
      <div class="restore-defaults">
        <label class="label-heading">AWS S3 Bucket</label>
        <input type="text"
          autocomplete="off"
          id="action_s3_oidc_bucket_name"
          name="actions_storage[s3_oidc][bucket_name]"
          value="<%= view.s3_oidc_bucket_name %>"
          class="js-required">
      </div>
      <div class="restore-defaults">
        <label class="label-heading">AWS Role</label>
        <input type="text"
          autocomplete="off"
          id="action_s3_role_arn"
          name="actions_storage[s3_oidc][role_arn]"
          value="<%= view.s3_role_arn %>"
          class="js-required">
      </div>
      <div class="restore-defaults">
        <label class="label-heading">AWS Region</label>
        <input type="text"
          autocomplete="off"
          id="action_s3_region"
          name="actions_storage[s3_oidc][region]"
          value="<%= view.s3_region %>"
          class="js-required">
      </div>
      <div class="restore-defaults">
        <label class="label-heading">AWS STS Endpoint</label>
        <input type="text"
          autocomplete="off"
          id="action_s3_sts_endpoint"
          name="actions_storage[s3_oidc][sts_endpoint]"
          value="<%= view.s3_sts_endpoint %>"
          class="js-text">
        <p>
          <small class="connection-string-note">
            <strong>Note</strong>: Leave empty to use the default AWS STS endpoint (sts.amazonaws.com).
          </small>
        </p>
      </div>
    </div>
  </div>

</div>


