<div>
  <div>
    <p class="actions-storage-provider-help-text">
      Learn how to set up&nbsp;<a class="link" href= "<%= help_url %>/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-azure-blob-storage"> Azure Blob Storage </a> &nbsp;for GitHub Actions
    </p>
    <label class = "label-heading js-actions-storage-sub-heading">
      Authentication
    </label>
    <div id="actions-storage-provider-azure-auth-selection" class="js-note-trigger-group">
      <label class="radio-item" value="OIDC">
          <input type="radio"
          id="actions-azure-oidc-auth-radio-button"
          name="actions_storage[auth_type]"
          class="js-actions-auth-type-toggle js-note-trigger js-toggle-required-field"
          data-triggers-note="#azure-storage-with-oidc"
          data-required-field="#action_azure_tenant_id,#action_azure_client_id,#action_azure_storage_acount,#action_azure_blob_endpoint_suffix"
          data-triggers-note-hidden="#azure-storage"
          value="oidc"
          <%=('checked' if (view.oidc_enabled? && view.azure_storage_enabled?))%>>
          OpenID Connect (OIDC)
      </label>
      <label class="radio-item" value="credential">
          <input type="radio"
          id="actions-azure-credential-auth-radio-button"
          name="actions_storage[auth_type]"
          class="js-actions-auth-type-toggle js-note-trigger js-toggle-required-field"
          data-triggers-note="#azure-storage"
          data-required-field="#action_azure_connection_string"
          data-triggers-note-hidden="#azure-storage-with-oidc"
          value="credential"
          <%=('checked' if (!view.oidc_enabled? && view.azure_storage_enabled?))%>>
          Credentials-based
      </label>
      <div class="actions-storage-warning highlighted-warning" style = <%=('display:none' if view.oidc_enabled?)%>>
        <img src="/setup/images/preflight/warn.svg" alt="" class="warning-icon">
        <p class="warning-text">
        GitHub recommends using OpenID Connect (OIDC) authentication for a more secure connection to Azure Blob Storage. <a class="warning-link" href ="<%= help_url %>/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-azure-blob-storage#about-external-storage-for-github-actions"> Learn more about using OIDC for GitHub Actions</a>.
        </p>
      </div>
    </div>    
  </div>
  <div id="azure-storage" class="actions-credential-auth-fields two-thirds" style=<%=('display:none' if view.oidc_enabled?)%>>
    <div class="restore-defaults">
      <label class="label-heading">Connection string</label>
      <input type="password"
        autocomplete="off"
        id="action_azure_connection_string"
        name="actions_storage[azure][connection_string]"
        <% if view.azure_connection_string? %>
          placeholder="******"
        <% else %>
          class="js-required"
        <% end %> 
      >
    </div>
  </div>
  <div id="azure-storage-with-oidc" class="actions-oidc-auth-fields two-thirds" style=<%=('display:none' unless view.oidc_enabled?)%>>
    <div class="restore-defaults">
      <label class="label-heading">Azure Tenant ID</label>
      <input type="text"
        autocomplete="off"
        id="action_azure_tenant_id"
        name="actions_storage[azure_oidc][tenant_id]"
        value="<%= view.azure_tenant_id %>"
        class="js-required">
    </div>
    <div class="restore-defaults">
      <label class="label-heading">Azure Client ID</label>
      <input type="text"
        autocomplete="off"
        id="action_azure_client_id"
        name="actions_storage[azure_oidc][client_id]"
        value="<%= view.azure_client_id %>"
        class="js-required">
    </div>
    <div class="restore-defaults">
      <label class="label-heading">Azure Storage Account Name</label>
      <input type="text"
        autocomplete="off"
        id="action_azure_storage_acount"
        name="actions_storage[azure_oidc][storage_account]"
        value="<%= view.azure_storage_account %>"
        class="js-required">
    </div>
    <div class="restore-defaults">
      <label class="label-heading">Azure Blob Endpoint Suffix</label>
      <input type="text"
        autocomplete="off"
        id="action_azure_blob_endpoint_suffix"
        name="actions_storage[azure_oidc][endpoint_suffix]"
        value="<%= view.azure_blob_endpoint_suffix %>"
        class="js-required">
    </div>
  </div>
</div>