<div>
    <div>
        <p class="js-gcs-doc-link actions-storage-provider-help-text">
            Learn how to set up&nbsp;<a class="link" href= "<%= help_url %>/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-google-cloud-storage">Google Cloud Storage </a> &nbsp;for GitHub Actions
        </p>
        <label class = "label-heading js-actions-storage-sub-heading">
            Authentication
        </label>
        <div id="actions-storage-provider-gcs-auth-selection" class="js-note-trigger-group">
            <label class="radio-item" value="OIDC">
                <input type="radio"
                id="actions-gcs-oidc-auth-radio-button"
                name="actions_storage[auth_type]"
                class="js-actions-auth-type-toggle js-note-trigger js-toggle-required-field"
                data-triggers-note="#gcs-storage-with-oidc"
                data-required-field="#action_gcs_oidc_bucket_name,#action_gcs_workload_id,#action_gcs_service_acc,#action_gcs_oidc_service_url"
                data-triggers-note-hidden="#gcs-storage"
                value="oidc"
                <%=('checked' if (view.oidc_enabled? && view.gcs_storage_enabled?))%>>
                OpenID Connect (OIDC)
            </label>
            <label class="radio-item" value="credential">
                <input type="radio"
                id="actions-gcs-credential-auth-radio-button"
                name="actions_storage[auth_type]"
                class="js-actions-auth-type-toggle js-note-trigger js-toggle-required-field"
                data-triggers-note="#gcs-storage"
                data-required-field="#action_gcs_bucket_name,#action_gcs_access_key,#action_gcs_access_secret,#action_gcs_service_url"
                data-triggers-note-hidden="#gcs-storage-with-oidc"
                value="credential"
                <%=('checked' if (!view.oidc_enabled? && view.gcs_storage_enabled?))%>>
                Credentials-based
            </label>
            <div class="actions-storage-warning highlighted-warning" style = <%=('display:none' if view.oidc_enabled?)%>>
                <img src="/setup/images/preflight/warn.svg" alt="" class="warning-icon">
                <p class="warning-text">
                GitHub recommends using OpenID Connect (OIDC) authentication for a more secure connection to Google Cloud Storage. <a class="warning-link" href ="<%= help_url %>/admin/github-actions/enabling-github-actions-for-github-enterprise-server/enabling-github-actions-with-google-cloud-storage#about-external-storage-for-github-actions"> Learn more about using OIDC for GitHub Actions</a>.
                </p>
            </div>
        </div>
    </div>
    
    <div id="gcs-storage" class="actions-credential-auth-fields two-thirds" style=<%=('display:none' if view.oidc_enabled?)%>>
        <div class="restore-defaults">
            <label class="label-heading">Service URL</label>
            <input type="text"
            autocomplete="off"
            id="action_gcs_service_url"
            name="actions_storage[gcs][service_url]"
            value="<%= view.gcs_service_url %>"
            class="js-text">
        </div>
        <div class="restore-defaults">
            <label class="label-heading">Bucket Name</label>
            <input type="text"
            autocomplete="off"
            id="action_gcs_bucket_name"
            name="actions_storage[gcs][bucket_name]"
            value="<%= view.gcs_bucket_name %>"
            class="js-text">
        </div>
        <div class="restore-defaults">
            <label class="label-heading">HMAC Access Id</label>
            <input type="password"
                autocomplete="off"
                id="action_gcs_access_key"
                name="actions_storage[gcs][access_key_id]"
                <% if view.gcs_access_key_id? %>
                placeholder="******"
                <% else %>
                class="js-required"
                <% end %> 
            >
        </div>
        <div class="restore-defaults">
            <label class="label-heading">HMAC Secret</label>
            <input type="password"
                autocomplete="off"
                id="action_gcs_access_secret"
                name="actions_storage[gcs][access_secret]"
                <% if view.gcs_access_secret? %>
                placeholder="******"
                <% else %>
                class="js-required"
                <% end %> 
            >
        </div>
        <div class="subsection">
            <label class="checkbox-item">
            <input name="actions_storage[gcs][force_path_style]" type="hidden" value="false" />
            <input type="checkbox"
                    id="action_gcs_force_path_style"
                    name="actions_storage[gcs][force_path_style]"
                    <%=('checked' if view.gcs_force_path_style_enabled?)%>>
            Force path style.
            </label>
        </div>
    </div>
    
    <div>
        <div id="gcs-storage-with-oidc" class="actions-oidc-auth-fields two-thirds" style=<%=('display:none' unless view.oidc_enabled?)%>>
            <div class="restore-defaults">
                <label class="label-heading">Service URL</label>
                <input type="text"
                autocomplete="off"
                id="action_gcs_oidc_service_url"
                name="actions_storage[gcs_oidc][service_url]"
                value="<%= view.gcs_oidc_service_url %>"
                class="js-text">
            </div>
            <div class="restore-defaults">
                <label class="label-heading">Bucket Name</label>
                <input type="text"
                autocomplete="off"
                id="action_gcs_oidc_bucket_name"
                name="actions_storage[gcs_oidc][bucket_name]"
                value="<%= view.gcs_oidc_bucket_name %>"
                class="js-text">
            </div>
            <div class="restore-defaults">
                <label class="label-heading">Workload Identity Provider ID</label>
                <input type="text"
                autocomplete="off"
                id="action_gcs_workload_id"
                name="actions_storage[gcs_oidc][workload_id]"
                value="<%= view.gcs_workload_id %>"
                class="js-text">
            </div>
            <div class="restore-defaults">
                <label class="label-heading">Service Account</label>
                <input type="text"
                autocomplete="off"
                id="action_gcs_service_acc"
                name="actions_storage[gcs_oidc][service_acc]"
                value="<%= view.gcs_service_acc %>"
                class="js-text">
            </div>
        </div>
    </div>
       
</div>

