<div class="site-subnav color-bg-default site-subnav-sticky js-sticky" <%= test_selector("explore-nav") %>>
  <nav class="<% if container_xl? %>container-xl<% else %>container-lg<% end %> mx-auto p-responsive" role="navigation" aria-label="Explore navigation">
    <div class="d-flex flex-wrap flex-items-center flex-justify-center flex-md-justify-start text-center text-md-left">
      <% if !GitHub.enterprise? && @show_spacer %>
        <div class="col-lg-3 mr-2"></div>
      <% end %>

      <% if show_explore_links? %>
        <%= selected_link_to(
          "Explore",
          "/explore",
          class: "d-inline-block subnav-primary f5 py-0 py-md-3 mt-2 mt-md-0 mr-0 mr-md-4 no-underline subnav-link",
          highlight: [
            "/explore",
            "/explore/email",
          ],
          data: explore_click_tracking_attributes(
            actor: current_user,
            click_target: :EXPLORE,
          ),
        ) %>
      <% end %>

      <%= selected_link_to(
        "Topics",
        "/topics",
        class: "d-inline-block py-2 py-md-3 mr-3 mr-md-4 no-underline subnav-link",
        highlight: [
          :topics_path,
          topic_show_path(topic_name: params.fetch(:topic_name, "")),
        ],
        data: explore_click_tracking_attributes(
          actor: current_user,
          click_target: :TOPICS,
        ),
      ) %>

      <% if show_explore_links? %>
        <%= selected_link_to(
          "Trending",
          "/trending",
          class: "d-inline-block py-2 py-md-3 mr-3 mr-md-4 no-underline subnav-link",
          highlight: [
            "/trending",
            "/trending/developers",
            trending_developers_path(language: params[:language]),
            trending_index_path(language: params[:language]),
          ],
          data: explore_click_tracking_attributes(
            actor: current_user,
            click_target: :TRENDING,
          ),
        ) %>

        <%= selected_link_to(
          "Collections",
          "/collections",
          class: "d-inline-block py-2 py-md-3 mr-3 mr-md-4 no-underline subnav-link",
          highlight: [
            :collections_path,
            collection_path(params.fetch(:slug, "")),
          ],
          data: explore_click_tracking_attributes(
            actor: current_user,
            click_target: :COLLECTIONS,
          ),
        ) %>

        <%= selected_link_to(
          "Events",
          "/events",
          class: "d-inline-block py-2 py-md-3 mr-3 mr-md-4 no-underline subnav-link",
          highlight: [
            :events_path,
            event_path(id: params.fetch(:id, "")),
          ],
          data: explore_click_tracking_attributes(
            actor: current_user,
            click_target: :EVENTS,
          ),
        ) %>
      <% end %>

      <% if GitHub.sponsors_enabled? %>
        <%= selected_link_to(
          "GitHub Sponsors",
          "/sponsors/explore",
          class: "d-inline-block py-2 py-md-3 mr-3 mr-md-4 no-underline subnav-link",
          highlight: [
            :sponsors_explore_index_path,
            sponsors_explore_index_path,
          ],
          data: explore_click_tracking_attributes(
            actor: current_user,
            click_target: :GITHUB_SPONSORS,
          ),
        ) %>
      <% end %>
    </div>
  </nav>
</div>
