<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: view.page_title %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Actions<% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_row do %>
    <% if stafftools_action_authorized?(
      controller: Stafftools::Users::SearchRecords::ReindexRequestsController,
      action: :create,
    ) %>
      <%= form_tag stafftools_user_search_record_reindex_request_path do %>
        <%= render Primer::ButtonComponent.new(
          type: :submit,
          float: :right,
          test_selector: "stafftools-user-search-record-reindex-button",
        ) do %>
          Reindex user
        <% end %>
      <% end %>
      <h4>Reindex</h4>
      <p>Recalculate user's primary language, and reindex user for global search.</p>
    <% else %>
      <h4>Reindex</h4>
      <p><%= stafftools_not_authorized_html %></p>
    <% end %>
  <% end %>
<% end %>

<%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
  <% component.with_heading(tag: :h2) do %>Search record<% end %>
<% end %>

<% if view.search_record_exists? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
    <% view.each_entry do |k, v| %>
      <% component.with_row(display: :flex) do %>
        <span class="col-4 text-bold">
          <%= k %>
        </span>
        <span class="col-8">
          <%= v %>
        </span>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <p>No search record.</p>
<% end %>

<% if view.is_organization? %>
  <%= render(Primer::Beta::BorderBox.new(mt: 6, padding: :condensed)) do |component| %>
    <% component.with_header(display: :flex, bg: :danger_emphasis, color: :on_emphasis, classes: 'dangerzone', font_weight: :emphasized) do %>
      <h3 style="font-size: 14px">Danger Zone</h3>
    <% end %>
    <% component.with_row do %>
      <div class="d-flex flex-row flex-items-center">
        <% if stafftools_action_authorized?(
          controller: Stafftools::Users::SearchRecords::ReindexOrgsController,
          action: :create,
        ) %>
          <div class="mr-2">
            <h4 class="mb-1">Reindex organization</h4>
            <p>
              This button is only for use on very small organizations, otherwise the process may timeout and/or cause other issues. Before using this button, try reindexing a single repository first to see if that resolves any issue.
              <br>
              This button reindexes many, but not all, search types in an entire organization (commits, discussions, issues, projects, PRs, releases, repos, and wikis). This button also indexes code in environments other than github.com.
            </p>
          </div>
          <div>
            <%= form_tag stafftools_user_search_record_reindex_org_path do %>
              <%= render Primer::ButtonComponent.new(
                type: :submit,
                scheme: :danger,
                float: :right,
                test_selector: "stafftools-user-search-record-reindex-org-button",
              ) do %>
                Start reindex
              <% end %>
            <% end %>
          </div>
        <% else %>
          <h4>Reindex</h4>
          <p><%= stafftools_not_authorized_html %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
