<%# erblint:counter DeprecatedComponentsCounter 4 %>
<% if logged_in? && (can_star? || is_starred?) %>
  <%= render UserLists::UnstarDialogTemplateComponent.new %>
  <%= render Primer::BaseComponent.new(
    tag: :div,
    classes: class_names(
      "js-toggler-container js-social-container starring-container",
      "on": is_starred?,
    ),
    display: container_display,
    test_selector: "star-toggle-container",
  ) do %>
    <%= render Primer::BaseComponent.new(
      tag: :div,
      flex: 1,
      ml: 0,
      classes: class_names(
        "starred",
        "BtnGroup": show_list_menu?,
      ),
      test_selector: "starred-container"
    ) do %>
      <%= form_tag(
        gh_unstar_path(@entity),
        {
          class: class_names(
            "js-social-form",
            "BtnGroup-parent #{@form_flex_class}": show_list_menu?,
            "width-full": !list_menu?,
            "js-deferred-toggler-target": unstar_confirmation?,
          ),
          method: topic_context? ? :delete : nil,
        }.compact,
      ) do %>
        <% if unstar_confirmation? %>
          <%= csrf_hidden_input_for(gh_unstar_path(@entity), class: "js-confirm-csrf-token") %>
        <% end %>
        <input type="hidden" name="context" value="<%= @context %>">
        <%= render(Primer::ButtonComponent.new(
          variant: :small,
          type: :submit,
          group_item: show_list_menu?,
          block: @button_block,
          classes: class_names(
            @button_classes,
            "btn-with-count": show_social_count?,
            "js-toggler-target": !unstar_confirmation?,
            "rounded-left-2": show_list_menu?,
            "btn-with-aria-count": show_button_counter?,
          ),
          data: unstar_button_data_attributes(@repository, helpers.controller_action_slug).merge(data),
          "data-aria-prefix": "Unstar this #{@entity.human_name}",
          aria: { label: [
            "Unstar this #{@entity.human_name}",
            ("(#{social_count})" if show_button_counter?),
          ].compact.join(" ") },
          **@button_args,
        )) do |c| %>
          <% if starred_state? %>
            <%= starred_state %>
          <% else %>
            <%
              c.with_leading_visual_icon(
                icon: "star-fill",
                display: visual_icon_display,
                classes: class_names("starred-button-icon": show_list_menu? || colorful?),
              )
            %>
            <% if @hide_text_on_mobile || @hide_text_on_desktop %>
              <%= primer_octicon(icon: :"star-fill", mr: 0, display: octicon_display, classes: class_names("starred-button-icon": show_list_menu? || colorful?)) %>
            <% end %>
            <%= render text_wrapper do %>
              <% if show_list_menu? %>Starred<% else %>Unstar<% end %>
            <% end %>
            <% if show_button_counter? %>
              <%= render(CounterComponent.new(repository: @repository, id_suffix: "unstar")) %>
            <% end %>
          <% end %>
        <% end -%>
        <% if show_social_count? %>
          <a
            class="social-count js-social-count"
            href="<%= gh_stargazers_path(@entity) %>"
            aria-label="<%= pluralize social_count, "user" %> starred this repository"
            data-singular-suffix="user starred this repository"
            data-plural-suffix="users starred this repository"
          >
            <%= helpers.social_count social_count %>
          </a>
        <% end %>
      <% end %>
      <% if list_menu? %>
        <%= render(list_menu.with_id_suffix("starred")) %>
      <% end %>
    <% end %>

    <%= render Primer::BaseComponent.new(
      tag: :div,
      ml: 0,
      flex: 1,
      classes: class_names(
        "unstarred",
        "BtnGroup": show_list_menu?,
      ),
      test_selector: "unstarred-container"
    ) do %>
      <%= form_tag(
        gh_star_path(@entity),
        class: class_names(
          "js-social-form",
          "BtnGroup-parent #{@form_flex_class}": show_list_menu?,
          "width-full": !list_menu?,
        ),
      ) do %>
        <input type="hidden" name="context" value="<%= @context %>">
        <%= render(Primer::ButtonComponent.new(
          variant: :small,
          type: :submit,
          group_item: show_list_menu?,
          block: @button_block,
          classes: class_names(
            "js-toggler-target",
            @button_classes,
            "btn-with-count": show_social_count?,
            "rounded-left-2": show_list_menu?,
            "btn-with-aria-count": show_button_counter?,
          ),
          data: star_button_data_attributes(@repository, helpers.controller_action_slug).merge(data),
          "data-aria-prefix": "Star this #{@entity.human_name}",
          aria: { label: [
            "Star this #{@entity.human_name}",
            ("(#{social_count})" if show_button_counter?),
          ].compact.join(" ") },
          **@button_args,
        )) do |c| %>
          <% if unstarred_state? %>
            <%= unstarred_state %>
          <% else %>
            <% c.with_leading_visual_icon(icon: :star, display: visual_icon_display) %>
            <% if @hide_text_on_mobile || @hide_text_on_desktop %>
              <%= primer_octicon(icon: :star, mr: 0, display: octicon_display) %>
            <% end %>
            <%= render text_wrapper do %>
              Star
            <% end %>
            <% if show_button_counter? %>
              <%= render(CounterComponent.new(repository: @repository, id_suffix: "star")) %>
            <% end %>
          <% end %>
        <% end -%>
        <% if show_social_count? %>
          <a
            class="social-count js-social-count"
            href="<%= gh_stargazers_path(@entity) %>"
            aria-label="<%= pluralize social_count, "user" %> starred this repository"
            data-singular-suffix="user starred this repository"
            data-plural-suffix="users starred this repository"
          >
            <%= helpers.social_count social_count %>
          </a>
        <% end %>
      <% end %>
      <% if list_menu? %>
        <%= render(list_menu.with_id_suffix("unstarred")) %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::BaseComponent.new(
    tag: :div,
    classes: class_names("BtnGroup": show_list_menu?),
    display: container_display,
    test_selector: "anonymous-star-toggle-container",
  ) do %>
    <% if logged_in? %>
      <%= render(Primer::ButtonComponent.new(
        variant: :small,
        group_item: true,
        block: @button_block,
        classes: class_names("tooltipped tooltipped-s", @button_classes, "btn-with-count": show_social_count?),
        disabled: true,
        aria: { label: unable_to_star_aria_label },
        data: data,
        **@button_args,
      )) do |c| %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        <% c.with_leading_visual_icon(icon: :star, vertical_align: :text_bottom, display: visual_icon_display) %>
        <% if @hide_text_on_mobile || @hide_text_on_desktop %>
          <%= primer_octicon(icon: :star, mr: 0, vertical_align: :text_bottom, display: octicon_display) %>
        <% end %>
        <%= render text_wrapper do %>
          Star
        <% end %>
        <% if show_button_counter? %>
          <%= render(CounterComponent.new(repository: @repository, id_suffix: "star")) %>
        <% end %>
      <% end %>
    <% else %>
      <%= render(Primer::ButtonComponent.new(
        variant: :small,
        tag: :a,
        block: @button_block,
        classes: class_names("tooltipped tooltipped-sw", @button_classes, "btn-with-count": show_social_count?),
        href: login_path(return_to: polymorphic_path(@entity)),
        rel: "nofollow",
        data: sign_in_link_data_attributes(location_in_page: "star button", repository_id: @repository&.id).merge(data),
        aria: { label: "You must be signed in to star a repository" },
        **@button_args,
      )) do |c| %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        <% c.with_leading_visual_icon(icon: :star, vertical_align: :text_bottom, display: visual_icon_display) %>
        <% if @hide_text_on_mobile || @hide_text_on_desktop %>
          <%= primer_octicon(icon: :star, mr: 0, vertical_align: :text_bottom, display: octicon_display) %>
        <% end %>
        <%= render text_wrapper do %>
          Star
        <% end %>
        <% if show_button_counter? %>
          <%= render(CounterComponent.new(repository: @repository, id_suffix: "star")) %>
        <% end %>
      <% end %>
    <% end %>
    <% if show_social_count? %>
      <a
        class="social-count js-social-count"
        href="<%= gh_stargazers_path(@entity) %>"
        aria-label="<%= pluralize social_count, "user" %> starred this repository"
        data-singular-suffix="user starred this repository"
        data-plural-suffix="users starred this repository"
      >
        <%= helpers.social_count social_count %>
      </a>
    <% end %>
  <% end %>
<% end %>
