<div class="<%= class_names(
  "d-flex flex-column flex-lg-row flex-items-center",
  "mt-5" => has_starred_topics?,
  "mt-3 mb-n1" => !has_starred_topics?,
) %>">
  <%= primer_form_with(url: user_path(user, params: user_path_params.merge(tab: "stars")), method: :get,  data: { pjax: true, turbo: true, turbo_frame: "user-starred-repos", turbo_action: "advance" }, class: "subnav-search ml-0 mb-1 mb-lg-0 mr-lg-3 flex-auto width-full") do |f| %>
    <%= render(Stars::RepositoryFilterForm.new(f, params: params, phrase: phrase, placeholder: search_placeholder)) %>
  <% end %>

  <div class="d-flex flex-justify-end flex-wrap flex-lg-nowrap width-full">
    <%= render Stars::RepositoryTypeFilterComponent.new(
      user: user,
      selected_type: selected_type,
      user_path_params: user_path_params,
      phrase: phrase,
      mb: [1, nil, nil, 0],
    ) %>

    <%= render Stars::RepositoryLanguageFilterComponent.new(
      user: user,
      selected_language: selected_language,
      user_path_params: user_path_params,
      phrase: phrase,
      ml: 2,
      mb: [1, nil, nil, 0],
    ) %>

    <%= render Stars::RepositorySortMenuComponent.new(
      user: user,
      selected_direction: selected_direction,
      selected_field: selected_field,
      user_path_params: user_path_params,
      phrase: phrase,
      ml: 2,
      mb: [1, nil, nil, 0],
    ) %>
  </div>
</div>
