<div class="col-12 d-block width-full py-4 border-bottom color-border-muted" <%= test_selector("starred-repository-#{repository.id}") %>>
  <div class="d-inline-block mb-1">
    <h3>
      <a href="<%= repository_path(repository) %>">
        <span class="text-normal"><%= repository.owner_display_login %> / </span><%= repository.name %>
      </a>
      <% if repository.internal? %>
        <%= render Primer::Beta::Label.new(scheme: :secondary) do %>
          Internal
        <% end %>
      <% elsif repository.private? %>
        <%= render Primer::Beta::Label.new(scheme: :secondary) do %>
          Private
        <% end %>
      <% end %>
    </h3>
  </div>

  <% if logged_in? %>
    <div class="float-right d-flex">
      <% if show_sponsor_button? %>
        <%= render Sponsors::SponsorButtonComponent.new(
          sponsorable: owner.display_login,
          is_sponsoring: sponsoring?,
          mr: 2,
          location: sponsor_button_location,
        ) %>
      <% end %>
      <%=
        render(Stars::ButtonComponent.new(
          entity: repository,
          context: star_button_context,
        )) do |c| c.with_list_menu end
      %>
    </div>
  <% end %>

  <div class="py-1">
    <% if short_description_html.present? %>
      <p class="d-inline-block col-9 color-fg-muted pr-4" itemprop="description">
        <%= short_description_html %>
      </p>
    <% end %>
  </div>

  <div class="f6 color-fg-muted mt-2">
    <% if repository.primary_language %>
      <%= render(Languages::BadgeComponent.new(name: repository.primary_language.name, ml: 0, mr: 3)) %>
    <% end %>
    <a class="Link--muted mr-3" href="<%= stargazers_repository_path(repository.owner_display_login, repository.name) %>">
      <%= primer_octicon(:star, :"aria-label" => "star") %>
      <%= number_with_delimiter repository.stargazer_count %>
    </a>

    <% if repository.forks_count > 0 %>
      <%= link_to forks_path(repository.owner_display_login, repository.name), class: "Link--muted mr-3" do %>
        <%= primer_octicon(:"repo-forked", :"aria-label" => "fork") %>
        <%= number_with_delimiter repository.forks_count %>
      <% end %>
    <% end %>

    <% if repository.pushed_at %>
      Updated <%= time_ago_in_words_js repository.pushed_at %>
    <% else %>
      Created <%= time_ago_in_words_js repository.created_at %>
    <% end %>
  </div>
</div>
