<div class="discussion-sidebar-item sidebar-assignee js-discussion-sidebar-item">
  <%
    partial_url = issue_show_partial_path(partial: "issues/sidebar/new/assignees")
  %>
  <div class="js-issue-sidebar-form" <%= preserve_sidebar_attribute(cache_name: "assignee_ids") %> data-url="<%= partial_url %>">
    <%= csrf_hidden_input_for partial_url, class: "js-data-url-csrf" %>

    <% deferred_content = local_assigns.fetch(:deferred_content, true) %>
    <%= render "issues/sidebar/assignees_menu", issue: issue, deferred_content: deferred_content %>
    <%= render "issues/sidebar/assignees", issue: issue %>
  </div>
</div>
