<%# erblint:counter GoogleAnalyticsDeprecation 8 %>
<div id="first-time-contributor" class="Popover js-prompt" style="top: 28%;">
  <div class="Popover-message Popover-message--left-top Box color-shadow-large">
    <button type="button" class="btn-octicon float-right p-2 js-prompt-dismiss" aria-label="Close" data-ga-click="<%= view.ga_string("dismiss", "new") %>"><%= render(Primer::Beta::Octicon.new(icon: "x")) %></button>
    <div class="p-4">
      <p class="text-center"><%= emoji_tag(Emoji.find_by_alias("wave"), class: "emoji") %></p>

      <p class="mb-0">It looks like this is your first time opening <%= view.contribution_type %> in this project!</p>

      <% if !!view.contributing_file || !!view.code_of_conduct_file %>
        <p class="mt-2 mb-0">
          <% if !!view.contributing_file && !!view.code_of_conduct_file %>
            Be sure to review the <%= link_to("contributing guidelines", view.contributing_file, data: { ga_click: view.ga_string("contributing", "new") }, class: "Link--inTextBlock") %> and <%= link_to("code of conduct", view.code_of_conduct_file, data: { ga_click: view.ga_string("code_of_conduct", "new") }, class: "Link--inTextBlock") %>.
          <% elsif !!view.contributing_file %>
            Be sure to review the <%= link_to("contributing guidelines", view.contributing_file, data: { ga_click: view.ga_string("contributing", "new") }, class: "Link--inTextBlock") %>.
          <% else %>
            Be sure to review the <%= link_to("code of conduct", view.code_of_conduct_file, data: { ga_click: view.ga_string("code_of_conduct", "new") }, class: "Link--inTextBlock") %>.
          <% end %>
        </p>
      <% end %>

      <% if !!view.security_policy_file %>
        <p class="mt-2 mb-0">
          <strong>Reporting a security vulnerability?</strong>
          <br>Check out the project's <%= link_to("security policy", view.security_policy_file, data: { ga_click: view.ga_string("security", "new") }, class: "Link--inTextBlock") %>.
        </p>
      <% end %>

      <% if !!view.support_file %>
        <p class="mt-2 mb-0">
          <strong>Looking for help?</strong>
          <br>Check out the project’s <%= link_to("instructions for getting support", view.support_file, data: { ga_click: view.ga_string("support", "new") }, class: "Link--inTextBlock") %>.
        </p>
      <% end %>
    </div>
  </div>
</div>
