<%# erblint:counter GoogleAnalyticsDeprecation 5 %>
<div class="discussion-sidebar-item js-discussion-sidebar-item">
  <div class="text-bold mb-2">Helpful resources</div>
  <ul class="list-style-none">
    <% if view.contributing_file %>
      <li><%= link_to("Contributing", view.contributing_file, data: { ga_click: view.ga_string("contributing", "prior") }) %></li>
    <% end %>
    <% if view.code_of_conduct_file %>
      <li><%= link_to("Code of conduct", view.code_of_conduct_file, data: { ga_click: view.ga_string("code_of_conduct", "prior") }) %></li>
    <% end %>
    <% if view.security_policy_file %>
      <li><%= link_to("Security policy", view.security_policy_file, data: { ga_click: view.ga_string("security", "prior") }) %></li>
    <% end %>
    <% if view.support_file %>
      <li><%= link_to("Support", view.support_file, data: { ga_click: view.ga_string("support", "prior") }) %></li>
    <% end %>
    <% unless GitHub.enterprise? %>
      <li><%= link_to("GitHub Community Guidelines", "#{GitHub.help_url}/articles/github-community-guidelines", data: { ga_click: view.ga_string("github_community_guidelines", "prior") }) %></li>
    <% end %>
  </ul>
</div>
