<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% has_error_loading_projects = false unless local_assigns.has_key?(:has_error_loading_projects) %>

<div class="discussion-sidebar-item js-discussion-sidebar-item">
  <%
    partial_url = new_repo_project_issues_path(issue.repository.owner, issue.repository)
    deferred_content = local_assigns.fetch(:deferred_content, true)
  %>
  <div class="js-issue-sidebar-form" <%= preserve_sidebar_attribute(cache_name: "project_ids") %>  data-url="<%= partial_url %>">
    <%= csrf_hidden_input_for partial_url, class: "js-data-url-csrf" %>
    <%# Support projects query param since selected inputs won't be present when content is deferred %>
    <% if deferred_content %>
      <% projects.each do |project| %>
        <% if project.is_a?(Project) %>
          <input type="checkbox" class="d-none" name="issue_project_ids[<%= project.id %>]" checked>
        <% else%>
          <input type="checkbox" class="d-none" name="issue_memex_project_ids[<%= project.id %>]" checked>
        <% end %>
      <% end %>
    <% end %>

    <%= render partial: "issues/sidebar/projects_menu", locals: { issue: issue, deferred_content: deferred_content } %>

    <span class="css-truncate">
      <% if projects.any? %>
        <% projects.each do |project| %>
          <p>
          <% if project.is_a?(Project) %>
            <%= link_to project.name, project_path(project), class: "color-fg-default css-truncate-target width-fit", data: hovercard_data_attributes_for_project(project: project) %>
          <% else %>
            <% show_memex_path = project.owner.is_a?(Organization) ? show_org_memex_path(project.owner, project.number) : show_user_memex_path(project.owner, project.number) %>
            <%= link_to project.name, show_memex_path, class: "color-fg-default css-truncate-target width-fit" %>
          <% end %>
          </p>
        <% end %>
      <% elsif has_error_loading_projects %>
        <%= render(Primer::Beta::Flash.new(scheme: :warning, icon: :alert, display: :flex)) do %>
          <div>
            <p>Projects could not be loaded.</p>
          </div>
        <% end %>
      <% else %>
        None yet
      <% end %>
    </span>
  </div>
</div>
