<div class="Box Box--condensed">
  <% if stripe_error.present? %>
    <div class="Box-row color-fg-danger" <%= test_selector("stripe-error") %>>
      <%= stripe_error %>
    </div>
  <% elsif empty_results? %>
    <div class="Box-row" <%= test_selector("transfers-list-empty") %>>
      No transfers to this GitHub Sponsors member
    </div>
  <% else %>
    <table class="stafftools-table" <%= test_selector("transfers-list-table") %>>
      <thead>
        <tr>
          <th class="v-align-middle text-center px-2 no-wrap border-right border-bottom-0" colspan="2">IDs</th>
          <th class="v-align-middle text-center px-2 no-wrap border-right border-bottom-0" colspan="<%= payment_header_column_span %>">Payment</th>
          <th class="v-align-middle text-center px-2 no-wrap border-bottom-0" colspan="2">Sponsor</th>
          <th class="v-align-middle px-2 border-left text-center" rowspan="2">Transfer date</th>
          <th class="v-align-middle text-center px-2 no-wrap" rowspan="2">Options</th>
        </tr>
        <tr>
          <th class="v-align-middle px-2 no-wrap text-left border-top-0">Xfer</th>
          <th class="v-align-middle px-2 no-wrap text-left border-right border-top-0">Txn</th>
          <th class="v-align-middle text-right px-2 no-wrap border-top-0">Amount</th>
          <% if show_match_column? %>
            <th class="v-align-middle text-right px-2 no-wrap border-top-0">Match</th>
          <% end %>
          <% if show_amount_flags_column? %>
            <th class="v-align-middle text-center px-2 no-wrap border-top-0">Flags</th>
          <% end %>
          <th class="v-align-middle px-2 no-wrap border-left border-top-0">User/organization</th>
          <th class="v-align-middle text-center px-2 no-wrap border-right border-top-0">
            Flags <a href="#flags-legend" class="Link--secondary Link--inTextBlock"><sup>1</sup></a>
          </th>
        </tr>
      </thead>
      <tbody>
        <% transfers.each do |transfer| %>
          <%= render Stafftools::Sponsors::Members::Transfers::TransferComponent.new(
            transfer: transfer,
            sponsorable_login: sponsorable_login,
            latest_payout: latest_payout,
            stripe_account: stripe_account,
            billing_transaction: billing_transaction_for(transfer),
            show_match_column: show_match_column?,
            show_amount_flags_column: show_amount_flags_column?,
          ) %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<div class="d-flex flex-items-center flex-justify-between mt-2">
  <span class="color-fg-muted" <%= test_selector("result-count") %>><%= pluralize(displayed_count, "result") %></span>

  <% if show_pagination? %>
    <nav class="paginate-container my-0" aria-label="Pagination">
      <div class="pagination">
        <% if has_previous_page? %>
          <a class="previous_page" href="<%= previous_page_url %>">Newer</a>
        <% else %>
          <span class="previous_page" aria-disabled="true">Newer</span>
        <% end %>

        <% if has_next_page? %>
          <a class="next_page" href="<%= next_page_url %>">Older</a>
        <% else %>
          <span class="next_page" aria-disabled="true">Older</span>
        <% end %>
      </div>
    </nav>
  <% end %>
</div>

<% if stripe_error.blank? && !empty_results? %>
  <p class="note"><a class="Link--inTextBlock" name="flags-legend"></a>1: Flags legend</p>
  <p class="note ml-3">
    <%= render Primer::Beta::Label.new(scheme: :danger).with_content("A") %>
    Signed up for GitHub recently
  </p>
  <p class="note ml-3">
    <%= render Primer::Beta::Label.new(scheme: :warning).with_content("T") %>
    Invalid time zone
  </p>
  <p class="note ml-3">
    <%= render Primer::Beta::Label.new(scheme: :danger).with_content("P") %>
    Has not customized GitHub profile page
  </p>
<% end %>
