<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(GitHub::DialogComponent.new(title: "Reverse transfer")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
  <% dialog.with_summary do %>
    <%= render Primer::Beta::Button.new(
      tag: :summary,
      font_size: :small,
      scheme: has_been_paid_out? ? :danger : :link,
      font_weight: :normal,
      test_selector: "reverse-transfer-button",
    ).with_content("Reverse") %>
  <% end %>
  <% dialog.with_body do %>
    <% if has_been_paid_out? %>
      <%= render Primer::Beta::Flash.new(scheme: :warning, icon: :alert, test_selector: "reverse-transfer-warning") do %>
        <strong>Warning:</strong> This transfer has likely already been paid out. Reversing it might have unintended effects.
      <% end %>
    <% end %>
    <%= form_tag stafftools_sponsors_member_transfer_reversals_path(sponsorable_login), method: :post, class: "text-left" do %>
      <input type="hidden" name="stripe_transfer_id" value="<%= transfer.transfer_id %>">
      <input type="hidden" name="stripe_account_id" value="<%= stripe_account.id %>">
      <input type="hidden" name="sponsor_id" value="<%= transfer.sponsor_id %>">

      <div class="form-group mt-2">
        <div class="form-group-header">
          <label>Stripe transfer ID</label>
        </div>
        <div class="form-group-body">
          <code><%= transfer.transfer_id %></code>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <label>Total transfer amount</label>
        </div>
        <div class="form-group-body">
          <table>
            <tbody>
              <tr>
                <td class="text-right"><%= payment_amount.format(no_cents_if_whole: false) %></td>
                <td class="color-fg-muted">payment</td>
              </tr>
              <tr class="borderless">
                <td class="text-right">+ <%= match_amount.format(no_cents_if_whole: false) %></td>
                <td class="color-fg-muted">match</td>
              </tr>
              <% if payment_reversal_amount > 0 %>
                <tr class="borderless">
                  <td class="text-right">- <%= payment_reversal_amount.format(no_cents_if_whole: false) %></td>
                  <td class="color-fg-muted">payment reversals</td>
                </tr>
              <% end %>
              <% if match_reversal_amount > 0 %>
                <tr class="borderless">
                  <td class="text-right">- <%= match_reversal_amount.format(no_cents_if_whole: false) %></td>
                  <td class="color-fg-muted">match reversals</td>
                </tr>
              <% end %>
              <tr>
                <td class="text-right text-bold"><%= total_amount_to_reverse.format(no_cents_if_whole: false) %></td>
                <td class="color-fg-muted">total</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <% if payment_amount_reversed > 0 %>
        <div class="form-group mt-2">
          <div class="form-group-header">
            <label for="payment_amount_reversed-<%= transfer.transfer_id %>">Payment amount to reverse (optional)</label>
          </div>
          <div class="form-group-body">
            <input type="number" max="<%= payment_amount_reversed.dollars %>" min="0" class="form-control" step=".01" id="payment_amount_reversed-<%= transfer.transfer_id %>" name="payment_amount_reversed" value="<%= payment_amount_reversed.format(symbol: false, thousands_separator: nil) %>" placeholder="Payment amount">
          </div>
        </div>
      <% else %>
        <input type="hidden" name="payment_amount_reversed" value="0">
      <% end %>

      <% if match_amount_reversed > 0 %>
        <div class="form-group mt-2">
          <div class="form-group-header">
            <label for="match_amount_reversed-<%= transfer.transfer_id %>">Match amount to reverse (optional)</label>
          </div>
          <div class="form-group-body">
            <input type="number" max="<%= match_amount_reversed.dollars %>" min="0" step=".01" class="form-control" id="match_amount_reversed-<%= transfer.transfer_id %>" name="match_amount_reversed" value="<%= match_amount_reversed.format(symbol: false, thousands_separator: nil) %>" placeholder="Match amount">
          </div>
        </div>
      <% else %>
        <input type="hidden" name="match_amount_reversed" value="0">
      <% end %>

      <div class="form-group mt-2">
        <div class="form-group-header">
          <label for="stripe_refund_id-<%= transfer.transfer_id %>">Stripe refund ID (optional)</label>
        </div>
        <div class="form-group-body">
          <input type="text" class="form-control" id="stripe_refund_id-<%= transfer.transfer_id %>" name="stripe_refund_id" placeholder="e.g., re_1HtI7VEQsq43iHhXcEjdABCD">
          <div class="note">
            Can be found on Stripe.
          </div>
        </div>
      </div>

      <div class="form-group mt-2">
        <div class="form-group-header">
          <label for="zuora_refund_id-<%= transfer.transfer_id %>">Zuora refund ID (optional)</label>
        </div>
        <div class="form-group-body">
          <input type="text" class="form-control" id="zuora_refund_id-<%= transfer.transfer_id %>" name="zuora_refund_id" placeholder="e.g., 2c92a0ff732347120173280442a123a3">
          <div class="note">
            See &ldquo;<a class="Link--inTextBlock" href="https://github.com/github/gitcoin/blob/700d27a2c49834b5a97ca4a0840a0f8627b2d824/docs/playbook/howto/find_refund_id_in_zuora_refund_view.md" target="_blank">How To Find Refund ID in Zuora Refund View</a>&rdquo;
            for instructions.
          </div>
        </div>
      </div>

      <div class="form-group mt-2 form-checkbox" aria-live="polite">
        <label for="<%= notify_sponsorable_id %>">
          <%= check_box_tag :notify_sponsorable, class: "form-checkbox-details-trigger", id: notify_sponsorable_id %>
          Email maintainer about transfer reversal
        </label>
      </div>

      <div class="form-group mb-2">
        <%= render Primer::Beta::Button.new(
          type: :submit,
          "data-confirm": "Are you sure you want to reverse the transfer of #{total_amount_to_reverse.format}?",
          block: true,
          scheme: :primary,
          "data-disable-invalid": "",
          "data-disable-with": "Reversing...",
        ).with_content("Reverse transfer") %>
      </div>
    <% end %>
  <% end %>
<% end %>
