<%= render(Primer::Alpha::Dialog.new(
  id: "reverse-and-refund-#{transfer.transfer_id}",
  title: "Reverse transfer and refund payment",
  size: :large,
)) do |dialog| %>
  <% dialog.with_show_button(
    scheme: :link,
    font_size: :small,
    font_weight: :normal,
    test_selector: "reverse-transfer-and-refund-payment-button",
  ).with_content("Reverse and refund") %>

  <% dialog.with_body do %>
    <%= form_tag stafftools_sponsors_member_transfer_refunds_path(sponsorable_login), method: :post, class: "text-left" do %>
      <input type="hidden" name="stripe_transfer_id" value="<%= transfer.transfer_id %>">
      <input type="hidden" name="transaction_id" value="<%= billing_transaction.transaction_id %>">
      <input type="hidden" name="stripe_account_id" value="<%= stripe_account.id %>">
      <input type="hidden" name="sponsor_id" value="<%= transfer.sponsor_id %>">

      <div class="form-group mt-2">
        <div class="form-group-header">
          <label>Stripe transfer ID</label>
        </div>
        <div class="form-group-body">
          <code><%= transfer.transfer_id %></code>
        </div>
      </div>

      <div class="form-group mt-2">
        <div class="form-group-header">
          <label>Transaction ID</label>
        </div>
        <div class="form-group-body">
          <code><%= transfer.transfer_group %></code>
        </div>
      </div>

      <div class="form-group mt-2">
        <div class="form-group-header">
          <label>Sponsor</label>
        </div>
        <div class="form-group-body" <%= test_selector("transfer-#{transfer.transfer_id}-sponsor") %>>
          <% if transfer.sponsor_login.present? %>
            <a href="<%= stafftools_user_path(transfer.sponsor_login) %>" <%= safe_data_attributes(hovercard_data_attributes_for_user(transfer.sponsor)) %> class="position-relative d-table-cell" style="min-width: 125px">
              <%= transfer.sponsor_login %>
            </a>
          <% else %>
            unknown sponsor
          <% end %>
        </div>
      </div>

      <div class="form-group mt-2">
        <div class="form-group-header">
          <label>Total transfer amount</label>
        </div>
        <div class="form-group-body">
          <table>
            <tbody>
              <tr>
                <td class="text-right"><%= payment_amount.format(no_cents_if_whole: false) %></td>
                <td class="color-fg-muted">payment</td>
              </tr>
              <tr class="borderless">
                <td class="text-right">+ <%= match_amount.format(no_cents_if_whole: false) %></td>
                <td class="color-fg-muted">match</td>
              </tr>
              <% if payment_reversal_amount > 0 %>
                <tr class="borderless">
                  <td class="text-right">- <%= payment_reversal_amount.format(no_cents_if_whole: false) %></td>
                  <td class="color-fg-muted">payment reversals</td>
                </tr>
              <% end %>
              <% if match_reversal_amount > 0 %>
                <tr class="borderless">
                  <td class="text-right">- <%= match_reversal_amount.format(no_cents_if_whole: false) %></td>
                  <td class="color-fg-muted">match reversals</td>
                </tr>
              <% end %>
              <tr>
                <td class="text-right text-bold"><%= total_amount_to_reverse.format(no_cents_if_whole: false) %></td>
                <td class="color-fg-muted">total</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <% if transfer.sponsor.present? %>
        <div class="form-group mt-2 form-checkbox" <%= test_selector("transfer-#{transfer.transfer_id}-notify-checkbox")%>>
          <label for="<%= notify_sponsorable_id %>">
            <%= check_box_tag :notify_sponsorable, id: notify_sponsorable_id %>
            Email maintainer about transfer reversal
          </label>
        </div>
      <% end %>

      <div class="form-group mb-2">
        <%= render Primer::Beta::Button.new(
          type: :submit,
          block: true,
          scheme: :primary,
          data: {
            confirm: "Are you sure you want to reverse the transfer and refund the payment?",
            disable_invalid: "",
            disable_with: "Reversing...",
          },
        ).with_content("Refund") %>
      </div>
    <% end %>
  <% end %>
<% end %>
