<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="Box-row d-flex flex-items-center" <%= test_selector("transfer-form-component") %>>
  <div class="flex-auto">
    <strong>Manual transfer</strong>
    <div class="text-small color-fg-muted">
      Transfer an arbitrary amount to this Stripe account.
    </div>
  </div>

  <%= render(GitHub::DialogComponent.new(title: "Manual transfer")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, test_selector: "manual-transfer-button").with_content("Create transfer") %>
    <% end %>

    <% dialog.with_body do %>
      <%= form_tag manual_transfer_path, method: :post do %>
        <div class="form-group mt-2">
          <div class="form-group-header">
            <label for="payment_amount">Payment amount in dollars</label>
          </div>
          <div class="form-group-body">
            <input type="number" class="form-control" step=".01" id="payment_amount" name="payment_amount" placeholder="Payment amount" min="0" value="0">
          </div>
        </div>

        <div class="form-group mt-2">
          <div class="form-group-header">
            <label for="match_amount">Match amount in dollars</label>
          </div>
          <div class="form-group-body">
            <input type="number" class="form-control" step=".01" id="match_amount" name="match_amount" placeholder="Match amount" min="0" value="0">
          </div>
        </div>

        <div class="form-group mt-2">
          <div class="form-group-header">
            <label for="currency">Currency code</label>
          </div>
          <div class="form-group-body">
            <input type="text" class="form-control" id="currency" name="currency" placeholder="<%= Billing::Money.default_currency %>" value="<%= Billing::Money.default_currency %>" required maxlength="3">
            <div class="note">
              Three-character currency code, e.g., USD
            </div>
          </div>
        </div>

        <div class="form-group mt-2">
          <div class="form-group-header">
            <label for="stripe_charge_id">Stripe charge ID (optional)</label>
          </div>
          <div class="form-group-body">
            <input type="text" class="form-control" id="stripe_charge_id" name="stripe_charge_id" placeholder="e.g., 2c92a0ff732347120173280442a123a3">
          </div>
        </div>

        <div class="form-group mt-2">
          <div class="form-group-header">
            <label for="transfer_group">Transfer group (optional)</label>
          </div>
          <div class="form-group-body">
            <input type="text" class="form-control" id="transfer_group" name="transfer_group" placeholder="e.g., re_1HtI7VEQsq43iHhXcEjdABCD">
          </div>
        </div>

        <div class="form-group mb-2">
          <%= render Primer::ButtonComponent.new(type: :submit, "data-confirm": "Are you sure you want to create this transfer?", block: true, scheme: :primary, "data-disable-invalid": "", "data-disable-with": "Creating...").with_content("Create transfer") %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
