<tr>
  <td class="no-wrap v-align-middle text-small color-fg-muted">
    <% if transfer.transfer_id.present? %>
      <% if transfer.transfer_url.present? %>
        <a rel="noopener noreferrer" href="<%= transfer.transfer_url %>" class="text-mono Link--inTextBlock" <%= test_selector("transfer-id") %>>
          <%= truncate_stripe_id(transfer.transfer_id) %>
        </a>
      <% else %>
        <%= truncate_stripe_id(transfer.transfer_id) %>
      <% end %>
    <% else %>
      &mdash;
    <% end %>
  </td>
  <td class="no-wrap v-align-middle text-small color-fg-muted">
    <% if transfer.transfer_group.present? %>
      <% if transfer.platform_url.present? %>
        <a rel="noopener noreferrer" href="<%= transfer.platform_url %>" class="text-mono Link--inTextBlock">
          <%= truncate_stripe_id(transfer.transfer_group) %>
        </a>
      <% else %>
        <%= truncate_stripe_id(transfer.transfer_group) %>
      <% end %>
    <% else %>
      &mdash;
    <% end %>
  </td>

  <td class="no-wrap text-right pr-1 tabular-numerals v-align-middle">
    <span class="<%= class_names("color-fg-danger" => transfer.charged_back?) %>">
      <%= formatted_with_default_currency(transfer.amount) %>
    </span>

    <% if show_localized_amount? %>
      <span class="color-fg-muted text-small d-block">
        <% if transfer.destination_amount %>
          <%= formatted_with_default_currency(transfer.destination_amount) %>
        <% else %>
          <%= formatted_with_destination_currency(transfer.amount, transfer.destination_currency) %>
        <% end %>
      </span>
    <% end %>

    <div class="no-wrap color-fg-muted" <%= test_selector("frequency-#{transfer.transfer_id}") %>>
      <% if frequency == :one_time %>
        one time
      <% elsif frequency == :recurring %>
        a month
      <% elsif frequency == :mixed %>
        mixed
      <% end %>
    </div>
  </td>

  <% if show_match_column? %>
    <td class="text-right pr-1 tabular-numerals v-align-middle">
      <%= render(Primer::Beta::Octicon.new(icon: "alert", color: :attention)) if possibility_of_reversal_mismatch? %>
      <% if show_match_amount? %>
        <span class="no-wrap"><%= formatted_with_default_currency(transfer.match_amount) %></span>
        <% if show_localized_amount? %>
          <p class="note">
            <%= formatted_with_destination_currency(transfer.match_amount, transfer.destination_currency) %>
          </p>
        <% end %>
      <% else %>
        <span class="color-fg-muted">&mdash;</span>
      <% end %>
      <% if show_match_amount_reversed? %>
        <span class="no-wrap color-fg-danger">- <%= formatted_with_default_currency(transfer.match_amount_reversed) %></span>
        <% if show_localized_amount? %>
          <p class="note no-wrap">
            <%= formatted_with_destination_currency(transfer.match_amount_reversed, transfer.destination_currency) %>
          </p>
        <% end %>
      <% end %>
    </td>
  <% end %>

  <% if show_amount_flags_column? %>
    <td class="text-center v-align-middle">
      <% if transfer.charged_back? %>
        <%= render Primer::Beta::Octicon.new(
          icon: "flame",
          aria: { label: "Chargeback" },
          test_selector: "chargedback-transaction",
        ) %>
      <% end %>
      <% if transfer.fully_reversed? %>
      <%= render Primer::Beta::Label.new(
        test_selector: "fully-reversed-label",
        scheme: :attention,
      ).with_content("Reversed") %>
    <% elsif transfer.partially_reversed? %>
      <%= render Primer::Beta::Label.new(
        test_selector: "partially-reversed-label",
        scheme: :attention,
      ).with_content("Partially reversed") %>
    <% end %>
    </td>
  <% end %>

  <td class="v-align-middle" <%= test_selector("sponsor-login-#{transfer.transfer_id}") %>>
    <% if transfer.sponsor_login && transfer.dead_sponsor? %>
      <%= render Primer::Beta::Truncate.new do |truncate| %>
        <% truncate.with_item(max_width: 100) { transfer.sponsor_login } %>
      <% end %>
    <% elsif transfer.sponsor_login %>
      <a class="no-wrap" href="<%= stafftools_user_path(transfer.sponsor_login) %>" <%= safe_data_attributes(hovercard_data_attributes_for_user(transfer.sponsor)) %>>
        <%= render GitHub::AvatarComponent.new(actor: transfer.sponsor, alt: "") if transfer.sponsor %>
        <%= render Primer::Beta::Truncate.new do |truncate| %>
          <% truncate.with_item(max_width: 100) { transfer.sponsor_login } %>
        <% end %>
      </a>
    <% end %>
  </td>

  <td class="v-align-middle no-wrap text-center">
    <% if transfer.sponsor_has_young_github_account? %>
      <%= render Primer::Beta::Label.new(scheme: :danger).with_content("A") %>
    <% end %>

    <% if transfer.user_sponsor? %>
      <% if transfer.sponsor_time_zone_name.blank? %>
        <%= render Primer::Beta::Label.new(scheme: :warning).with_content("T") %>
      <% elsif !transfer.sponsor_has_time_zone_matching_ip_address? %>
        <%= render Primer::Beta::Label.new(scheme: :warning).with_content("T") %>
      <% end %>
    <% end %>

    <% unless transfer.sponsor_has_customized_user_profile? %>
      <%= render Primer::Beta::Label.new(scheme: :danger).with_content("P") %>
    <% end %>
  </td>

  <td class="no-wrap v-align-middle text-center">
    <%= transferred_at %>
  </td>

  <td class="v-align-middle text-center">
    <%= render Stafftools::Sponsors::Members::Transfers::PaymentAndMatchReversalFormComponent.new(
      transfer: transfer,
      sponsorable_login: sponsorable_login,
      stripe_account: stripe_account,
      has_been_paid_out: has_been_paid_out?,
    ) %>

    <%= render Stafftools::Sponsors::Members::Transfers::ReverseTransferAndRefundPaymentFormComponent.new(
      transfer: transfer,
      stripe_account: stripe_account,
      sponsorable_login: sponsorable_login,
      billing_transaction: billing_transaction,
    ) %>
  </td>
</tr>

<% if possibility_of_reversal_mismatch? %>
  <tr>
    <td colspan="<%= total_columns %>" class="v-align-middle py-2 text-small color-fg-attention color-bg-attention border-bottom">
      <%= render(Primer::Beta::Octicon.new(icon: "alert", color: :attention, mr: 1)) %>
      <% if transfer.transfer_id.present? %>
        Transfer <code><%= truncate_stripe_id(transfer.transfer_id) %></code>
      <% else %>
        This transfer
        <%= emoji_tag(Emoji.find_by_alias("point_up"), class: "emoji emoji-icon") %>
      <% end %>
      has at least 10 reversals. It's possible the match reversal amount is not correct.
      <a rel="noopener noreferrer" href="<%= verify_url %>" class="Link--inTextBlock">
        Verify the data in Stripe &rarr;
      </a>
    </td>
  </tr>
<% end %>
