<%
  body_length = if comment
    100
  else
    250
  end
  comment_body_length = 150
%>

<div class="p-3" <%= test_selector("discussion-hovercard") %>>
  <div class="f6 color-fg-muted mb-1">
    <a aria-label="<%= current_repository.name_with_display_owner %>" class="d-inline-block text-underline Link--secondary" href="<%= repository_path(current_repository) %>" <%= safe_data_attributes(hovercard_click_hydro_attrs("discussion_hovercard:repository_nwo", data: hydro_data)) %>>
      <%= current_repository.name_with_display_owner.truncate(32) %>
    </a>
    on
    <span>
      <%= full_month_date(discussion.created_at, omit_current_year: true) %>
    </span>
  </div>

  <div class="d-flex mt-2">
    <span class="lh-condensed py-1 pr-2">
      <%= primer_octicon(:"comment-discussion") %>
    </span>

    <div class="d-flex flex-column f5 lh-condensed mt-1">
      <a href="<%= discussion_path(discussion) %>" class="no-underline Link--primary d-block" <%= safe_data_attributes(hovercard_click_hydro_attrs("discussion_hovercard:discussion_title", data: hydro_data)) %>>
        <h5 class="d-inline dashboard-break-word"><%= discussion.title %></h5>
        <span class="color-fg-muted">#<%= discussion.number %></span>
      </a>
      <% if discussion.body.present? %>
        <div class="lh-condensed color-fg-muted mt-1 mb-0 dashboard-break-word">
          <%= discussion.async_truncated_body_html(body_length).sync %>
        </div>
      <% end %>
    </div>
  </div>

  <% if comment %>
    <div class="border-top mr-n3 ml-n3 mt-3 pt-3" <%= test_selector("comment-#{comment.id}") %>>
      <div class="mx-3">
        <div class="d-flex mb-2 f6 <%= "flex-items-center flex-justify-between" if comment.answer? %>">
          <div class="d-flex flex-items-center">
            <div class="hovercard-icon mr-2 mb-1">
              <%= avatar_for(comment.author, 16, class: "avatar") %>
            </div>
            <span class="text-bold mr-1"><%= comment.author_display_login %></span>
            <span class="color-fg-muted">replied</span>
          </div>
          <% if discussion.supports_mark_as_answer? && comment.answer? %>
            <div class="color-fg-success text-bold">
              <%= primer_octicon(:check, mr: 1) %>Answer
            </div>
          <% end %>
        </div>
        <div class="markdown-body f6 lh-condensed color-fg-muted">
          <%= comment.async_truncated_body_html(comment_body_length).sync %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="sr-only">
    Press escape to close this hovercard
  </div>
</div>
