<div class="d-flex flex-items-center">
  <div>
    <strong>Activate this Actions package</strong>
    <p class="mb-0">
      This will update references to use package versions instead of Git references.
    </p>
  </div>
  <div class="ml-auto">
    <%= render(Primer::Alpha::Dialog.new(id: "activate-action-package-dialog", title: "Activate this Actions package", size: :medium_portrait)) do |d| %>
      <% d.with_header(show_divider: true) %>
      <% d.with_show_button { "Activate package" } %>
      <% d.with_body do %>
        <%= render Primer::Alpha::Banner.new(scheme: :warning, my: 3) do %>
          This is an irreversible operation.
        <% end %>
        <p class="mb-0">
          Workflows using <%= link_to 'Semantic Versioning', 'https://semver.org/', target: "_blank", class: "Link--inTextBlock" %> (SemVer)
          references will now resolve to the <strong>versions</strong> from this package, rather than the Git references.
          Workflows referencing non-SemVer versions will continue to use Git references.
        </p>
        <% d.with_footer(show_divider: true, display: :block) do %>
          <%= form_tag activate_action_package_path(user_type:) do %>
            <div class="float-right">
              <%= render Primer::Beta::Button.new(data: { "close-dialog-id": "activate-action-package-dialog" }) do %>Cancel<% end %>
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary) do %>Activate package<% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

