<div class="d-flex flex-items-center gap-3">
  <div>
    <strong>Delete this package</strong>
    <p class="mb-0">
      Once you delete a package, there is no going back. Please be certain.
    </p>
  </div>
  <div class="ml-auto">
    <%= render(Primer::Alpha::Dialog.new(title: "Delete this package?", size: :medium_portrait)) do |d| %>
      <% d.with_header(show_divider: true) %>
      <% d.with_show_button(scheme: :danger) { "Delete this package" } %>
      <% d.with_body do %>

        <%= render Primer::Alpha::Banner.new(scheme: :warning, my: 3) do %>
          <% if show_reclaimed_storage %>
            Deleting this package will free <%= number_to_human_size(reclaimed_storage) %> of shared storage, and the package will no longer be accessible once deleted.
          <% else%>
            Once this package is deleted, it will no longer be accessible.
          <% end%>
        <% end %>
        <p class="mb-0">
          This action will delete package <strong><%= package.name %></strong>. Versions of this package will no longer be accessible, and it will not appear in searches or package listings.
        </p>
      <% end %>

      <% d.with_footer(show_divider: true, display: :block) do %>
        <%= form_tag delete_package_path, method: :delete do %>
          <div>
            <%= render Primer::Alpha::TextField.new(name: "verify", required: true, label: "Please type #{package.name} to confirm:", mb: 2) %>
          </div>
          <div>
            <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger) do %>I understand the consequences, delete this package<% end %>
          </div>
        <% end %>
      <% end %>

    <% end %>
  </div>
</div>

