<% is_enterprise_managed = package.owner.organization? ? package.owner.enterprise_managed_user_enabled? : package.owner.is_enterprise_managed? %>

<div class="d-flex flex-items-center">
  <div>
    <strong>Change package visibility</strong>
    <p class="mb-0">
      This package is currently <%= package.visibility %>.
    </p>
  </div>
  <div class="ml-auto">
    <%= form_tag change_package_visibility_path do %>
      <%= render(Primer::Alpha::Dialog.new(title: "Change package visibility", size: :medium_portrait)) do |d| %>
        <% d.with_header(show_divider: true) %>
        <% d.with_show_button(scheme: :danger) { "Change visibility" } %>
        <% d.with_body do %>
          <div class="d-flex flex-column gap-3 mt-3">
            <% unless is_enterprise_managed %>
              <div class="form-checkbox my-0" <%= test_selector("public-package-setting-visible") %>>
                <label>
                  <%= radio_button_tag :visibility, :public, package.public?, class: "mr-2", disabled: !package.members_can_publish_public_packages?  %>
                  Public
                  <p class="note">Make this package visible to anyone.</p>
                  <% if !package.members_can_publish_public_packages? %>
                    <small class="color-fg-muted d-block mt-1 text-normal">
                      <%= render Primer::Beta::Octicon.new(icon: "shield-lock", size: :small, mr: 1) %> Setting is disabled by organization administrators.
                    </small>
                  <% end %>
                </label>
              </div>
            <% end %>
            <div class="form-checkbox my-0">
              <label>
                <%= radio_button_tag :visibility, :private, package.private?, class: "mr-2" %>
                Private
                <p class="note">Make this package visible privately, to organization members that have access.</p>
              </label>
            </div>
            <% if package.owner&.organization? %>
              <div class="form-checkbox my-0">
                <label>
                  <%= radio_button_tag :visibility, :internal, package.internal?, class: "mr-2", disabled: !package.members_can_publish_internal_packages? %>
                  Internal
                  <p class="note">Make this package visible only to the people in <%= package.owner.name %>.</p>
                  <% if !package.members_can_publish_internal_packages? %>
                    <small class="color-fg-muted d-block mt-1 text-normal">
                      <%= render Primer::Beta::Octicon.new(icon: "shield-lock", size: :small, mr: 1) %> Setting is disabled by organization administrators.
                    </small>
                  <% end %>
                </label>
              </div>
            <% end %>
          </div>
        <% end %>
        <% d.with_footer(show_divider: true, display: :block) do %>
          <div>
            <%= render Primer::Alpha::TextField.new(name: "verify", required: true, label: "Please type #{package.name} to confirm:", mb: 2) %>
          </div>
          <div>
            <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger) do %>I understand the consequences, change package visibility<% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
