<div class="d-flex flex-justify-between py-2 mt-1">
  <h3 class="pt-2 text-bold h5">All jobs usage</h3>
  <span class="p-2 text-normal h5"><%= @jobs.count %>/<%= @concurrency_limit %></span>
</div>
<div class="pt-2">
  <%= render(Primer::Beta::ProgressBar.new(classes: "w-75")) do |component| %>
    <% system_colors.each do |os| %>
      <% percentage = @concurrency_limit > 0 ? job_types_counts[os[:name]] * 100 / @concurrency_limit : 0 %>
      <% component.with_item(bg: os[:bg], percentage: percentage) %>
    <% end %>
  <% end %>
</div>

<div class="mt-2 d-flex flex-wrap">
  <% system_colors.each do |os| %>
    <div class="d-flex flex-items-center flex-nowrap">
      <%= render Primer::Beta::Octicon.new(icon: "dot-fill", color: os[:color], size: :medium) %>
      <div class="pr-2">
        <% if os[:name] == "macOS" %>
            <span class="h6">
              <span class="text-normal color-fg-muted">macOS</span>
              <%= job_types_counts["macOS"] %>

              <% if mac_limit_reached? %>
                <span class="text-normal color-fg-muted">(limit reached)</span>
              <% end %>
            </span>
        <% else %>
          <span class="h6">
            <span class="text-normal color-fg-muted"><%= os[:name] %></span>
            <%= job_types_counts[os[:name]] %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="p-2">
  <p class="text-small color-fg-muted">To increase your concurrency limit, upgrade your <%= link_to "GitHub plan.", "#{GitHub.help_url}/billing/managing-billing-for-github-actions", class: "Link--inTextBlock" %></p>
</div>
