<div class="ml-5">
  <%= render(Primer::Beta::TimelineItem.new(pb: padding_bottom, test_selector: "alert-timeline-event-auto-dismissed")) do |component| %>
    <% component.with_badge(icon: "shield-slash") %>
    <% component.with_body do %>
      <%= render DependabotAlerts::TimelineItems::ActorComponent.new(actor: :dependabot) %>
      dismissed this due to an alert rule
      <% if pull_request %>
        from
        <%= render Primer::Beta::Link.new(href: pull_request_path, scheme: :primary, font_weight: :bold, data: pull_request_link_data_attributes, test_selector: "pull-request-link").with_content("##{pull_request_number}") %>
      <% elsif push %>
        from
        <%= render DependabotAlerts::TimelineItems::PushLinkComponent.new(alert: alert, push: push) %>
      <% end %>
      <%= render Primer::Beta::RelativeTime.new(datetime: auto_dismissed_at, tense: :past) %>
    <% end %>
  <% end %>
  <% if show_event_comment? %>
    <div class="TimelineItem pl-4 pt-0 f6 d-block dependabot-alert-dismissal-comment" <%= test_selector("alert-timeline-event-dismissal-comment") %>>
      <%= comment %>
      <% if viewer_can_manage_rules? %>
        <%= render Primer::Beta::Link.new(href: repository_rules_path, test_selector: "manage-rules-link").with_content(rule_name) %>
      <% else %>
        <%= rule_name %>
      <% end %>
      <%= rule_applied %>
    </div>
  <% end %>
  <% unless @last_event %>
    <div class="TimelineItem-break mr-5 ml-0 mb-0 height-full" <%= test_selector("alert-timeline-event-spacer") %>></div>
  <% end %>
</div>
