<div class="ml-5">
  <%= render(Primer::Beta::TimelineItem.new(pb: padding_bottom, test_selector: "alert-timeline-event-auto-reopened")) do |component| %>
    <% component.with_badge(bg: :success_emphasis, color: :on_emphasis, icon: :sync) %>
    <% component.with_body do %>
      <%= render DependabotAlerts::TimelineItems::ActorComponent.new(actor: :dependabot) %>
      reopened this
      <%= render Primer::Beta::RelativeTime.new(datetime: auto_reopened_at, tense: :past) %>
    <% end %>
  <% end %>
  <% if show_event_comment? %>
    <div class="TimelineItem pl-4 pt-0 f6 d-block dependabot-alert-dismissal-comment" <%= test_selector("alert-timeline-event-auto-reopened-comment") %>>
      <%= comment %>
      <% if viewer_can_manage_rules? %>
        <%= render Primer::Beta::Link.new(href: repository_rules_path, test_selector: "manage-rules-link").with_content(rule_name) %>
      <% else %>
        <%= rule_name %>
      <% end %>
    </div>
  <% end %>
  <% unless @last_event %>
    <div class="TimelineItem-break mr-5 ml-0 mb-0 height-full" <%= test_selector("alert-timeline-event-spacer") %>></div>
  <% end %>
</div>
