<div class="ml-5">
  <%= render(Primer::Beta::TimelineItem.new(pb: padding, test_selector: "alert-timeline-event-dismissed")) do |component| %>
    <% component.with_badge(color: :muted, icon: "shield-slash") %>
    <% component.with_body do %>
      <%= render DependabotAlerts::TimelineItems::ActorComponent.new(actor: actor) %>
      dismissed this as <%= dismiss_reason %> <%= render Primer::Beta::RelativeTime.new(datetime: dismissed_at, tense: :past) %>
    <% end %>
  <% end %>
  <% if show_event_comment? %>
    <div class="TimelineItem pl-5 pt-0 f6 d-block dependabot-alert-dismissal-comment" <%= test_selector("alert-timeline-event-dismissal-comment") %>>
      <%= render Primer::Beta::Octicon.new(icon: "note") %>
      <%= event.event_comment %>
    </div>
  <% end %>
  <% unless @last_event %>
    <div class="TimelineItem-break mr-5 ml-0 mb-0 height-full" <%= test_selector("alert-timeline-event-spacer") %>></div>
  <% end %>
</div>
