<div class="ml-5">
  <%= render(Primer::Beta::TimelineItem.new(pb: @last_event ? 0 : 3, test_selector: "alert-timeline-event-fixed")) do |component| %>
    <% component.with_badge(bg: :done_emphasis, color: :on_emphasis, icon: "shield-check") %>
    <% component.with_body do %>
      <%= render DependabotAlerts::TimelineItems::ActorComponent.new(actor: :dependabot) %>
      closed this as completed
      <% if pull_request %>
        in
        <%= render Primer::Beta::Link.new(href: pull_request_path, scheme: :primary, font_weight: :bold, data: pull_request_link_data_attributes, test_selector: "pull-request-link").with_content("##{pull_request_number}") %>
      <% elsif push %>
        in
        <%= render DependabotAlerts::TimelineItems::PushLinkComponent.new(alert: alert, push: push) %>
      <% end %>
      <%= render Primer::Beta::RelativeTime.new(datetime: fixed_at, tense: :past) %>
    <% end %>
  <% end %>
  <% unless @last_event %>
    <div class="TimelineItem-break mr-5 ml-0 mb-0 height-full" <%= test_selector("alert-timeline-event-spacer") %>></div>
  <% end %>
</div>
