<dependabot-alert-load-all>
  <div id="progressive-alert-timeline-item-container" data-target="dependabot-alert-load-all.paginationLoader" class="ajax-pagination-form pagination-loader-container mt-4 mb-4 ml-0 text-center">
    <div class="discussion-item-header pt-0" <%= test_selector("alert-timeline-load-all") %>>
      <%# Load data when this is clicked %>
      <div class="Box d-inline-flex flex-column" data-action="click:dependabot-alert-load-all#displayRemainingEvents">
        <button type="button" class="color-fg-muted ajax-pagination-btn no-underline pb-0 pt-2 px-4 mt-0 mb-1 color-bg-default border-0" <%= test_selector("alert-timeline-hidden-items") %>>
          <%= pluralize(@hidden_items_count, "hidden item") %>
        </button>
        <button type="button" class="ajax-pagination-btn no-underline pb-1 pt-0 px-4 mt-0 mb-1 color-bg-default border-0" data-disable-with="Loading…">
          Load all…
        </button>
      </div>
    </div>
  </div>
  <%# Toggle visibility of this div once data has been loaded %>
  <div data-target="dependabot-alert-load-all.timelineEvents" hidden>
    <include-fragment src="<%= @load_all_path %>">
    <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
    </include-fragment>
  </div>
</dependabot-alert-load-all>
