<div class="ml-5">
  <%= render(Primer::Beta::TimelineItem.new(pb: @last_event ? 0 : 3, test_selector: "alert-timeline-event-opened")) do |component| %>
    <% component.with_badge(bg: :success_emphasis, color: :on_emphasis, icon: :shield) %>
    <% component.with_body do %>
      <%= render DependabotAlerts::TimelineItems::ActorComponent.new(actor: :dependabot) %>
      opened this
      <% if pull_request %>
        from
        <%= render Primer::Beta::Link.new(href: pull_request_path, scheme: :primary, font_weight: :bold, data: pull_request_link_data_attributes, test_selector: "pull-request-link").with_content("##{pull_request_number}") %>
      <% elsif push %>
        from
        <%= render DependabotAlerts::TimelineItems::PushLinkComponent.new(alert: alert, push: push) %>
      <% end %>
      <%= render Primer::Beta::RelativeTime.new(datetime: opened_at, tense: :past) %>
    <% end %>
  <% end %>
</div>
