<%
  page_info(title: "#{current_repository.owner.login} - #{current_repository.name} - Images")

  uses_custom_open_graph_image = current_repository.uses_custom_open_graph_image?
  open_graph_image_url = current_repository.open_graph_image_url(current_user)
  open_graph_image = current_repository.open_graph_image
%>

<div class="boxed-group">
  <h3>Open Graph image</h3>

  <div class="boxed-group-inner">
    <p>
      <em>The Open Graph image for a repository is used in the <code>og:image</code> and
      <code>twitter:image:src</code> meta tags to provide social networks with an image that
      represents the repository. It appears on Twitter, Facebook, and other external sites when
      someone links to the repository, its issues, or its pull requests.</em>
    </p>
    <hr class="bleed-flush">
    <div class="d-flex<%= "flex-column" if uses_custom_open_graph_image %>">
      <% if uses_custom_open_graph_image %>
        <p>
          <strong><%= current_repository.name_with_owner %></strong> has a custom social card image<%= ", however because the repository is private, its custom image is not publicly visible" if current_repository.private? %>.
        </p>
        <%= link_to open_graph_image_url, target: "_blank", class: "d-block", rel: "noopener noreferrer", "aria-label": "Repository image" do %>
          <div class="border rounded-2 repository-og-image" style="background-image: url('<%= open_graph_image_url %>')"></div>
        <% end %>
        <div class="mt-3">
          <p>
            Content type: <%= open_graph_image.content_type %><br>
            Size: <%= number_to_human_size open_graph_image.size %><br>
            File name: <%= open_graph_image.name %><br>
            Uploaded by: <%= link_to open_graph_image.uploader.login, stafftools_user_path(open_graph_image.uploader.login), class: "Link--inTextBlock" %><br>
            Last modified: <%= time_ago_in_words open_graph_image.updated_at %> ago
          </p>
          <%= link_to open_graph_image_url, open_graph_image_url, target: "_blank", rel: "noopener noreferrer" %>
        </div>
      <% else %>
        <%= link_to image_tag(open_graph_image_url, size: "125x125", alt: "", class: "avatar"), open_graph_image_url, target: "_blank", rel: "noopener noreferrer", "aria-label": "Repository image" %>
        <div class="ml-3">
          <p>
            <strong><%= current_repository.name %></strong> does not have a custom social card image, so the owner <%= link_to current_repository.owner.login, stafftools_user_path(current_repository.owner.login), class: "Link--inTextBlock" %>'s avatar is used instead.
          </p>
          <%= link_to open_graph_image_url, open_graph_image_url, target: "_blank", rel: "noopener noreferrer" %>
        </div>
      <% end %>
    </div>

    <% if uses_custom_open_graph_image %>
      <hr class="bleed-flush">
      <div class="clearfix pb-1">
        <%= stafftools_button_to "Delete image", stafftools_repository_image_path(current_repository.owner.login, current_repository.name, open_graph_image.id), method: :delete, class: "btn btn-danger", form_class: "boxed-action", data: { :confirm => "Are you sure you want to delete the custom image for #{current_repository.name_with_owner}?", "disable-with" => "Deleting..." } %>
      </div>
    <% end %>
  </div>
</div>
