<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="Box-body">
  <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
    Are you sure you want to do this?
  <% end %>

  <p>
    Unlocking this repository will temporarily grant you access to it.
    This repository will re-lock automatically after two hours.
  </p>
  <p>
    You should only unlock without permission if it is necessary for
    <%= link_to "legal or security reasons", "#{GitHub.help_url}/articles/github-terms-of-service/#3-access", class: "Link--inTextBlock" %>!
    If it is safe to request an access grant from the owner, please do that instead!
  </p>

  <%= form_tag gh_staff_override_unlock_stafftools_repository_path(current_repository), method: :put,
               :class => "stafftools-form" do %>
    <dl class="form-group">
      <dt><label for="reason">Reason</label></dt>
      <dd>

        <input class="form-control" type="text" name="reason" id="reason"
               placeholder="<%= placeholder_text %>"
               autofocus>
      </dd>
    </dl>
    <div class="Box-footer">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true) do %>Unlock with Override<% end %>
    </div>
  <% end %>
</div>
