<div class="Box p-3 my-3 d-flex flex-justify-between flex-items-center">
  <div class="d-flex flex-items-center flex-auto">
    <%= image_tag "email/sponsors/mona.png", height: 40, alt: "", class: "mr-3" %>
    <span class="color-fg-muted">
      Show your support for
      <a href="<%= user_path(sponsorable_login) %>" class="Link--inTextBlock Link--primary" <%= hovercard_attributes %>><%= sponsorable_login %></a>
      by sponsoring them.
    </span>
  </div>

  <% if show_funding_file? %>
    <%= render Sponsors::Repositories::FundingModalComponent.new(
      owner_login: sponsorable_login,
      repo_name: repo_name,
      is_sponsoring: false,
      modal_id: "sponsors-issue-nudge-funding-modal-#{sponsorable_login}-#{repo_name}"
    ) %>
  <% else %>
    <%= render Sponsors::SponsorButtonComponent.new(
      sponsorable: sponsorable_login,
      sponsor_login: sponsor_login_for_link,
      is_sponsoring: false,
      location: :ISSUE_NUDGE_SPONSOR,
    ) %>
  <% end %>
</div>
