<% page_info title: "Connected Enterprise Server installations", selected_link: :enterprise %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Connected Enterprise Server installations<% end %>
<% end %>

<% if installations.any? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
    <% installations.each do |installation| %>
      <% component.with_row do %>
        <span>
          <%= link_to "#{installation.customer_name} - #{installation.host_name}",
            stafftools_enterprise_installation_path(installation.id) %>
        </span>
        <span class="time float-right">Created <%= time_ago_in_words installation.created_at %> ago</span>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <%= will_paginate installations %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No connected installations.
    <% end %>
  <% end %>
<% end %>
