<%
  page_info(title: "Research participants", selected_link: :research_participants)
 %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">Provision research participants</h2>

    <p>
      Create new user accounts for each of the email addresses, randomly assign them to either the control or
      treatment org, and send them an onboarding email with a link to set their password.
    </p>
  </div>

  <%= form_tag stafftools_research_participants_create_path, method: "post" do %>
    <div class="form-group required">
      <div class="form-group-header">
        <%= label_tag "control_org", "Control org" %>
      </div>
      <div class="form-group-body">
        <%= text_field_tag :control_org, '', required: true, class: "color-bg-subtle p-2 border rounded-2" %>
      </div>

      <div class="form-group-header mt-4">
        <%= label_tag "treatment_org", "Treatment org" %>
      </div>
      <div class="form-group-body">
        <%= text_field_tag :treatment_org, '', required: true, class: "color-bg-subtle p-2 border rounded-2" %>
      </div>

      <div class="form-group-header mt-4">
        <%= label_tag "username_prefix", "Username prefix" %>
      </div>
      <div class="form-group-body">
        <%= text_field_tag :username_prefix, 'ghr-', required: true, class: "color-bg-subtle p-2 border rounded-2" %>
      </div>

      <div class="form-group-header mt-4">
        <%= label_tag "emails", "Emails (separated by newlines)" %>
      </div>
      <div class="form-group-body">
        <%= text_area_tag :emails, '', required: true, class: "color-bg-subtle p-2 border rounded-2" %>
      </div>
    </div>

    <%= submit_tag "Provision", class: "btn" %>
  <% end %>

  <div class="site-admin-subhead ruleless mt-8">
    <h2 class="site-admin-subhead-heading">Export research participants</h2>

    <p>
      Export the org members' username to email mapping as a CSV.
    </p>

    <%= form_tag stafftools_research_participants_export_path, method: "post" do %>
      <div class="form-group required">
        <div class="form-group-header">
          <%= label_tag "org", "Org" %>
        </div>
        <div class="form-group-body">
          <%= text_field_tag :org, '', required: true, class: "color-bg-subtle p-2 border rounded-2" %>
        </div>
      </div>

      <%= submit_tag "Export", class: "btn" %>
    <% end %>
  </div>
<% end %>
