<%= render Primer::Alpha::Dialog.new(
  title: "Delete workflow run",
  size: :large,
  id: dialog_id,
) do |d| %>
  <% d.with_body do %>
    <p>Are you sure you want to permanently delete this workflow run? <strong>This action cannot be undone.</strong></p>
    <include-fragment loading="lazy" src="<%=delete_pull_requests_list_src%>">
      <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
    </include-fragment>
  <% end %>
  <% d.with_footer(display: :block) do %>
    <%= form_tag delete_run_path,
      method: "delete" do %>
      <%= render Primer::Beta::Button.new(
          type: :submit,
          block: true,
          scheme: :danger,
        ) do %>
          Yes, delete this workflow run
      <% end %>
    <% end %>
  <% end %>
<% end %>
