<% if duration == 0 %>
  <span class="d-inline d-md-block lh-condensed pr-2 pr-md-0" <%= test_selector("in-progress") %>>
    <%= render(Primer::Beta::Octicon.new(icon: "stopwatch", color: :muted)) %>
    <span class="text-italic color-fg-muted"><%= (workflow_run.conclusion || workflow_run.status).humanize %></span>
  </span>
<% else %>
  <% if workflow_run.repository.public? || GitHub.enterprise? # Public repos and Enterprise don't show billing information, no popover needed. %>
    <span class="color-fg-muted" <%= test_selector("no-billing-details") %>>
      <%= render(Primer::Beta::Octicon.new(icon: "stopwatch", aria: { label: "Run duration" })) %>
      <span>
        <%= precise_duration(duration) %>
      </span>
    </span>
  <% else %>
    <details class="details-overlay details-reset position-relative d-inline-block">
      <summary class="color-fg-muted pr-2 pr-md-0">
        <%= render(Primer::Beta::Octicon.new(icon: "stopwatch", aria: { label: "Run duration" })) %>
        <span class="issue-keyword">
          <%= precise_duration(duration) %>
        </span>
      </summary>
      <details-menu class="dropdown-menu dropdown-menu-s p-3 lh-condensed text-small" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="text-bold mb-2">Run duration</div>
        <p class="color-fg-muted">This is the workflow execution time which may be different than the billed time.</p>
        <p class="mb-0">
          <a href="<%= workflow_run_path(user_id: workflow_run.repository.owner, repository: workflow_run.repository, workflow_run_id: workflow_run.id) %>">See details</a>
        </p>
      </details-menu>
    </details>
  <% end %>
<% end %>
