<li class="Box-row p-0">
  <div class="d-flex flex-items-baseline pt-2 my-1 pl-6">
    <h5 class="h5 color-fg-<%= summary_color %>" <%= test_selector("#{test_selector_prefix}-summary") %>>
      <%= summary %>
    </h5>
  </div>

  <div class="pl-6">
    <p class="color-fg-muted f6" <%= test_selector("#{test_selector_prefix}-details") %>>
      <%= details %>
       <a href='https://gh.io/mq-ci-config-docs'>Learn more about using merge queue with your CI service.</a>
    </p>
  </div>

  <% unless sorted_check_runs_list.empty? %>
    <ul class="overflow-y-scroll">
      <% sorted_check_runs_list.each do |check_run| %>
        <li class="Box-row merge-status-item" style="border-radius:0;">
          <div class="d-flex pl-3 flex-items-center">
            <div class="merge-status-icon">
              <%= icon_or_progress_spinner_for(state: check_run.state, class: "mx-auto d-block #{status_state_text_class(check_run.state)}") %>
            </div>
            <% if check_run.application %>
              <a href="<%= check_run.application.url %>" class="d-inline-block Link--muted lh-0 mr-2 rounded-2" aria-label="<%= check_run.application.name %> (@<%= check_run.application.user.display_login %>) generated this status." style="background-color: #<%= check_run.application.preferred_bgcolor %>" <%= test_selector("#{test_selector_prefix}-oauth-application-logo") %>>
                <%= oauth_application_logo_tag check_run.application, current_user, session, 20, :class => "avatar" %>
              </a>
            <% elsif check_run.creator %>
              <a href="<%= user_path(check_run.creator) %>" class="d-inline-block Link--muted mr-2 rounded-2" aria-label="@<%= check_run.creator.display_login.chomp(Bot::LOGIN_SUFFIX) %> generated this status." style="background-color: #ffffff">
                <%= avatar_for check_run.creator, 20, :class => "avatar" %>
              </a>
            <% elsif check_run.integration %>
              <a href="<%= check_run.integration.url %>" class="d-inline-block Link--muted mr-2 rounded-2">
                <%= avatar_for check_run.integration, 20, :class => "avatar" %>
              </a>
            <% end %>
            <%=
              render partial: "statuses/status_check_item_body", locals: {
                context: check_run.context,
                state: check_run.state,
                description: check_run.description || default_status_check_description(check_run.state),
                additional_context: additional_status_check_context(check_run.state, check_run.duration_in_seconds),
                target_url: check_run.target_url,
                is_required_for_pull_request: true,
              }
            %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</li>
