<li class="mt-2">
  <a
    class="Link--primary"
    href="<%= global_advisories_path(query: "credit:#{login_name}") %>"
    <%= test_selector("advisory-credits-link") %>
  >
    <%= render Primer::Beta::Octicon.new(
      icon: "shield",
      color: :muted,
      mr: 1,
    ) %><span <%= test_selector("advisory-credit-count") %>>
      <%= social_count(global_advisory_credit_count) %>
    </span>
    security advisory <%= "credit".pluralize(global_advisory_credit_count) %>
  </a>
</li>
