<% page_info title: "Audit log", selected_link: :business_audit_log_stream_settings,
  stafftools: stafftools_enterprise_path(business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: business,
    check_result: check_result,
    check_is_ok: check_is_ok,
    title: "Audit log",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <%= render "businesses/audit_log/tabs", business: business %>
  <%= render Primer::Beta::Subhead.new(spacious: false) do |component| %>
    <% component.with_heading(tag: :h3, font_size: 3, font_weight: :bold, pb: 2) do %>Configure Audit log streaming to Amazon S3
    <% end %>
    <% component.with_description do %>Stream audit logs to an Amazon S3 endpoint.
      <a class="Link--inTextBlock" href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/UsingBucket.html" aria-label="Learn more about streaming to S3">Learn more.</a>
    <% end %>
  <% end %>
  <%= render partial: "businesses/audit_log_stream/check_result", locals: { check_result: check_result } %>
  <% if !GitHub.enterprise? %>
    <%= render(Primer::Beta::Heading.new(tag: :h4, pb: 2)) { "Authentication" } %>
    <%= render Primer::Beta::ButtonGroup.new(scheme: authentication_type == s3.access_keys ? :primary : :default) do |component| %>
      <% component.with_button(
        id: "s3-access-keys-button",
        ) { "Access keys" }%>
      <% component.with_button(
        id: "s3-oidc-auditlog-button",
        ) { "OpenID Connect" } %>
    <% end %>
  <% end %>
  <%= form_tag form_route, method: :post,
    class: "js-encrypt-bulk-submit-enable-empty",
    "data-public-key" => public_key do %>
    <div class="gutter clearfix d-flex flex-shrink-0">
      <div class="col-8">
        <dl class="form-group">
          <dt><%= label_tag :s3_region, "Region" %></dt>
          <dd><%= select_tag :s3_region,
            options_for_select([["Auto Detect", ""]].concat(s3.available_regions), s3.region)%>
          </dd>
        </dl>
        <% if GitHub.single_business_environment? %>
          <div id="region-info" style="<%= 'display: none'%>" class='d-flex flex-items-center'>
            <%= render(
              Primer::Beta::Octicon.new(
                icon: "info",
                size: :medium,
                pr: 1,
                color: :subtle,
              )
            ) %>
            <p class="note color-fg-muted">"Auto Detect" requires access to the us-east-1 region on AWS.</p>
          </div>
        <% end %>
        <dl class="form-group">
          <dt><%= label_tag :s3_bucket, "Bucket" %></dt>
          <dd><%= text_field_tag :s3_bucket, s3.bucket %></dd>
        </dl>
        <div id="s3-access-key-input" style="<%= 'display: none !important' unless authentication_type == s3.access_keys %>">
          <dl class="form-group">
            <dt><%= label_tag :key_id_secret, "Access Key ID" %></dt>
            <dd><%= password_field_tag :key_id_secret, "", :autocomplete => 'new-password', :placeholder => access_placeholder %></dd>
          </dl>
        </div>
        <div id="s3-secret-key-input" style="<%= 'display: none !important' unless authentication_type == s3.access_keys %>">
          <dl class="form-group">
            <dt><%= label_tag :key_secret, "Secret Key" %></dt>
            <dd><%= password_field_tag :key_secret, "", :autocomplete => 'new-password', :placeholder => secret_placeholder %></dd>
          </dl>
        </div>
        <div id="s3-oidc-auditlog-input" style="<%= 'display: none !important' unless authentication_type == s3.oidc_auditlog %>">
          <dl class="form-group">
            <dt><%= label_tag :arn_role, "ARN Role" %></dt>
            <dd><%= text_field_tag :arn_role, s3.arn_role %></dd>
          </dl>
        </div>
      </div>
    </div>

    <%= hidden_field_tag :authentication_type, authentication_type %>
    <%= hidden_field_tag :key_id_secret_encrypted_value, s3.encrypted_access_key_id %>
    <%= hidden_field_tag :key_secret_encrypted_value, s3.encrypted_secret_key %>
    <%= hidden_field_tag :public_key_id, public_key_id %>
    <%= hidden_field_tag :id, s3.id %>

    <%= render partial: "businesses/audit_log_stream/buttons", locals: { business: business, check_is_ok: check_is_ok } %>
  <% end %>
<% end %>
