<div class="js-build-in-item build-in-scale-up sponsors-section-quote">
  <p class="mb-4 f3-mktg color-fg-default">
    <%= quote %>
  </p>
  <div class="d-flex flex-row flex-nowrap flex-items-start">
    <%=
      rounded = :circle
      rounded = 2 if local_assigns[:org].present?
      avatar = handle
      avatar = org if local_assigns[:org].present?

      render Site::AvatarComponent.new(handle: avatar, size: 42, rounded: rounded, alt: "@#{avatar}", classes: "box-shadow-card-mktg") %>
    <div class="d-flex flex-column flex-justify-center ml-3">
      <span class="d-block f4-mktg color-fg-default mr-6">
        <%= author %><% if !local_assigns[:title].nil? %>, <%= title %><% end %>
      </span>
      <%= render Site::LinkComponent.new(text: "@#{handle}", url: "https://github.com/#{handle}", size: :small) %>
    </div>
  </div>
</div>
