<table class="site-admin-table mb-0 border-0">
  <thead>
    <tr>
      <th>Total</th>
      <th>Open (Service)</th>
      <th>Open (Security Center)</th>
      <th>Closed</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% test_selector_prefix = feature_name.gsub('_', '-') %>
      <td <%= test_selector("#{test_selector_prefix}-total-alert-count") %>><%= total_alerts %></td>
      <td <%= test_selector("#{test_selector_prefix}-open-alert-count") %>><%= open_alerts %></td>
      <td <%= test_selector("#{test_selector_prefix}-security-center-open-alert-count") %>><%= open_security_center_alerts %></td>
      <td <%= test_selector("#{test_selector_prefix}-close-alert-count") %>><%= closed_alerts %></td>
    </tr>
  </tbody>
</table>
