<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
  <%= render Primer::Alpha::Banner.new(icon: :alert, scheme: :warning) do %>
    <% if view.location_available? %>This authorization was requested from <strong><%= view.location[:city] || view.location[:region_name] || view.location[:country_name] %> <span><%= view.ip_address %></span></strong> on <time><%= view.device_code_created_at %></time><% end %>
    <p>Make sure you trust this device as it will get access to your account.</p>
  <% end %>
<% else %>
  <%= render Primer::Beta::Flash.new(scheme: :warning) do %>
    <%= primer_octicon(:alert, mr: 1) %>
    <% if view.location_available? %>This authorization was requested from <strong><%= view.location[:city] || view.location[:region_name] || view.location[:country_name] %> <span><%= view.ip_address %></span></strong> on <time><%= view.device_code_created_at %></time><% end %>
    <p>Make sure you trust this device as it will get access to your account.</p>
  <% end %>
<% end %>
