<% page_info :title => "Verify Session" %>
<% multi_account_enabled = account_switcher_helper.enabled? %>

<h2 class="text-center mb-4">Device Activation</h2>

<div <%= test_selector "switch_account_view" %> data-hpc>
  <%= render "shared/flash" %>

  <%= render partial: "sessions/account_switcher_box", locals: {
    view_name: "switch_account",
    signing_out: false,
    continue_to: device_authorization_selected_account_path,
    continue_method: :post,
    return_to: return_to_target,
  }%>

  <% if multi_account_enabled %>
    <%= link_to "Use a different account", login_path(return_to: return_to_target, add_account: "1", allow_signup: false), class: "btn btn-large width-full text-center mt-3", role: "button" %>
  <% else %>
    <%= button_to "Use a different account", kill_session_path(after_logout: return_to_target), method: :post, class: "btn btn-large width-full text-center mt-3" %>
  <% end %>
</div>
