<h2 class="text-center mb-4">Device Activation</h2>

<div class="d-flex flex-items-center flex-justify-center mb-4">
  <div class="mr-3">
    <%= render(GitHub::AvatarComponent.new(actor: current_user, size: 32)) %>
  </div>
  <div class="Truncate flex-column">
    <p class="m-0">
      Signed in as
      <span class="m-0 Truncate-text"><strong <%= test_selector "current_user" %>><%= current_user.display_login %></strong></span>
    </p>
  </div>
</div>

<%= form_tag device_request_path do %>
  <p class="mb-4 text-center"><label for="user_code">Enter the code displayed on your device</label></p>

  <div class="d-flex flex-justify-between flex-items-center mb-4">
    <input autofocus type="text" name="user-code-0" id="user-code-0" class="form-control js-user-code-field h1" maxlength="1" style="height: 2em; max-width: 1.5em; text-transform: uppercase" aria-label="User code 0" data-next="user-code-1">
    <input type="text" name="user-code-1" id="user-code-1" class="form-control js-user-code-field h1" maxlength="1" style="height: 2em; max-width: 1.5em; text-transform: uppercase" aria-label="User code 1" data-next="user-code-2" data-previous="user-code-0">
    <input type="text" name="user-code-2" id="user-code-2" class="form-control js-user-code-field h1" maxlength="1" style="height: 2em; max-width: 1.5em; text-transform: uppercase" aria-label="User code 2" data-next="user-code-3" data-previous="user-code-1">
    <input type="text" name="user-code-3" id="user-code-3" class="form-control js-user-code-field h1" maxlength="1" style="height: 2em; max-width: 1.5em; text-transform: uppercase" aria-label="User code 3" data-next="user-code-5" data-previous="user-code-2">

    <span class="h1">-</span>
    <input type="text" name="user-code-4" id="user-code-4" class="d-none" aria-label="User code 4" value="-" readonly>

    <input type="text" name="user-code-5" id="user-code-5" class="form-control js-user-code-field h1" maxlength="1" style="height: 2em; max-width: 1.5em; text-transform: uppercase" aria-label="User code 5" data-next="user-code-6" data-previous="user-code-3">
    <input type="text" name="user-code-6" id="user-code-6" class="form-control js-user-code-field h1" maxlength="1" style="height: 2em; max-width: 1.5em; text-transform: uppercase" aria-label="User code 6" data-next="user-code-7" data-previous="user-code-5">
    <input type="text" name="user-code-7" id="user-code-7" class="form-control js-user-code-field h1" maxlength="1" style="height: 2em; max-width: 1.5em; text-transform: uppercase" aria-label="User code 7" data-next="user-code-8" data-previous="user-code-6">
    <input type="text" name="user-code-8" id="user-code-8" class="form-control js-user-code-field h1" maxlength="1" style="height: 2em; max-width: 1.5em; text-transform: uppercase" aria-label="User code 8" data-previous="user-code-7">
  </div>

  <%= submit_tag "Continue", class: "btn btn-primary btn-block mb-4" %>
<% end %>

<div class="col-sm-12 mt-2">
  <p class="text-small color-fg-muted mb-0 text-center">GitHub staff will never ask you to enter your code on this page.</p>
</div>
