<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  product_label = GitHub.enterprise? ? "GitHub Enterprise" : "GitHub"
%>

<two-factor-setup-recovery-codes
  data-error-message="Enabling two-factor authentication failed"
>
  <p class="mt-2 mb-4 color-fg-muted">
    You can use recovery codes as a second factor to authenticate in case you lose access to your device.
    We recommend saving them with a secure password manager such as
    <a class="Link--secondary text-underline" href="https://1password.com/" target="_blank" rel="noopener noreferrer">1Password</a>,
    <a class="Link--secondary text-underline" href="https://authy.com/" target="_blank" rel="noopener noreferrer">Authy</a>, or
    <a class="Link--secondary text-underline" href="https://keepersecurity.com/" target="_blank" rel="noopener noreferrer">Keeper</a>.
  </p>
  <%= render Primer::Beta::Flash.new(scheme: :default, mb: 4) do %>
    <%= primer_octicon(:info, float: :left, vertical_align: :top, mt: 1, mb: 4) %>
    <div class="text-left">
      <b>Keep your recovery codes in a safe spot</b>
    </div>
    <div class="text-left">
      If you lose your device and don't have the recovery codes, you will lose access to your account.
    </div>
  <% end %>
  <ul class="text-emphasized color-bg-subtle pt-5 pb-5 h3 text-mono" data-target="two-factor-setup-recovery-codes.codes"></ul>
  <div class="mt-3 d-flex flex-justify-end">
    <%= form_with url: settings_user_2fa_recovery_download_path, :class => "d-inline", data: { target: "two-factor-setup-recovery-codes.downloadCodesForm" } do %>
      <%= csrf_hidden_input_for settings_user_2fa_recovery_download_path, method: :post, class: "js-data-url-csrf" %>
      <%= render(Primer::ButtonComponent.new(scheme: :primary, data: { action: 'click:two-factor-setup-recovery-codes#onDownloadClick' })) do |c| %>
        Download
        <% c.with_leading_visual_icon(icon: :download) %>
      <% end %>
    <% end -%>
    <%= form_with url: settings_user_2fa_enable_path, hidden: true, data: { target: "two-factor-setup-recovery-codes.form" } do %>
      <%= csrf_hidden_input_for settings_user_2fa_enable_path, method: :post, class: "js-data-url-csrf" %>
    <% end -%>
  </div>
</two-factor-setup-recovery-codes>
