<turbo-frame id="sponsorable_dependencies">
  <div
    class="mb-md-5 mr-3 mx-md-auto"
    <%= test_selector("sponsorable-dependencies") %>
  >
    <%= render "sponsors/explore/sponsorable_dependencies_header",
          filter_set: filter_set,
          enable_links: true,
          total_results: explore_loader.total_results,
          total_results_in_page: explore_loader.total_results_in_page %>

    <% if explore_loader.total_results_in_page.positive? %>
      <%= render Sponsors::Explore::StartBulkSponsorshipComponent.new(
        location: :sponsors_explore,
        sponsor_login: login_to_sponsor_as,
      ) %>

      <div class="Box mt-3">
        <% explore_loader.paginated_sponsorables_from_dependencies.each do |sponsorable| %>
          <%
            sponsor = explore_loader.first_sponsor(sponsorable.id)
            is_sponsoring = explore_loader.sponsoring?(sponsorable.id)
          %>
          <%= render Sponsors::SponsorableCardComponent.new(
            login: sponsorable.display_login,
            avatar_url: sponsorable.primary_avatar_url.to_s,
            avatar_classes: avatar_class_names(sponsorable),
            hovercard_data: hovercard_data_attributes_for_repository_owner(sponsorable),
            is_sponsoring: is_sponsoring,
            sponsor_button_location: is_sponsoring ? :DEPENDENCY_SPONSORING : :DEPENDENCY_SPONSOR,
            total_sponsors: explore_loader.total_sponsors(sponsorable.id),
            total_org_sponsors: explore_loader.total_org_sponsors(sponsorable.id),
            sponsor_login: sponsor&.login,
            login_to_sponsor_as: login_to_sponsor_as,
            filter_set: filter_set,
            sponsor_hovercard_data: hovercard_data_attributes_for_user(sponsor),
            sponsor_avatar_url: sponsor&.primary_avatar_url.to_s,
            sponsor_avatar_classes: sponsor ? avatar_class_names(sponsor) : nil,
            repository_count: explore_loader.total_associated_dependencies(sponsorable),
            active_goal: sponsorable.sponsors_listing&.active_goal
          ) %>
        <% end %>
      </div>

      <% if show_sponsorable_dependency_pagination?(explore_loader) %>
        <nav class="paginate-container" aria-label="Pagination" data-pjax>
          <%= will_paginate(explore_loader.paginated_sponsorables_from_dependencies,
            renderer: SponsorsExplorePaginationLinkRenderer) %>
        </nav>
      <% end %>
    <% else %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_visual_icon(icon: "heart-fill") %>

        <% c.with_heading(tag: :h2) do %>
          None of your dependencies can be sponsored
        <% end %>

        <% c.with_description do %>
          <%= filter_set.no_results_explanation(account_is_viewer: explore_loader.account_is_viewer?) %>
        <% end %>

        <% if filter_set.filtering? %>
          <% c.with_secondary_action(href: sponsors_explore_index_path(
            filter_set.with_default_filters.query_args
          )) do %>
            Clear filter
          <% end %>
        <% end %>
      <% end %>

      <% if explore_loader.featured_listings.any? %>
        <div class="<%= class_names("mt-5" => explore_loader.total_results_in_page.positive?) %>">
          <h3 class="mb-3" <%= test_selector("explore-people-and-projects") %>>Explore people and projects</h3>

          <%= render Sponsors::Explore::StartBulkSponsorshipComponent.new(
            location: :sponsors_explore,
            sponsor_login: login_to_sponsor_as,
          ) %>

          <div class="Box mt-3">
            <% explore_loader.featured_listings.each do |listing| %>
              <%
                sponsorable = listing.sponsorable
                sponsor = explore_loader.first_sponsor(sponsorable.id)
                is_sponsoring = explore_loader.sponsoring?(sponsorable.id)
              %>

              <%= render Sponsors::SponsorableCardComponent.new(
                login: listing.sponsorable_login,
                avatar_url: listing.sponsorable_primary_avatar_url.to_s,
                avatar_classes: avatar_class_names(sponsorable),
                hovercard_data: hovercard_data_attributes_for_repository_owner(sponsorable),
                description: listing.featured_description,
                is_sponsoring: is_sponsoring,
                sponsor_button_location: is_sponsoring ? :DEPENDENCY_SPONSORING : :DEPENDENCY_SPONSOR,
                total_sponsors: explore_loader.total_sponsors(listing.sponsorable_id),
                total_org_sponsors: explore_loader.total_org_sponsors(listing.sponsorable_id),
                sponsor_login: sponsor&.login,
                login_to_sponsor_as: login_to_sponsor_as,
                filter_set: filter_set,
                sponsor_hovercard_data: hovercard_data_attributes_for_user(sponsor),
                sponsor_avatar_url: sponsor&.primary_avatar_url.to_s,
                sponsor_avatar_classes: sponsor ? avatar_class_names(sponsor) : nil,
              ) %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</turbo-frame>
