<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="d-flex flex-justify-between flex-items-start mr-3 mr-md-0 mb-3">
  <% if total_results_in_page.positive? %>
    <div>
      <h3 class="mr-3" <%= test_selector("top-dependencies-header") %>><span class="color-fg-muted"><%= total_results %></span> <%= "developer".pluralize(total_results) %> who <%= total_results > 1 ? "maintain" : "maintains" %> your dependencies</h3>

      <%= form_tag sponsors_explore_export_path(filter_set.query_args), class: "color-fg-subtle f5 mt-1" do %>
        Download your
        <%= render Primer::ButtonComponent.new(scheme: :link, type: :submit).with_content("results as CSV") %>
      <% end %>
    </div>
  <% end %>

  <div class="d-flex flex-items-center mt-1">
    <%= render Sponsors::Explore::SortMenuComponent.new(
      enable_links: enable_links,
      filter_set: filter_set,
      total_results_in_page: total_results_in_page,
    ) %>
  </div>
</div>
