<%
  page_info(
    title: "Explore GitHub Sponsors",
    class: "f4",
    richweb: {
      title: "Explore GitHub Sponsors",
      url: request.original_url,
      description: "Find new open source contributors to support.",
      image: image_path("modules/site/social-cards/sponsors.png"),
      type: "website",
    },
    canonical_url: request.original_url
  )
%>

<%= render(Explore::NavComponent.new) %>

<div class="color-bg-subtle border-bottom">
  <div class="container-lg p-responsive text-center py-6">
    <h1 class="h1" <%= test_selector "sponsors-explore-title" %>>Explore GitHub Sponsors</h1>
    <p class="f4 color-fg-muted col-md-8 mx-auto">Fund the work of developers and projects you depend on.</p>
  </div>
</div>

<div
  data-hpc
  class="<%= class_names(
    "p-responsive py-6",
    "container-md" => !logged_in?,
    "container-xl d-flex flex-column flex-md-row flex-wrap flex-lg-nowrap" => logged_in?,
  ) %>"
  <%= test_selector("sponsors-explore-dependencies") %>
>
  <% if logged_in? %>
    <%= render Sponsors::Explore::SidebarComponent.new(filter_set: filter_set) %>

    <div id="sponsorable-dependencies" class="mx-auto col-md-9 col-lg-7">
      <include-fragment src="<%= sponsors_explore_index_path(filter_set.query_args) %>">
        <%= render "sponsors/explore/sponsorable_dependencies_header",
            filter_set: filter_set,
            filter_organizations: filter_organizations,
            total_results: explore_loader.total_results,
            total_results_in_page: explore_loader.total_results_in_page,
            enable_links: true %>
        <%= render(Primer::Beta::Spinner.new(mt: 3, mb: 5, mx: :auto, display: :block)) %>
      </include-fragment>
    </div>

    <div class="flex-order-2 flex-md-order-none mr-3 mr-md-0 py-md-6 pl-lg-6 col-md-12 col-lg-3" <%= test_selector("right-sidebar") %>>
      <include-fragment src="<%= sponsors_explore_funding_stats_path(filter_set.query_args) %>">
        <%= render(Primer::Beta::Spinner.new(mt: 3, mb: 5, mx: :auto, display: :block)) %>
      </include-fragment>
    </div>
  <% else %>
    <%= render "sponsors/featured_accounts_box" %>
  <% end %>
</div>

<div class="text-small color-fg-muted container-lg p-responsive text-center py-6">
  Don't see what you're looking for? Try
  <a class="Link--inTextBlock" href="<%= search_path(q: "is:sponsorable", type: "Users") %>">searching for people you can sponsor</a>
  and filtering by language!
</div>

<% if filter_organizations.any? %>
  <div class="color-bg-subtle">
    <div class="container-lg p-responsive text-center py-6">
      <div class="d-flex flex-items-center mb-3 flex-justify-center">
        <% if explore_loader.account_is_viewer? %>
          <% filter_organizations.take(3).each do |org| %>
            <%= link_to(
              sponsors_explore_index_path(filter_set.with(account_login: org.display_login).query_args),
              class: "mx-2 d-inline-block",
            ) do %>
              <%= avatar_for(org, 64, class: "avatar avatar-8 box-shadow-none") %>
            <% end %>
          <% end %>
        <% else %>
          <span class="CircleBadge color-bg-sponsors-emphasis mr-2 avatar-6">
            <%= primer_octicon("heart-fill", color: :on_emphasis, height: 28, classes: "CircleBadge-icon") %>
          </span>
        <% end %>
      </div>

      <div class="d-flex flex-items-center flex-column col-md-6 mx-auto">
        <% if explore_loader.account_is_viewer? %>
          <h3 class="mb-3">
            Talk to your organization about GitHub Sponsors
          </h3>
          <p class="f4 color-fg-muted">
            Share this discovery page with your team to start a conversation about investing in the people and
            projects you rely on.
          </p>
        <% else %>
          <h3 class="f3 text-normal" <%= test_selector("sponsor-on-behalf-of-header") %>>
            Want to sponsor on behalf of <%= filter_set.account_login %>?
          </h3>
          <p class="f4 color-fg-muted">
            Share this discovery page with your team to start a conversation about investing in the people and
            projects you rely on.
          </p>

          <% share_url = sponsors_explore_index_url(filter_set.query_args) %>
          <div class="input-group mt-3 col-8">
            <input
              class="form-control input-lg color-fg-muted"
              type="text"
              aria-label="<%= share_url %>"
              value="<%= share_url %>"
              data-autoselect
              readonly
            >
            <span class="input-group-button">
              <%= render Primer::Beta::ClipboardCopy.new(value: share_url, "aria-label": "Copy URL to clipboard", "data-copy-feedback": "Copied Sponsors link to clipboard!", "data-tooltip-direction": "sw", classes: "btn") %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if fullstory_enabled? %>
  <%= render Site::Fullstory::CaptureComponent.new %>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "sponsors" %>
<% end %>
