<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%
  minimize_button_text = "Minimize"

  if comment.minimized? && comment.minimized_audit_log(current_user).present?
    minimize_button_text = "Minimized as #{comment.minimized_reason}"
  end
%>

<%= render Primer::ButtonComponent.new(variant: :small, float: :right, classes: "js-details-target", "aria-label": minimize_button_text, "aria-expanded": "false") do %>
  <span class="Details-content--shown <%= "color-fg-danger" if comment.minimized? %>">
    <%= minimize_button_text %>
  </span>
  <span class="Details-content--hidden">Cancel</span>
<% end %>

<div class="Details-content--hidden">
  <% if comment.minimized? %>
    <%= form_tag stafftools_unminimize_comment_path(comment), method: :put, class: "inline-form mt-2" do %>
      <dl class="form-group m-0">
        <dd><input type="hidden" name="comment_id" value="<%= comment.global_relay_id %>" ></dd>
        <dd><input type="hidden" name="minimized" value="<%= comment.minimized? ? "0" : "1" %>"></dd>
      </dl>
      <dl class="form-group my-0">
        <dt><label for="unminimize_<%= comment.id %>">Why are you showing this comment again?</label></dt>
        <dd>
          <input type="text" class="form-control short js-filterable-field" name="minimized_reason" id="unminimize_<%= comment.id %>" placeholder="Additional context (required)" required>
          <%= render Primer::ButtonComponent.new(type: :submit) do %>Undo minimize<% end %>
        </dd>
      </dl>
    <% end %>
  <% else %>
    <%= form_tag stafftools_minimize_comment_path(comment), method: :put, class: "inline-form mt-2" do %>
      <dl class="form-group m-0">
        <dd><input type="hidden" name="comment_id" value="<%= comment.global_relay_id %>" ></dd>
        <dd><input type="hidden" name="minimized" value="<%= comment.minimized? ? "0" : "1" %>"></dd>
      </dl>
      <dl class="form-group my-0">
        <dt><label for="minimize_<%= comment.id %>">Why are you minimizing this comment?</label></dt>
        <input type="hidden" name="classifier" value="ABUSE">
        <dd>
          <input type="text" class="form-control js-filterable-field" name="minimized_reason" id="minimize_<%= comment.id %>" placeholder="Additional context (required)" required>
          <%= render Primer::ButtonComponent.new(type: :submit) do %>Minimize<% end %>
        </dd>
      <% end %>
    </dl>
  <% end %>
</div>
