<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "#{this_user} recent comments" %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Recent comments
    </h2>
  </div>

  <% if @comments.any? %>
    <% @comments.each do |comment| %>
      <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 2)) do |box| %>
        <% box.with_header(pb: 3, classes: "Details js-details-container") do %>
          <% if comment.try(:report_count) && comment.report_count > 0 %>
            <span class="tooltipped tooltipped-ne mr-1" aria-label="<%= abuse_report_tooltip(comment.report_count, comment.top_report_reason, comment.last_reported_at) %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
              <%= primer_octicon(:report, color: :danger) %>
            </span>
          <% end %>
          <%= comment.created_at %>
          &mdash;
          <% case comment %>
          <% when Issue %>
            <%= link_to gh_stafftools_repository_issue_path(comment) do %>
              <%= comment.repository.name_with_owner %>#<%= comment.number %>
            <% end %>
          <% when PullRequestReviewComment %>
            <%= link_to gh_stafftools_repository_issue_path(comment.issue) do %>
              <%= comment.repository.name_with_owner %>#<%= comment.issue.number %>
            <% end %>
            <%= render :partial => "stafftools/comments/minimize_form", locals: {
                comment: comment
            }%>
          <% when IssueComment %>
            <%= link_to gh_stafftools_repository_issue_path(comment.issue) do %>
              <%= comment.repository.name_with_owner %>#<%= comment.issue.number %>
            <% end %>
            <%= render :partial => "stafftools/comments/minimize_form", locals: {
                comment: comment
            }%>
          <% when CommitComment %>
            <%= link_to stafftools_commit_comment_path(comment) do %>
              <%= comment.repository.name_with_owner %>@<%= comment.commit_id[0..6] %>
            <% end %>
            <%= render :partial => "stafftools/comments/minimize_form", locals: {
                comment: comment
            }%>
          <% when GistComment %>
            <%= link_to \
                  comment.gist.name_with_owner,
                  stafftools_user_gist_path(comment.gist.user_param, comment.gist) %>
            <%= render :partial => "stafftools/comments/minimize_form", locals: {
                comment: comment
            }%>
          <% when DiscussionComment %>
            <%= link_to gh_stafftools_repository_discussion_path(comment.discussion) do %>
              <%= comment.discussion.repository.name_with_owner %>#<%= comment.discussion.number %>
            <% end %>
            <%= render :partial => "stafftools/comments/minimize_form", locals: {
                comment: comment
            }%>
          <% end %>
        <% end %>
        <% box.with_body(classes: "markdown-body") do %>
          <% if comment.respond_to? :title %>
            <h4><%= comment.title? ? comment.title : "Untitled" %></h4>
          <% end %>
          <% if comment.body.present? %>
            <%= comment.body_html %>
          <% else %>
            <p class="color-fg-muted">
              <em>No comment body.</em>
            </p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <p class="site-admin-blankstate">
      No comments.
    </p>
  <% end %>
</div>
