<% page_info title: "Two-factor authentication", class: "page-two-factor-auth session-authentication" %>

<div id="login" class="auth-form px-3">
  <div class="auth-form-header p-0">
    <h1>Two-factor authentication</h1>
  </div>

  <%= render "shared/flash" %>

  <%= render partial: "shared/mobile_auth_prompt", locals: {
    user: user,
    challenge: challenge,
    status_path: github_mobile_two_factor_status_path,
    retry_path: github_mobile_two_factor_prompt_path,
    rejected_path: login_path,
    auth_template: "sign_in"
    }
  %>

  <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
    <%= component.with_body(p: 3) do %>
      <h2 id="mobile-options" class="h5 mb-2">Unable to verify with GitHub Mobile?</h2>
      <%= render(Sessions::TwoFactorAlternativesComponent.new(user: user, prompt_type: "mobile", current_device_id: current_device_id, auto_directed: params[:auto] == "true", list_label_id: "mobile-options")) %>
    <% end %>
  <% end %>
</div>
