<% page_info class: "session-authentication" %>

<div id="login" class="auth-form px-3">
  <div class="auth-form-header p-0">
    <h1>Device verification</h1>
  </div>

  <%= render "shared/flash" %>

    <%= render partial: "shared/mobile_auth_prompt", locals: {
      challenge: challenge,
      status_path: github_mobile_verified_device_status_path,
      retry_path: github_mobile_verified_device_prompt_path,
      rejected_path: login_path,
      auth_template: "verified_device"
      }
    %>

  <%= render(Primer::Beta::BorderBox.new(mt: 3, mb: 3)) do |component| %>
    <% auto_directed = params[:auto] == "true" %>
    <%= component.with_body(p: 3) do %>
      <h2 id="verification-options" class="h5 mb-2">Unable to verify with GitHub Mobile?</h2>
      <ul class="ml-3" aria-labelledby="verification-options">
        <li><%= link_to "Send a verification code via email", github_mobile_navigating_away_metrics_path(reason: 'verified_devices_prompt', auto: auto_directed), class: "Link--inTextBlock" %></li>
      </ul>
    <% end %>
  <% end %>
  <p>
    If you'd like to require verification on every sign in, consider enabling <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/configuring-two-factor-authentication">two-factor authentication</a> on your account.
  </p>
</div>
