<%# we reduce max height by ~30px to accomodate the feedback footer %>
<%= render SlashCommands::DialogComponent.new(max_height: 270) do |c| %>
  <ul role="listbox" class="SelectMenu-list js-slash-command-menu-items" aria-labelledby="slash-commands-title">
    <% grouped_triggers.each do |group| %>
      <li role="presentation" id="command-group-<%= group.id %>" class="SelectMenu-divider js-group-divider" data-group-id="<%= group.id %>" <%= test_selector("group-divider") %>>
        <span><%= group.label %></span>
      </li>

      <% group.triggers.each do |trigger| %>
        <%= render SlashCommands::MenuItemComponent.new(
          id: trigger.name,
          title: trigger.title,
          url: trigger.url,
          description: trigger.description,
          test_selector_id: trigger.name,
          group_id: group.id,
          hidden_fields: {
            trigger: trigger.name
          }
        ) %>
      <% end %>
    <% end %>
  </ul>

  <% c.with_footer do %>
    <% if current_user.feature_enabled?(:user_defined_commands) %>
      <%=
        link_to(
          "Create your own command",
          new_file_path(
            current_repository.owner,
            current_repository,
            current_repository.default_branch,
            command_template: true
          ),
          class:  "d-flex flex-justify-center",
          target: "_blank",
          data: { pjax: false }
        )
      %>
    <% end %>
  <% end %>
<% end %>
