<% page_info title: "Internal Apps", selected_link: :internal_apps %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading do %>Internal Apps<% end %>
  <% end %>

  <div class="clearfix mb-3">
    <p>
      Internal Apps are GitHub or OAuth Apps, owned and operated by GitHub and granted special capabilities that are unavailable to third-party integrators.
      <%= link_to "Read the documentation on the engineering guide.", "https://engineering-guide.githubapp.com/content/engineering/development-and-ops/dotcom/apps/github-apps/internal-apps/", class: "Link--inTextBlock" %>
    </p>

    <p>
      <%- total_internal_apps = total_internal_github_apps + total_internal_oauth_apps %>
      There are <strong><%= total_internal_apps %></strong> configured Internal <%= "App".pluralize(total_internal_apps) %>:
      <strong><%= total_internal_github_apps %></strong> <%= "is".pluralize(total_internal_github_apps) %> GitHub Apps.
      <strong><%= total_internal_oauth_apps %></strong> <%= "is".pluralize(total_internal_oauth_apps) %> OAuth Apps.
    </p>
  </div>

  <%= render(Primer::Beta::Subhead.new(hide_border: true, spacious: true)) do |component| %>
    <% component.with_heading(tag: :h2) do %>Configured Internal Apps<% end %>
  <% end %>

  <% if internal_apps.any? %>
    <div id="configured-internal-apps" class="Box">
      <% internal_apps.each do |app_alias| %>
        <div class="Box-row">
          <%= link_to app_alias, stafftools_internal_apps_show_path(app_alias: app_alias) %>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "alert") %>

      <% c.with_heading(tag: :h2) do %>
        There aren't any configured internal Apps.
      <% end %>
    <% end %>
  <% end %>
<% end %>
