<% page_info title: "Internal Apps", selected_link: :internal_apps %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Internal Apps / <%= app_alias %><% end %>
  <% end %>

  <% app_configs.each do |type, app_config| %>
    <%
        app = app_config[:app]
        app_capabilities = app_config[:app_capabilities]
        internal_capabilities = app_config[:internal_capabilities]
        global_capabilities = app_config[:global_capabilities]
    %>
    <div class="Box">
      <div class="Box-header clearfix">
        <% if app.present? %>
          <div class="CircleBadge CircleBadge--tiny float-right" style="background-color: #<%= app.bgcolor %>">
            <img class="CircleBadge-icon" alt="<%= app.name %>" src="<%= app.preferred_avatar_url(size: 60) %>" width="30" height="30">
          </div>
          <%-
            link_to_app = type == "Integration" ? stafftools_user_app_path(app.owner, app) : stafftools_user_application_path(app.owner, app)
          %>
          <h3><%= link_to app.name, link_to_app %></h3>
        <% else %>
          The <code><%= app_config[:alias] %></code> App is configured but its database record is missing.
        <% end %>
      </div>
      <div>
        <div class="Box-row">
          <p>Alias: <code>:<%= app_config[:alias] %></code></p>
          <p>Type: <%= type == "Integration" ? "GitHub App" : "OAuth App" %> (<code><%= type %></code>)</p>
          <p>Owners:</p>

          <ul class="ml-6">
            <!-- These are owners of the form: "@github/ecosystem-apps" -->
            <% app_config[:owners].each do |owner| %>
              <li><strong><%= owner %></strong></li>
            <% end %>
          </ul>
        </div>

        <div class="Box-row">
          <h4>App-Specific Capabilities</h4>
          <% if app_capabilities.any? %>
            <p>Configured explicitly for <em>this</em> App.</p>
            <table id="app-capabilities" class="boxed-group-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Capable?</th>
                </tr>
              </thead>
              <tbody>
                <% app_capabilities.each do |name, value| %>
                  <tr>
                    <td>
                      <code><%= name %></code>
                    </td>
                    <td>
                      <code><%= value %></code>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p>No App-specific capabilities are configured for this App.</p>
          <% end %>
        </div>

        <div class="Box-row">
          <h4>Internal-only Capabilities</h4>
          <% if internal_capabilities.any? %>
            <p>Applicable to all internal GitHub Apps.</p>
            <table id="internal-capabilities" class="boxed-group-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Capable?</th>
                </tr>
              </thead>
              <tbody>
                <% internal_capabilities.each do |name, value| %>
                  <tr>
                    <td>
                      <code><%= name %></code>
                    </td>
                    <td>
                      <code><%= value %></code>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p>No internal-only capabilities apply to this App.</p>
          <% end %>
        </div>

        <div class="Box-row">
          <h4>Default Capabilities</h4>
          <% if global_capabilities.any? %>
            <p>Applicable to all GitHub Apps (internal and third-party).</p>
            <table id="global-capabilities" class="boxed-group-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Capable?</th>
                </tr>
              </thead>
              <tbody>
                <% global_capabilities.each do |name, value| %>
                  <tr>
                    <td>
                      <code><%= name %></code>
                    </td>
                    <td>
                      <code><%= value %></code>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p>No default capabilities apply to this App.</p>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>
<% end %>
