<%
  page_info(
    title: "Sponsor @#{listing.sponsorable_login} on GitHub Sponsors",
    stafftools: stafftools_sponsors_member_path(listing.sponsorable_login),
    richweb: {
      title: "Sponsor @#{listing.sponsorable_login} on GitHub Sponsors",
      url: sponsorable_url(listing.sponsorable_login),
      description: listing.short_description,
      image: listing.sponsorable_primary_avatar_url,
      card: "summary",
    },
  )
%>

<% if sponsor == sponsorable %>
  <%= render Primer::Alpha::Banner.new(scheme: :warning, full: true, test_selector: "sponsorship-preview-banner") do %>
    <div class="container-lg p-responsive">
      <%= primer_octicon(:eye, mr: 1) %>
      You are previewing your GitHub Sponsors checkout page.
    </div>
  <% end %>
<% end %>
<% if sponsorship&.locked? %>
  <%= render Primer::Alpha::Banner.new(scheme: :warning, full: true, test_selector: "payment-processing-banner") do %>
    <%= primer_octicon(:clock, mr: 1) %>
    You currently have a payment processing. Changing tiers is not available until your payment is complete.
  <% end %>
<% end %>

<div class="container-lg p-responsive clearfix mt-3">
  <div>
    <div class="TableObject mb-4">
      <div class="TableObject-item TableObject-item--primary">
        <%= render Sponsors::Sponsorables::AvatarComponent.new(sponsors_listing: listing, size: 16, mr: 2) %>
        <%= render(Primer::Beta::Link.new(href: sponsorable_path(listing.sponsorable_login, sponsorable_metadata), test_selector: "breadcrumb-sponsorable-link")) do %>
          Sponsor <strong><%= listing.sponsorable_login %></strong>
        <% end %>
        / Tier confirmation
      </div>
    </div>
  </div>

  <div class="col-lg-4 float-lg-left mt-3 mt-lg-0 pr-lg-5">
    <div class="mb-4">
      <%=
        render(Sponsors::AccountSwitcherComponent.new(
          sponsorable: sponsorable,
          sponsor: sponsor,
          sponsorship: sponsorship,
          selected_tier: selected_tier,
          path_params: sponsorable_metadata,
          allow_selecting_invoiced_orgs: sponsor.sponsors_invoiced?,
          route: :sponsorships,
        ))
      %>
      <% if sponsor.user? %>
        <hr class="my-3">
      <% end %>
    </div>
    <% if sponsor.user? %>
      <h4 class="h4 color-fg-default mb-2" <%= test_selector("sponsorship-tier-title") %> > Selected tier </h4>
    <% end %>
    <%=
      render(Sponsors::Sponsorables::SelectedTierComponent.new(
        sponsorable: sponsorable,
        sponsor: sponsor,
        sponsorship: sponsorship,
        tier: selected_tier,
        sponsorable_metadata: sponsorable_metadata,
        parent_tier: parent_tier,
      ))
    %>

    <%# only render for a new recurring sponsorship %>
    <% if sponsorship.nil? && selected_tier.recurring? %>
      <%= render(Sponsors::Profile::GoalImpactComponent.new(
        sponsorable: sponsorable,
        goal: goal,
        sponsorships: sponsorships_for_goal,
        selected_tier: selected_tier,
      )) %>
    <% end %>
  </div>

  <% if sponsor.is_enterprise_managed? %>
    <div class="col-lg-8 float-lg-left pl-lg-6 mt-5 mt-lg-0" <%= test_selector("emu-sponsors-blankslate") %>>
      <%= render Primer::Beta::Blankslate.new(border: true, spacious: true) do |c| %>
        <% c.with_visual_icon(icon: :alert) %>
        <% c.with_heading(tag: :h2) do %>
          Unable to sponsor
        <% end %>

        <% c.with_description do %>
          Enterprise-managed users are unable to sponsor as themselves. Please change who you are sponsoring as to continue.
        <% end %>
      <% end %>
    </div>
  <% elsif sponsor.sponsors_invoicing_required_to_sponsor? %>
    <div class="col-lg-8 float-lg-left pl-lg-6 mt-5 mt-lg-0" data-hpc>
      <%= render Sponsors::InvoicedSponsorsRequiredNoticeComponent.new(
        sponsor_login: sponsor.display_login,
      ) %>
    </div>
  <% else %>
    <div class="col-lg-8 float-lg-left pl-lg-6 mt-5 mt-lg-0" data-hpc>
      <%= render(Primer::Beta::Heading.new(tag: :h2, mb: 3).with_content("Sponsorship summary")) %>

      <%= render(Sponsors::Sponsorables::PlanPricingComponent.new(
        sponsor: sponsor,
        sponsorable: sponsorable,
        pay_prorated: pay_prorated,
        current_sponsorship: sponsorship,
        selected_tier: selected_tier,
        active_on: active_on,
      )) %>

      <%= render(Sponsors::Sponsorables::BillingInfoComponent.new(
        sponsorable: sponsorable,
        sponsor: sponsor,
        selected_tier: selected_tier,
        sponsorship: sponsorship,
        privacy_level: privacy_level,
        email_opt_in: opted_in_to_email,
      )) %>

      <%= render(Sponsors::Sponsorables::InvoicePaymentMethodComponent.new(
        sponsor: sponsor,
      )) %>

      <%= render(Sponsors::Sponsorables::EnterprisePaymentMethodComponent.new(
        sponsor: sponsor,
      )) %>

      <%= render(Sponsors::Sponsorables::SponsorshipComponent.new(
        sponsorable: sponsorable,
        sponsor: sponsor,
        sponsorship: sponsorship,
        selected_tier: selected_tier,
        privacy_level: privacy_level,
        opted_in_to_email: opted_in_to_email,
        pay_prorated: pay_prorated,
        sponsorable_metadata: sponsorable_metadata,
        parent_tier: parent_tier,
        active_on: active_on,
      )) %>
    </div>
  <% end %>
</div>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "billing" %>
  <%= javascript_bundle "sponsors" %>
<% end %>
