<%= f.hidden_field :enforcement, class: "js-enforcement-value",
  value: target.enforcement,
  "data-testing": GitHub::PreReceiveHookEntry::TESTING,
  "data-enabled": GitHub::PreReceiveHookEntry::ENABLED,
  "data-disabled": GitHub::PreReceiveHookEntry::DISABLED %>
<%= f.hidden_field :final, class: "js-final-value", value: target.final %>

<div class="enforcement-options">
  <p>
    <strong>Enforcement</strong>
  </p>
  <div class="form-checkbox">
    <label>
      <input type="checkbox" id="pre_receive_hook_target_hook_attributes_nottest"
        class="js-activate-enforcement" <%= "checked" unless target.testing? %>>
      Use the exit-status to accept or reject pushes
    </label>
    <p class="note">
      Pushes are accepted when the collective exit-status is 0 and rejected otherwise.
      Disable this option to ignore the exit-status, which allows testing of the pre-receive hook.
    </p>
  </div>
  <div class="js-enforcement-label <%= "disabled" if target.testing? %>">
    <div class="form-checkbox">
      <label>
        <input type="checkbox" id="pre_receive_hook_target_hook_attributes_enable"
          class="js-enforcement-control js-toggle-enforcement" <%= "checked" if target.enabled? %>
          <%= "disabled" if target.testing? %>>
        Enable this pre-receive hook on all repositories by default
      </label>
      <p class="note">
        When enabled, pre-receive hooks will default to run on all repositories.
      </p>
    </div>

    <div class="form-checkbox">
      <label>
        <input type="checkbox" id="pre_receive_hook_target_hook_attributes_notfinal"
          class="js-enforcement-control js-toggle-final"
          <%= "checked" if !target.final && !target.testing? %> <%= "disabled" if target.testing? %>>
        Owners can enable and disable this hook
      </label>
      <p class="note">
        When enabled, repository and organization administrators can override the
        default and configure the enforcement of this pre-receive hook.
      </p>
    </div>
  </div>
</div>

<p class="test-mode-warning js-test-mode-warning <%= "d-none" if !target.testing? %>">
  <%= primer_octicon(:"issue-opened") %>
  This hook will run but the exit-status of the pre-receive hook will be ignored.
</p>
