<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if view.files_limit_reached %>
  <%= text_field_tag :script, view.selected_file, :placeholder => "File to execute in this repository", :class => "js-script-text-field" %>
<% else %>
  <details class="select-menu js-file-select-menu details-reset details-overlay">
    <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
      <%= primer_octicon(:"file-code") %>
      <% button_text = (view.selected_file.blank?) ? "Select file" : view.selected_file %>
      <span data-menu-button data-default-label="Select file"><%= button_text %></span>
    <% end %>

    <details-menu class="position-absolute select-menu-modal" style="z-index:99" data-menu-input="pre_receive_hook_target_hook_attributes_script" <%= test_selector("pre_receive_hook_targets_file_list") %>><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-header">
        <span class="select-menu-title">Select file</span>
      </div>

      <div class="select-menu-filters">
        <div class="select-menu-text-filter">
          <input type="text" id="file-filter-field" class="js-filterable-field" placeholder="Filter files" aria-label="Filter files" autocomplete="off" autofocus>
        </div>
      </div>

      <div class="select-menu-list" role="menu">
        <div data-filterable-for="file-filter-field" data-filterable-type="substring">
          <% view.files.each do |file| %>
            <% selected = file == view.selected_file %>
            <button type="button" value="<%= file %>" class="select-menu-item width-full" role="menuitemradio" aria-checked="<%= selected %>">
              <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
              <div class="select-menu-item-text" data-menu-button-text>
                <%= file %>
              </div>
            </button>
          <% end %>
        </div>
        <div class="select-menu-no-results">No files found. Sorry about that.</div>
      </div>
    </details-menu>
  </details>
<% end %>
