<%= render Users::UserCardComponent.new(
  px: 3,
  pb: 3,
  user: user,
  user_status: user_status,
  is_hovercard: true,
  user_is_sponsorable: user_is_sponsorable,
  viewer_is_sponsoring: viewer_is_sponsoring,
  show_staff_badge_to_viewer: show_staff_badge_to_viewer,
  show_pro_badge_to_viewer: show_pro_badge_to_viewer,
  show_user_location: show_user_location,
  show_user_local_time: show_user_local_time,
  test_selector: "hovercard-user-card",
  data: hydro_view_tracking_attributes("user-hovercard-hover", hydro_data),
  hydro_data: hydro_data,
  **system_arguments
) do %>
  <% if hovercard_contexts.any? %>
    <% hovercard_contexts.each do |context| %>
      <% if context.is_a?(UserHovercard::Contexts::YourSponsor) %>
        <%= render "hovercards/users/contexts/your_sponsor", context: context %>
      <% elsif context.is_a?(UserHovercard::Contexts::Blocks) %>
        <%= render "hovercards/users/contexts/blocks", context: context %>
      <% elsif context.is_a?(UserHovercard::Contexts::AdvisoryCredits) %>
        <%= render "hovercards/users/contexts/advisory_credits", context: context %>
      <% else %>
        <%= render Hovercards::ContextComponent.new(test_selector: 'hovercard-user-context') do |component| %>
          <% component.with_icon do %>
            <%= render Primer::Beta::Octicon.new(icon: context.octicon, color: :muted, aria: {label: icon_label(context)} ) %>
          <% end %>

          <% component.with_body do %>
            <% if context.is_a?(UserHovercard::Contexts::OrganizationTeams) %>
              <%= render "hovercards/users/contexts/organization_teams", context: context %>
            <% elsif context.is_a?(UserHovercard::Contexts::Organizations) %>
              <%= render "hovercards/users/contexts/organizations", context: context %>
            <% else %>
              <%= context.message %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<div class="sr-only">
  Press escape to close this hovercard
</div>
