<%= render Site::SectionComponent.new do %>
  <%= render Site::RiverComponent.new(
    header: "Collaboration that goes beyond code",
    text: "Build your business fast with access to the world’s largest open source registry. Host it in the cloud with unlimited free public and private repositories. Start conversations, propose changes, and get feedback with a pull request.",
    link: { url: "/features#features-collaboration", text: "Learn more" },
    classes: "z-1 my-md-4") do |component| %>
      <div class="d-flex flex-justify-center">
        <div class="rounded-2 position-relative z-2 box-shadow-default-border-mktg col-10">
          <picture>
            <source srcset="<%= image_path "modules/site/home/pr-comment.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/home/pr-comment.png" %>" class="d-block width-full height-auto" alt="Pull request comment on GitHub" loading="lazy" decoding="async" width="980" height="940">
          </picture>
        </div>
      </div>
    <% component.with_after do %>
      <blockquote class="d-flex flex-md-items-start flex-items-center text-center text-md-left flex-column height-full py-6">
        <span class="overflow-hidden d-inline-block mb-2" aria-hidden="true">
          <%= svg("modules/site/enterprise/startups/apostrophe.svg",  width: "24", height: "24") %>
        </span>
        <p class="f3-mktg">
        It’s like night and day. It’s the collaboration, it’s the sharing, it’s the community. It’s all because of GitHub.
        </p>
        <footer class="overflow-hidden text-mono d-inline-block mb-3">Shanna Senior Director of Build Platform // Autodesk</footer>
      </blockquote>
    <% end  %>
  <% end %>

  <%= render Site::RiverComponent.new(
    header: "Full project management",
    text: "Turn ideas into products with project boards and tables that integrate directly into your workflow—and link directly to your Issues. Plan your sprints, break out individual tasks, track progress, and ship software fast.",
    text_placement: :right,
    link: { url: "/features/issues", text: "Learn more" },
    classes: "z-1 my-md-4") do |component| %>
      <svg aria-hidden="true" viewBox="0 0 708 718" version="1.1" width="708" height="770" class="width-full height-auto d-block"></svg>
      <div class="position-absolute top-0 left-0 width-full height-auto">
        <div style="margin-top: -3%; margin-left: -3.5%; margin-right: -3.5%;">
          <img
            src="<%= image_path "modules/site/issues/issue-tasks-progress-reduced-motion.png" %>"
            alt=""
            class="d-block width-full height-auto img-reduced-motion"
            loading="lazy" decoding="async">
          <video playsinline autoplay muted class="js-viewport-aware-video video-reduced-motion width-full height-auto" aria-hidden="true" poster="<%= image_path "modules/site/issues/issue-tasks-progress-placeholder.png" %>">
            <source type="video/mp4; codecs=hevc,mp4a.40.2" src="<%= image_path "modules/site/issues/issue-tasks-progress.hevc.mp4" %>">
            <source type="video/mp4; codecs=avc1.4D401E,mp4a.40.2" src="<%= image_path "modules/site/issues/issue-tasks-progress.h264.mp4" %>">
          </video>
        </div>
      </div>
    <% component.with_after do %>
      <blockquote class="d-flex flex-md-items-start flex-items-center text-center text-md-left flex-column height-full py-6">
        <span class="overflow-hidden d-inline-block mb-2" aria-hidden="true">
          <%= svg("modules/site/enterprise/startups/apostrophe.svg",  width: "24", height: "24") %>
        </span>
        <p class="f3-mktg">
        GitHub is our primary tool for R&D project management.
        </p>
        <footer class="overflow-hidden text-mono d-inline-block mb-3">Director of Ecosystem Engineering // Shopify</footer>
      </blockquote>
    <% end  %>
  <% end %>

  <%= render Site::RiverComponent.new(
    header: "Powerful automation and&nbsp;CI/CD",
    text: "Get a complete DevOps toolkit with extensive automation and CI/CD that lives right next to your code. Automate any webhook and script your entire workflow from code merges&nbsp;to&nbsp;deployments.",
    link: { url: "/features#features-automation", text: "Learn more" },
    cache_version: 3,
    classes: "z-1 my-md-4") do |component| %>
      <div role="img" aria-label="GitHub indicates the status of peer reviews and automated checks on pull requests.">
        <div class="rounded-2 box-shadow-card-border-mktg mb-5 col-11 mx-auto overflow-hidden">
          <img src="<%= image_path "modules/site/enterprise/code-review-1.png" %>" alt="" class="width-full d-block" loading="lazy" decoding="async">
        </div>
        <div class="position-absolute js-build-in-item build-in-scale-fade rounded-2 box-shadow-active-border-mktg mb-5 overflow-hidden" style="top: 33%;">
          <img src="<%= image_path "modules/site/enterprise/code-review-2.png" %>" alt="" class="width-full d-block" loading="lazy" decoding="async">
        </div>
      </div>
    <% component.with_after do %>
      <blockquote class="d-flex flex-md-items-start flex-items-center text-center text-md-left flex-column height-full py-6">
        <span class="overflow-hidden d-inline-block mb-2" aria-hidden="true">
          <%= svg("modules/site/enterprise/startups/apostrophe.svg",  width: "24", height: "24") %>
        </span>
        <p class="f3-mktg">
          One of the big benefits of using GitHub for CI/CD and security automation is that we don’t have to build, deploy, or maintain additional tools because they’re built-in to GitHub. That means developers can spend less time managing tools and more time writing code, which is how they’d prefer to spend their time.
        </p>
        <footer class="overflow-hidden text-mono d-inline-block mb-3">Software Engineer // Mercari</footer>
      </blockquote>
    <% end  %>
  <% end %>

  <%= render Site::RiverComponent.new(
    header: "Security trusted by the Fortune 100",
    text: "GitHub offers the most trusted platform that helps with compliance and keeps your code secure. Stay ahead of security issues, get advanced monitoring, and build your business with confidence.",
    text_placement: :right,
    link: { url: "/features#features-security", text: "Learn more" },
    images: [
      {
        src: image_path("modules/site/security/dependabot-repo.png"),
        classes: "rounded-2 width-full height-auto box-shadow-default-border-mktg mt-7 mt-md-8",
        lazy: false,
        width: 1234,
        height: 544
      },
      {
        src: image_path("modules/site/security/dependabot-notif.png?v=2"),
        classes: "position-absolute left-0 left-md-n3 top-0 col-11 height-auto rounded-2 box-shadow-default-border-mktg js-build-in-item build-in-slideX-right",
        lazy: false,
        width: 1214,
        height: 276
      }
    ],
    classes: "z-1 my-md-4") do |component| %>
    <% component.with_after do %>
      <blockquote class="d-flex flex-md-items-start flex-items-center text-center text-md-left flex-column height-full py-6">
        <span class="overflow-hidden d-inline-block mb-2" aria-hidden="true">
          <%= svg("modules/site/enterprise/startups/apostrophe.svg",  width: "24", height: "24") %>
        </span>
        <p class="f3-mktg">
          Six months ago we had around 60 outstanding security CVEs. Today, we have zero.
        </p>
        <footer class="overflow-hidden text-mono d-inline-block mb-3">Senior Engineering Manager // Wealthsimple</footer>
      </blockquote>
    <% end  %>
  <% end %>

  <%= render Site::RiverComponent.new(
    header: "Build on the shoulders&nbsp;of&nbsp;giants",
    text: "With the world’s largest software registry, GitHub makes it simple to find the best open source projects to accelerate your workflows and scale your business fast.",
    link: { url: "/open-source", text: "Learn more" },
    cache_version: 2,
    classes: "z-1 my-md-4") do |component| %>
        <div class="px-4 mx-auto js-build-in-item build-in-slideX-right">
          <picture>
            <img src="<%= image_path "modules/site/enterprise/startups/workflow-file.png" %>" alt="Workflow file screenshot" class="width-full box-shadow-card-border-mktg rounded-2" loading="lazy">
          </picture>
        </div>

        <div class="width-full top-0 bottom-0 m-auto position-absolute z-1 d-flex flex-wrap" style="height: 50%;">
          <div class="col-6 p-2 js-build-in-item build-in-slideX-right">
            <picture>
              <img src="<%= image_path "modules/site/enterprise/startups/action-1.png" %>" alt="Illustrating a starter workflow to deploy Node.js to Azure Web App" class="width-full box-shadow-card-border-mktg rounded-2" loading="lazy">
            </picture>
          </div>
          <div class="col-6 p-2 js-build-in-item build-in-slideX-right">
            <picture>
              <img src="<%= image_path "modules/site/enterprise/startups/action-2.png" %>" alt="Illustrating a starter workflow to build and Deploy to GKE" class="width-full box-shadow-card-border-mktg rounded-2" loading="lazy">
            </picture>
          </div>
          <div class="col-6 p-2 js-build-in-item build-in-slideX-right">
            <picture>
              <img src="<%= image_path "modules/site/enterprise/startups/action-3.png" %>" alt="Illustrating a starter workflow to deploy to Amazon ECS" class="width-full box-shadow-card-border-mktg rounded-2" loading="lazy">
            </picture>
          </div>
          <div class="col-6 p-2 js-build-in-item build-in-slideX-right">
            <picture>
              <img src="<%= image_path "modules/site/enterprise/startups/action-4.png" %>" alt="Illustrating a starter workflow to create and test Python Package" class="width-full box-shadow-card-border-mktg rounded-2" loading="lazy">
            </picture>
          </div>
        </div>
    <% component.with_after do %>
      <blockquote class="d-flex flex-md-items-start flex-items-center text-center text-md-left flex-column height-full py-6">
        <span class="overflow-hidden d-inline-block mb-2" aria-hidden="true">
          <%= svg("modules/site/enterprise/startups/apostrophe.svg",  width: "24", height: "24") %>
        </span>
        <p class="f3-mktg">
        There is a huge open source community of code and developers to work with and draw inspiration from on GitHub. To build better developer tools, we need a direct line to it. GitHub accelerates production, progress, and connections, bringing us closer to our users.
        </p>
        <footer class="overflow-hidden text-mono d-inline-block mb-3">Developer Advocate // Stripe</footer>
      </blockquote>
    <% end  %>
  <% end %>

  <%= render Site::RiverComponent.new(
    header: "Build like the best",
    text: "From Spotify to Slack and Shopify to Netflix, the world’s most innovative companies are built on GitHub. That’s because GitHub offers the most complete—and most trusted—developer platform.",
    text_placement: :center) do %>

    <div class="d-block d-md-flex flex-column flex-md-row ml-3 ml-md-0 pt-8 flex-wrap flex-justify-center flex-lg-justify-between flex-items-center">
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3 js-build-in-item build-in-slideX-left">
        <%= svg("modules/site/enterprise/startups/stripe.svg",  width: "156", height: "48", title: "Stripe Logo") %>
      </span>
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3 js-build-in-item build-in-slideX-left">
        <%= svg("modules/site/enterprise/startups/spotify.svg",  width: "156", height: "48", title: "Spotify Logo") %>
      </span>
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3 js-build-in-item build-in-slideX-left">
        <%= svg("modules/site/enterprise/startups/coinbase.svg",  width: "156", height: "48", title: "Coinbase Logo") %>
      </span>
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3 js-build-in-item build-in-slideX-left">
        <%= svg("modules/site/enterprise/startups/etsy.svg",  width: "156", height: "46", title: "Etsy Logo") %>
      </span>
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3 js-build-in-item build-in-slideX-left">
        <%= svg("modules/site/enterprise/startups/twilio.svg",  width: "156", height: "48", title: "Twilio Logo") %>
      </span>
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3 js-build-in-item build-in-slideX-left">
        <%= svg("modules/site/enterprise/startups/zendesk.svg",  width: "156", height: "48", title: "Zendesk Logo") %>
      </span>
    </div>
  <% end %>
<% end %>
