<div class="container-xl p-responsive mb-8 mb-sm-12 overflow-hidden" id="get-started">

  <div class="width-full mx-auto mb-8 mb-md-12 px-5 px-md-8 pb-7 pt-8 pt-lg-10 text-center color-bg-subtle rounded-2 position-relative">
    <h2 class="h2-mktg mb-4 mx-auto col-7-max text-center">Get started today</h2>
    <p class="f3-mktg color-fg-subtle col-7-max mx-auto">
      Build your startup on the world’s most advanced developer platform. Apply now to GitHub for Startups to get free access to GitHub Enterprise and the support you need to build, scale, and deliver secure software on GitHub.
    </p>

    <%= render "site/enterprise/startups/forms/startup_intake" %>

    <hr class="mt-9 mb-0">

    <%= render Site::HstackComponent.new(classes: "flex-items-top flex-justify-center") do %>
      <div class="col-12 mb-5 mr-md-2">
        <%= render Site::PillarComponent.new(
          octicon: "rocket",
          header: "Early-stage startup",
          text: "You must be an early-stage startup that has received outside funding (up to Series A)."
        ) %>
      </div>

      <div class="col-12 mb-5 mx-md-2">
        <%= render Site::PillarComponent.new(
          octicon: "briefcase",
          header: "New to GitHub Enterprise",
          text: "You must be new or returning to GitHub Enterprise and have not previously received credits for GitHub Enterprise."
        ) %>
      </div>
    <% end %>
  </div>

  <%= render Site::RiverComponent.new(
    header: "Our partners help us create the unicorns of tomorrow",
    id: "join-partners",
    text: "We know the value of community. That’s why GitHub for Startups partners with leading investors, accelerators, and startup support organizations to help early-stage startups go from seed funding to unicorn status. Startups affiliated with a GitHub for Startups partner are eligible for additional discounts and benefits while in the program.",
    text_placement: :center,
    cache: false # Don't leak personal details through the cache (included in the partner intake form)
  ) do |c| %>
    <% c.with_after do %>
      <%= render "site/enterprise/startups/forms/partner_intake", locals: { cta_link_caption: "Apply to become a partner" } %>
    <% end %>
    <div class="d-block d-md-flex flex-column flex-md-row ml-3 ml-md-0 pt-8 flex-wrap flex-justify-center flex-lg-justify-between flex-items-center">
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3 js-build-in-item build-in-slideX-left">
        <%= svg("modules/site/enterprise/startups/partners/ycombinator.svg",  width: "156", height: "48", title: "YCombinator Logo") %>
      </span>
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3 js-build-in-item build-in-slideX-left">
        <%= svg("modules/site/enterprise/startups/partners/a16h.svg",  width: "156", height: "48", title: "a16z Logo") %>
      </span>
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3 js-build-in-item build-in-slideX-left">
        <%= svg("modules/site/enterprise/startups/partners/lightspeed.svg",  width: "156", height: "48", title: "Lightspeed Venture Partners Logo") %>
      </span>
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3 js-build-in-item build-in-slideX-left">
        <%= svg("modules/site/enterprise/startups/partners/sequoia.svg",  width: "156", height: "48", title: "Sequoia Capital Logo") %>
      </span>
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3 js-build-in-item build-in-slideX-left">
        <%= svg("modules/site/enterprise/startups/partners/techstars.svg",  width: "156", height: "48", title: "Techstars Logo") %>
      </span>
    </div>
  <% end %>

  <%= render Site::FaqComponent.new(
    classes: "Links--underline",
    items: [
      {
        question: "What’s included in the GitHub for Startups offer?",
        answer: "All GitHub for Startups companies receive up to 20 seats of GitHub Enterprise for free for 12 months<sup>*</sup>. Learn more about the features and capabilities of GitHub Enterprise [here](https://github.com/enterprise).

<em><sup>*</sup>Startups affiliated with a GitHub for Startups VC or accelerator partner may be eligible for additional discounts and benefits. See list of partners [here](https://github.com/enterprise/startups/partners). Don’t see your partner? Share [this link](https://github.com/enterprise/startups#join-partners) to refer your partner to the GitHub for Startups partner program.</em>
                "
      },
      {
        question: "Who is eligible to apply?",
        answer: "Startups that meet the following criteria are eligible to apply for the GitHub for Startups program:

1. Received outside funding (up to Series A)
2. New to GitHub Enterprise
3. Must not have previously received credits for GitHub Enterprise"
      },
      {
        question: "What if my startup is not eligible for GitHub for Startups? Are there other resources for me?",
        answer: "If you’re not currently eligible for GitHub for Startups but would like to try GitHub Enterprise, please feel to sign up for a trial [here](https://github.com/account/organizations/new?plan=business_plus&ref_cta=Start%2520a%2520free%2520trial&ref_loc=cards&ref_page=%2Fpricing)."
      },
      {
        question: "How can my organization become a GitHub for Startups partner?",
        answer: "Any investor, accelerator, or startup support organization is eligible to apply for the GitHub for Startups program. Apply [here](#join-partners)."
      },
    ]
  ) %>
</div>
