<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  repo = action.repository
  action_file_path = blob_path(action.path, repo.default_branch, repo)
%>
<li class="Box-row d-flex">
  <div class="CircleBadge CircleBadge--small mr-3" style="background-color: #<%= action.color %>; min-width: 56px">
    <a href="<%= action_file_path %>" class="d-flex flex-justify-center no-underline" alt="<%= action.name %>">
      <%= action_icon(name: action.name, icon_name: action.icon_name, color: action.icon_color, title: action.name, owner: repo.owner_login) %>
    </a>
  </div>
  <div class="flex-auto flex-items-center">
    <div class="d-flex flex-row">
      <div class="d-flex flex-auto flex-column">
        <a href="<%= biztools_repository_action_path action.id %>"><strong><%= action.name %></strong></a>
        <p class="color-fg-muted lh-condensed wb-break-word mb-0"><%= action.description %></p>
      </div>

      <div class="d-flex flex-auto flex-column flex-items-end">
        <div class="d-flex flex-row">
          <% if repo.private? %><%= primer_octicon(:lock) %><% end %>
          <a href="<%= action_file_path %>" class="ml-1"><%= repo.name_with_owner %></a>
        </div>
        <code><%= action.path %></code>
      </div>
    </div>

    <div class="color-fg-muted lh-condensed wb-break-word mb-0 mt-2">
      <%= form_tag biztools_repository_action_path(action.id), method: :put do |f| %>
        <label for="repository_action[rank_multiplier]">Rank:</label>
        <div class="input-group">
          <input class="form-control input-sm" id="rank_multiplier_<%= action.global_relay_id %>" name="repository_action[rank_multiplier]" aria-label="Rank multiplier" type="number" min="0.1" max="100" step="0.1" value="<%= action.rank_multiplier %>">
          <span class="input-group-button">
            <button type="submit" class="btn btn-sm" data-disable-with="Updating..." autofocus>
              Update rank
            </button>
          </span>
        </div>
      <% end %>
    </div>

  </div>
</li>
