<%# erblint:counter LabelComponentMigrationCounter 1 %>
<% is_verified = creator.verified_for_repo_actions? %>

<div <%= test_selector("repo-action-org-#{creator.id}") %> class="d-flex flex-1 flex-items-center">
  <div class="mr-3">
    <%= link_to user_path(creator) do %>
      <%= avatar_for(creator, 24, class: "avatar") %>
    <% end %>
  </div>

  <div>
    <% if creator.profile_name.present? %>
      <%= link_to user_path(creator), class: "f4 d-block width-fit" do %>
        <%= creator.profile_name %>
      <% end %>
      <span class="d-block f5 color-fg-muted" itemprop="name"><%= creator.display_login %></span>
    <% else %>
      <%= link_to user_path(creator), class: "f4 d-block" do %>
        <%= creator.display_login %>
      <% end %>
    <% end %>
  </div>

  <% if is_verified %>
    <span class="Label"><%= is_verified ? "Verified" : "Not Verified" %></span>
  <% end %>
</div>
<div class="flex-items-center">
  <%= button_to toggle_creator_biztools_repository_actions_path(creator_id: creator.id, query: params[:query], verify: !is_verified),
      form_class: "d-inline", class: is_verified ? "btn btn-sm btn-danger" : "btn btn-sm",
      data: { confirm: "Are you sure you want to #{is_verified ? "remove verification from" : "verify"} the #{creator.display_login} creator? All repository actions owned by this creator will be re-indexed" },
      "aria-label": is_verified ? "Remove verification for #{creator.display_login}" : "Verify #{creator.display_login}" do %>
    <% if is_verified %>Remove Verification<% else %>Verify<% end%>
  <% end %>

  <%= button_to reindex_creator_biztools_repository_actions_path(creator_id: creator.id, query: params[:query]),
      form_class: "d-inline", class: "btn btn-sm",
      data: { confirm: "Are you sure you want to reindex repository actions for the #{creator.display_login} creator?" },
      "aria-label": "Reindex Repo actions for #{creator.display_login}" do %>
    Reindex
  <% end %>
</div>
