<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  name_filter = filters[:name]
  featured_filter = filters[:featured]
%>

<% page_info title: "Repository Actions · Biztools" %>

<%= render layout: "biztools/biztools" do %>
  <div class="Box Box--condensed mb-4">
    <div class="Box-header">
      <strong><%= primer_octicon(:info, mr: 2) %>How this works</strong>
    </div>
    <div class="Box-row">
      This page shows both Public and Private actions that are visible to <strong>you</strong>.
    </div>
    <div class="Box-row">
      Featuring a Public action will make it appear in the Editor side bar.
    </div>
    <div class="Box-row">
      Featuring a Private action will only make it appear in the side bar <strong>when the repo is made public</strong>.
    </div>
    <div class="Box-row">
      Rank determines how highly the Action is shown on Marketplace and the Workflow editor sidebar. Bigger number == higher rank.
    </div>
  </div>

  <%= render partial: "biztools/repository_actions/creator_search" %>

  <div class="Box mb-4">
    <div class="Box-header">
      <h3 class="Box-title">Search Repository Actions</h3>
    </div>
    <div class="Box-body">
      <%= form_tag biztools_repository_actions_path, method: :get do %>
        <% if name_filter.present? %>
          <a href="<%= biztools_repository_actions_path %>" class="d-block ml-2 float-right">Clear</a>
        <% end %>
        <%= render Primer::ButtonComponent.new(type: :submit, float: :right) do %>Search<% end %>
        <input class="form-control" type="search" name="filters[name]" aria-label="Search name" value="<%= name_filter %>" placeholder="Search name">
        <select name="filters[featured]" class="form-select ml-2" aria-label="Search by Featured">
          <option <%= "selected" unless featured_filter.present? %> value="">Featured and unfeatured actions</option>
          <option <%= "selected" if featured_filter == "1" %> value="1">Only featured actions</option>
          <option <%= "selected" if featured_filter == "0" %> value="0">Only unfeatured actions</option>
        </select>
      <% end %>
    </div>
  </div>
  <div class="Box">
    <div class="Box-header">
      <h3 class="Box-title">
        Repository Actions (<%= actions.total_entries %>)
      </h3>
    </div>
    <%= render partial: "biztools/repository_actions/actions", locals: { actions: actions, filters: filters } %>
  </div>
<% end %>
