<%# erblint:counter ButtonComponentMigrationCounter 13 %>
<div id="gollum-editor-function-buttons" class="float-md-left d-none overflow-auto no-wrap gollum-editor-function-buttons">

  <div class="BtnGroup">
    <button type="button" id="function-h1" class="btn btn-sm BtnGroup-item function-button" title="Header 1"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <b>h1</b>
    </button>
    <button type="button" id="function-h2" class="btn btn-sm BtnGroup-item function-button" title="Header 2"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <b>h2</b>
    </button>
    <button type="button" id="function-h3" class="btn btn-sm BtnGroup-item function-button" title="Header 3"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <b>h3</b>
    </button>
  </div>

  <div class="BtnGroup">
    <button type="button" id="function-link" class="btn btn-sm BtnGroup-item function-button" aria-label="Add link" title="Link"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <%= render(Primer::Beta::Octicon.new(icon: "link")) %>
    </button>
    <button type="button" id="function-image" class="btn btn-sm BtnGroup-item function-button" aria-label="Add image" title="Image"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <%= primer_octicon(:image) %>
    </button>
  </div>

  <div class="BtnGroup">
    <button type="button" id="function-bold" class="btn btn-sm BtnGroup-item function-button" aria-label="Add bold text" title="Bold"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <b>B</b>
    </button>
    <button type="button" id="function-italic" class="btn btn-sm BtnGroup-item function-button" aria-label="Add italic text" title="Italic"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <em>i</em>
    </button>
    <button type="button" id="function-code" class="btn btn-sm BtnGroup-item function-button" aria-label="Insert code" title="Code"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <%= primer_octicon(:code) %>
    </button>
  </div>

  <div class="BtnGroup">
    <button type="button" id="function-ul" class="btn btn-sm BtnGroup-item function-button" aria-label="Add unordered list" title="Unordered List"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <%= primer_octicon(:"list-unordered") %>
    </button>
    <button type="button" id="function-ol" class="btn btn-sm BtnGroup-item function-button" aria-label="Add ordered list" title="Ordered List"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <%= primer_octicon(:"list-ordered") %>
    </button>
    <button type="button" id="function-blockquote" class="btn btn-sm BtnGroup-item function-button" aria-label="Insert blockquote" title="Blockquote"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <%= primer_octicon(:quote) %>
    </button>
    <button type="button" id="function-hr" class="btn btn-sm BtnGroup-item function-button" aria-label="Insert horizontal rule" title="Horizontal Rule"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <%= primer_octicon(:"horizontal-rule") %>
    </button>
  </div>

  <button type="button" id="function-help" class="btn btn-sm hide-sm function-button" aria-label="Help" title="Help" data-dismiss-help-url="<%= wiki_dismiss_help_path %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
    <%= primer_octicon(:question) %>
  </button>
  <%= csrf_hidden_input_for wiki_dismiss_help_path, method: :delete, class: "js-data-dismiss-help-url-csrf" %>
  <details class="details-reset details-overlay details-overlay-dark js-gollum-button-details">
    <summary></summary>
    <details-dialog class="Box Box--overlay js-gollum-button-dialog"></details-dialog><%# erblint:disable A11yDetailsDialogMigration %>
  </details>
</div>
