<div class="input-group gist-filename-input">
  <input type="hidden" name="gist[contents][][oid]" value="<%= view.oid %>">
  <input type="text" class="form-control js-gist-filename js-blob-filename"
    aria-label="Filename including extension…"
    name="gist[contents][][name]"
    value="<%= view.filename %>"
    placeholder="Filename including extension…"
    data-default-value="<%= view.default_filename %>"
    data-language-detection-url="<%= detect_gist_language_path %>"
    style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
    <% unless view.editable? %>
    disabled
    <% end %>>
    <% unless view.editable? %>
      <input type="hidden" name="gist[contents][][name]" value="<%= view.filename %>">
    <% end %>
    <input type="hidden" name="new_filename" class="js-new-filename-field" value="<%= view.filename %>">
  <span class="input-group-button">
    <%= render(Primer::Beta::IconButton.new(
         scheme: :danger,
         size: :small,
         id: "remove_gist_file_#{SecureRandom.uuid}",
         tag: :button,
         icon: :trash,
         "aria-label": "Remove File",
         show_tooltip: :true,
         tooltip_direction: :e,
         classes: "js-remove-gist-file"
       )) %>
  </span>
</div>
