<%# erblint:counter FlashMigrationCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% if editor.has_params_for? :name %>
  <div id="gollum-editor-title-field" class="position-relative mb-3">
    <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
      <%= text_field_tag editor.name_for(:name), editor.value_for(:name),
        editor.options_for(:name, :id => 'gollum-editor-page-title',
                                  :class => 'text-bold input-block js-quick-submit',
                                  :placeholder => 'Title',
                                  "aria-label" => 'Title',
                                  :required => true) %>
    </text-expander>
  </div>
<% end %>

<%
  data_preview_url = editor.param_for(:preview, :url)
%>

<div class="js-previewable-comment-form previewable-comment-form write-selected" data-preview-url="<%= data_preview_url %>">
  <%= csrf_hidden_input_for data_preview_url, class: "js-data-preview-url-csrf" %>
  <div class="comment-form-head tabnav color-bg-default p-0 border-left-0 border-top-0 border-right-0">
    <div class="tabnav-tabs">
      <%= render Primer::Beta::BaseButton.new(scheme: :link, classes: "tabnav-tab write-tab js-write-tab selected") do %>Write<% end %>
      <%= render Primer::Beta::BaseButton.new(scheme: :link, classes: "tabnav-tab preview-tab js-preview-tab") do %>Preview<% end %>
    </div>
  </div>

  <div id="gollum-editor-function-bar" class="my-2 pb-2 border-bottom clearfix">
    <%= render :partial => "editors/buttons" %>

    <% if editor.has_params_for? :format %>
      <div id="gollum-editor-format-selector" class="d-flex d-md-block flex-items-center float-md-left mt-2 mt-md-0 ml-md-4 f6">
        <%= label_tag editor.name_for(:format), 'Edit mode:', class: "pr-2 text-bold color-fg-muted" %>
        <%= select_tag editor.name_for(:format),
          editor.param_for(:format, :option_tags),
          editor.options_for(:format, :class => 'form-select select-sm flex-auto', :id => 'wiki_format').except(:option_tags) %>
      </div>
    <% end %>
  </div>

  <%= render partial: "editors/help" %>

  <%= file_attachment_tag(
    model: "assets",
    class: "js-upload-markdown-image is-default",
    input: "wiki-fileupload",
    data: { "upload-repository-id" => current_repository.id }
  ) do |upload_enabled| %>
    <div class="m-0 write-content js-write-bucket <%= "upload-enabled" if upload_enabled %>">
      <div id="gollum-error-message" class="flash flash-error d-none">Someone has edited the wiki since you started. Please reload this page and re-apply your changes.</div>

      <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
        <%= text_area_tag editor.name_for(:body), editor.value_for(:body),
          editor.options_for(:body,
            :id => "gollum-editor-body",
            :class => "mt-2 #{upload_enabled ? "": "mb-1"} text-mono input-block gollum-editor-body comment-form-textarea js-comment-field js-quick-submit input-with-fullscreen-icon",
            "aria-label" => "Page content",
            "data-markup-lang" => @page.try(:format),
            :required => true
          ) %>
      </text-expander>

      <% if upload_enabled %>
        <%= render :partial => "comments/drag_and_drop", :locals => { :asset_types => [:assets], file_chooser_id: "wiki-fileupload" } %>
      <% end %>
    </div>
  <% end %>

  <div class="m-0 preview-content">
    <div class="px-0 pt-1 pb-3 comment-body js-comment-body js-preview-body"></div>
  </div>

</div>

<% if editor.has_params_for?(:commit) %>
  <div id="gollum-editor-edit-summary" class="my-4">
    <%= label_tag editor.name_for(:commit), 'Edit message', :class => 'd-block mb-2 jaws', :for => 'gollum-editor-message-field' %>
    <%= text_field_tag editor.name_for(:commit), editor.value_for(:commit),
      editor.options_for(:commit, :id => 'gollum-editor-message-field', :class => 'input-block') %>
  </div>
<% end %>

<div class="form-actions d-flex d-md-block">
  <% if editor.has_params_for? :submit %>
    <button type="submit" class="flex-auto btn btn-primary" id="gollum-editor-submit" data-disable-with><%= editor.value_for(:submit) %> page</button>
  <% end %>
</div>

<%= spamurai_form_signals %>
