<div class="js-skip-tagsearch">
  <div class="d-inline-block border px-3 py-2 text-small width-full <%= helper.message_classes %>" style="border-width: 0 0 0 3px !important;">
    <div class="text-mono code-scanning-font-size-inherit cs-message">
      <%= helper.message_text %>
    </div>

    <% if local_assigns[:tool_display_name].present? || local_assigns[:code_paths_url].present?%>
      <div class="mt-2">
        <% if local_assigns[:tool_display_name].present? %>
          <span class="text-bold color-fg-muted d-inline-block mr-3">
            <%= local_assigns[:tool_display_name] %>
          </span>
        <% end %>
        <% if local_assigns[:code_paths_url].present?%>
          <%= render(Primer::Alpha::Dialog.new(title: local_assigns[:alert_title], size: :xlarge)) do |d| %>
            <% d.with_show_button(scheme: :link, font_weight: :bold) { 'Show paths' } %>
            <% d.with_body do %>
              <include-fragment class="my-6" src="<%= local_assigns[:code_paths_url] %>">
                <div class="text-center" data-show-on-error hidden>
                  <%= primer_octicon(:alert) %>
                  Error loading code paths
                </div>
                <div class="text-center" data-hide-on-error>
                  <%= render(Primer::Beta::Spinner.new) %>
                </div>
              </include-fragment>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
