<%= render Primer::Box.new(bg: :subtle, p: 3, border_radius: 1, flex: 1, mr: 3) do %>
  <%= render Primer::Beta::Heading.new(
    tag: :h2,
    font_size: 5,
    color: :subtle,
    font_weight: :normal
  ).with_content("Current balance") %>

  <p class="f1 text-bold mt-2" <%= test_selector("credit-balance") %>>
    <%= current_balance.format(no_cents_if_whole: true) %>
  </p>
  <% if can_calculate_zero_balance_date? %>
    <p class="color-fg-subtle mb-0" <%= test_selector("zero-balance-date") %>>
      <% if any_leftover_balance? %>
        Your balance will run out on
      <% else %>
        Your balance will reach <span class="color-fg-default text-bold">$0</span> on
      <% end %>
      <span class="color-fg-default text-bold"><%= zero_balance_date.strftime(DATE_FORMAT) %></span>.
    </p>
  <% end %>

  <% if org_has_signed_agreement? %>
    <a
      href="<%= org_sponsoring_invoiced_agreement_signature_path(org, latest_invoiced_agreement_signature) %>"
      <%= test_selector("invoiced-agreement-link") %>
    >
      <%= latest_invoiced_agreement_signature.agreement.name %>
    </a>
    <p class="text-small <%= class_names(
      "color-fg-subtle" => !latest_invoiced_agreement_signature.expired?,
      "color-fg-danger" => latest_invoiced_agreement_signature.expired?,
    )%>" <%= test_selector("invoiced-agreement-expiration") %>>
      <% if latest_invoiced_agreement_signature.expired? %>
        Expired
      <% else %>
        Expires
      <% end %>
      <span><%= latest_invoiced_agreement_signature.expires_on.strftime(DATE_FORMAT) %></span>
    </p>
  <% end %>
<% end %>
