<%= render Primer::Box.new(bg: :subtle, border_radius: 1, p: 3, flex: 1, ml: 1, color: :subtle, classes: "lh-condensed") do %>
  <%= render Primer::Beta::Heading.new(
    tag: :h2,
    font_size: 5,
    color: :subtle,
    font_weight: :normal,
    mb: 1,
    classes: "h3",
    test_selector: "quick-actions"
  ).with_content("Quick actions") %>

  <% if show_sign_agreement_link? %>
    <a href="<%= new_org_sponsoring_invoiced_agreement_signature_path(org) %>" <%= test_selector("sign-agreement-link") %>>
      Renew your <%= SponsorsAgreement::AGREEMENT_NAMES_BY_KIND[:invoiced_sponsor] %>
    </a>
  <% end%>

  <p class="mb-1" <%= test_selector("contact-sponsors-team") %>>
    <%= link_to "Contact support", GitHub.support_url %>
  </p>

  <% if show_create_invoice_link?  %>
    <a href="<%= new_org_sponsoring_invoice_path(org) %>" <%= test_selector("create-invoice-link") %>>
      Create an invoice
    </a>
  <% end %>
<% end %>
