<% page_info title: "Coupons", selected_link: :admin_coupons %>

<%= render layout: "biztools/biztools" do %>
  <div class="Box Box--condensed" <%= test_selector("redemption-history") %>>
    <div class="Box-header">
      <h3 class="Box-title">
        <%= link_to account, stafftools_account_path %> /
        <%= link_to "Billing", stafftools_account_billing_path, "data-pjax": true %> /
        Redemption history
      </h3>
    </div>
    <% if coupon_redemptions.any? %>
      <table class="Box-body border-bottom-0">
        <thead>
          <th class="no-wrap p-2 text-left">Code</th>
          <th class="no-wrap p-2 text-left">Discount</th>
          <th class="text-right no-wrap p-2">Redeemed</th>
          <th class="text-right no-wrap p-2">Expiration</th>
          <th class="no-wrap p-2 text-center">Options</th>
        </thead>
        <% coupon_redemptions.each do |redemption, coupon| %>
          <tr>
            <td class="billing-table-cell text-bold p-2">
              <code><%= link_to coupon, biztools_coupon_path(coupon) %></code>
            </td>
            <td class="p-2">
              <%= coupon.plan_display_name %>
              <%= coupon.human_discount %> for <%= coupon.human_duration %>
            </td>
            <td class="color-fg-muted text-right billing-table-cell p-2">
              <% if redemption.created_at %>
                <%= time_ago_in_words_js redemption.created_at %>
              <% else %>
                Unknown
              <% end %>
            </td>
            <td class="color-fg-muted text-right billing-table-cell p-2">
              <% if redemption.expired? %>
                Expired <%= time_ago_in_words_js redemption.expires_at %>
              <% else %>
                <%= render(Primer::Beta::IconButton.new(
                  aria: { label: redemption.expires_at.to_s },
                  size: :small,
                  icon: "clock",
                  scheme: :invisible,
                  tooltip_direction: :s,
                )) %>
                <time>
                  <% if redemption.expires_at.future? %>
                    <%= time_ago_in_words_js redemption.expires_at %>
                  <% else %>
                    Immediately
                  <% end %>
                </time>
              <% end %>
            </td>
            <td class="color-fg-muted billing-table-cell p-2 text-center">
              <% unless redemption.expired? %>
                <%= form_tag coupon_revoke_path, method: "delete", class: "inline-form" do %>
                  <%= render(Primer::Beta::IconButton.new(
                    aria: { label: "Remove coupon" },
                    data: { confirm: "Are you sure?" },
                    scheme: :danger,
                    size: :small,
                    type: :submit,
                    icon: "trash",
                    tooltip_direction: :n,
                  )) %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p class="Box-body border-bottom-0">No coupon redemptions for this account.</p>
    <% end %>
  </div>

  <hr>

  <%= form_tag apply_biztools_coupons_path, class: "Box Box--condensed" do %>
    <% if account.business? %>
      <input type="hidden" name="slug" value="<%= account %>">
    <% else %>
      <input type="hidden" name="user_id" value="<%= account %>">
    <% end %>

    <div class="Box-header d-flex flex-items-center">
      <h3 class="Box-title flex-auto">Coupons</h3>
      <label for="apply-coupon" class="mr-2">Apply coupon:</label>
      <input type="text" style="width: 8em" class="form-control js-filterable-field mr-2" name="code"
        id="apply-coupon" value="<%= passed_code %>" placeholder="Coupon code" autocomplete="off">
      <%= render Primer::Beta::Button.new(type: :submit).with_content("Apply") %>
    </div>

    <table class="Box-body sttng-coupons js-sttng-coupons d-none"
        data-filterable-for="apply-coupon" data-filterable-type="substring">
      <% coupon_codes.each do |coupon| %>
        <tr data-code="<%= coupon %>" class="js-coupon">
          <td class="billing-table-cell text-bold p-2"><code><%= coupon %></code></td>
          <td class="p-2">
            <%= coupon.plan_display_name %>
            <%= coupon.human_discount %> for <%= coupon.human_duration %>
          </td>
          <td class="color-fg-muted text-right billing-table-cell p-2">
            <%= coupon.limit %> left
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
