<% page_info title: "Audit log", selected_link: :business_audit_log_stream_settings,
  stafftools: stafftools_enterprise_path(business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: business,
    check_result: check_result,
    check_is_ok: check_is_ok,
    title: "Audit log",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <%= render "businesses/audit_log/tabs", business: business %>
  <%= render Primer::Beta::Subhead.new(spacious: false) do |component| %>
    <% component.with_heading(tag: :h3, font_size: 3, font_weight: :bold, pb: 2) do %>Configure Audit log streaming to Datadog<% end %>
    <% component.with_description do %>Stream audit logs to Datadog.
      <a class="Link--inTextBlock" href="https://docs.datadoghq.com/getting_started/logs/" aria-label="Learn more about streaming to Datadog">Learn more.</a><% end %>
  <% end %>
  <%= render partial: "businesses/audit_log_stream/check_result", locals: { check_result: check_result } %>
  <%= form_tag form_route, method: :post,
    class: "js-encrypt-bulk-submit-enable-empty",
    "data-public-key" => public_key do %>
    <div class="gutter clearfix d-flex flex-shrink-0">
      <div class="col-8">
        <dl class="form-group">
          <dt><%= label_tag :secret, "Token" %></dt>
          <dd><%= password_field_tag :secret, "",  :autocomplete => 'new-password', :placeholder => token_placeholder %></dd>
        </dl>
        <dl class="form-group">
          <dt><%= label_tag :site, "Site" %></dt>
          <dd><%= select_tag :site,
            options_for_select(
              ["US", "US3", "US5", "EU1", "US1-FED", "AP1"], datadog.site
              )%></dd>
        </dl>
      </div>
    </div>

    <%= hidden_field_tag :secret_encrypted_value, datadog.encrypted_token %>
    <%= hidden_field_tag :public_key_id, public_key_id %>
    <%= hidden_field_tag :id, datadog.id %>

    <%= render partial: "businesses/audit_log_stream/buttons", locals: { business: business, check_is_ok: check_is_ok } %>
  <% end %>
<% end %>
