<%= render layout: "sponsors/dashboards/layout",
      locals: { sponsors_listing: sponsors_listing, selected_tab: :webhooks } do %>
  <%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center) do |component| %>
    <% component.with_heading(tag: :h2) do %>Webhooks<% end %>
    <% component.with_actions do %>
      <%= render Primer::Beta::Button.new(
        href: new_sponsorable_dashboard_webhook_path(sponsors_listing.sponsorable_login),
        tag: :a,
      ).with_content("Add webhook") %>
    <% end %>
  <% end %>

  <% help_url = docs_url("sponsors/configuring-webhooks") %>

  <% if hooks.none? %>
    <%= render Primer::Beta::Blankslate.new(
      spacious: true,
      test_selector: "no-webhooks-blankslate",
    ) do |blankslate| %>
      <% blankslate.with_visual_icon(icon: :plug) %>
      <% blankslate.with_heading(tag: :h3).with_content("You haven't created any webhooks yet") %>
      <% blankslate.with_description do %>
        Webhooks can allow notifications to external services when certain events happen.
        When you receive new sponsors OR existing sponsors make changes to their sponsorships,
        you'll receive a <code>POST</code> request to each of the URLs you provide.
      <% end %>
      <% blankslate.with_secondary_action(
        href: help_url,
        classes: "Link--inTextBlock",
      ).with_content("Learn more about webhooks") %>
    <% end %>
  <% else %>
    <p <%= test_selector("webhooks-intro") %>>
      Webhooks allow external services to be notified when certain events happen.
      When you receive new sponsors or existing sponsors make changes to their sponsorships,
      we&rsquo;ll send a <code>POST</code> request to each of the URLs you provide.
      <a class="Link--inTextBlock" href="<%= help_url %>">Learn more about configuring webhooks for GitHub Sponsors</a>.
    </p>
    <div class="mt-3">
      <ul class="listgroup">
        <% hooks.each do |hook| %>
          <%
            hook_view = Hooks::ShowView.new(hook: hook, current_user: current_user)
            status_message = hook_view.status_message
          %>
          <li class="listgroup-item hook-item clearfix <%= hook_view.status_class %>">
            <span class="item-status">
              <%= link_to edit_sponsorable_dashboard_webhook_path(sponsors_listing.sponsorable_login, hook.id,
                anchor: :deliveries,
              ) do %>
                <span class="sr-only">Status for <%= hook.url %>: <%= status_message %></span>
                <%= primer_octicon(:check, classes: "icon-for-success") %>
                <%= primer_octicon(:alert, classes: "icon-for-failure") %>
                <%= primer_octicon(:"dot-fill", classes: "icon-for-pending") %>
                <%= primer_octicon(:"dot-fill", classes: "icon-for-inactive") %>
              <% end %>
            </span>
            <span class="hook-url css-truncate-target">
              <%= link_to edit_sponsorable_dashboard_webhook_path(sponsors_listing.sponsorable_login, hook.id) do %>
                <span class="sr-only">Edit</span>
                <%= hook.url %>
              <% end %>
            </span>
            <%= render(Primer::Beta::ButtonGroup.new(size: :small, float: :right)) do |component| %>
              <% component.with_button(
                tag: :a,
                href: edit_sponsorable_dashboard_webhook_path(sponsors_listing.sponsorable_login, hook.id),
              ) do %>
                Edit
                <span class="sr-only"><%= hook.url %></span>
              <% end %>
              <% component.with_button(
                test_selector: "delete-webhook-#{hook.id}-button",
                data: {
                  show_dialog_id: Sponsors::Webhooks::DestroyConfirmationComponent.show_dialog_id_for(hook),
                },
              ) do %>
                Delete
                <span class="sr-only"><%= hook.url %></span>
              <% end %>
            <% end %>

            <%= render Sponsors::Webhooks::DestroyConfirmationComponent.new(
              hook: hook,
              sponsors_listing: sponsors_listing,
            ) %>

            <div class="note mt-0">
              <%= status_message %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
