<%
  coupon = current_user.coupon
  redemption = current_user.coupon_redemption
  payment_amount = Billing::Money.new(current_user.undiscounted_payment_amount * 100).format(:no_cents_if_whole => true)
%>
<% if current_user.has_an_active_coupon? && current_user.paid_plan? && redemption.expires_this_billing_cycle? %>
  <div class="dashboard-notice js-notice">
    <%= primer_octicon(:alert, height: 28, mt: 2, classes: "notice-icon") %>

    <%= form_tag dismiss_notice_user_path(:id => current_user.id, :notice_name => 'coupon_will_expire'), :method => :delete, :class => "dismiss js-notice-dismiss" do %>
      <%= render Primer::Beta::CloseButton.new(type: :submit, "aria-label": 'Hide this notice forever') %>
    <% end %>

    <% if coupon.education_coupon? %>
      <% if redemption.expires_at < Time.now %>
        <h2>Your GitHub academic discount coupon has expired</h2>
      <% else %>
        <h2>Your GitHub academic discount coupon will expire in <%= distance_of_time_in_words_to_now redemption.expires_at %></h2>
      <% end %>
      <ul>
        <li>If you’re still eligible, <a class="Link--inTextBlock" href="https://docs.github.com/education/explore-the-benefits-of-teaching-and-learning-with-github-education/apply-for-a-student-developer-pack#expiration-and-renewals">reverify your academic affiliation</a>.</li>
        <% if current_user.has_valid_payment_method? %>
          <li>If you’re no longer eligible, you don’t need to take any additional action. We have your payment information
            on file and will charge you full price for any data packs, seats, or plan (<%= branded_plan_name(current_user.plan) %>), which totals to (<%= payment_amount %>/<%= current_user.plan_duration %>)
            after your coupon expires.</li>
        <% else %>
          <li>If you’re no longer eligible, <a class="Link--inTextBlock" href="<%= billing_url(:host => GitHub.urls.host_name) %>">update your payment information</a>
            to continue using <%= branded_plan_name(current_user.plan) %>,
            or downgrade to <%= branded_plan_name(GitHub::Plan.free) %>.</li>
        <% end %>
      </ul>
      <p>
        <% if redemption.expires_at < Time.now %>
          Your private repositories will have limited collaboration features until this is resolved.
        <% end %>
        If you have any questions, please visit the <a class="Link--inTextBlock" href="<%= GitHub.education_community_url %>">GitHub Education Community</a>.
      </p>
    <% else %>
      <h2>Your coupon is expiring soon!</h2>
      <p class="no-title">
        A while ago, you used a coupon for
        <% if current_user.plan.paid? %>
          <%= coupon.human_discount %> off <%= coupon.human_duration %> of GitHub <%= branded_plan_name(current_user.plan) %>.
        <% else %>
          <%= coupon.human_discount %> off <%= coupon.human_duration %> of GitHub %>.
        <% end %>
        This coupon will expire
        <% if redemption.expires_at < Time.now %>
          any minute now.
        <% else %>
          in <%= distance_of_time_in_words_to_now redemption.expires_at %>
          (<%= redemption.expires_at.strftime('%B %d, %Y') %>).
        <% end %>
      </p>
      <% if current_user.has_valid_payment_method? %>
        <p>Still happy with <%= branded_plan_name(current_user.plan) %>? We already have your payment information on file and will charge you the full price
          (<%= payment_amount %>/<%= current_user.plan_duration %>) after your coupon expires.
        </p>
      <% else %>
        <p>
          We noticed you haven’t entered any payment details, yet. If you’d like to continue
          using <%= branded_plan_name(current_user.plan) %> (<%= payment_amount %>/<%= current_user.plan_duration %>)
          you’ll need to <%= link_to "add a payment method to your account", billing_path, class: "Link--inTextBlock" %>.
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
