<%
  org = current_user.newest_organization
  feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : "color-bg-default"
%>
<% if org && !org.archived? %>
  <div class="border color-bg-default rounded-2 mb-3 p-3 js-notice <%=feed_v2_classes%>">
    <div class="d-flex flex-items-center flex-justify-between">
      <div class="d-flex">
        <%= render Primer::Beta::Avatar.new(
          src: org.primary_avatar_url,
          alt: org.display_login,
          size: 24,
          shape: :square,
          mr: 2
        ) %>
        <h2 class="f4 text-normal">You've been added to the <strong><%= org.display_login %></strong> organization.</h2>
      </div>
      <div class="d-flex flex-items-center">
        <%= render(Primer::Beta::Button.new(size: :small, mx: 3, tag: :a, href: user_url(org))) { "View organization" } %>
        <%= form_tag dismiss_notice_user_path(id: current_user.id, notice_name: "org_newbie"), method: :delete, class: "dismiss js-notice-dismiss" do %>
          <%= render Primer::Beta::CloseButton.new(type: :submit, "aria-label": "Hide this notice forever") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
