<%
  page_info title: "GitHub Sponsors dashboard · #{selected_tab.to_s.titleize.capitalize}", stafftools: stafftools_sponsors_member_path(sponsors_listing.sponsorable_login)
  staff_view = !sponsors_listing.adminable_by?(current_user) && current_user&.can_admin_sponsors_listings?
  full_width = !!local_assigns[:full_width]
%>

<% if staff_view %>
  <%= render Sponsors::StaffViewBannerComponent.new(
    account_login: sponsors_listing.sponsorable_login,
    context: Sponsors::StaffViewBannerComponent::Context::Dashboard,
  ) %>
<% end %>

<div class="p-3 d-none d-sm-flex flex-justify-between flex-items-center border-bottom">
  <div class="TableObject">
    <div class="TableObject-item TableObject-item--primary">
      <%= primer_octicon("heart", animation: :hover_grow, mr: 1, color: :sponsors) %>
      <%= render(Primer::Beta::Breadcrumbs.new(display: :inline_block)) do |component| %>
        <% if current_user.potential_sponsor_accounts.size > 1 %>
          <% component.with_item(href: sponsors_accounts_path) do %>GitHub Sponsors accounts<% end %>
        <% else %>
          <% component.with_item(href: sponsorable_dashboard_path(sponsors_listing.sponsorable_login)) do %>GitHub Sponsors dashboard<% end %>
        <% end %>
        <% component.with_item(href: request.path) do %><%= sponsors_listing.sponsorable_login %><% end %>
      <% end %>
    </div>
  </div>

  <div class="position-relative">
    <% unless sponsors_listing.disabled? %>
      <%= render Primer::Beta::Button.new(
        href: sponsorable_path(sponsors_listing.sponsorable_login, preview: true),
        target: "_blank",
        scheme: :link,
        tag: :a,
        font_size: 6,
      ) do %>
        <%= primer_octicon(:"link-external") %> Preview profile
      <% end %>
    <% end %>
    <% if sponsors_listing.full_description.present? && !current_user.dismissed_notice?(::User::SponsorsDependency::PREVIEW_SPONSORS_PROFILE_BANNER) %>
      <div class="Popover position-absolute js-notice" style="top: 65px; right: 1px" <%= test_selector("preview-sponsors-profile-banner") %>>
        <div class="Popover-message Popover-message--large Popover-message--top-right p-4 Box color-shadow-large">
          <h4 class="d-flex flex-items-baseline mb-2"><%= emoji_tag(Emoji.find_by_alias("eyes"), class: "emoji emoji-icon mr-2") %>Take a look at your page</h4>
          <p class="color-fg-muted">Preview your GitHub Sponsors profile to see how your introduction and tiers look together.</p>

          <%= form_tag dismiss_notice_path(::User::SponsorsDependency::PREVIEW_SPONSORS_PROFILE_BANNER), class: "js-notice-dismiss" do %>
            <%= render Primer::Beta::Button.new(
              type: :submit,
              mt: 2,
              font_weight: :bold,
            ).with_content("Got it!") %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="clearfix d-block d-sm-flex flex-row-reverse flex-justify-center border-bottom">
  <div class="pt-4 pb-6 d-flex flex-justify-center flex-1">
    <div class="<%= class_names(
      "flex-1" => full_width,
      "container-md col-12 col-lg-10 px-3 px-md-4" => !full_width,
    ) %>">
      <% if show_welcome_to_sponsors_banner?(sponsors_listing, stripe_connect_eligible: sponsors_listing.eligible_for_stripe_connect?) %>
        <div class="js-notice border rounded-2 p-3 mb-3" <%= test_selector("sponsors-welcome-notice") %>>
          <span class="d-flex flex-items-center f6 mb-2">
            <span class="flex-auto">
              <h4 class="mr-2 d-inline"><%= emoji_tag(Emoji.find_by_alias("wave")) %> Welcome to GitHub Sponsors</h4>
            </span>
              <%= form_tag dismiss_notice_path("welcome_to_sponsors"), class: "js-notice-dismiss" do %>
                <%= button_tag(type: "submit", class: "btn-link Link--secondary", 'aria-label': "Dismiss") do %>
                  <%= primer_octicon(:x) %>
                <% end %>
              <% end %>
          </span>
          <p class="mb-0 color-fg-muted">
            Thanks for submitting your contact information. We'll be in touch with you shortly to connect your bank account for payouts. Keep an eye out for an email from <%= mail_to GitHub.invoices_email %>.
          </p>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>
  <div class="d-none d-lg-block" style="width:320px;" <%= test_selector("sponsors-dashboard-sidebar") %>>
    <div class="p-4 border-right" style="min-height: 100%;">
      <div class="d-flex flex-row mb-5 ml-2">
        <%= profile_avatar_using(sponsors_listing.sponsorable_primary_avatar_url, size: 55, class: "mr-2") %>
        <div class="d-flex flex-column Truncate flex-self-center">
          <h2 class="f4 Truncate-text"><%= sponsors_listing.sponsorable_login %></h2>
          <h3 class="f5 text-normal"><%= sponsors_listing.for_user? ? "User" : "Organization" %> account</h3>
        </div>
      </div>

      <%= render Sponsors::Dashboard::NavigationComponent.new(
        sponsors_listing: sponsors_listing,
        selected_tab: selected_tab,
      ) %>
    </div>
  </div>
</div>

<%= render Sponsors::Dashboard::ResponsiveMenuComponent.new(
  sponsors_listing: sponsors_listing,
  selected_tab: selected_tab,
) %>

<%# rubocop:disable GitHub/ContentFor %>
<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "sponsors" %>
<% end %>
