<%= render layout: "shared/details_dialog", locals: {
  button_class: "btn-link",
  button_text: "See list of available colors.",
  title: "Action Color Label",
  dialog_class: "Box-overlay--wide"
} do %>
  <div class="Box-body p-0 overflow-auto">
    <ul class="label-select-menu flex-md-1">
      <% RepositoryActions::Colors::PRIMER_COLORS.reverse_each do |color| %>
        <li class="Box-row label-select-menu d-flex flex-justify-between">
          <div class="d-flex flex-auto">
            <div class="CircleBadge CircleBadge--small mr-2" style="background-color: #<%= color[:color_hex] %>">
            </div>
            <div class="px-3 flex-self-center">
              <h4><%= color[:name].titleize %></h4>
              <code id="action-color-label-<%= color[:name] %>" class="text-small"><%= color[:name] %></code>
            </div>
          </div>
          <%= render Primer::Beta::ClipboardCopy.new(for: "action-color-label-#{ color[:name] }", "data-copy-feedback": "Copied!", "aria-label": "Copy color label to clipboard", classes: "ClipboardButton btn btn-sm flex-self-center") %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
