<%# erblint:counter DeprecatedComponentsCounter 5 %>
<%# erblint:counter DeprecatedComponentsCounter 5 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# view is an instance Releases::ActionMarketplaceView %>
<h4>Release Action</h4>

<div class="js-releases-marketplace-publish-container">
  <%= f.fields_for :repository_action_release do |action_fields| %>
    <div class="form-checkbox">
      <label>
        <%= action_fields.check_box(:published_on_marketplace, checked: view.publish_checked_by_default?, class: "js-releases-marketplace-publish-field") %>
        Publish this Action to the GitHub Marketplace
      </label>
      <span class="note">Your Action will be discoverable in the Marketplace and available in GitHub search.</span>
    </div>
  <% end %>

  <div class="js-releases-marketplace-publish-preview <%= 'd-none' unless view.publish_checked_by_default? %>">
    <div class="Box mt-2">
      <div class="Box-header">
        <h3 class="Box-title">
          <% unless release.published? %>
            <a href="<%= file_edit_path(current_repository.owner, current_repository, release.target_commitish, view.metadata_file_name) %>" class="Box-btn-octicon btn-octicon float-right" aria-label="Edit <%= view.metadata_file_name %>"><%= render(Primer::Beta::Octicon.new(icon: "pencil")) %></a>
          <% end %>
          <%= primer_octicon(:"file-code", mr: 2) %> <%= view.metadata_file_name %>
        </h3>
      </div>
      <% if view.show_metadata_file_error_message? %>
        <%= render Primer::Beta::Flash.new(full: true, scheme: :danger) do %>
          <%= primer_octicon(:x, mr: 2) %> Your <%= view.metadata_file_name %> needs changes before it can be published.
        <% end %>
      <% elsif view.show_metadata_file_warning_message? %>
        <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
          <%= primer_octicon(:alert, mr: 2) %> <%= view.metadata_file_warning_message %>
        <% end %>
      <% elsif view.show_metadata_file_success_message? %>
        <%= render Primer::Beta::Flash.new(full: true, scheme: :success) do %>
          <%= primer_octicon(:check, mr: 2) %> Everything looks good! You have all the required information.
        <% end %>
      <% end %>
      <ul class="flex-md-1">
        <li class="Box-row d-flex">
          <div class="color-fg-muted col-3">
            <%= primer_octicon(view.name_octicon, mr: 2, color: view.name_valid? ? nil : :danger) %>
            Name
          </div>
          <div class="col-9">
            <span class="text-bold"><%= truncate(view.metadata_file_name_value, length: 50) %></span>
            <% unless view.name_valid? %>
              <span class="color-fg-danger">- Name must be unique. Cannot match an existing action, user or organization name.</span>
            <% end %>
          </div>
        </li>
        <li class="Box-row d-flex">
          <div class="color-fg-muted col-3">
            <%= primer_octicon(view.description_octicon, mr: 2, color: view.description_valid? ? nil : :danger) %>
            Description
          </div>
          <div class="col-9">
            <%= truncate(view.metadata_file_description_value, length: 100) %>
            <% if view.metadata_file_description_value.blank? %>
              <span class="color-fg-danger">Add a sentence describing your Action in <%= RepositoryAction::DESCRIPTION_MAX_LENGTH %> characters or less.</span>
            <% elsif !view.description_valid? %>
              <span class="color-fg-danger">- Description must be less than <%= RepositoryAction::DESCRIPTION_MAX_LENGTH %> characters.</span>
            <% end %>
          </div>
        </li>
        <li class="Box-row d-flex">
          <div class="color-fg-muted col-3">
            <%= primer_octicon(view.icon_octicon, mr: 2) %>
            Icon
          </div>
          <div class="col-9 text-bold">
            <%= view.metadata_file_icon_name_value %>
            <% unless view.icon_valid? %>
              <span class="text-normal"><%= "-" if view.metadata_file_icon_name_value.present? %><%= render partial: "releases/action_icons_dialog" %></span>
            <% end %>
          </div>
        </li>
        <li class="Box-row d-flex">
          <div class="color-fg-muted col-3">
            <%= primer_octicon(view.color_octicon, mr: 2) %>
            Color
          </div>
          <div class="col-9 text-bold">
            <%= view.metadata_file_color_value %>
            <% unless view.color_valid? %>
              <span class="text-normal"><%= "-" if view.metadata_file_color_value.present? %><%= render partial: "releases/action_colors_dialog" %></span>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
    <div class="Box mt-4">
      <div class="Box-header">
        <h3 class="Box-title">
          <% if view.readme_file.present? && !release.published? %>
            <a href="<%= file_edit_path(current_repository.owner, current_repository, release.target_commitish, view.readme_file.path) %>" class="Box-btn-octicon btn-octicon float-right" aria-label="Edit README"><%= render(Primer::Beta::Octicon.new(icon: "pencil")) %></a>
          <% end %>
          <%= primer_octicon(:book, mr: 2) %> README
        </h3>
      </div>
      <% if view.show_readme_error_message? %>
        <%= render Primer::Beta::Flash.new(full: true, scheme: :danger) do %>
          <%= primer_octicon(:x, mr: 2, color: :danger) %> A README is required.
          <a href="<%= blob_new_path('', current_branch_or_tag_name) + "?readme=1" %>" class="btn btn-sm float-right">
            Add a README
          </a>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Flash.new(full: true, scheme: :success) do %>
          <%= primer_octicon(:check, mr: 2) %> A README exists.
        <% end %>
      <% end %>
    </div>
    <% if view.show_security_contact_field? %>
      <%= f.fields_for :repository_action do |action_fields| %>
        <div class="mt-4">
          <dl class="form-group">
            <dt>
              <label for="repository_action_security_email">Security contact email</label>
            </dt>
            <dd>
            <%= action_fields.text_field(:security_email, value: view.security_contact_default_value, id: "repository_action_security_email", required: true) %>
            <p class="note">
            In case we need to get in contact with you. This will not be displayed publicly.
            </p>
            </dd>
          </dl>
        </div>
      <% end %>
    <% end %>
    <div class="mt-4 mb-4 d-flex flex-justify-between gutter">
      <dl class="form-group col-6">
        <dt><label for="action-primary-category">Primary Category</label></dt>
        <dd>
          <select
            id="action-primary-category"
            name="repository_action[primary_category_id]"
            class="form-select col-12">
            <option value="">Choose an option</option>
            <% view.regular_categories.each do |category| %>
              <option
                <% if view.action_primary_category&.id == category.id %>selected<% end %>
                value="<%= category.id %>"
              >
                <%= category.name %>
              </option>
            <% end %>
          </select>
        </dd>
      </dl>
      <dl class="form-group col-6">
        <dt>
          <label for="action-secondary-category">
            Another Category
            <span class="text-italic text-small color-fg-muted">&mdash; optional</span>
          </label>
        </dt>
        <dd>
          <select
            id="action-secondary-category"
            name="repository_action[secondary_category_id]"
            class="form-select col-12"
          >
            <option value="">Choose an option</option>
            <% view.regular_categories.each do |category| %>
              <option
                <% if view.action_secondary_category&.id == category.id %>selected<% end %>
                value="<%= category.id %>"
              >
                <%= category.name %>
              </option>
            <% end %>
          </select>
        </dd>
      </dl>
    </div>
  </div>
</div>
