<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="form-checkbox unchecked mt-0 mb-3">
  <input type="hidden" name="discussion_enabled" value="0">
  <input type="checkbox" name="discussion_enabled" value="1" id="discussion_enabled"
    class="form-checkbox-details-trigger">
  <label for="discussion_enabled" aria-live="polite">
    Create a discussion for this release
  </label>
  <span class="note mb-2">
    People will be able to leave comments and reactions on this release using Discussions.
  </span>
  <span class="form-checkbox-details">
    <details class="details-reset details-overlay select-menu">
      <% default_category = current_repository.available_discussion_categories.first %>

      <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button") do %>
        <i>Category:</i>
        <span class="sr-only" id="discussion_category">Discussion Category</span>
        <span data-menu-button><%= default_category.name %></span>
      <% end %>

      <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-list">
          <% current_repository.available_discussion_categories.each do |category| %>
            <label class="select-menu-item" role="menuitemradio" aria-describedby="discussion_category" tabindex="0">
              <%= f.radio_button :discussion_category_id, category.id, hidden: true, checked: default_category == category %>
              <span class="select-menu-item-icon">
                <%= render Primer::Beta::Octicon.new(icon: "check") %>
              </span>
              <span class="text-normal select-menu-item-text" data-menu-button-text><%= category.name %></span>
            </label>
          <% end %>

          <div class="select-menu-no-results">Nothing to show</div>
        </div>
      </details-menu>
    </details>
  </span>
</div>
