<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% button_name = scope == "package_settings" ? "View terms" : "accept the GitHub Marketplace Developer Agreement" %>
<% button_class = scope == "package_settings" ? "btn" : "btn-link" %>
<%= render layout: "shared/details_dialog", locals: {
  button_text: button_name,
  title:  "GitHub #{agreement.name} #{agreement.version}",
  button_class: button_class,
  dialog_class: "Box-overlay--wide"
} do %>
  <div class="Box-body overflow-auto">
    <p><%= github_flavored_markdown(agreement.body) %></p>
  </div>
  <div class="Box-footer">
    <% if action.present? %>
      <%= form_tag marketplace_actions_agreement_signatures_path(org: org_owner&.display_login), method: :post do %>
        <input type="hidden" name="accept" value="0">
        <input type="hidden" name="agreement_id" value="<%= agreement.id %>">
        <input type="hidden" name="action_id" value="<%= action.id %>">
        <div class="form-checkbox">
          <label class="d-block mb-3" for="accept_marketplace_agreement">
            <input required type="checkbox" name="accept" value="1" id="accept_marketplace_agreement">
            By clicking &ldquo;Accept Terms&rdquo; below, you agree to the <%= "GitHub #{agreement.name} #{agreement.version}" %>
            on behalf of
            <a href="<%= user_path(action.owner.display_login) %>" class="d-inline-block no-wrap color-fg-default text-bold no-underline">
              <%= avatar_for(action.owner, 16, class: "avatar") %>
              <%= action.owner.name %>
            </a>
          </label>
        </div>
        <div class="form-actions">
          <%= render Primer::ButtonComponent.new(type: :submit, "data-disable-with": "Saving...", "data-disable-invalid": "", scheme: :primary) do %>
            Accept Terms
          <% end %>
        </div>
      <% end %>
    <% elsif stack.present? %>
      <%= form_tag marketplace_stacks_agreement_signatures_path(org: org_owner&.display_login), method: :post do %>
        <input type="hidden" name="accept" value="0">
        <input type="hidden" name="agreement_id" value="<%= agreement.id %>">
        <input type="hidden" name="stack_id" value="<%= stack.id %>">
        <div class="form-checkbox">
          <label class="d-block mb-3" for="accept_marketplace_agreement">
            <input required type="checkbox" name="accept" value="1" id="accept_marketplace_agreement">
            By clicking &ldquo;Accept Terms&rdquo; below, you agree to the <%= "GitHub #{agreement.name} #{agreement.version}" %>
            on behalf of
            <a href="<%= user_path(stack.owner.display_login) %>" class="d-inline-block no-wrap color-fg-default text-bold no-underline">
              <%= avatar_for(stack.owner, 16, class: "avatar") %>
              <%= stack.owner.name %>
            </a>
          </label>
        </div>
        <div class="form-actions">
          <%= render Primer::ButtonComponent.new(type: :submit, "data-disable-with": "Saving...", "data-disable-invalid": "", scheme: :primary) do %>
            Accept Terms
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>


<% end %>
