<li class="p-2 js-release-file border-top">
  <div class="clearfix live">
    <%
      form_id_prefix = "package_version_#{registry_package_version.id}_"
      form_name_prefix = "release[package_versions_attributes][]"
      file_name = registry_package_version.files.first&.name || "No file"
      uploaded = registry_package_version.files.first&.uploaded?
    -%>
    <div class="float-right text-right pr-2 flex-shrink-0">
      <%= render Primer::Beta::IconButton.new(icon: :x, scheme: :invisible, muted: true, classes: "js-release-remove-file remove", "aria-label": "Remove") %>
    </div>
    <div class="p-2">
      <span><%= file_name %></span>
      <input type="hidden" class="id" name="<%= form_name_prefix %>[id]" value="<%= registry_package_version.id %>">
      <input type="hidden" class="destroy" name="<%= form_name_prefix %>[_destroy]" value="">
      <% if uploaded -%>
        <span class="f6 color-fg-muted">(<%= number_to_human_size registry_package_version.files.first&.size %>)</span>
      <% else -%>
        <%= primer_octicon(:alert, color: :danger) %>
        <%= render(Primer::Beta::Text.new(color: :danger)) { "Delete and try uploading this file again." } %>
      <% end %>
    </div>
  </div>
  <div class="d-flex d-none delete-pending">
    <div class="float-right pr-2">
        <%= render(Primer::Beta::Button.new(scheme: :invisible, muted: true, py: 2, "aria-label": "Undo", classes: "js-release-undo-remove-file", "data-ga-click": "Releases, click, Undo Delete Release Asset")) { "Undo" } %>
    </div>
    <div class="p-2" style="width: 100%" role="status">
      <span class="text-mono color-fg-danger js-release-asset-filename"><%= file_name %></span>
      <span class="color-fg-muted">will be deleted</span>
    </div>
  </div>
</li>
