<li class="p-2 js-release-file border-top <%= 'd-none js-template' if release_asset.id.nil? %>" data-state="<%= release_asset.state %>">
  <%
    form_id_prefix = "release_asset_#{release_asset.id || :new}_"
    form_name_prefix = "release[release_assets_attributes][]"
    new_or_uploaded = release_asset.new_record? || release_asset.uploaded?
  -%>
  <div class="clearfix live form-group <%= new_or_uploaded ? "" : "pb-4 errored" %>">
    <div class="float-right text-right pr-2 flex-shrink-0">
      <%= render Primer::Beta::IconButton.new(icon: :x, scheme: :invisible, muted: true, classes: "js-release-remove-file remove", "aria-label": "Remove attached binary #{release_asset.name}") %>
    </div>
    <div class="form-group-body">
      <input type="text" class="col-8 mr-2 text-mono form-control js-release-asset-filename" name="<%= form_name_prefix %>[name]" value="<%= release_asset.name %>"
            placeholder="Change this file’s name" aria-label="Change this file’s name" aria-describedby="<%= form_name_prefix %>[name]-input-validation">
      <input type="hidden" class="id" name="<%= form_name_prefix %>[id]" value="<%= release_asset.id %>">
      <input type="hidden" class="destroy" name="<%= form_name_prefix %>[_destroy]" value="">
      <% if new_or_uploaded -%>
        <span class="col-2 f6 color-fg-muted js-release-asset-filesize flex-shrink-0">(<%= number_to_human_size release_asset.size %>)</span>
      <% else %>
        <span class="col-2 f6 flex-shrink-0"><%= render(Primer::Beta::Octicon.new(icon: :alert, color: :danger)) %></span>
      <% end -%>
    </div>
    <% if !new_or_uploaded %>
      <p class="note error" id="<%= form_name_prefix %>[name]-input-validation">Upload failed. Delete and try uploading this file again.</p>
    <% end %>
  </div>
  <div class="d-flex <%= new_or_uploaded ? "pb-2" : "pb-6" %> pt-2 d-none delete-pending">
    <div class="float-right pr-2">
        <%= render(Primer::Beta::Button.new(scheme: :invisible, muted: true, py: 2, "aria-label": "Undo", classes: "js-release-undo-remove-file", "data-ga-click": "Releases, click, Undo Delete Release Asset")) { "Undo" } %>
    </div>
    <div class="p-2" style="width: 100%" role="status">
      <span class="text-mono color-fg-danger js-release-asset-filename"><%= release_asset.display_name %></span>
      <span class="color-fg-muted">will be deleted</span>
    </div>
  </div>
</li>
