<%
  page_title = "Releases · #{current_repository.name_with_display_owner}"
  page_title = "#{params[:q]} · " + page_title if params[:q].present?
  page_info(
    title: page_title,
    container_xl: true,
    selected_link: :repo_releases,
    richweb: {
      title: page_title,
      url: releases_path(current_repository),
      description: h(repo_meta_description),
      image: repository_open_graph_image_url(current_repository),
      card: repository_twitter_image_card(current_repository)
    }
  )
%>

<% content_for :head do -%>
  <%= auto_discovery_link_tag :atom, tokenized_feed_url(releases_feed_url), :title => "#{current_repository.name} Release Notes" %>
  <%= auto_discovery_link_tag :atom, tokenized_feed_url(tags_feed_url), :title => "#{current_repository.name} Tags" %>
<% end -%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<h1 class='sr-only'>Releases: <%= current_repository.name_with_display_owner %></h1>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%# Default expand_all to true here to turn off truncation for the list page by default %>
  <%= render Releases::ListPageComponent.new(results, current_repository, current_user, params[:q], page_title: page_title, expand_all: params[:expanded].present? ? ActiveModel::Type::Boolean.new.cast(params[:expanded]) : true) %>
</div>
<% end %>
