<%# rubocop:disable Lint/InstanceVariable %>
<%
  page_info(
    title: %{New release · #{current_repository.name_with_display_owner}},
    container_xl: true,
    selected_link: :repo_releases,
  )
  @disable_branch_selector = true

  marketplace_view = Releases::ActionMarketplaceView.new(
    release: @release,
    current_user: current_user,
    marketplace_enabled: GitHub.marketplace_enabled?,
    query_params: params
  )
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <div class="subnav subnav-bordered">
    <%= render Releases::SubnavComponent.new(current_repository, selected: :repo_releases) %>
  </div>
  <h1 class='sr-only'>New release</h1>
  <div class="clearfix">
    <div class="float-left col-12 col-md-9">
      <% if marketplace_view.show_locked? %>
        <% if marketplace_view.potential_marketplace_action? && !marketplace_view.action_package_listed_to_marketplace?  %>
          <%= render partial: "releases/action_marketplace_locked", locals: { view: marketplace_view } %>
        <% end %>
      <% end %>
      <h2 class="sr-only">New release form</h2>
      <%= form_for @release,
          :url => create_release_path,
          :html => {
            :class => "js-release-form",
            :"data-repo-url" => repository_path(current_repository)
          } do |f| %>
        <%= render partial: "releases/release_form", locals: { f: f, marketplace_view: marketplace_view } %>
      <% end %>
    </div>

    <div class="float-left col-12 col-md-3 pl-md-4 pt-4 pt-md-0">
      <%= render :partial => "releases/suggestions" %>
    </div>
  </div>
</div>
<% end %>
