<%# rubocop:disable Lint/InstanceVariable %>
<?xml version="1.0" encoding="UTF-8"?>
<%- @releases = releases_with_valid_tags(@releases) -%>
<%- path = releases_url(current_repository.owner, current_repository) -%>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="en-US">
  <id>tag:<%= GitHub.host_name %>,2008:<%=h path %></id>
  <link type="text/html" rel="alternate" href="<%= h(path) %>"/>
  <link type="application/atom+xml" rel="self" href="<%= h(path) %>.atom"/>
  <title>Tags from <%=h current_repository %></title>
  <updated><%= @releases.first&.created_at ? @releases.first.created_at.iso8601 : Time.now.utc.iso8601 %></updated>
  <%- @releases.each do |release| ; tag = release.tag.target -%>
  <entry>
    <id>tag:<%= GitHub.host_name %>,2008:Repository/<%= current_repository.id %>/<%= release.tag_name %></id>
    <updated><%= release.updated_at ? release.updated_at.iso8601 : release.created_at.iso8601 %></updated>
    <link rel="alternate" type="text/html" href="<%= release_path(release.tag_name, current_repository, full_url: true) %>"/>
    <title><%= release.display_name %></title>
  <% if tag && tag.message_body_text? -%>
    <content type="html"><%= force_escape_with_transcoding_guess simple_format(tag.message_html.to_html) %></content>
  <% else -%>
    <content></content>
  <% end -%>
  <% if release.author -%>
    <author>
      <name><%= release.author %></name>
    </author>
    <media:thumbnail height="30" width="30" url="<%= avatar_url_for release.author %>"/>
  <% end -%>
  </entry>
  <%- end -%>
</feed>
