<% page_info :selected_link => :repo_actions %>

<% content_for :nav_sidebar do %>
  <nav class="menu" aria-label="Actions">
    <%= selected_link_to \
          "Overview",
          gh_actions_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Latest runs",
          gh_actions_latest_runs_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Registered workflows",
          gh_actions_workflows_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Scheduled workflows",
          actions_workflow_schedules_stafftools_repository_path,
          :class => "menu-item" %>
    <% if GitHub.billing_enabled? %>
      <%= selected_link_to \
            "Billing",
            gh_actions_billing_stafftools_repository_path(current_repository),
            :class => "menu-item" %>
    <% end %>
    <%= selected_link_to \
          "Secrets",
          gh_actions_secrets_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Variables",
          gh_actions_variables_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Self-hosted runners",
          gh_actions_self_hosted_runners_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Artifacts",
          actions_artifacts_stafftools_repository_path,
          :class => "menu-item" %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/repository" %>
