<% page_info :selected_link => :repo_collaboration %>

<% content_for :nav_sidebar do %>
  <nav class="menu" aria-label="Collaboration">
    <%= selected_link_to \
          "Network",
          gh_stafftools_repository_network_path(current_repository),
          highlight: :network,
          class: "menu-item" %>
    <%= selected_link_to \
          "Issues & Pull Requests",
          gh_stafftools_repository_issues_path(current_repository),
          highlight: :issues,
          class: "menu-item" %>
    <%= selected_link_to \
          "Pull Request Orchestrations",
          gh_stafftools_repository_pull_request_orchestrations_path(current_repository),
          highlight: :pull_request_orchestrations,
          class: "menu-item" %>
    <%= selected_link_to \
          "Repository advisories",
          gh_stafftools_repository_advisories_path(current_repository),
          highlight: :repository_advisories,
          class: "menu-item" %>
    <% if current_repository.discussions_active? %>
      <%= selected_link_to \
            "Discussions",
            gh_stafftools_repository_discussions_path(current_repository),
            highlight: :discussions,
            class: "menu-item" %>
    <% end %>
    <%= selected_link_to \
          "Issue files",
          gh_stafftools_repository_repository_files_path(current_repository),
          highlight: :issue_files,
          class: "menu-item" %>
    <%= selected_link_to \
          "Projects",
          gh_stafftools_repository_projects_path(current_repository),
          highlight: :projects,
          class: "menu-item" %>
    <%= selected_link_to \
          "Watchers",
          gh_stafftools_repository_watchers_path(current_repository),
          class: "menu-item" %>
    <%= selected_link_to \
          "Repository Notifications",
          gh_stafftools_repository_notification_settings_path(current_repository),
          highlight: :repository_notifications,
          class: "menu-item" %>
    <%= selected_link_to \
          "Notifications",
          gh_notifications_stafftools_repository_path(current_repository),
          class: "menu-item" %>
    <% if SecurityProduct::VulnerabilityAlerts.enabled_for_instance? %>
        <%= selected_link_to \
          "Dependabot alerts",
          gh_stafftools_repository_vulnerability_alerts_path(current_repository),
          class: "menu-item" %>
    <% end %>
    <%= selected_link_to \
          "Events",
          gh_events_stafftools_repository_path(current_repository),
          class:  "menu-item" %>
    <% if GitHub.sponsors_enabled? %>
      <%= selected_link_to \
            "Funding model links",
            stafftools_repository_funding_links_path(current_repository.owner_display_login, current_repository.name),
            class: "menu-item" %>
    <% end %>
    <% if GitHub.can_report? %>
      <%= selected_link_to \
            "Abuse reports",
            gh_abuse_reports_stafftools_repository_path(current_repository),
            class: "menu-item" %>
    <% end %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/repository" %>
