<% page_info :selected_link => :repo_admin %>

<% content_for :nav_sidebar do %>
  <nav class="menu" aria-label="Overview">
    <%= selected_link_to \
          "Overview",
          gh_overview_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Admin",
          gh_admin_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Redirects",
          gh_stafftools_repository_redirects_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Search",
          gh_search_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Languages",
          gh_languages_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Database",
          gh_database_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
            "Orchestrations",
            gh_stafftools_repository_repository_orchestrations_path(current_repository),
            highlight: :repository_orchestrations,
            class: "menu-item" %>
    <%= selected_link_to \
            "Rules",
            expand_nwo_from(:stafftools_repository_repository_rules_path, current_repository),
            highlight: :repository_rules,
            class: "menu-item" %>
    <%= selected_link_to \
            "Rule Insights",
            expand_nwo_from(:stafftools_repository_repository_rule_insights_path, current_repository),
            highlight: :repository_rule_insights,
            class: "menu-item" %>
    <% if current_repository.owner.organization? %>
      <%= selected_link_to \
            "Custom properties",
            expand_nwo_from(:stafftools_repository_custom_properties_path, current_repository),
            highlight: :custom_properties,
            class: "menu-item" %>
    <% end %>
    <%= selected_link_to \
          "Topics",
          topics_stafftools_repository_path(current_repository.owner, current_repository),
          :class => "menu-item" %>
    <% if GitHub.dependency_graph_enabled? %>
      <%= selected_link_to \
            "Dependency graph",
            gh_dependency_graph_stafftools_repository_path(current_repository),
            :class => "menu-item" %>
    <% end %>
    <% if GitHub.dependabot_enabled? %>
      <%= selected_link_to \
            "Dependabot",
            gh_dependabot_stafftools_repository_path(current_repository),
            :class => "menu-item" %>
    <% end %>
    <% if GitHub.dotcom_request? && current_repository.owner.organization? %>
      <%= selected_link_to \
        "Security center",
        security_center_stafftools_repository_path(current_repository.owner, current_repository),
        class: "menu-item" %>
    <% end %>
    <%= selected_link_to \
      "Security products",
      security_products_stafftools_repository_path(current_repository.owner, current_repository),
      class: "menu-item" %>
    <% if discover_repos_dashboard_enabled? %>
      <%= selected_link_to "Recommendations",
            stafftools_repository_recommendations_path(current_repository.owner, current_repository),
            class: "menu-item" %>
    <% end %>
    <%= selected_link_to "Images",
          stafftools_repository_images_path(current_repository.owner, current_repository),
          class: "menu-item" %>
    <% if GitHub.flipper_ui_enabled? %>
      <%= selected_link_to "Enabled Feature Flags",
            enabled_feature_flags_stafftools_repository_path(current_repository.owner, current_repository),
            class: "menu-item" %>
    <% end %>
    <% if merge_queue = current_repository.merge_queues.first %>
      <%= selected_link_to "Merge Queue",
            stafftools_merge_queue_path(current_repository.owner, current_repository, merge_queue.branch),
            class: "menu-item" %>
    <% end %>
    <% if current_repository.feature_enabled?(:use_merge_commit_request_architecture) ||
          current_repository.feature_enabled?(:reminders_testing_mcr_architecture) %>
      <%= selected_link_to "Merge Commit Requests",
            stafftools_merge_commit_requests_path(current_repository.owner, current_repository),
            class: "menu-item" %>
    <% end %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/repository" %>
