<% page_info :selected_link => :repo_security %>

<% content_for :nav_sidebar do %>
  <nav class="menu" aria-label="Security">
    <%= selected_link_to \
          "Security",
          gh_security_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <% if current_repository.organization %>
      <%= selected_link_to \
            "Permissions",
            gh_permissions_stafftools_repository_path(current_repository),
            :class => "menu-item" %>
    <% else %>
      <%= selected_link_to \
            "Collaborators",
            gh_stafftools_repository_collaborators_path(current_repository),
            :class => "menu-item" %>
    <% end %>
    <% if GitHub.hookshot_enabled? %>
      <%= selected_link_to \
            "Webhooks & Services",
            gh_stafftools_repo_hooks_path(current_repository),
            :highlight => :hooks,
            :class => "menu-item" %>
    <% end %>
    <%= selected_link_to \
          "Deploy Keys",
          gh_deploy_keys_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Protected branches",
          gh_stafftools_repository_protected_branches_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          title_markdown("Push Log"),
          gh_stafftools_repository_reflog_path(current_repository),
          :highlight => :reflog,
          :class => "menu-item" %>
    <%= selected_link_to \
          "Activity Push Log",
          gh_stafftools_repository_activity_path(current_repository, time_period: "week"),
          :highlight => :activity,
          :class => "menu-item" %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/repository" %>
