<% page_info :selected_link => :repo_storage %>

<% content_for :nav_sidebar do %>
  <nav class="menu" aria-label="Storage">
    <%= selected_link_to \
          "Disk",
          gh_disk_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <% if GitHub.pages_enabled? %>
      <%= selected_link_to \
            "Pages",
            stafftools_repository_pages_path(current_repository),
            :class => "menu-item" %>
    <% end %>
    <%= selected_link_to \
          "Releases",
          gh_releases_stafftools_repository_path(current_repository),
          :class => "menu-item" %>
    <%= selected_link_to \
          "Git Large File Storage",
          gh_stafftools_repository_large_files_path(current_repository),
          :class => "menu-item" %>
    <% if GitHub.svnbridge_available? %>
      <%= selected_link_to \
            "Subversion",
            gh_stafftools_repository_svn_path(current_repository),
            :class => "menu-item" %>
    <% end %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/repository" %>
