<%= render(Primer::Beta::Subhead.new(mt: 4, align_items: :center, hide_border: true)) do |component| %>
  <% component.with_heading(tag: :h3, font_size: 3) do %>Scanned files<% end %>
  <% unless languages_extracted.blank? %>
    <% component.with_actions(test_selector: "languages_extracted_menu") do %>
      <%= render Primer::Beta::IconButton.new(
        icon: :download,
          tag: :a,
          test_selector: "files_extracted_csv",
          :"aria-label" => "Download language CSV report",
          href: repository_code_scanning_results_tool_status_files_extracted_path(
            user_id: current_repository.owner_display_login,
            repository: current_repository,
            tool_name: params[:tool_name],
            ids: params[:ids],
            format: "csv"
          ),
          data: {
            turbo: false,
          },
        ) %>
    <% end %>
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(my: 2)) do |c| %>
  <% if languages_extracted.blank? %>
    <% c.with_row(test_selector: "no_files_extracted") do %>
      No summary of scanned files reported by <%= tool_name %>
    <% end %>
  <% else %>
    <% languages_extracted.each do |language, value| %>
      <% c.with_row(test_selector: "files_extracted") do %>
        <div>
          <%= render(CodeScanning::ToolStatus::FilesExtractedComponent.new(
            label: format_language(language), files: value, test_selector: "language-#{ language }"
          ))%>
        </div>
      <% end %>
    <% end %>

  <% end %>
<% end %>
