<% page_info title: this_business.name, selected_link: :business_security %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= link_to "Security", stafftools_enterprise_security_path(this_business.slug) %>
    / Unlinked members
  <% end %>
<% end %>

<div class="Box Box--condensed mt-3">
  <div class="Box-header">
    <h3 class="Box-title">
      <%= pluralize(members.total_entries, "unlinked member") %>
    </h3>
  </div>

  <%= render "stafftools/business_external_identities/external_members",
    business: this_business,
    external_members: members %>
</div>

<div class="paginate-container">
  <%= will_paginate members %>
</div>
