<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details
  class="details-reset details-overlay details-overlay-dark col-sm-12 col-lg-4 col-12 pr-2 mb-2 js-achievement-card-details"
  data-achievement-slug="<%= achievement.achievable_slug %>"
  <% if open? %>open<% end %>
>
  <%= render(Primer::ButtonComponent.new(
    tag: :summary,
    align_items: :center,
    block: true,
    h: :full,
    bg: :default,
    border: true,
    border_radius: 2,
    border_color: new? ? :accent : :subtle,
    p: 3,
    position: :relative,
    classes: class_names("achievement-card", "achievement-card-unseen": new?),
  )) do %>
    <% if achievement.user_id == current_user&.id && achievement.hidden? %>
      <%= primer_octicon(
        icon: :"eye-closed",
        size: :small,
        position: :absolute,
        top: 0,
        left: 0,
        m: 2,
        id: "achievement-card-#{achievement.achievable_slug}-hidden",
      ) %>
      <%= render Primer::Alpha::Tooltip.new(
        for_id: "achievement-card-#{achievement.achievable_slug}-hidden",
        type: :description,
        text: "Hidden from your profile.",
        direction: :se,
      ) %>
    <% end %>
    <% if new? %>
      <span class="mt-4 mr-4 color-fg-accent text-semibold position-absolute top-0 right-0">
        New
      </span>
    <% end %>

    <%= render Primer::Alpha::Image.new(
      alt: "Achievement: #{achievement.achievable.display_name}",
      classes: "achievement-badge-card",
      src: badge_asset_path,
      test_selector: "achievement-#{achievement.achievable_slug}-badge",
      width: 128,
    ) %>

    <div class="d-flex flex-justify-center mb-1">
      <h3 class="f4 ws-normal"><%= achievement.achievable.display_name %></h3>
      <%= render(Profiles::User::Achievements::TierLabelComponent.new(
        achievable: achievement.achievable,
        tier: achievement.tier,
        py: 0, px: 2,
        ml: 2,
      )) %>
    </div>
  <% end %>
  <details-dialog
    class="Box Box--overlay border-0"
    aria-label="<%= achievement.achievable.display_name %> details"
    src="<%= detail_src %>"
  ><%# erblint:disable A11yDetailsDialogMigration %>
    <include-fragment <% if open? %>src="<%= detail_src %>"<% end %>>
      <div class="d-flex flex-column">
        <div
          class="Skeleton d-flex flex-items-center flex-justify-center p-3 rounded-top-2 position-relative"
          style="height: 180px;"
        ></div>
        <div class="d-flex flex-items-center flex-justify-center" style="width:100%; height:206px;">
            <%= render Primer::Beta::Spinner.new(size: :large) %>
        </div>
      </div>
    </include-fragment>
  </details-dialog>
</details>
