<% if new_mergebox_feature_enabled? %>
  <div class="merge-pr Details is-merging">
    <%= render partial: "pull_requests/deployments_box_wrapper", locals: { pull: pull_request, gate_requests: gate_requests } %>
    <%= render_react_partial name: "mergebox-partial", ssr: true, props: { defaultMergeMethod: default_merge_method, pullRequestId: pull_request.global_relay_id, basePageDataUrl: pull_request_base_page_data_path, shouldReadFromJSONAPI: read_from_mergebox_json_api_enabled?(current_user), viewerLogin: current_user.display_login  } %>
    <% if show_opt_in_opt_out_react_feature_preview?(current_user: current_user) %>
      <div class="d-flex flex-justify-end">
        <%= form_tag toggle_new_mergebox_path(current_repository.owner_display_login, current_repository.name) do %>
          <%= hidden_field_tag(:pull_number, pull_request.number) %>
          <%= hidden_field_tag(:new_state, "disabled") %>
          <%= render(Primer::Beta::Label.new(scheme: :success)) { "Beta" } %>
          <%= render Primer::Beta::Button.new(scheme: :link, type: :submit, font_size: 6, font_weight: :normal) do %>
            Switch back to the classic merge experience
          <% end %>
          <span> · </span>
          <%= render(Primer::Beta::Link.new(href: new_mergebox_feedback_link, font_size: 6)) { "Give feedback" } %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <include-fragment aria-label="Loading..." src="<%= src_path %>">
    <div class="merge-pr Details is-merging">
      <%# TODO(dzader): see if we can move this to somewhere else %>
      <%= render partial: "pull_requests/deployments_box_wrapper", locals: { pull: pull_request, gate_requests: gate_requests } %>

      <% if show_merge_placeholder? %>
        <div class="ml-0 pl-0 ml-md-6 pl-md-3 my-3 branch-action branch-action-state-dirty">
          <span class="branch-action-icon d-none d-md-flex flex-items-center flex-justify-center">
            <%= primer_octicon(:"git-merge", size: :medium) %>
          </span>
          <div class="branch-action-body timeline-comment--caret" style="min-height: 138px;">
            <%= render(Primer::Beta::Spinner.new(size: :large, mx: :auto, mt: 6, display: :block)) %>
          </div>
        </div>
      <% end %>
    </div>
  </include-fragment>
  <% if new_mergebox_feature_flag_enabled? && show_opt_in_opt_out_react_feature_preview?(current_user: current_user) %>
    <div class="d-flex flex-justify-end">
      <%= form_tag toggle_new_mergebox_path(current_repository.owner_display_login, current_repository.name) do %>
        <%= hidden_field_tag(:pull_number, pull_request.number) %>
        <%= hidden_field_tag(:new_state, "enabled") %>
        <%= emoji_tag(Emoji.find_by_alias("sparkles"), class: "emoji emoji-icon") %>
        <%= render Primer::Beta::Button.new(scheme: :link, type: :submit, font_size: 6, font_weight: :normal) do %>
          Try the new merge experience
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
