<div class="TimelineItem TimelineItem--condensed pt-0 js-comment-container js-socket-channel js-updatable-content js-command-palette-pull-body"
  data-gid="<%= pull_request.global_relay_id %>"
  data-url="<%= data_url %>"
  data-channel-event-name="body_updated"
  data-channel="<%= live_update_view_channel(websocket_channel) %>">

<%= render Primer::Beta::TimelineItem.new(ml: 0, p: 0) do |component| %>
  <% component.with_avatar(src: avatar_url_for(author), href: user_path(author), alt: author&.display_login, shape: :circle, data: hovercard_data_attributes_for_user(author)) %>
<% end %>
<div class= "timeline-comment-group js-minimizable-comment-group js-targetable-element TimelineItem-body my-0"  id="<%= dom_id %>">
  <%= render Comments::CommentComponent.new(
    comment: pull_request,
    classes: "editable-comment js-comment timeline-comment--caret reorderable-task-lists timeline-comment ml-n3"
    ) do |component| %>
    <% component.with_header do %>
      <%= render Comments::CommentHeaderComponent.new(
        comment: pull_request,
        repository: pull_request.repository,
        classes: "timeline-comment-header",
        action_text: action_text,
        show_datestamp: true,
        action_menu_path: action_menu_path
      ) do |header_component| %>
        <%= header_component.with_avatar(display: [:inline_block, nil, :none]) %>
      <% end %>
    <% end %>

    <% component.with_body do %>
      <div>
        <%= render PullRequests::CommentBodyComponent.new(comment: pull_request, body_html: body_html) %>
      </div>
    <% end %>
    <% component.with_reactions do %>
      <div class="pr-review-reactions">
        <%= render PullRequests::ReactionsComponent.new(target: pull_request, popover_direction: "se") %>
      </div>
    <% end %>
    <% component.with_edit_form do %>
      <%= form_tag form_path, method: :put, class: "js-comment-update", id: "#{dom_id}-edit-form", "data-type" => "json" do %>
          <%= render Comments::DeferredEditFormComponent.new(form_path: form_path, comment_context: nil, textarea_id: "#{dom_id}-body") %>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
