<% if expandable %>
  <% if link && repository %>
    <span class="<%= extra_classes %> <%= expandable_classes %>">
      <a href="<%= tree_path("", branch, repository) %>" class="no-underline <%= extra_link_classes %>">
        <% if branch_octicon %>
          <%= octicon(:'git-branch', class: "v-align-middle	#{octicon_classes}") %>
        <% end %>
        <%= render PullRequests::BranchNameComponent.new(repository: repository, branch: branch, prepend_login: prepend_login, suffix: suffix, truncate_branch_only: truncate_branch_only) %>
      </a>
    </span>
    <% if copy_button %>
      <span>
        <%= render Primer::Beta::ClipboardCopy.new(classes: "Link--onHover", color: :muted, value: full_branch_name, "aria-label": "Copy", "data-copy-feedback": "Copied!", ml: 1) %>
      </span>
    <% end %>
  <% else %>
    <span class="<%= extra_classes %> <%= expandable_classes %>">
      <% if branch_octicon %>
        <%= octicon(:'git-branch', class: "v-align-middle	#{octicon_classes}") %>
      <% end %>
      <%= render PullRequests::BranchNameComponent.new(repository: repository, branch: branch, prepend_login: prepend_login, suffix: suffix, truncate_branch_only: truncate_branch_only) %>
    </span>
  <% end %>
<% else %>
  <% if link && repository %>
    <span class="<%= extra_classes %>">
      <a href="<%= tree_path("", branch, repository) %>" class="no-underline <%= extra_link_classes %>">
        <% if branch_octicon %>
          <%= octicon(:'git-branch', class: "v-align-middle	#{octicon_classes}") %>
        <% end %>
        <%= render PullRequests::BranchNameComponent.new(repository: repository, branch: branch, prepend_login: prepend_login, suffix: suffix, truncate_branch_only: truncate_branch_only) %>
      </a>
    </span>
  <% else %>
    <span class="<%= extra_classes %>">
      <% if branch_octicon %>
        <%= octicon(:'git-branch', class: "v-align-middle	#{octicon_classes}") %>
      <% end %>
      <%= render PullRequests::BranchNameComponent.new(repository: repository, branch: branch, prepend_login: prepend_login, suffix: suffix, truncate_branch_only: truncate_branch_only) %>
    </span>
  <% end %>
<% end %>
