<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag gh_cleanup_codespaces_path(pull), :class => "ml-0 pl-0 ml-md-6 pl-md-3 my-3 branch-action branch-action-state-merged js-immediate-updates js-cleanup-branch-form js-needs-timeline-marker-header#{ cleanup_did_error ? " d-none" : "" }" do %>
  <span class="branch-action-icon d-none d-md-flex flex-items-center flex-justify-center">
    <%= primer_octicon(:"git-merge", size: :medium) %>
  </span>
  <div class="branch-action-body timeline-comment--caret">
    <div class="post-merge-message d-flex flex-md-row flex-column flex-items-start">
      <%= render Primer::ButtonComponent.new(
        float: :right,
        w: [:full, nil, :auto],
        mt: [3, nil, 0],
        classes: "flex-md-order-1 flex-order-2",
        type: :submit,
        data: {
          disable_with: "",
          confirm: "Are you sure you want to delete #{pluralize(codespaces.count, 'codespace')} for #{pull.head_label}?",
        }) do %>
        Delete <%= "codespace".pluralize(codespaces.count) %>
      <% end %>
      <div class="js-details-container Details flex-auto">
        <h4 class="merge-branch-heading lh-md-condensed lh-default">Branch successfully deleted</h4>
        <p class="merge-branch-description mr-md-6 mr-0">
          You’re all set&mdash;the <%= pluralize(codespaces.count, "codespace") %> for <%= head_label %> can be safely deleted.
          <span>
            <br> If you wish, you can also manage your codespaces in the <%= link_to "settings", repository_codespaces_path(pull.repository), class: "Link--inTextBlock" %>.
          </span>
        </p>
      </div>
    </div>
  </div>
<% end %>
