<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="js-minimize-comment d-none">
  <%= render Primer::Beta::Flash.new(full: true, scheme: :danger, classes: "js-comment-show-on-error", hidden: true) do %>
    <button class="flash-close js-comment-hide-minimize-form" type="button">
      <%= primer_octicon(:x, 'aria-label' => "Cancel hiding comment") %>
    </button>

    <p>There was a problem hiding this comment.</p>
  <% end %>

 <%= render Primer::Beta::Flash.new(full: true, scheme: :warning, classes: "js-comment-hide-on-error") do |component| %>
    <button class="flash-close js-comment-hide-minimize-form" type="button">
      <%= primer_octicon(:x, 'aria-label' => "Cancel hiding comment") %>
    </button>

    <h3 class="f4">Choose a reason for hiding this comment</h3>

    <p class="mb-3">
      The reason will be displayed to describe this comment to others. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/managing-disruptive-comments/#hiding-a-comment" aria-label="Learn more about hiding disruptive comments">Learn more</a>.
    </p>

    <%= form_tag path, method: :put, class: "js-timeline-comment-minimize d-md-inline-block d-flex" do %>
      <select name="classifier" class="form-select mr-2" aria-label="Reason" required>
        <option value>
        Choose a reason
        </option>
        <%= options_for_select(minimize_reasons_for_select) %>
      </select>
      <%= render Primer::Beta::Button.new(display: :inline_block, type: :submit) do %>
        Hide <span class="d-md-inline-block d-none">comment</span>
      <% end %>
    <% end %>
  <% end %>
</div>
