<div class="edit-comment-hide">
  <%= render PullRequests::CommentMinimizeFormComponent.new(comment: comment) %>
  <task-lists disabled sortable>
    <div class="<%= body_classes %>">
    <% if body_html.present?%>
      <%= body_html %>
    <% else %>
      <p class="color-fg-muted">
        <em> <%= PLACEHOLDER_MESSAGE %> </em>
      </p>
    <% end %>
    </div>
  </task-lists>
  <%= actions %>
</div>
