<%= stylesheet_bundle "drafts-upgrade-dialog-component" %>

<dialog-hydro <%= dialog_close_hydro_attributes %>>
  <%= render(Primer::Alpha::Dialog.new(
    title: "",
    id: "drafts-upgrade-dialog",
    size: :large,
    bg: :default
  )) do |dialog| %>
    <% dialog.with_body(
      mt: -6,
      px: 0,
      pb: 0,
      border_radius: 3
    ) do %>
      <div class="px-3 pt-6 mb-n5 drafts-upgrade-dialog-hero" data-color-mode="<%= active_color_mode.name%>">
        <%= color_theme_picture_tag(
          {
            light: "modules/pulls/drafts_upgrade_dialog/hero-image-light.png",
            dark: "modules/pulls/drafts_upgrade_dialog/hero-image-dark.png"
          },
          alt: "",
          "aria-hidden": "true",
          width: 504,
          class: "width-full"
        ) %>
      </div>
      <div class="position-relative z-1 mb-3">
        <div class="color-bg-default pt-3 px-6">
          <h2 class="h2 color-fg-default mb-2">Try draft pull requests</h2>
          <span class="f5 color-fg-muted">Open an in-progress pull request without asking for formal review or risking an unwanted merge. When you're ready for code review, you can mark your draft pull request as ready for review, which will request reviews from any code owners.</span>
        </div>
        <div class="d-flex flex-wrap flex-justify-start flex-items-center px-6 mb-3">
          <% if repository.owner.user? && repository.owner == current_user %>
            <%= render(Primer::Beta::Button.new(
              mr: 3,
              my: 3,
              tag: :a,
              href: new_move_work_path(current_user, repository: repository, feature: "draft_prs"),
              target: "_blank",
              aria: {
                label: "Upgrade your GitHub membership to use draft pull requests. This action opens in a new tab."
              },
              data: {
                test_selector: "upgrade_cta_move_work",
                **analytics_click_attributes(
                  category: "sculk_draft_pr_#{location}",
                  action: "click_to_move_work",
                  label: "ref_cta:upgrade;ref_loc:pr_#{location}"
                )
              }
            )) do %>
              <span>
                Upgrade
                <%= render(Primer::Beta::Octicon.new(icon: "link-external")) %>
              </span>
            <% end %>
          <% elsif repository.owner.organization? %>
            <% if repository.organization.adminable_by?(current_user) %>
              <%= render(Primer::Beta::Button.new(
                mr: 3,
                my: 3,
                tag: :a,
                href: settings_org_plans_path(repository.organization),
                target: "_blank",
                aria: {
                  label: "Upgrade your GitHub membership to use draft pull requests. This action opens in a new tab."
                },
                data: {
                  test_selector: "upgrade_cta_compare_plans",
                  **analytics_click_attributes(
                    category: "sculk_draft_pr_#{location}",
                    action: "click_to_compare_plans",
                    label: "ref_cta:upgrade;ref_loc:pr_#{location}"
                  )
                }
              )) do %>
                <span>
                  Upgrade
                  <%= render(Primer::Beta::Octicon.new(icon: "link-external")) %>
                </span>
              <% end %>
            <% else %>
              <%= render(Organizations::MemberRequests::FeatureRequestComponent.new(
                requester: current_user,
                organization: repository.organization,
                feature: MemberFeatureRequest::Feature::DraftPullRequests,
              )) do |c| %>
                <%= c.with_request_cta(
                  mr: 3,
                  my: 3,
                  data: analytics_click_attributes(
                    category: "member_feature_request",
                    action: "action.#{MemberFeatureRequest::Feature::DraftPullRequests}",
                    label: "ref_cta:ask_admin_for_access;ref_loc:draft_pr_#{location};"
                  )
                ) do %>
                  Ask admin for access
                <% end %>
                <%= c.with_remove_request_cta(scheme: :link) { "Remove request" } %>
                <% c.with_requested_message do %>
                  <span class="d-inline-block color-fg-subtle mt-2">You've successfully submitted a request to your organization's admins for this feature.
                  </span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <%= render(Primer::Beta::Link.new(
            my: 3,
            href: "#{GitHub.developer_help_url}/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests#draft-pull-requests",
            target: "_blank",
            aria: {
              label: "Click this link to learn more about draft pull requests. This action opens in a new tab."
            },
            data: {
              test_selector: "learn_more_cta",
              **analytics_click_attributes(
                category: "sculk_draft_pr_#{location}",
                action: "click_to_learn_more_draft_prs",
                label: "ref_cta:learn_more;ref_loc:pr_#{location}"
              )
            },
            style: "font-size: 14px;",
            weight: :bold
          )) do %>
            Learn about draft PRs
            <%= render(Primer::Beta::Octicon.new(icon: "link-external")) %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</dialog-hydro>
