<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div id="<%= anchor %>" class="js-comment">
  <%= render Primer::Beta::TimelineItem.new do |component| %>
    <% component.with_avatar(src: avatar_url_for(author), alt: author&.display_login, shape: :circle) %>
    <% component.with_badge(icon: "eye") %>
    <% component.with_body do %>
      <strong>
        <%= render Comments::CommentActorComponent.new(actor: author) %>
      </strong>

      reviewed

      <a href="#<%= discussion_anchor %>" class="Link--secondary Link--inTextBlock">
        <%= time_ago_in_words_js first_comment.created_at %>
      </a>

      <div class="float-right">
        <% if diff_path %>
          <%= render Primer::ButtonComponent.new(tag: :a, variant: :small, href: diff_path).with_content("View reviewed changes") %>
        <% else %>
          <%= render Primer::Tooltip.new(label: "The full changes referenced by this comment are no longer available.",
                                         direction: :s,
                                         multiline: true) do %>
            <%= render Primer::ButtonComponent.new(tag: :a, variant: :small, classes: ["disabled"]).with_content("View reviewed changes") %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= render Primer::Beta::TimelineItem.new(pt: 0) do |component| %>
    <% component.with_body(ml: 4, mt: 0) do %>
      <%= render PullRequests::ReviewThreadComponent.new(review_thread_or_comment: pull_request_review_thread, pull_request: pull_request) %>
    <% end %>
  <% end %>
</div>
