<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% content = capture do %>
  <div class="<%= class_names("d-flex flex-auto flex-items-center js-collab-option", "ml-3" => !include_form?)%>">
    <label class="d-flex" <%= test_selector("maintainer-edit-toggle-label") %>>
      <input
        type="checkbox"
        class="<%= class_names("mr-2", "js-collab-checkbox" => include_form?) %>"
        name="collab_privs"
        <% if checked? %>checked<% end %>
      >
      <%= label %>
    </label>

    <%= render Primer::Beta::Button.new(
      scheme: :link,
      classes: "Link--secondary",
      id: "dialog-show-maintainer-edits-help",
      aria: { label: "Learn more about allowing maintainer edits" },
      data: { show_dialog_id: "maintainer-edits-help" },
      ml: 1,
    ) do %>
      <%= render Primer::Beta::Octicon.new(
        icon: :question,
        vertical_align: include_form? ? :top : nil,
      ) %>
    <% end %>

    <%= render(Primer::Alpha::Dialog.new(
      title: "Allowing edits by maintainers",
      id: "maintainer-edits-help",
    )) do |dialog| %>
      <% dialog.with_body do %>
        <p>
          If checked, <strong>users with write access to <%= pull_request.base_repository.name_with_display_owner %>
          can add new commits</strong> to your
          <span class="branch-name"><%= pull_request.display_head_ref_name %></span> branch.
        </p>

        <p>You can always change this setting later.</p>

        <% if exposes_secrets? %>
          <%= render Primer::Beta::Flash.new(scheme: :warning, test_selector: "maintainer-edit-secrets-warning") do %>
            Note: By granting write access, maintainers could potentially edit your repository's workflows to
            reveal values of secrets and gain access to other branches.
          <% end %>
        <% end %>
      <% end %>

      <% dialog.with_footer do %>
        <%= render(Primer::Beta::Button.new(data: { close_dialog_id: "maintainer-edits-help" })) { "Got it" } %>
      <% end %>
    <% end %>

    <% if include_form? %>
      <span class="status-indicator js-status-indicator">
        <%= render Primer::Beta::Octicon.new(icon: :check) %>
        <%= render Primer::Beta::Octicon.new(icon: :x) %>
      </span>
    <% end %>
  </div>
<% end %>

<% if include_form? %>
  <%= form_tag(
    pull_request_collaborator_edits_setting_path(
      base_repository.owner_display_login,
      base_repository.name,
      pull_request.number
    ),
    :class => "js-collab-form inline-form",
    "data-autosubmit" => true,
    :method => :post,
  ) do %>
    <%= content %>
  <% end %>
<% else %>
  <%= content %>
<% end %>
