<% if has_multiple_emails? %>
  <div class="<%= class_names("commit-author-fields", "current-user-is-author": current_user_is_author?) %>">
    <p class="note">
      <label for="commit-author-email" class="text-normal">
        Choose which email address to associate with this commit
      </label>
    </p>
    <select class="form-select" id="commit-author-email" name="author_email">
      <% user_emails.each do |email| %>
        <option <%= "selected" if email == default_email %> value="<%= email %>">
          <%= email %>
        </option>
      <% end %>
    </select>
  </div>
<% else %>
  <div class="merge-commit-author-email-info note text-normal">
    This commit will be authored by <%= pull_request.merge_commit_author_email(current_user) %>
  </div>
<% end %>

<% if !current_user_is_author? || user_emails.empty? %>
  <div class="squash-commit-author-email-info note text-normal">
    This commit will be authored by <%= pull_request.squash_commit_author_email(current_user) %>
  </div>
<% end %>
