<%# erblint:counter DeprecatedComponentsCounter 8 %>
<div class="js-auto-merge-box">
  <div>
    <p class="merging-directly-warning color-fg-danger text-small">
      As an administrator, you may merge this pull request directly without using the merge queue.
    </p>
  </div>

  <div class="select-menu d-flex flex-items-center" <%= test_selector("merge-queue-status") %>>
    <% if in_merge_queue? %>
      <%= render Primer::ButtonComponent.new(
        scheme: :primary,
        disabled: true,
        mr: 2,
      ).with_content("Queued to merge...") %>
      <%= link_to "View merge queue", merge_queue_path(repository.owner_display_login, repository.name, merge_queue_branch: merge_queue.branch), class: "btn" %>
    <% elsif merge_when_ready_button_disabled? %>
      <div class="BtnGroup position-relative flex-shrink-0">
        <%= render Primer::ButtonComponent.new(
          disabled: true,
          "aria-expanded": false,
          classes: "btn-group-merge-group BtnGroup-item js-details-target",
        ).with_content("Merge when ready") %>

        <%= render Primer::ButtonComponent.new(
          disabled: true,
          "aria-label": "Select merge queue method",
          classes: "select-menu-button BtnGroup-item",
        ) %>
      </div>
    <% else %>
      <div class="BtnGroup position-relative flex-shrink-0">
        <%= render Primer::ButtonComponent.new(
          disabled: !viewer_can_add_to_merge_queue?,
          "aria-expanded": false,
          border_right: 0,
          scheme: merge_button_scheme,
          "data-details-container": ".js-merge-pr",
          classes: "btn-group-merge-group BtnGroup-item js-details-target",
        ).with_content("Merge when ready") %>

        <%= render Primer::ButtonComponent.new(
          disabled: !viewer_can_add_to_merge_queue_solo?,
          "aria-expanded": false,
          border_right: 0,
          scheme: merge_button_scheme,
          test_selector: "solo-merge-button",
          "data-details-container": ".js-merge-pr",
          classes: "btn-group-merge-solo rounded-left-2 BtnGroup-item js-details-target",
        ).with_content("Queue and force solo merge") %>

        <%= render Primer::ButtonComponent.new(
          disabled: !viewer_can_jump_merge_queue?,
          "aria-expanded": false,
          border_right: 0,
          scheme: merge_button_scheme,
          "data-details-container": ".js-merge-pr",
          classes: "btn-group-merge-jump rounded-left-2 BtnGroup-item js-details-target",
        ).with_content("Jump the queue") %>

        <%= render Primer::ButtonComponent.new(
          "aria-expanded": false,
          scheme: :danger,
          "data-details-container": ".js-merge-pr",
          classes: "btn-group-merge-directly rounded-left-2 BtnGroup-item js-details-target",
        ).with_content("Merge pull request") %>

        <details class="details-reset details-overlay BtnGroup-parent">
          <%= render(Primer::ButtonComponent.new(
            "aria-label": "Select merge queue method",
            tag: :summary,
            scheme: merge_button_scheme,
            "data-merge-button-class": "btn-#{merge_button_scheme}",
            classes: "select-menu-button BtnGroup-item js-merge-method-menu-button",
          )) %>

          <details-menu
            class="select-menu-modal select-menu-merge-method js-merge-method-menu position-absolute left-0"
            style="top: 100%; z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-list">
              <button class="width-full select-menu-item"
                aria-checked="true"
                role="menuitemradio"
                value="group"
                type="button"
                data-input-title-value="<%= pull_request.default_merge_commit_title %>"
                data-input-message-value="<%= pull_request.default_merge_commit_message %>">
                <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                <div class="select-menu-item-text">
                  <span class="select-menu-item-heading">Queue and merge in a group</span>
                  <span class="description">
                    This pull request will be automatically grouped with other pull requests
                    and merged into <%= pull_request.base_ref_name %>.
                  </span>
                </div>
              </button>

              <% if show_queue_and_force_solo_merge_button? %>
                <button class="width-full select-menu-item"
                  aria-checked="false"
                  role="menuitemradio"
                  value="solo"
                  type="button"
                  <%= test_selector("solo-merge-ui-button") %>
                  data-input-title-value="<%= pull_request.default_squash_commit_title %>"
                  data-input-message-value="<%= pull_request.default_squash_commit_message %>">
                  <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                  <div class="select-menu-item-text">
                    <span class="select-menu-item-heading">Queue and force solo merge</span>
                    <span class="description">
                      This pull request will be merged into <%= pull_request.base_ref_name %> by itself.
                    </span>
                  </div>
                </button>
              <% end %>

              <% if show_jump_the_queue_button? %>
                <button class="width-full select-menu-item"
                  aria-checked="false"
                  role="menuitemradio"
                  value="jump"
                  type="button"
                  data-input-title-value="<%= pull_request.default_squash_commit_title %>"
                  data-input-message-value="<%= pull_request.default_squash_commit_message %>">
                  <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                  <div class="select-menu-item-text">
                    <span class="select-menu-item-heading">Jump the queue</span>
                    <span class="description">
                      This pull request will be added at to the front of the queue and merged into
                      <%= pull_request.base_ref_name %> as soon as possible.
                    </span>
                  </div>
                </button>
              <% end %>
            </div>
          </details-menu>
        </details>
      </div>
    <% end %>

    <p class="merge-queue-info v-align-middle ml-2 mb-0 text-small">
      This repository uses the
      <%= link_to "merge queue", merge_queue_path(repository.owner_display_login, repository.name, merge_queue_branch: merge_queue.branch), class: "Link--inTextBlock" %>
      for all merges into the <%= pull_request.base_ref_name %> branch.

      <% if display_time_estimate %>
        <span class="merge-queue-time-to-merge" <%= test_selector("time-to-merge") %>>
          Estimated time to merge: <%= precise_duration(time_estimate) %>.
        </span>
      <% end %>
    </p>
  </div>
</div>
