<% if can_see_minimized_by_staff_comment %>
  <details class="<%= class_names("js-comment Details-element details-reset", details_classes) %>" data-body-version="<%= comment.body_version %>">
    <summary class="<%= class_names("rounded-2 py-0 px-2", summary_classes) %>">
      <div class="d-flex flex-justify-between flex-items-center">
        <h3 class="timeline-comment-header-text f5 color-fg-muted text-normal text-italic">
          <%= render partial: "comments/minimized_comment_header", locals: {
            minimized_by_staff: comment.minimized_by_staff?,
            minimized_reason: minimized_reason,
            spammy: comment.spammy?
          } %>
        </h3>
        <% if logged_in? %>
          <div class="Details-content--closed color-fg-muted f6 no-wrap"><%= primer_octicon(:unfold, position: :relative, mr: 1) %>Show comment</div>
          <div class="Details-content--open color-fg-muted f6 no-wrap"><%= primer_octicon(:fold, position: :relative, mr: 1) %>Hide comment</div>
        <% else %>
          <div class="color-fg-muted text-small">
            <%= link_to("Sign in to view", login_path_with_return, rel: "nofollow", class: "Link--secondary") %>
          </div>
        <% end %>
      </div>
    </summary>

    <div class="minimized-comment">
      <include-fragment <%= test_selector("comment_edit_form_deferred") %> loading="lazy" src="<%= path %>">
        <p class="text-center mt-3" data-hide-on-error>
          <%= render(Primer::Beta::Spinner.new("aria-label": "Loading...")) %>
        </p>
        <p class="ml-1 mb-2 mt-2" data-show-on-error hidden>
          <%= primer_octicon(:alert) %>
          Sorry, something went wrong.
        </p>
      </include-fragment>
    </div>
  </details>
<% else %>
  <div class="<%= class_names("rounded-2 py-0 px-2", summary_classes) %>">
    <div class="d-flex flex-justify-between flex-items-center">
      <div class="timeline-comment-header-text f5 color-fg-muted text-normal text-italic">
        <%= render partial: "comments/minimized_comment_header", locals: {
          minimized_by_staff: comment.minimized_by_staff?,
          minimized_reason: minimized_reason,
          spammy: comment.spammy?
        } %>
      </div>
    </div>
  </div>
<% end %>
