<%- if render_focused_item_loader %>
  <div id="js-timeline-progressive-loader" data-timeline-item-src="<%= focused_item_path %>" ></div>
<% end %>

<%- if has_previous_page %>
  <div id="js-progressive-timeline-item-container">
    <%= form_tag pull_timeline_more_items_path(id: timeline_owner.pull_request_number, after_cursor: previous_page_after_cursor, before_cursor: previous_page_before_cursor), method: :get, class: "ajax-pagination-form js-ajax-pagination pagination-loader-container mt-4 mb-4 ml-0 text-center" do %>
      <div class="discussion-item-header pt-0">
        <div class="Box d-inline-flex flex-column">
          <button type="submit" class="color-fg-muted ajax-pagination-btn no-underline pb-0 pt-2 px-4 mt-0 mb-1 color-bg-default border-0">
            <%= pluralize(previous_page_hidden_items_count, "hidden item") %>
          </button>
          <button type="submit" class="ajax-pagination-btn no-underline pb-1 pt-0 px-4 mt-0 mb-1 color-bg-default border-0" data-disable-with="Loading…">
            Load more…
          </button>
        </div>
      </div>
    </div>
  <%- end %>
<%- end %>

<%- group_timeline_nodes(start_nodes, group_repeated_comments: true).each do |group| %>
  <%= render "timeline/group", group: group, deferred_comment_actions: true %>
<%- end %>

<%- if has_next_page %>
  <div id="js-progressive-timeline-item-container">
    <%= form_tag pull_timeline_more_items_path(id: timeline_owner.pull_request_number, after_cursor: next_page_after_cursor, before_cursor: next_page_before_cursor, exclude_item_types: params[:exclude_item_types]), method: :get, class: "ajax-pagination-form js-ajax-pagination pagination-loader-container mt-4 mb-4 ml-0 text-center" do %>
      <div class="discussion-item-header pt-0">
        <div class="Box d-inline-flex flex-column">
          <button type="submit" class="color-fg-muted ajax-pagination-btn no-underline pb-0 pt-2 px-4 mt-0 mb-1 color-bg-default border-0">
            <%= pluralize(next_page_hidden_items_count, "hidden item") %>
          </button>
          <button type="submit" class="ajax-pagination-btn no-underline pb-1 pt-0 px-4 mt-0 mb-1 color-bg-default border-0" data-disable-with="Loading…">
            Load more…
          </button>
        </div>
      </div>
    </div>
  <%- end %>
<%- end %>

<% if end_nodes.any? %>
  <%- group_timeline_nodes(end_nodes, group_repeated_comments: true).each do |group| %>
    <%= render "timeline/group", group: group, deferred_comment_actions: true %>
  <%- end %>
<%- end %>
