<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="ml-0 pl-0 ml-md-6 pl-md-3 mt-3 branch-action mb-0 enqueued-pull-request">
  <span class="branch-action-icon d-none d-md-flex flex-items-center flex-justify-center color-fg-on-emphasis color-bg-attention-emphasis">
    <%= primer_octicon(:"git-merge-queue", size: :medium) %>
  </span>
  <div class="branch-action-body timeline-comment--caret color-border-attention-emphasis">
    <div class="mergeability-details js-details-container Details">
      <div class="branch-action-item">
        <% if viewer_can_remove_from_queue? %>
          <%# form response handled in app/assets/modules/github/pulls/merge.ts %>
          <%= form_tag(
            merge_queue_entry_path(
              repository: repository,
              user_id: repository.owner_display_login,
              merge_queue_branch: merge_queue_branch,
              id: queue_entry.id
            ),
            method: :delete,
            data: { "test-selector" => "remove-from-queue-form", "type" => "json" },
            class: "js-remove-from-queue-form"
          ) do %>
            <%= render Primer::ButtonComponent.new(
              type: :submit,
              float: :right,
              mt: 1,
              ml: 1,
              disabled: locked?,
              test_selector: "remove-from-queue-button",
              data: {
                confirm: "Are you sure you want to remove this PR from the merge queue?",
                disable_with: "Removing from queue..."
              }
            ) do %>
              Remove from queue
            <% end %>
          <% end %>
        <% end %>
        <div class="branch-action-item-icon completeness-indicator">
          <%= render :partial => "statuses/loading_circle" %>
        </div>
        <div class="h4 status-heading color-fg-attention">Queued to merge&hellip;</div>
        <span class="status-meta">
          <%= ahead_in_queue_message_prefix %> the <%= link_to "merge queue", merge_queue_path(repository.owner_display_login, repository, merge_queue_branch), class: "Link--inTextBlock" %>.
        </span>
      </div>

      <% if merge_conflict? %>
        <div class="branch-action-item">
          <div class="branch-action-item-icon completeness-indicator completeness-indicator-problem">
            <%= primer_octicon(:alert) %>
          </div>
          <h3 class="h4 status-heading">Merge conflicts with other changes</h3>
          <span class="status-meta">
            There are merge conflicts with at least one pull request ahead of this pull request in the queue. This will cause this pull request to be removed if those pull requests are merged.
          </span>

          <% if conflicting_files.present? %>
            <h4 class="mt-1">Conflicting files</h4>
            <% conflicting_files.each do |file| %>
              <div class="pt-1 pb-1">
                <code><%= GitHub::Encoding.try_guess_and_transcode(file) %></code>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
