<%= render Comments::CommentComponent.new(
  id: diff_comment_id(pull_request_review_comment, comment_context),
  comment: pull_request_review_comment,
  classes: class_names("review-comment", "js-minimize-container": !render_minimized, "js-pending-review-comment": pull_request_review_comment.pending?)
) do |component| %>
  <% if pull_request_review_comment.minimized? && !render_minimized %>
    <% component.with_minimized_comment do %>
      <%= render PullRequests::MinimizedCommentComponent.new(comment: pull_request_review_comment, path: comment_path) %>
    <% end %>
  <% end %>
  <% component.with_header do %>
    <%= render Comments::CommentHeaderComponent.new(
      comment: pull_request_review_comment,
      action_menu_path: action_menu_path,
      repository: pull_request.repository,
      classes: "ml-n1 flex-items-center flex-row-reverse",
      show_datestamp: pull_request_review_comment.submitted_at.present?,
      permalink_url: "##{diff_comment_id(pull_request_review_comment, comment_context)}",
      action_text: "",
    ) do |header_component| %>
      <%= header_component.with_avatar(display: [:inline_block], size: 24) %>
      <%= header_component.with_badge do %>
        <% if pull_request_review_comment.pending? %>
          <%= render Primer::Beta::Label.new(scheme: :warning, ml: 1, title: "Label: Pending").with_content("Pending") %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% component.with_body do %>
    <div class="ml-5">
      <%= render PullRequests::CommentBodyComponent.new(comment: pull_request_review_comment, body_html: pull_request_review_comment.prelude_body_html({context: body_html_context})) do |body_component| %>
        <% body_component.with_actions do %>
          <%= render PullRequests::CommentSuggestedChangesActionsComponent.new(comment: pull_request_review_comment, pull_request: pull_request, batch_suggestions_disabled: true) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% component.with_reactions do %>
    <div class="ml-5 edit-comment-hide">
      <%= render PullRequests::ReactionsComponent.new(target: pull_request_review_comment, popover_direction: "ne") %>
    </div>
  <% end %>
  <% component.with_edit_form do %>
    <%# TODO (skalnik): This `mt-2` shows up even when the comment isn't being
      edited, adding some phantom padding to the bottom of the form %>
    <%= form_tag comment_path, method: :put, class: "mt-2 js-comment-update", id: nil, "data-type" => "json" do %>
      <%= render Comments::DeferredEditFormComponent.new(form_path: comment_path, comment_context: comment_context, textarea_id: "#{comment_dom_id(pull_request_review_comment)}-body") %>
    <% end %>
  <% end %>
<% end %>
