<div class="blob-wrapper border-bottom js-check-bidi">
  <%= render Diffs::DeferredDiffLinesComponent.new(
    context_lines: context_lines,
    highlighting_mode: (
      found_highlighted_lines_in_cache? \
        ? Diffs::DeferredDiffLinesComponent::HighlightingModes::IMMEDIATE
        : highlighting_mode
    ),
    url: deferred_syntax_url,
    inputs: deferred_syntax_inputs,
  ) do %>
    <table class="<%= class_names("diff-table", "tab-size", "soft-wrap" => soft_wrap?(pull_request_review_thread.path)) %> js-diff-table"
      data-tab-size="<%= tab_size(pull_request_review_thread.path) %>"
      data-paste-markdown-skip>
      <% diff_lines.each do |line| %>
        <% if line[:type] == :hunk %>
          <tr data-position="<%= line[:position] %>">
            <td class="blob-num blob-num-hunk non-expandable" data-line-number="..."></td>
            <td class="blob-num blob-num-hunk non-expandable" data-line-number="..."></td>
            <td class="blob-code blob-code-inner blob-code-hunk" colspan="2"><%= line[:text] %></td>
          </tr>
        <% else %>
          <tr>
            <% downcased_line_type = line[:type].downcase %>

            <% if line[:type] == :addition %>
              <td class="blob-num blob-num-<%= downcased_line_type %> empty-cell"></td>
            <% else %>
              <td data-line-number="<%= line[:left] %>" class="blob-num blob-num-<%= downcased_line_type %>"></td>
            <% end %>

            <% if line[:type] == :deletion %>
              <td class="blob-num blob-num-<%= downcased_line_type %> empty-cell"></td>
            <% else %>
              <td data-line-number="<%= line[:right] %>" class="blob-num blob-num-<%= downcased_line_type %>"></td>
            <% end %>

            <td class="blob-code blob-code-<%= downcased_line_type %>">
              <span class="blob-code-inner blob-code-marker-<%= downcased_line_type %>"><%= line[:html] %></span>

              <% if line[:no_newline_at_end] %>
                <span class="no-nl-marker">
                  <%= primer_octicon(:"no-entry") %> <span class="color-fg-muted"> No newline at end of file </span>
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
</div>
