<turbo-frame id="review-thread-or-comment-id-<%= review_thread_or_comment.id %>" target="_top">
  <%= render Primer::Beta::Details.new(
    mb: rendering_on_files_tab ? 0 : 3,
    border: true,
    border_radius: 2,
    classes: "review-thread-component js-comment-container js-resolvable-timeline-thread-container Details-element",
    reset: true,
    open: !collapse_by_default?,
    data: { resolved: resolved?, "deferred-details-content-url": deferred_content_url, "hidden-comment-ids": resolved_thread_comments_ids },
    test_selector: test_selector
  ) do |component| %>
    <% component.with_summary(hidden: summary_hidden?, button: false, py: 2, px: 3, border_radius: 2, bg: :subtle, classes: class_names("js-toggle-outdated-comments": collapse_by_default?), test_selector: 'file-header') do %>
      <div class="d-flex flex-items-center">
        <span class="flex-auto mr-3 d-flex flex-items-center">
          <% if !rendering_on_files_tab %>
            <% if resource_path %>
              <a href="<%= resource_path %>" class="text-mono text-small Link--primary wb-break-all mr-2"><%= filename %></a>
            <% else %>
              <span class="text-mono text-small wb-break-all mr-2"><%= filename %></span>
            <% end %>
          <% elsif resolved? %>
            <div class="d-lg-inline d-block px-md-0 px-3 pb-md-0 pb-3">
              <% if resolved_by_actor %>
                <strong><%= resolved_by_actor.display_login %></strong> marked this conversation as resolved.
              <% else %>
                This conversation was marked as resolved.
              <% end %>
            </div>
          <% end %>

          <% if fixed_code_scanning_alert? %>
            <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: Fixed", test_selector: "fixed-label") do %>
              Fixed
            <% end %>
          <% elsif dismissed_code_scanning_alert? %>
            <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: Dismissed", test_selector: "dismissed-label") do %>
              Dismissed
            <% end %>
          <% elsif pull_request_review_thread.outdated? %>
            <%= render Primer::Beta::Label.new(scheme: (resolved? ? :secondary : :warning), title: "Label: Outdated") do %>
              Outdated
            <% end %>
          <% end %>
        </span>
        <% if resolved? || collapse_by_default? %>
          <span class="btn-link color-fg-muted f6 Details-content--closed"><%= primer_octicon(icon: :unfold, mr: 1) %>Show <%= collapse_reason_message %></span>
          <span class="btn-link color-fg-muted f6 Details-content--open"><%= primer_octicon(icon: :fold, mr: 1) %>Hide <%= collapse_reason_message %></span>
        <% end %>
      </div>
    <% end %>

    <% if collapse_by_default? %>
      <% component.with_body(test_selector: "deferred-review-thread-body") do %>
        <include-fragment>
          <%= render(Primer::Beta::Spinner.new(size: :large, my: 3, mx: :auto, display: :block, "aria-label": "Loading")) %>
        </include-fragment>
      <% end %>
    <% else %>
      <% component.with_body(test_selector: "review-thread-body") do %>
        <%= render PullRequests::ReviewThreadBodyComponent.new(
          review_thread_or_comment: review_thread_or_comment,
          pull_request: pull_request,
          rendering_on_files_tab: rendering_on_files_tab,
        ) %>
      <% end %>
    <% end %>
  <% end %>
</turbo-frame>
