<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag pull_requests_survey_answer_path(repository: repository.name, user_id: repository.owner_display_login) do %>
  <% questions.each do |question| %>
    <div class="form-group mb-5">
      <div class="form-group-header">
        <%= label_tag "question-#{question.id}", question.text %>
      </div>
      <div class="form-group-body">
        <% if freeform?(question) %>
          <% choice = question.choices.first %>
          <%= hidden_field_tag "answers[#{question.id}][choice]", choice.id %>
          <%= text_area_tag "answers[#{question.id}][other][#{choice.id}]", "",
            id: "question-#{question.id}",
            class: "form-control",
            style: "min-height: 100px; height: 100px;",
            "aria-label" => question.text
          %>
        <% else %>
          <% question.choices.each do |choice| %>
            <div class="form-checkbox">
              <label class="text-normal">
                <%= radio_button_tag "answers[#{question.id}][choice]", choice.id, false, required: required?(question) %>
                <%= choice.text %>
                <%= text_field_tag "answers[#{question.id}][other][#{choice.id}]", nil, class: "form-control", :"aria-label" => "Other choice" if choice.other? %>
              </label>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>
  <% end %>
  <% if return_to.present? %>
    <%= hidden_field_tag :return_to, return_to %>
  <% end %>
  <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit, "data-disable-invalid": "")) { "Submit feedback" } %>
<% end %>
