<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="p-3 border rounded-1 color-shadow-small d-flex mx-0 mb-4 p-4 js-notice flex-column flex-sm-row flex-sm-items-center" <%= test_selector("pull-requests-survey")%>>
  <div class="d-flex flex-justify-center flex-sm-justify-center">
    <%= render Primer::Beta::Octicon.new(icon: "git-pull-request", size: :medium, mr: 2, color: :accent) %>
  </div>
  <div class="p-1 d-flex flex-1 text-center text-sm-left">
    <p class="m-0 h5 ml-md-6">Tell us how to make Pull Requests work better for you with four quick questions.</p>
  </div>

  <div class=" mt-lg-0 mr-md-6 d-flex flex-justify-center">
    <%= render(GitHub::DialogComponent.new(
          title: "Give feedback",
          dialog_classes: "overflow-visible",
          src: pull_requests_survey_fragment_path(
            repository: repository.name,
            user_id: repository.owner_display_login
          )
        )
      ) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
      <% dialog.with_body do %>
        <include-fragment>
          <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
        </include-fragment>
      <% end %>
    <% end %>
    <div class="hide-md hide-lg hide-xl ml-6">
      <%= form_tag pull_requests_survey_dismiss_path(repository: repository.name, user_id: repository.owner_display_login), class: "js-notice-dismiss" do %>
        <%= render(Primer::ButtonComponent.new("aria-label": "Close"))  { "Dismiss" } %>
      <% end %>
    </div>
  </div>

  <div class="d-flex flex-justify-center hide-sm">
    <%= form_tag pull_requests_survey_dismiss_path(repository: repository.name, user_id: repository.owner_display_login), class: "js-notice-dismiss" do %>
      <%= render(Primer::IconButton.new(icon: :x, "aria-label": "Close", type: :submit, classes: "flash-close")) %>
    <% end %>
  </div>
</div>
