<% page_info title: "Topics", selected_link: :topics %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Topics<% end %>
  <% end %>

  <%= form_tag stafftools_topics_index_path, method: :get, class: "d-flex flex-column mb-3" do %>
    <%= render(Primer::Box.new(display: :flex, flex_direction: :row, mr: 1)) do |component| %>
      <div class="subnav-search d-flex mx-0">
        <input aria-label="Search topic names&hellip;"
              placeholder="Search topic names&hellip;"
              autocapitalize="off"
              autocomplete="off"
              class="form-control input-block flex-auto input-lg subnav-search-input"
              spellcheck="false"
              type="text"
              name="query"
              value="<%= params[:query] %>">
        <%= render(Primer::Beta::Octicon.new(:search, classes: "subnav-search-icon")) %>
      </div>

      <%= render(Primer::Beta::Button.new(type: :submit)) { "Search" } %>

      <label for="hide_flagged" class="d-flex flex-items-center pl-2">
        <input type="checkbox"
            id="hide_flagged"
            name="hide_flagged"
            class="form-control"
            value="1"
            <%= "checked" if params[:hide_flagged] == "1" %>>
        <span class="pl-2">Hide flagged?</span>
      </label>
    <% end %>

    <% if params[:query].present? %>
      <%= render(Primer::Alpha::Dialog.new(title: "Flag all matching topics", id: "flag-all-dialog")) do |d| %>
        <% d.with_show_button(scheme: :danger, mt: 2, style: "width: fit-content;") { "Flag ALL matching topics" } %>
        <%= form_tag stafftools_topics_bulk_flag_matching_path, method: :post do %>
          <%= hidden_field_tag :query, params[:query] %>
          <%= hidden_field_tag :page, params[:page] if params[:page] %>
          <%= hidden_field_tag :hide_flagged, params[:hide_flagged] if params[:hide_flagged] %>
          <%= render(Primer::Alpha::Dialog::Body.new) do %>
            This will flag all <%= topics.count %> matching topics. Are you sure you want to continue?
          <% end %>
          <%= render(Primer::Alpha::Dialog::Footer.new) do %>
            <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "flag-all-dialog" })) { "Cancel" } %>
            <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger)) { "Flag topics" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <stafftools-topics-table>
    <%= form_tag stafftools_topics_bulk_flag_path, method: :post do %>
      <%= hidden_field_tag :query, params[:query] if params[:query] %>
      <%= hidden_field_tag :page, params[:page] if params[:page] %>
      <%= hidden_field_tag :hide_flagged, params[:hide_flagged] if params[:hide_flagged] %>

      <div class="paginate-container">
        <%= will_paginate topics, "aria-label": "Top pagination" %>
      </div>

      <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger)) { "Flag selected topics" } %>

      <table class="Box width-full my-2">
        <tr>
          <th class="Box-header">
            <input type="checkbox"
              aria-label="Select all"
              data-target="stafftools-topics-table.headerCheckbox"
              data-action="input:stafftools-topics-table#toggleHeader">
          </th>
          <th class="Box-header">Name</th>
          <th class="Box-header">Short Description</th>
          <th class="Box-header">Repo Count</th>
          <th class="Box-header">Stargazers</th>
          <th class="Box-header">Flagged?</th>
        </tr>

        <% topics.each do |topic| %>
          <tr class="Box-row">
            <td class="text-center">
              <input type="checkbox"
                name="topic_id[]"
                value="<%= topic.id %>"
                id="topic-check-<%= topic.id %>"
                aria-label="Select topic <%= topic.name %>"
                data-targets="stafftools-topics-table.rowCheckboxes"
                data-action="input:stafftools-topics-table#toggleRow">
            </td>
            <td class="p-3"><%= link_to topic.name, stafftools_topic_path(topic) %></td>
            <td class="p-3"><%= topic.short_description %></td>
            <td class="p-3 text-center">
              <a href="<%= search_path(q: "topic:#{topic.name}", type: "Repositories") %>">
                <%= topic.applied_count %>
              </a>
            </td>
            <td class="p-3 text-center"><%= topic.stargazer_count %></td>
            <td class="p-3 text-center">
              <%= topic.flagged? ? primer_octicon(:shield, color: :danger, aria_label: "Flagged") : primer_octicon(:dash, aria_label: "Not flagged") %>
            </td>
          </tr>
        <% end %>
      </table>

      <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger)) { "Flag selected topics" } %>
    <% end %>
  </stafftools-topics-table>

  <div class="paginate-container">
    <%= will_paginate topics, "aria-label": "Bottom pagination" %>
  </div>

<% end %>
