<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Topic #{topic.name} - Site admin" %>

<div class="pagehead">
  <div class="container">
    <h1>
      <%= primer_octicon(:rocket, height: 32) %>
      <a href="<%= stafftools_path %>">Site admin</a> /
      <%= link_to "Topics", stafftools_topics_index_path %> /
      <strong><%= topic.name %></strong>
    </h1>
  </div>
</div>

<div class="container">
  <div class="boxed-group">
    <h3>Overview</h3>
    <div class="boxed-group-inner">
      <ul class="boxed-group-list">
        <li>
          <%= primer_octicon(:repo) %>
          <a href="<%= search_path(q: "topic:#{topic.name}", type: "Repositories") %>">
            Associated repositories
          </a>
        </li>
        <li>
          <% if topic.flagged? %>
            <%= primer_octicon(:"circle-slash", color: :danger) %>
            Flagged
          <% else %>
            <%= primer_octicon(:check, color: :success) %>
            Not flagged
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="boxed-group">
    <h3>
      <%= topic.flagged? ? "Remove flag" : "Flag topic" %>
    </h3>
    <div class="boxed-group-inner">
      <%= form_tag stafftools_topic_path(topic.name), method: :put do %>
        <input type="hidden" name="flagged" value="<%= topic.flagged? ? 0 : 1 %>">
        <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>
          <%= topic.flagged? ? "Remove flag" : "Flag topic" %>
        <% end %>
      <% end %>
      <p>
        <% if topic.flagged? %>
          If you unflag this topic, it will allow this topic to be autocompleted
          and allow the topic to be suggested to users for their repositories.
        <% else %>
          You can flag a topic as abusive, spammy, or offensive. Doing so
          removes the topic from autocomplete and prevents the topic from being
          suggested to users. Users will still be able to apply this topic to
          their repositories.
        <% end %>
      </p>
    </div>
  </div>
</div>
