<% page_info title: page_title %>

<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_header(font_weight: :bold) do %>
    Achievements
  <% end %>

  <% achievements_by_visibility_grouped_by_achievable.each do |visibility, scoped_achievements| %>
    <% component.with_row do %>
      <h3 class="text-center"><%= title_for_visibility(visibility) %></h3>
    <% end %>

    <% scoped_achievements.sort_by { |k, v| k.display_name }.each do |achievable, achievements| %>
      <% component.with_row do %>
        <div class="d-table col-12">
          <div class="col-12 d-table-cell border p-2">
            <h3><%= achievable.display_name %></h3>
          </div>
        </div>

        <div class="d-table col-12">
          <div class="col-1 d-table-cell border text-center">
            <h4>Tier</h4>
          </div>
          <div class="col-3 d-table-cell border text-center">
            <h4>Achieved At</h4>
          </div>
          <div class="col-4 d-table-cell border text-center">
            <h4>Unlocking Events</h4>
          </div>
          <div class="col-4 d-table-cell border text-center">
            <h4>Actions</h4>
          </div>
        </div>
        <% achievements.each_with_index do |achievement, index| %>
          <% is_last_achievement = index == achievements.count(&:persisted?) - 1 %>
          <div class="d-table col-12">
            <div class="col-1 d-table-cell border text-center">
              <%= achievement.tier + 1 %>
            </div>
            <div class="col-3 d-table-cell border text-center">
              <% if achievement.persisted? %>
                <%= time_ago_in_words(achievement.created_at) %> ago
              <% end %>
            </div>
            <div class="col-4 d-table-cell border px-2">
              <% if achievement.persisted? %>
                <%= render Profiles::User::Achievements::UnlockingEventComponent.new(
                  achievement: achievement,
                  visible_models: visible_models,
                ) %>
              <% end %>
            </div>

            <div class="col-4 d-table-cell border">
              <div class="d-block ml-2 p-2">
                <% if achievement.persisted? %>
                  <%= button_to(
                    edit_stafftools_user_achievement_path(user, achievement),
                    "aria-label": "Edit #{achievement.achievable.display_name} tier "\
                      "#{achievement.tier} achievement",
                    method: :get,
                    class: "btn m-2 btn-sm",
                    disabled: achievement.has_dynamic_unlocking_model?,
                  ) do %>
                    <%= primer_octicon(:pencil) %>
                    <span>Edit</span>
                  <% end %>

                  <%= button_to(
                    stafftools_user_achievement_path(user, achievement),
                    "aria-label": "Delete #{achievement.achievable.display_name} tier "\
                      "#{achievement.tier} achievement",
                    method: :delete,
                    class: "btn btn-danger m-2",
                    disabled: !is_last_achievement,
                  ) do %>
                    <%= primer_octicon(:trash) %>
                    <span>Delete</span>
                  <% end %>
                <% else %>
                  <%= button_to(
                    new_stafftools_user_achievement_path(user),
                    params: {
                      achievable_slug: achievement.achievable_slug,
                      visibility: visibility,
                      tier: achievement.tier,
                    },
                    "aria-label": "Create New #{achievement.achievable.display_name} tier "\
                      "#{achievement.tier} achievement",
                    method: :get,
                    class: "btn m-2 btn-sm",
                  ) do %>
                    <%= primer_octicon(:star) %>
                    <span>Create New</span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
