<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: page_title %>

<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_header(font_weight: :bold) do %>
    <p>
      <% if achievement.persisted? %>
        Edit
      <% else %>
        Create
      <% end %>
      <%= achievement.achievable.display_name %>
      Achievement, Tier: <%= achievement.tier + 1 %>
    </p>
    <p><%= tier_description %></p>
    <p>Visibility: <%= achievement.visibility %></p>
  <% end %>

  <% component.with_row do %>
    <%= form_for(
      achievement,
      url: form_path,
      method: achievement.persisted? ? :patch : :post,
    ) do |f| %>
      <% unless achievement.persisted? %>
        <%= f.hidden_field :tier, value: achievement.tier %>
        <%= f.hidden_field :achievable_slug, value: achievement.achievable_slug %>
        <%= f.hidden_field :visibility, value: achievement.visibility %>
      <% end %>

      <% if achievement.has_dynamic_unlocking_model? %>
        <div class="col-12 border text-center p-3">
          <h4>This achievement uses a dynamic unlocking model.</h4>
          <p>It will be derived by application logic when viewed.</p>
        </div>
      <% else %>
        <div class="d-table col-12">
          <div class="col-6 d-table-cell border text-center">
            <h4><%= f.label(:unlocking_model_type, "Unlocking Model Type") %></h4>
          </div>

          <div class="col-6 d-table-cell border text-center">
            <h4><%= f.label(:unlocking_model_id, "Unlocking Model ID") %></h4>
          </div>
        </div>

        <div class="d-table col-12">
          <div class="col-6 d-table-cell border p-2">
            <%= f.select(
              :unlocking_model_type,
              achievement.achievable.accepted_unlocking_model_types,
              {},
              class: "form-control width-full",
            ) %>
          </div>

          <div class="col-6 d-table-cell border p-2">
            <%= f.text_field :unlocking_model_id, class: "form-control width-full" %>
          </div>
        </div>
      <% end %>

      <div class="d-table col-12">
        <div class="col-12 d-table-cell border">
          <div class="form-actions">
            <%= link_to(
              "Cancel",
              stafftools_user_achievements_path(achievement.user),
              class: "btn m-2",
            ) %>
            <%= render Primer::ButtonComponent.new(type: :submit, m: 2) do %>
              <%= achievement.persisted? ? "Update" : "Create" %> achievement
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
