<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if errors.any? %>
  <%= render(
    Primer::Beta::Flash.new(
      scheme: :danger,
      icon: "stop",
      mt: mt,
      mb: deprecation_warnings.any? ? 0 : mb,
      test_selector: "errors"
    )
  ) do |component| %>
    <strong>
      There
      <%= errors.count == 1 ? 'is a problem' : 'are some problems' %>
      with this template:
    </strong>
    <details class="ml-5">
      <summary><%= "Error".pluralize(errors.count) %></summary>
      <div class="ml-1 f5 markdown-body">
        <%= markdown_list(errors) %>
      </div>
    </details>
  <% end %>
<% end %>

<% if deprecation_warnings.any? %>
  <%= render(
    Primer::Beta::Flash.new(
      scheme: :warning,
      icon: "alert",
      mt: errors.any? ? 3 : mt,
      mb: mb,
      test_selector: "deprecation-warnings"
    )
  ) do |component| %>
    <strong>
      There
      <%= deprecation_warnings.count == 1 ? 'is a deprecation warning' : 'are multiple deprecation warnings' %>
      in this template:
    </strong>
    <details class="ml-5">
      <summary>Deprecation <%= "warning".pluralize(deprecation_warnings.count) %></summary>
      <div class="ml-1 f5 markdown-body">
        <%= markdown_list(deprecation_warnings) %>
      </div>
    </details>
  <% end %>
<% end %>
