<%= form_with(**kwargs_for_form_with) do |form| %>
  <div <%= test_selector("form-content") %>>
    <%= content %>
    <%= render(fields_for(form)) %>
  </div>

  <div class="d-flex flex-justify-end" <%= test_selector("form-actions") %>>
    <% actions.reverse_each do |action| %>
      <div class="ml-1">
        <%= renderable?(action) ? render(action) : action %>
      </div>
    <% end %>
  </div>

  <%= hidden_field_tag "ui-form-schema-version", UI::FormSchema::Version %>
<% end %>
