<%# erblint:counter DeprecatedComponentsCounter 2 %>
<li class="Box-row border-bottom">
  <% if this_owner == ca.owner %>
    <div class="pt-4 d-flex clearfix float-right">
      <% unless ca.has_max_ssh_cert_lifetime? %>
        <%= render(Primer::Alpha::Dialog.new(title: "Upgrade this certificate authority?", id: "upgrade-certificate-authority-dialog", size: :medium_portrait)) do |d| %>
          <% d.with_show_button(size: :small) do %>
            Upgrade
          <% end %>
          <% d.with_header(show_divider: true) %>
          <% d.with_body(text_align: :left, pt: 3) do %>
            <p>
              Once you upgrade this CA, all SSH certificates signed by this CA must have an expiration set to <%= (GitAuth::SSHCertificateAuthority::DEFAULT_MAX_SSH_CERT_LIFETIME_IN_HOURS / 24).round %> days or lower.
            </p>
            <p>
              This requirement ensures that your SSH certificates are not valid indefinitely, and lets GitHub ensure that the certificate is for the correct user.
            </p>
            <p>
              Confirm that you are issuing certificates that expire before taking this action.
              This action <strong>cannot</strong> be undone.
            </p>
            <p>
              <%= link_to "Read more about certificate expiration", "https://docs.github.com/organizations/managing-git-access-to-your-organizations-repositories/about-ssh-certificate-authorities", target: "_blank", class: "Link--inTextBlock" %>.
            </p>
          <% end %>
          <% d.with_footer do %>
            <%= render(Primer::Beta::Button.new(type: :button, data: { "close-dialog-id": "upgrade-certificate-authority-dialog" })) { "Cancel" } %>
            <%= form_tag resolve_ssh_ca_require_expiration_path(ca), method: :patch do %>
              <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary)) { "Upgrade" } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= render layout: "shared/details_dialog", locals: {
        button_class: "btn btn-sm btn-danger ml-1",
        button_text: "Delete",
        details_class: "ws-normal color-fg-default lh-default d-inline-block",
        title: "Are you sure you want to delete this CA?"
      } do %>
        <div class="Box-body overflow-auto">
          This action <strong>CANNOT</strong> be undone. This will permanently delete the CA and if you’d like to use it in the future, you will need to upload it again.
          <%= form_tag resolve_ssh_ca_path(ca), method: :delete do %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true, mt: 3) do %>I understand, please delete this CA<% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="d-flex">
    <div class="Box-row text-center d-flex flex-column">
      <span><%= primer_octicon(:key, :height => 32) %></span>
    </div>

    <div>
      <strong>SHA256 Fingerprint</strong> <code><%= ca.base64_fingerprint %></code><br>
      <span class="color-fg-muted d-block">
        <% if this_owner == ca.owner %>
          Added on <relative-time prefix="" threshold="PT0S" datetime="<%= ca.created_at.utc.iso8601 %>">
            <%= ca.created_at.strftime("%b %-d, %Y") %>
          </relative-time>
          <% unless ca.has_max_ssh_cert_lifetime? %>
            <%= render Primer::Beta::Flash.new(scheme: :warning, icon: :alert, mt: 2, mb: 1, mr: 2) do %>
              This certificate authority is allowed to sign SSH certificates that don't expire.
              To require that all certificates signed by this CA have an expiry, upgrade this certificate authority.
              <%= link_to "Read more about certificate expiration", "https://docs.github.com/organizations/managing-git-access-to-your-organizations-repositories/about-ssh-certificate-authorities", target: "_blank", class: "Link--inTextBlock" %>.
            <% end %>
          <% end %>
        <% else %>
          Managed by the <%= ca.owner_name_and_type %>
        <% end %>
      </span>
    </div>
  </div>
</li>
