<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info responsive: false, title: "New SSH certificate authority", selected_link: :ssh_certificate_authorities %>

<% render_layout = \
  case ca.owner
  when Business
    ->(&blk) {
      render(layout: "businesses/layout", locals: {
        business: ca.owner,
        title: "Security",
        container_attributes: "itemscope itemtype='http://schema.org/Business'"
      }, &blk)
    }
  when Organization
    ->(&blk) { render(layout: "orgs/settings/layout", &blk) }
  end
%>

<%= render_layout.call do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= owner_security_settings_path %>" data-pjax="true">SSH certificate authorities</a>
      / Add new
    <% end %>
  <% end %>
  <%= form_for ca, url: ssh_certificate_authorities_path do |f| %>
    <dl class="form-group">
      <dt><label for="ssh_certificate_authority_openssh_public_key">Key</label></dt>
      <dd><%= f.text_area :openssh_public_key, :class => "form-control", placeholder: "Begins with " + ca.allowed_algos.map { |a| "'#{a}'" }.to_sentence(last_word_connector: ", or ") %></dd>
    </dl>

    <p class="mb-0"><%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, "data-disable-with": "") do %>Add CA<% end %></p>
  <% end %>
<% end %>
