<% contribs_by_repo.each do |node| %>
  <% repo = node.repository %>
  <%= render Primer::Beta::Details.new(reset: true, my: 1, classes: "Details-element", open: total_repos < 2 && node.contributions.size < 5, data: { "repository-hovercards-enabled": true, "discussion-hovercards-enabled": true }) do |component| %>
    <% component.with_summary(button: false, display: :flex, text: :left, classes: "flex-items-baseline btn-link no-underline lh-condensed") do %>
      <div class="d-flex flex-items-baseline">
        <div class="d-inline-block col-6">
          <%= content_tag(
            :span,
            repo.name_with_display_owner,
            class: "css-truncate css-truncate-target",
            data: hovercard_data_attributes_for_repository(repo),
          ) %>
        </div>
      </div>
    <% end %>
    <% component.with_body do %>
      <ul class="mt-1 list-style-none">
        <% contributions = node.contributions %>
        <% contributions.take(ProfilesController::CONTRIBS_PER_REPO_LIMIT).each do |contribution| %>
          <li class="py-1 ml-0" <%= test_selector("discussion-comment-#{contribution.comment_id}") %>>
            <span class="flex-auto min-width-0 width-fit css-truncate css-truncate-target">
              <%= discussion_icon(contribution.discussion) %>
              <%= link_to(
                discussion_comment_show_path_from(
                  discussion: contribution.discussion,
                  comment_id: contribution.comment_id,
                ),
                class: "no-underline",
                data: hovercard_data_attributes_for_discussion(
                  repo.owner.display_login,
                  repo.name,
                  contribution.number,
                ),
              ) do %>
                <span class="Link--primary">
                  <%= contribution.title %>
                </span>
              <% end %>
            </span>

            <div>
              <span class="sr-only">
                This contribution was made on <%= short_date = contribution_short_date(contribution.occurred_at) %>
              </span>
              <time class="float-right f6 color-fg-muted pt-1 flex-shrink-0 no-wrap" aria-hidden="true">
                <%= short_date %>
              </time>
            </div>
          </li>
        <% end %>
        <% if contributions.size > ProfilesController::CONTRIBS_PER_REPO_LIMIT %>
          <li class="py-1 ml-0 color-fg-muted">
            Some discussions not shown.
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
