<% contribs_by_repo.each do |group| %>
  <%
    total_count = group.total_count
    contributions = group.contributions.first(ProfilesController::CONTRIBS_PER_REPO_LIMIT)
  %>

  <li class="ml-0 py-1 d-flex" <%= test_selector("created-commit") %>>
    <div class="col-8 lh-condensed width-fit flex-auto min-width-0">
      <% repo_link_data = hovercard_data_attributes_for_repository(group.repository).merge(profile_click_tracking_attrs(:TIMELINE_REPO_LINK)) %>
      <%= render(Primer::Beta::Link.new(href: repository_path(group.repository), data: repo_link_data)) { truncate(group.repository.name_with_display_owner, length: 40) } %>
      <%= render(Primer::Beta::Link.new(
        href: commit_contributions_path(group),
        data: profile_click_tracking_attrs(:TIMELINE_COMMIT_RANGE),
        color: :muted,
        ml: [nil, nil, nil, 1],
        mt: [1, 1, 1, 0, 1],
        font_size: 6,
        display: [:block, :block, :block, :inline]
      )) do %>
        <%= pluralize(number_with_delimiter(total_count), "commit") %>
      <% end %>
    </div>

    <div class="col-3 flex-shrink-0">
      <% percent = commit_percentage_for_repo(repo_commit_count: total_count, total_commit_count: total_commits) %>
      <div class="Progress mt-1 color-bg-default"
           role="img"
           aria-label="<%= percent %>% of commits in <%= commit_contribution_month(started_at) %> were made to <%= group.repository.name_with_display_owner %> ">
        <span class="Progress-item rounded-2" style="width: <%= percent %>%;background-color: <%= commit_percentage_color(percent, contrib_calendar.colors) %>"></span>
      </div>
    </div>
  </li>
<% end %>
