<%
  short_date = contribution_short_date(contribution.occurred_at)
%>

<%= render(Primer::Beta::TimelineItem.new(test_selector: "first-pull-request")) do |component| %>
  <% component.with_badge(icon: "git-pull-request") %>
  <% component.with_body(data: { "repository-hovercards-enabled": true, "issue-and-pr-hovercards-enabled": true }) do %>
    <div class="d-flex flex-justify-between flex-items-baseline mb-3">
      <h4 class="text-normal color-fg-default lh-condensed my-0 pr-3">
        Opened their first pull request on GitHub in
        <% if contribution.restricted? %>
          a private repository
        <% else %>
          <span class="no-wrap">
            <% repo_link_data = hovercard_data_attributes_for_repository(contribution.pull_request.repository).merge(profile_click_tracking_attrs(:TIMELINE_REPO_LINK)) %>
            <%= link_to contribution.pull_request.repository.name_with_display_owner, repository_path(contribution.pull_request.repository), class: "Link--primary css-truncate css-truncate-target", data: repo_link_data %>
            <%= repository_label(contribution.pull_request.repository) %>
          </span>
        <% end %>
      </h4>

      <% link_data = profile_click_tracking_attrs(:TIMELINE_DATE_LINK) %>
      <%= link_to contribution.url, class: "f6 color-fg-muted Link--muted no-wrap", data: link_data do %>
        <time class="no-wrap"><%= short_date %></time>
      <% end %>
    </div>
    <div class="Box p-3">
      <div class="text-center px-6">
        <%= light_or_dark_picture_tag("modules/profile/profile-first-pr.svg", "modules/profile/profile-first-pr-dark.svg",
          class: "text-center width-fit",
          alt: first_pull_request_image_alt(user_is_viewer: viewing_own_profile?, user_name: contribution.user.name)
        ) %>
        <div class="mt-n3 text-center">
          <h4 class="color-fg-success">
            First pull request
          </h4>
          <% unless contribution.restricted? %>
            <%= link_to title_markdown(truncate(contribution.pull_request.title, length: 140)), pull_request_path(contribution.pull_request), class: "d-inline-block f4 my-2 markdown-title", data: hovercard_data_attributes_for_issue_or_pr(contribution.pull_request) %>
            <%= repository_label(contribution.pull_request.repository) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
