<%
  contribs_by_repo = collector.issue_contributions_by_repository(exclude_first: true, exclude_popular: true)
  total_repos = collector.issue_contribution_repo_count(exclude_first: true, exclude_popular: true)
  total_issues = collector.total_issue_contributions(exclude_first: true, exclude_popular: true)
%>

<% if contribs_by_repo.any? %>
  <%= render(Primer::Beta::TimelineItem.new(test_selector: "issue-rollup")) do |component| %>
    <% component.with_badge(icon: :"issue-opened") %>
    <% component.with_body do %>
      <%= render Primer::Beta::Details.new(reset: true, classes: "Details-element", open: expand_repo_rollup?(total_repos)) do |component| %>
        <% component.with_summary(button: false, w: :full, font_size: 4, classes: "btn-link Link--muted no-underline lh-condensed") do %>
          <span class="float-left ws-normal text-left color-fg-default">
            Opened <%= number_with_delimiter total_issues %>
            <%= "other" if any_special_contrib %>
            <%= "issue".pluralize(total_issues) %>
            in <%= number_with_delimiter total_repos %>
            <%= "repository".pluralize(total_repos) %>
          </span>
          <span class="d-inline-block float-right">
            <%= profile_rollup_fold_button(type: "CATEGORY") %>
            <%= profile_rollup_unfold_button(type: "CATEGORY") %>
          </span>
        <% end %>
        <% component.with_body do %>
          <%= render partial: "users/timeline/created_issues", locals: {
                contribs_by_repo: contribs_by_repo,
                total_repos: total_repos
              } %>

          <% if (count = repo_count_not_shown_in_rollup(total_repos: total_repos)) > 0 %>
            <div class="py-2 color-fg-muted">
              <%= number_with_delimiter(count) %>
              <%= "repository".pluralize(count) %> not shown
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
