<%
  all_contributions = collector.joined_organization_contributions
  contributions = all_contributions.first(10)
  some_contributions_not_shown = all_contributions.size > 10
%>

<% contributions.each do |contribution| %>
  <%= render(Primer::Beta::TimelineItem.new(test_selector: "joined-organization-#{contribution.organization.display_login}")) do |component| %>
    <% component.with_badge(icon: :organization) %>
    <% component.with_body do %>
      <div class="d-flex flex-justify-between flex-items-baseline mb-3">
        <h4 class="text-normal color-fg-default lh-condensed my-0 pr-3">
          Joined the <a href="<%= user_path(contribution.organization) %>" class="Link--primary Link--inTextBlock"><%= contribution.organization.safe_profile_name %></a> organization
        </h4>

        <% link_data = profile_click_tracking_attrs(:TIMELINE_DATE_LINK) %>
        <%= link_to user_path(contribution.organization), class: "f6 color-fg-muted Link--muted no-wrap", data: link_data do %>
          <time>on <%= contribution_short_date(contribution.occurred_at) %></time>
        <% end %>
      </div>

      <div class="Box p-3">
        <div class="d-flex">
          <%= link_to user_path(contribution.organization), "aria-label" => contribution.organization.display_login, :class => "tooltipped tooltipped-n mr-3" do %>
            <%= avatar_for(contribution.organization, 80, class: "rounded-2") %>
          <% end %>
          <div class="wb-break-all">
            <a href="<%= user_path(contribution.organization) %>" class="f3 lh-condensed Link--primary no-underline text-bold"><%= contribution.organization.safe_profile_name %></a>
            <% if contribution.organization.description.present? %>
              <p class="mt-1 mb-0"><%= contribution.organization.description %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if some_contributions_not_shown %>
  <p class="py-1 ml-0 color-fg-muted">
    Some organizations not shown.
  </p>
<% end %>
