<%
  short_date = contribution_short_date(contribution.occurred_at)
  issue = contribution.issue
%>
<%= render(Primer::Beta::TimelineItem.new(test_selector: "popular-issue")) do |component| %>
  <% component.with_badge(icon: :flame) %>
  <% component.with_body(data: { "repository-hovercards-enabled": true, "issue-and-pr-hovercards-enabled": true }) do %>
    <div class="d-flex flex-justify-between flex-items-baseline mb-3">
      <h4 class="text-normal color-fg-default lh-condensed my-0 pr-3">
        Created an issue in
        <% repo_link_data = hovercard_data_attributes_for_repository(issue.repository).merge(profile_click_tracking_attrs(:TIMELINE_REPO_LINK)) %>
        <%= link_to issue.repository.name_with_display_owner, repository_path(issue.repository), class: "Link--primary", data: repo_link_data %>
        that received <%= number_with_delimiter(issue.issue_comments_count) %>
        <%= "comment".pluralize(issue.issue_comments_count) %>
      </h4>
      <% link_data = profile_click_tracking_attrs(:TIMELINE_DATE_LINK) %>
      <%= link_to contribution.url, class: "f6 color-fg-muted Link--muted no-wrap", data: link_data do %>
        <time class="no-wrap"><%= short_date %></time>
      <% end %>
    </div>

    <div class="Box p-3">
      <% if issue.open? %>
        <%= primer_octicon(:"issue-opened", color: :success, display: :inline_block, mt: 1, float: :left, title: "Open") %>
      <% else %>
        <%= primer_octicon(:"issue-closed", color: :done, display: :inline_block, mt: 1, float: :left, title: "Closed") %>
      <% end %>
      <div class="ml-4">
        <h3 class="lh-condensed my-0">
          <%= link_to title_markdown(issue.title), issue_path(issue), class: "color-fg-default markdown-title", data: hovercard_data_attributes_for_issue_or_pr(issue) %>
        </h3>

        <%# issue doesn't have the compressed_body attribute selected... %>
        <% full_issue = Issue.find(issue.id) %>
        <% unless full_issue.body.blank? %>
          <div class="color-fg-muted mb-0 mt-2">
            <%= full_issue.async_truncated_body_html(150).sync %>
          </div>
        <% end %>
        <div class="f6 color-fg-muted d-inline-flex flex-row flex-items-center">
          <% if (summary = full_issue.task_list_summary)&.items? %>
            <span class="issue-meta-section d-inline-flex flex-row flex-items-center">
              <%= render Issues::TrackedIssuesProgressComponent.new(mode: :inline, completed: summary.complete_count, total: summary.item_count) %>
            </span>
            <span class="color-fg-muted mx-1">&#8226;</span>
          <% end %>
          <%= number_with_delimiter(issue.issue_comments_count) %>
          <%= "comment".pluralize(issue.issue_comments_count) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
