<%
  short_date = contribution.occurred_at.in_time_zone(Time.zone).strftime("%b %-d")
  pull_request = contribution.pull_request
  repo = pull_request.repository
  diff = pull_request.async_diff.sync
  diff.timeout = pr_contribution_diff_timeout
  short_body_html = pull_request.async_truncated_body_html(150).sync
%>
<%= render(Primer::Beta::TimelineItem.new(test_selector: "popular-pull-request-#{pull_request.id}")) do |component| %>
  <% component.with_badge(icon: :flame) %>
  <% component.with_body(data: { "repository-hovercards-enabled": true, "issue-and-pr-hovercards-enabled": true }) do %>
    <div class="d-flex flex-justify-between flex-items-baseline mb-3">
      <h4 class="text-normal lh-condensed my-0 pr-3 color-fg-default">
        Created a pull request in <%= link_to repo.name_with_display_owner, repository_path(repo), class: "Link--primary Link--inTextBlock", data: hovercard_data_attributes_for_repository(repo) %> that received <%= number_with_delimiter(pull_request.total_comments) %>
        <%= "comment".pluralize(pull_request.total_comments) %>
      </h4>
      <% link_data = profile_click_tracking_attrs(:TIMELINE_DATE_LINK) %>
      <%= link_to contribution.url, class: "f6 color-fg-muted Link--muted no-wrap", data: link_data do %>
        <time class="no-wrap"><%= short_date %></time>
      <% end %>
    </div>

    <div class="Box p-3">
      <% if pull_request.merged? %>
        <%= primer_octicon(:"git-merge", display: :inline_block, mt: 1, float: :left, color: :done, title: "Merged") %>
      <% elsif pull_request.closed? %>
        <%= primer_octicon(:"git-pull-request-closed", color: :closed, display: :inline_block, mt: 1, float: :left, title: "Closed") %>
      <% else %>
        <%= primer_octicon(:"git-pull-request", color: :open, display: :inline_block, mt: 1, float: :left, title: "Open") %>
      <% end %>
      <div class="ml-4">
        <h3 class="lh-condensed my-0">
          <%= link_to title_markdown(pull_request.title), pull_request_path(pull_request), class: "color-fg-default markdown-title", data: hovercard_data_attributes_for_issue_or_pr(pull_request) %>
        </h3>

        <% unless short_body_html.blank? %>
          <div class="color-fg-muted mb-0 mt-2">
            <%= short_body_html %>
          </div>
        <% end %>

        <div class="f6 color-fg-muted mt-2">
          <% if diff %>
            <span class="diffstat position-relative float-left" style="top: 0">
              <span class="color-fg-success">
                +<%= number_with_delimiter(diff.additions) %>
              </span>
              <span class="color-fg-danger">
                −<%= number_with_delimiter(diff.deletions) %>
              </span>
              <%= format_diffstat_line(diff, 5) %>
              <span class="color-fg-muted">lines changed</span>
              <span class="color-fg-muted mx-1">&#8226;</span>
            </span>
          <% end %>
          <%= number_with_delimiter(pull_request.total_comments) %>
          <%= "comment".pluralize(pull_request.total_comments) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
