<%
  contributions = collector.repository_contributions(exclude_first: true).first(Contribution::CreatedRepository::REPO_LIMIT)
  total_repos = collector.total_repository_contributions(exclude_first: true)
%>

<% if contributions.any? %>
  <%= render(Primer::Beta::TimelineItem.new(test_selector: "repository-rollup")) do |component| %>
    <% component.with_badge(icon: :repo) %>
    <% component.with_body do %>
      <%= render Primer::Beta::Details.new(reset: true, classes: "Details-element", open: expand_repo_rollup?(total_repos)) do |component| %>
        <% component.with_summary(button: false, w: :full, font_size: 4, classes: "btn-link Link--muted no-underline lh-condensed") do %>
          <span class="float-left ws-normal text-left color-fg-default">
            Created
            <% if total_repos > Contribution::CreatedRepository::REPO_LIMIT %>
              <%= "#{number_with_delimiter(Contribution::CreatedRepository::REPO_LIMIT)}+" %>
            <% else %>
              <%= number_with_delimiter(total_repos) %>
            <% end %>
            <%= "other" if any_special_contrib %>
            <%= "repository".pluralize(total_repos) %>
          </span>
          <span class="d-inline-block float-right">
            <%= profile_rollup_fold_button(type: "REPO") %>
            <%= profile_rollup_unfold_button(type: "REPO") %>
          </span>
        <% end %>
        <% component.with_body do %>
          <ul class="list-style-none mt-1" data-repository-hovercards-enabled>
            <% contributions.each do |contribution| %>
              <%
                contributors = contribution.contributors(viewer: current_user)
              %>
              <li class="d-flex flex-justify-between py-1" <%= test_selector("created-repository-#{contribution.repository.id}") %>>
                <span class="col-8">
                  <span class="width-fit">
                    <% icon_class = "v-align-middle color-fg-muted mr-1" %>
                    <% if contribution.repository.fork? && contribution.repository.parent %>
                      <% if contribution.repository.template? %>
                        <% if contribution.repository.private? %>
                          <%= octicon "lock", class: icon_class %>
                        <% else %>
                          <%= octicon "repo-template", class: icon_class %>
                        <% end %>
                      <% else %>
                        <%= octicon("repo-forked", class: icon_class) %>
                      <% end %>
                    <% elsif contribution.repository.private? %>
                      <% if contribution.repository.template? %>
                        <%= octicon "lock", class: icon_class %>
                      <% else %>
                        <%= octicon(:lock, class: icon_class) %>
                      <% end %>
                    <% elsif contribution.repository.mirror? %>
                      <%= octicon(:mirror, class: icon_class) %>
                    <% else %>
                      <% if contribution.repository.template? %>
                        <%= octicon "repo-template", class: icon_class %>
                      <% else %>
                        <%= octicon(:repo, class: icon_class) %>
                      <% end %>
                    <% end %>
                    <% repo_link_data = hovercard_data_attributes_for_repository(contribution.repository).merge(profile_click_tracking_attrs(:TIMELINE_REPO_LINK)) %>
                    <%= render(Primer::Beta::Link.new(
                      href: repository_path(contribution.repository),
                      data: repo_link_data,
                      mr: 2,
                    )) { truncate(contribution.repository.name_with_display_owner, length: 45) } %>
                  </span>
                </span>
                <span class="col-2 f6 color-fg-muted d-block mt-1 d-lg-inline mt-lg-0">
                  <% if contribution.repository.primary_language %>
                    <%= render(Languages::BadgeComponent.new(name: contribution.repository.primary_language.name, ml: 0)) %>
                    <% if contributors.any? %>
                      <span class="color-fg-muted mx-1">&#8226;</span>
                    <% end %>
                  <% end %>
                  <% if contributors.any? %>
                    Built by
                    <% contributors.each do |user| %>
                      <%= link_to user_path(user), class: "d-inline-block", data: hovercard_data_attributes_for_user_login(user.display_login) do %>
                        <img src="<%= avatar_url_for(user, 30) %>" class="<%= avatar_class_names(user) %> mb-1" alt="@<%= user.display_login %>" width="15" height="15">
                      <% end %>
                    <% end %>
                  <% end %>
                </span>
                <div>
                  <span class="sr-only">
                    This contribution was made on <%= short_date = contribution_short_date(contribution.occurred_at) %>
                  </span>
                  <time class="float-right f6 color-fg-muted pt-1 flex-shrink-0 no-wrap" aria-hidden="true">
                    <%= short_date %>
                  </time>
                </div>
              </li>
            <% end %>
          </ul>
          <% if (count = contrib_count_not_shown_in_rollup(total_repos)) > 0 %>
            <div class="py-2 color-fg-muted">
              <%= number_with_delimiter(count) %>
              <%= "repository".pluralize(count) %> not shown
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
