<div class="p-3" <%= test_selector("sponsors-listing-hovercard") %>>
  <div class="d-flex">
    <%= render GitHub::AvatarComponent.new(actor: sponsorable, mr: 2) %>

    <div class="flex-auto min-width-0">
      <h5 class="h5 mb-2">Sponsor <%= sponsorable.safe_profile_name %></h5>

      <% if sponsors_listing.short_description.present? %>
        <p><%= sponsors_listing.short_description.truncate(120, separator: /\s/) %></p>
      <% else %>
        <%= HTMLTruncator.new(sponsors_listing.full_description_html, 120).to_html %>
      <% end %>

      <%= render(Sponsors::Profile::GoalProgressComponent.new(
        sponsors_listing: sponsors_listing,
        sponsor: current_user,
        goal: goal,
        header_class: "note mb-1",
        include_sponsor_names: false,
      )) %>
    </div>
  </div>
</div>
