<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% show_breadcrumb ||= false %>
<div class="spamurai-group spamurai">
  <h3>
    <% if show_breadcrumb %>
      <%= link_to "Spamurai Central /", devtools_spamurai_path, "data-pjax" => true %>
    <% end %>
    Current <%= pattern_type.humanize.capitalize %> patterns (<%= patterns.count %>)
  </h3>

  <div class="seamless">
    <table class="security-history-detail spamurai-group-table">
      <% if patterns.any? %>
        <thead>
          <tr>
            <th>#</th>
            <th>Pattern</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% patterns.each_with_index do |pattern, index| %>
            <tr>
              <td><%= index + 1 %>.</td>
              <td><code><%= pattern %></code></td>
              <td>
                <%= form_tag(remove_queue_pattern_spamurai_patterns_path, :method => "delete") do %>
                  <input  type="hidden" name="key" value = "<%= pattern_type %>">
                  <input  type="hidden" name="pattern" value = "<%= pattern %>">
                  <%= render Primer::ButtonComponent.new(variant: :small, scheme: :danger, type: :submit) do %>Remove pattern<% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
      <tfoot>
        <tr>
          <td colspan="3">
            <%= form_tag(add_queue_pattern_spamurai_patterns_path, :method => "post") do %>
              <input type="hidden" name="key" value = "<%= pattern_type %>">
              <input name="pattern" type="text" class="form-control long" placeholder="Add <%= pattern_type.humanize.capitalize %> pattern" aria-label="Add <%= pattern_type.humanize.capitalize %> pattern">
              <%= render Primer::ButtonComponent.new(type: :submit) do %>Add pattern<% end %>
            <% end %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>
