<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Sign in as an EMU" %>

<div class="auth-form" style="width: 420px">
  <%= form_tag idm_saml_initiate_sso_path, :id => "sso_login_form", :"data-turbo" => "false" do %>
    <div class="auth-form-header p-0">
      <h1>
        Enterprise Managed Users
        <%= render Primer::Beta::Label.new(title: "Label: Private beta", scheme: :success, vertical_align: :text_bottom) do %>
          Private beta
        <% end %>
      </h1>
    </div>
    <%= render "shared/flash" %>
    <div class="auth-form-body mt-3">
      <div class="mb-3 color-fg-muted">
        Enterprise Managed Users let companies centrally manage identity and access for their enterprises’ members on GitHub.com, directly from their identity provider.
      </div>
      <auto-check src="<%= domain_check_path %>" required>
        <dl class="form-group my-0">
          <dt>
            <label for="enterprise_identifier">Enter your enterprise URL</label>
          </dt>
          <dd class="form-control d-flex flex-items-center flex-content-stretch rounded-2 p-0">
              <div class="form-control border-0 color-fg-muted flex-1 rounded-right-0 pl-2 pr-2 mr-0 text-small">github.com/enterprises/</div>
              <input
                type="text"
                name=slug
                class="form-control border-0 box-shadow-none pl-2 pr-2 mr-0 flex-auto color-bg-default rounded-left-0"
                id="enterprise_identifier"
                autocapitalize="off"
                autofocus>
          </dd>
        </dl>
        <%= csrf_hidden_input_for domain_check_path %>
      </auto-check>
      <%= hidden_field_tag :return_to, return_to %>
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, block: true, classes: "js-sso-login-submit", "data-disable-invalid": "") do %>Sign in<% end %>
    </div>
  <% end %>
  <div>
    <p class="login-callout mt-3">
      Not an Enterprise Managed User?
      <br>
      <%= link_to(
        "Sign in to GitHub.com",
        login_path,
      ) %>
    </p>
  </div>
</div>
