<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Popover.new(classes: "js-notice") do |component| %>
  <% component.with_heading do %>
    The default branch has been renamed!
  <% end %>
  <% component.with_body(caret: :top_left, style: "width: 480px", position: :absolute) do %>
    <p>
      <span class="commit-ref"><%= rename.old_name_for_display %></span> is now named
      <span class="commit-ref color-fg-on-emphasis color-bg-accent-emphasis"><%= rename.new_name_for_display %></span>
    </p>
    <p>
      If you have a local clone, you can update it by running the following commands.
      <% if shell_safe_names_include_placeholders? [
        [":branch", rename.old_name_for_display],
        [":branch", rename.new_name_for_display],
      ] %>
        <%= link_to "Learn about dealing with special characters on the command line.", ShellHelper::SHELL_ESCAPING_DOCS_URL %>
      <% end %>
    </p>
    <div class="copyable-terminal p-2 mb-3">
      <div class="copyable-terminal-button">
        <%= render Primer::Beta::ClipboardCopy.new(for: "update-existing-local-branch-copy", "aria-label": "Copy to clipboard", classes: "btn btn-sm zeroclipboard-button") %>
      </div>
      <pre id="update-existing-local-branch-copy" class="copyable-terminal-content">git branch -m <%= shell_safe_name(':branch', rename.old_name_for_display) %> <%= shell_safe_name(':branch', rename.new_name_for_display) %>
git fetch origin
git branch -u <%= shell_safe_name('origin/:branch', rename.new_name_for_display) %> <%= shell_safe_name(':branch', rename.new_name_for_display) %>
git remote set-head origin -a</pre>
    </div>
    <%= form_tag dismiss_repository_notice_user_path(current_user), class: "mt-2 js-notice-dismiss", method: :delete do %>
      <input type="hidden" name="notice_name" value="repo_default_branch_rename">
      <input type="hidden" name="repository_id" value="<%= current_repository.id %>">
      <%= render Primer::ButtonComponent.new(font_weight: :bold, type: :submit) do %>
        OK, got it
      <% end %>
    <% end %>
  <% end %>
<% end %>
