<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  if tree_type == "branch" || tree_type == "tag"
    commitish_display = truncate(display_current_branch_or_tag_name, :length => 15, :omission => "…")
    branch_or_tag_truncated = commitish_display != display_current_branch_or_tag_name
  else
    commitish_display = truncate(tree_name_for_display, :length => 10, :omission => "")
  end

  title = branch_or_tag_truncated ? display_current_branch_or_tag_name : "Switch branches or tags"
%>

<div class="position-relative">
  <details
    class="js-branch-select-menu details-reset details-overlay mr-0 mb-0 <%= "float-left" if local_assigns[:float_left] %>"
    id="branch-select-menu"
    <%= safe_data_attributes(refs_selector_menu_open_attributes(current_repository)) %>>
    <summary class="btn css-truncate" data-hotkey="w"<%# erblint:disable DataHotkey %> >
      <%= render Primer::Beta::Octicon.new(icon: (tree_type == "tag" ? "tag" : "git-branch" ), text: "gray") %>
      <span class="css-truncate-target" data-menu-button><%= commitish_display %></span>
      <span class="dropdown-caret"></span>
    </summary>

    <%=
      render partial: "refs/selector", locals: {
        placeholder: current_user_can_push? ? 'Find or create a branch…' : 'Filter branches/tags',
        title: "Switch branches/tags",
        turbo_frame: "repo-content-turbo-frame",
      }
    %>
  </details>

  <% if show_branch_rename_instructions_popover?(tree_type: tree_type) %>
    <%= render "refs/branch_rename_popover", rename: latest_default_branch_rename %>
  <% elsif show_parent_branch_rename_instructions_popover?(tree_type: tree_type) %>
    <%= render "refs/parent_branch_rename_popover", parent_repo: current_repository.parent %>
  <% end %>
</div>

<%= render partial: "refs/warn_same_branch_name_as_tag_dialog" %>
