<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Popover.new(classes: "js-notice") do |component| %>
  <% component.with_heading do %>
    The default branch on the parent repository has been renamed!
  <% end %>
  <% component.with_body(caret: :top_left, style: "width: 530px", position: :absolute) do %>
    <p>
      <%= parent_repo.name_with_display_owner %> renamed its default branch
      <span class="no-wrap">to <span class="commit-ref color-bg-accent-emphasis color-fg-on-emphasis"><%= parent_repo.default_branch %></span></span>
    </p>
    <p>
      You can rename this fork's default branch to match
      in <%= link_to "branch settings", edit_repository_path, class: "Link--inTextBlock" %>.
    </p>
    <%= form_tag dismiss_repository_notice_user_path(current_user), class: "mt-2 js-notice-dismiss", method: :delete do %>
      <input type="hidden" name="notice_name" value="repo_parent_default_branch_rename">
      <input type="hidden" name="repository_id" value="<%= current_repository.id %>">
      <%= render Primer::ButtonComponent.new(font_weight: :bold, type: :submit) do %>
        OK, got it
      <% end %>
    <% end %>
  <% end %>
<% end %>
