<%
  octicon_check_html = primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check")
%>
<div class="SelectMenu-list">
  <% if tags.empty? %>
    <div class="SelectMenu-message">Nothing to show</div>
  <% else %>
    <% tags.each do |tag| %>
      <a class="SelectMenu-item"
        href="<%= url_portion_callable.call(tag) %>"
        role="menuitemradio"
        aria-checked="<%= current_tag_name == tag.name %>"
        aria-label="<%= tag.name_for_display %>"
        rel="nofollow">
        <%= octicon_check_html %>
        <span class="css-truncate css-truncate-overflow" <%= test_selector("ref-tag-name") %>>
          <%= tag.name_for_display %>
        </span>
      </a>
    <% end %>
  <% end %>
</div>
<footer class="SelectMenu-footer"><%= link_to "View all tags", tags_path(current_repository.owner, current_repository), "data-ga-click": "Repository, Branch selector, view all tags" %></footer>
