<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%= render Primer::BaseComponent.new(**system_arguments) do %>
  <%# view mode %>
  <div class="d-flex flex-wrap col-12" data-target="manage-subscription.view_mode_container" <%= "hidden" if params[open_edit_mode_param] == "true" %>>
    <div class="d-flex flex-column p-2 flex-1" style="min-width:200px">
      <h5><%= payment_term_label %></h5>
      <span class="text-small color-fg-muted"><%= current_payment %></span>
    </div>
    <div class="d-flex flex-column p-2 flex-1" style="min-width:200px">
      <h5><%= cost_per_seat_label %></h5>
      <span class="text-small color-fg-muted"><%= cost_per_seat %></span>
    </div>
    <div class="d-flex flex-column p-2 flex-1" style="min-width:200px">
      <h5><%= next_payment_label %></h5>
      <span class="text-small color-fg-muted"><%= next_payment %></span>
    </div>
    <div class="d-flex flex-column p-2 flex-1" style="min-width:200px">
      <h5>Payment method</h5>
      <%= payment_method %>
    </div>
    <% if trade_screening_error_data.present? %>
      <%= render(Primer::Beta::Flash.new(scheme: trade_screening_error_data[:scheme])) do %>
        <%= render(Primer::Beta::Text.new(font_weight: :bold)) do %>
          <%= render(Primer::Beta::Octicon.new(trade_screening_error_data[:icon])) %>
          You can't proceed with your payment
        <% end %>
        <div class="ml-5">
          <%= trade_screening_error_data[:message] %>
        </div>
      <% end %>
    <% elsif can_manage_seats %>
      <div class="d-flex flex-wrap flex-justify-start flex-1 p-2" style="min-width:200px">
        <div class="d-flex flex-self-center">
          <%= render Primer::ButtonComponent.new(display: :flex, data: {action: "click:manage-subscription#enterEditMode"}, test_selector: "enter-edit-mode") do %>
            <%= manage_seats_label %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%# edit mode %>
  <div class="Box-title flex-1 text-normal color-fg-default" data-target="manage-subscription.edit_mode_container" <%= "hidden" unless params[open_edit_mode_param] == "true" %>>
      <%= form_tag form_action, method: :put, id: form_id do %>
        <% hidden_form_fields.each do |field| %>
          <%= field %>
        <% end %>
        <div class="d-flex flex-wrap col-12">
          <div class="d-flex flex-row flex-wrap col-12">
            <div class="d-flex flex-column flex-wrap col-4 p-2" style="min-width:200px">
              <label for="seats"><%= total_seats_label %></label>
              <%= stepper_component %>
              <p class="text-small color-fg-muted" data-target="manage-subscription.current_seats"><%= current_seats_label %></p>
            </div>
            <div class="d-flex flex-column col-4 p-2" style="min-width:200px">
              <h5><%= payment_term_label %></h5>
              <span class="f2" data-target="manage-subscription.current_price"><%= new_seats_payment %></span>
              <p class="text-small color-fg-muted my-2" data-target="manage-subscription.payment_increase_container" hidden>
                Your payment increases by <strong class="color-fg-danger" data-target="manage-subscription.payment_increase"><%= payment_increase %></strong>
              </p>
              <p class="text-small color-fg-muted my-2" data-target="manage-subscription.payment_decrease_container" hidden>
                Your payment decreases by <strong class="color-fg-success" data-target="manage-subscription.payment_decrease"><%= payment_decrease %></strong>
              </p>
            </div>
            <div class="d-flex flex-column col-4 p-2" style="min-width:200px">
              <h5>Due today</h5>
              <span class="f2" data-target="manage-subscription.payment_due"><%= payment_due %></span>
              <%= payment_method %>
            </div>
          </div>
        </div>
        <div class="d-flex flex-row flex-justify-between flex-wrap">
          <div class="text-small color-fg-muted d-flex flex-column px-2">
            <p class="mb-1" data-target="manage-subscription.payment_due_notice"><%= payment_due_notice %></p>
            <p class="mb-1" data-target="manage-subscription.sales_tax_notice"><%= sales_tax_notice %></p>
          </div>
          <div class="d-flex flex-items-center">
            <span class="mr-3">
              <%= render Primer::ButtonComponent.new(data: {action: "click:manage-subscription#enterViewMode"}) do %>
                Cancel
              <% end %>
            </span>
            <%= render Primer::ButtonComponent.new(
              type: :submit,
              scheme: :primary,
              display: :flex,
              data: { target: "manage-subscription.submit" },
            ) do %>
              <%= update_seats_label %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
