<%= render Primer::BaseComponent.new(
  tag: :div, position: :relative, pl: 5, pb: 5,
  **system_arguments
) do %>
  <div class="position-absolute top-0 bottom-0 border-left color-border-default left-0 mt-1 ml-1">
    <span class="position-absolute top-0 left-0 color-bg-default p-3 mt-n1 ml-n3" ></span>
    <span class="position-relative mt-2 ml-n2">
      <%= render(Primer::Beta::Octicon.new(icon: icon, color: :muted)) %>
    </span>
  </div>
  <%= render Primer::BaseComponent.new(display: :flex, tag: :div, justify_content: :space_between) do %>
    <h2><%= title %></h2>
    <%= button %>
  <% end %>
  <%= body %>
<% end %>
