<label for="select-all-failed" class="table-list-header-meta py-1 <% if @selected_invitations.any? %>sr-only<% end %>">
  <span
    data-autosearch-results
    class="color-fg-default no-underline mr-2 color-fg-muted"
    <%= test_selector("failed-invitation-toolbar-failed-invites") %>
  >
    <%= pluralize(number_with_delimiter(@failed_invitations.total_entries), "Failed invitation", "Failed invitations") %> in <%= @business.name %>
  </span>
</label>
<% if @selected_invitations.any? %>
  <%= render(Primer::Alpha::ActionMenu.new(
    test_selector: "failed-invitation-toolbar-retry-delete",
  )) do |menu| %>
    <% menu.with_show_button(size: :small) do |button| %>
      <% button.with_trailing_action_icon(icon: :"triangle-down") %>
      <%= pluralize(@selected_invitations.count, "invitation") %> selected…
    <% end %>

    <% if show_delete_retry_invitation_button? %>
      <% menu.with_item(
        label: "Retry #{"invitation".pluralize(@selected_invitations.count)}",
        tag: :button,
        content_arguments: { "data-show-dialog-id": "retry-invitations-dialog" }) %>
      <% menu.with_item(
        label: "Cancel #{"invitation".pluralize(@selected_invitations.count)}",
        tag: :button,
        scheme: :danger,
        content_arguments: { "data-show-dialog-id": "cancel-invitations-dialog" }) %>
    <% end %>
  <% end %>

  <%= render(Primer::Alpha::Dialog.new(
    id: "retry-invitations-dialog",
    title: "Retrying #{pluralize(@selected_invitations.size, "invitation")}",
    test_selector: "retry-invitations-dialog",
  )) do %>
    <include-fragment
      aria-label="Loading..."
      src="<%= enterprise_failed_invitations_action_dialog_path(@business, action_dialog: "retry", "invitation_ids[]": selected_invitation_ids, redirect_to_path: enterprise_failed_invitations_path(@business)) %>">
      <%= render(Primer::Beta::Spinner.new(size: :large, mx: :auto, display: :block)) %>
    </include-fragment>
  <% end %>

  <%= render(Primer::Alpha::Dialog.new(
    id: "cancel-invitations-dialog",
    title: "Canceling #{pluralize(@selected_invitations.size, "invitation")}",
    test_selector: "cancel-invitations-dialog",
  )) do %>
    <include-fragment
      aria-label="Loading..."
      src="<%= enterprise_failed_invitations_action_dialog_path(@business, action_dialog: "cancel", "invitation_ids[]": selected_invitation_ids, redirect_to_path: enterprise_failed_invitations_path(@business)) %>">
      <%= render(Primer::Beta::Spinner.new(size: :large, mx: :auto, display: :block)) %>
    </include-fragment>
  <% end %>
<% end %>
