<% dialog_action = @action_dialog %>

<%= render(Primer::Alpha::Dialog::Body.new) do %>
  <p>The following invitations will be <%= Orgs::People::InvitationsDialogView::CONJUGATED_VERB[dialog_action.to_sym][:past]%>: </p>

  <div class="confirm-removal-list-container mb-0">
    <ul class="list-style-none">
      <% @selected_invitations.each do |invitation| %>
        <li class="confirm-removal-list-item">
          <% if invitation.invitee %>
            <%= linked_avatar_for(invitation.invitee, 16, img_class: "avatar") %>
            <%= invitation.invitee %>
            <span class="color-fg-muted float-right"> <%= invitation.organization %> </span>
          <% else %>
            <%= primer_octicon(:mail) %>
            <%= invitation.email %>
            <span class="color-fg-muted float-right"> <%= invitation.organization %> </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render(Primer::Alpha::Dialog::Footer.new) do %>
  <% invitations_count = selected_invitation_ids.length %>
  <% if dialog_action == "retry" %>
    <%= form_tag enterprise_failed_invitations_path(@business), method: :patch do %>
      <% selected_invitation_ids.each do |selected_id| %>
        <input type="hidden" name="invitation_ids[]" value="<%= selected_id %>">
      <% end %>
      <input type="hidden" name="redirect_to_path" value="<%= @redirect_to_path %>">
      <%= render Primer::Beta::Button.new(
        type: :submit,
        scheme: :danger,
        data: { "disable-with": "" }
      ) do %>
        <%=  dialog_action.capitalize %> <%= "invitation".pluralize(invitations_count) %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_tag enterprise_failed_invitations_path(@business), method: :delete do %>
      <% selected_invitation_ids.each do |selected_id| %>
        <input type="hidden" name="invitation_ids[]" value="<%= selected_id %>">
      <% end %>
      <input type="hidden" name="redirect_to_path" value="<%= @redirect_to_path %>">
      <%= render Primer::Beta::Button.new(
        type: :submit,
        scheme: :danger,
        data: { "disable-with": "" }
      ) do %>
        <%= dialog_action.capitalize %> <%= "invitation".pluralize(invitations_count) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
