<div class="d-flex" <%= test_selector("enterprise-nav-#{@business.id}") %>>
  <%= form_tag search_path, method: :get,
               class: "subnav-search float-left ml-0", "data-autosearch-results-container" => "#{search_container_name}" do %>
    <div class="auto-search-group mr-2">
      <input class="form-control subnav-search-input input-contrast auto-search-input js-member-filter-field"
        type="text"
        name="query"
        value="<%= params[:query] %>"
        placeholder="<%= @placeholder_text %>"
        aria-label="<%= @placeholder_text %>"
        autocomplete="off"
        data-throttled-autosubmit>
      <%= primer_octicon(:search) %>
      <img class="spinner" src="<%= image_path "spinners/octocat-spinner-32.gif" %>" alt="">
    </div>
  <% end %>

  <% if render_cloud_server_toggle?  %>
    <nav aria-label="Enterprise Membership type">
      <%= selected_link_to "Cloud",
        organizations_path,
        highlight: %i(cloud server),
        class: "subnav-item" %>
      <%= selected_link_to "Server",
        enterprise_installations_path,
        highlight: %i(cloud server),
        class: "subnav-item" %>
    </nav>
  <% end %>
</div>
