<% if @selected_invitations.any? %>
  <div class="d-flex pt-0 pb-0">
    <%= render(Primer::Alpha::ActionMenu.new(
      test_selector: "pending-invitation-toolbar-delete"
    )) do |menu| %>
      <% menu.with_show_button(size: :small) do |button| %>
        <% button.with_trailing_action_icon(icon: :"triangle-down") %>
        <%= pluralize @selected_invitations.count, "invitation", "invitations" %> selected…
      <% end %>
      <% menu.with_item(
        label: "Cancel invitations",
        tag: :button,
        scheme: :danger,
        test_selector: "pending-invitation-toolbar-menu-cancel-button",
        content_arguments: { "data-show-dialog-id": "cancel-invitations-dialog" }
      ) %>
    <% end %>

    <%= render(Primer::Alpha::Dialog.new(
      id: "cancel-invitations-dialog",
      title: "Canceling #{pluralize(@selected_invitations.size, "invitation")}",
      test_selector: "cancel-invitations-dialog",
    )) do %>
      <include-fragment
        aria-label="Loading..."
        src="<%= bulk_delete_dialog_path %>"
        <%= test_selector "dialog_fragment" %>>
        <%= render(Primer::Beta::Spinner.new(size: :large, mx: :auto, display: :block)) %>
      </include-fragment>
    <% end %>
  </div>
  <select-all class="d-flex pt-0 pb-0">
    <% if all_invitations_selected? %>
      <%= render Primer::Beta::Button.new(
        scheme: :link,
        ml: 3,
        "data-action": "click:select-all#clearSelection",
        pt: 0,
        pb: 0
      ) do %>
        Clear selection
      <% end %>
    <% else %>
      <%= render Primer::Beta::Button.new(
        scheme: :link,
        ml: 3,
        "data-action": "click:select-all#selectAll",
        pt: 0,
        pb: 0
      ) do %>
        Select all invitations
      <% end %>
    <% end %>
  </select-all>
<% else %>
  <label for="select-all-on-page" class="table-list-header-meta py-1">
    <span
      data-autosearch-results
      class="color-fg-default no-underline mr-2"
      <%= test_selector("pending-invitation-toolbar-pending-invites") %>
    >
      <% if @opts[:invitation_type] && @opts[:invitation_type] == "admin" %>
        <%= pluralize(number_with_delimiter(@pending_invitations.total_entries), "administrator invitation", "administrator invitations") %>
      <% elsif @opts[:invitation_type] && @opts[:invitation_type] == "collaborator" %>
        <%= pluralize(number_with_delimiter(@pending_invitations.total_entries), "collaborator invitation", "collaborator invitations") %>
      <% else %>
        <%= pluralize(number_with_delimiter(@pending_invitations.total_entries), "member invitation", "member invitations") %>
      <% end %>
    </span>
  </label>
<% end %>
