<%= render(Primer::Alpha::Dialog::Body.new) do %>
  <div class="confirm-removal-list-container mt-3 mb-0">
    <ul class="list-style-none">
      <% @selected_invitations.each do |invitation| %>
        <li class="confirm-removal-list-item" <%= test_selector "cancel-invitation-#{invitation.id}" %>>
          <div class="d-flex flex-row">
            <div class="flex-items-start flex-1">
              <% if invitation.invitee %>
                <%= profile_link(invitation.invitee) %>
              <% else %>
                <%= invitation.email %>
              <% end %>
            </div>

            <% if invitation_type == "member" && invitation.organization.present? %>
              <div class="flex-column">
                <%= render(Primer::Beta::Octicon.new(:"organization")) %>
                <%= invitation.organization.name %>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render(Primer::Alpha::Dialog::Footer.new) do %>
  <div class="mt-2">
    <%= form_tag cancel_path, method: :delete do %>
      <% selected_invitation_ids.each do |selected_id| %>
        <input type="hidden" name="invitation_ids[]" value="<%= selected_id %>">
      <% end %>
      <input type="hidden" name="redirect_to_path" value="<%= @redirect_to_path %>">
      <%= render Primer::Beta::Button.new(
        type: :submit,
        scheme: :danger,
        "data-disable-with": "Cancelling #{"invitation".pluralize(selected_invitation_ids.length)}...",
        test_selector: "cancel-invitations-button"
      ) do %>
        Cancel <%= "invitation".pluralize(selected_invitation_ids.length) %>
      <% end %>
    <% end %>
  </div>
<% end %>
