<% page_info title: "#{"#{sponsor_login} · " if sponsor_login}GitHub Sponsors billing mismatches · Stafftools", selected_link: :sponsors_billing_mismatches %>

<div class="f3 border-bottom">
  <div class="container-xl py-3">
    <%= render Primer::Beta::Octicon.new(icon: "rocket", vertical_align: :baseline) %>
    <a href="<%= stafftools_path %>">Site admin</a> /
    <a href="<%= stafftools_sponsors_billing_mismatches_path %>" class="text-bold">
      GitHub Sponsors billing mismatches
    </a>
    <% if sponsor_login.present? %>
      / <a href="<%= stafftools_sponsors_billing_mismatches_path(sponsor_login: sponsor_login) %>" class="text-bold">
        <%= sponsor_login %>
      </a>
    <% end %>
  </div>
</div>

<div class="container-xl p-3">
  <div class="mb-5" id="sponsorships-without-line-item">
    <include-fragment src="<%= unpaid_sponsorships_stafftools_sponsors_billing_mismatches_path(days_ago: days_ago, days_between: days_between, page: current_page, sponsor_login: sponsor_login) %>">
      <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
    </include-fragment>
  </div>
</div>
