<% page_info title: "#{"#{sponsor_login} 路 " if sponsor_login} 路 Unpaid sponsorships 路 GitHub Sponsors billing mismatches 路 Stafftools", selected_link: :sponsors_billing_mismatches %>

<%= render(Primer::Beta::Subhead.new) do |component| %>
  <% component.with_heading(tag: :h2) do %>
    Active sponsorships
    <%= "from @#{sponsor_login}" if sponsor_login %>
    that haven't been paid
    <%= render Primer::Beta::Counter.new(count: sponsorships.total_entries, ml: 2) %>
  <% end %>
  <% if sponsorships_that_can_be_retried.present? %>
    <% component.with_actions do %>
      <%= render Primer::Beta::Button.new(
        size: :small,
        scheme: :danger,
        classes: "js-sponsors-retry-one-time-subscription-items-button",
        test_selector: "retry-one-time-subscription-items-button",
      ).with_content("Select sponsorships to retry payment collection") %>
    <% end %>
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_header do %>
    <h2 class="Box-title d-flex flex-items-center flex-justify-between">
      <div>
        <% if sponsor_login %>
          From sponsor <strong>@<%= sponsor_login %></strong>
        <% else %>
          All sponsors
        <% end %>
      </div>
      <div class="d-flex flex-items-center">
        <%= form_tag stafftools_sponsors_billing_mismatches_path(page: current_page), method: :get do %>
          <label for="sponsor_login">Sponsor:</label>
          <input type="text"
            class="form-control input-sm"
            name="sponsor_login"
            id="sponsor_login"
            value="<%= sponsor_login %>"
            placeholder="Filter by login">
        <% end %>
        <% if sponsor_login.present? %>
          <a class="Link--muted ml-2" href="<%= stafftools_sponsors_billing_mismatches_path(page: current_page, sponsor_login: nil) %>">
            <%= render Primer::Beta::Octicon.new(icon: "x") %>
          </a>
        <% end %>
      </div>
    </h2>
  <% end %>
  <% component.with_body(p: 0, classes: "overflow-x-auto") do %>
    <% if sponsorships.any? %>
      <%= form_tag retry_one_time_subscription_items_stafftools_sponsors_path, class: "js-sponsors-retry-one-time-subscription-items-form" do %>
        <table class="stafftools-table sponsors-retry-one-time-subscription-items js-sponsors-retry-one-time-subscription-items-table">
          <thead>
            <th class="sponsors-bulk-action-column v-align-middle px-2 no-wrap text-center">
              <%= emoji_tag(Emoji.find_by_alias("white_check_mark")) %>
            </th>
            <th class="no-wrap">Status</th>
            <th class="no-wrap">Sponsor</th>
            <th class="no-wrap">Tier</th>
            <th class="no-wrap">Maintainer</th>
            <th class="no-wrap">Sponsoring since</th>
            <th class="no-wrap">Options</th>
          </thead>
          <tbody>
            <% sponsorships.each do |sponsorship| %>
              <%
                sponsor = sponsorship.sponsor
                maintainer = sponsorship.sponsorable
                tier = sponsorship.tier
                subscription_item = sponsorship&.subscription_item
                plan_subscription = subscription_item&.plan_subscription
                customer = plan_subscription&.customer
                payment_method = customer&.payment_method
              %>
              <tr class="js-sponsors-bulk-action-row">
                <td class="sponsors-bulk-action-column text-center v-align-middle">
                  <% if sponsorship.can_retry_collecting_payment? %>
                    <input name="subscription_item_ids[]" type="checkbox" aria-label="Select <%= sponsor %> => <%= maintainer %> sponsorship" class="js-sponsors-bulk-action-checkbox" value="<%= subscription_item.id %>">
                  <% end %>
                </td>
                <td class="no-wrap v-align-middle">
                  <% if subscription_item %>
                    <%= subscription_item.active? ? "Active" : "Inactive" %> subscription item
                    <div class="note">
                      Updated <%= time_ago_in_words_js(subscription_item.updated_at) %>
                    </div>
                  <% else %>
                    No subscription item
                  <% end %>
                </td>
                <td class="v-align-middle">
                  <a href="<%= billing_stafftools_user_path(sponsor) %>" <%= safe_data_attributes(hovercard_data_attributes_for_user(sponsor)) %>>
                    <%= sponsor %>
                  </a>
                  <div class="text-small color-fg-muted">
                    <a class="Link--muted" href="<%= stafftools_user_overview_path(sponsor) %>#staffnotes">Staff notes</a>
                  </div>
                  <% if customer&.zuora? || plan_subscription&.zuora_subscription_number? %>
                    <div class="text-small color-fg-muted">
                      <% if customer&.zuora? %>
                        <a href="<%= zuora_account_url_for_customer(customer) %>" class="Link--muted">
                          Zuora
                        </a>
                      <% end %>
                      <% if plan_subscription&.zuora_subscription_number? %>
                        &middot;
                        <a href="<%= zuora_subscription_url_for_plan_subscription(plan_subscription) %>" class="Link--muted">
                          <%= plan_subscription.zuora_subscription_number %>
                        </a>
                      <% end %>
                    </div>
                  <% end %>
                </td>
                <td class="v-align-middle">
                  <span <%= test_selector("tier-name") %>>
                    <%= sponsorship.tier.name %>
                  </span>
                  <% if tier.custom? %>
                    (custom)
                  <% end %>
                  <% if payment_method %>
                    <br>
                    <span class="text-small color-fg-muted no-wrap">
                      <% if payment_method.credit_card? %>
                        via credit card
                      <% elsif payment_method.paypal? %>
                        via PayPal
                      <% end %>
                    </span>
                  <% end %>
                </td>
                <td class="v-align-middle">
                  <a href="<%= stafftools_sponsors_member_path(maintainer) %>" <%= safe_data_attributes(hovercard_data_attributes_for_user(maintainer)) %>>
                    <%= maintainer %>
                  </a>
                  <div class="text-small color-fg-muted">
                    Staff notes:
                    <a class="Link--muted" href="<%= stafftools_user_overview_path(maintainer) %>#staffnotes">@<%= maintainer %></a> /
                    <a class="Link--muted" href="<%= stafftools_sponsors_member_path(maintainer) %>#staff-notes">Sponsors profile</a>
                  </div>
                </td>
                <td class="no-wrap v-align-middle">
                  <%= date_with_time_tooltip sponsorship.created_at %>
                  <% if (tier_selected_at = sponsorship.subscribable_selected_at) && tier_selected_at.to_date != sponsorship.created_at.to_date %>
                    <div class="text-small color-fg-muted no-wrap">
                      Tier chosen: <%= date_with_time_tooltip tier_selected_at %>
                    </div>
                  <% end %>
                </td>
                <td class="v-align-middle text-small color-fg-muted">
                  <ul class="list-style-none">
                    <li>
                      <% audit_log_query = driftwood_ade_query?(current_user) ?
                        "#{sponsor.audit_log_kql_query}\n| where (action startswith 'braintree.' or action startswith"\
                        " 'billing.' or action startswith 'account.' or action startswith 'payment_method.' or action"\
                        " startswith 'pending_plan_change.' or action startswith 'pending_subscription_change.' or"\
                        " action startswith 'plan_subscription.' or action startswith 'metered_billing_configuration.'"\
                        " or action startswith 'staff.chargeback_disable' or action startswith 'sponsors.')" :
                        "#{sponsor.audit_log_query} action:(braintree.* OR billing.* OR account.* OR payment_method.*"\
                        " OR pending_plan_change.* OR pending_subscription_change.* OR plan_subscription.*"\
                        " OR metered_billing_configuration.* OR staff.chargeback_disable OR sponsors.*)"
                      %>
                      <a href="<%= stafftools_audit_log_path(query: audit_log_query) %>">
                        View audit logs
                      </a>
                    </li>
                    <li>
                      <a href="<%= stafftools_sponsors_billing_mismatches_path(sponsor_login: sponsor.login) %>">
                        More from @<%= sponsor %>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7" class="sponsors-bulk-action-column bgColor-muted p-2 border-top">
                <%= render Primer::Beta::Button.new(
                  type: :submit,
                  scheme: :primary,
                  "data-confirm": "Are you sure you want to retry payment collection for the selected sponsorships?",
                ).with_content("Retry payment collection") %>
                <% if sponsorships_that_can_be_retried.map(&:sponsor_id).uniq.size > 1 %>
                  <div class="note d-inline-block ml-2">
                    Please only select sponsorships from a single sponsor at a time.
                  </div>
                <% end %>
              </td>
            </tr>
          </tfoot>
        </table>
      <% end %>
    <% else %>
      <%= render Primer::Beta::Blankslate.new(test_selector: "no-results") do |c| %>
        <% c.with_visual_icon(icon: "gift") %>

        <% c.with_heading(tag: :h2) do %>
          Yay, no unpaid sponsorships!
        <% end %>

        <% c.with_description do %>
          <%= "There are no active, non-invoiced sponsorships#{" for #{sponsor_login}" if sponsor_login} " \
                  "that lack a billing transaction and line items." %>
        <% end %>
      <% end %>
    <% end %>
    <% if sponsorships.total_pages > 1 %>
      <div class="paginate-container mt-0 mb-2 pt-2 border-top">
        <div class="pagination">
          <%= will_paginate sponsorships, "data-pjax" => true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if sponsorships.any? %>
  <div class="color-fg-muted text-small mt-3">
    <p>An active sponsorship without a billing transaction could mean:</p>
    <ul class="ml-3">
      <li>We're still trying to update the subscription</li>
      <li>The subscription update failed, which should have triggered a rollback and didn't</li>
      <li>We haven't processed the Zuora webhook yet</li>
      <li>Payment was declined, which should have triggered a rollback and didn't</li>
    </ul>
  </div>
<% end %>
