<% content_for :header do %>
  Your organization's <%= pluralize(@codespace_count, 'codespace') %> will soon be deleted
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hi @<%= @admin.display_login %>,
    </p>
    <p>
      The <%= @org.display_login %> organization recently downgraded from a GitHub paid plan to a free plan. Codespaces can only be billed to organizations that are on a paid plan. The <%= pluralize(@codespace_count, 'codespace') %> that were being billed to the <%= @org.display_login %> organization have been disabled. These codespaces will be deleted on <%= @deletion_date.strftime("%B %d, %Y") %>; 7 days after the organization was downgraded.
    </p>
    <p>
      If you didn't intend to downgrade, and would like to prevent codespaces from being deleted, you can re-upgrade <%= @org.display_login %> by clicking the button below or navigating to the organization's billing plan in settings and selecting a paid plan before <%= @deletion_date.strftime("%B %d, %Y") %>. No action is required, otherwise.
    </p>
  <% end %>

  <%= render(Mail::ContainerComponent.new) do %>
    <%= render(Mail::ButtonComponent.new(text: "Re-upgrade #{@org.display_login}", url: settings_org_plans_url(@org), classes: "btn-primary btn-large")) %>
  <% end %>
<% end %>
