<%# rubocop:disable Lint/InstanceVariable %>
<%
  forking = !current_repository.forked_by?(current_user)
  repo_locked_on_migration = current_repository.locked_on_migration?
%>

<% page_info \
    selected_link: :repo_source,
    container_xl: true,
    class: "page-edit-blob",
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <% if @current_blob.nil? %>
    <% page_title "Creating file in #{current_repository.name_with_display_owner} at #{h tree_name_for_display}" %>
  <% elsif current_blob.name.blank? %>
    <% page_title "Editing #{current_repository.name_with_display_owner} at #{h tree_name_for_display}" %>
  <% else %>
    <% page_title "Editing #{current_repository.name}/#{current_blob.display_name} at #{h tree_name_for_display} · #{current_repository.name_with_display_owner}" %>
  <% end %>

  <div class="breadcrumb">
    <span id="blob-copy-path"><%= breadcrumb_trail params[:path] %></span>
    <%= render Primer::Beta::ClipboardCopy.new(for: "blob-copy-path", "aria-label": "Copy file path to clipboard", display: :inline_block, ml: 1, classes: "btn btn-sm") %>
  </div>

  <%= form_tag request.fullpath do %>
    <% if repo_locked_on_migration %>
      <%= render Primer::Beta::Blankslate.new do |component| %>
        <% component.with_visual_icon(icon: :lock) %>
        <% component.with_heading(tag: :h1, classes: "h3").with_content("This repository is currently being migrated.") %>
        <% component.with_description { "Sorry, you’re not able to edit this repository while the migration is in progress." } %>
      <% end %>
    <% elsif forking %>
      <%= render Primer::Beta::Blankslate.new do |component| %>
        <% component.with_visual_icon(icon: :"git-branch") %>
        <% component.with_heading(tag: :h1, classes: "h3").with_content("You need to fork this repository to propose changes.") %>
        <% component.with_description do %>
          <p>Sorry, you’re not able to edit this repository directly—you need to fork it and propose your changes from there instead.</p>

          <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, display: :inline_block) do |component| %>
            <% component.with_leading_visual_icon(icon: :"git-branch") %>
            Fork this repository
          <% end %>

          <%= render(Primer::Beta::Link.new(href: GitHub.help_url + "/articles/fork-a-repo", display: :block, mt: 3)) { "Learn more about forks" } %>
        <% end %>
      <% end %>
    <% else %>
      <%= render Primer::Beta::Blankslate.new do |component| %>
        <% component.with_visual_icon(icon: :alert) %>
        <% component.with_heading(tag: :h1, classes: "h3").with_content("Sorry, it looks like your fork is outdated!") %>
        <% component.with_description do %>
          <p>You’ll have to bring it up to date before you can propose changes.</p>

          <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, display: :inline_block) do |component| %>
            <% component.with_leading_visual_icon(icon: :sync) %>
            Update your fork
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>
