<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Box.new(border_color: :default, border: true, border_radius: 2, classes: "community-graph", mx: :auto, p: 3, mb: 3)) do |component| %>
  <%= render Primer::Box.new(display: :flex) do %>
    <%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
      <% component.with_heading(tag: :h4, font_size: 4, font_weight: :bold) do %>
       Discussions page views
      <% end %>
      <% component.with_description do %>
        Total page views to Discussions segmented by logged in vs anonymous users.
      <% end %>
    <% end %>
  <% end %>
  <discussion-page-views-graph>
    <div class="graph-canvas js-graph"
          style="min-height: 207px; max-height: 300px;"
          id="discussion-page-views"
          data-responsive-graph="true"
          data-target="discussion-page-views-graph.graph"
          data-graph-name="discussion-page-views"
          data-url="<%= discussions_page_views_data_url(current_repository.owner.display_login, current_repository.name, period: params[:period])%>">
          <%= render(Primer::Beta::Spinner.new(w: :full, classes: "graph-loading")) %>
          <div class="graph-loading msg">
            <p>Crunching the latest data, just for you. Hang tight…</p>
          </div>
          <div class="graph-empty msg mt-6">
            <%= primer_octicon(:graph, size: :medium, mx: :auto, display: :block, mb: 3, color: :muted) %>
            <h4 class="text-center mb-1">Not enough data yet.</h4>
            <p class="text-center color-fg-muted">It usually takes about a week to populate this chart.</p>
            <p class="text-center">
              <%= render(Primer::Beta::Link.new(href: "https://docs.github.com/discussions/managing-discussions-for-your-community/viewing-insights-for-your-discussions", classes: "Link--inTextBlock")) { "Read more about insights" } %>
            </p>
          </div>
          <%= render Primer::Beta::Flash.new(scheme: :danger, m: 3, classes: "graph-error") do %>
            <p>We tried our best, but the graph wouldn’t load. Try reloading the page.</p>
          <% end %>
    </div>
  </discussion-page-views-graph>
<% end %>
