<%# erblint:counter DeprecatedInPrimerCounter 19 %>
<div class="color-canvas-primary-inverse pt-12">
  <div class="container-xl p-responsive">

    <!-- CI/CD -->
    <div class="js-build-in-trigger pt-12 pb-9 position-relative z-1">
      <div class="js-build-in-item build-in-slideY col-7-max mx-auto py-7 text-center" data-build-delay="400">
        <h2 class="h2-mktg color-text-white">The number one CI/CD service in the world</h2>
        <p class="f3-mktg color-text-secondary-inverse text-normal mt-2 px-6">Over 130 million CI jobs are run every month on GitHub Actions. With CI/CD available out of the box for every repository and the ability to automate any workflow, Actions helps you build, test, approve, deploy, and secure your software.</p>
      </div>

      <div class="position-relative gutter gutter-lg-spacious ">
        <div class="d-flex gutter gutter-lg-spacious height-full position-absolute right-0 left-0 z-1">
          <div class="col-5 offset-6 px-4">
            <div class="enterprise-workflow-logs position-relative rounded-2 box-shadow-active-border-inverse-mktg color-canvas-secondary-inverse">
              <img src="<%= image_path "modules/site/enterprise/workflow-logs.png" %>" alt="CI/CD workflow logs" class="width-full" loading="lazy">
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="js-build-in-item build-in-slideY rounded-2 mb-6 box-shadow-card-border-inverse-mktg color-canvas-secondary-inverse" data-build-delay="200">
            <img src="<%= image_path "modules/site/enterprise/workflow-summary.png" %>" alt="CI/CD workflow summary" class="width-full d-block" loading="lazy" decoding="async">
          </div>
        </div>
      </div>

      <div class="js-build-in-item build-in-slideY d-flex gutter gutter-spacious" data-build-delay="600">
        <div class="offset-1 col-5 color-text-white">
          <h4 class="h3-mktg font-stat">130M+</h4>
          <p class="f3-mktg text-medium mb-4">Monthly CI jobs</p>

          <ul class="list-style-none f3-mktg text-medium">
            <li class="py-1 d-flex flex-items-center"><%= primer_octicon(:"arrow-right", size: :medium, mr: 2, classes: "color-text-secondary-inverse") %>Visualize complex workflows and follow live logs</li>
            <li class="py-1 d-flex flex-items-center"><%= primer_octicon(:"arrow-right", size: :medium, mr: 2, classes: "color-text-secondary-inverse") %>Ensure compliance with deployment approvals</li>
            <li class="py-1 d-flex flex-items-start"><%= primer_octicon(:"arrow-right", size: :medium, mr: 2, classes: "color-text-secondary-inverse") %>Support for every OS, language, and runtime your developers need</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Runners -->
    <div class="js-build-in-trigger pt-12 pb-9">
      <div class="d-flex flex-wrap gutter gutter-lg-spacious">
        <div class="col-4 offset-1 position-relative z-1">
          <div class="enterprise-runner enterprise-runner-premium color-canvas-secondary-inverse">
            <img src="<%= image_path "modules/site/enterprise/runner-pins.svg" %>" alt="CPU pins" class="enterprise-runner-pins-t position-absolute" loading="lazy">
            <img src="<%= image_path "modules/site/enterprise/runner-pins.svg" %>" alt="CPU pins" class="enterprise-runner-pins-r position-absolute" loading="lazy">
            <img src="<%= image_path "modules/site/enterprise/runner-pins.svg" %>" alt="CPU pins" class="enterprise-runner-pins-b position-absolute" loading="lazy">
            <img src="<%= image_path "modules/site/enterprise/runner-pins.svg" %>" alt="CPU pins" class="enterprise-runner-pins-l position-absolute" loading="lazy">
            <div class="enterprise-runner-wrapper">
              <div class="enterprise-runner-core d-flex flex-items-center flex-justify-center height-full">
                <img src="<%= image_path "modules/site/enterprise/runner-logo.svg" %>" alt="GitHub logo" class="enterprise-runner-logo" loading="lazy">
              </div>
            </div>
          </div>

        </div>
        <div class="col-5 offset-1">
          <div class="py-12 mb-12">
            <h3 class="h4-mktg color-text-white mb-2">Hosted runners</h3>
            <p class="color-text-secondary-inverse f3-mktg">Included in every GitHub plan, run your CI/CD and automated workflows on Linux, Windows, or macOS with 2 CPU cores.</p>
          </div>

          <div class="py-12">
            <p class="border color-border-secondary-inverse rounded-2 px-2 py-1 text-medium color-text-secondary-inverse d-inline-block lh-condensed-ultra f5-mktg">Coming soon</p>
            <h3 class="h4-mktg color-text-white mb-2 text-bold">GitHub-hosted runners</h3>
            <p class="color-text-secondary-inverse f3-mktg">Configure GitHub-hosted runners with support for custom images, choice of region, advanced networking options, full compliance standards, and bring-your-own-key encryption.</p>

            <ul class="d-flex gutter gutter-lg-spacious flex-wrap mt-5">
              <li class="col-6 mb-3">
                <p class="f4-mktg color-text-secondary-inverse mb-0">CPUs up to</p>
                <h4 class="h4-mktg color-text-white font-stat">64-cores</h4>
              </li>
              <li class="col-6 mb-3">
                <p class="f4-mktg color-text-secondary-inverse mb-0">GPUs up to</p>
                <h4 class="h4-mktg color-text-white font-stat">24-cores</h4>
              </li>
              <li class="col-6 mb-3">
                <p class="f4-mktg color-text-secondary-inverse mb-0">Memory</p>
                <h4 class="h4-mktg color-text-white font-stat">128 GB</h4>
              </li>
              <li class="col-6 mb-3">
                <p class="f4-mktg color-text-secondary-inverse mb-0">Memory</p>
                <h4 class="h4-mktg color-text-white font-stat">448 GB</h4>
              </li>
              <li class="col-6 mb-3">
                <p class="f4-mktg color-text-secondary-inverse mb-0">Storage</p>
                <h4 class="h4-mktg color-text-white font-stat">512 GB</h4>
              </li>
              <li class="col-6 mb-3">
                <p class="f4-mktg color-text-secondary-inverse mb-0">Storage</p>
                <h4 class="h4-mktg color-text-white font-stat">2,948 GB</h4>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-10 offset-1 pb-9">
          <div class="d-flex flex-items-center gutter rounded-2 py-5 px-4 border color-border-secondary-inverse color-canvas-primary-inverse position-relative z-2">
            <div class="flex-shrink-0 pr-4">
              <img src="<%= image_path "modules/site/enterprise/self-hosted-chip.svg" %>" alt="Self hosted chip" class="v-align-middle" loading="lazy">
            </div>
            <div>
              <h3 class="h5-mktg color-text-white mb-2 text-semibold">Prefer your own hardware?</h3>
              <p class="mb-0 color-text-secondary-inverse f4-mktg">Use self-hosted runners and configure Actions to run just for you. Includes support for all OSes, included ARM86 and ARM64.</p>
            </div>
            <div>
              <ul class="list-style-none d-flex flex-items-center">
                <li><img src="<%= image_path "modules/site/enterprise/macos.svg" %>" alt="macOS" class="v-align-middle" loading="lazy"></li>
                <li><img src="<%= image_path "modules/site/enterprise/windows.svg" %>" alt="Windows" class="v-align-middle" loading="lazy"></li>
                <li><img src="<%= image_path "modules/site/enterprise/linux.svg" %>" alt="linux" class="v-align-middle" loading="lazy"></li>
                <li><img src="<%= image_path "modules/site/enterprise/arm.svg" %>" alt="ARM" class="v-align-middle" loading="lazy"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Actions marketplace -->
    <div class="js-build-in-trigger py-12">
      <div class="d-flex flex-items-center gutter gutter-lg-spacious">
        <div class="col-5 offset-1 js-build-in-item build-in-slideY" data-build-delay="400">
          <h2 class="h3-mktg color-text-white">Automate anything, including the tools you already use</h2>
          <p class="f3-mktg color-text-secondary-inverse text-normal mt-2 mb-3">Actions keeps your developers focused on what they love doing—writing code. Transform their most repetitive and manual tasks into Actions workflows that can be triggered by over 30 GitHub events like <span class="text-mono color-text-white">pull_request</span>, <span class="text-mono color-text-white">release</span>, and <span class="text-mono color-text-white">schedule</span>, saving you time and resources.</p>
        </div>

        <div class="col-6">
          <div class="position-relative js-build-in-item build-in-slideY" data-build-delay="400">
            <div class="col-8 enterprise-workflow-actions">
              <ul class="list-style-none enterprise-workflow-actions-list d-flex flex-column">
                <li class="mb-2 enterprise-workflow-action enterprise-workflow-action-3 rounded-2">
                  <img src="<%= image_path "modules/site/enterprise/workflow-action-3.png" %>" alt="Workflow yml file" class="width-full d-block" loading="lazy" decoding="async">
                </li>
                <li class="my-2 enterprise-workflow-action enterprise-workflow-action-2 rounded-2">
                  <img src="<%= image_path "modules/site/enterprise/workflow-action-2.png" %>" alt="Workflow yml file" class="width-full d-block" loading="lazy" decoding="async">
                </li>
                <li class="my-2 enterprise-workflow-action enterprise-workflow-action-1 rounded-2">
                  <img src="<%= image_path "modules/site/enterprise/workflow-action-1.png" %>" alt="Workflow yml file" class="width-full d-block" loading="lazy" decoding="async">
                </li>
              </ul>
            </div>

            <div class="rounded-2 box-shadow-card-border-inverse-mktg color-canvas-secondary-inverse position-relative">
              <img src="<%= image_path "modules/site/enterprise/workflow-yml-1.png" %>" alt="Workflow yml file" class="position-absolute width-full" loading="lazy" decoding="async">
              <img src="<%= image_path "modules/site/enterprise/workflow-yml-2.png" %>" alt="Workflow yml file" class="enterprise-workflow-yml-2 position-absolute width-full" loading="lazy" decoding="async">
              <img src="<%= image_path "modules/site/enterprise/workflow-yml-3.png" %>" alt="Workflow yml file" class="enterprise-workflow-yml-3 position-absolute width-full" loading="lazy" decoding="async">
              <img src="<%= image_path "modules/site/enterprise/workflow-yml-4.png" %>" alt="Workflow yml file" class="enterprise-workflow-yml-4 position-absolute width-full" loading="lazy" decoding="async">
              <div style="padding-top: calc(418 / 600 * 100%)"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Testimonial -->
    <div class="js-build-in-trigger pt-12 mb-12 position-relative z-1">
      <div class="d-flex flex-items-center gutter gutter-lg-spacious js-build-in-item build-in-slideY" data-build-delay="400">
        <div class="col-3 offset-1">
          <div class="circle width-full color-canvas-secondary-inverse" style="height: 284px"></div>
        </div>

        <div class="col-7">
          <blockquote class="f1-mktg text-medium mb-4 enterprise-testimonial color-text-white">
            By using standards and automation, we avoided performing over 100 manual steps over 3 months. Our DevOps journey is now 3 steps and less than a day– a cost saving of $350,000 per team.
          </blockquote>

          <p class="d-flex text-mono f5-mktg color-text-secondary-inverse mb-3"><span>Denis Canty</span> <span class="px-2">//</span> <span>VP of Developer Services & Technology Labs</span></p>

          <img src="<%= image_path "modules/site/enterprise/mckesson.svg" %>" alt="McKesson" class="v-align-middle" loading="lazy">
        </div>
      </div>
    </div>


    <!-- Articles -->
    <div class="js-build-in-trigger pb-12 position-relative z-1">
      <div class="d-flex gutter gutter-lg-spacious js-build-in-item build-in-slideY" data-build-delay="400">
        <div class="col-4">
          <a  href="/" class="p-4 rounded-2 no-underline color-text-white d-flex flex-column height-full box-shadow-card-border-inverse-mktg color-canvas-secondary-inverse">
            <h4 class="f4-mktg text-medium height-full mb-2">Getting started with DevOps automation</h4>

            <span class="f4-mktg text-medium color-text-secondary-inverse">Read article</span>
          </a>
        </div>

        <div class="col-4">
          <a href="" class="p-4 rounded-2 no-underline color-text-white d-flex flex-column height-full box-shadow-card-border-inverse-mktg color-canvas-secondary-inverse">
            <h4 class="f4-mktg text-medium height-full mb-2">Automating CI/CD pipelines with Actions and GCP</h4>

            <span class="f4-mktg text-medium color-text-secondary-inverse">Watch video</span>
          </a>
        </div>

        <div class="col-4">
          <a href="" class="p-4 rounded-2 no-underline color-text-white d-flex flex-column height-full box-shadow-card-border-inverse-mktg color-canvas-secondary-inverse">
            <h4 class="f4-mktg text-medium height-full mb-2">Containerized deployments for enterprises with GitHub Actions and Packages</h4>

            <span class="f4-mktg text-medium color-text-secondary-inverse">Watch video</span>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
