<div class="d-flex gutter-condensed width-full mb-3">
  <div class="col-4" style="margin-left: -66.66667%;">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
</div>

<div class="d-flex gutter-condensed width-full mb-3">
  <div class="col-4 offset-n4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
</div>

<div class="d-flex gutter-condensed flex-justify-end width-full mb-3">
  <div class="col-4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
</div>

<div class="d-flex gutter-condensed flex-justify-end width-full mb-3">
  <div class="col-4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
</div>

<div class="d-flex gutter-condensed flex-justify-end width-full mb-3">
  <div class="col-4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
</div>

<div class="d-flex gutter-condensed width-full mb-3">
  <div class="col-4 offset-4 flex-shrink-0">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4 flex-shrink-0 ">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4 flex-shrink-0 ">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
</div>

<div class="d-flex gutter-condensed width-full mb-3">
  <div class="col-4 offset-8 flex-shrink-0">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4 flex-shrink-0 ">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
  <div class="col-4 flex-shrink-0 ">
    <div class="enterprise-codespace-dumby">
      <%= primer_octicon(:codespaces, size: :medium, color: :muted) %>
    </div>
  </div>
</div>
