<%= render Site::SectionComponent.new(theme: :dark) do %>
  <%= render Site::RiverComponent.new(
    text_placement: :center,
    header: "Code, complete",
    text: "Companies that want to increase their velocity need to focus on their developer experience, and the modern developer experience begins&nbsp;with&nbsp;GitHub.",
    size: :large) do %>
    <%= render Site::ButtonComponent.new(text: "Read the Forrest Report", scheme: :muted, size: :large) %>
  <% end %>

  <%= render Site::HstackComponent.new(classes: "mb-12", stagger: 160) do %>
    <div class="js-build-in-item build-in-slideY col-12">
      <h4 class="h0-mktg font-stat mb-1 text-extrabold">22<span class="h2-mktg text-normal">%</span></h4>
      <p class="h6-mktg text-medium">improvement in developer <br>productivity*</p>
    </div>

    <div class="js-build-in-item build-in-slideY col-12">
      <h4 class="h0-mktg font-stat mb-1 text-extrabold">433<span class="h2-mktg text-normal">%</span></h4>
      <p class="h6-mktg text-medium">ROI over 3 years*</p>
    </div>

    <div class="js-build-in-item build-in-slideY col-12">
      <h4 class="h0-mktg font-stat mb-1 text-extrabold">80<span class="h2-mktg text-normal">%</span></h4>
      <p class="h6-mktg text-medium">time saved <br>in developer onboarding*</p>
    </div>
  <% end %>

  <%= render Site::RiverComponent.new(
    text_placement: :center,
    header: "Developer first, <br>cloud native",
    text: "Deliver the best developer experiences and change how you work with GitHub. Our enterprise cloud solutions are ready for the most arduous security and compliance needs, no matter the industry.",
    size: :large,
    classes: "box-shadow-card-border-mktg color-bg-subtle rounded-2 mx-4 mx-lg-0") %>
<% end %>
