<%# erblint:counter DeprecatedInPrimerCounter 2 %>
<div class="position-relative" style="background-color: #1b1f23;">
  <div class="position-relative z-1">
    <%= render "site/enterprise/planet" %>

    <div class="js-build-in enterprise-proto-hero width-full py-12 position-relative z-1" data-build-margin-top="65" data-build-margin-bottom="0" data-hpc>
      <h1 class="h1-mktg color-text-white mx-auto col-10-max text-center mt-4">The developer platform for the most ambitious companies</h1>
      <p class="f3-mktg text-normal mt-4 col-6-max mx-auto text-center" style="color: #959DA5">Over <%= GitHub::MarketingStats::USER_MILLIONS_FALLBACK %>M+ developers and <%= GitHub::MarketingStats::ORGS_MILLIONS_FALLBACK %>M+ organizations worldwide trust GitHub to ship better software. More than <%= GitHub::MarketingStats::FORTUNE_PERCENT_FALLBACK %>% of the Fortune 100 already depend on GitHub as the most complete, secure, compliant, and loved developer platform.</p>
      <div class="d-flex flex-justify-center mt-4">
        <%= render Site::ButtonComponent.new(text: "Contact sales", url: enterprise_contact_requests_path) %>
        <%= render Site::ButtonComponent.new(text: "Start a free trial", scheme: :muted, classes: "ml-3") %>
      </div>
    </div>

    <!-- 2nd section -->
    <div class="js-enterprise-proto-platform js-build-in-trigger enterprise-proto-platform container-xl pt-12 position-relative z-n2 events-none" data-build-margin-bottom="65">
      <div class="position-fixed m-auto container-xl js-enterprise-proto-platform-content d-flex flex-justify-center flex-column top-0 left-0 right-0 height-full">
        <div class="width-full d-flex flex-justify-end">
          <div class="col-5-max js-build-in-item build-in-fade" style="pointer-events: all">
            <h2 class="h2-mktg color-text-white">One platform, infinite workflows</h2>
            <p class="f3-mktg text-normal mt-3" style="color: #959DA5">GitHub’s unique approach of developing and shipping software is engineered to put developers first every step of the way. From project planning to code review, workflow automation to security, and configuration to compliance, developers are happier and more productive on GitHub.</p>
          </div>
        </div>
      </div>
    </div>

    <img src="<%= image_path "modules/site/enterprise/logos.png" %>" alt="" class="position-fixed mx-auto right-0 left-0 bottom-8 enterprise-proto-logos" width="802" height="71">
  </div>

</div>
