<%# erblint:counter DeprecatedInPrimerCounter 3 %>
<div style="background-color: #1b1f23;">
  <div class="js-build-in-trigger container-xl py-12 position-relative z-1">
    <h2 class="js-build-in-item build-in-slideY h2-mktg color-text-white col-5-max mx-auto text-center" data-build-delay="400">Everything developers love</h2>
    <p class="js-build-in-item build-in-slideY f3-mktg text-normal mt-2 col-6-max mx-auto text-center" data-build-delay="400" style="color: #959DA5">Developers spend less than 50% of their time doing what they really want to do—writing code. GitHub gives developers back their time with highly configurable features that transform workflows and increase productivity, all on a platform developers already call home.</p>
  </div>

  <div class="container-xl p-responsive mb-12">
    <div class="d-flex gutter">
      <div class="col-4">
        <div class="d-flex gutter flex-wrap flex-items-end">
          <div class="col-6">
            <img src="<%= image_path "modules/site/enterprise/tiles/vs-code.png" %>" alt="VS Code" class="enterprise-tile--dark width-full" loading="lazy">
          </div>
          <div class="col-6">
            <img src="<%= image_path "modules/site/enterprise/tiles/gh-desktop.png" %>" alt="GitHub Desktop" class="enterprise-tile--dark width-full" loading="lazy">
          </div>

          <div class="col-12">
            <img src="<%= image_path "modules/site/enterprise/tiles/file-switching.png" %>" alt="Fast file switching" class="enterprise-tile--dark width-full" loading="lazy">
          </div>

          <div class="col-12">
            <div class="d-flex gutter">
              <div class="col-6 flex-shrink-0 offset-n3">
                <img src="<%= image_path "modules/site/enterprise/tiles/starred-repos.png" %>" alt="VS Code" class="enterprise-tile--dark width-full mb-5" loading="lazy">

                <img src="<%= image_path "modules/site/enterprise/tiles/pr-status.png" %>" alt="Pull request ready" class="enterprise-tile--dark width-full" loading="lazy">
              </div>
              <div class="col-9 flex-shrink-0">
                <img src="<%= image_path "modules/site/enterprise/tiles/ios.png" %>" alt="GitHub Desktop" class="enterprise-tile-ios--dark width-full" loading="lazy">
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-6 pt-6">
        <div class="d-flex gutter flex-items-end">
          <div class="col-10 flex-shrink-0">
            <div class="f5 enterprise-tile--dark width-full p-4 height-full color-text-white overflow-hidden">
              <code>
<pre class="f5 color-text-white">→ ~/my_project gh issue list

Showing 4 of 4 issues in cli/cli

#16 Support for GitHub Enterprise (enhancement)
#8 Add an easier upgrade command (bug)</pre>
              </code>
            </div>
          </div>

          <div class="col-4 flex-shrink-0">
            <img src="<%= image_path "modules/site/enterprise/tiles/atom.png" %>" alt="GitHub Atom" class="enterprise-tile--dark width-full" loading="lazy">

            <div class="d-flex gutter flex-items-end">
              <div class="col-6">
                <img src="<%= image_path "modules/site/enterprise/tiles/emoji.png" %>" alt="Emoji reactions" class="enterprise-tile--dark width-full" loading="lazy">
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex gutter flex-wrap flex-items-end">
          <div class="col-12">
            <img src="<%= image_path "modules/site/enterprise/tiles/contribution-graph.png" %>" alt="GitHub contribution graph" class="enterprise-tile--dark width-full" loading="lazy">

            <div class="d-flex gutter">
              <div class="col-6">
                <img src="<%= image_path "modules/site/enterprise/tiles/sponsor.png" %>" alt="GitHub Sponsors" class="enterprise-tile--dark width-full" loading="lazy">

                <img src="<%= image_path "modules/site/enterprise/tiles/markdown.png" %>" alt="GitHub flavored markdown" class="enterprise-tile--dark width-full" loading="lazy">

                <img src="<%= image_path "modules/site/enterprise/tiles/tests.png" %>" alt="GitHub flavored markdown" class="enterprise-tile--dark width-full" loading="lazy">
              </div>

              <div class="col-6">
                <div class="d-flex">
                  <div class="pr-2">
                    <img src="<%= image_path "modules/site/enterprise/tiles/watch.png" %>" alt="Watch repository" class="enterprise-tile--dark width-full" loading="lazy">
                  </div>

                  <div class="pl-2">
                    <img src="<%= image_path "modules/site/enterprise/tiles/star.png" %>" alt="Star repository" class="enterprise-tile--dark width-full" loading="lazy">
                  </div>
                </div>

                <img src="<%= image_path "modules/site/enterprise/tiles/diff.png" %>" alt="Code diff" class="enterprise-tile--dark width-full" loading="lazy">

                <img src="<%= image_path "modules/site/enterprise/tiles/project-card.png" %>" alt="Project card" class="enterprise-tile--dark width-full" loading="lazy">
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-3 flex-shrink-0">

        <div class="gutter">
          <div class="col-12">
            <img src="<%= image_path "modules/site/enterprise/tiles/repo-dropdown.png" %>" alt="Repository dropdown from GitHub Desktop" class="enterprise-tile--dark width-full" loading="lazy">
          </div>

          <div class="col-9">
            <img src="<%= image_path "modules/site/enterprise/tiles/secret-scanning.png" %>" alt="Secret scanning" class="enterprise-tile--dark width-full" loading="lazy">
          </div>

          <div class="col-12">
            <img src="<%= image_path "modules/site/enterprise/tiles/approval.png" %>" alt="Pull request approved" class="enterprise-tile--dark width-full" loading="lazy">
          </div>

          <div class="col-9">
            <img src="<%= image_path "modules/site/enterprise/tiles/darkmode.png" %>" alt="Dark mode" class="enterprise-tile--dark width-full" loading="lazy">
          </div>

          <div class="col-4">
            <img src="<%= image_path "modules/site/enterprise/tiles/dependabot.png" %>" alt="Dependabot" class="enterprise-tile--dark width-full" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
