<%= render Site::SectionComponent.new do %>
  <%= render Site::RiverComponent.new(
    header: "Track your ideas<br> all the way to production",
    text: "GitHub Issues is built into every project, right alongside the code you maintain. Unique issue numbers make work trackable and referenceable across projects and organizations. Create, track, and deliver work on your terms with task lists, table and board views, and custom fields.",
    text_placement: :center,
    stagger: 80) do |c| %>
    <% c.with_before do %>
      <p class="d-inline-block border text-medium px-3 py-1 color-fg-muted rounded-pill">New</p>
    <% end %>

    <div class="d-flex flex-items-center flex-justify-center mb-4">
      <label class="mr-2 f3-mktg text-medium">Table</label>
      <label class="form-switch">
        <input type="checkbox">
        <i></i>
      </label>
      <label class="ml-2 f3-mktg text-medium">Board</label>
    </div>

    <div class="position-relative gutter-lg-spacious gutter">
      <div class="col-3 right-0 enterprise-project-2 position-absolute z-1">
        <div class="rounded-2 box-shadow-card-border-mktg js-build-in-item build-in-slideY" data-build-delay="600">
          <img src="<%= image_path "modules/site/enterprise/project-view-filter.png" %>" alt="Project view filter" class="width-full" loading="lazy">
        </div>
      </div>
      <div class="col-10 mx-auto">
        <div class="rounded-2 box-shadow-card-border-mktg mb-5 js-build-in-item build-in-slideY" data-build-delay="200">
          <img src="<%= image_path "modules/site/enterprise/project-view-table.png" %>" alt="Project shown in table view" class="width-full d-block" loading="lazy" decoding="async">
        </div>
      </div>
    </div>
  <% end %>

  <!-- Codespaces -->
  <div class="js-build-in-trigger py-12 position-relative" data-build-in-stagger="100" data-build-margin-bottom="40">
    <div class="d-flex gutter gutter-lg-spacious">
      <div class="col-6 position-relative">
        <div class="enterprise-codespaces-grid">
          <%= render "site/enterprise/codespaces_grid" %>
        </div>

        <div class="d-flex gutter-condensed flex-wrap">
          <div class="col-8 offset-4">
            <div class="js-build-in-item build-in-slideX-right rounded-2 box-shadow-active-border-mktg position-relative left-n4 left-lg-n6 mt-6 mb-7">
              <img src="<%= image_path "modules/site/enterprise/codespaces-avatar-1.png" %>" alt="Codespace" class="enterprise-codespace-avatar js-build-in-item build-in-scale-left" loading="lazy">

              <img src="<%= image_path "modules/site/enterprise/codespaces-1.png" %>" alt="Codespace" class="width-full d-block" loading="lazy" decoding="async">
            </div>
          </div>
          <div class="col-12">
            <div class="js-build-in-item build-in-slideX-right rounded-2 box-shadow-active-border-mktg position-relative left-lg-4">
              <img src="<%= image_path "modules/site/enterprise/codespaces-avatar-2.png" %>" alt="Codespace" class="enterprise-codespace-avatar js-build-in-item build-in-scale-left" loading="lazy">

              <img src="<%= image_path "modules/site/enterprise/codespaces-2.png" %>" alt="Codespace" class="width-full d-block" loading="lazy">
            </div>
          </div>
        </div>

      </div>

      <div class="col-6">
        <div class="js-build-in-item build-in-slideX-left mb-9" style="background: #fff; box-shadow: 0 0 200px #fff;">
          <h2 class="h3-mktg">Infinite development environments in the cloud</h2>
          <p class="f3-mktg color-fg-muted text-normal mt-2 mb-3">No more compiling excuses—Codespaces re-engineers dev environments so you only have to setup a project once, and for all (developers). It’s an infinite dev box for any project, for any developer, for just about anywhere. New developers can start coding in minutes instead of days.</p>

          <ul class="list-style-none f3-mktg text-medium color-fg-default mb-6">
            <li class="py-1 d-flex flex-items-center"><%= primer_octicon(:"arrow-right", size: :medium, color: :muted, mr: 2) %>One and done IT configuration</li>
            <li class="py-1 d-flex flex-items-center"><%= primer_octicon(:"arrow-right", size: :medium, color: :muted, mr: 2) %>Scalable hardware options for every project</li>
            <li class="py-1 d-flex flex-items-center"><%= primer_octicon(:"arrow-right", size: :medium, color: :muted, mr: 2) %>Work in the browser or connect to VS Code on your desktop</li>
          </ul>
        </div>

        <div class="col-8">
          <div class="js-build-in-item build-in-slideX-right rounded-2 box-shadow-active-border-mktg position-relative left-4">
            <img src="<%= image_path "modules/site/enterprise/codespaces-avatar-3.png" %>" alt="Codespace" class="enterprise-codespace-avatar js-build-in-item build-in-scale-left" loading="lazy">

            <img src="<%= image_path "modules/site/enterprise/codespaces-3.png" %>" alt="Codespace" class="width-full d-block" loading="lazy" decoding="async">
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- Code Review -->
  <div class="js-build-in-trigger py-12 position-relative z-1">
    <div class="d-flex flex-items-center gutter gutter-lg-spacious">
      <div class="col-6 js-build-in-item build-in-slideY" data-build-delay="400">
        <h2 class="h3-mktg">Code review<br> that ships itself</h2>
        <p class="f3-mktg color-fg-muted text-normal mt-2 mb-3">Pull requests allow for fast and nimble code review, made even better by automation and robots. Every code change is automatically scanned for vulnerabilities and dependencies reviewed. When the (human) code review is done, robots take over and auto-merge ships your changes while you’re onto the next task.</p>

        <ul class="list-style-none f3-mktg text-medium color-fg-default">
          <li class="py-1 d-flex flex-items-center"><%= primer_octicon(:"arrow-right", size: :medium, color: :muted, mr: 2) %>Auto-assign code reviews</li>
          <li class="py-1 d-flex flex-items-center"><%= primer_octicon(:"arrow-right", size: :medium, color: :muted, mr: 2) %>Compliance requirements across your organization</li>
          <li class="py-1 d-flex flex-items-center"><%= primer_octicon(:"arrow-right", size: :medium, color: :muted, mr: 2) %>Review and ship from anywhere with GitHub Mobile</li>
        </ul>
      </div>

      <div class="col-6">
        <div class="position-relative">
          <div class="js-build-in-item build-in-slideY rounded-2 box-shadow-card-border-mktg mb-5" data-build-delay="200">
            <img src="<%= image_path "modules/site/enterprise/code-review-1.png" %>" alt="Merge box" class="width-full" loading="lazy" decoding="async">
          </div>
          <div class="enterprise-code-review-2 position-absolute rounded-2 box-shadow-active-border-mktg mb-5">
            <img src="<%= image_path "modules/site/enterprise/code-review-2.png" %>" alt="Merge box" class="width-full" loading="lazy" decoding="async">
          </div>
        </div>

        <div class="d-flex gutter gutter-lg-spacious">
          <div class="col-6">
            <h4 class="h3-mktg font-stat mb-1">20<span class="h4-mktg text-normal">%</span></h4>
            <p class="h6-mktg text-medium">Faster time to merge<br> with automation</p>
          </div>

          <div class="col-6">
            <h4 class="h3-mktg font-stat mb-1">30<span class="h4-mktg text-normal">%</span></h4>
            <p class="h6-mktg text-medium">More pull requests<br> merged with auto-merge</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render Site::TestimonialComponent.new(
    quote: "GitHub is not only bringing people together, it’s accelerating our research and development and simplifying the way we do work globally. We’re collaborating in a way we were never able to do before.",
    fullname: "Hung Brown Ton",
    image: image_path("modules/site/codespaces/chris.jpg"),
    title: "Chief Architect and Lab Manager",
    logo: image_path("modules/site/enterprise/3m.svg"),
    company: "3M"
  ) %>

<% end %>
