<%= render Site::SectionComponent.new do %>
  <%= render Site::RiverComponent.new(
    text_placement: :center,
    header: "End to end security,<br>from code to deploy",
    text: "The top attack vector for security breaches in your application is human error. And when 84% of companies only scan their code once per month, there are simply too many blindspots for developers. GitHub keeps your work secure at every step thanks to automated security analysis on every commit and deep insights into your software supply chain.",
    size: :large) %>

  <%= render Site::RiverComponent.new(
    header: "Find and fix <br>vulnerabilities before <br>they reach production",
    text: "Code scanning runs on GitHub Actions, and it’s free for everyone. Scan every commit, continually testing and learning to find new and related vulnerabilities before they reach production. If a vulnerability is found, see every step used in the exploit to help you remediate it faster than ever.") do |c| %>

    <% c.with_after do %>
      <ul class="list-style-none f3-mktg text-medium color-fg-default">
        <li class="py-1 d-flex flex-items-center"><%= primer_octicon(:"arrow-right", size: :medium, color: :muted, mr: 2) %>Integrates with existing third party scanning engines</li>
        <li class="py-1 d-flex flex-items-center"><%= primer_octicon(:"arrow-right", size: :medium, color: :muted, mr: 2) %>CodeQL adaptive threat modeling coming soon</li>
        <li class="py-1 d-flex flex-items-center"><%= primer_octicon(:"arrow-right", size: :medium, color: :muted, mr: 2) %>View it all in a single exported API </li>
      </ul>
    <% end %>

    <div class="position-relative">
      <div class="enterprise-codeql-steps position-absolute">
        <div class="enterprise-codeql-step position-absolute top-0 width-full" style="transform: scale(0.96)">
          <img src="<%= image_path "modules/site/enterprise/codeql-1.png" %>" alt="CodeQL code scanning step 1" class="box-shadow-card-border-mktg d-block rounded-2 width-full height-auto" loading="lazy" decoding="async">
        </div>
        <div class="enterprise-codeql-step position-absolute top-7 width-full" style="transform: scale(0.98)">
          <img src="<%= image_path "modules/site/enterprise/codeql-2.png" %>" alt="CodeQL code scanning step 2" class="js-build-in-item build-in-slideY box-shadow-card-border-mktg rounded-2 width-full height-auto d-block" loading="lazy" decoding="async">
        </div>
        <div class="enterprise-codeql-step">
          <img src="<%= image_path "modules/site/enterprise/codeql-3.png" %>" alt="CodeQL code scanning step 3" class="js-build-in-item build-in-slideY  box-shadow-active-mktg rounded-2 position-absolute top-10 width-full" loading="lazy" decoding="async">
        </div>
      </div>

      <div class="rounded-2 box-shadow-card-border-mktg mb-7">
        <img src="<%= image_path "modules/site/enterprise/codeql-bg.png" %>" alt="Code injection alert" class="width-full" loading="lazy" decoding="async">
      </div>
    </div>

    <div class="d-flex gutter gutter-lg-spacious">
      <div class="col-6">
        <h4 class="h3-mktg font-stat mb-1">2K+</h4>
        <p class="h6-mktg text-medium">Available queries to find variants of known exploits</p>
      </div>

      <div class="col-6">
        <h4 class="h3-mktg font-stat mb-1">20K+</h4>
        <p class="h6-mktg text-medium">Security issues uncovered <br>by CodeQL scans</p>
      </div>
    </div>
  <% end %>

  <%= render Site::RiverComponent.new(
    header: "Your secrets <br>are safe with us",
    text: "GitHub’s automated secret scanning looks for known token patterns. If there’s a match, we work to invalidate the token and help you take action to issue a new one. Supports over 30 leading secret providers and automatically runs on public respositories. You’re welcome.",
    stagger: 160,
    text_placement: :right) do |c| %>

    <% c.with_after do %>
      <ul class="list-style-none d-flex flex-items-center">
        <li class="pr-2"><img src="<%= image_path "modules/site/enterprise/aws.svg" %>" alt="AWS" class="v-align-middle" loading="lazy"></li>
        <li class="px-2"><img src="<%= image_path "modules/site/enterprise/azure.svg" %>" alt="Azure" class="v-align-middle" loading="lazy"></li>
        <li class="px-2"><img src="<%= image_path "modules/site/enterprise/stripe.svg" %>" alt="Stripe" class="v-align-middle" loading="lazy"></li>
        <li class="px-2"><img src="<%= image_path "modules/site/enterprise/google.svg" %>" alt="Google" class="v-align-middle" loading="lazy"></li>
        <li class="px-2"><img src="<%= image_path "modules/site/enterprise/npm.svg" %>" alt="npm" class="v-align-middle" loading="lazy"></li>
      </ul>
    <% end %>

    <div class="rounded-2 box-shadow-card-border-mktg mb-4">
      <img src="<%= image_path "modules/site/enterprise/secret-comment.png" %>" alt="Exposed secret message" class="width-full d-block" loading="lazy" decoding="async">
    </div>

    <div class="js-build-in-item build-in-slideY rounded-2 box-shadow-card-border-mktg">
      <img src="<%= image_path "modules/site/enterprise/secret-alert.png" %>" alt="Message about how to resolve exposed secret" class="width-full d-block" loading="lazy" decoding="async">
    </div>
  <% end %>

  <%= render Site::RiverComponent.new(
    header: "Patch dependencies faster than ever",
    text: "Keeping up with hundreds of dependencies in your code base is more than a full-time job. Dependabot automatically opens new pull requests to update dependencies to the latest and most secure releases. And when you use auto-merge, all you need to do is review and approve to keep your code up to date.",
    stagger: 160) do |c| %>

    <% c.with_after do %>
      <div class="d-flex gutter gutter-lg-spacious">
          <div class="col-6">
            <h4 class="h3-mktg font-stat mb-1">1.4X</h4>
            <p class="h6-mktg text-medium">Faster patches when repositories use Dependabot</p>
          </div>
        </div>
    <% end %>

    <div class="position-relative js-build-in-item build-in-slideY">
      <div class="js-build-in-item build-in-slideY col-10 right-0 rounded-2 box-shadow-active-border-mktg position-absolute" style="top: 20%">
        <img src="<%= image_path "modules/site/enterprise/dependabot-summary.png" %>" alt="Security severity summary of dependencies across your repository" class="width-full d-block" loading="lazy" decoding="async">
      </div>
      <div class="px-4">
        <div class="rounded-2 box-shadow-card-border-mktg mb-4">
          <img src="<%= image_path "modules/site/enterprise/dependabot-comment.png" %>" alt="Dependabot automated pull request comment" class="width-full d-block" loading="lazy" decoding="async">
        </div>

        <div class="rounded-2 box-shadow-card-border-mktg">
          <img src="<%= image_path "modules/site/enterprise/dependabot-merge.png" %>" alt="Merge pull request" class="width-full" loading="lazy" decoding="async">
        </div>
      </div>
    </div>
  <% end %>

  <%= render Site::TestimonialComponent.new(
    quote: "We were about to launch a product update and immediately found two critical vulnerabilities we were able to fix before our customer-facing product teams shipping window. It was a huge win for us.",
    fullname: "Will Howell",
    image: image_path("modules/site/codespaces/chris.jpg"),
    title: "Software Architect"
  ) %>

  <div class="js-build-in-trigger pb-12 position-relative z-1">
    <div class="d-flex gutter gutter-lg-spacious js-build-in-item build-in-slideY">
      <div class="col-4">
        <a href="/" class="p-4 rounded-2 no-underline color-fg-default d-flex flex-column height-full box-shadow-card-border-mktg">
          <h4 class="f4-mktg text-medium height-full mb-2">Getting started with DevOps automation</h4>

          <span class="f4-mktg text-medium color-fg-muted">Read article</span>
        </a>
      </div>

      <div class="col-4">
        <a href="" class="p-4 rounded-2 no-underline color-fg-default d-flex flex-column height-full box-shadow-card-border-mktg">
          <h4 class="f4-mktg text-medium height-full mb-2">Automating CI/CD pipelines with Actions and GCP</h4>

          <span class="f4-mktg text-medium color-fg-muted">Watch video</span>
        </a>
      </div>

      <div class="col-4">
        <a href="" class="p-4 rounded-2 no-underline color-fg-default d-flex flex-column height-full box-shadow-card-border-mktg">
          <h4 class="f4-mktg text-medium height-full mb-2">Containerized deployments for enterprises with GitHub Actions and Packages</h4>

          <span class="f4-mktg text-medium color-fg-muted">Watch video</span>
        </a>
      </div>
    </div>
  </div>

<% end %>
