<% page_info \
    title: "Enterprise · A smarter way to work together",
    description: "Whether you’re working solo or leading an enterprise, GitHub has everything you need to build and scale your team’s workflow. Choose the plan that’s right for your hosting environment and security policies, and we’ll get you set up in no time.",
    class: "header-overlay",
    richweb: {
      title: "GitHub Enterprise: a smarter way to work together",
      url: request.original_url,
      description: "Whether you’re working solo or leading an enterprise, GitHub has everything you need to build and scale your team’s workflow. Choose the plan that’s right for your hosting environment and security policies, and we’ll get you set up in no time.",
      image: image_path("modules/site/social-cards/enterprise.png"),
    }
%>

<%= render "site/enterprise/hero" %>

<div class="overflow-x-hidden js-enterprise-planet-container">
  <%= render "site/enterprise/love" %>
  <%= render "site/enterprise/overview" %>
  <%= render "site/enterprise/automation" %>
  <%= render "site/enterprise/security" %>
  <%= render "site/enterprise/code_complete" %>
</div>
