<% organization = view.organization %>
<% invite_member_task = OnboardingTasks::Organizations::InviteMember.new(taskable: view.organization, user: current_user) %>
<%= render(Onboarding::Organizations::TipComponent.new(
  organization: organization,
  show_tip: params[:enable_tip].present?,
  task: invite_member_task,
  mb: 4,
)) do %>
  <h3 class="mb-1">Invite people to your organization</h3>
  <div class="color-fg-muted">
    <p>
      You can invite people to your organization using their GitHub username or email address. You'll then be able to set their role and permissions in your organization.
    </p>
    <div class="d-flex flex-items-center mt-1">
      <a
        href="<%= GitHub.help_url %>/organizations/managing-membership-in-your-organization/inviting-users-to-join-your-organization"
        target="_blank"
        class="mr-2"
      >
        <%= render(Primer::Beta::Octicon.new(:file, mr: 1)) %>
        Inviting users to join your org
      </a>
      <a
        href="<%= GitHub.help_url %>/organizations/managing-peoples-access-to-your-organization-with-roles"
        class="ml-3"
        target="_blank"
      >
        <%= render(Primer::Beta::Octicon.new(:file, mr: 1)) %>
        Managing people's access to your org with roles
      </a>
    </div>
  </div>
<% end %>

<%= render(Onboarding::Organizations::CompletedGuidanceComponent.new(
  organization: organization,
  completed_task: invite_member_task,
  show_tip: params[:enable_tip].present?,
  container_class: "mb-4"
)) %>
