<%# erblint:counter DeprecatedComponentsCounter 4 %>
<div class="js-notice mt-3">
  <%= form_tag dismiss_org_notice_path(current_organization), method: :delete, id: "dismiss-onboard" do %>
    <input type="hidden" name="input[organizationId]" value="<%= current_organization.id %>">
    <input type="hidden" name="input[forWholeOrg]" value="true">
    <input type="hidden" name="input[notice]" value="<%= User::NoticesDependency::ORGANIZATION_NOTICES[:enterprise_trial_onboarding] %>">
    <button type="submit" class="close-button float-right" aria-label="Hide this notice forever">
    </button>
  <% end %>

  <div class="mb-6">
    <% if org_for_startup?(current_organization) %>
      <h2 class="h1 lh-condensed mb-2">Build your startup on GitHub.</h2>
      <p class="f4 color-fg-muted">We’ve suggested some tasks here to help you get started.</p>
    <% else %>
      <h2 class="h1 lh-condensed mb-2">We think you’re gonna like it here.</h2>
      <p class="f4 color-fg-muted">We’ve suggested some tasks here in your organization's overview to help you get started.</p>
    <% end %>
  </div>

  <section class="position-relative mt-6 mt-md-4" aria-label="Invite your people">
    <div class="TimelineItem">
      <div class="TimelineItem-badge mt-n3 color-bg-default">
        <%= render(Primer::Beta::Octicon.new(icon: :person, size: :medium)) %>
      </div>
      <div class="TimelineItem-body mt-n3 pt-1">
        <div>
          <p class="h4">Invite your people</p>
          <ul class="list-style-none d-flex flex-column flex-lg-row gutter-md-condensed mt-3">
            <%= render(Onboarding::Organizations::TaskComponent.new(task: OnboardingTasks::Organizations::InviteMember.new(taskable: current_organization, user: current_user), body: "Find people by their GitHub username or email address.")) %>
            <%= render(Onboarding::Organizations::TaskComponent.new(
                task: OnboardingTasks::Organizations::CustomizePermission.new(taskable: current_organization, user: current_user),
                body: "Set everyone’s base permissions for your code.",
                complete_task_url: organization_onboarding_tasks_path(current_organization)
              ))
            %>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <% if current_organization.business_plus? %>
    <section class="position-relative" aria-label="Enterprise Security">
      <div class="TimelineItem">
        <div class="TimelineItem-badge color-bg-default">
          <%= render(Primer::Beta::Octicon.new(icon: :shield, size: :medium)) %>
        </div>
        <div class="TimelineItem-body">
          <div>
            <div class="d-flex flex-justify-between">
              <p class="h4 flex-auto">Enterprise security</p>
              <a href="<%= features_path(anchor: "features-security") %>" class="d-none d-md-flex flex-items-center f6">
                See more about Enterprise security
                <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", ml: 1)) %>
              </a>
            </div>
            <ul class="list-style-none d-flex flex-column flex-lg-row gutter-md-condensed mt-3">
              <%= render(Onboarding::Organizations::TaskComponent.new(task: OnboardingTasks::Organizations::EnableSaml.new(taskable: current_organization, user: current_user), body: "Manage members' identities and access.")) %>
              <%= render(Onboarding::Organizations::TaskComponent.new(task: OnboardingTasks::Organizations::DependabotSecurityUpdates.new(taskable: current_organization, user: current_user), body: "Auto-update vulnerable or out-of-date dependencies.")) %>
              <%= render(Onboarding::Organizations::TaskComponent.new(task: OnboardingTasks::Organizations::DependabotVulnerabilityAlerts.new(taskable: current_organization, user: current_user), body: "Turn on notifications about problems with your code.")) %>
            </ul>
          </div>
          <a href="<%= features_path(anchor: "features-security") %>" class="d-flex d-md-none flex-items-center f6">
            See more about Enterprise security
            <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", ml: 1)) %>
          </a>
        </div>
      </div>
    </section>
  <% end %>

  <%= render(Onboarding::Organizations::AdvancedSecurityRowComponent.new(
    organization: current_organization,
    user: current_user,
  )) %>

  <section class="position-relative" aria-label="Collaborative coding">
    <div class="TimelineItem">
      <div class="TimelineItem-badge color-bg-default">
        <%= render(Primer::Beta::Octicon.new(icon: "code-review", size: :medium)) %>
      </div>
      <div class="TimelineItem-body">
        <div>
          <div class="d-flex flex-justify-between">
            <p class="h4 flex-auto">Collaborative coding</p>
            <a href="<%= features_path(anchor: "features-collaboration") %>" class="d-none d-md-flex flex-items-center f6">
              See more about collaborative coding
              <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", ml: 1)) %>
            </a>
          </div>
          <ul class="list-style-none d-flex flex-column flex-lg-row gutter-md-condensed mt-3">
            <%= render(Onboarding::Organizations::TaskComponent.new(task: OnboardingTasks::Organizations::OpenPullRequest.new(taskable: current_organization, user: current_user), body: "Propose and collaborate on changes to a repository.")) %>
            <%= render(Onboarding::Organizations::TaskComponent.new(task: OnboardingTasks::Organizations::BranchProtectionRule.new(taskable: current_organization, user: current_user), body: "Enforce certain workflows for one or more branches.")) %>
          </ul>
        </div>
        <a href="<%= features_path(anchor: "features-collaboration") %>" class="d-md-none d-flex flex-items-center f6">
          See more about collaborative coding
          <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", ml: 1)) %>
        </a>
      </div>
    </div>
  </section>

  <section class="position-relative" aria-label="Automation and CI/CD">
    <div class="TimelineItem pb-6">
      <div class="TimelineItem-badge color-bg-default">
        <%= render(Primer::Beta::Octicon.new(icon: :gear, size: :medium)) %>
      </div>
      <div class="TimelineItem-body">
        <div>
          <div class="d-flex flex-justify-between">
            <p class="h4 flex-auto">Automation and CI/CD</p>
            <a href="<%= features_path(anchor: "features-automation") %>" class="d-none d-md-flex flex-items-center f6">
              See more about automation and CI/CD
              <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", ml: 1)) %>
            </a>
          </div>
          <ul class="list-style-none d-flex flex-column flex-lg-row gutter-md-condensed mt-3">
            <%= render(Onboarding::Organizations::TaskComponent.new(task: OnboardingTasks::Organizations::AutoAssignIssue.new(taskable: current_organization, user: current_user), body: "Try automatically assigning work with GitHub Actions.")) %>
            <%= render(Onboarding::Organizations::TaskComponent.new(task: OnboardingTasks::Organizations::RunCi.new(taskable: current_organization, user: current_user), body: "Validate your code using a CI workflow.")) %>
            <%= render(Onboarding::Organizations::TaskComponent.new(task: OnboardingTasks::Organizations::PublishWebsite.new(taskable: current_organization, user: current_user), body: "Auto-deploy a private website with GitHub Pages.")) %>
          </ul>
        </div>
        <a href="<%= features_path(anchor: "features-automation") %>" class="d-flex d-md-none flex-items-center f6">
          See more about automation and CI/CD
          <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", ml: 1)) %>
        </a>
      </div>
    </div>
  </section>

  <section class="position-relative" aria-label="Discover new GitHub features">
    <div class="d-flex flex-row">
      <div class="color-bg-default ml-1 mr-2">
        <%= render(Primer::Beta::Octicon.new(icon: :"git-commit", size: :medium, color: :muted)) %>
      </div>
      <div class="d-flex flex-column width-full">
        <div class="d-flex flex-justify-between flex-items-end">
          <span class="d-inline-flex flex-column">
            <p class="h4 color-fg-muted mb-0 flex-auto">Discover new GitHub features</p>
          </span>
          <span class="d-none d-md-flex">
            <a href="<%= features_path %>" class="flex-items-center f6">
              See all features
              <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", ml: 1)) %>
            </a>
          </span>
        </div>
        <ul class="list-style-none d-flex flex-column flex-md-row flex-md-items-stretch flex-md-wrap flex-lg-justify-around rounded-2 mt-3 Box">
          <li class="d-flex flex-lg-column flex-items-center mx-4 my-3">
            <img src="<%= image_path "modules/site/features/launchpad/icons/icon-security.svg" %>" alt="GitHub Security Icon" width="24" height="24" class="mr-2 mr-lg-0" >
            <a
              href="<%= features_path(anchor: "features-security") %>"
              >Security</a>
          </li>
          <li class="d-flex flex-lg-column flex-items-center mx-4 my-3">
            <img src="<%= image_path "modules/site/features/launchpad/icons/icon-apps.svg" %>" alt="GitHub Apps Icon" width="24" height="24" class="mr-2 mr-lg-0" >
            <a
              href="<%= features_path(anchor: "features-apps") %>"
              >Client apps</a>
          </li>
          <li class="d-flex flex-lg-column flex-items-center mx-4 my-3">
            <img src="<%= image_path "modules/site/features/launchpad/icons/icon-project-management.svg" %>" alt="GitHub Project Management Icon" width="24" height="24" class="mr-2 mr-lg-0" >
            <a
              href="<%= features_path(anchor: "features-project-management") %>"
              ><span>Project management</span></a>
          </li>
          <li class="d-flex flex-lg-column flex-items-center mx-4 my-3">
            <img src="<%= image_path "modules/site/features/launchpad/icons/icon-team-admin.png" %>" alt="GitHub Team Administration Icon" width="24" height="24" class="mr-2 mr-lg-0" >
            <a
              href="<%= features_path(anchor: "features-team-administration") %>"
              ><span>Team administration</span></a>
          </li>
          <li class="d-flex flex-lg-column flex-items-center mx-4 my-3">
            <img src="<%= image_path "modules/site/features/launchpad/icons/icon-community.svg" %>" alt="GitHub Community Icon" width="24" height="24" class="mr-2 mr-lg-0" >
            <a
              href="<%= features_path(anchor: "features-community") %>"
              ><span>Community</span></a>
          </li>
        </ul>
      </div>
    </div>
    <span class="d-flex d-md-none p-1 p-md-0 ml-5 ml-md-0 mt-2 mt-md-0">
      <a href="<%= features_path %>" class="flex-items-center f6">
        See all features
        <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", ml: 1)) %>
      </a>
    </span>
  </section>
</div>

<div class="position-relative d-flex flex-row flex-wrap p-3 p-md-5 ml-4 ml-md-0">
  <div class="d-lg-flex flex-items-center">
    <% if org_for_startup?(current_organization) %>
      <div class="mb-3 mb-lg-0 mr-lg-3">
        <%= render Primer::ButtonComponent.new(
          type: :button, scheme: :primary, tag: :a, href: support_path(org: current_organization, target: "organization", plan: GitHub::Plan.business_plus, source: "onboard_tasks"), classes: "btn-large",
        ) do %>
        Support
      <% end %>
      </div>
      <div class="mb-3 mb-lg-0 mr-lg-3">
        <%= render Primer::ButtonComponent.new(
          type: :button, tag: :a, mr: 3, href: "mailto:startups@github.com", classes: "btn-large",
        ) do %>
        Contact us
      <% end %>
      </div>
    <% elsif Billing::EnterpriseCloudTrial.new(current_organization).active? || ((business = current_organization.business) && business.trial? && business.adminable_by?(current_user)) %>
      <div class="mb-3 mb-lg-0 mr-lg-3">
        <%= render Primer::ButtonComponent.new(
          type: :button, scheme: :primary, tag: :a, href: upgrade_path(org: current_organization, target: "organization", plan: GitHub::Plan.business_plus, source: "onboard_tasks"), classes: "btn-large",
        ) do %>
        Upgrade to Enterprise
      <% end %>
      </div>
      <div class="mb-3 mb-lg-0 mr-lg-3">
        <%= render Primer::ButtonComponent.new(
          type: :button, tag: :a, mr: 3, href: "#{ent_contact_url}?ref_page=#{request.fullpath}&ref_cta=#{url_encode("Talk to us")}&ref_loc=#{url_encode("onboard tasks")}", classes: "btn-large",
        ) do %>
        Talk to us
      <% end %>
      </div>
    <% end %>
  </div>
</div>
