<%= render(Primer::BaseComponent.new(tag: :section, **system_arguments, aria: { label: "GitHub Advanced Security" })) do %>
   <div class="TimelineItem">
      <div class="TimelineItem-badge color-bg-default <%= get_variant[:badge_classes] %>">
        <%= render(Primer::Beta::Octicon.new(icon: :"shield-check", size: :medium)) %>
      </div>
      <div class="TimelineItem-body mb-3 mb-md-0">
        <div class="d-flex flex-justify-between flex-items-end">
          <span class="d-inline-flex pb-1 flex-column">
            <% unless show_advanced_security_onboarding? %>
              <p class="f4 mb-1"><%= render(Primer::Beta::Label.new(scheme: :accent)) { "Exclusive add-on" } %></p>
            <% end %>
            <p class="h4 mb-0 flex-auto">GitHub Advanced Security</p>
          </span>
          <span class="d-none d-md-flex">
            <% unless show_advanced_security_onboarding? %>
              <% if show_self_serve_cta? %>
                <%= render Primer::Beta::Button.new(
                  tag: :a,
                  rel: "noopener",
                  test_selector: "self-serve-cta",
                  href: enterprise_licensing_path(organization&.business, start_advanced_security_trial: true),
                  data: analytics_click_attributes(
                    category: "advanced_security_self_serve_trial",
                    action: "click_to_start_free_trial",
                    label: "location:dandelion_org_overview"
                  )
                ).with_content("Start free trial") %>
              <% else %>
                <%= render(Primer::Beta::Button.new(
                  tag: :a,
                  test_selector: "sales-serve-cta",
                  rel: "noopener",
                  href: ghas_trial_requests_path(organization, utm_source: "product", utm_campaign: "growth", utm_content: organization&.plan_name),
                  data: analytics_click_attributes(category: "GHAS Trial request", action: "click to go to ghas trial form", label: "location:dandelion_org_overview")
                ).with_content("Request a trial")) %>
              <% end %>
            <% end %>
        </span>
        </div>
        <%= render(Primer::Box.new(display: :flex, direction: [:column, nil, nil, :row, nil], align_items: :stretch, mt: get_variant[:title_spacing], classes: "gutter-md-condensed")) do%>
          <% if show_advanced_security_onboarding? %>
            <%= render Growth::TaskCardComponent.new do |component| %>
              <% component.with_title(
                test_selector: "view_advanced_security_onboarding",
                href: organization_onboarding_advanced_security_path(organization),
                data: analytics_click_attributes(
                  category: "advanced_security_self_serve_trial",
                  action: "click_getting_started_with_advanced_security",
                  label: "ref_cta:getting_started_with_advanced_security;ref_loc:dandelion_org_overview"
                ),
              ) { "Getting started with Advanced Security" } %>
              <% component.with_description { "Boost productivity with application security built to empower developers." } %>
              <% component.with_action(
                tag: :a,
                href: organization_onboarding_advanced_security_path(organization),
                data: analytics_click_attributes(
                  category: "advanced_security_self_serve_trial",
                  action: "click_view_onboarding",
                  label: "ref_cta:view_onboarding;ref_loc:dandelion_org_overview"
                ),
              ) { "View onboarding" } %>
            <% end %>
          <% else %>
            <%= render Growth::TaskCardComponent.new do |component| %>
              <% component.with_title(
                test_selector: "view_advanced_security_video",
                href: "#{GitHub.help_url}/code-security/getting-started",
                data: analytics_click_attributes(
                  category: "GHAS Trial Getting Started Doc",
                  action: "click to go to ghas trial getting started docs",
                  label: "location:dandelion_org_overview"
                ),
              ) { "What is GitHub Advanced Security?" } %>
              <% component.with_description { "Build with end-to-end automated security testing embedded in your GitHub flow." } %>
              <% component.with_action(
                tag: :a,
                href: "https://www.youtube.com/watch?v=DA_WbNRFPT0&list=PL0lo9MOBetEFGPccyxyfex8BYF_PQUQWn",
                rel: "nofollow noopener",
                data: analytics_click_attributes(
                  category: "GHAS Trial Intro video",
                  action: "click to go to ghas trial intro video",
                  label: "location:dandelion_org_overview"
                ),
              ) { "Watch video" } %>
            <% end %>
            <%= render Growth::TaskCardComponent.new do |component| %>
              <% component.with_title(
                href: "#{GitHub.help_url}/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning",
                data: analytics_click_attributes(
                  category: "GHAS Trial Code Scanning Doc",
                  action: "click to go to ghas trial code scanning docs",
                  label: "location:dandelion_org_overview"
                ),
              ) { "Code scanning" } %>
              <% component.with_description { "Helps find and remediate security issues effortlessly before they reach production." } %>
              <% component.with_action(
                tag: :a,
                href: "https://www.youtube.com/watch?v=Grel10blARo&list=PL0lo9MOBetEFGPccyxyfex8BYF_PQUQWn",
                rel: "nofollow noopener",
                data: analytics_click_attributes(
                  category: "GHAS Trial Code Scanning Video",
                  action: "click to go to ghas trial code scanning video",
                  label: "location:dandelion_org_overview"
                )
              ) { "Watch video" } %>
            <% end %>
            <%= render Growth::TaskCardComponent.new do |component| %>
              <% component.with_title(
                href: "#{GitHub.help_url}/code-security/getting-started",
                data: analytics_click_attributes(
                  category: "GHAS Trial Secret Scanning Doc",
                  action: "click to go to ghas trial secret scanning docs",
                  label: "location:dandelion_org_overview"
                ),
              ) { "Secret Scanning" } %>
              <% component.with_description { "Scans repositories for secrets that were committed accidentally." } %>
              <% component.with_action(
                tag: :a,
                href: "https://www.youtube.com/watch?v=bMqz_UkYg8w&list=PL0lo9MOBetEFGPccyxyfex8BYF_PQUQWn",
                rel: "nofollow noopener",
                data: analytics_click_attributes(
                  category: "GHAS Trial Secret Scanning Video",
                  action: "click to go to ghas trial secret scanning videos",
                  label: "location:dandelion_org_overview"
                ),
              ) { "Watch video" } %>
            <% end %>
          <% end %>
        <% end %>
        <span class="d-flex d-md-none">
          <% unless show_advanced_security_onboarding? %>
            <% if show_self_serve_cta? %>
              <%= render Primer::Beta::Button.new(
                tag: :a,
                rel: "noopener",
                size: :small,
                test_selector: "self-serve-cta",
                href: enterprise_licensing_path(organization&.business, start_advanced_security_trial: true),
                data: analytics_click_attributes(
                  category: "advanced_security_self_serve_trial",
                  action: "click_to_start_free_trial",
                  label: "location:dandelion_org_overview"
                )
              ).with_content("Start free trial") %>
            <% else %>
              <%= render(Primer::Beta::Button.new(
                tag: :a,
                rel: "noopener",
                size: :small,
                test_selector: "sales-serve-cta",
                href: ghas_trial_requests_path(organization, utm_source: "product", utm_campaign: "growth", utm_content: current_organization&.plan_name),
                data: analytics_click_attributes(category: "GHAS Trial request", action: "click to go to ghas trial form", label: "location:dandelion_org_overview")
              ).with_content("Request a trial")) %>
            <% end %>
          <% end %>
        </span>
      </div>
    </div>
<% end %>
