<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% if next_uncompleted_task %>
  <section class="position-relative d-lg-flex flex-items-stretch flex-justify-between border rounded-2 color-border-muted color-bg-subtle px-3 py-4 <%= container_class %>" aria-label="You Completed a Task">
    <div class="flex-auto">
      <div class="border color-border-default position-absolute top-0 left-0 bottom-0 ml-5"></div>
      <div class="ml-5 pl-3">
        <h2 class="h3">You completed a task!</h2>

        <% if defined? completed_task.success_message_html %>
          <p class="color-fg-muted mt-1"><%= completed_task.success_message_html %></p>
        <% end %>

        <article class="position-relative d-flex flex-items-center border rounded-2 color-border-muted px-3 py-2 my-3">
          <div class="position-absolute left-0 color-bg-subtle ml-n6">
            <span class="ml-n1">
              <%= render(Primer::Beta::Octicon.new(icon: :"git-commit", size: :medium, color: :muted)) %>
            </span>
          </div>
          <div class="mr-3"><%= render(Primer::Beta::Octicon.new(:"check-circle-fill", size: :medium, color: :success)) %></div>

          <div class="h5 color-fg-muted mr-2">
            <%= completed_task.title %>
          </div>
        </article>

        <article class="position-relative">
          <div class="position-absolute left-0 color-bg-subtle mt-2 ml-n6">
            <span class="ml-n1">
              <%= render(Primer::Beta::Octicon.new(icon: :"git-commit", size: :medium, color: :muted)) %>
            </span>
          </div>
          <%= render(Onboarding::Organizations::TaskComponent.new(task: next_uncompleted_task, variant: :inline)) %>
        </article>

        <div class="mt-4">
          <%= render(Primer::ButtonComponent.new(variant: :small, tag: :a, href: user_path(organization))) { "See all tasks" } %>
        </div>
      </div>
    </div>

    <div class="d-none d-lg-block col-lg-5" style="background: center / contain no-repeat url(/images/modules/dashboard/onboarding/glow-1.png);">
      <img src="/images/modules/dashboard/onboarding/mona_flying.png" alt="Mona" class="d-block col-6 mx-auto" loading="lazy">
    </div>
  </section>
<% else %>
  <section <%= test_selector("all-tasks-completed") %>  class="js-notice border rounded-2 color-border-muted color-bg-subtle mb-4" aria-label="You Completed a Task">
    <div class="position-relative d-lg-flex flex-items-start flex-justify-between px-3 py-4">
      <div class="flex-auto">
        <div class="border color-border-default position-absolute top-0 left-0 bottom-0 ml-5"></div>
        <div class="ml-5 pl-3">
          <h2 class="h3">You’ve completed all your tasks!</h2>
          <p class="color-fg-muted">Discover more GitHub features or upgrade your plan.</p>

          <ul class="list-style-none">
            <li class="position-relative d-flex flex-items-center h5 my-3">
              <div class="ml-n6">
                <div class="ml-n2">
                  <img src="<%= image_path "modules/site/features/launchpad/icons/icon-security.svg" %>" alt="GitHub Security Icon" width="32" class="d-block" >
                </div>
              </div>
              <a href="<%= features_path(anchor: "features-security") %>" class="d-inline-block ml-3">Security</a>
            </li>
            <li class="position-relative d-flex flex-items-center h5 my-3">
              <div class="ml-n6">
                <div class="ml-n2">
                  <img src="<%= image_path "modules/site/features/launchpad/icons/icon-apps.svg" %>" alt="GitHub Apps Icon" width="32" class="d-block" >
                </div>
              </div>
              <a href="<%= features_path(anchor: "features-apps") %>" class="d-inline-block ml-3">Client apps</a>
            </li>
            <li class="position-relative d-flex flex-items-center h5 my-3">
              <div class="ml-n6">
                <div class="ml-n2">
                  <img src="<%= image_path "modules/site/features/launchpad/icons/icon-project-management.svg" %>" alt="GitHub Project management Icon" width="32" class="d-block" >
                </div>
              </div>
              <a href="<%= features_path(anchor: "features-project-management") %>" class="d-inline-block ml-3">Project management</a>
            </li>
            <li class="position-relative d-flex flex-items-center h5 my-3">
              <div class="ml-n6">
                <div class="ml-n2">
                  <img src="<%= image_path "modules/site/features/launchpad/icons/icon-team-admin.png" %>" alt="GitHub Team administration Icon" width="32" class="d-block" >
                </div>
              </div>
              <a href="<%= features_path(anchor: "features-team-administration") %>" class="d-inline-block ml-3">Team administration</a>
            </li>
            <li class="position-relative d-flex flex-items-center h5 my-3">
              <div class="ml-n6">
                <div class="ml-n2">
                  <img src="<%= image_path "modules/site/features/launchpad/icons/icon-community.svg" %>" alt="GitHub community Icon" width="32" class="d-block" >
                </div>
              </div>
              <a href="<%= features_path(anchor: "features-community") %>" class="d-inline-block ml-3">Community</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="d-none d-lg-block col-lg-5" style="background: center / contain no-repeat url(/images/modules/dashboard/onboarding/glow-1.png);">
        <img src="/images/modules/dashboard/onboarding/mona_flying.png" alt="Mona" class="d-block col-6 mx-auto" loading="lazy">
      </div>
    </div>

    <% if organization.business&.trial? || Billing::EnterpriseCloudTrial.new(organization).active? %>
      <div class="position-relative d-flex flex-row flex-wrap p-3">
        <div class="border color-border-default position-absolute top-0 left-0 right-0"></div>

        <div class="d-lg-flex flex-items-center">
          <div class="mb-3 mb-lg-0 mr-lg-3">
            <%= render Primer::ButtonComponent.new(type: :button, scheme: :primary, tag: :a, variant: :small, href: upgrade_path(org: organization, target: "organization", plan: GitHub::Plan.business_plus, source: "onboard_tasks")) do %>
              Upgrade to Enterprise
            <% end %>
          </div>
          <div class="mb-3 mb-lg-0">
            <%= render Primer::ButtonComponent.new(type: :button, tag: :a, variant: :small, mr: 3, href: "#{ent_contact_url}?ref_page=#{request.fullpath}&ref_cta=#{url_encode("Talk to us")}&ref_loc=#{url_encode("onboard tasks")}") do %>
              Talk to us
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
<% end %>
