<%= render(Primer::Box.new(
  **system_arguments,
  position: :relative,
  border: true,
  border_color: :muted,
  border_radius: 2,
  bg: :subtle,
  p: 3,
  display: [nil, nil, nil, :flex, nil],
  align_items: :stretch,
  aria: { labelledby: "tip_component_title" },
)) do %>
  <div class="<%= class_names("d-flex flex-items-start", "col-lg-7": content_media) %>">
    <div>
      <% if task.icon_path.present? %>
        <div class="suggest-icon position-relative d-flex flex-items-center border rounded-2 color-shadow-medium" <%= test_selector("onboarding-tip-icon") %> style="background: radial-gradient(circle, rgba(141, 123, 255, 1) 0%, rgba(123, 133, 255, 1) 48%, rgba(141, 123, 255, 1) 85%, rgba(141, 123, 255, 1) 98%) !important;">
          <%= svg(task.icon_path, class: "d-block width-full") %>
          <span class="suggest-icon-bubble"></span>
          <span class="suggest-icon-bubble"></span>
          <span class="suggest-icon-bubble"></span>
        </div>
      <% elsif task.octicon.present? %>
        <div class="position-relative flex-grow-0 flex-shrink-0 d-flex flex-items-center rounded-2" style="width: 32px; height: 32px; background-color: #a475f9;">
          <%= render(Primer::Beta::Octicon.new(icon: task.octicon, size: :small, mx: :auto, color: :on_emphasis, test_selector: "onboarding-tip-octicon")) %>
        </div>
      <% end %>
    </div>

    <div class="flex-auto ml-3" id="tip_component_title">
      <%= render(Primer::Beta::Octicon.new(:"arrow-left", color: :accent)) %>
      <%= render(Primer::Beta::Link.new(href: tasks_path, display: :inline_block, mb: 1, test_selector: "back-to-onboarding")) do %>
        Back to onboarding
      <% end %>
      <%= content %>
    </div>
  </div>
  <% if content_media %>
    <div class="d-none d-lg-flex flex-items-center col-lg-5" style="background: center / contain no-repeat url(<%= image_path "modules/dashboard/onboarding/glow-1.png" %>);">
      <% if content_media_url.nil? %>
        <img src="<%= @content_media %>" alt="Guidance" class="d-block col-6 mx-auto" loading="lazy">
      <% else %>
        <%= link_to content_media_url, target: "_blank" do %>
          <img src="<%= @content_media %>" alt="Guidance" class="d-block col-6 mx-auto" loading="lazy">
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
