<p class="mb-3">
  Dear <%= @user_login %>,
</p>

<p class="mb-3">
  You've been granted access to the technical preview for Copilot Workspace.
</p>


<p class="mb-3">
  As per <%= link_to "GitHub Next's pre-release terms", "https://github.com/githubnext/githubnext/blob/main/TERMS_AND_CONDITIONS.md" %>, we want to remind you that:
</p>

<ul>
  <li>Technical previews may not be supported or may change at any time.</li>
  <li>
    We'd love your feedback to make our technical previews better. Please report issues for Copilot Workspace in the
    <%= link_to "GitHub Next Discord Server", Copilot::GITHUB_NEXT_DISCORD %>.
  </li>
</ul>

<p class="mb-3">
  For more information on setting up and using Copilot Workspace, <%= link_to "read the documentation", Copilot::COPILOT_WORKSPACE_DOCS %>.
</p>

<% content_for :footer_text do %>
  <p>
    You are receiving this because you are the owner of the <%= link_to @user_login, user_url(@user_login) %> account.
  </p>
<% end %>
