<% head = proc do %>
  <title><%= @page_title %></title>

  <%= color_mode_bundles %>
  <%= stylesheet_bundle "primer" %>
  <%= stylesheet_bundle "global" %>
  <%= stylesheet_bundle "workspaces-fullscreen" %>

  <%= controller_javascript_bundles %>
<% end %>

<%= render layout: "layouts/document", locals: { head: head } do %>
  <main>
    <%= yield %>
  </main>
<% end %>
