<% business = invitation.business %>

<%= render GitHub::DialogComponent.new(
  title: "Approve transfer of ownership",
  details_classes: "d-inline",
  dialog_classes: "text-left",
  id: "approve-invitation-#{invitation.created_at}"
) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
  <% dialog.with_summary do %>
    <%= render Primer::Beta::Button.new(
      tag: :summary,
      size: :small,
      ml: 3,
      test_selector: "invitation-#{invitation.id}-approve-button") do %>
      Approve
    <% end %>
  <% end %>
  <% dialog.with_body do %>
    <div class="d-flex border-bottom pb-3">
      <div class="flex-self-center pr-3 color-fg-muted">
        From
      </div>
      <div class="float-left">
        <%= avatar_for invitation.invitee, 48, class: "avatar position-relative" %>
      </div>
      <div class="ml-3">
        <%= invitation.invitee.name %>
        <% if !business.metered_plan? || business.trial? %>
          <p class="f6 color-fg-muted text-mono">
            <% needed_seat_count = invitation.needed_seat_count %>
            <%= number_with_delimiter needed_seat_count %>
            <%= "unique #{pluralize_without_number needed_seat_count, "license"} needed" %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="d-flex py-3">
      <div class="flex-self-center pr-5 color-fg-muted">
        To
      </div>
      <div class="float-left">
        <%= avatar_for business, 48, class: "avatar position-relative"%>
      </div>
      <div class="ml-3">
        <%= business.name %>
        <% if !business.metered_plan? || business.trial? %>
          <p class="f6 color-fg-muted text-mono">
            <% available_invitable_licenses = business.available_invitable_licenses %>
            <%= number_with_delimiter available_invitable_licenses %>
            <%= "#{pluralize_without_number available_invitable_licenses, "license"} available" %>
          </p>
        <% end %>
      </div>
    </div>
    <% if !business.metered_plan? || business.trial? %>
      <span class="pt-3 color-fg-muted">
        <% available_invitable_licenses_left = available_invitable_licenses - needed_seat_count %>
        Once ownership and billing of the <strong><%= invitation.invitee.name %></strong> organization is transferred
        to the <strong><%= business.name %></strong> enterprise account, <strong><%= business.name %></strong> will
        have <%= number_with_delimiter available_invitable_licenses_left %>
        <%= "available #{pluralize_without_number available_invitable_licenses_left, "license"} left." %>
      </span>
    <% end %>
  <% end %>
  <% dialog.with_footer do %>
    <%= form_tag confirm_pending_enterprise_organization_invitation_path(
      business.slug,
      invitation.invitee.display_login
    ), method: "post" do %>
      <input type="hidden" name="organization" value="<%= invitation.invitee.display_login %>">
      <%= render Primer::Beta::Button.new(
        type: :submit, block: true, scheme: :primary,
        "data-disable-invalid": "",
        "data-disable-with": "Approving transfer&hellip;"
      ) do %>
        Approve transfer
      <% end %>
    <% end %>
  <% end %>
<% end %>
