<%# `view` is an instance of Businesses::OrganizationInvitations::SuggestionsView %>

<% if view.suggestions? %>
  <% view.suggested_organizations.each do |org, suggested_org| %>
    <li class="js-suggested-org member-suggestion typeahead-result
      <%= "disabled" unless suggested_org.item_enabled? %>"
      <%= %Q{aria-disabled="true"} unless suggested_org.item_enabled? %>
      role="option"
      data-autocomplete-value="<%= org %>">

      <%= avatar_for org, 24, class: "avatar" %>
      <p class="member-suggestion-info">
        <strong class="member-login"><%= org %></strong>
        <span class="member-name">
          <%= org.profile_name %>
        </span>
      </p>

      <% unless suggested_org.invitable? %>
        <p class="non-member-note text-small color-fg-muted"><%= suggested_org.uninvitable_reason_text %></p>
        <p class="non-member-action text-small color-fg-muted"><%= suggested_org.uninvitable_reason_text %></p>
      <% end %>

      <% if suggested_org.invitable? %>
        <%= primer_octicon(:plus, float: :right) %>
      <% end %>

      <div class="d-none js-suggested-org-details-source">
        <div class="p-3 ml-4 mt-3 border rounded-2">
          <div class="d-flex">
            <%= avatar_for org, 56, class: "avatar mr-3" %>
            <div>
              <div class="text-bold mt-2">
                <%= org.profile_name || org.display_login %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
<% else %>
  <li class="non-member-result disabled typeahead-result"
      data-autocomplete-value="<%= view.query %>"
      role="option"
      aria-disabled="true">
    <%= view.query %> isn’t an organization
  </li>
<% end %>
