<% page_info title: "Invite an existing organization · #{this_business.name}",
  stafftools: stafftools_enterprise_path(this_business) %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Invite an existing organization",
    back_to_link_path: enterprise_organizations_path(this_business),
    back_to_link_text: "organizations",
    hide_header: true
  } do %>
  <% if this_business.metered_plan? && !this_business.metered_ghec_trial? %>
    <span class="color-fg-muted f5" <%= test_selector("metered-potential-costs") %> >
      Adding new members may result in a charge of up to $21 per month, for each additional member. Add-ons such as GitHub Advanced Security will incur
      additional charges.
    </span>
  <% end %>
  <div class="col-9">
    <%= form_tag enterprise_organization_invitations_path(this_business) do %>
      <div class="d-flex">
        <div class="col-6 mr-4">
          <dl class="form-group col-11">
            <dt>
              <%= label_tag "organization_login", "Organization name" %>
            </dt>
            <dd>
              <auto-complete src="<%= suggestions_enterprise_organization_invitations_path(this_business) %>"
                for="org-complete-results"
                class="auto-search-group d-block js-invite-business-org-auto-complete">
                <input type="text" id="organization_login" name="organization_login"
                  class="form-control auto-search-input"
                  aria-label="Search for an organization"
                  required placeholder="Search for an organization"
                  autofocus>
                <%= primer_octicon(:organization) %>
                <ul id="org-complete-results" class="autocomplete-results"></ul>
              </auto-complete>
            </dd>
          </dl>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            scheme: :primary,
            classes: "js-auto-complete-button",
            "data-disable-with": "",
          ) do %>
            Invite organization
          <% end %>
        </div>

        <div class="js-suggested-org-details-target col-6"></div>
      </div>
    <% end %>

    <hr class="mt-5">
    <%= link_to "Create a new organization instead", new_enterprise_organization_path(this_business) %>
  </div>
<% end %>
