<%
  page_info \
    :title => "#{this_repository_advisory.ghsa_id} comment ##{this_advisory_comment.id} database record",
    :selected_link => :repository_advisories
%>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Repository advisory",
            gh_stafftools_repository_advisories_path(current_repository) %>
      /
      <%= link_to \
            "#{this_repository_advisory.ghsa_id}",
            gh_stafftools_repository_advisory_path(this_repository_advisory) %>
      /
      <%= link_to \
            "Comments",
            gh_stafftools_repository_advisory_comments_path(this_repository_advisory) %>
      /
      <%= link_to \
            "##{this_advisory_comment.id}",
            gh_stafftools_repository_advisory_comment_path(this_advisory_comment) %>
      / Database
    </h2>
  </div>

  <%= render \
        partial: "stafftools/database",
        locals: { record: this_advisory_comment, denylist: ["body"] } %>
</div>
