<%# rubocop:disable Lint/InstanceVariable %>
<%
  page_info \
    :title => "#{this_repository_advisory.ghsa_id} comments",
    :selected_link => :repository_advisories
%>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Repository advisories",
            gh_stafftools_repository_advisories_path(current_repository) %>
      /
      <%= link_to \
            this_repository_advisory.ghsa_id,
            gh_stafftools_repository_advisory_path(this_repository_advisory) %>
      / Comments
    </h2>
  </div>

  <table class="site-admin-table">
    <tr>
      <td width="400px">
        <%= this_repository_advisory.ghsa_id %>
      </td>
      <td>
        <%= link_to gh_stafftools_repository_advisory_path(this_repository_advisory) do %>
          Opened by <%= this_repository_advisory.safe_user %>
          <% if current_repository.public? && this_repository_advisory.safe_user.spammy? %>
            <small>(spammy)</small>
          <% end %>
        <% end %>
      </td>
      <td class="float-right">
        <%= this_repository_advisory.created_at %>
      </td>
    </tr>
    <% @comments.each do |comment| %>
      <tr>
        <td width="400px">
          #<%= comment.id %>
        </td>
        <td>
          <%= link_to gh_stafftools_repository_advisory_comment_path(comment) do %>
            Comment by <%= comment.safe_user.login %>
            <% if current_repository.public? && comment.safe_user.spammy? %>
              <small>(spammy)</small>
            <% end %>
          <% end %>
        </td>
        <td class="float-right">
          <%= comment.created_at %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate @comments %>
  </div>
</div>
