<%# rubocop:disable Lint/InstanceVariable %>
<%
  page_info \
    :title => "#{this_repository_advisory.ghsa_id} comment ##{this_advisory_comment.id}",
    :selected_link => :repository_advisories
%>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Repository advisory",
            gh_stafftools_repository_advisories_path(current_repository) %>
      /
      <%= link_to \
            this_repository_advisory.ghsa_id,
            gh_stafftools_repository_advisory_path(this_repository_advisory) %>
      /
      <%= link_to \
            "Comments",
            gh_stafftools_repository_advisory_comments_path(this_repository_advisory) %>
      / #<%= this_advisory_comment.id %>
    </h2>
  </div>

  <div class="site-admin-table">
    <table>
      <tr>
        <th>
          Created
        </th>
        <td>
          <%= this_advisory_comment.created_at %>
        </td>
      </tr>
      <tr>
        <th>
          Commenter
        </th>
        <td>
          <% comment_path = stafftools_user_path(this_advisory_comment.user) if this_advisory_comment.user %>
          <%= link_to_if this_advisory_comment.user, this_advisory_comment.safe_user, comment_path %>
        </td>
      </tr>
      <tr>
        <th>
          Discussion
        </th>
        <td>
          <%= link_to "View comment", this_advisory_comment.async_path_uri.sync.to_s %>
        </td>
      </tr>
    </table>

    <%= link_to \
          "View database record",
          gh_database_stafftools_repository_advisory_comment_path(this_advisory_comment),
          class: "more" %>
  </div>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Moderate
    </h2>
  </div>

  <%= render \
      partial: "stafftools/comments/moderate",
      locals: {comment: this_advisory_comment}
  %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>

  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: @query,
          logs: @logs,
          more_results: @more_results,
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>
</div>
