<%# erblint:counter FlashMigrationCounter 1 %>
<%= form_tag(minimize_discussion_comment_path(timeline.repo_owner_login, timeline.repo_name, timeline.discussion, comment), class: "js-discussion-comment-minimize", method: :post) do %>
  <div class="mb-2 flash flash-error js-discussion-comment-error" hidden></div>
  <p class="mb-4">
    The reason will be displayed to describe this comment to others. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/managing-disruptive-comments/#hiding-a-comment">Learn more about hiding a comment</a>.
  </p>
  <p>
    <label for="classifier" class="d-block pb-2">Choose a reason for hiding this comment</label>
    <select name="classifier" id="classifier" class="form-select input-block" aria-label="Reason" required>
      <option value>
        Choose a reason
      </option>
      <%= options_for_select(minimize_reasons_for_select) %>
    </select>
  </p>
  <div class="d-flex flex-justify-end pt-3">
    <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "dialog-hide-comment-#{comment.id}" })) { "Cancel" } %>
    <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger, ml: 2)) { "Hide comment" } %>
  </div>
<% end %>
