<div class="Box">
  <% if !single_available_navigation_state? %>
    <div class="Box-header p-2">
      <%= render(Primer::Alpha::SegmentedControl.new(aria: { label: "Sort advisories" })) do |c| %>
        <% if show_triage? %>
          <%= c.with_item(
            tag: :a,
            label: "#{number_with_delimiter total_triage_count} Triage",
            icon: :inbox,
            selected: triage?,
            href: repository_advisories_path(state: "triage")
            ) %>
        <% end %>
        <% if show_draft? %>
          <%= c.with_item(
            tag: :a,
            label: "#{number_with_delimiter total_draft_count} Draft",
            icon: :shield,
            selected: draft?,
            href: repository_advisories_path(state: "draft")
            ) %>
        <% end %>

        <%= c.with_item(
          tag: :a,
          label: "#{number_with_delimiter total_published_count} Published",
          icon: :check,
          selected: published?,
          href: repository_advisories_path(state: "published")
          ) %>

        <% if show_closed? %>
          <%= c.with_item(
            tag: :a,
            label: "#{number_with_delimiter total_closed_count} Closed",
            icon: :x,
            selected: closed?,
            href: repository_advisories_path(state: "closed")
            ) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if advisories.any? %>
    <div class="hx_Box--firstRowRounded0">
      <ul data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
        <% advisories.each do |advisory| %>
          <%= render 'repos/advisories/row', view: helpers.create_view_model(
            RepositoryAdvisories::ShowView,
            repository: repository,
            user: current_user,
            advisory: advisory,
            has_unread_notifications: advisory_has_unread_notifications?(advisory)
          ) %>
        <% end %>
      </ul>
    </div>
  <% else %>
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: state_icon) %>

      <% c.with_heading(tag: :h2) do %>
        <%= "There aren’t any #{state.humanize(capitalize: false)} security advisories" %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="paginate-container" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
  <%= will_paginate pagination_scope %>
</div>

<%= footer %>
