<% page_info \
  title: "Enterprise · A smarter way to work together",
  description: "Whether you’re working solo or leading an enterprise, GitHub has everything you need to build and scale your team’s workflow. Choose the plan that’s right for your hosting environment and security policies, and we’ll get you set up in no time.",
  richweb: {
    title: "GitHub Enterprise: a smarter way to work together",
    url: request.original_url,
    description: "Whether you’re working solo or leading an enterprise, GitHub has everything you need to build and scale your team’s workflow. Choose the plan that’s right for your hosting environment and security policies, and we’ll get you set up in no time.",
    image: image_path("modules/site/social-cards/enterprise.png"),
  },
  html_class: "color-bg-dark-mktg",
  class: "header-dark"
%>

<div class="pt-4 position-relative container-md p-responsive">
  <div class="Box mt-5 p-4">
    <p class="f1 color-fg-default my-3 text-bold">Request your GitHub Advanced Security trial license now.</p>

    <div class="d-flex flex-items-center mb-2">
      <%= form_for ghas_trial_request, url: ghas_trial_requests_path, html: { class: "width-full" }, method: "POST" do |form| %>
        <%= form.hidden_field :utm_campaign, value: params[:utm_campaign] %>
        <%= form.hidden_field :utm_medium, value: params[:utm_medium] %>
        <%= form.hidden_field :utm_source, value: params[:utm_source] %>
        <%= form.hidden_field :utm_content, value: params[:utm_content] %>

        <div class="form-group mb-4 required">
          <div class="form-group-header">
            <%= form.label :name, "Name", class: "f5 text-light" %>
          </div>
          <div class="form-group-body">
            <%= form.text_field :name, value: current_user.profile_name, class: "form-control width-full", required: true %>
          </div>
        </div>

        <div class="form-group mb-4 required">
          <div class="form-group-header">
            <%= form.label :email, "Work email", class: "f5 text-light" %>
          </div>
          <div class="form-group-body">
            <%= form.text_field :email,
              value: current_user.email,
              class: "form-control width-full",
              required: true,
              pattern: UserEmail::MarketingDependency::EMAIL_PATTERN_JS
            %>
          </div>
        </div>

        <div class="form-group mb-4 required">
          <div class="form-group-header">
            <%= form.label :country, "Country", class: "f5 text-light", required: true %>
          </div>
          <div class="form-group-body">
            <%= form.select :country, ::TradeControls::Countries.marketing_targeted_countries.map { |name, alpha, _, _| [name, alpha] },
              {prompt: "Choose your country", required: true},
              class: "form-control input-block width-full js-consent-experience-country-select"
            %>
          </div>
        </div>

        <%= render_react_partial name: "consent-experience", ssr: true, props: {
          fieldName: form.field_name(:marketing_email_opt_in),
          countryFieldSelector: ".js-consent-experience-country-select",
          privacyStatementHref: GitHub.privacy_statement_url,
          emailSubscriptionSettingsLinkHref: new_settings_link_request_path,
          exampleFields: ["name", "work email"],
          formControlClass: "form-checkbox mb-2",
          noticeClass: "mt-3"
        } %>

        <p class="mt-3 f6-mktg color-fg-default"><%= _("By submitting this form I agree to be contacted by GitHub Sales about the GitHub Advanced Security Trial and other applicable purchase opportunities.") %></p>

        <%= form.button(type: :submit, class: "btn btn-primary") do %>
          Request trial
        <% end %>
      <% end %>
    </div>
  </div>
</div>


