<%= render(Primer::Alpha::Dialog.new(
  id: "delete-org-dialog",
  size: :medium_portrait,
  title: "Are you sure you want to delete this?",
  test_selector: "delete-org-dialog",
)) do |dialog| %>
  <% dialog.with_header(show_divider: true) %>
  <% dialog.with_show_button(
    scheme: :danger,
    float: :right,
    mt: 1,
  ) { "Delete this organization" } %>
  <%= form_tag deletion_path,
    :method => deletion_method,
    :id => "cancel_plan",
    :"aria-label" => "Delete organization" do %>
    <%= render(Primer::Alpha::Dialog::Body.new) do %>
      <%= render(Primer::Alpha::Banner.new(scheme: :warning, my: 3)) do %>
        Deleting the <strong><%= organization.display_login %></strong> organization will delete
        all of its repositories. The <strong><%= organization.display_login %></strong> username
        will be unavailable for <%= ReservedLogin::DEFAULT_TOMBSTONE_EXPIRY.in_days.to_i %>
        days.
      <% end %>
      <% unless GitHub.enterprise? %>
        <p class="mb-3">
          Before proceeding, please be sure to review the
          <a class="Link--inTextBlock" href='<%= '/site/terms' %>'>Terms of Service</a> regarding account deletion.
        </p>
      <% end %>
      <div>
        <input type="hidden" name="dangerzone" value="<%= DeleteToken.generate(current_user, organization) %>">
        <label>
          Enter this organization’s name to confirm
          <input type="text" class="form-control input-block mt-1"
            pattern="<%= case_insensitive_pattern organization.display_login %>" required autofocus>
        </label>
        <%= render Primer::Beta::Button.new(
          type: :submit,
          block: true,
          scheme: :danger,
          mt: 2,
          data: {
            disable_with: "",
            disable_invalid: "",
          },
          test_selector: "delete-org-dialog-submit-button",
        ).with_content(submit_button_text) %>
      </div>
    <% end %>
  <% end %>
<% end %>
