<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if organization.business %>
  <%= render Businesses::EnterpriseCloudTrialBannerComponent.new(business: organization.business, viewing_org: organization, on_dashboard: on_dashboard) %>
<% else %>
  <% if should_display_banner? %>
    <div class="<%= warn_class %> js-notice d-md-flex flex-items-center flex-justify-between py-2 px-3 px-md-4 px-lg-5 h6" <%= test_selector("enterprise-onboarding-trial-banner") %> >
      <div class="d-flex flex-items-center flex-justify-between flex-md-justify-start">
        <a href="<%= settings_org_billing_path(organization) %>" class="d-block mr-5 <%= text_color_class %>"
        >
          <%= render(Primer::Beta::Octicon.new(icon: warning? ? "alert" : "clock", size: :small, mr: 2)) %><%= days_remaining %>
        </a>

        <% if show_get_started_with_tasks? %>
          <%= form_tag reset_org_onboarding_notice_path(organization) do %>
            <%= render(Primer::ButtonComponent.new(variant: :small, type: :submit)) { "Get started with suggested tasks" } %>
          <% end %>
        <% end %>

        <% if show_go_to_dashboard? %>
          <a href="<%= user_path(organization) %>" class="d-block mr-md-5 <%= text_color_class %>">
            <%= render(Primer::Beta::Octicon.new(icon: "home", size: :small, mr: 2)) %>Return to organization
          </a>
        <% end %>
      </div>

      <div class="d-none d-md-flex flex-items-center">
        <% actions.each do |action| %>
          <a href="<%= action[:link] %>"
            <%= action[:data] %>
            class="d-block ml-5 <%= text_color_class %>"
            >
              <%= action[:title] %>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= render Organizations::EnterpriseCloudOnboarding::SurveyBannerComponent.new(
        trial,
        organization,
      ) if organization_adminable_by_user? %>
<% end %>
