<div class="position-relative">
  <nav class="<%= class_names(
    "js-profile-tab-count-container UnderlineNav",
    "js-responsive-underlinenav overflow-visible": !mobile?,
  ) %>" data-url="<%= user_tab_counts_path(organization) %>" aria-label="Organization" >
    <div class="<%= class_names(
      "width-full d-flex position-relative",
      "container-lg" => !container_xl?,
      "container-xl" => container_xl?,
      ) %>">
      <ul class="<%= class_names(
        "list-style-none UnderlineNav-body width-full p-responsive",
        "overflow-hidden" => !mobile?,
      ) %>" <%= test_selector("horizontal-tab-menu") %>>
        <% link_components.each do |link_component| %>
          <%= render link_component %>
        <% end %>
      </ul>

      <div class="UnderlineNav-actions position-absolute pr-3 pr-md-4 pr-lg-5 right-0 js-responsive-underlinenav-overflow" style="visibility: hidden">
        <%= render Primer::Beta::Details.new(overlay: :default, reset: true, position: :relative) do |component| %>
          <% component.with_summary(button: false) do %>
            <div class="UnderlineNav-item mr-0 border-0">
              <%= render Primer::Beta::Octicon.new(icon: "kebab-horizontal") %>
              <span class="sr-only">More</span>
            </div>
          <% end %>
          <% component.with_body(tag: :"details-menu", role: "menu", classes: "dropdown-menu dropdown-menu-sw") do %><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <ul <%= test_selector("kebab-menu") %>>
              <% responsive_menu_link_components.each do |link_component| %>
                <li data-menu-item="<%= link_component.tab_id %>" hidden>
                  <%= selected_link_to link_component.text, link_component.url, role: "menuitem",
                        class: "dropdown-item" %>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>
</div>
