<%= render Growth::ShowDialogOnLoadComponent.new(display: true) do |auto_open_dialog_component| %>
  <% auto_open_dialog_component.with_dialog(title: "Upgrade", size: :xlarge, style: "max-width: 640px;") do |dialog| %>
    <% dialog.with_header(hidden: true) %>
    <% dialog.with_body(test_selector: "upgrade-to-enterprise-account-dialog", pl: 0) do %>
      <div class="position-relative d-none d-lg-block">
        <%= dialog_background_image %>
        <div class="pt-9 position-relative width-full">
          <div class="pl-4" style="width: 50%; margin: auto">
            <h3 class="color-fg-default"> Update to Your Enterprise Plan </h3>
            <p class="color-fg-muted" style="font-size: 15px;">
              Same price as before, but with so much more
            </p>
            <div class="color-fg-default pt-1" style="font-size: 15px;">
              <div class="pb-1">
                <%= render(Primer::Beta::Octicon.new(icon: "plus-circle", pr: 1)) %> Everything in your current plan, plus...
              </div>
              <div class="text-bold pb-1">
                <%= render(Primer::Beta::Octicon.new(icon: "check-circle-fill", pr: 1)) %> Enterprise account
              </div>
              <div class="text-bold pb-1">
                <%= render(Primer::Beta::Octicon.new(icon: "check-circle-fill", pr: 1)) %> Multiple organizations
              </div>
              <div class="text-bold pb-1">
                <%= render(Primer::Beta::Octicon.new(icon: "check-circle-fill", pr: 1)) %> Internal repositories
              </div>
              <div class="text-bold pb-1">
                <%= render(Primer::Beta::Octicon.new(icon: "check-circle-fill", pr: 1)) %> Audit log streaming
              </div>
              <div class="text-bold pb-1">
                <%= render(Primer::Beta::Octicon.new(icon: "check-circle-fill", pr: 1)) %> GitHub Advanced Security (Add-on)
              </div>
              <div class="text-bold pb-2">
                <%= render(Primer::Beta::Octicon.new(icon: "check-circle-fill", pr: 1)) %> Copilot Enterprise (Add-on)
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% dialog.with_footer(show_divider: false) do %>
      <%= render Primer::Box.new(direction: :row, display: :flex, flex: 1, pt: 2, pl: 0) do %>
        <%= render(Primer::Beta::Text.new(font_size: 4, text_align: :left, font_weight: :bold)) do %>
          Enterprise Cloud orgs will be upgraded gradually starting on Sept 3rd
        <% end %>
      <% end %>
      <%= render(Primer::Beta::Text.new(color: :muted)) do %>
        We will automatically upgrade all Enterprise Cloud organizations to the enterprise account experience free of charge.
        After the automatic upgrade, <%= organization.name %> will be nested under a new assigned enterprise account.
        Upgrade now to claim your enterprise name early and unlock more features instantly.
      <% end %>
      <%= form_tag growth_notice_dismissals_path, method: :post, class: "js-notice-dismiss" do %>
        <input type="hidden" name="notice" value="<%= notice_name %>">
        <input type="hidden" name="organization_id" value="<%= organization.id %>">
        <input type="hidden" name="per_user" value="<%= notice_per_user? %>">
        <input type="hidden" name="expires" value="<%= dismissal_period %>">
        <%= render(Primer::Beta::Button.new(
          scheme: :secondary,
          type: :submit,
          test_selector: "decline-upgrade-to-enterprise-account-dialog",
          data: analytics_click_attributes(
            category: "organization_upgrades",
            action: "decline_dialog_to_upgrade_to_enterprise_account",
            label: "organization_id:#{organization.id};actor_id:#{current_user.id};pop_up_location:#{location}"
          ).merge("action": "click:show-dialog-on-load#hideDialog")
        )) { "Remind me later" } %>
      <% end %>
      <%= form_tag new_org_enterprise_upgrade_path(organization), method: :get do %>
        <input type="hidden" name="redirect_back" value="true">
        <%= render(Primer::Beta::Button.new(
          scheme: :primary,
          type: :submit,
          test_selector: "accept-upgrade-to-enterprise-account-dialog",
          data: analytics_click_attributes(
            category: "organization_upgrades",
            action: "accept_dialog_to_upgrade_to_enterprise_account",
            label: "organization_id:#{organization.id};actor_id:#{current_user.id};pop_up_location:#{location}",
          )
        )) { "Upgrade" } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
