<div <%= test_selector("sponsors-billing-info") %>>
  <div class="d-block clearfix pb-3 mt-3">
    <%= render Primer::Beta::Heading.new(
      tag: :h3,
      float: :left,
      test_selector: "billing-information",
      font_size: 4,
    ).with_content("Billing information") %>
    <% if can_edit_trade_screening_info? %>
      <div class="float-right js-edit-user-personal-profile-wrapper">
        <%= render Primer::Beta::Button.new(
          type: :button,
          font_size: 6, classes: "js-edit-user-personal-profile"
        ) do %>
          Edit <span class="sr-only">payment method</span>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if data_collection_linking_enabled? && show_data_collection_component? %>
    <%= render Billing::Settings::BillingInformationLinkingComponent.new(
      actor: current_user,
      target: sponsor,
      display_title: false,
      form_loaded_from: "SPONSORS",
      return_to_path: return_url,
      no_redirect: true,
      autocheck_link_checkbox: org_has_no_linked_info_but_user_has_saved_info?
    ) %>
  <% else %>
    <% if collect_billing_info? %>
      <div class="clearfix text-normal color-fg-muted pb-3">
        Please confirm your billing details to continue. You only need to do this once.
      </div>
    <% end %>

    <div class="clearfix d-sm-flex">
      <div class="<%= class_names("col-sm-6 mb-3", "mb-sm-0" => has_saved_trade_screening_record?) %>">
        <div class="d-flex flex-items-center">
          <%= render GitHub::AvatarComponent.new(actor: sponsor, size: 48, mr: 2, test_selector: "avatar") %>
          <ul class="list-style-none lh-condensed mb-2" style="min-height: 48px;">
            <li class="pb-1 text-bold"><%= sponsor.safe_profile_name %></li>
            <li class="text-small color-fg-muted"><%= account_type %> account</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 text-sm-right lh-condensed">
        <% if has_saved_trade_screening_record? %>
          <%= render Billing::Settings::NameAddressSummaryComponent.new(profile: trade_screening_record) %>
        <% end %>
      </div>
    </div>

    <% if show_data_collection_component? %>
      <div class="js-name-address-collection-wrapper" <%= "hidden" if hide_name_address_collection_wrapper? %>>
        <%= render Billing::Settings::NameAddressFormComponent.new(
          target: sponsor,
          payment_flow_loaded_from: payment_flow_loaded_from,
          wrapper_class: nil,
          return_to: return_url,
        ) %>
      </div>
    <% end %>
  <% end %>

  <%= render Sponsors::Sponsorables::PaymentMethodComponent.new(
    sponsor: sponsor,
    payment_method: payment_method,
    show_top_border: show_payment_method_top_bar?,
  ) %>

  <%= render Sponsors::Sponsorables::TradeScreeningCannotProceedComponent.new(sponsor: sponsor) %>
</div>
