<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box" <%= test_selector("sponsorables-current-tier") %>>
  <div class="Box-header <%= header_css_classes %>">
    <%=
      render(Sponsors::AccountSwitcherComponent.new(
        sponsorable: sponsorable,
        sponsor: sponsor,
        sponsorship: @sponsorship,
        adminable_orgs_only: false,
        allow_selecting_invoiced_orgs: true,
        path_params: @sponsorable_metadata,
      ))
    %>

    <% if pending_change? %>
      <div class="mt-3">
        <%= render(Sponsors::Sponsorables::PendingChangeNoticeComponent.new(sponsorship: @sponsorship)) %>
      </div>
    <% end %>
  </div>
  <div class="Box-row border-top-0">
    <div class="d-flex flex-items-center flex-justify-between mb-2">
      <p class="h4 flex-auto mb-0" <%= test_selector("current-tier-name") %>>
        <%= tier.name %>
      </p>
      <%= render Primer::ButtonComponent.new(
        tag: :a,
        href: sponsorable_sponsorships_path(sponsorable, sponsor: sponsor, tier_id: tier.id, **@sponsorable_metadata),
      ).with_content("Manage") %>
    </div>
    <% if repository && sponsor.user? %>
      <%= render(Primer::Beta::BorderBox.new(mb: 2, padding: :condensed)) do |component| %>
        <% component.with_body do %>
          <p class="text-small m-0" <%= test_selector("tier-repo") %>>
            Access to <%= link_to(repository.name_with_display_owner, repository_path(repository), class: "Link--inTextBlock") %>.
          </p>
        <% end %>
      <% end %>
    <% end %>
    <% if tier.description.present? %>
      <div class="markdown-body comment-body p-0">
        <% if tier.custom? && tier.creator == current_user %>
          <span class="color-fg-muted text-italic d-inline-block mr-2">Your note:</span>
        <% end %>
        <%= tier.description_html %>
      </div>
    <% end %>
  </div>
  <% if show_edit_link? %>
    <div class="Box-row">
      <a href="<%= edit_sponsorable_sponsorships_path(sponsorable, sponsor: sponsor, **@sponsorable_metadata) %>">
        <% if pending_change? %>
          View tiers
        <% else %>
          Select a new tier
        <% end %>
      </a>
    </div>
  <% end %>
</div>
