<hr class="my-3" >
<div class="d-block clearfix pb-3 mt-3">
  <%= render(Primer::Beta::Heading.new(
    tag: :h3,
    float: :left,
    font_size: 4
  ).with_content("Payment method")) %>
</div>
<%= primer_octicon(icon: "credit-card") %>
<%= render Primer::Beta::Text.new(
  font_weight: :bold,
  ml: 1,
  test_selector: "self-serve-enterprise-payment-method",
).with_content("Enterprise billed") %>
<p>
  This organization is part of <strong><%= business.name %></strong> and is billed at the enterprise level.<br>For more details, contact your enterprise owners.
  <div <%= test_selector "enterprise-owners" %>>
    See all <%= link_to "enterprise owners", org_enterprise_owners_path(sponsor), class: "Link--inTextBlock" %>.
  </div>
</p>
