<%= render Billing::Settings::ZuoraMaintenanceBannerComponent.new(
  zuora_maintenance_enabled: zuora_maintenance_enabled?,
) %>

<% unless zuora_maintenance_enabled? %>
  <div class="payment-methods js-payment-methods <%= "has-paypal-account" if target.has_paypal_account? %>">
    <div class="d-block clearfix pb-3 mt-3">
      <h4 class="mb-2 float-left">Payment method</h4>
    </div>

    <div class="javascript-disabled-overlay"></div>

    <%= hidden_field_tag "payment_method", target.has_paypal_account? ? "paypal" : "credit_card", class: "js-payment-method-type" %>

    <div class="js-selected-payment-method selected-payment-method pay-by-credit-card <%= "active" unless target.has_paypal_account? %>">
      <% if allow_editing? %>
        <div class="float-right js-sponsors-payment-method-update-confirmation-dialog">
          <%= render(Primer::Alpha::Dialog.new(
            title: "Really update your payment method?",
            id: "sponsors-payment-method-update-confirmation-dialog"
          )) do |d| %>
            <% d.with_show_button(font_size: 6) do %>
              Edit <span class="sr-only">payment method</span>
            <% end %>
            <% d.with_body do %>
              <p class="mt-3">
                This will update your payment method for all GitHub services, like Actions, Packages, Codespaces,
                GitHub Pro, and Copilot.
              </p>
            <% end %>
            <% d.with_footer do %>
              <%= render Primer::Beta::Button.new(
                block: true,
                font_size: 6,
                classes: edit_payment_method_classes,
                data: {
                  selected_tab: "pay-by-credit-card",
                  sdn_data_collection: data_collection_enabled?,
                  close_dialog_id: "sponsors-payment-method-update-confirmation-dialog",
                },
                test_selector: "credit-card-edit",
              ) do %>
                I have read and understand these effects.
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <%= render Billing::Settings::CreditCardFormComponent.new(
        target: target,
        new_name_address_design: new_name_address_design?,
        show_payment_method: false,
        signature_view_context: signature_view_context,
        allow_editing: false,
      ) %>
    </div>

    <div class="js-selected-payment-method selected-payment-method pay-with-paypal <%= "active" if target.has_paypal_account? %>">
      <%= render Billing::Settings::PaypalFormComponent.new(
        target: target,
        new_name_address_design: new_name_address_design?,
        hide_billing_info_fields: target.has_saved_trade_screening_record?,
        signature_view_context: signature_view_context,
        allow_editing: false,
      ) %>
    </div>
  </div>

  <%= render Billing::Settings::NextPaymentComponent.new(
    target: target,
    new_name_address_design: new_name_address_design?,
  ) %>
<% end %>
