<p class="mb-0" <%= test_selector "change-effective-notice" %>>
  You have a <strong>pending <%= change_type %></strong> for this sponsorship,
  which will take effect on <%= next_billing_date %>.
</p>

<% if change_type == "downgrade" %>
  <p>
    Your new tier will be <strong><%= pending_change.new_tier %></strong>.
  </p>
<% end %>
<%= form_tag(sponsorable_pending_sponsorship_changes_path(sponsorship.sponsorable, sponsor: sponsorship.sponsor),
  class: "inline-form",
  method: :delete,
  data: { test_selector: "undo-change" }
) do %>
  <%= render Primer::Beta::Button.new(
    scheme: :link,
    type: :submit,
    font_size: 6,
    data: { confirm: "Are you sure you want to undo this pending #{change_type}?" },
  ).with_content("Undo #{change_type}") %>
<% end %>
