<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Flash.new(scheme: :warning, full: true, test_selector: "sponsors-preview-banner") do %>
  <div class="container-lg p-responsive">
    <%= primer_octicon(:eye, mr: 1) %>
    <% if show_state_label? %>
      <span class="IssueLabel color-bg-danger-emphasis color-fg-on-emphasis" <%= test_selector "sponsors-preview-banner-state-label" %>><%= sponsors_listing.current_state_name.to_s.humanize %></span>
      <%= sponsors_listing.for_user? ? "user" : "organization" %>.
    <% end %>
    You are previewing <%= preview_subject %> GitHub Sponsors profile.
    <% if admin? %>
      <%= link_to("Edit #{preview_subject} profile.", sponsorable_dashboard_path(sponsors_listing.sponsorable_login)) %>
    <% end %>
  </div>
<% end %>
