<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="border rounded-2 p-3">
  <div class="d-flex flex-justify-between flex-items-baseline">
    <h4 class="h4 color-fg-default mb-3">
      <span <%= test_selector("selected-tier-name") %>><%= @tier.name %></span>
    </h4>

    <% if sponsorship_supports_tier_change? && can_change_tier? %>
      <%= render Primer::ButtonComponent.new(
        tag: :a,
        href: edit_tiers_path,
      ) do %>
        Edit<span class="sr-only"> selected tier</span>
      <% end %>
    <% end %>
  </div>

  <% if show_repo_access_message? %>
    <%= render(Primer::Box.new(
      bg: :subtle,
      color: :muted,
      font_size: :small,
      mb: 3,
      p: 2,
      border_radius: 2,
      test_selector: "tier-repo-access",
      "data-repository-hovercards-enabled": true,
    )) do %>
      <% if tier_is_sponsorship_tier? %>
        You get access to the
        <a class="Link--inTextBlock" href="<%= repository_path(repository) %>" <%= safe_data_attributes(hovercard_data_attributes_for_repository(repository)) %>><%= repository.name_with_display_owner %></a>
        repository.
      <% else %>
        You will be automatically invited to a private repository.
      <% end %>
    <% end %>
  <% end %>

  <div class="markdown-body comment-body p-0" <%= test_selector("selected-tier-description-html") %>>
    <%= rewards_text %>
  </div>

  <% if parent_tier %>
    <p class="mt-3">
      You'll <%= " also " if show_public_badge_reward_text? %> receive rewards listed in the
      <strong <%= test_selector("closest-lesser-value-tier") %>><%= parent_tier.name %></strong>
      tier:
    </p>
    <div class="markdown-body comment-body p-0" <%= test_selector("closest-lesser-tier-description-html") %>>
      <%= parent_tier.description_html %>
    </div>
  <% end %>
</div>

<% if @tier.one_time? && !@sponsorship.present? %>
  <div class="note mt-3" <%= test_selector("otp-expiration-note") %>>
    <% if @sponsorship && !@sponsorship.expired? && tier_is_sponsorship_tier? %>
      You will count as a sponsor of @<%= @sponsorable %> for
      <%= pluralize(@sponsorship.days_remaining_till_expiration, "more day") %>.
    <% elsif @sponsorship.nil? || !@sponsorship.locked? %>
      You will count as a sponsor of @<%= @sponsorable %> for
      <%= pluralize(Sponsorship::DAYS_TO_SHOW_ONE_TIME_SPONSORS, "day") %>.
    <% end %>
  </div>
<% end %>
