<%# `view` is an instance of AutocompleteView %>

<% if suggestions.any? %>
  <% suggestions.each do |user| %>
    <li class="autocomplete-item" data-autocomplete-value="<%= user.display_login %>" role="option">
      <%= avatar_for user, 20, :class => "avatar", :"aria-hidden" => "true" %>
      <%= user.display_login %>
      <small class="text-normal"><%= user.profile_name %></small>
      <% if view.organization && view.organization.member?(user) %>
        <div class="color-fg-muted"><%= primer_octicon(:organization) %><%= user.display_login %> is a member of <%= view.organization.display_login %></div>
      <% end %>
    </li>
  <% end %>
<% elsif view.organization && view.org_only_query? %>
  <li class="autocomplete-item disabled" data-autocomplete-value="<%= view.query %>" aria-disabled="true" role="option">
    <%= view.query %> isn’t a member of <%= view.organization %>
  </li>
<% elsif view.email_query? %>
  <li class="autocomplete-item disabled" data-autocomplete-value="<%= view.query %>" aria-disabled="true" role="option">
    <%= view.query %> doesn’t have a GitHub account
  </li>
<% elsif view.user_query? %>
  <li class="autocomplete-item disabled" data-autocomplete-value="<%= view.query %>" aria-disabled="true" role="option">
    <%= view.query %> isn’t a GitHub member
  </li>
<% end %>
