<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>

<% record_retention_period_metric("render_graph", collector) %>

<div class="position-relative">
  <% if (message = flash[:contribution_graph_notice]).present? %>
    <%= render Primer::Beta::Flash.new(mb: 3, px: 3, py: 2, border_radius: 2, classes: "flash-notice js-flash-alert", role: "alert") do %>
      <button class="flash-close js-flash-close" type="button" aria-label="Dismiss this notice">
        <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
      </button>
      <span class="f6"><%= message %></span>
    <% end %>
  <% end %>

  <%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
    classes: "Box mb-1",
    container_classes: "mb-2",
    resource_label: "contributions",
    cap_filter: cap_filter
  )%>

  <% unless this_user.large_bot_account? %>
    <% if current_user == this_user %>
      <%= render partial: "users/tabs/contribution_settings", locals: { user: current_user } %>
    <% end %>

    <h2 class="f4 text-normal mb-2">
      <%= number_with_delimiter calendar.total_contributions %>
      <%= "contribution".pluralize(calendar.total_contributions) %>
      <% if collector.ends_in_current_month? && collector.starts_in_prior_year? %>
        in the last year
      <% else %>
        in <%= collector.ended_at.in_time_zone(Time.zone).strftime("%Y") %>
      <% end %>
      <% if scoped_organization %>
        in <%= org.name %>
      <% end %>
      <% if this_user == current_user && this_user.large_scale_contributor? %>
        *
      <% end %>
    </h2>

    <div class="border py-2 graph-before-activity-overview">
      <div class="js-calendar-graph mx-md-2 mx-3 d-flex flex-column flex-items-end flex-xl-items-center overflow-hidden pt-1 is-graph-loading graph-canvas ContributionCalendar height-full text-center"
          data-graph-url="<%= calendar.async_url.is_a?(Promise) ? calendar.async_url.sync.path : calendar.async_url.path %>"
          data-url="<%= user_path(user) %>"
          data-from="<%= collector.started_at.in_time_zone(Time.zone) %>"
          data-to="<%= collector.ended_at.in_time_zone(Time.zone) %>"
          data-org="<%= org&.display_login %>"
          <% if calendar.holiday_period %>data-holiday="<%= calendar.holiday_period %>"<% end %>>
        <%= render partial: "users/contributions",
                   locals: { calendar: calendar, activity_overview_enabled: activity_overview_enabled? } %>
        <div class="width-full f6 px-0 px-md-5 py-1">
          <div class="float-left">
            <% if calendar.halloween? %>
              <span class="mr-1">Happy Halloween!</span>
            <% end %>

            <% if this_user == current_user && this_user.large_scale_contributor? %>
              <div>
                * Since you are a large-scale contributor,
                only public contributions to your repositories are shown.
              </div>
            <% end %>

            <a href="<%= GitHub.help_url %>/articles/why-are-my-contributions-not-showing-up-on-my-profile" class="Link--muted">
              Learn how we count contributions</a>
          </div>

          <% level_descriptions = ["No contributions.", "Low contributions.", "Medium-low contributions.", "Medium-high contributions.", "High contributions."].freeze %>
          <div class="float-right color-fg-muted d-flex flex-items-center">
            <%= render(Primer::Beta::Text.new(tag: :span, mr: 1)) { "Less" } %>
            <% Platform::Enums::ContributionLevel.values.each do |level, value| %>
              <%= render(Users::Contributions::DayComponent.new(
                level: level,
                description: level_descriptions[value.value],
                style: "width: 10px; height: 10px",
                classes: "ContributionCalendar-day",
                id: "contribution-graph-legend-level-#{value.value}",
                mr: 1
              )) %>
            <% end %>
            <%= render(Primer::Beta::Text.new(tag: :span)) { "More" } %>
          </div>
        </div>
      </div>

      <% if this_user == current_user && !this_user.any_contributions_ever?(viewer: current_user) %>
        <div class="border-top color-border-default mt-3 px-4 py-3">
          <p>This is your <strong>contribution graph</strong>. Your first square is for joining GitHub and you’ll earn more as you make <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/why-are-my-contributions-not-showing-up-on-my-profile">additional contributions</a>. More contributions means a higher contrast square color for that day. Over time, your chart might start looking <%= render Primer::ButtonComponent.new("data-url": user_contributions_sample_path(current_user), scheme: :link, classes: "js-new-user-contrib-example") do %>something like this<% end %>.</p>

          <p>We have a quick guide that will show you how to create your first repository and earn more green squares!</p>

          <p class="m-0">
            <a href="https://docs.github.com/get-started/quickstart/hello-world" class="btn" data-ga-click="NUX Profile, click, Clicked Hello World Button" data-ga-load="NUX Profile, buttonview, Hello World Button">
              <%= primer_octicon(:book) %> Read the Hello World guide
            </a>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
