<%
data = {} unless local_assigns.key?(:data)
profile_data_attrs = profile_click_tracking_attrs(:FOLLOW_BUTTON).merge(data)
sign_in_data_attrs = sign_in_link_data_attributes(location_in_page: "follow button").merge(data)
user_is_viewer = user == current_user
viewer_is_following = user.followed_by?(current_user)
%>

<% if logged_in? && !user_is_viewer %>
  <span class="user-following-container js-form-toggle-container">
    <% if viewer_is_following && user.private_profile_for?(current_user) %>
      <span class="js-form-toggle-target" hidden></span>
    <% else %>
      <%= form_tag(follow_user_path(target: user.display_login), class: "js-form-toggle-target", hidden: viewer_is_following, data: { "sr-feedback": "You are following #{user.display_login}"}) do %>
        <%= submit_tag "Follow",
              style: style,
              class: class_names(classes, "btn-primary" => make_primary == true),
              title: "Follow #{user.display_login}",
              "aria-label": "Follow #{user.display_login}",
              data: profile_data_attrs %>
      <% end %>
    <% end %>

    <%= form_tag(unfollow_user_path(target: user.display_login), class: "js-form-toggle-target", hidden: !viewer_is_following, data: { "sr-feedback": "You are unfollowing #{user.display_login}" }) do %>
      <%= submit_tag "Unfollow",
            style: style,
            class: classes,
            data: data,
            title: "Unfollow #{user.display_login}",
            "aria-label": "Unfollow #{user.display_login}" %>
    <% end %>
  </span>
<% elsif !logged_in? %>
  <span class="user-following-container">
    <span class="follow d-block">
      <%= link_to(
        "Follow",
        site_nav_login_path,
        class: class_names(classes, "btn-primary" => make_primary == true),
        data: sign_in_data_attrs,
      ) %>
    </span>
  </span>
<% end %>
