<% if user %>
  <div class="d-table table-fixed col-12 width-full py-4 border-bottom color-border-muted" <%= test_selector("follow_user") %>>
    <div class="d-table-cell col-2 col-lg-1 v-align-top">
      <%= linked_avatar_for(user, 50, img_class: "avatar") %>
    </div>

    <div class="d-table-cell col-9 v-align-top pr-3">
      <%= profile_link(user, class: "d-inline-block no-underline mb-1") do %>
        <span class="f4 Link--primary"><%= user.profile_name %></span>
        <span class="Link--secondary<% if user.profile_name.present? %> pl-1<% end %>"><%= user.display_login %></span>
      <% end %>

      <% if user.suspended? || user.spammy? %>
        <%= render(Primer::Beta::Label.new(scheme: :danger, ml: 1)) do %>
          <%= user.suspended? ? "Suspended" : "Spammy" %>
        <% end %>
      <% end %>

      <% if user.profile_bio.present? %>
        <div class="color-fg-muted text-small mb-2">
          <%= GitHub::Goomba::ProfileBioPipeline.to_html(user.profile_bio, {}) %>
        </div>
      <% end %>

      <% if user.profile_company.present? || user.profile_location.present? %>
        <p class="color-fg-muted text-small mb-0">
        <% if user.profile_company.present? %>
          <span class="mr-3">
            <%= primer_octicon(:organization) %> <%= user.profile_company %>
          </span>
        <% end %>
        <% if user.profile_location.present? %>
          <%= primer_octicon(:location) %> <%= user.profile_location %>
        <% end %>
        </p>
      <% end %>
    </div>

    <div class="d-table-cell col-2 v-align-top text-right">
      <%= follow_button user %>
    </div>
  </div>
<% end %>
