<%# If a user is both spammy and suspended, their banner is 'suspended' %>

<% if user = follow_list %>
  <li class="col-md-4 mb-3" <%= test_selector("follow-list-item") %>>
    <div class="border-bottom d-flex pb-3">
      <div>
        <%= linked_avatar_for(user, 48, img_class: "avatar") %>
      </div>

      <div class="ml-3 flex-auto min-width-0">
        <h2 class="h4 mb-1" <%= test_selector("follow-list-name") %>>
          <%= render(Primer::Beta::Truncate.new) do |truncate| %>
            <% truncate.with_item { profile_link(user) } %>
          <% end %>
        </h2>
        <%= render partial: "users/quick_info", locals: { user: user } %>
        <div class="d-flex flex-wrap flex-items-center">
          <%= follow_button user %>

          <% if site_admin? && (user.suspended? || user.spammy?) %>
            <%= render Primer::Beta::Label.new(tag: :div, ml: 3) do %>
              <% if user.suspended? %>
                Suspended
              <% elsif user.spammy? %>
                Spammy
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </li>
<% end %>
