<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 8 %>
<%
  view = Users::GlobalAddView.new(
    current_user: current_user,
    repository: current_repository,
    organization: current_organization,
    cap_view_filter: cap_view_filter
  )
%>

<a role="menuitem" class="dropdown-item" href="/new" data-ga-click="Header, create new repository">
  New repository
</a>

<% if view.show_repository_import_link? %>
  <a role="menuitem" class="dropdown-item" href="/new/import" data-ga-click="Header, import a repository">
    Import repository
  </a>
<% end %>

<% if GitHub.codespaces_enabled? %>
  <a role="menuitem" class="dropdown-item" href="<%= new_codespace_path %>">
    New codespace
  </a>
<% end %>

<a role="menuitem" class="dropdown-item" href="<%= gist_root_url %>" data-ga-click="Header, create new gist">
  New gist
</a>

<% if user_can_create_organizations? %>
  <a role="menuitem" class="dropdown-item" href="/organizations/new" data-ga-click="Header, create new organization">
    New organization
  </a>
<% end %>

<% if view.show_org_links? %>
  <div role="none" class="dropdown-divider"></div>
  <div class="dropdown-header">
    <span>Organization: <%= view.organization.display_login %></span>
  </div>
  <a role="menuitem" class="dropdown-item" href="<%= org_people_path(view.organization, :anchor => "invite-member") %>" data-ga-click="Header, invite someone">
    <%= invite_or_add_action_word(enterprise_managed: view.organization&.enterprise_managed_user_enabled? ) %> someone
  </a>
  <a role="menuitem" class="dropdown-item" href="<%= new_team_path(view.organization) %>" data-ga-click="Header, create new team">
    New team
  </a>
  <a role="menuitem" class="dropdown-item" href="<%= new_organization_repository_path(view.organization) %>" data-ga-click="Header, create new organization repository, icon:repo">
    New repository
  </a>
<% end %>

<% if logged_in? && !view.repository && !view.organization %>
  <% if GitHub.projects_new_enabled? %>
    <%= form_for :memex_project, url: create_user_project_beta_path(current_user, type: "new"), method: :post do |f| %>
      <%= hidden_field_tag :action, "create" %>
      <%= f.hidden_field :title, id: "project-title", value: MemexProject.default_user_title(current_user) %>
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, role: "menuitem", classes: "dropdown-item", "data-ga-click": "Header, create new project") do %>
        New project
      <% end %>
    <% end %>
  <% else %>
    <a role="menuitem" class="dropdown-item" href="<%= new_project_path %>" data-ga-click="Header, create new project">
      New project
    </a>
  <% end %>
<% end %>
