<%
  participants = issue.participants_for(current_user, user_limit: Issue::VIEW_PARTICIPANT_LOAD_LIMIT)
  count = issue.participant_count.nil? ? participants.size : issue.participant_count
%>
<div id="partial-users-participants" class="discussion-sidebar-item">
  <div class="participation">
    <div class="discussion-sidebar-heading text-bold">
      <%= number_with_delimiter(count) %> participant<%= 's' unless count == 1 %>
    </div>
    <div class="participation-avatars d-flex flex-wrap">
      <% participants.each do |user| %>
        <%= profile_link user, class: "participant-avatar" do %>
          <%= avatar_for user, 26, class: "avatar" %><%= " " %><%# leave this space for copy/paste username strings %>
        <% end %>
      <% end %>
      <% if count > participants.size %>
        <span class="participation-more">and others</span>
      <% end %>
    </div>
  </div>
</div>
