<%
  gists_profile ||= false
  is_sponsorable = false unless local_assigns.key?(:is_sponsorable)
  follower_count ||= 0
  following_count ||= 0
  adminable_by_viewer = false unless local_assigns.key?(:adminable_by_viewer)
  can_edit = ((user == current_user) && !gists_profile) || (user.organization? && adminable_by_viewer)
%>

<div class="js-profile-editable-area d-flex flex-column d-md-block">
  <div class="p-note user-profile-bio mb-3 js-user-profile-bio f4" data-bio-text="<%= user.profile_bio %>"
    <% unless user.profile_bio_html.present? %>hidden<% end %>><%= user.profile_bio_html %></div>

  <% if can_edit %>
    <div class="mb-3">
      <% if user.user? %>
        <%= button_tag "Edit profile", type: "button", class: "btn btn-block js-profile-editable-edit-button", data: profile_click_tracking_attrs(:INLINE_EDIT_BUTTON) %>
      <% end %>

      <% if GitHub.sponsors_enabled? && is_sponsorable %>
        <%= link_to(
          "Sponsors dashboard",
          sponsorable_dashboard_path(user),
          id: "sponsorships-profile-button",
          class: "btn btn-block mt-2",
          "aria-label": "@#{user.display_login} Sponsors dashboard",
          data: sponsors_button_hydro_attributes(:PROFILE_SPONSORS_DASHBOARD, user.display_login),
        ) %>
      <% end %>
    </div>
  <% end %>

  <% if (follower_count + following_count) > 0 %>
    <div class="flex-order-1 flex-md-order-none mt-2 mt-md-0">
      <div class="mb-3">
        <%= link_to "#{user_url_to_main_site(user)}?tab=followers", class: "Link--secondary no-underline no-wrap" do %>
          <%= render(Primer::Beta::Octicon.new(icon: "people", text: :muted)) %>
          <span class="text-bold color-fg-default"><%= social_count(follower_count) %></span>
          <%= "follower".pluralize(follower_count) %>
        <% end %>
        &middot; <%= link_to "#{user_url_to_main_site(user)}?tab=following", class: "Link--secondary no-underline no-wrap" do %>
          <span class="text-bold color-fg-default"><%= social_count(following_count) %></span>
          following
        <% end %>
        <%= render Profiles::User::MutualFollowersComponent.new(user: user, current_user: current_user) %>
      </div>
    </div>
  <% end %>

  <ul class="vcard-details">
    <% unless GitHub.enterprise? %>
      <% if user.show_staff_badge_to?(current_user) %>
        <li class="vcard-detail pt-1">
          <%= primer_octicon(:organization, :"aria-label" => "Organization: GitHub") %>
          <span class="p-org" itemProp="worksFor">GitHub</span>
          <% if employee? %>
            <a href="<%= user.thehub_url %>">
              <%= render(Primer::Beta::Label.new(
                scheme: :info,
                text_transform: :uppercase,
              )) do %>
                Staff
              <% end %>
            </a>
          <% else %>
            <%= render(Primer::Beta::Label.new(
              scheme: :info,
              text_transform: :uppercase,
            )) do %>
              Staff
            <% end %>
          <% end %>
        </li>
      <% elsif user.profile_company_html.present? %>
        <%= vcard_item "organization", class: "hide-sm hide-md", itemprop: "worksFor", show_title: false, "aria-label": "Organization: #{user.profile_company}" do %>
                  <span class="p-org"><%= user.profile_company_html %></span>
        <% end %>
      <% end %>
    <% end %>

    <% if user.profile_location.present? %>
      <%= vcard_item "location", class: "hide-sm hide-md", itemprop: "homeLocation", show_title: false, "aria-label": "Home location: #{user.profile_location}" do %>
        <span class="p-label"><%= user.profile_location %></span>
      <% end %>
    <% end %>

    <% if user.profile_local_time_zone_name.present? %>
      <% local_time = Time.now.in_time_zone(user.profile_local_time_zone_name) %>
      <%= vcard_item "clock", class: "hide-sm hide-md", itemprop: "localTime", show_title: false do %>
        <%= render Profiles::User::LocalTimeComponent.new(user: user, classes: "p-label", timezone_classes: "color-fg-muted d-inline") %>
      <% end %>
    <% end %>

    <% if (user_email = user.publicly_visible_email(logged_in: logged_in?)).present? %>
      <%= vcard_item "mail", itemprop: "email", "aria-label": "Email: #{user_email}" do %>
        <% if logged_in? || GitHub.enterprise? %>
          <%= obfuscated_mail_to(user_email, class: "Link--primary") %>
        <% else %>
          <%= link_to(
            "Sign in to view email",
            login_path_with_return,
            rel: "nofollow",
            data: sign_in_link_data_attributes(location_in_page: "view user email"),
            class: "Link--primary"
          ) %>
        <% end %>
      <% end %>
    <% end %>

    <%= vcard_item "link", itemprop: "url", icon: primer_octicon(:link), data: { "test-selector" => "profile-website-url" } do %>
      <%= safe_link_to(user.profile_blog.to_s, user.profile_blog.to_s, rel: "nofollow me", class: "Link--primary") || user.profile_blog.to_s %>
    <% end %>

    <% if show_orcid_identifier? %>
      <%=
        vcard_item(
          "link",
          itemprop: "social",
          icon: svg("site/icons/orcid-id-bw", class: "octicon", aria_hidden: true, width: 16, height: 16),
          data: test_selector_hash("orcid-record")
        ) do
      %>
        <%=
          safe_link_to(
            user.orcid_record.profile_url,
            user.orcid_record.profile_url,
            rel: "nofollow me",
            class: "Link--primary",
            style: "overflow-wrap: anywhere",
          )
        %>
      <% end %>
    <% end %>

    <% Array(user.profile_social_accounts).each do |social_account| %>
      <%=
        vcard_item "link",
          itemprop: "social",
          icon: social_account_icon(social_account),
          data: test_selector_hash("profile-social-account") do
      %>
        <%=
          safe_link_to(
            social_account.format_account_name,
            social_account.url,
            rel: "nofollow me",
            class: "Link--primary",
            style: "overflow-wrap: anywhere",
          )
        %>
      <% end %>
    <% end %>

    <% if user.joined_in_last_month? %>
      <%= vcard_item 'rocket', title: "Member since", class: "mb-3 mb-md-0" do %>
        <span class="join-label">Joined </span>
        <%= time_ago_in_words_js(user.created_at) %>
      <% end %>
    <% end %>
  </ul>
</div>
