<waiting-form>
  <%= form_tag(
    user_user_path(this_user),
    method: :put,
    hidden: true,
    class: "position-relative flex-auto js-profile-editable-form",
    "data-target": "waiting-form.form",
  ) do %>
    <%# name %>
    <% if current_user&.change_profile_name_enabled? && !current_user.is_enterprise_managed? %>
      <div class="mb-1 mb-2">
        <label for="user_profile_name" class="d-block mb-1">Name</label>
        <input class="width-full form-control" id="user_profile_name" placeholder="Name" aria-label="Name" name="user[profile_name]" value="<%= this_user.profile_name %>">
      </div>
    <% end %>

    <% if this_user.can_have_pro_badge? %>
      <%# pro badge %>
      <div class="form-checkbox mt-0">
        <input type="hidden" name="user[pro_badge_enabled]" value="0">
        <input type="checkbox" name="user[pro_badge_enabled]" value="1" id="user_pro_badge_enabled"<% if pro_badge_enabled? %> checked<% end %>>
        <label for="user_pro_badge_enabled">
          Display
          <%= render partial: "users/pro_badge", locals: { show_octicon: false } %>
          badge.
        </label>
      </div>
    <% end %>

    <%# bio %>
    <div class="js-length-limited-input-container">
      <label for="user_profile_bio" class="d-block mb-1">Bio</label>
      <text-expander keys=": @" data-emoji-url="<%= emoji_suggestions_path %>" data-mention-url="<%= user_suggestions_path %>">
        <textarea
          class="form-control js-length-limited-input mb-1 width-full js-user-profile-bio-edit"
          id="user_profile_bio"
          name="user[profile_bio]"
          placeholder="Add a bio"
          aria-label="Add a bio"
          rows="3"
          data-input-max-length="<%= Profile::BIO_MAX_LENGTH %>"
          data-warning-text="{{remaining}} remaining"><%= this_user.profile_bio %></textarea>
        <div class="d-none js-length-limited-input-warning user-profile-bio-message text-right m-0"></div>
      </text-expander>
      <p class="note">
        You can <strong>@mention</strong> other users and organizations to link to them.
      </p>
    </div>

    <%# pronouns %>
    <% if user_pronouns_enabled? %>
      <div class="mt-1 mb-3">
        <label for="user_profile_pronouns" class="d-block mb-1">Pronouns</label>
        <% selected = if this_user.profile_pronouns.present?
                        Profile::PRONOUNS_OPTIONS.include?(this_user.profile_pronouns) ? this_user.profile_pronouns : "Custom"
                      else
                        ""
                      end
        %>
        <%= select_tag "user[profile_pronouns]", options_for_select([
              [_("Don't specify"), ""],
              *Profile::PRONOUNS_OPTIONS,
              "Custom",
            ], selected: selected),
            id: "user_profile_pronouns",
            class: "js-profile-editable-pronouns-select form-control width-full" %>
        <input
          class="js-profile-editable-pronouns-custom mt-2 form-control width-full"
          placeholder="Pronouns"
          aria-label="Pronouns"
          name="user[profile_pronouns]"
          value="<%= this_user.profile_pronouns %>"
          data-initial-value="<%= this_user.profile_pronouns %>"
          <%= "hidden" if this_user.profile_pronouns.blank? || Profile::PRONOUNS_OPTIONS.include?(this_user.profile_pronouns) %>
        >
      </div>
    <% end %>

    <%# company %>
      <% if !this_user.is_enterprise_managed? %>
        <div class="color-fg-muted mt-2 d-flex flex-items-center">
          <%= primer_octicon(:organization, style: "width: 16px;") %>
          <input class="ml-2 form-control flex-auto input-sm" placeholder="Company" aria-label="Company" name="user[profile_company]" value="<%= this_user.profile_company %>">
        </div>
      <% end %>

    <%# location %>
    <div class="color-fg-muted mt-2 d-flex flex-items-center">
      <%= primer_octicon(:location, style: "width: 16px;") %>
      <input class="ml-2 form-control flex-auto input-sm" placeholder="Location" aria-label="Location" name="user[profile_location]" value="<%= this_user.profile_location %>">
    </div>

    <%# timezone %>
    <div class="color-fg-muted mt-2 d-flex flex-items-center flex-wrap">
      <%= primer_octicon(:clock, style: "width: 16px;") %>
      <%= check_box_tag(
        "user[profile_display_local_time_zone]",
        "1",
        this_user.profile_local_time_zone_name.present?,
        class: "ml-2 form-control form-checkbox-details-trigger"
      ) %>
      <label for="user_profile_display_local_time_zone" class="ml-1">Display current local time</label>
      <div class="form-checkbox-details mr-4 mt-1">
        <%= time_zone_select(
            :user,
            :profile_local_time_zone_name,
            nil,
            {},
            class: "form-select ml-4 flex-auto select-sm width-full",
            "aria-label": "Time zone"
        ) %>
      </div>
    </div>

    <%# email %>
    <% if !this_user.is_enterprise_managed? && this_user.possible_profile_emails.any? && this_user.primary_user_email_role&.public? %>
      <div class="color-fg-muted mt-2 d-flex flex-items-center">
        <% emails = [nil, *this_user.possible_profile_emails] %>
        <%= primer_octicon(:mail, style: "width: 16px;") %>
        <%= select_tag(
          "user[profile_email]",
          options_for_select(
            emails.map { |e| [e, e] },
            this_user.publicly_visible_email(logged_in: logged_in?),
          ),
          class: "form-control ml-2 flex-auto select-sm",
          "aria-label": "Email"
        ) %>
      </div>
    <% end %>

    <%# website %>
    <div class="color-fg-muted mt-2 d-flex flex-items-center">
      <%= primer_octicon(:link, style: "width: 16px;") %>
      <input class="ml-2 form-control flex-auto input-sm" placeholder="Website" aria-label="Website" name="user[profile_blog]" value="<%= this_user.profile_blog %>">
    </div>

    <%# orcid id %>
    <% if show_orcid_controls? && this_user.has_orcid_record? %>
      <div class="color-fg-muted my-2 d-flex flex-items-center flex-wrap">
        <%= svg("site/icons/orcid-id-bw", class: "octicon", aria_hidden: true, width: 16, height: 16) %>
        <%= check_box_tag(
          "user[display_orcid_id_on_profile]",
          "1",
          this_user.display_orcid_id_on_profile?,
          class: "ml-2 form-control"
        ) %>
        <label for="user_display_orcid_id_on_profile" class="ml-1">Display your ORCID iD</label>
      </div>
    <% end %>

    <%# social accounts %>
    <div class="mt-2 mb-3">
      <label class="d-block mb-1">Social accounts</label>

      <%= render(Profiles::SocialAccountsEditComponent.new(this_user: this_user)) %>
    </div>

    <div class="my-3">
      <div class="js-profile-editable-error color-fg-danger my-3"></div>
      <%= render Primer::Beta::Button.new(
        type: :submit,
        size: :small,
        scheme: :primary,
        display: :inline_flex,
        "data-target": "waiting-form.submit",
        "data-action": "click:waiting-form#submitPolitely"
      ).with_content("Save") %>
      <%= render Primer::Beta::Button.new(
        type: :reset,
        size: :small,
        display: :inline_flex,
        classes: "js-profile-editable-cancel",
      ).with_content("Cancel") %>
    </div>
  <% end %>
</waiting-form>
