<%# NOTE: A GraphQL version of this partial has been made: quick_info_graphql.html.erb. As pages using this are switched to graphQL, that partial should be used %>

<% if user.profile_company.present? %>
<p class="mb-3 d-flex flex-items-center">
  <span class="sr-only">Works for <%= user.profile_company %></span>
  <%= primer_octicon(:organization, color: :muted, mr: 2) %>
  <span class="Truncate">
    <span class="Truncate-text" aria-hidden="true"><%= user.profile_company %></span>
  </span>
</p>
<% elsif user.profile_location.present? %>
<p class="mb-3 d-flex flex-items-center">
  <%= primer_octicon(:location, color: :muted, mr: 2) %>
  <span class="sr-only">Is from <%= user.profile_location %></span>
  <span class="Truncate">
    <span class="Truncate-text" aria-hidden="true"><%= user.profile_location %></span>
  </span>
  </p>
<% else %>
<p class="mb-3"><%= primer_octicon(:clock, color: :muted) %> Joined on <%= user.created_at.strftime("%b %-d, %Y") %></p>
<% end %>
