<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%
  phrase = params[:q]
  language = params[:language]
  type_filter = params[:type]
  sort_order = params[:sort]

  language_options = viewable_repositories_owned_by.each_with_object(Set.new) do |repo, languages|
    if name = repo.primary_language&.name
      languages << name
    end
  end

  type_filters = user_repositories_valid_type_filters(include_private: user_is_viewer, include_public: this_user.is_enterprise_managed?)
%>

<div class="border-bottom color-border-muted py-3">
  <% if user_is_viewer %>
    <a href="<%= new_repository_path %>" class="d-md-none btn btn-primary d-flex flex-items-center flex-justify-center width-full mb-4">
      <%= render(Primer::Beta::Octicon.new(icon: "repo", mr: 1)) %>
      New
    </a>
  <% end %>

  <div class="d-flex flex-items-start">
    <%= form_tag(
      user_path(this_user),
      method: :get,
      class: "width-full",
      "data-autosearch-results-container": "user-repositories-list",
      "aria-label": "Repositories",
      role: "search",
    ) do %>
      <div class="d-flex flex-column flex-lg-row flex-auto">
        <div class="mb-1 mb-md-0 mr-md-2 flex-auto">
          <input type="hidden" name="tab" value="repositories">
          <input type="search" id="your-repos-filter" name="q"
                class="form-control width-full"
                placeholder="Find a repository&hellip;"
                autocomplete="off"
                aria-label="Find a repository&hellip;"
                value="<%= phrase %>"
                data-throttled-autosubmit>
        </div>

        <div class="d-flex flex-wrap gap-2">
          <details class="details-reset details-overlay position-relative mt-1 mt-lg-0" id="type-options">
            <%= render Primer::ButtonComponent.new(tag: :summary, "aria-haspopup": "true") do %>
              <span>Type</span>
              <span class="d-none" data-menu-button>
                <%= selected_type_filter(type: type_filter, types: type_filters) %>
              </span>
              <span class="dropdown-caret"></span>
            <% end %>

            <details-menu class="SelectMenu right-lg-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="SelectMenu-modal">
                <header class="SelectMenu-header">
                  <span class="SelectMenu-title">Select type</span>
                  <button class="SelectMenu-closeButton" type="button" data-toggle-for="type-options"><%= render Primer::Beta::Octicon.new(icon: "x", aria: {label: "Close menu", hidden: false}) %></button>
                </header>
                <div class="SelectMenu-list">
                  <% type_filters.each do |value, name| %>
                    <label class="SelectMenu-item" role="menuitemradio" aria-checked="<%= type_filter.to_s == value %>" tabindex="0">
                      <%= radio_button_tag "type", value, type_filter.to_s == value, "hidden": "true", "data-autosubmit": "true" %>
                      <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                      <span class="text-normal" data-menu-button-text><%= name %></span>
                    </label>
                  <% end %>
                </div>
              </div>
            </details-menu>
          </details>

          <% if language_options.present? %>
            <details class="details-reset details-overlay position-relative mt-1 mt-lg-0" id="language-options">
              <%= render Primer::ButtonComponent.new(tag: :summary, "aria-haspopup": "true") do %>
                <span>Language</span>
                <span class="d-none" data-menu-button>
                  <%= get_selected_language(language) %>
                </span>
                <span class="dropdown-caret"></span>
              <% end %>

              <details-menu class="SelectMenu mt-1 mt-lg-0 mr-md-2 ml-md-2 right-lg-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                <div class="SelectMenu-modal">
                  <header class="SelectMenu-header">
                    <span class="SelectMenu-title">Select language</span>
                    <button class="SelectMenu-closeButton" type="button" data-toggle-for="language-options"><%= render Primer::Beta::Octicon.new(icon: "x", aria: {label: "Close menu", hidden: false}) %></button>
                  </header>
                  <div class="SelectMenu-list">
                    <label class="SelectMenu-item" role="menuitemradio" aria-checked="<%= language.blank? %>" tabindex="0">
                      <%= radio_button_tag "language", "", language.blank?, "hidden": "true", "data-autosubmit": "true" %>
                      <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                      <span class="text-normal" data-menu-button-text>All</span>
                    </label>
                    <% language_options.each do |lang| %>
                      <label class="SelectMenu-item" role="menuitemradio" aria-checked="<%= language == lang.downcase %>" tabindex="0">
                        <%= radio_button_tag "language", lang.downcase, language == lang.downcase, "hidden": "true", "data-autosubmit": "true" %>
                        <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                        <span class="text-normal" data-menu-button-text><%= lang %></span>
                      </label>
                    <% end %>
                  </div>
                </div>
              </details-menu>
            </details>
          <% end %>

          <details class="details-reset details-overlay position-relative mt-1 mt-lg-0" id="sort-options">
            <%= render Primer::ButtonComponent.new(tag: :summary, "aria-haspopup": "true") do %>
              <span>Sort</span>
              <span class="d-none" data-menu-button>
                <%= selected_sort_order(sort_order: sort_order) %>
              </span>
              <span class="dropdown-caret"></span>
            <% end %>
            <details-menu class="SelectMenu right-lg-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="SelectMenu-modal">
                <header class="SelectMenu-header">
                  <span class="SelectMenu-title">Select order</span>
                  <button class="SelectMenu-closeButton" type="button" data-toggle-for="sort-options"><%= render Primer::Beta::Octicon.new(icon: "x", aria: {label: "Close menu", hidden: false}) %></button>
                </header>
                <div class="SelectMenu-list">
                  <% Users::RepositoryFilteringMethods::REPOSITORY_SORT_ORDERS.each do |value, name| %>
                  <label class="SelectMenu-item" role="menuitemradio" aria-checked="<%= sort_order.to_s == value %>" tabindex="0">
                    <%= radio_button_tag "sort", value, sort_order.to_s == value, "hidden": "true", "data-autosubmit": "true" %>
                    <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                    <span class="text-normal" data-menu-button-text><%= name %></span>
                  </label>
                  <% end %>
                </div>
              </div>
            </details-menu>
          </details>
        </div>
      </div>
    <% end %>

    <div class="d-none d-md-flex flex-md-items-center flex-md-justify-end">
      <% if user_is_viewer %>
        <a href="<%= new_repository_path %>" class="text-center btn btn-primary ml-2">
          <%= render(Primer::Beta::Octicon.new(icon: "repo")) %>
          New
        </a>
      <% end %>
    </div>
  </div>
</div>
