<% gists_profile ||= false %>

<% if this_user == current_user && !gists_profile %>
  <div class="user-status-container position-relative hide-sm hide-md">
    <%= render "user_statuses/notice" %>
    <div
      class="f5 js-user-status-context user-status-circle-badge-container user-status-editable"
      data-url="<%= user_status_path(truncate: 0, link_mentions: 1, compact: 0, circle: 1) %>"
    >
      <%= render(
        "user_statuses/edit",
        truncate: false,
        link_mentions: true,
        compact: false,
        circle: true,
      ) %>
    </div>
  </div>
<% elsif (status = this_user.status_visible_to(current_user)) %>
  <div class="user-status-container position-relative hide-sm hide-md">
    <div class="
      d-flex user-status-circle-badge-container
      <%= " user-status-has-content" if status.message_html.present? %>">
      <%= render(
        "user_statuses/user_status",
        status: status,
        compact: false,
        truncate: false,
        force_one_line: true,
        circle: true,
      ) %>
    </div>
  </div>
<% end %>
