
<div class="col-12 d-block width-full py-4 border-bottom color-border-muted" <%= test_selector("starred_repository") %>>
  <div class="d-inline-block mb-1">
    <h3>
      <a href="<%= repository_path(repo) %>">
        <span class="text-normal"><%= repo.owner_display_login %> / </span><%= repo.name %>
      </a>
      <% if repo.internal? %>
        <%= render Primer::Beta::Label.new(scheme: :secondary) do %>
          Internal
        <% end %>
      <% elsif repo.private? %>
        <%= render Primer::Beta::Label.new(scheme: :secondary) do %>
          Private
        <% end %>
      <% end %>
    </h3>

    <% if repo.fork? && repo.parent %>
      <span class="f6 color-fg-muted mb-1">
        Forked from <a class="Link--muted Link--inTextBlock" href="<%= repository_path(repo.parent) %>"><%= truncate(repo.parent.name_with_display_owner, length: 100) %></a>
      </span>
    <% end %>
  </div>

  <% if logged_in? %>
    <div class="float-right d-flex">
      <% if (owner = repo.owner)&.sponsorable? %>
        <%= render Sponsors::SponsorButtonComponent.new(
          sponsorable: owner.display_login,
          is_sponsoring: owner.sponsored_by_viewer?(current_user),
          mr: 1,
          location: owner.sponsored_by_viewer?(current_user) ? :STARRED_REPO_SPONSORING : :STARRED_REPO_SPONSOR
        ) %>
      <% end %>
      <%= render Stars::ButtonComponent.new(
        entity: repo,
        context: "user_stars",
        display: :inline_block,
        override_flex_display: true,
      ) do |c| c.with_list_menu end %>
    </div>
  <% end %>

  <div class="py-1">
    <% if repo.short_description_html.present? %>
      <p class="d-inline-block col-9 color-fg-muted pr-4" itemprop="description">
        <%= repo.short_description_html %>
      </p>
    <% end %>
  </div>

  <div class="f6 color-fg-muted mt-2">
    <% if repo.primary_language %>
      <%= render(Languages::BadgeComponent.new(name: repo.primary_language.name, ml: 0, mr: 3)) %>
    <% end %>
    <a class="Link--muted mr-3" href="<%= stargazers_repository_path(repo.owner_display_login, repo.name) %>">
      <%= primer_octicon(:star, :"aria-label" => "star") %>
      <%= number_with_delimiter repo.stargazer_count %>
    </a>

    <% if repo.forks_count > 0 %>
      <%= link_to forks_path(repo.owner_display_login, repo.name), class: "Link--muted mr-3" do %>
        <%= primer_octicon(:"repo-forked", :"aria-label" => "fork") %>
        <%= number_with_delimiter repo.forks_count %>
      <% end %>
    <% end %>

    <% if repo.pushed_at %>
      Updated <%= time_ago_in_words_js repo.pushed_at %>
    <% else %>
      Created <%= time_ago_in_words_js repo.created_at %>
    <% end %>
  </div>
</div>
