<%
  date_range = prior_activity_date_range(collector)
%>

<div class="contribution-activity-listing float-left col-12 <%= "col-lg-10" unless activity_overview_enabled? %>">
  <div class="width-full pb-4">
    <h3 class="h6 pr-2 py-1 border-bottom mb-3" style="height: 14px;" <%= test_selector("profile-timeline-month-heading") %>>
      <span class="color-bg-default pl-2 pr-3">
        <% if collector.single_day? %>
          <%= time_range_with_activity_header(started_at: collector.started_at, is_single_day: true) %>
        <% else %>
          <%= timeline_month_range(collector) %> <%= date_range.end.year %>
        <% end %>
      </span>
    </h3>

    <div class="text-center color-fg-muted pt-3">
      <span class="color-fg-muted m-0">
        <% if collector.ends_in_current_month? %>
          <%= collector.user.display_login %> has no activity
          <% if org %>
            in <%= org.name %>
          <% end %>
          yet for this period.
        <% else %>
          <%= collector.user.display_login %> had no activity
          <% if org %>
            in <%= org.name %>
          <% end %>
          during this period.
        <% end %>
      </span>
    </div>
  </div>
</div>

<% if collector_with_activity = most_recent_collector_with_activity(collector) %>
  <%= render partial: "users/time_range_with_activity",
             locals: { org: org,
                       collector: collector_with_activity } %>
<% elsif collector_without_activity = most_recent_collector_without_activity(collector) %>
  <% if collector_without_activity.has_activity_in_the_past? %>
    <%= render partial: "users/show_more_button",
               locals: { collector: collector_without_activity, org: org } %>
  <% end %>
<% end %>
