<%
  org = scoped_organization
  first_issue_contrib = collector.first_issue_contribution
  popular_issue_contrib = collector.popular_issue_contribution
  any_special_issue_contrib = first_issue_contrib.present? || popular_issue_contrib.present?
  first_pr_contrib = collector.first_pull_request_contribution
  popular_pr_contrib = collector.popular_pull_request_contribution
  any_special_pr_contrib = first_pr_contrib.present? || popular_pr_contrib.present?
  first_repo_contrib = collector.first_repository_contribution

  any_special_repo_contrib = first_repo_contrib.present?
  shrink_activity = !current_user&.feature_enabled?(:mobile_year_picker) && !activity_overview_enabled?
%>

<div class="contribution-activity-listing float-left col-12 <%= "col-lg-10" if shrink_activity %>">
  <div class="width-full pb-4">
    <h3 class="h6 pr-2 py-1 border-bottom mb-3" style="height: 14px;" <%= test_selector("profile-timeline-month-heading") %>>
      <span class="color-bg-default pl-2 pr-3" data-sr-feedback tabindex="0"><%= time_range_with_activity_header(
        started_at: collector.started_at,
        is_single_day: collector.single_day?,
      ) %></span>
    </h3>

    <%= render partial: "users/timeline/commit_rollup",
               locals: { collector: collector } %>

    <% if first_repo_contrib %>
      <%= render partial: "users/timeline/first_repository",
                 locals: { contribution: first_repo_contrib } %>
    <% end %>

    <%= render partial: "users/timeline/repository_rollup",
               locals: { collector: collector,
                         any_special_contrib: any_special_repo_contrib } %>

    <% if popular_pr_contrib %>
      <%= render partial: "users/timeline/popular_pull_request",
                 locals: { contribution: popular_pr_contrib } %>
    <% end %>

    <% if first_pr_contrib %>
      <%= render partial: "users/timeline/first_pull_request",
                 locals: { contribution: first_pr_contrib } %>
    <% end %>

    <%= render partial: "users/timeline/pull_request_rollup",
               locals: { collector: collector,
                         any_special_contrib: any_special_pr_contrib } %>

    <%= render partial: "users/timeline/pull_request_review_rollup",
               locals: { collector: collector } %>

    <% if first_issue_contrib %>
      <%= render partial: "users/timeline/first_issue",
                 locals: { contribution: first_issue_contrib } %>
    <% end %>

    <% if popular_issue_contrib %>
      <%= render partial: "users/timeline/popular_issue",
                 locals: { contribution: popular_issue_contrib } %>
    <% end %>

    <%= render partial: "users/timeline/issue_rollup",
               locals: { collector: collector,
                         any_special_contrib: any_special_issue_contrib } %>

    <%= render "users/timeline/discussion_rollup", collector: collector %>
    <%= render "users/timeline/discussion_answer_rollup", collector: collector %>

    <%= render partial: "users/timeline/joined_organizations",
               locals: { collector: collector } %>

    <% if collector.any_restricted_contribution? %>
      <%
        restricted_count = collector.restricted_contributions_count
        earliest_date = collector.earliest_restricted_contribution_date
        latest_date = collector.latest_restricted_contribution_date
      %>
      <%= render(Primer::Beta::TimelineItem.new(test_selector: "private-repositories-rollup")) do |component| %>
        <% component.with_badge(icon: :lock) %>
        <% component.with_body do %>
          <span class="f4 lh-condensed m-0 color-fg-muted">
            <%= number_with_delimiter(restricted_count) %>
            <%= "contribution".pluralize(restricted_count) %>
            in private repositories
          </span>
          <span class="float-right f6 color-fg-muted pt-1">
            <%= contributions_date_range_label(earliest_date: earliest_date, latest_date: latest_date) %>
          </span>
        <% end %>
      <% end %>
    <% end %>

    <% if (enterprise_count = collector.total_enterprise_contributions) > 0 %>
      <%= render(Primer::Beta::TimelineItem.new(test_selector: "enterprise-repositories-rollup")) do |component| %>
        <% component.with_badge(icon: :lock) %>
        <% component.with_body do %>
          <span class="f4 lh-condensed m-0 color-fg-muted">
            <%= number_with_delimiter(enterprise_count) %>
            <%= "contribution".pluralize(enterprise_count) %>
            from a
            <a href="<%= collector.enterprise_contributions_user_profile_url %>">
              GitHub Enterprise environment
            </a>
          </span>
          <span class="float-right f6 color-fg-muted pt-1">
            <%= contributions_date_range_label(earliest_date: collector.earliest_enterprise_contribution_date, latest_date: collector.latest_enterprise_contribution_date) %>
          </span>
        <% end %>
      <% end %>
    <% end %>

    <%= render partial: "users/timeline/joined_github", locals: { collector: collector } %>
  </div>
</div>

<%= render partial: "users/show_more_button", locals: { collector: collector, org: org } %>
