<%# erblint:counter DeprecatedComponentsCounter 8 %>
<%# `view` is an instance of BillingManagers::InviteeSuggestionsView %>

<% if view.suggestions? %>
  <% view.suggestions.each do |user| %>
    <%= render Primer::Alpha::AutoComplete::Item.new(value: user, disabled: !view.item_enabled_for?(user), classes: "member-suggestion typeahead-result ws-normal") do %>
      <%= avatar_for(user, 24, :class => "avatar") %>
      <p class="member-suggestion-info">
        <strong class="member-login"><%= user %></strong>
        <span class="member-name">
          <%= user.profile_name %>
        </span>
      </p>

      <% unless view.invitable?(user) %>
        <p class="non-member-note"><%= view.uninvitable_reason_text_for(user) %></p>
        <p class="non-member-action"><%= view.uninvitable_reason_text_for(user) %></p>
      <% end %>

      <%= primer_octicon(view.octicon_classes_for(user), float: :right) %>
    <% end %>
  <% end %>
<% elsif view.allow_email_invites? && view.email_invitation? %>
  <%= render Primer::Alpha::AutoComplete::Item.new(value: view.query, classes: "member-suggestion email-suggestion typeahead-result ws-normal") do %>
    <%= primer_octicon(:mail, mt: 1, float: :left, mr: 2) %>
    <p class="member-suggestion-info">
      <strong class="member-login"><%= view.query %></strong>
      <span class="member-name">invite to become a billing manager of <%= view.organization %></span>
    </p>
    <%= primer_octicon(:plus, float: :right) %>
  <% end %>
<% elsif view.email_query? %>
  <%= render Primer::Alpha::AutoComplete::Item.new(value: view.query, disabled: true, classes: "non-member-result typeahead-result ws-normal") do %>
    <%= view.query %> doesn’t have a GitHub account
  <% end %>
<% elsif view.user_query? %>
  <%= render Primer::Alpha::AutoComplete::Item.new(value: view.query, disabled: true, classes: "non-member-result typeahead-result ws-normal") do %>
    <%= view.query %> isn’t a GitHub member
  <% end %>
<% end %>
