<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# view is an instance of BillingManagers::NewView %>

<% page_info responsive: false, :title => "Billing", :selected_link => :"organization_billing_settings" %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render "orgs/invitations/rate_limited_message", :hide_close => true if view.rate_limited? %>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <%= link_to "Billing", settings_org_billing_path(view.organization), "data-pjax" => true %>
         / Add a billing manager
    <% end %>
  <% end %>

  <p>
    A <strong>billing manager</strong> is a user who manages the billing settings of your organization.
  </p>

  <div class="d-flex flex-justify-between my-4">
    <div class="pr-5">
      <p class="f4">
        Billing managers <strong>will</strong> have the ability to:
      </p>
      <ul class="list-style-none mb-3">
        <% if view.organization.business.blank? %>
          <% if view.organization.plan.per_seat? %>
            <li><%= primer_octicon(:check, mr: 2, color: :success) %> See the count of used seats and add seats</li>
          <% else %>
            <li><%= primer_octicon(:check, mr: 2, color: :success) %> Change the billing plan</li>
          <% end %>
          <li><%= primer_octicon(:check, mr: 2, color: :success) %> Add, update, or remove payment methods</li>
          <li <%= test_selector("payment-history") %>><%= primer_octicon(:check, mr: 2, color: :success) %> View payment history</li>
          <li><%= primer_octicon(:check, mr: 2, color: :success) %> Download, and receive receipts</li>
        <% end %>
        <li><%= primer_octicon(:check, mr: 2, color: :success) %> View a list of billing managers</li>
        <li><%= primer_octicon(:check, mr: 2, color: :success) %> Invite additional billing managers</li>
        <li><%= primer_octicon(:check, mr: 2, color: :success) %> Remove other existing billing managers</li>
        <% if GitHub.sponsors_enabled? %>
          <li <%= test_selector("sponsorship-management") %>><%= primer_octicon(icon: "check", mr: 2, color: :success) %>
          Start, modify, or cancel sponsorships</li>
        <% end %>
      </ul>
    </div>
    <div class="pl-5">
      <p class="f4">
        Billing managers <strong>will not</strong> be able to:
      </p>
      <ul class="list-style-none">
        <li><%= primer_octicon(:x, mr: 2, color: :danger) %> Create or access repositories in your organization</li>
        <li><%= primer_octicon(:x, mr: 2, color: :danger) %> See private members of your organization</li>
        <li><%= primer_octicon(:x, mr: 2, color: :danger) %> Be seen in the list of organization members</li>
        <li><%= primer_octicon(:x, mr: 2, color: :danger) %> Use the organization’s payment method</li>
        <li><%= primer_octicon(:x, mr: 2, color: :danger) %> Enable or manage Copilot</li>
        <% if GitHub.marketplace_enabled? %>
          <li><%= primer_octicon(:x, mr: 2, color: :danger) %> Purchase, edit, or cancel Marketplace subscriptions</li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= form_tag org_billing_managers_path(view.organization), method: :post do %>
    <% if Rails.env.development? && params[:fakestate] %>
      <input type="hidden" name="fakestate" value="<%= params[:fakestate] %>">
    <% end %>

    <div class="input-group billing-manager-input mt-1">
      <%= render Primer::Alpha::AutoComplete.new(
        label_text: "Search by username, full name or email address",
        src: org_billing_manager_suggestions_path(view.organization),
        list_id: "billing-manager-results",
        input_id: "billing_manager_login",
        input_name: "id",
        with_icon: true
      ) do |c| %>
        <% c.with_input(classes: "auto-search-input", disabled: view.rate_limited?) %>
      <% end %>
      <div class="input-group-button input-group-button--autocomplete-embedded-icon">
        <button type="submit" class="btn btn-primary" <%= "disabled" if view.rate_limited? %>>Send invitation</button>
      </div>
    </div>
  <% end %>
<% end %>
