<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%# view is an instance of BillingManagers::ShowPendingView %>
<% page_info :title => "Become a billing manager for #{view.organization.safe_profile_name}", :class => "min-width-0" %>

<% if session[:show_email_not_verified_error_message] %>
  <%= render Primer::Beta::Flash.new(scheme: :danger, full: true, display: :flex, dismissible: true, test_selector: "email-not-verified-warning") do %>
    <div class="container-lg">
      <%= OrganizationInvitation::EMAIL_NOT_VERIFIED_ERROR_MESSAGE %>
      <%= link_to("Learn more about organization invitations.", "#{GitHub.help_url}/organizations/managing-membership-in-your-organization/inviting-users-to-join-your-organization") %>
    </div>
  <% end %>
<% end %>

<div class="Box mx-auto my-6 p-4 col-lg-6 col-sm-8 col-9">
  <div class="text-center position-relative">
    <%= avatar_for view.organization, 75, :class => "avatar mb-4" %>
    <p class="f3">
      Become a billing manager for <strong><%= view.organization.safe_profile_name %></strong>
    </p>

    <p class="color-fg-muted text-small mt-2 mb-3">
      <%= view.invitation_introduction %> to be a billing manager for <%= view.organization.safe_profile_name %>.
    </p>

    <% if session[:show_email_not_verified_error_message] %>
      <div class="my-4">
        <p class="color-fg-muted text-small mb-4">
          To accept this invitation, add and verify the email address that received the invitation or have the organization invitation sent to a verified email associated with <strong><%=current_user.safe_profile_name%></strong>.
        </p>
        <p class="color-fg-muted text-small mb-4">
          To accept the invitation as <strong><%=current_user.safe_profile_name%></strong>:
        </p>
      </div>
    <% elsif !view.two_factor_auth_settings_permit_joining? %>
      <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
        <%= render Primer::Alpha::Banner.new(scheme: :warning, full: true, p: 3, classes: "invitation-2fa-banner") do %>
          <p class="mb-3">
            <strong><%= view.organization.safe_profile_name %></strong> requires
            all members to have two-factor authentication enabled.
          </p>

          <%= render Primer::ButtonComponent.new(tag: :a, href: settings_security_path, scheme: :primary, mr: 0) do %>
            Enable two-factor authentication
          <% end %>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Flash.new(scheme: :warning, full: true, p: 3, classes: "invitation-2fa-banner") do %>
          <p class="mb-3">
            <strong><%= view.organization.safe_profile_name %></strong> requires
            all members to have two-factor authentication enabled.
          </p>

          <%= render Primer::ButtonComponent.new(tag: :a, href: settings_security_path, scheme: :primary, mr: 0) do %>
            Enable two-factor authentication
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <strong>You will be able to perform the following actions:</strong>
      <ul class="list-style-none text-left my-5 mx-auto col-md-6 col-sm-9">
        <% if view.organization.plan.per_seat? %>
          <li class="mb-2"><%= primer_octicon(:check, mr: 2, color: :success) %> See the count of used seats and add seats</li>
        <% else %>
          <li class="mb-2"><%= primer_octicon(:check, mr: 2, color: :success) %> Change the billing plan</li>
        <% end %>
        <li class="mb-2"><%= primer_octicon(:check, mr: 2, color: :success) %> Manage payment methods</li>
        <li class="mb-2"><%= primer_octicon(:check, mr: 2, color: :success) %> View payment history</li>
        <li class="mb-2"><%= primer_octicon(:check, mr: 2, color: :success) %> Download, and receive receipts</li>
        <li class="mb-2"><%= primer_octicon(:check, mr: 2, color: :success) %> View a list of billing managers</li>
        <% if GitHub.sponsors_enabled? %>
          <li class="mb-2"><%= render Primer::Beta::Octicon.new(icon: "check", mr: 2, color: :success) %>
          Start, modify, or cancel sponsorships</li>
        <% end %>
      </ul>
    <% end %>

    <% if logged_in? %>
      <% if session[:show_email_not_verified_error_message] %>
        <%= button_to "Add verified email",
          show_with_email_verification_banner_settings_email_preferences_path,
          :method => "put",
          :class => "btn btn-primary",
          :form_class => "inline-form",
          :test_selector => "add-verified-email-button"
        %>
        <div class="my-4">
          <p class="color-fg-muted text-small mb-4">
            To have a new invitation sent, contact your organization owner for support.
          </p>
        </div>
      <% else %>
        <%= button_to "Accept invitation",
            org_accept_billing_manager_invitation_path(view.organization, {
              :invitation_token => params[:invitation_token],
              :via_email => params[:via_email]
            }),
            :disabled => !view.two_factor_auth_settings_permit_joining?,
            :method => "post",
            :class => "btn btn-primary" %>
      <% end %>
    <% else %>
      <%= link_to "Accept invitation", org_sign_up_billing_manager_invitation_path(:invitation_token => params[:invitation_token], :return_to => params[:return_to]), :class => "btn btn-primary mt-3" %>
    <% end %>
  </div>
</div>
