<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= render(Primer::Beta::Flash.new(icon: :search, p: 2, m: 3)) { "Results are limited to top repositories, search to find more." } %>
<div class="px-3 pb-3 border-bottom">
  <p class="text-small mb-1">
    Move this discussion to another repository
    <% if current_repository.owner == current_user %>
      you own.
    <% elsif current_repository.owner %>
      owned by <strong><%= current_repository.owner.safe_profile_name %></strong>.
    <% end %>
  </p>
  <%# We use this to ensure that `data-disable-invalid` works if there aren't any results %>
  <input type="radio" name="repository_id" value="" hidden required>

  <label for="transfer-select-repository">
    Search repositories
  </label>
  <remote-input
    src="<%= discussion_repository_transfer_repositories_path(
      current_repository.owner,
      current_repository,
      discussion,
    ) %>"
    aria-owns="transfer-candidate-repos"
    param="query"
    class="mt-2"
  >
    <div class="auto-search-group">
      <input
        id="transfer-select-repository"
        type="search"
        class="auto-search-input form-control width-full"
        autocomplete="off"
      >
      <%= primer_octicon(:search) %>
    </div>
  </remote-input>
</div>

<div class="overflow-y-scroll" id="transfer-candidate-repos" style="max-height: 375px;">
  <%= render Discussions::Transfers::CandidateRepositoriesComponent.new(
      discussion: discussion,
   ) %>
</div>

<div class="m-3 d-flex flex-justify-end">
  <%= render(Primer::ButtonComponent.new(
    mr: 2,
    data: { "close-dialog-id" => "discussion-transfer-conversation" },
  )) { "Cancel" } %>

  <%= render(Primer::ButtonComponent.new(
    type: :submit,
    data: { "disable-invalid" => "" },
  )) { "Transfer discussion" } %>
</div>
