<% if requested_events.any? %>
  requested review from
  <% last_index = requested_events.count - 1 %>
  <% requested_events.each_with_index do |event, i| %>
    <%= render PullRequests::TimelineEvents::ReviewerLinkComponent.new(reviewer: requested_reviewer(event), team_name: requested_review_team_name(event) || missing_reviewer_name(event)) %><% if requested_review_assigned_from_team_name(event) %> (assigned from <span class="text-bold"><%= requested_review_assigned_from_team_name(event) %></span>)<% end %><%= i < last_index - 1 ? ", " : i == last_index ? "" : " and " %>
  <% end %>

  <% if codeowner_link %>
    as <%= codeowner_link %>
  <% end %>
<% end %>
<% if request_removed_events.any? %>
  <%= requested_events.any? ? "and removed request for" : "removed request for" %>
  <% last_index = request_removed_events.count - 1 %>
  <% request_removed_events.each_with_index do |event, i| %>
    <%= render PullRequests::TimelineEvents::ReviewerLinkComponent.new(reviewer: requested_reviewer(event), team_name: requested_review_team_name(event) || missing_reviewer_name(event)) %><%= i < last_index - 1 ? ", " : i == last_index ? "" : " and " %>
  <% end %>
<% end %>
