<%= render(GitHub::MenuComponent.new(
  filterable: true,
  filter_placeholder: "Filter accounts",
  src: deferred_loading_path,
  preload: defer_loading?
)) do |menu| %>
  <% menu.with_summary do %>
    <% if content.present? %>
      <%= content %>
    <% else %>
      <summary
        class="f6 color-fg-accent"
        title="Switch to another account"
        <%= test_selector("switch-context") %>
      ><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
        <%= render Primer::Beta::Octicon.new(
          icon: "arrow-switch",
          mr: 1
        ) %>
        Switch <span class="d-none">from <%= current_context.to_s %></span> to another account
        <span class="dropdown-caret"></span>
      </summary>
    <% end %>
  <% end %>

  <% unless defer_loading? %>
    <% menu.with_body do %>
      <%= render ContextSwitcher::ListComponent.new(
        contexts: dashboard_contexts.contexts,
        current_context: current_context,
        redirect_paths:  redirect_paths,
      ) %>
    <% end %>
  <% end %>

  <% menu.with_extra do %>
    <div class="border-top color-border-muted position-relative">
      <%= render GitHub::Menu::LinkComponent.new(
        href: settings_organizations_path,
      ) do %>
        <%= render Primer::Beta::Octicon.new(
          icon: :organization,
          classes: "SelectMenu-icon"
        ) %>
        Manage organizations
      <% end %>
    </div>
  <% end %>
<% end %>
