<%
  page_info title: "Reverse invoiced sponsorship transfer for @#{sponsor}"
%>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Reverse invoiced sponsorship transfer for @<%= sponsor %><% end %>
  <% end %>

  <div class="Box" style="max-width: 440px;">
    <div class="Box-header">
      <h3 class="Box-title mb-1">
        Reverse transfer for
        <span class="no-wrap">@<%= sponsor %>'s</span> sponsorship of
        <span class="no-wrap">@<%= transfer.sponsorable %></span>
      </h3>
      <div class="mb-1">
        Original transfer amount: <%= Billing::Money.new(transfer.amount_in_cents).format %>
        <br>Reversible amount: <%= Billing::Money.new(transfer.reversible_amount_in_cents).format %>
      </div>
      <div class="note">
        Transfer ID:
        <a href="<%= transfer.stripe_transfer_url %>" class="Link--inTextBlock text-mono">
          <%= transfer.truncated_stripe_transfer_id %>
        </a>
        <br>Payment ID:
        <a href="<%= transfer.zuora_payment_url %>" class="Link--inTextBlock text-mono">
          <%= transfer.truncated_zuora_payment_id %>
        </a>
      </div>
    </div>
    <div class="Box-body">
      <%=
        form_with(
          model: reversal,
          url: stafftools_sponsors_invoiced_sponsor_transfer_reversals_path(sponsor)
        ) do |f|
      %>
        <div class="form-group mt-0">
          <div class="form-group-header">
            <label for="amount-in-dollars">Reversal amount</label>
            <div class="note">
              in USD, e.g.
              <span class="text-mono">
                <%= Billing::Money.new(transfer.reversible_amount_in_cents).format %>
              </span>
            </div>
          </div>
          <div class="form-group-body">
            <%=
              f.text_field(
                :amount_in_dollars,
                required: true,
                class: "form-control",
                id: "amount-in-dollars",
              )
            %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit("Reverse transfer", class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
