<% enable_saml_task = OnboardingTasks::Organizations::EnableSaml.new(taskable: organization, user: current_user) %>
<%= render(Onboarding::Organizations::TipComponent.new(
  organization: organization,
  show_tip: params[:show_onboarding_guide_tip].present?,
  task: enable_saml_task,
  mb: 4,
  )) do %>
  <h3 class="mb-1">Enable SAML single sign-on</h3>

  <div class="color-fg-muted">
    <p>
      If you centrally manage your users' identities and applications with an identity provider (IdP), you can
      <a class="Link--inTextBlock"
        href="<%= GitHub.help_url %>/organizations/managing-saml-single-sign-on-for-your-organization"
        target="_blank"
        rel="noopener noreferrer"
      >configure SAML single sign-on</a> to protect your organization's resources on GitHub.
    </p>
    <p>
      When you select “Enable SAML authentication,” you’ll be asked for some
      <a class="Link--inTextBlock"
        href="<%= GitHub.help_url %>/organizations/managing-saml-single-sign-on-for-your-organization/connecting-your-identity-provider-to-your-organization"
        target="_blank"
        rel="noopener noreferrer"
      >details about your identity provider (IdP)</a>.
    </p>

    <p class="mb-0">
      <a
        href="<%= GitHub.help_url %>/organizations/managing-saml-single-sign-on-for-your-organization/enabling-and-testing-saml-single-sign-on-for-your-organization"
        target="_blank"
        rel="noopener noreferrer"
      >
        <%= render(Primer::Beta::Octicon.new(:file, mr: 1)) %>
        Read a step-by-step guide
      </a>
    </p>
  </div>
<% end %>

<%= render(Onboarding::Organizations::CompletedGuidanceComponent.new(
  organization: organization,
  completed_task: enable_saml_task,
  show_tip: params[:show_onboarding_guide_tip].present?,
  container_class: "mb-4"
)) %>
