<div class="<%= "color-fg-muted" if view.two_factor_requirement_form_disabled? %>">
  <% if view.enforcing_two_factor_requirement? %>
    <poll-include-fragment src="<%= settings_org_two_factor_enforcement_status_path(view.organization) %>" data-reload>
      <%= render(Primer::Beta::Spinner.new(size: :small, classes: "loading-spinner", mr: 2)) %>
      Require two-factor authentication for everyone in the
      <%= view.organization.safe_profile_name %> organization.
    </poll-include-fragment>
  <% else %>
    <label>
      <input type="checkbox"
        name="two_factor_requirement"
        class="<%= "js-two-factor-needs-enforced" if view.two_factor_requirement_disabled_and_needs_enforced? %>"
        <%= 'checked' if view.two_factor_requirement_enabled? %>
        <%= 'disabled' if view.two_factor_requirement_form_disabled? %>>
      Require two-factor authentication for everyone in the
      <%= view.organization.safe_profile_name %> organization.
    </label>
  <% end %>
</div>
