<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# `view` is an instance of
  Orgs::SecuritySettings::TwoFactorEnforcementConfirmationView %>
<div class="Box-body">
  <p>
    Requiring two-factor authentication will remove all users in the
    <strong><%= view.organization.display_login %></strong> organization
    who have not enabled it on their personal accounts.
  </p>

  <p class="color-fg-danger mb-0">
    <strong>
      <%= pluralize(view.users_with_two_factor_disabled_count, "user", "users") %>
      will be removed from this organization
    </strong>
  </p>
</div>
<ul class="list-style-none overflow-auto flex-auto">
  <% view.users_with_two_factor_disabled.each do |user| %>
  <li class="Box-row">
    <%= avatar_for(user, 30, :class => "avatar") %>
    <span class="ml-1"><%= user.display_login %></span>
    <% if user.safe_profile_name != user.display_login %>
    <span class="ml-1 color-fg-muted text-small text-normal"><%= user.safe_profile_name %></span>
    <% end %>
    <% if view.prevented_from_removal_due_to_enterprise_team?(user) %>
    <%= render(Primer::Beta::Octicon.new(:"alert-fill", color: :danger, ml: 2)) %>
    <span class="color-fg-danger text-small text-normal">(managed by enterprise team)</span>
    <% end %>
    <% if view.show_private_forks_count_for?(user) %>
    <span class="text-normal color-fg-muted float-right mt-1">and <%= pluralize(view.private_forks_count_for(user), "private fork", "private forks") %></span>
    <% end %>
  </li>
  <% end %>
</ul>

<div class="Box-footer">
  <%= form_tag settings_org_two_factor_enforcement_update_path(view.organization), :method => :put do %>
    <input type="hidden" name="two_factor_requirement" value="on">

    <label>
      Enter this organization’s name to confirm
      <input type="text"
             class="form-control input-block mt-1"
             name="confirmation"
             pattern="<%= case_insensitive_pattern(view.organization.display_login) %>"
             required
             autofocus>
    </label>

    <%= render Primer::ButtonComponent.new(scheme: :danger, block: true, mt: 2, type: :submit, "data-disable-invalid": "") do %>
      Remove <%= pluralize_without_number view.users_with_two_factor_disabled_count, "member" %>
      &amp; require two-factor authentication
    <% end %>
  <% end %>
</div>
