<%= form_with(url: stafftools_test_metered_products_path, method: :post) do |f| %>
  <div class="form-group required">
    <div class="form-group-header">
      <%= f.label :product_name, "Product name", for: "product_name" %>
    </div>
    <div class="form-group-body">
      <%= f.text_field :product_name, id: "product_name", class: 'form-control', value: product_name, required: true %>
    </div>
  </div>

  <div class="form-group required">
    <div class="form-group-header">
      <%= f.label :product_sku_name, "Product SKU Name", for: "product_sku_name" %>
    </div>
    <div class="form-group-body">
      <%= f.text_field :product_sku_name, id: "product_sku_name", class: 'form-control', value: product_sku_name, required: true %>
    </div>
  </div>

  <div class="form-group required">
    <div class="form-group-header">
      <%= f.label :quantity, "Quantity", for: "quantity" %>
    </div>
    <div class="form-group-body">
      <%= f.number_field :quantity, id: "quantity", class: 'form-control', value: quantity || 1, required: true %>
    </div>
  </div>

  <div class="form-group required">
    <div class="form-group">
      <div class="form-group-body">
        <%= f.select_group "Select the emission source", :source, options_for_emission_source(source) %>
      </div>
    </div>
  </div>

  <div class="form-group required">
    <div class="form-checkbox">
      <label class="h5">
        <%=
          f.radio_button :tester_action, "emit_test_usage", required: true , checked: usage_emitted
        %>
        Emit test usage
      </label>
      <p class="note">
        Send test usage for the specified product to Meuse.
      </p>
    </div>

    <div class="form-checkbox">
      <label class="h5">
        <%=
          f.radio_button :tester_action, "calculate_usage", required: true, checked: !usage_emitted
        %>
        Calculate usage
      </label>
      <p class="note">
        Send requests to Meuse's CalculateUsageQuotes and GetUsageBreakdown endpoints to verify if usage was posted.
      </p>
    </div>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
