<%= render(Primer::Beta::Heading.new(tag: :h3, mt: 2)) { "Results from GetUsageBreakdown" } %>
<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mt: 1)) do |component| %>
  <% component.with_row(display: :flex) do %>
    <span class="col-5 text-bold">Total consumed quantity</span>
    <span class="col-7"><%= usage_breakdown["total_consumed_quantity"] %></span>
  <% end %>
  <% component.with_row(display: :flex) do %>
    <span class="col-5 text-bold">Overage consumed quantity</span>
    <span class="col-7"><%= usage_breakdown["overage_consumed_quantity"] %></span>
  <% end %>
  <% component.with_row(display: :flex) do %>
    <span class="col-5 text-bold">Entitlement quantity consumed</span>
    <span class="col-7"><%= usage_breakdown["entitlement_quantity_consumed"] %></span>
  <% end %>
  <% component.with_row(display: :flex) do %>
    <span class="col-5 text-bold">SKU multiplier</span>
    <span class="col-7"><%= usage_breakdown["sku_multiplier"] %></span>
  <% end %>
  <% component.with_row(display: :flex) do %>
    <span class="col-5 text-bold">Estimated cost</span>
    <span class="col-7"><%= usage_breakdown["estimated_cost"] %></span>
  <% end %>
  <% component.with_row(display: :flex) do %>
    <span class="col-5 text-bold">Budget limit</span>
    <span class="col-7"><%= usage_breakdown["budget_limit"] %></span>
  <% end %>
  <% component.with_row(display: :flex) do %>
    <span class="col-5 text-bold">Unit of measure</span>
    <span class="col-7"><%= usage_breakdown["unit_of_measure"] %></span>
  <% end %>
  <% component.with_row(display: :flex) do %>
    <span class="col-5 text-bold">Unit price</span>
    <span class="col-7"><%= usage_breakdown["unit_price"] %></span>
  <% end %>
<% end %>
