<% page_info title: "Test Metered Products" %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Test metered product usage
    <% end %>
    <% component.with_description do %>
      Click the Submit button to emit usage for this product or confirm it's properly wired to our billing systems.
    <% end %>
  <% end %>

<p>The emitted test usage will be associated with your user.</p>
<p>After successful emission you should be able to see it in your <%= link_to "stafftools billing page", billing_stafftools_user_path(user), class: "Link--inTextBlock" %>.</p>

  <% if usage_emitted %>
    <%= render partial: "stafftools/test_metered_products/usage_emitted_message", locals: { product_name:, product_sku_name:, quantity: , source: } %>
  <% end %>

  <% if usage_breakdown.present? %>
    <%= render partial: "stafftools/test_metered_products/usage_breakdown_results", locals: { usage_breakdown: } %>
  <% end %>

  <%= render partial: "stafftools/test_metered_products/form", locals: { product_name:, product_sku_name:, quantity:, source:, usage_emitted: usage_emitted } %>
<% end %>
