<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag edit_repository_alert_path, :class => "js-protected-branch-settings", :method => :put, data: { "test-selector": "authorized-vulnerability-users-and-teams" } do %>
  <%= render Primer::Beta::Subhead.new(mt: 4) do |component| %>
    <% component.with_heading(tag: :h2) do %>Access to alerts<% end %>
  <% end %>
  <p>
    Admins, users, and teams in the list below have permission to view and manage code scanning, Dependabot, or secret scanning alerts.
    <% if GitHub.dependabot_enabled? %>
      These users may be notified when a new vulnerability is found in one of this repository's dependencies and when a secret or key is checked in. They will also see additional details when viewing Dependabot security updates.
    <% else %>
      These users may be notified when a new vulnerability is found in one of this repository's dependencies and when a secret or key is checked in.
    <% end %> Individuals can manage how they receive these alerts in their
    <a class="Link--inTextBlock" href="<%= settings_notification_preferences_path %>">notification settings</a>.
  </p>
  <div class="js-protected-branch-options js-toggler-container">
    <%= render :partial => "edit_repositories/admin_screen/authorized_vulnerability_users_and_teams" %>
  </div>
  <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit) do %>Save changes<% end %>
<% end %>
