
<div <%= test_selector("dependency-graph-settings") %>>
  <div class="border-bottom color-border-muted">
    <%# this cop incorrectly handles rendering a view component like this :( %>
    <%# SecurityProductsEnablement::RepositorySettings::DependencyGraphComponent%>
    <%= render(manager.dependency_graph) %> <%# rubocop:disable GitHub/RailsViewRenderLiteral %>


    <% if data.dependency_graph_used_by_selection_view_model %>
      <%= form_tag data.update_security_products_settings_path, method: :put do %>
        <%= render partial: "edit_repositories/admin_screen/used_by_selection",
          locals: {
            view: data.dependency_graph_used_by_selection_view_model
          }
        %>
      <% end %>
    <% end %>

    <%# SecurityProductsEnablement::RepositorySettings::DependencyGraphAutosubmitComponent %>
    <%= render manager.dependency_graph_autosubmit %>
  </div>
</div>
