<div class="d-flex flex-md-row flex-column flex-md-items-center pb-3 pt-2 color-border-muted" <%= test_selector("dependabot-settings") %>>
  <div class="mb-md-0 mb-2 flex-auto">
    <h3 class="h4">Dependabot</h3>
    <p class="mb-0">
      Keep your dependencies secure and up-to-date. <%= link_to "Learn more about Dependabot", "https://docs.github.com/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security#what-is-dependabot", target: "_blank", class: "Link--inTextBlock" %>.
    </p>
    <%= render(Dependabot::PausedUpdatesBannerComponent.new(repository: current_repository)) %>
  </div>
</div>

<%# SecurityProductsEnablement::RepositorySettings::VulnerabilityAlertsComponent %>
<%= render manager.vulnerability_alerts %> <%# rubocop:disable GitHub/RailsViewRenderLiteral %>

<%# SecurityProductsEnablement::RepositorySettings::SecurityUpdatesComponent %>
<%= render manager.security_updates %> <%# rubocop:disable GitHub/RailsViewRenderLiteral %>

<%# SecurityProductsEnablement::RepositorySettings::SecurityUpdatesGroupingComponent %>
<%= render manager.security_updates_grouping %> <%# rubocop:disable GitHub/RailsViewRenderLiteral %>

<%= render partial: 'edit_repositories/pages/code_security/dependabot_version_updates', locals: { data: } %>
