<% if AdvisoryDB::Innersource.eligible_repo?(repo: current_repository)%>
  <div class="d-flex flex-md-row flex-column flex-md-items-center py-3 border-bottom border-top color-border-muted" <%= test_selector("innersource-advisories-settings")%>>
    <div class="mb-md-0 mb-2 mr-4 flex-auto">
      <h3 class="h4">
        Innersource Advisories
        <%= render Primer::Beta::Label.new(scheme: :success, title: "Beta") do %>Beta<% end %>
      </h3>
      <p class="mb-0">
        Enable security advisory publication on private innersource repositories. This option will also prompt
        Dependabot to send alerts about the advisory to other internal private repositories dependent on it.
        <%= link_to(
            "Learn more about innersource advisories",
            "https://docs.github.com",
            target: "_blank",
            class: "Link--inTextBlock") %>.
      </p>
    </div>
      <div>
        <div class="BtnGroup flex-auto" <%= test_selector("innersource-advisories-toggle-buttons") %>>
          <%= form_tag update_security_products_settings_path(owner, current_repository), method: :put do %>
            <% if current_repository.innersource_advisories_enabled? %>
              <input type="hidden" name="innersource_advisories_enabled" value="0">
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, "aria-label": "Disable innersource advisories") do %>
                Disable
              <% end %>
            <% else %>
              <input type="hidden" name="innersource_advisories_enabled" value="1">
              <%= render Primer::Beta::Button.new(type: :submit, block: true, "aria-label": "Enable innersource advisories") do %>
                Enable
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
<% end %>
