<%
  listing = pending_installation.listing
  listing_plan = pending_installation.subscribable
  account = pending_installation.account
%>

<div class="position-relative overflow-hidden color-bg-default rounded-2 color-shadow-large p-4 mb-6">
  <div class="position-absolute top-0 left-0 width-full color-bg-accent-emphasis pt-1"></div>
  <div class="float-right pl-3">
    <div style="background-color: #<%= listing.bgcolor %>" class="CircleBadge CircleBadge--small box-shadow-none">
      <img src="<%= listing.logo_url %>" class="CircleBadge-icon" alt="<%= listing.name %> logo preview">
    </div>
  </div>
  <div class="lh-condensed color-fg-muted text-small"><%= listing.name %></div>
  <h3 class="f2 text-normal lh-condensed mb-2"><%= listing_plan.name %></h3>
  <p class="mb-3 lh-condensed"><%= listing_plan.description %></p>
  <p class="mb-0">Account: <span class="text-bold"><%= account.display_login %></span></p>
  <p class="mb-5 text-small">
    View or cancel any active subscriptions on the
    <% if account.is_a?(Organization) %>
      <%= link_to "organization billing overview page", settings_org_billing_path(account.display_login) %>
    <% else %>
      <%= link_to "billing overview page", settings_user_billing_path %>
    <% end %>
  </p>

  <div class="d-md-flex flex-items-center">
    <div class="mb-2 mb-lg-0 col-md-6">
      <%=
        link_to "Install",
          install_marketplace_listing_path(listing.slug, subscription_item_id: pending_installation.global_relay_id),
          class: "btn btn-primary px-6 py-2 d-block d-md-inline-block text-center width-full",
          "data-octo-click":      "marketplace-listing_install_click",
          "data-octo-dimensions": "marketplace_listing_id:#{listing.id}",
          "data-ga-click":        "Marketplace listing, pending installation, marketplace_id:#{listing.id}"
      %>
    </div>

    <div class="col-md-6">
      <p class="text-small ml-md-3 mb-0 lh-condensed">Grant this app access to your GitHub account to complete installation.</p>
    </div>
  </div>
</div>
