<% page_info \
  title: "Pending installations · GitHub Marketplace",
  container_xl: true,
  richweb: {
    title: "Pending installations - GitHub Marketplace",
    url: request.original_url,
    description: "GitHub integrates with hundreds of tools that help you and your team build software better, together.",
  }
%>

<div class="container-lg p-responsive clearfix">
  <div class="py-3 mb-5">
    <%= render(Primer::Beta::Breadcrumbs.new) do |component| %>
      <% component.with_item(href: marketplace_path) do %>Marketplace<% end %>
      <% component.with_item(href: request.path) do %>Pending installations<% end %>
    <% end %>
  </div>
</div>

<div class="container-lg p-responsive clearfix">
  <%= render(Primer::Alpha::Layout.new) do |component| %>
    <% component.with_sidebar(width: :narrow, px: [3, nil, 4, 0, nil]) do %>
      <%= render "marketplace/side_nav", view: create_view_model(Marketplace::SideNavView, viewing_pending_installations: true) %>
    <% end %>

    <% component.with_main do %>
      <%= render partial: "marketplace/search_bar" %>
      <% if pending_installations&.any? %>
        <h2>Pending installations</h2>

        <p class="color-fg-muted mb-4">
          We noticed you’ve purchased some apps but didn't finish installing them. You can
          review and install them below.
        </p>

        <% pending_installations.each do |pending_installation| %>
          <%= render partial: "marketplace/pending_installations/pending_installation", locals: { pending_installation: pending_installation } %>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h2) do %>
            No pending Marketplace installations.
          <% end %>

          <% c.with_secondary_action(href: marketplace_path) do %>
            Explore and find tools to improve your workflow.
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= render "marketplace/submit_app_cta" %>
