<div class="d-flex flex-items-center p-3 border-bottom" <%= test_selector("candidate-repo") %>>
  <input type="radio"
    id="<%= dom_id(repository, :transfer)%>"
    name="repository_id"
    value="<%= repository.id %>"
    <% if repository.description.present? %>
      aria-describedby="<%= dom_id(repository, :transfer_description) %>"
    <% end %>
    required
  >
  <div class="ml-2">
    <div class="d-flex flex-items-center">
      <label for="<%= dom_id(repository, :transfer)%>" <%= test_selector("repo-name") %>>
        <%= repository.name_with_display_owner %>
        <% if repository.private? %>
          <span class="sr-only">(Private repository)</span>
        <% end %>
      </label>
      <% if repository.private? %>
        <%= render Primer::Beta::Octicon.new(
          icon: :lock,
          ml: 1,
          test_selector: "repo-private-icon",
          aria: { hidden: true }
        ) %>
      <% end %>
    </div>
    <% if repository.description.present? %>
      <div id="<%= dom_id(repository, :transfer_description)%>" class="wb-break-word text-light f6" <%= test_selector("repo-description") %>>
        <%= description %>
      </div>
    <% end %>
  </div>
</div>
