<% page_info \
  title: "Move your work into #{current_context.organization? ? "another account" : "an organization"}",
  richweb: {
    title: "Move your work into #{current_context.organization? ? "another account" : "an organization"}",
    url: request.original_url
  }
%>

<move-work-container>
  <div class="pt-4 position-relative container-xl p-responsive">
    <% unless local_assigns[:hide_profile_section] %>
      <div class="d-flex flex-items-center mb-3">
        <%= render(GitHub::AvatarComponent.new(actor: current_context, size: 48, mr: 3)) %>
        <div class="flex-auto">
          <p class="h3 mb-0"><%= current_context.name %></p>
          <div class="d-flex flex-items-center flex-wrap">
            <p class="color-fg-muted mb-0 mr-3"><%= current_context.organization? ? "Organization" : "Your personal account" %></p>
            <%= render(ContextSwitcher::ContextSwitcherComponent.new(
              current_context: current_context,
              show_only_owning: true,
              redirect_paths: {user: :user_move_work_new_path, org: :org_move_work_new_path}
            )) if local_assigns[:show_context_switcher] %>
          </div>
        </div>
      </div>
    <% end %>

    <div>
      <h1>Move your work into <%= current_context.organization? ? "another account" : "an organization" %></h1>
      <%= render(Primer::Beta::ProgressBar.new(size: :small, my: 3)) do |component| %>
        <% component.with_item(percentage: progressbar_value) %>
      <% end %>
    </div>
    <%= render Sculk::MoveWork::FeatureBannerComponent.new(feature: params[:feature]) %>
    <div class="pt-4">
      <%= yield %>
    </div>
  </div>
</move-work-container>
