<div id="features-apps" class="js-section px-lg-3 overflow-x-hidden">
  <div class="features-category--light position-relative z-1 py-5 py-md-12">

    <div class="position-absolute z-n1 top-0 left-0 width-full height-full d-none d-md-block">
      <div class="p-responsive container-xl height-full">
        <div class="position-relative col-1 height-full overflow-hidden">
          <div class="features-category--git-line position-absolute right-7 top-0"></div>
        </div>
      </div>
    </div>

    <div class="p-responsive container-xl">
      <div class="col-12 offset-md-1 col-md-11">
        <header class="position-relative mb-5 mb-xl-9">
          <div class="features-category--icon-shift position-static position-md-absolute py-1 mt-2 left-n7">
            <img src="<%= image_path "modules/site/features/launchpad/icons/icon-apps.svg" %>" alt="GitHub Client Apps Icon" loading="lazy" width="50" height="50">
          </div>
          <h2 class="h2-mktg d-inline-block features-category--title features-text-gradient--dark-mint-blue">Client apps</h2>
        </header>
        <div class="col-md-6 col-xl-5 pb-md-1">
          <div class="position-relative mb-5 mb-md-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium pr-xl-8">Take GitHub Copilot with you on any connected device.</div>
          </div>
          <div class="position-relative mb-5 mb-md-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium pr-xl-4">Skip the visual UI with a quick, powerful text interface.</div>
          </div>
          <div class="position-relative mb-6 mb-lg-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium pr-xl-5">Access GitHub from your macOS or Windows desktop.</div>
          </div>
        </div>
      </div>
    </div>

    <%= render "site/features/categories/decorations/decoration_apps" %>

    <div class="p-responsive container-xl mt-7 mt-md-10 pt-xl-10">
      <div class="col-12 offset-md-1 col-md-11">
        <% client_apps = Site::Features.find_category_item_collection("client_apps") %>
        <%= render "site/features/category_items", items: client_apps.items, ref_loc: "client apps category" %>
      </div>
    </div>

  </div>
</div>
