<div id="features-automation" class="js-section px-lg-3 overflow-x-hidden">
  <div class="features-category--light position-relative z-1 py-5 py-md-12">

    <div class="position-absolute z-n1 top-0 left-0 width-full height-full d-none d-md-block">
      <div class="p-responsive container-xl height-full">
        <div class="position-relative col-1 height-full overflow-hidden">
          <div class="features-category--git-line position-absolute right-7 top-0"></div>
        </div>
      </div>
    </div>

    <div class="p-responsive container-xl">
      <div class="col-12 offset-md-1 col-md-11">
        <header class="position-relative mb-5 mb-xl-9">
          <div class="features-category--icon-shift position-static position-md-absolute py-1 mt-2 left-n7">
            <img src="<%= image_path "modules/site/features/launchpad/icons/icon-automation.svg" %>" alt="GitHub Automation and CI/CD Icon" loading="lazy" width="50" height="50">
          </div>
          <h2 class="h2-mktg d-inline-block features-category--title features-text-gradient--purple-coral">Automation <br>and CI/CD</h2>
        </header>
        <div class="col-md-6 col-xl-5">
          <div class="position-relative mb-5 mb-md-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium pr-xl-9">Automate everything: CI/CD, testing, planning, project management, issue labeling, approvals, onboarding, and more.</div>
          </div>
          <div class="position-relative mb-5 mb-md-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium pr-xl-9">Standardize and scale <br class="d-none d-xl-block">best practices, security, and compliance across your organization.</div>
          </div>
          <div class="position-relative mb-3 mb-md-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium pr-xl-9">Get started quickly with thousands of actions from partners and the community.</div>
          </div>
        </div>
      </div>
    </div>

    <%= render "site/features/categories/decorations/decoration_automation" %>

    <div class="p-responsive container-xl mt-8 mt-md-12">
      <div class="col-12 offset-md-1 col-md-11">
        <% automation = Site::Features.find_category_item_collection("automation") %>
        <%= render "site/features/category_items", items: automation.items, ref_loc: "automation and ci cd category" %>
      </div>
    </div>

  </div>
</div>
