<div id="features-collaboration" class="js-section px-lg-3">
  <div class="features-category--dark position-relative z-1 overflow-x-hidden py-5 py-md-12" <%= mktg_color_theme_attributes %>>
    
    <div class="position-absolute z-n1 top-0 left-0 width-full height-full d-none d-md-block">
      <div class="p-responsive container-xl height-full">
        <div class="position-relative col-1 height-full overflow-hidden">
          <div class="features-category--git-line position-absolute right-7 top-12"></div>
        </div>
      </div>
    </div>

    <div class="p-responsive container-xl">
      <div class="col-12 offset-md-1 col-md-11">
        <header class="position-relative mb-5 mb-xl-9">
          <div class="features-category--icon-shift position-static position-md-absolute pb-1 pt-3 left-n7">
            <img src="<%= image_path "modules/site/features/launchpad/icons/icon-collaboration.svg" %>" alt="GitHub Collaboration Icon" width="50" height="50">
          </div>
          <h2 class="h2-mktg d-inline-block features-category--title features-text-gradient--aquamarine-mauve">Collaborative <br>Coding</h2>
        </header>
        <div class="col-md-6 col-xl-4">
          <div class="position-relative mb-5 mb-md-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium">Contribute to projects quickly with automatic environment setup.</div>
          </div>
          <div class="position-relative mb-5 mb-md-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium">Make sure you see the changes you care about.</div>
          </div>
          <div class="position-relative mb-3 mb-md-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium">Build community around your code.</div>
          </div>
        </div>
      </div>
    </div>

    <%= render "site/features/categories/decorations/decoration_collaboration" %>

    <div class="p-responsive container-xl pt-md-6 mt-7 mt-md-9 mt-lg-12">
      <div class="col-12 offset-md-1 col-md-11">
        <% collaborative_coding = Site::Features.find_category_item_collection("collaborative_coding") %>
        <%= render "site/features/category_items", items: collaborative_coding.items, ref_loc: "collaborative coding category" %>
      </div>
    </div>

  </div>
</div>
