<div id="features-security" class="js-section px-lg-3">
  <div class="features-category--dark overflow-x-hidden position-relative z-1 py-5 py-md-12" <%= mktg_color_theme_attributes %>>

    <div class="position-absolute z-n1 top-0 left-0 width-full height-full d-none d-md-block">
      <div class="p-responsive container-xl height-full">
        <div class="position-relative col-1 height-full overflow-hidden">
          <div class="features-category--git-line position-absolute right-7 top-0"></div>
        </div>
      </div>
    </div>

    <div class="p-responsive container-xl">
      <div class="col-12 offset-md-1 col-md-11">
        <header class="position-relative mb-5 mb-xl-9">
          <div class="features-category--icon-shift position-static position-md-absolute py-1 mt-2 left-n7">
            <img src="<%= image_path "modules/site/features/launchpad/icons/icon-security.svg" %>" alt="GitHub Security Icon" loading="lazy" width="50" height="50">
          </div>
          <h2 class="h2-mktg d-inline-block features-category--title features-text-gradient--coral-yellow">Security</h2>
        </header>
        <div class="col-md-6 col-xl-4">
          <div class="position-relative mb-5 mb-md-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium">Secure code as you write it. Automatically review every change to your codebase and identify vulnerabilities before they reach production.</div>
          </div>
          <div class="position-relative mb-5 mb-md-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium">Understand and address any vulnerabilities in your open source dependencies.</div>
          </div>
          <div class="position-relative mb-3 mb-md-6 mb-lg-9 mb-xl-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium">Automatically detect and deactivate secrets committed to your repos.</div>
          </div>
        </div>
      </div>
    </div>

    <%= render "site/features/categories/decorations/decoration_security" %>

    <div class="p-responsive container-xl mt-7 mt-sm-8 mt-lg-11">
      <div class="col-12 offset-md-1 col-md-11">
        <% security = Site::Features.find_category_item_collection("security") %>
        <%= render "site/features/category_items", items: security.items, ref_loc: "security category" %>
      </div>
    </div>

    <div class="position-relative">
      <picture>
        <source srcset="<%= image_path "modules/site/features/launchpad/backgrounds/bg-more.webp" %>" type="image/webp">
        <img class="position-absolute top-0 left-n9 z-n1 events-none" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-more.png" %>" loading="lazy" alt="" width="1493" height="515">
      </picture>

      <div class="p-responsive container-xl">
        <div class="col-12 offset-md-1 col-md-11">
          <div class="position-relative col-12 col-lg-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-3 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <h3 class="h3-mktg mt-11 color-fg-default features-text-gradient--coral-yellow">Enterprise security</h3>
          </div>

          <% if feature_enabled_globally_or_for_current_user?(:site_security_react) %>
            <div class="col-12 col-lg-7 mb-9">
              <div class="f3 mb-5">
                Additional features available to GitHub <br class="d-none d-md-block">Enterprise customers.
              </div>
              <%= render Site::ButtonGroupComponent.new(
                buttons: [{
                  text: "Contact Sales",
                  url: enterprise_contact_requests_path(
                    ref_page: request.fullpath,
                    ref_cta: "Contact Sales",
                    ref_loc: "enterprise security category",
                    utm_source: "github",
                    utm_medium: "site",
                    utm_campaign: "Features",
                    utm_content: "Security",
                    scid: ""
                  ),
                  analytics: {
                    category: "Contact Sales",
                    action: "click to Contact Sales",
                    label: "ref_page:#{request.fullpath};ref_cta:Contact Sales;ref_loc:enterprise security category"
                  },
                }, {
                  text: "Explore GitHub Advanced Security",
                  url: "/enterprise/advanced-security",
                }],
              ) %>
            </div>

          <% else %>
            <div class="col-12 col-lg-7 mb-9">
              <div class="f3">
                Additional features available to GitHub <br class="d-none d-md-block">Enterprise customers.
              </div>
              <%= render Site::ButtonComponent.new(
                text: "Contact Sales",
                url: enterprise_contact_requests_path(
                  ref_page: request.fullpath,
                  ref_cta: "Contact Sales",
                  ref_loc: "enterprise security category",
                  utm_source: "github",
                  utm_medium: "site",
                  utm_campaign: "Features",
                  utm_content: "Security",
                  scid: ""
                ),
                classes: "mt-5",
                analytics: {
                  category: "Contact Sales",
                  action: "click to Contact Sales",
                  label: "ref_page:#{request.fullpath};ref_cta:Contact Sales;ref_loc:enterprise security category"
                }
              ) %>
            </div>
          <% end %>

          <% security_more = Site::Features.find_category_item_collection("security_more") %>
          <%= render "site/features/category_items", items: security_more.items, ref_loc: "enterprise security category" %>
        </div>
      </div>
    </div>
  </div>
</div>
