<div id="features-team-administration" class="js-section px-lg-3 overflow-x-hidden">
  <div class="features-category--light position-relative z-1 pt-5 pt-md-10 pb-5 pb-md-0">

    <div class="position-absolute z-n1 top-0 left-0 width-full height-full d-none d-md-block">
      <div class="p-responsive container-xl height-full">
        <div class="position-relative col-1 height-full overflow-hidden">
          <div class="features-category--git-line position-absolute right-7 top-0"></div>
        </div>
      </div>
    </div>

    <div class="p-responsive container-xl">
      <div class="col-12 offset-md-1 col-md-11">
        <header class="position-relative mb-5 mb-xl-9">
          <div class="features-category--icon-shift position-static position-md-absolute py-1 mt-2 left-n7">
            <picture>
              <source srcset="<%= image_path "modules/site/features/launchpad/icons/icon-team-admin.webp" %>" type="image/webp">
              <img src="<%= image_path "modules/site/features/launchpad/icons/icon-team-admin.png" %>" alt="GitHub Team Administration Icon" loading="lazy" width="50" height="50">
            </picture>
          </div>
          <h2 class="h2-mktg d-inline-block features-category--title features-text-gradient--blue-purple">Team <br>administration</h2>
        </header>
        <div class="col-md-6 col-xl-5">
          <div class="text-medium position-relative mb-5 mb-md-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium pr-xl-8">Simplify access and permissions management across your projects and teams.</div>
          </div>
          <div class="position-relative mb-5 mb-md-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium pr-xl-9">Update permissions, add new users as you grow, and give everyone the exact permissions they need.</div>
          </div>
          <div class="position-relative mb-5 mb-md-8">
            <div class="features-category--icon-shift d-none d-md-block position-absolute top-2 left-n7">
              <%= svg("modules/site/features/launchpad/icons/dot.svg") %>
            </div>
            <div class="h6-mktg text-medium pr-xl-5">Sync with Okta and Entra ID.</div>
          </div>
        </div>
      </div>
    </div>

    <%= render "site/features/categories/decorations/decoration_team_admin" %>

    <div class="p-responsive container-xl mt-10 mt-sm-12 pt-sm-8 pt-md-10">
      <div class="col-12 offset-md-1 col-md-11">
        <% team_administration = Site::Features.find_category_item_collection("team_administration") %>
        <%= render "site/features/category_items", items: team_administration.items, ref_loc: "team administration category" %>
      </div>
    </div>

  </div>
</div>
