<aside class="color-bg-default rounded-1 p-2 pl-3 m-2 text-small <%= alert_annotation_border_class %>" style="border-style: solid; border-width: 0 0 0 4px !important;">
  <header>
    <% if alert_rule_severity.present? %>
      <div class="mb-2 text-bold <%= alert_annotation_severity_color_class %>" <%= test_selector("alert-severity") %>>
        <%= primer_octicon(alert_annotation_octicon) %>
        <span class="ml-1"><%= alert_rule_severity.capitalize %></span>
      </div>
    <% end %>

    <div class="h5 mb-2" <%= test_selector("alert-title") %>><%= alert_title %></div>
  </header>

  <div class="text-mono code-scanning-font-size-inherit cs-message color-fg-muted">
    <%= alert_description_html %>
  </div>

  <% if alert_help_html.present? %>
    <div class="code-scanning-font-size-inherit mt-2">
      <%= alert_help_html %>
    </div>
  <% end %>

  <% if alert_code_paths_url.present? %>
    <div class="mt-2">
      <%= render(Primer::Alpha::Dialog.new(title: alert_title, size: :xlarge)) do |d| %>
        <% d.with_show_button(scheme: :secondary, font_weight: :bold) { 'Show paths' } %>
        <% d.with_body do %>
          <include-fragment class="my-6" src="<%= alert_code_paths_url %>">
            <div class="text-center" data-show-on-error hidden>
              <%= primer_octicon(:alert) %>
              Error loading code paths
            </div>
            <div class="text-center" data-hide-on-error>
              <%= render(Primer::Beta::Spinner.new) %>
            </div>
          </include-fragment>
        <% end %>
      <% end %>
    </div>
  <% end %>
</aside>
