<% ref_loc_label = trial_active ? "ghas_onboarding_active" : "ghas_onboarding_expired" %>

<section class="mt-7">
  <%= render(Primer::Beta::Subhead.new(pb: 0)) do |component| %>
    <% component.with_heading(tag: :div, font_size: 3) { "Docs" } %>
    <% component.with_actions do %>
      <%= render(Primer::Beta::Link.new(
        href: "#{GitHub.help_url}/code-security/getting-started",
        scheme: :default,
        underline: false,
        font_size: 5,
        data: analytics_click_attributes(
          category: "advanced_security_self_serve_trial",
          action: "view_all_docs",
          ref_loc_label: "ref_loc:#{ref_loc_label}"
        )
      )) { "View all docs" } %>
    <% end %>
  <% end %>
  <div>
    <div class="d-flex flex-column">
      <div class="d-flex flex-row">
        <div class="flex-1 py-3 pr-3">
          <%= render Primer::Beta::Subhead.new(hide_border: true, pb: 0) do |component| %>
            <% component.with_heading(tag: :div, font_size: 4) { "GitHub security features" } %>
            <% component.with_description(mt: 1, classes: "growth-line-clamp-3") do %>
              GitHub has security features that help keep code and secrets secure in repositories and across organizations. Some features are available for repositories on all plans. Additional features are available to enterprises that use GitHub Advanced Security. GitHub Advanced Security features are also enabled for all public repositories on GitHub.com.
            <% end %>
          <% end %>
          <%= render(Primer::Beta::Link.new(
            href: "#{GitHub.help_url}/code-security/getting-started/github-security-features",
            scheme: :default,
            underline: false,
            font_size: 6,
            mt: 1,
            data: analytics_click_attributes(
              category: "advanced_security_self_serve_trial",
              action: "read_more_security_features",
              ref_loc_label: "ref_loc:#{ref_loc_label}"
            )
          )) { "Read more about security features" } %>
      </div>

      <div class="flex-1 py-3 pl-3">
        <%= render Primer::Beta::Subhead.new(hide_border: true, pb: 0) do |component| %>
          <% component.with_heading(tag: :div, font_size: 4) { "Securing your repository" } %>
          <% component.with_description(mt: 1, classes: "growth-line-clamp-3") do %>
            You can use a number of GitHub features to help keep your repository secure. Learn how to enable and get started with security features based on your organizations unique security needs.
          <% end %>
        <% end %>
        <%= render(Primer::Beta::Link.new(
          href: "#{GitHub.help_url}/code-security/getting-started/securing-your-repository",
          scheme: :default,
          underline: false,
          font_size: 6,
          mt: 1,
          data: analytics_click_attributes(
            category: "advanced_security_self_serve_trial",
            action: "read_more_security_your_repository",
            ref_loc_label: "ref_loc:#{ref_loc_label}"
          )
        )) { "Read more about securing your repository" } %>
      </div>
    </div>

    <div class="d-flex flex-row">
      <div class="flex-1 py-3 pr-3">
        <%= render Primer::Beta::Subhead.new(hide_border: true, pb: 0) do |component| %>
          <% component.with_heading(tag: :div, font_size: 4, classes: "growth-line-clamp-3") { "About supply chain security" } %>
          <% component.with_description(mt: 1, classes: "growth-line-clamp-3") do %>
            With the accelerated use of open source, most projects depend on hundreds of open-source dependencies. GitHub offers a range of features, like Dependabot, to help you understand the dependencies
          <% end %>
        <% end %>
        <%= render(Primer::Beta::Link.new(
          href: "#{GitHub.help_url}/code-security/supply-chain-security/understanding-your-software-supply-chain/about-supply-chain-security",
          scheme: :default,
          underline: false,
          font_size: 6,
          mt: 1,
          data: analytics_click_attributes(
            category: "advanced_security_self_serve_trial",
            action: "read_more_about_supply_chain_security",
            ref_loc_label: "ref_loc:#{ref_loc_label}"
          )
        )) { "Read more about supply chain security" } %>
      </div>

      <div class="flex-1 py-3 pl-3">
        <%= render Primer::Beta::Subhead.new(hide_border: true, pb: 0) do |component| %>
          <% component.with_heading(tag: :div, font_size: 4) { "About secret scanning" } %>
          <% component.with_description(mt: 1, classes: "growth-line-clamp-3") do %>
            If your project communicates with an external service, you might use a token or private key for authentication. Secret scanning will scan your descriptions, comments and Git history on all branches present in
          <% end %>
        <% end %>
        <%= render(Primer::Beta::Link.new(
          href: "#{GitHub.help_url}/code-security/secret-scanning/about-secret-scanning",
          scheme: :default,
          underline: false,
          font_size: 6,
          data: analytics_click_attributes(
            category: "advanced_security_self_serve_trial",
            action: "read_more_about_secret_scanning",
            ref_loc_label: "ref_loc:#{ref_loc_label}"
          )
        )) { "Read more about secret scanning" } %>
      </div>
    </div>

    <div class="d-flex flex-row">
      <div class="flex-1 py-3 pr-3">
        <%= render Primer::Beta::Subhead.new(hide_border: true, pb: 0) do |component| %>
          <% component.with_heading(tag: :div, font_size: 4) { "About code scanning" } %>
          <% component.with_description(mt: 1, classes: "growth-line-clamp-3") do %>
            Code scanning is a feature that you use to analyze the code in a GitHub repository to find security vulnerabilities and coding errors. You can use code scanning to find, triage, and prioritize fixes for vulnerabilities in
          <% end %>
        <% end %>
        <%= render(Primer::Beta::Link.new(
          href: "#{GitHub.help_url}/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/about-code-scanning",
            scheme: :default,
            underline: false,
            font_size: 6,
            mt: 1,
            data: analytics_click_attributes(
              category: "advanced_security_self_serve_trial",
              action: "read_more_about_code_scanning",
              ref_loc_label: "ref_loc:#{ref_loc_label}"
            )
        )) { "Read more about code scanning" } %>
      </div>

      <div class="flex-1 py-3 pl-3">
        <%= render Primer::Beta::Subhead.new(hide_border: true, pb: 0) do |component| %>
          <% component.with_heading(tag: :div, font_size: 4) { "About the security overview" } %>
          <% component.with_description(mt: 1, classes: "growth-line-clamp-3") do %>
            The security overview provides high-level summaries of the security status of an organization or enterprise and make it easy to identify problematic repositories that require intervention.
          <% end %>
        <% end %>
        <%= render(Primer::Beta::Link.new(
          href: "#{GitHub.help_url}/enterprise-cloud@latest/code-security/security-overview/about-security-overview",
          scheme: :default,
          underline: false,
          font_size: 6,
          mt: 1,
          data: analytics_click_attributes(
            category: "advanced_security_self_serve_trial",
            action: "read_more_about_security_overview",
            ref_loc_label: "ref_loc:#{ref_loc_label}"
          )
        )) { "Read more about the security overview" } %>
      </div>
    </div>

      <div class="container-lg">
        <div class="col-6 py-3 pr-3">
          <%= render Primer::Beta::Subhead.new(hide_border: true, pb: 0) do |component| %>
            <% component.with_heading(tag: :div, font_size: 4) { "Adopting GitHub Advanced Security at scale" } %>
            <% component.with_description(mt: 1, classes: "growth-line-clamp-3") do %>
              We’ve created a phased approach to rollouts developed from industry and GitHub best practices. We expect most customers will want to follow these phases, based on our experience helping customers with a successful
            <% end %>
          <% end %>
          <%= render(Primer::Beta::Link.new(
            href: "#{GitHub.help_url}/enterprise-cloud@latest/code-security/adopting-github-advanced-security-at-scale/introduction-to-adopting-github-advanced-security-at-scale",
            scheme: :default,
            underline: false,
            font_size: 6,
            mt: 1,
            data: analytics_click_attributes(
              category: "advanced_security_self_serve_trial",
              action: "read_more_about_adopting_github_advanced_security_at_scale",
              ref_loc_label: "ref_loc:#{ref_loc_label}"
            )
          )) { "Read more about adopting advanced security at scale" } %>
        </div>
      </div>
    </div>
  </div>
</section>
