<%= render ::Onboarding::Organizations::AdvancedSecurity::GettingStartedComponent.new %>

<section class="position-relative" aria-label="Getting started">
  <div class="d-flex flex-items-center">
    <div class="color-bg-subtle d-flex flex-justify-center flex-items-center" style="border-radius: 50%; width: 32px; height: 32px;">
      <%= render(Primer::Beta::Octicon.new(icon: :rocket, size: :small)) %>
    </div>
    <p class="h4 ml-3 mb-0">Getting started</p>
  </div>
  <div class="list-style-none d-flex flex-column flex-lg-row flex-nowrap">
    <%= render(OnboardingTasks::AdvancedSecurity::TaskCardComponent.new(
      task: OnboardingTasks::AdvancedSecurity::SecurityConfigurations::EnableRecommendedAdvancedSecurity.new(
        taskable: current_organization, user: current_user,
      ),
      align_self: :stretch,
      mt: 3,
      pt: 4,
      mr: [nil, nil, nil, 3],
      col: [nil, nil, nil, 8],
      # because we are using cols, the unequal padding on each row will not align cards without a width % correction.
      classes: "growth-EnableRecommendedAdvancedSecurity",
    )) do |component| %>
        <% component.with_description do %>
          Allow advanced security to be turned on in your organizations in a few clicks by applying GitHub Recommended Settings to Dependabot, code scanning, and security scanning.
        <% end %>
    <% end %>
    <%= render(OnboardingTasks::AdvancedSecurity::DocsComponent.new) %>
  </div>
  <div class="list-style-none d-flex flex-column flex-lg-row flex-nowrap">
    <%= render(OnboardingTasks::AdvancedSecurity::TaskCardComponent.new(
      task: OnboardingTasks::AdvancedSecurity::SecurityConfigurations::ProtectNewRepositories.new(
        taskable: current_organization, user: current_user,
      ),
      col: [nil, nil, nil, 4],
      mt: 3,
    )) do |component| %>
        <% component.with_description do %>
          Ensure new repositories are protected by default with automatic code scanning and secret scanning enablement.
        <% end %>
    <% end %>
    <%= render(OnboardingTasks::AdvancedSecurity::TaskCardComponent.new(
      task: OnboardingTasks::AdvancedSecurity::SecurityConfigurations::AssignSecurityManagerRoles.new(
        taskable: current_organization, user: current_user,
      ),
      col: [nil, nil, nil, 4],
      ml: [nil, nil, nil, 3],
      mt: 3,
      mr: [nil, nil, nil, 3]
    )) do |component| %>
        <% component.with_description do %>
          Assign your security team the security manager role to see security alerts across your organization.
        <% end %>
    <% end %>
    <%= render(OnboardingTasks::AdvancedSecurity::TaskCardComponent.new(
      task: OnboardingTasks::AdvancedSecurity::SecurityOverview.new(
        taskable: current_organization, user: current_user,
      ),
      complete_task_with_click_url: organization_onboarding_tasks_path(current_organization),
      col: [nil, nil, nil, 4],
      mt: 3,
    )) do |component| %>
        <% component.with_description do %>
          See your results in Security Overview.
        <% end %>
    <% end %>
  </div>
</section>


<% unless current_organization %>
  <%= render partial: "settings/organization/advanced_security/docs", locals: { trial_active: true } %>
<% end %>
