<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="flex-auto">
  <div class="flex-items-center d-flex">
    <%= render(Primer::Beta::Avatar.new(**avatar_component_options(grantable.target, 32).merge(mr: 3, size: 32))) %>

    <%= render(Primer::Box.new) do %>
      <strong><%= link_to grantable.target.safe_profile_name, stafftools_user_path(grantable.target), "data-turbo-frame" => "_top" %></strong>

      <%= render(Primer::Beta::Text.new(tag: :div, font_size: :small, color: :subtle, mt: 1)) do %>
        Created <relative-time prefix="" threshold="PT0S" datetime="<%= grantable.created_at %>">
          <%= grantable.created_at.strftime("%b %-d, %Y") %>
        </relative-time>
      <% end %>
    <% end %>
  </div>
</div>

<%= render(Primer::ButtonComponent.new(scheme: :primary, tag: :a, data: { "turbo-frame" => "_top" }, href: link )) { "View" } %>
