<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<div class="color-bg-subtle mt-12 pt-11 pt-md-12 pb-5">
  <div class="container-xl p-responsive">
    <span class="readme-text-gray-dark f3-mktg" <%= test_selector "contribute-headline" %>>
      Want to contribute to <%= link_to @story[:project_name], contribute_page_path(repository: @contributing[:repository][:name], user_id: @contributing[:repository][:owner][:login]), class: "Link--inTextBlock" %>?
    </span>

    <h2 class="h1-mktg font-alt-mktg" style="font-weight: 400 !important">Good first issues</h2>

    <div class="d-sm-flex flex-wrap gutter-sm mt-10">
      <% @contributing[:issues].each do |issue| %>
        <article class="col-sm-6 col-md-4 col-lg-3 mb-9">
          <span class="d-block text-mono readme-text-gray-dark f6-mktg border-bottom pb-3 mb-3" <%= test_selector "issue-number-link" %>>
            #<%= link_to issue[:number], issue[:permalink] %>
          </span>

          <h3 class="h5-mktg mb-3" <%= test_selector "issue-title" %>>
            <a
              href="<%= issue[:permalink] %>"
              data-ga-click="ReadME Stories, click, ref_page:<%= request.fullpath %>;ref_cta:<%= issue[:title] %>;ref_loc:Good first issues"
              class="link-blue-readme"
            >
              <%= issue[:title] %>
            </a>
          </h3>

          <div class="text-mono readme-text-gray-dark f6-mktg">
            <span class="d-block" <%= test_selector "timestamp" %>>
              opened <%= link_to time_ago_in_words(issue[:created_at]), issue[:permalink], class: "Link--inTextBlock" %> ago
            </span>

            <span class="d-block" <%= test_selector "author" %>>
              by <%= link_to issue[:user][:login], sanitize(user_path(issue[:user][:login])), class: "Link--inTextBlock" %>
            </span>
          </div>
        </article>
      <% end %>
    </div>

    <% if !logged_in? %>
      <p class="readme-text-gray-dark">
        Don’t have a GitHub account?
        <%= link_to("Sign up today",
          signup_path("ref_page": request.fullpath, "ref_cta": "Sign up today", "ref_loc": "README good first issues"),
          rel:  "nofollow",
          class: "link-blue-readme Link--inTextBlock",
          data: analytics_click_attributes(
            category: "Sign up",
            action: "click to sign up for account",
            label: "ref_page:#{request.fullpath};ref_cta:Sign up today;ref_loc:README good first issues"
          )
        ) %>
      </p>
    <% end %>
  </div>
</div>
