<p class="text-mono text-uppercase readme-text-gray-dark f5-mktg mb-2 d-inline-block">
  <%= preview_label if show_preview %>

  <%= @story[:label] %>
</p>

<% if with_links? %>
<%= link_to @story[:url],
  class: "d-block no-underline readme-underline--green",
  data: { "ga-click": sanitized_ga_params(
    category: "ReadME Stories",
    action: "click",
    label: "ref_page:#{request.fullpath};" \
      "ref_cta:#{@story[:heading]};" \
      "ref_loc:Story list"
)} do %>
  <%= content_tag @heading_level, class: "mb-3 #{heading_class}", style: "font-weight:400 !important" do %>
    <span><%= @story[:heading] %></span>
  <% end %>
<% end %>

<% else %>
  <div class="d-block no-underline readme-underline--green">
    <%= content_tag @heading_level, class: "mb-3 #{heading_class}", style: "font-weight:400 !important" do %>
      <span><%= @story[:heading] %></span>
    <% end %>
  </div>
<% end %>

<% if show_subtitle %>
  <p class="mb-0 <%= subtitle_class %>">
    <%= @story[:subheading] %>
  </p>
<% end %>
