<div class="readme-bg-white py-5 py-md-6 overflow-hidden">
  <div class="container-xl p-responsive">
    <h2 class="h5-mktg border-bottom pb-4 mb-6">
      More stories
    </h2>

    <div class="d-md-flex gutter-sm gutter-md-spacious">
      <% @more_stories.each do |story| %>
        <div class="d-flex flex-column col-md-4">
          <%= link_to story[:url],
            class: "d-block readme-link",
            data: analytics_click_attributes(
                category: "ReadME Stories",
                action: "click",
                label: "ref_page:#{request.fullpath};" \
                  "ref_cta:#{story[:heading]};" \
                  "ref_loc:More stories"
            ) do %>
            <figure class="mb-5 readme-link__figure js-readme-rotate">
              <%= render Site::ContentfulImageComponent.new(src: story[:thumbnail][:url], width: 1200, height: 1400, classes: "d-block height-auto width-full readme-link__img", alt: "Photo of #{story[:name]}", sizes: "(max-width: 755px) 90vw, 45vw") %>
            </figure>

            <h3 class="readme-heading-3 mb-5">
              <span class="no-underline readme-underline--green">
                <span><%= story[:heading] %></span>
              </span>
            </h3>
          <% end %>

          <div class="text-mono text-uppercase color-fg-muted f5-mktg" style="letter-spacing:0.05em">
            <%= story[:name] %><%= " // #{story[:project_name]}" if story[:project_name].present? %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
