<%# erblint:counter DeprecatedComponentsCounter 1 %>
<nav class="position-fixed z-3 top-0 left-0 width-full height-full overflow-auto color-fg-on-emphasis readme-nav" aria-label="ReadME Project Navigation">
  <div class="position-absolute top-0 right-0 bottom-0 left-0 readme-nav__overlay"></div>
  <div class="position-relative width-full box-shadow-default-mktg readme-bg-black--pattern readme-nav__body">
    <div class="ml-md-6 border-left readme-border-fade--white d-flex flex-column flex-justify-between" style="min-height:60vh">
      <div class="d-flex flex-items-center flex-justify-between px-3 pl-md-8 pr-lg-6 py-4 ml-md-n6 border-bottom readme-border-fade--white">
        <a href="<%= readme_index_path %>" aria-label="ReadME Project Homepage" class="d-block readme-logo-link--inverted js-details-initial-focus">
          <%= svg("modules/site/readme/readme-logo-lockup", height: 50, width: 132, class: "d-block readme-logo", aria_hidden: true) %>
        </a>

        <%= render Primer::ButtonComponent.new(scheme: :link, classes: "readme-logo-link--inverted no-underline readme-nav__button js-details-target", "aria-label": "Close ReadME Project Navigation", "aria-expanded": "false") do %>
          <div class="d-flex flex-items-center">
            <%= svg("modules/site/readme/readme-button-close", height: 20, width: 20, class: "", aria_hidden: true) %>
          </div>
        <% end %>
      </div>

      <div class="flex-1 d-lg-flex width-full">
        <div class="col-lg-7 col-xl-8 pb-3 pb-lg-0 border-lg-right border-bottom border-lg-bottom-0 readme-border-fade--white">
          <h2 id="storyType" class="readme-heading--condensed f3-mktg text-semibold text-uppercase px-3 px-lg-4 py-3 border-bottom readme-border-fade--white">
            Browse by story type
          </h2>

          <ul aria-labelledby="storyType" class="d-inline-block list-style-none py-2 py-lg-3 readme-nav__list">
            <% categories.each do |category| %>
              <li class="readme-heading-1 readme-heading--condensed text-uppercase px-3 px-lg-4 py-2 py-lg-3 readme-nav__list-item">
                <%= link_to category[:link], class: "d-block width-full color-fg-on-emphasis no-underline readme-underline--blue readme-nav__list-link" do %>
                  <span class="d-inline-block"><%= category[:name] %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="d-flex flex-column col-lg-5 col-xl-4">
          <div class="d-flex flex-justify-between px-3 pr-lg-6 pl-lg-4 py-3 border-bottom readme-border-fade--white">
            <h2 id="exploreTopics" class="readme-heading--condensed f3-mktg text-semibold text-uppercase">Explore Topics</h2>

            <a aria-labelledby="exploreTopics" href="<%= readme_topics_path %>" class="arrow-target-mktg no-underline text-mono text-uppercase f5-mktg lh-condensed readme-logo-link--inverted" style="letter-spacing:0.05em">
              See all topics <%= svg("site/icons/chevrow.svg", class: "octicon") %>
            </a>
          </div>

          <ul class="py-2 py-lg-0 list-style-none height-full d-flex flex-column flex-justify-around readme-nav__list">
            <% topics.take(6).each_with_index do |topic, index| %>
              <li class="flex-1 d-flex flex-items-center readme-heading-3 px-3 px-lg-4 <% unless index == topics.size - 1 %>border-lg-bottom readme-border-fade--white<% end %> readme-nav__list-item">
                <%= link_to readme_path(topic[:slug]), class: "d-block width-full py-3 py-lg-4 color-fg-on-emphasis no-underline readme-underline--blue readme-nav__list-link", 'data-test-selector' => "topic-link" do %>
                  <span><%= topic[:name] %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="px-3 pl-md-8 pr-lg-4 py-4 ml-md-n6 border-top readme-border-fade--white">
        <ul class="list-style-none text-mono text-uppercase f5-mktg readme-nav__list" style="letter-spacing:0.05em">
          <li class="d-md-inline-block mb-2 mb-md-0 readme-nav__list-item">
            <%= link_to "Nominate a developer", readme_nominate_path, class: "color-fg-on-emphasis readme-nav__list-link" %><span class="d-none d-md-inline-block ml-4 mr-3" style="opacity:0.3">//</span>
          </li>

          <% if GitHub.sponsors_enabled? %>
            <li class="d-md-inline-block readme-nav__list-item">
              <%= link_to "Support the community", sponsors_path, class: "color-fg-on-emphasis readme-nav__list-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
