<div class="position-relative z-1 color-bg-subtle d-flex d-md-block d-lg-flex flex-items-center col-md-6 float-md-right mt-3 mb-6 ml-md-6 mr-xl-n6 p-4">
  <div class="position-absolute top-0 left-0 width-full" style="height: 4px; background: linear-gradient(135deg,#4969ed,#3bd86d)"></div>

  <div class="overflow-hidden circle d-inline-flex flex-items-center flex-justify-center flex-shrink-0 mr-4" style="width:120px; height:120px;">
    <a href="<%= @recirculation_story[:url] %>" class="d-block readme-link">
      <figure class="readme-link__figure">
        <%= render Site::ContentfulImageComponent.new(src: @recirculation_story[:thumbnail][:url], width: 300, height: 350, classes: "width-fit height-auto readme-link__img", alt: @recirculation_story[:name], sizes: "120px") %>
      </figure>
    </a>
  </div>

  <div>
    <p class="text-mono text-uppercase readme-text-gray-dark f6-mktg mb-2" style="letter-spacing:0.05em">
      <%= label %>
    </p>

    <a href="<%= @recirculation_story[:url] %>" class="position-relative d-block link-blue-readme no-underline readme-link readme-link--story-tease readme-underline--green">
      <h4 class="h5-mktg lh-condensed-mktg mt-2 mb-0 font-alt-mktg" style="font-weight:400 !important">
        <span><%= @recirculation_story[:heading] %></span>
      </h4>
    </a>
  </div>
</div>
