<% content_for :header do %>
  Here's your GitHub launch code!
<% end %>

<img
  src="<%= mailer_static_asset_path("images/email/signup/mona-launch-rocket.png") %>"
  alt="an octocat standing next to a rocket"
  width="110"
>

<%= render(Mail::SpacerComponent.new) %>

<span class="text-mono f4">
  Continue signing up for GitHub by entering the code below:
</span>

<%= render(Mail::SpacerComponent.new) %>

<span class="branch-name f00-light text-gray-dark text-mono"><%= @verification_token %></span>

<%= render(Mail::SpacerComponent.new) %>

<%= render(
  Mail::ButtonComponent.new(
    text: "Open GitHub",
    url: @verification_page_url,
    classes: "btn-primary btn-large"
  )
) %>

<% content_for :content_footer do %>
  <%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      Once completed, you can start using all of GitHub's features to explore, build, and share projects.

      <%= render(Mail::SpacerComponent.new) %>

      Not able to enter the code? Paste the following link into your browser: <br>
      <a href="<%= @fallback_url.to_s %>" class="wb-break-all"><%= @fallback_url %></a>
    <% end %>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  You’re receiving this email because you recently created a new GitHub account. If this wasn’t you, please ignore this email.
<% end %>
