<% content_for :header do %>
  Almost done!
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <% if @user.must_verify_email? %>
      To complete your GitHub sign up,
    <% else %>
      To secure your GitHub account,
    <% end %>
    we just need to verify your email address: <strong><%= @email.email %></strong>.
  <% end %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::SpacerComponent.new) %>

    <%= render(
      Mail::ButtonComponent.new(
        text: "Verify email address",
        url: @cta_tracking_url.to_s,
        classes: "btn-primary btn-large"
      )
    ) %>
  <% end %>
<% end %>

<% content_for :content_footer do %>
  <%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      <% if @user.must_verify_email? %>
        Once verified, you can start using all of GitHub's features to explore, build, and share projects.
      <% else %>
        This will let you receive notifications and password resets from GitHub.
      <% end %>

      <%= render(Mail::SpacerComponent.new) %>

      Button not working? Paste the following link into your browser: <br>
      <a href="<%= @cta_tracking_url.to_s %>" class="wb-break-all"><%= @cta_url %></a>
    <% end %>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  You’re receiving this email because you recently created a new GitHub account or added a new email address. If this wasn’t you, please ignore this email.
<% end %>
