<div id="chatops-slack-config" <%=("style='display: none;'" if view.msteams_enabled?)%>>
  <div id="chatops-slack-config-token-section" <%=("style='display: none;'" if view.slack_enabled? || view.slacksocket_enabled?)%>>
    <h4>Generate Slack app configuration token</h4>
    <p>Go to <a href="https://api.slack.com/apps" target="_blank" rel="noopener noreferrer">https://api.slack.com/apps</a> to generate an app configuration token.</p>
    <br>
    <div id="chatops-slack-configuration-token">
      <label class="label-heading">
        App configuration token
      </label>
      <input id="chatops-slack-configuration-token-input"
            autocomplete="off"
            type="password"
            name="chatops[slack_config_token]">
      <sub class="chatops-sub-note">Required. Copy the <i>Access Token</i> from Slack app home under <i>Your App Configuration Tokens</i></sub>
      <br><br>
      <label class="label-heading">
        Public Endpoint URL
      </label>
      <input id="chatops-slack-public-endpoint-input"
            autocomplete="off"
            type="text"
            name="chatops[slack_public_endpoint]">
      <sub class="chatops-sub-note">Optional. Public endpoint URL to be configured with slack.</sub>
    </div>
    <br>
    <br>
    <label class="checkbox-item">
      <input name="chatops[slacksocket_enabled]" type="hidden" value="false" />
      <input type="checkbox" <%=('checked' if view.slacksocket_enabled?)%> name="chatops[slacksocket_enabled]">
      <b>Configure to use socket mode</b>
    </label>
    <br>
    <br>
    <button class="btn js-save-slack-settings" value="/setup/settings/chatops/slack/generate" popover="#save-client-settings">
      Generate App
    </button>
  
  </div>
  <div id="chatops-slack-app-section" class="chatops-box-section" <%=("style='display: none;'" unless view.slack_enabled? || view.slacksocket_enabled?)%>>
    <label class="label-heading">
        Slack App ID : 
        &nbsp;&nbsp;<u><a id="chatops-slack-app-link" href="https://api.slack.com/apps/<%=(view.slack_app_id)%>" target="_blank" rel="noopener noreferrer"><%=(view.slack_app_id)%></a></u>
    </label>  
    <sub class="chatops-sub-note">This is your newly created slack app. Click to view more details.</sub>
    <br>
    <div id="chatops-slack-socket-section" style='display: none;'>
      <br>
      <label class="label-heading">
        Slack app level token
      </label>
      <div id="chatops-app-level-token-section">
        <input id="chatops-slack-app-level-token-input"
              autocomplete="off"
              type="password"
              name="chatops[slack_app_level_token]">
        <sub class="chatops-sub-note">Visit your newly created app by clicking from the link above and generate an app-level token. Paste it here.</sub>
      </div>
      <div id="chatops-app-level-label" style="display: none">
        <label>******************</label>
      </div>           
      <br>
    </div>
    <hr>
    <% if view.slack_enabled? || view.slacksocket_enabled?%>
      <div class="chatops-config-confirm-section">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8 16A8 8 0 108 0a8 8 0 000 16zm3.78-9.72a.75.75 0 00-1.06-1.06L6.75 9.19 5.28 7.72a.75.75 0 00-1.06 1.06l2 2a.75.75 0 001.06 0l4.5-4.5z" style="fill: rgb(29,155,29); vertical-align: bottom;"></path></svg>
        <label>Chat integration is now available to be installed in<a target="_blank" rel="noopener noreferrer" href="<%= view.chatops_hostname %>">the workspace</a>.</label>
      </div>
    <% else %>
      <div class="chatops-config-control-section">
        <button class="btn js-chatops-cancel" value="">
          Back
        </button>
        <button id="chatops-save-config" class="btn btn-primary js-chatops-save-config" value="/setup/settings/chatops/slack/update" 
          style="display: none" disabled popover="#save-client-settings">
            Save
        </button>
      </div>
    <% end %>
  </div>
</div>