<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="width-full z-1" style="max-width: 800px;" data-hpc>
  <div
    class="js-warp-hide m-md-4 p-4 f4 color-shadow-small bg-gray-800-mktg border rounded-2"
    style="border-color: #202637 !important;"
  >
    <p class="text-mono color-fg-on-emphasis mb-0">You're almost done!</p>
    <p class="text-mono color-fg-on-emphasis" <%= test_selector("email-sentence") %>>
      We sent <%= email_phrase %> to <span class="code-green"><%= email.email %></span>
    </p>

    <% if resent? %>
      <div class="d-flex text-mono color-fg-on-emphasis mb-3" <%= test_selector("email-resent") %>>
        <span class="code-green d-inline-block mr-2">✓</span> Email was resent!
      </div>
    <% end %>

    <% if launch_code? %>
      <p class="code-pink text-mono my-3" id="launch-code-description" <%= test_selector("email-enter-code") %>>
        <span class="signup-continue-prompt" aria-hidden="true"></span> Enter code<sup aria-hidden="true">*</sup>
      </p>
    <% else %>
      <p class="text-mono my-3" style="color: #00CFC8;" <%= test_selector("email-click-link") %>>
        Click the link inside to start using GitHub :)
      </p>
    <% end %>

    <% if launch_code? %>
      <div <%= test_selector("launch-code-input") %>>
        <launch-code
          data-pattern="[0-9]"
          <% if show_launch_code_animation? %>data-ajax<% end %>
        >
          <%= form_with(url: account_verifications_path, data: { target: "launch-code.form" }) do %>
            <%= hidden_field_tag :return_to,  return_to %>
            <%= hidden_field_tag "recommend_plan", recommend_plan? %>
            <%= hidden_field_tag "invitation_token", invitation_token %>
            <%= hidden_field_tag "repo_invitation_token", repo_invitation_token %>
            <%= hidden_field_tag "plan",  params[:plan] %>
            <%= hidden_field_tag "verification",  params[:verification] %>
            <% if params[:plan_duration].present? %>
              <%= hidden_field_tag "plan_duration",  params[:plan_duration] %>
            <% end %>
            <%= hidden_field_tag "setup_organization", params[:setup_organization] %>
            <%= hidden_field_tag :trial_acquisition_channel, params[:trial_acquisition_channel] if params[:trial_acquisition_channel] %>

            <fieldset>
              <div class="d-flex flex-justify-between">
                <% launch_code_length.times do |index| %>
                  <input
                    type="text"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="false"
                    name="launch_code[]"
                    class="form-control input-monospace color-fg-on-emphasis text-center f2 bg-gray-800-mktg color-shadow-small py-2 py-sm-3 px-1 px-sm-3"
                    style="border-color: #8B949E !important;"
                    maxlength="1"
                    size="1"
                    pattern="[0-9]"
                    autocomplete="off"
                    aria-labelledby="launch-code-description"
                    data-targets="launch-code.inputs"
                    data-action="
                      paste:launch-code#handlePaste
                      keyup:launch-code#handleKeyNavigation
                      input:launch-code#handleKeyInput
                    "
                    required
                    <% if index == 0 %>autofocus<% end %>
                  >
                <% end %>
              </div>
            </fieldset>

            <div data-target="launch-code.result" role="alert">
              <% if error.present? %>
                <div class="mt-4 text-mono signup-error-text" <%= test_selector("verification-error") %>>
                  <%= error %>
                </div>
              <% end %>
            </div>

            <noscript>
              <%= render(Primer::ButtonComponent.new(block: :true, type: :submit, mt: 3)) do %>
                Continue
              <% end %>
            </noscript>
          <% end %>
        </launch-code>
      </div>
    <% end %>
  </div>

  <div class="js-warp-hide text-gray-mktg m-4 text-center">
    Didn't get your email?
    <%=
      button_to(
        "Resend the code",
        resend_verification_path,
        class: "btn-link",
        form: {
          class: "d-inline",
        },
      )
    %>
    or
    <a class="Link--inTextBlock" href="<%= update_email_path %>">update your email address</a>.
  </div>

  <% if Rails.env.development? && email.present? %>
    <div class="js-warp-hide text-gray-mktg m-4 text-center">
      Psst, Hubber:
      <% if email.verification_token %>
        in local development, you can use this launch code to
        verify your email:
        <span class="branch-name"><%= email.verification_token %></span>
      <% else %>
        if you wait a second and reload this page,
        you should see the launch code to verify your email address
        in local development.
      <% end %>
    </div>
  <% end %>
</div>
