<div class="container-lg p-responsive js-pinned-items-reorder-container clearfix">
  <div class="hide-lg hide-xl">
    <%= render Profiles::Organization::SwitchProfilesComponent.new(
      profile_layout_data: layout_data,
      align_right: false,
      dialog_location: "org-switch-profile-mobile"
    ) %>
  </div>

  <%= render(Organizations::EnterpriseCloudOnboarding::EnterpriseAccountMigrationBannerComponent.new(organization: layout_data.profile_organization, user: layout_data.viewer)) %>
  <%= render Profiles::Organization::ProfileReadmeComponent.new(profile: layout_data.org_profile_readme) %>
  <%= render Onboarding::Organizations::OnboardingComponent.new(organization: layout_data.profile_organization) %>

  <% unless show_onboarding_component?(layout_data.profile_organization) %>
    <%= render Profiles::Organization::Tabs::RepositoriesOverviewComponent.new(
      any_pinnable_items: layout_data.any_pinnable_items,
      has_pinned_items: layout_data.item_showcase.has_pinned_items?,
      items: layout_data.item_showcase.items.first(ProfilePin::LIMIT_PER_PROFILE),
      profile_user: layout_data.profile_organization,
      viewer_can_change_pinned_items: layout_data.viewer_can_change_pinned_items,
      viewing_as_member: layout_data.view_as == "member",
      view_as: layout_data.view_as,
    ) %>

    <%= render Profiles::Organization::Overview::RepositoriesComponent.new(profile_layout_data: layout_data, user_session: user_session, view_as: layout_data.view_as) do |component| %>
      <%= render Profiles::Organization::Overview::Repositories::ResultsComponent.new(profile_layout_data: layout_data, repositories: component.repositories) %>
    <% end %>
  <% end %>
</div>

<% if logged_in? %>
  <div id="pinned-items-modal-wrapper"></div>
<% end %>
