<% page_info title: "Billing contacts", selected_link: :business_billing_vnext_billing_contacts %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Billing contacts",
    container_attributes: "itemscope itemtype='http://schema.org/Enterprise'",
  } do %>

  <% if flash[:success].present? %>
    <%= render(Primer::Alpha::Banner.new(scheme: :success, dismissible: true, icon: :check, mb: 3)) { flash[:success] } %>
  <% end %>

  <% budgets_flash.each do |type, message| %>
    <%= render(Billing::Settings::BillingBudgetStateBannerComponent.new(
      message: message,
      type: type,
    ))%>
  <% end %>

<%= render(Primer::Beta::Text.new(tag: :p, color: :muted)) { "Add an email address to receive billing notifications regarding payments and budget threshold alerts." } %>

<div class="Box mb-4 mt-4 wb-break-all">
  <div class="Box-header d-flex flex-items-center">
    <div class="Box-title flex-auto ml-1 pl-2">
    <div>Email recipients</div>
    </div>
    <div class="d-flex flex-justify-end">
      <%= form_tag enterprise_billing_emails_path(business), method: :post do %>
        <%= render(GitHub::DialogComponent.new(title: "Add billing recipient")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
          <% dialog.with_summary do %>
            <%= render Primer::Beta::Button.new(tag: :summary, type: :button, size: :small) do %>
              Add
            <% end %>
          <% end %>
          <% dialog.with_body do %>
            <input
              type="text"
              name="billing_external_email"
              aria-label="Add billing recipient email"
              class="form-control input-block input-contrast auto-search-input new-member-field"
              autofocus
              required
              placeholder="Add billing recipient email">
          <% end %>
          <% dialog.with_footer do %>
            <%= render Primer::Beta::Button.new(type: :submit, block: true, "data-disable-with": "Add") do %>
              Add
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if business.billing_email.present? || business.billing_external_emails.any? %>
    <% if business.billing_email.present? %>
      <div>
        <div class="Box-row flex-items-center d-flex color-fg-muted">
          <div class="my-1">
            <%= primer_octicon(:person, size: :medium, color: :default) %>
          </div>
          <div class="ml-4">
            <%= business.billing_email %>
          </div>
          <div class="ml-1">
            <%= render Primer::Beta::Label.new(scheme: :secondary, ml: 4, title: "Label: Primary") do %>
              Primary
            <% end %>
          </div>
            <div class="d-flex flex-justify-end ml-auto">
              <%= render layout: "shared/details_dialog", locals: {
                button_class: "btn btn-sm btn-link py-1 px-1",
                button_aria_label: "Edit primary email address",
                button_text: "",
                button_icon: "pencil",
                title: "Edit billing email address"} do %>
                <%= form_for business, url: update_primary_enterprise_billing_emails_path(business), method: :put do |f| %>
                  <div class="Box-body">
                    <dl class="form-group mt-0">
                      <% label_html = content_tag(:small, "Billing email (primary)") %>
                      <dt><%= f.label :billing_email, label_html %></dt>
                      <dd><%= f.text_field :billing_email, autofocus: true %></dd>
                    </dl>
                  </div>
                  <div class="Box-footer">
                    <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, block: true, "data-disable-with": "Update") do %>Update<% end %>
                  </div>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% business.billing_external_emails.each do |line| %>
      <div class="Box-row flex-items-center d-flex color-fg-muted">
        <div class="d-flex my-1">
          <%= primer_octicon(:person, size: :medium, color: :default) %>
        </div>
        <div class="ml-4 d-flex flex-1">
          <%= line.email %>
        </div>

        <%= render(Primer::Alpha::ActionMenu.new) do |menu| %>
          <% menu.with_show_button(size: :small, icon: 'kebab-horizontal', aria: { label: "Show options for #{line.email}" }, scheme: :invisible) %>
          <% menu.with_item(
            label: "Mark as primary",
            href: mark_primary_enterprise_billing_emails_path(business, line.id),
            form_arguments: {
              method: :put,
            }
          ) %>
          <% menu.with_item(
            label: "Remove",
            scheme: :danger,
            content_arguments: { "data-show-dialog-id": "delete-contact-dialog-#{line.id}" },
          ) %>
        <% end %>

        <%= render(Primer::Alpha::Dialog.new(id: "delete-contact-dialog-#{line.id}", title: "Remove email recipient")) do |dialog| %>
          <% dialog.with_body do %>
            Are you sure you want to remove (<%= line.email %>) from the billing recipients?
          <% end %>
          <% dialog.with_footer do %>
            <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "delete-contact-dialog-#{line.id}" })) { "Cancel" } %>
            <%= form_tag enterprise_billing_email_path(business, line.id), :method => :delete do %>
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger) do %>
                  Delete
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |component| %>
      <% component.with_heading(tag: :h2).with_content("No email recipients") %>
    <% end %>
  <% end %>
</div>
<% end %>
