<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
listing = marketplace_listing
plan = marketplace_listing_plan
free_trial_length_string = pluralize(Billing::Subscription::FREE_TRIAL_LENGTH / (60 * 60 * 24), "day")
buy_button_text =
  if plan.has_free_trial?
    "Try free for #{free_trial_length_string}"
  elsif plan.paid?
    "Buy with GitHub"
  else
    "Install it for free"
  end
%>

<div class="position-relative overflow-hidden color-bg-default rounded-2 color-shadow-large p-4 mb-3">
  <div class="position-absolute top-0 left-0 width-full color-bg-accent-emphasis pt-1"></div>
  <div class="float-right pl-3">
    <div style="background-color: #<%= listing.bgcolor %>" class="CircleBadge CircleBadge--small box-shadow-none">
      <img src="<%= listing.primary_avatar_url(106) %>" class="CircleBadge-icon" alt="<%= listing.name %> logo preview">
    </div>
  </div>
  <div class="lh-condensed color-fg-muted text-small"><%= listing.name %></div>
  <h3 class="f2 text-normal lh-condensed mb-2"><%= plan.name %></h3>
  <p class="mb-3 lh-condensed"><%= plan.description %></p>
  <% if plan.bullets.any? %>
    <ul class="list-style-none mb-4">
      <% plan.bullets.each do |bullet| %>
        <li class="mb-1"><%= primer_octicon(:check, color: :success, mr: 2) %>
          <%= bullet.value %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if plan.paid? %>
    <div class="border-top border-bottom py-2 mb-3 d-flex flex-md-items-center flex-justify-between">
      <div class="d-flex flex-md-items-center">
        <span class="f2 pr-2"><%= casual_currency plan.monthly_price_in_dollars %></span>
        <span class="text-small color-fg-muted lh-condensed-ultra d-block mt-1 mt-md-0"><% if plan.per_unit %>per&nbsp;<%= plan.unit_name.downcase %><br><% end %>/ month</span>
      </div>
      <div class="d-flex flex-md-items-center d-none">
        <span class="f2 pr-2"><%= casual_currency plan.yearly_price_in_dollars %></span>
        <span class="text-small color-fg-muted lh-condensed-ultra d-block mt-1 mt-md-0"><% if plan.per_unit %>per&nbsp;<%= plan.unit_name.downcase %><br><% end %>/ year</span>
      </div>
    </div>
  <% end %>
  <div class="mb-2 mb-lg-0">
    <button class="btn btn-primary disabled px-6 py-2 d-block d-md-inline-block text-center" type="submit">
      <%= buy_button_text %>
    </button>
  </div>
</div>
