<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  plans = marketplace_listing_plans
%>

<%= render layout: "marketplace_listings/admin_layout", locals: { marketplace_listing: marketplace_listing, selected_tab: :pricing } do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Plans and pricing<% end %>
    <% component.with_actions do %>
      <a href="<%= new_marketplace_listing_plan_path(marketplace_listing.slug) %>" class="btn btn-primary btn-sm">New draft plan</a>
    <% end %>
  <% end %>
  <p class="mb-3">Add and modify your pricing plans for <strong><%= marketplace_listing.name %></strong>. More information can be
    found in <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/marketplace/listing-on-github-marketplace/setting-a-github-marketplace-listing-s-pricing-plan/" target="_blank" rel="noopener noreferrer">our developer documentation</a>.
  </p>

  <% if plans.empty? %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No pricing plans
      <% end %>

      <% c.with_description do %>
        You need at least one plan to publish your app to GitHub Marketplace
      <% end %>

      <% c.with_primary_action(href: new_marketplace_listing_plan_path(marketplace_listing.slug)) do %>
        New draft plan
      <% end %>
    <% end %>
  <% end %>

  <div class="d-flex flex-column">
    <% plans.each do |plan| %>
      <div class=" border-top py-3">
        <a href="<%= marketplace_listing_plan_path(marketplace_listing.slug, plan.global_relay_id) %>"  class="float-right">View Details</a>
        <% if plan.paid? %>
            <span class="text-bold"><%= casual_currency plan.monthly_price_in_dollars %></span>
            <% if plan.per_unit %>
              per&nbsp;<%= plan.unit_name.downcase %>
            <% end %>
            <span class="">/&nbsp;month</span>
        <% elsif plan.direct_billing? %>
          <span class="text-bold">Direct billing</span>
        <% else %>
          <span class="text-bold">Free</span>
        <% end %>

        <div class="f4"><%= marketplace_listing.name %> &mdash; <%= plan.name %>
            <% if plan.draft? %>
              <%= render(Primer::Beta::Label.new(scheme: :secondary)) { "Draft" } %>
            <% elsif plan.retired? %>
              <%= render(Primer::Beta::Label.new(scheme: :danger)) { "Retired" } %>
            <% elsif plan.published? %>
              <%= render(Primer::Beta::Label.new(scheme: :success)) { "Published" } %>
            <% end %>
            <% if plan.has_free_trial? %>
              <%= render(Primer::Beta::Label.new(scheme: :info)) { "Free trial" } %>
            <% end %>
        </div>
        <div class="text-small color-fg-muted"><%= plan.description %></div>
      </div>
    <% end %>
  </div>
  <!-- Prev/next nav -->
  <div class="border-top clearfix pt-3 d-flex flex-items-center">
    <div class="col-8 float-left d-inline-flex flex-items-center">
      <nav class="paginate-container float-left d-inline my-0 mr-3 v-align-middle" aria-label="Pagination">
        <div class="pagination d-block">
          <a href="<%= edit_description_marketplace_listing_path(marketplace_listing.slug) %>" aria-label="Previous Page">Previous</a>
          <a href="<%= marketplace_listing_hook_path(marketplace_listing.slug) %>" aria-label="Next Page">Next</a>
        </div>
      </nav>
      <span class="text-small color-fg-muted"><strong>Next:</strong> Set up a webhook.</span>
    </div>
    <div class="col-4 float-left text-right">
      <a href="<%= edit_marketplace_listing_path(marketplace_listing.slug) %>" class="Link--muted issue-meta-section task-progress ml-2"><%= primer_octicon(:checklist) %>
        <span class="task-progress-counts">3 of 4</span>
        <span class="progress-bar v-align-middle"><%# erblint:disable DeprecatedCustomCss %>
          <span class="progress" style="width: 75%"></span>
        </span>
      </a>
    </div>
  </div>
<% end %>
