<%= render layout: "marketplace_listings/admin_layout", locals: { marketplace_listing: marketplace_listing, selected_tab: :pricing_new } do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>New draft plan<% end %>
  <% end %>
  <p>
    More information can be found in
    <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/marketplace/listing-on-github-marketplace/setting-a-github-marketplace-listing-s-pricing-plan/" target="_blank" rel="noopener noreferrer">our developer documentation</a>.
  </p>
  <%= form_tag marketplace_listing_plans_path(listing_slug), method: :post do %>
    <%= render partial: "marketplace_listing_plans/form", locals: { marketplace_listing: marketplace_listing } %>
  <% end %>
<% end %>
