<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<div class="intgrs-lstng-container mt-4 pl-4">
  <div data-filterable-for="integration-filter-field" data-filterable-type="substring" class="clearfix">
    <%= render :partial => "integration_listings/integration", :collection => @listings,
      :as => :listing %>

    <div class="no-results <%= "d-none" unless @listings.empty? %> ml-4">
      <%= render Primer::BlankslateComponent.new(
        icon: "search",
        title: "We couldn’t find any GitHub Apps.",
      ) do %>
        <% if params[:feature] && params[:query] %>
          <p>Try searching across <%= link_to "all Apps", apps_path(:query => params[:query]), class: "Link--inTextBlock" %></p>
        <% else %>
          <p>Try adjusting your search or browse our categories.</p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="paginate-container">
    <%= will_paginate @listings %>
  </div>
  <div class="protip">
    <strong>Have a GitHub App you would like listed?</strong>
    <%= mail_to "partnerships@github.com", "Get in touch", class: "Link--inTextBlock" %>.
    <p>
      You can also register a new GitHub App in <%= link_to "settings", settings_user_installations_path, class: "Link--inTextBlock" %>.
    </p>
  </div>
</div>
