<%# rubocop:disable Lint/InstanceVariable %>
<% view = IntegrationListings::IndexView.new %>
<% page_info \
  :title => "GitHub Apps with #{@feature.name}",
  responsive: false,
  :class => "intgrs-dir",
  :stafftools => edit_devtools_apps_directory_path(@feature),
  :richweb => {
    :title => "GitHub Apps #{@feature.name}",
    :url => request.original_url,
    :description => @feature.body,
    :image => @listings.empty? ? image_path('modules/open_graph/github-logo.png') : oauth_application_logo_url(@listings.shuffle.pop.integration, 800)
  }
%>

<%= render Explore::HeadComponent.new %>

<div class="marketing-section intgrs-dir-intro">
  <div class="container"><%# erblint:disable DeprecatedCustomCss %>
    <div class="text-left intgr-feat-header">
      <h2>
        <div class="integrations-breadcrumb">
          <a href="<%= apps_path %>" class="integrations-breadcrumb-link" data-pjax>
            <div class="integrations-hero-octicon marketing-hero-octicon <%= view.category_color(@feature) %>">
              <%= primer_octicon(view.category_icon(@feature), size: :medium) %>
            </div> GitHub Apps
          </a> /
        </div>
        <%= @feature.name %>
        <% if site_admin? %><%= link_to edit_devtools_apps_directory_path(@feature), :class => "intgr-admin-link tooltipped tooltipped-s", :'aria-label' => "Edit feature" do %><%= primer_octicon(:pencil) %><% end %><% end %>
      </h2>
      <%= @feature.body_html %>
    </div>
  </div>
</div>
<div class="intgrs-dir-section">
  <div class="container"><%# erblint:disable DeprecatedCustomCss %>
    <%= render :partial => "integration_listings/nav", :locals => { :categories => view.categories, :filters => view.filters } %>

    <div id="integration-listing">
      <%= render :partial => "integration_listings/list" %>
    </div>
  </div>
</div>
