<%# rubocop:disable Lint/InstanceVariable %>
<% view = IntegrationListings::IndexView.new %>
<% page_info \
  :title => "GitHub Apps Directory",
  :class => "intgrs-dir",
  responsive: false,
  :richweb => {
    :title => "GitHub Apps directory",
    :url => request.original_url,
    :description => "GitHub integrates with hundreds of applications and services that help you and your team build software better, together.",
    :image => @listings.empty? ? image_path('modules/open_graph/github-logo.png') : oauth_application_logo_url(@listings.shuffle.pop.integration, 800)
  }
%>

<%= render Explore::HeadComponent.new %>

<div class="marketing-section intgrs-dir-intro">
  <div class="container-lg px-3">
    <% if @category %>
      <%= link_to "GitHub Apps Directory", apps_path, :class => "directory-header-back" %>
    <% else %>
    <div class="gutter d-flex">
      <div class="col-6">
        <h1 class="directory-header-back"><%= link_to "GitHub Apps Directory", apps_path, :class => "header-link" %></h1>
        <h2 class="directory-tag-line">Use your favorite tools with GitHub.</h2>
        <p class="lead">Powerful apps that help you and your team build software better, together.</p>
      </div>
      <div class="marketing-graphic col-6">
        <img alt="Code, collaborate, ship" src="<%= image_path "modules/integrations/integrations-directory-graphic.svg?v=1" %>" width="490" height="149">
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="intgrs-dir-section">
  <div class="container"><%# erblint:disable DeprecatedCustomCss %>
    <%= render :partial => "integration_listings/nav", :locals => { :categories => view.categories, :filters => view.filters } %>

    <div id="integration-listing">
      <%= render :partial => "integration_listings/list" %>
    </div>
  </div>
</div>
