<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay d-inline-block mb-2 mr-2">
  <%= render Primer::ButtonComponent.new(variant: :medium, tag: :summary, "aria-haspopup": "true", classes: "btn") do %>
    <i>Country of residence:</i> <%= filter.key?(:country_of_residence) ? filter[:country_of_residence].join(", ").titleize : "All" %>
    <span class="dropdown-caret"></span>
  <% end %>

  <div class="SelectMenu SelectMenu--hasFilter">
    <details-menu role="menu" class="SelectMenu" style="z-index: 99;" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="SelectMenu-modal">
        <header class="SelectMenu-header">
          <span class="SelectMenu-title">Filter by country or region of residence</span>
        </header>

        <%= form_with class: "SelectMenu-filter" do %>
          <input
            class="SelectMenu-input form-control js-filterable-field"
            id="country-of-residence-filter-field"
            type="text"
            autocomplete="off"
            spellcheck="false"
            autofocus
            placeholder="Enter country/region name"
            aria-label="Filter country of residence">
        <% end %>

        <div class="SelectMenu-list" data-filterable-for="country-of-residence-filter-field" data-filterable-type="substring">
          <%
            current_filter = filter.fetch(:country_of_residence, [])
            all_params = { query: query, order: order, filter: filter.except(:country_of_residence) }
          %>

          <a href="?<%= all_params.to_query %>" class="SelectMenu-item" <% if filter[:country_of_residence].blank? %>aria-checked="true"<% end%> role="menuitemcheckbox">
            <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
            All countries/regions
          </a>

          <%
            supported_selected = current_filter.include?("supported")
            supported_filter = supported_selected ? current_filter - ["supported"] : current_filter + ["supported"]
            supported_params = { query: query, order: order, filter: filter.merge(country_of_residence: supported_filter) }
          %>
          <a href="?<%= supported_params.to_query %>" class="SelectMenu-item" <% if supported_selected %>aria-checked="true"<% end%> role="menuitemcheckbox">
            <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
            All supported
          </a>

          <%
            unsupported_selected = current_filter.include?("unsupported")
            unsupported_filter = unsupported_selected ? current_filter - ["unsupported"] : current_filter + ["unsupported"]
            unsupported_params = { query: query, order: order, filter: filter.merge(country_of_residence: unsupported_filter) }
          %>
          <a href="?<%= unsupported_params.to_query %>" class="SelectMenu-item" <% if unsupported_selected %>aria-checked="true"<% end%> role="menuitemcheckbox">
            <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
            All unsupported
          </a>

          <%
            no_country_set_selected = current_filter.include?("none")
            no_country_set_filter = no_country_set_selected ? current_filter - ["none"] : current_filter + ["none"]
            no_country_set_params = { query: query, order: order, filter: filter.merge(country_of_residence: no_country_set_filter) }
          %>
          <a href="?<%= no_country_set_params.to_query %>" class="SelectMenu-item" <% if no_country_set_selected %>aria-checked="true"<% end%> role="menuitemcheckbox">
            <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
            No country/region set
          </a>

          <div class="SelectMenu-divider">By Country</div>

          <% Braintree::Address::CountryNames.map do |country_name, alpha2, _, _| %>
            <%
              country_value = alpha2.upcase
              current_filter = filter.fetch(:country_of_residence, [])
              currently_selected = current_filter.include?(country_value)

              new_filter = if currently_selected
                current_filter - [country_value]
              else
                current_filter + [country_value]
              end

              country_params = { query: query, order: order, filter: filter.merge(country_of_residence: new_filter) }
            %>
            <a href="?<%= country_params.to_query %>" class="SelectMenu-item" <% if currently_selected %>aria-checked="true"<% end%> role="menuitemcheckbox">
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
              <%= country_name.titleize %>
            </a>
          <% end %>
        </div>
      </div>
    </details-menu>
  </div>
</details>
