<%= render Primer::Beta::Details.new(overlay: :default, reset: true, display: :inline_block, mb: 2, mr: 2) do |component| %>
  <% component.with_summary do %>
    <i>Featured:</i>
    <% if filter.key?(:featured) %>
      <%= filter[:featured] == "1" ? "yes" : "no" %>
    <% else %>
      All
    <% end %>
    <span class="dropdown-caret"></span>
  <% end %>
  <% component.with_body do %>
    <div class="SelectMenu SelectMenu--hasFilter">
      <details-menu role="menu" class="SelectMenu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
          <header class="SelectMenu-header">
            <span class="SelectMenu-title">Filter by featured state</span>
          </header>

          <div class="select-menu-list">
            <% all_params = { query: query, order: order, filter: filter.merge(featured: nil) } %>
            <a href="?<%= all_params.to_query %>" class="<%= class_names(
              "select-menu-item",
              "selected" => filter[:featured] == "all" || filter[:featured].blank?,
            ) %>">
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text">All maintainers</span>
            </a>

            <% featured_params = { query: query, order: order, filter: filter.merge(featured: 1, state: "approved", ignored: "all") } %>
            <a href="?<%= featured_params.to_query %>" class="<%= class_names(
              "select-menu-item",
              "selected" => filter[:featured] == "1",
            ) %>">
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text">Featured</span>
            </a>

            <% non_featured_params = { query: query, order: order, filter: filter.merge(featured: 0, state: "approved", ignored: "all") } %>
            <a href="?<%= non_featured_params.to_query %>" class="<%= class_names(
              "select-menu-item",
              "selected" => filter[:featured] == "0",
            ) %>">
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text">Not featured</span>
            </a>
          </div>
        </div>
      </details-menu>
    </div>
  <% end %>
<% end %>
