<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay select-menu d-inline-block mb-2 mr-2">
  <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
    <i>Fiscal host:</i>
    <% if filter.key?(:fiscal_host) %>
      <%= filter[:fiscal_host].join(", ") %>
    <% else %>
      All
    <% end %>
  <% end %>

  <details-menu role="menu" class="select-menu-modal position-absolute" style="z-index: 99;" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by fiscal host</span>
    </div>

    <div class="select-menu-list">
      <% all_params = { query: query, order: order, filter: filter.except(:fiscal_host) } %>
      <a href="?<%= all_params.to_query %>" class="select-menu-item <% if filter[:fiscal_host].blank? %>selected<% end%>">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <span class="select-menu-item-text">All fiscal hosts</span>
      </a>

      <% current_filter = filter.fetch(:fiscal_host, []) %>

      <%
        currently_selected = current_filter.include?("none")

        new_filter = if currently_selected
          current_filter - ["none"]
        else
          current_filter + ["none"]
        end

        host_params = { query: query, order: order, filter: filter.merge(fiscal_host: new_filter) }
      %>
      <a href="?<%= host_params.to_query %>" class="select-menu-item <% if currently_selected %>selected<% end%>">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <span class="select-menu-item-text">None</span>
      </a>

      <% fiscal_host_listings.each do |fh_listing| %>
        <%
          currently_selected = current_filter.include?(fh_listing.sponsorable_login)

          new_filter = if currently_selected
            current_filter - [fh_listing.sponsorable_login]
          else
            current_filter + [fh_listing.sponsorable_login]
          end

          host_params = { query: query, order: order, filter: filter.merge(fiscal_host: new_filter) }
        %>
        <a href="?<%= host_params.to_query %>" class="select-menu-item <% if currently_selected %>selected<% end%>">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <span class="select-menu-item-text">
            <% if (fh_profile_name = fh_listing.sponsorable.profile_name).present? %>
              <%= fh_profile_name %>
            <% else %>
              <%= fh_listing.sponsorable_login %>
            <% end %>
          </span>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>
