<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay select-menu d-inline-block mb-2 mr-2">
  <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
    <i>Ignored:</i>
    <% if filter[:ignored] == "all" %>
      All
    <% else %>
      <%= filter[:ignored] == "1" ? "yes" : "no" %>
    <% end %>
  <% end %>

  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by ignore status</span>
    </div>

    <div class="select-menu-list">
      <% all_params = { query: query, order: order, filter: filter.merge(ignored: "all") } %>
      <a href="?<%= all_params.to_query %>" class="select-menu-item <% if filter[:ignored] == "all" %>selected<% end%>">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <span class="select-menu-item-text">All users</span>
      </a>

      <% ignored_params = { query: query, order: order, filter: filter.merge(ignored: 1) } %>
      <a href="?<%= ignored_params.to_query %>" class="select-menu-item <% if filter[:ignored] == "1" %>selected<% end%>">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <span class="select-menu-item-text">Ignored</span>
      </a>

      <% non_ignored_params = { query: query, order: order, filter: filter.merge(ignored: 0) } %>
      <a href="?<%= non_ignored_params.to_query %>" class="select-menu-item <% if filter[:ignored] == "0" %>selected<% end%>">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <span class="select-menu-item-text">Not ignored</span>
      </a>
    </div>
  </details-menu>
</details>
