<%= render Primer::Beta::Details.new(overlay: :default, reset: true, display: :inline_block, mb: 2, mr: 2) do |component| %>
  <% component.with_summary do %>
    <i>Matchable:</i>
    <% if filter.key?(:matchable) %>
      <%= filter[:matchable] == "1" ? "Matchable" : "Not matchable" %>
    <% else %>
      All
    <% end %>
    <span class="dropdown-caret"></span>
  <% end %>
  <% component.with_body do %>
    <div class="SelectMenu SelectMenu--hasFilter position-relative">
      <details-menu role="menu" class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
          <header class="SelectMenu-header">
            <span class="SelectMenu-title">Filter by matchable status</span>
          </header>

          <div class="select-menu-list">
            <% all_params = { query: query, order: order, filter: filter.except(:matchable) } %>
            <a href="?<%= all_params.to_query %>" class="select-menu-item <% if filter[:matchable].blank? %>selected<% end%>">
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text">All</span>
            </a>

            <% matchable_params = { query: query, order: order, filter: filter.merge(matchable: 1) } %>
            <a href="?<%= matchable_params.to_query %>" class="select-menu-item <% if filter[:matchable] == "1" %>selected<% end%>">
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text">Matchable</span>
            </a>

            <% not_matchable_params = { query: query, order: order, filter: filter.merge(matchable: 0) } %>
            <a href="?<%= not_matchable_params.to_query %>" class="select-menu-item <% if filter[:matchable] == "0" %>selected<% end%>">
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text">Not matchable</span>
            </a>
          </div>
        </div>
      </details-menu>
    </div>
  <% end %>
<% end %>
