<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="position-relative">
  <details class="details-reset details-overlay" id="sponsors-listings-sort-menu">
    <%= render Primer::ButtonComponent.new(
      tag: :summary,
      scheme: :link,
      "aria-haspopup": "true",
      test_selector: "selected-sort",
      classes: "Link--secondary",
      font_size: 5,
    ) do %>
      <i>Sort by:</i>
      <%= Stafftools::SponsorsHelper::LISTING_SORT_OPTIONS[order] || order %>
      <span class="dropdown-caret"></span>
    <% end %>

    <details-menu class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="SelectMenu-modal">
        <header class="SelectMenu-header">
          <span class="SelectMenu-title">Sort maintainers by:</span>
          <button class="SelectMenu-closeButton" type="button" data-toggle-for="sponsors-listings-sort-menu">
            <%= primer_octicon(:x, "aria-label": "Close menu") %>
          </button>
        </header>
        <div class="SelectMenu-list">
          <% Stafftools::SponsorsHelper::LISTING_SORT_OPTIONS.each do |order_value, order_description| %>
            <a href="?<%= { query: query, filter: filter, order: order_value }.to_query %>" class="SelectMenu-item" role="menuitemcheckbox"<% if order_value == order %> aria-checked="true"<% end %>>
              <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
              <%= order_description %>
            </a>
          <% end %>
        </div>
      </div>
    </details-menu>
  </details>
</div>
