<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay select-menu d-inline-block mb-2 mr-2">
  <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
    <i>Spammy:</i>
    <% if filter[:spammy] == "all" %>
      All
    <% else %>
      <%= filter[:spammy] == "1" ? "yes" : "no" %>
    <% end %>
  <% end %>

  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by spammy activity</span>
    </div>

    <div class="select-menu-list">
      <% all_params = { query: query, order: order, filter: filter.merge(spammy: "all") } %>
      <a href="?<%= all_params.to_query %>" class="<%= class_names(
        "select-menu-item",
        "selected" => filter[:spammy] == "all",
      ) %>">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <span class="select-menu-item-text">All users</span>
      </a>

      <% spammy_params = { query: query, order: order, filter: filter.merge(spammy: 1) } %>
      <a href="?<%= spammy_params.to_query %>" class="<%= class_names(
        "select-menu-item",
        "selected" => filter[:spammy] == "1",
      ) %>">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <span class="select-menu-item-text">Spammy</span>
      </a>

      <% non_spammy_params = { query: query, order: order, filter: filter.merge(spammy: 0) } %>
      <a href="?<%= non_spammy_params.to_query %>" class="<%= class_names(
        "select-menu-item",
        "selected" => filter[:spammy] == "0",
      ) %>">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <span class="select-menu-item-text">Non-spammy</span>
      </a>
    </div>
  </details-menu>
</details>
