<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay select-menu d-inline-block mb-2 mr-2">
  <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
    <i>State:</i> <%= filter.key?(:state) ? filter[:state].humanize : "All" %>
  <% end %>

  <details-menu role="menu" class="select-menu-modal position-absolute" style="z-index: 99;" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by state</span>
    </div>

    <div class="select-menu-list">
      <% all_params = { query: query, order: order, filter: filter.merge(state: "all") } %>
      <a href="?<%= all_params.to_query %>" class="select-menu-item <% if filter[:state] == "all" %>selected<% end%>">
        <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
        <span class="select-menu-item-text">All states</span>
      </a>

      <% SponsorsListing.workflow_spec.state_names.each do |state| %>
        <% state_params = { query: query, order: default_order_for_sponsors_listing_state(state, order), filter: filter.merge(state: state) } %>
        <a href="?<%= state_params.to_query %>" class="select-menu-item <% if filter[:state] == state.to_s %>selected<% end%>">
          <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
          <span class="select-menu-item-text"><%= state.to_s.humanize %></span>
        </a>
      <% end %>

      <% SponsorsListing.workflow_spec.state_names.each do |state| %>
        <% state_params = { query: query, order: order, filter: filter.merge(state: "not_#{state}") } %>
        <a href="?<%= state_params.to_query %>" class="select-menu-item <% if filter[:state] == "not_#{state}" %>selected<% end%>">
          <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
          <span class="select-menu-item-text">Not <%= state.to_s.humanize.downcase %></span>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>
