<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Subversion" %>

<div class="boxed-group">
  <h3>Subversion</h3>
  <div class="boxed-group-inner">
    <h4>Status</h4>
    <p>
      <% if @svn_in_use %>
        <%= primer_octicon(:ellipsis) %> This repository has been accessed via Subversion.
      <% else %>
        This repository has not been accessed via Subversion.
      <% end %>
    </p>
    <hr>
    <h4>Block</h4>
    <% if @svn_status == :offline %>
      <p>
        <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
        SVN status unknown
      </p>
    <% else %>
      <%= form_tag toggle_blocked_stafftools_repository_svn_path do %>
        <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>
          <%= @svn_blocked ? "Allow" : "Block" %>
        <% end %>
      <% end %>
      <p>
        Prevents use of subversion tools to access this repository.<br>
        Subversion access is currently <strong><%= @svn_blocked ? "blocked" : "allowed" %></strong>.<br>
        If subversion is blocked, subversion users will see this message:

        <div class="Box">
          <div class="Box-body overflow-x-scroll">
            <pre><code>$ svn ls <%= current_repository.svn_url %>
  svn: E000000: Unable to connect to a repository at URL '<%= current_repository.svn_url %>'
  svn: E000000: SVN access is disabled. <%= @support_contact %>.</code></pre>
          </div>
        </div>
      </p>
    <% end %>

    <hr>
    <h4>Debug</h4>
    <%= form_tag toggle_debug_stafftools_repository_svn_path do %>
      <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>
        <%= @svn_debugging ? "Stop Debugging" : "Debug" %>
      <% end %>
    <% end %>
    <p>
      Logs full request details for every SVN request made to this repository.<br>
      Debug logging is currently <strong><%= @svn_debugging ? "enabled" : "disabled" %></strong>.
    </p>
  </div>
</div>
