<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
name = 'Code Search Index (blackbird)'
%>
<%
view = Stafftools::RepositoryViews::Search::CodesearchView.new(:repository => repository)
%>

<%= form_tag gh_reindex_blackbird_stafftools_repository_path(repository), :method => 'post' do %>
  <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>Index Repository's Code<% end %>
<% end %>

<%= form_tag gh_reindex_org_blackbird_stafftools_repository_path(repository), :method => 'post' do %>
  <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>Index Organization's Code<% end %>
<% end %>
<h4 class="attention"><%= primer_octicon(:alert, mr: 1, classes: "error") %><%= name %></h4>
<p><%= view.reindex_reason %></p>
