<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%
  name = 'Commits Index'
  view = Stafftools::RepositoryViews::Search::CommitsView.new(:repository => repository)
%>
<% if view.purge? %>
  <%= form_tag gh_purge_commits_stafftools_repository_path(repository), :method => 'post' do %>
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, classes: "boxed-action") do %>Purge Commits<% end %>
  <% end %>
  <h4 class="attention"><%= primer_octicon(:alert, mr: 1, classes: "error") %><%= name %></h4>
  <p><%= view.purge_reason %></p>
<% elsif view.reindex? %>
  <%= form_tag gh_reindex_commits_stafftools_repository_path(repository), :method => 'post' do %>
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, classes: "boxed-action") do %>Reindex Commits<% end %>
  <% end %>
  <h4 class="attention"><%= primer_octicon(:alert, mr: 1, classes: "error") %><%= name %></h4>
  <p><%= view.reindex_reason %></p>
<% elsif view.repository.fork? %>
  <h4><%= name %></h4>
  <p>Commit indexing is not supported for forks.</p>
<% elsif view.searchable? %>
  <%= form_tag gh_reindex_commits_stafftools_repository_path(repository), :method => 'post' do %>
    <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>Reindex Commits<% end %>
  <% end %>
  <h4><%= name %></h4>
  <p>The search index contains <%= pluralize(view.document_count, 'commit') %>.</p>
<% else %>
  <h4><%= name %></h4>
  <p>The search index is up to date. No action needs to be taken.</p>
<% end %>
