<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%
  name = 'Wiki Index'
  view = Stafftools::RepositoryViews::Search::WikiView.new(:repository => repository)
%>
<% if view.purge? %>
  <%= form_tag gh_purge_wiki_stafftools_repository_path(repository), :method => 'post' do %>
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, classes: "boxed-action") do %>Purge Wiki<% end %>
  <% end %>
  <h4 class="attention"><%= primer_octicon(:alert, mr: 1, classes: "error") %><%= name %></h4>
  <p><%= view.purge_reason %></p>
<% elsif view.reindex? %>
  <%= form_tag gh_reindex_wiki_stafftools_repository_path(repository), :method => 'post' do %>
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, classes: "boxed-action") do %>Reindex Wiki<% end %>
  <% end %>
  <h4 class="attention"><%= primer_octicon(:alert, mr: 1, classes: "error") %><%= name %></h4>
  <p><%= view.reindex_reason %></p>
<% elsif view.searchable? %>
  <%= form_tag gh_reindex_wiki_stafftools_repository_path(repository), :method => 'post' do %>
    <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>Reindex Wiki<% end %>
  <% end %>
  <h4><%= name %></h4>
  <p>The search index appears to be up to date.</p>
<% else %>
  <h4><%= name %></h4>
  <p>The search index is up to date. No action needs to be taken.</p>
<% end %>
