<details class="details-reset details-overlay <%= details_classes %>" id="<%= select_menu_id %>">
  <%= summary %>
  <%# z-index setting below is to prevent reaction button from bleeding through this dropdown menu %>
  <details-menu class="SelectMenu text-md-left <%= details_menu_classes %>" style="z-index: 500"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <span class="SelectMenu-title"><%= header %></span>
        <button class="SelectMenu-closeButton" type="button" data-toggle-for="<%= select_menu_id %>">
          <%= primer_octicon(:x, aria: {label: "Close menu", hidden: false}) %>
        </button>
      </header>

      <div class="SelectMenu-filter">
        <input
          aria-label="<%= placeholder%>"
          autofocus
          class="SelectMenu-input form-control"
          data-ref-filter
          placeholder="<%= placeholder%>"
          type="text"
          <% if selector? %>
            value="<%= tag_name %>"
          <% end %>>
      </div>

      <ref-selector
        type="tag"
        query-endpoint="<%= tags_query_url %>"
        cache-key="<%= ref_list_cache_key %>"
        current-committish="<%= encoded_commitish %>"
        default-branch="<%= encoded_default_branch %>"
        <%= "initial-filter" if selector? %>
        name-with-owner="<%= encoded_name_with_owner %>"
        <%= "can-create" if can_create? %>
        prefetch-on-mouseover
      >
        <template data-target="ref-selector.fetchFailedTemplate">
          <div class="SelectMenu-message" data-index="{{ index }}">Could not load tags</div>
        </template>

        <template data-target="ref-selector.noMatchTemplate">
          <% if can_create? %>
            <label class="SelectMenu-item text-bold" tabindex="0" role="menuitemradio" data-index="{{ index }}">
              <input checked="{{ isCurrent }}" hidden name="<%= input_object_name %>[<%= input_field_name%>]" type="radio" value="{{ refName }}"><%# erblint:disable BooleanAttributes %>
              <%= primer_octicon(:plus, classes: 'SelectMenu-icon') %>
              <span class="mr-1">Create new tag:</span>
              <span data-menu-button-text>{{ refName }}</span>
              <span class="text-normal ml-1 color-fg-muted">on publish</span>
            </label>
          <% else %>
            <div class="SelectMenu-message" data-index="{{ index }}">Nothing to show</div>
          <% end %>
        </template>

        <% if selector? %>
          <%= render partial: "refs/list_item_template/radio_button", locals: { input_object_name: input_object_name, input_field_name: input_field_name } %>
        <% else %>
          <%= render partial: "refs/list_item_template/default", locals: { ref_path_template: tag_url_template } %>
        <% end %>

        <template data-target="ref-selector.hiddenCurrentItemTemplate">
          <%= radio_button input_object_name, input_field_name, "{{ refName }}", hidden: true, checked: true %>
        </template>

        <div data-target="ref-selector.listContainer" role="menu" class="SelectMenu-list" style="max-height: 330px">
          <% if selector? && tag_name %>
            <%# If used as a field picker, add input for current value to be used while the picker is not dropped down %>
            <%= radio_button input_object_name, input_field_name, tag_name, hidden: true, checked: true %>
          <% end %>
          <div class="SelectMenu-loading pt-3 pb-0 overflow-hidden">
            <%= render(Primer::Beta::Spinner.new(size: :medium)) %>
          </div>
        </div>
        <% unless hide_footer %>
          <footer class="SelectMenu-footer"><%= link_to "View all tags", all_tags_url %></footer>
        <% end %>
      </ref-selector>
    </div>
  </details-menu>
</details>
