<dl <%= test_selector("errored-branch-renames") %>>
  <dt>Failed branch renames</dt>
  <dd>
    <ul class="list-style-none">
      <% renames.each_with_index do |rename, i| %>
        <li class="<%= class_names(
          "mt-2 border-top pt-2" => i > 0
        ) %>">
          <% if rename.user %>
            <%= link_to rename.user, stafftools_user_path(rename.user) %>
          <% else %>
            A deleted user
          <% end %>
          tried <%= time_ago_in_words_js rename.created_at %>
          to rename branch <span class="commit-ref user-select-contain"><%= rename.old_name_for_display %></span>
          to <span class="commit-ref user-select-contain"><%= rename.new_name_for_display %></span>:<br>
          <em><%= rename.human_error_reason %></em> (<code><%= rename.error_reason %></code>)
        </li>
      <% end %>
    </ul>
  </dd>
</dl>
