<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="boxed-group" <%= test_selector("releases-stafftools")%> >
  <h3>Releases</h3>
  <div class="boxed-group-inner">
    <% unless GitHub.enterprise? %>
      <%= form_tag gh_toggle_anonymous_release_download_stafftools_repository_path(view.repository), method: :post do %>
        <% if view.repository.anonymous_release_download_disabled? %>
          <input type="hidden" name="enable_anonymous_release_download" value="1">
          <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>Enable<% end %>
        <% else %>
          <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>Disable<% end %>
        <% end %>
      <% end %>
      <h4 <%= test_selector("toggle-anonymous-release-download") %>>Toggle anonymous release asset download</h4>
      <p>Enable/disable anonymous downloads of release assets in this repository. This does not apply to source code archives.</p>
      <hr>
    <% end %>
  </div>
</div>
