<% if view.show_token_scanning? %>
  <div class="boxed-group" <%= test_selector("secret-scanning-stafftools")%> >
    <h3>Secret scanning</h3>
      <div class="boxed-group-inner">
        <%= form_tag gh_toggle_token_scanning_stafftools_repository_path(view.repository), method: :post do %>
          <% if view.token_scanning_features.staff_network_disabled? %>
            <%= render Primer::Beta::Button.new(classes: "boxed-action disabled") do %>Disabled for network<% end %>
          <% elsif view.token_scanning_features.staff_disabled? %>
            <input type="hidden" name="enable_token_scanning" value="1">
            <%= render Primer::Beta::Button.new(type: :submit, classes: "boxed-action") do %>Enable<% end %>
          <% else %>
            <%= render Primer::Beta::Button.new(type: :submit, classes: "boxed-action") do %>Disable<% end %>
          <% end %>
        <% end %>
        <h4 <%= test_selector("toggle-secret-scanning") %>>Toggle secret scanning</h4>
        <p>Enable/disable the use of secret scanning on this repository.</p>
        <hr>
        <%= form_tag gh_toggle_token_scanning_stafftools_repository_path(view.repository), method: :post do %>
          <input type="hidden" name="apply_enable_token_scanning_to_network" value="1">
          <% if view.token_scanning_features.staff_network_disabled? %>
            <input type="hidden" name="enable_token_scanning" value="1">
            <%= render Primer::Beta::Button.new(type: :submit, classes: "boxed-action") do %>Enable for network<% end %>
          <% else %>
            <%= render Primer::Beta::Button.new(type: :submit, classes: "boxed-action") do %>Disable for network<% end %>
          <% end %>
        <% end %>
        <h4 <%= test_selector("network-toggle-secret-scanning") %>>Toggle secret scanning for Network</h4>
        <p>Enable/disable the use of secret scanning on this repository and all networked repositories (i.e. forks).</p>
        <hr>
      </div>
  </div>
<% end %>
