<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<h2 class="site-admin-subhead-heading">Abuse Reports</h2>
<div class="Box">
  <% if total_count > 0 %>
    <div class="Box">
      <% abuse_reports.each do |report| %>
        <% reported_content = report.reported_content_for(user) %>
        <% if reported_content.nil? %>
          <div class="Box-row p-3 pl-3">
            <div class="d-flex flex-justify-between">
              <div class="note color-fg-muted">
                Reported
                <% unless report.reason.upcase == "UNSPECIFIED" %>
                  as <strong><%= report.reason.humanize(capitalize: false) %></strong>
                <% end %>
                <%= time_ago_in_words_js report.created_at %>
                by <%= profile_link(report.reporting_user, class: "color-fg-default text-bold") %>.
                <br><i>This content has been deleted.</i>
              </div>
            </div>
            <div class="d-flex">
              <%= linked_avatar_for(report.reported_user, 20) %>
              <div class="pl-2">
                <%= profile_link(report.reported_user, class: "color-fg-default text-bold") %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="Box-row p-3 pl-3">
            <div class="d-flex flex-justify-between">
              <div class="note color-fg-muted">
                Reported
                <% unless report.reason.upcase == "UNSPECIFIED" %>
                  as <strong><%= report.reason.humanize(capitalize: false) %></strong>
                <% end %>
                <%= time_ago_in_words_js report.created_at %>
                by <%= profile_link(report.reporting_user, class: "color-fg-default text-bold") %>. This report is <span class="text-bold"><%= report.resolved ? "resolved" : "unresolved" %></span>.
                <br>This content has been reported <%= reported_content.report_count %> <%= "time".pluralize(report.reported_content.report_count) %> total.
              </div>
              <a href="<%= reported_content.url %>" class="btn-link" >View content</a>
            </div>
            <div class="d-flex">
              <%= linked_avatar_for(report.reported_user, 20) %>
              <div class="pl-2">
                <%= profile_link(report.reported_user, class: "color-fg-default text-bold") %>
                <a href="<%= reported_content.url %>" class="color-fg-muted ml-1"><%= time_ago_in_words_js report.reported_content.created_at %></a>
              </div>
            </div>
            <div>
              <%= reported_content.async_truncated_body_html(150).sync %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
     <%= simple_paginate(abuse_reports) %>
    </div>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        There aren't any abuse reports for this repository.
      <% end %>
    <% end %>
  <% end %>
</div>
