<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% view = Stafftools::RepositoryViews::DatabaseView.new(:repository => current_repository) %>

<% page_info :title => view.page_title %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Database record<% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% view.columns.each do |column| %>
    <% component.with_row(display: :flex) do %>
      <% if view.association? column %>
        <span class="col-4 text-bold">
          <%= view.association_title column %>
        </span>
        <span class="col-8">
          <% value = view.association_value(column) %>
          <% if view.is_user? value %>
            <%= link_to value, stafftools_user_path(value) %>
          <% elsif view.is_repo? value %>
            <%= link_to value.name_with_owner,
                        gh_stafftools_repository_path(value) %>
          <% else %>
            N/A
          <% end %>
        </span>
      <% else %>
        <span class="col-4 text-bold">
          <%= column %>
        </span>
        <span class="col-8">
          <%= view.human_value(column) %>
          <% if column == "stargazer_count" %>
            &mdash;
            <%= form_tag stafftools_repository_star_counts_path(current_repository.owner_login, current_repository), class: "d-inline" do %>
              <%= render Primer::ButtonComponent.new(
                type: :submit,
                scheme: :link,
              ).with_content("Recalculate") %>
            <% end %>
          <% end %>
        </span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
