<%# rubocop:disable Lint/InstanceVariable %>
<% view = Stafftools::RepositoryViews::EventsView.new(:repository => current_repository, :page_param => @page_param) %>

<% page_info :title => view.page_title %>

<div class="boxed-group">
  <h3>Repository Events</h3>
  <div class="boxed-group-inner">
    <p>
      These are the dashboard feed events associated with this repository.
      They may show up in public feeds and organization dashboards, depending
      on the repository’s permissions.
    </p>
    <ul class="boxed-group-list">
      <% view.repo_events.each do |event| %>
        <li>
          <%= time_ago_in_words_js event.created_at %>
          <strong><%= event.event_type %></strong>
          <%= event.sender['login'] %>
        </li>
      <% end %>
    </ul>

    <% if view.multiple_pages? %>
      <p>
        <% if view.events_page > 1 %>
          <%= link_to("Previous", :events_page => view.prev_page) %>
          <%= "|" unless view.on_last_page? %>
        <% end %>
        <%= link_to("Next", :events_page => view.next_page) unless view.on_last_page? %>
      </p>
    <% end %>
  </div>
</div>

<div class="boxed-group dangerzone">
  <h3>Danger Zone</h3>
  <div class="boxed-group-inner">
    <%= render(Primer::Experimental::Dialog.new(
      dialog_id: "purge-events-dialog",
      header_variant: :large,
      width: :large,
      title: "Purge events",
      form_url: gh_purge_events_stafftools_repository_path(current_repository),
      form_method: :delete
    )) do |c| %>
      <% c.with_show_button(
        color: :danger,
        classes: "boxed-action"
      ) do |s| %>
        Purge events
      <% end %>
      <% c.with_body do %>
        <p>
          Are you sure you want to remove this repository’s events from the
          system and all timelines? <strong>This action cannot be undone.</strong>
        </p>
      <% end %>
      <% c.with_button(
        data: { "close-dialog-id": "purge-events-dialog" }
      ) { "Cancel" } %>
      <% c.with_button(
        type: :submit,
        scheme: :danger,
        data: { "disable-with": "" }
      ) { "Delete events" } %>
    <% end %>

    <h4>Purge events</h4>
    <p>Purge all events from this repository.</p>
  </div>
</div>
