<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Repositories
    <% end %>
    <% component.with_actions do %>
      <details class="select-menu details-reset details-overlay position-relative d-inline-block">
        <%= render(Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button")) do |_| %>
          <i>Filter:</i>
          <span data-menu-button><%= view.selected_filter_label %></span>
        <% end %>
        <details-menu class="select-menu-modal position-absolute right-0" style="z-index:99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Filter options</span>
          </div>

          <div class="select-menu-list">
            <% view.filter_labels.each do |value, label| %>
              <a class="select-menu-item" role="menuitemcheckbox" aria-checked="<%= view.selected_filter == value %>" href="<%= request.path %>?filter=<%= value %>">
                <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                <span class="select-menu-item-text" data-menu-button-text><%= label %></span>
              </a>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>
  <% end %>

  <% if repos.empty? %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No repositories found
      <% end %>
    <% end %>
  <% else %>
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed, classes: "repositories")) do |component| %>
      <% repos.each do |repo| %>
        <% component.with_row(classes: view.repo_li_css(repo)) do %>
          <span class="float-right">
            <%= time_ago_in_words_js repo.created_at %>
          </span>

          <%= primer_octicon(view.repo_span_symbol(repo).to_sym) %>
          <%= link_to repo.name_with_owner, gh_stafftools_repository_path(repo) %>
          <small><%= repo.human_disk_usage %></small>
          <% if view.anonymous_git_access_enabled_for_repo?(repo) %>
            <a href="<%= gh_admin_stafftools_repository_path(repo) %>"
              class="color-fg-default">
              <%= primer_octicon(:unmute, :"aria-label" => "Anonymous Git read access is enabled for this repository") %>
            </a>
          <% end %>

          <% if repo.fork? && repo.parent %>
            <div class="text-small lh-condensed-ultra no-wrap">
              Forked from <%= link_to repo.parent.name_with_owner, gh_stafftools_repository_path(repo.parent), class: "Link--inTextBlock" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <div class="paginate-container">
      <%= will_paginate repos %>
    </div>
  <% end %>
<% end %>
