<% page_info :title => view.page_title %>

<div class="boxed-group">
  <h3>Notifications</h3>
    <div class="boxed-group-inner">
      <h4><%= view.description %></h4>
      <% if time = view.before_time %>
      <p>
        Viewing notifications from before <strong><%= time.utc.to_formatted_s(:short) %> UTC</strong> (switch to <%= link_to "most recent", view.latest_notifications_params, class: "Link--inTextBlock" %> instead).
      </p>
      <% end %>
      <% if view.clear_filters? %>
      <p>
        <% if view.user? %>
          <%= link_to view.user_settings_title, stafftools_user_emails_path(view.user) %> /
        <% end %>
        <%= link_to view.all_notifications_title, view.all_notifications_params %>
      </p>
      <% end %>
      <p>
        Handlers:
        <%= view.handler_link %> |
        <%= view.handler_link :web %> |
        <%= view.handler_link :email %> |
        <%= view.handler_link "mobile-push" %>
      </p>

      <hr>

      <ul class="boxed-group-list standalone">
      <% view.notifications.each do |notif| %>
        <li <%= test_selector(notif[:comment_key].gsub(";", "-"), name: "delivered-for") %>>
          <%= avatar_for view.repository.owner, 20 %>
          <%= link_to view.repository.name_with_owner, notif[:repo_params] %>
          /
          <%= link_to notif[:thread_key], notif[:thread_params] %> <%= view.extra_thread_info(notif[:thread_key]) %>
          /
          <%= link_to notif[:comment_key], notif[:comment_params] %>
          <% view.recipients_for_notification(notif).each do |recip| %>
            <p class='small indented' <%= test_selector("#{recip.user}-via-#{recip.handler}", name: "delivered-to") %>>
              delivered to
              <% if recip.user %>
                <%= link_to recip.user.login, view.user_params(recip) %>
              <% else %>
                <strong>deleted user</strong>
              <% end %>
              via <strong><%= recip.handler %></strong>
              @ <%= recip.delivered_at.to_formatted_s(:short) %>
              because <strong><%= recip.reason %></strong>
            </p>
          <% end %>
        </li>
      <% end %>
      </ul>

    <% if view.next_page? %>
      <p><%= link_to 'View older', view.next_page_params %></p>
    <% end %>
    </div>
</div>
