<div class="boxed-group">
  <h3>Search Index Information</h3>
  <div class="boxed-group-inner">
    <%= render "stafftools/repositories/search/repository", repository: current_repository %>
    <hr>
    <%=
      if GitHub.flipper[:react_code_search_enabled].enabled?
        render "stafftools/repositories/search/blackbird", repository: current_repository
      else
        render "stafftools/repositories/search/codesearch", repository: current_repository
      end
    %>
    <hr>
    <%= render "stafftools/repositories/search/commits", repository: current_repository %>
    <hr>
    <%= render(
      Stafftools::Repositories::SearchIndexes::DiscussionsComponent.new(
        repository: current_repository,
      ),
    ) %>
    <hr>
    <%= render "stafftools/repositories/search/issues", repository: current_repository %>
    <hr>
    <%= render "stafftools/repositories/search/pull_requests", repository: current_repository %>
    <hr>
    <%= render "stafftools/repositories/search/projects", repository: current_repository %>
    <hr>
    <%= render "stafftools/repositories/search/releases", repository: current_repository %>
    <hr>
    <%= render "stafftools/repositories/search/wiki", repository: current_repository %>
  </div>
</div>
