<% view = Stafftools::RepositoryViews::SecurityView.new(:current_user => current_user, :repository => current_repository) %>

<% page_info :title => view.page_title %>

<div class="boxed-group">
  <h3>Audit log</h3>
  <div class="boxed-group-inner">

    <h4>Search audit log</h4>
    <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
      <p>
        <%= link_to "Search logs",
            stafftools_audit_log_path(:query => view.audit_query),
            class: "Link--inTextBlock" %>
            for actions involving
        <strong><%= current_repository.name_with_owner %></strong>.
      </p>
    <% else %>
      <p><%= stafftools_not_authorized_html %></p>
    <% end %>
  </div>
</div>

<div class="boxed-group">
  <h3>Repository Settings</h3>
  <div class="boxed-group-inner">
    <h4>Allow private repository forking</h4>
    <p>
      <% if !current_repository.private_repository_forking_configurable? %>
        <b>On</b> - Forking for this repository cannot be restricted.
      <% elsif current_repository.allow_private_repository_forking? %>
        <b>On</b> — This repository can be forked by users with access.
      <% else %>
        <b>Off</b> - This repository cannot be forked.
      <% end %>
    </p>
  </div>
</div>

<% if view.unlockable? %>
  <%= render partial: "stafftools/repositories/security/privileged_access", locals: { view: view } %>
<% end %>

<% if view.unlocked_by_staffer? %>
  <%= render partial: "stafftools/repositories/security/cancel_unlock", locals: { view: view } %>
<% end %>