<% page_info title: "#{current_repository.name_with_owner} - Topics" %>

<div class="site-admin-unboxed">
  <% if repo_topics.empty? %>
    <p>No one has applied or declined any topics for this repository yet.</p>
  <% else %>
    <table class="site-admin-table">
      <thead>
        <tr>
          <th>Topic</th>
          <th>State</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <% repo_topics.each do |repo_topic| %>
          <% topic = repo_topic.topic %>
          <tr>
            <td>
              <a href="<%= stafftools_topic_path(topic.name) %>" aria-label="<%= topic.flagged? ? "#{topic.name} has been flagged" : topic.name %>">
                <% if topic.flagged? %>
                  <span>
                    <%= primer_octicon(:alert) %>
                  </span>
                <% end %>
                <%= topic.name %>
              </a>
            </td>
            <td>
              <% if repo_topic.applied? %>
                <%= primer_octicon(:check, color: :success) %>
                <%= repo_topic.state.humanize %>
              <% else %>
                <%= primer_octicon(:x, color: :danger) %>
                Declined,
                <%= repo_topic.state.split("declined_").last.humanize.downcase %>
              <% end %>
            </td>
            <td><%= repo_topic.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
