<%# erblint:counter LabelComponentMigrationCounter 2 %>
<%
  subscription_params = params.slice(:sort, :reason, :repository).permit(:sort, :reason, :repository).to_h
  show_selected_filters = reason || repository
%>

<% if show_selected_filters %>
  <div class="Box-body d-flex pr-2">
    <div class="flex-auto">
      <% if reason %>
        <span class="d-inline-block Label Label--secondary">
          <span class="d-inline-block pl-2 py-1">
            <span class="text-normal">Reason:</span> <%= reason.titleize %>
          </span>
          <%= link_to subscription_params.merge(reason: nil), class: "d-inline-block Link--primary px-2 py-1", "data-pjax" => true do %>
            <%= primer_octicon(:x, "aria-label": "Clear reason filter") %>
          <% end %>
        </span>
        &nbsp;
      <% end %>

      <% if repository %>
        <span class="d-inline-block Label Label--secondary" <%= test_selector("repository-filter-label") %>>
          <span class="d-inline-block pl-2 py-1">
            <span class="text-normal">Repository:</span> <%= repository.name_with_display_owner %>
          </span>
          <%= link_to subscription_params.merge(repository: nil), class: "d-inline-block Link--primary px-2 py-1", "data-pjax" => true do %>
            <%= primer_octicon(:x, "aria-label": "Clear repository filter") %>
          <% end %>
        </span>
        &nbsp;
      <% end %>
    </div>

    <div>
      <span class="d-inline-block">
        <%= link_to subscription_params.merge(repository: nil, reason: nil), class: "d-inline-block Link--secondary text-bold px-2 py-1", "data-pjax" => true do %>
          <%= primer_octicon(:x, display: :inline_block, mr: 1) %>Clear current filters
        <% end %>
      </span>
    </div>
  </div>
<% end %>
