<div class="pb-3 px-3" <%= test_selector("integration-hovercard") %>>
  <%= content_tag :div, "", data: hydro_view_tracking_attributes("integration-hovercard-hover", { slug: current_integration.slug }) %>
  <div style="padding: 20px 0px 4px 0px;" class="pr-md-5 mb-3 mb-md-0">
    <%= avatar_for(current_integration, 48, class: "avatar circle border color-border-muted") %>
  </div>
  <div>
    <a <%= test_selector("integration-name") %> class="text-semibold" href="<%= app_url %>"><%= current_integration.name %></a>
    <span <%= test_selector("integration-slug") %> class="color-fg-muted">@<%= current_integration.slug%></span>
  </div>
  <div class="mb-1">
    <a <%= test_selector("integration-url") %> class="text-small" href="<%= current_integration.url %>"><%= current_integration.url %></a>
  </div>
  <div <%= test_selector("integration-description") %>>
    <%= truncated_description %>
  </div>
  <div class="mt-2">
    <% if installation_user %>
        <div <%= test_selector("integration-installer") %> class="color-fg-muted text-small">
          <%= render Primer::Beta::Octicon.new(:person) %>
          Installed by <%= installation_user %>
        </div>
      <% elsif installation_org %>
        <div <%= test_selector("integration-installer") %> class="color-fg-muted text-small">
          <%= render Primer::Beta::Octicon.new(:organization) %>
          Installed by <%= installation_org %>
        </div>
      <% end %>
      <div class="color-fg-muted text-small">
        <%= render Primer::Beta::Octicon.new(:person) %>
        Logged in as <span <%= test_selector("integration-user") %> class="text-bold color-fg-default"><%= current_user.display_login %></span>
        <% if is_authorized_agent %>
          <%= link_to "Unauthorize", settings_user_app_authorizations_path, "data-test-selector": "integration-unauthorize" %>
        <% end %>
      </div>
  </div>
</div>

