<div class="Box-row">
  <ul className="list-style-none p-1">
    <li>
      Sample threshold: <span className="text-bold"><%= sample.sample_threshold %></span> milliseconds
    </li>
    <li>
      Control: <span className="text-bold"><%= sample.control_duration %></span> ms (<%= sample.control_difference %> ms over threshold)
    </li>
    <% sample.candidate_durations.each do |name, duration, difference| %>
      <li>
        Candidate <%= name %>: <span className="text-bold"><%= duration %></span> ms
        <% if difference.positive? %>
          (<%= difference %> ms over threshold)
        <% end %>
      </li>
    <% end %>
  </ul>
  <details>
    <summary>Show raw data</summary>
    <code>
      <pre><%= sample.raw %></pre>
    </code>
  </details>
</div>
