<%= form_with url: "https://s88570519.t.eloqua.com/e/f2", id: "eloquaForm", name: "startups-acceptance-form", method: :post, class: "js-form-validator mt-6 mt-md-8 mx-auto col-7-max text-left" do |f| %>
  <input value="UntitledForm-1663255701930" type="hidden" name="elqFormName">
  <input value="88570519" type="hidden" name="elqSiteId">
  <input name="elqCampaignId" type="hidden">

  <fieldset>
    <dl class="form-group mb-0">
      <dt class="input-label">
        <%= f.label :annual_revenue, _("Annual Revenue"), class: "required error-label-transition f5 text-bold", for: :annualRevenue %>
      </dt>
      <dd>
        <%= f.number_field :annual_revenue,
          id: :annualRevenue,
          required: true,
          class: "required form-control input-block error-border-transition js-validity-check"
        %>
        <span class="f5 text-italic">Please enter in $USD</span>
      </dd>
    </dl>

    <dl class="form-group mb-0">
      <dt class="input-label">
        <%= f.label :number_of_customers, _("Number of Customers"), class: "required error-label-transition f5 text-bold", for: :numberOfCustomers %>
      </dt>
      <dd>
        <%= f.number_field :number_of_customers,
          id: :numberOfCustomers,
          required: true,
          class: "required form-control input-block error-border-transition js-validity-check"
        %>
      </dd>
    </dl>

    <dl class="form-group mb-0">
      <dt class="input-label">
        <%= f.label :solution_migration, _("Are you migrating from any of the solutions below?"), class: "required error-label-transition f5 text-bold", for: :solutionMigration %>
      </dt>
      <dd>
        <% solutions = [
            ["BitBucket", "BitBucket"],
            ["GitLab", "GitLab"],
            ["AWS CodeCommit", "AWS CodeCommit"],
            ["Azure DevOps", "Azure DevOps"],
            ["Phabricator", "Phabricator"],
            ["Other", "Other"],
            ["Not Applicable", "Not Applicable"],
          ]
        %>
        <%= f.select :solution_migration,
          solutions,
          { selected: "Please select", include_blank: "Please select" },
          { id: :solutionMigration, class: "required input-block form-select error-border-transition js-validity-check", required: true }
        %>
      </dd>
    </dl>

    <dl class="form-group mb-0">
      <dt class="input-label">
        <%= f.label :github_product_of_interest, _("Which GitHub product/feature is your startup most interested in?"), class: "required error-label-transition f5 text-bold", for: :githubProductOfInterest %>
      </dt>
      <dd>
        <% products_of_interest = [
            ["Advanced Security", "Advanced Security"],
            ["Actions", "Actions"],
            ["Copilot", "Copilot"],
            ["Codespaces", "Codespaces"],
            ["Projects", "Projects"],
            ["Repositories", "Repositories"],
            ["Other", "Other"],
          ]
        %>
        <%= f.select :github_product_of_interest,
          products_of_interest,
          { selected: "Please select", include_blank: "Please select" },
          { id: :githubProductOfInterest, class: "required input-block form-select error-border-transition js-validity-check", required: true }
        %>
      </dd>
    </dl>

    <dl class="form-group mb-0">
      <dt class="input-label">
        <%= f.label :email_address, _("Email address of GitHub account admin"), class: "required error-label-transition f5 text-bold", for: :emailAddress %>
      </dt>
      <dd>
        <%= f.email_field :email_address,
          id: :emailAddress,
          required: true,
          class: "required form-control input-block error-border-transition js-validity-check"
        %>
        <span class="f5 text-italic">The same email address of the owner of the GitHub account which was entered in the application form.</span>
      </dd>
    </dl>

    <input type="hidden" name="elqCustomerGUID" value="">
    <input type="hidden" name="elqCookieWrite" value="0">
    <input type="hidden" name="ip_address" value="">

    <%= f.button _("Submit"),
      type: :submit,
      class: "btn-mktg js-form-validator-submit f3-mktg mt-4 width-full" %>
  </fieldset>
<% end %>
