<%= render Primer::Alpha::Dialog.new(
  title: "GitHub for Startups Partner Application",
  size: :xlarge,
  visually_hide_title: true,
  id: "partner-intake-dialog",
) do |d| %>
  <% d.with_body do %>
    <div class="position-relative text-left">
      <%= form_with url: "https://s88570519.t.eloqua.com/e/f2", id: "eloquaFormPartners", name: "UntitledForm-1663264092510", method: :post, class: "js-form-validator" do |f| %>
          <input value="UntitledForm-1663264092510" type="hidden" name="elqFormName">
          <input value="88570519" type="hidden" name="elqSiteId">
          <input name="elqCampaignId" type="hidden">

          <div class="form-group">
            <div class="h4-mktg">GitHub for Startups Partner Application</div>
          </div>

          <fieldset>
            <div class="d-md-flex gutter-md-condensed">
              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :first_name, _("Contact First Name"), class: "required error-label-transition f5 text-bold", for: :firstNamePartner %>
                </dt>
                <dd>
                  <%= f.text_field :first_name,
                    id: :firstNamePartner,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                </dd>
              </dl>

              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :last_name, _("Contact Last Name"), class: "required error-label-transition f5 text-bold", for: :lastNamePartner %>
                </dt>
                <dd>
                  <%= f.text_field :last_name,
                    id: :lastNamePartner,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                </dd>
              </dl>
            </div>

            <dl class="form-group mb-0">
              <dt>
                <%= f.label :email_address, _("Contact Email Address"), class: "required error-label-transition f5 text-bold", for: :emailPartner %>
              </dt>
              <dd>
                <%= f.email_field :email_address,
                  id: :emailPartner,
                  required: true,
                  class: "required form-control input-block error-border-transition js-validity-check",
                  placeholder: "you@example.com"
                %>
              </dd>
            </dl>

            <dl class="form-group mb-0">
              <dt>
                <%= f.label :company_name, _("Company Name"), class: "required error-label-transition f5 text-bold", for: :companyNamePartner %>
              </dt>
              <dd>
                <%= f.text_field :company_name,
                  id: :companyNamePartner,
                  required: true,
                  class: "required form-control input-block error-border-transition js-validity-check",
                  placeholder: _("Acme, Inc.")
                %>
              </dd>
            </dl>

            <dl class="form-group mb-0">
              <dt>
                <%= f.label :role, _("Role"), class: "required error-label-transition f5 text-bold", for: :rolePartner %>
              </dt>
              <dd>
                <%= f.text_field :role,
                  id: :rolePartner,
                  required: true,
                  class: "required form-control input-block error-border-transition js-validity-check"
                %>
              </dd>
            </dl>

            <dl class="form-group mb-0">
              <dt>
                <%= f.label :website, _("Website"), class: "required error-label-transition f5 text-bold", for: :websitePartner %>
              </dt>
              <dd>
                <%= f.text_field :website,
                  id: :websitePartner,
                  required: true,
                  class: "required form-control input-block error-border-transition js-validity-check"
                %>
              </dd>
            </dl>

            <%= render Site::CountrySelectComponent.new(
              label: _("HQ Country"),
              id: :countryPartner,
              name: :hq_country,
              country_list: "startups",
            ) %>

            <dl class="form-group mb-0">
              <dt>
                <%= f.label :organization_type, _("Organization Type"), class: "required error-label-transition f5 text-bold", for: :orgTypePartner %>
              </dt>
              <dd>
                <% org_types = [
                    ["Incubator/Accelerator", "incubator-accelerator"],
                    ["VC", "vc"],
                    ["TechHub", "techhub"],
                    ["Startup Ecosystem Partner", "startup-ecosystem-partner"]
                  ]
                %>
                <%= f.select :organization_type,
                  org_types,
                  { selected: "Please select", include_blank: "Please select" },
                  { id: :orgTypePartner, class: "input-block form-select error-border-transition js-validity-check", required: true }
                %>
              </dd>
            </dl>

            <div class="d-md-flex gutter-md-condensed">
              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :portfolio_size, _("Portfolio Size"), class: "required error-label-transition f5 text-bold", for: :portfolioSize %>
                </dt>
                <dd>
                  <%= f.number_field :portfolio_size,
                    id: :portfolioSize,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                </dd>
              </dl>

              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :investments_annually, _("Number of Investments Annually"), class: "required error-label-transition f5 text-bold", for: :investmentsAnnually %>
                </dt>
                <dd>
                  <%= f.number_field :investments_annually,
                    id: :investmentsAnnually,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                </dd>
              </dl>
            </div>

            <hr>

            <div class="required form-checkbox f5 mb-3 form-group">
              <label>
                <input id="optincheckboxpartner" name="startup_program_agreement" type="checkbox" value="True" class="required error-border-transition js-validity-check" required>
                    <a class="Link--inTextBlock" href="http://startups.github.com/">GitHub for Startups</a> provides certain resources to approved startup partners and startups in their portfolio, which are subject to change. I hereby accept the <a class="Link--inTextBlock" href="https://github.com/logos">GitHub Logo Policy</a> and <a class="Link--inTextBlock" href="https://docs.github.com/site-policy/privacy-policies/github-privacy-statement">GitHub Privacy Statement</a> policy agreements on behalf of my organization.
              </label>
            </div>

            <input type="hidden" name="elqCustomerGUID" value="">
            <input type="hidden" name="elqCookieWrite" value="0">
            <input type="hidden" name="ip_address" value="">
            <input type="hidden" name="partner_id" value="">
            <input id="sfcampaignidStudyPartner" type="hidden" name="sfcampaignid" value="7015c0000023MpoAAE">
            <input id="sourceStudyPartner" type="hidden" name="source" value="2022q3-site-ww-Startups-Partners-Application">

            <%= f.button _("Apply to become a GitHub for Startups Partner"),
              type: :submit,
              class: "btn-mktg js-form-validator-submit f3-mktg mt-4 width-full" %>
          </fieldset>
        <% end %>
    </div>
  <% end %>
<% end %>

<%= render Site::ButtonComponent.new(text: locals[:cta_link_caption], scheme: :subtle, classes: "link-mktg f3-mktg mt-3 py-1 px-0 text-semibold btn-link-reset", arrow: true, data: {"show-dialog-id": "partner-intake-dialog"}, style: "box-shadow: none !important;") %>
