<%= render Primer::Alpha::Dialog.new(
  title: "GitHub for Startups Sign-up Form",
  size: :xlarge,
  visually_hide_title: true,
  id: "startup-intake-dialog",
) do |d| %>
  <% d.with_body do %>
    <div class="position-relative text-left">
      <%= form_with url: "https://s88570519.t.eloqua.com/e/f2", id: "eloquaForm", name: "startups-form", method: :post, class: "js-form-validator" do |f| %>
          <input value="startups-form" type="hidden" name="elqFormName">
          <input value="88570519" type="hidden" name="elqSiteId">
          <input name="elqCampaignId" type="hidden">

          <div class="form-group">
            <div class="h4-mktg">GitHub for Startups Sign-up Form</div>
          </div>
          <div class="form-group f6-mktg text-bold">
            Eligibility
          </div>
          <div class="form-group f6-mktg">
              <ul>
                <li class="f6 ml-3">Must be an early-stage startup that has received funding (up to Series A).</li>
                <li class="f6 ml-3">Must not be a current GitHub Enterprise customer or have previously received credits for GitHub Enterprise.</li>
              </ul>
          </div>

          <p class="form-group f6-mktg">
            Want to add an extra year of Enterprise at 50% off? Refer your investor, accelerator, or incubator to become an approved <a class="Link--inTextBlock" href="https://github.com/enterprise/startups#join-partners">GitHub for Startups partner</a> and apply with their unique application link!
          </p>

          <p class="form-group f6-mktg">
            If you’re accepted, you’ll receive an email invitation to accept ownership of your new Enterprise Account within 3-5 business days. If you have any questions, please reach out to our team at <a class="Link--inTextBlock" href="mailto:startups@github.com">startups@github.com</a>.
          </p>

          <fieldset>
            <dl class="form-group my-0">
              <dt class="input-label">
                <%= f.label :company_name, _("Company Name"), class: "required error-label-transition f5 text-bold", for: :companyName %>
              </dt>
              <dd>
                <%= f.text_field :company_name,
                  id: :companyName,
                  required: true,
                  class: "required form-control input-block error-border-transition js-validity-check",
                  placeholder: _("Acme, Inc.")
                %>
              </dd>
            </dl>

            <div class="d-md-flex gutter-md-condensed">
              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :first_name, _("Contact First Name"), class: "required error-label-transition f5 text-bold", for: :firstName %>
                </dt>
                <dd>
                  <%= f.text_field :first_name,
                    id: :firstName,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                </dd>
              </dl>

              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :last_name, _("Contact Last Name"), class: "required error-label-transition f5 text-bold", for: :lastName %>
                </dt>
                <dd>
                  <%= f.text_field :last_name,
                    id: :lastName,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                </dd>
              </dl>
            </div>

            <div class="d-md-flex gutter-md-condensed">
              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :emailAddress, _("Contact Email Address"), class: "required error-label-transition f5 text-bold", for: :email %>
                </dt>
                <dd>
                  <%= f.email_field :emailAddress,
                    id: :email,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check",
                    placeholder: "you@example.com"
                  %>
                </dd>
              </dl>

              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :role, _("Role in Company"), class: "required error-label-transition f5 text-bold", for: :roleInCompany %>
                </dt>
                <dd>
                  <% roles = [
                      ["Founder", "founder"],
                      ["CEO", "ceo"],
                      ["CTO", "cto"],
                      ["IT", "it"],
                      ["Engineering", "engineering"],
                      ["Infrastructure", "infrastructure"],
                      ["DevOps", "devops"],
                      ["Other", "other"],
                    ]
                  %>
                  <%= f.select :role,
                    roles,
                    { selected: "Please select", include_blank: "Please select" },
                    { id: :roleInCompany, class: "required input-block form-select error-border-transition js-validity-check", required: true }
                  %>
                </dd>
              </dl>
            </div>

            <dl class="form-group">
              <dt>
                <%= f.label :company_website, _("Company Website"), class: "required error-label-transition f5 text-bold", for: :companyWebsite %>
              </dt>
              <dd>
                <%= f.text_field :company_website,
                    id: :companyWebsite,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check",
                    placeholder: "https://website.com"
                  %>
                <span class="f5 text-italic">Applications with invalid websites and/or websites with inappropriate content will be rejected.</span>
              </dd>
            </dl>

            <dl class="form-group">
              <dt>
                <%= f.label :company_overview, _("Company overview"), class: "f5 required text-bold", for: :companyOverview %>
              </dt>
              <dd>
                <%= f.text_field :company_overview,
                    id: :companyOverview,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                <span class="f5 text-italic">In a few sentences, please share a bit more about your company.</span>
              </dd>
            </dl>

            <div class="d-md-flex gutter-md-condensed">
              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :number_of_employees, _("Number of Employees"), class: "required error-label-transition f5 text-bold", for: :noEmployees %>
                </dt>
                <dd>
                  <%= f.number_field :number_of_employees,
                    id: :noEmployees,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                </dd>
              </dl>

              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :industry, _("Industry"), class: "required error-label-transition f5 text-bold", for: :startupIndustry %>
                </dt>
                <dd>
                  <% industry = [
                      ["Agriculture & Mining", "agriculture-mining"],
                      ["Business Services", "business-services"],
                      ["Computers & Electronics", "computers-electronics"],
                      ["Consumer Services", "consumer-services"],
                      ["Education", "education"],
                      ["Energy & Utilities", "energy-utilities"],
                      ["Financial Services", "financial-services"],
                      ["Food & Beverage", "food-beverage"],
                      ["Government", "government"],
                      ["Healthcare", "healthcare"],
                      ["Manufacturing", "manufacturing"],
                      ["Media & Entertainment", "media-entertainment"],
                      ["Not for Profit", "not-for-profit"],
                      ["Real Estate & Construction", "real-estate-construction"],
                      ["Retail", "retail"],
                      ["Software & Internet", "software-internet"],
                      ["Telecommunications", "telecommunications"],
                      ["Transportation & Storage", "transportation-storage"],
                      ["Travel, Recreation, and Leisure", "travel-recreation-leisure"],
                      ["Whole & Distribution", "whole-distribution"],
                      ["Other", "other"]
                    ]
                  %>
                  <%= f.select :industry,
                    industry,
                    { selected: "Please select", include_blank: "Please select" },
                    { id: :startupIndustry, class: "required input-block form-select error-border-transition js-validity-check", required: true }
                  %>
                </dd>
              </dl>
            </div>

            <div class="d-md-flex gutter-md-condensed">
              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :crunchbase_link, _("Company Crunchbase/LinkedIn Link"), class: "required error-label-transition f5 text-bold", for: :crunchbaseLink %>
                </dt>
                <dd>
                  <%= f.text_field :crunchbase_link,
                    id: :crunchbaseLink,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                  <span class="f5 text-italic">Applications with invalid links will be rejected.</span>
                </dd>
              </dl>

              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :latest_funding_round, _("Latest Funding Round"), class: "required error-label-transition f5 text-bold", for: :startupFunding %>
                </dt>
                <dd>
                  <% funding = [
                      ["Bootstrap", "bootstrap"],
                      ["Pre-Seed", "pre-seed"],
                      ["Seed", "seed"],
                      ["Series A", "series-a"]
                    ]
                  %>
                  <%= f.select :latest_funding_round,
                    funding,
                    { selected: "Please select", include_blank: "Please select" },
                    { id: :startupFunding, class: "required input-block form-select error-border-transition js-validity-check", required: true }
                  %>
                </dd>
              </dl>
            </div>

            <dl class="form-group">
              <dt class="input-label">
                <%= f.label :funding_raise, _("Total Funding Raised"), class: "required error-label-transition f5 text-bold", for: :totalFundingRaised %>
              </dt>
              <dd>
                <%= f.number_field :funding_raise,
                  id: :totalFundingRaised,
                  required: true,
                  class: "required form-control input-block error-border-transition js-validity-check"
                %>
                <span class="f5 text-italic">Please enter in $USD</span>
              </dd>
            </dl>

            <hr>

            <div class="form-group">
              <h4 class="h4-mktg">Billing Address</h4>
              <span class="f5">You will not be billed at this time. This information will be used for any paid add-ons or upgrades you choose to add (beyond the 20 seat offer) during or after the program.</span>
            </div>

            <div class="d-md-flex gutter-md-condensed">
              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :billing_address, _("Billing Address"), class: "required error-label-transition f5 text-bold", for: :address1 %>
                </dt>
                <dd>
                  <%= f.text_field :billing_address,
                    id: :address1,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                </dd>
              </dl>

              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :billing_address_2, _("Billing Address 2"), class: "f5 text-bold", for: :address2 %>
                </dt>
                <dd>
                  <%= f.text_field :billing_address_2,
                    id: :address2,
                    class: "form-control input-block"
                  %>
                </dd>
              </dl>
            </div>

            <div class="d-md-flex gutter-md-condensed">
              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :billing_city, _("Billing City"), class: "required error-label-transition f5 text-bold", for: :billingCity %>
                </dt>
                <dd>
                  <%= f.text_field :billing_city,
                    id: :billingCity,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                </dd>
              </dl>

              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :billing_postal_code, _("Billing Postal Code"), class: "required error-label-transition f5 text-bold", for: :billingPostalCode %>
                </dt>
                <dd>
                  <%= f.text_field :billing_postal_code,
                    id: :billingPostalCode,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                </dd>
              </dl>
            </div>

            <div class="d-md-flex gutter-md-condensed">
              <%= render Site::CountrySelectComponent.new(
                label: _("Billing Country"),
                id: :billingCountry,
                name: :billing_country,
                country_list: "startups",
                form_group_classes: "col-md-6",
              ) %>

              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :billing_stateProv, _("Billing State/Province"), class: "required error-label-transition f5 text-bold", for: :stateProv %>
                </dt>
                <dd>
                  <%= f.text_field :billing_stateProv,
                    id: :stateProv,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                </dd>
              </dl>
            </div>

            <div class="d-md-flex gutter-md-condensed">
              <dl id="taxID" class="col-md-12 form-group mb-0" hidden>
                <dt>
                  <%= f.label :billing_taxId, _("Tax ID"), class: "required error-label-transition f5 text-bold", for: :billing_taxID %>
                </dt>
                <dd>
                  <%= f.text_field :billing_taxId,
                    id: :billing_taxID,
                    class: "form-control input-block error-border-transition js-validity-check"
                  %>
                  <span class="f5 text-italic">If you don't currently have a Tax ID, please reach out to <a class="Link--inTextBlock" href="mailto:startups@github.com">startups@github.com</a> for assistance</span>
                </dd>
              </dl>
            </div>

            <hr>

            <div class="d-md-flex gutter-md-condensed">
              <dl class="d-none col-md-12 form-group mb-0">
                <dt>
                  <%= f.label :startups_partner, _("GitHub for Startups Partner"), class: "required error-label-transition f5 text-bold", for: :startupsPartner %>
                </dt>
                <dd>
                  <%= f.text_field :startups_partner,
                    id: :startupsPartner,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                  <span class="f5 text-italic">Please provide the name of the accelerator/incubator/VC fund through which you are applying for GitHub for Startups benefits. If you were referred by a GitHub employee, please list their email here.</span>
                </dd>
              </dl>
            </div>

            <div class="d-md-flex gutter-md-condensed">
              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :org_url, _("URL of GitHub organization(s) for your startup"), class: "required error-label-transition f5 text-bold", for: :orgUrl %>
                </dt>
                <dd>
                  <%= f.text_field :org_url,
                    id: :orgUrl,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                  <span class="f5 text-italic">Please provide your organization's active GitHub account(s) in the format github.com/SLUG. Applications with invalid accounts or personal accounts will be rejected, <a class="Link--inTextBlock" href="https://docs.github.com/get-started/learning-about-github/types-of-github-accounts" target="_blank">more on account types here</a>. Separate multiple entries by a comma.</span>
                </dd>
              </dl>

              <dl class="col-md-6 form-group mb-0">
                <dt>
                  <%= f.label :account_admin, _("Email address of GitHub account admin"), class: "required error-label-transition f5 text-bold", for: :accountAdmin %>
                </dt>
                <dd>
                  <%= f.email_field :account_admin,
                    id: :accountAdmin,
                    required: true,
                    class: "required form-control input-block error-border-transition js-validity-check"
                  %>
                  <span class="f5 text-italic">Email address for any of the owners of the organization provided - this will be the owner of the Enterprise and where we will send next steps. Applications where this email does not match the organization owner will be rejected.</span>
                </dd>
              </dl>
            </div>

            <hr>

            <div class="required form-checkbox f5 mb-3 form-group">
              <label>
                <input id="optincheckbox" name="opt_in_checkbox" type="checkbox" value="True" class="required error-border-transition js-validity-check" required>
                    I hereby accept the <a class="Link--inTextBlock" href="<%= customer_term_index_url %>">GitHub Customer Agreement</a> on behalf of my organization and confirm that I have the authority to do so. For more information about GitHub's privacy practices, see the <a class="Link--inTextBlock" href="https://github.com/site/privacy">GitHub Privacy Statement</a>.
              </label>
            </div>

            <input type="hidden" name="startup_form_type" value="new">
            <input type="hidden" name="elqCustomerGUID" value="">
            <input type="hidden" name="elqCookieWrite" value="0">
            <input type="hidden" name="ip_address" value="">
            <input type="hidden" name="partner_id" value="<%= params[:pid] if params.key?(:pid) %>">
            <input id="sfcampaignidStudy" type="hidden" name="sfcampaignid" value="7013o000002Cdg3AAC">
            <input id="sourceStudy" type="hidden" name="source" value="2022q3-site-ww-Startups-Signup">

            <%= f.button _("Sign up for GitHub for Startups"),
              type: :submit,
              class: "btn-mktg js-form-validator-submit f3-mktg mt-4 width-full" %>
          </fieldset>
        <% end %>
    </div>
  <% end %>
<% end %>

<%= render Site::ButtonComponent.new(text: "Apply now", classes: "mt-4", data: {"show-dialog-id": "startup-intake-dialog"}) %>
