<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_header do %>
      <%= render Primer::ButtonComponent.new(classes: "Box-btn-octicon btn-octicon",
                                             float: :right,
                                             aria: { label: "Close dialog" },
                                             data: {"close-dialog" => true }) do %>
        <%= render Primer::Beta::Octicon.new(icon: "x", text: :gray_dark) %>
      <% end %>
      <h4 class="Box-title">This codespace has uncommitted changes</h4>
  <% end %>
  <% component.with_body do %>
    <div class="d-flex flex-wrap flex-content-start">
      Are you sure you want to delete <%= codespace.safe_display_name %>? Commit and push your changes before deleting or you will lose your changes.
    </div>
    <div class="pt-3">
      <a class="btn" href="<%= codespace_path(codespace) %>">
        <span class="pl-1">Open codespace</span>
      </a>
      <%= form_for(codespace,
            url: destroy_refresh_codespace_path(codespace),
            method: :delete,
            html: {
              class: "d-inline"
            }.merge(test_selector_data_hash("codespaces-list-refresh-delete-form"))) do %>
        <%= render Primer::ButtonComponent.new(classes: "btn btn-danger js-toggle-disabled",
                                               type: :submit,
                                               role: "menuitem",
                                               aria: { label: "Delete codespace #{codespace.safe_display_name}" },
                                               data: {"close-dialog" => true },
                                               test_selector: "codespaces-force-delete-button") do %>
          <span class="pl-1">Delete this codespace</span>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
