<div class="Box p-6">
  <h2 class="text-center">Getting started with GitHub Codespaces</h2>
  <div class="d-flex flex-column flex-md-row container-lg p-responsive clearfix mt-3">
    <div class="flex-1 color-bg-subtle m-2 p-3 rounded">
      <h4 class="mb-3 lh-condensed">Learn core concepts</h4>
      <p>New to Codespaces? <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/en/codespaces">Start here</a>. Learn the core concepts and how to get started.</p>
    </div>
    <div class="flex-1 color-bg-subtle m-2 p-3 rounded">
      <h4 class="mb-3 lh-condensed">Configure and manage</h4>
      <p>Learn more about features like <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/en/codespaces/managing-your-codespaces/managing-encrypted-secrets-for-your-codespaces">secret management</a> and <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/en/codespaces/developing-in-codespaces/forwarding-ports-in-your-codespace">port forwarding</a>.</p>
    </div>
    <div class="flex-1 color-bg-subtle m-2 p-3 rounded">
      <h4 class="mb-3 lh-condensed">Develop locally</h4>
      <p>Access codespaces from within <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/en/codespaces/developing-in-codespaces/using-github-codespaces-in-visual-studio-code">Visual Studio Code</a> or <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/en/codespaces/developing-in-codespaces/using-github-codespaces-in-your-jetbrains-ide">JetBrains</a>.</p>
    </div>
  </div>
</div>
