<%= render Codespaces::ExportBranchComponent.new(
  codespace: codespace,
  needs_fork: needs_fork
) do |component| %>
  <% component.with_generate_branch_button do %>
    <% data_action = if codespace.unpublished? || (codespace.template_repository_id && codespace.repository.empty?)
      "click:export-branch#applyPublishParams click:export-branch#exportBranch"
    else
      "click:export-branch#exportBranch"
    end %>
    <%= render Primer::Beta::Button.new(
      "data-action": data_action,
      ml: needs_fork ? 0 : 2,
      test_selector: "codespaces-generate-branch-button"
    ) do %>
      Create <%= component.export_target %>
    <% end %>
  <% end %>
  <% component.with_loading_indicator do %>
    <div class="d-flex flex-items-center">
      <%= render Primer::Beta::Button.new(disabled: true, test_selector: "codespaces-creating-branch-button") do %>
          <%= render(Primer::Beta::Spinner.new(size: :small, mr: 2, vertical_align: :middle)) %>
          <span>Creating <%= component.export_target =%></span>
      <% end %>
    </div>
  <% end %>
  <% component.with_view_branch_button do %>
    <%= link_to(
      "See #{component.export_target}",
      component.export_target_link,
      {
        class: "btn ml-2"
      }.merge(test_selector_data_hash("codespaces-view-branch-button"))
    ) %>
  <% end %>
<% end %>
