<span
  id="<%= name %>-prebuild-ready"
  <%= test_selector "prebuild-ready" %>
  data-targets="sku-list.prebuildReadyHints"
  data-sku-name="<%= name %>"
  style="width: max-content"
  hidden
>
  <%= render(Primer::Beta::Octicon.new(:zap)) %> Prebuild ready
</span>
<span
  id="<%= name %>-prebuild-in-progress"
  <%= test_selector "prebuild-in-progress" %>
  data-targets="sku-list.prebuildInProgressHints"
  data-sku-name="<%= name %>"
  style="width: max-content"
  hidden
>
  <%= render(Primer::Beta::Octicon.new(:history)) %> Prebuild in progress
</span>
