<%# erblint:counter DeprecatedComponentsCounter 5 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="Box-body border-bottom-0">
  <% if current_sku_disallowed && !cannot_change_from_current_sku %>
    <%= render Primer::Beta::Flash.new(icon: "alert", p: 2, mb: 2) do %>
      <span>Your codespace is currently using a restricted machine type. If changed now, you won't be able to change it back.</span>
    <% end %>
  <% end%>

  <% if cannot_change_from_current_sku %>
    <%= render Primer::Beta::Flash.new(icon: "alert", p: 2, mb: 2) do %>
      <span>There are no other valid machine types available.</span>
    <% end %>
  <% elsif selectable_skus.none? %>
    <%= render Primer::Beta::Flash.new(p: 2, mb: 2) do %>
      <%= render Primer::Box.new(display: :flex) do %>
        <%= render Primer::Box.new(col: 1, text_align: :center) do %>
          <%= render Primer::Beta::Octicon.new(icon: "alert", mr: 1) %>
        <% end %>
        <%= render Primer::Box.new(col: 11) do %>
          <span><%= Codespaces::Skus::NO_VALID_MACHINE_TYPES_CATCHALL_MESSAGE %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if sku_recommendations.any? %>
    <h4 class="Box-title">Machine type</h4>
    <div class="Box radio-group d-flex flex-wrap flex-content-start my-3">

      <% sku_recommendations.each do |rec| %>
        <% sku = rec.sku %>
       <% is_current = current_sku && current_sku == sku.name &&  selectable_skus.include?(sku) %>
       <% is_preselected = is_current || (!current_sku && rec.default && selectable_skus.include?(sku)) %>
        <% input_id = "#{sku.name}-#{codespace_name}" %>
        <label for="<%= input_id %>" class="Box-row p-0 py-2 d-flex flex-row flex-justify-between" style="cursor:pointer;width:100%;">
          <div class="d-flex flex-row">
            <div class="d-flex flex-items-center p-2 pl-3">
              <%= radio_button_tag("codespace[sku_name]", sku.name, is_preselected, { id: input_id, disabled: !rec.enabled }) %>
            </div>
            <div class="flex-self-center px-1 <%= rec.enabled ? '' : 'disabled-sku' %>">
              <div class="text-left">
                <%= sku.display_cpus %>
              </div>
              <div class="flex-self-center">
                <span class="text-small text-normal color-fg-muted <%= rec.enabled ? '' : 'disabled-sku' %>">
                    <%= sku.display_specs_without_cores %>
                </span>
              </div>
            </div>
          </div>
          <div class="flex-self-center px-3">
            <div class="text-small text-normal color-fg-muted <%= rec.enabled ? '' : 'disabled-sku' %>">
              <% if rec.reason.present?%>
                <%= rec.reason %>
              <% elsif !codespace_name && sku.prebuild_available? %>
                <%= render(Primer::Beta::Octicon.new(:zap)) %> Prebuild ready
              <% elsif !codespace_name && sku.prebuild_in_progress? %>
                <%= render(Primer::Beta::Octicon.new(:history)) %> Prebuild in progress
              <% end %>
            </div>
          </div>
        </label>
      <% end %>
    </div>
  <% end %>
  <%= render Primer::Box.new(display: :flex, direction: :column, align_items: :flex_end) do %>
    <% if selectable_skus.any? && (!current_sku || selectable_skus.any? { |sku| sku.name != current_sku }) %>
      <% if current_sku %>
        <%= render Primer::ButtonComponent.new(variant: :small, type: :submit).with_content("Update codespace") %>
        <button disabled hidden type="button" class="btn btn-sm js-toggle-hidden">
          <%= render(Primer::Beta::Spinner.new(size: :small, vertical_align: :text_bottom)) %>
          Update codespace
        </button>
      <% end %>
    <% else %>
      <%= render Primer::ButtonComponent.new(variant: :small, disabled: true) do %>
        <%= current_sku ? "Update " : "Create " %>codespace
      <% end %>
    <% end %>
  <% end %>
</div>
