<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable GitHub/RailsViewRenderLiteral %>
<% page_info title: "Codespaces Allow Permissions", stafftools: stafftools_user_codespaces_path(current_user) %>
<div class="pt-4 position-relative container-sm">
  <% if open_in_deeplink %>
    <div data-src="<%=close_window_prompt_codespaces_path %>" class="js-codespaces-completable">
  <% else %>
    <div>
  <% end %>

  <% notice_component = Codespaces::CreateNoticeComponent.new(
      billable_owner: codespace.billable_owner,
      user: current_user,
      at_codespace_limit: create_button_params[:at_limit],
      codespace: codespace,
      user_codespace_limit: create_button_params[:user_codespace_limit]
    ) %>

    <% if notice_component.is_error? %>
      <%= render Primer::Beta::Flash.new(
        scheme: :danger,
        display: :flex,
        direction: :row,
        align_items: :center,
        mb: 2,
        test_selector: "create-notice-container"
      ) do %>
        <%= render Primer::Beta::Octicon.new(:stop ) %>
        <%= render notice_component %>
      <% end %>
    <% end %>

    <%= render(Codespaces::AllowPermissionsComponent.new(
      devcontainer: devcontainer,
      repo_readable_by_user_count: repo_readable_by_user_count,
      create_button_params: create_button_params,
      )) do |allow_permissions_component| %>
      <% allow_permissions_component.with_footer do %>
        <div class="d-inline">
          <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center, classes: "js-toggle-hidden")) do %>
            <div class="width-fit">
              <% unless allow_permissions_component.diff_all_permissions.only_revoked_permissions? %>
                <%= render Codespaces::AllowPermissionsCreateButtonComponent.new(
                  codespace: codespace,
                  text: "Continue without authorizing",
                  btn_class: "btn-link",
                  data: create_button_params[:data_attributes],
                  open_in_deeplink: create_button_params[:user_settings]&.prefers_non_web_editor?,
                  btn_options: {
                    "data-confirm": "Your codespace may not work properly if you do not allow permissions. Are you sure you want to continue?",
                  }
                  ) do |component| %>
                  <% disabled_component = Codespaces::DisabledButtonComponent.new(
                      btn_class: component.btn_class,
                      cap_filter: cap_filter,
                      current_user: current_user,
                      at_limit: create_button_params[:at_limit],
                      text: component.text,
                      tooltip_class: nil,
                      codespace: component.codespace,
                    ) %>
                  <% if disabled_component.render? %>
                    <% component.with_disabled_button { render(disabled_component) } %>
                  <% end %>
                  <% component.with_loading_button do %>
                      <%= render(Primer::Beta::Spinner.new(size: :small, vertical_align: :text_bottom, test_selector: "spinner")) %>
                      Creating codespace
                  <% end %>
                  <% component.with_additional_hidden_fields do %>
                    <%= hidden_field_tag("multi_repo_permissions_opt_out", true) %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="width-fit">
              <%= render Codespaces::AllowPermissionsCreateButtonComponent.new(
                codespace: codespace,
                text: allow_permissions_component.authorize_button_text,
                btn_class: "btn btn-primary",
                data: create_button_params[:data_attributes],
                open_in_deeplink: create_button_params[:user_settings]&.prefers_non_web_editor?
                ) do |component| %>
                <% component.with_additional_hidden_fields do %>
                  <% allow_permissions_component.all_repository_permissions.each do |owner, permissions| %>
                    <% permissions.each do |resource, action| %>
                      <%= hidden_field_tag("owner_permissions[#{owner}][#{resource}]", action) %> <%# rubocop:disable GitHub/DoNotAllowLogin %>
                    <% end %>
                  <% end %>
                  <% allow_permissions_component.repository_permissions.each do |name_with_display_owner, permissions| %>
                    <% permissions.each do |resource, action| %>
                      <%= hidden_field_tag("repository_permissions[#{name_with_display_owner}][#{resource}]", action) %>
                    <% end %>
                  <% end %>
                <% end %>
                <% disabled_component = Codespaces::DisabledButtonComponent.new(
                    btn_class: component.btn_class,
                    cap_filter: cap_filter,
                    current_user: current_user,
                    at_limit: create_button_params[:at_limit],
                    text: component.text,
                    tooltip_class: nil,
                    codespace: codespace
                  ) %>
                <% if disabled_component.render? %>
                  <% component.with_disabled_button { render(disabled_component) } %>
                <% end %>
                <% component.with_loading_button do %>
                  <%= render(Primer::Beta::Spinner.new(size: :small, vertical_align: :text_bottom, test_selector: "spinner")) %>
                  Creating codespace
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
