<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% page_info title: "#{user.safe_profile_name} · User interactions · Stafftools" %>

<% if GitHub.user_abuse_mitigation_enabled? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 4, test_selector: "blocking-users")) do |component| %>
    <% component.with_header do |h| %>
      <% h.with_title(tag: :h3) do %>
        Users Blocking <%= user %>
      <% end %>
    <% end %>
    <% if blocking_users.empty? %>
      <% component.with_body do %>
        No users are blocking <%= user %>
      <% end %>
    <% else %>
      <% blocking_users.each do |blocking_user| %>
        <% component.with_row do %>
          <a class="d-flex flex-items-center" href="<%= stafftools_user_path(blocking_user) %>">
            <%= render GitHub::AvatarComponent.new(actor: blocking_user) %>
            <span class="mx-2">
              <%= blocking_user.safe_profile_name %>
              <% unless blocking_user.login == blocking_user.safe_profile_name %>
                <span class="color-fg-muted"><%= blocking_user %></span>
              <% end %>
            </span>
            <% if blocking_user.organization? %>
              <%= primer_octicon(:organization, size: :small, color: :subtle, title: "Organization") %>
            <% end %>
          </a>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 4, test_selector: "blocked-users")) do |component| %>
    <% component.with_header do |h| %>
      <% h.with_title(tag: :h3) do %>
        Users Blocked by <%= user %>
      <% end %>
    <% end %>
    <% if blocked_users.empty? %>
      <% component.with_body do %>
        No blocked users
      <% end %>
    <% else %>
      <% blocked_users.each do |blocked_user| %>
        <% component.with_row(display: :flex, align_items: :center, justify_content: :space_between) do %>
          <a class="d-flex flex-auto flex-items-center" href="<%= stafftools_user_path(blocked_user) %>">
            <%= render GitHub::AvatarComponent.new(actor: blocked_user) %>
            <span class="mx-2">
              <%= blocked_user.safe_profile_name %>
              <% unless blocked_user.login == blocked_user.safe_profile_name %>
                <span class="color-fg-muted"><%= blocked_user %></span>
              <% end %>
            </span>
            <% if blocked_user.organization? %>
              <%= primer_octicon(:organization, size: :small, color: :subtle, title: "Organization") %>
            <% end %>
          </a>

          <%= form_tag(stafftools_user_block_path(user, blocked_user), method: :delete, class: "inline-form") do %>
            <%= render Primer::ButtonComponent.new(variant: :small, type: :submit).with_content("Unblock") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% component.with_row do %>
      <%= form_for "block_user", url: stafftools_user_blocks_path(user) do |f| %>
        <label for="user_block_login">Block user:</label>
        <input type="text" name="login" class="input-sm form-control" id="user_block_login" placeholder="Username" autocomplete="off">
        <%= render Primer::ButtonComponent.new(variant: :small, type: :submit).with_content("Block") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if user.user? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 4, test_selector: "followed-users")) do |component| %>
    <% component.with_header do |h| %>
      <% h.with_title(tag: :h3) do %>
        Followed Users
      <% end %>
    <% end %>
    <% if followed_users.empty? %>
      <% component.with_body do %>
        No followed users
      <% end %>
    <% else %>
      <% followed_users.each do |followed_user| %>
        <% component.with_row(display: :flex, align_items: :center, justify_content: :space_between) do %>
          <a class="d-flex flex-auto flex-items-center" href="<%= stafftools_user_path(followed_user) %>">
            <%= render GitHub::AvatarComponent.new(actor: followed_user) %>
            <span class="mx-2">
              <%= followed_user.safe_profile_name %>
              <% unless followed_user.login == followed_user.safe_profile_name %>
                <span class="color-fg-muted"><%= followed_user %></span>
              <% end %>
            </span>
            <% if followed_user.organization? %>
              <%= primer_octicon(:organization, size: :small, color: :subtle, title: "Organization") %>
            <% end %>
          </a>
          <% if followed_user.organization? %>
            <%= form_tag stafftools_user_follow_path(user, followed_user), method: :delete do %>
              <%= render Primer::ButtonComponent.new(
                variant: :small,
                scheme: :danger,
                type: :submit,
              ).with_content("Unfollow") %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
