<% page_info title: view.page_title %>
<% user = view.user %>

<% unless GitHub.enterprise? %>
<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Prerelease<% end %>
<% end %>

<table class="stafftools-table mb-6">
  <tr>
    <th>Pre-release?</th>
    <td>
      <% if view.prerelease_agreement_signed? %>
        Yes &ndash; agreement signed
        <% if this_user.organization? %>
          by
          <%= link_to \
                view.prerelease_agreement.actor,
                stafftools_user_path(view.prerelease_agreement.actor),
                class: "Link--inTextBlock"
          %>
        <% end %>
        on <%= view.prerelease_agreement.created_at.to_date %>
        &ndash;
        <small>
          <%= link_to \
                "view agreement changelog",
                "https://github.com/github/help-docs/commits/master/content/dotcom/articles/github-pre-release-program.md",
                 class: "Link--inTextBlock"
          %>
        </small>
      <% else %>
        No
      <% end %>
    </td>
  </tr>
</table>
<% end %>


<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Feature & beta enrollments<% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_header(font_weight: :bold) do %>
    Available features
  <% end %>

  <% view.feature_enrollments.each do |feature| %>
    <% component.with_row do %>
      <div class="d-flex flex-items-center">
        <strong class="flex-1"><%= feature.slug %></strong>
        <div class="pr-2"><%= view.enrolled?(feature, this_user) ? "Enrolled" : "Not Enrolled" %></div>
        <%= button_to "Toggle", toggle_stafftools_user_feature_enrollments_path(this_user, params: { feature: feature.slug }), class: "btn btn-sm" %>
      </div
    <% end %>
  <% end %>
<% end %>
