<% codespaces_task = OnboardingTasks::Organizations::CreateCodespace.new(taskable: current_repository.organization, user: current_user) %>
<%= render(Onboarding::Organizations::TipComponent.new(
  organization: current_repository.organization,
  show_tip: params[:enable_codespaces_tip].present?,
  task: codespaces_task,
  mb: 4,
)) do %>
  <h3 class="mb-1">Create a codespace</h3>
  <div class="color-fg-muted">
    <p>
      Codespaces is a configurable online development environment that allows you to develop entirely in the cloud. It's available in your web browser via GitHub.com or within the Visual Studio Code application.
    </p>
    <div class="d-md-flex">
      <p class="mr-md-3">
        <a href="<%= GitHub.help_url %>/codespaces/getting-started-with-codespaces" target="_blank" rel="noopener noreferrer">
          <%= render(Primer::Beta::Octicon.new(:file, mr: 1)) %>
          Set up a codespace for specific languages
        </a>
      </p>
      <p>
        <a href="<%= GitHub.help_url %>/codespaces" target="_blank" rel="noopener noreferrer">
          <%= render(Primer::Beta::Octicon.new(:file, mr: 1)) %>
          Learn how GitHub Codespaces work
        </a>
      </p>
    </div>
  </div>
<% end %>

<%= render(Onboarding::Organizations::CompletedGuidanceComponent.new(
  organization: current_repository.organization,
  completed_task: codespaces_task,
  show_tip: params[:enable_codespaces_tip].present?,
  container_class: "mb-4"
)) %>
