<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Codespaces Add Consented Permissions", stafftools: stafftools_user_codespaces_path(current_user) %>
<div class="pt-4 position-relative container-sm">
  <h2 class="text-center mb-5"><%= primer_octicon("check-circle-fill", size: :medium, color: :success, "aria-label": "Green checkmark") %> You're all set!</h2>

  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% component.with_row(test_selector: "success-screen-copy") do %>
      Requested permissions were successfully authorized. You can now close this tab.
    <% end %>
    <% component.with_footer do %>
      <%= render(Primer::Box.new(display: :flex, justify_content: :center, align_items: :center)) do %>
        <%= link_to repository_codespaces_path(repository) do %>
          <%= render(Primer::ButtonComponent.new(
            scheme: :default,
            href: repository_codespaces_path(repository),
            type: :button
            )) { "Go to repository codespaces" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
