<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Codespaces Allow Permissions", stafftools: stafftools_user_codespaces_path(current_user) %>
<div class="pt-4 position-relative container-sm">
  <%= render(Codespaces::AllowPermissionsComponent.new(
      devcontainer: devcontainer,
      repo_readable_by_user_count: repo_readable_by_user_count,
    )) do |component| %>
    <% component.with_footer do %>
      <%= form_with url: repository_codespaces_add_consented_permissions_path(ref: ref, devcontainer_path: devcontainer_path) do |f| %>
        <% component.all_repository_permissions.each do |owner, permissions| %>
          <% permissions.each do |resource, action| %>
            <%= hidden_field_tag("owner_permissions[#{owner}][#{resource}]", action) %> <%# rubocop:disable GitHub/DoNotAllowLogin %>
          <% end %>
        <% end %>
        <% component.repository_permissions.each do |name_with_display_owner, permissions| %>
          <% permissions.each do |resource, action| %>
            <%= hidden_field_tag("repository_permissions[#{name_with_display_owner}][#{resource}]", action) %>
          <% end %>
        <% end %>
        <%= render(Primer::Box.new(display: :flex, justify_content: :center, align_items: :center)) do %>
          <%= render(Primer::ButtonComponent.new(
            scheme: :primary,
            type: :submit,
            test_selector: "submit-button"
            )) { component.authorize_button_text } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
