<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info \
    title: "Codespaces · #{repository.name_with_display_owner}",
    container_xl: true,
    selected_link: :repo_branches,
    dashboard_pinnable_item_id: repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <%
    billable_owner = query.repository_policy.billable_owner
    build_codespace = query.build_codespace
  %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
    <%= render "codespaces/repository_codespaces/tip" if params[:enable_codespaces_tip].present? %>

    <div class="pt-0 position-relative">
      <div class="clearfix mt-3 pb-3">
        <div class="col-md-5 col-sm-12 float-left">
          <h2 class="mb-2">Your codespaces</h2>
        </div>
        <div class="col-md-4 col-sm-12 float-right position-relative d-inline-flex flex-justify-end mb-1">
          <a class="btn mr-2 flex-self-start" href="<%= docs_url("codespaces/home") %>">Go to docs</a>
          <%= render Codespaces::CreateWrapperComponent.new(
            codespace: build_codespace,
            current_user: current_user,
            target: "CODESPACES_PAGE",
            open_in_deeplink: user_settings.prefers_non_web_editor?,
            default_sku: query.default_sku,
            defer_location_assignment: true,
            cap_filter: cap_filter,
            at_limit: query.at_limit?(billable_owner)
          ) %>
        </div>
      </div>
      <%= render Codespaces::UnauthorizedOrganizationsComponent.new(
        classes: "Box mb-2",
        cap_filter: cap_filter,
        current_repository: current_repository,
        billable_owner: billable_owner,
      ) %>

      <%= render Codespaces::CreateNoticeFlashErrorComponent.new(
        billable_owner: billable_owner,
        user: current_user,
        at_codespace_limit: query.at_limit?(billable_owner),
        codespace: build_codespace,
        user_codespace_limit: query.codespace_limit,
        system_arguments: { mb: 4 },
      ) %>

      <% if query.codespaces.any? %>
        <div data-hpc>
          <%= render Codespaces::RepositoryCodespaces::ListComponent.new(
            query: query,
            repository: current_repository
          ) %>
        </div>
      <% else %>
        <div data-hpc>
          <%= render "codespaces/empty_list_state" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
