<div id="audiences" class="overflow-x-hidden">
  <div class="p-responsive container-xl">
    <div class="text-center my-7 mb-md-9">
      <img src="<%= image_path "modules/site/features/launchpad/icons/icon-community.svg" %>" alt="GitHub Community Icon" loading="lazy" width="50" height="50">
      <h2 class="h2-mktg col-lg-7 mx-auto">
        We love people who are changing the&nbsp;world<%=
          if current_user.present? && current_user.feature_enabled?(:webex_aa_validation_test)
            exp = AzureEXP::ExpAssignmentProvider.new(participant: AzureEXP::Beta::Participant.from_user(current_user), namespace: "webex")
            if exp.variants["aa-test-is-treatment"] == true
              "."
            elsif exp.variants["aa-test-is-treatment"] == false
              "."
            else
              ""
            end
          end
        %>
      </h2>
    </div>

    <%= render Site::HstackComponent.new(classes: "px-lg-4") do %>
      <%= render Site::CardComponent.new(
        octicon: "organization",
        header: "Open source teams",
        text: "If you manage multiple contributors, there’s a free option. We also run GitHub Sponsors, where we help fund your work.",
        url: "/team",
        analytics: {
          category: "Audience",
          action: "click to see open source benefits",
          label: "ref_cta:Open source teams;ref_loc:pricing"
        }
      ) %>

      <%= render Site::CardComponent.new(
        octicon: "mortar-board",
        color: :attention,
        header: "Students and teachers",
        text: "We’ve partnered with industry leaders to give students and teachers free access to the best developer tools—for the school year and beyond.",
        url: "https://education.github.com/benefits/offers",
        analytics: {
          category: "Audience",
          action: "click to see students and teachers benefits",
          label: "ref_cta:Students and teachers;ref_loc:pricing"
        }
      ) %>

      <%= render Site::CardComponent.new(
        octicon: "globe",
        color: :sponsors,
        header: "Nonprofits",
        text: "Work for a government-recognized nonprofit, association, or 501(c)(3)? Get a discounted Organization on us.",
        url: "/nonprofit",
        analytics: {
          category: "Audience",
          action: "click to see nonprofits benefits",
          label: "ref_cta:Nonprofits;ref_loc:pricing"
        }
      ) %>
    <% end %>

  </div>
</div>
