<%
  show_features = true if local_assigns[:show_features].nil?
  move_work = true unless local_assigns[:move_work].nil?
  hide_enterprise = move_work
  bottom_up_menu = false if local_assigns[:bottom_up_menu].nil?
  render_octicon_symbol = true if local_assigns[:render_octicon_symbol].nil?
  monthly_only = local_assigns[:monthly_only] || false
%>

<%
  # Render an octicon symbol by default, so it can be referenced elsewhere in this view. It uses an ID, so has to be
  # excluded if included elsewhere in the same view
%>
<%= render(Primer::Alpha::OcticonSymbols.new(icons: [{ symbol: :"chevron-right" }])) if render_octicon_symbol %>

<div class="d-lg-flex flex-items-stretch flex-justify-center <%= context == "pricing" ? "gutter-lg-condensed" : "gutter-lg" %> text-center" data-hpc <%= test_selector "pricing-cards" %>>

  <%# GitHub Free %>
  <%= render 'site/pricing/cards/free', locals: {
    account: account,
    context: context,
    show_features: show_features,
    monthly_only: monthly_only
  } %>

  <%# GitHub Pro %>
  <% if context == "personal" %>
    <%= render 'site/pricing/cards/pro', locals: { account: account, show_features: show_features } %>
  <% else %>
    <%# GitHub Team %>
    <%= render 'site/pricing/cards/business', locals: {
      account: account,
      context: context,
      show_features: show_features,
      move_work: move_work,
      bottom_up_menu: bottom_up_menu,
      monthly_only: monthly_only
    } %>

    <%# GitHub Enterprise %>
    <% unless hide_enterprise %>
      <%= render 'site/pricing/cards/business_plus', locals: {
        account: account,
        context: context,
        show_features: show_features,
        move_work: move_work,
        monthly_only: monthly_only
      } %>
    <% end %>
  <% end %>
</div>
