<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  account_specific = true unless local_assigns[:account].nil?
  context = "pricing" if local_assigns[:context].nil?
  move_work = true unless local_assigns[:move_work].nil?
  hide_enterprise = (context == "personal" || move_work)
  upgrade_in_progress = account&.is_a?(Organization) && account&.upgrade_to_enterprise_in_progress.present?
  org_enterprise_upgrade_eligible = account&.is_a?(Organization) && account&.eligible_for_purchase_upgrade_to_enterprise?(actor: current_user, skip_in_progress_check: upgrade_in_progress)
  col_width = "col-md-4"
  default_plan_name = account_specific ? account.plan.display_name.humanize : "team"
  current_plan = account&.plan
%>

<% unless account_specific %>
  <div class="d-md-block p-responsive container-xl text-center my-8 my-md-9 js-compare-features-item">
    <h1 class="h1">Compare features</h1>
  </div>
<% end %>

<%# Render an octicon symbol, so it can be referenced elsewhere in this view %>
<%= render(Primer::Alpha::OcticonSymbols.new(icons: [{ symbol: :"chevron-right" }])) %>

<div id="compare-features" <%= test_selector("plan-compare-features") %>>

  <% if account_specific %>
    <div class="d-md-none">
      <%= render partial: "site/pricing/cards", locals: {
        account: account,
        context: context,
        move_work: move_work,
        render_octicon_symbol: false,
        monthly_only: true
      } %>
    </div>
  <% end %>

  <details id="plan-picker" class="details-reset details-overlay d-md-none position-sticky top-0 left-0 right-0 width-full z-2 color-shadow-large color-bg-default <% unless account_specific %>mt-n8<% end %>">
    <summary class="f3-mktg text-normal color-fg-muted p-3" aria-haspopup="true">
      <div class="d-flex flex-items-center flex-justify-between">
        <span>
          Features on <span class="h6-mktg color-fg-accent js-compare-features-selected" data-default-plan="<%= default_plan_name.downcase %>" style="text-transform: capitalize;"><%= default_plan_name %></span>
        </span>
        <span class="f5 color-fg-accent d-flex flex-items-center ml-2"><%= render(Primer::Beta::Octicon.new(icon: "arrow-switch", color: :accent, mr: 2)) %>Switch plans</span>
      </div>
    </summary>
    <details-menu class="SelectMenu" role="menu" aria-labelledby="plan-picker-title"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="SelectMenu-modal">
        <div class="SelectMenu-header">
          <span class="SelectMenu-title" id="plan-picker-title">Select a plan to review its features</span>
        </div>
        <div class="SelectMenu-list">
          <button role="menuitem" class="SelectMenu-item js-compare-features-nav" type="button" data-toggle-for="plan-picker" data-plan="free">Free</button>
          <% if account_specific && (context == "personal") %>
            <button role="menuitem" class="SelectMenu-item js-compare-features-nav" type="button" data-toggle-for="plan-picker" data-plan="pro">Pro</button>
          <% else %>
            <button role="menuitem" class="SelectMenu-item js-compare-features-nav" type="button" data-toggle-for="plan-picker" data-plan="team">Team</button>
            <% unless hide_enterprise %>
              <button role="menuitem" class="SelectMenu-item js-compare-features-nav" type="button" data-toggle-for="plan-picker" data-plan="enterprise">Enterprise</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </details-menu>
  </details>

  <div role="table" class="container-xl d-flex d-md-block flex-wrap flex-row mx-auto width-full text-center f5">
    <div role="rowgroup" class="d-none d-md-block position-sticky top-0 left-0 right-0 width-full z-2">
      <div class="text-center <% unless account_specific %>p-responsive<% end %>">
        <div role="row" class="d-md-flex gutter-md-condensed">
          <div role="columnheader" class="<%= context == "pricing" ? "col-md-4" : col_width %> mb-3 mb-md-0 color-bg-default position-relative">
            <% if account_specific %>
              <h1 class="h2 text-left border-bottom mt-3 pb-2">Compare plans</h1>
            <% end %>
            <div class="d-none d-md-block color-bg-default position-absolute top-0 left-0 bottom-0 col-1 ml-md-n5">
              <span class="sr-only">Features</span>
            </div>
          </div>

          <%# GitHub Free %>
          <div role="columnheader" class="<%= col_width %> d-md-flex flex-column flex-justify-between mb-3 mb-md-0 js-compare-features-item" data-plan="free">
            <div class="d-flex flex-column flex-justify-between height-full rounded-top-2 px-2 px-lg-3 pt-2 pt-lg-3 color-bg-default">
              <h2 class="h3 mt-1">Free</h2>
              <% if account_specific %>
                <p class="d-none d-lg-block f6 color-fg-muted my-2">All the basics</p>
              <% end %>
            </div>
          </div>

          <%# GitHub Pro %>
          <% if account_specific && (context == "personal") %>
            <div role="columnheader" class="<%= col_width %> d-md-flex flex-column flex-justify-between mb-3 mb-md-0 js-compare-features-item" data-plan="pro">
              <div class="d-flex flex-column flex-justify-between height-full rounded-top-2 px-2 px-lg-3 pt-2 pt-lg-3 color-bg-subtle">
                <h2 class="h3 mt-1">Pro</h2>
                <p class="d-none d-lg-block f6 color-fg-muted my-2">Advanced tools for private repos</p>
              </div>
            </div>
          <% end %>

          <% unless context == "personal" %>
            <%# GitHub Team %>
            <div role="columnheader" class="<%= col_width %> d-md-flex flex-column flex-justify-between mb-3 mb-md-0 js-compare-features-item" data-plan="team">
              <div class="d-flex flex-column flex-justify-between height-full rounded-top-2 px-2 px-lg-3 pt-2 pt-lg-3 color-bg-subtle">
                <h2 class="h3 mt-1">Team</h2>
                <% if account_specific %>
                  <p class="d-none d-lg-block f6 color-fg-muted my-2">Advanced collaboration &amp; support</p>
                <% end %>
              </div>
            </div>

            <%# GitHub Enterprise %>
            <% unless hide_enterprise %>
              <div role="columnheader" class="<%= col_width %> d-md-flex flex-column flex-justify-between mb-3 mb-md-0 js-compare-features-item" data-plan="enterprise">
                <div class="d-flex flex-column flex-justify-between height-full rounded-top-2 px-2 px-lg-3 pt-2 pt-lg-3 color-bg-subtle">
                  <h2 class="h3 mt-1">Enterprise</h2>
                  <% if account_specific %>
                    <p class="d-none d-lg-block f6 color-fg-muted my-2">Security &amp; flexible deployment</p>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="text-center <% unless account_specific %>p-responsive<% end %>">
        <div role="row" class="d-md-flex gutter-md-condensed">
          <div role="rowheader" class="<%= context == "pricing" ? "col-md-4" : col_width %> mb-3 mb-md-0 color-bg-default position-relative">
            <div class="d-none d-md-block color-bg-default position-absolute top-0 left-0 bottom-0 col-1 ml-md-n5">
              <span class="sr-only">Pricing</span>
            </div>
          </div>

          <%# GitHub Free %>
          <div role="cell" class="<%= col_width %> d-md-flex flex-column flex-justify-between mb-3 mb-md-0 js-compare-features-item" data-plan="free">
            <div class="d-flex flex-column flex-justify-between height-full rounded-top-2 px-2 px-lg-3 color-bg-default">
              <div class="d-none d-md-block">
                <%= render Pricing::PriceTagComponent.new(plan: GitHub::Plan.free, render_mode: :comparison_table) %>
              </div>
            </div>
          </div>

          <%# GitHub Pro %>
          <% if account_specific && (context == "personal") %>
            <div role="cell" class="<%= col_width %> d-md-flex flex-column flex-justify-between mb-3 mb-md-0 js-compare-features-item" data-plan="pro">
              <div class="d-flex flex-column flex-justify-between height-full rounded-top-2 px-2 px-lg-3 color-bg-subtle">
                <div class="d-lg-flex flex-justify-center flex-items-center my-2">
                  <div class="f2 mr-lg-1">$<%= GitHub::Plan.pro.cost %></div>
                </div>
              </div>
            </div>
          <% end %>

          <% unless context == "personal" %>
            <%# GitHub Team %>
            <div role="cell" class="<%= col_width %> d-md-flex flex-column flex-justify-between mb-3 mb-md-0 js-compare-features-item" data-plan="team">
              <div class="d-flex flex-column flex-justify-between height-full rounded-top-2 px-2 px-lg-3 color-bg-subtle">
                <div class="d-none d-md-block">
                  <%= render Pricing::PriceTagComponent.new(plan: GitHub::Plan.business, render_mode: :comparison_table) %>
                </div>
              </div>
            </div>

            <%# GitHub Enterprise %>
            <% unless hide_enterprise %>
              <div role="cell" class="<%= col_width %> d-md-flex flex-column flex-justify-between mb-3 mb-md-0 js-compare-features-item" data-plan="enterprise">
                <div class="d-flex flex-column flex-justify-between height-full rounded-top-2 px-2 px-lg-3 color-bg-subtle">
                  <div class="d-none d-md-block">
                    <%= render Pricing::PriceTagComponent.new(plan: GitHub::Plan.business_plus, render_mode: :comparison_table) %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="text-center <% unless account_specific %>p-responsive<% end %>">
        <div role="row" class="d-md-flex gutter-md-condensed">
          <div role="rowheader" class="<%= context == "pricing" ? "col-md-4" : col_width %> mb-3 mb-md-0 color-bg-default position-relative">
            <div class="d-none d-md-block color-bg-default position-absolute top-0 left-0 bottom-0 col-1 ml-md-n5">
              <span class="sr-only">How to get started</span>
            </div>
          </div>

          <%# GitHub Free %>
          <div role="cell" class="<%= col_width %> d-md-flex flex-column flex-justify-between mb-3 mb-md-0 js-compare-features-item" data-plan="free">
            <div class="d-flex flex-column flex-justify-between height-full rounded-top-2 px-2 px-lg-3 pb-2 pb-lg-3 color-bg-default">
              <% if account_specific %>
                <% if account.org_free_plan? || account.personal_plan? %>
                  <div class="text-center pb-2">
                    <%= render(Primer::Beta::Label.new(title: "Current plan", scheme: :orange)) { "Current plan" } %>
                  </div>
                <% elsif !Billing::EnterpriseCloudTrial.new(account).active? %>
                  <%= render Billing::Settings::DowngradeDialogComponent.new(
                    organization: context == "personal" ? nil : account,
                    current_plan: current_plan,
                    new_plan: GitHub::Plan.free,
                    dialog_button_style: :comparison_button
                  ) %>
                <% end %>
              <% else %>
                <%= render "site/pricing/pricing_comparison_button_free", classes: "btn-mktg btn-muted-mktg f5 f5-mktg px-1 py-2", context: context %>
              <% end %>
            </div>
          </div>

          <%# GitHub Pro %>
          <% if account_specific && (context == "personal") %>
            <div role="cell" class="<%= col_width %> d-md-flex flex-column flex-justify-between mb-3 mb-md-0 js-compare-features-item" data-plan="pro">
              <div class="d-flex flex-column flex-justify-between height-full rounded-top-2 px-2 px-lg-3 pb-2 pb-lg-3 color-bg-subtle">
                <% if account.personal_plan? %>
                  <%= render(Primer::Beta::Button.new(tag: :a, href: upgrade_path(plan: GitHub::Plan.pro, source: "account compare plans"), scheme: :primary, size: :small, block: true, test_selector: "upgrade-to-pro")) do %>
                    Upgrade to Pro
                  <% end %>
                <% else %>
                  <div class="text-center pb-2">
                    <%= render Primer::Beta::Label.new(scheme: :orange) do %>Current plan<% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>

          <% unless context == "personal" %>
            <%# GitHub Team %>
            <div role="cell" class="<%= col_width %> d-md-flex flex-column flex-justify-between mb-3 mb-md-0 js-compare-features-item" data-plan="team">
              <div class="d-flex flex-column flex-justify-between height-full rounded-top-2 px-2 px-lg-3 pb-2 pb-lg-3 color-bg-subtle">
                <% if account_specific %>
                  <% if account.org_free_plan? %>
                    <% click_attributes = analytics_click_attributes(
                        category: "Upgrade to Team",
                        action: "click to upgrade to team",
                        label: "ref_cta:Upgrade to Team;ref_loc:compare_plans"
                    ) %>
                    <%= render(Primer::Beta::Button.new(tag: :a, href: upgrade_path(plan: GitHub::Plan.business, target: "organization", source: "account compare plans", org: account), scheme: :primary, size: :medium, block: true, data: click_attributes)) do %>
                      Upgrade to Team
                    <% end %>
                  <% elsif account.plan.business? %>
                    <div class="text-center pb-2">
                      <%= render(Primer::Beta::Label.new(title: "Current plan", scheme: :orange)) { "Current plan" } %>
                    </div>
                  <% elsif account.plan.business_plus? && !Billing::EnterpriseCloudTrial.new(account).active? %>
                    <%= render Billing::Settings::DowngradeDialogComponent.new(organization: account, current_plan: current_plan, new_plan: GitHub::Plan.business, dialog_button_style: :comparison_button) %>
                  <% end %>
                <% else %>
                  <%= render partial: "site/pricing/pricing_comparison_button_team", locals: { summary_arguments: {mt: 0, py: 2, px: 1, mx: 0}, summary_classes: "f5-mktg", classes: "mt-0 py-2 px-1 f5-mktg text-bold", context: context } %>
                <% end %>
              </div>
            </div>

            <%# GitHub Enterprise %>
            <% unless hide_enterprise %>
              <div role="cell" class="<%= col_width %> d-md-flex flex-column flex-justify-between mb-3 mb-md-0 js-compare-features-item" data-plan="enterprise">
                <div class="d-flex flex-column flex-justify-between height-full rounded-top-2 px-2 px-lg-3 pb-2 pb-lg-3 color-bg-subtle">
                  <% if account_specific %>
                    <% if !account.plan.business_plus? && !account.upgrade_to_enterprise_in_progress? %>
                      <%= link_to try_enterprise_trial_message("risk-free"), enterprise_trial_signup_path(account), size: :medium, block: true, class: "btn mb-2", params: { target: "organization" }, "data-test-selector": "enterprise-trial-button" %>
                    <% end %>
                    <% if account.org_free_plan? || account.plan.business? %>
                      <% if org_enterprise_upgrade_eligible %>
                        <% if account.upgrade_to_enterprise_in_progress&.organization_upgrade_initiated? %>
                          <%= render(Primer::Beta::Button.new(tag: :a, href: new_org_enterprise_purchase_upgrade_path(account), scheme: :primary, size: :small, block: true, test_selector: "continue-enterprise-upgrade")) do %>
                            Continue Enterprise upgrade
                          <% end %>
                        <% elsif account.upgrade_to_enterprise_in_progress&.organization_upgrade_purchase_initiated? %>
                          <%= render Primer::Beta::Flash.new(p: 1, font_size: 6, display: :flex, test_selector: "process-enterprise-upgrade") do %>
                            <%= render(Primer::Beta::Spinner.new(size: :small, ml: 2, mr: 2)) %>
                            <%= render(Primer::Beta::Text.new) { "Processing Enterprise upgrade" } %>
                          <% end %>
                        <% else %>
                          <div <%= test_selector("enterprise-account-upgrade") %>>
                            <% click_attributes = analytics_click_attributes(
                              category: "enterprise_account",
                              action: "upgrade_organization_to_enterprise_account",
                              label: "ref_loc:compare_plans"
                            ) %>
                            <%= render(Primer::Beta::Button.new(tag: :a, href: new_org_enterprise_purchase_upgrade_path(account), scheme: :primary, size: :medium, block: true, data: click_attributes)) do %>
                              Upgrade to Enterprise
                            <% end %>
                          </div>
                        <% end %>
                      <% else %>
                        <div <%= test_selector("organization-enterprise-upgrade") %>>
                          <% click_attributes = analytics_click_attributes(
                            category: "Upgrade to Enterprise",
                            action: "click to upgrade to enterprise",
                            label: "ref_cta:Upgrade to Enterprise;ref_loc:compare_plans"
                          ) %>
                          <%= render(Primer::Beta::Button.new(tag: :a, href: upgrade_path(plan: GitHub::Plan.business_plus, target: "organization", source: "account compare plans", org: account), scheme: :primary, size: :small, block: true, data: click_attributes)) do %>
                            Upgrade to Enterprise
                          <% end %>
                        </div>
                      <% end %>
                    <%# You get into the block below if you have a standalone business org trial, and you visit http://github.localhost/organizations/:org/billing/plans directly %>
                    <% elsif account.upgrading_from_trial? %>
                      <%= render Primer::ButtonComponent.new(tag: :a, href: "#{ upgrade_path(
                        plan: GitHub::Plan.business_plus,
                        target: "organization",
                        source: "account compare plans",
                        org: account) }", size: :small, block: true, scheme: :primary) do %>
                        Buy Enterprise
                      <% end %>
                    <% elsif account.plan.business_plus? %>
                      <div class="text-center pb-2">
                        <%= render(Primer::Beta::Label.new(title: "Current plan", scheme: :orange)) { "Current plan" } %>
                      </div>
                    <% end %>
                  <% else %>
                    <%= render "site/pricing/pricing_comparison_button_enterprise", classes: "btn-mktg btn-muted-mktg mb-1 py-2 px-1 f5 f5-mtkg", context: context %>
                    <%= render "site/pricing/pricing_button_free_trial",
                      classes: "btn-block btn-mktg py-2 px-1 f5",
                      context: context,
                      ref_loc: "pricing_comparison"
                    %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div role="rowgroup" class="d-flex d-md-block flex-md-row flex-wrap width-full <% unless account_specific %>p-responsive<% end %>">
      <%= render "site/pricing/compare_features_header", text: "Code management", icon: "code", alt: "Code badge", context: context, hide_enterprise: hide_enterprise %>
      <% rows = [
        {
          title: "Public repositories",
          description: "Host open source projects in public GitHub repositories, accessible via web or command line. Public repositories are accessible to anyone at GitHub.com.",
          free: "Unlimited",
          team: "Unlimited",
          enterprise: "Unlimited"
        },
        {
          title: "Private repositories",
          description: "Host code in private GitHub repositories, accessible via appliance, web, and command line. Private repositories are only accessible to you and people you share them with.",
          free: "Unlimited",
          team: "Unlimited",
          enterprise: "Unlimited"
        }
      ] %>
      <%= render "site/pricing/compare_features_rows", rows: rows, context: context, hide_enterprise: hide_enterprise, analytics: { ref_loc: "code management" } %>
    </div>

    <div role="rowgroup" class="d-flex d-md-block flex-md-row flex-wrap width-full Links--underline <% unless account_specific %>p-responsive<% end %>">
      <%= render "site/pricing/compare_features_header", text: "Code workflow", icon: "code-review", alt: "Code addition review", context: context, hide_enterprise: hide_enterprise %>
      <% rows = [
        {
          title: "GitHub Codespaces",
          description: "Spin up fully configured dev environments in the cloud with the power of your favorite editor. A \"core hour\" denotes compute usage. On a 2-core machine, you would get 60 hours free. On a 4-core machine, you would get 30 hours free, etc. Free hours are assigned to personal accounts, rather than free organizations.",
          free: safe_join(["$0 spend limit", tag(:br), "With policies and controls"]),
          pro: "180 core-hours compute/month and 20GB storage",
          team: "Ability to increase spend limit",
          enterprise: "Ability to increase spend limit"
        },
        {
          title: "GitHub Actions",
          description: "Use execution minutes with GitHub Actions to automate your software development workflows. Write tasks and combine them to build, test, and deploy any code project on GitHub. Minutes are free for public repositories.<br><br><a href='https://docs.github.com/billing/managing-billing-for-github-actions/about-billing-for-github-actions'>Learn more about billing</a>",
          free: "2,000 minutes/month",
          team: "3,000 minutes/month",
          enterprise: "50,000 minutes/month",
          footnote: "Free for public repositories"
        },
        {
          title: "GitHub Packages",
          description: "Host your own software packages or use them as dependencies in other projects. Both private and public hosting available. Packages are free for public repositories.",
          free: "500 MB",
          team: "2GB",
          enterprise: "50GB",
          footnote: "Free for public repositories"
        },
        {
          title: "Code reviews",
          description: "Review new code, see visual code changes, and confidently merge code changes with automated status checks.",
          free: :check,
          team: :check,
          enterprise: :check
        },
        {
          title: "Pull requests",
          description: "Allow contributors to easily notify you of changes they've pushed to a repository – with access limited to the contributors you specify. Easily merge changes you accept.",
          free: :check,
          team: :check,
          enterprise: :check
        },
        {
          title: "Protected branches",
          description: "Enforce restrictions on how code branches are merged, including requiring reviews by selected collaborators, or allowing only specific contributors to work on a particular branch.",
          free: "Public repositories",
          team: :check,
          enterprise: :check
        },
        {
          title: "Code owners",
          description: "Automatically request reviews – or require approval – by selected contributors when changes are made to sections of code that they own.",
          free: "Public repositories",
          team: :check,
          enterprise: :check
        },
        {
          title: "Draft pull requests",
          description: "Easily discuss and collaborate on pull requests before submitting to formal review.",
          free: "Public repositories",
          pro: "Public repositories",
          team: :check,
          enterprise: :check
        },
        {
          title: "Multiple pull request assignees",
          description: "Assign more than one person to a pull request.",
          free: "Public repositories",
          team: :check,
          enterprise: :check
        },
        {
          title: "Repository insights",
          description: "See data about activity and contributions within your repositories, including trends. You can use this data to improve collaboration and make development faster and more effective.",
          free: "Public repositories",
          team: :check,
          enterprise: :check
        },
        {
          title: "Scheduled reminders",
          description: "Send scheduled messages to you or your team listing open pull requests.",
          free: "Public repositories",
          team: :check,
          enterprise: :check
        },
        {
          title: "Automatic code review assignment",
          description: "Automatically assign code reviews to members of your team based on one of two algorithms.",
          free: "Public repositories",
          team: :check,
          enterprise: :check
        },
        {
          title: "Environment protection rules",
          description: "When a workflow job references an environment, the job won't start until all of the environment's protection rules pass.",
          free: "Public repositories",
          team: "Public repositories",
          enterprise: :check
        },
        {
          title: "Environment deployment branches and secrets",
          description: "A job cannot access secrets that are defined in an environment unless it is running on the specified branch.",
          free: "Public repositories",
          team: :check,
          enterprise: :check
        }
      ] %>
      <%= render "site/pricing/compare_features_rows", rows: rows, context: context, hide_enterprise: hide_enterprise, analytics: { ref_loc: "code workflow" } %>
    </div>

    <div role="rowgroup" class="d-flex d-md-block flex-md-row flex-wrap width-full <% unless account_specific %>p-responsive<% end %>">
      <%= render "site/pricing/compare_features_header", text: "Collaboration", icon: "teams", alt: "Team conversation", context: context, hide_enterprise: hide_enterprise %>
      <% rows = [
        {
          title: "Collaborators for public repositories",
          description: "Invite any GitHub member, or all GitHub members, to work with you on code in a public repository you control – including making changes and opening issues.",
          free: "Unlimited",
          team: "Unlimited",
          enterprise: "Unlimited"
        },
        {
          title: "Collaborators for private repositories",
          description: "Invite any GitHub member, or all GitHub members, to work with you on code in a private repository you control – including making changes and opening issues.",
          free: "Unlimited",
          pro: "Unlimited",
          team: render(Pricing::PriceTagComponent.new(plan: GitHub::Plan.business, render_mode: :default)),
          enterprise: render(Pricing::PriceTagComponent.new(plan: GitHub::Plan.business_plus, render_mode: :default))
        },
        {
          title: "Issues",
          description: "Track bugs, enhancements, and other requests, prioritize work, and communicate with stakeholders as changes are proposed and merged.",
          free: :check,
          team: :check,
          enterprise: :check
        },
        {
          title: "Projects",
          description: "Visualize and manage issues and pull requests across tables, boards, and roadmaps with custom fields and views that you can arrange to suit your workflow.",
          free: :check,
          team: :check,
          enterprise: :check
        },
        {
          title: "Milestones",
          description: "Track progress on groups of issues or pull requests in a repository, and map groups to overall project goals.",
          free: :check,
          team: :check,
          enterprise: :check
        },
        {
          title: "Team discussions",
          description: "Discuss any topic, unattached to a specific project or issue. Control who has access, notify discussion participants with updates, and link from anywhere.",
          free: :check,
          team: :check,
          enterprise: :check
        },
        {
          title: "Organization and team management",
          description: "Manage access to projects on a team-by-team, or individual user, basis.",
          free: :check,
          team: :check,
          enterprise: :check
        },
        {
          title: "Pages and wikis",
          description: "Host documentation and simple websites for your project in a wiki format that contributors can easily edit either on the web or command line.",
          free: "Public repositories",
          team: :check,
          enterprise: :check
        },
        {
          title: "Multiple issue assignees",
          description: "Assign more than one person to an issue.",
          free: "Public repositories",
          team: :check,
          enterprise: :check
        }
      ] %>
      <%= render "site/pricing/compare_features_rows", rows: rows, context: context, hide_enterprise: hide_enterprise, analytics: { ref_loc: "collaboration" } %>

      <% if context == "personal" %>
        <div role="row" class="d-none d-md-block border rounded-2 p-3 my-3" aria-label="Organization features">
          <div role="cell" class="d-flex flex-items-center">
            <div>
              <img src="<%= image_path "modules/site/icons/access-and-permission.svg" %>" height="32" class="d-block" alt="organizations">
            </div>
            <div class="text-left ml-3">
              <p class="color-fg-muted mb-0">GitHub organizations give you team-based access control and discussions.
                <a class="Link--inTextBlock" href="/team">Learn more about organizations</a></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div role="rowgroup" class="d-flex d-md-block flex-md-row flex-wrap width-full <% unless account_specific %>p-responsive<% end %>">
      <%= render "site/pricing/compare_features_header", text: "Security and compliance", icon: "security", alt: "Security Shield", context: context, hide_enterprise: hide_enterprise %>
      <% rows = [
        {
          title: "Code scanning",
          description: "Integrate automated security review into your pull requests with CodeQL. Find, prioritize, and fix vulnerabilities in your repositories without disrupting your workflow.",
          free: "Public repositories",
          team: "Public repositories",
          enterprise: "Available with Advanced Security"
        },
        {
          title: "Secret scanning",
          description: "Detect credentials exposed in your git history, comments, or discussions. Prevent further exposures with push protection, which proactively blocks secrets from being pushed into your code.",
          free: "Public repositories",
          team: "Public repositories",
          enterprise: "Available with Advanced Security"
        },
        {
          title: "Dependency review",
          description: "Understand the security impact of newly introduced dependencies during pull requests, before they get merged.",
          free: "Public repositories",
          team: "Public repositories",
          enterprise: "Available with Advanced Security"
        },
        {
          title: "Security overview",
          description: "Get a centralized view of your organization's security risks. Know where security features have and haven’t yet been configured.",
          free: :x,
          team: :x,
          enterprise: :check
        },
        {
          title: "Dependabot alerts",
          description: "Get notified when there are new vulnerabilities affecting dependencies in your repositories.",
          free: :check,
          team: :check,
          enterprise: :check
        },
        {
          title: "Dependabot security updates",
          description: "Keep projects secure by automatically opening pull requests that update vulnerable dependencies to secure versions.",
          free: :check,
          team: :check,
          enterprise: :check
        },
        {
          title: "Dependabot version updates",
          description: "Keep projects up-to-date by automatically opening pull requests that update out-of-date dependencies.",
          free: :check,
          team: :check,
          enterprise: :check
        },
        {
          title: "Repository rules",
          description: "Enforce branch and tag protections across repositories. Rule insights allow you to review rule enforcement and understand its impact.",
          free: :x,
          team: :x,
          enterprise: :check
        },
        {
          title: "Required reviews",
          description: "Ensure that pull requests have a specific number of approving reviews before collaborators can make changes to a protected branch.",
          free: "Public repositories",
          team: :check,
          enterprise: :check
        },
        {
          title: "Required status checks",
          description: "Ensure that all required CI tests are passing before collaborators can make changes to a protected branch.",
          free: "Public repositories",
          team: :check,
          enterprise: :check
        },
        {
          title: "GitHub Security Advisories",
          description: "Privately discuss, fix, and publish information about security vulnerabilities found in your repository.",
          free: "Public repositories",
          team: "Public repositories",
          enterprise: "Enterprise Cloud"
        },
        {
          title: "Role-based access control",
          description: "Define users' level of access to your code, data and settings.",
          free: :check,
          team: :check,
          enterprise: :check
        },
        {
          title: "Required 2FA",
          description: "Use an extra layer of security with two factor authentication (2FA) when logging into GitHub.",
          free: :check,
          team: :check,
          enterprise: :check
        },
        {
          title: "Audit log",
          description: "Quickly review the actions performed by members of your organization.",
          free: :check,
          team: :check,
          enterprise: :check
        }
      ] %>
      <%= render "site/pricing/compare_features_rows", rows: rows, context: context, hide_enterprise: hide_enterprise, analytics: { ref_loc: "security and compliance" } %>

      <% if context == "personal" %>
        <div role="row" class="d-none d-md-block border rounded-2 p-3 my-3" aria-label="Enterprise compliance features">
          <div role="cell" class="d-flex flex-items-center">
            <div>
              <img src="<%= image_path "modules/site/icons/enterprise-cloud.svg" %>" height="32" class="d-block" alt="organizations">
            </div>
            <div class="text-left ml-3">
              <p class="color-fg-muted mb-0">Enterprises can connect to advanced systems like LDAP and SAML single sign-on (SSO). <a class="Link--inTextBlock" href="/enterprise">Learn more about GitHub Enterprise</a></p>
            </div>
          </div>
        </div>
      <% else %>
        <% rows = [
          {
            title: "Audit log API",
            description: "Keep copies of audit log data to ensure secure IP and maintain compliance for your organization.",
            free: :x,
            team: :x,
            enterprise: :check
          },
          {
            title: "GitHub Connect",
            description: "Share features and workflows between your GitHub Enterprise Server instance and GitHub Enterprise Cloud.",
            free: :x,
            team: :x,
            enterprise: :check
          },
          {
            title: "SAML single sign-on (SSO)",
            description: "Use an identity provider to manage the identities of GitHub users and applications.",
            free: :x,
            team: :x,
            enterprise: :check
          },
          {
            title: "LDAP",
            description: "Access GitHub Enterprise Server using your existing accounts and centrally manage repository access.",
            free: :x,
            team: :x,
            enterprise: :check
          },
          {
            title: "IP allow list",
            description: "Limit access to known allowed IP addresses.",
            free: :x,
            team: :x,
            enterprise: "Enterprise Cloud"
          }
        ] %>
        <%= render "site/pricing/compare_features_rows", rows: rows, context: context, hide_enterprise: hide_enterprise, analytics: { ref_loc: "security and compliance" } %>
      <% end %>
    </div>

    <div role="rowgroup" class="d-flex d-md-block flex-md-row flex-wrap width-full <% unless account_specific %>p-responsive<% end %>">
      <%= render "site/pricing/compare_features_header", text: "Marketplace and integrations", icon: "marketplace", alt: "Marketplace building", context: context, hide_enterprise: hide_enterprise %>
      <% rows = [
        {
          title: "GitHub Apps",
          description: "Install apps that integrate directly with GitHub's API to improve development workflows – or build your own for private use or publication in the GitHub Marketplace.",
          free: "Unlimited",
          team: "Unlimited",
          enterprise: "Unlimited"
        },
        {
          title: "Status checks",
          description: "Define tests that GitHub automatically runs against code being committed to your repository, and get details about failures and what is causing them.",
          free: :check,
          team: :check,
          enterprise: :check
        }
      ] %>
      <%= render "site/pricing/compare_features_rows", rows: rows, context: context, hide_enterprise: hide_enterprise, analytics: { ref_loc: "marketplace integrations" } %>
      <% if context == "personal" %>
        <div role="row" class="d-none d-md-block border rounded-2 p-3 my-3" aria-label="Pre-receive hooks">
          <div role="cell" class="d-flex flex-items-center">
            <div>
              <img src="<%= image_path "modules/site/icons/enterprise-cloud.svg" %>" height="32" class="d-block" alt="organizations">
            </div>
            <div class="text-left ml-3">
              <p class="color-fg-muted mb-0">Enterprise Server customers create pre-receive hooks to automatically accept or reject a push. <a class="Link--inTextBlock" href="https://docs.github.com/enterprise-server/admin/policies/enforcing-policy-with-pre-receive-hooks/about-pre-receive-hooks">Learn more about pre-receive hooks</a></p>
            </div>
          </div>
        </div>
      <% else %>
        <%= render Pricing::CompareFeatureComponent.new(
          title: "Pre-receive hooks",
          description: "Create requirements for automatically accepting or rejecting a push based on the contents of the push.",
          free: :x,
          team: :x,
          enterprise: "Enterprise Server",
          context: context,
          hide_enterprise: hide_enterprise,
          analytics: { ref_loc: "marketplace integrations" }
        )%>
      <% end %>
    </div>

    <div role="rowgroup" class="d-flex d-md-block flex-md-row flex-wrap width-full Links--underline <% unless account_specific %>p-responsive<% end %>">
      <%= render "site/pricing/compare_features_header", text: "Support and deployment", icon: "support", alt: "Support person", context: context, hide_enterprise: hide_enterprise %>
      <% rows = [
        {
          title: "Community Support",
          description: "Get help with most of your GitHub questions and issues in our Community Forum.",
          free: :check,
          team: :check,
          enterprise: :check,
        },
        {
          title: "Standard Support",
          description: "GitHub Support can help you troubleshoot issues you run into while using GitHub. Get support via the web.",
          free: :x,
          team: :check,
          enterprise: :check,
        }
      ] %>
      <%= render "site/pricing/compare_features_rows", rows: rows, context: context, hide_enterprise: hide_enterprise, analytics: { ref_loc: "support and deployment" } %>
      <% if context == "personal" %>
        <div role="row" class="d-none d-md-block border rounded-2 p-3 my-3" aria-label="Enterprise support">
          <div role="cell" class="d-flex flex-items-center">
            <div>
              <img src="<%= image_path "modules/site/icons/enterprise-cloud.svg" %>" height="32" class="d-block" alt="organizations">
            </div>
            <div class="text-left ml-3">
              <p class="color-fg-muted mb-0">Enterprises also get Premium Support, invoice billing, and self-hosted deployment. <a class="Link--inTextBlock" href="/enterprise">Learn more about GitHub Enterprise</a></p>
            </div>
          </div>
        </div>
      <% else %>
        <% rows = [
          {
            title: "Premium and Premium Plus Support",
            description: "With Premium, get a 30-minute SLA on Urgent tickets and 24/7 web and phone support via callback request. With Premium Plus, get everything in Premium, assigned Customer Reliability Engineer and more.<br><br> <a href='/premium-support'>Learn more about Premium&nbsp;Support</a>",
            free: :x,
            team: :x,
            enterprise: "Available"
          },
          {
            title: "Invoice billing",
            description: "Pay bills via invoice, rather than using your credit card.",
            free: :x,
            team: :x,
            enterprise: :check
          },
          {
            title: "Self-hosted deployment",
            description: "Self-hosted GitHub for on-prem appliances or self-managed cloud tenants.",
            free: :x,
            team: :x,
            enterprise: "Enterprise Server"
          }
        ] %>
        <%= render "site/pricing/compare_features_rows", rows: rows, context: context, hide_enterprise: hide_enterprise, analytics: { ref_loc: "support and deployment" } %>
      <% end %>
    </div>

    <% unless context == "personal" %>
      <div role="rowgroup" class="d-none d-md-block flex-md-row flex-wrap width-full p-responsive js-yearly-cost">
        <div role="row" class="d-flex gutter-md-condensed flex-wrap flex-md-nowrap width-full width-md-auto">
          <div role="cell" class="<%= col_width %> position-relative"></div>
          <div role="cell" class="<%= col_width %>"></div>
          <div role="cell" class="col-6 <%= col_width %> d-md-block text-left text-md-center" data-plan="team">
            <div class="height-full p-3 color-bg-subtle color-fg-subtle">
              *
              <% cache "site_pricing_business_discount_notice", expires_in: 1.day do %>
                <%= render Pricing::AnnualDiscountNoticeComponent.new(plan: GitHub::Plan.business) %>
              <% end %>
            </div>
          </div>
          <% unless hide_enterprise %>
            <div  role="cell" class="col-6 <%= col_width %> d-md-block text-left text-md-center" data-plan="enterprise">
              <div class="height-full p-3 color-bg-subtle color-fg-subtle">
                *
                <% cache "site_pricing_business_plus_discount_notice", expires_in: 1.day do %>
                  <%= render Pricing::AnnualDiscountNoticeComponent.new(plan: GitHub::Plan.business_plus) %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div role="presentation" class="d-none mx-0 d-md-block width-full <% unless account_specific %>p-responsive<% end %>">
      <div class="gutter-md-condensed d-flex">
        <div class="<%= col_width %>"></div>
        <div class="<%= col_width %>">
          <div class="height-full rounded-bottom-2 py-3 color-bg-default"></div>
        </div>
        <div class="<%= col_width %>">
          <div class="height-full rounded-bottom-2 py-3 color-bg-subtle"></div>
        </div>
        <% unless hide_enterprise %>
          <div class="<%= col_width %>">
            <div class="height-full rounded-bottom-2 py-3 color-bg-subtle"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="plan-costs-json" hidden
  data-plan-costs="<%= {
    free: { price: GitHub::Plan.free.cost },
    pro: { price: GitHub::Plan.pro.cost },
    business_plus: { price: GitHub::Plan.business_plus.cost, price_with_discount: GitHub::Plan.business_plus.monthly_cost_with_discount },
    business: { price: GitHub::Plan.business.cost, price_with_discount: GitHub::Plan.business.monthly_cost_with_discount } }.to_json %>">
</div>
