<%
  col_width = "col-md-4"
  hide_enterprise = false if local_assigns[:hide_enterprise].nil?
%>

<div role="row" class="d-md-flex gutter-md-condensed width-full width-md-auto" <%= analytics_visible_data_attributes(category: "Compare features", text: text) %>>
  <div role="rowheader" class="<%= context == "pricing" ? "col-md-4" : col_width %> pt-7 pb-4 pb-md-2 text-center text-md-left">
    <% icon_image_path = "modules/site/icons/" + icon + ".svg" %>
    <img role="presentation" src="<%= image_path icon_image_path %>" height="42" class="d-block mx-auto ml-md-0 mb-2 grayscale" alt="" loading="lazy" style="opacity: 0.7">
    <h3 class="color-fg-muted h6-mktg"><%= text %></h3>
  </div>
  <div role="cell" class="d-md-block <%= col_width %> js-compare-features-item" data-plan="free">
    <div class="height-full color-bg-default"></div>
  </div>
  <div role="cell" class="d-md-block <%= col_width %> js-compare-features-item" data-plan="team">
    <div class="height-full color-bg-subtle"></div>
  </div>
  <% unless hide_enterprise %>
    <div role="cell" class="d-md-block <%= col_width %> js-compare-features-item" data-plan="enterprise">
      <div class="height-full color-bg-subtle"></div>
    </div>
  <% end %>
</div>
