<div class="p-responsive container-xl text-center mt-7 mt-md-8 mt-lg-9 mb-5 mb-lg-9">
  <h1 class="h2-mktg">Get the complete developer&nbsp;platform.</h1>

  <% if logged_in? && emu? %>
    <p class="mt-3 h3 text-light" <%= test_selector "emu-plan-error" %>>
      Your user account is owned by the
      <%= link_to current_user.enterprise_managed_business.name, enterprise_path(current_user.enterprise_managed_business), class: "Link--inTextBlock" %>
      Enterprise. To try other GitHub plans, sign out and sign up for a new user account.
    </p>
  <% end %>
</div>

<div class="position-relative">
  <div class="d-none d-md-block position-absolute width-full left-0 right-0 z-n1" style="top: 40%">
    <img class="width-full height-auto" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-whats-new.svg" %>" aria-hidden="true" alt="" width="1676" height="1040">
  </div>

  <div class="p-responsive container-xl text-center">
    <%= render partial: "site/pricing/cards", locals: { context: "pricing", render_octicon_symbol: false, monthly_only: true } %>

    <%= render "site/pricing/addons" %>

    <div class="mt-6 mt-md-7">
      <a href="#compare-features"
        class="d-flex flex-column flex-items-center flex-justify-center h5-mktg"
        <%= safe_analytics_click_attributes(
          category: "Feature comparison",
          action: "click to compare features",
          label: "ref_page:#{request.fullpath};ref_cta:Compare all features;ref_loc:pricing"
        ) %>
        >
        Compare all features
        <%= render(Primer::Beta::Octicon.new(icon: "arrow-down", height: 32, mt: 2)) %>
      </a>
    </div>
  </div>
</div>
