<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% if !logged_in? || !emu? %>
  <% if local_assigns[:context] == "organization_plan" %>
   <%= link_to(
      "Start Enterprise trial",
      enterprise_trial_accounts_new_path("ref_page": request.fullpath, "ref_cta": url_encode("Start Enterprise trial"), "ref_loc": url_encode("pricing comparison")),
      class: "btn btn-sm btn-block #{classes}",
      data: {
        **organization_plan_comparison_data_attributes(text: "Start Enterprise trial"),
        **analytics_click_attributes(
          category: "enterprise_trial_account",
          action: "click to set up enterprise trial",
          label: "ref_page:#{request.fullpath};ref_cta:Start Enterprise trial;ref_loc:pricing comparison"
        )
      }
    ) %>
  <% else %>
    <a href="<%= ent_contact_url %>?ref_page=<%= request.fullpath %>&ref_cta=<%= url_encode("Contact Sales") %>&ref_loc=<%= url_encode("pricing comparison") %>"
      class="btn btn-sm btn-block <%= classes %>"
      <%= safe_analytics_click_attributes(
        category: "Contact Sales",
        action: "click to contact sales",
        label: "ref_page:#{request.path};ref_cta:Contact Sales;ref_loc:pricing_compare_features_enterprise"
      ) %>
    >
      Contact Sales
    </a>
  <% end %>
<% end %>
