<%
  event_category = "Pricing comparison" if local_assigns[:event_category].nil?
  event_source = "pricing-comparison" if local_assigns[:event_source].nil?
  referring_page = "Pricing" if local_assigns[:referring_page].nil?
  summary_classes = local_assigns[:summary_classes] ? "btn-mktg Link--outlineOffset #{local_assigns[:summary_classes]}" : "btn-mktg Link--outlineOffset"
  summary_arguments = local_assigns[:summary_arguments] || {}
%>
<% if logged_in? %>
  <% unless emu? %>
    <% if (local_assigns[:context] != "organization_plan") && current_user.billing_manageable_per_repo_orgs.any? %>
      <%= render Primer::Beta::Details.new(overlay: :default, reset: true, display: :block, classes: 'js-dialog-close-on-focusout') do |component| %>
        <% component.with_summary(
          button: false,
          display: :block,
          classes: summary_classes,
          **summary_arguments
        ) do %>
          Upgrade <%= render(Primer::Beta::Octicon.new(:"chevron-down", size: :small)) %>
        <% end %>
        <% component.with_body(
          tag: :div,
          classes: "SelectMenu",
          role: "menu"
        ) do %>
          <div class="SelectMenu-modal py-2 z-2">
            <%= render(Primer::Alpha::ActionList.new(
              role: :menu,
              scheme: :full,
              show_dividers: true
            )) do |component|
              current_user.billing_manageable_per_repo_orgs.each do |org|
                component.with_item(
                  label: org.safe_profile_name,
                  href: upgrade_path(org: org, target: "organization", plan: GitHub::Plan.business, "ref_page": request.fullpath, "ref_cta": url_encode("<org-name>"), "ref_loc": url_encode(event_source), pricing_exp: true),
                  mx: 2,
                  content_arguments: {
                    classes: "js-pricing-upgrade-path",
                    data: {
                      **analytics_click_attributes(
                        category: "Change organization",
                        action: "click to upgrade to Team",
                        label: "ref_page:#{request.fullpath};ref_cta:<org-name>;ref_loc:#{event_source}",
                      ),
                    },
                  },
                ) do |item|
                  item.with_leading_visual_content do
                    avatar_for(org, 20)
                  end
                end
              end
              component.with_item(
                label: "Create organization",
                href: new_organization_path(plan: GitHub::Plan.business, "ref_page": request.fullpath, "ref_cta": url_encode("Create organization"), "ref_loc": url_encode(event_source)),
                mx: 2,
                content_arguments: {
                  classes: "js-pricing-upgrade-path",
                  data: {
                    **analytics_click_attributes(
                      category: "Create organization",
                      action: "click to set up organization",
                      label: "ref_page:#{request.fullpath};ref_cta:Create organization;ref_loc:#{event_source}"
                    ),
                  },
                },
              ) do |item|
                item.with_leading_visual_icon(icon: :plus)
              end
            end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to(
        "Continue with Team",
        new_organization_path(plan: GitHub::Plan.business, "ref_page": request.fullpath, "ref_cta": url_encode("Continue with Team"), "ref_loc": url_encode(event_source)),
        class: "btn btn-sm btn-block ws-normal mx-1 ws-normal #{classes} js-pricing-upgrade-path",
        data: {
          **organization_plan_comparison_data_attributes(text: "continue with Team"),
          **analytics_click_attributes(
            category: "Create organization",
            action: "click to set up organization",
            label: "ref_page:#{request.fullpath};ref_cta:Continue with Team;ref_loc:#{event_source}"
          )
        }
      ) %>
    <% end %>
  <% end %>
<% else %>
  <%= link_to(
    "Continue with Team",
    signup_path(source: "#{event_source}-team", plan: GitHub::Plan.business, setup_organization: true, "ref_page": request.fullpath, "ref_cta": url_encode("Continue with Team"), "ref_loc": url_encode(event_source)),
    class: "btn btn-sm btn-block ws-normal mx-1 #{classes} js-pricing-upgrade-path",
    data: {
      **sign_up_link_data_attributes(location_in_page: "continue with team"),
      **analytics_click_attributes(
        category: "Sign up",
        action: "click to sign up for account",
        label: "ref_page:#{request.fullpath};ref_cta:Continue with Team;ref_loc:#{event_source}"
      )
    },
  ) %>
<% end %>
