<% testimonials = [
  {
    id: "trustpilot",
    company: "Trustpilot",
    logo: image_path("modules/site/pricing/logos/trustpilot.svg"),
    logoHeight: "60",
    image: image_path("modules/site/pricing/testimonials/trustpilot.jpg"),
    alt: "Trustpilot office",
    quote: "GitHub is the world’s mono repository, so sharing our open source there is natural.",
    attribution: "Martin Andersen, VP of Engineering, Trustpilot",
    url: "/customer-stories/trustpilot"
  },
  {
    id: "netdata",
    company: "Netdata",
    logo: image_path("modules/site/pricing/logos/netdata.svg"),
    logoHeight: "63",
    image: image_path("modules/site/pricing/testimonials/netdata.jpg"),
    alt: "Netdata team",
    quote: "GitHub Advanced Security is there for every pull request and excels compared to other static analysis tools we have used.",
    attribution: "Dimosthenis Kaponis, CTO, Netdata",
    url: "/customer-stories/netdata"
  },
  {
    id: "americanairlines",
    company: "American Airlines",
    logo: image_path("modules/site/pricing/logos/american-airlines.svg"),
    logoHeight: "85",
    image: image_path("modules/site/pricing/testimonials/american-airlines.jpg"),
    alt: "American Airlines office",
    quote: "GitHub keeps us up to speed with the industry’s best tools. We want new hires to know GitHub is in our toolchain—it makes them excited to join us.",
    attribution: "Spencer Kaiser, Principal Architect of Emerging Tech, American Airlines",
    url: "/customer-stories/american-airlines"
  },
  {
    id: "sap",
    company: "SAP",
    logo: image_path("modules/site/logos/sap.svg"),
    logoHeight: "63",
    image: image_path("modules/site/pricing/testimonials/sap.jpeg"),
    alt: "SAP meeting",
    quote: "This collaborative way of building software is unstoppable. It isn’t going away—and GitHub has its place in that. We can make the whole company rethink how they build software.",
    attribution: "Ingo Sauerzapf, SAP Cloud Development Tools Manager",
    url: "/customer-stories/sap"
  },
  {
    id: "spotify",
    company: "Spotify",
    logo: image_path("modules/site/pricing/logos/spotify.svg"),
    logoHeight: "65",
    image: image_path("modules/site/pricing/testimonials/spotify.jpg"),
    alt: "Spotify studio",
    quote: "People know what a pull request is because it’s how they contribute to open source projects. We have many developers who are well-versed with GitHub, either for personal development or previous roles. With GitHub Enterprise, no one has to relearn the wheel.",
    attribution: "Laurent Ploix, Product Manager, Spotify",
    url: "/customer-stories/spotify"
  },
  {
    id: "stripe",
    company: "Stripe",
    logo: image_path("modules/site/logos/stripe.png"),
    logoHeight: "73",
    image: image_path("modules/site/pricing/testimonials/stripe.jpg"),
    alt: "Stripe office",
    quote: "I have seen some truly revolutionary actions happen in communities on GitHub. People are collaborating on code but they’re also having foundational conversations on best practices and how software, as a whole, is built. More and more, GitHub is an internet archive. It’s a deeply social and critical piece of our infrastructure.",
    attribution: "Michael Glukhovsky, Developer, Stripe",
    url: "/customer-stories/stripe"
  },
  {
    id: "ford",
    company: "Ford",
    logo: image_path("modules/site/pricing/logos/ford.png"),
    logoHeight: "64",
    image: image_path("modules/site/pricing/testimonials/ford.jpg"),
    alt: "Ford car interior",
    quote: "When we started talking about code reuse, we felt like we already had the perfect platform in place: GitHub.",
    attribution: "Timothy Carmean, Software Processes and Tools Supervisor, Ford",
    url: "/customer-stories/ford"
  },
  {
    id: "nubank",
    company: "Nubank",
    logo: image_path("modules/site/pricing/logos/nubank.png"),
    logoHeight: "78",
    image: image_path("modules/site/pricing/testimonials/nubank.jpg"),
    alt: "Nubank office",
    quote: "Using GitHub Enterprise Cloud removes the burden of managing infrastructure, and we don’t need to worry about the availability of our versioning code, source code and versioning tools. It lets us focus on what’s important for our business, and that’s our customers.",
    attribution: "Victor Gomes, Infosec Tech Manager, Nubank",
    url: "/customer-stories/nubank"
  },
]

testimonials_digest = Digest::SHA256.hexdigest(testimonials.to_json)
cache_key = "site_pricing_testimonials_#{testimonials_digest}" %>

<div id="testimonials" class="px-lg-3 my-7 my-md-8" <%= mktg_color_theme_attributes %> <%= analytics_visible_data_attributes(category: "Testimonials", text: "Enterprise testimonials") %>>
  <div class="pricing-dark-container position-relative z-1 py-5 py-md-7">
    <% cache cache_key do %>
      <div class="p-responsive container-xl">
        <div role="tablist" class="col-12 mx-auto d-flex flex-justify-between flex-items-stretch overflow-x-scroll overflow-y-hidden pl-3 pl-md-0">
          <% testimonials.each_with_index do |testimonial, i| %>
            <button role="tab" aria-selected="<%= i == 0 %>" class="border-0 rounded-3 mb-3 mr-2 mr-md-0 pricing-testimonial-logo <% if i == 0 %>pricing-testimonial-logo-active<% end %> js-pricing-testimonial-logo" type=button>
              <picture class="d-block height-full d-flex flex-column flex-justify-center">
                <img src="<%= testimonial[:logo] %>" alt="<%= testimonial[:company] %>" height="<%= testimonial[:logoHeight] %>" class="p-3 z-1" loading="lazy">
              </picture>
            </button>
          <% end %>
        </div>

        <div class="d-flex flex-justify-between mt-5 flex-wrap flex-md-nowrap flex-column-reverse flex-md-row pricing-testimonial-img-container">
          <div class="col-md-6 position-relative pr-5 pr-md-9 pb-5">
            <div class="position-relative">
              <% testimonials.each_with_index do |testimonial, i|
                image_class = "pricing-testimonial-content js-pricing-testimonial-img z-1 width-full width-fit height-auto"
                if i == 0
                  image_class += " pricing-testimonial-content-active"
                end
                %>
                <%= render Site::ImageComponent.new(
                  src: testimonial[:image],
                  alt: testimonial[:alt],
                  width: 900,
                  height: 600,
                  classes: image_class,
                  sizes: "(max-width: 768) 85vw, (max-width: 1360px) 40vw, 544px"
                ) %>
              <% end %>
            </div>
          </div>

          <div class="col-md-6 px-md-0 px-3 pb-6">
            <% testimonials.each_with_index do |testimonial, i| %>
              <div role="tabpanel" class="js-pricing-testimonial-quote pricing-testimonial-content <% if i == 0 %>pricing-testimonial-content-active<% end %>">
                <p class="f1-mktg text-normal text-gradient-mint-blue pr-3">
                  <span class="pricing-hanging-quote">“</span><%= testimonial[:quote] %>”
                </p>
                <p class="h6-mktg color-fg-default mb-5">— <%= testimonial[:attribution] %></p>
                <%= render Site::LinkComponent.new(
                  text: "Read the case study",
                  url: testimonial[:url],
                  classes: "color-fg-accent"
                ) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
