<div data-login="<%= account.display_login %>">
  <% if listings.any? %>
    <% instrument_marketplace_quick_install_view(current_user, listings) if instrument_listings %>
    <h5 class="mb-0">
      Grant your Marketplace apps access to this repository
    </h5>

    <p class="note">
      <%= account == current_user ? "You are" : "#{account.display_login} is" %>
      subscribed to <%= listings.size %> Marketplace <%= "app".pluralize(listings.size) %>
    </p>
    <% listings.each do |listing, auto_install| %>
      <div class="form-checkbox">
        <label class="d-flex flex-items-center">
          <input class="flex-shrink-0" type="checkbox" name="quick_install[<%= account.display_login %>][<%= listing.id %>]" <%= "checked disabled" if auto_install %> aria-describedby="help-text-for-checkbox">
          <div class="CircleBadge CircleBadge--tiny mx-2 flex-shrink-0" style="background: #<%= listing.bgcolor %>;">
            <img src="<%= listing.primary_avatar_url(106) %>" class="CircleBadge-icon" alt="<%= listing.name %> logo preview">
          </div>
          <div>
            <%= listing.name %>
            <p class="note"><%= listing.normalized_short_description %></p>
          </div>
        </label>
      </div>
    <% end %>
  <% end %>
</div>
