<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# `view` is Repositories::CreateView %>

<details class="js-owner-container position-relative details-reset details-overlay select-menu">
  <summary id="repository-owner" class="btn select-menu-button with-gravatar js-owner-select hack-repos-owner-summary" data-menu-button aria-describedby="repository-owner-label">
    <% if owner.id %>
      <%= render(GitHub::AvatarComponent.new(actor: owner, mr: 1)) %>
    <% end %>
    <%= owner.display_login %>
  </summary>
   <% url = user_organizations_info_path(current_user, owner_id: owner.id) %>
   <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" src="<%= url %>" preload aria-labelledby="repository-owner-label"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-filters">
        <div class="select-menu-text-filter">
          <input type="text" id="owner-filter-field" class="form-control js-filterable-field" placeholder="Filter potential owners" aria-label="Filter owners" autocomplete="off" autofocus>
        </div>
      </div>
    <% if view.defer_organizations_load? %>
      <include-fragment aria-label="Loading">
        <%= render(Primer::Beta::Spinner.new(my: 6, mx: :auto, display: :block)) %>
        <% info = view.organization_info_hash(owner) %>
        <%=
          render Repositories::New::OwnerMenuOptionComponent.new(
            owner_option: owner,
            default_selected_option: owner,
            hidden: true,
            access: info[:access],
            allow_internal_repos: info[:allow_internal_repos],
            allow_private_repos: info[:allow_private_repos],
            allow_public_repos: info[:allow_public_repos],
          )
        %>
      </include-fragment>
    <% else %>
      <%= render partial: "repositories/new/orgs_select_menu", locals: {
            custom_disabled_message: view.custom_user_disabled_message,
            organizations_info: view.organizations_info,
            installable_marketplace_apps: view.installable_marketplace_apps_info,
            owner: owner,
            current_user_owned_organization_ids: view&.owned_organization_ids_for_user(current_user),
          } %>
    <% end %>
  </details-menu>
</details>
