<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if form %>
  <%#
  This hidden field needs to be conditionally displayed until CreateButtonComponent is refactored
  to have a form we can pass into this component
  %>
  <%= form.hidden_field(form_field, value: branch, id: ["codespace_ref"], data: autosubmit ? { autosubmit: true } : {} )%>
<% end %>

<details class="details-reset details-overlay position-relative" id="codespaces-branch-selector">
  <%= render Primer::ButtonComponent.new(**button_options) do %>
    <span data-menu-button class="text-normal css-truncate-target">
      <%= primer_octicon(:"git-branch", mr: 1) %>
      <span class="text-normal js-selected-branch" style="max-width: inherit;"><%= selected_branch %></span>
    </span>
    <span class="dropdown-caret float-right mt-2"></span>
  <% end %>
  <div class="SelectMenu<% if right_aligned  %> right-0<% end %>">
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <p class="SelectMenu-title mb-0">Select branch</p>
        <%= render Primer::Beta::CloseButton.new(ml: 2, classes: "SelectMenu-closeButton btn-link", "data-toggle-for": "codespaces-branch-selector", "aria-label": "Close menu") %>
      </header>
      <input-demux>
        <div class="SelectMenu-filter">
          <input data-target="input-demux.source"
            id="branch-filter"
            class="SelectMenu-input form-control js-filterable-field"
            type="text"
            autocomplete="off"
            spellcheck="false"
            placeholder="Find a branch"
            aria-label="Find a branch"
            autofocus>
        </div>
        <ref-selector
          type="branch"
          data-targets="input-demux.sinks"
          data-action="
            input-entered:ref-selector#inputEntered
            focus-list:ref-selector#focusFirstListMember
          "
          query-endpoint="<%= refs_ref_list_path(repository: repository.name, user_id: repository.owner_display_login) %>"
          cache-key="<%= cache_key %>"
          default-branch="<%= Base64.strict_encode64(branch.presence || default_branch) %>"
          name-with-owner="<%=  Base64.strict_encode64(repository.name_with_display_owner) %>"
          prefetch-on-mouseover
          >

          <template data-target="ref-selector.fetchFailedTemplate">
            <div class="SelectMenu-message" data-index="{{ index }}">Could not load branches</div>
          </template>

          <div data-target="ref-selector.listContainer" role="menu" class="SelectMenu-list" style="max-height: 330px">
            <div class="SelectMenu-loading pt-3 pb-0">
              <%= render(Primer::Beta::Spinner.new(size: :medium)) %>
            </div>
          </div>
          <template data-target="ref-selector.itemTemplate">
            <button class="SelectMenu-item js-codespaces-branch Truncate" role="menuitemradio" aria-checked="{{ isCurrent }}" data-index="{{ index }}" data-refname="{{ refName }}" type="submit">
              <%= render(Primer::Beta::Octicon.new("check", classes: 'SelectMenu-icon SelectMenu-icon--check')) %>
              <span class="text-normal Truncate-text">{{ refName }}</span>
            </button>
          </template>
          <template data-target="ref-selector.noMatchTemplate">
            <div class="SelectMenu-message" data-index="{{ index }}">Nothing to show</div>
          </template>
        </ref-selector>
      </input-demux>
    </div>
  </div>
</details>
