<% page_info(title: "Invoiced Sponsors agreement · #{sponsor.safe_profile_name}")%>

<% content_for :content do %>
  <%= render "orgs/header", view: create_view_model(
    Orgs::HeaderView,
    organization: sponsor,
    selected_nav_item: :sponsoring,
  ) %>
  <div class="container-xl p-responsive d-md-flex">
    <%= render Sponsors::Orgs::AdminSponsoringTabsComponent.new(
      org: sponsor,
      selected_link: :org_sponsoring_insights,
      viewer_can_manage_sponsorships: this_organization.billing_manageable_by?(current_user)
    ) %>
    <div class="px-md-3 d-inline-flex width-full">
      <div class="p-md-3 width-full">
        <%= render(Primer::Beta::Breadcrumbs.new(mb: 5)) do |component| %>
          <% component.with_item(href: org_sponsoring_path(sponsor),
            font_size: 3,
            font_weight: :bold ).with_content("Overview")%>
          <% component.with_item(href: request.path,
            font_size: 3,
            font_weight: :bold).with_content("Invoiced Sponsors Agreement") %>
        <% end %>

        <p>Signed: <%= signature.created_at.strftime("%b %e, %Y") %> </p>
        <p>Signed by: @<%= signature.signatory&.display_login %></p>
        <%= render(Primer::Beta::BorderBox.new) do |component| %>
          <% component.with_body do %>
            <div class="markdown-body" <%= test_selector("agreement-body") %>><%= signature.agreement.body_html %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
