<div class="<%= classes %>">
  <span class="mr-3" <%= test_selector("indicator-new-users") %>>
    <%= render Primer::Beta::Octicon.new(icon: "x", color: icon_color("x"), mr: 0) %>
    New users
  </span>
  <span class="mr-3" <%= test_selector("indicator-users") %>>
    <%= render Primer::Beta::Octicon.new(icon: users_icon, color: icon_color(users_icon), mr: 0) %>
    Users
  </span>
  <span class="mr-3" <%= test_selector("indicator-contributors") %>>
    <%= render Primer::Beta::Octicon.new(icon: contributors_icon, color: icon_color(contributors_icon), mr: 0) %>
    Contributors
  </span>
  <span class="mr-3" <%= test_selector("indicator-collaborators") %>>
    <%= render Primer::Beta::Octicon.new(icon: "check", color: icon_color("check"), mr: 0) %>
    Collaborators
  </span>
  <% if in_organization %>
    <span <%= test_selector("indicator-org-members") %>>
      <%= render Primer::Beta::Octicon.new(icon: "check", color: icon_color("check"), mr: 0) %>
      Organization members
    </span>
  <% end %>
</div>
