<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<li class="Box-row">
  <div class="d-flex flex-justify-between flex-items-center">
    <div class="pr-2">
      <div class="d-flex flex-items-start flex-items-center">
        <label for="<%= limit %>" class="mr-2" <%= test_selector("limit-title") %>>
          <%= limit_title %>
        </label>

        <% if show_time_remaining? %>
          <%= render Primer::Beta::Label.new(scheme: :success, display: :flex, classes: "flex-items-center") do %>
            <%= render Primer::Beta::Octicon.new(icon: "clock", mr: 1) %>
            Enabled with <%= distance_of_time_in_words_to_now(current_expiry) %> remaining.
          <% end %>
        <% end %>
      </div>
      <p class="note" <%= test_selector("limit-description") %>>
        <%= limit_description %>
      </p>

      <%= render InteractionLimits::ImpactIndicatorsComponent.new(
        limit: limit,
        in_organization: in_organization,
      ) %>
    </div>

    <% if overridden_by_global_limit? %>
      <button
        type="button"
        id="<%= limit %>"
        class="btn tooltipped tooltipped-s"
        aria-label="Configured at <%= current_origin %> level"
        disabled
        <%= test_selector("limit-overridden") %>
      ><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        Enable
      </button>
    <% else %>
      <% if limit_enabled? %>
        <%= form_tag form_path, method: :put do %>
          <input type="hidden" name="interaction_setting" value="NO_LIMIT">
          <button id="<%= limit %>" type="submit" class="btn">Disable</button>
        <% end %>
      <% else %>
        <div class="d-flex flex-justify-end position-relative">
          <details class="details-reset details-overlay">
            <%= render Primer::ButtonComponent.new(tag: :summary, "aria-haspopup": "true") do %>
              Enable <span class="dropdown-caret"></span>
            <% end %>
            <div class="SelectMenu right-0" role="menu">
              <div class="SelectMenu-modal">
                <header class="SelectMenu-header">
                  <h3 class="SelectMenu-title">Enable interaction limits for:</h3>
                </header>
                <div class="SelectMenu-list">
                  <% durations.each do |duration| %>
                    <%= form_tag form_path, method: :put do %>
                      <input type="hidden" name="interaction_setting" value="<%= limit_enum %>">
                      <input type="hidden" name="expiry" value="<%= duration[:key] %>">
                      <button type="submit" class="SelectMenu-item" role="menuitemradio">
                        <%= duration[:text] %>
                      </button>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </details>
        </div>
      <% end %>
    <% end %>
  </div>
</li>
