<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% content = capture do %>
  <span class="text-bold d-block mb-2" <%= test_selector("interaction-override-title") %>>
    <%= render Primer::Beta::Octicon.new(icon: "clock", mr: 1) %>
    <%= limit_title %>
    <%= render Primer::Beta::Label.new(scheme: :success, ml: 1) do %>
      <%= distance_of_time_in_words_to_now(current_expiry) %> remaining
    <% end %>
  </span>

  <% if banner? %>
    <p class="text-small" <%= test_selector("interaction-override-description") %>>
      <%= limit_description %>
    </p>

    <%= render InteractionLimits::ImpactIndicatorsComponent.new(
      limit: current_limit,
      classes: "d-flex text-small mb-3 mt-2",
      in_organization: in_organization?,
    ) %>
  <% end %>

  <% if adminable? %>
    <% if banner? %>
      <%= form_tag form_path, method: :put do %>
        <input type="hidden" name="interaction_setting" value="NO_LIMIT">
        <input type="hidden" name="return_to" value="<%= return_to %>">
        <%= render Primer::ButtonComponent.new(type: :submit) do %>Disable<% end %>
        <span class="text-small" <%= test_selector("interaction-override-banner-admin-link") %>>
          or view <a class="Link--inTextBlock" href="<%= admin_link %>"><%= admin_text %></a>
        </span>
      <% end %>
    <% else %>
      <span class="text-small d-block" <%= test_selector("interaction-override-banner-admin-link") %>>
        View <a class="Link--inTextBlock" href="<%= admin_link %>"><%= admin_text %></a> to make changes.
      </span>
    <% end %>
  <% end %>
<% end %>

<% if banner? %>
  <%= render(Primer::Beta::Flash.new(**{ mb: 3, test_selector: "interaction-override-banner" }.merge(@kwargs))) do %>
    <%= content %>
  <% end %>
<% else %>
  <div class="Box-header Box-header--blue" <%= test_selector("interaction-override-banner") %>>
    <%= content %>
  </div>
<% end %>
