<div class="Box" <%= test_selector("interaction-limit-settings") %>>
  <% if show_override_banner? %>
    <%= render InteractionLimits::OverrideBannerComponent.new(
      object: interaction_ability.object,
      type: :header,
      interaction_ability: interaction_ability,
      current_origin: current_origin,
      limit_owner: owner,
      current_limit: current_limit,
      current_expiry: current_expiry
    ) %>
  <% end %>
  <% if show_global_settings_header? %>
    <div class="Box-header text-bold" <%= test_selector("interaction-limit-global-header") %>>
      You can restrict repository interactions across <%= global_settings_phrase %>
      in your <a class="Link--inTextBlock" href="<%= global_settings_link %>"><%= global_settings_text %></a>.
    </div>
  <% end %>
  <ul>
    <% RepositoryInteractionAbility::INTERACTION_LIMITS.each do |limit| %>
      <%= render InteractionLimits::LimitComponent.new(
        ability: interaction_ability,
        limit: limit,
        current_limit: current_limit,
        current_origin: current_origin,
        current_expiry: current_expiry,
        staff_actor: staff_actor,
        in_organization: owner.organization?,
      ) %>
    <% end %>
  </ul>
</div>
