<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Temporary interaction limits<% end %>
<% end %>

<p <%= test_selector("limits-feature-description") %>>
  Temporarily restrict which external users can interact with your <%= repository? ? "repository" : "repositories" %> (comment, open issues, or create pull requests) for a configurable period of time.

  <% if organization? %>
    Users who are members of this organization will not be affected by these limits.
  <% end %>
</p>

<p>
  This may be used to force a "cool-down" period during heated discussions or prevent unwanted interactions.
</p>

<% unless repository? %>
  <p <%= test_selector("limits-override-description") %>>
    Interaction limits may already exist in your <%= organization? ? "organization" : "account" %>'s <strong>public repositories</strong>.
    Any changes here will override those limits.
  </p>
<% end %>

<%= render InteractionLimits::SettingsComponent.new(object: object) %>
