<% unless current_user.dismissed_notice?(:dashboard_promo_galaxy24_virtual) %>
  <div class="js-notice" <%= test_selector('dashboard-announcements') %>>
    <%= form_tag(
      dismiss_notice_path(:dashboard_promo_galaxy24_virtual),
      class: "position-relative rounded-2 mb-4 px-3 js-notice-dismiss overflow-hidden",
      style: "z-index: 1; background-color: #000000; #{ user_feature_enabled?(:feeds_v2) ? '' : 'max-width: 340px;' }",
      data: analytics_visible_attributes(category: "In-product banner", text: "2024q4-evt-ww-GitHub-Galaxy-Virtual")
    ) do %>
      <div class="position-absolute p-2" style="top: 10px; right: 12px; z-index: 2;">
        <%= render(Primer::Beta::CloseButton.new(type: :submit, color: :on_emphasis, style: "color: #ffffff !important")) %>
      </div>

      <div class="py-3 position-relative">
        <div class="galaxy24-border galaxy24-border-vertical position-absolute height-full top-0 left-0"></div>
        <div class="galaxy24-border galaxy24-border-vertical galaxy24-border-vertical-shift position-absolute height-full top-0 right-0"></div>
        <div class="galaxy24-border galaxy24-border-horizontal ml-n3 mr-n3"></div>

        <div class="my-1 mx-2">
          <h3 class="h2 col-11 lh-condensed-ultra" style="color: #ffffff !important;">
            GitHub Galaxy
          </h3>
          <h4 class="h3 col-11 lh-condensed-ultra mt-1" style="color: #8B949E !important;">
            June 18, 19 or 20
          </h4>

          <p class="my-2 pb-1 pr-2 color-fg-muted f5 lh-condensed" style="color: #8B949E !important;">
            Join us virtually to explore our vision for AI-powered development, productivity, and modernization.
          </p>

          <div class="mb-4" style="background-color: transparent;">
            <%= render Primer::Beta::Button.new(
              size: :medium,
              tag: :a,
              href: "https://galaxy.github.com/virtual?utm_source=github&utm_medium=product-banner&utm_campaign=2024q4-evt-ww-GitHub-Galaxy-Virtual",
              block: true,
              classes: "galaxy24-dashboard-promo-btn",
              data: analytics_click_attributes(
                category: "dashboard_notices",
                action: "2024q4-evt-ww-GitHub-Galaxy-Virtual",
              )
            ) do %>
              Register now
            <% end %>
          </div>
        </div>

        <div class="galaxy24-border galaxy24-border-horizontal galaxy24-border-horizontal-shift ml-n3 mr-n3"></div>

        <img src="<%= image_path("modules/dashboard/galaxy24/galaxy24-illustration.jpg") %>" alt="" width="1174" height="490" class="width-full d-block position-relative" style="height: auto; transform: scale(1.05); z-index: -1;">

        <div class="galaxy24-border galaxy24-border-horizontal ml-n3 mr-n3"></div>
      </div>
    <% end %>

    <style>
      .galaxy24-dashboard-promo-btn {
        width: auto;
        padding: 8px 16px;
        padding-top: 6px;
        border-radius: 2px;
        height: auto;
        color: #000000;
        background-color: #ffffff;
        border-color: #ffffff;
      }

      .galaxy24-dashboard-promo-btn:hover {
        background-color: #f5f5f5 !important;
        border-color: #f5f5f5 !important;
      }

      .galaxy24-border {
        background-color: #444444;
        background-image: url('<%= image_path("modules/dashboard/galaxy24/galaxy24-border-noise.png") %>');
        background-position: top left;
        opacity: 0.6;
      }

      .galaxy24-border-horizontal {
        height: 1px;
      }

      .galaxy24-border-vertical {
        width: 1px;
      }

      .galaxy24-border-horizontal-shift {
        background-position: top right;
      }

      .galaxy24-border-vertical-shift {
        background-position: bottom left;
      }
    </style>
  </div>
<% end %>
