<% unless current_user.dismissed_notice?(:dashboard_promo_universe24_5) %>
  <div class="js-notice" <%= test_selector('dashboard-announcements') %>>
    <%= form_tag(
      dismiss_notice_path(:dashboard_promo_universe24_5),
      class: "Box position-relative rounded-2 mb-4 p-3 js-notice-dismiss overflow-hidden",
      style: "background: linear-gradient(258.56deg, #5FEE83 27.54%, #BEE0DB 103.89%); z-index: 1; #{ user_feature_enabled?(:feeds_v2) ? '' : 'max-width: 340px;' }",
      data: analytics_visible_attributes(category: "In-product banner", text: "universe24_banner5li")
    ) do %>
      <img src="<%= image_path("modules/dashboard/universe24/univers24-banner-graphic.png") %>" alt="" width="300" height="300" class="position-absolute bottom-0 left-0 width-full events-none" style="z-index: -1; height: auto;">

      <div class="position-absolute p-2" style="top: 4px; right: 6px;">
        <%= render(Primer::Beta::CloseButton.new(
          type: :submit,
          color: :on_emphasis,
          style: "color: #021206 !important",
          data: analytics_click_attributes(
            category: "dashboard_notices",
            action: "Dismiss universe24_banner5li",
          ))) %>
      </div>

      <img src="<%= image_path("modules/dashboard/universe24/logo-light.svg") %>" alt="Universe24" width="234" height="25" style="max-width: 85%; height: auto" class="d-block">

      <h3 class="h4 col-11 mt-3" style="color: #021206 !important;">
        20% off GitHub Universe tickets
      </h3>

      <p class="mt-1 mb-4 pr-2 color-fg-muted text-small" style="color: #021206 !important;">
        Join the world’s fair of software to learn how AI and security are transforming the developer experience. Save 20% off your ticket, only until September 3.
      </p>

      <%= render Primer::Beta::Button.new(
        size: :medium,
        tag: :a,
        href: "https://githubuniverse.com/?utm_source=github&utm_medium=banner&utm_campaign=24banner5li",
        block: true,
        classes: "universe24-light-btn",
        data: analytics_click_attributes(
          category: "dashboard_notices",
          action: "universe24_banner5li",
        )
      ) do %>
        Get tickets now
      <% end %>

      <style>
        .universe24-light-btn {
          min-height: 36px;
          border-radius: 8px;
          font-weight: 600;
          color: #fff !important;
          background: #1B1F24 !important;
          letter-spacing: -0.02em;
          border: 1px solid #484F58 !important;
        }

        .universe24-light-btn:hover {
          background: #32383F !important;
        }
      </style>

      <svg width="300" height="120" aria-hidden="true" style="width: 100%; height: auto; visibility: hidden; pointer-events: none;"></svg>
    <% end %>
  </div>
<% end %>
