<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div data-replace-remote-form-target class="workflow-dispatch">
  <%= form_tag actions_manual_run_partial_path, method: :get, enforce_utf8: false, :"data-replace-remote-form" => true do %>
    <%= hidden_field_tag "workflow", workflow.path, id: "select_ref_workflow" %>
    <%= hidden_field_tag :show_workflow_tip, params[:show_workflow_tip] %>

    <div
      class="loading-overlay position-absolute top-0 right-0 left-0 bottom-0 d-flex flex-justify-center flex-items-center color-bg-default rounded-2"
      style="z-index: 1">
      <%= render(Primer::Beta::Spinner.new) %>
    </div>

    <div class="branch-selection mb-2">
      <div class="text-bold color-fg-default f6 mb-2">Use workflow from</div>
      <details class="details-reset details-overlay d-inline-block">
        <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, display: :block, classes: "css-truncate") do %>
          <span class="text-normal">
            <%= selected_ref_type == :tag ? "Tag" : "Branch" %>:
          </span>
          <span data-menu-button class="css-truncate-target"><%= selected_ref %></span>
          <span class="dropdown-caret float-right mt-2"></span>
        <% end %>
        <div class="SelectMenu-modal position-absolute" style="max-height: fit-content">
          <header class="SelectMenu-header">
            <h3 class="SelectMenu-title">Select ref</h3>
          </header>
          <input-demux data-action="tab-container-change:input-demux#storeInput tab-container-changed:input-demux#updateInput">
            <tab-container class="d-flex flex-column js-branches-tags-tabs" style="min-height: 0;">
              <div class="SelectMenu-filter">
                <input data-target="input-demux.source"
                      id="context-commitish-filter-field"
                      class="SelectMenu-input form-control"
                      aria-owns="ref-list-branches"
                      data-controls-ref-menu-id="ref-list-branches"
                      autofocus
                      autocomplete="off"
                      aria-label="Select <% if selected_ref_type == :branch %>branch<% else %>tag<% end %>"
                      placeholder="Select <% if selected_ref_type == :branch %>branch<% else %>tag<% end %>"
                      type="text"
                >
              </div>

              <div class="SelectMenu-tabs width-full" role="tablist" data-target="input-demux.control">
                <button class="SelectMenu-tab" type="button" role="tab" <% if selected_ref_type == :branch %>aria-selected="true"<% end %> >Branches</button>
                <button class="SelectMenu-tab" type="button" role="tab" <% if selected_ref_type == :tag %>aria-selected="true"<% end %> >Tags</button>
              </div>

              <div role="tabpanel" id="ref-list-branches" data-filter-placeholder="Select branch" class="d-flex flex-column flex-auto overflow-auto" tabindex="" <% if selected_ref_type == :tag %>hidden<% end %>>
                <ref-selector
                  type="branch"
                  data-targets="input-demux.sinks"
                  data-action="
                    input-entered:ref-selector#inputEntered
                    tab-selected:ref-selector#tabSelected
                    focus-list:ref-selector#focusFirstListMember
                  "
                  query-endpoint="<%= refs_ref_list_path %>"
                  cache-key="<%= ref_list_cache_key(repository: current_repository) %>"
                  current-committish="<%= Base64.strict_encode64(selected_ref) %>"
                  default-branch="<%= Base64.strict_encode64(current_repository.default_branch) %>"
                  name-with-owner="<%=  Base64.strict_encode64(current_repository.name_with_display_owner) %>"
                  prefetch-on-mouseover
                >

                  <template data-target="ref-selector.fetchFailedTemplate">
                    <div class="SelectMenu-message" data-index="{{ index }}">Could not load branches</div>
                  </template>

                  <div data-target="ref-selector.listContainer" role="menu" class="SelectMenu-list" style="max-height: 330px">
                    <div class="SelectMenu-loading pt-3 pb-0">
                      <%= render(Primer::Beta::Spinner.new(size: :medium)) %>
                    </div>
                  </div>
                  <template data-target="ref-selector.itemTemplate">
                    <button class="SelectMenu-item" role="menuitemradio" aria-checked="{{ isCurrent }}" data-index="{{ index }}" name="branch" value="{{ refName }}" type="submit">
                      <%= render(Primer::Beta::Octicon.new("check", classes: 'SelectMenu-icon SelectMenu-icon--check')) %>
                      <span class="flex-1 css-truncate css-truncate-overflow {{ isFilteringClass }}">{{ refName }}</span>
                    </button>
                  </template>
                  <template data-target="ref-selector.noMatchTemplate">
                    <div class="SelectMenu-message" data-index="{{ index }}">Nothing to show</div>
                  </template>
                </ref-selector>

              </div>

              <div role="tabpanel" id="ref-list-tags" data-filter-placeholder="Select a tag" class="d-flex flex-column flex-auto overflow-auto" tabindex="" <% if selected_ref_type == :branch %>hidden<% end %>>
                <ref-selector
                  type="tag"
                  data-action="
                    input-entered:ref-selector#inputEntered
                    tab-selected:ref-selector#tabSelected
                    focus-list:ref-selector#focusFirstListMember
                  "
                  data-targets="input-demux.sinks"
                  query-endpoint="<%= refs_ref_list_path %>"
                  cache-key="<%= ref_list_cache_key(repository: current_repository) %>"
                  current-committish="<%= Base64.strict_encode64(selected_ref) %>"
                  default-branch="<%= Base64.strict_encode64(current_repository.default_branch) %>"
                  name-with-owner="<%=  Base64.strict_encode64(current_repository.name_with_display_owner) %>"
                  prefetch-on-mouseover
                >
                  <template data-target="ref-selector.fetchFailedTemplate">
                    <div class="SelectMenu-message" data-index="{{ index }}">Could not load branches</div>
                  </template>

                  <div data-target="ref-selector.listContainer" role="menu" class="SelectMenu-list" style="max-height: 330px">
                    <div class="SelectMenu-loading pt-3 pb-0">
                      <%= render(Primer::Beta::Spinner.new(size: :medium)) %>
                    </div>
                  </div>
                  <template data-target="ref-selector.itemTemplate">
                    <button class="SelectMenu-item" role="menuitemradio" aria-checked="{{ isCurrent }}" data-index="{{ index }}" name="tag" value="{{ refName }}" type="submit">
                      <%= render(Primer::Beta::Octicon.new("check", classes: 'SelectMenu-icon SelectMenu-icon--check')) %>
                      <span class="flex-1 css-truncate css-truncate-overflow {{ isFilteringClass }}">{{ refName }}</span>
                    </button>
                  </template>
                  <template data-target="ref-selector.noMatchTemplate">
                    <div class="SelectMenu-message" data-index="{{ index }}">Nothing to show</div>
                  </template>
                </ref-selector>
              </div>
            </tab-container>
          </input-demux>
        </div>
      </details>
    </div>
  <% end %>

  <%= form_tag actions_manual_run_trigger_path, method: :post, enforce_utf8: false do %>
    <%= hidden_field_tag "workflow", workflow.path %>
    <% if selected_ref_type == :branch %>
      <%= hidden_field_tag "branch", selected_ref %>
    <% else %>
      <%= hidden_field_tag "tag", selected_ref %>
    <% end %>
    <%= hidden_field_tag :show_workflow_tip, params[:show_workflow_tip] %>

    <% if workflow_in_branch %>
      <% if inputs && inputs.length > 0 %>
        <% named_inputs = inputs.clone.each { |name, input| input[:name] = name }.values %>
        <%= render Actions::Inputs::InputComponent.with_collection(named_inputs, current_repository: current_repository) %>
      <% end %>
    <% else %>
      <%= render(Primer::Beta::Flash.new(
        scheme: :warning,
        font_size: 6,
        px: 3, py: 2, mt: 3, mb: 2
        )) do %>
          <span class="d-block">Workflow does not exist or does not have a <span class="text-mono">workflow_dispatch</span> trigger in this <% if selected_ref_type == :branch %>branch<% else %>tag<% end %>.</span>
          <a class="d-block" href="<%= GitHub.help_url %>/actions/">Learn more about manual workflows</a>
      <% end %>
    <% end %>

    <%# Submit for running the workflow %>
    <button
      <%= test_selector("run-workflow") %>
      type="submit"
      class="btn btn-primary btn-sm mt-2"
      <%= workflow_in_branch ? "" : "disabled" %>
      autofocus>Run workflow</button>
  <% end %>
</div>
