<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
   limit ||= 10
   tags = if package.package_type == :container
      limit ?  package_version.metadata.tags.first(limit) :  package_version.metadata.tags
   else
      []
   end
%>
<% component.with_row do %>
  <div class="d-flex">
    <div class="col-10 d-flex flex-auto flex-column">
      <div class="d-inline-flex flex-wrap">
        <% if GitHub.flipper[:view_immutable_actions].enabled?(current_user) && is_actions_package %>
          <div class="d-flex flex-items-center">
            <% tags.reject { |tag| tag.name == PackageRegistry::PackageVersion::LATEST_TAG }.each do |tag| %>
              <span <%= test_selector("tag-name")%>>
                <%= link_to tag.name, package_two_path(version: package_version.id, tag: tag.name, user_type: user_type), class: "h4 color-fg-default" %>
              </span>
            <% end %>
          </div>
        <% else %>
          <% if package.package_type == :container && tags.empty? && defined?(package_version.metadata.manifest) %>
            <%= link_to package_version.metadata.manifest.digest, package_two_path(version: package_version.id, user_type: user_type) %>
          <% elsif !tags.empty? %>
            <% if package_version.metadata.tags.any? { |tag| tag.name == PackageRegistry::PackageVersion::LATEST_TAG } %>
              <%= link_to "latest", package_two_path(version: package_version.id, user_type: user_type), class: "Label Label--success mr-1 mb-2" %>
            <% end %>
            <% tags.reject { |tag| tag.name == PackageRegistry::PackageVersion::LATEST_TAG }.each do |tag| %>
              <%= link_to tag.name, package_two_path(version: package_version.id, user_type: user_type), class: "Label mr-1 mb-2 text-normal" %>
            <% end %>
          <% else %>
          <%= link_to package_version.original_name, package_two_path(version: package_version.id, user_type: user_type), class: "Link--primary text-bold f4", style: "text-overflow: ellipsis" %>
          <% end %>
        <% end %>
      </div>
      <div class="css-truncate css-truncate-target d-block" style="max-width: 540px;">
        <div class="f6 color-fg-muted">
          Deleted <%= time_ago_in_words(Time.at(package_version.deleted_at)) %> ago
        </div>
      </div>
    </div>
    <% if GitHub.flipper[:packages_ui_changes].enabled?(current_user) %>
      <div class="ml-3 flex-self-center">
        <span class="color-fg-muted overflow-hidden no-wrap f6 ml-1" style="text-overflow: ellipsis; display: inline-block">
          <%= primer_octicon(:download, display: :inline_block, vertical_align: :bottom) %>
          <%= number_with_delimiter(package_version.download_count, delimiter: ",") %>
          </span>
        <div class="pl-2" style="display: inline-block; vertical-align: bottom">
          <%= render layout: "shared/details_dialog", locals: {
            button_text: "Restore",
            button_class: "btn",
            details_class: "float-right",
            title: "Are you absolutely sure?",
            dialog_class: "overflow-y-hidden",
          } do %>
          <% tag = package_version.original_name %>
          <% tag = tags.first.name if is_actions_package && tags.first.name %>
            <div class="Box-body">
              <p class="mb-3">
                This will restore the package version <strong><%= is_actions_package ? tags.first.name : package_version.original_name %></strong>, so users and processes can download it again.
              </p>
              <%= form_tag package_versions_two_restore_path(version: package_version.name, user_type: user_type), method: :put do %>
                <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-disable-invalid": "") do %>I understand the consequences, restore this version.<% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="ml-3 flex-self-center no-wrap">
        <span class="color-fg-muted overflow-hidden no-wrap f6 ml-1" style="text-overflow: ellipsis; display: inline-block">
          <%= primer_octicon(:download, display: :inline_block, vertical_align: :bottom) %>
          <%= number_with_delimiter(package_version.download_count, delimiter: ",") %>
          </span>
        <div class="pl-2 no-wrap" style="display: inline-block; vertical-align: bottom">
          <%= render layout: "shared/details_dialog", locals: {
            button_text: "Restore",
            button_class: "btn",
            details_class: "float-right",
            title: "Are you absolutely sure?",
          } do %>
            <div class="Box-body overflow-auto">
              <p class="mb-3">
                This will restore the package version <strong><%= package_version.original_name %></strong>, so users and processes can download it again.
              </p>
              <%= form_tag package_versions_two_restore_path(version: package_version.name, user_type: user_type), method: :put do %>
                <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-disable-invalid": "") do %>I understand the consequences, restore this version.<% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
