<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  version_type_param_to_display_name = {
    active:   "Active",
    deleted:  "Deleted",
  }.stringify_keys
%>
<details class="details-reset details-overlay position-relative flex-auto ml-3" id="sort-options">
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link) do %>
    <span data-menu-button>
      <%= version_type_param_to_display_name[params.dig(:filters, :versions)] || "Active" %>
    </span>
    <span class="dropdown-caret"></span>
  <% end %>

  <details-menu class="SelectMenu right-md-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal" style="width: 200px;">
      <header class="SelectMenu-header">
        <span class="SelectMenu-title">Select versions view</span>
      </header>
      <div class="SelectMenu-list">
        <% version_type_param_to_display_name.each do |url_param, pretty_name| %>
          <a href="<%= package_versions_two_path(filters: { versions: url_param }, user_type: user_type) %>"
            class="SelectMenu-item"
            role="menuitemradio"
            aria-checked="<%= (params.dig(:filters, :versions) || "active") == url_param %>"
            tabindex="0">
            <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
            <span class="text-normal" data-menu-button-text><%= pretty_name %></span>
          </a>
        <% end %>
      </div>
    </div>
  </details-menu>
</details>
