<% component.with_row do %>
  <div class="d-flex" <%= test_selector("version-row-without-tags")%>>
    <div class="col-10 d-flex flex-auto flex-column" style="overflow: hidden;">
      <div class="d-inline-flex flex-auto">
        <%= link_to package_version.name, package_two_path(version: package_version.id, user_type: user_type), class: "Link--primary text-bold f4", style: "text-overflow: ellipsis" %>
        <% if package.latest_version.name == package_version.name %>
          <div class="flex-self-center">
            <%= render Primer::Beta::Label.new(scheme: :success, mx: 2) do %>Latest<% end %>
          </div>
        <% end %>
      </div>
      <%# published %>
      <div class="css-truncate css-truncate-target d-block" style="max-width: 540px;">
        <div class="f6 color-fg-muted">
          Published <%= time_ago_in_words(Time.at(package_version.created_at)) %> ago
        </div>
      </div>
    </div>
    <%# download count %>
    <div class="ml-3 flex-self-center">
      <span class="color-fg-muted overflow-hidden no-wrap f6 ml-1" style="text-overflow: ellipsis; display: inline-block">
          <%= primer_octicon(:download, display: :inline_block, vertical_align: :bottom) %>
          <%= number_with_delimiter(package_version.download_count, delimiter: ",") %>
      </span>

      <% if viewer_is_admin && !disable_deletion %>
        <div class="pl-2" style="display: inline-block; vertical-align: bottom">
          <% if GitHub.flipper[:packages_ui_changes].enabled?(current_user) %>
            <%= render layout: "registry_two/package_versions/delete_version_dialog", locals: {
              package:,
              package_version: package_version.version,
              user_type:,
              show_reclaimed_storage: false,
            } do %>
              <include-fragment class="my-3" aria-label="Loading..."><%= render(Primer::Beta::Spinner.new(size: :large, mx: :auto, display: :block)) %></include-fragment>
            <% end %>
          <% else %>
            <%= render layout: "shared/details_dialog", locals: {
              button_text: "Delete",
              title: "Are you absolutely sure?",
              button_class: "btn btn-sm",
              details_class: "",
              deferred_loading_url: reclaimed_storage_version_partial_path(version: package_version.version, user_type: user_type)
            } do %>
              <include-fragment class="my-3" aria-label="Loading..."><%= render(Primer::Beta::Spinner.new(size: :large, mx: :auto, display: :block)) %></include-fragment>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
