
<% page_info(
       title: %{#{package.name} versions · #{package.namespace}},
       skip_pjax_container: true
   )
%>
<% if package.repository.present? && viewer_can_read_repo %>
  <%
  page_info(
    title: %{#{package.name} versions · #{package.namespace}},
    skip_pjax_container: true,
    container_xl: true,
    selected_link: :repo_packages,
  )
  %>
  <%= render layout: "layouts/repository_container", locals: { repository: package.repository } do %>
    <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
    <%= render partial: "registry_two/package_versions/versions_body", locals: {
      package:,
      package_versions:,
      paginated_package_versions:,
      use_immutable_actions_ui:,
      viewer_is_admin:,
      tagged_count:,
      untagged_count:,
      active_count:,
      deleted_count:,
      version_type_filter:,
      versions_filter:,
      user_type:,
      is_actions_package:
      } %>
    </div>
  <% end %>
<% else %>
  <% page_info(
    title: %{#{package.name} versions · #{package.namespace}},
    skip_pjax_container: true,
    selected_link: :packages
  ) %>

  <div class="<%= "mt-3" if header_redesign_enabled? %>">
    <% if package.owner.is_a?(Organization) %>
      <div itemscope itemtype="http://schema.org/Organization">
      <%= render partial: "orgs/packages/header", locals: { organization: package.owner } %>
    <% else %>
      <div itemscope itemtype="http://schema.org/User">
      <%= render partial: "registry_two/package_settings/user_header", locals: { user: package.owner } %>
    <% end %>

    <%= render partial: "registry_two/package_versions/versions_body", locals: {
      package:,
      package_versions:,
      paginated_package_versions:,
      use_immutable_actions_ui:,
      viewer_is_admin:,
      tagged_count:,
      untagged_count:,
      active_count:,
      deleted_count:,
      version_type_filter:,
      versions_filter:,
      user_type:,
      is_actions_package:
    } %>
  </div>
<% end %>
