<% content_for :header do %>
  Welcome to GitHub Research!
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  To preserve your anonymity we've created a new account for you to use in the GitHub Research study.<br><br>
  Your username is <strong><%= @user.display_login %></strong>.<br><br>
  Click below to set your password.
</p>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Set your password",
      url: @reset_link,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<p>
  This link will expire in <%= pluralize(@hours_until_expiry, "hour") %>.<br>
</p>

<%= render(Mail::SpacerComponent.new) %>

<p>
  After setting your password, sign in at
  <%= link_to "#{@url}/login", "#{@url}/login" %> or visit <a href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/switching-between-accounts"> the docs</a> to learn about switching between accounts.
</p>

<% content_for :footer_text do %>
  You're receiving this email because you signed up to participate in a GitHub Research study.
<% end %>
