<button type="button" data-show-dialog-id="issues-video-dialog" class="js-video-play-dialog btn-mktg d-block d-sm-inline-block mb-3 mr-sm-3">Watch video&nbsp;&nbsp;<%= render(Primer::Beta::Octicon.new(:play)) %>
</button>

<%= render Primer::Alpha::Dialog.new(
  title: "Issues promo video",
  size: :xlarge,
  visually_hide_title: true,
  id: "issues-video-dialog",
  classes: "js-video-dialog",
) do |d| %>
  <% d.with_body do %>
    <div class="position-relative z-1 mt-2">
      <% if feature_enabled_globally_or_for_current_user?(:site_video_player) %>
        <% if feature_enabled_globally_or_for_current_user?(:site_video_player_with_sources) %>
          <%= render Site::VideoPlayerComponent.new(
            sources: [{ src: image_path("modules/site/issues/issues-promo.h264.mp4"), type: "video/mp4; codecs=h264" },
                      { src: image_path("modules/site/issues/issues-promo.hevc.mp4"), type: "video/mp4; codecs=h265" },
                      { src: image_path("modules/site/issues/issues-promo.vp9.webm"), type: "video/webm; codecs=v9" }],
            media_element_classes: "js-video",
            title: "GitHub Issues"
          ) %>
        <% else %>
          <%= render Site::VideoPlayerComponent.new(
            src: image_path("modules/site/issues/issues-promo.h264.mp4"),
            media_element_classes: "js-video",
            title: "GitHub Issues"
          ) %>
        <% end %>
      <% else %>
        <svg aria-hidden="true" viewBox="0 0 1920 1080" version="1.1" width="1920" height="1080" class="width-full height-auto d-block"></svg>
        <iframe class="js-video position-absolute width-full height-full top-0 left-0 border-0"
          data-src="https://www.youtube.com/embed/o1wuW24Nv4E?autoplay=1&amp;rel=0"
          title="The new GitHub Issues" type="text/html" width="1920" height="1080" frameborder="0" allowfullscreen allow="autoplay;">
        </iframe>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if logged_in? %>
  <%= form_for :memex_project, url: create_user_project_beta_path(current_user, type: "new"), method: :post, "data-turbo": false do |f| %>
    <%= hidden_field_tag :action, "create" %>
    <%= f.hidden_field :title, value: MemexProject.default_user_title(current_user) %>
    <%= render Site::ButtonComponent.new(
      type: :submit,
      scheme: :muted,
      classes: "mb-3 d-inline-block"
    ) do %>
      Start using projects
    <% end %>
  <% end %>
<% else %>
  <%= render Site::ButtonComponent.new(
    text: "Start using projects",
    url:  site_nav_login_path,
    scheme: :muted,
    classes: "mb-3 d-inline-block",
  ) %>
<% end %>
