<%= render Site::SectionComponent.new(padding: false) do %>
  <%= render Site::RiverComponent.new(
    header: "Break issues into&nbsp;actionable tasks",
    text: "Tackle complex issues with task lists and track their status with new progress indicators. Convert tasks into their own issues and navigate your work&nbsp;hierarchy.",
    illustration_size: :large,
    padding: false,
  ) do |c| %>
    <svg aria-hidden="true" viewBox="0 0 708 718" version="1.1" width="708" height="718" class="width-full height-auto d-block"></svg>

    <div class="position-absolute top-0 left-0 width-full height-auto">
      <img
        src="<%= image_path "modules/site/issues/issue-tasks-progress-reduced-motion.png" %>"
        alt=""
        class="d-block width-full height-auto img-reduced-motion"
        loading="lazy" decoding="async">

      <video playsinline autoplay muted class="js-viewport-aware-video video-reduced-motion width-full height-auto" aria-hidden="true" poster="<%= image_path "modules/site/issues/issue-tasks-progress-placeholder.png" %>">
        <source type="video/mp4; codecs=hevc,mp4a.40.2" src="<%= image_path "modules/site/issues/issue-tasks-progress.hevc.mp4" %>">
        <source type="video/mp4; codecs=avc1.4D401E,mp4a.40.2" src="<%= image_path "modules/site/issues/issue-tasks-progress.h264.mp4" %>">
      </video>
    </div>
  <% end %>
<% end %>
