<div class="position-relative container-xl mx-auto pt-0 pt-lg-12 px-3 px-md-5 px-lg-6 border-lg-top border-lg-left rounded-top-2 position-relative z-1">

  <div class="position-absolute d-none d-lg-block" style="left:100%; top:-1px; bottom:-1px; width:100vw;"></div>

  <div class="position-absolute border-bottom border-top left-0 d-none d-lg-flex flex-items-center pl-3 pl-md-4 rounded-top-2 planning-tracking-issue-heading" style="top: -1px;">
    <%= render(Primer::Beta::State.new(
      title: "Open",
      scheme: :open,
      mr: 2,
    )) do %>
      <%= primer_octicon(:"issue-opened") %>
      Open
    <% end %>

    <%= render(Primer::Beta::State.new(
      title: "3 tasks",
      bg: :default,
      color: :subtle,
      border: true,
      font_weight: :normal,
      mr: 2,
    )) do %>
      <%= primer_octicon(:"checklist") %>
      3 tasks
    <% end %>

    <span class="color-fg-muted">Improve alien character controls</span>
  </div>

  <div class="d-lg-flex flex-lg-row-reverse flex-lg-items-start gutter-lg-spacious">
    <div class="col-lg-5 mb-8 mb-lg-0">
      <h2 class="h3-mktg">Move conversations forward</h2>
      <p class="f3-mktg mt-2 mr-md-3 color-fg-muted">Express ideas with GitHub Flavored Markdown, mention contributors, react with emoji, clarify with attachments, and see references from commits, pull requests, releases, and deploys. Coordinate by assigning contributors and teams, or by adding them to milestones and projects. All in a single timeline.</p>
      <div class="d-block d-lg-none mb-4 flex-self-center">
        <ul class="list-style-none text-medium f3-mktg mt-4 mt-lg-6">
          <li class="py-1 d-flex flex-items-start"><span class="mr-2 fgColor-sponsors"><%= render(Primer::Beta::Octicon.new(icon: "arrow-right", size: :medium)) %></span>Upload and attach videos to comments</li>
          <li class="py-1 d-flex flex-items-start"><span class="mr-2 fgColor-sponsors"><%= render(Primer::Beta::Octicon.new(icon: "arrow-right", size: :medium)) %></span>Dive into work faster with issue forms and templates</li>
        </ul>
      </div>
    </div>
    <div class="position-relative col-lg-7 js-build-in-trigger" data-build-in-stagger="50">
      <div class="position-absolute left-n3 left-md-n5 top-0 border-top d-flex d-lg-none flex-items-center pl-3 pl-md-4 rounded-top-2 planning-tracking-issue-heading">
        <%= render(Primer::Beta::State.new(
          title: "Open",
          scheme: :open,
          mr: 2,
        )) do %>
          <%= primer_octicon(:"issue-opened") %>
          Open
        <% end %>

        <%= render(Primer::Beta::State.new(
          title: "3 tasks",
          bg: :default,
          color: :subtle,
          border: true,
          font_weight: :normal,
          mr: 2,
        )) do %>
          <%= primer_octicon(:"checklist") %>
          3 tasks
        <% end %>

        <span class="color-fg-muted d-none d-sm-inline">Improve alien character controls</span>
      </div>
      <div class="position-relative pb-6 pt-9 pt-md-10 pt-lg-0">
        <!-- Issue Convo Event 1 -->
        <div class="position-relative z-2 d-flex flex-items-start js-build-in-item build-in-scale-up">
          <img src="<%= image_path "modules/site/issues/illo/event-1-avatar.png" %>" width="40" height="40" alt="" class="circle height-auto flex-shrink-0 mr-4 d-none d-md-block" loading="lazy" decoding="async">

          <div class="Box width-full border-0 box-shadow-default-border-mktg">
            <div class="Box-header py-2 d-flex flex-justify-between">
              <div>
                <strong>keisaacson</strong>
                <span class="color-fg-subtle">commented 5 days ago</span>
              </div>
              <div class="d-none d-sm-block d-md-none d-lg-block">
                <%= render(Primer::Beta::Octicon.new(:smiley, color: :subtle, ml: 1)) %>
                <%= render(Primer::Beta::Octicon.new(:"kebab-horizontal", color: :subtle, ml: 1)) %>
              </div>
            </div>
            <div class="Box-body">
              <p>The latest report from our testers is in and our sprite animations are a little off. Good news is not by much, so we should be able to squeeze this into our current sprint.</p>
              <ul class="list-style-none mb-2">
                <li class="d-block Truncate">
                  <div class="Truncate-text">
                    <%= render(Primer::Beta::Octicon.new(:square, color: :subtle, size: :medium, vertical_align: :top, classes: "opacity-4")) %>
                    <strong>@grrretel</strong> to share beta tester report
                  </div>
                </li>
                <li class="d-block Truncate">
                  <div class="Truncate-text">
                    <%= render(Primer::Beta::Octicon.new(:square, color: :subtle, size: :medium, vertical_align: :top, classes: "opacity-4")) %>
                    <strong>@cameronfoxly</strong> has a video to share showing before and after
                  </div>
                </li>
                <li class="d-block Truncate">
                  <div class="Truncate-text">
                    <%= render(Primer::Beta::Octicon.new(:square, color: :subtle, size: :medium, vertical_align: :top, classes: "opacity-4")) %>
                    <strong>@chiedo</strong> to push the change and get the team reviewing
                  </div>
                </li>
              </ul>
              <%= tag.span(class: "Label Label--large Label--secondary color-bg-inset px-1") do %>
                <%= render(Primer::Beta::Octicon.new("smiley", vertical_align: :middle, mt: -1)) %>
              <% end %>
              <%= tag.span(class: "Label Label--large Label--secondary") do %>👍 3<% end %>
              <%= tag.span(class: "Label Label--large Label--secondary") do %>🎉 1<% end %>
            </div>
          </div>
        </div>

        <div class="planning-tracking-conversation-line border-left js-build-in-item" style="height: 120%;"></div>

        <!-- Issue Convo Event 2 -->
        <div class="position-relative z-1 d-flex flex-items-center mt-4 f5-mktg js-build-in-item build-in-scale-up planning-tracking-notification" aria-hidden="true">
          <div class="p-2 mr-2 circle planning-tracking-notification-type d-flex"><%= primer_octicon("table") %></div>
          <img src="<%= image_path "modules/site/issues/illo/avatar-bot.png" %>" width="20" height="20" alt="" class="width-fit height-auto d-none d-md-block mr-1" loading="lazy" decoding="async">
          <span class="color-fg-muted text-truncate"><strong class="text-semibold color-fg-default">bot</strong> added this to <strong class="text-semibold color-fg-default">🚧&nbsp;&nbsp;Inbox</strong> from <strong class="text-semibold color-fg-default">📬&nbsp;&nbsp;Sprint 3</strong> <span class="d-none d-md-inline">just now</span></span>
        </div>

        <!-- Issue Convo Event 3 -->
        <div class="position-relative z-2 mt-4 d-flex flex-items-start js-build-in-item build-in-scale-up">
          <img src="<%= image_path "modules/site/issues/illo/avatar-grrretel.png" %>" width="40" height="40" alt="" class="circle height-auto flex-shrink-0 mr-4 d-none d-md-block" loading="lazy" decoding="async">
          <div class="Box width-full border-0 box-shadow-default-border-mktg">
            <div class="Box-header py-2 d-flex flex-justify-between">
              <div>
                <strong>grrretel</strong>
                <span class="color-fg-subtle">commented 5 days ago</span>
              </div>
              <div class="d-none d-sm-block d-md-none d-lg-block">
                <%= render(Primer::Beta::Octicon.new(:smiley, color: :subtle, ml: 1)) %>
                <%= render(Primer::Beta::Octicon.new(:"kebab-horizontal", color: :subtle, ml: 1)) %>
              </div>
            </div>
            <div class="Box-body">
              <p>We just published the report—see <span class="color-fg-accent">octoarcade/testers#323</span> 👉</p>
              <%= tag.span(class: "Label Label--large Label--secondary color-bg-inset px-1") do %>
                <%= render(Primer::Beta::Octicon.new("smiley", vertical_align: :middle, mt: -1)) %>
              <% end %>
              <%= tag.span(class: "Label Label--large Label--secondary") do %>👀 3<% end %>
            </div>
          </div>
        </div>

        <!-- Issue Convo Event 4 -->
        <div class="position-relative z-1 d-flex flex-items-center mt-4 f5-mktg js-build-in-item build-in-scale-up planning-tracking-notification" aria-hidden="true">
          <div class="p-2 mr-2 planning-tracking-notification-type circle d-flex"><%= primer_octicon("cross-reference") %></div>
          <img src="<%= image_path "modules/site/issues/illo/avatar-chiedo.png" %>" alt="" width="20" height="20" class="width-fit height-auto d-none d-md-block mr-1" loading="lazy" decoding="async">
          <span class="color-fg-muted text-truncate"><strong class="text-semibold color-fg-default">chiedo</strong> mentioned this <span class="d-none d-md-inline">issue 4 days ago</span></span>
        </div>

        <div class="position-relative z-1 pl-6 d-none d-md-flex flex-items-center flex-justify-between f5-mktg js-build-in-item build-in-scale-up planning-tracking-notification" aria-hidden="true">
          <span class="color-fg-muted text-truncate"><span class="text-semibold color-fg-default">Ship dark mode support for UI</span> #179588
            <span class="text-small d-block"><span class="planning-tracking-tasks-complete d-inline-block mr-1 circle"></span>8 of 8 tasks</span>
          </span>
          <%= render(Primer::Beta::State.new(
            title: "Merged",
            scheme: :merged,
          )) do %>
            <%= primer_octicon(:"issue-closed") %>
            Merged
          <% end %>
        </div>

        <div class="position-relative z-1 pl-6 d-flex d-md-none f5-mktg js-build-in-item build-in-scale-up planning-tracking-notification" aria-hidden="true">
          <div class="d-flex rounded-2 p-2" style="background-color: #eaeef2;">
            <img src="<%= image_path "modules/site/issues/illo/state-merged-icon.svg" %>" width="19" height="19" alt="" class="flex-shrink-0 mr-2" loading="lazy" decoding="async">
            <span class="text-small color-fg-default text-truncate">Ship dark mode support for UI</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="issues-darkmode-bg pb-1 position-relative z-1" data-color-mode="dark" data-light-theme="light" data-dark-theme="dark">
  <div class="position-relative container-xl mx-auto px-3 px-md-5 px-lg-6 border-bottom border-left rounded-bottom-2 mb-4 position-relative z-1">

    <div class="position-absolute border-bottom d-none d-md-block" style="left:99%; top:0; bottom:-1px; width:100vw;"></div>

    <div class="d-lg-flex flex-row flex-row-reverse flex-items-start gutter-spacious">
      <div class="d-none d-lg-block col-lg-5 mb-4 mb-lg-0 flex-self-center">
        <ul class="list-style-none text-semibold f3-mktg mt-4 mt-lg-6 color-fg-default">
          <li class="py-1 d-flex flex-items-start"><span class="mr-2 fgColor-sponsors"><%= render(Primer::Beta::Octicon.new(icon: "arrow-right", size: :medium)) %></span>Upload and attach videos to comments</li>
          <li class="py-1 d-flex flex-items-start"><span class="mr-2 fgColor-sponsors"><%= render(Primer::Beta::Octicon.new(icon: "arrow-right", size: :medium)) %></span>Dive into work faster with issue forms and templates</li>
        </ul>
      </div>
      <div class="col-lg-7 js-build-in-trigger" data-build-in-stagger="50">
        <div class="position-relative pb-6 pt-4">
          <div class="planning-tracking-conversation-line top-0 border-left js-build-in-item"></div>

          <!-- Issue Convo Event 5 -->
          <div class="position-relative z-2 d-flex flex-items-start js-build-in-item build-in-scale-up">
            <img src="<%= image_path "modules/site/issues/illo/event-4-avatar.png" %>" width="40" height="40" alt="" class="circle height-auto flex-shrink-0 mr-4 d-none d-md-block" loading="lazy" decoding="async">
            <div class="position-relative width-full">
              <div class="Box width-full">
                <div class="Box-header py-2 d-flex flex-justify-between">
                  <div>
                    <strong>cameronfoxly</strong>
                    <span class="color-fg-subtle">commented 5 days ago</span>
                  </div>
                  <div class="d-none d-sm-block d-md-none d-lg-block">
                    <%= render(Primer::Beta::Octicon.new(:smiley, color: :subtle, ml: 1)) %>
                    <%= render(Primer::Beta::Octicon.new(:"kebab-horizontal", color: :subtle, ml: 1)) %>
                  </div>
                </div>
                <div class="Box-body Box-row--gray color-fg-muted">
                  <p>Thanks <strong>@keisaacson</strong>! Here’s a video walkthrough showing the proposed changes.</p>
                  <div role="img" class="overflow-hidden rounded-2 border planning-tracking-conversation-video mb-3 outline-target" aria-label="An animation representing a platformer game featuring the GitHub mascot, Mona.">
                    <picture>
                      <source srcset="<%= image_path "modules/site/issues/illo/video-frame.webp" %>" type="image/webp">
                      <img
                        src="<%= image_path "modules/site/issues/illo/video-frame.png" %>"
                        width="548"
                        height="398"
                        alt=""
                        class="width-full height-auto d-block position-relative z-1 rounded-2 events-none"
                        loading="lazy" decoding="async">
                    </picture>
                    <video tabindex="0" playsinline loop autoplay muted class="js-viewport-aware-video looping-mktg width-full height-auto position-absolute bottom-0 left-0 rounded-2 Link--outlineOffset" data-play-aria-label="The video is paused. Press the space bar to play the video." data-pause-aria-label="The video is playing. Press the space bar to pause the video." poster="<%= image_path "modules/site/issues/game-placeholder.jpg" %>">
                      <source type="video/mp4" src="<%= image_path "modules/site/issues/game.mp4" %>">
                    </video>
                  </div>
                  <%= tag.span(class: "Label Label--large Label--secondary color-bg-inset px-1") do %>
                    <%= render(Primer::Beta::Octicon.new("smiley", vertical_align: :middle, mt: -1)) %>
                  <% end %>
                  <%= tag.span(class: "Label Label--large Label--secondary") do %>🚀 4<% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- Issue Convo Event 6 -->
          <div class="position-relative z-1 d-flex flex-items-center mt-4 f5-mktg js-build-in-item build-in-scale-up planning-tracking-notification" aria-hidden="true">
            <div class="p-2 mr-2 planning-tracking-notification-type planning-tracking-notification-type--darkmode circle d-flex color-fg-default"><%= primer_octicon("cross-reference") %></div>
            <img src="<%= image_path "modules/site/issues/illo/avatar-preciselyalyss.png" %>" alt="" width="20" height="20" class="width-fit height-auto d-none d-md-block mr-1" loading="lazy" decoding="async">
            <span class="color-fg-muted text-truncate"><strong class="text-semibold color-fg-default">preciselyalyss</strong> mentioned this <span class="d-none d-md-inline">issue 4 days ago</span></span>
          </div>

          <div class="position-relative z-1 pl-6 d-none d-md-flex flex-items-center flex-justify-between f5-mktg js-build-in-item build-in-scale-up planning-tracking-notification" aria-hidden="true">
            <span class="color-fg-muted text-truncate"><span class="text-semibold color-fg-default">Updates to alien, beam, and cannon sprites</span> #179608
            </span>
            <%= render(Primer::Beta::State.new(
              title: "Open",
              scheme: :open,
            )) do %>
              <%= primer_octicon(:"issue-opened") %>
              Open
            <% end %>
          </div>

          <div class="position-relative z-1 pl-6 d-flex d-md-none f5-mktg js-build-in-item build-in-scale-up planning-tracking-notification" aria-hidden="true">
            <div class="d-flex rounded-2 p-2" style="background-color: #1b1f24;">
              <img src="<%= image_path "modules/site/issues/illo/state-open-icon.svg" %>" width="19" height="19" alt="" class="flex-shrink-0 mr-2" loading="lazy" decoding="async">
              <span class="text-small text-truncate" style="color: #abb8c5">Updates to alien, beam, and cannon sprites</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
