<div class="container-xl mx-auto p-responsive">
  <div class="col-8-max text-center mx-auto">
    <span class="sr-only">Used by companies like…</span>
    <ul class="d-flex flex-justify-center flex-items-center list-style-none color-bg-default">
      <li class="mr-3 mr-md-4">
        <img src="<%= image_path "modules/site/issues/logos/logo-shopify-mono.svg" %>" alt="Shopify" class="mr-2 mr-sm-3 mr-lg-4 my-3 width-fit" style="max-height:3rem; mix-blend-mode: multiply" loading="lazy">
      </li>
      <li class="mr-3 mr-md-4">
      	<img src="<%= image_path "modules/site/issues/logos/logo-vercel.svg" %>" alt="Vercel" class="mr-2 mr-sm-3 mr-lg-4 my-3 width-fit" style="max-height:3rem; mix-blend-mode: multiply" loading="lazy">
      </li>
      <li class="mr-3 mr-md-4">
      	<img src="<%= image_path "modules/site/issues/logos/logo-stripe.svg" %>" alt="Stripe" class="mr-2 mr-sm-3 mr-lg-4 my-3 width-fit" style="max-height:3rem; mix-blend-mode: multiply" loading="lazy">
      </li>
      <li class="mr-3 mr-md-4">
      	<img src="<%= image_path "modules/site/issues/logos/logo-ford.svg" %>" alt="Ford" class="mr-2 mr-sm-3 mr-lg-4 my-3 width-fit" style="max-height:3rem; mix-blend-mode: multiply" loading="lazy">
      </li>
      <li>
      	<img src="<%= image_path "modules/site/issues/logos/logo-nasa.svg" %>" alt="NASA" class="width-fit" style="max-height:4rem; mix-blend-mode: multiply" loading="lazy">
      </li>
    </ul>
  </div>
</div>
