<%
  page_meta = {
    title: "GitHub Issues · Project planning for developers",
    description: "Give your developers flexible features for project management that adapts to any team, project, and workflow—all alongside your code."
  }

  page_info \
  title: page_meta[:title],
  description: page_meta[:description],
  richweb: {
    title: page_meta[:title],
    url: request.original_url,
    description: page_meta[:description],
    image: image_path("modules/site/social-cards/issues-social.jpg"),
  }
%>

<div class="z-3 position-relative color-bg-default">
  <%= render "site/features/features_nav" %>
</div>
<%= render "site/features/issues/hero" %>

<div class="overflow-hidden">
  <%= render "site/features/issues/main_views" %>
  <%= render "site/features/issues/logos" %>
  <%= render "site/features/issues/issue_tasks_progress" %>
  <%= render "site/features/issues/issue_url" %>
</div>

<%= render Site::SectionComponent.new(theme: :dark, classes: "issues-darkmode-bg") do %>
  <%= render "site/features/issues/saved_views" %>

  <%= render Site::RiverComponent.new(
    header: "Extend issues <br>with custom fields",
    text: "Track metadata like iterations, priority, story points, dates, notes, and links. Add custom fields to projects and edit from the issue sidebar.",
    illustration_size: :large,
    text_placement: :right,
    classes: "z-1",
  ) do |c| %>
    <% c.with_after do %>
      <p class="f3-mktg mt-2"><span class="mr-1 fgColor-sponsors">
        <%= render(Primer::Beta::Octicon.new(icon: "check-circle-fill", size: :medium)) %></span> Now with iteration cycle planning
      </p>
    <% end %>

    <svg aria-hidden="true" viewBox="0 0 682 468" version="1.1" width="682" height="468" class="width-full height-auto d-block"></svg>
    <div class="position-absolute top-0 left-0 width-full height-auto">
      <div class="planning-tracking-custom-fields-video z-n1">
        <img src="<%= image_path "modules/site/issues/issue-custom-fields-reduced-motion.jpg" %>" alt="" class="d-block width-full height-auto img-reduced-motion" loading="lazy" decoding="async">
        <video playsinline autoplay muted class="js-viewport-aware-video video-reduced-motion width-full height-auto"  aria-hidden="true" poster="<%= image_path "modules/site/issues/issue-custom-fields-placeholder.jpg" %>">
          <source type="video/mp4" src="<%= image_path "modules/site/issues/issue-custom-fields-v3.h264.mp4" %>">
        </video>
      </div>
    </div>
  <% end %>

  <%= render Site::RiverComponent.new(
    header: "Track progress with project&nbsp;insights",
    text: "Track the health of your current iteration cycle, milestone, or any other custom field you create with new project insights. Identify bottlenecks and issues blocking the team from making progress with the new burn up chart.",
    illustration_size: :large,
    images: [{
      src: image_path("modules/site/issues/memex-insights.png"),
      width: 1416,
      height: 924,
      classes: "width-full height-auto rounded-2 box-shadow-default-mktg border"
    }]
  ) %>

  <%= render Site::RiverComponent.new(
    header: "Share best practices with project templates",
    text: "Create templates to share and reuse when getting started with a new project. Share inspiration across teams and get started with a single click.",
    illustration_size: :medium,
    text_placement: :right,
    images: [{
      src: image_path("modules/site/issues/memex-template-dark.png"),
      width: 1416,
      height: 924,
      classes: "width-full height-auto rounded-2 box-shadow-default-mktg border"
    }]
  ) %>

  <%= render Site::RiverComponent.new(
    header: "Manage work automatically",
    text: "Accelerate your project planning with workflows. Automatically triage issues, set values for custom fields, and auto add or archive issues.",
    text_placement: :center,
    animate: true,
    images: [{ src: image_path("modules/site/issues/memex-workflows.png"), width: 2760, height: 1080, classes: "width-full height-auto mb-n10" }]) %>
<% end %>

<%= render "site/features/issues/cli_mobile" %>

<%= render Site::SectionComponent.new do %>
  <%= render Site::TestimonialComponent.new(
    quote: "The new planning and tracking functionality keeps my project management close to my code. I no longer find myself needing to reach for spreadsheets or 3P tools which go stale instantly.",
    fullname: "Dan Godfrey",
    title: "Development Manager",
    image: image_path("modules/site/issues/shopify-testimonial.jpg"),
    logo: image_path("modules/site/issues/logos/logo-shopify.svg"),
    company: "Shopify"
  ) %>

  <%= render Site::FaqComponent.new(
    items: [
      {
        question: "What is GitHub Issues?",
        answer: "We all need a way to plan our work, track issues, and discuss the things we build. Our answer to this universal question is GitHub Issues, and it’s built-in to every repository. GitHub’s issue tracking is unique because of our focus on simplicity, references, and elegant formatting.

With GitHub Issues, you can express ideas with GitHub Flavored Markdown, assign and mention contributors, react with emojis, clarify with attachments and videos, plus reference code like commits, pull requests, and deploys. With task lists, you can break big issues into tasks, further organize your work with milestones and labels, and track relationships and dependencies.

We built GitHub Issues for developers. It is simple, adaptable, and powerful."
      },
      {
        question: "What are Projects?",
        answer: "As teams and projects grow, how we work evolves. Tools that hard-code a methodology are too specific and rigid to adapt to any moment. Often, we find ourselves creating a spreadsheet or pulling out a notepad to have the space to think. Then our planning is disconnected from where the work happens.

The new Projects connect your planning directly to the work your teams are doing and flexibly adapt to whatever your team needs at any point. Built like a spreadsheet, project tables give you a live canvas to filter, sort, and group issues and pull requests. You can use it, or the accompanying project board, along with custom fields, to track a sprint, plan a feature, or manage a large-scale release."
      },
      {
        question: "Can I update existing Projects to use the new capabilities?",
        answer: "Yes. You can migrate your existing Projects (classic) to the new GitHub Projects through a new feature preview.

How it works:
 - We’ll create a new project and copy all of the data from your existing project (classic) board to the new one.
 - Once the data is copied, you can use the new project with all the new capabilities.
 - Once the new project is ready, we will prompt you to close your “old” project, as the old project is not kept in sync."
      },
      {
        question: "What plans have access to Projects?",
        answer: "All users have access to the free tier of GitHub Issues and Projects. For more information about paid tiers, see our pricing page.

Historical charts are available for all Enterprise organizations and are currently in Preview for organizations on Team plans.**

**Subject to change as we add future capabilities."
      },
      {
        question: "Will the new Projects experience be available in GitHub Enterprise Server?",
        answer: "Yes! GitHub Enterprise Server (GHES) support follows our regular cadence of one to two quarters before enabling the on-premises functionality."
      },
      # {
      #   question: "How do I migrate over from another project management service?",
      #   answer: "There are no migration tools from other services available at this time. We recommend starting a project with one of our templates to try out the new GitHub Projects."
      # },
#       {
#         question: "What's next for planning on GitHub Issues?",
#         answer: "We are excited to continue this journey with all of you.

# Our roadmap evolves quarterly, but we expect a high tempo in improving core flows while delivering new functionality. Top features include:
#  - Built-in dependencies and relationships
#  - Access to Projects in both our GitHub Mobile iOS and Android apps
#  - Issue level custom fields that expand repositories (labels, milestones, etc.)"
#       },
    ]
  ) %>
<% end %>

<%= render partial: "site/features/issues/footer_cta" %>
