<% table_data_attrs = {
  "bulk-actions-url" => settings_org_personal_access_tokens_toolbar_actions_path(current_organization),
  "bulk-actions-parameter" => "grant_ids"
} %>

<%= render(Primer::BaseComponent.new(tag: :div, mt: 3, data: table_data_attrs, classes: "js-check-all-container js-bulk-actions-container")) do %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mt: 1, data: table_data_attrs)) do |component| %>
    <% component.with_header(display: :flex, classes: "bulk-actions-header") do %>
      <div class="pr-3 pt-2">
        <input type="checkbox" id="select-all-checkbox" data-check-all>
      </div>

      <div class="select-all-dropdown js-bulk-actions flex-auto">
        <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/toolbar_actions", locals: {
              :organization    => current_organization,
              :selected_grants => []
            }
        %>
      </div>

      <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/filters", locals: {
        owners_filter: settings_org_personal_access_token_owners_filter_path(current_organization, q: params[:q])
      } %>
    <% end %>
  <% end %>

  <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/list", locals: { grants: grants } %>
<% end %>
