<div class="table-list-header-toggle d-flex flex-auto flex-justify-end">
  <%= render(GitHub::MenuComponent.new(
      title: "Filter by owner",
      filter_placeholder: "Filter users",
      filterable: true,
      js_filterable: true,
      js_filterable_id: "assigns-owners-filter-field",
      align: :right,
      src: owners_filter,
      preload: true
  )) do |component| %>
    <% component.with_summary do %>
      <%= render(GitHub::MenuSummaryComponent.new(classes: "btn-link select-menu-button pt-2", text: "Owner")) %>
    <% end %>
  <% end %>

  <%= render(GitHub::MenuComponent.new(
      title: "Filter by repository",
      filter_placeholder: "Filter repositories",
      filterable: true,
      js_filterable: true,
      js_filterable_id: "assigns-repos-filter-field",
      align: :right,
      src: settings_org_personal_access_token_repositories_filter_path(current_organization, q: params[:q]),
      preload: true
  )) do |component| %>
    <% component.with_summary do %>
      <%= render(GitHub::MenuSummaryComponent.new(classes: "btn-link select-menu-button pt-2", text: "Repository")) %>
    <% end %>
  <% end %>

  <%= render(GitHub::MenuComponent.new(
      title: "Filter by permission",
      filter_placeholder: "Filter permissions",
      filterable: true,
      modal_class: 'select-permission-modal',
      js_filterable: true,
      js_filterable_id: "assigns-permissions-filter-field",
      align: :right,
      src: settings_org_personal_access_token_permissions_filter_path(current_organization, q: params[:q]),
      preload: true
  )) do |component| %>
    <% component.with_summary do %>
      <%= render(GitHub::MenuSummaryComponent.new(classes: "btn-link select-menu-button pt-2", text: "Permissions")) %>
    <% end %>
  <% end %>
</div>
