<turbo-frame id="personal-access-tokens-results-container" data-turbo-action="advance">
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, border_top: 0, classes: "rounded-top-0")) do |component| %>
    <% if grants.none? %>
      <% component.with_body do %>
        <% title = params[:q].present? ? "No results matched your search" : "There aren't any fine-grained tokens for this organization" %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h2).with_content(title) %>
        <% end %>
      <% end %>
    <% else %>
      <% grants.each do |grant| %>
        <% access = grant.user_programmatic_access %>
        <% component.with_row(
          display: :flex,
          justify_content: :center,
          py: 3,
          classes: "js-bulk-actions-item",
          test_selector: "user-programmatic-access",
          data: {
            "bulk-actions-id" => grant.id.to_s,
            "test-id" => access.id.to_s
          }
        ) do |row| %>

          <div class="form-checkbox flex-1 d-flex m-0">
            <label>
              <input type="checkbox" class="js-bulk-actions-toggle" name="grants[]" value="<%= grant.id %>" aria-labelledby="<%= "grant-#{grant.id}" %>" autocomplete="off" data-check-all-item>
              <%= link_to(access.name, settings_org_personal_access_token_path(id: grant.id), id: "grant-#{grant.id}", class: "Link--primary no-underline h5")%>

              <%= render partial: "orgs/settings/third_party_access/personal_access_tokens/credential_expiration", locals: {
                access: access, src: settings_org_personal_access_token_credential_expiration_path(current_organization, grant)
              } %>
            </label>
          </div>

          <span class="col-2 d-flex flex-items-center">
            <div class="pr-2">
              <%= avatar_for(access.owner, 20, class: "mr-1 avatar mt-0") %>
              <%= profile_link(access.owner, class: "Link--primary text-bold") %>
            </div>
          </span>

          <span class="col-3 d-flex no-wrap flex-items-center">
            <small class="last-used float-right"><%= last_access_description(access) %></small>
          </span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if grants.respond_to?(:total_pages) %>
    <div class="paginate-container">
      <%= will_paginate(grants, renderer: TurboActionReplaceLinkRenderer) %>
    </div>
  <% end %>
</turbo-frame>
