<%# erblint:counter DeprecatedComponentsCounter 1 %>
<label for="select-all-checkbox" class="d-inline-block mt-2 color-fg-muted <% if selected_grants.any? %>sr-only<% end %>">
  <span>Tokens</span>
</label>

<% if selected_grants.any? %>
  <%= render(Primer::Experimental::ActionMenu.new(menu_id: "org-pat-action-menu", anchor_align: :start)) do |menu| %>
    <% menu.with_trigger do |trigger| %>
       <% trigger.with_trailing_action_icon(icon: :"triangle-down") %>
       <%= pluralize selected_grants.count, "token", "tokens" %> selected…
    <% end %>
    <% menu.with_item(tag: :button,
      type: "button",
      classes: "pat-list-action-button",
      data: { "show-dialog-id": "visibility-menu-dialog-revoke" }) do %>
        Revoke
    <% end %>
  <% end %>

  <%= render Primer::Alpha::Dialog.new(
      title: "Revoke access for #{pluralize selected_grants.count, "token"}?",
      size: :medium_portrait,
      id: "visibility-menu-dialog-revoke",
    ) do |dialog| %>

      <% dialog.with_header(show_divider: true) %>

      <%= render(Primer::Alpha::Dialog::Body.new) do %>
        <p>Access will be <strong>revoked</strong> for the following tokens:</p>
        <ul class="border rounded-2 list-style-none">
          <% selected_grants.each do |grant| %>
            <% access = grant.user_programmatic_access %>
            <li class="confirm-removal-list-item">
              <%= access.name %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <%= render(Primer::Alpha::Dialog::Footer.new(show_divider: true)) do %>
        <%= form_tag settings_org_bulk_destroy_personal_access_tokens_path(current_organization), :method => :delete do %>
          <input type="hidden" name="grant_ids" value="<%= selected_grants.pluck(:id).join(",") %>">
          <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Revoke<% end %>
        <% end %>
    <% end %>
  <% end %>
<% end %>
