<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% page_info responsive: false, title: "Fine-grained Personal Access Token (beta)", selected_link: :personal_access_tokens %>

<% access = grant.user_programmatic_access %>
<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
    <div class="d-flex flex-row">
      <div class="mr-2">
        <%= link_to("Fine-grained personal access tokens", settings_org_active_personal_access_tokens_path(current_organization)) %> /
      </div>
      <div class="d-flex flex-items-center" <%= test_selector "personal-access-token-show" %>>
        <span class="css-truncate css-truncate-target" style="max-width: 300px"><%= access.name %></span>
      </div>
    <% end %>
    <% component.with_actions do %>
      <%= render(Primer::Experimental::Dialog.new(
        dialog_id: "revoke-token",
        show_header_divider: false,
        show_footer_divider: false,
        header_variant: :large,
        width: :large,
        title: "Revoke token?",
        form_url: settings_org_personal_access_token_path(current_organization, grant_id: grant.id),
        form_method: :delete
      )) do |c| %>
        <% c.with_show_button(scheme: :danger) do |s| %>
          Revoke
        <% end %>
        <% c.with_body do %>
          Are you sure you want to revoke access for the token "<%= access.name %>"?
        <% end %>
        <% c.with_button(data: { "close-dialog-id": "revoke-token" }) { "Cancel" } %>
        <% c.with_button(
          type: :submit,
          scheme: :danger,
          data: { "disable-with": "Revoking token..." }
        ) { "Revoke" } %>
      <% end %>
    <% end %>
  <% end %>

  <% if !!grant.request %>
    <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
      <%= render(Primer::Alpha::Banner.new) do |component| %>
        This fine-grained personal access token has a pending request.
        <% component.with_action_content do %>
          <%= render(Primer::ButtonComponent.new(type: :button, href: settings_org_personal_access_token_request_path(id: grant.request.id), size: :small, tag: :a)) { "View request" } %>
        <% end %>
      <% end %>
    <% else %>
      <%= render(Primer::Beta::Flash.new) do |component| %>
        This fine-grained personal access token has a pending request.
        <% component.with_action do %>
          <%= render(Primer::ButtonComponent.new(type: :button, href: settings_org_personal_access_token_request_path(id: grant.request.id), size: :small, tag: :a)) { "View request" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="mt-3 mb-4 d-flex">
    <div class="mr-5">
      <div>
        <span class="color-fg-muted">
          Name:
        </span>
        <span class="ml-2">
          <%= access.name %>
        </span>
      </div>
      <div class="d-flex mt-1">
        <span class="color-fg-muted">
          Owner:
        </span>
        <span class="d-flex ml-2">
          <%= avatar_for(access.owner, 20, class: "mr-1 avatar mt-0") %>
          <%= profile_link(access.owner, class: "Link--primary text-bold") %>
        </span>
      </div>
    </div>
    <div>
      <div>
        <span class="color-fg-muted">
          Created:
        </span>
        <span class="ml-3">
          <%= time_ago_in_words(access.created_at) %> ago
        </span>
      </div>
      <div class="mt-1">
        <span class="color-fg-muted">
          Last used:
        </span>
        <span class="ml-1">
          <%= last_access_description(access) %>
        </span>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row py-5 border-bottom">
    <div class="mr-5 pr-5 flex-1">
      <%= render ProgrammaticAccess::PermissionsListComponent.new(grant: grant, type: "Organization") %>
    </div>
    <div class="mr-5 pr-5 flex-1">
      <%= render ProgrammaticAccess::PermissionsListComponent.new(grant: grant, type: "Repository") %>
    </div>
  </div>

  <div class="mt-4">
    <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
      <% component.with_heading(tag: :h5, font_weight: :bold, classes: "h5") do %>Repository Access<% end %>
    <% end %>

    <include-fragment src="<%= settings_org_personal_access_token_repositories_path(current_organization, grant) %>">
      <%= render(Primer::Beta::BorderBox.new) do |component| %>
        <% component.with_body do %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_visual_spinner(size: :large) %>
            <% c.with_heading(tag: :h2).with_content("Loading...") %>
          <% end %>
        <% end %>
      <% end %>
    </include-fragment>
  </div>
<% end %>
