<%# locals: (view:, target:, install_disabled:) %>

<%= content_tag :div, id: "installation-status-for-#{target.display_login}", class: "Box-row" do %>
  <%= avatar_for(target, 34, class: "avatar mr-1 v-align-middle") %>
  <span class="text-bold"><%= target.display_login %></span>

  <% if view.integration_installed_on?(target) %>
    <div class="float-right BtnGroup">
      <%= content_tag :span, class: "tooltipped tooltipped-multiline tooltipped-n btn BtnGroup-item disabled", :"aria-label" => "#{ view.integration_name } is installed on this account." do %> <%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        Installed
      <% end %>

      <% installation = view.installation_for_account(target) %>
      <% integration  = installation.integration %>

      <%= link_to gh_edit_app_installation_path(integration, installation, current_user), class: "btn btn-default BtnGroup-item" do %>
        <%= primer_octicon(:gear, :"aria-label" => "Installation settings") %>
      <% end %>
    </div>
  <% elsif view.verified_email_required? %>
      <%= content_tag :span, :class => "float-right btn disabled" do %>
      Verified email required
    <% end %>
  <% else %>
    <%= link_to gh_app_installation_permissions_path(view.integration, current_user, target_id: target.id, target_type: target.class), class: "tooltipped float-right tooltipped-multiline tooltipped-n btn btn-primary #{ "disabled" if install_disabled }", :"aria-label" => "Install #{ view.integration_name } on this account." do %> <%# erblint:disable Primer::Accessibility::TooltippedMigration %>
      Install
    <% end %>
  <% end %>
<% end %>
