<% if view.installable? %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2, font_size: 3) do %>Install <%= view.integration.name %><% end %>
  <% end %>
  <% install_disabled = view.integration.suspended? %>

  <% if view.can_install_on_business? %>
    <div class="Box mb-4">
      <div class="">
        <p class="p-3"><%= view.integration_name %> can be installed on the following enterprise:</p>

        <%= render partial: "integrations/account_installations_target_row", locals: { view: view, target: view.integration_owner_business, install_disabled: install_disabled } %>
      </div>
    </div>
  <% end %>

  <p class="mb-4">Choose an account to install <%= view.integration.name %> on:</p>
  <div class="Box">
    <% view.accounts.each do |account| %>
      <%= render partial: "integrations/account_installations_target_row", locals: { view: view, target: account, install_disabled: install_disabled } %>
    <% end %>
  </div>
  <div class="paginate-container">
    <%= will_paginate view.accounts %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No accounts available
    <% end %>

    <% c.with_description do %>
      You have no accounts available for installation.
    <% end %>
  <% end %>
<% end %>
