<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# view is an instance of Integrations::AuthorizationView %>

<div id="oauth-authorization-<%= view.application_safe_key %>" class="oauth-border js-revoke-item" data-id="<%= view.application_safe_key %>" data-type="application">
  <div>
    <div class="TableObject py-3">
      <div class="TableObject-item">
        <%= link_to settings_oauth_authorization_path(view.application.key), class: "CircleBadge CircleBadge--small float-left", style: view.logo_background_color_style_rule do %>
          <%= oauth_application_logo(view.authorization.safe_app, 30, :class => "avatar CircleBadge-icon", :alt => view.authorization.safe_app.name) %>
        <% end %>
      </div>
      <div class="TableObject-item TableObject-item--primary px-3 ">
        <span>
          <%= link_to view.authorization.safe_app.name, settings_oauth_authorization_path(view.application.key), :class => "developer-app-name" %>
        </span>

        <% if GitHub.flipper[:alert_on_spammy_apps].enabled? && view.application.spammy? %>
          <%= render Primer::Beta::Label.new(ml: 1, scheme: :danger, title: "Label: Spammy", test_selector: "spammy_label_#{ view.application.id}") do %>
            Spammy
          <% end %>
        <% end %>

        <% if view.application.suspended? %>
          <%= render(Primer::Beta::Label.new(ml: 2, scheme: :danger, title: "Label: Suspended", test_selector: "suspended_label_#{view.application.id}")) do %>
            Suspended
          <% end %>
        <% end %>

        <p class="text-small color-fg-muted mb-0 mt-1">
          <%= last_authorization_access_description(view.authorization)%> &middot; Owned by <%= link_to view.application.display_owner.display_login, view.application.display_owner.user_path, class: "Link--inTextBlock" %>
        </p>
      </div>
      <%= render layout: "shared/details_dialog", locals: {
          button_text: "Revoke",
          button_class: "btn btn-sm btn-danger",
          title: "Are you sure you want to revoke authorization?"
      } do %>
        <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
          <%= render Primer::Alpha::Banner.new(scheme: :warning, full: true) do %>
            <%= view.authorization.safe_app.name %> will no longer be able to access the GitHub API. You cannot undo this action.
          <% end %>
        <% else %>
          <%= render Primer::Beta::Flash.new(scheme: :warning, full: true) do %>
            <%= view.authorization.safe_app.name %> will no longer be able to access the GitHub API. You cannot undo this action.
          <% end %>
        <% end %>

        <div class="Box-footer">
          <%= form_tag settings_oauth_authorization_path(view.application.key),
                :method => :delete,
                :class => "js-revoke-access-form",
                "data-id" => view.application_safe_key,
                "data-type-name" => "application" do %>
            <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-disable-with": "Revoking…") do %>
              I understand, revoke access
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
