<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= file_attachment_tag(
    model: :avatars,
    input: "upload-app-logo",
    class: "logo-upload d-table is-default js-upload-avatar-image upload-enabled #{"has-uploaded-logo" if has_integration_avatar?(integration)}",
    :"data-alambic-owner-id" => integration.id,
    :"data-alambic-owner-type" => integration.class.base_class.name
) do %>

  <div class="logo-box">
    <%= integration_avatar(integration: integration, size: 120, force_app_logo: true) %>

    <div class="logo-placeholder">
      <div>
        <%= primer_octicon(:upload, height: 32, mt: 4) %>
        <p>Drag &amp; drop</p>
      </div>
    </div>
  </div>

  <div class="logo-upload-container d-table-cell pl-4 height-full" style="vertical-align: top;">
    <div class="logo-upload-label">
      <label class="btn btn-sm button-change-avatar">
        Upload a logo...
        <input id="upload-app-logo" type="file" multiple class="manual-file-chooser" aria-describedby="upload-app-logo-message">
      </label>
    </div>

    <div class="upload-state default pb-0">
      <p>You can also drag and drop a picture from your computer.</p>
    </div>

    <% if has_integration_avatar?(integration) %>
      <%= form_tag destroy_app_avatar_path(integration), method: :post, class: "mt-3" do %>
        <input type="hidden" name="op" value="destroy">
        <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, scheme: :danger) do %>Delete this image<% end %>
      <% end %>
    <% end %>

    <p class="drag-and-drop mt-3" id="upload-app-logo-message">
      <span class="loading">
        <%= render(Primer::Beta::Spinner.new(size: :small, vertical_align: :text_bottom, mr: 1)) %> Uploading…
      </span>
      <span class="error bad-file">
        Only images, please. Try again.
      </span>
      <span class="error file-too-big">
        1MB or less, please. Try again.
      </span>
      <span class="error failed-request">
        Whoops! Try again.
      </span>
      <span class="error bad-format">
        File contents don’t match the file extension. Try again.
      </span>
    </p>
  </div>
<% end %>
