<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# view is an instance of Integrations::AuthorizationsView %>

<% page_info title: "Authorized GitHub Apps", selected_link: :applications_settings %>

<%= render layout: "settings/settings" do %>

  <%= render :partial => "navigation/application_settings" %>

  <% if view.authorizations.empty? %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No authorized applications
      <% end %>

      <% c.with_description do %>
        You have no applications authorized to access your account.
      <% end %>
    <% end %>
  <% else %>

    <div class="mb-4 mt-4">
      You have granted <strong><%= view.authorizations.count %> <%= pluralize_without_number(view.authorizations.count, "application") %></strong> access to your account.
      <div class="table-list-header-toggle float-right">
        <%= render layout: "shared/details_dialog", locals: {
          details_class: "float-right",
          button_class: "btn btn-sm btn-danger",
          button_text: "Revoke all",
          title: "Are you sure you want to revoke access for all GitHub Apps?"
        } do %>
          <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
            <%= render Primer::Alpha::Banner.new(scheme: :warning, full: true) do %>
              This will revoke access for <strong>all</strong> GitHub Apps. This action cannot be undone.
            <% end %>
          <% else %>
            <%= render Primer::Beta::Flash.new(scheme: :warning, full: true) do %>
              This will revoke access for <strong>all</strong> GitHub Apps. This action cannot be undone.
            <% end %>
          <% end %>
          <%= form_tag revoke_all_settings_oauth_authorizations_path(type: "github_apps"), :method => :post, :class => 'd-flex flex-column flex-auto' do %>
            <div class="Box-body">
              <label for="confirm-user-name-to-revoke-all">Type your username to confirm</label>
              <input id="confirm-user-name-to-revoke-all" type="text" class="form-control input-block mt-1" autofocus required pattern="<%= case_insensitive_pattern current_user.display_login %>">
            </div>
            <div class="Box-footer">
              <%= render Primer::ButtonComponent.new(type: :submit, "data-type": "application", block: true, scheme: :danger, "data-disable-invalid": "") do %>
                I understand, revoke access for everything
              <% end %>
            </div>
          <% end %>
        <% end %>
        <%= render :partial => "oauth_applications/sorts" %>
      </div>
    </div>

    <% view.authorizations.each do |authorization| %>
      <% application = authorization.application %>
      <%= render "integrations/authorization", view: create_view_model(
        Integrations::AuthorizationView,
        authorization: authorization,
        application: application,
      ) %>
    <% end %>


    <div class="paginate-container">
      <%= will_paginate view.authorizations %>
    </div>

    <p class="protip">
      <%= primer_octicon(:info, classes: "notice-icon") %> Read more about connecting with third-party applications at <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/authorizing-oauth-apps">GitHub Help</a>.
    </p>

  <% end %>
<% end %>
