<% page_info\
  title: "GitHub Apps - #{current_integration.name}",
  stafftools: stafftools_user_app_path(current_integration.owner, current_integration)
%>

<% if current_integration.suspended? %>
  <div class="flash-messages" <%= test_selector("spammy_flash_alert") %>>
    <%= render(Primer::Alpha::Banner.new(scheme: :danger)) do %>
    This application cannot be installed at this time.
    <% end %>
  </div>
<% end %>

<div class="container-lg mx-auto px-3 px-sm-4 px-md-5">
  <div class="Layout Layout--flowRow-until-md Layout--gutter-spacious Layout--sidebarPosition-end Layout--sidebarPosition-flowRow-end mt-6 mb-md-6">
    <div class="Layout-main">
      <div class="col-12 col-md-8 float-md-left" data-hpc>
        <div class="d-md-none text-center">
          <div class="CircleBadge CircleBadge--medium mx-auto color-shadow-large mb-2" style="background-color: #<%= current_integration.preferred_bgcolor %>">
            <%= integration_avatar(integration: current_integration, size: 41) %>
          </div>
          <h1 class="f1 text-normal"><%= current_integration.name %></h1>
          <h2 class="text-mono f4 text-normal color-fg-muted">GitHub App</h2>
        </div>
        <div class="TableObject d-none d-md-table">
          <div class="TableObject-item">
            <div class="CircleBadge CircleBadge--medium color-shadow-large" style="background-color: #<%= current_integration.preferred_bgcolor %>">
              <%= integration_avatar(integration: current_integration, size: 41) %>
            </div>
          </div>
          <div class="TableObject-item TableObject-item--primary pl-4">
            <h1 class="f1 text-normal"><%= current_integration.name %></h1>
            <h2 class="text-mono f4 text-normal color-fg-muted">GitHub App</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="Layout-sidebar d-flex">
      <% if logged_in? %>
        <div class="flex-self-end width-full">
          <include-fragment src="<%= gh_app_installation_action_path(current_integration, current_user) %>">
            <div class="d-flex flex-justify-center" style="min-height: 70px">
              <%= render(Primer::Beta::Spinner.new(size: :medium)) %>
            </div>
          </include-fragment>
        </div>
      <% end %>
    </div>
  </div>

  <div class="Layout Layout--flowRow-until-md Layout--gutter-spacious Layout--sidebarPosition-end Layout--sidebarPosition-flowRow-end mt-6 mb-md-6">
    <div class="Layout-main">
      <% if current_integration.description? %>
        <div class="markdown-body">
          <%= render "integrations/integration_description", :integration => current_integration %>
        </div>
      <% else %>
        <%= render Primer::Beta::Blankslate.new(spacious: true, mb: 3) do |c| %>
          <% c.with_heading(tag: :h2) do %>
            No description
          <% end %>
        <% end %>
      <% end %>

      <% if GitHub.marketplace_enabled? %>
        <% if current_integration.marketplace_listing.present? %>
          <% if current_integration.marketplace_listing.adminable_by?(current_user) %>
            <div class="mt-3">
              <hr>
              <p><%= link_to "Manage this apps's Marketplace listing", edit_marketplace_listing_path(current_integration.marketplace_listing.slug), class: "Link--inTextBlock" %>.</p>
            </div>
          <% elsif current_integration.marketplace_listing.publicly_listed? %>
            <div class="mt-3">
              <hr>
              <p><%= link_to "Read more about this app on the Marketplace", marketplace_listing_path(current_integration.marketplace_listing.slug), class: "Link--inTextBlock" %>.</p>
            </div>
          <% end %>
        <% elsif current_integration.public? && current_integration.adminable_by?(current_user) %>
          <div class="mt-3">
            <hr>
            <p>Improve the visibility of your app. <%= link_to "List it on the Marketplace", new_marketplace_listing_with_integratable_path(type: :app, id: current_integration.id), class: "Link--inTextBlock" %>.</p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="Layout-sidebar">
      <p class="text-mono text-normal color-fg-muted mb-2">Developer</p>
      <ul class="list-style-none">
        <li class="mb-2">
          <img class="avatar avatar-user" src="<%= current_integration.display_owner.avatar_url %>" width="16" height="16" alt="@<%= current_integration.display_owner.display_login %>"> <%= link_to current_integration.display_owner.display_login, current_integration.display_owner.user_path %>
        </li>
        <li class="mb-2">
          <% if manages_integration?(user: current_user, integration: current_integration) %>
            <span class="mr-3"><%= primer_octicon(:gear) %> <%= link_to "App settings", gh_settings_app_path(current_integration) %></span>
          <% end %>
        </li>
        <li class="mb-2">
          <%= primer_octicon(:"link-external", mr: 1) %> <%= link_to "Website", current_integration.url %>
        </li>
      </ul>
      <p class="py-3 mb-0 text-small color-fg-muted">
        <% if current_integration.github_owned? %>
          <strong><%= current_integration.name %></strong> is owned and operated by GitHub with separate terms of service, privacy policy, and support documentation.
        <% else %>
          <strong><%= current_integration.name %></strong> is provided by a third-party and is governed by separate terms of service, privacy policy, and support documentation.
        <% end %>
      </p>
      <% if GitHub.user_abuse_mitigation_enabled? %>
        <%= render(Primer::Beta::Link.new(href: flavored_contact_path(report: "#{current_integration.name} (app)", flavor: "report-abuse"), rel: "nofollow", scheme: :secondary, classes: "Link--inTextBlock")) do %>
          <%= primer_octicon(:report, mr: 2) %>Report abuse
        <% end %>
      <% end %>
    </div>
  </div>
</div>
