<% page_info title: "About #{current_integration.name}", class: "color-bg-subtle" %>

<style>.footer { display: none; } </style>

<div class="container-sm mx-auto px-3 pt-6 mt-6 pb-3">
  <div class="position-relative overflow-hidden Box color-shadow-small p-4 mb-3">
    <div class="float-right pl-3">
      <div class="CircleBadge CircleBadge--small" style="background-color: #<%= current_integration.preferred_bgcolor %>">
        <%= oauth_application_logo(current_integration, 24, class: "CircleBadge-icon")%>
      </div>
    </div>
    <h3 class="f2 text-normal lh-condensed mb-2"><%= current_integration.name %></h3>
    <p class="mb-3 lh-condensed">
      <%= primer_octicon(:lock, color: :muted, mr: 1) %> <%= current_integration.name %> is a private
      GitHub App.
    </p>

    <div class="d-lg-flex flex-items-center">
      <div class="mb-2 mb-lg-0">
        <%= link_to "Learn more about GitHub Apps", "#{GitHub.developer_help_url}/apps/building-integrations/setting-up-and-registering-github-apps/", class: "btn px-4 py-2 d-block d-md-inline-block text-center text-md-left" %>
      </div>
    </div>
  </div>
</div>
