<% page_info \
  container_xl: true,
  title: "View rule · Dependabot rules",
  selected_link: :security_analysis %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= repository_security_and_analysis_path %>">Code security and analysis</a> / <a href="<%= dependabot_rules_path %>">Dependabot rules</a> / View rule
    <% end %>
  <% end %>

  <%= render(DependabotAlerts::RuleShowComponent.new(
    rule: rule,
    current_repository: current_repository,
    current_organization: current_organization)
  ) %>
<% end %>
