<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag settings_remove_members_path(
  repository: current_repository,
  invitation_ids: view.selected_invitation_ids,
  user_ids: view.selected_user_ids,
  team_ids: view.selected_team_ids),
  method: :delete do %>
  <div class="Box-body">
    <div class="f5">
      Once removed <strong>the <%= view.headcount %> selected</strong> will no longer have access to the <%= current_repository.name %> repository.
    </div>
  </div>
  <div class="Box-footer">
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true, "data-close-dialog": "") do %>Remove <%= view.headcount %> selected from <%= current_repository.name %><% end %>
  </div>
<% end %>

