<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Actions secrets and variables<% end %>
<% end %>

<p>
  Secrets and variables allow you to manage reusable configuration data.
  Secrets are <strong>encrypted</strong> and are used for sensitive data. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/automating-your-workflow-with-github-actions/creating-and-using-encrypted-secrets">Learn more about encrypted secrets</a>.
  Variables are shown as plain text and are used for <strong>non-sensitive</strong> data.

  <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/learn-github-actions/variables">Learn more about variables</a>.
</p>
<p>
  Anyone with collaborator access to this repository can use these secrets and variables for actions. They are not passed to workflows that are triggered by a pull request from a fork<% if GitHub.flipper[:dotcom_public_fork_pr_workflows_policy].enabled?(current_repository) %> unless enabled in <a class="Link--inTextBlock" href = "<%= repository_actions_settings_path(user_id: current_repository.owner, repository: current_repository) %>" >Actions settings</a><% end %>.
</p>

<%= render(Primer::Alpha::TabNav.new(label: "Secrets or variables tab", display: :flex, body_arguments: { flex: 1 }, pt: 3)) do |c| %>
  <% c.with_tab(selected: selected_tab == :secrets, href: repository_secrets_path) { "Secrets" } %>
  <% c.with_tab(selected: selected_tab == :variables, href: repository_variables_path) { "Variables" } %>
<% end %>
