<% publish_website_task = OnboardingTasks::Organizations::PublishWebsite.new(taskable: current_repository.organization, user: current_user) %>
<%= render(Onboarding::Organizations::TipComponent.new(
  organization: current_repository.organization,
  show_tip: params[:show_tip].present?,
  task: publish_website_task,
  mb: 3,
  )) do %>
  <h3 class="mb-1">Publish a members-only website</h3>
  <div class="color-fg-muted">
    <p>
      You can choose to publish your website publicly to anyone on the Internet or privately to people with read access to this repository.
    </p>
    <p>
      Open the “Source” dropdown menu below and select the <strong><%= current_repository.default_branch %></strong> branch to publish the website. You can then choose to make the website accessible only to organization members with can access this repository.
    </p>
    <p class="mb-0">
      <a
          href="<%= GitHub.help_url %>/pages/getting-started-with-github-pages/changing-the-visibility-of-your-github-pages-site"
          target="_blank"
        >
          <%= render(Primer::Beta::Octicon.new(:file, mr: 1)) %>
          Learn more about changing the visibility of your GitHub Pages site</a>
    </p>
  </div>
<% end %>

<%= render(Onboarding::Organizations::CompletedGuidanceComponent.new(
  organization: current_repository.organization,
  completed_task: publish_website_task,
  show_tip: params[:show_tip].present?,
  container_class: "mb-3"
)) %>
