<% page_info \
  container_xl: true,
  title: "Options",
  selected_link: :repo_settings %>
<% permission = local_assigns.fetch(:permission, nil) %>

<%= render layout: "edit_repositories/edit" do %>
  <%
    can_toggle_wiki, can_toggle_projects, can_toggle_merge_types, can_set_social_preview = Promise.all([
      current_repository.async_can_toggle_wiki?(current_user),
      current_repository.async_can_toggle_projects?(current_user),
      current_repository.async_can_toggle_merge_settings?(current_user),
      current_repository.async_can_set_social_preview?(current_user)
    ]).sync

    has_options_fgp = can_toggle_wiki ||
      can_toggle_projects ||
      can_toggle_merge_types ||
      can_set_social_preview
  %>

  <div id="options_bucket">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Features<% end %>
    <% end %>
    <% if current_repository.archived? %>
      <p>
        Most repository settings are hidden for archived repositories. This repository must be unarchived to change them.
      </p>
    <% else %>
      <% if has_options_fgp %>
        <ul>
          <% if can_toggle_wiki %>
            <%= render partial: "edit_repositories/admin_screen/wiki_fgp" %>
          <% end %>
          <% if can_toggle_projects %>
            <%= render partial: "edit_repositories/admin_screen/projects_fgp" %>
          <% end %>
        </ul>
         <% if can_toggle_merge_types %>
            <%= render partial: "edit_repositories/admin_screen/merge_button",
                      locals: { repository: current_repository, permission: permission } %>
        <% end %>
        <% if can_set_social_preview %>
          <%= render partial: "edit_repositories/admin_screen/og_image",
                    locals: { repository: current_repository } %>
        <% end %>
      <% else %>
        <p>
          You don't have access to repository options
        </p>
        <p class="note">
          Check the sidebar for available repository settings.
        </p>
      <% end %>
    <% end %>
  </div>
<% end %>
