<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
  title: "Deploy keys",
  container_xl: true,
  selected_link: :repo_keys_settings %>
<% view = EditRepositories::AdminScreen::DeployKeysView.new(@public_key) %>

<% content = capture do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Deploy keys<% end %>
    <% component.with_actions do %>
      <a href="<%= repository_new_key_path %>" class="btn btn-sm" data-pjax="true">Add deploy key</a>
    <% end %>
  <% end %>

  <% if keys.any? %>
    <ul class="Box">
      <% keys.each do |deploy_key| %>
        <%= render :partial => "edit_repositories/deploy_key", :object => deploy_key, :locals => { :view => view, deploy_key: deploy_key, :selected => deploy_key == view.selected_key } %>
      <% end %>
    </ul>

  <% if feature_flag_enabled %>
    <div style="text-align:center;">
      <%= will_paginate keys %>
    </div>
  <% end %>
  <% else %>
    <%= render Primer::BlankslateComponent.new(
      title: "There are no deploy keys for this repository",
      mb: 3,
    ) do %>
      <p>
        Check out our <%= link_to "guide on deploy keys", docs_url("authentication/managing-deploy-keys-deploy-keys"), class: "Link--inTextBlock" %> to learn more.
      </p>
    <% end %>
  <% end %>
<% end %>

<%= render layout: "edit_repositories/edit" do %>
  <%= content %>
<% end %>
