<% page_info \
  container_xl: true,
  title: "Add deploy key",
  selected_link: :repo_keys_settings %>

<% content = capture do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= repository_keys_path %>">Deploy keys</a> / Add new
    <% end %>
  <% end %>

  <%= primer_form_with model: current_repository.public_keys.build, url: deploy_keys_path do |f| %>
    <%= render(EditRepositories::DeployKeys::NewKeyForm.new(f)) %>
  <% end %>
<% end %>

<%= render layout: "edit_repositories/edit" do %>
  <%= content %>
<% end %>
