<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
  container_xl: true,
  title: "Configure repository notifications",
  selected_link: :notifications %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Notifications<% end %>
    <% component.with_description do %>Setup email addresses to receive notifications when push events are triggered.<% end %>
  <% end %>

  <div class="col-12">
    <ul class="listgroup">
      <li class="listgroup-item hook-item clearfix <%= hook.active? ? "success" : "inactive" %>">
        <div class="gap-2 d-flex">
          <%# Min width to ensure that status doesn't break and truncates email list instead %>
          <div style="min-width: 69px">
            <span><%= hook.active? ? "Active" : "Inactive" %></span>
            <span class="item-status">
              <%= primer_octicon(:check, classes: "icon-for-success") if hook.active? %>
              <%= primer_octicon(:"dot-fill", classes: "icon-for-inactive") unless hook.active? %>
            </span>
          </div>
          <div class="mx-2" style="overflow: auto;">
            <span class="Truncate">
              <span class="Truncate-text">
                <%= link_to hook.config["address"], edit_repository_notification_settings_path(current_repository.owner, current_repository), "data-pjax" => true %>
              </span>
            </span>
          </div>
          <div class="flex-1">
            <%# Min width to ensure that buttons don't break and truncate the email list instead %>
            <div class="BtnGroup float-right" style="min-width: 112px">
              <%= render(Primer::Beta::Button.new(
                      tag: :a,
                      scheme: :default,
                      size: :small,
                      mr: 1,
                      href: edit_repository_notification_settings_path(current_repository.owner, current_repository),
                      "data-pjax": true
                    )) do |_c| %>
                Edit
              <% end %>

              <%= render(Primer::Alpha::Dialog.new(id: "custom-dialog-clear-email", title: "Custom dialog clear email")) do |d| %>
                <% d.with_show_button(scheme: :danger, size: :small) { "Delete" } %>
                <% d.with_header(show_divider: true, font_weight: :bold, font_size: 5) { "Clear email notification settings?" } %>
                <% d.with_body(p: 0) do %>
                  <%= render(Primer::Beta::Flash.new(scheme: :warning, full: true)) do %>
                    This action cannot be undone. Future events will no longer be delivered to your configured email addresses.
                  <% end %>
                <% end %>
                <% d.with_footer(pt: 3) do %>
                  <%= form_tag destroy_repository_notification_settings_path(current_repository.owner, current_repository), class: "inline-form width-full", method: :delete do %>
                    <% render(Primer::Beta::Button.new(
                            scheme: :danger,
                            type: :submit,
                            size: :medium,
                            block: true
                          )) do |_c| %>
                      Yes, clear email notification settings
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
<% end %>
