<% page_info \
    container_xl: true,
    title: "General",
    selected_link: :repo_settings %>
<% organization = current_repository.organization %>
<% permission = local_assigns.fetch(:permission, nil) %>

<%= render layout: "edit_repositories/edit" do %>
  <div id="options_bucket">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>General<% end %>
    <% end %>
    <% if current_repository.archived? %>
      <p>
        Most repository settings are hidden for archived repositories. This repository must be unarchived to change them.
      </p>
    <% elsif current_repository.locked_on_migration? %>
      <p>
        Most repository settings are hidden for migrating repositories. Please wait for the repository to finish migrating.
      </p>
    <% else %>
      <%= render partial: "edit_repositories/admin_screen/metadata",
          locals: { repository: current_repository } %>
      <%= render partial: "edit_repositories/admin_screen/template",
          locals: { repository: current_repository } %>
      <%= render Repositories::Settings::CommitSignoffSettingsComponent.new(current_repository) %>
      <%= render partial: "edit_repositories/admin_screen/default_branch",
          locals: { repository: current_repository, heads_count: heads_count }%>

      <% if current_repository.public? %>
        <%= render partial: "edit_repositories/admin_screen/og_image",
            locals: { repository: current_repository } %>
      <% end %>

      <% if current_repository.listed_action.present? && current_repository.adminable_by?(current_user) && GitHub.flipper[:marketplace_action_avatar_upload].enabled?(current_repository.owner) %>
        <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
          <% component.with_heading(tag: :h2, id: "logo") do %>Action Logo<% end %>
        <% end %>
        <%= render partial: 'edit_repositories/logo_update', locals: { action: current_repository.listed_action } %>
      <% end %>

      <%= render Primer::Beta::Subhead.new(spacious: true, hide_border: true) do |component| %>
        <% component.with_heading(tag: :h2, id: "features") do %>Features<% end %>
      <% end %>
      <%= render partial: 'edit_repositories/admin_screen/features' %>

      <%= render :partial => "edit_repositories/admin_screen/merge_button", locals: {
        permission: permission,
      } %>

      <% if current_repository.can_enable_lfs_in_archives? %>
        <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
          <% component.with_heading(tag: :h2, id: "archive-settings") do %>Archives<% end %>
        <% end %>
        <p id="archive-settings-desc">
          When creating source code archives, you can choose to include files stored using Git LFS in the archive.
        </p>
        <%= render :partial => 'edit_repositories/admin_screen/archives' %>
      <% end %>

      <% if current_repository.plan_supports?(:protected_branches) %>
        <%= render Primer::Beta::Subhead.new(spacious: true, hide_border: true) do |component| %>
          <% component.with_heading(tag: :h2, id: "push-settings") do %>Pushes<% end %>
        <% end %>
        <%= render :partial => 'edit_repositories/admin_screen/push_settings' %>
      <% end %>
    <% end %>

    <%= render Primer::Beta::Subhead.new(spacious: true, hide_border: true) do |component| %>
      <% component.with_heading(tag: :h2, id: "danger-zone") do %>Danger Zone<% end %>
    <% end %>

    <%= render(Primer::Beta::BorderBox.new(border_color: :danger)) do |component| %>
      <% component.with_row(display: :flex, align_items: :center, flex_wrap: :wrap, classes: "flex-sm-nowrap") do %>
        <%= render Repositories::Settings::VisibilityComponent.new(repository: current_repository) %>
      <% end %>
      <% component.with_row(display: :flex, align_items: :center, flex_wrap: :wrap, classes: "flex-sm-nowrap") do %>
        <%= render partial: 'edit_repositories/admin_screen/disable_branch_protection' %>
      <% end %>

      <% if current_repository.anonymous_git_access_available? %>
        <% component.with_row(display: :flex, align_items: :center, flex_wrap: :wrap, classes: "flex-sm-nowrap") do %>
          <%= render partial: 'edit_repositories/admin_screen/anonymous_git_access' %>
        <% end %>
      <% end %>

      <% component.with_row(display: :flex, align_items: :center, flex_wrap: :wrap, classes: "flex-sm-nowrap") do %>
        <%= render partial: 'edit_repositories/admin_screen/transfer' %>
      <% end %>
      <% component.with_row(display: :flex, align_items: :center, flex_wrap: :wrap, classes: "flex-sm-nowrap") do %>
        <%= render partial: 'edit_repositories/admin_screen/archive' %>
      <% end %>
      <% component.with_row(display: :flex, align_items: :center, flex_wrap: :wrap, classes: "flex-sm-nowrap") do %>
        <%= render Repositories::Settings::DeleteComponent.new(repository: current_repository) %>
      <% end %>
    <% end %>
  </div><!-- /#options_bucket -->
<% end %>
