<%
  page_info \
    container_xl: true,
    title: "Reported content",
    selected_link: :reported_content
  resolved_selected = params[:resolved_filter] == "RESOLVED"
%>

<%= render layout: "edit_repositories/edit" do %>
  <%= render partial: 'community/toggle_tiered_reporting',
    locals: {
      current_repository: current_repository,
      report_content_prior_contributors_enabled: report_content_prior_contributors_enabled,
      report_content_all_users_enabled: report_content_all_users_enabled
    }
  %>

  <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
    <% component.with_heading(tag: :h2) do %>Abuse reports<% end %>
  <% end %>

  <p>
    The following content has been reported by users:
  </p>

  <%= render(Primer::Alpha::SegmentedControl.new("aria-label": "Report filter", mb: 4)) do |component| %>
    <%= component.with_item(
      tag: :a,
      label: "Reported Content",
      selected: !resolved_selected,
      href: reported_content_path(current_repository.owner.display_login, current_repository.name, resolved_filter: "UNRESOLVED")
    ) %>
    <%= component.with_item(
      tag: :a,
      label: "Resolved",
      selected: resolved_selected,
      href: reported_content_path(current_repository.owner.display_login, current_repository.name, resolved_filter: "RESOLVED")
    ) %>
  <% end %>

  <%= render partial: 'community/repo_abuse_reports',
        locals: { current_repository: current_repository, resolved_filter: resolved_filter, comments_with_info: comments_with_info, paginated_reports: paginated_reports } %>
<% end %>
