<% page_info \
  container_xl: true,
  title: "#{view.app_display_name} secrets · #{current_repository.name_with_display_owner}",
  selected_link: view.selected_link %>

<%= render layout: "edit_repositories/edit" do %>

  <% if view.actions? %>
    <%= render partial: "edit_repositories/pages/secrets_and_variables_tabs",
        locals: {selected_tab: :secrets, app_name: view.app_name} %>

    <h3 class="sr-only">Secrets</h3>
  <% else %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %><% view.page_title %><% end %>
    <% end %>

    <% if view.codespaces_dev_env_secrets? %>
      <p>Development environment secrets are environment variables that are <strong>encrypted</strong>. Secrets are not passed to forks.
    <% else %>
      <p>
        <% if view.dependabot? %>
          Secrets are credentials that are <strong>encrypted</strong>.
        <% else %>
          Secrets are environment variables that are <strong>encrypted</strong>.
        <% end %>
        Anyone with <b>collaborator</b> access to this repository can use these secrets for <%= view.app_display_name%>.
      </p>
      <% if view.actions? %>
        <p class="mb-4">
          Secrets are not passed to workflows that are triggered by a pull request from a fork. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/automating-your-workflow-with-github-actions/creating-and-using-encrypted-secrets">Learn more about encrypted secrets</a>.
        </p>
      <% elsif view.dependabot? %>
        <p class="mb-4">
          Secrets are not passed to forks.
        </p>
      <% end %>
    <% end %>
  <% end %>

  <% if app %>

    <%# ENVIRONMENT SECRETS%>
    <% if view.show_environment_secrets? %>
      <%= render_react_partial name: "actions-secrets-variables-list", ssr: true, props: {
        items: secrets[:environment_secrets],
        scope: Secrets::Helper::ENV_SCOPE,
        environmentUrls: environment_urls,
        tableActionProps: {
          url: repository_environments_path,
          message: "Manage environment secrets"
        },
        mode: Secrets::Helper::SECRET_MODE
      } %>
    <% end %>

    <%# REPO SECRETS%>
    <%#
      Partials need at least one element in their component. This redunant div is needed because for
      codespaces, if the flag is on, the only thing rendered in this component would be the partial
    %>
    <div>
      <%= render_react_partial name: "actions-secrets-variables-list", ssr: true, props: {
        items: secrets[:repository_secrets],
        overrides: secrets[:organization_secrets],
        scope: Secrets::Helper::REPO_SCOPE,
        crudUrls: {
          editUrls: edit_repo_secret_urls,
          deleteUrls: delete_repo_secret_urls,
        },
        tableActionProps: {
          url: repository_new_secret_path(app_name: view.app_name),
          message: "New repository secret"
        },
        mode: Secrets::Helper::SECRET_MODE
      } %>
    </div>

    <%# ORG SECRETS%>
    <% if can_use_org_secrets %>
      <%= render_react_partial name: "actions-secrets-variables-list", ssr: true, props: {
        items: secrets[:organization_secrets],
        overrides: secrets[:repository_secrets],
        scope: Secrets::Helper::ORG_SCOPE,
        tableActionProps: {
          url: is_owner_admin ? settings_org_secrets_path(current_repository.owner, app_name: view.app_name) : nil,
          message: "Manage organization secrets"
        },
        mode: Secrets::Helper::SECRET_MODE,
        isPrivateRepoInFreeOrg: !repo_can_use_org_secrets
      } %>
    <% end %>
  <% end %>
<% end %>
