<%
page_info(
  title: "Code security & analysis",
  container_xl: true,
  selected_link: :repo_settings
)
%>

<%= render layout: "edit_repositories/edit" do %>
  <div id="security_analysis_bucket" class="settings-next" <%= test_selector("security-analysis-settings")%>>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Code security and analysis<% end %>
    <% end %>
    <p>
      Security and analysis features help keep your repository secure and updated.
      By enabling these features, you're granting us permission to perform read-only analysis on your repository.
       <%= "Unarchive your repository to access additional features." if !data.show_unarchived_features %>
    </p>

    <%= render partial: 'edit_repositories/pages/code_security/banner', locals: { data:, manager: } %>

    <% if data.show_unarchived_features %>
      <%= render partial: 'edit_repositories/pages/code_security/inner_source', locals: { data: } %>
      <%# SecurityProductsEnablement::RepositorySettings::PrivateVulnerabilityReportingComponent %>
      <%= render manager.private_vulnerability_reporting %>
      <%= render partial: 'edit_repositories/pages/code_security/dependency_graph', locals: { data:, manager: } %>
      <%= render partial: 'edit_repositories/pages/code_security/dependabot', locals: { data:, manager: } %>

      <% if data.advanced_security_visible %>
          <%# SecurityProductsEnablement::RepositorySettings::AdvancedSecurityComponent %>
          <%= render manager.advanced_security %> <%# rubocop:disable GitHub/RailsViewRenderLiteral %>
        <% if data.code_scanning_default_setup_visible && current_repository.advanced_security_enabled? %>
          <%= render CodeScanning::SettingsComponent.new(repository: current_repository)  %>
        <% end %>
      <% elsif data.code_scanning_default_setup_public_scanning_visible %>
        <%= render CodeScanning::SettingsComponent.new(repository: current_repository) %>
      <% end %>
    <% end %>

    <%# SecurityProductsEnablement::RepositorySettings::SecretScanningComponent %>
    <%= render manager.secret_scanning %> <%# rubocop:disable GitHub/RailsViewRenderLiteral %>

  </div>

  <% if (data.dependabot_alerts_enabled || data.secret_scanning_enabled) && current_repository.owner.is_a?(Organization) %>
    <%= render partial: "edit_repositories/pages/code_security/access_to_alerts" %>
  <% end %>
<% end %>
