<% page_info \
  container_xl: true,
  title: "Actions variables · #{current_repository.name_with_display_owner}",
  selected_link: page_info[:selected_link] %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render partial: "edit_repositories/pages/secrets_and_variables_tabs",
        locals: {selected_tab: :variables, app_name: app_name} %>

  <h3 class="sr-only">Variables</h3>

  <% if app %>
    <%# Environment variables section %>
    <% if usage_metadata[:show_environment_variables] %>
      <%= render_react_partial name: "actions-secrets-variables-list", ssr: true, props: {
        items: environment_variables[:environment_variables],
        scope: Secrets::Helper::ENV_SCOPE,
        environmentUrls: environment_urls,
        tableActionProps: {
          url: repository_environments_path,
          message: "Manage environment variables"
        },
        mode: Secrets::Helper::VARIABLE_MODE
      } %>
    <% end %>

    <%# Repository variables section %>
    <%= render_react_partial name: "actions-secrets-variables-list", ssr: true, props: {
      items: repository_variables[:repository_variables],
      overrides: organization_variables[:organization_variables],
      scope: Secrets::Helper::REPO_SCOPE,
      crudUrls: {
        editUrls: edit_repo_variables_urls,
        deleteUrls: delete_repo_variables_urls,
      },
      tableActionProps: {
        url: repository_new_variable_path(app_name: "actions"),
        message: "New repository variable"
      },
      mode: Secrets::Helper::VARIABLE_MODE
    } %>
    <%# Organisation variables section %>
    <% if usage_metadata[:can_use_org_variables] %>
      <%= render_react_partial name: "actions-secrets-variables-list", ssr: true, props: {
        items: organization_variables[:organization_variables],
        overrides: repository_variables[:repository_variables],
        scope: Secrets::Helper::ORG_SCOPE,
        tableActionProps: {
          url: usage_metadata[:is_owner_admin] ? organization_variables_path(current_repository.owner, app_name: app_name) : nil,
          message: "Manage organization variables"
        },
        mode: Secrets::Helper::VARIABLE_MODE,
        isPrivateRepoInFreeOrg: !usage_metadata[:repo_can_use_org_variables]
      } %>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new(border: true) do |c| %>
      <% c.with_heading(tag: :h2).with_content(page_info[:blank_slate_title]) %>
    <% end %>
  <% end %>
<% end %>
