<div class="color-fg-muted text-small text-uppercase">
  Last Payout
  <% if payout_pending? %>
    <%= render(Primer::Beta::Text.new(
      font_size: 6, color: :attention, mr: 2, p: 1,
      classes: "rounded",
      test_selector: "payout-status",
      border: true,
      border_color: :attention_emphasis
    )) do %>Pending<% end %>
  <% end %>
</div>
<% if estimated_payout_amount %>
  <p class="f2" <%= test_selector("estimated-payout-amount") %>>
    <%= estimated_payout_amount.format %>
  </p>
<% elsif payout? %>
  <p class="f2" <%= test_selector("payout-amount") %>>
    <%= payout %> <%= payout_formatted_created_at %>
  </p>
  <div class="text-left">
    <% if payout_failed? %>
      <p class="color-fg-danger">
      <span <%= test_selector("stripe-payout-failure-message") %>><strong><%= failure_message %></strong></span>
      <% if failure_action %>
        <span <%= test_selector("stripe-payout-failure-action") %>>
          Please <a class="Link--inTextBlock" href="<%= stripe_account_path %>" target="blank" rel="noopener noreferrer"><%= failure_action %><%= render Primer::Beta::Octicon.new(icon: "link-external") %></a>
        </span>
      <% else %>
        Check <a class="Link--inTextBlock" href="<%= stripe_account_path %>" target="blank" rel="noopener noreferrer">your account for details <%= render Primer::Beta::Octicon.new(icon: "link-external") %></a>
      <% end %>
      </p>
    <% end %>
  </div>
<% elsif error %>
  <p class="color-fg-danger" <%= test_selector("payout-error") %>><%= error %></p>
<% else %>
  <p class="f2" <%= test_selector("no-payout") %>>&mdash;</p>
<% end %>
<% unless hide_stripe_link? %>
  <a
      href="<%= stripe_account_path %>"
      class="d-block text-small"
      target="_blank"
      rel="noopener noreferrer"
      <%= test_selector("stripe-payouts-link")%>
    >
    View all payouts <%= render Primer::Beta::Octicon.new(icon: "link-external") %>
  </a>
<% end %>
