<div class="color-fg-muted text-small text-uppercase" <%= test_selector "next-payout" %>>
  Estimated Next Payout
</div>

<% if on_payout_probation? %>
  <p class="text-small color-fg-muted mt-2" <%= test_selector("payout-probation-message") %>>
    Payouts to newly approved GitHub Sponsors accounts have a probation period of up to 90 days. Read more about payouts in the
    <a class="Link--inTextBlock" href="<%= helpers.docs_url("sponsors/additional-terms") %>">GitHub Sponsors Additional Terms</a>.
  </p>
<% else %>

  <div class="d-flex flex-items-center">
    <h3 class="f2" <%= test_selector("balance") %>>
      <%= formatted_money %>
    </h3>
  </div>

  <% if next_payout_date_known? %>
    <% if show_known_next_payout_date? %>
      <span class="f2 color-fg-default mb-0" <%= test_selector("next-payout-date") %>>
        <%= formatted_next_payout_date %>
      </span>
    <% end %>
  <% else %>
    <p <%= test_selector("probation-days") %>>
      <%= pluralize(probation_days, "day") %> after the first person sponsors you.
    </p>
  <% end %>

  <%= render Sponsors::Payouts::PayoutThresholdComponent.new(balance: balance) %>

  <% if show_exchange_rate_note? %>
    <p class="note" <%= test_selector("exchange-rate-note") %>>
      Your next payout may vary slightly based on exchange rates.
    </p>
  <% end %>
  <p class="note mb-0">
    This is your current balance accrued since the last payout.
    <br><a class="no-underline" href="<%= help_link %>">Learn more &rarr;</a>
  </p>
<% end %>
