<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%
  period_menu_options = report.valid_periods.keys.map do |key|
    { title: report.valid_periods[key], value: key }
  end
%>

<% page_info \
  title: "#{listing_name} Transactions · GitHub Marketplace",
  selected_link: marketplace_path,
  stafftools: biztools_marketplace_listing_path(listing_slug)
%>

<%= render layout: "marketplace_listings/admin_layout", locals: { marketplace_listing: marketplace_listing, selected_tab: :transactions } do %>
  <div>
    <% if report.empty? %>
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2) do %>Transactions<% end %>
        <% component.with_actions do %>
          <%=
            render partial: "marketplace_listing_insights/period_select_box",
              locals: {
                selected_period_title: report.period_title,
                selected_period:       report.period,
                period_menu_options:   period_menu_options,
                data_url_helper:       method(:marketplace_listing_insights_transactions_path)
              }
          %>
        <% end %>
      <% end %>

      <%= render Primer::BlankslateComponent.new(
        icon: "clock",
        title: "Check back soon",
        description: "This is a list of the financial transactions for #{listing_name}.",
        mb: 5,
      ) do %>
        <p>If this listing was recently added to the GitHub Marketplace, check back soon. Data is synced daily.</p>
      <% end %>
    <% else %>
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2) do %>Transactions<% end %>
        <% component.with_actions(display: :flex, align_items: :center) do %>
          <%=
            render partial: "marketplace_listing_insights/period_select_box",
              locals: {
                adjusted_plan_name:    adjusted_plan_name,
                selected_period_title: report.period_title,
                selected_period:       report.period,
                period_menu_options:   period_menu_options,
                data_url_helper:       method(:marketplace_listing_insights_transactions_path)
              }
          %>
          <%= form_tag marketplace_listing_insights_transactions_path(format: :csv), method: :get, class: "ml-2" do |f| %>
            <input type="hidden" name="period" value="<%= report.period %>">
            <%= render(Primer::Beta::Button.new(size: :small, scheme: :primary, title: "Download transactions", type: :submit)) do %>
              Export CSV
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <p>
        This data corresponds to <strong><%= report.period_title %></strong> transactions from GitHub.
        The column headers match the API fields. In the case of discrepancy please contact GitHub via our
        <a class="Link--inTextBlock" href="https://github.com/contact">Contact page</a>.
      </p>

      <div class="file">
        <% if report.too_large? %>
          <div class="render-notice border-bottom py-2">
            This file has been truncated, but you can
            <%= link_to "export the full data", marketplace_listing_insights_transactions_path(format: :csv, period: report.period), class: "Link--inTextBlock" %>
            to a CSV file.
          </div>
        <% end %>
        <div itemprop="text" class="blob-wrapper data">
          <%= render partial: "blob/blob_csv", object: report.as_blob %>
        </div>
      </div>
    <% end %>
  </div>

  <p class="mt-4 pt-2 border-top">
    <%= primer_octicon(:"light-bulb") %> Check the <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/marketplace/github-marketplace-transactions/">Marketplace Documentation</a> for more information on this page.
  </p>
  <% if GitHub.flipper[:advanced_transaction_filtering].enabled?(current_user) && transactions.present? %>
    <%= render partial: "marketplace_listing_transactions/transaction_table", locals: { transactions: transactions, listing_plan_types:  @listing_plan_types, selected_plan: plan_type, user_name: user_name } %>
  <% end %>
<% end %>
