<%# Using Deprecated dialog till Primer::Experimental::Dialog supports 2FA %>

<div class="Box-row d-table table-fixed col-12" <%= test_selector("variables-list-item") %>>
  <div class="d-table-cell v-align-top col-6 position-relative pr-2">
    <div class="d-flex flex-row color-fg-success mr-md-4 wb-break-all">
      <div>
        <code class="color-fg-default f5"><%= variable[:name] %></code>
      </div>
    </div>
    <div class="color-fg-muted f6 flex-auto">
      <%= render Actions::Variables::VariableValueComponent.new( value: variable[:value] ) %>
    </div>
  </div>
  <div class="d-table-cell v-align-middle col-3 text-small">
    <div class="color-fg-muted flex-auto f6 mb-md-0 mb-2 mr-0">
      Available to <span class="text-bold"><%= variable[:visibility_description] %></span>
    </div>
  </div>
  <div class="d-table-cell v-align-middle col-2 text-small">
    <div class="color-fg-muted flex-auto f6 mb-md-0 mb-2 mr-0">
      <% if variable[:updated_at] %>
        <div>Updated <%= time_ago_in_words_js(variable[:updated_at]) %></div>
      <% end %>
    </div>
  </div>
  <div class="d-table-cell v-align-middle col-1 text-small">
    <div class="d-flex flex-justify-end">
      <%= render(Primer::Beta::Link.new(href: organization_edit_variable_path(name: variable[:name]), aria: { label: "Update variable" },)) do |c| %>
        <%= render Primer::Beta::IconButton.new(
          tag: :summary,
          icon: :pencil,
          scheme: :default,
          float: :right,
          mr: 1,
          title: "Edit variable",
          "aria-label": "Edit variable")
        %>
      <% end %>

      <div class="d-flex flex-justify-end">
        <details class="details-reset details-overlay details-overlay-dark">
          <%= render Primer::Beta::IconButton.new(
            tag: :summary,
            icon: :trash,
            scheme: :default,
            float: :right,
            mr: 1,
            title: "Delete variable",
            "data-sudo-required": true,
            "aria-label": "Delete variable")
          %>
          <details-dialog
            class="Box Box--overlay d-flex flex-column anim-fade-in fast Box-overlay--wide"
            style="width: 600px;"
            aria-label="Delete variable"
            aria-modal="true"
            src="<%= organization_delete_variable_partial_path(name: variable[:name]) %>"
          ><%# erblint:disable A11yDetailsDialogMigration %>
            <div class="Box-header">
              <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                <%= primer_octicon(:x) %>
              </button>
              <h3 class="Box-title">Delete variable</h3>
            </div>
            <include-fragment>
              <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
            </include-fragment>
          </details-dialog>
        </details>
      </div>
    </div>
  </div>
</div>
