<%= render(Primer::Experimental::Dialog.new(
  show_header_divider: true,
  title:  "This repository is a user namespace repository",
  form_url: form_url,
  form_method: :patch,
  test_selector: "enable-temporary-access",
  word_break: :break_word
)) do |c| %>
  <% c.with_show_button(scheme: :link, color: :muted, **system_arguments) do |s| %>
    <%= render(Primer::Beta::Truncate.new) do %>
      <% if icon.present? %>
        <%= render(Primer::Beta::Octicon.new(icon:)) %>
      <% end %>
      <span><%= link_text %></span>
    <% end %>
  <% end %>
  <% c.with_body do %>
  <%= hidden_field_tag "operation", :unlock %>
  <%= hidden_field_tag "return_to", return_to %>
    <p class="mt-0">
      You need to enable temporary access to view this repository's security alerts.
    </p>

    <p class="text-bold">
      Important considerations:
    </p>

    <ul class="ml-3">
      <li>
        The owner of this repository will be notified that you have temporary access.
      </li>
      <li>
        This action will be recorded in the repository owner and enterprise audit logs.
      </li>
      <li>
        You will enable access to this repository for <%= RepositoryUnlock::DEFAULT_EXPIRY.inspect %>.
      </li>
    </ul>
  <% end %>
  <% c.with_button(type: :submit, scheme: :danger, w: :full) do %>
    Enable temporary access
  <% end %>
<% end %>
