<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay select-menu mt-2">
  <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button") do %>
    <i>Sort:</i>
    <span data-menu-button <%= test_selector("sort-label") %>><%= sort_labels[[sort, direction]] %></span>
  <% end %>
  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Sort options</span>
    </div>
    <div class="select-menu-list">
      <% sort_fields.product(search_sort_directions).each do |field, dir| %>
        <% if sort_labels[[field, dir]] %>
          <%= search_sort_menu_item([field, dir], [sort, direction], enable_pjax: false) do %>
            <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
            <span class="select-menu-item-text" data-menu-button-text <%= test_selector("sort-option") %>>
              <%= sort_labels[[field, dir]] %>
            </span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </details-menu>
</details>
