<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% component.with_row(display: :flex, justify_content: :center) do %>
  <div class="flex-auto">
    <%= render(Primer::Truncate.new(tag: :span)) do %>
      <% token_title = access.token_last_eight || "Unused token" %>
      <strong><%= link_to(token_title, stafftools_user_oauth_token_path(access.user, access)) %></strong>
    <% end %>

    <% if access.credential_authorizations.any? %>
      <%= render Primer::Beta::Label.new(scheme: :purple, title: "Label: Authorized for Organization Access") do %>
        SSO Enabled
      <% end %>
    <% end %>

    <div>
      <% if access.expires_at %>
        <% if access.expires_soon? %>
          <span class="color-fg-attention">
            <%= render(Primer::Beta::Octicon.new(icon: "alert", color: :attention)) %>
            Expires <span class="text-semibold text-italic"><%= display_expiration_date(access) %></span>.
          </span>
        <% elsif access.expired? %>
          <span class="color-fg-attention">
            Expired <span class="text-semibold text-italic"><%= display_expiration_date(access) %></span>.
          </span>
        <% else %>
          <span class="color-fg-default">
            Expires <span class="text-semibold text-italic"><%= display_expiration_date(access) %></span>.
          </span>
        <% end %>
      <% else %>
        <%= render(Primer::Beta::Octicon.new(icon: "alert", color: :attention)) %>
        <span class="color-fg-attention">This token has no expiration date</span>
      <% end %>
    </div>
  </div>

  <% if access.accessed_at %>
    <span class="time">Last accessed <%= time_ago_in_words access.accessed_at %> ago</span>
  <% else %>
    <span class="time">Never accessed</span>
  <% end %>
<% end %>
