<% page_info title: "Discover people" %>

<% content_for :head do %>
  <%= stylesheet_bundle "dashboard" %>
<% end %>

<%# We use a container-xl so that the gradient is not cut off, then use a smaller container-md to make
  the actual contents (form fields, users, etc.) match the mockups %>
<div class="width-full container-xl">
  <div class="discover-people-gradient">
    <div class="container-md p-responsive">
      <h1 class="text-center py-6">Discover people on GitHub</h1>

      <%= form_with(method: :get, url: search_path) do |f| %>
        <input type="hidden" name="type" value="users">

        <div class="d-flex flex-row">
          <%= render(
            Primer::Alpha::TextField.new(
              name: :q,
              label: "Search for people by name or handle",
              placeholder: "Search for people by name or handle",
              visually_hide_label: true,
              autofocus: true,
              leading_visual: {
                icon: :search
              }
            )
          ) %>
          <%= render Primer::Beta::Button.new(ml: 1, type: :submit, test_selector: "user-search") do %>
            Search
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container-md p-responsive">
    <h2 class="h4 mt-5 mb-2">Developers with popular projects</h2>

    <div class="clearfix gutter-condensed">
      <% popular_developers.each do |developer| %>
        <% user = developer.original_user %>
        <% repo = developer.most_popular_repository %>

        <div class="col-12 col-md-6 float-left my-2" <%= test_selector("trending-user-#{user.id}") %>>
          <div class="border rounded">
            <div class="d-flex flex-items-center flex-row p-3">
              <%= render Primer::Beta::Link.new(href: user_path(user), display: :block) do %>
                <%= render GitHub::AvatarComponent.new(actor: user, size: 48, mr: 2) %>
              <% end %>
              <div class="d-flex flex-1 flex-row flex-justify-between">
                <div class="d-flex flex-column" style="max-width: 170px;">
                  <div class="Truncate">
                    <%= render Primer::Beta::Link.new(href: user_path(user), classes: "Truncate-text") do %>
                      <span class="text-bold color-fg-default"><%= user.safe_profile_name %></span>
                    <% end %>
                  </div>
                  <div class="Truncate">
                    <span class="color-fg-subtle Truncate-text"><%= user.display_login %></span>
                  </div>
                </div>
                <%= follow_button(user) %>
              </div>
            </div>
            <% if repo %>
              <div class="border-top p-3 d-flex flex-column color-fg-subtle">
                <div class="mb-1 Truncate">
                  <span class="Truncate-text">
                    <%= primer_octicon(:repo) %>
                    <%= link_to repo.name, repository_path(repo), class: "ml-1 text-bold" %>
                  </span>
                </div>
                <div class="Truncate" style="height: 20px;">
                  <span class="Truncate-text"><%= repo.short_description_html %></span>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
