<%# erblint:counter DeprecatedComponentsCounter 1 %>

<% page_info \
  title: "Pending orders · GitHub Marketplace",
  container_xl: true,
  richweb: {
    title: "Pending orders · GitHub Marketplace",
    url: request.original_url,
    description: "GitHub integrates with hundreds of tools that help you and your team build software better, together.",
  }
%>

<div class="container-lg p-responsive clearfix">
  <div class="py-3 mb-5">
    <%= render(Primer::Beta::Breadcrumbs.new) do |component| %>
      <% component.with_item(href: marketplace_path) do %>Marketplace<% end %>
      <% component.with_item(href: request.path) do %>Pending orders<% end %>
    <% end %>
  </div>
</div>

<div class="container-lg p-responsive clearfix">
  <%= render(Primer::Alpha::Layout.new) do |component| %>
    <% component.with_sidebar(width: :narrow, px: [3, nil, 4, 0, nil]) do %>
      <%= render "marketplace/side_nav", view: create_view_model(Marketplace::SideNavView, viewing_pending_orders: true) %>
    <% end %>

    <% component.with_main(px: [3, nil, 4, 0, nil]) do %>
      <%= render partial: "marketplace/search_bar" %>
      <% if order_previews.empty? %>
        <%= render Primer::BlankslateComponent.new(
          title: "No pending Marketplace orders",
        ) do %>
          <p>Explore the <a class="Link--inTextBlock" href="<%= marketplace_path %>">Marketplace</a> to supercharge your GitHub experience.</p>
        <% end %>
      <% else %>
        <h2>Pending orders</h2>

        <p class="f3-light color-fg-muted">
          Review and complete your orders
        </p>

        <p class="color-fg-muted mb-4">
          We noticed you started setting up some new plans but didn’t finish. You can
          complete your pending orders below or review any active subscriptions on the
          <%= link_to "billing overview page", settings_user_billing_path, class: "Link--inTextBlock" %>.
        </p>

        <% order_previews.each do |preview| %>
          <%= render partial: "marketplace/pending_orders/pending_order", locals: { preview: preview } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= render "marketplace/submit_app_cta" %>
