<% read_only ||= false %>

<div class="mx-4 mx-md-0 d-flex flex-column clearfix currency-container js-details-container color-fg-default mb-9">
  <div class="d-flex flex-column mb-3">
    <% unless read_only %>
      <h2 class="h6-mktg mb-3 pb-3 border-md-bottom">How often do you want to be billed?</h2>
      <div class="d-flex text-center">
        <div class="mb-2 radio-group clearfix width-full" role="radiogroup">
          <input
            type="radio"
            name="billing_cycle"
            data-plan-duration="year" class="js-org-signup-duration-toggle radio-input"
            value="yearly"
            id="cycle_yearly"
            <%= "checked" if view.available_plan_duration == "month" %>
            data-url="<%= org_signup_billing_path({
              plan: view.plan,
              coupon: view.coupon,
              plan_duration: 'year',
              ref_page: '/move_work/organization/plans',
              organization: {login: view.organization.display_login,
                        company_name: view.organization.company_name,
                        profile_name: view.organization.profile_name }
              }) %>"
          >
          <label for="cycle_yearly" class="radio-label">
            Pay Yearly
            <span class="IssueLabel pl-1">
              <%= render(Primer::Beta::Octicon.new(:"tag", size: :small, color: :accent, pt: 1)) %>
              <span class="color-fg-accent">Get 1 month free</span>
            </span>
          </label>

          <input
            type="radio"
            name="billing_cycle"
            data-plan-duration="month"
            class="js-org-signup-duration-toggle radio-input"
            value="monthly"
            id="cycle_monthly"
            data-url="<%= org_signup_billing_path({
              plan: view.plan,
              coupon: view.coupon,
              plan_duration: 'month',
              ref_page: '/move_work/organization/plans',
              organization: {login: view.organization.display_login,
                        company_name: view.organization.company_name,
                        profile_name: view.organization.profile_name }
              }) %>"
            <%= "checked" if view.available_plan_duration == "year" %>
            >
          <label for="cycle_monthly" class="radio-label">
            Pay Monthly
          </label>
        </div>
      </div>
    <% end %>
  </div>

  <div class="d-flex flex-justify-between flex-md-row flex-column">
    <!-- plan -->
    <div class="pb-4 col-12 col-md-8js-plan-info js-business-plan-info js-enterprise-cloud-plan-info <% unless read_only %>pr-md-4<% end %>">
      <p class="f5 color-fg-muted mb-3">
        <span class="color-fg-default text-bold"><%= branded_plan_name(view.plan) %></span> costs
        <span class="color-fg-default text-bold"><%= price_with_localization(view.per_seat_pricing_model.unit_price) %></span>
        <span>per user / <%= view.current_plan_duration %></span>
      </p>
      <div class="f5 color-fg-muted">
        <span>With</span>
         <input type="number"
            class="form-control text-center py-1 js-seat-field col-2 input-contrast input-hide-webkit-autofill js-addon-purchase-field"
            name="organization[seats]"
            min="<%= view.per_seat_pricing_model.base_seats %>"
            data-plan="<%= view.current_plan_duration %>"
            value="<%= view.per_seat_pricing_model.seats %>"
            data-url="<%=  model_org_seats_path(
                plan_duration: view.current_plan_duration,
                coupon: view.coupon,
                new_plan: view.plan,
                ref_page: '/move_work/organization/plans'
            )%>"
            data-item-name="seats"
            data-item-minimum="<%= view.per_seat_pricing_model.base_seats %>"
            aria-label="Seats"
            <%= test_selector("signup-billing-number-of-users") %>
            <%# Normally this should be organization.seat_limit_for_upgrades, but an org doesn't exist yet. %>
            data-item-maximum="<%= Configurable::SeatLimitForUpgrades::DEFAULT_SEAT_LIMIT_FOR_UPGRADES %>"
          >
          <input type="hidden" name="plan_duration" value="<%= view.current_plan_duration %>" id="signup-plan-duration">
          <span> user, you'll be billed </span>
          <span class="unstyled-final-price-obj color-fg-default text-bold">
            <%= price_with_localization(view.per_seat_pricing_model.final_price) %>
          </span>
          <span> each <%= view.current_plan_duration %>.</span>
      </div>
    </div>
  </div>

  <% if view.current_plan_duration == "year" %>
    <div class="col-12 col-md-10 d-flex flex-row">
      <%= render(Primer::Beta::Octicon.new(:"tag", size: :small, color: :default, mr: 3, mt: 2)) %>

        <span class="f6-mktg">
          <%= render Pricing::AnnualDiscountNoticeComponent.new(plan: view.plan) %>
        </span>
    </div>
  <% end %>
</div>
