
<%
  page_info container_xl: true
%>

<% content_for :head do %>
  <%= stylesheet_bundle "site" %>
<% end %>

<%= render partial: "organizations/signup/selected_plan_banner", locals: { plan: view.plan } %>

<%= render layout: "move_work/layout", locals: { progressbar_value: progressbar_value, hide_profile_section: true } do %>
  <div class="col-12 col-md-6 d-md-flex">
    <%= form_for view.organization, :url => view.form_path, html: {class: "new-org-billing-form"} do |f| %>
      <!-- Referral tracking  -->
      <% if params[:ref_page] %><input type="hidden" name="ref_page" value="<%= CGI.unescape(params[:ref_page]) %>"><% end %>
      <% if params[:ref_cta] %><input type="hidden" name="ref_cta" value="<%= CGI.unescape(params[:ref_cta]) %>"><% end %>
      <% if params[:ref_loc] %><input type="hidden" name="ref_loc" value="<%= CGI.unescape(params[:ref_loc]) %>"><% end %>

      <!-- Coupon  -->
      <% if params[:coupon] %>
        <input type="hidden" name="coupon" value="<%= params[:coupon] %>">
      <% end %>

      <!-- Move work variable -->
      <input type="hidden" name="move_work" value="true">

      <!-- Plan selection  -->
      <input type="hidden" name="organization[plan]" value="<%= view.plan.name %>" <%= test_selector("org-new-plan-input") %>>

      <!-- Organization name selection  -->
      <input type="hidden" name="organization[profile_name]" id="organization_profile_name" value="<%= view.organization.name %>" <%= test_selector("org-new-name-input") %>>
      <input type="hidden" name="organization[login]" value="<%= view.organization.display_login %>" <%= test_selector("org-new-login-input") %>>
      <input type="hidden" name="organization[company_name]" value="<%= view.organization.company_name %>" <%= test_selector("org-new-company_name-input") %>>

      <%= render partial: "move_work/organizations/billing_details", locals: {view: view} %>

      <%= render partial: "billing_settings/contact_us" %>

      <div data-login="<%= view.organization.display_login %>"
          class="mx-4 mx-md-0 <%= "has-billing" if view.organization.has_valid_payment_method? %>
        js-payment-summary js-billing-section
        <% unless view.organization.new_record? && view.organization.try(:paid?) %>has-removed-contents<% end %>
        <% if (org_transform? && !current_user.has_valid_payment_method?) || (!org_transform? && !current_user.has_paypal_account?) %>
          PaymentMethod--creditcard
        <% elsif !org_transform? && current_user.has_paypal_account?%>
          PaymentMethod--paypal
        <% end %>
        zuora-billing-section">

        <%= f.fields_for :credit_card do |c| -%>
          <%=
            render partial: "organizations/signup/payment_methods", locals: {
              organization: view.organization,
              owner: current_user,
              coupon: view.coupon,
              form: c,
              f: f
            }
          %>
        <% end %>
      </div>

      <!-- Submit -->
      <div class="SignUpContinueActions mx-4 mx-md-0">
        <%= render partial: "signup/button", locals: {
          text: view.button_text,
          type: "submit",
          custom_classes: "js-purchase-button js-submit-billing",
          data: analytics_click_attributes(
            category: "Next Customize your setup",
            action: "click to customize your setup",
            label: "ref_page:#{request.fullpath};ref_cta:#{view.button_text};ref_loc:team_payment",
          ),
          test_selector: "signup-billing-complete-button"
        } %>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "billing" %>
<% end %>
