<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% if display_sso_notice?(organization, current_user) %>
  <div class="js-notice saml-enabled-banner-container border-bottom py-5">
    <div class="container"><%# erblint:disable DeprecatedCustomCss %>
      <div class="col-8 float-left">
        <p class="f2">Single sign-on has been enabled for <strong><%= organization.name %></strong>.</p>
        <p class="color-fg-muted mb-4">
        Single sign-on allows you to sign-in to access this organization using your company’s preferred identity provider.
        <a class="Link--inTextBlock" href="<%= GitHub.iam_with_saml_sso_help_url %>">Learn more</a><%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
        </p>
        <a class="btn btn-primary" href="<%= org_idm_sso_path(organization) %>">Authenticate your account</a>
      </div>
      <div class="col-4 float-left text-center">
        <%= form_tag dismiss_org_notice_path(organization), method: :delete, class: "js-notice-dismiss" do %>
          <input type="hidden" name="input[organizationId]" value="<%= organization.id %>">
          <input type="hidden" name="input[notice]" value="saml_sso_banner">
          <%= render Primer::Beta::CloseButton.new(type: :submit, float: :right, "aria-label": "Hide this notice forever", color: :muted) %>
        <% end %>

        <%= primer_octicon(:"shield-lock", height: 80, color: :muted, mt: 4) %>
      </div>
    </div>
  </div>
<% end %>
