<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info class: "session-authentication" %>

<% otp = Rails.env.development? ? view.organization.saml_provider.first_unused_recovery_code : "" %>
<div class="org-sso text-center">

  <%= form_tag org_idm_saml_recover_path(view.organization) do %>
  <div id="login" class="auth-form">

    <%= render "shared/flash" %>

    <div class="auth-form-body mt-3">

      <div class="position-relative mt-2 mb-3">
        <%= avatar_for view.organization, 60, :class => "avatar mb-3" %>

        <div class="auth-form-header p-0">
          <h1>Skip single sign-on for <strong><%= view.organization.safe_profile_name %></strong></h1>
        </div>
      </div>

      <p class="color-fg-muted mt-2 mb-4" id="org-idp-recovery-input-description">
        If your IdP is unavailable enter a recovery code to skip single sign-on.
      </p>

      <dl class="form-group text-left">
        <dt>
          <label for="recovery_code" class="clearfix" id="org-idp-recovery-input-label">
            Recovery code
          </label>
        </dt>
        <dd>
          <%= text_field_tag :recovery_code, '', "aria-labelledby": "org-idp-recovery-input-label",
            "aria-describedby": "org-idp-recovery-input-description", :autocomplete => :off,
            :autofocus => "autofocus", :class => "input-block", :value => otp, placeholder: "XXXXX-XXXXX"
          %>
        </dd>
      </dl>

      <%= render Primer::ButtonComponent.new(scheme: :primary, block: true, "data-disable-with": "Verifying…", type: :submit) do %>Verify<% end %>
    </div>

    <!-- <div class="two-factor-help clearfix">
      <%= primer_octicon(:key) %>
      You can enter one of your recovery codes in case you lost access to your SAML IdP
    </div> -->
  <% end %>
  </div>
</div>
