<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info :title => "Sign in to #{view.organization.safe_profile_name}" %>

<div class="org-sso text-center">
  <div class="org-sso-panel">
    <div class="position-relative mt-2 mb-3">
      <%= render(Primer::Beta::Spinner.new(display: :inline_block, mb: 2)) %>

      <h1 class="sso-title m-0">
        Signed in with <strong><%= view.organization.safe_profile_name %></strong>
      </h1>
    </div>

    <p class="color-fg-muted mt-2 mb-4">
      You’re now authenticated to work with this organization.
    </p>

    <%= form_tag view.form_target, method: view.form_method, class: "js-auto-replay-enforced-sso-request", authenticity_token: false do %>
      <%= hash_to_hidden_fields(view.form_data) if view.form_data %>

      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, block: true, "data-disable-with": "Redirecting…") do %>Continue<% end %>
    <% end %>
  </div>
</div>
