<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%# `view` is an Orgs::IdentityManagement::SingleSignOnView %>
<% page_info :title => "Sign in to #{view.organization.safe_profile_name}" %>

<% content_for(:header_logo) do %>
  <a class="header-logo pb-3" href="<%= home_url %>" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
    <%= primer_octicon(:"logo-github", :height => 40) %>
  </a>
<% end %>

<div class="auth-form sign-up-via-invitation px-3">
  <div class="auth-form-body">

    <div class="text-center position-relative">
      <%= avatar_for view.organization, 60, :class => "avatar mb-3" %>

      <p class="f3">
        New to GitHub? Create an account to join
        <strong><%= view.organization.safe_profile_name %></strong>.
      </p>
    </div>

    <hr class="bleed-flush">

    <div class="mt-4 mb-2">
      <% if GitHub.flipper[:deprecate_legacy_signup_forms].enabled? %>
        <div class="d-flex flex-items-center mt-4 mb-4">
          <%= render(
              Primer::Beta::Button.new(
                type: :button,
                tag: :a,
                href: new_nux_signup_path(return_to: org_idm_sso_sign_up_path(view.organization)),
                scheme: :primary,
                mx: :auto
              )
            ) { "Sign up for GitHub" } %>
        </div>
      <% else %>
        <%= render "orgs/sign_up_form",
          :organization => view.organization,
          :source => "org-sso",
          :hidden_fields => {
            :sso_organization => view.organization.to_param
          } %>
      <% end %>

      <%= link_to(
        "Already have an account? Sign in.",
        login_path(return_to: org_idm_sso_sign_up_path(view.organization)),
        class: "text-center d-block",
        data: sign_in_link_data_attributes(location_in_page: "sso already have account")
      ) %>
    </div>

  </div>

  <% if GitHub.billing_enabled? %>
    <p class="tos-info text-center text-small color-fg-muted mt-4">By clicking &ldquo;Create account and join&rdquo;, you agree to the
    <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/terms" target="_blank" rel="noopener noreferrer">terms of service</a> and
    <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/privacy" target="_blank" rel="noopener noreferrer">privacy statement</a>. We’ll occasionally send you account related emails.</p>
  <% end %>

  <p class="text-center text-small color-fg-muted mt-4">
    <%= primer_octicon(:lock) %>
    <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/permission-levels-for-an-organization">Owners</a>
    of <%= view.organization.safe_profile_name %> will be able to see if you have two-factor authentication enabled or not.
    <br>
    <a class="Link--inTextBlock" href="<%= settings_account_preferences_path %>">View two-factor authentication settings</a>
  </p>

</div>
