<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# `view` is an Orgs::IdentityManagement::SingleSignOnView %>
<% page_info :title => "Sign in to #{view.organization.safe_profile_name}" %>

<div class="org-sso text-center">
  <div class="text-left">
    <%= render "shared/flash" %>
  </div>
  <div class="org-sso-panel">
    <div class="position-relative mt-2 mb-3">
      <%= avatar_for view.organization, 60, :class => "avatar mb-3" %>

      <h1 class="sso-title m-0">
        Single sign-on to
        <strong><%= view.organization.safe_profile_name %></strong>
      </h1>
    </div>

    <% if view.credential_authorization_requested? %>
      <% if view.valid_credential_authorization_request? %>

        <p class="color-fg-muted mt-2 mb-4">
          Single sign-on to authorize the <%= view.credential_type %>,
          <%= link_to view.credential_description, view.credential_link, class: "Link--inTextBlock" %>.
        </p>

      <% else %>

        <p class="color-fg-muted mt-2 mb-4">
          You’re trying to authorize your credentials but your request is
          <strong><%= view.invalid_credential_authorization_request_reason %></strong>.
          Try again.
        </p>

      <% end %>
    <% else %>

      <p class="color-fg-muted mt-2 mb-4">
        Authenticate your account by logging into
        <%= view.organization.safe_profile_name %>’s
        single sign-on provider.
      </p>

    <% end %>

    <%= form_tag view.initiate_sso_url, "data-turbo": "false" do %>
      <%= hash_to_hidden_fields(form_data: view.form_data) if view.form_data %>
      <%= hidden_field_tag "add_account", params[:add_account] %>

      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, block: true) do %>Continue<% end %>
    <% end %>
  </div>

  <% if view.credential_authorization_requested? %>
    <% if view.valid_credential_authorization_request? %>
      <div class="mt-4 text-left color-fg-muted clearfix mb-3">
        <%= primer_octicon(:lock, float: :left, mr: 3, mt: 1) %>
        <div class="overflow-hidden">
          By authorizing, owners of <%= view.organization.safe_profile_name %>
          will be able to see this <%= view.credential_type %>’s <strong>access scopes</strong>
          and when it was <strong>last used</strong>.
        </div>
      </div>
    <% end %>
  <% end %>

  <% if view.show_recovery_prompt? %>
    <p class="sso-recovery-callout mt-4">
      Unable to single sign-on?
      <%= link_to "Use a recovery code", org_idm_saml_recover_path(view.organization), class: "Link--inTextBlock" %>.
    </p>
  <% end %>
</div>
