<% page_info :title => "Sign in to #{view.organization.safe_profile_name}" %>

<div
  class="org-sso text-center js-sso-modal-complete"
  data-expires-around="<%= sso_expires_around(view.organization).to_i %>"
  data-fallback-url="<%= view.fallback_url %>"
  <% if view.saml_error %>data-error="<%= view.saml_error %>"<% end %>>
  <%= render "shared/flash" %>

  <div class="org-sso-panel">
    <div class="position-relative mt-2 mb-3">
      <%= render(Primer::Beta::Spinner.new(display: :inline_block, mb: 2)) %>

      <h1 class="sso-title m-0">
        <% if view.saml_error %>
          There was an error signing in with
        <% else %>
          Redirecting you to
        <% end %>
        <strong><%= view.organization.safe_profile_name %></strong>
      </h1>
    </div>

    <p class="color-fg-muted mt-2 mb-4">
      If you’re not redirected,
      <a class="Link--inTextBlock" href="<%= view.fallback_url %>">click here to go back to <%= view.organization %></a>.
    </p>
  </div>
</div>
