<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= render(Primer::Alpha::Dialog.new(
  title: "Block or report #{user.display_login}",
  header_classes: header_classes,
  dialog_classes: dialog_classes,
  variant: :narrow,
  **system_arguments
  )) do |dialog| %>
  <% dialog.with_show_button(color: :muted, scheme: :link, **show_button_args) do %>
    <% if show_button_contents? %>
      <%= show_button_contents %>
    <% elsif blocking  %>
      Unblock or report user
    <% else %>
      Block or Report
    <% end %>
  <% end %>

  <% dialog.with_body do %>
    <div class="border-bottom">
      <%= form_tag block_path, method: block_method, class: "mb-3" do %>
        <% if !blocking %>
          <input type="hidden" name="login" value="<%= user.display_login %>">
        <% end %>
        <input type="hidden" name="return_to" value="<%= user_path(user.display_login) %>">

        <strong><%= block_title %></strong>
        <p>
          <% if blocking %>
            Allow this user to interact with your repositories and send you notifications.
          <% else %>
            Prevent this user from interacting with your repositories and sending you notifications.
          <% end %>
          Learn more about <a class="Link--inTextBlock" href="<%= block_help_url %>">blocking users</a>.
        </p>

        <% unless blocking %>
          <% if sponsoring? %>
            <p class="text-small color-fg-muted">
              Your sponsorship of this user will be cancelled.
            </p>
          <% end %>

          <% if GitHub.dotcom_request? && current_user&.employee? && user.display_login == "entitlements" %>
            <p class="warning">
              As a GitHub employee, please do not block the entitlements user.
            </p>
          <% end %>

          <% if sponsored_by_user? %>
            <p class="text-small color-fg-muted">
              Your sponsorship by this user will be cancelled.
            </p>
          <% end %>

          <% if user.account_successor_for?(current_user) %>
            <p class="text-small color-fg-muted">
              This user will no longer be your account successor.
            </p>
          <% end %>

          <% unless blocking_enabled? %>
            <p class="text-small color-fg-muted">
              You must be logged in to block users.
            </p>
          <% end %>
        <% end %>

        <% if !blocking %>
          <div class="mb-2">
            <%= render IgnoredUsers::NoteFieldComponent.new(
              text_field_id: "new-block-note-from-sidebar",
              visually_hide_label: false,
            ) %>
          </div>
        <% end %>

        <button
          type="submit"
          class="<%= block_btn_class %>"
          <% unless blocking_enabled? %>
            disabled
          <% end %>
        >
          <%= block_title %>
        </button>
      <% end %>
    </div>
    <div class="mt-3">
      <strong>Report abuse</strong>
      <p>
        Contact GitHub support about this user’s behavior.
        Learn more about <a class="Link--inTextBlock" href="<%= report_help_url %>">reporting abuse</a>.
      </p>
      <a href="<%= report_abuse_path %>" class="btn btn-danger">Report abuse</a>
    </div>
  <% end %>
<% end %>
