<span class="<%= classes %>">
  <%= time_in_24h_format %>
  <profile-timezone class="<%= timezone_classes %>" data-hours-ahead-of-utc="<%= hours_ahead_of_utc if user != current_user %>"><%= timezone_as_utc_plus_minus_hours %></profile-timezone>
</span>
