<nav class="UnderlineNav-body width-full p-responsive js-sidenav-container-pjax" aria-label="User profile">
  <%= profile_tab_link user_overview_path, tab_name: "overview" do %>
    <%= render icon_component("book") %>
    Overview
  <% end %>

  <%= profile_tab_link(user_repos_path, tab_name: "repositories") do %>
    <%= render icon_component("repo") %>
    Repositories
    <%= render counter_component(repository_count) %>
  <% end %>

  <%= profile_tab_link user_project_path, tab_name: "projects" do %>
    <%= render icon_component(projects_icon) %>
    Projects
    <%= render counter_component(open_public_projects_count) %>
  <% end %>

  <% if show_packages_tab? %>
    <%= profile_tab_link user_packages_path, tab_name: "packages" do %>
      <%= render icon_component("package") %>
      Packages
      <%= render counter_component(packages_count) %>
    <% end %>
  <% end %>

  <%= profile_tab_link user_stars_path, tab_name: "stars" do %>
    <%= render icon_component("star") %>
    Stars
    <%= render counter_component(stars_count) %>
  <% end %>

  <% if show_sponsoring_tab? %>
    <%= profile_tab_link(user_sponsoring_path, tab_name: "sponsoring") do %>
      <%= render icon_component("heart") %>
      <span <%= test_selector("sponsoring-tab") %>>Sponsoring</span>
      <%= render counter_component(sponsoring_count) %>
    <% end %>
  <% end %>

  <% if show_activity_tab? %>
    <%= profile_tab_link user_activity_path, tab_name: "activity" do %>
      <%= render icon_component(activity_icon) %>
      Posts
    <% end %>
  <% end %>
</nav>

<div class="position-absolute pr-3 pr-md-4 pr-lg-5 right-0 js-responsive-underlinenav-overflow" style="visibility: hidden">
  <%= render Primer::Beta::Details.new(overlay: :default, reset: true, position: :relative) do |details_component| %>
    <% details_component.with_summary(button: false) do %>
      <div class="UnderlineNav-item mr-0 border-0">
        <%= render Primer::Beta::Octicon.new(icon: "kebab-horizontal") %>
        <span class="sr-only">More</span>
      </div>
    <% end %>
    <% details_component.with_body do %>
      <details-menu role="menu" class="dropdown-menu dropdown-menu-sw"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <ul <%= test_selector("kebab-menu") %>>
          <li data-menu-item="overview" hidden>
            <%= selected_link_to "Overview", user_overview_path, role: "menuitem", class: "dropdown-item" %>
          </li>
          <li data-menu-item="repositories" hidden>
            <%= selected_link_to "Repositories", user_repos_path, role: "menuitem", class: "dropdown-item" %>
          </li>
          <li data-menu-item="projects" hidden>
            <%= selected_link_to "Projects", user_project_path, role: "menuitem", class: "dropdown-item" %>
          </li>
          <% if show_packages_tab? %>
            <li data-menu-item="packages" hidden>
              <%= selected_link_to "Packages", user_packages_path, role: "menuitem", class: "dropdown-item" %>
            </li>
          <% end %>
          <li data-menu-item="stars" hidden>
            <%= selected_link_to "Stars", user_stars_path, role: "menuitem", class: "dropdown-item" %>
          </li>
          <% if show_sponsoring_tab? %>
            <li data-menu-item="sponsoring" hidden>
              <%= selected_link_to "Sponsoring", user_sponsoring_path, role: "menuitem", class: "dropdown-item" %>
            </li>
          <% end %>
          <% if show_activity_tab? %>
            <li data-menu-item="activity" hidden>
              <%= selected_link_to "Posts", user_activity_path, role: "menuitem", class: "dropdown-item" %>
            </li>
          <% end %>
        </ul>
      </details-menu>
    <% end %>
  <% end %>
</div>
