<div <%= test_selector("profile-sponsorships") %>>
  <% if profile_layout_data.sponsors_count > 0 && profile_layout_data.sponsorable? %>
    <div class="border-top color-border-muted pt-3 mt-3 clearfix hide-sm hide-md" <%= test_selector("profile-sponsors") %>>
      <h2 class="h4 d-flex flex-items-start mb-2">Sponsors</h2>

      <div class="d-flex flex-wrap">
        <% sponsorships_as_sponsorable.each do |sponsorship| %>
          <%= render Sponsors::Profile::SponsorAvatarComponent.new(
            user_or_org: sponsorship.linked_or_direct_sponsor,
            sponsorship: sponsorship,
            size: 35,
          ) %>
        <% end %>

        <% if sponsors_overflow_count > 0 %>
          <div
            class="d-inline-block border text-center rounded-2 v-align-middle"
            style="width:35px;height:35px;line-height:33px;"
          >
            <a
              href="<%= sponsorable_path(profile_layout_data.login_name) %>#sponsors"
              class="no-underline text-small color-fg-muted"
            >
              +<%= social_count(sponsors_overflow_count) %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if sponsorships_as_sponsor.any? %>
    <div class="border-top color-border-muted pt-3 mt-3 clearfix hide-sm hide-md" <%= test_selector("profile-sponsoring") %>>
      <div class="d-flex flex-justify-between flex-items-center">
        <h2 class="h4 d-flex flex-items-start mb-2">Sponsoring</h2>
      </div>

      <div class="d-flex flex-wrap">
        <% sponsorships_as_sponsor.each do |sponsorship| %>
          <%= render Sponsors::Profile::SponsorAvatarComponent.new(
            user_or_org: sponsorship.sponsorable,
            sponsorship: sponsorship,
            size: 35,
          ) %>
        <% end %>
        <% if sponsoring_overflow_count > 0 %>
          <div
            class="d-inline-block border text-center rounded-2 v-align-middle"
            style="width:35px;height:35px;line-height:33px;"
          >
            <a
              href="<%= user_path(profile_layout_data.login_name, params: { tab: "sponsoring" }) %>"
              class="no-underline text-small color-fg-muted"
            >
              +<%= social_count(sponsoring_overflow_count) %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
