<%
  page_info(title: "Copilot bulk unblocks")
%>
<%= render layout: "stafftools/stafftools" do %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">Bulk lift Copilot Administrative Blocks</h2>
  </div>

  <%= form_tag stafftools_copilot_bulk_unblocks_path, method: "post" do %>
    <div div class="form-group required">
      <div class="form-group required">
        <div class="form-group-header">
          <%= label_tag "reason", "Unblock reason" %>
        </div>
        <div class="form-group-body">
          <%= text_field_tag :reason, '', required: true, class: "color-bg-subtle p-2 border rounded-2" %>
        </div>
      </div>

      <div class="form-group required">
        <div class="form-group-header">
          <%= label_tag "logins", "User logins to unblock (separated by spaces or commas)" %>
        </div>
        <div class="form-group-body">
          <%= text_area_tag :logins, '', required: true, class: "color-bg-subtle p-2 border rounded-2" %>
        </div>
      </div>

      <%= render Stafftools::Copilot::UnblockPaymentMethodComponent.new %>
    </div>

    <div class="Box-row" role="radiogroup">
      <p class="color-fg-muted mb-2">Send remediation email via SIRE?</p>
      <div class="form-checkbox mt-0 mb-2">
        <label>
          <input type="radio" name="email_option" value="no-email" checked>
          No
        </label>
      </div>
      <div class="form-checkbox mt-0 mb-2">
        <label>
          <input type="radio" name="email_option" value="remediate-warning">
          Yes, remediate a warning email
        </label>
        <details>
          <summary>Remedial email body</summary>
          <br>
          <%= formatted_warn_remediation_email %>
        </details>
      </div>
      <div class="form-checkbox my-0">
        <label>
          <input type="radio" name="email_option" value="remediate-block">
          Yes, remediate a block email
        </label>
        <details>
          <summary>Remedial email body</summary>
          <br>
          <%= formatted_block_remediation_email %>
        </details>
      </div>
    </div>

    <%= submit_tag "Unblock Copilot for these users", class: "btn btn-danger" %>
  <% end %>
<% end %>
