<%# locals: (entry_view:) %>

<div class="entry-details">
  <table class="entry-details-table">
    <% entry_view.entry_details.each do |key, value| %>
      <tr class="entry-details-tr">
        <th class="entry-details-th"><%= key %></th>
        <td class="entry-details-td">
          <% if value.nil? %>
            <em>nil</em>
          <% elsif key  == "hashed_token" %>
            <%= entry_view.hashed_token %>
          <% elsif value.is_a? Hash %>
            <% value.each do |k, v| %>
              <strong><%= k %>:</strong> <%= v %><br>
            <% end %>
          <% else %>
            <%= value %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
