<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<%
    show_export_git_events = view.git_export_enabled?
    export_enabled = GitHub.audit_log_export_enabled?
    export_logs_enabled = export_enabled && view.export_logs_enabled?
    show_export = view.show_export_all? && export_enabled
    export_form_class = export_logs_enabled ? "" : "js-audit-log-export-form"
    export_git_form_class = export_logs_enabled ? "" : "js-audit-log-git-event-export-form"
%>
<% if show_export_git_events || show_export %>
  <div class="ml-3 d-flex flex-justify-start width-full width-md-auto">
    <% if show_export_git_events %>
      <div class="d-flex pt-1" style="<%= show_export ? "margin-right: 5px" : "" %>">
        <span class="d-flex flex-items-center js-audit-log-git-event-exporting " hidden>
          <img
            alt="" width="16" height="16"
            class="mr-1 v-align-middle"
            src="<%= image_path "spinners/octocat-spinner-32.gif" %>">
          <%= render Primer::ButtonComponent.new(disabled: true, scheme: :primary, classes: "select-menu-button") do %>
            Exporting&hellip;
          <% end %>
        </span>

        <details class="select-menu details-reset details-overlay d-inline-block js-audit-log-git-event-export-menu">
          <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :primary, classes: "select-menu-button") do %>
            <%= primer_octicon(:download, mr: 1) %>
            Export Git Events
          <% end %>
              <div class="position-relative">
                <div class="dropdown-menu dropdown-menu-sw pb-0 js-toggler-container on" style="top:6px;width:265px;">
                  <div class="p-3">
                    <div class="d-flex flex-items-center">
                        <h4 class="mb-1">Export Git events</h4>
                    </div>
                    <p>
                      Export file will be limited to 100 Mb.
                    </p>
                  </div>
                    <%= form_tag view.export_git_event_path,
                        method: :post, class: export_git_form_class do %>
                      <ul class="list-style-none">
                        <li class="p-3">
                          <div align="left">
                            <label for="start-time">Select events from:</label>
                          </div>
                          <div align="left">
                            <input type="datetime-local" id="start-time"
                              name="start" value="<%= view.user_time_now(add: -1.day) %>"
                              min="<%= view.user_time_now(add: -7.days) %>" max="<%= view.user_time_now(add: 1.day) %>">
                          </div>
                        </li>
                        <li class="p-3">
                          <div align="left">
                            <label for="end-time">To:</label>
                          </div>
                          <div align="left">
                            <input type="datetime-local" id="end-time"
                              name="end" value="<%= view.user_time_now(add: 1.hour) %>"
                              min="<%= view.user_time_now(add: -7.days) %>" max="<%= view.user_time_now(add: 1.day) %>">
                          </div>
                        </li>
                        <li class="Box-row Box-row--hover-gray p-1">
                          <div class="p-1">
                            <button
                              type="submit"
                              class="btn-link select-menu-item width-full"
                              value=""
                              name="download">
                              <%= primer_octicon(:"file-zip", mr: 3) %>
                              Download Results
                            </button>
                          </div>
                        </li>
                      </ul>
                    <% end %>
                </div>
              </div>
        </details>
      </div>
    <% end %>

    <% if show_export %>
      <div class="d-flex pt-1">
        <span class="d-flex flex-items-center js-audit-log-exporting" hidden>
          <%= render Primer::Beta::Spinner.new(
            size: :small,
            vertical_align: :middle,
            mr: 1,
          ) %>
          <%= render Primer::ButtonComponent.new(
              disabled: :true,
              classes: "select-menu-button") do %>Exporting<% end %>
        </span>

        <details class="dropdown details-reset details-overlay d-inline-block js-audit-log-export-menu">
          <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :primary, classes: "select-menu-button") do %>
            <%= primer_octicon(:download, mr: 1) %>
            Export
          <% end %>
          <details-menu class="dropdown-menu dropdown-menu-sw width-full" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <%= form_tag view.export_path,
              method: :post, class: export_form_class do %>
              <input type="hidden" name="q" value="<%= view.query %>">
              <button
                type="submit"
                class="btn-link dropdown-item width-full"
                value="json"
                name="export_format"
                role="menuitem">
                JSON
              </button>
            <% end %>

            <%= form_tag view.export_path,
              method: :post, class: export_form_class do %>
              <input type="hidden" name="q" value="<%= view.query %>">
              <button
                type="submit"
                class="btn-link dropdown-item width-full"
                value="csv"
                name="export_format"
                role="menuitem">
                CSV
              </button>
            <% end %>
          </details-menu>
        </details>
      </div>
    <% end %>
  </div>
<% end %>
