<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<audit-log-export-flashes>
  <div class="Box-row js-flash-row" data-target="audit-log-export-flashes.row" hidden>
      <%= render(Primer::Beta::Flash.new(scheme: :success, hidden: true, classes: ["js-notice-flash-message"], data_target: "audit-log-export-flashes.notice"), role: "status") do %>
        <%= render(Primer::Beta::Octicon.new("info")) %>
          Export job successfully created. Please don't close this window and note that an export job may take up to one hour to complete.
          <%= render Primer::Beta::CloseButton.new(ml: 2, classes: "SelectMenu-closeButton btn-link", aria_label: "Dismiss this message", "data-action": "click:audit-log-export-flashes#closeNotice", float: :right) %>
      <% end %>
      <%= render(Primer::Beta::Flash.new(scheme: :danger, hidden: true, classes: ["js-error-flash-message"], data_target: "audit-log-export-flashes.warning")) do %>
        <%= render(Primer::Beta::Octicon.new("alert")) %>
          Too many exports in progress. Please try again later.
          <%= render Primer::Beta::CloseButton.new(ml: 2, classes: "SelectMenu-closeButton btn-link", aria_label: "Dismiss this message", "data-action": "click:audit-log-export-flashes#closeError", float: :right) %>
      <% end %>
  </div>
</audit-log-export-flashes>
