<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "Moderators", selected_link: :moderators %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Moderators
    <% end %>
  <% end %>

  <p>
    You can add organization members or teams as moderators for your organization.
    Moderators can block and unblock users from the organization, minimize comments, and manage interaction limits for all public organization repositories.
  </p>

  <p>
    You may add up to <strong><%= Organization::Moderation::MODERATOR_LIMIT %></strong>
    members or teams as moderators.
  </p>

  <div class="my-3 form-group">
    <% if moderators.count == Organization::Moderation::MODERATOR_LIMIT %>
      <%= render Primer::Beta::Flash.new(scheme: :warning, icon: :info, my: 3) do %>
        You have reached the maximum number of moderators. Remove one or more to continue adding others.
      <% end %>
    <% else %>
      <auto-complete
        src="<%= organization_settings_moderators_suggestions_path(this_organization) %>"
        for="moderator-search-results"
        class="auto-search-group d-block">
        <input
          type="text"
          name="identifier"
          aria-label="Add a member or team as a moderator"
          class="form-control input-block input-contrast auto-search-input new-member-field"
          autofocus
          required
          placeholder="Add a member or team">
        <%= render Primer::Beta::Octicon.new(icon: 'search') %>
        <ul id="moderator-search-results" class="invite-member-results autocomplete-results" style="width: 440px;"></ul>
      </auto-complete>
    <% end %>
  </div>

  <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
    <% if moderators.empty? %>
      <%= component.with_body(text_align: :center) do %>
        You don't have any moderators for this organization.
      <% end %>
    <% else %>
      <% moderators.each do |moderator| %>
        <%= component.with_row(display: :flex, justify_content: :space_between) do %>
          <div class="d-flex flex-items-center">
            <%= linked_avatar_for(moderator, 20, img_class: "avatar") %>
            <a class="ml-2" href="<%= moderator.permalink %>">
              <%= moderator.ability_description %>
            </a>
          </div>

          <%= form_with(
            url: organization_settings_moderator_path(this_organization, moderator.id),
            method: :delete,
          ) do %>
            <input type="hidden" name="type" value="<%= moderator.class.to_s.downcase %>">
            <%= render Primer::ButtonComponent.new(size: :small, type: :submit) do %>
              Remove moderator
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
