<div class="col-4">
  <div class="Box mb-3">
    <div class="Box-row">
      <div class="d-flex flex-items-center">
        <% if user&.spammy? %>
          <%= business_user_avatar(user, 32, class: "avatar-small mr-2 mt-1") %>
        <% else %>
          <a href="<%= user_path(user) %>" class="text-bold"
            <%= safe_data_attributes(hovercard_data_attributes_for_user(user)) %>>
            <%= business_user_avatar(user, 32, class: "avatar-small mr-2 mt-1") %>
          </a>
        <% end %>
        <div>
          <% unless user&.spammy? %>
           <%= profile_link(user, class: "css-truncate css-truncate-target text-bold d-block") %>
          <% end %>
          <span class="css-truncate css-truncate-target<% if user&.spammy? %> text-bold<% end %>" itemprop="name" <%= test_selector "primary-name" %>>
            <%= primary_name %>
          </span>
        </div>
      </div>
    </div>
    <div class="Box-row position-relative">
      <% user_roles.each do |role| %>
        <div <%= test_selector "account-role" %>>
          <div><%= role[:name] %></div>
          <div class="mt-1 mb-2 f6 color-fg-muted"><%= role[:description] %></div>
        </div>
      <% end %>
    </div>
    <% if show_metadata_section? %>
      <ul class="Box-footer Box-row--gray manage-member-meta">
        <% if business_user_account.present? || GitHub.enterprise? %>
          <li class="manage-member-meta-item">
            <%= primer_octicon(:organization) %>
            <%= render Primer::Beta::Button.new(
              tag: :a,
              scheme: :link,
              href: organizations_path,
              test_selector: "organizations-link"
            ) do %>
              <%= pluralize organization_count, "organization" %>
            <% end %>
          </li>
        <% end %>
        <% if show_teams? %>
          <li class="manage-member-meta-item">
            <%= primer_octicon(:people) %>
            <%= render Primer::Beta::Button.new(
              tag: :a,
              scheme: :link,
              href: teams_path,
              test_selector: "teams-link"
            ) do %>
              <%= pluralize team_count, "team" %>
            <% end %>
          </li>
        <% end %>
        <% if role.types.include?(:outside_collaborator) %>
          <li class="manage-member-meta-item">
            <%= primer_octicon(:repo) %>
            <%= render Primer::Beta::Button.new(
              tag: :a,
              scheme: :link,
              href: enterprise_outside_collaborator_path(business, user)
            ) do %>
              <%= pluralize collab_repo_count, "collaborator repository" %>
            <% end %>
          </li>
        <% end %>
        <% unless business_user_account.nil? %>
          <li class="manage-member-meta-item">
            <%= primer_octicon(:server) %>
            <%= render Primer::Beta::Button.new(
              tag: :a,
              scheme: :link,
              href: enterprise_installations_path,
              test_selector: "installations-link"
            ) do %>
              <%= pluralize installation_count, "installation" %>
            <% end %>
          </li>
        <% end %>
        <% if show_two_factor_status? %>
          <li class="manage-member-meta-item" <%= test_selector "two-factor-status" %>>
            <% if user.two_factor_authentication_enabled? %>
              <%= primer_octicon(:lock) %>
              Two-factor security <strong>enabled</strong>
            <% else %>
              <%= primer_octicon(:alert) %>
              <span class="color-fg-danger">
                Two-factor security <strong>disabled</strong>
              </span>
            <% end %>
          </li>
        <% end %>
        <% if show_sso_status? %>
          <li class="manage-member-meta-item" <%= test_selector "sso-status" %>>
            <%= primer_octicon(:"shield-lock") %>
            <% if GitHub.enterprise? %>
              <% if user&.external_identities.empty? %>
                No SCIM identity linked
              <% else %>
                <%= render Primer::Beta::Button.new(
                  tag: :a,
                  scheme: :link,
                  href: enterprise_person_sso_enterprise_path(business, user)
                ) do %>
                  <%= sso_status %>
                <% end %>
              <% end %>
            <% elsif business_user_account.nil? %>
              No SAML identity linked
            <% else %>
              <%= render Primer::Beta::Button.new(
                tag: :a,
                scheme: :link,
                href: enterprise_person_sso_enterprise_path(business, user)
              ) do %>
                <%= sso_status %>
              <% end %>
            <% end %>
          </li>
        <% end %>
        <%= render BusinessUserAccounts::SidebarCostCenterComponent.new(business: business, user: user) %>
      </ul>
    <% end %>
  </div>
</div>
