<%# erblint:counter DeprecatedComponentsCounter 3 %>
<change-password>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Password<% end %>

    <% component.with_actions do %>
      <% render Primer::Beta::Button.new(disabled: true, data: { action: "click:change-password#toggleChangePasswordSection", target: "change-password.button" } ) do %>
        <span data-target="change-password.showPasswordSectionButtonText">
          Change password
        </span>

        <span data-target="change-password.hidePasswordSectionButtonText" hidden>
          Hide
        </span>
      <% end %>
    <% end %>
  <% end %>

  <% if flash[:session_revoked] %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, icon: :alert)) do %>
      You recently revoked a session. If you believe your password may have
      been compromised, we strongly recommend that you change your password
      and setup two-factor authentication. Changing your password will sign
      you out of all devices.
    <% end %>
  <% end %>

  <% if !!flash[:password_error] %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 3)) do %>
      <%= flash[:password_error] %>
    <% end %>
  <% end %>

  <noscript>
    <%= render Primer::Alpha::Banner.new(mb: 3) do %>
      To change your password, ensure that Javascript is enabled in your browser.
    <% end %>
  </noscript>


  <!-- Change Password -->
  <div data-target="change-password.changePasswordSection" hidden>
    <%= form_for current_user, url: change_password_path, method: :put, html: { id: "change_password", "aria-label": "Change password" } do |f| %>
      <%= hidden_field_tag :session_revoked, !!flash[:session_revoked] %>
      <div class="form-group password-confirmation-form">
        <div class="mb-1"><%= f.label :old_password %></div>
        <%= password_field_tag 'user[old_password]', nil, :id => "user_old_password", :required => true, :autocomplete => "current-password" %>
      </div>
      <password-strength
        minimum-character-count="<%= PasswordStrengthHelper::MINIMUM_VALID_CHARACTERS %>"
        passphrase-length="<%= User::PASSPHRASE_LENGTH %>"
        invalid-message="Password is invalid."
        error-class="color-fg-danger text-bold"
        pass-class="color-fg-success"
      >
        <div class="form-group password-confirmation-form">
          <div class="mb-1"><%= f.label :new_password %></div>
            <%= auto_check_tag(:password) do %>
              <%= password_field_tag 'user[password]', nil, id: 'user_new_password', required: true, passwordrules:  User::PASSWORD_RULES, :autocomplete => "new-password", :"aria-describedby" => "password-req-note" %>
            <% end %>
        </div>
        <div class="form-group password-confirmation-form">
          <div class="mb-1"><%= f.label :confirm_new_password, "Confirm new password" %></div>
          <%= password_field_tag 'user[password_confirmation]', nil, id: 'user_confirm_new_password', required: true, :autocomplete => "new-password"%>
        </div>
        <p id="password-req-note" class="note"><%= password_strength_sentence %></p>
      </password-strength>
      <%= spamurai_form_signals %>
      <p>
        <%= render Primer::ButtonComponent.new(mr: 2, type: :submit) do %>Update password<% end %>
        <span><%= link_to "I forgot my password", password_reset_path %></span>
      </p>
    <% end %>
  </div>

  <div data-target="change-password.changePasswordInformationSection" class="note my-0">
    Strengthen your account by ensuring your password is strong.
    <%= link_to "Learn more about creating a strong password", docs_url("authentication/creating-a-strong-password"), class: "Link--inTextBlock" %>.
  </div>
</change-password>
