<%= render Primer::Beta::Subhead.new(spacious: true, id: "passkeys") do |component| %>
  <% component.with_heading(tag: :h2) do %>Passkeys<% end %>
<% end %>

<%
  has_passkey=current_user.u2f_registrations.passkeys.any?
  unsupported_message = "This browser or device is reporting partial passkey support, but you may be able to use a passkey from a nearby device."
%>

<%= render(Primer::Box.new(classes: 'js-passkeys-view', hidden: !has_passkey)) do %>
  <p class="mb-3">
    <%= passkey_definition %>
    <a class="Link--inTextBlock" href="<%= docs_url "authentication/about-passkeys" %>">Learn more about passkeys</a>.
    <% if !current_user.two_factor_authentication_enabled? %>
      <%= passkey_tfa_warning %>
    <% end %>
  </p>

  <webauthn-status>
    <noscript>
      <%= render Primer::Alpha::Banner.new(schem: :warning, mb: 4) do %>
        To register a passkey, ensure that JavaScript is enabled in your browser.
      <% end %>
    </noscript>

    <%= render Primer::Alpha::Banner.new(
      "data-target": "webauthn-status.unsupported",
      mb: 4,
      hidden: true,
    ) do %>
      <%= unsupported_message %>
    <% end %>

    <%= render(Primer::Beta::BorderBox.new) do |component| %>
      <% component.with_header(p: 3) do %>
        <div class="d-flex flex-justify-between flex-items-center">
          <h3 class="Box-title">Your passkeys</h3>
          <%= render Primer::Beta::Button.new(
            tag: :a,
            href: trusted_device_registration_prompt_path(return_to: settings_security_path),
            "data-target": "webauthn-status.partial",
            "aria-label": "Add a passkey",
            hidden: true,
          ) do %>
              Add a passkey
          <% end %>
        </div>
      <% end %>

      <%= render partial: "settings/securities/passkey", collection: current_user.u2f_registrations.passkeys, locals: {component: component} %>
    <% end %>
  </webauthn-status>
<% end %>

<%= render(Primer::Beta::BorderBox.new(classes: 'js-passkeys-empty-view', hidden: has_passkey)) do |box| %>
  <% box.with_body do %>
    <%= render Primer::Beta::Blankslate.new do |component| %>
      <% component.with_visual_icon(icon: "passkey-fill") %>
      <% component.with_heading(tag: :h2).with_content("Passwordless sign-in with passkeys") %>
      <% component.with_description do %>
        <%= "#{passkey_definition} #{passkey_usage}" %>

        <div class="mt-4">
          <webauthn-status>
            <noscript>
              To register a passkey, ensure that JavaScript is enabled in your browser.
            </noscript>

            <div class="mb-4" data-target="webauthn-status.unsupported" hidden>
              <%= unsupported_message %>
            </div>

            <div data-target= "webauthn-status.partial" hidden>
              <%= render Primer::Beta::Button.new(
                tag: :a,
                href: trusted_device_registration_prompt_path(return_to: settings_security_path),
                "aria-label": "Add a passkey",
              ) do %>
                Add a passkey
              <% end %>
            </div>
          </webauthn-status>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
