<% component.with_row(classes: 'js-passkey-registration', p: 3) do %>
  <div class="Details js-details-container">
    <%# Details-content--hidden above the Details-content--shown so that keyboard focus returns to passkey interactive buttons after saving passkey update %>
    <div class="Details-content--hidden">
      <%= form_for passkey,
          url: u2f_edit_path(passkey),
          method: :put,
          html: {
            id: "edit_nickname_#{passkey.id}",
            class: "js-passkey-update d-flex flex-column flex-md-row",
          },
          data: { sudo_required: true } do |f| %>
          <%= f.text_field :nickname,
            class: "js-quick-submit flex-auto mr-md-2",
            autofocus: true,
            autocomplete: "off",
            "aria-label": "Passkey nickname"
          %>
        <div class="mt-2 mt-md-0 d-inline-flex gap-1">
          <%= render Primer::Beta::Button.new(
            type: :submit,
            "data-disable-with": "Save",
            "aria-label": "Save changes to passkey nickname",
          ) do %>Save<% end %>
          <%= render Primer::Beta::Button.new(
            scheme: :invisible,
            classes: "js-details-target",
            "aria-expanded": "true",
            "aria-label": "Cancel changes to passkey nickname",
          ) do %>Cancel<% end %>
        </div>
      <% end %>
      <div class="js-passkey-edit-form-error mt-2 color-fg-danger" role="alert" hidden>An error occurred while renaming your passkey.</div>
    </div>

    <div class="Details-content--shown">
      <div class="d-flex flex-column flex-md-row">
        <div class="flex-auto">
          <span class="color-fg-muted mr-3 float-left text-center">
            <%= render(Primer::Beta::Octicon.new("passkey-fill", height: 24)) %>
          </span>

          <strong class="d-block d-flex flex-items-center">
            <h4 class="js-passkey-nickname"><%= passkey.nickname %></h4>
            <% if passkey.linked_to_current_device?(current_device_id)%>
              <%= render(Primer::Beta::Label.new(scheme: :secondary, ml: 2)) { "Seen from this browser" } %>
            <% end %>

            <%= render(Primer::Beta::Label.new(
              scheme: :accent,
              ml: 2,
              title: "This passkey is eligible for backup by its provider",
              aria: {
                label: "This passkey is eligible for backup by its provider"
              },
            )) { "Synced" } if passkey.backup_eligibility %>
          </strong>
          <small class="color-fg-muted d-block mt-1">
            Added on <time datetime="<%= passkey.created_at.utc.iso8601 %>"><%= passkey.created_at.strftime("%b %-d, %Y") %></time>
            | Last used
            <% if passkey.get_last_used_at > 1.hour.ago %>
              less than an hour ago
            <% else %>
              <time datetime="<%= passkey.get_last_used_at.utc.iso8601 %>"><%= time_ago_in_words_js(passkey.get_last_used_at)%></time>
            <% end %>
          </small>
        </div>
        <div class="d-inline-flex">
          <%= render(Primer::Beta::IconButton.new(icon: :pencil, "aria-label": "Edit passkey nickname", "aria-expanded": false, mr: 1, classes: "js-details-target")) %>

          <%= form_tag u2f_destroy_path(passkey), method: :delete, class: "js-passkey-registration-delete float-right", data: { sudo_required: true } do %>
            <%= render(Primer::Alpha::Dialog.new(
              title: "Delete passkey?",
              "aria-label": "Confirm delete of `#{passkey.nickname}` passkey",
              id: "delete-passkey-#{passkey.id}",
            )) do |d| %>
              <% d.with_show_button(
                scheme: :danger,
                p: 2,
                title: "Delete `#{passkey.nickname}` passkey",
                classes: "js-passkey-registration-delete-button",
                "data-disable-with": "Deleting…",
              ) do |sb| %>
                <% sb.with_tooltip(text: "Delete `#{passkey.nickname}` passkey") %>
                <%= render(Primer::Beta::Octicon.new(icon: :trash, size: :small)) %>
              <% end %>
              <% d.with_body do %>
                <p id="passkey-delete-description" role="alert">
                  Are you sure you want to delete your `<%= passkey.nickname %>` passkey?
                </p>
                <p>
                  <% if passkey.backup_eligibility %>
                    By removing this passkey you will no longer be able to use it to sign-in to your account from any of the devices on which it has been synced.
                  <% else %>
                    You will no longer be able to use it to sign-in to your account.
                  <% end %>
                </p>
                <p>
                  Note: You may continue to see this passkey as an option during sign-in until you also delete it from your browser, device or associated account's password management settings.
                </p>
              <% end %>
              <% d.with_footer do %>
                <%= render(Primer::Beta::Button.new(
                  "data-close-dialog-id": "delete-passkey-#{passkey.id}",
                  "aria-label": "Cancel `#{passkey.nickname}` passkey delete"
                )) { "Cancel" } %>
                <%= render(Primer::Beta::Button.new(
                  type: :submit,
                  scheme: :danger,
                  "data-close-dialog-id": "delete-passkey-#{passkey.id}",
                  "aria-describedby": "passkey-delete-description",
                  "aria-label": "Confirm delete `#{passkey.nickname}` passkey"
                )) { "Delete" } %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
