<%
configuring_type ||= nil
mashed_secret ||= ""
qr_code_image_src ||= nil
dev_otp ||= nil

hidden_for_emus = (current_user.is_emu_and_not_first_owner?)
%>
<% page_info title: security_and_privacy_section_title %>

<% if flash[:session_not_found] %>
  <%= render layout: "shared/flash_container", locals: { type: "warn" } do %>
    The session you are looking for has expired and is no longer accessible.
  <% end %>
<% end %>

<%= render layout: "settings/settings" do %>
  <% if hidden_for_emus %>
    <%= render Primer::Beta::Subhead.new(spacious: false, "data-test-selector": "hidden-for-emus-header") do |component| %>
      <% component.with_heading(tag: :h2) do %>Password and authentication<% end %>
    <% end %>
    <p>
      Your account is managed by an external identity provider. Contact your enterprise administrator for more information.
      To learn more, visit the documentation about
      <%= render(Primer::Beta::Link.new(
        href: "https://docs.github.com/enterprise-cloud@latest/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/about-enterprise-managed-users",
        underline: false,
        target: "_blank",
        classes: "Link--inTextBlock"
      )) { "Enterprise Managed Users" } %>.
    </p>
  <% else %>
    <% spacious = false %>
    <% if password_reset_enabled? %>
      <%= render partial: "settings/securities/change_password" %>
      <% spacious = true %>
    <% end %>

    <% if current_user.passkeys_enabled? %>
      <%= render partial: "settings/securities/passkey_management" %>
      <% spacious = true %>
    <% end %>

    <% if GitHub.auth.two_factor_authentication_allowed?(current_user) %>
      <%= render partial: "settings/securities/two_factor_summary", locals: {
        show_buttons: true,
        spacious: spacious,
        configuring_type: configuring_type,
        mashed_secret: mashed_secret,
        qr_code_image_src: qr_code_image_src,
        dev_otp: dev_otp
      } %>
      <% spacious = true %>
    <% end %>
  <% end %>
<% end %>
