<% content_for :header do %>
  Your user account has been impersonated.
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hi @<%= @user %>!
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Your user account has been impersonated by an administrator of your enterprise, <%= @business_name %>.
      The admin, @<%= @admin_login %>, will be able to act on your user account's behalf within the enterprise's organizations and repositories.
      The impersonation session can last up to 1 hour. If you would like more information or believe this action has been taken in error, please contact your enterprise administrators.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Reason given for this impersonation session:
      <br>
      <%= @reason %>
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ContainerComponent.new) do %>
      --- Sent with &lt;3 by GitHub.
      <br>
      <%= GitHub.physical_address(multiline: true).join("\n") %>
    <% end %>

  <% end %>
<% end %>
