<div class="Box-row">
  <% if current_organization.archived? %>
    <%= render Primer::Alpha::Dialog.new(
      id: "unarchive-org-dialog",
      size: :medium_portrait,
      title: "Unarchive organization",
      test_selector: "unarchive-org-dialog",
    ) do |dialog| %>
      <% dialog.with_header(show_divider: true) %>
      <% dialog.with_show_button(
        scheme: :danger,
        float: :right,
        mt: 1,
      ) { "Unarchive this organization" } %>
      <% dialog.with_body do %>
        <%= render(Primer::Alpha::Banner.new(scheme: :warning, my: 3)) do %>
          <strong class="overflow-hidden">This organization will be unarchived.</strong>
          <p class="overflow-hidden mt-1">
            Modifying settings will be possible and creating new repositories will be unblocked.
          </p>
        <% end %>

        <div class="d-flex flex-nowrap">
          <div><%= render Primer::Beta::Octicon.new(icon: "repo") %></div>
          <div class="pl-3 flex-1">
            <p class="overflow-hidden">Repositories will be remain <a class="Link--inTextBlock" href="<%= GitHub.help_url%>/repositories/archiving-a-github-repository">archived</a>
              and need to be unarchived separately.</p>
          </div>
        </div>

        <p class="mt-4">Please type <strong><%= current_organization.display_login %></strong> to confirm.</p>

        <%= form_tag unarchive_org_path(current_organization), method: :delete do %>
          <p>
            <input type="text" class="form-control input-block" autofocus required
              pattern="<%= case_insensitive_pattern current_organization.display_login %>"
              aria-label="Type in the name of the organization to confirm that you want to unarchive this organization."
              name="verify-name"
              autocomplete="off">
          </p>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            block: true,
            scheme: :danger,
            "data-disable-with": "",
            "data-disable-invalid": "",
          ) do %>
            <span class="d-md-inline-block d-none">I understand the consequences, unarchive this organization</span>
            <span class="d-inline-block d-md-none">Unarchive this organization</span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <div class="flex-auto">
      <strong>Unarchive this organization</strong>
      <p class="mb-0">
        Mark this organization as unarchived and read-write.
      </p>
    </div>
  <% elsif current_organization.archiving? %>
    <%= render Primer::Beta::Button.new(float: :right, mt: 1, disabled: true) do %>Archive organization<% end %>
    <div class="flex-auto">
      <div class="listgroup-item-title">Archive this organization</div>
      <div class="listgroup-item-body">This organization has already been archived.</div>
    </div>
  <% elsif !current_organization.billing_allows_archiving? %>
    <%= render Primer::Beta::Button.new(
      float: :right,
      mt: 1,
      disabled: true,
      test_selector: "archive-disabled-button-paid-plan"
    ) do %>
      Archive organization
    <% end %>
    <div class="flex-auto">
      <div class="listgroup-item-title">Archive this organization</div>
      <div class="listgroup-item-body">Only organizations owned by an enterprise or on the Free plan <a class="Link--inTextBlock"
        href="<%= GitHub.help_url%>/organizations/managing-organization-settings/archiving-an-organization"
        aria-label="Learn more about archiving GitHub organizations">can be archived</a>.
      </div>
    </div>
  <% else %>
    <%= render Primer::Alpha::Dialog.new(
      id: "archive-org-dialog",
      size: :medium_portrait,
      title: "Archive organization",
      test_selector: "archive-org-dialog",
    ) do |dialog| %>
      <% dialog.with_header(show_divider: true) %>
      <% dialog.with_show_button(
        scheme: :danger,
        float: :right,
        mt: 1,
      ) { "Archive this organization" } %>
      <% dialog.with_body do %>
        <%= render(Primer::Alpha::Banner.new(scheme: :warning, my: 3)) do %>
          <strong class="overflow-hidden">This organization will be archived.</strong>
          <p class="overflow-hidden mt-1">
            Modifying settings will be limited and creating new repositories will be blocked.
          </p>
        <% end %>

        <div class="d-flex flex-nowrap mb-3">
          <div><%= render Primer::Beta::Octicon.new(icon: "repo") %></div>
          <div class="pl-3 flex-1">
            <p class="overflow-hidden">All repositories will be <a class="Link--inTextBlock" href="<%= GitHub.help_url%>/repositories/archiving-a-github-repository">archived</a>
              and be read-only.</p>
          </div>
        </div>

        <div class="d-flex flex-nowrap">
          <div><%= render Primer::Beta::Octicon.new(icon: "checklist") %></div>
          <div class="pl-3 flex-1">
            <p class="overflow-hidden mb-1">Before you archive, please consider:</p>
            <ul class="ml-3">
              <li>Updating any organization settings</li>
              <li>Making a note in your <a class="Link--inTextBlock" href="<%= GitHub.help_url%>/organizations/collaborating-with-groups-in-organizations/customizing-your-organizations-profile">organization README</a></li>
            </ul>
          </div>
        </div>

        <p class="mt-4">Please type <strong><%= current_organization.display_login %></strong> to confirm.</p>

        <%= form_tag archive_org_path(current_organization), method: :post do %>
          <p>
            <input type="text" class="form-control input-block" autofocus required
              pattern="<%= case_insensitive_pattern current_organization.display_login %>"
              aria-label="Type in the name of the organization to confirm that you want to archive this organization."
              name="verify-name"
              autocomplete="off">
          </p>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            block: true,
            scheme: :danger,
            "data-disable-with": "",
            "data-disable-invalid": "",
          ) do %>
            <span class="d-md-inline-block d-none">I understand the consequences, archive this organization</span>
            <span class="d-inline-block d-md-none">Archive this organization</span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <div class="flex-auto">
      <strong>Archive this organization</strong>
      <p class="mb-0">
        Mark this organization and all its repositories as archived and read-only.
      </p>
    </div>
  <% end %>
</div>
