<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay js-dropdown">
  <%= render Primer::ButtonComponent.new(tag: :summary, classes: "css-truncate") do %>
    <%= render Primer::Beta::Octicon.new(icon: "globe", text: "gray") %>
    <%= f.hidden_field :profile_location, class: "js-org-location-input-hidden" %>
    <span class="js-org-location-input" data-menu-button name="organization[profile_location]">
      <% if current_org_location %>
        <%= current_org_location %>
      <% else %>
        <%= "Select a location" %>
      <% end %>
    </span>
    <span class="dropdown-caret"></span>
  <% end %>
  <details-menu class="SelectMenu SelectMenu--hasFilter"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal">
      <filter-input class="SelectMenu-filter">
        <input id="profile_location_field" class="SelectMenu-input form-control js-filterable-field" type="text" placeholder="Find a location..." aria-label="Filter">
      </filter-input>
      <div class="SelectMenu-list" data-filterable-for="profile_location_field">
        <% Braintree::Address::CountryNames.each do |country_name, country_code, _, _|%>
          <div class="SelectMenu-item js-org-country-item"><%= country_name %></div>
        <%end%>
      </div>
      <footer class="SelectMenu-footer js-org-country-clear" data-default-message="Select a location" style="cursor: pointer">
        Clear Location
      </footer>
    </div>
  </details-menu>
</details>
