<% if can_write_organization_actions_secrets && can_write_organization_actions_variables %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Actions secrets and variables<% end %>
  <% end %>
  <p>
    Secrets and variables allow you to manage reusable configuration data.
    Secrets are <strong>encrypted</strong> and are used for sensitive data. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/automating-your-workflow-with-github-actions/creating-and-using-encrypted-secrets">Learn more about encrypted secrets</a>.
    Variables are shown as plain text and are used for <strong>non-sensitive</strong> data.

    <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/learn-github-actions/variables">Learn more about variables</a>.
  </p>
  <p>
    Anyone with collaborator access to the repositories with access to a secret or variable can use it for Actions. They are not passed to workflows that are triggered by a pull request from a fork<% if GitHub.flipper[:dotcom_public_fork_pr_workflows_policy].enabled?(current_organization) %> unless enabled in <a class="Link--inTextBlock" href="<%= settings_org_actions_path(current_organization) %>" >Actions settings</a><% end %>.
  </p>

  <% if !can_use_for_private_repos %>
    <p class="text-bold mb-0" <%= test_selector("free-org-private-repo-notice") %>>
      Organization secrets and variables cannot be used by private repositories with your plan.
    </p>
    <p>
      Please consider <a class="Link--inTextBlock" href="<%= settings_org_billing_path(current_organization) %>">upgrading your plan</a> if you require this functionality.
    </p>
  <% end %>
<% elsif can_write_organization_actions_secrets %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Actions secrets<% end %>
  <% end %>
  <p>
    Secrets  allow you to manage reusable configuration data.
    Secrets are <strong>encrypted</strong> and are used for sensitive data. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/automating-your-workflow-with-github-actions/creating-and-using-encrypted-secrets">Learn more about encrypted secrets</a>.
  </p>
  <p>
    Anyone with collaborator access to the repositories with access to a secret can use it for Actions. Secrets not passed to workflows that are triggered by a pull request from a fork<% if GitHub.flipper[:dotcom_public_fork_pr_workflows_policy].enabled?(current_organization) %> unless enabled in <a class="Link--inTextBlock" href="<%= settings_org_actions_path(current_organization) %>" >Actions settings</a><% end %>.
  </p>

  <% if !can_use_for_private_repos %>
    <p class="text-bold mb-0" <%= test_selector("free-org-private-repo-notice") %>>
      Organization secrets cannot be used by private repositories with your plan.
    </p>
    <p>
      Please consider <a class="Link--inTextBlock" href="<%= settings_org_billing_path(current_organization) %>">upgrading your plan</a> if you require this functionality.
    </p>
  <% end %>
<% elsif can_write_organization_actions_variables %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Actions variables<% end %>
  <% end %>
  <p>
    Variables allow you to manage reusable configuration data.
    Variables are shown as plain text and are used for <strong>non-sensitive</strong> data.

    <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/learn-github-actions/variables">Learn more about variables</a>.
  </p>
  <p>
    Anyone with collaborator access to the repositories with access to a variable can use it for Actions. Variables are not passed to workflows that are triggered by a pull request from a fork<% if GitHub.flipper[:dotcom_public_fork_pr_workflows_policy].enabled?(current_organization) %> unless enabled in <a class="Link--inTextBlock" href="<%= settings_org_actions_path(current_organization) %>" >Actions settings</a><% end %>.
  </p>

  <% if !can_use_for_private_repos %>
    <p class="text-bold mb-0" <%= test_selector("free-org-private-repo-notice") %>>
      Organization variables cannot be used by private repositories with your plan.
    </p>
    <p>
      Please consider <a class="Link--inTextBlock" href="<%= settings_org_billing_path(current_organization) %>">upgrading your plan</a> if you require this functionality.
    </p>
  <% end %>
<% else %>
  <p> You must be an organization admin or have the secrets or variables fine grained permission to view this page. </p>
<% end %>

<% if can_write_organization_actions_secrets && can_write_organization_actions_variables && can_use_org_secrets_or_variables %>
  <%= render(Primer::Alpha::TabNav.new(label: "Secrets or variables tab", display: :flex, body_arguments: { flex: 1 }, pt: 3)) do |c| %>
    <% c.with_tab(selected: selected_tab == :secrets, href: settings_org_secrets_path) { "Secrets" } %>
    <% c.with_tab(selected: selected_tab == :variables, href: organization_variables_path) { "Variables" } %>
  <% end %>
<% end %>
