<%# locals: (name:, id:, checked_condition:, label_text:, data_attributes: {}, test_selector: nil, classes: nil, description_text: nil) -%>

<%= render Primer::Box.new do %>
  <input type="hidden" name="<%= name %>" value="disabled">
  <%= render Primer::Box.new(display: :flex, direction: :row, align_items: :center) do %>
    <input type="checkbox" name="<%= name %>" class="mr-2 <%= classes %>"
      id=<%= id %> value="enabled"
      <%= checked_condition ? 'checked' : '' %>
      <% data_attributes.each do |k, v| %>
        data-<%= k %>="<%= v %>"
      <% end %>
    >

    <label for="<%= id %>" <%= test_selector(test_selector) %>>
      <%= label_text %>
    </label>
    <span class="status-indicator js-status-indicator d-flex flex-items-start">
      <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
      <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
    </span>
  <% end %>

  <% if description_text %>
    <div class="ml-4"><%= description_text %></div>
  <% end %>
<% end %>
