<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info responsive: false, title: "Deleted Repositories", selected_link: :deleted_repositories %>
<% current_page = params[:page].to_i %>
<% current_page = 1 if current_page <= 0 %>
<% repos = view.filtered_list.paginate(page: current_page, per_page: 25) %>

  <%= render layout: "orgs/settings/layout" do %>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Deleted Repositories<% end %>
  <% end %>

  <div class="Box">
    <% if repos.empty? %>
      <div class="Box-body text-center p-6">
        <strong>No recoverable repositories were found for <%= view.target.display_login %>.</strong>
        <p class="mt-3"><%= view.disclaimer_text %> <%= link_to  "Learn more about restoring deleted repositories", view.help_url, class: "Link--inTextBlock" %></p>
      </div>
    <% else %>
      <%= render(Primer::Beta::Flash.new(full: true)) do %>
        <%= view.disclaimer_text %> <%= link_to  "Learn more about restoring deleted repositories", view.help_url, class: "Link--inTextBlock" %>
      <% end %>
      <% repos.each do |repo| %>
        <div class="Box-row d-flex flex-items-center js-deleted-repository" id="restorable-repository-<%= repo.id %>">
          <%= primer_octicon("#{(repo.public? ? "repo" : "lock")}", mr: 2) %>
          <span class="flex-auto"><%= repo.name_with_display_owner %></span>

          <span class="js-restore-status color-fg-muted text-small">
            <% if repo.has_current_restore_job? %>
              <%= render partial: "settings/repo_restoring", locals: {repo_id: repo.id}  %>
            <% else %>
              Deleted <%= time_ago_in_words_js repo.deleted_at %> <%= "by #{repo.deleted_by.display_login}" if repo.deleted_by.present? %>
            <% end %>
          </span>

          <%= render layout: "shared/details_dialog", locals: {
            button_class: "btn btn-sm js-disableable-summary",
            button_text: "Restore",
            details_class: "ml-3",
            title: "Are you sure you want to restore #{repo.name_with_display_owner}?"
          } do %>

            <div class="Box-body">
              <p class="color-fg-muted">This repository will be in a <%= repo.public? ? "public" : "private" %> state<%= " and will still be archived" if !repo.maintained %> when it is restored. To change this state, go to settings once the repo is restored.</p>
              <p>Any team or collaborator permissions that previously existed for this repository will not be restored. If you require specific team or collaborator permissions, you will need to configure them in settings.</p>
              <div class="Box-footer">
                <%= form_tag settings_restore_repo_path(repo.id), :class => "js-repo-restore" do %>
                  <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>I understand, restore this repository<% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="paginate-container">
        <div class="pagination">
          <%= will_paginate repos %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
