<%
  page_info title: "Set up your GitHub Enterprise account"
%>

<%= render layout: "signup/container", locals: {
  title: "Set up your GitHub Enterprise account",
  description: "Choose a name and slug"
} do %>
  <p>
    An enterprise account allows you to manage multiple organizations.
    Fill in the form below to begin the purchase of an enterprise account in which
    your organization will become the first member organization.
    <%= link_to \
      "Learn more about enterprise accounts.",
      "#{GitHub.help_url}/github/setting-up-and-managing-your-enterprise/about-enterprise-accounts",
      class: "Link--inTextBlock" %>
  </p>

  <%= form_for business, url: create_org_enterprise_purchase_upgrade_path, method: :post do |f| %>
    <dl class="form-group required">
      <dt>
        <%= label_tag "business[name]", "Enterprise name" %>
      </dt>
      <dd>
        <%= text_field_tag "business[name]", business.name, class: "js-business-name width-full",
          placeholder: "e.g. Acme, Inc.", autofocus: true, required: true %>
      </dd>
    </dl>
    <% current_slug = business&.slug %>
    <% update_slug_from_name = current_slug.to_s.empty? %>
    <auto-check src="<%= settings_org_check_enterprise_slug_path %>" required>
      <dl class="form-group required">
        <dt class="d-flex">
          <%= label_tag "business[slug]", "Enterprise URL slug" %>
        </dt>
        <dd>
          <%=
            slug_field_properties = { placeholder: "e.g. acme-inc.", required: true, class: "js-business-slug width-full" }
            slug_field_properties["data-auto-update"] = true if update_slug_from_name
            text_field_tag "business[slug]", current_slug, slug_field_properties
          %>
          <p class="note"></p>
        </dd>
      </dl>
      <%= csrf_hidden_input_for settings_org_check_enterprise_slug_path %>
    </auto-check>

    <%= render(Primer::Alpha::Dialog.new(
      id: "upgrade-org-dialog",
      title: "Create enterprise account",
      size: :large
    )) do |dialog| %>
      <% dialog.with_show_button(
        block: :true,
        scheme: :primary,
        type: :button,
        data: {
          **analytics_click_attributes(
            category: "enterprise_account",
            action: "create_organization_upgraded_enterprise",
            label: "upgrading_organization_id:#{current_organization.id}"
          ).merge(
            "disable-invalid": "",
            "disable-with": "",
          ),
        }
      ) { "Continue to payment" } %>
      <%= render(Primer::Alpha::Dialog::Body.new) do %>
        <p>
          Upgrading this organization to an enterprise will result in the following:
        </p>
        <ul class="ml-3">
          <li>
            A new enterprise account in which
            <strong><%= current_organization.safe_profile_name %></strong> will be the first member
            organization created.
          </li>
          <li>
            All current owners of <strong><%= current_organization.safe_profile_name %></strong>
            will become owners of the new enterprise account.
          </li>
          <li>
            All current billing managers of
            <strong><%= current_organization.safe_profile_name %></strong> will become billing
            managers of the new enterprise account.
          </li>
          <li>
            The current billing details of
            <strong><%= current_organization.safe_profile_name %></strong>, including the
            organization's billing email address, will become the billing details of the new enterprise
            account.
          </li>
          <li>
            This enterprise name and slug will be reserved for 5 days until payment is processed.
            If the purchase is not completed, the account will be deleted and the name and slug will become available again.
          </li>
        </ul>
      <% end %>
      <%= render(Primer::Alpha::Dialog::Footer.new(show_divider: true)) do %>
        <%= render(Primer::Beta::Button.new(type: :submit, data: { "disable-with": "" })) { "Continue to payment" } %>
      <% end %>
    <% end %>
  <% end %>

  <% unless current_organization.has_an_active_coupon? %>
    <div class="color-fg-muted mt-5 text-center" <%= test_selector("enterprise-account-upgrade-redeem-coupon")%>>
      <%= primer_octicon(:gift, :height => 12) %>
      Got a coupon? <a href="<%= find_coupon_path %>" class="Link--inTextBlock">Redeem coupon instead</a>
    </div>
  <% end %>
<% end %>
