<%
  page_info title: "Upgrade to Enterprise account",
    responsive: false,
    hide_marketplace_retargeting_notice: true,
    hide_marketplace_pending_installations_notice: true,
    selected_link: :organization_billing_settings
%>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <%= link_to "Billing & plans", target_billing_path(current_organization), "data-pjax" => true %>
        / Upgrade to enterprise account
    <% end %>
  <% end %>

  <p>
    An enterprise account allows you to manage multiple organizations.
    Fill in the form below to upgrade to an enterprise account in which
    <strong><%= current_organization.safe_profile_name %></strong> will become the first member organization.
    All current owners, billing managers, and billing details of <strong><%= current_organization.safe_profile_name %></strong> will be
    transferred to the new enterprise account.
    <%= link_to \
      "Learn more about enterprise accounts.",
      "#{GitHub.help_url}/github/setting-up-and-managing-your-enterprise/about-enterprise-accounts",
      class: "Link--inTextBlock" %>
  </p>

  <%= render Billing::Settings::AddressNeedsValidationComponent.new(account: current_organization, link_to_user_billing_information: true, system_arguments: { my: 3 }) %>

  <% if current_organization.trade_screening_record.validated_for_sales_tax? %>
    <%= form_for business, url: create_org_enterprise_upgrade_path, method: :post do |f| %>
      <dl class="form-group required">
        <dt>
          <%= label_tag "business[name]", "Enterprise name" %>
        </dt>
        <dd>
          <%= text_field_tag "business[name]", business.name, value: suggested_upgrade_slug, class: "js-business-name",
            placeholder: "e.g. Acme, Inc.", autofocus: true, required: true %>
        </dd>
      </dl>
      <% current_slug = business&.slug %>
      <% update_slug_from_name = current_slug.to_s.empty? %>
      <auto-check src="<%= settings_org_check_enterprise_slug_path %>" required>
        <dl class="form-group required">
          <dt class="d-flex">
            <%= label_tag "business[slug]", "Enterprise URL slug" %>
          </dt>
          <dd>
            <%=
              slug_field_properties = { placeholder: "e.g. acme-inc.", required: true, value: suggested_upgrade_slug, class: "js-business-slug" }
              slug_field_properties["data-auto-update"] = true if update_slug_from_name
              text_field_tag "business[slug]", current_slug, slug_field_properties
            %>
            <p class="note"></p>
          </dd>
        </dl>
        <%= csrf_hidden_input_for settings_org_check_enterprise_slug_path %>
      </auto-check>

      <% current_organization.transferable_settings.each do |setting| %>
        <div class="form-checkbox">
          <label>
            <input type="checkbox" value="1" checked name="transfer_<%= setting[:name] %>"
              <%= test_selector "transfer_#{setting[:name]}_checkbox" %>>
            Transfer <%= setting[:description] %>
          </label>
        </div>
      <% end %>

      <div class="form-checkbox mt-3">
        <label for="gca_business" class="text-normal">
          <input type="checkbox" class="form-checkbox-details-trigger" id="gca_business" name="gca_business" required>
            I hereby accept the <a class="Link--inTextBlock" href="<%= customer_term_index_path %>" target="_blank" rel="noopener noreferrer">GitHub Customer Agreement</a>
            and confirm that I have the authority to do so on behalf of my organization. For more information about
            GitHub's privacy practices, see the
            <a class="Link--inTextBlock" href="<%= site_privacy_path %>" target="_blank" rel="noopener noreferrer">GitHub Privacy Statement</a>.
        </label>
      </div>

      <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, "data-disable-invalid": "", "data-disable-with": "") do %>
        Confirm and upgrade
      <% end %>
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Text.new(tag: :p, test_selector: "resubmit-once-billing-info-correct")) { "Once the billing information is edited and resubmitted, you may try to upgrade to an enterprise account." } %>
  <% end %>
<% end %>
