<%# `view` is an instance of Settings::Organization::ProjectsView %>
<% page_info responsive: false, title: "Projects", selected_link: :organization_projects_settings %>
<% classic_projects_enabled = !disable_classic_projects(view.organization) && ProjectsClassicSunset.projects_classic_ui_enabled?(view.current_user, org: view.organization) %>
<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Projects<% unless GitHub.projects_new_enabled? %> (classic)<% end %><% end %>
  <% end %>

  <p>
    Projects<% unless GitHub.projects_new_enabled? %> (classic)<% end %> on GitHub help you organize and prioritize your work. You can create projects for specific feature work, comprehensive roadmaps, or even release checklists.
    <% if classic_projects_enabled && GitHub.projects_new_enabled? %><span <%= test_selector("organization-project-settings-description-all-projects") %>>These settings apply to all projects, including projects (classic).</span><% end %>
  </p>

  <%= form_for view.organization, url: organization_projects_enabled_path(view.organization), method: :put do |f| %>
    <div class="form-checkbox mt-0">
      <%= f.check_box :organization_projects_enabled?, disabled: view.organization_projects_policy? %>
      <%= f.label :organization_projects_enabled?, class: view.organization_projects_label_class do %>
        <%= view.organization_projects_label_text %>
      <% end %>

      <p class="note">
        This allows members to create projects for the <strong><%= view.organization.display_login %></strong> organization.
        Members can create projects to organize and track issues from any <strong><%= view.organization.display_login %></strong>-owned repository.
      </p>
    </div>

    <div class="form-checkbox mt-0" <%= test_selector("members-can-change-project-visibility-setting") %>>
      <%= f.check_box :members_can_change_project_visibility?, disabled: view.organization.members_can_change_project_visibility_policy? %>
      <%= f.label :members_can_change_project_visibility?, class: view.members_can_change_project_visibility_label_class do %>
        <%= view.members_can_change_project_visibility_label_text %>
      <% end %>

      <p class="note">
        If enabled, members with admin permissions on a project can make the project <%= view.public_project_visibility_text %> or private.
        If disabled, only organization owners can make the project <%= view.public_project_visibility_text %> or private. All projects are private by default.
      </p>
    </div>

    <%= render Primer::Beta::Button.new(mb: 6, type: :submit, disabled: view.disable_projects_section_save_button?, data: { disable_with: "Saving…"}) do %>Save<% end %>
  <% end %>

  <% if classic_projects_enabled %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        <% if GitHub.projects_new_enabled? %>
          Projects (classic) only
        <% else %>
          Repository projects
        <% end %>
      <% end %>
    <% end %>

    <% if GitHub.projects_new_enabled? %><p>These settings apply only to projects (classic).</p><% end %>

    <%= form_for view.organization, url: organization_projects_classic_enabled_path(view.organization), method: :put, html: { id: "edit_organization_#{view.organization.id}_classic" } do |f| %>
      <div class="form-checkbox mt-0" <%= test_selector("classic-projects-for-repositories-setting") %>>
        <%= f.check_box :repository_projects_enabled?, disabled: view.repository_projects_policy? %>
        <%= f.label :repository_projects_enabled?, class: view.repository_projects_label_class do %>
          <%= view.repository_projects_label_text %>
        <% end %>

        <p class="note">
          This allows members to create projects in all repositories in the <strong><%= view.organization.display_login %></strong> organization and will be enabled by default.
          This affects every project at the repository level in the <strong><%= view.organization.display_login %></strong> organization.
          <% unless view.repository_projects_policy? %>You can still disable projects for a specific repository in repository settings.<% end %>
        </p>
      </div>

      <%= render Primer::Beta::Button.new(mb: 6, type: :submit, disabled: view.repository_projects_policy?, data: { disable_with: "Saving…"}) do %>Save<% end %>
    <% end %>
  <% end %>

  <% if GitHub.projects_new_enabled? %>
    <div class="pt-2 pb-1 mt-4" <%= test_selector("recommended-memex-projects") %>>
      <h3 class="text-normal pb-2">Recommended templates</h3>
      <p class="mb-4">Customize a selection of recommended project templates for this organization. These templates will be surfaced first when a member of the organization creates a new project.</p>

      <% if view.organization.memex_project_links.any? %>
        <div class=" js-pinned-items-reorder-container">
          <%= render Primer::Beta::Button.new(
            position: :relative,
            display: :flex,
            align_self: :end,
            scheme: :link,
            data: {
              "show-dialog-id": "edit-recommended-memex-projects",
              target: "modal-dialog.show-button"
            }
          ) do %>
            <span>Customize recommended templates</span>
            <%= render Primer::Beta::Spinner.new(
              size: :small,
              vertical_align: :text_bottom,
              ml: 1,
              classes: "spinner pinned-items-spinner js-pinned-items-spinner",
            ) %>
          <% end %>
          <span
            class="color-fg-muted f6 js-pinned-items-reorder-message"
            role="status"
            aria-live="polite"
            data-error-text="Something went wrong."
            data-success-text="Order updated."
          ></span>
          <%= render Organizations::Settings::RecommendedMemexProjectsDialogComponent.new(organization: view.organization) %>

          <%= form_tag settings_org_memex_project_links_reorder_path(current_organization), method: :put, class: "js-pinned-items-reorder-form" do |f| %>
            <ol class="mt-4 d-flex flex-wrap list-style-none gutter-condensed mb-2 js-pinned-items-reorder-list">
              <% view.organization.memex_project_links.order(position: :asc).preload(memex_project: :memex_project_views).each do |memex_project_link| %>
                <li class="mb-3 d-flex flex-content-stretch col-12 col-lg-6 js-pinned-item-list-item sortable-button-item">
                  <div class="Box d-flex p-3 width-full pinned-item-list-item" <%= test_selector("recommended-memex-project") %>>
                    <div class="d-flex width-full position-relative">
                      <div class="d-flex">
                        <%= render Primer::Beta::Octicon.new(icon: "project-template", color: :muted, size: :medium) %>
                      </div>
                      <div class="ml-2 d-flex flex-1">
                        <div>
                          <%= link_to memex_project_link.memex_project.title, show_org_memex_path(current_organization, memex_project_link.memex_project.number), class: "text-bold wb-break-word color-fg-default f4" %>
                          <% if memex_project_link.memex_project.short_description.present? %>
                            <p class="pinned-item-desc color-fg-muted text-small mt-1 mb-0">
                              <%= memex_project_link.memex_project.short_description %>
                            </p>
                          <% end %>
                        </div>
                      </div>
                      <div>
                        <%= hidden_field_tag "memex_project_links[]", memex_project_link.id %>
                        <span class="pinned-item-handle js-pinned-item-reorder pl-2">
                          <%= render Primer::Beta::Octicon.new(
                            icon: :grabber,
                            aria: { label: "Drag to reorder" },
                          ) %>
                        </span>
                        <%= render Primer::Beta::Button.new(size: :small, right: 0, classes: "show-on-focus sortable-button js-sortable-button", "data-direction": "up") do %>
                          <%= render Primer::Beta::Octicon.new(
                            icon: "chevron-up",
                            aria: { label: "Move #{memex_project_link.memex_project.title} up" },
                          ) %>
                        <% end %>
                        <%= render Primer::Beta::Button.new(size: :small, right: 0, classes: "show-on-focus sortable-button js-sortable-button", "data-direction": "down") do %>
                          <%= render Primer::Beta::Octicon.new(
                            icon: "chevron-down",
                            aria: { label: "Move #{memex_project_link.memex_project.title} down" },
                          ) %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ol>
          <% end %>
        </div>
      <% elsif view.organization.memex_projects.active_projects.templates.any? %>
        <%= render Organizations::Settings::RecommendedMemexProjectsBlankslateComponent.new(border: true) do |component| %>
          <% component.with_visual_icon(icon: "project-template") %>
          <% component.with_heading(tag: :h2).with_content("Customize recommended templates") %>
          <% component.with_description { "Templates can be used to quickly get started with a new project." } %>
          <% component.with_action do %>
            <%= render Primer::Beta::Button.new(
              scheme: :primary,
              data: {
                "show-dialog-id": "edit-recommended-memex-projects",
                target: "modal-dialog.show-button"
              }
            ) do %>
              Add recommended templates
            <% end %>
          <% end %>
        <% end %>
        <%= render Organizations::Settings::RecommendedMemexProjectsDialogComponent.new(organization: view.organization) %>
      <% else %>
        <%= render Primer::Beta::Blankslate.new(border: true) do |component| %>
          <% component.with_visual_icon(icon: "project-template") %>
          <% component.with_heading(tag: :h2).with_content("Create your first GitHub project template") %>
          <% component.with_description { "Templates can be used to quickly get started with a new project." } %>
          <% component.with_primary_action(href: org_projects_path(current_organization, query: "is:open is:template"), target: "_blank").with_content("New template") %>
          <% component.with_secondary_action(href: "https://docs.github.com/issues/planning-and-tracking-with-projects/managing-your-project/managing-project-templates-in-your-organization").with_content("Learn more") %>
        <% end %>
      <% end %>
    </div>
  <% end %>

<% end %>
