<%
  listing = marketplace_listing
  empty_org_spots = Marketplace::Listing::MAX_FEATURED_ORGANIZATIONS_COUNT - featured_organizations.size
%>

<%= render layout: "marketplace_listings/admin_layout", locals: { marketplace_listing: marketplace_listing, selected_tab: :featured_customers } do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Featured customers<% end %>
  <% end %>

  <div>
    <p>Enter up to <%= Marketplace::Listing::MAX_FEATURED_ORGANIZATIONS_COUNT %> organizations that use your product. These organizations will be shown under the "Customers" section on your Marketplace listing.</p>
    <hr>

    <% featured_organizations.each do |featured_org| %>
      <div class="d-flex flex-justify-between flex-items-center">
        <%= profile_link(featured_org.organization, url: user_path(featured_org.organization.display_login)) do %>
          <%= avatar_for(featured_org.organization, 40, class: "avatar mr-1 mb-1") %>
          <%= featured_org.organization.display_login %>
        <% end %>

        <div class="d-flex flex-items-center">
          <div class="d-block">
          <% if featured_org.approved? %>
            <%= render Primer::Beta::Label.new(title: "Approved", scheme: :success, float: :right, vertical_align: :middle) do %>Approved<% end %>
          <% else %>
            <%= render Primer::Beta::Label.new(title: "Pending approval", scheme: :secondary, float: :right, vertical_align: :middle) do %>Pending approval<% end %>
          <% end %>
          </div>
          <%= form_tag destroy_featured_customers_marketplace_listing_path(listing.slug, featured_org.id), method: :delete do %>
            <% render(Primer::Beta::IconButton.new(
              type: :submit,
              id: featured_org.organization.id,
              size: :small,
              scheme: :invisible,
              icon: :x,
              "aria-label": "remove #{featured_org.organization.display_login}",
              data: {
              confirm: "Are you sure you want to remove this customer from your Marketplace listing?",
              disable_with: "..."
              }
            )) %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= form_tag update_featured_customers_marketplace_listing_path(listing.slug), method: :put do %>
      <% empty_org_spots.times do |index| %>
        <input type="text" class="form-control input-block mt-2 input-hide-webkit-autofill" name="marketplace_listing[featured_organization_login][]" placeholder="Organization username" aria-label="Organization username">
      <% end %>

      <hr>

      <% if empty_org_spots %>
        <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary, mt: 2)) do %>Save changes<% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
