<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td align="center">
            <%# If Outlook client, background color is applicable via <td> element %>
            <% if primary_button? && outlook_safe %>
              <!--[if mso]> <table><tr><td align="center" bgcolor="#28a745"> <![endif]-->
                <a href="<%= url %>" target="_blank" rel="noopener noreferrer" class="<%= classes %>"><%= text %></a>
              <!--[if mso]> </td></tr></table> <![endif]-->
            <% else %>
              <a href="<%= url %>" target="_blank" rel="noopener noreferrer" class="<%= classes %>"><%= text %></a>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
