<tr>
  <td class="tiny no-wrap" <%= test_selector("payout-initiated") %>>
    <%= initiated_date %>
  </td>
  <td class="tiny no-wrap" <%= test_selector("payout-amount") %>>
    <%= amount %>
  </td>
  <td class="tiny no-wrap" <%= test_selector("payout-status") %>>
    <%= status %>
  </td>
  <td class="tiny no-wrap text-mono" <%= test_selector("payout-id") %>>
    <a href="<%= payout_dashboard_url %>"><%= payout.id %></a>
  </td>
  <td class="tiny no-wrap" <%= test_selector("payout-arrival") %>>
    <%= arrival_date %>
  </td>
</tr>
