<% if organizations_codespaces_usage.length.zero? %>
  <p class="py-4 color-fg-muted f5 border-bottom">No Codespaces usage by any organization yet</p>
<% else %>
  <% organizations_codespaces_usage.each do |usage| %>
    <div class="d-flex py-3 border-bottom flex-items-center">
      <div class="col-6 d-flex flex-items-center">
        <div class="pr-3">
          <%= usage[:organization_avatar] %>
        </div>
        <strong>
          <% if usage[:adminable] %>
            <%= link_to usage[:organization_name], usage[:manage_organization_href] %>
          <% else %>
            <%= usage[:organization_name] %>
          <% end %>
        </strong>
      </div>
      <div class="col-2">
        <strong><%= number_with_delimiter(usage[:compute_effective_quantity]) %> hours</strong>
      </div>
      <div class="col-2">
        <strong><%= number_with_delimiter(usage[:storage_effective_quantity]) %> GB</strong>
      </div>
      <div class="col-2">
        <strong><%= Billing::Money.new(usage[:cost_in_subunits]).format(no_cents_if_whole: false) %></strong>
      </div>
    </div>
  <% end %>

  <% if number_of_organizations_without_codespaces_usage > 0 %>
    <span class="f5 color-fg-muted pt-2 d-block">
      +<%= pluralize(number_of_organizations_without_codespaces_usage, "organization") %> not using Codespaces.
    </span>
  <% end %>
<% end %>
