<%# We want to show a rounded top for business accounts because they have no header %>
<div class="Box rounded-0 <%= account.business? ? 'rounded-top-2' : 'border-top-0 rounded-top-0' %> border-bottom-0" <%= test_selector "codespaces_usage_compute_component" %>>
  <div class="Box-row d-flex flex-items-center pl-0">
    <details class="billing-box-accordion details-reset width-full">
      <summary>
        <div class="d-flex flex-row flex-items-center">
          <div class="col-1 text-center">
            <%= render Primer::Beta::Octicon.new(icon: "chevron-right", color: :muted, font_size: :small) %>
          </div>
          <div class="<%= included_usage? ? 'col-md-8 col-10' : 'col-md-6 col-8' %> d-flex flex-column pr-3">
            <div class="d-inline-flex flex-justify-between flex-items-baseline">
              <% if included_usage? %>
                <h3 class="h5 color-fg-muted text-bold">Usage hours</h3>
                <div class="text-small">
                  <strong><%= number_with_precision(compute_unrounded_usage, precision: 2, delimiter: ",") %></strong> of <%= number_with_precision(compute_usage_included, precision: 2, delimiter: ",") %> included core hours used
                </div>
              <% else %>
                <h3 class="h5 color-fg-muted text-bold">Usage hours</h3>
              <% end %>
            </div>

            <% if included_usage? %>
              <div class="mt-1" <%= test_selector "included-usage-progress-bar" %>>
                <%= render Billing::Settings::Codespaces::IncludedUsageComponent.new(
                  included_usage_percentage: codespaces_usage.compute_entitlement.consumed_percentage,
                  spending_limit: codespaces_usage.has_spending_limit_set?
                ) %>
              </div>
            <% end %>
          </div>
          <div class="col-6 text-right">
            <% if show_spending %>
              <span class="color-fg-default" <%= test_selector "compute-price" %>><%= total_compute_cost %></span>
            <% end %>
          </div>
        </div>
      </summary>

      <div class="d-flex width-full">
        <div class="col-1"></div>
        <div class="<%= included_usage? ? 'col-10' : 'col-8' %>">
         <%= render(Primer::Beta::Text.new(tag: :p, font_size: :small, color: :muted)) do %>
            Core hours are calculated by multiplying the compute types by their per-hour rates, which can vary
          <% end %>
        </div>
        <div class="col-4"></div>
      </div>

      <%# Dropdown Content %>
      <div class="d-flex pt-4">
        <%# spacing %>
        <div class="flex-shrink-0 col-1"></div>

        <%# list of skus, hours, and cost %>
        <div class="flex-auto mb-n2 text-small">
          <table class="width-full text-left">
            <thead>
              <tr class="color-fg-muted lh-condensed">
                <th scope="col" class="col-5"></th>
                <% if included_usage? %>
                  <th scope="col" class="text-bold col-2 pt-1 pb-2">Included</th>
                  <th scope="col" class="text-bold col-2 pt-1 pb-2">Paid</th>
                <% else %>
                  <th scope="col" class="text-bold <%= show_spending ? 'col-2' : 'col-4' %> pt-1 pb-2">
                    Used hours
                  </th>
                <% end %>
                <% if show_totals? %>
                  <th scope="col" class="text-bold col-2 pt-1 pb-2">Price / hour</th>
                <% end %>
                <% if show_spending %>
                  <th scope="col" class="text-bold col-2 pt-1 pb-2 text-right">Total</th>
                <% end %>
              </tr>
            </thead>

            <tbody class="lh-condensed">
              <div <%= test_selector "usage_compute_skus" %>>
                <% compute_usage_skus.map do |sku_usage| %>
                  <tr class="color-fg-muted">
                    <th scope="row" class="py-2 text-normal">
                      <%= Billing::Api::ClientWrapper.sku_name_to_label(sku_usage.name) %>
                    </th>
                    <% if !show_totals? %>
                      <td class="py-2"><%=  number_with_precision(sku_usage.account_consumed_quantity, precision: 2, delimiter: ",") %></td>
                    <% else %>
                      <% if included_usage? %>
                        <td class="py-2" <%= test_selector "compute-entitlement-consumed-quantity" %>>
                          <%# Raw quantity of entitlements displayed in the sku breakdown %>
                          <%= number_with_precision(sku_usage.entitlement_raw_quantity_consumed, precision: 2, delimiter: ",") %>
                        </td>
                      <% end %>
                      <% if account&.feature_enabled?(:codespaces_billing_no_surprises) && codespaces_usage.is_enterprise_org? %>
                        <td class="py-2"><%= number_with_precision(sku_usage.account_consumed_quantity, precision: 2, delimiter: ",") %></td>
                      <% else %>
                        <td class="py-2"><%= number_with_precision(sku_usage.overage_consumed_quantity, precision: 2, delimiter: ",") %></td>
                      <% end %>
                      <td class="py-2">
                        <%= Billing::Money.new(sku_usage.unit_price * 100).format(no_cents_if_whole: false) %>
                      </td>
                      <% if show_spending %>
                        <td class="py-2 text-right">
                          <% if account&.feature_enabled?(:codespaces_billing_no_surprises) && codespaces_usage.is_enterprise_org? %>
                            <%= Billing::Money.new(sku_usage.account_consumed_cost).format(no_cents_if_whole: false) %>
                          <% else %>
                            <%= Billing::Money.new(sku_usage.estimated_cost).format(no_cents_if_whole: false) %>
                          <% end %>
                        </td>
                      <% end %>
                    <% end %>
                  </tr>
                <% end %>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </details>
  </div>
</div>
