<div class="<%= border_classes %>" <%= test_selector "codespaces_usage_footer_component" %>>
  <div class="Box-footer py-2">
    <div class="my-1 d-flex flex-items-center flex-justify-between flex-items-baseline">
      <div class="ml-md-6 ml-0 pl-md-1 pl-0 color-fg-muted text-small">
        <% if show_billed_to_enterprise? %>
          Billed to <span class="text-bold"><%= enterprise_name %></span>
        <% else %>
          <% if unlimited_spending_limit? %>
            <strong>Unlimited</strong> spending
            <% if spending_limit_path.present? %>
            | <%= link_to "Update", spending_limit_path, class: "Link--inTextBlock" %>
            <% end %>
          <% else %>
            <strong><%= Billing::Money.new(spending_limit_in_subunits).format(no_cents_if_whole: false) %></strong> monthly spending limit
            <% if spending_limit_path.present? %>
              <% if spending_limit_in_subunits == 0 %>
                | <%= link_to "Set up a spending limit", spending_limit_path, class: "Link--inTextBlock" %>
              <% else %>
                | <%= link_to "Update", spending_limit_path, class: "Link--inTextBlock" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <span class="text-bold"><%= total_codespaces_cost %></span>
    </div>
  </div>
</div>
