<div class="Box <%= show_spending ? 'rounded-0 border-bottom-0' : 'rounded-top-0 rounded-bottom-2' %>" <%= test_selector "codespaces_usage_storage_component" %>>
  <div class="Box-row d-flex flex-items-center pl-0">
    <details class="billing-box-accordion details-reset width-full">
      <summary>
        <div class="d-flex flex-row flex-items-center">
          <div class="col-1 text-center">
            <%= render Primer::Beta::Octicon.new(icon: "chevron-right", color: :muted, font_size: :small) %>
          </div>
          <div class="<%= included_usage? ? 'col-md-8 col-10' : 'col-md-6 col-8' %> d-flex flex-column pr-3">
            <div class="d-inline-flex flex-justify-between flex-items-baseline">
              <h3 class="h5 color-fg-muted text-bold">Storage</h3>
              <% if included_usage? %>
                <div class="text-small">
                  <strong><%= number_with_precision(storage_unrounded_usage, precision: 2, delimiter: ",") %></strong> of <%= number_with_precision(storage_usage_included, precision: 2, delimiter: ",") %> included GB-month used
                </div>
              <% end %>
            </div>

            <% if included_usage? %>
              <div class="mt-1" <%= test_selector "included-usage-progress-bar" %>>
                <%= render Billing::Settings::Codespaces::IncludedUsageComponent.new(
                  included_usage_percentage: codespaces_usage.storage_entitlement.consumed_percentage,
                  spending_limit: codespaces_usage.has_spending_limit_set?
                )%>
              </div>
            <% end %>
          </div>
          <div class="col-6 text-right">
            <% if show_spending %>
              <span class="color-fg-default" <%= test_selector "storage-price" %>><%= total_storage_cost %></span>
            <% end %>
          </div>
        </div>
      </summary>

      <div class="d-flex flex-row flex-items-center width-full">
        <div class="col-1"></div>
        <div class="<%= included_usage? ? 'col-10' : 'col-8' %>">
          <%= render(Primer::Beta::Text.new(tag: :p, font_size: :small, color: :muted)) do %>
          Storage usage is updated daily and billed monthly
          <% end %>
        </div>
        <div class="col-4"></div>
      </div>

      <%# Dropdown Content %>
      <div class="d-flex pt-4">
        <%# spacing %>
        <div class="flex-shrink-0 col-1"></div>

        <%# list of skus and cost %>
        <div class="flex-auto mb-n2 text-small">
          <table class="width-full text-left">
            <thead>
              <tr class="color-fg-muted lh-condensed">
                <th class="col-5"></th>
                <% if included_usage? %>
                  <th class="text-bold col-2 pt-1 pb-2">Included</th>
                  <th class="text-bold col-2 pt-1 pb-2">Paid</th>
                <% else %>
                  <th class="text-bold <%= !show_cost? ? 'col-4' : 'col-2' %> pt-1 pb-2">
                    Used GB
                  </th>
                <% end %>
                <% if show_cost? %>
                  <th class="text-bold col-2 pt-1 pb-2">Price / GB</th>
                <% end %>
                <% if show_spending %>
                  <th class="text-bold col-2 pt-1 pb-2 text-right">Total</th>
                <% end %>
              </tr>
            </thead>

            <tbody class="lh-condensed">
              <%# Section: Show all Storage usage broken down by SKU %>
              <div <%= test_selector "usage_storage_skus" %>>
                <% storage_usage_skus.map do |sku_usage| %>
                  <tr class="color-fg-muted">
                    <th scope="row" class="py-2">
                      <%= Billing::Api::ClientWrapper.sku_name_to_label(sku_usage.name) %>
                    </th>
                    <% if included_usage? %>
                      <td class="py-2" <%= test_selector "storage-entitlement-consumed-quantity" %>>
                        <%# Raw quantity of entitlements displayed in the sku breakdown %>
                        <%= number_with_precision(sku_usage.entitlement_raw_quantity_consumed, precision: 2, delimiter: ",") %>
                      </td>
                    <% end %>
                    <% if codespaces_usage.is_enterprise_org? %>
                      <td class="py-2"><%=  number_with_precision(sku_usage.account_consumed_quantity, precision: 2, delimiter: ",") %></td>
                      <% if show_cost? %>
                        <td class="py-2">
                          <%= Billing::Money.new(sku_usage.unit_price * 100).format(no_cents_if_whole: false) %>
                        </td>
                      <% end %>
                    <% else %>
                      <td class="py-2"><%=  number_with_precision(sku_usage.overage_consumed_quantity, precision: 2, delimiter: ",") %></td>
                      <td class="py-2">
                        <%= Billing::Money.new(sku_usage.unit_price * 100).format(no_cents_if_whole: false) %>
                      </td>
                    <% end %>
                    <% if show_spending %>
                      <td class="py-2 text-right">
                      <% if codespaces_usage.account&.feature_enabled?(:codespaces_billing_no_surprises) && codespaces_usage.is_enterprise_org? %>
                      <%= Billing::Money.new(sku_usage.account_consumed_cost).format(no_cents_if_whole: false) %>
                      <% else %>
                        <%= Billing::Money.new(sku_usage.estimated_cost).format(no_cents_if_whole: false) %>
                      <% end %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </div>
            </tbody>
          </table>
        </div>
      </div>
    </details>
  </div>
</div>
