<div class="<%= account.business? ? '' : 'Box'%>" <%= test_selector "codespaces_usage_component" %>>
<%# Business usage components are minimal and do not show a heading %>
<% if !account.business? %>
  <div class="Box-header d-flex flex-items-center" <%= test_selector "codespaces_usage_header_component" %>>
      <img width="32" height="32" alt="Codespaces" src="<%= image_path "modules/site/icons/codespaces.svg" %>">
      <div class="pl-2 ml-1 lh-sm-condensed">
        <h3 class="Box-title">
          Codespaces
        </h3>
        <% if !is_stafftools %>
          <span class="text-small text-normal color-fg-muted"><%= box_title_subtitle %></span>
        <% end %>
      </div>
      <% if is_stafftools %>
        <div <%= test_selector "codespaces_stafftools_link" %> class="ml-1">
          <%= render(Primer::Beta::Button.new(tag: :a, scheme: :link, href: "#{stafftools_user_codespaces_path(account)}", "aria-label": "Link to the users stafftools codespaces page")) do |c| %>
            <%= render(Primer::Beta::Octicon.new(:"link-external",)) %>
          <% end %>
        </div>
      <% end %>
  </div>
<% end %>
</div>

<%# Async request to get the usage data for codespaces to not block the billing UI page.
This will in turn render the Stafftools::Billing::Codespaces::UsageBodyComponent %>
<% classes = account.business? ? 'Box rounded-bottom-2 p-4 mb-4 text-center rounded-top-2' : "Box rounded-bottom-2 p-4 mb-4 text-center rounded-top-0 border-top-0" %>
<div class="mb-4">
  <%= render(Billing::Settings::UsageLoaderComponent.new(
    loading_text: "Loading Codespaces data...",
    source: usage_source_path,
    classes: classes)) %>
</div>
