<div <%= test_selector "codespaces_usage_component_body" %>>
  <% if has_codespaces_usage? %>
      <%= render Billing::Settings::Codespaces::ComputeComponent.new(
        account: account,
        codespaces_usage: codespaces_usage,
        show_spending: show_spending
      ) %>
      <%= render Billing::Settings::Codespaces::StorageComponent.new(
        account: account,
        codespaces_usage: codespaces_usage,
        show_spending: show_spending
      ) %>
      <% if show_spending %>
        <%= render Billing::Settings::Codespaces::FooterComponent.new(
          account: account,
          spending_limit_path: spending_limit_path,
          codespaces_usage: codespaces_usage,
          show_projected_usage: show_projected_usage?,
        ) %>
        <% if show_projected_usage? %>
          <%= render Billing::Settings::Codespaces::ProjectedUsageComponent.new(
            account: account,
            codespaces_usage: codespaces_usage
          ) %>
        <% end %>
      <% end %>
  <% else %>
    <div class="Box rounded-top-0 border-top-0 color-fg-muted text-center" <%= test_selector "codespaces_usage_component_error" %>>
      <div class="Box-row">
        <p class="m-2">
          <%= primer_octicon(:stop, color: :muted, mr: 2) %>
          Error: Unable to load the data at this time.
          <%= link_to "Refresh", "", class: "Link--inTextBlock" %>
          the page or try again later.
        </p>
      </div>
    </div>
  <% end %>
</div>
