<% page_info title: "Trigger High Watermark Rollover" %>
<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Trigger High Watermark Rollover
    <% end %>
    <% component.with_description do %>
      This tool is to trigger the monthly rollover job for a specific customer in billing platform. You can also use it to reprocess for all customers, if you do not input a customer ID. Please use caution while doing this!

      The monthly rollover is used to re-emit usage for all active seats for the customer for the new month.
      <br>
      <br>
      Monitor the rollover job via the
      <%= link_to("dashboard", "https://app.datadoghq.com/dashboard/tfz-2tq-azn/high-watermark-billing?refresh_mode=sliding&from_ts=1699903708895&to_ts=1699990108895&live=true", class: "Link--inTextBlock") %>.
    <% end %>
  <% end %>

  <%= form_tag stafftools_billing_trigger_high_watermark_rollover_trigger_path, :method => :get do %>
    <div class="form-group">
      <div class="form-group">
        <div class="form-group-header">
          <%= label_tag "rollover_runtime", "Select a year for the rollover" %>
        </div>
        <div class="form-group-body">
          <%= text_field_tag :rollover_year, DateTime.now.beginning_of_day.strftime("%Y") %>
        </div>
        <div class="form-group-header">
          <%= label_tag "rollover_runtime", "Select a month for the rollover" %>
        </div>
        <div class="form-group-body">
          <%= text_field_tag :rollover_month, DateTime.now.beginning_of_day.strftime("%m") %>
        </div>
        <div class="form-group-header">
          <%= label_tag "customer_id", "Customer ID" %>
        </div>
        <div class="form-group-body">
          <%= text_field_tag :customer_id %>
        </div>
        <div class="form-group-header">
          <%= label_tag "sku", "SKU" %>
        </div>
        <div class="form-group-body">
          <%= text_field_tag :sku %>
        </div>
        <div class="form-group-header">
          <%= label_tag "dry_run", "Dry Run" %>
        </div>
        <div class="form-group-body">
          <%= check_box_tag :dry_run %>
        </div>
      </div>
    </div>

    <%= submit_tag "Run workflow", class: "btn btn-danger", data: { confirm: 'Are you sure you want to manually re-run the rollover? If you do not input a customer ID, this will run for all customers onboarded to Billing Platform. Please use caution while doing this!' } %>
  <% end %>
<% end %>
