<% status = capture do %>
  <div class="d-flex flex-1 flex-justify-end color-fg-muted flex-items-center">
    <% if organization_login != nil %>
      <span class="d-flex flex-items-center mr-3 col-8 hide-md hide-sm flex-justify-end text-right"> <%= invitation.original_object.failed_reason_description %> </span>
      <span class="d-flex flex-items-center mr-3 col-4 hide-sm">
        <%= render(Primer::Beta::Octicon.new(icon: "organization", "aria-label": "Organization", mr: 1)) %> <%= organization_login %>
      </span>

      <%= render(Primer::Alpha::ActionMenu.new) do |menu| %>
        <% menu.with_show_button(
          icon: :"kebab-horizontal",
          "aria-label": "Failed invitation menu"
        ) %>
        <% if invitation.scim_provisioned? %>
          <% menu.with_item(
            label: "Invite provisioned via SCIM",
            value: "",
            test_selector: "scim-invitation-warning",
          ) do |item| %>
            <% item.with_description do %>
              This invite was provisioned via SCIM. Changes to the invite should be handled
              with your Identity Provider.
            <% end %>
          <% end %>
        <% else %>
          <% menu.with_item(
            label: "Cancel invitation",
            scheme: :danger,
            tag: :button,
            content_arguments: { "data-show-dialog-id": "cancel-invitation-#{invitation.original_object.email_or_invitee_login}" },
            value: "",
            test_selector: "cancel-invitation",
          ) %>
          <% menu.with_item(
            label: "Retry invitation",
            scheme: :danger,
            tag: :button,
            content_arguments: { "data-show-dialog-id": "retry-invitation-#{invitation.original_object.email_or_invitee_login}" },
            value: "",
            test_selector: "retry-invitation",
          ) %>
        <% end %>
      <% end %>

      <% unless invitation.scim_provisioned? %>
        <%= render "businesses/admins/retry_failed_invitation_from_business",
          business_slug: this_business,
          user: invitation.invitee,
          invitation: invitation,
          org: organization_login %>
        <%= render "businesses/admins/cancel_failed_invitation_from_business",
          business_slug: this_business,
          user: invitation.invitee,
          invitation: invitation,
          org: organization_login %>
      <% end %>
    <% else %>
      <span class="mr-1 color-fg-muted">
        <%= primer_octicon(:info, color: :muted, mr: 1) %>
        No invite sent
      </span>
    <% end %>
  </div>
<% end %>

<% if invitee = invitation.invitee %>
  <%= render Businesses::UserListCardComponent.new(
    user: invitee,
    user_link: enterprise_pending_member_path(this_business, invitee),
    user_link_data_options: hovercard_data_attributes_for_user(invitee),
    primary_name: invitee.safe_profile_name,
    subtitle: invitee.profile_name.present? ? invitee.display_login : nil,
    spammy: invitee.spammy?,
    display_login: invitee.display_login,
    bulk_action_enabled: true,
    bulk_attribute: "invitation_ids",
    bulk_id: invitation.original_object.id,
    bulk_action_prevent_selection: invitation.scim_provisioned?
  ) do %>
    <%= status %>
  <% end %>
<% else %>
  <%= render Businesses::UserListCardComponent.new(
    octicon: "mail",
    primary_name: invitation.original_object.email,
    bulk_action_enabled: true,
    bulk_attribute: "invitation_ids",
    bulk_id: invitation.original_object.id,
    bulk_action_prevent_selection: invitation.scim_provisioned?
  ) do %>
    <%= status %>
  <% end %>
<% end %>
