<div class="border-right d-flex flex-column col-lg-4 col-md-12 <% unless responsive? %>color-bg-subtle<% end %>">
  <div class="p-3 color-bg-default border-bottom">
    <div class="f3 d-flex flex-items-center">
      <%= avatar_for business, 24, class: "rounded-2 mr-2" %>
      <%= business.name %>
      <h1 class="sr-only"><%= business.name %></h1>
    </div>
    <% if business.safe_description.present? %>
      <div class="color-fg-muted mt-1 pb-1"><%= business.safe_description %></div>
    <% end %>
    <% if business.location.present? %>
      <div class="d-flex mt-1 f6 color-fg-default">
        <%= primer_octicon :location, mr: 1 %>
        <%= business.location %>
      </div>
    <% end %>
    <% if business.website_url.present? %>
      <div class="d-flex mt-1 f6 color-fg-default">
        <%= primer_octicon :link, mr: 1 %>
        <%= safe_autolink \
          business.website_url,
          rel: "nofollow",
          class: "color-fg-default",
          title: business.website_url %>
      </div>
    <% end %>
  </div>

  <%= render Businesses::EnterpriseAccountNavComponent.new \
    business: business,
    responsive: responsive?,
    selected_link: selected_link %>

  <%= render Businesses::AdvancedSecurity::CardPromotionComponent.new(
    business: business,
    user: current_user,
  ) %>
</div>
