<% title ||= nil  %>
<% back_to_link_path ||= nil  %>
<% back_to_link_text ||= nil  %>
<% container_attributes ||= nil %>
<% back_to_link_present = back_to_link_path && back_to_link_text %>
<% hide_header ||= false %>
<% header_description ||= nil %>
<% business_test_selector ||= nil %>
<% header_component_action ||= nil %>
<% banner_component ||= nil %>

<% page_info class: "full-width full-width-p-0" %>

<%# rubocop:disable GitHub/ContentFor %>
<% content_for :site_banner do %>
  <%= render Billing::SalesTaxBannerComponent.new(account: business, current_user: current_user) %>
<% end %>

<% if show_onboarding_experience_banner?(business) %>
  <%= render Businesses::EnterpriseCloudTrialBannerComponent.new(business: business, on_dashboard: current_page?(enterprise_getting_started_path(business))) %>
<% end %>

<%= render Businesses::AdvancedSecurity::TrialBannerComponent.new(business: business, user: current_user) %>

<%= render Businesses::DunningBannerComponent.new(business: business, current_user: current_user) %>

<%= render Businesses::DowngradedFromCouponExpirationBannerComponent.new(business: business, current_user: current_user) %>

<%= render Businesses::RBIFailedPaymentTrialAccountBannerComponent.new(business: business, current_user: current_user) %>

<%= render(Site::EnterpriseBannersComponent.new) %>

<%= render_nothing_if_database_fails do %>
  <%= render Businesses::EnterprisePaymentInfoReminderBannerComponent.new(business) %>
<% end %>

<div
  class="<% if responsive? %>d-lg-flex flex-lg-items-stretch border-bottom<% else %>d-flex flex-items-stretch border-bottom pr-4<% end %>"
  style="min-height: 80vh"
  <%= container_attributes if container_attributes %>
  >
  <% if hide_header %>
    <% unless responsive? %>
      <div class="d-flex flex-column mr-4" style="min-width: 278px"></div>
    <% end %>
  <% else %>
    <%= render "businesses/header", business: business %>
  <% end %>

  <div class="<% if responsive? %>width-full<% else %>flex-auto container-xl p-6<% end %> min-width-0" <%= test_selector(business_test_selector) unless business_test_selector.blank? %>>


    <% if responsive? %>
      <div class="pt-4 px-3 px-md-4 pb-6 d-flex flex-auto flex-justify-center">
        <div class="col-12 col-lg-10 container-lg">
          <% if back_to_link_present %>
            <% if responsive? %>
              <%= link_to back_to_link_path, class: "btn-link d-inline-flex flex-items-center mb-3" do %>
                <%= render(Primer::Beta::Octicon.new(:"arrow-left", size: :small)) %>
                <span class="ml-2">Back to <%= back_to_link_text %></span>
              <% end %>
            <% else %>
              <%= link_to back_to_link_path, class: "btn-link ml-n3 d-inline-flex flex-items-center mb-3" do %>
                <%= render(Primer::Beta::Octicon.new(:"arrow-left", size: :small)) %>
                <span class="ml-2">Back to <%= back_to_link_text %></span>
              <% end %>
            <% end %>
          <% end %>
          <% if title %>
            <%= render Primer::Beta::Subhead.new do |component| %>
              <% if hide_header %>
                <% component.with_heading(tag: :h1) do %>
                  <%= title %>
                <% end %>
              <% else %>
                <% component.with_heading(tag: :h2) do %>
                  <%= title %>
                <% end %>
              <% end %>
              <% if header_component_action %>
                <% component.with_actions do %>
                  <%= header_component_action %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% if banner_component %>
            <%= banner_component %>
          <% end %>
          <% if header_description %>
            <p class="mt-3 mb-4"><%= header_description %></p>
          <% end %>

          <%= yield %>
        </div>
      </div>
    <% else %>
      <% if title || header_description %>
        <div class="pb-4">
          <% if title %>
            <h1 class="h1"><%= title %></h1>
          <% end %>
          <% if header_description %>
            <p class="color-fg-muted"><%= header_description %></p>
          <% end %>
        </div>
      <% end %>

      <%= yield %>
    <% end %>
  </div>
</div>
