<details class="details-reset details-overlay mr-2 mb-1 select-menu d-inline-block" <%= test_selector "role-filter-button" %>>
  <%= render Primer::Beta::Button.new(
    tag: :summary,
    align_content: :start,
    "aria-haspopup": "true"
  ) do |c| %>
    <% c.with_trailing_action_icon(icon: "triangle-down") %>
    Role
  <% end %>
  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by role</span>
    </div>
    <div class="select-menu-list">
      <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(role: nil)) %>"
          class="select-menu-item" aria-checked="<%= view.role.nil? %>" role="menuitemradio">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <div class="select-menu-item-text">Everyone</div>
      </a>
      <% if view.owner_actor? && !view.basic? %>
        <% value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["OWNER"].value %>
        <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(role: value)) %>"
            class="select-menu-item" aria-checked="<%= view.role == value %>" role="menuitemradio">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">Organization owners</div>
        </a>
        <% value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["MEMBER"].value %>
        <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(role: value)) %>"
            class="select-menu-item" aria-checked="<%= view.role == value %>" role="menuitemradio">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">Organization members</div>
        </a>
      <% end %>
      <% value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["ENTERPRISE_OWNER"].value %>
      <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(role: value)) %>"
          class="select-menu-item" aria-checked="<%= view.role == value %>" role="menuitemradio">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <div class="select-menu-item-text">Enterprise owners</div>
      </a>
      <% if !GitHub.enterprise? && view.owner_actor? %>
        <% value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["BILLING_MANAGER"].value %>
        <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(role: value)) %>"
            class="select-menu-item" aria-checked="<%= view.role == value %>" role="menuitemradio">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">Billing managers</div>
        </a>
      <% end %>
      <% if view.owner_actor? && this_business.enterprise_managed_user_enabled? %>
        <% value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["GUEST_COLLABORATOR"].value %>
        <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(role: value)) %>"
            class="select-menu-item" aria-checked="<%= view.role == value %>" role="menuitemradio">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">
            Guest collaborators
          </div>
        </a>
      <% end %>
      <% if view.owner_actor? && show_unaffiliated_members?(this_business) %>
        <% value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["UNAFFILIATED"].value %>
        <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(role: value)) %>"
            class="select-menu-item" aria-checked="<%= view.role == value %>" role="menuitemradio">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">Unaffiliated</div>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>

<% if GitHub.single_business_environment? && GitHub.auth.saml? %>
  <details class="details-reset details-overlay mr-2 mb-1 select-menu d-inline-block" <%= test_selector "account-type-filter-button" %>>
    <%= render Primer::Beta::Button.new(
      tag: :summary,
      align_content: :start,
      "aria-haspopup": "true"
    ) do |c| %>
      <% c.with_trailing_action_icon(icon: "triangle-down") %>
      Account Type
    <% end %>
    <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-header">
        <span class="select-menu-title">Filter by account type</span>
      </div>
      <div class="select-menu-list">
        <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(account_type: nil)) %>"
          class="select-menu-item" aria-checked="<%= view.account_type.nil? %>" role="menuitemradio">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">Everyone</div>
        </a>
        <% if view.owner_actor? && !view.basic? %>
          <% value = BusinessesHelper::ACCOUNT_TYPE["BUILT_IN"] %>
          <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(account_type: value)) %>"
              class="select-menu-item" aria-checked="<%= view.account_type == value %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Built-in</div>
          </a>
          <% value = BusinessesHelper::ACCOUNT_TYPE["SAML_LINKED"] %>
          <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(account_type: value)) %>"
              class="select-menu-item" aria-checked="<%= view.account_type == value %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">SAML linked</div>
          </a>
          <% value = BusinessesHelper::ACCOUNT_TYPE["SAML_AND_SCIM_LINKED"] %>
          <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(account_type: value)) %>"
              class="select-menu-item" aria-checked="<%= view.account_type == value %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">SAML and SCIM linked</div>
          </a>
        <% end %>
      </div>
    </details-menu>
  </details>
<% end %>

<% if !GitHub.single_business_environment? || !view.owner_actor? %>
  <% if vss_enabled || (view.copilot_enabled? && view.owner_actor?) %>
    <details class="details-reset details-overlay mr-2 mb-1 select-menu d-inline-block" <%= test_selector "license-filter-button" %>>
      <%= render Primer::Beta::Button.new(
        tag: :summary,
        align_content: :start,
        "aria-haspopup": "true"
      ) do |c| %>
        <% c.with_trailing_action_icon(icon: "triangle-down") %>
        License
      <% end %>
      <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-header">
          <span class="select-menu-title">Filter by license type</span>
        </div>
        <div class="select-menu-list">
          <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(license: nil)) %>"
              class="select-menu-item" aria-checked="<%= view.license.nil? %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">All</div>
          </a>
          <% if vss_enabled %>
            <% Platform::Enums::EnterpriseLicenseType.values.values.each do |license_type| %>
              <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(license: license_type.value)) %>"
                  class="select-menu-item" aria-checked="<%= view.license == license_type.value %>" role="menuitemradio" <%= test_selector "license-filter-type-#{license_type.value}" %>>
                  <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                  <div class="select-menu-item-text"><%= license_type.description %></div>
              </a>
            <% end %>
          <% elsif view.copilot_enabled? %>
            <% BusinessesHelper::ADDITIONAL_ENTERPRISE_LICENSE_TYPES.values.each do |license_type| %>
              <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(license: license_type)) %>"
                  class="select-menu-item" aria-checked="<%= view.license == license_type %>" role="menuitemradio" <%= test_selector "license-filter-type-#{license_type}" %>>
                  <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                  <div class="select-menu-item-text"><%= BusinessesHelper::ADDITIONAL_ENTERPRISE_LICENSE_TYPE_DESCRIPTIONS[license_type] %></div>
              </a>
            <% end %>
          <% end %>
        </div>
      </details-menu>
    </details>
  <% end %>

  <% if connected_ghes_instances %>
    <details class="details-reset details-overlay mr-2 mb-1 select-menu d-inline-block" <%= test_selector "deployment-filter-button" %>>
      <%= render Primer::Beta::Button.new(
        tag: :summary,
        align_content: :start,
        "aria-haspopup": "true"
      ) do |c| %>
        <% c.with_trailing_action_icon(icon: "triangle-down") %>
        Deployment
      <% end %>
      <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-header">
          <span class="select-menu-title">Filter by deployment type</span>
        </div>
        <div class="select-menu-list">
          <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(deployment: nil)) %>"
              class="select-menu-item" aria-checked="<%= view.deployment.nil? %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">All</div>
          </a>
          <% value = Platform::Enums::EnterpriseUserDeployment.values["CLOUD"].value %>
          <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(deployment: value)) %>"
              class="select-menu-item" aria-checked="<%= view.deployment == value %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Cloud</div>
          </a>
          <% value = Platform::Enums::EnterpriseUserDeployment.values["SERVER"].value %>
          <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(deployment: value)) %>"
              class="select-menu-item" aria-checked="<%= view.deployment == value %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Server</div>
          </a>
        </div>
      </details-menu>
    </details>
  <% end %>
<% end %>

<% if view.owner_actor? %>
  <% unless view.basic? %>
    <details class="details-reset details-overlay mr-2 mb-1 select-menu d-inline-block" <%= test_selector "org-filter-button" %>>
    <%= render Primer::Beta::Button.new(
      tag: :summary,
      align_content: :start,
      "aria-haspopup": "true"
    ) do |c| %>
      <% c.with_trailing_action_icon(icon: "triangle-down") %>
      Organization
    <% end %>
      <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"
        src="<%= enterprise_org_filter_menu_content_path(this_business, "members", query: query, q: params[:q]) %>"
        preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-header">
          <span class="select-menu-title">Filter by organization</span>
        </div>
        <div class="select-menu-filters">
          <div class="select-menu-text-filter">
            <input type="text" id="orgs-filter-field" class="form-control js-filterable-field"
              placeholder="Filter organizations" aria-label="Filter organizations"
              autocomplete="off" autofocus>
          </div>
        </div>
        <include-fragment aria-label="Loading">
          <%= render(Primer::Beta::Spinner.new(my: 6, mx: :auto, display: :block)) %>
        </include-fragment>
      </details-menu>
    </details>
  <% end %>

  <details class="details-reset details-overlay mr-2 mb-1 select-menu d-inline-block" <%= test_selector "two-factor-filter-button" %>>
    <%= render Primer::Beta::Button.new(
      tag: :summary,
      align_content: :start,
      "aria-haspopup": "true"
    ) do |c| %>
      <% c.with_trailing_action_icon(icon: "triangle-down") %>
      2FA
    <% end %>
    <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-header">
        <span class="select-menu-title">Filter by two-factor authentication</span>
      </div>
      <div class="select-menu-list">
        <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(two_factor_status: nil)) %>"
            class="select-menu-item" aria-checked="<%= view.two_factor_status.nil? %>" role="menuitemradio">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">Everyone</div>
        </a>
        <% value = BusinessesHelper::TWO_FACTOR_STATUS["ENABLED"] %>
        <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(two_factor_status: value)) %>"
            class="select-menu-item" aria-checked="<%= view.two_factor_status == value %>" role="menuitemradio">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">Enabled</div>
        </a>
        <% value = BusinessesHelper::TWO_FACTOR_STATUS["REQUIRED"] %>
        <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(two_factor_status: value)) %>"
            class="select-menu-item" aria-checked="<%= view.two_factor_status == value %>" role="menuitemradio">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">Required</div>
        </a>
        <% value = BusinessesHelper::TWO_FACTOR_STATUS["DISABLED"] %>
        <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(two_factor_status: value)) %>"
            class="select-menu-item" aria-checked="<%= view.two_factor_status == value %>" role="menuitemradio">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">Disabled</div>
        </a>
      </div>
    </details-menu>
  </details>

  <% if show_cost_center?(this_business) %>
    <%= render partial: "businesses/people/cost_center_filter_menu", locals: {
      view: view,
    } %>
  <% end %>
<% end %>
