<div class="col-6">
  <%= render Primer::Beta::Octicon.new(icon: "person", aria: { label: "members" }) %>
  <span class="mr-1" <%= test_selector "enterprise-org-#{organization.id}-members-counter" %>>
    <%= number_with_delimiter(members_count) %>
  </span>
</div>
<div class="col-6">
  <% unless repos_count.nil? %>
    <%= render Primer::Beta::Octicon.new(icon: "repo", aria: { label: "repositories" }) %>
    <span class="mr-1" <%= test_selector "enterprise-org-#{organization.id}-repos-counter" %>>
      <%= number_with_delimiter(repos_count) %>
    </span>
  <% end %>
</div>
