<% view = Businesses::OutsideCollaboratorsView.new(query: query) %>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to enterprise_outside_collaborators_path(this_business), class: "issues-reset-query" do %>
      <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex table-list-header table-list-header-next">
  <span data-autosearch-results class="table-list-heading table-list-header-meta flex-auto">
    <%= number_with_delimiter outside_collaborators.count %>
    <%= pluralize_without_number outside_collaborators.count, outside_collaborators_verbiage(this_business).singularize %> <%= view.organizations&.any? ? " with repository access in #{view.organizations.join(' or ')} " : "" %>
      in <%= this_business.name %>
  </span>
</div>

<% if outside_collaborators.count > 0 %>
  <ul>
    <% outside_collaborators.each do |collaborator| %>
      <%= render Businesses::UserListCardComponent.new(
        user: collaborator,
        user_link: enterprise_outside_collaborator_path(this_business, collaborator.display_login),
        user_link_data_options: view.outside_collaborator_link_data_options(collaborator),
        primary_name: collaborator.safe_profile_name,
        subtitle: collaborator.profile_name.present? ? collaborator.display_login : nil,
        spammy: collaborator.spammy?,
        display_login: collaborator.display_login
      ) do %>
        <div <%= test_selector "outside-collab-#{collaborator.id}" %>></div>
        <%= render GitHub::BatchDeferredContentComponent.new(
          url: enterprise_outside_collaborator_details_path(this_business),
          inputs: { outside_collaborator_id: collaborator.id }
        ) do %>
          <span class="Skeleton d-inline-block ml-1 Skeleton--text">Loading…</span>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate(outside_collaborators) %>
  </div>
<% elsif query.present? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>

    <% c.with_heading(tag: :h2) do %>
      No collaborators found
    <% end %>

    <% c.with_description do %>
      <%= "There aren’t any #{outside_collaborators_verbiage(this_business)} in this enterprise matching '#{query}'." %>
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "person") %>

    <% c.with_heading(tag: :h2) do %>
      No collaborators found
    <% end %>

    <% c.with_description do %>
      <%= "No #{outside_collaborators_verbiage(this_business)} in this enterprise." %>
    <% end %>
  <% end %>
<% end %>
