<% invitee_organizations = capture do %>
  <% if organization_logins.count > 0 %>
    <%= render(Primer::Beta::Octicon.new(:"organization")) %>
    <%= organization_logins.count %>
  <% else %>
    0 organizations
  <% end %>
<% end %>

<% status = capture do %>
  <div class="d-flex color-fg-muted flex-items-center flex-wrap mx-3">
    <% if organization_logins.count > 0 %>
      <span class="mr-3"> <%= invitee_organizations %> </span>
      <span style="width: 200px"> <%= render(Primer::Beta::Octicon.new(:"calendar")) %> Invited on <%= invitation.original_object.updated_at.strftime("%b %-d, %Y") %> </span>
      <span class="css-truncate css-truncate-target expandable" style="width: 120px">
        by
        <% if invitation.original_object.invitation_source == "member" %>
          <%= render(Primer::Beta::Link.new(href: urls.user_path(invitation.original_object.inviter), scheme: :primary, classes: "Link--inTextBlock")) { invitation.original_object.inviter.display_login } %>
        <% elsif invitation.original_object.invitation_source == "scim" || invitation.original_object.external_identity.present? %>
          SCIM
        <% else %>
          <%= invitation.original_object.invitation_source %>
        <% end %>
      </span>

      <%= render(Primer::Alpha::ActionMenu.new) do |menu| %>
        <% menu.with_show_button(
          icon: :"kebab-horizontal",
          "aria-label": "Pending member menu"
        ) %>
        <% if invitation.scim_provisioned? %>
          <% menu.with_item(
            label: "Invite provisioned via SCIM",
            value: "",
            test_selector: "scim-invitation-warning",
          ) do |item| %>
            <% item.with_description do %>
              This invite was provisioned via SCIM. Changes to the invite should be handled
              with your Identity Provider.
            <% end %>
          <% end %>
        <% else %>
          <% menu.with_item(
            label: "Cancel invitation",
            scheme: :danger,
            tag: :button,
            content_arguments: { "data-show-dialog-id": "cancel-invitation-#{invitation.original_object.email_or_invitee_login}" },
            value: "",
            test_selector: "cancel-invitation",
          ) %>
        <% end %>
      <% end %>
      <% unless invitation.scim_provisioned? %>
        <%= render "businesses/cancel_member_invitations",
          business_slug: this_business,
          user: invitation.invitee,
          pending_invitation: invitation,
          orgs: organization_logins %>
      <% end %>
    <% else %>
      <span class="mr-1 color-fg-muted">
        <%= primer_octicon(:info, color: :muted, mr: 1) %>
        No invite sent
      </span>
    <% end %>
  </div>
<% end %>

<% bulk_action_prevent_selection = invitation.scim_provisioned? || organization_logins.count == 0 %>
<% if invitee = invitation.invitee %>
  <%= render Businesses::UserListCardComponent.new(
    user: invitee,
    user_link: enterprise_pending_member_path(this_business, invitee),
    user_link_data_options: hovercard_data_attributes_for_user(invitee),
    primary_name: invitee.safe_profile_name,
    subtitle: invitee.profile_name.present? ? invitee.display_login : nil,
    spammy: invitee.spammy?,
    display_login: invitee.display_login,
    bulk_id: invitation.original_object.id,
    bulk_action_enabled: true,
    bulk_attribute: "invitation_ids",
    bulk_action_prevent_selection: bulk_action_prevent_selection
  ) do %>
    <%= status %>
  <% end %>
<% else %>
  <%= render Businesses::UserListCardComponent.new(
    octicon: "mail",
    primary_name: invitation.original_object.email,
    bulk_id: invitation.original_object.id,
    bulk_action_enabled: true,
    bulk_attribute: "invitation_ids",
    bulk_action_prevent_selection: bulk_action_prevent_selection
  ) do %>
    <%= status %>
  <% end %>
<% end %>
