<% view = Businesses::PendingMembersView.new(invitations: pending_member_invitations, business: this_business, query: query) %>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper mt-3">
    <%= link_to enterprise_pending_members_path(this_business), class: "issues-reset-query" do %>
      <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
      Clear current search query, filters, and sorts
    <% end %>
  </div>
<% end %>

<div id="business-pending-invitations-list" class="js-check-all-container js-bulk-actions-container"
  data-bulk-actions-url="<%= enterprise_pending_invitation_actions_path(this_business, invitation_type: "member") %>"
  data-bulk-actions-parameter="invitation_ids" <%= test_selector "pending-invitations-list" %>
  data-hpc>
  <div class="d-flex table-list-header table-list-header-next" style="min-width:360px">
      <div class="d-flex pl-3 pr-1">
        <input type="checkbox" id="select-all-on-page" data-check-all>
      </div>
      <span class="d-flex js-bulk-actions table-list-heading table-list-header-meta flex-auto">
        <%= render Businesses::People::PendingInvitationToolbarActionsComponent.new \
          business: this_business,
          selected_invitations: [],
          pending_invitations: pending_member_invitations
        %>
      </span>

    <div class="table-list-header-toggle pl-0 pt-1">
      <%= render(Primer::Alpha::ActionMenu.new(
        select_variant: :single,
        mt: 2,
        mr: 2
      )) do |menu| %>
        <% menu.with_show_button(
          test_selector: "sort-button",
        ) do |button| %>
          <% button.with_trailing_action_icon(icon: :"triangle-down") %>
          Sort
        <% end %>
        <% menu.with_item(
          label: "Newest",
          href: enterprise_pending_members_path(this_business, query: view.apply_query_filters(sort: "created-desc")),
          active: (order_by_field.blank? && order_by_direction.blank?) || (order_by_direction == "desc" && order_by_field == "created_at"),
        ) %>
        <% menu.with_item(
          label: "Oldest",
          href: enterprise_pending_members_path(this_business, query: view.apply_query_filters(sort: "created-asc")),
          active: order_by_direction == "asc" && order_by_field == "created_at",
        ) %>
        <% menu.with_item(
          label: "A-Z",
          href: enterprise_pending_members_path(this_business, query: view.apply_query_filters(sort: "title-asc")),
          active: order_by_direction == "asc" && order_by_field == "title",
        ) %>
        <% menu.with_item(
          label: "Z-A",
          href: enterprise_pending_members_path(this_business, query: view.apply_query_filters(sort: "title-desc")),
          active: order_by_direction == "desc" && order_by_field == "title",
        ) %>
      <% end %>
    </div>
  </div>

  <% if pending_member_invitations.count > 0 %>
    <ul style="min-width:360px">
      <li style="display: none !important" class="d-flex border border-top-0 p-3 js-bulk-actions-item flex-row" data-bulk-actions-id="all">
        <input type="checkbox" name="invitation_ids[]" id="hidden-select-all-checkbox" value="all" <% if params[:invitation_ids]&.include?("all") %>checked<% end %> class="js-bulk-actions-toggle">
      </li>

      <% view.invitations_rollup.each do |invitation, rollup| %>
        <%= render "businesses/pending_member",
              invitation: invitation,
              organization_logins: rollup[:logins] %>
      <% end %>
    </ul>

    <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
      <%= will_paginate(pending_member_invitations, page: current_page) %>
    </div>
  <% elsif query.present? %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_visual_icon(icon: "search") %>

      <% c.with_heading(tag: :h2) do %>
        No pending member invitations found
      <% end %>

      <% c.with_description do %>
        <%= "There aren’t any pending member invitations in this enterprise matching '#{query}'." %>
      <% end %>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_visual_icon(icon: "person") %>

      <% c.with_heading(tag: :h2) do %>
        No pending member invitations found
      <% end %>

      <% c.with_description do %>
        No pending member invitations in this enterprise.
      <% end %>
    <% end %>
  <% end %>
</div>
