<% status = capture do %>
  <div class="ml-3 d-flex color-fg-muted flex-items-center hide-sm">
    <span class="mr-3">
      <%= render(Primer::Beta::Octicon.new(:"repo")) %>
      <%= rollup[:repositories].count %>
    </span>
    <span class="hide-md" style="width: 200px;"> <%= render(Primer::Beta::Octicon.new(:"calendar")) %> Invited on <%= invitation.created_at.strftime("%b %-d, %Y") %> </span>
    <span class="css-truncate css-truncate-target expandable hide-md" style="width: 120px">
      by <%= render(Primer::Beta::Link.new(href: urls.user_path(invitation.inviter), scheme: :primary, classes: "Link--inTextBlock")) { invitation.inviter.display_login } %>
    </span>
  </div>
<% end %>

<% if collaborator = invitation.invitee %>
  <%= render Businesses::UserListCardComponent.new(
    user: collaborator,
    user_link: enterprise_pending_collaborator_path(this_business, collaborator),
    user_link_data_options: hovercard_data_attributes_for_user(collaborator),
    primary_name: collaborator.safe_profile_name,
    subtitle: collaborator.profile_name.present? ? collaborator.display_login : nil,
    spammy: collaborator.spammy?,
    display_login: collaborator.display_login,
    bulk_id: invitation.id,
    bulk_action_enabled: true,
    bulk_attribute: "invitation_ids"
    ) do %>
      <%= status %>
  <% end %>
<% else %>
  <%= render Businesses::UserListCardComponent.new(
    octicon: "mail",
    primary_name: invitation.email,
    bulk_id: invitation.id,
    bulk_action_enabled: true,
    bulk_attribute: "invitation_ids"
    ) do %>
      <%= status %>
  <% end %>
<% end %>
