<% view = Businesses::PeopleView.new(query: query) %>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to enterprise_suspended_members_path(this_business.slug), class: "issues-reset-query" do %>
      <%= render Primer::Beta::Octicon.new(icon: "x", classes: "issues-reset-query-icon") %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex table-list-header table-list-header-next">
  <span class="table-list-heading table-list-header-meta flex-auto">
    <%= number_with_delimiter suspended_members.count %>
    <%= pluralize_without_number suspended_members.count, "suspended member" %>
    in <%= this_business.name %>
  </span>
</div>

<% if suspended_members.count > 0 %>
  <ul>
    <% suspended_members.each do |suspended_member| %>
      <%= render Businesses::UserListCardComponent.new(
        user: suspended_member,
        user_link: view.member_link(suspended_member),
        user_link_data_options: view.organization_member_link_data_options(suspended_member),
        primary_name: suspended_member.safe_profile_name,
        secondary_name: suspended_member.profile_name.present? ? suspended_member.display_login : nil,
        spammy: suspended_member.spammy?,
        display_login: suspended_member.display_login
      ) %>
    <% end %>
  </ul>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate(suspended_members) %>
  </div>
<% elsif query.present? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>

    <% c.with_heading(tag: :h2) do %>
      No suspended members found
    <% end %>

    <% c.with_description do %>
      There aren’t any suspended members in this enterprise matching '<%= query %>'.
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "person") %>

    <% c.with_heading(tag: :h2) do %>
      No suspended members found
    <% end %>

    <% c.with_description do %>
      No suspended members in this enterprise.
    <% end %>
  <% end %>
<% end %>
