<%# erblint:counter DeprecatedComponentsCounter 4 %>
<div class="my-4">
  <p class="f5 color-fg-muted mb-4">
    The administrative tools you used risk-free for 30 days to keep this enterprise account secure and compliant will
    remain disabled until you purchase GitHub Enterprise. Any organizations that you invited have been migrated out
    of this enterprise, and any that you created will remain here.
  </p>
  <div class="mb-2">
    <%= render Primer::Beta::Link.new(
      href: "#{GitHub.help_url}/enterprise-cloud@latest/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud",
      underline: false,
      mb: 3,
      data: {
        **analytics_click_attributes(
          category: "enterprise_trial_account",
          action: "about_github_enterprise_trial",
          label: "enterprise_id:#{this_business.id}")
      }
    ) do %>
      <%= render(Primer::Beta::Octicon.new(icon: "link-external", color: :accent, mr: 2)) %>
      <span>About GitHub Enterprise trial</span>
    <% end %>
  </div>

  <div class="mb-2">
    <%= render Primer::Beta::Link.new(
      href:  "#{GitHub.help_url}/enterprise-cloud@latest/admin/overview/about-enterprise-accounts",
      underline: false,
      mb: 3,
      data: {
        **analytics_click_attributes(
          category: "enterprise_trial_account",
          action: "dive_deeper_into_enterprise_accounts",
          label: "enterprise_id:#{this_business.id}")
      }
    ) do %>
      <%= render(Primer::Beta::Octicon.new(icon: "link-external", color: :accent, mr: 2)) %>
      <span>Dive deeper into enterprise accounts</span>
    <% end %>
  </div>

  <div class="mb-5">
    <%= render Primer::Beta::Link.new(
      href:  "#{GitHub.help_url}/get-started/learning-about-github/types-of-github-accounts",
      underline: false,
      mb: 3,
      data: {
        **analytics_click_attributes(
          category: "enterprise_trial_account",
          action: "compare_org_and_enterprise_accounts",
          label: "enterprise_id:#{this_business.id}")
      }
    ) do %>
      <%= render(Primer::Beta::Octicon.new(icon: "link-external", color: :accent, mr: 2)) %>
      <span>Compare organization and enterprise accounts</span>
    <% end %>
  </div>

  <div role="none" class="dropdown-divider"></div>

  <div class="d-xl-flex gutter-md flex-items-stretch mt-5">
    <div class="d-flex width-full col-xl-6 mb-5 mb-xl-0">
      <%= render Primer::Box.new(h: :full, position: :relative, border: true, border_radius: 2, classes: "color-bg-premium overflow-hidden") do %>
        <%= render Primer::Beta::BorderBox.new(border: false, padding: :spacious) do |c| %>
          <% c.with_body(border: false, mb: 0) do %>
            <img src="<%= image_path "modules/dashboard/suggestions/enterprise-city-w-logos.png" %>" alt="GitHub Enterprise" class="d-none d-md-block d-lg-none d-xl-block position-absolute right-0 bottom-0" style="max-width:275px;">
            <div class="position-relative">
              <h3 class="lh-condensed">Build like the best with <span class="text-semibold color-text-premium">GitHub Enterprise</span></h3>
              <div class="col-md-8 col-lg-12 col-xl-8">
                <p class="color-fg-muted mt-2 mb-3">
                  DevOps is just the start. Top organizations know that transformation also depends on technology,
                  talent, culture, and process. GitHub helps enterprises put them all to work in one place.
                </p>
                <div class="d-lg-flex flex-items-center">
                  <%= render Primer::ButtonComponent.new(
                    tag: :a,
                    href: "#{billing_settings_upgrade_enterprise_path(this_business)}",
                    mr: 3,
                    classes: "btn-premium",
                    data: analytics_click_attributes(category: "github_enterprise_cloud", action: "click_to_buy_github_enterprise_cloud", label: "ref_page:#{request.fullpath};ref_cta:buy_gitHub_enterprise;ref_loc:business_organizations;content:#{buy_enterprise_flavor.parameterize.underscore};"),
                  ) do %>
                    <%= render(Primer::Beta::Octicon.new(icon: :rocket, color: :sponsors, mr: 1)) %>
                    <%= buy_enterprise_flavor %>
                  <% end %>
                  <div class="mt-2 mt-lg-0">
                    <%= render(Primer::ButtonComponent.new(
                      scheme: :default,
                      tag: :a,
                      color: :accent,
                      href: enterprise_marketing_page_path,
                      data: analytics_click_attributes(category: "github_enterprise_cloud", action: "click_to_visit_enterprise_marketing_page", label: "ref_page:#{request.fullpath};ref_cta:learn_more;ref_loc:business_organizations;")
                    )) { "Learn more" } %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% if !this_business.metered_plan? %>
      <div class="d-flex width-full col-xl-5 mb-5 mb-xl-0" <%= test_selector("github-team-blurb") %>>
        <%= render Primer::Box.new(h: :full, border: true, border_radius: 2) do %>
          <%= render Primer::Beta::BorderBox.new(h: :full, bg: :subtle, border: false, padding: :spacious) do |c| %>
            <% c.with_body(position: :relative, border: false, mb: 0) do %>
              <h3 class="color-fg-muted lh-condensed mr-4">Streamline your organization with <span class="color-fg-default">GitHub Team</span></h3>
              <p class="color-fg-muted mt-2 mb-3">
                With CI/CD, advanced permissions, and code review, GitHub Team gives your organization everything it
                needs to ship better software faster.
              </p>
              <div class="d-lg-flex flex-items-center">
                <%= render Primer::ButtonComponent.new(
                  tag: :a,
                  href: account_choices_path("action": "upgrade", "plan": "business"),
                  mr: 3,
                  classes: "btn",
                  data: analytics_click_attributes(category: "github_team", action: "click_to_upgrade_to_github_team", label: "ref_page:#{request.fullpath};ref_cta:get_github_team;ref_loc:business_organizations;"),
                ) do %>
                  Get GitHub Team
                <% end %>
                <div class="mt-2 mt-lg-0">
                  <%= render(Primer::ButtonComponent.new(
                    scheme: :default,
                    tag: :a,
                    color: :accent,
                    href: team_marketing_page_path,
                    data: analytics_click_attributes(category: "github_team", action: "click_to_compare_plans_on_marketing_page", label: "ref_page:#{request.fullpath};ref_cta:learn_more;ref_loc:business_organizations;")
                  )) { "Learn more" } %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="f5 text-bold color-fg-muted mt-5">
  Need help? <%= render Primer::Beta::Link.new(
    href: GitHub.support_url,
    underline: false
  ) do %> Contact us
  <% end %>
</div>
