<%
  page_info title: "Set up your GitHub Enterprise Cloud account"
  organization ||= nil
%>

<%= render layout: "signup/container",
  locals: {
    title: "Set up your GitHub Enterprise account",
    container_class: "container-md",
  } do %>
  <div class="mb-4">
    <div class="f4 color-fg-muted">
      Fill in the form below to redeem your coupon on a new enterprise account.
      <%= render(Primer::Beta::Link.new(
          href: "#{GitHub.help_url}/github/setting-up-and-managing-your-enterprise/about-enterprise-accounts",
          classes: "Link--inTextBlock"
        )) { "Learn more about enterprise accounts" } %>
    </div>
  </div>
  <div <%= test_selector("new-couponed-ea-form")%> >
    <%= form_for business, url: create_enterprise_from_coupon_path(code: params[:code]), method: :post do |f| %>
      <div class="width-full">
        <dl class="form-group required">
          <dt>
            <%= label_tag "business[name]", "Enterprise name" %>
          </dt>
          <dd>
            <%= text_field_tag "business[name]",
              business.name,
              class: "js-business-name width-full py-1",
              placeholder: "e.g. Acme, Inc.",
              autofocus: true,
              required: true %>
          </dd>
        </dl>
      </div>
      <div class="width-full">
        <% current_slug = business&.slug %>
        <% update_slug_from_name = current_slug.to_s.empty? %>
        <auto-check src="<%= create_enterprise_from_coupon_check_slug_path %>" required>
          <dl class="form-group required">
            <dt class="d-flex">
              <%= label_tag "business[slug]", "Enterprise URL slug" %>
            </dt>
            <dd>
              <%=
                slug_field_properties = {
                  placeholder: "e.g. acme-inc.",
                  required: true,
                  class: "js-business-slug width-full py-1"
                }
                slug_field_properties["data-auto-update"] = true if update_slug_from_name
                text_field_tag "business[slug]", current_slug, slug_field_properties
              %>
              <p class="note"></p>
            </dd>
          </dl>
          <%= csrf_hidden_input_for create_enterprise_from_coupon_check_slug_path %>
        </auto-check>
      </div>

      <div class="width-full">
        <dl class="form-group">
          <dt>
            <label for="organization">Organization</label>
          </dt>
          <dd>
            <select
              id="organization"
              class="form-select form-control width-full py-1 js-enterprise-trial-org-selection"
              name="organization_login"
              <%= test_selector("ea-from-coupon-organization-selection-dropdown") %>
            >
              <option value disabled selected>Choose an existing organization to include in the new Enterprise account</option>
              <% organizations.each do |org| %>
                <option value="<%= org.display_login %>"<%= " selected" if organization.present? && org.id == organization.id %>>
                  <%= org.name %>
                </option>
              <% end %>
              <option value>Create without an organization</option>
            </select>
          </dd>
        </dl>
      </div>
      <span class="width-full">
        Note: Billing for any selected organization will be delegated to the enterprise account.
      </span>

      <div class="form-checkbox mt-3">
        <label for="gca_business" class="text-normal">
          <input type="checkbox" class="form-checkbox-details-trigger" id="gca_business" name="gca_business" required>
            I hereby accept the <a class="Link--inTextBlock" href="<%= customer_term_index_path %>" target="_blank" rel="noopener noreferrer">GitHub Customer Agreement</a>
            and confirm that I have the authority to do so on behalf of my organization. For more information about
            GitHub's privacy practices, see the
            <a class="Link--inTextBlock" href="<%= site_privacy_path %>" target="_blank" rel="noopener noreferrer">GitHub Privacy Statement</a>.
        </label>
      </div>

      <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, "data-disable-invalid": "", "data-disable-with": "") do %>
        Continue to redeem your coupon
      <% end %>
    <% end %>
  </div>
<% end %>
