<% view = Businesses::FailedInvitationsView.new(business: this_business, query: query) %>
<% page_info title: "Failed invitations · #{this_business.name}",
  selected_link: :business_failed_invitations,
  stafftools: stafftools_enterprise_path(this_business) %>
<%= render layout: "businesses/layout", locals: {
    business: business,
    title: "Failed invitations"
  } do %>

    <div class="d-flex flex-justify-between mb-md-3 flex-column flex-md-row flex-items-end">
      <div class="d-flex flex-justify-between flex-column-reverse width-full mb-3 mb-lg-0 mb-md-0">
        <%= form_tag enterprise_failed_invitations_path(this_business),
          method: :get,
          "data-autosearch-results-container": "business-failed-invitations-list" do %>
          <div class="auto-search-group">
            <input class="form-control width-full input-contrast auto-search-input js-member-filter-field"
              type="text"
              name="query"
              value="<%= params[:query] %>"
              placeholder="Find a failed invitation…"
              aria-label="Find a failed invitation…"
              autocomplete="off"
              data-throttled-autosubmit>
            <%= render Primer::Beta::Octicon.new(icon: "search") %>
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render "businesses/failed_invitations_list",
      business: business,
      failed_invitations: failed_invitations,
      query: query,
      order_by_direction: order_by_direction,
      order_by_field: order_by_field %>
<% end %>
