<% title = capture do %>
  <span><%= user.safe_profile_name %></span>
  <span class="color-fg-muted f2-light"><%= user.display_login %></span>
  <% if user.spammy? %>
    <%= render "shared/under_review_label" %>
  <% end %>
<% end %>

<% page_info title: "#{outside_collaborators_verbiage(this_business).capitalize.singularize} · #{this_business.name}",
  selected_link: :business_outside_collaborators,
  stafftools: stafftools_enterprise_path(this_business) %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: title,
    back_to_link_path: enterprise_outside_collaborators_path(this_business),
    back_to_link_text: outside_collaborators_verbiage(this_business)
  } do %>

  <div class="gutter d-flex">
    <%= render BusinessUserAccounts::SidebarComponent.new(
      business: this_business,
      user: user,
      business_user_account: business_user_account,
      organization_count: organization_count,
      installation_count: installation_count,
      collab_repo_count: repositories.total_entries || 0
    ) %>

    <div class="col-9">
      <% if pending_invitations_count > 0 %>
        <div class="d-flex flex-items-center flex-justify-between mb-4">
          <div class="d-flex">&nbsp;</div>
          <div class="d-flex">
            <%= link_to "#{pending_invitations_count} pending",
                  enterprise_pending_collaborator_path(this_business, user.display_login),
                  class: "btn",
                  title: "Pending invitations" %>
          </div>
        </div>
      <% end %>

      <div>
        <div class="d-flex table-list-header table-list-header-next mt-0">
          <span class="table-list-heading table-list-header-meta flex-auto">
            <%= outside_collaborators_verbiage(this_business).capitalize.singularize %> on
            <%= number_with_delimiter repositories.total_entries %>
            <%= pluralize_without_number repositories.total_entries, "repository" %>
          </span>
        </div>
        <ul class="table-list table-list-bordered">
          <% repositories.each do |repository| %>
            <li class="d-flex flex-justify-between border border-top-0 p-3">
              <div class="d-flex">
                <div class="d-flex flex-column">
                  <div class="d-flex f4">
                    <% if repository.private? %>
                      <%= primer_octicon(:lock, height: 18, color: :muted, mr: 2, mt: 1) %>
                    <% else %>
                      <%= primer_octicon(:repo, height: 18, color: :muted, mr: 2, mt: 1) %>
                    <% end %>
                    <%= repository.name_with_display_owner %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>

        <div class="paginate-container">
          <%= will_paginate repositories %>
        </div>
      </div>
    </div>
  </div>
<% end %>
