<% page_info title: "#{outside_collaborators_verbiage(this_business).capitalize} · #{this_business.name}",
  stafftools: stafftools_enterprise_path(this_business),
  selected_link: :business_outside_collaborators %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: outside_collaborators_verbiage(this_business).capitalize
  } do %>
    <div class="d-flex flex-justify-between mb-md-3 flex-column flex-md-row flex-items-end">
      <div class="d-flex flex-justify-between flex-column-reverse width-full mb-3 mb-lg-0 mb-md-0">
        <%= form_tag enterprise_outside_collaborators_path(this_business),
                     method: :get,
                     "data-autosearch-results-container": "business-outside-collabs-list" do %>
          <div class="auto-search-group">
            <input class="form-control width-full input-contrast auto-search-input js-member-filter-field"
              type="text"
              name="query"
              value="<%= params[:query] %>"
              placeholder="Find a collaborator…"
              aria-label="Find a collaborator…"
              autocomplete="off"
              data-throttled-autosubmit>
            <%= render Primer::Beta::Octicon.new(icon: "search") %>
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
          </div>
        <% end %>
      </div>

      <div class="flex-justify-end d-flex ml-3 width-full" <%= test_selector("outside-table-filters") %>>
        <%= render "businesses/outside_collaborators/organization_filter_menu", query: query %>
        <%= render "businesses/outside_collaborators/visibility_filter_menu", query: query %>
        <%= render "businesses/outside_collaborators/two_factor_filter_menu", query: query %>
      </div>
    </div>

    <div id="business-outside-collabs-list" data-hpc>
      <%= render "businesses/outside_collaborators_list", query: query, outside_collaborators: outside_collaborators %>
    </div>
<% end %>
