<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% view = Businesses::PendingMembersView.new(business: this_business, query: query) %>
<% page_info title: "Pending member invitations · #{this_business.name}",
  selected_link: :business_pending_members,
  stafftools: stafftools_enterprise_path(this_business) %>
<%= render layout: "businesses/layout", locals: {
    business: business,
    title: "Invitations"
  } do %>

    <%= render "businesses/pending_nav" %>

    <div class="d-flex flex-items-center flex-justify-between flex-row flex-wrap mb-3" style="gap: 12px;">
      <div class="d-flex flex-column-reverse mb-3 mr-3 mb-lg-0 mb-md-0" style="flex-grow:3;min-width:40%">
        <%= form_tag enterprise_pending_members_path(this_business),
          method: :get,
          "data-autosearch-results-container": "business-pending-members-list" do %>
          <div class="auto-search-group">
            <input class="form-control width-full input-contrast auto-search-input js-member-filter-field"
              type="text"
              name="query"
              value="<%= params[:query] %>"
              placeholder="Find an invitation…"
              aria-label="Find an invitation…"
              autocomplete="off"
              data-throttled-autosubmit>
            <%= render Primer::Beta::Octicon.new(icon: "search") %>
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
          </div>
        <% end %>
      </div>

      <div class="float-right d-flex flex-justify-between">
        <details class="details-reset details-overlay select-menu d-inline-block mr-3">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            License
          <% end %>
          <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header">
              <span class="select-menu-title">Filter by license type</span>
            </div>
            <div class="select-menu-list">
              <a href="<%= enterprise_pending_members_path(this_business, query: view.apply_query_filters(license: nil)) %>"
                  class="select-menu-item" aria-checked="<%= view.license.nil? %>" role="menuitemradio">
                <%= render(Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon")) %>
                <div class="select-menu-item-text">All</div>
              </a>
              <% Platform::Enums::EnterpriseLicenseType.values.values.each do |license_type| %>
                <a href="<%= enterprise_pending_members_path(this_business, query: view.apply_query_filters(license: license_type.value)) %>"
                    class="select-menu-item" aria-checked="<%= view.license == license_type.value %>" role="menuitemradio">
                    <%= render(Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon")) %>
                    <div class="select-menu-item-text"><%= license_type.description %></div>
                </a>
              <% end %>
            </div>
          </details-menu>
        </details>
        <details class="details-reset details-overlay select-menu d-inline-block">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            Organization
          <% end %>
          <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"
            src="<%= enterprise_org_filter_menu_content_path(this_business, "pending", query: query, q: params[:q]) %>"
            preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header">
              <span class="select-menu-title">Filter by organization</span>
            </div>
            <div class="select-menu-filters">
              <div class="select-menu-text-filter">
                <input type="text" id="orgs-filter-field" class="form-control js-filterable-field"
                  placeholder="Filter organizations" aria-label="Filter organizations"
                  autocomplete="off" autofocus>
              </div>
            </div>
            <include-fragment aria-label="Loading">
              <%= render(Primer::Beta::Spinner.new(my: 6, mx: :auto, display: :block)) %>
            </include-fragment>
          </details-menu>
        </details>
        <details class="details-reset details-overlay select-menu d-inline-block ml-3">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            Source
          <% end %>
          <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header">
              <span class="select-menu-title">Filter by source</span>
            </div>
            <div class="select-menu-list">
              <a href="<%= enterprise_pending_members_path(this_business, query: view.apply_query_filters(source: nil)) %>"
                  class="select-menu-item" aria-checked="<%= view.source.blank? %>" role="menuitemradio">
                <%= render(Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon")) %>
                <div class="select-menu-item-text">All sources</div>
              </a>
              <a href="<%= enterprise_pending_members_path(this_business, query: view.apply_query_filters(source: "member")) %>"
                  class="select-menu-item" aria-checked="<%= view.source == "member" %>" role="menuitemradio">
                <%= render(Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon")) %>
                <div class="select-menu-item-text">Members</div>
              </a>
              <a href="<%= enterprise_pending_members_path(this_business, query: view.apply_query_filters(source: "scim")) %>"
                  class="select-menu-item" aria-checked="<%= view.source == "scim" %>" role="menuitemradio">
                <%= render(Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon")) %>
                <div class="select-menu-item-text">SCIM</div>
              </a>
            </div>
          </details-menu>
        </details>
      </div>
    </div>

    <div id="business-pending-members-list">
      <%= render "businesses/pending_members_list",
        business: business,
        pending_member_invitations: pending_member_invitations,
        query: query,
        order_by_direction: order_by_direction,
        order_by_field: order_by_field %>
    </div>
<% end %>
