<% page_info title: "Pending #{outside_collaborators_verbiage(this_business)} · #{this_business.name}",
  stafftools: stafftools_enterprise_path(this_business),
  selected_link: :business_pending_invitations %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Invitations",
  } do %>

    <%= render "businesses/pending_nav" %>

    <div class="d-flex flex-items-center flex-justify-between mb-3">
      <div class="d-flex flex-justify-between flex-column-reverse width-full mb-3 mb-lg-0 mb-md-0">
        <%= form_tag enterprise_pending_collaborators_path(this_business),
                     method: :get,
                     "data-autosearch-results-container": "business-pending-collabs-list" do %>
          <div class="auto-search-group">
            <input class="form-control width-full input-contrast auto-search-input js-member-filter-field"
              type="text"
              name="query"
              value="<%= params[:query] %>"
              placeholder="Find an invitation…"
              aria-label="Find an invitation…"
              autocomplete="off"
              data-throttled-autosubmit>
            <%= render Primer::Beta::Octicon.new(icon: "search") %>
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="business-pending-collabs-list"
      class="js-repo-access-group js-check-all-container js-bulk-actions-container"
      data-bulk-actions-url="<%= enterprise_pending_invitation_actions_path(this_business, invitation_type: "collaborator") %>"
      data-bulk-actions-parameter="invitation_ids"
      data-hpc
      <%= test_selector("pending-collaborators-list") %>>
      <%= render "businesses/pending_collaborators_list",
        query: query,
        pending_collaborators: pending_collaborators,
        order_by_field: order_by_field,
        order_by_direction: order_by_direction
      %>
    </div>

<% end %>
