<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%# erblint:counter DeprecatedComponentsCounter 4 %>
<% page_info title: this_business.name, stafftools: stafftools_enterprise_path(this_business) %>

<% if pending_invitation.present? %>
  <%= render(Primer::Beta::Flash.new(
    scheme: :warning,
    full: true,
    classes: "invited-banner",
    mb: 0,
    test_selector: "admin-invitation-banner-#{pending_invitation.id}")) do %>
    <p>
      <% if pending_invitation.show_inviter? %>
        <%= link_to \
          pending_invitation.inviter.display_login,
          user_path(pending_invitation.inviter),
          class: "inviter-link Link--inTextBlock" %>
        invited you
      <% else %>
        You were invited
      <% end %>
      to become <%= pending_invitation.role_for_message %> of the
      <strong><%= this_business.name %></strong> enterprise
      <%= time_ago_in_words_js pending_invitation.created_at %>.
      <%
        invitation_url = if pending_invitation.owner?
          enterprise_owner_invitation_path(this_business)
        elsif pending_invitation.billing_manager?
          enterprise_billing_manager_invitation_path(this_business)
        end
      %>
      <%= link_to "View invitation", invitation_url, class: "btn btn-sm primary" %>
    </p>
  <% end %>
<% end %>

<% if this_business.suspended? %>
  <%= render(Primer::Beta::Flash.new(scheme: :danger, my: 2)) do %>
    <h4>The <%= this_business.name %> enterprise has been suspended.</h4>
    Your enterprise is locked and all activity is disabled. If you believe this is a mistake,
    <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> to have your enterprise's status reviewed.
  <% end %>
<% end %>

<% if this_business.organization_upgrade_purchase_initiated? %>
  <%= render(Primer::Beta::Flash.new(scheme: :default, full: true, display: :flex, test_selector: "org-upgrade-purchase-initiated-message")) do %>
    <div>
      <%= render(Primer::Beta::Spinner.new(size: :small, mr: 3, mt: 1)) %>
    </div>
    <div>
      <h4> Payment is being processed. </h4>
      After successful payment, enterprise features will unlock and your
      organization will appear in this view. If the view does not update after a few minutes, you may need to refresh the page.
    </div>
  <% end %>
<% elsif this_business.creation_from_coupon_purchase_initiated? %>
  <%= render(Primer::Alpha::Banner.new(scheme: :default, full: true, display: :flex, icon: "sync", test_selector: "coupon-creation-purchase-initiated-message")) do %>
    <div>
      <h4> Payment is being processed. </h4>
      After successful payment, enterprise features will unlock<%= this_business.upgrade_initiated_from_organization.present? ? " and your organization will appear in this view" : "" %>.
      If the view does not update after a few minutes, you may need to refresh the page.
    </div>
  <% end %>
<% end %>

<%= render layout: "businesses/layout", locals: { business: this_business, title: nil } do %>
  <% if display_org_attachment_failure_banner && !current_user.dismissed_notice?("org_attachment_failure") %>

    <% upgrading_org = this_business.upgrade_initiated_from_organization %>
    <% additional_seats = this_business.additional_licenses_required_for_organization(this_business.upgrade_initiated_from_organization) %>

    <div class="js-notice">
      <%= form_tag dismiss_notice_path("org_attachment_failure"), "data-remote" => true, :class => "js-notice-dismiss" do %>
        <%= render(Primer::Beta::Flash.new(scheme: :warning, display: :flex, test_selector: "org-attachment-failure-message", mb: 3)) do |component| %>
          <% if additional_seats > 0 %>
            <div>
              <%= render(Primer::Beta::Octicon.new(:"alert", size: :small, mr: 3, mt: 1)) %>
            </div>
            <div>
              <p>
                <strong> There was an issue with your <%= upgrading_org.safe_profile_name %> upgrade. </strong>
              </p>
              This enterprise needs <%= additional_seats %> additional <%= "seat".pluralize(additional_seats) %> to support <%= upgrading_org.safe_profile_name %>. Go to <%= link_to("enterprise licensing", enterprise_licensing_url(this_business, manage_seats: true), class: "Link--inTextBlock") %> to purchase additional seats and try again.
            </div>
            <%= render(Primer::Beta::Button.new(tag: :a, href: enterprise_licensing_url(this_business, manage_seats: true), ml: 3)) { "Purchase additional seats" } %>
          <% else %>
            <div>
              <%= render(Primer::Beta::Octicon.new(:"alert", size: :small, mr: 3, mt: 1)) %>
            </div>
            <div>
              <strong> You now have enough seats to transfer the <%= upgrading_org.safe_profile_name %> organization into this enterprise. </strong>
            </div>
            <%= render(Primer::Beta::Button.new(tag: :a, href: new_enterprise_organization_invitation_path(this_business), ml: 3)) { "Invite organization" } %>
          <% end %>

          <% component.with_action do %>
            <%= render(Primer::Beta::IconButton.new(icon: :x, scheme: :invisible, type: :submit, "aria-label": "Dismiss")) { "Dismiss" } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= render(Businesses::OverviewComponent.new(business: this_business)) %>
<% end %>
