<% if scim_managed_enterprise?(this_business) %>
  <% page_info title: "Suspended members · #{this_business.name}",
    stafftools: stafftools_enterprise_path(this_business),
    selected_link: :business_suspended_members %>

  <%= render layout: "businesses/layout", locals: {
      business: this_business,
      title: "Suspended members"
    } do %>
      <div class="d-flex flex-items-center flex-justify-between mb-3">
        <div class="d-flex flex-justify-between flex-column-reverse width-full mb-3 mb-lg-0 mb-md-0">
          <%= form_tag enterprise_suspended_members_path(this_business.slug),
            method: :get,
            "data-autosearch-results-container": "business-suspended-members-list" do %>
            <div class="auto-search-group">
              <input class="form-control width-full input-contrast auto-search-input js-member-filter-field"
                type="text"
                name="query"
                value="<%= params[:query] %>"
                placeholder="Find a suspended member…"
                aria-label="Find a suspended member…"
                autocomplete="off"
                data-throttled-autosubmit>
              <%= render Primer::Beta::Octicon.new(icon: "search") %>
              <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
            </div>
          <% end %>
        </div>
      </div>

      <div id="business-suspended-members-list">
        <%= render "businesses/suspended_members_list", query: query, suspended_members: suspended_members %>
      </div>
  <% end %>
<% end %>
