<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_body(p: 0) do %>
    <table class="stafftools-table">
      <thead>
        <tr>
          <th>Listing</th>
          <th>Plan</th>
          <th>Qty</th>
          <th>Price per quantity</th>
          <th>Organization</th>
          <th>Remove Integration</th>
          <th>Notes</th>
          <th>Subscription Type</th>
        </tr>
      </thead>
      <tbody>
        <% if marketplace_items.length.zero? %>
          <tr <%= test_selector "business-no-marketplace-apps" %>>
            <td colspan="8">
              No marketplace apps installed by any organization yet
            </td>
          </tr>
        <% else %>
          <% marketplace_items.each do |item| %>
            <tr <%= test_selector("marketplace-item-#{item.global_relay_id}") %>>
              <td <%= test_selector("marketplace-item-listing-name") %>><%= item.subscribable.listing.name %></td>
              <td <%= test_selector("marketplace-item-subscribable-name") %>><%= item.subscribable.name %></td>
              <td <%= test_selector("marketplace-item-qty") %>><%= item.quantity %></td>
              <td <%= test_selector("marketplace-item-price") %>><%= item.price.format %></td>
              <td <%= test_selector("marketplace-item-org-name") %>><%= item.organization.name %></td>
              <td>
                <%= form_tag stafftools_user_subscription_item_path(item.organization, item.id), class: "inline-form", method: :delete, data: { test_selector: "marketplace-item-cancel" } do %>
                  <% cancel_msg = "Are you sure you want to cancel this integration?" %>
                  <%= render Primer::Beta::Button.new(
                    type: :submit,
                    scheme: :danger,
                    "data-confirm": cancel_msg,
                  ).with_content("Cancel") %>
                <% end %>
              </td>
              <% if item.on_free_trial?  %>
                <td <%= test_selector("marketplace-item-notes") %>>Trial ends <br><%= item.free_trial_ends_on.strftime("%b %-d, %Y") %></td>
                <td <%= test_selector("marketplace-item-subscription-type") %>>
                  <% url = run_pending_changes_stafftools_enterprise_path(business) %>
                  <%= form_tag url, method: :post do %>
                    <%= hidden_field_tag "pending_change_id", item.pending_change_id %>
                    <%= render Primer::Beta::Button.new(
                      type: :submit,
                      scheme: :danger,
                      size: :small,
                      "data-confirm": "Are you sure you want to upgrade this free trial to a paid plan?",
                    ).with_content("Run Free Trial Upgrade") %>
                  <% end %>
                </td>
              <% else %>
                <td <%= test_selector("marketplace-item-notes") %>>
                  <% if item.has_pending_cycle_change? && item.pending_subscription_item_change %>
                    <% change = item.pending_subscription_item_change %>
                    <% if change.cancellation? %>
                      Cancelling,
                    <% else %>
                      Changing to <%= change.subscribable.name %>,
                    <% end %>
                    <% if change.subscribable.per_unit? && change.quantity > 0 %>
                      with <%= pluralize change.quantity, change.subscribable.unit_name %>,
                    <% end %> effective on <%= item.account.pending_cycle.active_on.strftime("%b %-d, %Y") %>
                  <% else %>
                    -
                  <% end %>
                </td>
                <td <%= test_selector("marketplace-item-subscription-type") %>><%= item.price.zero? ? "Free" : "Paid"%> subscription</td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
