<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
    page_info title: "Create a Marketplace Category · Biztools",
             selected_link: :marketplace_categories
%>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group">
    <h3>Create a Marketplace Category</h3>
    <div class="boxed-group-inner">
      <%= form_tag biztools_marketplace_categories_path, method: :post do %>
        <dl class="form-group mt-0">
          <dt><label for="cat_name">Category name:</label></dt>
          <dd>
            <input required type="text" name="marketplace_category[name]" id="cat_name" class="form-control">
          </dd>
        </dl>
        <dl class="form-group mt-0">
          <dt><label for="cat_description">Description:</label></dt>
          <dd>
            <textarea name="marketplace_category[description]" id="cat_description" class="form-control"></textarea>
          </dd>
        </dl>
        <dl class="form-group mt-0">
          <dt><label for="cat_how_it_works">How it works with GitHub:</label></dt>
          <dd>
            <textarea name="marketplace_category[howItWorks]" id="cat_how_it_works" class="form-control"></textarea>
            <p class="note">The technical description of how apps listed in this category work with GitHub</p>
          </dd>
        </dl>
        <dl class="form-group mt-0 mb-3">
          <dt><label for="cat_sub_categories">Sub Categories:</label></dt>
          <dd>
            <details class="position-relative details-reset select-menu">
              <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button", "aria-haspopup": "menu") do %>
                Choose up to 3 subcategories
              <% end %>
              <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                <div id="cat_sub_categories" class="select-menu-list">
                  <% category_names.each do |name| %>
                    <label class="select-menu-item">
                      <input
                        type="checkbox"
                        name="marketplace_category[subCategories][]"
                        value="<%= name %>"
                      >
                      <span class="ml-2"><%= name %></span>
                    </label>
                  <% end %>
                </div>
              </details-menu>
            </details>
          </dd>
        </dl>
        <div class="form-group mt-0">
          <div>
            <input name="marketplace_category[isFilter]" type="hidden" value="false">
            <div class="form-checkbox">
              <label for="cat_is_filter">
                <input
                  id="cat_is_filter"
                  name="marketplace_category[isFilter]"
                  type="checkbox"
                  value="true"
                >
                Use as filter
              </label>
              <p class="note">Filter-type categories are displayed differently in a listing page and only admins can assign them.</p>
            </div>
          </div>
        </div>
        <div class="form-group mt-0">
          <div>
            <input name="marketplace_category[isNavigationVisible]" type="hidden" value="false">
            <div class="form-checkbox">
              <label for="cat_is_navigation_visible">
                <input
                  id="cat_is_navigation_visible"
                  name="marketplace_category[isNavigationVisible]"
                  type="checkbox"
                  value="true"
                >
                Use in navigation
              </label>
              <p class="note">Determines if this category can be displayed in the Marketplace side navigation.</p>
            </div>
          </div>
        </div>
        <div class="form-group mt-0 mb-4">
          <input name="marketplace_category[isFeatured]" type="hidden" value="false">
          <div class="form-checkbox">
            <label>
              <input
                name="marketplace_category[isFeatured]"
                type="checkbox"
                value="true"
              >
              Feature in home page
            </label>
            <p class="note">Featured categories are displayed at the front of the Marketplace home page.</p>
            <p class="note">Choose a position below to determine the order in which to display featured categories. 1 is highest.</p>
            Position: <input name="marketplace_category[featuredPosition]" aria-label="Featured Position" type="number" min="1" max="100" step="1" value="">
          </div>
        </div>
        <%= render Primer::ButtonComponent.new("data-disable-with": "Saving...", "data-disable-invalid": "", type: :submit) do %>Create category<% end %>
      <% end %>
    </div>
  </div>
<% end %>
