<%
  page_info \
    :title => "Commit #{this_comment.repository.name_with_owner}@#{this_comment.commit_id[0..6]} comment ##{this_comment.id}",
    :selected_link => :issues
%>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Commit Comment #<%= this_comment.id %>
    </h2>
  </div>

  <div class="site-admin-table">
    <table>
      <tr>
        <th>
          Created
        </th>
        <td>
          <%= this_comment.created_at %>
        </td>
      </tr>
      <tr>
        <th>
          Commenter
        </th>
        <td>
          <%= link_to this_comment.user, stafftools_user_path(this_comment.user) %>
        </td>
      </tr>
      <tr>
        <th>
          Body
        </th>
        <td>
          <% if this_comment.body.present? %>
            <%= this_comment.body_html %>
          <% else %>
            <em>No comment body.</em>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>
          Discussion
        </th>
        <td>
          <%= link_to "View comment", this_comment.async_path_uri.sync.to_s %>
        </td>
      </tr>
    </table>
  </div>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Moderate
    </h2>
  </div>

  <%= render \
      partial: "stafftools/comments/moderate",
      locals: {comment: this_comment}
  %>
</div>
