<%
  page_info(title: "Copilot bulk blocks")
%>
<%= render layout: "stafftools/stafftools" do %>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">Bulk create Copilot Administrative Blocks</h2>
  </div>

  <%= form_tag stafftools_copilot_bulk_blocks_path, method: "post" do %>
    <%= render Stafftools::Copilot::BlockTypeComponent.new %>

    <div div class="form-group required">
      <div class="form-group required">
        <div class="form-group-header">
          <%= label_tag "reason", "Block reason" %>
        </div>
        <div class="form-group-body">
          <%= text_field_tag :reason, '', required: true, class: "color-bg-subtle p-2 border rounded-2" %>
        </div>
      </div>

      <div class="form-group required">
        <div class="form-group-header">
          <%= label_tag "logins", "User logins to block (separated by spaces or commas)" %>
        </div>
        <div class="form-group-body">
          <%= text_area_tag :logins, '', required: true, class: "color-bg-subtle p-2 border rounded-2" %>
        </div>
      </div>
    </div>

    <%= submit_tag "Copilot block these users", class: "btn btn-danger" %>
  <% end %>
<% end %>
