<% page_info title: "Apple App Store Lookup", selected_link: :billing_iap_apple_lookups %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="mb-5">
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
      <% component.with_header(id: "audit-search-label") do %>
        <h3 class="Box-title">
          Apple Store Transaction Lookup
        </h3>
      <% end %>
      <% component.with_row do %>
        This will call the Apple's Store API and return the transaction details.
        <%= form_with url: stafftools_billing_iap_apple_lookups_path, method: :post do |f| %>
          <div class="form-group">
            <%= f.text_field :transaction_id,
              value: transaction_id,
              id: "transaction_id",
              placeholder: "Transaction ID",
              "aria-labelledby": "apple-lookup-search-label"
            %>
            <%= render Primer::Beta::Button.new(type: :submit, display: :inline_block).with_content("Search") %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if json_details.present? %>
    <div class="mb-5">
      <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
        <% component.with_header(id: "apple-lookup-results-label") do %>
          <h3 class="Box-title">
            Fetched Results for <%= transaction_id %>
          </h3>
        <% end %>
        <% component.with_row do %>
          <pre><%= json_details %></pre>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
