<% content_for :header do %>
  Welcome to the Copilot chat private beta!
<% end %>

<%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
    <p>
      You're off the waitlist and can start using Copilot chat.
    </p>

    <h3>Getting Started</h3>

    <p>Here are the instructions to get started:</p>

    <p>Before starting, please make sure that the GitHub ID you intend to use has an active subscription to GitHub Copilot and matches the ID that you used to join the GitHub Copilot chat waitlist.</p>

    <p><strong>For Visual Studio Code:</strong></p>

    <p>Skip the text, watch the <%= link_to "Copilot Chat setup video", "https://www.youtube.com/watch?v=eCOsNCYxdYM" %> (3 min).</p>

    <ol type="1">
      <li class="ml-3">Make sure you've got the latest version of <%= link_to "Visual Studio Code", "https://code.visualstudio.com/Download" %> installed.<br></li>
      <li class="ml-3">In VS Code, install the <%= link_to "GitHub Copilot Chat extension", "https://marketplace.visualstudio.com/items?itemName=GitHub.copilot-chat" %>.<br>
      If you have not previously authorized VS Code in your GitHub account, follow the sign in steps in the notification area (make sure to use the right GitHub account!).
      </li>
      <li class="ml-3 mb-3">A new Chat icon will appear in the activity panel for conversations.<br>
      You can also hit Ctrl-I/Cmd-I within your code to prompt Copilot inline and directly apply suggestions.</li>
    </ol>

    <p>If that doesn't work, restart the editor and authorize GitHub Copilot to see the chat window. <%= link_to "File an issue", "https://github.com/microsoft/vscode-copilot-release/issues" %> in case this persists.</p>

    <p><strong>For Visual Studio:</strong></p>

    <ol type="1">
      <li class="ml-3">Ensure you're running Visual Studio 2022 17.5.1 or higher. If not, please update.
      </li>
      <li class="ml-3">Download and install the <%= link_to "Visual Studio extension for GitHub Copilot - Preview", "https://aka.ms/VSXGHCopilot" %>
      </li>
      <li class="ml-3">Ensure you are logged in to Visual Studio using the same GitHub ID that you used to sign up for the waitlist. If you are not signed with an authorized account you'll be prompted to do so. If you are already logged in with your GitHub ID in your Visual Studio, please check you don't need to re-enter your GitHub credentials. Here is the link with instructions to <%= link_to "Add your GitHub ID to your Visual Studio signin", "https://learn.microsoft.com/visualstudio/ide/work-with-github-accounts?view=vs-2022" %>.</li>
      <li class="ml-3 mb-3">Start Visual Studio. Once fully loaded, check that the GitHub Copilot Chat window shows on your View menu. Then verify that "Ask Copilot" appears at the top of the right click menu in your code editor when a code file is open.</li>
    </ol>

    <h3>Feedback and Issues</h3>

    <p>
    This is a technical preview release so you are likely to encounter some bugs and issues. Please send feedback while you're using the technical preview.
    </p>

    <p>
    For Copilot Chat in VS Code, use the <%= link_to "feedback", "https://aka.ms/microsoft/vscode-copilot-release" %> button in the chat panel.
    </p>
    <p>
    For Visual Studio, please use the built in <%= link_to "Report a Problem button", "https://learn.microsoft.com/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2022" %> to raise any bugs and issues you find. Mention Copilot Chat in your problem report.
    </p>

    <h3>Terms of Use</h3>

    <p>
    When you install the extension, you agree to <%= link_to "GitHub Copilot chat preview terms", "https://docs.github.com/early-access/copilot/github-copilot-chat-technical-preview-license-terms" %>. You should also review this important <%= link_to "transparency", "https://docs.github.com/early-access/copilot/github-copilot-chat-transparency-note" %> information about GitHub Copilot Chat preview.
    </p>

    <p>
      Thanks,<br>
      The GitHub Copilot Team
    </p>
  <% end %>
<% end %>
