<% if @repository_selection == "subset" && accessible_repositories.exists? %>
  <turbo-frame id="paginated-collection-frame">
    <%= render(Primer::Beta::BorderBox.new) do |component| %>
      <% accessible_repositories.each do |repository| %>
        <% component.with_row(display: :flex, justify_content: :center) do %>
          <div class="flex-auto">
            <%= render(Primer::Beta::Octicon.new(icon: repository.repo_type_icon, mr: 1)) %>

            <%= render(Primer::Beta::Link.new(href: repository_path(repository))) do %>
              <%= repository.name_with_display_owner %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if accessible_repositories.respond_to?(:total_pages) %>
      <div class="paginate-container">
        <%= will_paginate(accessible_repositories, controller: @controller, action: @action, renderer: TurboPaginationCollectionFrameReplaceLinkRenderer) %>
      </div>
    <% end %>
  </turbo-frame>
<% else %>
  <div class="Box mt-2 text-center py-4">
    <div class="blankslate">
      <h5 class="blankslate-heading"><%= heading_content %></h5>
      <% if @repository_selection == "all" && !target_adminable? %>
        <div class="blankslate-action mt-2">
          <%= link_to t("personal_access_tokens.repository_selection.secondary_action", actor: @actor.display_login, resource_owner_type: resource_owner_type), @repositories_path %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
