<%
  page_info title: "Trade Compliance #{business.name}"
  show_billing_info = show_billing_info || false
%>

<%= render Primer::Beta::Subhead.new do |component| %>
	<% component.with_heading(tag: :h2, test_selector: "trade-compliance-header") do %>Trade Compliance<% end %>
<% end %>

<%= render Stafftools::TradeCompliance::BusinessAccountOverviewComponent.new(target: business, with_heading: true) %>
<hr>

<h4>Trade Screening Restrictions</h4>
<p>Manage trade screening restrictions for this business.</p>
<div class="Box mt-3 mb-3">
  <ul>
    <%= render(Stafftools::TradeCompliance::ScreeningRecordViewComponent.new(target: business, show_billing_info: show_billing_info)) %>
    <%= render Stafftools::TradeCompliance::SetScreeningStatusComponent.new(target: business) %>
    <%= render Stafftools::TradeCompliance::ContactMicrosoftTradeHelpComponent.new(target: business, staffer: current_user) %>
  </ul>
</div>
<hr>
