<% page_info title: "Invoiced sponsors - GitHub Sponsors", selected_link: :invoiced_sponsors, container_xl: true %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |subhead_component| %>
    <% subhead_component.with_heading(tag: :h2) do %>
      Invoiced sponsors
      <%= render Primer::Beta::Label.new(vertical_align: :middle).with_content(orgs.total_entries.to_s) %>
    <% end %>
    <% subhead_component.with_actions do %>
      <a href="<%= stafftools_sponsors_invoiced_sponsors_path(active_only: active_only ? "0" : "1") %>" class="Link--muted">
        <% if active_only %>
          View current and past invoiced sponsors
        <% else %>
          View current invoiced sponsors only
        <% end %>
      </a>
    <% end %>
  <% end %>

  <turbo-frame id="invoiced-sponsors-container" data-turbo-action="advance">
    <div id="invoiced-sponsors-container-pjax">
      <%= render Stafftools::Sponsors::Invoiced::ListComponent.new(
        orgs: orgs,
        active_only: active_only,
      ) %>
    </div>
  </turbo-frame>
<% end %>
