<%
  dom_id = comment_dom_id(issue_comment.raw_object)
  deferred_comment_actions = local_assigns.fetch(:deferred_comment_actions, false)
  deferred_edit_form = local_assigns.fetch(:deferred_edit_form, false)
%>

<div class="TimelineItem js-comment-container"
      data-gid="<%= issue_comment.id %>"
      data-url="<%= timeline_issue_comment_path(id: issue_comment.id) %>"
      <%= test_selector("discussion-item-issue-comment") %>>

  <%= render "comments/timeline_avatar", comment: issue_comment %>

  <%= render "comments/comment", {
        comment: issue_comment,
        form_path: issue_comment_path(
          issue_comment.repository.owner.display_login,
          issue_comment.repository.name,
          issue_comment.database_id
        ),
        dom_id: dom_id,
        action_text: "commented",
        prerender_all_comment_versions: false,
        deferred_comment_actions: deferred_comment_actions,
        deferred_edit_form: deferred_edit_form,
      }
  %>
</div>
