<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<button class="btn js-minimize-target" id="minimize-comment"><%# erblint:disable ButtonHasType %>
  <span class="js-minimize-toggle <%= "color-fg-danger" if comment.minimized? %>">
    <% if comment.minimized? %>
      <%= comment.minimized_audit_log(current_user).present? ? "Minimized as #{comment.minimized_reason}" : "Minimized" %>
    <% else %>
      Minimize
    <% end %>
  </span>
  <span class="js-minimize-toggle d-none"><%= primer_octicon(:x, color: :muted) %></span>
</button>

<div class="js-minimize-toggle d-none">
  <% if comment.minimized? %>
    <%= form_tag stafftools_unminimize_comment_path(comment), method: :put, class: "inline-form mt-2" do %>
      <dl class="form-group m-0">
        <dd><input type="hidden" name="comment_id" value="<%= comment.global_relay_id %>" ></dd>
        <dd><input type="hidden" name="minimized" value="<%= comment.minimized? ? "0" : "1" %>"></dd>
      </dl>
      <dl class="form-group my-0">
        <dt><label for="minimize_<%= comment.id %>">Why are you showing this comment again?</label></dt>
        <dd>
          <input type="text" class="form-control short js-filterable-field" name="minimized_reason" id="minimize_<%= comment.id %>" placeholder="Additional context (required)" required>
          <%= render Primer::ButtonComponent.new(type: :submit) do %>Undo minimize<% end %>
        </dd>
      </dl>
    <% end %>
  <% else %>
    <%= form_tag stafftools_minimize_comment_path(comment), method: :put, class: "inline-form mt-2" do %>
      <dl class="form-group m-0">
        <dd><input type="hidden" name="comment_id" value="<%= comment.global_relay_id %>" ></dd>
        <dd><input type="hidden" name="minimized" value="<%= comment.minimized? ? "0" : "1" %>"></dd>
      </dl>
      <dl class="form-group my-0">
        <dt><label for="minimize_<%= comment.id %>">Why are you minimizing this comment?</label></dt>
        <input type="hidden" name="classifier" value="ABUSE">
        <dt>
          <input type="text" class="form-control js-filterable-field" name="minimized_reason" id="minimize_<%= comment.id %>" placeholder="Additional context (required)" required>
          <%= render Primer::ButtonComponent.new(type: :submit) do %>Minimize<% end %>
        </dt>
      <% end %>
    </dl>
  <% end %>
</div>
