<%
  is_pr = this_issue.pull_request?
  title = is_pr ? "Pull request" : "Issue"
  page_info \
    :title => "#{title} ##{this_issue.number} comment ##{this_comment.id} database record",
    :selected_link => :issues
%>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "#{title}s",
            gh_stafftools_repository_issues_path(current_repository) %>
      /
      <%= link_to \
            "#{title} ##{this_issue.number}",
            gh_stafftools_repository_issue_path(this_issue) %>
      /
      <%= link_to \
            "Comments",
            gh_stafftools_repository_issue_comments_path(this_issue) %>
      /
      <%= link_to \
            "Comment ##{this_comment.id}",
            gh_stafftools_repository_issue_comment_path(this_comment) %>
      / Database
    </h2>
  </div>

  <%= render \
        partial: "stafftools/database",
        locals: { record: this_comment, denylist: ["body"] } %>
</div>
