<%# rubocop:disable Lint/InstanceVariable %>
<%
  is_pr = this_issue.pull_request?
  title = is_pr ? "Pull request" : "Issue"
  page_info \
    :title => "#{title} ##{this_issue.number} comments",
    :selected_link => :issues
%>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "#{title}s",
            gh_stafftools_repository_issues_path(current_repository) %>
      /
      <%= link_to \
            "#{title} ##{this_issue.number}",
            gh_stafftools_repository_issue_path(this_issue) %>
      / Comments
    </h2>
  </div>

  <table class="site-admin-table">
    <tr>
      <td class="tiny">
        #<%= this_issue.number %>
      </td>
      <td>
        <%= link_to gh_first_stafftools_repository_issue_comments_path(this_issue) do %>
          Opened by <%= this_issue.safe_user %>
          <% if current_repository.public? && this_issue.safe_user.spammy? %>
            <small>(spammy)</small>
          <% end %>
        <% end %>
      </td>
      <td class="float-right">
        <%= this_issue.created_at %>
      </td>
    </tr>
    <% @comments.each do |comment| %>
      <tr>
        <td class="tiny">
          #<%= comment.id %>
        </td>
        <td>
          <%= link_to gh_stafftools_repository_issue_comment_path(comment) do %>
            Comment by <%= comment.safe_user.login %>
            <% if current_repository.public? && comment.safe_user.spammy? %>
              <small>(spammy)</small>
            <% end %>
          <% end %>
        </td>
        <td class="float-right">
          <%= comment.created_at %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate @comments %>
  </div>
</div>
