<%-
  type ||= :head
  selected ||= nil
  details_id = "#{type}-ref-selector"
-%>

<details id="<%= details_id %>" class="details-reset details-overlay select-menu commitish-suggester hx_rsm">
  <%= render Primer::Beta::Button.new(tag: :summary, size: :small, classes: "btn select-menu-button branch") do %>
    <i><%= type == :base ? type : "compare" %>:</i>
    <span class="css-truncate css-truncate-target" data-menu-button><%= selected %></span>
  <% end %>
  <%=
    render partial: "refs/selector", locals: {
      repository: repository,
      title: "Choose a #{type} ref",
      placeholder: "Find a branch",
      input_id: "context-commitish-filter-field-#{type}",
      tabpanel_id: "ref-list-#{type}",
      branch_tabpanel_id: "ref-list-branches-#{type}",
      tag_tabpanel_id: "tags-menu-#{type}",
      item_template_content: render(partial: "refs/list_item_template/compare", locals: {
        url_template: url_template
      }),
      no_match_template_content: render(partial: "refs/no_match_template/compare", locals: {
        type: type,
        form_path: comparison.to_path
      }),
      hide_footer: true,
      selected_ref: selected,
      enclosing_details_id: details_id
    }
  %>
</details>
