<div class="range-editor color-fg-muted js-range-editor <%= "is-cross-repo" if comparison.cross_repository? %>">
  <%= primer_octicon(:"git-compare", classes: "range-editor-icon") %>
  <div class="range-cross-repo-pair">
    <%= render :partial => "compare/repository_suggester", :locals => {
                :type => :base,
                :comparison => comparison,
                :selected => comparison.base_repo
              } %>

    <%= render :partial => "compare/commitish_suggester", :locals => {
                :type => :base,
                :comparison => comparison,
                :repository => comparison.base_repo,
                :url_template => base_ref_comparison_path_template(comparison: comparison, expand: params[:expand].present?),
                :selected => comparison.display_base_revision
              } %>
  </div>

  <%= render(Primer::Box.new(display: :inline_block)) do %>
    <%= render(Primer::Box.new(display: :flex, direction: :column, align_items: :center )) do %>
      <%= primer_octicon(:"arrow-left") %>
      <span class="mt-n2">
        <%= comparison.direct_compare? ? ".." : "..." %>
      </span>
    <% end %>
  <% end %>

  <div class="range-cross-repo-pair">
    <%= render :partial => "compare/repository_suggester", :locals => {
                :type => :head,
                :comparison => comparison,
                :selected => comparison.head_repo
              } %>

    <%= render :partial => "compare/commitish_suggester", :locals => {
                :type => :head,
                :comparison => comparison,
                :repository => comparison.head_repo,
                :url_template => head_ref_comparison_path_template(comparison: comparison, expand: params[:expand].present?),
                :selected => comparison.display_head_revision
              } %>
  </div>

  <% if check_mergeability && comparison.pull_requestable? %>
    <div class="pre-mergability" aria-live="polite">
      <%= render :partial => "branches/pre_mergeability" %>
    </div>
  <% end %>
</div>
