<details class="select-menu fork-suggester details-reset details-overlay hx_rsm">
  <%= render Primer::Beta::Button.new(tag: :summary, size: :small, classes: "btn select-menu-button") do %>
    <i><%= type %> repository:</i>
    <span class="css-truncate css-truncate-target" data-menu-button><%= selected.try(:name_with_display_owner) %></span>
  <% end %>

  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" data-pjax src="<%= compare_repository_list_path(repository: comparison.repo, user_id: comparison.repo.owner, range: params[:range], type: type, expand: params[:expand], selected: selected.try(:name_with_display_owner)) %>" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <include-fragment>
      <%= render(Primer::Beta::Spinner.new(my: 6, mx: :auto, display: :block)) %>
    </include-fragment>
  </details-menu>
</details>
