<%
  title = type == :head ? "Choose a Head Repository" : "Choose a Base Repository"
%>
<div class="select-menu-header">
  <span class="select-menu-title"><%= title %></span>
</div>

<div class="select-menu-filters">
  <div class="select-menu-text-filter">
    <input type="text" id="pull-repo-filter-field-<%= type %>" class="form-control js-filterable-field" placeholder="Filter repos" aria-label="Type or choose a repository" autocomplete="off" autofocus>
  </div>
</div>

<div class="select-menu-list">
  <div data-filterable-for="pull-repo-filter-field-<%= type %>" data-filterable-type="substring">
    <% available_repositories_for(comparison, type).each do |repo| %>
      <% if type == :base %>
        <% url = base_repo_comparison_path(comparison, repo, expand: expand) %>
      <% else %>
        <% url = head_repo_comparison_path(comparison, repo, expand: expand) %>
      <% end %>
      <a href="<%= url %>" class="select-menu-item" aria-checked="<%= selected == repo.name_with_display_owner %>" role="menuitemradio">
        <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
        <div class="select-menu-item-text" data-menu-button-text>
          <%= repo.name_with_display_owner %>
        </div>
      </a>
    <% end %>
  </div>

  <div class="select-menu-no-results">Nothing to show</div>
</div>
