<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<div class="Box-header">
  Example comparisons
</div>
<ul>
  <% sample_comparisons(current_repository).each do |info| %>
    <li class="Box-row d-flex">
      <%= primer_octicon(:"git-branch", color: :muted, classes: "flex-shrink-0") %>
      <a href="<%= compare_path(current_repository, info[:range]) %>"
        class="css-truncate css-truncate-target flex-auto width-fit min-width-0 mx-2"
        data-ga-click="Repository, go to compare view, location:sample comparisons"
        data-pjax>
        <%= info[:label] %>
      </a>
      <em><%= time_ago_in_words_js info[:pushed_at] %></em>
    </li>
  <% end %>
  <li class="Box-row d-flex">
    <% todays_range = "#{current_repository.default_branch}@{1day}...#{current_repository.default_branch}" %>
    <%= primer_octicon(:history, color: :muted, classes: "flex-shrink-0") %>
    <a href="<%= compare_path(current_repository, todays_range) %>" class="css-truncate css-truncate-target flex-auto width-fit min-width-0 mx-2" data-pjax>
      <%= todays_range %>
    </a>
    <em>24 hours ago</em>
  </li>
</ul>
