<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter FlashMigrationCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
    title: "Compare · #{current_repository.name_with_display_owner}",
    container_xl: true,
    selected_link: :repo_source,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h1) do %>Compare changes<% end %>
    <% component.with_description do %>
      Compare changes across branches, commits, tags, and more below.
      <%- unless current_repository.advisory_workspace? %>
        If you need to, you can also  <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-toggle-range-editor-cross-repo") do %>compare across forks<% end %>.
      <%- end %>
    <% end %>
  <% end %>

  <%= render :partial => "compare/range_editor", :locals => { :comparison => @comparison, :check_mergeability => true } %>

  <div class="flash flash-warn <% if responsive? %>d-block d-md-flex<% else %>d-flex<% end %> flex-items-center">
    <div class="flex-auto mr-3 <% if responsive? %>mb-3 mb-md-0<% end %>">
      Choose different branches or forks above to discuss and review changes.
      <%= safe_link_to("Learn about pull requests", "#{GitHub.help_url}/articles/using-pull-requests", target: "_blank", class: "no-wrap") %>
    </div>
    <%= render Primer::ButtonComponent.new(scheme: :primary, disabled: true, "data-ga-click": "Repository, go to new pull request form, location:compare page; text:Create pull request") do %>
      Create pull request
    <% end %>
  </div>

  <%= render Primer::BlankslateComponent.new(
    icon: "git-compare",
    title: "Compare and review just about anything",
    description: "Branches, tags, commit ranges, and time ranges. In the same repository and across forks.",
    large: true,
  ) do %>
    <div class="Box Box--condensed text-left container-sm">
      <%= render :partial => "compare/sample_comparisons" %>
    </div>
  <% end %>
</div>
<% end %>
