<selected-item-list>
  <%= render Businesses::Actions::OrganizationSelectionComponent.new(
      business:,
      organizations:,
      selected_organizations:,
      policy_type: nil,
      policy_id: nil,
      input_classes: %w(js-repository-item-checkbox) # Ties to JS behavior that ensures changes to this dialog overwite the policy form's preloaded org selectlist.
    ), layout: false
  %>
  <hr>
  <div class="d-flex flex-items-center ">
    <span class="flex-auto text-small color-fg-muted lh-condensed-ultra">
      <span data-target="selected-item-list.description" <%= " hidden" if selected_organizations.size <= 0 %>>
        <span data-target="selected-item-list.selectedCount">
          <%= selected_organizations.size %>
        </span>
        <span data-target="selected-item-list.singularItemDescription" <%= " hidden" if selected_organizations.size != 1 %>>
          selected organization
        </span>
        <span data-target="selected-item-list.pluralItemsDescription" <%= " hidden" unless selected_organizations.size == 1 %>>
          selected organizations
        </span>
      </span>
    </span>
    <%= render(Primer::Beta::Button.new("data-close-dialog": "", scheme: :primary)) { "Select organizations" } %>
  </div>
</selected-item-list>
