<% page_info title: "Codespaces Policies",
             selected_link: :business_codespaces_settings %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "GitHub Codespaces",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <%= render(Primer::Alpha::UnderlineNav.new(label: "Codespaces navigation", mb: 3)) do |component| %>
    <% component.with_tab(href: settings_codespaces_enterprise_path(this_business.slug), selected: false) do |t| %>
      <% t.with_text { "Access" } %>
    <% end %>
    <% component.with_tab(href: settings_codespaces_policies_enterprise_path(this_business.slug), selected: true, test_selector: "enterprise-codespaces-policy-tab") do |t| %>) do |t| %>
      <% t.with_text { "Policies" } %>
    <% end %>
  <% end %>

  <div <%= test_selector("enterprise-codespaces-policy-index") %>>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading do %>
        <h3 class="text-normal mt-2 mb-2 d-flex flex-items-center">
          Policies
          <%= render(Primer::Beta::Label.new(scheme: :success, ml: 2)) { "Beta" } %>
        </h3>
      <% end %>
      <% if policy_groups.any? %>
        <% component.with_actions(align_self: :start) do %>
          <%= render Primer::Beta::Button.new(href: settings_codespaces_new_policy_group_enterprise_path(slug: this_business.slug), tag: :a, scheme: :primary).with_content("Create Policy") %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <p>
    A policy is a set of constraints on how enterprise members can use codespaces. For instance, you can restrict the machine types or port visibility options for codespaces created from organization repositories.
  </p>
  <p class="mb-5">
    <strong>Policies apply to codespaces billed to your enterprise.</strong> Policies will not apply to codespaces billed directly to users, such as external users creating codespaces against your public repositories.
  </p>

  <%= render Organizations::Settings::CodespacesPolicyGroupListComponent.new(
    owner: this_business,
    policy_groups: policy_groups,
  ) %>
<% end %>
