<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render layout: "move_work/layout", locals: { progressbar_value: progressbar_value }  do %>
  <h2 class="f2 text-normal mb-2" <%= test_selector "heading" %>>Where do you want to move it?</h2>

  <%= form_with(model: choose_organization,
    url: move_work_choose_organization_path(current_context),
    data: { target: "move-work-container.destinationOrgForm" }) do |f| %>
    <% if choose_organization.errors.any? %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 3)) do %>
        <%= choose_organization.errors.full_messages.to_sentence %>
      <% end %>
    <% end %>
    <%= f.hidden_field :organization_id, data: { target: "move-work-container.destinationOrgInput" } %>
    <div class="my-5 d-md-flex gutter-md flex-justify-start flex-items-stretch flex-wrap" data-pjax>
      <article class="col-md-3 mb-3 mb-md-5">
        <%= render Primer::Box.new(bg: :subtle, border: true, h: :full, border_radius: 2, classes: "hover-grow") do %>
          <%= render Primer::Beta::Link.new(href: plans_user_move_work_organization_path, underline: false, display: :flex, align_items: :center, p: 3, h: :full) do %>
            <span class="mr-3"><%= render(Primer::Beta::Octicon.new(icon: :"plus-circle", height: 32, color: :accent)) %></span>
            <span>New organization</span>
          <% end %>
        <% end %>
      </article>
      <% organizations.each do |organization| %>
        <article class="col-md-3 mb-3 mb-md-5">
          <%= render Primer::Box.new(
            bg: :subtle,
            border: true,
            p: 3,
            display: :flex,
            align_items: :center,
            h: :full,
            data: { org: organization.id, action: "click:move-work-container#chooseDestinationOrg" },
            border_radius: 2, classes: "cursor-pointer hover-grow"
          ) do %>
            <span class="mr-3">
              <%= render(GitHub::AvatarComponent.new(actor: organization, size: 40)) %>
            </span>

            <div class="flex-auto">
              <h1 class="h5 wb-break-word mb-0 color-fg-default">
                <%= organization.safe_profile_name.truncate(40) %>
                <%= render(Primer::Beta::Label.new(scheme: accent_label(params.dig(:feature), organization.plan), ml: 2)) do %>
                  <%= organization.plan.display_name.capitalize %>
                <% end %>
              </h1>
              <p class="f6 color-fg-muted mb-0"><%= organization.organization? ? "Organization" : "Personal" %> account</p>
            </div>
          <% end %>
        </article>
      <% end %>
    </div>
  <% end %>

  <%= render(Primer::ButtonComponent.new(
    tag: :a,
    scheme: :default,
    href: new_move_work_path(current_user),
    test_selector: "opt-out-cta"
  )) { "Cancel" } %>
<% end %>
