<div class="p-3" <%= test_selector("hovercard-2fa-enforcement") %>>
  <div class="d-flex width-full text-small">
    <%= primer_octicon(:"shield-lock", height: 36, color: :muted) %>
    <div class="ml-3">
      <a class="d-inline-block text-underline" href="<%= settings_user_2fa_intro_path %>">Enable 2FA</a>
      to view this <%= type %> within the <strong><%= target.safe_profile_name %></strong> organization.
    </div>
  </div>
</div>
