<div class="p-3" <%= test_selector("hovercard-ip-allowlist-enforcement") %>>
  <div class="d-flex width-full text-small">
    <%= render Primer::Beta::Octicon.new(icon: "shield-lock", height: 32, color: :muted) %>
    <div class="ml-3">
      Connect from an allowed IP address to view this
      <%= type %> within the <strong><%= target.safe_profile_name %></strong>
      <%= target.class.name.downcase %>.
    </div>
  </div>
</div>
