<table class="stafftools-table">
  <tr>
    <th>Account Type</th>
    <td <%= test_selector("account-type") %>><%= account_type %></td>
  </tr>
  <tr>
    <th>Account ID</th>
    <td <%= test_selector("account-id") %>><%= target.id %></td>
  </tr>
  <tr>
    <th>Trade Controls Restriction</th>
    <td <%= test_selector("restriction-type") %>><%= trade_controls_restriction_type %></td>
  </tr>
  <tr>
    <th class="no-wrap">Account Downgrade Scheduled On</th>
    <td <%= test_selector("downgrade-date") %>><%= target.scheduled_ofac_downgrade&.downgrade_on || "N/A" %></td>
  </tr>
  <tr>
    <th>Screening Record ID</th>
    <td <%= test_selector("screening-record-id") %>><%= trade_screening_record.id || "N/A" %></td>
  </tr>
  <tr>
    <th>Screening Status</th>
    <td <%= test_selector("screening-status") %>><%= target.humanize_trade_screening_status(authorized_staffer: true) %></td>
  </tr>
  <tr>
    <th>Screening Status Reason</th>
    <td <%= test_selector("screening-status-reason") %>><%= trade_screening_record.screening_status_reason || "N/A" %></td>
  </tr>
  <tr>
    <th>Last Screening Date</th>
    <td <%= test_selector("screening-date") %>><%= trade_screening_record.last_trade_screen_date || "N/A" %></td>
  </tr>
  <tr>
    <th>External ID</th>
    <td <%= test_selector("external-id") %>><%= trade_screening_record.external_uuid || "N/A" %></td>
  </tr>
  <tr>
    <th class="no-wrap">Trade Compliance Audit Logs</th>
    <td>
      <%= form_tag stafftools_user_trade_compliance_path(target), method: :post do %>
        <%= render Primer::Beta::Button.new(
          tag: :a,
          scheme: :link,
          href: trade_audit_log_path,
          test_selector: "trade-audit-log-link",
        ).with_content("Trade compliance audit logs") %>
      <% end %>
    </td>
  </tr>
</table>
