<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% if user.trade_screening_record(ignore_linked_record: true).persisted? && user.trade_screening_record(ignore_linked_record: true).delete_restricted? %>
  <p <%= test_selector "trade-restriction-delete-screening" %>>Deleting a trade screening record with a restrictive status is not allowed.</p>
<% elsif user.trade_screening_record(ignore_linked_record: true).persisted? %>
  <%= render GitHub::DialogComponent.new(title: "Delete trade screening record for #{user.login}",) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :danger, float: :right, ml: 2,) do %>
        Delete Trade Screening Record
      <% end %>
    <% end %>
    <%= form_for(user, url: stafftools_user_trade_compliance_screening_profile_path(user), method: :delete, html: { id: "delete_screening_record_#{user.id}" },) do |f| %>
      <div class="Box-body">
        <input type="hidden" name="id" value="<%= user.name %>">
        Are you sure want to delete the trade screening record record for
        <%= user.name %>?<br><br>
        <label for="reason_delete">
          For the record, why are you deleting this account's trade screening record?
        </label>
        <input id="reason_delete" type="text" name="reason" class="form-control input-block" autofocus>
      </div>
      <div class="Box-footer">
        <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger,) do %>
          Delete Trade Screening Record
        <% end %>
      </div>
    <% end %>
  <% end %>
  <p <%= test_selector "trade-restriction-delete-screening" %>>Delete the trade screening record for this account.</p>
  <% if warn_about_payment_method_removal? %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, full: false, col: 6, test_selector: "del-message-for-pmt-method")) do %>
      <h3 class="h5">
        <%= render(Primer::Beta::Octicon.new("alert")) %>
        Associated Payment Method Will Be Removed
      </h3>
      <div class="ml-5 d-flex flex-column">
        <p <%= test_selector("del-message-main") %>>This account has a payment method associated with it. Deleting the trade screening record will remove the payment method.</p>
        <% unless linked_orgs_to_warn_about.empty? %>
          <div class="ml-5" <%= test_selector("del-message-for-linked-orgs") %>>
            <p>The following organizations will also have their billing information removed since they are linked to this trade screening record:</p>
            <%= render(Primer::Beta::BorderBox.new) do |component| %>
              <% linked_orgs_to_warn_about.each do |org| %>
                <%= component.with_row(display: :flex, align_items: :center) do %>
                  <%= render(Primer::Beta::Link.new(href: organization_path(org), ml: 2, font_weight: :bold, test_selector: "linked-org-#{org.display_login}")) { org.display_login } %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p <%= test_selector "trade-restriction-delete-screening" %>>This account doesn't have a trade screening record yet.</p>
<% end %>
