<li class="Box-row">
  <h4>Manual Screening</h4>
  <% if !authorized_staffer? %>
    <p <%= test_selector "trade-restriction-unauthorized" %>><%= stafftools_not_authorized_html %></p>
  <% elsif !target.has_saved_trade_screening_record? %>
      <p <%= test_selector "trade-restriction-manual-screening" %>>This account doesn't have a trade screening record yet.</p>
  <% elsif organization_with_a_linked_record? %>
      <p>This organization doesn't have any billing information, it uses an admin's billing information.</p>
  <% elsif !manual_screening_allowed? %>
    <p <%= test_selector "trade-restriction-manual-screening-disallowed" %>>This account's screening status (<strong><%= screening_status %></strong>) is ineligible for manual screening.</p>
  <% else %>
    <%= render GitHub::DialogComponent.new(title: "Manual Screening for #{target.display_login}",) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
      <% dialog.with_summary do %>
        <%= render Primer::Beta::Button.new(tag: :summary, scheme: :danger, float: :right, ml: 2,) do %>
          Manual Screen
        <% end %>
      <% end %>
      <%= form_for(target, url: stafftools_user_trade_compliance_manual_screening_path(target), method: :post, html: { id: "manual_screening_#{target.id}" },) do |f| %>
        <div class="Box-body">
          Are you sure you want to manually screen <%= target.name %>?
          <input type="hidden" name="id" value="<%= target.name %>">
        </div>
        <div class="Box-footer">
          <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger,) do %>
            Manual Screening
          <% end %>
        </div>
      <% end %>
    <% end %>
    <p <%= test_selector "trade-restriction-manual-screening" %>>
      Perform manual screening for this <%= target.event_prefix %> account.
      <br>
      This account is currently <strong><%= screening_status %></strong>
    </p>
  <% end %>
</li>
