<li class="Box-row">
  <h4>
    Billing Information
  </h4>
  <% if authorized_staffer? %>
    <div class="d-flex flex-justify-between flex-items-center">
      <p>
        View billing information for this account.
        <br>
        <%= description %>
      </p>
      <% if allowed_to_view_billing_info? %>
        <%= form_tag controller_path, method: action do %>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            scheme: :danger,
          ).with_content(button_text) %>
        <% end %>
      <% end %>
    </div>
    <% if render_info? %>
      <div <%= test_selector "screening-record-data" %>>
        <% if user_owned? %>
          <p class="mt-2" <%= test_selector "first_name" %>>
            <strong>First name:</strong> <%= first_name %>
          </p>

          <p <%= test_selector "last_name" %>>
            <strong>Last name:</strong> <%= last_name %>
          </p>
        <% else %>
          <p class="mt-2" <%= test_selector "entity_name" %>>
            <strong>Entity name:</strong> <%= entity_name %>
          </p>
        <% end %>
        <p <%= test_selector "address1" %>>
          <strong>Address1:</strong> <%= address1 %>
        </p>
        <p <%= test_selector "address2" %>>
          <strong>Address2:</strong> <%= address2 %>
        </p>
        <p <%= test_selector "city" %>>
          <strong>City:</strong> <%= city %>
        </p>
        <p <%= test_selector "region" %>>
          <strong>Region:</strong> <%= region %>
        </p>
        <p <%= test_selector "country" %>>
          <strong>Country:</strong> <%= country %>
        </p>
        <p <%= test_selector "postal_code" %>>
          <strong>Postal code:</strong> <%= postal_code %>
        </p>
        <p>
          <strong>Last screening date:</strong> <%= last_trade_screen_date %>
        </p>
      </div>
    <% end %>
    <% if organization_with_a_linked_record? %>
      <div <%= test_selector "linked-record-data" %>>
        <p>
          This organization uses an <%= link_to "admin's billing information", linked_admin_path, class: "Link--inTextBlock" %>.
        </p>
      </div>
    <% end %>
  <% else %>
    <p <%= test_selector "trade-restriction-unauthorized" %>><%= stafftools_not_authorized_html %></p>
  <% end %>
</li>
