<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Alpha::Dialog.new(title: "SDN Unsuspend Account", size: :medium_portrait)) do |dialog| %>
  <% dialog.with_show_button(scheme: :danger, float: :right, :"aria-label" => "SDN Unsuspend Account") do %>
  SDN Unsuspend Account
  <% end %>
  <% dialog.with_body(classes: 'ws-normal') do %>
    <%= form_for(user, url: stafftools_user_trade_compliance_sdn_suspension_path(user), method: :delete,) do |f| %>
      <label for="reason">
        Reason:
        <input name="reason" type="text" class="form-control input-block mt-1 mb-2" required>
      </label>
      <div class="Box-body">
        Are you sure you want to perform SDN unsuspension for  <%= user.name %>?
        <input type="hidden" name="id" value="<%= user.name %>">
        <div class="mt-2">
          This account:
          <ul class="ml-3 mb-2">
            <li>
                has <b><%= user.repository_counts.total_repositories %></b> repositories.<br>
            </li>
            <li>
                member of <b><%= user.organizations.count %></b> organizations.<br>
            </li>
          </ul>
          <div>
            SDN Unsuspending the user will unsuspend their account.
          </div>
        </div>
      </div>
      <div class="Box-footer">
        <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger,) do %>
          SDN Unsuspend Account
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
<p <%= test_selector "trade-restriction-sdn-unsuspension" %>>
  This account is currently
  <strong><%= user.trade_screening_record.msft_trade_screening_status %></strong>
</p>
