<li class="Box-row">
  <h4>Set Screening Status</h4>
  <% if authorized_staffer? %>
    <%= render(Primer::Alpha::Dialog.new(title: "Set Screening Status", size: :medium_portrait)) do |dialog| %>
      <% dialog.with_show_button(scheme: :danger, disabled: !render_button?, float: :right, :"aria-label" => "Set Screening Status") do %>
        Set Screening Status
      <% end %>
      <% dialog.with_body(classes: 'ws-normal') do %>
        <%= form_for(target, url: controller_path, method: :put, html: { id: "set_screening_status_#{target.id}" },) do |f| %>
        <label for="status">
          Screening Status:
          <select
            id="status"
            name="status"
            class="form-select input-block mt-1 mb-2"
            required
          >
            <option value="" selected disabled hidden></option>
            <% screening_statuses_list.each do |event| %>
              <option value="<%= event %>"><%= event.to_s.titleize%></option>
            <% end %>
          </select>
        </label>
        <label for="reason">
          Reason:
          <input name="reason" type="text" class="form-control input-block mt-1 mb-2" required>
        </label>
        <div class="Box-body">
          Are you sure you want to manually set screening status for  <%= target.name %>?
          <input type="hidden" name="id" value="<%= target.name %>">
        </div>
        <div class="Box-footer">
          <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger, test_selector: "trade-restriction-set-screening-status", disabled: !render_button?) do %>
            Set Screening Status
          <% end %>
        </div>
        <% end %>
      <% end %>
    <% end %>
    <p <%= test_selector "trade-restriction-select-screening-status" %>>
      Set screening status for this <%= actor_type %>.
      <br>
      <%= screening_profile_status %> <strong><%= target.trade_screening_record.msft_trade_screening_status %></strong>
    </p>
  <% else %>
    <p <%= test_selector "trade-restriction-unauthorized" %>><%= stafftools_not_authorized_html %></p>
  <% end %>
</li>
