<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% subscription_type = (business.external_subscription_type || "zuora").titleize %>
<%= render(
  Primer::Beta::BorderBox.new(mb: 4, test_selector: "sync-business-account-information")
) do |component| %>
  <% component.with_header do %>
    Synchronize <%= subscription_type %> Account Information
  <% end %>
  <% component.with_body do %>
    <p>
      <% if business.external_subscription? %>
        Updates account information (bill cycle day and balance) from <%= subscription_type %>. This can be used to
        ensure that GitHub's data about the enterprise's account is up-to-date.
      <% else %>
        This account does not have an external subscription.
      <% end %>
    </p>
    <%= form_tag stafftools_enterprise_billing_sync_account_information_path(this_business), method: :put do %>
      <%= render Primer::ButtonComponent.new(
        type: :submit,
        scheme: :danger,
        disabled: !business.external_subscription?
      ) do %>
        Sync account
      <% end %>
    <% end %>
  <% end %>
<% end %>
