<%= render(Primer::Box.new(border: :bottom, pb: 4, pt: 3)) do |component| %>
  <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center, pb: 2)) do |component| %>
    <%= render(Primer::Beta::Text.new(tag: :h3, font_size: 4)) { "Billing information" } %>
    <% if trade_screening_needed %>
      <%= render(Primer::Beta::Button.new(tag: :a, size: :small, classes: "js-add-billing-information-btn")) do %>
        <%= render(Primer::Beta::Text.new(test_selector: "billing-info-edit")) { "Edit" } %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Box.new(display: :flex, align_items: :center, pb: 2)) do |component| %>
    <div class="d-flex flex-justify-between flex-shrink-0 col-6" <%= test_selector("billing-info-account")%>>
      <%= render(GitHub::AvatarComponent.new(actor: target, size: 40, mr: 2)) %>
      <div class="flex-auto">
        <%= render(Primer::Beta::Text.new(tag: :p, font_weight: :bold, mb: 0)) do %>
          <%= link_to target.safe_profile_name, user_path(target), class: "color-fg-default" %>
          <span class="sr-only">settings</span>
        <% end %>
        <%= render(Primer::Beta::Text.new(tag: :p, font_size: :small, mb: 0, color: :muted)) do %>
          <%= target.organization? ? "Organization" : "Personal account" %>
        <% end %>
      </div>
    </div>
    <% if trade_screening_needed %>
      <div class="flex-shrink-0 col-6">
        <div class="js-billing-information-summary-wrapper color-fg-muted mb-1" <%= test_selector("billing-info-address-summary")%>>
          <% if target.has_saved_trade_screening_record? %>
            <div class = "js-billing-information-summary">
              <%= render Billing::Settings::NameAddressSummaryComponent.new(profile: target.trade_screening_record, unbold_profile_name_text_style: true) %>
            </div>
          <% else %>
            <div class ="js-no-billing-information-message" hidden>
              <p>You have not added any billing information.</p>
            </div>
          <% end %>
        </div>
        <div class="js-name-address-collection-wrapper mt-4" <%="hidden" if target.has_saved_trade_screening_record?%> <%= test_selector("billing-info-address-collection")%>>
          <%= render Billing::Settings::NameAddressFormInputsComponent.new(
            profile: target.trade_screening_record,
            target: target,
            wrapper_type: :form,
            payment_flow_loaded_from: "BILLING_SETTINGS",
            return_to: params[:return_to]
            ) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
