<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Box.new(pb: 4, pt: 3, mb: 4)) do |component| %>
  <% if !trade_screening_needed || target.has_saved_trade_screening_record? %>
    <div class="js-payment-verification-spinner d-flex flex-justify-center flex-items-center width-full" hidden>
      <%= render(Primer::Beta::Spinner.new(size: :large)) %>
    </div>

    <div class="js-payment-still-processing d-flex flex-justify-center flex-items-center width-full" hidden>
      <%= render(Primer::Beta::Flash.new) { "Your payment has been authorized and is still processing. You should see it reflected on your account shortly!" } %>
    </div>

    <div class="js-payment-verification-success d-flex flex-justify-center flex-items-center width-full" hidden>
      <%= primer_octicon(:check, height: 64, color: :success, "aria-label": "Payment verified. Please continue.") %>
    </div>

    <div class="js-payment-method-section-wrapper ml-2 mr-2" <%= test_selector("credit-card-form")%>>
      <%= render Billing::Settings::CreditCardFormComponent.new(
        target: target,
        new_name_address_design: true,
        show_payment_method: true,
        signature_view_context: Billing::Zuora::HostedPaymentsPage::BILLING_SETTINGS_SIGNATURE_VIEW_CONTEXT,
        zuora_redirect_to: target_billing_url(target),
        manual_payment: true,
        invoices: manual_payment.invoice_numbers(purpose: purpose),
        payment_gateway: Billing::Zuora::PaymentGateway.for(target, type: :credit_card, purpose: purpose),
      ) %>
    </div>
  <% end %>
<% end %>
