<%= render(Primer::Beta::BorderBox.new(px: 2)) do |component| %>
  <% component.with_row do %>
    <%= render(Primer::Beta::Text.new(tag: :h3, font_size: 4, border: :bottom, pb: 3)) { "Bill Details" } %>
    <div class="my-3">
      <p class="color-fg-muted m-0">Total Amount</p>
      <p class="text-bold m-0" <%= test_selector("sidebar-balance-due") %>>
        <%= total_balance_due.format %>
      </p>
    </div>
    <% if requires_multiple_payments? %>
      <div class="my-3">
        <p class="color-fg-muted m-0">GitHub Amount</p>
        <p class="text-bold m-0" <%= test_selector("sidebar-general-balance-due") %>>
          <%= general_balance_due.format %>
        </p>
      </div>
      <div class="my-3">
        <p class="color-fg-muted m-0">Sponsorship Amount</p>
        <p class="text-bold m-0" <%= test_selector("sidebar-sponsors-balance-due") %>>
          <%= sponsors_balance_due.format %>
        </p>
      </div>
    <% end %>
    <div>
      <p class="color-fg-muted m-0">Payment due by</p>
      <p class="text-bold m-0"><%= payment_due_date %></p>
    </div>
  <% end %>
<% end %>
