<% if !balance_due.positive? %>
  <%= render Primer::Beta::Blankslate.new(test_selector: "summary-blank-slate") do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No payments currently due
    <% end %>
    <% c.with_description do %>
      Payment may still be processing
    <% end %>
  <% end %>
<% elsif purpose.present? %>
  <%= render(Primer::Box.new(border: :bottom, pb: 4)) do |component| %>
    <%= render(Primer::Beta::Text.new(tag: :p, pb: 2, font_size: 2)) { "Payment Summary" } %>
    <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center, pb: 2)) do |component| %>
      <%= render(Primer::Beta::Text.new(tag: :p, font_weight: :bold)) { "Amount" } %>
      <p><%= balance_due(purpose: purpose) %></p>
    <% end %>
    <%= render(Primer::Beta::BorderBox.new) do |component| %>
      <% component.with_row(scheme: :info, border: :top) do %>
        <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center )) do %>
          <%= render(Primer::Beta::Text.new(tag: :h4)) { "Due today" } %>
          <%= render(Primer::Beta::Text.new(tag: :h2, test_selector: "summary-due-today")) { number_to_currency balance_due(purpose: purpose) } %>
        <% end %>
      <% end %>
    <% end %>
    <% if show_ghas_warning? %>
      <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
        <% component.with_row(scheme: :warning, border: :top) do %>
          <%= render(Primer::Beta::Text.new(tag: :h5, test_selector: "ghas-rbi-warning")) {
            "GitHub Advanced Security is not available for purchase on this page. To buy it, please navigate to the licensing tab within your Enterprise account settings after this payment is complete."
          } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= render(Primer::Beta::Button.new(
    scheme: :primary,
    tag: :a,
    size: :medium,
    href: bill_pay_href(purpose: :general),
    block: true,
    m: 2,
    test_selector: "summary-general-purpose-link",
  ).with_content("Pay GitHub Bill")) %>
  <%= render(Primer::Beta::Button.new(
    scheme: :primary,
    tag: :a,
    size: :medium,
    href: bill_pay_href(purpose: :sponsors),
    block: true,
    m: 2,
    test_selector: "summary-sponsors-purpose-link",
  ).with_content("Pay Sponsors Bill")) %>
<% end %>
