<%# erblint:counter DeprecatedComponentsCounter 2 %>
<details class="details-reset details-overlay details-overlay-dark <%= @details_classes %>" <% if id %>id="<%= id %>"<% end %>>
  <% if summary.present? %>
    <%= summary %>
  <% else %>
    <%= render Primer::ButtonComponent.new(tag: :summary) do %><%= title %><% end %>
  <% end %>
  <details-dialog
    class="Box d-flex flex-column anim-fade-in fast <%= @variant_classes %> <%= @dialog_classes %>"
    <% if @aria_described_by  %>
      aria-describedby="<%= @aria_described_by %>"
    <% end %>
    <% if @onclose %>
      data-action="details-dialog-close:<%= @onclose %>"
    <% end %>
    <% if @title %>
      aria-label="<%= @title %>"
    <% end %>
    <% if src %>
      src="<%= src %>"
      <% if preload %>preload<% end %>
    <% end %>><%# erblint:disable A11yDetailsDialogMigration %>
    <div class="<%= @header_classes %>">
      <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
        <%= render Primer::Beta::Octicon.new(icon: "x") %>
      </button>
      <% if header %>
        <%= header %>
      <% else %>
        <h1 class="<%= @title_classes %>" <%= test_selector("dialog-title#{id.present? ? "-#{id}" : nil}") %>><%= @title %></h1>
      <% end %>
    </div>
    <% if alert %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, full: true, icon: "alert")) do %>
        <%= alert %>
      <% end %>
    <% end %>
    <% if body %>
      <div class="<%= @body_classes %>">
        <%= body %>
      </div>
      <% if footer %>
        <div class="Box-footer">
          <%= footer %>
        </div>
      <% end %>
    <% else %>
      <%= content %>
    <% end %>
  </details-dialog>
</details>
