<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Beta::Flash.new(scheme: level, icon: icon, test_selector: test_selector, classes: "js-notice", **@system_arguments)) do %>
  <div class="flash-action d-flex flex-items-center">
    <%= action %>
    <% if is_dismissible %>
      <% if dismissible_path %>
        <%= form_tag dismissible_path, method: dismissible_method, class: "js-notice-dismiss", data: { "test-selector" => "dismiss_form" } do %>
          <button class="flash-close ml-0" type="submit" aria-label="Close" <%= helpers.test_selector "flash-action-dismissible" %>>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          </button>
        <% end %>
      <% else %>
        <button class="flash-close js-flash-close ml-0" type="button" aria-label="Close" <%= helpers.test_selector "flash-action-dismissible" %>>
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
        </button>
      <% end %>
    <% end %>
  </div>
  <% if title %>
    <%= title %>

    <% if icon %>
      <%# if an icon is displays, we need to offset the text to match the left alignment of the title %>
      <div class="ml-5">
        <%= text %>
      </div>
    <% else %>
      <%= text %>
    <% end %>
  <% else %>
    <%= text %>
  <% end %>
<% end %>
