<%= render(Primer::BaseComponent.new(**@system_arguments)) do %>
  <%= summary || render(default_summary) %>
  <details-menu
    class="<%= details_menu_class_names %>"
    <% if @src %>
      src="<%= @src %>"
      <% if @preload %>preload<% end %>
    <% end %>
    <% unless @filterable %>
      role="menu"
      <% if @title %>aria-label="<%= @title %>"<% end %>
    <% end %>
    <% if @input_id %>
      data-menu-input="<%= @input_id %>"
    <% end %>
    <% if @onselect || @onselected %>
      data-action="
        <% if @onselect %>details-menu-select:<%= @onselect %><% end %>
        <% if @onselected %>details-menu-selected:<%= @onselected %><% end %>
      "
    <% end %>><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="<%= modal_class_names %>">
      <% if @title || header %>
        <header class="SelectMenu-header">
          <% if header %>
            <%= header %>
          <% else %>
            <div class="SelectMenu-title"><%= @title %></div>
          <% end %>
          <button class="SelectMenu-closeButton" type="button" aria-label="Close menu" data-toggle-for="<%= @details_id %>">
            <%= render Primer::Beta::Octicon.new(icon: "x") %>
          </button>
        </header>
      <% else %>
        <button class="SelectMenu-closeButton position-absolute right-0 m-2" type="button" aria-label="Close menu" data-toggle-for="<%= @details_id %>">
          <%= render Primer::Beta::Octicon.new(icon: "x") %>
        </button>
      <% end %>
      <% if @filterable %>
        <filter-input aria-owns="filter-menu-<%= id %>" class="SelectMenu-filter">
          <input
            autofocus
            aria-owns="filter-menu-<%= id %>"
            class="<%= input_filterable_class_names %>"

            <% if @js_filterable %>
              id=<%= @js_filterable_id %>
            <% end %>

            type="text"
            aria-label="<%= @title || @text %>"
            placeholder="<%= @filter_placeholder || @title || @text %>"
          >
        </filter-input>
      <% end %>
      <div
        id="filter-menu-<%= id %>"
        class="d-flex flex-column flex-1 overflow-hidden"
        <% if @filterable %>
        role="menu"
        <% if @title %>aria-label="<%= @title %>"<% end %>
        <% end %>>
        <div
          class="SelectMenu-list"
          <% if @filterable %>data-filter-list<% end %>>

          <% if @src.present? %>
            <include-fragment class="SelectMenu-loading" aria-label="Loading">
              <% if @src_error_msg %>
                <p data-show-on-error hidden>
                  <%= @src_error_msg %>
                </p>
                <span data-hide-on-error>
              <% end %>
              <%= render(Primer::Beta::Spinner.new(role: 'menuitem')) %>
              <% if @src_error_msg %>
                </span>
              <% end %>
            </include-fragment>
          <% elsif body %>
            <%= body %>
          <% else %>
            <% @items.each do |item| %>
              <%= render(item) %>
            <% end %>
          <% end %>
          <% if @filterable %>
            <div class="SelectMenu-blankslate" data-filter-empty-state hidden>
              No results found.
            </div>
          <% end %>
        </div>
        <%= extra %>
      </div>
    </div>
  </details-menu>
<% end %>
