<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="js-add-team-container">
  <div class="js-add-child-team-loading-state width-full text-center mt-3" hidden>
    <%= render(Primer::Beta::Spinner.new(size: :large)) %>
  </div>

  <div class="js-add-child-team-modal-content">
    <%= form_tag org_team_move_child_team_path(team.organization), method: :put,
          class: "input-block js-add-child-team-form",
          'data-change-parent-summary-path' => org_teams_important_changes_summary_path(team.organization) do %>

      <div class="js-add-team-search m-3">
        <%= render Primer::BlankslateComponent.new(
          icon: "people",
          link_text: "Learn more",
          link_url: "#{GitHub.help_url}/articles/requesting-to-add-a-child-team/",
        ) do %>
          <h3 class="mb-1">Add a team to <strong><%= team.name %></strong></h3>
          <p>Teams will become a child of <%= team.name %>.</p>
        <% end %>

        <% placeholder_create_part = " or create a new team" if team.organization.can_create_team?(current_user) %>
        <% placeholder = "Search by team name#{placeholder_create_part}" %>
        <auto-complete class="auto-search-group d-block mt-4 js-add-child-team-completer" src="<%= org_team_child_search_path(team.organization) %>" for="child-team-results">
          <input
            type="text"
            name="child_team[id]"
            autofocus
            required
            class="form-control input-block input-contrast auto-search-input"
            aria-label="<%= placeholder %>"
            placeholder="<%= placeholder %>">
          <%= primer_octicon(:people) %>
          <ul id="child-team-results" class="invite-member-results autocomplete-results position-relative mb-2"></ul>
        </auto-complete>
      </div>

      <div class="js-add-team-warning"></div>
    <% end %>
  </div>
</div>

<% if team.adminable_by?(current_user) %>
  <% outbound_parent_initiated_requests = TeamChangeParentRequest.outbound_parent_initiated(team).where(approved_by_id: nil) %>
  <% if outbound_parent_initiated_requests.any? %>
    <div class="overflow-auto" <%=test_selector("pending_approvals_div")%>>
      <h5 class="ml-3 mt-4 mb-2">Pending approval</h5>
      <div class="Box mx-3 mb-3">
        <ul class="ml-0 mb-0 p-0">
          <% outbound_parent_initiated_requests.first(Orgs::TeamsController::TEAM_PAGE_SIZE).each do |request| %>
            <li class="Box-row d-flex flex-items-center flex-justify-between">
              <strong <%= test_selector "requested_team_name" %>>
                <%= request.requested_team.name %>
              </strong>
              <%= button_to "Cancel", cancel_team_change_parent_request_path(team.organization, id: request.id),
                method: "delete",
                class: "btn btn-sm",
                form_class: "BtnGroup-parent"
              %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
