<%# `view` is an instance of Orgs::Teams::ChangeTeamsVisibilityDialogView %>

<% teams = view.teams_to_change_visibility %>
<% if view.cant_change_visibility_for_all_teams? %>
  <%= render Primer::Beta::Flash.new(full: true, scheme: :warning, mb: 3) do %>
    At this time, the visibility of teams with parents or children cannot be changed. To change the visibility of these teams, first remove their children and remove them from their parents.
  <% end %>
<% end %>
<%= render(Primer::Alpha::Dialog::Body.new) do %>
  <%= form_tag teams_set_visibility_path(this_organization, this_team), method: :put do %>
    <div>
      <% if teams.size > 0 %>
        <p>The visibility of the following teams will be changed:</p>
        <div class="confirm-removal-list-container">
          <ul class="list-style-none">
            <% teams.each do |team| %>
              <li class="confirm-removal-list-item">
                <%= team.name %>
              </li>
            <% end %>
          </ul>
        </div>

        <p>Select a new visibility</p>
        <div class="form-group">
          <div>
          <div class="form-checkbox">
            <label>
              <input name="privacy" type="radio" value="closed" required>
              Visible
              <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: Recommended") do %>
                Recommended
              <% end %>
            </label>
            <p class="note">
            A visible team can be seen and <a class="Link--inTextBlock" href="<%= GitHub.blog_url %>/2012-05-09-introducing-team-mentions/">@mentioned</a> by every member of this organization.
            </p>
          </div>
          </div>
          <div>
          <div class="form-checkbox">
            <label>
              <input name="privacy" type="radio" value="secret" required>
              Secret
            </label>
            <p class="note">
            A secret team can only be seen by its members.
            </p>
          </div>
          </div>
        </div>
      <% end %>
    </div>
    <% teams.each do |team| %>
      <input type="hidden" name="team_ids[]" value="<%= team.id %>">
    <% end %>
    <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger, "data-disable-invalid": "")) { "Change visibility of #{teams.size > 1 ? "these teams" : "this team"}" } %>
  <% end %>
<% end %>
