<% potential_child_teams.each do |team| %>
  <% if team.eligibility_status == "ELIGIBLE" %>
    <li role="option" class="select-menu-item typeahead-result" data-autocomplete-value="<%= team.id %>">
      <span class="css-truncate-target"><%= team.name %></span>
    </li>
  <% elsif team.eligibility_status == "PERMISSION" %>
    <li role="option" class="select-menu-item typeahead-result" data-autocomplete-value="<%= team.id %>">
      <span class="css-truncate-target"><%= team.name %></span>
      <p class="description text-small mt-0 mb-0"><%= child_ineligibility_reason(team.eligibility_status) %></p>
    </li>
  <% else %>
    <li role="option" class="select-menu-item typeahead-result disabled" aria-disabled="true">
      <span class="css-truncate-target"><%= team.name %></span>
      <p class="description text-small mt-0 mb-0"><%= child_ineligibility_reason(team.eligibility_status) %></p>
    </li>
  <% end %>
<% end %>

<% if query.present? && organization.can_create_team?(current_user) && potential_child_teams.none? { |e| e.name.downcase == query.downcase } %>
  <li>
    <a href="<%= new_team_path(org: organization, parent_team: team.slug, name: query) %>" class="typeahead-result" role="option">
      <%= query %> (Create team) <%= primer_octicon(:plus, float: :right) %>
    </a>
  </li>
<% end %>
