<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# `view` is an instance of Orgs::Teams::DeleteTeamsDialogView %>

<%= render Primer::Beta::Flash.new(scheme: :warning, full: true) do %>
  <%= view.delete_teams_text %>
<% end %>
<%= render(Primer::Alpha::Dialog::Body.new) do %>
  <% if view.selected_teams.size > 0 %>
    <div style="margin-top: 9px">
      <p>The following teams will be deleted:</p>
      <div class="confirm-removal-list-container">
        <ul class="list-style-none">
          <% view.selected_teams.each do |team| %>
            <li class="confirm-removal-list-item">
              <%= team.name %>
              <% if team.descendants.any? %>
                and <%= link_to "#{pluralize team.descendants.count, "child team", "child teams"}", team_teams_path(team), class: "Link--inTextBlock" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>

<%= render(Primer::Alpha::Dialog::Footer.new(show_divider: :true)) do %>
  <%= form_tag view.destroy_teams_path, method: :delete do %>
    <% view.selected_teams.each do |team| %>
      <input type="hidden" name="team_ids[]" value="<%= team.id %>">
    <% end %>
    <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger) do %>
      I understand, delete <%= view.selected_teams.size > 1 ? "these teams" : "this team" %>
    <% end %>
  <% end %>
<% end %>
