<%# erblint:counter DeprecatedComponentsCounter 2 %>
<dl class="form-group">
  <dt>
    <label for="external_group_team">
      Identity Provider Group
    </label>
    <p class="note">
      Manage team members using your identity provider group.
      <% if enterprise_managed_user? %><%= link_to "Learn more", "#{GitHub.help_url}/enterprise-cloud@latest/admin/identity-and-access-management/managing-iam-with-enterprise-managed-users/managing-team-memberships-with-identity-provider-groups", class: "Link--inTextBlock", "aria-label": "Learn more about managing team memberships with enterprise managed users"%><% end %>
    </p>
  </dt>
  <dd>
    <% if team&.legacy_owners? %>
      <input type="text" class="form-control disabled" id="ext-group" placeholder="You can’t map the Owners team to an Identity Provider Group." disabled>
    <% elsif team&.explicit_members? %>
      <label class="note">You can’t map a team with explicit members to an Identity Provider Group.</label>
    <% else %>
      <% if user_feature_enabled?(:primer_experimental_selectpanel_external_identities) %>
        <%= render(Primer::Alpha::SelectPanel.new(
          id: "js-external-group-menu",
          title: "Select group",
          src: groups_suggestions_path(team_slug: team&.slug),
          select_variant: :single,
          no_results_label: "No groups found.",
          dynamic_label: true,
          dynamic_label_prefix: "Group",
          dynamic_aria_label_prefix: "Identity provider group",
          list_arguments: {
            form_arguments: {
              builder: form_builder,
              name: "team[external_group_team]",
            }
          }
        )) do |panel| %>
          <% panel.with_show_button do |button| %>
            <% button.with_trailing_visual_icon(icon: :"triangle-down") %>
            <%= team&.external_group_team&.external_group&.display_name || "Select group" %>
          <% end %>
        <% end %>
      <% else %>
        <details class="select-menu details-reset details-overlay">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            Select Group
          <% end %>
          <details-menu class="select-menu-modal position-absolute js-external-group-menu" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header">
              <span class="select-menu-title">Select Group</span>
            </div>
              <remote-input src="<%= groups_suggestions_path %>" aria-owns="external-group-search-results">
              <div class="select-menu-filters">
                <div class="select-menu-text-filter">
                  <input id="external_group" type="text" class="form-control" placeholder="Search groups" aria-label="Search groups" autofocus autocomplete="off">
                </div>
              </div>
            </remote-input>
            <div id="external-group-search-results" class="external-group-search-results select-menu-list">
              <button type="button" role="menuitem" class="select-menu-loading select-menu-item width-full">Loading Groups...</button>
              <button type="button" role="menuitem" class="select-menu-error select-menu-item width-full">Error loading Groups. Try again.</button>
            </div>
          </details-menu>
        </details>
      <% end %>
      <p class="note">You can manage this team’s members externally.</p>
    <% end %>

    <template class="js-external-group-template">
      <div class="Box-row d-flex flex-items-center js-external-group-container">
        <div class="flex-auto">
          <input type="hidden" name="team[external_group_team][{GROUP_ID}][display_name]" class="js-external-group-hidden-display-name">
          <strong class="js-external-group-display-name"></strong>
        </div>
        <button type="button" class="Box-btn-octicon btn-octicon float-right js-remove-external-group" aria-label="Remove {GROUP_NAME}">
          <%= primer_octicon(:x) %>
        </button>
      </div>
    </template>

    <%= render(Primer::Beta::Flash.new(test_selector: "external-group-guest-collaborator-warning", scheme: :warning, mt: 3, mb: 2, style: "max-width: 480px;", classes: "js-external-group-guest-collaborator-warning", hidden: true)) {} %>

    <% if !user_feature_enabled?(:primer_experimental_selectpanel_external_identities) %>
      <div class="Box mt-3 js-selected-external-group-container" style="max-width: 480px;" <%= "hidden" if team&.external_group_team.nil? %>>
        <div class="js-selected-external-group">
          <input type="hidden" name="manage_external_group">
          <% if team&.external_group_team.present? %>
            <div class="Box-row d-flex flex-items-center js-external-group-container">
              <div class="flex-auto">
                <input type="hidden" class="js-external-group-hidden-display-name"
                      name="team[external_group_team][<%= team&.external_group_team.external_group_id %>][display_name]"
                      value="<%= team&.external_group_team.external_group.display_name %>">
                <strong class="js-external-group-display-name"><%= team&.external_group_team.external_group.display_name %></strong>
              </div>
              <%= render Primer::Beta::CloseButton.new(float: :right, classes: "Box-btn-octicon btn-octicon js-remove-external-group", "aria-label": "Remove #{team&.external_group_team.external_group.display_name}") %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </dd>
</dl>
