<%# erblint:counter DeprecatedComponentsCounter 1 %>
<dl class="form-group">
  <dt>
    <label for="group_mapping">
      Identity Provider Groups
    </label>
    <p class="note">
      Manage team members using your identity provider groups.
      <%= link_to "Learn more about managing team synchronization for your organization", "#{GitHub.help_url}/enterprise-cloud@latest/organizations/managing-saml-single-sign-on-for-your-organization/managing-team-synchronization-for-your-organization", class: "Link--inTextBlock" %>
    </p>
  </dt>
  <dd>
    <% if team&.legacy_owners? %>
      <input type="text" class="form-control disabled" id="ext-group" placeholder="You can’t map the Owners team to an Identity Provider Group." disabled>
    <% else %>
      <details class="select-menu details-reset details-overlay">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          Select Groups
        <% end %>
        <details-menu class="select-menu-modal position-absolute js-team-group-mapping-menu" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Select Groups</span>
          </div>
          <remote-input src="<%= external_group_suggestions_path %>" aria-owns="group-mapping-search-results">
            <div class="select-menu-filters">
              <div class="select-menu-text-filter">
                <input id="group_mapping" type="text" class="form-control" placeholder="Search groups" aria-label="Search groups" autofocus autocomplete="off">
              </div>
            </div>
          </remote-input>
          <div id="group-mapping-search-results" class="team-group-mapping-search-results select-menu-list">
            <button type="button" role="menuitem" class="select-menu-loading select-menu-item width-full">Loading Groups...</button>
            <button type="button" role="menuitem" class="select-menu-error select-menu-item width-full">Error loading Groups. Try again.</button>
          </div>
        </details-menu>
      </details>
    <% end %>

    <p class="note">You can manage this team’s members externally.</p>

    <template class="js-team-group-mapping-template">
      <div class="Box-row d-flex flex-items-center js-group-mapping-container">
        <div class="flex-auto">
          <input type="hidden" name="team[group_mappings][{GROUP_ID}][name]" class="js-group-mapping-hidden-name">
          <input type="hidden" name="team[group_mappings][{GROUP_ID}][description]" class="js-group-mapping-hidden-description">
          <strong class="js-group-mapping-name"></strong>
          <div class="text-small color-fg-muted js-group-mapping-desc"></div>
        </div>
        <button type="button" class="Box-btn-octicon btn-octicon float-right js-remove-group-mapping" aria-label="Remove {GROUP_NAME}">
          <%= primer_octicon(:x) %>
        </button>
      </div>
    </template>

    <div class="Box mt-3 js-selected-group-mappings-container" <%= "hidden" if team&.group_mappings&.size == 0 %>>
      <div class="js-selected-group-mappings">
        <input type="hidden" name="manage_group_mappings">
        <% team&.group_mappings&.each do |group| %>
          <div class="Box-row d-flex flex-items-center js-group-mapping-container">
            <div class="flex-auto">
              <input type="hidden" class="js-group-mapping-hidden-name"
                     name="team[group_mappings][<%= group.group_id %>][name]"
                     value="<%= group.group_name %>">
              <input type="hidden" class="js-group-mapping-hidden-description"
                     name="team[group_mappings][<%= group.group_id %>][description]"
                    value="<%= group.group_description %>">
              <strong class="js-group-mapping-name"><%= group.group_name %></strong>
              <div class="text-small color-fg-muted js-group-mapping-desc"><%= group.group_description %></div>
            </div>
            <%= render Primer::Beta::CloseButton.new(float: :right, classes: "Box-btn-octicon btn-octicon js-remove-group-mapping", "aria-label": "Remove #{group.group_name}") %>
          </div>
        <% end %>
      </div>
    </div>
  </dd>
</dl>
