<% if requests.any? %>
  <div class="text-center px-3 pt-3">
    <p class="color-fg-muted pb-3">
      <%= prompt %>
    </p>
  </div>

  <div class="Box mx-3 my-3">
    <ul class="ml-0 mb-0 p-0">
      <% requests.each do |request| %>
        <li class="Box-row d-flex flex-items-center flex-justify-between">
          <strong class="mr-2" <%= test_selector "requesting_team_name" %>>
            <%= request.requesting_team.name %>
          </strong>

          <div class="BtnGroup flex-shrink-0">
            <%= button_to "Approve", approve_team_change_parent_request_path(team.organization, id: request.id),
              method: "post",
              class: "btn btn-sm BtnGroup-item",
              form_class: "BtnGroup-parent"
            %>
            <%= button_to "Deny", cancel_team_change_parent_request_path(team.organization, id: request.id),
              method: "delete",
              class: "btn btn-sm BtnGroup-item",
              form_class: "BtnGroup-parent"
            %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
