<%# `view` is an instance of Orgs::Teams::TeamsPageView or Orgs::Teams::IndexPageView %>
<% if view.search? && view.teams.any? %>
  <ul class="team-listing table-list table-list-bordered adminable" data-hpc>
    <% view.teams.each do |team| %>
      <%= render "orgs/teams/team", view: create_view_model(
        Orgs::Teams::TeamView,
        team: team,
        organization: view.organization,
        member_ids: view.member_ids_for_teams[team.id],
        show_admin_stuff: view.show_admin_stuff?,
        show_bulk_actions: view.show_bulk_actions? && team.adminable_by?(current_user),
      ) %>
    <% end %>
  </ul>
  <div class="paginate-container" data-pjax>
    <%= will_paginate(view.teams) %>
  </div>
<% elsif !view.search? && view.parent_teams.any? %>
  <ul class="team-listing table-list table-list-bordered adminable" data-hpc>
    <% view.parent_teams.each do |team| %>
      <%= render "orgs/teams/team", view: create_view_model(
        Orgs::Teams::TeamView,
        team: team,
        organization: view.organization,
        member_ids: view.member_ids_for_teams[team.id],
        show_admin_stuff: view.show_admin_stuff?,
        show_bulk_actions: view.show_bulk_actions? && team.adminable_by?(current_user),
        indent_level: 0,
      ) %>
    <% end %>
  </ul>
  <div class="paginate-container" data-pjax>
    <%= will_paginate(view.parent_teams) %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>

    <% c.with_heading(tag: :h2) do %>
      We couldn’t find any matching teams.
    <% end %>
  <% end %>
<% end %>
