<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%# erblint:counter GoogleAnalyticsDeprecation 3 %>
<%# `view` is an instance of Orgs::Teams::TeamsPageView or Orgs::Teams::IndexPageView %>
<div class="container mt-4"><%# erblint:disable DeprecatedCustomCss %>
  <% if view.any_teams? %>
    <div class="subnav org-toolbar org-toolbar-next">
      <%= form_tag view.search_path, :method => :get,
            :class => "subnav-search float-left",
            :"data-autosearch-results-container" => "org-teams" do %>
        <div class="auto-search-group">
          <input  class="form-control subnav-search-input input-contrast auto-search-input js-team-search-field" value="<%= view.query %>" type="text" name="query" placeholder="Find a team…" aria-label="Find a team" autocomplete="off" data-throttled-autosubmit>
          <%= primer_octicon(:search) %>
          <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
        </div>
      <% end %>

      <div class="float-right">
        <% if view.show_pending_team_change_parent_requests? %>
          <%= render layout: "shared/spacious_details_dialog", locals: {
            button_text: pluralize(view.inbound_request_count, "pending team", "pending teams"),
            button_class: "btn mr-2",
            hide_title: true,
            title: "Pending team requests"
          } do %>
            <%= render "orgs/teams/pending_team_requests_modal", team: view.team %>
          <% end %>
        <% end %>

        <% if view.show_import_teams_button? %>
          <a href="<%= import_organization_path(organization_id: view.organization.display_login) %>" class="btn mr-2" data-ga-click="Orgs, import teams, location:teams toolbar; text:Import teams">
            Import teams
          </a>
        <% end %>

        <% if view.can_move_teams? %>
          <%= render layout: "shared/spacious_details_dialog", locals: {
            button_class: "btn btn-primary",
            button_text: "Add a team",
            dialog_class: "js-add-team-dialog",
            ga_click: "Orgs, create team, location:teams toolbar; text:Add a team",
            title: "Add a team",
            hide_title: true
          } do %>
            <%= render "orgs/teams/add_child_form_modal", team: view.team %>
          <% end %>
        <% elsif view.can_create_teams? %>
          <a href="<%= view.new_team_path_for_view %>" class="btn btn-primary" rel="nofollow" data-ga-click="Orgs, create team, location:teams toolbar; text:New team">
            New team
          </a>
        <% end %>
      </div>
    </div>

    <div class="table-list-header table-list-header-next bulk-actions-header <% if view.show_bulk_actions? %> js-sticky<% end %>">
      <div class="table-list-filters d-flex">
        <% if view.show_bulk_actions? %>
          <label class="table-list-header-select-all">
            <input type="checkbox" name="select-all-checkbox" data-check-all aria-label="Select all teams">
          </label>

          <div class="select-all-dropdown dropdown js-bulk-actions flex-auto">
            <%= render partial: "orgs/teams/teams_toolbar_actions", locals: { selected_teams: [] } %>
          </div>
        <% else %>
          <span class="table-list-heading table-list-header-meta flex-auto">
            <%= view.heading_text %>
          </span>
        <% end %>

        <div class="table-list-header-toggle d-flex py-1">
          <% if view.show_visibility_toggle? %>
          <details class="details-reset details-overlay flex-self-center select-menu" data-filter-on="visibility">
            <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, py: 2, classes: "select-menu-button icon-only") do %>
              Visibility
            <% end %>
            <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="select-menu-header">
                <span class="select-menu-title">Team visibility</span>
              </div>
              <div class="select-menu-list">
                <a href="<%= url_for(query: "") %>" class="select-menu-item js-team-search-filter" aria-checked="true" aria-label="Team visibility - All" data-filter="" role="menuitemradio">
                  <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text">All</div>
                </a>
                <a href="<%= url_for(query: "visibility:secret") %>" class="select-menu-item js-team-search-filter" aria-label="Team visibility - Secret" data-filter="visibility:secret" role="menuitemradio">
                  <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text">Secret</div>
                </a>
                <a href="<%= url_for(query: "visibility:visible") %>" class="select-menu-item js-team-search-filter" aria-label="Team visibility - Visible" data-filter="visibility:visible" role="menuitemradio">
                  <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text">Visible</div>
                </a>
              </div>
            </details-menu>
          </details>
          <% end %>

          <details class="details-reset details-overlay select-menu flex-self-center" data-filter-on="members">
            <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, py: 2, classes: "select-menu-button icon-only") do %>
              Members
            <% end %>
            <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="select-menu-header">
                <span class="select-menu-title">Team members</span>
              </div>
              <div class="select-menu-list">
                <a href="<%= url_for(query: "") %>" class="select-menu-item js-team-search-filter" aria-label="Members - All" aria-checked="true" data-filter="" role="menuitemradio">
                  <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text">All</div>
                </a>
                <a href="<%= url_for(query: "members:me") %>" class="select-menu-item js-team-search-filter" aria-label="Members - My teams" data-filter="members:me" role="menuitemradio">
                  <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text">My teams</div>
                </a>
                <a href="<%= url_for(query: "members:empty") %>" class="select-menu-item js-team-search-filter" aria-label="Members - No members" data-filter="members:empty" role="menuitemradio">
                  <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text">No members</div>
                </a>
              </div>
            </details-menu>
          </details>
        </div>
      </div>
    </div>

    <div id="org-teams">
      <%= render :partial => "orgs/teams/list", :locals => { :view => view } %>
    </div>

    <%= render Primer::Beta::Blankslate.new(display: :none) do |c| %>
      <% c.with_visual_icon(icon: "search") %>

      <% c.with_heading(tag: :h2) do %>
        Sorry. We couldn’t find any matching teams.
      <% end %>
    <% end %>
  <% end %>
</div>
