<% if selected_team_members.any? %>
  <%= render(Primer::Alpha::ActionMenu.new) do |component| %>
    <% component.with_show_button("data-ga-click": "Teams, selected, location:team member list bulk; text:selected") do |button|
      button.with_trailing_action_icon(icon: :"triangle-down")
      selected_team_members.count == 1 ? "1 member selected" : "#{selected_team_members.count} members selected"
    end %>
    <% if this_team.adminable_by?(current_user) %>
      <% component.with_item(
        label: "Change role",
        tag: :button,
        content_arguments: { "data-show-dialog-id": "change-role-dialog" },
        value: "",
        test_selector: "Teams, change role, location:team member list bulk; text:Change role",
        scheme: :default
      ) %>
    <% end %>
    <% if !this_team.ldap_mapped? && this_team.adminable_by?(current_user) && this_team.locally_managed? %>
      <% component.with_item(
        label: "Remove from team",
        tag: :button,
        content_arguments: { "data-show-dialog-id": "remove-member-dialog" },
        value: "",
        test_selector: "Teams, remove team member, location:team member list bulk; text:Remove from team",
        scheme: :danger
      ) %>
    <% end %>
  <% end %>

  <%= render(Primer::Alpha::Dialog.new(id: "change-role-dialog", title: "Change the team role of #{selected_team_members.size == 1 ? selected_team_members.first.display_login : "#{selected_team_members.count} members" }?")) do |d| %>
    <%= render "orgs/team_members/change_role_modal",
      members: selected_team_members,
      member_ids: selected_team_members.map(&:id),
      team_poster_role_option: this_organization.enhanced_team_posts_enabled?
    %>
  <% end %>

  <%= render(Primer::Alpha::Dialog.new(id: "remove-member-dialog", title: "Removing #{pluralize(selected_team_members.count, "member", "members")} from #{this_team.name}")) do |d| %>
    <%= render "orgs/team_members/bulk_destroy_members_modal",
      members: selected_team_members,
      redirect_to_path: team_members_path(this_team)
    %>
  <% end %>
<% else %>
  <div></div>
<% end %>
