<%# erblint:counter DeprecatedInPrimerCounter 4 %>
<%# erblint:counter GoogleAnalyticsDeprecation 6 %>
<%
  form_classes ||= nil
%>

<% if this_team.locally_managed? %>
  <% case this_team.available_membership_action_for(current_user) %>
  <% when :join %>
    <%= form_tag team_members_path(this_team), method: :post, class: form_classes do %>
      <input type="hidden" name="member" value="<%= current_user.display_login %>">
      <button type="submit" class="<%= button_classes %>" data-ga-click="Orgs, join team, <%= ga_location %>; text:Join">
        Join
      </button>
    <% end %>

  <% when :join_disabled %>
    <button type="button" class="<%= button_classes %> tooltipped tooltipped-s" disabled
            aria-label="Only owners and team maintainers can add people."><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
      Join
    </button>

  <% when :request_membership %>
    <%= form_tag team_membership_requests_path(this_organization, this_team), method: :post, class: form_classes do %>
      <% if local_assigns[:return_to_path_after_requesting].present? %>
        <input type="hidden" name="return_to" value="<%= return_to_path_after_requesting %>">
      <% end %>
      <button class="<%= button_classes %> tooltipped tooltipped-s"
              type="submit"
              aria-label="Requires approval from an owner or team maintainer"
              data-ga-click="Orgs, request to join team, <%= ga_location %>; text:Request to join"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        Request to join
      </button>
    <% end %>

  <% when :request_pending %>
    <%= form_tag destroy_team_membership_request_path(this_organization, this_team), method: "delete", class: form_classes do %>
      <% if local_assigns[:return_to_path_after_cancelling].present? %>
        <input type="hidden" name="return_to" value="<%= return_to_path_after_cancelling %>">
      <% end %>

      <button class="<%= button_classes %> tooltipped tooltipped-s"
              type="submit"
              aria-label="Your request to join this team is pending review"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        Cancel pending request
      </button>
    <% end %>

  <% when :leave %>
    <%= form_tag leave_team_path(this_organization, this_team), method: :post, class: form_classes do %>
      <% if local_assigns[:return_to_path_after_leaving].present? %>
        <input type="hidden" name="return_to" value="<%= return_to_path_after_leaving %>">
      <% end %>

      <button class="<%= button_classes %> btn-danger"
              data-confirm="Are you sure you want to leave this team?"
              type="submit"
              data-ga-click="Orgs, leave team, <%= ga_location %>; text:Leave">
        Leave team
      </button>
    <% end %>

  <% when :leave_disabled %>
    <button class="<%= button_classes %> tooltipped tooltipped-s" disabled
            type="button"
            aria-label="You’re the only owner! To leave, first add another owner."><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
      Leave
    </button>
  <% end %>
<% end %>
