<%
  parent_team = team&.parent_team

  eligible_parent_teams = organization.parent_teams_search_for(
    query,
    current_user,
    child_team_slug: team&.slug).limit(20)

  requested_parent_team = team&.pending_change_parent_requests(direction: 'outbound_child_initiated')&.first&.parent_team

  ineligible_parents = if team
    descendants = team.async_descendants(immediate_only: false).sync
    query_sql = ActiveRecord::Base.sanitize_sql_like(query.to_s.strip.downcase)
    query_sql ? descendants.where(["name LIKE ? OR slug LIKE ?", "%#{query}%", "%#{query}%"]) : descendants
  else
    []
  end
%>

<%# Adding existing parent team even it it's not on the list of teams returned (e.g. viewer is not adminable on that team) %>
<% if parent_team.present? %>
  <button type="button" class="select-menu-item width-full" role="menuitemradio" aria-checked="true" value="<%= parent_team.global_relay_id %>" data-team-name="<%= parent_team.name %>">
    <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
    <div class="select-menu-item-text" data-menu-button-text>
      <span class="css-truncate-target"><%= parent_team.name %></span>
    </div>
  </button>
<% end %>

<% if requested_parent_team %>
  <button type="button" class="select-menu-item width-full" role="menuitemradio" value="<%= requested_parent_team.global_relay_id %>" data-team-name="<%= requested_parent_team.name %>">
    <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
    <div class="select-menu-item-text" data-menu-button-text>
      <span class="color-fg-attention text-bold">Pending:</span>
      <span class="css-truncate-target"><%= requested_parent_team.name %></span>
    </div>
  </button>
<% end %>

<% eligible_parent_teams.each do |t| %>
  <% next if parent_team && (t.id == parent_team.id) %>
  <% next if requested_parent_team && (t.id == requested_parent_team.id) %>

  <button type="button" class="select-menu-item width-full" role="menuitemradio" value="<%= t.global_relay_id %>" data-team-name="<%= t.name %>">
    <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
    <div class="select-menu-item-text" data-menu-button-text>
      <span class="css-truncate-target"><%= t.name %></span>
    </div>
  </button>
<% end %>

<% ineligible_parents.each do |t| %>
  <button type="button" class="select-menu-item width-full" role="menuitemradio" disabled>
    <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
    <div class="select-menu-item-text">
      <span class="css-truncate-target"><%= t.name %></span>
      is a child of this team
    </div>
  </button>
<% end %>
