<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<label <%= test_selector("menu-select-all-text") %> for="select-all-checkbox" class="table-list-header-meta py-1 <% if selected_repository_names.any? %>sr-only<% end %>">
  Select all
</label>
<% if selected_repository_names.any? %>
<details class="details-reset details-overlay position-relative">
  <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, mr: 3, test_selector: "menu-select-text", "data-ga-click": "Teams, selected, location:team repository list bulk; text:selected") do %>
    <%= pluralize selected_repository_names.size, 'repository', 'repositories' %> selected…
    <span class="dropdown-caret"></span>
  <% end %>
  <details-menu class="dropdown-menu dropdown-menu-no-overflow dropdown-menu-se"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <% if this_team.adminable_by?(current_user) %>
        <%= render layout: "shared/details_dialog", locals: {
          title: "Remove repositories from #{this_team.name}",
          button_text: "Remove from team",
          button_class: "dropdown-item menu-item-danger",
          button_role: "menuitem",
          ga_click: "Teams, remove team repository, location:team repository list bulk; text:Remove from team",
        } do %>
          <%= render "orgs/team_repositories/destroy_team_repositories_dialog",
            repositories: selected_repositories,
            inherited_selected: selected_repository_names.size > selected_repositories.count
          %>
        <% end %>
      <% end %>
    </details-menu>
  </details>
<% end %>
