<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if has_teams %>
  <details class="details-reset details-overlay select-menu">
    <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
      <span class="css-truncate css-truncate-target" data-menu-button>
        <% if current_parent_team %>
          <%= selected_team_name %>
        <% elsif requested_parent_team %>
          <%= content_tag(:span, "Pending: ", class: "color-fg-attention text-bold") + requested_parent_team_name %>
        <% else %>
          <%= selection_text %>
        <% end %>
      </span>
    <% end %>

    <details-menu class="select-menu-modal position-absolute js-select-team-menu" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-header">
        <span class="select-menu-title"><%= selection_text %></span>
      </div>

      <input type="hidden" class="js-selected-team-id" name="<%= id_field_name %>" value="<%= selected_team_id %>">
      <input type="hidden" class="js-already-selected-team-name" name="<%= name_field_name %>" value="<%= selected_team_name %>" data-original-team-name="<%= selected_team_name %>">
      <input type="hidden" class="js-original-team-visibility" name="<%= original_team_visibility %>" value="<%= original_team_visibility %>" data-original-team-visibility="<%= original_team_visibility %>">

      <remote-input src="<%= search_url %>" aria-owns="team-search-results">
        <div class="select-menu-filters">
          <div class="select-menu-text-filter">
            <input type="text" class="form-control" placeholder="Search teams" aria-label="Search teams" autofocus autocomplete="off">
          </div>
        </div>
      </remote-input>

      <button type="button" class="select-menu-item width-full" role="menuitem" value="" data-team-name="">
        <div class="select-menu-item-text">
          <span class="css-truncate-target"><strong>Clear selected value</strong></span>
          <span data-menu-button-text hidden><%= selection_text %></span>
        </div>
      </button>

      <div id="team-search-results" class="select-menu-list">
        <%= yield %>
      </div>

      <button type="button" disabled role="menuitem" class="select-menu-no-results select-menu-item width-full">No teams found.</button>
    </details-menu>
  </details>
<% else %>
  <p>There are no teams that can be selected.</p>
<% end %>
