
<nav class="f5 team-breadcrumb js-expandable-team-breadcrumbs" aria-label="Breadcrumb">
  <ol class="list-style-none d-flex flex-items-center">
    <li class="team-breadcrumb-item d-flex flex-items-center">
      <img class="<%= avatar_class_names(this_organization) %> mr-2" src="<%= this_organization.primary_avatar_url %>" width="24" height="24" alt="">
      <a href="<%= teams_path(this_organization) %>" class="css-truncate css-truncate-target">
        <%= this_organization.display_login %>
      </a>
    </li>

    <% ancestors.each do |ancestor| %>
      <li class="team-breadcrumb-item d-flex flex-items-center">
        <%= link_to(ancestor.name, team_path(ancestor), class: "css-truncate css-truncate-target") %>
      </li>
    <% end %>

    <li class="team-breadcrumb-item team-breadcrumb-item-selected d-flex flex-items-center text-bold color-fg-default" aria-current="page" data-name="<%= this_team.name %>">
      <span class="no-wrap"><%= this_team.name %></span>
    </li>
  </ol>
</nav>
