<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% if view.show_org_teams_banner? %>
  <div class="orgs-help-shelf js-notice">
    <div class="container-lg px-3 pt-6">
      <% if view.any_teams? %>
        <%= form_tag org_teams_dismiss_teams_banner_path(view.organization), :class => "js-notice-dismiss float-right" do %>
          <%= render Primer::Beta::CloseButton.new(type: :submit, "aria-label": "Hide this notice forever") %>
        <% end %>
      <% end %>

      <div class="container-md text-center">
        <h2 class="orgs-help-title">Seamless communication with teams</h2>
        <p class="orgs-help-lead">Teams are a great way for groups of people to communicate and work on code together. Take a look at why they’re great.</p>

        <div class="orgs-help-items gutter d-flex">
          <div class="col-4">
            <div class="orgs-help-item-octicon">
              <%= primer_octicon(:filter, size: :medium) %>
            </div>
            <h3 class="orgs-help-item-title">Flexible repository access</h3>
            <p class="orgs-help-item-content">You can add repositories to your teams with more flexible levels of access (Admin, Write, Read).</p>
          </div>
          <div class="col-4">
            <div class="orgs-help-item-octicon">
              <%= primer_octicon(:broadcast, size: :medium) %>
            </div>
            <h3 class="orgs-help-item-title">Request to join teams</h3>
            <p class="orgs-help-item-content">
              Members can quickly request to join any team. An owner or team maintainer can approve the request.
            </p>
          </div>
          <div class="col-4">
            <div class="orgs-help-item-octicon">
              <%= primer_octicon(:"comment-discussion", size: :medium) %>
            </div>
            <h3 class="orgs-help-item-title">Team mentions</h3>
            <p class="orgs-help-item-content">Use team @mentions (ex. <strong>@github/design</strong> for the entire team) in any comment, issue, or pull request.</p>
          </div>
        </div>

        <div class="orgs-help-divider"></div>

        <% unless view.any_teams? %>
          <% if view.show_pending_team_change_parent_requests? %>
            <%= render layout: "shared/spacious_details_dialog", locals: {
              button_text: pluralize(view.inbound_request_count, "pending team", "pending teams"),
              button_class: "btn mr-2",
              hide_title: true,
              title: "Pending team requests"
            } do %>
              <%= render "orgs/teams/pending_team_requests_modal", team: view.team %>
            <% end %>
          <% end %>

          <% if view.can_move_teams? %>
            <%= render layout: "shared/spacious_details_dialog", locals: {
              button_class: "btn btn-primary",
              button_text: "Add a team",
              dialog_class: "js-add-team-dialog",
              ga_click: "Orgs, create team, location:teams empty state; text:Add a team",
              title: "Add a team",
              hide_title: true,
              test_selector_value: "move_teams"
            } do %>
              <%= render "orgs/teams/add_child_form_modal", team: view.team %>
            <% end %>
          <% elsif view.show_disabled_child_team_button? %>
            <%= render Primer::ButtonComponent.new(scheme: :primary, classes: "tooltipped tooltipped-s", "aria-label": "Only owners and team maintainers can create child teams", disabled: true) do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
              Add a team
            <% end %>
          <% elsif view.can_create_teams? %>
            <%= render Primer::ButtonComponent.new(tag: :a, href: view.new_team_path_for_view, scheme: :primary, classes: "btn", "rel": "nofollow", "data-ga-click": "Orgs, create team, location:teams empty state; text:New team") do %>
              New team
            <% end %>
          <% end %>
        <% end %>

        <%= render Primer::ButtonComponent.new(tag: :a, href: "#{ GitHub.help_url }/articles/setting-up-teams-improved-organization-permissions", "classes": "btn", "ml": 2, "data-ga-click": "Orgs, learn more, location:teams page help ui; text:Learn more") do %>
          Learn more
        <% end %>
      </div>
    </div>
  </div>
<% end %>
