<%# `view` is an instance of Orgs::Teams::ToolbarActionsView %>
<% selected_teams ||= view.selected_teams %>
<% if selected_teams.any? %>
  <%= render(Primer::Alpha::ActionMenu.new) do |component| %>
    <% component.with_show_button("data-ga-click": "Orgs, selected, location:team list bulk; text:selected") do |button|
      button.with_trailing_action_icon(icon: :"triangle-down")
      selected_teams.count == 1 ? "1 team selected" : "#{selected_teams.count} teams selected"
    end %>

    <% if view.show_change_visibility_button? %>
      <% component.with_item(
        label: "Change visibility",
        tag: :button,
        content_arguments: { "data-show-dialog-id": "change-team-visibility-dialog" },
        value: "",
        test_selector: "Orgs, change team visibility, location:team list bulk; text:Change visibility",
        scheme: :default
      ) %>
    <% end %>
    <% if view.show_remove_button? %>
      <% component.with_item(
        label: "Delete",
        tag: :button,
        content_arguments: { "data-show-dialog-id": "delete-team-dialog" },
        value: "",
        test_selector: "Orgs, delete team, location:team list bulk; text:Delete",
        scheme: :danger
      ) %>
    <% end %>
  <% end %>

  <%= render(Primer::Alpha::Dialog.new(id: "change-team-visibility-dialog", title: "Change visibility of teams")) do |d| %>
    <%= render "orgs/teams/change_teams_visibility_dialog", view: create_view_model(
      Orgs::Teams::ChangeTeamsVisibilityDialogView,
      organization: view.organization,
      selected_teams: selected_teams,
    ) %>
  <% end %>

  <%= render(Primer::Alpha::Dialog.new(id: "delete-team-dialog", title: "Delete teams")) do |d| %>
    <%= render "orgs/teams/delete_teams_dialog", view: create_view_model(
      Orgs::Teams::DeleteTeamsDialogView,
      organization: view.organization,
      selected_teams: selected_teams,
      destroy_teams_path: view.destroy_teams_path,
    ) %>
  <% end %>
<% else %>
  <label for="select-all-checkbox" class="table-list-header-meta py-1">
    <span class="none-selected">Select all</span>
  </label>
<% end %>
