<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<%= render Primer::Beta::Subhead.new do |c| %>
  <% c.with_heading(tag: :h2, display: :flex, align_items: :flex_start) do %>
    Confirm changes
  <% end %>
<% end %>

<% if parent_changed || !(parent_changed || visibility_changed) %>
  <p>
  Changing the parent team may affect <strong>repository access and forks</strong> for this team and its child teams. <a class="Link--inTextBlock" aria-label="Learn more about teams" href="<%= GitHub.help_url %>/articles/about-teams" target="_blank" rel='noopener noreferrer'>Learn more about teams</a>
  </p>

  <% if new_parent && new_parent_has_all_repo_role %>
  <p <%= test_selector("all-repo-notice")%>><strong><%= new_parent.name %></strong> members have <strong>access to all repositories</strong> that belong to the <%= this_organization.display_login %> organization. <%= link_to("Review organization roles", team_organization_role_path(new_parent, this_organization), class: "Link--inTextBlock") %></p>
  <% elsif new_parent && total_repo_count > 0 %>
    <div class="Box overflow-scroll mb-3 team-repo-access-list">
      <%= render Primer::Beta::Flash.new(full: true, scheme: :warning, border: :bottom) do %>
        <strong><%= total_repo_count %> repository <%= "permission".pluralize(total_repo_count) %></strong> will be granted
      <% end %>
      <% repositories.each do |repo| %>
        <% role = roles[repo.id] %>
        <div class="Box-row d-flex">
          <div class="flex-auto" <%= test_selector("important-changes-repo-name") %>>
            <%= repo.owner.display_login %>/<strong><%= repo.name %></strong>
          </div>
          <div>
            <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: #{role}", test_selector: "important-changes-repo-role") do %>
              <%= role %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if total_repo_count > repositories.count %>
        <div class="Box-row text-center">
          <%= link_to "View all #{total_repo_count} repositories", team_repositories_path(new_parent) %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if visibility_changed %>
  <p>
  Because secret teams cannot be nested, changing the team’s visibility to secret will result in cancelling all pending parent or child requests for this team.
  </p>
<% end %>

<button type="submit" class="btn btn-block btn-primary <% if edit_team_form %>js-confirm-edit-team<% end %> mt-3" data-disable-with>Confirm changes</button>
