<%# `view` is an instance of Orgs::Teams::IndexPageView %>

<% page_info responsive: false, :title => view.page_title, breadcrumb_owner: view.organization, breadcrumb: "Teams" %>

<% content_for :site_banner do %>
  <%= render Billing::SalesTaxBannerComponent.new(account: view.organization, current_user: current_user) %>
<% end %>

<% content_for :site_banner do %>
  <%= render Organizations::NewTermsOfServiceRequiredComponent.new(organization: view.organization) %>
<% end %>

<% if pjax? %>
  <%= render :partial => "orgs/teams/list", :locals => { :view => view } %>
<% else %>
  <%= render "orgs/identity_management/banner", organization: view.organization %>
  <%= render Organizations::ArchivedNoticeComponent.new(organization: view.organization)%>
  <% if current_user && view.organization %>
    <include-fragment src="<%= organization_onboarding_trial_banner_path(view.organization) %>"></include-fragment>
  <% end %>

  <div itemscope itemtype="http://schema.org/Organization" class="js-check-all-container js-bulk-actions-container" data-bulk-actions-url="<%= view.teams_toolbar_actions_path %>" data-bulk-actions-parameter="team_slugs">

    <div class="pagehead orghead border-bottom-0 pt-0">
      <div class="container-lg clearfix <% if responsive? %>p-responsive d-none d-lg-block<% else %>px-3<% end %>">
        <%= render "orgs/header_org_name", view: create_view_model(Orgs::HeaderView, :organization => view.organization) %>
      </div>
      <%= render Organizations::HeaderNavComponent.new(
        organization: view.organization,
        selected_nav_item: :teams,
      ) %>

      <%= render(Site::EnterpriseBannersComponent.new) %>
    </div>

    <%= render :partial => "orgs/teams/team_banner", :locals => { :view => view }  %>
    <%= render partial: "orgs/teams/list_container", locals: { view: view } %>
  </div>
<% end %>
