<% view = Manage::ViewModels::Complete.new(@settings, @configurator_progress) %>

<% content_for :javascript do %>
  <script src="<%= page_javascript("complete") %>" type="text/javascript"></script>
<% end %>

<% content_for :body_class do %>page-complete<% end %>

<% content_for :page_head do %>

  <div class="js-configure-instance">
    <h1>Configuring your instance</h1>
    <p class="lead">
      Your settings are being applied and your instance is restarting at
      <a href="<%= view.instance_base_url %>"><%= view.instance_base_url %></a>.
    </p>
  </div>

  <div class="js-instance-ready" style="display: none;">
    <h1>GitHub Enterprise is ready!</h1>
    <p class="lead">
      Your settings have been applied and server restarted. You're good to go!
    </p>
  </div>

  <div class="js-instance-timeout" style="display: none;">
    <h1>Configuration failed</h1>
    <p class="lead">
      You can view logs <a href="<%= view.ghe_config_logs_url %>">here</a>.
      If you need help, <a href="mailto:<%= view.support_email %>">email support</a>.
    </p>
  </div>

<% end %>

<section role="main" class="js-page-complete"
  data-instance-url="<%= view.instance_base_url %>"
  data-configuration-id="<%= view.configuration_id %>"
>

  <%# Pending/configuring/installing  %>

  <p class="success-message" id="license-updated">
    Success! Your license was updated. You can leave this page now. Services are being restarted in the background and you can still use your instance, however it may take a few minutes until the renewed licenses are visible.
  </p>
  <div class="loader">
    <% if view.configurator_status_log? %>
      <div class="list-group categories">
        <% view.configurator_status_list.each do |list_item| %>
        <div class="list-group-item <%= list_item.status %>">
          <span class="label <%= list_item.status %>"><%= list_item.key %></span>
          <% if list_item.configuring  %>
            <span class="spinner-large"></span>
          <% end %>
          <span class="<%= list_item.status_class %>"><span class="<%= list_item.status_icon %>"></span></span>
        </div>
        <% end %>
      </div>
    <% end %>
    <% if view.waiting_configurator_status_log? %>
      <span class="spinner-large loader-spinner page-load"></span>
    <% end %>
  </div>

  <%# Complete  %>
  <div class="page-main-header js-page-main-header instance-ready" style="display: none;">
    <h1>GitHub Enterprise is ready!</h1>
    <p class="lead">
      Your settings have been applied and server restarted. You're good to go!
    </p>
  </div>

  <div class="blankslate js-page-main-header instance-timeout" style="display: none;">
    <h1>Configuration failed</h1>
    <p class="lead">
      You can view logs <a href="<%= view.ghe_config_logs_url %>">here</a>.
      If you need help, <a href="mailto:<%= view.support_email %>">email support</a>.
    </p>
  </div>

  <div class="page-actions no-line">
    <button class="btn btn-primary" type="submit" disabled="disabled">Visit your instance</button>
  </div>

  <% if development? %>
    <div class="dev-zone">
      <p class="dev-zone-heading">Fake states</p>
      <div>
        <a href="/setup/complete/pending">Pending</a>
        <a href="/setup/complete/running">Running</a>
        <a href="/setup/complete/success">Successful</a>
        <a href="/setup/complete/failed">Failed</a>
      </div>
    </div>
  <% end %>

</section><!-- /main -->
