<% errors ||= nil %>

<% content_for :page_head do %>
    <h1>Elasticsearch migrations</h1>
    <p class="lead">
      In the table below, you can check the progress of the Elasticsearch migrations. The possible states are: <span style="color:#<%= colors["not started"] %>">not started</span>, <span style="color:#<%= colors["in progress"] %>">in progress</span>, <span style="color:#<%= colors["success"] %>">success</span>, <span style="color:#<%= colors["failed"] %>">failed</span>, and <span style="color:#<%= colors["skip"] %>">skip</span>. <span style="color:#<%= colors["skip"] %>">skip</span> is used when there is an error in the migration process and it is not possible to continue. In this case, the migration is skipped so the other ones can continue.
    </p>

<% end %>
<br>
<br>
<ol class="list-group list-group-multiple list-group-users js-user-list">
    <%- es_migrations_state.each do |(k, v)| -%>
  <li class="list-group-item">
    <div class="users-username"><%= k %></div>
    <div>
      <span class="users-title">Status: <span style="color:#<%= colors[v["status"]] %>"><%= v["status"] %></span></span>
      <%- if v["failed_count"].to_i > 0 -%>
      <small class="override-headers-warning" style="top:0px;left:10px">
        <span class='octicon octicon-alert'></span>
        <span class="text"> Error count: <%= v["failed_count"] %></span>
      </small>
      <%- end -%>
    </div>
  </li>
  <%- end -%>
</ol>
</div>
