<% content_for :javascript do %>
  <script src="<%= page_javascript("settings") %>" type="text/javascript"></script>
<% end %>

<% content_for :body_class do %>page-settings<% end %>

<% view = Manage::ViewModels::Settings.new(@settings, @license) %>

<% content_for :page_head do %>
  <h1>Configure Actions and Packages</h1>
  <% if Manage.configuration_allowed? %>
    <p class="lead">
      Setup storage for Actions and Packages on your new GitHub Enterprise instance.

      <a target="ghe-docs"
         title="Learn more in our guides"
         href="<%= help_url %>/admin/guides/installation/">
         <span class="octicon octicon-question"></span>
      </a>

    </p>
  <% end %>
<% end %>

<section role="main" class="page-settings">
  <% if Manage.configuration_allowed? %>
    <% if view.show_license_expiration_warning? %>
      <p class="flash flash-error visible">
        <span class="octicon octicon-alert"></span>
        <strong>Warning:</strong>
        <%= view.license_expiration_warning %>
        Please <a href="/setup/upgrade">update your license</a> before it expires.
      </p>
    <% end %>

    <div class="js-page-main-content">
      <form id="settings-form"
            action="/setup/first-run-app-settings"
            enctype="multipart/form-data"
            method="POST">

        <%== csrf_tag %>

        <% # Sintatra's ERB support apparently requires symbols %>
        <%== erb :"settings/hostname", :locals => { :is_first_run => true } %>
        <%== erb :"settings/actions" %>
        <%== erb :"settings/packages" %>

        <div class="page-actions">
          <button class="btn btn-primary js-submit"
                  <%= Manage.configuration_allowed? ? "" : "disabled" %>
                  type="submit">
            Save and Continue
          </button>

          <ul class="page-errors">
          </ul>
        </div>

      </form>
    </div>
  <% else %>
    <div class="blankslate">
      <h2>Disabled <% if Manage.cluster_node_replica? %>in replica mode<% else %>in Cluster<% end %></h2>
      <p>
        <% if Manage.cluster_node_replica? %>
        When replication is enabled configuration must be done on the primary instance.
        <% else %>
        When Clustering is enabled configuration must be done using the command
        line tools over SSH.
        <% end %>
        <br>
        <br>
        Learn more in the
        <a target="ghe-docs"
           href="<%= help_url %>/admin/enterprise-management/configuring-clustering/">
           GitHub Enterprise Server Clustering Guide
        </a>.
      </p>
    </div>
  <% end %>
</section><!-- /main -->
