<!DOCTYPE html>
<% view = Manage::ViewModels::Layout.new %>
<% user = get_user %>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <%== csrf_meta %>
    <title><%= view.title %></title>
    <link rel="stylesheet" href="<%= application_css %>" type="text/css">
    <% if development? %>
      <link rel="stylesheet" href="<%= dev_css %>" type="text/css">
      <link rel="shortcut icon" href="dev-favicon.ico">
    <% else %>
      <link rel="shortcut icon" href="favicon.ico">
    <% end %>
    <meta http-equiv="refresh" content="<%= sesson_time_in_seconds + 3 %>">
  </head>

  <body data-spy="scroll" data-target=".page-main-nav" class="<%= monitor_path? ? 'monitor-ui' : '' %> <%== yield_content :body_class %>">
    <header class="page-header">

        <% if !first_run? %>
          <nav class="page-header-navigation">
            <ul>
              <li class="<%== monitor_active? %>"><a href="/setup/monitor">Monitor</a></li>
              <% if Manage.status_enabled? %>
                <li class="<%== status_active? %>"><a href="/setup/status">Status</a></li>
              <% end %>
              <li class="<%== maintenance_active? %>"><a href="/setup/maintenance">Maintenance</a></li>
              <% if Manage.cluster_ha_enabled? %>
                <li class="<%== replication_active? %>"><a href="/setup/replication">Replication</a></li>
              <% end %>
              <li class="<%== settings_active? %>"><a href="/setup/settings">Settings</a></li>
              <li class="<%== updates_active? %> indicator-wrapper">
                <a href="/setup/updates">Updates</a>
                <% if update_downloaded? %>
                  <span class="indicator"></span>
                <% end %>
              </li>
              <li class="<%== upgrade_active? %>"><a href="/setup/upgrade">License</a></li>
              <li class="<%== support_active? %>"><a href="/setup/support">Support</a></li>
              <% if is_authenticated? %>
                <li class="<%== profile_active? %>">
                <% if is_admin? %>
                  <a href="/setup/profile">User Management</a>
                <% else %>
                  <a href="/setup/profile"><%= user[:username] %></a>
                <% end %>
                </li>
                <li>
                  <form id="sign-out-form" action="sign-out" method="post">
                    <%== csrf_tag %>
                    <a id="sign-out-link" href="#">Sign out</a>
                  </form>
                </li>
              <% end %>
            </ul>
          </nav>
        <% end %>
        <a class="header-logo" href="<%= logo_link_url %>">
          <span class="octicon octicon-mark-github"></span>
          <span class="header-logo-text">Enterprise</span>

        </a>

    </header>

  <% if is_authenticated? && view.notifications.any? %>
    <div>
      <% view.notifications.each do |notification| %>
        <% if !(current_url?("es_migrations") && notification.body.include?('Elasticsearch migrations')) %>
          <p class="flash flash-<%= notification.type %> visible"><%== notification.body %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>

    <% if content_for? :page_head %>
      <div class="page-main-header js-page-main-header" >
        <%== yield_content :page_head %>
      </div>
    <% end %>

    <main class="page-main container container-body <%= monitor_path? ? 'monitor-container' : '' %>">
      <%== yield %>
    </main>

    <div class="modal-overlay"></div>

    <script src="<%= vendor_js %>" type="text/javascript"></script>
    <script src="<%= application_js %>" type="text/javascript"></script>
    <%== yield_content :javascript %>
  </body>
</html>
