<% content_for :javascript do %>
  <script src="<%= page_javascript("maintenance") %>" type="text/javascript"></script>
<% end %>

<% content_for :body_class do %>page-maintenance<% end %>

<% view = Manage::ViewModels::Maintenance.new %>

<% content_for :page_head do %>
  <h1>Maintenance mode</h1>

  <p class="lead">
    Disable access to your instance to perform maintenance. Site visitors and git
    operations will display appropriate maintenance messages when accessed.
  </p>

  <p class="lead">
    Admin SSH, Management Console and GHES Manage API access will still be available. <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/guides/installation/enabling-and-scheduling-maintenance-mode/"><span class="octicon octicon-question"></span></a>
  </p>
<% end %>

<div>
  <form action="/setup/maintenance" method="POST">
    <div class="maintenance-form">
        <p class="flash flash-error visible api-error" <% unless @maintenance.api_error != nil %>style="display: none;" <% end %>>
          <%= @maintenance.api_error %>
        </p>
      <div id="scheduler">
        <h2>Enable and schedule</h2>
        <div class="column one-third">
          <label class="checkbox-item maintenance-wrapper">
            <input class="check maintenance" type="checkbox" id="toggle_button" <%== @maintenance.can_unset_maintenance? ? '' : 'disabled' %> name="maintenance[enabled]" <%== @maintenance.status? == :off ? '' : 'checked="checked"' %>>
            Enable maintenance mode
          </label>
        </div>
        <div class="column one-third" id="timer">
          <select id="select_timer" name="maintenance[when]" disabled >
            <% view.maintenance_schedules.each do |schedule| %>
            <option <%= schedule[:selected] || '' %>><%= schedule[:text] %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div id="maintenance-ip-exception-list">
        <h3>Enable and configure IP exception list</h3>
        <p class="ip-exception-list-info">
          Make your instance only accessible for the list of configured IP addresses and CIDR blocks.
          This will take the instance out of the maintenance mode. For visitors with IP addresses not matched by this list a maintenance messages will be displayed.
        </p>
        <div class="column one-third">
          <label class="checkbox-item exception-list-wrapper">
          <input class="check ip-exception-list-toggle" type="checkbox" id="ip_exceptionlist_toggle" <%== @maintenance.can_unset_maintenance? ? '' : 'disabled' %> name="ip_exception_list[enabled]" <%== @maintenance.ip_exception_list_status? == :off ? '' : 'checked="checked"' %>>
            Enable IP exception list
          </label>
        </div>
        <div class="column two-thirds">
          <input type="text"
            id="ip-exception-list"
            name="ip_addresses"
            class="js-required js-ip-cidr"
            value="<%= @maintenance.ip_exception_list %>"
            placeholder="Set comma separated IP addresses or CIDR blocks"
            data-validation-message="Valid list of comma separated IP addresses or CIDR blocks required"
            <%= @maintenance.can_unset_maintenance? ? '' : 'disabled' %>>
          <div class="validation-error-container"></div>
        </div>
      </div>
      <div id="maintenance-mode-message">
        <h3>Custom maintenance mode message</h3>
        <p>Optionally set a custom message for users to see during the maintenance window.</p>
        <div class="column one-half" id="maintenance_mode_message_input">
          <input type="text"
            id="scheduler_maintenance_mode_message_input"
            name="maintenance_mode_message"
            placeholder="Maintenance mode message"
            value="<%= @maintenance.maintenance_mode_message %>"
            disabled>
        </div>
      </div>
      <div class="column col-12 save_scheduler_action">
        <button class="btn btn-primary js-submit save_scheduler" type="submit" <%= @maintenance.can_unset_maintenance? ? '' : 'disabled' %>>
          Save
        </button>
        <div class="save_scheduler_progress">
          <p class="js_save_scheduler" style="display: none;">
            <span class="spinner-small"></span>
            Saving&hellip;
          </p>
        </div>
      </div>
      <div class="column col-12" id="status">
        <p class="flash flash-warn visible" id="maintenance_scheduled"
          <% unless @maintenance.status? == :scheduled %>style="display: none;"<% end %>
        >
          Maintenance scheduled on <span id="maintenance_scheduled_at"><%= @maintenance.scheduled_time%></span> 
          <span id="maintenance_mode_message"  <% if @maintenance.maintenance_mode_message.nil? %> style="display: none;" <% end %>> with custom maintenande mode message: <%= @maintenance.maintenance_mode_message%></span>
        </p>
        <p class="flash flash-warn visible" id="maintenance_on"
          <% unless @maintenance.status? == :on %>style="display: none;" <% end %>
        >
          <span class="octicon octicon-alert"></span> Maintenance in progress. Git repositories are not accessible.
          <span id="maintenance_mode_message" <% if @maintenance.maintenance_mode_message.nil? %> style="display: none;" <% end %>> 
          The following custom maintenance mode message is displayed to users: <%= @maintenance.maintenance_mode_message%> </span> 
          <span id="maintenance_no_unset" <%== @maintenance.can_unset_maintenance? ? 'style="display: none;"' : '' %> ><br><span class="octicon octicon-alert"></span>Maintenance status cannot be changed as there is a configuration run in progress.</span>
        </p>
      </div>
    </div>
  </form>

  <div class="active-processes">
    <h2>Active processes</h2>
    <p>
      Refresh the page for updated active process counts. We recommend enabling
      maintenance mode and waiting for all active process counts to reach zero
      before performing maintenance.
    </p>
    <div class="list-group" id="connection_services">
      <% @maintenance.connection_services.each do |service| %>
        <div class="list-group-item">
          <span class="status pull-right"><%= service["number"] %></span>
          <span class="label"><%= service["name"] %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
