<% content_for :javascript do %>
  <script src="<%= page_javascript("profile") %>" type="text/javascript"></script>
<% end %>

<% errors ||= nil %>

<% user = get_user %>

<% content_for :page_head do %>
  <% if is_admin? %>
    <h1>User Management</h1>
    <p class="lead">
      Manage users and their permissions.
    </p>
  <% else %>
    <h1>Profile</h1>

  <p class="lead">
    View your user details. These user details can be updated by a Management Console administrator<br>
    You can change your password by going to the
    <a href="password">password</a> settings page.
  </p>
  <% end %>
<% end %>

<% @db_errors.each do |error| %>
  <p class="flash flash-error visible"><%= error %></p>
<% end %>

<% if is_mysql_reachable && is_admin? %>

<div class="flash" id="flashbar">
  <p id="flashbar-msg"></p>
</div>
<a class="btn users-pull-right modal-open create-button "popover="#create-user">Create user</a>
<br>
<br>
<ol class="list-group list-group-multiple list-group-users js-user-list">
  <!-- list gets rendered dynamically by buildUserList in profile.js -->
</ol>
<div id="popup-overlay" class="popupOverlay">
    <div class="popover js-popover popupContent" id="create-user" style="top: 246px;">
      <h3 class="popover-title" id="popoverTitle">Create user</h3>
      <a class="popover-close js-popover-close modal-close">
        <span class="octicon octicon-x"></span>
      </a>
      <div class="form">
        <div class="popover-content">
        <div class="flash" id="flashbar-popup">
           <p id="flashbar-msg-popup"></p>
        </div>
          <label class="label-heading" >Name</label>
        <div class="users-tooltip"><span class="octicon octicon-info users-icon" style="padding-top:0px;"></span>
          <span class="users-tooltiptext left"><%== erb :"name_validation_rules" %></span>
        </div>
        <input 
          id="input-name"
          type="text"
          class="js-required" 
        />
        <label class="label-heading">Username</label>
        <div class="users-tooltip"><span class="octicon octicon-info users-icon" style="padding-top:0px;"></span>
          <span class="users-tooltiptext left"><%== erb :"username_validation_rules" %></span>
        </div>
        <input 
          id="input-username"
          type="text" 
          class="js-required" 
        />
        <label class="label-heading">Email</label>
        <input 
          id="input-email"
          class="js-required"
          type="text"
        />
        <label class="label-heading">Role</label>
        <select id="select-role" class="js-required">
          <% Manage::User.new.user_roles.each do |role| %>
          <option 
            value=<%= role[:value] %>>
              <%= role[:text] %>
          </option>
          <% end %>
        </select>
        </div>
        <div class="top" id="form-msg"></div>
        <div class="popover-footer">
          <button id="btn-save" class="btn btn-primary" type="submit">Create</button>
          <button class="btn js-popover-close modal-close" type="button">Cancel</button>
        </div>
      </div>
  </div>
</div>
<% end %>

<% if is_mysql_reachable && !is_admin? %>
  <div class="profile-container">
    <table>
          <tr>
            <td><label class="label-heading" for="full_name">Full name: </label><p><%= user[:name] %></p></td>
            <td><label class="label-heading" for="user_name">Username:</label><p><%= user[:username] %></p></td>
          </tr>
          <tr>
            <td> <label class="label-heading" for="email">Email:</label><p><%= user[:email] %></p></td>
            <td><label class="label-heading" for="role">Role<span class="muted"> <a href="https://docs.github.com/en/enterprise-server@3.6/admin/configuration/configuring-your-enterprise/accessing-the-management-console">(documentation):</a> </span></label><p><%= user[:role] %></p></td>
          </tr>
    </table>
  </div>
<% end %>

<% if development? && is_admin? %>
<div class="dev-zone">
  <p class="dev-zone-heading">Fake users</p>
  <div class="upload-wrapper">
    <div>
      <a href="/setup/profile/createrandom">Create activated user <sub>pw: passworD1</sub></a>
      <a href="/setup/user-invite/createinvite">Create and go to invite</a>
    </div>
  </div>
  <% end %>
</div>
