<% content_for :javascript do %>
  <script src="<%= page_javascript("maintenance") %>" type="text/javascript"></script>
<% end %>

<% content_for :body_class do %>page-maintenance<% end %>

<% view = Manage::ViewModels::Replication.new %>

<% content_for :page_head do %>
  <h1>Replication overview</h1>

  <p class="lead">
    Get an overview of all your replicas.
  </p>
<% end %>

<p>
  This page shows your replication configuration as it exists on the primary GitHub Enterprise Server instance,
  it is not a live view into replication health. To check the status of a configured GitHub Enterprise Server replica,
  connect to the desired replica's 
  <a href="https://docs.github.com/en/enterprise-server/admin/configuration/configuring-your-enterprise/accessing-the-administrative-shell-ssh">
    SSH shell
  </a>
  and execute the
  <a href="https://docs.github.com/en/enterprise-server/admin/enterprise-management/configuring-high-availability/about-high-availability-configuration#ghe-repl-status">
    <code>ghe-repl-status</code>
  </a> command.
</p>

<% if Manage.cluster_ha_enabled? %>
  <div class="datacenters">
    <% view.datacenters.each do |dc| %>
      <div class="datacenter">
        <h2>
          <span class="octicon octicon-globe"></span>
          <%= dc %>
        </h2>
        <div class="info">
          <% nodes = view.datacenter_nodes(dc) %>
          <% nodes.keys.sort.each do |n| %>
            <% node = nodes[n] %>
            <% replica = view.replica?(node) %>
            <h3 title="<%= view.node_title(node) %>">
              <span class="octicon octicon-server"></span>
              <%= node["hostname"] %>
              <% if !replica %>
                <span class="octicon octicon-star"></span>
              <% end %>
            </h3>
            <p>Role: <%= replica ? "Replica" : "Primary" %></p>
            <p>IP: <%= node["ipv4"] || node["ipv6"] %></p>
            <p>UUID: <%= node["uuid"] %></p>
            <p>VPN IP: <%= node["vpn"] %></p>
            <p>VPN Public Key: <%= node["wireguard-pubkey"] %></p>
            <% if replica %>
              <p>Replication: <%= node["replica"] == "enabled" ? "enabled" : "disabled" %></p>
              <p>Active Replica: <%= node["active-replica-server"] == "true" ? "enabled" : "disabled" %></p>
              <p>Cache Server: <%= node["cache-server"] == "true" ? "enabled" : "disabled" %></p>
              <% ping = view.ping_stats(n) %>
              <p>
                <a href="/setup/monitor#cluster">Average ping from primary</a><br />
                <table>
                  <tbody>
                    <tr><th>5 minutes</th><th>30 minutes</th><th>1 hour</th></tr>
                    <tr><td><%= ping[:min5] %></td><td><%= ping[:min30] %></td><td><%= ping[:hour] %></td>
                  </tbody>
                </table>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
<p>Replication is not enabled</p>
<% end %>
