<% content_for :javascript do %>
  <script src="<%= page_javascript("settings") %>" type="text/javascript"></script>
<% end %>

<% content_for :body_class do %>page-settings<% end %>

<% view = Manage::ViewModels::Settings.new(@settings, @license) %>

<% content_for :page_head do %>
  <h1>Settings</h1>
  <% if Manage.configuration_allowed? %>
    <p class="lead">
      Services will restart automatically when you save these settings.
      Please wait a few minutes for the changes to take effect.

      <a target="ghe-docs"
         title="Learn more in our guides"
         href="<%= help_url %>/admin/guides/installation/">
         <span class="octicon octicon-question"></span>
      </a>

    </p>
  <% end %>
<% end %>

<section role="main" class="page-settings">
  <% if Manage.configuration_allowed? %>
    <p class="flash flash-error" id="config-in-progress">
      Oops! A configuration run is already in progress. You can view its status
      <a href="/setup/complete">here</a>.
    </p>

    <% if view.show_license_expiration_warning? %>
      <p class="flash flash-error visible">
        <span class="octicon octicon-alert"></span>
        <strong>Warning:</strong>
        <%= view.license_expiration_warning %>
        Please <a href="/setup/upgrade">update your license</a> before it expires.
      </p>
    <% end %>

    <% if view.show_github_ssl_expiration_warning? %>
      <p class="flash flash-error visible">
        <span class="octicon octicon-alert"></span>
        <strong>Warning:</strong>
        <%= view.github_ssl_expiration_warning %>
        Please <a href="#privacy">update your certificate</a> before it expires.
      </p>
    <% end %>

    <% @errors.each do |error| %>
      <p class="flash flash-error visible"><%= error %></p>
    <% end %>

    <nav id="page-main-nav" class="page-main-nav js-page-main-nav one-fifth">
      <header>Settings</header>
      <ul class="nav" data-spy="affix">
        <li class="active"><a href="#password">Password</a></li>
        <li><a href="#ssh-access">SSH access</a></li>
        <li><a href="#hostname">Hostname</a></li>
        <li><a href="#time">Time</a></li>
        <li><a href="#authentication">Authentication</a></li>
        <li><a href="#privacy">Privacy</a></li>
        <li><a href="#pages">Pages</a></li>
        <li><a href="#email">Email</a></li>
        <li><a href="#monitoring">Monitoring</a></li>
        <li><a href="#rate-limits">Rate limiting</a></li>
        <li><a href="#applications">Applications</a></li>
        <li><a href="#actions">Actions</a></li>
        <li><a href="#checks">Checks</a></li>
        <li><a href="#deployments">Deployments</a></li>
        <li><a href="#packages">Packages</a></li>
        <li><a href="#security">Security</a></li>
        <li><a href="#migrations">Migrations</a></li>
        <li><a href="#mobile">Mobile</a></li>
        <li><a href="#chatops">Chat Integration</a></li>
      </ul>

      <div class="page-actions">
        <button class="btn btn-primary js-submit"
                <%= Manage.configuration_allowed? ? "" : "disabled" %>
                type="submit">
          Save settings
        </button>

        <ul class="page-errors">
        </ul>
      </div>
    </nav>

    <div class="js-page-main-content page-main-content four-fifths">
      <form id="settings-form"
            action="/setup/upload/settings"
            enctype="multipart/form-data"
            method="POST">

        <%== csrf_tag %>

        <% # Sinatra's ERB support apparently requires symbols %>
        <%== erb :"settings/manage_auth" %>
        <%== erb :"settings/authorized_keys" %>
        <%== erb :"settings/hostname" %>
        <%== erb :"settings/time" %>
        <%== erb :"settings/authentication" %>
        <%== erb :"settings/privacy" %>
        <%== erb :"settings/pages" %>
        <%== erb :"settings/email" %>
        <%== erb :"settings/monitoring" %>
        <%== erb :"settings/rate_limits" %>
        <%== erb :"settings/applications" %>
        <%== erb :"settings/actions" %>
        <%== erb :"settings/checks" %>
        <%== erb :"settings/deployments" %>
        <%== erb :"settings/packages" %>
        <%== erb :"settings/security" %>
        <%== erb :"settings/migrations" %>
        <%== erb :"settings/mobile" %>
        <%== erb :"settings/chatops" %>
      </form>
      <% # LDAP test pop out. Must be outside of the form or submit breaks %>
      <%== erb :"settings/ldap_test", :locals => {:view => view}  %>
      <%== erb :"settings/acme_issue", :locals => {:view => view}  %>
    </div>
  <% else %>
    <div class="blankslate">
      <h2>Disabled <% if Manage.cluster_node_replica? %>in replica mode<% else %>in Cluster<% end %></h2>
      <p>
        <% if Manage.cluster_node_replica? %>
        When replication is enabled configuration must be done on the primary instance.
        <% else %>
        When Clustering is enabled configuration must be done using the command
        line tools over SSH.
        <% end %>
        <br>
        <br>
        Learn more in the
        <a target="ghe-docs"
           href="<%= help_url %>/admin/enterprise-management/configuring-clustering/">
           GitHub Enterprise Server Clustering Guide
        </a>.
      </p>
    </div>
  <% end %>
</section><!-- /main -->
