<% content_for :javascript do %>
  <script src="<%= page_javascript("start") %>" type="text/javascript"></script>
<% end %>

<% content_for :body_class do %>page-start js-page-start<% end %>

<% content_for :page_head do %>
  <h1>Install GitHub Enterprise</h1>
  <p class="lead">
    To finish the installation of GitHub Enterprise, upload your license and provide a password. This password will be used to access the management console as well as the API. SSH administrative access uses authorized SSH keys you've added instead of this password.
  </p>
<% end %>

<%== erb :upload_errors, :locals => { :license_error => @license_error, :auth_errors => @auth_errors } %>

<div class="upload-wrapper">
  <form action="start" method="post" enctype="multipart/form-data" class="upload-form">
    <%== csrf_tag %>
    <%== erb :_upload_form %>
    <%== erb :_password_form %>
    <input type="text" name="legacy_username" value="ghe_root_site_admin" id="root-user-username" hidden />
    <div class="page-actions invalid">
      <button type="submit" disabled="disabled" class="btn btn-primary continue-install js-upload-license">
        <span class="button-label">Finish installation</span>
      </button>
    </div>
  </form>
</div>

<p class="install-help">
  <span class="octicon octicon-question"></span>
  Don't have your license? <a href="https://docs.github.com/enterprise-server/billing/managing-your-license-for-github-enterprise/downloading-your-license-for-github-enterprise" target="_blank">Follow the instructions here</a>
</p>

<% if development?%>
<div class="dev-zone">
  <p class="dev-zone-heading">Download Licenses</p>
  <div class="upload-wrapper">
    <div>
      <a href="/setup/settings/license/cluster">cluster.ghl</a>
      <a href="/setup/settings/license/expired">expired.ghl</a>
      <a href="/setup/settings/license/license">license.ghl</a>
      <a href="/setup/settings/license/perpetual">perpetual.ghl</a>
      <a href="/setup/settings/license/unlimited">unlimited.ghl</a>
    </div>
  </div>
  <% end %>