<% status_view_model = Manage::ViewModels::Status.new %>
<% mysql_status_view_model = Manage::ViewModels::MySqlStatus.new %>
<% nes_status_view_model = Manage::ViewModels::NesStatus.new %>

<% content_for :page_head do %>
  <h1><%= status_view_model.page_title %></h1>

  <p class="lead">
    <%= status_view_model.page_description %>
  </p>
<% end %>

<h2 class="overall-health <%= status_view_model.overall_health_class %>">
  <%= status_view_model.overall_health_message %>
</h2>

<h2>Servers</h2>

<div class="servers-container">
  <table>
    <thead>
      <tr>
        <th></th>
        <% status_view_model.roles.each do |role| -%>
          <th><%= role.sub(/-server$/, "").gsub("-", " ") -%></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% status_view_model.nodes.each do |node| -%>
        <tr>
          <th><%= node %> <%= status_view_model.node_label(node) -%></th>
          <% status_view_model.roles.each do |role| -%>
            <td>
              <% status_view_model.service_statuses(node: node, role: role).each do |service, status| -%>
                <span title="<%= service %>" class="service-health service-health-<%= status %>">
                  <%= service %>: <%= status %>
                </span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h2>MySQL</h2>

<h3>InnoDB History List Length</h3>

<ul>
<% mysql_status_view_model.get_innodb_history_status.each do |node_name, status| %>
  <% if status_view_model.node_has_role?(node_name, "mysql-server") %>
    <li>
      <%= node_name %>: <span class="service-health service-health-<%= status %>"> <%= status %></span>
    </li>
  <% end %>
<% end %>
</ul>

<h3>Database Server Disk Space</h3>

<ul>
<% mysql_status_view_model.get_disk_free_status.each do |node_name, percent_free, status| %>
  <% if status_view_model.node_has_role?(node_name, "mysql-server") %>
    <li>
      <%= node_name %>: <span class="service-health service-health-<%= status %>"> <%= status %></span>
      (<%= (percent_free * 100).round(2) %>% free)
    </li>
  <% end %>
<% end %>
</ul>

<% if !status_view_model.single_node? %>
  <h3>Replication Lag</h3>

  <ul>
  <% mysql_status_view_model.get_time_offset_status.each do |node_name, status| %>
    <% if status_view_model.node_has_role?(node_name, "mysql-server") %>
      <li>
        <%= node_name %>: <span class="service-health service-health-<%= status %>"> <%= status %></span>
      </li>
    <% end %>
  <% end %>
  </ul>
<% end %>

<h2>Nomad Jobs</h2>

<ul>
  <% nomad_services = status_view_model.nomad_service_statuses || [] -%>
  <% nomad_services.each do |service, status| -%>
    <li>
      <span title="<%= service %>" class="service-health service-health-<%= status %>"><%= service %>: <%= status %></span> <%= service %>
    </li>
  <% end %>
</ul>

<% if nes_status_view_model.enabled? %>
  <h2>Node Eligibility</h2>

  <table>
    <thead>
      <tr>
        <th>Hostname</th>
        <th>Health</th>
        <th>Eligibility</th>
        <th title="TTL until the node becomes Ineligible">TTL</th>
      </tr>
    </thead>
    <tbody>
      <% nes_status_view_model.node_health_checks.each do |node| -%>
        <tr>
          <td><%= node.name %></td>
          <td><span title="<%= node.state %>" class="service-health service-health-<%= node.state %>"></span> <%= node.state %></td>
          <td><%= node.eligibility %></td>
          <td><%= node.ttl %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
