<% content_for :javascript do %>
  <script src="<%= page_javascript("unlock") %>" type="text/javascript">
  </script>
<% end %>

<% content_for :body_class do %>page-unlock<% end %>

<% content_for :page_head do %>
  <h1>Authentication Required</h1>

  <p class="lead">
    Please enter your password to unlock the GitHub Enterprise management
    console.
  </p>
<% end %>

<div class="js-error-messages">
  <p class="flash flash-success" id="signed_out_successfully">
    You signed out successfully.
  </p>

  <p class="flash flash-success" id="user-setup-success">
    Your password has been saved and your account has been activated. You can now use it to unlock the Management Console.
  </p>

  <p class="error-message flash flash-error" id="authentication-failure">
    Incorrect password.
  </p>

  <p class="error-message flash flash-error" id="blocked-user">
    User account is locked.
  </p>

  <p class="error-message flash flash-error" id="unactivated-user">
    User not activated.
  </p>

  <p class="error-message flash flash-error" id="deprecated-editor-role">
    The editor role has been deprecated and your user account is no longer active. Please reach out to your root site administator.
  </p>

  <p class="error-message flash flash-error" id="unknown-user">
    Unknown user.
  </p>

  <p class="error-message flash flash-error" id="database-unavailable">
    Unable to connect to database. Your session has ended and you can log in again once the database is available.<br>
    The root site administrator login can still be used to access the Management Console.
  </p>

  <p class="error-message flash flash-error" id="database-unavailable-unlock">
    Unable to connect to database. Please retry logging in once the database is available again.<br>
    The root site administrator login can still be used to access the Management Console.
  </p>

  <p class="error-message flash flash-error" id="session-expired">
    Your session has expired. Sessions expire after 30 minutes of inactivity,
    after the password is changed by another user or when you sign out manually.
  </p>

  <p class="error-message flash flash-error" id="bad-server-time">
    The time on the server is out of sync with the time in your browser. On some
    browsers this may prevent you from logging in.

    To fix this,
    <a href="<%= help_url %>/admin/guides/installation/configuring-time-synchronization/">
      see our article on adjusting the clock of the appliance
    </a>.
  </p>
</div>

<% if !is_mysql_reachable && has_multi_user_setup %>
  <div>
    <p class="flash flash-error" id="mysql-failure">
      The database is currently not reachable and your active session may have ended.<br>
      The Management Console can right now only be accessed using the root site administrator password.
    </p>
  </div>
<% end %>

<div class="upload-wrapper">
  <% if has_multi_user_setup %>
    <div class="radio-list js-unlock-auth-type-group js-note-trigger-group">
      <label class="radio-item">
        <input type="radio"
          name="auth_type"
          value="multi_user"
          checked="checked"
          class="js-note-trigger js-toggle-required-field js-toggle-auth-type"
          data-triggers-note="#multi-user-auth-fields"
          data-required-field="#multi-user-username,#multi-user-password"
        >
        Management Console user
      </label>

      <label class="radio-item">
        <input type="radio"
          name="auth_type"
          value="root_user"
          class="js-note-trigger js-toggle-required-field js-toggle-auth-type"
          data-triggers-note="#root-user-auth-fields"
          data-required-field="#root-user-password"
        >
        Root site admin
      </label>
    </div>
  <% end %>
  <form action="upload/unlock" method="post" class="unlock">
    <%== csrf_tag %>

    <% if params["redirect_to"] %>
      <input name="redirect_to"
             value="<%= params["redirect_to"] %>"
             type="hidden">
    <% end %>

    <% if has_multi_user_setup %>
      <%== erb :_multi_user_auth_fields %>
      <%== erb :_root_user_auth_fields, locals: { multi_user_support: true } %>
    <% else %>
      <%== erb :_root_user_auth_fields, locals: { multi_user_support: false } %>
    <% end %>

    <div class="page-actions invalid">
      <button type="submit"
              class="btn btn-primary continue-install js-upload-license">
        Continue
      </button>
    </div>
  </form>
</div>
