<% content_for :javascript do %>
  <script src="<%= page_javascript("updates") %>" type="text/javascript"></script>
<% end %>

<% content_for :body_class do %>page-updates<% end %>

<% content_for :page_head do %>

  <h1>Updates</h1>
  <p class="lead">
    Automatically check and download updates for your GitHub Enterprise series. <a target="ghe-docs" title="Learn more in our guides" href="<%= help_url %>/admin/guides/installation/enabling-automatic-update-checks/"><span class="octicon octicon-question"></span></a>
  </p>

<% end %>

<% if Manage.configuration_allowed? %>
  <% if @updates.enabled? %>
    <aside class="page-main-meta one-fourth">
      <%== erb :"updates/_meta" %>
    </aside>
    <section class="page-main-content three-fourths">
      <%== erb :"updates/_dashboard" %>
    </section>
  <% else %>
    <section class="page-main-content">
      <%== erb :"updates/_settings" %>
    </section>
  <% end %>
<% else %>
  <div class="blankslate">
    <h2>Disabled in Cluster</h2>
    <p>Automatic Updates are disabled while running in Clustering</p>
  </div>
<% end %>

<% if development? %>
  <%== erb :"updates/_dev_zone" %>
<% end %>
