<% content_for :javascript do %>
  <script src="<%= page_javascript("userInvite") %>" type="text/javascript"></script>
  <script src="<%= page_javascript("password") %>" type="text/javascript"></script>
<% end %>


<% content_for :body_class do %>page-user-invite<% end %>

<% content_for :page_head do %>
  <h1>New user setup</h1>
<% end %>

<div class="js-error-messages">
  <p class="error-message flash flash-error" id="email-confirmation-failure">
    Incorrect email. Please contact your admin. 
  </p>
</div>

<div class="upload-wrapper" id="email-confirmation">
  <form action="/setup/user-invite/<%= @user_hash %>" method="post" class="user-invite">
    <%== csrf_tag %>
    <h3>Please enter your email for confirmation</h3>
    <div>
      <input type="email" name="email" autofocus />
    </div>
    <div class="page-actions invalid">
      <button type="submit"
              class="btn btn-primary">
        Confirm
      </button>
    </div>
  </form>
</div>

<input type="hidden" id="userHashMatches" data-value=<%= @hash_matches %> >

<div class="upload-wrapper" id="set-password" style="display: none;">
  <form action="/setup/user-invite/<%= @user_hash %>" method="post" class="user-invite">
    <%== csrf_tag %>
    <div>
    <label class="label-heading" for="password"> Username: <%= session[:username] %> </label>
    <label class="label-heading" for="password"> Email: <%= session[:email] %> </label>
    </div>

    <%== erb :_password_form %>

    <div class="page-actions">
      <button type="submit" class="btn btn-primary js-save-password-button" disabled="disabled">Save password</button>
    </div>
  </form>
</div>


<% if development? %>
<div class="dev-zone dev-zone-local" >
  <p class="dev-zone-heading">Fake user</p>
  <div class="upload-wrapper" >
    <%if ! session[:email].nil? && Manage.db.get_user_by_email(session[:email])[:user_hash]==@user_hash %>
      <div>
       email to enter: <%= session[:email] %>
      </div>
    <% else %>
    <% session[:email] = nil %>
      <div>
        <a href="/setup/user-invite/createinvite">Create New User</a>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
