<%
  default_hydro_payload = {
    repository_stack_id: database_id,
    source_url: request.url,
    location: controller.controller_name + "#" + controller.action_name
  }
  hydro_data ||= hydro_click_tracking_attributes("marketplace.stack.click", default_hydro_payload)

  stars = stack_viewdata.stars
  hide_social_proof ||= false
  show_social_proof = stars && (stars >= ::RepositoryStack::MIN_STARS_FOR_SOCIAL_PROOF) &&
    !hide_social_proof

  stack_owner_login = stack_viewdata.owner_login
%>

<%= content_tag(:a, href: resource_path, data: hydro_data, class: "col-md-6 mb-4 d-flex no-underline") do -%>
  <div>
    <div style ="background-color: #<%= stack["color"] %>" class="CircleBadge CircleBadge--small">
      <%= action_icon(name: stack.name, icon_name: stack.icon_name, color: stack.icon_color, owner: stack_owner_login) %>
    </div>
  </div>
  <div class="px-3" <%= test_selector("stack-link-content") %>>
    <h3 class="h4"><%= stack.name %></h3>
    <% if stack_owner_login.present? %>
      <p class="color-fg-muted text-small lh-condensed mb-1">By <span class="color-fg-muted"><%= stack_owner_login %></span>
        <% if stack_viewdata.is_verified_owner %>
          <span>
            <%= primer_octicon(:verified, color: :accent) %> Creator verified by GitHub
          </span>
        <% end %>
      </p>
    <% end %>
    <p class="color-fg-muted lh-condensed wb-break-word mb-0"><%= stack["description"] %></p>
    <% if show_social_proof %>
      <%= render(Primer::Beta::Octicon.new(icon: "star", size: :small, color: :muted)) %>
      <span class="text-small color-fg-muted text-bold">
        <%= social_count(stars) %> stars
      </span>
    <% end %>
  </div>
<% end %>
