<% unless guide_hidden? %>
  <%= render(Primer::Beta::Subhead.new(
    mb: 1,
    test_selector: "guide-heading"
  )) do |subhead| %>
    <% subhead.with_heading(font_size: 2) do %>
      Getting started guide
    <% end %>
    <% subhead.with_actions do %>
      <%= form_tag(
        enterprise_notice_path(business, notice: BusinessesHelper::COPILOT_ONBOARDING_NOTICE_NAME),
        method: :delete
      ) do %>
        <%= render(Primer::Beta::Button.new(
          size: :small,
          type: :submit,
          "data-disable-with": ""
        )) { "Dismiss onboarding" } %>
      <% end %>
    <% end %>
  <% end %>

  <div class="color-fg-muted">
    This guide will show you how to install the GitHub Copilot extension in Visual Studio Code,
    and get your first suggestion.
  </div>

  <%= render(Primer::Beta::Subhead.new(mt: 4, hide_border: true)) do |subhead| %>
    <% subhead.with_heading(font_size: 4) do %>
      Let's start with the basics
    <% end %>
  <% end %>

  <% if for_owners? %>
    <ul class="list-style-none d-flex flex-column flex-lg-row gutter-md-condensed mt-2" <%= test_selector "basics_for_owners" %>>
      <%= render(OnboardingTasks::TaskComponent.new(
        task: OnboardingTasks::Businesses::EnableSaml.new(taskable: business, user: current_user),
        body: "Manage members' identities and access."
      )) %>
      <%= render(OnboardingTasks::TaskComponent.new(
        task: OnboardingTasks::Businesses::AddAzureSubscription.new(taskable: business, user: current_user),
        body: "Connect your Azure subscription to your enterprise."
      )) %>
      <%= render(OnboardingTasks::TaskComponent.new(
        task: OnboardingTasks::Businesses::EnableCopilot.new(taskable: business, user: current_user),
        body: "Allow access to members of your enterprise."
      )) %>
    </ul>
  <% else %>
    <%= render(Copilot::GetStartedWithCopilotComponent.new(current_copilot_user)) %>
  <% end %>

  <%= render(Primer::Beta::Subhead.new(mt: 4, hide_border: true)) do |subhead| %>
    <% subhead.with_heading(font_size: 4) do %>
      Learn more
    <% end %>
  <% end %>

  <%= render(Primer::Alpha::ActionList.new(mb: 6)) do |list| %>
    <% if for_owners? %>
      <% list.with_item(
        label: "Managing Copilot Business licenses with an enterprise account",
        label_arguments: { color: :accent },
        href: "#{GitHub.help_url}/early-access/copilot/managing-copilot-business-licenses-with-an-enterprise-account"
      ) do |item| %>
        <% item.with_leading_visual_icon(icon: :"link-external") %>
      <% end %>
      <% list.with_item(
        label: "Provisioning for Enterprise Managed Users",
        label_arguments: { color: :accent },
        href: "#{GitHub.help_url}/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-scim-provisioning-for-enterprise-managed-users#about-provisioning-for-enterprise-managed-users"
      ) do |item| %>
        <% item.with_leading_visual_icon(icon: :"link-external") %>
      <% end %>
      <% list.with_item(
        label: "GitHub Copilot documentation",
        label_arguments: { color: :accent },
        href: "#{GitHub.help_url}/copilot"
      ) do |item| %>
        <% item.with_leading_visual_icon(icon: :"link-external") %>
      <% end %>
      <% list.with_item(
        label: "Connecting an Azure subscription",
        label_arguments: { color: :accent },
        href: "#{GitHub.help_url}/billing/managing-the-plan-for-your-github-account/connecting-an-azure-subscription#video-demonstration-of-connecting-a-subscription"
      ) do |item| %>
        <% item.with_leading_visual_icon(icon: :"link-external") %>
      <% end %>
    <% else %>
      <% list.with_item(
        label: "Configure GitHub Copilot",
        label_arguments: { color: :accent },
        href: "#{GitHub.help_url}/copilot/configuring-github-copilot"
      ) do |item| %>
        <% item.with_leading_visual_icon(icon: :"link-external") %>
      <% end %>
      <% list.with_item(
        label: "Using GitHub Copilot Chat",
        label_arguments: { color: :accent },
        href: "#{GitHub.help_url}/copilot/github-copilot-chat/using-github-copilot-chat#enabling-or-disabling-github-copilot-chat"
      ) do |item| %>
        <% item.with_leading_visual_icon(icon: :"link-external") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
