<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::Beta::Subhead.new(mt: 4, border_bottom: 0, test_selector: "danger-zone-component") do |subhead| %>
  <% subhead.with_heading(tag: :h2, mt: 4, mb: 0) do %>
    Danger zone
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(border_color: :danger)) do |box| %>
  <% if render_rename_row? %>
    <% box.with_row(test_selector: "change-business-slug") do %>
      <div class="d-flex flex-items-center">
        <div class="flex-auto width-full">
          <span class="text-bold color-fg-default">
            Change enterprise URL slug
          </span>
          <div class="color-fg-default mt-1 f5" <%= test_selector "change-business-slug-description" %>>
            Changing the enterprise URL slug can have unintended side effects.
          </div>
        </div>
        <% if can_change_url? %>
          <%= render(Primer::Alpha::Dialog.new(
            size: :medium_portrait,
            id: "rename-url-information-dialog",
            title: "Change enterprise URL slug",
            test_selector: "business-slug-rename-dialog",
          )) do |dialog| %>
            <% dialog.with_show_button(scheme: :danger) do %>
              Change enterprise URL slug
            <% end %>
            <%= render(Primer::Alpha::Dialog::Body.new) do %>
              <%= render(Primer::Beta::Flash.new(
                icon: :stop,
                scheme: :danger,
              )) do %>
                This change has consequences, please be certain.
              <% end %>
            <% end %>
            <%= render(Primer::Alpha::Dialog::Body.new) do %>
              <p>
                Changing your enterprise URL slug will result in the following:
              </p>
              <ul class="ml-3">
                <li> We will <strong>not</strong> set up redirects for your old enterprise URL. </li>
                <% if business.external_provider_enabled? %>
                  <li>If you have SAML enabled at the enterprise level, you will need to update settings with your identity provider to reflect this change in URL for single-sign on to function.</li>
                <% end %>
                <% if business.enterprise_installations.any? %>
                  <li>
                    You will need to disable and re-enable GitHub Connect on any GitHub Enterprise Server
                    installations connected to the enterprise for GitHub Connect to continue working.
                  </li>
                <% end %>
                <li> Renaming may take a few minutes to complete. </li>
                <li> For more information, see the documentation on <%= link_to("changing the URL for your enterprise", "#{GitHub.help_url}/enterprise-cloud@latest/admin/managing-your-enterprise-account/changing-the-url-for-your-enterprise") %>. </li>
              </ul>

              <%= form_tag enterprise_slug_path(business),
                method: :patch do %>

                <dl class="form-group">
                  <dt><label for="reason">Type enterprise URL slug "<%= business.slug %>" to confirm</label></dt>
                  <dd>
                    <input class="form-control input-block"
                      type="text"
                      name="verify"
                      pattern="<%= helpers.case_insensitive_pattern(business.slug) %>"
                      required
                      autofocus>
                  </dd>
                </dl>

                <auto-check src="<%= enterprise_check_slug_path %>" required>
                  <dl class="form-group">
                    <dt><label for="reason">New enterprise URL slug</label></dt>
                    <dd>
                      <input class="form-control" type="text" name="new_slug" id="new_slug" autofocus>
                      <p class="note"></p>
                    </dd>
                  </dl>
                  <%= csrf_hidden_input_for enterprise_check_slug_path %>
                </auto-check>

                <div class="form-checkbox" aria-live="polite" <%= test_selector("slug-change-accept-conditions")%>>
                  <input type="checkbox" class="form-checkbox-details-trigger" id="accept_conditions" name="accept_conditions" required>
                  <label for="accept_conditions" class="text-normal">
                    I have read and understand the consequences of changing this enterprise's URL slug.
                  </label>
                </div>
                <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger) do %>Change enterprise URL slug<% end %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <%= render(Primer::Alpha::Dialog.new(
            size: :medium_portrait,
            id: "rename-url-information-dialog",
            title: "Unable to rename enterprise URL slug",
            test_selector: "contact-sales-dialog",
          )) do |dialog| %>
            <% dialog.with_show_button(scheme: :danger) do %>
              Change enterprise URL slug
            <% end %>
            <%= render(Primer::Alpha::Dialog::Body.new) do %>
              This enterprise uses invoiced billing, you will need to
              <%= render(Primer::Beta::Link.new(
                href: ent_contact_url,
                classes: "Link--inTextBlock"
              )) { "contact sales" } %>
              for assistance.
            <% end %>
            <%= render(Primer::Alpha::Dialog::Footer.new(show_divider: false)) do %>
              <%= render(Primer::Beta::Button.new(
                type: :button,
                data: { "close-dialog-id": "rename-url-information-dialog" }
              )) { "Close" } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if render_cancel_trial_row? %>
    <% box.with_row(test_selector: "cancel-trial-row") do %>
      <div class="d-flex flex-items-center">
        <div class="flex-auto width-full">
          <span class="text-bold color-fg-default">
            <%= cancel_trial_flavor %> trial
          </span>
          <div class="color-fg-default mt-1 f5" <%= test_selector "cancel-trial-row-description" %>>
            Once you <%= cancel_trial_flavor.downcase %> this trial there is no going back. Please be certain.
          </div>
        </div>

        <%= render(Businesses::TrialAccounts::CancelActionComponent.new(
          business: business,
          button_size: :medium,
          ref_loc: "enterprise danger zone"
        )) %>
      </div>
    <% end %>
  <% end %>

  <% if render_delete_row? %>
    <% box.with_row(test_selector: "delete-row") do %>
      <div class="d-flex flex-items-center">
        <div class="flex-auto width-full">
          <span class="text-bold color-fg-default">
            Delete enterprise
          </span>
          <div class="color-fg-default mt-1 f5" <%= test_selector "delete-row-description" %>>
            <% if show_trade_restricted_notice? %>
              <%= render Primer::Alpha::Banner.new(scheme: trade_screening_error_data[:scheme], icon: trade_screening_error_data[:icon], mt: 2, style: "max-width: 544px;") do %>
                <h3 class="h5">
                  You can't delete this enterprise at this time
                </h3>
                <div <%= test_selector("trade-screening-message") %>>
                  <%= trade_screening_error_data[:message] %>
                </div>
              <% end %>
            <% elsif can_delete? %>
              Once you delete your enterprise, there is no going back. Please be certain.
            <% else %>
              You must
              <% if business.enterprise_managed? %>
                <%= render(Primer::Beta::Link.new(
                  href: "#{GitHub.help_url}/organizations/managing-organization-settings/deleting-an-organization-account",
                  classes: "Link--inTextBlock"
                )) { "delete" } %>
              <% else %>
                <%= render(Primer::Beta::Link.new(
                  href: "#{GitHub.help_url}/admin/managing-accounts-and-repositories/managing-organizations-in-your-enterprise/removing-organizations-from-your-enterprise#removing-an-organization-from-your-enterprise",
                  classes: "Link--inTextBlock"
                )) { "remove" } %>
                or
                <%= render(Primer::Beta::Link.new(
                  href: "#{GitHub.help_url}/admin/managing-accounts-and-repositories/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise#transferring-an-organization-between-enterprise-accounts",
                  classes: "Link--inTextBlock"
                )) { "transfer" } %>
              <% end %>
              all organizations before you can delete this enterprise.
            <% end %>
          </div>
        </div>

        <% if can_delete? %>
          <%= render(Primer::Alpha::Dialog.new(
            size: :large,
            id: "delete-dialog",
            title: "Delete enterprise",
          )) do |dialog| %>
            <% dialog.with_show_button(scheme: :danger, disabled: show_trade_restricted_notice?, test_selector: "delete-enterprise-dialog-btn") do %>
              Delete this enterprise
            <% end %>

            <%= form_tag enterprise_path(business), method: :delete do %>
              <%= render(Primer::Alpha::Dialog::Body.new) do %>
                <%= render(Primer::Beta::Flash.new(
                  icon: :stop,
                  scheme: :danger,
                  my: 3
                )) do %>
                  This change will be permanent and cannot be undone.
                <% end %>
                <p>
                  Your enterprise will be permanently deleted. Your enterprise's policies and
                  content will be deleted from the system.
                </p>
                <p>
                  <label>
                    Type enterprise slug "<%= business.slug %>" to confirm
                    <input type="text"
                      class="form-control input-block"
                      name="verify"
                      pattern="<%= helpers.case_insensitive_pattern(business.slug) %>"
                      required
                      autofocus>
                  </label>
                </p>
              <% end %>
              <%= render(Primer::Alpha::Dialog::Footer.new(show_divider: true)) do %>
                <%= render(Primer::Beta::Button.new(
                  type: :button,
                  data: { "close-dialog-id": "delete-dialog" }
                )) { "Cancel" } %>

                <%= render(Primer::Beta::Button.new(
                  type: :submit,
                  scheme: :danger,
                  "data-disable-invalid": "",
                  "data-disable-with": ""
                )) { "Delete this enterprise" } %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <%= render(Primer::Alpha::Dialog.new(
            size: :large,
            id: "unable-to-delete-dialog",
            title: "Unable to delete enterprise",
          )) do |dialog| %>
            <% dialog.with_show_button(scheme: :danger) do %>
              Delete this enterprise
            <% end %>
            <% dialog.with_body do %>
              <p>
                You must <%= business.enterprise_managed? ? "delete" : "remove or transfer" %> all organizations
                before you can delete this enterprise. Here is some information:
              </p>

              <%= render(Primer::Alpha::ActionList.new) do |list| %>
                <% if business.enterprise_managed? %>
                  <% list.with_item(
                    label: "Deleting an organization account",
                    label_arguments: { color: :accent },
                    href: "#{GitHub.help_url}/organizations/managing-organization-settings/deleting-an-organization-account"
                  ) do |item| %>
                    <% item.with_leading_visual_icon(icon: :"link-external") %>
                  <% end %>
                <% else %>
                  <% list.with_item(
                    label: "Removing an organization from your enterprise",
                    label_arguments: { color: :accent },
                    href: "#{GitHub.help_url}/admin/managing-accounts-and-repositories/managing-organizations-in-your-enterprise/removing-organizations-from-your-enterprise#removing-an-organization-from-your-enterprise"
                  ) do |item| %>
                    <% item.with_leading_visual_icon(icon: :"link-external") %>
                  <% end %>
                  <% list.with_item(
                    label: "Transferring an organization between enterprise accounts",
                    label_arguments: { color: :accent },
                    href: "#{GitHub.help_url}/admin/managing-accounts-and-repositories/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise#transferring-an-organization-between-enterprise-accounts"
                  ) do |item| %>
                    <% item.with_leading_visual_icon(icon: :"link-external") %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>

            <% dialog.with_footer do %>
              <%= render(Primer::Beta::Button.new(
                data: { "close-dialog-id": "unable-to-delete-dialog" }
              )) { "Close" } %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
