<%= render(Primer::Beta::Subhead.new(
  mb: 0,
  hide_border: true,
  test_selector: "emu-first-admin-getting-started-heading"
)) do |subhead| %>
  <div>
    <% subhead.with_heading(font_size: 2) do %>
      Welcome, <strong><%= current_user.display_login %></strong>
    <% end %>
  </div>
<% end %>

<div>
  Use this account only to configure single sign-on and SCIM provisioning for the enterprise.
</div>

<div class="position-relative mt-4" <%= test_selector "basics_for_owners" %>>
  <%= render(OnboardingTasks::TaskTimelineComponent.new(
    task: OnboardingTasks::Businesses::GeneratePersonalAccessToken.new(taskable: business, user: current_user),
    body: "You will need this token to configure provisioning on your identity provider."
  )) %>

  <%= render(OnboardingTasks::TaskTimelineComponent.new(
    task: OnboardingTasks::Businesses::EnableSaml.new(taskable: business, user: current_user),
    body: "Configure your identity provider so members can authenticate to access organizations."
  )) %>

  <%= render(OnboardingTasks::TaskTimelineComponent.new(
    task: OnboardingTasks::Businesses::ConfigureSCIM.new(taskable: business, user: current_user),
    body: "Configure SCIM to automatically provision user accounts to this enterprise after you enable single sign-on.",
    last_item: true
  )) %>
</div>
