<div class="mt-6">
  <%= render(Primer::Beta::Subhead.new(
    mb: 1,
    border: false,
    test_selector: "enterprise-explore-more"
  )) do |subhead| %>
    <% subhead.with_heading(font_size: 3) do %>
      Explore more
    <% end %>
  <% end %>
  <div class="d-flex">
    <div class="color-bg-subtle color-shadow-small rounded-md-2 flex-1 p-3">
      <%= render Primer::Beta::Octicon.new(icon: :telescope, scheme: :secondary) %>
      <div class="d-block pt-2">
        <% if GitHub.single_business_environment? %>
          View the
          <%= render(Primer::Beta::Link.new(
            href: "#{GitHub.enterprise_admin_help_url}/release-notes",
            classes: "Link--inTextBlock",
            test_selector: "ghes-release-notes-link"
          )) { "GitHub Enterprise Server release notes" } %>
          to stay updated on everything we ship.
        <% else %>
          Visit the
          <%= render(Primer::Beta::Link.new(
            href: "https://github.blog/changelog/label/enterprise/",
            classes: "Link--inTextBlock",
            test_selector: "changelog-link"
          )) { "Enterprise changelog" } %>
          to stay updated on everything we ship.
        <% end %>
      </div>
    </div>
    <div class="color-bg-subtle color-shadow-small rounded-md-2 flex-1 p-3 mx-3">
      <%= render Primer::Beta::Octicon.new(icon: :comment, scheme: :secondary) %>
      <div class="d-block pt-2">
        Visit
        <%= render(Primer::Beta::Link.new(
          href: GitHub.enterprise_support_link,
          classes: "Link--inTextBlock",
          test_selector: "support-link"
        )) { "GitHub Support" } %>
        to browse resources, and contact support.
      </div>
    </div>
    <div class="color-bg-subtle color-shadow-small rounded-md-2 flex-1 p-3">
      <% if GitHub.single_business_environment? %>
        <%= render(Primer::Beta::Octicon.new(icon: :book, scheme: :secondary)) %>
        <div class="d-block pt-2">
          <%= render(Primer::Beta::Link.new(
            href: GitHub.enterprise_help_landing_page,
            classes: "Link--inTextBlock",
            test_selector: "ghes-help-link"
          )) { "Search and view documentation" } %>
          for your version of GitHub Enterprise Server.
        </div>
      <% else %>
        <% if show_onboarding_experience?(business) %>
          <%= render(Primer::Beta::Octicon.new(icon: :"check-circle", scheme: :secondary)) %>
          <div class="d-block pt-2">
            <%= render(Primer::Beta::Link.new(
              href: enterprise_getting_started_path(business),
              classes: "Link--inTextBlock",
              test_selector: "suggested-tasks-link"
            )) { "Get started with suggested tasks" } %>
            that most successful enterprises complete.
          </div>
        <% else %>
          <% if onboarding_experience_dismissed? %>
            <%= render(Primer::Beta::Octicon.new(icon: :"check-circle", scheme: :secondary)) %>
            <div class="d-block pt-2">
              <%= form_tag enterprise_onboarding_tasks_path(business), method: :patch do %>
                <input type="hidden" name="notice_name" value="<%= reset_onboarding_notice_name %>">
                <%= render(Primer::Beta::Button.new(
                  scheme: :link,
                  type: :submit,
                  classes: "Link--inTextBlock",
                  test_selector: "reset-suggested-tasks-button",
                )) { "Get started with suggested tasks" } %>
                that most successful enterprises complete.
              <% end %>
            </div>
          <% else %>
            <%= render(Primer::Beta::Octicon.new(icon: :book, scheme: :secondary)) %>
            <div class="d-block pt-2">
              <%= render(Primer::Beta::Link.new(
                href: GitHub.help_url(ghec_exclusive: true),
                classes: "Link--inTextBlock",
                test_selector: "cloud-help-link"
              )) { "Search and view documentation" } %>
              for GitHub Enterprise.
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
