<div class="<%= banner_color %> js-notice d-md-flex flex-items-center flex-justify-between py-2 px-3 h6 border-bottom" <%= test_selector("enterprise-onboarding-trial-banner") %> >
  <div class="d-flex flex-items-center flex-justify-between flex-md-justify-start">
    <% if show_billing_settings_link? %>
      <% if show_message_for_orgs_created_in_trial? %>
        <a href="<%= settings_billing_enterprise_path(business) %>" class="d-block mr-5 <%= text_color %>">
          <%= render(Primer::Beta::Octicon.new(icon: "clock", size: :small, mr: 2)) %><%= days_remaining %>
          <span class="ml-2 text-normal">
            Any organizations created during the trial will remain connected to <%= business.name %> until GitHub Enterprise is purchased.
          </span>
        </a>
      <% else %>
        <a href="<%= settings_billing_enterprise_path(business) %>" class="d-block mr-2 <%= text_color %>">
          <span style="<%= font_weight %>"><%= render(Primer::Beta::Octicon.new(icon: "clock", size: :small, color: text_color_symbol,  mr: 2)) %><%= days_remaining %></span>
          <% if show_expired_trial_deletion_countdown? %>
            <span class="ml-2 text-normal" <%= test_selector("show-days-to-deletion") %>>
              To keep your account, upgrade to a paid account. Otherwise, the account will be deleted in <%= pluralize(days_to_deletion, "day") %>.
            </span>
          <% end %>
        </a>
      <% end %>
    <% else %>
      <% if show_message_for_orgs_created_in_trial? %>
        <div class="<%= text_color %>">
          <%= render(Primer::Beta::Octicon.new(icon: "clock", size: :small, mr: 2)) %><%= days_remaining %>
          <span class="text-normal <%= text_color %> ml-2">
            Any organizations created during the trial will remain connected to <%= business.name%> until GitHub Enterprise is purchased.
          </span>
        </div>
      <% else %>
        <span class="<%= text_color %>" style="<%= font_weight %>"><%= render(Primer::Beta::Octicon.new(icon: "clock", size: :small, color: text_color_symbol, mr: 2)) %><%= days_remaining %></span>
      <% end %>
    <% end %>

    <% if show_suggested_tasks? %>
      <%= form_tag enterprise_onboarding_tasks_path(business), method: :patch do %>
        <input type="hidden" name="notice_name" value="<%= BusinessesHelper::TRIAL_ONBOARDING_NOTICE_NAME %>">
        <%= render(Primer::Beta::Button.new(
          scheme: :link,
          ml: 2,
          type: :submit,
          test_selector: "suggested-tasks-button",
          data: {
            **analytics_click_attributes(
              category: "enterprise_trial_account",
              action: "get_started_with_tasks",
              label: "enterprise_id:#{business.id}")
            })) { "See suggested tasks" } %>
      <% end %>
    <% end %>

    <% if show_go_to_dashboard? %>
      <a href="<%= user_path(viewing_org) %>" class="d-block mr-md-5 ml-2" <%= test_selector("go-to-dashboard-button") %>>
        Go to dashboard
      </a>
    <% end %>
  </div>

  <div class="d-none d-md-flex flex-items-center flex-shrink-0">
    <% actions.each do |action| %>
      <a href="<%= action[:link] %>" class="d-block ml-5 mr-3 <%= link_color %>"
        <%= safe_analytics_click_attributes(
            category: "enterprise_trial_account",
            action: action[:title].parameterize.underscore,
            label: "enterprise_id:#{business.id};location:banner",
        ) %>
      >
        <%= action[:title] %>
      </a>
    <% end %>
    <div <%= test_selector("buy-enterprise-button")%> >
      <% if display_buy_enterprise_button? %>
        <%= render(Primer::Beta::Button.new(
          tag: :a,
          color: :accent,
          scheme: :secondary,
          href: billing_settings_upgrade_enterprise_path(business),
          data: safe_analytics_click_attributes(
            category: "enterprise_trial_account",
            action: "buy_enterprise_button_clicked".parameterize,
            label: "enterprise_id:#{business.id};location:banner;content:#{buy_enterprise_flavor(short: true).parameterize.underscore}",
          )
        )) { buy_enterprise_flavor(short: true) } %>
      <% end%>
    </div>
  </div>
</div>

<% if business_adminable_by_user? %>
  <%= render Businesses::EnterpriseCloudOnboarding::SurveyBannerComponent.new(business) %>
<% end %>
