<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# Please don't modify this file if you want to do any of the following:
  #
  # 1) Add a new menu or sub-menu item
  # 2) Update an existing attribute of a menu or sub-menu item
  # 3) Modify the visibility of a menu or sub-menu item
  # 4) Delete a menu or sub-menu item
  #
  # Instead, make your changes in app/components/businesses/enterprise_account_nav_component.rb for
  # any of the scenarios mentioned above or any other change that is not meant to affect the
  # styling or functionality of the menu or sub-menu items as a whole. In rare scenarios, you may
  # want to make a change affecting a single menu or sub-menu item that cannot be achieved by updating
  # app/components/businesses/enterprise_account_nav_component.rb; please consult with
  # #meao before you make such a change. %>

<%# Responsive menu for small and medium size screens %>
<% if responsive? %>
  <div class="d-lg-none flex-auto mt-3 mx-3">
    <details class="details-reset details-overlay dropdown position-relative">
      <summary class="btn width-full text-center">
        Manage account
        <div class="dropdown-caret"></div>
      </summary>
      <details-menu class="dropdown-menu dropdown-menu-se project-small-menu-dropdown width-full mb-3" <%= test_selector "responsive-sidenav-menu" %>><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <% filtered_menu_items.each do |menu_item| %>
          <% if menu_item[:link_name] == "Organizations" %>
            <div class="dropdown-header py-2">Manage account</div>
          <% end %>
          <% if menu_item[:sub_menu_items].present? %>
            <div class="dropdown-header border-top py-2"><%= menu_item[:link_name] %></div>
          <% else %>
            <%= selected_link_to menu_item[:link_name],
              menu_item[:link_path],
              class: "btn-link dropdown-item border-top py-2",
              highlight: menu_item[:highlight] %>
          <% end %>

          <% if menu_item[:sub_menu_items] %>
            <% menu_item[:sub_menu_items].each do |sub_menu_item| %>
              <%= selected_link_to sub_menu_item[:link_name],
                sub_menu_item[:link_path],
                class: "btn-link dropdown-item pb-2",
                highlight: sub_menu_item[:highlight] %>
              <% if sub_menu_item.key?(:nested_pages) %>
                <div class="pl-4 f6">
                  <% sub_menu_item[:nested_pages].each do |page| %>
                    <%= selected_link_to page[:link_name],
                      page[:link_path],
                      highlight: page[:highlight],
                      class: "btn-link dropdown-item py-2",
                      data: test_selector_hash("sub-menu-item") %>
                  <%end%>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </details-menu>
    </details>
  </div>
<% end %>

<%# Side navigation menu for larger screens that is hidden in responsive mode when in smaller screens. %>
<nav class="SideNav border-bottom <%= "d-none d-lg-block" if responsive? %>" aria-label="Enterprise account" <%= test_selector "sidenav-menu" %>>
  <% filtered_menu_items.each do |menu_item| %>
    <%= selected_link_to menu_item[:link_path],
      class: "SideNav-item d-flex flex-items-center business-menu-item",
      highlight: menu_item[:highlight],
      data: test_selector_hash(menu_item[:menu_test_selector]) do %>
      <%= primer_octicon(menu_item[:octicon], classes: "business-menu-icon") %>

      <% if menu_item[:link_name] == "GitHub Insights" %>
        <span class="flex-auto"><%= menu_item[:link_name] %></span>
        <%= render Primer::Beta::Octicon.new(icon: "link-external") if GitHub.insights_url %>
      <% else %>
        <%= menu_item[:link_name] %>
      <% end %>
      <%= render ::SecurityCenter::PhaseComponent.new(menu_item[:release_phase], ml: 2) if menu_item[:release_phase] %>
    <% end %>

    <% if menu_item[:sub_menu_items] %>
      <div class="SideNav color-bg-default border-top py-3 pl-6 business-sub-menu" <%= test_selector menu_item[:sub_menu_test_selector] %>>
        <% menu_item[:sub_menu_items].each do |sub_menu_item| %>
          <div class="d-flex flex-items-center">
            <%= selected_link_to sub_menu_item[:link_name],
              sub_menu_item[:link_path],
              class: "SideNav-subItem width-auto",
              highlight: sub_menu_item[:highlight],
              data: test_selector_hash("sub-menu-item") %>
            <%= render ::SecurityCenter::PhaseComponent.new(sub_menu_item[:release_phase], ml: 2) if sub_menu_item[:release_phase] %>
          </div>
          <% if sub_menu_item.key?(:nested_pages) %>
            <div class="pl-4 f6">
              <% sub_menu_item[:nested_pages].each do |page| %>
                <%= selected_link_to page[:link_name],
                  page[:link_path],
                  class: "SideNav-subItem",
                  highlight: page[:highlight],
                  data: test_selector_hash("sub-menu-nested-item") %>
              <%end%>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</nav>
