<% if GitHub.licensed_mode? %>
  <div class="d-flex flex-justify-center py-2">
    <span class="f6 color-fg-muted">GitHub Enterprise Server <%= GitHub.version_number %></span>
  </div>
<% end %>

<% if show_business_footer? %>
  <span class="sr-only" id="business-name"><%= business.name %></span>

  <div class="<%= footer_container_classes %> pb-4" <%= test_selector "business_footer" %>>
    <div class="<%= footer_org_classes %>">
      <% if business.website_url %>
        <%= link_to business.website_url, title: "#{business.name} Home page", class: "footer-octicon mr-2" do %>
          <%= avatar_for(business, 24, itemprop: "image", class: "", alt: "#{business.name} avatar") %>
        <% end %>
      <% else %>
        <%= avatar_for(business, 24, itemprop: "image", class: "mr-2", alt: "#{business.name} avatar") %>
      <% end %>

      <span>
        <%= business.name %>
      </span>
    </div>

    <% if business.footer_links.any? && should_render_footer_links? %>
      <ul aria-labelledby="business-name" class="sr-only">
        <% business.footer_links.first(GitHub.max_business_footer_count).each do |footer_link| %>
          <li class="mx-2">
            <%= render(Primer::Beta::Link.new(href: footer_link.url, scheme: :secondary, rel: "noopener noreferrer")) { footer_link.title } %>
          </li>
        <% end %>
      </ul>

      <ul class="<%= footer_ul_classes %> Truncate" <%= test_selector "business_footer_links" %>>
        <% business.footer_links.first(GitHub.max_business_footer_count).each do |footer_link| %>
          <% if footer_link.url.present? && footer_link.title.present? %>
            <li class="Truncate-text flex-1 mx-2">
              <%= render(Primer::Beta::Link.new(href: footer_link.url, scheme: :secondary, rel: "noopener noreferrer")) { footer_link.title } %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
