<div <%= test_selector("enterprise-business-onboarding-component") %> >
  <% if display_header? %>
    <div class="d-lg-flex flex-items-start" <%= test_selector("business-onboarding-welcome-header") %> data-hpc>
      <div>
        <h2 class="h3 lh-condensed mt-6 mb-2">Welcome to your enterprise account</h2>
        <p class="f5 color-fg-muted">
          GitHub Enterprise's administrative tools keep your account secure, compliant, and meet your company where you are.
          Your enterprise account allows you to centrally manage multiple organizations, licenses, and the security for your entire company.
          GitHub is here to help you get set up, onboard your developers, and start putting your ideas into production.
        </p>
      </div>
    </div>
  <% end %>
  <% if emu_first_admin? %>
    <%= render Businesses::EmuFirstAdminGettingStartedComponent.new(business: business), layout: false %>
  <% elsif business.seats_plan_basic? %>
    <%= render Businesses::CopilotGettingStartedComponent.new(business: business), layout: false %>
  <% elsif business.trial? %>
    <%= render partial: "businesses/onboarding_tasks/tasks", locals: { this_business: business } %>
  <% elsif business.upgraded_from_organization? %>
    <%= render partial: "businesses/onboarding_tasks/org_upgrade_tasks", locals: { this_business: business } %>
  <% end %>
</div>
