<% if form_field %>
  <%= hidden_field_tag "plan_duration", duration %>
<% end %>

<% if business.display_sales_tax_on_checkout? %>
  <div class="d-flex gutter-condensed text-normal color-fg-muted pb-3">
    <div class="col-6">
      <p class="mb-1">Subtotal</p>
      <p class="mb-0" <%= test_selector("sales-tax-label") %>>Sales tax</p>
    </div>
    <div class="col-6 text-right">
      <p class="mb-1"><%= renewal_list_price.format %> / <%= duration %></p>
      <p class="mb-0" <%= test_selector("sales-tax-value") %>>(applied to your invoice)</p>
    </div>
  </div>
<% end %>

<div class="pb-3 border-bottom">
  <div class="d-flex gutter-condensed">
    <div class="col-6">
      <% if metered_plan? %>
        <span class="h4">Estimated monthly total</span>
      <% else %>
        <span class="h4">New <%= duration %>ly total</span>
        <% if price_prorated? %>
          <p class="f6 color-fg-muted">Starting <%= next_billing_date %></p>
        <% end %>
      <% end %>
    </div>
    <div class="col-6 text-right mt-n1">
      <span class="f2 unstyled-renewal-price" <%= test_selector("plan_unit_price") %> ><%= renewal_list_price.format %></span>
      <% if metered_plan? %>
        <p class="f5 color-fg-muted">
          per <%= duration %>
        </p>
      <% else %>
        <span class="f5 color-fg-muted"> / <%= duration %></span>
        <% if trial? || organization_upgrade_initiated? %>
          <p class="f6 color-fg-muted"><span class="unstyled-new-seats"><%= plan_change.seats %></span> seats @ <%= plan_change.human_unit_price %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% unless metered_plan? %>
  <div class="py-3">
    <div class="d-flex gutter-condensed">
      <div class="col-6">
        <h3 class="lh-condensed">
          <% if !effective_immediately? %>
            Payment due <div><%= next_billing_date.strftime("%b %e, %Y") %></div>
          <% else %>
            Due today
          <% end %>
        </h3>
        <% if price_prorated? %>
          <p class="f6 color-fg-muted">Prorated for <%= pluralize plan_change.new_subscription.service_days_remaining, "day" %></p>
        <% end %>
      </div>
      <div class="col-6 text-right mt-n1">
        <span class="f1 d-block unstyled-payment-due" <%= test_selector("plan_payment_due") %>>
          <%= plan_change.renewal_price(github_only: changing_duration?).format %>
        </span>
      </div>
    </div>
    <% if duration == "year" && annual_discount_allowed? && !hide_annual_discount_info %>
      <div class="mt-3 d-flex flex-row" <%= test_selector("annual-discount-info") %>>
        <%= render(Primer::Beta::Octicon.new(:"tag", size: :small, color: :muted, pt: 1)) %>
        <p class="f6 ml-2"> <%= render Pricing::AnnualDiscountNoticeComponent.new(plan: plan) %></p>
      </div>
    <% end %>
  </div>
<% end %>
