<div class="previewable-edit js-comment">
  <%= render Primer::Beta::Subhead.new(hide_border: true, mb: 1) do |subhead| %>
    <% subhead.with_heading(font_size: 2) do %>
      Overview
    <% end %>
  <% end %>

  <% if business.long_description.blank? %>
    <%= render(Primer::Beta::BorderBox.new(
      classes: "edit-comment-hide"
    )) do |box| %>
      <% box.with_row(display: :flex, justify_content: :space_between, align_items: :center) do %>
        <div class="text-semibold">
          <%= render Primer::Beta::Octicon.new(icon: :book, mr: 2) %>
          README
        </div>
      <% end %>
      <% box.with_row do %>
        <%= render(Primer::Beta::Blankslate.new(
          test_selector: "readme-blankslate"
        )) do |bs| %>
          <% bs.with_visual_icon(icon: :book) %>
          <% if readme_editable? %>
            <% bs.with_heading(tag: :h2).with_content("Write something about this enterprise") %>
            <% bs.with_description { "Communicate important information about your enterprise to all enterprise members" } %>
            <% bs.with_primary_action(href: "#", classes: "js-comment-edit-button").with_content("Create README") %>
          <% else %>
            <% bs.with_heading(tag: :h2).with_content("This enterprise has no README yet") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class="edit-comment-hide" <%= test_selector "rendered-readme" %>>
      <%= render(Primer::Beta::BorderBox.new) do |box| %>
        <% box.with_row(display: :flex, justify_content: :space_between, align_items: :center) do %>
          <div class="text-semibold">
            <%= render Primer::Beta::Octicon.new(icon: :book, mr: 2) %>
            README
          </div>
          <div>
            <% if readme_editable? %>
              <%= render(Primer::Beta::Button.new(
                classes: "js-comment-edit-button",
                test_selector: "edit-readme-button"
              )) { "Edit" } %>
            <% end %>
          </div>
        <% end %>
        <% box.with_row(classes: "comment-body markdown-body") do %>
          <%= business.long_description_html %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if readme_editable? %>
    <%= form_tag(
      enterprise_long_description_path(business),
      method: :patch,
      class: "previewable-comment-form"
    ) do %>
      <div <%= test_selector "editable-readme" %>>
        <%= render(Comments::PreviewableCommentFormComponent.new(
          body: business.long_description,
          textarea_id: "long_description_input_value",
          field_name: "business[long_description]",
          placeholder: "Let everyone know what this enterprise is about, how to use it, and link to important resources.",
          allow_attachments: false,
          hide_saved_replies: true,
          hide_mentions: true,
          hide_cross_references: true,
          subject: business,
          required: false
        )) %>
      </div>
      <div class="mt-3">
        <%= render(Primer::Beta::Button.new(
          scheme: :primary,
          float: [:none, nil, :right],
          ml: 2,
          type: :submit,
          "data-disable-with": "Saving…",
          "aria-label": "Save"
        )) { "Save" } %>
        <%= render(Primer::Beta::Button.new(
          scheme: :danger,
          float: [:none, nil, :right],
          classes: "js-comment-cancel-button",
          "data-confirm-text": "Are you sure you want to discard your unsaved changes?"
        )) { "Cancel" } %>
      </div>
    <% end %>
  <% end %>
</div>
