<span <%= test_selector "shortcode-message" %>>
  <%= link_to "What is a username shortcode?", "#{GitHub.help_url}/admin/identity-and-access-management/understanding-iam-for-enterprises/about-enterprise-managed-users#getting-started-with-enterprise-managed-users" %>
  <% if already_taken? %>
    <strong>'<%= shortcode.presence %>'</strong> is already taken.
  <% elsif error_message.present? %>
    <%= error_message %>
  <% else %>
    Members of this enterprise will be created with login handles like <strong>monalisa_<%= shortcode.presence %></strong>.
  <% end %>
</span>
