<span <%= test_selector "slug-message" %>>
  <% if already_taken? %>
    <%= "#{GitHub.scheme}://#{GitHub.host_name}" %>/enterprises/<strong><%= slug.presence %></strong>
    is already taken.
  <% elsif error_message.present? %>
    <%= error_message %>
  <% else %>
    The enterprise account will be available at
    <%= "#{GitHub.scheme}://#{GitHub.host_name}" %>/enterprises/<strong><%= slug.presence %></strong>.
  <% end %>
</span>
