<section class="position-relative d-lg-flex flex-items-stretch border rounded-2 color-border-muted color-bg-subtle p-3 <%= container_class %>" aria-labelledby="tip_component_title">
  <div class="<%= class_names("d-flex flex-items-start", "col-lg-7": content_media) %>">
    <div>
      <div class="suggest-icon position-relative d-flex flex-items-center border rounded-2 color-shadow-medium" style="background: radial-gradient(circle, rgba(141, 123, 255, 1) 0%, rgba(123, 133, 255, 1) 48%, rgba(141, 123, 255, 1) 85%, rgba(141, 123, 255, 1) 98%) !important;">
        <%= svg(task.icon_path, class: "d-block width-full") %>
        <span class="suggest-icon-bubble"></span>
        <span class="suggest-icon-bubble"></span>
        <span class="suggest-icon-bubble"></span>
      </div>
    </div>

    <div class="flex-auto ml-3" id="tip_component_title">
      <%= render(Primer::Beta::Breadcrumbs.new(mb: 1)) do |component| %>
        <% component.with_item(href: enterprise_getting_started_path(business)) { "Getting started" } %>
        <% component.with_item(href: request.path, selected: true, color: :muted) { task.title } %>
      <% end %>

      <%= content %>
    </div>
  </div>
  <% if content_media %>
    <div class="d-none d-lg-flex flex-items-center col-lg-5" style="background: center / contain no-repeat url(<%= image_path "modules/dashboard/onboarding/glow-1.png" %>);">
      <% if content_media_url.nil? %>
        <img src="<%= @content_media %>" alt="Guidance" class="d-block col-6 mx-auto" loading="lazy">
      <% else %>
        <%= link_to content_media_url, target: "_blank" do %>
          <img src="<%= @content_media %>" alt="Guidance" class="d-block col-6 mx-auto" loading="lazy">
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
