<li class="d-flex border border-top-0 p-3 js-bulk-actions-item flex-row"
  data-bulk-actions-id="<%= bulk_id %>"
  <%= test_selector "business-user-list-card" %>>
  <div class="d-flex flex-items-start flex-1">
    <% if owner_actor && bulk_action_enabled && !bulk_id.blank? && bulk_attribute.present? %>
      <div <%= test_selector "bulk-actions-wrapper" %> class="table-list-cell-checkbox py-3 v-align-middle pr-3">
        <% if bulk_action_prevent_selection %>
          <input type="checkbox" disabled class="js-bulk-actions-toggle" aria-label="Member: <%= user || primary_name %>">
        <% else %>
          <input type="checkbox" name="<%= bulk_attribute %>[]" value="<%= user || primary_name %>" aria-label="Member: <%= user || primary_name %>" class="js-bulk-actions-toggle" data-check-all-item>
        <% end %>
      </div>
    <% end %>
    <div class="d-flex flex-items-center">
      <% if user %>
        <% if user_link %>
          <%= link_to user_link, class: "text-bold", data: user_link_data_options do %>
            <%= helpers.business_user_avatar(user, 48, class: "avatar mr-2") %>
          <% end %>
        <% else %>
          <%= helpers.business_user_avatar(user, 48, class: "avatar mr-2") %>
        <% end %>
      <% elsif octicon %>
        <%= primer_octicon(octicon, height: 48, width: 48, color: :muted, mr: 2) %>
      <% end %>

      <div class="d-flex flex-column">
        <div class="d-flex f4">
          <% if user_link %>
            <%= link_to user_link, class: "text-bold", id: "user-#{display_login}", data: user_link_data_options do %>
              <%= primary_name %>
            <% end %>
          <% else %>
            <span <%= test_selector "primary_text_field" %> class="text-bold"><%= primary_name %></span>
          <% end %>
          <% if secondary_name %>
            <span class="ml-1 color-fg-muted"><%= secondary_name %></span>
          <% end %>
          <% if spammy %>
            <span class="ml-2">
              <%= render "shared/under_review_label" %>
            </span>
          <% end %>
          <% if is_first_emu_owner? %>
            <span class="ml-2">
              <%= render Primer::Beta::Label.new(tag: :span, scheme: :primary, title: "Label: Setup admin") do %>
                Setup admin
              <% end %>
            </span>
          <% end %>
        </div>

        <% if subtitle %>
          <div class="color-fg-muted">
            <%= subtitle %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= content %>
</li>
