<% page_info title: "Trigger Watermark Workflow" %>
<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Trigger Watermark Workflow
    <% end %>
    <% component.with_description do %>
      This tool is to trigger a watermark workflow in billing platform.
      <br>
      <br>
      Monitor the watermark workflow via the
      <%= link_to("dashboard", "https://app.datadoghq.com/dashboard/7qx-y7j-dus?from_ts=1689590872607&to_ts=1689605272607&live=true", class: "Link--inTextBlock") %>.
    <% end %>
  <% end %>

  <%= form_tag stafftools_billing_trigger_watermark_workflows_trigger_path, :method => :get do %>
    <div class="form-group">
      <div class="form-group">
        <div class="form-group-header">
          <%= label_tag "workflow_datetime", "Select a date & time for the workflow" %>
        </div>
        <div class="form-group-body">
          <%= datetime_field_tag :workflow_datetime, DateTime.now.beginning_of_day.strftime("%Y-%m-%dT%H:%M") %>
        </div>
        <div class="form-group-header">
          <%= label_tag "workflow_customer_id", "(Optional) Customer ID" %>
        </div>
        <div class="form-group-body">
          <%= text_field_tag :workflow_customer_id %>
        </div>
      </div>
    </div>

    <%= submit_tag "Run workflow", class: "btn btn-danger" %>
  <% end %>
<% end %>
