<div class="border rounded-2 p-3 width-full" <%= test_selector("sponsors-featured-repo-#{@repo.id}") %>>
  <div>
    <%= render(Primer::Beta::Octicon.new(icon: :repo, mr: 2, text: :gray)) %>
    <%= link_to repository_path(@repo), class: "color-fg-inherit text-bold" do %>
      <%= @repo.owner_display_login %>/<%= @repo.name %>
    <% end %>
    <p class="color-fg-muted text-small my-1">
      <%= @repo.short_description_html %>
    </p>
  </div>

  <div>
    <% if @repo.primary_language %>
      <%= render(Languages::BadgeComponent.new(
        name: @repo.primary_language.name,
        text: :gray, font_size: 6, mr: 4
      )) %>
    <% end %>

    <% if @repo.stargazer_count > 0 %>
      <%= render(Primer::Beta::Link.new(
        href: gh_stargazers_path(@repo),
        muted: true,
        font_size: 6, classes: "no-wrap",
      )) do %>
        <%= render(Primer::Beta::Octicon.new(icon: "star")) %>
        <%= number_with_delimiter @repo.stargazer_count %>
      <% end %>
    <% end %>
  </div>
</div>
