<div class="p-3" <%= test_selector("cwe-hovercard") %>>
  <div class="text-small color-fg-muted mb-1">
    <%= primer_octicon(:shield, mr: 1) %>
    <span class="color-fg-muted"><%= cwe.cwe_id %></span>
  </div>

  <div class="f5 lh-condensed mb-1 text-bold">
    <%= cwe.name %>
  </div>

  <div class="f5 lh-condensed mb-2">
    <%= cwe.description %>
  </div>
  <% unless hide_link %>
    <a href="<%= cwe.mitre_link %>" class="f6 Link--muted" target="_blank" rel="noopener noreferrer">
      <%= primer_octicon(:"link-external", mr: 1) %>
      Learn more on MITRE
    </a>
  <% end %>
</div>
