<article class="Box-row d-flex" id="pa-<%= developer %>">
  <%= render(Primer::Beta::Link.new(
    color: :muted,
    href: "#pa-#{developer}",
    style: "width: 16px;",
    font_size: 6,
    text: :center,
  )) do %>
    <%= developer_counter + 1 %>
  <% end %>

  <div class="mx-3">
    <%= render(Primer::Beta::Link.new(
      href: user_path(developer),
      data: explore_click_tracking_attributes(
        click_context: :TRENDING_DEVELOPERS_PAGE,
        click_target: :OWNER,
        click_visual_representation: :TRENDING_DEVELOPER,
        actor: current_user,
        record_id: developer.id,
      ),
    )) do %>
      <%= avatar_for(developer.original_user, 48, class: "rounded") %>
    <% end %>
  </div>

  <div class="d-sm-flex flex-auto">
    <div class="col-sm-8 d-md-flex">
      <div class="col-md-6">
        <h1 class="h3 lh-condensed" <%= test_selector("dev-profile-name") %>>
          <%= render(Primer::Beta::Link.new(
            href: user_path(developer),
            data: explore_click_tracking_attributes(
              click_context: :TRENDING_DEVELOPERS_PAGE,
              click_target: :OWNER,
              click_visual_representation: :TRENDING_DEVELOPER,
              actor: current_user,
              record_id: developer.id,
            ),
          )) do %>
            <%= developer.profile_name || developer.name %>
          <% end %>
        </h1>

        <% if developer.profile_name.present? %>
          <p class="f4 text-normal mb-1" <%= test_selector("dev-login") %>>
            <%= render(Primer::Beta::Link.new(
              classes: "Link--secondary",
              href: user_path(developer),
              data: explore_click_tracking_attributes(
                click_context: :TRENDING_DEVELOPERS_PAGE,
                click_target: :OWNER,
                click_visual_representation: :TRENDING_DEVELOPER,
                actor: current_user,
                record_id: developer.id,
              ),
            )) do %>
              <%= developer.name %>
            <% end %>
          </p>
        <% end %>
      </div>

      <div class="col-md-6">
        <% if (repo = developer.most_popular_repository).present? %>
          <div class="mt-2 mb-3 my-md-0" <%= test_selector("most-popular-repo") %>>
            <%= render "trending/repo_snip", repo_snip: repo %>
          </div>
        <% else %>
          <div class="f5 color-fg-muted my-2 my-md-0">
            <%= render "users/quick_info", user: developer %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-4 d-flex flex-sm-justify-end ml-sm-3">
      <%# #async_sponsored_by_viewer? and #async_sponsorable_by? are loaded in TrendingController#preload_developer_associations %>
      <% if GitHub.sponsors_enabled? && (is_sponsoring = developer.sponsored_by_viewer?(current_user)) || developer.sponsorable_by?(current_user) %>
        <div class="mr-2">
          <%= render Sponsors::SponsorButtonComponent.new(
            sponsorable: developer.display_login,
            is_sponsoring: is_sponsoring,
            block: true,
            location: is_sponsoring ? :TRENDING_DEVELOPER_SPONSORING : :TRENDING_DEVELOPER_SPONSOR
          ) %>
        </div>
      <% end %>

      <div class="user-profile-following-container">
        <div class="user-following-container">
          <%= follow_button developer.original_user, classes: "btn btn-sm btn-block" %>
        </div>
      </div>
    </div>
  </div>
</article>
