<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 3 %>
<% if show_2fa %>
  <%= render partial: "orgs/people/user_two_factor_details", locals: {
    user_login: outside_collaborator.display_login,
    two_factor_enabled: two_factor_enabled,
    active_account_two_factor_requirement: active_account_two_factor_requirement,
    pending_account_two_factor_requirement: pending_account_two_factor_requirement,
    account_two_factor_required_by_date: account_two_factor_required_by_date,
  }%>
<% end %>

<span class="text-center color-fg-muted  py-3 f5 flex-shrink-0 pr-3">
  <a href="<%= org_person_path(this_organization, outside_collaborator) %>"
    class="Link--secondary"
    <%= test_selector "repository-count-#{outside_collaborator.id}" %>>
    <%= pluralize \
      this_organization.visible_repositories_for(outside_collaborator).count,
      "repository",
      "repositories" %>
  </a>
</span>

<div class="color-fg-muted  py-3 f5 pr-3 flex-shrink-0">
  <details class="dropdown float-right details-overlay details-reset">
    <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "Link--secondary", "aria-label": "Actions") do %>
      <%= render(Primer::Beta::Octicon.new(icon: "kebab-horizontal", "aria-label": "Collaborator settings")) %>
    <% end %>

    <details-menu class="dropdown-menu dropdown-menu-no-overflow dropdown-menu-sw"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <a href="<%= org_person_path(this_organization, outside_collaborator) %>"
          role="menuitem"
          class="dropdown-item"
          data-ga-click="Orgs, manage member, location:member list; text:Manage">
        Manage
      </a>
      <a href="<%= org_edit_invitation_path(this_organization, outside_collaborator) %>"
          class="dropdown-item"
          role="menuitem"
          data-ga-click="Orgs, invite an outside collab, location:outside collabs list; text:Invite to organization">
        Invite to organization
      </a>

      <%= render layout: "shared/details_dialog", locals: {
        details_class: "width-full",
        button_class: "dropdown-item",
        button_role: "menuitem",
        button_text: "Remove from all repositories",
        ga_click: "Orgs, remove from all repositories, location:outside collabs list; text:Remove from all repositories",
        title: "Removing 1 #{outside_collaborators_verbiage(this_organization).singularize} from #{this_organization.display_login}"
      } do %>
        <%= render partial: "orgs/people/remove_outside_collaborator_dialog", locals: {
          selected_outside_collaborators: [outside_collaborator],
          organization: this_organization,
          redirect_to_path: org_outside_collaborators_path(this_organization)
        }
        %>
      <% end %>
    </details-menu>
  </details>
</div>
