<% page_info \
  container_xl: true,
  selected_link: :security_analysis,
  title: "Edit preset rule · Dependabot rules"
%>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new(test_selector: "edit-global-rule-subtitle") do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <%= link_to page_title, settings_org_security_analysis_path %> / <%= link_to "Dependabot rules", settings_org_dependabot_rules_path %> / GitHub Preset rule
    <% end %>
  <% end %>
  <div <%= test_selector("edit-global-rule")%> style="max-width: 75%" >
    <%= primer_form_with(
      url: settings_org_update_global_dependabot_rule_path(id: rule.id),
      method: :put,
      ) do |f| %>

      <%= render Primer::Alpha::TextField.new(
        name: "Preset Rule Name",
        label: "Rule name",
        value: rule.name,
        disabled: true,
      ) %>

      <%= render Primer::Box.new(my: 4) do %>
        <%= render Primer::Alpha::FormControl.new(
          label: "State",
          full_width: true,
          test_selector: "dependabot-alert-enforcement-options-menu"
        ) do |component| %>
          <%= component.with_input do %>
            <%= render DependabotAlerts::RuleEnforcementOptionsMenuComponent.new(form: f, target: current_organization, rule: rule) %>
          <% end %>
        <% end %>
      <% end %>

      <%= render Primer::Box.new(my: 4) do %>
        <label>Target alerts</label>
        <span class="FormControl-caption d-block">
          <%= render DependabotAlerts::RuleDescriptionComponent.new(rule: rule) %>
        </span>
      <% end %>

      <%= render Primer::Beta::Button.new(
          scheme: :primary,
          type: :submit,
          display: :inline,
          mr: 2,
          "aria-label": "Save rule enforcement",
          test_selector: "rule_form_button") do %>
          Save rule
        <% end %>

      <%= render Primer::Beta::Button.new(
          tag: :a,
          href: settings_org_dependabot_rules_path,
          scheme: :secondary,
          "aria-label": "Cancel rule enforcement changes"
        ).with_content("Cancel")
      %>
    <% end %>
  </div>
<% end %>
