<% page_info \
  container_xl: true,
  title: "Dependabot rules",
  selected_link: :security_analysis
%>

<%= render layout: "orgs/settings/layout" do %>

  <%= render Primer::Beta::Subhead.new(display: :flex, justify_content: :space_between, test_selector: "show-rule-subtitle") do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= settings_org_security_analysis_path %>"><%= page_title %></a> / Dependabot rules
      <%= render Primer::Beta::Button.new(
        tag: :a,
        href: settings_org_new_dependabot_rule_path,
        title: "You can create up to 20 rules in this organization.",
        float: :right,
        data: { test_selector: "new-button"},
        scheme: :primary,
        "aria-label": "New rule"
        ) do %>
        New rule
      <% end %>
    <% end %>
  <% end %>

  <div class="Box mt-2">
    <div class="Box-header py-0 pl-0 d-flex flex-justify-between">
      <div class="ml-3 py-3 px-1">
        <label>GitHub presets</label>
      </div>
      <div class="d-flex flex-items-center">
        <label class="color-fg-muted text-normal">Managed by GitHub</label>
      </div>
    </div>
    <div <%= test_selector("github-preset-rules") %>>
      <% preset_rules.each do |rule| %>
        <div class="Box-body py-0 pl-0 d-flex">
          <div class="ml-3 py-3 px-1">
            <label class="wb-break-word">
              <%= rule.name %>
            </label>
            <br>
            <%= render DependabotAlerts::RuleDescriptionComponent.new(rule: rule) %>
          </div>
          <div class="d-flex flex-items-center ml-auto">
            <%= render DependabotAlerts::RuleStatusComponent.new(rule: rule, target: current_organization) %>
            <%= render Primer::Beta::IconButton.new(
              tag: :a,
              href: settings_org_edit_global_dependabot_rule_path(id: rule.id),
              icon: :pencil,
              scheme: :invisible,
              mr: 1,
              title: "Edit curated rule",
              "aria-label": "Edit curated rule")
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <% if custom_rules.any? %>
    <div class="Box mt-5">
      <div class="Box-header py-0 pl-0 d-flex flex-justify-between">
        <div class="ml-3 py-3 px-1">
          <label>Organization rules</label>
        </div>
        <div class="d-flex flex-items-center">
          <label class="color-fg-muted text-normal">Managed by <%= current_organization.display_login %> </label>
        </div>
      </div>
      <div <%= test_selector("custom-rules") %>>
        <% custom_rules.each do |rule| %>
          <div class="Box-body py-0 pl-0 d-flex" <%= test_selector("custom-rule-row") %> >
            <div class="ml-3 py-3 px-1">
              <label class="wb-break-word">
                <%= rule.name %>
              </label>
              <br>
              <%= render DependabotAlerts::RuleDescriptionComponent.new(rule: rule) %>
            </div>
            <div class="d-flex flex-items-center ml-auto">
              <%= render DependabotAlerts::RuleStatusComponent.new(rule: rule, target: current_organization) %>
              <%= render Primer::Beta::IconButton.new(
                tag: :a,
                href: settings_org_edit_dependabot_rule_path(id: rule.id),
                icon: :pencil,
                scheme: :invisible,
                mr: 1,
                title: "Edit custom rule",
                "aria-label": "Edit custom rule")
              %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% if custom_rules.total_pages > 1 %>
      <div class="paginate-container">
        <%= will_paginate custom_rules %>
      </div>
    <% end %>
  <% end %>

<% end %>
