<% page_info \
  container_xl: true,
  title: "New rule · Dependabot rules",
  selected_link: :security_analysis %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new(test_selector: "new-rule-subtitle") do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= settings_org_security_analysis_path %>"><%= page_title %></a> / <a href="<%= settings_org_dependabot_rules_path %>">Dependabot rules</a> / New rule
    <% end %>
  <% end %>

  <%=
    render DependabotAlerts::RuleFormComponent.new(
      view_name: "new",
      dependabot_alert_cwe_suggestions:,
      dependabot_alert_scope_suggestions:,
      dependabot_alert_severity_suggestions:,
      dependabot_alert_package_suggestions_path:,
      dependabot_alert_manifest_suggestions_path:,
      dependabot_alert_ecosystem_suggestions_path:,
      dependabot_alert_cve_id_suggestions_path:,
      dependabot_alert_ghsa_id_suggestions_path:,
      local_search_hotkey:,
      current_organization:,
      rule:,
      rule_criteria:
    )
  %>
<% end %>
