<% page_info title: "Sponsorships for @#{sponsor} · Invoiced sponsors · GitHub Sponsors", container_xl: true,
  selected_link: :invoiced_sponsors %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h1) do %>
      <a href="<%= stafftools_sponsors_invoiced_sponsors_path %>">Premium sponsors</a> /
      <a href="<%= stafftools_user_path(sponsor) %>" class="text-bold"><%= sponsor.safe_profile_name %></a>
    <% end %>
    <% component.with_actions do %>
      <%= link_to(
        "Create sponsorship",
        new_stafftools_sponsors_invoiced_sponsor_sponsorship_path(sponsor),
        class: "btn btn-sm",
      ) %>
    <% end %>
  <% end %>

  <div class="Box Box--condensed mt-4">
    <div class="Box-header d-flex flex-items-center">
      <h3 class="Box-title overflow-hidden flex-auto">
        Sponsorships
        <%= render Primer::Beta::Counter.new(vertical_align: :middle, count: sponsorships.total_entries) %>
      </h3>
    </div>
    <turbo-frame id="sponsorships-container" data-turbo-action="advance">
      <div id="sponsorships-container-pjax">
        <%= render Stafftools::Sponsors::Invoiced::SponsorshipsListComponent.new(
          sponsorships: sponsorships,
          sponsor: sponsor,
        ) %>
      </div>
    </turbo-frame>
  </div>
<% end %>
