<% if GitHub.flipper[:copilot_for_business_csv_download].enabled?(current_user) %>
  <div class="d-md-flex flex-items-center flex-justify-between mt-6 mb-4">
    <div class="d-flex flex-items-center mb-2 mb-md-0">
      <div class="flex-auto">
        <h3 class="text-normal"<%= test_selector("csv_enabled_selected_mode") %>><%= selected_mode ? "Manage access" : "Seat overview" %></h3>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="flex-1">
      <%= form_with(url: org_copilot_seat_management_all_search_path(@organization), method: :post, class: "width-full", local: true)  do |f| %>
        <auto-complete class="auto-search-group" style="width: 100%">
          <input
            type="text"
            name="query"
            style="width: 100%"
            class="form-control auto-search-input input-contrast mr-1 mb-2 js-copilot-org-search"
            placeholder="Find a team or organization member"
            <% if params[:query] %>
              value="<%= params[:query] %>"
            <% end %>
            aria-label="Find a team or organization member">
          <%= render(Primer::Beta::Octicon.new(icon: "search", style: "margin-top: -2px;")) %>
        </auto-complete>
      <% end %>
    </div>
    <%
      # if they can't create teams, we don't want to show the create team button
      if can_create_team?
    %>
      <div class="ml-6 mt-1">
        <%= render(Primer::Beta::Link.new(href: "/orgs/#{@organization}/teams", target: "_blank", mr: 3, mt: 1)) { "Create team" } %>
      </div>
    <% end %>
    <% if selected_mode %>
      <div class="ml-1">
        <%
          # we only want to show the action menu if we have teams
          if can_add_teams?
        %>
          <%= render Primer::Alpha::ActionMenu.new(menu_id: "add-menu", size: :small, anchor_align: :end, anchor_side: :outside_bottom) do |menu| %>
            <% menu.with_show_button(scheme: :primary) { |button|
              button.with_trailing_action_icon(icon: :"triangle-down")
              "Add seats"
            } %>
            <% menu.with_item(label: "Add people", classes: ["js-user-copilot-modal-open"]) do |item| %>
              <% item.with_description.with_content("Enable GitHub Copilot access for selected members of #{@organization.display_login}") %>
            <% end %>
            <% menu.with_divider %>
            <% menu.with_item(label: "Add teams", classes: ["js-team-copilot-modal-open"]) do |item| %>
              <% item.with_description.with_content("Enable GitHub Copilot access for selected teams of #{@organization.display_login}") %>
            <% end %>
          <% end %>
        <% else %>
          <%= render(Primer::Beta::Button.new(scheme: :primary, classes: ["js-user-copilot-modal-open"])) do |component| %>
            Add people
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%
      # we only want to show the export button if we have assigned seats
      if copilot_organization.has_assigned_seats?
    %>
      <div class="ml-2">
        <%= form_tag org_copilot_generate_csv_path(@organization), :method => :post do %>
          <%= render(Primer::Beta::Button.new(
            type: :submit,
            scheme: selected_mode ? :secondary : :primary,
            id: "copilot-export-button",
          )) do |component| %>
            <% component.with_leading_visual_icon(icon: :file) %>
            Get report
          <% end %>
        <% end %>
      </div>
  <%
    end %>
  </div>
<% else %>
  <div class="d-md-flex flex-items-center flex-justify-between mt-6 mb-4">
    <div class="d-flex flex-items-center mb-2 mb-md-0">
      <div class="flex-auto">
        <h3 class="text-normal"<%= test_selector("csv_disabled_selected_mode") %>><%= selected_mode ? "Manage access" : "Seat overview" %></h3>
      </div>
    </div>
    <div class="d-flex">
      <% if can_create_team? %>
        <%= render(Primer::Beta::Link.new(href: "/orgs/#{@organization}/teams", target: "_blank", mr: 3, mt: 1)) { "Create team" } %>
      <% end %>
      <% if can_add_people? %>
        <%= render(Primer::Beta::Button.new(size: :medium, mr: 2, scheme: :primary, classes: ["js-user-copilot-modal-open"])) { "Add people" } %>
      <% end %>
      <% if can_add_teams? %>
        <%= render(Primer::Beta::Button.new(size: :medium, scheme: :primary, classes: ["js-team-copilot-modal-open"])) { "Add teams" } %>
      <% end %>
    </div>
  </div>
<% end %>
