<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%= form_with(url: org_copilot_add_users_csv_path(@organization), method: :post, local: true) do |f| %>
  <%= render(Primer::Alpha::Dialog.new(
    title: "Bulk add GitHub Copilot seats via CSV",
    id: "confirm-user-csv",
    size: :large,
  )) do |d| %>
    <% d.with_body do %>
      <% if @parsed_csv && @parsed_csv[:found_errors].count > 0 && @parsed_csv[:github_users].count == 0 && @parsed_csv[:email_users].count == 0 %>
        <%= render Primer::Beta::Flash.new(scheme: :danger, mt: 3) do %>
          No valid users or email addresses found in the CSV file.
        <% end %>
      <% elsif @parsed_csv %>
        <% if @parsed_csv[:found_errors].count > 0 %>
          <%= render(Primer::Alpha::Banner.new(scheme: :danger, mb: 3)) do |component| %>
            <%= pluralize(@parsed_csv[:found_errors].count, "error") %> found in the CSV file
          <% end %>
        <% end %>
        <% if @parsed_csv[:new_users] > 0 %>
          <%= render(Primer::Alpha::Banner.new(scheme: :warning, mb: 3)) do |component| %>
            <%= pluralize(@parsed_csv[:new_users], "external user") %> will be invited to this organization and GitHub Copilot
          <% end %>
        <% end %>
        <ul class="Box Box--condensed">
          <% @parsed_csv[:email_users].each do |user| %>
            <input type="hidden" name="email_users[]" value="<%= user %>">
            <li class="Box-row p-0 d-flex flex-items-center flex-justify-end member-list-item js-bulk-actions-item" data-bulk-actions-id="1">
              <div class="py-2 pl-3 pr-0 text-center flex-shrink-0">
                <%= render(Primer::Beta::Octicon.new(:"mail", size: :small, mr: 1, ml: 1)) %>
              </div>
              <div class="py-2 css-truncate pl-3 flex-auto">
                <span class="f5 d-block">
                  <%= user %>
                  <%= render(Primer::Beta::Label.new(scheme: :warning, ml: 1)) { "External" } %>
                </span>
              </div>
            </li>
          <% end %>

          <% @parsed_csv[:github_users].each do |user| %>
            <input type="hidden" name="github_users[]" value="<%= user[:user] %>">
            <li class="Box-row p-0 d-flex flex-items-center flex-justify-end member-list-item js-bulk-actions-item" data-bulk-actions-id="1">
              <div class="py-2 pl-3 pr-0 text-center flex-shrink-0">
                <img class="avatar avatar-user" src="<%= helpers.avatar_url_for(user[:user], 50) %>" alt="<%= user[:user].display_login %>" width="24" height="24">
              </div>
              <div class="py-2 css-truncate pl-3 flex-auto">
                <span class="f5 d-block">
                  <%= user[:user].display_login %>
                  <% if user[:user].profile_name %>
                    <span class="note"><%= user[:user].profile_name %></span>
                  <% end %>
                  <% if user[:new_user] %>
                    <%= render(Primer::Beta::Label.new(scheme: :warning, ml: 1)) { "External" } %>
                  <% end %>
                </span>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
    <% d.with_footer do %>
      <% if @parsed_csv && @parsed_csv[:found_errors].count > 0 && @parsed_csv[:github_users].count == 0 && @parsed_csv[:email_users].count == 0 %>
        <%= render Primer::ButtonComponent.new(scheme: :outline, "data-close-dialog": "true", "data-close-dialog-id": "confirm-user-csv") do %>Cancel<% end %>
      <% elsif @parsed_csv %>
        <%= render Primer::ButtonComponent.new(scheme: :outline, "data-close-dialog": "true", "data-close-dialog-id": "confirm-user-csv") do %>Cancel<% end %>
        <%= render Primer::ButtonComponent.new(scheme: :primary, classes: "js-add-copilot-csv-users") do %>Add <%= @parsed_csv[:github_users].count + @parsed_csv[:email_users].count %> members<% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
