<li class="d-flex flex-items-center flex-justify-end member-list-item js-bulk-actions-item border border-top-0" data-bulk-actions-id="1">
  <div class="py-3 pr-0 pl-3 flex-shrink-0">
    <input type="checkbox" name="invites[]" value="<%= @invitation.id %>" aria-label="Member" class="js-copilot-bulk-actions-checkbox"  data-check-all-item>
  </div>
  <div class="py-3 pl-3 pr-0 text-center flex-shrink-0">
    <%= render(Primer::Beta::Octicon.new(:"mail", size: :medium, mr: 2, ml: 2)) %>
  </div>
  <div class="py-3 css-truncate pl-3 flex-auto">
    <span class="f4 d-block">
      <%= @invitation.email %>
    </span>
    <span class="color-fg-default">
      Awaiting response
    </span>
  </div>
  <div class="text-center color-fg-muted  py-3 f5 flex-shrink-0 pr-3">
    Pending invite
  </div>
  <div class="text-left color-fg-muted  py-3 pr-3 f5 flex-shrink-0 pr-3">
    <% if @assignable_seat.pending_cancellation_date %>
      Removing on <%= @assignable_seat.pending_cancellation_date.strftime("%b %d, %Y") %>
    <% else %>
      <%= form_tag delete_org_invitation_copilot_seat_management_path(@organization),
        method: :delete, style: "width: 100%" do %>
        <%= hidden_field_tag :invitation_id, @invitation.id %>
        <button class="Link--secondary btn-invisible js-team-copilot-remove-seat" type="button">
          Remove
        </button>
      <% end %>
    <% end %>
  </div>
</li>
