<div id="seat-management-table" <%= test_selector("seat-management-table") %>>
  <ul class="table-list-bordered adminable">
    <% @display_seats.each do |seat| %>
      <% if seat.assignable.class == ::User %>
        <%= render Copilot::SeatManagement::UserListItemComponent.new(seat.assignable, @organization, seat) %>
      <% elsif seat.assignable.class == ::OrganizationInvitation && seat.assignable.invitee.present? %>
        <%= render Copilot::SeatManagement::UserListItemComponent.new(seat.assignable.invitee, @organization, seat) %>
      <% elsif seat.assignable.class == ::Team %>
        <%= render Copilot::SeatManagement::TeamListItemComponent.new(seat.assignable, @organization, seat) %>
      <% elsif seat.assignable.class == ::OrganizationInvitation %>
        <%= render Copilot::SeatManagement::EmailListItemComponent.new(seat.assignable, @organization, seat) %>
      <% end %>
    <% end %>
  </ul>
  <div class="paginate-container">
    <%= will_paginate @seats.paginate(page: @page, per_page: @per_page), params: @pagination_params %>
  </div>
</div>
