<li class="d-flex flex-items-center flex-justify-end member-list-item js-bulk-actions-item border border-top-0" data-bulk-actions-id="1">
  <div class="py-3 pr-0 pl-3 flex-shrink-0">
    <input type="checkbox" name="teams[]" value="<%= @team.id %>" aria-label="Member" class="js-copilot-bulk-actions-checkbox"  data-check-all-item>
  </div>
  <div class="py-3 pl-3 pr-0 text-center flex-shrink-0">
    <a class="d-inline-block"
      data-hovercard-type="user"
      data-hovercard-url="<%= HovercardHelper.hovercard_url_for_org_and_team(@team.organization.display_login, @team.slug) %>"
      data-octo-click="hovercard-link-click"
      data-octo-dimensions="link_type:self"
      href="/orgs/<%= @organization.display_login %>/teams/<%= @team.slug %>">
      <img <%= test_selector "team-avatar" %> class="avatar rounded-2 mb-3" width="48" height="48"
        src="<%= @team.primary_avatar_url(100) %>" alt="@<%= @team.combined_slug %>">
    </a>
  </div>
  <div class="py-3 css-truncate pl-3 flex-auto">
    <a class="f4 d-block"
       id="team-<%= @team.slug %>"
       data-hovercard-type="user"
       data-hovercard-url="<%= HovercardHelper.hovercard_url_for_org_and_team(@team.organization.display_login, @team.slug) %>"
       data-octo-click="hovercard-link-click"
       data-octo-dimensions="link_type:self"
       href="/orgs/<%= @organization.display_login %>/teams/<%= @team.slug %>">
      <%= @team.name %>
    </a>
    <span class="color-fg-default">
      @<%= @team.combined_slug %> • <%= @team.members_count %> members
    </span>
  </div>
  <div class="text-center color-fg-muted  py-3 f5 flex-shrink-0 pr-3">
    <% if @last_token_activity == Time.at(0) %>
      No activity
    <% else %>
      Member last usage <relative-time datetime="<%= @last_token_activity.utc.iso8601 %>"></relative-time>
    <% end %>
  </div>
  <% if @assignable_seat.pending_cancellation_date %>
    <div class="text-left color-fg-muted  py-3 pr-3 f5 flex-shrink-0 pr-3">
      Removing on <%= @assignable_seat.pending_cancellation_date.strftime("%b %d, %Y") %>
    </div>
    <div class="text-left color-fg-muted  py-3 pr-3 f5 flex-shrink-0 pr-3">
      <%= form_tag add_org_team_copilot_seat_management_path(@organization),
        method: :put, style: "width: 100%" do %>
        <%= hidden_field_tag :team, @team.name %>
        <button class="Link--secondary btn-invisible js-team-copilot-reenable-seat" type="button">
          Undo removal
        </button>
      <% end %>
    </div>
  <% else %>
    <div class="text-left color-fg-muted  py-3 pr-3 f5 flex-shrink-0 pr-3">
      <%= form_tag delete_org_team_copilot_seat_management_path(@organization),
        method: :delete, style: "width: 100%" do %>
        <%= hidden_field_tag :team_id, @team.id %>
        <button class="Link--secondary btn-invisible js-team-copilot-remove-seat" type="button">
          Remove
        </button>
      <% end %>
    </div>
  <% end %>
</li>
