<% teams.each do |team| %>
  <li role="option" class="member-suggestion typeahead-result" data-team-id="<%= team.id %>"
    data-autocomplete-value="<%= team.name %>">
    <img <%= test_selector "team-avatar" %> class="avatar rounded-2 mb-3" width="24" height="24"
      src="<%= team.primary_avatar_url(50) %>" alt="@<%= team.combined_slug %>">
    <p class="member-suggestion-info">
      <strong class="member-login"><%= team.name %></strong>
    </p>
    <p class="already-member-note text-small">
      @<%= team.combined_slug %> • <%= team.members_count %> members
    </p>
  </li>
<% end %>

<% if teams.empty? %>
  <li role="option" class="autocomplete-item">
    No teams found.
  </li>
<% end %>
