<li class="d-flex flex-items-center flex-justify-end member-list-item js-bulk-actions-item border border-top-0" data-bulk-actions-id="1">
  <div class="py-3 pr-0 pl-3 flex-shrink-0">
    <% if @assignable_seat.assignable.class == ::OrganizationInvitation %>
      <input type="checkbox" name="invites[]" value="<%= @assignable_seat.assignable&.id %>" aria-label="Member" class="js-copilot-bulk-actions-checkbox" data-check-all-item <%= "data-removable" unless @assignable_seat.pending_cancellation_date %>>
    <% else %>
      <input type="checkbox" name="users[]" value="<%= @user.id %>" aria-label="Member" class="js-copilot-bulk-actions-checkbox" data-check-all-item <%= "data-removable" unless @assignable_seat.pending_cancellation_date %>>
    <% end %>
  </div>
  <%= render(Organizations::Settings::MemberAvatarAndProfileLinkComponent.new(user: @user, org: @organization, show_admin_stuff: true)) %>
  <div class="text-center color-fg-muted  py-3 f5 flex-shrink-0 pr-3">
    <% if @assignable_seat.assignable.class == ::OrganizationInvitation %>
      Pending invite
    <% elsif @last_token_activity == Time.at(0) %>
      No activity
    <% else %>
      Last usage <relative-time datetime="<%= @last_token_activity.utc.iso8601 %>"></relative-time>
    <% end %>
  </div>
  <% if @assignable_seat.pending_cancellation_date %>
    <div class="text-left color-fg-muted  py-3 pr-3 f5 flex-shrink-0 pr-3">
      Removing on <%= @assignable_seat.pending_cancellation_date.strftime("%b %d, %Y") %>
    </div>
    <div class="text-left color-fg-muted  py-3 pr-3 f5 flex-shrink-0 pr-3">
      <%= form_tag add_org_copilot_seat_management_path(@organization),
        method: :put, style: "width: 100%" do %>
        <%= hidden_field_tag :user, @user, id: "undo-remove-user-#{@user.id}" %>
        <button class="Link--secondary btn-invisible js-team-copilot-reenable-seat" type="button">
          Undo removal
        </button>
      <% end %>
    </div>
  <% else %>
    <div class="text-left color-fg-muted  py-3 pr-3 f5 flex-shrink-0 pr-3">
      <% if @assignable_seat.assignable.class == ::OrganizationInvitation %>
        <%= form_tag delete_org_invitation_copilot_seat_management_path(@organization),
          method: :delete, style: "width: 100%" do %>
          <%= hidden_field_tag :invitation_id, @assignable_seat.assignable&.id %>
          <button class="Link--secondary btn-invisible js-team-copilot-remove-seat" type="button">
            Remove
          </button>
        <% end %>
      <% else %>
        <%= form_tag delete_org_copilot_seat_management_path(@organization),
          method: :delete, style: "width: 100%" do %>
          <%= hidden_field_tag :user_id, @user.id, id: "remove-user-#{@user.id}" %>
          <button class="Link--secondary btn-invisible js-team-copilot-remove-seat" type="button">
            Remove
          </button>
        <% end %>
      <% end %>
    </div>
  <% end %>
</li>
