<% repositories.each do |repository| %>
  <li
    role="option"
    data-autocomplete-value="<%= repository.global_relay_id %>"
    class="autocomplete-item d-flex text-normal border-y">
    <strong><%= render(Primer::Beta::Octicon.new(icon: repository.repo_type_icon)) %></strong>
    <div class="pl-1 flex-1">
      <span class="ws-normal"><%= repository.owner_display_login %><strong>/<%= repository.name %></strong></span>
    </div>
  </li>
<% end %>
<% if repositories.empty? %>
  <% if @query.present? && Copilot::BlockedRemoteRepository.can_block?(@org, @query) %>
    <li role="option" data-autocomplete-value="<%= @query %>" class="autocomplete-item d-flex text-normal border-y">
      <strong><%= render(Primer::Beta::Octicon.new(:"link-external")) %></strong>
      <div class="pl-1 flex-1">
        <span class="ws-normal"><%= @query %></span>
      </div>
    </li>
  <% else %>
    <li role="option" class="autocomplete-item">
      No repositories found.
    </li>
  <% end %>
<% end %>
