<% page_info title: "Audit log", selected_link: :business_audit_log_stream_settings,
  stafftools: stafftools_enterprise_path(business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: business,
    check_result: check_result,
    check_is_ok: check_is_ok,
    title: "Audit log",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <%= render "businesses/audit_log/tabs", business: business %>
  <%= render Primer::Beta::Subhead.new(spacious: false) do |component| %>
    <% component.with_heading(tag: :h3, font_size: 3, font_weight: :bold, pb: 2) do %>Configure Audit log streaming to customer endpoint<% end %>
    <% component.with_description do %>Stream audit logs to cusomter HTTPS Event Collector (HEC)
      endpoint. Make sure the endpoint is configured to accept HTTPS connections.
      <a class="Link--inTextBlock" href="<link to our Docs" aria-label="Learn more about streaming to a HTTPS Event Collector">Learn more.</a>
    <% end %>
  <% end %>
  <%= render partial: "businesses/audit_log_stream/check_result", locals: { check_result: check_result } %>
  <%= form_tag form_route, method: :post,
    class: "js-encrypt-bulk-submit-enable-empty",
    "data-public-key" => public_key do %>
    <div class="gutter clearfix d-flex flex-shrink-0">
      <div class="col-8">
        <dl class="form-group">
          <dt><%= label_tag :domain, "Domain" %></dt>
          <dd><%= text_field_tag :domain, hec.domain %></dd>
        </dl>
        <dl class="form-group">
          <dt><%= label_tag :port, "Port" %></dt>
          <dd><%= text_field_tag :port, hec.port %></dd>
        </dl>
        <dl class="form-group">
          <dt><%= label_tag :secret, "Token" %></dt>
          <dd><%= password_field_tag :secret, "",  :autocomplete => 'new-password', :placeholder => token_placeholder %></dd>
        </dl>
      </div>
    </div>

    <%= hidden_field_tag :secret_encrypted_value, hec.encrypted_token %>
    <%= hidden_field_tag :public_key_id, public_key_id %>
    <%= hidden_field_tag :id, hec.id %>

    <div class="form-checkbox mt-0">
      <label for="ssl_verify">
        Enable SSL verification
      </label>
      <%= check_box_tag "ssl_verify", "on", hec.ssl_verify? %>
      <p class="note">
      SSL verification helps ensure your events are sent to your HTTPS Event Collector endpoint securely.
      </p>
    </div>

    <%= render partial: "businesses/audit_log_stream/buttons", locals: { business: business, check_is_ok: check_is_ok } %>
  <% end %>
<% end %>

