<%# `view` is an instance of RepositoryAdvisories::AutocompleteView %>

<% if view.suggestions? %>
  <% view.suggestions.each do |member| %>
    <% member_label = member.respond_to?(:display_login) ? member.display_login : member.to_s %>
    <li class="autocomplete-item" data-autocomplete-value="<%= member_label %>" role="option" title="<%= member_label %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <%= avatar_for member, 20, :class => "avatar" %>
      <%= member_label %>
      <% if member.is_a?(User) %>
        <small class="text-normal"><%= member.profile_name %></small>
      <% else %>
        <small class="text-normal"><%= member.name %></small>
      <% end %>
    </li>
  <% end %>
<% else %>
  <li class="autocomplete-item" aria-disabled="true" role="option">
    No user/team found
  </li>
<% end %>
