<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div>
  <% member_label = member.respond_to?(:display_login) ? member.display_login : member.to_s %>
  <%= content_tag(:span, { class: "js-hovercard-left", data: hovercard_data_attributes_for_user(member, tracking: false) }) do %>
    <%= profile_link member, class: "no-underline", skip_hovercard: true do %>
      <%= avatar_for member, 20, class: "avatar" %>
    <% end %>
    <%= profile_link member, class: "assignee Link--primary text-bold ml-1 f5", skip_hovercard: true do %><span
      class="css-truncate-target member-name"><%= member_label %>
    </span><% end %>
    <% if view.advisory.new_record? || (view.externally_submitted? && member.id == view.advisory.author_id) %>
      <span class="ml-1">
        <%= render(Primer::Beta::Label.new) { "Author" } %>
      </span>
    <% end %>
  <% end %>

  <% if show_removal %>
    <% if view.viewer_can_manage_collaborators? %>
      <%= form_tag remove_repository_advisory_collaborator_url,
        class: "d-inline float-right",
        "data-error-message" => "Sorry, we couldn't remove access. Please try again.",
        "data-replace-remote-form" => "",
        "data-skip-remote"   => (true if member == current_user),
        :method              => :delete do %>

        <input type="hidden" name="member" value="<%= member_label %>">
        <%= render Primer::ButtonComponent.new(
          type: :submit,
          scheme: :link,
          font_size: :small,
          color: :muted
        ) do %>
          Remove <span class="sr-only"><%= member_label %></span>
        <% end %>
      <% end %>
    <% elsif view.viewer_can_remove_collaborator?(member) %>
      <div class="float-right">
        <%= render(Primer::Experimental::Dialog.new(
          dialog_id: "remove-self-collaborator",
          title: "Leave collaboration",
          width: :large,
          form_url: remove_repository_advisory_collaborator_url,
          form_method: :delete,
        )) do |c| %>
          <% c.with_show_button(
            scheme: :link,
            title: "Remove #{member_label}",
            font_size: :small,
            color: :muted
          ) do |s| %>
            Remove <span class="sr-only"><%= member_label %></span>
          <% end %>
          <% c.with_body do %>
            You are removing yourself as a collaborator from this <%= view.advisory.label %>.<br><br>

            Once removed, you will not be able to collaborate and comment, or make changes to this <%= view.advisory.label %> and associated private forks. Only an owner of <%= view.repository.name_with_display_owner %> may add you as a collaborator again.<br><br>

            Are you sure you want to leave collaboration?
            <input type="hidden" name="member" value="<%= member_label %>">
          <% end %>
          <% c.with_button(
            data: { "close-dialog-id": "remove-self-collaborator" }
          ) { "Cancel" } %>
          <% c.with_button(
            type: :submit,
            data: { "disable-with": "Removing…" }
          ) { "Leave collaboration" } %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
