<div class="js-socket-channel js-updatable-content" data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.repository_advisory(view.advisory)) %>" data-url="<%= show_partial_repository_advisory_path(id: view.ghsa_id, partial: "repository_advisory/collaborators_and_publishers") %>">
    <div class="discussion-sidebar-item pt-0" data-team-hovercards-enabled>
      <div class="css-truncate">
        <p class="color-fg-muted pt-1 text-small">Only the following users and teams can see and collaborate on this advisory:</p>

        <%= render partial: "repos/advisories/sidebar/collaborator/owner_row", locals: { view: view } %>
        <%= render partial: "repos/advisories/sidebar/collaborator/admin_rows", locals: { view: view } %>
        <%= render partial: "repos/advisories/sidebar/collaborator/collaborator_rows", locals: { view: view } %>
      </div>
    </div>

    <div class="discussion-sidebar-item border-top-0" data-team-hovercards-enabled>
      <h2 class="h4 color-fg-default">Publishers</h2>

      <div class="css-truncate">
        <p class="color-fg-muted pt-1 text-small">Only the following users and teams can publish this advisory:</p>

        <%= render partial: "repos/advisories/sidebar/collaborator/owner_row", locals: { view: view } %>
        <%= render partial: "repos/advisories/sidebar/collaborator/admin_rows", locals: { view: view } %>
      </div>
    </div>
  </div>
