<div class="discussion-sidebar-item js-repository-advisory-details" <%= "hidden" if local_assigns[:hidden] %> <%= test_selector "advisory-cvss" %>>
  <%= render Primer::Beta::Heading.new(tag: :h3, mb: 2, font_size: 6).with_content("Severity") %>
  <% if GitHub.flipper[:advisory_db_cvss_v4].enabled? && advisory.cvss_v4 %>
    <%= render DependabotAlerts::SeverityDetailsNextComponent.new(cvss_vector: advisory.cvss_v4, severity: advisory.severity) %>
  <% else %>
    <%= render DependabotAlerts::SeverityDetailsComponent.new(cvss_vector: advisory.cvss_v3, severity: advisory.severity) %>
  <% end %>
</div>
