<div class="discussion-sidebar-item js-repository-advisory-details" <%= "hidden" if local_assigns[:hidden] %>>
  <%= render Primer::Beta::Heading.new(tag: :h3, mb: 2, font_size: 6).with_content("Weaknesses") %>
  <% if advisory.cwes.present? %>
    <div <%= "data-pjax" if local_assigns[:pjax] %>>
      <% advisory.cwes.sort_by(&:number).each do |cwe| %>
        <%= render Primer::Beta::Label.new(tag: :a, scheme: :secondary, mr: 1, font_weight: :normal, underline: false, title: nil, test_selector: "advisory-cwe", data: hovercard_data_attributes_for_cwe(id: cwe.number), href: global_advisories_path(query: "cwe:#{cwe.number}")) do %>
          <%= cwe.cwe_id %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <%= render Primer::Box.new(color: :subtle, test_selector: "no-cwe").with_content("No CWEs") %>
  <% end %>
</div>
