<%# erblint:counter DeprecatedComponentsCounter 1 %>
<h2 class="h4 color-fg-default">Collaborators</h2>

<% if view.viewer_can_manage_collaborators? %>
  <%= form_tag add_repository_advisory_collaborator_path(id: view.advisory),
    class: "js-add-repository-advisory-collaborator",
    method: :post do %>
    <div class="input-group mt-1">
      <auto-complete src="<%= autocomplete_repository_advisory_collaborator_path %>" for="repo-collab-complete-results" class="position-relative d-block">
        <input type="text" name="member" id="search-member" class="form-control js-add-repo-access-field color-fg-muted pt-1 text-small" aria-label="Add users or teams" placeholder="Add users or teams" required>
        <ul id="repo-collab-complete-results" class="autocomplete-results"></ul>
      </auto-complete>
      <span class="input-group-button">
        <%= render Primer::ButtonComponent.new(type: :submit, classes: "js-add-new-collab js-auto-complete-button") do %>
          <span class="sr-only">Add collaborator</span>
          <%= primer_octicon(:plus, mr: 0) %>
        <% end %>
      </span>
    </div>
  <% end %>
<% end %>

<%= render partial: "repos/advisories/sidebar/collaborators_and_publishers", locals: { view: view } %>
