<div class="discussion-sidebar-item">
  <%= render Primer::Beta::Heading.new(tag: :h3, mb: 2, font_size: 6).with_content("Source code") %>
  <% if view.advisory.source_code_location.present? %>
    <div <%= test_selector "advisory-source-code-location-section" %>>
      <% if view.source_code_location_is_url? %>
        <%= link_to view.source_code_location_text, view.advisory.source_code_location %>
      <% else %>
        <div class="color-fg-muted" <%= test_selector "advisory-source-code-location-plaintext" %>>
          <%= view.advisory.source_code_location %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="color-fg-muted" <%= test_selector "advisory-source-code-location-no-source" %>>
      No known source code
    </div>
  <% end %>
</div>
