<div class="form-group">
  <div class="form-group-header">
    <%= f.label :name %>
  </div>
  <div class="form-group-body">
    <%= f.text_field :name, size: 30, autofocus: true, placeholder: "Continous Integration" %>
  </div>
</div>
<div class="form-group">
  <div class="form-group-header">
    <%= f.label :body, "Description" %>
  </div>
  <div class="form-group-body">
    <%= f.text_area :body %>
  </div>
  <p class="note">The app's description supports Markdown and will be presented at the top of that app's filter page.</p>
</div>
<div class="form-group">
  <div class="form-group-header">
    <%= f.label :state %>
  </div>
  <div class="form-group-body">
    <%= f.select :state, IntegrationFeature.states.map { |key, value| [key.humanize, key] } %>
  </div>
</div>
