<li class="Box-row d-flex flex-justify-between">
  <div>
    <a href="<%= edit_devtools_integration_feature_path(integration_feature.id) %>">
      <%= integration_feature.name %>
    </a>
    <p class="text-small"><%= integration_feature.body %></p>
  </div>
  <div>
    <%= render Primer::Beta::Label.new(scheme: :info, ml: 1, title: "Label: #{integration_feature.state.titleize}") do %>
      <%= integration_feature.state.titleize %>
    <% end %>
  </div>
</li>
