<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info :title => "Edit GitHub App" %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_integration_features_path %>">GitHub Apps</a>
  / <strong>Edit GitHub App</strong>
<% end %>

<div class="Box">
  <div class="Box-header d-flex flex-items-center">
    <h3 class="Box-title flex-auto"> Edit GitHub App</h3>
  </div>

  <%= render partial: "devtools/integration_features/errors", locals: { integration_feature: integration_feature } %>

  <div class="Box-body">
    <%= form_for integration_feature, url: devtools_integration_feature_path(integration_feature), method: :patch do |f| %>
      <%= render partial: "devtools/integration_features/form_fields", locals: { f: f } %>
      <p class="form-actions">
        <%= submit_tag "Update GitHub App", :class => "btn btn-primary" %>
        <a href="<%= devtools_integration_features_path %>" class="btn">Cancel</a>
      </p>
    <% end %>
  </div>
</div>
