<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info title: "GitHub Apps" %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_integration_features_path %>">GitHub Apps</a>
<% end %>

<nav class="subnav" aria-label="Add a new integration_feature">
  <a href="<%= new_devtools_integration_feature_path %>" class="btn btn-primary float-right" role="button">
    New GitHub App
  </a>

  <p class="lead">GitHub App features are used to organize, explain, and filter listings in the GitHub Apps Directory.</p>
</nav>

<div id="integration_features">
  <div class="tabnav">
    <nav class="tabnav-tabs" aria-label="Integration Features">
      <a class="tabnav-tab" href="<%= devtools_integration_features_path(visible: true) %>" <% if visible %>aria-current="page"<% end %>>Visible Apps</a>
      <a class="tabnav-tab" href="<%= devtools_integration_features_path(visible: false) %>" <% if !visible %>aria-current="page"<% end %>>Invisible Apps</a>
    </nav>
  </div>

  <% if integration_features.present? %>
    <ul>
      <% integration_features.each do |integration_feature| %>
        <%= render partial: "devtools/integration_features/integration_feature", locals: { integration_feature: integration_feature } %>
      <% end %>
    </ul>
  <% else %>
    <div class="Box-body">
      <%= render Primer::BlankslateComponent.new(
        icon: "squirrel",
        title: "Welcome to GitHub Apps!",
        large: true,
        spacious: true,
      ) do %>
        <p class="lead">There are no apps yet, but feel free to create one!</p>
      <% end %>
    </div>
  <% end %>
</div>
