<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div>
  <button type="button" class="ml-3 d-none d-md-block btn-link color-fg-muted no-underline select-menu-button" aria-haspopup="menu" data-toggle-for="dependency-insights-ecosystem-filter">
    Ecosystem
  </button>

  <details class="details-reset details-overlay select-menu hx_rsm flex-shrink-0 position-relative" id="dependency-insights-ecosystem-filter">
    <summary tabindex="-1" aria-label="Ecosystem"></summary>
    <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 1000;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-header">
        <span class="select-menu-title">Filter by ecosystem</span>
        <%= render Primer::Beta::CloseButton.new(classes: "hx_rsm-close-button btn-link", "data-toggle-for": "dependency-insights-ecosystem-filter", "aria-label": "Close menu") %>
      </div>
      <div class="select-menu-list">
        <% selected = !view.contains_qualifier?(:ecosystem) %>
        <% ecosystem_query = view.build_query(qualifier: :ecosystem, remove: selected) %>

        <a href="<%= view.build_path(query: ecosystem_query) %>" aria-checked="<%= selected %>" class="select-menu-item" role="menuitemradio">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <span class="select-menu-item-text text-bold">All ecosystems</span>
        </a>

        <% ecosystems.each do |ecosystem| %>
          <% selected = view.contains_qualifier?(:ecosystem, ecosystem.downcase) %>
          <% ecosystem_query = view.build_query(qualifier: :ecosystem, value: ecosystem.downcase, remove: selected, replace: true) %>

          <a href="<%= view.build_path(query: ecosystem_query) %>" aria-checked="<%= selected %>" class="select-menu-item d-flex flex-items-center" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <span class="circle p-1 mx-2" style="background-color: <%= ecosystem_color(ecosystem) %>;"></span>
            <div class="select-menu-item-text"><%= ecosystem_label(ecosystem) %></div>
          </a>
        <% end %>
      </div>
    </details-menu>
  </details>
</div>
