<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div>
  <button type="button" class="ml-3 d-none d-md-block btn-link color-fg-muted no-underline select-menu-button" aria-haspopup="menu" data-toggle-for="dependency-insights-sort-filter">
    Sort
  </button>

  <details class="details-reset details-overlay select-menu hx_rsm flex-shrink-0 position-relative" id="dependency-insights-sort-filter">
    <summary tabindex="-1" aria-label="Sort"></summary>
    <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 1000;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-header">
        <span class="select-menu-title">Sort by</span>
        <%= render Primer::Beta::CloseButton.new(classes: "hx_rsm-close-button btn-link", "data-toggle-for": "dependency-insights-sort-filter", "aria-label": "Close menu") %>
      </div>
      <div class="select-menu-list">
        <% view.queries_for_sort_dropdown.each do |query_config| %>
          <% selected = view.contains_qualifier?(:sort) ? view.contains_qualifier?(:sort, query_config[:query]) : !!query_config[:default] %>
          <% query = view.build_query(qualifier: :sort, value: query_config[:query], remove: selected, replace: true) %>

          <a href="<%= view.build_path(query: query) %>" aria-checked="<%= selected %>" class="select-menu-item" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text"><%= query_config[:label] %></div>
          </a>
        <% end %>
      </div>
    </details-menu>
  </details>
</div>
