<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%
  user_can_convert_issues = can_viewer_convert_current_repos_issues_to_discussions?
%>

<div class="Box-row Box-row--focus-gray Details p-3 m-0 d-flex flex-justify-between flex-items-center flex-wrap js-navigation-item js-labels-list-item js-label-preview-container">
  <% show_description = label.description.present? %>
  <div class="col-md-3 col-9">
    <%= render Issues::LabelComponent.new(
        color: label.color,
        name: label.name,
        href: gh_label_path(label, current_repository),
        variant: :big,
        display: :inline_block,
        vertical_align: :top,
        classes: "lh-condensed js-label-link") do |component| %>
      <span <%= test_selector("label-name") %> ><%= label.name_html %></span>
    <% end %>

    <% if label.persisted? %>
      <div class="d-none js-label-preview" data-url-template="/<%= current_repository.name_with_display_owner %>/labels/preview/" data-default-name="Label preview">
        <%= render partial: "labels/preview", locals: { label: label.dup } %>
      </div>
    <% end %>
  </div>

  <div class="d-md-block d-none col-4 f6 color-fg-muted pr-3 js-hide-on-label-edit">
    <% if show_description %>
      <span <%= test_selector("label-detail") %> ><%= label.description %></span>
    <% end %>
  </div>

  <div <%= test_selector("label-detail") %> class="col-2 f6 color-fg-muted pr-3 d-md-block d-none js-hide-on-label-edit">
    <% if label.issues_count > 0 %>
      <a href="<%= issues_path(current_repository.owner, current_repository, q: "label:\"#{label.name}\" is:open") %>" class="Link--secondary text-bold" title="<%= label_issue_count_summary(label) %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
        <%= primer_octicon(:"issue-opened", mr: 1) %><%= number_with_delimiter(label.issues_count) %>
      </a>
    <% end %>
  </div>

  <% show_issue_convert_button = (user_can_convert_issues && label.issues_without_pull_requests_count > 0) %>
  <% if (current_user_can_push? || show_issue_convert_button) && current_repository_writable? %>
    <div class="col-3 f6 d-flex flex-justify-end">
      <div class="BtnGroup d-block d-lg-none">
        <details class="dropdown details-reset details-overlay BtnGroup-item">
          <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, "aria-haspopup": "true") do %>
            <%= render(Primer::Beta::Octicon.new(icon: "kebab-horizontal")) %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-sw js-hide-on-label-edit">
            <% if show_issue_convert_button %>
              <li>
                <summary aria-haspopup="dialog" data-show-dialog-id="<%= "convert-issues-to-discussions-menu-#{label.id}" %>" class="dropdown-item js-hide-on-label-edit">
                  Convert to discussions
                </summary>
                <%= render Issues::Labels::ConvertToDiscussionDialogComponent.new(
                  dialog_id: "convert-issues-to-discussions-menu-#{label.id}",
                  show_button: false,
                  repo: current_repository,
                  label: label,
                  button_classes: "dropdown-item js-hide-on-label-edit",
                  issues_count:  label.issues_count
                ) %>
              </li>
          <% end %>
            <% if current_user_can_push? %>
              <li>
                <%= render Primer::ButtonComponent.new(
                  scheme: :link,
                  classes: "dropdown-item js-edit-label js-hide-on-label-edit",
                  data: {test_selector: "edit_label"}
                ) do %>
                  Edit
                <% end %>
              </li>
              <li>
                <%= form_tag label_path(current_repository.owner, current_repository, label.id), :method => "delete" do %>
                  <%= render Primer::ButtonComponent.new(
                    type: :submit,
                    scheme: :link,
                    classes: "dropdown-item",
                    data: {confirm: "Are you sure? Deleting a label will remove it from all issues and pull requests.", test_selector: "delete_label"}
                  ) do %>
                    Delete
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </details>
      </div>

      <div class="BtnGroup d-lg-flex d-none gap-1">
        <% if show_issue_convert_button %>
          <%= render Issues::Labels::ConvertToDiscussionDialogComponent.new(
            repo: current_repository,
            label: label,
            button_classes: "js-hide-on-label-edit",
            issues_count:  label.issues_count
          ) %>
        <% end %>

        <% if current_user_can_push? %>
          <%= render(Primer::Beta::Button.new(scheme: :default, size: :small, test_selector: "edit_label", classes: "js-edit-label js-hide-on-label-edit")) { "Edit" } %>
          <%= form_tag label_path(current_repository.owner, current_repository, label.id), :method => "delete", :class => "d-inline js-delete-label js-hide-on-label-edit BtnGroup-item" do %>
            <%= render(Primer::Beta::Button.new(scheme: :danger, size: :small, test_selector: "delete_label",
                type: :submit, "data-confirm": "Are you sure? Deleting a label will remove it from all issues and pull requests.")) { "Delete" } %>
          <% end %>
        <% end %>
      </div>

      <% if current_user_can_push? %>
        <%= form_tag label_path(current_repository.owner, current_repository, label.id), :method => "delete", :class => "d-lg-inline d-none js-delete-label js-hide-on-label-edit", hidden: true do %>
          <%= render(Primer::Beta::Button.new(scheme: :danger, size: :small, test_selector: "delete_label", type: :submit,
              "data-confirm": "Are you sure? Deleting a label will remove it from all issues and pull requests.")) { "Delete" } %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if current_user_can_push? && current_repository_writable? %>
    <%= form_for label, url: "/#{current_repository.name_with_display_owner}/labels/#{label.id}", method: :put, html: { class: "label-edit d-none js-update-label js-label-form width-full", "data-label-id": label.id } do |f| %>
      <%= render :partial => "labels/label_form", :locals => { :f => f, :label => label } %>
    <% end %>
  <% end %>
</div>
