<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<% if label.new_record? %>
  <div class="form-group mt-0 mb-2 js-label-preview" data-url-template="/<%= current_repository.name_with_display_owner %>/labels/preview/" data-default-name="Label preview">
    <%= render partial: "labels/preview", locals: { label: label.dup } %>
  </div>
<% end %>

  <div class="clearfix d-flex flex-md-row flex-column flex-md-items-end flex-items-start mb-n2 <%= "mt-2" if label.persisted? %>">

    <!--new label name-->
    <% name_chars_remaining = Labelable::NAME_MAX_LENGTH - (label.name || "").length %>
    <dl class="form-group col-md-3 col-12 pr-md-3 pr-0 my-2 my-md-3 js-characters-remaining-container js-label-error-container">
      <dt class="<%= "mb-0" if label.persisted? %> d-flex flex-justify-between flex-items-center">
        <label for="label-name-<%= label.id %>" class="f5">Label name</label>
        <span class="text-small d-none label-characters-remaining js-characters-remaining" data-suffix="remaining">
          <%= name_chars_remaining %> remaining
        </span>
      </dt>
      <dd class="position-relative">
        <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path(use_colon_emoji: true) %>">
          <%# We want to ban the names `.` and `..` as these break the labels preview, we ban these through the pattern attribute %>
          <input
            type="text"
            data-maxlength="<%= Labelable::NAME_MAX_LENGTH %>"
            autocomplete="off"
            required
            pattern="^(?!(\.|\.\.)$).*$"
            id="label-name-<%= label.id %>"
            name="label[name]"
            class="js-new-label-name-input js-characters-remaining-field form-control width-full"
            placeholder="Label name"
            value="<%= label.name %>"
            aria-describedby="label-<%= label.id %>-name-error">
        </text-expander>
      </dd>
      <dd class="error js-label-name-error" hidden id="label-<%= label.id %>-name-error"></dd>
    </dl><!--END new label name-->

    <!--new label description-->
    <% desc_chars_remaining = Labelable::DESCRIPTION_MAX_LENGTH - (label.description || "").length %>
    <dl class="form-group my-2 my-md-3 col-lg-4 col-md-3 col-12 pr-md-3 pr-0 js-characters-remaining-container js-label-error-container flex-auto">
      <dt class="d-flex flex-justify-between flex-items-center <%= "mb-0" if label.persisted? %>">
        <label for="label-description-<%= label.id %>" class="f5">Description</label>
        <span class="text-small label-characters-remaining d-none js-characters-remaining" data-suffix="remaining">
          <%= desc_chars_remaining %> remaining
        </span>
      </dt>
      <dd>
        <input type="text" id="label-description-<%= label.id %>" name="label[description]" class="form-control width-full js-characters-remaining-field js-new-label-description-input" placeholder="Description (optional)" value="<%= label.description %>" aria-describedby="label-<%= label.id %>-description-error" maxlength="<%= Labelable::DESCRIPTION_MAX_LENGTH %>">
      </dd>
      <dd class="error js-label-description-error" hidden id="label-<%= label.id %>-description-error"></dd>
    </dl><!--END new label description-->

    <!--new label color-->
    <dl class="form-group my-2 my-md-3 col-md-2 col-12 js-label-error-container">
      <dt<% if label.persisted? %> class="mb-0"<% end %>>
        <label for="label-color-<%= label.id %>" class="f5">Color</label>
      </dt>
      <dd class="d-flex">
        <% new_label_color_id = label.persisted? ? "new-label-color-#{label.id}" :  "new-label-color" %>
        <%= render Issues::LabelComponent.new(
            id: new_label_color_id,
            color: label.color,
            tag: :button,
            type: "button",
            mr: 2,
            border_radius: 2,
            classes: "flex-shrink-0 btn-link js-new-label-color") do |component| %>
          <%= render Primer::Beta::Octicon.new(icon: :sync) %>
        <% end %>
        <%= render Primer::Alpha::Tooltip.new(for_id: new_label_color_id, type: :label, text: "Get a new color") %>

        <div class="position-relative flex-1">
          <input required aria-describedby="label-<%= label.id %>-color-error" value="#<%= label.color %>" type="text" name="label[color]" id="label-color-<%= label.id %>" class="form-control input-monospace pb-1 mr-0 js-new-label-color-input width-full" maxlength="7" autocomplete="off" spellcheck="off" pattern="#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})" title="Hex colors should only contain numbers and letters from a-f"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
          <div hidden class="js-new-label-swatches Popover" style="position: absolute; width: 270px; top: 25px !important;">
            <div class="Popover-message Popover-message--top-left p-2 mt-2 Box color-shadow-large">
              <p class="f6 color-fg-muted mb-1">Choose from default colors:</p>
              <div class="d-flex flex-justify-between mb-2">
                <% Label::DARK_COLORS.each do |color| %>
                  <button type="button" aria-label="Color #<%= color %>" class="js-new-label-color-swatch new-label-color-dimensions btn-link rounded-2" style="background-color: #<%= color %> !important;" data-color="#<%= color %>"></button>
                <% end %>
              </div>
              <div class="d-flex flex-justify-between">
                <% Label::LIGHT_COLORS.each do |color| %>
                  <button type="button" aria-label="Color #<%= color %>" class="js-new-label-color-swatch new-label-color-dimensions btn-link rounded-2" style="background-color: #<%= color %> !important;" data-color="#<%= color %>"></button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </dd>
      <dd class="error js-label-color-error" hidden id="label-<%= label.id %>-color-error"></dd>
    </dl><!--END new label color-->

    <!--new label actions-->
    <div class="form-group my-2 my-md-3 ml-md-5 ml-0 col-lg-3 col-md-4 col-12 d-flex flex-md-justify-end flex-justify-start">
      <% if label.new_record? %>
        <%= render Primer::ButtonComponent.new(mr: [0, nil, 2], classes: "js-details-target js-edit-label-cancel flex-md-order-1 flex-order-2", "aria-expanded": "true") do %>Cancel<% end %>
        <%= render Primer::ButtonComponent.new("data-disable-invalid": "", scheme: :primary, mr: [2, nil, 0], classes: "flex-order-1 flex-md-order-2", "data-disable-with": "Saving...", type: :submit) do %>Create label<% end %>
      <% else %>
        <%= render Primer::ButtonComponent.new(mr: [0, nil, 2], classes: "js-edit-label-cancel flex-md-order-1 flex-order-2") do %>Cancel<% end %>
        <%= render Primer::ButtonComponent.new("data-disable-invalid": "", scheme: :primary, mr: [2, nil, 0], classes: "flex-order-1 flex-md-order-2", "data-disable-with": "Saving...", type: :submit) do %>Save changes<% end %>
      <% end %>
    </div>
    <!--END new label actions-->

</div>
