<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="subnav <% if responsive? %>d-flex flex-md-row flex-column<% end %>" data-pjax>
  <% if responsive? %>
    <div class="d-flex">
      <%= render partial: "issues/navigation" %>
      <% if current_user_can_push? && current_repository_writable? %>
        <div class="position-relative d-md-none d-inline-block" style="margin-left: auto;">
          <%= render Primer::ButtonComponent.new(scheme: :primary, classes: "js-details-target js-details-target-new-label", "aria-expanded": "false") do %>New label<% end %>
        </div>
      <% end %>
    </div>

    <div class="pl-md-2 pl-0 pr-md-4 pr-0 mt-md-0 mt-3" role="search">
      <%= form_tag labels_path, :method => :get, :class => "ml-0 subnav-search float-left position-relative", :"data-pjax" => true, role: "search", "aria-label": "Labels" do %>
        <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path(use_colon_emoji: true) %>">
          <%= text_field_tag :q, search_input_value_for(query),
            id: "js-issues-search",
            class: "form-control subnav-search-input input-contrast col-md-6 col-12",
            placeholder: "Search all labels",
            autocomplete: "off",
            "aria-label": "Search all labels",
            "data-hotkey": global_search_hotkey %>
        </text-expander>
        <%= primer_octicon(:search, classes: "subnav-search-icon") %>
      <% end %>
    </div>

    <% if current_user_can_push? && current_repository_writable? %>
      <div class="position-relative d-md-block d-none" style="margin-left: auto;">
        <%= render Primer::ButtonComponent.new(scheme: :primary, classes: "js-details-target js-details-target-new-label", "aria-expanded": "false") do %>New label<% end %>
      </div>
    <% end %>
  <% else %>
    <% if current_user_can_push? && current_repository_writable? %>
      <div class="position-relative float-right">
        <%= render Primer::ButtonComponent.new(scheme: :primary, classes: "js-details-target js-details-target-new-label", "aria-expanded": "false") do %>New label<% end %>
      </div>
    <% end %>

    <%= render partial: "issues/navigation" %>

    <div class="float-left pl-2" role="search">
      <%= form_tag labels_path, :method => :get, :class => "ml-0 subnav-search float-left position-relative", :"data-pjax" => true, role: "search", "aria-label": "Labels" do %>
        <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path(use_colon_emoji: true) %>">
          <%= text_field_tag :q, search_input_value_for(query),
            id: "js-issues-search",
            class: "form-control subnav-search-input input-contrast",
            placeholder: "Search all labels",
            autocomplete: "off",
            "aria-label": "Search all labels",
            "data-hotkey": global_search_hotkey %>
        </text-expander>
        <%= primer_octicon(:search, classes: "subnav-search-icon") %>
      <% end %>
    </div>
  <% end %>
</div>

<% if query.present? %>
  <div class="issues-reset-query-wrapper">
    <a href="<%= labels_path %>" class="issues-reset-query">
      <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
      Clear current search
    </a>
  </div>
<% end %>
