<%# rubocop:disable Lint/InstanceVariable %>
<%
  page_info \
    title: "Labels · #{current_repository ? current_repository.name_with_display_owner : 'GitHub'}",
    container_xl: true,
    selected_link: :repo_issues
%>

<%= render layout: "issues/issues" do %>
  <div class="labels-list js-details-container Details <%= 'is-empty' if @labels.empty? %>" data-hpc>
    <%= render partial: "labels/search_bar", locals: { query: query } %>

    <% if current_user_can_push? && current_repository_writable? %>
      <%= form_for @label, html: { class: "p-3 mb-3 color-bg-subtle border color-border-default rounded-2 Details-content--hidden js-create-label js-label-form js-label-preview-container" } do |f| %>
        <input type="hidden" name="context" value="labels list">
        <%= render :partial => "labels/label_form", locals: { f: f, label: @label } %>
      <% end %>
    <% end %>

    <% if query.present? %>
      <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
        <% c.with_visual_icon(icon: "tag") %>

        <% c.with_heading(tag: :h2) do %>
          No matching labels
        <% end %>

        <% c.with_description do %>
          No labels in this repository match your query.
        <% end %>
      <% end %>
    <% else %>
      <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
        <% c.with_visual_icon(icon: "tag") %>

        <% c.with_heading(tag: :h2) do %>
          No labels!
        <% end %>

        <% c.with_description do %>
          <%= "There aren’t any labels for this repository quite yet.#{' Click on the "New Label" button above to create one.' if current_user_can_push?}" %>
        <% end %>
      <% end %>
    <% end %>
    <div class="Box">
      <div class="Box-header d-flex flex-justify-between">

            <h3 class="Box-title f5">
              <%= content_tag(:span, @labels.total_entries, :class => "js-labels-count") %>
              <%= content_tag(:span, "label".pluralize(@labels.total_entries),
                              :class => "js-labels-label",
                              "data-singular-string" => "label",
                              "data-plural-string" => "labels") %>
            </h3>

          <% if query.blank? %>
            <%= render partial: "labels/sort_menu" %>
          <% end %>

      </div>

      <div aria-label="Labels" role="group">
        <div class="js-label-list">
          <% @labels.each do |label| %>
            <%= render :partial => "labels/label", :object => label %>
          <% end %>
        </div>
      </div>
    </div>

    <% if @labels.total_pages > 1 %>
      <div class="paginate-container">
        <%= will_paginate @labels, "data-pjax" => true %>
      </div>
    <% end %>
  </div>
<% end %>
