<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 8 %>
<% devtools_feature_flags_disabled = !GitHub.flipper[:devtools_feature_flags_disabled_exclusion].enabled?(current_user) %>
<% if devtools_feature_flags_disabled %>
  <%= render Primer::Beta::Flash.new(scheme: :default, display: :flex, mb: 3) do |component| %>
    <%= primer_octicon(:"light-bulb", mr: 2, mt: 1) %>
    <div>
      <p>The feature flag UI as part of devtools has been deprecated, please use the <a class="Link--inTextBlock" href="https://devportal.githubapp.com/feature-flags" target="_blank" rel="noopener noreferrer">devportal</a> instead.</p>
      <p>For more information about this change, see this <a class="Link--inTextBlock" href="https://gh.io/devtools-migration" target="_blank" rel="noopener noreferrer">engineering discussion</a>.</p>
    </div>
  <% end %>
<% end %>

<div class="d-flex flex-wrap">
  <% if !devtools_feature_flags_disabled %>
    <div class="col-6 p-2">
      <div class="d-flex border color-border-inverse rounded-3 p-3">
        <%= primer_octicon(:squirrel, height: 32) %>
        <div class="ml-3">
          <h3><a href="<%= devtools_feature_flags_path %>">Feature Flags</a></h3>
          <p>Manage features flags and dark ships</p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-6 p-2">
    <div class="d-flex border color-border-inverse rounded-3 p-3">
      <%= primer_octicon(:beaker, height: 32) %>
      <div class="ml-3">
        <h3><a href="<%= devtools_toggleable_features_path %>">Feature Previews</a></h3>
         <p>Manage user toggleable features found in the feature preview menu.</p>
      </div>
    </div>
  </div>

  <div class="col-6 p-2">
    <div class="d-flex border color-border-inverse rounded-3 p-3">
      <%= primer_octicon(:beaker, height: 32) %>
      <div class="ml-3">
        <h3><a href="<%= devtools_experiments_path %>">Scientist Code Experiments</a></h3>
        <p>Results and analysis for experiments using the <a class="Link--inTextBlock" href="https://github.com/github/scientist">Scientist</a> library.</p>
      </div>
    </div>
  </div>

  <div class="col-6 p-2">
    <div class="d-flex border color-border-inverse rounded-3 p-3">
      <%= primer_octicon(:globe, height: 32) %>
      <div class="ml-3">
        <h3><%= link_to "Surveys", devtools_surveys_path %></h3>
        <p>♪ Would you like to take a survey? ♫</p>
      </div>
    </div>
  </div>

  <% if GitHub.spamminess_check_enabled? %>
    <div class="col-6 p-2">
      <div class="d-flex border color-border-inverse rounded-3 p-3">
        <%= primer_octicon(:flame, height: 32) %>
        <div class="ml-3">
          <h3><%= link_to "Spamurai Central", devtools_spamurai_path %></h3>
          <p>Tools for fighting Spam.</p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-6 p-2">
    <div class="d-flex border color-border-inverse rounded-3 p-3">
      <%= primer_octicon(:plug, height: 32) %>
      <div class="ml-3">
        <h3><a href="<%= devtools_integration_features_path %>">GitHub Apps Directory</a></h3>
        <p>Manage GitHub Apps directory features</p>
      </div>
    </div>
  </div>

  <div class="col-6 p-2">
    <div class="d-flex border color-border-inverse rounded-3 p-3">
      <%= primer_octicon(:columns, height: 32) %>
      <div class="ml-3">
        <h3><a href="<%= devtools_stream_processors_path %>">Stream Processor Pausing</a></h3>
        <p>Pause Hydro stream processors</p>
      </div>
    </div>
  </div>

  <% if current_user.feature_enabled?(:devtools_datadog_metric_generator) %>
    <div class="col-6 p-2">
      <div class="d-flex border color-border-inverse rounded-3 p-3">
        <%= primer_octicon(:pulse, height: 32) %>
        <div class="ml-3">
          <h3><a href="<%= devtools_datadog_metric_path %>">Datadog Metric Generator</a></h3>
          <p>Send metrics to datadog to verify logic during development</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
