<div class="color-bg-subtle py-8 py-md-9 overflow-hidden">
  <div class="container-xl p-responsive">
    <h2 class="h3-mktg lh-condensed-mktg font-alt-mktg" style="font-weight:400 !important">
      Meet the hosts
    </h2>

    <div class="d-md-flex flex-wrap gutter-md-spacious">
      <% @hosts.each do |host| %>
        <div class="col-md-6 mt-8 mt-md-9">
          <%= link_to(host[:host_click_through], class: "d-block readme-link") do %>
            <figure class="readme-link__figure">
              <%= render Site::ContentfulImageComponent.new(src: host[:host_photo][:url], width: 2000, height: 1200, classes: "d-block height-auto width-full readme-link__img", lazy: true, alt: "Photo of #{fullname(host)}", sizes: "(max-width: 755px) 90vw, 45vw)") %>
            </figure>
          <% end %>

          <h3 class="readme-heading-3 mt-6 mb-3">
            <%= link_to(host[:host_click_through], class: "no-underline readme-underline--green") do %>
              <span><%= fullname(host) %></span>
            <% end %>
          </h3>

          <p class="f3-mktg">
            <%= GitHub::Goomba::MarkdownPipeline.to_html(host[:host_bio]) %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
