<div class="d-flex flex-items-center pb-3 mb-3 border-bottom color-border-muted">
  <%= render(GitHub::AvatarComponent.new(actor: selected_account, size: 48, mr: 3)) %>
  <div class="flex-auto">
    <h1 class="h3 lh-condensed">
      <a
        href="<%= settings_account_path(selected_account) %>"
        class="color-fg-default"
        <%= test_selector("account-switcher-selected") %>
      >
        <%= selected_account.display_login %>
      </a>
      <span class="sr-only">Sponsors invoiced billing settings</span>
    </h1>
    <div class="d-flex flex-items-center flex-wrap">
      <p class="color-fg-muted mb-0 mr-3"><%= settings_account_label(selected_account) %></p>

      <% if show_dropdown? %>
        <details class="dropdown details-overlay details-reset" <%= test_selector("account-switcher-dropdown")%>>
          <summary class="f6 color-fg-accent" aria-haspopup="true">
            <%= primer_octicon(:"arrow-switch", mr: 1) %> Switch to another account
            <div class="dropdown-caret"></div>
          </summary>

          <details-menu
            class="<%= class_names("SelectMenu", "SelectMenu--hasFilter" => include_filter?) %>"
            aria-labelledby="account-switcher-title-<%= selected_account %>"
          ><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>

            <div class="SelectMenu-modal">
              <header class="SelectMenu-header d-none">
                <span class="SelectMenu-title" id="account-switcher-title-<%= selected_account %>">
                  Switch to another account
                </span>
              </header>

              <fuzzy-list class="d-flex flex-column flex-1" style="min-height: 0"  min-score="-1">
                <% if include_filter? %>
                  <div class="SelectMenu-filter" <%= test_selector("account-switcher-filter")%>>
                    <input
                      type="text"
                      id="account-switcher-title-filter-field-<%= selected_account %>"
                      class="SelectMenu-input form-control"
                      placeholder="Filter accounts"
                      aria-label="Choose an account"
                      autofocus
                    >
                  </div>
                <% end %>

                <ul role="menu" class="SelectMenu-list SelectMenu-list--borderless">
                  <% available_organizations.each do |organization| %>
                    <li role="presentation" <%= test_selector("account-switcher-option") %>>
                      <a
                        role="menuitem"
                        class="SelectMenu-item d-flex flex-items-center"
                        href="<%= org_sponsoring_billing_options_path(organization)  %>"
                      >
                        <div><%= render(GitHub::AvatarComponent.new(actor: organization, mr: 2)) %></div>
                        <span class="css-truncate css-truncate-overflow">
                          <%= organization.display_login %>
                        </span>
                      </a>
                    </li>
                  <% end %>
                </ul>
              </fuzzy-list>
            </div>
          </details-menu>
        </details>
      <% end %>
    </div>
  </div>
</div>
