<div class="d-block d-md-flex">
  <%= render Primer::Beta::BorderBox.new(
    display: :flex,
    flex: 1,
    direction: :column,
    mr: [0, nil, 2, nil, nil],
  ) do |box| %>
    <% box.with_body(display: :flex, direction: :column, flex: 1, pb: 0) do %>
      <div class="mb-3">
        <h3>Credit card billing</h3>
        <div class="d-flex flex-auto flex-items-center">
          <span class="text-bold f3">$0</span>
          <span class="text-small ml-1">minimum</span>
        </div>
      </div>

      <div class="d-flex flex-1 flex-column border-y">
        <ul class="list-style-none py-3">
          <li class="mb-2">Paid via the credit card on your account</li>
          <li class="mb-2">Up to <%= Sponsorship::PERCENT_TRANSACTION_FEE %>% in credit card fees</li>
          <li>Up to <%= Sponsorship::PERCENT_SERVICE_FEE %>% in service fees</li>
        </ul>
      </div>

      <div class="d-flex flex-items-center" style="height:52px">
        <% if credit_card? %>
          <%= render(Primer::Beta::Label.new(
            test_selector: "credit-card-current",
          )) { "Current" } %>
        <% else %>
          <div class="color-fg-muted">
            <% if github_invoiced? %>
              <div <%= test_selector("credit-card-unavailable") %>>
                Not available for invoiced GitHub accounts.
              </div>
            <% else %>
              <div <%= test_selector("credit-card-switch") %>>
                <a href="<%= contact_path %>" class="Link--inTextBlock">Contact support</a> to switch to credit card billing.
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= render Primer::Beta::BorderBox.new(
    display: :flex,
    flex: 1,
    direction: :column,
    ml: [0, nil, 2, nil, nil],
    mt: [3, nil, 0, nil, nil],
  ) do |box| %>
    <% box.with_body(display: :flex, direction: :column, flex: 1, pb: 0) do %>
      <div class="mb-3">
        <h3>Invoiced billing</h3>
        <div class="d-flex flex-auto flex-items-center">
          <span class="text-bold f3">
            <%= Billing::Money.new(Customer::SponsorsDependency::MINIMUM_INVOICE_AMOUNT_IN_CENTS).format(
              no_cents_if_whole: true,
          ) %>
          </span>
          <span class="text-small ml-1">minimum per invoice</span>
        </div>
      </div>

      <div class="d-flex flex-1 flex-column border-y">
        <ul class="list-style-none py-3">
          <li class="mb-2">Create invoices to fill your Sponsors balance</li>
          <li class="mb-2">Sponsorships are paid out from your balance</li>
          <li class="text-bold mb-2">No credit card fees</li>
          <li>Up to <%= Sponsorship::PERCENT_SERVICE_FEE %>% in service fees</li>
        </ul>
      </div>

      <div class="d-flex flex-items-center" style="height:52px">
        <% if sponsors_invoiced? %>
          <%= render(Primer::Beta::Label.new(
            test_selector: "invoiced-current",
          )) { "Current" } %>
        <% else %>
          <%= render Primer::Beta::Button.new(
            tag: :a,
            href: new_org_sponsoring_invoiced_billing_account_path(organization),
            scheme: :primary,
            size: :small,
            test_selector: "invoiced-switch",
          ) do %>
            Switch to invoiced billing
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
