<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="mb-4 Details js-repos-container <%= "mt-5" unless user_can_switch_contexts? %>" <%= test_selector("dashboard-favorite-repos") %> data-repository-hovercards-enabled role="navigation" aria-label="Your Favorite Repositories">
  <%= render Primer::Beta::Button.new(
    tag: :a,
    w: :full,
    text_align: :center,
    mb: 4,
    href: new_repository_path
  ) do |c| %>
    <% c.with_leading_visual_icon(icon: :plus) %>
    Create repository
  <% end %>
  <div class="d-flex flex-justify-between flex-items-center">
    <h2 class="hide-sm hide-md f5">
      Favorites
    </h2>
    <%= render Dashboard::Sidebar::FavoritesDialogComponent.new %>
    <% if any_pinned_items %>
      <div className="position-relative">
        <%= render Primer::Beta::Button.new(
          position: :relative,
          display: :flex,
          align_self: :end,
          scheme: :invisible,
          size: :small,
          id: "dialog-show-edit-dashboard-favorites",
          data: {
            "show-dialog-id": "edit-dashboard-favorites",
            target: "modal-dialog.show-button"
          },
          aria: {
            label: "Edit favorites"
          },
          test_selector: "dashboard-favorites-edit-button"
        ) do %>Edit<% end %>
      </div>
    <% end %>
  </div>
  <% if authorized_pinned_items.any? %>
    <%= render Dashboard::Sidebar::SortablePinnedItemsComponent.new(
      user_id: current_user.id,
      sortable_path: dashboard_favorites_path(reorder: true),
      sortable: authorized_pinned_items.count > 1
    ) do |c| %>
      <% authorized_pinned_items.each do |repo|%>
        <%= c.with_item(
          item_id: repo.id,
          item_type: "Repository",
          display: :flex,
          justify_content: :space_between,
          align_items: :center,
          mt: 2,
          classes: class_names(
            repo_visibility(repo),
            "fork" => repo.fork?,
            "source" => !repo.fork?,
            "no-description" => repo.description.blank?
          ),
          test_selector: "pinned-repository"
        ) do %>
          <div class="width-full d-flex">
            <%= link_to repository_path(repo), data: repo_attributes(repo: repo), class: "mr-2 d-flex flex-items-center" do %>
              <img src="<%= avatar_url_for(repo.owner, DashboardSidebarHelper::REPO_AVATAR_SIZE * 2.0) %>"
                class="<%= class_names(avatar_class_names(repo.owner), "avatar-small", "circle" => !repo.owner.organization?) %>"
                width="<%= DashboardSidebarHelper::REPO_AVATAR_SIZE %>"
                height="<%= DashboardSidebarHelper::REPO_AVATAR_SIZE %>"
                alt="<%= repo.name %>"
                <% if repo_aria_label(repo) %>aria-label="<%= repo_aria_label(repo) %>"<% end %>
              >
            <% end %>
            <div class="wb-break-word">
              <%= link_to repository_path(repo), data: repo_attributes(repo: repo), class: "color-fg-default lh-0 mb-2 markdown-title" do %>
                <%= repo.owner_display_login %><span class="color-fg-muted">/</span><%= repo.name %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class="border border-dashed rounded-2 p-3 mt-2" <%= test_selector "empty-favorites" %>>
      <p class="note mt-0 mb-2">
        Add repositories you've worked on here for quick access.
      </p>
      <%= render Primer::Beta::Button.new(
        w: :full,
        text_align: :center,
        data: {
          "show-dialog-id": "edit-dashboard-favorites",
          target: "modal-dialog.show-button"
        }
      ) do %>
        Add favorites
      <% end %>
      <% if !current_user.dismissed_notice?(UserNotice::DASHBOARD_FAVORITES_ONBOARDING_NOTICE) %>
          <%= render Primer::Beta::Popover.new(
            position: :absolute,
            left: true,
            right: true,
            mt: 1,
            classes: "js-notice favorites-onboarding-popover",
            style: "width: 235px",
            test_selector: "favorites-onboarding-popover"
          ) do |component| %>
            <% component.with_heading(color: :default, font_size: 5, tag: :h3) do %>
              Introducing Favorites
              <%= render(Primer::Beta::Label.new(scheme: :accent, float: :right)) { "New" } %>
            <% end %>
            <% component.with_body(font_size: 5, color: :muted, p: 3, w: :auto, classes: "favorites-onboarding-popover-message") do %>
              Configure your dashboard to have your favorite repositories readily accessible.
              <div class="mt-3 d-flex flex-justify-start">
                <%= form_tag dismiss_notice_path(UserNotice::DASHBOARD_FAVORITES_ONBOARDING_NOTICE), class: "js-notice-dismiss" do %>
                  <%= render Primer::ButtonComponent.new(type: :submit) do %>
                    Dismiss
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
    <div>
  <% end %>
</div>
