<%# view is an instance of RepositoryAdvisories::CreditView %>
<li
  class="color-bg-subtle p-2 mb-2 width-full js-advisory-credit-row rounded-2 d-flex"
  data-recipient-id="<%= view.recipient_id %>"
  <%= "hidden" if view.marked_for_destruction? %>
>
  <span class="flex-1 d-flex flex-items-center">
    <% if view.show_status? %>
      <span role="status" class="sr-only"><%= view.status_message %></span>
      <span aria-hidden="true" class="d-inline-block text-center mr-1" title="<%= view.status_message %>" style="width:16px"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
        <%= primer_octicon(view.status_icon_name, color: view.status_icon_color) %>
      </span>
    <% end %>
    <%= linked_avatar_for view.recipient, 20, img_class: "avatar" %>
    <%= profile_link view.recipient, class: "Link--primary text-bold ml-1" do %>
      <%= view.display_login -%>
    <% end %>
    <% if view.name %>
      <span class="color-fg-muted user-select-contain ml-1"><%= view.name %></span>
    <% end %>
  </span>

  <span class="flex-1">
    <select class="form-select" name="<%= "repository_advisory[credits_attributes][#{index}][credit_type]" %>">
      <option value="analyst" disabled <%= view.is_unsaved_advisory_credit ? "selected" : "" %>>Choose a credit type</option>
      <% AdvisoryCredit.credit_types.each_key do |credit_type| %>
        <option
          value="<%= credit_type %>"
          <%= (credit_type == view.credit_type) && !view.is_unsaved_advisory_credit ? "selected" : "" %>
        >
          <%= credit_type.humanize %>
        </option>
      <% end %>
    </select>
  </span>

  <button class="btn-octicon btn-octicon-danger float-right mt-n1 js-advisory-credit-remove-button" type="button" aria-label="Remove credit for <%= view.display_login %>">
    <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
  </button>
  <%= fields_for "repository_advisory[credits_attributes][#{index}]", view.advisory_credit do |credit_fields| %>
    <%= credit_fields.hidden_field :_destroy, value: view.marked_for_destruction?, id: nil, class: "js-advisory-credit-destroy-field" %>
    <%= credit_fields.hidden_field :id, value: view.id, id: nil %>
    <%= credit_fields.hidden_field :recipient_id, value: view.recipient_id, id: nil %>
  <% end %>
</li>
