<%# view is an instance of RepositoryAdvisories::ShowView %>
<% if view.viewer_may_manage_credits? %>
  <div class="p-0 pt-2">
    <div class="px-3 pb-2">
      <h3 class="color-fg-default pb-2 h4" aria-label="Edit advisory credits">Credits</h3><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse %>
      <auto-complete
        src="<%= autocomplete_users_path %>"
        for="advisory-credit-autocomplete-results"
        class="auto-search-group position-relative d-block js-add-credit-auto-complete"
      >
        <input
          form="repository-advisory-add-credit-form"
          name="credit_login"
          type="search"
          class="form-control auto-search-input width-full input-hide-webkit-autofill"
          placeholder="Add a user by username, full name, or email"
          aria-label="Add a user by username, full name, or email"
          required
        >
        <%= render(Primer::Beta::Octicon.new(icon: "search")) %>
        <ul id="advisory-credit-autocomplete-results" class="autocomplete-results"></ul>
      </auto-complete>
    </div>
    <input
      form="repository-advisory-add-credit-form"
      name="credit_index"
      type="hidden"
      class="js-next-credit-index-field"
      value="<%= view.form_credits.size %>"
    >
    <div class="d-flex mt-1 advisory-credit-window-min advisory-credit-window-max overflow-y-auto">
      <ul class="px-3 flex-1 list-style-none js-advisory-credits-list" <%= "hidden" unless view.form_credits.any? %>>
        <% view.form_credits.each_with_index do |credit, index| %>
          <%= render partial: "repos/advisories/credits/form_row", locals: { view: credit, index: index } %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
