<%# view is an instance of RepositoryAdvisories::CreditView %>
<li class="py-1 d-flex flex-justify-between" <%= test_selector(view.display_login, name: "advisory-credit-recipient") %>>
  <span>
    <%= linked_avatar_for view.recipient, 20, img_class: "avatar" %>
    <%= profile_link view.recipient, class: "Link--primary ml-1 text-bold" do %>
      <%= view.display_login -%>
    <% end %>
  </span>

  <span>
  <%= render(Primer::Beta::Label.new(scheme: :secondary)) { view.credit_type.humanize } %>

  <% if view.show_status? %>
    <span>
      <span role="status" class="sr-only"><%= view.status_message %></span>
      <span aria-hidden="true" class="d-inline-block text-center mr-1" title="<%= view.status_message %>" style="width:16px"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
        <%= primer_octicon(view.status_icon_name, color: view.status_icon_color) %>
      </span>
    </span>
  <% end %>
  </span>

</li>
