<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render(Primer::Beta::Octicon.new(icon: @feature.icon, size: :medium, height: 48)) %>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<h3 class="lh-condensed">Your admin declined your <%= @feature.name %> request</h3>
<%= render(Mail::SpacerComponent.new(size: 16)) %>

<p>On <%= @member_feature_request.created_at.strftime('%B %d, %Y') %>, you submitted a request to get access to <%= @feature.name %> through your GitHub Organization, <%= @member_feature_request.organization.display_login %>. </p>

<%= render(Mail::SpacerComponent.new(size: 16)) %>

<p>An admin declined your request to get access.</p>

<% unless @organization.user_is_outside_collaborator?(@requester) %>
  <%= render(Mail::SpacerComponent.new(size: 16)) %>
  <p>
    <%= render(Primer::Beta::Link.new(href: @owner_contact_url, classes: "Link--inTextBlock")) { "Contact an admin" } %>
    for more details around their decision.
  </p>
<% end %>

<% content_for :footer_text do %>
  <p>You are receiving this email because members of your organization have requested access to specific GitHub features.</p>
<% end %>
