<li class="Box-row p-3 mt-0" <%= test_selector("checkout-with-cli-menu-item") %>>
  <span class="<%= default_menu_item_link_classes %>">
    <%= render Primer::Beta::Octicon.new(icon: "terminal", mr: 2) %>
    Checkout with GitHub CLI
  </span>
  <div class="input-group mt-2 pl-5">
    <input type="text" class="form-control input-monospace input-sm color-bg-subtle" data-autoselect value="gh pr checkout <%= pull_request.number %>" aria-label="gh pr checkout <%= pull_request.number %>" readonly>
    <div class="input-group-button">
      <%= content_tag(
        "clipboard-copy",
        render(Primer::Beta::Octicon.new(icon: "copy", classes: "js-clipboard-copy-icon", display: :inline_block)) + render(Primer::Beta::Octicon.new(icon: "check", color: :success, classes: "js-clipboard-check-icon", display: [:inline_block, :none])),
        value: "gh pr checkout #{pull_request.number}",
        "aria-label": "Copy to clipboard",
        class: "btn btn-sm js-clipboard-copy tooltipped-no-delay ClipboardButton",
        "data-copy-feedback": "Copied!",
        "data-tooltip-direction": "n",
        data: copy_repository_url_data_attributes(repository)
      ) %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
    </div>
  </div>
  <p class="mt-2 mb-0 pl-5 f6 color-fg-muted">
    Work fast with our official CLI.
    <a class="Link--inTextBlock" href="https://cli.github.com" target="_blank" aria-label="Learn more about working fast with our official CLI.">Learn more</a>.
  </p>
</li>
<li
  data-platforms="windows,mac"
  class="<%= default_menu_item_classes %> rounded-0 js-remove-unless-platform"
  <%= test_selector("checkout-with-gh-desktop-menu-item") %>
>
  <%= link_to app_clone_url(repository, pull_request),
    class: default_menu_item_link_classes,
    data: {
      action: "click:get-repo#showDownloadMessage"
    } do %>
    <%= render Primer::Beta::Octicon.new(icon: "desktop-download", mr: 2) %>
    Checkout with GitHub Desktop
  <% end %>
</li>
