<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="d-flex">
  <div class="col-10">
    <strong class="mb-2"><%= primer_octicon(:"code-square") %> <%= gist_id %></strong>
    <span class="d-block color-fg-muted">
      <%= link %>
    </span>
    <span class="d-block color-fg-muted">
      Last maintenance: <%= last_maintenance_at %>
    </span>
  </div>
  <div class="col-2 d-flex flex-justify-end">
    <%= form_tag(schedule_maintenance_stafftools_gist_maintenance_path(gist_id), class: ".ml-1", method: :post) do %>
      <%= render(Primer::ButtonComponent.new(type: :submit)) { "Schedule maintenance" } %>
    <% end %>
    <% unless marked_broken? %>
      <%= form_tag(mark_as_broken_stafftools_gist_maintenance_path(gist_id), class: ".ml-1", method: :post) do %>
        <%= render(Primer::ButtonComponent.new(
          type: :submit, scheme: :danger, ml: 1,
          data: { confirm: "Are you sure? The gist will be disabled for end users." }
        )) do |_| %>
          Mark as broken
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
