<div class="Box-header"><h3 class="Box-title">Crop your new <%= human_avatar_name(avatar) %></h3></div>
<%= form_tag nil,
  method: :post,
  class: "d-flex flex-column flex-auto",
  id: "avatar-crop-form",
  :"data-alambic-avatar-id" => avatar.id,
  style: "min-height: 0;" do -%>
  <div class="Box-body overflow-auto">
    <image-crop src="<%= avatar.original_url(current_user) %>" <%= "rounded" if avatar_user_actor?(avatar.owner) %>>
      <div data-loading-slot style="height:<%= avatar.scaled_height(400) %>px">
        <div class="d-flex flex-items-center height-full">
          <%= render(Primer::Beta::Spinner.new(size: :large, flex: 1)) %>
        </div>
      </div>
      <%= csrf_hidden_input_for "/settings/avatars/#{avatar.id}", method: :post, class: "js-avatar-post-csrf" %>
      <input type="hidden" data-image-crop-input="x" name="cropped_x">
      <input type="hidden" data-image-crop-input="y" name="cropped_y">
      <input type="hidden" data-image-crop-input="width" name="cropped_width">
      <input type="hidden" data-image-crop-input="height" name="cropped_height">
    </image-crop>
  </div>

  <div class="Box-footer">
    <%= render Primer::Beta::Button.new(
      type: :submit,
      name: "op",
      value: "save",
      block: true,
      scheme: :primary,
      "data-disable-with": "",
    ).with_content("Set new #{human_avatar_name(avatar)}") %>
  </div>
<% end -%>
