<% communities = [
  {
    name: "Adacats",
    width: 800,
    height: 463,
    description: "— named after Ada Lovelace, the first computer programmer — are champions of, and for, marginalized genders in tech.",
    mission_1_title: "Member engagement",
    mission_1_description: "Offer training and facilitate conversations to empower our members to talk about career opportunities, compensation, and advancement",
    mission_2_title: "Career development and retention",
    mission_2_description: "Provide leadership development opportunities and encourage members to take on leadership roles within Adacats projects",
    mission_3_title: "Internal resources and communication",
    mission_3_description: "Partner with teams across the company to reduce bias and ensure all feel welcome at GitHub throughout hiring, onboarding, and reviews"
  },
  {
    name: "Blacktocats",
    width: 800,
    height: 625,
    description: "attract and empower Black lives in tech. The Blacktocats are celebrating their fifth year and are the original CoB at GitHub.",
    mission_1_title: "Recruitment and community-building",
    mission_1_description: "Support GitHub’s efforts to attract the best Black talent and build an internal community that connects Hubbers with Blacktocats’ initiatives",
    mission_2_title: "Career development and retention",
    mission_2_description: "Promote Blacktocat leadership and development at all levels within GitHub",
    mission_3_title: "Open source and education",
    mission_3_description: "Support the Black community’s participation in open source projects and coding",
    url: about_blacktocats_path
  },
  {
    name: "Octoasians",
    width: 800,
    height: 592,
    description: "celebrate heritage, foster community, and empower Asian and Pacific Islander leadership.",
    mission_1_title: "Member engagement",
    mission_1_description: "Host events, community impact initiatives, and marketing efforts to create and foster a place of belonging, raise awareness, and have fun together",
    mission_2_title: "Business impact",
    mission_2_description: "Support Asian market development by providing cultural guidance, research, and API leadership to the organization",
    mission_3_title: "Opportunity and advancement",
    mission_3_description: "Empower and advocate for Asian and Pacific Islander presence in leadership"
  },
  {
    name: "Octogatos",
    width: 800,
    height: 383,
    description: "bring together people with Latinx backgrounds and build a more inclusive universe by energizing and empowering multicultural perspectives.",
    mission_1_title: "Recruitment and retention",
    mission_1_description: "Support GitHub’s efforts to attract the best Latinx talent",
    mission_2_title: "Community and product",
    mission_2_description: "Give back to Latinx communities and help make GitHub’s products more inclusive",
    mission_3_title: "Communication and leadership development",
    mission_3_description: "Mentor Octogatos to advance their careers and build efficient channels for them to communicate internally"
  },
  {
    name: "Octoqueer",
    width: 780,
    heigt: 439,
    pluralized: false,
    description: "exists to celebrate, elevate, and advocate for LGBTQ communities.",
    mission_1_title: "Foster GitHub inclusivity",
    mission_1_description: "Strengthen GitHub’s inclusive culture by supporting the success and belonging of LGBTQ Hubbers",
    mission_2_title: "Support and serve our community",
    mission_2_description: "Engage with the LGBTQ community through events and outreach in tech and open source",
    mission_3_title: "Advocate for LGBTQ policy",
    mission_3_description: "Leverage GitHub’s influence to advocate for LGBTQ-inclusive policies around the world"
  },
  {
    name: "Octovets",
    width: 800,
    height: 469,
    description: "assist veterans—and those affiliated with military service—with transitioning to civilian life through fellowship, mentorship, and recruiting.",
    body: "Octovets help highlight veteran-related disabilities, assist their transition back into civilian life, and aid nonprofits that support veterans seeking a career in tech. This is a group dedicated not just for veterans, but for all of those who are affiliated with the trials and tribulations of military service."
  },
  {
    name: "Parentocats",
    width: 800,
    height: 495,
    description: "foster a culture where Hubbers can thrive at work and as parents.",
    body: "Parentocats are an energetic community focused on providing access to parenting resources, workshops to share experiences and teach practical skills, and always thinking of the full ecosystem of our Hubbers."
  },
  {
    name: "Neurocats",
    width: 800,
    height: 496,
    description: "is an emerging CoB dedicated to supporting and improving the lives of neurodiverse people through action and education.",
    mission_1_title: "Education",
    mission_1_description: "Educating Hubbers about Neurodiversity and helping us become a more inclusive company.",
    mission_2_title: "Community Support",
    mission_2_description: "Enabling our Neurodiverse employees to be themselves at GitHub and do their best work.",
    mission_3_title: "Outreach",
    mission_3_description: "Working with external groups and individuals to support neurodiversity throughout developer and tech communities."
  },
  {
    name: "OCTO7",
    pluralized: false,
    width: 800,
    height: 496,
    description: "is committed to celebrating global indigenous heritage and intersectionality to support and honor the tribes around the world.",
    body: "Honoring the indigenous wisdom of Seven Generations states: “we must consider the impact of our decisions on the seventh generation, so that they may enjoy what we have today”.",
    mission_1_title: "",
    mission_1_description: "Connect open source to indigenous organizations—promoting awareness, proximity to community, and sustainable change."
  },
  {
    name: "Inclusion Advisory Council",
    pluralized: false,
    width: 800,
    height: 496,
    description: "provides advice on new ideas, practices, and programs to help build an inclusive culture at GitHub.",
    body: "",
    mission_1_title: "",
    mission_1_description: "Model and facilitate inclusive practices in Hubbers’ daily interactions.",
    mission_2_title: "",
    mission_2_description: "Inform and participate in the Diversity, Inclusion, & Belonging roadmap and strategy.",
    mission_3_title: "",
    mission_3_description: "Review and recommend inclusive policies and practices to implement at the company and team level."
  }
] %>

<div class="d-flex flex-wrap flex-items-stretch flex-justify-center mx-auto gutter-condensed gutter-md-spacious">
  <% communities.each_with_index do |community, i| %>
    <div class="col-12 col-md-6 col-lg-4 mb-4 mb-md-7">
      <button type="button" data-show-dialog-id="<%= community[:name].parameterize %>-dialog" class="d-flex flex-column p-5 color-bg-default box-shadow-card-border-mktg border-0 rounded-2 hover-grow-mktg f4-mktg height-full text-left">
        <div class="position-relative mb-2">
          <svg aria-hidden="true" viewBox="0 0 800 496" version="1.1" width="800" height="496" class="width-fit height-auto"></svg>
          <picture>
            <source srcset="<%= image_path "modules/site/about/diversity/communities-of-belonging/octocats-#{community[:name].downcase.parameterize}.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/about/diversity/communities-of-belonging/octocats-#{community[:name].downcase.parameterize}.jpg" %>" alt="" class="position-absolute width-full height-full top-0 left-0" loading="lazy" decoding="async" width="<%= community[:width] %>" height="<%= community[:height] %>" style="object-fit: contain;">
          </picture>
        </div>
        <p class="mb-2">
          <strong><%= community[:name] %></strong> <%= community[:description] %>
        </p>

        <span class="text-semibold no-wrap color-fg-accent mt-auto">
          View their goals
          <%= primer_octicon(:plus) %>
        </span>
      </button>
    </div>

    <%= render Primer::Alpha::Dialog.new(
      title: community[:name],
      size: :xlarge,
      visually_hide_title: true,
      id: community[:name].parameterize + "-dialog",
    ) do |d| %>
      <% d.with_body do %>
        <div class="d-md-flex flex-row-reverse flex-items-center">
          <div class="col-md-7 ml-md-6">
            <div class="f4-mktg">
              <h2 class="h4-mktg mb-3">
                <%= community[:name] %>’<% if community[:pluralized] == false %>s<% end %> goals
              </h2>

              <%= content_tag(:p, community[:body]) %>

              <%= content_tag :h3, community[:mission_1_title], class: "h6-mktg mt-3 mb-2" %>
              <%= content_tag :p, community[:mission_1_description] %>

              <%= content_tag :h3, community[:mission_2_title], class: "h6-mktg mt-3 mb-2" %>
              <%= content_tag :p, community[:mission_2_description] %>

              <%= content_tag :h3, community[:mission_3_title], class: "h6-mktg mt-3 mb-2" %>
              <%= content_tag :p, community[:mission_3_description] %>

              <%= render Site::ButtonComponent.new(
                text: "Explore #{community[:name]}",
                url: community[:url],
                scheme: :muted,
                classes: "mt-4",
                arrow: true
              ) if community[:url] %>
            </div>
          </div>
          <div class="col-md-5">
            <picture>
              <source srcset="<%= image_path "modules/site/about/diversity/communities-of-belonging/octocat-#{community[:name].downcase.parameterize}.webp" %>" type="image/webp">
              <img src="<%= image_path "modules/site/about/diversity/communities-of-belonging/octocat-#{community[:name].downcase.parameterize}.jpg" %>" alt="" class="width-fit height-auto" width="540" height="540" loading="lazy" decoding="async">
            </picture>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
