<% page_meta = {
    title: "Communities of Belonging at GitHub",
    description: "Our diverse community is what allows us to innovate and push the boundaries of software development."
  }

  page_info \
  title: page_meta[:title],
  description: page_meta["description"],
  richweb: {
    title: page_meta["title"],
    url: request.original_url,
    description: page_meta["description"],
    image: image_path("modules/site/social-cards/diversity.png"),
  }
%>

<div class="container-xl p-responsive">
  <%= render(Primer::Beta::Breadcrumbs.new(mt: 4)) do |component| %>
    <% component.with_item(href: about_path) do %>About<% end %>
    <% component.with_item(href: about_diversity_path) do %>Diversity<% end %>
    <% component.with_item(href: request.path) do %>Communities of Belonging<% end %>
  <% end %>
</div>

<div class="container-lg p-responsive mb-6" id="introduction">
  <div class="mt-4 mb-8">
    <h1 class="h1-mktg mt-5 mt-md-8 mb-4 mb-md-5 col-9-max">
      Making GitHub a place where everyone belongs
    </h1>

    <div class="col-md-10">
      <p class="f2-mktg text-normal mb-3 mb-md-6">
        We are dedicated to building a community and team that reflects the world we live in and pushes the boundaries of software&nbsp;innovation.
      </p>
    </div>
  </div>

  <h2 class="h3-mktg mb-4">
    The power of&nbsp;people
  </h2>

  <div class="d-md-flex flex-items-stretch gutter mb-7">
    <div class="col-md-5">
      <p class="f3-mktg mb-4 mb-md-0">
        We believe in the transformative power of engaging different perspectives. That's why we hire talented people from around the world and encourage building strong networks that cross backgrounds, time zones, and accents. We are built to be truly global.
      </p>
    </div>
    <div class="col-md-7">
      <picture>
        <source srcset="<%= image_path "modules/site/about/diversity/communities-of-belonging/octogatos-zoom.webp" %>" type="image/webp">
        <img src="<%= image_path "modules/site/about/diversity/communities-of-belonging/octogatos-zoom.jpg" %>" class="width-fit height-auto mb-0" width="825" height="376" alt="" loading="lazy" decoding="async">
      </picture>
    </div>
  </div>

  <div class="mb-8">
    <div class="mb-6">
      <h3 class="h4-mktg mb-2">
        People initiatives
      </h3>

      <p class="f3-mktg mr-4 mb-4">
        We hold ourselves accountable to build an engaging experience by following the diversity, inclusion, and belonging (DI&B) initiatives, which are informed by Hubbers and our Inclusion Advisory Council.
      </p>

      <%= render Site::ButtonComponent.new(text: "Explore our Diversity Report", url: about_diversity_report_path, arrow: true, scheme: :muted) %>
    </div>

    <div class="d-md-flex gutter f4-mktg">
      <div class="col-md-4">
        <h4 class="h6-mktg mb-2">
          Internal Training
        </h4>
        <p>
          We require unconscious bias, privilege, and allyship training for all employees. This empowers everyone to develop awareness, exercise curiosity, and demonstrate&nbsp;courage.
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="h6-mktg mb-2">
          Inclusive Hiring
        </h4>
        <p>
          We set and track ambitious goals for women, racial and ethnic minorities, hiring, retention, and other diversity metrics. All our hires also go through a DI&B conversation during the interview process.
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="h6-mktg mb-2">
          Diversity Reports
        </h4>
        <p>
          We survey all Hubbers about the inclusive environment at GitHub. Additionally, our annual <%= link_to "Diversity Report", about_diversity_report_path, class: "Link--inTextBlock" %> shares our progress in diversity efforts, like representation in&nbsp;leadership.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="py-6">
  <div class="container-xl p-responsive">
    <h2 class="h2-mktg col-9-max mb-3 mx-auto text-md-center">
      Our Communities of&nbsp;Belonging
    </h2>

    <p class="col-6-max f3-mktg mb-6 mx-md-auto text-semibold text-md-center">
      We are inspired by the whimsical culture at GitHub.<br> Here’s how our icon for OctoAsians came to be.
    </p>

    <div class="col-md-9 mx-auto mb-8">
      <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Qidy2dpdx5w?rel=0;&mute=1" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="Time lapse video showing the creation of the Octoasians illustration." autoplay allowfullscreen></iframe>
      </div>
    </div>

    <%= render "site/about/diversity/communities/list" %>
  </div>
</div>

<div class="container-xl p-responsive text-md-center mx-auto my-8">
  <div class="p-4 px-md-8 pb-md-8 pt-md-8 color-bg-subtle" style="border-radius: 24px">
    <h2 class="col-8-max h3-mktg mb-6 mx-auto">
      Find your people at GitHub
    </h2>

    <%= render Site::ButtonComponent.new(text: "See our career opportunities", url: "https://github.careers", classes: "mb-6") %>

    <picture>
      <source srcset="<%= image_path "modules/site/about/diversity/communities-of-belonging/octocats-group.webp" %>" type="image/webp">
      <img src="<%= image_path "modules/site/about/diversity/communities-of-belonging/octocats-group.png" %>" width="1445" height="255" alt="" class="width-fit height-auto px-2" loading="lazy" decoding="async">
    </picture>
  </div>
</div>
