<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%
  view = Wiki::PagesSidebarView.new(:wiki => @unsullied_wiki)

  # There can be thousands of pages in a wiki, and recreating primer components
  # for each page has a significant performance impact. Create the details octicons
  # and spinner used by _pages_partial_entry once and pass them in to reduce render time.
  details_octicons = {
    current: primer_octicon(
      :"triangle-down",
      hidden: false,
      mr: 0,
      classes: "js-wiki-sidebar-toc-toggle-chevron js-wiki-sidebar-toc-toggle-chevron-open"
    ),
    non_current: primer_octicon(
      :"triangle-down",
      hidden: false,
      mr: 0,
      classes: "js-wiki-sidebar-toc-toggle-chevron"
    )
  }

  spinner = render(Primer::Beta::Spinner.new(
    size: :small,
    hidden: true,
    mr: 0,
    vertical_align: :text_bottom,
    classes: "js-wiki-sidebar-toc-spinner")
  )
%>

<div class="Box Box--condensed color-shadow-small">
  <div class="Box-header px-2 py-1 js-wiki-toggle-collapse" style="cursor: pointer">
    <h3 class="Box-title d-flex flex-items-center" id="wiki-pages-box-heading">
      <%= render(Primer::Beta::IconButton.new(
        icon: "triangle-down",
        "aria-label": "Toggle table of contents",
        size: :small,
        scheme: :invisible,
        classes: "js-wiki-sidebar-pages-toggle-chevron #{"js-wiki-sidebar-pages-toggle-chevron-open" if !collapsed}"
      )) %>
      <span>Pages <%= render Primer::Beta::Counter.new(count: view.page_count, scheme: :primary) %></span>
    </h3>
  </div>
  <div class="<%= "d-none" if collapsed %> js-wiki-sidebar-toggle-display">
    <div class="filter-bar">
      <input type="text" id="wiki-pages-filter" class="form-control input-sm input-block js-filterable-field" placeholder="Find a page…" aria-label="Find a page…">
    </div>

    <ul class="m-0 p-0 list-style-none" data-filterable-for="wiki-pages-filter" data-filterable-type="substring" data-pjax>
      <% view.initial_pages.each do |page| -%>
        <li class="Box-row px-2 py-2">
          <%= render partial: 'wiki/pages_partial_entry', locals: { page: page, details_octicons: details_octicons, spinner: spinner } %>
        </li>
      <% end -%>
      <% view.more_pages.each do |page| -%>
        <li class="Box-row wiki-more-pages px-2 py-2">
          <%= render partial: 'wiki/pages_partial_entry', locals: { page: page, details_octicons: details_octicons, spinner: spinner } %>
        </li>
      <% end -%>
      <% if view.filter? %>
        <li class="Box-row wiki-more-pages-link">
          <%= render Primer::ButtonComponent.new(scheme: :link, mx: :auto, font_size: 6, classes: "Link--muted js-wiki-more-pages-link") do %>
            Show <%= pluralize view.more_count, 'more pages' %>…
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
