<%
  page_path = wiki_page_path(page)
  is_current_page = request.fullpath == page_path
  content = wiki_data(page, "page") if is_current_page
  details_octicon = is_current_page ? details_octicons[:current] : details_octicons[:non_current]
%>
<details class="details-reset" <%= is_current_page ? "open" : "" %>>
  <summary>
    <div class="d-flex flex-items-start">
      <div
        class="p-2 mt-n1 mb-n1 ml-n1 btn btn-octicon js-wiki-sidebar-toc-toggle-chevron-button <%= is_current_page && (content.toc.nil? || content.toc.count == 0) ? "v-hidden" : "" %>">
        <%
          # don't recreate details octicons and spinner on every page entry.
          # these are created once in _pages_partial and passed in to reduce render time
        %>
        <%= spinner %>
        <%= details_octicon %>
      </div>
      <%= render(Primer::Beta::Truncate.new) do |component| %>
        <% component.with_item(tag: :a, font_weight: :bold, py: 1, href: page_path) do page.title end %>
      <% end %>
    </div>
  </summary>

  <% if is_current_page %>
    <%= render partial: "wiki/toc", locals: { page: page, content: content }  %>
  <% else %>
    <include-fragment class="js-wiki-sidebar-toc-fragment" loading="lazy" src="<%= wiki_toc_url(current_repository.owner, current_repository, page) %>">
    </include-fragment>
  <% end %>
</details>
