<% page_info \
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <%= render(Primer::Experimental::PageLayout.new(container_width: :xl)) do |c| %>
    <% c.with_content_region do %>
      <h1 class='sr-only'>Wiki: <%= current_repository.name_with_display_owner %></h1>
      <% if current_repository.plan_supports?(:wikis) %>
        <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
          <% c.with_visual_icon(icon: "book") %>

          <% c.with_heading(tag: :h2) do %>
            <%= "Welcome to the #{current_repository.name} wiki!" %>
          <% end %>

          <% c.with_description do %>
            Wikis provide a place in your repository to lay out the roadmap of your project, show the current status, and document software better, together.
          <% end %>

          <% if current_repository_writable? %>
            <% c.with_primary_action(href: new_wiki_path) { "Create the first page" } %>
          <% end %>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
          <% c.with_visual_image(src: "icons/marketing/blue/documentation.svg", alt: "Icon of document") %>
          <% c.with_heading(tag: :h2) { "Upgrade or make this repository public to create a Wiki" } %>
          <% c.with_description do %>
            <p>GitHub Wikis is a simple way to let others contribute content. Any GitHub user can create and edit pages to use for documentation, examples, support, or anything you wish.</p>
            <% if current_repository.owner == current_user %>
              <% if current_repository.fork? %>
                <p>This repository is a fork, and inherits the features of the parent repository. Contact the owner of the root repository to enable GitHub Wikis.</p>
              <% end %>
            <% else %>
              <p>Contact the owner of the repository to enable GitHub Wikis.</p>
            <% end %>
          <% end %>
          <% if current_repository.owner == current_user %>
            <% unless current_repository.fork? %>
              <% c.with_primary_action(href: plan_upgrade_path, data: feature_gate_upsell_click_attrs(:wikis, user: current_user)) { "Upgrade" } %>
              <% c.with_secondary_action(href: "#{GitHub.help_url}/github/building-a-strong-community/about-wikis", aria: { label: "Learn more about wikis" }) { "Learn more" } %>
            <% end %>
          <% elsif show_free_org_gated_feature_message?(current_repository, current_user) %>
            <% c.with_primary_action(href: upgrade_path(
                    org: current_repository.owner,
                    plan: "business",
                    target: "organization"
                  ), data: feature_gate_upsell_click_attrs(:wikis, user: current_user)) { "Upgrade" } %>
            <% c.with_secondary_action(href: "#{GitHub.help_url}/github/building-a-strong-community/about-wikis", aria: { label: "Learn more about wikis" }) { "Learn more" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
