<%# rubocop:disable Lint/InstanceVariable %>
<?xml version="1.0" encoding="UTF-8"?>
<feed xml:lang="en-US" xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/">
  <% commit = @pages.first.try(:latest_revision) %>
  <%- cache "#{current_repository}-#{commit.try(:oid)}" do -%>
    <id>tag:github.com,2008:<%= wikis_path %></id>
    <link rel="alternate" type="text/html" href="<%=wikis_path%>"/>
    <link rel="self" type="application/atom+xml" href="<%=request.url%>"/>
    <title><%= current_repository %>: Recent Wiki Updates</title>
    <% if @pages.present? %>
    <updated><%= commit.committed_date.iso8601 %></updated>
    <% end %>
    <%-
      users = @pages.map { |p| p.latest_revision.author.try(:email) }
      users.uniq!
      users.map! { |em| User.find_by_email(em) }
      users.compact!
      users = users.index_by { |u| u.email }
    -%>
    <% @pages.each do |page| %>
      <% commit = page.latest_revision %>
      <% author = commit.author %>
      <entry>
        <id><%= wiki_guid(page, commit) %></id>
        <published><%= commit.committed_date.iso8601 %></published>
        <updated><%= commit.authored_date.iso8601 %></updated>
        <link rel="alternate" type="text/html" href="<%= wiki_page_path(page) %>"/>
        <title><%= page.name_stripped %></title>
        <% if email = users[author.try(:email)] %>
        <media:thumbnail url="<%= avatar_url_for(email) %>"/>
        <% end %>
        <author>
          <name><%= author.try(:name) %></name>
        </author>
        <content type="html">
          <%= force_escape_with_transcoding_guess wiki_data(page, "atom-feed").to_s %>
        </content>
      </entry>
    <% end %>
  <% end %>
</feed>
