<% if features.present? %>
  <% if header_redesign_enabled? %>
    <div data-replace-remote-form-target class="global-nav-feature-preview-dialog height-fit">
      <div class="d-flex height-fit">
        <div class="col-4 border-right height-fit overflow-auto">
          <ul>
            <% features.each_with_index do |feature, i| %>
              <li class="d-flex flex-row">
                <%= form_tag feature_previews_path, method: :get, "data-replace-remote-form" => true , class: "width-full" do %>
                  <input type="hidden" name="selected_slug" value="<%= feature.slug %>">
                  <%= render "feature_preview/feature_list_item", feature: feature, enrollments: enrollments, selected_slug: selected_feature.slug %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-8 p-3 overflow-auto">
          <%= render "feature_preview/feature_display", feature: selected_feature, enrollments: enrollments %>
        </div>
      </div>
    </div>

  <% else %>
    <div data-replace-remote-form-target class="height-fit">
      <div class="Box-header color-bg-default">
        <h3 class="Box-title color-fg-default f4">Feature preview</h3>
      </div>

      <div class="d-flex feature-preview-info">
        <div class="col-4 border-right height-fit overflow-auto">
          <ul>
            <% features.each_with_index do |feature, i| %>
              <li class="d-flex flex-row">
                <%= form_tag feature_previews_path, method: :get, "data-replace-remote-form" => true , class: "width-full" do %>
                  <input type="hidden" name="selected_slug" value="<%= feature.slug %>">
                  <%= render "feature_preview/feature_list_item", feature: feature, enrollments: enrollments, selected_slug: selected_feature.slug %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-8 p-3 overflow-auto">
          <%= render "feature_preview/feature_display", feature: selected_feature, enrollments: enrollments %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="d-flex flex-column flex-auto height-fit">
    <% if !header_redesign_enabled? %>
      <div class="Box-header color-bg-default">
        <h3 class="Box-title color-fg-default f4">Feature preview</h3>
      </div>
    <% end %>

    <div class="d-flex flex-column flex-auto overflow-auto">
      <div class="text-center mt-auto mb-auto">
        <%= svg("site/feature-preview-empty", height: 200, width: 200) %>
        <p class="f2">No features available</p>
        <div class="mx-auto" style="max-width: 450px;">
          <p class="f4 mb-0">There are no beta features available at this moment.</p>
          <p class="f4">We’ll let you know when there are new feature previews available to you. <a class="Link--inTextBlock" href="<%= GitHub.feature_preview_help_url %>" target="_blank" rel="noopener noreferrer">Learn more.</a></p><%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
        </div>
      </div>
    </div>
  </div>
<% end %>
