<%
  is_selected = selected_slug == feature.slug
%>

<button class="d-inline-flex width-full p-3 Box-row--hover-blue border-bottom text-left border-0 <%= is_selected ? "color-bg-accent-emphasis" : "color-bg-default" %>" type="submit">
  <div class="mr-2">
    <% if enrollments[feature.id][:enabled] %>
      <span class="<%= is_selected ? "color-text-white" : "color-fg-success" %>"><%= primer_octicon(:eye) %></span>
    <% else %>
      <span class="<%= is_selected ? "color-text-white" : "color-fg-muted" %>"><%= primer_octicon(:"eye-closed") %></span>
    <% end %>
  </div>
  <div class="col-10">
    <h4 class="css-truncate css-truncate-target f5 color-fg-default <%= is_selected ? "text-bold color-text-white" : "text-normal color-fg-default" %>" style="max-width: 100%;"><%= feature.public_name %></h4>
  </div>
</button>
