<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  feedback_event = "feature_preview.clicks.feedback"
%>

<div>
  <div class="d-flex mb-3">
    <h3 class="color-fg-default flex-auto"><%= feature.public_name %></h3>
    <%= render "feature_preview/on_off", on: enrollments[feature.id][:enabled], feature_id: feature.id, feature_slug: feature.slug %>
  </div>

  <% if enrollments[feature.id][:opted_out] %>
    <%= render Primer::Beta::Flash.new(scheme: :warning, mt: 3, mb: 3) do %>
      <strong>Feature disabled.</strong> Please
      <% hydro_attributes = hydro_click_tracking_attributes(feedback_event, { feature_slug: feature.slug, display_location: "callout" }) %>
      <a href="<%= feature.feedback_link %>" data-hydro-click="<%= hydro_attributes["hydro-click"] %>" data-hydro-click-hmac="<%= hydro_attributes["hydro-click-hmac"] %>">give feedback</a>
      so we can improve it!
    <% end %>
  <% end %>

  <% unless feature.image_link.blank? %>
    <img src="<%= feature.image_link %>" class="width-fit border color-border-subtle rounded-2" width="100%" alt="<%= feature.slug %>">
  <% end %>

  <% if feature.slug == "feature_management_memcached_test" %>
    <%
    environment = "n/a"
    if GitHub::AppEnvironment.development?
      environment = "development"
    elsif GitHub.review_lab?
      environment = "review-lab"
    elsif GitHub.enterprise? && !GitHub.multi_tenant_enterprise?
      environment = "enterprise"
    end
    value = GitHub.cache.for_partition(:featureflag).fetch("feature-management-cache-test") do
      {
        environment: environment,
        cached_time: Time.now,
      }
    end
    %>

    <div>
      <p>Cached environment: <%= value[:environment] %></p>
      <p>Cached time: <%= value[:cached_time] %></p>
      <p>Cache age: <%= Time.now - value[:cached_time] %> seconds</p>
    </div>
  <% end %>

  <%# Testing Vexi client - feature should only be available to feature-management team %>
  <% if feature.slug == "vexi_preview" %>
    <div>
      <p>
        `vexi_test_flag` is
        <%
        start_time1 = Process.clock_gettime(Process::CLOCK_MONOTONIC)
        vexi_test_flag_enabled = FeatureFlag.vexi.enabled?(:vexi_test_flag, current_user)
        end_time1 = Process.clock_gettime(Process::CLOCK_MONOTONIC)
        duration1 = ((end_time1 - start_time1) * 1000).round(5)

        start_time2 = Process.clock_gettime(Process::CLOCK_MONOTONIC)
        FeatureFlag.vexi.enabled?(:vexi_test_flag, current_user)
        end_time2 = Process.clock_gettime(Process::CLOCK_MONOTONIC)
        duration2 = ((end_time2 - start_time2) * 1000).round(5)
        %>
        <% if vexi_test_flag_enabled %>
          enabled
        <% else %>
          disabled
        <% end %>
      </p>
    </div>
    <div>
      <p>First check took <%= duration1 %>ms</p>
      <p>Second check took <%= duration2 %>ms</p>
      <p>
        Memoizing is
        <% if FeatureFlag.vexi.memoizing? %>
          enabled
        <% else %>
          disabled
        <% end %>
      </p>
    </div>
    <div>
      <p>Memoization start time: <%= Thread.current[:vexi_memoize_start_time] %></p>
      <p>Last memoization happened <%= Time.now - Thread.current[:vexi_memoize_start_time] %> s ago</p>
    </div>
  <% end %>

  <% unless feature.description.blank? %>
    <%= render Primer::Beta::Markdown.new(mt: 3, test_selector: "feature-description") do %>
      <%= GitHub::Goomba::MarkdownPipeline.to_html(feature.description) %>
    <% end %>
  <% end %>

  <div class="mt-3">
    <% unless feature.documentation_link.blank? %>
      <% hydro_attributes = hydro_click_tracking_attributes("feature_preview.clicks.documentation", { feature_slug: feature.slug }) %>
      <a href="<%= feature.documentation_link.to_s %>" data-hydro-click="<%= hydro_attributes["hydro-click"] %>" data-hydro-click-hmac="<%= hydro_attributes["hydro-click-hmac"] %>">Documentation</a>
      <span class="color-fg-muted">&bull;</span>
    <% end %>
    <% hydro_attributes = hydro_click_tracking_attributes(feedback_event, { feature_slug: feature.slug, display_location: "permanent" }) %>
    <a href="<%= feature.feedback_link %>" class="text-bold" data-hydro-click="<%= hydro_attributes["hydro-click"] %>" data-hydro-click-hmac="<%= hydro_attributes["hydro-click-hmac"] %>">Give feedback</a>
  </div>
</div>
