<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div>
  <% if on %>
    <%= form_tag feature_previews_unenroll_path(feature_id: feature_slug), class: "js-feature-preview-unenroll", method: :patch, "data-replace-remote-form": true do %>
      <input type="hidden" class="js-feature-preview-slug" name="selected_slug" value="<%= feature_slug %>">
      <%= render Primer::ButtonComponent.new(type: :submit) do %>Disable<% end %>
    <% end %>
  <% else %>
    <%= form_tag feature_previews_enroll_path(feature_id: feature_slug), class: "js-feature-preview-enroll", method: :patch, "data-replace-remote-form": true do %>
      <input type="hidden" class="js-feature-preview-slug" name="selected_slug" value="<%= feature_slug %>">
      <%= render Primer::ButtonComponent.new(type: :submit) do %>Enable<% end %>
    <% end %>
  <% end %>
</div>
