<%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
    <% if @is_admin_signup %>
      <p>
        You're receiving this email because you've expressed interest in previewing this feature and opted in for participation.
      </p>
    <% end %>

    <p>
      <%= link_to @business.slug.capitalize, "https://github.com/enterprises/#{@business.slug}" %>
      now has access to
      <%= link_to Copilot::ENTERPRISE_PRODUCT_NAME, "https://github.co/copilot-enterprise" %>
      beta that includes the following features:
    </p>


    <ul type="1">
      <li class="ml-3">
        <%= link_to "GitHub Copilot for Pull Requests", "https://github.co/copilot-for-prs" %>
      </li>
      <li class="ml-3 mb-3">
        <%= link_to "Copilot Chat on GitHub Platform", "https://github.co/copilot-for-chat-dotcom" %>
      </li>
    </ul>


    <p>
      You can now enable it for members of your Enterprise from the settings page.
    </p>

    <p>
      <%= render(
        Mail::ButtonComponent.new(
          text: "Enable beta features in your Enterprise",
          url: "https://github.com/enterprises/#{@business.slug}/settings/copilot?tab=technical_preview",
          classes: "btn-primary btn-medium mb-4 mt-2"
        )
      ) %>
    </p>

    <p>
      For more information on setting up and using GitHub Copilot visit the
      <%= link_to "feedback forum", "https://github.co/copilot-feedback" %>
      or read the
      <%= link_to "documentation", "https://docs.github.com/copilot" %>.
    </p>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  You are receiving this email because you are an administrator of <%= link_to @business.slug, "https://github.com/enterprises/#{@business.slug}" %> enterprise.
<% end %>
