<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 3 %>
<% if collection.present? %>

  <article class="border rounded color-shadow-small color-bg-default my-4">
    <h2 class="f6 color-fg-muted px-3 mt-3" <%= test_selector("collection-rec-by-github") %>>
      <span class="tooltipped tooltipped-ne" aria-label="This recommendation was created by GitHub staff"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
        <%= primer_octicon(:"mark-github", mr: 1, color: :default) %>
      </span>
      Collection recommended by GitHub
    </h2>
    <div class="text-center text-sm-left p-3">
      <div class="d-sm-flex gutter-sm-condensed">
        <div class="col-4 col-sm-3 mx-auto">
          <%= render(Primer::Beta::Link.new(
            href: collection_path(collection),
            data: explore_click_tracking_attributes(
              actor: current_user,
              click_context: :COLLECTION_CARD,
              click_target: :COLLECTION,
              click_visual_representation: :COLLECTION_IMAGE,
              record_id: collection.id,
              ga_click_text: "Explore, go to collection, location:explore feed; "\
                "text:#{collection.display_name}",
            ),
          )) do %>
            <% if collection.image_url.present? %>
              <img
                src="<%= image_path collection.image_url %>"
                alt="<%= collection.display_name %>"
                class="d-block width-full"
              >
            <% else %>
              <div
                class="color-bg-accent f4 color-fg-muted text-bold rounded flex-shrink-0 text-center mx-auto mb-3"
                style="width: 120px; height:120px; line-height:120px;"
              >
                #
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <h3 class="h3 lh-condensed mt-3 mt-sm-1 mb-2">
            <%= render(Primer::Beta::Link.new(
              href: collection_path(collection),
              data: explore_click_tracking_attributes(
                actor: current_user,
                click_context: :COLLECTION_CARD,
                click_target: :COLLECTION,
                click_visual_representation: :COLLECTION_TITLE,
                record_id: collection.id,
                ga_click_text: "Explore, go to collection, location:explore feed; "\
                  "text:#{collection.display_name}",
              ),
            )) do %>
                <%= collection.display_name %>
            <% end %>
          </h3>
          <p class="color-fg-muted">
            <%= collection.description %>
          </p>
          <p>
            <%= render(Primer::Beta::Link.new(
              href: collection_path(collection),
              data: explore_click_tracking_attributes(
                actor: current_user,
                click_context: :COLLECTION_CARD,
                click_target: :COLLECTION,
                click_visual_representation: :SEE_ALL_COLLECTION_ITEMS,
                record_id: collection.id,
                ga_click_text: "Explore, go to collection, location:explore feed; "\
                  "text:#{collection.display_name}",
              ),
            )) do %>
              See the <%= pluralize collection.items.size, "item" %> in this collection
              <%= primer_octicon(:"chevron-right", ml: 1) %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </article>
<% end %>
