<h2 class="h3 color-fg-muted mb-n2">Here's what's popular on GitHub today...</h2>

<%= render "explore/feed/the_download" %>

<!--// Repositories //-->
<div data-hpc>
  <% trending_repositories.next_two.each do |repository| %>
    <%= render(
      Explore::Feed::RepositoryComponent.new(
        repository: repository,
        current_visitor: current_visitor,
        label: "Trending repository",
      )
    ) %>
  <% end %>
</div>

<!--// Spotlight //-->
<%= render(Explore::Spotlight::FeedItemComponent.new(spotlight: spotlight)) %>

<!--// Topic //-->
<%= render "explore/topics/topic", topic: featured_topic, label: "Popular topic" %>

<!--// Repositories //-->
<% trending_repositories.next_two(starting_point: 2).each do |repository| %>
  <%= render(
    Explore::Feed::RepositoryComponent.new(
      repository: repository,
      current_visitor: current_visitor,
      label: "Trending repository",
    )
  ) %>
<% end %>

<!--// Event //-->
<%= render(Explore::Event::FeedItemComponent.new(event: featured_event)) %>

<!--// Repositories //-->
<% trending_repositories.next_two(starting_point: 4).each do |repository| %>
  <%= render(
    Explore::Feed::RepositoryComponent.new(
      repository: repository,
      current_visitor: current_visitor,
      label: "Trending repository",
    )
  ) %>
<% end %>

<!--// Collection //-->
<%= render "explore/feed/featured_collection", collection: featured_collection %>

<!--// Marketplace Listing //-->
<%= render "explore/feed/marketplace_listing", marketplace_listing: marketplace_listings.first %>

<!--// Repositories //-->
<% trending_repositories.rest(starting_point: 6).each do |repository| %>
  <%= render(
    Explore::Feed::RepositoryComponent.new(
      repository: repository,
      current_visitor: current_visitor,
      label: "Trending repository",
    )
  ) %>
<% end %>

<!--// Marketplace Listing //-->
<%= render "explore/feed/marketplace_listing", marketplace_listing: marketplace_listings.second %>
