<%
  instrument_explore_page_view(
    user: current_user,
    visitor: current_visitor,
    view_context: :EXPLORE,
    visible_record_ids: {
      visible_recommended_repository_ids: repository_recommendations.map do |recommendation|
        recommendation.repository.id
      end
    },
  )
%>

<h1 class="h3 color-fg-muted mb-n2">
  Here's what we found based on your interests...
</h1>

<%= render "explore/feed/the_download" %>

<div data-hpc>
  <% repository_recommendations.shift(2).each do |repository_recommendation| %>
    <%=
      render(Explore::Feed::RepositoryComponent.new(
        repository: repository_recommendation.repository,
        current_visitor: current_visitor,
        label: repository_recommendation.explain,
        recommendation: repository_recommendation,
      ))
    %>
  <% end %>
</div>

<%= render "explore/topics/topic", topic: featured_topic, label: "Based on topics you've starred" %>

<!--// Spotlight //-->
<%= render(Explore::Spotlight::FeedItemComponent.new(spotlight: spotlights.first)) %>

<!--// Repository Recommendations //-->
<% repository_recommendations.shift(2).each do |repository_recommendation| %>
  <%= render(
    Explore::Feed::RepositoryComponent.new(
      repository: repository_recommendation.repository,
      current_visitor: current_visitor,
      label: repository_recommendation.explain,
      recommendation: repository_recommendation,
    )
  ) %>
<% end %>

<!--// Marketplace Listing //-->
<%= render "explore/feed/marketplace_listing", marketplace_listing: marketplace_listings.first %>

<!--// Repository Recommendations //-->
<% repository_recommendations.shift(2).each do |repository_recommendation| %>
  <%= render(
    Explore::Feed::RepositoryComponent.new(
      repository: repository_recommendation.repository,
      current_visitor: current_visitor,
      label: repository_recommendation.explain,
      recommendation: repository_recommendation,
    )
  ) %>
<% end %>

<!--// Event //-->
<%= render(Explore::Event::FeedItemComponent.new(event: featured_event)) %>

<!--// Repository Recommendations //-->
<% repository_recommendations.shift(2).each do |repository_recommendation| %>
  <%= render(
    Explore::Feed::RepositoryComponent.new(
      repository: repository_recommendation.repository,
      current_visitor: current_visitor,
      label: repository_recommendation.explain,
      recommendation: repository_recommendation,
    )
  ) %>
<% end %>

<%= render(
  "explore/feed/recommended_topics",
  topics: non_spotlight_topics,
) %>

<!--// Collection //-->
<%= render "explore/feed/featured_collection", collection: featured_collection %>

<!--// Repository Recommendations //-->
<% repository_recommendations.shift(2).each do |repository_recommendation| %>
  <%= render(
    Explore::Feed::RepositoryComponent.new(
      repository: repository_recommendation.repository,
      current_visitor: current_visitor,
      label: repository_recommendation.explain,
      recommendation: repository_recommendation,
    )
  ) %>
<% end %>

<!--// Spotlight //-->
<%= render(Explore::Spotlight::FeedItemComponent.new(spotlight: spotlights.second)) %>

<!--// Repository Recommendations //-->
<% repository_recommendations.each do |repository_recommendation| %>
  <%= render(
    Explore::Feed::RepositoryComponent.new(
      repository: repository_recommendation.repository,
      current_visitor: current_visitor,
      label: repository_recommendation.explain,
      recommendation: repository_recommendation,
    )
  ) %>
<% end %>

<!--// Marketplace Listing //-->
<%= render "explore/feed/marketplace_listing", marketplace_listing: marketplace_listings.second %>

<!--// The End //-->
<aside class="text-center my-6" aria-label="The End">
  <div class="col-2 mx-auto">
    <img src="<%= image_path "icons/emoji/tada.png" %>" alt="tada" class="width-full">
  </div>

  <h2 class="h2 lh-condensed my-2">
    That's everything we found for you, for now.
  </h2>
</aside>
