<%# erblint:counter GoogleAnalyticsDeprecation 3 %>
<% if marketplace_listing.present? %>
  <% screenshot = marketplace_listing.screenshots.first %>


  <article class="border rounded color-shadow-small color-bg-default my-4">
    <% if screenshot.present? %>
      <%= render(Primer::Beta::Link.new(
        border: :bottom,
        data: explore_click_tracking_attributes(
          actor: current_user,
          click_context: :MARKETPLACE_APP_CARD,
          click_target: :MARKETPLACE_APP,
          click_visual_representation: :MARKETPLACE_APP_IMAGE,
          record_id: marketplace_listing.id,
          ga_click_text: "Explore, go to marketplace app, location:explore feed",
        ),
        href: marketplace_listing_path(marketplace_listing),
        display: :block,
      )) do %>
        <img src="<%= image_path screenshot.storage_external_url %>" loading="lazy" alt="<%= screenshot.alt_text %>" class="d-block width-fit mx-auto">
      <% end %>
    <% end %>

    <div class="p-3">
      <h2 class="f6 color-fg-muted mb-3" <%= test_selector("app-rec-by-github") %>>
        <span>
          <%= primer_octicon(:"mark-github", mr: 1, color: :default) %> This recommendation was created by GitHub staff
        </span>
      </h2>
      <div class="d-flex">
        <div class="mr-4 ml-2">
          <%= render(Primer::Beta::Link.new(
            classes: "CircleBadge CircleBadge--small",
            data: explore_click_tracking_attributes(
              actor: current_user,
              click_context: :MARKETPLACE_APP_CARD,
              click_target: :MARKETPLACE_APP,
              click_visual_representation: :MARKETPLACE_APP_ICON,
              record_id: marketplace_listing.id,
              ga_click_text: "Explore, go to marketplace app, location:explore feed",
            ),
            href: marketplace_listing_path(marketplace_listing),
            style: "background-color: ##{marketplace_listing.bgcolor};"
          )) do %>
            <img
              src="<%= image_path marketplace_listing.logo_url %>"
              alt="<%= marketplace_listing.name %>"
              class="CircleBadge-icon"
            >
          <% end %>
        </div>
        <div class="flex-auto wb-break-word">
          <h3 class="f2-light color-fg-default mt-1 mb-2">
            <%= render(Primer::Beta::Link.new(
              data: explore_click_tracking_attributes(
                actor: current_user,
                click_context: :MARKETPLACE_APP_CARD,
                click_target: :MARKETPLACE_APP,
                click_visual_representation: :MARKETPLACE_APP_TITLE,
                record_id: marketplace_listing.id,
                ga_click_text: "Explore, go to marketplace app, location:explore feed; "\
                  "text:#{marketplace_listing.name}",
              ),
              href: marketplace_listing_path(marketplace_listing),
            )) do %>
              <%= marketplace_listing.name %>
            <% end %>
          </h3>
          <div class="markdown-body f5 color-fg-muted mb-2">
            <%= marketplace_listing.full_description_html %>
          </div>
        </div>
      </div>
    </div>
  </article>
<% end %>
