<%# erblint:counter GoogleAnalyticsDeprecation 3 %>
<div class="d-flex d-lg-block flex-items-center">
  <div class="col-3 col-sm-2 col-md-1 col-lg-4 m-3 mx-lg-auto mb-lg-0">
    <%= avatar_for(user, "100%", class: :avatar) %>
  </div>
  <div class="col-9 col-sm-10 col-md-11 col-lg-12 text-left text-lg-center py-3 px-lg-3">
    <% if user.profile_name.present? %>
      <h2 class="lh-condensed" <%= test_selector("user-name") %>><%= user.profile_name %></h2>
      <h3 class="f3 color-fg-muted text-normal" <%= test_selector("user-login") %>><%= user.display_login %></h3>
    <% else %>
      <h2 class="f3 color-fg-muted text-normal" <%= test_selector("user-login") %>><%= user.display_login %></h2>
    <% end %>
  </div>
</div>

<div class="border-top px-3">
  <a href="<%= users_stars_topics_path(user: user, filter: "topics") %>" class="h4 my-3 d-block">
    <%= pluralize user.starred_topics_count, "starred topic" %>
  </a>

  <ul class="f4 list-style-none">
    <%
      user.starred_topics(limit: ExploreController::USER_SUMMARY_TOPIC_STARS_LIMIT).each do |starred_topic|
    %>
      <li class="my-3">
        <a
          href="<%= topic_show_path(starred_topic) %>"
          class="d-flex flex-items-center"
          data-ga-click="Explore, go to topic, location:explore user summary"
        >
          <% if starred_topic.logo_url %>
            <img
              src="<%= image_path starred_topic.logo_url %>"
              alt="<%= starred_topic.safe_display_name %> logo"
              class="d-block mr-3"
              width="24"
            >
          <% else %>
            <div
              class="color-bg-accent f5 color-fg-muted text-bold rounded flex-shrink-0 text-center no-underline mr-3"
              style="width:24px; height:24px; line-height:24px;"
            >
              #
            </div>
          <% end %>

          <span><%= starred_topic.safe_display_name %></span>
        </a>
      </li>
    <% end %>
  </ul>

  <% if user.starred_topics_count > ExploreController::USER_SUMMARY_TOPIC_STARS_LIMIT %>
    <p class="f6">
      <a
        href="<%= users_stars_topics_path(user: user, filter: 'topics') %>"
        data-ga-click="Explore, go to starred topics, location:explore user summary"
      >
        <%= user.starred_topics_count - ExploreController::USER_SUMMARY_TOPIC_STARS_LIMIT %> more
        <%= primer_octicon(:"chevron-right", ml: 1) %>
      </a>
    </p>
  <% end %>
</div>
<div class="border-top p-3">
  <a
    href="<%= stars_path %>"
    class="h4"
    data-ga-click="Explore, go to starred repositories, location:explore user summary"
  >
    <%- if GitHub.flipper[:stars_domain_explore].enabled?(user) %>
    <%= pluralize user.starred_repositories_count, "starred repository" %>
    <%- else %>
    <%= pluralize user.starred_repositories.size, "starred repository" %>
    <%- end %>
  </a>
</div>
