<% page_info(
  title: "Explore GitHub",
  breadcrumb: "Explore",
  description: "Explore is your guide to finding your next project, catching up "\
    "with what’s trending, and connecting with the GitHub community.",
  container_xl: true,
  selected_link: :explore_main,
  stafftools: stafftools_explore_path,
  richweb: {
    title: "Explore GitHub",
    url: request.original_url,
    description: "Explore is your guide to finding your next project, catching "\
      "up with what’s trending, and connecting with the GitHub community.",
    image: image_path('modules/explore/social.jpg'),
  },
) %>

<%= render(Explore::NavComponent.new(show_spacer: true)) %>

<!--// START: "Feed" layout //-->
<div>
  <div class="container-xl p-responsive">
    <div class="d-md-flex flex-wrap flex-lg-nowrap gutter-md">
      <!--// User //-->
      <div class="col-md-12 col-lg-3 position-md-relative pt-4 pt-lg-0 mt-lg-n6" style="z-index:22;">
        <% if logged_in?  %>
          <div class="border rounded color-shadow-medium color-bg-default">
            <%= render "explore/feed/user_summary", user: current_user %>
          </div>
        <% end %>
      </div>

      <!--// Feed //-->
      <div class="col-md-8 col-lg-6 py-4">
        <% if logged_in? %>
          <%= render(
            "explore/feed/logged_in_feed",
            featured_collection: featured_collection,
            marketplace_listings: marketplace_listings,
            repository_recommendations: repository_recommendations,
            spotlights: spotlights,
            featured_event: featured_event,
            featured_topic: featured_topic,
            non_spotlight_topics: non_spotlight_topics,
          ) %>
        <% else %>
          <%= render(
            "explore/feed/logged_out_feed",
            featured_collection: featured_collection,
            marketplace_listings: marketplace_listings,
            trending_repositories: trending_repositories,
            spotlight: spotlights.first,
            featured_topic: featured_topic,
            featured_event: featured_event,
          ) %>
       <% end %>
      </div>

      <!--// Octoverse //-->
      <div class="col-md-4 col-lg-3 py-4">
        <% if logged_in? %>
          <%= render(
            "explore/feed/explore_repositories",
            repositories: trending_repositories,
          ) %>
        <% end %>

        <%= render(
          "explore/feed/trending_developers",
          trending_developers: trending_developers,
        ) %>
      </div>
    </div>
  </div>
</div>
