<% show_check = defined?(show_check) ? show_check : false %>

<div class="js-default-location-setting-container" <%= test_selector("default-location-setting") %> >
  <%= render Primer::Beta::Subhead.new(display: :flex, justify_content: :space_between) do |component| %>
    <% component.with_heading(tag: :h2) do %>Region<% end %>
  <% end %>
  <% if show_error %>
    <p class="color-fg-danger">Your default region could not be updated. Please contact support.</p>
  <% end %>
  <p>
    Your default region will be used to designate compute resources to your codespaces. GitHub can set your region automatically based on your location, or you can set it yourself. Codespaces are deployed to a subset of Azure regions.
  </p>
  <default-location-setting>
    <%= form_tag(
      settings_user_codespaces_update_default_location_path,
      method: :put,
      "data-target": "default-location-setting.locationForm",
    ) do %>
      <div class="form-checkbox">
        <label class="d-flex">
          <%= radio_button_tag(
            'default_location',
            nil,
            current_user.codespace_default_location.nil?,
            'data-target': 'default-location-setting.autoRadioButton',
            "data-action": "change:default-location-setting#changeAutoSelected",
            "aria-describedby": "codespaces_region_auto_note"
          ) %>
          <div class="ml-2">Set automatically</div>
          <% if show_check && current_user.codespace_default_location.nil? %>
            <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
              <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
            <% end %>
          <% end %>
        </label>
        <p class="note" id="codespaces_region_auto_note">
          We will determine the closest available region based on your location (IP address) at codespace creation time.
        </p>
      </div>
      <div class="form-checkbox">
        <label class="d-flex">
          <%= radio_button_tag(
            'default_location',
            'selected',
            !current_user.codespace_default_location.nil?,
            'data-action': 'change:default-location-setting#changeManuallySelected',
            'data-target': 'default-location-setting.manualRadioButton',
            'aria-describedby': 'codespaces_region_manual_note'
          ) %>
          <div class="ml-2">Set manually</div>
          <% if show_check && !current_user.codespace_default_location.nil? %>
            <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
              <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
            <% end %>
          <% end %>
        </label>

        <label class="d-flex" for="regions">
          <p class="note" id="codespaces_region_manual_note">
            Choose your default region
          </p>
        </label>
        <% initial_selected_location = default_location_for_user.presence || current_user.codespace_default_location %>
        <%= select_tag(
          "regions",
          options_from_collection_for_select(Codespaces::Locations::Geo.public, :primary_region_id, :name, initial_selected_location),
          'data-target': 'default-location-setting.regionSelect',
          'data-action': 'change:default-location-setting#regionSelected',
          'disabled': current_user.codespace_default_location.nil?,
          'class': 'mt-3'
        ) %>
      </div>
    <% end %>
  </default-location-setting>
</div>
