<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% show_check = defined?(show_check) ? show_check : false %>

<div data-replace-remote-form-target <%= test_selector("user-dotfiles-panel") %>>
  <%= render Primer::Beta::Subhead.new(display: :flex, justify_content: :space_between) do |component| %>
    <% component.with_heading(tag: :div) do %>
      <h2 class="d-inline-block h2 text-normal">
        Dotfiles
      </h2>
    <% end %>
  <% end %>
  <%= form_tag settings_user_codespaces_dotfiles_enabled_path, method: :put, **test_selector_data_hash("codespaces-user-settings-form") do %>
    <div class="form-checkbox">
      <label class="d-flex">
        <%= check_box_tag \
          'codespace_dotfiles_enabled',
          true,
          current_user.codespace_dotfiles_enabled?,
          "data-autosubmit": "",
          "aria-describedby": "codespaces_dotfiles_description" %>
        <div class="ml-2">Automatically install dotfiles</div>
        <% if show_check %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
      </label>
      <p class="note" id="codespaces_dotfiles_description">Codespaces can automatically install your dotfiles into every codespace you create. <a class="Link--inTextBlock" href="<%= docs_url "codespaces/dotfiles-for-codespaces" %>">Learn how to set up your dotfiles for Codespaces.</a></p>
    </div>
  <% end %>
  <% if current_user.codespace_dotfiles_enabled? %>
    <% if user_feature_enabled?(:primer_experimental_selectpanel_codespaces_dotfile) %>
      <div class="d-flex flex-items-center gap-3 ml-4 mb-4">
        <%= render(Primer::Alpha::SelectPanel.new(
          id: "settings_user_codespaces_update_dotfiles_repo",
          title: "Select repository",
          no_results_label: "No matching repositories.",
          dynamic_label: true,
          src: dotfiles_repository_select_codespaces_path(repos_owned_by: current_user.id),
        )) do |menu| %>
          <% menu.with_show_button(
            "aria-label": current_user.codespace_dotfiles_repository.present? ? "Select repository: #{current_user.codespace_dotfiles_repository.full_name}" : "Select Repository"
          ) do |button| %>
            <% button.with_leading_visual_icon(icon: :repo) %>
            <% button.with_trailing_action_icon(icon: :"triangle-down") %>
            <% if current_user.codespace_dotfiles_repository.present? %>
              <%= current_user.codespace_dotfiles_repository.full_name %>
            <% else %>
              Select repository
            <% end %>
          <% end %>
        <% end %>
        <div role="alert" aria-live="polite" aria-atomic="true">
          <% if defined?(flash_message)%>
            <% if flash_message[:scheme] == :success %>
              <div class="color-fg-success">
                <%= render Primer::Beta::Octicon.new(icon: 'check-circle') %> <%= flash_message[:message] %>
              </div>
            <% else %>
              <div class="color-fg-danger"> <%= flash_message[:message] %> </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= form_tag settings_user_codespaces_update_dotfiles_repository_path, method: :put, class: "d-flex flex-column min-height-0 js-codespaces-update-dotfiles-repo-form" do %>
        <div class="form-checkbox mt-0">
          <div class="d-flex flex-items-center">
            <details class="select-menu details-reset details-overlay mb-2">
                <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
                  <%= render Primer::Beta::Octicon.new(icon: 'repo') %>
                  <% if current_user.codespace_dotfiles_repository.present? %>
                    <span>
                      <%= current_user.codespace_dotfiles_repository.full_name %>
                    </span>
                  <% else %>
                    <span>Select repository</span>
                  <% end %>
                <% end %>
                <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                  <div class="select-menu-filters">
                    <div class="select-menu-text-filter">
                      <remote-input
                        aria-owns="dotfiles-repository-menu-list"
                        src="<%= dotfiles_repository_select_codespaces_path(repos_owned_by: current_user.id) %>">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search for a repository"
                          aria-label="Search for a repository"
                          autocomplete="off"
                          autofocus>
                      </remote-input>
                    </div>
                  </div>
                  <div class="select-menu-list" id="dotfiles-repository-menu-list">
                  </div>
                </details-menu>
            </details>
            <div class="ml-2" role="alert">
            <% if defined?(flash_message)%>
                <% if flash_message[:scheme] == :success %>
                  <p class="color-fg-success">
                    <%= render Primer::Beta::Octicon.new(icon: 'check-circle') %> <%= flash_message[:message] %>
                  </p>
                <% else %>
                  <p class="color-fg-danger"> <%= flash_message[:message] %> </p>
                <% end %>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
