<% show_check = defined?(show_check) ? show_check : false %>

<div data-replace-remote-form-target>
  <%= render Primer::Beta::Subhead.new(display: :flex, justify_content: :space_between) do |component| %>
    <% component.with_heading(tag: :h2) do %>Editor preference
    <% end %>
  <% end %>

  <%= form_tag settings_user_codespaces_preferred_editor_path, method: :put, **test_selector_data_hash("codespaces-user-settings-form") do %>
    <% if show_error %>
      <p class="color-fg-danger">Your editor preference could not be updated. Please contact support.</p>
    <% end %>

    <div class="form-checkbox">
      <label class="d-flex">
        <%= radio_button_tag \
            'codespace_preferred_editor',
            Codespaces::Settings::PREFERRED_EDITOR_VSCODE,
            current_user.codespace_preferred_editor == Codespaces::Settings::PREFERRED_EDITOR_VSCODE,
            "data-autosubmit": "",
            "aria-describedby": "codespaces_editor_preference_vscode_note" %>
        <div class="ml-2">Visual Studio Code</div>
        <% if show_check && current_user.codespace_preferred_editor == Codespaces::Settings::PREFERRED_EDITOR_VSCODE %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
      </label>
      <p class="note" id="codespaces_editor_preference_vscode_note">
        Connect to the cloud from your local desktop client. Requires <a class="Link--inTextBlock" href="https://code.visualstudio.com/download/">Visual Studio Code</a> with the <a class="Link--inTextBlock" href="https://marketplace.visualstudio.com/items?itemName=GitHub.codespaces">GitHub Codespaces</a> extension.
      </p>
    </div>

    <div class="form-checkbox">
      <label class="d-flex">
        <%= radio_button_tag \
            'codespace_preferred_editor',
            Codespaces::Settings::PREFERRED_EDITOR_VSCODE_WEB,
            current_user.codespace_preferred_editor == Codespaces::Settings::PREFERRED_EDITOR_VSCODE_WEB,
            "data-autosubmit": "",
            "aria-describedby": "codespaces_editor_preference_browser_note"%>
        <div class="ml-2">Visual Studio Code for the Web</div>
        <% if show_check && current_user.codespace_preferred_editor == Codespaces::Settings::PREFERRED_EDITOR_VSCODE_WEB %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
      </label>
      <p class="note" id="codespaces_editor_preference_browser_note">
        Edit and preview changes straight from the browser.
      </p>
    </div>

    <div class="form-checkbox">
      <label class="d-flex">
        <%= radio_button_tag \
            'codespace_preferred_editor',
            Codespaces::Settings::PREFERRED_EDITOR_JETBRAINS,
            current_user.codespace_preferred_editor == Codespaces::Settings::PREFERRED_EDITOR_JETBRAINS,
            "data-autosubmit": "",
            "aria-describedby": "codespaces_editor_preference_jetbrains_note" %>
        <div class="ml-2">JetBrains Gateway</div>
        <% if show_check && current_user.codespace_preferred_editor == Codespaces::Settings::PREFERRED_EDITOR_JETBRAINS %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
        <%= render Primer::Beta::Label.new(scheme: :success, title: "Beta", ml: 1) do %>Beta<% end %>
      </label>
      <p class="note" id="codespaces_editor_preference_jetbrains_note">
      <%# TODO: ERE open in JB -- need to update the plugin link once plugin publicly published? %>
        Connect to the cloud from your local desktop client. Requires the <a class="Link--inTextBlock" href="https://www.jetbrains.com/remote-development/gateway/">JetBrains Gateway</a> with the <a class="Link--inTextBlock" href="https://plugins.jetbrains.com/plugin/20060-github-codespaces">GitHub Codespaces</a> plugin, and a JetBrains license.
      </p>
    </div>

    <div class="form-checkbox">
      <label class="d-flex">
        <%= radio_button_tag \
            'codespace_preferred_editor',
            Codespaces::Settings::PREFERRED_EDITOR_JUPYTER,
            current_user.codespace_preferred_editor == Codespaces::Settings::PREFERRED_EDITOR_JUPYTER,
            "data-autosubmit": "",
            "aria-describedby": "codespaces_editor_preference_jupyterlab_note" %>
        <div class="ml-2">JupyterLab</div>
        <% if show_check && current_user.codespace_preferred_editor == Codespaces::Settings::PREFERRED_EDITOR_JUPYTER %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
        <%= render Primer::Beta::Label.new(scheme: :success, title: "Beta", ml: 1) do %>Beta<% end %>
      </label>
      <p class="note" id="codespaces_editor_preference_jupyterlab_note">
        Edit and run notebooks from the browser with JupyterLab.
      </p>
    </div>

  <% end %>
</div>
