<% show_check = defined?(show_check) ? show_check : false %>

<div data-replace-remote-form-target>
  <%= render Primer::Beta::Subhead.new(display: :flex, justify_content: :space_between) do |component| %>
    <% component.with_heading(tag: :h2) do %>GPG verification
    <% end %>
  <% end %>

  <p>
    Codespaces can have GPG commit signing capabilities so that GitHub can verify that commits made in the codespace come from a trusted source.
    When enabled, this setting will be applied to your list of trusted repositories.
  </p>

  <%= form_tag settings_user_codespaces_gpg_authorization_path, method: :put, **test_selector_data_hash("codespaces-user-settings-form") do %>
    <div class="form-checkbox">
      <label class="d-flex">
        <%= check_box_tag \
            'gpg_authorization',
            Configurable::GpgAuthorization::ENABLED,
            current_user.gpg_authorization == Configurable::GpgAuthorization::ENABLED,
            "data-autosubmit": "",
            "aria-describedby": "codespaces_gpg_note" %>
        <div class="ml-2">Enable</div>
        <% if show_check %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
      </label>
      <p class="note" id="codespaces_gpg_note">
        GPG signing will be available in Codespaces
      </p>
    </div>
  <% end %>

</div>
