<div data-replace-remote-form-target>
  <%= render Primer::Beta::Subhead.new(display: :flex, justify_content: :space_between) do |component| %>
    <% component.with_heading(tag: :h2) do %>Host image version preference
    <% end %>
  <% end %>

  <%= form_tag settings_user_codespaces_preferred_host_image_path, method: :put, **test_selector_data_hash("codespaces-user-settings-form") do %>
    <% if show_error %>
      <p class="color-fg-danger">Your host image version preference could not be updated. Please contact support.</p>
    <% end %>

    <p>
    The host image defines the operating system in which development containers run. These images receive periodic upgrades for security, functionality, and performance.
    GitHub Codespaces offers early access to beta images to ensure compatibility with existing development container configurations.
    Any codespace created or resumed after changing this setting will use the specified image configuration. <a class="Link--inTextBlock" href="<%= "#{GitHub.help_url}/codespaces/setting-your-user-preferences/choosing-the-stable-or-beta-host-image" %>">Learn more about host images</a>.
    </p>

    <div class="form-checkbox">
      <label class="d-flex">
        <%= radio_button_tag \
            'codespace_preferred_host_image',
            Codespaces::Settings::PREFERRED_HOST_IMAGE_STABLE,
            current_user.codespace_preferred_host_image == Codespaces::Settings::PREFERRED_HOST_IMAGE_STABLE,
            "data-autosubmit": "" %>
        <div class="ml-2">Stable</div>
        <% if show_check && current_user.codespace_preferred_host_image == Codespaces::Settings::PREFERRED_HOST_IMAGE_STABLE %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
      </label>
      <p class="note">
        Always use the latest stable configuration.
      </p>
    </div>

    <div class="form-checkbox">
      <label class="d-flex">
        <%= radio_button_tag \
            'codespace_preferred_host_image',
            Codespaces::Settings::PREFERRED_HOST_IMAGE_BETA,
            current_user.codespace_preferred_host_image == Codespaces::Settings::PREFERRED_HOST_IMAGE_BETA,
            "data-autosubmit": "" %>
        <div class="ml-2">Beta</div>
        <% if show_check && current_user.codespace_preferred_host_image == Codespaces::Settings::PREFERRED_HOST_IMAGE_BETA %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
      </label>
      <p class="note">
        Use a beta image configuration when available. Otherwise, use the latest stable configuration.
      </p>
    </div>

  <% end %>
</div>
