<% show_check = defined?(show_check) ? show_check : false %>

<div data-replace-remote-form-target>
  <%= render Primer::Beta::Subhead.new(display: :flex, justify_content: :space_between) do |component| %>
    <% component.with_heading(tag: :h2) do %>Settings Sync
    <% end %>
  <% end %>

  <p>
    By enabling, your codespaces will be able to pull from VS Code Settings Sync service and push only for the trusted repositories you specify.
    Only enable this for repositories that you trust.
  </p>

  <%= form_tag settings_user_codespaces_settings_sync_authorization_path, method: :put, **test_selector_data_hash("codespaces-user-settings-form") do %>
    <div class="form-checkbox">
      <label class="d-flex">
        <%= check_box_tag \
            'codespaces_settings_sync_authorization',
            Configurable::CodespacesSettingsSyncAuthorization::ENABLED,
            current_user.codespaces_settings_sync_authorization == Configurable::CodespacesSettingsSyncAuthorization::ENABLED,
            "data-autosubmit": "",
            "aria-describedby": "codespaces_settings_sync_note" %>
        <div class="ml-2">Enable</div>
        <% if show_check %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
      </label>
      <p class="note" id="codespaces_settings_sync_note">
        VS Code Settings Sync will be available in Codespaces
      </p>
    </div>
  <% end %>
</div>
