<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% show_check = defined?(show_check) ? show_check : false %>

<div data-replace-remote-form-target>
  <%= render Primer::Beta::Subhead.new(display: :flex, justify_content: :space_between) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <%= render Primer::Box.new(display: :flex, align_items: :center) do %>
        Access and security <%= render(Primer::Beta::Label.new(scheme: :attention, ml: 2)) { "Deprecated" } %>
      <% end %>
    <% end %>
  <% end %>

  <p>
    Codespaces you create for your personal account can either be restricted to accessing the repository it was opened for,
    or granted read access to other repositories you own.
  </p>

  <% if defined?(flash_error) && flash_error %>
    <%= render(Primer::Beta::Flash.new(scheme: :danger, mt: 5)) do %>
      <%= flash_error %>
    <% end %>
  <% end %>
  <% disabled = current_user.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::DISABLED %>

  <%= form_tag settings_user_codespaces_update_trusted_repositories_access_path, method: :put, **test_selector_data_hash("codespaces-user-settings-form") do %>
    <div class="form-checkbox">
      <label class="d-flex">
        <%= radio_button_tag \
            'trusted_repositories_access',
          Configurable::CodespaceTrustedRepositories::DISABLED,
          current_user.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::DISABLED,
          disabled: disabled,
          "data-autosubmit": "" %>
        <div class="ml-2">Disabled</div>
        <% if show_check && current_user.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::DISABLED %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
      </label>
      <p class="note">
        Limit access of personal Codespaces to the repository they were opened for
      </p>
    </div>

    <div class="form-checkbox">
      <label class="d-flex">
        <%= radio_button_tag \
            'trusted_repositories_access',
          Configurable::CodespaceTrustedRepositories::ALL_REPOS,
          current_user.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::ALL_REPOS,
          disabled: disabled,
          "data-autosubmit": "" %>
        <div class="ml-2">All repositories</div>
        <% if show_check && current_user.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::ALL_REPOS %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
      </label>
      <p class="note">
        All Codespaces can access other repositories I own
      </p>
    </div>

    <div class="form-checkbox">
      <label class="d-flex">
        <%= radio_button_tag \
            'trusted_repositories_access',
          Configurable::CodespaceTrustedRepositories::SELECTED_REPOS,
          current_user.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::SELECTED_REPOS,
          disabled: disabled,
          "data-autosubmit": "" %>
        <div class="ml-2">Selected repositories</div>
        <% if show_check && current_user.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::SELECTED_REPOS %>
          <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
            <%= render Primer::Beta::Octicon.new(icon: "check-circle", size: :small, pt: 1, ml: 2, text: :green) %>
          <% end %>
        <% end %>
      </label>
      <p class="note">
        Personal Codespaces created for specific repositories can access other repositories I own
      </p>

      <% if current_user.codespace_trusted_repositories_access == Configurable::CodespaceTrustedRepositories::SELECTED_REPOS %>
        <div class="mt-2 position-relative">
          <details class="select-menu details-reset details-overlay mb-2">
            <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
              <%= render Primer::Beta::Octicon.new(icon: 'repo') %>
              <span>Select repositories</span>
            <% end %>
            <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="select-menu-filters">
                <div class="select-menu-text-filter">
                  <remote-input
                    aria-owns="trusted-repository-menu-list"
                    src="<%= trusted_repository_select_codespaces_path(repos_owned_by: current_user.id) %>">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Search for a repository"
                      aria-label="Search for a repository"
                      autocomplete="off"
                      autofocus>
                  </remote-input>
                </div>
              </div>
              <div class="select-menu-list" id="trusted-repository-menu-list">
              </div>
            </details-menu>
          </details>
          <div class="text-small color-fg-muted mb-3">
            Selected <%= trusted_repositories.length %> repositories.
          </div>

          <% trusted_repositories.each do |repository| %>
            <div class="mini-repo-list-item css-truncate pr-3">
              <%= render Primer::Beta::Octicon.new(icon: repository.repo_type_icon, classes: "repo-icon") %>
              <button type="submit" name="repo" data-autosubmit value="<%= repository.id %>" class="float-right btn-link Link--muted" aria-label="Remove <%= repository %>">
                <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
              </button>

              <span class="repo-and-owner css-truncate-target">
                <span class="owner css-truncate-target"><%= repository.owner %></span>/<span class="repo"><%= repository %></span>
              </span>
            </div>
          <% end %>
        </div>
      <%end %>
    </div>
  <% end %>
</div>
