<%= render Primer::Beta::Subhead.new(spacious: spacious, id: "mobile_sessions") do |component| %>
  <% component.with_heading(tag: :h2) do %>GitHub Mobile sessions<% end %>
<% end %>

<% if user.gh_mobile_auth_enabled? && user.display_mobile_device_auth_keys.any? %>
  <p>This is a list of devices that have logged into your account via the GitHub Mobile app. Revoke any session that you do not recognize or you can
    <a class="Link--inTextBlock" target="_blank" rel="noopener noreferrer" href="<%= GitHub.help_url %>/en/articles/reviewing-your-authorized-integrations#reviewing-your-authorized-oauth-apps">revoke</a>
    your GitHub Mobile app authorization to sign out of all your devices.</p>

  <div class="Box">
    <% user.display_mobile_device_auth_keys.each do |device| %>
      <% oauth_access = user.oauth_access_associated_to_mobile_auth_key(device.oauth_access_id) %>
      <%= render Settings::MobileDeviceAuthSessionComponent.new(device: device, oauth_access: oauth_access, style: :box) %>
    <% end %>
  </div>
<% elsif !user.gh_mobile_auth_enabled? && user.number_of_oauth_mobile_sessions > 0 %>
  <p>
    You have <%= user.number_of_oauth_mobile_sessions %> active mobile sessions. You can
    <a class="Link--inTextBlock" target="_blank" rel="noopener noreferrer" href="<%= GitHub.help_url %>/en/articles/reviewing-your-authorized-integrations#reviewing-your-authorized-oauth-apps">revoke</a>
    your GitHub Mobile app authorization to sign out of your devices.
  </p>
<% else %>
  <% campaign = user.gh_mobile_auth_enabled? ? "two-factor-authentication" : "sessions" %>
  <% if user.gh_mobile_auth_enabled? %>
    GitHub Mobile can be used to verify your identity when signing in from a new device and as a two-factor authentication method.
    <a class="Link--inTextBlock" target="_blank" rel="noopener noreferrer" href="<%= GitHub.help_url %>/en/articles/accessing-github-using-two-factor-authentication#verifying-with-github-mobile">
      Learn more about authentication with GitHub Mobile.
    </a>
  <% else %>
    GitHub Mobile allows you to manage your work on the go.
    <a class="Link--inTextBlock" target="_blank" rel="noopener noreferrer" href="<%= GitHub.help_url %>/en/get-started/using-github/github-mobile#about-github-mobile">
      Learn more about GitHub Mobile.
    </a>
  <% end %>
  <p class="mt-2">
    <%= safe_join([
      "To get started, install GitHub Mobile for ",
      safe_link_to("iOS", ios_mobile_app_store_url(campaign: campaign), target: "_blank"),
      " or ",
      safe_link_to("Android", android_mobile_app_store_url(campaign: campaign), target: "_blank"),
      " and sign in to your account."
    ]) %>
  </p>
<% end %>

