<% entry_view = AuditLog::AuditLogEntryView.new(entry, view) %>

<div class="Box-row TableObject">
  <div class="TableObject-item pr-3 v-align-top">
    <span class="avatar-parent-child member-avatar">
      <%= entry_view.link_to_actor_avatar %>
      <%= entry_view.child_avatar %>
    </span>
  </div>
  <div class="TableObject-item TableObject-item--primary audit-log-details-cont js-details-container Details" style="white-space: normal;" <%= "open" if view.audit_logs.size == 1 %>>
    <%= render partial: "audit_log/entry_warning_security_5219", locals: { entry: entry } %>
    <div class="actor-and-action">
      <span class="member-username">
        <% if entry.actor_present? %>
          <%= render(Primer::Beta::Link.new(
            id: "link-to-member-#{view.document_id(entry)}",
            href: view.search_path(actor: entry.safe_actor_login),
            role: "link",
            classes: "member-link #{'ghost' if entry.actor_deleted?}",
            data: { pjax: true }
          )) do |component| %>
              <% component.with_tooltip(text: "Filter by Member") %>
              <%= entry.safe_actor_login %>
            <% end %>
        <% else %>
          <span class="ghost">GitHub System</span>
        <% end %>
      </span>
      &ndash;
      <span class="audit-type">
        <%= render(Primer::Beta::Link.new(
          id: "action-filter-#{view.document_id(entry)}",
          href: view.search_path(action: entry.action),
          role: "link",
          data: { pjax: true }
        )) do |component| %>
          <% component.with_tooltip(text: "Filter by Action") %>
          <%= entry.action %>
        <% end %>
      </span>
    </div>

    <% if entry.impersonated? %>
      Performed on behalf of <%= entry_view.link_to_user %>
    <% end %>

    <div>
      <%= render "audit_log/action", view: entry_view %>
    </div>

    <div>
      <% if entry.display_actor_location?(current_user) %>
        <%= entry_view.actor_ip %>

        <span class="vertical-separator"></span>

        <%= entry_view.geolocation %>

        <span class="vertical-separator"></span>
      <% end %>
      <%= time_ago_in_words_js(entry.created_at) %>
      <span class="vertical-separator"></span>
      <span class="hidden-text-expander inline">
        <button type="button" aria-expanded="false" aria-label="Show more details" class="ellipsis-expander js-details-target">&hellip;</button>
      </span>
    </div>

    <%= render partial: "audit_log/entry_details_table", locals: { entry_view: entry_view } %>
  </div>
</div>
