<%= render Primer::Beta::Subhead.new(mt: 0) do |component| %>
  <% component.with_heading(tag: :h2, id: "public-profile-heading") do %>Security log<% end %>
<% end %>

<audit-log-filter>
  <%= render "audit_log/export_flashes", view: view %>
  <%= render(Primer::Box.new(aria: {live: "assertive", atomic: true})) do %>
    <div
      id="audit-log-search-warning-container"
      class="color-bg-attention color-fg-muted width-full border p-2"
      role="alert"
      hidden
    >
    </div>
  <% end %>
  <div class="d-flex flex-justify-end mb-md-3 flex-column-reverse flex-md-row flex-items-end">
    <div class="d-flex flex-justify-start flex-auto width-full my-4 my-md-0 audit-search-form" role="search">

      <details class="details-reset details-overlay subnav-search-context" id="filters-select-menu">
        <%= render Primer::Beta::Button.new(tag: :summary, classes: "rounded-right-0 color-border-emphasis") do |c| %>
          Filters
          <% c.with_trailing_action_icon(icon: "triangle-down") %>
        <% end %>
        <details-menu class="SelectMenu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="SelectMenu-modal">
            <div class="SelectMenu-header">
              <h3 class="SelectMenu-title">Filter audit logs</h3>
              <button class="SelectMenu-closeButton" type="button" role="button" data-toggle-for="filters-select-menu">
                <%= render Primer::Beta::Octicon.new(icon: "x", aria: { label: "Close menu", hidden: false }) %>
              </button>
            </div>
            <div class="SelectMenu-list" role="menu">
              <%= render "settings/audit_log/search_filters", view: view %>
            </div>
            <a class="SelectMenu-item" role="link" href="<%= view.support_url %>" target="_blank">
              <%= render Primer::Beta::Octicon.new(icon: "link-external", mr: 2) %>
              <strong>View advanced search syntax</strong>
            </a>
          </div>
        </details-menu>
      </details>

      <%= form_tag view.search_path,
        method: :get,
        class: "subnav-search width-full js-navigation-container",
        role: "search",
        data: {
          pjax: true,
          target: "audit-log-filter.searchForm",
          action: "
            navigation:keydown:audit-log-filter#handleFormKeydownEvent
            navigation:open:audit-log-filter#handleSelectedSuggestionResultEvent
          "
        } do
      %>
        <input
          class="form-control subnav-search-input width-full js-navigation-enable"
          type="text"
          name="q"
          value="<%= view.query %>"
          placeholder="Search audit logs"
          aria-label="Search audit logs"
          autocomplete="off"
          data-target="audit-log-filter.searchInput"
          data-initial-value="<%= view.query %>"
          data-default-value=""
          data-suggestable-qualifiers="<%= view.suggestable_qualifiers.to_json %>"
          data-suggestions-path="<%= view.suggestions_path %>"
          data-filter-support-url="<%= view.support_url %>"
          data-search-warning-container="#audit-log-search-warning-container"
          data-action="
            input:audit-log-filter#updateFilterSuggestionResults
            focusin:audit-log-filter#handleInputFocusIn
            focusout:delay:audit-log-filter#handleSearchBlur
            keydown:audit-log-filter#inputKey
          "
          autocomplete="off">
        <div
          class="card-filter-autocomplete-dropdown color-bg-default border rounded-2 mt-1 position-absolute overflow-auto color-bg-default width-full"
          <%= test_selector("audit-log-autocomplete-dropdown") %>
          data-target="audit-log-filter.autocompleteDropdown"
          hidden
        >
          <div class="px-2 py-1">
            <div data-target="audit-log-filter.autocompleteResults"></div>
          </div>
        </div>
        <%= primer_octicon(:search, classes: 'subnav-search-icon') %>
      <% end %>
    </div>

    <% unless view.hide_export_buttons?(current_user) %>
      <%= render "audit_log/export", view: view %>
    <% end %>
  </div>
</audit-log-filter>
