<a href="<%= view.search_path_query(q: view.yesterdays_activity_query) %>"
   class="SelectMenu-item"
   role="menuitemradio"
   aria-checked="<%= view.query == view.yesterdays_activity_query %>"
   data-pjax>

  <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
  Yesterday's activity
</a>

<a href="<%= view.search_path_query(q: view.repository_management_query) %>"
   class="SelectMenu-item"
   role="menuitemradio"
   aria-checked="<%= view.query == view.repository_management_query %>"
   data-pjax>

  <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
  Repository management
</a>

<% if GitHub.billing_enabled? %>
  <a href="<%= view.search_path_query(q: view.billing_updates_query) %>"
     class="SelectMenu-item"
     role="menuitemradio"
     aria-checked="<%= view.query == view.billing_updates_query %>"
     data-pjax>

    <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
    Billing updates
  </a>
<% end %>

<% if GitHub.copilot_enabled? %>
  <a href="<%= view.search_path_query(q: view.copilot_activity_query) %>"
     class="SelectMenu-item"
     role="menuitemradio"
     aria-checked="<%= view.query == view.copilot_activity_query %>"
     data-pjax>

    <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
    Copilot activity
  </a>
<% end %>

<% if current_user.patsv2_enabled? %>
  <a href="<%= view.search_path_query(q: view.pat_activity_query) %>"
    class="SelectMenu-item"
    role="menuitemradio"
    aria-checked="<%= view.query == view.pat_activity_query %>"
    data-pjax>

    <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
    Personal access token activity
  </a>
<% end %>
