<% page_info title: "Audit log", selected_link: :settings_user_audit_log_export_logs_path,
  stafftools: stafftools_user_path(current_user)%>
<%= render layout: "settings/settings",
  locals: {
    title: "Audit log",
    container_attributes: "itemscope itemtype='http://schema.org/User'"
  } do %>


  <% if GitHub.audit_log_export_enabled? && GitHub.flipper[:audit_log_export_logs].enabled?(current_user) %>
    <%= render "settings/audit_log/tabs" %>

    <% if GitHub.flipper[:audit_log_react].enabled?(current_user) %>
      <% path = urls.settings_user_audit_log_export_path(current_user, format: :json) %>
      <%= render_react_partial name: "audit-log-export-logs", ssr: false, props: {
        exports: json_exports, \
        webExportUrl: path, \
        chunksPerDownload: chunks_per_download, \
        downloadWebExportUrl: download_web_export_url, \
        downloadGitExportUrl: "", \
        showGitExportButton: false \
      } %>
    <% else %>
      <div class="Box">
        <div class="Box-header">
          <h3 class="Box-title">
            Recent Exports
          </h3>
        </div>

        <% if exports.blank? %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_heading(tag: :h2) do %>
              We couldn’t find any exports.
            <% end %>
          <% end %>
        <% else %>
          <% exports.each do |export| %>
            <div class="Box-row TableObject test-audit-log-export">
              <div class="TableObject-item pr-3">
                <span class="avatar-parent-child member-avatar">
                  <%= avatar_for(export.actor, 20, class: "avatar") %>
                </span>
              </div>
              <div class="TableObject-item TableObject-item--primary" style="white-space: normal;">
                <div class="actor-and-action">
                  <span class="member-username">
                    <%= export.actor.display_login %>
                  </span>
                  &ndash;
                  <span class="audit-type">
                    export
                  </span>
                </div>
                <div class="test-requested-filters-status">
                  Requested: <%= time_ago_in_words_js(export.created_at) %>
                  <span class="vertical-separator"></span>
                  <% unless export.phrase&.strip.blank? %>
                    Query: <%= export.phrase %>
                    <span class="vertical-separator"></span>
                  <% end %>
                  <% if export.completed %>
                    <% if export.created_at < 1.week.ago %>
                      Expired
                    <% else %>
                      Complete
                      <%= render partial: "audit_log/export_download", locals: { export: export, chunks_per_download: chunks_per_download } %>
                    <% end %>
                  <% else %>
                    <% if export.expired %>
                      Expired
                    <% else %>
                      In Progress
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
