<%# view is an instance of Settings::AuditLog::IndexPageView %>

<% page_info title: view.page_title, class: "page-account" %>

<%= render layout: "settings/settings" do %>
  <% if view.show_feedback_survey %>
    <%= render AuditLog::FeedbackLinkComponent.new(
      survey_id: "audit-log-user-feedback-survey",
      mb: 3,
    ) do |component| %>
      <% component.with_heading(tag: :h3, font_size: 4) do %>
        Can you give us some feedback?
      <% end %>
      <% component.with_description do %>
        Tell us how you're using the audit log. <%= render(Primer::Beta::Link.new(href: AuditLog::FeedbackLinkComponent::FEEDBACK_SCHEDULING_URL, classes: "Link--inTextBlock")) { "Book some time" } %> with us to share how you're using the audit log and share any feedback you may have.
      <% end %>
    <% end %>
  <% end %>
  <%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
    classes: "Box mb-1",
    container_classes: "mb-2",
    resource_label: "audit-log events",
    cap_filter: cap_filter,
    accounts: current_user&.direct_and_indirect_orgs,
  ) %>
  <%= render "settings/audit_log/tabs" %>
  <div id="audit-log-search" class="audit-log-search" data-hpc>
    <%= render "audit_log/results_fragment", view: view %>
  </div>
<% end %>
