<%
  page_info title: "GitHub Copilot",
            responsive: false,
            selected_link: :organization_copilot_settings_custom_instructions
%>
<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :div) do %>
      <h1 class="d-inline-block h2 text-normal">
        Customization
      </h1>
    <% end %>
    <% component.with_actions do %>
      <%= render Primer::Beta::Button.new(size: :small, "data-confirm": "Not implemented yet.") do %>
        Test customization
      <% end %>
    <% end %>
  <% end %>

  <p class="fgColor-muted">
    Teach Copilot your coding standards, languages, and frameworks. Keep
    instructions high-level, not about specific workflows. Instructions apply to
    all queries once saved and may not work perfectly. Press the test
    customization button to test.
  </p>

  <div class="d-flex width-full">
    <%= form_with model: custom_instructions,
        url: settings_org_copilot_custom_instructions_path(current_organization),
        class: "width-full",
        method: :post do |f| %>
        <dl class="form-group">
          <dt><%= f.label :prompt, "Preferences and instructions" %></dt>
          <dd class="js-copilot-custom-instructions-wrapper">
            <div class="position-relative">
              <%= f.text_area :prompt,
                      placeholder: "Enter custom instructions",
                      class: "form-control bgColor-default pb-7",
                      "data-copilot-custom-instructions-character-limit" => Copilot::CustomInstructions::CHAR_LIMIT %>
              <%= render(Primer::Alpha::ActionList.new(
                position: :absolute,
                p: 2,
                display: :flex,
                flex_direction: :row,
                classes: "bgColor-default rounded",
                style: "bottom: 2px; left: 2px;"
              )) do |list| %>
                <% suggestions.each do |label, suggestion| %>
                  <% list.with_item(
                    label: label,
                    href: "#",
                    border: true,
                    classes: "bgColor-default js-copilot-suggested-custom-instruction",
                    mr: 2,
                    "data-copilot-custom-instructions-suggestion-text": suggestion,
                  ) do |item| %>
                    <% item.with_leading_visual_icon(icon: :"plus-circle") %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <span class="FormControl-caption js-copilot-custom-instructions-character-counter">
              <span class="js-copilot-custom-instructions-character-count">0</span>
              /
              <%= Copilot::CustomInstructions::CHAR_LIMIT %> characters
            </span>
          </dd>
        </dl>


        <div class="mt-4 d-flex flex-justify-between flex-items-center">
          Audit log link will go here

          <div>
            <%= render Primer::Beta::Button.new(mr: 2, disabled: true, classes: "js-copilot-discard-custom-instructions").with_content("Discard changes") %>
            <%= render Primer::Beta::Button.new(scheme: :primary, type: :submit).with_content("Save changes") %>
          </div>
        </div>
    <% end %>
  </div>
<% end %>
