<% page_info \
  title: "Topics · The ReadME Project",
  description: "",
  class: "readme-project header-dark",
  richweb: {
    title: "Topics · The ReadME Project",
    url: request.original_url,
    description: "",
    image: image_path("modules/site/social-cards/readme-project.jpg")
  }
%>

<div class="js-details-container">
  <div class="position-relative width-full pt-8 pt-md-9 overflow-hidden">
    <div class="container-readme p-responsive-readme">
      <div class="position-relative pt-8 pt-md-9 pb-7">
        <%= render "site/readme/shared/navbar_hero" %>

        <h1 class="pt-6 pt-md-9 pb-3 readme-heading-0">
          Topics
        </h1>
      </div>
    </div>
  </div>

  <div class="js-build-in pb-3 pb-md-8" data-build-margin-bottom="90">
    <div aria-hidden="true">
    <%# We want to disable keyboard tabbing by setting `remove_keyboard_focus` since this page renders two of the same navigation bars. This will prevent the user from tabbing through the navigation bar twice. %>
      <%= render "site/readme/shared/navbar_dropdown", remove_keyboard_focus: true %>
    </div>

    <%= render(Site::Readme::Shared::NavComponent.new(topics: page_data[:navigation_topics])) %>

    <div class="container-readme p-responsive-readme mb-n8 mb-md-n10">
      <%= render(Site::Readme::Topics::TopicsComponent.new(topics_with_stories: page_data[:topics_with_stories])) %>
    </div>
  </div>

  <%= render "site/readme/shared/about" %>
</div>
