<% page_info \
  title: "#{page_data[:topic][:name]} · The ReadME Project",
  description: page_data[:topic][:meta_text],
  class: "readme-project header-dark",
  richweb: {
    title: "#{page_data[:topic][:name]} · The ReadME Project",
    url: request.original_url,
    description: page_data[:topic][:meta_text],
    image: image_path("modules/site/social-cards/readme-project.jpg")
  }
%>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= render "site/readme/shared/structured_data", url: readme_topic_url(page_data[:topic][:slug]), name: page_data[:topic][:name] %>
<% end %>

<div class="js-details-container">
  <%= render Site::Readme::Topics::HeroComponent.new(topic: page_data[:topic]) %>

  <div class="js-build-in" data-build-margin-bottom="90">
    <%= render "site/readme/shared/navbar_dropdown" %>

    <%= render Site::Readme::Shared::NavComponent.new(topics: page_data[:navigation_topics]) %>

    <% cache page_data[:stories_cache_key] do %>
      <% stories = Site::Contentful::Readme::Topic.find_stories_for(page_data[:topic][:id]).map(&:to_json) %>

      <%= render Site::Readme::Topics::StoryListComponent.new(topic: page_data[:topic], stories: stories) %>
    <% end %>
  </div>

  <%= render "site/readme/shared/about" %>
</div>
