<% resource_count_message = move_work_resources_count_message(count_by_type["Repository"].to_i, count_by_type["Project"].to_i + count_by_type["MemexProject"].to_i) %>
<% if move_work.started? %>
  <p class="f2 mb-4">
    We're moving <%= resource_count_message %> to your <strong><%= move_work.target.name %></strong> organization...
  </p>
  <%= render(Primer::Beta::Spinner.new) %>
<% elsif move_work.completed? %>
  <p class="f2 mb-4">We successfully moved <%= resource_count_message %> to your <strong><%= move_work.target.name %></strong> organization</p>


  <%= render Sculk::MoveWork::AccessMessageComponent.new(move_work: move_work) %>

  <div class="d-flex flex-items-center">
    <% if move_work.feature.blank? || move_work.feature&.supported_by_plan?(move_work.target.plan) %>
      <%= render Primer::Beta::Button.new(tag: :a, mr: 3, href: user_path(move_work.target), scheme: :primary).with_content("Go to your organization") %>
    <% else %>
      <%= render Primer::Beta::Button.new(tag: :a, mr: 3, href: upgrade_path(plan: GitHub::Plan.business, target: "organization", org: move_work.target), scheme: :primary).with_content("Upgrade to Team") %>
    <% end %>
    <%= render Primer::Beta::Button.new(tag: :a, href: user_path(current_user)).with_content("Return to your personal profile") %>
  </div>
<% end %>
