<%= render Primer::BaseComponent.new(tag: :div, **system_arguments) do %>
  <%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
    <% component.with_heading(test_selector: "subscription-item-title") do %>
      <%= title %>
    <% end %>
    <% component.with_description(test_selector: "subscription-item-description") do %>
      <%= description %>
    <% end %>
  <% end %>
  <% if !on_free_trial? %>
    <%= render(Primer::Beta::BorderBox.new(test_selector: "subscription-actions")) do |component| %>
      <% component.with_row(display: :flex, direction: :row, align_items: :center) do %>
        <div>
          <div class="listgroup-item-title">
            Cancel advanced security subscription
          </div>
          <div class="listgroup-item-body">
            This will immediately cancel the subscription and remove Advanced Security access.
          </div>
        </div>
        <%= form_tag advanced_security_subscriptions_stafftools_enterprise_path(business), method: :patch, style: "margin-left: auto;" do %>
          <input type="hidden" name="operation_id" value="cancel">
          <%= render(Primer::Beta::Button.new(scheme: :danger, type: :submit )) { "Cancel subscription" } %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render(Primer::Beta::BorderBox.new(test_selector: "trial-actions")) do |component| %>
      <% component.with_row(display: :flex, direction: :row, align_items: :center) do %>
        <div>
          <div class="listgroup-item-title">
            End the advanced security trial
          </div>
          <div class="listgroup-item-body">
            This will immediately end the trial and remove Advanced Security access <strong>without</strong> billing the customer.
          </div>
        </div>
        <%= form_tag advanced_security_trials_stafftools_enterprise_path(business), method: :patch, style: "margin-left: auto;" do %>
          <input type="hidden" name="operation_id" value="expire_trial">
          <%= render(Primer::Beta::Button.new(scheme: :danger, type: :submit )) { "End trial" } %>
        <% end %>
      <% end %>
      <% component.with_row(display: :flex, direction: :row, align_items: :center) do %>
        <div>
          <div class="listgroup-item-title">
            Extend Advanced Security Trial
          </div>
          <div class="listgroup-item-body">
            This will extend the trial by 7 days, for a maximum of 60 days from today.
          </div>
        </div>
        <%= form_tag advanced_security_trials_stafftools_enterprise_path(business), method: :patch, style: "margin-left: auto;" do %>
          <input type="hidden" name="operation_id" value="extend_trial">
          <%= render(Primer::Beta::Button.new(scheme: :danger, type: :submit )) { "Extend trial" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

