<% if current_repository.adminable_by?(current_user) %>
  <%= render Primer::Beta::Blankslate.new do |component| %>
    <% component.with_visual_icon(icon: :package) %>
    <% component.with_heading(tag: :h3).with_content("Enable the dependency graph") %>
    <% component.with_description do %>
      Track this repository’s dependencies and sub-dependencies
      <p class="mt-3">
        The <%= render(Primer::Beta::Link.new(
          href: "#{GitHub.help_url}/github/visualizing-repository-data-with-graphs/about-the-dependency-graph#supported-package-ecosystems",
          target: :blank,
          classes: "Link--inTextBlock")) { " dependency graph" }
          %>
        is not enabled for this repository. Click on "Enable the dependency graph" below to enable it.
      </p>
      <%= render(Primer::Beta::Link.new(
        href: "#{GitHub.help_url}/site-policy/privacy-policies/github-privacy-statement",
        target: :blank)) { "Learn more about how we use your data" }
      %>
      <%= form_tag enable_dependency_graph_and_vulnerability_alerts_path, :method => :put do %>
        <%= render(Primer::Beta::Button.new(scheme: :primary, type: :submit, mt: 4, mr: :auto, ml: :auto)) { "Enable the dependency graph" } %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |component| %>
    <% component.with_visual_icon(icon: :package) %>
    <% component.with_heading(tag: :h3).with_content("The dependency graph is not enabled") %>
    <% component.with_description do %>
      <p class="mt-3">
        <% if current_repository.owner.is_a?(Organization)%>
          The dependency graph has not yet been enabled by an organization owner or a user with admin permissions for this repository.
        <% else %>
          The owner of this repository has not yet enabled the dependency graph.
        <% end %>
        Once enabled, you can <%= render(Primer::Beta::Link.new(
          href: "#{GitHub.help_url}/github/visualizing-repository-data-with-graphs/about-the-dependency-graph#supported-package-ecosystems",
          target: :blank,
          classes: "Link--inTextBlock")) { " track this repository’s dependencies" }
          %>.
        <%= render(Primer::Beta::Link.new(
          href: "#{GitHub.help_url}/site-policy/privacy-policies/github-privacy-statement",
          target: :blank,
          classes: "Link--inTextBlock")) { "Learn more about how we use your data" }
        %>
      </p>
    <% end %>
  <% end %>
<% end %>
