<% if has_ds_action_ecosystem? %>
  <%= render Primer::Beta::Blankslate.new(border: true, spacious: true) do |component| %>
  <% component.with_visual_icon(icon: :package) %>
  <% component.with_heading(tag: :h3).with_content("Add your missing dependencies with GitHub Actions") %>
  <% component.with_description do %>
    <p class="mt-3">
      Dependency graph doesn't automatically detect all dependencies for ecosystems like <em><%= action_ds_ecosystem_name %></em>.
      GitHub Actions adds your dependencies using the
      <%= render(Primer::Beta::Link.new(
        href: "#{GitHub.help_url}/code-security/supply-chain-security/understanding-your-software-supply-chain/using-the-dependency-submission-api",
        target: :blank,
        classes: "Link--inTextBlock")) { " dependency submission API" }
      %>
      so you can receive Dependabot alerts for known vulnerabilities.
    </p>
  <% end %>
  <% component.with_primary_action(href: ds_marketplace_action_link).with_content("View in Marketplace") %>
  <% end %>
<% else %>
  <%= render Primer::Beta::Blankslate.new(border: true, spacious: true) do |component| %>
    <% component.with_visual_icon(icon: :package) %>
    <% component.with_heading(tag: :h3).with_content("No dependencies found.") %>
    <% component.with_description do %>
      <p class="mt-3">
        To view your dependency graph, your repository must define dependencies in
        <%= render(Primer::Beta::Link.new(
          href: "#{GitHub.help_url}/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph#supported-package-ecosystems",
          target: :blank,
          classes: "Link--inTextBlock")) { " one of the supported manifest file types" }
        %>, like <code>package.json</code> or <code>Gemfile</code>.
      </p>
    <% end %>
  <% end %>
<% end %>
