<div class="js-feed-post-comment-form" <%= test_selector("feed-post-comment-form") %>>

  <div class="<%= class_names(
    "js-write-bucket",
    "mx-0 mt-2 mb-2 mx-md-2 hx_sm-hide-drag-drop",
    "js-reaction-suggestion",
  )%>" data-reaction-markup="Would you like to leave a reaction instead?">
    <input
      type="hidden"
      name="saved_reply_id"
      id="<%= textarea_id %>_saved_reply_id"
      class="js-resettable-field"
      value=""
      data-reset-value=""
    >

    <text-expander
      keys=": @"
      class="position-relative"
      data-mention-url="<%= user_suggestions_path %>"
      data-emoji-url="<%= emoji_suggestions_path %>"
    >
      <textarea
        name="comment[body]"
        id="<%= textarea_id %>"
        aria-label="Comment body"
        autofocus
        placeholder="Write a reply"
        data-required-trimmed="Text field is empty"
        class="<%= class_names(
          "js-comment-field js-paste-markdown js-task-list-field js-quick-submit",
          "form-control input-contrast comment-form-textarea",
          "js-size-to-fit",
          "js-local-storage-resumable",
          "js-saved-reply-shortcut-comment-field color-bg-default relative",
          "input-monospace" => use_fixed_width_font?,
        ) %>"
        dir="auto"
        <% if current_user&.paste_url_link_as_plain_text? %>data-paste-url-links-as-plain-text<% end %>
        required
      ></textarea>
    </text-expander>
  </div>

  <div class="comment-form-error mb-2 js-comment-update-error" hidden></div>
</div>
