<div data-comments>
<% if comments.any? %>
  <div class="<%= class_names(
    "js-timeline-marker",
    "color-bg-inset border-top color-border-default mt-n1",
    "rounded-bottom-2",
  ) %>" data-comments id="<%= "comments-feed-post-#{feed_post.id}" %>">
      <% if previous_comments? %>
        <%= render Primer::Beta::TimelineItem.new(
          condensed: true, pt: 0, ml: 0,
          classes: "discussion-nested-comment-paging-form",
        ) do |component| %>
          <% component.with_badge(
            icon: "kebab-horizontal",
            pb: 3, mt: 0, pt: 4,
            style: "background-color: transparent; left: 30px;",
            classes: "discussion-nested-comment-paging-badge",
          ) %>
          <% component.with_body(classes: "discussion-nested-comment-paging-form-body feed-comment-paging-form-body") do %>
            <%= form_tag(
              helpers.feed_post_comments_path(feed_post_id: feed_post.id),
              method: :get,
              class: "js-feed-post-comment-paging-form",
              "data-replace-remote-form": true,
              "data-replace-remote-form-target": "comments-feed-post-#{feed_post.id}",
            ) do %>
              <input type="hidden" name="page" value="<%= page + 1 %>">
              <input type="hidden" name="feed_post_id" value="<%= feed_post.id %>">
              <%= render Primer::Beta::Button.new(
                type: :submit,
                scheme: :link,
                mb: 2, pl: 2, pt: 2,
                test_selector: "feed-comment-comment-load-prev-replies",
                data: { disable_with: "Loading more replies..." },
              ).with_content(show_previous_replies_text) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% visible_comments.each do |comment| %>
      <%= render FeedPosts::CommentComponent.new(comment:, reaction_context:) %>
    <% end %>
  </div>
<% end %>
</div data-comments>
