<div class="TimelineItem js-comment-container js-targetable-element ml-0 py-2 pl-3 discussion-nested-comment-timeline-item discussion-primer-next-nested-comment-timeline-item" <%= test_selector("feed-post-comment") %>>
  <div class="avatar-parent-child flex-column flex-items-center TimelineItem-avatar left-0 ml-3">
    <%= helpers.avatar_for(user, 30) %>
  </div>
  <div class="timeline-comment-group discussion-comment js-discussion-comment js-minimizable-comment-group js-targetable-element TimelineItem-body discussion-nested-comment-group position-relative mt-0 pl-2">
    <div class="d-flex">
      <div class="width-full">
        <div class="timeline-comment comment previewable-edit js-task-list-container flex-auto box-shadow-none js-comment reorderable-task-lists border-0 color-bg-inset nested-discussion-timeline-comment ml-n3">
          <div class="clearfix d-flex px-3 flex-row-reverse flex-items-center border-bottom-0 color-bg-inset">
            <div class="timeline-comment-actions flex-shrink-0">
              <%= render Primer::BaseComponent.new(
                tag: :section,
                display: :flex,
                justify_content: :space_between,
                w: :full,
                aria_label: "release-interactions",
              ) do %>
                <%= render Reactions::DropdownComponent.new(
                  inline_with_reactions: false,
                  target_global_relay_id: comment.global_relay_id,
                  viewer_reactions: viewer_reaction_contents,
                  reaction_path: comment.reaction_path,
                  available_emotions: Discussion.emotions,
                  mr: 0,
                  px: 1,
                ) %>
                <% if show_report_option? %>
                  <%= render(Primer::Beta::Details.new(
                  classes: "details-overlay details-reset js-feed-item-heading-menu",
                  position: :relative,
                  display: :flex,
                  align_self: :end,
                  align_items: :flex_end,
                  test_selector: "feed-item-comment-menu")) do |c| %>
                  <% c.with_summary(button: true, scheme: :link) do %>
                    <%= render(Primer::Beta::Octicon.new(
                      :"kebab-horizontal",
                      mb: 1,
                      mx: 1,
                      classes: "feed-item-heading-menu-button",
                      aria: { label: 'feed item heading menu' },
                      test_selector: "feed-item-kebab")) %>
                  <% end %>
                  <% c.with_body(tag: :'details-menu', classes: 'dropdown-menu dropdown-menu-sw show-more-popover', style: 'width: 320px') do %>
                    <div class="js-block-user-button"></div>
                    <template>
                      <%= render Conduit::BlockButtonComponent.new(
                        actor: user,
                      ) %>
                    </template>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            </div>
            <h4 class="timeline-comment-header-text text-normal f5 pb-1 pt-0">
              <div class="d-flex flex-items-center">
                <%= render Primer::Beta::Link.new(
                  href: helpers.user_path(user),
                  font_weight: :bold,
                  scheme: :primary,
                  width: :fit,
                  classes: "author css-truncate css-truncate-target lh-condensed",
                ) do %>
                  <%= user %>
                <% end %>
                <span class="d-inline-block ml-2">
                  <%= time_ago_in_words_js created_at %>
                </span>
              </div>
            </h4>
          </div>
          <div>
            <div class="d-block color-fg-default comment-body markdown-body js-comment-body px-3 pt-0 pb-2">
              <%= body_html %>
            </div>
            <%=
              render DashboardFeed::ReactionsComponent.new(
                target_global_id: comment.global_relay_id,
                reaction_path: comment.reaction_path,
                emotions: Discussion.emotions,
                reaction_count_by_content: user_reactions,
                show_reaction_selector: false,
                viewer_reaction_contents: viewer_reaction_contents,
                emotion_data: hydro_data(
                  click_target: "feed_post_comment_emotion_button",
                ),
                selector_data: hydro_data(
                  click_target: "feed_post_comment_selector_button",
                ),
              )
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
