<feed-post>
  <%= render Primer::Alpha::Dialog.new(
    title: "Create a post",
    visually_hide_title: true,
    id: "create-feed-post-dialog",
    data: { target: "feed-post.dialog" },
    test_selector: "create-feed-post-dialog",
    style: "--overlay-height: 420px",
  ) do |d| %>
    <% d.with_show_button(
      scheme: :primary,
      ml: 2,
      display: :flex,
      aria: { label: "Create a post" },
      data: {
        action: "click:feed-post#handleDialogOpen",
      }.merge(helpers.feed_clicks_hydro_attrs(click_target: "post")),
      test_selector: "create-feed-post-button"
    ) do |b| %>
      <% b.with_leading_visual_icon(icon: :pencil) %>
      Post
    <% end %>
    <% d.with_header do %>
      <h3>Create a post</h3>
    <% end %>
    <% d.with_body(pb: 0, classes: "overflow-visible", test_selector: "create-feed-post-modal") do %>
      <div class="d-flex flex-items-center my-2" <%= test_selector("create-feed-post-user") %>>
        <%= render(Primer::Beta::Link.new(
          href: user_path(current_user),
          display: :block,
          scheme: :primary,
          underline: :none,
        )) do %>
          <%= render(Primer::Beta::Avatar.new(
            src: current_user.static_avatar_url,
            size: 32,
            alt: "@#{current_user.display_login} profile",
            box_shadow: :none,
            shape: :circle,
          )) %>
        <% end %>
        <span class="ml-2 flex-shrink-0 text-bold">
          <%= current_user.display_login %>
        </span>
      </div>
      <%= render Primer::BaseComponent.new(
        tag: :input,
        type: :hidden,
        data: {
          target: "feed-post.hiddenClose",
        }.merge(hydro_click_tracking_attributes("feed_post.cancel", {})),
      ) %>
      <%= form_for new_feed_post, :data => { :target => "feed-post.form" } do |f| %>
        <text-expander
          keys=": @ #"
          class="position-relative"
          data-mention-url="<%= user_suggestions_path %>"
          multiword="#"
          data-emoji-url="<%= emoji_suggestions_path %>"
        >
          <%= f.text_area :body,
            required: true,
            data: {
              target: "feed-post.textArea",
              action: "input:feed-post#handleTextAreaFocus",
              "embed-url": helpers.feed_post_embed_path,
            },
            style: "resize: none; height: 134px;",
            class: "form-control comment-form-textarea js-comment-field js-paste-markdown js-task-list-field js-quick-submit js-session-resumable mt-2",
            placeholder: "Share something you're working on, a cool project you found, or something you need help with"
          %>
        </text-expander>

        <%= f.hidden_field :author_id, value: current_user.id %>
        <%= f.hidden_field :owner_id, value: current_user.id %>
        <% if topics_enabled? %>
          <%= f.hidden_field :topic_id, value: active_topic&.id, class: "js-feed-post-form-selected-topic-id" %>
        <% end %>

        <%= helpers.spamurai_form_signals %>
      <% end %>
    <% end %>
    <% d.with_footer(pt: 1) do %>
      <div class="form-actions width-full">
        <%= render Primer::BaseComponent.new(
          tag: :div,
          display: :inline_flex,
          data: {
            target: "feed-post.errorMessage",
          },
          test_selector: "create-feed-post-error-message",
          hidden: true,
        ) do %>
          <%= render Primer::Beta::Octicon.new(
            icon: :"alert-fill",
            size: :small,
            mr: 2,
            color: :danger,
            display: :flex,
            data: {
              target: "feed-post.errorMessage",
            },
          ) %>
          <span data-target="feed-post.errorMessage" creation-failure-message="Failed to create post." class="text-small color-fg-danger">Please enter a message.</span>
        <% end %>
        <% if embeds_enabled? %>
          <div class="d-flex pt-2" <%= test_selector("create-feed-post-embed-preview") %>>
            <div class="flex-1" data-target="feed-post.embedPreview">
            </div>
          </div>
        <% end %>
        <% if topics_enabled? %>
          <%= hidden_field :selected_topic_name, active_topic&.name, class: "js-feed-post-form-selected-topic-name" %>
          <div class="<%= class_names(
            "d-flex flex-justify-between",
            "mt-2" => !embeds_enabled?,
          ) %>">
            <div class="d-flex flex-items-center">
              <span class="f5 color-fg-muted mr-2 lh-0">Topic</span>

              <div class="topic-tag-action mr-1 my-0 f6 js-feed-post-active-tag-wrapper" <%= "hidden" unless active_topic.present? %>>
                <span class="js-feed-post-active-tag-name"><%= active_topic&.safe_display_name %></span>
                <button type="button" class="delete-topic-button f5 no-underline ml-1 js-feed-post-active-topic-remove" tabindex="-1">
                  <%= primer_octicon(:x, "aria-label": "Remove tag") %>
                </button>
              </div>
              <div class="js-feed-post-tags" <%= test_selector("feed-post-tags-menu-wrapper") %>>
                <include-fragment src="<%= feed_post_tags_menu_path(context: params[:topic]) %>"></include-fragment>
              </div>
            </div>
            <%= render Primer::Beta::Button.new(
              scheme: :primary,
              type: :submit,
              float: :right,
              data: {
                action: "click:feed-post#handleFormSubmit",
              },
            ) do |b| %>
              <% b.with_leading_visual_icon(icon: :pencil) %>
              Post
            <% end %>
          </div>
        <% else %>
          <div>
            <%= render Primer::Beta::Button.new(
              scheme: :primary,
              type: :submit,
              mt: embeds_enabled? ? 0 : 2,
              float: :right,
              data: {
                action: "click:feed-post#handleFormSubmit",
              },
            ) do |b| %>
              <% b.with_leading_visual_icon(icon: :pencil) %>
              Post
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</feed-post>
