<% unless result.empty? %>
  <div class="d-flex mb-2 feed-post-url-embed" <%= test_selector("embed-preview") %>>
    <% if image %>
      <div style="background-image: url('<%= image %>')"
        class="d-flex flex-justify-center flex-items-center color-bg-subtle rounded-1 mr-2 preview-image"
        <%= test_selector("embed-image") %>>
      </div>
    <% else %>
      <div class="d-flex flex-justify-center flex-items-center color-bg-subtle rounded-1 mr-2 preview-image">
        <%= render(Primer::Beta::Octicon.new(:"image", test_selector: "embed-image-placeholder")) %>
      </div>
    <% end %>
    <div class="d-flex flex-column flex-1">
      <p class="h6 mb-0"><%= safe_link_to title, url, class: "Link--primary no-underline" %></p>
      <p class="text-small color-fg-muted"><%= description %></p>
    </div>
  </div>
<% end %>
