<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="timeline-inline-comments js-inline-comments-container color-bg-inset">
  <div class="js-line-comments review-thread-reply inline-comment-form-container js-inline-comment-form-container">
    <div class="inline-comment-form-actions">
      <div class="d-flex">
        <%= render(Primer::ButtonComponent.new(
          type: :button,
          scheme: :link,
          underline: false,
          block: true,
          color: :muted,
          text_align: :left,
          font_weight: :normal,
          ml: 0,
          "aria-label": "",
          test_selector: "feed-posts-write-reply",
          classes: class_names(
            "review-thread-reply-button",
            "form-control",
            "js-feed-post-comment-form-button"
          )
        )) { "Write a reply" } %>
      </div>
    </div>
    <%= form_tag(
      helpers.feed_post_comments_path(feed_post_id: post_id),
      class: "js-new-comment-form js-feed-post-comment-form",
    ) do %>
      <input id="feed-post-<%= post_id %>-comment-page" type="hidden" name="page" value="1">
      <div
        class="<%= class_names(
          "inline-comment-form inline-comment-form-box",
          "js-feed-post-comment-form-container color-bg-inset",
        ) %>"
        data-post-id="<%= post_id %>"
      >
      </div>
    <% end %>
  </div>
</div>
