<% if mobile %>
  <h2 class="f4 mb-1 text-normal d-flex flex-justify-between flex-items-center">Recent activity</h2>
  <div <%= test_selector("dashboard_recent_activity_mobile_component")%>>
    <%= render(Primer::Beta::BorderBox.new(
      bg: current_user.feature_enabled?(:feeds_v2) ? :default : nil
    )) do |component| %>
      <% component.with_row(px: 2, pt: 0, pb: 2) do %>
        <div data-issue-and-pr-hovercards-enabled data-repository-hovercards-enabled>
          <% recent_interactions.take(RECENT_ACTIVITY_ITEM_COUNT).each do |recent_interaction| %>
            <%= render Dashboard::RecentActivity::RecentInteractionComponent.new(
              interactable: recent_interaction.interactable,
              interaction: recent_interaction.interaction
            ) %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <h2 class="f5 mt-md-4 mt-0">Recent activity</h2>
  <div class="mt-2" <%= test_selector("dashboard_recent_activity_component")%>>
    <div data-issue-and-pr-hovercards-enabled data-repository-hovercards-enabled>
      <% recent_interactions.take(RECENT_ACTIVITY_ITEM_COUNT).each do |recent_interaction| %>
        <%= render Dashboard::RecentActivity::RecentInteractionComponent.new(
              interactable: recent_interaction.interactable,
              interaction: recent_interaction.interaction
            ) %>
      <% end %>
    </div>
  </div>
<% end %>
