<div class="d-flex flex-items-baseline mt-2" <%= test_selector("dashboard_recent_interaction_component")%>>
  <%= link_to(path_to_resource, data: interactable_attributes, class: "mr-2 position-relative", style: "top: 8px;") do %>
    <% if interactable.pull_request? %>
      <%= render Primer::Beta::Octicon.new(icon: pull_request_icon.octicon_name, color: pull_request_icon.primer_color, aria: { label: pull_request_icon.label }) %>
    <% else %>
      <%= render Primer::Beta::Octicon.new(icon: "issue-opened", color: :open, aria: { label: "Open issue" }) %>
    <% end %>
  <% end %>

  <div class="wb-break-word width-fit">
    <%= link_to path_to_repo, class: "d-inline-flex width-full Link--secondary f6 no-underline", data: repo_attributes do %>
      <span class="overflow-hidden no-wrap" style="max-width: 80%; text-overflow: ellipsis;"><%= interactable.repository.name_with_display_owner %></span>
    <% end %>
    <%= link_to path_to_resource, class: "color-fg-default lh-0 mb-2 markdown-title", data: interactable_attributes do %>
      <%= helpers.title_markdown(truncate(interactable.title, length: 60)) %>
    <% end %>
  </div>
</div>
