<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<% locals = ensure_local_vars(local_assigns, {
  required: [:text, :type],
  optional: [:width, :disabled, :data_disabled, :disabled_with, :custom_classes, :id, :data, :name, :value, :test_selector, :form, :hidden],
  defaults: {
    data_disabled: true
  },
  view: "signup/button"
}) %>

<button
  class="btn btn-primary btn-large signup-btn <% if locals[:custom_classes] %> <%=locals[:custom_classes]%><% end%><% if !locals[:width] %> width-full<% end%>"
  type="<%= locals[:type] %>"
  height="64px"

  <% if locals[:data_disabled] %>
    data-disable-invalid
    <% if locals[:disabled_with] %>
      data-disable-with="<%= locals[:disabled_with] %>&hellip;"
    <% end %>
  <% end %>

  <% if locals[:disabled] == true %>
    disabled
  <% end%>

  <% if locals[:hidden] == true %>
    hidden
  <% end%>

  <% if locals[:width] %>
    style="min-width: <%= locals[:width] %>px"
  <% end%>

  <% if locals[:id] %>
    id="<%= locals[:id] %>"
  <% end%>

  <% if locals[:data] %>
    <%= safe_data_attributes(locals[:data]) %>
  <% end %>

  <% if locals[:name] %>
    name="<%= locals[:name] %>"
  <% end %>

  <% if locals[:value] %>
    value="<%= locals[:value] %>"
  <% end %>

  <% if locals[:form] %>
    form="<%= locals[:form] %>"
  <% end %>

  <% if locals[:test_selector] %>
    <%= test_selector(locals[:test_selector]) %>
  <% end %>
><%# erblint:disable ButtonHasType %>
  <%= locals[:text] %>
</button>
