<%
  locals = ensure_local_vars(local_assigns, {
    required: [],
    optional: [:title, :subtitle, :sign_in_action, :description, :container_class, :yield_container_class],
    defaults: {
      container_class: "mb-4 mb-md-8 container-md",
      yield_container_class: "container-sm"
    },
    view: "signup/container"
  })
%>

<div class="p-responsive mt-4 mt-md-8">
  <div class="<%= locals[:container_class] %>" data-hpc>
    <% if locals[:subtitle] %>
      <%= signup_progress(text: subtitle) %>
    <% end %>

    <% if locals[:title] %>
      <%= signup_h1 title %>
    <% end %>
    <% if locals[:sign_in_action].present? %>
      <div class="text-center">
        Already have an account?
        <%= link_to(
          "Sign in",
          login_path(return_to: locals[:sign_in_action][:return_to]),
          rel: "nofollow",
          "data-test-selector": "sign-in-link",
          data: sign_in_link_data_attributes(location_in_page: "sign up flow"),
          class: "Link--inTextBlock"
        ) %>
      </div>
    <% end %>

    <% if locals[:description] %>
      <div class="f4 color-fg-muted text-center">
        <%= locals[:description] %>
      </div>
    <% end %>
  </div>

  <div class="<%= locals[:yield_container_class] %>">
    <%= yield %>
  </div>
</div>
