<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
locals = ensure_local_vars(local_assigns, {
  required: [:title, :description, :button_text, :button_link, :svg_path, :svg_dark_path, :event_type],
  optional: [:max_width],
  defaults: {},
  view: "signup/cta_card"
})
%>

<div class="Box col-12 mr-sm-2 d-flex flex-column mb-3" <%= "style=max-width:#{locals[:max_width]}px;" if locals[:max_width] %>>
  <%= light_or_dark_picture_tag(locals[:svg_path], locals[:svg_dark_path], style: "width: 480px; max-width: 100%; height: auto;", alt: locals[:title]) %>
  <div class="text-bold"><%= locals[:title] %></div>
  <div class="d-flex flex-column flex-justify-between flex-items-center mt-1 mb-3" style="min-height: 125px;">
    <div class="color-fg-muted px-3">
      <%= locals[:description] %>
    </div>
    <a href="<%= locals[:button_link] %>" class="btn py-2 col-10 mt-2" <%= safe_data_attributes(signup_cta_button_attributes(locals[:event_type])) %>>
      <%= locals[:button_text] %>
    </a>
  </div>
</div>
