<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% plan = GitHub::Plan.free %>

<% plan_benefits = capture do %>
  <ul class="d-lg-block flex-auto list-style-none text-left color-bg-subtle px-3 py-2 js-compare-features-item">
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          Unlimited public/private repositories
        </summary>
        <p class="f5 mt-2 color-fg-muted">Host open source projects in public GitHub repositories, accessible via web or command line. Public repositories are accessible to anyone at GitHub.com.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          2,000 CI/CD minutes/month
          <div class="color-fg-muted f6">Free for public repositories</div>
        </summary>
        <p class="f5 mt-2 color-fg-muted">Get execution minutes for hosted runners to automate your software development workflows. Write tasks and combine them to build, test, and deploy any code project on GitHub.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          500MB of Packages storage
          <div class="color-fg-muted f6">Free for public repositories</div>
        </summary>
        <p class="f5 mt-2 color-fg-muted">Host your own software packages or use them as dependencies in other projects. Both private and public hosting available.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          120 core-hours of Codespaces compute
          <div class="color-fg-muted f6">For your personal account</div>
        </summary>
        <p class="f5 mt-2 color-fg-muted">Blazing fast cloud developer environments with flexible compute and pre-configured containers, developers can code, collaborate, and debug from any browser.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          15GB of Codespaces storage
          <div class="color-fg-muted f6">For your personal account</div>
        </summary>
        <p class="f5 mt-2 color-fg-muted">Blazing fast cloud developer environments with flexible compute and pre-configured containers, developers can code, collaborate, and debug from any browser.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
     <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          New issues & projects (beta)
        </summary>
        <p class="f5 mt-2 color-fg-muted">Give your developers flexible features for project management that adapts to any team, project, and workflow—all alongside your code.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          Community support
        </summary>
        <p class="f5 mt-2 color-fg-muted">Get help with most of your GitHub questions and issues in our Community Forum.</p>
      </details>
    </li>
  </ul>
<% end %>

<%= render partial: "shared/plan_selection", locals: {
    plan: plan,
    price: price_with_localization(0),
    plan_description: "The basics for every developer",
    button_value: plan,
    plan_name: plan.name,
    plan_display_name: plan.titleized_display_name,
    selection_text: "Join for free",
    plan_benefits: plan_benefits,
    data: {ga_click: "Signup funnel plan selection, click,#{referral_labels("text: Choose Free; meta: user_id: #{current_user&.analytics_tracking_id};")}"}
  }
%>
