<% if local_assigns[:use_divs] %>
  <div class="form-group" <%= test_selector("signup-form-marketing-opt-in")%>>
    <div class="form-group-header">
      <label>Email preferences</label>
    </div>
    <div class="form-group-body">
      <label
        class="text-normal mt-2 color-fg-muted"
        <%= safe_analytics_click_attributes(category: "Sign up", action: "send email") %>
      >
        <%= check_box_tag "all_emails", true, user_can_opt_out_consent?, "data-ga-click" => "Signup funnel entrance, click, select checkbox marketing opt-in"%>
        Send me occasional product updates, announcements, and offers.
      </label>
    </div>
  </div>
<% else %>
  <dl class="form-group <%= signup_form_group_class %>" <%= test_selector("signup-form-marketing-opt-in")%>>
    <dt class="input-label mb-n2">
      <label>Email preferences</label>
    </dt>
    <dd>
      <div class="form-checkbox">
        <label
          class="text-normal mt-2 color-fg-muted"
          <%= safe_analytics_click_attributes(category: "Sign up", action: "send email") %>
        >
          <%= check_box_tag "all_emails", true, user_can_opt_out_consent?, "data-ga-click" => "Signup funnel entrance, click, select checkbox marketing opt-in"%>
          Send me occasional product updates, announcements, and offers.
        </label>
      </div>
    </dd>
  </dl>
<% end %>
