<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% plan = GitHub::Plan.pro %>

<% plan_benefits = capture do %>
  <ul class="d-lg-block flex-auto list-style-none text-left color-bg-subtle px-3 py-2 js-compare-features-item">
    <li class="position-relative pl-5 my-3">
      <span
        class="position-absolute top-0 left-0"
      >
        <%= render(Primer::Beta::Octicon.new(icon: "arrow-left", color: :default, mr: 2)) %>
      </span>
      Everything included in Free, plus...
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          Protected branches
        </summary>
        <p class="f5 mt-2 color-fg-muted">Enforce restrictions on how code branches are merged, including requiring reviews by selected collaborators, or allowing only specific contributors to work on a particular branch.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          Multiple reviewers in pull requests
        </summary>
        <p class="f5 mt-2 color-fg-muted">Assign multiple users or a team to review a pull request.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          Draft pull requests
        </summary>
        <p class="f5 mt-2 color-fg-muted">Easily discuss and collaborate on pull requests before submitting to formal review.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          Code owners
        </summary>
        <p class="f5 mt-2 color-fg-muted">Automatically request reviews – or require approval – by selected contributors when changes are made to sections of code that they own.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          Required reviewers
        </summary>
        <p class="f5 mt-2 color-fg-muted">Ensure that pull requests have a specific number of approving reviews before collaborators can make changes to a protected branch.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          Pages and Wikis
        </summary>
        <p class="f5 mt-2 color-fg-muted">Host documentation and simple websites for your project in a wiki format that contributors can easily edit either on the web or command line.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          3,000 automation minutes/month
          <div class="color-fg-muted f6">Free for public repositories</div>
        </summary>
        <p class="f5 mt-2 color-fg-muted">Get execution minutes for hosted runners to automate your software development workflows. Write tasks and combine them to build, test, and deploy any code project on GitHub.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          2GB of Packages storage
          <div class="color-fg-muted f6">Free for public repositories</div>
        </summary>
        <p class="f5 mt-2 color-fg-muted">Host your own software packages or use them as dependencies in other projects. Both private and public hosting available.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          180 core-hours of Codespaces compute
        </summary>
        <p class="f5 mt-2 color-fg-muted">Blazing fast cloud developer environments with flexible compute and pre-configured containers, developers can code, collaborate, and debug from any browser.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
          20GB of Codespaces storage
        </summary>
        <p class="f5 mt-2 color-fg-muted">Blazing fast cloud developer environments with flexible compute and pre-configured containers, developers can code, collaborate, and debug from any browser.</p>
      </details>
    </li>
    <li class="position-relative pl-5 my-3">
      <details class="signup-plan-details Details-element details-reset">
        <summary>
          <span class="position-absolute left-0 ml-2">
            <%= render(Primer::Beta::Octicon.new("chevron-right", color: :muted)) %>
          </span>
           Web-based support
        </summary>
        <p class="f5 mt-2 color-fg-muted">GitHub Support can help you troubleshoot issues you run into while using GitHub.</p>
      </details>
    </li>
  </ul>
<% end %>

<%= render partial: "shared/plan_selection", locals: {
  plan: plan,
  plan_display_name: plan.titleized_display_name,
  price: money(plan.cost_in_cents),
  price_subtitle: "per month",
  plan_description: "Advanced tools for private repos",
  plan_name: plan.name,
  selection_text: "Upgrade to #{plan.titleized_display_name}",
  plan_benefits: plan_benefits,
  disabled: current_user.has_any_trade_restrictions?,
  data: {ga_click: "Signup funnel plan selection, click, #{referral_labels("text: Choose Pro; meta: user_id: #{current_user&.analytics_tracking_id};")}"}
} %>
