<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%
  SecureHeaders.append_content_security_policy_directives(
    request,
    frame_src: [GitHub.zuora_payment_page_server]
  )
%>
<% page_info container_xl: true %>

<%= render layout: "signup/container",
  locals: {
    title: "Payment details",
    subtitle: "Confirm your subscription and billing details"
  } do %>
  <% if plan %>
    <%= render partial: "signup/plan_summary", locals: { plan: plan } %>
  <% end %>

  <%= form_for :customer, url: signup_plan_path, html: { autocomplete: "off", class: "setup-form" } do |f| %>
    <!-- Plan selection  -->
    <input type="hidden" name="plan" value="<%= plan.name %>">

   <div class="js-billing-section PaymentMethod--creditcard zuora-billing-section" <%= test_selector("signup-billing-form") %>>
      <%= f.fields_for :credit_card do |c| -%>
        <%=
          render partial: "signup/payment_methods", locals: {
            owner: current_user,
            form: c,
          }
        %>
      <% end %>
    </div>

    <!-- Submit -->
    <div class="SignUpContinueActions mx-4 mx-md-0">
      <%= render partial: "signup/button", locals: {
        text: "Next: Customize your setup",
        type: "submit",
        data: { ga_click: ga_label_with_analytics_tracking_id("Signup funnel pro payment,click,text:Next: Customize your setup;") }
      } %>
    </div>
  <% end %>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "billing" %>
<% end %>
