<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
    title: "Join GitHub",
    canonical_url: signup_url,
    container_xl: true
%>

<%
  is_enterprise_first_account = enterprise? && enterprise_first_run?
  title = is_enterprise_first_account ? "Create admin account" : "First, let's create your user account"
  subtitle = is_enterprise_first_account ? "Welcome to GitHub Enterprise" : "Join GitHub"
  sign_in_action = local_assigns[:setup_organization] && !is_enterprise_first_account ?
    { return_to: new_organization_path(plan: local_assigns[:plan], plan_duration: "year", trial_acquisition_channel: params[:trial_acquisition_channel]) } :
    {}
%>

<% content_for :head do %>
  <%= octolytics_user_tags(@user) %>
  <%= user_currency_tag %>
<% end %>

<%= render layout: "signup/container",
  locals: {
    title: title,
    subtitle: subtitle,
    sign_in_action: sign_in_action,
  } do %>
  <div class="mb-4">
    <% if Octocaptcha.new(session).show_captcha? %>
      <noscript>
        <p class="flash flash-error">GitHub requires JavaScript enabled during sign up, for our signup captcha. Please enable JavaScript during sign up.</p>
      </noscript>
    <% end %>

    <% if @hide_signup_form %>
      <%= form_tag signup_path(setup_organization: local_assigns[:setup_organization], plan: local_assigns[:plan]), method: "post", class: "js-octocaptcha-parent" do %>
        <% if params[:ref_page] %><input type="hidden" name="ref_page" value="<%= CGI.unescape(params[:ref_page]) %>"><% end %>
        <% if params[:ref_cta] %><input type="hidden" name="ref_cta" value="<%= CGI.unescape(params[:ref_cta]) %>"><% end %>
        <% if params[:ref_loc] %><input type="hidden" name="ref_loc" value="<%= CGI.unescape(params[:ref_loc]) %>"><% end %>

        <%= hidden_field_tag :trial_acquisition_channel, params[:trial_acquisition_channel] if params[:trial_acquisition_channel] %>

        <%= render partial: "shared/octocaptcha", locals: { origin_page: "github_signup", octocaptcha_timeout: @octocaptcha_timeout, captcha_demo: @captcha_demo } %>

        <%= render partial: "signup/marketing_opt_in" %>

        <%= render partial: "signup/button", locals: {
          text: "Join a free plan",
          custom_classes: "js-octocaptcha-form-submit",
          id: "signup_button",
          type: "submit",
          disabled: true,
          disabled_with: "Creating account",
        } %>
      <% end %>
    <% else %>
      <%= render partial: "signup/signup_customer_form" %>
    <% end %>
  </div>
<% end %>
