<%
page_info container_xl: true
subtitle = mobile? ? "Choose a plan" : nil
container_class = "mb-4 mb-md-8 container-xl"
yield_container_class = "container-xl"
%>

<%= render layout: "signup/container", locals: { subtitle: subtitle, container_class: container_class, yield_container_class: yield_container_class } do %>
  <%= form_for :customer, url: select_plan_path, html: { autocomplete: "off" } do |f| %>
    <div class="mb-6">
      <tab-container class="mt-md-n6">
        <div class="container-md">
          <%= render partial: "signup/plan_toggle" %>
        </div>

        <div role="tabpanel" class="container-md">
          <%= render partial: "signup/plan_cards" %>
        </div>

        <div role="tabpanel" hidden>
          <%= render partial: "organizations/signup/plans" %>
        </div>
      </tab-container>
    </div>
  <% end %>
<% end %>
