<retention-form>
  <%= form_tag @update_retention_limit_path, method: :put do %>
    <div class="form-group" data-target="retention-form.group">
      <div class="d-flex">
        <input
          class="form-control"
          type="number"
          id="retention-days"
          aria-labelledby="artifact-retention-subheading"
          aria-describedby="artifact-retention-limit-description"
          value=<%= value %>
          name="limit"
          style="width: 105px; padding-right: 45px;"
          data-target="retention-form.input"
          data-action="
            input:retention-form#validate
            blur:retention-form#validate"
          data-min="<%= Configurable::ActionsRetentionLimit::MIN %>"
          data-max="<%= upper_limit %>">
        <span style="line-height: 32px; margin-left: -46px; padding-right: 10px; vertical-align: middle">days</span>
        <%= render Primer::Beta::Button.new(ml: 2, type: :submit, "data-target": "retention-form.button", "aria-label": "Save artifact and log retention setting") do %>Save<% end %>
      </div>
      <p class="note error" data-target="retention-form.note">
        <span data-target="retention-form.maxMessage"><%= upper_limit_error %></span>
        <span data-target="retention-form.minMessage">Duration must be <%= Configurable::ActionsRetentionLimit::MIN %> or more.</span>
      </p>
    </div>
  <% end %>
</retention-form>
