<div>
  <span id="default-cache-size-subheading"><strong> <%= cache_size_limit_header %> </strong></span>
  <retention-form>
    <%= form_tag update_cache_size_path, method: :put do %>
      <div class="form-group" data-target="retention-form.group">
        <div class="d-flex">
          <input
            class="form-control"
            type="number"
            id="cache-size-limit"
            aria-labelledby="default-cache-size-subheading"
            value=<%= value %>
            name="limit"
            style="width: 105px; padding-right: 45px;"
            data-target="retention-form.input"
            data-action="
              input:retention-form#validate
              blur:retention-form#validate"
            data-min="<%= Configurable::ActionsCacheSizeLimit::MIN %>"
            data-max="<%= upper_limit %>">
          <span style="line-height: 32px; margin-left: -36px; padding-right: 10px; vertical-align: middle">GB</span>
          <%= render Primer::Beta::Button.new(ml: 2, type: :submit, "data-target": "retention-form.button", "aria-label": "Save default cache size limit") do %>Save<% end %>
        </div>
        <p class="note error" data-target="retention-form.note">
          <span data-target="retention-form.maxMessage">Cache size must be less than or equal to <%= upper_limit %> GB.</span>
          <span data-target="retention-form.minMessage">Cache size must be <%= Configurable::ActionsCacheSizeLimit::MIN %> GB or more.</span>
        </p>
      </div>
    <% end %>
  </retention-form>
  <p class="color-fg-subtle mt-n2 mb-n1 f6">
    <span>
      Your enterprise has set a maximum limit of <strong <%= test_selector("upper-limit-cache-size") %>><%= upper_limit %></strong> GB.
    </span>
    <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/actions/learn-github-actions/usage-limits-billing-and-administration#disabling-or-limiting-github-actions-for-your-repository-or-organization", classes: "Link--inTextBlock")) { " Learn more." } %>
  </p>
</div>
