<% if @entity.is_a?(Business) %>
  <div class="pr-5">
    <span id="max-cache-size-subheading"><strong>Maximum cache size limit</strong></span>
    <retention-form>
      <%= form_tag update_maximum_cache_size_path, method: :put do %>
        <div class="form-group" data-target="retention-form.group">
          <div class="d-flex">
            <input
              class="form-control"
              type="number"
              id="maximum-cache-size-limit"
              aria-labelledby="max-cache-size-subheading"
              value=<%= value %>
              name="limit"
              style="width: 105px; padding-right: 45px;"
              data-target="retention-form.input"
              data-action="
                input:retention-form#validate
                blur:retention-form#validate"
              data-min="<%= Configurable::ActionsCacheSizeLimit::MIN %>"
              data-max="<%= upper_limit %>">
            <span style="line-height: 32px; margin-left: -36px; padding-right: 10px; vertical-align: middle">GB</span>
            <%= render Primer::Beta::Button.new(ml: 2, type: :submit, "data-target": "retention-form.button", "aria-label": "Save maximum cache size limit") do %>Save<% end %>
          </div>
          <p class="note error" data-target="retention-form.note">
            <span data-target="retention-form.maxMessage">Cache size must be less than or equal to <%= upper_limit %> GB.</span>
            <span data-target="retention-form.minMessage">Cache size must be <%= Configurable::ActionsCacheSizeLimit::MIN %> GB or more.</span>
          </p>
        </div>
      <% end %>
    </retention-form>
    <p class="color-fg-subtle mt-n2 mb-n1 f6">
      <span>
        This is the maximum value a repository can set for cache size limit.
      </span>
    </p>
  </div>
<% end %>
