<div class="my-6" <%= test_selector("actions-retention-setting-component") %>>
  <h3 class="text-normal mb-2" id="retention-header"><%= header %></h3>
  <p class="mb-2">
    <span><%= description %></span>
  </p>
  <div class="pt-2">
    <div>
      <span id="artifact-retention-subheading">
        <strong>Artifact and log retention</strong>
      </span>
      <%= render Actions::Settings::ArtifactsLogsRetentionComponent.new(
        entity: @entity,
        update_retention_limit_path: @update_retention_limit_path
      ) %>
      <p class="color-fg-subtle mt-n2 f6">
        <% if @entity.is_a?(Business) %>
          <span>
            The maximum number of days artifacts and logs can be retained.
          </span>
          <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/actions/learn-github-actions/usage-limits-billing-and-administration#artifact-and-log-retention-policy", classes: "Link--inTextBlock")) { " Learn more about the artifact and log retention policy." } %>
        <% elsif @entity.is_a?(Organization) && !(@entity.plan.business_plus? || @entity.plan.enterprise?) %>
          <span id="artifact-retention-limit-description">
            You can set a maximum limit of <strong <%= test_selector("upper-limit-artifacts-and-logs-retention") %>><%= upper_limit_artifact_and_logs_retention %></strong> days.
          </span>
          <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/actions/learn-github-actions/usage-limits-billing-and-administration#artifact-and-log-retention-policy", classes: "Link--inTextBlock")) { " Learn more about the artifact and log retention policy." } %>
        <% else %>
          <span id="artifact-retention-limit-description">
            Your <%= owner_type %> has set a maximum limit of <strong <%= test_selector("upper-limit-artifacts-and-logs-retention") %>><%= upper_limit_artifact_and_logs_retention %></strong> days.
          </span>
          <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/actions/learn-github-actions/usage-limits-billing-and-administration#artifact-and-log-retention-policy", classes: "Link--inTextBlock")) { " Learn more about the artifact and log retention policy." } %>
        <% end %>
      </p>
    </div>
    <% if show_cache_size_policy? %>
      <div class="d-flex flex-column flex-md-row flex-self-stretch flex-md-self-auto">
        <%= render Actions::Settings::MaximumCacheSizeLimitComponent.new(
          entity: @entity,
        ) %>
        <%= render Actions::Settings::CacheSizeLimitComponent.new(
          entity: @entity,
        ) %>
      </div>
    <% end %>
  </div>
</div>
