<% page_info title: "Standard GitHub-hosted runners", selected_link: :actions_hosted_runners %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
      <%= link_to "Actions", stafftools_actions_path(this_business) %>
    / Standard GitHub-hosted runners
  <% end %>
<% end %>

<div class="d-flex flex-row mb-5 pb-5 border-bottom">
  <div class="mr-5 pr-5" style="flex-basis: 35%">
    <%= render(Actions::HostedRunners::HostedRunnersJobsUsageComponent.new(
      jobs: jobs,
      concurrency_limit: concurrency_limit))
    %>
  </div>

  <div class="mr-5 pr-5" style="flex-basis: 63%">
    <%= render(Actions::HostedRunners::HostedRunnersLabelsComponent.new) %>
  </div>
</div>

<div>
  <%= render(Stafftools::ActionsRunners::HostedRunnersJobListComponent.new(jobs: paginated_jobs)) %>
</div>
