<% page_info title: "Actions" %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Actions<% end %>
<% end %>

<%= render partial: "stafftools/businesses/actions/action_invocation" %>

<%# Larger-hosted runners Onboarding info %>
<div class="my-5">
  <%= render(Actions::LargerRunnersOnboardingInfoComponent.new(owner: this_business)) %>
</div>


<% if runner_groups.none? %>
<div class="Box Box--condensed mt-3">
   <div class="Box-header">
    <h3 class="Box-title">
      Runner Groups
    </h3>
  </div>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      There are no runner groups configured for this enterprise.
    <% end %>
    </div>
  <% end %>
<% else %>
    <%= render(Actions::RunnerGroupsComponent.new(
      owner: this_business,
      owner_settings: Actions::EnterpriseRunnersView.new(settings_owner: this_business, current_user: current_user),
      runner_groups: runner_groups,
      can_create_groups: false,
      can_update_groups: false,
      can_manage_runners: false,
      disabled_runner_group_ids: disabled_runner_group_ids
    )) %>
<% end %>

<% if runner_groups.none? %>
  <div class="Box Box--condensed mt-3">
   <div class="Box-header">
    <h3 class="Box-title">
      Runners
    </h3>
  </div>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      There are no runners configured for this enterprise.
    <% end %>
  </div>
  <% end %>
<% else %>
  <div class="mt-5">
    <%= render(Stafftools::ActionsRunners::RunnersListComponent.new(
      runners: runners,
      business: this_business,
      hosted_runner_group: hosted_runner_group,
      viewing_from_a_repository: false)
    ) %>
<% end %>
</div>
