<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= form_tag repos_code_nav_survey_answer_path(repository: repository.name, user_id: repository.owner_display_login) do %>
  <div>Please take a moment to help us improve the code browsing experience on GitHub.  We take your input very seriously.</div>
  <% questions.each do |question| %>
    <% if react_flag_state?(question) %>
      <% choice = question.choices[1] %>
      <%= hidden_field_tag "answers[#{question.id}][choice]", choice.id %>
    <% elsif email?(question) %>
      <div class="form-checkbox">
        <label class="text-normal">
          <% choice = question.choices.first %>
          <%= hidden_field_tag "answers[#{question.id}][choice]", choice.id %>
          <%= check_box_tag "answers[#{question.id}][other][#{choice.id}]", user.email %>
          <%= question.text %>
        </label>
      </div>
    <% else %>
      <div class="form-group my-3 <%= required?(question) && "required" %>">
        <div class="form-group-header <%= 'mb-0' if freeform?(question) %>">
          <%= label_tag "question-#{question.id}", question.text %>
        </div>
        <div class="form-group-body">
          <% if freeform?(question) %>
            <% choice = question.choices.first %>
            <%= hidden_field_tag "answers[#{question.id}][choice]", choice.id %>
            <%= text_area_tag "answers[#{question.id}][other][#{choice.id}]", "",
              id: "question-#{question.id}",
              class: "form-control mt-2",
              style: "min-height: 100px; height: 100px;",
              placeholder: "What can we do to improve the overall code browsing and editing experience on GitHub?",
              "aria-label" => question.text
            %>
          <% else %>
            <% question.choices.each do |choice| %>
              <div class="form-checkbox my-2">
                <label class="text-normal">
                  <%= radio_button_tag "answers[#{question.id}][choice]", choice.id, false, required: required?(question) %>
                  <%= choice.text %>
                </label>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if return_to.present? %>
    <%= hidden_field_tag :return_to, return_to %>
  <% end %>
  <div class="form-actions">
    <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit)) { "Submit feedback" } %>
    <%= render(Primer::ButtonComponent.new("data-close-dialog": "")) { "Cancel" } %>
  </div>
<% end %>
