<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter FlashMigrationCounter 1 %>
<div
   <%= test_selector "config-repo-call-to-action" %>
   class="flash mt-4 mb-3 d-sm-flex d-md-block"
   style="align-items: baseline">
  <% if opted_in? %>
    <%
      # If the repo is private it won't register as the org profile repository, so
      # this branch renders for users and org member profiles
    %>
    <% if private? %>
      <% if org_member_profile? %>
        <% if readme.nil? %>
          <div class="width-full">
            <p><strong><%= repository.name_with_display_owner %></strong> is a special repository.</p>
            <p>Create a <code><%= readme_path %></code> and it will appear on <%= repository.owner.safe_profile_name %>'s member profile,
            visible only to organization members.</p>
          </div>

          <%= link_to "Add a README",
            blob_new_path('', tree_name, repository) + "?#{add_readme_param}=1",
            data: {
              **analytics_click_attributes(
                category: "Org profile README",
                action: "Create README file",
                label: "view_as:member;location:configuration_repository_call_to_action"
              )
            },
            'data-test-selector' => 'config-repo-cta-add-a-readme',
            class: "btn btn-primary mt-3 mt-sm-0 mt-md-3 ml-sm-3 ml-md-0" %>
        <% else %>
          <div class="width-full">
            <p><strong><%= repository.name_with_display_owner %></strong> is a special repository.</p>
            <p>The <code><%= readme_path %></code> will appear on <%= repository.owner.safe_profile_name %>'s member profile,
            visible only to organization members.</p>
          </div>

          <%= link_to "Edit README",
            blob_edit_path(readme.path, tree_name, repository),
            data: {
              **analytics_click_attributes(
                category: "Org profile README",
                action: "Edit README file",
                label: "view_as:member;location:configuration_repository_call_to_action"
              )
            },
            'data-test-selector' => 'config-repo-cta-edit-readme',
            class: "btn btn-primary mt-3 mt-sm-0 mt-md-3 ml-sm-3 ml-md-0" %>

          <%= render Primer::ButtonComponent.new(tag: :a, href: profile_path, mt: [3, 0, 3], ml: [nil, 3, 0, 1]) do %>
            Visit profile
          <% end %>
        <% end %>
      <% else %>
        <div class="width-full">
          <p><strong><%= repository.name_with_display_owner %></strong> is
          special.</p>
          <p>If you <strong>make this a public repository</strong>, its
          <code><%= readme_path %></code> will appear on your profile.</p>
        </div>

        <%= link_to "Go to Settings",
          edit_repository_path(
            current_user,
            repository,
            params: {return_to: repository_path(repository)}
          ),
          'data-ga-click' => "Config repo, clicked Go to Settings",
          'data-test-selector' => 'config-repo-cta-go-to-settings',
          class: "btn btn-primary mt-3 mt-sm-0 mt-md-3 ml-sm-3 ml-md-0" %>
      <% end %>
    <% else %>
      <% if readme.nil? %>
        <div class="width-full">
          <p><strong><%= repository.name_with_display_owner %></strong> is a special repository.</p>
          <p>
            <% if organization? %>
              Create a <code><%= readme_path %></code> and it will appear on the organization's profile.
            <% else %>
              Its <code><%= readme_path %></code> will appear on your public profile.
            <% end%>
          </p>
        </div>

        <%= link_to "Add a README",
          blob_new_path('', tree_name, repository) + "?#{add_readme_param}=1",
          'data-ga-click' => "Config repo, clicked Add a README",
          'data-test-selector' => 'config-repo-cta-add-a-readme',
          class: "btn btn-primary mt-3 mt-sm-0 mt-md-3 ml-sm-3 ml-md-0" %>
      <% else %>
        <div class="width-full">
          <p><strong><%= repository.name_with_display_owner %></strong> is a special repository.</p>
          <p>
            <% if organization? %>
              The <code><%= readme_path %></code> will appear on the organization's profile.
            <% else %>
              Its <code><%= readme_path %></code> will appear on your public profile.
            <% end%>
          </p>
        </div>

        <%= link_to "Edit README",
          blob_edit_path(readme.path, tree_name, repository),
          'data-ga-click' => "Config repo, clicked Edit README",
          'data-test-selector' => 'config-repo-cta-edit-readme',
          class: "btn btn-primary mt-3 mt-sm-0 mt-md-3 ml-sm-3 ml-md-0" %>

        <%= render Primer::ButtonComponent.new(tag: :a, href: profile_path, mt: [3, 0, 3], ml: [nil, 3, 0, 1]) do %>
          Visit profile
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%# This branch will never render for the org profile README%>
    <% if private? %>
      <div class="width-full">
        <p><strong><%= repository.name_with_display_owner %></strong> is special.</p>
        <p>If you <strong>make this a public repository</strong>, its
        <code><%= readme_path %></code> will appear on <%= possesive_name %> profile.</p>
      </div>

      <%= button_to "Update now",
        post_profile_readme_opt_in_path(user_id: current_user.id),
        method: "post",
        'data-ga-click' => "Config repo, clicked Update now",
        'data-test-selector' => 'config-repo-cta-update-now',
        class: "btn btn-primary mt-3 mt-sm-0 mt-md-3 ml-sm-3 ml-md-0" %>
    <% else %>
      <div class="width-full">
        <p><strong><%= repository.name_with_display_owner %></strong> is now a
        special repository.</p>
        <p>You can display the README of this repository
        on your public GitHub profile.</p>
      </div>

      <%= button_to "Share to Profile",
        post_profile_readme_opt_in_path(user_id: current_user.id),
        'data-ga-click' => "Config repo, clicked Share to Profile",
        'data-test-selector' => 'config-repo-cta-share-to-profile',
        method: "post",
        class: "btn btn-primary mt-3 mt-sm-0 mt-md-3 ml-sm-3 ml-md-0" %>
    <% end %>
  <% end %>
</div>
