<%= render Primer::BaseComponent.new(
  tag: :div,
  test_selector: "contributor_footer",
  font_size: :small,
  color: :muted,
  mt: helpers.responsive? ? [3, nil, 2] : [],
  mb: helpers.responsive? ? 2 : nil,
  my: helpers.responsive? ? nil : 2,
) do %>
  <%= primer_octicon(:info, mr: 1) %>Remember, contributions to this repository should follow
  <% if any_preferred_files? %>
    its
    <% parts = [] %>
    <% if contributing_file.present? %>
      <%#
        The odd indentation here is to prevent leading and trailing newlines from being captured and mucking up the
        spacing.
      %>
      <% parts << capture do
        %><a style="text-decoration: underline" class="Link--inTextBlock" href="<%= contributing_file %>" <%= safe_link_data_attrs %>>contributing guidelines</a><%
      end %>
    <% end %>
    <% if security_policy_file.present? %>
      <% parts << capture do
        %><a style="text-decoration: underline" styleclass="Link--inTextBlock" href="<%= security_policy_file %>" <%= safe_link_data_attrs %>>security policy</a><%
      end %>
    <% end %>
    <% if code_of_conduct_file.present? %>
      <% parts << capture do
        %><a style="text-decoration: underline" class="Link--inTextBlock" href="<%= code_of_conduct_file %>" <%= safe_link_data_attrs %>>code of conduct</a><%
      end %>
    <% end %>
    <%= to_sentence(parts) %>.
  <% else %>
    our
    <a style="text-decoration: underline" class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/github-community-guidelines" <%= safe_link_data_attrs %>>GitHub Community Guidelines</a>.
  <% end %>
<% end %>
