<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Beta::Popover.new(classes: "js-notice") do |component| %>
  <% component.with_body(caret: :top_left, large: true, position: :absolute, mt: 4, classes: "Popover-message--extra-large") do %>
    <div class="d-md-flex">
      <div class="col-md-8 position-relative" style="z-index: 1;">
        <h4 class="mb-1">Welcome to your demo-repository</h4>
        <p class="f5 color-fg-muted">To help you get started, we've created a code repository in your organization, named <strong class="color-fg-default">demo-repository</strong>. You can use it to sample some of GitHub's most valuable tools.</p>
        <%= form_tag dismiss_org_notice_path(organization), method: :delete, class: "js-notice-dismiss" do %>
          <input type="hidden" name="input[organizationId]" value="<%= organization.id %>">
          <input type="hidden" name="input[forWholeOrg]" value="true">
          <input type="hidden" name="input[notice]" value="<%= User::NoticesDependency::ORGANIZATION_NOTICES[:demo_repository_notification] %>">
          <%= render(Primer::ButtonComponent.new(variant: :small, type: :submit)) { "Got it!" } %>
        <% end %>
      </div>
      <div class="d-none d-md-block col-md-4">
        <img src="<%= image_path "modules/dashboard/onboarding/mona-bg.png" %>" alt="faded background" class="d-block position-absolute top-0 right-0 col-md-7 mr-n6">
        <img src="<%= image_path "modules/dashboard/onboarding/mona-jetpack.png" %>" alt="Mona on a jetpack" class="d-block width-full position-relative">
      </div>
    </div>
  <% end %>
<% end %>
