<%# erblint:counter DeprecatedComponentsCounter 2 %>
<header class="SelectMenu-header">
  <h3 class="SelectMenu-title">Existing forks</h3>
  <button class="SelectMenu-closeButton" type="button" aria-label="Close menu" data-toggle-for="my-forks-menu-<%= repository.id %>">
    <%= render Primer::Beta::Octicon.new(icon: :x) %>
  </button>
</header>
<% if !all_existing_forks.any? %>
  <div class="p-2 pl-3">
    You don't have any forks of this repository.
  </div>
<% else %>
  <div class="overflow-y-auto"  style="max-height:340px">
    <% all_existing_forks.each do |fork| %>
      <%= render(Primer::ButtonComponent.new(
        classes: "SelectMenu-item flex-items-start",
        style: "white-space: normal",
        border: 0,
        border_radius: 0,
        tag: :a,
        href: repository_path(fork),
        role: "menuitem",
      )) do |c| %>
        <%= render(GitHub::AvatarComponent.new(actor: fork.owner, size: 20, mr: 2)) %>
        <span class="text-small text-normal wb-break-all"><%= fork.name_with_display_owner %></span>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if can_fork %>
  <footer class="SelectMenu-footer p-0 position-sticky">
    <%= render(Primer::ButtonComponent.new(
      tag: :a,
      href: fork_select_path(repository.owner_display_login, repository.name),
      data: fork_button_data_attributes(repository, helpers.controller_action_slug),
      border_radius: 0,
      border_bottom: 0,
      font_weight: :normal,
      font_size: 6,
      classes: "SelectMenu-item",
      role: "menuitem",
    )) do %>
      <%= primer_octicon(:plus, mr: 2, text_align: :center, width: 20) %>
      Create a new fork
    <% end %>
  </footer>
<% end %>
