<div class="text-left f5">
  <div class="<%= class_names("pt-3", "color-bg-default px-3" => !in_overlay?, "color-bg-overlay" => in_overlay?) %>">
    <% if current_user_can_push? %>
      <% if funding_links.has_errors?  %>
        <%= render Primer::Alpha::Banner.new(scheme: :danger, mb: 3, test_selector: "invalid-funding-yml") do %>
          <p>Some errors were encountered when parsing the FUNDING.yml file:</p>
          <ul class="ml-4">
            <% funding_links.errors.each do |error| %>
              <li><%= error %> <%= link_to("Apply to Sponsors.", sponsors_path) if error == FundingLinks::NON_SPONSORABLE_ERROR %></li>
            <% end %>
          </ul>
          <p class="mt-2"><a class="Link--inTextBlock" href="<%= helpers.docs_url("sponsors/funding-files") %>">Learn more about formatting FUNDING.yml</a>.</p>
        <% end %>
      <% elsif !funding_links.has_valid_platform? %>
        <%= render Primer::Alpha::Banner.new(scheme: :danger, mb: 3, test_selector: "funding-yml-missing-links") do %>
          <p>The FUNDING.yml file does not currently contain valid funding links.</p>
          <p class="mt-2">
            <a class="Link--inTextBlock" href="<%= helpers.docs_url("sponsors/funding-files") %>">Learn more about formatting FUNDING.yml</a>.
          </p>
        <% end %>
      <% end %>
    <% elsif !funding_links.has_valid_platform? %>
      <%= render Primer::Alpha::Banner.new(
        scheme: :warning,
        spacious: true,
        test_selector: "funding-links-empty-state",
      ).with_content("Sponsorship links for this repository have not been set up yet.") %>
    <% end %>
    <%= render Repositories::FundingLinks::ListComponent.new(
      funding_links: funding_links,
      previewing: previewing?,
      repository: repository,
    ) %>
  </div>
  <div class="text-small p-3 border-top">
    <p class="my-0">
      <a class="Link--inTextBlock" href="<%= helpers.docs_url("sponsors/funding-files") %>">Learn more about funding links in repositories</a>.
    </p>
    <% if GitHub.user_abuse_mitigation_enabled? %>
      <p class="my-0">
        <%= link_to "Report abuse", flavored_contact_path(report: "#{repository.name_with_display_owner} (Repository Funding Links)", flavor: "report-abuse"), class: "Link--secondary" %>
      </p>
    <% end %>
  </div>
</div>
