<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if deferred? %>
  <include-fragment loading="lazy" src="<%= "#{notification_watch_subscription_path(@repository.id, aria_id_prefix: aria_id_prefix, show_count: show_count, button_block: button_block)}" %>">
    <div data-hide-on-error>
      <% if spinner? %>
        <%= spinner %>
      <% else %>
        <%= render(Primer::Beta::Spinner.new(mx: :auto, display: :block)) %>
      <% end %>
    </div>
    <p data-show-on-error hidden>
      <% if fallback_error? %>
        <%= fallback_error %>
      <% else %>
        <%= primer_octicon(:alert, mr: 1) %>
        Sorry, something went wrong and we weren't able to fetch your subscription status.
        <%= render(Primer::Beta::Button.new(scheme: :link, classes: "Link--muted", "data-retry-button": "")) { "Retry" } %>
      <% end %>
    </p>
  </include-fragment>
<% else %>
  <% if logged_in? %>
    <% if subscription_type && can_watch? %>
      <%= render_react_partial name: "notifications-subscriptions-menu", props: {
          subscriptionType: subscription_type.to_s,
          repositoryId: @repository.id,
          repositoryName: @repository.full_name,
          watchersCount: @repository.watchers_count,
          subscribableThreadTypes: subscribable_thread_types,
          repositoryLabels: repository_labels,
          showLabelSubscriptions: show_label_subscriptions?,
        }, ssr: false %>
    <% elsif subscription_type && !can_watch? %>
      <%= render(Primer::ButtonComponent.new(
        variant: :small,
        block: @button_block,
        disabled: true,
        id: "#{aria_id_prefix}-watch-button",
        aria: { label: "You cannot watch a repository outside of your enterprise #{enterprise_name}" },
      )) do |c| %>
        <% c.with_leading_visual_icon(icon: :eye, vertical_align: :text_bottom) %>
        <span>Watch</span>
        <% if show_button_counter? %>
          <%= render(CounterComponent.new(repository: @repository)) %>
        <% end %>
      <% end %>
      <%= render(Primer::Alpha::Tooltip.new(for_id: "#{aria_id_prefix}-watch-button", type: :description, text: "You cannot watch a repository outside of your enterprise #{enterprise_name}", direction: :s)) %>
    <% else %>
      <%= render(notifications_button_component(
        disabled: true,
        id: "#{aria_id_prefix}-watch-button",
        aria: { label: "Watching a repository is unavailable" },
      )) do |c| %>
        <% c.with_leading_visual_icon(icon: "bell-slash") %>
        Unavailable
      <% end %>
      <%= render(Primer::Alpha::Tooltip.new(for_id: "#{aria_id_prefix}-watch-button", type: :description, text: "Watching a repository is unavailable", direction: :n)) %>
    <% end %>
  <% else %>
    <%= render(notifications_button_component(
      tag: :a,
      href: login_path(return_to: repository_path(@repository)),
      rel: "nofollow",
      id: "#{aria_id_prefix}-watch-button",
      data: sign_in_link_data_attributes(location_in_page: "notification subscription menu watch"),
      aria: { label: "You must be signed in to change notification settings" },
    )) do |c| %>
      <% c.with_leading_visual_icon(icon: :bell) %>
      Notifications
    <% end %>
    <%= render(Primer::Alpha::Tooltip.new(for_id: "#{aria_id_prefix}-watch-button", type: :description, text: "You must be signed in to change notification settings", direction: :s)) %>
  <% end %>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "notifications-subscriptions-menu" %>
<% end %>
