<%# erblint:counter DeprecatedComponentsCounter 3 %>
<li>
  <pin-organization-repo>
    <div class="float-left" <%= test_selector "pin-repo-dropdown" %>>
      <details class="details-reset details-overlay" id="org-repo-pin-select-menu">
        <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small) do |c| %>
          <% c.with_leading_visual_icon(icon: :pin) %>
          <%= "Edit Pins" %>
          <span class="dropdown-caret"></span>
        <% end %>
        <details-menu class="SelectMenu" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <%= form_tag pin_organization_repo_path(owner, repository), method: :post,
           id: "pin-organization-repo-update-form", "data-target": "pin-organization-repo.form" do %>
            <div class="SelectMenu-modal">
              <header class="SelectMenu-header">
                <span class="SelectMenu-title">Pin to… </span>
                <button class="SelectMenu-closeButton" type="button" data-toggle-for="org-repo-pin-select-menu">
                  <%= primer_octicon(:x, "aria-label": "Close menu") %>
                </button>
              </header>
              <div class="SelectMenu-list">
                <% if repository_is_pinnable_publicly? %>
                  <label <% if public_checkbox_disabled? %> class="d-flex SelectMenu-item flex-items-start color-fg-muted" style="pointer-events: none" <% else %> class="d-flex SelectMenu-item flex-items-start" <% end %> <%= test_selector "pin-repo-public-option" %>>
                    <%= hidden_field_tag("public-profile", "off") %>
                    <input type="checkbox" name="public-profile" class="mr-2 mt-1" aria-label="Pin publicly in this organization"
                      data-action="change:pin-organization-repo#formModified"
                      <% if repository_is_pinned_publicly? %> checked <% end %>
                      <% if public_checkbox_disabled? %> disabled <% end %>>
                    <div>
                      <h5>Public pins in this organization</h5>
                      <span>Visible to anyone</span>
                      <% if public_checkbox_disabled? %><span class="d-block mt-1 color-fg-severe">Limit reached</span><% end %>
                    </div>
                  </label>
                <% end %>
                <% if repository_is_pinnable_internally? %>
                  <label <% if internal_checkbox_disabled? %> class="d-flex SelectMenu-item flex-items-start color-fg-muted" style="pointer-events: none" <% else %> class="d-flex SelectMenu-item flex-items-start" <% end %> <%= test_selector "pin-repo-internal-option" %>>
                    <%= hidden_field_tag("internal-profile", "off") %>
                    <input type="checkbox" name="internal-profile" class="mr-2 mt-1" aria-label="Pin internally in this organization"
                      data-action="change:pin-organization-repo#formModified"
                      <% if repository_is_pinned_internally? %> checked <% end %>
                      <% if internal_checkbox_disabled? %> disabled <% end %>>
                    <div>
                      <h5>Private pins in this organization</h5>
                      <span>Visible to members only</span>
                      <% if internal_checkbox_disabled? %><span class="d-block mt-1 color-fg-severe">Limit reached</span><% end %>
                    </div>
                  </label>
                <% end %>
                <% if repository_is_pinnable_for_current_user? %>
                  <label <% if user_checkbox_disabled? %> class="d-flex SelectMenu-item flex-items-start color-fg-muted" style="pointer-events: none" <% else %> class="d-flex SelectMenu-item flex-items-start" <% end %> <%= test_selector "pin-repo-user-option" %>>
                    <%= hidden_field_tag("user-profile", "off") %>
                    <input type="checkbox" name="user-profile" class="mr-2 mt-1" aria-label="Pin to your own profile"
                      data-action="change:pin-organization-repo#formModified"
                      <% if repository_is_pinned_for_current_user? %> aria-checked=true checked <% end %>
                      <% if user_checkbox_disabled? %> disabled <% end %>>
                    <div>
                      <h5>Profile</h5>
                      <span>Pin this to your personal profile, visible to everyone</span>
                      <% if user_checkbox_disabled? %><span class="d-block mt-1 color-fg-severe">Limit reached</span><% end %>
                    </div>
                  </label>
                <% end %>
              </div>
              <footer class="SelectMenu-footer">
                <div class="text-right">
                  <%= render Primer::ButtonComponent.new(type: :reset, scheme: :default, data: { "toggle-for": "org-repo-pin-select-menu" }) do %>
                    Cancel
                  <% end %>
                  <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, form: "pin-organization-repo-update-form",
                    "data-target": "pin-organization-repo.submitButton", test_selector: "apply-button", disabled: true) do %>
                    Apply
                  <% end %>
                </div>
              </footer>
            </div>
          <% end %>
        </details-menu>
      </details>
    </div>
  </pin-organization-repo>
</li>
