<% if show_code_of_conduct? %>
  <h3 class="sr-only">Code of conduct</h3>
  <div class="mb-2" <%= test_selector "code-of-conduct" %>>
    <a href="<%= code_of_conduct_path %>"
      class="Link--muted"
      <%= test_selector("oss-coc") %>
      <%= safe_analytics_click_attributes(
        category: "Repository Overview",
        action: "click",
        label: "location:sidebar;file:code of conduct"
      ) %>
    >
      <%= render Primer::Beta::Octicon.new(icon: "code-of-conduct", mr: 2) %>
      Code of conduct
    </a>
  </div>
<% end %>

<% if show_security_policy? %>
  <h3 class="sr-only">Security policy</h3>
  <div class="mb-2" <%= test_selector "security-policy" %>>
    <a href="<%= security_policy_path %>"
      class="Link--muted"
      <%= test_selector("oss-security-policy") %>
      <%= safe_analytics_click_attributes(
        category: "Repository Overview",
        action: "click",
        label: "location:sidebar;file:security policy"
      ) %>
    >
      <%= render Primer::Beta::Octicon.new(icon: "law", mr: 2) %>
      Security policy
    </a>
  </div>
<% end %>

<ul
  class="d-flex flex-wrap mb-2 gap-2"
  <%= test_selector "repo-responsive-details-component" %>
  aria-label="Repository details"
>
  <%= link_to gh_stargazers_path(@repository), class: "Link--secondary no-underline d-block mr-2", role: "listitem" do %>
    <%= render Primer::Beta::Octicon.new(icon: :star, mr: 1) %>
    <span class="text-bold color-fg-default"><%= social_count @repository.stargazer_count %></span>
    <%= "star".pluralize(@repository.stargazer_count) %>
  <% end %>
  <%= link_to gh_fork_network_path(@repository), class: "Link--secondary no-underline d-block mr-2", role: "listitem" do %>
    <%= render Primer::Beta::Octicon.new(icon: :"repo-forked", mr: 1) %>
    <span class="text-bold color-fg-default"><%= social_count @repository.network_count %></span>
    <%= "fork".pluralize(@repository.network_count) %>
  <% end %>
  <%= link_to gh_watchers_path(@repository), class: "Link--secondary no-underline d-block mr-2", role: "listitem" do %>
    <%= render Primer::Beta::Octicon.new(icon: :"eye", mr: 1) %>
    <span class="text-bold color-fg-default"><%= social_count @repository.watchers_count %></span>
    watching
  <% end %>
  <%= link_to branches_path(@repository), class: "Link--secondary no-underline d-block mr-2", role: "listitem" do %>
    <%= render Primer::Beta::Octicon.new(icon: "git-branch", mr: 1) %>
    <include-fragment <%= test_selector("branch-count") %> src="<%= branch_count_path(@repository.owner, @repository) %>">
      <span>Branches</span>
    </include-fragment>
  <% end %>
  <%= link_to tags_path(@repository.owner, @repository), class: "Link--secondary no-underline d-block mr-2", role: "listitem" do %>
    <%= render Primer::Beta::Octicon.new(icon: "tag", mr: 1) %>
    <include-fragment <%= test_selector("tag-count") %> src="<%= tag_count_path(@repository.owner, @repository) %>">
      <span>Tags</span>
    </include-fragment>
  <% end %>
  <%= link_to activity_index_path(@repository.owner, @repository), class: "Link--secondary no-underline d-block mr-2", role: "listitem" do %>
    <%= render Primer::Beta::Octicon.new(icon: "pulse", mr: 1) %>
    <span>Activity</span>
  <% end %>

  <% if @repository.owner.organization? %>
    <%= link_to repository_custom_properties_overview_path(@repository.owner, @repository), class: "Link--secondary no-underline d-block mr-2", role: "listitem" do %>
      <%= render Primer::Beta::Octicon.new(icon: "note", mr: 1) %>
      <span>Custom properties</span>
    <% end %>
  <% end %>
</ul>

<div class="mb-2 d-flex color-fg-muted" <%= test_selector "repo-type-indicator" %>>
  <%# Height is needed to align icon based on the first line. Height = lh-default %>
  <div class="d-flex flex-items-center" style="height: 21px">
    <%= render Primer::Beta::Octicon.new(icon: repo_type_icon, mr: 2, classes: "flex-shrink-0") %>
  </div>
  <span class="flex-auto min-width-0 width-fit">
    <%= repo_type_text %>
    <% if @repository.fork? && (parent_repo = @repository.parent).present? %>
      &#183; Forked from <%= link_to parent_repo.name_with_display_owner, repository_path(parent_repo), class: "Link--inTextBlock" %>
    <% end %>
    <% if show_link_to_template_repository_for?(@repository) %>
      <% template_repo = @repository.template_repository %>
      &#183; Generated from <%= link_to template_repo.name_with_display_owner, repository_path(template_repo), class: "Link--inTextBlock" %>
    <% end %>
    <% if @repository.mirror? %>
      &#183; Mirrored from <%= link_to truncate(@repository.mirror.url, length: 100), @repository.mirror.url, class: "Link--inTextBlock" %>
    <% end %>
    <% if @repository.advisory_workspace? %>
      <%- upstream = @repository.parent_advisory_repository -%>
      &#183; Advisory for <%= link_to upstream.name_with_display_owner, repository_path(upstream), class: "Link--inTextBlock" %>
    <% end %>
  </span>
</div>
