<div class="BorderGrid-row js-notice" <%= test_selector("suggested-workflows-component") %>>
  <div class="BorderGrid-cell">
    <%= render(Primer::Beta::Subhead.new(hide_border: true, mb: 2)) do |component| %>
      <% component.with_heading(tag: :h2, classes: "h4") do %>
        Suggested workflows
      <% end %>
      <% component.with_description do %>
         Based on your tech stack
      <% end %>
    <% end %>
    <ol class="list-style-none">
      <% suggested_templates.each.with_index(1) do |template, rank| %>
        <li class="list-style-none">
          <%= render(Repositories::SuggestedWorkflows::CardComponent.new(
            template: template,
            repository: repository,
            branch_or_tag_name: branch_or_tag_name,
            button_data: configure_workflow_analytics_attributes(workflow_template: template, rank: rank)
          )) %>
        </li>
      <% end %>
    </ol>
    <%= render Primer::BaseComponent.new(tag: :div, display: :flex, justify_content: :space_between) do %>
      <%= render(Primer::Beta::Link.new(
        href: actions_onboarding_path(repository.owner, repository),
        data: analytics_click_attributes(
          category: "suggested_workflows_in_repository_sidebar",
          action: "clicked_on_see_more_button",
          label: "owner:#{repository.owner.id};ref_cta:configure;ref_loc:respository_sidebar"
        )
      )) { "More workflows" } %>
      <%= form_tag dismiss_repository_notice_user_path(user), method: :delete, class: "js-notice-dismiss" do %>
        <input type="hidden" name="notice_name" value="<%= SUGGESTED_WORKFLOW_SECTION_NOTICE_NAME %>">
        <input type="hidden" name="repository_id" value="<%= repository.id %>">
        <%= render(Primer::Beta::Button.new(
          type: :submit,
          font_size: :small,
          scheme: :link,
          color: :muted,
          font_weight: :normal,
          data: analytics_click_attributes(
            category: "suggested_workflows_in_repository_sidebar",
            action: "dismissed_component",
            label: "owner:#{repository.owner.id};ref_cta:configure;ref_loc:respository_sidebar"
          )
        )) { "Dismiss suggestions" } %>
      <% end %>
    <% end %>
  </div>
</div>
