<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="p-3 border rounded-2 color-shadow-small d-flex mx-0 mb-4 js-notice" <%= test_selector("repositories-survey")%>>
  <div class="d-flex flex-column flex-md-row flex-md-items-center flex-1">
    <%= render Primer::Beta::Octicon.new(icon: "repo", size: :medium, mr: 3, color: :accent, flex_shrink: 0, justify_content: :flex_start) %>
    <div class="flex-auto pr-lg-6 p-1 my-lg-0 my-2">
      <p class="m-0">We want your opinion! Tell us about using GitHub so we can improve your experience.</p>
    </div>
    <div class="d-flex mt-lg-0 mr-4">
    <%= render(GitHub::DialogComponent.new(
          title: "Give feedback",
          dialog_classes: "overflow-visible",
          src: repos_survey_path(
            repository: repository.name,
            user_id: repository.owner_display_login
          )
        )
      ) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
      <% dialog.with_body do %>
        <include-fragment>
          <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
        </include-fragment>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="d-flex flex-md-items-center">
    <%= form_tag repos_survey_dismiss_path(repository: repository.name, user_id: repository.owner_display_login), class: "js-notice-dismiss" do %>
      <%= render Primer::ButtonComponent.new(scheme: :link, classes: "flash-close Link--secondary", type: :submit) do %>
        <%= primer_octicon(:x, :"aria-label" => "Close") %>
      <% end %>
    <% end %>
  </div>
</div>
