<div id="repo-title-component" <%= test_selector "repo-title-component" %> class="<%= @title_class %> d-flex flex-nowrap flex-items-center wb-break-word f3 text-normal">
  <% if show_stack_template_labels_icons?(@repository) %>
    <%= primer_octicon(:stack, color: :muted, mr: 2, display: [:none, :none, :block]) %>
  <% elsif @repository.template? %>
    <% if @repository.public? %>
      <%= primer_octicon(:"repo-template", color: :muted, mr: 2, display: [:none, :none, :block]) %>
    <% else %>
      <%= primer_octicon(:lock, color: :muted, mr: 2, display: [:none, :none, :block]) %>
    <% end %>
  <% else %>
    <%= avatar_for(@repository.owner, 24, class: "avatar mr-2 d-none d-md-block", alt: "Owner avatar") %>
  <% end %>
  <%= render Repositories::DemoNotificationComponent.new(@repository) %>

  <strong itemprop="name" class="mr-2 flex-self-stretch d-none d-md-block no-wrap overflow-x-hidden">
    <%= link_to @repository, repository_path(@repository), "data-pjax": "#repo-content-pjax-container", "data-turbo-frame": "repo-content-turbo-frame", class: "d-block overflow-x-hidden color-fg-default", style: "text-overflow: ellipsis;"%>
  </strong>

  <%= repository_label(@repository, classes: "mr-1 d-none d-md-block") %>
</div>

<div class="d-none d-md-block">
  <% if @repository.fork? && (parent_repo = @repository.parent).present? %>
    <span class="text-small lh-condensed-ultra no-wrap mt-1" data-repository-hovercards-enabled>
      forked from <%= link_to parent_repo.name_with_display_owner, repository_path(parent_repo), data: hovercard_data_attributes_for_repository(parent_repo), class: "Link--inTextBlock" %>
    </span>
  <% end %>
  <% if show_link_to_template_repository_for?(@repository) %>
    <% template_repo = @repository.template_repository %>
    <span class="text-small lh-condensed-ultra no-wrap mt-1 color-fg-muted" data-repository-hovercards-enabled>
      generated from <%= link_to template_repo.name_with_display_owner, repository_path(template_repo), data: hovercard_data_attributes_for_repository(template_repo), class: "Link--inTextBlock" %>
    </span>
  <% end %>
  <% if @repository.mirror? %>
    <span class="text-small lh-condensed-ultra no-wrap mt-1">
      mirrored from <%= link_to truncate(@repository.mirror.url, length: 100), @repository.mirror.url, class: "Link--inTextBlock" %>
    </span>
  <% end %>
  <% if @repository.advisory_workspace? %>
    <%- upstream = @repository.parent_advisory_repository -%>
    <span class="text-small lh-condensed-ultra no-wrap mt-1">
      Parent repository: <%= link_to upstream.name_with_display_owner, repository_path(upstream), class: "Link--inTextBlock" %>
    </span>
  <% end %>
</div>
