<%= render Primer::Alpha::UnderlineNav.new(
  px: padding_classes,
  label: "Repository",
  "data-pjax": "#js-repo-pjax-container",
  classes: "js-repo-nav js-sidenav-container-pjax js-responsive-underlinenav overflow-hidden",
  test_selector: "repositories-underline-nav"
) do |component| %>
  <% track_render_partial("repositories/underline_nav/body") do %>
    <% tabs.each_with_index do |item, index| %>
      <% link_selected = link_selected?(item.href, highlight: item.highlight) %>
      <% link_selected = link_selected?(item.voltron_href, highlight: item.highlight) if item.voltron_href.present? && !link_selected %>
      <% component.with_tab(
        id: "#{item.text.parameterize}-tab",
        selected: link_selected,
        href: item.href,
        classes: class_names(
          "no-wrap js-responsive-underlinenav-item js-selected-navigation-item",
          "selected" => link_selected
        ),
        "data-tab-item": "i#{index}#{item.text.parameterize}-tab",
        "data-selected-links": Array(item.highlight).join(" ") + " #{item.href}" + (item.voltron_href.present? ? " #{item.voltron_href}" : ""),
        "data-pjax": "#repo-content-pjax-container",
        "data-turbo-frame": item.data_turbo_frame ? "repo-content-turbo-frame" : nil,
        data: {
          **(item.data || {}),
          **analytics_click_attributes(label: item.text, category: "Underline navbar", action: "Click tab", target: "UNDERLINE_NAV.TAB")
        },
        **test_selector_data_hash("#{item.text.parameterize}-tab")
      ) do %>
        <%= primer_octicon(item.icon, display: [:none, :inline], classes: "UnderlineNav-octicon") %>
        <span data-content="<%= item.text %>"><%= item.text %></span>
        <% if item.count.respond_to?(:call) %>
          <%= item.count.call %>
        <% else %>
          <%= render partial: "navigation/repository/tab_counter", locals: { count: item.count, label: item.text } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% track_render_partial("repositories/underline_nav/body/actions") do %>
    <% component.with_actions(position: :absolute, pr: [3, nil, 4, 5], right: false, classes: "js-responsive-underlinenav-overflow", style: "visibility:hidden;") do %>
      <%= render(Primer::Alpha::ActionMenu.new) do |menu| %>
        <% menu.with_show_button(icon: :"kebab-horizontal", "aria-label": "Additional navigation options", classes: "UnderlineNav-item") %>
        <% tabs.each_with_index do |item, index| %>
          <% menu.with_item(label: item.text, href: item.href, data: {"menu-item": "i#{index}#{item.text.parameterize}-tab"}, hidden: true) do |menu_item| %>
            <% menu_item.with_leading_visual_icon(icon: item.icon) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
