<h3 class="sr-only">License</h3>
<% if multi_license? %>
  <details class="details-reset details-overlay details-overlay-dark lh-default color-fg-default d-inline <%= selector_classes%>">
    <summary
      class="Link--muted"
      <%= test_selector("multiple-oss-licenses") %>
    >
       <%= render Primer::Beta::Octicon.new(icon: "law", mr: 2) %>
      <%= multiple_licenses_text %>
    </summary>
        <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast" aria-label="Licenses found"><%# erblint:disable A11yDetailsDialogMigration %>
      <div class="Box-header">
          <button type="button" class="Box-btn-octicon btn-octicon float-right" data-action="toggle" data-close-dialog aria-label="Close licenses dialog">
            <%= render Primer::Beta::Octicon.new(icon: "x", size: :small) %>
          </button>
          <h3 class="Box-title">Licenses found</h3>
      </div>
        <% repository_licenses.each do |repository_license|%>
          <%= link_to blob_view_path(repository_license.filepath, repository.default_branch), class: "Link--primary no-underline", 'aria-label': "#{license_spdx(repository_license.license)} license" do %>
            <div class="Box-row Box-row--hover-gray border-top rounded-0">
              <div class="text-bold"><%= license_spdx(repository_license.license)%></div>
              <span class="f6 color-fg-muted"><%= filepath_for(repository_license.filepath) %></span>
            </div>
          <% end %>
        <% end%>
    </details-dialog>
</details>
<% else %>
  <div class="<%= selector_classes %>">
    <a href="<%= on_default_branch? ? '#' + license_hash : preferred_file_path(type: :license, repository: repository) %>"
      class="Link--muted"
      <%= test_selector("oss-license") %>
      <%= safe_analytics_click_attributes(
        category: "Repository Overview",
        action: "click",
        label: "location:sidebar;file:license"
      ) %>
    >
      <%= render Primer::Beta::Octicon.new(icon: "law", mr: 2) %>
     <%= license_text %>
    </a>
  </div>
<% end %>
