<div class="col-sm-6 col-md-4 mb-6">
  <%= link_to @article.url, { class: "Tile Tile--symbol d-flex flex-column flex-justify-between no-underline height-full p-4 pb-9 Link--primary", lang: @article.publication_locale } do %>
    <div class="lh-condensed mb-2">
      <p class="fgColor-muted pr-4 h5 text-normal text-mono mb-2"><%= @article.publication %></p>
      <h2 class="f3-mktg text-normal" <%= test_selector("press-article-title") %>><%= @article.title %></h2>
    </div>
    <date class="h5 text-normal text-mono fgColor-muted lh-condensed"><%= date %></date>
  <% end %>
</div>
