  <h4>Billing information</h4>
  <div class="mt-3 mb-2 d-flex">
    <div class="d-flex width-full">
      <div class="mr-2">
        <%= render(GitHub::AvatarComponent.new(actor: enterprise, size: 64)) %>
      </div>
      <div>
        <b><%= enterprise.safe_profile_name.truncate(40) %></b>
        <p class="mb-0 text=light"><%= pluralize(enterprise.organizations.count, "organization") %></p>
        <p><%= link_to  "Switch account", copilot_enterprise_signup_choose_enterprise_path %></p>
      </div>
    </div>

    <% if enterprise.invoiced? %>
      <div class="width-full text-right">
        <strong>
          Billed via invoice
        </strong>
        <p><%= link_to "Edit", enterprise_billing_path(enterprise) %></p>
      </div>
    <% elsif payment_method %>
      <div class="width-full text-right">
        <strong>
          <%= primer_octicon(icon: "credit-card", color: :muted) %>
          <%= payment_method.card_type %>
          <% if payment_method.card_type %>ending <%= payment_method.last_four %><% end %>
        </strong>
        <p class="color-fg-muted mb-0 text-small">expires <%= payment_method.formatted_expiration_date %></p>
        <p><%= link_to "Edit", enterprise_billing_path(enterprise) %></p>
      </div>
    <% end %>
  </div>
