<%= render Copilot::EnterpriseSignupComponent.new(fullscreen: true) do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Enterprise is now ready
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      We will notify organization admins about this change
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <%= render(Primer::Box.new(
      bg: :default,
      container: :md,
      border: true,
      border_color: :default,
      border_radius: 2,
      box_shadow: :medium,
      p: 4
    )) do %>
      <h3>Welcome to GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %></h3>
      <p class="color-fg-muted my-3">
        Organization administrators with access will shortly get an email with details. You can now:
      </p>
      <ul class="list-style-none">
        <li class="mb-3 ml-4 d-flex">
          <%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, mt: 1))%>
          <div class="d-flex flex-column">
            <%= render(Primer::Beta::Link.new(href: settings_copilot_enterprise_path(this_enterprise), underline: false)) { "Manage organizations with access to GitHub Copilot" } %>
            <span class="color-fg-muted"><%= "#{pluralize(copilot_organizations_count, "organization")} enabled out of #{pluralize(this_enterprise.organizations.count, "organization")}" %></span>
          </div>
        </li>
        <li class="mb-3 ml-4 d-flex">
          <%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, mt: 1))%>
          <div class="d-flex flex-column">
            <%= render(Primer::Beta::Link.new(href: settings_copilot_enterprise_path(this_enterprise), underline: false)) { "Manage GitHub Copilot policies for your enterprise" } %>
            <span class="color-fg-muted">We will enable Copilot Enterprise features for organizations with access</span>
          </div>
        </li>
      </ul>
      <p class="color-fg-muted border-bottom pb-3">For more information on setting up and using GitHub Copilot Enterprise <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_DOCUMENTATION , underline: false, mb: 3, classes: "Link--inTextBlock")) { "visit the documentation." } %></p>
      <p class="mt-3 color-fg-muted">Your organizations' use of GitHub Copilot is subject to your GitHub agreement and
      <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_SPECIFIC_TERMS , underline: false, classes: "Link--inTextBlock")) { "the GitHub Copilot Product Specific Terms" } %>.
      </p>
      <% end %>
    <% end %>
<% end %>


<% content_for(:microsoft_analytics_addition) do %>
  <%= content_tag "microsoft-analytics-event", nil, data: {
    "behavior": "purchase",
    "order-id": microsoft_analytics_order_id,
    "product-title": Copilot.business_product_name,
    seats: copilot_seat_count
  } %>
<% end %>
