<%= render Copilot::EnterpriseSignupComponent.new(fullscreen: true) do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Enterprise
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      <% if trial_enterprises.size > 1 %>
        Your enterprises are not eligible for purchase of GitHub Copilot Enterprise
      <% elsif trial_enterprises.size == 1 %>
        Your enterprise <%= trial_enterprises.first.name %> is not eligible for purchase of GitHub Copilot Enterprise
      <% else %>
        You are not the owner of any enterprises
      <% end %>
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <%= render(Primer::Box.new(
      bg: :default,
      container: :md,
      border: true,
      border_color: :default,
      border_radius: 2,
      box_shadow: :medium,
      p: 4
    )) do %>
      <h2 class="mb-2">GitHub Copilot Enterprise requires a paid enterprise account</h2>
      <p class="color-fg-muted my-3">
        To purchase and try the latest Copilot features, including Chat-based assistance in the GitHub Platform, conversational search
        and summarization on internal documentation and skills for pull requests:
      </p>
      <ul class="list-style-none">
        <li class="mb-3 ml-4 d-flex">
          <%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, mt: 1))%>
          <div class="d-flex flex-column">
            <%= render(Primer::Beta::Link.new(href: "/settings/enterprises", underline: false)) { "Make sure you're signed in as the owner of an enterprise" } %>
            <span class="color-fg-muted">See the list of enterprises you are the owner of.</span>
          </div>
        </li>
        <li class="mb-3 ml-4 d-flex">
          <%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, mt: 1))%>
          <div class="d-flex flex-column">
            <%= render(Primer::Beta::Link.new(href: "https://docs.github.com/en/get-started/onboarding/getting-started-with-github-enterprise-cloud", underline: false)) { "Upgrade your account to be able to purchase Copilot Enterprise" } %>
            <span class="color-fg-muted">Your enterprise must be on GitHub Enterprise Cloud.</span>
          </div>
        </li>
      </ul>
      <div class="d-flex">
        <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", size: :small, color: :subtle, mr: 2, mt: 1)) %>
        <%= render(Primer::Beta::Link.new(href: copilot_business_signup_choose_organization_path , underline: false, mb: 3, classes: "Link--inTextBlock")) { "Purchase Copilot Business instead." } %>
      </div>
      <p class="color-fg-muted">For more information on purchasing GitHub Copilot, visit the documentation:</p>
      <div class="d-flex border-bottom">
        <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", size: :small, color: :subtle, mr: 2, mt: 1)) %>
        <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_DOCUMENTATION , underline: false, mb: 3, classes: "Link--inTextBlock")) { "GitHub Copilot documentation." } %>
      </div>
      <p class="mt-3 color-fg-muted">Your organizations' use of GitHub Copilot is subject to your GitHub agreement and
      <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_SPECIFIC_TERMS , underline: false, classes: "Link--inTextBlock")) { "the GitHub Copilot Product Specific Terms" } %>.
      </p>
    <% end %>
  <% end %>
<% end %>
