<%= render Copilot::EnterpriseSignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Enterprise
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <div class="container-lg p-responsive clearfix mt-6">
      <div>
        <h3 class="h2">Review billing summary</h3>
        <p class="mt-2 mb-4">
          <b>Enterprise to <%= upgrading ? "upgrade" : "enable Copilot" %></b> <%= render(GitHub::AvatarComponent.new(actor: enterprise, size: 16, ml: 1, mr: 1)) %>
          <%= enterprise.safe_profile_name.truncate(40) %>
        </p>
      </div>
      <div class="col-lg-6 float-lg-left mt-3 mt-lg-0 pr-lg-5">
        <div class="copilot-signup-payment-summary-box d-flex p-3 flex-column color-shadow-large rounded-bottom-2">

          <div class="d-flex width-full mb-3">
            <div class="mr-2">
              <%= render(GitHub::AvatarComponent.new(actor: enterprise, size: 48)) %>
            </div>
            <div>
              <%= link_to enterprise.safe_profile_name.truncate(40), enterprise_url(enterprise) %>
              <p class="mb-0 mt-1 text-light">Enterprise account • <%= pluralize(enterprise.organizations.count, "organization") %></p>
            </div>
          </div>

          <% if upgrading %>
            <p>
              You will be upgraded immediately. All seats assigned retain access and will be notified.
              See <%= link_to "all features available", "Copilot::COPILOT_FOR_ENTERPRISE_DOCUMENTATION", class: "Link--inTextBlock" %> on this plan.
            </p>
            <p>
              <%= primer_octicon(icon: "check", color: :success) %>
              New price is <b>$39/month</b> for each seat.
            </p>
            <p>
              <%= primer_octicon(icon: "check", color: :success) %>
              New estimated monthly cost is is <b>$<%= seat_count * 39 %></b>.
            </p>
            <p>
              <%= primer_octicon(icon: "check", color: :success) %>
              You will be charged for <b><%= seat_count %></b> Copilot unique seats.
            </p>
            <hr class="mb-1 color-fg-muted">
          <% end %>

          <b>Your next payment</b>
          <p>
            <span class="f2-light">$<%= seat_count * 39 %></span>
            <span class="text-light"> / month</span>
          </p>
          <p class="text-light f4">
            (on <%= enterprise.next_metered_billing_cycle_starts_at.strftime("%b %e, %Y") %>)
          </p>
          <p class="text-light">
            Your existing agreement with GitHub governs your use of GitHub Copilot.
            See <%= link_to "GitHub Copilot specific terms here", Copilot::COPILOT_SPECIFIC_TERMS, class: "Link--inTextBlock" %>.
            If you require invoices
            <%= link_to "contact our sales team", Copilot::CONTACT_SALES_TEAM, class: "Link--inTextBlock" %>.
          </p>

          <hr class="color-fg-muted">
          <p class="text-light">See <%= link_to "billing documentation", Copilot::COPILOT_BILLING_DOCUMENTATION, class: "Link--inTextBlock" %> for more details.</p>
        </div>
      </div>
      <div class="col-lg-6 float-lg-left pl-lg-6 mt-5 mt-lg-0">
        <% if upgrading %>
          <div class="d-flex">
            <div class="col-8">
              <h4>Current plan</h4>
              <p class="text-light">Copilot Business across <%= pluralize(enterprise.organizations.count, "organization") %></p>
            </div>
            <div class="col-4 text-right">
              <h4>$19.00</h4>
              <p class="text-light">per seat / monthly</p>
            </div>
          </div>
          <hr class="mt-1 color-fg-muted">
        <% end %>

        <div class="d-flex">
          <div class="col-8">
            <h4>New plan</h4>
            <p class="text-light">Copilot Enterprise across <%= pluralize(enterprise.organizations.count, "organization") %></p>
          </div>
          <div class="col-4 text-right">
            <h4>$39.00</h4>
            <p class="text-light">per seat / monthly</p>
          </div>
        </div>
        <hr class="mt-1 color-fg-muted">

        <div class="d-flex">
          <div class="col-7">
            <h3>Due today</h3>
            <% if enterprise.display_sales_tax_on_checkout? %>
              <p class="text-light"  <%= test_selector("sales-tax-label") %>>Sales tax</p>
            <% end %>
          </div>
          <div class="col-5 text-right">
            <h3>$0.00</h3>
            <% if enterprise.display_sales_tax_on_checkout? %>
              <p class="text-light"  <%= test_selector("sales-tax-value") %>>(applied to your invoice)</p>
            <% end %>
          </div>
        </div>
        <p class="text-light">You will be charged for the new plan starting on <%= enterprise.next_metered_billing_cycle_starts_at.strftime("%b %e, %Y") %></p>

        <hr class="mt-1 color-fg-muted">

        <%= render "copilot/enterprise_signup/billing_information", enterprise: enterprise, payment_method: payment_method %>

        <%= form_tag copilot_enterprise_signup_signup_path(enterprise: enterprise.slug), method: :post do %>
          <%= render Primer::Beta::Button.new(type: :submit, size: :large, scheme: :primary, block: true) do %>
            <%= upgrading ? "Enable plan" : "Continue to policies" %>
          <% end %>
        <% end %>

        <%= render Primer::Beta::Button.new(mt: 2, type: :submit, size: :large, scheme: :invisible, tag: :a, href: copilot_enterprise_signup_choose_enterprise_path, block: true) do %>
          Cancel
        <% end %>

        <p class="text-center mt-4">You can downgrade any time by contacting GitHub Support.</p>
      </div>
    </div>
  <% end %>
<% end %>
