<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
  container_xl: true,
  title: "Settings · New rule · #{current_repository.name_with_display_owner}",
  selected_link: :repo_protected_tags_settings %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |c| %>
    <% c.with_heading(tag: :h1) do %>
      <%= link_to "Protected tags", edit_repository_tag_protection_path %> / New rule
    <% end %>
  <% end %>

  <%= form_for 'create_repository_tag_protection_path',
    url: create_repository_tag_protection_path,
    html: { method: :post } do %>
    <dl class="form-group required mb-0">
      <dt class="form-group-header"><label for="pattern">Tag name pattern</label></dt>
      <dd class="form-group-body">
        <auto-check src="<%= check_repository_tag_protection_path %>" required>
          <input required class="form-control" type="text" id="pattern" name="pattern" placeholder="v*">
          <%= csrf_hidden_input_for check_repository_tag_protection_path %>
        </auto-check>
      </dd>
    </dl>

    <p class="note mb-3">
      Example: You can use <strong>v*</strong> to target tags named <strong>v1</strong>, <strong>v2</strong>, and so on.
      <%= link_to "Learn more about protected tags", RepositoryTagProtectionState::DOCS_URL, class: "Link--inTextBlock" %>.
    </p>

    <%= render Primer::ButtonComponent.new(
      scheme: :primary,
      type: :submit,
      "data-disable-with": "",
      "data-disable-invalid": ""
    ) do |c| %>
      Add rule
    <% end %>
  <% end %>
<% end %>
