<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info responsive: false, title: "Settings · General · #{current_organization.name}" %>

<%
  help_url = "#{GitHub.help_url}/articles/managing-default-labels-for-repositories-in-your-organization/"
%>

<%= render layout: "orgs/settings/layout" do %>
  <div class="mb-4">
    <%= render "orgs/repository_default_settings/default_branch_form" %>
  </div>

  <div class="mb-4">
    <%= render Organizations::Settings::DcoPoliciesComponent.new(organization: current_organization) %>
  </div>

  <%= render Primer::Beta::Subhead.new(display: :flex, justify_content: :space_between) do |component| %>
    <% component.with_heading(tag: :h2) do %>Repository labels<% end %>
  <% end %>

  <p>
    Set the labels that will be included when a new repository is created in this organization.
    <a class="Link--inTextBlock" href="<%= help_url %>">Learn more about managing default labels for your organization.</a>
  </p>

  <div class="labels-list mt-2 js-details-container Details <%= 'is-empty' if labels.empty? %>">

    <div class="subnav" data-pjax>
      <div class="position-relative mt-2">
        <%= render Primer::ButtonComponent.new(scheme: :primary, classes: "js-details-target js-details-target-new-label", "aria-expanded": "false") do %>New label<% end %>
      </div>
    </div>

    <%= form_for new_label, url: org_user_labels_path(current_organization), html: { class: "p-3 pb-1 mb-3 color-bg-subtle border color-border-default rounded-2 Details-content--hidden js-create-label js-label-form js-label-preview-container" } do |f| %>
      <input type="hidden" name="context" value="labels list">
      <%= render partial: "orgs/label_settings/form", locals: { f: f, label: new_label } %>
    <% end %>

    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "tag") %>

      <% c.with_heading(tag: :h2) do %>
        No labels!
      <% end %>

      <% c.with_description do %>
        There aren’t any labels for this organization quite yet. Click on the "New Label" button above to create one.
      <% end %>
    <% end %>

    <div class="Box mt-4">
      <div class="Box-header d-flex">

            <h3 class="Box-title f5">
              <%= content_tag(:span, labels.total_entries, class: "js-labels-count") %>
              <%= content_tag(:span, "label".pluralize(labels.total_entries),
                              class: "js-labels-label",
                              "data-singular-string" => "label",
                              "data-plural-string" => "labels") %>
            </h3>

      </div>

      <div aria-label="Labels" role="group">
        <div class="js-label-list">
          <% labels.each do |label| %>
            <%= render partial: "orgs/label_settings/label", object: label %>
          <% end %>
        </div>
      </div>
    </div>

    <% if labels.total_pages > 1 %>
      <div class="paginate-container">
        <%= will_paginate labels, "data-pjax" => true %>
      </div>
    <% end %>
  </div>

<% end %>
