<%= render(Primer::Beta::Text.new(tag: :p)) do %>
  By default, organization administrators must approve the use of each personal access token with access to that organization.
<% end %>

<% auto_approval_delegated = this_business.pat_requests_auto_approval_delegated_policy? %>
<% auto_approval_enabled = this_business.pat_requests_auto_approved? %>
<% auto_approval_disabled = !auto_approval_delegated && !auto_approval_enabled %>
<% disabled = this_business.personal_access_tokens_restricted? %>

<%= form_with model: this_business, url: settings_pat_auto_approvals_enterprise_path(this_business), method: :patch, class: "d-block", data: local_assigns.fetch(:data, {}) do |f| %>
  <div class="form-checkbox">
    <label>
      <%= f.radio_button :pat_auto_approvals, "reset", checked: auto_approval_delegated, disabled: disabled %>

      Allow organizations to configure approval requirements.

      <%= render(Primer::Beta::Text.new(tag: :p, font_size: :normal, id: "help-text-for-delegating-review")) do %>
        This allows an organization administrator to enable or disable the approval process for fine-grained personal access tokens.
      <% end %>
    </label>
  </div>

  <div class="form-checkbox">
    <label>
      <%= f.radio_button :pat_auto_approvals, "disable", checked: auto_approval_disabled, disabled: disabled %>

      Require organizations to use the approval flow.

      <%= render(Primer::Beta::Text.new(tag: :p, font_size: :normal, id: "help-text-for-restricting-review")) do %>
        This requires all organization members to get approval for their fine-grained personal access tokens that access any organization in your enterprise.<br>
        Organization administrators cannot disable the approval flow.
      <% end %>
    </label>
  </div>

  <div class="form-checkbox">
    <label>
      <%= f.radio_button :pat_auto_approvals, "enable", checked: auto_approval_enabled, disabled: disabled %>

      Disable the approval flow in all organizations

      <%= render(Primer::Beta::Text.new(tag: :p, font_size: :normal, id: "help-text-for-enforcing-review")) do %>
        This disables the approval requirement in all of the organizations in your enterprise.<br>
        Organization members will be able to create fine-grained personal access tokens that target your organizations without providing a justification or getting approval.
      <% end %>
    </label>
  </div>

  <% if local_assigns.fetch(:submittable, true) %>
    <%= f.submit "Save", class: "btn", "data-confirm" => "Are you sure you want to update your selection?", disabled: disabled %>
  <% end %>
<% end %>
