<%= render(Primer::Beta::Text.new(tag: :p)) do %>
  By default, organizations can enable access to resources using fine-grained access tokens.
<% end %>

<% pat_restriction_delegated = this_business.personal_access_tokens_delegated_policy? %>
<% pat_restricted = this_business.personal_access_tokens_restricted? %>
<% pat_enforced = !pat_restriction_delegated && !pat_restricted %>

<%= form_with model: this_business, url: settings_restrict_pat_access_enterprise_path(this_business), method: :patch, class: "d-block", data: local_assigns.fetch(:data, {}) do |f| %>
  <div class="form-checkbox">
    <label>
      <%= f.radio_button :restrict_access, "reset", checked: pat_restriction_delegated %>

      Allow organizations to configure access requirements.

      <%= render(Primer::Beta::Text.new(tag: :p, font_size: :normal, id: "help-text-for-delegating-pat-restriction")) do %>
        This allows an organization administrator to restrict or permit access via fine-grained personal access tokens.
      <% end %>
    </label>
  </div>

  <div class="form-checkbox">
    <label>
      <%= f.radio_button :restrict_access, "enable", checked: pat_restricted %>

      Restrict access via fine-grained personal access tokens

      <%= render(Primer::Beta::Text.new(tag: :p, font_size: :normal, id: "help-text-for-restricting-pat")) do %>
        This prevents access to organization resources from members using a fine-grained personal access token.<br>
        Organization administrators cannot disable this restriction.
      <% end %>
    </label>
  </div>

  <div class="form-checkbox">
    <label>
      <%= f.radio_button :restrict_access, "disable", checked: pat_enforced %>

      Allow access via fine-grained personal access tokens.

      <%= render(Primer::Beta::Text.new(tag: :p, font_size: :normal, id: "help-text-for-enforcing-pat")) do %>
        This allows access to organization resources from members using a fine-grained personal access token.<br>
        Organization administrators cannot override this setting.
      <% end %>
    </label>
  </div>

  <% if local_assigns.fetch(:submittable, true) %>
    <%= f.submit "Save", class: "btn", "data-confirm" => "Are you sure you want to update your selection?" %>
  <% end %>
<% end %>
