<%= render(Primer::Beta::Text.new(tag: :p)) do %>
  By default, personal access tokens (classic) can access content owned by your enterprise via the GitHub API or Git over HTTPS.<br>
  This includes both public and private resources such as repositories.
<% end %>

<% legacy_pat_restriction_delegated = this_business.legacy_personal_access_tokens_delegated_policy? %>
<% legacy_pat_restricted = this_business.legacy_personal_access_tokens_restricted? %>
<% legacy_pat_enforced = !legacy_pat_restriction_delegated && !legacy_pat_restricted %>

<%= form_with model: this_business, url: settings_restrict_legacy_pat_access_enterprise_path(this_business), method: :patch, class: "d-block", data: local_assigns.fetch(:data, {}) do |f| %>
  <div class="form-checkbox">
    <label>
      <%= f.radio_button :restrict_legacy_access, "reset", checked: legacy_pat_restriction_delegated %>
      Allow organizations to configure personal access tokens (classic) access requirements
    </label>
  </div>

  <div class="form-checkbox">
    <label>
      <%= f.radio_button :restrict_legacy_access, "enable", checked: legacy_pat_restricted %>
      Restrict access via personal access tokens (classic)
    </label>
  </div>

  <div class="form-checkbox">
    <label>
      <%= f.radio_button :restrict_legacy_access, "disable", checked: legacy_pat_enforced %>
      Allow access via personal access tokens (classic)
    </label>
  </div>

  <% if local_assigns.fetch(:submittable, true) %>
    <%= f.submit "Save", class: "btn", "data-confirm" => "Are you sure you want to update your selection?" %>
  <% end %>
<% end %>
