<%# erblint:counter LabelComponentMigrationCounter 1 %>
 <% is_verified = true if creator.creator_verification_state? == Configurable::MarketplaceCreatorVerification::APPROVED
    is_applied = true if creator.creator_verification_state? == Configurable::MarketplaceCreatorVerification::APPLIED
    rejection_reasons = %w(INVALID_LOCATION INVALID_IMAGE INVALID_DISPLAY_NAME 2FA_INACTIVE)
    profile_email_verification = creator.profile_email_verification
 %>

<div <%= test_selector("creator-verification-org-#{creator.id}") %> class="d-flex flex-1 flex-items-center">
  <div class="mr-3">
    <%= link_to user_path(creator) do %>
      <%= avatar_for(creator, 24, class: "avatar") %>
    <% end %>
  </div>

  <div>
    <% if creator.profile_name.present? %>
      <%= link_to biztools_marketplace_creator_verification_show_path(creator.id), class: "f4 d-block width-fit" do %>
        <%= creator.profile_name %>
      <% end %>
      <span class="d-block f5 color-fg-muted" itemprop="name"><%= creator.login %></span>
    <% else %>
      <%= link_to biztools_marketplace_creator_verification_show_path(creator.id), class: "f4 d-block" do %>
        <%= creator.login %>
      <% end %>
    <% end %>
  </div>

  <% if is_verified %>
    <span class="Label"><%= is_verified ? "Verified" : "Not Verified" %></span>
  <% end %>

  <% if profile_email_verification.present? && profile_email_verification.verified? %>
    <%= render Primer::Beta::Label.new(title: "Email verification for #{ creator.login }>") do %>Email Verified<% end %>
  <% end %>
</div>

