<%
  rejection_reasons = %w(INVALID_LOCATION INVALID_IMAGE INVALID_DISPLAY_NAME 2FA_INACTIVE CUSTOM_REASON WILL_NOTIFY_MANUALLY)
%>

<%= render layout: "shared/details_dialog", locals: {
  button_text: "Reject verification",
  button_class: "btn btn-sm btn-danger d-none js-actual-remove-reject-button",
  title: "Remove/Reject verification",
} do %>
  <div class="Box-body overflow-auto">
    <%= form_tag biztools_marketplace_creator_verification_verify_path(creator_id: nil, query: params[:query], state: params[:state], verify: false, removing: false) do %>
      <input hidden type="text" name="creator_id" value="<%=creator.id%>">
      <p>
        Are you sure you want to <span class="js-remove-reject-status"></span> verification for <strong><%=creator.login%></strong>?
      </p>

      <select name="reason" aria-label="Verification rejection reason" class="form-select js-select-rejection-reason" style="width: 100%;" required>
        <option disabled selected value="none">Select a reason to notify</option>
        <% rejection_reasons.each do |reason|%>
          <option value="<%=reason%>"><%= reason.humanize%></option>
        <% end %>
      </select>

      <dl class="form-group">
        <dt><label for="custom_reason">Message for creator (required for custom-reason)</label></dt>
        <dd>
          <textarea name="custom_reason" id="custom_reason"
            class="form-control js-custom-reason-textarea" style="resize: none;"
            placeholder="As per publisher verification process we need to ensure that..."></textarea>
        </dd>
      </dl>
      <%= submit_tag "Reject verification", class: "btn btn-block btn-danger mt-2 js-update-rejection-reason-btn", disabled: true%>
      <div class="js-disable-button-message" style="color: #6c757d; text-align: center;"
        data-no-reason-error-message="A reason is required to remove/reject verification"
        data-empty-error-message="Reason cannot be empty to remove/reject verification">
        A reason is required to remove/reject verification
      </div>
    <% end %>
  </div>
<% end %>
