
 <% is_verified = creator.creator_verification_state? == Configurable::MarketplaceCreatorVerification::APPROVED
    is_applied = creator.creator_verification_state? == Configurable::MarketplaceCreatorVerification::APPLIED
    profile_email_verification = creator.profile_email_verification
    title = "#{creator.profile_name || creator.login} Verification"
 %>

<% page_info \
  title: "#{creator.profile_name || creator.login} Verification · Marketplace Creators · Biztools",
  selected_link: :marketplace_creator_verification %>

<%= render layout: "biztools/biztools" do %>

<%# Renders the partial containing the remove/reject verification dialog %>
<%= render "biztools/marketplace_creators/remove_verification", creator: creator%>

<%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h1) do %>
      <% title %>
    <% end %>
  <% end %>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Creator information
    <% end %>
  <% end %>

  <table class="stafftools-table mb-6">
    <tr>
      <th>Is email verified?</th>
      <td>
        <% if creator.profile_email_verification.present? && creator.profile_email_verification.verified? %>
          <%= primer_octicon(:verified, mr: 1, color: :success) %><%= creator.profile.email %>
        <% else %>
          <%= primer_octicon(:unverified, mr: 1, color: :danger) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Is domain verified?</th>
      <td>
        <% if creator.verified_profile_domains.present? %>
              <% creator.verified_profile_domains.each do |domain| %>
                <div class="d-block"><%= primer_octicon(:verified, mr: 1, color: :success) %><strong><%= domain %></strong></div>
              <% end %>
        <% else %>
          <div class="d-block"><%= primer_octicon(:unverified, mr: 1, color: :danger) %></div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Is 2FA enabled</th>
      <td>
        <% if creator.two_factor_requirement_enabled? %>
          <div class="d-block"><%= primer_octicon(:verified, mr: 1, color: :success) %></div>
        <% else %>
          <div class="d-block"><%= primer_octicon(:unverified, mr: 1, color: :danger) %></div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Is location embargoed</th>
      <td>
        <% if creator.is_location_allowed? %>
          <div class="d-block"><%= primer_octicon(:verified, mr: 1, color: :success) %><%= creator.profile_location %></div>
        <% else %>
          <div class="d-block"><%= primer_octicon(:unverified, mr: 1, color: :danger) %><%= creator.profile_location %></div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Is publisher an organization?</th>
      <td>
        <% if creator.is_a?(Organization) %>
          <div class="d-block"><%= primer_octicon(:verified, mr: 1, color: :success) %></div>
        <% else %>
          <div class="d-block"><%= primer_octicon(:unverified, mr: 1, color: :danger) %></div>
        <% end %>
      </td>
    </tr>
  </table>

  <table class="stafftools-table mb-6">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h3) do %>
        Manual checks
      <% end %>
    <% end %>

    <tr>
      <th>Organization Display Name</th>
      <td><%= link_to creator.login, user_path(creator) %></td>
    </tr>

    <tr>
      <th>Organization Profile Picture</th>
      <td><%= avatar_for(creator, 50, class: "avatar") %></td>
    </tr>
  </table>

  <div class="flex-items-center">
    <% if is_verified %>
      <%= render partial: "biztools/marketplace_creators/remove_creator", locals: {creator: creator} %>
    <% else %>
      <%= render partial: "biztools/marketplace_creators/verify_creator", locals: {creator: creator} %>
    <% end %>
    <% if is_applied %>
      <%= render partial: "biztools/marketplace_creators/reject_creator", locals: {creator: creator} %>
    <% end %>
  </div>
<% end %>
