<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Creators · Verification · Biztools" %>
<% creator_states = %w(ANY_STATE APPLIED REJECTED APPROVED)%>
<%= render layout: "biztools/biztools" do %>

  <div class="boxed-group">
    <h3>Creator Verification</h3>
    <%= form_tag biztools_marketplace_creator_verification_path, method: :get, class: "boxed-group-inner d-flex flex-items-center" do %>
      <input type="search" name="query" aria-label="Search by name" value="<%= query %>" placeholder="Search by name" class="form-control flex-auto">
      <select name="state" aria-label="Creator request state" class="form-select ml-2">
        <% creator_states.each do |state| %>
          <option <% if state == current_state %>selected<% end %> value="<%= state %>"><%= state.humanize %></option>
        <% end %>
      </select>
      <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>
        Search
      <% end %>
      <% if current_state.present? %>
        <a href="<%= biztools_marketplace_creator_verification_path %>" class="d-block ml-2">Clear</a>
      <% end %>
    <% end %>
  </div>

  <div class="Box Box--condensed mb-4">
    <div class="Box-header">
      <h3 class="Box-title">
        <% if params[:query] %>
          Creators matching "<%= params[:query] %>" and state  "<%= current_state %>"
        <% else %>
          Verified Creators
          <%= render Primer::Beta::Label.new(scheme: :primary, title: "#{creators.total_entries} total creators") do %>
            <%= creators.total_entries %>
          <% end %>
        <% end %>
      </h3>
    </div>

    <% if creators.empty? %>
      <div class="Box-body"><p class="mb-0">No Results</p></div>
    <% else %>
      <ul>
        <% creators.each do |creator| %>
          <li class="Box-row d-flex flex-justify-between">
            <%= render partial: "biztools/marketplace_creators/creator_listing", locals: { creator: creator, current_state: current_state }%>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <% if params[:query].blank? && creators.total_pages > 1 %>
    <div class="paginate-container">
      <%= will_paginate creators, class: "d-flex d-md-inline-block pagination" %>
    </div>
  <% end %>
<% end %>
