<%
  return if local_assigns[:feature_flag].present? && !feature_enabled_globally_or_for_current_user?(local_assigns[:feature_flag].to_sym)
  return if local_assigns[:not_feature_flag].present? && feature_enabled_globally_or_for_current_user?(local_assigns[:not_feature_flag].to_sym)

  col_lg = 4 if local_assigns[:col_lg].nil?
  index = nil if local_assigns[:index].nil?
  title = "" if local_assigns[:title].nil?
  description = "" if local_assigns[:description].nil?
  button_label = "Learn more"
  button_link = nil if local_assigns[:button_link].nil?
  ref_loc = "" if local_assigns[:ref_loc].nil?
  badge = nil if local_assigns[:badge].nil?
%>

<%= tag.div(
  class: class_names(
    "col-12 col-md-6 col-lg-#{col_lg} mb-6 mb-md-8",
    {
      "d-none d-md-block": index && index > 2,
    }
  ),
  data: {
    targets: (index && index > 2) ? "unveil-container.unveilItems" : nil,
  }
) do %>
  <h3 class="h5-mktg color-fg-default mb-2 col-11">
    <%= title %>
    <%= render Site::BadgeComponent.new(text: badge, size: :small, classes: "top-n1 ml-1") if badge.present? %>
  </h3>
  <p class="color-fg-muted f4 col-9 mb-1">
    <%= sanitize description %>
  </p>
  <% if button_label && button_link %>
    <%= render Site::LinkComponent.new(
      text: button_label,
      url: button_link,
      classes: "color-fg-accent",
      size: :medium,
      analytics: {
        category: "Features",
        action: "click to learn more about #{sanitize title}",
        label: "ref_page:#{request.path};ref_cta:#{button_label};ref_loc:#{ref_loc}"
      }
    ) %>
  <% end %>
<% end %>
