<%= render "site/features/categories/collaboration" %>
<%= render "site/features/categories/automation" %>
<%= render "site/features/categories/security" %>
<%= render "site/features/categories/apps" %>
<%= render "site/features/categories/project_management" %>
<%= render "site/features/categories/team_admin" %>

<div class="d-none d-md-block position-relative mt-3 px-lg-3">
  <div class="p-responsive container-xl">
    <div class="d-flex flex-row flex-nowrap">
      <div class="position-relative col-1">
        <div class="features-category--git-line-corner position-absolute right-n3"></div>
      </div>

      <div class="col-5">
        <div class="features-category--git-line-ending pb-9"></div>
      </div>
    </div>
  </div>
</div>
