<% page_meta = {
    title: "Features",
    name: "features"
  }
%>

<div id="features-community" class="overflow-x-hidden js-section">
  <div class="p-responsive container-xl">
    <div class="text-center mt-7 mt-md-2 mb-7 mb-md-9">
      <img src="<%= image_path "modules/site/features/launchpad/icons/icon-community.svg" %>" alt="GitHub Community Icon" loading="lazy" decoding="async" width="50" height="50">
      <h2 class="h2-mktg features-category--title">Community</h2>
    </div>
    <div class="mb-6 mb-md-8 container-xl mx-auto d-flex flex-row flex-wrap flex-justify-center gutter" id="resources">
      <%= render Site::CardComponent.new(
        header: "GitHub Marketplace",
        text: "Install apps that integrate directly with GitHub's API to customize and optimize your workflows – build your own for private use or publication in the GitHub Marketplace.",
        url: marketplace_path,
        size: :large,
        octicon: :apps,
        background: :subtle
      ) %>

      <%= render Site::CardComponent.new(
        header: "GitHub Sponsors",
        text: "Financially support the open source projects your code depends on. Sponsor a contributor, maintainer, or project with one time or recurring contributions.",
        url: sponsors_path,
        size: :large,
        background: :subtle,
        color: :sponsors,
        octicon: :heart
      ) if GitHub.sponsors_enabled? %>

      <%= render Site::CardComponent.new(
        header: "The ReadME Project",
        text: "The ReadME Project is part of GitHub’s ongoing effort to amplify the voices of the developer community.",
        url: readme_index_path,
        size: :large,
        background: :subtle,
        color: :done,
        octicon: :book
      ) %>

      <%= render Site::CardComponent.new(
        header: "GitHub skills",
        text: "Learn new skills by completing tasks and projects directly within GitHub, guided by our friendly bot.",
        url: "https://skills.github.com",
        size: :large,
        background: :subtle,
        octicon: :checklist
      ) %>

      <%= render Site::CardComponent.new(
        header: "Electron",
        text: "Write cross-platform desktop applications using JavaScript, HTML and CSS with the Electron framework, based on Node.js and Chromium.",
        url: "https://www.electronjs.org/docs/latest",
        size: :large,
        octicon: :code,
        color: :success,
        background: :subtle
      ) %>

      <%= render Site::CardComponent.new(
        header: "Education",
        text: "More than a platform. GitHub Education is a commitment to bringing tech and open source collaboration to students and educators across the globe.",
        url: "/edu",
        size: :large,
        octicon: "mortar-board",
        color: :success,
        background: :subtle
      ) %>
    </div>
  </div>
</div>
