<div class="position-relative z-1">
  <div class="features-new--background position-absolute width-full left-0 right-0 z-n1">
    <img class="width-full height-auto" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-whats-new.svg" %>" aria-hidden="true" alt="" width="1676" height="1040">
  </div>
  <div class="p-responsive container-xl overflow-x-hidden pt-4 d-flex flex-column flex-md-row">
    <div class="col-12 col-md-6 mb-6 px-md-4">
      <a
        href="/features/copilot"
        class="d-block hover-grow rounded-2 box-shadow-card-border-mktg overflow-hidden position-relative no-underline arrow-target-mktg"
        <%= safe_analytics_click_attributes(
          category: "Features",
          action: "click to learn about Copilot Chat",
          label: "ref_page:#{request.path};ref_cta:Learn more;ref_loc:whats new section"
        ) %>
        <%= mktg_color_theme_attributes %>
      >
      <picture>
        <source srcset="<%= image_path "modules/site/features/copilot-feature.webp" %>" type="image/webp">
        <img src="<%= image_path "modules/site/features/copilot-feature.jpg" %>" aria-hidden="true" alt="" class="position-relative top-0 left-0 width-full height-auto d-block rounded-2" width="600px" height="405px">
      </picture>
      <span class="position-absolute width-full height-full top-0 left-0 d-flex flex-column text-left p-3 p-lg-4">
        <span class="d-block mt-auto d-flex flex-row flex-nowrap flex-justify-between flex-items-end">
          <span class="h4-mktg color-fg-default">Experience AI<br> with Copilot Chat</span>
          <span class="no-wrap f4-mktg text-bold">Learn more <%= svg("site/icons/chevrow.svg", class: "octicon") %></span>
        </span>
      </span>
      </a>
    </div>

    <div class="col-12 col-md-6 mb-6 px-md-4">
      <a
        href="/features/preview"
        class="d-block hover-grow rounded-2 box-shadow-card-border-mktg overflow-hidden position-relative no-underline arrow-target-mktg"
        <%= safe_analytics_click_attributes(
          category: "Features",
          action: "click to learn about feature previews",
          label: "ref_page:#{request.path};ref_cta:Learn more;ref_loc:whats new section"
        ) %>
        <%= mktg_color_theme_attributes %>
      >
        <picture>
          <source srcset="<%= image_path "modules/site/features/feature-previews.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/features/feature-previews.png" %>" aria-hidden="true" alt="" class="position-relative top-0 left-0 width-full height-auto d-block rounded-2" width="600px" height="405px">
        </picture>
        <span class="position-absolute width-full height-full top-0 left-0 d-flex flex-column text-left p-3 p-lg-4">
          <span class="d-block mt-auto d-flex flex-row flex-nowrap flex-justify-between flex-items-end">
            <span class="h4-mktg color-fg-default">The latest GitHub<br> previews</span>
            <span class="no-wrap f4-mktg text-bold">Learn more <%= svg("site/icons/chevrow.svg", class: "octicon") %></span>
          </span>
        </span>
      </a>
    </div>
  </div>
</div>
