<%= content_tag(:div,
  class: "js-codeowners-error",
  "data-line": error.line,
  "data-column": error.column,
  "data-kind": error.kind,
  "data-suggestion": error.suggestion,
  "data-start-offset": error_offset,
  "data-end-offset": end_offset,
) do %>
  <span <%= test_selector("codeowners-error-description") %>>
    <%= error.kind %> on line <%= error.line %>: <%= error.suggestion %>
  </span>
  <pre class="mt-3"><code><%= line_prefix %><b class="error-highlight"><%= line_error %></b><%= line_suffix %></code></pre>
<% end %>
