<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% if errors.any? %>
  <div class="js-codeowners-errors">
    <%= render(Primer::Beta::Flash.new(icon: :bug, scheme: :warning, full: true, display: :flex, align_items: :center)) do |component| %>
      <%= render(Primer::Beta::Details.new(position: :relative, classes: "details-overlay details-overlay-dark")) do |details| %>
        <% details.with_summary(button: false, classes: "list-style-none") do %>
          <span <%= test_selector("codeowners-validity-message") %>>
            This CODEOWNERS file contains errors
          </span>
          <span class="ellipsis-expander inline">…</span>
        <% end %>

        <% details.with_body(tag: :"details-dialog", "aria-label": "CODEOWNERS errors", animation: :fade_in, classes: "fast Box-overlay--wide") do  %><%# erblint:disable A11yDetailsDialogMigration %>
          <%= render(Primer::Beta::BorderBox.new) do |border_box| %>
            <% border_box.with_header(clearfix: true) do |h| %>
              <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                <%= render(Primer::Beta::Octicon.new(:x, color: :default)) %>
              </button>
              <% h.with_title(tag: :h3, float: :left) do %>
                CODEOWNERS errors
              <% end %>
            <% end %>
            <% border_box.with_body(classes: "overflow-y-auto overflow-x-hidden", style: "max-height: 70vh") do |b| %>
              <ul>
                <% errors.each do |error| %>
                  <%= content_tag(:li, class: "Box-row") do %>
                    <%= render(Blobs::CodeownersErrorDescriptionComponent.new(error)) %>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <template class="js-codeowners-error-tooltip-template">
      <%= render(Primer::Tooltip.new(label: "{{ message }}", direction: :e)) do %>
      <% end %>
    </template>
    <template class="js-codeowners-error-line-alert-template">
      <span class="line-alert codeowners-error">
        <%= primer_octicon(:"dot-fill") %>
      </span>
    </template>
  </div>
<% else %>
  <%= render(Primer::Beta::Flash.new(icon: :"check-circle", scheme: :success, full: true, display: :flex, align_items: :center)) do |component| %>
    <span <%= test_selector("codeowners-validity-message") %>>
      This CODEOWNERS file is valid.
    </span>
  <% end %>
<% end %>
