<%# erblint:counter DeprecatedComponentsCounter 4 %>

<div class="ml-1" <%= test_selector "edit-dropdown-menu-component" %>>
  <%= form_tag edit_path, :class => "BtnGroup-parent js-update-url-with-hash " do %>
    <%= render(Primer::ButtonComponent.new(
      classes: "btn-sm BtnGroup-item",
      type: :submit,
      disabled: !edit_enabled,
      title: edit_tooltip,
      test_selector: "edit-icon-button",
      data: {
        "hotkey": "e",
        "disable-with": "",
      }
    )) do %>
      <%= render(Primer::Beta::Octicon.new(icon: "pencil")) %>
    <% end %>
  <% end %>

  <details class="details-reset details-overlay select-menu BtnGroup-parent d-inline-block position-relative">
    <%= render Primer::ButtonComponent.new(
      tag: :summary,
      group_item: true,
      float: :none,
      size: :small,
      px: 2,
      classes: "js-blob-dropdown-click select-menu-button",
      "data-disable-invalid": "",
      "data-disable-with": "",
      "data-dropdown-tracking": dropdown_tracking_attributes,
      "aria-label": "Select additional options") do %>
      <% end %>
    <div class="SelectMenu right-0">
      <div class="SelectMenu-modal width-full">
        <div class="SelectMenu-list SelectMenu-list--borderless py-2">
          <%= form_tag edit_path, :class => "SelectMenu-item js-update-url-with-hash " do %>
            <%= render(Primer::ButtonComponent.new(
              w: :full,
              display: :flex,
              justify_content: :space_between,
              scheme: :invisible,
              type: :submit,
              color: edit_enabled ? :default : :muted,
              font_weight: :normal,
              p: 0,
              disabled: !edit_enabled,
              title: edit_tooltip,
              test_selector: "edit-text-button"
            )) do %>
              <div class="mr-5">Edit this file</div>
              <div class="color-fg-muted">E</div>
            <% end %>
          <% end %>

          <% if github_dev_enabled %>
            <%= render(Primer::Beta::Link.new(
              classes: "SelectMenu-item js-github-dev-shortcut js-blob-dropdown-click",
              href: GitHub.codespaces_serverless_url,
              w: :full,
              display: :flex,
              justify_content: :space_between,
              color: :default,
              font_size: 5,
              aria: { label: "Open this file in github.dev" },
              font_weight: :normal,
              test_selector: "github-dev-link",
              data: {
                "dropdown-tracking": github_dev_link_tracking_attributes
              }
            )) do %>
              <div class="mr-5 no-wrap">Open in github.dev</div>
              <div class="color-fg-muted">.</div>
            <% end %>
          <% end %>

          <% if branch %>
            <%= render(Primer::Beta::Link.new(
              classes: "SelectMenu-item no-wrap js-remove-unless-platform",
              w: :full,
              font_weight: :normal,
              color: :default,
              href: clone_url,
              font_size: 5,
              test_selector: "github-desktop-link",
              data: {
                platforms: "windows,mac",
              },
              aria: { label: "Open this file in GitHub Desktop" }
            )) do %>
              Open in GitHub Desktop
            <% end %>
          <% else %>
            <%= render(Primer::ButtonComponent.new(
              classes: "SelectMenu-item no-wrap js-remove-unless-platform",
              scheme: :invisible,
              type: :submit,
              font_weight: :normal,
              aria: { label: "You must be on a branch to open this file in GitHub Desktop" },
              test_selector: "github-desktop-disabled-button",
              data: {
                platforms: "windows,mac",
              },
              disabled: true
            )) do %>
              Open in GitHub Desktop
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </details>
</div>
