<details class="d-inline-block details-reset details-overlay position-relative px-3 color-fg-muted" data-filter-on="filter">
    <summary aria-haspopup="true" class="Button--invisible Button--medium Button">
        <span class="Button-content">
          <span class="Button-label">Type</span>
        </span>
        <span class="Button-visual Button-trailingAction">
          <%= render(Primer::Beta::Octicon.new(icon: :"triangle-down")) %>
        </span>
    </summary>
    <details-menu class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
            <header class="SelectMenu-header">
                <div class="SelectMenu-title">Filter by member type</div>
            </header>
            <div class="SelectMenu-list">
                <% view.valid_access_filters.each do |value, name| %>
                    <a
                      href="<%= repository_access_management_path(view.repository.owner, view.repository, query: "filter:#{value}") %>"
                      class="SelectMenu-item js-member-search-filter"
                      data-filter="<%= value.eql?(:all) ? "" : "filter:#{value}" %>"
                      aria-checked="<%= view.selected_filter?(value) %>"
                      role="menuitemradio">
                      <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
                      <%= name %>
                    </a>
                <% end %>
            </div>
        </div>
    </details-menu>
</details>
