<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if invitee = invitation.invitee %>
  <div class="mx-3">
    <a href="<%= user_path(invitee) %>">
      <%= avatar_for invitee, 32, class: "avatar", data: hovercard_data_attributes_for_user(invitee) %>
    </a>
  </div>

  <div class="d-flex flex-column flex-auto col-6">
    <a href="<%= user_path(invitee) %>"><strong><%= view.member_name(invitee) %></strong></a>
    <div class="f6 color-fg-muted">
      Awaiting <%= invitee.display_login %>’s response
    </div>
  </div>

  <% if invitation.invite_expired? %>
    <div class="d-flex flex-items-center col-3">
      <span class="f6 color-fg-danger">Invite expired</span>
    </div>
  <% else %>
    <div class="d-flex flex-items-center col-3 pending-invite-container">
      <span class="f6 color-fg-muted">Pending Invite</span>
      <%= render Primer::Beta::ClipboardCopy.new(value: invitation.permalink, "data-copy-feedback": "Copied!", "aria-label": "Copy invite link", color: :muted, classes: "Link--onHover", ml: 1) %>
    </div>
  <% end %>

  <div class="col-3 d-flex flex-justify-end">
    <% if current_repository.in_organization? && invitee != current_user %>
      <%= render partial: "edit_repositories/admin_screen/access_management/permission_select", locals: {
        view: create_view_model(
          Orgs::Repositories::PermissionSelectView,
          repository: current_repository,
          selected_action: invitation.permission_string,
          submit_path: repository_invitation_permissions_path(invitation.id),
          base_role: view.organization.default_repository_permission
        ),
        button_text: "Role: #{invitation.permission_string}",
        id: "permission-select-user-#{invitee.id}",
        title: "Change the role of #{invitee.display_login}",
      } %>
    <% end %>
  </div>

  <div class="d-flex flex-column flex-grow-0 remove-button-container">
    <%= render layout: "shared/details_dialog", locals: {
      button_text: "",
      button_icon: "trash",
      button_icon_class: "color-fg-danger",
      title: "Confirm you want to remove this invitation",
      button_class: "ml-2 btn btn-sm",
      button_aria_label: "cancel invitation for user to access this repository"
    } do %>
      <%= form_tag uninvite_member_path(member: invitee),
        "data-error-message": "Sorry, we couldn’t remove access. Please try again.",
        method:              :post do %>
      <div class="d-flex flex-auto flex-column p-3">
        <p>
          Once canceled,
          <span class="text-bold"><%= invitee.display_login %></span>
          will no longer be invited to access the
          <span class="text-bold"><%= current_repository.name %></span>
          repository.
        </p>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true, classes: "css-truncate css-truncate-overflow", "data-close-dialog": "") do %>
          Cancel <%= invitee.display_login %>'s invitation
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%= primer_octicon(:mail, height: 32, width: 32, mx: 3, color: :muted) %>

  <div class="d-flex flex-column flex-auto col-6">
    <strong><%= view.member_name(invitation) %></strong>
    <div class="f6 color-fg-muted">
      Awaiting response
    </div>
  </div>

  <div class="d-flex flex-items-center col-3 pending-invite-container">
    <span class="f6 color-fg-muted">Pending Invite</span>
    <%= render Primer::Beta::ClipboardCopy.new(value: invitation.permalink, "data-copy-feedback": "Copied!", "aria-label": "Copy invite link", color: :muted, classes: "Link--onHover", ml: 1) %>
  </div>

  <div class="permission-level-cell col-3">
    <% if current_repository.in_organization? && invitee != current_user && invitee %>
      <%= render partial: "edit_repositories/admin_screen/access_management/permission_select", locals: {
        view: create_view_model(
          Orgs::Repositories::PermissionSelectView,
          repository:       current_repository,
          selected_action:  invitation.permission_string,
          submit_path:      repository_invitation_permissions_path(invitation.id),
          base_role:        view.organization.default_repository_permission
        )
      } %>
    <% end %>
  </div>

  <div class="d-flex flex-column flex-grow-0">
    <%= render layout: "shared/details_dialog", locals: {
      button_text: "Remove",
      title: "Confirm you want to remove this invitation",
      button_class: "ml-2 btn btn-sm btn-invisible hx_remove-member",
      button_aria_label: "cancel invitation for user to access this repository"
    } do %>
      <%= form_tag uninvite_member_path(member: invitation.email),
        "data-error-message": "Sorry, we couldn’t remove access. Please try again.",
        method:              :post do %>
      <div class="d-flex flex-auto flex-column p-3">
        <p>
          Once canceled,
          <span class="text-bold"><%= invitation.email %></span>
          will no longer be invited to access the
          <span class="text-bold"><%= current_repository.name %></span>
          repository.
        </p>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true, classes: "css-truncate css-truncate-overflow", "data-close-dialog": "") do %>
          Cancel <%= invitation.email %>'s invitation
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
<% end %>
