<div class="Box rounded-0 rounded-bottom-2 border-top-0">
  <div class="border-top">
    <% if view.direct_access_results.empty? %>
      <div class="text-center color-fg-muted py-4">
        <p>No Results</p>
      </div>
    <% else %>
      <% view.direct_access_results.each do |member| %>
        <% next if !view.org_owned_repo? && member == view.repository.owner %>
        <div class="Box-row clearfix d-flex flex-items-center js-repo-access-entry <%= "adminable" if view.show_admin_stuff? %>">
          <% if view.show_bulk_actions_toggle?(member) %>
            <input type="checkbox"
              class="js-bulk-actions-toggle"
              id="<%= "#{view.member_type(member)}-#{member.id}" %>"
              name="<%= "#{view.member_type(member)}_ids[]" %>"
              value="<%= member.id %>"
              aria-label="<%= view.member_type(member) %> <%= view.member_name(member) %>"
              data-check-all-item >
          <% else %>
            <%# Used to fill the space the bulk actions checkbox normally consumes. %>
            <input type="checkbox"
              class="v-hidden"
              disabled >
          <% end %>
          <% case member
             when User %>
            <%= render partial: "edit_repositories/admin_screen/access_management/member", locals: {
                member: member,
                view:   view
                }
            %>
          <% when RepositoryInvitation %>
            <%= render partial: "edit_repositories/admin_screen/access_management/invitation", locals: {
                invitee:    member.invitee,
                invitation: member,
                view:       view
                }
            %>
          <% when Team %>
            <%= render partial: "edit_repositories/admin_screen/access_management/team", locals: {
                organization: member.organization,
                team:         member,
                view:         view
                }
            %>
          <% end %>
        </div>
      <% end %>

      <% if user_can_create_organizations? && !view.org_owned_repo? && (view.direct_access_results.count >= 3) %>
        <%= render "edit_repositories/admin_screen/callout_create_org" %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="mt-4 mb-6 text-center">
  <% if view.direct_access_results.any? %>
    <nav class="paginate-container m-0" aria-label="Pagination" data-pjax>
      <div class="pagination">
        <% if view.has_previous_page? %>
          <%= render Primer::Beta::Link.new(
            href: repository_access_management_path(view.previous_page_link_params(params)),
            classes: "previous_page",
            "data-pjax": true,
            "aria-label": "Previous page",
            "data-turbo-frame": "repository-access-table-content",
            "data-turbo-action": "advance"
          ) do %>
            Previous
          <% end %>
        <% else %>
          <span class="previous_page disabled color-fg-muted"> Previous </span>
        <% end %>

        <% if view.has_next_page? %>
          <%= render Primer::Beta::Link.new(
            href: repository_access_management_path(view.next_page_link_params(params)),
            classes: "next_page",
            "data-pjax": true,
            "aria-label": "Next page",
            "data-turbo-frame": "repository-access-table-content",
            "data-turbo-action": "advance"
          ) do %>
            Next
          <% end %>
        <% else %>
          <span class="next_page disabled color-fg-muted"> Next </span>
        <% end %>
      </div>
    </nav>
  <% end %>
</div>
