<div itemscope itemtype="http://schema.org/Repository" class="js-check-all-container js-bulk-actions-container" data-bulk-actions-url="<%= members_toolbar_actions_path(repository: view.repository, user_id: view.repository.owner) %>">
  <div class="Box rounded-0 rounded-top-2 border-bottom-0">
    <div class="Box-header d-flex flex-items-center">
      <% if view.show_admin_stuff? %>
        <div class="pr-3">
          <input type="checkbox" id="select-all-checkbox" data-check-all>
        </div>
        <div class="select-all-dropdown js-bulk-actions flex-auto">
          <%= render partial: "edit_repositories/pages/members_toolbar_actions", locals: {
            view: create_view_model(
              EditRepositories::Pages::MemberToolbarActionsView,
              repository: view.repository
            )
          } %>
        </div>
      <% else %>
        <label class="flex-auto table-list-header-meta py-1">
          <%= view.direct_access_headcount %> with direct access
        </label>
      <% end %>

      <% if view.org_owned_repo? || !current_repository.is_enterprise_managed? %>
        <%= render "edit_repositories/admin_screen/access_management/filter_pulldown", view: view %>
      <% end %>

      <% if view.org_owned_repo? %>
        <%= render "edit_repositories/admin_screen/access_management/role_pulldown", view: view %>
      <% end %>
    </div>
    <div class="Box-row">
      <%= render "edit_repositories/admin_screen/access_management/search_bar", view: view %>
    </div>
  </div>

  <turbo-frame id="repository-access-table-content" target="_top">
    <div id="repository-access-table">
      <%= render "edit_repositories/admin_screen/access_management/members_table_body", view: view %>
    </div>
  </turbo-frame>
</div>
