<div class="mx-3">
  <a href="<%= user_path(member) %>">
    <%= avatar_for member, 32, class: "avatar", data: hovercard_data_attributes_for_user(member) %>
  </a>
</div>

<div class="d-flex flex-column flex-auto col-6">
  <a href="<%= user_path(member) %>"><strong><%= view.member_name(member) %></strong></a>
  <span class="f6 color-fg-muted">
    <% if secondary_name = view.member_secondary_name(member) %>
      <%= secondary_name %>
    <% end %>
    <% if view.show_collaborator_label?(member) %>
      <% if secondary_name %>&bull;<% end %>
      <% if current_repository.is_enterprise_managed? && current_repository.organization&.business&.emu_repository_collaborators_enabled? %>
        Repository
      <% elsif current_repository.in_organization? %>
        Outside
      <% end %>
      Collaborator
    <% end %>
  </span>
</div>

<div class="d-flex flex-items-center col-3 color-fg-muted">
    <% if mixed_roles = view.mixed_roles(member) %>
      <% if view.org_owner?(current_user) %>
        <%= render(Primer::Beta::Link.new(
          id: "mixed-role-#{member.id}",
          href: repository_permissions_path(view.organization, member, current_repository.owner, current_repository),
          scheme: :secondary,
          muted: true,
          target: "_blank",
          rel: "noopener",
          "aria-label": mixed_roles
          )) do |link| %>
            <% link.with_tooltip(type: :description, text: mixed_roles) %>
            <%= primer_octicon(:alert, mr: 1, color: :attention) %>
            <span class="f6">Mixed roles</span>
        <% end %>
      <% else %>
        <%= render(Primer::Beta::Button.new(
          id: "mixed-role-#{member.id}",
          scheme: :invisible,
          size: :small,
          inactive: true,
        )) do |component| %>
          <% component.with_leading_visual_icon(icon: :alert, mr: 1, color: :attention) %>
          <% if view.org_member?(current_user) %>
            <% component.with_tooltip(
              type: :description,
              text: mixed_roles,
            ) %>
          <% end %>
           <span class="f6">Mixed roles</span>
        <% end %>
      <% end %>
  <% end %>
</div>

<div class="col-3 d-flex flex-justify-end">
  <% if view.show_individual_role_select? %>
    <%= render partial: "edit_repositories/admin_screen/access_management/permission_select", locals: {
      view: create_view_model(
        Orgs::Repositories::PermissionSelectView,
        repository:       current_repository,
        selected_action:  view.direct_role_for(member).to_s,
        submit_path:      repository_update_member_path(current_repository.owner, current_repository, member),
        base_role:        view.org_visible_base_role,
        is_org_member:    view.show_org_info? && view.org_member?(member),
        is_org_owner:     view.show_org_info? && view.org_owner?(member)
      ),
      id: "permission-select-user-#{member.id}",
      title: "Change the role of #{member.display_login}",
      button_text: "Role: #{view.direct_role_for(member)}",
    } %>
  <% end %>
</div>

<div class="d-flex flex-grow-0 remove-button-container">
  <% if view.show_individual_remove_access_button?(member) %>
    <%= render layout: "shared/details_dialog", locals: {
      button_text: "",
      button_icon: "trash",
      button_icon_class: "color-fg-danger",
      title: "Confirm you want to remove this member",
      button_class: "ml-2 btn btn-sm",
      button_aria_label: "remove access to user from this repository"
    } do %>
      <%= form_tag settings_remove_member_url(member: member),
          "data-error-message":  "Sorry, we couldn’t remove access. Please try again.",
          "data-skip-remote":    member == current_user,
          method:               :delete do %>
      <div class="d-flex flex-auto flex-column p-3">
        <p>
          Once removed,
          <span class="text-bold"><%= member.display_login %></span>
          will no longer have direct access to this repository.
          However, they may still have access to this repository if they are a member of a team that is granted access.
        </p>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, block: true, mt: 3, classes: "css-truncate css-truncate-overflow", "data-close-dialog": "") do %>
          Remove <%= member.display_login %> from this repository
        <% end %>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
