<%# `view` is an instance of Orgs::Repositories::PermissionSelectView %>
<%= form_with url: view.submit_path, method: :put, class: "select-menu js-permission-menu-form d-flex flex-items-center flex-justify-end" do |form| %>
  <%= render(Primer::Alpha::SelectPanel.new(
    id: id,
    title: "Choose role",
    select_variant: :single,
    show_filter: false,
    fetch_strategy: :local,
  )) do |menu| %>
    <% menu.with_show_button { button_text } %>
    <% menu.with_footer do %>
      <% if view.repository.organization.custom_roles_supported? && view.org_admin? %>
        <%= render(Primer::Beta::Button.new(
          href: settings_org_repository_roles_path(view.repository.organization),
          data: analytics_click_attributes(category: "Repository roles", action: "click to create custom role", label: "ref_page:#{request.fullpath};ref_cta:Add custom roles;ref_loc:role select menu;"),
          justify_content: :space_between,
          tag: :a,
          w: :full,
          p: 2
        )) do %>
          <div>
            Manage roles
          </div>
        <% end %>
      <% elsif view.org_admin? %>
        <%= render(Primer::Beta::Link.new(
          href: settings_org_repository_roles_path(view.repository.organization),
          data: analytics_click_attributes(category: "Repository roles", action: "click to manage repository roles", label: "ref_page:#{request.fullpath};ref_cta:Add custom roles with GitHub Enterprise;ref_loc:role select menu;"),
          p: 0,
          classes: "SelectMenu-item no-underline"
        )) do %>
          <div class="width-full color-bg-premium rounded-2 m-1">
            <div class="d-flex">
              <div class="p-2">
                <%= render(Primer::Beta::Octicon.new(icon: :rocket, color: :sponsors, mt: 1)) %>
              </div>
              <div class="flex-auto py-2">
                <% if current_user.dismissed_notice?("vault_custom_roles") %>
                  <div class="f6 color-fg-default lh-condensed my-1">Add custom roles with <span class="text-semibold color-text-premium">GitHub Enterprise</span></div>
                <% else %>
                  <div class="h5 color-fg-default lh-condensed mb-1">Add custom roles with <span class="color-text-premium">GitHub Enterprise</span></div>
                  <p class="color-fg-muted mb-0">Enterprise accounts offer organizations granular control over permissions, and up to three custom repository roles.</p>
                <% end %>
              </div>
              <div class="d-flex flex-column flex-justify-center p-2">
                <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", color: :muted)) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% view.visible_roles.each do |role| %>
    <% disabled = view.disable_role?(role[:ability]) || view.permission_disabled?(role) %>
    <% menu.with_item(
      disabled: disabled,
      active: view.selected_action?(role[:ability]),
    ) do %>
      <label>
        <%= radio_button_tag "permission", role[:permission], view.selected_action?(role[:ability]), {"data-autosubmit": true , hidden: true, id: nil} %>
        <div class="d-flex">
          <span >
            <%= render(Primer::Beta::Heading.new(tag: :h1, classes: "h5", test_selector: "action-list-label", "data-menu-button-text": true)) { view.role_label(role) } %>
            <span class="f6 text-normal"><%= role[:description] %></span>
          </span>
        </div>
      </label>
    <% end %>
  <% end %>

    <% if view.repository.organization.custom_roles_supported? && !view.is_user_fork_of_private_org_repo? && view.show_custom_roles?%>
      <% view.visible_custom_roles.each do |role| %>
        <% disabled = view.custom_role_disabled?(role) %>
        <% menu.with_item(
          disabled: disabled,
          active: view.selected_action?(role.name),
        ) do %>
          <label>
            <%= radio_button_tag "permission", role.name, view.selected_action?(role.name), {"data-autosubmit": true , hidden: true, id: nil} %>
            <div class="d-flex">
              <span>
                <%= render(Primer::Beta::Heading.new(tag: :h1, classes: "h5", test_selector: "action-list-label", "data-menu-button-text": true)) { view.role_label(role) } %>
                <span class="f6 text-normal"><%= role.description %></span>
              </span>
            </div>
          </label>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <span class="js-permission-success" hidden role="status" aria-label="Save successful">
    <%= primer_octicon(:check, color: :success, ml: 3) %>
  </span>
  <span class="js-permission-error ml-3" hidden role="status" aria-label="Something went wrong. Try again">
    <%= primer_octicon(:alert, color: :danger) %>
  </span>
<% end %>
