<div class="mx-3">
  <a href="<%= team_path(team) %>">
    <%= avatar_for team, 32, class: "avatar", data: hovercard_data_attributes_for_team(team) %>
  </a>
</div>

<div class="d-flex flex-column flex-auto col-6" <%= test_selector "access-management-team-#{team.id}" %>>
  <span>
    <a class="" href="<%= team_path(team) %>"><strong><%= view.member_name(team) %></strong></a>
    <% if view.team_managed_by_group_settings?(team) %>
      <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Managed by group settings", classes: "no-wrap") do %>
        Managed by group settings
      <% end %>
    <% end %>
  </span>
  <div class="f6 color-fg-muted">@<%= view.member_secondary_name(team) %> &bull; <%= pluralize team.members_scope_count, 'member' %></div>
</div>

<div class="d-flex flex-items-center col-3">
    <% if mixed_roles = view.mixed_roles(team) %>
      <%= render(Primer::Beta::Link.new(
        id: "mixed-role-#{team.id}",
        href: team_repositories_path(view.first_team_giving_mixed_role(team)),
        scheme: :secondary,
        muted: true,
        target: "_blank",
        rel: "noopener",
        "aria-label": mixed_roles
      )) do |link| %>
        <% link.with_tooltip(type: :description, text: mixed_roles) %>
        <%= primer_octicon(:alert, mr: 1, color: :attention) %>
        <span class="f6">Mixed roles</span>
      <% end %>
  <% end %>
</div>

<div class="col-3 d-flex flex-justify-end">
  <%= render partial: "edit_repositories/admin_screen/access_management/permission_select", locals: {
    view: create_view_model(
      Orgs::Repositories::PermissionSelectView,
      repository:       view.repository,
      selected_action:  view.direct_role_for(team).to_s,
      submit_path:      team_repository_path(team, view.repository),
      base_role:        view.organization.default_repository_permission,
      team:             team,
    ),
    id: "permission-select-team-#{team.id}",
    title: "Change the role for #{team.slug}",
    button_text: "Role: #{view.direct_role_for(team)}",
  } %>
</div>

<div class="d-flex flex-grow-0 remove-button-container">
  <% if view.show_removal_button?(team) %>
    <%= render layout: "shared/details_dialog", locals: {
      button_text: "",
      button_icon: "trash",
      button_icon_class: "color-fg-danger",
      title: "Confirm you want to remove this team",
      button_class: "ml-2 btn btn-sm",
      button_aria_label: "remove team access to this repository"
    } do %>
      <%= form_tag url_for(action: :remove_team, team: team.id),
          "data-error-message": "Sorry, we couldn’t remove access. Please try again.",
          method: :delete do %>
      <div class="Box-body overflow-auto">
        <p class="mb-0">
          Once removed,
          <span class="text-bold"><%= team.name %></span>
          team will no longer have access to the
          <span class="text-bold"><%= current_repository.name %></span>
          repository.
        </p>
      </div>
      <div class="Box-footer">
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, block: true, classes: "css-truncate css-truncate-overflow", "data-close-dialog": "") do %>
          Remove <%= team.name %> from <%= current_repository.name %>
        <% end %>
      </div>
      <% end %>
    <% end %>
  <% else %>
    <%# Used to consume the space the Remove button would normally take up to align elements in this row with other rows %>
    <%= render Primer::Beta::Button.new(type: :button, scheme: :invisible, block: true, disabled: true, visibility: :hidden, classes: "hx_remove-member") do %>
      Remove
    <% end %>
  <% end %>
</div>
