<%# erblint:counter FlashMigrationCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% feature_enabled = GitHub.flipper[:pull_request_templates].enabled?(current_user) || GitHub.flipper[:pull_request_templates].enabled?(current_repository)%>
<% if logged_in? %>
  <%
    view = Tree::RecentlyTouchedBranchesView.new(
      :current_repository => current_repository,
      :current_user => current_user,
      :can_push => current_user_can_push?,
    )
    branches = GitHub.dogstats.time('recently_touched_branches') do
      view.recent_branches
    end
  %>
  <%# TODO: Attempt to read recently touched branches from cache %>
  <% if current_user_can_push? || view.user_fork %>
    <div class="js-socket-channel js-updatable-content"
        data-channel="<%= live_update_view_channel(view.web_socket_channels) %>"
        data-url="<%= show_partial_tree_path(:partial => "tree/recently_touched_branches_list") %>">
      <% if branches.any? %>
        <% branches.each do |branch| %>
          <div class="flash flash-warn color-fg-default mb-3">
            <div class="d-sm-flex">
              <% if branch[:repo] == current_repository %>
                <% branch_name      = branch[:name] %>
                <% comparison_range = branch[:name] %>
              <% else %>
                <% branch_name      = "#{branch[:repo].owner.display_login}:#{branch[:name]}" %>
                <% comparison_range = "#{current_repository.default_branch}...#{branch_name}" %>
              <% end %>
              <div class="flex-auto">
                <%= primer_octicon(:"git-branch", mr: 1) %>
                <strong>
                  <%= link_to branch_name, repository_path(branch[:repo], branch[:name], params[:path]),
                  :rel => 'nofollow', :class => 'Link--primary break-line-anywhere', :title => branch_name %>
                </strong>
                had recent pushes <%= time_ago_in_words branch[:date] %> ago
              </div>
              <a href="<%= compare_path(current_repository, comparison_range, expand: !feature_enabled) %>" class="flex-shrink-0 btn btn-primary ml-sm-3 mt-2 mt-sm-n2 mb-sm-n2 mr-sm-n1 flex-self-center" data-ga-click="Repository, go to new pull request form, location:recently pushed branches; text:Compare & pull request">
                Compare &amp; pull request
              </a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
