<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%# `view` is Tree::DeleteView %>
<%
  page_info \
    container_xl: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id,
    selected_link: :repo_source

  page_title \
    "Deleting #{current_repository.name}/#{view.current_tree.display_name}/ at #{h tree_name_for_display} · #{current_repository.name_with_display_owner}"

  fullscreen = params["fullscreen"].present? && params["fullscreen"] == "true"

  file_list_view = \
    Diff::FileListView.new \
      commentable: false,
      current_user: current_user,
      diffs: view.synthetic_commit_diff,
      display_diff_ajax_enabled: false,
      expandable: false,
      params: params,
      progressive: true,
      repository: current_repository
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<h1 class="sr-only"><%= "Deleting directory #{scrubbed_utf8(current_repository.name)}/#{scrubbed_utf8(view.current_tree.path)}" %></h1>

<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <% if view.forked_repo? %>
    <%=
      render partial: "web_commit/fork_octotip", locals: {
        fork_name_with_owner: view.forked_repo.name_with_display_owner,
        newfork: !!view.forked_reason
      }
    %>
  <% end %>

  <div class="file-box">
    <%= form_with url: web_commit_form_url, method: :delete do |f| %>
      <div class="d-flex flex-column height-full position-relative">
        <div class="breadcrumb d-flex flex-shrink-0 flex-items-center<%= ' px-3 px-sm-6 px-lg-3' if responsive? || blob_fullwidth? %><%= ' py-3' if blob_fullwidth? %>">
          <% if fullscreen %>
            <a href="/" aria-label="Homepage" data-ga-click="Header, go to dashboard, icon:logo">
              <%= primer_octicon(:"mark-github", height: 28, color: :default, mr: 2) %>
            </a>
          <% end %>
          <%= breadcrumb_trail(params[:path]) %><span class="separator">/</span>
        </div>

        <%=
          render partial: "diff/diff", locals: {
            disable_render: true,
            file_list_view: file_list_view
          }
        %>

        <%= render "web_commit/file_commit_form", view: view %>
      </div>
    <% end %>
  </div>
</div>

  <% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
    <%= javascript_bundle "editor" %>
  <% end %>
<% end %>
