<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
    selected_link: :repo_source,
    container_xl: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<% page_title "File Finder" %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4 d-flex flex-column js-tree-finder">

    <virtual-filter-input
      class="breadcrumb TableObject js-tree-finder-virtual-filter mb-2"
      aria-owns="tree-finder-results"
      data-property="paths"
      src="<%= tree_list_path(current_repository.owner, current_repository, tree_sha) %>"
    >
      <div class="d-flex flex-items-center">
        <div>
          <span class="bold"><%= link_to current_repository, repository_path(current_repository) %></span> /
        </div>
        <input type="text" name="query"
          autocomplete="off" spellcheck="false" autofocus
          id="tree-finder-field"
          aria-label="The name of the file to navigate to."
          class="form-control tree-finder-input js-tree-finder-field ml-1 flex-1">
      </div>
    </virtual-filter-input>

    <% if finder_newb? %>
      <div class="flash-messages js-notice">
        <%= render Primer::Beta::Flash.new do %>
          <%= form_tag dismiss_list_help_path, :class => "flash-close js-notice-dismiss" do %>
            <%= render Primer::Beta::CloseButton.new(type: :submit, "aria-label": "Hide this notice forever") %>
          <% end %>
          You’ve activated the <em>file finder</em>.
          Start typing to filter the file list. Use <kbd class="text-bold hx_text-body">↑</kbd> and
          <kbd class="text-bold hx_text-body">↓</kbd> to navigate,
          <kbd>enter</kbd> to view files, <kbd>esc</kbd> to exit.
        <% end %>
      </div>
    <% end %>

    <virtual-list data-sorted id="tree-finder-results" style="height: 1901px; overflow-y: hidden" class="js-tree-browser d-block">

      <template class="js-tree-browser-result-template">
        <li class="css-truncate css-truncate-overflow" role="presentation">
          <a
            class="tree-browser-result no-underline p-1 py-2 border-bottom d-block"
            href="<%= blob_path("", tree_name) %>/{{ urlEncodedItem }}"
            role="option"
            <%= repo_turbo_frame_attr(flagged: true) %>>
            <%= primer_octicon(:"chevron-right", ml: 2, mr: 2) %>
            <%= primer_octicon(:file) %>
            <marked-text data-owner-input="tree-finder-field" class="d-inline-block">{{ item }}</marked-text>
          </a>
        </li>
      </template>

      <%= render Primer::Beta::Blankslate.new(classes: "no-results", "data-fuzzy-list-show-on-empty": "", hidden: true) do |c| %>
        <% c.with_heading(tag: :h2) do %>
          No matching files found.
        <% end %>
      <% end %>

      <ul
        id="tree-browser"
        role="listbox"
        class="js-tree-browser-results tree-browser border-left border-top border-right list-style-none m-0"
        data-pjax="#repo-content-pjax-container"
        data-turbo-frame="repo-content-turbo-frame"
        hidden
      ></ul>

    </virtual-list>

  </div>
<% end %>
