<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<h4 class="mb-2">
  <span class="mr-2"><%= emoji_tag(Emoji.find_by_alias("wave")) %></span>Want to contribute to <%= view.repo.name_with_display_owner %>?
</h4>

<% if view.repo_has_contributing? %>
  <p class="m-0">
    If you have a bug or an idea, read the <%=
      link_to(
        "contributing guidelines",
        view.contributing_guidelines_path,
        target: "_blank",
        title: "A must-read for how to contribute to #{view.repo.name_with_display_owner}",
        data: view.first_time_contributor_banner_data_attributes_click_contributing(
          view: Issues::IndexView::ISSUES,
          banner_shows_all_issues: false,
          banner_shows_open_source_guide: false,
          banner_shows_labels: view.display_labels?
        ),
        class: "Link--inTextBlock"
      )
    %>
    before opening an issue.
  </p>
<% else %>
  <p class="m-0">
    If you have a bug or an idea, browse the open issues before opening a new one.
    You can also take a look at the <%=
      link_to(
        "Open Source Guide",
        view.open_source_guide_url,
        target: "_blank",
        title: "Learn about Open Source and how to contribute",
        data: view.first_time_contributor_banner_data_attributes_click_open_source_guide,
        class: "Link--inTextBlock"
      )
    %>.
  </p>
<% end %>

<% if ExploreFeed::RepositoryGoodFirstIssue.fetch_by_repo_id(current_repository.id).recommendable.any? %>
  <p class="mb-0">
    If you're ready to tackle some open issues, 
    <a class="Link--inTextBlock"
      href="<%= contribute_page_path(repository: current_repository.name, user_id: current_repository.owner.display_login) %>"
      data-ga-click="Explore, go to Contribute, location:Maintainer label education banner"
    >
      we've collected some good first issues for you</a>.
  </p>

<% end %>
