<% if GitHub.flipper[:advisory_db_epss_user_facing].enabled?(current_user) && cve_epss.present? %>
<div class="discussion-sidebar-item" <%= helpers.test_selector "cve_epss_section" %>>
  <%= render Primer::Beta::Heading.new(tag: :h3, mb: 2, font_size: 6) do %>
    <a href="https://www.first.org/epss/user-guide" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit;">EPSS score</a>
  <% end %>
  <%= render Primer::Box.new(display: :inline_block, align_items: :center, gap: '10px', color: :default, border: :bottom, style: "border-style: none none dashed !important;") do %>
    <%= render Primer::Tooltip.new(display: :flex, align_items: :center, label: epss_tooltip, direction: :n, no_delay: true, multiline: true, test_selector: "cve_epss_tooltip").with_content(epss_percentage) %> <%# erblint:counter DeprecatedComponentsCounter 1 %>
  <% end %>
  <%= render Primer::Box.new(display: :inline_block, align_items: :center, gap: '5px', color: :default).with_content(epss_percentile) %>
</div>
<% end %>
