<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 4 %>
<%# erblint:counter GoogleAnalyticsDeprecation 2 %>

<%= form_tag listing_resurce_path, :method => :put, :class => "js-marketplace-listing-form width-full" do %>
  <div class="clearfix">
    <dl class="form-group mt-0 required">
      <dt>
        <label for="marketplace_listing_full_description">Introductory description</label>
        <p class="color-fg-muted text-small">This is shown on your listing page at the top of your listing.</p>
      </dt>
      <dd>
        <div class="js-previewable-comment-form previewable-comment-form write-selected border rounded-2 pb-2 color-border-default js-listing-characters-remaining-container" data-preview-url="<%= marketplace_preview_path %>">
          <%= csrf_hidden_input_for marketplace_preview_path, class: "js-data-preview-url-csrf" %>
          <div class="comment-form-head tabnav d-flex">
            <nav aria-labelledby="introductory_description_tabs" class="tabnav-tabs  overflow-visible" role="tablist">
              <div id="introductory_description_tabs">
                <button type="button" class="btn-link tabnav-tab write-tab js-write-tab selected" role="tab" aria-selected="true">Write</button>
                <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab" role="tab">Preview</button>
              </div>
            </nav>
            <%= render Comments::MarkdownToolbarComponent.new(textarea_id: "marketplace_listing_full_description") %>
          </div>
          <%= render partial: "comments/stale_content_error" %>
          <div class="write-content js-write-bucket mb-0">
            <textarea required name="marketplace_listing[fullDescription]" class="form-control comment-form-textarea js-comment-field js-task-list-field js-quick-submit js-size-to-fit js-listing-characters-remaining-field" id="marketplace_listing_full_description" aria-describedby="help-text-for-full_description" data-character-limit="<%= Marketplace::Listing::FULL_DESCRIPTION_MAX_LENGTH %>"><%= listing_full_description %></textarea>
          </div>
          <div class="preview-content">
            <%= render partial: "marketplace_listings/preview_text" %>
          </div>
          <div class="clearfix">
            <div class="float-left">
              <span class="tabnav-extra pt-0">
                <a id="help-text-for-full_description" class="color-fg-muted" href="<%= GitHub.markdown_docs_url %>" target="_blank" rel="noopener noreferrer" data-ga-click="Markdown Toolbar, click, help">
                  <%= primer_octicon(:markdown, vertical_align: :bottom) %>
                  Styling with Markdown is supported.
                </a>
                Limit <%= Marketplace::Listing::FULL_DESCRIPTION_MAX_LENGTH %> characters.
                <span class="js-listing-characters-remaining" data-suffix="remaining.">
                  <%= Marketplace::Listing::FULL_DESCRIPTION_MAX_LENGTH - (listing_full_description || "").length %> remaining.
                </span>
              </span>
            </div>
          </div>
        </div>
      </dd>
    </dl>
    <dl class="form-group mt-5 required">
      <dt>
        <label for="marketplace_listing_extended_description">Detailed description</label>
        <p class="color-fg-muted text-small">This is shown on your listing page below the introductory description upon clicking &ldquo;Read more...&rdquo;</p>
      </dt>
      <dd>
        <div class="js-previewable-comment-form previewable-comment-form write-selected border rounded-2 pb-2 color-border-default js-listing-characters-remaining-container" data-preview-url="<%= marketplace_preview_path %>">
          <%= csrf_hidden_input_for marketplace_preview_path, class: "js-data-preview-url-csrf" %>
          <div class="comment-form-head tabnav d-flex">
            <nav aria-labelledby="detailed_description_tabs" class="tabnav-tabs  overflow-visible" role="tablist">
              <div id="detailed_description_tabs">
                <button type="button" class="btn-link tabnav-tab write-tab js-write-tab selected" role="tab" aria-selected="true">Write</button>
                <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab" role="tab">Preview</button>
              </div>
            </nav>
            <%= render Comments::MarkdownToolbarComponent.new(textarea_id: "marketplace_listing_extended_description") %>
          </div>
          <%= render partial: "comments/stale_content_error" %>
          <div class="write-content js-write-bucket mb-0">
            <textarea name="marketplace_listing[extendedDescription]" class="form-control comment-form-textarea js-comment-field js-task-list-field js-quick-submit js-size-to-fit js-listing-characters-remaining-field" id="marketplace_listing_extended_description" aria-describedby="help-text-for-extended_description" data-character-limit="<%= Marketplace::Listing::EXTENDED_DESCRIPTION_MAX_LENGTH %>"><%= listing_extended_description %></textarea>
          </div>
          <div class="preview-content">
            <%= render partial: "marketplace_listings/preview_text" %>
          </div>
          <div class="clearfix">
            <div class="tabnav-extra pt-1">
              <a id="help-text-for-extended_description" class="color-fg-muted" href="<%= GitHub.markdown_docs_url %>" target="_blank" rel="noopener noreferrer" data-ga-click="Markdown Toolbar, click, help">
                <%= primer_octicon(:markdown, vertical_align: :bottom) %>
                Styling with Markdown is supported.
              </a>
              Limit
              <%= number_with_delimiter Marketplace::Listing::EXTENDED_DESCRIPTION_MAX_LENGTH %>
              characters.
              <span class="js-listing-characters-remaining" data-suffix="remaining.">
                <%= Marketplace::Listing::EXTENDED_DESCRIPTION_MAX_LENGTH - (listing_extended_description || "").length %> remaining.
              </span>
            </div>
          </div>
        </div>
      </dd>
    </dl>

    <input type="hidden" value="description" name="page" class="form-control">

    <%= render Primer::ButtonComponent.new("data-disable-invalid": "", type: :submit, scheme: :primary, mt: 2) do %>Save listing details<% end %>
    <span class="js-marketplace-listing-save-notice marketplace-listing-save-notice d-inline-block color-fg-success f6 ml-2">
      <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
      Saved
    </span>
  </div>
<% end %>
