<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  supported_language_names = marketplace_listing.languages.order(:id).pluck(:name)
  primary_category, secondary_category, _ = marketplace_listing.regular_categories
%>

<%= form_tag(marketplace_listing_path(marketplace_listing), method: :put, class: "js-marketplace-listing-form", "data-warn-unsaved-changes": "") do %>
  <dl class="form-group required">
    <dt><label for="marketplace_listing_name">Listing name</label></dt>
    <dd class="js-listing-characters-remaining-container">
      <input required type="text" name="marketplace_listing[name]" value="<%= marketplace_listing.name %>" class="form-control js-listing-characters-remaining-field" id="marketplace_listing_name" aria-describedby="help-text-for-name" maxlength="<%= Marketplace::Listing::NAME_MAX_LENGTH %>">
      <p class="color-fg-muted text-small" id="help-text-for-name">
        Limit <%= Marketplace::Listing::NAME_MAX_LENGTH %> characters.
        <span class="js-listing-characters-remaining" data-suffix="remaining.">
          <%= Marketplace::Listing::NAME_MAX_LENGTH - (marketplace_listing.name || "").length %> remaining.
        </span>
      </p>
      <p class="color-fg-muted text-small" id="listing-name-helptext">A human-friendly name for your listing. <%= "Changing this name will change the URL for your listing." if marketplace_listing.draft? %></p>
    </dd>
  </dl>

  <dl class="form-group required">
    <dt><label for="marketplace_listing_short_description">Very short description</label></dt>
    <dd class="js-listing-characters-remaining-container">
      <input required type="text" name="marketplace_listing[shortDescription]" value="<%= marketplace_listing.short_description %>"
                                                                               class="form-control js-listing-characters-remaining-field js-marketplace-short-description-field"
                                                                               id="marketplace_listing_short_description"
                                                                               aria-describedby="help-text-for-description"
                                                                               pattern="<%= Marketplace::Listing::NO_ENDING_PUNCTUATION_REGEX_JS.source %>"
                                                                               maxlength="<%= Marketplace::Listing::SHORT_DESCRIPTION_MAX_LENGTH %>">

      <p class="error">Cannot end with punctuation</p>

      <p class="color-fg-muted text-small" id="help-text-for-description">
        Limit <%= Marketplace::Listing::SHORT_DESCRIPTION_MAX_LENGTH %> characters.
        <span class="js-listing-characters-remaining" data-suffix="remaining.">
          <%= Marketplace::Listing::SHORT_DESCRIPTION_MAX_LENGTH - (marketplace_listing.short_description || "").length %> remaining.
        </span>
      </p>
      <p class="color-fg-muted text-small">
        This description will be shown under your listing’s name in search results, the home page and category pages.
      </p>
    </dd>
  </dl>

  <dl class="form-group required">
    <% if marketplace_listing.allowed_to_edit_categories?(current_user) %>
      <dt><label for="marketplace_listing_primary_category">Primary category</label></dt>
      <dd>
      <select name="marketplace_listing[primaryCategoryName]" class="form-select" id="marketplace_listing_primary_category">
        <% marketplace_categories.each do |category| %>
          <% is_selected = category.name == primary_category&.name %>
          <option value="<%= category.name %>"<% if is_selected %> selected<% end %>>
          <%= category.name %>
          </option>
        <% end %>
      </select>
      </dd>
    <% else %>
      <dt><strong>Primary category</strong></dt>
      <dd class="topic-tag"><%= primary_category&.name %></dd>
    <% end %>
  </dl>
  <dl class="form-group">
    <% if marketplace_listing.allowed_to_edit_categories?(current_user) %>
      <dt>
      <label for="marketplace_listing_secondary_category">Secondary category</label>
      </dt>
      <dd>
      <select name="marketplace_listing[secondaryCategoryName]" class="form-select" id="marketplace_listing_secondary_category">
        <option value="none">None</option>
        <% marketplace_categories.each do |category| %>
          <% is_selected = category.name == secondary_category&.name %>
          <option value="<%= category.name %>"<% if is_selected %> selected<% end %>>
          <%= category.name %>
          </option>
        <% end %>
      </select>
      </dd>
    <% else %>
      <dt><strong>Secondary category</strong></dt>
      <dd class="topic-tag">
      <%= secondary_category&.name || "none" %>
      <input type="hidden" name="marketplace_listing[secondaryCategoryName]" value="<%= secondary_category&.name %>">
      </dd>
    <% end %>
  </dl>
  <% unless marketplace_listing.allowed_to_edit_categories?(current_user) %>
    <p class="note">Categories can no longer be edited for this listing.</p>
  <% end %>

  <div class="form-group">
    <div class="text-bold">Supported languages</div>
    <%= render partial: "marketplace_listings/supported_languages",
               locals: { selected_language_names: supported_language_names } %>
  </div>

  <dl class="form-group required">
    <dt><label for="marketplace_listing_support_url">Customer support URL</label></dt>
    <dd>
    <input type="text" name="marketplace_listing[supportUrl]" value="<%= marketplace_listing.support_url.to_s %>" class="form-control" id="marketplace_listing_support_url">
    </dd>
  </dl>
  <dl class="form-group required">
    <dt><label for="marketplace_listing_privacy_policy_url">Privacy policy URL</label></dt>
    <dd>
    <input type="text" name="marketplace_listing[privacyPolicyUrl]" value="<%= marketplace_listing.privacy_policy_url %>" class="form-control" id="marketplace_listing_privacy_policy_url">
    </dd>
  </dl>
  <% if marketplace_listing.listable_is_oauth_application? %>
    <dl class="form-group required">
      <dt>
        <label for="marketplace_listing_installation_url">Installation URL</label>
        <p class="note">
          The URL we'll redirect to after they install the app on GitHub. More information on this can be
          found in <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/marketplace/listing-on-github-marketplace/writing-github-marketplace-listing-descriptions/#listing-urls" target="_blank" rel="noopener noreferrer">our developer documentation</a>.
        </p>
      </dt>
      <dd>
      <input type="text" name="marketplace_listing[installationUrl]" value="<%= marketplace_listing.installation_url %>" class="form-control" id="marketplace_listing_installation_url">
      </dd>
    </dl>
  <% end %>
  <dl class="form-group">
    <dt><label for="marketplace_listing_company_url">Company URL</label></dt>
    <dd>
    <input type="text" name="marketplace_listing[companyUrl]" value="<%= marketplace_listing.company_url %>" class="form-control" id="marketplace_listing_company_url">
    </dd>
  </dl>
  <dl class="form-group">
    <dt>
      <label for="marketplace_listing_status_url">Status URL</label>
    </dt>
    <dd>
      <input type="text" name="marketplace_listing[statusUrl]" value="<%= marketplace_listing.status_url %>" class="form-control" id="marketplace_listing_status_url">
    </dd>
  </dl>
  <dl class="form-group">
    <dt>
      <label for="marketplace_listing_tos_url">Terms of service URL</label>
    </dt>
    <dd>
      <input type="text" name="marketplace_listing[termsOfServiceUrl]" value="<%= marketplace_listing.tos_url %>" class="form-control" id="marketplace_listing_tos_url">
    </dd>
  </dl>
  <dl class="form-group">
    <dt>
      <label for="marketplace_listing_documentation_url">Documentation URL</label>
    </dt>
    <dd>
      <input type="text" name="marketplace_listing[documentationUrl]" value="<%= marketplace_listing.documentation_url %>" class="form-control" id="marketplace_listing_documentation_url">
    </dd>
  </dl>

  <input type="hidden" value="description" name="page" class="form-control">

  <%= render Primer::ButtonComponent.new("data-disable-invalid": "", "data-disable-with": "", type: :submit, scheme: :primary) do %>Save naming and links<% end %>
  <span class="js-marketplace-listing-save-notice marketplace-listing-save-notice d-inline-block color-fg-success f6 ml-2">
    <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
    Saved
  </span>
<% end %>
