<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 3 %>

<%
 screenshots = marketplace_listing.screenshots.order(:sequence)
%>

<% if marketplace_listing.remaining_screenshot_count > 0 %>
  <%= file_attachment_tag(
    model: :marketplace_listing_screenshots,
    class: "js-upload-marketplace-listing-screenshot is-default",
    input: "upload-screenshot",
    "data-marketplace-listing-id": marketplace_listing.id,
    "data-screenshots-url": marketplace_listing_screenshots_path(marketplace_listing.slug)
  ) do %>
    <dl class="form-group">
      <dt>
        <p class="color-fg-muted">Use a high resolution image, at least 1200px wide. Images should all be the same height and width (aspect ratio) to avoid page jumps when users navigate from one image to the next. At least one image is required.</p>
      </dt>
      <dd class="avatar-upload-container clearfix">
        <div class="avatar-upload">
          <label class="position-relative btn button-change-avatar mt-2 mb-2">
            Upload file
            <input type="file" id="upload-screenshot" class="manual-file-chooser width-full height-full ml-0">
          </label>

          <div class="upload-state loading">
            <button type="button" class="btn mt-3 width-full text-center" disabled>
              <%= image_tag "spinners/octocat-spinner-32.gif", width: 16, height: 16, alt: "", class: "v-align-text-bottom" %> Uploading...
            </button>
          </div>

          <div class="upload-state color-fg-danger file-empty">
            This file is empty.
          </div>

          <div class="upload-state color-fg-danger too-big">
            Please upload a picture smaller than 5 MB.
          </div>

          <div class="upload-state color-fg-danger bad-dimensions">
            Please upload a picture smaller than 10,000x10,000.
          </div>

          <div class="upload-state color-fg-danger bad-file">
            We only support PNG, GIF, or JPG pictures.
          </div>

          <div class="upload-state color-fg-danger failed-request">
            Something went really wrong and we can’t process that picture.
          </div>

          <div class="upload-state color-fg-danger bad-format">
            File contents don’t match the file extension.
          </div>
        </div>
      </dd>
    </dl>
  <% end %>
<% end %>
<div class="js-draggable-screenshots-container d-flex">
  <% screenshots.each do |screenshot| %>
    <div class="position-relative d-inline-block flex-self-start marketplace-listing-screenshot-container js-drag-handle js-draggable-screenshot js-marketplace-listing-screenshot-container border color-border-muted rounded-2 mr-3 mb-3" data-screenshot-id="<%= screenshot.id %>">
      <a href="<%= screenshot.storage_external_url(current_user) %>" class="marketplace-listing-screenshot-link d-block overflow-hidden" aria-label="View this screenshot" target="_blank" rel="noopener noreferrer">
        <img src="<%= screenshot.storage_external_url(current_user) %>" alt="" class="img-responsive">
        <span class="marketplace-listing-screenshot-zoom position-absolute text-center">
          <%= primer_octicon(:search, height: 32) %>
          <p class="text-bold mb-0">Click to zoom</p>
        </span>
      </a>
      <%= form_tag marketplace_listing_screenshot_path(marketplace_listing.slug, screenshot.id), :class => "js-marketplace-listing-screenshot-update-form", :method => :put do %>
        <dl class="form-group my-0 Details js-details-container p-2">
          <dt>
            <p class="mb-0 lh-condensed text-small text-bold js-marketplace-listing-screenshot-caption-present <%= "d-none" if screenshot.caption.blank? %>">
              <%= screenshot.caption %>
            </p>
            <p class="mb-0 lh-condensed text-small text-bold js-marketplace-listing-screenshot-caption-empty <%= "d-none" if screenshot.caption.present? %>">
              <em class="color-fg-muted text-normal">No caption</em>
            </p>
            <button type="button" for="screenshot-caption-<%= screenshot.id %>" class="btn-link text-small js-details-target" aria-expanded="false"><span class="Details-content--shown">Edit caption</span><span class="Details-content--hidden">Hide</span></button>
          </dt>
          <dd class="js-listing-characters-remaining-container Details-content--hidden">
          <input class="form-control width-full js-listing-characters-remaining-field js-marketplace-listing-screenshot-caption-field input-sm" maxlength="<%= Marketplace::ListingScreenshot::CAPTION_MAX_LENGTH %>" type="text" value="<%= screenshot.caption %>" name="marketplace_listing_screenshot[caption]" id="screenshot-caption-<%= screenshot.id %>" aria-label="Caption">
            <p class="f6 color-fg-muted p-1">
              Limit <%= Marketplace::ListingScreenshot::CAPTION_MAX_LENGTH %> characters.
              <span class="js-listing-characters-remaining" data-suffix="remaining.">
                <%= Marketplace::ListingScreenshot::CAPTION_MAX_LENGTH - (screenshot.caption || "").length %> remaining.
              </span>
            </p>
            <p>
              <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, block: true, variant: :small) do %>Save caption<% end %>
              <span class="js-marketplace-listing-save-notice marketplace-listing-save-notice color-fg-success f6 ml-2">
                <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
                Saved
              </span>
              <span class="js-marketplace-listing-save-error marketplace-listing-save-error color-fg-danger f6 ml-2">
                <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
                Error
              </span>
            </p>
          </dd>
        </dl>
      <% end %>
      <%= form_tag marketplace_listing_screenshot_path(marketplace_listing.slug, screenshot.id), :class => "js-marketplace-listing-form js-marketplace-listing-screenshot-resequence-form d-none", :method => :put do %>
        <input type="hidden" name="marketplace_listing_screenshot[previousScreenshotId]">
        <span class="js-marketplace-listing-save-notice marketplace-listing-save-notice color-fg-success f6 ml-2">
          <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
          Saved
        </span>
      <% end %>
      <%= form_tag marketplace_listing_screenshot_path(marketplace_listing.slug, screenshot.id), class: "marketplace-listing-screenshot-delete-form js-marketplace-listing-screenshot-delete-form", :method => :delete do %>
        <button type="submit" class="btn-link width-full text-center js-marketplace-listing-screenshot-delete-button f6 mt-2 d-block" data-confirm="Are you sure you want to delete this screenshot?">
          Delete screenshot
        </button>
      <% end %>
    </div>
  <% end %>
</div>
