<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  listing = marketplace_listing
%>

<%= render layout: "marketplace_listings/admin_layout", locals: { marketplace_listing: marketplace_listing, selected_tab: :contact_info } do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Contact information<% end %>
  <% end %>

  <p>We will use these contacts for official correspondence to your team about updates to GitHub Marketplace as it affects your listing.</p>

  <p><i>Note: We will not share this information with the public as it is used for our internal records. However, in the case of an enterprise customer introduction, we will use your marketing email.</i></p>
  <%= form_tag marketplace_listing_path(listing), :method => :put, :class => "js-marketplace-listing-form width-full" do %>
    <dl class="form-group required">
      <dt>
        <label for="marketplace_listing_technical_email">Technical lead email</label>
      </dt>
      <dd>
        <input type="text" name="marketplace_listing[technicalEmail]" required value="<%= listing.technical_email %>" class="form-control" id="marketplace_listing_technical_email">
      </dd>
    </dl>
    <dl class="form-group required">
      <dt>
        <label for="marketplace_listing_marketing_email">Marketing lead email</label>
      </dt>
      <dd>
        <input type="text" name="marketplace_listing[marketingEmail]" required value="<%= listing.marketing_email %>" class="form-control" id="marketplace_listing_marketing_email">
      </dd>
    </dl>
    <dl class="form-group required">
      <dt>
        <label for="marketplace_listing_finance_email">Finance lead email</label>
      </dt>
      <dd>
        <input type="text" name="marketplace_listing[financeEmail]" required value="<%= listing.finance_email %>" class="form-control" id="marketplace_listing_finance_email">
      </dd>
    </dl>
    <dl class="form-group required">
      <dt>
        <label for="marketplace_listing_security_email">Security lead email</label>
      </dt>
      <dd>
        <input type="text" name="marketplace_listing[securityEmail]" required value="<%= listing.security_email %>" class="form-control" id="marketplace_listing_security_email">
      </dd>
    </dl>

    <input type="hidden" value="contact" name="page" class="form-control">

    <%= render Primer::ButtonComponent.new("data-disable-invalid": "", type: :submit, scheme: :primary) do %>Save contact info<% end %>
    <span class="js-marketplace-listing-save-notice marketplace-listing-save-notice d-inline-block color-fg-success f6 ml-2">
      <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
      Saved
    </span>

    <!-- Prev/next nav -->
    <div class="border-top clearfix mt-3 pt-3 d-flex flex-items-center">
      <div class="col-8 float-left d-inline-flex flex-items-center">
        <nav class="paginate-container float-left d-inline my-0 mr-3 v-align-middle" aria-label="Pagination">
          <div class="pagination d-block">
            <span class="disabled">Previous</span>
            <a rel="next" href="<%= edit_description_marketplace_listing_path(listing.slug) %>" aria-label="Next Page">Next</a>
          </div>
        </nav>
        <span class="text-small color-fg-muted"><strong>Next:</strong> Fill out your listing description.</span>
      </div>
      <div class="col-4 float-left text-right">
        <a href="<%= edit_marketplace_listing_path(listing.slug) %>" class="Link--muted issue-meta-section task-progress ml-2"><%= primer_octicon(:checklist) %>
          <span class="task-progress-counts">1 of 4</span>
          <span class="progress-bar v-align-middle"><%# erblint:disable DeprecatedCustomCss %>
            <span class="progress" style="width: 25%"></span>
          </span>
        </a>
      </div>
    </div>
  <% end %>
<% end %>
