
<%= render layout: "marketplace_listings/admin_layout", locals: { marketplace_listing: marketplace_listing, selected_tab: :description } do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Listing description<% end %>
  <% end %>

  <p>This information will be shown in the Marketplace when your listing is approved. More information can be
    found in <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/marketplace/listing-on-github-marketplace/writing-github-marketplace-listing-descriptions/" target="_blank" rel="noopener noreferrer">our developer documentation</a>.
  </p>

  <!-- 1. Naming and links -->
  <div class="clearfix mb-4">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2, display: :flex, align_items: :center, id: "naming_and_links") do %>
        <span class="flex-1">Naming and links</span>
        <%= marketplace_listing.naming_and_links_completed? ? primer_octicon(:check, color: :success) : primer_octicon(:'dot-fill', classes: "hx_dot-fill-pending-icon") %>
      <% end %>
    <% end %>
    <%= render partial: "marketplace_listings/edit/naming_and_links",
               locals: { marketplace_listing: marketplace_listing, marketplace_categories: marketplace_categories } %>
  </div>

  <!-- 2. Logo and hero card -->
  <div class="clearfix mb-4">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2, display: :flex, align_items: :center, id: "logo_and_feature_card") do %>
        <span class="flex-1">Logo and feature card</span>
        <%= marketplace_listing.logo_and_feature_card_completed? ? primer_octicon(:check, color: :success) : primer_octicon(:'dot-fill', classes: "hx_dot-fill-pending-icon") %>
      <% end %>
    <% end %>
    <%= render partial: "marketplace_listings/edit/logo_and_feature_card",
               locals: { marketplace_listing: marketplace_listing } %>
  </div>

  <!-- 3. Listing details -->
  <div class="clearfix mb-4">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2, display: :flex, align_items: :center, id: "listing_details") do %>
        <span class="flex-1">Listing details</span>
        <%= marketplace_listing.listing_details_completed? ? primer_octicon(:check, color: :success) : primer_octicon(:'dot-fill', classes: "hx_dot-fill-pending-icon") %>
      <% end %>
    <% end %>
    <%= render partial: "marketplace_listings/edit/listing_details", locals: {
          listing_resurce_path: marketplace_listing_path(marketplace_listing),
          listing_full_description: marketplace_listing.full_description.to_s,
          listing_extended_description: marketplace_listing.extended_description.to_s,
        }
    %>
  </div>

  <!-- 4. Product screenshots -->
  <div class="clearfix mb-4">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2, display: :flex, align_items: :center, id: "product_screenshots") do %>
        <span class="flex-1">Product screenshots</span>
        <%= marketplace_listing.product_screenshots_completed? ? primer_octicon(:check, color: :success) : primer_octicon(:'dot-fill', classes: "hx_dot-fill-pending-icon") %>
      <% end %>
    <% end %>
    <div class="js-marketplace-listing-screenshots-container">
      <%= render partial: "marketplace_listings/edit/product_screenshots",
                 locals: { marketplace_listing: marketplace_listing } %>
    </div>
  </div>

  <!-- Prev/next nav -->
  <div class="border-top clearfix mt-3 pt-3 d-flex flex-items-center">
    <div class="col-8 float-left d-inline-flex flex-items-center">
      <nav class="paginate-container float-left d-inline my-0 mr-3 v-align-middle" aria-label="Pagination">
        <div class="pagination d-block">
          <a href="<%= edit_contact_info_marketplace_listing_path(marketplace_listing.slug) %>" aria-label="Previous Page">Previous</a>
          <a href="<%= marketplace_listing_plans_path(marketplace_listing.slug) %>" aria-label="Next Page">Next</a>
        </div>
      </nav>
      <span class="text-small color-fg-muted"><strong>Next:</strong> Add plans and pricing.</span>
    </div>
    <div class="col-4 float-left text-right">
      <a href="<%= edit_marketplace_listing_path(marketplace_listing.slug) %>" class="Link--muted issue-meta-section task-progress ml-2"><%= primer_octicon(:checklist) %>
        <span class="task-progress-counts">2 of 4</span>
        <span class="progress-bar v-align-middle"><%# erblint:disable DeprecatedCustomCss %>
          <span class="progress" style="width: 50%"></span>
        </span>
      </a>
    </div>
  </div>
<% end %>
