<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info :title => "Sign in to #{view.target.safe_profile_name}" %>

<div class="business-sso text-center">
  <div class="business-sso-panel">
    <div class="position-relative mt-2 mb-3">
      <h1 class="sso-title m-0">
        Overwrite your linked identity?
      </h1>
    </div>

    <p class="color-fg-muted mt-2 mb-4">
      <p>
        You previously accessed this <%= view.target_type %> with <%= view.identity_relink_error.current_identity_identifier %> as your SAML identity. You've now signed in with <%= view.identity_relink_error.new_identity_identifier %> - this account may not have access to the same data in the <%= view.target.name %> <%= view.target_type %>.
      </p>
      <p>
        Are you sure you want to sign in with this new SAML identity, <%= view.identity_relink_error.new_identity_identifier %>?
      </p>
    </p>

    <%= form_tag view.form_submit_url, method: :post do %>
      <%= hash_to_hidden_fields(view.form_data) if view.form_data %>
      <%= render Primer::ButtonComponent.new(type: :button, scheme: :primary, tag: :a, href: view.sso_url, block: true, "data-disable-with": "Redirecting…") do %>
        Go back to single-sign on
      <% end %>
      <%= render Primer::ButtonComponent.new(scheme: :link, type: :submit,  "data-disable-with": "Redirecting…") do %>Overwrite and continue<% end %>
    <% end %>

    <p class="color-fg-muted mt-4 mb-2">
      Note: If you are signed in with <%= view.identity_relink_error.new_identity_identifier %> in your browser, you may need to sign out of your identity provider before you can sign in again with <%= view.identity_relink_error.current_identity_identifier %>
    </p>

  </div>
</div>
