<div id="feature-options">
  <% if feature["options"]&.any? %>
    <span <%= test_selector "options-header" %> class="h4 mb-4">Options</span>
    <p class="text-small color-fg-muted mb-3">
      Options allow for modification to the selected Feature. Omitting an option will fallback to the default value designated by the Feature.
    </p>
    <p class="text-small color-fg-muted mb-3">
      Options with a <code>...</code> represent proposals and will accept a value other than the ones listed.
    </p>

    <% feature["options"].each do |key, value| %>
      <% if value&.any? && value["type"].present? %>
        <div class="pb-2">
          <%= render Primer::Beta::Details.new do |c| %>
            <% c.with_summary(button: false) do %>
              <span <%= test_selector "options-key" %> class="h5"> <%= key %> </span>
            <% end %>
            <% c.with_body do %>
              <div class="ml-3">
                <% if value["description"].present? %>
                  <p <%= test_selector "options-description" %> class="text-small">
                    <%= value["description"] %>
                  </p>
                <% end %>
                <% if value["type"] == "string" %>
                  <% if value["proposals"]&.any? %>
                    <p>
                      <ul class="ml-3">
                        <% value["proposals"].each do |proposal| %>
                          <li <%= test_selector "options-proposal-value" %>>
                            <% if value["default"].present? && value["default"] == proposal %>
                              <code>"<%= proposal %>" (default)</code>
                            <% else %>
                              <code>"<%= proposal %>"</code>
                            <% end %>
                          </li>
                        <% end %>
                        <li><code>...</code></li>
                      </ul>
                    </p>
                  <% end %>
                  <% if value["enum"]&.any? %>
                    <p>
                      <ul class="ml-3">
                        <% value["enum"].each do |enum| %>
                          <li <%= test_selector "options-enum-value" %>>
                            <% if value["default"].present? && value["default"] == enum %>
                              <code>"<%= enum %>" (default)</code>
                            <% else %>
                              <code>"<%= enum %>"</code>
                            <% end %>
                          </li>
                        <% end %>
                      </ul>
                    </p>
                  <% end %>
                <% end %>
                <% if value["type"] == "boolean" %>
                  <p>
                    <ul class="ml-3">
                      <% ["true", "false"].each do |b| %>
                        <li <%= test_selector "options-boolean-value" %>>
                          <% if !value["default"].nil? && value["default"].to_s == b %>
                            <code><%= b %> (default)</code>
                          <% else %>
                            <code><%= b %></code>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
