<div class="pb-8">
  <% if @feature.nil? %>
    <%= render(Primer::Beta::Octicon.new(icon: "alert")) %> Could not find this Dev Container Feature.
  <% else %>
    <div class="mb-3 d-flex no-underline">
        <img class="CircleBadge-icon" src="<%= image_path "icons/packages/container.svg" %>" alt="<%= @feature["name"] %> logo">
      <div class="px-3 width-full">
        <div class="f3 lh-condensed text-normal my-1"><%= @feature["name"] %></div>
        <div class="d-flex">
          <% if @feature["owner"] != nil %>
            <span class="text-small color-fg-muted mr-3">
             By <span <%= test_selector "feature-owner" %> class="color-fg-muted"><%= @feature["owner"] %></span>
              <% if @feature["owner"] == "devcontainers" %>
                <span <%= test_selector "feature-owner-verified" %>>
                  <%= primer_octicon(:verified, color: :accent) %>
                </span>
              </span>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <p class="color-fg-muted mb-3"><%= @feature["description"] %></p>

    <% if !@feature["documentationURL"].blank?  %>
      <p class="color-fg-muted mb-3">For additional information, see this Feature's <a class="Link--inTextBlock" target="_blank" rel="noopener noreferrer" href="<%= @feature["documentationURL"] %>">documentation.</a></p>
    <% end %>

    <hr>
    <div class="mb-4 pt-2">
      <div class="h4">Installation</div>
      <p class="text-small color-fg-muted mb-3">Copy and paste the following snippet into the features attribute of your <span class="text-mono">devcontainer.json</span> file. </p>
      <div class="copyable-terminal p-0">
        <code class="d-block color-bg-subtle border-0 border-bottom rounded-2 f6 lh-default py-2 ">
          <div class="p-0 color-fg-muted pl-2 pr-2 f6 d-flex flex-justify-between">
            <pre class="overflow-x-auto" <%= test_selector "copyable-example" %>><%= @copyable_example %></pre>
            <%= render Primer::Beta::ClipboardCopy.new(display: :block, position: :relative, px: 2, border_radius: 2, "aria-label": "Copy snippet", role: "button", tabindex: "0", value: @copyable_example) %>
          </div>
        </code>
      </div>
    </div>
      <%= render(Codespaces::DevContainer::AddStaticOptionsComponent.new(feature: @feature)) %>
  <% end %>
</div>
