<div class="d-flex flex-column flex-sm-row gutter-sm">
  <div class="col-12 col-sm-4">
    <p class="h1"><%= number_with_delimiter(view.current_period_stats.total_landing_uniques) %></p>
    <p class="text-small mb-0">Unique visitors to landing page</p>
  </div>
  <div class="col-12 col-sm-4">
    <div>
      <p class="h1"><%= number_with_delimiter(view.current_period_stats.total_checkout_uniques) %></p>
      <p class="text-normal color-fg-muted f5">
        <%= view.conversion_funnel_step_1_percent %> of <%= number_with_delimiter(view.current_period_stats.total_landing_uniques) %> unique visitors
      </p>
    </div>
    <p class="text-small mb-0">Unique visitors to checkout page</p>
  </div>
  <div class="col-12 col-sm-4">
    <div>
      <p class="h1"><%= number_with_delimiter(view.sum_of_new_subscriptions) %></p>
      <p class="text-normal color-fg-muted f5">
        <%= view.conversion_funnel_step_2_percent_for_all_subscriptions %> of <%= view.current_period_stats.total_checkout_uniques %> unique visitors
      </p>
    </div>
    <p class="text-small mb-0">Checkout page to new subscriptions</p>
  </div>
</div>

<% if view.listing_has_multiple_plan_types? %>
  <h4 class="mt-4">Breakdown of total subscriptions (<%= number_with_delimiter(view.sum_of_new_subscriptions) %>)</h4>

  <div class="BarChart my-3 d-flex flex-column">
    <% view.sorted_new_subscriptions.each do |metric| %>
      <div class="BarChart-bar BarChart-bar--<%= metric.bar_color %> mb-1 rounded-2"></div>
    <% end %>
  </div>

  <div class="d-flex">
    <% view.sorted_new_subscriptions.each do |metric| %>
      <p class="f4 mr-3">
        <%= octicon("square-fill", class: metric.legend_color) %> <strong><%= number_with_delimiter(metric.value) %></strong> new <%= metric.pricing_model %> subscriptions
      </p>
    <% end %>
  </div>
<% end %>

<% if view.listing_has_free_trials? %>
  <h4 class="mt-4 mb-2">Free trial conversions</h4>

  <p class="f4">
    Out of the <strong><%= number_with_delimiter(view.current_period_stats.total_free_trial_results) %></strong> free trials that ended this period, <strong><%= number_with_delimiter(view.current_period_stats.total_new_free_trial_conversions) %></strong> of them have converted to paid subscriptions. That's <strong><%= view.conversion_funnel_step_3_percent_for_free_trial_conversions %></strong> of the completed trials.
  </p>
<% end %>
