<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div>
  <details class="details-reset select-menu select-menu-modal-right position-relative">
    <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button") do %>
      <i>Period:</i>
      <span data-menu-button><%= selected_period_title %></span>
    <% end %>

    <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-header">
        <span class="select-menu-title">Filter Activity</span>
      </div>

      <div class="select-menu-list">
        <% period_menu_options.each do |option| %>
          <a
            href="<%= data_url_helper.call(period: option[:value]) %>"
            class="select-menu-item" aria-checked="<%= selected_period == option[:value] %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
            <span class="select-menu-item-text" data-menu-button-text><%= option[:title] %></span>
          </a>
        <% end %>
      </div>
    </details-menu>
  </details>
</div>
