<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# `view` is an instance of Marketplace::ListingInsights::IndexPageView %>

<%
  listing = view.listing
%>

<% page_info \
  title: "#{view.listing_name} Insights · GitHub Marketplace",
  selected_link: marketplace_path,
  stafftools: biztools_marketplace_listing_path(view.listing_slug)
%>

<%= render layout: "marketplace_listings/admin_layout", locals: { marketplace_listing: marketplace_listing, selected_tab: :insights } do %>
  <% if view.insights_available? %>
    <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>
        <%= view.period_start_date.strftime("%B %-d, %Y") %> <span class="dash">–</span> <%= view.period_end_date.strftime("%B %-d, %Y") %>
      <% end %>
      <% component.with_actions do %>
        <%=
          render partial: "marketplace_listing_insights/period_select_box",
            locals: {
              selected_period_title: view.selected_period_title,
              selected_period:       view.period,
              period_menu_options:   view.period_menu_options,
              data_url_helper:       method(:marketplace_listing_insights_path)
            }
        %>
      <% end %>
    <% end %>

    <div class="d-flex flex-column flex-sm-row gutter-sm">
      <div class="clearfix col-12 col-sm-4">
        <h1>
          <span class="color-fg-muted text-normal f3">$</span>
          <%= number_with_delimiter(view.current_period_stats.total_subscription_value) %>
        </h1>
        <p class="text-small mb-0">Estimated subscription value</p>
        <% if view.show_previous_period_comparison? %>
          <%= marketplace_insights_stat_change(view.current_period_stats.total_subscription_value, view.previous_period_stats.total_subscription_value, :money) %>
        <% end %>
      </div>
      <div class="col-12 col-sm-4">
        <h1><%= number_with_delimiter(view.current_period_stats.total_visitors) %></h1>
        <p class="text-small mb-0">Visitors</p>
        <% if view.show_previous_period_comparison? %>
          <%= marketplace_insights_stat_change(view.current_period_stats.total_visitors, view.previous_period_stats.total_visitors) %>
        <% end %>
      </div>
      <div class="col-12 col-sm-4">
        <h1><%= number_with_delimiter(view.current_period_stats.total_pageviews) %></h1>
        <p class="text-small mb-0">Pageviews</p>
        <% if view.show_previous_period_comparison? %>
          <%= marketplace_insights_stat_change(view.current_period_stats.total_pageviews, view.previous_period_stats.total_pageviews) %>
        <% end %>
      </div>
    </div>

    <% if view.show_traffic_graph? %>
      <div class="my-4 p-3 rounded-2 color-bg-subtle">
        <h4 class="mb-3">Views and visitors</h4>
        <marketplace-insights-graph>
          <div class="MarketplaceInsights-graph d-flex flex-justify-center" data-target="marketplace-insights-graph.container">
            <div class="graph-canvas traffic-graph uniques-graph js-graph width-full <%= "insights-#{ view.period }" %>"
              data-graph-name="marketplace-insights"
              data-responsive-graph="true"
              data-target="marketplace-insights-graph.graph"
              data-url="<%= marketplace_listing_insights_visitor_graph_data_path(period: view.period) %>">
            </div>
          </div>
        </marketplace-insights-graph>
      </div>
    <% else %>
      <%= render Primer::Beta::Blankslate.new(mb: 5) do |c| %>
        <% c.with_visual_icon(icon: "graph") %>

        <% c.with_heading(tag: :h2) do %>
          No graph to show
        <% end %>

        <% c.with_description do %>
          View data from the past week or the past month to see a chart.
        <% end %>
      <% end %>
    <% end %>

    <h3 class="text-normal pb-2 border-bottom mb-3">Conversion performance</h3>
    <%= render "marketplace_listing_insights/conversion_performance_v2", view: view %>
  <% else %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Insights<% end %>
      <% component.with_actions do %>
        <%=
            render partial: "marketplace_listing_insights/period_select_box",
              locals: {
                selected_period_title: view.selected_period_title,
                selected_period:       view.period,
                period_menu_options:   view.period_menu_options,
                data_url_helper:       method(:marketplace_listing_insights_path)
              }
          %>
      <% end %>
    <% end %>

    <%= render Primer::BlankslateComponent.new(
      icon: "clock",
      title: "Check back soon",
      description: "This is where you can see how well #{view.listing_name} is doing on the Marketplace.",
      mb: 5,
    ) do %>
      <p>If this is a listing recently added to the GitHub Marketplace, check back soon. Data is synced daily.</p>
    <% end %>
  <% end %>

  <% if view.has_pending_installations? %>
    <%= render "marketplace_listing_insights/pending_installations", view: view %>
  <% end %>

  <p class="mt-4 pt-2 border-top">
    <%= primer_octicon(:"light-bulb") %> Check the <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/marketplace/github-marketplace-insights/">Marketplace Documentation</a> for more information on this page.
  </p>

  <% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
    <%= javascript_bundle "graphs" %>
  <% end %>
<% end %>
