<% if show_passkey_login? %>
  <%
    subtle_login = if params[:is_emu_login] == "true"
      true
    elsif params[:passkey] == "true"
      false
    else
      !has_passkey_registrations?
    end
  %>
  <%= form_tag session_path, hidden: true, class: "js-conditional-webauthn-placeholder", :'data-webauthn-sign-request' => conditional_mediation_sign_request.to_json do -%>
    <input type="hidden" name="webauthn_response" class="js-conditional-webauthn-response">
    <%= render partial: "/sessions/sign_in_state", locals: { webauthn_conditional: true } %>
  <% end %>

  <div class="js-webauthn-login-section" hidden>
    <noscript>
      <div class="mt-3 ml-1"> To login using passkeys, ensure that JavaScript is enabled in your browser. </div>
    </noscript>
    <div class="auth-divider text-center mt-3">Or</div>
    <div class="mt-3">
      <%= form_tag session_path, class: "js-webauthn-form" do -%>
        <div class="webauthn-form-body">
          <%= render partial: "/sessions/webauthn/get", locals: {
            button_text: "Sign in with a passkey",
            button_icon: "passkey-fill",
            webauthn_user: nil,
            webauthn_reason: :passwordless_sign_in,
            is_primary_auth_option_in_prompt: false,
            subtle_login: subtle_login,
          } %>
          <input type="hidden" name="webauthn_response" class="js-webauthn-response">
          <%= render partial: "/sessions/sign_in_state", locals: { webauthn_conditional: false } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
