<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: "Two-factor authentication", class: "page-two-factor-auth session-authentication" %>

<div id="login" class="auth-form px-3">
  <div class="auth-form-header p-0">
    <h1>Two-factor authentication</h1>
  </div>

  <%= render "shared/flash" %>

  <%
    title = webauthn_user.available_u2f_registrations_description(current_device_id, capitalize_first_word: true)
    header_icon = webauthn_user.webauthn_display_icon
  %>

  <%= render(Primer::Beta::BorderBox.new(mt: 3, bg: :subtle)) do |component| %>
    <% component.with_header(display: :flex, justify_content: :center, align_items: :center, direction: :column, border_bottom: 0, pb: 0) do %>
      <%= primer_octicon(header_icon, :height => 32, color: :muted) %>
      <h2 class="mt-2 f3 text-normal text-center"><%= webauthn_user.available_u2f_registrations_description(current_device_id, capitalize_first_word: true) %></h2>
    <% end %>
    <%= component.with_body(mt: 0) do %>
      <%= form_tag webauthn_authenticate_path, { :method => "post", :class => "js-webauthn-form" } do %>
        <div class="mb-3">When you are ready, authenticate using the button below.</div>
        <%= render(partial: "/sessions/webauthn/get", locals: {
          webauthn_user: @user,
          webauthn_reason: :two_factor_sign_in,
          is_primary_auth_option_in_prompt: true,
        }) %>
        <input type="hidden" name="response" class="js-webauthn-response">
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
    <%= component.with_body(p: 3) do %>
      <h2 id="verification-options" class="h5 mb-2">Unable to verify with your <%= webauthn_user.available_u2f_registrations_description(current_device_id) %>?</h2>
      <%= render(Sessions::TwoFactorAlternativesComponent.new(user: @user, prompt_type: "device", current_device_id: current_device_id, list_label_id: "verification-options")) %>
    <% end %>
  <% end %>
</div>
