<%
  convert_for ||= nil
  existing_security_key_count ||= 0
  existing_passkey_count ||= 0
%>
<% page_info title: "Configure passwordless authentication", class: "session-authentication"%>

<div class="auth-form-header p-0">
  <h1>
    Configure passwordless authentication
  </h1>
</div>

<div id="login" class="auth-form px-3">
  <%= render "shared/flash" %>

  <div class="auth-form-body mt-3">
    <%= render(Sessions::Webauthn::RegisterComponent.new(
      convert_for: convert_for,
      from_settings: from_settings,
      existing_security_key_count: existing_security_key_count,
      existing_passkey_count: existing_passkey_count)) %>
  </div>

  <%# show full opt-out if reaching this page via upsell (user did not pursue passkeys explicitly), and never show in GHES b/c it can't process a full opt-out %>
  <% if !from_settings && !GitHub.enterprise? %>
    <div class ="js-new-u2f-registration-never-ask">
      <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
        <%= component.with_body(p: 3) do %>
          <div class="mb-2 text-center">Not interested?</div>
          <div class="ml-3 text-center">
            <%= button_to "Don't ask again for this browser", trusted_device_decline_path(hard: true), class: "btn-link" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
