<%# erblint:counter DeprecatedComponentsCounter 10 %>
<%# erblint:counter DeprecatedInPrimerCounter 2 %>
<%
  page_info title: "Account settings"
  account_successor_help_href = [
    GitHub.help_url,
    "github",
    "setting-up-and-managing-your-github-user-account",
    "maintaining-ownership-continuity-of-your-user-accounts-repositories",
  ].join("/")
%>

<%= render layout: "settings/settings" do %>
  <% if current_user.spammy? && !current_user.spammy_renaming_overridden? %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Change username<% end %>
    <% end %>
    <p>
      Please <a class="Link--inTextBlock" href="<%= contact_path(
        form: { subject: "Can’t rename account #{current_user}" },
      ) %>">contact us</a> if you’d like to rename your @<%= current_user.display_login %> account
    </p>
    <p><%= render Primer::ButtonComponent.new(disabled: true) do %>Change username<% end %></p>
  <% end %>

  <% if current_user.renaming_enabled? %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Change username<% end %>
    <% end %>
      <% if current_user.renaming? %>
        <p>Your username is being changed. This may take a few minutes.</p>
      <% else %>
        <p>
          Changing your username can have
          <a class="Link--inTextBlock" href="<%= docs_url "account-and-profile/changing-your-username" %>">
            unintended side effects</a>.
        </p>

        <%= render(Primer::Alpha::Dialog.new(title: "Really change your username?", size: :medium_portrait, id: "rename-warning-dialog")) do |d| %>
          <% d.with_header(p: 2) %>
          <% d.with_show_button { "Change username" } %>
          <% d.with_body do %>
            <%= render Primer::Beta::Flash.new(scheme: :danger, icon: "alert", id: "rename-warning-dialog-description") do %>
              Unexpected bad things will happen if you don’t read this!
            <% end %>
            <ul class="pt-3 px-3">
              <li>We <strong>will not</strong> set up redirects for your old profile page.</li>
              <li>We <strong>will not</strong> set up redirects for Pages sites.</li>
              <li>
                We <strong>will</strong> create redirects for your repositories
                (web and git access).
              </li>
              <li>Renaming may take a few minutes to complete.</li>
            </ul>
          <% end %>
          <% d.with_footer do %>
            <%= render Primer::Beta::Button.new(
              block: true,
              scheme: :danger,
              label_wrap: true,
              data: {
                "close-dialog-id": "rename-warning-dialog",
                "toggle-for": "rename-form-dialog"
              },
            ) do %>
              I understand, let’s change my username
            <% end %>
          <% end %>
        <% end %>

        <details class="details-reset details-overlay details-overlay-dark" id="rename-form-dialog">
          <summary tabindex="-1" aria-label="Change username"></summary>
          <details-dialog class="anim-fade-in fast Box Box--overlay d-flex flex-column"><%# erblint:disable A11yDetailsDialogMigration %>
            <div class="Box-header">
              <button
                class="Box-btn-octicon btn-octicon float-right"
                type="button"
                aria-label="Close dialog"
                data-close-dialog
              >
                <%= primer_octicon(:x) %>
              </button>
              <h3 class="Box-title">Enter a new username</h3>
            </div>
            <div class="Box-body overflow-auto">
              <%= form_for(
                "rename-account",
                url: rename_user_path(current_user),
                html: { "aria-label": "Change username" },
              ) do |f| %>
                <auto-check src="<%= rename_check_path(suggest_usernames: true) %>" required>
                  <dl class="form-group required">
                    <dt class="input-label">
                    </dt>
                    <dd>
                      <input
                        type="text"
                        name="login"
                        autocomplete="off"
                        spellcheck="false"
                        autocapitalize="off"
                        autofocus
                        required
                        class="form-control"
                        aria-label="Username"
                      >
                      <p class="note">Choose a new username</p>
                    </dd>
                  </dl>
                  <%= csrf_hidden_input_for rename_check_path %>
                </auto-check>

                <%= spamurai_form_signals %>
                <%= render Primer::ButtonComponent.new(
                  type: :submit,
                  block: true,
                  scheme: :primary,
                  "data-disable-invalid": "",
                ) do %>
                  Change my username
                <% end %>
              <% end %>
            </div>
          </details-dialog>
        </details>
      <% end %>
  <% end %>

  <% if current_user.employee? %>
    <br>
    <%= render Primer::Beta::Flash.new(scheme: :danger, full: false, icon: "alert") do %>
      Active Hubber handle changes are not permitted except under extenuating circumstances.<br>Please <a class="Link--inTextBlock" href="https://github.com/github/security-iam/issues/new?assignees=&labels=handle-change&template=handle-change-request.yaml&title=Hubber+Handle+Change+for+%5B%40original+Hubber+handle+here%5D">file an issue with security</a> for all handle changes.
    <% end %>
  <% end %>

  <p class="text-small color-fg-muted mt-3">
    <%= render Primer::Beta::Octicon.new(icon: "question") %>
    Looking to manage account security settings? You can find them in the
    <a class="Link--inTextBlock" href="<%= settings_security_path %>">Password and authentication</a> page.
  </p>

  <%= render(Settings::Sponsors::ConnectPatreonComponent.new(sponsor: current_user)) %>
  <%= render(Settings::Sponsors::DisconnectPatreonComponent.new(sponsor: current_user)) %>
  <%= render(Sponsors::PatreonEnablementComponent.new(
    sponsorable: current_user,
    location: Sponsors::PatreonEnablementComponent::Location::AccountSettings,
  )) %>
  <%= render(Sponsors::NoPublishedPatreonTierWarningComponent.new(
    sponsorable: current_user,
    location: Sponsors::NoPublishedPatreonTierWarningComponent::Location::AccountSettings,
  )) %>

  <% if GitHub.download_everything_button_enabled? %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>Export account data<% end %>
    <% end %>
    <p>
      Export all repositories and profile metadata for <strong>@<%= current_user.display_login %></strong>.
      Exports will be available for 7 days.
    </p>
    <% if user_migrations.any? %>
      <div class="Box">
          <div class="Box-header d-flex flex-justify-between flex-items-center">
            <span>
              <strong>Recent exports</strong>
            </span>
            <% export_in_progress = user_migrations.any? { |m| m.pending? || m.exporting? } %>
            <% if export_in_progress %>
              <span
                class="tooltipped tooltipped-sw tooltipped-multiline"
                aria-label="New exports cannot be requested while an export is currently in progress"
              ><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                <%= button_to(
                  "New export",
                  settings_user_migration_start_path,
                  method: :post,
                  class: "btn btn-sm",
                  form_class: "inline-form",
                  disabled: true,
                ) %>
              </span>
            <% else %>
              <span>
                <%= button_to(
                  "New export",
                  settings_user_migration_start_path,
                  method: :post,
                  class: "btn btn-sm",
                  form_class: "inline-form",
                ) %>
              </span>
            <% end %>
          </div>
        <ul>
          <% user_migrations.each do |migration| %>
            <li class="Box-row d-flex flex-justify-between flex-items-center">
              <% if migration.failed? %>
                <span><%= time_ago_in_words(migration.created_at)%> ago</span>
                <span>
                  <%= primer_octicon(:x, color: :danger) %> Something went wrong.
                  <% if export_in_progress %>
                    <span
                      class="tooltipped tooltipped-sw tooltipped-multiline"
                      aria-label="New exports cannot be requested while an export is currently in progress"
                    ><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                      <%= button_to(
                        "Try again",
                        settings_user_migration_start_path,
                        method: :post,
                        class: "btn",
                        form_class: "inline-form",
                        disabled: true,
                      ) %>
                    </span>
                  <% else %>
                    <%= button_to(
                      "Try again",
                      settings_user_migration_start_path,
                      method: :post,
                      class: "btn",
                      form_class: "inline-form",
                    ) %>
                  <% end %>
                </span>
              <% elsif migration.exported? %>
                <% if migration.file %>
                  <span>
                    <%= time_ago_in_words(migration.created_at)%> ago
                    <span class="text-mono color-border-default border-left pl-2 py-1 ml-1">
                      <%= number_to_human_size(migration.file.size) %>
                    </span>
                  </span>
                  <span>
                    <%= button_to(
                      "Delete",
                      settings_user_migration_delete_path(migration_id: migration.id),
                      method: :delete,
                      class: "btn btn-sm btn-danger mr-3",
                      form_class: "inline-form",
                    ) %>
                    <%= button_to(
                      "Resend email with link",
                      settings_user_migration_email_path(migration_id: migration.id),
                      method: :post,
                      class: "btn btn-sm",
                      form_class: "inline-form",
                    ) %>
                  </span>
                <% else %>
                  <span><%= time_ago_in_words(migration.created_at)%> ago</span>
                  <% if migration.created_at <= 7.days.ago %>
                    <span class="mr-6">Download expired</span>
                  <% else %>
                    <span class="mr-6">Download deleted</span>
                  <% end %>
                <% end %>
              <% else %>
                <span><%= time_ago_in_words(migration.created_at)%> ago</span>
                <span>
                  <%= primer_octicon(:"dot-fill", classes: "hx_dot-fill-pending-icon") %>
                  We're preparing your export! We'll send you an email when it's finished.
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <%= button_to(
        "Start export",
        settings_user_migration_start_path,
        method: :post,
        class: "btn",
      ) %>
    <% end %>
  <% end %>

  <% unless enterprise? || current_user.is_enterprise_managed? %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>Successor settings<% end %>
    <% end %>

    <% if successor_invite.nil? || successor_invite.inactive? %>
      <%= render(
        "settings/successor/add_form",
        form_action: set_successor_path,
        suggestions_url: user_successor_suggestions_path,
        login: "",
      ) %>
      <br>
      <%= render(
        "settings/successor/list",
        successor_invite: successor_invite,
      ) %>
    <% else %>
      <p class="text-small color-fg-muted mt-3">
        <a class="Link--inTextBlock" href="<%= account_successor_help_href %>">Learn more about account successors</a>.
      </p>
      <%= render "settings/successor/list", successor_invite: successor_invite %>
    <% end %>
  <% end %>

  <% cannot_delete_reason = current_user.cannot_delete_reason %>
  <% if cannot_delete_reason == :spammy %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2, danger: true) do %>Delete account<% end %>
    <% end %>
    <p>
      Please <a class="Link--inTextBlock" href="<%= contact_path(
        form: { subject: "Can’t delete account #{current_user}" },
      ) %>">contact us</a> if you’d like to delete your @<%= current_user.display_login %> account
    </p>
    <p><%= render Primer::ButtonComponent.new(disabled: true) do %>Delete account<% end %></p>
  <% elsif cannot_delete_reason == :sponsorable %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2, danger: true) do %>Delete account<% end %>
    <% end %>
    <p <%= test_selector("block-sponsorable-user-delete") %>>
      Before you can delete your account, you must unpublish your Sponsors profile. This can
      be done from the
      <a
        href="<%= sponsorable_dashboard_settings_path(current_user) %>"
        class="Link--inTextBlock"
      >Sponsors Dashboard settings page</a>
    </p>
    <p><%= render Primer::Beta::Button.new(disabled: true) do %>Delete account<% end %></p>
  <% elsif cannot_delete_reason == :sponsors_listing_not_deletable %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2, danger: true) do %>Delete account<% end %>
    <% end %>
    <p <%= test_selector("block-sponsors-listing-user-delete") %>>
      Because you have received sponsorships through GitHub Sponsors, you must
      <a class="Link--inTextBlock" href="<%= contact_path(
        form: { subject: "Can’t delete account #{current_user} due to Sponsors" },
      ) %>">contact us</a> if you’d like to delete your @<%= current_user.display_login %> account
    </p>
    <p><%= render Primer::Beta::Button.new(disabled: true) do %>Delete account<% end %></p>
  <% else %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2, danger: true) do %>Delete account<% end %>
    <% end %>
    <% owned_organizations = current_user.owned_organizations.pluck(:login) %>
    <% owned_businesses = current_user.businesses(membership_type: :admin).pluck(:slug) %>
    <% if owned_organizations.any? || (!GitHub.enterprise? && owned_businesses.any?) %>
      <% if GitHub.enterprise? %>
        <% solitarily_owned_organizations = current_user.solitarily_owned_organizations.pluck(:login) %>
        <% if solitarily_owned_organizations.any? %>
          <p>
            Your account is currently the only owner in these organizations:
            <strong <%= test_selector "user-delete-owned-orgs" %>><%= solitarily_owned_organizations.to_sentence %></strong>
          </p>
        <% end %>
      <% else %>
        <% if owned_organizations.any? %>
          <p>
            Your account is currently an owner in these organizations:
            <strong <%= test_selector "user-delete-owned-orgs" %>><%= owned_organizations.to_sentence %></strong>
          </p>
        <% end %>
      <% end %>
      <% if owned_organizations.any? %>
        <p>
          You must
          <a class="Link--inTextBlock" href="<%= docs_url "organizations/removing-organization-member" %>">remove yourself</a>,
          <a class="Link--inTextBlock" href="<%= docs_url "organizations/transferring-organization-ownership" %>">transfer ownership</a>, or
          <a class="Link--inTextBlock" href="<%= docs_url "organizations/deleting-organization-account" %>">delete</a> these
          organizations before you can delete your user.
        </p>
      <% end %>

      <% if !GitHub.enterprise? && owned_businesses.any? %>
        <p>
          Your account is currently an owner in these enterprises:
          <strong <%= test_selector "user-delete-owned-enterprises" %>><%= owned_businesses.to_sentence %></strong>
        </p>
        <p>
          You must
          <a class="Link--inTextBlock" href="<%= docs_url("admin/removing-member-from-enterprise", ghec: true) %>">remove yourself</a>,
          and if required,
          <a class="Link--inTextBlock" href="<%= docs_url("admin/inviting-to-manage-your-enterprise", ghec: true) %>">invite a new enterprise owner</a>,
          from these enterprises before you can delete your user.
        </p>
      <% end %>

      <p>
        <%= render Primer::ButtonComponent.new(disabled: true, scheme: :danger) do %>
          Delete your account
        <% end %>
      </p>
    <% elsif cannot_delete_reason == :managed_user %>
      <p <%= test_selector("idp-delete-disabled-message")%>>
        You cannot delete your account because it is controlled by your identity provider.
      </p>
    <% else %>
      <p>Once you delete your account, there is no going back. Please be certain.</p>

      <details class="details-reset details-overlay details-overlay-dark">
        <%= render Primer::ButtonComponent.new(
          tag: :summary,
          scheme: :danger,
          test_selector: "delete-account-button",
        ) do %>
          Delete your account
        <% end %>
        <details-dialog class="anim-fade-in fast Box Box--overlay d-flex flex-column"><%# erblint:disable A11yDetailsDialogMigration %>
          <div class="Box-header">
            <button
              class="Box-btn-octicon btn-octicon float-right"
              type="button"
              aria-label="Close dialog"
              data-close-dialog
            >
              <%= primer_octicon(:x) %>
            </button>
            <h2 class="Box-title">Are you sure you want to do this?</h2>
          </div>
          <%= render Primer::Beta::Flash.new(full: true, scheme: :danger, icon: :alert) do %>
            This is extremely important.
          <% end %>
          <div class="Box-body overflow-auto">
            <p>
              We will <strong>immediately delete all of your repositories
              (<%= current_user.repositories.count %>)</strong>, along with all of your forks,
              wikis, issues, pull requests, and GitHub Pages sites.
            </p>
            <% unless enterprise? %>
              <p>
                You will no longer be billed, and after
                <%= ReservedLogin::DEFAULT_TOMBSTONE_EXPIRY.in_days.to_i %>
                days your username will be available to anyone on GitHub.
              </p>
              <p>
                For more help, read our article
                "<a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/deleting-your-user-account">Deleting your user account</a>".
              </p>
            <% end %>

            <hr>
            <%= form_tag(
              real_user_path(current_user),
              method: :delete,
              "aria-label": "Delete account",
            ) do %>
              <p>
                <label for="sudo_login">Your username or email:</label>
                <input
                  type="text"
                  id="sudo_login"
                  name="sudo_login"
                  class="form-control input-block"
                  pattern="<%= account_deletion_username_pattern current_user %>"
                  required
                >
              </p>
              <p>
                <label for="confirmation_phrase">
                  To verify, type
                  <span class="confirmation-phrase user-select-none notranslate">
                    <%= User.account_deletion_phrase %>
                  </span>
                  below:
                </label>
                <input
                  type="text"
                  id="confirmation_phrase"
                  name="confirmation_phrase"
                  class="form-control input-block"
                  pattern="<%= User.account_deletion_phrase %>"
                  required
                >
              </p>
              <% unless valid_sudo_session? %>
                <p>
                  <label for="sudo_password">
                    Confirm your password:
                  </label>
                  <%= password_field_tag(
                    "sudo_password",
                    "",
                    class: "input-block",
                    id: "sudo_password",
                    autocomplete: "current-password",
                  ) %>
                </p>
              <% end %>

              <% if GitHub.billing_enabled? %>
                <%= render Primer::ButtonComponent.new(
                  type: :submit,
                  block: true,
                  scheme: :danger,
                  "data-disable-invalid": "",
                ) do %>
                  Cancel plan and delete this account
                <% end %>
              <% else %>
                <%= render Primer::ButtonComponent.new(
                  type: :submit,
                  block: true,
                  scheme: :danger,
                  "data-disable-invalid": "",
                ) do %>
                  Delete this account
                <% end %>
              <% end %>
            <% end %>
          </div>
        </details-dialog>
      </details>
    <% end %>
    <% if !current_user.plan.free? && !enterprise? %>
      <p class="explain ejecting">
        Are you sure you don’t want to just <%= link_to "downgrade your account", billing_path, class: "Link--inTextBlock" %>
        to a <strong>FREE</strong> account? We won’t charge your
        <%= current_user.friendly_payment_method_name %> anymore.
      </p>
    <% end %>
  <% end %>
<% end %>
