<%
  page_info title: "#{user.login} - Abuse reports"
%>
<%= render Primer::Beta::Subhead.new do |component| %>
	<% component.with_heading(tag: :h2) do %>Abuse reports<% end %>
<% end %>

<% if total_count > 0 %>
  <div class="Box">
    <% abuse_reports.each do |report| %>
      <% reported_content = report.reported_content_for(user) %>
      <div class="Box-row d-flex flex-justify-start">
        <%= linked_avatar_for(report.reporting_user, 20) %>
        <div class="pl-2">
          <div class="pb-1">
            <% if report.reporting_user.present? %>
              <%= profile_link(report.reporting_user) { report.reporting_user.login } %>
            <% else %>
              A deleted user or anonymous user
            <% end %>
            reported this
            <% if reported_content.respond_to?(:permalink) %>
              <% type_name = reported_content.class.to_s.underscore.humanize(capitalize: false) %>
              user's <a class="Link--inTextBlock" href="<%= reported_content.permalink %>"><%= type_name %></a>
            <% elsif report.repository&.private? %>
              user's content in a private repository
            <% elsif report.user_report? %>
              user
            <% else %>
              user's deleted content
            <% end %>
            <% unless report.reason.upcase == "UNSPECIFIED" %>
              as <strong><%= report.reason.humanize(capitalize: false) %></strong>
            <% end %>
            <%= time_ago_in_words_js report.created_at %>
          </div>
          <div class="color-fg-muted text-small">
            <% if reported_content.respond_to?(:report_count) %>
              <%= reported_content.report_count %>
              <%= "total report".pluralize(reported_content.report_count) %> &bull;
            <% end %>
            <% if report.reporting_user %>
              <a href="<%= report.async_zendesk_url.sync %>">Search in Zendesk</a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
     <%= simple_paginate(abuse_reports) %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      There aren't any abuse reports for this user.
    <% end %>
  <% end %>
<% end %>
