<%# erblint:counter DeprecatedComponentsCounter 2 %>

<%= render Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center) do %>
  <div>
    <strong><%= name %></strong>
    <%= render Primer::Beta::Label.new(tag: :span, title: nil, scheme: status_label_color, mx: 2) do %>
      <%= status_label_text %>
    <% end %>
    <%= render Primer::Beta::Text.new(tag: :span, color: :muted) do %>
      <%= status_note %>
    <% end %>
  </div>

  <div>
    <%= render Primer::Alpha::ActionMenu.new do |menu| %>
      <% menu.with_show_button(scheme: :invisible, aria: { label: "More domain options for #{name}", labelledby: "more-domain-options-#{name}"}, anchor_align: :start) do |button| %>
        <% button.with_trailing_action_icon(icon: "kebab-horizontal", mr: 2) %>
      <% end %>

      <% menu.with_item(href: domain_path) do %>
        <% if domain.verified? %>
          Review verification steps
        <% else %>
          Continue verifying
        <% end %>
      <% end %>

      <% if domain.unverified? %>
        <% menu.with_item(href: domain_path, scheme: :danger, form_arguments: { name: name,  method: :delete}) do %>
          Delete
        <% end %>
      <% else %>
        <% menu.with_item(label: "Delete", scheme: :danger, tag: :button, value: "", content_arguments: {"data-show-dialog-id": "protected-domain-delete-dialog-#{domain_name_slug}"}, test_selector: "protected-domain-delete-dialog") %>
      <% end %>
    <% end %>

    <%= render(Primer::Alpha::Dialog.new(id: "protected-domain-delete-dialog-#{domain_name_slug}", title: "Delete verified domain", size: :large, test_selector: "protected-domain-delete-dialog-hidden")) do |d| %>

    <%= render(Primer::Alpha::Dialog::Body.new(my: 2)) do %>
      <%= render Primer::Beta::Flash.new(scheme: :warning, icon: :alert, spacious: true) do %>
        This is a destructive action. Your GitHub Pages sites may lose their custom domains.
      <% end %>
      Your GitHub Pages sites may be unpublished from their custom domains if another organization claims ownership of this domain.
    <% end %>
    <%= render(Primer::Alpha::Dialog::Footer.new(show_divider: true, justify_content: :center)) do %>
      <%= form_with url: domain_path, method: :delete do %>
        <%= render Primer::Box.new(pl: 4) do %>
          <p>Please type <strong><%= name %></strong> to confirm. </p>
        <% end %>
        <p>
          <input type="text" class="form-control input-block" autofocus required
                 pattern="<%= case_insensitive_pattern name %>"
                 aria-label="Type in the name of the domain to confirm that you want to delete it."
                 name="verify"
                 autocomplete="off">
        </p>
        <%= render Primer::ButtonComponent.new(block: true, type: :submit, scheme: :danger, "data-disable-invalid": "").with_content("I understand, delete verified domain") %>
      <% end %>
    <% end %>
  </div>
<% end %>
<% end %>
