<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %> External Groups <% end %>
  <% component.with_actions do %>
    <% if external_group_search_by %>
      <details class="d-inline-block details-reset details-overlay position-relative">
        <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button") do %>
          <i>Search:</i> <%= external_group_search_by.capitalize %>
        <% end %>

        <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Search options</span>
          </div>

          <div class="select-menu-list">
            <% external_group_search_labels.each do |label| %>
              <a
                class="select-menu-item" aria-checked="<%= external_group_search_by == label%>"
                role="menuitemradio"
                href="<%= url_for(search: label, sort: params[:sort], query: params[:query]) %>">
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                <span class="select-menu-item-text"><%= label.capitalize %></span>
              </a>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>

    <% if external_group_sort_order %>
      <details class="d-inline-block details-reset details-overlay position-relative">
        <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button") do %>
          <i>Sort:</i> <%= external_group_sort_order.capitalize %>
        <% end %>

        <details-menu class="external_group-sort-menu select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Sort options</span>
          </div>

          <div class="select-menu-list">
            <% external_group_sort_labels.each_key do |label| %>
              <a
                class="select-menu-item" aria-checked="<%= external_group_sort_order == label%>"
                role="menuitemradio"
                href="<%= url_for(sort: label, search: params[:search], query: params[:query]) %>">
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                <span class="select-menu-item-text"><%= label.capitalize %></span>
              </a>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>
  <% end %>
<% end %>

<% external_groups_url = if scim_managed_enterprise?(GitHub.global_business) %>
  <% stafftools_external_groups_path %>
<% else %>
  <% external_groups_stafftools_enterprise_path(this_business) %>
<% end %>
<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search external groups",
  form_url: external_groups_url,
  form_group_test_selector: "external-group-search",
  extra_input_fields: [
    {
      name: "search",
      id: "search",
      value: params[:search],
      hidden: true,
    },
    {
      name: "sort",
      id: "sort",
      value: params[:sort],
      hidden: true,
    },
  ]
) %>

<% if external_groups.empty? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No external groups found.
    <% end %>
  <% end %>
<% else %>
  <table class="site-admin-table">
    <thead>
      <th>Display Name</th>
      <th>Group External ID</th>
      <th>SCIM Group ID</th>
      <th>Linked Org Teams</th>
      <th>Sync status</th>
    </thead>
    <tbody>
      <% external_groups.each do |external_group| %>
        <tr>
          <td>
            <% if scim_managed_enterprise?(GitHub.global_business) %>
              <%= link_to external_group.display_name, stafftools_external_group_members_path(id: external_group.id) %>
            <% else %>
              <%= link_to external_group.display_name, external_group_members_stafftools_enterprise_path(id: external_group.id) %>
            <% end %>
          </td>
          <td>
            <%= external_group.external_id %>
          </td>
          <td>
            <%= external_group.guid %>
          </td>
          <td>
            <% if external_group.external_group_teams.present? %>
              <%= pluralize external_group.external_group_teams.count, "team" %>
            <% else %>
              0 teams
            <% end %>
          </td>
          <td <%= test_selector("external-group-sync-status-#{external_group.id}") %>>
            <% if external_group.external_group_teams.count > 0 %>
              <% if external_group.group_and_team_memberships_match? %>
                <%= primer_octicon(:check, color: :success, test_selector: "external-group-sync-status-check-#{external_group.id}") %> Synced
              <% else %>
                <%= primer_octicon(:x, color: :danger, test_selector: "external-group-sync-status-x-#{external_group.id}") %> Not synced
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="paginate-container">
  <%= will_paginate external_groups, params: { sort: external_group_sort_order } %>
</div>
