<table class="site-admin-table">
  <% teams.each do |team| %>
    <tr>
      <td>
        <%= avatar_for team, 20, class: :avatar %>
        <%= link_to team.name, gh_stafftools_team_path(team) %>
      </td>
      <td <%= test_selector("team-sync-status-#{team.id}") %>>
        <% external_group_team = ExternalGroupTeam.where(external_group_id: external_group.id, team_id: team.id).first %>
        <% if external_group_team&.in_sync? %>
          <%= primer_octicon(:check, color: :success) %> Synced
        <% elsif external_group_team&.out_of_sync_insufficient_licenses?%>
          <%= primer_octicon(:x, color: :danger) %> Not synced - out of licenses
        <% else %>
          <%= primer_octicon(:x, color: :danger) %> Not synced
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
