<%= render(Primer::Beta::BorderBox.new(mb: 4)) do |component| %>
  <% component.with_header do |h| %>
    <div class="d-flex flex-justify-between">
      <div class="mt-1" id="billing-platform-customer-information">Billing Platform Customer Information</div>
      <%= form_tag sync_customer_stafftools_enterprise_path(@business), method: :post do %>
        <%= render Primer::Beta::Button.new(type: :submit) do %>Sync customer<% end %>
      <% end %>
    </div>
  <% end %>
  <% component.with_body do %>
    <div class="Box-row clearfix">
      <% if !customer_response.is_a?(::Billing::Platform::Api::Error) %>
        <% if customer_exists? %>
          <div class="mb-2">
            <div class="d-flex flex-justify-start mb-2">
              <span class="d-block col-4 text-bold">Azure Subscription ID: </span>
              <span class="d-block col-8"><%= azure_subscription_id %></span>
            </div>

            <div class="d-flex flex-justify-start mb-2">
              <span class="d-block col-4 text-bold">Zuora Account Number: </span>
              <span class="d-block col-8"><%= zuora_account_number %></span>
            </div>

            <div class="d-flex flex-justify-start mb-2">
              <span class="d-block col-4 text-bold">Billing Target: </span>
              <span class="d-block col-8"><%= billing_target %></span>
            </div>

            <div class="d-flex flex-justify-start mb-2">
              <span class="d-block col-4 text-bold">Billing Effective Date: </span>
              <span class="d-block col-8"><%= billing_platform_effective_date %></span>
            </div>

            <div class="d-flex flex-justify-start mb-2">
              <span class="d-block col-4 text-bold">Enabled Products: </span>
              <span class="d-block col-8"><%= enabled_products %></span>
            </div>

            <div class="d-flex flex-justify-start mb-2">
              <span class="d-block col-4 text-bold">Bill for Public Repo Usage: </span>
              <span class="d-block col-8"><%= bill_for_public_repo_usage? %></span>
            </div>
            <% if migrated_to_billing_platform %>
              <div class="d-flex flex-justify-start mb-2">
                <span class="d-block col-4 text-bold">Migrated to Billing Platform: </span>
                <span class="d-block col-8"><%= migrated_to_billing_platform %></span>
              </div>
            <% end %>
          </div>
        <% else %>
          Not onboarded to billing platform
        <% end %>
      <% else %>
        <%= customer_response.message %>
      <% end %>
    </div>
  <% end %>
<% end %>
