<%= render(Primer::Beta::BorderBox.new(mb: 4)) do |component| %>
  <% component.with_header(test_selector: "billing-lock-header") do %>
    Billing lock
  <% end %>
  <% component.with_body do %>
    <% if business.has_commercial_interaction_restriction? %>
      <p <%= test_selector "billing-lock-disabled-text" %>>
        Billing locking and unlocking is not available for commercially restricted enterprises.
      </p>
    <% elsif business.disabled? %>
      <p>
        This enterprise's billing is <strong>locked</strong>.
      </p>

      <%= render(Primer::Alpha::Dialog.new(
        id: "unlock-billing-dialog",
        width: :large,
        title: "Confirm account change",
      )) do |dialog| %>
        <% dialog.with_show_button(
          scheme: :danger,
          test_selector: "unlock-billing-button"
        ) { "Unlock billing" } %>
        <%= form_tag stafftools_enterprise_billing_lock_path(business), method: :patch do %>
          <%= render(Primer::Alpha::Dialog::Body.new) do %>
            <input type="hidden" name="operation" value="unlock">
            <p>This enterprise's billing is currently <strong>locked</strong>.</p>
            <p>Are you sure you want to unlock this enterprise's billing?</p>
            <% if business.will_relock? %>
              <p>
                The enterprise's billing will lock again on
                <strong><%= business.relock_on.iso8601 %></strong>.
              </p>
            <% end %>
          <% end %>
          <%= render(Primer::Alpha::Dialog::Footer.new) do %>
            <%= render(Primer::Beta::Button.new(
              data: { "close-dialog-id": "unlock-billing-dialog" }
            )) { "Cancel" } %>
            <%= render(Primer::Beta::Button.new(
              scheme: :danger,
              type: :submit,
              data: { "disable-with": "" }
            )) { "Unlock billing" } %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <p>
        This enterprise's billing is <strong>unlocked</strong>.
      </p>

      <%= render(Primer::Alpha::Dialog.new(
        id: "lock-billing-dialog",
        width: :large,
        title: "Confirm account change",
      )) do |dialog| %>
        <% dialog.with_show_button(
          scheme: :danger,
          test_selector: "lock-billing-button"
        ) { "Lock billing" } %>
        <%= form_tag stafftools_enterprise_billing_lock_path(business), method: :patch do %>
          <%= render(Primer::Alpha::Dialog::Body.new) do %>
            <input type="hidden" name="operation" value="lock">
            <p>This enterprise's billing is currently <strong>unlocked</strong>.</p>
            <p>Are you sure you want to lock this enterprise's billing?</p>
          <% end %>
          <%= render(Primer::Alpha::Dialog::Footer.new) do %>
            <%= render(Primer::Beta::Button.new(
              data: { "close-dialog-id": "lock-billing-dialog" }
            )) { "Cancel" } %>
            <%= render(Primer::Beta::Button.new(
              scheme: :danger,
              type: :submit,
              data: { "disable-with": "" }
            )) { "Lock billing" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
