<metered-billing-settings-component class="mb-4">
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Metered Billing Settings<% end %>
  <% end %>
  <div class="form-group d-flex mt-0">
    <% if business.metered_services_locked? %>
      <div><%= primer_octicon(:x, color: :danger, mr: 1) %></div>
      <div class="d-flex flex-column col-8">
        <label>Metered Services Disabled</label>
        <span class="note">
          This enterprise does not have access to metered products & services.
        </span>
      </div>
    <% else %>
      <div><%= primer_octicon(:check, color: :success, mr: 1) %></div>
      <div class="d-flex flex-column col-8">
        <label>Metered Services Enabled</label>
        <span class="note">
          This enterprise has access to metered products & services. Locking services is reversible
          but should only be done as a last resort for missing payments on metered services.
        </span>
      </div>
    <% end %>
    <div class="flex-1">
      <%= render(Stafftools::Billing::MeteredServiceLockFormComponent.new(
            is_locked: business.metered_services_locked?,
            account_type: business.class.name,
            account_id: business.id
          ))%>
    </div>
  </div>

  <div class="Box mb-4">
    <div class="Box-header">
      Tools
    </div>
    <div class="Box-row clearfix">
      <div class="mb-2">
        <div class="d-flex flex-justify-start mb-2">
          <span class="d-block col-4 text-bold">Billing Audit Log</span>
          <span class="d-block col-8">
            <a href="<%= stafftools_billing_audit_log_path(business) %>" <%= test_selector("business-billing-audit-log-link") %>>
              View billing related events
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <% if show_metered_via_azure_checkbox? || business.billed_through_azure_subscription? %>
    <div class="Box mb-4">
      <div class="Box-header">
        Azure Subscription
      </div>
      <%= form_with model: business.customer,
                    url: stafftools_enterprise_billing_path(business),
                    html: { method: :put, autocomplete: "off" } do |f| %>

        <div class="Box-row">
          <% if show_metered_via_azure_checkbox? %>
            <div
              class="form-checkbox mt-0 mb-0 <%= business.metered_plan? && business.metered_via_azure? ? "color-fg-subtle" : "" %>"
              data-target="metered-billing-settings-component.meteredViaAzureCheckboxContainer">
              <%= f.check_box :metered_via_azure, {
                id: "customer_metered_via_azure",
                data: {
                  action: "click:metered-billing-settings-component#handleMeteredViaAzureClick",
                  target: "metered-billing-settings-component.meteredViaAzureCheckbox"
                }
              } %>

              <% if business.metered_ghe? %>
                <%= f.label :metered_via_azure, "Enable metered billing", for: "customer_metered_via_azure" %>
                <span class="note">
                  This enterprise will be billed for all metered usage through their Azure subscription.<br>
                  Visit the <%= link_to "Enterprise licensing", stafftools_enterprise_licensing_path(business), class: "Link--inTextBlock" %> page to enable metered licensing.
                </span>
              <% else %>
                <%= f.label :metered_via_azure, "Enable metered billing (except GHEC seats)", for: "customer_metered_via_azure" %>
                <span class="note">
                  This enterprise will be billed for all metered usage through their Azure subscription.<br>
                  This option does not enable metered licensing (GHEC seats). Visit the <%= link_to "Enterprise licensing", stafftools_enterprise_licensing_path(business), class: "Link--inTextBlock" %> page to enable metered licensing.
                </span>
              <% end %>
            </div>
          <% end %>

          <dl
            class="form-group mb-0 <%= show_metered_via_azure_checkbox? ? "" : "mt-0" %>"
            <%= !(business.billed_through_azure_subscription? || business.metered_via_azure?) ? "hidden" : "" %>
            data-target="metered-billing-settings-component.azureSubscriptionIDContainer"
          >
            <dt><%= f.label :azure_subscription_id, for: "customer_azure_subscription_id" %></dt>
            <dd>
              <%= f.text_field :azure_subscription_id, id: "customer_azure_subscription_id", class: "form-control", autocomplete: false %>
              <div class="note">
                This is not required if the customer is paying on GitHub paper (via Zuora).
              </div>
            </dd>
          </dl>
        </div>
        <div class="Box-row">
          <%= render Primer::Beta::Button.new(type: :submit) do %>Update Azure Subscription Settings<% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</metered-billing-settings-component>
