<div class="Box mb-4">
  <div class="Box-header">
    Zuora Information: <%= customer_type_text %>
  </div>
  <div class="Box-row clearfix">
    <% if zuora_subscription %>
      <div class="mb-2">
        <div class="d-flex flex-justify-start mb-2">
          <span class="d-block col-4 text-bold">Account ID</span>
          <span class="d-block col-8">
            <a href="<%= zuora_account_url_for_customer(customer) %>">
              <%= customer.zuora_account_id %>
            </a>
          </span>
        </div>

        <% if account_ids_out_of_sync? %>
          <div class="d-flex flex-justify-start mb-2">
            <span class="d-block col-4 text-bold color-fg-danger">Subscription: Account ID</span>
            <span class="d-block col-8">
              <%= zuora_subscription.zuora_account.id %>
              <p class="text-small">
                This value is expected to match customer.zuora_account_id, and will cause metered usage batches to fail until corrected.
              </p>
            </span>
          </div>
        <% end %>

        <div class="d-flex flex-justify-start mb-2">
          <span class="d-block col-4 text-bold">Account Number</span>
          <span class="d-block col-8"><%= customer.zuora_account_number %></span>
        </div>

        <div class="d-flex flex-justify-start mb-2">
          <span class="d-block col-4 text-bold">Subscription Number</span>
          <span class="d-block col-8"><%= plan_subscription.zuora_subscription_number %></span>
        </div>

        <div class="d-flex flex-justify-start mb-2">
          <span class="d-block col-4 text-bold">Subscription ID</span>
          <span class="d-block col-8">
            <a href="<%= zuora_subscription_url_for_plan_subscription(plan_subscription) %>">
              <%= plan_subscription.zuora_subscription_id %>
            </a>
          </span>
        </div>

        <br>

        <div class="d-flex flex-justify-start mb-2">
          <span class="d-block col-4 text-bold">Auto Pay Status</span>
          <span class="d-block col-8"><%= customer.auto_pay? %></span>
        </div>

        <div class="d-flex flex-justify-start mb-2">
          <span class="d-block col-4 text-bold">Bill Cycle Day</span>
          <span class="d-block col-8"><%= zuora_account&.bill_cycle_day %></span>
        </div>

        <div class="d-flex flex-justify-start mb-2">
          <span class="d-block col-4 text-bold">Subscription Status</span>
          <span class="d-block col-8"><%= zuora_subscription&.status %></span>
        </div>

        <div class="d-flex flex-justify-start mb-2">
          <span class="d-block col-4 text-bold">Account Balance</span>
          <span class="d-block col-8"><%= casual_currency balance %></span>
        </div>
      </div>
    <% else %>
      No External Subscription
    <% end %>
  </div>
</div>
