<%
  page_info(
    title: "Sponsoring · #{this_organization.safe_profile_name}",
    breadcrumb: "Settings",
    breadcrumb_owner: this_organization,
    selected_link: :org_sponsoring_settings,
    stafftools: billing_stafftools_user_path(this_organization),
  )
%>

<div class="p-md-3">
  <%= render Primer::Beta::Subhead.new do |subhead| %>
    <% subhead.with_heading(tag: :h3).with_content("Sponsoring settings") %>
    <% subhead.with_actions do %>
      <a href="<%= org_sponsoring_path(this_organization) %>">
        <%= render Primer::Beta::Octicon.new(icon: :"arrow-left", aria: { hidden: true }) %>
        Back to sponsoring list
      </a>
    <% end %>
  <% end %>

  <h4 class="mb-2">Sponsorship log</h4>
  <p class="mb-3">
    View your
    <%= render(
      Primer::Beta::Link.new(href: settings_org_sponsors_log_path(this_organization), underline: true, test_selector: "sponsorship-log-link")
      ) { "log" } %>.
  </p>

  <h4 class="mb-2">Link sponsorships to another account</h4>
  <p class="mb-3">
    By linking accounts, any sponsorships paid for by
    <a class="Link--inTextBlock text-bold" href="<%= user_path(this_organization) %>">@<%= this_organization %></a>
    will also be attributed to the linked account.
    <br>
    You must have Owner permissions on both accounts in order to link them.
  </p>

  <% if owned_organizations.count < 2 %>
    <div <%= test_selector("one-org-owner") %>>
      You only own one organization, so you cannot link accounts.
    </div>
  <% else %>
    <div class="col-4">
      <%= primer_form_with(url: org_sponsoring_settings_path, method: :patch) do |fields| %>
        <%= render Orgs::Sponsorings::Settings::LinkAccountForm.new(
          fields,
          organization: this_organization,
          owned_organizations: owned_organizations,
          linked_organization_id: linked_organization_id,
        ) %>
      <% end %>
    </div>
  <% end %>
</div>
