<% if view.repository.owner.organization? %>
  <%
  member = view.repository.owner
  member_label = member.respond_to?(:display_login) ? member.display_login : member.to_s
  %>
  <div class="my-2">
    <%= link_to org_people_path(view.repository.owner, query: "role:owner") do %>
      <%= avatar_for view.repository.owner, 20, class: "avatar" %>
    <% end %>
    <%= link_to org_people_path(view.repository.owner, query: "role:owner"), class: "assignee Link--primary text-bold ml-1 f5" do %>
      <span class="css-truncate-target">
        <%= member_label %> owners
      </span>
    <% end %>
  </div>
<% else %>
  <div class="my-2">
    <%= render partial: "repos/advisories/sidebar/collaborator", locals: { view: view, member: view.repository.owner, show_removal: false } %>
  </div>
<% end %>
