<%# rubocop:disable Lint/InstanceVariable %>
<% page_info responsive: false, :title => "Application access policy", :selected_link => :organization_oauth_application_policy %>

<%= render layout: "orgs/settings/layout" do %>
  <div class="settings-next">

    <div class="oauth-application-allowlist js-oauth-application-allowlist">

      <%= render :partial => "oauth_applications/application_header", :locals => { :view => view }  %>

      <%= render Primer::Beta::Subhead.new(spacious: true, hide_border: true) do |component| %>
        <% component.with_heading(tag: :h2) do %>Access<% end %>
      <% end %>

      <div class="listgroup">

        <% if current_organization %>
          <% org_display_login = current_organization.display_login %>
          <div class="listgroup-item">
            <strong class="color-fg-default">Currently:</strong>
            <% if current_organization.allows_oauth_application?(view.application) %>
                <span class="app-approved color-fg-muted ml-2"><%= primer_octicon(:check, mr: 1) %>Enabled</span>
              <% else %>
                <span class="app-denied color-fg-muted ml-2"><%= primer_octicon(:x, color: :danger, mr: 1) %>Blocked</span>
              <% end %>
          </div>
        <% end %>

        <div class="listgroup-item lh-default">
          <%= form_tag org_set_application_approval_state_path(current_organization, @application.id, :flash => true), "method" => :put, "class" => "js-org-application-access-form float-right" do %>
            <% if current_organization.allows_oauth_application?(@application) %>
              <%= hidden_field_tag "state", "blocked" %>
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger) do %>Block access<% end %>
            <% else %>
              <%= hidden_field_tag "state", "unblocked" %>
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger) do %>Unblock access<% end %>
            <% end %>
          <% end %>
          <strong class="color-fg-default">
            Review GitHub-owned application access
          </strong>
          <% if current_organization.allows_oauth_application?(@application) %>
            <div class="color-fg-muted">
              Blocking access will prevent this application from accessing data in the <strong><%= org_display_login %></strong> organization.
            </div>
          <% else %>
            <div class="color-fg-muted">
              Enabling access will allow this application to access data in the <strong><%= org_display_login %></strong> organization.
            </div>
          <% end %>
        </div>

      </div>

      <%= render partial: "orgs/oauth_application_policy/note", locals: { current_organization: current_organization } %>
    </div>
  </div>
<% end %>
