<footer role="contentinfo" class="footer pt-6 position-relative" <%= analytics_visible_data_attributes(category: "Footer", text: "Marketing footer") %> <% if marketing_footer_theme? %><%= marketing_footer_color_mode_attributes %><% end %>>
  <h2 class="sr-only"><%= _("Site-wide Links") %></h2>
  <div class="<% if container_xl? %>container-xl<% else %>container-lg<% end %> p-responsive">
    <div class="d-flex flex-wrap py-5 mb-5">
      <section class="col-12 col-lg-4 mb-5">
        <a href="/" <%= safe_analytics_click_attributes(category: "Footer", action: "go to home", label: "text:home") %> class="color-fg-default d-inline-block" aria-label="<%= _("Go to GitHub homepage") %>">
          <%= render Primer::Beta::Octicon.new(icon: :"logo-github", height: 30, w: :auto, display: :block, classes: "footer-logo-mktg") %>
        </a>

        <h3 class="h5 mt-4 mb-0" id="subscribe-to-newsletter"><%= _("Subscribe to our developer newsletter") %></h3>
        <p class="f5 color-fg-muted mb-3"><%= _("Get tips, technical guides, and best practices. Twice a month. Right in your inbox.") %></p>
        <%= render Site::ButtonComponent.new(text: _("Subscribe"), scheme: :muted, classes: "mb-4", url: "https://resources.github.com/newsletter/") %>

        <% if can_toggle_site_admin_and_employee_status? %>
          <%= render partial: "site/site_admin_and_employee_toggle_link" %>
        <% end %>
      </section>

      <nav class="col-6 col-sm-3 col-lg-2 mb-6 mb-md-2 pr-3 pr-lg-0 pl-lg-4" aria-labelledby="footer-title-product">
        <h3 class="h5 mb-3 text-mono color-fg-muted text-normal" id="footer-title-product">
          <%= _("Product") %>
        </h3>

        <ul class="list-style-none color-fg-muted f5">
          <li class="lh-condensed mb-3">
            <%= link_to _("Features"), features_path, class: "Link--secondary",  data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "features", context: "product") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Enterprise"), enterprise_marketing_page_path, class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "enterprise", context: "product") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Copilot"), features_copilot_path, class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "copilot", context: "product") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Security"), security_path, class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "security", context: "product") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Pricing"), pricing_path, class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "pricing", context: "product") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Team"), team_marketing_page_path, class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "team", context: "product") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Resources"), "https://resources.github.com", class: "Link--secondary",  data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "resources", context: "product") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Roadmap"), "https://github.com/github/roadmap", class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "roadmap", context: "product") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Compare GitHub"), "https://resources.github.com/devops/tools/compare", class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "compare", context: "product") %>
          </li>
        </ul>
      </nav>

      <nav class="col-6 col-sm-3 col-lg-2 mb-6 mb-md-2 pr-3 pr-md-0 pl-md-4" aria-labelledby="footer-title-platform">
        <h3 class="h5 mb-3 text-mono color-fg-muted text-normal" id="footer-title-platform">
          <%= _("Platform") %>
        </h3>

        <ul class="list-style-none f5">
          <li class="lh-condensed mb-3">
            <%= link_to _("Developer API"), "#{GitHub.developer_help_url}/get-started/exploring-integrations/about-building-integrations", class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "dev-api", context: "platform") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Partners"), "https://partner.github.com", class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "partners", context: "platform") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Education"), "https://github.com/edu", class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "edu", context: "platform") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to "GitHub CLI", "https://cli.github.com", class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "cli", context: "platform") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to "GitHub Desktop", "https://desktop.github.com", class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "desktop", context: "platform") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to "GitHub Mobile", "https://github.com/mobile", class: "Link--secondary",  data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "mobile", context: "platform") %>
          </li>
        </ul>
      </nav>

      <nav class="col-6 col-sm-3 col-lg-2 mb-6 mb-md-2 pr-3 pr-md-0 pl-md-4" aria-labelledby="footer-title-support">
        <h3 class="h5 mb-3 text-mono color-fg-muted text-normal" id="footer-title-support">
          <%= _("Support") %>
        </h3>

        <ul class="list-style-none f5">
          <li class="lh-condensed mb-3">
            <%= link_to _("Docs"), GitHub.help_url, class: "Link--secondary",  data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "docs", context: "support") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Community Forum"), "https://github.community", class: "Link--secondary",  data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "community", context: "support") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Professional Services"), "https://services.github.com", class: "Link--secondary",  data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "services", context: "support") %>

          </li>
          <% if feature_enabled_globally_or_for_current_user?(:site_premium_support_redesign) %>
            <li class="lh-condensed mb-3">
              <%= link_to _("Premium Support"), premium_support_page_path, class: "Link--secondary",  data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "premium_support", context: "support") %>
            </li>
          <% end %>
          <li class="lh-condensed mb-3">
            <%= link_to "Skills", "https://skills.github.com", class: "Link--secondary",  data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "skills", context: "support") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Status"), "https://www.githubstatus.com", class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "status", context: "support") %>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to "Contact GitHub", "#{GitHub.support_url}?tags=dotcom-footer", class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "contact_github", context: "support") %>
          </li>
        </ul>
      </nav>

      <nav class="col-6 col-sm-3 col-lg-2 mb-6 mb-md-2 pr-3 pr-md-0 pl-md-4" aria-labelledby="footer-title-company">
        <h3 class="h5 mb-3 text-mono color-fg-muted text-normal" id="footer-title-company">
          <%= _("Company") %>
        </h3>

        <ul class="list-style-none f5">
          <li class="lh-condensed mb-3">
            <%= link_to _("About"), about_url(host: GitHub.urls.host_name), class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "about", context: "company")%>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Customer stories"), customer_stories_path(type: "enterprise"), class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "customer_stories", context: "company")%>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Blog"), GitHub.blog_url, class: "Link--secondary",  data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "blog", context: "company")%>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("The ReadME Project"), readme_index_path, class: "Link--secondary",  data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "readme", context: "company")%>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Careers"), "https://github.careers", class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "careers", context: "company")%>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Press"), about_press_path, class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "press", context: "company")%>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to "Inclusion", about_diversity_path, class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "inclusion", context: "company")%>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Social Impact"), "https://socialimpact.github.com", class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "social_impact", context: "company")%>
          </li>
          <li class="lh-condensed mb-3">
            <%= link_to _("Shop"), "https://shop.github.com", class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "shop", context: "company")%>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="color-bg-subtle">
    <div class="<% if container_xl? %>container-xl<% else %>container-lg<% end %> p-responsive f6 py-4 d-md-flex flex-justify-between flex-items-center">
      <nav aria-label="<%= _("Legal and Resource Links") %>">
        <ul class="list-style-none d-flex flex-wrap color-fg-muted">
          <li class="mr-3">
            &copy; <time datetime="<%= Time.now.year %>"><%= Time.now.year %></time> GitHub, Inc.
          </li>

          <li class="mr-3">
            <%= link_to _("Terms"), GitHub.terms_url, class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "terms", context: "subfooter")%>
          </li>

          <li class="mr-3">
            <%= link_to _("Privacy"), GitHub.privacy_url, class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "privacy", context: "subfooter")%>
            (<a href="https://github.com/github/site-policy/pull/582" class="Link--secondary"><%= _("Updated") %> <time datetime="2022-08">08/2022</time></a>)
          </li>

          <li class="mr-3">
            <%= link_to _("Sitemap"), sitemap_path, class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "sitemap", context: "subfooter")%>
          </li>

          <li class="mr-3">
            <%= link_to _("What is Git?"), git_guides_path, class: "Link--secondary", data: analytics_click_attrs_marketing(location: "footer", tag: "link", action: "what_is_git", context: "subfooter")%>
          </li>

          <% if local_assigns[:cookie_consent_enabled] %>
            <%= render "site/footer_cookie_consent_links" %>
          <% end %>
        </ul>
      </nav>

      <nav aria-label="<%= _("GitHub's Social Media Links") %>" class="mt-3 mt-md-0">
        <%= render partial: "site/social_nav", locals: { analytics_category: "Footer"} %>
      </nav>
    </div>
  </div>
</footer>
