<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="fakelogin">
  <div class="container-lg px-3">
    <% if serving_gist_standalone? %>
      You are signed in to Gist as <%= user_session.user %> in <%= Rails.env %>.
      You can only return to your mundane life as <%= user_session.impersonator %> on <%= link_to "GitHub", GitHub.url, :class => "Link--inTextBlock cancel-impersonation" %>.
    <% else %>
      You are signed in to GitHub as <%= user_session.user %> in <%= Rails.env %>.
      <%= form_tag stafftools_deimpersonate_path, :method => :delete, :class => "inline-form" do %>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, classes: "cancel-impersonation") do %>
          Return to your mundane life as <%= user_session.impersonator %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div><!-- /#fakelogin -->
