<%# locals: (is_search: false, user_can_create_organizations: false, eager_load_global_nav: false, account_switcher_helper: nil) %>
<%
  is_responsive = responsive?
  tags ||= %W[from:header is_responsive:#{is_responsive}]

  view = Site::HeaderView.new(
    current_user: current_user,
    current_repository: current_repository,
    current_organization: current_organization,
    is_mobile_request: mobile?,
    current_copilot_user: current_copilot_user,
    params: params
  )
%>

<%= javascript_bundle "sessions" %>
<header class="HeaderMktg header-logged-out js-details-container js-header Details position-relative f4 py-3" role="banner" <%= mktg_color_theme_attributes(mode: "light") %>>
  <h2 class="sr-only">Navigation Menu</h2>

  <button type="button" class="HeaderMktg-backdrop d-lg-none border-0 position-fixed top-0 left-0 width-full height-full js-details-target" aria-label="Toggle navigation">
    <span class="d-none">Toggle navigation</span>
  </button>

  <div class="d-flex flex-column flex-lg-row flex-items-center px-3 px-md-4 px-lg-5 height-full position-relative z-1">
    <div class="d-flex flex-justify-between flex-items-center width-full width-lg-auto">
      <div class="flex-1">
        <%= render Primer::Beta::Button.new(
          scheme: :link,
          display: [nil, nil, nil, :none],
          classes: "js-details-target js-nav-padding-recalculate js-header-menu-toggle",
          color: :inherit,
          p: 1,
          "aria-label": "Toggle navigation",
          "aria-expanded": "false"
        ) do %>
          <% 3.times do %>
            <div class="HeaderMenu-toggle-bar rounded my-1"></div>
          <% end %>
        <% end %>
      </div>

      <a class="mr-lg-3 color-fg-inherit flex-order-2 js-prevent-focus-on-mobile-nav"
        href="<%= logged_in? ? "/home" : "/" %>"
        aria-label="Homepage"
        <%= safe_analytics_click_attributes(
          category: "Marketing nav",
          action: "click to go to homepage",
          label: "ref_page:Marketing;ref_cta:Logomark;ref_loc:Header"
        ) %>>
        <%= primer_octicon(:"mark-github", height: 32) %>
      </a>

      <div class="flex-1 flex-order-2 text-right">
        <% if !logged_in? %>
          <a
            href="<%= site_nav_login_path %>"
            class="HeaderMenu-link HeaderMenu-button d-inline-flex d-lg-none flex-order-1 f5 no-underline border color-border-default rounded-2 px-2 py-1 color-fg-inherit js-prevent-focus-on-mobile-nav"
            <%= safe_data_attributes(sign_up_link_data_attributes(location_in_page: "site header menu")) %>
            <%= safe_analytics_click_attributes(
              category: "Marketing nav",
              action: "click to Sign in",
              label: "ref_page:Marketing;ref_cta:Sign in;ref_loc:Header"
            ) %>
          >
            <%= _("Sign in") %>
          </a>
        <% else %>
          <a href="/"
            class="HeaderMenu-link HeaderMenu-button HeaderMenu-button-muted-outline flex-shrink-0 d-inline-flex d-lg-none no-underline border rounded px-2 py-1 color-fg-inherit js-prevent-focus-on-mobile-nav"
            <%= safe_data_attributes(sign_up_link_data_attributes(location_in_page: "site header menu")) %>
            <%= safe_analytics_click_attributes(
              category: "Dashboard",
              action: "click to go to Dashboard",
              label: "ref_page:#{analytics_location};ref_cta:Dashboard;ref_loc:header logged in"
            ) %>
          >
            <%= _("Dashboard") %>
          </a>
        <% end %>
      </div>
    </div>

    <% if block_given? && content_for?(:header_title) %>
      <div class="d-lg-none css-truncate css-truncate-target width-fit mt-3 Details-content--shown">
        <%= yield %>
      </div>
    <% end %>

    <div class="HeaderMenu js-header-menu height-fit position-lg-relative d-lg-flex flex-column flex-auto top-0">
      <div class="HeaderMenu-wrapper d-flex flex-column flex-self-start flex-lg-row flex-auto rounded rounded-lg-0">
        <% if show_search_and_nav? %>
          <nav class="HeaderMenu-nav" aria-label="Global">
            <ul class="d-lg-flex list-style-none">
              <% unless GitHub.enterprise? %>
                <%= render Site::HeaderMenuItemComponent.new(
                  text: "Product",
                  column_layout: true,
                  groups: [
                    {
                      items: [
                        {
                          text: _('Actions'),
                          url: GitHub.marketing_link(features_actions_path),
                          description: "Automate any workflow",
                          icon: :workflow,
                        },
                        {
                          text: _('Packages'),
                          url: GitHub.marketing_link(features_packages_path),
                          description: "Host and manage packages",
                          icon: :package,
                        },
                        {
                          text: _('Security'),
                          url: GitHub.marketing_link(features_security_path),
                          description: "Find and fix vulnerabilities",
                          icon: :"shield-check",
                        },
                        {
                          text: _('Codespaces'),
                          url: GitHub.marketing_link(features_codespaces_path),
                          description: "Instant dev environments",
                          icon: :codespaces,
                        },
                        {
                          text: _('GitHub Copilot'),
                          url: GitHub.marketing_link(features_copilot_path),
                          description: "Write better code with AI",
                          icon: :copilot,
                        },
                        {
                          text: _('Code review'),
                          url: GitHub.marketing_link(features_code_review_path),
                          description: "Manage code changes",
                          icon: :"code-review",
                        },
                        {
                          text: _('Issues'),
                          url: GitHub.marketing_link(features_issues_path),
                          description: "Plan and track work",
                          icon: :"issue-opened",
                        },
                        {
                          text: _('Discussions'),
                          url: GitHub.marketing_link(features_discussions_path),
                          description: "Collaborate outside of code",
                          icon: :"comment-discussion",
                        },
                      ]
                    },
                    {
                      title: _("Explore"),
                      items: [
                        {
                          text: _('All features'),
                          url: GitHub.marketing_link(features_path)
                        },
                        {
                          text: _('Documentation'),
                          url: GitHub.help_url,
                          external: true
                        },
                        {
                          text: _('GitHub Skills'),
                          url: "https://skills.github.com",
                          external: true
                        },
                        {
                          text: _('Blog'),
                          url: GitHub.blog_url,
                          external: true
                        },
                      ]
                    }
                  ]
                ) %>
                <% if feature_enabled_globally_or_for_current_user?(:contentful_lp_solution_pages) %>
                  <%= render Site::HeaderMenuItemComponent.new(
                    text: _("Solutions"),
                    groups: [
                      {
                        title: _("By company size"),
                        url: "/solutions/company-size",
                        items: [
                          {
                            text: _("Enterprises"),
                            url: "/solutions/company-size/enterprises",
                          },
                          {
                            text: _("Small and medium teams"),
                            url: "/solutions/company-size/small-medium-teams",
                          },
                          {
                            text: _("Startups"),
                            url: "/solutions/company-size/startups",
                          },
                          {
                            text: _("Nonprofits"),
                            url: "/solutions/company-size/nonprofits",
                          }
                        ],
                      },
                      {
                        title: _("By industry"),
                        url: "/solutions/industry",
                        items: [
                          {
                            text: _("Healthcare"),
                            url: "/solutions/industry/healthcare",
                          },
                          {
                            text: _("Financial services"),
                            url: "/solutions/industry/financial-services",
                          },
                          {
                            text: _("Manufacturing"),
                            url: "/solutions/industry/manufacturing",
                          },
                        ],
                      },
                      {
                        title: _("By use case"),
                        url: "/solutions/use-case",
                        items: [
                          {
                            text: _("DevSecOps"),
                            url: "/solutions/use-case/devsecops",
                          },
                          {
                            text: _("DevOps"),
                            url: "/solutions/use-case/devops",
                          },
                          {
                            text: _("CI/CD"),
                            url: "/solutions/use-case/ci-cd",
                          },
                        ],
                      }
                    ]
                  )%>
                <% else %>
                  <%= render Site::HeaderMenuItemComponent.new(
                    text: _("Solutions"),
                    groups: [
                      {
                        title: _("By size"),
                        items: [
                          {
                            text: _("Enterprise"),
                            url: GitHub.marketing_link(enterprise_marketing_page_path)
                          },
                          {
                            text: _("Teams"),
                            url: GitHub.marketing_link(team_marketing_page_path)
                          },
                          {
                            text: _("Startups"),
                            url: GitHub.marketing_link(enterprise_startups_page_path)
                          },
                        ],
                      }, {
                        title: _("By industry"),
                        items: [
                          {
                            text: _("Healthcare"),
                            url: GitHub.marketing_link(solutions_industries_healthcare_path)
                          },
                          {
                            text: _("Financial services"),
                            url: GitHub.marketing_link(solutions_industries_financial_services_path)
                          },
                          {
                            text: _("Manufacturing"),
                            url: GitHub.marketing_link(solutions_industries_manufacturing_path)
                          },
                        ],
                      }, {
                        title: _("By use case"),
                        items: [
                          {
                            text: _("CI/CD & Automation"),
                            url: GitHub.marketing_link(solutions_ci_cd_path)
                          },
                          {
                            text: _("DevOps"),
                            url: GitHub.marketing_link(solutions_devops_path)
                          },
                          {
                            text: _("DevSecOps"),
                            url: GitHub.marketing_link(solutions_devsecops_path)
                          },
                        ],
                      }
                    ],
                  ) %>
                <% end %>
                <% if feature_enabled_globally_or_for_current_user?(:contentful_lp_seo_pages) %>
                  <%= render Site::HeaderMenuItemComponent.new(
                    text: _("Resources"),
                    column_layout: true,
                    groups: [
                      {
                        title: _("Topics"),
                        items: [
                          {
                            text: _("AI"),
                            url: "/resources/articles/ai",
                          },
                          {
                            text: _("DevOps"),
                            url: "/resources/articles/devops",
                          },
                          {
                            text: _('Security'),
                            url: "/resources/articles/security",
                          },
                          {
                            text: _('Software Development'),
                            url: "/resources/articles/software-development",
                          },
                          {
                            text: _('View all'),
                            url: "/resources/articles",
                          },
                        ]
                      },
                      {
                        title: _("Explore"),
                        items: [
                          {
                            text: _("Learning Pathways"),
                            url: "https://resources.github.com/learn/pathways",
                            external: true
                          },
                          {
                            text: _("White papers, Ebooks, Webinars"),
                            url: "https://resources.github.com",
                            external: true
                          },
                          {
                            text: _("Customer Stories"),
                            url: GitHub.marketing_link(customer_stories_path)
                          },
                          {
                            text: _("Partners"),
                            url: "https://partner.github.com",
                            external: true
                          },
                        ]
                      }
                    ],
                  ) %>
                <% else %>
                  <%= render Site::HeaderMenuItemComponent.new(
                  text: _("Resources"),
                  groups: [
                    {
                      title: _("Resources"),
                      items: [
                        {
                          text: _("Learning Pathways"),
                          url: "https://resources.github.com/learn/pathways",
                          external: true
                        },
                        {
                          text: _("White papers, Ebooks, Webinars"),
                          url: "https://resources.github.com",
                          external: true
                        },
                        {
                          text: _("Customer Stories"),
                          url: GitHub.marketing_link(customer_stories_path)
                        },
                        {
                          text: _("Partners"),
                          url: "https://partner.github.com",
                          external: true
                        },
                      ]
                    }
                  ],
                ) %>
                <% end %>

                <%= render Site::HeaderMenuItemComponent.new(
                  text: _("Open Source"),
                  groups: [
                    {
                      items: [
                        {
                          text: _("GitHub Sponsors"),
                          url: "/sponsors",
                          description: "Fund open source developers",
                          render: GitHub.sponsors_enabled?,
                        },
                      ],
                    }, {
                      items: [
                        {
                          text: _("The ReadME Project"),
                          url: GitHub.marketing_link(readme_index_path),
                          description: "GitHub community articles",
                        },
                      ],
                    }, {
                      title: _("Repositories"),
                      items: [
                        {
                          text: _("Topics"),
                          url: GitHub.marketing_link(topics_path)
                        },
                        {
                          text: _("Trending"),
                          url: GitHub.marketing_link(trending_index_path),
                          render: !GitHub.multi_tenant_enterprise?
                        },
                        {
                          text: _("Collections"),
                          url: GitHub.marketing_link(collections_path),
                          render: !GitHub.multi_tenant_enterprise?
                        },
                      ]
                    }
                  ]
                ) %>

                <%= render Site::HeaderMenuItemComponent.new(
                  text: "Enterprise",
                  groups: [
                    {
                      items: [
                        {
                          text: _('Enterprise platform'),
                          url: "/enterprise",
                          description: "AI-powered developer platform",
                          icon: :stack,
                        },
                      ],
                    }, {
                      title: _("Available add-ons"),
                      items: [
                        {
                          text: _('Advanced Security'),
                          url: GitHub.marketing_link(enterprise_advanced_security_path),
                          description: "Enterprise-grade security features",
                          icon: :"shield-check",
                        },
                        {
                          text: _('GitHub Copilot'),
                          url: "/features/copilot#enterprise",
                          description: "Enterprise-grade AI features",
                          icon: :copilot,
                        },
                        {
                          text: _('Premium Support'),
                          url: "/premium-support",
                          description: "Enterprise-grade 24/7 support",
                          icon: :"comment-discussion",
                        },
                      ]
                    },
                  ]
                ) %>

                <%= render Site::HeaderMenuItemComponent.new(text: _("Pricing"), url: GitHub.marketing_link(pricing_path)) %>
              <% end %>
            </ul>
          </nav>
        <% end %>

        <div class="d-flex flex-column flex-lg-row width-full flex-justify-end flex-lg-items-center text-center mt-3 mt-lg-0 text-lg-left ml-lg-3">
          <% unless hide_search? || GitHub.private_mode_enabled? %>
            <% if view.use_blackbird_monolith_integration? %>
              <% track_render_partial("site/header/blackbird_search", tags) do %>
                <%= render partial: "site/header/blackbird_search", locals: { view: view, logged_in: false, retain_scroll_position: true } %>
              <% end %>
            <% else %>
              <div class="d-lg-flex min-width-0 mb-3 mb-lg-0 ml-lg-2">
                <%= render partial: "site/header/search" %>
              </div>
            <% end %>
          <% end %>

          <% if logged_in? %>
            <div class="HeaderMenu-button-separator d-none d-lg-block"></div>

            <a href="/"
                class="HeaderMenu-link HeaderMenu-button HeaderMenu-button-muted-outline flex-shrink-0 d-none d-lg-inline-flex no-underline border rounded px-2 py-1 HeaderMenu-link-wrap"
                <%= safe_data_attributes(sign_up_link_data_attributes(location_in_page: "site header menu")) %>
                <%= safe_analytics_click_attributes(
                  category: "Dashboard",
                  action: "click to go to Dashboard",
                  label: "ref_page:#{analytics_location};ref_cta:Dashboard;ref_loc:header logged in"
                ) %>
              >
                <%= _("Dashboard") %>
              </a>

            <div class="AppHeader-user d-none d-lg-block">
              <%= render Site::Header::DeferredSidePanelComponent.new(
                url: side_panels_path(
                  panel: :user,
                  repository_id: current_repository&.id,
                  organization_id: current_organization&.display_login,
                )
              ) do |panel| %>
                <% panel.with_placeholder_user(
                  user_can_create_organizations: user_can_create_organizations,
                  eager_load_global_nav: eager_load_global_nav,
                  user: current_user,
                  account_switcher_helper: account_switcher_helper,
                ) %>
              <% end %>
            </div>

            <a href="<%= current_user.permalink %>" class="d-flex d-lg-none flex-items-center fgColor-default mt-lg-2 lh-condensed text-left f5">
              <img src="<%= current_user.primary_avatar_url(96) %>" alt="" width="32" height="32" class="<%= avatar_class_names(current_user) %>">
              <div class="d-flex flex-column ml-2">
                <strong><%= current_user.name %></strong>
                <%= current_user.profile_name unless current_user.profile_name.blank? %>
              </div>
            </a>
          <% else %>
            <div class="position-relative HeaderMenu-link-wrap d-lg-inline-block">
              <a
                href="<%= site_nav_login_path %>"
                class="HeaderMenu-link HeaderMenu-link--sign-in HeaderMenu-button flex-shrink-0 no-underline <%= GitHub.signup_enabled? && params["controller"] != "signup" ? "d-none" : "d-block" %> d-lg-inline-flex border border-lg-0 rounded rounded-lg-0 px-2 py-1"
                style="margin-left: 12px;"
                <%= safe_data_attributes(sign_up_link_data_attributes(location_in_page: "site header menu")) %>
                <%= safe_analytics_click_attributes(
                  category: "Marketing nav",
                  action: "click to go to homepage",
                  label: "ref_page:Marketing;ref_cta:Sign in;ref_loc:Header"
                ) %>
              >
                <%= _("Sign in") %>
              </a>
              <% if display_signin_popover? %>
                <% ldap ||= GitHub.auth_mode.to_sym == :ldap %>
                <%= render Primer::Beta::Popover.new(
                  position: :absolute,
                  left: true,
                  right: true,
                  style: "right: -30%; background-color: transparent; border: none",
                  classes: "auth-form-body",
                  display: [:none, :none, :none, :block],
                  **test_selector_data_hash("signin-popover")
                ) do |component| %>
                  <% component.with_heading(color: :default) do %>
                    <%= signin_subtitle(ldap) %>
                  <% end %>
                  <% component.with_body(caret: :top_right, style: "width: 300px", color: :default) do %>
                    <%= render partial: "sessions/password_sign_in", locals: {
                      login_field_label: signin_login_field_label(ldap),
                      login_scenario: :logged_out_404,
                      } %>
                  <% end %>
                <% end %>
              <% end %>
            </div>

            <% if GitHub.signup_enabled? && params["controller"] != "signup" %>
              <%
                source_label = current_repository ? "header-repo" : home_page? ? "header-home" : "header"
                source_repo = current_repository.name_with_display_owner if current_repository
                signup_link_params = {
                  source: source_label,
                  source_repo: source_repo,
                  ref_page: analytics_location,
                  ref_cta: "Sign up",
                  ref_loc: "header logged out"
                }
              %>
              <a href="<%= nux_signup_index_path(signup_link_params) %>"
                class="HeaderMenu-link HeaderMenu-link--sign-up HeaderMenu-button flex-shrink-0 d-flex d-lg-inline-flex no-underline border color-border-default rounded px-2 py-1"
                <%= safe_data_attributes(sign_up_link_data_attributes(location_in_page: "site header menu")) %>
                <%= safe_analytics_click_attributes(
                  category: "Sign up",
                  action: "click to sign up for account",
                  label: "ref_page:#{analytics_location};ref_cta:Sign up;ref_loc:header logged out"
                ) %>
              >
                <%= _("Sign up") %>
              </a>
            <% end %>
          <% end %>
          <button type="button" class="sr-only js-header-menu-focus-trap d-block d-lg-none">Reseting focus</button>
        </div>
      </div>
    </div>
  </div>
</header>
