<% social_links = [
  {
    url: "https://x.com/github",
    analytics_action: "go to X",
    analytics_label: "text:x",
    image_path: "site/icons/footer/x",
    image_width: 16,
    image_height: 16,
    sr_text: _("GitHub on X")
  },
  {
    url: "https://www.facebook.com/GitHub",
    analytics_action: "go to Facebook",
    analytics_label: "text:facebook",
    image_path: "site/icons/footer/facebook",
    image_width: 18,
    image_height: 18,
    sr_text: _("GitHub on Facebook")
  },
  {
    url: "https://www.linkedin.com/company/github",
    analytics_action: "go to Linkedin",
    analytics_label: "text:linkedin",
    image_path: "site/icons/footer/linkedin",
    image_width: 19,
    image_height: 18,
    sr_text: _("GitHub on LinkedIn")
  },
  {
    url: "https://www.youtube.com/github",
    analytics_action: "go to YouTube",
    analytics_label: "text:youtube",
    image_path: "site/icons/footer/youtube",
    image_width: 23,
    image_height: 16,
    sr_text: _("GitHub on YouTube")
  },
  {
    url: "https://www.twitch.tv/github",
    analytics_action: "go to Twitch",
    analytics_label: "text:twitch",
    image_path: "site/icons/footer/twitch",
    image_width: 18,
    image_height: 18,
    sr_text: _("GitHub on Twitch")
  },
  {
    url: "https://www.tiktok.com/@github",
    analytics_action: "go to tiktok",
    analytics_label: "text:tiktok",
    image_path: "site/icons/footer/tiktok",
    image_width: 18,
    image_height: 18,
    sr_text: _("GitHub on TikTok")
  },
  {
    url: "https://github.com/github",
    analytics_action: "go to github's org",
    analytics_label: "text:github",
    image_path: "site/icons/footer/github-mark",
    image_width: 20,
    image_height: 20,
    sr_text: _("GitHub’s organization on GitHub")
  }
] %>

<ul class="list-style-none d-flex flex-items-center lh-condensed-ultra">
  <% social_links.each_with_index do |link, index| %>
    <li class="<%= index == 0 ? 'ml-md-3' : 'ml-3' %>">
      <a href="<%= link[:url] %>" class="footer-social-icon d-block Link--outlineOffset" <%= safe_analytics_click_attributes(category: analytics_category || "Footer", action: link[:analytics_action], label: "text:#{link[:analytics_label]}") %>>
        <%= svg(link[:image_path], width: link[:image_width], height: link[:image_height], class: "d-block", aria_hidden: true) %>
        <span class="sr-only"><%= link[:sr_text] %></span>
      </a>
    </li>
  <% end %>
</ul>
