<%= form_tag update_repository_dco_settings_path(repo.owner, repo), method: :put, :class => "js-repo-features-form", "data-autosubmit" => true do %>
  <% if repo.organization&.dco_signoff_enabled? %>
      <div class="color-fg-muted note pt-2" <%= test_selector("required_by_warning")%>>
          <%= primer_octicon(:"shield-lock") %>
            This setting is required by the organization.
      </div>
  <% elsif repo.fork? && repo.parent && repo.parent.dco_signoff_enabled? %>
      <div class="color-fg-muted note pt-2" <%= test_selector("enabled_fork_warning")%>>
          <%= primer_octicon(:"shield-lock") %>
            This setting is enabled on the upstream repository. Disabling this setting may block commits from being merged upstream.
      </div>
  <% end %>
  <div class="form-checkbox js-repo-option">
    <input type="hidden" name="enable_dco_signoff" value="0">
    <input type="checkbox"
          name="enable_dco_signoff"
          aria-describedby="enable_dco_signoff_desc"
          id="enable_dco_signoff_checkbox"
          value="1"
          <%= repo.dco_signoff_enabled? ? 'checked' : '' %>
          <%= "disabled" if repo.organization&.dco_signoff_enabled? %>>
    <label for="enable_dco_signoff_checkbox">Require contributors to sign off on web-based commits</label>
    <span class="hx_status-indicator status-indicator v-align-top ml-1 js-status-indicator">
      <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
      <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
      <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
    </span>
    <p id="enable_dco_signoff_desc" class="note">
      Enabling this setting will require contributors to sign off on commits made through GitHub’s web interface. Signing off is a way for contributors to affirm that their commit complies with the repository's terms, commonly the <%= link_to "Developer Certificate of Origin (DCO)", "https://developercertificate.org", target: "_blank", class: "Link--inTextBlock" %>. <%= link_to "Learn more about signing off on commits", DcoSignoffHelper::dco_signoff_help_url, target: "_blank", class: "Link--inTextBlock" %>.
    </p>
  </div>
<% end %>
