<div class="flex-md-order-1 flex-order-2">
  <% if !prevented_by_ruleset? %>
    <% if disable_button? %>
      <%= render Primer::Beta::Button.new(
        disabled: true,
        ml: [0, nil, 3],
        px: 3,
        scheme: :danger,
        test_selector: "repository-delete-button",
      ) do %>Delete this repository<% end %>
    <% else %>
      <%= form_tag(
        settings_delete_path(repository: repository.name, user_id: repository.owner_display_login),
        method: :delete,
      ) do %>
        <%= render Primer::Alpha::Dialog.new(
          title: "Delete #{repository.name_with_display_owner}",
          size: :medium_portrait,
          id: "repo-delete-menu-dialog",
        ) do |dialog| %>
          <% dialog.with_header(show_divider: true) %>
          <% dialog.with_show_button(
            scheme: :danger,
            float: [:none, :right],
            ml: [0, nil, 3],
            mt: [2, nil, 0],
            classes: "js-repo-delete-button",
          ).with_content("Delete this repository") %>
          <% dialog.with_body(
            role: "region",
            tabindex: "-1",
            "aria-label": "Effects of deleting this repository",
          ) do %>
            <div class="text-center">
              <%= primer_octicon("repo-locked", size: :medium, color: :muted, mt: 2) %>

              <%= render Primer::Beta::Text.new(
                tag: :p,
                font_weight: :bold,
                font_size: 3,
                mt: 2,
              ).with_content(repository.name_with_display_owner) %>

              <div class="mt-2">
                <%= primer_octicon(:star, size: :small, color: :muted, mr: 1) %>
                <%= helpers.social_count(repository.stargazer_count) %>
                <%= "star".pluralize(repository.stargazer_count) %>

                <%= primer_octicon(:eye, size: :small, color: :muted, ml: 2, mr: 1) %>
                <%= helpers.social_count(repository.watchers_count) %>
                <%= "watcher".pluralize(repository.watchers_count) %>
              </div>
            </div>

            <%= render Repositories::Settings::Deletions::WarningComponent.new(repository:, stage: 1) %>
          <% end %>

          <% dialog.with_footer(show_divider: true) do %>
            <%= render Repositories::Settings::Deletions::ProceedButtonComponent.new(
              repository:,
              stage: 1,
            ) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="d-flex flex-justify-between width-full">
  <div class="flex-auto mb-md-0 mb-2">
    <strong <%= test_selector("delete-repository-headline") %>>
      Delete this repository
    </strong>
    <p class="mb-0" <%= test_selector("delete-repository-description") %>>
      <%= description %>
    </p>
  </div>
  <% if prevented_by_ruleset? %>
    <%= render Repositories::Settings::RestrictedByRulesComponent.new(
      rules_provider: name_of_ruleset_source_blocking_delete,
      test_selector: "delete-restricted-iconbutton",
    ) %>
  <% end %>
</div>

<%= render Repositories::Settings::Deletions::WarningTemplatesComponent.new(repository:) %>
