<div class="flex-md-order-1 flex-order-2">
  <% if disable_button? %>
    <%= render Primer::Beta::Button.new(
      disabled: true,
      ml: [0, nil, 3],
      px: 3,
      scheme: :danger,
      test_selector: "change-repository-visibility-button",
    ).with_content("Change visibility") %>
  <% elsif can_change_visibility? %>
    <%= render Primer::Experimental::ActionMenu.new(
      menu_id: "visibility_menu",
      anchor_align: :end,
    ) do |menu| %>
      <% menu.with_trigger(scheme: :danger) do %>Change visibility<% end %>

      <% available_visibilities.excluding(current_visibility).map do |new_visibility| %>
        <% menu.with_item(tag: :button,
          type: "button",
          classes: "js-repo-change-visibility-button",
          test_selector: "dropdown-item-#{new_visibility}",
          data: {
            show_dialog_id: "visibility-menu-dialog-#{new_visibility}",
            target: "modal-dialog.show-button",
          },
        ).with_content("Change to #{new_visibility}") %>
      <% end %>
    <% end %>

    <% available_visibilities.excluding(current_visibility).map do |new_visibility| %>
      <%= form_tag settings_set_visibility_path(
        repository: repository.name,
        user_id: repository.owner_display_login,
      ) do %>
        <%= render Primer::Alpha::Dialog.new(
          title: "Make #{repository.name_with_display_owner} #{new_visibility}",
          size: :medium_portrait,
          id: "visibility-menu-dialog-#{new_visibility}",
          data: { new_visibility: },
        ) do |dialog| %>
          <% dialog.with_header(show_divider: true) %>

          <% dialog.with_body(
            role: "region",
            tabindex: "-1",
            "aria-label": "Effects of making this repository #{new_visibility}",
            ) do %>
            <div class="text-center">
              <%= primer_octicon("repo-locked", size: :medium, color: :muted, mt: 2) %>

              <%= render Primer::Beta::Text.new(
                tag: :p,
                font_weight: :bold,
                font_size: 3,
                mt: 2,
              ) do %>
                <%= repository.name_with_display_owner %>
              <% end %>

              <div class="mt-2">
                <%= primer_octicon(:star, size: :small, color: :muted, mr: 1) %>
                <%= helpers.social_count(repository.stargazer_count) %>
                <%= "star".pluralize(repository.stargazer_count) %>

                <%= primer_octicon(:eye, size: :small, color: :muted, ml: 2, mr: 1) %>
                <%= helpers.social_count(repository.watchers_count) %>
                <%= "watcher".pluralize(repository.watchers_count) %>
              </div>
            </div>

            <%= render Repositories::Settings::Visibilities::WarningComponent.new(
              repository:,
              new_visibility:,
              stage: 1,
            ) %>
          <% end %>

          <% dialog.with_footer(show_divider: true) do %>
            <%= render Repositories::Settings::Visibilities::ProceedButtonComponent.new(
              repository:,
              new_visibility:,
              stage: 1,
            ) %>
          <% end %>
        <% end %>
      <% end %>

      <%= render Repositories::Settings::Visibilities::WarningTemplatesComponent.new(
        repository:,
        new_visibility:,
      ) %>
    <% end %>
  <% end %>
</div>

<div class="flex-auto mb-md-0 mb-2">
  <strong <%= test_selector("change-repository-visibility-headline") %>>
    Change repository visibility
  </strong>
  <div class="mb-0" <%= test_selector("change-repository-visibility-description") %>>
    <%= description %>
  </div>
</div>
