<%= primer_form_with(url: @action, method: :put, data: { test_selector: "repo_self_hosted_runners_form" }) do |f| %>
  <h3 class="text-normal mb-2">Runners</h3>
  <p class="mb-2">
  Choose which repositories are allowed to create repository-level self-hosted runners.
  </p>
  <% if @organization.repo_self_hosted_runners_disabled_by_owner? %>
    <p class="color-fg-subtle f6" <%= test_selector("disabled-by-enterprise-message") %> >
    <%= render(Primer::Beta::Octicon.new(:"shield-lock")) %>
    <span>
      This setting has been <%= render(Primer::Beta::Link.new(href: GitHub.business_accounts_help_url, target: "_blank", rel: "noopener", classes: "Link--inTextBlock" )) { "set by enterprise administrators" } %>.
    </span>
    </p>
  <% else %>
    <%= render GitHub::MenuComponent.new(items: runners_policy_values) do |menu| %>
      <% menu.with_summary do %>
        <%= render Primer::Beta::Button.new(tag: :summary, test_selector: "policy-selection") do |c| %>
          <% c.with_trailing_action_icon(icon: "triangle-down") %>
          <span data-menu-button><%= menu.default_selection_text %></span>
        <% end %>
      <% end %>
    <% end %>

    <% if @organization.repo_self_hosted_runners_enabled_for_selected_entities? %>
      <div class="ml-2 d-inline js-policy-repos-container" <%= test_selector("selected-repos-section") %>>
        <%= pluralize selected_repos_count, "selected repository", plural: "selected repositories" %>
        <%= form_tag settings_org_actions_update_repo_self_hosted_runners_repos_path(@organization),
          class: "d-inline overflow-hidden js-policy-repos-form",
          id: "actions-repo-self-hosted-policy-repos-form",
          method: :put do %>
        <% end %>

        <%= render(Primer::Alpha::Dialog.new(title: "Repositories", preload: true, classes: "js-repository-items-dialog")) do |dialog| %>
          <% dialog.with_show_button(scheme: :link, "aria-label": "Select repositories", classes: "Link--muted") do |button| %>
            <%= render Primer::Beta::Octicon.new(:gear) %>
          <% end %>
          <% dialog.with_body do %>
            <include-fragment src="<%= settings_org_actions_repo_self_hosted_runners_repos_path(@organization) %>">
              <div class="text-center" data-hide-on-error>
                <%= render Primer::Beta::Spinner.new(aria: { label: "Loading" }) %>
              </div>
              <div class="text-center" data-show-on-error hidden>
                Something went wrong.
              </div>
            </include-fragment>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
