<div class="d-flex flex-items-center flex-justify-between">
  <div class="note mr-4">
    Create or link a Zuora account that will be used to fund sponsorships from <%= sponsor %>.
  </div>
  <% if sponsor.organization? %>
    <%= render(Primer::Alpha::Dialog.new(
      size: :large,
      title: "Add sponsorship-specific Zuora account for #{sponsor}",
    )) do |dialog| %>
      <% dialog.with_show_button(size: :small) { "Add Zuora account" } %>
      <% dialog.with_body(py: 3) do %>
        <p>
          If <strong><%= sponsor %></strong> wants to pay for their sponsorships via a separate invoice than their
          usual GitHub billing method, you can generate a sponsorship-only Zuora account for them.
        </p>
        <p>
          You will then be able to apply a credit balance to the Zuora account so they have funds to start sponsoring.
        </p>
        <%= form_tag stafftools_sponsors_invoiced_sponsor_customer_path(sponsor) do %>
          <div class="form-group">
            <div class="form-group-header">
              <label for="customer_zuora_account_id">Zuora account ID: (optional)</label>
            </div>
            <div class="form-group-body">
              <input type="text" class="form-control" name="zuora_account_id" id="customer_zuora_account_id"
                placeholder="e.g., 8ad088957c9801a1017c9a83bc550251"
                aria-describedby="help-text-for-zuora-account-id">
              <div class="note" id="help-text-for-zuora-account-id">
                <p>
                  Only necessary if the Zuora account already exists and you want to link it to <%= sponsor %>'s
                  GitHub account.
                </p>
                <p>
                  Get the account ID from the Zuora URL, e.g.,
                  <code>https://zuora.com/apps/CustomerAccount.do?method=view&id=<strong>ACCOUNT_ID_HERE</strong></code>
                </p>
              </div>
            </div>
          </div>
          <div class="ml-n3 mr-n3 px-3 border-top pt-3 mt-3">
            <%= render Primer::Beta::Button.new(scheme: :primary, type: :submit, block: true) do %>
              Save Zuora account
            <% end %>
            <div class="note mt-2">
              <em>Note:</em> Once this sponsorship-specific account exists, all <%= sponsor %>'s sponsorships will be
              paid for from it. They will not be able to choose a different payment method for sponsoring.
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Button.new(
      id: "add-zuora-account",
      disabled: true,
      size: :small,
    ) do |button| %>
      <% button.with_tooltip(text: "Add Zuora account: Only available for organizations") %>
      Add Zuora account
    <% end %>
  <% end %>
</div>
