<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if primary_email.present? || external_emails.present? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |box| %>
    <% if primary_email.present? %>
      <% box.with_row(display: :flex, align_items: :center) do %>
        <div class="d-flex my-1" <%= test_selector "primary-email-#{primary_email}" %>>
          <%= primer_octicon(:mail) %>
        </div>
        <div class="ml-3 d-flex flex-1">
          <%= primary_email %>
          <%= render Primer::Beta::Label.new(scheme: :secondary, ml: 4, title: "Label: Primary") do %>
            Primary
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% external_emails.each do |email| %>
      <% box.with_row(display: :flex, align_items: :center) do %>
        <div class="d-flex my-1">
          <%= primer_octicon(:mail) %>
        </div>
        <div class="ml-3 d-flex flex-1" <%= test_selector "email-#{email.email}" %>>
          <%= email.email %>
        </div>
        <%= form_tag billing_external_emails_stafftools_user_emails_path(email.owner, id: email.id), method: :delete do %>
          <%= render(GitHub::DialogComponent.new(title: "Remove email recipient")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
            <% dialog.with_summary do %>
              <%= render(Primer::ButtonComponent.new(tag: :summary, scheme: :danger, size: :small)) { "Remove" } %>
            <% end %>
            <% dialog.with_body do %>
              Are you sure you want to remove <strong><%= email.email %></strong> from the billing recipients?
            <% end %>
            <% dialog.with_footer do %>
              <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true, "data-disable-with": "Remove") do %>Remove<% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h3).with_content("No billing email recipients") %>
  <% end %>
<% end %>
