<%= render(Primer::Alpha::Dialog.new(
  title: "Confirm #{action}ing of payment method",
  id: "confirm-#{action}-payment-method",
  size: :large
)) do |d| %>
  <% d.with_show_button(scheme: :danger) { "#{action.capitalize} payment method" } %>
  <% d.with_body do %>
    <p class="mb-3">
      Are you sure you want to <%= action %> this payment fingerprint? For any questions please reach out to <a class="Link--inTextBlock" href="https://github-grid.enterprise.slack.com/archives/C04K3MLN1QE" target="_blank" rel="noopener noreferrer">#billing-engineering</a> or <a class="Link--inTextBlock" href="https://github-grid.enterprise.slack.com/archives/C0ECHKJF7" target="_blank" rel="noopener noreferrer">#platform-health</a> on Slack.
    </p>
    <%= form_tag(stafftools_reused_card_fingerprint_path(card_fingerprint), method: :put) do %>
      <%= render Primer::Alpha::TextArea.new(
          name: "reason",
          label: "Add reason for #{action}listing",
          required: true,
          caption: "Describe why this payment method is to be #{action}listed",
          data: { test_selector: "reason_for_#{action}listing" })
      %>
      <% if action == Action::Block.serialize %>
        <%= render(Primer::Alpha::RadioButtonGroup.new(name: "blocklist_consequence", label: "Select consequence for blocking this payment fingerprint (applies to all present and future accounts with this payment method):", mt: 3)) do |component| %>
          <% component.radio_button(label: "Suspend the account", value: BlacklistedPaymentMethod::Consequence::Suspended.serialize, checked: true) %> <%# rubocop:disable Naming/InclusiveLanguage %>
          <% component.radio_button(label: "Lock the account's billing (no access to paid services)", value: BlacklistedPaymentMethod::Consequence::BillingLocked.serialize) %> <%# rubocop:disable Naming/InclusiveLanguage %>
        <% end %>
      <% elsif action == Action::Unblock.serialize %>
        <%= render(Primer::Alpha::CheckBoxGroup.new(
          name: "undo_account_consequence",
          id: "undo_account_consequence",
          label: "Unlock / unsuspend all accounts associated to this card fingerprint",
          required: false,
          mt: 3)) do |c|
            c.check_box(label: "Checking this box confirms that the accounts will be unsuspended / unblocked", caption: "If applicable, accounts will not get their billing unlocked if they have their billing disabled for reasons other than having their payment method blocked", value: true)
          end
        %>
      <% end %>
      <%= hidden_field_tag 'payment_method_action', action %>
      <%= hidden_field_tag 'card_fingerprint', card_fingerprint %>
      <%= render(Primer::Beta::Button.new(scheme: :danger, type: :submit, mt: 3)) do %>
        Yes, <%= action %> payment fingerprint
      <% end %>
    <% end %>
  <% end %>
<% end %>
