<%# erblint:counter DeprecatedComponentsCounter 1 %>
&ndash;
<%= render(Primer::Alpha::Dialog.new(
  title: "Change bill cycle day",
  id: dialog_id,
  size: :medium_portrait
)) do |d| %>
  <% d.with_show_button(test_selector: "change-bill-cycle-day-button") { "Change" } %>
  <% d.with_body(p: 3, pb: 3) do %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning)) { "Woah there!" } %>
    <p>
      Bill Cycle Day is currently <%= bill_cycle_day.ordinalize %> of the month
    </p>
    <p>
      Are you sure you want to change the bill cycle day?
    </p>
    <p>
      Changing the bill cycle day in the middle of a billing period <strong>may result in extra
      charges</strong> with prorated amounts on the customer's next bill.
    </p>
    <p>
      These extra charge is to have the user "catch up" to their new bill cycle day, so they are not billed twice in one month.
    </p>
    <p>
      More information can be found
      <a class="Link--inTextBlock" href="https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/How_Do_I_._._./
      How_does_changing_the_bill_cycle_day_on_a_customer_account_impact_billing_for_that_account%3F">in Zuora.</a>
    </p>

    <%= form_tag update_bill_cycle_day_stafftools_user_path(user) do %>
      <div class="form-group" <%= test_selector("bill-cycle-day-form") %>>
        <label for="bill_cycle_day">
          <div class="form-group-header">
            Note: This must be an integer between 1 and 31.
          </div>
          <div class="form-group-body">
            <input type="hidden" name="customer_purpose" value="<%= purpose %>">
            <input type="number" name="bill_cycle_day" min="1" max="31" step="1" required>
          </div>
        </label>
      </div>
      <div class="form-actions">
        <%= render Primer::Beta::Button.new(
          type: :submit,
          block: true,
          scheme: :danger,
        ).with_content("Change bill cycle day") %>
      </div>
    <% end %>
  <% end %>
<% end %>
