<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Experimental::Dialog.new(
  dialog_id: "change-payment-method-modal",
  header_variant: :large,
  width: :xlarge,
  title: "Confirm payment type switch",
  form_url: form_url,
  form_method: :post,
  test_selector: "change-payment-method-modal"
)) do |c| %>
  <% c.with_show_button(
    scheme: :link,
    test_selector: "change-payment-method-link"
  ) do |s| %>
    Switch to <%= user.invoiced? ? "self serve" : "invoices" %>
  <% end %>
  <% c.with_body do %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning)) { "Woah there!" } %>
    <% if user.invoiced? %>
      <p>
        This customer is currently paying via invoice. Moving a customer back
        to self serve billing will let them ride out their current
        billing cycle after which they will have to enter a valid credit card or PayPal account
        to continue accessing their private repositories.
      </p>

      <p>
        Are you sure you want to do this?
      </p>
    <% else %>
      <p>
        This customer is currently on self serve billing.
        This will switch this user to invoices and <strong>delete all payment
        methods associated with this account</strong>. Are you sure you want to do this?
      </p>
      <dl class="form-group">
        <dt><label for="plan">Plan</label></dt>
        <dd><%= select_tag :plan, options_for_select(available_plan_options, user.plan.to_s) %></dd>
      </dl>
      <dl class="form-group">
        <dt><label for="new_term_end_date">Invoice term end date</label> (YYYY-MM-DD)</dt>
        <dd><%= text_field_tag "new_term_end_date", current_term_end_date, required: true %></dd>
      </dl>
    <% end %>
  <% end %>
  <% c.with_button(
    data: { "close-dialog-id": "change-payment-method-modal" }
  ) { "Cancel" } %>
  <% c.with_button(
    type: :submit,
    scheme: :danger,
    data: { "disable-with": "" }
  ) { "Switch to #{user.invoiced? ? "self-serve billing" : "invoices" }" } %>
<% end %>
