<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="mb-4">
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
    <% component.with_header do %>
      <h3 class="h5">Copilot Billing</h3>
    <% end %>

    <% if copilot_monthly_usage.has_error? %>
      <% component.with_row do %>
        <p class="m-2">
          <%= primer_octicon(:stop, color: :muted, mr: 2) %>
          Unable to load the data at this time.
          <%= link_to "Refresh", "", class: "Link--inTextBlock" %>
          the page or try again later.
        </p>
      <% end %>
    <% else %>
      <% component.with_row do %>
        <%= render(Primer::Beta::Flash.new(mt: 1)) do %>
          <p> Note: Since the emission job runs every 3 hours, there is a delay following seat additions before usage appears in this section. </p>
          <p>
            Check the <%= link_to "Copilot Seat Assignments page", stafftools_user_copilot_seats_path(user), class: "Link--inTextBlock" %>
            to see what seats have actually been assigned.
          </p>
        <% end %>
        <p class="text-bold"><%= Copilot.business_product_name %> </p>
        <p>
          <details class="billing-box-accordion-chevron details-reset d-flex pl-0 mt-2">
            <summary>
              <%= render(Primer::Beta::Octicon.new("graph", classes: "lfs-data-icon dark")) %>
              <span class="text-bold">Billed Seats</span> –
              Using
              <%= number_with_delimiter(total_usage) %>
              User Month
              <div class="float-right">
                <%= total_cost %>
              </div>
            </summary>
          </details>
        </p>
      <% end%>
    <% end %>
  <% end %>
</div>
