<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 4)) do |component| %>
  <% component.with_header(display: :flex, classes: 'flex-items-center') do %>
    <h3 class="Box-title overflow-hidden flex-auto">
      Invoiced sponsorships
      <%= render(Primer::Beta::Counter.new(count: sponsorships.total_entries)) %>
    </h3>

    <%= render(Primer::Beta::Link.new(href: stafftools_sponsors_invoiced_sponsor_transfers_path(sponsor), color: :on_emphasis, underline: false, test_selector: "invoiced-sponsorships", classes: "btn btn-primary btn-sm")) do %>
      View invoiced transfers
    <% end %>
  <% end %>

  <% component.with_body(p: 0) do %>
    <table class="stafftools-table">
      <thead>
        <tr>
          <th class="text-bold billing-table-cell py-2">Maintainer</th>
          <th class="text-bold billing-table-cell py-2">Maintainer login</th>
          <th class="text-bold billing-table-cell py-2 numerals pr-2">Amount</th>
          <th class="text-bold billing-table-cell py-2">Expires on</th>
          <th class="text-bold billing-table-cell py-2">Cancel sponsorship</th>
        </tr>
      </thead>
      <tbody>
        <% sponsorships.each do |sponsorship| %>
          <% transfer = sponsorship.invoiced_sponsorship_transfer %>
          <tr>
            <td <%= test_selector "invoiced-sponsorships-maintainer" %>>
              <%= render(Primer::Truncate.new(tag: :span, inline: true, expand: true)) { transfer.sponsors_listing_slug } %>
            </td>
            <td>
              <a href="<%= stafftools_sponsors_member_path(transfer.sponsorable) %>">
                <%= render(Primer::Truncate.new(tag: :span, inline: true, expand: true)) { "@#{transfer.sponsorable}" } %>
              </a>
            </td>
            <td class="text-right tabular-numerals pr-2"><%= number_to_currency transfer_amount(transfer) %></td>
            <td><%= transfer_expires_on(transfer) %></td>
            <td>
              <%= form_tag stafftools_sponsors_invoiced_sponsor_transfer_path(sponsor, transfer),
                class: "inline-form",
                method: :delete,
                data: test_selector_hash("invoice-sponsorship-form-#{transfer.id}") do
              %>
                <%= render Primer::ButtonComponent.new(scheme: :danger,
                                              type: :submit,
                                              data: { confirm: "Are you sure you want to cancel this invoice sponsorship?" },
                                              disabled: !sponsorship.active?) do %>
                  Cancel
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if sponsorships.total_pages > 1 %>
      <div class="Box-footer text-center">
        <%= will_paginate sponsorships, params: {
          controller: "stafftools/sponsors/invoiced/invoiced_sponsorships",
          action: "index",
          invoiced_sponsor_id: sponsor.to_param
        }, "data-pjax" => "" %>
      </div>
    <% end %>
  <% end %>
<% end %>
