<div class="d-flex flex-items-center flex-justify-between">
  <div class="note mr-4">
    Unlink <%= sponsor %>'s Sponsors-specific Zuora account so that their default GitHub billing method will be used
    for future sponsorship payments.
  </div>
  <% if disabled? %>
    <%= render Primer::Beta::Button.new(
      id: "remove-zuora-account",
      disabled: true,
      test_selector: "disabled-button",
      size: :small,
      scheme: :danger,
    ) do |component| %>
      <% component.with_tooltip(text: disabled_reason) %>
      Remove Zuora account
    <% end %>
  <% else %>
    <%= render(Primer::Alpha::Dialog.new(
      title: "Remove sponsorship-specific Zuora account for #{sponsor}",
    )) do |dialog| %>
      <% dialog.with_show_button(scheme: :danger, size: :small) do %>
        Remove Zuora account
      <% end %>
      <% dialog.with_body(py: 3) do %>
        <p>
          You can unlink <strong><%= sponsor %>'s</strong> sponsorship-specific Zuora account if they no longer want to use it to pay for sponsorships.
        </p>
        <p>
          The account will not be deleted from Zuora, it will just no longer be associated with
          <strong><%= sponsor %>'s</strong> on GitHub.
        </p>
        <% if sponsorship_credit_balance %>
          <p <%= test_selector("credit-balance") %>>
            Available credit balance: <strong><%= sponsorship_credit_balance.format(no_cents_if_whole: false, with_currency: true) %></strong>
          </p>
        <% end %>
        <p class="note">
          Account ID:
          <a class="Link--inTextBlock" href="<%= helpers.zuora_account_url_for_customer(sponsors_customer) %>">
            <code <%= test_selector("zuora-account-id") %>><%= sponsors_customer.zuora_account_id %></code>
          </a>
          <br>
          Account number:
          <code <%= test_selector("zuora-account-number") %>><%= sponsors_customer.zuora_account_number %></code>
        </p>
      <% end %>
      <% dialog.with_footer do %>
        <%= button_to("Unlink Zuora account",
          stafftools_sponsors_invoiced_sponsor_customer_path(sponsor),
          class: "btn btn-danger btn-block",
          method: :delete,
        ) %>
      <% end %>
    <% end %>
  <% end %>
</div>
