<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div <%= test_selector "spending_limit_component" %>>
  <% if @user.is_organization_billed_through_business? %>
    <div <%= test_selector "org_billed_through_business" %>>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, spacious: true, icon: "alert")) do %>
        <%= render(Primer::Beta::Text.new(tag: :strong)) { "Unable to update spending limit" } %>
        <%= render(Primer::Beta::Text.new(tag: :p)) do %>
          To manage this organization's billing, see the parent enterprise <%= render(Primer::Beta::Link.new(href: stafftools_enterprise_path(@user.business), classes: "Link--inTextBlock")) { @user.business.name } %>.
        <% end %>
      <% end %>
    </div>
  <% elsif !@user.has_valid_payment_method? %>
    <div <%= test_selector "missing_payment_method_banner" %>>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, spacious: true, icon: "alert")) do %>
        <%= render(Primer::Beta::Text.new(tag: :strong)) { "Payment method is missing" } %>
        <%= render(Primer::Beta::Text.new(tag: :p)) { "Please setup a payment method before updating the spending limit on this account." } %>
      <% end %>
    </div>
  <% end %>

  <%=
    render(Stafftools::Billing::SpendingLimitFormComponent.new(
      product_name: "Actions & Packages",
      budget_group: "shared",
      form_action: stafftools_user_billing_spending_limits_path(@user),
      enforce_spending_limit: actions_and_packages_budget.enforce_spending_limit,
      spending_limit_in_subunits: actions_and_packages_budget.spending_limit_in_subunits,
      disabled: disabled?
    ))
  %>

  <%=
    render(Stafftools::Billing::SpendingLimitFormComponent.new(
      product_name: "Codespaces",
      budget_group: "codespaces",
      form_action: stafftools_user_billing_spending_limits_path(@user),
      enforce_spending_limit: codespaces_budget.enforce_spending_limit,
      spending_limit_in_subunits: codespaces_budget.spending_limit_in_subunits,
      disabled: disabled?
    ))
  %>
<div>
