<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div <%= test_selector "spending_limit_form_component" %>>
  <%= form_tag form_action do %>
    <input type="hidden" name="budget_group" value="<%= budget_group %>" <%= disabled_attribute %>>
    <%= render(Primer::Beta::BorderBox.new(mb: 4)) do |component| %>
      <% component.with_header do |h| %>
        <% h.with_title(tag: :h4) do %>
          <%= product_name %>
        <% end %>
      <% end %>

      <% component.with_row do %>
        <%= render(Primer::Box.new(classes: "form-checkbox", pl: 5, my: 0)) do %>
          <label class="ml-1 d-block">
            <input type="radio" name="enforce_spending_limit" value="true" class="form-checkbox-details-trigger" name="setup" <%= disabled_attribute %> <% if enforce_spending_limit %>checked<% end %>>
            Limit spending
            <%= render(Primer::Box.new(classes: "note")) do %>
              <%= render(Primer::Beta::Text.new(mb: 1)) { "Set up a spending limit on a monthly basis" } %>
              <%= render(Primer::Box.new(classes: "form-checkbox-details")) do %>
                <%= render(Primer::Box.new(mt: 3, pt: 1, mb: 2, position: :relative)) do %>
                  <span class="position-absolute f5 pl-2" style="line-height: 34px">$</span>
                  <input class="form-control col-4 pl-4" type="number" name="spending_limit" step=".01" min="0" placeholder="$0.00" aria-label="$0.00"
                     <%= disabled_attribute %> value="<%= spending_limit_value %>">
                  <%= render(Primer::ButtonComponent.new(scheme: :primary, ml: 1, type: :submit, disabled: disabled?)) { "Update limit" } %>
                <% end %>
              <% end %>
            <% end %>
          </label>
        <% end %>
      <% end %>

      <% component.with_row do %>
        <%= render(Primer::Box.new(classes: "form-checkbox", pl: 5, my: 0)) do %>
          <label class="ml-1 d-block">
            <input type="radio" name="enforce_spending_limit" value="false" class="form-checkbox-details-trigger" name="setup" <%= disabled_attribute %> <% unless enforce_spending_limit %>checked<% end %>>
            Unlimited spending
            <%= render(Primer::Box.new(classes: "note")) do %>
              <%= render(Primer::Beta::Text.new(mb: 1)) { "Pay as much as needed to keep #{product_name} running" } %>
              <%= render(Primer::Box.new(classes: "form-checkbox-details")) do %>
                <%= render(Primer::ButtonComponent.new(scheme: :primary, mt: 2, type: :submit, disabled: disabled?)) { "Update to unlimited" } %>
              <% end %>
            <% end %>
          </label>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
