<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="d-flex flex-items-center flex-justify-between">
  <div class="note mr-4">
    Start a payment run for <%= sponsor %>'s Sponsors-specific Zuora account to pay all outstanding invoices using
    their credit balance.
  </div>
  <%= render(GitHub::DialogComponent.new(
    title: "Start a Sponsors-specific payment run for #{sponsor}",
    body_classes: "py-3",
  )) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <%= render Primer::ButtonComponent.new(
        tag: :summary,
        variant: :small,
      ).with_content("Start Sponsors-specific payment run") %>
    <% end %>
    <% dialog.with_body do %>
      <p>
        This will attempt to pay all outstanding invoices.
      </p>
      <p>
        If the existing credit balance can't cover all invoices, the job will fail.
      </p>
      <p class="note">
        Account ID:
        <a class="Link--inTextBlock" href="<%= zuora_account_url_for_customer(sponsors_customer) %>">
          <code <%= test_selector("zuora-account-id") %>><%= sponsors_customer.zuora_account_id %></code>
        </a>
        <br>
        Account number:
        <code <%= test_selector("zuora-account-number") %>><%= sponsors_customer.zuora_account_number %></code>
      </p>
    <% end %>
    <% dialog.with_footer do %>
      <%= button_to("Start payment run",
        stafftools_sponsors_invoiced_sponsor_payment_run_path(sponsor),
        class: "btn btn-danger btn-block",
      ) %>
    <% end %>
  <% end %>
</div>
