<tr class="<%= row_classes %>" <%= test_selector("sponsorship-item-#{sub_item&.id || sponsorship_id}") %>>
  <td <%= test_selector("sponsorable") %>>
    <% if sponsorable.ghost? %>
      @<%= sponsorable %>
    <% else %>
      <a href="<%= sponsorable_path(sponsorable) %>">@<%= sponsorable %></a>
    <% end %>
  </td>
  <td <%= test_selector("tier-price") %>><%= tier_price %></td>
  <td <%= test_selector("item-#{item.id}-frequency") %>>
    <% if tier&.one_time? %>
      <%= tier.frequency_adjective %>
    <% else %>
      <%= sub_item&.plan_duration || sponsor.plan_duration %>ly
    <% end %>
    <% if pending_change %>
      <p class="f6 text-italic" <%= test_selector("pending-sponsorship-change-notice") %>>
        <%= pending_change.description %>
      </p>
    <% end %>
  </td>

  <td>
    <% if sponsorship %>
      <%= form_tag stafftools_sponsors_sponsorship_path(sponsorship_id), method: :put do %>
        <%= render Primer::Beta::Button.new(
          size: :small,
          type: :submit,
          scheme: :danger,
          mb: 1,
          test_selector: "flip-sponsorship-privacy-#{sponsorship_id}",
          "data-confirm": "Are you sure you want to change the privacy of this sponsorship to #{opposite_privacy_level}?",
        ).with_content("Make #{opposite_privacy_level}") %>
      <% end %>
    <% end %>

    <% if sponsorship&.active? %>
      <% if pending_change %>
        <%= form_tag stafftools_sponsors_sponsorship_pending_change_path(sponsorship), method: :delete do %>
          <%= render Primer::Beta::Button.new(
            size: :small,
            type: :submit,
            scheme: :danger,
            mb: 1,
            test_selector: "undo-pending-change-#{sponsorship_id}",
            "data-confirm": "Are you sure you want to undo this #{pending_change}?",
          ).with_content("Undo #{pending_change}") %>
        <% end %>
      <% end %>
    <% end %>

    <% if show_cancellation_form? %>
      <%= render(GitHub::DialogComponent.new(title: "Cancel sponsorship")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
        <% dialog.with_summary do %>
          <%= render Primer::Beta::Button.new(
            size: :small,
            tag: :summary,
            scheme: :danger,
            test_selector: "cancel-#{item.id}",
          ).with_content("Cancel") %>
        <% end %>
        <% dialog.with_body do %>
          <%= form_tag cancellation_path, method: :delete do %>
            <p <%= test_selector("cancellation-confirmation") %>>
              Are you sure you want to cancel <%= sponsor %>'s <%= tier %> sponsorship<% unless sponsorable.ghost? %> of <%= sponsorable %><% end %>?
            </p>
            <div class="form-group mb-2">
              <%= render Primer::Beta::Button.new(
                type: :submit,
                block: true,
                scheme: :danger,
                "data-disable-invalid": "",
                "data-disable-with": "Cancelling sponsorship...",
                test_selector: "cancel-confirmation",
              ).with_content("Yes, cancel it") %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% if sponsorship.present? && !sponsorship.active? %>
      <%= render(GitHub::DialogComponent.new(title: "Restore this sponsorship?")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
        <% dialog.with_summary do %>
          <%= render Primer::Beta::Button.new(
            size: :small,
            tag: :summary,
            scheme: :danger,
            test_selector: "restore-#{sponsorship_id}",
          ).with_content("Restore") %>
        <% end %>
        <% dialog.with_body do %>
          <%= form_tag stafftools_sponsors_sponsorship_restoration_path(sponsorship) do %>
            <p>
              <strong><%= sponsor %>'s</strong> <%= tier %> sponsorship of <strong><%= sponsorable %></strong> will be marked as active.
            </p>
            <p>
              <%= sponsor %> will <strong>not</strong> be charged.
            </p>
            <% if sponsorship.expires_at && sponsorship.one_time_payment? %>
              <p <%= test_selector("one-time-expires-at-note") %>>
                The sponsorship's expiration date
                <% if sponsorship.expired? %>
                  will be extended to <%= formatted_one_time_expiration_date_for(sponsorship) %>.
                <% else %>
                  of <%= formatted_one_time_expiration_date_for(sponsorship) %> will not be changed.
                <% end %>
              </p>
            <% end %>
            <div class="form-group mb-2">
              <%= render Primer::Beta::Button.new(
                type: :submit,
                block: true,
                scheme: :danger,
                "data-disable-invalid": "",
                "data-disable-with": "Restoring sponsorship...",
              ).with_content("Yes, restore it") %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
