<div class="d-flex flex-items-center flex-justify-between">
  <div class="note mr-4">
    Increase the credit balance available to <%= sponsor %>'s Sponsors-specific Zuora account.
  </div>
  <%= render(Primer::Alpha::Dialog.new(
    size: :xlarge,
    title: "Increase the credit balance for #{sponsor}'s Sponsors-specific Zuora account",
  )) do |dialog| %>
    <% dialog.with_show_button(size: :small) { "Increase credit balance" } %>
    <% dialog.with_body do %>
      <p>
        If <strong><%= sponsor %></strong> has paid a Sponsors invoice, you can increase their credit
        balance so they have funds to start sponsoring.
      </p>
      <%= form_tag(stafftools_sponsors_invoiced_sponsor_credit_balance_confirmation_path(sponsor),
        method: :get,
        data: test_selector_hash("sponsors-add-credit-form")
      ) do %>
        <div class="form-group">
          <div class="form-group-header">
            <label for="add_credit_balance_amount">Amount (USD):</label>
          </div>
          <div class="form-group-body">
            <input type="text" class="form-control" name="amount" id="add_credit_balance_amount"
              placeholder="e.g., $1,0000" required>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group-header">
            <label for="add_credit_balance_comment">Comment:</label>
          </div>
          <div class="form-group-body">
            <input type="text" class="form-control" name="comment" id="add_credit_balance_comment"
              placeholder="e.g., https://github.com/github/financeteam/issues/14087"
              aria_describedby="help-text-for-zuora-comment"
              required>
            <div class="note" id="help-text-for-zuora-comment">
              <p>
                Link to the finance team's GitHub issue for the Sponsors invoice, e.g.,
                <code>https://github.com/github/financeteam/issues/14087</code>
              </p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="form-group-header">
            <label for="add_credit_balance_reference_id">Reference ID:</label>
          </div>
          <div class="form-group-body">
            <input type="text" class="form-control" name="reference_id" id="add_credit_balance_reference_id"
              placeholder="e.g., INV23885979"
              aria_describedby="help-text-for-zuora-reference-id"
              required>
            <div class="note" id="help-text-for-zuora-reference-id">
              <p>
                Invoice ID from the financeteam issue, e.g.,
                <code>INV23885979</code> from https://github.com/github/financeteam/issues/14087
              </p>
            </div>
          </div>
        </div>
        <div class="ml-n3 mr-n3 px-3 border-top pt-3 mt-3">
          <%= render Primer::Beta::Button.new(
            scheme: :primary,
            type: :submit,
            block: true,
            test_selector: "sponsors-add-credit-button",
            "data-disable-with": "Redirecting to review...",
          ).with_content("Review") %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
