<div class="Box Box--condensed mb-4">
  <div class="Box-header">
    <h3 class="Box-title">
      Sponsors Invoiced Agreement Signatures
    </h3>
  </div>
  <div class="Box-body p-0">
    <% if signatures.any? %>
      <table class="stafftools-table" <%= test_selector("org-invoiced-sponsors-signatures-table") %>>
        <thead>
          <tr>
            <th class="px-2 v-align-middle">Version</th>
            <th class="px-2 v-align-middle text-center no-wrap">Signed by</th>
            <th class="px-2 v-align-middle text-center no-wrap">Date signed</th>
            <th class="px-2 v-align-middle text-center">Expiration</th>
            <th class="px-2 v-align-middle text-center no-wrap">Terminate signature</th>
          </tr>
        </thead>
        <tbody>
          <% signatures.each do |signature| %>
            <tr <%= test_selector("signature-#{signature.id}") %>>
              <td class="px-2 v-align-middle">
                <%= link_to(signature.agreement_version, stafftools_sponsors_agreement_path(signature.agreement)) %>
              </td>
              <td class="px-2 v-align-middle text-center">
                <%= signature.signatory_login %>
              </td>
              <td class="px-2 v-align-middle text-center">
                <%= helpers.time_ago_in_words_js signature.created_at %>
              </td>
              <td class="px-2 v-align-middle text-center">
                <%= signature.expires_on.to_formatted_s(:long) %>
              </td>
              <td class="px-2 v-align-middle text-center">
                <%= form_tag stafftools_sponsors_invoiced_agreement_signature_path(signature.id), method: :put do %>
                  <%= render Primer::Beta::Button.new(
                    size: :small,
                    type: :submit,
                    scheme: :danger,
                    mb: [1],
                    test_selector: "terminate-signature-#{signature.id}",
                    "data-confirm": "Are you sure you want to terminate this signature?",
                    classes: signature.can_terminate? ? "" : "disabled",
                    disabled: !signature.can_terminate?
                  ).with_content("Terminate") %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="Box-body" <%= test_selector("org-invoiced-sponsors-signatures-blankslate") %>>
        No signatures
      </div>
    <% end %>
  </div>
</div>
