<%= render Primer::Beta::BorderBox.new(padding: :condensed, mb: 4) do |border_box| %>
  <% border_box.with_header(
    display: sponsors_customer ? :flex : :block,
    align_items: sponsors_customer ? :center : nil,
    justify_content: sponsors_customer ? :space_between : nil,
  ) do |border_box_header| %>
    <h3 class="Box-title">Sponsorship-specific Zuora account</h3>
    <% if sponsors_customer %>
      <%= render Primer::Beta::Button.new(
        href: helpers.zuora_account_url_for_customer(sponsors_customer),
        tag: :a,
        scheme: :link,
      ).with_content("View Zuora account") %>
    <% end %>
  <% end %>
  <% if add_sponsors_customer_modal_component.render? %>
    <% border_box.with_row do %>
      <%= render add_sponsors_customer_modal_component %>
    <% end %>
  <% end %>
  <% if sponsorship_credit_balance %>
    <% border_box.with_row(test_selector: "credit-balance") do %>
      <%= sponsorship_credit_balance.format(no_cents_if_whole: false, with_currency: true) %> available
    <% end %>
  <% end %>
  <% if remove_sponsors_customer_modal_component.render? %>
    <% border_box.with_row do %>
      <%= render remove_sponsors_customer_modal_component %>
    <% end %>
  <% end %>
  <% if sponsors_payment_run_modal_component.render? %>
    <% border_box.with_row do %>
      <%= render sponsors_payment_run_modal_component %>
    <% end %>
  <% end %>
  <% if sponsor.sponsors_invoiced? %>
    <% border_box.with_row do %>
      <div class="d-flex flex-items-center flex-justify-between">
        <div class="note mr-4">
          Create a Stripe invoice for this <%= sponsor.user? ? "user" : "organization" %> so that they can refill
          their sponsorship balance.
        </div>
        <%= render Primer::Beta::Button.new(
          tag: :a,
          size: :small,
          href: new_stafftools_sponsors_stripe_invoice_path(sponsor),
        ).with_content("Create Sponsors invoice") %>
      </div>
    <% end %>
  <% end %>
  <% if sponsors_add_credit_balance_modal_component.render? %>
    <% border_box.with_row do %>
      <%= render sponsors_add_credit_balance_modal_component %>
    <% end %>
  <% end %>
<% end %>
