<div class="Box Box--condensed mb-4">
  <%= render Primer::Box.new(bg: :subtle) do %>
    <sponsorships-tabs>
      <%= render Primer::Alpha::UnderlineNav.new(label: "Current and past sponsorships") do |component| %>
        <% component.with_tab(
          href: billing_stafftools_user_path(sponsor, sponsorships_tab: :current),
          selected: active_tab?(:current),
          data: {
            "turbo-frame" => "sponsorship-history-turbo-frame",
            "turbo-action" => "replace",
            "pjax-preserve-scroll" => true,
            target: "sponsorships-tabs.currentSponsorshipsTab",
            action: "click:sponsorships-tabs#updateSelectedTab"
          }
        ) { "Current sponsorships" } %>
        <% component.with_tab(
          href: billing_stafftools_user_path(sponsor, sponsorships_tab: :past),
          selected: active_tab?(:past),
          data: {
            "turbo-frame" => "sponsorship-history-turbo-frame",
            "turbo-action" => "replace",
            "pjax-preserve-scroll" => true,
            target: "sponsorships-tabs.pastSponsorshipsTab",
            action: "click:sponsorships-tabs#updateSelectedTab"
          }
        ) { "Past sponsorships" } %>
      <% end %>
    </sponsorships-tabs>
  <% end %>

  <turbo-frame id="sponsorship-history-turbo-frame">
    <% if linked_org_message %>
      <div class="Box-body color-bg-attention" <%= test_selector("sponsors-linked-org-message") %>>
        <%= render(Primer::Beta::Link.new(
          href: linked_org_stafftools_billing_path
        ).with_content(linked_org.login)) %>
        <%= linked_org_message %>
      </div>
    <% end %>

    <% if show_sponsorships? %>
      <table class="stafftools-table">
        <thead>
          <tr>
            <th>Sponsorable</th>
            <th>Amount</th>
            <th>Frequency</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% sponsorships_to_display.each do |item| %>
            <%= render Stafftools::Billing::SponsorshipItemComponent.new(
              sponsor: sponsor,
              sponsorship_item: item,
            ) %>
          <% end %>
        </tbody>
      </table>
      <div class="Box-footer text-small">
        <a class="Link--muted" href="<%= stafftools_sponsors_billing_mismatches_path(sponsor_login: sponsor.login) %>">
          View sponsorship billing mismatches for <%= sponsor %>
        </a>
      </div>
    <% else %>
      <div class="Box-body" <%= test_selector("no-sponsorships") %>>
        <strong><%= sponsor %></strong> is not currently sponsoring anyone on GitHub Sponsors.
      </div>
    <% end %>
  </turbo-frame>
</div>
