<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h3) do %>
    <%= render Primer::Beta::Octicon.new(icon: :rss, size: :medium) %> Subscription items
  <% end %>
<% end %>

<% if in_app_purchases? %>
  <p>
    Note: Cancelling in-app purchased subscriptions will not automatically cancel the subscription in the Apple App Store or Google Play Store.
    The user must also cancel the subscription in the respective app store.
  </p>
<% end %>

<%= render Primer::Alpha::UnderlinePanels.new(label: "With panels") do |component| %>
  <% component.with_tab(id: "tab-1", selected: true) do |t| %>
    <% t.with_text { "Active" } %>
    <% t.with_panel do %>
      <%= render Primer::Beta::BorderBox.new(mt: 4) do |box| %>
        <% box.with_body(p: 0) do %>
          <table class="stafftools-table">
            <thead>
              <tr>
                <th class="no-wrap billing-table-cell pr-0">ID</th>
                <th class="no-wrap billing-table-cell pr-0">Product</th>
                <th class="no-wrap billing-table-cell pr-0">Duration</th>
                <th class="no-wrap billing-table-cell pr-0">Qty</th>
                <th class="no-wrap billing-table-cell pr-0">Price per quantity</th>
                <th class="no-wrap billing-table-cell pr-0">State</th>
                <th class="no-wrap billing-table-cell pr-0"></th>
              </tr>
            </thead>
            <tbody>
              <% active_subscription_items.each do |item| %>
                <tr>
                  <td>
                    <%= link_to stafftools_user_subscription_item_path(user, item) do %>
                      <%= item.id %>
                    <% end %>
                  </td>
                  <td>
                    <%= render(Primer::Beta::Truncate.new) do |component| %>
                      <% component.with_item(expandable: true, max_width: 100) do  %>
                        <%= item.subscribable.name %>
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= item.subscribable.billing_cycle %></td>
                  <td><%= item.quantity %></td>
                  <td><%= item.price.format %></td>
                  <td>
                    <% if item.on_free_trial?  %>
                      <%= render(Primer::Beta::Label.new(title: "Ends: #{item.free_trial_ends_on}", scheme: :accent)) { "Free trial" } %>
                    <% elsif item.latest_billing_transaction.present? %>
                      <%= render(Primer::Beta::Label.new(title: "Payment collected and recorded", scheme: :success)) { "Paid" } %>
                    <% elsif item.apple_in_app_purchase? %>
                      <%= render(Primer::Beta::Label.new(title: "Payment & subscription managed via Apple App Store", scheme: :success)) { "Managed by Apple" } %>
                    <% elsif item.google_in_app_purchase? %>
                      <%= render(Primer::Beta::Label.new(title: "Payment & subscription managed via Google Play Store", scheme: :success)) { "Managed by Google" } %>
                    <% else %>
                      <%= render(Primer::Beta::Label.new(title: "Payment not collected", scheme: :success)) { "Waiting for payment to process" } %>
                    <% end %>

                    <% if item.pending_subscription_item_change.present? %>
                      <%= link_to billing_stafftools_user_path(user) do %>
                        <%= render(Primer::Beta::Label.new(title: "Pending change", scheme: :attention, mt: 1, pt: 1)) do %>
                          <%= render Primer::Beta::Octicon.new(icon: :clock, size: :small) %> Pending Change
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="Details js-details-container" align="center">
                    <%= render(Primer::Alpha::HiddenTextExpander.new("aria-label": "No effect", button_arguments: { classes: "js-details-target" })) %>
                    <%= render Primer::Beta::Popover.new(
                      position: :absolute,
                      left: true,
                      right: true,
                      classes: "js-notice Details-content--hidden"
                    ) do |component| %>
                      <% component.with_body(position: :relative, mx: :auto, text_align: :center, style: "left: -81px;") do %>
                        <%= form_tag stafftools_user_subscription_item_path(user, item.id), method: :delete do %>
                          <%= render(Primer::Beta::ButtonGroup.new(size: :small)) do |component| %>
                            <% component.with_button(tag: :a, href: stafftools_user_subscription_item_path(user, item)) { "View Details" } %>
                            <% component.with_button(type: :submit, data: { confirm: "Are you sure you want to cancel immediately?"}) do %>
                              Cancel!
                            <% end %>
                            <% if can_cancel_and_refund_item?(item) %>
                              <% component.with_button(
                                type: :submit,
                                data: {
                                  confirm: "This will cancel the subscription & refund the user at a prorated amount. Are you sure you want to continue?"
                                },
                                name: "operation",
                                value: "cancel_and_refund",
                              ) do %>
                                Cancel and refund
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% component.with_tab(id: "tab-2") do |t| %>
    <% t.with_text { "Cancelled" } %>
    <% t.with_panel do %>
      <%= render Primer::Beta::BorderBox.new(mt: 4) do |box| %>
        <% box.with_body(p: 0) do %>
          <table class="stafftools-table">
            <thead>
              <tr>
                <th class="no-wrap billing-table-cell pr-0">ID</th>
                <th class="no-wrap billing-table-cell pr-0">Product</th>
                <th class="no-wrap billing-table-cell pr-0">Duration</th>
                <th class="no-wrap billing-table-cell pr-0">Qty</th>
                <th class="no-wrap billing-table-cell pr-0">Price per quantity</th>
                <th class="no-wrap billing-table-cell pr-0">State</th>
              </tr>
            </thead>
            <tbody>
              <% cancelled_subscription_items.each do |item| %>
                <tr>
                  <td>
                    <%= link_to stafftools_user_subscription_item_path(user, item) do %>
                      <%= item.id %>
                    <% end %>
                  </td>
                  <td><%= item.subscribable.name %></td>
                  <td><%= item.subscribable.billing_cycle %></td>
                  <td><%= item.quantity %></td>
                  <td><%= item.price.format %></td>
                  <td>
                    <% if item.on_free_trial?  %>
                      <%= render(Primer::Beta::State.new(title: "title", scheme: :purple, size: :small)) { "Free Trial" } %>
                    <% elsif item.latest_billing_transaction&.refund.present? %>
                      <%= link_to stafftools_user_billing_history_path(item.latest_billing_transaction.live_user, anchor: "transaction-#{item.latest_billing_transaction.transaction_id}") do %>
                        <%= render(Primer::Beta::State.new(title: "title", scheme: :purple, size: :small)) { "Transaction: refunded" } %>
                      <% end %>
                    <% elsif item.latest_billing_transaction.present? %>
                      <%= link_to stafftools_user_billing_history_path(item.latest_billing_transaction.live_user, anchor: "transaction-#{item.latest_billing_transaction.transaction_id}") do %>
                        <%= render(Primer::Beta::State.new(title: "title", scheme: :green, size: :small)) { "Transaction: paid" } %>
                      <% end %>
                    <% else %>
                      <%= render(Primer::Beta::State.new(title: "title", scheme: :green, size: :small)) { "Payment not recorded" } %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
