<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Alpha::Dialog.new(
    title: "Update metered via Azure",
    id: "update-metered-via-azure-dialog",
    size: :large,
    "aria-label" => "Update metered via Azure"
  )) do |d| %>
  <% d.with_show_button(scheme: :link, classes: "ws-normal") { "Change" } %>
  <% d.with_header(show_divider: true, font_weight: :bold) { "Update metered via Azure" } %>
  <% d.with_body do %>
    <%= render Primer::Beta::Flash.new(scheme: :warning, font_size: :small, p: 3) do %>
      If enabled, this organization will be billed for all metered usage through their Azure subscription, effective
      immediately. Other products, subscriptions, and plans remain billed via Zuora.
    <% end %>

    <%= form_tag update_metered_via_azure_stafftools_user_path(user), method: :put do %>
      <div class="form-group">
        <div class="form-checkbox" <%= test_selector("metered-via-azure-checkbox") %>>
          <%= check_box_tag :metered_via_azure, true, metered_via_azure?, id: "metered_via_azure" %>
          <%= label_tag :metered_via_azure, "Metered billing via Azure", for: "metered_via_azure" %>
          <span class="note" <%= test_selector("metered-via-azure-notes") %>>
            <% if azure_subscription_id %>
              Targeting Azure subscription <%= azure_subscription_id %>
            <% else %>
              No Azure subscription found. Consider disabling this option.
            <% end %>
          </span>
        </div>
      </div>
      <div class="form-actions">
        <%= render Primer::Beta::Button.new(type: :submit, w: :full).with_content("Update") %>
      </div>
    <% end %>
  <% end %>
<% end %>
