<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Alpha::Dialog.new(
    title: "Update Azure subscription",
    id: "update-azure-subscription-dialog",
    size: :large,
    "aria-label" => "Update Azure subscription"
  )) do |d| %>
  <% d.with_show_button(scheme: :link, classes: "ws-normal") { "Change" } %>
  <% d.with_header(show_divider: true, font_weight: :bold) { "Update Azure subscription" } %>
  <% d.with_body do %>
    <%= render Primer::Beta::Flash.new(scheme: :warning, font_size: :small, p: 3) do %>
      If removed, this organization will stop being billed for metered usage through their Azure subscription, effective
      immediately.
    <% end %>

    <%= form_tag update_azure_subscription_stafftools_user_path(user), method: :put do %>
      <div class="form-group">
        <label for="azure_subscription_id">
          <div class="form-group-header">
            Azure subscription
          </div>
          <div class="form-group-body" <%= test_selector("azure-subscription-id-text-field") %>>
            <%= text_field_tag "azure_subscription_id", azure_subscription_id,
              autofocus: true,
              class: "form-control width-full",
              "aria-label" => azure_subscription_id
            %>
          </div>
        </label>
      </div>
      <div class="form-actions">
        <%= render Primer::Beta::Button.new(type: :submit, w: :full).with_content("Update") %>
      </div>
    <% end %>
  <% end %>
<% end %>
