<hr class="bleed-flush">

<%= render Primer::Alpha::Dialog.new(
  title: "Confirm Zuora billing rollback",
  id: "#{user}-billable-rollback-#{plan_subscription.purpose}-modal",
  size: :large,
) do |dialog| %>
  <% dialog.with_show_button(
    float: :right,
    ml: 2,
    scheme: :danger,
  ) do %>
    Rollback
  <% end %>
  <% dialog.with_body(p: 3, pb: 3) do %>
    <p <%= test_selector("confirm-message") %>>
      Are you sure you want to roll back the <%= purpose_summary %> subscription? This action is irreversible.
    </p>
    <%= form_tag billable_rollback_stafftools_user_path(id: user_login, purpose: plan_subscription.purpose) do %>
      <dl class="form-group">
        <dt><label for="rollback_reason">Why are you running a rollback? (required)</label></dt>
        <dd><textarea autofocus id="rollback_reason" name="rollback_reason" class="form-control" required></textarea></dd>
      </dl>
      <div class="form-actions">
        <%= render Primer::Beta::Button.new(
          scheme: :danger,
          type: :submit,
          block: true,
        ).with_content("Rollback") %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h4 <%= test_selector("intro-title") %>>Zuora billing rollback for <%= purpose_summary %> subscription</h4>
<p>
  Remove any subscriptions that are no longer active in Zuora. This differs from "Synchronize Zuora
  subscription" by not attempting to add any subscriptions. This can be used to cancel/remove sponsorships or
  Marketplace purchases that should no longer be considered active in GitHub.
</p>
