<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if repositories %>
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render Primer::Alpha::Banner.new(full: true, scheme: :warning) do %>
      <p>
        Removing this secret will likely cause failures in workflows that are using it.
      </p>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
      <p>
        Removing this secret will likely cause failures in workflows that are using it.
      </p>
    <% end %>
  <% end %>
<% end %>
<div class="Box-body border-bottom-0">
  <% if repositories&.any? %>
    <p>
      The following repositories still have access to this secret:
    </p>

    <ul class="list-style-none overflow-y-auto" style="max-height:300px;">
      <% repositories.each do |repository| %>
        <li class="py-1">
          <% if repository.private? %>
            <%= primer_octicon(:lock, color: :attention) %>
          <% else %>
            <%= primer_octicon(:repo, color: :muted) %>
          <% end %>
          <%= link_to repository.name, repository_path(repository), class: "text-bold" %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%
    margin_class = repositories&.any? ? "mb-3" : "mb-4"
  %>

  <p class="text-bold mt-2 <%= margin_class %>">
    Are you sure you want to delete <code class="color-fg-default"><%= secret_name %></code>?
  </p>

  <%= button_to "Yes, remove this secret from the organization",
    settings_org_secrets_remove_secret_path(key: secret_name, host_setup: codespaces_host_setup),
    method: :delete,
    class:  "btn btn-block btn-danger" %>
</div>
