<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="js-repository-items-dialog d-flex" <%= " hidden" unless visibility == GitHub::KredzClient::Credz::CREDENTIAL_VISIBILITY_SELECTED_REPOS %>>
  <label id="selected-repos-label" for="selected-repos-summary" class="js-selected-repos-label text-normal mr-1">
    <span class="js-selected-repositories-count"><%= selected_repositories.size %></span>
    <span class="js-multiple-repositories-text" <%= " hidden" if selected_repositories.size == 1 %>>
      selected repositories
    </span>
    <span class="js-single-repository-text" <%= " hidden" unless selected_repositories.size == 1 %>>
      selected repository
    </span>
  </label>
  <%= render(GitHub::DialogComponent.new(title: "Secret repository access")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <summary id="selected-repos-summary" aria-labelledby="selected-repos-label">
        <%= primer_octicon(:gear, classes: "Link--muted") %>
      </summary>
    <% end %>

    <% dialog.with_body do %>
      <p>Select the organization repositories that may use this secret.</p>
      <div class="mt-3 d-flex flex-column overflow-hidden">
        <%= render(Organizations::Settings::RepositorySelectionComponent.new(
          organization: organization,
          repositories: repositories,
          selected_repositories: selected_repositories,
          total_count: total_count,
          data_url: repository_items_data_url,
          aria_id_prefix: repository_items_aria_id_prefix,
          discard_changes_on_close: true)) %>
      </div>
    <% end %>
    <% dialog.with_footer do %>
      <div class="d-flex flex-items-center ">
        <span class="js-selected-repositories-count-container flex-auto text-small color-fg-muted lh-condensed-ultra">
          <span class="js-selected-repositories-count">
            <%= selected_repositories.size %>
          </span>
          <span class="js-multiple-repositories-text" <%= " hidden" if selected_repositories.size == 1 %>>
            selected repositories
          </span>
          <span class="js-single-repository-text" <%= " hidden" unless selected_repositories.size == 1 %>>
            selected repository
          </span>
        </span>
        <%= render Primer::ButtonComponent.new(disabled: true, classes: "js-btn-select-repositories") do %>
          Update selection
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
