<div class="form-group js-org-secrets-selection" <%= test_selector("new-secret-repo-visibility") %>>
  <div class="form-group-header">
    <label id="visibility-label">Repository access</label>
  </div>
  <div class="d-flex flex-items-baseline">
    <details class="details-reset details-overlay mr-2">
      <%= render Primer::Beta::Button.new(tag: :summary, "aria-haspopup": "true", "aria-describedby": "visibility-label", "data-menu-button": "") do |button|
        button.with_trailing_action_icon(icon: "triangle-down")
        visibilities[default_visibility][:label]
      end %>
      <details-menu class="SelectMenu js-secrets-visibility-menu" role="menu" aria-labelledby="visibility-label"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
          <div class="SelectMenu-list">
          <% visibilities.keys.each do |visibility| %>
            <% disabled = visibilities[visibility][:disabled] || false %>

            <label tabindex="0"
              class="SelectMenu-item flex-items-start"
              role="menuitemradio"
              value="<%= visibility %>"
              aria-checked="<%= default_visibility == visibility %>"
              <%if disabled %> aria-disabled="true" <%end%>
            >
              <input type="radio" name="visibility" value="<%= visibility %>" hidden <%= "checked" if default_visibility == visibility %> <%= "disabled" if disabled %>>
              <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check", style: "margin-top: 2px") %>
              <div>
                <div class="h5" data-menu-button-text><%= visibilities[visibility][:label] %></div>
                <span class="text-normal color-fg-muted"
                  <%if disabled %> style="opacity: 0.5" <%end%>>
                  <%= visibilities[visibility][:description] %>
                </span>
              </div>
            </label>
          <% end %>
          </div>
        </div>
      </details-menu>
    </details>
    <%= render partial: "settings/organization/secrets/repository_access_dialog", locals: {
      organization: current_organization,
      repositories: [],
      secret_name: "",
      selected_repositories: [],
      total_count: total_count,
      visibility: default_visibility,
      repository_items_data_url:,
      repository_items_aria_id_prefix:,
      }
    %>
  </div>
</div>
