<%# Using Deprecated dialog till Primer::Experimental::Dialog supports 2FA %>

<%
  page_info title: "#{view.app_display_name} secrets · #{current_organization.name}",
            responsive: false,
            selected_link: view.selected_link
%>

<%= render layout: "orgs/settings/layout" do %>
  <% if view.actions? %>
    <%= render partial: "settings/organization/secrets_and_variables_tabs",
        locals: {
          selected_tab: :secrets,
          current_organization: current_organization,
          can_use_org_secrets_or_variables: can_use_org_secrets,
          can_use_for_private_repos: can_use_secrets_for_private_repos,
          can_write_organization_actions_secrets: can_write_organization_actions_secrets,
          can_write_organization_actions_variables: can_write_organization_actions_variables,
        } %>

    <h3 class="sr-only">Secrets</h3>
  <% else %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %><%= view.page_title %><% end %>
    <% end %>
    <% if can_use_org_secrets && can_write_organization_actions_secrets %>
      <div class="mb-4">
        <p>
          <% if view.dependabot? %>
            Secrets are credentials that are <strong>encrypted</strong>. Anyone with <b>collaborator</b> access to the repositories with access to each secret can use it for <%= view.app_display_name %>.
          <% else %>
            Secrets are environment variables that are <strong>encrypted</strong>. Anyone with <b>collaborator</b> access to the repositories with access to each secret can use it for <%= view.app_display_name %>.
          <% end %>
        </p>

        <% if view.actions? %>
          <p>
            Secrets are not passed to workflows that are triggered by a pull request from a fork. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/automating-your-workflow-with-github-actions/creating-and-using-encrypted-secrets">Learn more about encrypted secrets</a>.
          </p>
        <% elsif view.dependabot? %>
          <p>
            Secrets are not passed to forks.
          </p>
        <% end %>

        <% if !can_use_secrets_for_private_repos %>
          <p class="text-bold mb-0" <%= test_selector("free-org-private-repo-notice") %>>
            Organization secrets cannot be used by private repositories with your plan.
          </p>
          <p>
            Please consider <a class="Link--inTextBlock" href="<%= settings_org_billing_path(current_organization) %>">upgrading your plan</a> if you require this functionality.
          </p>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if can_use_org_secrets && can_write_organization_actions_secrets %>
    <%= render_react_partial name: "actions-secrets-variables-list", ssr: true, props: {
      items: secrets,
      scope: Secrets::Helper::ORG_SCOPE,
      tableActionProps: {
        url: settings_org_secrets_new_secret_path(current_organization),
        message: "New organization secret"
      },
      crudUrls: {
        editUrls: edit_org_secret_urls,
        deleteUrls: delete_org_secret_urls,
      },
      mode: Secrets::Helper::SECRET_MODE
    } %>
  <% elsif !can_use_org_secrets %>
    <div <%= test_selector("legacy-plan-warning") %>>
      <% if current_organization.eligible_for_legacy_upsell? %>
        <p>
          For secrets stored at the organization-level, you can use access policies to control which repositories can use organization secrets. Organization-level secrets let you share secrets between multiple repositories, which reduces the need for creating duplicate secrets. Updating an organization secret in one location also ensures that the change takes effect in all repository workflows that use that secret.
        </p>
        <p class="mt-5">
          Organization secrets are not available for organizations on legacy per-repository billing plans. Please visit your billing settings to upgrade your account.
        </p>
        <span>
          <% if current_organization.adminable_by?(current_user) %>
            <%= render(Primer::Beta::Button.new(
              tag: :a,
              href: upgrade_path(org: current_organization, plan: "business", target: "organization"),
              classes: "btn-premium",
              mr: 2,
              data: {
                **analytics_click_attributes(
                  category: "GitHub Legacy Plans",
                  action: "click.upgrade",
                  label: "location:secrets_#{view.app_name}"
                )
              } )) do %>
              <%= render(Primer::Beta::Octicon.new(
                icon: :rocket,
                color: :sponsors,
                mr: 2,
                data: {
                  **analytics_click_attributes(
                    category: "GitHub Legacy Plans",
                    action: "click.learn_more",
                    label: "location:secrets_#{view.app_name}"
                  )
                })) %>
              Upgrade to Team
            <% end %>
          <% end %>

          <% if view.actions? %>
            <%= render(Primer::Beta::Link.new(href: "https://docs.github.com/rest/actions/secrets")) { "Learn more about Actions secrets" } %>
          <% elsif view.dependabot? %>
            <%= render(Primer::Beta::Link.new(href: "https://docs.github.com/rest/dependabot/secrets")) { "Learn more about Dependabot secrets" } %>
          <% elsif view.codespaces? %>
            <%= render(Primer::Beta::Link.new(href: "https://docs.github.com/rest/codespaces/organization-secrets")) { "Learn more about Codepsaces secrets" } %>
          <% end %>
        </span>
      <% else %>
        <p>
          Organization secrets are not available for organizations on legacy per-repository billing plans. Please visit your billing settings to upgrade your account.
        </p>
      <% end %>
    </div>
  <% else %>
    You need to be an organization admin or have the correct fine-grained permission to view secrets.
  <% end %>
<% end %>
