<%
  page_info title: "Private registry secrets · #{current_organization.name}",
            responsive: false,
            selected_link: Secrets::AppsHelper.highlight_for(Secrets::AppsHelper::PRIVATE_REGISTRY_APP_NAME, current_user)
%>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Private Registries<% end %>
  <% end %>
  <% if can_use_org_secrets && !can_use_secrets_for_private_repos %>
    <div class="mb-4">
      <p class="text-bold mb-0" <%= test_selector("free-org-private-repo-notice") %>>
        Organization secrets cannot be used by private repositories with your plan.
      </p>
      <p>
        Please consider <a class="Link--inTextBlock" href="<%= settings_org_billing_path(current_organization) %>">upgrading your plan</a> if you require this functionality.
      </p>
    </div>
  <% end %>

  <% if can_use_org_secrets %>
    <p class="mb-0">Introductory copy about Private Registries</p>
    <%= render_react_partial name: "actions-secrets-variables-list", ssr: true, props: {
      items: secrets,
      scope: Secrets::Helper::ORG_PRIVATE_REGISTRY_SCOPE,
      crudUrls: {
        editUrls: edit_org_secret_urls,
        deleteUrls: delete_org_secret_urls,
      },
      tableActionProps: {
        url: settings_org_secrets_new_secret_path(current_organization),
        message: "New private registry"
      },
      mode: Secrets::Helper::SECRET_MODE
    } %>
  <% else %>
    <div <%= test_selector("legacy-plan-warning") %>>
      <% if current_organization.eligible_for_legacy_upsell? %>
        <p>
          For secrets stored at the organization-level, you can use access policies to control which repositories can use organization secrets. Organization-level secrets let you share secrets between multiple repositories, which reduces the need for creating duplicate secrets. Updating an organization secret in one location also ensures that the change takes effect in all repository workflows that use that secret.
        </p>
        <p class="mt-5">
          Organization secrets are not available for organizations on legacy per-repository billing plans. Please visit your billing settings to upgrade your account.
        </p>
        <span>
          <% if current_organization.adminable_by?(current_user) %>
            <%= render(Primer::Beta::Button.new(
              tag: :a,
              href: upgrade_path(org: current_organization, plan: "business", target: "organization"),
              classes: "btn-premium",
              mr: 2,
              data: {
                **analytics_click_attributes(
                  category: "GitHub Legacy Plans",
                  action: "click.upgrade",
                  label: "location:secrets_codespaces"
                )
              } )) do %>
              <%= render(Primer::Beta::Octicon.new(
                icon: :rocket,
                color: :sponsors,
                mr: 2,
                data: {
                  **analytics_click_attributes(
                    category: "GitHub Legacy Plans",
                    action: "click.learn_more",
                    label: "location:secrets_codespaces"
                  )
                })) %>
              Upgrade to Team
            <% end %>
          <% end %>

          <%= render(Primer::Beta::Link.new(href: "https://docs.github.com/rest/codespaces/organization-secrets")) { "Learn more about Codepsaces secrets" } %>
        </span>
      <% else %>
        <p>
          Organization secrets are not available for organizations on legacy per-repository billing plans. Please visit your billing settings to upgrade your account.
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>
