<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%
  page_info title: "Update #{view.app_display_name} secret #{secret.name} · #{current_organization.name}",
            responsive: false,
            selected_link: view.selected_link
%>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new(display: :flex, flex_justify: :between) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= settings_org_secrets_path(current_organization) %>"><%= view.page_title %></a> / Update <%= "host setup " if codespaces_host_setup %>secret
    <% end %>
  <% end %>
  <code class="f3 color-fg-default" <%= test_selector("secret-name") %>><%= secret.name %></code>
  <%= form_tag settings_org_secrets_update_secret_path(name: secret.name),
    class: "d-flex flex-column js-encrypt-submit",
    "data-public-key" => public_key[1],
    method: :put do %>
    <div class="form-group js-secret-value-form-group">
      <div class="form-group-header">
        <label for="secret_value">Value</label>
      </div>
      <div class="js-new-secret-value-input form-group-body" hidden>
        <textarea type="text" name="secret_value" id="secret_value" class="form-control width-full"></textarea>
        <input type="hidden" name="encrypted_value">
        <input type="hidden" name="key_id" value="<%= public_key[0] %>">
      </div>
      <div class="js-new-secret-value-prompt form-group-body">
        <p class="color-fg-muted mb-0">Secret values are encrypted and cannot be displayed, but you can <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-new-secret-value-button") do %>enter a new value.<% end %></p>
      </div>
    </div>
    <% if !codespaces_host_setup %>
      <div class="form-group js-org-secrets-selection" <%= test_selector("update-secret-repo-visibility") %>>
        <div class="form-group-header">
          <label for="visibility">Repository access</label>
        </div>
        <div class="d-flex flex-items-baseline">
          <details class="details-reset details-overlay mr-2">
            <%= render Primer::ButtonComponent.new(tag: :summary, "aria-haspopup": "true") do %>
              <span data-menu-button><%= visibilities[selected_visibility][:label] %></span>
              <span class="dropdown-caret"></span>
            <% end %>
            <details-menu class="SelectMenu js-secrets-visibility-menu" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="SelectMenu-modal">
                <div class="SelectMenu-list">
                <% visibilities.keys.each do |visibility| %>
                <% disabled = visibilities[visibility][:disabled] || false %>

                  <label tabindex="0" class="SelectMenu-item flex-items-start"
                    role="menuitemradio" value="<%= visibility %>" aria-checked="<%= selected_visibility == visibility %>"
                    <%if disabled %> aria-disabled="true" <%end%>>
                    <input type="radio" name="visibility" required value="<%= visibility %>" hidden <%= "checked" if selected_visibility == visibility %>>
                    <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
                    <div>
                      <p class="h5" data-menu-button-text><%= visibilities[visibility][:label] %></p>
                      <span class="text-normal color-fg-muted"
                        <%if disabled %> style="opacity: 0.5" <%end%>>
                        <%= visibilities[visibility][:description] %>
                      </span>
                    </div>
                  </label>
                <% end %>
                </div>
              </div>
            </details-menu>
          </details>
          <%= render partial: "settings/organization/secrets/repository_access_dialog", locals: {
            organization: current_organization,
            repositories: repositories,
            secret_name: secret.name,
            selected_repositories: selected_repositories,
            total_count: total_count,
            visibility: selected_visibility,
            repository_items_data_url: view.repository_items_data_url(secret_name: secret.name),
            repository_items_aria_id_prefix: view.repository_items_aria_id_prefix(secret_name: secret.name),
            }
          %>
        </div>
      </div>
    <% else %>
      <input type="hidden" name="host_setup" value="true">
    <% end %>
    <div class="form-group">
      <%= render Primer::ButtonComponent.new(disabled: true, "data-disable-with": "Updating…", "data-sudo-required": true, type: :submit, scheme: :primary, classes: "js-btn-save-secret") do %>Save changes<% end %>
    </div>
  <% end %>
<% end %>
