<%# This is the 2FA _disabled_ FAQ %>

<h2>What you need to know about the required 2FA initiative</h2>

<p>
  We are enrolling GitHub users who manage or author code on GitHub.
  More information about our efforts to make 2FA adoption easy and safe can be found in <a href="https://github.blog/2023-03-09-raising-the-bar-for-software-security-github-2fa-begins-march-13">this blog post.</a>
This is a GitHub.com program, and unrelated to any organization or enterprise membership your account may have. 
</p>

<h3>How will this affect my account?</h3>

<p>
  On <%= @two_factor_required_by %> your account will be required to have 2FA for authentication.
  If you have not yet enrolled by that date, your ability to access GitHub.com will be limited until you finish the enrollment process.
</p>

<h3>How do I enroll in 2FA?</h3>

<p>
  <a href="https://github.com/settings/two_factor_authentication/setup/intro">Click here to get started!</a>
  Prior to <%= @two_factor_required_by %> you can follow the instructions <a href="<%= GitHub.help_url %>/articles/configuring-two-factor-authentication">in our documentation</a> to set up 2FA for your account.
  If you have not yet enrolled in 2FA by <%= @two_factor_required_by %>, you will automatically be taken to the 2FA enrollment form the next time you access GitHub.com.
</p>

<h3>What forms of 2FA can I use?</h3>

<p>
  We want you to have the most seamless experience with 2FA possible, so you can choose one or more of the following options:
</p>

<ul>
  <li>Security key</li>
  <li>GitHub Mobile</li>
  <li>Authenticator application (TOTP)</li>
  <li>Text messages (SMS)</li>
</ul>

<p>
  You should set up at least two of these options, to ensure you always have access to your account.
  Head to <a href="https://github.com/settings/security">https://github.com/settings/security</a> to enroll more 2FA methods.
</p>

<%# At the time that we send this mailer, the user _doesn't_ have 2FA enabled. However, by the time they read it in their inbox, they may have enabled 2FA already  %>
<h3>I already have 2FA enabled, do I need to do anything?</h3>

<p>
  No, if you already have 2FA enabled before <%= @two_factor_required_by %>, you don't need to take any additional actions.
  After <%= @two_factor_required_by %>, you will no longer be able to unenroll from 2FA from your account, but you will be able to change the option you use for authenticating with 2FA.
  Additionally, you won't see any more banners on GitHub.com, and we won't email you about this anymore.
</p>

<h3>What happens to my PATs and SSH keys at the deadline?</h3>

<p>
  Your PATs, SSH keys, and applications will all keep working after the deadline, regardless of your 2FA enrollment.
  PATs in particular are used extensively in important automation, and interruption there can cause outages in critical systems.
  However, when it is time to sign in to GitHub.com to create a new PAT or manage your account, you'll be required to enable 2FA before you can proceed.
</p>

<h3>What do I do if I lose my 2FA device?</h3>

<p>
  GitHub strongly encourages the use of multiple second factor options.
  If you lose all of your second factors, recovery codes are the only way to access your account again.
  By saving your recovery codes, you'll be able to regain access.
</p>

<p>
  Be sure to enable cloud backup for your authenticator app and save your recovery codes.
  Many phones and computers can be security keys as well - registering them with GitHub.com gives you additional, highly-secure 2FA methods.
</p>

<p>
  For security reasons, GitHub Support may not be able to restore access to accounts with 2FA enabled if you lose your 2FA credentials and lose access to your account recovery methods.
</p>

<p>
  More information about recovery codes can be found on GitHub Help at <a href="<%= GitHub.help_url %>/articles/recovering-your-account-if-you-lose-your-2fa-credentials"><%= GitHub.help_url %>/articles/recovering-your-account-if-you-lose-your-2fa-credentials</a>
</p>

<h3>Why is GitHub requiring 2FA?</h3>

<p>
  Ensuring account security is a shared responsibility GitHub takes seriously.
  Strong authentication and the use of 2FA have been recognized as best practice for many years.
  We feel that GitHub has a duty to lead this push toward strong authentication as part of protecting the software supply chain.
</p>
