<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
     title: "Explore",
     container_xl: true,
     selected_link: :explore_main,
     stafftools: stafftools_explore_path,
     canonical_url: request.original_url
%>

<%= render Explore::HeadComponent.new %>

<div class="position-relative">
  <%=
    render(Explore::FeaturedShowcasesComponent.new(
      featured_showcases: explore_featured_showcases,
      container_id: "explore-featured"
    ))
  %>

  <%=
    render(Explore::TrendingComponent.new(
      trending_repos: @trending,
      explore_period: explore_period,
      container_id: "explore-trending"
    ))
  %>

  <% @sections.each do |section| %>
    <div class="py-6" id="<%= section[:id] %>">
      <div class="container-lg p-responsive">
        <%= render section[:component].new(**section[:args]) %>
      </div>
    </div>
  <% end %>
</div>
