<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<article class="height-full clearfix border color-border-muted rounded-2 p-3 p-md-5 my-5">
  <div class="h6 color-fg-muted text-uppercase mb-1">Web page</div>

  <h1 class="h3 lh-condensed mb-2"><a href="<%= collection_item_url.url %>" data-ga-click="Explore, go to web page, location:collection"><%= collection_item_url.title %></a></h1>

  <% unless collection_item_url.description.blank? %>
    <p class="color-fg-muted mb-2"><%= collection_item_url.description %></p>
  <% end %>

  <a href="<%= collection_item_url.url %>" class="d-block width-fit f6 Link--secondary css-truncate css-truncate-target no-wrap" title="<%= collection_item_url.url %>" data-ga-click="Explore, go to web page, location:collection"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
    <%= primer_octicon(:link, mr: 1) %><%= collection_item_url.url %>
  </a>
</article>
