<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<article class="height-full border color-border-muted rounded-2 p-3 p-md-5 my-5">
  <div class="d-flex">
  <img src="<%= image_path organization.primary_avatar_url(64) %>" class="<%= avatar_class_names(organization) %> mr-2" alt="" width="32" height="32">
    <div class="flex-auto">
      <div class="d-flex flex-justify-between flex-items-start mb-1">
        <h1 class="h3 lh-condensed">
          <%= profile_link organization, class: "mr-1", data: { ga_click: "Explore, go to organization, text:#{organization.safe_profile_name}" } do %>
            <%= organization.safe_profile_name %>
          <% end %>
          <%= profile_link organization, class: "f4 text-normal Link--secondary", data: { ga_click: "Explore, go to organization, text:#{organization.display_login}" } do %>
            @<%= organization.display_login %>
          <% end %>
        </h1>
      </div>

      <% unless organization.description.blank? %>
        <div class="color-fg-muted mb-2 ws-normal"><%= organization.description %></div>
      <% end %>

      <% if organization.profile_location.present? %>
        <div class="d-block f6 color-fg-muted ws-normal">
          <%= primer_octicon(:location, mr: 1) %><span class="css-truncate css-truncate-target" title="Is from <%= organization.profile_location %>"><%= organization.profile_location %></span><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
        </div>
      <% elsif email = organization.profile_email.presence %>
        <div class="d-block f6 color-fg-muted ws-normal">
          <%= primer_octicon(:mail, mr: 1) %><span class="css-truncate css-truncate-target" title="Email address is <%= email %>"><%= email %></span><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
        </div>
      <% end %>
    </div>
  </div>
</article>
