<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<article class="height-full border color-border-muted rounded-2 p-3 p-md-5 my-5">
  <div class="d-flex">
    <img src="<%= image_path user.primary_avatar_url(64) %>" class="<%= avatar_class_names(user) %> mr-2" alt="" width="32" height="32">
    <div class="flex-auto">
      <div class="d-flex flex-justify-between flex-items-start mb-1">
        <h1 class="h3 lh-condensed">
          <%= profile_link user, class: "mr-1", data: { ga_click: "Explore, go to user, location:collection" } do %>
            <%= user.safe_profile_name %>
          <% end %>
          <%= profile_link user, class: "f4 text-normal Link--secondary", data: { ga_click: "Collection, go to user, location:collection" } do %>
            @<%= user.display_login %>
          <% end %>
        </h1>
        <%= follow_button user %>
      </div>

      <% if user.profile_bio_html.present? %>
        <div class="color-fg-muted mb-2 ws-normal"><%= user.profile_bio_html %></div>
      <% end %>

      <% if user.profile_company_html.present? %>
        <div class="d-block f6 color-fg-muted ws-normal">
          <%= primer_octicon(:organization, mr: 1) %><span class="css-truncate css-truncate-target" title="Works for <%= user.profile_company_html %>"><%= user.profile_company_html %></span><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
        </div>
      <% elsif user.profile_location.present? %>
        <div class="d-block f6 color-fg-muted ws-normal">
          <%= primer_octicon(:location, mr: 1) %><span class="css-truncate css-truncate-target" title="Is from <%= user.profile_location %>"><%= user.profile_location %></span><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
        </div>
      <% else %>
        <div class="d-block f6 color-fg-muted ws-normal">
          <%= primer_octicon(:clock, mr: 1) %>Joined on <%= user.created_at.strftime("%b %-d, %Y") %>
        </div>
      <% end %>
    </div>
  </div>
</article>
