<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<% items.each do |item| %>
  <% next if item.content.nil? %>

  <% case item.content %>
  <% when Repository %>
    <%= render partial: "collections/collection_item_repository", locals: { repository: item.content, collection_slug: collection.slug } %>
  <% when Organization %>
    <%= render partial: "collections/collection_item_organization",  locals: { organization: item.content } %>
  <% when User %>
    <%= render partial: "collections/collection_item_user",  locals: { user: item.content } %>
  <% when CollectionUrl %>
    <%= render partial: "collections/collection_item_url", locals: { collection_item_url: item.content } %>
  <% when CollectionVideo %>
    <%= render partial: "collections/collection_item_video", locals: { collection_video: item.content, item_slug: item.slug } %>
  <% end %>
<% end %>

<% if items.next_page %>
  <%= form_tag collection_path(collection.slug), :method => :get, :class => "ajax-pagination-form js-ajax-pagination" do %>
    <input name="page" type="hidden" value="<%= items.next_page %>">
    <button type="submit" class="ajax-pagination-btn btn mt-4 py-2 color-border-default f6 width-full" data-disable-with="Loading more&hellip;">Load more&hellip;</button>
  <% end %>
<% end %>
