<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%# locals: collections %>
<% collections.each do |collection| %>
  <article class="d-flex border-bottom color-border-muted pb-4 mb-5">
    <div class="col-2 col-md-1 mr-3">
      <% if collection.image_url %>
        <img src="<%= collection.image_url %>" alt="<%= collection.display_name %>" class="width-full">
      <% else %>
        <div class="color-bg-accent f4 color-fg-muted text-bold rounded flex-shrink-0 text-center" style="height:64px; line-height:64px;">#</div>
      <% end %>
    </div>

    <div class="col-10 col-md-11">
      <h2 class="h3"><a href="<%= collection_path(collection.slug) %>" data-ga-click="Explore, go to collection, text:<%= collection.display_name %>"><%= collection.display_name %></a></h2>
      <%= with_plain_text_links(collection.short_description_html) %>
    </div>
  </article>
<% end %>
<% if collections.next_page.present? %>
  <%= form_tag collections_path, :method => :get, :class => "ajax-pagination-form js-ajax-pagination" do %>
    <input name="page" type="hidden" value="<%= collections.next_page %>">
    <button type="submit" class="ajax-pagination-btn btn mt-4 py-2 color-border-default f6 width-full" data-disable-with="Loading more&hellip;">Load more&hellip;</button>
  <% end %>
<% end %>
