<%
  answer_limit = 8
  top_answer_counts = leaderboard.top_answer_counts(limit: answer_limit)
%>

<div class="border color-shadow-small pt-3 px-3 rounded-2" <%= test_selector("discussion_leaderboard_most_answers") %>>
  <div class="d-flex flex-items-baseline flex-wrap">
    <%= render(Primer::Beta::Heading.new(tag: :h3, font_size: 4, mr: 2)) { "Most helpful" } %>

    <div class="f6 color-fg-muted">
      <% if top_answer_counts.any? %>
        Last 30 days
      <% end %>
    </div>
  </div>

  <ol class="my-2">
    <% top_answer_counts.each do |(user, count)| %>
      <li class="d-flex py-2 flex-items-center border-top color-border-muted">
        <%= linked_avatar_for(user, 20, img_class: "avatar mr-2") %>

        <div class="flex-auto css-truncate css-truncate-overflow">
          <%= profile_link(user, class: "Link--primary") %>
        </div>

        <span>
          <%= primer_octicon(:"check-circle-fill", color: :muted, ml: 3, mr: 2) %>
        </span>

        <div class="f6 color-fg-muted">
          <%= count %>
        </div>
      </li>
    <% end %>
  </ol>

  <% if top_answer_counts.empty? %>
    <p class="text-small color-fg-muted mb-3" <%= test_selector("no_top_answers_message") %>>
      Be sure to mark someone&rsquo;s comment as an answer if it helps you resolve your question &mdash; they deserve the credit!
      <%= emoji_tag(Emoji.find_by_alias("two_hearts"), class: "emoji f5") %>
    </p>
  <% end %>
</div>
