<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  top_answer_counts = leaderboard.top_answer_counts(limit: 8)
%>

<%= render(Primer::Box.new(test_selector: "discussion_leaderboard_most_answers")) do %>
  <%= render(Primer::Box.new(display: :flex, flex_wrap: :wrap, align_items: :baseline, pb: 2, mb: 3, border: :bottom)) do %>
    <%= render(Primer::Beta::Text.new(tag: :h2, flex: :auto, classes: "h5")) { "Most helpful" } %>
    <% if top_answer_counts.any? %>
      <%= render(Primer::Beta::Text.new(tag: :p, font_size: :small, color: :muted, mb: 0)) { "Last 30 days" } %>
    <% end %>
  <% end %>

  <ol>
    <% top_answer_counts.each do |(user, count)| %>
      <li class="d-flex pb-2 flex-items-center">
        <%= linked_avatar_for(user, 16, img_class: "avatar mr-1") %>
        <%= render(Primer::Truncate.new(flex: :auto, mr: 2)) do %>
          <%= profile_link(user, class: "Link--primary") %>
        <% end %>
        <%= primer_octicon(:"check-circle-fill", color: :muted, mr: 1) %>
        <%= render(Primer::Beta::Text.new(font_size: :small, color: :muted)) do %>
          <%= count %>
        <% end %>
      </li>
    <% end %>
  </ol>

  <% if top_answer_counts.empty? %>
    <%= render(Primer::Beta::Text.new(tag: :p, mb: 3, font_size: :small, color: :muted, test_selector: "no_top_answers_message")) do %>
      Be sure to mark someone&rsquo;s comment as an answer if it helps you resolve your question &mdash; they deserve the credit!
      <%= emoji_tag(Emoji.find_by_alias("two_hearts"), class: "emoji f5") %>
    <% end %>
  <% end %>
<% end %>
