<div class="mb-3">
  <h3 class="text-normal pb-2">Policies</h3>
  <p class="mb-2">
    Choose which repositories are permitted to use GitHub Actions.
  </p>
  <%= form_tag settings_org_actions_update_access_policy_path(@organization), class: "d-inline", method: :put, data: test_selector_hash("actions-policy-form") do %>
    <%= render GitHub::MenuComponent.new(items: action_policy_list) do |menu| %>
      <% menu.with_summary do %>
        <%= render Primer::Beta::Button.new(tag: :summary, test_selector: "policy-selection") do |c| %>
          <% c.with_trailing_action_icon(icon: "triangle-down") %>
          <span data-menu-button><%= menu.default_selection_text %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if @organization.actions_disabled_by_owner? %>
    <div class="color-fg-muted note pt-2 pb-2 pl-2 d-inline">
      <%= primer_octicon(:"shield-lock") %>
      This setting has been <a class="Link--inTextBlock" href="<%= GitHub.business_accounts_help_url %>">disabled by enterprise administrators</a>.
    </div>
  <% end %>

  <% if @organization.actions_enabled_for_selected_entities? %>
    <div class="ml-2 d-inline js-policy-repos-container" <%= test_selector("selected-repos-section") %>>
      <%= pluralize selected_repos_count, "selected repository", plural: "selected repositories" %>
      <%= form_tag org_actions_repo_policies_path(@organization),
        class: "d-inline overflow-hidden js-policy-repos-form",
        id: "actions-policy-repos-form",
        method: :put do %>
      <% end %>
      <%= render(GitHub::DialogComponent.new(title: "Repositories", src: org_actions_repo_dialog_path(@organization), preload: true, details_classes: "js-repository-items-dialog d-inline")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
        <% dialog.with_summary do %>
          <summary aria-label="Select repositories">
            <%= primer_octicon(:gear, classes: "Link--muted") %>
          </summary>
        <% end %>
        <% dialog.with_body do %>
          <include-fragment class="SelectMenu-loading" aria-label="Loading">
            <%= render(Primer::Beta::Spinner.new) %>
          </include-fragment>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
