<%# erblint:counter DeprecatedComponentsCounter 2 %>

<% enterprise_owner_control_copy = capture do %>
  Approving this invitation will allow
  <% if invitation.inviter.present? %>
    <a href="<%= user_path(invitation.inviter) %>" class="Link--inTextBlock">@<%= invitation.inviter.display_login %></a>
    and all other owners of the
  <% else %>
    all owners of the
  <% end %>
  <a href="<%= enterprise_path(invitation.business) %>" class="Link--inTextBlock"><%= invitation.business.name %></a>
  enterprise account to gain full control of your organization.
<% end %>

<%= render(Primer::Beta::BorderBox.new(
  mb: 5, test_selector: "organization-invitation-#{invitation.id}")) do |component| %>
  <% component.with_row(display: :flex) do %>
    <%= render(Primer::Box.new(mr: 5)) do %>
      <% if invitation.inviter.present? %>
        <a href="<%= user_path(invitation.inviter) %>"><strong>@<%= invitation.inviter.display_login %></strong></a>
        has invited your organization to join the
      <% else %>
        Your organization has been invited to join the
      <% end %>
      <a href="<%= enterprise_path(invitation.business) %>" <%= test_selector "enterprise-link" %>>
        <strong><%= invitation.business.name %></strong>
      </a>
      enterprise account.
    <% end %>

    <div class="BtnGroup d-inline-flex">
      <%= render GitHub::DialogComponent.new \
        title: "Approve transfer to #{business.name}",
        details_classes: "BtnGroup-parent" do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
        <% dialog.with_summary do %>
          <%= render Primer::ButtonComponent.new \
            tag: :summary,
            classes: "btn-primary BtnGroup-item" do %>
            Approve
          <% end %>
        <% end %>
        <% dialog.with_body do %>
          <% if terms_of_service_corporate? %>
            <p <%= test_selector "ctos-transfer" %>>
              By signing below, the organization owner acknowledges that the <%= organization.name %>
              Organization is owned by
              <%= organization.company.present? ? "the #{organization.company.name}" : "your" %>
              Company.
              <br><br>
              You, the undersigned, are duly authorized by your Company and agree that the
              Corporate Terms of Service (the “Terms”) or GitHub Enterprise Agreement
              (the “Enterprise Agreement” or “EA”), as applicable, entered into by your
              Company and GitHub, govern your Company's use of the Organization
              and GitHub's services.
            </p>
          <% else %>
            <p <%= test_selector "ctos-accept" %>>
              Since your organization is currently governed by our Standard Terms of Service,
              we assume that the organization is owned by individuals rather than an enterprise.
              To change this, please check the box below to agree to our
              <a class="Link--inTextBlock" href="<%= site_corp_terms_path %>" target="_blank" rel="noopener noreferrer">Corporate Terms</a>.
              <strong>
              <br><br>
              Note:</strong> This will change the Terms and ownership of your Organization.
            </p>
          <% end %>
          <p>
            <%= enterprise_owner_control_copy %>
          </p>
          <p>
            <% if business.trial? %>
              Since <%= business.name %> is a trial enterprise account, <% if organization.has_valid_payment_method? %><%= organization.name %> organization
              billing will pause and only resume if the trial account expires or is cancelled. Additionally,<% end %> certain
              features are unavailable during trial.
              <%= render(Primer::Beta::Link::new(classes: "Link--inTextBlock", href: "https://docs.github.com/get-started/signing-up-for-github/setting-up-a-trial-of-github-enterprise-cloud#features-not-included-in-the-trial")) { "Learn more about features not included in a trial" } %>.
            <% end %>
          </p>
        <% end %>
        <% dialog.with_footer do %>
          <% form_for organization, url: accept_pending_enterprise_organization_invitation_path(business, organization), method: :post do |f| %>
            <div class="form-checkbox" aria-live="polite">
              <input type="checkbox" class="form-checkbox-details-trigger" id="business_owned" name="business_owned">
              <label for="business_owned">
                Yes, I want to sign these terms on behalf of my enterprise.
              </label>
            </div>
            <%= render(Primer::ButtonComponent.new(
              scheme: :primary, block: true, type: :submit,
              "data-disable-invalid": "",
              "data-disable-with": "Accepting terms&hellip;",
              classes: "js-purchase-button")) { "Accept terms" } %>
            <p class="mt-3">
              By clicking &ldquo;Accept terms&rdquo;, you agree to the
              <a class="Link--inTextBlock js-corp-tos-link" href="<%= site_corp_terms_path %>" target="_blank" rel="noopener noreferrer" aria-hidden="false">Corporate Terms of Service</a> and the
              <a class="Link--inTextBlock" href="<%= site_privacy_path %>" target="_blank" rel="noopener noreferrer">privacy statement</a><span data-wording="on behalf of" class="js-company-name-text"></span>.
            </p>
          <% end %>
        <% end %>
      <% end %>
      <%= button_to "Decline",
        cancel_pending_enterprise_organization_invitation_path(
          business,
          organization,
          initiated_from: "organization"
        ),
        method: "post",
        form_class: "BtnGroup-parent",
        class: "btn btn-danger BtnGroup-item",
        data: {
          confirm: "Are you sure that you want to decline this invitation?"
        } %>
      <div class="BtnGroup-parent" <%= test_selector "report-target-#{report_target}" %>>
        <%= link_to "Report",
          flavored_contact_url(flavor: "report-abuse", report: report_target),
          class: "btn BtnGroup-item" %>
      </div>
    </div>
  <% end %>
  <% component.with_row(classes: "note") do %>
    If you approve this transfer and it is accepted by an enterprise owner, this organization will be governed by
    <%= business.name %>'s terms of service, billing, identity management, 2FA requirements, and enterprise
    policies.
    <%= enterprise_owner_control_copy %>
    Users that are currently organization owners will retain that role. Read more about
    <%= link_to "adding organizations to your enterprise",
      "#{GitHub.help_url}/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise", class: "Link--inTextBlock" %>.
  <% end %>
<% end %>
