<%= render Primer::Box.new(display: :flex, mt: 2, direction: :column, classes: 'js-settings-partial') do %>
  <input type="hidden" class="js-flash-error" name="flash-error" value="<%= defined?(flash_error) && flash_error %>">

  <%= primer_form_with(model: organization, url: settings_org_codespaces_update_codespaces_user_limit_path(organization), method: :put) do |f| %>
    <div>
      <% unless organization.organization_codespaces_terms_accepted? %>
        <%= render Primer::Beta::Text.new(color: :muted, id: 'organization-codespaces-allowed-description', mt: 1) do %>
          By enabling Codespaces, you agree to GitHub’s <%= link_to "additional products and features terms", "https://github.com/additional-products-and-features-terms", class: "Link--inTextBlock" %> and approve of these terms on behalf of your organization.
        <% end %>
      <% end %>
    </div>

    <%= render(
      Codespaces::Organizations::Settings::UserAccessForm.new(
        f,
        radio_button_checked_proc: proc { |value| radio_button_checked?(value) },
        disable_form: false
      )
    ) %>
  <% end %>

  <% if organization.organization_codespaces_user_limit == Configurable::OrganizationCodespacesUserLimit::SELECTED_USERS && radio_button_checked?(Configurable::OrganizationCodespacesUserLimit::SELECTED_USERS) %>
    <%= render Primer::Box.new(display: :flex, direction: :column, ml: 4, id: "codespacesSettings") do %>
      <%= render Primer::Box.new(display: :flex, style: "align-items: baseline; justify-content: space-between;") do %>
        <%= form_tag settings_org_codespaces_grant_access_path(organization), 'data-codespaces-settings-remote-form': '' do %>
          <auto-complete src="<%= settings_org_codespaces_suggestions_path(organization) %>"
              for="org-invite-complete-results"
              class="auto-search-group d-block">
            <input
              type="text"
              name="identifier"
              aria-label="Add user or team to Codespaces"
              class="form-control input-block input-contrast auto-search-input new-member-field"
              autofocus
              required
              placeholder="Add user or team to Codespaces"
              style="width: 20em;">
            <%= render Primer::Beta::Octicon.new(icon: 'person') %>
            <div id="org-invite-complete-results" class="invite-member-results autocomplete-results"></div>
          </auto-complete>
        <% end %>
      <% end %>
      <div class="mt-2 labels-list Details <%= 'is-empty' if users.empty? && teams.empty? %>">
        <div class="Box">
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_heading(tag: :h3) do %>
              No users or teams allowed to access Codespaces yet
            <% end %>

            <% c.with_description do %>
              You can add any number of organization members or teams
            <% end %>
          <% end %>
          <div aria-label="Users and teams" role="group">
            <% (teams + users).each do |entity| %>
              <div class="Box-row Box-row--focus-gray Details d-flex flex-justify-between flex-items-center flex-wrap js-navigation-item">
                <%= render Primer::Box.new(display: :flex) do %>
                  <%= avatar_for(entity, 22, :class => "avatar mr-2") %>
                  <%= entity.name %>
                <% end %>
                <%= form_tag settings_org_codespaces_revoke_access_path(organization), method: :delete, 'data-codespaces-settings-remote-form': '' do %>
                  <input type="hidden" name="identifier" value="<%= entity.to_s %>">
                  <%= render Primer::Beta::Button.new(type: :submit, scheme: :link) do %>
                    <%= render Primer::Beta::Octicon.new(
                      icon: "x",
                      color: :muted,
                      "aria-label": "Remove Codespaces access for #{entity.name}",
                      position: :relative,
                      mb: 1) %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
