<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if policy_groups.any? %>
   <%= render Primer::Beta::BorderBox.new do |c| %>
      <% policy_groups.each do |policy_group| %>
        <% c.with_row(px: 0, py: 1) do %>
          <%= render Organizations::Settings::CodespacesPolicyGroupListItemComponent.new(owner: owner, policy_group: policy_group) %>
        <% end %>
      <% end %>
   <% end %>
<% else %>
  <%= render Primer::Beta::BorderBox.new(display: :flex, mt: 5, mb: 5, padding: :spacious, justify_content: :space_around) do |component| %>
    <% component.with_body(py: 6) do %>
      <%= render Primer::Beta::Text.new(tag: :h3, font_weight: :bold, text_align: :center).with_content("You don't have any policies yet") %>
      <%= render Primer::Beta::Text.new(tag: :p, text_align: :center, pt: 2, mx: 6) do %>
        You can create a policy for specific purposes such as only allowing certain machine types, and apply them generally or only to specific repositories.
      <% end %>
      <% unless disable_creation %>
        <div class="text-center">
          <%= render Primer::ButtonComponent.new(href: new_policy_url, tag: :a, mt: 2, scheme: :primary).with_content("Create Policy") %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
