<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::ButtonComponent.new(href: edit_path, tag: :a, p: 3, w: :full, scheme: :invisible, color: :inherit, data: { turbo: "false" }, classes: "codespaces-policy-item-no-hover") do %>
  <%= render Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :flex_start) do %>
    <%= render Primer::Box.new(display: :flex, direction: :column) do %>
      <%= render Primer::Box.new(mb: 2) do %>
        <%= render(Primer::Beta::Octicon.new(:shield, color: :muted)) %>
        <span class="<%="ml-n1 #{"color-fg-muted" if inherited?}" %>">
          <%= policy_group.name %>
        </span>
        <% if inherited? %>
          <%= render(Primer::Beta::Label.new(mx: 1)) { "Set by your enterprise administrator" } %>
        <% end %>
      <% end %>
      <%= render Primer::Beta::Details.new(style: "white-space:normal") do |c| %>
        <% c.with_summary(button: false, font_size: :small, color: :muted, font_weight: :normal) do %>
          <%= pluralize(policy_group.policy_constraints.size, "constraint") %> currently applied to <%= target_description %>
        <% end %>
        <% c.with_body do %>
          <div class="dropdown-divider" role="none"></div>
          <ul class="list-style-none">
            <% policy_group.policy_constraints.each do |constraint| %>
              <li>
                <span class="text-small">
                  <strong><%= constraint.display_name %></strong>
                  <span class="color-fg-muted ml-1 text-normal"><%= constraint.display_value %></span>
                </span>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
    <% unless inherited? %>
      <%= button_to(
        delete_path,
        class: "btn-link codespaces-policy-form-danger-hover rounded-2",
        "title": "Delete #{policy_group.name}",
        "aria-label": "Delete #{policy_group.name}",
        method: :delete,
        data: {
          confirm: "Delete #{policy_group.name}?",
        },
      ) do %>
        <%= render Primer::Beta::Octicon.new(icon: "trash", color: :danger) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
