<%= render(Primer::Alpha::Dialog.new(
  title: "Enable GitHub Copilot access for selected members of " + @organization.name,
  id: "add-seat-user",
  size: :large,
  height: 500,
)) do |d| %>
  <% d.with_body(mt: 3, style: "overflow: visible") do %>
    <div class="d-flex">
      <%= form_tag add_org_copilot_seat_management_path(@organization),
        method: :put, style: "width: 100%", id: "copilot-add-user-form" do %>
        <auto-complete
          for="copilot-users-autocomplete"
          src="<%= settings_org_copilot_user_suggestions_path(@organization) %>"
          class="auto-search-group d-block d-md-inline-block js-copilot-selected-users-add-auto-complete">

          <input
            type="text"
            name="user"
            style="width: 465px"
            class="form-control auto-search-input input-contrast mr-0 js-copilot-user-input"
            placeholder="Search by username or email"
            aria-label="Search by username or email">
          <input type="hidden" name="users_ids[]" class="js-copilot-selected-users-add-input">
          <%= render(Primer::Beta::Octicon.new(icon: "search")) %>
          <ul id="copilot-users-autocomplete" class="autocomplete-results"></ul>
        </auto-complete>
        <input type="hidden" name="orig_page" value="<%= @orig_page %>">
      <% end %>
      <%= form_with url: org_copilot_confirm_users_csv_url(@organization), id: "confirm-csv-form", method: :post, float: :right do |f| %>
        <%= f.file_field :file_csv, id: :file_csv, accept: "text/csv", required: true, data: { max_file_size: 2.megabytes }, class: "js-copilot-file-input", hidden: true %>
        <label for="file_csv" class="btn">
          <%= render(Primer::Beta::Octicon.new(icon: "upload")) %>
          Upload CSV
        </label>
      <% end %>
    </div>
    <p class="f6 mt-3">
      Search for members or add them in bulk by uploading a CSV file.
      <%= render(Primer::Beta::Link.new(href: "https://docs.github.com/enterprise-cloud@latest/copilot/configuring-github-copilot/configuring-github-copilot-settings-in-your-organization#enabling-access-to-github-copilot-for-specific-users-in-your-organization", classes: "Link--inTextBlock")) { "How should I format my CSV?" } %>
    </p>
    <%= render(Primer::Beta::Button.new(id: "js-user-copilot-add-user", mt: 3, block: true, size: :medium, scheme: :primary, classes: ["js-user-copilot-add-user"], disabled: true)) do %>
      Select a member above
    <% end %>
  <% end %>
<% end %>
