<%# erblint:counter DeprecatedComponentsCounter 1 %>
<section aria-labelledby="Contributor Sign off">
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Commit signoff<% end %>
  <% end %>
  <p>
    Choose whether repositories will require contributors to sign off on commits they make through GitHub's web interface. Signing off is a way for contributors to affirm that their commit complies with the repository's terms, commonly the <%= link_to "Developer Certificate of Origin (DCO)", "https://developercertificate.org", target: "_blank", class: "Link--inTextBlock" %>. <%= link_to "Learn more about signing off on commits", DcoSignoffHelper::dco_signoff_help_url, target: "_blank", class: "Link--inTextBlock" %>.
  </p>

  <%= form_tag update_org_signoff_settings_path(@organization), class: "d-inline", method: :put do %>
    <%= render GitHub::MenuComponent.new(items: signoff_policy_list) do |menu| %>
      <% menu.with_summary do %>
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span data-menu-button><%= menu.default_selection_text %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</section>
