<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div id="dependabot-form" class="form-group" data-replace-remote-form-target>
  <p>
    In order to update dependencies in your organization, Dependabot accesses dependencies in all
    public repositories and the selected <%= "internal and" if internal_repositories_enabled? %>
    private repositories. The contents of these repositories will be accessible to all
    users in your organization through Dependabot updates. Be sure that you want to share
    these repositories with everyone in your organization or consider using private registries instead.
  </p>
  <div class="Details js-details-container">
    <% if selection_limit_reached? %>
      <%= render Primer::Beta::Flash.new(icon: :alert, scheme: :warning) do %>
        You can give Dependabot access to a maximum of <%= @max_repos %> repositories.
      <% end %>
    <% else %>
      <% if autocomplete_hidden? %>
        <div class="Details-content--shown">
          <%= render Primer::ButtonComponent.new(mr: 2, classes: "js-details-target", "aria-expanded": "false") do %>
            <%= render(Primer::Beta::Octicon.new(icon: "gear")) %>
            Add <%= "internal and" if internal_repositories_enabled? %> private repositories
          <% end %>
        </div>
      <% end %>
      <div class="<%= "Details-content--hidden" if autocomplete_hidden? %>">
        <%= form_tag settings_org_security_analysis_dependabot_add_repositories_path(@organization),
          method: :put do %>
          <auto-complete
            for="dependabot-repository-autocomplete"
            src="<%= settings_org_security_analysis_dependabot_suggestions_path(@organization) %>"
            class="auto-search-group d-block d-md-inline-block js-dependabot-selected-repos-add-auto-complete">
            <input
              type="text"
              class="form-control auto-search-input input-contrast mr-0 js-dependabot-selected-repos-add-search"
              placeholder="Add a private <%= "or internal " if internal_repositories_enabled? %>repository"
              aria-label="Add a private <%= "or internal " if internal_repositories_enabled? %>repository">
            <%= render(Primer::Beta::Octicon.new(icon: "search")) %>
            <ul id="dependabot-repository-autocomplete" class="autocomplete-results"></ul>
            <input type="hidden" name="repository_ids[]" class="js-dependabot-selected-repos-add-input">
            <input type="hidden" name="page" value="<%= @orig_page %>">
          </auto-complete>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if selected_repositories.any? %>
    <div class="text-small color-fg-muted mb-2 mt-2">
      <%= pluralize selected_repositories_count, "selected repository" %>
    </div>
    <%= form_tag settings_org_security_analysis_dependabot_remove_repositories_path(@organization),
      class: "js-dependabot-selected-repos-remove-form",
      method: :put do %>
      <input type="hidden" name="page" value="<%= @orig_page %>">
      <div class="Box">
        <ul>
          <% selected_repositories.each do |repository| %>
            <li class="Box-row py-2">
              <button type="submit" name="repository_ids[]" value="<%= repository.global_relay_id %>" class="Box-btn-octicon btn-octicon float-right" aria-label="Remove <%= repository %>">
                <%= render(Primer::Beta::Octicon.new(icon: "x", color: :muted)) %>
              </button>
              <span class="css-truncate text-emphasized"><%= repository %></span>
            </li>
          <% end %>
        </ul>
      </div>
      <% if show_pagination? %>
        <div class="paginate-container pt-3" data-pjax="#dependabot-form">
          <%= will_paginate selected_repositories, params: pagination_link_params %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
