<%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
  <% component.with_heading(tag: :h2, id: "ghas-repo-list", display: :flex, justify_content: :space_between, align_items: :center) do %>
    <div>GitHub Advanced Security repositories</div>
  <% end %>
<% end %>
<p>
  GitHub Advanced Security features are billed per active committer<%= advanced_security_billed_repositories_description(owner: @organization, conditional_prefix: " in ", conditional_suffix: " repositories") %>.
  Active committers are users that have had one of their commits pushed to a repository <strong>in the last 90 days</strong>.
  <% if advanced_security_billing_learn_more_link %><%= link_to "Learn more about billing for GitHub Advanced Security", advanced_security_billing_learn_more_link, class: "Link--inTextBlock" %>.<% end %>
</p>

<div>
  <include-fragment src="<%= settings_org_security_analysis_ghas_header_path(organization_id: @organization.display_login) %>">
    <p class="text-center mt-3">
      <%= render(Primer::Beta::Spinner.new("aria-label": "Loading...")) %>
    </p>
  </include-fragment>
</div>

<div
  class="js-ghas-entity-list-container"
  data-src="<%= settings_org_security_analysis_ghas_repos_list_path(organization_id: @organization.display_login, page: @page_param) %>"
  data-ref="<%= AdvancedSecurityEntitiesLinkRenderer::PAGE_PARAM %>"
  <%= test_selector("ghas-repo-list") %>
>
  <p class="text-center mt-3" data-loading>
    <%= render(Primer::Beta::Spinner.new("aria-label": "Loading...")) %>
  </p>
  <p class="ml-1 mb-2 mt-2 color-fg-attention" data-show-on-error hidden>
    <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
    Sorry, something went wrong loading this data.
  </p>

  <div data-content-container>
  </div>
</div>
