<div class="d-flex mb-4 gutter-condensed" <%= test_selector("ghas-header") %>>
  <div class="col-4" <%= test_selector("ghas-seat-summary-used")%>>
    <%= render Billing::Settings::HeaderBoxComponent.new(
      title: "In Use",
      amount: seats_used_by_org,
      context: pluralize_without_number(seats_used_by_org, "license")
    ) do |c| %>
      <% c.with_subtitle do %>
        <p>Used by unique committers in the organization</p>
        <% if other_entities_licenses > 0 %>
          <p>(<%= pluralize(other_entities_licenses, "license") %> used by other organizations)</p>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="col-4" <%= test_selector("ghas-seat-summary-unused")%>>
    <%= render Billing::Settings::HeaderBoxComponent.new(
      title: "Unused",
      amount: unlimited_seats? ? "Unlimited" : unused_seats,
      context: unlimited_seats? ? "licenses" : pluralize_without_number(unused_seats, "license")
    ) do |c| %>
      <% c.with_subtitle do %>
        Licenses available
      <% end %>
    <% end %>
  </div>

  <div class="col-4" <%= test_selector("ghas-seat-summary-purchased")%>>
    <%= render Billing::Settings::HeaderBoxComponent.new(
      title: "Purchased",
      amount: unlimited_seats? ? "Unlimited" : purchased_seats,
      context: unlimited_seats? ? "licenses" : pluralize_without_number(purchased_seats, "license")
    ) do |c| %>
      <% if business_license? %>
        <% c.with_subtitle do %>
          Licenses purchased by the enterprise
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
