<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if invite_setting_enabled? %>
  <% collaborators_verbiage = outside_collaborators_verbiage(organization) %>

  <%= form_tag organization_members_can_invite_outside_collaborators_path(organization), method: :put do %>
    <div class="form-checkbox mt-0">
      <input name="members_can_invite_outside_collaborators" type="hidden" value="0">
      <%= check_box_tag "members_can_invite_outside_collaborators", '1', organization.members_can_invite_outside_collaborators? %>
      <label for="members_can_invite_outside_collaborators">
        Allow repository administrators to <%= invite_or_add_action_word.downcase %> <%= collaborators_verbiage %> to repositories for this organization
      </label>
      <p class="note color-fg-muted">
        If disabled, only organization owners may invite collaborators to repositories.
        <a class="Link--inTextBlock" href="<%= "#{GitHub.help_url}/organizations/managing-user-access-to-your-organizations-repositories/managing-outside-collaborators/adding-outside-collaborators-to-repositories-in-your-organization" %>">Learn more about managing permissions for <%= collaborators_verbiage %>.</a>
      </p>
    </div>

    <div class="d-flex flex-items-baseline">
      <%= render(Primer::ButtonComponent.new(type: :submit, ml: 3)) { "Save" } %>
    </div>
  <% end %>
<% else %>
  <div class="d-flex">
    <div class="mr-2">
      <%= render(Primer::Beta::Octicon.new(:"shield")) %>
    </div>
    <div>
      <div><%= outside_collaborator_policy_text %></div>
      <div class="color-fg-muted">This policy has been set by your enterprise administrator. Contact them to change this.</div>
    </div>
  </div>
<% end %>
