
<div class="py-3 pl-3 pr-0 text-center flex-shrink-0">
  <%= linked_avatar_for user, 48, img_class: "avatar", url: member_url %>
</div>

<div class="py-3 css-truncate pl-3 flex-auto">
  <%= profile_link(
    user,
    url: member_url,
    class: "f4 d-block",
    id: "member-#{user.display_login}",
    data: {test_selector: "linked-name-is-full-if-exists"}
    ) do %>
      <%= profile_name_or_login %>
  <% end %>
  <% if valid_user_with_profile_name? %>
    <span class="color-fg-default" <%= test_selector("login-displayed-if-full-name-exists") %>><%= user.display_login %></span>
  <% end %>
</div>
