<%# erblint:counter DeprecatedComponentsCounter 1 %>
<section aria-labelledby="projects_base_role">
  <%= render(Primer::Beta::Heading.new(tag: :h3, id: "projects_base_role", pt: 5, pb: 2, font_weight: :normal)) { "Projects base permissions" } %>
  <%= render(Primer::Beta::Text.new(tag: :p)) do %>
    Projects created by members will default to the elected role below.
  <% end %>

  <orgs-projects-role-settings>
    <%= render(Primer::Alpha::ActionMenu.new(select_variant: :single, size: :medium)) do |menu| %>
      <% menu.with_show_button do |button| %>
        <% button.with_trailing_action_icon(icon: :"triangle-down") %>
        <% default_projects_base_role_button_text %>
      <% end %>
      <% default_projects_base_role_select_list.each do |role| %>
        <% menu.with_item(
            classes: "projects-role-menu-button",
            label: role[:heading],
            value: role[:value],
            active: role[:selected],
            "data-targets": "orgs-projects-role-settings.items",
            content_arguments: {
              "data-show-dialog-id": "#{dialog_id}-#{role[:value]}"
            },
        ) do |item| %>
          <% item.with_description.with_content(role[:description]) %>
        <% end %>
      <% end %>
    <% end %>

    <% default_projects_base_role_select_list.each do |role| %>
      <%= render(Primer::Alpha::Dialog.new(
        "data-test-selector": dialog_id,
        title: "Change base permissions to \"#{role[:heading]}\"",
        id: "#{dialog_id}-#{role[:value]}",
        "data-action": "close:orgs-projects-role-settings#resetSelected cancel:orgs-projects-role-settings#resetSelected",
        overlay: :default,
      )) do |d| %>
        <% d.with_body(px: 0) do %>
          <%# warning %>
          <%= render(Primer::Beta::Flash.new(scheme: :warning, full: true, my: 2)) do %>
            You are about to change the base projects permission for this organization.
          <% end %>
          <%# text %>
          <%= render(Primer::Box.new(px: 3)) do %>
            <%= render(Primer::Beta::Text.new(classes: "description")) { dialog_description } %>
            <%# submission %>
            <%= form_tag organization_update_projects_base_permissions_path(@organization), method: :put do |f| %>
              <input name="org_projects_permission_role" type="hidden" value="<%= role[:value] %>">
              <%= render(Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger, mt: 3)) do %>
                Change base permissions to "<%= role[:heading] %>"
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </orgs-projects-role-settings>
</section>
