<%# erblint:counter DeprecatedComponentsCounter 1 %>
<portal-fragment>
  <%= render Primer::Alpha::Dialog.new(
    title: "Customize recommended templates",
    subtitle: "Choose which templates to recommend to your organization.",
    id: "edit-recommended-memex-projects",
    test_selector: "edit-recommended-memex-projects-dialog",
    size: :large,
  ) do |d| %>
    <%= d.with_body do %>
      <include-fragment class="py-5 text-center" src="<%= settings_org_memex_project_links_path(organization) %>">
        <div data-hide-on-error>
          <%= render Primer::Beta::Spinner.new(aria: { label: "Loading" }) %>
        </div>
        <div data-show-on-error hidden>
          Something went wrong.
          <%= render Primer::ButtonComponent.new("data-retry-button": "", scheme: :link, type: :submit) do %>Retry.<% end %>
        </div>
      </include-fragment>
    <% end %>
  <% end %>
</portal-fragment>
