<%= wrapper do %>
  <%= render Primer::BaseComponent.new(**@system_arguments) do %>
    <%= visual %>

    <%= heading %>
    <%= description %>

    <div class="blankslate-action">
      <%= action %>
    </div>
  <% end %>
<% end %>
