<li <%= test_selector("recommended-memex-project") %> class="css-truncate">
  <% if checked? %>
    <input type="hidden" name="projects_changes[<%= memex_project.number %>]" value="">
  <% end %>
  <input
    type="checkbox" name="projects_changes[<%= memex_project.number %>]"
    value="on"
    aria-labelledby="recommended-memex-project-label-<%= memex_project.number %>"
    id="recommended-memex-project-<%= memex_project.number %>"
    class="pinned-item-checkbox m-2 position-absolute"
    data-action="change:recommended-memex-projects#formModified"
    <%= input_attributes %>>
  <label class="pinned-item-name d-flex flex-items-center pl-5 p-1" for="recommended-memex-project-<%= memex_project.number %>">
    <%= primer_octicon("project-template", mr: 2, classes: "flex-shrink-0", aria: { label: "project template" }) %>
    <span id="recommended-memex-project-label-<%= memex_project.number %>" class="css-truncate-target width-fit flex-auto text-normal" data-filter-item-text>
      <%= memex_project.title %>
    </span>
  </label>
</li>
