<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% @repositories.each do |repository| %>
  <li <% unless first_page? %> hidden <% end %> class="css-truncate d-flex flex-items-center width-full">
    <input
      <%= "form=#{@form_id}" if @form_id.present? %>
      type="checkbox" name="repository_ids[]"
      value="<%= identifier_for(repository) %>"
      id="<%= @aria_id_prefix %>-<%= repository.id %>"
      <%= " checked" if @selected_repositories.include?(identifier_for(repository)) %>
      class="repository-item-checkbox js-repository-item-checkbox mx-2 position-absolute <%= 'js-public-repository' if repository.public? %>"
      data-targets="selected-item-list.items"
      data-action="click:selected-item-list#updateCount">
    <label class="repository-item-name d-flex flex-items-center width-full color-fg-default py-1 pr-1 pl-5"
      for="<%= @aria_id_prefix %>-<%= repository.id %>">
      <strong class="css-truncate-target width-fit flex-auto" data-filter-item-text>
        <%= repository %>
        <%= render(Primer::Beta::Label.new(
          title: "Label: #{visibility_for(repository)}",
          scheme: :secondary,
          vertical_align: :middle,
          ml: 1,
          mb: 1,
          test_selector: "type",
        )) do %>
          <%= visibility_for(repository) %>
        <% end %>
      </strong>
    </label>
  </li>
<% end %>
<% if @show_next_page %>
  <li class="js-more-repository-items-replace-target">
    <button type="button"
      class="js-more-repository-items-button width-full btn-link f6 Link--muted text-left mt-2"
      data-disable-with="Loading more&hellip;"
      data-url="<%= @data_url %>">
      Load more
    </button>
  </li>
<% end %>
