<div id="security-manager-teams-component" class="form-group" data-replace-remote-form-target>
  <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
    <% component.with_heading(tag: :h2, id: ANCHOR) do %>
      Security managers
      <%= render(
        GitHub::BetaFlagComponent.new(
          font_size: 6,
          font_weight: :normal,
          ml: 2,
          mr: 1,
          vertical_align: :middle,
          test_selector: "security-manager-beta-flag",
        )
      ) %>
    <% end %>
  <% end %>
  <p>
    Grant a team permission to manage security alerts and settings across your organization. This team will also be granted read access to all repositories.
    <%= link_to "Learn more about these security privileges", LEARN_MORE_LINK, class: "Link--inTextBlock" %>.
  </p>
  <% if !@can_add_security_managers %>
    <div class="color-fg-muted note" <%= test_selector("security-manager-owner-required") %>>
      <%= primer_octicon(:"shield-lock") %>
      <span>You must be an organization owner to make changes.</span>
    </div>
  <% else %>
    <%= form_tag settings_org_security_analysis_add_security_manager_path(@organization), method: :put do %>
      <auto-complete
        for="security-manager-teams-results"
        src="<%= settings_org_security_analysis_security_manager_suggestions_path(@organization) %>"
        class="auto-search-group d-block d-md-inline-block js-security-manager-team-add-auto-complete">
        <input
          type="text"
          id="search-security-manager-teams"
          class="form-control auto-search-input input-contrast mr-0 js-security-manager-team-add-search"
          placeholder="Search for teams"
          aria-label="Search for teams">
        <%= primer_octicon(:search) %>
        <ul id="security-manager-teams-results" class="autocomplete-results"></ul>
        <input type="hidden" name="team_id" class="js-security-manager-team-add-selected-team">
      </auto-complete>
    <% end %>
  <% end %>

  <% if @visible_security_manager_teams.any? %>
    <%= form_tag settings_org_security_analysis_remove_security_manager_path(@organization),
      method: :put do %>
      <div class="Box mt-2">
        <ul>
          <% @visible_security_manager_teams.each do |team| %>
            <li class="Box-row py-2" <%= test_selector("security-manager-team-" + team.id.to_s) %>>
              <% if @can_remove_security_managers && !team.enterprise_team_managed? %>
                <% if show_osm_v1_dialog?(team) %>
                  <%= render(Primer::Alpha::Dialog.new(title: "Repository read permissions will persist")) do |d| %>
                   <% d.with_show_button(
                      icon: "x",
                      tag: :button,
                      scheme: :invisible,
                      size: :small,
                      color: :muted,
                      "aria-label": "Remove #{team.slug}",
                      float: :right,
                      show_tooltip: false,
                      mt: -1
                    ) %>
                    <% d.with_body do %>
                      <% if GitHub.enterprise? %>
                        <p>As part of granting the security manager role, this team was also granted read access to all repositories in your organization.</p>

                        <p>For teams assigned the role prior to <b>GHES 3.14</b>, read access will remain until you remove the permission from each repository individually. To more quickly remove read access, consider deleting the team.</p>

                        <p>For teams assigned the role in <b>GHES 3.14 and higher</b>, read access will automatically be revoked when the role is removed. Read permissions manually assigned to the team will not be affected by the automatic revocation.</p>
                      <% else %>
                        <p>As part of granting the security manager role, this team was also granted read access to all repositories in your organization. Read access will remain until you remove the permission from each repository individually. To more quickly remove read access, consider deleting the team.</p>

                        <p>Teams granted the security manager role after <b>May 24, 2024</b> will have read access automatically revoked when you remove the role.</p>
                      <% end %>
                    <% end %>
                    <% d.with_footer do %>
                      <%= render(Primer::Beta::Button.new(
                        type: :submit,
                        size: :small,
                        value: team.id,
                        name: "team_id",
                        float: :right,
                        "aria-label": "Remove #{team.slug}",
                        color: :danger,
                        mt: -1
                      )) do %>
                        Revoke security manager team permission
                      <% end %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= render(Primer::Beta::IconButton.new(
                    icon: :x,
                    type: :submit,
                    scheme: :invisible,
                    size: :small,
                    value: team.id,
                    name: "team_id",
                    float: :right,
                    "aria-label": "Remove #{team.slug}",
                    color: :muted,
                    mt: -1
                  )) %>
                <% end %>
              <% end %>
              <%= link_to team_path(team, organization: @organization), class: "Link--primary no-underline" do %>
                <span class="text-bold"><%= team.slug %></span>
              <% end %>
              <% if team.enterprise_team_managed? %>
                <%= render Primer::Beta::Label.new(
                  ml: 2,
                  display: :inline_block,
                  align_self: :center,
                  scheme: :secondary,
                  title: "Team managed by an enterprise",
                  test_selector: "team-enterprise-badge"
                ).with_content("Enterprise") %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
