<%# erblint:counter DeprecatedComponentsCounter 6 %>
<%= render Primer::Beta::Subhead.new(spacious: true, hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2) do %>Terms of Service<% end %>
<% end %>
<div class="Box" id="tos">
  <% if standard_tos? %>
    <div class="Box-row d-flex">
      <%= render(Primer::Beta::Octicon.new(:check, size: :medium, color: :success)) %>
      <div class="ml-2">
        <div class="listgroup-item-title">Standard</div>
        <div class="listgroup-item-body">Best for individuals wanting the freedom to move data and remain independent of a corporation.<br><a class="Link--inTextBlock" target="_blank" rel="noopener" href="<%= site_terms_path %>">Read the Standard Terms of Service</a></div>
      </div>
    </div>
  <% end %>
  <div class="Box-row d-flex">
    <% if corporate_tos? %>
      <%= render(Primer::Beta::Octicon.new(:check, size: :medium, color: :success)) %>
    <% else %>
      <%= render(Primer::Beta::Octicon.new(:dash, size: :medium)) %>
    <% end %>
    <div class="ml-2">
      <div class="listgroup-item-title">Corporate</div>
      <div class="listgroup-item-body">Best for businesses that need to protect their intellectual property and secure visibility into their data.<br><a class="Link--inTextBlock" target="_blank" rel="noopener" href="<%= customer_term_index_path %>">Read the GitHub customer agreement</a></div>
    </div>
    <% if can_sign_corporate_tos? %>
      <div class="d-flex flex-items-center">
        <% if collect_trade_screening_data? %>
          <div class="flex-items-center">
            <%= render(Primer::ButtonComponent.new(tag: :summary, classes: "js-sign-ctos-btn flash-action")) { "Sign GitHub customer terms" } %>
          </div>
        <% else %>
          <details class="details-reset details-overlay details-overlay-dark lh-default color-fg-default flash-action">
            <%= render(Primer::ButtonComponent.new(tag: :summary)) { "Sign GitHub customer terms" } %>
            <details-dialog aria-label="Accept GitHub customer agreement" class="Box Box--overlay d-flex flex-column anim-fade-in fast"><%# erblint:disable A11yDetailsDialogMigration %>
              <div class="Box-header">
                <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
                  <%= primer_octicon(:x) %>
                </button>
                <h3 class="Box-title">Accept GitHub customer agreement</h3>
              </div>
              <%= form_for organization, url: org_tos_path(organization), html: {class: "d-flex flex-column"} do |f| %>
                <div class="Box-body overflow-auto">
                  Do you want to give ownership of your organization to your business?
                  <input name="organization[terms_of_service_type]" type="hidden" value="Corporate">
                  <div class="form-checkbox mt-4 mb-0" aria-live="polite">
                    <input type="checkbox" class="form-checkbox-details-trigger" id="business_owned" name="business_owned">
                    <label for="business_owned">
                      Yes, I want to sign the GitHub customer agreement on behalf of my business.
                    </label>
                    <span class="form-checkbox-details my-3">
                      <strong class="d-block mb-1">What is the name of the business that owns this account?</strong>
                      <input name="organization[company_name]" id="organization[company_name]" type="text" placeholder="e.g, Acme, Inc." class="form-control input-block input-hide-webkit-autofill mb-1 js-company-name-input" aria-label="The name of the company that owns this account" required>
                      <span class="note">This business &mdash; not <strong><%= user.name %></strong> (your user account), will own and/or control any content posted to the organization</span>
                    </span>
                  </div>
                </div>
                <div class="Box-footer color-fg-muted py-3 d-flex flex-items-center">
                  <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, classes: "js-purchase-button", "data-ga-click": "Corporate TOS banner, location:org_dashboard", "data-octo-click": "corporate_tos_banner_submit", "data-octo-dimensions": "location:org_dashboard", "data-disable-invalid": "", "data-disable-with": "Accepting terms&hellip;") do %>
                    Accept terms
                  <% end %>
                  <span class="f6 ml-3 text-left">
                    By clicking &ldquo;Accept terms&rdquo;, you agree to the
                    <a href="<%= customer_term_index_path %>" target="_blank" rel="noopener" class="js-corp-tos-link Link--inTextBlock" aria-hidden="false">GitHub customer agreement</a> and the
                    <a href="<%= site_privacy_path %>" target="_blank" rel="noopener" class="Link--inTextBlock">privacy statement</a><span data-wording="on behalf of" class="js-company-name-text"></span>.
                  </span>
                </div>
              <% end %>
            </details-dialog>
          </details>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="js-tos-name-address-form Box-row d-flex flex-column border-0" hidden>
    <div class="ml-5">
      <p>
        GitHub's customer agreement requires you to transfer the ownership of your organization to your business. Enter your business details below to continue. You can change these at any time by accessing your organization’s billing information.
      </p>
      <% if warn_about_linked_billing_details_removal? %>
        <div class="border-top" <%= test_selector("linked-info-warning-container") %>>
          <%= render(Primer::Beta::Flash.new(scheme: :warning, mt: 3, mb: 3)) do %>
            <h3 class="h5" <%= test_selector("linked-info-warning-title") %>>
              <%= render(Primer::Beta::Octicon.new("alert")) %>
              Your payment details will need updating
            </h3>
            <div class="ml-5" <%= test_selector("linked-info-warning-msg") %>>
              Please note that your existing payment method linked to this organization will be removed. You will have to <a class="Link--inTextBlock" href="<%= payment_method_update_path %>" target="_blank" rel="noopener" aria-hidden="false">update your payment details</a> once the switch to <a class="Link--inTextBlock" href="<%= site_corp_terms_path %>" target="_blank" rel="noopener" aria-hidden="false">Corporate Terms of Service</a> is complete.
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="container-lg">
        <div class="col-8 float-left">
          <%= form_for organization, url: org_tos_path(organization), html: { class: "d-flex flex-column", id: "billing-info=form" } do |f| %>
            <input name="organization[terms_of_service_type]" type="hidden" value="Corporate">
            <%= render Billing::Settings::NameAddressFormInputsComponent.new(
              profile: nil,
              target: organization,
              payment_flow_loaded_from: "TOS_TO_CTOS",
              show_org_fields: true,
            ) %>
            <input name="billing_info_form" type="hidden">
            <div class="form-checkbox" aria-live="polite">
              <input type="checkbox" class="form-checkbox-details-trigger" id="business_owned" name="business_owned" required>
              <span class="f6 text-left">
                I agree to the
                <a class="Link--inTextBlock js-corp-tos-link" href="<%= site_corp_terms_path %>" target="_blank" rel="noopener" aria-hidden="false">Corporate Terms of Service</a> and the
                <a class="Link--inTextBlock" href="<%= site_privacy_path %>" target="_blank" rel="noopener" >privacy statement</a><span data-wording="on behalf of" class="js-company-name-text"></span>.
              </span>
            </div>
            <div class="color-fg-muted py-3 d-flex flex-items-center">
              <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, name: "billing_info_submit_btn", classes: "js-purchase-button", "data-ga-click": "Corporate TOS banner, location:org_dashboard", "data-octo-click": "corporate_tos_banner_submit", "data-octo-dimensions": "location:org_dashboard", "data-disable-invalid": "", "data-disable-with": "Accepting terms&hellip;") do %>
                Accept terms
              <% end %>

              <%= render Primer::ButtonComponent.new(type: :reset, scheme: :default, name: "cancel_tos", classes: "js-cancel-sign-ctos", ml: 3) do %>
                  cancel
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "billing-settings" %>
<% end %>
