<div class="position-relative width-full pt-8 pt-md-9 overflow-hidden js-build-in" data-build-margin-bottom="45">
  <%= render "site/readme/shared/bg_pattern" %>

  <div class="container-readme mx-auto p-responsive-readme">
    <div class="position-relative pt-8 pt-md-9 pb-7 pb-md-12 d-flex flex-column flex-items-center text-center">
      <%= render "site/readme/shared/navbar_hero" %>

      <h1 class="col-10-max mx-auto pt-6 pb-3 pb-md-6 readme-heading-0">
        <%= category.title %>
      </h1>

      <p class="col-10-max mx-auto text-normal lh-default text-uppercase readme-text-gray-dark readme-subheading">
        <%= category.subtitle %>
      </p>

      <% if category.slug == "podcast" %>
        <%= render "site/readme/podcasts/subscribe" %>
      <% end %>
    </div>
  </div>
</div>
