<% page_info \
  title: "#{category.title} · The ReadME Project",
  description: category.meta_text,
  class: "readme-project header-dark",
  richweb: {
    title: "#{category.title} · The ReadME Project",
    url: request.original_url,
    description: category.meta_text,
    image: category_meta_image_path(category.slug)
  }
%>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= render "site/readme/shared/structured_data", url: readme_url(category.slug), name: category.title %>
<% end %>

<% content_for :head do %>
  <% if category.slug == "podcast" %>
    <link rel="alternate" type="application/rss+xml" href="https://feeds.simplecast.com/ioCY0vfY">
  <% end %>
<% end %>

<div class="js-details-container">
  <%= render "site/readme/categories/hero", category: category %>

  <div class="js-build-in" data-build-margin-bottom="75">
    <div aria-hidden="true">
    <%# We want to disable keyboard tabbing by setting `remove_keyboard_focus` since this page renders two of the same navigation bars. This will prevent the user from tabbing through the navigation bar twice. %>
      <%= render "site/readme/shared/navbar_dropdown", remove_keyboard_focus: true %>
    </div>

    <%= render Site::Readme::Shared::NavComponent.new(force_cache_miss: force_readme_cache_miss?) %>

    <%= render Site::Readme::Categories::LatestStoryComponent.new(for_readme_staff: readme_staff?, story_klass: story_class, force_cache_miss: force_readme_cache_miss?) %>

    <%= render "site/readme/categories/about", category: category %>

    <%= render Site::Readme::Categories::StoriesGridComponent.new(for_readme_staff: readme_staff?, story_klass: story_class, force_cache_miss: force_readme_cache_miss?) %>
  </div>

  <%= render "site/readme/shared/about" %>
</div>
