<%= render(Primer::Alpha::Dialog.new(
  id: dialog_id,
  title: "Convert to member",
)) do |dialog| %>
  <%= form_tag enterprise_admin_path(business, admin.display_login), method: :delete do %>
    <%= render(Primer::Alpha::Dialog::Body.new) do %>
      <div <%= test_selector "convert-to-member-dialog-#{admin.id}" %>>
        <p>
          Are you sure that you want to convert
          <%= (admin.display_login == current_user.display_login) ? "yourself" : admin.display_login %>
          to a member?
        </p>
        <% unless GitHub.single_business_environment? %>
          <p class="color-fg-danger">
            Note: If the user you are trying to remove from the enterprise does not belong
            to any organizations in this enterprise, this user will be removed from the
            enterprise altogether.
          </p>
        <% end %>
      </div>
    <% end %>
    <%= render(Primer::Alpha::Dialog::Footer.new) do %>
      <%= render(Primer::Beta::Button.new(
        data: { "close-dialog-id": dialog_id }
      )) { "Cancel" } %>
      <%= render(Primer::Beta::Button.new(
        type: :submit,
        scheme: :danger,
        "data-disable-with": "",
      )) do %>
        Yes, convert <%= (admin.display_login == current_user.display_login) ? "myself" : admin.display_login %> to member
      <% end %>
    <% end %>
  <% end %>
<% end %>
