<% view = Businesses::Admins::IndexView.new(query: query) %>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to enterprise_admins_path(business), class: "issues-reset-query" do %>
      <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex table-list-header table-list-header-next">
  <span data-autosearch-results class="table-list-heading table-list-header-meta flex-auto">
    <%= number_with_delimiter admins_count %>
    <%= pluralize_without_number admins_count, view.role.nil? ? "administrator" : Business.admin_role_for(view.role).downcase %>
    <%= view.organizations&.any? ? " with membership in #{view.organizations.join(' or ')} " : "" %>
    in <%= business.name %>
    <% if GitHub.site_admin_role_managed_externally? %>
      <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Administrators are managed in #{GitHub.auth.name}") do %>
        <%= GitHub.auth.name %>
      <% end %>
    <% end %>
  </span>
</div>
