<%# `view` is an instance of Businesses::Admins::ListView %>

<%= render "businesses/admins/header", business: this_business,
                                       admins_count: view.admins_count,
                                       role: role,
                                       query: query %>

<% if view.admins.any? %>
  <ul>
    <% view.admin_infos.each do |admin_info| %>
      <%= render "businesses/admins/admin",
        business: this_business,
        admin: admin_info[:user],
        role: admin_info[:role],
        user_link: view.member_link(admin_info)
      %>
    <% end %>
  </ul>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate view.admins %>
  </div>
<% elsif query.present? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>

    <% c.with_heading(tag: :h2) do %>
      No administrators
    <% end %>

    <% c.with_description do %>
      <%= "There aren’t any administrators in this enterprise matching '#{query}'." %>
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "person") %>

    <% c.with_heading(tag: :h2) do %>
      No administrators
    <% end %>

    <% c.with_description do %>
      No administrators in this enterprise.
    <% end %>
  <% end %>
<% end %>
