<% invitee = pending_invite.invitee %>

<% status = capture do %>
  <% role_label = pending_invite.role == Business::OWNER_ROLE.to_s ? "Enterprise owner" : Business.admin_role_for(pending_invite.role) %>
  <div class="d-flex color-fg-muted flex-items-center hide-sm">
    <span class="ml-3 mr-3 hide-sm" style="width: 125px"> <%= role_label %> </span>
    <span class="hide-md" style="width: 200px"> <%= render(Primer::Beta::Octicon.new(:"calendar")) %> Invited on <%= pending_invite.updated_at.strftime("%b %-d, %Y") %> </span>
    <span class="css-truncate css-truncate-target expandable mr-2 hide-md" style="width: 120px">
      by <%= render(Primer::Beta::Link.new(href: urls.user_path(pending_invite.inviter), scheme: :primary, classes: "Link--inTextBlock")) { pending_invite.inviter.display_login } %>
    </span>

    <%= render(Primer::Alpha::ActionMenu.new) do |menu| %>
      <% menu.with_show_button(
        icon: :"kebab-horizontal",
        "aria-label": "Pending administrator menu"
      ) %>
      <% menu.with_item(
        label: "Cancel invitation",
        scheme: :danger,
        tag: :button,
        content_arguments: { "data-show-dialog-id": "cancel-invitation-#{pending_invite.id}" },
        value: "",
      ) %>
    <% end %>

    <%= render(Primer::Alpha::Dialog.new(
      id: "cancel-invitation-#{pending_invite.id}",
      title: "Cancel invitation"
    )) do |d| %>
      <%= render(Primer::Alpha::Dialog::Body.new) do %>
        Are you sure you want to cancel the invitation for
        <strong><%= pending_invite.email_or_invitee_login %></strong>
        to become <%= pending_invite.role_for_message %>
        of <strong><%= business.name %></strong>?
      <% end %>
      <%= render(Primer::Alpha::Dialog::Footer.new) do %>
        <%= form_tag enterprise_admin_invitation_path(business, pending_invite.id), method: :delete do %>
          <%= render(Primer::Beta::Button.new(
            type: :button,
            data: {
              "close-dialog-id": "cancel-invitation-#{pending_invite.id}"
            }
          )) { "Cancel" } %>
          <%= render(Primer::Beta::Button.new(
            scheme: :danger,
            type: :submit,
            data: {
              "disable-with": ""
            }
          )) { "Yes, cancel the invitation" } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if invitee.present? %>
  <%= render Businesses::UserListCardComponent.new(
    user: invitee,
    user_link: enterprise_pending_admin_path(business, invitee),
    user_link_data_options: hovercard_data_attributes_for_user(invitee),
    primary_name: invitee.safe_profile_name,
    subtitle: invitee.profile_name.present? ? invitee.display_login : nil,
    display_login: invitee.display_login,
    spammy: invitee.spammy?,
    bulk_id: pending_invite.id,
    bulk_action_enabled: true,
    bulk_attribute: "invitation_ids"
  ) do %>
    <%= status %>
  <% end %>
<% else %>
  <%= render Businesses::UserListCardComponent.new(
    octicon: "mail",
    primary_name: pending_invite.email,
    bulk_id: pending_invite.id,
    bulk_action_enabled: true,
    bulk_attribute: "invitation_ids"
  ) do %>
    <%= status %>
  <% end %>
<% end %>
