<%= render(Primer::Alpha::Dialog.new(
  id: dialog_id,
  title: "Remove user from enterprise",
  size: :large,
)) do |dialog| %>
  <%= render(Primer::Alpha::Dialog::Body.new) do %>
    <%# Users managed on GHES who are not part of orgs on GHEC will not have a user account %>
    <% if user.blank? %>
      <p>
        This is an Enterprise Server member and cannot be removed with this feature.<br>
        <%= link_to \
          "See the documentation",
          "#{GitHub.help_url(ghec_exclusive: true)}/admin/user-management/managing-users-in-your-enterprise/removing-a-member-from-your-enterprise",
          class: "Link--inTextBlock" %>
        for more information.
      </p>
    <% else %>
      <p>
        Are you sure that you want to remove
        <%= (user.display_login == current_user.display_login) ? "yourself" : user.display_login %>
        from the enterprise?
      </p>

      <p>
        Removing a user from the enterprise and its organizations may take some time depending
        on the number of organizations and the amount of user activity.
      </p>

      <p class="text-bold">
        Important considerations:
      </p>

      <ul class="ml-3">
        <li>
          If the user is the last owner of an organization, you'll be added as an owner of that
          organization to allow them to be removed.
        </li>
        <li>
          Users managed via enterprise managed-users (EMU) are unable to be removed.
        </li>
        <li>
          If the user was provisioned via an external identity provider, manual removal without
          addressing the user via the external identity provider may lead to unpredictable results.
        </li>
      </ul>
    <% end %>
  <% end %>

  <% if user.present? %>
    <%= form_tag people_destroy_enterprise_path(business_slug, user.display_login), method: :delete do %>
      <%= render(Primer::Alpha::Dialog::Footer.new) do %>
        <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": dialog_id })) { "Cancel" } %>
        <%= render(Primer::Beta::Button.new(
          type: :submit,
          scheme: :danger,
          "data-disable-with": "",
        )) do %>
          Yes, remove <%= (user.display_login == current_user.display_login) ? "myself" : user.display_login %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
