<% role ||= nil %>
<% admin_id ||= "" %>
<div class="form-group text-left">
  <div class="form-checkbox">
    <label>
      <input name="role"
             type="radio"
             value="<%= Business::OWNER_ROLE %>"
             <%= "checked" if role == Business::OWNER_ROLE %>
             required
             aria-labelledby="owner-description-<%= admin_id %>"
      >
      <%= Business.admin_role_for(Business::OWNER_ROLE) %>
    </label>
    <p class="note" id="owner-description-<%= admin_id %>">
      Has full administrative rights to the enterprise but not to organizations.
    </p>
  </div>
  <div class="form-checkbox">
    <label>
      <input
        name="role"
        type="radio"
        value="<%= Business::BILLING_MANAGER_ROLE %>"
        <%= "checked" if role == Business::BILLING_MANAGER_ROLE %>
        required
        aria-labelledby="billing-manager-description-<%= admin_id %>"
      >
      <%= Business.admin_role_for(Business::BILLING_MANAGER_ROLE) %>
    </label>
    <p class="note" id="billing-manager-description-<%= admin_id %>">
      Can only view and manage billing.
    </p>
  </div>
</div>
