<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% view = Businesses::Admins::IndexView.new(query: query) %>

<details class="details-reset details-overlay select-menu mr-2" <%= test_selector("roles-filter") %>>
  <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
    Role
  <% end %>
  <details-menu class="select-menu-modal position-absolute mr-n2" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by role</span>
    </div>
    <div class="select-menu-list">
      <a href="<%= enterprise_admins_path(this_business, query: view.apply_query_filters(role: nil)) %>"
          class="select-menu-item" aria-checked="<%= view.role.nil? %>" role="menuitemradio">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <span class="select-menu-item-text">Everyone</span>
      </a>
      <% Business::ADMIN_ROLES.each do |role| %>
        <a href="<%= enterprise_admins_path(this_business, query: view.apply_query_filters(role: role)) %>"
          class="select-menu-item" aria-checked="<%= view.role == role.to_s %>" role="menuitemradio">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <div class="select-menu-item-text">
            <%= Business.admin_role_for(role).pluralize %>
          </div>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>
