<%# `view` is an instance of Businesses::Admins::SuggestionsView %>

<% if view.suggestions? %>
  <% view.suggested_admins.each do |user, suggested_admin| %>
    <li class="member-suggestion typeahead-result <%= "disabled" unless suggested_admin.item_enabled? %>"
        <% if !suggested_admin.item_enabled? %>aria-disabled="true"<% end %>
        role="option"
        data-autocomplete-value="<%= user.display_login %>">

      <%= avatar_for user, 24, class: "avatar" %>
      <p class="member-suggestion-info">
        <strong class="member-login"><%= user.display_login %></strong>
        <span class="member-name">
          <%= user.profile_name %>
        </span>
      </p>

      <% unless suggested_admin.invitable? %>
        <p class="non-member-note text-small color-fg-muted"><%= suggested_admin.uninvitable_reason_text %></p>
        <p class="non-member-action text-small color-fg-muted"><%= suggested_admin.uninvitable_reason_text %></p>
      <% end %>

      <% if view.email_match?(user) %>
        <p class="member-email text-small color-fg-muted"><%= view.query %></p>
      <% end %>

      <% if suggested_admin.invitable? %>
        <%= primer_octicon(:plus, float: :right) %>
      <% elsif suggested_admin.user_is_business_admin? %>
        <%= primer_octicon(:check, float: :right) %>
      <% end %>
    </li>
  <% end %>
<% elsif view.allow_email_invites? && view.email_invitation? %>
  <li class="member-suggestion email-suggestion typeahead-result"
      data-autocomplete-value="<%= view.query %>"
      role="option">
    <%= primer_octicon(:mail, mt: 1, float: :left, mr: 1) %>
    <p class="member-suggestion-info">
      <strong class="member-login"><%= view.query %></strong>
      <span class="member-name">invite to <%= view.business.name %></span>
    </p>
    <%= primer_octicon(:plus, float: :right) %>
  </li>
<% elsif view.email_query? %>
  <li class="non-member-result disabled typeahead-result"
      data-autocomplete-value="<%= view.query %>"
      role="option"
      aria-disabled="true">
    <%= view.query %> doesn’t have a GitHub account
  </li>
<% elsif view.user_query? %>
  <li class="non-member-result disabled typeahead-result"
      data-autocomplete-value="<%= view.query %>"
      role="option"
      aria-disabled="true">
    <%= view.query %> isn’t a GitHub member
  </li>
<% end %>
