<% view = Businesses::Admins::IndexView.new(query: query) %>

<% page_info title: "Administrators · #{this_business.name}",
   stafftools: stafftools_enterprise_path(this_business),
   selected_link: :business_admins %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Administrators"
  } do %>
  <%= render Accounts::LastOwnerBannerComponent.new(account: this_business, current_user: current_user) %>
  <% invite_admin_task = OnboardingTasks::Businesses::InviteAdmin.new(taskable: this_business, user: current_user) %>
  <%= render(Businesses::TipComponent.new(
    business: this_business,
    show_tip: params[:show_onboarding_guide_tip].present?,
    task: invite_admin_task,
    container_class: "mt-4 mb-4"
    )) do %>
    <h3 class="mb-1">Invite your owners</h3>

    <div class="color-fg-muted">
      <p>
        You can invite people to help administer your enterprise by clicking "Invite admin", and then entering their GitHub username, full name, or email address. You’ll then be able to set their role and permissions.
      </p>

      <p class="mb-0">
        <a
          href="https://docs.github.com/enterprise-cloud@latest/admin/user-management/managing-users-in-your-enterprise/inviting-people-to-manage-your-enterprise"
          target="_blank"
        >
          <%= render(Primer::Beta::Octicon.new(:file, mr: 1)) %>
          Inviting people to manage your enterprise
        </a>
        <a
          class="ml-2"
          href="https://docs.github.com/enterprise-cloud@latest/admin/user-management/managing-users-in-your-enterprise/roles-in-an-enterprise"
          target="_blank"
        >
          <%= render(Primer::Beta::Octicon.new(:file, mr: 1)) %>
          About roles in an enterprise
        </a>
      </p>
    </div>
  <% end %>
  <%= render(Businesses::CompletedGuidanceComponent.new(
    business: this_business,
    completed_task: invite_admin_task,
    show_tip: params[:show_onboarding_guide_tip].present?,
    container_class: "mt-4 mb-4"
  )) %>

  <%= render(Businesses::EmuFirstAdminMembersBlankslateComponent.new(
    page: :admins,
    count: admins.size,
  )) %>

  <div class="d-flex flex-items-center flex-justify-between flex-row mb-3 flex-wrap" style="gap: 12px;">
    <div class="d-flex flex-column-reverse" style="flex-grow:3;min-width:40%">
      <%= form_tag enterprise_admins_path(this_business),
        method: :get,
        "data-autosearch-results-container": "business-admins-list" do %>
          <div class="auto-search-group">
            <input type="hidden" name="role" value="<%= role %>">
            <input class="form-control width-full input-contrast auto-search-input js-member-filter-field"
              type="text"
              name="query"
              value="<%= query %>"
              placeholder="Find an administrator…"
              aria-label="Find an administrator…"
              autocomplete="off"
              data-throttled-autosubmit>
            <%= render Primer::Beta::Octicon.new(icon: "search") %>
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
          </div>
      <% end %>
    </div>

    <div class="flex-justify-center d-flex flex-grow-0 flex-wrap" style="gap: 8px 0px;" >
        <% unless GitHub.single_business_environment? %>
          <%= render "businesses/admins/role_filter_menu", query: query %>
        <% end %>
        <%= render "businesses/admins/org_filter_menu", query: query %>
        <%= render "businesses/admins/two_factor_filter_menu", query: query %>
      <% unless this_business.enterprise_managed_user_enabled? %>
        <div class="d-flex" <%= test_selector("admin-invite-button-enabled") %>>
          <%= render "businesses/admins/add_admin", business: this_business %>
        </div>
      <% end %>
    </div>
  </div>

  <div id="business-admins-list" class="js-repo-access-group" data-hpc>
    <%= render partial: "businesses/admins/list", locals: {
      query: query,
      role: role,
      view: create_view_model(Businesses::Admins::ListView, business: this_business, admins: admins),
    } %>
  </div>
<% end %>
