<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_body(p: 0) do %>
    <%= render(Billing::Settings::Actions::ActionsUsageComponent.new(
      account: view.business,
      spending_limit_enabled: view.spending_limit_enabled?,
      spending_limit_path: view.spending_limit_path)) %>
  <% end %>
<% end %>

<%= render(Billing::Settings::UsageHeaderComponent.new(headers: ["Organization", "Private Repos Usage"])) %>

<% if view.organizations_actions_usage.length.zero? %>
  <p class="py-4 color-fg-muted f5 border-bottom">No minutes spent by any organization yet</p>
<% else %>
  <% view.organizations_actions_usage.each do |action_usage| %>
    <div class="d-flex py-3 border-bottom flex-items-center">
      <div class="col-6 d-flex flex-items-center">
        <div class="pr-3">
          <%= avatar_for(action_usage.organization) %>
        </div>
        <strong>
          <% if action_usage.organization.adminable_by?(current_user) %>
            <%= link_to action_usage.organization.name, settings_org_billing_path(action_usage.organization) %>
          <% else %>
            <%= action_usage.organization.name %>
          <% end %>
        </strong>
      </div>
      <div class="col-3">
        <strong><%= number_with_delimiter(action_usage.total_standard_runners_minutes_used.floor) %> min</strong>
      </div>
    </div>
    <% end %>

    <% if view.number_of_organizations_without_actions_usage > 0 %>
      <span class="f5 color-fg-muted pt-2 d-block">
        +<%= pluralize(view.number_of_organizations_without_actions_usage, "organization") %> not using GitHub Actions. Showing total included and paid minutes.
      </span>
  <% end %>
<% end %>
