<% if num_user_users_without_ghas > 0 %>
  <span class="f5 color-fg-muted pt-2" <%= test_selector("users-not-showing")%>>
    <%= pluralize(num_user_users_without_ghas, "user") %> not using licenses (not showing)
  </span>
<% end %>

<%= render(Billing::Settings::UsageHeaderComponent.new(headers: ["User Namespace", "Active Committers", "Unique Committers", ""])) %>

<% if users.length.zero? %>
  <p class="py-4 color-fg-muted f5 border-bottom">No user repositories using GitHub Advanced Security yet</p>
<% else %>
  <% users.each do |user| %>
    <div class="d-flex py-3 border-bottom flex-items-center">
      <div class="col-6 d-flex flex-items-center">
        <div class="pr-3">
          <%= avatar_for(user[:user]) %>
        </div>
        <strong>
          <%= user[:user].display_login %>
        </strong>
      </div>
      <div class="col-2">
        <%= user[:committer_count] %>
      </div>
      <div class="col-2">
        <%= user[:unique_committer_count] %>
      </div>
      <div class="col-2 text-center">
        <%= render(Primer::Beta::Link.new(
          muted: true,
          href: user_download_active_committers_path(user[:user].display_login),
          id: "csv-download-#{user[:user]}"
          )) do |l| %>
            <% l.with_tooltip(text: "Download CSV report") %>
            <%= render(Primer::Beta::Octicon.new(icon: "download", aria: { label: "Download CSV" })) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="d-flex flex-justify-between flex-items-center">
    <div <%= test_selector("page-number-info") %> class="pt-3 color-fg-muted" data-hide-when-paging>
      <%= first_user_index %>-<%= last_user_index %> of <%= pluralize(total_users_count, "user") %>
    </div>

    <% unless hide_pagination %>
      <div class="paginate-container pt-3 text-right">
        <%= will_paginate users, class: "pagination js-advanced-security-entities-pagination", renderer: link_renderer %>
        <p class="text-center mt-2">
          <%= render(Primer::Beta::Spinner.new("aria-label": "Loading...", hidden: true, size: :small, "data-pager-loading": "")) %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
