<% if num_orgs_without_ghas > 0 %>
  <span class="f5 color-fg-muted pt-2" <%= test_selector("orgs-not-showing")%>>
    <%= pluralize(num_orgs_without_ghas, "organization") %> not using licenses (not showing)
  </span>
<% end %>

<%= render(Billing::Settings::UsageHeaderComponent.new(headers: ["Organization", "Active Committers", "Unique Committers", ""])) %>

<% if orgs.length.zero? %>
  <p class="py-4 color-fg-muted f5 border-bottom">No organizations using GitHub Advanced Security yet</p>
<% else %>
  <% orgs.each do |org_item| %>
    <div class="d-flex py-3 border-bottom flex-items-center">
      <div class="col-6 d-flex flex-items-center">
        <div class="pr-3">
          <%= avatar_for(org_item[:organization]) %>
        </div>
        <strong>
          <% if org_item[:organization].adminable_by?(current_user) %>
            <%= link_to org_item[:organization].display_login, settings_org_security_analysis_path(org_item[:organization], anchor: "ghas-repo-list") %>
          <% else %>
            <%= org_item[:organization].display_login %>
          <% end %>
        </strong>
      </div>
      <div class="col-2">
        <%= org_item[:committer_count] %>
      </div>
      <div class="col-2">
        <%= org_item[:unique_committer_count] %>
      </div>
      <div class="col-2 text-center">
        <%= render(Primer::Beta::Link.new(
          muted: true,
          href: org_download_active_committers_path(org_item[:organization]),
          id: "csv-download-#{org_item[:organization]}"
          )) do |l| %>
            <% l.with_tooltip(text: "Download CSV report") %>
            <%= render(Primer::Beta::Octicon.new(icon: "download", aria: { label: "Download CSV" })) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="d-flex flex-justify-between flex-items-center">
    <div <%= test_selector("page-number-info") %> class="pt-3 color-fg-muted" data-hide-when-paging>
      <%= first_org_index %>-<%= last_org_index %> of <%= pluralize(total_orgs_count, "organization") %>
    </div>

    <% unless hide_pagination %>
      <div class="paginate-container pt-3 text-right">
        <%= will_paginate orgs, class: "pagination js-advanced-security-entities-pagination", renderer: link_renderer %>
        <p class="text-center mt-2">
          <%= render(Primer::Beta::Spinner.new("aria-label": "Loading...", hidden: true, size: :small, "data-pager-loading": "")) %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
