<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="mt-6" <%= test_selector "azure_subscription_payment_information" %>>
  <% unless this_business.billed_via_billing_platform? %>
    <h2 class="mb-2">Payment Information</h2>
  <% end %>
  <p>Manage billing for this account through Microsoft Azure. To enable usage beyond included allotments and manage <%= view.show_budgets_tab? ? "budgets" : "spending limits" %>, an Azure Subscription ID must be added to your account. <%= link_to "Learn more about Azure subscriptions", "https://docs.github.com/github/setting-up-and-managing-billing-and-payments-on-github/connecting-an-azure-subscription-to-your-enterprise", class: "Link--inTextBlock" %></p>

  <% if view.has_azure_token? %>
      <azure-subscription-dialog-trigger
        anchor-name="open_dialog"
        src="<%= billing_settings_azure_subscriptions_path(view.business, :selected_tenant_id => params[:selected_tenant_id]) %>">
      </azure-subscription-dialog-trigger>

      <azure-subscription-dialog-trigger
        anchor-name="open_tenant_dialog"
        src="<%= billing_settings_azure_tenants_path(view.business) %>">
      </azure-subscription-dialog-trigger>
  <% end %>

  <% if !view.linked_azure_subscription %>
    <%= link_to "Add Azure Subscription", view.azure_subscription_uri.to_s, class: "btn btn-primary mt-2" %>

  <% else %>
    <div class="Box mt-5">
      <div class="Box-header">
        <h3 class="Box-title color-fg-muted">
          Azure subscription
        </h3>
      </div>
      <div class="Box-body">
        <div class="d-flex flex-justify-between">
          <div class="d-flex flex-column flex-justify-center">
            <span class="text-bold text-small"><%= view.linked_azure_subscription_name %></span>
            <span class="text-small color-fg-muted" <%= test_selector "azure_subscription_id" %>><%= view.linked_azure_subscription %></span>
          </div>
          <div>
            <%= link_to view.azure_subscription_uri.to_s, class: "btn btn-sm btn-octicon", aria: { label: "Edit Azure Subscription" } do %>
              <%= render(Primer::Beta::Octicon.new(icon: "pencil", color: :default)) %>
            <% end %>
            <%= render layout: "shared/details_dialog", locals: {
              dialog_class: "Box-overlay--wide",
              button_text: "",
              title: "Confirm removing subscription",
              button_icon: "trash",
              button_icon_class: "color-fg-default",
              button_class: "btn btn-sm btn-octicon",
              button_aria_label: "delete azure subscription"
            } do %>
              <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
                <%= render(Primer::Alpha::Banner.new(scheme: view.azure_subscription_removal_scheme, full: true)) do %>
                  <span class="color-fg-default">
                    <%= view.azure_subscription_removal_message %>
                  </span>
                <% end %>
              <% else %>
                <%= render(Primer::Beta::Flash.new(scheme: view.azure_subscription_removal_scheme, full: true)) do %>
                  <span class="color-fg-default">
                    <%= view.azure_subscription_removal_message %>
                  </span>
                <% end %>
              <% end %>
              <div class="Box-body overflow-auto border-bottom-0">
                <h4 class="mb-2">Removing Azure subscription</h4>
                <div class="d-flex flex-column flex-justify-center">
                  <span class="text-bold text-small"><%= view.linked_azure_subscription_name %></span>
                  <span class="text-small color-fg-muted"><%= view.linked_azure_subscription %></span>
                </div>
              </div>
              <%= form_tag billing_settings_selected_azure_subscription_path, method: :delete do %>
                <div class="Box-footer border-top-0">
                  <%= render Primer::Beta::Button.new(
                    type: :submit, block: true, scheme: :danger,
                    disabled: view.prevent_azure_subscription_removal?) do %>Remove<% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
