<%# erblint:counter DeprecatedComponentsCounter 7 %>
<div class="Box mb-4 mt-4">
  <div class="Box-header d-flex flex-items-center">
    <div class="Box-title flex-auto ml-1 pl-2">
    <div>Email recipients</div>
    </div>
    <div class="d-flex flex-justify-end">
      <%= form_tag enterprise_billing_emails_path(business), method: :post do %>
        <%= render(GitHub::DialogComponent.new(title: "Add billing recipient")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
          <% dialog.with_summary do %>
            <%= render Primer::ButtonComponent.new(tag: :summary, type: :button, size: :small) do %>
              Add
            <% end %>
          <% end %>
          <% dialog.with_body do %>
            <input
              type="text"
              name="billing_external_email"
              aria-label="Add billing recipient email"
              class="form-control input-block input-contrast auto-search-input new-member-field"
              autofocus
              required
              placeholder="Add billing recipient email">
          <% end %>
          <% dialog.with_footer do %>
            <%= render Primer::ButtonComponent.new(type: :submit, block: true, "data-disable-with": "Add") do %>
              Add
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if business.billing_email.present? || business.billing_external_emails.any? %>
    <% if business.billing_email.present? %>
      <div>
        <div class="Box-row flex-items-center d-flex color-fg-muted">
          <div class="d-flex my-1">
            <%= primer_octicon(:person, size: :medium, color: :default) %>
          </div>
          <div class="ml-4 d-flex flex-1">
            <%= business.billing_email %>
            <%= render Primer::Beta::Label.new(scheme: :secondary, ml: 4, title: "Label: Primary") do %>
              Primary
            <% end %>
          </div>
            <div class="d-flex flex-justify-end">
              <%= render layout: "shared/details_dialog", locals: {
                button_class: "btn btn-sm",
                button_text: "Edit",
                title: "Edit billing email address"} do %>
                <%= form_for business, url: update_primary_enterprise_billing_emails_path(business), method: :put do |f| %>
                  <div class="Box-body">
                    <dl class="form-group mt-0">
                      <% label_html = content_tag(:small, "Billing email (primary)") %>
                      <dt><%= f.label :billing_email, label_html %></dt>
                      <dd><%= f.text_field :billing_email, autofocus: true %></dd>
                    </dl>
                  </div>
                  <div class="Box-footer">
                    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, block: true, "data-disable-with": "Update") do %>Update<% end %>
                  </div>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% business.billing_external_emails.each do |line| %>
      <div class="Box-row flex-items-center d-flex color-fg-muted">
        <div class="d-flex my-1">
          <%= primer_octicon(:person, size: :medium, color: :default) %>
        </div>
        <div class="ml-4 d-flex flex-1">
          <%= line.email %>
        </div>

        <details class="details-reset details-overlay dropdown">
          <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button") do %>
            Edit
          <% end %>
          <details-menu class="dropdown-menu dropdown-menu-sw" style="width: 230px;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <%= form_tag mark_primary_enterprise_billing_emails_path(business, line.id), :method => :put do %>
              <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, "role": "menuitem", classes: "dropdown-item") do %>
                Mark as primary
              <% end %>
            <% end %>
            <%= form_tag enterprise_billing_email_path(business, line.id), :method => :delete do %>
              <%= render(GitHub::DialogComponent.new(title: "Remove email recipient")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
                <% dialog.with_summary do %>
                  <summary class="dropdown-item" role="menuitem">Remove</summary>
                <% end %>
                <% dialog.with_body do %>
                  <strong>Are you sure you want to remove (<%= line.email %>) from the billing recipients?</strong>
                <% end %>
                <% dialog.with_footer do %>
                  <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true, "data-disable-with": "Remove") do %>Remove<% end %>
                <% end %>
              <% end %>
            <% end %>
          </details-menu>
        </details>
      </div>
    <% end %>
  <% else %>
    <%= render Primer::BlankslateComponent.new(title: "No email recipients.") %>
  <% end %>
</div>
