<% show_form ||= false %>
<div class="js-billing-settings-billing-invoice-preference-form-container" <%= "hidden" unless show_form %>>
  <div <%= test_selector("self-serve-invoice-information") %>>
    <div>
      <%= form_tag business_self_serve_invoicing_path(business), class: "js-setting-toggle d-flex flex-items-center", method: :put do %>
        <div>
          <div class="d-flex flex-items-center form-checkbox m-0 mt-3">
            <input type="checkbox" id="send_invoice_with_receipt" name="send_invoice_with_receipt" value="true" class="mr-2" <%= business.self_serve_invoice_enabled? ? 'checked' : '' %>>
            <label class="text-bold" for="send_invoice_with_receipt">
              Automatically receive an invoice alongside the payment receipt
            </label>
          </div>
          <div class="mt-2">
            <p class="text-small color-fg-muted">
              * Enables invoices for all NEW payments. Invoices are not available for transactions processed before setting is enabled.
            </p>
          </div>
          <div class="col-lg-12 mt-4">
            <%= render Primer::Beta::Button.new(
              scheme: :primary,
              block: true,
              "data-disable-with": "Saving invoice preference",
              type: :submit,
            ).with_content("Save invoice preference") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
