<span class="text-small color-fg-muted">
  <%= render(Primer::Beta::Octicon.new(icon: "credit-card", color: :muted)) %>
  <% if payment_method&.credit_card? %>
    <span class="mr-2">
      <%= payment_method.card_type %> •••• <%= payment_method.last_four %>
    </span>
    <%= render(Primer::Beta::Link.new(href: settings_billing_tab_enterprise_path(business, :payment_information, anchor: "payment-method"))) { "Edit Payment" } %>
  <% elsif payment_method&.paypal? %>
    <span class="mr-2">
      PayPal
    </span>
    <%= render(Primer::Beta::Link.new(href: settings_billing_tab_enterprise_path(business, :payment_information, anchor: "payment-method"))) { "Edit Payment" } %>
  <% else %>
    <%= render(Primer::Beta::Link.new(href: settings_billing_tab_enterprise_path(business, :payment_information, anchor: "payment-method"))) { "Set up payment" } %>
  <% end %>
</span>
