  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% component.with_body(p: 0) do %>
      <%= render(Billing::Settings::Packages::PackagesUsageComponent.new(
        account: view.business,
        spending_limit_enabled: view.spending_limit_enabled?,
        spending_limit_path: view.spending_limit_path)) %>
    <% end %>
  <% end %>

<%= render(Billing::Settings::UsageHeaderComponent.new(headers: ["Organization", "Data transfer out usage"])) %>

<% if view.organizations_packages_usage.length.zero? %>
  <p class="py-4 color-fg-muted f5 border-bottom">No packages downloaded by any organization yet</p>
<% else %>
  <% view.organizations_packages_usage.each do |package_usage| %>
    <div class="d-flex py-3 border-bottom flex-items-center">
      <div class="col-6 d-flex flex-items-center">
        <div class="pr-3">
          <%= avatar_for(package_usage.organization) %>
        </div>
        <strong>
          <% if package_usage.organization.adminable_by?(current_user) %>
            <%= link_to package_usage.organization.name, settings_org_billing_path(package_usage.organization) %>
          <% else %>
            <%= package_usage.organization.name %>
          <% end %>
        </strong>
      </div>
      <div class="col-3">
        <strong><%= number_with_precision(package_usage.gigabytes_used, precision: 1, strip_insignificant_zeros: true, delimiter: ",") %>GB</strong>
      </div>
    </div>
  <% end %>

  <% if view.number_of_organizations_without_packages_usage > 0 %>
    <span class="f5 color-fg-muted pt-2 d-block">
      +<%= pluralize(view.number_of_organizations_without_packages_usage, "organization") %> not using GitHub Packages. Showing total included data transfer out.
    </span>
  <% end %>
<% end %>
