<div class="color-bg-subtle color-shadow-small p-3 rounded" style="height: 100%">
  <label class="text-normal color-fg-muted">
    Payment information &rarr;
  </label>
  <div class="my-2">
    <%= link_to \
      "Update payment method",
      settings_billing_tab_enterprise_path(this_business, :payment_information, anchor: "payment-method"),
      class: "text-normal" %>
  </div>
  <% unless this_business.trial? %>
    <% unless this_business.pending_cycle.changing_duration? %>
      <div class="my-2" <%= test_selector "plan-duration-change-links" %>>
        <% if this_business.monthly_plan? %>
          <%= link_to "Switch to yearly billing and save", billing_settings_upgrade_enterprise_path(this_business, plan_duration: :year) %>
        <% else %>
          <%= link_to "Switch to monthly billing", billing_settings_upgrade_enterprise_path(this_business, plan_duration: :month) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="my-2">
    <% unless this_business.trial? %>
      <%= link_to "Switch to invoice", ent_contact_url %>
    <% end %>
  </div>
  <div class="my-2">
    <% if can_manage_seats?(this_business) %>
      <%= render(Primer::Beta::Link.new(
        href: enterprise_licensing_path(this_business, manage_seats: true),
        test_selector: "manage-seats-link"
      )) { "Manage seats" } %>
    <% end %>
  </div>
  <div class="my-2">
    <% if this_business.has_self_serve_advanced_security? %>
      <%= render(Primer::Beta::Link.new(
        href: enterprise_licensing_path(this_business, manage_committers: true),
        test_selector: "manage-committers-link"
      )) { "Manage committers" } %>
    <% end %>
  </div>
</div>
