<% show_form ||= !!flash[:address_validation_error] %>
<% return_to ||= nil %>
<div class="text-normal color-fg-muted mt-2">
  <div class="js-billing-settings-billing-information-form-container js-name-address-collection" <%= "hidden" unless show_form %>>
    <%= render Billing::Settings::BusinessEditPaymentInformationComponent.new(business: this_business, return_to: return_to, show_form: show_form) %>
  </div>
  <div class="js-billing-settings-billing-information" <%= "hidden" if show_form %>>
    <% if this_business.has_saved_trade_screening_record_with_information? %>
      <div <%= test_selector("billing-address") %>>
        <p class="mb-0"><%= this_business.trade_screening_record.entity_name %></p>
        <p class="mb-0"><%= this_business.trade_screening_record.address1 %></p>
        <% unless this_business.trade_screening_record.address2.blank? %>
          <p class="mb-0"><%= this_business.trade_screening_record.address2 %></p>
        <% end %>
        <p class="mb-0">
          <%= this_business.trade_screening_record.city %><%= "," unless this_business.trade_screening_record.region.blank? %>
          <%= this_business.trade_screening_record.region %>
          <%= this_business.trade_screening_record.postal_code %>
        </p>
        <p class="mb-0"><%= this_business.trade_screening_record.country_code %></p>
        <% unless this_business.trade_screening_record.vat_code.blank? %>
          <p class="mb-0">VAT ID: <%= this_business.trade_screening_record.vat_code %></p>
        <% end %>
      </div>
    <% else %>
      You have not added billing information for your account.
    <% end %>
  </div>
</div>
