<div class="text-normal color-fg-muted mt-2">
  <div <%= "hidden" unless show_form %> data-target="business-shipping-information.formContainer">
    <%= render Billing::Settings::BusinessShippingInformationFormComponent.new(business: this_business) %>
  </div>
  <% if this_business.shipping_contact.present? %>
    <div <%= "hidden" if show_form %> data-target="business-shipping-information.detailsContainer">
      <div <%= test_selector("business-shipping-information-details") %>>
        <p class="mb-0"><%= this_business.shipping_contact.entity_name %></p>
        <p class="mb-0"><%= this_business.shipping_contact.address1 %></p>
        <% unless this_business.shipping_contact.address2.blank? %>
          <p class="mb-0"><%= this_business.shipping_contact.address2 %></p>
        <% end %>
        <p class="mb-0">
          <%= this_business.shipping_contact.city %><%= "," unless this_business.shipping_contact.region.blank? %>
          <%= this_business.shipping_contact.region %>
          <%= this_business.shipping_contact.postal_code %>
        </p>
        <p class="mb-0"><%= this_business.shipping_contact.country_code %></p>
      </div>
    </div>
  <% end %>
</div>
