<% unless view.organizations_sponsorships.any? %>
  <p class="py-4 color-fg-muted f5 border-bottom" <%= test_selector "billing-no-sponsorships" %>>No sponsorships created by any organization yet</p>
<% end %>

<% view.organizations_sponsorships.each do |org, items| %>
  <%= render(Primer::Beta::BorderBox.new(mt: 4, test_selector: "billing-sponsorships-#{org.id}")) do |box| %>
    <% box.with_header(font_weight: :bold) do |header| %>
      <img class="<%= avatar_class_names(org) %>" src="<%= org.primary_avatar_url(48) %>" width="36" height="36" alt="@<%= org %>">
      <span class="ml-2"><%= org.safe_profile_name %></span>
    <% end %>
    <% items.each do |i| %>
      <% box.with_row(test_selector: "sponsorship-item-#{i.id}") do %>
        <%= render(Billing::Settings::SponsorshipItemComponent.new(item: i, user_or_org: org)) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
