<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="color-bg-subtle color-shadow-small p-3 rounded" style="height: 100%">
  <label class="text-normal color-fg-muted">
    Your latest bill
  </label>
  <div class="mt-1 mb-1">
    <span <%= test_selector "money-text" %> class="f2 flex-1">
      $<%= number_with_precision this_business.latest_bill_balance, precision: 2, delimiter: "," %>
    </span>
    <% if this_business.latest_bill %>
      <span class="f5 text-normal color-fg-default">
        due by <%= this_business.latest_bill[:due_date].strftime("%B %d, %Y") %>
      </span>
    <% end %>
  </div>
  <% unless this_business.trial? %>
    <div class="mt-2 mb-2">
      <% if this_business.customer.auto_pay_reasons.empty? %>
        <span class="f5 text-normal color-fg-muted">
          <%= render Primer::Beta::Octicon.new("check-circle", size: :small, color: :success) %>
          Auto-pay enabled
        </span>
      <% else %>
        <% if this_business.latest_bill_balance.positive? %>
          <%= render Primer::ButtonComponent.new(
            tag: :a,
            href: billing_settings_one_time_payment_enterprise_path(this_business),
            scheme: :primary,
            variant: :small,
            test_selector: "pay-now-link") do %>
            Pay now
          <% end %>
        <% end %>
        <span class="f5 text-normal color-fg-muted<%= ' ml-2' if this_business.latest_bill_balance.positive? %>">
          <%= render Primer::Beta::Octicon.new(:blocked, size: :small, color: :muted) %>
          Auto-pay disabled
        </span>
      <% end %>
    </div>
    <% unless this_business.latest_bill %>
      <label class="text-normal color-fg-muted">
        Your next payment is due <%= this_business.next_billing_date.strftime("%B %d, %Y") %>
      </label>
    <% end %>
  <% end %>
</div>
