<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "Codespaces Policy", selected_link: :settings_org_codespaces_policies %>
<%= render layout: "orgs/settings/layout" do %>
  <% org_policy = Codespaces::OrgPolicy.new(org: current_organization, user: current_user)%>

  <%= render Primer::Beta::Subhead.new(
    display: :flex,
    direction: [:column, :row],
    justify_content: :space_between,
    align_items: :flex_start
  ) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Codespaces policies
    <% end %>

    <% if policy_groups.any? %>
      <% component.with_actions(align_self: :start) do %>
        <%= render Primer::ButtonComponent.new(href: settings_org_codespaces_policies_new_path(current_organization), tag: :a, scheme: :primary).with_content("Create Policy") %>
      <% end %>
    <% end %>
  <% end %>

  <% unless org_ownership_enabled %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, mt: 2, mb: 3, test_selector: "codespaces-ownership-policy-warning")) do |component| %>
      Organization ownership of codespaces is disabled in <a href="<%= settings_org_codespaces_path(current_organization) %>">your settings</a>. Any policies will not currently apply.
    <% end %>
  <% end %>

  <p>
    A policy is a set of constraints on how organization members can use codespaces. For instance, you can restrict the machine types or port visibility options for codespaces created from organization repositories.
  </p>
  <p class="mb-5">
    <strong>Policies apply to codespaces billed to your organization.</strong> Policies will not apply to codespaces billed directly to users, such as external users creating codespaces against public repositories.
  </p>

  <div data-hpc>
    <%= render Organizations::Settings::CodespacesPolicyGroupListComponent.new(
      owner: current_organization,
      policy_groups:,
      disable_creation: !org_policy.allow_org_setting?
    ) %>
  </div>
<% end %>
