<% tiers = newsletter.sponsors_tiers %>

<%= render Primer::Alpha::Dialog.new(title: "Tiers with access", subtitle: "#{pluralize(tiers.size, "tier")} with access") do |d| %>
  <% d.with_show_button(scheme: :link) do %>
    <%= pluralize(tiers.size, "tier") %>
  <% end %>
  <% d.with_body do %>
    <%= render Primer::Alpha::ActionList.new(show_dividers: true) do |component| %>
      <% tiers.each do |tier| %>
        <% component.with_item(href: sponsorable_dashboard_your_sponsors_path(newsletter.sponsorable, tier_id: tier.id), test_selector: "tier-with-access") do %>
          <div class="d-flex flex-justify-between">
            <div class="d-flex flex-items-start text-bold">
              <%= tier.name %>
            </div>
            <div class="d-flex flex-items-end text-small color-fg-muted">
              <%= pluralize(tier.subscription_items.size, "sponsor") %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
