<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% selected_tier_ids = selected_tiers.pluck(:id) %>

<%= render layout: "sponsors/dashboards/layout", locals: { sponsors_listing: sponsors_listing, selected_tab: :updates } do %>
  <%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center) do |component| %>
    <% component.with_heading(tag: :h2) do %>Draft email update<% end %>
  <% end %>

  <%= render Primer::Beta::Flash.new(scheme: :warning, mb: 3) do %>
    This is a draft and won’t be seen by the public until it’s published.
  <% end %>

  <%= form_tag(sponsorable_dashboard_update_path(sponsors_listing.sponsorable_login, newsletter), method: :put) do %>
    <div class="clearfix">
      <%= render(Sponsors::NewslettersComponent.new(sponsors_listing: sponsors_listing)) %>
      <dl class="form-group required">
        <dt>
          <label for="update_subject">Subject</label>
        </dt>
        <dd><input required id="update_subject" class="form-control" type="text" name="newsletter[subject]" value="<%= newsletter.subject %>"></dd>
      </dl>
      <dl class="form-group">
        <dt>
          <label for="update_body">Body</label>
        </dt>
        <dd>
          <div class="js-previewable-comment-form previewable-comment-form write-selected border rounded-2 pb-2 js-listing-characters-remaining-container" data-preview-url="<%= marketplace_preview_path %>">
            <%= csrf_hidden_input_for marketplace_preview_path, class: "js-data-preview-url-csrf" %>
            <div class="comment-form-head tabnav d-flex">
              <nav class="tabnav-tabs overflow-visible" role="tablist" aria-label="Edit GitHub Sponsors newsletter">
                <button type="button" class="btn-link tabnav-tab write-tab js-write-tab selected" role="tab" aria-selected="true">Write</button>
                <button type="button" class="btn-link tabnav-tab preview-tab js-preview-tab" role="tab">Preview</button>
              </nav>
              <%= render Comments::MarkdownToolbarComponent.new(textarea_id: "update_body") %>
            </div>
            <div class="write-content js-write-bucket mb-0">
              <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
                <textarea required
                          name="newsletter[body]"
                          class="form-control comment-form-textarea js-comment-field js-quick-submit js-size-to-fit"
                          id="update_body"
                          aria-describedby="help-text-for-full_description"
                          data-character-limit="<%= Marketplace::Listing::FULL_DESCRIPTION_MAX_LENGTH %>"><%= newsletter.body %></textarea>
              </text-expander>
            </div>
            <div class="preview-content">
              <%= render partial: "marketplace_listings/preview_text" %>
            </div>
            <div class="clearfix">
              <div class="float-left">
                <span class="tabnav-extra pt-0">
                  <a id="help-text-for-full_description"
                    class="color-fg-muted"
                    href="<%= GitHub.markdown_docs_url %>"
                    target="_blank"
                    rel="noopener noreferrer"
                    data-ga-click="Markdown Toolbar, click, help"
                  >
                    <%= primer_octicon(:markdown, vertical_align: :bottom) %>
                    Styling with Markdown is supported.
                  </a>
                </span>
              </div>
            </div>
          </div>
        </dd>
      </dl>
    </div>

    <div class="form-actions">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, "data-disable-invalid": "") do %>
        Publish
      <% end %>
      <button type="submit" name="newsletter[draft]" value="1" class="btn js-quick-submit-alternative" data-disable-invalid>
        Update draft
      </button>
    </div>
  <% end %>
<% end %>
