<%# erblint:counter ButtonComponentMigrationCounter 2 %>

<%= render layout: "sponsors/dashboards/layout", locals: { sponsors_listing: sponsors_listing, selected_tab: :updates } do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Email updates<% end %>
    <% component.with_actions do %>
      <% unless sponsors_listing.disabled? %>
        <a href="<%= new_sponsorable_dashboard_update_path(sponsors_listing.sponsorable_login) %>" class="btn" role="button">Draft a new update</a>
      <% end %>
    <% end %>
  <% end %>

  <% if newsletters.none? %>
    <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
      <% c.with_visual_icon(icon: "mail") %>

      <% c.with_heading(tag: :h2) do %>
        You haven't created any email updates yet
      <% end %>

      <% c.with_description do %>
        <%= no_sponsors_newsletters_description(sponsors_listing) %>
      <% end %>
    <% end %>
  <% else %>
    <% newsletters.each do |newsletter| %>
      <div class="mb-6">
        <div class="d-flex flex-items-center">
          <p class="mb-1 flex-auto f2">
            <span <%= test_selector("update-subject")%>><%= newsletter.subject %></span>
            <% if newsletter.draft? %>
              <%= render Primer::Beta::Label.new(scheme: :warning, vertical_align: :middle, ml: 2, title: "Label: Draft") do %>
                Draft
              <% end %>
            <% else %>
              <%= render Primer::Beta::Label.new(scheme: :success, vertical_align: :middle, ml: 2, title: "Label: Published") do %>
                Published
              <% end %>
            <% end %>
          </p>
          <% if newsletter.draft? && !sponsors_listing.disabled? %>
            <a href="<%= edit_sponsorable_dashboard_update_path(sponsors_listing.sponsorable_login, newsletter) %>" class="btn btn-sm">Edit</a>
          <% end %>
        </div>
        <div class="d-flex flex-items-center mb-3 color-fg-muted">
          <p class="mb-0">
            <%= profile_link(newsletter.safe_author, class: "text-bold Link--primary") %>
            <% if newsletter.draft? %>
              updated this draft <%= time_ago_in_words_js newsletter.updated_at %>
            <% else %>
              published an update <%= time_ago_in_words_js newsletter.updated_at %>
            <% end %>
            for
            <% if newsletter.sponsors_tiers.size > 0 %>
              <%= render partial: "sponsors/updates/tiers_with_access",
                locals: { newsletter: newsletter } %>
            <% else %>
              all sponsors
            <% end %>
          </p>
        </div>
        <div class="markdown-body comment-body mt-2 mb-4 p-0">
          <%= github_flavored_markdown(newsletter.body) %>
        </div>
      </div>
    <% end %>

    <div class="paginate-container">
      <div class="pagination">
        <%= will_paginate newsletters %>
      </div>
    </div>
  <% end %>
<% end %>
