<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= render layout: "sponsors/dashboards/layout", locals: { sponsors_listing: sponsors_listing, selected_tab: :updates } do %>
  <%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center) do |component| %>
    <% component.with_heading(tag: :h2) do %>New email update<% end %>
  <% end %>

  <%= form_tag(sponsorable_dashboard_updates_path(sponsors_listing.sponsorable_login), method: :post) do %>
    <div class="clearfix">
      <%= render(Sponsors::NewslettersComponent.new(sponsors_listing: sponsors_listing)) %>
      <dl class="form-group required">
        <dt>
          <label for="update_subject">Subject</label>
        </dt>
        <dd><input required id="update_subject" class="form-control" type="text" name="newsletter[subject]"></dd>
      </dl>
      <dl class="form-group">
        <dt>
          <label for="update_body">Body</label>
        </dt>
        <dd>
          <%= render Primer::Experimental::PreviewableMarkdownEditor.new(
            label: "Edit sponsorship newsletter",
            preview_path: marketplace_preview_path,
            emoji_suggestions_path: emoji_suggestions_path
          ) do |editor| %>
            <% editor.with_textarea(name: "newsletter[body]", id: "update_body") %>
            <% editor.with_extra do %>
              <%= csrf_hidden_input_for marketplace_preview_path, class: "js-data-preview-url-csrf" %>
            <% end %>
          <% end %>
        </dd>
      </dl>
    </div>

    <div class="form-actions">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, "data-disable-invalid": "") do %>
        Publish
      <% end %>
      <button type="submit" name="newsletter[draft]" value="1" class="btn js-quick-submit-alternative" data-disable-invalid>
        Create draft
      </button>
    </div>
  <% end %>
<% end %>
