<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>

<% if user.over_repo_seat_limit? %>
  <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
    <strong>WARNING:</strong> This user has at least one repo over the collaborator
    limit for the free plan. Please proceed with caution if changing to a free plan,
    you could be giving extra service
  <% end %>
<% end %>

<%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
  <strong>Looking to give a gift?</strong><br>
  Check out the guide on
  <a class="Link--inTextBlock" href="https://thehub.github.com/support/billing/coupons/friends-and-family/" target="_blank">The Hub</a>
  for instructions.
<% end %>

<% if user.plan.per_seat? %>
  <dl class="form-group">
  <dt><%= f.label :seats , "Total Seats" %></dt>
    <dd>
      <%= f.text_field :seats,
        name: "seats",
        class: "js-total-seats-field",
        "data-url": stafftools_user_seat_change_path(user) %>
    </dd>
  </dl>
  <div>
    <p>
      <strong>Preview charge/refund</strong>
    </p>
    <div class="boxed-group">
      <table class="boxed-group-inner boxed-group-table">
        <tbody>
          <tr>
            <td>
              <span class="unstyled-delta-seats">0</span> additional
              <span class="unstyled-delta-seats-label">seats</span>
              @ <%= seat_change.human_unit_price %><br>
              (Prorated for <%= pluralize seat_change.service_days_remaining, "day" %> left in current subscription)
            </td>
            <td class="text-right unstyled-list-price"><%= seat_change.list_price.format %></td>
          </tr>
          <% if user.has_credit? %>
            <tr>
              <td>Credit</td>
              <td class="text-right"><%= seat_change.balance.format(sign_before_symbol: true) %></td>
            </tr>
          <% end %>
          <tr>
            <td class="text-right"><strong>Total</strong></td>
            <td class="text-right"><strong class="unstyled-payment-amount"><%= seat_change.payment_amount.format %></strong></td>
          </tr>
        </tbody>
      </table>
    </div>
    <p>
      <% payment_method = user.payment_method %>
      <% if user.has_paypal_account? %>
        <strong>PayPal account</strong> (<%= payment_method.paypal_email %>)
      <% elsif user.has_credit_card? %>
        <%= primer_octicon(:"credit-card") %>
        <strong><%= payment_method.card_type %></strong> (<%= payment_method.formatted_number %>)
      <% else %>
        <%= primer_octicon(:"credit-card") %>
        <strong>Warning, no payment method on file.</strong>
      <% end %>
      <span class="tooltipped tooltipped-s" aria-label="Changing seats will immediately charge or refund the payment method on file."><%= primer_octicon(:info) %></span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
    </p>
  </div>
<% else %>
  <dl class="form-group">
    <dt><label for="user_plan">Plan</label></dt>
    <dd>
      <%= select_tag :plan, options_for_select(available_plan_options_for_select(user), user.plan.to_s), id: "user_plan" %>
    </dd>
  </dl>
<% end %>
<dl class="form-group">
  <dt><%= f.label :plan_duration, "Billing frequency" %></dt>
  <dd>
    <%= select_tag :plan_duration,
      options_for_select(plan_duration_options_for_select, user.plan_duration), id: "#{user.type.downcase}_plan_duration" %>
  </dd>
</dl>

<% if user.gift? %>
  <dl class="form-group">
    <dt><label>Gift status</label></dt>
    <dd>
      <%= select_tag :billing_type, options_for_select(gift_type_options_for_select(user), user.billing_type) %>
    </dd>
  </dl>
<% end %>

<dl class="form-group">
  <dt><%= f.label :billing_extra, "Extra billing info" %></dt>
  <dd>
    <%= text_area_tag :billing_extra, user.billing_extra, class: "short js-size-to-fit", id: "#{user.type.downcase}_billing_extra" %>
  </dd>
</dl>
