<% action = user.plan.per_seat? ? "Add / Remove seats" : "Change plan" %>
<%= render layout: "shared/details_dialog", locals: { button_text: action, button_class: "btn-link", title: action } do %>
  <div class="Box-body overflow-auto">
    <div id="change_plan_or_seats">
      <poll-synchronous-payment>
        <%= form_for(
          user,
          url: change_plan_stafftools_user_path,
          method: :put,
          html: {
          "data-target": "poll-synchronous-payment.form",
          "data-action": "submit:poll-synchronous-payment#collectPayment"
          },
        ) do |f| %>
          <% if user.invoiced? %>
            <%= render "stafftools/users/change_plan_invoice_fields", user: user, f: f %>
          <% else %>
            <%= render "stafftools/users/change_plan_card_fields", user: user, f: f, seat_change: seat_change %>
          <% end %>
          <div class="form-actions">
            <% if user.has_commercial_interaction_restriction? %>
              <%= render(Primer::Alpha::Banner.new(scheme: :warning, mt: 4)) do %>
                <div class="d-flex">
                  <div class="ml-5" <%= test_selector("trade-restricted-message") %>>
                    You can't change plan at this time due to trade restrictions.
                  </div>
                </div>
              <% end %>
            <% else %>
              <%= render Primer::Beta::Button.new(
                type: :submit,
                block: true,
                data: { target: "poll-synchronous-payment.buttonElement" },
              ) do %>
                <span data-target="poll-synchronous-payment.buttonCTA"><%= action %></span>
                <span data-target="poll-synchronous-payment.loadingStatus" class="AnimatedEllipsis"></span>
              <% end %>
            <% end %>
            <span data-target="poll-synchronous-payment.completionMessage"></span>
          </div>
        <% end %>
      </poll-synchronous-payment>
    </div>
  </div>
<% end %>
