<%
  plan_subscription = user.plan_subscription
  external_subscription = plan_subscription.fetched_external_subscription
  subscription_type = plan_subscription.external_subscription_type
  synchronized = plan_subscription.synchronized?
  plan_synchronized = plan_subscription.plan_synchronized?
  plan_duration_synchronized = plan_subscription.plan_duration_synchronized?
  seats_synchronized = plan_subscription.seats_synchronized?
  asset_packs_synchronized = plan_subscription.asset_packs_synchronized?
  discount_synchronized = plan_subscription.discount_synchronized?
  balance_synchronized = plan_subscription.balance_synchronized?
  next_billing_date_synchronized = plan_subscription.next_billing_date_synchronized?
  subscription_items_synchronized = plan_subscription.subscription_items_synchronized?
%>

<% if external_subscription.past_due? %>
  <%= primer_octicon(:history) %>
<% else %>
  <% if synchronized %>
    <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
    <span>Synchronized</span>
  <% else %>
    <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
    <%= render(Primer::Experimental::Dialog.new(
      dialog_id: "synchronization-status-dialog",
      header_variant: :large,
      width: :large,
      title: "#{subscription_type.capitalize} Subscription Out of Sync"
    )) do |c| %>
      <% c.with_show_button(
        scheme: :link,
      ) do |s| %>
        Out of sync
      <% end %>
      <% c.with_body do %>
        <table class="boxed-group-table">
          <thead>
            <tr>
              <th class="col-4"></th>
              <th class="col-4">GitHub</th>
              <th class="col-4"><%= subscription_type.capitalize %></th>
            </tr>
          </thead>
          <tr class="<%= "color-fg-danger" unless plan_synchronized %>">
            <th class="no-wrap">
              <%= primer_octicon(:alert) unless plan_synchronized %>
              Plan
            </th>
            <td><%= user.plan.display_name.humanize %></td>
            <td>
              <% if external_subscription.plan %>
                <%= external_subscription.plan.display_name.humanize %>
              <% else %>
                <%= GitHub::Plan.free.display_name.humanize %>
              <% end %>
            </td>
          </tr>
          <tr class="<%= "color-fg-danger" unless plan_duration_synchronized %>">
            <th class="no-wrap">
              <%= primer_octicon(:alert) unless plan_duration_synchronized %>
              Plan Duration
            </th>
            <td><%= user.plan_duration.capitalize %></td>
            <td>
              <%= external_subscription.plan_duration.capitalize %>
            </td>
          </tr>
          <% if user.plan.per_seat? || external_subscription.seats > 0 %>
            <%# Only show this if we're on the per seat plan or there
                are seats on the BT Sub when there shouldn't be  %>
            <tr class="<%= "color-fg-danger" unless seats_synchronized %>">
              <th class="no-wrap">
                <%= primer_octicon(:alert) unless seats_synchronized %>
                Seats
              </th>
              <td><%= user.plan.per_seat? ? plan_subscription.seat_count : "" %></td>
              <td><%= external_subscription.seats %></td>
            </tr>
          <% end %>
          <tr class="<%= "color-fg-danger" unless asset_packs_synchronized %>">
            <th class="no-wrap">
              <%= primer_octicon(:alert) unless asset_packs_synchronized %>
              Asset Packs
            </th>
            <td><%= user.data_packs %></td>
            <td>
              <%= external_subscription.data_packs %>
            </td>
          </tr>
          <tr class="<%= "color-fg-danger" unless discount_synchronized %>">
            <th class="no-wrap">
              <%= primer_octicon(:alert) unless discount_synchronized %>
              Discount
            </th>
            <td><%= plan_subscription.coupon_amount %></td>
            <td>
              <%= external_subscription.discount %>
            </td>
          </tr>
          <tr class="<%= "color-fg-danger" unless balance_synchronized %>">
            <th class="no-wrap">
              <%= primer_octicon(:alert) unless balance_synchronized %>
              Balance
            </th>
            <td><%= user.balance %></td>
            <td>
              <%= external_subscription.balance %>
            </td>
          </tr>
          <tr class="<%= "color-fg-danger" unless next_billing_date_synchronized %>">
            <th class="no-wrap">
              <%= primer_octicon(:alert) unless next_billing_date_synchronized %>
              Next Billing Date
            </th>
            <td><%= user.billed_on %></td>
            <td>
              <%= external_subscription.next_billing_date %>
            </td>
          </tr>
          <tr class="<%= "color-fg-danger" unless subscription_items_synchronized %>">
            <th class="no-wrap">
              <%= primer_octicon(:alert) unless subscription_items_synchronized %>
              Subscriptions
            </th>
            <td>
              <% plan_subscription.active_subscription_items.sort_by(&:subscribable_name).each do |subscription_item| %>
                <p><%= subscription_item.subscription_summary %></p>
              <% end %>
            </td>
            <td>
              <% external_subscription.active_subscribable_rate_plans.map(&:name).sort.each do |item_description| %>
                <p><%= item_description %></p>
              <% end %>
            </td>
          </tr>
        </table>
      <% end %>
    <% end %>
  <% end %>
  |
  <% if external_subscription.pending? %>
    <%= render(Primer::Beta::Octicon.new(icon: "clock")) %>
  <% elsif external_subscription.active? %>
    <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
  <% end %>
<% end %>
<span><%= external_subscription.status.capitalize %></span>
&ndash;
<%= link_to "View on #{subscription_type.capitalize}", external_subscription.dashboard_url %>
