<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="summary">
  <dl>
    <dt>Zuora Auto Pay Status</dt>
    <dd>
      <% if user.customer.auto_pay? %>
        <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
        On
      <% else %>
        <%= render(Primer::Beta::Octicon.new(icon: "x-circle")) %>
        Off
      <% end %>
    </dd>

    <% if user.customer.auto_pay_reasons.any? %>
      <dt>Auto Pay Reasons</dt>
      <dd>
        <% user.customer.auto_pay_reasons.each do |reason| %>
          <%= form_tag enable_stafftools_user_auto_pay_path, class: "inline-form", method: :put do %>
            <%= hidden_field_tag :auto_pay_reason, reason %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, "data-confirm": "Are you sure you want to remove #{reason}?") do %>
              <%= reason %>
            <% end %>
          <% end %>
        <% end %>
      </dd>
    <% end %>

    <% if user.has_valid_payment_method? %>
      <dt>Country</dt>
      <dd><%= user.payment_method.country %></dd>

      <dt>Region</dt>
      <dd><%= user.payment_method.region %></dd>
    <% end %>
  </dl>

  <br>
  <h4 class="h5">Manual Staff Override</h4>
  <p class="text-small">Manually disable auto pay for the selected reason:</p>
  <p>
    <%= form_tag disable_stafftools_user_auto_pay_path, method: :put, class: "inline" do %>
      <%= select_tag :auto_pay_reason, options_for_select(Customer::AUTO_PAY_DISABLE_REASONS.keys, prompt: "Choose a reason") %>
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, "data-confirm": "Are you sure you want to disable AutoPay?") do %>
        <label for="auto_pay_reason">Disable AutoPay</label>
      <% end %>
    <% end %>
  </p>
</div>
