<%# erblint:counter DeprecatedComponentsCounter 5 %>
<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2, danger: true) do %>Danger zone<% end %>
<% end %>

<div class="Box Box--danger">
  <div class="Box-row">
    <% case view.status %>
    <% when :access_request_pending %>
      <%= button_to \
        "Cancel request",
        stafftools_user_staff_access_request_path(view.user, view.active_request),
        method: :delete,
        class: "btn float-right mt-1",
        id: "cancel-request" %>
    <% when :access_grant_required %>
      <%= render layout: "shared/details_dialog", locals: {
        details_class: "float-right mt-1",
        button_text: "Request access",
        button_class: "btn btn-danger",
        title: "Request impersonation access?"
      } do %>
        <%= form_tag stafftools_user_staff_access_requests_path(view.user), :class => "stafftools-form" do %>
          <div class="Box-body overflow-auto">
            An email will be sent to @<%= view.user %>, requesting access.
            <dl class="form-group required">
              <dt><label for="access-request-reason" required >Reason (internal)</label></dt>
              <dd class="js-length-limited-input-container width-full col-12 col-lg-8">
                <select id="access-request-reason" name="reason" class="form-control form-select js-prevent-keyboard-submit" autofocus required>
                  <option value disabled selected>Select Reason</option>
                  <% view.impersonation_reasons.each do |reason| %>
                    <option><%= reason %></option>
                  <% end %>
                </select>
              </dd>
            </dl>
            <dl class="form-group" id="impersonate-user-notes-container">
              <dt class="mt-3">
                <label for="impersonate-user-notes">Notes</label>
              </dt>
              <dd>
                <input type="text" id="impersonate-user-notes" name="notes" placeholder="<%= view.log_placeholder %>" class="form-control input-block js-prevent-keyboard-submit">
              </dd>
            </dl>
          </div>
          <div class="Box-footer">
            <%= render Primer::ButtonComponent.new(type: :submit, block: true) do %>Request impersonation access<% end %>
          </div>
        <% end %>
      <% end %>
    <% when :allowed %>
      <%= render layout: "shared/details_dialog", locals: {
      details_class: "float-right mt-1",
      button_text: "Sign in to GitHub as @#{view.user}",
      button_class: "btn btn-danger",
      title: "User impersonation"
      } do %>
        <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
          Woah there!
        <% end %>
        <%= form_tag stafftools_impersonate_path(view.user), method: :post, class: "stafftools-form" do %>
          <div class="Box-body overflow-auto">
            <p>
              Fake login is a great power, and with it comes great responsibility.
              Only use this if you must see something from the user's unique
              perspective, like the dashboard or account settings.
            </p>
            <% unless view.active_grant  %>
              <%# we only hit view.allowed in two cases enterprise? and active_grant %>
              <%# only disply this section in enterprise? %>
              <p>
                An email will be sent to @<%= view.user %> to let them know about the impersonation.
              </p>
              <dl class="form-group">
                <dt><label for="access-request-reason">Reason (internal)</label></dt>
                <dd class="js-length-limited-input-container width-full col-12 col-lg-8">
                    <select id="access-request-reason" name="reason" class="form-control form-select js-prevent-keyboard-submit" autofocus required>
                      <option value disabled selected>Select Reason</option>
                      <% view.impersonation_reasons.each do |reason| %>
                        <option><%= reason %></option>
                      <% end %>
                    </select>
                  </dd>
              </dl>
              <dl class="form-group" id="impersonate-user-notes-container">
                <dt class="mt-3">
                  <label for="impersonate-user-notes">Notes</label>
                </dt>
                <dd>
                  <input type="text" id="impersonate-user-notes" name="notes" placeholder="<%= view.log_placeholder %>" class="form-control input-block js-prevent-keyboard-submit">
                </dd>
              </dl>
            <% end %>
          </div>
          <div class="Box-footer">
            <%= render Primer::ButtonComponent.new(type: :submit, block: true) do %>
              Begin impersonation
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <h4>Impersonate</h4>
    <div id="impersonation-message">
      <%= view.message %>
    </div>
    <% if view.active_grant %>
      <div id="access-grant-message">
        <%= primer_octicon(:check, classes: "success") %>
        @<%= view.active_grant.granted_by %> has granted impersonation access until <%= view.active_grant.expires_at.in_time_zone(Time.zone).strftime('%m/%d/%Y at %H:%M %Z') %>.
      </div>
    <% end %>
  </div>
  <% if view.show_override_option? %>
    <div class="Box-row">
      <%= render layout: "shared/details_dialog", locals: {
        details_class: "float-right mt-1",
        button_text: "Impersonate with override",
        button_class: "btn btn-danger",
        title: "User impersonation"
      } do %>
        <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
          Woah there!
        <% end %>
        <%= form_tag stafftools_override_impersonate_path(view.user), method: :post, class: "stafftools-form" do %>
          <div class="Box-body overflow-auto">
            <p>
              You should only impersonate  without permission if it is necessary for
              <%= link_to "legal or security reasons", "#{GitHub.help_url}/articles/github-terms-of-service/#3-access", class: "Link--inTextBlock" %>!
              If it is safe to request an access grant from the owner, please do that instead!
            </p>
            <dl class="form-group">
              <dt><label for="override-access-reason">Reason (internal)</label></dt>
              <dd>
                <input class="form-control" type="text" id="override-access-reason"
                      name="reason" placeholder="<%= view.log_placeholder %>"
                      autofocus>
              </dd>
            </dl>
          </div>
          <div class="Box-footer">
            <%= render Primer::ButtonComponent.new(type: :submit, block: true) do %>
              Begin impersonation
            <% end %>
          </div>
        <% end %>
      <% end %>

      <h4>Impersonate without permission</h4>
      <div>
        <%= primer_octicon(:alert, classes: "error") %>
        You may impersonate without permission ONLY for <%= link_to "legal or security purposes", "#{GitHub.help_url}/articles/github-terms-of-service/#3-access", class: "Link--inTextBlock" %>.
      </div>
    </div>
  <% end %>
</div>
