<%# erblint:counter DeprecatedInPrimerCounter 2 %>
<li class="table-list-item">
  <div class="col-2 table-list-cell">
    <%= link_to stafftools_user_path(user_list) do %>
    <%= render GitHub::AvatarComponent.new(actor: user_list, size: 48, mr: 3) %>
    <% end %>
  </div>
  <div class="col-3 table-list-cell py-3">
    <strong>
      <%= link_to user_list.to_s,
        stafftools_user_path(user_list),
        :class => "tooltipped tooltipped-multiline tooltipped-sw",
        'aria-label' => "Username (same as login): #{user_list}"
      %>
    </strong>
  </div>
  <div class="col-2 table-list-cell py-3">
    <span class="tooltipped tooltipped-multiline tooltipped-sw"
          aria-label="Profile name: <%= user_list.profile_name %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
      <% if user_list.profile_name.blank? %>
        &nbsp;
      <% else %>
        <%= user_list.profile_name %>
      <% end %>
    </span>
  </div>
  <div class="col-3 table-list-cell py-3">
    <span><%= user_list.email %></span>
  </div>
  <div class="col-2 table-list-cell py-3">
    <% if user_list.last_ip %>
      <span class="tooltipped tooltipped-s" aria-label="Last IP: <%= user_list.last_ip %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
        <%= link_to user_list.last_ip, stafftools_users_ip_address_path(user_list.last_ip) %>
      </span>
    <% else %>
      Last IP unknown
    <% end %>
  </div>
</li>
