<% page_info title: "#{user} - billing managers" %>

<div class="boxed-group <%= "flush" if billing_managers.any? %>">
  <h3>
    <%= link_to "Billing /", billing_stafftools_user_path(user),
          "data-pjax": true, class: "boxed-group-breadcrumb" %>
    Billing Managers
  </h3>
  <div class="boxed-group-inner">
    <% if billing_managers.any? %>
      <ul class="member-listing table-list adminable">
        <% billing_managers.each do |user| %>
          <li class="table-list-item">
            <div class="table-list-cell f5">
              <%= link_to stafftools_user_path(user) do %>
                <%= render GitHub::AvatarComponent.new(actor: user, size: 48, mr: 3) %>
              <% end %>
              <strong><%= link_to user.to_s, stafftools_user_path(user), class: "pl-2" %></strong>
              <% unless user.profile_name.blank? %>
                <span class="pl-2"><%= user.profile_name %></span><br>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
      <% if billing_managers.total_pages > 1 %>
        <div class="paginate-container">
          <%= will_paginate billing_managers %>
        </div>
      <% end %>
    <% else %>
      <p>No billing managers</p>
    <% end %>
  </div>
</div>
