<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %><%= view.title %><% end %>
    <% component.with_actions do %>
      <% if user_sort_order && users.any? %>
        <details class="users-sort-menu d-inline-block details-reset details-overlay position-relative">
          <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button") do %>
            <i>Sort:</i> <%= user_sort_order.capitalize %>
          <% end %>

          <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header">
              <span class="select-menu-title">Sort options</span>
            </div>

            <div class="select-menu-list">
              <% users_sort_labels.each_key do |label| %>
                <a
                  class="select-menu-item" aria-checked="<%= user_sort_order == label%>"
                  role="menuitemradio"
                  href="<%= url_for params.slice(:last_ip).permit(:last_ip).merge(sort: label) %>">
                  <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                  <span class="select-menu-item-text"><%= label.capitalize %></span>
                </a>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>

      <% if view.show_public_key_audit? %>
        <%= render layout: "shared/details_dialog", locals: {
          button_text: "Start public key audit",
          button_class: "btn btn-sm btn-danger ml-1",
          title: "SSH public key audit"
        } do %>
          <div class="Box-body">
            Initiating a system-wide SSH key audit will
            <strong>disable all public keys</strong>, preventing pushing and
            pulling over SSH.  Users will be required to verify their public keys
            to restore SSH access.
          </div>
          <div class="Box-footer">
            <%= form_tag stafftools_ssh_audit_path do %>
              <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>
                Begin audit
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if users.empty? %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No accounts found.
      <% end %>
    <% end %>
  <% else %>
    <div class="table-list-bordered">
      <div class="d-flex table-list-header">
        <span class="col-3 offset-2 py-1 px-2">Username</span>
        <span class="col-2 py-1 px-2">Profile name</span>
        <span class="col-3 py-1 px-2">Email</span>
        <span class="col-2 py-1 px-2">Last IP</span>
      </div>
      <ul class="table-list">
        <%= render partial: "stafftools/users/user_list", locals: { view: view }, collection: users %>
      </ul>
    </div>
  <% end %>

  <div class="paginate-container">
    <%= will_paginate users, params: { last_ip: params[:last_ip], sort: user_sort_order } %>
  </div>
<% end %>
