<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "#{owner} - Retired namespaces" %>

<%= render(Primer::Beta::Subhead.new(mb: 3)) do |component| %>
  <% component.with_heading(tag: :h2) do %>
    Retired namespaces
  <% end %>
<% end %>

<% if this_user.blank? %>
  <%= render(Primer::Beta::Flash.new(mb: 3, scheme: :warning)) do %>
    The user <span class="text-bold"><%= owner %></span> is currently not an active account.
  <% end %>
<% end %>

<% if this_user.present? %>
  <div class="mb-3">
    <%= form_with url: stafftools_user_retired_namespaces_path(owner), class: "d-flex" do %>
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Repository name"
        aria-label="Repository name to retire"
      >
      <%= render Primer::Beta::Button.new(type: :submit, size: :small, ml: 2) do %>
        Retire
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render(Primer::Beta::BorderBox.new(mb: 3)) do |component| %>
  <% if namespaces.empty? %>
    <%= component.with_body(test_selector: "empty-retired-namespaces") do %>
      There aren't any retired namespaces for this user.
    <% end %>
  <% else %>
    <% component.with_header(display: :flex) do %>
      <div class="table-list-header-select-all" style="width: 400px">
        <input id="js-select-all-retired-namespaces" type="checkbox" name="select-all-checkbox" class="mr-2">
        <label for="js-select-all-retired-namespaces">Retired namespaces</label>
      </div>
      <div class="h5" style="width: 200px">
        Original owner ID
      </div>
      <div class="h5">
        Created at
      </div>
    <% end %>
    <% namespaces.each do |namespace| %>
      <% component.with_row(test_selector: "namespace-#{namespace.id}") do %>
        <div class="d-flex flex-items-center">
          <div style="width: 400px">
            <input id="namespace-<%= namespace.id %>" type="checkbox" value="<%= namespace.id %>" data-check-all-item class="mr-2">
            <label for="namespace-<%= namespace.id %>"><%= namespace.name_with_owner %></label>
          </div>
          <div style="width: 200px">
            <%= namespace.owner_id %>
          </div>
          <div>
            <%= link_to namespace.created_at, stafftools_audit_log_path(query: audit_log_queries[namespace.id]), class: "Link--secondary" %>
          </div>

          <div style="margin-left: auto">
            <%= form_with url: stafftools_user_retired_namespace_path(
              namespace.owner_login,
              namespace.id,
            ), method: :delete do %>
              <%= render Primer::Beta::Button.new(type: :submit, size: :small, scheme: :danger) do %>
                Unretire
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <% component.with_row(display: :flex, justify_content: :flex_end) do %>
      <%= form_with url: multiple_stafftools_user_retired_namespaces_path(owner), method: :delete do %>
        <%= hidden_field(:retired_namespace, :ids, id: "js-retired-namespaces-ids", value: "[]") %>
        <%= render(Primer::Beta::Button.new(scheme: :primary, type: :submit)) { "Unretire selected" } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
  <%= will_paginate(namespaces)%>
</div>
