<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info \
    title: "Processing your files…",
    container_xl: true,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Primer::BlankslateComponent.new(
    title: "Processing your files…",
    description: "This may take a few minutes to complete.",
    large: true,
    spacious: true,
    "data-poll-url": job_status_path(id: CommitUploadManifestJobStatus.job_id(manifest_id)),
    "data-secret-bypass-url": repo_uploads_show_secret_scanning_push_protection_bypass_path(manifest_id: manifest_id),
    "data-redirect-url": redirect_url,
    "data-index-url": repo_uploads_path,
    classes: "js-manifest-ready-check",
  ) do |component| %>
    <% component.with_spinner(size: :large) %>
  <% end %>

  <%= render Primer::BlankslateComponent.new(
    title: "Commit failed",
    description: "Committing the files to the repository failed.",
    large: true,
    spacious: true,
    classes: "js-manifest-ready-check-failed",
    hidden: true,
  ) do %>
    <a href="<%= repo_uploads_path(current_repository.owner, current_repository) %>" class="btn btn-primary">Try again</a>
  <% end %>
</div>
<%= csrf_hidden_input_for repo_uploads_show_secret_scanning_push_protection_bypass_path, class: "js-push-protection-bypass-csrf" %>
<% end %>
