<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Beta::Flash.new(scheme: :warning, icon: :alert, col: 12, mb: 2, display: :flex, classes: "flex-wrap")) do |flash| %>
  <span class="flex-auto col-12 col-md-8" <%= test_selector("branch-protection-warning-message") %>> <%= action %> </span>

  <% if render_upgrade_cta? %>
    <% flash.with_action do %>
      <span class="d-flex col-12 col-md-4 ml-1 mt-2" <%= test_selector("branch-protection-warning-cta") %>>
        <%= render(Primer::Beta::Button.new(tag: :a, href: cta_path, data: hydro_attributes)) { "Upgrade" } %>
      </span>
    <% end %>
  <% end %>

  <% if repository&.organization %>
    <%= render(Organizations::MemberRequests::FeatureRequestComponent.new(
      requester: current_user,
      organization: repository&.organization,
      feature: !!@feature ? @feature : MemberFeatureRequest::Feature::ProtectedBranches,
    )) do |c| %>
      <%= c.with_request_cta(
        display: :inline,
        data: analytics_click_attributes(
          category: "member_feature_request",
          action: "action.#{ !!@feature ? @feature : MemberFeatureRequest::Feature::ProtectedBranches }",
          label: "ref_page:#{request.fullpath};ref_cta:ask_admin_for_access;ref_loc:branch_protection;")
        ) { "Ask admin for access" } %>
      <%= c.with_remove_request_cta(scheme: :link) { "Remove request" } %>
      <% c.with_requested_message do %>
        <span class="d-inline-block color-fg-subtle mt-2 mr-1">
        <%= render(Primer::Beta::Octicon.new(:check, visibility: :hidden)) %>You've successfully submitted a request to your organization's admins for this feature.
        </span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
