<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= form_tag create_url,
    method: :post,
    data: { target: "create-branch.form", action: "submit:create-branch#submit" } do %>
  <div class="Box-header">
    <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
      <%= primer_octicon(:x) %>
    </button>
    <h3 class="Box-title"><%= title %></h3>
  </div>

  <div data-target="create-branch.errorContainer">
  </div>

  <div class="Box-body">
    <div class="form-group my-0 mb-1">
      <div class="form-group-header">
        <label for="name">Branch name</label>
      </div>
      <div class="form-group-body">
        <div class="input-group">
          <auto-check
            src="<%= check_tag_name_exists_path %>"
            class="js-prevent-default-behavior"
            data-action="auto-check-success:create-branch#checkTagMatchResult"
          >
            <input
              class="form-control rounded-right-0"
              name="name"
              id="name"
              type="text"
              placeholder="<%= default_new_branch_name %>"
              aria-label="Branch name"
              value="<%= default_new_branch_name %>"
            >
            <%= csrf_hidden_input_for check_tag_name_exists_path %>
          </auto-check>
          <span class="input-group-button">
            <%= render(Primer::Beta::ClipboardCopy.new(for: "name", "aria-label": "Copy to clipboard", classes: "btn")) %>
          </span>
        </div>
      </div>
    </div>
    <% if (!hide_change_branch_source? && !show_branch_source?) || !hide_repository_destination? %>
      <div class="form-group mt-3">
        <div class="form-group-header d-flex flex-justify-between">
          <% if !hide_repository_destination? %>
            <label>Repository destination</label>
          <% end %>
          <% if !hide_change_branch_source? && !show_branch_source? %>
            <%= render(Primer::ButtonComponent.new(scheme: :link, font_size: 6, data: {action: "click:create-branch#selectSourceBranch", target: "create-branch.changeSourceBranchButton"})) do %>
              Change branch source
            <% end %>
          <% end %>
        </div>
        <% if !hide_repository_destination? %>
          <div class="form-group-body">
            <details class="details-reset details-overlay">
              <%= render Primer::ButtonComponent.new(dropdown: true, tag: :summary, display: :inline_flex, align_items: :center, w: :fit) do %>
                <%= render Primer::Beta::Octicon.new(icon: "repo", mr: 2, display: :inline_block) %>
                <%= render(Primer::Beta::Truncate.new) do |component| %>
                  <% component.with_item(data: {target: "create-branch.baseRepoName"}) do %>
                    <%= repository_nwo %>
                  <% end %>
                <% end %>
              <% end %>
              <details-menu class="SelectMenu SelectMenu--hasFilter" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                <div class="SelectMenu-modal">
                  <div class="SelectMenu-filter">
                    <remote-input
                      data-action="remote-input-success:create-branch#reconcileSelection"
                      aria-owns="repository-menu-list"
                      src="<%= target_repositories_url %>">
                      <input
                        type="text"
                        class="SelectMenu-input form-control"
                        placeholder="Search for a repository"
                        aria-label="Search for a repository"
                        autocomplete="off"
                        autofocus>
                    </remote-input>
                  </div>
                  <div class="SelectMenu-list" id="repository-menu-list">
                  </div>
                </div>
              </details-menu>
            </details>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if !hide_change_branch_source? %>
      <%= render Branch::SourceBranch::BranchSelectHeaderComponent.new(repository: repository, show: show_branch_source?, show_fork_source: show_fork_source?) %>
    <% end %>
  </div>

  <% if !hide_whats_next? %>
    <div class="Box-row">
      <p class="color-fg-muted mb-2">What's next?</p>
      <% if user_or_global_feature_enabled?(:codespaces_create_from_issue) %>
      <div class="form-checkbox mt-0 mb-2">
        <label>
          <input type="radio" name="after_create" value="codespace"<%= " checked" if Codespaces::DevContainer.any_devcontainers?(repository) %>>
          Open in codespace
        </label>
      </div>
      <% end %>
      <div class="form-checkbox mt-0 mb-2">
        <label>
          <input type="radio" name="after_create" value="checkout-locally"<%= " checked" if !user_or_global_feature_enabled?(:codespaces_create_from_issue) || !Codespaces::DevContainer.any_devcontainers?(repository) %>>
          Checkout locally
        </label>
      </div>
      <div class="form-checkbox my-0">
        <label>
          <input type="radio" name="after_create" value="github-desktop">
          Open branch with GitHub Desktop
        </label>
      </div>
    </div>
  <% end %>

  <div class="Box-footer d-flex flex-justify-<%= !feedback_url.nil? ? "between" : "end"%> flex-items-center">
    <% if !feedback_url.nil? %>
      <div class="d-flex flex-items-center text-small">
        <%= render GitHub::BetaFlagComponent.new(mr: 2, px: 2) %>
        <a href="<%= feedback_url %>">Share feedback</a>
      </div>
    <% end %>
    <%= render Primer::ButtonComponent.new(
      type: :submit,
      scheme: :primary,
      data: {
        target: "create-branch.submitButton",
        **analytics_click_attributes(
          category: "Branches",
          action: "submit_create_branch_dialog",
          label: "ref_loc:create_branch_dialog"
        )
      }
    ) do %>
      <%= render Primer::Beta::Spinner.new(
        size: :small,
        data: { target: "create-branch.spinner" },
        vertical_align: :text_bottom,
        mr: 1,
        style: "display: none"
      )%>
      <span>Create branch</span>
    <% end %>
  </div>
<% end %>

<div data-target="create-branch.resultContainer" class="overflow-y-hidden">
</div>
