<% linked_branches.each do |branch| %>
  <div class="mb-1 d-flex">
    <div class="mr-1">
      <%= primer_octicon(:"git-branch") %>
    </div>
    <div class="width-full min-width-0">
      <%# The min-width-0 is required. Without this, the flex child containing the other text elements won’t narrow past the “implied width” of those text elements. %>
      <a href="<%= tree_path(nil, branch.branch_name, branch.repository) %>"
        class="Link--primary d-flex no-underline text-bold"
        <%= safe_analytics_click_attributes(category: "Create branch for issue", action: "view linked branch", label: "view_linked_branch") %>
        <%= test_selector "branch-issue-reference-link" %>>
        <%= render(Primer::Beta::Truncate.new) { branch.branch_name } %>
      </a>
      <a class="Link--muted d-flex f6" href="<%= repository_path(branch.repository) %>">
        <%= render(Primer::Beta::Truncate.new) { branch.repository.name_with_display_owner } %>
      </a>
    </div>
  </div>
<% end %>
