<span class="context">
  <% if !view.entry.hit[:actions_cache_key].nil? %>
    Deleted Actions cache with key <%= view.entry.hit.data[:actions_cache_key] %> ,scope <%= view.entry.hit.data[:actions_cache_scope] %> , version <%= view.entry.hit.data[:actions_cache_version] %>
  <% else %>
    Deleted Actions cache with id <%= view.entry.hit.data[:actions_cache_id] %>
  <% end %>
  on <%= view.link_to_repo %>
</span>
