<% if view.org? %>
  Deleted Codespaces <%= view.link_to_org_codespaces_policy %> '<%= view.entry.hit.data[:policy_group_name] %>' for the <span class="context"><%= view.link_to_org %></span> organization.
<% elsif view.business? %>
  Deleted Codespaces <%= view.link_to_business_codespaces_policy %> '<%= view.entry.hit.data[:policy_group_name] %>' for the <span class="context"><%= view.link_to_business %></span> business.
<% else %>
  Deleted Codespaces policy '<%= view.entry.hit.data[:policy_group_name] %>'.
<% end %>
