Copilot seat assignment was refreshed
<% if view.copilot_seat_assignment_details %>
  <% assignee = view.copilot_seat_assignment_details[:assignee] %>
  <% assignee_type = view.copilot_seat_assignment_details[:assignee_type] %>
  <% if assignee_type == "User" %>
   for user <span class="context"><%= view.link_to_user(assignee) %></span>
  <% elsif assignee_type == "OrganizationInvitation" %>
   for invited user <span class="context"><%= assignee&.include?("@") ? assignee : view.link_to_user(assignee) %></span>
  <% elsif assignee_type == "Team" %>
   for team <span class="context"><%= view.link_to_team(assignee) %></span>
  <% elsif assignee_type == "EnterpriseTeam" %>
   for team <span class="context"><%= assignee %></span>
  <% end %>

  <% unless assignee_type == "EnterpriseTeam" %>
   in the <span class="context"><%= view.link_to_org %></span> organization
  <% end %>
<% end %>
