<% if view.entry.hit.data[:previous_value].present? %>
Copilot access policy changed from <span class="context"><%= view.previous_copilot_enablement_policy %></span> to <span class="context"><%= view.current_copilot_enablement_policy %></span> in the <span class="context"><%= view.link_to_business %></span> enterprise
<% elsif view.entry.hit.data[:current_value].present? %>
Copilot <span class="context"><%= view.entry.hit.data[:current_value] %></span>d for <span class="context"><%= view.link_to_org %></span> by the <span class="context"><%= view.link_to_business %></span> enterprise
<% else %>
Copilot access policy changed for the <span class="context"><%= view.link_to_business %></span> enterprise
<% end %>
