<% event = view.entry.data %>
Updated announcement for the <%= event[:owner] %> <%= event[:owner_type] %>:
<% if event[:old_message] != event[:message]%>
  <div>
    Message changed from "<%= event[:old_message] %>" to "<%= event[:message] %>"
  </div>
<% end %>
<% if event[:old_dismissibility] != event[:dismissibility]%>
  <div>
    Dismissibility changed from <code><%= event[:old_dismissibility] %></code> to <code><%= event[:dismissibility] %></code>
  </div>
<% end %>
<% if event[:old_expiry] != event[:expiry]%>
  <div>
    Expiration date changed from <code><%= event[:old_expiry] || "none" %></code> to <code><%= event[:expiry] || "none" %></code>
  </div>
<% end %>
