<% from_api = view.entry.data["request_category"] == "api" %>
<% if view.entry.hit.data[:gate_type].to_s == "branch_policy_pattern" || view.entry.hit.data[:gate_type].to_s == "tag_policy_pattern" %>
  <% if view.entry.hit.data[:new_value].nil? %>
    Removed <%= view.friendly_protection_rule_name %> with value <div class="branch-name"><%= view.entry.hit.data[:old_value] =%></div> for <span class="context"><%= view.link_to_environment %></span><% if from_api %> via the API <% end %>.
  <% elsif view.entry.hit.data[:old_value].nil? %>
    Added <%= view.friendly_protection_rule_name %> with value <div class="branch-name"><%= view.entry.hit.data[:new_value] =%></div> for <span class="context"><%= view.link_to_environment %></span><% if from_api %> via the API <% end %>.
  <% else %>
    Updated <%= view.friendly_protection_rule_name %> <div class="branch-name"><%= view.entry.hit.data[:old_value] =%></div> to <div class="branch-name"><%= view.entry.hit.data[:new_value] =%></div> for <span class="context"><%= view.link_to_environment %></span><% if from_api %> via the API <% end %>.
  <% end %>
<% elsif !view.entry.hit.data[:is_protected_branch_policy].nil? %>
  <% if view.entry.hit.data[:is_protected_branch_policy]%>
    Updated <%= view.friendly_protection_rule_name %> protection rule for <span class="context"><%= view.link_to_environment %></span> to only allow protected branches to deploy<% if from_api %> via the API <% end %>.
  <% else %>
    Updated <%= view.friendly_protection_rule_name %> protection rule for <span class="context"><%= view.link_to_environment %></span> to only allow branches matching a branch policy pattern to deploy<% if from_api %> via the API <% end %>.
  <% end %>
<% else %>
  Updated <%= view.friendly_protection_rule_name %> protection rule
  <% if view.entry.hit.data[:timeout_was].present? && view.entry.hit.data[:timeout].present? %>
   from <span class="context"><%= view.entry.hit.data[:timeout_was].to_s %></span> to <span class="context"><%= view.entry.hit[:timeout].to_i %></span>
  <% elsif !view.entry.hit.data[:approvers_was].blank? && !view.entry.hit.data[:approvers].blank? %>
   from <span class="context"><%= view.link_to_approvers_was %></span> to <span class="context"><%= view.link_to_approvers %></span>
  <% end %>
 for <span class="context"><%= view.link_to_environment %></span><% if from_api %> via the API <% end %>.
<% end %>
