<% from_api = view.entry.data["request_category"] == "api" %>
Created a <%= view.friendly_protection_rule_name %> protection rule
<% if view.entry.hit.data[:timeout].present? %>
 with value <span class="context"><%= view.entry.hit[:timeout].to_i %></span>
<% elsif !view.entry.hit.data[:approvers].blank? &&  %>
 with value <span class="context"><%= view.link_to_approvers %></span>
<% elsif view.entry.hit.data[:integration].present? %>
 with value <span class="context"><%= view.link_to_integration %></span>
<% end %>
 for <span class="context"><%= view.link_to_environment %></span><% if from_api %> via the API <% end %>.
<% if !view.entry.hit.data[:is_protected_branch_policy].nil? %>
  <% if view.entry.hit.data[:is_protected_branch_policy] %>
    The environment can only deploy in branches protected by a branch policy.
  <% else %>
    The environment can only deploy in branches matching a branch policy pattern.
  <% end %>
<% end %>
