<% name = view.entry.hit.data[:name] ? view.entry.hit.data[:name] : nil  %>

<% if view.org? %>
  <p><span class="context"><%= view.link_to_org %></span> GitHub-hosted runner <%= "with name '#{name}'" if name %> updated.</p>
<% elsif view.business? %>
  <p><span class="context"><%= view.link_to_business %></span> GitHub-hosted runner <%= "with name '#{name}'" if name %> updated.</p>
<% else %>
  <p>GitHub-hosted runner <%= "with name '#{name}'" if name %> updated.</p>
<% end %>
