<% name = view.entry.hit.data[:name] ? view.entry.hit.data[:name] : nil  %>

<% if view.org? %>
  <p><span class="context"><%= view.link_to_org %></span> Larger runner <%= "with name '#{name}'" if name %> created.</p>
<% elsif view.business? %>
  <p><span class="context"><%= view.link_to_business %></span> Larger runner <%= "with name '#{name}'" if name %> created.</p>
<% else %>
  <p>Larger runner <%= "with name '#{name}'" if name %> created.</p>
<% end %>


