Updated the
<% if listing_plan = view.entry.marketplace_listing_plan %>
  <a href="<%= marketplace_listing_plan_path(listing_plan) %>" class="context">
    <%= view.entry.hit.data[:marketplace_listing_plan] %>
  </a>
<% else %>
  <strong class="context"><%= view.entry.hit.data[:marketplace_listing_plan] %></strong>
<% end %>
plan for the
<% if listing = view.entry.marketplace_listing %>
  <a href="<%= marketplace_listing_path(listing) %>" class="context">
    <%= view.entry.hit.data[:marketplace_listing] %>
  </a>
<% else %>
  <strong class="context"><%= view.entry.hit.data[:marketplace_listing] %></strong>
<% end %>
marketplace listing
