Changed Marketplace listing category on
<% if listing = view.entry.marketplace_listing %>
  <a href="<%= marketplace_listing_path(listing) %>" class="context">
    <%= view.entry.hit.data[:marketplace_listing] %>
  </a>:
<% else %>
  <strong class="context"><%= view.entry.hit.data[:marketplace_listing] %></strong>:
<% end %>
primary category
&ldquo;<span class="context"><%= view.entry.hit.data[:primary_category] %></span>&rdquo; /
secondary category
<% if view.entry.hit.data[:secondary_category] == "none" %>
  <em>none</em>
<% else %>
  &ldquo;<span class="context"><%= view.entry.hit.data[:secondary_category] %></span>&rdquo;
<% end %>
