<% from_api = view.entry.data["request_category"] == "api" %>
Created network configuration <%= view.entry.hit.data[:network_configuration_id] %> for <span class="context"><%= view.link_to_resource_owner %></span><% if from_api %> via the API <% end %>.
<% if view.entry.hit.data[:name].present? %>
  Name is "<%= view.entry.hit.data[:name].to_s %>".
<% end %>
<% if view.entry.hit.data[:selected_service].present? %>
  Selected service state is "<%= view.entry.hit.data[:selected_service].to_s %>".
<% end %>
<% unless view.entry.hit.data[:network_settings_ids].nil? %>
  Network settings ids are "<%= view.entry.hit.data[:network_settings_ids].join(", ") %>".
<% end %>
