<% if view.entry.data[:application_type] %>
  <% if view.personal_access_token? %>
    Created a <span class="context"><%= view.oauth_access_type %></span> token for <span class="context"><%= view.link_to_user %></span> ending in <span class="context"><%= view.entry.data[:token_last_eight] %></span>.
  <% else %>
    Created a token for <span class="context"><%= view.link_to_user %></span> ending in <span class="context"><%= view.entry.data[:token_last_eight] %></span> for the <span class="context"><%= view.entry.data[:application_name] %></span> <span class="context"><%= view.oauth_access_type %></span>.
  <% end %>
<% else %>
  <% if view.personal_access_token? %>
    Created a Personal access token (Classic) for <span class="context"><%= view.link_to_user %></span> ending in <span class="context"><%= view.entry.data[:token_last_eight] %></span>.
  <% else %>
    Created a token for <span class="context"><%= view.link_to_user %></span> ending in <span class="context"><%= view.entry.data[:token_last_eight] %></span> for the <span class="context"><%= view.entry.data[:application_name] %></span> app.
  <% end %>
<% end %>
