<% if view.entry.hit.data[:permission] && view.entry.hit.data[:old_permission] %>
  Updated <%= view.entry.own_entry? ? "their" : view.link_to_user %> permission on <span class="context"><%= view.entry.safe_organization_name %></span> from <span class="context"><%= view.entry.hit.data[:old_permission] %></span> to <span class="context"><%= view.entry.hit.data[:permission] %></span>
<% elsif view.entry.hit[:action] %>
  Updated <%= view.entry.own_entry? ? "their" : view.link_to_user %> permission on <span class="context"><%= view.entry.safe_organization_name %></span> to <span class="context"><%= view.entry.hit[:action] %></span>
<% end %>
