<%= view.link_to_actor %> revoked access for
<%= view.link_to_org_person_sso(login: view.entry.hit.data[:owner]) %>'s
<%= view.authorized_credential_type %> (<%= view.authorized_credential_fingerprint %>)
to access the <span class="context"><%= view.entry.safe_organization_name %></span> organization.
