<% show_visibility = view.entry.hit.data[:visibility].present? %>
Created <span class="context"><%= view.integration_name %></span> secret <%= view.link_to_org_secrets %> <% if show_visibility %>available to <span class="context"><%= view.entry.hit.data[:visibility] %></span> repositories <% end %>for <span class="context"><%= view.link_to_org %></span> <%= view.from_api_string %>
