<% permission = view.entry.hit.data[:permission] || view.entry.hit[:action] %>
Added <%= view.link_to_user %> to the <span class="context"><%= view.entry.safe_organization_name %></span> organization as <%= outside_collaborators_verbiage(view.entry.hit[:org]) %> on <%= view.link_to_repo %> <% if view.permission %> with <%= view.permission %> permission <% end %>
