<% if view.org? %>
  <p><span class="context"><%= view.link_to_org %></span> premium (custom-hosted) runner with id <%= view.entry.hit.data[:pool_id] %> deleted.</p>
<% elsif view.business? %>
  <p><span class="context"><%= view.link_to_business %></span> premium (custom-hosted) runner with id <%= view.entry.hit.data[:pool_id] %> deleted.</p>
<% else %>
  <p>Premium (custom-hosted) runner with id <%= view.entry.hit.data[:pool_id] %> deleted.</p>
<% end %>
