<% name = view.entry.hit.data[:name] ? view.entry.hit.data[:name] : nil  %>
<% if view.org? %>
  <p><span class="context"><%= view.link_to_org %></span> premium (custom-hosted) runner <%= "name '#{name}'" if name %> created.</p>
<% elsif view.business? %>
  <p><span class="context"><%= view.link_to_business %></span> premium (custom-hosted) runner <%= "with name '#{name}'" if name %> created.</p>
<% else %>
  <p>Premium (custom-hosted) runner <%= "with name '#{name}'" if name %> created.</p>
<% end %>
