<% if view.entry.hit.data[:policy] == "force_push" %>
  <% phrase = "force push" %>
<% else %>
  <% phrase = "bypass pull requests"%>
<% end %>
<% if view.entry.hit.data[:policy] %>
  Updated the users, teams, and/or apps allowed to <%= phrase %> to
  <span class="context">
    <%= view.entry.hit.data[:name] %>
  </span>
  on <span class="context"><%= view.link_to_repo %></span>
  to <span class="context"><%= view.authorized_actors_list %><span>.
<% else %>
  Removed the allowance on who can <%= phrase %> for
  <span class="context">
    <%= view.entry.hit.data[:name] %>
  </span>
  on <span class="context"><%= view.link_to_repo %></span>.
<% end %>
