<% if view.entry.hit.data[:authorized_actors_only] %>
  Restricted the users and/or teams allowed to dismiss reviews for
  <span class="context">
    <%= view.entry.hit.data[:name] %>
  </span>
  on <span class="context"><%= view.link_to_repo %></span>
  to <span class="context"><%= view.authorized_actors_list %><span>.
<% else %>
  Removed the restriction on who can dismiss pull request reviews for
  <span class="context">
    <%= view.entry.hit.data[:name] %>
  </span>
  on <span class="context"><%= view.link_to_repo %></span>.
<% end %>
