<% case view.lock_branch_enforcement_level&.to_sym %>
<% when :off %>
  Unlocked <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span>

<% when :everyone %>
  Locked <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> for everyone

<% when :non_admins %>
  Locked <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> for non-admins
<% end %>
