<% case view.merge_queue_enforcement_level&.to_sym %>
<% when :off %>
  Merge queue for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> has been deactivated

<% when :everyone %>
  Merge queue for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> has been activated for everyone

<% when :non_admins %>
  Merge queue for <span class="context"><%= view.entry.hit.data[:name] %></span>
  on <span class="context"><%= view.link_to_repo %></span> has been activated for non-admins
<% end %>
