<% if view.entry.hit[:default_for_new_private_repos] && view.entry.hit[:default_for_new_public_repos] %>
  <span class="context"><%= view.entry.hit[:security_configuration_name] %></span> updated to default configuration for all new repositories in <span class="context"><%= view.entry.safe_organization_name %></span> organization
<% elsif view.entry.hit[:default_for_new_private_repos] && !view.entry.hit[:default_for_new_public_repos] %>
  <span class="context"><%= view.entry.hit[:security_configuration_name] %></span> updated to default configuration for new private and internal repositories in <span class="context"><%= view.entry.safe_organization_name %></span> organization
<% elsif !view.entry.hit[:default_for_new_private_repos] && view.entry.hit[:default_for_new_public_repos] %>
  <span class="context"><%= view.entry.hit[:security_configuration_name] %></span> updated to default configuration for new public repositories in <span class="context"><%= view.entry.safe_organization_name %></span> organization
<% end %>
