<% if view.entry.hit[:security_feature].present? %>
  <span class="context"><%= view.entry.hit[:security_feature] %></span>
  has been
  <span class="context"><%= view.entry.hit[:security_feature_state] == :installed ? "applied" : "removed" %></span>
  from the configuration because the product has been
  <span class="context"><%= view.entry.hit[:security_feature_state] %></span>
<% else %>
  Updated
  <span class="context"><%= view.entry.hit[:security_configuration_name] %></span>
  in
  <span class="context"><%= view.entry.safe_organization_name %></span>
  organization
<% end %>
