Changed <span class="context"><%= view.sponsors_tier_name %></span> tier
<% if view.entry.hit[:repo] %>
  to grant access to
  <% if view.entry.hit[:old_repo] %>
    <span class="context"><%= view.link_to_repo %></span>
    instead of <span class="context"><%= view.link_to_old_repo %></span>.
  <% else %>
    <span class="context"><%= view.link_to_repo %></span>.
  <% end %>
<% else %>
  so that it no longer grants access to
  <% if view.entry.hit[:old_repo] %>
    <span class="context"><%= view.link_to_old_repo %></span>.
  <% else %>
    a repository.
  <% end %>
<% end %>
