<% if view.actor_is_sponsor? %>
  Changed
<% else %>
  <span class="context"><%= view.link_to_actor %></span> changed
<% end %>
tier for
<% if view.actor_is_sponsor? %>
  your
<% else %>
  <span class="context"><%= view.link_to_sponsor %></span>'s
<% end %>
sponsorship of
<%= render "audit_log/actions/sponsors_sponsorable_link", view: view %>
on GitHub
<% if (monthly_cents = view.sponsorship_monthly_amount_in_cents).present? %>
  Sponsors to
  <%= SponsorsTier.formatted_monthly_price(price: monthly_cents) %>
  <%= view.one_time_sponsorship? ? "one time" : "/ month" %>.
<% else %>
  Sponsors.
<% end %>
