<% if view.actor_is_sponsor? %>
  Updated
<% else %>
  <span class="context"><%= view.link_to_actor %></span> updated
<% end %>
settings for
<% if view.actor_is_sponsor? %>
  your
<% else %>
  <span class="context"><%= view.link_to_sponsor %></span>'s
<% end %>
<% if (monthly_cents = view.sponsorship_monthly_amount_in_cents).present? %>
  <%= SponsorsTier.formatted_monthly_price(price: monthly_cents) %>
  <%= view.one_time_sponsorship? ? "one time" : "/ month" %>
<% end %>
sponsorship of
<%= render "audit_log/actions/sponsors_sponsorable_link", view: view %>
on GitHub Sponsors.
