<% if view.actor_is_sponsor? %>
  Sponsored
<% else %>
  <span class="context"><%= view.link_to_actor %></span> sponsored
<% end %>
<%= render "audit_log/actions/sponsors_sponsorable_link", view: view %>
<% unless view.actor_is_sponsor? %>
  on behalf of <span class="context"><%= view.link_to_sponsor %></span>
<% end %>
on GitHub
<% if (monthly_cents = view.sponsorship_monthly_amount_in_cents).present? %>
  Sponsors for
  <%= SponsorsTier.formatted_monthly_price(price: monthly_cents) %>
  <%= view.one_time_sponsorship? ? "one time" : "/ month" %>.
<% else %>
  Sponsors.
<% end %>
