<% if view.updated_actions_access_policy? %>
  Updated Actions access permissions from <span class="context"><%= view.previous_actions_access_policy %></span> to <%= view.new_actions_access_policy %>
<% elsif view.updated_allowed_actions_types? %>
  Updated allowed <%= view.policy_text %> to <%= view.new_allowed_actions %>
<% elsif view.updated_actions_allowlist_options? %>
  Updated allowed select <%= view.policy_text %> to <%= view.actions_allowlist_option_changes %>
<% elsif view.updated_actions_allowlist_patterns? %>
  Updated list of allowed <%= view.policy_text %>
<% else %>
  Updated Actions permissions from <span class="context"><%= view.previous_action_execution_capability %></span> to <%= view.new_action_execution_capability %>
<% end %>
for <span class="context"><%= view.link_to_resource_owner %></span>
