<span class="context">
  Run <%= view.entry.hit.data[:workflow_run_id] %> of <%= view.entry.hit.data[:name] %>
  started on <%= view.entry.hit.data[:started_at] %>, completed on <%= view.entry.hit.data[:completed_at] %>
  for <%= view.entry.hit.data[:event] %> in repository <%= view.link_to_repo %> <%= view.entry.hit.data[:conclusion] %>.
</span>
