<span class="context">
  Run <%= view.entry.hit.data[:workflow_run_id] %> of <%= view.entry.hit.data[:name] %>
  started on <%= view.entry.hit.data[:started_at] %> for <%= view.entry.hit.data[:event] %> on repository <%= view.link_to_repo %>.
</span>
