<% if hide_header %>
  <%# do not render the header below %>
<% else %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Recent Deliveries<% end %>
  <% end %>
<% end %>

<% if disabled %>
  <p class="flash flash-error">
    <%= primer_octicon(:alert) %>
    <%= target %> is locked due to billing. Webhooks will not be delivered.
  </p>
<% end %>

<% if !GitHub.enterprise? && can_filter_hook_deliveries %>
  <%= render partial: "hook_deliveries/search_bar", locals: { hook: hook, hook_deliveries_query: hook_deliveries_query } %>
<% end %>

<include-fragment src="<%= hook_deliveries_path(hook, deliveries_q: hook_deliveries_query, fragment: true) %>" >
  <p data-hide-on-error>
    <%= image_tag 'spinners/octocat-spinner-32.gif', :size => "16x16", :class => "spinner", :alt => "" %>
    Loading deliveries…
  </p>
  <p class="flash flash-error" data-show-on-error hidden>
    <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
    Sorry, something went wrong and we weren't able to fetch the deliveries for this hook.
  </p>
</include-fragment>
