<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# Hooks::OauthApplicationPolicyView %>
<% if view.violates_policy? %>
  <div class="flash-messages hooks-oap-warning">
    <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
      <% if view.repo_hook? %>

        <%# Private repo blocked by either the parent organization or the network root organization in the case of forked repos.  %>
        <strong>This webhook is currently muted. No payloads will be delivered to the configured Payload URL.</strong>
        The <%= link_to_user(view.policymaker) %> organization has restricted access to the
        <%= view.app_link_or_name %> application. To enable deliveries,
        an administrator for the <%= link_to_user(view.policymaker) %> organization
        must approve the <%= view.app_link_or_name %> application.

      <% elsif view.blocked_by_org? %>

        <%# Creating Oauth application blocked by this organization. Event deliveries for private forks may still go out if network root allows it. %>
        <strong>This hook is currently muted for any organization level events or events targeting private repositories. No payloads will be delivered to the configured Payload URL.</strong>
        The <%= link_to_user(view.policymaker) %> organization has restricted access to the
        <%= view.app_link_or_name %> application. To enable deliveries,
        an administrator for the <%= link_to_user(view.policymaker) %> organization
        must approve the <%= view.app_link_or_name %> application.

      <% else %>

        <%# This organization does not restrict the creating Oauth app. However forked repos may still be blocked by the network parent's OAP. %>
        <strong>This webhook is currently muted for any events targeting the following repositories. No payloads will be delivered to the configured Payload URL.</strong>

        <ul>
          <% view.violated_org_repos.each do |repo| %>
            <li><%= link_to repo.name, repository_path(repo), class: "Link--inTextBlock" %> <em>(restricted by <%= link_to_user(repo.policymaker) %>)</em></li>
          <% end %>
        </ul>

        To enable deliveries, an administrator for the specified organization must approve the
        <%= view.app_link_or_name %> application.

      <% end %>
    <% end %>
  </div>
<% end %>
