<div class="boxed-group hooks-listing"><%# erblint:disable DeprecatedCustomCss %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Pre-receive hooks<% end %>
  <% end %>

  <p>
    Pre-receive hooks are scripts that run on the GitHub Enterprise server to enforce policy.
    When a push occurs, each script runs in an
    <a class="Link--inTextBlock" href="<%= GitHub.enterprise_admin_help_url %>/policies/creating-a-pre-receive-hook-environment">isolated environment</a>
    to determine whether the push is accepted or rejected.
  </p>
  <% if view.final_hook_repository? %>
    <p>
      Pre-receive hooks without an option to enable or disable them are enforced globally by the site administrator.
    </p>
  <% end %>

  <% if view.enabled_final_hooks.any? || view.enabled_configurable_hooks.any? || view.disabled_configurable_hooks.any? %>
    <div>
      <ul class="listgroup">
        <% view.enabled_final_hooks.each do |hook| %>
          <li class="listgroup-item hook-item clearfix enabled">
            <span class="item-status">
              <%= primer_octicon(:"dot-fill", classes: "icon-for-enabled") %>
            </span>
            <span class="item-name">
              <%= hook.name %>
            </span>
            <% unless hook.hook_repository_exists? %>
              <br>
              <span class="hook-error-message">Hook is disabled. The repository containing the hook no longer exists.</span>
            <% end %>
          </li>
        <% end %>

        <%= render "hooks/pre_receive_group", view: view, hooks: view.enabled_configurable_hooks %>
        <%= render "hooks/pre_receive_group", view: view, hooks: view.disabled_configurable_hooks %>
      </ul>
    </div>
  <% else %>
    <% if current_user.site_admin? %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_heading(tag: :h2) do %>
          No pre-receive hooks have been created yet.
        <% end %>

        <% c.with_primary_action(href: hooks_enterprise_path(GitHub.global_business)) do %>
          Add pre-receive hook
        <% end %>
      <% end %>
    <% else %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_heading(tag: :h2) do %>
          No pre-receive hooks yet.
        <% end %>

        <% c.with_description do %>
          Pre-receive hooks can only be added by the site administrator.
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
