<% if hook_persisted && current_value.present? %>
  <edit-hook-secret>
    <template data-target="edit-hook-secret.editTemplate">
      <div class="mt-2">
        <%= render Primer::Alpha::TextField.new(
          name: field_name,
          label: "Secret",
          autocomplete: "off",
          placeholder: "Leave blank to remove secret",
        ) %>
        <%= render Primer::Beta::Button.new(
          data: { action: "click:edit-hook-secret#toggleView" },
          mt: 2,
        ).with_content("Cancel") %>
      </div>
    </template>

    <%= render Primer::Alpha::Banner.new(icon: :info, data: { target: "edit-hook-secret.view" }) do %>
      <p>
        There is currently a secret configured for this webhook.
        If you've lost or forgotten this secret, you can change it, but be aware that any integrations using this
        secret will need to be updated.
      </p>
      <%= render Primer::Beta::Button.new(
        data: { action: "click:edit-hook-secret#toggleView" },
        test_selector: "edit-secret-button",
      ).with_content("Change secret") %>
    <% end %>
  </edit-hook-secret>
<% elsif !hook_persisted && current_value.present? %>
  <div>
    <%= render Primer::Alpha::TextField.new(
      name: field_name,
      value: current_value,
      label: "Secret",
      autocomplete: "off",
      data: { test_selector: "edit-secret-field" },
    ) %>
  </div>
<% else %>
  <div>
    <%= render Primer::Alpha::TextField.new(
      name: field_name,
      label: "Secret",
      autocomplete: "off",
      data: { test_selector: "empty-secret-field" },
    ) %>
  </div>
<% end %>
