<hr class="bleed-flush compact">
<div class="js-ssl-hook-fields">
  <div class="my-3">
    <h3 class="f5 text-bold mb-2" id="ssl_verification">SSL verification</h3>
    <p class="note">
      <%= primer_octicon(:lock) %>
      By default, we verify SSL certificates when delivering payloads.
    </p>
    <div class="mt-3">
      <label class="mr-3" id="ssl_verification_secure">
        <%= form.radio_button :insecure_ssl, 0, class: "mr-1", id: "insecure_ssl_0", "aria-labelledby": "ssl_verification ssl_verification_secure" %>
        Enable SSL verification
      </label>
      <label class="text-normal color-fg-danger" id="ssl_verification_insecure" data-show-dialog-id="insecure_ssl_verification">
        <%= form.radio_button :insecure_ssl, 1, class: "mr-1", id: "insecure_ssl_1", "aria-labelledby": "ssl_verification ssl_verification_insecure" %>
        Disable <span class="f6">(not recommended)</span>
      </label>
      <%= render(Primer::Alpha::Dialog.new(title: "Are you sure?", id: "insecure_ssl_verification")) do |dialog| %>
        <% dialog.with_body do %>
          <%= render(Primer::Alpha::Banner.new(full: true, scheme: :danger, mt: 1, ml: -3, mr: -3, mb: 3)) do %>
            <strong>Warning</strong>: Disabling SSL verification has serious implications.
          <% end %>
          SSL verification helps ensure that hook payloads are delivered
          to your URL endpoint securely, keeping your data away from prying eyes.
          Disabling this option is <strong>not recommended</strong>.
        <% end %>
        <% dialog.with_footer(display: :block, show_divider: true) do %>
          <%= render(Primer::Beta::Button.new(block: true, scheme: :danger, data: { "submit-dialog-id" => "insecure_ssl_verification" })) do %>
            Disable, I understand my webhooks may not be secure
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr class="bleed-flush compact">
</div>
