<%# View instance of Hooks::ShowView %>
<% page_info \
  container_xl: true,
  title: "Webhook · #{view.title}",
  selected_link: :hooks %>

<% content = capture do %>
  <%= render "hooks/oauth_application_policy_warning", view: create_view_model(Hooks::OauthApplicationPolicyView, hook: view.hook) %>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= hooks_path(current_context) %>" class="boxed-group-breadcrumb" data-pjax="true"><%= view.hook_type_title %> /</a>
      Manage <%= view.hook.display_name %>
    <% end %>
  <% end %>

  <% settings = capture do %>
    <%= render(Primer::Beta::BorderBox.new(mb: 5)) do |component| %>
      <% component.with_body(clearfix: true) do %>
        <% if view.hook.editable_by?(current_user) %>
          <%= form_for view.hook, url: hook_path(view.hook), method: :put do |f| %>
            <%= render "hooks/webhook_form", form: f, view: view, hook: view.hook %>
            <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, float: :left) do %>Update <%= view.hook_type %><% end %>
          <% end %>
          <%= render(Hooks::DestroyConfirmationComponent.new(hook: view.hook, render_button: true)) %>

        <% else # OAuth managed hook %>
          <% application = view.hook.oauth_application %>
          <div class="oauth-application-info">
            <%= oauth_application_logo(application, 60, :class => "float-left avatar mr-2") %>
            <h2>Webhook managed by <%= application.name %></h2>

            <% if application.description.blank? %>
            <p class="application-description oauth-no-description">No description for <em><%= application.name %></em>.</p>
            <% else %>
            <p class="application-description"><%= application.description %></p>
            <% end %>

            <div class="color-fg-muted">
              <%= link_to user_path(application.user), class: "app-info" do %>
                <%= render(Primer::Beta::Octicon.new(icon: "person")) %> <strong><%= application.user %></strong>
              <% end %>

              <%= link_to application.url, class: "app-info" do %>
                <%= render(Primer::Beta::Octicon.new(icon: "link")) %> <%= truncate(application.url) %>
              <% end %>

              <%= link_to user_path(view.hook.creator), class: "app-info" do %>
                <%= render(Primer::Beta::Octicon.new(icon: "key")) %> installed on behalf of <strong><%= view.hook.creator %></strong>
              <% end %>
            </div>
          </div>

          <%= render(Hooks::DestroyConfirmationComponent.new(hook: view.hook, render_button: true)) %>

          <p class="help">
            <%= render(Primer::Beta::Octicon.new(icon: "question")) %>
            This webhook was installed by <em><%= application.name %></em>,
            an OAuth application. Webhooks installed by OAuth applications can
            only be edited by the application.
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% deliveries = capture do %>
    <%= render :partial => 'hooks/deliveries', :locals => { :hook => view.hook,
                                                            :disabled => view.hook_disabled?,
                                                            :target => view.hook_target,
                                                            :hook_deliveries_query => nil,
                                                            :can_filter_hook_deliveries => false,
                                                            :hide_header => view.use_new_hooks_ui } %>
  <% end %>

  <% if view.use_new_hooks_ui %>
    <div class="tabnav">
      <nav class="tabnav-tabs" role="tablist" aria-label="Manage Webhook">
        <%= selected_link_to "Settings", hook_path(view.hook, {tab: "settings"}),
                    class: class_names("tabnav-tab", "selected" => tab.nil? ), role: "tab" %>
        <%= selected_link_to "Recent Deliveries", hook_path(view.hook, {tab: "deliveries"}),
                    class: "tabnav-tab", role: "tab" %>
      </nav>
    </div>
    <% if tab == "deliveries" %>
      <%= deliveries %>
    <% else %>
      <%= settings %>
    <% end %>
  <% else %>
    <%= settings %>
    <%= deliveries %>
  <% end %>
<% end %>

<% if current_context.is_a?(Repository) %>
  <%= render layout: "edit_repositories/edit" do %>
    <%= content %>
  <% end %>
<% elsif current_context.is_a?(Business) %>
  <%= render layout: "businesses/layout",
    locals: {
      business: this_business,
      title: "Hooks",
      container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% end %>
