<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% listings.each do |listing| %>
  <%= render partial: "biztools/marketplace_listings/listing", locals: { listing: listing } %>
<% end %>

<% if listings.next_page.present? %>
  <div class="text-center d-block p-1 ajax-pagination-form js-ajax-pagination">
    <%= form_tag biztools_marketplace_path, :method => :get do %>
      <input name="page" type="hidden" value="<%= listings.next_page %>">
      <input name="state" type="hidden" value="<%= current_state %>">
      <input name="category_slug" type="hidden" value="<%= category_slug %>">
      <input name="query" type="hidden" value="<%= query %>">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, "data-disable-with": "Loading more...") do %>Load more...<% end %>
    <% end %>
  </div>
<% end %>
