<%# erblint:counter ButtonComponentMigrationCounter 2 %>

<div class="Box-row d-flex flex-items-center js-listing-container">
  <div class="flex-auto">
    <a href="<%= biztools_marketplace_listing_path(listing.slug) %>" class="d-block float-left mr-2" aria-label="<%= listing.name %>">
      <img src="<%= image_path listing.primary_avatar_url(100) %>" alt="" width="50" height="50">
    </a>
    <h4 class="mb-2">
      <a href="<%= biztools_marketplace_listing_path(listing.slug) %>">
        <%= listing.name %> (<%= listing.cached_installation_count %> installs)
      </a>
    </h4>
    <div class="text-small color-fg-muted">
      <%= listing.short_description %>
    </div>
  </div>
  <%= render partial: "marketplace_listings/listing_status", locals: {
        state: listing.status,
        state_color: marketplace_listing_state_color(listing),
        state_octicon: marketplace_listing_state_octicon(listing),
      }
  %>
  <% if listing.allowed_to_edit?(current_user) %>
    <a href="<%= edit_marketplace_listing_path(listing.slug) %>" class="btn btn-sm ml-2" rel="nofollow">Edit listing</a>
  <% end %>

  <% if listing.featurable? %>
    <% if listing.featured? %>
      <%= button_to "Unfeature", biztools_unfeature_marketplace_listing_path(listing.slug), method: :put,
        class: "btn btn-sm ml-2",
        form_class: "js-feature-listing-form",
        data: { confirm: 'Are you sure you want to unfeature this listing?', disable_with: "Updating..." } %>
    <% else %>
      <%= button_to "Feature", biztools_feature_marketplace_listing_path(listing.slug), method: :put,
        class: "btn btn-sm ml-2",
        form_class: "js-feature-listing-form",
        data: { confirm: 'Are you sure you want to feature this listing?', disable_with: "Updating..." } %>
    <% end %>
  <% end %>

  <a href="<%= marketplace_listing_path(listing) %>" class="btn btn-sm ml-2" rel="nofollow">View listing</a>
</div>
