<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="boxed-group">
  <h3>Manage Featured Customers</h3>
  <div class="boxed-group-inner">
    <% if listing.featured_organizations.any? %>
      <div class="d-flex flex-wrap mt-2">
        <% listing.featured_organizations.each do |featured_org| %>
          <% next if featured_org.organization.spammy? %>
          <%= form_tag biztools_marketplace_featured_customers_path(featured_org.id), method: :put do %>
            <input name="featured_customers[approved]" type="hidden" value="<%= featured_org.approved? ? "0" : "1" %>">
            <div class="mr-6 mb-3 d-flex flex-column flex-justify-center flex-items-center">
              <%= profile_link(featured_org.organization, url: user_path(featured_org.organization.login)) do %>
                <%= avatar_for(featured_org.organization, 84, class: "avatar d-block mb-2") %>
              <% end %>
              <%= render Primer::ButtonComponent.new(type: :submit) do %><%= featured_org.approved? ? "Unapprove" : "Approve" %><% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_visual_icon(icon: "people") %>

        <% c.with_heading(tag: :h2) do %>
          No orgs selected
        <% end %>

        <% c.with_description do %>
          Ask the integrator to select orgs to feature!
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
