<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  verification_type =  "verified"
%>

<div class="boxed-group">
  <h3>Move Listing to Verified</h3>
  <div class="boxed-group-inner clearfix">
    <p>
      This listing can be moved to verified state. It implies that the app is verified.
    </p>
    <%= render layout: "shared/details_dialog", locals: {
      button_text: "Move to Verified",
      button_class: "btn btn-primary",
      title: "Approve #{verification_type} listing",
    } do %>
      <div class="Box-body overflow-auto">
        <%= form_tag biztools_move_to_verified_marketplace_listing_path(listing_id) do %>
          <input type="hidden" name="slug" value="<%= listing_slug %>">
          <p>Approve <strong><%= listing_name %></strong> as <%= verification_type %> in the GitHub Marketplace?</p>
          <dl class="form-group">
            <dt><label for="listing_creator_message">Message for the integrator (optional)</label></dt>
            <dd>
              <textarea autofocus name="message" id="listing_creator_message" class="form-control"></textarea>
            </dd>
          </dl>
          <button type="submit" class="btn btn-block btn-primary mt-2" data-disable-with="Updating..." autofocus>
            Move to Verified
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
