<%# erblint:counter ButtonComponentMigrationCounter 2 %>

<div class="boxed-group">
  <h3>Return Listing to <%= previous_state.humanize %></h3>
  <div class="boxed-group-inner clearfix">
    <p>Does this listing require further editing by the integrator?</p>
    <%= render layout: "shared/details_dialog", locals: {
      button_text: "Send listing back to #{previous_state.downcase}",
      button_class: "btn btn-danger",
      title: "Return Listing to #{previous_state.humanize}",
    } do %>
      <div class="Box-body overflow-auto">
        <%= form_tag biztools_reject_marketplace_listing_path(listing_id) do %>
          <input type="hidden" name="state" value="<%= previous_state %>">
          <input type="hidden" name="slug" value="<%= listing_slug %>">
          <p>Are you sure you want to send <strong><%= listing_name %></strong> back to the <%= previous_state.downcase %> state so it can be edited?</p>
          <dl class="form-group">
            <dt><label for="listing_redraft_message">Message for the integrator (optional)</label></dt>
            <dd>
            <textarea autofocus name="message" id="listing_redraft_message" class="form-control"></textarea>
            </dd>
          </dl>
          <button type="submit" class="btn btn-block mt-2" data-close-dialog autofocus>
            Send listing back to <%= previous_state.downcase %>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="boxed-group dangerzone">
  <h3>Reject Listing</h3>
  <div class="boxed-group-inner clearfix">
    <p>Is this listing never going to work for the Marketplace?</p>
    <%= render layout: "shared/details_dialog", locals: {
      button_text: "Reject listing",
      button_class: "btn btn-danger",
      title: "Reject Listing",
    } do %>
      <div class="Box-body overflow-auto">
        <%= form_tag biztools_reject_marketplace_listing_path(listing_id) do %>
          <input type="hidden" name="state" value="REJECTED">
          <input type="hidden" name="slug" value="<%= listing_slug %>">
          <p>Are you sure you want to reject <strong><%= listing_name %></strong> permanently from the GitHub Marketplace?</p>
          <dl class="form-group">
            <dt><label for="listing_reject_message">Message for the integrator (optional)</label></dt>
            <dd>
            <textarea autofocus name="message" id="listing_reject_message" class="form-control"></textarea>
            </dd>
          </dl>
          <button type="submit" class="btn btn-danger btn-block mt-2" data-close-dialog autofocus>
            Reject listing permanently
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
