<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  primary_category = listing.categories.where(acts_as_filter: false).first
  secondary_category = listing.categories.where(acts_as_filter: false).second

  normal_categories = categories.reject(&:acts_as_filter?)
  filter_categories = categories.select(&:acts_as_filter?)
  selected_filter_names = listing.categories.select(&:acts_as_filter?).map(&:name)
%>

<% page_info \
  title: "Edit #{listing.name} · Marketplace Listing · Biztools",
  selected_link: :marketplace_listings %>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group" >
    <h3>Edit Listing &ldquo;<%= listing.name %>&rdquo;</h3>
    <div class="boxed-group-inner">
      <%= form_tag biztools_marketplace_listing_path(listing.slug), method: :put do %>
        <dl class="form-group mr-3 d-inline-block">
          <dt><label for="new-primary-cat">Primary category:</label></dt>
          <dd>
            <select required id="new-primary-cat" class="form-select" name="marketplace_listing[primaryCategoryName]">
              <% normal_categories.each do |category| %>
                <option <% if primary_category.name == category.name %>selected<% end %> value="<%= category.name %>"><%= category.name %></option>
              <% end %>
            </select>
          </dd>
        </dl>
        <dl class="form-group mr-3 d-inline-block">
          <dt><label for="new-secondary-cat">Secondary category:</label></dt>
          <dd>
            <select id="new-secondary-cat" class="form-select" name="marketplace_listing[secondaryCategoryName]">
              <option value="none">None</option>
              <% normal_categories.each do |category| %>
                <option <% if secondary_category && secondary_category.name == category.name %>selected<% end %> value="<%= category.name %>"><%= category.name %></option>
              <% end %>
            </select>
          </dd>
        </dl>
        <dl class="form-group d-inline-block">
          <dt><label for="filter_categories">Filter Categories:</label></dt>
          <dd>
            <input name="marketplace_listing[filterCategories][]" type="hidden">
            <details class="position-relative details-reset select-menu">
              <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button", "aria-haspopup": "menu") do %>
                Select filters
              <% end %>
              <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                <div id="filter_categories" class="select-menu-list">
                  <% filter_categories.each do |filter| %>
                    <label class="select-menu-item">
                      <input
                        type="checkbox"
                        name="marketplace_listing[filterCategories][]"
                        value="<%= filter.name %>"
                        <% if selected_filter_names.include? filter.name %>
                          checked
                        <% end %>
                      >
                      <span class="ml-2"><%= filter.name %></span>
                    </label>
                  <% end %>
                </div>
              </details-menu>
            </details>
          </dd>
        </dl>
        <% if listing.featurable? %>
          <dl class="form-group">
            <dt><label for="featured_at">Feature this listing at:</label></dt>
            <dd>
              <% if listing.featured_at? %>
                <input id="featured_at" name="marketplace_listing[featuredAt]" type="datetime-local" value="<%= listing.featured_at.in_time_zone.strftime("%Y-%m-%dT%T") %>"><%= listing.featured_at.in_time_zone.strftime("%Z") %>
              <% else %>
                <input id="featured_at" name="marketplace_listing[featuredAt]" type="datetime-local"><%= Time.now.in_time_zone.strftime("%Z") %>
              <% end %>
            </dd>
          </dl>
        <% else %>
          <p>This app is not featureable. To be featured it <b>must</b>: be approved and have a background hero image.</p>
        <% end %>
        <div class="form-checkbox border-bottom pb-3">
          <input name="marketplace_listing[isByGithub]" type="hidden" value="0">
          <label>
            <input id="is_by_github" name="marketplace_listing[isByGithub]" type="checkbox" value="1" <%= "checked" if listing.by_github? %>>
            Display “by GitHub” icon
          </label>
          <span class="note">Check this box to show an Octocat icon on the listing’s logo to indicate that this app is owned or created by GitHub.</span>
        </div>
        <fieldset>
          <legend>
            <b>Direct billing:</b>
            <p class="note" id="help-text-for-direct-billing">
              Enabling this allows the integrator to create plans where billing is handled directly by them rather than GitHub. <a class="Link--inTextBlock" href="https://github.com/github/marketplace/issues/new?template=direct-billing.md">Complete the steps in a new issue</a> before turning this on.
            </p>
          </legend>
          <div class="form-checkbox">
            <label>
              <input type="radio" <%= "checked" if listing.direct_billing_enabled? %> name="marketplace_listing[hasDirectBilling]" value="true">
              Enabled
            </label>
          </div>
          <div class="form-checkbox pb-3 border-bottom">
            <label>
              <input type="radio" name="marketplace_listing[hasDirectBilling]" <%= "checked" if !listing.direct_billing_enabled? %> value="false">
              Disabled
            </label>
          </div>
        </fieldset>
        <fieldset>
          <legend>
            <b>Copilot App:</b>
            <p class="note">
              Enabling this marks this marketplace listing as a Copilot Extension app. Only integrations can be marked as Copilot apps.
            </p>
          </legend>
          <div class="form-checkbox">
            <label>
              <input type="radio" <%= test_selector "enable_copilot" %>  <% if listing.listable_type == "OauthApplication" %>disabled<% end %> name="marketplace_listing[isCopilotApp]" value="true">
              Enabled
            </label>
          </div>
          <div class="form-checkbox pb-3 border-bottom">
            <label>
              <input type="radio" <%= test_selector "disable_copilot" %> name="marketplace_listing[isCopilotApp]" <% if listing.listable_is_oauth_application? %>disabled<% end %> name="marketplace_listing[isCopilotApp]" value="false">
              Disabled
            </label>
          </div>
        </fieldset>
        <%= render Primer::ButtonComponent.new("data-disable-with": "Saving...", "data-disable-invalid": "", type: :submit) do %>Save listing<% end %>
        <a class="d-inline-block ml-3" href="<%= biztools_marketplace_listing_path(listing.slug) %>">Cancel</a>
      <% end %>
    </div>
  </div>

  <%= render partial: "biztools/marketplace_listings/manage_featured_customers", locals: { listing: listing } %>

  <div class="boxed-group dangerzone">
    <h3>Change Listed Product</h3>
    <div class="boxed-group-inner">
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Change #{ listing.name }'s Product",
        title: "Change #{ listing.name }'s Product",
      } do %>
        <div class="Box-body overflow-auto">
          <%= form_tag biztools_marketplace_listing_path(listing.slug), method: :put do %>
            <p>Choose one of:</p>
            <dl class="form-group">
              <dt><label for="replacement-integration-id">Integration:</label></dt>
              <dd>
                <select <% if integrations.empty? %>disabled<% end %> id="replacement-integration-id" class="form-select" name="marketplace_listing[appID]">
                  <option value=""></option>
                  <% integrations.each do |integration| %>
                    <option value="<%= integration.id %>"><%= integration.name %></option>
                  <% end %>
                </select>
              </dd>
            </dl>
            <dl class="form-group">
              <dt><label for="replacement-oauth-app-id">OAuth application:</label></dt>
              <dd>
                <select <% if oauth_apps.empty? %>disabled<% end %> id="replacement-oauth-app-id" class="form-select" name="marketplace_listing[oauthApplicationDatabaseID]">
                  <option value=""></option>
                  <% oauth_apps.each do |app| %>
                    <option value="<%= app.id %>"><%= app.name %></option>
                  <% end %>
                </select>
              </dd>
            </dl>
            <div class="Box-footer">
              <button type="submit" class="btn btn-block btn-danger mt-2" data-disable-with="Updating..." autofocus>
                Change Product
              </button>
            </div>
          <% end %>
        </div>
      <% end %>
      <p>
        You can change the
        <% if listing.listable_is_oauth_application? %>
          OAuth application
        <% elsif listing.listable_is_integration? %>
          GitHub App
        <% end %>
        for this listing to another OAuth application or GitHub App.
      </p>
    </div>
  </div>
<% end %>
