<% page_info \
  title: "#{listing.name} · Marketplace Listing · Biztools",
  selected_link: :marketplace_listings %>

<%
  active_subscriptions = subscriptions.active.count
%>

<%= render layout: "biztools/biztools" do %>
  <div class="mb-4">
    <%= render partial: "biztools/marketplace_listings/listing_navigation", locals: {
      listing: listing,
      selected_link: :listing_finance
    } %>

    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        Subscriptions<%= render(Primer::Beta::Counter.new(count: subscription_count, style: "vertical-align: middle")) %>
        <div style="float: right">
          <%= form_tag biztools_marketplace_listing_subscriptions_index_path(listing.id), method: :get do |f| %>
            <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, id: "subscription-csv-#{listing.id}") do |component| %>
              <% component.with_tooltip(text: "Download Subscription Details") %>
              Export CSV
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if subscription_count < 1 %>
      <p>There are no subscriptions to this listing.</p>
    <% else %>
      <table class="width-full stafftools-table mb-2">
        <thead>
          <tr>
            <th>User/org</th>
            <th>Plan name</th>
            <th>Price interval</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% subscriptions.each do |subscription| %>
            <% user = subscription.user || User.ghost %>
            <tr>
              <td>
                <%= link_to stafftools_user_path(user) do %>
                  <%= user.display_login %>
                <% end %>
              </td>
              <td><%= subscription.subscribable.name %></td>
              <td>
                <% if subscription.user.nil? %>
                  N/A
                <% else %>
                  <%= subscription.price.format %> per <%= subscription.billing_interval %>
                <% end %>
              </td>
              <td>
                <% if subscription.cancelled? %>
                  <%= render(Primer::Beta::Octicon.new(:"x-circle")) %>
                  Cancelled
                <% elsif subscription.active? %>
                  <%= render(Primer::Beta::Octicon.new(:"check-circle")) %>
                  Active
                <% else %>
                  <%= render(Primer::Beta::Octicon.new(:"question")) %>
                  Unknown
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <div>
      <div style="float: right">
        <%= will_paginate subscriptions %>
      </div>
    </div>

    <div>
      <%= render Primer::Beta::Heading.new(tag: :h3) do %>
        Cancel subscriptions
      <% end %>
      <p>
        This will queue a job to cancel all subscriptions to this listing. This cannot be undone.
      </p>
      <%= render(Primer::Alpha::Dialog.new(
        title: "Cancel all subscriptions for #{listing.name}",
        id: "cancel-subscriptions",
      )) do |d| %>
        <% d.with_show_button(scheme: :danger) { "Cancel all subscriptions" } %>
        <% d.with_body do %>
            <p>
              This will remove <strong><%= active_subscriptions %></strong> subscriptions to <%= listing.name %>.
            </p>
        <% end %>
        <% d.with_footer do %>
          <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "cancel-subscriptions" })) { "Cancel" } %>
          <%= form_tag biztools_cancel_subscriptions_marketplace_listing_path(listing.id) do %>
            <%= render(Primer::Beta::Button.new(scheme: :danger, type: :submit)) { "Delete" } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
<% end %>
