<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  states = %w(DRAFT UNVERIFIED_PENDING VERIFICATION_PENDING_FROM_DRAFT VERIFICATION_PENDING_FROM_UNVERIFIED UNVERIFIED VERIFIED REJECTED ARCHIVED VERIFIED_CREATOR)
%>

<% page_info title: "Marketplace Listings · Biztools" %>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group">
    <h3>Search Marketplace Listings</h3>
    <%= form_tag biztools_marketplace_path, method: :get, class: "boxed-group-inner d-flex flex-items-center" do %>
      <input type="search" name="query" aria-label="Search name and description" value="<%= query %>" placeholder="Search name and description" class="form-control flex-auto">
      <select name="category_slug" aria-label="Category" class="form-select ml-2">
        <option value="">Any category</option>
        <% categories.each do |category| %>
          <option <% if category_slug == category.slug %>selected<% end %> value="<%= category.slug %>"><%= category.name %></option>
        <% end %>
      </select>
      <select name="state" aria-label="Listing state" class="form-select ml-2">
        <option <%= "selected" if current_state.blank? %> value="">Any State</option>
        <% states.each do |state| %>
          <option <% if state == current_state %>selected<% end %> value="<%= state %>"><%= state.humanize %></option>
        <% end %>
      </select>
      <%= render Primer::ButtonComponent.new(type: :submit, classes: "boxed-action") do %>
        Search
      <% end %>
      <% if query.present? || category_slug.present? || current_state.present? %>
        <a href="<%= biztools_marketplace_path %>" class="d-block ml-2">Clear</a>
      <% end %>
    <% end %>
  </div>
  <div class="boxed-group">
    <h3>
      Marketplace Listings (<%= listings.total_entries %>)
    </h3>
    <div class="Box Box--condensed">
      <% if user %>
        <div class="Box-row">
          Showing listings that can be administered by
          <a class="Link--inTextBlock" href="/biztools/users/<%= user.login %>"><img src="<%= image_path user.primary_avatar_url(48) %>" class="<%= avatar_class_names(user) %>" alt="" width="24" height="24"> <%= user.safe_profile_name %></a>:
        </div>
      <% elsif organization %>
        <div class="Box-row">
          Showing listings that are owned by
          <a class="Link--inTextBlock" href="/biztools/users/<%= organization.login %>"><img src="<%= image_path organization.primary_avatar_url(48) %>" class="<%= avatar_class_names(organization) %>" alt="" width="24" height="24"> <%= organization.safe_profile_name %></a>:
        </div>
      <% end %>
      <% if listings.total_entries < 1 %>
        <div class="Box-row">No matching Marketplace listings</div>
      <% else %>
        <%= render partial: "biztools/marketplace_listings/listings",
                   locals: { listings: listings, current_state: current_state,
                             category_slug: category_slug, query: query } %>
      <% end %>
    </div>
  </div>
<% end %>
