<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  integratable = listing.integratable
  owner = listing.owner

  previous_state = if listing.verification_pending_from_unverified?
    "unverified"
  elsif listing.verification_pending_from_draft? || listing.unverified_pending?
    "draft"
  end

  plans = listing.listing_plans.scoped.order("marketplace_listing_plans.yearly_price_in_cents")
  plans_count = listing.listing_plans.count

  screenshots = listing.screenshots.order(:sequence).first(Marketplace::ListingScreenshot::SCREENSHOT_LIMIT_PER_LISTING)

  stafftools_url = if listing.listable_is_integration?
    stafftools_user_app_url(user_id: owner.login, id: integratable.slug)
  else
    stafftools_user_application_url(user_id: owner.login, id: integratable.id)
  end
%>

<% page_info \
  title: "#{listing.name} · Marketplace Listing · Biztools",
  selected_link: :marketplace_listings %>

<%= render layout: "biztools/biztools" do %>
  <%= render partial: "biztools/marketplace_listings/listing_navigation", locals: {
    listing: listing,
    selected_link: :listing_info
  } %>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Listing information
    <% end %>
  <% end %>

  <table class="stafftools-table mb-6">
    <tr>
      <th>ID</th>
      <td><%= listing.id %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= listing.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= listing.updated_at %></td>
    </tr>
    <tr>
      <th>Avatar</th>
      <td>
        <img src="<%= image_path listing.primary_avatar_url(64) %>" alt="" width="64" height="64">
      </td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= listing.name %></td>
    </tr>
    <tr>
      <th>Slug</th>
      <td><code><%= listing.slug %></code></td>
    </tr>
    <tr>
      <th>State</th>
      <td>
        <% if listing.verified? %>
          <%= primer_octicon(:check) %>
        <% elsif listing.rejected? || listing.archived? %>
          <%= primer_octicon(:"circle-slash") %>
        <% elsif listing.verification_pending_from_draft? || listing.verification_pending_from_unverified? || listing.unverified_pending? %>
          <%= primer_octicon(:eye) %>
        <% elsif listing.draft? %>
          <%= primer_octicon(:pencil) %>
        <% end %>
        &nbsp;<%= listing.status %>
      </td>
    </tr>
      <th>Copilot App</th>
      <td>
        <%= listing.copilot_app %>
      </td>
    <tr>
      <th>Categories</th>
      <td>
        <% listing.categories.each do |category| %>
          <a class="d-block" href="<%= marketplace_category_path(category.slug) %>">
            <%= category.name %> <% if category.acts_as_filter? %>(filter)<% end %>
          </a>
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= primer_octicon(:link) %> Listing</th>
      <td>
        <%= link_to marketplace_listing_path(listing.slug) do %>
          View <%= "public" if listing.publicly_listed? %> listing
        <% end %>
      </td>
    </tr>
    <tr>
      <th><%= primer_octicon(:eye) %> Transactions</th>
      <td>
        <%= link_to marketplace_listing_insights_transactions_path(listing.slug) do %>
          View transactions
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Background color</th>
      <td>
        <code>#<%= listing.bgcolor %></code>
        <span class="d-inline-block ml-3 v-align-middle border color-border-default rounded-2 py-2 px-4" style="background-color: #<%= listing.bgcolor %>"></span>
      </td>
    </tr>
    <tr>
      <th>Text color</th>
      <td><%= listing.light_text ? "Light" : "Dark" %> text</td>
    </tr>
    <tr>
      <th>Technical lead email</th>
      <td><%= listing.technical_email %></td>
    </tr>
    <tr>
      <th>Finance lead email</th>
      <td><%= listing.finance_email %></td>
    </tr>
    <tr>
      <th>Marketing lead email</th>
      <td><%= listing.marketing_email %></td>
    </tr>
    <tr>
      <th>Security lead email</th>
      <td><%= listing.security_email %></td>
    </tr>
  </table>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Links
    <% end %>
  <% end %>

  <div class="mb-6">
    <table class="stafftools-table">
      <tr>
        <th>Privacy policy</th>
        <td>
          <a href="<%= listing.privacy_policy_url %>">
            <span class="marketplace-url-link"><%= listing.privacy_policy_url %></span>
          </a>
        </td>
      </tr>
      <tr>
        <th>Support email</th>
        <td>
          <% if listing.support_email.present? %>
            <%= listing.support_email %>
          <% else %>
            No support email
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Support</th>
        <td>
          <a href="<%= listing.support_url %>">
            <span class="marketplace-url-link"><%= listing.support_url %></span>
          </a>
        </td>
      </tr>
      <tr>
        <th>Company</th>
        <td>
          <% if listing.company_url.present? %>
            <a href="<%= listing.company_url %>">
              <span class="marketplace-url-link"><%= listing.company_url %></span>
            </a>
          <% else %>
            No company URL
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Documentation</th>
        <td>
          <% if listing.documentation_url.present? %>
            <a href="<%= listing.documentation_url %>">
              <span class="marketplace-url-link"><%= listing.documentation_url %></span>
            </a>
          <% else %>
            No documentation URL
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Installation</th>
        <td>
          <% if listing.installation_url.present? %>
            <a href="<%= listing.installation_url %>">
              <span class="marketplace-url-link"><%= listing.installation_url %></span>
            </a>
          <% else %>
            No installation URL
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Pricing</th>
        <td>
          <% if listing.pricing_url.present? %>
            <a href="<%= listing.pricing_url %>">
              <span class="marketplace-url-link"><%= listing.pricing_url %></span>
            </a>
          <% else %>
            No pricing URL
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Status</th>
        <td>
          <% if listing.status_url.present? %>
            <a href="<%= listing.status_url %>">
              <span class="marketplace-url-link"><%= listing.status_url %></span>
            </a>
          <% else %>
            No status URL
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Terms of service</th>
        <td>
          <% if listing.tos_url.present? %>
            <a href="<%= listing.tos_url %>">
              <span class="marketplace-url-link"><%= listing.tos_url %></span>
            </a>
          <% else %>
            No terms of service URL
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Plans
      <%= render(Primer::Beta::Counter.new(count: plans_count, style: "vertical-align: middle")) %>
    <% end %>
  <% end %>

  <div class="mb-6">
    <% if plans_count < 1 %>
      <p>This listing has no plans.</p>
    <% else %>
      <table class="width-full boxed-group-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Pricing model</th>
            <th>Price</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          <% plans.each do |plan| %>
            <tr>
              <td><%= plan.name %></td>
              <td>
                <%= plan.price_model.humanize %>
                <% if plan.has_free_trial? %>
                  <%= render(Primer::Beta::Label.new) { "Free trial" } %>
                <% end %>
              </td>
              <td>
                <% unless plan.price_model == "free" %>
                  <strong><%= casual_currency plan.monthly_price_in_dollars %></strong> / month
                  <% if plan.per_unit %>
                    / <%= plan.unit_name %>
                  <% end %><br>
                  <strong><%= casual_currency plan.yearly_price_in_dollars %></strong> / year
                  <% if plan.per_unit %>
                    / <%= plan.unit_name %>
                  <% end %>
                <% end %>
              </td>
              <td><%= plan.current_state.name.to_s.humanize %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>

  <div class="boxed-group">
    <h3>Feature card</h3>
    <div class="boxed-group-inner">
      <strong>Currently featured:</strong> <%= listing.featured? %><br>
      <% if listing.featured_at? %>
        <strong>Will be featured at:</strong> <%= listing.featured_at.in_time_zone.strftime("%m/%d/%Y %I:%M:%S %p %z") %>
      <% end %>

      <div class="MarketplaceJumbotron col-6 d-flex pt-md-4 py-lg-6">
        <%= render partial: "marketplace_listings/featured_listing", locals: {
              marketplace_listing: listing,
              listing_short_description: listing.short_description,
              break_logo_cache: false,
            }
        %>
      </div>
    </div>
  </div>


    <h3>Screenshots</h3>
    <div class="mb-6">
      <% if screenshots.any? %>
        <tab-container class="ScreenshotCarousel">
          <% screenshots.each_with_index do |screenshot, i| %>
            <div role="tabpanel" class="ScreenshotCarousel-screenshot anim-fade-in screenshot-<%= i %>" <% if i != 0 %>hidden<% end %>>
              <%= marketplace_optimized_image_tag(screenshot.storage_external_url(current_user), width: 670, alt: screenshot.alt_text, class: "img-responsive") %>
              <% if screenshot.caption.present? %>
                <div class="pt-2"><%= screenshot.caption %></div>
              <% end %>
            </div>
          <% end %>
          <% if screenshots.size > 1 %>
            <div role="tablist" class="ScreenshotCarousel-nav">
              <% screenshots.each_with_index do |screenshot, i| %>
                <div class="ScreenshotCarousel-navitem" role="tab" tabindex="-1" <% if i == 0 %>aria-selected="true"<% end %>>
                  <%= marketplace_optimized_image_tag(screenshot.storage_external_url(current_user), width: 670, alt: screenshot.alt_text, style: "display: block; width: 100%; max-width: 100%; height: auto") %>
                </div>
              <% end %>
            </div>
          <% end %>
        </tab-container>
      <% else %>
        <tab-container class="ScreenshotCarousel">
          <p>This listing has no screenshots.</p>
        </tab-container>
      <% end %>
    </div>

  <div class="boxed-group">
    <h3>Very short description</h3>
    <div class="boxed-group-inner">
      <pre class="marketplace-listing-markdown"><%= listing.short_description %></pre>
    </div>
  </div>
  <div class="boxed-group">
    <h3>Introductory description</h3>
    <div class="boxed-group-inner">
      <pre class="marketplace-listing-markdown"><%= listing.full_description %></pre>
    </div>
  </div>
  <div class="boxed-group">
    <h3>Detailed description</h3>
    <div class="boxed-group-inner">
      <pre class="marketplace-listing-markdown"><%= listing.extended_description %></pre>
    </div>
  </div>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <%= listing.listable_is_integration? ? "GitHub App" : "OAuth Application" %>
    <% end %>
  <% end %>

  <table class="stafftools-table mb-6">
    <tr>
      <th>ID</th>
      <td>
        <%= integratable.id %>
      </td>
    </tr>
    <tr>
      <th>Avatar</th>
      <td>
        <img src="<%= image_path integratable.preferred_avatar_url(size: 64) %>" alt="" width="64" height="64">
      </td>
    </tr>
    <tr>
      <th>Name</th>
      <td>
        <%= integratable.name %>
      </td>
    </tr>
    <tr>
      <th>Owner</th>
      <td>
        <a href="/biztools/users/<%= listing.owner.login %>">
          <%= listing.owner.login %>
        </a>
      </td>
    </tr>
    <tr>
      <th>
        <span class="float-left">
          <%= primer_octicon(:info) %>
        </span>
        Total install count
        <span class="lh-condensed color-fg-muted text-small">
          (Total includes installs outside of Marketplace)
        </span>
      </th>
      <td>
        <%= number_with_delimiter(listing.cached_installation_count) %>
      </td>
    </tr>
    <tr>
      <th>
        URL
      </th>
      <td>
        <a href="<%= integratable.url %>"><%= integratable.url %></a>
      </td>
    </tr>
    <tr>
      <th>
        <%= primer_octicon(:rocket) %> Stafftools
      </th>
      <td>
        <a href="<%= stafftools_url %>">View in Stafftools</a>
      </td>
    </tr>
    <% if Stafftools::AccessControl.authorized?(current_user, action: :create, controller: Stafftools::Users::TradeCompliance::ManualScreeningController) %>
    <tr>
      <th>
        App owner trade screening status
      </th>
      <td>
        <strong><%= owner.trade_screening_record.msft_trade_screening_status %></strong>
      </td>
    </tr>
    <% end %>
  </table>

  <div class="boxed-group">
    <h3>Edit Listing</h3>
    <div class="boxed-group-inner clearfix">
      <a href="<%= biztools_edit_marketplace_listing_path(listing.slug) %>" class="boxed-action btn">
        Advanced edit
      </a>
      <p>
        Change this listing’s categories and the app that is listed.
      </p>
    </div>
  </div>

  <% if listing.can_approve? %>
    <%= render partial: "biztools/marketplace_listings/approve_listing", locals: {
          listing_id: listing.id,
          listing_slug: listing.slug,
          listing_name: listing.name,
          unverified_pending: listing.unverified_pending?,
        }
    %>
  <% end %>

  <% if listing.can_approve? && (listing.verification_pending_from_draft? || listing.verification_pending_from_unverified? || listing.archived?) %>
    <%= render partial: "biztools/marketplace_listings/approve_creator", locals: {
          listing_id: listing.id,
          listing_slug: listing.slug,
          listing_name: listing.name,
        }
    %>
  <%end%>

  <% if listing.verified_creator? %>
    <%= render partial: "biztools/marketplace_listings/move_to_verified",
               locals: { listing_id: listing.global_relay_id, listing_name: listing.name, listing_slug: listing.slug } %>
  <%end%>

  <% if listing.can_delist? %>
    <div class="boxed-group dangerzone">
      <h3>Delist or change search index</h3>
      <div class="boxed-group-inner clearfix">
        <%= render partial: "biztools/marketplace_listings/delist_listing", locals: {
            listing_id: listing.id,
            listing_slug: listing.slug,
            listing_name: listing.name,
          }
        %>
        <%= render partial: "biztools/marketplace_listings/reindex_listing",
                   locals: { listing_id: listing.id } %>
      </div>
    </div>
  <% end %>

  <% if listing.can_reject? || listing.can_redraft? %>
    <%= render partial: "biztools/marketplace_listings/reject_listing", locals: {
          listing_id: listing.id,
          listing_slug: listing.slug,
          listing_name: listing.name,
          previous_state: previous_state,
        }
    %>
  <% end %>
<% end %>
