<div class="text-center p-responsive">
  <a href="https://github.blog/2023-10-03-sponsors-is-expanding/" class="d-inline-block text-left text-sm-center mx-sm-auto mb-6 no-underline arrow-target-mktg color-fg-muted border rounded-2 px-3 px-md-5 py-3 f4-mktg width-full width-md-auto">
    <span class="d-block d-sm-inline-block flex-self-start color-fg-sponsors text-uppercase h6-mktg text-semibold mr-1 mr-sm-2">New</span>
    GitHub Sponsors available in 35 new regions
    <span class="d-block d-sm-inline-block color-fg-accent">
      Learn more <%= svg("site/icons/chevrow.svg") %>
    </span>
  </a>
</div>
<div class="container-xl p-responsive mb-12">
  <div class="position-lg-relative">
    <div class="col-lg-9 d-none d-lg-block" style="transform: translateX(-20%) translateY(10%);">
      <picture>
        <source srcset="<%= image_path "modules/site/sponsors/sponsors-contribute-illo.webp" %>" type="image/webp">
        <img class="width-full height-auto" src="<%= image_path "modules/site/sponsors/sponsors-contribute-illo.jpg" %>" width="1178" height="800" style="max-width: 1178px;" alt="The sponsorship flow includes your support going directly to the maintainer and projects you love." decoding="async" loading="lazy">
      </picture>
    </div>
    <div class="position-lg-absolute z-1 width-full top-0 left-0">
      <h2 class="h2-mktg text-gradient-blue-purple mx-auto col-7-max text-md-center mb-4 mb-lg-6 mt-lg-8 pb-1">
        A new way to contribute <br class="d-none d-md-block">to open&nbsp;source
      </h2>
      <div class="js-build-in-trigger d-flex flex-row flex-wrap gutter-spacious" data-build-margin-bottom="10">
        <div class="js-build-in-item build-in-scale-up offset-lg-1 col-12 col-lg-5 d-flex flex-column flex-justify-center">
          <div class="ml-n3 ml-sm-n6 mr-n3 mr-sm-n6 mb-3">
            <picture>
              <source srcset="<%= image_path "modules/site/sponsors/sponsors-contribute-illo-mobile.webp" %>" type="image/webp">
              <img class="d-block d-lg-none width-full height-auto mx-auto" src="<%= image_path "modules/site/sponsors/sponsors-contribute-illo-mobile.jpg" %>" width="750" height="730" alt="The sponsorship flow includes your support going directly to the maintainer and projects you love." decoding="async" loading="lazy">
            </picture>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-5 d-flex flex-column flex-justify-center">
          <div class="js-build-in-item build-in-slideX-right">
            <p class="color-fg-subtle f2-mktg text-semibold mb-8 mb-md-6">
              <span class="color-fg-default">Invest in the open source projects you depend on.</span>
              Contributors are working behind the scenes to make open source better for everyone—give them the help and recognition they deserve.
            </p>

            <%= render "site/sponsors/components/testimonial_single_quote",
              quote: "Open source is an integral component of Stripe’s software supply chain, providing distribution that meets our users where they are and extending our platform to its fullest potential.",
              author: "Mike Fix",
              title: "OSS lead & Software Engineer, Stripe",
              handle: "mfix22",
              org: "stripe"
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
