<div class="container-xl p-responsive mb-5">
  <div class="col-lg-10 mx-auto">
    <h2 class="h2-mktg pb-2 mb-6 text-gradient-blue-purple">
      Frequently asked questions
    </h2>
    <div class="d-flex flex-row flex-wrap gutter-spacious">
      <div class="col-md-6 col-xl-4 mb-7 mb-md-9">
        <h3 class="h5-mktg mb-3">
          When can I get off the waitlist to join GitHub Sponsors?
        </h3>
        <p class="color-fg-subtle f4-mktg">
          If you’re in a supported country or region, you can join the program immediately.
          <div>
            <% if logged_in? %>
              <%= render Site::LinkComponent.new(
                text: "Get sponsored",
                url: "#{GitHub.url}/sponsors/#{current_user.to_param}/signup",
                classes: "color-fg-accent",
                size: :medium) %>
            <% else %>
              <%= render Site::LinkComponent.new(
                text: "Sign in to join",
                url: login_path(return_to: sponsors_path),
                classes: "color-fg-accent",
                size: :medium) %>
            <% end %>
          </div>
        </p>
        <p class="color-fg-subtle f4-mktg">If you’re in an unsupported country or region, join the waitlist for updates on availability in your location. While we can’t provide an estimated timeframe, we’re growing all the time!</p>
      </div>
      <div class="col-md-6 col-xl-4 mb-7 mb-md-9">
        <h3 class="h5-mktg mb-3">
          Do I need to fill out a tax form to receive sponsorships?
        </h3>
        <p class="color-fg-subtle f4-mktg">
          Yes, your tax information must be on file in order for GitHub to make payments to your bank account. Tax documents collected may vary based on your location.

          <div>
            <%= render Site::LinkComponent.new(
              text: "Learn more",
              url: "#{GitHub.help_url}/sponsors/receiving-sponsorships-through-github-sponsors/tax-information-for-github-sponsors",
              classes: "color-fg-accent",
              size: :medium) %>
          </div>
        </p>
        <p class="color-fg-subtle f4-mktg">
          Note that we do our best to help you with the Sponsors program, but we’re unable to provide you with tax guidance.
        </p>
      </div>
      <div class="col-md-6 col-xl-4 mb-9">
        <h3 class="h5-mktg mb-3">
          How do I sponsor a project?
        </h3>
        <p class="color-fg-subtle f4-mktg">
          You can start sponsoring today!
          We make it easy to find and sponsor the developers and projects you depend on.
        </p>

        <% if logged_in? %>
          <%= render Site::LinkComponent.new(
            text: "Explore your dependencies",
            url: sponsors_explore_index_url(host: GitHub.urls.host_name),
            classes: "color-fg-accent",
            size: :medium) %>
        <% else %>
          <%= render Site::LinkComponent.new(
            text: "Sign in to explore Sponsors",
            url: login_path(return_to: sponsors_explore_index_url(host: GitHub.urls.host_name)),
            classes: "color-fg-accent",
            size: :medium) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
