<div class="position-relative mb-4 mb-lg-10" data-hpc>
  <picture>
    <source srcset="<%= image_path "modules/site/sponsors/sponsors-hero-bg-800.webp" %> 800w,
      <%= image_path "modules/site/sponsors/sponsors-hero-bg-1600.webp" %> 1600w" type="image/webp">
    <img class="position-absolute top-0 left-0 width-full height-full" style="object-fit: cover; object-position: 50% 50%;" srcset="
      <%= image_path "modules/site/sponsors/sponsors-hero-bg-800.jpg" %> 800w,
      <%= image_path "modules/site/sponsors/sponsors-hero-bg-1600.jpg" %> 1600w" src="<%= image_path "modules/site/sponsors/sponsors-hero-bg-1600.jpg" %>" width="1600" height="662" alt="" aria-hidden="true">
  </picture>
  <img src="<%= image_path "modules/site/sponsors/sponsors-hero-bg-clouds.svg" %>" alt="" class="d-block d-md-none col-9 position-absolute right-0 bottom-6">
  <div class="position-absolute z-1 bottom-n2 right-3 sponsors-mona-position col-6 col-sm-4 col-md-4 col-lg-3 sponsors-mona-size" style="max-width: 429px;">
    <img src="<%= image_path "modules/site/sponsors/sponsors-mona.svg" %>" class="js-build-in sponsors-floating-mona width-full height-auto" width="429" height="570" alt="" aria-hidden="true">
  </div>
  <div class="d-flex flex-column flex-justify-center text-md-center pt-5 pt-md-8 pt-xl-12 pb-11 pb-md-12">
    <div class="container-xl p-responsive position-relative">
      <small class="d-block f5-mktg color-fg-muted text-semibold mb-2">
        GitHub Sponsors
      </small>
      <h1 class="h2-mktg sponsors-hero-headline col-11 col-sm-9 col-lg-7 mx-md-auto mb-3 mb-md-4">
        Invest in the software that powers your world
      </h1>
      <%= render "site/sponsors/components/cta_block",
        centered: true
      %>
    </div>
  </div>
</div>
