<div class="container-xl p-responsive mb-12 js-build-in-trigger" data-build-margin-bottom="10">
  <div class="d-md-flex flex-row flex-wrap gutter-spacious">
    <div class="offset-lg-1 col-md-6 col-lg-5 mb-8 mb-md-0">
      <h2 class="h2-mktg text-gradient-blue-purple mb-6">
        Invest in your supply chain
      </h2>
      <div class="js-build-in-item build-in-slideX-left mb-8 mb-md-6">
        <p class="color-fg-subtle f2-mktg text-semibold mb-3">
          <span class="color-fg-default">Sponsor the open source software your team has built its business on.</span>
          Fund the projects that make up your software supply chain to improve its performance, reliability, and stability.
        </p>
        <%= render Site::LinkComponent.new(
          text: "See your top dependencies",
          url: sponsors_explore_index_url(host: GitHub.urls.host_name),
          size: :medium,
          underlined: true) %>
      </div>

      <%= render "site/sponsors/components/testimonial_single_quote",
        quote: "At New Relic developers are at the heart of everything we do, and that includes investing in the growth of a thriving open source community.",
        author: "Jonan Scheffler, Director of Developer Relations, New Relic",
        handle: "thejonanshow",
        org: "newrelic"
      %>
    </div>

    <div class="mx-auto col-md-6 d-flex flex-column flex-justify-center flex-items-center js-build-in-item build-in-scale-up sponsors-bg-glow position-relative px-md-4" style="background-image: url('<%= image_path "modules/site/sponsors/sponsors-invest-glow.svg" %>'); background-repeat: no-repeat;">
      <picture>
        <source srcset="<%= image_path "modules/site/sponsors/invest-dependency-bg.webp" %>" type="image/webp">
        <img src="<%= image_path "modules/site/sponsors/invest-dependency-bg.png" %>" alt="Open source projects, like npm, are installed regularly. Let’s make supporting open source a part of our workflows too!" class="width-full height-auto" width="580" height="455" decoding="async">
      </picture>
      <div class="width-full box-shadow-default-mktg position-absolute">
        <%= svg('modules/site/sponsors/invest-dependency-overlay.svg', aria: false, class: 'width-full height-auto d-block js-build-in-item build-in-slideY') %>
      </div>
      <div class="position-absolute js-build-in-item sponsors-heart-burst-comp width-full text-right mr-5 mr-md-3 mt-n3" style="pointer-events: none;">
        <div class="sponsors-heart-burst">
          <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-1 js-build-in-item" alt="" loading="lazy">
          <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-2 js-build-in-item" alt="" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</div>
