<div class="container-xl p-responsive mb-md-12">
  <h2 class="h2-mktg text-gradient-blue-purple mx-auto col-8-max text-md-center mb-6 mt-lg-8 pb-1">
    Thanks to our partners
  </h2>
  <div class="mx-auto col-7-max text-md-center mb-4 mb-md-6 mb-lg-4 js-build-in build-in-scale-up build-in-animate" data-build-margin-bottom="10">
    <p class="text-gray-mktg f2-mktg text-semibold">
      <span class="text-gray-dark-mktg">We work with companies across the world to make working on open source more sustainable.</span>
    </p>
  </div>

  <div class="d-flex flex-justify-center flex-items-center flex-wrap mb-4 js-build-in build-in-scale-up build-in-animate" data-build-margin-bottom="10">
    <img src="<%= image_path("modules/site/sponsors/logos/aws.svg") %>" alt="Amazon Web Services logo" height="44" width="73" class="m-5" loading="lazy">
    <img src="<%= image_path("modules/site/sponsors/logos/stripe.svg") %>" alt="Stripe logo" height="44" width="106" class="m-5" loading="lazy">
    <img src="<%= image_path("modules/site/sponsors/logos/shopify.svg") %>" alt="Shopify logo" height="44" width="154" class="m-5" loading="lazy">
    <img src="<%= image_path("modules/site/sponsors/logos/getsentry.svg") %>" alt="Sentry logo" height="39" width="158" class="m-5" loading="lazy">
    <img src="<%= image_path("modules/site/sponsors/logos/indeed.svg") %>" alt="Indeed logo" height="44" width="132" class="ml-4 m-5 pb-2" loading="lazy">
  </div>

  <div class="text-md-center text-gray-mktg f2-mktg text-semibold mb-4 mb-lg-6 mt-3 mt-lg-4 pb-1 js-build-in build-in-scale-up build-in-animate" data-build-margin-bottom="10">
    <%= render Site::LinkComponent.new(
      text: "Join the companies using GitHub Sponsors",
      url: sponsors_explore_index_url(host: GitHub.urls.host_name),
      size: :medium,
      underlined: true
    ) %>
  </div>
</div>
