<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<div class="sponsors-section-dark overflow-x-hidden box-shadow-default-mktg position-relative py-7 py-md-10 mb-8 mb-md-12" id="regions" <%= mktg_color_theme_attributes %>>
  <div class="container-xl p-responsive">
    <h2 class="h2-mktg text-md-center color-fg-default mb-6">
      Available in <%= Billing::StripeConnect::Account.supported_regions_count %> regions
    </h2>
    <div class="sponsors-map js-build-in-trigger text-center mb-6 mx-auto position-relative" style="max-width: 817px;">
      <%= svg('modules/site/sponsors/sponsors-map-lines.svg', aria: false) %>
      <picture>
        <source srcset="<%= image_path "modules/site/sponsors/sponsors-map.webp" %>" type="image/webp">
        <img class="width-full height-auto" src="<%= image_path "modules/site/sponsors/sponsors-map.png" %>" arial-hidden="true" width="817" height="434" alt="World map, visualizing how we support each other across the globe" loading="lazy" decoding="async">
      </picture>
      <div class="sponsors-heart-group-1">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-1 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-2 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-3 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
      </div>
      <div class="sponsors-heart-group-2">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-1 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-2 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-3 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
      </div>
      <div class="sponsors-heart-group-3">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-1 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-2 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-3 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
      </div>
      <div class="sponsors-heart-group-4">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-1 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-2 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-3 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
      </div>
      <div class="sponsors-heart-group-5">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-1 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-2 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-3 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
      </div>
      <div class="sponsors-heart-group-6">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-1 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-2 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-3 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
      </div>
      <div class="sponsors-heart-group-7">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-1 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-2 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
        <img src="<%= image_path "modules/site/home/sponsors-heart.svg" %>" class="sponsors-heart-burst-heart-3 js-build-in-item position-absolute z-1" alt="Floating heart" loading="lazy">
      </div>
    </div>

    <p class="f3-mktg color-fg-muted text-md-center mb-6">
      <a href="<% if logged_in? %><%= "#{GitHub.url}/sponsors/#{current_user.to_param}/signup" %><% else %><%= login_path(return_to: sponsors_accounts_path) %><% end %>" data-ga-click="Sponsors Hero section, click, ref_page:<%= request.fullpath %>;ref_cta:Join the waitlist;ref_loc:sponsors regions section" class="Link--inTextBlock color-fg-default">Join the waitlist</a> to receive updates when we expand.<br>
      Anyone can sponsor, but you must reside in a supported region to receive funds.
    </p>

    <p class="f3-mktg color-fg-muted text-md-center mb-6">
      <%= render Site::LinkComponent.new(
          url: "#{GitHub.help_url}/sponsors/getting-started-with-github-sponsors/about-github-sponsors#supported-regions-for-github-sponsors",
          text: "View country and region list") %>
    </p>
  </div>
</div>
