<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<div class="container-xl p-responsive mb-7 mb-md-12">
  <h2 class="h2-mktg text-gradient-blue-purple mx-auto col-6-max text-md-center pb-2 mb-7 mb-md-9">
    You depend on open source every day
  </h2>
  <div class="js-build-in-trigger d-flex flex-row flex-wrap flex-lg-nowrap gutter-spacious" data-build-margin-bottom="10">
    <div class="offset-lg-1 col-12 col-lg-5 mb-6 mb-lg-0 d-flex flex-column flex-justify-center flex-items-center">
      <div class="d-inline-block js-build-in-item build-in-scale-up width-full box-shadow-default-mktg border color-border-subtle rounded-2 color-bg-default f4-mktg p-4" style="max-width: 384px;">

        <div class="d-flex mb-3">
          <%= render Site::AvatarComponent.new(handle: "curl", size: 72, rounded: 2, classes: "mr-3", alt: "cURL is a part of many devices you use daily, but it’s only managed by eight maintainers!", aria_hidden: nil) %>
          <div>
            <span class="d-block">curl <a href="https://github.com/curl" class="color-fg-subtle Link--inTextBlock">curl</a></span>
            <h3 class="mb-0 f2-mktg text-semibold">curl</h3>
          </div>
        </div>

        <p class="color-fg-subtle mb-3">
          A command line tool and library for transferring data with URL syntax, supporting HTTP, HTTPS, FTP, FTPS…
        </p>

        <ul class="list-style-none color-fg-subtle mb-4">
          <li class="mb-1">
            <%= render(Primer::Beta::Octicon.new(icon: "star", size: :small, aria: { label: "Stars" })) %>
            23,696
          </li>
          <li>
            <%= render(Primer::Beta::Octicon.new(icon: "repo-forked", size: :small, aria: { label: "Forks" })) %>
            4,899
          </li>
        </ul>

        <a href="https://github.com/sponsors/curl" class="btn btn-block f4 py-3 d-flex flex-justify-center flex-content-center lh-condensed-ultra">
          <%= primer_octicon(:heart, color: :sponsors, classes: "icon-sponsoring", mr: 1) %> Sponsor
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-5 d-flex flex-column flex-justify-center">
      <div class="js-build-in-item build-in-slideX-right">
        <p class="color-fg-subtle f2-mktg text-semibold">
          <span class="color-fg-default">
              cURL is included in almost every modern device</span>–smartphones, cars, TVs, laptops, servers, gaming consoles, printers, and beyond.
        </p>
        <div class="h3-mktg mt-4">
          10,000,000,000+
        </div>
        <div class="f3-mktg mt-2 color-fg-subtle">
          Installations of cURL worldwide
        </div>
        <div class="h3-mktg mt-4">
          800
        </div>
        <div class="f3-mktg mt-2 color-fg-subtle">
          Community contributors
        </div>
        <div class="h3-mktg mt-4">
          8
        </div>
        <div class="f3-mktg mt-2 color-fg-subtle">
          Maintainers
        </div>
      </div>
    </div>
  </div>

  <div class="js-build-in-trigger d-flex flex-wrap flex-lg-nowrap flex-row flex-lg-row-reverse gutter-spacious mt-9 mt-lg-12" data-build-margin-bottom="10">
    <div class="col-12 col-lg-6 mb-6 mb-lg-0 d-flex flex-column flex-justify-center flex-items-center">
      <div class="js-build-in-item build-in-scale-up width-full box-shadow-default-mktg border color-border-subtle rounded-2 color-bg-default f4-mktg p-4" style="max-width: 384px;">
        <div class="d-flex mb-3">
          <%= render Site::AvatarComponent.new(handle: "openssl", size: 72, rounded: 2, classes: "mr-3", alt: "cURL is a part of many devices you use daily, but it’s only managed by eight maintainers!", aria_hidden: nil) %>
          <div>
            <span class="d-block">OpenSSL <a href="https://github.com/openssl" class="color-fg-subtle Link--inTextBlock">openssl</a></span>
            <h3 class="mb-0 f2-mktg text-semibold">openssl</h3>
          </div>
        </div>

        <p class="color-fg-subtle mb-3">
          TLS/SSL and crypto library
        </p>

        <ul class="list-style-none color-fg-subtle mb-5">
          <li class="mb-1">
            <%= render(Primer::Beta::Octicon.new(icon: "star", size: :small, aria: { label: "Stars" })) %>
            17,612
          </li>
          <li>
            <%= render(Primer::Beta::Octicon.new(icon: "repo-forked", size: :small, aria: { label: "Forks" })) %>
            7,716
          </li>
        </ul>

        <a href="https://github.com/sponsors/openssl" class="btn btn-block f4 py-3 d-flex flex-justify-center flex-content-center lh-condensed-ultra">
          <%= primer_octicon(:heart, color: :sponsors, classes: "icon-sponsoring", mr: 1) %> Sponsor
        </a>
      </div>
    </div>
    <div class="offset-lg-1 col-12 col-lg-5 d-flex flex-column flex-justify-center">
      <div class="js-build-in-item build-in-slideX-left">
        <p class="color-fg-subtle f2-mktg text-semibold">
          <span class="color-fg-default">OpenSSL is used to encrypt an estimated 66% of the web</span>,
          including popular sites like Facebook, Google, and Netflix.</p>
        <div class="h3-mktg mt-4">
          1,320,000,000+
        </div>
        <div class="f3-mktg mt-2 color-fg-subtle">
          Websites use OpenSSL worldwide
        </div>
        <div class="h3-mktg mt-4">
          638
        </div>
        <div class="f3-mktg mt-2 color-fg-subtle">
          Community contributors
        </div>
        <div class="h3-mktg mt-4">
          18
        </div>
        <div class="f3-mktg mt-2 color-fg-subtle">
          Maintainers
        </div>
      </div>
    </div>
  </div>
</div>
