<% page_info \
  title: "GitHub Sponsors",
  description: "Invest in the open source projects you depend on with GitHub Sponsors.",
  richweb: {
    title: "GitHub Sponsors",
    url: request.original_url,
    description: "Invest in the open source projects you depend on with GitHub Sponsors.",
    image: image_path("modules/site/social-cards/sponsors.jpg"),
  }
%>

<% content_for :head do %>
  <%= stylesheet_bundle "feature-sponsors" %>
<% end %>

<div class="overflow-x-hidden" <%= mktg_color_theme_attributes(mode: "light") %>>
  <%= render "site/sponsors/hero" %>
  <%= render "site/sponsors/contribute" %>
  <%= render "site/sponsors/invest" %>
  <%= render "site/sponsors/stats" %>
  <%= render "site/sponsors/career" %>
  <%= render "site/sponsors/recognition" %>
  <%= render "site/sponsors/regions" %>
  <%= render "site/sponsors/faq" %>
  <%= render "site/sponsors/cta" %>
</div>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "sponsors" %>
<% end %>
