<div class="<%= class_names("float-right", "flex-auto" => width_full?) %>">
  <%= form_tag(form_action_path, method: :patch, aria: { label: action_text }) do %>
    <%= render Primer::Alpha::Dialog.new(title: action_text, id: unique_dialog_id) do |d| %>
      <% d.with_show_button(
        scheme: width_full? ? :link : :default,
        mr: width_full? ? nil : 2,
        size: :small,
      ) do %>
        <%= action_text %>
      <% end %>

      <% d.with_body(my: 2) do %>
        <%= render IgnoredUsers::NoteFieldComponent.new(
          current_organization: current_organization,
          note: note,
          text_field_id: "block-note-#{unique_dialog_id}",
        ) %>
      <% end %>

      <% d.with_footer do %>
        <%= render Primer::Beta::Button.new(data: { close_dialog_id: unique_dialog_id }) do %>
          Cancel
        <% end %>

        <%= render Primer::Beta::Button.new(
          data: { disable_with: submit_button_text },
          scheme: :primary,
          test_selector: "ignored_user_note_submit_button",
          type: :submit,
          value: "submit",
        ) do %>
          <%= submit_button_text %>
        <% end %>

        <% if note.present? %>
          <%= render Primer::Beta::Button.new(
            data: { disable_with: "Delete" },
            scheme: :danger,
            test_selector: "ignored_user_note_clear_button",
            type: :submit,
            formaction: form_action_path(clear: true),
          ) do %>
            Delete
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
