<%= render Growth::BannerComponent.new(
  icon: icon,
  border: false,
  mb: 4,
  p: 0,
  data: { test_selector: "move-work-access-message" }
) do |component| %>
  <% component.with_description(font_size: 4) do %>
    <% if feature.supported_by_plan?(move_work.target.plan) %>
      <span <%= test_selector("move-work-you-have-access-to-feature") %>>
        You have access to <%= feature.name %> in all of <%= move_work.target.name %>’s repositories,
        among <%= link_to "many more of GitHub's most valuable features", settings_org_billing_path(move_work.target), target: "_blank", class: "Link--inTextBlock" %>.
      </span>
    <% else %>
      <span <%= test_selector("move-work-you-need-to-upgrade") %>>
        To access <%= feature.name %> in its private repositores, you will need to upgrade your
        <%= move_work.target.name %> organization to <%= link_to "GitHub Team", "https://github.com/pricing#compare-features", target: "_blank", class: "Link--inTextBlock" %>.
      </span>
    <% end %>
  <% end %>
<% end %>
