<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div>
  <% if render_header? %>
    <div class="d-flex flex-items-baseline mt-4 mb-2" <%= test_selector "resource_title" %>>
      <span class="mr-2"><%= render(Primer::Beta::Octicon.new(icon_for(resource_label))) %></span>
      <span class="f4 mr-2"><%= title_for(resource_label) %></span>
      <% if resources.length > 0 %>
        <%= render Primer::ButtonComponent.new(
            type: :button,
            scheme: :link,
            data: {
              "resource-type": resource_label,
              targets: "move-work-container.selectAllTriggers",
              action: "click:move-work-container#selectResources"
            },
            font_size: 6) do %>
          Select all
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div>
    <% if resources.length > 0 %>
      <% resources.each do |resource| %>
        <article class="d-flex flex-items-center mb-2" <%= test_selector("resource-item") %>>
          <% if can_transfer_ownership?(resource) %>
            <input
              id="<%= resource_label %>-<%= resource.id %>"
              type="checkbox"
              name="move_work_choose_resources_form[<%= resource_label %>_ids][]"
              data-resource-type="<%= resource_label %>"
              data-action="change:move-work-container#selectResourceItem"
              data-targets="move-work-container.resourceItems"
              value="<%= resource.id %>"
              <%= "checked" if selected_resource_name == resource.name %>
            >
          <% else %>
            <input
              id="<%= resource_label %>-<%= resource.id %>"
              type="checkbox"
              name="move_work_choose_resources_form[<%= resource_label %>_ids][]"
              data-targets='move-work-container.resourceItems'
              data-resource-type="<%= resource_label %>"
              disabled
            >
          <% end %>
          <label class="mx-2 h5 <%= 'color-fg-muted' unless can_transfer_ownership?(resource) %>" for="<%= resource_label %>-<%= resource.id %>"><%= resource.name %></label>
          <% unless can_transfer_ownership?(resource) %>
            <%= render(Primer::Beta::Label.new(scheme: :secondary)) { "Non-transferrable" } %>
          <% end %>
        </article>
      <% end %>
    <% else %>
      <p>You do not have any <%= resource_label == :memex_project ? "projects" : resource_label.to_s.pluralize %></p>
    <% end %>
  </div>

  <% if resources.length > 0 && load_more? %>
    <div class="js-show-more-resources">
      <%= render Primer::ButtonComponent.new(
        type: :button,
        scheme: :link,
        data: {
          "resource-type": "project",
          action: "click:move-work-container#loadMoreResources"
        },
        font_size: 6) do %>
        Show more
      <% end %>
      <include-fragment loading="lazy" class="js-show-more-resources-fragment" src="<%= load_more_url %>" hidden>
      </include-fragment>
    </div>
  <% end %>
</div>
