<%# rubocop:disable Lint/InstanceVariable %>

<% page_info \
     :title => "Repository advisory ##{this_repository_advisory.ghsa_id}",
     :selected_link => :repository_advisories %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Repository advisories",
            gh_stafftools_repository_advisories_path(current_repository) %>
      /
      <%= this_repository_advisory.ghsa_id %>
    </h2>
  </div>

  <div class="site-admin-table">
    <table>
      <tr>
        <th>State</th>
        <td>
          <%= this_repository_advisory.state %>
        </td>
      </tr>
      <tr>
        <th>Creator</th>
        <td>
          <% if this_repository_advisory.user %>
            <%= link_to this_repository_advisory.user, stafftools_user_path(this_repository_advisory.user) %>
            <% if this_repository_advisory.user.spammy? %>
              &ndash;
              <%= primer_octicon(:alert, classes: "error") %>
              flagged as spam
            <% end %>
          <% else %>
            account has been deleted
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Comments</th>
        <td>
          <%= link_to \
                gh_stafftools_repository_advisory_comments_path(this_repository_advisory) do %>
            <%= pluralize (this_repository_advisory.comments.count), "comment" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Workspace</th>
        <td>
          <% if this_repository_advisory.workspace_repository %>
            <%= link_to \
                  gh_stafftools_repository_path(this_repository_advisory.workspace_repository) do %>
              <%= this_repository_advisory.workspace_repository.name_with_owner %>
            <% end %>
          <% else %>
            No associated private workspace
          <% end %>
        </td>
      </tr>
    </table>

    <%= link_to \
          "View database record",
          gh_database_stafftools_repository_advisory_path(this_repository_advisory),
          class: "more" %>
  </div>

  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Audit log
    </h2>
  </div>

  <% if stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
    <%= render \
        partial: "stafftools/audit_log",
        locals: {
          query: @query,
          logs: @logs,
          more_results: @more_results,
        } %>
  <% else %>
    <p><%= stafftools_not_authorized_html %></p>
  <% end %>

  <div class="site-admin-subhead">
    <h2 class="site-admin-subhead-heading">Delete advisory</h2>
  </div>

  <p>
    Delete this advisory and its comments.
    Associated workspaces will <em>not</em> be deleted.
    This action <strong>cannot be undone.</strong>
  </p>

  <%= render layout: "shared/details_dialog", locals: {
    button_text: "Delete advisory",
    button_class: "btn btn-danger",
    title: "Delete Advisory?",
  } do %>
    <div class="Box-body overflow-auto">
      <p>
        All comments made on this advisory will also be deleted.<br>
        This action <strong>cannot be undone.</strong>
      </p>

      <% if this_repository_advisory.workspace_repository %>
        <p><em>
          This advisory is associated with a
          <%= link_to "workspace repository",
            gh_stafftools_repository_path(this_repository_advisory.workspace_repository), class: "Link--inTextBlock" %>.
          Deleting it will <strong>not</strong> delete the workspace repository.
        </em></p>
      <% end %>

      <%= form_tag \
          gh_stafftools_repository_advisory_path(this_repository_advisory),
          :method => "delete" do %>
      <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger) do %>Delete advisory<% end %>
    <% end %>
  <% end %>
</div>
