<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<article class="border rounded color-shadow-small color-bg-default mb-4">
  <%= render(Primer::Beta::Link.new(
    classes: "flex-items-center rounded-top-2 overflow-hidden",
    data: { ga_click: "Explore, go to spotlight, location:dashboard" },
    display: :flex,
    href: "#{@spotlight.external_url}",
    style: "max-height:100px",
  )) do %>
    <img
      loading="lazy"
      src="<%= @spotlight.image %>"
      alt="<%= @spotlight.heading %>"
      class="d-block width-fit mx-auto"
    >
  <% end %>

  <div class="border-top color-bg-default p-3 rounded-bottom-2">
    <% if @spotlight.content_type.present? %>
      <h2 class="f6 color-fg-muted mb-2">
        <%= render(Primer::Beta::Text.new(
          aria: { label: "This is a recommendation by GitHub staff" },
          classes: "tooltipped tooltipped-ne",
        )) do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          <%= render Primer::Beta::Octicon.new(icon: "mark-github", mr: 1, color: :default) %>
        <% end %>
        <%= @spotlight.content_type %>
      </h2>
    <% end %>

    <div class="d-flex">
      <h3 class="h4 color-fg-default lh-condensed mb-2">
        <%= render(Primer::Beta::Link.new(
          data: {
            ga_click: "Explore, go to spotlight, location:dashboard; text:#{@spotlight.heading}",
          },
          href: @spotlight.external_url,
        )) do %>
          <%= @spotlight.heading %>
        <% end %>
      </h3>
    </div>

    <%= render Primer::Beta::Markdown.new(font_size: 6, mb: 2, color: :muted) do %>
      <%= @spotlight.description %>
    <% end %>
  </div>
</article>
