<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<article class="border rounded color-shadow-small color-bg-default my-4">
  <%= render(Primer::Beta::Link.new(
    classes: "rounded-top-2 overflow-hidden",
    data: explore_click_tracking_attributes(
      actor: current_user,
      click_target: :SPOTLIGHT_URL,
      click_visual_representation: :SPOTLIGHT_IMAGE,
      ga_click_text: "Explore, go to spotlight, location:explore feed",
    ),
    display: :block,
    href: @spotlight.external_url,
  )) do %>
    <img
      loading="lazy"
      src="<%= @spotlight.image %>"
      alt="<%= @spotlight.heading %>"
      class="d-block width-fit mx-auto"
    >
  <% end %>

  <div class="border-top color-bg-default p-3 rounded-bottom-2">
    <% if @spotlight.content_type.present? %>
      <h2 class="f6 color-fg-muted mb-3">
        <%= render(Primer::Beta::Text.new(
          aria: { label: "This is a recommendation by GitHub staff" },
          classes: "tooltipped tooltipped-ne",
        )) do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          <%= render Primer::Beta::Octicon.new(icon: "mark-github", mr: 1, color: :default) %>
        <% end %>

        <%= @spotlight.content_type %>
      </h2>
    <% end %>

    <div class="d-flex">
      <% if @spotlight.repository? %>
        <%= render Primer::Beta::Text.new(color: :muted, mr: 2, style: "margin-top:2px") do %>
          <%= render Primer::Beta::Octicon.new(icon: "repo") %>
        <% end %>
      <% end %>

      <h3 class="h3 color-fg-default wb-break-word mb-2">
        <%= render(Primer::Beta::Link.new(
          data: explore_click_tracking_attributes(
            actor: current_user,
            click_target: :SPOTLIGHT_URL,
            click_visual_representation: :SPOTLIGHT_TITLE,
            ga_click_text: "Explore, go to spotlight, location:explore feed; "\
              "text:#{@spotlight.heading}",
          ),
          href: @spotlight.external_url,
        )) do %>
          <% if @spotlight.repository? %>
            <%= render Primer::Beta::Text.new(font_weight: :normal) do %>
              <%= "#{@spotlight.github_user} /" %>
            <% end %>

            <%= @spotlight.github_repo %>
          <% else %>
            <%= @spotlight.heading %>
          <% end %>
        <% end %>
      </h3>
    </div>

    <%= render Primer::Beta::Markdown.new(font_size: 5, mb: 2, color: :muted) do %>
      <%= @spotlight.description %>
    <% end %>
  </div>
</article>
