<% unless current_user.dismissed_notice?(:dashboard_learning_pathways) %>
  <div class="js-notice">
    <%= form_tag(
      dismiss_notice_path(:dashboard_learning_pathways),
      class: "Box position-relative rounded-2 mb-4 p-3 js-notice-dismiss overflow-hidden",
      style: "z-index: 1; #{ user_feature_enabled?(:feeds_v2) ? '' : 'max-width: 300px;' }"
    ) do %>
      <img src="<%= image_path("modules/dashboard/learning-pathways/bg.png") %>" alt="" width="300" height="300" class="position-absolute top-0 left-0 width-full" style="pointer-events: none; z-index: -1; height: 100%; height: 100%; object-fit: cover">

 <%= mona_loader_static_picture(
      width: 48,
      alt: "Loading your activity...",
      class: "mt-4 hide-no-pref-motion"
    ) %>
      <div class="position-absolute p-2" style="top: 4px; right: 6px;">
        <%= render(Primer::Beta::CloseButton.new(type: :submit, color: :on_emphasis)) %>
      </div>

      <img src="<%= image_path("modules/dashboard/learning-pathways/logo.svg") %>" width="173" height="24" style="max-width: 85%; height: auto" class="d-block" alt="GitHub logo">

      <h3 class="h4 col-10 mt-3" style="color: #ffffff !important;">
        Learn from the best
      </h3>

      <p class="mt-1 mb-3 color-fg-muted text-small" style="color: rgba(255, 255, 255, 0.67) !important;">
        Unlock the full power of GitHub! Gain expertise and insights from top organizations through guided tutorials, boosting productivity, enhancing security, and enabling seamless collaboration.
      </p>

      <%= render Primer::Beta::Button.new(
        size: :medium,
        tag: :a,
        href: URI::HTTP.build({
          host: "resources.github.com",
          path: "/learn/pathways/",
          query: "utm_medium=product&utm_source=github&utm_campaign=2024Q2-Learning-Pathways"
        }).to_s,
        block: true,
        data: analytics_click_attributes(
          category: "dashboard_notices",
          action: "start_learning_with_learning_pathways",
        )
      ) do %>
        Start learning
      <% end %>
    <% end %>
  </div>
<% end %>
