<%# erblint:counter DeprecatedComponentsCounter 1 %>

<%
  copilot_user = current_copilot_user

  if !current_user.organizations&.empty?
    description = "GitHub Copilot suggests entire functions in real time, right from your editor."
    button_text = "Get Copilot"
    cta_href = "/settings/copilot"
    cta_action = "click_to_go_to_copilot_settings"
  elsif copilot_user&.eligible_for_trial?
    description = "Try GitHub Copilot free for #{Copilot.free_trial_length} days, which suggests entire functions in real time, right from your editor."
    button_text = "Try Copilot free"
    cta_href = "/github-copilot/signup"
    cta_action = "click_to_trial_copilot"
  else
    description = "Buy GitHub Copilot, which suggests entire functions in real time, right from your editor."
    button_text = "Buy Copilot"
    cta_href = "/settings/copilot"
    cta_action = "click_to_go_to_copilot_settings"
  end
%>

<% if !copilot_user.has_signed_up? && !current_user.dismissed_notice?(:dashboard_promo_copilot_ga) %>
  <div class="js-notice">
    <%= form_tag(
      dismiss_notice_path(:dashboard_promo_copilot_ga),
      class: "Box position-relative rounded-2 mb-4 p-3 js-notice-dismiss overflow-hidden",
      style: "z-index: 1; max-width: 300px;"
    ) do %>
      <picture>
        <source srcset="<%= image_path("modules/dashboard/copilot/bg.webp") %>" type="image/webp">
        <img src="<%= image_path("modules/dashboard/copilot/bg.jpg") %>" alt="" width="768" height="642" class="position-absolute top-0 left-0 width-full" style="pointer-events: none; z-index: -1; height: 100%; height: 100%; object-fit: cover">
      </picture>

      <div class="position-absolute p-2" style="top: 4px; right: 6px;">
        <%= render(Primer::Beta::CloseButton.new(type: :submit, color: :on_emphasis, style: "color: #ffffff !important")) %>
      </div>

      <img src="<%= image_path("modules/dashboard/copilot/copilot-logo.svg") %>" alt="GitHub Copilot" width="179" height="22" style="max-width: 85%; height: auto" class="d-block">

      <p class="my-3 col-8 col-xl-7 color-fg-on-emphasis text-bold h4" style="color: #ffffff !important;">
        <%= description %>
      </p>

      <%= render Primer::ButtonComponent.new(
        size: :medium,
        tag: :a,
        href: cta_href,
        block: true,
        data: analytics_click_attributes(
          category: "dashboard_notices",
          action: cta_action
        )
      ) do %>
        <%= button_text %>
      <% end %>
    <% end %>
  </div>
<% end %>
