<% unless current_user.dismissed_notice?(:dashboard_on_demand_webinar) %>
  <div class="js-notice">
    <%= form_tag(
      dismiss_notice_path(:dashboard_on_demand_webinar),
      class: "Box position-relative rounded-2 mb-4 p-3 js-notice-dismiss overflow-hidden",
      style: "z-index: 1; #{ user_feature_enabled?(:feeds_v2) ? '' : 'max-width: 300px;' }"
    ) do %>
      <img src="<%= image_path("modules/dashboard/promotions/webinar_bg.png") %>" alt="" width="300" height="300" class="position-absolute top-0 left-0 width-full" style="pointer-events: none; z-index: -1; height: 100%; height: 100%; object-fit: cover">

 <%= mona_loader_static_picture(
      width: 48,
      alt: "Loading your activity...",
      class: "mt-4 hide-no-pref-motion"
    ) %>
      <div class="position-absolute p-2" style="top: 4px; right: 6px;">
        <%= render(Primer::Beta::CloseButton.new(type: :submit, color: :on_emphasis, style: "color: #ffffff !important")) %>
      </div>

      <img src="<%= image_path("modules/dashboard/promotions/github-mark-white.svg") %>" height=32 alt="GitHub logo">

      <h3 class="h4 col-10 mt-2" style="color: #ffffff !important;">
        7 strategies for end-to-end CI/CD governance
      </h3>

      <p class="mt-1 mb-1 color-fg-muted text-small" style="color: rgba(255, 255, 255, 0.67) !important;">
        Best practices for developing and maintaining a successful end-to-end model.
      </p>

      <br>

      <%= render Primer::Beta::Button.new(
        size: :medium,
        tag: :a,
        href: "https://resources.github.com/devops/7-strategies-for-ci-cd-governance/?utm_medium=product&utm_source=github&utm_campaign=2023Q4-WBR-WW-CICD-Governance&scid=7015c000000rJncAAE",
        block: true,
        data: analytics_click_attributes(
          category: "dashboard_notices",
          action: "Watch on demand",
        )
      ) do %>
        Watch on demand
      <% end %>
    <% end %>
  </div>
<% end %>
