<% unless current_user.dismissed_notice?(:dashboard_promo_universe_ebook) %>
  <div class="js-notice">
    <%= form_tag(
      dismiss_notice_path(:dashboard_promo_universe_22_on_demand),
      class: "Box position-relative rounded-2 mb-4 p-3 js-notice-dismiss overflow-hidden",
      style: "z-index: 1; color: #fff !important; max-width: 300px;"
    ) do %>
      <picture>
        <source srcset="<%= image_path("modules/dashboard/universe22/bg.webp") %>" type="image/webp">
        <img src="<%= image_path("modules/dashboard/universe22/bg.jpg") %>" alt="" width="604" height="450" class="position-absolute top-0 left-0 width-full" style="pointer-events: none; z-index: -1; height: 100%; height: 100%; object-fit: cover">
      </picture>

      <div class="position-absolute p-2" style="top: 4px; right: 6px;">
        <%= render(Primer::Beta::CloseButton.new(type: :submit, style: "color: currentColor")) %>
      </div>

      <img src="<%= image_path("modules/dashboard/universe22/universe22-logo.svg") %>" alt="GitHub Universe 2022" width="173" height="24" style="max-width: 85%; height: auto" class="d-block">

      <h4 class="mb-4 mt-3" style="color: #fff !important;">5 strategies for successfully adopting cloud, AI, and security in 2023</h4>

      <style>
        .btn-universe22-dashboard {
          background-color: rgba(255, 255, 255, 0.16) !important;
          border-color: #adbac6 !important;
          color: #fff !important;
        }
        .btn-universe22-dashboard:hover,
        .btn-universe22-dashboard:focus {
          background-color: rgba(255, 255, 255, 0.08) !important;
          border-color: #8b949e !important;
        }
        .btn-universe22-dashboard:active {
          background-color: rgba(255, 255, 255, 0.1) !important;
          border-color: #6e7681 !important;
        }
      </style>
      <%= render Primer::Beta::Button.new(
        size: :medium,
        tag: :a,
        href: "https://resources.github.com/universe-ebook-2023/?utm_source=github&utm_medium=banner&utm_campaign=2023q3-site-ww-Universe-ebook-downloads&utm_content=Univer-ebook-via-Home-page",
        block: true,
        target: "_blank",
        classes: "btn-universe22-dashboard",
        data: analytics_click_attributes(
          category: "Dashboard notices",
          label: "ref_page:/",
          action: "click to Get the guide")
        ) do %>
        Get the guide
      <% end %>
    <% end %>
  </div>
 <% end %>
