<%= render "dashboard/include_news_feed", url: dashboard_news_feed_path %>
<div class="f6 color-fg-muted mt-4">
  <%= primer_octicon(:"light-bulb", color: :muted) %>
  <strong>ProTip!</strong>
  The feed shows you events from people you <a class="Link--inTextBlock" href="/<%= current_user.display_login %>?tab=following">follow</a> and repositories you <a class="Link--inTextBlock" href="/watching">watch</a> or <a class="Link--inTextBlock" href="/<%= current_user.display_login %>?tab=stars">star</a>.
  <br>
  <a class="f6 Link--secondary mb-2 mt-2 d-inline-block" href="<%= private_feed_path(:atom) %>"><%= primer_octicon(:rss, mr: 1) %>Subscribe to your news feed</a>
</div>
