<template hidden class="js-feed-filter-error-toast">
  <%= render partial: "shared/toast", locals: { text: "Failed to apply filters. Resetting your feed.", state: "warning", icon: "alert" } %><%# erblint:disable A11yToastMigration %>
</template>

<%= render partial: "dashboard/zero_user/items" %>

<% if !user_feature_enabled?(:feeds_v2) %>
  <% if !current_user.dismissed_notice?(UserNotice::NEW_FEED_FEEDBACK_NOTICE) %>
    <div class="Box p-3 my-4 color-shadow-medium js-notice" <%= test_selector("dismissible-new-feed-feedback-cta") %>>
      <div class="d-flex">
        <h3 class="flex-auto mb-2 h5">
          Welcome to the new feed!
        </h3>
        <%= form_tag dismiss_notice_path(UserNotice::NEW_FEED_FEEDBACK_NOTICE), class: "js-notice-dismiss ml-3" do %>
          <%= render Primer::Beta::Button.new(type: :submit, scheme: :link, color: :muted, "aria-label": "Dismiss") do %>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          <% end %>
        <% end %>
      </div>
      <p>
        We’re updating the cards and ranking all the time, so check back regularly. At first,
        you might need to follow some people or star some repositories to get started
        <%= emoji_tag(Emoji.find_by_alias("seedling"), class: "emoji emoji-icon") %>.
      </p>
      <a
        href="<%= current_user.employee? ? FeedHelper::FEEDBACK_URLS[:staff] : FeedHelper::FEEDBACK_URLS[:public_beta] %>"
        <%= test_selector("for-you-feeds-cta-feedback-link") %>
      >Send feedback</a>
    </div>
  <% end %>
<% end %>

<%= render Primer::BaseComponent.new(
  tag: :div,
  py: 6,
  hidden: true,
  display: :flex,
  justify_content: :center,
  align_items: :center,
  data: {
    target: 'feed-container.spinner',
  }) do %>
  <%= render(Primer::Beta::Spinner.new(size: :medium)) %>
<% end %>

<div data-target='feed-container.content' <%= test_selector("for-you-feed-container") %>>
  <%= render partial: "dashboard/include_for_you_feed", locals: { url: url_for_feed } %>
</div>
