<% feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : "" %>

<div class="border rounded-2 mb-3 p-4 js-notice <%=feed_v2_classes%>">
  <div class="container-lg p-0">
    <div class="width-full">
      <div class="d-flex flex-justify-between mb-1">
        <h3 class="text-normal">Join GitHub Education!</h3>
        <%= form_tag dismiss_notice_path(UserNotice::DASHBOARD_GLOBAL_CAMPUS_NOTICE), class: "js-notice-dismiss" do %>
          <%= button_tag(type: "submit",
                          class: "close-button",
                          "aria-label": "Hide this notice forever") do %>
            <%= render(Primer::Beta::Octicon.new(:x), "aria-label": "Hide this notice forever", vertical_align: :text_top) %>
          <% end %>
        <% end %>
      </div>
      <p class="f4 color-fg-muted mb-3">
        GitHub Education opens doors to new skills, tools, and a collaborative community eager to drive innovation.
        Join us and build a foundation for your future in technology.
      </p>
      <div class="flex-1 d-md-flex d-none d-md-block">
        <img src="<%= current_user.color_mode_with_default.dark? ? image_path("modules/signup/gc_banner_dark.png") : image_path("modules/signup/gc_banner_light.png")%>" alt="education" style="width:100%">
      </div>
      <%= link_to(
        "Join GitHub Education",
        "#{GitHub.education_url}/discount_requests/student_application",
        class: current_user.color_mode_with_default.dark? ? "btn mr-2 mt-3" : "btn btn-primary mr-2 mt-3",
        data: {
          **analytics_click_attributes(
            category: "dashboard",
            action: "Join GitHub Education",
            label: "link:github_education_new"
          )
        },
        target: "_blank"
      )%>
    </div>
  </div>
</div>
