<%
  view_attributes = commit_group.view_attributes(org_id: current_organization&.id, viewer: current_user)
  feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : ""
  classes = ["dashboard-rollup-item", "Box", "p-3", "mt-2", "js-feed-item-view", feed_v2_classes]
%>

<%= content_tag(:div, class: classes, data: view_attributes) do %>
  <% if commit_group.visible_commits.empty? %>
    <div>
      <strong><%= commit_group.formatted_ref %></strong> is now
      <code><%= link_to_event_head(commit_group.push_event_view) %></code>
    </div>
  <% else %>
    <span><%= pluralize(commit_group.count, "commit") %> to</span>
    <%= link_to_push_event_branch(commit_group.push_event_view) %>

    <div class="commits <%= commit_group.pusher_is_only_committer %>">
      <ul class="pt-1 list-style-none">
        <% commit_group.visible_commits.each do |commit| %>
          <li class="d-flex flex-items-baseline m-0">
            <span>
              <%= avatar_for_event_user(commit) %>
            </span>
            <code><%= link_to_event_sha(commit) %></code>
            <div class="dashboard-break-word lh-condensed">
              <blockquote>
                <%= format_commit_message_short(commit.message.to_s, commit.repository) %>
              </blockquote>
            </div>
          </li>
        <% end %>

        <% if commit_group.additional_commits_count > 0 && commit_group.comparison_url.present? %>
          <li class="f6 mt-2">
            <%= link_to(commit_group.comparison_url, class: "Link--secondary", data: event_analytics_attributes(commit_group.push_event_view, "comparison")) do %>
              <%= commit_group.additional_commits_count %> more <%= "commit".pluralize(commit_group.additional_commits_count) %> &raquo;
            <% end %>
          </li>
        <% end %>

      </ul>
    </div>
  <% end %>
<% end %>
