<%# rubocop:disable GitHub/ContentFor %>
<% details_menu_styles = current_user.feature_enabled?(:feeds_v2) ? "height: 420px; width: 364px" : "height: auto;" %>
<% if hide_following_feed? %>
  <div class="d-flex flex-justify-between flex-items-center">
    <h2 data-target="feed-container.feedTitle" <%= test_selector('feed-title') %>><%= feed_title %></h2>
    <div class="d-flex flex-items-center">

      <%= render(Primer::Beta::Link.new(href: "#{current_user.employee? ? FeedHelper::FEEDBACK_URLS[:staff] : FeedHelper::FEEDBACK_URLS[:public_beta]}", classes: "Link", scheme: :default, test_selector: "for-you-feed-feedback-link")) { "Send feedback" } %>

      <%= render Primer::Beta::Details.new(overlay: :default, reset: true, data: { "menu-trigger": "feed-filter-menu", target: 'feed-container.filterTrigger' }, classes: "js-feed-filter-menu feed-filter-menu hx_rsm", position: :relative, id: "feed-filter-menu", ml: 4, mr: current_user.feature_enabled?(:feeds_v2) ?  0 : 2) do |c| %>
        <% if current_user.feature_enabled?(:feeds_v2) %>
          <% c.with_summary(classes: "hx_rsm-trigger", style: "padding-left: 0.75rem; padding-right: 0.75rem") do |component| %>
            <% component.with_leading_visual_icon(icon: :filter) %>
            Filter
            <% component.with_trailing_visual_counter(count: 0, hidden: true, data: { target: 'feed-container.filterCounter' }) %>
          <% end %>
        <% else %>
          <% c.with_summary(button: false, classes: "hx_rsm-trigger") do |component| %>
            Filter
            <span class="dropdown-caret ml-1"></span>
          <% end %>
        <% end %>

        <% c.with_body(tag: :"details-menu",
          classes: "SelectMenu-modal dropdown-menu-sw hx_rsm-modal", position: :absolute,
          style: details_menu_styles) do %><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <include-fragment aria-label="Filters are loading" data-target="feed-container.filterFragment">
              <div class="text-center p-3 mt-2">
                <%= render(Primer::Beta::Spinner.new(size: :medium)) %>
              </div>
            </include-fragment>
        <% end %>
      <% end %>
      <% if content_for?(:right_column) %>
        <div class="hide-xl ml-2">
          <%= render Primer::Alpha::Dialog.new(
            title: "Explore",
            id: 'explore-dashboard-responsive',
            position: :right,
          ) do |d| %>
            <% d.with_show_button(icon: "sidebar-expand", "aria-label": "Explore") %>
            <% d.with_body(my: 2) do %>
              <%= content_for :right_column %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_user.feature_enabled?(:feed_posts) %>
        <%= render FeedPosts::DialogComponent.new %>
      <% end %>
    </div>
  </div>

  <%= render partial: "dashboard/for_you_feed" %>
<% elsif turbo_src %>
  <h2 class='sr-only'>Feed</h2>
  <turbo-frame id="dashboard-feed-frame" src="<%= turbo_src %>">
  </turbo-frame>
<% else %>
  <h2 class='sr-only'>Feed</h2>
  <turbo-frame id="dashboard-feed-frame">
    <%= render(Primer::Alpha::UnderlinePanels.new(label: "Your Feeds", classes: "js-feeds-tabs overflow-visible")) do |component| %>
      <% component.with_tab(id: "feed-next", panel_id: "panel-2", data: hydro_click_tracking_attributes("feeds.feed_click", { click_target: "feed.next_tab" })) do |t| %>
        <% t.with_text do %>
          For you
          <%= render GitHub::BetaFlagComponent.new(ml: 1) %>
        <% end %>
        <% t.with_panel do %>
          <%= render partial: "dashboard/for_you_feed" %>
        <% end %>
      <% end %>
      <% component.with_tab(id: "feed-original", panel_id: "panel-1", data: hydro_click_tracking_attributes("feeds.feed_click", { click_target: "feed.original_tab" })) do |t| %>
        <% t.with_text { "Following" } %>
        <% t.with_panel do %>
          <%= render partial: "dashboard/following_feed" %>
        <% end %>
      <% end %>

      <% component.with_actions(classes: "js-feedback-link", display: :flex, hidden: true, align_items: :center) do %>
        <%= render(Primer::Beta::Link.new(href: "#{current_user.employee? ? FeedHelper::FEEDBACK_URLS[:staff] : FeedHelper::FEEDBACK_URLS[:public_beta]}", classes: "Link", scheme: :default, test_selector: "for-you-feed-feedback-link")) { "Send feedback" } %>
        <%= render Primer::Beta::Details.new(overlay: :default, reset: true, data: { "menu-trigger": "feed-filter-menu" }, classes: "js-feed-filter-menu feed-filter-menu hx_rsm", position: :relative, id: "feed-filter-menu", ml: 4, mr: 2) do |c| %>
          <% c.with_summary(button: false, classes: "hx_rsm-trigger") do %>
            Filter
            <span class="dropdown-caret ml-1"></span>
          <% end %>
          <% c.with_body(tag: :"details-menu",
          classes: "SelectMenu-modal dropdown-menu-sw hx_rsm-modal",
          position: :absolute,
          style: details_menu_styles ) do %><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <include-fragment aria-label="Filters are loading" data-target="feed-container.filterFragment">
              <div class="text-center p-3 mt-2">
                <%= render(Primer::Beta::Spinner.new(size: :medium)) %>
              </div>
            </include-fragment>
          <% end %>
        <% end %>
        <% if content_for?(:right_column) %>
          <div class="hide-xl ml-2">
            <%= render Primer::Alpha::Dialog.new(
              title: "Explore",
              id: 'explore-dashboard-responsive',
              position: :right,
            ) do |d| %>
              <% d.with_show_button(icon: "sidebar-expand", "aria-label": "Explore") %>
              <% d.with_body(my: 2) do %>
                <%= content_for :right_column %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <% if current_user.feature_enabled?(:feed_posts) %>
          <%= render FeedPosts::DialogComponent.new %>
        <% end %>
      <% end %>
    <% end %>
  </turbo-frame>
<% end %>
