<include-fragment src="<%= url %>" <%= test_selector("include-for-you-feed") %>>
  <div class="text-center" data-hide-on-error>
    <%= mona_loader_picture(
      width: 48,
      alt: "Loading your activity...",
      class: "mt-4 hide-reduced-motion"
    ) %>
    <%= mona_loader_static_picture(
      width: 48,
      alt: "Loading your activity...",
      class: "mt-4 hide-no-pref-motion"
    ) %>
    <p class="color-fg-muted my-2">One moment please...</p>
  </div>
  <div class="mt-3" data-show-on-error hidden>
    <%= render Primer::Beta::Blankslate.new(
          border: true,
          bg: :default,
          border_radius: 2,
          test_selector: "for-you-feed-error",
        ) do |c| %>
          <% c.with_heading(tag: :h3) do %>
            Uh oh!
          <% end %>

          <% c.with_description do %>
            <p class="color-fg-muted my-2 mb-2">There was an error in loading the activity feed. <a <%= test_selector("for-you-feed-error-reload") %> class="Link--inTextBlock" href="/" aria-label="Reload this page">Reload this page</a>.</p>
          <% end %>
    <% end %>
  </div>
</include-fragment>
