<div class="d-flex flex-justify-between pb-2">
  <%= render(Primer::Box.new(
    display: :flex,
    justify_content: :space_between,
    align_items: :center,
    )) do %>
    <%= render(Primer::Beta::Avatar.new(
      src: avatar_url_for(current_organization, 24),
      size: 24,
      alt: "@#{current_organization.display_login} feed",
      classes: "feed-org-avatar",
      box_shadow: :none,
      shape: :square,
      border: true,
      border_radius: 2,
      mr: 2,
    )) %>

    <%= render(Primer::Beta::Heading.new(
      tag: :h3,
      data: { target: "feed-container.feedTitle" },
      test_selector: "feed-title")) do %>
      <%= current_organization.display_login %>
    <% end %>
  <% end %>
  <div class="d-flex flex-items-center">
    <a
      href="<%= current_user.employee? ? FeedHelper::FEEDBACK_URLS[:staff] : FeedHelper::FEEDBACK_URLS[:public_beta] %>"
      <%= test_selector("org-feed-feedback-link") %>
    >Send feedback</a>
    <%= render Primer::Beta::Details.new(
      overlay: :default,
      reset: true,
      data: {
        "menu-trigger": "feed-filter-menu",
        target: 'feed-container.filterTrigger'
        },
      classes: "js-feed-filter-menu feed-filter-menu hx_rsm",
      position: :relative,
      id: "feed-filter-menu",
      ml: 4,
      mr: 0) do |c| %>
      <% c.with_summary(classes: "hx_rsm-trigger", style: "padding-left: 0.75rem; padding-right: 0.75rem") do |component| %>
        <% component.with_leading_visual_icon(icon: :filter) %>
        Filter
        <% component.with_trailing_visual_counter(count: 0, hidden: true, data: { target: 'feed-container.filterCounter' }) %>
      <% end %>

      <% c.with_body(tag: :"details-menu",
        classes: "SelectMenu-modal dropdown-menu-sw hx_rsm-modal", position: :absolute,
        style: "height: 330px; width: 320px") do %><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <include-fragment aria-label="Filters are loading" data-target="feed-container.filterFragment">
            <div class="text-center p-3 mt-2">
              <%= render(Primer::Beta::Spinner.new(size: :medium)) %>
            </div>
          </include-fragment>
      <% end %>
    <% end %>
  </div>
</div>
<%= render partial: "dashboard/org_feed" %>
