<div class="top-0 px-4 overflow-y-auto pt-3 d-flex flex-column js-left-column-scroll-container">
  <% if user_can_switch_contexts? %>
    <div class="py-3 <%= user_or_global_feature_enabled?(:feeds_v2) ? "mb-2" : "mb-3 border-bottom color-border-muted" %>">
      <%= render Dashboard::ContextSwitcherComponent.new(
        current_context: current_context,
        user_can_create_orgs: user_can_create_organizations?,
        id: "switch_dashboard_context_left_column",
      ) %>
    </div>
  <% end %>

  <% if user_or_global_feature_enabled?(:topic_feeds) %>
    <div class="mb-3 ml-n2 <%= 'mt-2' if !user_can_switch_contexts? %>">
      <include-fragment src="<%= dashboard_pinned_topics_path(active: params[:topic] || params[:view]) %>" <%= test_selector("feed-topics-sidebar")%>>
      </include-fragment>
      <hr>
    </div>
  <% end %>

  <%= render partial: "dashboard/teams_and_repositories", locals: {
    teams: teams,
    viewer: viewer,
    team_query: team_query,
    user_repo_query: user_repo_query,
  } %>
</div>
