<%= render partial: "dashboard/zero_user/items" %>

<% if !current_user.dismissed_notice?(UserNotice::NEW_FEED_FEEDBACK_NOTICE) %>
  <% feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : "" %>
  <div class="Box p-3 my-2 color-shadow-medium js-notice <%=feed_v2_classes%>" <%= test_selector("dismissible-new-feed-feedback-cta") %>>
    <div class="d-flex">
      <h3 class="flex-auto mb-2 h5">
        Welcome to the new feed!
      </h3>
      <%= form_tag dismiss_notice_path(UserNotice::NEW_FEED_FEEDBACK_NOTICE), class: "js-notice-dismiss ml-3" do %>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :link, color: :muted, "aria-label": "Dismiss") do %>
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
        <% end %>
      <% end %>
    </div>
    <p>
      We’re updating the cards and ranking all the time, so check back regularly. At first,
      you might need to follow some people or star some repositories to get started
      <%= emoji_tag(Emoji.find_by_alias("seedling"), class: "emoji emoji-icon") %>.
    </p>
    <a
      href="<%= current_user.employee? ? FeedHelper::FEEDBACK_URLS[:staff] : FeedHelper::FEEDBACK_URLS[:public_beta] %>"
      <%= test_selector("org-feeds-cta-feedback-link") %>
    >Send feedback</a>
  </div>
<% end %>

<%= render Primer::BaseComponent.new(
  tag: :div,
  py: 6,
  hidden: true,
  display: :flex,
  justify_content: :center,
  align_items: :center,
  data: {
    target: 'feed-container.spinner',
  }) do %>
  <%= render(Primer::Beta::Spinner.new(size: :medium)) %>
<% end %>

<div data-target='feed-container.content' <%= test_selector("org-feed-container") %>>
  <%= render partial: "dashboard/include_org_feed", locals: { url: conduit_org_feeds_path(org: params[:org]) } %>
</div>
