<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% navigation = current_user.profile_navigation %>
<div class="<%= "p-4" if navigation.language %>" <%= test_selector("profile-navigation") %>>
  <div class="d-flex mb-3">
    <div class="text-mono text-small flex-auto min-width-0">
      <%= primer_octicon(:smiley) %>
      <% dashboard_sidebar_repo_name = ".github" %>
      <% config_repo_url = "/#{current_user.display_login}/#{dashboard_sidebar_repo_name}" %>
      <a href="<%= config_repo_url %>" class="no-underline Link--primary"><%= dashboard_sidebar_repo_name%></a><span class="color-fg-muted d-inline-block" style="padding:0px 2px;">/</span>__dashboard<span class="color-fg-muted">.md</span>
    </div>
    <% navigation_repo = current_user.navigation_repository %>
    <span class="ml-2">
      <a class="btn btn-sm" href="<%= GitHub.contact_support_url %>/feedback?category=profile&subject=Profile+navigation">Send feedback</a>
    </span>
    <span class="ml-2">
      <a href="<%= file_edit_path(current_user, navigation_repo, navigation_repo.default_branch, current_user.profile_navigation.path) %>"
          class="Box-btn-octicon btn-octicon pr-3"
          aria-label="Edit this file"
          <%= test_selector("edit-profile-navigation") %>>
          <%= render(Primer::Beta::Octicon.new(icon: "pencil")) %>
      </a>
    </span>
  </div>
  <%= format_readme(navigation, classes: "f5 p-0") %>
</div>
