<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="js-repos-container">
  <% if repositories.any? || repositories.next_page.present? || repositories.previous_page.present? %>
    <div class="hide-sm hide-md mb-1 d-flex flex-justify-between flex-items-center">
      <h2 class="f5"> Top repositories</h2>
      <% unless user_feature_enabled?(UserDashboardPin::WEB_FEATURE) %>
        <%= render(Primer::Beta::Button.new(
          tag: :a,
          href: new_repository_path,
          scheme: :primary,
          size: :small,
          test_selector: "top-repos-new-repo-button",
          data: sidebar_repository_attributes(button: true)
        )) do |component| %>
          <% component.with_leading_visual_icon(icon: :repo) %>
          New
        <% end %>
      <% end %>
    </div>

    <div class="mt-2 mb-3" role="search" aria-label="Top repositories">
      <input type="text" class="form-control input-contrast input-block mb-3 js-filterable-field js-your-repositories-search" id="dashboard-repos-filter-<%= location %>" placeholder="Find a repository&hellip;" aria-label="Find a repository&hellip;" data-url="<%= home_path %>" data-query-name="q" value="<%= query %>" autocomplete="off">
    </div>
    <% if RepositoryInteractionAbility.has_active_limits?(current_user) %>
      <%= render(Primer::Beta::Flash.new(text: :small, mb: 3, test_selector: "interaction-override-banner")) do %>
        You have interaction limits enabled on all of your repositories.
        Visit your <%= link_to "user settings", settings_interaction_limits_path, class: "Link--inTextBlock" %> to update.
      <% end %>
    <% end %>
    <%= render partial: "dashboard/repositories", locals: { user: current_user, location: location, repositories: repositories } %>
  <% else %>
    <% if user_feature_enabled?(UserDashboardPin::WEB_FEATURE) %>
      <h2 class="f4 hide-sm hide-md mb-1 f5 d-flex flex-justify-between flex-items-center">
        Top repositories
      </h2>
      <div class="border border-dashed rounded-2 p-3 mt-2" <%= test_selector "empty-top-repositories" %>>
        <p class="note mt-0">
          When you create or contribute to repositories on GitHub, we'll provide quick access to them here.
        </p>
      </div>
    <% else %>
      <h2 class="f5 mb-1">Create your first project</h2>
      <p class="notice text-left px-0" <%= test_selector("dashboard_toprepositories-cta") %>>
        Ready to start building? Create a repository for a new idea or bring over an existing repository to keep contributing to it.
      </p>
      <div>
        <%= link_to "Create repository",
                    new_repository_path,
                    class: 'btn btn-primary mr-2 mb-2',
                    data: sidebar_repository_attributes(button: true) %>
        <% if GitHub.porter_available? %>
          <%= render(Primer::Beta::Link.new(
            href: new_repository_import_path,
            classes: "no-wrap",
            test_selector: "import-repo-link",
            data: { "ga-click": "Dashboard, click, text: Import repository;" }
          )) do %>
            Import repository
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
