<%
  repo_avatar_size = 16
%>

<ul class="list-style-none" data-filterable-for="dashboard-repos-filter-<%= location %>" data-filterable-type="substring">
  <% repositories.each do |repo| %>
    <%
      visibility = repo.private? ? "private" : "public"
      repo_hash = { fork: repo.fork?, private: repo.private?, id: repo.global_relay_id }
      attributes = sidebar_repository_attributes(repo: repo_hash).merge(hovercard_data_attributes_for_repository(repo))
      aria_label = repo.template? ? nil : (repo.fork? ? "Forked repository" : "Repository")
    %>
    <li class="<%= visibility %> <%= repo.fork? ? :fork : :source %> <%= "no-description" if repo.description.blank? %>" <%= test_selector("my_top_repository") %>>
      <div class="width-full d-flex mt-2">
        <%= link_to repository_path(repo), data: attributes, class: "mr-2 d-flex flex-items-center" do %>
          <img src="<%= avatar_url_for(repo.owner, repo_avatar_size) %>"
               class=" <%= class_names(avatar_class_names(repo.owner), "avatar-small", "circle" => !repo.owner.organization?) %>"
               width="<%= repo_avatar_size %>"
               height="<%= repo_avatar_size %>"
               alt="<%= repo.name %>"
               <% if aria_label.present? %>aria-label="<%= aria_label %>"<% end %>
          >
        <% end %>
        <div class="wb-break-word">
          <%= link_to repository_path(repo), data: attributes, class: "color-fg-default lh-0 mb-2 markdown-title" do %>
            <%= repo.owner_display_login %><span class="color-fg-muted">/</span><%= repo.name %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<% if repositories.next_page.present? && !current_user.large_bot_account? %>
  <%= form_tag dashboard_ajax_my_repositories_path(location: location), method: :get, class: "ajax-pagination-form js-ajax-pagination js-more-repos-form" do %>
    <input name="repos_cursor" type="hidden" value="<%= repositories.next_page %>">
    <%= button_tag type: "submit", class: "width-full text-left btn-link f6 Link--muted text-left mt-3 border-md-0 border-top py-md-0 py-3 px-md-0 px-2", "data-disable-with": "Loading more&hellip;", data: sidebar_repository_attributes do %>
      Show more
    <% end %>
  <% end %>
<% end %>
