<%# rubocop:disable GitHub/ContentFor %>

<% content_for :right_column do %>
  <% if !GitHub.enterprise? && ExploreFeed::Spotlight.all.current.dashboard.any? %>
    <%= render(Explore::Spotlight::DashboardItemComponent.new(
      spotlight: ExploreFeed::Spotlight.all.current.dashboard.first,
    )) %>
  <% end %>

  <% if !current_user.feature_enabled?(:site_user_optout) %>
    <% unless current_user.in_onboarding_period? %>
      <div <%= test_selector('marketing-banners') %>>
        <%# put marketing content under this comment to be shown to onboarded users %>
        <% if !current_user.dismissed_notice?(:neutron_banner) && !GitHub.multi_tenant_enterprise? && !GitHub.enterprise? %>
          <%= render "dashboard/neutron_banner" %>
        <% end %>

        <% if current_user.feature_enabled?(:site_dashboard_galaxy24_virtual) %>
          <% if UserNotice.find(:dashboard_promo_galaxy24_virtual).effective? %>
            <%= render "dashboard/promos/galaxy24_virtual" %>
          <% end %>
        <% end %>

        <% if current_user.feature_enabled?(:site_universe24_4) %>
          <% if UserNotice.find(:dashboard_promo_universe24_earlybird_4).effective? %>
            <%= render "dashboard/promos/universe24_4" %>
          <% end %>
        <% end %>

        <% if current_user.feature_enabled?(:site_universe24_5) %>
          <% if UserNotice.find(:dashboard_promo_universe24_5).effective? %>
            <%= render "dashboard/promos/universe24_5" %>
          <% end %>
        <% end %>

        <% if current_user.feature_enabled?(:site_universe24_6) %>
          <% if UserNotice.find(:dashboard_promo_universe24_6).effective? %>
            <%= render "dashboard/promos/universe24_6" %>
          <% end %>
        <% end %>

        <% if current_user.feature_enabled?(:site_universe24_7) %>
          <% if UserNotice.find(:dashboard_promo_universe24_7).effective? %>
            <%= render "dashboard/promos/universe24_7" %>
          <% end %>
        <% end %>

        <% if current_user.feature_enabled?(:site_universe24_8) %>
          <% if UserNotice.find(:dashboard_promo_universe24_8).effective? %>
            <%= render "dashboard/promos/universe24_8" %>
          <% end %>
        <% end %>

        <% if current_user.feature_enabled?(:dashboard_copilot_learning_pathways) %>
          <% if UserNotice.find(:dashboard_copilot_learning_pathways_banner) %>
            <%= render "dashboard/dashboard_copilot_learning_pathways" %>
          <%end%>
        <%end%>

        <% if current_user.feature_enabled?(:dashboard_octoverse_banner_1) %>
          <% if UserNotice.find(:dashboard_octoverse_banner_1).effective? %>
            <%= render "dashboard/dashboard_octoverse_banner_1" %>
          <% end %>
        <% end %>

        <% if current_user.feature_enabled?(:site_promo_universe_ebook) %>
          <% if UserNotice.find(:dashboard_promo_universe_ebook).effective? %>
            <%= render "dashboard/dashboard_promo_universe_ebook" %>
          <% end %>
        <% end %>

        <% if current_user.feature_enabled?(:site_promo_codespaces_ga) %>
          <% if UserNotice.find(:dashboard_promo_codespaces_ga).effective? %>
            <%= render "dashboard/dashboard_promo_codespaces" %>
          <% end %>
        <% end %>

        <% if current_user.feature_enabled?(:site_copilot_ga_dashboard) %>
          <% if UserNotice.find(:dashboard_promo_copilot_ga).effective? %>
            <div <%= test_selector('dashboard-announcements') %>>
              <%= render "dashboard/dashboard_promo_copilot" %>
            </div>
          <% end %>
        <% end %>


        <%# Put new, non-Universe banners below, so that they can be temporarily turned off during Universe if necessary %>
        <% unless current_user.feature_enabled?(:site_universe23_full_focus) %>
          <% if current_user.feature_enabled?(:site_watch_on_demand_dashboard) %>
            <% if UserNotice.find(:dashboard_on_demand_webinar).effective? %>
              <%= render "dashboard/dashboard_on_demand_webinar" %>
            <% end %>
          <% end %>

          <% if current_user.feature_enabled?(:site_learning_pathways_dashboard) %>
            <% if UserNotice.find(:dashboard_learning_pathways).effective? %>
              <%= render "dashboard/dashboard_learning_pathways" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if current_user.feature_enabled?(:subdomain_cookies_message_dashboard) && !current_user.dismissed_notice?("subdomain_cookies_message") %>
      <%= render "dashboard/subdomain_cookies_notice" %>
    <% end %>
  <% end %>

  <% if show_existing_user_github_education_banner? %>
    <%= render "dashboard/github_education_banner_existing_user" %>
  <% end %>

  <% unless GitHub.enterprise? || current_user.in_onboarding_period? %>
    <include-fragment loading="lazy" src="<%= dashboard_changelog_path %>" <%= test_selector("dashboard-changelog-fragment")%>>
      <div class="d-flex flex-items-center">
        <%= render(Primer::Beta::Spinner.new(my: 6, flex: 1)) %>
      </div>
    </include-fragment>
  <% end %>

  <% featured_recommendations_repos = explore_repos.map(&:repository) %>

  <% unless current_user.in_onboarding_period? && current_user.feature_enabled?(:nux_explore_repos) %>
    <%= render(Dashboard::Sidebar::ExploreRepositoriesComponent.new(repositories: featured_recommendations_repos)) %>
  <% end %>
<% end %>
