<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="border rounded-2 mb-4 p-3 color-border-muted color-bg-default js-notice" <%= test_selector("subdomain-cookies-notice") %>>
  <div class="d-flex flex-justify-between">
    <div>
      <img src="<%= image_path "modules/dashboard/cookie.png" %>" alt="A cookie emoji" width="20" height="20">
      <h3 class="h6 mt-1 text-normal text-mono text-uppercase">Privacy statement updates</h3>
      <h3 class="h3 mb-2 lh-condensed">
        Adding web cookies for enterprise&nbsp;users
      </h3>
    </div>

    <%= form_tag dismiss_notice_path("subdomain_cookies_message"), "data-remote" => true, :class => "mt-n1 mr-n1 ml-1 js-notice-dismiss" do %>
      <%= render(Primer::IconButton.new(type: :submit, icon: :x, "aria-label": "Dismiss")) %>
    <% end %>
  </div>

  <p class="text-small color-fg-muted mb-3 mr-2">
    In order to better reach and improve the web experience for enterprise users, we are adding non-essential web cookies to certain subdomains that specifically market our products to businesses. This change is only on subdomains that reach enterprise customers, and all other GitHub subdomains will continue to operate as-is.
  </p>

  <%= render Primer::ButtonComponent.new(
    size: :medium,
    tag: :a,
    href: "https://github.com/github/site-policy/pull/582",
    block: true,
    data: analytics_click_attributes(
      category: "Dashboard notices",
      label: "ref_page:/",
      action: "click to Learn more about cookies")
  ) do %>
    Learn more
  <% end %>
</div>
