<%
  team_avatar_size = 16
%>

<ul class="list-style-none" data-filterable-for="your-teams-filter-<%= location %>" data-filterable-type="substring">
  <% teams.each do |team| %>
    <li>
      <%
        attributes = sidebar_team_attributes(team: team).merge(hovercard_data_attributes_for_team(team))
      %>
      <div class="d-flex mt-2">
        <%= link_to team_path(team), data: attributes, class: "mr-2 d-flex flex-items-center" do %>
          <img src="<%= avatar_url_for(team, team_avatar_size) %>"
               class="<%= avatar_class_names(team) %> avatar-small"
               width="<%= team_avatar_size %>"
               height="<%= team_avatar_size %>"
               alt="<%= team.name %>"
          >
        <% end %>
        <div class="wb-break-word">
          <%= link_to team_path(team), class: "color-fg-default lh-0 mb-2 markdown-title", data: attributes do %>
            <%= team.organization.display_login %><span class="color-fg-muted">/</span><%= team.slug %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<% if teams.next_page.present? %>
  <%= form_tag dashboard_ajax_your_teams_path(location: location), :method => :get, :class => "ajax-pagination-form js-ajax-pagination js-more-repos-form" do %>
    <input name="your_teams_cursor" type="hidden" value="<%= teams.next_page %>">
    <%= button_tag type: "submit", class: "width-full text-left btn-link f6 Link--muted text-left mt-3 border-md-0 border-top py-md-0 py-3 px-md-0 px-2", "data-disable-with": "Loading more&hellip;", data: sidebar_team_attributes do %>
      Show more
    <% end %>
  <% end %>
<% end %>
