<%= render Dashboard::LoadingContextComponent.new do |c| %>
  <% c.with_details do %>
    <% if user_feature_enabled?(UserDashboardPin::WEB_FEATURE) %>
      <include-fragment src="<%= dashboard_favorites_path %>" data-targets="loading-context.fragments">
        <div class="mb-4 Details js-repos-container <%= "mt-5" unless user_can_switch_contexts? %>" <%= test_selector("dashboard-favorite-repos") %> data-repository-hovercards-enabled role="navigation" aria-label="Your Favorite Repositories">
          <div class="d-flex flex-justify-between flex-items-center">
            <h2 class="hide-sm hide-md mb-1 f5">
              Favorites
            </h2>
          </div>
        </div>
        <loading-subscriber></loading-subscriber>
      </include-fragment>
    <% end %>
    <include-fragment src="<%= dashboard_my_top_repositories_path(q: user_repo_query, location: "left") %>" data-targets="loading-context.fragments">
    </include-fragment>

    <% if current_user.feature_enabled?(:nux_recent_activity) %>
      <div class="mb-4">
        <include-fragment src="<%= dashboard_recent_activity_path(organization_id: current_organization.try(:global_relay_id)) %>" data-targets="loading-context.fragments">
        </include-fragment>
      </div>
    <% else %>
      <div>
        <h2 class="f5 mt-md-4 mt-0">Recent activity</h2>
        <div class="mt-2 mb-4">
          <include-fragment src="<%= dashboard_recent_activity_path(organization_id: current_organization.try(:global_relay_id)) %>" data-targets="loading-context.fragments">
          </include-fragment>
        </div>
      </div>
    <% end %>

    <% if current_user.teams.any? %>
      <div class="js-repos-container user-repos mb-3 pb-6" id="dashboard-user-teams">
        <%= render partial: "dashboard/user_teams", locals: { teams: teams, viewer: viewer, query: team_query, location: "left" } %>
      </div>
    <% end %>
  <%end%>
<% end %>
