<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%
  auth_name = @preview_name || GitHub.auth.name
  sign_out_message = @preview_message || customized(:sign_out_message)
%>
<div class="auth-form">
  <%= render "shared/flash" %>

  <%
    # Render a custom sign-out message if it's defined
    # and we're not rendering the GHES index page
    rendering_index_page = defined?(index_page) && index_page
    if sign_out_message.present? && !rendering_index_page
  %>
    <div class="auth-form-message mb-3">
      <%= github_simplified_markdown(sign_out_message) %>
    </div>
  <% end %>

  <div class="auth-form-body<%= " Details js-details-container" if GitHub.auth.builtin_auth_fallback? %>">
    <h2 class="text-center">Sign in</h2>
    <p class="text-center">
      <% if GitHub.auth.builtin_auth_fallback? %><span class="Details-content--shown"><% end %>
        Your GitHub Enterprise instance uses <%= auth_name %> for authentication.
      <% if GitHub.auth.builtin_auth_fallback? %>
        </span>
        <span class="Details-content--hidden">Sign in with your username and password instead of <%= auth_name %> authentication.</span>
      <% end %>
    </p>
    <%= link_to(
      "Sign in with #{auth_name}",
      site_nav_login_path(force_external: true, add_account: params[:add_account]),
      class: "btn btn-primary btn-block #{"Details-content--shown" if GitHub.auth.builtin_auth_fallback?}",
      data: sign_in_link_data_attributes(location_in_page: "sign in with #{auth_name}")
    ) %>
    <% if GitHub.auth.builtin_auth_fallback? -%>
      <div class="Details-content--hidden mt-3">
        <%= form_tag session_path do -%>
          <label for="login_field">
            Username
          </label>
          <% opts = { :class => 'input-block', :id => 'login_field', :autocapitalize => :off, :autocorrect => :off } %>
          <% opts[:autofocus] = "autofocus" if !params[:login] %>
          <%= text_field_tag 'login', params[:login], opts %>

          <label for="password">
            Password <%= link_to("Forgot password?", password_reset_path, :class => "label-link Link--inTextBlock") unless GitHub.auth.external? %>
          </label>
          <% opts = { :class => 'input-block' } %>
          <% opts[:autofocus] = "autofocus" if params[:login] %>
          <%= password_field_tag 'password', GitHub.default_password, opts %>
          <%= render(partial: "/sessions/sign_in_state", locals: { ignore_return_to_path: true }) %>
          <%= submit_tag "Sign in", :class => "btn btn-primary btn-block",
            "data-disable-with" => "Signing in…" %>
        <% end -%>
      </div>
      <button class="btn-link js-details-target mt-3 d-block width-full text-center mb-3" aria-expanded="false"><%# erblint:disable ButtonHasType %>
        <span class="Details-content--shown">Sign in with a username and password</span>
        <span class="Details-content--hidden">Sign in with <%= auth_name %> authentication</span>
      </button>
    <% end -%>
  </div>
</div>
