<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info :title => "Audit log streaming", :selected_link => :audit_log_streaming %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    Audit log streaming
  <% end %>
<% end %>

<% streams.each do |stream| %>
  <div class="mb-6">
    <%= render Primer::Box.new(
      border: true,
      border_radius: 1,
      p: 2,
      display: :flex,
      align_items: :center,
      justify_content: :space_between,
    ) do |component| %>
      <div class="d-flex flex-row">
      <% if stream[:stream].enabled? %>
        <% stream_icon = "check-circle" %>
        <% icon_color = :success %>
      <% else %>
        <% stream_icon = "blocked" %>
        <% icon_color = :attention %>
      <% end %>
        <%= render(
          Primer::Beta::Octicon.new(
            icon: stream_icon,
            size: :small,
            mr: 2,
            mt: 1,
            mb: 0,
            color: icon_color,
          )
        )%>
        <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
          <% component.with_heading(tag: :h3, font_size: 5, font_weight: :bold) do %>
            Streaming to <%= stream[:sink_type] %>
          <% if  !stream[:stream].enabled && !GitHub.enterprise? %>
            <%= stream[:stream].gh_staff_disabled ?
            (render(Primer::Beta::Label.new(scheme: :warning, ml: 1)) { "Paused by Staff" }) :
            (render(Primer::Beta::Label.new(scheme: :warning, ml: 1)) { "Paused" }) %>
          <% end %>
          <%= !stream[:stream].enabled && GitHub.enterprise? ? (render(Primer::Beta::Label.new(scheme: :danger, ml: 1)) { "Stopped" }) : nil %>
          <% end %>
          <% component.with_description(mb: 0) do %>
            Streaming ID: <%= stream[:stream].id %> with details: <%= stream[:sink_details] %>
          <% end %>
        <% end %>
      </div>
      <div class="d-flex">
        <%= form_tag stafftools_audit_log_stream_check_endpoint_path(business, stream[:stream].id), method: :post do %>
          <%= render(
            Primer::ButtonComponent.new(
              mr: 2,
              type: :submit,
            )
          ) do |component| %>
            <% component.icon(icon: :eye) %>Check Endpoint<% end %>
        <% end %>
        <div class="mr-2">
          <%= render partial: "stafftools/businesses/audit_log_stream/notification_dialog", locals:  { business: business, stream: stream } %>
        </div>
        <div class="mr-2">
          <%= render partial: "stafftools/businesses/audit_log_stream/disable_stream_dialog", locals:  { business: business, stream: stream } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

