<% page_info(title: "Create an invoiced Sponsors account · #{this_organization.safe_profile_name}") %>

<% content_for :header_title do %>
  <a class="Header-link" href="<%= user_path(this_organization) %>">
    <%= this_organization %>
  </a>
<% end %>

<div class="container-md p-responsive">
  <%= render Primer::Beta::Subhead.new do |subhead| %>
    <%= subhead.with_heading(tag: :h2).with_content("Switch to invoiced billing for GitHub Sponsors") %>
  <% end %>

  <div class="mb-3" <%= test_selector "invoice-info-copy" %>>
    <p>
      Invoiced billing allows you to save on credit card fees and pay on a yearly schedule.
      This does not affect your billing schedule for other GitHub services like actions, packages, etc.
      You will not be charged during sign up.
    </p>

    <p>
      The minimum deposit amount when generating an invoice is <span class="text-bold">$5,000 USD</span>.
      We will apply a 3% fee and deposit the remaining amount into your account.
    </p>
  </div>

  <% if local_assigns[:has_any_sponsorships] %>
    <%= render(Primer::Box.new(border: true, border_radius: 2, display: :flex, direction: :column, p: 3,  mb: 3)) do %>
      <%= render Primer::Alpha::Banner.new(scheme: :warning, mb: 3) do %>
        We must cancel your current sponsorships before you can switch to invoiced billing
      <% end %>

        <div class="text-bold">
          When you switch to invoiced billing:
        </div>

        <ul class="ml-4 mb-3">
          <li>
            We will cancel your current sponsorships.
            The projects and people you currently sponsor will be notified of this cancellation.
          </li>
          <li>
            You can re-sponsor them from your past sponsors list on
            <%= link_to "billing and settings", settings_org_billing_path(this_organization), class: "Link--inTextBlock" %>.
          </li>
        </ul>


      <label class="text-normal">
        <input type="checkbox" name="sponsorship_cancellation_confirmation" form="invoiced-billing-form"
          class="v-align-middle mr-1" required <%= test_selector("sponsorship-cancellation-confirmation") %>>
        I understand that GitHub will cancel my current sponsorships
      </label>
    <% end %>
  <% end %>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h3).with_content("Billing information") %>
  <% end %>

  <%= primer_form_with(url: org_sponsoring_invoiced_billing_accounts_path, id: "invoiced-billing-form") do |fields| %>
    <country-and-region-selection>
      <%= render Orgs::Sponsorings::InvoicedBillingAccountForm.new(
        fields,
        organization: this_organization,
        creator: local_assigns[:creator],
        current_user: current_user,
      ) %>
    </country-and-region-selection>

    <div id="submit-agreement-label" class="mt-4 mb-1" <%= test_selector "terms-of-service-info" %>>
      By submitting this form you are agreeing to

      <%= render(Primer::Beta::Link.new(
        href: "#{GitHub.help_url}/site-policy/github-terms/github-terms-for-additional-products-and-features",
        underline: true,
        test_selector: "terms-of-service-link",
      )) { "additional terms of service" } %>.
    </div>
  <% end %>
</div>
