<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% view = BusinessUserAccounts::MemberView.new(query: query) %>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to view.enterprise_installations_path(user_account), class: "issues-reset-query" do %>
      <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex table-list-header table-list-header-next">
  <span class="table-list-heading table-list-header-meta flex-auto">
    <%= pluralize installations.total_entries, "server" %>
  </span>

  <div class="table-list-header-toggle pl-0">
    <details class="details-reset details-overlay select-menu d-inline-block">
      <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "select-menu-button") do %>
        Role
      <% end %>
      <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-header">
          <span class="select-menu-title">Filter by role</span>
        </div>
        <div class="select-menu-list">
          <a href="<%= view.enterprise_installations_path(user_account, query: view.apply_query_filters(role: nil)) %>"
             class="select-menu-item" aria-checked="<%= view.role.nil? %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">All</div>
          </a>
          <% value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["OWNER"].value %>
          <a href="<%= view.enterprise_installations_path(user_account, query: view.apply_query_filters(role: value)) %>"
             class="select-menu-item" aria-checked="<%= view.role == value %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Owner</div>
          </a>
          <% value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["MEMBER"].value %>
          <a href="<%= view.enterprise_installations_path(user_account, query: view.apply_query_filters(role: value)) %>"
             class="select-menu-item" aria-checked="<%= view.role == value %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Member</div>
          </a>
        </div>
      </details-menu>
    </details>
  </div>
</div>

<% if installations.total_entries > 0 %>
  <ul>
    <% installations.each do |installation| %>
      <li class="d-flex flex-items-center flex-justify-between border border-top-0 p-3">
        <%= render partial: "business_user_accounts/enterprise_installation_membership",
          locals: { installation: installation } %>
        <div class="color-fg-muted f5 text-right mr-1">
          <% account = user_account.enterprise_installation_user_accounts.find do |account|
            account.enterprise_installation_id == installation.id
          end %>
          <%= account.site_admin? ? "Owner" : "Member" %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate installations %>
  </div>
<% elsif query.present? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>

    <% c.with_heading(tag: :h2) do %>
      No installations found
    <% end %>

    <% c.with_description do %>
      <%= "This user isn't a member of any enterprise server installations matching '#{query}'." %>
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "person") %>

    <% c.with_heading(tag: :h2) do %>
      No installations found
    <% end %>

    <% c.with_description do %>
      This user isn't a member of any enterprise server installations.
    <% end %>
  <% end %>
<% end %>
