<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% view = BusinessUserAccounts::MemberView.new(query: query) %>
<%
  owner_value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["OWNER"].value
  member_value = Platform::Enums::EnterpriseUserAccountMembershipRole.values["MEMBER"].value

  if GitHub.enterprise?
    organization_path = view.user_organizations_path(user, query: view.apply_query_filters(role: nil))
    owner_organization_path = view.user_organizations_path(user, query: view.apply_query_filters(role: owner_value))
    member_organization_path = view.user_organizations_path(user, query: view.apply_query_filters(role: member_value))
    organizations_path_link = view.user_organizations_path(user)
  else
    organization_path = view.organizations_path(user_account, query: view.apply_query_filters(role: nil))
    owner_organization_path = view.organizations_path(user_account, query: view.apply_query_filters(role: owner_value))
    member_organization_path = view.organizations_path(user_account, query: view.apply_query_filters(role: member_value))
    organizations_path_link = view.organizations_path(user_account)
  end
%>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to organizations_path_link, class: "issues-reset-query" do %>
      <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex table-list-header table-list-header-next">
  <span class="table-list-heading table-list-header-meta flex-auto">
    <%= pluralize organizations.total_entries, "organization" %>
  </span>

  <div class="table-list-header-toggle pl-0">
    <details class="details-reset details-overlay select-menu d-inline-block">
      <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "select-menu-button") do %>
        Role
      <% end %>
      <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-header">
          <span class="select-menu-title">Filter by role</span>
        </div>
        <div class="select-menu-list">
          <a href="<%= organization_path %>"
             class="select-menu-item" aria-checked="<%= view.role.nil? %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">All</div>
          </a>
          <a href="<%= owner_organization_path %>"
             class="select-menu-item" aria-checked="<%= view.role == owner_value %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Owner</div>
          </a>
          <a href="<%= member_organization_path %>"
             class="select-menu-item" aria-checked="<%= view.role == member_value %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Member</div>
          </a>
        </div>
      </details-menu>
    </details>
  </div>
</div>

<% if organizations.total_entries > 0 %>
  <ul>
    <% organizations.each do |organization| %>
      <li class="d-flex flex-items-center flex-justify-between border border-top-0 p-3">
        <%= render partial: "business_user_accounts/organization_membership",
          locals: { organization: organization } %>

        <div class="color-fg-muted f5 text-right mr-1">
          <%= organization.adminable_by?(GitHub.enterprise? ? user : user_account&.user) ? "Owner" : "Member" %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate organizations %>
  </div>
<% elsif query.present? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>

    <% c.with_heading(tag: :h2) do %>
      No organizations found
    <% end %>

    <% c.with_description do %>
      <%= "This user isn't a member of any enterprise organizations matching '#{query}'." %>
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "person") %>

    <% c.with_heading(tag: :h2) do %>
      No organizations found
    <% end %>

    <% c.with_description do %>
      This user isn't a member of any enterprise organizations.
    <% end %>
  <% end %>
<% end %>
