<div class="d-flex flex-items-center flex-justify-between">
  <div class="d-flex flex-items-center mb-1">
    <div class="mr-3">
      <%= link_to team_path(team) do %>
        <%= avatar_for(team, 48, class: "avatar") %>
      <% end %>
    </div>

    <div>
      <%= link_to team_path(team), class: "f4 d-block width-fit" do %>
        <%= team.name %>
      <% end %>
    </div>

    <% if team.scim_managed_enterprise? && team.externally_managed? %>
      <% external_group = team.external_group_team.external_group %>
      <div class="m-2">
        <%= render Primer::Beta::Label.new(scheme: :secondary, title: "IdP External Group Team: #{external_group.display_name}", test_selector: "idp-group") do %>
          <%= link_to "IdP Group", external_group_members_enterprise_path(slug: business.slug, id: external_group.id) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if team.organization %>
    <div class="d-flex flex-justify-center">
      <div class="color-fg-muted f5 text-right mr-1">
        <%= primer_octicon(:organization) %> Organization: <%= link_to team.organization.display_login, user_path(team.organization), class: "Link--inTextBlock" %>
      </div>
    </div>
  <% end %>

</div>
