<% view = BusinessUserAccounts::MemberView.new(query: query) %>
<%
  if GitHub.enterprise?
    teams_path = view.user_teams_path(user)
  else
    teams_path = view.teams_path(user_account)
  end
%>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to teams_path, class: "issues-reset-query" do %>
      <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex table-list-header table-list-header-next">
  <span class="table-list-heading table-list-header-meta flex-auto">
    <%= pluralize teams.total_entries, "team" %>
  </span>
</div>

<% if teams.total_entries > 0 %>
  <ul>
    <% teams.each do |team| %>
      <li class="d-flex flex-column border border-top-0 p-3">
        <%= render partial: "business_user_accounts/team_membership",
          locals: { team: team, business: business } %>
      </li>
    <% end %>
  </ul>

  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate teams %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "person") %>

    <% c.with_heading(tag: :h2) do %>
      No teams found
    <% end %>

    <% c.with_description do %>
      This user isn't a member of any teams.
    <% end %>
  <% end %>
<% end %>
