<%
  if GitHub.enterprise?
    primary_name = user.profile_name.present? ? user.profile_name : user.display_login
    secondary_name = user.profile_name.present?  ? user.display_login : nil
    business = GitHub.global_business
  else
    primary_name = user_account.name.present? ? user_account.name : user_account.display_login
    secondary_name = user_account.name.present? ? user_account.display_login : nil
    business = user_account.business
  end
%>
<% title = capture do %>
  <span><%= primary_name  %></span>
  <% if secondary_name %>
    <span class="color-fg-muted f2-light"><%= secondary_name %></span>
  <% end %>
  <% if user&.spammy? %>
    <%= render "shared/under_review_label" %>
  <% end %>
<% end %>

<% page_info title: "#{business.name} - #{primary_name}",
  selected_link: :business_people,
  stafftools: stafftools_enterprise_path(business) %>

<%= render layout: "businesses/layout", locals: {
    business: business,
    title: title,
    back_to_link_path: people_enterprise_path(business),
    back_to_link_text: "members"
  } do %>

  <div class="gutter d-flex">
    <%= render BusinessUserAccounts::SidebarComponent.new(
      business: business,
      user: user,
      team_count: teams.total_entries,
      business_user_account: user_account,
      organization_count: organization_count,
      installation_count: installation_count,
      collab_repo_count: outside_collaborator_repositories_count
    ) %>

    <div class="col-9">
      <div class="d-flex flex-items-center flex-justify-between mb-4">
        <%= render Businesses::People::NavBarComponent.new \
          business: business,
          business_user_account: user_account,
          user: user,
          placeholder_text: "Find a team…",
          page: :teams %>
      </div>

      <div id="teams-list">
        <%= render "business_user_accounts/teams_list",
          teams: teams,
          user: user,
          user_account: user_account,
          business: business,
          query: query %>
      </div>
    </div>
  </div>
<% end %>
