<% page_info title: "Scheduled reminders beta signup", selected_link: :reminders_beta_signup %>

<%= render layout: "stafftools/stafftools" do %>
  <% if view.capable_internal_apps.any? %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Scheduled reminders: Capable Internal Apps<% end %>
    <% end %>
    <table class="boxed-group-table">
      <tr>
        <th>Integration</th>
        <th>Enabled events</th>
        <th>Reminder Event Enabled</th>
      </tr>
      <% view.capable_internal_apps.each do |app| %>
        <tr>
          <td><%= app.name %></td>
          <td><%= app.default_events.join(", ") %></td>
          <td>
          <%= form_tag stafftools_toggle_reminder_event_path(integration_id: app.id), class: "js-setting-toggle", "data-autosubmit" => true do %>
            <input type="checkbox" name="app_reminder_event_status" aria-label="Toggle <%= app.name %> reminder event status" <%= "checked" if app.default_events.include?("reminder") %>>

            <span class="status-indicator js-status-indicator">
              <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
              <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
            </span>
          <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Scheduled reminders waitlist<% end %>
  <% end %>
  <table class="boxed-group-table">
    <tr>
      <th>Organization</th>
      <th>Submitted by</th>
      <th>Waitlisted</th>
      <th>Members</th>
      <th>Slack</th>
      <th>Pull Panda</th>
    </tr>
    <% view.signups.each do |signup| %>
      <tr>
        <td>
          <%= avatar_for(signup.organization, 22, class: "avatar avatar-small mr-2") %>
          <%= link_to signup.organization.login, user_path(signup.organization) %>
        </td>
        <td>
          <%= avatar_for(signup.submitter, 22, class: "avatar avatar-small mr-2") %>
          <%= link_to signup.submitter.login, user_path(signup.submitter) %>
        </td>
        <td><%= signup.submitted_at %></td>
        <td><%= signup.organization.members_count %></td>
        <td>
          <% if signup.slack_installation %>
            <%= link_to signup.slack_installation.outdated? ? "Out-of-date" : "Latest version", stafftools_user_installation_path(signup.organization, signup.slack_installation) %>
          <% else %>
            -
          <% end -%>
        </td>
        <td>
          -
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate view.memberships %>
  </div>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle :settings %>
<% end %>
