<% page_meta = {
    title: "About GitHub",
    id: "about",
    description: "Founded in 2007, GitHub has brought millions of developers together to discover, share, and build better software. Learn more about our executives, careers, products, and community.",
  }

  page_info \
  title: page_meta[:title],
  description: page_meta[:description]

  cta_params = { ref_page: request.fullpath }
%>

<div class="pt-7 pt-lg-9">
  <div class="container-xl p-responsive">
    <div class="col-12 col-lg-7 mb-8 mx-auto text-center" data-hpc>
      <h1 class="h1-mktg mb-3">
        <span class="sr-only">About GitHub:</span>
        Let's build from here
      </h1>

      <h2 class="f2-mktg color-fg-muted text-normal mb-4">
        The complete developer platform to build, scale, and deliver secure software.
      </h2>
    </div>

    <div class="mb-6 text-center">
      <div class="d-flex gutter-condensed gutter-md-spacious col-12 col-lg-8 flex-justify-between mx-auto">
        <div class="col-6 col-sm-4 col-md-3">
          <p class="f3-mktg text-mono text-normal no-wrap"><%= GitHub::MarketingStats::USER_MILLIONS_FALLBACK %><span class="color-fg-muted">+</span> million</p>
          <p class="m-0 text-mono f6-mktg">Developers</p>
        </div>

        <div class="col-6 col-sm-4 col-md-3">
          <p class="f3-mktg text-mono text-normal no-wrap"><%= GitHub::MarketingStats::ORGS_MILLIONS_FALLBACK %><span class="color-fg-muted">+</span> million</p>
          <p class="m-0 text-mono f6-mktg">Organizations</p>
        </div>

        <div class="col-sm-4 col-md-3 d-none d-md-block">
          <p class="f3-mktg text-mono text-normal no-wrap"><%= GitHub::MarketingStats::REPO_MILLIONS_FALLBACK %><span class="color-fg-muted">+</span> million</p>
          <p class="m-0 text-mono f6-mktg">Repositories</p>
        </div>

        <div class="col-3 d-none d-sm-block">
          <p class="f3-mktg text-mono text-normal no-wrap"><%= GitHub::MarketingStats::FORTUNE_PERCENT_FALLBACK %>%</p>
          <p class="m-0 text-mono f6-mktg">Fortune 100</p>
        </div>
      </div>
    </div>

    <div class="mb-8 mx-auto text-center">
      <nav class="border p-4 rounded-2 d-inline-flex flex-column flex-md-row flex-md-items-center" aria-labelledby="social-nav-label">
        <span id="social-nav-label" class="d-block f4-mktg mb-2 mb-md-0">
          Follow us on
        </span>

        <%= render partial: "site/social_nav", locals: { analytics_category: "About"} %>
      </nav>
    </div>

    <picture>
      <source srcset="<%= image_path "modules/site/about/octocats.webp" %>" type="image/webp">
      <img src="<%= image_path "modules/site/about/octocats.png" %>" alt="An array of octocats working and enjoying life" class="mx-auto width-fit height-auto p-responsive mb-6" width="1600" height="255">
    </picture>

    <%= render "site/about/links_list" %>
  </div>
</div>
