<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%#
  NOTE: The markup in this file for repository owner, name, and visibility
  option fields is almost identical to `clone_template_repositories/new.html.erb`
  and `repositories/new.html.erb`. These files also share JavaScript behavior
  from `repositories/new.ts`. Any changes made in this file most likely need
  to be applied to those templates as well (and vice versa).
%>

<%
  new_repo_view = Repositories::CreateView.new(current_user, @repository)
  page_info :title => "#{@repository.name_with_display_owner}: Import a Repository",
      responsive: false,
      :class => 'js-page-repo-persisted'
%>
<% if view.flash_message %>
  <%= render Primer::Beta::Flash.new(scheme: :danger, full: true) do %>
    <div class="container"><%# erblint:disable DeprecatedCustomCss %>
      <%= view.flash_message %>
      <button class="flash-close js-flash-close" type="button">
        <%= primer_octicon(:x) %>
      </button>
    </div>
  <% end %>
<% end %>

<div class="container-xl d-flex my-5">
  <% form_path = repository_import_path(view.url_params) %>
  <%= form_for @repository, url: form_path, html: { class: "js-repo-form offset-3 col-6" } do |form| %>

  <%= render Primer::Beta::Subhead.new(mt: 3, mb: 5) do |component| %>
    <% component.with_heading(tag: :h2) do %>Import your project to GitHub<% end %>
    <% component.with_description do %>
      Import all the files, including the revision history, from another version control system.
    <% end %>
  <% end %>

  <%= render(Primer::Beta::Flash.new(scheme: :warning, mt: 2, test_selector: "prebuild-usage-message")) do %>
    Support for importing Mercurial, Subversion and Team Foundation Version Control (TFVC) repositories will end
    on April 12, 2024. For more details, see the <a class="Link--inTextBlock" href="https://github.blog">changelog</a>.
  <% end %>

  <div class="clearfix mb-5">
    <dl class="form-group m-0">
      <dt>
        <h3 class="mb-2">
          <label class="text-normal" for="vcs_url">Your old repository’s clone URL</label>
        </h3>
      </dt>
      <dd>
        <%=
          url_field_tag(
            :vcs_url,
            nil,
            placeholder:        "https://svn.example.org/code/svn",
            class:              "long js-repo-url",
            required:           true,
            autofocus:          "",
            value:              @initial_url,
            "aria-describedby": "repo-url-warning repo-url-error"
          )
        %>
      </dd>
      <dd id="repo-url-warning" class="form-group float-left mt-0 warn">
        <div class="warning js-insecure-url-warning" hidden>
          This repository will be imported over an <strong>unencrypted connection</strong>
        </div>
      </dd>
      <dd id="repo-url-error" class="form-group float-left mt-0 errored">
        <div class="error js-svn-url-error" hidden>
          The SVN protocol is <strong>not supported</strong>
        </div>
        <div class="error js-git-url-error" hidden>
          The Git protocol is <strong>not supported</strong>
        </div>
      </dd>
    </dl>
    <div class="mt-2 mb-0">
      Learn more about the types of
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "supported VCS.",
        button_class: "btn-link",
        title: "Supported version control"
      } do %>
        <div class="Box-body">
          We support importing repositories from Git, Subversion, Mercurial, and TFS. Here are some example urls.
          <ul class="ml-3 mt-3">
            <li><strong>https://example.com/svn/</strong> &lt;= Don’t include trunk or branches</li>
            <li><strong>https://example.com/hg</strong></li>
            <li><strong>https://tfs.example.com/tfs</strong>	&lt;= We’ll figure out which project next</li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mb-5">
    <h3 class="mb-2 text-normal">Your existing repository</h3>
    <%= render Primer::Beta::Button.new(tag: :a, href: "/new/import", size: :small, scheme: :link, float: :right) do %>Change repository<% end %>
    <div>
      <%= primer_octicon(@repository.repo_type_icon, mr: 1, color: @repository.repo_type_icon == "repo" ? :muted : nil) %>
      <%= @repository.owner %>/<strong><%= @repository.name %></strong>
    </div>
  </div>

  <hr aria-hidden="true">

  <div class="form-actions">
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, "data-disable-with": "Preparing import&hellip;") do %>
      Begin import
    <% end %>
    <%= render Primer::ButtonComponent.new(scheme: :invisible, float: :right, mt: 1, classes: "js-repository-import-projects-cancel-button", "data-disable-invalid": "") do %><strong>Cancel</strong><% end %>
  </div>
  <% end %>
  <%= form_tag repository_import_path(view.url_params), :method => :delete, :class => "js-repository-import-projects-cancel-form" do %><% end %>
</div>
