<% page_info \
  title: page.title,
  description: page.seo.description,
  richweb: {
    title: page.seo.title,
    url: request.original_url,
    description: page.seo.description,
    image: page.seo.image.url,
  }
%>

<div class="container-xl pt-6 pt-md-8 pb-10 pb-md-11 p-responsive">
  <div class="d-flex flex-wrap gutter-spacious flex-justify-between">
    <div class="col-12 col-lg-6 offset-md-1">
      <div class="h6-mktg text-semibold color-fg-muted mb-2">
        <%= page.content.kicker %>
      </div>

      <h1 class="h1-mktg mb-7 mb-md-8" data-hpc>
        <%= page.content.heading %>
      </h1>

      <div class="f2-mktg color-fg-muted mb-5 mb-md-6">
        <%= contentful_rich_text(page.content.subheading) %>
      </div>

      <% page.content.sections.each do |section| %>
        <%= render Site::Contentful::Legal::SectionComponent.new(section: section) %>
      <% end %>

      <h2 class="h6-mktg mb-2">
        <%= page.content.license.title %>
      </h2>

      <%= render Site::Contentful::SimpleRichTextComponent.new(text: page.content.license.text, classes: ["Links--underline f4-mktg color-fg-muted"]) %>
    </div>

    <div class="col-5 d-none d-lg-block">
      <%= svg("site/enterprise/legal-bg.svg", class: "mt-lg-8 width-full", aria_hidden: true) %>
    </div>
  </div>
</div>
