<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "#{current_repository.nwo} - Discussions" %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless d-flex">
    <h2 class="site-admin-subhead-heading flex-auto">Discussions</h2>
  </div>

  <% if discussions.any? %>
    <table class="site-admin-table">
      <% discussions.each do |discussion| %>
        <tr>
          <td class="tiny">
            <%= discussion_icon(discussion) %>
          </td>
          <td class="tiny">
            <%= link_to "##{discussion.number}", gh_stafftools_repository_discussion_path(discussion) %>
          </td>
          <td>
            Created by <%= link_to discussion.author, stafftools_user_path(discussion.author), class: "Link--inTextBlock" %>
          </td>
          <td class="right-align">
            <%= discussion.created_at %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate discussions, params: { user_id: params[:user_id], repository: params[:repository] } %>
    </div>

  <% else %>
    <p class="site-admin-blankstate">
      No discussions.
    </p>
  <% end %>
</div>

<%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
  <% component.with_heading(tag: :h2) do %>
    Categories
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(mb: 3)) do |component| %>
  <% component.with_row do %>
    <div>
      <h4>Category limit override</h4>
      <p class="pb-0" id="category-limit-override-desc">
        Repositories can only have <strong><%= DiscussionCategory::MAX_CATEGORIES_PER_REPO %></strong> categories by default.
        In rare cases, we can increase this limit for some repositories.
      </p>
      <% if category_limit_override.present? %>
        <p class="color-fg-attention">
          An override is currently active.
          The maximum categories for this repository is <strong><%= category_limit_override %></strong>.
        </p>
      <% end %>
    </div>
    <div class="d-flex flex-items-start">
      <%= form_with(
        url: stafftools_repository_category_limit_override_path(current_repository.owner, current_repository.name),
        method: :put,
      ) do |f| %>
        <%= f.text_field :limit,
          class: "text-center",
          placeholder: DiscussionCategory::MAX_CATEGORIES_PER_REPO.to_s,
          value: category_limit_override,
          size: "3",
          "aria-labelledby": "category-limit-override-desc"
        %>
        <%= render Primer::ButtonComponent.new(type: :submit) do %>
          Save
        <% end %>
      <% end %>
      <% if category_limit_override.present? %>
        <%= form_with(
          url: stafftools_repository_category_limit_override_path(current_repository.owner, current_repository.name),
          method: :delete,
        ) do |f| %>
          <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, ml: 1) do %>
            Remove override
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
  <% component.with_heading(tag: :h2) do %>
    Voting
  <% end %>
<% end %>
