<actions-status-badge-form>
  <div data-replace-remote-form-target>
    <%= form_with(
      url: configure_path,
      method: :get,
      enforce_utf8: false,
      data: {
        target: "actions-status-badge-form.form",
        replace_remote_form: true
      }) do |f|
    %>
      <%= link_to defined?(workflow_url) ? workflow_url : badge_path do %>
        <img
          src="<%= badge_path %>"
          alt="Workflow status badge"
          loading="lazy"
          height="20">
      <% end %>
      <%= render(Primer::Alpha::FormControl.new(label: "Branch", full_width: true)) do |component| %>
        <% component.with_input do |input_arguments| %>
          <%= render(Primer::Alpha::SelectPanel.new(
            title: "Find a branch",
            id: "badge-branch-menu",
            dynamic_label: true,
            dynamic_label_prefix: "Branch",
            no_results_label: "No matching branches.",
            select_variant: :single,
            src: ref_list_select_menu_path(
              current_branch: branch,
              repository: current_repository.name,
              user_id: current_repository.owner_display_login,
              type: "branch"
            ),
            form_arguments: {
              builder: f,
              name: "branch"
            }
          )) do |menu| %>
            <% menu.with_show_button(block: true, align_content: :start, aria: { label: branch.presence ? "Branch: #{branch.presence}" : "Branch: Default branch" }) do |button| %>
              <% button.with_leading_visual_icon(icon: :repo) %>
              <% button.with_trailing_action_icon(icon: :"triangle-down") %>
              <%= branch.presence || "Default branch" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <dl class="form-group">
        <%# Generate a unique DOM ID since this partial is used from both the desktop and mobile dropdowns %>
        <% modal_dom_id = SecureRandom.uuid %>
        <dt><label for="<%= modal_dom_id %>">Event</label></dt>
        <dd>
          <select class="form-select width-full" id="<%= modal_dom_id %>" name="event" value="<%= event %>" data-autosubmit>
            <option value="">Default</option>
            <%= options_for_select CheckSuite::ACTIONS_EVENTS, event %>
          </select>
        </dd>
      </dl>
      <textarea
        aria-label="Markdown for the workflow status badge"
        readonly
        class="form-control width-full input-monospace f5 lh-condensed js-size-to-fit"
        data-autoselect
        rows="4"
        style="resize: vertical;"
        id="badge-markdown"><%= defined?(workflow_url) ? "[![#{workflow_name}](#{badge_url})](#{workflow_url})" : "![#{workflow_name}](#{badge_url})" %></textarea>
      <%= render Primer::Beta::ClipboardCopy.new(mt: 3, classes: "btn btn-primary btn-block", for: "badge-markdown", "data-copy-feedback": "Copied!", "data-tooltip-direction": "n", "aria-label": "Copy status badge Markdown") do %>
        <%= primer_octicon(:copy, vertical_align: :text_bottom) %>
        Copy status badge Markdown
      <% end %>
    <% end %>
  </div>
</actions-status-badge-form>
