<% page_info title: "Audit log", selected_link: :org_audit_log_ip_disclosure_path,
  stafftools: stafftools_user_path(organization)%>
<%= render layout: "orgs/settings/layout",
  locals: {
    organization: organization,
    title: "Audit log",
    container_attributes: "itemscope itemtype='http://schema.org/Organization'"
  } do %>

  <%= render "orgs/audit_log/tabs", organization: organization %>

  <% if this_organization.can_enable_audit_log_ip_disclosure? %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2, display: :flex, align_items: :center) do %>Disclose actor IP addresses in audit logs<% end %>
    <% end %>
    <div class="mt-4">
      <%= form_for this_organization, url: org_audit_log_event_settings_update_path(this_organization), method: :put do |f| %>
        <div class="form-checkbox">
          <%= f.check_box :source_ip_disclosure_enabled?, {
            disabled: !this_organization.can_disable_audit_log_ip_disclosure?
          }, "on", "off" %>
          <%= f.label :source_ip_disclosure_enabled? do %>Enable source IP disclosure<% end %>
          <p class="note color-fg-muted">
            Enabling will allow you to view IP addresses of current members for organization audit log events. As this feature makes your users' IP addresses
            automatically available, you should review this change with your legal team to determine whether any user notification is required.
            When enabled at the enterprise level it will be automatically enabled for all organizations owned by the enterprise, the reverse is not true.
          </p>
        </div>
        <%= render Primer::Beta::Button.new(type: :submit, ml: 3, disabled: !this_organization.can_disable_audit_log_ip_disclosure?) do %>Save<% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
