<%# `view` is an instance of Orgs::AuditLog::IndexPageView %>

<% if view.show_feedback_survey %>
  <%= render AuditLog::FeedbackLinkComponent.new(
    survey_id: "audit-log-org-feedback-survey",
    mb: 3,
  ) do |component| %>
    <% component.with_heading do %>
      Can you give us some feedback?
    <% end %>
    <% component.with_description do %>
      Tell us how you're using the audit log. <%= render(Primer::Beta::Link.new(href: AuditLog::FeedbackLinkComponent::FEEDBACK_SCHEDULING_URL, classes: "Link--inTextBlock")) { "Book some time" } %> with us to share how you're using the audit log and share any feedback you may have.
    <% end %>
  <% end %>
<% end %>

<% page_info responsive: false, class: view.page_class, title: view.page_title, selected_link: :audit_log %>

<%= render layout: "orgs/settings/layout" ,
  locals: {
    organization: view.organization,
    title: "Audit log",
    container_attributes: "itemscope itemtype='http://schema.org/Organization'"
  } do %>
  <%= render "orgs/audit_log/tabs", organization: view.organization %>
  <div id="audit-log-search" class="audit-log-search" data-hpc>
    <%= render "audit_log/results_fragment", view: view %>
  </div>
<% end %>
