<%= render(Primer::Beta::BorderBox.new(padding: :condensed, test_selector: "scale-set-statistics")) do |component| %>
  <% component.with_header(display: :flex, color: :muted, font_size: :small) do %>
    <div class="flex-1">
      Status
    </div>
    <div class="col-2">
    </div>
    <div class="col-1">
    </div>
  <% end %>
  <% component.with_row(display: :flex, align_items: :center) do %>
    <div class="d-flex flex-1 flex-column">
      <div class="d-flex flex-items-center h5">
        Total available jobs
      </div>
    </div>
    <div class="col-2" >
      <span class="mr-4" <%= test_selector "scale-set-available-jobs" %>>
        <%= total_available_jobs %>
      </span>
    </div>
  <% end %>
  <% component.with_row(display: :flex, align_items: :center) do %>
    <div class="d-flex flex-1 flex-column">
      <div class="d-flex flex-items-center h5">
        Total assigned jobs
      </div>
    </div>
    <div class="col-2" >
      <span class="mr-4" <%= test_selector "scale-set-assigned-jobs" %>>
        <%= total_assigned_jobs %>
      </span>
    </div>
  <% end %>
  <% component.with_row(display: :flex, align_items: :center) do %>
    <div class="d-flex flex-1 flex-column">
      <div class="d-flex flex-items-center h5">
        Total running jobs
      </div>
    </div>
    <div class="col-2" >
      <span class="mr-4" <%= test_selector "scale-set-running-jobs" %>>
        <%= total_running_jobs %>
      </span>
    </div>
  <% end %>
  <% component.with_row(display: :flex, align_items: :center) do %>
    <div class="d-flex flex-1 flex-column">
      <div class="d-flex flex-items-center h5">
        Total busy runners
      </div>
    </div>
    <div class="col-2" >
      <span class="mr-4" <%= test_selector "scale-set-busy-runners" %>>
        <%= total_busy_runners %>
      </span>
    </div>
  <% end %>
  <% component.with_row(display: :flex, align_items: :center) do %>
    <div class="d-flex flex-1 flex-column">
      <div class="d-flex flex-items-center h5">
        Total idle runners
      </div>
    </div>
    <div class="col-2" >
      <span class="mr-4" <%= test_selector "scale-set-idle-runners" %>>
        <%= total_idle_runners %>
      </span>
    </div>
  <% end %>
<% end %>
