<% if sales_operations_issue_details.empty? %>
  Unable to generate Sales Operations issue details
<% else %>
  <ul class="list-style-none d-flex flex-wrap">
    <li class="Box-row flex-auto col-12" style="white-space: normal">
      <a href="<%= sales_operations_issue_details[:new_issue_link] %>&title=<%= sales_operations_issue_details[:title] %>" target="_blank" rel="noopener noreferrer">Sales Ops Issue Template</a>
    </li>
    <li class="Box-row flex-auto col-12" style="white-space: normal">
      <div>Description: </div><%= sales_operations_issue_details[:description] %>
    </li>
    <li class="Box-row flex-auto col-12" style="white-space: normal">
      <div>Ask: </div><%= sales_operations_issue_details[:ask] %>
    </li>
    <li class="Box-row flex-auto col-12" style="white-space: normal">
      <div>Links: </div><%= sales_operations_issue_details[:links].compact.join(" - ") %>
    </li>
  </ul>
<% end %>
