<%# erblint:counter DeprecatedComponentsCounter 7 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<div class="border rounded-2 d-flex flex-column flex-items-center p-5 color-shadow-small">
  <%= render Primer::Box.new(text_align: :center) do |component| %>
    <%= render Primer::Box.new(display: :flex, justify_content: :center, align_items: :center) do |component| %>
      <%= render(Primer::Beta::Heading.new(tag: :h3, pb: 2, font_weight: :bold)) { "Configure audit log streaming" } %>
    <% end %>
    <p class="pl-9 pr-9">Set up streaming of audit data from GitHub
      to an external database management system like Splunk or Azure Event
      Hubs.</p>
    <details class="dropdown select-menu details-reset details-overlay d-inline-block">
      <summary class="btn btn-sm btn-primary select-menu-button">
        Configure stream
      </summary>
      <details-menu class="dropdown-menu dropdown-menu-se"
        style="z-index: 99; margin-top: 8px; width: 232px"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-list">
          <%= form_tag nil, method: :get do %>
            <%= render Primer::ButtonComponent.new \
              type: :submit,
                w: :full,
                classes: "btn-link select-menu-item",
                border_radius: 0,
                value: "s3",
                name: "sink_type",
                role: "menuitem" do %>
              Amazon S3
            <% end %>
          <% end %>
          <%= form_tag nil, method: :get do %>
            <%= render Primer::ButtonComponent.new \
              type: :submit,
                w: :full,
                classes: "btn-link select-menu-item",
                border_radius: 0,
                value: "azure_blob",
                name: "sink_type",
                role: "menuitem" do %>
              Azure Blob Storage
            <% end %>
          <% end %>
          <%= form_tag nil, method: :get do %>
            <%= render Primer::ButtonComponent.new \
              type: :submit,
                w: :full,
                classes: "btn-link select-menu-item",
                border_radius: 0,
                value: "azure_hubs",
                name: "sink_type",
                role: "menuitem" do %>
              Azure Event Hubs
            <% end %>
          <% end %>
          <%= form_tag nil, method: :get do %>
            <%= render Primer::ButtonComponent.new \
              type: :submit,
                w: :full,
                classes: "btn-link select-menu-item",
                border_radius: 0,
                value: "datadog",
                name: "sink_type",
                role: "menuitem" do %>
              Datadog
            <% end %>
          <% end %>
          <%= form_tag nil, method: :get do %>
            <%= render Primer::ButtonComponent.new \
              type: :submit,
                w: :full,
                classes: "btn-link select-menu-item",
                border_radius: 0,
                value: "google_cloud",
                name: "sink_type",
                role: "menuitem" do %>
              Google Cloud Storage
            <% end %>
          <% end %>
          <% if hec_feature_enabled?(business) %>
            <%= form_tag nil, method: :get do %>
              <%= render Primer::ButtonComponent.new \
                type: :submit,
                w: :full,
                classes: "btn-link select-menu-item",
                border_radius: 0,
                value: "hec",
                name: "sink_type",
                role: "menuitem" do %>
                HTTPS Event Collector
              <% end %>
            <% end %>
          <% end %>
          <%= form_tag nil, method: :get do %>
            <%= render Primer::ButtonComponent.new \
              type: :submit,
              w: :full,
              classes: "btn-link select-menu-item",
              border_radius: 0,
              value: "splunk",
              name: "sink_type",
              role: "menuitem" do %>
              Splunk
            <% end %>
          <% end %>
        </div>
      </details-menu>
    </details>
  <% end %>
</div>
