<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::Box.new(
    mt: 3,
    pb: 3,
    border: :bottom,
    display: :flex,
    align_items: :center,
  ) do |component| %>
  <%= render(
    Primer::ButtonComponent.new(
      type: :submit,
      name: :check_button,
      value: :check,
      mr: 2,
    )
  ) { "Check endpoint" } %>

    <div id="success-endpoint-message" style="<%= 'display: none !important' unless check_is_ok %>" class="d-flex flex-items-center">
    <%= render(
      Primer::Beta::Octicon.new(
        icon: "check-circle",
        size: :medium,
        pr: 1,
        color: :success,
      )
    ) %>
    Endpoint check successful
  </div>

  <div id="check-endpoint-message" style="<%= 'display: none !important' if check_is_ok %>" class='d-flex flex-items-center'>
    <%= render(
      Primer::Beta::Octicon.new(
        icon: "alert",
        size: :medium,
        pr: 1,
        color: :default,
      )
    ) %>
    Check endpoint before saving
  </div>
<% end %>

<div class="mt-3">
  <%= render(
      Primer::ButtonComponent.new(
        type: :submit,
        name: :store_button,
        value: :upsert,
        mr: 2,
        scheme: :primary,
        disabled: check_is_ok ? false : true,
      )
    ) { "Save" } %>
  <%= render(
      Primer::Beta::Link.new(
        href: business.audit_log_multiple_streaming_endpoint_enabled? ?
          settings_audit_log_streams_enterprise_path(business.slug) :
          settings_audit_log_stream_list_enterprise_path(business.slug),
        classes: "btn",
      )
    ) { "Cancel" } %>
</div>
