<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h3, font_size: 3, font_weight: :bold, pb: 2) do %>Configured streams<% end %>
<% end %>
<% streams.each do |stream| %>
  <% if stream[:stream].gh_staff_disabled %>
    <%= render partial: "businesses/audit_log_stream/disabled_notice", locals: { gh_staff_disabled: stream[:stream].gh_staff_disabled, sink_type: stream[:sink_type] } %>
  <% end %>
  <div class="mb-6">
    <%= render Primer::Box.new(
      border: true,
      border_radius: 1,
      p: 2,
      display: :flex,
      align_items: :center,
      justify_content: :space_between,
    ) do |component| %>
      <div class="d-flex flex-row">
      <% if stream[:stream].enabled? %>
        <% stream_icon = "check-circle" %>
        <% icon_color = :success %>
      <% else %>
        <% if GitHub.enterprise? %>
          <% stream_icon = "stop" %>
          <% icon_color = :danger %>
        <% else %>
          <% stream_icon = "blocked" %>
          <% icon_color = :attention %>
        <% end %>
      <% end %>
        <%= render(
          Primer::Beta::Octicon.new(
            icon: stream_icon,
            size: :small,
            mr: 2,
            mt: 1,
            mb: 0,
            color: icon_color,
          )
        )%>
        <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
          <% component.with_heading(tag: :h4, font_size: 5, font_weight: :bold) do %>
            Streaming to <%= stream[:sink_type] %>
          <%= !stream[:stream].enabled && !GitHub.enterprise? ? (render(Primer::Beta::Label.new(scheme: :warning, ml: 1)) { "Paused" }) : nil %>
          <%= !stream[:stream].enabled && GitHub.enterprise? ? (render(Primer::Beta::Label.new(scheme: :danger, ml: 1)) { "Stopped" }) : nil %>
          <% end %>
          <% component.with_description(mb: 0) do %><%= stream[:sink_details] %><% end %>
        <% end %>
      </div>
      <div class="d-flex">
        <%= render(
            Primer::ButtonComponent.new(
              mr: 2,
              tag: :a,
              href: stream[:sink_url],
            )
          ) do |component| %>
            <% component.icon(icon: :pencil) %>Edit<% end %>
        <%= form_tag settings_audit_log_streams_toggle_enterprise_path(current_business, stream[:stream].id), method: :put do %>
          <% unless GitHub.enterprise? %>
            <%= render(
              Primer::ButtonComponent.new(
                type: :submit,
                scheme: stream[:stream].enabled ? :default : :primary,
                mr: 2,
              )
            ) do |component| %>
              <% component.icon(icon: stream[:stream].enabled ? :blocked : :play) %>
              <%= stream[:stream].enabled ? "Pause stream" : "Resume stream"%>
            <% end %>
          <% end %>
        <% end %>
        <%= render partial: "businesses/audit_log_stream/destroy_confirm_dialog", locals: { sink_type: stream[:sink_type], stream_id: stream[:stream].id } %>
      </div>
    <% end %>
    <% unless stream[:stream].enabled? || GitHub.enterprise? %>
      <p class="note pt-2">
        <% unless stream[:stream].paused_at.nil? %>
        Streaming paused on <%= Time.at(stream[:stream].paused_at).in_time_zone(current_user.time_zone).strftime("%b %e, %l:%M %p") %>
          <% if stream[:stream].gh_staff_disabled %>
            by GitHub Staff because of an issue with your endpoint.
          <% else %>
            by an administrator.
          <% end %>
        <% end %>
        GitHub is currently not sending audit log data to <%= stream[:sink_type] %>.
        <% if stream[:stream].is_stream_clear %>
          The stream has been paused for more than 3 weeks. On resuming, new audit log data events will be sent from the current timestamp.
        <% elsif stream[:stream].is_stream_paused_for_more_than_1_week? %>
          The stream has been paused for more than a week. New audit log data events will be sent from
          <%= 1.week.ago.in_time_zone(current_user.time_zone).strftime("%b %e, %l:%M %p") %>.
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>
