<%# erblint:counter DeprecatedComponentsCounter 6 %>
<% page_info title: "Reports" %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
    <% component.with_heading(tag: :h2) do %>Users<% end %>
  <% end %>
  <%= render Primer::Beta::BorderBox.new(mb: 4) do |component| %>
    <% component.with_row do %>
      <div class="js-report-container">
        <%= render(Primer::ButtonComponent.new(
          tag: :a, float: :right, classes: "js-report",
          data: { url: all_users_stafftools_reports_path(format: "js") }
        )) { "Download" } %>
        <%= render(Primer::Beta::Spinner.new(
          size: :small, display: :none, float: :right, p: 2,
          classes: "js-report-progress")) %>
        <h4>All users</h4>
        <p>
          All users on the installation.
        </p>
      </div>
    <% end %>

    <% component.with_row do %>
      <div class="js-report-container">
        <%= render(Primer::ButtonComponent.new(
          tag: :a, float: :right, classes: "js-report",
          data: { url: active_users_stafftools_reports_path(format: "js") }
        )) { "Download" } %>
        <%= render(Primer::Beta::Spinner.new(
          size: :small, display: :none, float: :right, p: 2,
          classes: "js-report-progress")) %>
        <h4>Active users</h4>
        <p>
          All users who have been active within the last <%= pluralize GitHub.enterprise_dormancy_threshold_days, "day" %>.
        </p>
      </div>
    <% end %>

    <% component.with_row do %>
      <div class="js-report-container">
        <%= render(Primer::ButtonComponent.new(
          tag: :a, float: :right, classes: "js-report",
          data: { url: dormant_users_stafftools_reports_path(format: "js") }
        )) { "Download" } %>
        <%= render(Primer::Beta::Spinner.new(
          size: :small, display: :none, float: :right, p: 2,
          classes: "js-report-progress")) %>
        <h4>Dormant users</h4>
        <p>
          All users who have been inactive for <%= pluralize GitHub.enterprise_dormancy_threshold_days, "day" %> or more.
        </p>
      </div>
    <% end %>

    <% component.with_row do %>
      <div class="js-report-container">
        <%= render(Primer::ButtonComponent.new(
          tag: :a, float: :right, classes: "js-report",
          data: { url: suspended_users_stafftools_reports_path(format: "js") }
        )) { "Download" } %>
        <%= render(Primer::Beta::Spinner.new(
          size: :small, display: :none, float: :right, p: 2,
          classes: "js-report-progress")) %>
        <h4>Suspended users</h4>
        <p>
          All users who have been suspended.
        </p>
      </div>
    <% end %>
  <% end %>

  <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
    <% component.with_heading(tag: :h2) do %>Organizations<% end %>
  <% end %>
  <%= render Primer::Beta::BorderBox.new(mb: 4) do |component| %>
    <% component.with_row do %>
      <div class="js-report-container">
        <%= render(Primer::ButtonComponent.new(
          tag: :a, float: :right, classes: "js-report",
          data: { url: all_organizations_stafftools_reports_path(format: "js") }
        )) { "Download" } %>
        <%= render(Primer::Beta::Spinner.new(
          size: :small, display: :none, float: :right, p: 2,
          classes: "js-report-progress")) %>
        <h4>All organizations</h4>
        <p>
          All organizations on the installation.
        </p>
      </div>
    <% end %>
  <% end %>

  <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
    <% component.with_heading(tag: :h2) do %>Repositories<% end %>
  <% end %>
  <%= render Primer::Beta::BorderBox.new(mb: 4) do |component| %>
    <% component.with_row do %>
      <div class="js-report-container">
        <%= render(Primer::ButtonComponent.new(
          tag: :a, float: :right, classes: "js-report",
          data: { url: all_repositories_stafftools_reports_path(format: "js") }
        )) { "Download" } %>
        <%= render(Primer::Beta::Spinner.new(
          size: :small, display: :none, float: :right, p: 2,
          classes: "js-report-progress")) %>
        <h4>All repositories</h4>
        <p>
          All repositories on the installation.
        </p>
      </div>
    <% end %>
  <% end %>
<% end %>
