<% page_info title: "Codespaces Dials", selected_link: :codespaces_dials %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% component.with_header do %>
      <div>
        Update <%= dial.key %>
      </div>
    <% end %>

    <% component.with_body do %>
      <div><%= dial.description %></div>

      <%= form_tag stafftools_codespaces_dial_path(dial.key), method: :put do %>
        <div class="form-group">
          <%= label_tag :value, "Value" %>
          <%= text_field_tag 'value', dial.value %>
        </div>

        <div class="form-group">
          <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary, size: :medium)) { "Update" } %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
