<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="container-sm mt-5">
  <div class="pt-4 text-center">
    <p><h3>GitHub staff is requesting permission to sign in as @<%= current_user.display_login %>:</h3></p>

    <div class="col-11 col-sm-8 mx-auto pb-2 border-bottom color-fg-muted">
      <p>
        GitHub staff would like to temporarily sign in as your user. If you approve this request, GitHub staff's ability to sign in as your user will automatically be revoked after five days.
      </p>
    </div>

    <div class="mt-4">
      <%= form_tag accept_user_staff_access_request_path(current_user, current_request), method: :put, class: "inline-form js-navigation-open" do %>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>
          Accept request
        <% end %>
      <% end %>

      <%= form_tag deny_user_staff_access_request_path(current_user, current_request), method: :put, class: "inline-form js-navigation-open" do %>
        <%= render Primer::ButtonComponent.new(type: :submit) do %>
          Decline request
        <% end %>
      <% end %>
    </div>
  </div>
</div>
