<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<input type="hidden" name="issue_id" value="<%= issue.number %>">
<div class="Box-header">
  <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
    <%= primer_octicon(:x) %>
  </button>
  <h3 id="transfer-dialog-title" class="Box-title">
    Transfer this issue
    <span class="tooltipped tooltipped-n tooltipped-multiline" aria-label="Repository projects assigned to this issue will not transfer to the new location"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
      <%= primer_octicon(:info) %>
    </span>
  </h3>
</div>
<div class="Box-body p-3">
  <details class="details-reset details-overlay select-menu">
    <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button", "data-menu-button": "") do %>
      <input type="hidden" name="issue[repository_id]" value="" checked>
      Choose a repository
    <% end %>
    <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" src="<%= form_path %>" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-header">
        <span class="select-menu-title">Repositories</span>
      </div>
      <div class="select-menu-filters">
        <div class="select-menu-text-filter">
          <remote-input param="query" src="<%= form_path %>" aria-owns="transfer-possible-repositories-menu">
            <input type="text" class="form-control" aria-label="Type to filter" placeholder="Find a repository" autofocus>
          </remote-input>
        </div>
      </div>
      <include-fragment>
        <%= render(Primer::Beta::Spinner.new(size: :large, my: 6, mx: :auto, display: :block)) %>
        <input type="text" required class="d-none">
      </include-fragment>
    </details-menu>
  </details>
  <div class="py-3">
    <%= render(Primer::Beta::Text.new(tag: :p, color: :danger, font_weight: :bold)) { "Warning!" } %>
    <%= render(Primer::Beta::Text.new(tag: :p)) { "Transferring an issue does not scrub any issue content. Content such as text references to other issues, pull requests, projects, teams will remain in this issue's descriptions and comments." } %>
    <%= render(Primer::Beta::Text.new(tag: :p)) { "Assignees, labels and milestones will be transferred if they are present in the target repository." } %>
  </div>
</div>
<div class="p-3">
  <%= render Primer::ButtonComponent.new(type: :submit, block: true, "data-disable-with": "Transferring issue…", "data-disable-invalid": "", disabled: true) do %>
    Transfer issue
  <% end %>
</div>
