<a class="SelectMenu-item" aria-checked="<%= @selected %>" role="menuitemradio" href="<%= @url %>">
  <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
  <%= avatar_for @user, 20, class: "avatar flex-shrink-0 mr-2" %>
  <strong class="mr-2"><%= @user.display_login_legacy %><%= bot_identifier(@user) %></strong>
  <span class="color-fg-muted css-truncate css-truncate-overflow"><%= @user.profile_name %></span>
</a>
