<% if should_truncate? && title.present? %>
  <a href="<%= url %>" <%= hovercard_attributes %> class="d-flex js-navigation-open Link--secondary no-underline Truncate">
    <div class="mr-2 flex-shrink-0">
      <% if state.present? %>
        <% if state_reason == :not_planned %>
          <%= primer_octicon(:skip, color: :muted)%>
        <% else %>
          <%= primer_octicon(:"#{octicon_type}", classes: state.to_s) %>
        <% end %>
      <% end %>
    </div>
    <div class="Truncate-text" <%= test_selector("subtask-href-truncated") %>>
      <span class="<%= style_link_normal ? 'color-fg-default' : 'Link--primary text-bold'%>"><%= title %></span>
    </div>
    <div class="Truncate-text Truncate-text--primary">
      <%= render reference_component %>
    </div>
  </a>
<% else %>
  <span class="no-truncate">
    <% if state.present? %>
        <% if state_reason == :not_planned %>
          <%= primer_octicon(:skip, color: :muted, classes: "issue-state-icon")%>
        <% else %>
          <%= primer_octicon(:"#{octicon_type}", classes: "#{state} issue-state-icon") %>
        <% end %>
      <% end %>

    <a
      href="<%= url %>"
      <%= hovercard_attributes %>
      class="js-navigation-open wb-break-word <%= title.present? || style_link_normal ? "Link--secondary" : "Link--primary text-bold" %>"
      <% if send_click_hydro_event? %>
        data-hydro-click = "<%= issue_click_hydro_event["hydro-click"] %>"
        data-hydro-click-hmac = "<%= issue_click_hydro_event["hydro-click-hmac"] %>"
      <% end %>
    >
      <% if title.present? %>
        <span class="<%= style_link_normal ? 'color-fg-default' : 'Link--primary text-bold issue-title'%>"><%= title %></span>
      <% end %>

      <%= render reference_component %>
    </a>
  </span>
<% end %>
