<label class="select-menu-item text-normal js-filterable-suggested-user"
  role="<%= @single_select ? "menuitemradio" : "menuitemcheckbox" %>"
  aria-checked="<%= @assigned ? "true" : "false" %>"
  tabindex="0">
  <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>

  <input style="display:none"
    type="<%= @single_select ? "radio" : "checkbox" %>"
    value="<%= @user.id %>"
    name="issue[user_assignee_ids][]"
    <% if @assigned %>checked<% end %>>

  <div class="select-menu-item-gravatar">
    <%= avatar_for @user, 20, class: "avatar-small mr-1 js-avatar" %>
  </div>

  <div class="select-menu-item-text lh-condensed">
    <span class="select-menu-item-heading">
      <span class="js-username"><%= @login %><%= bot_identifier(@user) %></span>
      <span class="description js-description"><%= @profile_name %></span>
    </span>
  </div>
</label>
