<div id="transfer-possible-repositories-menu" class="select-menu-list">
  <% repos.each do |repository| %>
    <label class="select-menu-item" role="menuitemradio" tabindex="0">
      <input type="radio" name="repository_id" value="<%= repository.id %>" required>
      <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
      <div class="select-menu-item-text">
        <div>
          <span data-menu-button-contents>
            <%= repository.name %>
          </span>
          <% if repository.private? %>
            <%= primer_octicon(:lock, float: :right, mr: 3) %>
          <% end %>
        </div>
        <% if repository.description.present? %>
          <small class="text-normal"><%= formatted_repo_description(repository) %></small>
        <% end %>
      </div>
    </label>
  <% end %>

  <% if repos.empty? %>
    <div class="p-3">
      No repositories match.<br>
      <a href="https://docs.github.com/issues/tracking-your-work-with-issues/transferring-an-issue-to-another-repository" target="_blank">Some repositories may be excluded.</a>
      <input type="text" required class="d-none">
    </div>
  <% end %>

</div>
