<a href="<%= url %>" class="tlb-link-style-none">
  <div class="d-flex pl-3">
    <% if state.present? %>
      <% if state == :open %>
        <%= primer_octicon(:"issue-opened", classes: "open tlb-issue-icon") %>
      <% elsif state_reason == :not_planned %>
        <%= primer_octicon(:skip, color: :muted, classes: "tlb-issue-icon") %>
      <% else %>
        <%= primer_octicon(:"issue-closed", classes: "closed tlb-issue-icon") %>
      <% end %>
    <% end %>
    <div class="flex-1 ml-3 tlb-text">
      <div class="mr-3" role="text">
        <span class="tlb-link-style-none mr-1">
          <%= title %>
        </span>
        <span class="tlb-issue-reference-number">
          <%= render reference_component %>
        </span>
      </div>
    </div>
  </div>
</a>
