
<span style="transform:rotate(-90deg); width:<%= size %>px; height:<%= size %>px; <%= @style %>">
  <svg
    width="<%= size %>"
    height="<%= size %>"
    data-target="tracked-issues-progress.progress"
    data-circumference="<%= circumference %>"
     <%= test_selector("progress-circle") %>
    ><%# erblint:disable GitHub::Accessibility::SvgHasAccessibleText %>
    <% if @include_fill %>
      <path
        fill="var(--bgColor-done-muted, var(--color-done-subtle))"
        d="<%= fill_path %>"
        <%= test_selector("progress-circle-fill") %>
      />
    <% end %>
    <circle
      stroke="<%= @border_color %>"
      stroke-width="<%= stroke_width %>"
      fill="transparent"
      cx="50%"
      cy="50%"
      r="<%= radius %>"
      <%= test_selector("size-#{size}") %>
    />
    <circle
      data-target="tracked-issues-progress.stroke"
      style="transition: stroke-dashoffset 0.35s; transform: rotate(<%= stroke_rotate %>deg); transform-origin: center"
      stroke="<%= @color %>"
      stroke-width="<%= stroke_width %>"
      stroke-dasharray="<%= circumference %>"
      stroke-dashoffset="<%= offset %>"
      stroke-linecap="round"
      fill="transparent"
      cx="50%"
      cy="50%"
      r="<%= radius %>"
      <%= test_selector("offset-#{offset.round}") %>
    />
  </svg>
</span>
