<a href="<%= url %>" <%= hovercard_attributes %> class="d-flex js-navigation-open Link--secondary no-underline Truncate" style="max-width: 350px">
  <div class="mr-2 flex-shrink-0">
    <% if state.present? %>
      <% if state == :open %>
        <%= primer_octicon(:"issue-opened", classes: "open") %>
      <% elsif state_reason == :not_planned %>
        <%= primer_octicon(:skip, color: :muted) %>
      <% else %>
        <%= primer_octicon(:"issue-closed", classes: "closed") %>
      <% end %>
    <% end %>
  </div>
  <div class="Truncate-text" <%= test_selector("subtask-href-truncated") %>>
    <span class="<%= style_link_normal ? 'color-fg-default' : 'Link--primary text-bold'%>"><%= title %></span>
  </div>
  <div class="Truncate-text Truncate-text--primary">
    <%= render reference_component %>
  </div>
  <% if @tracked_by_title.present? %>
    &nbsp;›
    <div class="Truncate-text">
      <%= @tracked_by_title %>
    </div>
  <% end %>
</a>
