<tracked-issues-progress data-total="<%= @total %>" data-completed="<%= @completed %>" data-type="<%= type %>">
<% if @mode == :title %>
  <div class="d-flex flex-row flex-items-center mr-2 border" style="border-radius: 40px; padding: 5px 12px; height: 32px">
      <span <%= test_selector("checklist-icon") %> data-target="tracked-issues-progress.checklist" style='display: <%= percentage == '0' ? 'inline' : 'none' %>'>
        <%= render Primer::Beta::Octicon.new(icon: "checklist", width: 16, height: 16, style: "display: block") %>
      </span>
      <%= render(Issues::ProgressComponent.new(size: :big, percent: percentage, style: "display: " + (percentage == "0" ? "none" : "inline"), color: @color, border_color: border_color, include_fill: false)) %>
    <span class="text-normal no-wrap mr-1 ml-1 lh-condensed-ultra" data-target="tracked-issues-progress.label"><%= label %></span>
  </div>
<% elsif @mode == :title_small %>
  <div class="d-flex flex-row flex-items-center mr-2 border" style="border-radius: 40px; padding: 5px 12px; height: 32px">
      <span <%= test_selector("checklist-icon") %> data-target="tracked-issues-progress.checklist" style="display: <%= percentage == '0' ? 'inline' : 'none' %>">
        <%= render Primer::Beta::Octicon.new(icon: "checklist", width: 14, height: 14, style: "display: block") %>
      </span>
      <%= render(Issues::ProgressComponent.new(size: :small, percent: percentage, style: "display: " + (percentage == "0" ? "none" : "inline-flex"), color: @color, border_color: border_color, include_fill: false)) %>
    <span class="text-normal no-wrap mr-1 ml-1" data-target="tracked-issues-progress.label"><%= label %></span>
  </div>
<% elsif @mode == :inline %>
  <div class="d-inline-flex flex-row flex-items-center text-small">
      <span <%= test_selector("checklist-icon") %> data-target="tracked-issues-progress.checklist" style="display: <%= percentage == '0' ? 'inline' : 'none' %>">
        <%= render Primer::Beta::Octicon.new(icon: "checklist", width: 14, height: 14, style: "display: inline") %>
      </span>
      <%= render(Issues::ProgressComponent.new(size: :small, percent: percentage, style: "display: " + (percentage == "0" ? "none" : "inline-flex"), color: @color, border_color: border_color, include_fill: false)) %>
    <span class="text-normal no-wrap mr-1 ml-1" data-target="tracked-issues-progress.label"><%= label %></span>
  </div>
<% elsif @mode == :tasklist_item %>
  <div class="d-flex flex-row flex-justify-start flex-items-center text-small border ml-2" style="border-radius: 30px; padding: 0px 2px 0px 4px; height: 20px">
      <%= render(Issues::ProgressComponent.new(size: :small, percent: percentage, style: "display: inline-flex", color: (percentage == "0" ? 'transparent' : @color), border_color: border_color, include_fill: true)) %>
      <span class="text-normal no-wrap mr-1 ml-1" data-target="tracked-issues-progress.label" style="color: var(--fgColor-muted, var(--color-fg-muted))"><%= label %></span>
  </div>
<% end %>
</tracked-issues-progress>
