<% integration = installation.integration %>

<div class="CircleBadge CircleBadge--small mr-2" style="background-color: #<%= integration.preferred_bgcolor %>">
  <%= integration_avatar(integration: integration, size: 30, class: "CircleBadge-icon", alt: integration.name) %>
</div>

<div class="flex-auto">
  <strong><%= integration.name %></strong>

  <% if installation.installed_automatically? %>
    <%= render Primer::Beta::Label.new(ml: 2, title: installation.integration_install_trigger.reason) do %>
      Automatic
    <% end %>
  <% end %>

  <% if installation.suspended? %>
    <% scheme = installation.user_suspended? ? :warning : :danger %>

    <%= render Primer::Beta::Label.new(ml: 2, scheme: scheme, title: "Label: Suspended") do %>
      Suspended
    <% end %>
  <% end %>

  <div class="text-small color-fg-subtle">
    Developed by <%= link_to integration.display_owner.display_login, integration.display_owner.user_path, class: "Link--inTextBlock" %>
  </div>
</div>

<include-fragment src="<%= action_repository_installation_path(current_repository.owner, current_repository, installation) %>">
  <%= render(Primer::Beta::Button.new(aria: { disabled: "true" }, data: { "hide-on-error" => "true" })) do %>
    <span>Loading</span><span class="AnimatedEllipsis"></span>
  <% end %>

  <%= render(Primer::Beta::Text.new(color: :danger, data: { "show-on-error" => "true" }, hidden: true)) { "Failed to load" } %>
</include-fragment>
