<% page_info \
  container_xl: true,
  title: "GitHub Apps",
  selected_link: :integration_installations,
  hide_marketplace_retargeting_notice: true,
  hide_marketplace_pending_installations_notice: true %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h3) { "Installed GitHub Apps" } %>
    <% component.with_description do %>
      <%= render partial: "integration_installations/subhead_description" %>
    <% end %>
  <% end %>

  <% if installations.any? %>
    <%= render(Primer::Beta::BorderBox.new(mt: 2)) do |component| %>
      <% installations.each do |installation| %>
        <%# The integration may be missing if the installation is being deleted in the background %>
        <%# See https://github.com/github/ecosystem-apps/issues/1314 for more details %>
        <% next if installation.integration.nil? %>

        <% component.with_row(display: :flex, align_items: :center) do %>
          <%= render partial: "repository_installations/installation", locals: { installation: installation } %>
        <% end %>
      <% end %>
    <% end %>

    <div class="paginate-container">
      <%= will_paginate installations %>
    </div>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |component| %>
      <% component.with_heading(tag: :h2).with_content("There aren't any GitHub Apps installed on this repository.") %>
    <% end %>
  <% end %>
<% end %>
