<%= render layout: "marketplace_listings/admin_layout", locals: { marketplace_listing: marketplace_listing, selected_tab: :sync } do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Sync<% end %>
  <% end %>
  <p class="mb-4">This is a placeholder to describe to integrators what syncing means. More information can be found in <a class="Link--inTextBlock" href="<%= GitHub.developer_help_url %>/developers/github-marketplace/sync-your-app" target="_blank" rel="noopener noreferrer">our developer documentation</a>.</p>

  <div class="Box p-4 color-bg-subtle mb-4">
    <h2 class="f4 mt-0">Make this listing available in all regions.</h2>
    <%= form_tag marketplace_listing_sync_path(marketplace_listing.slug), method: :put do %>
      <div class="form-checkbox mb-0">
        <label class="text-normal d-block mb-3" for="proxima_availability">
          <input type="checkbox" name="proxima_availability" value="1" id="proxima_availability" <%= "checked" if marketplace_listing.integratable.available? %>>
          This listing will be available in all regions.
        </label>
        <p class="mb-4">By clicking &ldquo;Submit&rdquo; below, you are agreeing to have the listing sync'd in all regions.</p>
        <%= render Primer::Beta::Button.new(type: :submit, "data-disable-with": "Saving...", scheme: :primary, test_selector: "sync_availability_submit_btn") do %>
          Submit
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
