<%# erblint:counter DeprecatedComponentsCounter 1 %>
<tr class="js-account-row <%= view.account_selected(account) %>" data-plan="<%= account.plan.display_name %>" data-login="<%= account.display_login %>">
  <td class="v-align-middle bottom-border">
    <%= avatar_for account, 20, :class => "avatar" %>
    <strong>
      <a class="Link--primary" href="/<%= account %>"><%= account %></a>
    </strong>
    <small class="color-fg-muted">
      <% if account.has_an_active_coupon? %>
        Active coupon: <%= account.coupon.human_discount %> off <% if account.coupon.plan_specific? %>the <%= account.coupon.plan_display_name %> plan<% end %>
      <% else %>
        Currently on
        <strong><%= account.plan.display_name.humanize %></strong>
        <% unless account.plan.per_seat? %>
          (<%= full_plan_pricing(account, account.plan) %>)
        <% end %>
      <% end %>
    </small>
  </td>
  <td class="v-align-middle bottom-border text-right">
    <% if !account.has_an_active_coupon? && !account.plan.business_plus? && !account.invoiced? %>
      <%= render Primer::ButtonComponent.new(variant: :small, classes: "js-choose-account") do %>Choose<% end %>
    <% end %>
  </td>
</tr>
