<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% view = Coupons::ShowView.new :coupon => @coupon, :selected_account => @selected_account %>

<% page_info title: "Try GitHub Business Cloud", class: "coupons" %>

<div class="setup-wrapper">
  <%= render :partial => "coupons/business_plus_only/header", :locals => { :view => view, :lead => :upgrade_org } %>

  <div class="setup-main">
    <div class="setup-form-container">
      <div class="setup-form">
        <% if logged_in? %>
          <%= form_tag redeem_coupon_path,
            :autocomplete        => "off",
            :class               => "js-braintree-encrypt",
            "data-braintree-key" => GitHub.braintree_client_side_encryption_key do |f| %>

            <h2 class="f2-light mb-2">Choose an organization</h2>

            <table class="boxed-group-table setup-plans rounded-2 mb-3"><%# erblint:disable DeprecatedCustomCss %>
              <% current_user.owned_or_billing_manager_organizations.each do |account| %>
                <%= render :partial => "coupons/business_plus_only/account_row", :locals => { :view => view, :account => account } %>
              <% end %>
            </table>

            <div class="mb-4">
              <p class="mb-1">
                Or, start your free trial with a new organization.
              </p>
              <a href="<%= new_organization_path(source: "redeem-business-trial", plan: @coupon.plan, setup_organization: true, coupon: @coupon.code) %>">
                Create a new organization<%= primer_octicon(:"chevron-right", ml: 1) %>
              </a>
            </div>

            <div class="js-plan-section d-none">
              <hr>
              <h2 class="f2-light mb-2">Your new plan</h2>
              <% @coupon.eligible_accounts(current_user).each do |account| %>
                <%= render :partial => "coupons/business_plus_only/plan_table", :locals => { :account => account, :selected_account => @selected_account, :selected_plan => @coupon.plan, :coupon => @coupon } %>
              <% end %>
            </div>

            <%= hidden_field_tag :id, view.default_user_login(current_user, @coupon), :class => "js-account", :id => nil %>
            <%= hidden_field_tag :plan, view.default_plan(current_user, @coupon), :class => "js-plan", :id => nil %>
            <%= hidden_field_tag :code, @coupon.code %>

            <div class="border-top pt-4">
              <button type="submit" class="btn btn-block btn-large btn-primary f4 js-redeem-button" data-disable-with="Finishing setup…" <%= view.redeem_button_disabled %>>Start your trial</button>
            </div>
          <% end %>

        <% else %>
          <%= render :partial => "coupons/login_or_create_user" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="setup-secondary">
    <h4>Need help?</h4>
    <p>Learn more about <a class="Link--inTextBlock" href="<%= pricing_path %>">Business Cloud</a> or <a class="Link--inTextBlock" href="<%= enterprise_web_url("/sn-contact") %> ">contact our team.</a></p>
    <p>+1 (877) 448-4820</p>
  </div>
</div>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "billing" %>
<% end %>
