<div class="js-check-all-container js-bulk-actions-container" data-bulk-actions-url="<%= package_members_toolbar_actions_path %>">
  <div class="Box rounded-0 rounded-top-2">
    <div class="Box-header d-flex flex-items-center">
      <div class="pr-3">
        <input type="checkbox" id="select-all-checkbox" aria-label="Select all" <% if package.active_sync_perms %>disabled<% end %> data-check-all >
      </div>
      <div class="select-all-dropdown js-bulk-actions flex-auto">
        <%= render partial: "registry_two/package_settings/access_management/members_toolbar_actions", locals: { selected_count: members_to_roles.count, selected_ids: [], members_count: members_to_roles.count } %>
      </div>
    </div>
  </div>

  <div id="package-access-table">
    <div class="Box rounded-0 rounded-bottom-2 border-top-0">
        <% members_to_roles.each do |member, role| %>
          <div class="Box-row clearfix d-flex flex-items-center adminable">
            <input type="checkbox"
              class="js-bulk-actions-toggle"
              name="<%= "selected_ids[]" %>"
              value=<%= "#{member.class.name.downcase}/#{member.id}" %>
              aria-label="<%= member.name %>"
              <% if package.active_sync_perms %>disabled<% end %>
              data-check-all-item >

            <% if member.is_a?(User) %>
              <%= render partial: "registry_two/package_settings/access_management/user_row", locals: { package: package, user: member } %>
            <% elsif member.is_a?(Team) %>
              <%= render partial: "registry_two/package_settings/access_management/team_row", locals: { package: package, team: member } %>
            <% end %>

            <div class="permission-level-cell flex-self-end flex-self-center">
              <%= render partial: "registry_two/package_settings/access_management/permission_select", locals: { member: member, role: role, disabled: package.active_sync_perms } %>
            </div>

            <% unless package.active_sync_perms %>
              <%= render partial: "registry_two/package_settings/access_management/remove_access_form", locals: { package: package, member: member } %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div>
