<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if package.package_type == :container %>
  <% actions_path = "#{GitHub.developer_help_url}/actions/guides/publishing-docker-images#publishing-images-to-github-packages" %>
<% else %>
  <% actions_path = "#{GitHub.developer_help_url}/actions/publishing-packages/publishing-nodejs-packages#publishing-packages-to-github-packages" %>
<% end %>
<% if actions_packages_permissions.any? %>
  <%= render Primer::Beta::Subhead.new(spacious: spacious) do |component| %>
    <% component.with_heading(tag: :h2) do %>Manage Actions access<% end %>
    <% component.with_actions do %>
     <%= render partial: "registry_two/package_settings/add_repository_access_form", locals: { package: package, read_only: false, form_path: bulk_add_package_actions_access_path, name_scope: "actions", packages_permissions: actions_packages_permissions.map(&:id), url_path: package_repository_list_path(access_type: :actions)} %>
    <% end %>
  <% end %>
  <div>
    <p> Pick the repositories that can access this package using <%= link_to "GitHub Actions.", "#{GitHub.developer_help_url}/actions/guides/publishing-docker-images#publishing-images-to-github-packages", class: "mb-4 Link--inTextBlock" %> </p>
  </div>
  <%= render partial: "registry_two/package_settings/actions_access_management", locals: { package: package, actions_packages_permissions: actions_packages_permissions } %>
<% else %>
  <%= render Primer::Beta::Subhead.new(spacious: spacious) do |component| %>
    <% component.with_heading(tag: :h2) do %>Manage Actions access<% end %>
  <% end %>
  <div class="Box">
    <img class="d-flex flex-items-center mt-4" style="margin: 0 auto" src="<%= image_path "modules/site/icons/community-actions.svg" %>" alt="" loading="lazy">
    <%= render Primer::BlankslateComponent.new(
      title: "Actions repository access",
      description: "Pick the repositories that can access this package using GitHub Actions.",
    ) do %>
        <%= render partial: "registry_two/package_settings/add_repository_access_form", locals: { package: package, read_only: false, form_path: bulk_add_package_actions_access_path, name_scope: "actions", packages_permissions: {}, url_path: package_repository_list_path(access_type: :actions) } %>
        <div class="mt-3">
          <%= render Primer::Beta::Link.new(href: actions_path, classes: "Link--inTextBlock").with_content("Learn more") %>
        </div>
    <% end %>
  </div>
<% end %>
