<div class="js-check-all-container js-bulk-actions-container" data-bulk-actions-url="<%= package_repositories_toolbar_actions_path %>">
  <div class="Box rounded-0 rounded-top-2">
    <div class="Box-header d-flex flex-items-center">
      <div class="pr-3">
        <input type="checkbox" id="select-all-repositories-checkbox" aria-label="Select all repositories" data-check-all>
      </div>
      <div class="select-all-dropdown js-bulk-actions flex-auto">
        <%= render partial: "registry_two/package_settings/access_management/repositories_toolbar_actions", locals: { selected_count: actions_packages_permissions.count, selected_ids: [], repositories_count: actions_packages_permissions.count } %>
      </div>
    </div>
  </div>

  <div id="package-access-table">
    <div class="Box rounded-0 rounded-bottom-2 border-top-0">
        <% actions_packages_permissions.each do |actions_packages_permission| %>
          <div class="Box-row clearfix d-flex flex-items-center adminable">
            <input type="checkbox"
              class="js-bulk-actions-toggle"
              name="<%= "selected_ids[]" %>"
              value="<%= actions_packages_permission.repository_id %>"
              aria-label="<%= actions_packages_permission.repository.name %>"
              data-check-all-item >

            <%= render partial: "registry_two/package_settings/access_management/repository_row", locals: { package: package, repository: actions_packages_permission.repository } %>

            <div class="permission-level-cell">
              <%= render partial: "registry_two/package_settings/access_management/repository_permission_select", locals: { repository: actions_packages_permission.repository, role: actions_packages_permission.access_type } %>
            </div>

            <%= render partial: "registry_two/package_settings/access_management/remove_access_form", locals: { package: package, member: actions_packages_permission.repository, local_removal_path: remove_package_actions_access_path } %>
          </div>
        <% end %>
    </div>
  </div>
</div>
