<%
  placeholder_text = if package.owner.is_a?(Organization)
    "Search by team name, username, full name, or email"
  else
    "Search by username, full name, or email"
  end
%>

<div class="Box-body text-center border-bottom-0">
  <p><%= primer_octicon(:package, height: 32, color: :muted) %></p>

  <div class="f3">Invite teams or people to <strong><%= package.name %></strong></div>
</div>

<%= form_tag add_package_collaborator_path, class: "d-flex flex-column min-height-0" do %>
  <div id="add-access-selector" class="d-flex flex-column min-height-0">
    <auto-complete src="<%= package_collaborator_suggestions_path %>" for="add-access-search-results" class="d-block position-relative">
      <div class="form-group auto-search-group">
        <input type="text" id="add-access-search-member" class="form-control input-block subnav-search-input position-relative d-block" placeholder="<%= placeholder_text %>" aria-label="<%= placeholder_text %>" autocomplete="off" autofocus required>
        <%= primer_octicon(:search) %>
        <%= render(Primer::Beta::Spinner.new(classes: "spinner")) %>
      </div>
      <div class="autocomplete-results Box" id="add-access-search-results" role="listbox"></div>
    </auto-complete>
  </div>
<% end %>
