<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="ml-2 d-inline js-packages-repo-container-1">
  <%= form_tag form_path,
    class: "d-inline overflow-hidden js-packages-repo-form-1",
    id: "repo-add-access-selector-#{name_scope}",
    "name-scope": name_scope,
    method: :post do %>
    <%= hidden_field_tag "selected_ids" %>
  <% end %>
  <%=
    render(GitHub::DialogComponent.new(
      title: "Add Repository",
      preload: true,
      variant: :default,
      body_classes: 'p-0',
      details_classes: "js-repository-items-dialog d-inline text-left")) do |dialog|
  %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <summary>
        <div class="btn btn-primary btn-sm">Add Repository</div>
      </summary>
    <% end %>
    <% dialog.with_body do %>
      <% if !(packages_permissions.count == package.owner.visible_repositories_for(current_user).size) %>
        <repository-selection-input class="d-flex flex-column">
          <p class="ml-3 mr-3 mt-3 mb-0">Select repository that can access this package using GitHub <%=name_scope%></p>
          <virtual-filter-input
          class="flex-1 m-3"
          aria-owns="list-<%= name_scope %>"
          data-target="repository-selection-input.virtualFilterInput"
          src="<%= url_path %>"
          data-action="
            loadstart:repository-selection-input#willLoad
            loadend:repository-selection-input#didLoad"
          data-property="repositories"
          loading="eager">
            <input type="search" aria-label="Filter repositories"  class="form-control width-full js-repository-items-filter-input" placeholder="Filter repositories">
          </virtual-filter-input>

          <div id="repository-selection-component-<%=name_scope%>" class="d-flex flex-column  border-top">
            <virtual-list
            id="list-<%= name_scope %>"
            class="pt-2 overflow-y-auto"
            style="max-height: 50vh"
            data-target="repository-selection-input.list"
            data-action="
              virtual-list-update:repository-selection-input#willRenderItems
              virtual-list-render-item:repository-selection-input#renderItem
              virtual-list-updated:repository-selection-input#didRenderItems
            ">
              <template data-target="repository-selection-input.itemTemplate">
                <li class="css-truncate d-flex flex-items-center width-full">
                  <input type="checkbox"
                  class="js-bulk-repo-selector"
                  name="<%= "selected_ids" %>"
                  value="{{ id }}"
                  data-target="repository-selection-input.checkbox"
                  data-action="change:repository-selection-input#selectRepoItem"
                  aria-label="{{ name }}"
                  data-check-all-item >
                  <label class="repository-item-name d-flex flex-items-center width-full color-fg-default py-1 pr-1 pl-2">
                  <div hidden="{{ repo_icon_hidden }}"><%# erblint:disable BooleanAttributes %>
                    <%= render(Primer::Beta::Octicon.new(:repo, color: :muted, mr: 2)) %>
                  </div>
                  <div hidden="{{ lock_icon_hidden }}"><%# erblint:disable BooleanAttributes %>
                    <%= render(Primer::Beta::Octicon.new(:lock, color: :muted, mr: 2)) %>
                  </div>
                    <div hidden="{{ forked_icon_hidden }}"><%# erblint:disable BooleanAttributes %>
                    <%= render(Primer::Beta::Octicon.new(icon: "repo-forked", color: :muted, mr: 2)) %>
                  </div>
                    <strong class="css-truncate-target width-fit flex-auto">
                      {{ name }}
                    </strong>
                  </label>
                </li>
              </template>
              <div data-target="repository-selection-input.blankslate" hidden class="pl-0">
                <%= render Primer::Beta::Blankslate.new do |c| %>
                  <% c.with_heading(tag: :h2).with_content("No repositories found") %>
                  <% c.with_description { "We couldn’t find any repositories matching your query because either they don't exist or were added already." } %>
                <% end %>
              </div>
              <ul
                class="list-style-none mb-3 pl-4"
                role="listbox">
              </ul>
            </virtual-list>
          </div>
        </repository-selection-input>
      <% else %>
        <div>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_heading(tag: :h2).with_content("All repositories added") %>
            <% c.with_description { "You have added all repositories that can access this package using GitHub #{name_scope}." } %>
          <% end %>
        </div>
      <% end %>
    <% end %>

      <% if !(packages_permissions.count == package.owner.visible_repositories_for(current_user).size) %>
        <% dialog.with_footer do%>
          <div style="text-align: right">
            <%= render(Primer::ButtonComponent.new(scheme: :primary, disabled: true, type: :submit, id: "add-repo-button-#{name_scope}", classes: "add-repo-button", form: "repo-add-access-selector-#{name_scope}",  "data-close-dialog": "")) do %>
              Add repositories
            <% end %>
          </div>
          <% end %>
      <% end %>
  <% end %>
</div>
