<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if codespaces_packages_permissions.any? %>
  <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
    <% component.with_heading(tag: :h2) do %>Manage Codespaces access<% end %>
    <% component.with_actions do %>
      <%= render partial: "registry_two/package_settings/add_repository_access_form", locals: { package: package, read_only: true, form_path: bulk_add_package_codespaces_access_path, name_scope: "codespaces" , packages_permissions: codespaces_packages_permissions.map(&:id), url_path: package_repository_list_path(access_type: :codespaces) } %>
    <% end %>
  <% end %>
  <div>
    <p>Pick the repositories that can read this package using <%= link_to "GitHub Codespaces.", "#{GitHub.developer_help_url}/codespaces/codespaces-reference/allowing-your-codespace-to-access-a-private-image-registry", class: "mb-4 Link--inTextBlock" %> </p>
  </div>
  <%= render partial: "registry_two/package_settings/codespaces_access_management", locals: { package: package, codespaces_packages_permissions: codespaces_packages_permissions } %>
<% else %>
  <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
    <% component.with_heading(tag: :h2) do %>Manage Codespaces access<% end %>
  <% end %>
  <div class="Box">
    <img class="d-flex flex-items-center mt-4" style="margin: 0 auto" src="<%= image_path "modules/site/icons/community-actions.svg" %>" alt="" loading="lazy">
    <%= render Primer::BlankslateComponent.new(
      title: "Codespaces repository access",
      description: "Pick the repositories that can read this package using GitHub Codespaces.",
    ) do %>
     <%= render partial: "registry_two/package_settings/add_repository_access_form", locals: { package: package, read_only: true, form_path: bulk_add_package_codespaces_access_path, name_scope: "codespaces", packages_permissions: {}, url_path: package_repository_list_path(access_type: :codespaces)} %>
    <% end %>
  </div>
<% end %>
