<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<% suggestions.each do |suggestion| %>
  <% if suggestion.is_a?(User) %>
    <div class="Box-row p-0">
      <button role="option" type="submit" name="collaborator"
        class="btn-link p-2 width-full text-left Link--muted"
        data-autocomplete-value="<%= suggestion %>" value="user/<%= suggestion.id %>">

        <div class="d-flex flex-items-center">
          <div class="col-1 mr-1 text-center">
            <%= avatar_for(suggestion, 20, :class => "avatar") %>
          </div>
          <div class="flex-auto">
            <%= suggestion.name_with_display_owner %>
            <small class="text-normal"><%= suggestion.safe_profile_name %></small>
          </div>
        </div>
      </button>
    </div>
  <% elsif suggestion.is_a?(Team) %>
    <div class="Box-row p-0">
      <button role="option" type="submit" name="collaborator"
        class="btn-link p-2 width-full text-left Link--muted"
        data-autocomplete-value="<%= suggestion.combined_slug %>" value="team/<%= suggestion.id %>">

        <div class="d-flex flex-items-center">
          <div class="col-1 mr-1 text-center">
            <%= primer_octicon(:people) %>
          </div>
          <div class="flex-auto">
            <%= suggestion.combined_slug %>
          </div>
        </div>
      </button>
    </div>
  <% elsif suggestion.instance_of?(Repository) %>
    <div class="Box-row p-0">
      <button role="option" type="submit" name="collaborator"
        class="btn-link p-2 width-full text-left Link--muted"
        data-autocomplete-value="<%= suggestion %>" value="repository/<%= suggestion.id %>">

        <div class="d-flex flex-items-center">
          <div class="col-1 mr-1 text-center">
            <%= primer_octicon(:repo) %>
          </div>
          <div class="flex-auto">
            <%= suggestion.name_with_display_owner %>
          </div>
        </div>
      </button>
    </div>
  <% end %>
<% end %>
