<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 3 %>

<div class="container-lg p-responsive clearfix">
  <h1 class="sr-only">Package settings of <%= package.name %></h1>
  <%# Title %>
  <div class="mb-4 mt-1 clearfix">
    <%= link_to package.name, packages_two_view_path %>
    /
    <strong>Package settings</strong>
  </div>

  <% if package.can_activate_actions_package?(current_user) %>
    <div class="flex-justify-between flex-items-center js-notice">
      <%= render Primer::Alpha::Banner.new(icon: :info, dismiss_scheme: :none, mb: 4, test_selector: "activate-package-banner") do |component| %>
        <%= render partial: "registry_two/package_settings/danger_zone/activate_action_package", locals: {
          package:,
          user_type:
        } %>
      <% end %>
    </div>
  <% end %>

  <div class="container-lg d-flex">
    <div class="col-12">
      <div class="d-flex flex-column flex-md-row flex-md-row mt-n1">
        <div class="col-12">
          <%# Repository Source %>
          <% if show_repository_source %>
            <%= render Primer::Beta::Subhead.new(mt: 0) do |component| %>
              <% component.with_heading(tag: :h2) do %>Repository source<% end %>
            <% end %>
            <% case package.package_type %>
            <% when :container %>
              <p class="color-fg-muted mb-3">This is the repository where the container's source code is stored. This is defined in the repository's Dockerfile using the <code><a class="Link--inTextBlock" target=“_blank” href="https://github.com/opencontainers/image-spec/blob/master/annotations.md#pre-defined-annotation-keys">org.opencontainers.image.source</a></code> label.</p>
            <% when :maven %>
              <p class="color-fg-muted mb-3">This is the repository where the package's source code is stored. This is defined in the repository's pom.xml using the <code><a class="Link--inTextBlock" target=“_blank” href="https://docs.github.com/packages/working-with-a-github-packages-registry/working-with-the-apache-maven-registry#publishing-a-package">repository</a></code> field.</p>
            <% when :npm %>
              <p class="color-fg-muted mb-3">This is the repository where the package's source code is stored. This is defined in the repository's package.json file using the <code><a class="Link--inTextBlock" target=“_blank” href="https://docs.npmjs.com/cli/v8/configuring-npm/package-json#repository">repository</a></code> field.</p>
            <% when :rubygems %>
              <p class="color-fg-muted mb-3">This is the repository where the package's source code is stored. This is defined in the repository's gemspec file using <code><a class="Link--inTextBlock" target=“_blank” href="https://docs.github.com/packages/working-with-a-github-packages-registry/working-with-the-rubygems-registry#publishing-multiple-packages-to-the-same-repository">github_repo</a></code> field in metadata.</p>
            <% when :nuget %>
              <p class="color-fg-muted mb-3">This is the repository where the package's source code is stored. This is defined in the repository's nuspec file using the <code><a class="Link--inTextBlock" target=“_blank” href="https://docs.microsoft.com/en-us/nuget/reference/nuspec#repository">repository</a></code> field.</p>
            <% end %>

            <div class="border rounded-2 p-3">
              <h3 class="f5 mb-2">
                <div class="d-flex flex-items-center">
                  <div class="flex-auto">
                    <%= primer_octicon(icon: 'repo', height: 16, text_align: :center, color: :default, position: :relative, mr: 1, classes: "flex-shrink-0") %>
                    <%= ActionController::Base.helpers.link_to(package.repository_name_with_owner, package.linked_repo_url, class: "Link--primary") %>

                    <% if package.repository&.owner == package.owner %>
                      <%# Package references a GitHub repository owned by the package owner %>
                      <span class="tooltipped tooltipped-s tooltipped-multiline"
                        aria-label="A GitHub repository has been identified as the source for this package. This package will be displayed in this repositories package list."><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                        <%= primer_octicon(icon: 'verified', height: 16, ml: 1, color: :accent) %>
                      </span>

                    <% elsif package.repository %>
                      <%# Package references a GitHub repository not owned by the package owner %>
                      <span class="tooltipped tooltipped-s tooltipped-multiline"
                        aria-label="You have referenced a GitHub repository that is not part of the namespace that published this package. Packages and repository sources must be in the same namespace to be verfied."><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                        <%= primer_octicon(icon: 'question', height: 16, ml: 1, color: :muted) %>
                      </span>
                    <% else %>
                      <%# Package references a non-GitHub repository %>
                      <span class="tooltipped tooltipped-s tooltipped-multiline"
                        aria-label="You have referenced a non-GitHub source for this package that cannot be verified."><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                        <%= primer_octicon(icon: 'question', height: 16, ml: 1, color: :muted) %>
                      </span>
                    <% end %>
                  </div>
                  <% if package.repository&.owner == package.owner %>
                      <%# Package references a GitHub repository owned by the package owner %>
                      <%= render partial: "registry_two/package_settings/access_management/unlink_repository_form", locals: { package: package, repository: package.repository } %>
                  <% end %>
                </div>
              </h3>
              <div class="rounded-2 position-relative">
                <div class="Box code-block color-bg-subtle border-0 text-left p-4 overflow-x-auto"  style= "white-space: nowrap">
                  <code class="d-block color-bg-subtle border-0 rounded-2 f6 lh-default">
                    <% case package.package_type %>
                    <% when :container %>
                      org.opencontainers.image.source = "<span class="color-fg-done"><%= package.linked_repo_url %></span>"
                    <% when :maven %>
                      repository = "<span class="color-fg-done"><%= package.linked_repo_url %></span>"
                    <% when :npm %>
                      repository = "<span class="color-fg-done"><%= package.linked_repo_url %></span>"
                    <% when :rubygems %>
                      spec.metadata["github_repo"] = "<span class="color-fg-done"><%= package.linked_repo_url %></span>"
                    <% when :nuget %>
                      &ltrepository url="<span class="color-fg-done"><%= package.linked_repo_url %></span>" /&gt
                    <% end %>
                  </code>
                  <% case package.package_type %>
                  <% when :container %>
                    <div class="clipboard-copy">
                      <%= render Primer::Beta::ClipboardCopy.new(display: :block, position: :relative, classes: "copy-button btn tooltipped-no-delay", p: 2,  "aria-label": "Copy", "data-copy-feedback": "Copied!", "data-tooltip-direction": "w", role: "button", tabindex: "0", value: "org.opencontainers.image.source = \"#{ package.linked_repo_url }\"") %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                    </div>
                  <% when :maven %>
                    <div class="clipboard-copy">
                      <%= render Primer::Beta::ClipboardCopy.new(display: :block, position: :relative, classes: "copy-button btn tooltipped-no-delay", p: 2,  "aria-label": "Copy", "data-copy-feedback": "Copied!", "data-tooltip-direction": "w", role: "button", tabindex: "0", value: "repository = \"#{ package.linked_repo_url }\"") %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                    </div>
                  <% when :npm %>
                    <div class="clipboard-copy">
                      <%= render Primer::Beta::ClipboardCopy.new(display: :block, position: :relative, classes: "copy-button btn tooltipped-no-delay", p: 2,  "aria-label": "Copy", "data-copy-feedback": "Copied!", "data-tooltip-direction": "w", role: "button", tabindex: "0", value: "repository = \"#{ package.linked_repo_url }\"") %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                    </div>
                  <% when :rubygems %>
                    <div class="clipboard-copy">
                      <%= render Primer::Beta::ClipboardCopy.new(display: :block, position: :relative, classes: "copy-button btn tooltipped-no-delay", p: 2,  "aria-label": "Copy", "data-copy-feedback": "Copied!", "data-tooltip-direction": "w", role: "button", tabindex: "0", value: "spec.metadata[\"github_repo\"] = \"#{ package.linked_repo_url }\"") %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                    </div>
                  <% when :nuget %>
                    <div class="clipboard-copy">
                      <%= render Primer::Beta::ClipboardCopy.new(display: :block, position: :relative, classes: "copy-button btn tooltipped-no-delay", p: 2,  "aria-label": "Copy", "data-copy-feedback": "Copied!", "data-tooltip-direction": "w", role: "button", tabindex: "0", value: "\<repository url=\"#{ package.linked_repo_url }\" /\>") %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <%# List on Marketplace%>
          <% if defined?(repository_action) && defined?(repository_action.repository) && GitHub.flipper[:action_package_marketplace].enabled?(current_user) %>
            <div class="clearfix">
              <%= render partial: "registry_two/package_settings/list_on_marketplace", locals: { repository_action: repository_action } %>
            </div>
          <% end %>
          <%# Don't show these sections for immutable actions packages %>
          <% unless package.is_actions_package?(current_user) %>
            <%# Actions access %>
            <div class="clearfix">
              <%= render partial: "registry_two/package_settings/actions_access", locals: { package: package, actions_packages_permissions: actions_packages_permissions, spacious: show_repository_source } %>
            </div>
            <%# Codespaces access %>
            <% if !GitHub.enterprise? %>
              <div class="clearfix">
                <%= render partial: "registry_two/package_settings/codespaces_access", locals: { package: package, codespaces_packages_permissions: codespaces_packages_permissions } %>
              </div>
            <% end %>
          <% end %>
          <% if package.can_edit_actions_package_sharing_policy?(current_user) %>
            <%= render PackageSettings::ActionsPackageSharingPolicyComponent.new(package: package) %>
          <% end %>
          <%# Manage access %>
          <div class="clearfix">
            <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
              <% component.with_heading(tag: :h2) do %>
                <% if package.active_sync_perms %>
                  Inherited access
                <% else %>
                  Manage access
                <% end %>
              <% end %>
              <% component.with_actions do %>
                <% unless package.active_sync_perms %>
                  <div>
                  <%= render layout: "shared/spacious_details_dialog", locals: {
                    button_text: "Invite teams or people",
                    title: "Invite teams or people",
                    hide_title: true,
                    id: "add-access-dialog",
                    button_class: "btn btn-primary btn-sm",
                    dialog_class: "",
                    container_class: "p-4 min-height-0"
                  } do %>
                    <%= render partial: "registry_two/package_settings/add_access_form", locals: { package: package } %>
                  <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
              <%# Inherited Access %>
              <% if package.repository&.owner == package.owner && show_inherited_access %>
                <div class="form-checkbox mb-4">
                  <%= form_tag change_package_active_sync_perms_path, :method => :put, "data-autosubmit" => true do %>
                    <label>
                      <%= check_box_tag :active_sync_perms, :true, package.active_sync_perms, class: "mr-2" %>
                      Inherit access from source repository (recommended)
                    </label>

                    <p id="inherited_access_note" class="note">
                      Go to <%= link_to package.repository_name_with_owner + "'s access settings", repository_access_management_path(package.repository.owner, package.repository), class: "Link--inTextBlock" %> to change access, or remove inherited access to manage it separately. Inherited access is recommended.
                    </p>

                    <noscript>
                      <p><%= render Primer::ButtonComponent.new(variant: :small, scheme: :primary, type: :submit) do %>Save changes<% end %></p>
                    </noscript>
                  <% end %>
                </div>
              <% end %>
          </div>
          <%= render partial: "registry_two/package_settings/access_management", locals: { package: package, members_to_roles: members_to_roles } %>
        </div>
      </div>
      <%= render Primer::Beta::Subhead.new(spacious: true, hide_border: true) do |component| %>
        <% component.with_heading(tag: :h2, id: "danger-zone", color: :danger) do %>Danger Zone<% end %>
      <% end %>
      <div class="Box Box--danger">
        <ul>
          <% if package.can_be_deleted? %>
            <li class="Box-row">
              <%= render partial: "registry_two/package_settings/danger_zone/edit_visibility", locals: { package: package } %>
            </li>
          <% end %>
          <% if package.can_activate_actions_package?(current_user) %>
            <li class="Box-row">
              <%= render partial: "registry_two/package_settings/danger_zone/activate_action_package", locals: {
                package:,
                user_type:
              } %>
            </li>
          <% end %>
          <li class="Box-row">
            <%= render :partial => 'registry_two/package_settings/danger_zone/delete_package', locals: { package: package, reclaimed_storage: reclaimed_storage, show_reclaimed_storage: show_reclaimed_storage } %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
