<% unless header_redesign_enabled? %>
  <% css_classes = class_names(
    "pagehead orghead",
    "pt-0 pt-lg-3" => responsive?,
    "mb-0" => full_height?
  ) %>

  <div class="<%= css_classes %>" <%= test_selector("user-package-tabs") %>>
    <div class="<%= responsive? ? "container-lg p-responsive d-none d-lg-block clearfix" : "container" %>">
      <h1>
        <a class="Link--primary no-underline" href="<%= user_path(user) %>" data-name="<%= user.name %>">
          <%= avatar_for(user, 30, class: "avatar float-left") %>
          <%= user.display_login %>
        </a>
      </h1>

      <nav class="orgnav" aria-label="User">
        <a class="pagehead-tabs-item" href="<%= user_path(user) %>?tab=repositories">
          <%= primer_octicon(:repo, color: :muted) %>
          Repositories
        </a>

        <a class="pagehead-tabs-item" href="<%= user_projects_path(user, type: "classic") %>" data-hotkey="g b"><%# erblint:disable DataHotkey %>
          <%= primer_octicon(:project, color: :muted) %>
          Projects
        </a>

        <a class="pagehead-tabs-item selected" href="<%= packages_two_path(user_type: "users", user_id: user) %>">
          <%= primer_octicon(:package) %>
          Packages
        </a>
      </nav>
    </div>
  </div>
<% end %>
