<%
  show_repository_source = package.linked_repo_url.present? && !package.is_actions_package?(current_user)
  repo = package.repo_id && Repository.find_by(id: package.repo_id)
  show_inherited_access = repo.present?
%>

<% if package.repository.present? && viewer_can_read_repo %>
  <% page_info(
    title: %{Package #{package.name}},
    skip_pjax_container: true,
    container_xl: true,
    selected_link: :repo_packages,
  ) %>
  <%= render layout: "layouts/repository_container", locals: { repository: package.repository } do %>
    <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
      <%= render partial: "registry_two/package_settings/settings_body", locals: {
        package:,
        show_repository_source:,
        repo:,
        show_inherited_access:,
        members_to_roles:,
        actions_packages_permissions:,
        codespaces_packages_permissions:,
        show_reclaimed_storage:,
        reclaimed_storage:,
        repository_action:,
        user_type:
      } %>
    </div>
  <% end %>
<% else %>
  <% page_info(
    title: %{Package #{package.name}},
    skip_pjax_container: true
  ) %>

  <% if package.owner.is_a?(Organization) %>
    <div itemscope itemtype="http://schema.org/Organization">
      <%= render partial: "orgs/packages/header", locals: { organization: package.owner } %>
    </div>
  <% else %>
    <div itemscope itemtype="http://schema.org/User">
      <%= render partial: "registry_two/package_settings/user_header", locals: { user: package.owner } %>
    </div>
  <% end %>

  <%= render partial: "registry_two/package_settings/settings_body", locals: {
    package:,
    show_repository_source:,
    repo:,
    show_inherited_access:,
    members_to_roles:,
    actions_packages_permissions:,
    codespaces_packages_permissions:,
    show_reclaimed_storage:,
    reclaimed_storage:,
    user_type:
  } %>
<% end %>
