<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="Box-header">
  <button
    class="Box-btn-octicon btn-octicon float-right"
    type="button"
    aria-label="Close dialog"
    data-close-dialog>
    <%= primer_octicon(:x) %>
  </button>
  <h3 class="Box-title">Remove runner</h3>
</div>

<% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
  <%= render Primer::Alpha::Banner.new(full: true, scheme: :warning) do %>
    Removing a runner permanently removes it from your organization. If you intend to use the runner again and only want to temporarily make it unavailable, you can turn off the machine or stop the self-hosted runner application.
    For more information, see the documentation for "<a href="<%= GitHub.help_url %>/github/automating-your-workflow-with-github-actions/removing-self-hosted-runners" class="text-bold">Removing self-hosted runners</a>".
  <% end %>
<% else %>
  <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
    Removing a runner permanently removes it from your organization. If you intend to use the runner again and only want to temporarily make it unavailable, you can turn off the machine or stop the self-hosted runner application.
    For more information, see the documentation for "<a href="<%= GitHub.help_url %>/github/automating-your-workflow-with-github-actions/removing-self-hosted-runners" class="text-bold">Removing self-hosted runners</a>".
  <% end %>
<% end %>

<div class="Box-body mb-0 pt-0 overflow-y-auto">
  <div class="Box container-md my-1 mt-3 mx-auto text-left border-0">
    <p>Depending on if you have access to the runner machine, complete either of the following:</p>

    <h2 class="f5 py-2">Remove and clean up machine (recommended)</h2>

    <p>If you have access to the machine, run the following <%= runner_os == "windows" ? "powershell" : "shell" %> command in the folder where you installed the self-hosted runner application. This command removes the runner from the organization, and also removes any configuration files and runner services on the machine.</p>

    <%= render partial: "actions/settings/add_runner_code", locals: {
            platform: runner_os,
            commands: [
              { desc: "Remove the runner", body: "./config.#{runner_os == "windows" ? "cmd" : "sh"} remove --token #{token}" },
            ]
          } %>

    <h2 class="f5 pt-3 pb-2">Force runner removal</h2>

    <p>If you don't have access to the machine for a clean removal, you can click the button below to force remove the runner from your organization.</p>

    <%= form_tag settings_org_actions_delete_runner_path(id: runner_id), method: :delete do %>
      <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-sudo-required": "true") do %>Force remove this runner<% end %>
    <% end %>
  </div>
</div>
