<%
  runner_moniker = "self-hosted"
  page_info \
  title: "Add new #{runner_moniker} runner · #{current_organization.name}",
  responsive: false,
  selected_link: :organization_actions_settings_add_new_runner
%>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= settings_org_actions_runners_path %>">Runners</a> / <%="Create #{runner_moniker} runner"%>
    <% end %>
  <% end %>
  <p>
    Adding a <%=runner_moniker%> runner requires that you download, configure, and execute the
    GitHub Actions Runner. By downloading and configuring the GitHub Actions Runner, you
    agree to the <a class="Link--inTextBlock" href="<%= GitHub.help_url(skip_enterprise: true) %>/github/site-policy/github-terms-of-service">GitHub Terms of Service</a>
    or <a class="Link--inTextBlock" href="<%= GitHub.help_url(skip_enterprise: true) %>/github/site-policy/github-corporate-terms-of-service">GitHub Corporate Terms of Service</a>, as applicable.
  </p>

  <% if downloads.empty? # Waiting on background job to setup Actions tenants %>
    <poll-include-fragment src="<%= settings_org_actions_add_runner_instructions_path %>" class="mb-3" aria-label="Loading..."><%= render(Primer::Beta::Spinner.new(size: :large, mx: :auto, display: :block)) %></poll-include-fragment>
  <% else %>
    <%= render partial: "actions/settings/add_runner_instructions", locals: {
        platform: platform,
        os: os,
        architecture: architecture,
        downloads: downloads,
        platform_options: platform_options,
        token: token,
        selected_download: selected_download,
        registration_url: "#{GitHub.url}/#{current_organization.display_login}"
      }
    %>
  <% end %>
<% end %>
