<%
  page_info \
  title: "Actions caches · #{current_organization.name}",
  responsive: false,
  selected_link: :organization_actions_settings_caches
%>
<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new(spacious: false) do |component| %>
    <% component.with_heading(tag: :h2) do %>Caches<% end %>
  <% end %>
  <p class="mb-0">
    You can use caches for dependencies and other commonly reused files to speed up your workflows. The data on this page have at least 5 minutes of latency.
    <a href="<%= GitHub.help_url %>/organizations/managing-organization-settings/disabling-or-limiting-github-actions-for-your-organization#managing-github-actions-cache-storage-for-your-organization" class="Link--inTextBlock">
      Learn more about caches
    </a>.
  </p>
  <div class="flex-auto min-width-0 pt-4">
    <%= form_tag settings_org_actions_caches_path, :method => :get, :class => "subnav-search ml-0 mt-md-0", role: "search", "aria-label": "Caches" do %>
      <input type="text" name="qr" value="<%= params[:qr] %>" class="form-control subnav-search-input subnav-search-input-wide input-contrast width-full" placeholder="Search repositories" aria-label="Search repositories" <%= params[:qr].present? ? "autofocus" : nil %>>
      <input type="hidden" name="sort" value="<%= params[:sort] %>">
      <%= primer_octicon(:search, classes: 'subnav-search-icon') %>
      <% if repo.present? %>
        <%= link_to settings_org_actions_caches_path(qr: nil), class: "Link--secondary text-bold no-underline position-absolute repo-search-reset-query", "aria-label":  "Clear current search query" do %>
          <%= render(Primer::Beta::Octicon.new(icon: "x-circle-fill", classes: "repo-search-reset-query-icon")) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="Box Box--responsive mt-3">
    <div class="Box--condensed">
      <div class="Box-header d-flex flex-justify-between flex-items-center">
        <div class="flex-auto d-lg-block no-wrap">
          <div class="table-list-header-toggle states flex-auto" <%= test_selector "cache-usage-summary-item" %>>
            <% if params[:qr].present? %>
              <actions-announceable-search-result-summary>
                <strong data-target="actions-announceable-search-result-summary.searchResult">
                  <%= cache_usage_summary_string %>
                </strong>
              </actions-announceable-search-result-summary>
            <% else %>
              <strong><%= cache_usage_summary_string %></strong>
            <% end %>
          </div>
        </div>
        <div class="table-list-header-toggle states d-flex flex-lg-justify-end">
          <%= render partial: "settings/organization/actions/filters/sorts", locals: {sort: sort, repo: repo , sort_options: org_cache_usage_sort_options, default: "size-desc"} %>
        </div>
      </div>
    </div>
    <% if cache_usage_by_repo.empty? %>
      <%= render Primer::Beta::Blankslate.new(spacious: true, test_selector: "cache-usage-blankstate") do |c| %>
        <% if repo.nil? || repo.empty? %>
          <% c.with_heading(tag: :h2).with_content("No repository uses caches") %>
          <% c.with_description do %>
            <p> Nothing has been cached by workflows running in any repositories of this organization. </p>
            <p><a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/using-workflows/caching-dependencies-to-speed-up-workflows">Learn more about caching</a> dependencies and build outputs to improve workflow execution time.</p>
          <% end %>
        <% else %>
          <% c.with_heading(tag: :h2).with_content("No repositories with caches matched your query") %>
          <% c.with_description do %>
            <p> No repositories with caches matched your query repo:<%= repo %> </p>
            <p> <a class="Link--inTextBlock" href="<%= settings_org_actions_caches_path %>">Remove the filters</a> or try a different search query.</p>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <ol>
        <% cache_usage_by_repo.each_with_index do |cache_usage, index| %>
          <li class="Box-row d-flex flex-column" <%= test_selector("cache-usage-list-item") %>>
            <div class="d-flex flex-row flex-justify-between">
              <div class="d-flex flex-row">
                <span class="h4 d-inline-block text-bold lh-condensed mb-1 width-full">
                  <div class="mr-1 css-truncate css-truncate-target" style="max-width: 500px" <%= test_selector("cache-usage-repo-name-#{index}") %>>
                    <%= render(Primer::Beta::Link.new(href: actions_caches_path(repository: cache_usage.repository, user_id: org), scheme: :primary)) { cache_usage.repository.name } %>
                  </div>
                </span>
                <%= repository_label(cache_usage.repository, classes: "ml-1 mb-1") %>
              </div>
              <%if show_cache_usage_warning?(cache_usage) %>
                <div <%= test_selector("cache-usage-warning-item") %>>
                  <%= render(Primer::Beta::Octicon.new(icon: :alert, size: :small, color: :attention)) %>
                  <span class="color-fg-attention">
                    Approaching storage limit
                  </span>
                </div>
              <%end%>
            </div>
            <span class="color-fg-muted text-small" <%= test_selector("cache-usage-description-#{index}") %>>
              <%= cache_usage.active_caches_size.to_fs(:human_size) %> out of <%= cache_usage.repository.actions_cache_size_limit%> GB &#8226; <%= cache_usage.active_caches_count %> active <%="cache".pluralize(cache_usage.active_caches_count)%>
            </span>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
  <div class="paginate-container d-none d-sm-flex flex-sm-justify-center">
    <%= will_paginate cache_usage_by_repo %>
  </div>
<% end %>
