<%
  page_info title: "GitHub-hosted runners · #{current_organization.name}",
            responsive: false,
            selected_link: :organization_actions_settings_runners
%>

<%= render layout: "orgs/settings/layout" do %>

<div class="">
  <div class="">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        <a href="<%= settings_org_actions_runners_path %>">Runners</a> / GitHub-hosted runners
      <% end %>
    <% end %>
  </div>

  <div class="d-flex flex-row mb-5 pb-5 border-bottom">
    <div class="mr-5 pr-5" style="flex-basis: 35%">
      <%= render(Actions::HostedRunners::HostedRunnersJobsUsageComponent.new(concurrency_limit: concurrency_limit, jobs: jobs)) %>
    </div>

    <div class="mr-5 pr-5" style="flex-basis: 63%">
      <%= render(Actions::HostedRunners::HostedRunnersLabelsComponent.new) %>
    </div>
  </div>

  <div>
    <%= render(Actions::HostedRunners::HostedRunnersJobsListComponent.new(jobs: paginated_jobs)) %>
  </div>
<% end %>
