<%
  page_info title: "Actions settings · #{current_organization.name}",
            responsive: false,
            selected_link: :organization_actions_settings
%>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>General actions permissions<% end %>
  <% end %>

  <%= render Organizations::Settings::ActionsPoliciesComponent.new(
    organization: current_organization,
    can_use_entity_selection: can_use_entity_selection,
  ) %>

  <actions-policy-form>
    <%= primer_form_with(url: settings_org_actions_update_allowed_actions_path(current_organization), method: :put) do |f| %>
      <%= render(Actions::Policy::AllowedActionsForm.new(f, owner: current_organization, current_user: current_user,)) %>
    <% end %>
  </actions-policy-form>

  <div class="my-<% current_organization.can_write_organization_runners_and_runner_groups?(current_user) &&
    !current_organization.can_write_organization_actions_settings?(current_user) ? 3 : 6 %>">
    <%= render Organizations::Settings::Actions::RepoSelfHostedRunnerComponent.new(
      entity: current_organization,
      action: settings_org_actions_update_repo_self_hosted_runners_path(current_organization)
    ) %>
  </div>

  <% unless current_organization.actions_disabled? %>
    <%= render Actions::Settings::RetentionComponent.new(
      entity: current_organization,
      update_retention_limit_path: settings_org_actions_update_retention_path,
    ) %>

    <%= render Actions::Policy::ForkPrApprovalsComponent.new(
      entity: current_organization,
      action: settings_org_actions_update_fork_pr_approvals_policy_path,
    ) %>

    <% if GitHub.flipper[:dotcom_public_fork_pr_workflows_policy].enabled?(current_organization) %>
      <%= render Actions::Policy::PublicForkPullRequestComponent.new(
        entity: current_organization,
        action: settings_org_actions_update_public_fork_pr_workflows_policy_path,
      ) %>
    <% end %>

    <%= render Actions::Policy::ForkPullRequestComponent.new(
      entity: current_organization,
      action: settings_org_actions_update_fork_pr_workflows_policy_path,
    ) %>

    <%= render Actions::Policy::DefaultWorkflowPermissionsComponent.new(
      entity: current_organization,
      action: settings_org_actions_update_default_workflow_permissions_path,
    ) %>
  <% end %>
<% end %>
