<%
  page_info \
  title: (runner_group.present? ? "Manage runner group #{runner_group.name}" : "Create runner group") + " · #{current_organization.name}",
  responsive: false,
  selected_link: :organization_actions_settings_runner_group
%>

<%= render layout: "orgs/settings/layout" do %>
  <% runner_group_home_settings = settings_org_actions_runner_groups_path %>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= runner_group_home_settings %>">Runner groups</a> / <span class="css-truncate css-truncate-target" style="max-width: 500px"><%= runner_group.present? ? runner_group.name : "New Runner Group" %></span>
    <% end %>
    <% component.with_actions do %>
      <% if runner_group.present? %>
        <%= render(Actions::RunnerGroupRemoveButtonComponent.new(runner_group: runner_group, owner_settings: owner_settings)) %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Actions::RunnerGroupComponent.new(
              runner_group: runner_group,
              owner: owner,
              owner_settings: owner_settings,
              has_business: has_business,
              network_configurations: network_configurations,
              current_network_configuration: current_network_configuration
            )) %>

  <% if runner_group.present? %>
    <% if !runner_group.inherited? %>
      <%= render(Actions::RunnerFilterComponent.new(
          owner: owner,
          owner_settings: owner_settings,
          runners: runners,
          search_action: runner_group.id.to_s,
          can_create_runners: true,
          can_manage_runners: true,
          runner_group: runner_group
        )) %>
    <% else %>
      <%= render(Actions::RunnerFilterComponent.new(
          owner: owner,
          owner_settings: Actions::EnterpriseRunnersView.new(settings_owner: owner.business, current_user: owner_settings.current_user),
          runners: runners,
          search_action: runner_group.id.to_s,
          can_create_runners: false,
          can_manage_runners: false,
          runner_group: runner_group
        )) %>
    <% end %>
    <div class="paginate-container">
      <div class="pagination">
        <%= will_paginate(runners) %>
      </div>
    </div>
  <% end %>
<% end %>
