<%
  page_info \
  title: "Runners · #{current_organization.name}",
  responsive: false,
  selected_link: :organization_actions_settings_runners
%>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new(spacious: false) do |component| %>
    <% component.with_heading(tag: :h2) do %>Runners<% end %>
    <% component.with_description do %>Includes all runners across self-hosted and GitHub-hosted runners.<% end %>
  <% end %>
    <% if can_use_org_runners %>
      <% if should_display_default_runners_banner %>
        <%= render(Actions::LargerRunners::LargerRunnersSetupDefaultDialogComponent.new(entity: current_organization)) %>
      <% elsif !larger_runners_enabled %>
        <p class="mb-2">
          Host your own runners and customize the environment used to run jobs in your GitHub Actions workflows. Runners added to this organization can be used to process jobs in multiple repositories in your organization.
          <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/hosting-your-own-runners/about-self-hosted-runners">Learn more about self-hosted runners</a>.
        </p>
      <% end %>
      <%= render(Actions::RunnerFilterComponent.new(
        owner: current_organization,
        owner_settings: Actions::OrgRunnersView.new(settings_owner: current_organization, current_user: current_user),
        runners: runners,
        has_business: current_organization.business.present?,
        hosted_runner_group: hosted_runner_group,
        filter_level: filter_level,
        filter_query: filter_query
      )) %>

      <div class="paginate-container">
        <div class="pagination">
          <%= will_paginate(runners) %>
        </div>
      </div>
    <% else %>
      <p <%= test_selector("legacy-plan-warning") %>>
        Organization self-hosted runners are not available for organizations on legacy per-repository billing plans.
        Please visit your billing settings to upgrade your account.
      </p>
    <% end %>
  <% end %>
