<%
  page_info \
  title: "Manage runner scale set · #{current_organization.name}",
  responsive: false,
  selected_link: :organization_actions_settings_runner_scale_set
%>

<%= render layout: "orgs/settings/layout" do %>
  <% runner_home_settings = settings_org_actions_runners_path %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
    <div class="d-flex flex-row">
      <div class="mr-2">
        <a href="<%= runner_home_settings %>">Runners</a> /
      </div>
      <div class="mr-2">
        <%= render(Primer::Beta::Octicon.new(:"hubot")) %>
        <%= scale_set.name %>
      </div>
    <% end %>
  <% end %>
  <%= render(Actions::RunnerScaleSets::RunnerScaleSetHeaderDescriptionComponent.new(scale_set: scale_set, owner_settings: owner_settings)) %>
  <%= render(Actions::RunnerScaleSets::RunnerScaleSetComponent.new(scale_set: scale_set)) %>
<% end %>
