<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  page_info \
  title: "Runner details for #{runner.name} · #{current_organization.name}",
  responsive: false,
  selected_link: :organization_actions_settings_runner_details
%>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= settings_org_actions_runners_path %>">Runners</a> / <%= runner.name %>
    <% end %>
    <% component.with_actions do %>
      <details class="details-reset details-overlay details-overlay-dark">
        <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :danger, "aria-haspopup": "dialog", "data-sudo-required": :true) do %>
          Remove
        <% end %>
        <details-dialog
          class="Box Box--overlay d-flex flex-column anim-fade-in fast Box-overlay--wide"
          style="width: 600px;"
          aria-label="Remove runner"
          aria-modal="true"
          src="<%= owner_settings.delete_runner_path(id: runner.id, os: runner.os) %>"><%# erblint:disable A11yDetailsDialogMigration %>
          <include-fragment>
            <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
          </include-fragment>
        </details-dialog>
      </details>
    <% end %>
  <% end %>

  <%= render Actions::Runners::DetailsComponent.new(runner: runner, check_run: check_run, runner_group: runner_group, owner_settings: owner_settings) %>
<% end %>
