<%
  page_info \
  title: "Runner groups · #{current_organization.name}",
  responsive: false,
  selected_link: :organization_actions_settings_runner_groups
%>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new(spacious: false) do |component| %>
    <% component.with_heading(tag: :h2) do %>Runner groups<% end %>
  <% end %>

  <%= render(Actions::RunnerGroupsComponent.new(
    owner: current_organization,
    owner_settings: Actions::OrgRunnersView.new(settings_owner: current_organization, current_user: current_user),
    runner_groups: runner_groups,
    restricted_plan: restricted_plan,
    disabled_runner_group_ids: disabled_runner_group_ids,
    disabled_owner_runner_group_ids: []
  )) do |component| %>
    <% component.with_description do %>
      <p class="mb-0 px-2">
        Control access to your runners by specifying the repositories that are able to use your shared organization runners. New runners will be automatically assigned to the default group if no other group is specified.
        <% if restricted_plan %>
          Upgrade to an Enterprise plan to create groups.
       <% end %>
      </p>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <div class="pagination">
      <%= will_paginate(runner_groups) %>
    </div>
  </div>

  <% if inherited_runner_groups.any? %>
    <p class="f3 mt-4">
      Shared by the Enterprise
    </p>
    <%= render(Actions::RunnerGroupsComponent.new(
      owner: current_organization,
      can_create_groups: false,
      owner_settings: Actions::EnterpriseRunnersView.new(settings_owner: current_organization, current_user: current_user),
      runner_groups: inherited_runner_groups,
      groups_inheritance: "inherited",
      disabled_runner_group_ids: disabled_runner_group_ids,
      disabled_owner_runner_group_ids: disabled_owner_runner_group_ids
    ))%>

    <div class="paginate-container">
      <div class="pagination">
        <%= will_paginate(inherited_runner_groups, param_name: :enterprise_page) %>
      </div>
    </div>
  <% end %>
<% end %>
