<table class="indexing-es-cluster">
  <tr class="<%= cluster['status'] %>">
    <th class="name"><%= h cluster['cluster_name'] %></th>
    <th><%= h cluster['status'] %></th>
  </tr>
<% if cluster['error'] %>
  <tr>
    <td class="cluster-error name" colspan="2"><%= h cluster['error'] %></td>
  </tr>
<% else %>
  <% %w[number_of_nodes number_of_data_nodes
        active_primary_shards active_shards
        relocating_shards initializing_shards unassigned_shards].each do |key| %>
    <tr>
      <td class="name"><%= h key.titleize %></td>
      <td><%= h cluster[key] %></td>
    </tr>
  <% end %>
<% end %>
</table>
