<%# erblint:counter DeprecatedInPrimerCounter 4 %>
<%-
index = index_partial
up_to_date = index.up_to_date?
repair_job = index.repair_job
-%>
<tr>
  <td class="es-icon es-primary">
  <% if index.primary %>
    <span class="tooltipped tooltipped-se" aria-label="Primary index "><%= primer_octicon(:star) %></span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
  <% end %>
  </td>
  <td class="es-icon es-up-to-date<%= up_to_date ? ' green' : ' orange' %>">
    <span class="tooltipped tooltipped-se" aria-label="Mappings are<%= up_to_date ? nil : ' not' %> up to date "><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
      <%= primer_octicon(up_to_date ? "check" : "x") %>
    </span>
  </td>
  <td class="es-icon es-searchable<%= index.searchable ? nil : ' is-not-set' %>">
    <span class="tooltipped tooltipped-se" aria-label="Index is<%= index.searchable ? nil : ' not' %> searchable "><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
      <%= primer_octicon(index.searchable ? "book" : "x") %>
    </span>
  </td>
  <td class="es-icon es-writable<%= index.writable ? nil : ' is-not-set' %>">
    <span class="tooltipped tooltipped-se" aria-label="Index is<%= index.writable ? nil : ' not' %> writable "><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
      <%= primer_octicon(index.writable ? "pencil" : "x") %>
    </span>
  </td>
  <td class="es-text es-index-name"><a href="<%= stafftools_search_index_path index.name %>"><%= index.name %></a></td>
<% if Elastomer.router.multiple_clusters? %>
  <td class="es-text es-index-cluster"><%= index.cluster %></td>
<% end %>
<% if repair_job && repair_job.exists? %>
  <td class="es-repair-progress"><%= progress_bar(repair_job.progress, :percentage => true, :precision => 1) %></td>
<% else %>
  <td>&nbsp;</td>
<% end %>
</tr>
