<%
  stats = repair_job.stats
  job_exists = repair_job.exists?
  job_enabled = repair_job.enabled?
%>
<div data-index-name="<%= repair_job.index_name %>" <%= repair_job.active? ? "id=js-repair-index" : nil %>>
  <% if job_exists %>
    <table class="es-index-repair">
      <tr>
        <td class="es-repair-stats-label">Progress:</td>
        <td class="es-repair-progress"><%= progress_bar(repair_job.progress, percentage: true, precision: 1) %></td>
      </tr>
    </table>
    <table class="es-index-repair">
      <tr><td class="es-repair-stats-label">Total database records read:</td><td><%= number_with_delimiter(stats[:total]) %></td></tr>
      <tr><td>Records to add:</td><td><%= number_with_delimiter(stats[:added]) %></td></tr>
      <tr><td>Records to update:</td><td><%= number_with_delimiter(stats[:updated]) %></td></tr>
      <tr><td>Records to remove:</td><td><%= number_with_delimiter(stats[:removed]) %></td></tr>
      <tr><td class="es-repair-stats-label pt-3">Records with indexing errors:</td><td class="pt-3"><%= number_with_delimiter(stats[:error]) %></td></tr>
      <tr><td colspan="2"><p class="note">The number of records with errors may be greater than the number of logged exceptions due to batching.</p></td></tr>
    </table>

    <% if stats[:finished] %>
      <p><strong>Repair complete:</strong> <%= stats[:finished] %></p>
    <% else %>
      <p><strong>Repair jobs set:</strong> <%= repair_job.workers %></p>
      <!-- Active jobs: <%= repair_job.working %> -->
    <% end %>
  <% end %>

  <% if !stats[:finished] %>
    <div>
      <div class="mt-4 d-flex flex-justify-between flex-items-center">
        <% if job_exists %>
          <%= form_tag(update_workers_stafftools_search_index_path(repair_job.index_name), method: "put", style: "display: flex; align-items: center;") do %>
            <%= render(Primer::Beta::Text.new(font_weight: :bold, tag: :span)) { "Set number of repair jobs:" } %>
            <%= render(Primer::Alpha::TextField.new(full_width: false, placeholder: "1", type: :number, name: "worker_count", label: "Set number of repair jobs", visually_hide_label: "true", mx: 2, style: "width: 100px;")) %>
            <%= render(Primer::Beta::Button.new(type: :submit)) { "Update" } %>
          <% end %>
        <% else %>
          <%= render(Primer::Beta::Text.new(tag: :span)) { "Start a repair job for this index" } %>
          <%= form_tag(repair_stafftools_search_index_path(repair_job.index_name), method: "post") do %>
            <%= render(Primer::Beta::Button.new(type: :submit)) { "Start" } %>
        <% end %>
        <% end %>
      </div>

      <% if job_exists %>
        <div class="mt-4">
          <%= form_tag(pause_repair_stafftools_search_index_path(repair_job.index_name), method: "put") do %>
            <%= render(Primer::Beta::Button.new(type: :submit, float: :right, disabled: !job_enabled)) { "Pause" } %>
          <% end %>
          <% if job_enabled %>
            <p>Pause the repair</p>
          <% else %>
            <p><strong>The repair is paused</strong></p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
