<%# erblint:counter DeprecatedComponentsCounter 5 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: "Search indexes ∙ Site admin", selected_link: :indexing %>

<%= render layout: "stafftools/stafftools" do %>

  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Elasticsearch cluster status
    <% end %>
  <% end %>

  <div class="clearfix">
    <% @clusters.health_for_each_cluster do |cluster_health| %>
      <%= render partial: "stafftools/search_indexes/es_status", locals: { cluster: cluster_health } %>
    <% end %>
  </div>

  <%= render(Primer::Beta::Subhead.new(spacious: true)) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Index management
    <% end %>
    <% component.with_actions do %>
      <%= render(
        Primer::ButtonComponent.new(
          tag: :a,
          href: new_stafftools_search_index_path
        )
      ) { "Create new index" } %>
    <% end %>
  <% end %>

  <% if @indices.empty? %>
    <div>
      <p>We couldn’t find any search indices. You should create some and then backfill them with data.</p>
    </div>
  <% else %>
    <div>
      <table class="es-index-management">
        <tr>
          <th colspan="4">Status</th>
          <th>Index</th>
          <% if Elastomer.router.multiple_clusters? %>
            <th>Cluster</th>
          <% end %>
          <th>Repair</th>
        </tr>
        <%= render partial: "stafftools/search_indexes/index_partial", collection: @indices %>
      </table>
    </div>
  <% end %>

  <%= render(Primer::Beta::Subhead.new(spacious: true)) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Code search
    <% end %>
  <% end %>

  <div>
    <% if stafftools_action_authorized?(controller: Stafftools::SearchIndexesController, action: :toggle_code_search) %>
      <%= form_tag(toggle_code_search_stafftools_search_indexes_path, method: "post") do %>
        <% if @clusters.code_search_enabled? %>
          <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :danger, float: :right)) { "Disable" } %>
        <% else %>
          <%= render(Primer::ButtonComponent.new(type: :submit, float: :right)) { "Enable" } %>
        <% end %>
      <% end %>
      <h4>Searching</h4>
      <p>Enable or disable source code searching.</p>
    <% else %>
      <h4>Searching</h4>
      <p><%= stafftools_not_authorized_html %></p>
    <% end %>

    <hr>

    <% if stafftools_action_authorized?(controller: Stafftools::SearchIndexesController, action: :toggle_code_search_indexing) %>
      <%= form_tag(toggle_code_search_indexing_stafftools_search_indexes_path, method: "post") do %>
        <% if @clusters.code_search_indexing_enabled? %>
          <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :danger, float: :right)) { "Disable" } %>
        <% else %>
          <%= render(Primer::ButtonComponent.new(type: :submit, float: :right)) { "Enable" } %>
        <% end %>
      <% end %>
      <h4>Indexing</h4>
      <p>Enable or disable source code indexing.</p>
    <% else %>
      <h4>Indexing</h4>
      <p><%= stafftools_not_authorized_html %></p>
    <% end %>
  </div>

  <%= render(Primer::Beta::Subhead.new(spacious: true)) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Projects
    <% end %>
  <% end %>
<% end %>
