<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: "Search indexes ∙ Site admin", selected_link: :indexing %>

<%= render layout: "stafftools/stafftools" do %>

  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Create a new index
    <% end %>
  <% end %>

  <%= form_for @index, :url => stafftools_search_indexes_path do |f| %>
    <%= f.select_group "Select the index to create", :kind, @indices.sort %>

    <% if Elastomer.router.multiple_clusters? %>
      <%= f.select_group "Select the cluster where the index will be created", :cluster, @clusters %>
    <% end %>

    <%= render partial: "stafftools/search_indexes/index_settings", locals: { form: f } %>

    <p>
      <%= render(Primer::ButtonComponent.new(type: :submit)) { "Create index" } %>
    </p>
  <% end %>
<% end %>
