<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%# rubocop:disable GitHub/RailsViewRenderLiteral %>
<% page_info :title => "Search indexes ∙ Site admin", :selected_link => :indexing %>
<% slack_channel_link = "https://github.slack.com/archives/elasticsearch" %>

<%= render layout: "stafftools/stafftools" do %>

  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h3) do %>
      Manage the `<%= @index.name %>` index
    <% end %>
  <% end %>

  <% if Elastomer.router.multiple_clusters? %>
    <%= render(Primer::Box.new(display: :flex)) do %>
      <p><strong> Cluster: </strong><%= @index.cluster %></p>
    <% end %>
  <% end %>

  <%= render(Primer::Box.new(display: :flex)) do %>
    <p><strong> Document count: </strong><%= number_with_delimiter(@index.document_count) %></p>
  <% end %>

  <% if !@index.primary || @kind_has_multiple_primaries %>
    <%= form_for @index, url: make_primary_stafftools_search_index_path(@index.name), method: :put do |f| %>
      <p>Make this index the primary for all <strong><%= @index.kind %></strong> indices.</p>
      <p>
        <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :primary)) { "Make Primary" } %>
      </p>
      <% if @index.cluster_different_than_primary? %>
        <p class="note">Note: this index is on a different cluster from the current primary index. After making this index primary, there may be a 2-minute delay before queries start using this index.</p>
      <% end %>
    <% end %>

    <hr class="fullbleed">
  <% end %>

  <%= form_for @index, url: stafftools_search_index_path(@index.name) do |f| %>
    <%= f.hidden_field :name, value: @index.name %>
    <%= render partial: "stafftools/search_indexes/index_settings", locals: {form: f} %>
    <p>
      <%= render(Primer::ButtonComponent.new(type: :submit)) { "Update index" } %>
    </p>
  <% end %>

  <% if @repair_job %>
    <%= render(Primer::Beta::Subhead.new(spacious: true)) do |component| %>
      <% component.with_heading(tag: :h3) do %>
        Repair the `<%= @index.name %>` index
      <% end %>
      <% if @repair_job.exists? %>
        <% component.with_actions do %>
          <%= form_tag repair_stafftools_search_index_path(@index.name),
                       method: "delete", class: "inline-form" do %>
            <%= render(Primer::ButtonComponent.new(
              type: :submit, scheme: :danger,
              data: { confirm: "All workers will be stopped and all repair progress will be cleared. Are you sure you want to continue?" }
            )) { "Reset" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if !GitHub.enterprise? %>
      <%= render(Primer::Box.new(display: :flex, bg: :attention, border: true, border_color: :attention, p: 2)) do %>
        <p class="m-0">Please reach out to <%= safe_link_to "#elasticsearch", slack_channel_link, target: "_blank" %> before you start the repair job to ensure it is safe to repair this index.</p>
      <% end %>
    <% end %>

    <%= render @repair_job %>
  <% end %>
  <%= render(Primer::Beta::Subhead.new(spacious: true)) do |component| %>
    <% component.with_heading(tag: :h3, id: "danger-zone") do %>
      Danger Zone
    <% end %>
  <% end %>
  <%= render Primer::Beta::BorderBox.new(
    border: true,
    border_radius: 1,
    border_color: :danger,
  ) do |component| %>
    <% component.with_row(display: :flex, align_items: :center) do %>
      <div class="flex-auto">
        <strong>Reset mapping version</strong>
        <p class="mb-0">Reset the mapping version digest of this Elasticsearch index</p>
      </div>
      <%= form_for @index, url: update_version_stafftools_search_index_path(@index.name), method: :put do |f| %>
        <%= render(Primer::Beta::Button.new(
          type: :submit,
          scheme: :danger,
          disabled: @index.up_to_date?,
          "data-confirm": "Are you sure you'd like to reset the mapping version?",
        )) { "Reset mapping version" } %>
      <% end %>
    <% end %>
    <% component.with_row(display: :flex, align_items: :center, justify_content: :flex_end) do %>
      <div class="flex-auto">
        <strong> Delete this index</strong>
        <p class="mb-0">Once you delete an index, there is no going back. Please be certain.</p>
      </div>
      <%= form_for @index, url: stafftools_search_index_path(@index.name), method: :delete do |f| %>
        <%= render(Primer::Beta::Button.new(
          type: :submit,
          scheme: :danger,
          disabled: @index.primary,
          "data-confirm": "Are you sure you want to delete the #{@index.name} index?"
        )) { "Delete index" } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
