<div class="readme-bio">
  <div class="container-xl p-responsive-readme py-5 py-md-6">
    <div class="d-md-flex flex-justify-between">
      <div class="col-md-8 mb-9 mb-md-0 pr-md-6 pr-lg-8 readme-bio-text">
        <p class="text-mono text-uppercase f5-mktg mb-5 readme-text-gray-dark" style="letter-spacing:0.05em;">
          <%= preview_label unless story[:published?] %> <%= story[:name] %> // <a href="<%= user_path(story[:github_user][:handle]) %>" class="link-blue-readme">@<%= story[:github_user][:handle] %></a>
        </p>

        <div class="f2-mktg text-normal font-alt-mktg readme-bio__intro">
          <%= contentful_readme_rich_text(story[:bio]) %>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 f5-mktg">
        <div class="d-sm-flex gutter-sm gutter-md-0 d-md-block">
          <% if developer_story_user.present? %>
            <div class="col-sm-6 col-md-12">
              <%= follow_button(
                developer_story_user,
                classes: "btn mb-5 readme-bg-gray-light d-block text-center p-3 f4-mktg width-full")
              %>
            </div>
          <% end %>

          <div class="col-sm-6 col-md-12">
            <% if story[:github_user][:location] %>
              <p class="position-relative pl-5 mb-3 text-mono">
                <%= render Primer::Beta::Octicon.new(icon: "location", size: :small, position: :absolute, left: 0, classes: "top-1") %>
                <%= story[:github_user][:location] %>
              </p>
            <% end %>

            <% if story[:github_user][:twitter_handle] %>
              <p class="position-relative pl-5 mb-3 text-mono">
                <%= svg "modules/site/icons/twitter.svg", :height => 14, class: "position-absolute top-1 left-0" %><a href="https://twitter.com/<%= story[:github_user][:twitter_handle] %>" class="text-underline">@<%= story[:github_user][:twitter_handle] %></a>
              </p>
            <% end %>

            <% if developer_story_user_public_email.present? %>
              <p class="position-relative pl-5 mb-3 text-mono">
                <%= render Primer::Beta::Octicon.new(icon: "mail", size: :small, position: :absolute, left: 0, classes: "top-1") %>
                <%= obfuscated_mail_to(developer_story_user_public_email, class: "text-underline") %>
              </p>
            <% end %>

            <% if story[:github_user][:website] %>
              <p class="position-relative pl-5 mb-3 text-mono">
                <%= render Primer::Beta::Octicon.new(icon: "link", size: :small, position: :absolute, left: 0, classes: "top-1") %>
                <a href="<%= story[:github_user][:website] %>" class="text-underline"><%= story[:github_user][:website] %></a>
              </p>
            <% end %>

            <% if story[:github_user][:blog] %>
              <p class="position-relative pl-5 mb-3 text-mono">
                <%= render Primer::Beta::Octicon.new(icon: "pencil", size: :small, position: :absolute, left: 0, classes: "top-1") %>
                <a href="http://<%= story[:github_user][:blog] %>" class="text-underline"><%= story[:github_user][:blog] %></a>
              </p>
            <% end %>

            <% if developer_story_user_public_organizations_sample.any? %>
              <h3 class="mt-5 pt-2 border-top f5-mktg text-mono readme-text-black text-bold" style="font-weight: 400 !important">
                Organizations
              </h3>

              <div class="d-flex flex-wrap mt-2">
                <% developer_story_user_public_organizations_sample.each do |organization| %>
                  <% organization_link_data = hovercard_data_attributes_for_org(login: organization.display_login).merge(profile_click_tracking_attrs(:MEMBER_ORGANIZATION_AVATAR)) %>

                  <%= link_to user_path(organization), "aria-label" => organization.display_login, itemprop: "follows", class: "overflow-hidden rounded mr-1 mb-1", data: organization_link_data do %>
                    <%= render(GitHub::AvatarComponent.new(actor: organization, size: 32)) %>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            <% if developer_story_user_public_sponsorships_sample.any? %>
              <h3 class="mt-5 pt-2 border-top f5-mktg text-mono readme-text-black text-bold" style="font-weight: 400 !important">
                Sponsoring
              </h3>

              <div class="d-flex flex-wrap mt-2">
                <% developer_story_user_public_sponsorships_sample.each do |sponsorship| %>
                  <%= profile_link(sponsorship.sponsorable, class: "d-inline-block", skip_hovercard: true) do %>
                    <%= avatar_for(sponsorship.sponsorable, 32, img_class: "d-block-avatar") %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
