<div class="position-relative d-flex width-full overflow-hidden js-build-in" data-build-margin-bottom="45">
  <div class="position-relative container-xl mx-auto readme-hero--center">
    <div class="position-relative readme-hero__img">
      <%= render Site::ContentfulImageComponent.new(src: story[:hero_image][:url], width: 2000, height: 1200, classes: "d-block width-full height-full object-fit-cover", alt: story[:name], sizes: "100vw", lazy: false) %>

      <picture>
        <source srcset="<%= image_path "modules/site/readme/mask-center.webp" %>" type="image/webp">
        <img class="position-absolute d-block width-fit height-auto bottom-0" style="left:50%; transform: translateX(-50%) translateY(1px);" src="<%= image_path "modules/site/readme/mask-center.svg" %>" width="1410" height="212" alt="" aria-hidden="true">
      </picture>

      <picture>
        <source srcset="<%= image_path "modules/site/readme/spice-center.webp" %>" type="image/webp">
        <img class="position-absolute d-block height-auto" style="top:-4%; left:-4%; width:108%; height:108%; object-fit:contain" src="<%= image_path "modules/site/readme/spice-center.png" %>" width="2160" height="1216" alt="" aria-hidden="true">
      </picture>
    </div>

    <div class="col-md-10 col-xl-8 mx-auto text-center readme-hero__text">
      <div class="mb-6 d-flex flex-justify-center">
        <a href="<%= readme_index_path %>" aria-label="ReadME Project Homepage" class="readme-logo-link">
          <%= svg("modules/site/readme/readme-logo-lockup", height: 50, class: "d-block readme-logo", aria_hidden: true) %>
        </a>
      </div>

      <h1 class="mb-3 mb-xl-6 readme-heading-0">
        <%= story[:heading] %>
      </h1>

      <p class="col-xl-11 readme-subheading">
        <%= story[:subheading] %>
      </p>
    </div>
  </div>
</div>
