<% mask_number = ["1", "2", "3"].sample %>

<div class="position-relative d-flex width-full overflow-hidden js-build-in" data-build-margin-bottom="45">
  <div class="position-relative d-md-flex <% if story[:hero_image_layout] == "right" %>flex-row-reverse <% end %>flex-justify-between container-readme mx-auto mb-md-9 readme-hero--split">
    <div class="position-relative col-md-6 readme-hero__img <% if story[:hero_image_layout] == "left" %>ml-md-n4<% end %>">
      <%= render Site::ContentfulImageComponent.new(src: story[:hero_image][:url], width: 2000, height: 1200, classes: "d-block width-full height-full object-fit-cover readme-hero-mask readme-mask--vertical-#{mask_number}", alt: "Photo of #{story[:name]}", sizes: "(max-width: 755px) 100vw, 45vw", lazy: false) %>

      <picture>
        <source srcset="<%= image_path "modules/site/readme/spice-overlay-vertical-#{mask_number}.webp" %>" type="image/webp">
        <img class="height-full width-full position-absolute d-block" style="top:50%; left:50%; transform:translateX(-50%) translateY(-50%); object-fit:contain;" src="<%= image_path "modules/site/readme/spice-overlay-vertical-#{mask_number}.png" %>" width="1080" height="1380" alt="" aria-hidden="true" loading="lazy">
      </picture>
    </div>

    <div class="position-relative z-1 col-md-6 p-responsive-readme mt-n2 mt-md-0 d-flex flex-column flex-justify-center readme-hero__text">
      <div class="width-full height-full d-flex flex-column flex-justify-center pt-md-9">
        <div class="mb-4 mb-md-6 mb-xl-9">
          <a href="<%= readme_index_path %>" aria-label="ReadME Project Homepage" class="readme-logo-link">
            <%= svg("modules/site/readme/readme-logo-lockup", height: 50, class: "d-block readme-logo", aria_hidden: true) %>
          </a>
        </div>

        <h1 class="mb-6 readme-heading-0">
          <%= story[:heading] %>
        </h1>

        <p class="col-xl-11 readme-subheading">
          <%= story[:subheading] %>
        </p>
      </div>
    </div>
  </div>
</div>
