<div class="container-xl p-responsive-readme f3-mktg mx-auto">
  <div class="col-md-8 offset-md-3">
    <div class="border-top color-border-accent-emphasis text-mono readme-text-gray-dark f4-mktg mt-5 mt-md-6 pt-5 pt-md-6">
      <strong class="readme-text-black">GitHub Sponsors</strong> allows you to financially support the people who build and maintain the open source projects you depend on. One-hundred percent of your sponsorship goes toward helping <%= story[:github_user][:first_name] %> maintain <%= story[:project_name] %>.
    </div>

    <%= link_to sponsorable_path(developer_story_user), class: "btn-mktg btn-muted-mktg mt-5 mt-md-6", data: { "ga-click": "Support #{story[:github_user][:first_name]} on GitHub Sponsors, click to support #{story[:github_user][:first_name]} on GitHub Sponsors, ref_page:#{request.fullpath};ref_cta:Support #{story[:github_user][:first_name]} on GitHub Sponsors;ref_loc:readme profile footer" } do %>
      <%= render Primer::Beta::Octicon.new(icon: "heart", mr: 2, color: :sponsors) %> Support <%= story[:github_user][:first_name] %> on GitHub Sponsors
    <% end %>
  </div>
</div>
