<% page_info \
  title: page_data[:story][:meta_title],
  description: page_data[:story][:meta_description],
  class: "readme-project header-overlay",
  richweb: {
    title: page_data[:story][:open_graph_title],
    url: request.original_url,
    description: page_data[:story][:open_graph_description],
    image: page_data[:story][:meta_image][:absolute_url]
  }
%>

<% content_for :head do %>
  <meta name="readme-story-name" content="<%= page_data[:story][:name] %>">
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= render "site/readme/shared/structured_data", url: readme_developer_story_url(page_data[:story][:slug]), name: page_data[:story][:name] %>
  <%= article_structured_data_tag(
    headline: page_data[:story][:heading],
    publication_date: page_data[:story][:publication_date_iso8601],
    images: [page_data[:story][:hero_image]],
    authors: [page_data[:story][:github_user]]
  ) %>
<% end %>

<div class="js-details-container">
  <% if page_data[:story][:hero_image_layout] == "center" %>
    <%= render "site/readme/developer_stories/hero_center", story: page_data[:story] %>
  <% else %>
    <%= render "site/readme/developer_stories/hero_split", story: page_data[:story] %>
  <% end %>

  <%= render(
    "site/readme/developer_stories/bio",
    story: page_data[:story],
    developer_story_user: page_data[:developer_story_user],
    developer_story_user_public_email: page_data[:developer_story_user_public_email],
    developer_story_user_public_organizations_sample: page_data[:developer_story_user_public_organizations_sample],
    developer_story_user_public_sponsorships_sample: page_data[:developer_story_user_public_sponsorships_sample],
  ) %>

  <%= render "site/readme/shared/story_content", navigation_topics: page_data[:navigation_topics], story: page_data[:story], story_content_body: page_data[:story_content_body], has_approved_sponsors_account: page_data[:developer_story_user_has_approved_sponsors_account] %>

  <% if page_data[:developer_story_user_has_approved_sponsors_account] %>
    <%= render "site/readme/developer_stories/postscript", story: page_data[:story], developer_story_user: page_data[:developer_story_user] %>
  <% end %>

  <%= render "site/readme/shared/story_footer", story: page_data[:story], contributing: page_data[:contributing], more_stories: page_data[:more_stories] %>
</div>
