 <%= render_nothing_on_error do %>
  <%= render Primer::Box.new(**system_arguments) do %>
    <%= render Primer::Alpha::Banner.new(
      scheme: :danger,
      icon: :alert,
      border_radius: 2,
      name: "address_needs_validation",
      test_selector: "address-needs-validation-banner"
    ) do |flash| %>
      <strong>Update your <%= address_type %> information:</strong>
      <% if link_to_user_billing_information %>
        Please <a href="<%= path_to_billing_information %>" class="Link--inTextBlock">edit and/or resubmit your <%= address_type %> information</a>.
      <% else %>
        Please edit and / or resubmit your <%= address_type %> information.
      <% end %>
    <% end %>
  <% end %>
<% end %>
