<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="mb-3 js-billing-info-linking-wrapper <%= wrapper_class %>" <%= test_selector("billing-information") %>>
  <% if display_title? %>
    <h3 class="mb-1 f4">Billing information</h3>
  <% end %>
  <% if display_info_flash? %>
    <p <%= test_selector("billing-information-info") %>>
      <%= render(Primer::Beta::Flash.new(scheme: :default, spacious: true, icon: "info", mb: 3)) do %>
        <%= render Primer::Beta::Text.new(tag: :span, font_size: :normal, pt: 1, test_selector: "why-link-notice") do %>
          An organization owner or billing manager must link their personal billing information with this organization account. You can switch to a business account to use your business’ billing information by <a class="Link--inTextBlock" href="<%= settings_org_profile_path(target) %>">signing</a> the <a class="Link--inTextBlock" href="<%= customer_term_index_path %>" target="_blank" rel="noopener noreferrer">GitHub Customer Agreement</a>.
        <% end %>
        <%= render(Primer::Beta::Link.new(
          href: "#{GitHub.help_url(skip_enterprise: true)}/articles/link-your-biling-info-to-org",
          target: "_blank",
          scheme: :default,
          hidden: true,
          underline: false,
          classes: "Link--inTextBlock",
        )) { ("Learn more") } %>
      <% end %>
    </p>
  <% end %>

  <% if display_linking_option? %>
    <div class="mb-1" <%= test_selector("billing-information-link") %>>
      <label class="text-normal mb-1">
        <input
          type="checkbox"
          name="link_billing_information"
          class="mr-2 js-allow-billing-info-link"
          style="vertical-align: -1px"
          <%= "checked" if link_other? || autocheck_link_checkbox %>
          <%= "disabled" if link_other? %>
        >
        <%= render(Primer::Beta::Text.new(tag: :span, font_weight: :bold)) { "Allow my billing information to be linked with this organization" } %>
      </label>
    </div>
    <div class="js-billing-information-linking-summary ml-4" <%= test_selector("billing-information-link-save") %> <%= "hidden" if !link_other? %>>
      <% if !actor_trade_screening_record.validated_for_sales_tax? %>
        <%= render(Primer::Alpha::Banner.new(scheme: :danger, spacious: true, mb: 3)) do %>
          <%= render Primer::Beta::Text.new(tag: :span, font_size: :normal, pt: 1, test_selector: "linked-address-not-validated-warning") do %>
            Your billing information needs to be updated. Please <a href="<%= actor_billing_information_link %>" class="Link--inTextBlock">edit or resubmit your billing information</a> before trying to link it with this organization.
          <% end %>
        <% end %>
        <%= render Billing::Settings::NameAddressSummaryComponent.new(profile: actor_trade_screening_record, show_avatar_header: true) %>
      <% else %>
        <p class="color-fg-muted mb-1 mt-2 mb-3">
          Confirm your details shown below. To make changes,
          <a href="<%= actor_billing_information_link %>" class="Link--inTextBlock">edit your billing information</a>
        </p>
        <%= render Billing::Settings::NameAddressSummaryComponent.new(profile: actor_trade_screening_record, show_avatar_header: true) %>
        <%= render_billing_info_inputs(url_for: submit_linking_path, include_form_tag: include_form_tag?) do %>
          <%= hidden_field_tag "target", "organization" %>
          <%= hidden_field_tag "organization_id", target.display_login %>
          <%= hidden_field_tag "form_loaded_from", form_loaded_from %>

          <div class="d-flex" style="gap: 15px;">
            <%= render Primer::Beta::Button.new(
              type: :reset,
              classes: "js-settings-cancel-billing-info-linkage",
              value: "Cancel",
              style: "flex: 1",
              test_selector: "cancel-billing-info-linkage",
            ).with_content("Cancel") %>
            <%= render Primer::Beta::Button.new(
              type: :submit,
              value: "Save",
              scheme: :primary,
              mr: 2,
              style: "flex: 1",
              name: 'link_billing_info_to_org',
              test_selector: "save-billing-info-linkage",
            ).with_content("Save") %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if org_account_is_linked_to_current_owner? %>
    <div <%= test_selector("billing-information-summary-short") %>>
      <p class="color-fg-muted mb-2">This organization is linked with your billing information:</p>
      <% if !user_can_update_billing_info_on_same_page? %>
        <%= render Billing::Settings::NameAddressSummaryComponent.new(profile: org_trade_screening_record, actor: actor, short: true) %>
      <% end %>
    </div>

    <% if user_can_update_billing_info_on_same_page? %>
      <% if actor.is_allowed_to_edit_trade_screening_information? %>
        <div class="float-right js-edit-user-personal-profile-wrapper" <%= test_selector("edit-linked-billing-info-wrapper") %>>
          <%= render Primer::Beta::Button.new(
            size: :medium,
            font_size: 6, classes: "js-edit-linked-billing-info"
          ).with_content("Edit") %>
        </div>
      <% end %>
      <div class="d-flex flex-md-row flex-sm-column mb-1 mb-sm-0" style="row-gap: 8px;">
        <div class="col-6 mb-auto d-flex flex-items-center js-billing-info-avatar-wrapper">
          <%= render GitHub::AvatarComponent.new(actor: target, size: 48, mr: 2) %>
          <ul class="list-style-none lh-condensed mb-2" style="min-height: 48px;">
            <li class="pb-1 text-bold"><%= target.safe_profile_name %></li>
            <li class="text-small color-fg-muted">Organization</li>
          </ul>
        </div>
        <div class="col-6 text-sm-right lh-condensed">
          <%= render Billing::Settings::NameAddressSummaryComponent.new(profile: org_trade_screening_record) %>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if org_account_is_linked_to_another_owner? %>
    <div <%= test_selector("billing-information-summary-short") %>>
      <p class="color-fg-muted mb-2">This organization is linked with billing information of:</p>
      <%= render Billing::Settings::NameAddressSummaryComponent.new(profile: org_trade_screening_record, actor: actor, short: true) %>
    </div>

    <% if user_can_link_their_own_billing_info? %>
      <div <%= test_selector("billing-information-link-other") %>>
        <% if user_can_update_billing_info_on_same_page? %>
          <%= render_billing_info_inputs(url_for: submit_linking_path, include_form_tag: include_form_tag?) do %>
            <%= hidden_field_tag "target", "organization" %>
            <%= hidden_field_tag "organization_id", target.display_login %>
            <%= hidden_field_tag "form_loaded_from", form_loaded_from %>

            <p class="text-normal" <%= test_selector("link-own-billing-info-submit-btn") %>>
              As a billing administrator, you can choose to
              <%= render Primer::Beta::Button.new(
                type: :submit,
                scheme: :link,
                name: 'link_billing_info_to_org',
              ).with_content("link your own billing information") %>
              instead.
            </p>
          <% end %>
        <% else %>
          <p class="text-normal">
            As a billing administrator, you can choose to

            <a href="<%= link_other_path %>" class="Link--inTextBlock">
              link your own billing information
            </a>
            instead.
          </p>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if display_update_link? %>
    <p class="color-fg-muted mb-1" <%= test_selector("billing-information-update") %>>
      <a href="<%= actor_billing_information_link %>" class="Link--inTextBlock">Update your billing information</a> to be able to link it with this organization.
    </p>
  <% end %>

  <div class="js-name-address-collection-wrapper mt-2" <%= "hidden" if hide_data_collection_form? %> <%= test_selector("billing-info-linking-form") %>>
    <div class="d-flex flex-items-center mb-3">
      <%= render GitHub::AvatarComponent.new(actor: actor, size: 48, mr: 2) %>
      <div>
        <ul class="list-style-none lh-condensed mb-2" style="min-height: 48px;">
          <li class="text-bold pb-1">
            <%= actor.safe_profile_name %>
          </li>
          <li class="color-fg-muted text-small">
            Personal account
          </li>
        </ul>
      </div>
    </div>

    <%= render_billing_info_inputs(url_for: trade_screening_record_update_path, include_form_tag: include_form_tag?) do %>
      <%= render Billing::Settings::NameAddressFormInputsComponent.new(
        profile: target.trade_screening_record,
        target: target,
        actor: actor,
        payment_flow_loaded_from: form_loaded_from,
      ) %>
      <% if params[:return_to_path].present? %>
        <%= hidden_field_tag "return_to", return_to_path %>
      <% end %>

      <%= hidden_field_tag "target", "organization" %>
      <%= hidden_field_tag "organization_id", target.display_login %>

      <% if actor_has_saved_screening_record? %>
        <div class="d-flex" style="gap: 15px;">
          <%= render Primer::Beta::Button.new(
            type: :reset,
            style: "flex: 1;",
            classes: "Link--muted js-cancel-edit-linked-billing-info",
          ).with_content("Cancel") %>
          <%= submit_tag "Save", class: "btn btn-primary", name: 'billing_info_submit_btn', id: "submit_personal_profile", style: "flex: 1;" %>
        </div>
      <% else %>
        <div class="form-group pt-1">
          <%= submit_tag "Save and continue", class: "btn btn-primary width-full mt-2", name: 'billing_info_submit_btn', id: "submit_personal_profile" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if show_edit_and_unlink_buttons? %>
  <div class="float-right" <%= test_selector("edit-linked-billing-info-wrapper") %>>
    <% if show_edit_button? %>
      <%= render Primer::Beta::Button.new(
        tag: :a,
        font_size: 6,
        href: actor_billing_information_link,
        test_selector: "billing-information-view-edit") do %>
          Edit
      <% end %>
    <% end %>
    <% if show_unlink_button? %>
      <%= render(Primer::Alpha::Dialog.new(
        title: "Remove your billing information?",
        id: "remove-billing-info-dialog",
        size: :medium,
      )) do |d| %>
        <% d.with_header(show_divider: true, text_align: :left) { "" } %>
        <% d.with_show_button(color: :danger, type: :button, font_size: 6, ml: 2, "aria-label": "Remove billing information", test_selector: "remove-billing-info-button") do %>
          Remove
        <% end %>
        <% d.with_body(text_align: :left) do %>
          <%= render partial: "billing_settings/confirm_dereference_trade_screening_record", locals: { target: target, actor: actor, return_to: return_to_path } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
