<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_with url: @submit_path, method: (@budget.nil? ? :post : :patch) do |form| %>
  <div class="form-group pb-4 mt-4 mb-0" <%= test_selector "budget-form-#{@business.name}" %>>
    <div class="form-group-header">
      <%= form.label :budget_name, :for => "budget_name" %>
    </div>
    <div class="form-group-body">
      <%= form.text_field "budget[budget_name]", :id => "budget_name", placeholder: "What is this budget for?", value: @budget&.budget_name, class: "form-control input-block", required: true %>
    </div>
  </div>

  <div class="form-group mt-4 mb-0">
    <h2 class="h3">Budget scope</h2>
    <p class="color-fg-muted">Set the scope for tracking the spending for this budget.</p>
    <%= render(Primer::Beta::BorderBox.new(classes: "form-group-body")) do |component| %>
      <% component.with_row(my: 0, pl: 5, classes: "form-checkbox") do %>
        <label>
          <%= form.radio_button "budget[scope]", "enterprise", checked: (@budget&.owner_type == "Business" ? "checked" : nil), required: true %>
          Enterprise
          <p class="color-fg-muted text-normal mt-1">Spending for all organizations in your enterprise</p>
        </label>
      <% end %>
      <% component.with_row(my: 0, pl: 5, classes: organization_radio_classes) do %>
        <label aria-live="polite">
          <%= form.radio_button "budget[scope]",
            "organization",
            class: "form-checkbox-details-trigger",
            disabled: organization_radio_disabled?,
            checked: (@budget&.owner_type == "User" ? "checked" : nil),
            required: true
          %>
          Organization
          <p class="color-fg-muted text-normal mt-1">Spending for a single organization</p>
          <div class="form-checkbox-details">
            <%= render(GitHub::MenuComponent.new(
              text: "Select organization:",
              title: "Select organization",
              items: organization_menu_items,
              filter_placeholder: "Filter organizations...",
              filterable: true))
            %>
          </div>
        </label>
      <% end %>
    <% end %>
  </div>

  <div class="form-group mt-4 mb-0">
    <h2 class="h3">Services</h2>
    <p class="color-fg-muted">Select the metered service(s) to include in this budget.</p>
    <%= render(Primer::Beta::BorderBox.new(classes: "form-group-body")) do |component| %>
      <% services_list.each do |service| %>
        <% component.with_row(my: 0, pl: 5, classes: "form-checkbox") do %>
          <label class="ml-1 d-block">
            <%= form.check_box "budget[services][#{service[:value]}]", checked: (@budget&.product == service[:value] ? "checked" : nil) %>
            <%= service[:label] %>
          </label>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group mt-4 mb-0" aria-live="polite">
    <h2 class="h3">Spending limit</h2>
    <p class="color-fg-muted mb-3">Set a budget amount to limit your monthly spending.</p>
    <%= render(Primer::Beta::BorderBox.new(classes: "form-group-body")) do |component| %>
      <% component.with_row(my: 0, pl: 5, classes: "form-checkbox") do %>
        <label>
          <%= form.radio_button "budget[spending_limit][type]", "unlimited_spending", class: "js-unlimited-spending-radio", checked: (!@budget&.enforce_spending_limit ? "checked" : nil) %>
          Unlimited spending
          <p class="color-fg-muted text-normal mt-1">Spend as much as needed to keep the services running.</p>
        </label>
      <% end %>
      <% component.with_row(my: 0, pl: 5, classes: "form-checkbox") do %>
        <label>
          <%= form.radio_button "budget[spending_limit][type]", "limit", class: "form-checkbox-details-trigger js-spending-limit-radio", checked: (@budget&.enforce_spending_limit ? "checked" : nil) %>
          Monthly spending limit
          <p class="color-fg-muted text-normal mt-1">Set a budget amount to limit your spending on a monthly basis.</p>
          <div class="form-checkbox-details">
            <span class="position-absolute f5 pl-2" style="line-height: 32px">$</span>
            <%= form.text_field "budget[spending_limit][value]",
              class: "form-control pl-4",
              type: "number",
              aria_label: "Monthly spending limit",
              step: ".01",
              min: "0",
              placeholder: "0.00",
              value: @budget ? ('%.2f' % (@budget&.spending_limit_in_subunits.to_i / 100.0)) : nil
            %>
          </div>
        </label>
      <% end %>
    <% end %>
    <div class="form-checkbox pl-5 js-email-notifications"<% unless @budget&.enforce_spending_limit %> hidden<% end %>>
      <label>
        <%= form.check_box "budget[email_notification]", checked: (!@budget || @budget.notify_spending ? "checked" : nil) %>
        Receive email notifications
      </label>
      <p class="note" id="help-text-for-checkbox">
        When spending reaches 75%, 90% and 100% of the monthly spending limit
      </p>
    </div>
  </div>

  <div class="mt-4">
    <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit) do %>
      <%= @budget.nil? ? "Create" : "Update" %> budget
    <% end %>
    <%= link_to "Cancel", @cancel_path, class: "btn" %>
  </div>
<% end %>
