<div <%= test_selector "business-use-billing-information-for-shipping" %>>
  <%= primer_form_with(
    url: form_path,
    method: form_method,
    id: "business-use-billing-information-for-shipping"
  ) do |form| %>
    <%= render Billing::Settings::BusinessUseBillingInformationForShippingForm.new(form, business: business) %>
  <% end %>
</div>
<div <%= test_selector "business-shipping-information-form" %>>
  <% if flash[:shipping_address_validation_error] %>
    <%= render(Primer::Alpha::Banner.new(full: false, full_when_narrow: false, dismiss_scheme: :remove, scheme: :danger, my: 3, test_selector: "address-validation-error-flash")) do %>
      <%= flash[:shipping_address_validation_error] %>
    <% end %>
  <% end %>
  <%= primer_form_with(
    model: shipping_contact || Billing::Contact.new,
    url: form_path,
    method: form_method,
    id: "business-shipping-information-form",
    data: { target: "business-shipping-information.shippingInformationForm" }
  ) do |form| %>
    <billing-country-and-region-selection>
      <%= render Billing::Settings::BusinessShippingInformationForm.new(form, business: business, cancellable: flash[:shipping_address_validation_error].blank?) %>
    </billing-country-and-region-selection>
  <% end %>
</div>
