<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="color-fg-muted">
  <div class="mb-4">
    <% if heading? %>
      <%= heading %>
    <% else %>
      <% if on_free_trial? %>
        <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
          <%= render Primer::Alpha::Banner.new(scheme: :warning, icon: :alert) do %>
            Are you sure you want to cancel the trial?
          <% end %>
        <% else %>
          <%= render Primer::Beta::Flash.new(scheme: :warning, icon: :alert) do %>
            Are you sure you want to cancel the trial?
          <% end %>
        <% end %>
      <% else %>
        <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
          <%= render Primer::Alpha::Banner.new(scheme: :warning, icon: :alert) do %>
            Are you sure you want to cancel <%= product_name %>?
          <% end %>
        <% else %>
          <%= render Primer::Beta::Flash.new(scheme: :warning, icon: :alert) do %>
            Are you sure you want to cancel <%= product_name %>?
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= body %>

  <% if on_free_trial? %>
    You have <strong><%= subscription_item.days_left_on_free_trial %> <%= "day".pluralize(subscription_item.days_left_on_free_trial) %></strong> remaining in your <%= free_trial_length %>-day free trial. You can cancel <%= product_name %> without any charges.
  <% elsif GitHub.flipper[:copilot_disable_displaying_cancellation_date].enabled?(current_user) %>
    If cancelled, your access to <%= product_name %> will expire, and you will not be billed going forward.
  <% else %>
    If cancelled, your access to <%= product_name %> will expire on <span class="text-bold"><%= subscription_item.next_billing_date %></span>. You will not be billed going forward.
  <% end %>

  <hr>

  <%= form_tag subscription_item_path(global_relay_id), method: :delete do  %>
    <% if render_survey? %>
      <%= hidden_field_tag "survey_id", survey.id %>
      <div>
        <% survey.questions.order(:display_order).includes(:choices).each.with_index do |question, question_index| %>
          <dl class="form-group js-survey-question-form <%= "mt-4" if question_index > 0 %>">
            <% if question.multiple_choice? %>
              <dt><label class="d-block f4 text-bold"><%= question.text %></label></dt>
              <dd class="container-xl">
                <% question.choices.each do |choice| %>
                  <%= hidden_field_tag "answers[#{choice.id}][question_id]", question.id %>
                  <div class="form-checkbox my-1">
                    <label class="text-normal">
                      <input type="checkbox" name="answers[<%= choice.id %>][choice_id]" value="<%= choice.id %>" class="<%= "mt-2" if choice.other? %>">
                      <% if choice.other? %>
                        <input type="text" name="answers[<%= choice.id %>][other_text]" class="text-normal form-control" aria-label="Other" placeholder="<%= choice.text %>">
                      <% else %>
                        <%= choice.text %>
                      <% end %>
                    </label>
                  </div>
                <% end %>
              </dd>
            <% else %>
              <% choice_id = question.choices.first.id %>
              <dt><label class="d-block f4 text-bold" for="<%= question.short_text %>"><%= question.text %></label></dt>
              <dd>
                <%= hidden_field_tag "answers[#{choice_id}][question_id]", question.id %>
                <%= hidden_field_tag "answers[#{choice_id}][choice_id]", choice_id %>
                <textarea class="form-control" id="<%= question.short_text %>" name="answers[<%= choice_id %>][other_text]" style="height: 100px; min-height: 100px"></textarea>
              </dd>
            <% end %>
          </dl>
        <% end %>
      </div>
    <% end %>

    <%= render(Primer::ButtonComponent.new(scheme: :danger, type: :submit, size: :medium, "data-disable-with": "Cancelling…", block: true)) do %>
      <% if action_text? %>
        <%= action_text %>
      <% else %>
        <% if on_free_trial? %>
          I understand, cancel <%= product_name %> trial
        <% else %>
          I understand, cancel <%= product_name %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
