<%= render(Primer::Box.new(display: :flex)) do %>
  <div class="flex-1">
    <%= render(Primer::Beta::Heading.new(tag: styles.header_tag, font_size: styles.header_font_size, display: :inline)) { "Sales Tax" } %>
    <% if exemption_form_exists? %>
      <%= render(Primer::Beta::Text.new(tag: :p, color: :muted, mt: styles.text_mt, font_size: styles.text_size)) do %>
        <%= render(Primer::Beta::Octicon.new(:"check-circle", size: :small, color: :success)) %> This account is tax exempt
      <% end %>
    <% else %>
      <%= render(Primer::Beta::Text.new(tag: :p, color: :muted, mt: styles.text_mt, font_size: styles.text_size)) do %>
        If you are exempt from
        <%= render(Primer::Beta::Link.new(href: github_sales_tax_docs_url, classes: "Link--inTextBlock",)) { "sales tax" } %>,
        you can upload a certificate. (Must be .jpeg/.png/.pdf file format).
      <% end %>
    <% end %>
  </div>

  <% if exemption_form_exists? %>
    <%= render Billing::Settings::SalesTaxExemptionCertificateFileComponent.new(tax_exemption_status: account.customer.tax_exemption_status, size: size) %>
  <% else %>
    <certificate-upload-create>
      <%= form_with url: billing_sales_tax_exemptions_path, class: "d-flex flex-justify-end", data: { target: "certificate-upload-create.formElement" } do |f| %>
        <%= f.hidden_field :account_id, value: account.id %>
        <%= f.hidden_field :account_type, value: account.class.to_s %>
        <%= f.file_field :file,
          accept: allowed_extensions,
          id: "upload-tax-exempt-certificate",
          class: "sr-only",
          data: { target: "certificate-upload-create.file", action: "change:certificate-upload-create#sendIt" } %>
        <label class="btn text-<%= styles.button_size %>" data-target="certificate-upload-create.uploadBtn" for="upload-tax-exempt-certificate" <%= test_selector("certificate-upload-label") %>>
          <span data-target="certificate-upload-create.uploadBtnText" data-text="Upload certificate">Upload certificate</span>
          <span data-target="certificate-upload-create.processingAnime" data-text="Uploading" class="AnimatedEllipsis" style="display: none"></span>
        </label>
      <% end %>

      <div data-target="certificate-upload-create.errorText" class="error color-fg-danger" role="alert" style="display: none">
        Please upload a file less than 10MB.
      </div>
    </certificate-upload-create>
  <% end %>
<% end %>
