<div class="col-12 py-3 px-4 col-md-4 mb-md-0 mb-3 mr-md-3 color-bg-subtle rounded-2" <%= test_selector("current-upcoming-bill-#{account.id}") %>>
  <h3 class="f5 text-normal color-fg-muted" <%= test_selector("current-upcoming-bill-header") %>>
    <%= header_text %>
  </h3>
  <span class="f2 text-bold d-block mt-1 mb-2 pb-1" <%= test_selector("billing-overview-current-bill") %>>
    <% if pending_cycle_without_addons_payment_amount_using_balance <= 0 %>
      $0
    <% elsif subscription_balance.zero? %>
      $<%= number_with_precision pending_cycle_without_addons_payment_amount_using_balance, precision: 2,
        delimiter: "," %>
    <% else %>
      $<%= number_with_precision subscription_balance, precision: 2, delimiter: "," %>
    <% end %>
  </span>

  <% if account.munich_seats_manageable_by?(current_user) %>
    <%= render Primer::Beta::Link.new(
      href: manage_seats_path,
      display: :block,
      font_size: 6,
      test_selector: "manage-seats-option",
    ).with_content(manage_seats_link_text) %>
  <% end %>
  <% if change_duration_path %>
    <% unless pending_cycle_with_addons.has_changes? && pending_cycle_with_addons.changing_duration? %>
      <%= render Primer::Beta::Link.new(
        href: change_duration_path,
        font_size: 6,
        data: analytics_click_attributes(
          category: "#{analytics_account_prefix(account)} #{change_billing_duration_message}",
          action: "click to upgrade",
          label: "ref_cta:#{change_billing_duration_message};ref_loc:billing"
        ),
      ).with_content(change_billing_duration_message) %>
    <% end %>
  <% elsif !account.org_free_plan? || !account.personal_plan? %>
    <%= render Primer::Beta::Link.new(
      href: org_plans_path(account),
      font_size: 6,
    ).with_content(change_billing_duration_message) %>
  <% end %>
</div>
