<downgrade-dialog class="downgrade-dialog hide-downgrade-footer">
  <%= form_tag billing_downgrade_features_count_path(id: target.display_login), "data-target": "downgrade-dialog.featuresCount", id: "#{dialog_id}-features-count", method: :get do %>
    <input type="hidden" name="target" value="<%= target.organization? ? "organization" : "user" %>">
    <% downgrade_features_with_counts(target).each do |feature, label| %>
      <input type="hidden" name="<%= feature %>" value="1">
    <% end %>
  <% end %>
  <%= content_tag(:div, "", style: "display:none;", data: closed_dialog_data) %>
  <%= render(Primer::Experimental::Dialog.new(
    dialog_id: dialog_id,
    body_padding_variant: :none,
    show_header_divider: true,
    header_variant: :medium,
    width: :xxlarge,
    height: :xlarge,
    motion: :none,
    title: "Are you sure you want to downgrade?",
    form_url: downgrade_path_and_method[:path],
    form_method: downgrade_path_and_method[:method],
    src: fragment_path,
    preload: true,
    text_align: :left,
    "data-target": "downgrade-dialog.dialog"
  )) do |c| %>
    <% if show_button %>
      <% c.with_show_button(**show_button_props.merge) do |s| %>
          Downgrade to <%= new_plan.display_name.titleize %>
      <% end %>
    <% end %>
    <% c.with_include_fragment(test_selector: "downgrade-dialog-fragment") do |s| %>
      <div class="mx-3" data-hide-on-error>
        <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
      </div>
      <div class="mx-3" data-show-on-error hidden>
        <p>Sorry, something went wrong.</p>
      </div>
    <% end %>
  <% end %>
</downgrade-dialog>
