<%# height: 100% is necessary to keep a box's variable height in line with the others %>
<div class="p-3 color-shadow-small border color-border-default rounded-2" style="height: 100%">
  <label class="f5 text-normal text-small color-fg-muted text-uppercase d-block mb-2" <%= test_selector("billing-header-title")%>>
    <%= title %>
  </label>

  <% if error.present? %>
    <div class="f4 mb-2" <%= test_selector("billing-header-error")%>>
      <%= render(Primer::Beta::Octicon.new(icon: "stop", classes: "lfs-data-icon dark")) %>
      <%= error %>
    </div>
  <% else %>
    <div class="f4 mb-2">
      <span class="text-bold" <%= test_selector("billing-header-amount")%>>
        <%= amount %>
      </span>

      <% if context.present? %>
        <span class="f5" <%= test_selector("billing-header-context")%>>
          <%= context %>
        </span>
      <% end %>
    </div>

    <% if additional_content? %>
      <div <%= test_selector("billing-header-additional-content") %>>
        <%= additional_content %>
      <div>
    <% end %>
  <% end %>

  <% if subtitle? %>
    <div class="f6 mb-1 color-fg-muted" <%= test_selector("billing-header-subtitle")%>>
      <%= subtitle %>
    </div>
  <% end %>
</div>
