<div class="col-4">
  <div class="color-bg-subtle color-shadow-small p-3 rounded" style="height: 100%">
    <label class="text-normal text-small color-fg-muted text-uppercase">Latest invoice</label>
    <span class="f2 d-block py-1">
      <span><%= number_to_currency invoice_balance_dollars %></span>
      <span class="f2 py-1 text-normal text-small">due by <%= formatted_invoice_due_on %></span>
    </span>
    <%= link_to "View", show_invoice_href, class: "text-small" %> | <%= link_to "Pay invoice", pay_invoice_href, class: "text-small" %>
  </div>
</div>

<div class="col-4">
  <div class="color-bg-subtle color-shadow-small p-3 rounded" style="height: 100%">
    <label class="text-normal text-small color-fg-muted text-uppercase">Quick actions</label>
    <span class="text-small color-fg-muted d-block pt-2 pb-1">
      <%= link_to "Download current invoice", show_invoice_href %>
    </span>
    <span class="text-small color-fg-muted d-block">
      <%= link_to "View past invoices", past_invoices_href %>
    </span>
  </div>
</div>
