<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
  <%= render(Primer::Alpha::Banner.new(icon: :info, display: :flex, mb: 4, justify_content: :space_between, align_items: :flex_start, w: :full, classes: "js-notice", test_selector: "set_spending_limit_banner")) do %>
    <div class="col-9 pr-5">You can now set monthly spending limits for metered services. By default the spending is set as <strong>unlimited</strong>, but you can change it at any time.</div>

    <div class="col-2">
      <%= render Primer::ButtonComponent.new(tag: :a, href: spending_limit_path, size: :small, test_selector: "set_spending_limit_path") do %>
        Set a spending limit
      <% end %>
    </div>

    <%= form_tag dismissal_path, method: :delete, class: "js-notice-dismiss col-1 float-right mt-1 ml-2", data: { "test-selector" => "dismiss_form" } do %>
      <%= render Primer::Beta::CloseButton.new(type: :submit, aria: { label: "Hide this notice" }, float: :right) %>
    <% end %>
  <% end %>
<% else %>
  <%= render(Primer::Beta::Flash.new(display: :flex, mb: 4, justify_content: :space_between, align_items: :flex_start, w: :full, classes: "js-notice", test_selector: "set_spending_limit_banner")) do %>
    <%= primer_octicon(:info, classes: "info") %>

    <div class="col-9 pr-5">You can now set monthly spending limits for metered services. By default the spending is set as <strong>unlimited</strong>, but you can change it at any time.</div>

    <div class="col-2">
      <%= render Primer::ButtonComponent.new(tag: :a, href: spending_limit_path, size: :small, test_selector: "set_spending_limit_path") do %>
        Set a spending limit
      <% end %>
    </div>

    <%= form_tag dismissal_path, method: :delete, class: "js-notice-dismiss col-1 float-right mt-1 ml-2", data: { "test-selector" => "dismiss_form" } do %>
      <%= render Primer::Beta::CloseButton.new(type: :submit, aria: { label: "Hide this notice" }, float: :right) %>
    <% end %>
  <% end %>
<% end %>
