<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if user_feature_enabled?(:banner_migration) %>
  <%= render(Primer::Alpha::Banner.new(scheme: :warning, icon: :info, display: :flex, dismiss_scheme: :remove)) do %>
    <div>
      <p>
        Your current bill for usage on GitHub is overdue for payment.
        Please make a payment by <strong><%= formatted_due_date %></strong> to
        continue to use paid services with your GitHub account. <%= link_to "Learn about one-time payments in India", GitHub.rbi_manual_payment_url, class: "Link--inTextBlock" %>.
      </p>
    </div>
  <% end %>
<% else %>
  <%= render(Primer::Beta::Flash.new(scheme: :warning, icon: :info, display: :flex, dismissible: true)) do %>
    <div>
      <p>
        Your current bill for usage on GitHub is overdue for payment.
        Please make a payment by <strong><%= formatted_due_date %></strong> to
        continue to use paid services with your GitHub account. <%= link_to "Learn about one-time payments in India", GitHub.rbi_manual_payment_url, class: "Link--inTextBlock" %>.
      </p>
    </div>
  <% end %>
<% end %>
