<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="d-flex flex-column flex-md-row mb-4" <%= test_selector("manual-payment-account-overview-header") %>>
  <div class="col-12 py-3 px-4 col-md-4 mb-md-0 mb-3 mr-md-3 color-bg-subtle rounded-2">
    <h4 class="f5 text-normal color-fg-muted">Current bill</h4>
    <span class="f2 text-bold d-block mt-1 mb-4 pb-1">
      <%= number_to_currency account_balance %>
    </span>
    <%= switch_plan_duration_link_tag %>
  </div>

  <div class="col-12 py-3 px-4 col-md-4 mb-md-0 mb-3 mr-md-3 color-bg-subtle rounded-2">
    <label class="text-normal text-small color-fg-muted text-uppercase">Payment due</label>
    <span class="f2 d-block py-1 mb-3">
      <span>
        <%= formatted_payment_due_date %>
      </span>
    </span>
    <span class="f2 d-block py-1">
      <%= render(Primer::ButtonComponent.new(
        scheme: :primary,
        tag: :a,
        size: :medium,
        href: pay_now_button_href,
        block: true,
        classes: pay_now_button_classes,
      ).with_content("Pay Now")) %>
    </span>
  </div>

  <div class="col-12 py-3 px-4 col-md-4 mb-md-0 mb-3 color-bg-subtle rounded-2">
    <h4 class="f5 text-normal color-fg-muted mb-2">
      <%= link_to payment_information_href, class: "color-fg-muted" do %>
        Payment information <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", size: :small, color: :muted)) %>
      <% end %>
    </h4>

    <ul class="list-style-none">
      <% unless account_has_trade_restrictions? %>
        <li>
          <%= link_to update_payment_method_href, class: update_payment_method_link_class do %>
            <%= render(Primer::Beta::Octicon.new(icon: "alert", size: :small, mr: 1)) if payment_method_needs_update? %>Update payment method
          <% end %>
        </li>
      <% end %>
      <li><%= link_to "Manage spending limit", manage_spending_limit_href, class: "f6" %></li>
      <li><%= link_to "View payment history", payment_history_href, class: "f6" %></li>
      <li><%= link_to "Redeem coupon", redeem_coupon_href, class: "f6" %></li>
    </ul>
  </div>
</div>
