<div class="d-flex flex-items-baseline py-1">
  <span <%= test_selector "money-text" %> class="f2 flex-1"><%= number_to_currency metered_service_total_dollars %></span>
</div>

<% if has_error %>
  <div <%= test_selector "error-text" %> class="color-fg-muted">
    <%= render(Primer::Beta::Octicon.new(:stop, height: 16, color: :muted, mr: 2)) %>
    Error: Unable to load the data at this time. <%= link_to "Refresh", "", class: "Link--inTextBlock" %> the page or try again later.
  </div>
<% end %>

<% if is_ghe_spending_limits_enabled? %>
  <%= link_to "View budgets", manage_spending_limit_href, class: "text-small", "data-test-selector": "budgets-link" %>
<% elsif !standalone_enterprise_enabled %>
  <%= link_to "View spending limits", manage_spending_limit_href, class: "text-normal" %>
<% end %>
