<div class="<%= wrapper_class %> js-user-personal-profile-summary" <%= test_selector("name-address-summary-container") %>>
  <% if short_summary? %>
    <div class="d-flex">
      <%= render GitHub::AvatarComponent.new(actor: profile.owner, size: 32, mr: 2) %>
      <ul class="list-style-none">
        <li class="text-bold"><%= profile.fullname %></li>
        <li class="color-fg-muted text-small"><%= profile_owner %></li>
      </ul>
    </div>
  <% else %>
    <ul class="float-left list-style-none">
      <% if show_avatar_header? %>
        <li class="d-flex mb-3 lh-condensed">
          <%= render GitHub::AvatarComponent.new(actor: profile.owner, size: 32, mr: 2) %>
          <ul class="list-style-none">
            <li class="text-bold"><%= profile.fullname %></li>
            <li class="color-fg-muted text-small"><%= profile_owner %></li>
          </ul>
        </li>
      <% else %>
        <li class="pb-1<%= ' text-bold' if !unbold_profile_name_text_style %>"><%= profile.fullname %></li>
      <% end %>
      <li class="color-fg-muted text-small"><%= profile.vat_code %> </li>
      <li class="color-fg-muted text-small"><%= profile.address1 %> </li>
      <li class="color-fg-muted text-small"><%= profile.address2 %> </li>
      <% if profile.country_is_united_states? %>
        <li class="color-fg-muted text-small"><%= profile.city %>, <%= profile.us_state %> <%= profile.postal_code %> </li>
      <% else %>
        <li class="color-fg-muted text-small"><%= profile.city %>, <%= profile.region %> <%= profile.postal_code %> </li>
      <% end %>
      <li class="color-fg-muted text-small"><%= profile.country.name %> </li>
    </ul>
  <% end %>
</div>
