<%= get_form do |form| %>
  <% request.query_parameters.symbolize_keys.slice(*Copilot::SignupController::UTM_PARAMS).each do |key, value| %>
    <input type="hidden" id="<%= key %>" name="<%= key %>" value="<%= value %>">
  <% end %>

  <% if flash[:address_validation_error] %>
    <%= render(Primer::Alpha::Banner.new(full: false, full_when_narrow: false, dismiss_scheme: :remove, scheme: :danger, my: 3, test_selector: "address-validation-error-flash")) do %>
      <%= flash[:address_validation_error] %>
    <% end %>
  <% end %>

  <div class="js-name-address-collection pb-3">
    <%= render Billing::Settings::NameAddressInputsForm.new(
      form,
      profile: profile,
      target: target,
      actor: actor,
      include_buttons: use_form_for?,
      cancellable: cancellable,
      **system_arguments
    ) %>
    <%= csrf_hidden_input_for "/account/stash_billing_information", method: :post, class: "js-stash-billing-info-csrf" %>
  </div>
<% end %>
