<% if payment_amount == 0 && target.has_an_active_coupon? %>
  <% if params[:sponsors].nil? %>
    <p class="note mt-2" <%= test_selector("active-coupon") %>>
      You have an active coupon. We will only start charging you after your
      coupon expires on <%= coupon_expiration_time.strftime("%e %B, %Y") %>
      (<%= distance_of_time_in_words_to_now coupon_expiration_time %> from now).
    </p>
  <% end %>
<% elsif target.paying_customer? && next_charge_amount.positive? %>
  <p class="note mt-2" <%= test_selector(past_due? ? "past-balance" : "future-balance") %>>
    <% if past_due? %>
      You have a past due balance of <%= helpers.casual_currency next_charge_amount %>,
      which we will attempt to charge again
      <% unless target.over_billing_attempts_limit? %>
        on <%= target.next_billing_date(with_dunning: true).to_formatted_s(:long) %>, or
      <% end %>
      as soon as you update your payment details.
    <% else %>
      Your next charge of <%= helpers.casual_currency payment_amount %> will process
      on <%= target.next_billing_date.to_formatted_s(:long) %> for another
      <%= target.monthly_plan? ? "month" : "year" %> of service.
      <% if target.has_an_active_coupon? && coupon.plan_specific? %>
        Your active <strong><%= coupon.plan_display_name %></strong> plan coupon will be revoked when you upgrade.
      <% end %>
    <% end %>
  </p>
<% elsif plan.nil? %>
  <p class="note mt-2" <%= test_selector("no-upcoming-charges") %>>
    There are no upcoming charges to your account.
  </p>
<% end %>
