<div class="d-flex border-bottom text-small color-fg-muted text-uppercase pt-5 pb-2">
  <span class="flex-1">Reference</span>
  <span class="flex-1">Invoice Date</span>
  <span class="flex-1">Amount</span>
  <span class="flex-1">Status</span>
  <span class="flex-1"></span>
</div>
<% invoices.each do |invoice| %>
  <div class="d-flex flex-items-center border-bottom text-normal py-3" <%= test_selector("invoice-row") %>>
    <span class="flex-1">
      <%= link_to invoice.number, show_invoice_href(invoice), target: "_blank", rel: "noopener noreferrer" %>
    </span>
    <span class="flex-1"><%= invoice.formatted_invoice_date %></span>
    <span class="flex-1"><%= amount(invoice) %></span>
    <span class="flex-1">
      <%= render Primer::Beta::Octicon.new(icon: octicon_icon(invoice)) %>
      <span class="pl-1"><%= invoice.payment_status %></span>
    </span>
    <span class="flex-1 d-flex flex-justify-end">
      <% if !invoice.paid? && can_make_payment %>
        <%= link_to "Pay invoice", payment_method_href(invoice), class: "btn btn-sm", data: test_selector_hash("pay-invoice-url") %>
      <% end %>
    </span>
  </div>
<% end %>
