<div class="overflow-x-auto">
  <%= render(Primer::Beta::BorderBox.new(mt: 3, mb: 3, classes: "payment-history", test_selector: "payment-history", style: "min-width: 660px;")) do |component| %>
      <%= component.with_header(p: 2) do %>
        <div class="clearfix" style="min-width: 545px;">
          <div class="col-2 float-left text-bold">
          Date
          </div>
          <div class="col-2 float-left text-bold">
            ID
          </div>
          <div class="col-3 float-left text-bold">
            Payment Method
          </div>
          <div class="col-2 float-left text-bold">
            Amount
          </div>
          <div class="col-2 float-left text-bold">
            Status
          </div>
          <div class="col-1 float-left text-center text-bold">
            Receipt
          </div>
        </div>
      <% end %>
      <% payment_records.each do |record| %>
        <%= component.with_row(p: 2) do %>
          <div class="clearfix" style="min-width: 545px;">
            <div class="col-2 float-left date">
              <%= date_with_time_tooltip record.created_at %>
            </div>
            <div class="col-2 float-left id">
              <code>
                <span id="short-transaction-id-<%= record.short_transaction_id %>">
                  <%= record.short_transaction_id.presence || "N/A" %>
                </span>
                <% if record.transaction_id.present? %>
                  <%= render Primer::Alpha::Tooltip.new(for_id: "short-transaction-id-#{record.short_transaction_id}", text: record.transaction_id, type: :label, direction: :w) %>
                <% end %>
              </code>
            </div>
            <div class="col-3 float-left method <% if record.paypal? %>break-all<% end %>">
              <% if record.paypal? %>
                <img alt="PayPal" src="<%= image_path "paypal/paypal-small.png" %>" class="paypal-icon">
              <% else %>
                <%= render Primer::Beta::Octicon.new(icon: "credit-card") %>
              <% end %>
              <%= record.payer_identifier %>
            </div>
            <div class="col-2 float-left amount">
              <%= record.amount %>
            </div>
            <div class="col-2 float-left status">
              <% if record.status == "refund" && record.sale.present? %>
                <%= render(Primer::Beta::Link.new(href: "##{record.sale.transaction_id}", id: "status-#{record.short_transaction_id}")) do |c| %>
                  <% c.with_tooltip(text: record_tooltip(record), type: :label, direction: :w) %>
                  <%= render Primer::Beta::Label.new(scheme: :accent, title: "Refund") do %>
                    Refund
                  <% end %>
                <% end %>
              <% else %>
                <% if record.status == "failed" %>
                  <%= render Primer::Beta::Label.new(scheme: :danger, title: "Declined") do %>
                    Declined
                  <% end %>
                <% elsif record.status == "refund" %>
                  <%= render Primer::Beta::Label.new(scheme: :accent, title: "Refund") do %>
                    Refund
                  <% end %>
                <% else %>
                  <%= render Primer::Beta::Label.new(scheme: :success, title: "Approved") do %>
                    Success
                  <% end %>
                <% end %>
                <%= render Primer::Alpha::Tooltip.new(for_id: "status-#{record.short_transaction_id}", text: record_tooltip(record), type: :label, direction: :w) %>
              <% end %>
            </div>
            <div class="col-1 float-left text-center receipt d-flex flex-justify-around">
              <% if record.transaction_id.present? && record.url_for_receipt %>
                <%= render(Primer::Beta::Link.new(id: "download-receipt-#{record.transaction_id}", href: record.url_for_receipt, target: "_self", test_selector: "receipt-url-#{record.transaction_id}")) do |c| %>
                  <% c.with_tooltip(text: "Download", type: :label, direction: :n) %>
                  <%= render Primer::Beta::Octicon.new(icon: :download) %>
                <% end %>
                <%= render(Primer::Beta::Link.new(id: "preview-receipt-#{record.transaction_id}", href: record.url_for_receipt(format: :pdf), target: "_blank", test_selector: "preview-receipt-#{record.transaction_id}")) do |c| %>
                  <% c.with_tooltip(text: "Preview", type: :label, direction: :n) %>
                  <%= render Primer::Beta::Octicon.new(icon: :eye) %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
  <% end %>
</div>
