<%# rubocop:disable GitHub/ContentFor %>

<%= render Billing::Settings::ZuoraMaintenanceBannerComponent.new(
  zuora_maintenance_enabled: zuora_maintenance_enabled?,
) %>

<% unless zuora_maintenance_enabled? %>
  <div class="<%= class_names(
    "payment-methods",
    "js-payment-methods",
    "has-paypal-account" => paypal_selected?,
  ) %>">
    <div class="javascript-disabled-overlay"></div>

    <%= hidden_field_tag "payment_method", payment_method, class: "js-payment-method-type" %>

    <%# SegmentedControls must have at least 2 items, so don't render the selector if the paypal option isn't available %>
    <% if show_paypal_option? %>
      <span id="pay-with-title" class="strong-label pay-with-header <%= "js-billing-pay-with" if new_name_address_design? %>" <%= "hidden" if hide_payment_controls? %>>Pay with</span>
      <div class="clearfix mb-3 <%= "js-payment-methods-radio" if new_name_address_design? %>" <%= "hidden" if hide_payment_controls? %>>
        <%= render(Primer::Alpha::SegmentedControl.new(
          aria: { labelledby: "pay-with-title" },
          mt: 1,
          test_selector: "payment-method-selector",
        )) do |component| %>
          <% component.with_item(
            label: "Credit or debit card",
            id: "pay-by-credit-card",
            classes: "js-payment-method",
            data: { "selected-tab": "pay-by-credit-card" },
            selected: credit_card_selected?,
          ) %>

          <% component.with_item(
            label: "PayPal account",
            id: "pay-with-paypal",
            classes: "js-payment-method",
            data: { "selected-tab": "pay-with-paypal" },
            selected: paypal_selected?,
          ) %>

          <% if show_azure_option? %>
            <% component.with_item(
              label: "Azure subscription",
              id: "pay-with-azure",
              classes: "js-payment-method",
              data: { "selected-tab": "pay-with-azure" },
              selected: azure_selected?,
            ) %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="<%= class_names(
      "js-selected-payment-method",
      "selected-payment-method",
      "pay-by-credit-card",
      "active" => credit_card_selected?,
    ) %>" <%= test_selector("credit-card-tab") %>>
      <%= render Billing::Settings::CreditCardFormComponent.new(
        target: target,
        new_name_address_design: new_name_address_design?,
        show_payment_method: show_payment_method?,
        signature_view_context: signature_view_context,
        return_to: return_to,
        modal_view: modal_view?,
        include_modal_chrome: include_modal_chrome?,
        allow_editing: allow_editing?,
      ) %>
    </div>

    <% if show_paypal_option? %>
      <div class="<%= class_names(
        "js-selected-payment-method",
        "selected-payment-method",
        "pay-with-paypal",
        "active" => paypal_selected?,
      ) %>" <%= test_selector("paypal-tab") %>>
        <%= render Billing::Settings::PaypalFormComponent.new(
          target: target,
          new_name_address_design: new_name_address_design?,
          hide_billing_info_fields: new_name_address_design? && target.has_saved_trade_screening_record?,
          return_to: return_to || params[:return_to],
          plan: plan,
          signature_view_context: signature_view_context,
          allow_editing: allow_editing?,
        ) %>
      </div>
    <% end %>

    <% if show_azure_option? %>
      <div class="<%= class_names(
        "js-selected-payment-method",
        "selected-payment-method",
        "pay-with-azure",
        "active" => azure_selected?,
      ) %>" <%= test_selector("azure-tab") %>>
        <%= render(Billing::Settings::AzureMeteredBillingComponent.new(
          view: nil,
          target: target,
          subscription_will_auto_enable: target.has_valid_azure_subscription?
        )) %>
      </div>
    <% end %>
  </div>

  <%= render Billing::Settings::NextPaymentComponent.new(
    target: target,
    plan: plan,
    new_name_address_design: new_name_address_design?,
  ) %>

  <% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
    <%= javascript_bundle "billing" %>
  <% end %>
<% end %>
