<%= render Sponsors::PaypalDeprecationNoticeComponent.new(
  user_or_org: target,
  signature_view_context: signature_view_context,
  in_paypal_context: true,
  mb: 3,
) %>

<% if new_design_and_has_paypal? %>
  <div class="<%= class_names(
    "clearfix d-sm-flex js-existing-paypal-summary mb-3",
    "hidden" => target.autopay_disabled_by_india_rbi?,
  ) %>">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="d-flex flex-items-center">
        <div class="color-bg-subtle mr-2 CircleBadge CircleBadge--small box-shadow-none flex-shrink-0">
          <img alt="PayPal" src="<%= image_path "paypal/paypal-small.png" %>" class="paypal-icon">
        </div>
        <ul class="list-style-none lh-condensed mb-0">
          <li class="text-bold">Paypal account</li>
          <li class="color-fg-muted text-small" <%= test_selector("paypal-email") %>>
            <%= target.payment_method.paypal_email %>
          </li>
        </ul>
      </div>
    </div>
    <% if allow_editing? %>
      <div class="col-sm-6 text-sm-right lh-condensed">
        <div class="float-right">
          <%= render Primer::Beta::Button.new(
            font_size: 6,
            classes: "js-edit-paypal-method",
          ) do %>
            Edit <span class="sr-only">payment method</span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= form_for(:billing,
  url: helpers.target_update_credit_card_path(target),
  html: { autocomplete: "off", class: form_class, hidden: new_design_and_has_paypal? },
) do |f| %>
  <% if plan.present? %>
    <%= hidden_field_tag "plan", plan, id: "paypal_plan" %>
  <% end %>

  <% if return_to.present? %>
    <%= hidden_field_tag "return_to", return_to %>
  <% end %>

  <% unless target.autopay_disabled_by_india_rbi? %>
    <%= render "payment_method/paypal_fields",
      view: BillingSettings::PaymentMethodFieldsView.new(target, f),
      new_name_address_design: new_name_address_design?,
      hide_billing_info_fields: hide_billing_info_fields? %>
    <% if target.disabled? %>
      <%= render "payment_method/auth_notice_disabled_account" %>
    <% end %>
    <% if show_auth_and_capture_message? %>
      <%= render "payment_method/auth_notice_metered_usage" %>
    <% end %>
  <% end %>

  <% if plan.present? %>
    <%= render "payment_method/legal" %>
  <% end %>

  <% if target.has_credit_card? %>
    <p <%= test_selector("paypal-currently-credit-card") %>>
      You are currently paying with a credit card, but you can switch to using PayPal at any time.
    </p>
  <% end %>

  <% if target.autopay_disabled_by_india_rbi? %>
    <p <%= test_selector("edit-paypal-for-india-rbi-users") %>>
      Manual payments in India must use a credit or debit card. Payment via PayPal is not available for manual payments.
    </p>
  <% end %>

  <p class="paypal-form-actions">
    <%= render Primer::Beta::Button.new(
      type: :submit,
      id: "paypal-submit",
      scheme: :primary,
      width: new_name_address_design? ? :full : nil,
      "data-disable-with": plan.present? ? "Processing…" : "Updating…",
    ) do %>
      <% if new_name_address_design? %>
        Save and continue
      <% else %>
        <% if target.has_paypal_account? %>
          Update PayPal account
        <% else %>
          Save PayPal account
        <% end %>
      <% end %>
    <% end %>

    <% unless new_name_address_design? %>
      <%= render Primer::Beta::Button.new(
        tag: :a,
        href: helpers.target_billing_path(target),
        "data-pjax": "",
      ).with_content("Cancel") %>
    <% end %>
  </p>
<% end %>
