<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div itemscope itemtype="http://schema.org/Organization">
  <% if show_nav_header? %>
    <header class="pagehead orghead border-bottom-0 pt-0">
      <div class="container-lg p-responsive d-none d-lg-block clearfix">
        <%= render "orgs/header_org_name", view: header_view %>
      </div>

      <%= render Organizations::HeaderNavComponent.new(
        organization: target,
        selected_nav_item: selected_nav_item,
      ) %>
    </header>
  <% end %>

  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4" data-hpc>
    <%= render Primer::BlankslateComponent.new(
      icon: "alert",
      narrow: true,
    ) do %>
      <h3 <%= test_selector("notice-title") %>><%= notice_title %></h3>
      <p <%= test_selector("notice-body") %>><%= notice_body %></p>
    <% end %>
  </div>
</div>
