<certificate-upload-remove class="<%= styles.certificate_management_class %>">
    <%= render(Primer::Box.new(
      display: :flex,
      flex: 1,
      border: true,
      justify_content: :center,
      align_items: :center,
      border_radius: 2,
      py: 2,
      pl: 2,
      pr: 1,
      font_size: styles.text_size
    )) do %>
      <%= render(Primer::Box.new(mr: 3)) do %>
        <%= render(Primer::Beta::Octicon.new(icon: :file, size: :small, color: :muted, mr: 1)) %>
        <%= render(Primer::Beta::Text.new(tag: :span, color: :muted, test_selector: "certificate-filename-link")) do %>
          <%= exemption_form_file_name %>
        <% end %>

        <%= form_with url: billing_sales_tax_exemptions_path, method: :delete, data: { target: "certificate-upload-remove.formElement" } do |f| %>
          <%= f.hidden_field :account_id, value: account.id %>
          <%= f.hidden_field :account_type, value: account.class.to_s %>
        <% end %>

      <% end %>

      <%= render(Primer::Alpha::Dialog.new(title: "Remove sales tax exemption?", id: "remove-certificate-dialog", size: :medium_portrait)) do |d| %>
        <% d.with_header(show_divider: true) %>
        <% d.with_show_button(tag: :button, type: :button, scheme: :invisible, size: :small) do %>
          <%= render(Primer::Beta::Octicon.new(icon: :trash, size: :small, color: :danger, aria: { label: "delete-certificate" })) %>
        <% end %>
        <% d.with_body(text_align: :left) do %>
          <%= render(Primer::Beta::Text.new(tag: :p, pt: 3)) do %>
            Are you sure you want to remove your tax exemption certificate? Once it's removed, you'll be charged for sales tax on your next payment and any subsequent purchase.
          <% end %>
        <% end %>
        <% d.with_footer do %>
          <%= render(Primer::Beta::Button.new(type: :button, data: { "close-dialog-id": "remove-certificate-dialog" })) { "Cancel" } %>
          <%= render(Primer::Beta::Button.new(
            type: :button,
            scheme: :danger,
            data: {
              target: "certificate-upload-remove.removeBtn",
              action: "click:certificate-upload-remove#destroyIt" })) do %>
            <span data-target="certificate-upload-remove.removeBtnText" data-text="Remove">Remove</span>
            <span data-target="certificate-upload-remove.processingAnime" data-text="Removing" class="AnimatedEllipsis" style="display: none"></span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</certificate-upload-remove>
