<div id="sponsorship-history" class="Box mb-4" <%= test_selector("sponsors-section") %>>
  <div class="Box-header p-0">
    <div class="Box-row d-flex flex-items-center">
      <div class="d-flex flex-items-center">
        <img width="32" height="32" alt="" src="<%= image_path "modules/site/sponsors/logo-mona.svg" %>">
      </div>
      <div class="Box-title flex-auto ml-1 pl-2">
        <div>GitHub Sponsors</div>
        <% if current_subscription_items.any? %>
          <div class="text-small text-normal color-fg-muted">
            You're sponsoring
            <strong><%= number_to_words(subscription_items_count) %> <%= "person".pluralize(subscription_items_count) %></strong>,
            thanks for giving back to the community!
          </div>
        <% else %>
          <div class="text-small text-normal color-fg-muted px-md-0 px-6">
            Connect with the community that builds the tools you use
          </div>
        <% end %>
        <% if include_credit_balance? %>
          <include-fragment src="<%= settings_org_sponsors_credit_balance_path(user_or_org) %>"></include-fragment>
        <% end %>
      </div>
      <% if show_start_sponsoring_button? %>
        <%= render(Primer::Beta::Button.new(
          scheme: :primary,
          tag: :a,
          size: :small,
          href: sponsors_explore_index_path(account: user_or_org),
        ).with_content("Start sponsoring")) %>
      <% end %>
    </div>
    <% if show_tabs? %>
      <%= render(Primer::Alpha::UnderlineNav.new(
        tag: :div,
        label: "Sponsorship history",
        test_selector: "tabs",
        body_arguments: { mx: 3 }
      )) do |component| %>
        <% component.with_tab(
          href: billing_path(selected_tab: Billing::Settings::SponsorsOverviewComponent::HistoryTab::Current),
          selected: !past_tab_active?,
          data: { "turbo-action" => "replace", "pjax" => true },
        ) { "Current sponsorships" } %>
        <% component.with_tab(
          href: billing_path(selected_tab: Billing::Settings::SponsorsOverviewComponent::HistoryTab::Past),
          selected: past_tab_active?,
          data: { "turbo-action" => "replace", "pjax" => true },
        ) { "Past sponsorships" } %>
      <% end %>
    <% end %>
  </div>
  <% if past_tab_active? %>
    <div <%= test_selector("past-sponsorships-tab") %>>
      <% past_subscription_items.each do |item| %>
        <div class="Box-row">
          <%= render Billing::Settings::SponsorshipItemComponent.new(
            item: item,
            user_or_org: user_or_org,
            allowed_to_responsor: allowed_to_sponsor?,
          ) %>
        </div>
      <% end %>
      <% if past_subscription_items.empty? %>
        <p class="Box-footer py-3 m-0 border-top-0 color-fg-muted">
          You do not have any past sponsorships.
        </p>
      <% end %>
    </div>
  <% else %>
    <div <%= test_selector("current-sponsorships-tab") %>>
      <%= render Sponsors::PaypalDeprecationNoticeComponent.new(
        user_or_org: user_or_org,
        include_link: true,
        has_active_sponsorships: all_current_subscription_items.any?,
        mt: 3,
        mx: 3,
      ) %>
      <%= render Sponsors::PatreonSponsorshipNoticeComponent.new(user_or_org: user_or_org) %>
      <% if current_subscription_items.any? %>
        <div <%= test_selector("current-sponsorships-list") %>>
          <% current_subscription_items.each do |item| %>
            <div class="Box-row">
              <%= render Billing::Settings::SponsorshipItemComponent.new(
                item: item,
                user_or_org: user_or_org,
              ) %>
            </div>
          <% end %>
        </div>
        <% if total_sponsors_fees > 0 %>
          <div class="Box-footer py-2">
            <div class="d-flex my-1 flex-items-center flex-justify-between">
              <strong class="color-fg-muted ml-1">Fees</strong>
              <span <%= test_selector("sponsors-total-fees") %>><%= format_money(total_sponsors_fees) %></span>
            </div>
          </div>
        <% end %>
        <div class="Box-footer py-2">
          <%= render Billing::Settings::SponsorsOverview::FooterComponent.new(
            account: user_or_org,
            amount: total_sponsors_subscriptions_cost,
          ) %>
        </div>
      <% else %>
        <div class="Box-row d-flex flex-items-center flex-justify-between">
          <div class="my-1">
            You're currently not sponsoring anyone. <a class="Link--inTextBlock" href="<%= sponsors_path %>">Learn more about GitHub Sponsors</a>
          </div>
        </div>
        <div class="Box-footer py-2">
          <%= render Billing::Settings::SponsorsOverview::FooterComponent.new(
            account: user_or_org,
            amount: Billing::Money.zero,
          ) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
