<div class="d-flex pb-2 border-bottom mt-4">
  <div class="col-<%= primary_header_span %>" <%= test_selector "primary-header" %>>
    <span class="text-small text-uppercase color-fg-muted"><%= primary_header.is_a?(Hash) ? primary_header[:title] : primary_header %></span>
  </div>
  <% other_headers.each do |header| %>
    <div class="col-<%= header_span %>" <%= test_selector "header" %>>
      <span class="text-small text-uppercase color-fg-muted"><%= header.is_a?(Hash) ? header[:title] : header %></span>
      <% if header.is_a?(Hash) && header[:tooltipText] %>
        <%= render(Primer::Beta::IconButton.new(
          aria: { label: header[:tooltipText] },
          size: :small,
          icon: "info",
          scheme: :invisible,
          tooltip_direction: :sw,
          test_selector: "tooltip"
        )) %>
      <% end %>
    </div>
  <% end %>
</div>
