<include-fragment src="<%= source %>" <%= helpers.test_selector(test_selector) %>>
  <div class="<%= classes %>" data-hide-on-error>
    <% if placeholder.present? %>
      <%= placeholder %>
    <% elsif loading_text.present? %>
      <h3 class="h5"><%= loading_text %></h3>
      <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
    <% end %>
  </div>
  <div class="<%= classes %>" data-show-on-error hidden>
    <h5>Sorry, something went wrong.</h5>
  </div>
</include-fragment>
