<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if user_feature_enabled?(:banner_migration) %>
  <%= render(Primer::Alpha::Banner.new(icon: :tools, scheme: :warning, display: :flex)) do %>
    <div>
      <h5 class="mb-2">Under maintenance!</h5>
      <p>
        GitHub is doing a scheduled system maintenance on
        <strong>Saturday November 13, 2021 - 7:00PM to 9:00PM PST (UTC−08:00)</strong>.
        During this time, some payment related functionalities will be temporarily unavailable.
        We apologize for any inconvenience and thank you for your patience.
      </p>

      <p>
        Read the <%= link_to "Official GitHub blog post", "https://github.blog/changelog/2021-11-12-scheduled-billing-maintenance/.", class: "Link--inTextBlock" %> regarding this.
      </p>
    </div>
  <% end %>
<% else %>
  <%= render(Primer::Beta::Flash.new(scheme: :warning, display: :flex)) do %>
    <%= primer_octicon(:tools) %>
    <div>
      <h5 class="mb-2">Under maintenance!</h5>
      <p>
        GitHub is doing a scheduled system maintenance on
        <strong>Saturday November 13, 2021 - 7:00PM to 9:00PM PST (UTC−08:00)</strong>.
        During this time, some payment related functionalities will be temporarily unavailable.
        We apologize for any inconvenience and thank you for your patience.
      </p>

      <p>
        Read the <%= link_to "Official GitHub blog post", "https://github.blog/changelog/2021-11-12-scheduled-billing-maintenance/.", class: "Link--inTextBlock" %> regarding this.
      </p>
    </div>
  <% end %>
<% end %>
