<div
  id="zuora_payment"
  class="<%= div_class %>"
  <%= test_selector("zuora_hpp_container") %>
  data-url="<%= signature_path %>"
  data-signature-view-context="<%= signature_view_context %>"
  title="Credit Card Form"
  <% if hidden? %>
    style="opacity: 1;"
  <% end %>
  <% if user_id %>
    data-id="<%= user_id %>"
  <% end %>
  <% if organization_id %>
    data-organization-id="<%= organization_id %>"
  <% elsif business_id %>
    data-business-id="<%= business_id %>"
  <% end %>
  <% if redirect_to.present? %>
    data-redirect-to="<%= redirect_to %>"
  <% end %>
  <% if manual_payment? %>
    data-manual-payment="true"
  <% end %>
  <% if target.present? %>
    data-target="<%= target %>"
  <% end %>
  <% if payment_gateway.present? %>
    data-payment-gateway="<%= payment_gateway %>"
  <% end %>
  <% if invoices.present? %>
    data-invoices="<%= invoices.join(",") %>"
  <% end %>
  <% if terms_of_service.present? %>
    data-terms-of-service="<%= terms_of_service %>"
  <% end %>
  data-general-signature-error-message="<%= Billing::Zuora::HostedPaymentsPage::RSA_SIGNATURE_GENERATION_ERROR %>"
  data-error-messages="<%= Billing::Zuora::HostedPaymentsPage::ERROR_MESSAGES.to_json %>"
  data-hydro-view="<%= encoded_hydro_payload %>"
  data-hydro-view-hmac="<%= hydro_payload_hmac(encoded_hydro_payload) %>"
></div><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
