<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details
  class="details-reset details-overlay select-menu select-menu-modal-right hx_rsm hx_rsm--auto-height"
  id="select-menu-date"
>
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "select-menu-button") do %>
    Date range:

    <%= render Primer::Beta::Text.new(data: { menu_button: "" }, font_weight: :bold) do %>
      <%= since_text(params[:since]).humanize %>
    <% end %>
  <% end %>

  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <%= render Primer::Beta::Text.new(classes: "select-menu-title") do %>
        Adjust time span
      <% end %>

      <%= render Primer::Beta::CloseButton.new(display: :none, ml: 2, classes: "hx_rsm-close-button btn-link", "data-toggle-for": "select-menu-date", "aria-label": "Close menu") %>
    </div>

    <div class="select-menu-list">
      <% Trending::FeedHelper::DATE_OPTIONS.keys.each do |since| %>
        <%= render(Primer::Beta::Link.new(
          aria: { checked: params[:since].to_s.to_sym == since },
          data: { pjax: "" },
          classes: "select-menu-item",
          href: url_with(
            since: since,
            language: params[:language],
            spoken_language_code: params[:spoken_language_code],
            sponsorable: params[:sponsorable],
          ),
          role: "menuitemradio",
        )) do %>
          <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>

          <%= render(Primer::Beta::Text.new(
            classes: "select-menu-item-text",
            data: { menu_button_text: "" },
          )) do %>
            <%= since_text(since).humanize %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </details-menu>
</details>
