<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay select-menu select-menu-modal-right hx_rsm hx_rsm--auto-height" id="select-menu-date">
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "select-menu-button") do %>
    Date range:
    <span data-menu-button><strong><%= view.period.humanize %></strong></span>
  <% end %>
  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Adjust time span</span>
      <%= render Primer::Beta::CloseButton.new(ml: 2, classes: "hx_rsm-close-button btn-link", "data-toggle-for": "select-menu-date", "aria-label": "Close menu") %>
    </div>

    <div class="select-menu-list">
      <% view.date_options.each do |since, (title, time)| %>
        <a
          class="select-menu-item"
          role="menuitemradio"
          aria-checked="<%= view.since == since %>"
          href="<%= view.trending_path(self, since: since, language: view.language) %>"
          data-pjax>
          <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
          <span class="select-menu-item-text" data-menu-button-text><%= title.humanize %></span>
        </a>
      <% end %>
    </div>
  </details-menu>
</details>
