<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay select-menu select-menu-modal-right hx_rsm" id="select-menu-language">
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "select-menu-button") do %>
    Language:

    <span data-menu-button>
      <strong>
        <% if view.all_languages? %>Any<% else %><%= view.selected_language %><% end %>
      </strong>
    </span>
  <% end %>

  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Select a language</span>
      <%= render Primer::Beta::CloseButton.new(ml: 2, classes: "hx_rsm-close-button btn-link", "data-toggle-for": "select-menu-language", "aria-label": "Close menu") %>
    </div>

    <div class="select-menu-filters">
      <div class="select-menu-text-filter">
        <input
          type="text"
          id="text-filter-field"
          class="form-control js-filterable-field js-navigation-enable"
          placeholder="Filter languages"
          aria-label="Type or choose a language"
          autofocus
          autocomplete="off"
        >
      </div>
    </div>

    <div class="select-menu-list" data-pjax>
      <% if view.known_language? %>
        <div class="select-menu-clear-item select-menu-item">
          <%= primer_octicon(:x, classes: "select-menu-item-icon") %>

          <%= link_to(
            "Clear language",
            url_with(
              language: nil,
              since: view.since
            ),
            class: "select-menu-item-text",
            role: "menuitem"
          ) %>
        </div>
      <% end %>

      <div data-filterable-for="text-filter-field" data-filterable-type="substring">
        <a
          class="select-menu-item <%= view.selected_class(view.unknown_language?) %>"
          role="menuitemradio"
          href="<%= view.trending_path(
            self,
            language: view.unknown_link,
            since: view.since
          ) %>"
          aria-checked="<%= view.unknown_language? %>"
          data-pjax
        >
          <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
          <span class="select-menu-item-text" data-menu-button-text>Unknown languages</span>
        </a>

        <% (all_languages).each do |language| %>
          <a
            class="select-menu-item <%= view.selected_class(view.selected?(language)) %>"
            role="menuitemradio"
            href="<%= view.trending_path(
              self,
              language: language.default_alias,
              since: view.since
            ) %>"
            aria-checked="<%= !!view.selected?(language) %>"
            data-pjax
          >
            <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
            <span class="select-menu-item-text" data-menu-button-text><%= language.name %></span>
          </a>
        <% end %>
      </div>
    </div>
    <div class="select-menu-loading-overlay" aria-label="Loading"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse %>
      <%= render(Primer::Beta::Spinner.new) %>
    </div>
  </details-menu>
</details>
