<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="details-reset details-overlay select-menu select-menu-modal-right hx_rsm" id="select-menu-language">
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "select-menu-button") do %>
    Language:

    <%= render Primer::Beta::Text.new(data: { menu_button: "" }, font_weight: :bold) do %>
      <% if language.present? && display_language_name_for(language).present? %>
        <%= display_language_name_for(language) %>
      <% else %>
        Any
      <% end %>
    <% end %>
  <% end %>

  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <%= render Primer::Beta::Text.new(classes: "select-menu-title") do %>
        Select a language
      <% end %>

      <%= render Primer::Beta::CloseButton.new(display: :none, ml: 2, classes: "hx_rsm-close-button btn-link", "data-toggle-for": "select-menu-language", "aria-label": "Close menu") %>
    </div>

    <div class="select-menu-filters">
      <filter-input class="select-menu-text-filter" aria-owns="languages-menuitems">
        <input
          type="text"
          class="form-control"
          placeholder="Filter languages"
          aria-label="Type or choose a language"
          autofocus
          autocomplete="off"
        >
      </filter-input>
    </div>

    <div class="select-menu-list" data-pjax id="languages-menuitems">
      <% if display_language_name_for(language).present? %>
        <div class="select-menu-clear-item select-menu-item">
          <%= render Primer::Beta::Octicon.new(icon: "x", classes: "select-menu-item-icon") %>

          <%= render(Primer::Beta::Link.new(
            classes: "select-menu-item-text",
            href: context.trending_path(
              self,
              language: nil,
              since: since,
              spoken_language_code: params[:spoken_language_code],
              sponsorable: params[:sponsorable],
            ),
            role: "menuitem",
          )) do %>
            Clear language
          <% end %>
        </div>
      <% end %>

      <div data-filter-list>
        <% programming_languages.each do |language_list_entry| %>
          <% checked = !!(language == language_list_entry.default_alias) %>
          <%= render(Primer::Beta::Link.new(
            aria: { checked: checked },
            classes: programming_language_link_class_names_for(language, language_list_entry),
            data: { pjax: "" },
            href: context.trending_path(
              self,
              language: language == language_list_entry.default_alias ? nil : language_list_entry.default_alias,
              since: since,
              spoken_language_code: params[:spoken_language_code],
              sponsorable: params[:sponsorable],
            ),
            role: "menuitemradio",
          )) do %>
            <% if checked %>
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
            <% end %>

            <%= render(Primer::Beta::Text.new(
              classes: "select-menu-item-text",
              data: { menu_button_text: "" },
            )) do %>
              <%= language_list_entry.name %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="select-menu-loading-overlay" aria-label="Loading"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse %>
      <%= render(Primer::Beta::Spinner.new) %>
    </div>
  </details-menu>
</details>
