<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% repo = repo_snip %>
<article>
  <div class="f6 color-fg-muted text-uppercase mb-1"><%= primer_octicon(:flame, mr: 1, color: :severe) %>Popular repo</div>
  <h1 class="h4 lh-condensed">
    <%= render(Primer::Beta::Link.new(
      classes: "css-truncate css-truncate-target",
      style: "max-width: 175px;",
      href: repository_path(repo),
      data: explore_click_tracking_attributes(
        click_context: :TRENDING_DEVELOPERS_PAGE,
        click_target: :REPOSITORY,
        click_visual_representation: :REPOSITORY_NAME_HEADING,
        actor: current_user,
        record_id: repo.id,
        ga_click_text: "Explore, go to repository, location:trending developers"
      ),
    )) do %>
      <% if repo.fork? && repo.parent %>
        <%= primer_octicon(:'repo-forked', color: :muted, mr: 1) %>
      <% elsif repo.mirror? %>
        <%= primer_octicon(:mirror, color: :muted, mr: 1) %>
      <% else %>
        <%= primer_octicon(:repo, color: :muted, mr: 1) %>
      <% end %>
      <%= repo %>
    <% end %>
  </h1>
  <% if repo.description.present? %>
    <div class="f6 color-fg-muted mt-1">
      <%= formatted_repo_description repo, limit: 140 %>
    </div>
  <% end %>
</article>
