<article class="Box-row">
  <div class="float-right">
    <%= render(Stars::ButtonComponent.new(
      entity: view.repo,
      show_count: false,
      context: "trending"
    )) do |c| c.with_list_menu end %>
  </div>

  <h2 class="h3 lh-condensed">
    <%= link_to repository_path(view.repo) do %>
      <% if view.repo.fork? && view.repo.parent %>
        <%= primer_octicon(:'repo-forked', color: :muted, mr: 1) %>
      <% elsif view.repo.mirror? %>
        <%= primer_octicon(:mirror, color: :muted, mr: 1) %>
      <% else %>
        <%= primer_octicon(:repo, color: :muted, mr: 1) %>
      <% end %>
      <span class="text-normal"><%= view.repo.owner %> / </span><%= view.repo.name %>
    <% end %>
  </h2>

  <% if view.repo.description.present? %>
    <p class="col-9 color-fg-muted my-1 pr-4">
      <%= formatted_repo_description view.repo %>
    </p>
  <% end %>

  <div class="f6 color-fg-muted mt-2">
    <% if view.repo.primary_language.present? %>
      <%= render(Languages::BadgeComponent.new(name: view.repo.primary_language.name, display: :inline_block, ml: 0, mr: 3)) %>
    <% end %>

    <% if view.repo.stargazer_count > 0 %>
      <a class="Link--muted d-inline-block mr-3" href="<%= gh_stargazers_path(view.repo) %>">
        <%= primer_octicon(:star, :"aria-label" => "star") %>
        <%= number_with_delimiter view.repo.stargazer_count %>
      </a>
    <% end %>

    <% if view.repo.network_count > 0 %>
      <a class="Link--muted d-inline-block mr-3" href="<%= gh_fork_network_path(view.repo) %>">
        <%= primer_octicon(:"repo-forked", :"aria-label" => "fork") %>
        <%= number_with_delimiter view.repo.network_count %>
      </a>
    <% end %>

    <%= cache(five_repo_contributors_cache_key(view.repo), :ttl => 1.day) do %>
      <% if view.contributors.any? %>
        <span class="d-inline-block mr-3">
          Built by
          <% view.contributors.each do |user, _| %>
            <%= linked_avatar_for(user, 20, img_class: "avatar mb-1") %>
          <% end %>
        </span>
      <% end %>
    <% end %>

    <% if view.star_count %>
      <span class="d-inline-block float-sm-right">
        <%= primer_octicon(:star) %>
        <%= view.star_count %>
      </span>
    <% end %>
  </div>
</article>
