<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details
  class="details-reset details-overlay select-menu select-menu-modal-right hx_rsm hx_rsm--auto-height"
  id="select-menu-sponsorable"
>
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "select-menu-button") do %>
    Sponsorable:
    <%= render Primer::Beta::Text.new(
      data: { menu_button: "" },
      font_weight: :bold,
    ).with_content(sponsorable ? "Yes" : "All") %>
  <% end %>

  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <%= render Primer::Beta::Text.new(classes: "select-menu-title").with_content("GitHub Sponsors participation") %>
      <%= render Primer::Beta::CloseButton.new(
        ml: 2,
        classes: "hx_rsm-close-button btn-link",
        "data-toggle-for": "select-menu-sponsorable",
        "aria-label": "Close menu",
      ) %>
    </div>

    <div class="select-menu-list">
      <%= render(Primer::Beta::Link.new(
        aria: { checked: sponsorable },
        data: { pjax: "" },
        classes: "select-menu-item",
        href: trending_developers_path(
          since: params[:since],
          language: params[:language],
          spoken_language_code: params[:spoken_language_code],
          sponsorable: "1",
        ),
        role: "menuitemradio",
      )) do %>
        <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>

        <%= render Primer::Beta::Text.new(
          classes: "select-menu-item-text",
          data: { menu_button_text: "" },
        ).with_content("Sponsorable developers") %>
      <% end %>

      <%= render(Primer::Beta::Link.new(
        aria: { checked: !sponsorable },
        data: { pjax: "" },
        classes: "select-menu-item",
        href: trending_developers_path(
          since: params[:since],
          language: params[:language],
          spoken_language_code: params[:spoken_language_code],
        ),
        role: "menuitemradio",
      )) do %>
        <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>

        <%= render Primer::Beta::Text.new(
          classes: "select-menu-item-text",
          data: { menu_button_text: "" },
        ).with_content("All developers") %>
      <% end %>
    </div>
  </details-menu>
</details>
