<% page_info(
  title: "Trending #{display_language_name_for(language)} developers on "\
    "#{GitHub.flavor} #{since_text(since)}",
  canonical_url: trending_developers_url(language: language),
  selected_link: :trending_developers,
) %>

<%= render(Explore::NavComponent.new) %>

<div class="color-bg-subtle border-bottom">
  <% if trending_depreciation_enabled %>
    <%= render partial: "trending/deprecation_banner" %>
  <% end %>

  <div class="container-lg p-responsive text-center py-6">
    <h1 class="h1">Trending</h1>
    <p class="f4 color-fg-muted col-md-10 mx-auto">
      These are the developers building the hot tools <%= since_text(since) %>.
    </p>
  </div>
</div>

<div class="position-relative container-lg p-responsive pt-6" data-hpc>
  <div class="Box">
    <div class="Box-header d-lg-flex flex-items-center flex-justify-between">
      <%= render "trending/nav" %>

      <div class="d-sm-flex flex-items-center flex-lg-justify-end mt-3 mt-lg-0 table-list-header-toggle ml-n2 ml-lg-0">
        <div class="mb-3 mb-sm-0">
          <%= render(
            "trending/languages_filter_redesign",
            language: language,
            since: since,
            context: context,
          ) %>
        </div>
        <div>
          <%= render "trending/date_filter_redesign", since: since %>
        </div>
        <% if GitHub.sponsors_enabled? %>
          <div>
            <%= render "trending/sponsorable_filter", sponsorable: sponsorable %>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <% if developers.any? %>
        <% developers.each_with_index do |developer, index| %>
          <%= render(
            "trending/developers/developer",
            developer: developer,
            developer_counter: index,
            since: since,
          ) %>
        <% end %>
      <% else %>
        <%= render "trending/empty_language_redesign", type: "developers", language: language %>
      <% end %>
    </div>
  </div>
</div>
