<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
     title: view.title_text("developers"),
     canonical_url: trending_developers_url(:language => view.language),
     selected_link: :trending_developers
%>

<div id="container">
  <%= render Explore::HeadComponent.new %>

  <% if trending_depreciation_enabled %>
    <%= render partial: "trending/deprecation_banner" %>
  <% end %>

  <div class="position-relative container-lg p-responsive clearfix">
    <div class="gutter-md">
      <div class="text-center mt-2 mx-auto mb-5 <%= animating? %>">
        <h2 class="f1 text-normal mb-1">Trending developers</h2>
        <p class="lead mt-1 mb-3">These are the <% if !GitHub.munger_available? %>organizations and <% end %>developers building the hot tools <%= view.period %>.</p>
        <% if GitHub.signup_enabled? && !logged_in? %>
          <p>
            <%= link_to(
              "Sign up #{'for free' unless GitHub.enterprise?}",
              signup_path_with_return,
              rel: "nofollow",
              class: "btn btn-sm btn-primary",
              data: sign_up_link_data_attributes(location_in_page: "trending developers")
            ) %> to get started
          </p>
        <% end %>
      </div>

      <div class="tabnav">
        <div class="float-sm-right d-flex flex-items-center mb-3 mb-sm-0">
          <div class="mr-4">
            <%= render "trending/date_filter", view: view %>
          </div>
          <%= render partial: "trending/languages_filter", locals: {
            view: create_view_model(
              Trending::LanguagesFilterView,
              language: view.language,
              since: view.since,
              context: view.context,
            )
          } %>
        </div>
        <div class="mb-3">
          <%= render "trending/nav" %>
        </div>
      </div>
      <% if @popular.nil? %>
        <%= render "trending/computing_results", singular_list_type: "developer" %>
      <% elsif @popular.empty? %>
        <%= render "trending/empty_language", list_type: "developers", language: view.language %>
      <% else %>
        <div class="mt-3">
          <ol class="list-style-none">
            <% @popular.each_with_index do |result, index| %>
              <% user, scores = result %>
              <li class="d-sm-flex flex-justify-between border-bottom color-border-muted py-3" id="pa-<%= user %>">
                <div class="d-flex">
                  <a href="#pa-<%= user %>" class="text-center text-small color-fg-muted mx-2" style="width: 16px;"><%= index + 1 %></a>

                  <div class="mx-2">
                    <%= linked_avatar_for(user, 48, img_class: "rounded") %>
                  </div>

                  <div class="mx-2">
                    <h2 class="f3 text-normal">
                      <%= profile_link(user) do %>
                        <%= user %>
                        <% unless user.profile_name.blank? %>
                          <span class="color-fg-muted text-bold">
                            (<%= user.profile_name %>)
                          </span>
                        <% end %>
                      <% end %>
                    </h2>
                    <%
                      popular_repo = if view.selected_language
                        user.most_popular_repository_for(view.selected_language)
                      else
                        user.most_popular_public_repository
                      end
                    %>
                    <% if popular_repo %>
                      <%= render :partial => "trending/repo_snip", :object => popular_repo %>
                    <% else %>
                      <%= render :partial => "users/quick_info", :locals => { :user => user } %>
                    <% end %>
                  </div>
                </div>

                <div class="mx-2 ml-6 ml-sm-2"><%= follow_button user %></div>
              </li>
            <% end %>
          </ol>
        </div>
      <% end %>
    </div>
  </div>
</div>
