<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
     title: view.title_text("repositories"),
     canonical_url: trending_index_url(language: view.language),
     selected_link: :trending_repositories,
     stafftools: stafftools_explore_path
%>

<%= render Explore::HeadComponent.new %>

<% if trending_depreciation_enabled %>
  <%= render partial: "trending/deprecation_banner" %>
<% end %>

<div class="position-relative container-lg p-responsive clearfix">
  <div class="gutter-md">
    <div class="text-center mt-2 mx-auto mb-5 <%= animating? %>">
      <% if GitHub.enterprise? %>
        <h2 class="f1 text-normal mb-1">Trending repositories</h2>
      <% else %>
        <h2 class="f1 text-normal mb-1">Trending in open source</h2>
      <% end %>
      <p class="lead mt-1 mb-3">See what the <%= GitHub.flavor %> community is most excited about <%= view.period %>.</p>
      <% if GitHub.signup_enabled? && !logged_in? %>
        <p>
          <%= link_to(
            "Sign up #{'for free' unless GitHub.enterprise?}",
            signup_path_with_return,
            rel: "nofollow",
            class: "btn btn-sm btn-primary",
            data: sign_up_link_data_attributes(location_in_page: "trending repos")
          ) %> to get started
        </p>
      <% end %>
    </div>

    <div class="tabnav">
      <div class="float-sm-right d-flex flex-items-center mb-3 mb-sm-0">
        <div class="mr-4">
          <%= render "trending/date_filter", view: view %>
        </div>
        <%= render "trending/languages_filter", view: create_view_model(Trending::LanguagesFilterView,
          language: view.language,
          since: view.since,
          context: view.context) %>
      </div>
      <div class="mb-3">
        <%= render "trending/nav" %>
      </div>
    </div>
    <% if @popular.nil? %>
      <%= render "trending/computing_results", singular_list_type: "repository" %>
    <% elsif @popular.empty? %>
      <%= render "trending/empty_language", list_type: "repositories", language: view.language %>
    <% else %>
      <div class="mt-3">
        <ol class="repo-list">
          <% @popular.each do |result| %>
          <% repo, scores = result %>
            <%= render "trending/repo_block", view: create_view_model(Trending::RepositoryView, :repo => repo, :scores => scores, :since => view.since) %>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</div>
