<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% page_info(
  title: "Trending #{display_language_name_for(language)} repositories on "\
    "#{GitHub.flavor} #{since_text(since)}",
  canonical_url: trending_index_url(language: language),
  selected_link: :trending_repositories,
  stafftools: stafftools_explore_path,
) %>

<%= render(Explore::NavComponent.new) %>

<div class="color-bg-subtle border-bottom">
  <% if trending_depreciation_enabled %>
    <%= render partial: "trending/deprecation_banner" %>
  <% end %>
  <div class="container-lg p-responsive text-center py-6">
    <h1 class="h1">Trending</h1>

    <p class="f4 color-fg-muted col-md-6 mx-auto">
      See what the <%= GitHub.flavor %> community is most excited about <%= since_text(since) %>.
    </p>
  </div>
</div>

<div class="position-relative container-lg p-responsive pt-6">
  <div class="Box">
    <div class="Box-header d-md-flex flex-items-center flex-justify-between">
      <%= render "trending/nav" %>

      <div
        class="d-sm-flex flex-items-center flex-md-justify-end mt-3 mt-md-0 table-list-header-toggle
          ml-n2 ml-md-0"
      >
        <div class="position-relative mb-3 mb-sm-0">
          <%= render(
            "trending/spoken_languages_filter",
            spoken_language_code: spoken_language_code,
          ) %>

          <% if logged_in? && current_user.profile_spoken_language_preference_code.blank? %>
            <% unless current_user.dismissed_notice?("spoken_language") %>
              <div class="Popover position-absolute js-notice">
                <%= form_tag(
                  dismiss_notice_path("spoken_language"),
                  class: "Popover-message text-left p-4 mt-2 mx-auto Box color-shadow-large js-notice-dismiss"
                  ) do %>
                  <p class="h4 mb-2">Filter by spoken language</p>
                  <p>Select your preferred spoken language in order to see matching trending results.</p>
                  <button type="submit" class="btn mt-2 text-bold" data-ga-click="Explore, click spoken language popover, location:trending">Got it!</button>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="mb-3 mb-sm-0">
          <%= render(
            "trending/languages_filter_redesign",
            language: language,
            since: since,
            context: context,
          ) %>
        </div>

        <div>
          <%= render "trending/date_filter_redesign", since: since %>
        </div>
      </div>
    </div>

    <div data-hpc>
      <% if repositories.any? %>
        <% repositories.each do |repository| %>
          <%= render "trending/repositories/repository",
                repository: repository,
                since: since,
                starred_by_viewer: starred_by_viewer,
                sponsorable_ids: sponsorable_ids,
                is_sponsoring_by_sponsorable_id: is_sponsoring_by_sponsorable_id %>
        <% end %>
      <% else %>
        <%= render "trending/empty_language_redesign", type: "repositories", language: language %>
      <% end %>
    </div>
  </div>
</div>
