<soft-nav-staffbar data-catalyst-inline>
  <span class="color-fg-subtle">•</span>

  <soft-nav-staffbar-state hidden data-target="soft-nav-staffbar.off" data-catalyst-inline>
    <%= render(Primer::Alpha::Dialog.new(title: "Soft Navigation Status")) do |dialog| %>
      <% dialog.with_show_button(scheme: :link, "aria-label" => "View soft navigation status", color: :on_emphasis) do %>
        <%= render(Primer::Beta::Octicon.new(:zap )) %>
      <% end %>
      <% dialog.with_body(classes: 'ws-normal') do %>
        <%= render(Primer::Beta::Octicon.new(:zap, :color => :muted )) %>
        This page was not loaded via Turbo.
      <% end %>
    <% end %>
  </soft-nav-staffbar-state>

  <soft-nav-staffbar-state hidden data-target="soft-nav-staffbar.success" data-catalyst-inline data-message-template="{count} successful soft navigations">
    <%= render(Primer::Alpha::Dialog.new(title: "Soft Navigation Status", width: :xlarge, height: :large)) do |dialog| %>
      <% dialog.with_show_button(scheme: :link, "aria-label" => "View soft navigation status", :"data-target" => 'soft-nav-staffbar-state.button', color: :on_emphasis) do %>
        <%= render(Primer::Beta::Octicon.new(:zap, hidden: true, "data-target": "soft-nav-staffbar-state.turboIcon")) %>
        <%= render(Primer::Beta::Octicon.new(:flame, hidden: true, "data-target": "soft-nav-staffbar-state.turboFrameIcon")) %>
        <%= render(Primer::Beta::Octicon.new(:"north-star", hidden: true, "data-target": "soft-nav-staffbar-state.reactIcon")) %>
        <span data-target="soft-nav-staffbar-state.contentTarget"></span>
      <% end %>
      <% dialog.with_body(classes: 'ws-normal') do %>
        <span data-target="soft-nav-staffbar-state.messageTarget"></span>
      <% end %>
    <% end %>
  </soft-nav-staffbar-state>

  <soft-nav-staffbar-state hidden data-target="soft-nav-staffbar.error" data-catalyst-inline data-message-template="Turbo navigation attempt was unsuccessful. Reason: {reason}">
    <%= render(Primer::Alpha::Dialog.new(title: "Soft Navigation Status",)) do |dialog| %>
      <% dialog.with_show_button(scheme: :link, "aria-label" => "View soft navigation status", :"data-target" => 'soft-nav-staffbar-state.button', color: :attention) do %>
        <%= render(Primer::Beta::Octicon.new(:alert )) %>
      <% end %>
      <% dialog.with_body(classes: 'ws-normal') do %>
        <%= render(Primer::Beta::Octicon.new(:alert, :color => :attention )) %>
        <span data-target="soft-nav-staffbar-state.messageTarget"></span>
      <% end %>
    <% end %>
  </soft-nav-staffbar-state>

  <template data-target="soft-nav-staffbar.initialTemplate">
    <%= render(Primer::Beta::TimelineItem.new) do |component| %>
      <% component.with_badge(icon: :dot) %>
      <% component.with_body("data-template-body": "") { "" } %>
    <% end %>
  </template>

  <template data-target="soft-nav-staffbar.turboTemplate">
    <%= render(Primer::Beta::TimelineItem.new) do |component| %>
      <% component.with_badge(icon: :zap) %>
      <% component.with_body("data-template-body": "") { "" } %>
    <% end %>
  </template>

  <template data-target="soft-nav-staffbar.turboFrameTemplate">
    <%= render(Primer::Beta::TimelineItem.new) do |component| %>
      <% component.with_badge(icon: :flame) %>
      <% component.with_body("data-template-body": "") { "" } %>
    <% end %>
  </template>

  <template data-target="soft-nav-staffbar.reactTemplate">
    <%= render(Primer::Beta::TimelineItem.new) do |component| %>
      <% component.with_badge(icon: :"north-star") %>
      <% component.with_body("data-template-body": "") { "" } %>
    <% end %>
  </template>
</soft-nav-staffbar>
