<div class="Box Box--condensed my-2">
  <div class="Box-header f6">
    <p class="mb-0 text-bold">
      <%= link_to filepath, permalink %>
    </p>
    <p class="mb-0 color-fg-muted">
      <% if range_start == range_end %>
         Line <%= range_start %>
      <% else %>
        Lines <%= range_start %> to <%= range_end %>
      <% end %>
      in
      <%= link_to commit_oid[0, 7], "/#{owner_display_login}/#{repo_name}/commit/#{commit_oid}", "data-pjax" => true, class: "commit-tease-sha Link--inTextBlock" %>
    </p>
  </div>
  <div itemprop="text" class="Box-body p-0 blob-wrapper blob-wrapper-embedded data">
    <table class="highlight tab-size mb-0 js-file-line-container" data-tab-size="8" data-paste-markdown-skip>
      <% lines.each_with_index do |line, line_number| %>
        <% line_number += range_start %>

        <tr class="border-0">
          <td id="L<%= line_number %>" class="blob-num border-0 px-3 py-0 color-bg-default" data-line-number="<%= line_number %>"></td>
          <td id="LC<%= line_number %>" class="blob-code border-0 px-3 py-0 color-bg-default blob-code-inner js-file-line"> <%= line %> </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
