<%
  suggested_change_id = nil unless defined?(suggested_change_id)
  for_email = false unless defined?(for_email)
%>
<% if for_email %>
⬇️ Suggested change
<pre style="color: #555">
<% deletions.each do |deletion| %>
-<%= deletion %>
<% end %>
<% additions.each do |addition| %>
+<%= addition %>
<% end %>
</pre>
<% else %>
  <div class="my-2 border rounded-2 js-suggested-changes-blob diff-view js-check-bidi" id="<%= suggested_change_id %>">
    <div class="f6 p-2 lh-condensed border-bottom d-flex">
      <div class="flex-auto flex-items-center color-fg-muted">
        Suggested change
      </div>
    </div>
    <div itemprop="text" class="blob-wrapper data file" style="margin: 0; border: none; overflow-y: visible; overflow-x: auto;">
      <table class="d-table tab-size mb-0 width-full" data-paste-markdown-skip>
        <% deletions.each_with_index do |deletion, index| %>
          <tr class="border-0">
            <td class="blob-num blob-num-deletion text-right border-0 px-2 py-1 lh-default<%= ' blob-num-hidden' unless line_number %>" data-line-number="<%= line_number ? line_number + index : '·' %>"></td>
            <td class="border-0 px-2 py-1 blob-code-inner blob-code-deletion js-blob-code-deletion blob-code-marker-deletion"><%= deletion %></td>
          </tr>
        <% end %>
        <% additions.each_with_index do |addition, index| %>
          <tr class="border-0">
            <td class="blob-num blob-num-addition text-right border-0 px-2 py-1 lh-default<%= ' blob-num-hidden' unless line_number %>" data-line-number="<%= line_number ? line_number + index : '·' %>"></td>
            <td class="border-0 px-2 py-1 blob-code-inner blob-code-addition js-blob-code-addition blob-code-marker-addition"><%= addition %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="js-apply-changes"></div>
  </div>
<% end %>
