<details open class="details-reset border rounded-2">
  <summary class="px-3 py-2">
    <%= render Primer::Beta::Octicon.new(icon: "device-camera-video") %>
    <span aria-label="Video description <%= video_name %>" class="m-1"><%= video_name %></span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse %>
    <span class="dropdown-caret"></span>
  </summary>

  <video src="<%= video_src %>" data-canonical-src="<%= protected_src %>" controls="controls" muted="muted" class="d-block rounded-bottom-2 border-top width-fit" style="max-height:640px; min-height: 200px">

  </video>
</details>
