<% page_info title: "Change your password", class: "page-two-factor-auth session-authentication"%>

<div id="login" class="auth-form px-3">
  <div class="auth-form-header p-0">
    <h1>Mobile two-factor password reset</h1>
  </div>

  <%= render "shared/flash" %>

  <%= render partial: "shared/mobile_auth_prompt", locals: {
    challenge: challenge,
    status_path: check_password_reset_mobile_status_path,
    retry_path: edit_password_reset_mobile_path,
    rejected_path: edit_password_reset_path(token),
    auth_template: "password_reset",
    }
  %>

  <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
    <%= component.with_body(p: 3) do %>
      <h2 id="otp-options" class="h5 mb-2">Unable to verify with GitHub Mobile?</h2>
      <ul class="ml-3" aria-labelledby="otp-options">
        <li><%= link_to "Enter two-factor authentication or recovery code", edit_password_reset_path(auto: "false", from: "mobile_2fa_password_reset") %></li>
      </ul>
    <% end %>
  <% end %>
</div>
