<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: "Forgot your password?" %>
<%
show_captcha = !GitHub.enterprise? && Octocaptcha.new(session, page: :password_reset, user: @requested_reset_user).show_captcha?

input_options = {
  :class       => "input-block",
  :id          => "email_field",
  :autofocus   => "autofocus"
}

form_attributes = {
  :id    => "forgot_password_form",
  :class => show_captcha ? "js-octocaptcha-parent" : ""
}

if logged_in?
  input_options[:value] = current_user.email
elsif params[:email].present?
  input_options[:value] = params[:email]
else
  input_options[:placeholder] = "Enter your email address"
end
%>

<div class="<%= "#{show_captcha ? "container-sm" : "auth-form"} px-3" %>" <%= test_selector "password-reset-standard-view" %>>
  <%= form_tag password_reset_path, form_attributes do %>
    <% if show_captcha %>
      <noscript>
        <p class="flash flash-error">GitHub requires JavaScript enabled during password reset, for our captcha. Please enable JavaScript during password reset.</p>
      </noscript>
    <% end %>
    <div class="auth-form-header p-0">
      <h1>Reset your password</h1>
    </div>
    <%= render "shared/flash" %>
    <div class="auth-form-body mt-3">
      <% if GitHub.flipper[:resend_initial_first_emu_admin_password_reset].enabled? && params[:slug].present? %>
        <%= hidden_field_tag :slug, params[:slug] %>
      <% end %>
      <% if GitHub.email_verification_enabled? %>
        <label for="email_field">Enter your user account's verified email address and we will send you a password reset link.</label>
      <% else %>
        <label for="email_field">Enter your email address and we will send you a link to reset your password.</label>
      <% end %>
      <%= text_field_tag :email, @failed_auth_email, input_options %>
      <% if show_captcha %>
        <%= render partial: "shared/octocaptcha", locals: { origin_page: "github_password_reset", octocaptcha_timeout: @octocaptcha_timeout } %>
      <% end %>
      <input
        name="commit"
        type="submit"
        value="Send password reset email"
        class="<%= "btn btn-primary btn-block #{"js-octocaptcha-form-submit" if show_captcha}" %>"
        <% if show_captcha %>
          disabled
        <% end%>
      >
    </div>
    <%= spamurai_form_signals %>
  <% end %>
</div>
