<%= render(Primer::Alpha::Banner.new(scheme: :warning, full: false, icon: "alert")) do %>
  <span class="text-bold" <%= test_selector "cache-warning" %>>Approaching total cache storage limit</span>
  <span class="hide-sm hide-md">(<%= current_cache_size %> GB of <%= cache_limit %> GB Used)</span>
  <span class="hide-lg hide-xl pl-5">(<%= current_cache_size %> GB of <%= cache_limit %> GB Used)</span>

  <div class="text-small" <%= test_selector "warning-description" %>>
      Least recently used caches will be automatically evicted to limit the total cache storage to <%= cache_limit %> GB. <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/actions/using-workflows/caching-dependencies-to-speed-up-workflows#usage-limits-and-eviction-policy", classes: "Link--inTextBlock", scheme: :default, underline: true)) { "Learn more about cache usage." } %>
  </div>
<% end %>


