<%
  branch_name = cache_item_ref.delete_prefix("refs/heads/")
  is_pull_ref = cache_item_ref.start_with?("refs/pull")
%>
<div class="Box-row" id="cache-row-<%= cache_item_name %>">
  <div class="d-table col-12">
    <div class="d-table-cell v-align-top col-11 col-md-7 pr-4 position-relative">
      <span class="d-md-none h4 d-inline-block text-bold lh-condensed mb-1 width-full">
        <span id="cache-entry-<%= middle_truncation(cache_item_name) %>" style="overflow-wrap: anywhere; min-width: 100%">
          <%= middle_truncation(cache_item_name) %>
        </span>
      </span>

      <span class="d-none d-md-table-cell h4 d-inline-block text-bold lh-condensed mb-1 pb-1 width-full">
        <span id="cache-entry-<%= cache_item_name %>" style="overflow-wrap: anywhere; min-width: 100%">
          <%= cache_item_name %>
        </span>
      </span>

      <span class="d-block color-fg-muted mb-1 mb-md-0 text-small" <%= test_selector("cache-size-and-creation") %>>
        <%= number_to_human_size(cache_item_size, precision: 2) %> cached <%= render Primer::Beta::RelativeTime.new(datetime: cache_item_last_created_at, tense: :past) %>
      </span>

      <span class="d-md-none text-small">
        <% if is_pull_ref %>
          <%= render Actions::PullRefComponent.new(ref: cache_item_ref) %>
        <% else %>
          <%= render Actions::BranchComponent.new(branch: branch_name, current_repository: current_repository, title: branch_name) %>
        <% end %>
      </span>

      <span class="d-md-none color-fg-muted v-align-top mb-1 mb-md-0 text-small no-wrap" <%= test_selector("cache-last-used-md-none") %>>
        Last used <%= render Primer::Beta::RelativeTime.new(datetime: cache_item_last_used_at, tense: :past) %>
      </span>
    </div>

    <div class="d-none d-md-table-cell v-align-middle col-md-3 pl-2 px-md-3 position-relative">
       <% if is_pull_ref %>
          <%= render Actions::PullRefComponent.new(ref: cache_item_ref) %>
        <% else %>
          <%= render Actions::BranchComponent.new(branch: branch_name, current_repository: current_repository, title: branch_name) %>
        <% end %>
    </div>

    <div class="d-table-cell v-align-middle col-1 col-md-2 text-small">
      <div class="d-flex flex-justify-between flex-items-center">
          <span class="d-none d-md-block color-fg-muted mb-1 mb-md-0 col-6 text-small" <%= test_selector("cache-last-used") %>>
            <span class="no-wrap">Last used</span> <%= render Primer::Beta::RelativeTime.new(datetime: cache_item_last_used_at, tense: :past) %>
          </span>

          <% if cache_writable? %>
            <div class="text-right">
              <%= render Actions::Cache::DeleteComponent.new(
                path: destroy_actions_cache_path(cache_id: cache_item_id, user_id: current_repository.owner, repository: current_repository),
                label: "Delete cache",
                cache_id: cache_item_id)
              %>
            </div>
          <% end %>
      </div>
    </div>
   </div>
</div>
