<%= render Primer::Beta::Details.new(overlay: :dark, reset: true, test_selector: "remove-disabled-runner") do |component| %>
  <%= component.with_summary(button: false, "aria-label": "Remove runner", "data-sudo-required": "true") do %>
    <%= render Primer::Beta::Octicon.new(:trash) %>
  <% end %>
  <%= component.with_body(
    tag: :"details-dialog",
    display: :flex,
    animation: :fade_in,
    classes: "Box Box--overlay flex-column fast Box-overlay--wide",
    style: "width: 600px; line-height: 1.5 !important;",
    "aria-label": "Remove runner",
  ) do %><%# erblint:disable A11yDetailsDialogMigration %>
  <include-fragment src="<%= delete_path %>">
    <div class="text-center" data-hide-on-error>
      <%= render Primer::Beta::Spinner.new(aria: { label: "Loading" }) %>
    </div>
    <div class="text-center" data-show-on-error hidden>
      Something went wrong.
    </div>
  </include-fragment>
<% end %>
<% end %>
