<%# erblint:counter DeprecatedComponentsCounter 1 %>
<h3 class="h4 status-heading color-fg-attention">
  <%= pluralize(@check_suites.size, "workflow") %> awaiting approval
</h3>
<div class="d-flex flex-column">
  <span class="status-meta">
    <% if has_expired_workflow_runs? %>
      Unable to re-run one or more workflows because they were created over a month ago.
    <% else %>
      <%= approval_message %>
      <a href="<%= help_link %>">Learn more about approving workflows.</a>
    <% end %>
  </span>
  <% if @checks_status_summary.present? %>
    <span class="status-meta"><%= @checks_status_summary %></span>
  <% end %>
  <% if show_run_workflows_button? %>
    <%= form_tag run_workflows_path, :class => "mt-2" do %>
      <input type="hidden" name="pull_request_id" value="<%= @pull_request.global_relay_id %>">
      <%= render Primer::ButtonComponent.new(type: :submit, test_selector: "approve-button") do %>
        Approve and run
      <% end %>
    <% end %>
  <% end %>
</div>
