<%# erblint:counter FlashMigrationCounter 1 %>
<div class="js-runner-labels-menu select-menu-list" id="label-menu-<%= descriptor %>">
  <filter-input aria-owns="label-menu-<%= descriptor %>" class="SelectMenu-filter">
    <input type="text" class="width-full form-control js-label-filter-field" placeholder="Find or create a label…" aria-label="Find or create a label…" autofocus>
  </filter-input>
  <div class="SelectMenu-list" role="menu" <%= test_selector("runner-labels-list") %>>
    <div class= "flash flash-error js-runner-label-error" aria-live="assertive" hidden></div>
    <% if update_label_path.present? %>
      <%= form_tag update_label_path,
        method: :put,
        "aria-label": "Apply labels",
        class: "js-runner-labels-form" do %>
        <div class="js-filterable-runner-labels" data-filter-list>
          <% labels.each do |label| %>
            <% selected = selected?(label) %>
            <% indeterminate = !selected && partially_selected?(label) %>
            <%= render Actions::RunnerLabelComponent.new(label: label, selected: selected, indeterminate: indeterminate) %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="js-filterable-runner-labels" data-filter-list>
        <% labels.each do |label| %>
          <% selected = partially_selected?(label) %>
          <%= render Actions::RunnerLabelComponent.new(label: label, selected: selected, indeterminate: false, form_id: "larger_runner_form") %>
        <% end %>
      </div>
    <% end %>
    <div class="color-fg-muted SelectMenu-blankslate" data-filter-empty-state>
      <span>
        Enter a new label name to create it
      </span>
    </div>
    <%= form_tag create_label_path,
      method: :post,
      "data-filter-new-item": true,
      hidden: true,
      class: "js-create-runner-label-form" do %>
      <label role="menuitem">
        <input type="hidden" data-filter-new-item-value name="name">
        <button type="submit" class="SelectMenu-item Truncate">
          <div class="Truncate-text">
          Create new label &ldquo;<span data-filter-new-item-text></span>&rdquo;
          </div>
        </button>
      </label>
    <% end %>
  </div>
  <footer class="SelectMenu-footer">Unassigned labels will be removed periodically</footer>
</div>
