<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<% if description.present? %>
    <p class="mb-0">
      <%= description %>
    </p>
<% end %>
<div class="d-flex <% unless viewing_from_a_repository? %>py-3<% end %> flex-justify-end">
  <% if should_show_runner_level_filter? %>
    <details class="dropdown details-reset details-overlay float-left pr-2">
      <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :default, "aria-haspopup": "true", dropdown: true) do %>
        <%= @filter_level %>
      <% end %>
      <details-menu class="dropdown-menu dropdown-menu-sw"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <a role="menuitem" class="dropdown-item btn-link" href="?qr=<%= filter_value_for_level('All') %>">All</a>
        <a role="menuitem" class="dropdown-item btn-link" href="?qr=<%= filter_value_for_level('Organization') %>">Organization</a>
        <a role="menuitem" class="dropdown-item btn-link" href="?qr=<%= filter_value_for_level('Enterprise') %>">Enterprise</a>
      </details-menu>
    </details>
  <% end %>
  <% if !viewing_from_a_repository? %>
    <div class="flex-auto min-width-0">
      <%= form_tag @search_action, :method => :get, :class => "subnav-search ml-0 mt-md-0", role: "search", "aria-label": "Runners" do %>
        <input type="text" name="qr" value="<%= params[:qr] %>" class="form-control subnav-search-input subnav-search-input-wide input-contrast width-full" placeholder="Search runners" aria-label="Search runners" <%= params[:qr].present? ? "autofocus" : nil %>>
        <%= primer_octicon(:search, classes: 'subnav-search-icon') %>
      <% end %>
    </div>
  <% end %>
  <% if @can_create_runners && !viewing_from_a_repository? %>
    <% if GitHub.actions_larger_runners_enabled? %>
      <%= render Primer::Experimental::ActionMenu.new(menu_id: "runner-creation-menu", anchor_align: :end, ml: 2, test_selector: "larger-runner-menu-select") do |c| %>
        <% c.with_trigger(
          scheme: viewing_from_runner_group? ? :default : :primary
        ) do |trigger| %>
          <% trigger.with_trailing_action_icon(icon: :"triangle-down") %>
          New runner
        <% end %>
        <% if larger_runner_button_properties[:enabled] %>
          <% c.with_item(tag: :a, href: larger_runner_button_properties[:href], test_selector: "larger-runner-button-enabled") do |item| %>
            <% item.with_leading_visual_icon(icon: "mark-github") %>
            <span class="ActionListItem-descriptionWrap">
              <span class="ActionListItem-label">
                New GitHub-hosted runner
              </span>
              <span class="ActionListItem-description">
                Pay-as-you-go, customizable, secure, scaled &<br> managed by GitHub
              </span>
            </span>
          <% end %>
          <% c.with_item(is_divider: true) %>
        <% end %>
        <% c.with_item(tag: :a, href: @owner_settings.add_runner_path) do |item| %>
          <% item.with_leading_visual_icon(icon: :server) %>
          <span class="ActionListItem-descriptionWrap">
            <span class="ActionListItem-label">
              New self-hosted runner
            </span>
            <span class="ActionListItem-description">
              Bring your own infrastructure
            </span>
          </span>
        <% end %>
        <% unless larger_runner_button_properties[:enabled] %>
          <% c.with_item(is_divider: true) %>
          <% c.with_item(tag: :button, type: "button", classes: "", "aria-disabled": true, disabled: true, test_selector: "larger-runner-button-disabled") do |item| %>
            <% item.with_leading_visual_icon(icon: "mark-github") %>
            <span class="ActionListItem-descriptionWrap">
              <span class="ActionListItem-label" style="color: inherit;">
                New GitHub-hosted runner
              </span>
              <span class="ActionListItem-description" style="color: inherit;">
                Pay-as-you-go, customizable, secure, scaled &<br> managed by GitHub
              </span>
              <% if larger_runner_button_properties[:hint].present? %>
                <span class="ActionListItem-description color-fg-severe" <%= test_selector("larger-runner-button-hint") %>>
                  <%= larger_runner_button_properties[:hint] %>
                </span>
              <% end %>
            </span>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%= render Primer::ButtonComponent.new(href: @owner_settings.add_runner_path, tag: :a, scheme: :primary, ml: 2, test_selector: "add-runner") do %>
        New runner
      <% end %>
    <% end %>
  <% end %>
</div>

<% if params[:qr].present? && hosted_runner_group.nil? %>
  <actions-announceable-search-result-summary>
    <% if @runners.empty? %>
      <div class="Box">
        <%= render Primer::BlankslateComponent.new(title: "No runners found") do %>
          <span data-target="actions-announceable-search-result-summary.searchResult">No runners were found that matched the query.</span>
        <% end %>
      </div>
    <% else %>
      <div class="mb-3" data-target="actions-announceable-search-result-summary.searchResult">Found <%= pluralize(@runners.size, 'runner') %></div>
      <%= render(Actions::RunnerListComponent.new(runners: @runners, owner_settings: @owner_settings, hosted_runner_group: hosted_runner_group, can_manage_runners: @can_manage_runners, viewing_from_a_repository: viewing_from_a_repository?, viewing_from_runner_group: @runner_group.present?, filter_query: @filter_query)) %>
    <% end %>
  </actions-announceable-search-result-summary>
<% else %>
  <%= render(Actions::RunnerListComponent.new(runners: @runners, owner_settings: @owner_settings, hosted_runner_group: hosted_runner_group, can_manage_runners: @can_manage_runners, viewing_from_a_repository: viewing_from_a_repository?, viewing_from_runner_group: @runner_group.present?, filter_query: @filter_query)) %>
<% end %>
