<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div
  class="Box-row d-flex flex-items-center flex-auto <% if @is_child_row %> pl-5<% end %>"
  <%= test_selector("runner-list-item") %>
  <% if @hidden %>hidden<% end %>
  <% if @is_child_row %> data-replace-remote-form-target<% end %>>
  <div class="d-flex flex-column flex-auto">
    <div class="d-flex flex-items-center">
      <span class="text-bold" id="runner-name-id-<%= @group_id %>-<%= id %>"><%= name %></span>
    </div>
    <div class="d-flex text-small color-fg-muted pt-1 ml-4">
      <span class="labels lh-default">
        <% system_labels.each do |label| %>
          <%= render Primer::Beta::Label.new(mb: 1, scheme: :secondary, title: "Auto-assigned label (read-only): #{ label.name }") do %>
            <%= label.name %>
          <% end %>
        <% end %>
        <% custom_labels.each do |label| %>
          <%= render Primer::Beta::Label.new(mb: 1, scheme: :primary, classes: "css-truncate css-truncate-target", style: "max-width:500px", title: "Label: #{ label.name }") do %>
            <%= label.name %>
          <% end %>
        <% end %>
      </span>
      <% if @owner_settings.show_labels? && can_manage_runners? %>
        <details class="details-reset details-overlay ml-1 js-runner-labels-details">
          <summary aria-haspopup="menu">
            <span class="dropdown-caret hide-sm"></span>
          </summary>
          <details-menu class="SelectMenu SelectMenu--hasFilter" src="<%= labels_path %>" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="SelectMenu-modal">
              <include-fragment class="SelectMenu-loading">
                <%= render(Primer::Beta::Spinner.new) %>
              </include-fragment>
            </div>
          </details-menu>
        </details>
      <% end %>
    </div>
  </div>
  <span class="d-flex flex-justify-end flex-items-center mr-1 color-fg-muted">
    <%= @runner.status.capitalize %>
    <%= render Primer::Beta::Octicon.new(icon: "dot-fill", color: icon_color_class, ml: 1) %>
  </span>
  <% if can_manage_runners? %>
    <div class="d-flex flex-justify-end col-1">
      <details class="details-overlay details-reset position-relative">
        <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "timeline-comment-action", "aria-haspopup": "menu") do %>
          <%= render Primer::Beta::Octicon.new(icon: "kebab-horizontal", aria: { label: "Show options", hidden: false }) %>
        <% end %>
        <details-menu class="dropdown-menu dropdown-menu-sw show-more-popover color-fg-default anim-scale-in" style="width: 185px"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <%= render(Actions::RunnerRemoveButtonComponent.new(runner_id: runner.id, os: runner.os, owner_settings: @owner_settings)) %>
        </details-menu>
      </details>
    </div>
  <% end %>
</div>
