<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% unless @runner_group.inherited? || @runner_group.precreated? %>
  <%= render(GitHub::DialogComponent.new(title: "Remove group")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <% if @delete_from_list %>
        <summary
          class="dropdown-item btn-link menu-item-danger"
          role="button"
          data-sudo-required="true">
          Remove group
        </summary>
      <% else %>
        <%= render(Primer::Beta::Button.new(
          tag: :summary,
          scheme: :danger,
          "aria-haspopup": "dialog",
          "data-sudo-required": "true",
          "data-test-selector": "remove-group-button"
        )) do %>
          Remove group
        <% end %>
      <% end %>
    <% end %>
    <% dialog.with_body do %>
      <p>
        Removing a runner group permanently removes it from your <%= @owner_settings.settings_owner_type %>.
      </p>
      <% if should_block_remove? %>
        <div class="d-flex flex-row">
          <%= render Primer::Beta::Octicon.new(
            icon: "alert",
            mr: 1,
            color: :danger)
          %>
          <div class="color-fg-danger mb-1">This group cannot be deleted because it contains runners. Please remove or move them to another group before proceeding.</div>
        </div>
      <% end %>
    <% end %>
    <% dialog.with_footer do %>
      <%= form_tag delete_runner_group_path, method: :delete do %>
        <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger, disabled: should_block_remove?, "data-sudo-required": "true") do %>
          Remove this runner group
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
