<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<% if show_disruptive_workflow %>
  <div class="Box-row js-socket-channel js-updatable-content mt-n1 mb-n1" <%= test_selector "disruptive-workflow-run" %> id="<%= dom_id(workflow_run.check_suite) %>">
    <div class="col-12">
      <div class="v-align-top col-11 col-md-6 pl-4 position-relative">
        <div class="position-absolute left-0 checks-list-item-icon text-center color-fg-muted">
          <%= render(Primer::Beta::Octicon.new(icon: "trash")) %>
        </div>
        <span class="h4 d-inline-block text-bold lh-condensed mb-1 width-full color-fg-muted">
          This workflow run has been marked as disruptive
        </span>
      </div>
    </div>
  </div>
<% else %>
<div class="Box-row js-socket-channel js-updatable-content" id="<%= dom_id(workflow_run.check_suite) %>"
    data-channel="<%= live_update_view_channel(workflow_run.check_suite.channel) %>"
    data-url="<%= workflow_run_item_partial_path(user_id: current_repository.owner, repository: current_repository, workflow_run_id: workflow_run.check_suite.id) %>">
  <div class="d-table col-12">
    <div class="d-table-cell v-align-top col-11 col-md-6 position-relative">
      <a href="<%= workflow_run_path(user_id: current_repository.owner, repository: current_repository, workflow_run_id: workflow_run.id)%>" class="d-flex flex-items-center width-full mb-1" aria-label="<%= workflow_run_link_aria_label  %>">
          <%= render status_component %>
          <span class="h4 Link--primary text-bold width-full markdown-title css-truncate css-truncate-target pl-2" style="min-width: 95%">
            <%= workflow_run_title %>
          </span>
        </a>

      <span class="d-block text-small color-fg-muted mb-1 mb-md-0 pl-4">
        <span class="text-bold" <%= test_selector("workflow-name") %>><%= workflow_run.workflow_name %></span>
        #<%= workflow_run.run_number %>:

        <span class="color-fg-muted">
          <%
            trigger = workflow_run.trigger
            action = workflow_run.action
          %>
          <% case trigger_type %>
          <% when Actions::TriggerTypes::ISSUE %>
            Issue <%= link_to "##{trigger.number}", issue_path(trigger), class: 'Link--muted Link--inTextBlock', data: hovercard_data_attributes_for_issue_or_pr(trigger) %>
          <% when Actions::TriggerTypes::ISSUE_COMMENT %>
            Issue comment <%= link_to "##{trigger.issue.number} (comment)", "#{issue_path(trigger.issue)}#issuecomment-#{trigger.id}", class: 'Link--muted Link--inTextBlock', data: hovercard_data_attributes_for_issue_or_pr(trigger.issue, comment_id: trigger.id) %>
          <% when Actions::TriggerTypes::PULL_REQUEST %>
            Pull request <%= link_to "##{trigger.number}", pull_request_path(trigger), class: 'Link--muted Link--inTextBlock', data: hovercard_data_attributes_for_issue_or_pr(trigger) %>
          <% when Actions::TriggerTypes::RELEASE %>
            Release <%= link_to trigger.tag_name, release_path(trigger), class: 'Link--muted Link--inTextBlock' %>
          <% when Actions::TriggerTypes::DEPLOYMENT %>
            Deployment <% if trigger.environment.present? %>to <%= trigger.environment %><% end %>
          <% when Actions::TriggerTypes::SCHEDULE %>
            Scheduled
          <% when Actions::TriggerTypes::MERGE_GROUP %>
            Merge group checks requested
          <% when Actions::TriggerTypes::REPOSITORY_DISPATCH %>
            Repository dispatch
            <% action = "triggered" %>
          <% when Actions::TriggerTypes::WORKFLOW_DISPATCH %>
            Manually run
            <% action = "" %>
          <% when Actions::TriggerTypes::PUSH %>
            Commit <%= link_to workflow_run.short_head_sha, commit_path(workflow_run.commit), class: 'Link--muted Link--inTextBlock' %>
            <% action = "pushed" %>
          <% end %>

          <% if show_action_actor? || show_spammy_label? %>
            <%= action %>
            by
            <% if workflow_actor %>
              <%= profile_link workflow_actor, class: "Link--muted" %>
              <%= bot_identifier(workflow_actor) %>
            <% end %>
            <% if show_spammy_label? %>
              <%= render Primer::Beta::Label.new(test_selector: "spammy-label", scheme: :secondary) do %>
                spammy
              <% end %>
            <% end %>
          <% end %>
        </span>
      </span>

      <div class="d-block d-md-none text-small pl-4">
        <%= render Actions::WorkflowRunItem::DateComponent.new(workflow_run: workflow_run) %>
        <%= render Actions::WorkflowRunItem::TimingComponent.new(workflow_run: workflow_run) %>
        <% if branch_name_relevant? %>
          <%= render Actions::BranchComponent.new(branch: workflow_run.head_branch, current_repository:  workflow_run.head_repository || current_repository, title: workflow_run.check_suite.head_repository_and_branch_name) %>
        <% end %>
      </div>
    </div>

    <div class="d-none d-md-table-cell v-align-middle col-4 pl-2 px-md-3 position-relative">
      <% if branch_name_relevant? %>
        <%= render Actions::BranchComponent.new(branch: workflow_run.head_branch, current_repository:  workflow_run.head_repository || current_repository, title: workflow_run.check_suite.head_repository_and_branch_name) %>
      <% end %>
    </div>

    <div class="d-table-cell v-align-middle col-1 col-md-3 text-small">
      <div class="d-flex flex-justify-between flex-items-center">
        <div class="d-none d-md-block">
          <%= render Actions::WorkflowRunItem::DateComponent.new(workflow_run: workflow_run) %>
          <%= render Actions::WorkflowRunItem::TimingComponent.new(workflow_run: workflow_run) %>
        </div>

        <div class="text-right">
          <% if show_options_menu? %>
            <details class="details-overlay details-reset position-relative d-inline-block "  <%= test_selector("workflow-run-menu") %>>
              <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "timeline-comment-action", "aria-haspopup": "menu") do %>
                <%= render Primer::Beta::Octicon.new(icon: "kebab-horizontal", aria: { label: "Show options", hidden: false }) %>
              <% end %>

              <ul class="dropdown-menu dropdown-menu-sw show-more-popover color-fg-default anim-scale-in" style="width: 185px">
                <% if can_cancel_workflow_run? %>
                  <li>
                    <%= form_tag cancel_check_suite_path(workflow_run.check_suite, user_id: current_repository.owner, repository: current_repository), method: :put do %>
                      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, classes: "dropdown-item menu-item-danger") do %>Cancel run<% end %>
                    <% end %>
                  </li>

                  <% if show_options_divider? %>
                    <li role="none" class="dropdown-divider"></li>
                  <% end %>
                <% end %>

                <% if pull_request %>
                  <li>
                    <a href="<%= gh_show_pull_request_path(pull_request) %>" class="dropdown-item btn-link">
                      View #<%= pull_request_number %>
                    </a>
                  </li>
                <% end %>

                <% if can_view_workflow_file? %>
                  <li>
                    <a href="<%= workflow_run_file_path(user_id: current_repository.owner, repository: current_repository, workflow_run_id: workflow_run.id) %>" class="dropdown-item btn-link" >
                      <span <%= test_selector("workflow-run-file-path") %>>View workflow file</span>
                    </a>
                  </li>
                <% end %>

                <% if can_delete_workflow_run? %>
                  <li class="text-left">
                    <%= render Primer::ButtonComponent.new(
                      scheme: :link,
                      classes: "dropdown-item btn-link menu-item-danger",
                      "data-show-dialog-id": "delete-workflow-run-#{workflow_run.id}"
                    ) do %>
                        Delete workflow run
                    <% end %>
                    <%= render Actions::WorkflowRunItem::DeleteComponent.new(
                      current_repository: current_repository,
                      workflow_run: workflow_run,
                      dialog_id: "delete-workflow-run-#{workflow_run.id}"
                    )%>
                  </li>
                <% end %>

                <% if can_view_link_to_stafftools? %>
                   <li>
                      <% text = GitHub.enterprise? ? "Site Admin" : "Stafftools" %>
                      <div role="none" class="dropdown-divider"></div>
                      <a href="<%= actions_workflow_execution_stafftools_repository_path(current_repository.owner, current_repository, check_suite_id: workflow_run.check_suite_id) %>" class="dropdown-item btn-link">
                        <span <%= test_selector("staff-view-workflow-run") %>>View in <%= text %></span>
                      </a>
                   </li>
                <% end %>
              </ul>
            </details>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
