<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="border rounded-2 d-flex p-3 color-shadow-small color-bg-subtle mb-4">

  <div class="flex-1 float-left">
    <h3 class="h4 mb-2">
      <%= primer_octicon(:graph) %>
      Server statistics
    </h3>
    <p class="text-small mr-2">
      You are sending server statistics to GitHub. Download a CSV or JSON file of the data collected,
      which includes aggregrate metrics on repositories, issues and pull requests.
      <%= render Primer::Beta::Link.new(href: "#{GitHub.enterprise_admin_help_url(skip_version: true)}/monitoring-activity-in-your-enterprise/analyzing-how-your-team-works-with-server-statistics") do %>
        Learn more
      <% end %>
    </p>
  </div>

  <div class="float-right pt-1 flex-self-center">
    <div class="d-flex flex-column">
      <% if GitHub.flipper[:server_stats_graphs].enabled?(this_business) %>
        <%= render Primer::Beta::Button.new(tag: :a, size: :small, mb: 1, href: "enterprise_installations/server_stats") do |component| %>
          <% component.with_leading_visual_icon(icon: :graph) %>
          View
        <% end %>
      <% end %>
      <details class="select-menu details-reset details-overlay d-inline-block position-relative">
        <%= render Primer::Beta::Button.new(tag: :summary, size: :small, scheme: :primary) do |component| %>
          <% component.with_leading_visual_icon(icon: :download) %>
          <% component.with_trailing_action_icon(icon: "triangle-down") %>
          Export
        <% end %>
        <details-menu class="select-menu-modal position-absolute width-full" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-list">
            <%= form_tag "#{stats_export_url}", method: :post do %>
              <%= hidden_field_tag :format, 'json' %>
              <%= render Primer::ButtonComponent.new(type: :submit, classes: "btn-link select-menu-item", w: :full) do %>
                JSON
              <% end %>
            <% end %>

            <%= form_tag "#{stats_export_url}", method: :post do %>
              <%= hidden_field_tag :format, 'csv' %>
              <%= render Primer::ButtonComponent.new(type: :submit, classes: "btn-link select-menu-item", w: :full) do %>
                CSV
              <% end %>
            <% end %>
          </div>
        </details-menu>
      </details>
    </div>
  </div>
</div>
