<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% change_word = "change".pluralize(features_removed_descriptions.size + features_added_descriptions.size) %>
<% page_info title: "Confirm " + change_word %>

<div class="container-lg px-3 py-6">
  <div class="col-9 mx-auto">
    <%= render Primer::Beta::Subhead.new(hide_border: true, spacious: true, mt: 3) do |component| %>
      <% component.with_heading(tag: :h2) do %>
        Confirm your GitHub Connect <%= change_word %>
      <% end %>
      <% component.with_description do %>
        <%= render(Primer::Beta::Octicon.new(icon: "file-diff", height: 16, mr: 1)) %>
        Please confirm the requested <%= change_word %> to the enabled <%= "feature".pluralize(features_removed_descriptions.size + features_added_descriptions.size) %> for GitHub Connect.
      <% end %>
    <% end %>

    <div class="container-lg clearfix">
      <%= render(Primer::Beta::BorderBox.new(mb: 3)) do |component| %>
        <% features_removed_descriptions.each do |feature| %>
          <% component.with_row "data-test-selector": "f_rm" do %>
            <%= render(Primer::Beta::Octicon.new(icon: "diff-removed", height: 16, mr: 1, color: :danger, "aria-label": "Removing")) %>
            <%= feature %>
          <% end %>
        <% end %>

        <% features_added_descriptions.each do |feature| %>
          <% component.with_row "data-test-selector": "f_add" do %>
            <%= render(Primer::Beta::Octicon.new(icon: "diff-added", height: 16, mr: 1, color: :success, "aria-label": "Adding")) %>
            <%= feature %>
          <% end %>
        <% end %>
      <% end %>

      <%= form_tag upgrade_confirm_enterprise_installation_path, method: :post do %>
        <%= hidden_field_tag :redirect_to, redirect_to %>
        <%= hidden_field_tag :state, state %>
        <% features_added&.each do |fa| %>
          <%= hidden_field_tag "features_added[]", fa %>
        <% end %>
        <% features_removed&.each do |fr| %>
          <%= hidden_field_tag "features_removed[]", fr %>
        <% end %>

        <%= render(Primer::ButtonComponent.new(scheme: :primary, tag: :button, type: :submit)) { "Confirm " + change_word } %>
      <% end %>
    </div>
  </div>
</div>
