<% track_render_partial("actions/environments/approvals_banner") do %>
  <div class="js-updatable-content js-socket-channel"
    data-channel="<%= live_update_view_channel(workflow_run.gate_requests_channel) %>"
    data-url="<%= workflow_run_approvals_banner_partial_path(workflow_run_id: workflow_run.id, repository: workflow_run.repository, user_id: workflow_run.repository.owner.display_login) %>">
    <% if pending_approval_requests.any? %>
      <%= render(Primer::Beta::BorderBox.new(border_color: :attention, mb: 3)) do |component| %>
        <% component.with_row(scheme: :warning, display: :flex, align_items: :center, justify_content: :space_between, mt: 0) do %>
          <div <%= test_selector("gate-approval-banner") %>>
            <%= render Primer::Beta::Octicon.new(icon: "rocket", mr: 1, color: :attention) %>
            <% if approvable_gate_requests.any? %>
              <% if workflow_run_actor %>
                <%= profile_link workflow_run_actor, class: "Link--primary text-semibold no-underline" do %>
                  <%= workflow_run_actor %>
                <% end %>
                requested your review
              <% else %>
                Your review is requested
              <% end %>
              to deploy to <%= render Actions::Environments::LinkComponent.new(repository: workflow_run.repository, environments: environments) %>
            <% else %>
              <%= render Actions::Environments::TextComponent.new(environments: environments) %>
              <% if environments.size == 1 %>
                requires
              <% else %>
                require
              <% end %>
              an approval to start deploying changes
            <% end %>
          </div>
          <%= render Actions::Environments::ApprovalsDialogComponent.new(
            pending_gate_requests: pending_approval_requests,
            approval_path: @approval_path,
            actor: workflow_run_actor,
            check_suite: workflow_run.check_suite,
            in_check_run_logs_page: false
          ) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
