<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if @environments.count == 1 %>
  <% if @environments.first.nil? %>
    <span class="color-fg-muted">(Environment deleted)</span>
  <% else %>
    <a class="text-bold no-underline Link--primary" href="<%= deployments_activity_log_path(environment: @environments.first, repository: current_repository, user_id: current_repository.owner.display_login) %>"><%= @environments.first %></a>
  <% end %>
<% end %>
<% if @environments.count == 2 %>
  <% @environments.each_with_index do |environment, i| %>
    <% if environment.nil?  %>
      <span class="color-fg-muted">(Environment deleted)</span>
    <% else %>
      <a class="text-bold no-underline Link--primary" href="<%= deployments_activity_log_path(environment: environment, repository: current_repository, user_id: current_repository.owner.display_login) %>"><%= environment %></a>
    <% end %>
    <%= " and " if i == 0 %>
  <% end %>
<% end %>
<% if @environments.count > 2 %>
  <div class="js-hidden-environments-container">
    <div class="js-shown-environments">
      <% if @environments.first.nil? %>
        <span class="color-fg-muted">(Environment deleted)</span>
      <% else %>
        <a class="text-bold no-underline Link--primary" href="<%= deployments_activity_log_path(environment: @environments.first, repository: current_repository, user_id: current_repository.owner.display_login) %>"><%= @environments.first %></a>
      <% end %>
      and <%= render(Primer::ButtonComponent.new(scheme: :link, classes: "js-show-more-environments")) { "#{@environments.count - 1} more" } %>
    </div>
    <div class="js-hidden-environments d-none">
      <% @environments.each_with_index do |environment, i| %>
        <%= " and " if i == @environments.count - 1 %>
        <% if environment == "Environment deleted" %>
          <span class="color-fg-muted">(Environment deleted)</span><%= ", " if i < @environments.count - 1 %>
        <% else %>
          <a class="text-bold no-underline Link--primary" href="<%= deployments_activity_log_path(environment: environment, repository: current_repository, user_id: current_repository.owner.display_login) %>"><%= environment %></a><%= ", " if i < @environments.count - 1 %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
