<% track_render_partial("actions/environments/deployment_protection_log") do %>
  <div
      <% if @should_update %>
      class="js-updatable-content js-socket-channel"
      data-channel="<%= live_update_channels %>"
      data-url="<%= workflow_run_approvals_partial_path(workflow_run_id: @check_suite.workflow_run.id, repository: current_repository, user_id: current_repository.owner.display_login) %>"
      <% end %>>
    <% if sorted_log_entries.any? %>
      <div class="actions-fullwidth-module color-bg-default Box color-shadow-small mb-3 pt-3 pb-1 border rounded-2">
        <div class="mt-1 mb-3 px-3 d-flex flex-justify-between">
          <div class="mx-0 mx-md-1">
            <h2 class="text-bold h4" <%= test_selector("gates-approval-log-header") %>>Deployment protection rules</h2>
            <div class="color-fg-muted">Reviewers, timers, and other rules protecting deployments in this run</div>
          </div>
          <div>
            <%= if can_break_glass?
              render Actions::Environments::GatesBreakGlassDialogComponent.new(
                gate_requests: break_glass_eligible_gate_requests,
                approvable_gate_requests_by_environment: approvable_gate_requests_by_environment,
                can_break_glass: can_break_glass?
              )
            end %>
          </div>
        </div>

        <% if show_invalid_gates_banner? %>
          <%= render(Primer::Alpha::Banner.new(scheme: :warning, mx: 3, mb: 3)) do |component| %>
            Some rules in this run are no longer valid.

            <% if can_break_glass? %>
            You can use your administrator privileges to continue deployments in this run.
            <% end %>

            Remove invalid rules from environments to continue deploying without requiring administrator bypass.

            <% component.with_action_content do %>
              <%= render(Primer::Beta::Button.new(tag: :a, href: "../../settings/environments")) { "Configure environments" } %>
            <% end %>
          <% end %>
        <% end %>

        <table class="width-full px-3 mt-n1 actions-workflow-table">
          <thead>
            <tr class="color-fg-muted border-bottom color-border-muted">
              <th class="py-0 text-semibold col-4 col-sm-2 col-md-4">Event</th>
              <th class="py-0 text-semibold col-3 col-xl-3">Environments</th>
              <th class="py-0 text-semibold col-4 col-xl-6 hide-sm hide-md">Comment</th>
            </tr>
          </thead>
          <tbody>
            <% sorted_log_entries.each_with_index do |log, index| %>
              <% last_item = index == sorted_log_entries.size - 1 %>
              <tr role="row">
                <td class="pr-3 <% unless last_item %>border-bottom color-border-muted<% end %> col-4 col-sm-2 col-md-4">
                  <div class="d-flex flex-items-center" <%= test_selector("gate-approval-log-#{log[:gate_approval_log_id]}") if log[:gate_approval_log_id] %>>
                    <div class="position-relative lh-0" <%= test_selector("gate-state-#{log[:state]}") if log[:state] %>>
                    <% if log[:gate_type] == "timeout" %>
                      <%= render(Primer::Beta::IconButton.new(icon: :hourglass, "aria-label": "Waiting", size: :large, mr: 2, style: 'pointer-events: none')) %>
                    <% elsif !log[:avatar_entity] %>
                      <%= render(Primer::Beta::IconButton.new(icon: :hubot, "aria-label": "Deleted app", size: :large, mr: 2, style: 'pointer-events: none')) %>
                    <% else %>
                      <a class="position-relative lh-0" href="<%= log[:gate_display_url] %>" <%= test_selector("gate-approval-log-display-url-#{log[:gate_request_id]}") if log[:gate_request_id] %>>
                        <%= render GitHub::AvatarComponent.new(actor: log[:avatar_entity], size: 40, classes: "avatar-small", mr: 2) %>
                      </a>
                    <% end %>
                      <% if log[:is_invalid_integration] %>
                        <%= octicon log[:icon], :height => 16, class: "position-absolute #{log[:icon_class_name]}", style: "right: 5px; bottom: -2.5px; stroke-width: 3; stroke: var(--bgColor-default, var(--color-canvas-default)); paint-order: stroke;" %>
                      <% else %>
                        <%= octicon log[:icon], :height => 19, class: "position-absolute color-bg-default circle border #{log[:icon_class_name]}", style: "right: 5px; bottom: -2.5px; border-color: transparent !important; border: 1.5px solid var(--bgColor-default, var(--color-canvas-default)) !important;" %>
                      <% end %>
                    </div>
                    <div class="ml-1">
                      <% if log[:gate_display_url] %>
                        <a class="text-bold no-underline Link--primary" href="<%= log[:gate_display_url] %>" <%= test_selector("gate-approval-log-display-url-#{log[:gate_request_id]}") if log[:gate_request_id] %>>
                          <%= log[:gate_display_name] %>
                        </a>
                      <% else %>
                        <span class="text-bold"><%= log[:gate_display_name] %></span>
                      <% end %>
                      <div class="<%= log[:is_invalid_integration] ? "color-fg-attention" : "color-fg-muted" %>">
                        <%= log[:display_message] %> <%= time_ago_in_words_js(log[:completed_at]) if log[:state] != "closed" %>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="pr-3 <% unless last_item %>border-bottom color-border-muted<% end %> col-3 col-xl-3">
                  <%= render Actions::Environments::DeploymentProtectionLogEnvironmentsComponent.new(environments: log[:environments]) %>
                </td>
                <td class="pr-3 <% unless last_item %>border-bottom color-border-muted<% end %> color-fg-muted col-4 col-xl-6 hide-sm hide-md markdown-body f5" style="max-width: 640px;" <%= test_selector("deployment-protection-log-gate-comment") %>>
                  <%= log[:comment] %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
