<a class="text-bold no-underline Link--primary"
  href="<%= deployments_activity_log_path(repository: @repository, user_id: @repository.owner, environment: @environments.first.name) %>"><%= @environments.first.name %></a>

<% if @environments.size == 2 %>
  and <a class="text-bold no-underline Link--primary"
    href="<%= deployments_activity_log_path(repository: @repository, user_id: @repository.owner, environment: @environments.last.name) %>"><%= @environments.last.name %></a>
<% elsif @environments.size > 2 %>
  and <span class="text-bold"><%= @environments.size - 1 %> more environments</span>
<% end %>
