<%
  can_approve = shown_request.approval_status(current_user)
  environment_clickable = can_approve || @can_break_glass
%>

<li class="d-block mb-2">
  <label class="<%= environment_clickable ? "ActionsApprovalOverlay-environment " : "" %>d-block p-3 border rounded user-select-none" for="<%= "#{aria_id_prefix}_#{shown_request.id}" %>" <%= test_selector("gate-request-#{shown_request.id}") %>>
    <div class="d-flex mt-n1 mb-n1">
      <% if can_approve || @can_break_glass %>
        <div>
          <input class="mt-1 mr-2 js-gates-dialog-environment-checkbox" type="checkbox" name="gate_request[]" value="<%= ([shown_request.id] + hidden_requests.map(&:id)).join(",") %>" id="<%= "#{aria_id_prefix}_#{shown_request.id}" %>">
        </div>
      <% end %>
      <div class="d-flex flex-column flex-auto">
        <div class="wb-break-word" style="line-height: 20px;"><%= shown_request.gate.environment.name %></div>
        <% unless @can_break_glass %>
          <div class="text-small text-normal color-fg-muted">
              Review needed<% unless truncated_approvers_list.empty? %> from <% end %>
              <% if truncated_approvers_list.size == 1 %>
                <strong class="text-semibold"><%= truncated_approvers_list.first %></strong>
              <% elsif truncated_approvers_list.size == 2 %>
                <strong class="text-semibold"><%= truncated_approvers_list.first %></strong> or <strong class="text-semibold"><%= truncated_approvers_list.second %></strong>
              <% elsif truncated_approvers_list.size > 2 %>
                <strong class="text-semibold"><%= truncated_approvers_list.first %></strong>, <strong class="text-semibold"><%= truncated_approvers_list.second %></strong>, or <strong class="text-semibold"><%= truncated_approvers_list.third %></strong>
              <% end %>
          </div>
        <% end %>
      </div>
      <% unless @can_break_glass %>
        <div class="flex-self-center">
          <%= render(Primer::Beta::AvatarStack.new(
            tooltipped: true,
            align: :right,
            body_arguments: {
              label: approvers_text,
              align: :right_1,
              direction: :sw
              })) do |c| %>
            <% approvers.each do |approver| %>
              <% c.with_avatar(src: approver.primary_avatar_url(32), size: 32, alt: "@#{name_for(approver)}") %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </label>
</li>
