<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    Environments
  <% end %>

  <% component.with_actions do %>
    <%= link_to "New environment", new_repository_environment_path(repository: @repo, user_id: @repo.owner), class: "btn", role: "button" %>
  <% end %>
<% end %>
<% if @environments.any? %>
  <p class="mb-3">
    You can configure environments with protection rules, variables, and secrets. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/reference/environments">Learn more about configuring environments.</a>
  </p>
  <ul class="Box">
    <% @environments.each do |environment| %>
      <%= render Actions::Environments::ListItemComponent.new(
        environment: environment,
        num_secrets: @secret_counts[environment.global_relay_id] || @secret_counts[environment.next_global_id] ||  0,
        edit_path: edit_repository_environment_path(repository: @repo, user_id: @repo.owner, environment_id: environment),
        delete_path: repository_environment_path(repository: @repo, user_id: @repo.owner, environment_id: environment),
        num_variables: @variable_counts[environment.global_relay_id] || @variable_counts[environment.next_global_id] || 0,
      ) %>
    <% end %>
  </ul>

  <div class="paginate-container">
    <div class="pagination">
      <%= will_paginate(@environments) %>
    </div>
  </div>
<% else %>
  <div class="Box">
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        There are no environments for this repository
      <% end %>

      <% c.with_description do %>
        Environments are used by your workflows for deployments.
      <% end %>
    <% end %>
  </div>
<% end %>
