<% if @environments.size == 1 %>
  <span class="text-bold"><%= @environments.first.name %></span>
<% elsif @environments.size == 2 %>
  <span class="text-bold"><%= @environments.first.name %></span> and <span class="text-bold"><%= @environments.second.name %></span>
<% else %>
  <span class="text-bold"><%= @environments.first.name %></span> and <span class="text-bold"><%= @environments.size - 1 %> more environments</span>
<% end %>
