<div <%= test_selector "compliance-report-form" %>>
  <%= form_with model: report, url: url, method: method do |form| %>
    <dl class="form-group required">
      <dt>
        <%= form.label :slug, "Slug", for: "compliance_report_slug" %>
      </dt>
      <dd>
        <%= form.text_field :slug,
          required: true,
          id: "compliance_report_slug",
          placeholder: "e.g. my-report",
          value: report.slug %>
        <div class="note">
          Used as the URL slug for this report. Only alphanumeric characters and hyphens are allowed.
        </div>
      </dd>
    </dl>

    <dl class="form-group required">
      <dt>
        <%= form.label :title, "Title", for: "compliance_report_title" %>
      </dt>
      <dd>
        <%= form.text_field :title,
          required: true,
          id: "compliance_report_title",
          placeholder: "e.g. My Report",
          value: report.title %>
      </dd>
    </dl>

    <dl class="form-group required">
      <dt>
        <%= form.label :availability, "Report availability", for: "compliance_report_availability" %>
      </dt>
      <dd>
        <%= form.select :availability,
          ComplianceReport.availabilities.map { |k, _| [ComplianceReport.availability_for_humans(k), k] },
          {},
          {
            required: true,
            id: "compliance_report_availability",
            selected: report.availability.to_s
          } %>
      </dd>
    </dl>

    <dl class="form-group">
      <dt>
        <%= form.label :coverage_period, "Coverage period", for: "compliance_report_coverage_period" %>
      </dt>
      <dd>
        <%= form.text_field :coverage_period,
          id: "compliance_report_coverage_period",
          placeholder: "e.g. 2023-06-27 to 2025-05-05",
          value: report.coverage_period %>
      </dd>
    </dl>

    <dl class="form-group required">
      <dt>
        <%= form.label :description, "Description", for: "compliance_report_description" %>
      </dt>
      <dd>
        <%= form.text_area :description,
          required: true,
          id: "compliance_report_description",
          value: report.description %>
      </dd>
    </dl>

    <dl class="form-group required">
      <dt>
        <%= form.label :report_type, "Report type", for: "compliance_report_report_type" %>
      </dt>
      <dd>
        <%= form.select :report_type,
          [["Download", "download"], ["Link", "link"], ["Group", "group"]],
          {},
          {
            required: true,
            id: "compliance_report_report_type",
            selected: report.report_type
          } %>
      </dd>
    </dl>

    <dl class="form-group">
      <dt>
        <%= form.label :blob, "Report file ", for: "compliance_report_blob" %>
      </dt>
      <dd>
        <%= form.file_field :blob, accept: "application/pdf", id: "compliance_report_blob" %>
        <div class="note">
          If you choose report type <strong>Download</strong> you must provide a report file.
        </div>
      </dd>
    </dl>

    <dl class="form-group">
      <dt>
        <%= form.label :url, "Report URL", for: "compliance_report_url" %>
      </dt>
      <dd>
        <%= form.text_field :url,
          id: "compliance_report_url",
          placeholder: "e.g. https://example.com",
          value: report.url %>
        <div class="note">
          If you choose report type <strong>Link</strong> you must provide a report URL.
        </div>
      </dd>
    </dl>

    <dl class="form-group">
      <dt>
        <%= form.label :parent_id,
          "Parent report",
          for: "compliance_report_parent_id" %>
      </dt>
      <dd>
        <%= form.select :parent_id,
          report.possible_parent_reports.map { |report| [report.title, report.id] },
          {
            include_blank: true
          },
          {
            required: false,
            id: "compliance_report_parent_id",
            selected: report.parent_id
          } %>
        <div class="note">
          If the report is part of a group, choose the parent report that represents the group.
        </div>
      </dd>
    </dl>

    <dl class="form-group">
      <dt>
        <%= form.label :display_order, "Display order", for: "compliance_report_display_order" %>
      </dt>
      <dd>
        <%= form.text_field :display_order,
          id: "compliance_report_display_order",
          placeholder: "e.g. 1",
          value: report.display_order %>
        <div class="note">
          A number used as the field to order reports.
        </div>
      </dd>
    </dl>

    <dl class="form-group">
      <dt>
        <%= form.label :published, "Published?", for: "compliance_report_published" %>
      </dt>
      <dd>
        <%= form.check_box :published,
          id: "compliance_report_published",
          value: report.published? ? "1" : "0" %>
        <div class="note">
          If this is checked, the report will be immediately published and available to customers.
        </div>
      </dd>
    </dl>

    <%= render(Primer::Beta::Button.new(
      scheme: :primary,
      type: :submit,
      data: {
        "disable-with": "Saving report…",
        "disable-invalid": "",
      }
    )) { "Save report" } %>
  <% end %>
</div>
