<% page_info title: "Compliance reports", selected_link: :compliance_reports %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |subhead| %>
    <% subhead.with_heading(tag: :h2) do %>Compliance reports<% end %>
    <% subhead.with_actions do %>
      <%= render(Primer::Beta::Button.new(
        scheme: :primary,
        tag: :a,
        href: new_stafftools_compliance_report_path,
      )) { "New report" } %>
    <% end %>
  <% end %>

  <% if reports.any? %>
    <p class="mb-4">
      Compliance reports marked as
      <%= render(Primer::Beta::Label.new(scheme: :success)) { "Published" } %>
      are currently available to customers.
    </p>

    <%= render(Primer::Beta::BorderBox.new) do |box| %>
      <% reports.each do |report| %>
        <% box.with_row(test_selector: "report-#{report.id}") do %>
          <%= render(Stafftools::ComplianceReportListItemComponent.new(report: report)) %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |bs| %>
      <% bs.with_heading(tag: :h2) do %>
        No compliance reports.
      <% end %>
    <% end %>
  <% end %>
<% end %>
