<div class="py-5 py-md-8">
  <%= render "site/readme/home/section_intro", title: "Developer Stories", link: readme_developer_stories_path %>

  <div class="container-readme p-responsive-readme mb-n8 mb-md-n10">
    <div class="mb-8">
      <div class="position-relative mb-4">
        <%= render Site::Readme::Shared::LinkImgComponent.new(
          story: primary_story,
          image: "hero",
          lazyload: true,
          build_in: true,
          build_in_margin: "20",
          topic_tag: false,
          dimensions: {
            width: 2000,
            height: 1200
          }
        ) %>
      </div>

      <div class="position-relative col-md-10 col-xl-9 pt-md-6 pr-md-6 color-bg-default mt-md-n9">
        <%= render Site::Readme::Shared::LinkTextComponent.new(
          story: primary_story,
          heading_class: "readme-heading-1 readme-heading--condensed",
          subtitle_class: "f2-mktg text-normal"
        ) %>
      </div>
    </div>

    <% secondary_stories.each do |story| %>
      <div class="d-sm-flex flex-row-reverse flex-items-center flex-sm-items-start border-sm-top pt-sm-4 pt-xl-5 mb-8">
        <div class="position-relative col-sm-4 offset-md-1 pl-sm-3 pl-md-4 mb-4">
          <%= render Site::Readme::Shared::LinkImgComponent.new(
            story: story,
            image: "hero",
            lazyload: true,
            build_in: true,
            build_in_margin: "10",
            topic_tag: false,
            sizes: "(max-width: 755px) 90vw, 30vw",
            dimensions: {
              width: 1000,
              height: 600
            }
          ) %>
        </div>

        <div class="col-sm-8 col-md-7">
          <%= render Site::Readme::Shared::LinkTextComponent.new(story: story) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
