<div class="py-5 py-md-8">
  <%= render "site/readme/home/section_intro", title: "Featured Articles", link: readme_featured_articles_path %>

  <div class="container-readme p-responsive-readme">
    <div class="d-md-flex flex-row-reverse">
      <div class="col-md-6 col-xl-5 offset-md-n4 offset-xl-n3 mt-md-n4 mb-md-4 mt-lg-n6 mb-lg-6 z-1">
        <%= render Site::Readme::Shared::LinkImgComponent.new(
          story: featured_story,
          image: "thumbnail",
          lazyload: false,
          build_in: true,
          build_in_margin: "20",
          shape: "square",
          dimensions: {
            width: 1200,
            height: 1400
          },
          photo: false
        ) %>
      </div>

      <div class="position-relative d-flex flex-items-center col-md-10 col-md-10 readme-bg-black--pattern">
        <div class="position-relative col-md-7 col-xl-8 p-4 pl-xl-6">
          <h3 class="pb-1 readme-heading-1 readme-heading--condensed">
            <a href="<%= featured_story[:url] %>" class="no-underline readme-underline--green color-fg-on-emphasis">
              <span><%= featured_story[:heading] %></span>
            </a>
          </h3>

          <p class="f3-mktg color-fg-on-emphasis mt-5"><%= featured_story[:subheading] %></p>
        </div>
      </div>
    </div>
  </div>
</div>
