<div class="pt-5 pb-3 py-md-8">
  <%= render "site/readme/home/section_intro", title: "Guides", link: readme_guides_path %>

  <div class="container-readme p-responsive-readme">
    <div class="d-md-flex flex-lg-items-center gutter-md-spacious mb-8">
      <div class="col-md-6 mb-4 mb-md-0">
        <%= render Site::Readme::Shared::LinkImgComponent.new(
          story: primary_story,
          image: "thumbnail",
          lazyload: true,
          build_in: true,
          build_in_margin: "20",
          shape: "square",
          dimensions: {
            width: 1200,
            height: 1400
          },
          photo: false
        ) %>
      </div>

      <div class="col-md-6">
        <%= render Site::Readme::Shared::LinkTextComponent.new(
          story: primary_story,
          heading_class: "readme-heading-1 readme-heading--condensed",
          subtitle_class: "f2-mktg text-normal"
        ) %>
      </div>
    </div>

    <div class="d-sm-flex flex-wrap gutter-sm-spacious">
      <% secondary_stories.each do |story| %>
        <div class="col-sm-6 col-lg-4 mb-8">
          <div class="position-relative mb-4">
            <%= render Site::Readme::Shared::LinkImgComponent.new(
              story: story,
              image: "hero",
              lazyload: true,
              build_in: true,
              build_in_margin: "10",
              sizes: "(max-width: 755px) 90vw, 30vw",
              dimensions: {
                width: 1000,
                height: 600
              },
              photo: false
            ) %>
          </div>

          <%= render Site::Readme::Shared::LinkTextComponent.new(story: story) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
