<div <%= test_selector("sponsors-activity-#{activity.id}") %> class="<%= timeline_item_classes %>">
  <div class="TimelineItem-badge <%= badge_color %>">
    <% if via_bulk_sponsorship? %>
      <%= render Sponsors::BulkSponsorshipIconComponent.new(test_selector: "bulk-sponsorship-icon") %>
    <% elsif show_patreon_icon? %>
      <%= render Sponsors::PatreonIconComponent.new(test_selector: "patreon-icon") %>
    <% else %>
      <%= primer_octicon(icon: badge_octicon) %>
    <% end %>
  </div>
  <div class="TimelineItem-body color-fg-muted">
    <% if show_sponsor_name_and_avatar? %>
      <%= render Users::ProfileLinkComponent.new(user: sponsor) do %>
        <%= render GitHub::AvatarComponent.new(actor: sponsor, size: 20) %>
      <% end %>
      <%= render Users::ProfileLinkComponent.new(
        user: sponsor,
        classes: "author",
        scheme: :primary,
        font_weight: :bold,
      ) %><% if is_possessive? %>'s<% end %>
      <%= bot_identifier(sponsor) %>
    <% else %>
      You
    <% end %>

    <% if activity.is_sponsor_match_disabled? %>
      sponsorship of <span class="text-bold color-fg-default"><%= price %></span> <%= frequency_label %>
      is no longer being matched
    <% else %>
      <%= description %>

      <% if show_sponsorable_after_description? %>
        <%= "of" if include_preposition_for_sponsorable_after_description? %>
        <% if viewer_represents_sponsor? %>
          <%= render Sponsors::Sponsorables::LinkedAvatarComponent.new(
            sponsors_listing: sponsors_listing,
            avatar_size: 20,
            link_url: sponsorable_path_for_sponsor,
          ) %>
          <%= render Users::ProfileLinkComponent.new(
            login: sponsorable_login,
            href: sponsorable_path_for_sponsor,
            font_weight: :bold,
            scheme: :primary,
            is_organization: organization_sponsorable?,
          ) %>
        <% else %>
          you
        <% end %>
      <% end %>

      <% if activity.is_tier_change? || activity.is_pending_tier_change? %>
        from <span class="text-bold color-fg-default"><%= old_price %></span> <%= old_frequency_label %>
        to <span class="text-bold color-fg-default"><%= price %></span> <%= frequency_label %>
      <% elsif activity.is_pending_cancellation? %>
        for <span class="text-bold color-fg-default"><%= old_price %></span> <%= frequency_label %>
      <% else %>
        for <span class="text-bold color-fg-default"><%= price %></span> <%= frequency_label %>
      <% end %>
    <% end %>

    <% if show_matching_icon? %>
      <%= render Primer::Beta::Label.new(
        bg: :sponsors,
        color: :sponsors,
        border_color: :sponsors,
        test_selector: "activity-matching-icon",
      ).with_content("2x") %>
    <% end %>

    <% if show_sponsorable_at_end? %>
      for
      <%= render Sponsors::Sponsorables::LinkedAvatarComponent.new(
        sponsors_listing: sponsors_listing,
        avatar_size: 20,
        link_url: sponsorable_path_for_sponsor,
      ) %>
      <%= render Users::ProfileLinkComponent.new(
        login: sponsorable_login,
        href: sponsorable_path_for_sponsor,
        font_weight: :bold,
        scheme: :primary,
        is_organization: organization_sponsorable?,
      ) %>
    <% end %>

    <% if via_bulk_sponsorship? %>
      via
      <%= render Primer::Beta::Link.new(
        href: "#{GitHub.help_url}/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor#sponsoring-accounts-in-bulk",
        classes: "Link--inTextBlock",
        test_selector: "via-bulk-sponsorship-#{activity.id}",
      ).with_content("bulk sponsorship") %>
    <% end %>

    <% if activity.patreon? %>
      via
      <%= render Primer::Beta::Link.new(
        href: "#{GitHub.help_url}/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor-through-patreon",
        classes: "Link--inTextBlock",
        test_selector: "via-patreon-#{activity.id}",
      ).with_content("Patreon") %>
    <% end %>

    <%= time_ago_in_words_js(activity.timestamp) %>

    <% if repo_gained %>
      <div class="mt-1" <%= test_selector("repo-gained") %> data-repository-hovercards-enabled>
        <strong>+</strong> invited to
        <a class="Link--inTextBlock Link--secondary" href="<%= repository_path(repo_gained) %>" <%= safe_data_attributes(hovercard_data_attributes_for_repository(repo_gained)) %>><%= repo_gained.name_with_display_owner %></a>
      </div>
    <% end %>

    <% if repo_lost %>
      <div class="mt-1" <%= test_selector("repo-lost") %> data-repository-hovercards-enabled>
        <strong>-</strong> <%= repo_loss_description %>
        <a class="Link--inTextBlock Link--secondary" href="<%= repository_path(repo_lost) %>" <%= safe_data_attributes(hovercard_data_attributes_for_repository(repo_lost)) %>><%= repo_lost.name_with_display_owner %></a>
      </div>
    <% end %>

    <% if activity.is_pending_change? %>
      <div class="mt-1" <%= test_selector("pending-change") %>>
        <strong>-</strong> will change at the start of <%= whose_billing_cycle %> next billing cycle
      </div>
    <% end %>

    <% if show_matching_icon? %>
      <div class="mt-1">
        <strong>-</strong> this contribution was <%= render Primer::Beta::Link.new(
          href: helpers.docs_url("sponsors/matching-fund"),
          scheme: :secondary,
          classes: "Link--inTextBlock",
        ).with_content("matched") %>
      </div>
    <% end %>
  </div>
</div>
