
<div class="mx-4">
  <div class="d-flex flex-items-center mb-4 mt-1">
    <%= render Sponsors::Activities::SelectPeriodComponent.new(
      period: @period,
      sponsorable_login: sponsorable_login,
      viewer_role: :sponsorable,
    ) %>
    <% if !(@period == :alltime && no_activities?) %>
      <span class="ml-2 color-fg-muted" <%= test_selector("sponsor-activity-timespan") %>>
        <%= first_activity_date %> to <%= period_end %>
      </span>
    <% end %>
    <span class="mx-2 v-align-middle">
      <%= link_to "https://github.blog/changelog/2020-01-13-github-sponsors-activity-feed/", id: "activity-info-link" do %>
        <%= primer_octicon(icon: "info", color: :muted, mr: 1) %>
      <% end %>
      <%= render Primer::Alpha::Tooltip.new(
        for_id: "activity-info-link",
        text: period_menu_tooltip,
        type: :label,
        direction: :n,
        display: :inline_block,
      ) %>
    </span>
  </div>

  <%= render Sponsors::Activities::TimelineComponent.new(
    page: @page,
    per_page: @per_page,
    activities: unordered_activities_scope.by_timestamp,
    activities_path: sponsorable_dashboard_activities_path(sponsorable_login, period: @period)
  ) %>

  <% if show_sponsorship_log_link? %>
    <p class="color-fg-muted mt-4">
      <% if for_organization? %>
        You can see activity for <strong><%= sponsorable_login %></strong>'s own sponsorships
        in their <a class="Link--inTextBlock" href="<%= settings_org_sponsors_log_path(sponsorable_login) %>">sponsorship log</a>.
      <% else %>
        You can see activity for your own sponsorships
        in your <a class="Link--inTextBlock" href="<%= settings_user_sponsors_log_path %>">sponsorship log</a>.
      <% end %>
    </p>
  <% end %>
</div>
