<% page_info title: "Enterprises" %>
<%= render layout: "settings/settings" do %>
  <%= render Primer::Beta::Subhead.new(hide_border: true, mb: 1) do |component| %>
    <% component.with_heading(tag: :h2) do %>Enterprises<% end %>
    <% if show_upsells && (businesses.any? || invitations.any?) %>
      <% component.with_actions do %>
        <%= render(Hydro::TrackViewComponent.new(name: "enterprises_list")) %>
        <%= render(
            Primer::Beta::Button.new(
              tag: :a,
              font_size: 6,
              test_selector: "try-enterprise",
              href: enterprise_trial_signup_path,
              data: analytics_click_attributes(
                category: "enterprises_more_discoverable",
                action: "click_try_enterprise",
                label: "ref_loc:enterprises_settings_list;ref_cta:try_enterprise",
              )
            )
          ) { "Try Enterprise" } %>
      <% end %>
    <% end %>
  <% end %>

  <% if businesses.any? || invitations.any? %>
    <div class="Box">
      <% if invitations.any? %>
        <%= render(Hydro::TrackViewComponent.new(name: "user_settings_enterprise_list_invitations")) %>
        <% invitations.each do |invitation| %>
          <%= render(Settings::PendingInvitations::BusinessInvitationComponent.new(
            user: current_user,
            invitation: invitation,
          )) %>
        <% end %>
      <% end %>
      <% if businesses.any? %>
        <%= render(Hydro::TrackViewComponent.new(name: "user_settings_enterprise_list_items")) %>
        <% businesses.each do |business| %>
          <%= render(Settings::EnterpriseListItemComponent.new(
            business: business,
            user: current_user,
            show_trial_information: show_trial_information,
          )) %>
        <% end %>
      <% end %>
    </div>
    <% if show_upsells %>
      <%= render Primer::Beta::Link.new(
        href: "#{GitHub.help_url}/admin/overview/about-enterprise-accounts",
        mt: 1,
        font_size: 6,
        display: :inline_block,
        test_selector: "learn-more-about-enterprise-accounts",
        data: analytics_click_attributes(
          category: "enterprises_more_discoverable",
          action: "click_learn_more_about_enterprise_accounts",
          label: "ref_loc:enterprises_settings_list;ref_cta:learn_more_about_enterprise_accounts",
        )
      ) do %>
        Learn more about enterprise accounts
      <% end %>
    <% end %>
  <% else %>
    <%= render(Hydro::TrackViewComponent.new(name: "enterprises_blank_slate")) %>
    <%= render Primer::Beta::Blankslate.new(border: true, test_selector: "blankslate_with_prompt") do |c| %>
      <% c.with_visual_icon(icon: :globe) %>
      <% c.with_heading(tag: :h2) do %>
        You don't have any enterprises
      <% end %>
      <% if show_upsells %>
        <% c.with_description do %>
          Designed for businesses or teams who collaborate on GitHub.com
        <% end %>
        <% c.with_primary_action(
          href: enterprise_trial_signup_path,
          data: analytics_click_attributes(
            category: "enterprises_more_discoverable",
            action: "click_start_free_trial",
            label: "ref_loc:enterprises_blankslate;ref_cta:learn_start_free_trial",
          )
        ) do %>
          Start free trial
        <% end %>
        <% c.with_secondary_action(
          href: "#{GitHub.help_url}/admin/overview/about-enterprise-accounts",
          data: analytics_click_attributes(
            category: "enterprises_more_discoverable",
            action: "click_learn_more_about_enterprises",
            label: "ref_loc:enterprises_blankslate;ref_cta:learn_more_about_enterprises",
          )
        ) do %>
          Learn more about enterprises
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Organizations::EnterpriseCloudOnboarding::EnterpriseSettingsListComponent.new(user: current_user, mt: 7)) %>
<% end %>
