<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="js-invite-member-dialog pb-3 pl-3 pr-3">
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "mail") %>

    <% c.with_heading(tag: :h2) do %>
      <%= "Invite a member to #{business.safe_profile_name}" %>
    <% end %>
  <% end %>

  <%= form_tag enterprise_member_invitation_path(business), method: :post, :class => "input-block" do %>
    <div class="input-group mt-3">
      <%= render Primer::Alpha::AutoComplete.new(
        label_text: "Search by username, full name or email address",
        classes: "auto-search-group",
        src: enterprise_member_invitee_suggestions_path(business),
        list_id: "enterprise-invite-complete-results",
        input_id: "enterprise-invite-complete-input",
        input_name: "identifier",
        with_icon: true
      ) do |c| %>
        <% c.with_input(
           classes: "input-block new-member-field",
           required: true
         ) %>
        <% c.with_results(
          classes: "invite-member-results",
          position: :relative,
          mb: 2) %>
      <% end %>
      <div class="input-group-button input-group-button--autocomplete-embedded-icon v-align-top">
        <div class="autocomplete-label-stacked">&nbsp;</div><%# keeps invite button aligned to input %>
        <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :primary, classes: "js-auto-complete-button")) { "Invite" } %>
      </div>
    </div>
  <% end %>
</div>
