<% action = unlocked ? "extend" : "enable" %>

<%= render(Primer::Experimental::Dialog.new(
  dialog_id: "enable-temporary-access-to-repository-#{repository.id}",
  show_header_divider: true,
  title:  "#{action.capitalize} temporary access to this repository",
  form_url: enterprise_user_namespace_repository_path(repository_id: repository.id),
  form_method: :patch,
  test_selector: "#{action}-temporary-access",
)) do |c| %>
  <% c.with_show_button(scheme: :invisible, color: :danger) do |s| %>
    <%= action.capitalize %> temporary access
  <% end %>
  <% c.with_body do %>
  <%= hidden_field_tag "operation", :unlock %>
    <p class="mt-0">
      Are you sure that you want to <%= action %> temporary access to this repository?
    </p>

    <p class="text-bold">
      Important considerations:
    </p>

    <ul class="ml-3">
      <li>
        The owner of this repository will be notified that you have temporary access.
      </li>
      <li>
        This action will be recorded in the repository owner and enterprise audit logs.
      </li>
      <li>
        You will <%= action %> access to this repository for <%= RepositoryUnlock::DEFAULT_EXPIRY.inspect %>.
      </li>
    </ul>
  <% end %>
  <% c.with_button(type: :submit, scheme: :danger, w: :full) do %>
    Yes, <%= action %> temporary access
  <% end %>
<% end %>
