<% view = Businesses::UserNamespaceRepositoriesView.new(query: query) %>

<% if view.query_or_filters_present? %>
  <div class="issues-reset-query-wrapper">
    <%= link_to enterprise_user_namespace_repositories_path(this_business), class: "issues-reset-query" do %>
      <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
      Clear current search query and filters
    <% end %>
  </div>
<% end %>

<div class="d-flex">
  <div class="col-9">
    <div>
      <div class="d-flex table-list-header table-list-header-next mt-0">
        <span class="table-list-heading table-list-header-meta flex-auto">
          <%= number_with_delimiter repositories.total_entries %>
          <%= pluralize_without_number repositories.total_entries, "User namespace repository" %>
        </span>
      </div>
      <ul class="table-list table-list-bordered">
        <% repositories.each do |repository| %>
          <li class="d-flex flex-justify-between border border-top-0 p-3">
            <div class="d-flex flex-column">
              <div class="d-flex f4" <%= test_selector("user-namespace-repository") %> >
                <% if repository.deleted? %>
                  <%= primer_octicon(:x, height: 18, color: :muted, mr: 2, mt: 1, test_selector: "deleted-repository") %>
                  <%= repository.name_with_display_owner %>
                <% elsif unlocked_repository_ids.include?(repository.id) %>
                  <%= primer_octicon(:"link-external", height: 18, color: :muted, mr: 2, mt: 1, test_selector: "unlocked-repository") %>
                  <%= link_to repository_path(repository) do %>
                    <%= repository.name_with_display_owner %>
                  <% end %>
                <% else %>
                  <%= primer_octicon(:lock, height: 18, color: :muted, mr: 2, mt: 1, test_selector: "active-repository") %>
                  <%= repository.name_with_display_owner %>
                <% end %>
              </div>
            </div>

            <div class="color-fg-muted d-flex flex-1 flex-items-center flex-justify-end hide-sm">
                <% if show_unlock && !repository.deleted? %>
                  <span class="d-flex flex-items-center">
                    <details class="dropdown details-reset details-overlay">
                      <%= render(Primer::Beta::IconButton.new(
                        icon: "kebab-horizontal",
                        tag: :summary,
                        title: "Access repository",
                        "aria-label": "Enable temporary access to this repository",
                        scheme: :invisible,
                        test_selector: "unlock-button",
                      )) %>
                        <details-menu class="dropdown-menu dropdown-menu-no-overflow dropdown-menu-sw d-flex
                          flex-column flex-items-start" role="menu"
                          <%= test_selector("repository-unlock-menu") %>><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                          <%= render "businesses/repositories/unlock_user_namespace_repository",
                            repository: repository,
                            unlocked: unlocked_repository_ids.include?(repository.id)
                          %>
                        </details-menu>
                    </details>
                  </span>
                <% end %>
              </div>
          </li>
        <% end %>
      </ul>

      <div class="paginate-container">
        <%= will_paginate repositories %>
      </div>
    </div>
  </div>
</div>
