<% title = capture do %>
  User namespace repositories
<% end %>

<% page_info title: "User namespace repositories · #{this_business.name}" %>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: title,
    back_to_link_path: settings_member_privileges_enterprise_path(this_business),
    back_to_link_text: "Repository privileges",
  } do %>

  <%= form_tag(
    enterprise_user_namespace_repositories_path(this_business),
    method: :get,
    class: "width-full",
    "data-autosearch-results-container": "user-namespace-repositories-list",
  ) do %>
    <div class="d-flex flex-auto flex-wrap flex-items-start col-9"> <%# Container for search and buttons %>
      <div class="mb-1 flex-auto auto-search-group"> <%# Container for search bar %>
        <input class="form-control width-full input-contrast auto-search-input js-member-filter-field"
          type="text"
          name="query"
          value="<%= params[:query] %>"
          placeholder="Find a repository"
          aria-label="Find a repository"
          autocomplete="off"
          data-throttled-autosubmit>
        <%= render Primer::Beta::Octicon.new(icon: "search") %>
        <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
      </div> <%# Container for search bar %>

      <div class="d-flex"> <%# Container for filter buttons %>
        <div class="d-flex hide-sm flex-wrap">
          <%= render partial:  "businesses/repositories/filter", locals: {
            query: query,
            status: status,
            sort_field: sort_field,
            sort_direction: sort_direction,
            } %>
        </div>
      </div> <%# End of buttons container %>
    </div> <%# Container for search and buttons %>
  <% end %>

  <div id="user-namespace-repositories-list">
    <%= render "businesses/repositories/user_namespace_repositories_list",
      query: query,
      repositories: repositories,
      show_unlock: show_unlock,
      unlocked_repository_ids: unlocked_repository_ids %>
  </div>
<% end %>
