<%= render(Growth::BannerComponent.new(
  user: current_user,
  dismissible: :organization,
  organization: organization,
  notice_name: User::NoticesDependency::ORGANIZATION_NOTICES[:enterprise_survey_banner],
  scheme: :full_width,
  border: :bottom,
  border_color: :accent,
  border_radius: 0,
  p: 3,
  bg: :accent,
  test_selector: "enterprise-onboarding-survey-banner")) do |component| %>
  <% component.with_title(classes: "h4 lh-condensed") do %>
    <a href="<%= survey_link %>"
      target="_blank"
      rel="noopener"
      class="color-fg-default"
      <%= safe_analytics_click_attributes(category: "Trial survey link", action: "click to go to trial survey", label: "location:survey_banner_component") %>
    >
      <%= trial_expired? ? "Tell us how your trial went" : "Tell us how your trial is going" %>
    </a>
  <% end %>
  <% component.with_description(tag: :p, color: :muted, mb: [3, nil, nil, 0, nil], font_size: 6) do %>
    <%= trial_expired? ? "We want to make sure it was easy for you to set up your organization." : "We want to make sure it’s been easy for you to set up your organization." %>
  <% end %>
  <% component.with_action do %>
    <%=
        render(Primer::Beta::Button.new(
          tag: :a,
          href: survey_link,
          size: :large,
          mr: 3,
          data: analytics_click_attributes(category: "Trial survey button", action: "click to go to trial survey", label: "location:survey_banner_component"),
          target: "_blank",
        ).with_content("Take our three-minute survey")
      )%>
  <% end %>
<% end %>
