<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <% network_owner = current_repository.fork? ? current_repository.root.owner : current_repository.owner %>

  <%= render Primer::BlankslateComponent.new(
    icon: "alert",
    title: "This repository is currently disabled.",
    narrow: true,
  ) do %>
    <% if network_owner == current_user || (network_owner.organization? && network_owner.adminable_by?(current_user)) %>
      <p>
        The repository this private fork was created from has been made public. To protect your code’s privacy, the fork is now a private repository under your
        <% if network_owner.organization? %>
          organization’s
        <% else %>
          account’s
        <% end %>
        ownership.
      </p>
      <p>
        If you would like to make this repository public to match, please see the <strong>Make this repository public</strong> section on the repository’s <%= link_to "settings page", edit_repository_path(current_repository), class: "Link--inTextBlock" %>.
      </p>
      <p>
        If you would like to continue accessing this repository privately, please
        <% if network_owner.organization? %>
          <%= link_to "upgrade your organization’s account", settings_org_profile_path(network_owner), class: "Link--inTextBlock" %>.
        <% else %>
          <%= link_to "upgrade your account", "/account/billing", class: "Link--inTextBlock" %>.
        <% end %>
      </p>
    <% else %>
      <p>
        This repository is currently disabled.
        Please contact
        <% if network_owner.organization? %>
          an owner of the <strong><%= network_owner %></strong> organization
        <% else %>
          the repository’s owner, <strong><%= network_owner %></strong>
        <% end %>
        to resolve the issue.
      </p>
    <% end %>
  <% end %>
</div>
<% end %>
