<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% title_action = current_repository.clone_errored? ? "Error generating " : "Generating" %>
<% page_info \
    title: "#{title_action} #{current_repository.name_with_display_owner}",
    container_xl: true
  %>

<% unless current_repository.clone_errored? %>
  <% content_for :head do %>
    <meta http-equiv="refresh" content="5">
  <% end %>
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <% if current_repository.clone_errored? %>
    <%= render Primer::BlankslateComponent.new(
      title: "We're sorry, something went wrong.",
      text: :red,
      test_selector: "clone-error",
    ) do %>
      <p>
        <% if template = current_repository.template_repository %>
          We were unable to clone <%= link_to template.name_with_display_owner, repository_path(template), class: "Link--inTextBlock" %>'s contents
        <% else %>
          We were unable to clone the selected template
        <% end %>
        into <strong><%= current_repository.name_with_display_owner %></strong>.
        <% if current_repository.clone_error_reason_code == "repo_size_too_large" %>
          The disk usage of template you used is larger than 1 gigabyte.
          <% if current_repository.clone_owner && current_repository.clone_owner != current_user %>
          Please ask <%= profile_link(current_repository.clone_owner) %> to
          <% else %>
          Please
          <% end %>
          remove those files from the template and try again.
        <% elsif current_repository.clone_error_reason_code != "rule_violations" %>
          Please delete this repository and try again.
        <% end %>
      </p>
      <% if current_repository.clone_error_reason_code == "rule_violations" %>
        <% if current_repository.clone_error_rule_suite.present? %>
          The following rule violations occured when cloning this repo:
          <ul class="pb-1" style="list-style-position: inside">
            <% current_repository.clone_error_rule_suite.rule_runs.filter(&:failed?).each do |rule_run| %>
              <li><%= rule_run.message %></li>
            <% end %>
          </ul>
        <% else %>
          Some rules would be violated by cloning this repo.
        <% end %>
        <% if current_repository.in_organization? %>
          <% if current_repository.organization.adminable_by?(current_user) %>
            Please check your <a class="Link--inTextBlock" href="<%= organization_rulesets_path(current_repository.organization) %>">organization rulesets</a>
            to learn more.
          <% else %>
            Please talk with your organization admin about rules that may be affecting your repository.
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render Primer::BlankslateComponent.new(
      title: "Generating your repository...",
      description: "It should only take a few seconds.",
      test_selector: "cloning",
    ) do |component| %>
      <% component.with_spinner(size: :large) %>
      <p><a href="" class="btn btn-sm"><%= primer_octicon(:sync) %> Refresh</a></p>
    <% end %>
  <% end %>
</div>
<% end %>
