<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  network_owner = current_repository.network_owner

  can_change_private_repo_to_public = \
    current_repository.can_change_repo_visibility?(current_user) && current_repository.private?

  can_change_org_owned_trade_restricted_private_repo_to_public = \
    !network_owner.restriction_tier_allows_feature?(type: :repository) &&
      !current_repository.fork? &&
        can_change_private_repo_to_public
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Primer::BlankslateComponent.new(
    icon: "alert",
    narrow: true,
  ) do %>
    <% if network_owner&.has_any_trade_restrictions? || current_user&.has_any_trade_restrictions?  %>
      <h3>We are unable to provide this service.</h3>
    <% else %>
      <h3>This <% if current_repository.private? %>private <% end %> repository has been disabled.</h3>
    <% end %>
    <% if network_owner.organization? %>
      <% if network_owner.adminable_by? current_user %>
        <% if network_owner.has_commercial_interaction_restriction? %>
          <p><%= trade_controls_organization_sdn_restricted_notice %></p>
        <% elsif network_owner.has_any_trade_restrictions? %>
          <p><%= trade_controls_organization_repo_disabled_notice %></p>
          <!-- Allow admin to re-enable their repo by changing its visibility to public -->
          <% if can_change_org_owned_trade_restricted_private_repo_to_public %>
            <div class="Box text-left">
              <ul>
                <li class="Box-row">
                  <%= render(Repositories::Settings::VisibilityComponent.new(repository: current_repository)) %>
                </li>
              </ul>
            </div>
          <% end %>
        <% elsif current_user.has_any_trade_restrictions? %>
          <p><%= trade_controls_repo_disabled_notice %></p>
        <% else %>
          <p>
            Your repository was disabled due to a billing issue.
            Please see your organization’s
            <%= link_to "billing page", settings_org_profile_path(network_owner), class: "Link--inTextBlock" %>
            for more information.
          </p>
        <% end %>
      <% else %>
        <% if network_owner.has_commercial_interaction_restriction? %>
          <p><%= trade_controls_organization_sdn_restricted_notice %></p>
        <% elsif network_owner&.has_any_trade_restrictions? %>
          <p><%= trade_controls_organization_repo_disabled_non_admins_notice %></p>
        <% elsif current_user&.has_any_trade_restrictions? %>
          <p><%= trade_controls_repo_disabled_notice %></p>
        <% else %>
          <p>
            This repository was disabled.
            Please contact an owner of the <strong><%= network_owner %></strong> organization
            to resolve the issue.
          </p>
        <% end %>
      <% end %>
    <% else %>
      <% if network_owner == current_user %>
        <% if current_repository.has_any_trade_restrictions? %>
          <p><%= trade_controls_repo_disabled_notice %></p>
          <!-- Allow admin to re-enable their repo by changing its visibility to public -->
          <% if can_change_private_repo_to_public %>
            <div class="Box text-left">
              <ul>
                <li class="Box-row">
                  <%= render(Repositories::Settings::VisibilityComponent.new(repository: current_repository)) %>
                </li>
              </ul>
            </div>
          <% end %>
        <% else %>
          <p>
            Your repository was disabled due to a billing issue.
            Please see your <a class="Link--inTextBlock" href="/account/billing">billing page</a>
            for more information.
          </p>
        <% end %>
      <% else %>
        <p>
          Please contact <%= link_to network_owner, user_path(network_owner), class: "Link--inTextBlock" %>,
          the root repository’s owner, to resolve the issue.
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle :settings %>
<% end %>
