<%# erblint:counter DeprecatedComponentsCounter 1 %>
<!--
This partial indicates that a repository has been detected as empty, but
has has a non-nil pushed_at attribute. This can happen if the partition
that contains this repo is not mounted, or if the repo somehow went missing
from disk.
-->

<% if current_repository %>
  <%
    page_title current_repository.name_with_display_owner
    repository = current_repository
    vis = repository.visibility
    editable = repository.adminable_by?(current_user)
  %>
<% end %>
<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <%= render Primer::BlankslateComponent.new(
    icon: "alert",
    title: "This repository is temporarily unavailable.",
    narrow: true,
  ) do %>
    <% if GitHub.enterprise? %>
      <p>
        There seems to be a problem finding this repository on disk.
        <%= contact_support_snippet %>.
      </p>
    <% else %>
      <p>The backend storage is temporarily offline. Usually this means the
         storage server is undergoing maintenance. Please <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a>
         if the problem persists.</p>
      <p><a class="Link--inTextBlock" href="<%= GitHub.site_status_url %>">Check our status site for updates</a></p>
    <% end %>
  <% end %>
<% end %>
