<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  exported_to_url = repo.get_repository_exported_to_url
%>

<% if exported_to_url.present? %>
  <%= render Primer::BlankslateComponent.new(
    icon: "alert",
    title: "This repository has been migrated to another deployment of GitHub.",
    narrow: true,
  ) do %>
    <p>You can now access it at <strong><%= link_to exported_to_url, exported_to_url, class: "Link--inTextBlock" %></strong>.</p>
    <p>Please contact the repository’s owner, <strong><%= profile_link(repo.owner) %></strong>, for more information.</p>
  <% end %>
<% else %>
  <%= render Primer::BlankslateComponent.new(
    icon: "alert",
    title: "Access to this repository has been disabled while it is being migrated.",
    narrow: true,
  ) do %>
    <p>Please contact the repository’s owner, <strong><%= profile_link(repo.owner) %></strong>, for more information.</p>
  <% end %>
<% end %>
