<%# erblint:counter DeprecatedComponentsCounter 1 %>
<!--
This partial indicates that no route was found for this repo. This can happen
while moving a repo from one file server to another since the route is
deleted during the final sync of the repo's data.
-->

<% if current_repository %>
  <%
    page_title current_repository.name_with_display_owner
    repository = current_repository
    vis = repository.visibility
    editable = repository.adminable_by?(current_user)
  %>
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Primer::BlankslateComponent.new(
    icon: "alert",
    title: "This repository is temporarily unavailable.",
    narrow: true,
  ) do %>
    <% if GitHub.enterprise? %>
      <p>
        There seems to be a problem finding this repository on disk.
        <%= contact_support_snippet %>.
      </p>
    <% else %>
      <p>The route for this repository could not be found. Usually this means that
         the repository is being migrated to a new storage server to better serve
         you. Please <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> if
         the problem persists.</p>
      <p><a class="Link--inTextBlock" href="<%= GitHub.site_status_url %>">Check our status site for updates</a></p>
    <% end %>
  <% end %>
</div>
<% end %>
