<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
    title: "#{current_repository.name_with_display_owner}",
    container_xl: true
  %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render Primer::BlankslateComponent.new(
    icon: "alert",
    title: "This repository is currently offline.",
    narrow: true,
  ) do %>
    <% if GitHub.enterprise? %>
      <p>
        <%= contact_support_snippet %> if the problem persists.
      </p>
    <% else %>
      <p>
        Please <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> if the problem persists
        and <a class="Link--inTextBlock" href="<%= GitHub.site_status_url %>">check our status site</a> for updates.
      </p>
    <% end %>
  <% end %>
</div>
<% end %>
