<% if GitHub.flipper[:notifications_new_scheduled_reminders_view].enabled?(current_user) %>
  <% page_info :title => 'Scheduled reminders', breadcrumb_object: current_user %>

  <%= render layout: "settings/settings" do %>
    <%= render partial: "reminders/header", locals: { title: "Scheduled reminders", heading_level: :h1 } %>
    <p class="mb-3">
      Reminders allow you to push certain events to authorized instances of Microsoft Teams or Slack.
    </p>

    <% if configured_reminders.empty? && available_reminders.empty? && unavailable_reminders.empty? %>
      <%= render Primer::Beta::BorderBox.new do |box| %>
        <% box.with_body(display: :flex, align_items: :center, justify_content: :center, text_align: :center) do %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_heading(tag: :h2) do %>
              No reminders
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <% if configured_reminders.any? %>
        <%= render partial: "reminders/subheader", locals: { title: "Configured organizations" } %>

        <%# User can edit and has already configured a reminder %>
        <%= render partial: "reminders/organizations", locals: { reminders: configured_reminders, configured: true, editable: true } %>
      <% end %>

      <% if available_reminders.any? %>
        <%= render partial: "reminders/subheader", locals: { title: "Available organizations" } %>

        <%# User can edit but hasn't configured a reminder %>
        <%= render partial: "reminders/organizations", locals: { reminders: available_reminders, configured: false, editable: true } %>
      <% end %>

      <% if unavailable_reminders.any? %>
        <%= render partial: "reminders/subheader",
          locals: {
            title: "Unavailable organizations",
            subtitle: "To use scheduled reminders, make sure that the Slack or Microsoft Teams integration is installed and up-to-date. If you need help with this, please contact your organization's owner."
          }
        %>
        <%# User can't edit %>
        <%= render partial: "reminders/organizations", locals: { reminders: unavailable_reminders, configured: false, editable: false } %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%# erblint:counter DeprecatedInPrimerCounter 3 %>
  <%# erblint:counter ButtonComponentMigrationCounter 2 %>

  <% page_info :title => 'Scheduled reminders', breadcrumb_object: current_user %>

  <%= render layout: "settings/settings" do %>
    <%= render partial: "reminders/header", locals: { title: "Scheduled reminders" } %>

    <div class="Box mb-3">
      <% reminders.each do |reminder| %>
        <div class="Box-row d-flex flex-justify-between flex-items-center">
          <div class="d-flex flex-items-center">
            <%= avatar_for(reminder.organization, 22, class: "avatar avatar-small mr-2") %>

            <% if reminder.editable? %>
              <%= link_to reminder.organization, personal_reminder_path(reminder.organization), class: "Link--primary" %>
            <% else %>
              <%= reminder.organization %>
            <% end %>
          </div>
          <div class="d-flex flex-items-center">
            <% if reminder.editable? && reminder.configured? && !reminder.ms_teams? %>
              <%# User can edit and has already configured a reminder %>
              <div>
                <%= image_tag reminder.slack_workspace.class.image_url, alt: reminder.slack_workspace.class.alt_name, height: 18, class: "v-align-middle mr-2", style: "margin-top: 1px" %>

                <span style="max-width: 300px" class="color-fg-muted css-truncate css-truncate-target v-align-middle" title="<%= reminder.slack_workspace.name %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
                  <%= reminder.description %>
                </span>
              </div>

              <div class="BtnGroup ml-2" style="min-width: 75px">
                <%= button_to reminder_test_personal_reminder_path(reminder.organization), form_class: "d-inline", style: "border-right-width: 0px;", class: "btn BtnGroup-item btn-sm tooltipped tooltipped-sw tooltipped-multiline", "aria-label": "Send a test reminder" do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                  <%= primer_octicon(:megaphone) %>
                <% end %>

                <a href="<%= personal_reminder_path(reminder.organization) %>" class="btn BtnGroup-item btn-sm tooltipped tooltipped-sw tooltipped-multiline" aria-label="Edit reminder"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                  <%= primer_octicon(:pencil) %>
                </a>
              </div>
            <% elsif reminder.editable? %>
              <%# User can edit but hasn't configured a reminder %>
              <div class="BtnGroup ml-2">
                <a href="<%= personal_reminder_path(reminder.organization) %>" class="btn BtnGroup-item btn-sm tooltipped tooltipped-sw tooltipped-multiline" aria-label="Edit reminder"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                  <%= primer_octicon(:pencil) %>
                </a>
              </div>
            <% else %>
              <%# User can't edit %>
              <em
                class="color-fg-danger tooltipped tooltipped-sw tooltipped-multiline"
                <%= test_selector("personal_reminder_not_editable") %>
                aria-label="<%= reminder.editable_hint %>"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                <%= primer_octicon(:alert) %>
              </em>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
