<% content_for(:header) do %>
  <%= @title %>
<% end %>

<p>An alert prioritization Copilot prompt experiment CSV for owner <strong><%= @owner.display_login %></strong> is ready.</p>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Download File",
      url: @file_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<table style="margin-top: 11px" width="100%">
  <tr>
    <td><strong>File expiration:</strong></td>
    <td><%= @file_expiration_str %></td>
  </tr>
  <tr>
    <td><strong>Owner:</strong></td>
    <td><%= @owner.display_login %></td>
  </tr>
  <tr>
    <td><strong>Initiated by:</strong></td>
    <td><%= @actor.display_login %></td>
  </tr>
</table>

<% content_for(:footer_text) do %>
  <%= @footer_text %>
<% end %>
