<% content_for :header do %>
  <%= @title %>
<% end %>

<p>
  Hello <strong><%= @user.display_login %></strong>,
</p>

<p>We couldn't generate your <%= @feature %> report at this time. Please try exporting your CSV again. If the problem persists, please contact support.</p>

<p>
  You requested data from <strong><%= @owner.display_login %></strong> as of <strong><%= @end_date %></strong>

  <% if @query_string.present? %>
    with the filters: "<strong><%= @query_string %></strong>"
  <% end %>
  .
</p>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Go to security #{@feature} page",
      url: @redirect_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<% content_for :content_footer do %>
  Button not working? Paste the following link into your browser: <a href="<%= @redirect_url %>"><%= @redirect_url %></a>
<% end %>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
