<% content_for :header do %>
  <%= @title %>
<% end %>

<p>
  Hello <strong><%= @user.display_login %></strong>,
</p>

<p>Your <%= @feature %> CSV is ready for download.</p>

<p>
  The data reflects the latest state of <strong><%= @owner.display_login %></strong>'s <%= @row_type %> as of <strong><%= @end_date %></strong>

  <% if @query_string.present? %>
    with the filters: "<strong><%= @query_string %></strong>"
  <% end %>
  . The file will be available until <strong><%= (Time.now + 3.days).utc.strftime("%B %-d, %Y at %H:%M UTC") %></strong>.
</p>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(
    Mail::ButtonComponent.new(
      text: "Download File",
      url: @csv_url,
      classes: "btn-primary btn-large"
    )
  ) %>
<% end %>

<% content_for :content_footer do %>
  Button not working? Paste the following link into your browser: <a href="<%= @csv_url %>"><%= @csv_url %></a>
<% end %>

<% content_for :footer_text do %>
  <%= @footer_text %>
<% end %>
