<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  current_release = selected_release || latest_release
  selected_release_is_latest = selected_release&.tag_name == latest_release.tag_name
  action_owner_login = repository.owner_display_login
  latest_version = latest_release.tag_name
  version = selected_version.presence || latest_version
  uses_value = "#{repository_action.external_uses_path_prefix}#{version}"
  categories = repository_action.regular_categories + repository_action.filter_categories
  limit ||= Marketplace::ActionsVersionsController::VERSIONS_PER_PAGE
  current_version_page ||= 1
  total_version_page = (repository_action.published_releases.count.to_f/limit).ceil
%>

<% page_info \
  title: "#{repository_action.name} · Actions · GitHub Marketplace",
  stafftools: biztools_repository_action_path(repository_action.id),
  description: repository_action.description,
  canonical_url: marketplace_action_url(repository_action.slug),
  container_xl: true,
  richweb: {
    title: "#{repository_action.name} - GitHub Marketplace",
    url: request.original_url,
    description: repository_action.description,
    image: repository.open_graph_image_url(current_user)
  }
%>

<div class="container-lg p-responsive clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <div class="py-3 d-flex">
      <%= render(Primer::Beta::Breadcrumbs.new(flex: :auto)) do |component| %>
        <% component.with_item(href: marketplace_path) do %>Marketplace<% end %>
        <% component.with_item(href: marketplace_path(type: "actions")) do %>Actions<% end %>
        <% component.with_item(href: request.path) do %><%= repository_action.name %><% end %>
      <% end %>
  </div>
  <%# Action title and version %>
  <div class="d-flex flex-column flex-md-row mt-n1 mt-2 mb-3 flex-column flex-justify-between">
    <div class="d-inline-flex lh-condensed">
      <%= render(Primer::Beta::Octicon.new(icon: "play", size: :medium, mr: 3, mt: 2)) %>
      <h1 class="clearfix mb-1 d-flex flex-items-center">
        <span class="overflow-hidden">
          <%= repository_action.name %>
        </span>
        <span class="overflow-hidden Subhead-heading color-fg-muted mx-2">
             <%= current_release.tag_name %>
        </span>
        <% if current_release.prerelease? %>
              <%= render Primer::Beta::Label.new(scheme: :severe, mx: 2) do %>Pre-release<% end %>
        <% elsif selected_release.nil? || selected_release_is_latest %>
          <%= render(Primer::Beta::Label.new(scheme: :secondary, mx: 2)) do %>
            Latest
          <% end %>
        <% end %>
      </h1>
    </div>
    <div>
    <div class="d-flex flex-items-center">
      <%= render Stars::ButtonComponent.new(
          entity: repository,
          show_count: true,
          override_flex_display: true,
          form_flex_class: ""
        ) do |c| c.with_list_menu end %>
    </div>
    </div>
  </div>
  <hr class="my-3">
  <div class="d-flex flex-column flex-md-row mt-n1 mt-2 gutter-condensed gutter-lg flex-column">
      <div class="col-12 col-md-9 flex-shrink-0">
        <% if selected_release.present? && !selected_release_is_latest %>
          <div class="mb-4">
            <%= render Primer::Beta::Flash.new(scheme: :default, py: 3 ) do %>
              <div class="container-lg d-flex flex-justify-between flex-items-center">
                <div>
                  <%= primer_octicon(:info) %> A newer version of this action is available.
                </div>
                <%= link_to "View latest version", marketplace_action_path(repository_action.slug), class: "btn" %>
              </div>
            <% end %>
          </div>
        <% end %>
        <%# Instructions %>
        <div class="border rounded-2 px-3 py-4 mb-4">
          <% instruction = "- name: #{repository_action.name}\n  uses: #{ uses_value }\n" %>
          <div class="d-flex text-small flex-justify-between">
            <span class="text-normal text-small color-fg-muted mb-1 pb-1">
                <%= render(Primer::Beta::Octicon.new(icon: "terminal", mr: 1, vertical_align: :text_top)) %>
                Copy and paste the following snippet into your .yml file.
            </span>
            <span>
              <%= link_to "Learn about workflow syntax", "https://docs.github.com/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idsteps", class: "p-3" %>
            </span>
          </div>
          <div class="Box color-bg-subtle border-0 text-left mx-auto p-2">
            <code class="d-block color-bg-subtle border-0 rounded-2 f6 lh-default">
              <%= render Primer::Beta::ClipboardCopy.new(display: :block, position: :relative, px: 2, py: 1, border_radius: 2, classes: "CopyBlock tooltipped-no-delay", "aria-label": "#{instruction}", "data-copy-feedback": "Copied!", "data-tooltip-direction": "e", role: "button", tabindex: "0", value: "#{instruction}") do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                <pre><%= instruction %></pre>
                <%= primer_octicon(:copy, color: :accent, right: 0, mr: 1, position: :absolute, style: "top: 5px;") %>
                <%= primer_octicon(:check, color: :success, position: :absolute, display: :none, style: "top: 6px; right: 5px;") %>
              <% end %>
            </code>
          </div>
        </div>
        <%# Readme %>
        <div class="border rounded-2 py-4 mb-4">
          <div class="px-3 color-bg-default color-fg-muted">
          <h2 class="Box-title pr-3">
              README.md
          </h2>
          </div>
          <% if readme_html %>
            <div class="px-4">
              <div class="markdown-body">
                <%= readme_html %>
              </div>
            </div>
          <% else %>
            <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
              <% c.with_heading(tag: :h3) do %>
                  This GitHub Action has no README in the repository.
              <% end %>
              <% c.with_description do %>
                If <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/about-readmes/">one is added</a>, it will appear here.
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-12 col-md-3 flex-shrink-0">
        <%# Sidebar Details %>
        <div>
          <h4 class="mb-3">Details</h4>
          <ul class="list-style-none">
            <li class="d-flex flex-items-center mb-3">
              <div class="avatar-parent-child d-inline-flex">
                <div class="avatar circle d-flex flex-items-center flex-justify-center"
                    style="background-color: #<%= repository_action.color %>; width: 40px; height: 40px;">
                  <%= action_icon(
                    name: repository_action.name,
                    color: repository_action.icon_color,
                    icon_name: repository_action.icon_name,
                    owner: action_owner_login
                  ) %>
                </div>
                <% if repository_action.verified_owner? %>
                  <%= primer_octicon(
                    :verified,
                    color: :success,
                    classes: "avatar circle avatar-child",
                    style: "box-shadow: 0 0 0 2px var(--bgColor-default, var(--color-canvas-default));"
                  ) %>
                <% end %>
              </div>
              <div class="info d-flex flex-column ml-3">
                <span class="flex-auto text-left">
                  <%= link_to action_owner_login, user_path(repository.owner_display_login), class: "Link--primary text-bold", data: repository.owner.is_a?(Organization) ? hovercard_data_attributes_for_org(login: repository.owner_display_login) : hovercard_data_attributes_for_user_login(repository.owner_display_login) %>
                </span>
                <% if repository_action.verified_owner? %>
                  <span class="text-small color-fg-muted">Verified creator</span>
                <% end %>
              </div>
            </li>
            <% if repository_action.description&.present? %>
              <li class="d-flex flex-items-center mb-2">
                <p><%= repository_action.description %></p>
              </li>
            <% end %>
            <% if categories.any? %>
              <li class="mb-3">
                <% categories.each do |category| %>
                  <%= render(Topics::TagComponent.new(
                    name: category.name,
                    href: marketplace_category_path(category.slug),
                    font_size: 6,
                    outline: category.acts_as_filter?,
                    title: "Category: #{category.name}"
                  )) %>
                <% end %>
              </li>
            <% end %>
            <li class="d-flex flex-items-center mb-2">
              <span class="mr-2 color-fg-muted">
                <%= render Primer::Beta::Octicon.new(icon: "repo") %>
              </span>
              <span class="text-left">
                <%= link_to "#{repository_action.repository.name}", repository_action.repository.permalink, class: "Link--muted"%>
              </span>
            </li>
            <% if repository_action.repository.license %>
              <li class="d-flex flex-items-center mb-2">
                <span class="mr-2 color-fg-muted">
                  <%= render Primer::Beta::Octicon.new(icon: "law") %>
                </span>
                <span class="flex-auto text-left color-fg-muted">
                  <small><%= repository_action.repository.license.name %></small>
                </span>
              </li>
            <% end %>
          </ul>
        </div>
        <hr class="my-3">
        <%# Sidebar versions %>
        <div>
          <h4 class="mb-3">Versions <%= render Primer::Beta::Counter.new(count: repository_action.published_releases.count, ml: 1) %></h4>
          <load-versions
            data-url="<%= marketplace_action_versions_path(repository_action.slug) %>"
            data-page=<%= current_version_page %>
            data-total-page=<%= total_version_page %>>
            <ul id="version-list" class="list-style-none" data-target="load-versions.list">
              <%= render partial: "marketplace/actions/version_item/show", locals: {
                releases: releases,
                repository_action: repository_action,
                latest_tag: latest_version,
                limit: limit
              } %>
            </ul>
            <% if total_version_page > 1 %>
              <%= render Primer::Beta::Button.new(
                tag: :summary, scheme: :link, "data-action": "click:load-versions#getMoreVersions", "data-target": "load-versions.button") do %>
                View more
              <% end %>
            <% end %>
          </load-versions>
        </div>
        <hr class="my-3">
        <div>
          <h4 class="mb-3">Contributors <%= render Primer::Beta::Counter.new(count: contributor_count, ml: 1) %></h4>
          <% grid = top_contributors.count > 5 %>
          <ul class="list-style-none <% if grid %>d-flex flex-wrap mb-2<% end %>">
            <% top_contributors.each do |contributor| %>
              <li class="mb-2 <% unless grid %>d-flex flex-items-center<% end %>">
                  <span class="mr-2">
                    <%= link_to user_path(contributor) do %>
                      <%= avatar_for(contributor, 32, class: "avatar float-left", data: hovercard_data_attributes_for_user_login(contributor.display_login)) %>
                    <% end %>
                  </span>
                  <% unless grid %>
                    <span class="flex-auto text-left">
                      <strong><%= link_to contributor.name, contributor.permalink, class: "Link--primary no-underline flex-self-center"%></strong>
                      <span class="color-fg-muted"><%= contributor&.profile&.name %></span>
                    </span>
                  <% end %>
              </li>
            <% end %>
          </ul>
          <% if contributor_count - top_contributors.count > 0 %>
            <%= render Primer::Beta::Link.new(href: gh_contributors_path(repository), text: :small) do %>
              + <%= number_with_delimiter(contributor_count - top_contributors.count) %> <%= "contributer".pluralize(contributor_count - top_contributors.count) %>
            <% end %>
          <% end %>
        <%# Sidebar: links %>
        <% if repository_action.repository && (repository_action.repository.discussions_active? || repository_action.repository.has_issues?) %>
          <hr class="my-3">
          <div class="mt-2">
            <% if repository_action.repository%>
              <% if repository_action.repository.discussions_active? %>
                <ul class="list-style-none" style="font-size: 12px;">
                  <li class="btn-link text-bold Link--primary no-underline">
                    <%= link_to "#{repository_action.repository.permalink}/discussions", class: "d-flex Link--primary no-underline text-bold mb-1" do %>
                      <%= render(Primer::Beta::Octicon.new("comment-discussion")) %>
                      <p class="ml-2">Start a discussion</p>
                    <% end %>
                  </li>
                </ul>
              <% end %>
              <% if repository_action.repository.has_issues? %>
                <ul class="list-style-none" style="font-size: 12px;">
                  <li class="btn-link text-bold Link--primary no-underline">
                    <%= link_to "#{repository_action.repository.permalink}/issues", class: "d-flex Link--primary no-underline text-bold mb-1" do %>
                      <%= primer_octicon(:"issue-opened") %>
                      <p class="ml-2">Open an issue</p>
                    <% end %>
                  </li>
                </ul>
              <% end %>
            <% end %>
            <ul class="list-style-none" style="font-size: 12px;">
              <li class="btn-link text-bold Link--primary no-underline">
                <%= link_to flavored_contact_path(report: "#{repository_action.name} (GitHub Action)", flavor: "report-abuse"), class: "d-flex Link--primary no-underline text-bold mb-1" do %>
                  <%= render(Primer::Beta::Octicon.new("report")) %>
                  <p class="ml-2">Report abuse</p>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
  </div>
</div>
