<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  if pull.repository.dco_signoff_enabled?
    commit_suggestion_title = "Sign off and commit suggestions"
    commit_changes_title = "Sign off and commit changes"
  else
    commit_suggestion_title = "Commit suggestions"
    commit_changes_title = "Commit changes"
  end
%>

<div class="diffbar-item dropdown js-batched-suggested-changes-container mr-3" hidden>
  <details class="details-reset details-overlay js-dropdown-details position-relative" id="commit-suggestions-modal">
    <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "js-batched-suggested-changes-toggle") do %>
      <%= commit_suggestion_title %>
      <%= render Primer::Beta::Counter.new(count: 0, display: :inline_block, classes: "js-pending-batched-suggested-changes-count") %>
      <span class="dropdown-caret"></span>
      <% if show_batched_suggested_changes_onboarding_prompt? %>
        <div class="Popover js-batched-suggested-change-onboarding-notice" style="top: 38px; left: -6px;">
          <div class="Popover-message Popover-message--top-left p-3 Box color-shadow-large text-small" style="white-space:normal; width: 300px;">
            <p><b>New!</b> Multiple suggested changes can be batched together in a single commit. Each suggestion author will be attributed in the commit as a co-author.</p>

            <% dismiss_notice_url = dismiss_notice_path("batched_suggested_changes_onboarding_prompt") %>
            <button type="button" class="btn mt-2 text-bold js-dismiss-batched-suggested-changes-onboarding-notice" data-url="<%= dismiss_notice_url %>">Got it</button>
            <%= csrf_hidden_input_for dismiss_notice_url, class: "js-data-url-csrf" %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="SelectMenu right-0">
    <div class="pull-request-suggested-changes-menu SelectMenu-modal top-0 p-0 mt-sm-2" style="max-width: calc(100vw - 32px);" id="commit-suggestions">
      <header class="SelectMenu-header p-2">
        <span class="SelectMenu-title"><%= commit_suggestion_title %></span>
        <button class="SelectMenu-closeButton" type="button" data-toggle-for="commit-suggestions-modal">
          <%= primer_octicon(:x, "aria-label": "Close commit suggestions dialog") %>
        </button>
      </header>

        <%= form_tag(pull_request_apply_suggestions_path(pull.repository.owner, pull.repository, pull), method: :post, class: "js-batched-suggested-changes-form p-2", "data-warn-unsaved-changes": "Your batched suggestions will be lost.") do %>
        <input type="hidden" name="current_oid" value="<%= pull.head_sha %>">
        <input type="text" name="commit_title" class="form-control input-block input-contrast js-suggestion-commit-title text-emphasized mb-2" aria-label="Commit title" value="Apply suggestions from code review" placeholder="Commit title">
        <textarea
          rows="3"
          aria-label="Commit message"
          autocomplete="off"
          class="js-suggestion-commit-message js-quick-submit form-control input-block mb-2"
          type="text"
          name="commit_message"
          placeholder="Add an optional extended description…"
          style="resize: vertical"></textarea>

        <%= render Repositories::DcoLabelComponent.new(
          repo: pull.repository
        ) %>

        <div class="form-actions">
          <% data = suggested_changes_click("commit_changes").merge("disable-invalid": true) %>
          <%= content_tag(:button, type: "submit", class: "btn btn-sm btn-primary float-left js-suggestion-batch-submit", data: data.merge(disable_with: "Applying commits...")) do %>
            <%= commit_changes_title %>
          <% end %>
        </div>
        <div class="form-group warn m-0 mt-2 js-error-message-container" hidden>
          <div class="position-relative warning m-0" style="max-width: inherit;">
            <span class="js-error-message"></span>
            Please <span class="text-bold btn-link js-refresh-after-suggestion">refresh</span> and try again.
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </details>
</div>
