<div class="select-menu-header color-bg-subtle">
  <span class="select-menu-title">
    Jump to conversation
  </span>
</div>
<div class="select-menu-list">
  <% if unresolved_threads.length == 0 && resolved_threads.length == 0 %>
    <div style="height: 144px" class="text-center border-bottom color-border-muted">
      <%= svg("modules/pulls/suggested-changes.svg", aria: true, title: "No conversations yet", class: "mt-3 mb-n1", width: "62px", height: "62px") %>
      <h4 class="text-bold">No conversations yet</h4>
      <p class="color-fg-muted f5">Review conversations will show up here.</p>
    </div>
  <% else %>
    <div class="select-menu-header">
      <%= render Primer::Beta::Octicon.new(icon: "clock", size: :small, mr: 2, float: :left, color: :attention, classes: "cursor-default") %>
      <span class="select-menu-title">
        Unresolved conversations (<%= unresolved_threads.length %>)
      </span>
    </div>
    <% if unresolved_threads.length == 0 %>
      <div style="height: 144px" class="text-center border-bottom color-border-muted">
        <%= svg("modules/pulls/community-management.svg", aria: true, title: "Nice work!", class: "mt-3 mb-n1", width: "62px", height: "62px") %>
        <h4 class="text-bold">Nice work!</h4>
        <p class="color-fg-muted f5">All of your conversations have been resolved.</p>
      </div>
    <% else %>
      <% unresolved_threads.each do |thread| %>
        <%
          review_comments = thread.review_comments.select { |comment| !comment.pending? }
          comment = review_comments.first
        %>
        <% if !comment.nil? %>
          <%
            repliers = review_comments.drop(1).filter_map { |comment| comment.user if !comment.user.nil? }.reverse.uniq.first(3)
            payload = {
              user_id: current_user&.id,
              pull_request_id: pull_request_id,
              category: "conversations_menu",
              action: "unresolved_conversation_clicked",
              data: {
                outdated: comment.outdated?,
                repliers: repliers.length,
                comment_id: comment.id
              }
            }
          %>
          <%= render partial: "pull_requests/diffbar/conversations_items", locals: { repliers: repliers, comment: comment, payload: payload } %>
        <% end %>
      <% end %>
    <% end %>
    <% if resolved_threads.length == 0 %>
      <div data-filterable-for="files-changed-filter-field" data-filterable-type="substring">
      <div class="select-menu-header border-bottom-0">
        <%= render Primer::Beta::Octicon.new(icon: "check", size: :small, mr: 2, float: :left, color: :success, classes: "cursor-default") %>
        <span class="select-menu-title">
          Resolved conversations (<%= resolved_threads.length %>)
        </span>
      </div>
    <% else %>
      <details class="details-reset">
        <summary class="js-resolved-conversations">
          <div class="select-menu-header d-flex flex-justify-between flex-items-center border-bottom-0">
            <div class="select-menu-title">
              <%= render Primer::Beta::Octicon.new(icon: "check", size: :small, mr: 2, float: :left, color: :success, classes: "cursor-default") %>
              Resolved conversations (<%= resolved_threads.length %>)
            </div>
            <span class="dropdown-caret mr-1" style="transform: rotate(180deg)"></span>
          </div>
        </summary>
        <% resolved_threads.each do |thread| %>
          <%
            review_comments = thread.review_comments.select { |comment| !comment.pending? }
            comment = review_comments.first
          %>
          <% if !comment.nil? %>
            <%
              repliers = review_comments.drop(1).filter_map { |comment| comment.user if !comment.user.nil? }.reverse.uniq.first(3)
              payload = {
                user_id: current_user&.id,
                pull_request_id: pull_request_id,
                category: "conversations_menu",
                action: "resolved_conversation_clicked",
                data: {
                  outdated: comment.outdated?,
                  repliers: repliers.length,
                  comment_id: comment.id
                }
              }
            %>
            <%= render partial: "pull_requests/diffbar/conversations_items", locals: { repliers: repliers, comment: comment, payload: payload } %>
          <% end %>
        <% end %>
      </details>
    <% end %>
  <% end %>
</div>
