<%
  hydro_attributes = hydro_click_tracking_attributes("pull_request.user_action", payload)
%>
<a href="<%= comment.outdated? ? comment.async_original_diff_path_uri.sync : comment.async_current_diff_path_uri.sync %>"
  class="select-menu-item js-conversations-menu-item"
  role="menuitem"
  data-turbo="false"
  data-hydro-click="<%= hydro_attributes["hydro-click"] %>"
  data-hydro-click-hmac="<%= hydro_attributes["hydro-click-hmac"] %>"
  >
  <div class="d-flex flex-justify-between">
    <div>
      <span>
        <%= render GitHub::AvatarComponent.new(actor: comment.user || User.ghost, size: 20, mr: 1, classes: "avatar avatar-2 circle") %>
        <span class="text-bold mr-1 f5">
          <%= comment.user ? comment.user.display_login : GitHub.ghost_user_login %>
        </span>
        <%= time_ago_in_words_js(comment.created_at) %>
      </span>
      <div class="css-truncate css-truncate-overflow ml-4 pl-1 select-menu-item-text" style="max-width: 260px">
        <%= comment.body %>
      </div>
    </div>
    <% if comment.outdated? %>
      <div>
        <%= render Primer::Beta::Label.new(title: "Label: Outdated", scheme: :warning) do %>
          Outdated
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="d-flex flex-justify-between">
    <div class="ml-4 pl-1 color-fg-muted select-menu-item-text">
      <%= reverse_truncate(comment.path, length: 44) %>
    </div>
    <%= render(Primer::Beta::AvatarStack.new(
      align: :right,
      tooltipped: true,
      body_arguments: { style: "background-color: inherit", label: repliers.map(&:safe_profile_name).to_sentence, direction: :nw }
    )) do |c| %>
      <% repliers.each do |replier| %>
        <% c.with_avatar(src: avatar_url_for(replier, 40), shape: :circle, size: 40, alt: replier.display_login) %>
      <% end  %>
    <% end  %>
  </div>
</a>
