<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# for larger viewports %>
<div class="hide-sm hide-md">
  <%= render Primer::Beta::Details.new(position: :relative, text_align: :center, classes: "diffbar-item details-reset details-overlay") do |c| %>
    <% c.with_summary(button: false) do %>
      <%= primer_octicon(:gear,
                         color: pull_comparison.diffs.ignore_whitespace? ? :accent : :muted,
                         "aria-label": "Diff settings") %>
      <div class="dropdown-caret color-fg-muted"></div>
    <% end %>
    <% c.with_body do %>
      <%= render Primer::Beta::Popover.new(position: :absolute, mt: 2, pt: 1) do |component| %>
        <% component.with_heading(tag: :h5) do %>
          Diff view
        <% end %>
        <% component.with_body(position: :relative, mx: :auto, text_align: :left, box_shadow: :large, p: 2, style: "left: -107px; top: -7px", classes: "Popover-message Box") do %>
          <%= form_tag pull_diff_view_preferences_path do %>
            <div class="d-flex flex-justify-center">
              <div class="js-unified-diff-view">
                <%= render(Primer::Box.new(border: true, border_radius: 1, pt: 3, pb: 1, border_color: split_diff? ? :default : :accent_emphasis, classes: "js-unified-diff-view-box")) do %>
                  <label>
                    <div class="text-center px-4">
                      <%= render(Primer::Alpha::Image.new(src: image_path("modules/pulls/unified.svg"), alt: "Unified Diff View", height: 50, width: 50)) %>
                    </div>
                    <div class="d-flex flex-items-center ml-2">
                      <%= radio_button_tag :diff, "unified", !split_diff?, id: "diff_unified_lg",  class: "js-unified-diff-view-option mr-1" %>
                      Unified
                    </div>
                  </label>
                <% end %>
              </div>

              <div class="js-split-diff-view">
                <%= render(Primer::Box.new(border: true, border_radius: 1, pt: 3, pb: 1, ml: 2, border_color: split_diff? ? :accent_emphasis : :default, classes: "js-split-diff-view-box")) do %>
                  <label>
                    <div class="text-center px-4">
                      <%= render(Primer::Alpha::Image.new(src: image_path("modules/pulls/split.svg"), alt: "Split Diff View", height: 50, width: 50)) %>
                    </div>
                    <div class="d-flex flex-items-center ml-2">
                      <%= radio_button_tag :diff, "split", split_diff?, id: "diff_split_lg", class: "js-split-diff-view-option mr-1" %>
                      Split
                    </div>
                  </label>
                <% end %>
              </div>
            </div>

            <div class="mt-2 mb-2 ml-1 d-flex flex-items-center">
              <%= hidden_field_tag "w", "0", id: "show_whitespace_lg" %>
              <%= check_box_tag "w", "1", pull_comparison.diffs.ignore_whitespace?, id: "whitespace-cb-lg" %>
              <label for="whitespace-cb-lg" class="ml-1">Hide whitespace</label>
            </div>

            <div class="d-flex flex-column mt-2 px-1">
              <%= render(Primer::ButtonComponent.new(type: :submit, variant: :small)) { "Apply and reload" } %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="ml-2 hide-sm hide-md">
  <%= form_tag pull_diff_view_preferences_path do %>
    <%= render(Primer::ButtonComponent.new(scheme: :invisible, variant: :small, type: :submit, name: "w", value: "0", color: :accent, py: 0, px: 1, border_radius: 1, hidden: pull_comparison.diffs.ignore_whitespace ? false : true)) do |c| %>
    <% c.with_leading_visual_icon(icon: :eye, color: :accent) %>
    Show whitespace
    <% end %>
  <% end %>
</div>

<%# for small and medium viewports %>
<div class="hide-lg hide-xl">
  <%= render Primer::Beta::Details.new(position: :relative, text_align: :center, classes: "diffbar-item details-reset details-overlay") do |c| %>
    <% c.with_summary(button: false) do %>
      <%= primer_octicon(:gear,
                         color: pull_comparison.diffs.ignore_whitespace? ? :accent : :muted,
                         "aria-label": "Diff settings") %>
      <div class="dropdown-caret color-fg-muted"></div>
    <% end %>
    <% c.with_body do %>
      <%= render Primer::Beta::Popover.new(position: :fixed, mt: 2, pt: 1) do |component| %>
        <% component.with_heading(tag: :h5) do %>
          Diff view
        <% end %>
        <% component.with_body(position: :relative, mx: :auto, text_align: :left, box_shadow: :large, p: 2,  classes: "Popover-message Box") do %>
          <%= form_tag pull_diff_view_preferences_path do %>
            <div class="d-flex flex-items-center">
              <div class="js-unified-diff-view d-flex flex-1">
                <%= render(Primer::Box.new(flex: 1, border: true, border_radius: 1, pt: 3, px: 2, pb: 1, border_color: split_diff? ? :default : :accent_emphasis, classes: "js-unified-diff-view-box")) do %>
                  <label>
                    <div class="text-center">
                      <%= render(Primer::Alpha::Image.new(src: image_path("modules/pulls/unified.svg"), alt: "Unified Diff View", height: 50, width: 50)) %>
                    </div>
                    <div class="d-flex flex-items-center">
                      <%= radio_button_tag :diff, "unified", !split_diff?, class: "js-unified-diff-view-option mr-1" %>
                      Unified
                    </div>
                  </label>
                <% end %>
              </div>

              <div class="js-split-diff-view d-flex flex-1">
                <%= render(Primer::Box.new(flex: 1, border: true, border_radius: 1, pt: 3, px: 2, pb: 1, ml: 2, border_color: split_diff? ? :accent_emphasis : :default, classes: "js-split-diff-view-box")) do %>
                  <label>
                    <div class="text-center">
                      <%= render(Primer::Alpha::Image.new(src: image_path("modules/pulls/split.svg"), alt: "Split Diff View", height: 50, width: 50)) %>
                    </div>
                    <div class="d-flex flex-items-center">
                      <%= radio_button_tag :diff, "split", split_diff?, class: "js-split-diff-view-option mr-1" %>
                      Split
                    </div>
                  </label>
                <% end %>
              </div>
            </div>

            <div class="mt-2 mb-2 d-flex flex-items-center">
              <%= hidden_field_tag "w", "0", id: "show_whitespace" %>
              <%= check_box_tag "w", "1", pull_comparison.diffs.ignore_whitespace?, id: "whitespace-cb" %>
              <label for="whitespace-cb" class="ml-1">Hide whitespace</label>
            </div>

            <div class="d-flex flex-column mt-2">
              <%= render(Primer::ButtonComponent.new(type: :submit, variant: :small)) { "Apply and reload" } %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
