<div class="diffbar-item dropdown js-reviews-container">
  <% if !with_database_error_fallback(fallback: false) { can_interact_with_repo? } %>
    <%-
      aria_label = with_database_error_fallback(fallback: "Action unavailable: an error occurred while loading repository permissions") do
        interaction_ban_copy(current_repository, current_user, "review a pull request", true)
      end
    -%>

    <%= render(Primer::Beta::Button.new(size: :small, disabled: true, id: "review-changes-button")) do |button| %>
      <% button.with_tooltip(text: aria_label) %>
      Review changes
    <% end %>
  <% elsif pull.locked_for?(current_user) || current_repository.locked_on_migration? %>
    <%= render(Primer::Beta::Button.new(size: :small, disabled: true, id: "review-changes-button")) do |button| %>
      <% button.with_tooltip(text: pull.locked_reason) %>
      Review changes
    <% end %>
  <% elsif emu_contribution_blocked?(current_repository) %>
    <%= render(Primer::Beta::Button.new(size: :small, disabled: true, id: "review-changes-button")) do |button| %>
      <% button.with_tooltip(text: "You cannot review pull requests outside of your enterprise #{enterprise_name}.") %>
      Review changes
    <% end %>
  <% else %>
    <%= render(Primer::Alpha::Overlay.new(title: "Finish your review", role: :dialog, id: "review-changes-modal", size: :auto, padding: :condensed, style: "width:min(640px,100vw - 2rem);")) do |dialog| %>
      <% dialog.with_header(title: "Finish your review", divider: true) %>
      <% dialog.with_show_button(scheme: :primary, size: :small, classes: "js-reviews-toggle") do |show_button| %>
        <% show_button.with_trailing_action_icon(icon: "triangle-down") %>
        <% show_button.with_trailing_visual_counter(count: review_comments_count(review), classes: "js-pending-review-comment-count") %>
        <span class="js-review-changes" data-pending-message="Finish your review" data-message="Review changes">
          Review<span class="hide-md"> changes</span>
        </span>
      <% end %>
      <%= render partial: "pull_requests/submit_review", locals: { pull: pull, review: review } %>
    <% end %>
  <% end %>
</div>
