<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<div class="select-menu-filters">
  <div class="select-menu-text-filter">
    <input
      type="text"
      id="files-changed-filter-field"
      class="form-control js-filterable-field"
      placeholder="Filter changed files"
      aria-label="Filter changed files"
      autofocus
      autocomplete="off"
      data-ga-change="Pull Requests, filter table of contents, type:semantic">
  </div>
</div>

<div class="select-menu-list">
  <div class="select-menu-no-results">No files found.</div>
  <div data-filterable-for="files-changed-filter-field" data-filterable-type="substring">
    <% summary_delta_views.each_with_index do |delta_view| %>
      <a href="#<%= delta_view.anchor %>"
        class="select-menu-item js-jump-to-menu-item"
        role="menuitem"
        data-ga-click="Pull Requests, navigate diff, type:file; location:table of contents"
        data-file-type="<%= get_file_type(delta_view.path) %>"
        data-file-deleted="<%= delta_view.deleted? %>"
        >
        <%= primer_octicon(delta_view.octicon, classes: "select-menu-item-icon", title: delta_view.status_label) %>
        <div class="select-menu-item-text">
          <span class="diffstat ml-2 float-right">
            <% if delta_view.unknown_changes? %>
              <%= diff_label(delta_view) %>
              <% diffstat_block_class = delta_view.deleted? ? "diffstat-block-deleted" : "diffstat-block-added" %>
              <span class="<%= diffstat_block_class %>"></span><span class="<%= diffstat_block_class %>"></span><span class="<%= diffstat_block_class %>"></span><span class="<%= diffstat_block_class %>"></span><span class="<%= diffstat_block_class %>"></span>
            <% elsif delta_view.simple_rename? %>
              <%= diff_label(delta_view) %>
              <span class="diffstat-block-neutral"></span><span class="diffstat-block-neutral"></span><span class="diffstat-block-neutral"></span><span class="diffstat-block-neutral"></span><span class="diffstat-block-neutral"></span>
            <% else %>
              <span class="color-fg-success">
                +<%= number_with_delimiter(delta_view.additions) %>
              </span>
              <span class="color-fg-danger">
                −<%= number_with_delimiter(delta_view.deletions) %>
              </span>
            <% end %>
          </span>
          <div class="d-block text-emphasized css-truncate css-truncate-target">
            <%= diff_toc_basename(delta_view) %>
          </div>
          <span class="description width-fit">
            <%= diff_toc_label(delta_view, length: 55) %>
          </span>
        </div>
      </a>
    <% end %>
  </div>
</div>
