<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% show_toc_params = {
    id: pull_comparison.pull,
    sha1: file_list_view.diffs.parsed_sha1,
    sha2: file_list_view.diffs.parsed_sha2,
    base_sha: file_list_view.diffs.base_sha,
    skipmc: params[:skipmc] } %>

<details
  class="details-reset details-overlay diffbar-item toc-select select-menu ml-0<%= responsive_display_classes %>"
  data-target="diff-layout.tocMenu"
  <%= test_selector("pr-toc-menu") %>
>
  <%= render Primer::ButtonComponent.new(
    tag: :summary,
    scheme: :link,
    classes: "Link--muted select-menu-button",
    data: {
      target: "diff-layout.tocMenuButton",
      "ga-click": "Pull Requests, open table of contents, type:semantic"
    }
  ) do %>
    <strong>Jump to</strong>
  <% end %>
  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" src="<%= show_pull_request_toc_path(show_toc_params) %>" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <% if file_list_view.diffs.too_big? %>
      <div class="select-menu-list">
        <div class="select-menu-blankslate">
          The table of contents is too big for display.
        </div>
      </div>
    <% else %>
      <div class="select-menu-header">
        <span class="select-menu-title">
          Jump to file
        </span>
      </div>
      <include-fragment>
        <div class="select-menu-blankslate select-menu-error">
          Failed to load files. <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-toc-retry") do %>Retry<% end %>
        </div>
        <div class="select-menu-loading-overlay" aria-busy="true">
          <%= render(Primer::Beta::Spinner.new) %>
        </div>
      </include-fragment>
    <% end %>
  </details-menu>
</details>
