<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if params["controller"] == "repository_search" || (header_redesign_enabled? && !show_repository_header_placeholder?) %>
  <%= render(Site::EnterpriseBannersComponent.new) %>
  <%# Render empty container header on repository search so header is properly replaced on back navigations %>
  <div id="repository-container-header" data-turbo-replace hidden></div>
<% else %>
  <% if header_redesign_enabled? %>
    <%= render(Site::EnterpriseBannersComponent.new) %>
  <% end %>

  <div id="repository-container-header" <%= test_selector("repository-container-header") %> class="pt-3 hide-full-screen" <% unless header_redesign_enabled? %>style="background-color: var(--page-header-bgColor, var(--color-page-header-bg));"<% end %> data-turbo-replace>
    <% track_render_partial("layouts/repository/default_container/is_spammy_banner", partial_tags) do %>
      <% if logged_in? && current_user.site_admin? && repository.owner.spammy? %>
        <div class="<% if container_full? %> container-full <% else %> container-xl <% end %> px-3">
          <%= render(Primer::Beta::Flash.new(scheme: :danger, spacious: true)) do %>
            The owner of this repository is flagged <strong>spammy</strong>.
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% track_render_partial("layouts/repository/default_container/repository_navigation", partial_tags, trace: true) do %>
      <div class="d-flex flex-nowrap flex-justify-end mb-3 <% if header_redesign_enabled? %><% if container_full? %> container-full <% else %> container-xl <% end %><% end %> <% if responsive? %>px-3 px-lg-5<% else %>px-5<% end %>" style="gap: 1rem;">

        <div class="flex-auto min-width-0 width-fit">
          <% track_render_partial("repositories/title", partial_tags, trace: true) do %>
            <%= render partial: "repositories/title", locals: { repository: repository } %>
          <% end %>
        </div>

        <div id="repository-details-container" class="flex-shrink-0" data-turbo-replace style="max-width: 70%;">
          <% track_render_partial("repositories/details", partial_tags, trace: true) do %>
            <%= render "repositories/details", view: create_view_model(Repositories::DetailsView, {
                  repository: repository,
                  repository_is_offline: repository_offline?,
                  cap_view_filter: cap_view_filter,
                  viewer_can_read_repo: current_user_can_read_repo?,
                }) %>
          <% end %>
        </div>
      </div>

      <% if header_redesign_enabled? %>
        <div class="<% if container_full? %> container-full <% else %> container-xl <% end %>">
          <%= render partial: "layouts/responsive_meta" %>
          <div class="border-bottom <% unless container_full? %> mx-xl-5 <% end %>"></div>
        </div>
      <% else %>
        <%= render partial: "layouts/responsive_meta" %>

        <% track_render_partial("repository/container_header/navigation", partial_tags, trace: true) do %>
          <%= render Repositories::UnderlineNavComponent.new(repository: repository, selected_link: selected_link, display_variant: :padded, user_can_write_wiki: current_user_can_write_wiki?) %>
        <% end %>
      <% end %>

      <%# rubocop:disable GitHub/ContentFor %>
      <% if content_for?(:custom_navigation) %>
        <%= content_for(:custom_navigation) %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if !header_redesign_enabled? && params["controller"] != "repository_search" %>
  <%= render(Site::EnterpriseBannersComponent.new) %>
<% end %>
