<div
  class="<%= class_names(
    "position-relative circle d-flex flex-items-center flex-justify-center flex-shrink-0 p-1",
    "color-fg-accent" => loading?,
    "color-fg-default" => !loading?,
  ) %>"
  style="
    width: 32px;
    height: 32px;
    background-color: <%= error? ? "var(--bgColor-attention-muted, var(--color-attention-subtle))" : "var(--bgColor-canvas-muted, var(--color-canvas-subtle))" %>;
    border: 1px solid;
    border-color: <%= error? ? "var(--borderColor-attention-muted, var(--color-attention-muted))" : "var(--borderColor-default, var(--color-border-default))" %>;
  "
>
  <div class="<%= class_names("position-absolute", "d-flex" => loading?, "d-none" => !loading?) %>">
    <%= render(Primer::Beta::Spinner.new(
      size: :medium,
      color: :accent,
      test_selector: "copilot-badge-loading-spinner",
      style: "height: 32px; width: 32px;"
    )) %>
  </div>
  <% if unread %>
    <span
      class="unread-indicator border"
      style="width: 12px; height: 12px; left: 22px; top: -4px;"
      <%= test_selector("copilot-badge-unread-icon") %>
    ></span>
  <% end %>
  <%= render(Primer::Beta::Octicon.new(
    icon: :copilot,
    size: :small,
    test_selector: "copilot-badge-icon"
  )) %>
  <% if error? %>
    <div
      class="position-absolute color-fg-attention"
      style="bottom: 0; right: 0; transform: translate(4px,4px);"
    >
      <%= render(Primer::Beta::Octicon.new(
        :"alert-fill",
        color: :attention,
        size: :xsmall,
        test_selector: "copilot-badge-error-icon"
      )) %>
    </div>
  <% end %>
</div>
