<%# erblint:counter DeprecatedComponentsCounter 2 %>

<%= form_with url: signup_url_path do |f| %>

  <% if organizations || enterprises %>
    <p class="mb-4">
      All fields marked with an asterisk (*) are required
    </p>
  <% end %>

  <% if organizations %>
    <legend class="h5 mb-2">
      Select which organization you'd like to nominate: *
    </legend>

    <details class="width-full details-reset details-overlay d-inline-block select-menu select-menu-modal-right mb-3">
      <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button with-gravatar", "data-menu-button": "") do %>
        Select organization
      <% end %>
      <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-list">
          <span data-menu-button-contents hidden>
            <div class="d-inline-block mr-1">Select organization</div>
          </span>
          <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="true">
            <input type="radio" name="member_id" value="" checked>
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Select organization</div>
          </label>

          <% if organizations.empty? %>
            <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="false" aria-disabled="true">
              <%= primer_octicon(:x, classes: "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <div class="mr-2">No organizations available</div>
              </div>
              <div data-menu-button-contents hidden>
                <div class="d-inline-block mr-4">
                  <div class="mr-2">No organizations available</div>
                </div>
              </div>
            </label>
          <% else %>
            <% organizations.each do |org| %>
              <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="false">
                <input type="radio" name="member_id" value="<%= org.id %>" data-owner="<%= org.owner.display_login %>">
                <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                <div class="select-menu-item-text">
                  <%= avatar_for(org, 20, class: "avatar select-menu-item-gravatar flex-shrink-0", alt: "#{org.display_login}'s avatar") %>
                  <div class="mr-2"><%= org.display_login %></div>
                </div>
                <div data-menu-button-contents hidden>
                  <div class="d-inline-block mr-4">
                    <%= avatar_for(org, 20, class: "avatar select-menu-item-gravatar flex-shrink-0", alt: "#{org.display_login}'s avatar") %>
                    <div class="mr-2"><%= org.display_login %></div>
                  </div>
                </div>
              </label>
            <% end %>
          <% end %>
        </div>
      </details-menu>
    </details>

    <p class="mb-4">
      If you are not the owner of any organization, you can nominate one and we will notify the administrator of your request.
      Please note that you can only nominate an organization once.
    </p>
  <% end %>

  <% if enterprises %>
    <legend class="h5 mb-2 mt-2">
      Select which Enterprise account you'd like to nominate: *
    </legend>

    <details class="width-full details-reset details-overlay d-inline-block select-menu select-menu-modal-right mb-3">
      <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button with-gravatar", "data-menu-button": "") do %>
        Select enterprise
      <% end %>

      <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-list">
          <span data-menu-button-contents hidden>
            <div class="d-inline-block mr-1">Select enterprise</div>
          </span>
          <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="true">
            <input type="radio" name="member_id" value="" checked>
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">Select enterprise</div>
          </label>

          <% if enterprises.empty? %>
            <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="false" aria-disabled="true">
              <%= primer_octicon(:x, classes: "select-menu-item-icon") %>
              <div class="select-menu-item-text">
                <div class="mr-2">No enterprises available</div>
              </div>
              <div data-menu-button-contents hidden>
                <div class="d-inline-block mr-4">
                  <div class="mr-2">No enterprises available</div>
                </div>
              </div>
            </label>
          <% else %>
            <% enterprises.each do |enterprise| %>
              <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="false">
                <input type="radio" name="member_id" value="<%= enterprise.id %>" data-owner="<%= enterprise.slug %>">
                <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                <div class="select-menu-item-text">
                  <%= avatar_for(enterprise, 20, class: "avatar select-menu-item-gravatar flex-shrink-0", alt: "#{enterprise.slug}'s avatar") %>
                  <div class="mr-2"><%= enterprise.slug %></div>
                </div>
                <div data-menu-button-contents hidden>
                  <div class="d-inline-block mr-4">
                    <%= avatar_for(enterprise, 20, class: "avatar select-menu-item-gravatar flex-shrink-0", alt: "#{enterprise.slug}'s avatar") %>
                    <div class="mr-2"><%= enterprise.slug %></div>
                  </div>
                </div>
              </label>
            <% end %>
          <% end %>
        </div>
      </details-menu>
    </details>

    <p class="mb-4">
      If you are not the owner of any enterprise, you can nominate one and we will notify the owner about your request.
      Please note that you can only nominate an enterprise account once.
    </p>
  <% end %>

  <% visible_survey_questions.each.with_index do |question, question_index| %>
    <p class="h5 mb-2">
      <%= question.text %>
    </p>
    <fieldset class="mb-3 form-group p-2" style="width: fit-content; min-width: 280px;">

      <%= f.hidden_field "answers[#{question_index}][question_id]", { value: question.id } %>

      <% question.choices.each_with_index do |choice, choice_index| %>
        <% next if hide_windows_terminal_choice?(choice) %>
        <% field_id = "#{question.short_text}_#{choice.short_text}" %>
        <div>

          <label class="d-flex text-normal pb-1">
            <%= f.hidden_field "answers[#{question_index}-#{choice_index}][question_id]", { value: question.id } %>
            <%= render(Primer::Alpha::CheckBox.new(
              name: "answers[#{question_index}-#{choice_index}][choice_id]",
              value: choice.id,
              label: choice.other? ? "" : choice.text,
              id: field_id,
             )) %>

            <% if choice.other? %>
              <span class="d-flex">
                <%= render(Primer::Alpha::TextField.new(
                  name: "answers[#{question_index}-#{choice_index}][other_text]",
                  mt: 2,
                  classes: "rounded-right-2 rounded-left-2",
                  label: choice.text,
                  visually_hide_label: true
                  )) %>
                </span>
            <% end %>

            <%= survey_choice_detail_link(
              field_id,
              class: "ml-auto f6",
              style: "width: 80px;"
            )%>
          </label>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <% if additional_inputs? %>
    <%= additional_inputs %>
  <% end %>

  <div class="mt-4">
    <% if params[:redirect_back].present? %>
      <input type="hidden" name="redirect_back" value="<%= params[:redirect_back] %>">
    <% end %>

    <%= render(Site::ButtonComponent.new(
      role: :button,
      text: signup_cta_text,
      arrow: false,
      classes: "width-full copilot-waitlist-submit-button"
    )) %>

    <p class="mt-3">
      By signing up for the waitlist you agree to <%= preview_terms_link %>. Signing up does not guarantee access.
      <%= preview_terms_text %>
    </p>
  </div>
<% end %>
