<div class="clearfix">
  <% if user.user? %>
    <%= render(Primer::Beta::Text.new(tag: :h3, font_weight: :bold, mb: 3, classes: "h4")) { "Billing Information" } %>
  <% end %>

  <% unless show_linking_billing_information? %>
    <% if user.is_allowed_to_edit_trade_screening_information? %>
      <div class="float-right js-edit-user-personal-profile-wrapper">
        <div class="btn f6 js-edit-user-personal-profile" type="button">
          Edit
        </div>
      </div>
    <% end %>
    <div class="<%= class_names("d-flex flex-md-row flex-sm-column mb-3", "mb-sm-0" => has_saved_trade_screening_record?) %>" style="row-gap: 8px;">
      <div class="col-6 mb-auto d-flex flex-items-center">
        <%= render GitHub::AvatarComponent.new(actor: user, size: 48, mr: 2) %>
        <ul class="list-style-none lh-condensed mb-2" style="min-height: 48px;">
          <li class="pb-1 text-bold"><%= user.safe_profile_name %></li>
          <li class="text-small color-fg-muted"><%= account_type %> account</li>
        </ul>
      </div>
      <div class="col-6 text-sm-right lh-condensed">
        <% if has_saved_trade_screening_record? %>
          <%= render Billing::Settings::NameAddressSummaryComponent.new(profile: trade_screening_record) %>
        <% end %>
      </div>
    </div>

    <div class="js-name-address-collection-wrapper mt-2" <%= "hidden" if hide_name_address_collection_wrapper? %>>
      <%= render Billing::Settings::NameAddressFormComponent.new(
        target: user,
        payment_flow_loaded_from: "COPILOT",
        return_to: return_to_path,
      ) %>
    </div>
  <% end %>

  <%= render Billing::Settings::BillingInformationLinkingComponent.new(
    actor: current_user,
    target: user,
    display_title: false,
    form_loaded_from: "COPILOT",
    return_to_path: return_to_path,
    no_redirect: true,
    autocheck_link_checkbox: org_has_no_linked_info_but_user_has_saved_info?
  ) %>

  <%= render Copilot::PaymentMethodComponent.new(
    user: user,
    payment_method: payment_method,
    payment_duration: payment_duration,
    return_to_path: payment_return_to_path,
    subscribe_path: subscribe_path,
    success_path: payment_success_path,
    show_contact_info: show_contact_info
  ) %>

  <%= render Copilot::TradeScreeningCannotProceedComponent.new(user: user) %>
</div>
