<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag form_path, method: "get", :class => "mt-5 container-md" do %>
  <div class="d-flex flex-wrap">
    <% session[:utm_memo]&.each do |key, value| %>
      <%= hidden_field_tag key, value %>
    <% end %>

    <% businesses.each_with_index do |business, i| %>
      <label for="<%= "#{business_type}_#{business}" %>" class="pr-2 pb-2 col-md-6 col-sm-12">
        <%= render Primer::Box.new(
          border: true,
          p: 3,
          display: :flex,
          align_items: :center,
          h: :full,
          border_radius: 2, classes: "cursor-pointer copilot-signup-business-selection-box") do %>
            <div class="form-checkbox my-2">
              <%= radio_button_tag business_type, business.display_login, i == 0 %>
            </div>
              <span class="mr-3 ml-1">
                <%= render(GitHub::AvatarComponent.new(actor: business, size: 40)) %>
              </span>

              <div class="flex-auto">
                <span class="h3 wb-break-word color-fg-accent"><%= business.safe_profile_name.truncate(40) %></span>
                <p class="text-normal mb-0 color-fg-subtle"><%= business.members_count %> member<%= business.members_count > 1 ? 's' : '' %></p>
              </div>
        <% end %>
      </label>
    <% end %>
    <% already_signed_up_businesses.each_with_index do |business, i| %>
      <label for="<%= "#{business_type}_#{business}" %>" class="pr-2 pb-2 col-md-6 col-sm-12">
        <%= render Primer::Box.new(
          border: true,
          p: 3,
          display: :flex,
          align_items: :center,
          h: :full,
          border_radius: 2, classes: "copilot-signup-business-selection-box") do %>
            <div class="form-checkbox my-2">
              <%= radio_button_tag business_type, business.display_login, false, disabled: true %>
            </div>
              <span class="mr-3 ml-1">
                <%= render(GitHub::AvatarComponent.new(actor: business, size: 40)) %>
              </span>

              <div class="flex-auto">
                <span class="h3 wb-break-word color-fg-accent"><%= business.safe_profile_name.truncate(40) %></span>
                <p class="text-normal mb-0 color-fg-subtle">This <%= business_type_name %> is already subscribed.</p>
              </div>
        <% end %>
      </label>
    <% end %>
  </div>
  <div class="d-flex">
    <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit, disabled: businesses.empty?, ml: :auto, mt: 2, mr: 2) do %>
      Continue
    <% end %>
  </div>
<% end %>
