<div class="clearfix">
  <% if account_type == "Personal" %>
    <hr>
    <%= render(Primer::Beta::Text.new(tag: :h3, font_weight: :bold, mb: 3, classes: "h4")) { "Contact Infomation" } %>
    <div class="FormControl-horizontalGroup">
      <dl class="form-group mb-0 required">
        <dt class="input-label">
          <%= f.label "user_contact_info[first_name]", _("First Name"), class: "error-label-transition", required: true %>
        </dt>
        <dd>
          <%= f.text_field "user_contact_info[first_name]",
            required: true,
            autofocus: true,
            class: "form-control input-block width-full error-border-transition js-validity-check",
            placeholder: _("First name")
          %>
        </dd>
      </dl>
      <dl class="form-group mb-0 required">
        <dt class="input-label">
          <%= f.label "user_contact_info[last_name]", _("Last Name"), class: "error-label-transition", required: true %>
        </dt>
        <dd>
          <%= f.text_field "user_contact_info[last_name]",
            required: true,
            autofocus: true,
            class: "form-control input-block width-full error-border-transition js-validity-check",
            placeholder: _("Last name")
          %>
        </dd>
      </dl>
    </div>

    <dl class="col-6 form-group mb-0 required">
      <dt class="input-label">
        <%= f.label "user_contact_info[email]", _("Your primary email address"), class: "required mb-1 error-label-transition", required: true %>
      </dt>
      <dd>
        <%= f.email_field "user_contact_info[email]",
          required: true,
          class: "form-control input-block width-full error-border-transition js-validity-check",
          placeholder: user.primary_user_email.email,
          value: user.primary_user_email.email,
          pattern: UserEmail::MarketingDependency::EMAIL_PATTERN_JS
        %>
      </dd>
    </dl>

    <dl class="form-group mb-0 required">
      <dt class="input-label">
        <%= f.label "user_contact_info[country]", _("Country"), class: "mb-1", required: true, for: "consent-experience-country-select" %>
      </dt>
      <dd>
        <%= f.select "user_contact_info[country]", ::TradeControls::Countries.marketing_targeted_countries.map { |name, alpha, _, _| [name, alpha] },
          {prompt: "Choose your country", required: true},
          class: "form-control input-block width-full js-consent-experience-country-select",
          id: "consent-experience-country-select"
        %>
      </dd>
    </dl>

    <%= render_react_partial name: "consent-experience", ssr: true, props: {
      fieldName: "user_contact_info[marketing_consent]",
      countryFieldSelector: ".js-consent-experience-country-select",
      privacyStatementHref: GitHub.privacy_statement_url,
      exampleFields: ["full name", "company", "email"],
      hasPhone: false,
      formControlClass: "form-checkbox mb-0",
      noticeClass: "mt-3 mb-0"
    } %>

  <% end %>
</div>
