<div style="<%= @fullscreen ? "min-height: 80vh; background-color: #000; padding-bottom: 48px": "" %>">
  <%= render(Site::SectionComponent.new(theme: :dark, class: "overflow-hidden px-3 px-md-0 position-relative", style: "background-color: #000" )) do %>
    <%= render(Primer::Box.new(classes: "hero-graphic-container")) do %>
      <%= render(Primer::Alpha::Image.new(src: image_path("modules/copilot/copilot-enterprise-background-image.jpg"), alt: "GitHub Copilot Background Graphic", classes: "hero-graphic-enterprise")) %>
    <% end %>
    <%= render(Primer::Box.new(display: :flex, direction: :column, align_items: :center, w: :full, bg: :transparent, p: 4, position: :relative, text_align: :center)) do %>
      <%= render(Primer::Alpha::Image.new(src: image_path("modules/copilot/copilot-enterprise-badge.png"), alt: "GitHub Copilot Logo", height: 200, width: 200, mt: -6 )) %>
      <%= render(Primer::Beta::Heading.new(tag: :h1, test_selector: "copilot_signup_heading", mt: -4)) do %>
        <%= heading %>
      <% end %>
      <%= render(Primer::Beta::Heading.new(tag: :h2, font_size: 4, test_selector: "copilot_signup_subheading")) do %>
        <%= subheading %>
      <% end %>
    <% end %>
  <% end %>
  <%= render(Primer::Box.new) do %>
    <%= render(Primer::Box.new(test_selector: "copilot_signup_main")) do %>
      <%= main %>
    <% end %>
  <% end %>
</div>
