<% avatar_content = capture do %>
  <%= link_to(avatar_href, class: "d-inline-block no-wrap color-fg-default text-bold no-underline") do %>
    <%= image_tag owner.primary_avatar_url(36), alt: "@#{owner.display_login}", width: 16, height: 16, class: helpers.avatar_class_names(owner) %>
    <%= owner.display_login %>
  <% end %>
<% end %>

<div class="Box p-3 color-bg-subtle mb-4">
  <h2 class="f4 mt-0">Accept the Marketplace Developer agreement to create your Copilot Extension</h2>
  <%= form_tag gh_settings_apps_sign_agreement_path(integration), method: :post do %>
    <div class="form-checkbox mb-0">
      <label class="text-normal d-block mb-3" for="accept_agreement">
        <input required type="checkbox" name="accept" value="true" id="accept_agreement">
        By clicking "Accept Terms" below, you agree to the
        <%= link_to "GitHub Marketplace Developer Agreement", Copilot::EXTENSIONS_AGREEMENT, class: "Link--inTextBlock" %>
        and <%= link_to "Pre-release License terms", Copilot::PRE_RELEASE_TERMS, class: "Link--inTextBlock" %>
        on behalf of
        <% case owner %>
        <% when Business %>
          the <%= avatar_content %> enterprise.
        <% when Organization %>
          the <%= avatar_content %> organization.
        <% when User %>
          <%= avatar_content %>.
        <% end %>
        Please check to make sure that you are agreeing to these terms on behalf of the correct account.
      </label>
      <%= render Primer::Beta::Button.new(type: :submit, "data-disable-with": "Saving...", "data-disable-invalid": "", scheme: :primary) do %>
        Accept Terms
      <% end %>
    </div>
  <% end %>
</div>
