<div <%= test_selector "get-started-with-copilot-component" %>>
  <%= render Primer::Box.new(mb: 2) do %>
    <%= render(Primer::Beta::Octicon.new(:copilot, size: :small)) %>
    <strong><%= component_subtitle %>.</strong>
  <% end %>

  <%= render Primer::Beta::Text.new(tag: :p, mb: 3, color: :muted, font_weight: :light) do %>
    Select your IDE and follow the easy steps to get started with your AI pair-programmer.
  <% end %>

  <%= render Primer::Box.new do %>
    <% tools.each do |tool| %>
      <%= render(Primer::Beta::Button.new(
        scheme: :default,
        tag: :a,
        mr: 1,
        target: "_blank",
        href: helpers.docs_url("copilot/get-started-with-copilot", query: {tool: tool[:id]}, fragment: tool[:anchor_id]),
        "aria-label": "Click to view docs for #{tool[:name]}",
        data: analytics_click_attributes(
          category: "copilot_settings",
          action: "click_to_view_docs_copilot",
          label: "ref_cta:#{tool[:id]};ref_loc:get_started_with_copilot;"
        )
      )) { tool[:name] } %>
    <% end %>
  <% end %>

  <%= render(Hydro::TrackViewComponent.new(
    name: "copilot_settings/get_started_with_copilot#{"_for_business" if copilot_user.has_cfb_access?}"
  )) %>
</div>
