<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="border-top py-3 js-payment-methods-wrapper" <%= test_selector("payment-method") %>>
  <h4 class="mb-3">Payment method</h4>
  <%= render Billing::Settings::PaymentMethodFormComponent.new(
    target: user,
    new_name_address_design: true,
    signature_view_context: Billing::Zuora::HostedPaymentsPage::COPILOT_SIGNATURE_VIEW_CONTEXT,
    return_to: return_to_path || copilot_signup_billing_url(
      payment_duration: payment_duration,
      utm_source: request.query_parameters[:utm_source],
      utm_medium: request.query_parameters[:utm_medium],
      utm_campaign: request.query_parameters[:utm_campaign],
      utm_term: request.query_parameters[:utm_term],
      utm_content: request.query_parameters[:utm_content],
      new_signup: request.query_parameters[:new_signup],
      ),
  ) %>
  <div class="form-group m-0">
    <input type="reset" value="Cancel" class="btn js-sponsors-cancel-edit-payment-method-btn" hidden>
  </div>
<div class= "<%= "border-top" if user.organization? || user.business? %>" >
  <% if user.payment_method&.valid_payment_token? %>
    <% if user.organization? || user.business? %>
      <p class="text-small mt-3 mb-2">Your existing agreement with GitHub governs your use of GitHub Copilot. See the GitHub Copilot Product Specific Terms
        <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_SPECIFIC_TERMS , underline: false, classes: "Link--inTextBlock")) { "here" } %>.
        If you require invoices <%= render(Primer::Beta::Link.new(href: Copilot::CONTACT_SALES_TEAM , underline: false, classes: "Link--inTextBlock")) { "contact our sales team" } %>.
      </p>
    <% end %>
    <% if user.organization? %>
      <%= form_with(url: copilot_business_signup_organization_signup_url, method: :post) do |f| %>
        <input type="hidden" name="org" value="<%=user.display_login%>">
        <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit, w: :full, mt: 3)) { "Confirm and configure seats" } %>
      <% end %>
    <% elsif user.business? %>
      <%= form_with(url: success_path || copilot_business_signup_enterprise_policy_url, method: :get) do |f| %>
        <input type="hidden" name="enterprise" value="<%=user.slug%>">
        <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit, w: :full, mt: 3)) { "Continue to policies" } %>
      <% end %>
    <% else %>
      <%= form_with(url: subscribe_path) do |f| %>
        <input type="hidden" name="payment_duration" value="<%=payment_duration%>">

        <% if GitHub::flipper[:marketing_forms_api_integration_copilot_trial].enabled?(current_user) %>
          <%= render Copilot::ContactInfoComponent.new(user: current_user, form: f, show_contact_info: show_contact_info) %>
        <% end %>

        <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit, w: :full, mt: 3)) { "Submit" } %>
    <% end %>
  <% end %>
<% end %>
