<div class="d-flex flex-wrap mb-2">
  <strong>
    <%= render(Primer::Beta::Octicon.new(:copilot, size: :small)) %>
    <span class="ml-1">
      <% if copilot_business.feature_enabled?(:copilot_mixed_licenses) %>
        <%= "Copilot is active in your enterprise" %>
      <% else %>
        <%= current_plan %> is <%= "not " if copilot_business.copilot_disabled? %>active in your enterprise
      <% end %>
    </span>
  </strong>

  <% if copilot_business.can_upgrade_to_copilot_enterprise? && !copilot_business.feature_enabled?(:copilot_mixed_licenses) %>
    <%= render(Primer::Alpha::Dialog.new(
      title: "Purchase Copilot Enterprise",
      visually_hide_title: true,
      size: :large,
      id: "copilot-plan-settings-component",
      position: :center,
      h: :fit
    )) do |component| %>
      <% component.with_show_button(scheme: :link, ml: :auto, font_weight: :normal) do %>
        Purchase Copilot Enterprise
      <% end %>
      <% component.with_header(show_divider: false, display: :none) %>
      <% component.with_body(p: 0) do %>
        <%= render(Primer::Alpha::Image.new(src: image_path("modules/copilot/copilot-enterprise-background-with-badge.jpeg"),
          alt: "GitHub Copilot Background Graphic",
          w: :full,
          style: "height: 200px; object-fit: cover; object-position: center;")) %>

        <div class="p-3 pb-4">
          <h4 class="lh-condensed">Upgrade to Copilot Enterprise to benefit from new features</h4>
          <p class="mt-2">Fine-tune your organization's software development cycle by establishing personalized AI workflows for your organizations
            with <%= link_to "Copilot Enterprise", "Copilot::COPILOT_FOR_ENTERPRISE_DOCUMENTATION", class: "Link--inTextBlock" %>.
            Each purchased seat is $39/month.</p>

          <h5 class="mt-3 lh-condensed">Everything in Business, plus:</h5>

          <div class="mt-2 d-flex flex-column flex-lg-row gap-2">
            <ul class="col-lg-6 d-flex flex-column gap-2 list-style-none">
              <li>
                <%= render(Primer::Beta::Octicon.new(icon: :check, color: :muted)) %>
                <span>Copilot in the entire GitHub Platform</span>
              </li>
              <li>
                <%= render(Primer::Beta::Octicon.new(icon: :check, color: :muted)) %>
                <span>Conversational documentation search</span>
              </li>
              <li>
                <%= render(Primer::Beta::Octicon.new(icon: :check, color: :muted)) %>
                <span>Summarization skills for pull requests</span>
              </li>
              <li>
                <%= render(Primer::Beta::Octicon.new(icon: :check, color: :muted)) %>
                <span>Code explanations and diff analysis</span>
              </li>
            </ul>
            <ul class="col-lg-6 d-flex flex-column gap-2 list-style-none">
              <li>
                <%= render(Primer::Beta::Octicon.new(icon: :check, color: :muted)) %>
                <span>Chat support for general coding questions</span>
              </li>
              <li>
                <%= render(Primer::Beta::Octicon.new(icon: :check, color: :muted)) %>
                <span>Repository-based semantic search</span>
              </li>
              <li>
                <%= render(Primer::Beta::Octicon.new(icon: :check, color: :muted)) %>
                <span>Bing integration</span>
              </li>
              <li class="d-flex flex-items-center gap-1">
                <%= render(Primer::Beta::Octicon.new(icon: :check, color: :muted)) %>
                <span>
                  Fine-tuned models <%= render(Primer::Beta::Label.new) { "Coming soon" } %>
                </span>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
      <% component.with_footer(show_divider: false) do %>
        <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "copilot-plan-settings-component" })) { "Cancel" } %>
        <%= render Primer::Beta::Button.new(tag: :a, href: copilot_enterprise_signup_payment_path(enterprise: copilot_business.business_object), scheme: :primary) do %>
          Continue to billing summary
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
