<% if business.feature_enabled?(:copilot_mixed_licenses) %>
  <div class="d-flex flex-wrap mb-3" style="gap: 16px">
    <div class="border rounded-2 p-3 flex-1" style="min-width: 20em">
      <p class="text-bold">Business seats assigned</p>
      <p class="f2" id="copilot-business-enabled-member-count"><%= copilot_business_seats_count %></p>
      <p class="text-small color-fg-muted">
        Unique seats assigned for <%= link_to "Business licenses", Copilot::COPILOT_FOR_BUSINESS_DOCUMENTATION, class: "Link--inTextBlock" %>.<br>
        Each seat is $19/month.</p>
    </div>
    <div class="border rounded-2 p-3 flex-1" style="min-width: 20em">
      <p class="text-bold">Enterprise seats assigned</p>
      <p class="f2" id="copilot-enterprise-enabled-member-count"><%= copilot_enterprise_seats_count %></p>
      <p class="text-small color-fg-muted">
        Unique seats assigned for <%= link_to "Enterprise licenses", Copilot::COPILOT_FOR_ENTERPRISE_DOCUMENTATION, class: "Link--inTextBlock" %>.<br>
        Each seat is $39/month.</p>
    </div>
    <div class="border rounded-2 p-3 flex-1" style="min-width: 20em">
      <p class="text-bold">Estimated monthly cost</p>
      <p class="f2" id="copilot-estimated-monthly-cost">$<%= copilot_business.total_cost %></p>
      <p class="text-small color-fg-muted">
        The total cost of unique seats assigned. <br>
        <%= link_to "Review billing details", settings_billing_enterprise_path(business), class: "Link--inTextBlock" %>.</p>
    </div>
  </div>
<% else %>
  <div class="d-flex flex-wrap mb-3" style="gap: 16px">
    <div class="border rounded-2 p-3 flex-1" style="min-width: 20em">
      <p class="text-bold">Total seats assigned</p>
      <p class="f2" id="enabled-member-count"><%= copilot_business.copilot_enabled_members_count %></p>
      <p class="text-small color-fg-muted">Number of unique seats across enterprise account.</p>
    </div>
    <div class="border rounded-2 p-3 flex-1" style="min-width: 20em">
      <div class="d-flex">
        <p class="flex-1 text-bold">Estimated monthly cost</p>
        <%= link_to "View billing", billing_overview_path %>
      </div>
      <p class="f2" id="estimated-cost"><%= number_to_currency(estimated_cost) %></p>
      <p class="text-small color-fg-muted">Estimated cost based on <%= copilot_business.copilot_plan.capitalize %> plan.</p>
    </div>
  </div>
<% end %>
