<% content_for :head do %>
  <%= stylesheet_bundle 'signup_copilot' %>
<% end %>

<%= render(Primer::Box.new(
  bg: :subtle,
  border: true,
  border_radius: 3,
  classes: "start-copilot-banner",
  mb: 4,
  "data-color-mode": active_color_mode.name
)) do %>
  <div class="container-lg clearfix px-4 pt-4 pb-3" <%= test_selector "start-copilot-banner-component" %>>
    <%= render(Primer::Beta::Heading.new(tag: :h2, pb: 2, classes: "copilot-typing")) do %>
      Your AI Pa<span class="copilot-text-prediction">ir Programmer</span>
    <% end %>
    <div class="col-lg-6 float-left">
      <p class="color-fg-muted pb-3">
        Trained on billions of lines of code,
        <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_LEARN_MORE_PAGE, classes: "Link--inTextBlock")) { "GitHub Copilot" } %>
        turns natural language prompts into coding suggestions across dozens of languages.
      </p>
      <div class="d-flex">
        <%= render(Primer::Beta::Button.new(
          "aria-label": "go to the copilot signup page",
          href: copilot_signup_path,
          role: :link,
          tag: :a,
          data: {
            **analytics_click_attributes(
              category: "copilot_settings",
              action: eligible_for_trial ? "click_to_trial_copilot" : "click_to_buy_copilot",
              label: "ref_cta:#{eligible_for_trial ? "start_a_free_trial" : "buy_copilot_for_individuals"};ref_loc:copilot_for_individuals_banner;"
            )
          }
        )) do %>
          <% eligible_for_trial ? "Start free trial" : "Buy Copilot" %>
        <% end %>
        <%= render(Primer::Beta::Text.new(tag: :p, color: :muted, ml: 2, pt: 1, classes: "trial-button-info")) do %>
          <% eligible_for_trial ? "After that $10/month" : "$10/month" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
