<copilot-summarize-banner hidden
  <% if websocket_channel %>
    class="js-socket-channel"
    data-channel="<%= websocket_channel %>"
  <% end %>
>
  <div
    class="flex-shrink-0 flex-row mb-4 px-3 pt-2 pb-2 bgColor-muted border rounded-2"
    <%= test_selector(@test_selector) %>
  >
    <h2 class="f5 d-flex flex-items-center flex-justify-between">
      <span class="d-flex flex-items-center gap-2">
        <span data-target="copilot-summarize-banner.copilotBadge">
          <%= render(Copilot::BadgeComponent.new) %>
        </span>
        <span data-target="copilot-summarize-banner.loadingCopilotBadge" hidden>
          <%= render(Copilot::BadgeComponent.new(state: :loading)) %>
        </span>
        <span data-target="copilot-summarize-banner.errorCopilotBadge" hidden>
          <%= render(Copilot::BadgeComponent.new(state: :error)) %>
        </span>
        <span class="text-bold">Copilot</span>
        <span data-target="copilot-summarize-banner.newUpdatesIndicator" class="mr-n1" hidden>
          <%= render(Primer::Beta::Octicon.new(icon: "dot-fill", color: :accent)) %>
        </span>
        <span
          data-target="copilot-summarize-banner.descriptiveText"
          class="fgColor-muted text-normal"
          data-loading-text="Copilot is generating"
          data-error-text="Something went wrong"
          data-complete-text="Summary up to date"
          data-new-updates-text="New updates available"
          data-cache-hit-text="Summarized"
        ><%= description %></span>
        <relative-time
          tense="past"
          hidden
          class="fgColor-muted text-normal ml-n1"
          data-target="copilot-summarize-banner.summarizationTimeLabel"
        ></relative-time>
        <%= render Primer::Beta::Button.new(
          scheme: :invisible,
          size: :medium,
          data: {
            action: "click:copilot-summarize-banner#summarize",
            target: "copilot-summarize-banner.regenerateButton",
          },
          hidden: true
        ).with_content("Regenerate") %>
      </span>
      <span class="d-flex flex-items-center gap-2">
        <%= render Primer::Beta::Button.new(
          size: :small,
          data: {
            action: "click:copilot-summarize-banner#summarize",
            target: "copilot-summarize-banner.summarizeButton",
            path: summary_path,
          },
          "data-retry-text": "Try again",
        ).with_content("Summarize") %>
        <span
          <%= test_selector("summary-visibility-text") %>
          class="f5 fgColor-muted text-normal"
          data-target="copilot-summarize-banner.visibilityText"
          hidden
        >
          <%= render(Primer::Beta::Octicon.new(:eye, size: :small)) %> Visible only to you
        </span>
        <% if show_feedback_discussion_link? %>
          <%= render Primer::Beta::Link.new(
            href: feedback_discussion_url,
            "data-target": "copilot-summarize-banner.earlyAccessLabel",
            hidden: true,
          ) do %>
            <%= render Primer::Beta::Label.new(scheme: :accent).with_content("Staff ship") %>
          <% end %>
        <% else %>
          <%= render Primer::Beta::Label.new(
            scheme: :success,
            "data-target": "copilot-summarize-banner.earlyAccessLabel",
            hidden: true,
          ).with_content("Alpha") %>
        <% end %>
      </span>
    </h2>
    <div data-target="copilot-summarize-banner.skeletonText" class="mt-1 mb-2 f5" hidden>
      <div class="Skeleton Skeleton--text" style="width:100%; background-color: var(--bgColor-neutral-muted);">&nbsp;</div>
      <div class="Skeleton Skeleton--text" style="width:100%; background-color: var(--bgColor-neutral-muted);">&nbsp;</div>
      <div class="Skeleton Skeleton--text" style="width:89%; background-color: var(--bgColor-neutral-muted);">&nbsp;</div>
    </div>
    <div <%= test_selector("copilot-summary-results") %> class="mt-1 mb-2 f5 markdown-body" data-target="copilot-summarize-banner.results" hidden></div>
    <div class="d-flex flex-items-center">
      <div class="mb-1 d-flex flex-items-center" data-target="copilot-summarize-banner.feedback" hidden>
        <%= render Primer::Beta::IconButton.new(
          scheme: :invisible,
          "aria-label": "Rate this summary as helpful",
          icon: :thumbsup,
          size: :small,
          "data-target": "copilot-summarize-banner.positiveFeedbackButton",
          "data-action": "click:copilot-summarize-banner#submitPositiveFeedback",
          "data-path": feedback_path,
        ) %>
        <%= render Primer::Alpha::Dialog.new(
          title: "Provide additional feedback",
          "data-target": "copilot-summarize-banner.negativeFeedbackDialog",
          size: :medium_portrait,
        ) do |dialog| %>
          <% dialog.with_header(show_divider: true) %>
          <% dialog.with_show_button(
            icon: :thumbsdown,
            size: :small,
            scheme: :invisible,
            "aria-label": "Rate this summary as not helpful",
            "data-target": "copilot-summarize-banner.negativeFeedbackButton",
          ) %>
          <% dialog.with_body(pt: 3) do %>
            <%= primer_form_with(
              url: feedback_path,
              data: { target: "copilot-summarize-banner.negativeFeedbackForm" },
            ) do |form| %>
              <%= render NegativeFeedbackForm.new(form,
                negative_feedback_labels: negative_feedback_labels,
                show_freeform_text_field: user_feedback_opt_in_enabled?,
              ) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= render Primer::Beta::ClipboardCopyButton.new(
        id: "clipboard-copy-#{summary_path}",
        "aria-label": "Copy summary",
        data: {
          target: "copilot-summarize-banner.clipboardCopy",
        }.merge(clipboard_copy_hydro_attributes),
        value: "",
        hidden: true,
        scheme: :invisible,
        size: :small,
        color: :muted,
        mb: 1,
      ) do |copy_button| %>
        <% copy_button.with_tooltip(text: "Copy summary") %>
      <% end %>
    </div>
  </div>
</copilot-summarize-banner>
