<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<copilot-summarize-banner-staffbar-controls class="d-inline-block">
  <%= render Primer::Alpha::Dialog.new(
    title: "Copilot summary controls",
    test_selector: test_selector,
    data: { target: "copilot-summarize-banner-staffbar-controls.dialog" },
  ) do |dialog| %>
    <% dialog.with_show_button(scheme: :invisible, "aria-label": "Toggle Copilot summary controls") do %>
    <span class="color-text-white">
      <%= render Primer::Beta::Octicon.new(icon: :copilot, size: :small) %>
      <%= render Primer::Beta::Octicon.new(icon: :plus, size: :small, color: :muted) %>
      <%= render Primer::Beta::Octicon.new(icon: icon, size: :small) %>
    </span>
    <% end %>
    <% dialog.with_body do %>
      <%= primer_form_with(
        url: "#",
        data: { target: "copilot-summarize-banner-staffbar-controls.form" },
      ) do |form| %>
        <%= render SummaryOptionsForm.new(form, default_prompt: default_prompt) %>
      <% end %>
    <% end %>
  <% end %>
</copilot-summarize-banner-staffbar-controls>
