<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="<%= class_names("border-top" => show_title?) %> py-3">
  <%= render(Primer::Beta::Flash.new(scheme: trade_screening_error_data[:scheme])) do %>
    <% if show_title? %>
      <h4 class="h5">
        <%= render(Primer::Beta::Octicon.new(trade_screening_error_data[:icon])) %>
        You can't proceed with your payment
      </h4>
    <% end %>
    <div class="ml-5" <%= test_selector("trade-screening-message") %>>
      <%= trade_screening_error_data[:message] %>
    </div>
  <% end %>
</div>
