<%# rubocop:disable Lint/InstanceVariable %>
<% view = Stafftools::User::EmailsView.new(:user => this_user) %>

<% page_info :title => view.page_title %>

<div class="boxed-group">
  <h3>Duplicate emails</h3>
  <div class="boxed-group-inner">
    <ul class="boxed-group-list user-emails">
      <li>
        <span class="stafftools-email css-truncate">
          <span class="css-truncate-target">
            <%= this_user.login %>
          </span>
        </span>

        <%= this_user.email %>
      </li>
      <% @emails.each do |email| %>
        <li>
          <span class="stafftools-email css-truncate">
            <span class="css-truncate-target">
              <%= render(Primer::Beta::Link.new(href: stafftools_user_path(email.user), id: email.user.login)) do |link| %>
                <% link.with_tooltip(text: email.user.login) %>
                <%= email.user.login %>
              <% end %>
            </span>
          </span>

          <%= email %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
