<li class="Box-row py-0 px-0 border-0">
  <sidebar-memex-input
    update-url="<%= update_url %>"
    csrf-token="<%= authenticity_token %>"
    column-id="<%= field.id %>"
    instrument-type="sidebar"
  >
    <input data-targets="sidebar-memex-input.parameters" type="hidden" name="memexProjectItemId" value="<%= item.id %>">
    <input data-targets="sidebar-memex-input.parameters" type="hidden" name="memexProjectColumnValues[][memexProjectColumnId]" value="<%= field.id %>">

    <div
      class="Box-row--hover-gray rounded-2 py-2"
      tabindex="0"
      data-action="keydown:sidebar-memex-input#keyDownFocus mousedown:sidebar-memex-input#mouseDownFocus"
    >
      <div class="text-normal px-1">
        <div class="form-group-header color-fg-muted d-flex" data-action="mousedown:sidebar-memex-input#mouseDownFocusHeader">
          <label class="flex-1 text-normal"><%= sanitize field.name %></label>
          <% if !readonly %>
            <div><%= render Primer::Beta::Octicon.new(icon: :pencil) %></div>
          <% end %>
        </div>
        <div class="form-group-body">
          <%= render component %>
        </div>
      </div>
    </div>
 </sidebar-memex-input>
</li>
