<%
  placeholder = "Enter text ..."
  text_value = html || placeholder
%>

<% if readonly %>
  <%= render Primer::Beta::Text.new(
    system_arguments: { px: 0, py: 1, w: :full, color: :muted, test_selector: "text_input_readonly" }
  ) do %>
    <%= text_value %>
  <% end %>
<% else %>
  <div class="write-content js-write-bucket">
    <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
      <input
        type="text"
        class="width-full form-control input-sm"
        name="memexProjectColumnValues[][value]"
        placeholder="<%= placeholder %>"
        data-target="sidebar-memex-input.read"
        data-action="
          blur:sidebar-memex-input#onBlur
          keydown:sidebar-memex-input#onKeyDown
          change:sidebar-memex-input#onChange
        "
        value="<%= raw %>"
        required
        disabled
      >
      <div
        class="width-full form-control input-sm"
        contenteditable=false
        data-target="sidebar-memex-input.write"
      >
        <%= text_value %>
      </div>
    </text-expander>
  </div>
<% end %>
