<%= render Primer::Box.new(mb: 3, clearfix: true) do %>
  <% unless projects_beta_splash_and_banner_disabled? %>
    <%= render Memex::ProjectsNewSplashComponent.new %>
  <% end %>
  <%= render Primer::Box.new(display: :flex, w: :full, direction: [:column, nil, nil, :row, nil]) do %>
    <%# Mobile responsive nav/learn more link design %>
    <% unless projects_beta_splash_and_banner_disabled? %>
      <%= render Memex::ProjectsNewBannerComponent.new(display: [:block, nil, nil, :none, nil]) %>
    <% end %>
    <%
      dropdown_navigation_component = Memex::IndexNavigationComponent.new(
        **@index_navigation_component_options,
        display_mode: :dropdown
      )
    %>
    <% if dropdown_navigation_component.render? %>
      <%= render Primer::Box.new(display: [:flex, nil, nil, :none, nil], mb: 3, flex: :auto, justify_content: :space_between, align_items: :flex_end, flex_wrap: :wrap, style: "gap: 16px") do %>
        <%= render dropdown_navigation_component %>
      <% end %>
    <% end %>

    <%# Desktop responsive nav/learn more link %>
    <%
      list_navigation_component = Memex::IndexNavigationComponent.new(
        **@index_navigation_component_options,
        display_mode: :list,
      )
    %>
    <% if list_navigation_component.render? %>
      <%= render Primer::Box.new(display: [:none, nil, nil, :block, nil], col: 3, pr: [nil, nil, nil, 4, 5]) do %>
        <%= render list_navigation_component %>
      <% end %>
    <% end %>
    <%= render Primer::Box.new(col: [12, nil, nil, 8, nil], flex: :auto, position: :relative) do %>
      <% unless projects_beta_splash_and_banner_disabled? %>
        <%= render Memex::ProjectsNewBannerComponent.new(display: [:none, nil, nil, :block, nil]) %>
      <% end %>
      <% if @display_legacy_org_warning %>
        <div <%= test_selector("projects_legacy_org_warning") %> class="js-notice">
          <%= render(Primer::Box.new(mb: 3)) do %>
            <div class="flash-warn p-3 border rounded-3">
              <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                  <div class="flex-auto pr-lg-3 pr-1">
                    <%= render(Primer::Beta::Octicon.new(icon: :info)) %>
                    The new Projects helps your teams plan and visualize work as tables or boards and filter, sort,
                    and group issues and pull requests. This capability will be available for GitHub Free, Team and
                    Enterprise plans, we're happy to share temporary access for legacy plans.
                  </div>
                  <%= form_tag org_memex_dismiss_legacy_org_banner_path(@project_owner), method: :put, class: "js-notice-dismiss" do %>
                    <%= render(Primer::Beta::CloseButton.new(type: :submit)) %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= content %>
    <% end %>
  <% end %>
<% end %>
