<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% unique_id_suffix = classes.blank? ? "default" : "responsive" %>
<% if disable_classic_project_creation %>
  <div class="<%= classes %>" <%= test_selector("new-project-beta-button") %>>
    <%= form_for :memex_project, url: new_memex_path, method: :post, "data-turbo": false do |f| %>
      <%= hidden_field_tag :action, "create" %>
      <%= f.hidden_field :title, value: MemexProject.default_user_title(current_user) %>
      <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, font_size: 5, classes: "ws-normal no-underline", display: [:block, nil, :inline_block], test_selector: "new-project-button") do %>
        New project
      <% end %>
    <% end %>
  </div>
<% else %>
  <details class="<%= classes %> details-reset details-overlay d-inline-block position-relative">
    <%= render(Primer::ButtonComponent.new(tag: :summary, scheme: :primary, display: [:block, nil, :inline_block], text_align: :center, "aria-haspopup": true, "data-test-selector": "new-project-button")) do %>
      New project
      <div class="dropdown-caret"></div>
    <% end %>
    <div class="SelectMenu right-0">
      <div class="SelectMenu-modal">
        <div class="SelectMenu-list" role="menu">
          <%= form_for :memex_project, url: new_memex_path, method: :post, html: { role: "menuitem" }, class: "SelectMenu-item p-3 pb-1 d-flex no-underline" do |f| %>
            <%= hidden_field_tag :action, "create", id: "action-#{unique_id_suffix}" %>
            <%= f.hidden_field :title, value: MemexProject.default_user_title(current_user), id: "title-#{unique_id_suffix}" %>
            <div class="mr-1 mt-1 flex-self-start" <%= test_selector("new-project-beta-button") %>>
              <%= render(Primer::Beta::Octicon.new(icon: "table", color: :muted)) %>
            </div>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, ml: 2, text_align: :left, font_size: 5, underline: false, classes: "ws-normal") do %>
              <div class="text-left">
                <span class="color-fg-default text-bold">
                  Create new project
                </span>
              </div>
              <span class="text-normal color-fg-muted wb-break-word">
                Plan and track work across repositories with custom fields and&nbsp;multiple views
              </span>
            <% end %>
          <% end %>
          <a role="menuitem" class="SelectMenu-item p-3 pb-1 d-flex ws-normal no-underline" href="<%= new_classic_project_path %>" <%= test_selector("new-classic-project-button") %>>
            <div class="mr-1 mt-1 flex-self-start">
              <%= render(Primer::Beta::Octicon.new(icon: "project", color: :muted)) %>
            </div>
            <div class="ml-2 f5">
              <div class="text-left color-fg-default text-bold">
                <span>Create classic project</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </details>
<% end %>
