<memex-project-picker-panel>
  <% if team %>
    <%= render Primer::Alpha::Dialog.new(
      title: "Update team collaborator permissions",
      data: { target: "memex-project-picker-panel.linkInterstitial" }
    ) do |dialog| %>
      <% dialog.with_body do %>
        This team currently has no access permissions on this project. To provide access to the project, the team "<%= team.name %>" will be added as a collaborator with read permissions.
      <% end %>
      <% dialog.with_footer do %>
        <%= render(Primer::Beta::Button.new(data: { action: "click:memex-project-picker-panel#linkInterstitialClose" })) do %>
          Cancel
        <% end %>
        <%= render(Primer::Beta::Button.new(
          scheme: :primary,
          type: :submit,
          data: { target: "memex-project-picker-panel.linkInterstitialSubmitButton" }
        )) do %>
          Add team as collaborator
        <% end %>
      <% end %>
    <% end %>

    <%= render Primer::Alpha::Dialog.new(
      title: "Update team collaborator permissions",
      data: { target: "memex-project-picker-panel.unlinkInterstitial" }
    ) do |dialog| %>
      <% dialog.with_body do %>
        This team currently has access permissions to this project. If this project is removed, "<%= team.name %>" access will be revoked and the team will no longer be able to access the project.
      <% end %>
      <% dialog.with_footer do %>
        <%= render(Primer::Beta::Button.new(data: { action: "click:memex-project-picker-panel#unlinkInterstitialClose"})) do %>
          Cancel
        <% end %>
        <%= render(Primer::Beta::Button.new(
          scheme: :danger,
          type: :submit,
          data: { target: "memex-project-picker-panel.unlinkInterstitialSubmitButton" }
        )) do %>
          Remove team as collaborator
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(@select_panel) do |panel| %>
    <% panel.with_subtitle { description_text } %>
    <% if multiselect? %>
      <% panel.with_footer(show_divider: true) do %>
        <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary)) do %>
          Submit
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%# This template will be used for serializing the selection state of virtual-list entries %>
  <template data-target="memex-project-picker-panel.selectionTemplate">
    <input
      type="{{ type }}"
      hidden
      name="{{ name }}"
      checked="{{ checked }}"
      data-project-name="{{ projectName }}"
      data-project-number="{{ projectNumber }}"
      data-project-owner="{{ projectOwner }}" ><%# erblint:disable BooleanAttributes %>
  </template>
  <div hidden data-target="memex-project-picker-panel.submitContainer">
  </div>
</memex-project-picker-panel>
