<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# Desktop responsive mode %>
<%= render Primer::Box.new(display: [:none, nil, :block, nil, nil]) do %>
  <nav class="UnderlineNav" aria-label="Projects type">
    <div class="UnderlineNav-body" role="tablist">
      <% views.select { |_, (path, _, _)| path } .each do |id, (path, label, _, icon)| %>
        <%= selected_link_to path,
          tab_name: "projects", selected_link: selected_link, class: "UnderlineNav-item",
          "aria-selected": "#{selected_item_id == id}", role: "tab", "aria-label": label do %>
          <%= render Primer::Beta::Octicon.new(icon: icon, mr: 1) %>
            <%= render Primer::Beta::Text.new do %>
              <%= label %>
            <% end %>
        <% end %>
      <% end %>
    </div>
  </nav>
<% end %>

<%# Mobile responsive mode %>
<%= render Primer::Box.new(display: [:block, nil, :none, nil, nil]) do %>
  <details class="details-reset details-overlay">
    <%= render Primer::ButtonComponent.new(tag: :summary, "aria-haspopup": "true") do %>
      <%= render Primer::Box.new(display: :flex) do %>
        <%= render Primer::Box.new(flex: :auto, mr: 2) do %>
          <%= render Primer::Beta::Octicon.new(icon: views[selected_item_id][3], mr: 1)  %>
          <%= render Primer::Beta::Text.new do %>
            <%= views[selected_item_id][1] %>
          <% end %>
        <% end %>
        <%= render Primer::Box.new(align_self: :center, classes: "dropdown-caret") %>
      <% end %>
    <% end %>

    <details-menu class="SelectMenu" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <%= render Primer::Box.new(classes: "SelectMenu-modal") do %>
        <%= render Primer::Box.new(classes: "SelectMenu-list") do %>
          <% views.select { |_, (path, _, _)| path } .each do |id, (path, label, _, icon)| %>
            <a class="SelectMenu-item flex-justify-start" aria-checked="<%= id == selected_item_id %>" role="menuitemradio" href="<%= path %>">
              <%= render Primer::Beta::Octicon.new("check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
              <%= render Primer::Beta::Octicon.new(icon: icon, mr: 1) %>
              <%= render Primer::Beta::Text.new do %>
                <%= label %>
              <% end %>
            </a>
          <% end %>
        <% end %>
      <% end %>
    </details-menu>
  </details>
<% end %>
