<% page_info \
    container_xl: true,
    responsive: false,
    selected_link: :dependency_graph,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<% page_title "Dependencies · #{current_repository.name_with_display_owner}" %>

<%= render layout: "layouts/repository/insights" do %>

  <div id="dependencies">
    <%= render(Primer::Beta::Subhead.new) do |component| %>
      <% component.with_heading(tag: :h2) { "Dependency graph" } %>
    <% end %>

    <%= render partial: "network/dependency_tabs", locals: { selected_tab: :dependencies } %>

    <%= render Primer::Beta::Blankslate.new(border: true, spacious: true) do |component| %>
      <% component.with_visual_icon(icon: :hubot) %>
      <% component.with_heading(tag: :h3).with_content("We're struggling to load dependencies.") %>
      <% component.with_description do %>
        <%= link_to network_dependencies_path(current_repository.owner_display_login, current_repository) do %>
          Try again
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
