<% page_info \
    container_xl: true,
    responsive: true,
    selected_link: :dependency_graph,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<% page_title "Dependencies · #{current_repository.name_with_display_owner}" + (query.present? ? " · Search for #{query}" : "") %>

<%= render layout: "layouts/repository/insights" do %>

  <div id="dependencies">
    <%= render(Primer::Beta::Subhead.new) do |component| %>
      <% component.with_heading(tag: :h2) { "Dependency graph" }%>
    <% end %>

    <%= render partial: "network/dependency_tabs", locals: { selected_tab: :dependencies } %>

    <% if current_repository.dependency_graph_enabled? %>
      <% if current_repository.has_manifests? && !repository_has_snapshots %>
        <%= render partial: "network/dependency_submission_prompt" %>
      <% end %>
      <div class="mb-3">
        <%= form_tag "", method: :get do %>
          <%= render(
            Primer::Alpha::TextField.new(
              name: :q,
              placeholder: "Search all dependencies",
              label: "Search all dependencies",
              visually_hide_label: true,
              leading_visual: {
                icon: :search
              },
              value: query
            )
          ) %>
        <% end %>

        <% if query.present? %>
          <div class="issues-reset-query-wrapper mt-3">
            <%= link_to network_dependencies_path(current_repository.owner_display_login, current_repository), class: "issues-reset-query" do %>
              <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
              Clear current search query
            <% end %>
          </div>
        <% end %>
      </div>

      <% if results.empty? %>
        <% if query.present? %>
          <%= render partial: "network/dependencies/blankslates/no_search_results" %>
        <% else %>
          <%= render partial: "network/dependencies/blankslates/no_dependencies" %>
        <% end %>
      <% else%>
        <%= render(Primer::Beta::BorderBox.new) do |component| %>
          <% component.with_header(test_selector: "dg-repo-pkg-dependency_header", display: :flex) do %>
            <div class="text-bold" <%= test_selector "dependency-entries" %>>
              <%= render Primer::Beta::Octicon.new(icon: "package") %>
              <%= number_with_delimiter(results.total_entries) %> Total
            </div>
          <% end%>
          <% results.each do |result| %>
            <% component.with_row(test_selector: "dg-repo-pkg-dependency_row") do %>
              <%= render DependencyGraph::SearchResultComponent.new(
                search_result: result,
                alerts: alerts[result],
                package_repository: repositories_by_id[result.repository_id],
                repository: current_repository
              ) %>
            <% end %>
          <% end %>
        <% end %>

        <div class="paginate-container">
          <div class="pagination">
            <%= will_paginate(results) %>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= render partial: "network/dependencies/blankslates/dependency_graph_disabled" %>
    <% end %>
  </div>
<% end %>
