<%# erblint:counter DeprecatedComponentsCounter 4 %>
<% if @sponsors_fraud_reviews.any? %>
  <div class="mb-5">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Fraud reviews<% end %>
    <% end %>

    <%= render(Primer::Beta::BorderBox.new(classes: "js-details-container Details")) do |component| %>
      <% @sponsors_fraud_reviews.each_with_index do |review, index| %>
        <% component.with_row(classes: content_details_classes(index, review)) do %>
          <div class="d-flex flex-items-center" <%= test_selector("sponsor-fraud-review-#{review.id}") %>>
            <div class="markdown-body flex-auto">
              <%= review_state_icon(review) %>
              <span class="color-fg-muted text-small">
                <span class="text-bold"><%= "Review ##{review.id}" %></span>
                &bull; <%= review.state.titleize %>
                &bull; Queued on <%= created_at_date(review) %>
                <% if review.reviewer.present? %>
                  &bull; Reviewed by <%= profile_link(review.reviewer) %> on
                  <%= reviewed_at_date(review) %>
                <% end %>
              </span>
            </div>

            <div class="d-flex">
              <% if review.pending? %>
                <%= form_tag stafftools_sponsors_fraud_review_path(review), method: :put, class: "mr-2" do %>
                  <input type="hidden" name="state" value="resolved">
                  <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, size: :small, "data-disable-with": "Marking as resolved…") do %>
                    Resolve
                  <% end %>
                <% end %>
                <%= form_tag stafftools_sponsors_fraud_review_path(review), method: :put do %>
                  <input type="hidden" name="state" value="flagged">
                  <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, size: :small, "data-disable-with": "Marking as flagged…") do %>
                    Flag as fraudulent
                  <% end %>
                <% end %>
              <% else %>
                <%= form_tag stafftools_sponsors_fraud_review_path(review), method: :put do %>
                  <input type="hidden" name="state" value="pending">
                  <%= render Primer::ButtonComponent.new(type: :submit, size: :small, "data-disable-with": "Reverting to pending…") do %>
                    Revert to pending
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if should_expand_content? %>
          <% component.with_footer(classes: "Details-content--shown", test_selector: "expand-sponsor-fraud-reviews") do %>
            <%= render Primer::ButtonComponent.new(scheme: :link, type: :button, classes: "js-details-target notes-expander", "aria-expanded": "false") do %>
              <%= expand_content_to_shown %> more fraud
              <%= "review".pluralize(expand_content_to_shown) %>
              for <%= @sponsorable %> <%= "(#{expand_flagged_count} flagged as fraudulent)" if expand_flagged_count.positive? %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
