<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<div class="col-8 d-flex flex-auto">
  <div>
    <%= render Primer::Beta::Octicon.new(
      icon: state_icon,
      color: state_icon_color,
      mr: 2,
    ) %>
  </div>
  <div class="d-flex flex-column flex-auto">
    <a href="<%= stafftools_sponsors_member_path(sponsorable) %>" class="text-bold">
      <%= sponsorable_login %>
    </a>
    <span class="d-block">
      <% if matchable %>
        <%= render Primer::Beta::Label.new(title: "Label: matchable label", classes: "Label--pink") do %>
          Matchable
        <% end %>
      <% end %>
      <span class="color-fg-muted text-small">
        Queued on <%= created_at_date %>
        <% if reviewer.present? %>
          &bull; Reviewed by <%= profile_link(reviewer) %> on
          <%= reviewed_at_date %>
        <% end %>
      </span>
    </span>
  </div>
  <div class="col-4 d-flex flex-column flex-items-end flex-justify-end">
    <span class="color-fg-muted text-small" <%= test_selector("payout-probation-end-date") %>>
      <% if payout_probation_end_date_string.present? %>
        <%= payout_probation_end_date_string %>
      <% end %>
    </span>
    <span class="color-fg-muted text-small">
      <% if next_payout_date.present? %>
        Estimated next payout on <%= next_payout_date %>
      <% end %>
    </span>
  </div>
</div>
