<% page_info title: "Prepaid Metered Billing", selected_link: :stafftools_user_billing %>

<div class="boxed-group">
  <h3 class="flex-auto d-flex">
    <span class="flex-auto">
      <a href="<%= billing_stafftools_user_path(this_user) %>" class="Link--inTextBlock boxed-group-breadcrumb" data-pjax="true">Billing / </a>
      Prepaid Metered Billing
    </span>
  </h3>

  <div class="boxed-group-inner seamless">
    <% if view.total_entries > 0 %>
      <table class="boxed-group-table">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Zuora Rate Plan Charge</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% view.refills.each do |refill| %>
            <tr>
              <td><%= refill.formatted_amount %></td>
              <td><%= refill.zuora_rate_plan_charge_id %></td>
              <td>
                <% if refill.staff_created? %>
                  <%= button_to "Delete", stafftools_user_prepaid_metered_usage_refill_path(this_user, refill.id), method: :delete, data: { confirm: "Are you sure?" } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="paginate-container">
        <%= will_paginate view %>
      </div>
    <% else %>
      <div class="p-2 text-italic">
        There are no prepaid metered billing refills for <%= this_user.login %>.
      </div>
    <% end %>
  </div>
</div>
