<div class="d-flex flex-items-baseline">
  <h4> Personal Reminder </h4>
  <div class="text-small color-fg-muted pl-1 v-align-bottom px-2">
    <%= reminder.delivery_times_text %>
    <%= Time.now.in_time_zone(reminder.time_zone_name).formatted_offset %>
    (<%= reminder.time_zone_name %>)
  </div>
  <div style="margin-left:auto">
    ID: <%= reminder.id %>
  </div>
</div>
<br>
<div class='d-flex'  style="justify-content: space-around">
  <table>
    <tr>
      <td class="p-2 text-right"><b>Include Review Requests: </b></td>
      <td class="p-2 text-left"><%= bool_to_icon(reminder.include_review_requests) %></td>
    </tr>
    <tr>
      <td class="p-2 text-right"><b>Include Team Review Requests: </b></td>
      <td class="p-2 text-left"><%= bool_to_icon(reminder.include_team_review_requests) %></td>
    </tr>
  </table>
  <table>
    <tr>
      <td class="p-2 text-right"><b>Ignore after approval: </b></td>
      <td class="p-2 text-left"><%= reminder.ignore_after_approval_count %> approvals</td>
    </tr>
    <tr>
      <td class="p-2 text-right"><b>Reminder For: </b></td>
      <td class="p-2 text-left"><%= reminder.remindable.name %></td>
    </tr>
  </table>
</div>
