<div class="d-flex flex-items-baseline">
  <h4> #<%= reminder.slack_channel %> </h4>
  <div class="text-small color-fg-muted pl-1 v-align-bottom px-2">
    <%= reminder.delivery_times_text %>
    <%= Time.now.in_time_zone(reminder.time_zone_name).formatted_offset %>
    (<%= reminder.time_zone_name %>)
  </div>
  <div style="margin-left:auto">
    ID: <%= reminder.id %>
  </div>
</div>
<p class="color-fg-muted m-0">
  <%= reminder.description %>
</p>
<br>
<div class='d-flex'  style="justify-content: space-around">
  <table>
    <tr>
      <td class="p-2 text-right"><b>Minimum Age: </b></td>
      <td class="p-2 text-left"><%= reminder.min_age %> hours</td>
    </tr>
    <tr>
      <td class="p-2 text-right"><b>Include unassigned PRs: </b></td>
      <td class="p-2 text-left"><%= bool_to_icon(reminder.include_unassigned_prs) %></td>
    </tr>
    <tr>
      <td class="p-2 text-right"><b>Require Review Request: </b></td>
      <td class="p-2 text-left"><%= bool_to_icon(reminder.require_review_request) %></td>
    </tr>
    <tr>
      <td class="p-2 text-right"><b>Ignore after approval: </b></td>
      <td class="p-2 text-left"><%= reminder.ignore_after_approval_count %> approvals</td>
    </tr>
  </table>
  <table>
    <tr>
      <td class="p-2 text-right"><b>Minimum Staleness: </b></td>
      <td class="p-2 text-left"><%= reminder.min_staleness %> hours</td>
    </tr>
    <tr>
      <td class="p-2 text-right"><b>Needed Reviews: </b></td>
      <td class="p-2 text-left"><%= reminder.needed_reviews %></td>
    </tr>
    <tr>
      <td class="p-2 text-right"><b>Include Reviewed PRs: </b></td>
      <td class="p-2 text-left"><%= bool_to_icon(reminder.include_reviewed_prs) %></td>
    </tr>
    <tr>
      <td class="p-2 text-right"><b>Ignore Draft PRs: </b></td>
      <td class="p-2 text-left"><%= bool_to_icon(reminder.ignore_draft_prs) %></td>
    </tr>
  </table>
</div>
<br>
<div class="p-1">
  <span>Repositories:</span>
  <% if reminder.targetting_all_repos? %>
    <i>All Repositories</i>
  <% else %>
    <%= reminder.repository_links.map do |rl| -%>
      <% rl.repository.nwo %>
    <% end.join(', ') %>
  <% end %>
</div>
<div class="p-1">
  <span>Ignored Terms:</span>
  <% if reminder.ignored_terms.blank? %>
    <i>None</i>
  <% else %>
    <%= reminder.ignored_terms %>
  <% end %>
</div>
<div class="p-1">
  <span>Ignored Labels:</span>
  <% if reminder.ignored_labels.blank? %>
    <i>None</i>
  <% else %>
    <%= reminder.ignored_labels %>
  <% end %>
</div>
<div class="p-1">
  <span>Required Labels:</span>
  <% if reminder.required_labels.blank? %>
    <i>None</i>
  <% else %>
    <%= reminder.required_labels %>
  <% end %>
</div>
<div class="p-1">
  <span>Teams:</span>
  <% if reminder.teams.blank? %>
    <i>None</i>
  <% else %>
    <%= reminder.teams.map(&:ability_description).join(", ") %>
  <% end %>
</div
