<% if user.organization? %>
  <%= render "stafftools/users/reminders/scheduled_reminder_filter", user: user %>
<% else %>
  <%= render "stafftools/users/reminders/personal_reminder_filter", user: user %>
<% end %>

<hr>

<% if reminders_by_workspace.empty? %>
  <h2 class="text-center color-fg-muted p-4">
    <em>No Results</em>
  </h2>
<% else %>
  <% reminders_by_workspace.each do |workspace, workspace_reminders| %>
    <div class="Box my-2">
      <div class="Box-header">
        <h3 class="Box-title">
          <%= image_tag "modules/site/integrators/slackhq.png", alt: "Slack", height: 18, class: "v-align-middle mr-2", style: "margin-top: 1px" %>
          <%= workspace %>
        </h3>
      </div>
      <div class="Box-body clearfix">
        <% workspace_reminders.sort_by(&:id).each_with_index do |r, index| %>
          <% if r.is_a?(PersonalReminder) %>
            <%= render "stafftools/users/reminders/personal_reminder", reminder: r %>
          <% else %>
            <%= render "stafftools/users/reminders/scheduled_reminder", reminder: r %>
          <% end %>
          <% unless index == workspace_reminders.count - 1 %>
            <hr>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<div class='p-4 mx-auto'>
  <%= will_paginate paginated_reminders %>
</div>
