<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="Box-row p-3 session-device position-relative p-3 color-fg-muted">
  <!-- Activity indicator -->
  <%= view.session_status_indicator %>

  <a href="<%= settings_show_session_path(view.session_id) %>" class="btn btn-sm float-right mt-1">
    See more
  </a>

  <!-- Device type (Desktop/Mobile) -->
  <span class="color-fg-muted mx-3 float-left text-center tooltipped tooltipped-s" role="img" aria-label="<%= view.device_display_name %>"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
    <% if view.mobile? %>
      <%= primer_octicon(:"device-mobile", :height => 32) %>
    <% else %>
      <%= primer_octicon(:"device-desktop", :height => 32) %>
    <% end %>
  </span>

  <div>
    <!-- Location -->
    <strong class="d-block">
      <% if view.location.any? %>
        <%= view.location[:city] || view.location[:region_name] || view.location[:country_name] %>
      <% end %>
      <span><%= view.ip_address %></span>
    </strong>

    <!-- Gimme those dates -->
    <small class="color-fg-muted d-block">
      <% if view.current_session? %>
        Your current session
      <% else %>
        <%= view.accessed_text %>
        <time>
          <%= view.accessed_at.in_time_zone(Time.zone).strftime('%b %d, %Y') %>
        </time>
      <% end %>
    </small>

    <!-- Country List -->
    <% if view.location_information? %>
      <small class="color-fg-muted">
        Seen in <%= view.country_history %>
      </small>
    <% end %>
  </div>
</div>
