<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<% if view.two_factor_partial_sign_in? %>
  <p class="flash flash-full flash-warn">
    Two-factor authentication prevented the sign in attempt from being successful. Your password was entered correctly, but an authentication code was not entered correctly.
  <p>
<% end %>

<div class="Box-row p-3 session-device position-relative p-3 color-fg-muted">
  <!-- Activity indicator -->
  <%= view.session_status_indicator %>

  <!-- Revoke button -->
  <% if view.revoked? %>
    <button type="button" disabled class="btn btn-sm btn-danger text-center float-right mt-1">Revoke session</button>
  <% elsif view.revokable_session? %>
    <%= form_tag user_sessions_revoke_path(view.session_id), :method => :delete, "data-sudo-required" => "true" do %>
      <button type="submit" class="btn btn-sm btn-danger text-center float-right mt-1">Revoke session</button>
    <% end %>
  <% end %>

  <!-- Device type (Desktop/Mobile) -->
  <span class="color-fg-muted mx-3 float-left tooltipped tooltipped-s text-center" role="img" aria-label="<%= view.device_display_name %>"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
    <% if view.mobile? %>
      <%= primer_octicon(:"device-mobile", :height => 32) %>
    <% else %>
      <%= primer_octicon(:"device-desktop", :height => 32) %>
    <% end %>
  </span>

  <!-- Details -->
  <div class="js-details-container">
    <!-- Location -->
    <strong class="d-block">
      <% if view.location.any? %>
        <%= view.location[:city] || view.location[:region_name] || view.location[:country_name] %>
      <% end %>
      <span><%= view.ip_address %></span>
    </strong>

    <% if view.revoked? %>
      <small class="color-fg-severe">
        This session has been logged out and is no longer active.
      </small>
    <% end %>

    <!-- Gimme those dates -->
    <small class="color-fg-muted d-block">
      <% if view.current_session? %>
        Your current session
      <% else %>
        <%= view.accessed_text %>
        <time>
          <%= view.accessed_at.in_time_zone(Time.zone).strftime('%b %d, %Y') %>
        </time>
      <% end %>
    </small>

    <!-- Country List -->
    <% if view.location_information? %>
      <small class="color-fg-muted">
        Seen in <%= view.country_history %>
      </small>
    <% end %>

    <div class="position-relative mt-2">
      <% if view.device_display_name %>
        <p>
          <strong>Device:</strong><br>
          <%= view.device_display_name %>
        </p>
      <% end %>

      <% if view.location.any? %>
        <p>
          <strong>Last location:</strong><br>
          <%= view.location_description(view.location) %>
        </p>
      <% end %>

      <p>
        <strong><%= view.sign_in_text %></strong><br>
        <time><%= view.created_at.in_time_zone(Time.zone).strftime('%B %d, %Y') %></time>
        <br><%= view.location_description(view.sign_in_location) %>
      </p>
    </div>
  </div>

  <% if view.show_saml_section? %>
    <div class="js-user-sessions-container">
      <ul class="list-style-none">
        <% view.external_identity_sessions.each do |external_session| %>
          <% if identity = external_session.external_identity %>
            <li class="border-top mt-3 pt-3 js-user-session js-details-container Details">
              <%= form_tag external_identity_target_sso_revoke_path(identity.target),
                method: :delete, class: "js-user-sessions-revoke" do %>
                <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, float: :right, mt: 1) do %>Revoke<% end %>
              <% end %>

              You signed in to
              <%= link_to identity.target, external_identity_target_resource_path(identity.target), class: "Link--inTextBlock" %>
              via <%= link_to "your SSO IdP", external_identity_target_sso_path(identity.target),
                :class => "tooltipped tooltipped-e Link--inTextBlock",
                :"aria-label" =>  identity.provider_type == "Business::OIDCProvider" ? "Tenant: #{identity.provider.tenant_id}" : "Issuer: #{identity.provider.issuer}" %>.
              <br>
              Your session expires
              <%= time_ago_in_words_js external_session.expires_at %>.

              <span class="hidden-text-expander inline"><button type="button" class="ellipsis-expander js-details-target" aria-expanded="false" aria-label="Toggle identity details">&hellip;</button></span>

              <div class="position-relative Details-content--hidden">
                <strong>NameID</strong>: <%= identity.saml_user_data.name_id %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if view.location_information? %>
    <div class="js-map-data"
      data-country="<%= view.location[:country_code] %>"
      data-map-data='<%= view.map_data %>'>
    </div>
    <div class="map-container position-relative mt-4">
      <user-sessions-map>
        <div class="map color-bg-accent-emphasis overflow-hidden rounded-2 color-shadow-small" data-url="/world.json" data-target="user-sessions-map.graph">
          <div class="activity position-absolute d-none text-center">
            <%= render(Primer::Beta::Spinner.new(size: :large, classes: "graph-loading dots")) %>
          </div>
          <div class="js-map-country-info map-country-info position-absolute rounded-2 p-2 color-bg-subtle">
          </div>
        </div>
      </user-sessions-map>
    </div>
  <% end %>
</div>
