<% page_info responsive: false, title: "Sessions" %>
<% view_all_sessions_link = settings_sessions_path %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "graphs" %>
<% end %>

<%= render layout: "settings/settings" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Session details<% end %>
  <% end %>

  <div class="Box color-bg-subtle">
    <%= render "settings/user/sessions/session_details", view: create_view_model(
      UserSessions::ShowView,
      current_user_session: user_session,
      session_or_auth_record: session_or_auth_record,
    ) %>
  </div>

  <div class="mt-2">
    <%= link_to "View all sessions", view_all_sessions_link %>
  </div>
<% end %>
