<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      Orchestration #<%= repository_orchestration.id %>
    </h2>
    <table class="site-admin-table">
      <tr>
        <th>
          Repository ID
        </th>
        <td>
          <%= repository_orchestration.repository_id %>
        </td>
      </tr>
      <tr>
        <th>
          Orchestration ID
        </th>
        <td>
          <%= repository_orchestration.id %>
        </td>
      </tr>
      <tr>
        <th>
          Orchestration Type
        </th>
        <td>
          <%= repository_orchestration.type %>
        </td>
      </tr>
      <tr>
        <th>
          Parent ID
        </th>
        <td>
          <%= repository_orchestration.parent_id || 'nil'%>
        </td>
      </tr>
      <tr>
        <th>
          State
        </th>
        <td>
          <%= repository_orchestration.state %>
        </td>
      </tr>
      <tr>
        <th>
          Created At
        </th>
        <td>
          <%= repository_orchestration.created_at %>
        </td>
      </tr>
      <tr>
        <th>
          Updated At
        </th>
        <td>
          <%= repository_orchestration.updated_at %>
        </td>
      </tr>
      <% if repository_orchestration.failed? %>
        <tr>
          <th>
            Error Message
          </th>
          <td>
            <%= repository_orchestration.error_message %>
          </td>
        </tr>
      <% end %>
      <% unless repository_orchestration.succeeded? || repository_orchestration.skipped? %>
        <tr>
          <th>
            Attempt Count
          </th>
          <td>
            <%= repository_orchestration.attempts %>
          </td>
        </tr>
        <tr>
          <th>
            Step Name
          </th>
          <td>
            <%= repository_orchestration.step_name %>
          </td>
        </tr>
      <% end %>
    </table>
    <% if !GitHub.enterprise? %>
      <a href="<%= splunk_orchestration_url(repository_orchestration) %>">View in Splunk</a>
    <% end %>
    <div class="site-admin-unboxed">
      <div class="site-admin-subhead ruleless">
        <h2 class="site-admin-subhead-heading">Data</h2>
      </div>
      <table class="site-admin-table">
        <% if repository_orchestration.data.any? %>
          <% repository_orchestration.data.each do |key, value| %>
            <tr>
              <th><%= key %></th>
              <td><%= value %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No data available</td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
