<div class="no-wrap d-flex d-lg-none">
  <%= render SecurityCenter::StatesComponent.new(
    open_state_href: open_alert_href,
    open_state_count: @open_alert_count,
    open_state_selected: open_alert_selected,
    closed_state_href: closed_alert_href,
    closed_state_count: @closed_alert_count,
    closed_state_selected: closed_alert_selected
  ) %>
</div>

<%= render(
  Primer::Beta::BorderBox.new(
    classes: "js-scanning-alert-list js-check-all-container Box--responsive",
    mt: 3,
    test_selector: "security-center-alert-centric-views-secret-scanning-table-component",
    data: {hpc: ""}
  )
) do |c| %>
  <% c.with_header do %>
    <%= render(
      SecretScanning::AlertCentricView::TableHeaderComponent.new(
        closed_alert_count: @closed_alert_count,
        filter_option_paths: @filter_option_paths,
        open_alert_count: @open_alert_count,
        query: @query,
        custom_patterns_available: @custom_patterns_available,
        repository: @scope.is_a?(Repository) ? @scope : nil,
        show_owner: @show_owner,
        show_repository: @show_repository,
      )
    ) %>
  <% end %>

  <% if show_table_body_blankslate? %>
    <% c.with_body do %>
      <%= render(
        SecretScanning::AlertCentricView::Blankslates::TableBodyComponent.new(
          blankslate: @blankslate,
          query: @query,
          scope: @scope
        )
      ) %>
    <% end %>
  <% else %>
    <%= render(
      Primer::Box.new(
        classes: "js-navigation-container js-active-navigation-container",
        data: { pjax: true }
      )
    ) do %>
      <% @alerts.each do |alert| %>
        <% c.with_row do %>
          <%= render(
            SecretScanning::AlertCentricView::TableRowComponent.new(
              alert: alert,
              show_owner: @show_owner,
              show_repository: @show_repository,
              show_alert_number: @show_alert_number,
              show_unlock_dialog: @locked_repos&.include?(alert.repository.id),
              query: @query
            )
          ) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="paginate-container">
  <%= will_paginate(
    pagination_results,
    "data-pjax" => true,
    **test_selector_data_hash("security-center-alert-centric-views-secret-scanning-table-component-pagination"),
  ) %>
</div>
