<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info responsive: false, :title => "GitHub Connect", :class => "page-dotcom-user" %>

<%= render layout: "settings/settings" do %>
  <!-- Dotcom Connection -->
  <%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
    <% component.with_heading(tag: :h2) do %>GitHub Connect<% end %>
  <% end %>

  <div class="Box Box--spacious f4 text-center">
    <div class="Box-body">
      <% if DotcomUser.user_connected?(current_user) %>
        <% dotcom_user = DotcomUser.for(current_user) %>
        <p class="f4">
          Your GitHub enterprise account is <b>connected</b> to your <%= GitHub.dotcom_host_name_string %> profile
          (<%= link_to dotcom_user.display_login, dotcom_user.github_profile_url, class: "Link--inTextBlock" %>).
        </p>

        <%= button_to "Disconnect from #{GitHub.dotcom_host_name_string}",
              settings_dotcom_user_destroy_path,
              method: :delete,
              form_class: "inline-form",
              class: "btn btn-danger mt-2 mb-3" %>

        <% if GitHub::Connect.unified_private_search_enabled? %>
          <p class="note text-left">
            You can search public content on <%= GitHub.dotcom_host_name_string %>. If your connected
            <%= GitHub.dotcom_host_name_string %> profile has access to the connected organization, then you can
            also search private repositories, code, commits, issues, and topics
            from the connected organization that you have access to.
          </p>
        <% end %>
      <% else %>
        <p class="f4">
          Your GitHub enterprise account is <b>not yet</b> connected to <%= GitHub.dotcom_host_name_string %>.
        </p>

        <%= button_to "Connect to #{GitHub.dotcom_host_name_string}",
              settings_dotcom_user_create_path,
              form_class: "inline-form",
              class: "btn btn-primary mt-2 mb-3" %>

        <p class="note text-left">
          By clicking "Connect to <%= GitHub.dotcom_host_name_string %>", you will be redirected to
          <%= GitHub.dotcom_host_name_string %>, which will allow you to share contribution counts from
          this GitHub Enterprise environment to your <%= GitHub.dotcom_host_name_string %> profile and
          include private repositories from this organization in your search
          results (when authorized by this environment's administrator). When
          you link your GitHub enterprise account with a <%= GitHub.dotcom_host_name_string %> account, you
          send identifying information to <%= GitHub.dotcom_host_name_string %>, which will be governed by
          <%= link_to "GitHub’s Privacy Statement", "#{GitHub.help_url(skip_enterprise: true)}/articles/github-privacy-statement/", class: "Link--inTextBlock" %>,
          and your GitHub Enterprise administrators. By enabling this
          configuration, you agree that you will be responsible for the actions
          performed on or through your account, subject to the terms of your
          <%= link_to "GitHub.com Terms of Service", "#{GitHub.help_url(skip_enterprise: true)}/articles/github-terms-of-service/", class: "Link--inTextBlock" %>.
        </p>
      <% end %>
    </div>
  </div>

  <% if GitHub::Connect.unified_contributions_enabled? && DotcomUser.user_connected?(current_user) %>
    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>Contributions<% end %>
    <% end %>
    <%= form_for current_user, :url => settings_dotcom_user_change_contributions_path(current_user), :html => { :method => :post, :id => "user_profile_contributions_#{current_user.id}" } do |f| %>
      <div class="form-checkbox mt-0">
        <%= f.check_box :show_enterprise_contribution_counts_on_dotcom %>
        <%= f.label :show_enterprise_contribution_counts_on_dotcom, "Send my contribution counts to #{GitHub.dotcom_host_name_string}" %>
        <span class="note">
          Get credit for all your work from this GitHub Enterprise environment
          by sending the contribution counts to your <%= GitHub.dotcom_host_name_string %> profile. GitHub
          Enterprise contribution counts are considered private contributions.
          Learn how to
          <%= link_to "publicize your private contributions on #{GitHub.dotcom_host_name_string}",
                GitHub.help_url(skip_enterprise: true) +
                "/articles/publicizing-or-hiding-your-private-contributions-on-your-profile/",
                class: "Link--inTextBlock" %>
          and how we
            <%= link_to "count contributions",
                  GitHub.help_url + "/articles/viewing-contributions-on-your-profile-page/",
                  class: "Link--inTextBlock" %>.
        </span>
        <% last_sync_date = DotcomUser.for(current_user)&.last_contributions_sync %>
        <% if last_sync_date %>
          <p>
            Contributions last updated on <%= GitHub.dotcom_host_name_string %> <%= time_ago_in_words(last_sync_date) %> ago.
          </p>
        <% end %>
      </div>
      <%= render Primer::ButtonComponent.new(type: :submit) do %>Update contributions<% end %>
    <% end %>
  <% end %>
<% end %>
