<%# erblint:counter DeprecatedComponentsCounter 4 %>
<host-setup data-action="commit:codespaces-policy-form#saveHostSetupConstraintChange">
<%= render Primer::Box.new(display: :flex, p: 3, align_items: :center, justify_content: :space_between) do %>
  <div class="d-flex flex-column flex-lg-row">
    <%= render Primer::Box.new(pr: 2) do %>
      <%= render Primer::Beta::Octicon.new(:"codespaces", color: :muted) %>
      <%= render Primer::Beta::Text.new(pl: 2, font_weight: :bold).with_content(constraint[:display_name]) %>
    <% end %>
    <%= render Primer::Box.new(word_break: :break_word) do %>
      <% if existing_values_text != 'None' %>
        <%= render(Primer::Beta::Link.new(
          href: existing_values_text,
          color: :muted,
          data: { target: "host-setup.selectedHostSetupValuesText" })
          ) { existing_values_text } %>
      <% else%>
        <%= render Primer::Beta::Text.new(
          color: :muted,
          data: { target: "host-setup.selectedHostSetupValuesText" }
        ).with_content('None') %>
      <% end %>
    <% end %>
  </div>
  <%= render Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center) do %>
      <%= render Primer::Alpha::Dropdown.new(display: :inline) do |c| %>
        <% c.with_button(scheme: :invisible, p: 2, mr: 2, classes: "codespaces-policy-form-blue-hover", "data-action": "click:host-setup.updateSaveButtonVisibility") do %>
          <%= render(Primer::Beta::Octicon.new(icon: :pencil, "aria-label": "Edit policy", m: 0)) %>
        <% end %>
        <% c.with_menu(header: "Host setup", direction: :sw, mt: 2, mr: 1, py: 3, px: 2, style: "width: 400px;") do |menu| %>
          <% menu.with_item(classes: "codespaces-policy-item-no-hover", px: 3, py: 2) do %>
            <div class="form-group m-0" data-target="host-setup.repositoryFormGroup" data-value="None" github-url="<%= GitHub.url %>" >
              <div class="form-group-body" data-target="host-setup.hostSetupBox" data-constraint-name="<%= constraint[:name] %>">
                <details class="details-reset position-relative">
                  <%= render Primer::ButtonComponent.new(tag: :summary, display: :block, mt: 1, classes: "css-truncate") do %>
                    <i>Select a repository: </i>
                    <span class="css-truncate-target" style="max-width:160px;" data-target="host-setup.selectedRepo"><%= existing_selected_repo %></span>
                    <span class="dropdown-caret float-right mt-2"></span>
                  <% end %>
                  <details-menu class="select-menu-modal position-relative right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                    <div class="select-menu-filters">
                      <div class="select-menu-text-filter">
                        <remote-input
                          aria-owns="host-setup-repository-menu-list"
                          src="<%= repo_select_path %>"
                          id="js-codespaces-repository-select"
                          >
                          <input
                            type="text"
                            class="form-control"
                            placeholder="<%= repo_search_placeholder %>"
                            aria-label="<%= repo_search_placeholder %>"
                            autocomplete="off"
                            autofocus>
                        </remote-input>
                      </div>
                    </div>
                    <div class="select-menu-list" id="host-setup-repository-menu-list">
                    </div>
                  </details-menu>
                </details>
                  <%= render Primer::Box.new(col: 12, hidden: hide_branch_selector?, data: {target: "host-setup.branchSelectorBox"}) do %>
                      <details class="details-reset position-relative">
                        <%= render Primer::ButtonComponent.new(tag: :summary, display: :block, mt: 1, classes: "css-truncate") do %>
                          <i>Select a branch: </i>
                          <%= primer_octicon(:"git-branch", mr: 1) %>
                          <span class="css-truncate-target" style="max-width:160px;" data-target="host-setup.selectedBranch"><%= existing_selected_branch%></span>
                          <span class="dropdown-caret float-right mt-2"></span>
                        <% end %>
                        <details-menu class="select-menu-modal position-relative right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                          <div class="select-menu-filters">
                            <div class="select-menu-text-filter">
                              <input type="text" id="context-branch-filter-field" class="form-control js-filterable-field js-navigation-enable" placeholder="Search a branch&hellip;" aria-label="Select a branch" autocomplete="off" autofocus>
                            </div>
                          </div>

                          <div class="select-menu-list">
                            <div data-filterable-for="context-branch-filter-field" id="data-filterable-branch" >
                            </div>
                            <div class="select-menu-no-results">No branches found.</div>
                          </div>
                        </details-menu>
                      </details>
                  <% end %>
                  <%= render Primer::Box.new(display: :flex) do %>
                    <%= render Primer::Box.new(display: :flex, flex: 1, direction: :column, hidden: hide_path_selector?, data: {target: "host-setup.pathInputBox"}) do %>
                      <input
                        type="text"
                        class="form-control flex-1 width-auto"
                        placeholder="Path to the host setup file (eg. setup.sh)"
                        data-target="host-setup.selectedPath"
                        data-action="<%= "
                          input:host-setup#savePath
                        " %>"
                        value="<%= existing_selected_path %>"
                        style="margin-top: 5px;"
                      >
                    <% end %>
                  <% end %>
                <hr role="separator">
                <%= render Primer::ButtonComponent.new(
                  aria: { label: "Close dialog" },
                  data: {
                    "action": "click:host-setup#closeDetailsDropdown",
                  },
                ).with_content("Cancel") %>
                <%= render Primer::ButtonComponent.new(
                  disabled: !save_button_disabled?,
                  data: {
                    target: "host-setup.configSaveButton",
                    action: "click:host-setup#saveHostSetup",
                  }
                ).with_content("Apply") %>
              </div>
            </div>
            <%= render(Primer::Beta::Text.new(tag: :p, color: :danger, hidden: true, classes: "codespaces-policy-constraint-error", style: "margin-top: 15px; margin-bottom: 5px", data: {target: "host-setup.saveErrorElement"})) { "Something went wrong. Could not save constraint." } %>
          <% end %>
        <% end %>
      <% end %>
    <%= render Organizations::Settings::CodespacesPolicyForm::ConstraintRow::DeleteButtonComponent.new(constraint_name: constraint[:name]) %>
  <% end %>
<% end %>
</host-setup>
