<%# erblint:counter DeprecatedComponentsCounter 2 %>
<max-value data-action="commit:codespaces-policy-form#saveMaximumValueConstraintChange">
  <%= render Primer::Box.new(display: :flex, p: 3, align_items: :center, justify_content: :space_between) do %>
    <div class="d-flex flex-column flex-lg-row">
      <%= render Primer::Box.new(pr: 2) do %>
        <%= render Primer::Beta::Octicon.new(:"codespaces", color: :muted) %>
        <%= render Primer::Beta::Text.new(pl: 2, font_weight: :bold).with_content(constraint_config[:display_name]) %>
      <% end %>
      <%= render Primer::Box.new do %>
        <%= render Primer::Beta::Text.new(color: :muted) do %>
          <span data-target="<%= "max-value.maxValueDisplay" %>" data-singular-suffix="<%= value_category %>"
            data-plural-suffix="<%= value_category.pluralize %>" ><%= pluralize(current_maximum_value, value_category) %></span>
        <% end %>
      <% end %>
    </div>
    <%= render Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center) do %>
      <%= render Primer::Alpha::Dropdown.new(display: :inline, data: { target: "max-value.editDetailsDropdown" }) do |c| %>
        <% c.with_button(scheme: :invisible, p: 2, mr: 2, classes: "codespaces-policy-form-blue-hover") do %>
          <%= render(Primer::Beta::Octicon.new(icon: :pencil, "aria-label": "Edit policy", m: 0)) %>
        <% end %>
        <% c.with_menu(header: "Maximum value", direction: :sw, mt: 2, mr: 1, py: 3, px: 2, style: "width: 200px;") do |menu| %>
          <% menu.with_item(classes: "codespaces-policy-item-no-hover", px: 3, py: 2) do %>
            <div class="form-group m-0" data-target="<%= "max-value.maxValueInputFormGroup" %>">
              <div class="form-group-body">
                <input
                  class="form-control"
                  type="number"
                  style="width: 180px;"
                  min="<%= constraint_config[:minimum_allowable_value] %>"
                  max="<%= constraint_config[:maximum_allowable_value] %>"
                  name="maximum_value"
                  placeholder="<%= constraint_config[:maximum_allowable_value] %>"
                  aria-label="<%= data_key_name.titleize %>"
                  maxlength="<%= constraint_config[:maximum_allowable_value].to_s.length %>"
                  value="<%= current_maximum_value %>"
                  data-target="<%= "
                    max-value.maxValueInput
                    codespaces-policy-form.maxValueInput
                  " %>"
                  data-action="<%= "
                    input:max-value#handleMaximumValueConstraintChange
                    input:max-value#enforceMaxValueLength
                    input:max-value#toggleMaxValueSaveButton
                  " %>"
                  data-constraint-name="<%= constraint_config[:name] %>"
                >
                <span style="line-height: 32px; position:absolute; right: 32px; vertical-align: middle" class="color-fg-muted" data-target="max-value.maxValueInputUnit"><%= value_category.pluralize(current_maximum_value.to_i) %></span>
                <hr role="separator">
                <%= render Primer::ButtonComponent.new(
                  aria: { label: "Close dialog" },
                  data: {
                    "action": "click:max-value#closeDetailsDropdown",
                  },
                ).with_content("Cancel") %>
                <%= render Primer::ButtonComponent.new(
                  # This should always be disabled regardless if pre-existing maximum value is valid
                  # we only want to allow saves on editing of input
                  disabled: true,
                  aria: { label: "Set #{data_key_name.titleize} value" },
                  data: {
                    target: "max-value.maxValueSaveButton",
                    action: "
                    click:max-value#saveMaximumValueConstraintChange
                    click:max-value#closeDetailsDropdown
                    click:max-value#updateDisplayText
                    ",
                    constraint_name: constraint_config[:name]
                  }
                ).with_content("Apply") %>
              </div>
              <p
                class="note error"
                data-target="<%= "max-value.maxValueValidationErrorMsg" %>"
                style="white-space: normal; max-width: 220px;">
                <%= error_message %>
              </p>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <%= render Organizations::Settings::CodespacesPolicyForm::ConstraintRow::DeleteButtonComponent.new(constraint_name: constraint_config[:name]) %>
    <% end %>
  <% end %>
</max-value>
