<% if discover_people? %>
  <div class="Box mt-3" <%= test_selector("discover-people") %>>
    <div class="Box-body">
      <h3>Follow people on GitHub</h3>

      <ul class="list-style-none color-fg-subtle mt-3 mb-4">
        <li><%= emoji_tag(Emoji.find_by_alias("zap"), class: "f5") %> Keep up with their activity on your personal dashboard.</li>
        <li><%= emoji_tag(Emoji.find_by_alias("handshake"), class: "f5") %> Discover opportunities to collaborate on GitHub.</li>
        <li><%= emoji_tag(Emoji.find_by_alias("mag"), class: "f5") %> Get recommendations for related people and repositories.</li>
      </ul>

      <%= render Primer::Beta::Button.new(tag: :a, href: discover_people_path).with_content("Find people to follow")%>
    </div>
  </div>
<% else %>
  <div class="mt-3">
    <%= render Primer::Beta::Blankslate.new(border: :true, test_selector: "feed-blankslate") do |component| %>
      <% component.with_heading(tag: :h3).with_content("Explore GitHub") %>
      <% component.with_description { "Star repositories and follow contributors to receive personalized suggestions." } %>
    <% end %>
  </div>
<% end %>
