<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= render(Primer::Beta::Details.new(
  classes: "details-overlay details-reset #{details_classes}",
  position: :relative,
  display: :flex,
  align_self: user_feature_enabled?(:feeds_v2) ? :center : :end,
  align_items: :flex_end,
  test_selector: "feed-item-heading-menu",
  **system_arguments)) do |c| %>
  <% c.with_summary(button: true, scheme: :link) do %>
    <%= render(Primer::Beta::Octicon.new(
    :"kebab-horizontal",
    m: user_or_global_feature_enabled?(:feeds_v2) ? nil : 1,
    ml: user_or_global_feature_enabled?(:feeds_v2) ? nil : 3,
    mr: user_or_global_feature_enabled?(:feeds_v2) ? 1 : 0,
    classes: "feed-item-heading-menu-button",
    aria: { label: 'feed item heading menu' },
    test_selector: "feed-item-kebab")) %>
  <% end %>
  <% c.with_body(tag: :'details-menu', classes: 'dropdown-menu dropdown-menu-sw show-more-popover', style: "width: 320px; #{ user_or_global_feature_enabled?(:feeds_v2) ? 'right: -0.4rem;' : '' }") do %>
    <% if show_reason? %>
      <%= render(Primer::BaseComponent.new(
        tag: :div,
        p: 3,
        font_size: 6,
        color: :muted,
        border: show_disinterest_option? || show_report_option? || show_delete_option? ? :bottom : 0,
        test_selector: "feed-item-heading-menu-reason",
      )) do %>
        <%= reason_message %>
      <% end %>
    <% end %>
    <% if show_disinterest_option? %>
      <%= render Conduit::RegisterDisinterestModalComponent.new(item: item) %>
    <% end %>
    <% if show_report_option? && !actor.nil? %>
      <div class="js-block-user-button"></div>
      <template>
        <%= render Conduit::BlockButtonComponent.new(
          actor: actor,
          org_report_path: org_report_path
        ) %>
      </template>
    <% end %>
    <% if show_unfollowable_actor_option? %>
      <%= form_tag(unfollow_user_path(target: actor), method: :post) do %>
        <%= render Primer::ButtonComponent.new(
          scheme: :link,
          underline: false,
          w: :full,
          py: 3,
          classes: "dropdown-item js-hide-heading-menu-button js-follow-unfollow-submit",
          'aria-label': "Unfollow this user",
          test_selector: "feed-item-heading-menu-unfollow-user-button") do |m| %>
          Unfollow this user
        <% end %>
      <% end %>
    <% end %>
    <% if show_unstarrable_option? %>
      <%= form_tag(unstar_repository_path(item.repository.owner.display_login, item.repository)) do %>
        <%= hidden_field_tag :context, "for_you_feed" %>
        <%= render Primer::ButtonComponent.new(
          scheme: :link,
          underline: false,
          w: :full,
          py: 3,
          classes: "dropdown-item js-follow-unfollow-submit js-hide-heading-menu-button",
          'aria-label': "Unstar this repository",
          test_selector: "feed-item-heading-menu-unstar-repository-button") do |m| %>
            Unstar this repository
        <% end %>
      <% end %>
    <% end %>
    <% if show_delete_option? %>
      <%= form_for item.subject, method: :delete do |f| %>
        <%= f.button class: "dropdown-item btn-link no-underline width-full py-3", name: "delete" do %>
          Delete this post
        <% end %>
      <% end %>
    <% end %>
    <% if show_hide_option? %>
      <%= render Conduit::EventVisibilityFormComponent.new(
        is_hidden: item.user_hidden?,
        event_id: item.event_id,
      ) %>
    <% end %>
    <% if show_dismiss_announcement_option? %>
      <%= render Conduit::DismissItemComponent.new(item: item) do |c| %>
        <% c.with_body do %>
          <%= render(Primer::ButtonComponent.new(
            scheme: :link,
            tag: :summary,
            type: :submit,
            underline: false,
            w: :full,
            py: 3,
            classes: "dropdown-item js-feed-disinterest-submit",
          )) do %>
            Dismiss announcement
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
