<div <%= test_selector("feed-item-card-body") %>>
  <%= title %>
  <%= subheader %>
  <%= preview_markdown %>
  <% if preview_image %>
    <figure
      class="mx-0 my-1 overflow-hidden d-flex flex-items-center rounded-2 border color-border-default"
      style="max-height: 240px;"
      aria-label="Item Preview Image"
      <%= test_selector("feed-item-preview-img") %>
    >
      <%= preview_image %>
    </figure>
  <% end %>
  <% if content.present? %>
    <%= render(Primer::BaseComponent.new(
      tag: :section,
      mt: (preview_markdown || preview_image) ? 2 : 0,
      test_selector: "feed-item-card-content",
      **@system_arguments
    ).with_content(content)) %>
  <% end %>
</div>
