<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BaseComponent.new(
  tag: "feed-filter",
  test_selector: "item-filter-component",
  data: {
    'target': 'feed-container.filter',
    'value': feed_filter.values.to_json,
  }
) do %>
  <div class="SelectMenu-header js-navigation-enable d-flex flex-justify-between" tabindex="-1">
    <span class="SelectMenu-title" id='filter-title' <%= test_selector("filter-title") %>><%= filter_title %></span>
    <button class="SelectMenu-closeButton" type="button" aria-label="Close menu" data-toggle-for="feed-filter-menu">
      <%= render Primer::Beta::Octicon.new(icon: "x") %>
    </button>
  </div>

  <div class="SelectMenu-list SelectMenu-list--borderless border-bottom pb-1" role="group" aria-labelledby='filter-title'>
    <% item_filter_groups.select { |group_name|  group_name != "ExplicitOnly" }.each do |group_name| %>
      <% selected = feed_filter.includes_group?(group_name) %>
      <label
        data-action="click:feed-filter#handleToggle"
        class="d-flex flex-items-center text-normal SelectMenu-item js-navigation-item"
        data-selected="<%= selected %>"
        <%= test_selector("filter-option-#{group_name}") %>
        data-name="<%= group_name %>">
        <input
          type="checkbox"
          data-targets="feed-filter.inputs"
          name="<%= group_name %>"
          <%= "checked" if selected %>
        >
        <%= primer_octicon(GROUP_ICON[group_name][:name], classes: "feed-filter-item-icon", color: :muted, mx: 2) %>
        <span><%= group_name %></span>
      </label>
    <% end %>
  </div>

  <div class="px-3 mt-2 mb-3">
    <%= csrf_hidden_input_for conduit_filter_path,
      method: :put,
      data: { "target": "feed-filter.csrfToken" } %>
    <%= render(Primer::ButtonComponent.new(
      scheme: :primary,
      w: :full,
      data: {
        "action": "click:feed-filter#handleApply",
        "toggle-for": "feed-filter-menu",
        "target": "feed-filter.applyButton"
      }.merge!(button_hydro_data)
    )) { "Apply changes" } %>
  </div>
<% end %>
