<%= render Primer::BaseComponent.new(
  tag: :article,
  display: :flex,
  direction: :column,
  w: :full,
  id: "feed-item-#{item.event_id}",
  align_items: :baseline,
  pt: skip_header? ? 0 : 2,
  pb: skip_header? ? 0 : 2,
  test_selector: "feed-item-component",
  classes: "js-feed-item-component js-feed-item-view js-feed-item-next-component",
  style: item.multiple_announcements? ? "min-height: 300px;" : "",
  data: feed_view_hydro_attrs) do %>
  <% if content.present? %>
    <%= content %>
  <% else %>
    <%= render Primer::Box.new(
      display: :flex,
      direction: :column,
      pt: 2,
      pb: related_item? ? 0 : 2,
      border: !related_item?,
      border_color: item.newly_sponsorable_event? ? :sponsors : :default,
      border_radius: !related_item? ? 2 : 1,
      box_shadow: related_item? ? nil : :small,
      w: :full,
      h: announcement? ? :full : :fit,
      classes: "feed-item-content",
    ) do %>
      <div class="<%= !related_item? ? 'rounded-2 py-1' : 'rounded-1' %>">
        <div class="px-3">
          <% unless skip_header? %>
            <% if heading %>
              <%= heading %>
            <% else %>
              <%= render Primer::BaseComponent.new(
                tag: :header,
                mt: 1,
                mb: 2,
                w: :full,
                display: :flex,
                justify_content: :space_between,
                test_selector: "feed-item-heading") do %>

                <div class="mr-2">
                  <div class="position-relative">
                    <% if announcement? %>
                      <span class="circle d-inline-flex p-2 color-bg-subtle">
                        <%= render Primer::Beta::Octicon.new(icon: "megaphone", size: :small, color: :on_emphasis) %>
                      </span>
                    <% else %>
                      <%= linked_avatar(actor, size: 40) %>
                    <% end %>
                    <% unless heading_icon.nil? %>
                      <% if heading_icon[:exported] %>
                        <%= render(Primer::BaseComponent.new(
                          tag: :img,
                          src: image_path("icons/feeds/#{heading_icon[:name]}.svg"),
                          alt: heading_icon[:name],
                          classes: "circle feed-item-heading-icon feed-next",
                          position: :absolute,
                          test_selector: "feed-item-heading-icon"
                        )) %>
                      <% else %>
                        <%= render(Primer::Beta::Octicon.new(heading_icon[:name],
                          classes: "circle feed-item-heading-icon feed-next",
                          color: heading_icon[:color],
                          position: :absolute,
                          test_selector: "feed-item-heading-icon"
                        )) %>
                      <% end %>
                    <% end %>
                  </div>
                </div>

                <%= render Primer::BaseComponent.new(tag: :div, flex: 1, ml: 1, mb: 1) do %>
                  <%= render(Primer::Beta::Heading.new(
                    tag: :h5,
                    font_weight: :normal,
                    color: :muted,
                    display: :flex,
                    align_items: :center,
                    direction: :row,
                    flex_wrap: :nowrap,
                    w: :fit )) do %>
                      <span class="flex-1">
                        <% if announcement? %>
                          Announcements from GitHub
                        <% else %>
                          <span class="flex-shrink-0">
                            <% if discussion_event? %>
                              <% if !item.related_items.any? %>
                                <%= helpers.link_to_feed_repo(item.repository, item, include_owner: true) -%>
                              <% end %>
                            <% elsif release_event? %>
                                <%= helpers.link_to_feed_repo(item.repository, item, include_owner: true) -%>
                            <% else %>
                              <%= actor ? linked_login(actor) : _("Someone") %>
                            <% end %>
                            <%= heading_action ? heading_action : action %>
                          </span>
                        <% end %>
                        <% if heading_subject %>
                          <span class="overflow-auto" <%= test_selector("feed-item-heading-subject") %>>
                            <%= render(Primer::Beta::Truncate.new) do |trunc| %>
                              <% trunc.with_item do %>
                                <%= heading_subject %>
                              <% end %>
                            <% end %>
                          </span>
                        <% end %>
                      </span>

                      <% if show_label? %>
                        <%= render Primer::Beta::Label.new(scheme: :default, inline: true, ml: 2, test_selector: "topic-feed-item-label") do %>
                          <%= item.label %>
                        <% end %>
                      <% end %>

                      <span class="js-hidden-label-target">
                        <% if item.user_hidden? %>
                          <%= render Primer::Beta::Label.new(scheme: :accent, inline: true, ml: 3, px: 1) do %>
                            <%= render(Primer::Beta::Octicon.new(:"eye-closed")) %> hidden
                          <% end %>
                        <% end %>
                      </span>

                      <% if action_button %>
                        <section
                          class="d-flex flex-justify-between pr-3"
                          aria-label="Repo Link"
                          <%= test_selector("feed-item-repo") %>
                        >
                          <% if announcement? %>
                            <%=
                              render Feed::HeadingMenuComponent.new(
                                item: item,
                                actor: actor)
                            %>
                          <% end %>
                          <%= action_button %>
                        </section>
                      <% end %>

                      <% if heading_menu %>
                        <%= heading_menu %>
                      <% else %>
                        <%=
                          render Feed::HeadingMenuComponent.new(
                            item: item,
                            actor: actor)
                        %>
                      <% end %>
                  <% end %>

                  <% unless timestamp.blank? || announcement? %>
                    <div class="d-flex">
                      <%= render(Primer::Beta::Heading.new(
                        tag: :h6,
                        font_size: :small,
                        font_weight: :normal,
                        style: "margin-top: #{release_event? && item&.repository&.sponsorable_owner? ? -0.25 : 0}rem", # remove extra padding when sponsor button is visible on release card
                        color: :muted)) do %>
                          <%= subheading %>
                          <%= render(Primer::Beta::RelativeTime.new(datetime: timestamp, tense: :past, test_selector: "feed-item-timestamp")) %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <%= border %>
        <div class="<%= 'mt-1 mb-1' if !related_item? %>">
          <div class="px-3">
            <%= body %>
            <%= footer %>
          </div>

          <%= related_items_preview %>

          <%= related_items %>
        </div>
      </div>
      <%= comments %>
    <% end %>
  <% end %>
<% end %>

<%= render Conduit::DismissedItemComponent.new(feed_item: item) %>
