<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% stats_timer do %>
  <div id="pinned-announcements" class="Details js-details-container" <%= test_selector("pinned-announcements-container") %>>
    <%= render Primer::BaseComponent.new(
      tag: :div,
      mt: 5,
      pb: 2,
      display: :inline_flex,
      align_items: :center,
    ) do %>
      <h2 class="f4 mr-2">Latest announcements</h2>
      <% if item.related_items.count > 1 %>
        <span class="mr-2">&middot;</span>
        <div class="js-pinned-announcements-toggle js-details-target">
          <%= render(Primer::ButtonComponent.new(
            scheme: :link,
            font_size: :normal,
            classes: "Details-content--shown btn-link",
            test_selector: "feed-announcement-toggle-show-all",
            aria: { label: "Toggle show more" },
          )) { "Show all" } %>
          <%= render(Primer::ButtonComponent.new(
            scheme: :link,
            font_size: :normal,
            classes: "Details-content--hidden btn-link",
            test_selector: "feed-announcement-toggle-show-less",
            aria: { label: "Toggle show less" },
          )) { "Show less" } %>
        </div>
      <% end %>
    <% end %>
    <div class="d-flex flex-justify-between flex-column flex-xl-row flex-wrap gutter-condensed"
      <%= test_selector("feed-announcement-summary") %>
    >
      <% first_announcement_size = item.related_items.any? ? "col-xl-6 col-lg-12" : "col-12" %>
      <div class="<%= first_announcement_size%> d-flex js-pinned-announcement-container mt-2">
        <%= render Feed::Cards::DiscussionComponent.new(item: item, feed: feed) %>
      </div>
      <% if item.related_items.any? %>
        <div class="col-xl-6 col-lg-12 d-flex js-pinned-announcement-container mt-2">
          <%= render Feed::Cards::DiscussionComponent.new(item: item.related_items.first, feed: feed) %>
        </div>
      <% end %>
      <% remaining_related_items = item.related_items.drop(1) %>
      <% remaining_related_items.each do |a| %>
        <div class="Details-content--hidden col-xl-6 col-lg-12 d-flex js-pinned-announcement-container mt-2">
          <%= render Feed::Cards::DiscussionComponent.new(item: a, feed: feed) %>
        </div>
      <% end %>
    </div>
    <%= render Primer::Box.new(
      color: :muted,
      display: :flex,
      justify_content: :center,
      w: :full,
      align_items: :center,
      id: "dismissed-announcements-placeholder",
      py: 3,
      px: 0,
      mt: 2,
      mb: 0,
      test_selector: "no-announcements-placeholder",
      hidden: true,
    ) do %>
      <span <%= test_selector("no-announcements-placeholder-message") %>>
        No new announcements
      </span>
    <% end %>

    <hr class="mt-5">
  </div>
<% end %>
