<%= render(Primer::BaseComponent.new(
  tag: :section,
  aria_label: 'pull-request-details',
  font_size: 6,
  color: :muted,
  mt: 2,
  mb: 2,
  width: :full,
  data: {
    test_selector: 'pr-details',
  },
)) do %>
  <%= render(PullRequests::StateComponent.new(state: state, is_draft: is_draft?, size: :small, mr: 2, data: { test_selector: "pr-state"})) %>
  <% if merged_by.nil? %>
    <span class="d-inline-flex"><%= pluralize(number_with_delimiter(total_commits), 'commit') %> merged</span>
  <% else %>
    <span class="d-inline-flex">
      <%= link_author(
        merged_by,
        class: "author Link--secondary color-fg-default css-truncate css-truncate-target expandable",
        data: {
          test_selector: "pr-merged-by",
          "aria-label": "Merged by #{merged_by.display_login}",
        }.merge!(click_hydro_attrs(click_target: "pull_request_merged_by_user"))
      ) %>
      &nbsp;merged <%= pluralize(number_with_delimiter(total_commits), 'commit') %>
    </span>
  <% end %>
<% end %>
