<section
  aria-label="Repo Details"
  class="f6 <%= user_or_global_feature_enabled?(:feeds_v2) ? 'mt-0' : 'mt-2' %> mb-0 color-fg-muted width-full"
  <%= test_selector("repo-deets") %>
>
  <% if repository.primary_language_name.present? %>
    <span
      class="d-inline-block color-fg-muted mr-3"
      <%= test_selector("repo-lang") %>
    >
      <%= render(Languages::BadgeComponent.new(
        name: repository.primary_language_name,
        ml: 0
      ))%>
    </span>
  <% end %>
  <%= render_link_to_repo_stargazers(
    current_user: current_user
  ) %>
</section>
