<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if item.rollup? && item.show_related_items? %>
  <div class="Details js-details-container" <%= test_selector("feed-rollup") %>>
    <%= content %>
    <%= render Primer::BaseComponent.new(
      tag: :div,
      mt:  user_feature_enabled?(:feeds_v2) ? 2 : 1,
      px: user_feature_enabled?(:feeds_v2) ? 3 : 0,
      classes: "js-details-target",
      data: helpers.feed_clicks_hydro_attrs(click_target: "rollup_toggle_whitespace", feed_item: item)
    ) do %>
      <%= render(Primer::ButtonComponent.new(
        scheme: :link,
        display: :block,
        font_size: :small,
        classes: "Details-content--shown Link--muted btn-link",
        test_selector: "feed-rollup-toggle-show-all",
        aria: { label: "Toggle show more" },
        data: helpers.feed_clicks_hydro_attrs(click_target: "rollup_toggle_show_all", feed_item: item),
      )) { "Show all" } %>
      <%= render(Primer::ButtonComponent.new(
        scheme: :link,
        display: :block,
        font_size: :small,
        classes: "Details-content--hidden Link--muted btn-link",
        test_selector: "feed-rollup-toggle-show-less",
        aria: { label: "Toggle show less" },
        data: helpers.feed_clicks_hydro_attrs(click_target: "rollup_toggle_show_less", feed_item: item),
      )) { "Show less" } %>
    <% end %>
  </div>
<% else %>
  <%= content %>
<% end %>
