<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info \
  title: view.page_title,
  description: h(view.page_meta_description),
  richweb: {
    title: view.page_title,
    description: h(view.page_meta_description),
    type: "website",
  }
%>

<% if logged_in? && current_user.is_enterprise_managed? %>
  <%= render "gists/banner" %>

  <%= render layout: "gists/page_head" do %>
    <div class="container-lg px-3 mb-3">
    <%=
      render(Primer::Beta::Flash.new(scheme: :warning, icon: "alert")) do
        "Gists for Enterprise Managed Users are disabled."
      end
    %>
    </div>
  <% end %>
<% else %>
  <% content_for :head do %>
    <%= discover_feed :atom, view.atom_feed_path %>
  <% end %>

  <%= render "gists/banner" %>

  <%= render layout: "gists/page_head" do %>
    <div class="px-3">
      <div class="mb-3 d-flex">
        <h1 class="float-none flex-auto pl-0 width-fit">
          <%= primer_octicon(:"code-square", height: 32, mt: 0, position: :static, vertical_align: :middle) %>
          <%= view.page_title %>
        </h1>
        <ul class="pagehead-actions float-none">
          <li><%= render "gists/gists/sort_options", view: view if view.sorting_enabled?  %></li>
        </ul>
      </div>

      <%= render "gists/listings/navigation", view: view %>
    </div>
  <% end %>

  <%= render layout: "layouts/gists_container" do %>
    <% if view.gists.any? %>
      <% view.gists.uniq.each do |gist| %>
        <%= render "gists/gists/snippet", view: create_view_model(Gists::SnippetView, :gist => gist) %>
      <% end %>

      <div class="paginate-container">
        <%= simple_paginate(view.gists, :next_label => view.next_label, :previous_label => view.previous_label)%>
      </div>
    <% else %>
      <% if view.pagination_info.current_page > 1 %>
        <%= render Primer::BlankslateComponent.new(
          title: "It looks like we’ve ran out of gists!",
        ) do %>
          Wanna try <%= link_to "starting at page 1", url_for(:page => 1), class: "Link--inTextBlock" %>?
        <% end %>
      <% else %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h2) do %>
            <%= "Hmm, there don’t appear to be any #{view.type_label} gists yet." %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
