<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render(GitHub::DialogComponent.new(title: "Link Stripe Connect account")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
  <% dialog.with_summary do %>
    <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small).with_content("Link Stripe account") %>
  <% end %>
  <% dialog.with_body do %>
    <% if sponsors_listing.within_stripe_account_limit? %>
      <%= form_tag stafftools_sponsors_member_stripe_connect_accounts_path(sponsors_listing.sponsorable_login) do %>
        <p>
          You can link an existing Stripe Connect account to a Sponsors maintainer if it isn't already associated with
          someone else.
        </p>
        <p>
          If a maintainer needs a new Stripe account, they can create and link one themselves via their Sponsors
          dashboard.
        </p>
        <dl class="form-group">
          <dt class="text-bold">Sponsors maintainer:</dt>
          <dd>
            <%= render Sponsors::Sponsorables::AvatarComponent.new(sponsors_listing: sponsors_listing, size: 16) %>
            <%= sponsors_listing.sponsorable_login %>
          </dd>
        </dl>
        <dl class="form-group">
          <dt>
            <label for="link_stripe_account_id">Stripe account ID:</label>
          </dt>
          <dd>
            <input type="text" id="link_stripe_account_id" name="stripe_account_id"
              placeholder="e.g., acct_1FTkPuHZwjRbhiNt" class="form-control" required>
            <div class="note">
              This should be an account that exists in the
              <a class="Link--inTextBlock" href="https://dashboard.stripe.com/connect/accounts/overview" rel="noopener noreferrer" target="_blank">Stripe Connect dashboard</a>.
            </div>
          </dd>
        </dl>
        <%= render Primer::ButtonComponent.new(
          type: :submit,
          block: true,
          mt: 4,
          data: {
            disable_with: "Linking...",
            disable_invalid: true,
            confirm: "Are you sure the specified Stripe account belongs to #{sponsors_listing.sponsorable_login}?",
          },
        ).with_content("Link Sponsors profile and Stripe account") %>
      <% end %>
    <% else %>
      <p <%= test_selector("at-stripe-account-limit") %>>
        No more Stripe Connect accounts can be linked to
        <%= render Sponsors::Sponsorables::AvatarComponent.new(sponsors_listing: sponsors_listing, size: 16) %>
        <%= sponsors_listing.sponsorable_login %>'s Sponsors account because they have reached the maximum
        limit of <%= Billing::StripeConnect::Account::MAX_ACCOUNTS_PER_SPONSORS_LISTING %>.
      </p>
    <% end %>
  <% end %>
<% end %>
