<div>
  <span class="<%= label_class %>" style="<%= label_style %>" <%= test_selector("match-status-label") %>>
    <%= label_text %>
  </span>
  <span class="d-block text-small color-fg-muted mt-1" <%= test_selector("match-status-subtitle") %>>
    <%= matching_subtitle %>
  </span>
</div>
