<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Pinned repositories<% end %>
<% end %>
<div class="Box">
  <% @pinned_repos.each do |repository| %>
    <div class="Box-row">
      <a href="<%= repository_path(repository) %>" class="text-bold">
        <%= repository.name_with_owner %>
      </a>
      <div class="mt-1 color-fg-muted" <%= test_selector("repo-description") %>>
        <%= repository.description_html %>
      </div>
      <div class="mt-2 text-small color-fg-muted">
        <span class="mr-2" <%= test_selector("repo-star-count") %>>
          <%= render Primer::Beta::Octicon.new(icon: "star") %>
          <%= social_count(repository.stargazer_count) %>
        </span>
        <span <%= test_selector("repo-fork-count") %>>
          <%= render Primer::Beta::Octicon.new(icon: "repo-forked") %>
          <%= social_count(repository.forks_count) %>
        </span>
      </div>
    </div>
  <% end %>
</div>
