<%# erblint:counter DeprecatedComponentsCounter 3 %>
<details id="fiscal-host-edit" class="Details-element details-reset mb-2 js-dropdown-details">
  <summary class="d-block">
    <div class="Details-content--closed">
      <span class="d-block text-bold">Using fiscal host</span>
      <div>
        <% if parent_listing %>
          <a href="<%= stafftools_sponsors_member_path(parent_sponsorable_login) %>">
            <%= parent_sponsorable_login %>
          </a>
        <% else %>
          <span <%= test_selector("current-fiscal-host") %>><%= sponsors_listing.human_fiscal_host %></span>
        <% end %>
        &mdash;
        <span class="btn-link">Edit</span>
      </div>
    </div>
    <div class="Details-content--open sr-only">Cancel edit fiscal host</div>
  </summary>
  <%= form_tag stafftools_sponsors_member_path(sponsorable_login), method: :put do %>
    <dl class="form-group">
      <dt><label for="fiscal_host">Fiscal host</label></dt>
      <dd>
        <%= render Primer::Beta::Flash.new(scheme: :warning, mb: 2, icon: :alert) do %>
          Changing the fiscal host might also change the billing country or region, which decides if a
          user should be on Stripe Connect or use manual payouts.
          Please only change this if you know <strong>exactly</strong> what you're doing!
        <% end %>
        <div class="form-checkbox">
          <label aria-live="polite">
            <input type="radio"
              class="form-checkbox-details-trigger"
              name="fiscal_host_type"
              value="supported"
              <%= "checked" if sponsors_listing.uses_fiscal_host? %>>
            Supported fiscal host
            <span class="form-checkbox-details text-normal mt-1">
              <select class="form-select" name="sponsors_listing[parent_listing_id]" autofocus>
                <option value="" <%= "selected" if sponsors_listing.parent_listing_id.nil? %>>None</option>
                <% fiscal_host_listings.each do |fh_listing| %>
                  <option value="<%= fh_listing.id %>"
                    <%= "selected" if sponsors_listing.parent_listing_id == fh_listing.id %>
                  >
                    <%= fh_listing.sponsorable.safe_profile_name %>
                  </option>
                <% end %>
              </select>
            </span>
          </label>
        </div>
      </dd>
    </dl>
    <div class="no-wrap">
      <%= render Primer::ButtonComponent.new(
        variant: :small,
        type: :submit,
        "data-confirm": "Are you sure you want to update the fiscal host for #{sponsorable_login}?",
      ).with_content("Save") %>
      or
      <%= render Primer::ButtonComponent.new(
        scheme: :link,
        "data-toggle-for": "fiscal-host-edit",
      ).with_content("Cancel") %>
    </div>
  <% end %>
</details>
