<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="Box-row d-flex flex-items-center">
  <div class="flex-auto">
    <strong>Zuora sync status</strong>

    <div class="note">
      Approved listings should have a Zuora rate plan for all billing cycles
    </div>

    <div class="text-small mt-1">
      <% BILLING_CYCLES.each do |cycle| %>
        <span <%= test_selector("zuora_status_#{cycle}") %>
           class="no-wrap <%= status_background(cycle) %> py-1 px-2 color-fg-default d-inline-block v-align-middle h6 rounded-2 mr-1">
          <%= render Primer::Beta::Octicon.new(
            icon: status_icon(cycle),
            color: status_color(cycle),
          ) %>
          <%= cycle.humanize %>
        </span>
      <% end %>
    </div>
  </div>

  <div class="p-0">
    <%= form_tag stafftools_sponsors_member_listing_zuora_sync_path(@listing.sponsorable) do %>
      <button type="submit" class="btn" data-disable-with="Syncing..." autofocus>
        Sync with Zuora
      </button>
    <% end %>
  </div>
</div>
