<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%
  trade_screening_error_data = trade_screening_cannot_proceed_error_data(target: current_user)
%>
<div class="pb-6 mt-6">
  <div class="container-lg p-responsive">
    <h1 class="mb-6">Change how often <%= subscription_item.subscribable_name %> is billed</h1>

    <%= render(Primer::LayoutComponent.new(side: :left, sidebar_col: 5)) do |component| %>
      <% component.with_sidebar do %>
        <div class="mb-4">
          <p class="text-bold mb-2">Current billing plan</p>
          <p <%= test_selector("current-duration-and-price")%>>Pay <%= "#{subscription_item.billing_interval}ly" %>, <%= "#{subscription_item.base_price(duration: subscription_item.billing_interval).format}" %><span class="color-fg-subtle"><%= "/#{subscription_item.billing_interval}" %></span></p>
        </div>
        <div>
          <p class="text-bold">Change billing plan to</p>
          <%= render(Primer::Beta::BorderBox.new) do |plan_change_box| %>
            <% plan_change_box.with_row do %>
              <h4 class="d-flex flex-wrap flex-items-center">
                <span class="text-bold flex-auto" <%= test_selector("new-duration")%>>Pay <%= new_duration %>ly</span>
                <span class="text-bold flex-auto text-right" <%= test_selector("new-base-price")%>>
                  <%= new_duration_base_price.format %><span class="text-normal color-fg-subtle">/<%= new_duration %></span>
                </span>
              </h4>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% component.with_main do %>
        <div class="mb-3">
          <h2 class="mb-4">Payment Summary</h2>
          <div class="d-flex flex-wrap flex-items-center">
            <span class="text-bold flex-auto">Total</span>
            <span class="flex-auto text-right">
              <%= "#{new_duration_base_price.format}/#{new_duration}" %>
            </span>
          </div>
        </div>

        <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
          <%= render(Primer::Alpha::Banner.new(mb: 4)) do %>
            <div class="d-flex flex-wrap flex-items-center">
              <h4 class="text-bold flex-auto">Payment Due <%= payment_due_date.strftime("%b %e, %Y") %></h4>
              <span class="h2 flex-auto text-bold text-right" <%= test_selector("next-payment-amount") %>>
                <%= next_payment_amount.format %>
              </span>
            </div>
          <% end %>
        <% else %>
          <%= render(Primer::Beta::Flash.new(mb: 4)) do %>
            <div class="d-flex flex-wrap flex-items-center">
              <h4 class="text-bold flex-auto">Payment Due <%= payment_due_date.strftime("%b %e, %Y") %></h4>
              <span class="h2 flex-auto text-bold text-right" <%= test_selector("next-payment-amount") %>>
                <%= next_payment_amount.format %>
              </span>
            </div>
          <% end %>
        <% end %>

        <div>
          <div class="d-flex flex-wrap flex-items-center">
            <span class="text-bold flex-auto">Next payment</span>
            <span class="flex-auto text-right"><%= next_payment_amount.format %></span>
          </div>
          <p class="text-small color-fg-subtle">On <%= payment_due_date.strftime("%b %e, %Y") %></p>

          <hr class="my-3">
          <div class="clearfix">
            <%= render(Primer::Beta::Text.new(tag: :h4, font_weight: :bold, mb: 3)) { "Billing Information" } %>
            <% if current_user.is_allowed_to_edit_trade_screening_information? %>
              <div class="float-right js-edit-user-personal-profile-wrapper">
                <div class="btn f6 js-edit-user-personal-profile" type="button">
                  Edit
                </div>
              </div>
            <% end %>

            <%# Trade Screening Record Name Address Summary %>
            <div class="<%= class_names("col-sm-6 mb-3", "mb-sm-0" => current_user.has_saved_trade_screening_record?) %>">
              <div class="d-flex flex-items-center">
                <%= render GitHub::AvatarComponent.new(actor: current_user, size: 48, mr: 2) %>
                <ul class="list-style-none lh-condensed mb-2" style="min-height: 48px;">
                  <li class="pb-1 text-bold"><%= current_user.safe_profile_name %></li>
                  <li class="text-small color-fg-muted">
                    <%= current_user.organization? ? "Organization" : "Personal" %> account
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 text-sm-right lh-condensed">
                <% if current_user.has_saved_trade_screening_record? %>
                  <%= render Billing::Settings::NameAddressSummaryComponent.new(profile: current_user.trade_screening_record) %>
                <% end %>
              </div>
            </div>

            <%# TODO: replace hide name address collection wrapper with method in component once refactored %>
            <div class="js-name-address-collection-wrapper" <%= "hidden" if hide_name_address_collection_wrapper %>>
              <%= render Billing::Settings::NameAddressFormComponent.new(
                target: current_user,
                payment_flow_loaded_from: "SUBSCRIPTION_ITEMS_CHANGE_DURATION",
                wrapper_class: nil,
              ) %>
            </div>

            <% if trade_screening_error_data.present? %>
              <div class="border-top py-3">
                <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
                  <%= render(Primer::Alpha::Banner.new(icon: trade_screening_error_data[:icon], scheme: trade_screening_error_data[:scheme])) do %>
                    <h5 class="h5">
                      You can't proceed with your payment
                    </h5>
                    <div class="ml-5">
                      <%= trade_screening_error_data[:message] %>
                    </div>
                  <% end %>
                <% else %>
                  <%= render(Primer::Beta::Flash.new(scheme: trade_screening_error_data[:scheme])) do %>
                    <h5 class="h5">
                      <%= render(Primer::Beta::Octicon.new(trade_screening_error_data[:icon])) %>
                      You can't proceed with your payment
                    </h5>
                    <div class="ml-5">
                      <%= trade_screening_error_data[:message] %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% elsif current_user.has_saved_trade_screening_record? %>
              <div class="border-top py-3 js-payment-methods-wrapper" <%= test_selector("payment-method") %>>
                <h4 class="mb-3">Payment method</h4>

                <%= render Billing::Settings::PaymentMethodFormComponent.new(
                  target: current_user,
                  new_name_address_design: true,
                  signature_view_context: Billing::Zuora::HostedPaymentsPage::SUBSCRIPTION_ITEMS_CHANGE_DURATION_SIGNATURE_VIEW_CONTEXT,
                  return_to: subscription_item_change_duration_path(subscription_item_id: subscription_item.id),
                ) %>
                <div class="form-group m-0">
                  <input type="reset" value="Cancel" class="btn js-sponsors-cancel-edit-payment-method-btn" hidden>
                </div>
              </div>
              <% if current_user.payment_method %>
                <%= form_with method: :put do |f| %>
                  <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit, w: :full, mt: 3)) { "Submit" } %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
