<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::Beta::Subhead.new(test_selector: "skip-billing-check") do |component| %>
  <% component.with_heading(tag: :h4, danger: true) do %>Skip billing check<% end %>
  <% component.with_actions do %>
    <%= render layout: "shared/details_dialog", locals: {
      button_text: "Skip",
      button_class: "btn btn-danger",
      title: "Skip",
    } do %>

      <div class="Box-body overflow-auto">
        <p>
          This will skip <strong>Billing</strong> checks for <%= billing_entity %>’s packages & storage
        </p>
      </div>
      <div class="Box-footer">
        <% if is_user %>
          <%= form_tag stop_billing_check_stafftools_user_path(billing_entity),
                     method: :post do %>
            <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Skip<% end %>
          <% end %>
        <% else %>
          <%= form_tag stop_billing_check_stafftools_enterprise_path(billing_entity),
                     method: :post do %>
            <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Skip<% end %>
          <% end %>
        <% end %>
      </div>

    <% end %>
  <% end %>
<% end %>
<p class="mb-6">
  Skipping billing checks for mitigating the customer escalations like upload/download packages failing with billing checks taking time.
  This will be implementing the playbook <a class="Link--inTextBlock" href="https://github.com/github/c2c-package-registry/blob/ed770cdb016bd99a552c99a4111d549c9f505e27/docs/engineering/runbooks/skip_billing_check.md">here</a>.<%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
  <br><strong>If the billing is managed by an enterprise account, please use the enterprise accounts page to skip billing.</strong>
</p>
