<% content = capture do %>
  <div class="clearfix stafftools-group">
    <%= render :partial => "navigation/stafftools", locals: {header: true} %>

    <div class="<%= class_names(
      "float-left pl-3",
      "col-10" => container_xl?,
      "col-9" => !container_xl?,
    ) %>">
      <%= yield %>
    </div>
  </div>
<% end %>

<% if pjax? %>
  <%= content %>
<% else %>
  <div id="page-stafftools">
    <%= content %>
  </div>
<% end %>
