<%# erblint:counter DeprecatedComponentsCounter 6 %>
<% page_info title: "Search · Stafftools", selected_link: :stafftools %>

<% if !GitHub.enterprise? %>
  <%= render Primer::Alpha::Banner.new(scheme: :default, display: :flex, mb: 3) do %>
    <div>
      <p>Only use Stafftools to support GitHub’s Customers. GitHub has promised our customers we won’t use their data for anything other than providing them the service they’ve purchased.</p>
      <p>It’s all of our jobs to keep that promise.</p>
    </div>
  <% end %>
<% end %>

<%= render layout: "stafftools/stafftools" do %>
  <% if GitHub.enterprise? %>
    <p class="welcome mb-3">
      Welcome to the administration section! You can debug users and repositories from here.<br>
      <% if display_management_console_link? %>
        If you need to manage things like the domain, authentication and SSL, you should use the <a class="Link--inTextBlock" href="/setup">Management Console</a>.
      <% end %>
      <% if GitHub.licensed_mode? %>
        You can access your GitHub Enterprise license details in the <%= link_to("enterprise account settings", settings_license_enterprise_path(GitHub.global_business.to_param), class: "Link--inTextBlock") %>
      <% end %>
    </p>
  <% end %>

  <div class="mb-5" data-hpc>
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
      <% component.with_header(id: "general-search-description") do %>
        <h3 class="Box-title">
          Search users, organizations,
          <%= "enterprises," unless GitHub.single_business_environment? %>
          teams, repositories, gists, and applications
        </h3>
      <% end %>
      <% component.with_body do %>
        <p>
        <strong>Users</strong> are found by login, email,
        SSH key SHA256 fingerprint, GPG key,
        <% if GitHub.billing_enabled? %>
          coupon code, encoded billing ID, SDN screening ID,
        <% end %>
        or database ID.
        </p>
        <p>
        <strong>Organizations</strong> are found by login, email,
        <% if GitHub.billing_enabled? %>
          coupon code, encoded billing ID, SDN screening ID,
        <% end %>
        or database ID.
        </p>
        <% unless GitHub.single_business_environment? %>
          <p>
          <strong>Enterprises</strong> are found by slug, name, SDN screening ID, or database ID.
          </p>
        <% end %>
        <% unless GitHub.single_business_environment? %>
          <p>
          <strong>Customers</strong> are found by Zuora account number,
          Zuora account ID, or database ID.
          </p>
        <% end %>
        <p>
        <strong>Teams</strong> are found by organization/team, GraphQL object ID,
        or database ID.
        </p>
        <p>
        <strong>Repositories</strong> are found by name, "username/repository",
        deploy key SHA256 fingerprint, or database ID.
        </p>
        <p>
        <strong>Gists</strong> are found by name or "username/repository".
        </p>
        <p>
        <strong>OAuth applications</strong> are found by name, client ID or
        application ID.
        </p>
        <p>
        <strong>GitHub Apps</strong> are found by name or database ID.
        </p>
        <p>
        <strong>GitHub App installation</strong> are found by installation ID.
        </p>
        <p>
        <strong>Webhooks</strong> are found by hook ID.
        </p>
        <%= form_with url: stafftools_search_path, method: :get do |f| %>
          <div class="form-group">
            <%= f.text_field :query,
              autofocus: true,
              "aria-labelledby": "general-search-description"
            %>

          <%= render Primer::ButtonComponent.new(type: :submit) do %>
            Search
          <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="mb-5">
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
      <% component.with_header(id: "audit-search-label") do %>
        <h3 class="Box-title">
          Search audit log
        </h3>
      <% end %>
      <% component.with_row do %>
        You can search all audit log events across
        <%= GitHub.enterprise? ? "your enterprise" : "GitHub" %>.
        <% learn_more_link = GitHub.enterprise? ?
          "#{GitHub.enterprise_admin_help_url}/user-management/monitoring-activity-in-your-enterprise/searching-the-audit-log"
          : "https://thehub.github.com/epd/engineering/products-and-services/internal/audit-log/stafftools-kql/"
        %>
        <%= link_to \
          "Learn more.",
          learn_more_link,
          aria: { label: "Learn more about searching the audit log" } %>
        <% if stafftools_action_authorized?(
            controller: Stafftools::SearchController,
            action: :audit_log,
        ) %>
          <%= form_with url: stafftools_audit_log_path, method: :get do |f| %>
            <div class="form-group">
              <% placeholder_text = GitHub.enterprise? ?
                "username, username/repository, or IP" :
                "webevents | where actor == 'monalisa'"
              %>
              <%= f.text_field :query,
                id: "audit_log_query",
                placeholder: placeholder_text,
                "aria-labelledby": "audit-search-label"
              %>

            <%= render Primer::ButtonComponent.new(type: :submit) do %>
              Search
            <% end %>
            </div>
          <% end %>
        <% else %>
          <p><%= stafftools_not_authorized_html %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if GitHub.pages_custom_cnames? %>
    <div class="mb-5">
      <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
        <% component.with_header(id: "cname-search-label") do %>
          <h3 class="Box-title">
            Search pages by CNAME
          </h3>
        <% end %>
        <% component.with_row do %>
          Find a repository based on the custom domain being used with Pages
          <%= form_with url: stafftools_search_cname_path, method: :get do |f| %>
            <div class="form-group">
              <%= f.text_field :query,
                id: "cname_query",
                placeholder: "www.example.com",
                "aria-labelledby": "cname-search-label"
              %>

              <%= render Primer::ButtonComponent.new(type: :submit) do %>
                Search
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="mb-5">
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
      <% component.with_header(id: "user-asset-search-label") do %>
        <h3 class="Box-title">
          Search image attachments
        </h3>
      <% end %>
      <% component.with_row do %>
        Find an image uploaded by a user by its URL
        <%= form_with url: stafftools_search_user_assets_path, method: :get do |f| %>
          <div class="form-group">
            <%= f.text_field :query,
              id: "user_asset_query",
              placeholder: "image attachment URL",
              "aria-labelledby": "user-asset-search-label"
            %>

            <%= render Primer::ButtonComponent.new(type: :submit) do %>
              Search
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if GitHub.lockouts_enabled? %>
    <div class="mb-5">
      <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
        <% component.with_header(id: "lockouts-search-label") do %>
          <h3 class="Box-title">
            Search Locked IPs
          </h3>
        <% end %>
        <% component.with_row do %>
          Find a specific IP that is locked out
          <%= form_with url: stafftools_locked_ip_path, method: :get do |f| %>
            <div class="form-group">
              <%= f.text_field :ip_address,
                id: "lockouts_query",
                placeholder: "exact IP required",
                "aria-labelledby": "lockouts-search-label"
              %>

              <%= render Primer::ButtonComponent.new(type: :submit) do %>
                Search
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if GitHub.billing_enabled? %>
    <%= render "stafftools/billing_transactions/form" %>
  <% end %>

  <% if GitHub.actions_enabled? %>
    <div class="mb-5">
      <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
        <% component.with_header(id: "actions-search-label") do %>
          Search Actions
        <% end %>
        <% component.with_row do %>
          Search by Actions workflow run ID, check suite ID, or check run ID
          <%= form_with url: stafftools_search_actions_workflow_execution_path, method: :get do |f| %>
            <div class="form-group">
              <%= f.text_field :query,
                id: "actions_workflow_query",
                placeholder: "workflow run ID / check suite ID / check run ID",
                "aria-labelledby": "actions-search-label"
              %>

              <%= render Primer::ButtonComponent.new(type: :submit) do %>
                Search
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%# No-op feature flag to gather data for Vexi usage, calling twice to get stats both without and with the information memoized %>
  <% if FeatureFlag.vexi.enabled?(:vexi_stafftools_noop) %><% end %>
  <% if FeatureFlag.vexi.enabled?(:vexi_stafftools_noop) %><% end %>
<% end %>
