<p class="mb-3">
  Access to GitHub <%= Copilot::COPILOT_CHAT_IN_MOBILE %> has been disabled for your organization
  <%= link_to @organization_login, user_url(@organization_login) %>.
</p>

<p class="mb-3">
  To continue using <%= Copilot::COPILOT_CHAT_IN_MOBILE %>, ask one of the owners of your organization to enable access.
</p>

<p class="text-gray-light mt-3">
  For more information on setting up and using GitHub Copilot, visit the
  <%= link_to "feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %>,
  <%= link_to "read the documentation", Copilot::COPILOT_QUICKSTART %> or learn more about
  <%= link_to Copilot::COPILOT_CHAT_IN_MOBILE, Copilot::COPILOT_CHAT_MOBILE_DOCS %>.
</p>

<% content_for :footer_text do %>
  <p>
    You are receiving this because you are the owner of the <%= link_to @user_login, user_url(@user_login) %> account.
  </p>
<% end %>
