<div class="d-flex" data-team-hovercards-enabled>
  <%= render Primer::Beta::Octicon.new(
    icon: "people",
    color: :muted,
    mt: 1,
    mr: 2,
    flex_shrink: 0,
  ) %>
  <div class="wb-break-word">
    Member of
    <% visible_teams.each_with_index do |team, i| %>
      <% is_last = i == visible_teams.size - 1 %>
      <a
        href="<%= team_path(team) %>"
        <%= safe_data_attributes(
          activity_overview_link_hydro_attrs(
            selected_org_database_id: scoped_organization_id,
            path: team_path(team),
            type: :TEAM,
          ),
        ) %>
        <%= safe_data_attributes(hovercard_data_attributes_for_team(team)) %>
        class="text-bold"><%= team.name %></a><%= "," unless is_last %>
    <% end %>
    <% if remaining_count > 0 %>
      <span class="no-wrap">
        and <%= remaining_count %> other <%= "team".pluralize(remaining_count) %>
      </span>
    <% end %>
  </div>
</div>
