<% content_for :header do %>
  <%= @summary %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/sponsors-icon.png") %>" width="80" alt="GitHub Sponsors">
    <% end %>
    <%= render(Mail::SpacerComponent.new) %>

    <p>Hi <strong>@<%= @org %></strong>,</p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      A reminder, your current recurring sponsorships will be subject to a <%= Sponsorship::PERCENT_SPONSORSHIP_FEE_FOR_CREDIT_CARD_ORGS %>% fee after <%= Sponsorship::SPONSORS_FEES_FOR_EXISTING_SPONSORSHIPS_DATE_TEXT %>.
      If you'd like to switch to invoiced billing to save 3%, visit our <a href="<%= @invoiced_billing_docs_url %>">documentation</a> for details, and let us know how we can help.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Also as of <%= Sponsorship::SPONSORS_PUBLIC_RELEASE_DATE_TEXT %>, any new sponsorships
      you make are subject to a <%= Sponsorship::PERCENT_SPONSORSHIP_FEE_FOR_CREDIT_CARD_ORGS %>% fee.
      This fee is inclusive of a 3% credit card processing fee and a 3% GitHub service processing fee.
      If you choose to <a href="<%= @invoiced_billing_docs_url %>">pay by invoice</a>, your organization will
      be subject to only the 3% GitHub service processing fee. Check out our
      <%= link_to "blog", @blog_post_url %>
      for full details on what's new with Sponsors.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>While we <a href="<%= @beta_blog_post_url %>">shared at launch</a> that we would eventually introduce fees into the program, we wanted to do so in a way we believed would best support the ecosystem. We've worked hard to determine a fee structure that aligns with the goals of the program while addressing the costs of processing payments.</p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>Thank you for your continued support of the open source community.</p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>Best,</p>
    <p>GitHub Sponsors</p>
  <% end %>
<% end %>
