<% content_for :header do %>
  Don't forget to set up your GitHub Sponsors profile.
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hi <%= @sponsorable.name %>!
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Don't forget to finish setting up <%= link_to "your GitHub Sponsors profile", @signup_url %>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Get stuck? Not sure what to do next? Reach out to <%= link_to "support", SponsorsListing.support_url %> and we'll help out.
    </p>

    <% if @listing.matchable? %>
      <%= render(Mail::SpacerComponent.new) %>
      <p>
        A reminder that you may be eligible for the <%= link_to "GitHub Sponsors Matching Fund", "https://docs.github.com/github/supporting-the-open-source-community-with-github-sponsors/about-github-sponsors#about-the-github-sponsors-matching-fund" %>.
        We will review your profile for eligibility once you submit it. You have <strong>one month left</strong> to submit
        your profile for approval before your twelve-month matching period starts. Submit your profile soon to make sure
        you can take advantage of the full matching period!
      </p>
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      We can't wait to see what you create!
    </p>

    <%= render(Mail::SpacerComponent.new(size: 32)) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <% if @is_user %>
        <img src="<%= mailer_static_asset_path("images/email/sponsors/mona.png") %>" width="150" alt="Drawing showing a GitHub octocat holding a heart">
      <% else %>
        <img src="<%= mailer_static_asset_path("images/email/sponsors/many_hearts_mona.png") %>" width="150" alt="Drawing showing a GitHub octocat with an armful of hearts">
      <% end %>
    <% end %>
  <% end %>
<% end %>
