<% content_for :header do %>
  <% if @goal.monthly_sponsorship_amount? %>
    You reached your goal of <%= @goal.title %> in sponsorships!
  <% else %>
    You reached your goal of <%= @goal.title %>!
  <% end %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      <% if @goal.monthly_sponsorship_amount? %>
        Wow! Congratulations on reaching your goal! You now have <strong><%= @goal.title %></strong>
        in sponsorships, and are supported by <strong><%= pluralize(@contributions_count, "sponsor") %></strong>.
      <% else %>
        Wow! Congratulations on reaching your goal! You now have <strong><%= @goal.title %></strong>
        supporting you.
      <% end %>
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Here are the sponsors who helped you reach this goal:
    </p>

    <%= render(Mail::SpacerComponent.new(size: 25)) %>

    <% @sponsors.each do |sponsor| %>
      <div style="margin-right: 10px; margin-bottom: 10px; display: inline-block;">
        <%= avatar_for(sponsor, 38, class: "avatar") %>
      </div>
    <% end %>

    <hr>

    <h2 class="f1-light">What's next?</h2>

    <%= render(Mail::SpacerComponent.new) %>

    <h3 class="f3">Keep your sponsors in the loop</h3>

    <p>
      You can thank your sponsors for helping you reach this goal by sending them a message through your
      <%= link_to "Sponsors dashboard", sponsorable_dashboard_url(@sponsorable) %>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ButtonComponent.new(
      text: "Send a message to your sponsors",
      url: sponsorable_dashboard_updates_url(@sponsorable, return_to: sponsorable_dashboard_url(@sponsorable)),
    )) %>

    <%= render(Mail::SpacerComponent.new(size: 32)) %>

    <h3 class="f3">Set a new goal</h3>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Reaching a goal and setting a new one can create momentum for your Sponsors profile. You can review your
      achieved goals, or set a new one through your
      <%= link_to "Sponsors dashboard", sponsorable_dashboard_url(@sponsorable) %>
      Be sure to share new goals with your community!
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ButtonComponent.new(
      text: "View goals",
      url: sponsorable_dashboard_goals_url(@sponsorable, return_to: sponsorable_dashboard_url(@sponsorable)),
    )) %>

    <%= render(Mail::SpacerComponent.new(size: 32)) %>

    <h3 class="f3">Share your Sponsors profile</h3>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      It can be helpful to share your Sponsors profile with the community when you reach a goal or set a new
      one.
    </p>

    <%= render(Mail::SpacerComponent.new(size: 32)) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/welcome-email/welcometocat.png") %>" width="350" alt="GitHub's Octocat mascot expressing Welcome!">
    <% end %>
  <% end %>
<% end %>
