<% content_for :header do %>
  @<%= @org %> is now using invoiced billing for GitHub Sponsors
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/sponsors-icon.png") %>" width="80" alt="GitHub Sponsors">

      <%= render(Mail::SpacerComponent.new) %>

      <p>Invoiced billing for GitHub Sponsors has been successfully set up for <strong>@<%= @org %></strong>!</p>

      <p>
        To start sponsoring projects, you need to add funds to your Sponsors balance.
        Add funds by creating a new invoice.
      </p>

      <%= render(Mail::SpacerComponent.new) %>

      <%= render(Mail::ContainerComponent.new) do %>
        <%= render(
          Mail::ButtonComponent.new(
            text: "Create your first invoice",
            url: new_org_sponsoring_invoice_url(@org),
            classes: "btn-primary btn-large",
          )
        ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  Button not working? Paste the following link into your browser:<br>
  <a href="<%= new_org_sponsoring_invoice_url(@org) %>"><%= new_org_sponsoring_invoice_url(@org) %></a>
<% end %>
