<% content_for :header do %>
  <%= @summary %>
<% end %>
<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/sponsors-icon.png") %>" width="80" alt="GitHub Sponsors">

      <%= render(Mail::SpacerComponent.new) %>

      <p>Hi <strong>@<%= @org %></strong>,</p>

      <%= render(Mail::SpacerComponent.new) %>

      <p>
        This is a confirmation that your GitHub Sponsors invoice agreement has been terminated as of <%= @termination_date %>.
        You may still sponsor projects via credit card or come back when invoicing is more suitable for your organization.
      </p>

      <%= render(Mail::SpacerComponent.new) %>

      <p>Please reach out to our support team (<%= GitHub.support_url %>) with any questions or feedback.</p>

      <%= render(Mail::SpacerComponent.new) %>

      <p>Best,</p>
      <p>GitHub Sponsors</p>
    <% end %>
  <% end %>
<% end %>
