<% content_for :header do %>
  Setting up invoiced billing for GitHub Sponsors failed for @<%= @org %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/sponsors-icon.png") %>" width="80" alt="GitHub Sponsors">

      <%= render(Mail::SpacerComponent.new) %>

      <p>
        Oh no! Something went wrong when we tried to set up invoiced billing for GitHub Sponsors for <strong>@<%= @org %></strong>.
      </p>

      <p>Please try setting up invoiced billing for Sponsors again.</p>

      <%= render(Mail::SpacerComponent.new) %>

      <%= render(Mail::ButtonComponent.new(
        text: "Set up invoiced billing for Sponsors",
        url: new_org_sponsoring_invoiced_billing_account_url(@org),
        classes: "btn-large",
      )) %>

      <%= render(Mail::SpacerComponent.new) %>

      <p>
        If this continues to occur, please reach out to our <%= link_to "support team", GitHub.support_url %>
      </p>
    <% end %>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  Button not working? Paste the following link into your browser:<br>
  <a href="<%= new_org_sponsoring_invoiced_billing_account_url(@org) %>">
    <%= new_org_sponsoring_invoiced_billing_account_url(@org) %>
  </a>
<% end %>
