<% content_for :header do %>
  <%= @subject %>
<% end %>

<%=
  render(
    Mail::HeaderTitleComponent.new(
      title: @subject,
      icon: "pink-sponsors.png",
    )
  )
%>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      You’re now able to receive sponsorships, <strong>@<%= @sponsorable %></strong>! 🎉
    </p>
    <p>
      As a next step, we recommend filling out your profile to share what you’re working on:
    </p>

      <%=
      render(
        Mail::ButtonComponent.new(
          text: "Fill out your profile",
          url: sponsorable_dashboard_profile_url(@sponsorable),
          classes: "btn-primary btn-large my-3",
        )
      )
    %>

    <p class="mt-3">Here are some other suggestions for your new sponsorship page:</p>

    <%= render(Mail::SpacerComponent.new) %>

    <h4>Share your sponsorship page</h4>

    <p>
      It’s important to let your community know that they can sponsor you through GitHub Sponsors.
      We’ve provided a few examples of how to share your sponsorship page—check it out!
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <%=
        render(
          Mail::ButtonComponent.new(
            text: "Learn more ways to share",
            url: sponsorable_dashboard_url(@sponsorable, anchor: "next-steps"),
          )
        )
      %>
    <% end %>

    <% if @listing.goals.none? %>
      <%= render(Mail::SpacerComponent.new(size: 24)) %>

      <h4>Create a goal</h4>

      <p>
        Setting small goals early on helps create momentum for your sponsorship page.
        Whether it’s reaching your first 10 sponsors, $20 a month, or $5,000 a month,
        let your community know how to help push you forward.
      </p>

      <%= render(Mail::SpacerComponent.new) %>

      <%= render(Mail::ContainerComponent.new) do %>
        <%=
          render(
            Mail::ButtonComponent.new(
              text: "Create a goal",
              url: sponsorable_dashboard_goals_url(@sponsorable),
            )
          )
        %>
      <% end %>
    <% end %>

    <%= render(Mail::SpacerComponent.new(size: 32)) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/many_hearts_mona.png") %>" width="150" alt="Drawing showing a GitHub octocat with an armful of hearts">
    <% end %>
  <% end %>
<% end %>
