<% content_for :header do %>
    <%= @summary %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>Hello <strong>@<%= @sponsor %></strong>,</p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      This is a friendly reminder that your sponsorship balance will be $0.00 USD on <%= @zero_balance_date_formatted %>.
      Sponsorships will be cancelled once they can no longer be covered by your balance.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      To review your balance, please visit your <%= link_to "GitHub Sponsors dashboard", org_sponsoring_url(@sponsor) %>.
    </p>

    <a href="<%= @new_invoice_url %>">Create a new invoice</a> to refill your balance.

    <%= render(Mail::SpacerComponent.new) %>

    <p>
       If you have any questions, please reach out to our <%= link_to "support team", GitHub.support_url %>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Thank you for supporting the open source community!
    </p>

    <p>
      GitHub Sponsors Team
    </p>

  <% end %>
<% end %>
