<% content_for :header do %>
  You've reached a milestone!
<% end %>

<%=
  render(
    Mail::HeaderTitleComponent.new(
      title: "Congratulations, you have #{@milestone_title}!",
      icon: "pink-sponsors.png",
    )
  )
%>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      💖 We knew you could do it, and we can’t wait to see more.
      Here are some things you can do to continue growing your sponsorship.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <h4>Keep your sponsors updated</h4>

    <p>
      Your sponsors appreciate the work that you do, so why not thank them for their support?
      Send them a message through your Sponsors dashboard.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <%=
        render(
          Mail::ButtonComponent.new(
            text: "Message your sponsors",
            url: sponsorable_dashboard_updates_url(@sponsorable),
          )
        )
      %>
    <% end %>

    <%= render(Mail::SpacerComponent.new(size: 24)) %>

    <h4>Create a goal</h4>

    <p>
      Setting small goals early on helps create momentum for your sponsorship page.
      Whether it’s reaching your first 10 sponsors, $20 a month, or $5,000 a month,
      let your community know how to help push you forward.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <%=
        render(
          Mail::ButtonComponent.new(
            text: "Create a goal",
            url: sponsorable_dashboard_goals_url(@sponsorable),
          )
        )
      %>
    <% end %>

    <%= render(Mail::SpacerComponent.new(size: 32)) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/welcome-email/welcometocat.png") %>" width="250" alt="GitHub's Octocat mascot expressing Welcome!">
    <% end %>
  <% end %>
<% end %>
