<% content_for :header do %>
  <% if @sponsorship.privacy_private? %>
    You have a new private sponsor!
  <% else %>
    You have a new sponsor!
  <% end %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      <a href="<%= user_url(@sponsor) %>"><strong>@<%= @sponsor.display_login %></strong></a>

      is now <%= "privately" if @sponsorship.privacy_private? %> sponsoring <%= @sponsorable_descriptor %> for
      <%= @sponsorship_amount_cycle %>!

      <% if @via_bulk_sponsorship %>
        @<%= @sponsor %> used the <%= link_to "Bulk Sponsorship tool", "#{GitHub.help_url}/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor#sponsoring-accounts-in-bulk" %> to sponsor <%= @sponsorable_descriptor %> along with other maintainers.
      <% end %>

      <% if @sponsorship.privacy_private? %>
        Only <%= @private_sponsorship_descriptor %> can see that <a href="<%= user_url(@sponsor) %>"><strong>@<%= @sponsor.display_login %></strong></a> is a sponsor.
      <% end %>
    </p>

    <% if @sponsor_note.present? %>
      <p>A note from your new sponsor:</p>
      <blockquote><%= simple_format(@sponsor_note) %></blockquote>
    <% end %>

    <hr>

    <h2 class="f1-light">What's next?</h2>

    <%= render(Mail::SpacerComponent.new) %>

    <% if @is_first_sponsorship %>
      <h3 class="f3">Your first sponsorship</h3>
    <% elsif @on_payout_probation || !@needs_tax_form %>
      <h3 class="f3">Getting paid</h3>
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <% if @is_first_sponsorship || @on_payout_probation || !@needs_tax_form %>
      <p>
        <% if @is_first_sponsorship %>
          Now that you've received your first sponsorship, you will be eligible for payouts after the
          <%= SponsorsListing::PAYOUT_PROBATION_DAYS %>-day probation period completes.
        <% elsif @on_payout_probation %>
          You will be eligible for payouts after the <%= SponsorsListing::PAYOUT_PROBATION_DAYS %>-day
          probation period completes.
        <% end %>
      </p>
      <p>
        <% if @automated_payouts_disabled %>
          Your payouts are processed manually. For manual payout inquiries, please reach out to
          <%= link_to "support", SponsorsListing.support_url %>.
        <% else %>
          Your payouts are processed monthly and will land in your account by the
          <%= Billing::StripeConnect::Account::PAYOUT_MONTHLY_ANCHOR.ordinalize %> of the month.
          <% if @next_payout_date %>
            This means that you'll likely receive your first payout on <%= @next_payout_date %>,
            unless the probation period ends after this payout is already initiated.
          <% end %>
        <% end %>
      </p>
      <p>
        You can read further detail on this here: <%= link_to "4.3 Payment Timing", "#{GitHub.help_url}/site-policy/github-terms/github-sponsors-additional-terms#43-payment-timing" %>.
      </p>
    <% end %>

    <% if @needs_tax_form %>
      <%= render(Mail::SpacerComponent.new) %>

      <h3 class="f3">Before you get paid...</h3>

      <%= render(Mail::SpacerComponent.new) %>

      <p>
        In order to receive your sponsorship payouts, you will need to fill out information in your Sponsorship dashboard in order to complete the necessary tax documentation.
      </p>

      <%= render(Mail::SpacerComponent.new) %>

      <%= render(Mail::ButtonComponent.new(
        text: "Fill out your information",
        url: sponsorable_dashboard_settings_url(@sponsorable, return_to: sponsorable_dashboard_url(@sponsorable)),
      )) %>
    <% else %>
      <p>
        You can see your current balance in the Payouts page in your Sponsorship dashboard.
      </p>

      <%= render(Mail::SpacerComponent.new) %>

      <%= render(Mail::ButtonComponent.new(
        text: "Visit your sponsorship dashboard",
        url: sponsorable_dashboard_payouts_url(@sponsorable),
      )) %>
    <% end %>
    <%= render(Mail::SpacerComponent.new(size: 32)) %>

    <%= render(Mail::ThankSponsorsComponent.new(
      sponsorable: @sponsorable,
      sponsor: @sponsor,
      sponsorship: @sponsorship,
      sponsoring: false,
      params: { origin: Sponsors::TrackingParameters::NEW_SPONSOR_MAIL_ORIGIN }
      ))
    %>

    <%= render(Mail::ContainerComponent.new) do %>
      <img class="welcometocat" src="<%= mailer_static_asset_path("images/email/welcome-email/welcometocat.png") %>" width="350" alt="GitHub's Octocat mascot expressing Welcome!">
    <% end %>
  <% end %>
<% end %>
