<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new(align: "center")) do %>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <%= render(GitHub::AvatarComponent.new(actor: @sponsorable, size: 48, style: "margin: auto; display: block;")) %>
        </td>
      </tr>
    </table>

    <%= render(Mail::SpacerComponent.new) %>

    <h3 class="lh-condensed text-center"><%= @title %></h3>

    <%= render(Mail::SpacerComponent.new) %>

    <p class="text-center">
      <strong>Sponsorship amount:</strong> <%= @sponsorship_amount %>
      <% if @recurring && !@patreon %>
        <br>
        <strong>Next billing date:</strong> <%= @sponsor_next_billing_date %>
      <% end %>
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <% if @repository %>
      <%= render Mail::RowComponent.new(classes: "border-bottom border-top") do %>
        <td class="p-3 pr-0">
          <img src="<%= mailer_static_asset_path("images/email/sponsors/mona.png") %>" width="35" alt="" >
        </td>
        <td class="p-3 pl-0">
          As part of your sponsorship, you get access to <%= link_to @repository.name_with_display_owner, @repository.permalink %>.
        </td>
      <% end %>
    <% else %>
      <hr>
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ThankSponsorsComponent.new(
      sponsorable: @sponsorable,
      sponsor: @sponsor,
      sponsorship: @sponsorship,
      sponsoring: true,
      params: { origin: Sponsors::TrackingParameters::NOW_SPONSORING_MAIL_ORIGIN }
      ))
    %>

    <% if @tier.has_welcome_message? %>
      <%= render Primer::Beta::Markdown.new do %>
        <%= @tier.welcome_message_html %>
      <% end %>
    <% else %>
      <%= render(Mail::ContainerComponent.new) do %>
        <img src="<%= mailer_static_asset_path("images/email/welcome-email/welcometocat.png") %>" width="350" alt="GitHub's Octocat mascot expressing Welcome!" >
      <% end %>
    <% end %>
  <% end %>
<% end %>
