<% content_for :header do %>
  Patreon sponsorship cancellation
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/patreon_logo_black.png") %>" width="80" alt="Patreon logo">

      <%= render(Mail::SpacerComponent.new) %>

      <p>Hi <strong>@<%= @sponsorable %></strong>,</p>

      <p>
        We're writing to let you know that a recurring sponsorship via Patreon from
        <strong>@<%= @sponsor %></strong> was cancelled and will no longer be visible on GitHub after your next billing cycle.
      </p>

      <%= render(Mail::SpacerComponent.new) %>

      <p>
        Visit the GitHub Sponsors dashboard <%= link_to "activity feed", sponsorable_dashboard_activities_url(@sponsorable) %>
        for complete transaction history.
      </p>

      <%= render(Mail::SpacerComponent.new) %>
    <% end %>
  <% end %>
<% end %>
