<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new(align: "center")) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/patreon_logo_black.png") %>" width="48" alt="Patreon logo">
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <h3 class="lh-condensed text-center">
      New Patreon sponsorship!
    </h3>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      <a href="<%= user_url(@sponsor) %>"><strong>@<%= @sponsor.display_login %></strong></a>
      has become <%= @sponsorable_descriptor %> patron on Patreon, and this sponsorship is now visible on GitHub.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ButtonComponent.new(
      text: "Visit your sponsorship dashboard",
      url: sponsorable_dashboard_payouts_url(@sponsorable),
    )) %>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/welcome-email/welcometocat.png") %>" width="350" alt="GitHub's Octocat mascot expressing Welcome!">
    <% end %>

  <% end %>
<% end %>
