<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new(align: "center")) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/patreon_logo_black.png") %>" width="48" alt="Patreon logo">
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <h3 class="lh-condensed text-center">
      Now that <%= @sponsor_noun %> and @<%= @sponsorable %> have connected your Patreon accounts, your sponsorship is visible on GitHub!
    </h3>

    <%= render(Mail::SpacerComponent.new) %>

    <p class="text-center">
      View <%= link_to "your sponsorships", @sponsoring_url =%> on GitHub or manage on <%= link_to "Patreon", @patreon_url %>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/welcome-email/welcometocat.png") %>" width="350" alt="GitHub's Octocat mascot expressing Welcome!">
    <% end %>

  <% end %>
<% end %>
