<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new(align: "center")) do %>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <%= render(GitHub::AvatarComponent.new(actor: @sponsorable, size: 48, style: "margin: auto; display: block;")) %>
        </td>
      </tr>
    </table>

    <%= render(Mail::SpacerComponent.new) %>

    <h3 class="lh-condensed text-center"><%= @title %></h3>

    <%= render(Mail::SpacerComponent.new) %>

    <p class="text-center">
      <strong>Sponsorship amount:</strong> <%= @sponsorship_amount %>
    </p>

    <p class="text-center">
      You will receive a sponsorship welcome email once your payment has been processed. Thank you for supporting
      @<%= @sponsorable %>'s work!
    </p>
  <% end %>
<% end %>
