<% content_for :header do %>
  Wow, you've received <%= @match_limit %> in sponsorships!
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>Hi <strong>@<%= @sponsorable_login %></strong>,</p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Congratulations, you just crossed the <%= @match_limit %> threshold in contributions! Once you count the additional match from the GitHub Sponsors Matching Fund, that's <%= @sponsorships_plus_match %> of funding for your wonderful open source work. 🎉
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Now that you've hit <%= @match_limit %> matched, GitHub will no longer match your sponsorships moving forward.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      <a href="<%= GitHub.help_url %>/articles/about-github-sponsors#about-the-github-sponsors-matching-fund">
        Learn more about the GitHub Sponsors Matching Fund.
      </a>
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      We're amazed by the community you've built and are so proud to play a small role in accelerating your open source work. Thank you for your open source contributions and for being an early user of GitHub Sponsors.
    </p>

    <%= render(Mail::SpacerComponent.new(size: 32)) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/mona.png") %>" width="175" alt="Drawing showing a GitHub octocat holding a heart">
    <% end %>
  <% end %>
<% end %>
