<% content_for :header do %>
  Your GitHub Sponsors account has been moved to draft
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>Hi <strong>@<%= @login %></strong>,</p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      GitHub Sponsors requires a <%= link_to "tax form", "https://docs.github.com/sponsors/receiving-sponsorships-through-github-sponsors/tax-information-for-github-sponsors" %>
      from everyone who is part of the GitHub Sponsors program.
      We've sent some email reminders but haven't been able to collect one from you yet.
      We've made the GitHub Sponsors account for @<%= @login %> a draft again
      until we can get a tax form.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      To re-enable your account, go to your GitHub Sponsors dashboard at
      <%= link_to(
        sponsorable_dashboard_url(@login, anchor: "tax-form"),
        sponsorable_dashboard_url(@login, anchor: "tax-form"),
      ) %>
      and click the link to fill out your tax form. Once you've completed the tax form,
      you'll be able to submit your profile for approval.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      If you need a different tax form or have any questions, you can
      <%= link_to "contact GitHub Support", SponsorsListing.support_url(subject: "GitHub Sponsors: tax form") %>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Thanks for being part of GitHub Sponsors!
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>GitHub Staff</p>
  <% end %>
<% end %>
