<% content_for :header do %>
  GitHub Invoiced Agreement signed for @<%= @org %>
<% end %>
<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/sponsors-icon.png") %>" width="80" alt="GitHub Sponsors">

      <%= render(Mail::SpacerComponent.new) %>

      <p>Hi <strong>@<%= @org %></strong>,</p>

      <%= render(Mail::SpacerComponent.new) %>

      <p>
        An agreement to pay for GitHub Sponsors via invoice has been signed for <strong>@<%= @org %></strong>.
      </p>

        <%= render(Mail::SpacerComponent.new) %>

      <p>
        Please download the agreement here.
      </p>

      <%= render(Mail::SpacerComponent.new) %>
    <% end %>
  <% end %>
<% end %>
