<% content_for :header do %>
  Your sponsorships export is ready!
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/sponsors-icon.png") %>" width="80" alt="GitHub Sponsors">
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <p>Hi <strong>@<%= @sponsorable %></strong>,</p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>Attached to this email is your sponsorships export for <%= @description %>.</p>

    <% if @actor %>
      <%= render(Mail::SpacerComponent.new) %>

      <p>
        You are receiving this email because
        <% if @actor == @sponsorable %>
          you
        <% else %>
          <a href="<%= user_url(@actor) %>">@<%= @actor %></a>
        <% end %>
        requested an export of this data.
      </p>
    <% end %>
  <% end %>
<% end %>
