<% content_for :header do %>
  <%= @summary %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/sponsors-icon.png") %>" width="80" alt="GitHub Sponsors">
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <p>Hi <strong>@<%= @sponsor %></strong>,</p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      As of <%= SponsorsPrimerMailer::PAYPAL_DEPRECATION_DATE_TEXT %>, GitHub Sponsors no longer supports PayPal as a
      payments processor. As such, it is no longer possible to sponsor individuals or organizations using PayPal.
      <a href="<%= @changelog_url %>">Read our changelog</a>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      <%= @sponsor.user? ? "You" : "@#{@sponsor}" %> still <%= @sponsor.user? ? "have" : "has" %> PayPal as
      <%= @sponsor.user? ? "your" : "their" %> GitHub payment method. Because of this, we cancelled the following
      sponsorships:
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      <% @sponsorships.each do |sponsorship| %>
        &middot; <%= sponsorship.tier %> for <strong>@<%= sponsorship.sponsorable_login %></strong><br>
      <% end %>
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      If you would like to sponsor these maintainers again, please first
      <a href="<%= @update_payment_method_url %>">update your payment method</a> to be a credit or debit card. You can
      view all your past sponsorships in your <a href="<%= @past_sponsorships_url %>">billing settings</a> and
      re-sponsor them from there.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <%= render Mail::ButtonComponent.new(
        text: "Update your payment method",
        url: @update_payment_method_url,
        classes: "btn-primary btn-large"
      ) %>
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <p class="email-text-small email-text-gray">
      Button not working? Paste the following link into your browser:<br>
      <%= link_to @update_payment_method_url, @update_payment_method_url %>
    </p>
  <% end %>
<% end %>
