<% content_for :header do %>
  Your Explore Sponsors export is ready!
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/sponsors-icon.png") %>" width="80" alt="GitHub Sponsors">
    <% end %>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Hi <strong>@<%= @recipient %></strong>,
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      <%= @whose_export %> Explore Sponsors results are attached to this email. If you want to sponsor many of these maintainers at once, you can modify the file using a tool like Microsoft Excel, Google Sheets, or a text editor. Some things you can change:
      <ol type="1">
        <li>Add other maintainers you want to sponsor who have a GitHub Sponsors profile. Fill in the <i>Maintainer username</i> column in the file.</li>
        <li>Remove any maintainers who you don't want to sponsor.</li>
        <li>Modify the <i>Sponsorship amount in USD</i> column for each maintainer to what you want to spend.</li>
        <li><a href="<%= new_sponsors_bulk_sponsorship_imports_url(sponsor: @sponsor) %>">Upload the file to GitHub</a>.</li>
      </ol>
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Visit the <%= link_to "Bulk Sponsorships documentation", "#{GitHub.help_url}/sponsors/sponsoring-open-source-contributors/sponsoring-an-open-source-contributor#sponsoring-accounts-in-bulk" %> for more information on how to use this feature.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      You can also view the results from your export <a href="<%= sponsors_explore_index_url(@explore_params) %>">on the web</a>.
    </p>
  <% end %>
<% end %>
