<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>Hi @<%= @sponsor %>,</p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      We're reaching out to inform you that <a href="<%= user_url(@sponsorable) %>">@<%= @sponsorable %></a>,
      who you had <% if @tier.recurring? %>been sponsoring<% else %>sponsored<% end %> for <%= @tier.name %>, is no
      longer participating in GitHub Sponsors. Your sponsorship of the account has been canceled, and you will not be
      further billed for this particular subscription.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      You can manage your sponsorships on <a href="<%= @sponsors_view_sponsorships_url %>">your GitHub profile</a>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>If you have any questions, please let us know.</p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>Thanks,</p>
    <p>GitHub Support</p>
  <% end %>
<% end %>
