<% content_for :header do %>
  Sponsorship Cancellation
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/sponsors-icon.png") %>" width="80" alt="GitHub Sponsors">

      <%= render(Mail::SpacerComponent.new) %>

      <p>Hi <strong>@<%= @sponsors_activity.sponsorable %></strong>,</p>

      <%= render(Mail::SpacerComponent.new) %>

      <% if @unlinked_sponsor %>
        <p>
          <strong><%= @sponsors_activity.sponsor %></strong> has unlinked their GitHub and Patreon accounts. As a result, the sponsorship made via Patreon will no longer display on GitHub. The sponsorship will continue on Patreon.
        </p>
      <% else %>
        <p>
          We're writing to let you know that your recurring sponsorship of <%= Billing::Money.new(@sponsors_activity.monthly_price_in_cents).format %>
          <% if @sponsors_activity.patreon? %>
            (via Patreon)
          <% end %>
          from @<%= @sponsors_activity.sponsor %> was cancelled on <%= @cancellation_date %>.
        </p>

        <%= render(Mail::SpacerComponent.new) %>

        <p>
          Visit your GitHub Sponsors dashboard <%= link_to "activity feed", sponsorable_dashboard_activities_url(@sponsors_activity.sponsorable) %>
          for complete transaction history.
        </p>
      <% end %>

      <%= render(Mail::SpacerComponent.new) %>
    <% end %>
  <% end %>
<% end %>
