<% content_for :header do %>
  <%= @summary %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hello <strong>@<%= @organization %></strong>,
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      <strong>@<%= @enterprise %></strong> has granted this organization permission to create sponsorships.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Any sponsorships created will be billed to <strong>@<%= @enterprise %></strong>.<br>For more details, contact your enterprise owners.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Thank you for supporting the open source community!
    </p>
  <% end %>
<% end %>
