<% content_for :header do %>
  <%= @summary %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hello <strong>@<%= @organization %></strong>,
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      <strong>@<%= @enterprise %></strong> has rescinded this organization's permission to create sponsorships.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      You will no longer be able to create sponsorships from this organization,
      and all existing sponsorships will be cancelled.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      For more details, contact your enterprise owners.
    </p>
  <% end %>
<% end %>
