<% content_for :header do %>
  <%= @title %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/sponsors-icon.png") %>" width="80" alt="GitHub Sponsors">

      <%= render(Mail::SpacerComponent.new) %>

      <p>Hi <strong>@<%= @sponsorable %></strong>,</p>

      <%= render(Mail::SpacerComponent.new) %>

      <p>
        We're writing to let you know that your recurring sponsorship <% if @sponsorship.patreon? %>(via Patreon) <% end %>from <strong>@<%= @sponsorship.sponsor %></strong> has been upgraded to <%= @tier %>.
      </p>

      <%= render(Mail::SpacerComponent.new) %>

      <p>
        Visit your GitHub Sponsors dashboard <%= link_to "activity feed", sponsorable_dashboard_activities_url(@sponsorable) %>
        for complete transaction history.
      </p>

      <%= render(Mail::SpacerComponent.new) %>

      <%= render(Mail::ContainerComponent.new) do %>
        <img src="<%= mailer_static_asset_path("images/email/welcome-email/welcometocat.png") %>" width="350" alt="GitHub's Octocat mascot expressing Congratulations!" >
      <% end %>
    <% end %>
  <% end %>
<% end %>
