<% content_for :header do %>
  <%= @summary %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hello <strong>@<%= @sponsorable %></strong>,
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      This is an automated email from GitHub Sponsors to let you know a transaction was reversed.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      This can happen for a number of reasons. You may wish to remove @<%= @sponsor %> from being able to access any tier perks.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      To see a record of your transactions, you can visit your <%= link_to "Stripe dashboard", @stripe_account.stripe_dashboard_url %>.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      If you have any questions or concerns, please contact <%= link_to "GitHub Support", SponsorsListing.support_url %>.
    </p>
  <% end %>
<% end %>
