<% content_for :header do %>
  <%= @subject %>!
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      We move waitlisted <%= @types %> into the program on a rolling basis. The next step is to watch for an email from GitHub notifying you that you've made it off the <%= @waitlist_title %> and into the program.
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Questions? Visit <a href="<%= GitHub.help_url %>/articles/about-github-sponsors">the Sponsors documentation</a> or <a href="<%= SponsorsListing.support_url(subject: "GitHub Sponsors waitlist") %>">contact us</a>.
    </p>

    <%= render(Mail::SpacerComponent.new(size: 32)) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <img src="<%= mailer_static_asset_path("images/email/sponsors/mona.png") %>" width="150" alt="Drawing showing a GitHub octocat holding a heart">
    <% end %>
  <% end %>
<% end %>
