<% content_for :header do %>
  Welcome to GitHub Sponsors!
  <% if @extra_info %>
    <%= render(Mail::SpacerComponent.new) %>
    <%= @extra_info %>
  <% end %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      You're just a couple of steps away from publishing your sponsorship page.
    </p>

    <%= render(Mail::SpacerComponent.new(size: 32)) %>

    <h3 class="f3">Step 1: Complete the signup process</h3>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Please <%= link_to "complete the required steps", @signup_url %> to publish your GitHub Sponsors profile.
    </p>

    <%= render(Mail::SpacerComponent.new(size: 32)) %>

    <h3 class="f3">Step 2: Get your profile approved</h3>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      Once you complete your GitHub Sponsors profile, submit it for identity verification and approval by GitHub staff. We'll follow up by email when your profile has been approved.
    </p>

    <% if @listing.matchable? %>
      <%= render(Mail::SpacerComponent.new) %>

      <p>
        You may be eligible for the <%= link_to "GitHub Sponsors Matching Fund", "https://docs.github.com/github/supporting-the-open-source-community-with-github-sponsors/about-github-sponsors#about-the-github-sponsors-matching-fund" %>.
        We will review your profile for eligibility once you submit it. You have <strong>two months</strong> to submit
        your profile for approval before your twelve-month matching period starts. Submit your profile soon to make sure
        you can take advantage of the full matching period!
      </p>

      <%= render(Mail::SpacerComponent.new) %>

      <p>
        Once the matching period starts, you can still submit your profile for approval. Once your profile is approved,
        you'll be eligible for matching for the remainder of the matching period.
      </p>
    <% end %>

    <%= render(Mail::SpacerComponent.new(size: 32)) %>

    <h3 class="f3">Step 3: Get paid</h3>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      <% if @is_user && @listing.joined_waitlist_before_match_deadline? %>
        You'll be eligible for payment around <strong><%= SponsorsListing::PAYOUT_PROBATION_DAYS %></strong> days after the first person sponsors you.
      <% else %>
        Once you receive your first sponsorship, you will be paid around the <strong><%= SponsorsListing::MONTHLY_PAYOUT_DAY.ordinalize %></strong> of each month!
      <% end %>
    </p>

    <%= render(Mail::SpacerComponent.new) %>

    <p>
      And that's it! Thank you for your contribution to open source &mdash; we're excited to see all the ways GitHub Sponsors can support you.
    </p>

    <%= render(Mail::SpacerComponent.new(size: 32)) %>

    <%= render(Mail::ContainerComponent.new) do %>
      <% if @is_user %>
        <img src="<%= mailer_static_asset_path("images/email/sponsors/mona.png") %>" width="150" alt="Drawing showing a GitHub octocat holding a heart">
      <% else %>
        <img src="<%= mailer_static_asset_path("images/email/sponsors/many_hearts_mona.png") %>" width="150" alt="Drawing showing a GitHub octocat with an armful of hearts">
      <% end %>
    <% end %>
  <% end %>
<% end %>
