<div class="d-flex my-2 flex-justify-between">
  <span class="color-fg-muted flex-shrink-0 mr-2">Current filters:</span>

  <div class="d-flex flex-wrap flex-auto">
    <% if query.present? %>
      <%= render Primer::Beta::Label.new(
        tag: :a,
        href: stafftools_sponsors_members_path(order: order, filter: filter),
        tabindex: "-1",
        scheme: :secondary,
        classes: "Link--secondary",
        mr: 1,
        mb: 1,
      ) do %>
        Query: &ldquo;<%= query %>&rdquo;
        <%= primer_octicon(:x, size: :small, vertical_align: :middle, "aria-label" => "Remove filter") %>
      <% end %>
    <% end %>

    <% filter.keys.each do |filter_key| %>
      <% filter_value = filter[filter_key] %>
      <%= render Primer::Beta::Label.new(
        tag: :a,
        href: sponsors_member_clear_filter_path(filter_key, query: query, order: order, filter: filter),
        tabindex: "-1",
        scheme: :secondary,
        classes: "Link--secondary",
        mr: 1,
        mb: 1,
        test_selector: sponsors_member_applied_filter_test_selector(filter_key, filter_value),
      ) do %>
        <%= filter_key.titleize %>:
        <% if filter_value.respond_to?(:join) %>
          <%= filter_value.join(", ").titleize %>
        <% elsif filter_value == "1" %>
          yes
        <% elsif filter_value == "0" %>
          no
        <% else %>
          <%= filter_value.to_s.titleize %>
        <% end %>
        <%= primer_octicon(:x, size: :small, vertical_align: :middle, "aria-label" => "Remove filter") %>
      <% end %>
    <% end %>
  </div>
</div>
