<div class="Box Box--condensed">
  <table class="stafftools-table">
    <thead>
      <tr>
        <th class="text-bold billing-table-cell">Maintainer</th>
        <th class="text-bold billing-table-cell">State</th>
      </tr>
    </thead>
    <tbody>
      <% child_listings.each do |child_listing| %>
        <%
          child_sponsorable = child_listing.sponsorable
          hovercard_attrs = if child_sponsorable.organization?
            hovercard_data_attributes_for_org(login: child_sponsorable.login)
          else
            hovercard_data_attributes_for_user(child_sponsorable)
          end
          hovercard_attrs["turbo_frame"] = "_top"
        %>
        <tr>
          <td>
            <%= link_to stafftools_sponsors_member_path(child_sponsorable), data: hovercard_attrs do %>
              @<%= child_sponsorable %>
              <% unless child_sponsorable.profile_name == child_sponsorable.login %>
                <span class="ml-1 color-fg-muted text-small text-normal"><%= child_sponsorable.profile_name %></span>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= link_to stafftools_sponsors_member_path(child_sponsorable), data: { turbo_frame: "_top" } do %>
              <%= render Stafftools::Sponsors::Members::SponsorsListingStateComponent.new(listing: child_listing) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if child_listings.total_pages > 1 %>
    <div class="Box-footer text-center">
      <%= will_paginate child_listings, "data-pjax" => "" %>
    </div>
  <% end %>
</div>
