<div class="border-bottom color-border-muted pb-2 mt-3 table-list-header-toggle d-flex flex-wrap">
  <%= form_tag stafftools_sponsors_members_path(filter: filter, order: order),
    method: :get,
    class: "subnav-search ml-0 mr-2", "data-autosearch-results-container" => "sponsors-listings-results" do %>
    <div class="auto-search-group">
      <input class="form-control subnav-search-input input-contrast auto-search-input"
        type="search" name="query" value="<%= query %>"
        placeholder="Search name and description" aria-label="Search name and description" autocomplete="off" data-throttled-autosubmit>
      <%= primer_octicon(:search) %>
      <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
    </div>
  <% end %>
  <%= render "stafftools/sponsors/members/filters/state",
        query: query, filter: filter, order: order %>
  <%= render "stafftools/sponsors/members/filters/spammy",
        query: query, filter: filter, order: order %>
  <%= render "stafftools/sponsors/members/filters/suspended",
        query: query, filter: filter, order: order %>
  <%= render "stafftools/sponsors/members/filters/matchable",
        query: query, filter: filter, order: order %>
  <%= render "stafftools/sponsors/members/filters/type",
        query: query, filter: filter, order: order %>
  <%= render "stafftools/sponsors/members/filters/ignored",
        query: query, filter: filter, order: order %>
  <%= render "stafftools/sponsors/members/filters/fiscal_host", query: query, filter: filter,
    order: order, fiscal_host_listings: fiscal_host_listings %>
  <%= render "stafftools/sponsors/members/filters/billing_country",
        query: query, filter: filter, order: order %>
  <%= render "stafftools/sponsors/members/filters/country_of_residence",
        query: query, filter: filter, order: order %>
  <%= render "stafftools/sponsors/members/filters/flags",
        query: query, filter: filter, order: order %>
  <%= render "stafftools/sponsors/members/filters/featured",
        query: query, filter: filter, order: order %>
</div>
