<% page_info(title: "#{sponsors_listing.sponsorable_login} · GitHub Sponsors") %>
<div class="f3 border-bottom">
  <div class="container-xl py-3">
    <%= primer_octicon(:rocket, vertical_align: :baseline) %>
    <a href="<%= stafftools_path %>">Site admin</a> /
    <% if sponsors_listing.fiscal_host? %>
      <a href="<%= stafftools_sponsors_fiscal_hosts_path %>">GitHub Sponsors fiscal hosts</a> /
    <% else %>
      <a href="<%= stafftools_sponsors_members_path %>">GitHub Sponsors members</a> /
    <% end %>
    <a href="<%= stafftools_sponsors_member_path(sponsors_listing.sponsorable_login) %>" class="text-bold">
      <%= sponsors_listing.sponsorable_login %>
    </a>

    <% if sponsors_listing.spammy? %>
      <%= render Primer::Beta::Label.new(
        vertical_align: :middle,
        scheme: :danger,
      ).with_content("Spammy") %>
    <% end %>

    <% if sponsors_listing.ignored? %>
      <span class="color-bg-attention-emphasis py-1 px-2 color-fg-default d-inline-block h6 rounded-2 ml-1 mb-1 v-align-middle" <%= test_selector "ignored-tag" %>>
        Ignored
      </span>
    <% end %>

    <% if sponsors_listing.fiscal_host? %>
      <%= render Primer::Beta::Label.new(
        title: "Label: Fiscal host",
        vertical_align: :middle,
        scheme: :success,
      ).with_content("Fiscal host") %>
    <% end %>
  </div>
</div>

<div class="container-xl p-3 d-flex flex-auto">
  <div class="col-3 mr-4">
    <%= render "stafftools/sponsors/members/sidebar", sponsorable: sponsors_listing.sponsorable,
          sponsors_listing: sponsors_listing %>
  </div>
  <div class="col-9">
    <%= yield %>
  </div>
</div>
