<% listing_count = listings.total_entries %>

<%= render "stafftools/sponsors/members/filter_bar", query: query, filter: filter, order: order,
      fiscal_host_listings: fiscal_host_listings %>

<%= render Primer::Beta::Subhead.new(mt: 3, mb: 0, pb: 0, border_bottom: 0) do |component| %>
  <% component.with_heading(tag: :h2, font_size: 5, font_weight: :bold, test_selector: "result-count") do %>
    Showing <%= number_with_delimiter(listing_count) %>
    <% if listing_count == 1 %>
      <% if filter[:type] == "user" %>
        user
      <% elsif filter[:type] == "organization" %>
        organization
      <% else %>
        user or organization
      <% end %>
    <% elsif filter[:type] == "user" %>
      users
    <% elsif filter[:type] == "organization" %>
      organizations
    <% else %>
      users and organizations
    <% end %>
  <% end %>

  <% component.with_actions do %>
    <%= render "stafftools/sponsors/members/filters/sort_by", query: query, filter: filter, order: order %>
  <% end %>
<% end %>

<% if filter.present? || query.present? %>
  <%= render "stafftools/sponsors/members/applied_filters", query: query, filter: filter, order: order %>
<% end %>

<%= render Stafftools::Sponsors::BulkBanFormComponent.new(
  filter: filter,
  query: query,
  order: order,
) %>

<%= render Stafftools::Sponsors::BulkApproveFormComponent.new(
  filter: filter,
  query: query,
  order: order,
) %>

<div class="Box Box--condensed" style="width: fit-content">
  <div class="Box-body p-0" style="width: fit-content">
    <table class="stafftools-table sponsors-bulk-manage-listings js-sponsors-bulk-manage-listings-table" <%= test_selector("members-table") %>>
      <thead>
        <tr>
          <th class="sponsors-bulk-action-column v-align-middle px-2 no-wrap text-center">Select</th>
          <th class="v-align-middle px-2 no-wrap" colspan="2">
            <% if filter[:type] == "user" %>
              User
            <% elsif filter[:type] == "organization" %>
              Organization
            <% else %>
              User/organization
            <% end %>
          </th>
          <th class="v-align-middle text-center px-2 no-wrap">Profile status</th>
          <th class="v-align-middle text-center px-2 no-wrap">
            <%= sort_sponsors_listings_link("Account age", query: query, filter: filter, order: order,
              asc_order: "oldest_account_first", desc_order: "newest_account_first") %>
          </th>
          <th class="v-align-middle text-center px-2 no-wrap">
            Stripe
          </th>
          <th class="v-align-middle text-center px-2 no-wrap">
            Country <a href="#country-note" class="Link--secondary Link--inTextBlock"><sup>1</sup></a>
          </th>
          <th class="v-align-middle text-center px-2 no-wrap">
            Currency <a href="#currency-note" class="Link--secondary Link--inTextBlock"><sup>2</sup></a>
          </th>
          <th class="v-align-middle text-center px-2">
            Flags <a href="#flags-legend" class="Link--secondary Link--inTextBlock"><sup>3</sup></a>
          </th>
          <th class="v-align-middle text-right px-2 no-wrap">
            <%= sort_sponsors_listings_link("Last change", query: query, filter: filter, order: order,
              asc_order: "oldest_status_change", desc_order: "most_recent_status_change") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% if listing_count > 0 %>
          <% listings.each do |listing| %>
            <%
              stripe_account = listing.active_stripe_connect_account
              stripe_transfer_count = stripe_account ? transfer_counts_by_stripe_connect_account_id[stripe_account.id] : 0
            %>
            <%= render "stafftools/sponsors/members/listing", listing: listing,
                  stripe_transfer_count: stripe_transfer_count %>
          <% end %>
        <% else %>
          <tr>
            <td colspan="10">
              <%= render Primer::Beta::Blankslate.new(title: "No Sponsors maintainers found") do %>
                <p class="mt-2" <%= test_selector("no-sponsors-listings") %>>
                  <% if query.present? %>
                    Couldn't find any Sponsors maintainers matching <strong><%= query %></strong>.
                  <% elsif filter.blank? %>
                    It doesn't look like anyone has signed up for GitHub Sponsors yet.
                  <% else %>
                    There weren't any results for the current filter.
                    Maybe try <a class="Link--inTextBlock" href="<%= stafftools_sponsors_members_path %>">the default filter</a>?
                  <% end %>
                </p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<p class="note"><a class="Link--inTextBlock" name="country-note"></a>1: The user-specified country of residence</p>
<p class="note"><a class="Link--inTextBlock" name="currency-note"></a>2: Only for the maintainer's personal Stripe account, not their fiscal host's</p>
<p class="note"><a class="Link--inTextBlock" name="flags-legend"></a>3: Flags legend</p>
<p class="note ml-3">
  <%= render Primer::Beta::Label.new(scheme: :danger).with_content("R") %>
  No public repositories that aren't forks
</p>
<p class="note ml-3">
  <%= render Primer::Beta::Label.new(scheme: :danger).with_content("A") %>
  Created GitHub account recently
</p>
<p class="note ml-3">
  <%= render Primer::Beta::Label.new(scheme: :warning).with_content("A") %>
  Has received an abuse report
</p>
<p class="note ml-3">
  <%= render Primer::Beta::Label.new(scheme: :warning).with_content("T") %>
  Invalid time zone
</p>
<p class="note ml-3">
  <%= render Primer::Beta::Label.new(scheme: :danger).with_content("P") %>
  Has not customized GitHub profile page
</p>

<% if listings.total_pages > 1 %>
  <div class="paginate-container">
    <div class="pagination">
      <%= will_paginate listings, "data-pjax" => true %>
    </div>
  </div>
<% end %>
