<%# rubocop:disable GitHub/RailsViewRenderLiteral %>
<%# `view` is an instance of Stafftools::Sponsors::Members::ManualCriterionView %>
<%= form_tag stafftools_sponsors_member_criterion_path(sponsorable, view.id), :method => :put, class: "js-setting-toggle", "data-autosubmit": true do %>
  <div class="form-checkbox mt-0" <%= test_selector(view.slug) %>>
    <label for="<%= view.slug %>" class="text-normal"><%= view.description %></label>
    <input type="checkbox"
      name="is_met" id="<%= view.slug %>" value="1"
      <% if view.met?%>checked<% end%>
    >
    <span class="status-indicator js-status-indicator">
      <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
      <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
    </span>
  </div>
<% end %>

<% if view.has_partial? %>
  <%= render partial: view.partial_path, locals: { sponsorable: sponsorable } %>
<% end %>
