<div class="Box mb-3">
  <div class="Box-row">
    <div class="d-flex flex-justify-start">
      <%= render Sponsors::Sponsorables::LinkedAvatarComponent.new(
        sponsors_listing: sponsors_listing,
        avatar_size: 48,
      ) %>
      <div class="ml-2">
        <%= render Users::ProfileLinkComponent.new(
          login: sponsors_listing.sponsorable_login,
          is_organization: sponsors_listing.for_organization?,
          underline: false,
          mb: 1,
        ) do %>
          <span class="text-bold"><%= sponsors_listing.sponsorable_login %></span>
          <% if (display_name = sponsors_listing.sponsorable_name).present? && display_name != sponsors_listing.sponsorable_login %>
            <span class="Link--secondary ml-1"><%= display_name %></span>
          <% end %>
        <% end %>
        <div class="mt-1">
          <% if sponsorable.profile_bio.present? %>
            <%= GitHub::Goomba::ProfileBioPipeline.to_html(sponsorable.profile_bio, {}) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="Box-row">
    <%= render Stafftools::Sponsors::MembershipStatusComponent.new(sponsors_listing: sponsors_listing) %>
  </div>
  <div class="Box-row">
    <%= render Stafftools::Sponsors::MembershipMetadataComponent.new(sponsors_listing: sponsors_listing) %>
  </div>
  <div class="Box-row">
    <%= render Stafftools::Sponsors::MembershipActionsComponent.new(sponsors_listing: sponsors_listing) %>
  </div>
</div>
