<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% sponsors_listing = sponsorable.sponsors_listing %>

<div class="js-details-container Details" id="staff-notes">
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Staff notes<% end %>
    <% component.with_actions do %>
      <%= render Primer::ButtonComponent.new(variant: :small, classes: "Details-content--shown js-details-target", "aria-expanded": "false") do %>Add note<% end %>
    <% end %>
  <% end %>
  <div class="Details-content--hidden mb-2">
    <%=
      form_for(
        sponsors_listing.staff_notes.new,
        url: stafftools_sponsors_member_staff_notes_path(sponsorable.login),
        method: :post,
      ) do |f|
    %>
      <dl class="form-group mt-0 mb-2">
        <dt><%= f.label(:note, "New note") %></dt>
        <dd>
          <%=
            f.text_area(
              :note,
              autofocus: "",
              class: "js-quick-submit",
              cols: 40,
              rows: 20,
              'aria-label': "staff note",
            )
          %>
        </dd>
      </dl>
      <div class="form-actions">
        <%= f.submit("Add note", class: "btn btn-primary") %>
        <%= render Primer::ButtonComponent.new(classes: "js-details-target", "aria-expanded": "true") do %>Cancel<% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="Box js-details-container Details">
  <% if staff_notes.any? %>
    <% staff_notes.each_with_index do |note, i| %>
      <div class="Box-row <%= "Details-content--hidden" if i != 0 %>">
        <div class="mb-1">
          <%= avatar_for note.user, 20, class: "v-align-middle mr-1" %>
          <strong><%= note.user %></strong>
          <%= time_ago_in_words_js note.created_at %>
        </div>
        <div class="markdown-body" <%= test_selector("staff-note-#{note.id}") %>>
          <%= note.body_html %>
        </div>
      </div>
    <% end %>
    <% if staff_notes.size > 1 %>
      <div class="Box-footer Details-content--shown">
        <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-details-target notes-expander", "aria-expanded": "false") do %>
          <%= staff_notes.size - 1 %> more
          <%= "note".pluralize(staff_notes.size - 1) %>
          for <%= this_user %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="Box-row">There are no staff notes on this Sponsors profile.</div>
  <% end %>
</div>
