<% if response.success? %>
  <div class="d-flex flex-column">
    <% response.result.available.each do |balance| %>
      <% money = ::Billing::Money.new(balance.amount, balance.currency) %>
      <div class="mt-1">
        <span <%= test_selector("balance-amount-#{balance.currency}") %>>
          <%= money.format(with_currency: true) %>
        </span>
        <%= render(Primer::Beta::Label.new(scheme: :secondary)) do %>
          <%= link_to "Available", "https://stripe.com/docs/connect/account-balances",
                target: "_blank",
                rel: "noopener noreferrer" %>
        <% end %>
      </div>
    <% end %>

    <% response.result.pending.each do |balance| %>
      <% if balance.amount.positive? %>
        <% money = ::Billing::Money.new(balance.amount, balance.currency) %>
        <div class="mt-1">
          <span <%= test_selector("pending-balance-amount-#{balance.currency}") %>>
            <%= money.format(with_currency: true) %>
          </span>
          <%= render(Primer::Beta::Label.new(scheme: :secondary)) do %>
            <%= link_to "Pending", "https://stripe.com/docs/connect/account-balances",
                  target: "_blank",
                  rel: "noopener noreferrer" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%= render(Primer::Beta::Label.new(
        scheme: :danger,
        size: :large,
        mt: 1,
        test_selector: "balance-error")) do %>
    <%= render Primer::Beta::Octicon.new(icon: "alert", color: :danger) %>
    Error retrieving balance
  <% end %>
<% end %>
