<%
  payouts_preview_path = stafftools_sponsors_member_stripe_connect_account_payouts_preview_partial_url(
    sponsorable,
    stripe_connect_account,
  )
  transfers_path = stafftools_sponsors_member_stripe_connect_account_transfers_path(
    sponsorable,
    stripe_connect_account,
  )
  transfers_preview_path = stafftools_sponsors_member_stripe_connect_account_transfers_preview_partial_url(
    sponsorable,
    stripe_connect_account,
  )
%>

<div class="mb-4">
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Recent payouts<% end %>
    <% component.with_actions do %>
      <a href="<%= stripe_connect_account.stripe_dashboard_url %>" target="_blank" rel="noopener noreferrer">
        View all payouts in Stripe <%= render Primer::Beta::Octicon.new(icon: "link-external") %>
      </a>
    <% end %>
  <% end %>
  <include-fragment src="<%= payouts_preview_path %>">
    <%= render(Primer::Beta::Spinner.new(display: :block, my: 3, mx: :auto)) %>
  </include-fragment>
</div>

<div class="mb-4">
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Recent transfers<% end %>
    <% component.with_actions do %>
      <a href="<%= transfers_path %>">
        View and manage transfers
      </a>
    <% end %>
  <% end %>
  <include-fragment src="<%= transfers_preview_path %>">
    <%= render(Primer::Beta::Spinner.new(display: :block, my: 3, mx: :auto)) %>
  </include-fragment>
</div>
