<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<% page_info title: "GitHub Sponsors maintainers", selected_link: :sponsors_members, container_xl: true %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="js-sponsors-bulk-manage-listings-container">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>GitHub Sponsors maintainers<% end %>
      <% component.with_actions do %>
        <a href="<%= stafftools_sponsors_waitlist_queue_index_path %>" class="mr-2">Waitlist queue</a>
        <details class="d-inline-block dropdown details-reset details-overlay">
          <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small) do %>
            Export CSV
            <span class="dropdown-caret"></span>
          <% end %>
          <details-menu class="dropdown-menu dropdown-menu-se"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <%= form_tag stafftools_sponsors_waitlist_export_path do %>
              <button role="menuitem"
                type="submit"
                class="dropdown-item btn-link">
                All users
              </button>
            <% end %>
            <%= form_tag stafftools_sponsors_waitlist_export_path(filter: "draft,pending_approval,approved") do %>
              <button role="menuitem"
                type="submit"
                class="dropdown-item btn-link">
                Accepted users
              </button>
            <% end %>
            <%= form_tag stafftools_sponsors_waitlist_export_path(filter: "waitlisted") do %>
              <button role="menuitem"
                type="submit"
                class="dropdown-item btn-link">
                Waitlisted users
              </button>
            <% end %>
          </details-menu>
        </details>
        <% if !filter.key?(:state) || filter[:state] != "banned" %>
          <%= render Primer::ButtonComponent.new(
            variant: :small,
            scheme: :danger,
            classes: "js-sponsors-bulk-ban-listings-button js-sponsors-bulk-manage-listings-button",
          ).with_content("Ban maintainers") %>
        <% end %>
        <% if show_bulk_approval_button?(filter) %>
          <%= render Primer::ButtonComponent.new(
            variant: :small,
            classes: "js-sponsors-bulk-approve-listings-button js-sponsors-bulk-manage-listings-button",
          ).with_content("Approve maintainers") %>
        <% end %>
      <% end %>
    <% end %>

    <div id="sponsors-listings-results">
      <%= render "stafftools/sponsors/members/listings",
            listings: listings, query: query, filter: filter, order: order,
            fiscal_host_listings: fiscal_host_listings,
            transfer_counts_by_stripe_connect_account_id: transfer_counts_by_stripe_connect_account_id %>
    </div>
  </div>
<% end %>
