<%= render layout: "stafftools/sponsors/members/layout", locals: { sponsors_listing: listing } do %>
  <div class="mb-4">
    <%= render "stafftools/sponsors/members/staff_notes", sponsorable: sponsorable,
          staff_notes: staff_notes %>
  </div>

  <%= render "stafftools/sponsors/members/listing_preview",
    view: view,
    sponsorable: sponsorable,
    sponsorable_has_sponsored: sponsorable_has_sponsored,
    listing: listing,
    hooks: hooks %>

  <% if listing.present? %>
    <div class="mb-4">
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2) do %>
          Stripe accounts
          <%= render Primer::Beta::Counter.new(count: stripe_connect_accounts.count, scheme: :primary, vertical_align: :middle, test_selector: "total-stripe-accounts") %>
        <% end %>
        <% component.with_actions do %>
          <%= render Stafftools::Sponsors::Members::LinkStripeAccountComponent.new(
            sponsors_listing: listing,
          ) %>
        <% end %>
      <% end %>
      <%= render "stafftools/sponsors/members/stripe_connect_accounts",
        sponsorable: sponsorable,
        stripe_connect_accounts: stripe_connect_accounts,
        unverified_explanations: stripe_connect_accounts.map(&:unverified_explanation).uniq,
        disabled_reasons: stripe_connect_accounts.map(&:disabled_reason).uniq,
        transfer_counts_by_stripe_connect_account_id: transfer_counts_by_stripe_connect_account_id %>
    </div>

    <% if child_listings.any? %>
      <div class="mb-4">
        <%= render Primer::Beta::Subhead.new do |component| %>
          <% component.with_heading(tag: :h2) do %>
            Child listings
          <% end %>
          <% component.with_actions do %>
            <a href="<%= stafftools_sponsors_member_child_listings_path(sponsorable) %>">
              View all child listings
            </a>
          <% end %>
        <% end %>
        <%= render Stafftools::Sponsors::Members::ChildListings::IndexComponent.new(
          child_listings: child_listings,
          sponsors_listing: listing,
        ) %>
      </div>
    <% end %>
  <% end %>

  <% if listing&.active_stripe_connect_account %>
    <%= render "stafftools/sponsors/members/stripe_details",
      sponsorable: sponsorable,
      stripe_connect_account: listing.active_stripe_connect_account %>
  <% end %>

  <div class="mb-4">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        Sponsors Activities
      <% end %>
      <% component.with_actions do %>
        <a href="<%= stafftools_sponsors_member_activities_path(sponsorable) %>">
          View all activities
        </a>
      <% end %>
    <% end %>
    <%= render Stafftools::Sponsors::Members::Activities::IndexComponent.new(
      sponsors_activities: sponsors_activities,
      sponsorable_login: sponsorable.login
    ) %>
  </div>

  <% if listing.present? %>
    <%= render "stafftools/sponsors/members/listing_description", listing: listing %>
  <% end %>

  <div class="mb-4">
    <%= render Stafftools::Sponsors::Members::PinnedReposComponent.new(pinned_repos: pinned_repos) %>
  </div>

  <% if manual_criteria.any? %>
    <div class="mb-5">
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2) do %>Needs manual review<% end %>
      <% end %>
      <div class="col-12">
        <% manual_criteria.each do |check| %>
          <%= render "stafftools/sponsors/members/manual_criterion",
            sponsorable: sponsorable,
            view: create_view_model(Stafftools::Sponsors::Members::ManualCriterionView, check: check)
          %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="mb-5">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        Health checks
      <% end %>
    <% end %>
    <include-fragment src="<%= stafftools_sponsors_member_health_checks_path(sponsorable) %>">
      <%= render(Primer::Beta::Spinner.new) %>
    </include-fragment>
  </div>

  <%= render Stafftools::Sponsors::FraudReviews::ListComponent.new(
    sponsors_fraud_reviews: sponsors_fraud_reviews,
    sponsorable: sponsorable,
  ) %>

  <%= render Stafftools::Sponsors::Members::FlaggedSponsors::ListComponent.new(
    flagged_sponsor_records: flagged_sponsor_records,
  ) %>

  <% if listing&.approved? %>
    <%= render "stafftools/sponsors/members/feature", sponsorable: sponsorable %>
  <% end %>

  <div class="mb-5">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Survey answers<% end %>
    <% end %>
    <%= render "stafftools/sponsors/members/survey_answers", sponsorable: sponsorable %>
  </div>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle :settings %>
<% end %>
