<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::Beta::Subhead.new(test_selector: "guest-collaborators-subheading") do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= link_to "People", stafftools_enterprise_people_path(this_business) %>
      / Guest collaborators
  <% end %>
<% end %>

<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search guest collaborators",
  form_url: stafftools_enterprise_guest_collaborators_path(this_business)
) %>

<% if guest_collaborators.any? %>
  <div class="Box Box--condensed" <%= test_selector("stafftools-guest-collaborator") %>>
    <ul>
      <% guest_collaborators.each do |guest_collaborator| %>
        <li class="Box-row d-flex flex-items-center" <%= test_selector "li-member-#{guest_collaborator.login}" %>>
          <span class="flex-auto">
            <% if guest_collaborator.is_a?(BusinessUserAccount) %>
              <% if guest_collaborator.user.present? %>
                <%= avatar_for guest_collaborator.user, 20, class: :avatar %>
                <%= link_to guest_collaborator.user.login, stafftools_user_path(guest_collaborator.user) %>
                <% if guest_collaborator.user.is_first_emu_owner? %>
                  <%= render Primer::Beta::Label.new(title: "Label: First owner account", test_selector: "emu-first-admin-owner-label") do %>
                    first owner account
                  <% end %>
                <% end %>
              <% else %>
                <%= primer_octicon(:person, height: 20, color: :muted) %>
                <%= guest_collaborator.login %>
              <% end %>
            <% else %>
              <%= avatar_for guest_collaborator, 20, class: :avatar %>
              <%= link_to guest_collaborator.login, stafftools_user_path(guest_collaborator) %>
              <% if guest_collaborator.is_first_emu_owner? %>
                <%= render Primer::Beta::Label.new(title: "Label: First owner account", test_selector: "emu-first-admin-owner-label") do %>
                  first owner account
                <% end %>
              <% end %>
            <% end %>
          </span>
          <% if guest_collaborator.is_a?(BusinessUserAccount) %>
            <span>
              <%= pluralize guest_collaborator.enterprise_organizations(current_user).count, "organization" %>,
              <%= pluralize guest_collaborator.user_enterprise_installations.count, "installation" %>
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate guest_collaborators %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
          No guest collaborators
        <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      in this enterprise.
    <% end %>
  <% end %>
<% end %>
