<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::Beta::Text.new(tag: :p, test_selector: "pats-org-setting-note") do %>
  By default, fine-grained personal access tokens cannot access content owned by your <%= current_organization.business.present? ? "enterprise" : "organization" %> via the Public API or Git. This includes both public and private resources such as repositories.
<% end %>

<% if pats_restricted_by_policy? %>
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
      Your Enterprise "<%= "#{current_organization.business.name}" %>" does not fine-grained allow personal access tokens.
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
      Your Enterprise "<%= "#{current_organization.business.name}" %>" does not fine-grained allow personal access tokens.
    <% end %>
  <% end %>
<% end %>

<% if pats_enforced_by_policy? %>
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
      Your Enterprise "<%= "#{current_organization.business.name}" %>" allows fine-grained personal access tokens.
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
      Your Enterprise "<%= "#{current_organization.business.name}" %>" allows fine-grained personal access tokens.
    <% end %>
  <% end %>
<% end %>

<%= form_with model: current_organization, url: settings_org_restrict_pat_access_path(current_organization), method: :patch, data: local_assigns.fetch(:data, {}) do |f| %>
  <% disabled = pats_enforced_by_policy? || pats_restricted_by_policy? %>

  <div class="form-checkbox">
    <label>
      <%= f.radio_button :restrict_access, "disable", checked: pats_allowed?, disabled: disabled %>

      Allow access via fine-grained personal access tokens

      <%= render(Primer::Beta::Text.new(tag: :p, font_size: :normal)) do %>
        API and Git access will be allowed using approved organization member's fine-grained personal access tokens
      <% end %>
    </label>
  </div>

  <div class="form-checkbox">
    <label>
      <%= f.radio_button :restrict_access, "enable", checked: pats_not_allowed?, disabled: disabled %>

      Restrict access via fine-grained personal access tokens

      <%= render(Primer::Beta::Text.new(tag: :p, font_size: :normal)) do %>
        Organization members will not be allowed to access your organization using a fine-grained personal access token
      <% end %>
    </label>
  </div>

  <% if local_assigns.fetch(:submittable, true) %>
    <%= f.submit "Save", class: "btn", disabled: disabled, "data-confirm" => "Are you sure you want to update your selection?" %>
  <% end %>
<% end %>
