<%= render layout: "stafftools/sponsors/members/layout", locals: { sponsors_listing: sponsors_listing } do %>
  <div class="mb-4">
    <%= render(Primer::Beta::Subhead.new) do |component| %>
      <% component.with_heading(tag: :h2) do %>Webhook details<% end %>
      <% if GitHub.flipper[:stafftools_disable_hook_button].enabled?(current_user) %>
        <% component.with_actions do %>
          <%= render partial: "stafftools/hooks/toggle_hook_button", locals: { :hook => hook } %>
        <% end %>
      <% end %>
    <% end %>

    <div class="mb-2">
      <div class="d-flex flex-justify-start mb-2">
        <span class="d-block col-4 text-bold">URL</span>
        <span class="d-block col-8"><code><%= hook.url %></code></span>
      </div>

      <div class="d-flex flex-justify-start mb-2">
        <span class="d-block col-4 text-bold">Active?</span>
        <span class="d-block col-8"><%= hook.active? %></span>
      </div>

      <div class="d-flex flex-justify-start mb-2">
        <span class="d-block col-4 text-bold">Content type</span>
        <span class="d-block col-8"><%= hook.content_type %></span>
      </div>

      <div class="d-flex flex-justify-start mb-2">
        <span class="d-block col-4 text-bold">Creator</span>
        <span class="d-block col-8">
          <%= link_to hook.creator, stafftools_user_path(hook.creator) %>
        </span>
      </div>

      <div class="d-flex flex-justify-start mb-2">
        <span class="d-block col-4 text-bold">Audit log</span>
        <span class="d-block col-8">
          <%=
            stafftools_selected_link_to(
              "Search logs",
              stafftools_audit_log_path(query: driftwood_ade_query?(current_user) ?
                "webevents | where data.hook_id == '#{hook.id}'" :
                "data.hook_id:#{hook.id}"
              )
            )
          %>
          for actions involving this webhook.
        </span>
      </div>
    </div>
  </div>

  <%=
    render partial: "hooks/deliveries", locals: {
      hook: hook,
      disabled: false,
      target: hook.installation_target.class.name.humanize,
      hook_deliveries_query: hook_deliveries_query,
      can_filter_hook_deliveries: true,
      hide_header: false,
    }
  %>
<% end %>
