<%
  open_hydro_attrs = sponsors_toggle_help_hydro_attrs(tier_ids_for_hydro, open: true)
  closed_hydro_attrs = sponsors_toggle_help_hydro_attrs(tier_ids_for_hydro, open: false)
%>

<%= render Primer::Beta::Details.new(reset: true, overlay: :none, mt: 6, open: true, classes: "js-sponsors-need-help-details Details-element", **test_selector_data_hash("need-ideas-for-tiers")) do |component| %>
  <% component.with_summary(button: false, font_weight: :bold, mb: 3, classes: "js-sponsors-toggle-need-help", data: {
    "open-hydro-click" => open_hydro_attrs["hydro-click"],
    "open-hydro-click-hmac" => open_hydro_attrs["hydro-click-hmac"],
    "open-hydro-client-context" => open_hydro_attrs["hydro-client-context"],
    "closed-hydro-click" => closed_hydro_attrs["hydro-click"],
    "closed-hydro-click-hmac" => closed_hydro_attrs["hydro-click-hmac"],
    "closed-hydro-client-context" => closed_hydro_attrs["hydro-client-context"],
  }) do %>
    <div class="d-flex flex-justify-between">
      <span>
        <%= render Primer::Beta::Octicon.new(icon: "light-bulb", mr: 2) %>
        Need ideas?
      </span>
      <span class="Details-content--open color-fg-muted text-normal">Hide</span>
      <span class="Details-content--closed color-fg-muted text-normal">Show</span>
    </div>
  <% end %>
  <% component.with_body(overflow: :hidden, animation: :fade_in) do %>
    <% Sponsors::TierSuggestion::Data.categorized.each do |group| %>
      <div class="my-4 p-4 border rounded-2">
        <div class="h4 mb-3">
          <%= emoji_tag(Emoji.find_by_alias(group[:emoji_alias].to_s), class: "emoji h2 mr-1") %>
          <strong><%= group[:category].to_s.humanize %></strong>
        </div>
        <% group[:tiers].each do |tier| %>
          <div class="py-2 d-flex flex-justify-between">
            <div class="markdown-body comment-body p-0 flex-auto">
              <%= strip_tags(SponsorsTier.description_html_for(tier[:description])) %>
            </div>
            <div class="no-wrap">
              <%= SponsorsTier.generate_name_for(tier[:monthly_price_in_cents], tier[:frequency]) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
