<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  frequency_param = tier.recurring? ? "recurring" : "one-time"
%>

<%= render layout: "sponsors/dashboards/layout", locals: { sponsors_listing: sponsors_listing, selected_tab: :tiers } do %>
  <%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center) do |component| %>
    <% component.with_heading(tag: :h2, test_selector: "edit-tier-heading") do %>
      <%= link_to "Sponsor tiers", sponsorable_dashboard_tiers_path(sponsorable, frequency: frequency_param) %>
      / Edit tier
      <% end %>
  <% end %>

  <% if tier&.draft? %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 4, display: :flex)) do %>
      <p class="mt-1 mb-0 flex-auto">This is a draft and won't be seen by the public unless it's published</p>
      <%= button_to("Discard draft",
                    sponsorable_dashboard_tier_path(sponsorable, tier.id),
                    class: "btn btn-sm btn-danger",
                    method: "delete") %>
    <% end %>
  <% else %>
    <%= form_tag sponsorable_dashboard_tier_retirement_path(sponsorable, tier.id), id: "sponsors-retire-tier-form" do %>
      <%#
      This form is used by the "Retire tier" button located in
      "sponsors/tiers/form". The empty form tag is required because using a
      "button" with a "delete" http method in Rails creates a button with a form
      tag wrapped around it. The problem with that approach is the "Retire tier"
      button is already in a form, and HTML disallows nested form tags. So
      instead the "Retire tier" button uses JS to submit this form when the
      button is clicked.
      %>
    <% end %>
  <% end %>

  <div class="d-flex">
    <%= form_tag(sponsorable_dashboard_tier_path(sponsorable), method: :put, class: "width-full") do %>
      <%= render "sponsors/tiers/form",
        tier: tier,
        sponsorable: sponsorable,
        sponsor_count: sponsorable.tier_subscription_counts[tier.id]
      %>
    <% end %>
  </div>
<% end %>
