<%
  is_one_time = frequency == :one_time
  frequency_name = is_one_time ? "one-time" : "monthly"
%>

<%= render layout: "sponsors/dashboards/layout", locals: { sponsors_listing: sponsors_listing, selected_tab: :tiers } do %>
  <%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center) do |component| %>
    <% component.with_heading(tag: :h2) do %>Sponsor tiers<% end %>
  <% end %>

  <div class="mb-4" <%= test_selector("tiers-intro") %>>
    <p>
      You can set sponsor tiers with different prices and rewards.
      Adding more tiers gives the community different price points to support you at.
      Sponsors who use one-time payments will have their profile badge displayed on
      your sponsors page and receive any email updates you send for one month.
    </p>
    <ul class="mt-2 ml-4">
      <li>
        You can have a total of
        <strong><%= SponsorsTier::PUBLISHED_TIER_LIMIT_PER_FREQUENCY %></strong> published
        monthly <%= "tier".pluralize(SponsorsTier::PUBLISHED_TIER_LIMIT_PER_FREQUENCY) %> and
        <strong><%= SponsorsTier::PUBLISHED_TIER_LIMIT_PER_FREQUENCY %></strong> published
        one-time <%= "tier".pluralize(SponsorsTier::PUBLISHED_TIER_LIMIT_PER_FREQUENCY) %>.
      </li>
      <li>The maximum tier amount is <strong><%= SponsorsTier::MAX_SPONSORSHIP_AMOUNT_HUMAN %></strong>.</li>
    </ul>
  </div>

  <%= render Sponsors::Dashboard::Tiers::CustomAmountSettingsComponent.new(
    sponsors_listing: sponsors_listing,
    frequency: frequency,
  ) %>

  <div class="tabnav">
    <%= link_to(
      "Add a #{frequency_name} tier",
      new_sponsorable_dashboard_tier_path(sponsorable, frequency: is_one_time ? "one-time" : "recurring"),
      class: "btn btn-primary btn-sm d-none d-sm-inline-block float-sm-right",
      role: "button",
    ) %>
    <nav class="tabnav-tabs" aria-label="Tier frequency">
      <a
        href="<%= sponsorable_dashboard_tiers_path(sponsorable) %>"
        class="tabnav-tab"
        <% unless is_one_time %> aria-current="page"<% end %>
      >
        Monthly tiers
        <%= render(Primer::Beta::Counter.new(count: recurring_published_count)) %>
      </a>
      <a
        href="<%= sponsorable_dashboard_tiers_path(sponsorable, frequency: "one-time") %>"
        class="tabnav-tab"
        <% if is_one_time %> aria-current="page"<% end %>
      >
        One-time tiers
        <%= render(Primer::Beta::Counter.new(count: one_time_published_count)) %>
      </a>
    </nav>
  </div>

  <%# this button is duplicated here, to support a different layout on small mobile screens %>
  <%# mutually-exclusive breakpoints ensure they should never both simultaneously display %>
  <%= link_to(
    "Add a #{frequency_name} tier",
    new_sponsorable_dashboard_tier_path(sponsorable, frequency: is_one_time ? "one-time" : "recurring"),
    class: "btn btn-sm d-inline-block d-sm-none mb-3",
    role: "button",
  ) %>

  <% if active_tiers.empty? %>
    <div class="Box">
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_heading(tag: :h2) do %>
          <%= "You haven't published any #{frequency_name} tiers yet" %>
        <% end %>

        <% c.with_description do %>
          When you publish tiers, they will be visible on your GitHub Sponsors profile.
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="Box Box--spacious">
      <% active_tiers.each do |tier| %>
        <%= render Sponsors::Dashboard::Tiers::TierComponent.new(
          sponsors_tier: tier,
          sponsor_count: tier_subscription_counts[tier.id],
        ) %>
      <% end %>
    </div>
  <% end %>

  <% if remaining_tier_count.zero? %>
    <div class="pt-4 color-fg-muted">
      You have published <strong><%= published_tier_count_in_frequency %></strong>
      out of <strong><%= SponsorsTier::PUBLISHED_TIER_LIMIT_PER_FREQUENCY %></strong>
      <%= frequency_name %> tiers. If you want a new tier, edit an existing one.
    </div>
  <% else %>
    <div class="pt-4 color-fg-muted">
      You have <%= pluralize(published_tier_count_in_frequency, "published tier") %> and
      <%= pluralize(draft_tier_count_in_frequency, "draft tier") %>.
      You can publish up to <strong><%= remaining_tier_count %></strong> more
      <%= frequency_name %> <%= "tier".pluralize(remaining_tier_count) %>.
    </div>
  <% end %>

  <% if retired_tiers.any? %>
    <%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center, pt: 6) do |component| %>
      <% component.with_heading(tag: :h2) do %>Retired tiers<% end %>
    <% end %>

    <div class="mb-4">
      Existing sponsors on this retired tier will continue to stay on the tier
      until they update their tier or cancel their sponsorship.
    </div>

    <div class="Box Box--spacious flex-auto">
      <% retired_tiers.each do |tier| %>
        <%= render Sponsors::Dashboard::Tiers::TierComponent.new(
          sponsors_tier: tier,
          sponsor_count: tier_subscription_counts[tier.id],
        ) %>
      <% end %>
    </div>
  <% end %>

  <%= render "sponsors/tiers/suggestions", tier_ids_for_hydro: tier_ids_for_hydro %>
<% end %>
