<%= render layout: "sponsors/dashboards/layout", locals: { sponsors_listing: sponsors_listing, selected_tab: :tiers } do %>
  <%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center) do |component| %>
    <% component.with_heading(tag: :h2, test_selector: "new-tier-heading") do %>
      <%= link_to "Sponsor tiers", sponsorable_dashboard_tiers_path(sponsorable, frequency: params[:frequency]) %>
      / New tier
      <% end %>
  <% end %>

  <div class="d-flex">
    <%= form_tag(sponsorable_dashboard_tiers_path(sponsorable), method: :post, class: "width-full") do %>
      <%= render "sponsors/tiers/form", tier: tier, sponsorable: sponsorable %>
    <% end %>
  </div>
<% end %>
