<div class="d-flex flex-justify-between flex-items-center my-1">
  <% if show_switch_to_invoiced_billing_link? %>
    <a
      href="<%= switch_to_invoiced_billing_link %>"
      <%= safe_data_attributes(sponsors_button_hydro_attributes(
        :INVOICED_BILLING_SETUP_BILLING_SETTINGS,
        account.display_login,
      )) %>
      <%= test_selector("switch-to-invoice") %>
    >
      Switch to invoiced billing
    </a>
  <% elsif show_create_invoice_link? %>
    <a href="<%= new_org_sponsoring_invoice_path(account) %>" <%= test_selector("create-an-invoice") %>>
      Create an invoice
    </a>
  <% end %>

  <div class="d-flex flex-auto flex-justify-end">
    <strong <%= test_selector("sponsors-total-cents") %>>
      <%= amount.format(no_cents_if_whole: false) %>
    </strong>
  </div>
</div>
