<%# rubocop:disable Lint/InstanceVariable %>
<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mt: 4)) do |component| %>
  <% @blocked_client_apps&.each do |app| %>
    <% component.with_row do %>
      <span class="float-right request-indicator">
        <span class="blocked-app">
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %> Blocked</span> &#8212; <%= link_to org_application_approval_path(current_organization, app), :class => "edit-link" do %>
            <%= primer_octicon(:pencil, :"aria-label" => "Update policy") %>
          <% end %>
      </span>
      <%= oauth_application_logo(app, 20, :class => "avatar float-left mr-1") %>
      <span class="request-info js-details-container Details">
        <strong title="<%= app.name %>"><%= truncate(app.name, length: 140) %></strong><% unless app.description.blank? %> <span class="hidden-text-expander inline"><button type="button" class="ellipsis-expander js-details-target" aria-expanded="false">&hellip;</button></span> <span class="application-description"><%= app.description %></span><% end %><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      </span>
    <% end %>
  <% end %>
  <% @unblocked_client_apps&.each do |app| %>
    <% component.with_row do %>
      <span class="float-right request-indicator">
        <span class="enabled-app">
          <%= render(Primer::Beta::Octicon.new(icon: "check")) %> Enabled</span> &#8212; <%= link_to org_application_approval_path(current_organization, app), :class => "edit-link" do %>
            <%= primer_octicon(:pencil, :"aria-label" => "Update policy") %>
          <% end %>
      </span>
      <%= oauth_application_logo(app, 20, :class => "avatar float-left mr-1") %>
      <span class="request-info js-details-container Details">
        <strong title="<%= app.name %>"><%= truncate(app.name, length: 140) %></strong><% unless app.description.blank? %> <span class="hidden-text-expander inline"><button type="button" class="ellipsis-expander js-details-target" aria-expanded="false">&hellip;</button></span> <span class="application-description"><%= app.description %></span><% end %><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      </span>
    <% end %>
  <% end %>
<% end %>
