<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info responsive: false, title: current_organization.first_party_oauth_app_controls_feature_enabled? ? "OAuth application access policy" : "Third-party application access policy", selected_link: :application_access_policy %>

<%= render layout: "orgs/settings/layout" do %>
  <div class="oauth-application-allowlist <%= org_allowlist_selectable_class %>">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        <% if current_organization.first_party_oauth_app_controls_feature_enabled? %>
          OAuth application access policy
        <% else %>
          Third-party application access policy
        <% end %>
      <% end %>
    <% end %>

    <% org_display_login = current_organization.display_login %>

    <div>
      <% if current_organization.restricts_oauth_applications? %>
        <p>
          Policy: <strong>Access restricted</strong> <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
        </p>
        <p>
          Only approved applications can access data in this organization. Applications owned by <strong><%= org_display_login %></strong> always have access.<% if current_organization.first_party_oauth_app_controls_feature_enabled? %> GitHub-owned applications are automatically granted access.<% end %>
        </p>
        <%= render layout: "shared/details_dialog", locals: {
          button_text: "Remove restrictions",
          button_class: "btn btn-danger",
          title: "Are you sure?",
        } do %>
          <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
            <%= render Primer::Alpha::Banner.new(full: true, scheme: :warning) do %>
              You’re about to remove all <% if current_organization.first_party_oauth_app_restrictions_enabled? %>OAuth<% else %>third-party<% end %> application restrictions. Please read this carefully.
            <% end %>
          <% else %>
            <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
              You’re about to remove all <% if current_organization.first_party_oauth_app_controls_feature_enabled? %>OAuth<% else %>third-party<% end %> application restrictions. Please read this carefully.
            <% end %>
          <% end %>
          <div class="Box-body">
            <p>Removing <% if current_organization.first_party_oauth_app_controls_feature_enabled? %>OAuth<% else %>third-party<% end %> application restrictions will immediately give member authorized applications access to <% unless current_organization.first_party_oauth_app_controls_feature_enabled? %>private<% end %> data in the <strong><%= org_display_login %></strong> organization.</p>
            <p class="mb-0">Please be sure you want to do this.</p>
          </div>
          <div class="Box-footer">
            <%= form_tag org_application_access_path(current_organization), "method" => :put do %>
              <%= hidden_field_tag "restrict_access", "off" %>
              <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>
                Yes, remove application restrictions
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>
          Policy: <strong>No restrictions</strong> <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
        </p>
        <p>
          All applications authorized by organization members have access to <strong><%= org_display_login %></strong>’s data.
        </p>
        <%= link_to "Setup application access restrictions", oauth_application_policy_confirm_path(current_organization), :class => "btn" %>
      <% end %>
      <% if current_organization.first_party_oauth_app_restrictions_enabled? %>
        <%= render(Primer::Alpha::TabPanels.new(label: "With panels", mt: 4)) do |component| %>
           <% component.with_tab(id: "third_party_apps", selected: true) do |tab| %>
            <% tab.with_text { "Third-Party Apps" } %>
            <% tab.with_panel do %>
              <%= render partial: "orgs/oauth_application_policy/third_party_apps", locals: { current_organization: current_organization } %>
            <% end %>
          <% end %>
          <% component.with_tab(id: "first_party_apps") do |tab| %>
            <% tab.with_text { "GitHub-Owned Apps" } %>
            <% tab.with_panel do %>
              <%= render partial: "orgs/oauth_application_policy/first_party_apps", locals: { current_organization: current_organization } %>
            <% end %>
          <% end %>
         <% end %>
      <% else %>
          <%= render partial: "orgs/oauth_application_policy/third_party_apps", locals: { current_organization: current_organization } %>
      <% end %>
      <% if current_organization.first_party_oauth_app_controls_feature_enabled? %>
        <%= render partial: "orgs/oauth_application_policy/note", locals: { current_organization: current_organization } %>
      <% else %>
        <p class="help mt-4">
          <%= primer_octicon(:question) %>
          When authorized, applications can act on behalf of organization members. Your access policy determines which applications can access data in your organization. <a class="Link--inTextBlock" href="<%= docs_url "organizations/about-oauth-app-access-restrictions" %>">Read more about third-party access and organizations.</a>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
