<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "#{ current_organization.first_party_oauth_app_controls_feature_enabled? ? "OAuth" : "Third-party" } application access policy", selected_link: :application_access_policy %>

<div itemscope itemtype="http://schema.org/Organization">
  <%= render "orgs/header", view: create_view_model(
    Orgs::HeaderView,
    organization: current_organization,
    selected_nav_item: :settings,
  ) %>

  <div class="container-md px-3">
    <p class="restrict-oauth-access-info"><a class="Link--inTextBlock" href="<%= docs_url "organizations/about-oauth-app-access-restrictions" %>"><% if current_organization.first_party_oauth_app_controls_feature_enabled? %>OAuth<% else %>Third-party<%end%> application restrictions</a> create an extra layer of security that allows owners to better control how applications access data in their organization.</p>
    <div class="gutter d-flex flex-shrink-0">
      <div class="col-4">
        <%= image_tag "modules/oauth/restrictions-1.png", :width => "234", alt: "Allowlisted applications" %>
        <p>Organization owners maintain an allowlist of trusted applications.</p>
        <p>Applications owned by <strong><%= current_organization.display_login %></strong> are always trusted.</p>
      </div>
      <div class="col-4">
        <%= image_tag "modules/oauth/restrictions-2.png", :width => "234", alt: "Requesting approval" %>
        <p>Members can request organization approval for an application.</p>
        <p>Approval requests notify organization owners, allowing them to deny or approve application access.</p>
      </div>
      <div class="col-4">
        <%= image_tag "modules/oauth/restrictions-3.png", :width => "234", alt: "Trusted application permissions" %>
        <p>Only trusted applications can:</p>
        <ul class="restrict-oauth-access-list">
          <li>Access private organization data via the API or SSH.</li>
          <li>Change public organization data.</li>
          <li>Receive webhooks for private events.</li>
        </ul>
      </div>
    </div>
    <hr>
    <%= form_tag org_application_access_path(current_organization), method: :put, class: "d-flex flex-items-center"  do %>
    <%= hidden_field_tag "restrict_access", "on" %>
    <%= render Primer::ButtonComponent.new(scheme: :primary, classes: "restrict-oauth-access-button", type: :submit) do %>
      <% if current_organization.first_party_oauth_app_controls_feature_enabled? %>
        Restrict OAuth application access
      <% else %>
        Restrict third-party application access
      <% end %>
    <% end %>
    <p class="note">Restricting access will immediately block all unapproved applications and will disable SSH keys created before February 2014. <a class="Link--inTextBlock" href="<%= docs_url("organizations/about-oauth-app-access-restrictions-setting-up") %>">Read more at GitHub Help.</a></p>
    <% end %>
  </div>
</div>
