<%# rubocop:disable Lint/InstanceVariable %>
<% @selected_link = period.to_sym %>

<div class="clearfix">
  <div class="BtnGroup float-right" data-pjax>
    <%= selected_link_to "This week",
      url_for(params.permit(:model, :columns, :period, :org).merge(period: "week")),
      class: "btn btn-sm BtnGroup-item", highlight: [:week, :numbers] %>
    <%= selected_link_to "This month",
      url_for(params.permit(:model, :columns, :period, :org).merge(period: "month")),
      class: "btn btn-sm BtnGroup-item", highlight: :month %>
    <%= selected_link_to "This year",
      url_for(params.permit(:model, :columns, :period, :org).merge(period: "year")),
      class: "btn btn-sm BtnGroup-item", highlight: :year %>
  </div>

  <% if show_period_summary %>
    <p class="lead dashboards-overview-lead">For partial period of <%= time_period_in_words(period) %> vs. same period in <%= previous_time_period_in_words(period) %>.</p>
  <% end %>
</div>

<div class="capped-cards dashboards-overview-cards">
  <% graphs.each do |graph|  %>
    <%= render :partial => "dashboards/overview/stat",
      locals: {
        period: period,
        graph: graph,
        url_base: url_base
      }
    %>
  <% end %>
</div><!-- /.dashboards-overview-cards -->
