<%= render(
  Primer::Beta::BorderBox.new(
    padding: :condensed,
    mb: 2,
    classes: "js-dashboards-overview-card"
  )) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h3) do %>
      <%= graph[:heading] %>
    <% end %>
  <% end %>

  <% component.with_row do %>
    <div class="graph-canvas dashboards-overview-graph js-graph" data-graph-name="dashboards-overview"
         data-url="<%= url_base %><%= period %>?<%= graph[:metrics].map(&:name).map(&:underscore).to_query("metrics") %>">
      <img class="graph-loading dots" src="<%= image_path "spinners/octocat-spinner-128.gif" %>" width="64" alt="">
    </div>

    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_visual_icon(icon: "graph") %>

      <% c.with_heading(tag: :h2) do %>
        No activity
      <% end %>

      <% c.with_description do %>
        No activity so far this <%= period %>.
      <% end %>
    <% end %>
  <% end %>

  <% component.with_row do %>
    <div class="traffic-graph-stats">
      <ul class="summary-stats">
      <% graph[:metrics].each_with_index do |metric, index| %>
        <li class="js-metric <%= "single" if graph[:metrics].length < 2 %>" data-metric-index="<%= index %>">
          <span class="num <%= metric.name.underscore %> js-total">0</span>
          <strong><%= metric.display_name %></strong>
          <div>
            <span class='totals-num js-total-change'>
              <%= primer_octicon(:"arrow-down") %>
              <%= primer_octicon(:"arrow-up") %>
              <span class="js-change-num"></span> change
            </span>
            <span class='totals-num js-percentage-change'>
              <%= primer_octicon(:"arrow-down") %>
              <%= primer_octicon(:"arrow-up") %>
              <span class="js-change-num"></span>
            </span>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
