<%# erblint:counter ButtonComponentMigrationCounter 4 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% view = Biztools::Coupon::IndexView.new %>

<% page_info :title => "Coupon Group", :selected_link => :admin_coupons %>

<%= render layout: "biztools/biztools" do %>
  <div class="coupons-list-options mb-3" data-pjax>
    <div class="BtnGroup d-inline-block mr-2">
      <a href="<%= biztools_coupon_groups_path(params[:group], :state => "active", :sort => params[:sort], :page => 1) %>" class="btn btn-sm BtnGroup-item <%= "selected" if @state == "active" %>">
        <%= number_with_delimiter(@counters[:active]) %> Active
      </a>
      <a href="<%= biztools_coupon_groups_path(params[:group], :state => "expired", :sort => params[:sort], :page => 1) %>" class="btn btn-sm BtnGroup-item <%= "selected" if @state == "expired" %>">
        <%= number_with_delimiter(@counters[:expired]) %> Expired
      </a>
    </div>
    <div class="BtnGroup d-inline-block mr-2">
      <a href="<%= biztools_coupon_groups_path(params[:group], :state => @state, :sort => "active_first", :page => params[:page]) %>" class="btn btn-sm BtnGroup-item <%= "selected" if params[:sort] == "active_first" || params[:sort].blank? %>">
        Sort by expiry date
      </a>
      <a href="<%= biztools_coupon_groups_path(params[:group], :state => @state, :sort => "alphabetical", :page => params[:page]) %>" class="btn btn-sm BtnGroup-item <%= "selected" if params[:sort] == "alphabetical" %>">
        Sort by A-Z
      </a>
    </div>
  </div>
  <div class="boxed-group">
    <% if !Coupon::BUSINESS_PLUS_ONLY_GROUP_NAMES.include?(params[:group]) %>
      <%= link_to 'New coupon', new_biztools_coupon_path(:group => params[:group]),
                  :class => 'btn btn-sm boxed-group-action' %>
    <% end %>
    <h3>
      <%= link_to 'Coupons /', biztools_coupons_path, 'data-pjax' => true,
                  :class => 'boxed-group-breadcrumb' %>
      <%= params[:group] %>
    </h3>
    <%= render "biztools/coupons/coupons", coupons: @coupons, view: view %>
  </div>


    <% if @coupons.total_pages > 1%>
      <div class="paginate-container">
        <%= will_paginate @coupons, :params => {:group => params[:group], :state => @state} %>
      </div>
    <% end %>

<% end %>
