<% view = Biztools::Coupon::IndexView.new %>

<% page_info :title => "Coupons", :selected_link => :admin_coupons  %>

<%= render layout: "biztools/biztools" do %>
  <%= render "biztools/coupons/lookup_user" %>
  <%= render "biztools/coupons/search" %>

  <div class="boxed-group">
    <%= link_to 'New coupon', new_biztools_coupon_path(:group => params[:group]),
                :class => 'btn btn-sm boxed-group-action' %>
    <h3>Coupon groups</h3>
    <div class="boxed-group-inner">
      <ul class="boxed-group-list standalone">
        <% Coupon::GROUP_NAMES.each do |group| %>
          <li>
            <%= link_to group, biztools_coupon_groups_path(group) %>
            <span class='access-level'>
              <%= pluralize view.group_count(group), 'coupon' %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="boxed-group">
    <%= link_to 'New coupon', new_biztools_coupon_path(:group => params[:group]),
                :class => 'btn btn-sm boxed-group-action' %>
    <h3><%= GitHub::Plan.business_plus.titleized_display_name %>(only)</h3>
    <div class="boxed-group-inner">
      <ul class="boxed-group-list standalone">
        <% Coupon::BUSINESS_PLUS_ONLY_GROUP_NAMES.each do |group| %>
          <li>
            <%= link_to group, biztools_coupon_groups_path(group) %>
            <span class="access-level">
              <%= pluralize view.group_count(group), "coupon" %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
