<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Create coupon", :selected_link => :admin_coupons %>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group">
    <h3>Create coupon</h3>

    <div class="boxed-group-inner">
      <h4>
        Need a coupon for students, education, non-profits,
        hackathons or conferences?
      </h4>
      <p>
        Check out the
        <a class="Link--inTextBlock" href='https://thehub.github.com/support/billing/coupons/coupons-and-gift-accounts/#applying-a-coupon-to-an-account'>GitHubber guide</a>
        or contact the education or community teams.
      </p>

      <hr class="bleed-flush compact">

      <%= form_for([:biztools, @coupon]) do |f| %>
        <%= f.text_group "Monthly discount", :discount, :placeholder => '$7',
                         :hint => "To grant $600 off over one year, enter '$50' here. To grant 25% off, enter 25%.",
                         :value => @coupon.try(:human_discount),
                         :error => error_for(@coupon, :discount) %>

        <%= render :partial => "biztools/coupons/shared_form_fields", :locals => {:f => f} %>
        <div class="form-actions">
          <%= render Primer::ButtonComponent.new(type: :submit) do %>Create coupon<% end %>
        </div>
      <% end %>

    </div>
  </div>
<% end %>
