<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "#{@user} Open source coupon eligibility", :selected_link => :admin_coupons %>

<%= render layout: "biztools/biztools" do %>
  <div class="boxed-group">
    <h3>
      Open source coupon eligibility: <%= @user %>
    </h3>

    <div class="boxed-group-inner">
      <h4>Has a repository with 100 stars, forks or watchers and a license</h4>
      <%
        if @popular_repository
      %>
        <%= primer_octicon(:thumbsup) %> <a class="Link--inTextBlock" href="https://github.com/<%= @popular_repository.nwo %>"><%= @popular_repository.nwo %></a>:   <%= @popular_repository.stargazer_count %> stars, <%= @popular_repository.public_fork_count %> forks, <%= @popular_repository.watchers.count %> watchers, <%= @popular_repository.license.name %>
      <% else %>
        <%= render(Primer::Beta::Octicon.new(icon: "x")) %> no repositories matching these criteria
      <% end %>

      <hr>

      <h4>Has more public repositories than private repositories and fewer than 5 private repositories</h4>
      <%
        if @public_repos_count > @private_repos_count && @private_repos_count < 5
      %>
        <%= primer_octicon(:thumbsup) %>
      <% else %>
        <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
      <% end %>
      <%= @public_repos_count %> public repositories, <%= @private_repos_count %> private repositories

      <hr>

      <h4>Has more public than private contributions and committers </h4>
      <%
        if @public_repos_committers > @private_repos_committers && @public_repos_commits > @private_repos_commits
      %>
        <%= primer_octicon(:thumbsup) %>
      <% else %>
        <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
      <% end %>
      <%= @public_repos_committers %> public committers, <%= @private_repos_committers %> private committers, <%= @public_repos_commits %> public commits, <%= @private_repos_commits %> private commits
    </div>
  </div>
<% end %>
