<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<% page_info title: "Coupon #{coupon}", selected_link: :admin_coupons %>

<%= render layout: "biztools/biztools" do %>

  <div class="coupons-list-options" data-pjax>
    <div class="BtnGroup">
      <a href="?state=active" class="btn btn-sm BtnGroup-item<%= "selected" if view.active_state? %>">
        Active
      </a>
      <a href="?state=expired" class="btn btn-sm BtnGroup-item<%= "selected" if view.expired_state? %>">
        Expired
      </a>
    </div>
  </div>

  <div class="boxed-group">
    <h3>
      <%= render Primer::Beta::Button.new(tag: :a, size: :small, classes: "boxed-group-action", href: report_biztools_coupon_path(this_coupon), "aria-label": "Download CSV") do %>
        <%= primer_octicon(:download) %> Download CSV
      <% end %>

      <%= link_to 'Coupons /', biztools_coupons_path, 'data-pjax' => true,
                  :class => 'boxed-group-breadcrumb' %>
      <% if coupon.group.present? %>
        <%= link_to "#{coupon.group} /", biztools_coupon_groups_path(coupon.group),
                    'data-pjax' => true, :class => 'boxed-group-breadcrumb' %>
      <% end %>
      <%= coupon %>
    </h3>

    <div class="boxed-group-inner">
      <h2>
        <%= view.human_details %>
        <%= render Primer::Beta::Button.new(size: :small, tag: :a, float: :right, href: edit_biztools_coupon_path(coupon)) do %>Edit<% end %>
      </h2>

      <% if coupon.staff_actor_only? %>
        <p>
          <%= primer_octicon(:lock) %>
          Applicable by staff only
        </p>
      <% end %>

      <% if coupon.note.present? %>
        <p>
          <%= view.coupon_note %>
        </p>
      <% end %>

      <hr class='bleed-flush'>

      <p>
        <%= form_tag apply_biztools_coupons_path, :method => :post do %>
          <label class="sr-only" for="user_id">Apply to a user</label>
          <input type="text" name="user_id" id="user_id" class="form-control">
          <input type="hidden" name="code" value="<%= coupon.code %>">
          <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary) do %>Apply to account<% end %>
        <% end %>
      </p>

      <p>
        <%= form_tag apply_biztools_coupons_path, :method => :post do %>
          <label class="sr-only" for="slug">Apply to an enterprise</label>
          <input type="text" name="slug" id="slug" class="form-control">
          <input type="hidden" name="code" value="<%= coupon.code %>">
          <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary) do %>Apply to Enterprise Account<% end %>
        <% end %>
      </p>

      <hr class='bleed-flush'>

      <p>
        <strong><%= pluralize coupon.limit, 'redemption' %></strong>
        left &mdash; redeemed by
        <strong><%= pluralize view.redeemed_count, 'account' %></strong>
        <span class='float-right'>
          Redeemable through <strong><%= coupon.expires_at.to_date %></strong>
        </span>
      </p>

      <% if coupon_redemptions.empty? %>
        <p>No <%= view.state %> coupon redemptions found.</p>
      <% else %>
        <ul class="boxed-group-list">
          <% coupon_redemptions.find_each do |coupon_redemption| %>
            <% billable_entity = coupon_redemption.billable_entity %>

            <li class="clearfix">
              <% if billable_entity %>
                <% if coupon_redemption.expired? %>
                  <span class="floater">
                    <strong>Expired</strong>
                  </span>
                <% else %>
                  <%= button_to "Revoke", view.revoke_coupon_path(billable_entity),
                    class: "btn btn-sm btn-danger", method: :delete, 'data-confirm': "Are you sure?" %>
                  <span class='float-right'>
                    Expires <strong><%= view.expires(billable_entity) %></strong>
                  </span>
                <% end %>

                <%= avatar_for billable_entity, 20 %>
                <% if site_admin? %>
                  <%= link_to billable_entity, view.stafftools_entity_path(billable_entity) %>
                <% else %>
                  <%= billable_entity.to_s %>
                <% end %>
                <small>
                  <%= billable_entity.plan.to_s.humanize %>
                </small>

              <% else %>
                <%= coupon_redemption.billable_entity_type %> (#<%= coupon_redemption.billable_entity_id %>) does not exist anymore.
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="paginate-container">
    <%= will_paginate coupon_redemptions %>
  </div>
<% end %>
