<div class="Box mt-3">
  <% if has_custom_branch_policies? %>
    <div class="Box-header text-bold" <%= test_selector("selected-branches-present-description") %>>
      <%= matching_ref_total_count %> allowed
    </div>
  <% else %>
    <div class="Box-header" <%= test_selector("selected-branches-absent-description") %>>
      No branch or tag rules applied yet: <strong>all branches and tags are still allowed to deploy.</strong>
    </div>
  <% end %>
  <% branch_policies.each do |branch_policy| %>
    <div class="Box-row d-flex flex-md-items-center flex-md-row flex-column">
      <span class="branch-name flex-self-center css-truncate css-truncate-target" <%= test_selector("selected-branches") %>><%= branch_policy.name %></span>
      <div class="d-flex flex-items-center flex-md-justify-end flex-auto flex-justify-between">
        <% if branch_policy.is_tag_policy? %>
          <% if matching_tag_count(branch_policy.name) != -1 %>
            <span class="f6 mr-2" <%= test_selector("applied-branches-description") %>>Currently applies to <%= pluralize(matching_tag_count(branch_policy.name), "tag") %></span>
          <% else %>
            <span class="f6 mr-2" <%= test_selector("applied-branches-description") %>>Repository has too many tags to display affected tags.</span>
          <% end %>
        <% else %>
          <% if matching_branch_count(branch_policy.name) != -1 %>
            <span class="f6 mr-2" <%= test_selector("applied-branches-description") %>>Currently applies to <%= pluralize(matching_branch_count(branch_policy.name), "branch") %></span>
          <% else %>
            <span class="f6 mr-2" <%= test_selector("applied-branches-description") %>>Repository has too many branches to display affected branches.</span>
          <% end %>
        <% end %>
      </div>
      <div class="d-flex flex-justify-end">
        <% if branch_policy.is_tag_policy? %>
          <%= render GitHub::DialogComponent.new(title: "Update deployment tag rule", variant: :default) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
            <% dialog.with_summary do %>
              <%= render Primer::Beta::Button.new(mr: 2, size: :small, tag: :summary, scheme: :default, "aria-haspopup": "dialog") do %>
                Edit
              <% end %>
            <% end %>
            <%= render Environments::EditBranchOrTagGateRuleFormComponent.new(
              name: branch_policy.name,
              policy_type: "tag",
              form_method: :put,
              form_path: update_environment_branch_policy_path(repository: repository, user_id: owner, environment_id: @environment.id, id: branch_policy.id),
              submit_button_text: "Update rule",
              submit_button_disable_text: "Update rule",
              matchings: matching_tags(branch_policy.name)
            ) %>
          <% end %>
        <% else %>
          <%= render GitHub::DialogComponent.new(title: "Update deployment branch rule", variant: :default) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
            <% dialog.with_summary do %>
              <%= render Primer::Beta::Button.new(mr: 2, size: :small, tag: :summary, scheme: :default, "aria-haspopup": "dialog") do %>
                Edit
              <% end %>
            <% end %>
            <%= render Environments::EditBranchOrTagGateRuleFormComponent.new(
              name: branch_policy.name,
              policy_type: "branch",
              form_method: :put,
              form_path: update_environment_branch_policy_path(repository: repository, user_id: owner, environment_id: @environment.id, id: branch_policy.id),
              submit_button_text: "Update rule",
              submit_button_disable_text: "Update rule",
              matchings: matching_branches(branch_policy.name)
            ) %>
          <% end %>
        <% end %>
        <%= form_tag destroy_environment_branch_policy_path(repository: repository, user_id: owner, environment_id: @environment.id, id: branch_policy.id), method: :delete do %>
          <%= render Primer::Beta::Button.new(mr: 2, size: :small, scheme: :default, type: :submit) do %>
            Remove
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="Box-row" <%= test_selector("branch-rule-row") %>>
    <div class="d-flex flex-md-row flex-column flex-md-items-center flex-items-start">
      <%= render GitHub::DialogComponent.new(title: "Add deployment branch or tag rule", variant: :wide) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
        <% dialog.with_summary do %>
          <summary>
            <div class="d-flex">
              <span class="mr-1 mr-md-2 color-fg-muted"><%= render(Primer::Beta::Octicon.new(icon: "plus-circle")) %></span>
              <span class="Link--secondary">Add deployment branch or tag rule</span>
            </div>
          </summary>
        <% end %>
        <%= render Environments::EditBranchOrTagGateRuleFormComponent.new(
          form_method: :post,
          form_path: create_environment_branch_policy_path(repository: repository, user_id: owner, environment_id: @environment.id),
          submit_button_text: "Add rule",
          submit_button_disable_text: "Add rule"
        ) %>
      <% end %>
    </div>
  </div>
</div>
