<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  intial_refs_displayed = 10
%>

<%= form_with url: @form_path,
  class: "d-flex flex-column",
  method: @form_method do |form| %>

  <div class="Box-body ">
    <% if new_branch_rule? %>
      <%= render(Primer::Alpha::ActionMenu.new(select_variant: :single, dynamic_label: true, dynamic_label_prefix: "Ref type", form_arguments: { builder: form, name: "policy_type" })) do |menu| %>
        <% menu.with_show_button { |button|
          button.with_trailing_action_icon(icon: :"triangle-down")
          "Ref type"
        } %>
        <% menu.with_item(label: "Branch", data: { value: "branch" }, active: true) do |item| %>
          <% item.with_leading_visual_icon(icon: "git-branch") %>
        <% end %>
        <% menu.with_item(label: "Tag", data: { value: "tag" }) do |item| %>
          <% item.with_leading_visual_icon(icon: "tag") %>
        <% end %>
      <% end %>
    <% else %>
      <input type="hidden" name="policy_type" value="<%= @policy_type %>">
    <% end %>

    <div class="form-group">
      <div class="form-group-header">
        <label for="<%= @name %>-gate-rule">Name pattern:</label>
      </div>
      <div class="form-group-body">
        <input required data-required-change type="text" autocomplete="off" name="name" id="<%= @name %>-gate-rule" value="<%= @name %>" class="form-control width-full" maxlength="100">
      </div>
      <div class="text-left f5 mt-4 js-hidden-branches-container">
        <% if @name.present? %>
          Applies to <strong><%= pluralize(@matchings.length, @policy_type) %></strong>.
        <% end %>
        <div class="d-flex flex-row flex-wrap js-shown-branches">
          <% @matchings.first(intial_refs_displayed).each do |matched_ref| %>
            <div class="d-flex flex-row ml-1 mr-1 mt-1 mb-1">
                <div class="branch-name flex-self-center css-truncate css-truncate-target">
                  <%= matched_ref %>
                </div>
            </div>
          <% end %>
          <% if @matchings.length > intial_refs_displayed %>
            <div class="d-flex flex-row ml-1 mr-1">
              <button type="button" class="js-show-more-branches btn-link color-fg-muted no-underline Link--primary flex-self-center ml-1 mr-1 " aria-expanded="false">
                <%= @matchings.length - intial_refs_displayed %> more...
              </button>
            </div>
          <% end %>
        </div>
        <div class="d-flex flex-row flex-wrap js-hidden-branches" hidden>
          <% @matchings.each do |matched_ref| %>
            <div class="d-flex flex-row ml-1 mr-1 mt-1 mb-1">
                <div class="branch-name flex-self-center css-truncate css-truncate-target">
                  <%= matched_ref %>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="Box-footer text-right">
    <%= render Primer::ButtonComponent.new(type: :submit, "data-disable-invalid": "", scheme: :primary) do %><%= @submit_button_text %><% end %>
  </div>
<% end %>
