<div class="Box mt-3">
  <% if protected_branches.any? %>
    <div class="Box-header">
      Applies to <strong><%= pluralize(matching_rules[:total_count], "branch") %></strong>. Based on the existing <%= link_to "repository branch protection rules", @edit_repository_branches_path, class: "Link--inTextBlock" %>.
    </div>
  <% else %>
    <div class="Box-row" <%= test_selector("selected-branches-absent-description") %>>
      No <%= link_to "repository branch protection rules", @edit_repository_branches_path, class: "Link--inTextBlock" %> set: <strong>all branches are still allowed to deploy</strong>.
    </div>
  <% end %>
    <% protected_branches.each do |branch_protection_rule| %>
      <div class="Box-row d-flex flex-md-items-center flex-md-row flex-column">
        <span class="branch-name flex-self-start css-truncate css-truncate-target mt-1" <%= test_selector("selected-protected-branch") %>><%= scrub_name(branch_protection_rule.name) %></span>
        <div class="d-flex flex-items-center flex-md-justify-end flex-auto flex-justify-between">
          <span class="f6 mr-2">Currently applies to <%= pluralize(matching_count(branch_protection_rule.name), "branch") %></span>
        </div>
      </div>
    <% end %>
</div>
<div class="mt-3">
  <%= will_paginate protected_branches %>
</div>
