<%
  team_avatar_size = 20
  max_title_length = 39
  org_length_limit = max_title_length / 3
  team_length_limit = (max_title_length / 3) * 2

  org_display_name = team.organization.profile_name.presence || team.organization.display_login
%>

<div class="p-3" <%= test_selector("team-hovercard") %>>
  <%= content_tag :div, "", data: hydro_view_tracking_attributes("team-hovercard-hover", teamId: team.id) %>
  <div class="clearfix">
    <div class="d-flex flex-items-center">
      <a href="<%= team_path(team) %>" class="flex-shrink-0 d-block float-left">
        <img src="<%= team.primary_avatar_url(40) %>" class="<%= avatar_class_names(team) %>" width="<%= team_avatar_size %>" height="<%= team_avatar_size %>" alt="<%= team.name %>">
      </a>

      <h5 class="f5 pl-2 flex-auto lh-condensed">
        <a class="no-underline Link--primary" href="/<%= team.organization.display_login %>"><%= truncate(org_display_name, length: org_length_limit) %></a>
        <span class="color-fg-muted text-normal">/</span>
        <a href="<%= team_path(team) %>" class="d-inline-block no-underline">
          <%= truncate(team.name.presence || team.slug, length: team_length_limit) %>
        </a>
      </h5>
    </div>

    <% if team.description.present? %>
      <div class="lh-condensed color-fg-muted mt-2 mb-0">
        <%= truncate(team.description, length: 88) %>
      </div>
    <% end %>
  </div>

  <% if members.any? %>
    <div class="d-flex flex-justify-between flex-items-start border-top ml-n3 mr-n3 mt-3 pt-3 px-3">
      <div role="list" class="f6 color-fg-muted">
        <% members.each_with_index do |member, i| %>
          <span>
            <span class="css-truncate-target text-bold"><%= member.display_login %></span><%= "," if i < members.size - 1 && members.size > 2 %>
            <%= "and" if i == members.size - 2 && remaining_members_count == 0 %>
          </span>
        <% end %>
        <% if remaining_members_count > 0 %>
          and
          <span class="no-wrap">
            <%= social_count(remaining_members_count) %> other <%= "member".pluralize(remaining_members_count) %>
          </span>
        <% else %>
          <span class="no-wrap">
            <% if members.size == 1 %>
              is a member
            <% else %>
              are members
            <% end %>
          </span>
        <% end %>
      </div>
      <%= render Primer::Beta::AvatarStack.new(align: :right, tooltipped: true, body_arguments: { label: members.map { |member| member.display_login }.to_sentence }) do |c| %>
        <% members.reverse_each do |member| %>
          <% c.with_avatar(src: member.primary_avatar_url(32), size: 16, alt: "@#{member.display_login}") %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
