<%
  page_info(title: "#{ this_user } / copilot", selected_link: :stafftools_user_copilot)
%>

<%= render Stafftools::Copilot::AccessComponent.new(
  copilot_user,
  copilot_auth.access_allowed?,
  copilot_auth.verbose_reason,
  copilot_auth_no_snippy.access_allowed?,
  copilot_auth_no_snippy.verbose_reason,
  copilot_user.latest_usage_detail,
  partner_orgs
) %>

<%= render Stafftools::Copilot::SettingsComponent.new(copilot_user, has_cfi_access: copilot_auth_no_snippy.has_cfi_access?) %>

<%= render(Stafftools::Copilot::WaitlistsComponent.new(copilot_user.user_object)) %>

<%= render Stafftools::Copilot::SubscriptionComponent.new(
  copilot_user.user_object,
  copilot_user.copilot_active_subscription_item,
  copilot_user.has_trial_subscription?,
  any_orgs_using_cfb: copilot_user.orgs_using_copilot_for_business.any?,
) %>

<%= render Stafftools::Copilot::BusinessSubscriptionComponent.new(seats) %>

<%= render Stafftools::Copilot::FreeSubscriptionComponent.new(
  copilot_user,
  engaged_oss_user: engaged_oss_user,
  free_user: free_user,
  coupon: coupon,
  github_star: copilot_user.github_star?,
  any_orgs_using_cfb: copilot_user.orgs_using_copilot_for_business.any?,
) %>

<%= render Stafftools::Copilot::TechnicalPreviewComponent.new(
  Copilot::TechnicalPreviewUser.where(user: copilot_user.user_object).first
) %>

<%= render Stafftools::Copilot::EditorNotificationComponent.new(
  Copilot::EditorNotification.where(user_id: copilot_user.user_object.id)
) %>

<%= render Stafftools::Copilot::AuthAndCaptureComponent.new(entity: this_user) %>

<%= render Stafftools::Copilot::BlocksComponent.new(user: copilot_user) %>


<div id="copilot-account-danger-zone" class="boxed-group dangerzone">
  <h3>Danger Zone</h3>
  <%= render Stafftools::Copilot::AbuseWarnComponent.new(copilot_user) %>
  <%= render Stafftools::Copilot::AdministrativeBlockComponent.new(copilot_user) %>
  <% if !copilot_user.trade_restricted? && !copilot_user.has_trade_screening_restriction?(feature_type: :copilot) %>
    <%= render Stafftools::Copilot::GrantFreeAccessComponent.new(
      copilot_user,
      Copilot::TechnicalPreviewUser.where(user: copilot_user.user_object).exists?,
      free_user,
      copilot_user.copilot_active_subscription_item,
    ) %>
  <% end %>
</div>
