<%
  page_info(
    title: "Code scanning tool status · #{current_repository.name_with_display_owner}",
    container_xl: true,
    selected_link: :code_scanning,
  )
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<h1 class='sr-only'>Code scanning tool status: <%= current_repository.name_with_display_owner %></h1>
<div class="<%= class_names(
  "clearfix container-xl",
  "d-flex flex-column flex-auto" => full_height?,
  "px-3 px-md-4 px-lg-5" => !full_height? && !skip_responsive_padding?,
  "p-0" => !(!full_height? && !skip_responsive_padding?),
  "mt-4" => !full_height?
) %>">
  <%= render Primer::Alpha::Layout.new do |c| %>
    <% c.with_sidebar(width: :narrow) do %>
      <ul>
        <%= render(CodeScanning::ToolStatus::HeaderComponent.new(label: "Tools", classes: "list-style-none", href: repository_code_scanning_results_tool_status_show_path(
          user_id: current_repository.owner_display_login, repository: current_repository, tool_name: tool.name
        ))) do |item| %>
          <% item.with_subtitle do %>
            <h2 class="h3 mt-1 pl-1 d-flex flex-items-center" <%= test_selector("sidebar-back-link")%>><%= tool.name %></h2>
          <% end %>
        <% end %>
      </ul>
      <%= render(Primer::Beta::NavList.new(aria: { label: "Overview" }, selected_item_id: selected_item_id)) do |component| %>
        <% component.with_group do |group| %>
          <% group.with_heading(title: "Setup type", heading_level: 3) %>
          <% group.with_item(
            label: configuration_group.setup_type, selected_by_ids: [:summary], href: repository_code_scanning_results_tool_status_configurations_path(
              user_id: current_repository.owner_display_login,
              repository: current_repository,
              tool_name: tool.name,
            ), test_selector: "sidebar-index-link"
          ) do |item| %>
            <% item.with_leading_visual_icon(
              **CodeScanning::Status::Icon.octicon_kwargs_for(level: configuration_group.overall_status)
            ) %>
          <% end %>
        <% end %>

        <% component.with_group do |group| %>
          <% group.with_heading(title: "Configurations", heading_level: 3) %>

          <% configurations.each do |configuration| %>
            <% group.with_item(
              label: configuration.label,
              href: repository_code_scanning_results_tool_status_configurations_show_path(
                user_id: current_repository.owner_display_login,
                repository: current_repository,
                tool_name: tool.name,
                configuration: configuration.slug
              ),
              selected_by_ids: [configuration.slug],
              truncate_label: true,
              test_selector: "sidebar-nav-configuration-item"
            ) do |item| %>
              <% item.with_leading_visual_icon(
                **CodeScanning::Status::Icon.octicon_kwargs_for(level: configuration.overall_status)
              ) %>
              <% item.with_description do %>
                <pre class="d-inline"><%= configuration.category.commit_oid[0..Commit::ABBREVIATED_OID_LENGTH] %></pre> last scan <%= render(Primer::Beta::Text.new(color: :muted)) { time_ago_in_words_js(configuration.last_scan) } %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% c.with_main do %>
      <%= yield %>
    <% end %>
  <% end %>
</div>
<% end %>
