<% if !GitHub.flipper[:api_version_pinning].enabled?(actor) %>
  <p>
    <%= render Primer::Beta::Label.new(scheme: :warning) do %>Disabled<% end %>
    <%
      actor_type = case actor
      when User
        "User"
      when OauthApplication
        "OAuth App"
      when Integration
        "GitHub App"
      else
        raise "Unexpected actor type: #{actor.class} (#{actor.inspect})"
      end
    %>
    <code>api_version_pinning</code> isn't enabled for this <%= actor_type %>, so this setting will be ignored.
  </p>
<% end %>
<%= form_tag stafftools_pinned_api_versions_path, method: :put do %>
  <%= hidden_field_tag :actor_id, actor.id %>
  <%= hidden_field_tag :actor_type, actor.class.name %>
  <%= select_tag :pinned_api_version, options_for_select(Rest::HasPinnedApiVersion.version_options_for_select, actor.pinned_api_version), class: "form-select", :"aria-label" => "API Version", :"aria-describedby" => "settings_user_api_version_note" %>
  <p class="text-small color-fg-muted mt-3" id="settings_user_api_version_note">
    This version of the API will be used for any requests made by this <%= actor.is_a?(User) ? "user's Personal Access Tokens" : "app" %>,
    unless those requests include version headers.
  </p>
  <%= submit_tag "Update", class: "btn btn-primary" %>
<% end %>
