<%# view is an instance of GlobalAdvisories::ShowView %>

<div class="p-3" <%= test_selector("advisory-hovercard") %>>
  <div class="mb-2">
    Published <%= time_ago_in_words_js(view.advisory.published_at) %>
  </div>

  <div class="d-flex">
    <div class="mr-2">
      <%= render DependabotAlerts::SeverityIconComponent.new(severity: view.advisory.severity, withdrawn: view.advisory.withdrawn?) %>
    </div>
    <div>
      <a
        class="no-underline Link--primary d-block h5"
        href="<%= global_advisory_path(view.advisory.ghsa_id) %>">
        <%= view.advisory.identifier %>
      </a>
      <div class="color-fg-muted mb-2">
        <%= view.advisory_title %>
      </div>
      <% if view.first_vulnerable_version_range.present? %>
        <div class="d-flex flex-items-center mb-1">
          <%= primer_octicon(:package, color: :muted, mr: 1) %> <%= view.first_vulnerable_version_range.affects %>
          <span class="circle d-inline-block p-1 ml-2 mr-1" style="background-color: <%= ecosystem_color(view.first_vulnerable_version_range.ecosystem.upcase) %>;"></span>
          <span class="color-fg-muted"><%= ::AdvisoryDB::Ecosystems.label(view.first_vulnerable_version_range.ecosystem) %></span>
        </div>
        <div class="d-flex flex-items-center text-small">
          <span class="mr-2">
            <%= primer_octicon(:x, color: :danger) %> <%= view.first_vulnerable_version_range.requirements %>
          </span>
          <% if view.first_vulnerable_version_range.fixed_in.present? %>
            <span>
              <%= primer_octicon(:check, color: :success) %> <%= view.first_vulnerable_version_range.fixed_in %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
