<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<% row_id = "gpg-key-#{gpg_key.id}" %>
<li class="Box-row" id="<%= row_id %>">
  <div class="d-flex flex-items-center flex-wrap">
    <div class="Box-row text-center d-flex flex-column">
      <span class="user-key-type TableObject-item">
        <%= primer_octicon(:key, :height => 32) %>
      </span>
      <span class="border d-block f6 mt-1 px-1 rounded color-fg-muted">GPG</span>
    </div>

    <div class="flex-auto">
      <span class="user-key-details TableObject-item TableObject-item--primary js-details-container Details">
        <% if gpg_key.name.present? %>
          <strong class="d-block"><%= gpg_key.name %></strong>
        <% end %>
        <strong>
          Email <%= "address".pluralize(gpg_key.emails.count) %>:
        </strong>
        <% gpg_key.emails.each do |email| %>
          <% business = gpg_key.user.enterprise_managed_business %>
          <% verified_email = gpg_key.allowed_email?(email.email, business: business) %>
          <span class="user-key-email-badge">
            <span class="user-key-email <%= "unverified" unless verified_email %>">
              <%= email.email %>
            </span>

            <% if !verified_email %>
              <%= render Primer::Beta::Link.new(id: "gpg-key-unverified-email-#{email.id}", href: settings_email_preferences_path, bg: :subtle, color: :default, classes: "user-key-email-unverified") do %>
                Unverified
              <% end %>
              <%= render Primer::Alpha::Tooltip.new(type: :description, direction: :s, for_id: "gpg-key-unverified-email-#{email.id}", text: "Signed commits authored by this email address will be unverified until the email address is verified.")%>
            <% end %>
          </span>
        <% end %><br>
        <strong id="gpg-key-id-<%= gpg_key.id %>">Key ID:</strong> <code id="gpg-hex-key-id-<%= gpg_key.id %>"><%= gpg_key.hex_key_id %></code>
        <% if gpg_key.expired? %>
          <%= render Primer::Beta::Label.new(id: "gpg-key-#{gpg_key.id}-expired", scheme: :accent, aria: { labelledby: "gpg-key-id-#{gpg_key.id} gpg-hex-key-id-#{gpg_key.id} gpg-key-#{gpg_key.id}-expired"}) do %>Expired<% end %>
        <% end %>
        <% if gpg_key.revoked? %>
          <%= render Primer::Beta::Label.new(id: "gpg-key-#{gpg_key.id}-revoked", scheme: :attention, aria: { labelledby: "gpg-key-id-#{gpg_key.id} gpg-hex-key-id-#{gpg_key.id} gpg-key-#{gpg_key.id}-revoked"}) do %>Revoked<% end %>
        <% end %>
        <br>

        <% if gpg_key.subkeys.any? %>
          <strong id="gpg-key-<%= gpg_key.id %>-subkeys">Subkeys:</strong>
          <% gpg_key.subkeys.each do |subkey| %>
            <code id="gpg-subkey-hex-key-id-<%= subkey.id %>"><%= subkey.hex_key_id %></code>
            <% if subkey.expired? %>
              <%= render Primer::Beta::Label.new(id: "gpg-subkey-#{subkey.id}-expired", scheme: :accent, aria: { labelledby: "gpg-key-#{gpg_key.id}-subkeys gpg-subkey-hex-key-id-#{subkey.id} gpg-subkey-#{subkey.id}-expired"}) do %>Expired<% end %>
            <% end %>
            <% if subkey.revoked? %>
              <%= render Primer::Beta::Label.new(id: "gpg-subkey-#{subkey.id}-revoked", scheme: :attention, aria: { labelledby: "gpg-key-#{gpg_key.id}-subkeys gpg-subkey-hex-key-id-#{subkey.id} gpg-subkey-#{subkey.id}-revoked"}) do %>Revoked<% end %>
            <% end %>
            <%= ", " unless subkey == gpg_key.subkeys.last %>
          <% end %>
        <% end %>
        <span class="color-fg-muted d-block"><%= key_created_at_description(gpg_key) %></span>
      </span>
    </div>

    <div>
      <span class="TableObject-item overflow-y-auto">
        <% if !current_user.change_gpg_key_enabled? %>
          <span class="team-label-ldap text-small color-fg-muted tooltipped tooltipped-s" aria-label="This GPG key is managed in your Identity Provider"><%= GitHub.auth.name %></span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
        <% else %>
          <%= render Primer::Alpha::Dialog.new(
            title: "Are you sure you want to delete this GPG key?"
            ) do |component| %>
            <% component.with_header(show_divider: true) { "Are you sure you want to delete this GPG key?" } %>
            <% component.with_show_button(ml: 1, scheme: :danger, size: :small, "aria-label": "Delete #{gpg_key.name}") { "Delete" } %>
            <%= component.with_body(pb: 0, tabindex: 0) do %>
              <p>This action <strong>cannot</strong> be undone. This will permanently delete the GPG key, and if you’d like to use it in the future, you will need to upload it again.</p>
              <p><strong>Any commits you signed with this key will become unverified after removing it.</strong></p>
            <% end %>
            <%= component.with_footer do %>
              <%= form_tag gpg_key_path(gpg_key), method: :delete, class: "width-full" do %>
                <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, block: true, mt: 3) do %>I understand, delete this GPG key<% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
</li>
