<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Add new GPG key" %>

<%= render layout: "settings/settings" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Add new GPG key
    <% end %>
  <% end %>
  <%= form_for(
    current_user.gpg_keys.build,
    html: {
      id: "new_gpg_key",
      "aria-label": "GPG key",
    },
  ) do |f| %>
    <%= render "gpg_keys/form_fields", gpg_key: f.object %>
    <p class="mb-0">
      <%= render Primer::ButtonComponent.new(
        type: :submit,
        scheme: :primary,
        "data-disable-with": "",
      ) do %>Add GPG key<% end %>
    </p>
  <% end %>
<% end %>
