<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Box.new(bg: :transparent, pb: 12)) do %>
  <%= render(Primer::Box.new(p: 4, bg: :default, border_radius: 2, mb: 5, border: true, box_shadow: :medium, container: :sm)) do %>
    <%= render(Primer::Beta::Heading.new(tag: :h2, mb: 3)) { "Use GitHub Copilot for free" } %>
    <%= render(Primer::Box.new(bg: :done, border: true, border_radius: 3, p: 3, mb: 3)) { "🎉 Congratulations! You are eligible to use GitHub Copilot for free." } %>
    <p class="color-fg-muted"><%= copilot_user.free_signup_reason %> GitHub Copilot uses the GPT-3.5 Turbo model to offer coding suggestions.</p>
    <ul class="list-style-none hanging-icon-list mb-4 mt-3 color-fg-muted" >
      <li class="mb-3"><%= render(Primer::Beta::Octicon.new(:check, color: :success, style: "margin-top: 2")) %> Get code suggestions in more than a dozen coding languages including Python, JavaScript, TypeScript, Go, and Ruby</li>
      <li class="mb-3"><%= render(Primer::Beta::Octicon.new(:check, color: :success, style: "margin-top: 2")) %> Plugs into IDEs including VS Code, Visual Studio, Neovim, and JetBrains</li>
    </ul>
    <%= render(Primer::Beta::Heading.new(tag: :h3, mb: 3)) { "Eligibility requirements" } %>
    <p class="color-fg-muted">GitHub Copilot is free to use for open source maintainers, teachers and students. We check eligibility monthly, per our policies.</p>
    <%= form_with url: form_submit_path do |f| %>
        <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit, w: :full, mt: 4, classes: "btn-medium")) { "Get access to GitHub Copilot" } %>
    <% end %>
  <% end %>
<% end %>
