<copilot-business-signup-seat-management>
  <div class="form-checkbox">
    <label>
      <%= radio_button_tag "copilot_enabled", "all_organizations", !show_org_list, disabled: true, data: { "action": "click:copilot-business-signup-seat-management#hideSeatManagement", "target": "copilot-business-signup-seat-management.enableForAllOption" } %>
      Allow for all organizations
      <p class="note">Allow access to GitHub Copilot for all organizations, including any created in the future</p>
    </label>
  </div>
  <div class="form-checkbox d-flex">
    <label>
      <%= radio_button_tag "copilot_enabled", "selected_organizations", show_org_list, disabled: true, data: { "action": "click:copilot-business-signup-seat-management#showSeatManagement", "target": "copilot-business-signup-seat-management.enableForSelectedOption" } %>
      Allow for specific organizations
      (<span id="js-copilot-enabled-count" data-enabled-count="<%= enabled_count %>"><%= pluralize(enabled_count, "organization") %></span> enabled)
      <p class="note">Only specifically-selected organizations may use GitHub Copilot</p>
    </label>
    <%= render(Primer::Beta::Spinner.new(size: :small, sr_text: "Updating seat management permissions", data: { "target": "copilot-business-signup-seat-management.seatsForSelectedSpinner" }, display: :none)) %>
  </div>

  <p class="mb-3">
    Your enterprise's use of GitHub Copilot is governed by the
    <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_SPECIFIC_TERMS, classes: "Link--inTextBlock")) { "GitHub Copilot Product Specific Terms" } %>.
  </p>

  <%= form_with(url: update_settings_copilot_enablement_enterprise_path(copilot_business.business_object), method: :put) do |f| %>
    <%= f.hidden_field :return_to, value: return_to %>
    <%= f.hidden_field :copilot_enabled, value: "all_organizations" %>
    <%= render(Primer::Beta::Button.new(size: :medium, type: :submit, scheme: :primary, disabled: true, hidden: show_org_list, data: { "target": "copilot-business-signup-seat-management.permissionsSubmitButton" })) { "Save and finish" } %>
  <% end %>

  <div data-target="copilot-business-signup-seat-management.seatManagement" <%= show_org_list ? '' : 'hidden' %>>
    <%= render(Copilot::OrgEnablement::BulkOrgEnablementComponent.new(business: copilot_business.business_object, organizations: organizations)) %>
    <a href="<%= return_to %>">
      <%= render(Primer::Beta::Button.new(size: :medium, scheme: :primary, mt: 2)) { "Save and finish" } %>
    </a>
  </div>
</copilot-business-signup-seat-management>
