<%# locals(copilot_user:, form_submit_path:, tracking_params:, signup_duration:) -%>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Box.new(bg: :transparent, pb: 12, display: :flex)) do %>
  <%= render(Primer::Box.new(p: 4, bg: :default, border_radius: 2, mb: 5, mt: 5, border: true, box_shadow: :medium, container: :md, style: "max-width: 544px;")) do %>
    <%= render(Primer::Beta::Heading.new(tag: :h2, mb: 3)) { "Start your #{Copilot.free_trial_length}-day free trial" } %>
    <%= render(Primer::Box.new(mb: 4, mt: 3, color: :muted, font_weight: :light)) do %>
      <p class="mb-3">GitHub Copilot is powered by generative AI to help you code faster and happier!</p>
      <%= render "copilot/standard_user_checklist" %>
    <% end %>
    <%= render(Primer::Beta::Heading.new(tag: :h3, mb: 3)) { "Pay frequency after trial" } %>
    <%= form_with url: form_submit_path, method: :get do |f| %>
      <% tracking_params.each do |key, value| %>
        <%= f.hidden_field key, value: value %>
      <% end %>
      <billing-duration>
        <div class="radio-group d-flex flex-justify-between" role="radiogroup">
          <label
            for="pay-monthly"
            class="radio-label rounded-2 mr-2 p-3 flex-1 <%= signup_duration == :month ? " color-bg-inset color-border-accent" : "" %>"
            data-target="billing-duration.monthlyRadioInput"
            data-action="click:billing-duration#select"
          >
            <input name="payment_duration"  type="radio" value="monthly"
              class="js-payment-method radio-input m-0 mr-1 float-none"
              data-selected-tab="pay-monthly"
              id="pay-monthly"
              <%= signup_duration == :month ? "checked" : "" %>
            >
            <%= render(Primer::Beta::Text.new(tag: :span, font_weight: :bold, font_size: 5)) { "Monthly plan" } %>
            <br><br>
            <span class="h2">$10</span> <span class="text-light color-fg-muted text-small">USD</span> <span class="text-light color-fg-muted"> /month </span>
          </label>
          <label
            for="pay-yearly"
            class="radio-label rounded-2 ml-2 p-3 flex-1 <%= signup_duration == :year ? " color-bg-inset color-border-accent" : "" %>"
            data-target="billing-duration.yearlyRadioInput"
            data-action="click:billing-duration#select"
          >
            <input name="payment_duration" type="radio" value="yearly"
              class="js-payment-method radio-input m-0 mr-1 float-none"
              data-selected-tab="pay-yearly"
              id="pay-yearly"
              <%= signup_duration == :year ? "checked" : "" %>
            >
            <%= render(Primer::Beta::Text.new(tag: :span, font_weight: :bold, font_size: 5)) { "Yearly plan" } %>
            <span class="IssueLabel pl-1">
                <span class="color-fg-accent"> <%= render(Primer::Box.new(font_weight: :bold, font_size: 6)) { "Save $20!" } %></span>
            </span> <br><br>
            <span class="h2">$100</span> <span class="text-light color-fg-muted text-small">USD</span> <span class="text-light color-fg-muted"> /year </span>
          </label>
        </div>
      </billing-duration>
      <%= render partial: "copilot/access_copilot_from_org" %>
      <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit, w: :full, enabled: true, mt: 4, classes: "btn-medium")) { "Get access to GitHub Copilot" } %>
    <% end %>
    <%= render(Primer::Box.new(mb: 3, mt: 3, color: :muted, font_weight: :light)) { "Next: Confirm your payment details" } %>
    <hr>
    <%= render(Primer::Box.new(mt: 3, color: :muted, font_weight: :light, font_size: :small)) do %>
      GitHub Copilot is free for maintainers of popular open source software on GitHub and verified students. Check out the
      <%= render(Primer::Beta::Link.new(href: "https://github.com/pricing#i-work-on-open-source-projects-can-i-get-access-to-github-copilot-for-free", classes: "Link--inTextBlock")) do %>
        free use FAQ
      <% end %>
      for more details.
    <% end %>
  <% end %>
<% end %>
<%= javascript_bundle "copilot" %>
