<%# `view` is an instance of Orgs::TeamMembers::SuggestionsView %>
<% if view.suggestions? %>
  <% view.suggestions.each do |result| %>
    <% should_include = is_trial ? view.org_member?(result) : true %>
    <% if should_include %>
      <% if result.is_a?(User) %>
        <li role="option" class="member-suggestion typeahead-result <%= "not-a-member" unless view.org_member?(result) %>" data-autocomplete-value="<%= result %>">
          <%= avatar_for(result, 24, :class => "avatar") %>
          <p class="member-suggestion-info">
            <strong class="member-login"><%= result %></strong>
            <span class="member-name"><%= result.profile_name %></span>
          </p>
          <% unless view.org_member?(result) %>
            <p class="already-member-note text-small">Invite to organization and Copilot</p>
          <% end %>
        </li>
      <% end %>
    <% end %>
  <% end %>
<% elsif view.allow_email_invites? && view.email_invitation? %>
  <% unless is_trial %>
    <li role="option" class="member-suggestion email-suggestion typeahead-result" data-autocomplete-value="<%= view.query %>">
      <%= primer_octicon(:mail, mt: 1, float: :left, mr: 1) %>
      <p class="member-suggestion-info">
        <strong class="member-login"><%= view.query %></strong>
      </p>
      <p class="non-member-note text-small">Invite to Copilot</p>
      <p class="non-member-action text-small">Invite to Copilot</p>
      <%= primer_octicon(:plus, float: :right) %>
    </li>
  <% end %>
<% elsif view.email_query? %>
  <li role="option" class="member-suggestion typeahead-result disabled" aria-disabled="true">
    <%= view.query %> doesn’t have a GitHub account
  </li>
<% elsif view.user_query? %>
  <li role="option" class="member-suggestion typeahead-result disabled" aria-disabled="true">
    <%= view.query %> isn’t a GitHub member
  </li>
<% end %>
