<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if flash[:copilot_notice_message].present? %>
  <%= render(Primer::Beta::Flash.new(full: true, icon: :info, dismissible: true, display: :flex, align_items: :center, py: 2)) do %>
    <div class="flex-1">
      <%= flash[:copilot_notice_message] %>
    </div>
    <%= render Primer::Beta::Button.new(
        data: analytics_click_attributes(
          category: "new_org_copilot_add_on",
          action: "free_org_click_flash_msg_button",
          label: "ref_loc:copilot_view_org_flash;ref_cta:view_organization"
        ),
        tag: :a,
        href: org_root_path(organization),
        ml: 2
      ) do %>
      View organization
    <% end %>
  <% end %>
<% end %>

<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Business
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <div class="container-lg p-responsive clearfix mt-3">

      <h3 class="mb-4 mt-4">Review billing summary</h3>
      <div class="col-lg-6 float-lg-left mt-3 mt-lg-0 pr-lg-5">
        <div class="copilot-signup-payment-summary-box d-flex p-3 flex-column color-shadow-large rounded-bottom-2">

          <div class="d-flex width-full mb-3">
            <div class="mr-2">
              <%= render(GitHub::AvatarComponent.new(actor: organization, size: 48)) %>
            </div>
            <div>
              <%= link_to organization.safe_profile_name.truncate(40), user_path(organization), class: "text-light" %>
              <p class="mb-0 mt-1 text-light">Organization • <%= pluralize(organization.members_count, "member") %></p>
            </div>
          </div>

          <b>Your next payment</b>
          <p>
            <span class="f2-light">$0.00</span>
          </p>

          <p class="text-light">
            Your existing agreement with GitHub governs your use of GitHub Copilot.
            See <%= link_to "GitHub Copilot specific terms here", Copilot::COPILOT_SPECIFIC_TERMS, class: "Link--inTextBlock" %>.
            If you require invoices
            <%= link_to "contact our sales team", Copilot::CONTACT_SALES_TEAM, class: "Link--inTextBlock" %>.
          </p>

          <hr class="color-fg-muted">
          <p class="text-light">See <%= link_to "billing documentation", Copilot::COPILOT_BILLING_DOCUMENTATION, class: "Link--inTextBlock" %> for more details.</p>
        </div>
      </div>


      <div class="col-lg-6 float-lg-left pl-lg-6 mt-5 mt-lg-0">
        <% if show_billing_info_prompt %>
          <h4 class="mb-2">Billing information</h4>
          <p class="mb-3 color-fg-muted" <%= test_selector("billing-info-prompt") %>>Please confirm your billing details to continue. You only need to do this once. If you require invoices <%= render(Primer::Beta::Link.new(href: Copilot::CONTACT_SALES_TEAM , underline: false, classes: "Link--inTextBlock")) { "contact our sales team" } %>.</p>
        <% else %>
          <div class="d-flex">
            <div class="col-9">
              <h4>New plan</h4>
              <p class="text-light">Copilot Business across 1 organization</p>
            </div>
            <div class="col-3 text-right">
              <h4>$19.00</h4>
              <p class="text-light">per user / month</p>
            </div>
          </div>
          <hr class="mt-1 color-fg-muted">

          <div class="d-flex">
            <div class="col-7">
              <h3>Due today</h3>
              <% if organization.display_sales_tax_on_checkout? %>
                <p class="text-light" <%= test_selector("sales-tax-label") %>>Sales tax</p>
              <% end %>
            </div>
            <div class="col-5 text-right">
              <h3>$0.00</h3>
              <% if organization.display_sales_tax_on_checkout? %>
                <p class="text-light" <%= test_selector("sales-tax-value") %>>(applied to your invoice)</p>
              <% end %>
            </div>
          </div>
          <p class="text-light">You will not be charged until seats are assigned</p>
          <hr class="mt-1 color-fg-muted">
          <h4 class="mb-3">Billing information</h4>
        <% end %>

        <%= render Copilot::BillingInfoComponent.new(
          user: organization,
          payment_duration: "monthly",
          return_to_path: copilot_business_signup_organization_payment_path(org: organization.display_login, **utm_memo)) %>
      </div>
    </div>
  <% end %>
<% end %>
