<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Business
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <div class="container-lg p-responsive clearfix mt-3">
      <% if force_sales_serve %>
        <div class="container-md">
          <h2 class="mb-2">Contact sales to complete your <%= Copilot.business_product_name %> subscription</h2>
          <hr>
          <p class="text-light mb-3">Your enterprise requires your billing information to be manually set up.
          Please contact sales and we will help you set up your <%= Copilot.business_product_name %> subscription.
          If you want to connect your existing Azure subscription, please follow <%= render(Primer::Beta::Link.new(href: "https://docs.github.com/enterprise-cloud@latest/billing/managing-billing-for-your-github-account/connecting-an-azure-subscription-to-your-enterprise", classes: "Link--inTextBlock")) { "these instructions" } %>
          to set up your Azure ID.
          </p>
          <%= render Primer::Beta::Button.new(block: true, tag: :a, href: Copilot::CONTACT_SALES_TEAM, scheme: :primary) do %>Contact sales<% end %>
        </div>
      <% else %>
        <h3 class="mb-4 mt-4">Review billing summary</h3>
        <div class="col-lg-6 float-lg-left mt-3 mt-lg-0 pr-lg-5">
          <div class="copilot-signup-payment-summary-box d-flex p-3 flex-column color-shadow-large rounded-bottom-2">

            <div class="d-flex width-full mb-3">
              <div class="mr-2">
                <%= render(GitHub::AvatarComponent.new(actor: enterprise, size: 48)) %>
              </div>
              <div>
                <%= link_to enterprise.safe_profile_name.truncate(40), enterprise_url(enterprise), class: "text-light" %>
                <p class="mb-0 mt-1 text-light">Enterprise account • <%= pluralize(enterprise.organizations.count, "organization") %></p>
              </div>
            </div>

            <b>Your next payment</b>
            <p>
              <span class="f2-light">$0.00</span>
            </p>

            <p class="text-light">
              Your existing agreement with GitHub governs your use of GitHub Copilot.
              See <%= link_to "GitHub Copilot specific terms here", Copilot::COPILOT_SPECIFIC_TERMS, class: "Link--inTextBlock" %>.
              If you require invoices
              <%= link_to "contact our sales team", Copilot::CONTACT_SALES_TEAM, class: "Link--inTextBlock" %>.
            </p>

            <hr class="color-fg-muted">
            <p class="text-light">See <%= link_to "billing documentation", Copilot::COPILOT_BILLING_DOCUMENTATION, class: "Link--inTextBlock" %> for more details.</p>
          </div>
        </div>
        <div class="col-lg-6 float-lg-left pl-lg-6 mt-5 mt-lg-0">
          <% if enterprise.has_saved_trade_screening_record? %>
            <div class="d-flex">
              <div class="col-8">
                <h4>New plan</h4>
                <p class="text-light">Copilot Business across <%= pluralize(enterprise.organizations.count, "organization") %></p>
              </div>
              <div class="col-4 text-right">
                <h4>$19.00</h4>
                <p class="text-light">per seat / monthly</p>
              </div>
            </div>
            <hr class="mt-1 color-fg-muted">

            <div class="d-flex">
              <div class="col-7">
                <h3>Due today</h3>
                <% if enterprise.display_sales_tax_on_checkout? %>
                  <p class="text-light" <%= test_selector("sales-tax-label") %>>Sales tax</p>
                <% end %>
              </div>
              <div class="col-5 text-right">
                <h3>$0.00</h3>
                <% if enterprise.display_sales_tax_on_checkout? %>
                  <p class="text-light" <%= test_selector("sales-tax-value") %>>(applied to your invoice)</p>
                <% end %>
              </div>
            </div>
            <p class="text-light">You will not be charged until seats are assigned</p>
            <hr class="mt-1 color-fg-muted">
            <h4 class="mb-3">Billing information</h4>
          <% else %>
            <h4 class="mb-2">Billing information</h4>
            <p class="text-light mb-3">Please confirm your billing details to continue. You only need to do this once.</p>
          <% end %>

          <%= render Copilot::BillingInfoComponent.new(
            user: enterprise,
            payment_duration: "monthly",
            return_to_path: copilot_business_signup_enterprise_payment_path(enterprise: enterprise.slug, **utm_memo)) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
