<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Business
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <div class="container-sm mt-4">
      <h2 class="mb-2">GitHub <%= Copilot.business_product_name %> requires a paid enterprise account</h2>
      <hr class="mt-0">
      <p class="mb-4 text-normal">Your enterprise <span class="text-bold"><%= enterprise %></span> is not eligible for <%= Copilot.business_product_name %>. Please upgrade your enterprise account to be able to purchase <%= Copilot.business_product_name %>.
      </p>
      <%= render(Primer::Beta::Button.new(scheme: :primary, tag: :a, block: :true, size: :large, href: billing_settings_upgrade_enterprise_path(enterprise))) { "Go to enterprise settings" } %>
    </div>
  <% end %>
<% end %>
