<%# erblint:counter DeprecatedComponentsCounter 1 %>

<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Business
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <div class="container-sm my-4 text-center">
      <%= render(Primer::Beta::Heading.new(tag: :h2, mb: 2)) { "Where do you want to enable Copilot?" } %>
      <p class="mb-4 color-fg-muted">You can purchase GitHub Copilot for an enterprise or an organization.</p>
      <%= form_with \
        url: "/github-copilot/business_signup/choose_business_type",
        method: :get do |form|
      %>
        <label>
          <%= render Primer::Box.new(
            border: true,
            p: 3,
            mb: 3,
            border_radius: 2,
            classes: "cursor-pointer copilot-signup-business-selection-box") do %>
            <div class="form-checkbox">
              <%= form.radio_button :business, "enterprise", class: "mt-0 d-block", checked: has_eligible_enterprises %>
            </div>
            <span class="mx-3">
              <%= render(Primer::Beta::Octicon.new(:organization, size: :medium, color: :muted)) %>
            </span>
            <div class="text-left">
              <h3 class="mb-0 color-fg-accent">Enable GitHub Copilot at an enterprise level</h3>
              <p class="text-normal color-fg-subtle">
                Organization admins inside your enterprise will be able to enable Copilot for their members
              </p>
            </div>
          <% end %>
        </label>
        <label>
          <%= render Primer::Box.new(
            border: true,
            p: 3,
            border_radius: 2, classes: "cursor-pointer copilot-signup-business-selection-box") do %>
            <div class="form-checkbox">
              <%= form.radio_button :business, "organization", class: "mt-0 d-block", checked: !has_eligible_enterprises %>
            </div>
            <span class="mx-3">
              <%= render(Primer::Beta::Octicon.new(:people,  size: :medium, color: :muted)) %>
            </span>
            <div class="text-left">
              <h3 class="mb-0 color-fg-accent">Enable GitHub Copilot in an organization</h3>
              <p class="text-normal color-fg-subtle">Select an existing organization or create a new one</p>
            </div>
          <% end %>
        </label>
        <div class="d-flex mt-4">
          <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit, ml: :auto )) do %>
            Continue
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
