<%
  strings = if is_enterprise
    {
      heading: "GitHub #{Copilot::BUSINESS_PRODUCT_NAME} is now ready",
      subheading: "We will notify organization owners about this change.",
      description: "Organization owners with access will shortly get an email with details. You can now:",
      seats_heading: "Manage organizations with access to GitHub Copilot",
      seats_heading_link: settings_copilot_enterprise_path(this_enterprise),
      seats_subheading: "#{copilot_seat_count} organizations enabled out of #{total_seat_count} organizations",
      policy_heading: "Manage GitHub Copilot policies for your enterprise",
      policy_heading_link: settings_copilot_enterprise_path(this_enterprise),
      policy_subheading: policy
    }
    elsif is_org
    {
      heading: "GitHub #{Copilot::BUSINESS_PRODUCT_NAME} is now ready",
      subheading: "Your organization members will soon be able to start building.",
      description: "Members of your organization with assigned seats will shortly get an email with instructions on how to start using GitHub Copilot.",
      seats_heading: "Manage GitHub Copilot seats in your settings",
      seats_heading_link: settings_org_copilot_seat_management_path(this_organization),
      seats_subheading: "#{copilot_seat_count} seats assigned of #{total_seat_count} org members",
      policy_heading: "Manage GitHub Copilot policies",
      policy_heading_link: settings_org_copilot_policies_path(this_organization),
      policy_subheading: policy
    }
    end
%>

<%= render Copilot::SignupComponent.new(fullscreen: true) do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      <%= strings[:heading] %>
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      <%= strings[:subheading] %>
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <%= render(Primer::Box.new(
      bg: :default,
      container: :md,
      border: true,
      border_color: :default,
      border_radius: 2,
      box_shadow: :medium,
      p: 4
    )) do %>
      <h3>Welcome to GitHub <%= Copilot::BUSINESS_PRODUCT_NAME %></h3>
      <p class="color-fg-muted my-3">
        <%= strings[:description] %>
      </p>
      <ul class="list-style-none">
        <li class="mb-3 ml-4 d-flex">
          <%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, mt: 1))%>
          <div class="d-flex flex-column">
            <%= render(Primer::Beta::Link.new(href: "#{strings[:seats_heading_link]}" , underline: false)) { strings[:seats_heading] } %>
            <span class="color-fg-muted"><%= strings[:seats_subheading] %></span>
          </div>
        </li>
        <li class="mb-3 ml-4 d-flex">
          <%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, mt: 1))%>
          <div class="d-flex flex-column">
            <%= render(Primer::Beta::Link.new(href: "#{strings[:policy_heading_link]}" , underline: false)) { strings[:policy_heading] } %>
            <span class="color-fg-muted"><%= strings[:policy_subheading] %></span>
          </div>
        </li>
      </ul>
      <p class="color-fg-muted">For more information on setting up and using GitHub Copilot, visit the documentation:</p>
        <div class="d-flex border-bottom">
          <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", size: :small, color: :subtle, mr: 2, mt: 1)) %>
          <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_DOCUMENTATION , underline: false, mb: 3, classes: "Link--inTextBlock")) { "GitHub Copilot documentation." } %>
        </div>
        <p class="mt-3 color-fg-muted">Your organizations use of GitHub Copilot is subject to your GitHub agreement and
        <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_SPECIFIC_TERMS , underline: false, classes: "Link--inTextBlock")) { "the GitHub Copilot Product Specific Terms" } %>.
        </p>
      <% end %>
    <% end %>
<% end %>

<% content_for(:microsoft_analytics_addition) do %>
  <%= content_tag "microsoft-analytics-event", nil, data: {
    "behavior": "purchase",
    "order-id": microsoft_analytics_order_id,
    "product-title": Copilot.business_product_name,
    seats: copilot_seat_count
  } %>
<% end %>
