<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Business
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <div class="container-md my-4">
      <h2 class="mb-2">Select your <%= business_type %> preferences</h2>
      <hr>
      <p class="mb-3">You will be able to change these settings later.</p>
      <%= form_with url: submit_path, class: "d-inline", method: :put do %>
        <%= render(Copilot::Policies::PublicSuggestionsFormComponent.new(configurable: configurable, button_type: 'button', input_id: "copilot-suggestions-policy-form-input", skip_form: true)) do |component| %>
          <% component.with_form_content do %>
            <input type="hidden" name="copilot_public_code_suggestions" id="copilot-suggestions-policy-form-input" value="<%= default_suggestions_policy %>">
            <input type="hidden" name="return_to" value="<%= return_to %>">
          <% end %>
        <% end %>
        <br>
        <%= render(Copilot::Policies::EditorChatFormComponent.new(configurable: configurable, skip_form: true, button_type: "button", input_id: "copilot-chat-policy-form-input", default_enabled: true)) do |component| %>
          <% component.with_form_content do %>
            <input type="hidden" name="copilot_editor_chat_enabled" id="copilot-chat-policy-form-input" value="<%= default_chat_policy %>">
          <% end %>
        <% end %>
        <br>
        <%= render(Copilot::Policies::CliFormComponent.new(configurable: configurable, skip_form: true, button_type: "button", input_id: "copilot-cli-policy-form-input", default_value: default_cli_policy)) do |component| %>
          <% component.with_form_content do %>
            <input type="hidden" name="cli" id="copilot-cli-policy-form-input" value="<%= default_cli_policy %>">
          <% end %>
        <% end %>
        <hr>
        <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary, mt: 2, ml: :auto)) { "Save and continue" } %>
      <% end %>
    </div>
  <% end %>
<% end %>
