<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Business
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <div class="container-sm mt-3">
      <h2 class="mb-2"><%= Copilot.business_product_name %> requires an organization or enterprise account</h2>
      <hr class="mt-0">
      <p class="mb-3">To enable <%= Copilot.business_product_name %> you need to be an administrator of an organization or enterprise.</p>
      <ul class="pl-2" style="list-style-position: inside">
        <li><%= render(Primer::Beta::Link.new(href: new_organization_path(return_to: "copilot_business_signup", **utm_memo), underline: false)) { "Create a new organization" } %> for free to start collaborating with other people.</li>
        <li><%= render(Primer::Beta::Link.new(href: "#{Copilot::CONTACT_SALES_TEAM}?#{utm_memo.to_query}", underline: false)) { "Contact sales" } %> to sign up for an enterprise account.</li>
      </ul>
      <p class="text-bold mt-3">If you’re part of an organization or enterprise wanting to enable <%= Copilot.business_product_name %>, contact your administrator or request it via the <%= render(Primer::Beta::Link.new(href: copilot_settings_path(**utm_memo), underline: false, classes: "Link--inTextBlock")) { "Copilot Settings" } %> page.</p>
    </div>
  <% end %>
<% end %>
