<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Business
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <div class="container-sm mt-4">
      <h2 class="mb-2">GitHub <%= Copilot.business_product_name %> requires an eligible organization</h2>
      <hr class="mt-0">
      <p class="mb-4 text-normal">
        Your organization <span class="text-bold"><%= organization %></span> is not eligible for <%= Copilot.business_product_name %>.
        Please <%= recommendation %> in order to purchase <%= Copilot.business_product_name %>.
      </p>
    </div>
  <% end %>
<% end %>
