<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Business
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Infuse AI into GitHub to accelerate every step of the software development lifecycle
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <%= render Primer::Alpha::Dialog.new(
      title: "Confirm seat assignment",
      id: "organization-warning",
    ) do |d| %>
      <% d.with_body do %>
        <p class="text-bold">
          You are purchasing GitHub Copilot access for all current and future members of the <%= organization.name %> organization.
        </p>
        <p>
          Adding or removing people to the organization will change the number of GitHub Copilot seats billed.
      <% end %>
      <% d.with_footer do %>
        <%= form_with(url: org_copilot_seat_permissions_path(organization), method: :post, local: true) do |f| %>
          <%= f.hidden_field :allow_all, value: true %>
          <%= f.hidden_field :copilot_permissions, value: "enabled_for_all" %>
          <%= f.hidden_field :return_to, value: copilot_business_signup_completion_path(business_type: "org", org: organization, **utm_memo) %>
          <div class="d-flex flex-justify-end">
            <%= render(Primer::Beta::Button.new(scheme: :default, type: :button, mr: 2, data: { "close-dialog-id": "organization-warning" })) { "Cancel" } %>
            <%= render(Primer::Beta::Button.new(scheme: :primary, type: :submit, data: { "close-dialog-id": "organization-warning" })) { "Confirm" } %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="container-lg p-4">
      <h2>Assign seats</h2>
      <hr>
      <p>
        Assign which users will have access to GitHub Copilot inside your organization. Organization members with approved access will receive an email with setup instructions. If you want to synchronize your identity provider with GitHub Copilot
        <a class="Link--inTextBlock" href="<%= Copilot::COPILOT_DOCUMENTATION %>">check the seat assignment documentation</a>.
      </p>
      <p>
        <b>Each purchased seat is $19/month.</b> You will be billed monthly for the number of assigned seats in your organization.
        Seats added in the middle of a billing period will be charged proportionally. For more information
        <a class="Link--inTextBlock" href="<%= Copilot::COPILOT_BILLING_DOCUMENTATION %>">read the billing documentation</a>.
      </p>

      <copilot-business-signup-seat-management>
        <div class="form-checkbox">
          <label>
            <%= radio_button_tag "copilot_permissions", "allow_for_all", !show_user_list.present?, disabled: true, data: { "action": "click:copilot-business-signup-seat-management#hideSeatManagement", "target": "copilot-business-signup-seat-management.enableForAllOption" } %>
            Purchase for all members (<%= pluralize(organization.members.count, "seat") %>)
            <p class="note">Allow access to GitHub Copilot for all current and future organization members</p>
          </label>
        </div>
        <div class="form-checkbox d-flex">
          <label>
            <%= radio_button_tag "copilot_permissions", "selected_groups", show_user_list.present?, disabled: true, data: { "action": "click:copilot-business-signup-seat-management#showSeatManagement", "target": "copilot-business-signup-seat-management.enableForSelectedOption" } %>
            Purchase for selected teams/users
            <p class="note">Allow access to GitHub Copilot for only specific teams and/or users</p>
          </label>
           <%= render(Primer::Beta::Spinner.new(size: :small, sr_text: "Updating seat management permissions", data: { "target": "copilot-business-signup-seat-management.seatsForSelectedSpinner" }, display: :none)) %>
        </div>

        <%= render(Primer::Beta::Button.new(size: :medium, scheme: :primary, disabled: true, hidden: show_user_list.present?, data: { "show-dialog-id": "organization-warning", "target": "copilot-business-signup-seat-management.permissionsSubmitButton" })) { "Save and finish" } %>

        <div data-target="copilot-business-signup-seat-management.seatManagement" <%= show_user_list ? '' : 'hidden' %>>
          <%= render(Copilot::SeatManagement::SeatsComponent.new(organization, page, query_params, pagination_params: { controller: "business_signup", action: "organization_seat_management", hidden: true })) %>

          <a href="<%= copilot_business_signup_completion_path(business_type: "org", org: organization, **utm_memo) %>">
            <%= render(Primer::Beta::Button.new(size: :medium, scheme: :primary, mt: 2)) { "Save and finish" } %>
          </a>
        </div>
      </copilot-business-signup-seat-management>
    </div>
  <% end %>
<% end %>
