<%# locals(microsoft_analytics_order_id:, copilot_subscription_period:, new_signup: false -%>
<% page_info title: "Signup to GitHub Copilot" %>
<%= render Copilot::SignupComponent.new(fullscreen: true) do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot is now ready
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Add it to your editor and start building.
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <%= render(Primer::Box.new(bg: :transparent, pb: 1, display: :flex)) do %>
      <%= render(Primer::Box.new(p: 4, bg: :default, border_radius: 2, mb: 5, border: true, box_shadow: :medium, container: :md)) do %>
        <show-confetti-party></show-confetti-party>
        <div class="container-md p-responsive clearfix">
          <%= render(Primer::Box.new(font_size: 2)) do %>
            <%= render(Primer::Beta::Octicon.new(:"code", size: :medium, p: 1, color: :attention, bg: :accent, classes: "copilot-install-badge")) %>
            Install the GitHub Copilot extension
          <% end %>
          <%= render(Primer::Box.new(mt: 3)) do %>
            <p class="m-3 color-fg-muted ">
              To use GitHub Copilot, you first need to install the GitHub Copilot extension. To install for your preferred code editor, check out these Getting Started guides:
            </p>
            <p class="m-3">
              <%= render(Primer::Beta::Link.new(href: docs_url("copilot/get-started-with-copilot", query: {tool: "vscode"}))) do %>
                <%= render(Primer::Beta::Octicon.new(icon: :"arrow-right")) %>
                Visual Studio Code
              <% end %>
            </p>
            <p class="m-3">
              <%= render(Primer::Beta::Link.new(href: docs_url("copilot/get-started-with-copilot", query: {tool: "visualstudio"}))) do %>
                <%= render(Primer::Beta::Octicon.new(icon: :"arrow-right")) %>
                Visual Studio
              <% end %>
            </p>
            <p class="m-3">
              <%= render(Primer::Beta::Link.new(href: docs_url("copilot/get-started-with-copilot", query: {tool: "jetbrains"}))) do %>
                <%= render(Primer::Beta::Octicon.new(icon: :"arrow-right")) %>
                JetBrains
              <% end %>
            </p>
            <p class="m-3">
              <%= render(Primer::Beta::Link.new(href: docs_url("copilot/get-started-with-copilot", query: {tool: "vimneovim"}))) do %>
                <%= render(Primer::Beta::Octicon.new(icon: :"arrow-right")) %>
                Neovim
              <% end %>
            </p>
            <%= render Primer::Box.new(display: :flex, justify_content: :space_between, bg: :done, p: 2, border_radius: 3) do %>
              <%= render(Primer::Beta::Octicon.new(:"info", mr: 2, color: :done)) %>
                <%= render(Primer::Box.new(bg: :transparent, color: :muted, display: :flex)) do %>
                  If you have the extension already installed for your code editor and have it open, please restart your editor in order to access GitHub Copilot.
                <% end %>
            <% end %>
            <p class="color-fg-muted ">Having problems installing?
              <%= render(Primer::Beta::Link.new(href: "https://github.co/copilot-feedback", classes: "Link--inTextBlock")) do %>
                Visit the Feedback forum.
              <% end %>
            </p>
            <p class="color-fg-muted ">Tip: Don’t see your code editor? We currently only support the editors listed above. We’re constantly looking to expand the editors we support, so stay tuned.</p>
            <hr class="my-3">
            <p>
              Go to <%= render(Primer::Beta::Link.new(href: settings_user_billing_path, classes: "Link--inTextBlock")) { "Billing and plans" } %> in your account settings to manage your GitHub Copilot subscription.
            </p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%# Used for the confetti animation %>
<%= javascript_bundle "copilot" %>

<% content_for(:microsoft_analytics_addition) do %>
  <%= content_tag "microsoft-analytics-event", nil, data: {
    behavior: "trial",
    "account-type": new_signup ? "new" : "existing",
    "order-id": microsoft_analytics_order_id,
    "product-title": Copilot.individual_product_name,
    "period-type": copilot_subscription_period,
    seats: 1
  } %>
<% end %>
