<% page_info title: "Signup to GitHub Copilot" %>

<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Individual
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      Your AI pair programmer
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <div class="container-lg p-responsive clearfix mt-3">
      <div class="col-lg-4 float-lg-left mt-3 mt-lg-0 pr-lg-5">
        <%= render(Primer::Box.new(pb: 12)) do %>
          <%= render(Primer::Box.new(p: 4, bg: :default, border_radius: 2, mb: 5, border: true, box_shadow: :medium, container: :md)) do %>
            <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, mb: 3)) do %>
              <h5 style="width: 170px">GitHub Copilot</h5>
              <% if payment_duration == "monthly" %>
                <h5 style="float: right"><%= Billing::Money.new(1000).format(no_cents_if_whole: false) %></h5>
              <% else %>
                <h5 style="float: right"><%= Billing::Money.new(10000).format(no_cents_if_whole: false) %></h5>
              <% end %>
            <% end %>
            <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, mb: 3)) do %>
              <% if payment_duration == "monthly" %>
                <%= render(Primer::Box.new(display: :flex)) do %>
                  <span class="text-light color-fg-muted">You selected the monthly subscription plan.</span>
                <% end %>
              <% else %>
                <%= render(Primer::Box.new(display: :flex)) do %>
                  <span class="text-light color-fg-muted">You selected the yearly subscription plan.</span>
                <% end %>
              <% end %>
            <% end %>
            <div>
              <%= render(Primer::Beta::Link.new(href: copilot_signup_url + "?payment_duration=" + payment_duration, underline: false)) do %>
                <%= render(Primer::Beta::Octicon.new(:"arrow-left")) %>
                Select a different plan
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="col-lg-8 float-lg-left pl-lg-6 mt-5 mt-lg-0">
        <%= render(Primer::Beta::Heading.new(tag: :h2, mb: 3)) { "Confirm your payment details" } %>
          <%= render(Primer::Box.new(bg: :attention, border: true, border_radius: 3, border_color: :attention_emphasis, p: 3)) do |component| %>
            <%= render(Primer::Box.new(display: :flex, justify_content: :space_between)) do %>
              <div class="float-left">
                <h3>Due today</h3>
                <% if current_user.display_sales_tax_on_checkout? %>
                  <p class="text-small color-fg-muted my-1" <%= test_selector("sales-tax-label") %>>Sales tax</p>
                <% end %>
              </div>
              <div class="float-right text-right">
                <h3>
                  <% if payment_duration == "monthly" %>
                    <%= Billing::Money.new(1000).format(no_cents_if_whole: false) %>
                  <% else %>
                    <%= Billing::Money.new(10000).format(no_cents_if_whole: false) %>
                  <% end %>
                </h3>
                <% if current_user.display_sales_tax_on_checkout? %>
                  <p class="text-small color-fg-muted my-1" <%= test_selector("sales-tax-value") %>>(applied to your invoice)</p>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <%= render(Primer::Beta::TimelineItem.new(pt: 3)) do |component| %>
            <% component.with_badge(icon: :clock) %>
            <% component.with_body do %>
              Your next payment will be
              <%= payment_duration == "monthly" ? Billing::Money.new(1000).format(no_cents_if_whole: true) : Billing::Money.new(10000).format(no_cents_if_whole: true) %>/<%= payment_duration == "monthly" ? "month" : "year" %>
              on
              <% if payment_duration == "monthly" %>
                <%= (Time.now + 1.month).strftime("%B %e, %Y") %>.
              <% else %>
                <%= (Time.now + 1.year).strftime("%B %e, %Y") %>.
              <% end %>
            <% end %>
          <% end %>
        <hr class="my-3">
        <%= render Copilot::BillingInfoComponent.new(user: current_user, payment_duration: payment_duration, return_to_path: return_to_path, subscribe_path: subscribe_path) %>
      </div>
    </div>
  <% end %>
<% end %>
<%# Used for the payments modal %>
<%= javascript_bundle "billing" %>
