<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  trade_screening_error_data = trade_screening_cannot_proceed_error_data(target: copilot_user.user_object, feature_type: :copilot)
%>

<% page_info title: "Signup to GitHub Copilot" %>
<%= render Copilot::SignupComponent.new do |signup_component| %>
  <% signup_component.with_heading do %>
    <span class="copilot-signup-heading">
      GitHub Copilot Individual
    </span>
  <% end %>
  <% signup_component.with_subheading do %>
    <span class="copilot-signup-subheading">
      The world's most widely adopted AI developer tool.
    </span>
  <% end %>
  <% signup_component.with_main do %>
    <% if trade_screening_error_data.present? %>
      <%= render(Primer::Box.new(p: 4, bg: :transparent, container: :md, style: "max-width: 544px;")) do %>
        <%= render(Primer::Beta::Flash.new(scheme: trade_screening_error_data[:scheme])) do %>
          <h3 class="h5">
            <%= render(Primer::Beta::Octicon.new(trade_screening_error_data[:icon])) %>
            You can't proceed with your payment
          </h3>
          <div class="ml-5" <%= test_selector("trade-screening-message") %>>
            <%= trade_screening_error_data[:message] %>
          </div>
        <% end %>
      <% end %>
    <% elsif copilot_user.eligible_for_trial? %>
      <%= render partial: "copilot/standard_user_signup", locals: { copilot_user: copilot_user, form_submit_path: form_submit_path, tracking_params: tracking_params, signup_duration: signup_duration } %>
    <% else %>
      <%= render partial: "copilot/renewing_user_signup", locals: { copilot_user: copilot_user, form_submit_path: form_submit_path, tracking_params: tracking_params, signup_duration: signup_duration } %>
    <% end %>
  <% end %>
<% end %>
