<% if events.any? %>
  <ul class="list-style-none" role="list">
    <% events.each do |event| %>
      <li class="discussion-event-wrapper" <% if event.respond_to?(:global_relay_id) %>data-gid="<%= event.global_relay_id %>" id="<%= event.global_relay_id %>"<% end %>>
        <div id="event-<%= event.id %>" class="TimelineItem discussion-event-timeline-item p-0 pb-3 d-flex flex-items-start">
          <% if event.is_a?(DiscussionEvent) %>
            <%= render Discussions::EventComponent.new(event: event, timeline: timeline) %>
          <% elsif event.is_a?(DiscussionEventGroup) %>
            <%= render Discussions::EventGroupComponent.new(discussion: discussion, group: event), layout: false %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
