<%# erblint:counter GoogleAnalyticsDeprecation 3 %>
<div id="first-time-contributor" <%= test_selector("first_time_contributor") %> class="Popover position-relative mt-3 js-prompt">
  <div class="Popover-message Popover-message--left-top Box color-shadow-large ml-2">
    <button type="button" class="btn-octicon float-right p-2 js-prompt-dismiss" aria-label="Close" data-ga-click="New discussion, click dismiss link in sidebar (new contributor), repo:<%= current_repository.name_with_display_owner %>"><%= primer_octicon(:x) %></button>
    <div class="p-4">
      <p class="text-center"><%= emoji_tag(Emoji.find_by_alias("wave"), class: "emoji") %></p>

      <p class="mb-0">It looks like this is your first time starting a discussion in this repository!</p>

      <p class="mt-2 mb-0">This is a community we build together. Please be welcoming and open minded.</p>

      <% if security_policy_file.present? %>
        <p class="mt-2 mb-0">
          <strong>Reporting a security vulnerability?</strong><br>
          Check out the repository's
          <a class="Link--inTextBlock" href="<%= security_policy_file %>" data-ga-click="New discussion, click security link in sidebar (new contributor), repo:<%= current_repository.name_with_display_owner %>" <%= safe_new_discussion_click_attrs(target: :COMMUNITY_LINK) %>>security policy</a>.
        </p>
      <% end %>

      <% if support_file.present? %>
        <p class="mt-2 mb-0">
          <strong>Looking for help?</strong><br>
          Check out the repository’s
          <a class="Link--inTextBlock" href="<%= support_file %>" data-ga-click="New discussion, click support link in sidebar (new contributor), repo:<%= current_repository.name_with_display_owner %>" <%= safe_new_discussion_click_attrs(target: :COMMUNITY_LINK) %>>instructions for getting support</a>.
        </p>
      <% end %>
    </div>
  </div>
</div>
