<div class="js-timeline-marker">
  <%= render Discussions::CollapsibleTimelineComponent.new(timeline: timeline, org_param: org_param) %>
  <% if timeline.try(:render_with_voltron?) %>
    <viewproxy-fragment id="content_2"></viewproxy-fragment>
  <% end %>
  <div
    class="js-timeline-marker js-socket-channel js-updatable-content"
    data-timeline-updated-at="<%= timeline.last_modified_at %>"
    data-gid="<%= timeline.discussion_graphql_id %>"
    data-url="<%= discussion_timeline_path(
      timeline.repo_owner_login,
      timeline.repo_name,
      timeline.discussion,
      timeline_last_modified: timeline.last_modified_at
    ) %>"
    data-channel="<%= live_update_view_channel(timeline.discussion.websocket_timeline_channel) %>"
  >
  </div>
  <%= form_tag graphql_path("MarkNotificationSubjectAsRead"), remote: true, class: "d-none js-timeline-marker-form" do %>
    <input type="hidden" name="variables[subjectId]" value="<%= timeline.discussion_graphql_id %>">
  <% end %>
</div>
