<% page_info(
    selected_link: :repo_discussions,
    container_xl: true,
    stafftools: stafftools_audit_log_path(query: kql_query)) %>

<%= render layout: "issues/issues" do %>
  <%= render Primer::Beta::Blankslate.new(spacious: true, test_selector: "deleted-discussion-#{deleted_discussion.old_discussion_id}") do |c| %>
    <% c.with_visual_icon(icon: "trash") %>

    <% c.with_heading(tag: :h2) do %>
      This discussion has been deleted.
    <% end %>
  <% end %>
  <% if current_user&.site_admin? || current_repository.adminable_by?(current_user) %>
    <div class="ml-6 pl-3">
      <div class="TimelineItem">
        <span class="TimelineItem-badge">
          <%= primer_octicon(:trash) %>
        </span>
        <div class="TimelineItem-body">
          <div class="d-flex flex-justify-between">
            <div>
              <%= avatar_for deleted_discussion.deleted_by, 20, class: "avatar" %>
              <% if deleted_discussion.deleted_by %>
                <%= profile_link(deleted_discussion.deleted_by, class: "Link--primary text-bold") %>
              <% else %>
                <span class="text-bold color-fg-default"><%= GitHub.ghost_user_login %></span>
              <% end %>
              deleted this from
              <%= link_to current_repository, repository_path(current_repository), class: "text-bold Link--primary" %>
              <%= time_ago_in_words_js deleted_discussion.created_at %>
              <%= render Primer::Beta::Text.new(
                tag: :p
              ).with_content(current_repository.owner.is_a?(Organization) ? "Only #{current_repository.name_with_display_owner} admins will see this information" : "Only you will see this information") %>
            </div>
            <% if logged_in? && current_user.site_admin? %>
            <p class="float-right">
              <a href="<%= stafftools_audit_log_url(query: kql_query) %>">View in audit log</a>
            </p>
          <% end %>
          </div>
        </div>
      </div>
      <div class="TimelineItem-break"></div>
    </div>
  <% end %>
<% end %>
