<?xml version="1.0" encoding="UTF-8"?>
<% path = request.path.chomp(".atom") %>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="en-US">
  <id><%= "tag:#{GitHub.host_name},2008:#{path}"%></id>
  <link type="text/html" rel="alternate" href="<%= GitHub.url + path %>"/>
  <link type="application/atom+xml" rel="self" href="<%= GitHub.url + path %>.atom"/>
  <title>Recent discussions in <%= current_repository.name_with_display_owner %><%= ", category: #{params["category_slug"]}" if params["category_slug"] %></title>
  <updated><%= discussions.any? ? discussions.first.updated_at.to_datetime.rfc3339 : Time.now.to_datetime.rfc3339 %></updated>
  <% discussions.each do |discussion| %>
  <% actor = discussion.safe_user %>
  <entry>
    <id><%= "tag:#{GitHub.host_name},2008:#{discussion.id}" %></id>
    <link type="text/html" rel="alternate" href="<%= discussion.permalink %>"/>
    <title>
      <%= discussion.title %>
    </title>
    <published><%= discussion.created_at.to_datetime.rfc3339 %></published>
    <updated><%= discussion.updated_at.to_datetime.rfc3339 %></updated>
    <media:thumbnail height="30" width="30" url="<%= actor.primary_avatar_url(30) %>"/>
    <author>
      <name><%= actor.display_login_legacy %></name>
      <uri><%= actor.permalink %></uri>
    </author>
    <content type="html">
      <%= ERB::Util.force_escape(discussion.body_html || "") %>
    </content>
  </entry>
  <% end %>
</feed>
