<% page_info \
  title: discussion_page_title(nil, selected_category_slug, remove_separator: robot?),
  description: discussion_page_description(nil, selected_category_slug),
  container_xl: true,
  selected_link: :repo_discussions,
  breadcrumb: "Discussions",
  canonical_url: request.original_url,
  richweb: {
    title: discussion_page_title(nil, selected_category_slug, remove_separator: robot?),
    description: discussion_page_description(nil, selected_category_slug),
    url: request.original_url,
    image: repository_open_graph_image_url(current_repository),
    card: repository_twitter_image_card(current_repository),
  }
%>

<% new_discussion_hydro_attrs = safe_discussions_list_click_attrs(nil, target: :NEW_DISCUSSION_LINK) %>

<% contents = capture do %>
  <%= render Discussions::IndexHeadingComponent.new(
    repository: current_repository,
    category_slug: selected_category_slug
  )
  %>

  <% if spotlights.any? %>
    <%= render Discussions::SpotlightsComponent.new(
      current_repository: current_repository,
      spotlights: spotlights,
      can_manage_spotlights: permissions.can?(:manage_discussion_spotlights),
      can_toggle_discussions_setting: permissions.can?(:can_toggle_discussions_setting),
      org_param: is_org_level? ? this_organization&.to_param : nil,
    ) %>
  <% end %>
  <%= render Discussions::SearchAndCreateComponent.new(
      current_repository: current_repository,
      query: query,
      can_create_discussion: permissions.can?(:create_discussion),
      can_toggle_discussions_setting: permissions.can?(:can_toggle_discussions_setting),
      selected_category_slug: selected_category_slug,
      include_answer_filters: include_answer_filters,
      parsed_discussions_query: parsed_discussions_query,
      current_user_can_push: current_user_can_push?,
      org_level: is_org_level?,
      org: is_org_level? ? this_organization : nil,
    ) %>

  <%= render(Primer::Alpha::Layout.new(stacking_breakpoint: :md)) do |c| %>
    <% c.with_sidebar(width: :wide, col_placement: :start, row_placement: :end) do %>
      <%= render Discussions::DiscussionsRepoSidebarComponent.new(
        can_create_discussion_category: permissions.can?(:create_discussion_category),
        categories: discussion_categories,
        can_toggle_discussions_setting: permissions.can?(:can_toggle_discussions_setting),
        can_manage_spotlights: permissions.can?(:manage_discussion_spotlights),
        selected_category_slug: selected_category_slug,
        parsed_discussions_query: discussions_query_without_defaults,
        current_repository: current_repository,
        org_param: is_org_level? ? this_organization&.to_param : nil,
      ) %>
    <% end %>

    <% c.with_main do %>
      <%= render "discussions/table",
        permissions: permissions,
        discussions: discussions,
        pinned_category_discussions: pinned_category_discussions,
        current_category: current_category,
        type_filter: type_filter,
        query: query,
        new_discussion_hydro_attrs: new_discussion_hydro_attrs,
        participants_by_discussion_id: participants_by_discussion_id,
        selected_category_slug: selected_category_slug,
        categories: discussion_categories,
        feed: feed %>
      <% if discussions.total_pages > 1 %>
        <div class="border-top">
          <div class="paginate-container">
            <div class="pagination">
              <%= will_paginate discussions %>
            </div>
          </div>
        </div>
      <% end %>
    <% end%>
  <% end %>
<% end %>

<%= render layout: "issues/issues", locals: { pjax_target: "#repo-content-pjax-container", turbo_frame: "repo-content-turbo-frame" } do %>
  <%= contents %>
<% end %>
