<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  page_info title: "Get Started With GitHub Discussions",
  container_full: true,
  skip_responsive_padding: true,
  selected_link: :repo_discussions,
  breadcrumb: "Discussions"
%>
<%= render layout: "issues/issues" do %>
  <div class="container-xl px-3 px-md-4 px-lg-5">
    <div class="d-inline-flex flex-md-row flex-items-center flex-justify-between pb-2">
      <div class="col-md-6 pr-md-4">
        <h1>
          Get started with GitHub Discussions
        </h1>
        <p class="f3 mt-3 mb-5">
          Discussions is a central gathering space for your community to ask questions,
          share ideas, and build connections with each other—all right next to your code.
        </p>
        <div class="d-flex mb-5">
          <%= button_to "Get Started", discussions_welcome_templates_path(current_repository.owner, current_repository),
            class: "btn btn-primary btn-large mr-3" %>
          <%= form_tag dismiss_repository_notice_user_path(current_user), method: :delete do %>
            <input type="hidden" name="repository_id" value="<%= current_repository.id %>">
            <input type="hidden" name="notice_name" value="discussions_tab">
            <%= render(Primer::ButtonComponent.new(type: :submit, classes: "btn-large")) { "Not now" } %>
          <% end %>
        </div>
        <div class="clearfix color-fg-muted">
          <div class="float-left">
            <%= primer_octicon(:info, mr: 1) %>
          </div>
          <div class="overflow-hidden">
            Only maintainers can see this page and enable Discussions
          </div>
        </div>

      </div>
      <div class="d-none d-md-flex col-6 mr-md-n6">
        <%= light_or_dark_picture_tag(
          "modules/discussions/hero-image-light.png",
          "modules/discussions/hero-image-dark.png",
          alt: "",
          style: "width: 100%;"
        ) %>
      </div>
    </div>
    <div class="d-flex flex-wrap gutter my-8">
      <%= render(Discussions::FeatureCardComponent.new(
        image_light: "modules/discussions/image-categories-light.png",
        image_dark: "modules/discussions/image-categories-dark.png",
        add_label: false,
        title: "Personalize your categories",
        description: "Create custom categories and discussion types to suit your community's unique needs."))%>
      <%= render(Discussions::FeatureCardComponent.new(
        image_light: "modules/discussions/image-answer-light.png",
        image_dark: "modules/discussions/image-answer-dark.png",
        add_label: false,
        title: "Mark the most helpful answer",
        description: "Highlight quality responses and make the best answer super discoverable."))%>
      <%= render(Discussions::FeatureCardComponent.new(
        image_light: "modules/discussions/image-pinned-light.png",
        image_dark: "modules/discussions/image-pinned-dark.png",
        add_label: false,
        title: "Pin big announcements",
        description: "Direct the community’s attention to important announcements or popular discussions."))%>
      <%= render(Discussions::FeatureCardComponent.new(
        image_light: "modules/discussions/image-labels-light.png",
        image_dark: "modules/discussions/image-labels-dark.png",
        add_label: false,
        title: "Label your discussions",
        description: "Organize and triage discussions to keep your space tidy and help contributors filter to areas of interest."))%>
      <%= render(Discussions::FeatureCardComponent.new(
        image_light: "modules/discussions/image-mobile-light.png",
        image_dark: "modules/discussions/image-mobile-dark.png",
        add_label: false,
        title: "Respond on-the-go with mobile",
        description: "Check in and respond to discussions whenever and wherever is convenient for you."))%>
      <%= render(Discussions::FeatureCardComponent.new(
        image_light: "modules/discussions/image-workflows-light.png",
        image_dark: "modules/discussions/image-workflows-dark.png",
        add_label: false,
        title: "Connect to your apps",
        description: "Integrate with your existing workflows and GitHub Actions via the GraphQL API and webhooks."))%>
      <%= render(Discussions::FeatureCardComponent.new(
        image_light: "modules/discussions/image-threading-light.png",
        image_dark: "modules/discussions/image-threading-dark.png",
        add_label: false,
        title: "Thread your conversations",
        description: "Keep conversations on track and encourage collaboration with threaded comments."))%>
      <%= render(Discussions::FeatureCardComponent.new(
        image_light: "modules/discussions/image-insights-light.png",
        image_dark: "modules/discussions/image-insights-dark.png",
        add_label: false,
        title: "Monitor community insights",
        description: "Track the health and growth of your community with a dashboard full of actionable data."))%>
      <%= render(Discussions::FeatureCardComponent.new(
        image_light: "modules/discussions/image-polls-light.png",
        image_dark: "modules/discussions/image-polls-dark.png",
        add_label: true,
        label_text: "New",
        title: "Ask your community with polls",
        description: "Gauge interest in a feature, vote on a meetup time, or learn more about your community with polls."))%>
    </div>
  </div>
  <div class="color-bg-subtle mb-8">
    <div class="container-xl px-3 px-md-4 px-lg-5 py-9">
      <h1 class="mb-5 pt-2 width-full">
        Communities using Discussions
      </h1>
      <div class="d-flex flex-wrap gutter">
        <%= render(Discussions::CommunityCardComponent.new(
          image: "modules/discussions/vercel.png",
          title: "vercel/next.js",
          link: "https://github.com/vercel/next.js/discussions",
          description: "The React Framework")) %>
        <%= render(Discussions::CommunityCardComponent.new(
          image: "modules/discussions/gatsbyjs.png",
          title: "gatsbyjs/gatsby",
          link: "https://github.com/gatsbyjs/gatsby/discussions",
          description: "Build blazing fast, modern apps and websites with React")) %>
        <%= render(Discussions::CommunityCardComponent.new(
          image: "modules/discussions/nodejs.png",
          title: "nodejs/node",
          link: "https://github.com/nodejs/node/discussions",
          description: "Node.js JavaScript runtime ✨🐢🚀✨")) %>
        <%= render(Discussions::CommunityCardComponent.new(
          image: "modules/discussions/tailwindlabs.png",
          title: "tailwindlabs/tailwindcss",
          link: "https://github.com/tailwindlabs/tailwindcss/discussions",
          description: "A utility-first CSS framework for rapid UI development.")) %>
        <%= render(Discussions::CommunityCardComponent.new(
          image: "modules/discussions/laravel.png",
          title: "laravel/framework",
          link: "https://github.com/laravel/framework/discussions",
          description: "Laravel is a web application framework with expressive, elegant syntax.")) %>
        <%= render(Discussions::CommunityCardComponent.new(
          image: "modules/discussions/prisma.png",
          title: "prisma/prisma",
          link: "https://github.com/prisma/prisma/discussions",
          description: "Modern database access (ORM alternative) for Node.js & Typescript | PostgreSQL, MySQL, MariaDB, & SQLite")) %>
      </div>
    </div>
  </div>
  <div class="container-xl px-3 px-md-4 px-lg-5">
    <div class="d-inline-flex flex-column flex-md-row flex-items-center flex-justify-between my-5">
      <div class="col-5">
        <h1 class="h2">
          Ready to try Discussions?
        </h1>
        <p class="f3 my-3 color-fg-muted">
          Click “get started” to enable it for your community and start your first discussion.
          Now is not the right time? Click “not now” to dismiss this tab.
          You can always turn Discussions on in your repository settings later.
        </p>
        <div class="d-flex">
          <%= button_to "Get Started", discussions_welcome_templates_path(current_repository.owner, current_repository),
            class: "btn btn-primary btn-large mr-3" %>
          <%= form_tag dismiss_repository_notice_user_path(current_user), method: :delete do %>
            <input type="hidden" name="repository_id" value="<%= current_repository.id %>">
            <input type="hidden" name="notice_name" value="discussions_tab">
            <%= render(Primer::ButtonComponent.new(type: :submit, classes: "btn-large")) { "Not now" } %>
          <% end %>
        </div>
      </div>
      <div class="col-6 border color-border-default rounded-2 p-5 d-flex">
        <div class="col-2 mr-3">
          <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 13C4 11.3431 5.34315 10 7 10H14C14.5523 10 15 10.4477 15 11C15 11.5523 14.5523 12 14 12H7C6.44772 12 6 12.4477 6 13V47C6 47.5523 6.44771 48 7 48H14C14.5523 48 15 48.4477 15 49C15 49.5523 14.5523 50 14 50H7C5.34315 50 4 48.6569 4 47V13Z" fill="#79B8FF"></path>
            <path d="M23 36C22.4477 36 22 36.4477 22 37C22 37.5523 22.4477 38 23 38H46C46.5523 38 47 37.5523 47 37C47 36.4477 46.5523 36 46 36H23Z" fill="#2188FF"></path>
            <path d="M22 31C22 30.4477 22.4477 30 23 30H46C46.5523 30 47 30.4477 47 31C47 31.5523 46.5523 32 46 32H23C22.4477 32 22 31.5523 22 31Z" fill="#2188FF"></path>
            <path d="M23 24C22.4477 24 22 24.4477 22 25C22 25.5523 22.4477 26 23 26H46C46.5523 26 47 25.5523 47 25C47 24.4477 46.5523 24 46 24H23Z" fill="#2188FF"></path>
            <path d="M22 19C22 18.4477 22.4477 18 23 18H36C36.5523 18 37 18.4477 37 19C37 19.5523 36.5523 20 36 20H23C22.4477 20 22 19.5523 22 19Z" fill="#2188FF"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 6C18.3431 6 17 7.34315 17 9V47C17 48.6569 18.3431 50 20 50H49C50.6569 50 52 48.6569 52 47V9C52 7.34315 50.6569 6 49 6H20ZM19 9C19 8.44772 19.4477 8 20 8H49C49.5523 8 50 8.44772 50 9V47C50 47.5523 49.5523 48 49 48H20C19.4477 48 19 47.5523 19 47V9Z" fill="#2188FF"></path>
            <path d="M10 36C9.44772 36 9 36.4477 9 37C9 37.5523 9.44772 38 10 38H14C14.5523 38 15 37.5523 15 37C15 36.4477 14.5523 36 14 36H10Z" fill="#2188FF"></path>
            <path d="M9 31C9 30.4477 9.44772 30 10 30H14C14.5523 30 15 30.4477 15 31C15 31.5523 14.5523 32 14 32H10C9.44772 32 9 31.5523 9 31Z" fill="#2188FF"></path>
            <path d="M10 24C9.44772 24 9 24.4477 9 25C9 25.5523 9.44772 26 10 26H14C14.5523 26 15 25.5523 15 25C15 24.4477 14.5523 24 14 24H10Z" fill="#2188FF"></path>
          </svg>
        </div>
        <div>
          <h3>
            Documentation
          </h3>
          <p class="f3 my-3 color-fg-muted">
            Read about best practices for setting up Discussions for your community.
          </p>
          <a class="f3" href="<%= GitHub.help_url %>/discussions">
            Visit the docs <%= render Primer::Beta::Octicon.new(icon: "arrow-right") %>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
