<% page_info title: this_business.name, selected_link: :enterprise_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "#{enterprise_team.name}", stafftools_enterprise_teams_path(this_business, enterprise_team) %>
      /
      Direct members
    </h2>
  </div>

  <% if memberships.any? %>
    <%= render Stafftools::SimpleSearchFormComponent.new(
      query_label: "Search direct members",
      form_url: stafftools_enterprise_team_members_path(this_business, enterprise_team)
    ) %>

    <table class="site-admin-table" <%= test_selector "members-table" %>>
      <% memberships.each do |membership| %>
        <% user = membership.user %>
        <tr <%= test_selector "member-#{user.login}" %>>
          <td>
            <%= avatar_for user, 20, class: :avatar %>
            <%= link_to user, stafftools_user_path(user) %>
          </td>
          <td <%= test_selector "profile-name" %>>
            <%= user.profile_name %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate memberships %>
    </div>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No direct members
        <% if params[:query].present? %>
          matching <em><%= params[:query] %></em>
        <% end %>
        in this enterprise team.
      <% end %>
    <% end %>
  <% end %>
</div>
