<% page_info title: this_business.name, selected_link: :enterprise_teams %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Enterprise Teams<% end %>
<% end %>

<% if enterprise_teams.any? %>
  <%= render Stafftools::SimpleSearchFormComponent.new(
    query_label: "Search Enterprise Teams",
    form_url: stafftools_enterprise_teams_path(this_business),
  ) %>

  <table class="site-admin-table">
    <thead>
      <th>Name</th>
      <th>External Group Count</th>
      <th>Direct Members Count</th>
      <th>Synced Org Teams</th>
    </thead>

    <tbody>
      <% enterprise_teams.each do |team| %>
        <tr <%= test_selector "enterprise-team-#{team.slug}"%>>
          <td <%= test_selector "enterprise-team-name" %>>
            <%= link_to team.name, stafftools_enterprise_team_path(this_business, team) %>
          </td>
          <td <%= test_selector "enterprise-team-external-group-count" %>>
            <%= pluralize team.enterprise_team_group_mappings.count, "linked group" %>
          </td>
          <td <%= test_selector "enterprise-team-direct-members-count" %>>
            <%= pluralize team.enterprise_team_memberships.count, "user" %>
          </td>
          <td <%= test_selector "enterprise-team-synced-org-teams" %>>
            <% if team.sync_to_organizations.to_sym == :disabled %>
              Disabled
            <% else %>
              <%= pluralize team.enterprise_team_organization_mappings.count, "team" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paginate-container">
    <%= will_paginate enterprise_teams %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No enterprise teams
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      in this enterprise.
    <% end %>
  <% end %>
<% end %>
