<% page_info title: this_business.name, selected_link: :enterprise_teams %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">
      <%= link_to "#{enterprise_team.name}", stafftools_enterprise_team_path(this_business, enterprise_team) %>
      /
      Organization mappings
    </h2>
  </div>

  <% if EnterpriseTeam.enabled_for_organizations?(business: this_business) %>
    <table class="site-admin-table" <%= test_selector "job-retry-table"%>>
      <thead>
        <th>Sync Error Count</th>
        <th>Description</th>
        <th>Force Sync Job</th>
      </thead>
      <% if enterprise_team.sync_to_organizations.to_sym == :all %>
        <tr <%= test_selector("retry-org-mapping-row") %>>
          <td <%= test_selector("unmapped-org-count") %>><%= pluralize(unmapped_organization_ids.count, "unmapped organization") %></td>
          <td>A count of organizations the Enterprise Team is not yet synced to</td>
          <td>
            <div <%= test_selector("retry-org-mapping-button") %>>
              <%= form_tag stafftools_enterprise_team_organization_mappings_path(this_business, enterprise_team), method: :put do %>
                <%= render Primer::Beta::Button.new(
                  size: :small,
                  type: :submit
                ) do %>Retry organization mapping job <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      <% elsif enterprise_team.sync_to_organizations.to_sym == :disabled %>
        <tr <%= test_selector("clear-org-mappings-row") %>>
          <td <%= test_selector("undestroyed-org-mappings-count") %>><%= pluralize(undestroyed_organization_mappings.count, "undestroyed organization mappings")%></td>
          <td>A count of organizations the Enterprise Team is still synced to</td>
          <td>
            <div <%= test_selector("clear-org-mappings-button") %>>
              <%= form_tag stafftools_enterprise_team_organization_mappings_path(this_business, enterprise_team), method: :put do %>
                <%= render Primer::Beta::Button.new(
                  size: :small,
                  type: :submit
                ) do %>Clear organization mappings job <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>

    <% if non_granted_mappings.empty? %>
      <%= render Primer::Alpha::Banner.new(scheme: :success, data: { test_selector: "all-sm-synced"}) do %>
        All synced Organization Teams have Security Manager granted to them.
      <% end %>
    <% else %>
      <%= render Primer::Alpha::Banner.new(scheme: :warning) do %>
        The following Organization Teams do not have Security Manager granted to them:
        <%= render Primer::BaseComponent.new(tag: :ul, role: :list) do %>
          <% non_granted_mappings.each do |team, mappings| %>
            <%= render Primer::BaseComponent.new(tag: :li, role: "listitem", data: { test_selector: "team-#{team}-missing-sm-grant" }) do %>
              Enterprise Team: <%= team %>
              <%= render Primer::BaseComponent.new(tag: :ul, role: :list) do %>
                <% mappings.each do |mapping| %>
                  <%= render Primer::BaseComponent.new(tag: :li, role: "listitem", ml: 4, data: { test_selector: "mapping-#{mapping.id}-missing-sm-grant" }) do %>
                    Organization: <%= mapping.organization.name %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if organization_mappings.any? %>
    <%= render Stafftools::SimpleSearchFormComponent.new(
      query_label: "Search mappings by Organization",
      form_url: stafftools_enterprise_team_organization_mappings_path(this_business, enterprise_team)
    ) %>
    <table class="site-admin-table" <%= test_selector "mappings-table" %>>
      <thead>
        <th>Organization</th>
        <th>Synced Team</th>
        <th>Membership Sync Status</th>
        <th>Last Synced</th>
      </thead>
      <% organization_mappings.each do |mapping| %>
        <% org = mapping.organization %>
        <tr <%= test_selector "mapping-#{org.login}" %>>
          <td <%=test_selector "org-link"%>>
            <%= avatar_for org, 20, class: :avatar %>
            <%= link_to org, stafftools_user_path(org) %>
          </td>
          <td <%=test_selector "team-link" %>>
            <%= link_to mapping.team, gh_stafftools_team_path(mapping.team) %>
          </td>
          <td <%=test_selector "membership-sync-status"%>>
            <%= mapping.status %>
          </td>
          <td <%=test_selector "synced-at"%>>
            <% if mapping.synced_at.present? %>
              <%= render Primer::Beta::RelativeTime.new(datetime: mapping.synced_at, tense: :past) %>
            <% else %>
              Not yet synced
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate organization_mappings %>
    </div>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No organizations
        <% if params[:query].present? %>
          matching <em><%= params[:query] %></em>
        <% end %>
        synced by this enterprise team.
      <% end %>
    <% end %>
  <% end %>
</div>
