<% page_info title: this_business.name, selected_link: :enterprise_teams %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= enterprise_team.name %>
  <% end %>
<% end %>

<div class="site-admin-table">
  <table>
      <tr>
        <th>
          Id
        </th>
        <td <%= test_selector("enterprise-team-id")%>>
          <%= enterprise_team.id %>
        </td>
      </tr>
      <tr>
        <th>
          Name
        </th>
        <td <%= test_selector("enterprise-team-name")%>>
          <%= enterprise_team.name %>
        </td>
      </tr>
      <tr>
        <th>
          Slug
        </th>
        <td <%= test_selector("enterprise-team-slug")%>>
          <%= enterprise_team.slug %>
        </td>
      </tr>
      <tr>
        <th>
          External Groups
        </th>
        <td <%= test_selector("enterprise-team-external-group-count")%>>
          <%= pluralize enterprise_team.enterprise_team_group_mappings.count, "linked group" %>
        </td>
      </tr>
      <tr>
        <th>
          Synced Org Teams
        </th>
        <td <%= test_selector "enterprise-team-synced-org-teams" %>>
          <% if enterprise_team.sync_to_organizations.to_sym == :disabled %>
            Disabled
          <% else %>
            <%= pluralize enterprise_team.enterprise_team_organization_mappings.count, "team" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>
          Sync to Organizations
        </th>
        <td <%= test_selector "enterprise-team-sync-to-org" %>>
          <% if enterprise_team.sync_to_organizations == 'all' %>
            Enabled
          <% else %>
            Disabled
          <% end %>
        </td>
      </tr>
      <tr>
        <th>
          Assignments
        </th>
        <td <%= test_selector "enterprise-team-assignments" %>>
          <% if enterprise_team.enterprise_team_assignments.exists? %>
            <%= enterprise_team.enterprise_team_assignments.pluck(:assignment_type).join(", ") %>
          <% else %>
            None
          <% end %>
        </td>
      </tr>
    </table>
    <%= link_to \
          "View database record",
          database_stafftools_enterprise_team_path(this_business, enterprise_team),
          class: "more" %>
</div>

<% if scim_managed_enterprise?(this_business) %>
  <div class="site-admin-subhead ruleless">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Linked External Groups<% end %>
    <% end %>

    <% if external_groups.empty? %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_heading(tag: :h2) do %>
          No linked external groups found.
        <% end %>
      <% end %>
    <% else %>
      <table class="site-admin-table">
        <thead>
          <th>Display Name</th>
          <th>Group External ID</th>
          <th>SCIM Group ID</th>
        </thead>
        <tbody>
          <% external_groups.each do |external_group| %>
            <tr <%= test_selector "external-group-#{external_group.id}"%>>
              <td <%= test_selector "external-group-name" %>>
                <%= link_to external_group.display_name, external_group_members_stafftools_enterprise_path(id: external_group.id) %>
              </td>
              <td <%= test_selector "external-group-external-id"%>>
                <%= external_group.external_id %>
              </td>
              <td>
                <%= external_group.guid %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <div class="paginate-container">
      <%= will_paginate external_groups %>
    </div>
  </div>
<% end %>

<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
	<% component.with_heading(tag: :h2) do %>Team Details<% end %>
<% end %>

<table class="site-admin-table" <%= test_selector("stafftools-enterprise-team-members")%>>
  <tr <%= test_selector("stafftools-enterprise-team-direct-members-link")%>>
    <td <%= test_selector("direct-members-link")%>>
      <%= link_to "Direct members", stafftools_enterprise_team_members_path(this_business, enterprise_team)%>
    </td>
    <td class="right-align" <%= test_selector("direct-members-count") %>>
      <%= pluralize(direct_members_count, "user") %>
    </td>
  </tr>
  <tr <%= test_selector("stafftools-enterprise-team-external-group-members-link")%>>
    <td <%= test_selector("external-group-members-link")%>>
      <%= link_to "External group members", stafftools_enterprise_team_external_group_members_path(this_business, enterprise_team)%>
    </td>
    <td class="right-align" <%= test_selector("external-group-members-count") %>>
      <%= pluralize(external_group_members_count, "user") %>
    </td>
  </tr>
  <tr <%= test_selector("stafftools-enterprise-team-organization-mappings-link")%>>
    <td <%= test_selector("organization-mappings-link")%>>
      <%= link_to "Organization mappings", stafftools_enterprise_team_organization_mappings_path(this_business, enterprise_team)%>
    </td>
    <td class="right-align" <%= test_selector("organization-mappings-count") %>>
      <%= pluralize(enterprise_team.enterprise_team_organization_mappings.count, "organization mapping") %>
    </td>
  </tr>
</table>
