<% if organization.archived? %>
  <div>
    <%= render(Primer::Alpha::Dialog.new(
      title: "Unarchive organization",
      test_selector: "unarchive-org-dialog",
    )) do |dialog| %>
      <% dialog.with_show_button(
        scheme: :danger,
        float: :right,
      ) { "Unarchive this organization" } %>
      <%= form_tag stafftools_user_archive_path(organization), method: :delete do %>
        <%= render(Primer::Alpha::Dialog::Body.new(mt: 3)) do %>
          <%= render(Primer::Alpha::Banner.new(
            scheme: :warning,
          )) do %>
            Please ensure appropriate authorization has been obtained before unarchiving the organization.
          <% end %>
          <p>
            The organization will be unarchived.
          </p>
          <p>
            All repositories will be remain archived and need to be unarchived separately.
          </p>
        <% end %>
        <%= render(Primer::Alpha::Dialog::Footer.new) do %>
          <%= render(Primer::Beta::Button.new(
            scheme: :danger,
            type: :submit,
            data: { "disable-with": "" },
          )) { "Unarchive this organization" } %>
        <% end %>
      <% end %>
    <% end %>

    <div>
      <h4>Unarchive this organization</h4>
      <div class="pr-2">
        Mark this organization as unarchived and read-write.
      </div>
    </div>
  </div>
<% elsif organization.archiving? %>
  <div <%= test_selector "org-archiving-in-progress" %>>
    <h4>Archive this organization</h4>
    <div class="pr-2">
      This organization is already being archived.
    </div>
  </div>
<% elsif !organization.billing_allows_archiving? %>
  <div <%= test_selector "org-archiving-unsupported" %>>
    <h4>Archive this organization</h4>
    <div class="pr-2">
      Only organizations owned by an enterprise or on the Free plan can be archived.
    </div>
  </div>
<% else %>
  <div>
    <%= render(Primer::Alpha::Dialog.new(
      title: "Archive organization",
      test_selector: "archive-org-dialog",
    )) do |dialog| %>
      <% dialog.with_show_button(
        scheme: :danger,
        float: :right,
      ) { "Archive this organization" } %>
      <%= form_tag stafftools_user_archive_path(organization), method: :post do %>
        <%= render(Primer::Alpha::Dialog::Body.new(mt: 3)) do %>
          <%= render(Primer::Alpha::Banner.new(
            scheme: :warning,
          )) do %>
            Please ensure appropriate authorization has been obtained before archiving the organization.
          <% end %>
          <p>
            The organization will be archived.
          </p>
          <p>
            All repositories will be archived and be read-only.
          </p>
        <% end %>
        <%= render(Primer::Alpha::Dialog::Footer.new) do %>
          <%= render(Primer::Beta::Button.new(
            scheme: :danger,
            type: :submit,
            data: { "disable-with": "" },
          )) { "Archive this organization" } %>
        <% end %>
      <% end %>
    <% end %>

    <div>
      <h4>Archive this organization</h4>
      <div class="pr-2">
        Mark this organization and all its repositories as archived and read-only.
      </div>
    </div>
  </div>
<% end %>
