<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  page_info title: "#{this_user.login} - Actions"
%>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Actions<% end %>
<% end %>

<% if this_user.action_invocation_blocked? %>
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render(Primer::Alpha::Banner.new(scheme: :danger, mt: 2, mb: 4, icon: "alert", test_selector: "actions-invocation-blocked-user" )) do %>
      Action invocation is blocked on this organization. Visit the <a class="Link--inTextBlock" href="<%= stafftools_user_administrative_tasks_path(this_user)%>">admin page</a> for more information.
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Flash.new(scheme: :danger, mt: 2, mb: 4, icon: "alert", test_selector: "actions-invocation-blocked-user" )) do %>
      Action invocation is blocked on this organization. Visit the <a class="Link--inTextBlock" href="<%= stafftools_user_administrative_tasks_path(this_user)%>">admin page</a> for more information.
    <% end %>
  <% end %>
<% end %>

<!-- Org level billing info -->
<% if GitHub.billing_enabled? %>
  <div class="Box Box--condensed mt-3">
    <div class="Box-header">
      <h3 class="Box-title">
        Concurrency
      </h3>
    </div>
    <ul>
      <li class="Box-row">
        <div class="summary">
          <dl>
            <dt class="mr-5"><b>GitHub plan</b></dt>
            <dd><%= plan_name %></dd>
          </dl>
          <dl>
            <dt class="mr-5"><b>Total concurrent jobs</b></dt>
            <dd><%= max_concurrent_jobs %><sup>*</sup></dd>
          </dl>
          <dl>
            <dt class="mr-5"><b>Maximum concurrent macOS jobs</b></dt>
            <dd><%= max_concurrent_macos_jobs %><sup>*</sup></dd>
          </dl>
          <p><sup>*</sup>We calculate these numbers from the plan based on <a class="Link--inTextBlock" href="https://docs.github.com/actions/reference/usage-limits-billing-and-administration#usage-limits">documentation</a> and they may be outdated or overridden for this organization.</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="Box Box--condensed mt-3">
    <div class="Box-header">
      <h3 class="Box-title">
        Metered billing
      </h3>
    </div>
    <ul>
      <li class="Box-row">
        <p>View <a class="Link--inTextBlock" href="<%= stafftools_user_actions_packages_usage_path(this_user) %>">metered billing</a>.</p>
      </li>
    </ul>
  </div>
<% end %>

<%# Org level actions general settings%>
<% if !GitHub.enterprise? %>
<div class="Box Box--condensed mt-3">
  <div class="Box-header">
    <h3 class="Box-title">
      Actions General Settings
    </h3>
  </div>
  <ul>
    <li class="Box-row">
      <div class="clearfix summary my-0">
        <% actions_general_settings.each do |key, value| %>
        <dl>
          <dt style="width: 50%"><%=key%></dt>
          <dd><%=value%></dd>
        </dl>
        <% end %>
      </div>
    </li>
  </ul>
</div>
<% end %>

<%# Larger-hosted runners Onboarding info %>
<div class="mt-5">
  <%= render(Actions::LargerRunnersOnboardingInfoComponent.new(owner: this_user)) %>
</div>

<%# Org level secrets %>
<div class="Box Box--condensed mt-3">
  <div class="Box-header">
    <h3 class="Box-title">
      Secrets
    </h3>
  </div>
  <ul>
    <li class="Box-row">
      <% if secrets.any? %>
        <table class="stafftools-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Availability</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <% secrets.each do |secret| %>
            <tr>
              <td><%= secret[:name] %></td>
              <td><%= secret[:visibility_description] %></td>
              <td><%= time_ago_in_words_js(secret[:created_at]) %></td>
              <td><%= time_ago_in_words_js(secret[:updated_at]) %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h2) do %>
            There are no secrets for this organization.
          <% end %>
        <% end %>
      <% end%>
    </li>
  </ul>
</div>

<%#  Org level variables %>
<div class="Box Box--condensed mt-3">
  <div class="Box-header">
    <h3 class="Box-title">
      Variables
    </h3>
  </div>
  <ul>
    <li class="Box-row">
      <% if variables.any? %>
        <table class="stafftools-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Value</th>
              <th>Availability</th>
              <th>Created At</th>
              <th>Updated At</th>
            </tr>
          </thead>
          <% variables.each do |variable| %>
            <tr>
              <td class="wb-break-all"><%= variable[:name] %></td>
              <td class="wb-break-all"><%= Base64.strict_decode64(variable[:value]) %></td>
              <td><%= variable[:visibility_description] %></td>
              <td><%= time_ago_in_words_js(variable[:created_at]) %></td>
              <td><%= time_ago_in_words_js(variable[:updated_at]) %></td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h2) do %>
            There are no variables for this organization.
          <% end %>
        <% end %>
      <% end%>
    </li>
  </ul>
</div>

<% if runner_groups.none? %>
<div class="Box Box--condensed mt-3">
   <div class="Box-header">
    <h3 class="Box-title">
      Runner Groups
    </h3>
  </div>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      There are no runner groups configured for this organization.
    <% end %>
    </div>
  <% end %>
<% else %>
  <div class="mt-5">
    <%= render(Actions::RunnerGroupsComponent.new(
      owner: this_user,
      owner_settings: Actions::OrgRunnersView.new(settings_owner: this_user, current_user: current_user),
      runner_groups: runner_groups,
      can_create_groups: false,
      can_update_groups: false,
      can_manage_runners: false,
    )) %>
  </div>
<% end %>

<% if runners.none? %>
  <div class="Box Box--condensed mt-3">
    <div class="Box-header">
      <h3 class="Box-title">
        Runners
      </h3>
    </div>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        There are no runners configured for this organization.
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="mt-5">
  <%= render(Actions::RunnerListComponent.new(runners: runners,
  owner_settings:  Actions::OrgRunnersView.new(settings_owner: this_user, current_user: current_user),
  hosted_runner_group: hosted_runner_group,
  can_manage_runners: false,
  viewing_from_a_repository: false)) %>
  </div>
<% end %>

<% unless GitHub.enterprise? %>
  <div class="Box Box--condensed mt-3">
    <div class="Box-header">
      <h3 class="Box-title">
        Restore Actions Billing Owner
      </h3>
    </div>
      <ul>
        <li class="Box-row pt-2">
          <% if !this_user.spammy? %>
            <%= form_tag stafftools_actions_restore_billing_owner_path(this_user), method: :post do %>
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, float: :right, ml: 2) do %>Restore Billing Owner<% end %>
            <% end %>
            <p>This should resolve the error "Billing Owner (User or Organization) is deleted".</p>
          <% else %>
            <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, float: :right, ml: 2, disabled: true) do %>Restore Billing Owner<% end %>
            <p>This user is spammy and cannot be restored.</p>
          <% end %>
        </li>
      </ul>
  </div>
<% end %>
