<% page_info title: "Dead Letter Queue" %>
<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Billing platform dead letter queues
    <% end %>
    <% component.with_description do %>
      This tool should be used with caution. It is an MVP for basic debugging to view and re-run dead letter queue messages.
    <% end %>
  <% end %>

  <% if error.present? %>
    <%= render(Primer::Alpha::Banner.new(scheme: :danger)) { "#{error}" } %>
  <% end %>

  <table class="stafftools-table">
    <thead>
      <th class="no-wrap billing-table-cell pr-0">Queue Name</th>
      <th class="no-wrap billing-table-cell pr-0">Depth</th>
      <th class="no-wrap billing-table-cell pr-0 text-center">Actions</th>
    </thead>

    <tbody>
      <% queue_depths.each do |queue| %>
        <tr>
          <td class="no-wrap pr-0">
            <%= queue[:queue] %>
          </td>

          <td class="no-wrap pr-0">
            <%= queue[:depth] %>
          </td>

          <td class="no-wrap pr-0">
            <% if queue[:depth] > 0 %>
              <%= render(Primer::Box.new(display: :flex, direction: :column)) do %>
                <%= render(Primer::Beta::Button.new(href: stafftools_billing_dead_letter_queue_path(queue[:queue]), tag: :a, my: 1)) { "peek" }%>
                <%= render(Billing::Stafftools::DeadLetterQueueDialogComponent.new(action: "process", queue: queue)) %>
                <%= render(Billing::Stafftools::DeadLetterQueueDialogComponent.new(action: "clear", queue: queue))%>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
