<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "#{queue_name.titleize} Queue Details" %>
<%= render layout: "stafftools/stafftools" do %>
  <%= render(Primer::Beta::Breadcrumbs.new(mb: 3)) do |component| %>
    <% component.with_item(href: stafftools_billing_dead_letter_queues_path, font_size: 4) { "Billing Platform Dead Letter Queues" } %>
    <% component.with_item(href: request.path, selected: true, color: :muted, font_size: 4) { "#{queue_name.titleize} Queue Details" } %>
  <% end %>

  <% if error.present? %>
    <%= render(Primer::Beta::Flash.new(dismissible: true, scheme: :danger)) { error } %>
  <% end %>

  <% if payloads.any? %>
    <% if current_user.feature_enabled?(:billing_dlq_enhancement) %>
      <%= render(Primer::Beta::BorderBox.new(id: "payloads-table")) do |component| %>
        <% payloads.each do |payload| %>
          <% component.with_row(p: 0) do %>
          <div class="Box-header">
            <% if payload[:customer]&.business %>
              <div>
                <strong>Business:</strong>
                <%= link_to(payload[:customer]&.business&.name, stafftools_enterprise_path(payload[:customer]&.business)) %>
              </div>
              <div>
                <strong>Staff Owned?:</strong>
                <% if payload[:customer]&.business&.staff_owned? %>
                  Yes
                <% else %>
                  No
                <% end %>
              </div>
              <div <%= test_selector("cost-center-status") %> >
                <strong>Is Cost Center?:</strong> <% if payload[:is_cost_center] %>Yes<% else %>No<% end %>
              </div>
            <% else %>
              Customer or Business not found
            <% end %>
            </div>
            <pre style="padding: 10px;"><%= payload[:payload] %></pre>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <%= render(Primer::Beta::BorderBox.new(id: "payloads-table")) do |component| %>
        <% component.with_header(bg: :subtle) %>
        <% payloads.each do |payload| %>
          <% component.with_row do %>
            <pre><%= payload %></pre>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= render Primer::Box.new(classes: "paginate-container") do %>
      <%= will_paginate payloads %>
    <% end %>
  <% end %>
<% end %>
