
<%
  calendar = Contribution::Calendar.new(collector: collector)
  contribution_counts = collector.contribution_counts
%>

<% if contribution_counts.any? %>
  <% percentages = contribution_percentages_by_type(contribution_counts) %>
  <div class="js-activity-overview-graph-container" data-percentages="<%= percentages.to_json %>">
    <%= render(Primer::Beta::Spinner.new(display: :block, mx: :auto, mt: 4, classes: "js-activity-overview-graph-spinner")) %>
    <svg
      class="js-activity-overview-graph d-none mx-auto
      <%= "#{calendar.holiday_period}-activity-overview" if calendar.holiday_period %>"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title>A graph representing <%= user.display_login %>'s contributions from
      <%= calendar.from.strftime("%B %d, %Y") %> to <%= calendar.to.strftime("%B %d, %Y") %>. The contributions are <%= contribution_percentages_summary(percentages) %>.</title>
      <g>
        <path class="js-highlight-blob" stroke-linejoin="round" fill="<%= calendar.colors[1] %>" stroke="<%= calendar.colors[1] %>" opacity="0.5" stroke-width="7" />
        <line stroke-width="2" stroke-linecap="round" class="js-highlight-x-axis activity-overview-axis" />
        <line stroke-width="2" stroke-linecap="round" class="js-highlight-y-axis activity-overview-axis" />
        <ellipse class="activity-overview-point js-highlight-top-ellipse" rx="3" ry="3" stroke-width="2" fill="white" />
        <ellipse class="activity-overview-point js-highlight-right-ellipse" rx="3" ry="3" stroke-width="2" fill="white" />
        <ellipse class="activity-overview-point js-highlight-bottom-ellipse" rx="3" ry="3" stroke-width="2" fill="white" />
        <ellipse class="activity-overview-point js-highlight-left-ellipse" rx="3" ry="3" stroke-width="2" fill="white" />
        <text text-anchor="middle" class="activity-overview-percentage js-highlight-percent-top"></text>
        <text text-anchor="middle" class="text-small activity-overview-label js-highlight-label-top"></text>
        <text text-anchor="start" class="activity-overview-percentage js-highlight-percent-right"></text>
        <text text-anchor="start" class="text-small activity-overview-label js-highlight-label-right"></text>
        <text text-anchor="middle" class="activity-overview-percentage js-highlight-percent-bottom"></text>
        <text text-anchor="middle" class="text-small activity-overview-label js-highlight-label-bottom"></text>
        <text text-anchor="end" class="activity-overview-percentage js-highlight-percent-left"></text>
        <text text-anchor="end" class="text-small activity-overview-label js-highlight-label-left"></text>
      </g>
    </svg>
  </div>
<% end %>
