<%
  total_repos_to_list = 3
  visible_repo_contrib_counts = repo_contrib_counts.take(total_repos_to_list).compact
  repos = Repository.where(id: visible_repo_contrib_counts.map(&:id)).index_by(&:id)
  hidden_repo_contrib_counts = repo_contrib_counts.drop(total_repos_to_list)
%>

<% if repo_contrib_counts.any? %>
  <div class="d-flex mb-2">
    <%= primer_octicon(:repo, color: :muted, mt: 1, mr: 2, classes: "flex-shrink-0") %>
    <div class="wb-break-word" data-repository-hovercards-enabled>
      Contributed to
      <% visible_repo_contrib_counts.each_with_index do |repo_contrib_count, i| %>
        <%
          is_last = i == visible_repo_contrib_counts.size - 1
          repo = repos[repo_contrib_count.id]
          link_text = include_owner ? repo.name_with_display_owner : repo.name
        %>
        <a href="<%= repository_path(repo) %>"
          <%= safe_data_attributes(activity_overview_link_hydro_attrs(selected_org_database_id: selected_org_database_id, path: repo.path, type: :REPOSITORY)) %>
          <%= safe_data_attributes(hovercard_data_attributes_for_repository(repo)) %>
          class="text-bold css-truncate css-truncate-target"
          style="max-width: 228px;"><%= link_text %></a><%= "," unless is_last %>
      <% end %>
      <% if hidden_repo_contrib_counts.any? %>
        <span class="no-wrap">
          and <%= hidden_repo_contrib_counts.size %> other
          <%= "repository".pluralize(hidden_repo_contrib_counts.size) %>
        </span>
      <% end %>
    </div>
  </div>
<% end %>
