<div class="color-bg-subtle border-0 rounded-2 p-3">
  <code class="f6 p-0 lh-default" style="line-height: 20px !important">
    <% commands.each do |cmd, i|%>
      <% dom_id = "clipboard-copy-content-#{platform}-#{cmd[:desc].parameterize}" %>
      <span class="color-fg-muted px-2">// <%= cmd[:desc] %></span><br>
      <%= render Primer::Beta::ClipboardCopy.new(display: :block, position: :relative, px: 2, py: 1, classes: "CopyBlock", "data-copy-feedback": "Copied!", "data-tooltip-direction": "ne", "aria-label": "Copy command", role: "button", tabindex: "0", for: dom_id) do %>
        <span class="color-fg-muted">$</span> <span id="<%= dom_id %>"><%= cmd[:body] || safe_join(cmd[:body_arr], "") %></span>
        <%= primer_octicon(:copy, color: :accent, position: :absolute, mr: 1, mt: 1, right: 0, top: 0, classes: "js-clipboard-copy-icon") %>
        <%= primer_octicon(:check, color: :success, position: :absolute, mr: 1, mt: 1, display: :none, right: 0, top: 0, classes: "js-clipboard-check-icon") %>
      <% end %>
    <% end %>
  </code>
</div>
