<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::Beta::Subhead.new(spacious: spacious) do |component| %>
  <% component.with_heading(tag: :h2) do %>
    Runners
  <% end %>

  <% component.with_description do %>
    <p class="mb-0 pt-2">
      Host your own runners and customize the environment used to run jobs in your GitHub Actions workflows. <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/hosting-your-own-runners/about-self-hosted-runners">Learn more about self-hosted runners</a>.
    </p>
  <% end %>
  <% unless view.self_hosted_runners_disabled_by_admin? %>
    <% component.with_actions(pb: 2) do %>
      <%= render Primer::ButtonComponent.new(href: view.add_runner_path, variant: :small, tag: :a, scheme: :primary, ml: 2, test_selector: "add-runner") do %>
        New self-hosted runner
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if view.self_hosted_runners_disabled_by_admin? %>
  <%= render Primer::Beta::Flash.new(icon: :"shield-lock", mb: 3, test_selector: "repo-level-runners-disabled-banner") do %>
    Self-hosted runners were disabled by your organization admin.
  <% end %>
<% end %>

<%= render partial: "actions/settings/runners_list", locals: { runners: runners, runner_scale_sets: runner_scale_sets, runner_groups: runner_groups, view: view,  hosted_runner_group: hosted_runner_group, shared_runners: shared_runners  } %>
