<%
  runner_moniker = "self-hosted"
  title = "Add new #{runner_moniker} runner · #{current_repository.name_with_display_owner}"
  page_info \
  container_xl: true,
  title: title,
  selected_link: :repository_actions_settings_add_new_runner
%>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a class="Link--inTextBlock" href="<%= repository_actions_settings_runners_path %>">Runners</a> / <%=title%>
    <% end %>
  <% end %>
  <p>
    Adding a <%=runner_moniker%> runner requires that you download, configure, and execute the
    GitHub Actions Runner. By downloading and configuring the GitHub Actions Runner, you
    agree to the <a class="Link--inTextBlock" href="<%= GitHub.help_url(skip_enterprise: true) %>/github/site-policy/github-terms-of-service">GitHub Terms of Service</a>
    or <a class="Link--inTextBlock" href="<%= GitHub.help_url(skip_enterprise: true) %>/github/site-policy/github-corporate-terms-of-service">GitHub Corporate Terms of Service</a>, as applicable.
  </p>

  <%= render partial: "actions/settings/add_runner_instructions", locals: {
      platform: platform,
      os: os,
      architecture: architecture,
      downloads: downloads,
      platform_options: platform_options,
      token: token,
      selected_download: selected_download,
      registration_url: repository_url(current_repository)
    }
  %>
<% end %>
