<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  runner_moniker = "self-hosted"
  title = "Add new #{runner_moniker} runner · #{current_repository.name_with_display_owner}"
  page_info \
  container_xl: true,
  title: title,
  selected_link: :repo_actions_settings
%>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= repository_actions_settings_path %>">Runners</a> / <%=title%>
    <% end %>
  <% end %>

  <div class="Box-body pt-0 repository-settings-actions overflow-y-auto">
    <%= render Primer::BlankslateComponent.new(
      image_src: "modules/site/features/actions-icon-actions.svg",
      image_alt: "GitHub Actions",
      title: "Workflows aren't being run on this repository",
      spacious: true,
    ) do %>
      <p class="color-fg-muted">
        GitHub Actions is not currently enabled on this repository. <%= link_to("Configure a workflow file", actions_path, class: "Link--inTextBlock") %> to enable GitHub Actions.
      </p>
    <% end %>
  </div>
<% end %>
