<% page_info \
  container_xl: true,
  title: "Actions settings · #{current_repository.name_with_display_owner}",
  selected_link: :repository_actions_settings_general
%>

<%= render layout: "edit_repositories/edit" do %>
  <%if current_repository.owner.organization? && current_repository.owner.eligible_for_legacy_upsell? %>
    <%= render_actions_billing_warning_if_required(owner: current_repository.owner, current_user: current_user) %>
  <% end %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Actions permissions<% end %>
  <% end %>
  <% if current_repository.actions_disabled_by_owner? %>
    <% owner = current_repository.owner.user? ? "enterprise" : "organization" %>
    <div class="color-fg-muted note pt-2 pb-2">
      <%= primer_octicon(:"shield-lock") %>
      This setting has been disabled by <%= owner %> administrators.
    </div>
  <% end %>

  <actions-policy-form>
    <%= primer_form_with(url: repository_actions_settings_update_allowed_actions_path, method: :put) do |f| %>
      <%= render(Actions::Policy::AllowedActionsForm.new(f, owner: current_repository, current_user: current_user)) %>
    <% end %>
  </actions-policy-form>

  <%= render Actions::Settings::RetentionComponent.new(
      entity: current_repository,
      update_retention_limit_path: repo_actions_update_retention_path,
    ) %>

  <% if current_repository.public? %>
    <%= render Actions::Policy::ForkPrApprovalsComponent.new(entity: current_repository, action: update_repository_fork_pr_approvals_policy_path) %>
    <% if GitHub.flipper[:dotcom_public_fork_pr_workflows_policy].enabled?(current_repository) %>
      <%= render Actions::Policy::PublicForkPullRequestComponent.new(
        action: update_repository_public_fork_pr_workflows_policy_path,
        entity: current_repository,
      ) %>
    <% end %>
  <% end %>

  <% if current_repository.private? %>
    <%= render Actions::Policy::ForkPullRequestComponent.new(
      action: update_repository_fork_pr_workflows_policy_path,
      entity: current_repository,
    ) %>
  <% end %>

  <%= render Actions::Policy::DefaultWorkflowPermissionsComponent.new(
    action: update_repository_default_workflow_permissions_path,
    entity: current_repository,
  ) %>

  <%# Enable the access policy UI for both private and internal repositories. %>
  <% if current_repository.private? %>
    <%= render Actions::Policy::RepositoryShareComponent.new(
      action: update_actions_repository_share_policy_path,
      repo: current_repository,
    ) %>
  <% end %>
<% end %>
