<%
  page_info \
  title: "Manage runner scale set · #{current_repository.name_with_display_owner}}",
  responsive: false,
  selected_link: :settings_repo_actions_runner_scale_set
%>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
    <div class="d-flex flex-row">
      <div class="mr-2">
        <a href="<%= repository_actions_settings_runners_path %>">Runners</a> /
      </div>
      <div class="mr-2">
        <%= render(Primer::Beta::Octicon.new(:"hubot")) %>
        <%= scale_set.name %>
      </div>
    <% end %>
  <% end %>
  <%= render(Actions::RunnerScaleSets::RunnerScaleSetComponent.new(scale_set: scale_set)) %>
<% end %>
