<div class="d-flex flex-column flex-lg-row">

  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-enterprise">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Beta
        </div>
        <p class="lh-condensed copilot-waitlist-header">Sign up for the <%= Copilot::ENTERPRISE_PRODUCT_NAME %> waitlist</p>

        <p class="text-light mt-4 mb-4">
        <% if signup_closed %>
          Thank you for expressing interest in Copilot Enterprise.
        <% else %>
          You are joining the <%= Copilot::ENTERPRISE_PRODUCT_NAME %> waitlist. To ensure you're added, nominate the enterprise of your choice
          to join <%= Copilot::ENTERPRISE_PRODUCT_NAME %>.
        <% end %>
        Learn more about <%= link_to Copilot::ENTERPRISE_PRODUCT_NAME, "https://github.co/copilot-enterprise", class: "Link--inTextBlock" %> and the <%= link_to "features it includes", "https://github.co/copilot-enterprise", class: "Link--inTextBlock" %>.
        </p>
      </div>
    </div>
  </div>
  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <div class="copilot-waitlist-section-inner">
      <% if signup_closed %>
        <p class="mb-2 h3">The waitlist is now closed.</p>

        <p class="mb-4">
          Admission to the private beta for GitHub Copilot Enterprise is now closed. To sign up and try the latest
          Copilot features, including Chat-based assistance in the GitHub Platform, conversational search and
          summarization on internal knowledge bases and skills for pull requests, keep an eye out for news of
          Copilot Enterprise general availability.
        </p>

        <%= render(Site::ButtonComponent.new(
          role: :button,
          scheme: :muted,
          url: "https://github.co/copilot-enterprise",
          text: "Learn more about GitHub #{Copilot::ENTERPRISE_PRODUCT_NAME}",
          arrow: false,
          classes: "width-full copilot-waitlist-buy-button"
        )) %>
      <% elsif enterprises.any? %>
        <p class="mb-2 h3">Tell us about your enterprise</p>

        <%= render(Copilot::BetaSignupFormComponent.new(
          signup_url_path: copilot_for_enterprise_waitlist_signup_create_path,
          signup_cta_text: "Join Enterprise waitlist",
          enterprises: enterprises,
          preview_terms: preview_terms,
          preview_terms_text: "You will receive an email if you are granted access and will be able to manage individual features from your Enterprise settings page.",
          survey_questions: survey_questions
        )) %>
      <% else %>
        <p class="mb-2 h3">Oops!</p>

        <p class="mb-4">
          Looks like you are neither an owner nor part of an Enterprise.
          Please create or join an Enterprise and return to this page to join the waitlist.
        </p>

        <%= render(Site::ButtonComponent.new(
          role: :button,
          scheme: :muted,
          url: "https://github.co/copilot-enterprise-update-signup",
          text: "Get started with GitHub #{Copilot::ENTERPRISE_PRODUCT_NAME}",
          arrow: false,
          classes: "width-full copilot-waitlist-buy-button"
        )) %>
      <% end %>
    </div>
  </div>
</div>
