<div class="d-flex flex-column flex-lg-row">

  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-enterprise">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Beta
        </div>
        <p class="lh-condensed copilot-waitlist-header">Sign up for the <%= Copilot::ENTERPRISE_PRODUCT_NAME %> waitlist</p>

        <p class="text-light mt-4 mb-4">
          Admission to the private beta for <%= Copilot::ENTERPRISE_PRODUCT_NAME %> is limited to users with an active
          <%= link_to "GitHub Enterprise", "https://docs.github.com/en/enterprise-cloud@latest/admin/overview/about-enterprise-accounts", class: "Link--inTextBlock" %> subscription.
        </p>
      </div>
    </div>
  </div>
  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <p class="mb-2 h3">Thank you! <%= business_slug %> is now on the waitlist for <%= Copilot::ENTERPRISE_PRODUCT_NAME %></p>

    <p class="mb-4">
      Admission to the private beta for GitHub <%= Copilot::ENTERPRISE_PRODUCT_NAME %> will be limited. You will receive an email if you are
      granted access and administrators will be able to manage feature access from the
      <%= link_to "Enterprise settings page", "/settings/enterprises", class: "Link--inTextBlock" %>.
    </p>
  </div>
</div>
