<% page_info title: "Credential authorized to access #{view.credential_authorization.organization.safe_profile_name}" %>

<div class="business-sso text-center">
  <div class="business-sso-panel">
    <div class="position-relative mt-2 mb-3">
      <%= avatar_for view.business, 60, :class => "avatar mb-3" %>

      <h1 class="sso-title m-0">
        Credential authorized to access
        <strong><%= view.credential_authorization.organization.safe_profile_name %></strong>
      </h1>
    </div>

    <p class="color-fg-muted mt-2 mb-4">
      Your <%= view.credential_type %>,
      <%= link_to view.credential_description, view.credential_link, class: "Link--inTextBlock" %>,
      is now authorized to access the
      <strong><%= view.credential_authorization.organization.safe_profile_name %></strong> organization,
      owned by the
      <strong><%= view.business.name %></strong> enterprise.
    </p>

    <%= link_to "Continue", view.return_to, class: "btn btn-primary btn-block" %>
  </div>
</div>
