<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info class: "session-authentication" %>

<% otp = Rails.env.development? ? view.business.external_provider.first_unused_recovery_code : "" %>
<div class="org-sso text-center">

  <% if view.business.saml_sso_enabled? %>
    <% recover_path = idm_saml_recover_enterprise_path(view.business) %>
  <% else %>
    <% recover_path = idm_oidc_recover_enterprise_path(view.business) %>
  <% end %>

  <%= form_tag recover_path do %>
  <div id="login" class="auth-form">

    <%= render "shared/flash" %>

    <div class="auth-form-body mt-3">

      <div class="position-relative mt-2 mb-3">
        <%= avatar_for view.business, 60, class: "avatar mb-3" %>

        <div class="auth-form-header p-0">
          <h1>Skip single sign-on for <strong><%= view.business.name %></strong></h1>
        </div>
      </div>

      <p class="color-fg-muted mt-2 mb-4" id="business-idp-recovery-input-description">
        If your IdP is unavailable enter a recovery code to skip single sign-on.
      </p>

      <dl class="form-group text-left">
        <dt>
          <label for="recovery_code" class="clearfix" id="business-idp-recovery-input-label">
            Recovery code
          </label>
        </dt>
        <dd>
          <%= text_field_tag :recovery_code, "", "aria-labelledby": "business-idp-recovery-input-label",
            "aria-describedby": "business-idp-recovery-input-description", autocomplete: :off,
            autofocus: "autofocus", class: "input-block", value: otp, placeholder: "XXXXX-XXXXX" %>
        </dd>
      </dl>

      <%= render Primer::ButtonComponent.new(scheme: :primary, block: true, "data-disable-with": "Verifying…", type: :submit) do %>Verify<% end %>
    </div>
  <% end %>
  </div>
</div>
