<%= render Primer::Box.new(classes: "Box", mb: 4, **system_arguments) do %>
  <%= render Primer::Box.new(classes: "Box-header", p: 0) do %>
    <%= render Primer::Box.new(classes: "Box-row", display: :flex, align_items: :center) do %>
      <%= render(Primer::Beta::Octicon.new(icon: "shield-lock", height: 32)) %>
      <%= render Primer::Box.new(classes: "Box-title", flex: :auto, ml: 1, pl: 2) do %>
        <%= render Primer::Beta::Text.new do %>
          GitHub Advanced Security
        <% end %>
        <%= render Primer::Beta::Text.new(tag: :div, font_size: :small, color: :muted, font_weight: :normal) do %>
          Find and fix security issues in your code
        <% end %>
      <% end %>
      <%= render Primer::Beta::Link.new(
        mr: show_enabled_status? ? 4 : 3,
        font_size: 6,
        font_weight: :bold,
        href: LEARN_MORE_URL,
        data: analytics_click_attributes(
          category: "GHAS Information",
          action: "click to learn more about ghas",
          label: "location:settings_billing_add_ons"
        )
      ).with_content("Learn more") %>

      <% if show_self_serve_cta? %>
        <%= render Primer::Beta::Button.new(
          size: :small,
          tag: :a,
          href: enterprise_licensing_path(organization&.business, start_advanced_security_trial: true),
          test_selector: "self-serve-trial-cta",
          data: analytics_click_attributes(
            category: "advanced_security_self_serve_trial",
            action: "click_to_start_free_trial",
            label: "location:settings_billing_add_ons")
          ) do %>
            Start Free Trial
        <% end %>
      <% elsif show_request_button? %>
        <%= render Primer::Beta::Button.new(
          scheme: :default,
          tag: :a,
          size: :small,
          href: ghas_trial_signup_path,
          test_selector: "sales-serve-trial-cta",
          data: analytics_click_attributes(
            category: "GHAS Trial request",
            action: "click to go to ghas trial form",
            label: "location:settings_billing_add_ons"
          )
        ).with_content("Start your free trial") %>
      <% elsif show_enabled_status? %>
        <%= render Primer::Beta::Octicon.new(
          icon: :"check-circle",
          color: :muted,
          size: :medium,
          mr: 2
        ) %>
        Enabled
      <% end %>
    <% end %>
  <% end %>

  <%= render Primer::Box.new(classes: "Box-body", p: 0) do %>
    <div class="my-1 p-3">
      <% if ghas_trial_expired? %>
        <div class="d-flex flex-items-center flex-justify-between">
          <span>Your free trial has expired.</span>

          <span>Questions? <a class="Link--inTextBlock" href="<%= ent_contact_url %>">Contact sales</a></span>
        </div>
      <% elsif ghas_trial_enabled? %>
        <div class="d-flex flex-items-center flex-justify-between">
          <span>Your free trial is in progress.</span>

          <span>Questions? <a class="Link--inTextBlock" href="<%= ent_contact_url %>">Contact sales</a></span>
        </div>
      <% else %>
        Build trusted software with end-to-end automated security testing embedded in your native GitHub workflow.
        <ul class="list-style-none">
          <li class="my-1 px-4"><%= render(Primer::Beta::Octicon.new(icon: "check", color: :success, mr: 2, mt: 1, ml: -4)) %>Vulnerability detection</li>
          <li class="my-1 px-4"><%= render(Primer::Beta::Octicon.new(icon: "check", color: :success, mr: 2, mt: 1, ml: -4)) %>Secret leak prevention</li>
          <li class="my-1 px-4"><%= render(Primer::Beta::Octicon.new(icon: "check", color: :success, mr: 2, mt: 1, ml: -4)) %>Jargon-free fix guidance</li>
          <li class="my-1 px-4"><%= render(Primer::Beta::Octicon.new(icon: "check", color: :success, mr: 2, mt: 1, ml: -4)) %>Security posture visibility across your repositories</li>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>
