<% row_id = "ssh-signing-key-#{ssh_key.id}" %>
<li class="Box-row border-bottom<%= " selected-user-key" if selected %>" id="<%= row_id %>">
  <div class="d-flex flex-items-center">
    <div class="Box-row text-center d-flex flex-column">
      <span class="js-user-key-icon">
        <%= primer_octicon(:key, :height => 32) %>
      </span>
      <span class="border d-block f6 mt-1 px-1 rounded color-fg-muted">SSH</span>
    </div>

    <div class="flex-auto">
      <strong class="d-block"><%= ssh_key.title %></strong>
      <span>
        <code style="overflow-wrap: anywhere"><%= ssh_key.fingerprint %></code>
      </span>
      <span class="color-fg-muted d-block">
        <%= key_created_at_description(ssh_key) %>
      </span>
      <span class="color-fg-muted d-block">
        Signing
      </span>
    </div>

    <div>
      <% if !current_user.change_ssh_key_enabled? %>
        <span class="team-label-ldap text-small color-fg-muted"><%= GitHub.auth.name %></span>
      <% else %>
        <%= render Primer::Alpha::Dialog.new(
          title: "Are you sure you want to delete this SSH key?"
        ) do |component| %>
          <% component.with_header(show_divider: true) { "Are you sure you want to delete this SSH key?" } %>
          <% component.with_show_button(ml: 1, scheme: :danger, size: :small, "aria-label": "Delete #{ssh_key.title}") { "Delete" } %>
          <%= component.with_body(pb: 0) do %>
            <p>This action <strong>CANNOT</strong> be undone. This will permanently delete the SSH key and if you’d like to use it in the future, you will need to upload it again.</p>
            <p><strong>Any commits you signed with this key will become unverified after removing it.</strong></p>
          <% end %>
          <%= component.with_footer do %>
             <%= form_tag git_signing_ssh_public_key_path(ssh_key), method: :delete, class: "width-full" do %>
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, block: true, mt: 3) do %>I understand, delete this SSH key<% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
