<% row_id = "ssh-key-#{ssh_key.id}" %>

<li class="Box-row border-bottom<%= " selected-user-key" if selected %>" id="<%= row_id %>">
  <div class="d-flex flex-items-center flex-wrap">
    <div class="Box-row text-center d-flex flex-column">
      <% if !ssh_key.verified? %>
        <% key_class = "color-fg-danger" %>
      <% elsif ssh_key.recent? %>
        <% key_class = "color-fg-success" %>
      <% end %>
      <span class="js-user-key-icon <%= key_class unless key_class.nil? %>">
        <%= primer_octicon(:key, :height => 32) %>
      </span>
      <span class="border d-block f6 mt-1 px-1 rounded color-fg-muted">SSH</span>
    </div>

    <div class="flex-auto">
      <strong class="d-block"><%= ssh_key.title %></strong>
      <span>
        <code style="overflow-wrap: anywhere"><%= ssh_key.fingerprint %></code>
      </span>
      <span class="color-fg-muted d-block">
        <%= key_created_at_description(ssh_key) %>
      </span>
      <span class="color-fg-muted d-block">
        <% if !ssh_key.verified? %>
          <span class="color-fg-danger js-unverified-user-key-notice"><%= ssh_key.unverification_explanation %></span>
        <% else %>
          <span class="<%= "recent-user-key-access" if ssh_key.recent? %>"><%= last_access_description(ssh_key, "key", "tooltipped-se") %></span>
        <% end %>
        <%= " — #{ssh_key.read_only? ? 'Read-only' : 'Read/write'}" %>
      </span>
    </div>

    <div class="overflow-y-auto">
      <% if !current_user.change_ssh_key_enabled? && !ssh_key.repository_key? %>
        <span class="team-label-ldap text-small color-fg-muted"><%= GitHub.auth.name %></span>
      <% else %>
        <% if show_sso_ready_badge? %>
          <%= render(Organizations::CredentialAuthorizations::ConfigureSsoComponent.new(
            credential: ssh_key, src: settings_key_organization_credential_authorizations_path(ssh_key)
          )) %>
        <% end %>

        <%= render Primer::Alpha::Dialog.new(
          title: "Are you sure you want to delete this SSH key?"
          ) do |component| %>
          <% component.with_header(show_divider: true) { "Are you sure you want to delete this SSH key?" } %>
          <% component.with_show_button(ml: 1, scheme: :danger, size: :small, "aria-label": "Delete #{ssh_key.title}") { "Delete" } %>
          <%= component.with_body(pb: 0, tabindex: 0) do %>
            <p>This action <strong>CANNOT</strong> be undone. This will permanently delete the SSH key and if you’d like to use it in the future, you will need to upload it again.</p>
          <% end %>
          <%= component.with_footer do %>
            <%= form_tag resolve_key_path(ssh_key), method: :delete, class: "width-full" do %>
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, block: true, mt: 3) do %>I understand, delete this SSH key<% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if !ssh_key.verified? %>
          <%= form_tag resolve_key_verify_path(ssh_key), :class => "js-verify-ssh-key" do %>
            <%= render Primer::Beta::Button.new(type: :submit, size: :small, scheme: :primary, ml: 1, "data-disable-with": "Verifying…", "aria-label": "Approve #{ssh_key.title}") do %>Approve<% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
