<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Add new SSH key" %>

<%= render layout: "settings/settings" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Add new SSH Key
    <% end %>
  <% end %>
  <%= form_with(url: settings_keys_ssh_key_path, scope: :ssh_key) do |f| %>
    <dl class="form-group">
      <dt><label for="ssh_key_title">Title</label></dt>
      <dd><%= f.text_field :title, :id => "ssh_key_title" %></dd>
    </dl>
    <dl class="form-group">
      <dt><label for="ssh_key_type">Key type</label></dt>
      <dd>
        <%= f.select(:key_type,
          [["Authentication Key", SshKeyForm::AUTHENTICATION_KEY_TYPE], ["Signing Key", SshKeyForm::SIGNING_KEY_TYPE]],
          { selected: SshKeyForm::AUTHENTICATION_KEY_TYPE },
          class: "form-select",
          "aria-label": "Key type",
        ) %>
      </dd>
    </dl>
    <dl class="form-group">
      <dt><label for="ssh_key_key">Key</label></dt>
      <dd><%= f.text_area :key, :id => "ssh_key_key", :class => "key_value form-control", :placeholder => "Begins with " + PublicKey.allowed_algos.map { |a| "'#{a}'" }.to_sentence(last_word_connector: ", or ") %></dd>
    </dl>
    <p class="mb-0">
      <%= render Primer::ButtonComponent.new(
        type: :submit,
        scheme: :primary,
        "data-disable-with": "",
      ) do %>Add SSH key<% end %>
    </p>
  <% end %>
<% end %>
