<% feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : "color-bg-default" %>

<% if !current_user.dismissed_notice?("zero_user_dashboard_get_started") %>
  <article class="js-notice d-flex flex-column width-full py-3">
    <header class="d-flex flex-items-center flex-justify-between">
      <div class="d-flex flex-items-center">
        <span class="circle d-inline-flex p-2 mr-2" style="background-color: var(--bgColor-neutral-muted, var(--color-scale-gray-2));">
          <%= render(Primer::Beta::Octicon.new("mortar-board", color: :subtle)) %>
        </span>
        <h5 class="text-normal color-fg-muted">Get started on GitHub</h5>
      </div>
      <div>
        <details class="details-overlay details-reset position-relative d-flex flex-self-end flex-items-end">
          <summary role="button" aria-label="Why am I seeing this?" aria-haspopup="menu">
            <%= render(Primer::Beta::Octicon.new("kebab-horizontal"), color: :subtle) %>
          </summary>
          <details-menu style="width: 320px" class="dropdown-menu dropdown-menu-sw show-more-popover" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="p-3 f6 color-fg-muted border-bottom" role="presentation">You're seeing this because you haven't used repositories, issues, and pull requests recently.</div>
            <%= form_tag dismiss_notice_path("zero_user_dashboard_get_started"), "data-remote" => true, :class => "mt-2 mr-2 js-notice-dismiss" do %>
              <%= button_tag(type: "submit",
                class: "dropdown-item btn-link no-underline width-full py-3",
                role: "menuitem",
                data: analytics_click_attributes(category: "Zero User Content", action: "click.dismiss_zero_user_content", label: "location:get started"),
                "aria-label": "Remove from dashboard") do %>
                <%= render(Primer::Beta::Octicon.new(:x), "aria-label": "Remove from dashboard", mr: 3) %>
                Remove from dashboard
              <% end %>
            <% end %>
          </details-menu>
        </details>
      </div>
    </header>

    <div class="d-sm-flex d-md-block d-xl-flex gutter-sm-condensed">
      <div class="col-sm-6 col-md-12 col-xl-6">
        <section class="mt-2 border color-border-muted rounded-1 color-shadow-medium height-full overflow-hidden <%=feed_v2_classes%>" aria-label="What is GitHub?">
          <%= render ZeroUser::LinkComponent.new(
              html_class: "d-block position-relative height-full color-bg-accent overflow-hidden hover-grow",
              href: "https://www.youtube.com/watch?v=pBy1zgt0XPc",
              label: "location:get started;target:https://www.youtube.com/watch?v=pBy1zgt0XPc",
            ) do %>
              <img src="<%= image_path "modules/dashboard/onboarding/video-thumbnail.jpg" %>" srcset="<%= image_path "modules/dashboard/onboarding/video-thumbnail-2x.jpg" %> 2x" width="340" height="191" alt="What is GitHub?" class="d-block position-sm-absolute position-md-static position-xl-absolute top-0 left-0 bottom-0 height-full" style="min-width:100%;object-fit:cover;">
              <div class="position-absolute width-full top-0 bottom-0 text-center d-flex flex-column flex-justify-center flex-items-center">
                <span class="d-inline-block circle color-bg-accent-emphasis p-1"><%= render(Primer::Beta::Octicon.new(:play, color: :on_emphasis, size: :medium, display: :block)) %></span>
              </div>
              <span class="h5 position-absolute left-0 bottom-0 color-fg-on-emphasis color-bg-accent-emphasis px-2 py-1 m-3">What is GitHub?</span>
            <% end %>
        </section>
      </div>
      <div class="col-sm-6 col-md-12 col-xl-6">
        <section class="p-3 mt-2 border color-border-muted rounded-1 color-shadow-medium height-full <%=feed_v2_classes%>" aria-label="Try the GitHub flow">
          <div class="d-flex d-xl-block mb-2 mb-xl-0">
            <%= render(Primer::Beta::Octicon.new("git-pull-request", color: :subtle, size: :medium, mr: 2)) %>
            <h5 class="my-xl-2">Follow this exercise to try the GitHub flow</h5>
          </div>

          <p class="color-fg-muted">GitHub's “Hello World” tutorial teaches you essentials, where you create your own repository and learn GitHub's pull request workflow for creating and reviewing code.</p>
          <%= render ZeroUser::LinkComponent.new(
              html_class: "btn btn-sm",
              href: "#{GitHub.help_url}/get-started/quickstart/hello-world",
              label: "location:get started;target:#{GitHub.help_url}/get-started/quickstart/hello-world",
            ) do %>
            Try the GitHub flow
          <% end %>
        </section>
      </div>
    </div>
  </article>
<% end %>
