<% if show_zero_user_dashboard? %>
  <% unless current_user.dismissed_notice?("zero_user_dashboard_get_started") && current_user.dismissed_notice?("zero_user_dashboard_tools") && current_user.dismissed_notice?("zero_user_dashboard_write_code")  %>
    <%= render(Hydro::TrackViewComponent.new(name: "dashboard/zero_user/items")) %>
    <div data-hpc <%= test_selector("zero-user-dashboard") %>>
      <%= render partial: "dashboard/zero_user/write_code" %>
      <%= render partial: "dashboard/zero_user/tools" %>
      <%= render partial: "dashboard/zero_user/get_started" %>
      <% if current_user.feature_enabled?(:nux_explore_repos) %>
        <%= render DashboardFeed::ExploreRepositoriesComponent.new %>
      <% end %>
    </div>
  <% end %>
<% end %>
