<%
  copilot_user = current_copilot_user
  feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : "color-bg-default"
%>

<% if !current_user.dismissed_notice?("zero_user_dashboard_tools") %>
  <article class="js-notice d-flex flex-column width-full py-3">
    <header class="d-flex flex-items-center flex-justify-between">
      <div class="d-flex flex-items-center">
        <span class="circle d-inline-flex p-2 mr-2" style="background-color: var(--bgColor-neutral-muted, var(--color-scale-gray-2));">
          <%= render(Primer::Beta::Octicon.new("tools", color: :subtle)) %>
        </span>
        <h3 class="text-normal color-fg-muted h5">Use tools of the trade</h3>
      </div>
      <div>
        <details class="details-overlay details-reset position-relative d-flex flex-self-end flex-items-end">
          <summary role="button" aria-label="Why am I seeing this?" aria-haspopup="menu">
            <%= render(Primer::Beta::Octicon.new("kebab-horizontal"), color: :subtle) %>
          </summary>
          <details-menu style="width: 320px" class="dropdown-menu dropdown-menu-sw show-more-popover" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="p-3 f6 color-fg-muted border-bottom" role="presentation">You're seeing this because you haven't used repositories, issues, and pull requests recently.</div>
            <%= form_tag dismiss_notice_path("zero_user_dashboard_tools"),
              "data-remote": true,
              role: "menuitem",
              class: "mt-2 mr-2 js-notice-dismiss" do %>
              <%= button_tag(type: "submit",
                class: "dropdown-item btn-link no-underline width-full py-3",
                data: analytics_click_attributes(category: "Zero User Content", action: "click.dismiss_zero_user_content", label: "location:tools"),
                "aria-label": "Remove from dashboard") do %>
                <%= render(Primer::Beta::Octicon.new(:x), "aria-label": "Remove from dashboard", mr: 3) %>
                Remove from dashboard
              <% end %>
            <% end %>
          </details-menu>
        </details>
      </div>
    </header>

    <div class="d-sm-flex d-md-block d-xl-flex gutter-sm-condensed">
      <% if current_user.desktop_app_enabled? %>
        <div class="col-sm-6 col-md-12 col-xl-6">
          <section class="p-3 mt-2 border color-border-muted rounded-1 color-shadow-medium height-full <%=feed_v2_classes%>" aria-label="Write code in your web browser">
            <h4 class="mb-2 h5">Write code in your web browser</h4>
            <div class="d-flex gutter-condensed my-1">
              <div class="col-2">
                <img src="<%= image_path "modules/codespaces/github-vscode-logo-light.svg" %>" alt="github.dev" class="d-block width-full mt-1">
              </div>
              <div class="col-10">
                <p class="color-fg-muted mb-0">
                  Use
                   <%= render ZeroUser::LinkComponent.new(
                    href: "https://docs.github.com/codespaces/the-githubdev-web-based-editor",
                    label: "location:tools;target:https://docs.github.com/codespaces/the-githubdev-web-based-editor",
                  ) do %>
                    the github.dev web-based editor
                  <% end %>
                   from your repository or pull request to create and commit changes.
                </p>
              </div>
            </div>
          </section>
        </div>
      <% else %>
        <div class="col-sm-6 col-md-12 col-xl-6">
          <section class="p-3 mt-2 border color-border-muted rounded-1 color-shadow-medium height-full <%=feed_v2_classes%>" aria-label="Simplify your development workflow with a GUI">
            <h4 class="mb-2 h5">Simplify your development workflow with a GUI</h4>
            <div class="d-flex gutter-condensed my-1">
              <div class="col-2">
                <img src="<%= image_path "modules/dashboard/onboarding/gh-desktop.png" %>" alt="GitHub Desktop" class="d-block width-full mt-1">
              </div>
              <div class="col-10">
                <p class="color-fg-muted mb-0">
                  <%= render ZeroUser::LinkComponent.new(
                    href: "https://desktop.github.com/",
                    label: "location:tools;target:https://desktop.github.com/",
                  ) do %>
                    Install GitHub Desktop
                  <% end %> to visualize, commit, and push changes without ever touching the command line.
                </p>
              </div>
            </div>
          </section>
        </div>
      <% end %>

      <% if copilot_user_has_signed_up? %>
        <div class="col-sm-6 col-md-12 col-xl-6">
          <section class="p-3 mt-2 border color-border-muted rounded-1 color-shadow-medium height-full <%=feed_v2_classes%>" aria-label="Manage projects for developers">
            <h4 class="mb-2 h5">Manage projects for developers</h4>
            <div class="d-flex gutter-condensed my-1">
              <div class="col-2">
                <div class="marketplace-product-callout">
                  <span class="branch-action-item-icon completeness-indicator completeness-indicator-success float-none mr-3 ml-0" style="width:40px;height:40px;">
                    <%= render(Primer::Beta::Octicon.new("table", size: :medium)) %>
                  </span>
                </div>
              </div>
              <div class="col-10 color-fg-muted">
                <%= form_for :memex_project, url: create_user_project_beta_path(current_user, type: "new"), method: :post, "data-turbo": false, html: { class: "d-inline" } do |f| %>
                  <%= hidden_field_tag :action, "create" %>
                  <%= f.hidden_field :title, value: MemexProject.default_user_title(current_user) %>
                  <%= render(Primer::Beta::Button.new(
                    type: :submit,
                    classes: "btn-link",
                    data: analytics_click_attributes(category: "Zero User Content", action: "click.create_user_project", label: "location:write code;target:create project"),
                  )) do %>
                    Start using project tables
                  <% end %>
                <% end %> to create issues, break them into tasks, track relationships, and add custom fields.
              </div>
            </div>
          </section>
        </div>
      <% else %>
        <div class="col-sm-6 col-md-12 col-xl-6">
          <section class="p-3 mt-2 border color-border-muted rounded-1 color-shadow-medium height-full <%=feed_v2_classes%>" aria-label="Get AI-based coding suggestions">
            <h4 class="mb-2 h5">Get AI-based coding suggestions</h4>
            <div class="d-flex gutter-condensed my-1">
              <div class="col-2">
                <%= render(Primer::Beta::Octicon.new(:copilot, size: :medium, mb: 3, style: "width: 42px; height: 42px;")) %>
              </div>
              <div class="col-10">
                <p class="color-fg-muted mb-0">
                  <% if current_user&.organizations&.empty? %>
                    <%= render ZeroUser::LinkComponent.new(
                      href: copilot_signup_path,
                      label: "location:tools;target:#{copilot_signup_path}",
                    ) do %>
                      Try GitHub Copilot<% unless copilot_user_is_technical_preview_user? %> free for <%= Copilot.free_trial_length %> days<% end %>,
                    <% end %> which suggests entire functions in real time, right from your editor.
                  <% else %>
                    GitHub Copilot suggests entire functions in real time, right from your editor.
                    <%= render ZeroUser::LinkComponent.new(
                      href: copilot_settings_path,
                      label: "location:tools;target:#{copilot_settings_path}",
                    ) do %>
                      Try Copilot<% unless copilot_user_is_technical_preview_user? %> free for <%= Copilot.free_trial_length %> days<% end %>  or
                      access it from an organization.
                    <% end %>
                  <% end %>
                </p>
              </div>
            </div>
          </section>
        </div>
      <% end %>
    </div>
  </article>
<% end %>
