<% feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : "color-bg-default" %>

<% if !current_user.dismissed_notice?("zero_user_dashboard_write_code") %>
  <article class="js-notice d-flex flex-column width-full py-3">
    <header class="d-flex flex-items-center flex-justify-between">
      <div class="d-flex flex-items-center">
        <span class="circle d-inline-flex p-2 mr-2" style="background-color: var(--bgColor-neutral-muted, var(--color-scale-gray-2));">
          <%= render(Primer::Beta::Octicon.new("code", color: :subtle)) %>
        </span>
        <h3 class="text-normal color-fg-muted h5">Start writing code</h3>
      </div>
      <div>
        <details class="details-overlay details-reset position-relative d-flex flex-self-end flex-items-end">
          <summary role="button" aria-label="Why am I seeing this?" aria-haspopup="menu">
            <%= render(Primer::Beta::Octicon.new("kebab-horizontal"), color: :subtle) %>
          </summary>
          <details-menu style="width: 320px" class="dropdown-menu dropdown-menu-sw show-more-popover" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="p-3 f6 color-fg-muted border-bottom" role="presentation">You're seeing this because you haven't used repositories, issues, and pull requests recently.</div>
            <%= form_tag dismiss_notice_path("zero_user_dashboard_write_code"), "data-remote" => true, :class => "mt-2 mr-2 js-notice-dismiss" do %>
              <%= button_tag(
                type: "submit",
                class: "dropdown-item btn-link no-underline width-full py-3",
                role: "menuitem",
                data: analytics_click_attributes(category: "Zero User Content", action: "click.dismiss_zero_user_content", label: "location:write code"),
                "aria-label": "Remove from dashboard"
              ) do %>
                <%= render(Primer::Beta::Octicon.new(:x), "aria-label": "Remove from dashboard", mr: 3) %>
                Remove from dashboard
              <% end %>
            <% end %>
          </details-menu>
        </details>
      </div>
    </header>

    <div class="d-sm-flex d-md-block d-xl-flex gutter-sm-condensed">
      <div class="col-sm-6 col-md-12 col-xl-6">
        <section class="p-3 mt-2 border color-border-muted rounded-1 color-shadow-medium height-full <%=feed_v2_classes%>" aria-label="Start a new repository">
          <h4 class="mb-2 h5" <%= test_selector("dashboard-new-repo") %>>Start a new repository for <%= current_user.display_login %></h4>
          <p class="color-fg-muted">A repository contains all of your project's files, revision history, and collaborator discussion.</p>
          <%= primer_form_with(url: repositories_path, method: :post) do |f| %>
            <%= render(Dashboard::NewRepositoryForm.new(
              f,
              user: current_user,
              validation_path: repository_check_name_path(owner: current_user.display_login, margin: true),
              return_to_on_error: return_to_path,
              analytics_on_submit: analytics_click_attributes(
                category: "Zero User Content",
                action: "click.cta_create_new_repository",
                label: "location:write code"
              ),
            )) %>
          <% end %>
        </section>
      </div>

      <% if current_user.has_profile_readme? %>
        <div class="col-sm-6 col-md-12 col-xl-6">
          <section class="p-3 mt-2 border color-border-muted rounded-1 color-shadow-medium height-full <%=feed_v2_classes%>" aria-label="Repositories that need your help">
            <h5>Repositories that need your help</h5>

            <% Topic.find_or_build_by_name('good-first-issue').repositories.first(3).each do |repository| %>
              <article class="my-3">
                <div class="d-flex flex-auto">
                  <span class="margin-top:4px">
                    <%= render Primer::Beta::Octicon.new(icon: "repo", color: :muted, mr: 2) %>
                  </span>

                  <h4 class="f5 color-fg-muted text-normal lh-condensed">
                    <%= render(Primer::Beta::Link.new(
                      href: user_path(repository.owner),
                      data: analytics_click_attributes(category: "Zero User Content", action: "click.zero_user_content", label: "location:write code;target:good first issue repo owner"),
                    )) do %>
                      <%= repository.owner.display_login %>
                    <% end %>
                    /
                    <%= render(Primer::Beta::Link.new(
                      font_weight: :bold,
                      data: analytics_click_attributes(category: "Zero User Content", action: "click.zero_user_content", label: "location:write code;target:good first issue repo"),
                      href: repository_path(repository),
                    )) do %>
                      <%= repository.name %>
                    <% end %>
                  </h4>
                </div>
                <p class="f6 color-fg-subtle mb-0"><%= repository.description %></p>
              </article>
            <% end %>

            <%= render ZeroUser::LinkComponent.new(
              html_class: "btn btn-sm",
              href: "/topics/good-first-issue",
              label: "location:write code;target:/topics/good-first-issue",
            ) do %>
              See more repos with good first issues
            <% end %>
          </section>
        </div>
      <% else %>
        <div class="col-sm-6 col-md-12 col-xl-6">
          <section class="p-3 mt-2 border color-border-muted rounded-1 color-shadow-medium height-full <%=feed_v2_classes%>" aria-label="Introduce yourself with a profile README">
            <h4 class="mb-2 h5">Introduce yourself with a profile README</h4>
            <p class="color-fg-muted">Share information about yourself by creating a profile README, which appears at the top of your profile page.</p>

            <div class="mt-3">
              <%= render Dashboard::ProfileReadmeZeroComponent.new %>
            </div>
          </section>
        </div>
      <% end %>
    </div>
  </article>
<% end %>
