<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  transfer_filter_limit = Stafftools::Sponsors::Members::StripeConnectAccounts::TransfersPreviewPartialsController::TRANSFERS_FILTER_LIMIT

  transfers_preview_path = stafftools_sponsors_member_stripe_connect_account_transfers_preview_partial_path(
    sponsors_listing.sponsorable_login,
    stripe_account,
    page: params[:page],
    starting_after: params[:starting_after],
    ending_before: params[:ending_before],
    paginate: 1,
    sponsor: params[:sponsor]
  )
  match_reversals_path = stafftools_sponsors_member_stripe_connect_account_transfer_match_reversals_path(
    sponsors_listing.sponsorable_login,
    stripe_account,
  )
%>

<%= render layout: "stafftools/sponsors/members/layout", locals: { sponsors_listing: sponsors_listing } do %>
  <div class="mb-2">
    <% if current_page == 1 %>
      <div class="Box mb-4">
        <%= render Stafftools::Sponsors::Members::Transfers::TransferFormComponent.new(
          sponsorable_login: sponsors_listing.sponsorable_login,
          stripe_account: stripe_account,
        ) %>

        <div class="Box-row">
          <%= form_tag match_reversals_path, method: :post, class: "d-flex flex-items-center" do %>
            <div class="flex-auto">
              <strong>Reverse a match</strong>
              <div class="text-small color-fg-muted mb-2">
                Know the transaction you wish to reverse match for?
              </div>
              <div class="d-flex flex-items-center text-small">
                <div>
                  <%= label_tag "stripe_transfer_id", "Transfer ID:" %>
                  <%= text_field_tag "stripe_transfer_id", nil, class: "form-control ml-1 input-sm", placeholder: "e.g., tr_1GcyEBEQsq43iHhXH3NvZKdd", required: true, style: "width: 21.25em" %>
                </div>

                <div class="ml-4 d-flex flex-items-center">
                  <%= label_tag "match_amount_to_reverse", "Reversal amount:" %>
                  <div class="input-group ml-1">
                    <span class="input-group-button pr-1 color-fg-subtle text-bold">$</span>
                    <%= text_field_tag "match_amount_to_reverse", nil, class: "form-control input-sm", placeholder: "Dollar amount", required: true, style: "width: 9.25em" %>
                    <span class="input-group-button pl-1 color-fg-subtle text-bold">USD</span>
                  </div>
                </div>
              </div>
            </div>

            <%= render Primer::ButtonComponent.new(
              type: :submit,
              variant: :small,
              "data-disable-invalid": "",
            ).with_content("Reverse match") %>
          <% end %>
        </div>
      </div>
    <% end %>

    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        Stripe transfers
      <% end %>
      <% component.with_actions(font_size: :small, color: :muted) do %>
        Missing a transfer? Try looking at the
        <a class="Link--inTextBlock" href="<%= Billing::StripeConnect::Account.stripe_transfer_failure_logs_url %>" target="_blank" rel="noopener noreferrer">Stripe failure logs <%= render Primer::Beta::Octicon.new(icon: "link-external") %></a>
      <% end %>
    <% end %>

    <div class="my-3 d-flex flex-items-center">
      <%= form_tag transfers_preview_path,
        method: :get, "data-autosearch-results-container" => "transfers-list",
        class: "subnav-search ml-0 flex-auto" do %>
        <div class="auto-search-group">
          <input class="form-control subnav-search-input input-contrast auto-search-input width-full"
            type="text" name="sponsor" value="<%= params[:sponsor] %>"
            placeholder="Filter by sponsor username" aria-label="Filter by sponsor username…" autocomplete="off"
            data-throttled-autosubmit>
          <%= render Primer::Beta::Octicon.new(icon: "search") %>
          <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
        </div>
      <% end %>
      <p class="note ml-3 text-italic">
        * Only the <%= transfer_filter_limit %> most recent <%= "transfer".pluralize(transfer_filter_limit) %>
      </p>
    </div>

    <div id="transfers-list">
      <include-fragment src="<%= transfers_preview_path %> ">
        <%= render(Primer::Beta::Spinner.new(display: :block, my: 3, mx: :auto)) %>
      </include-fragment>
    </div>
  </div>
<% end %>
