<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<h2>Cancel GitHub Advanced Security</h2>
<%= render(Primer::Beta::Flash.new(scheme: :warning, icon: "alert", mt: 2, mb: 2)) do %>
  Are you sure you want to cancel GitHub Advanced Security?
<% end %>
<p class="mt-2">You will lose access to these benefits:</p>
<ul class="list-style-none">
  <li class="mb-2">
    <%= render(Primer::Beta::Octicon.new(icon: "x", size: :small, color: :danger, alt: "Removed feature")) %>
    See security issues as part of your code review process.
  </li>

  <li class="mb-2">
    <%= render(Primer::Beta::Octicon.new(icon: "x", size: :small, color: :danger, alt: "Removed feature")) %>
    Prevent secrets being committed as code.
  </li>

  <li class="mb-2">
    <%= render(Primer::Beta::Octicon.new(icon: "x", size: :small, color: :danger, alt: "Removed feature")) %>
    Create queries to find and prevent variants of new security concerns.
  </li>
</ul>

<p>
  If cancelled, your access to GitHub Advanced Security will expire on <%= expiration_date %>. You will not be billed going forward.
</p>
