<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%= form_tag form_action, :class => "mt-4 js-add-user-form js-remote-submit", :method => :post, :role => "search", :"aria-label" => "Block user" do %>
  <label for="search-user">Search by username, full name or email address
    <a href="<%= help_url %>" class="tooltipped tooltipped-s color-fg-muted" aria-label="Learn more about blocking a user"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
      <%= primer_octicon(:info) %>
    </a>
  </label>
  <% if current_organization %>
    <%= prerelease_badge :time_limited_block,
          public_name: "time-limited blocking",
          external_feedback_url: "https://github.com/maintainers/early-access-feedback/issues/159",
          internal_feedback_url: "https://github.com/github/ce-community-and-safety/issues/486",
          additional_classes: "float-right"
    %>
  <% end %>
  <div class="mt-2 clearfix">
    <div class="col-10 float-left pr-2 input-group auto-search-group">
      <auto-complete src="<%= suggestions_url %>" class="d-block position-relative js-add-user-completer" for="block-user-complete-results">
        <input
          type="text"
          name="login"
          id="search-user"
          class="form-control auto-search-input js-add-blocked-user-field"
          autofocus
          value="<%= display_login %>">
          <ul id="block-user-complete-results" class="autocomplete-results"></ul>
        </auto-complete>
        <%= primer_octicon(:person) %>
        <% if current_organization %>
         <span class="input-group-button">
           <details class="position-relative details-reset details-overlay select-menu">
             <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
               Block options
             <% end %>
             <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" aria-label="Block options"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
               <div class="select-menu-header">
                 <span class="select-menu-title">Block options</span>
               </div>
               <div class="select-menu-list">
                 <label class="select-menu-item"
                        tabindex="0"
                        role="menuitemradio"
                        aria-checked="false">
                   <input type="radio" name="duration" value="1">
                   <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                   <span class="select-menu-item-text">For 1 day</span>
                 </label>
                 <label class="select-menu-item"
                        tabindex="0"
                        role="menuitemradio"
                        aria-checked="false">
                   <input type="radio" name="duration" value="3">
                   <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                   <span class="select-menu-item-text">For 3 days</span>
                 </label>
                 <label class="select-menu-item"
                        tabindex="0"
                        role="menuitemradio"
                        aria-checked="false">
                   <input type="radio" name="duration" value="7">
                   <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                   <span class="select-menu-item-text">For 7 days</span>
                 </label>
                 <label class="select-menu-item"
                        tabindex="0"
                        role="menuitemradio"
                        aria-checked="false">
                   <input type="radio" name="duration" value="30">
                   <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                   <span class="select-menu-item-text">For 30 days</span>
                 </label>
                 <label class="select-menu-item"
                        tabindex="0"
                        role="menuitemradio"
                        aria-checked="false">
                   <input type="radio" name="duration" value="0" checked>
                   <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                   <span class="select-menu-item-text">Until I unblock them</span>
                 </label>
               </div>
             </details-menu>
           </details>
         </span>
       </div>
       <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, float: :left, col: 2, classes: "js-add-new-user") do %>Block user<% end %>
     <% else %>
         <span class="input-group-button">
           <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, classes: "js-add-new-user") do %>Block user<% end %>
         </span>
       </div>
     <% end %>
    </div><%# erblint:disable ProperTagNesting %>
  <% end %>
