<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<% user = user_ignore.ignored %>
<li class="Box-row">
  <a class="no-underline" href="<%= user_path(user) %>">
    <%= avatar_for user, 28, class: "avatar v-align-middle" %>
    <%= user.display_login %>
  </a>

  <%= form_tag(
    current_organization ? organization_settings_blocked_user_path(
      current_organization,
      login: user.display_login,
    ) : settings_blocked_user_path(user.display_login),
    method: :delete,
    class: ["inline-form float-right", !current_organization => "v-align-middle"],
  ) do %>
    <input class="btn btn-sm" type="submit" value="Unblock">
  <% end %>

  <%= render IgnoredUsers::NoteComponent.new(
    note: user_ignore.note,
    target_user_login: user.display_login,
    current_organization: current_organization,
  ) %>

  <% if user_ignore.expires_at %>
    <div class="text-small color-fg-danger text-bold float-right m-1 pr-1">
      <span
        class="tooltipped tooltipped-s"
        aria-label="Ends on <%= user_ignore.expires_at.strftime("%b %d, %Y at %I:%M %p %Z") %>"
      ><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
        <%= primer_octicon(:clock, mx: 1) %>
        Blocked for
        <%= distance_of_time_in_words_to_now(user_ignore.expires_at) %>
      </span>
    </div>
  <% end %>

  <% if user_ignore.note.present? %>
    <div class="text-small color-fg-danger text-bold my-3 pr-1">
      Note:
      <span class="note color-fg-danger">
        <%= GitHub::Goomba::MarkdownPipeline.to_html(user_ignore.note) %>
      </span>
    </div>
  <% end %>
</li>
