<% page_info title: "Blocked users", selected_link: :block_users %>

<% content = capture do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Block a user<% end %>
  <% end %>

  <div id="blocked-user-list">

    <% if current_organization %>
      <p class="h5">Blocking a user prevents the following on all your repositories:
        <ul class="list-style-none">
            <li><%= primer_octicon(:x, mr: 2, color: :danger) %> opening or commenting on issues or pull requests</li>
            <li><%= primer_octicon(:x, mr: 2, color: :danger) %> starring, forking, or watching</li>
            <li><%= primer_octicon(:x, mr: 2, color: :danger) %> adding or editing wiki pages</li>
        </ul>
      </p>
    <% else %>
      <p class="h5">Blocking a user prevents the following on all your repositories:
        <ul class="list-style-none">
            <li><%= primer_octicon(:x, mr: 2, color: :danger) %> opening or commenting on issues or pull requests</li>
            <li><%= primer_octicon(:x, mr: 2, color: :danger) %> starring, forking, or watching</li>
            <li><%= primer_octicon(:x, mr: 2, color: :danger) %> adding or editing wiki pages</li>
        </ul>
      </p>
      <p class="h5">Additionally, blocked users are not able to:
        <ul class="list-style-none">
            <li><%= primer_octicon(:x, mr: 2, color: :danger) %> invite you as a collaborator to their repositories</li>
            <li><%= primer_octicon(:x, mr: 2, color: :danger) %> follow your account’s public activity</li>
            <li><%= primer_octicon(:x, mr: 2, color: :danger) %> send you notifications by @mentioning your username in public repositories</li>
        </ul>
      </p>
    <% end %>

    <% if current_organization %>
      <%= render "settings/blocked_users/add_form", {
          form_action: organization_settings_blocked_users_path(current_organization),
          suggestions_url: organization_settings_blocked_users_suggestions_path(current_organization),
          display_login: '',
          help_url: "#{GitHub.help_url}/articles/blocking-a-user-from-your-organization",
        }
      %>
    <% else %>
      <%= render "settings/blocked_users/add_form", {
          form_action: settings_blocked_users_path,
          suggestions_url: settings_blocked_users_suggestions_path,
          display_login: display_login,
          help_url: "#{GitHub.help_url}/articles/blocking-a-user-from-your-personal-account",
        }
      %>
    <% end %>

  </div>

  <%= render Primer::Beta::Subhead.new(spacious: true, hide_border: true) do |component| %>
    <% component.with_heading(tag: :h2) do %>Blocked users<% end %>
  <% end %>

  <div class="Box">
    <%= render partial: "settings/blocked_users/list" %>
  </div>

  <% unless current_organization %>
    <%= form_for(
      interaction_setting,
      url: settings_interaction_path,
      method: :put,
      data: { autosubmit: true },
    ) do |f| %>
      <div class="form-checkbox">
        <%= f.label :show_blocked_contributors_warning do %>
          <%= f.check_box :show_blocked_contributors_warning, {
            :"aria-describedby" => "contributor-warning-note",
          } %>
          Warn me when a blocked user is a prior contributor to a repository
        <% end %>

        <p class="note" id="contributor-warning-note">
          On repositories you haven’t contributed to yet, we’ll warn you when a user you’ve blocked has previously made contributions.
        </p>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if current_organization %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "settings/settings" do %>
    <%= content %>
  <% end %>
<% end %>
