<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= form_for(feature, url: url, method: method) do |f| %>
  <dl class="form-group mt-0<%= " errored" if field_has_errors?(feature, :public_name) %>">
    <dt><%= f.label :public_name %></dt>
    <dd><%= f.text_field :public_name, class: "form-control", placeholder: "Dashboard Up Next" %></dd>
    <% if field_has_errors?(feature, :public_name) %><dd class="error"><%= error_for(feature, :public_name) %></dd><% end %>
  </dl>

  <dl class="form-group<%= " errored" if field_has_errors?(feature, :slug) %>">
    <dt><%= f.label :slug %></dt>
    <dd>
      <%= f.text_field :slug, class: "form-control", placeholder: "dashboard_next" %>
      <p class="note">The slug is how you will reference this feature in code. Keep that in mind if you decide you want to change it later.</p>
    </dd>
    <% if field_has_errors?(feature, :slug) %><dd class="error"><%= error_for(feature, :slug) %></dd><% end %>
  </dl>

  <div class="form-group<%= " errored" if field_has_errors?(feature, :flipper_feature) %>">
    <%= render Primer::Alpha::AutoComplete.new(
      label_text: "Flipper feature",
      src: devtools_feature_flags_autocomplete_path,
      list_id: "feature-flags-autocomplete",
      input_id: "feature_flipper_feature",
      input_name: "flipper_feature",
      classes: "auto-search-group"
    ) do |c| %>
      <% c.with_input(
        placeholder: "dashboard_up_next",
        value: feature.flipper_feature&.name,
        "aria-describedby": "flipper_feature_note",
      ) %>
    <% end %>
    <p class="note" id="flipper_feature_note">By setting this field, this feature will be displayed in the feature preview menu.</p>
    <% if field_has_errors?(feature, :flipper_feature) %><p class="error"><%= error_for(feature, :flipper_feature) %></p><% end %>
  </div>

  <dl class="form-group<%= " errored" if field_has_errors?(feature, :feedback_link) %>">
    <dt><%= f.label :feedback_link %></dt>
    <dd>
      <%= f.text_field :feedback_link, class: "form-control", value: feature.feedback_link || Feature.default_feedback_link %>
      <p class="note">This link will be displayed in the feature preview menu.</p>
    </dd>
    <% if field_has_errors?(feature, :feedback_link) %><dd class="error"><%= error_for(feature, :feedback_link) %></dd><% end %>
  </dl>

  <dl class="form-group">
    <dt><%= f.label :documentation_link %></dt>
    <dd>
      <%= f.text_field :documentation_link, class: "form-control", placeholder: "#{GitHub.help_url}/articles/about-dashboard-up-next" %>
      <p class="note">This link will be displayed in the feature preview menu.</p>
    </dd>
  </dl>

  <dl class="form-group">
    <dt><%= f.label :image_link %></dt>
    <dd>
      <%= f.text_field :image_link, class: "form-control", placeholder: "#{GitHub.help_url}/assets/images/help/dashboard/up-next.png" %>
      <p class="note">This image will be displayed in the feature preview menu.</p>
    </dd>
  </dl>

  <div class="form-checkbox">
    <label>
      <%= f.check_box :enrolled_by_default %>
      Enrolled by default
    </label>
  </div>

  <dl class="form-group">
    <dt><%= f.label :description %></dt>
    <dd>
      <%= f.text_area :description, class: "form-control" %>
      <p class="note">The description will be displayed in the feature preview menu.</p>
    </dd>
  </dl>

  <div class="form-actions">
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>Save Toggleable Feature<% end %>
    <a href="<%= devtools_toggleable_features_path %>" class="btn">Cancel</a>
  </div>
<% end %>
