<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info title: "Toggleable Features", selected_link: :toggleable_features %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_toggleable_features_path %>">Toggleable Features</a>
<% end %>

<div class="Box">
  <div class="Box-header d-flex">
    <div>
      A toggleable feature allows users to toggle a feature on and off themselves. <a class="Link--inTextBlock" href="https://thehub.github.com/engineering/development-and-ops/dotcom/features/feature-preview">Read the docs</a> to learn more about this process.
    </div>

    <div>
      <a class="btn btn-primary" href="<%= new_devtools_toggleable_feature_path %>">New Toggleable Feature</a>
    </div>
  </div>
  <ul>
    <% features.each do |feature| %>
      <li class="Box-row">
        <a href="<%= devtools_toggleable_feature_path(feature.slug) %>" class="text-bold"><%= feature.public_name %></a>
        <div class="text-small color-fg-muted" <%= test_selector "feature-description" %>><%= feature.description %></div>
      </li>
    <% end %>
  </ul>
</div>
