<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info title: feature.public_name, selected_link: :toggleable_features %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_toggleable_features_path %>">Toggleable Features</a>
  / <strong><%= feature.public_name %></strong>
<% end %>

<div class="Box">
  <div class="Box-header text-right">
    <a href="<%= edit_devtools_toggleable_feature_path(feature.slug) %>" class="btn btn-primary">Edit</a>
  </div>
  <ul>
    <li class="Box-row">
      <strong>Public name:</strong> <%= feature.public_name %>
    </li>
    <li class="Box-row">
      <strong>Slug:</strong> <%= feature.slug %>
    </li>
    <li class="Box-row">
      <strong>Flipper feature:</strong>
      <% unless feature.flipper_feature.blank? %>
        <a href="<%= devtools_feature_flag_path(feature.flipper_feature.name) %>"><%= feature.flipper_feature.name %></a>
      <% end %>
    </li>
    <li class="Box-row">
      <strong>Feedback link:</strong>
      <a href="<%= feature.feedback_link %>" target="_blank" rel="noopener noreferrer"><%= feature.feedback_link %></a>
    </li>
    <li class="Box-row">
      <strong>Documentation link:</strong>
      <% unless feature.documentation_link.blank? %>
        <a href="<%= feature.documentation_link %>" target="_blank" rel="noopener noreferrer"><%= feature.documentation_link %></a>
      <% end %>
    </li>
    <li class="Box-row">
      <strong>Image link:</strong>
      <% unless feature.image_link.blank? %>
        <a href="<%= feature.image_link %>" target="_blank" rel="noopener noreferrer"><%= feature.image_link %></a>
      <% end %>
    </li>
    <li class="Box-row">
      <strong><%= feature.enrolled_by_default ? 'Enrolled by default': 'Not enrolled by default' %></strong>
    </li>
    <li class="Box-row">
      <strong>Description:</strong>
      <%= render Primer::Beta::Markdown.new(mt: 3, test_selector: "feature-description") do %>
        <%= GitHub::Goomba::MarkdownPipeline.to_html(feature.description) %>
      <% end %>
    </li>
  </ul>
</div>

<div class="mt-5">
  <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
    <% component.with_heading(tag: :h2, danger: true) do %>Danger zone<% end %>
  <% end %>

  <div class="Box Box--danger">
    <div class="Box-row d-flex flex-items-center">
      <div class="flex-auto">
        <strong>Delete toggleable feature</strong>
        <div class="text-small color-fg-muted">
          Deleting the toggleable feature will delete all user enrollments
        </div>
      </div>
      <%= form_for(feature, url: devtools_toggleable_feature_path(feature.slug), method: "delete", html: { class: "inline-form", id: "delete_feature" }) do %>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, "data-confirm": "Are you sure you want to delete #{ feature.public_name }?") do %>Delete<% end %>
      <% end %>
    </div>

    <div class="Box-row d-flex flex-items-center">
      <div class="flex-auto pr-2">
        <strong>Publish feature</strong>
        <div class="text-small color-fg-muted">
          Marking this feature as published will cause the "new feature" indicator to appear for users who haven't seen it in the Feature Preview modal yet.
        </div>
      </div>

      <div class="text-right">
        <% if feature.published_at.nil? %>
          <%= form_for(feature, url: devtools_toggleable_feature_publish_path(feature.slug), method: "post", html: { class: "inline-form", id: "publish_feature" }) do %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, "data-confirm": "Are you sure you want to publish #{ feature.public_name }?") do %>Publish<% end %>
          <% end %>
        <% else %>
          <%= form_for(feature, url: devtools_toggleable_feature_unpublish_path(feature.slug), method: "post", html: { class: "inline-form", id: "publish_feature" }) do %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, "data-confirm": "Are you sure you want to unpublish #{ feature.public_name }?") do %>Unpublish<% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
