<div class="position-relative text-center typegrid overflow-hidden js-font-playground">
  <div style="width: 100vw; font-size: min(10vw, 48px); white-space: nowrap;" class="pt-9 pb-6 position-relative text-expanded text-heavy text-italic text-uppercase d-flex overflow-hidden">
    <div>Use them &nbsp;Flex’em &nbsp;Fork them &nbsp;Use them &nbsp;Flex’em &nbsp;Fork them &nbsp;Use them &nbsp;Flex’em &nbsp;Fork them &nbsp;Use them &nbsp;Flex’em &nbsp;Fork them &nbsp;</div>
  </div>

  <div style="min-height: 100vh" class="position-relative d-flex flex-column flex-justify-center container-xxl mx-auto">
    <div class="position-relative top-0 left-0 right-0 m-auto d-flex flex-justify-center px-2 py-2 col-11" style="accent-color: #fff;">
      <img src="<%= image_path "modules/site/mona-sans/plus.svg" %>" width="20" height="20" alt="" loading="lazy" decoding="async" class="position-absolute top-0 bottom-0 m-auto left-0">
      <img src="<%= image_path "modules/site/mona-sans/plus.svg" %>" width="20" height="20" alt="" loading="lazy" decoding="async" class="position-absolute top-0 bottom-0 m-auto right-0">
      <label class="d-flex flex-items-center" style="gap: 8px;">
        <img src="<%= image_path "modules/site/mona-sans/octoface.svg" %>" width="32" height="32" alt="Mona icon" loading="lazy" decoding="async" class="height-auto position-relative" style="max-width: 9vw;">
        <div class="before-after-toggle position-relative mx-2">
          <input type="checkbox" class="before-after-toggle-checkbox position-absolute top-0 left-0 right-0 bottom-0 color-bg-transparent mona-sans-sandbox-outline" style="outline-offset: 4px !important;">
          <span class="before-after-toggle-knob position-absolute"></span>
        </div>
        <%= primer_octicon(:"hubot", size: :medium) %>
      </label>
    </div>

    <div class="py-8 py-md-12 m-auto height-full lh-condensed js-font-slider-target mona-sans-sandbox position-relative" contentEditable spellcheck="false" style="font-size: min(15vw, 140px); font-weight: 900; font-stretch: 75%; font-variation-settings: 'ital' 10; outline: 0;">
      <%= text %>
    </div>

    <div class="position-relative bottom-0 left-0 right-0 m-auto d-flex flex-column flex-sm-row flex-justify-center px-2 pt-2 pb-8 pb-sm-2 col-11" style="accent-color: #fff; gap: 24px; letter-spacing: 0.2em">
      <img src="<%= image_path "modules/site/mona-sans/plus.svg" %>" width="20" height="20" alt="" loading="lazy" decoding="async" class="position-absolute top-sm-0 bottom-0 m-auto left-0">
      <img src="<%= image_path "modules/site/mona-sans/plus.svg" %>" width="20" height="20" alt="" loading="lazy" decoding="async" class="position-absolute top-sm-0 bottom-0 m-auto right-0">

      <label class="d-flex flex-column flex-sm-row flex-items-center position-relative">
        <p class="f5-mktg font-alt-mktg text-uppercase position-sm-absolute mx-auto mt-sm-n6 left-0 right-0">Weight</p>
        <input type="range" min="200" max="900" step="any" value="900" class="js-font-slider-weight mona-sans-slider col-12 mona-sans-sandbox-outline">
      </label>

      <label class="d-flex flex-column flex-sm-row flex-items-center position-relative">
        <p class="f5-mktg font-alt-mktg text-uppercase position-sm-absolute mx-auto mt-sm-n6 left-0 right-0">Width</p>
        <input type="range" min="75" max="125" step="any" value="75" class="js-font-slider-width mona-sans-slider col-12 mona-sans-sandbox-outline">
      </label>

      <label class="d-flex flex-column flex-sm-row flex-items-center position-relative">
        <p class="f5-mktg font-alt-mktg text-uppercase position-sm-absolute mx-auto mt-sm-n6 left-0 right-0">Slant</p>
        <input type="range" min="0" max="10" step="1" value="10" class="js-font-slider-italics mona-sans-slider col-12 mona-sans-sandbox-outline">
      </label>
    </div>
  </div>

  <div style="width: 100vw; font-size: min(10vw, 48px); white-space: nowrap;" class="pt-6 pb-9 position-relative text-expanded text-heavy text-italic text-uppercase d-flex overflow-hidden">
    <div>Use them &nbsp;Flex’em &nbsp;Fork them &nbsp;Use them &nbsp;Flex’em &nbsp;Fork them &nbsp;Use them &nbsp;Flex’em &nbsp;Fork them &nbsp;Use them &nbsp;Flex’em &nbsp;Fork them &nbsp;</div>
  </div>
</div>
