<div class="d-flex flex-column flex-md-row gutter gutter-spacious mt-md-12 mb-8 mb-md-12 pt-8">
  <div class="col-12 col-md-8 text-medium lh-condensed-ultra" style="font-size: min(15vw, 110px); letter-spacing: -0.02em;">
    <span class="pr-1 pr-sm-7 pr-md-12 d-block">
      Find the right <span class="text-extra-condensed">width</span>, <span class="text-heavy text-condensed">weight</span>, &amp; <span class="text-italic">slant</span> that fits&nbsp;you.
    </span>
  </div>

  <div class="mt-6 col-11 col-sm-8 offset-sm-4 ml-md-0 col-md-4 col-xl-3 f3-mktg z-1 position-relative js-build-in-trigger">
    <div role="img" class="mt-n6 ml-n2 mb-lg-n6" aria-label="Mona mind blown animated emoji.">
      <%= render "site/mona_sans/video", video: { filename: "mind-blown", size: 280 } %>
    </div>
    <p style="margin-bottom: 1em"><a href="https://web.dev/variable-fonts/" class="Link--inTextBlock text-bold m-link color-fg-default no-underline">Variable fonts</a> give you granular control of how fonts are displayed by packaging a set of variable axes into one single font file.</p>

    <p>Mona Sans and Hubot Sans come with three variable axes each: weight (ultra thin to extra heavy), width (condensed to expanded), and slant (regular to italics). By combining these axes freely, you have access to thousands of different looks, and endless of possibilities.</p>
  </div>
</div>

<div class="d-flex flex-wrap gutter gutter-md-spacious pt-md-12 pb-10">
  <img style="top: 128px;" width="480" height="720" class="col-4 mb-3 mb-md-6 height-auto position-relative" src="<%= image_path "modules/site/mona-sans/poster-1.jpg" %>" alt="Poster 1" loading="lazy">
  <img width="480" height="720" class="col-4 mb-3 mb-md-6 height-auto" src="<%= image_path "modules/site/mona-sans/poster-2.jpg" %>" alt="Poster 2" loading="lazy">
  <img style="top: 64px;" width="480" height="720" class="col-4 mb-3 mb-md-6 height-auto position-relative" src="<%= image_path "modules/site/mona-sans/poster-3.jpg" %>" alt="Poster 3" loading="lazy">
  <img style="top: 128px;" width="480" height="720" class="col-4 mb-3 mb-md-6 height-auto position-relative" src="<%= image_path "modules/site/mona-sans/poster-4.jpg" %>" alt="Poster 4" loading="lazy">
  <img width="480" height="720" class="col-4 mb-3 mb-md-6 height-auto" src="<%= image_path "modules/site/mona-sans/poster-5.jpg" %>" alt="Poster 5" loading="lazy">
  <img style="top: 64px;" width="480" height="720" class="col-4 mb-3 mb-md-6 height-auto position-relative" src="<%= image_path "modules/site/mona-sans/poster-6.webp" %>" alt="Poster 6" loading="lazy">
</div>
