<%
  page_meta = {
    title: "Mona Sans & Hubot Sans",
    description: "Two variable, open source fonts from GitHub."
  }

  page_info \
  title: page_meta[:title],
  description: page_meta[:description],
  class: "header-overlay",
  marketing_footer_theme: "dark",
  richweb: {
    title: page_meta[:title],
    url: request.original_url,
    description: page_meta[:description],
    image: image_path("modules/site/social-cards/mona-hubot-sans.png"),
  }
%>

<% content_for :head do %>
  <link rel="preload" href="<%= static_asset_path(mktg_alt_font_path) %>" as="font" type="font/woff2" crossorigin>
<% end %>

<%= render Site::SectionComponent.new(theme: :dark, container: false, padding: false) do %>
  <div class="position-relative z-1 pt-7">
    <div class="mx-auto pt-4 pt-md-8 position-relative z-1">
      <p class="mt-0 mb-7 f3-mktg text-ultra-light text-extra-condensed text-center">TWO VARIABLE, OPEN SOURCE FONTS from GITHUB</p>

      <h1 style="font-size: min(21vw, 350px); line-height: 83%; letter-spacing: -0.01em" class="text-heavy text-center text-uppercase">
        <span class="d-block position-relative z-1" style="font-stretch: 83%">Mona</span>
        <span class="d-block position-relative z-2 lh-condensed-ultra text-extrabold" style="margin-top: -0.7em; margin-bottom: -0.42em; font-size: 0.75em;">
          <span class="position-relative d-inline-block mona-ampersand">
            &
            <span class="position-absolute top-0 left-0 z-n1" style="color: rgba(0,0,0,0); text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.23), 0px 1px 1px rgba(0, 0, 0, 0.35), 0px 6px 14px rgba(0, 0, 0, 0.25);">&</span>
          </span>
        </span>
        <span class="d-block position-relative z-3 font-alt-mktg text-extra-condensed" style="text-shadow: 0 3px 10px rgba(0, 0, 0, 20%);">Hubot</span>
        <span style="font-stretch: 82%" class="d-block text-italic text-heavy font-alt-mktg position-relative left-n1">Sans</span>
      </h1>
    </div>

    <div class="position-relative events-none" style="top: max(-18vw, -460px);">
      <div class="position-relative mx-auto top-10 top-lg-9 js-build-in-trigger" style="max-width: min(648px, 88%);">
        <img style="margin-bottom: max(-8vw, -90px);"
            class="d-block mx-auto width-full height-auto position-relative z-3"
            width="2221"
            height="1638"
            src="<%= image_path "modules/site/mona-sans/mona-hubot.webp" %>"
            alt="Hubot and Mona, holding a font file">
        <img
            style="width: min(56px, 9%); bottom: 25%;"
            class="d-block mx-auto height-auto position-absolute right-0 left-0 z-3 mona-sans-hero-icon js-build-in-item"
            width="112"
            height="139"
            src="<%= image_path "modules/site/mona-sans/mona-sans-icon.png" %>"
            alt="">
        <div style="height: 20%; width: 44%; background: radial-gradient(#69D8E1 35%, rgba(7, 55, 196, 0.8), rgba(7, 55, 196, 0) 70%);filter: blur(32px);mix-blend-mode: hard-light;opacity: 0.6;" class="position-absolute mx-auto bottom-n3 left-0 right-0 z-3"></div>
        <div style="height: 100%; width: 100%; background: radial-gradient(#001760 0%, #1134a400 70%);" class="position-absolute mx-auto top-n12 left-0 right-0 z-2"></div>
      </div>
      <div class="mona-mask position-absolute right-0 m-auto pt-10 pb-8 pl-8 pr-8">
        <div class="mona-planet circle width-full height-full"></div>
      </div>
    </div>
    <div class="mona-planet-bg position-absolute z-n1 top-0 left-0 right-0 bottom-0" style="height: 110%;"></div>
  </div>

  <div class="container-xxl px-3 px-md-5 position-relative z-3">
    <div class="text-center position-relative pb-lg-8 pt-12 pt-md-6 pt-lg-0">
      <h2 class="h3-mktg">
        <span class="m-c">T</span><span class="m-c">w</span><span class="m-c">o</span><span class="m-c">&nbsp</span><span class="m-c">f</span><span class="m-c">i</span><span class="m-c">l</span><span class="m-c">e</span><span class="m-c">s</span><span class="m-c">.</span>
      </h2>
      <h2 class="h3-mktg py-2">
        <span class="m-c">T</span><span class="m-c">h</span><span class="m-c">o</span><span class="m-c">u</span><span class="m-c">s</span><span class="m-c">a</span><span class="m-c">n</span><span class="m-c">d</span><span class="m-c">s</span><span class="m-c">&nbsp;</span><span class="m-c">o</span><span class="m-c">f</span><span class="m-c">&nbsp;</span><span class="m-c">v</span><span class="m-c">a</span><span class="m-c">r</span><span class="m-c">i</span><span class="m-c">a</span><span class="m-c">t</span><span class="m-c">i</span><span class="m-c">o</span><span class="m-c">n</span><span class="m-c">s</span><span class="m-c">.</span>
      </h2>
      <h2 class="h3-mktg">
        <span class="m-c">I</span><span class="m-c">n</span><span class="m-c">f</span><span class="m-c">i</span><span class="m-c">n</span><span class="m-c">i</span><span class="m-c">t</span><span class="m-c">e</span><span class="m-c">&nbsp;</span><span class="m-c">p</span><span class="m-c">o</span><span class="m-c">s</span><span class="m-c">s</span><span class="m-c">i</span><span class="m-c">b</span><span class="m-c">i</span><span class="m-c">l</span><span class="m-c">i</span><span class="m-c">t</span><span class="m-c">i</span><span class="m-c">e</span><span class="m-c">s</span><span class="m-c">.</span>
      </h2>
    </div>
    <%= render "site/mona_sans/mona_overview" %>
    <%= render "site/mona_sans/hubot_overview" %>
  </div>
<% end %>
<%= render Site::SectionComponent.new(theme: :dark, container: false) do %>
  <%= render partial: "site/mona_sans/font_sandbox", locals: { text: "Ship it" } %>
<% end %>
<%= render Site::SectionComponent.new(theme: :dark, size: :xxl, padding: false) do %>
  <%= render "site/mona_sans/showcase" %>
<% end %>
<%= render Site::SectionComponent.new(theme: :dark, container: false, padding: false, classes: "mt-n12") do %>
  <%= render "site/mona_sans/summary_box" %>
<% end %>
<%= render Site::SectionComponent.new(theme: :dark, size: :xxl, classes: "position-relative") do %>
  <%= render "site/mona_sans/open_source" %>
  <%= render "site/mona_sans/contribute" %>
<% end %>
