<% page_info :selected_link => :account_billing %>

<% content_for :nav_sidebar do %>
  <nav class="menu" aria-label="Billing admin navigation">
    <%= link_to billing_stafftools_user_path(this_user), class: "menu-heading" do %>
      <%= primer_octicon(:"credit-card") %>
      Billing
    <% end %>
    <%= selected_link_to("Summary", billing_stafftools_user_path(this_user), highlight: :stafftools_user_billing, class: "menu-item") %>
    <%= selected_link_to stafftools_user_billing_history_path(this_user), class: "menu-item" do %>
      Payment history
      <%= render Primer::Beta::Counter.new(
        count: this_user.billing_transactions.count,
        scheme: :secondary,
      ) %>
    <% end %>
    <% if GitHub.flipper[:receipts_use_zuora_pdf].enabled?(current_user) %>
    <%= selected_link_to stafftools_user_billing_invoices_path(this_user), class: "menu-item" do %>
      Invoices
    <% end %>
    <% end %>
    <%= selected_link_to(stafftools_user_subscription_items_path(this_user), class: "menu-item") do %>
      Subscription items
      <%= render Primer::Beta::Counter.new(
        count: this_user.active_product_uuid_subscription_items.count,
        scheme: :secondary,
      ) %>
    <% end %>
    <%= selected_link_to("Zuora webhooks", stafftools_user_billing_zuora_webhooks_path(this_user), class: "menu-item") %>
  </nav>

  <% if this_user.plan_metered_billing_eligible? %>
    <nav class="menu" aria-labelledby="metered-billing-sidebar-header">
      <div class="menu-heading" id="metered-billing-sidebar-header">
        <%= primer_octicon(:meter) %>
        Metered Billing
      </div>
      <%= selected_link_to("Actions", stafftools_user_metered_billing_actions_path(this_user), class: "menu-item") %>
      <%= selected_link_to("Packages bandwidth", stafftools_user_metered_billing_packages_bandwidth_path(this_user), class: "menu-item") %>
      <%= selected_link_to("Shared storage usage", stafftools_user_metered_billing_shared_storage_usage_path(this_user), class: "menu-item") %>
      <%= selected_link_to("Actions artifact expirations", stafftools_user_metered_billing_actions_artifact_expirations_path(this_user), class: "menu-item") %>
      <%= selected_link_to("Metered usage exports", stafftools_user_metered_exports_path(this_user), class: "menu-item") %>
      <%= selected_link_to("Spending limits", stafftools_user_billing_spending_limits_path(this_user), class: "menu-item") %>
    </nav>
  <% end %>
<% end %>

<%= render template: "layouts/stafftools/user" %>
