<% page_info selected_link: :account_collaboration unless @selected_link %>

<% content_for :nav_sidebar do %>
  <nav class="menu" aria-label="Stafftools">
    <%= selected_link_to(
      "Enterprises & organizations",
      stafftools_user_organization_memberships_path(this_user),
      class: "menu-item",
      highlight: :orgs,
    ) %>
    <%= selected_link_to(
      "Collaborating repositories",
      stafftools_user_repositories_collaborations_path(this_user),
      class: "menu-item",
    ) %>
    <%= selected_link_to(
      "Watched & Ignored repositories",
      stafftools_user_repositories_notification_preferences_path(this_user),
      class: "menu-item",
    ) %>
    <% unless GitHub.enterprise? %>
      <%= selected_link_to(
        "Notifyd subscriptions",
        stafftools_user_repositories_notifyd_notifications_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <%= selected_link_to(
      "Starred repositories",
      stafftools_user_repositories_stars_path(this_user),
      class: "menu-item",
    ) %>
    <%= selected_link_to(
      "Contributing repositories",
      stafftools_user_repositories_contributions_path(this_user),
      class: "menu-item",
    ) %>
    <%= selected_link_to(
      "Recent comments",
      stafftools_user_comments_path(this_user),
      class: "menu-item",
    ) %>
    <% unless GitHub.enterprise? %>
      <%= selected_link_to(
        "Arctic Code Vault Contributions",
        stafftools_user_acv_contributions_path(this_user),
        class: "menu-item",
      ) %>
      <%= selected_link_to(
        "Profile Highlight Contributions",
        stafftools_user_profile_highlight_contributions_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/user" %>
