<% page_info :selected_link => :account_content unless @selected_link %>

<% content_for :nav_sidebar do %>
  <nav class="menu" aria-label="Stafftools">
    <%= selected_link_to(
      "Private repositories",
      stafftools_user_repositories_path(this_user),
      class: "menu-item",
    ) %>
    <%= selected_link_to(
      "Internal repositories",
      stafftools_user_repositories_internal_path(this_user),
      class: "menu-item",
    ) %>
    <%= selected_link_to(
      "Public repositories",
      stafftools_user_repositories_public_path(this_user),
      class: "menu-item",
    ) %>
    <% if GitHub.anonymous_git_access_enabled? %>
      <%= selected_link_to(
        "Anonymous Git access repositories",
        stafftools_user_anonymously_accessible_repositories_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <%= selected_link_to(
      "Disabled repositories",
      stafftools_user_repositories_disabled_path(this_user),
      class: "menu-item",
    ) %>
    <%= selected_link_to(
      "Locked repositories",
      stafftools_user_repositories_locked_path(this_user),
      class: "menu-item",
    ) %>
    <%= selected_link_to(
      "Deleted repositories",
      stafftools_user_repositories_deleted_path(this_user),
      class: "menu-item",
    ) %>
    <% if GitHub.codespaces_enabled? %>
      <%= selected_link_to \
            "Codespaces",
            stafftools_user_codespaces_path(this_user),
            :highlight => :stafftools_user_codespaces,
            :class => "menu-item" %>
    <% end %>
    <% if !GitHub.enterprise? %>
      <%= selected_link_to \
            "Hosted compute networking",
            stafftools_user_hosted_compute_networking_path(this_user),
            class: "menu-item" %>
    <% end %>
    <% if GitHub.copilot_enabled? %>
      <%= selected_link_to \
            "Copilot Settings",
            stafftools_user_copilot_settings_path(this_user),
            :highlight => :stafftools_user_copilot,
            :class => "menu-item" %>
      <% if this_user.is_a?(Organization) %>
        <%= selected_link_to \
              "Copilot Seat Assignments",
              stafftools_user_copilot_seat_assignments_path(this_user),
              :highlight => :stafftools_user_copilot_seat_assignments,
              :class => "menu-item" %>
        <%= selected_link_to \
              "Copilot Seats",
              stafftools_user_copilot_seats_path(this_user),
              :highlight => :stafftools_user_copilot_seats,
              :class => "menu-item" %>
        <%= selected_link_to \
              "Copilot Usage Metrics",
              stafftools_user_copilot_usage_metrics_path(this_user),
              :highlight => :stafftools_user_copilot_usage_metrics,
              :class => "menu-item" %>
      <% end %>
    <% end %>
    <% if GitHub.trust_tiers_enabled? %>
      <%= selected_link_to \
        "Trust Tiers",
        stafftools_user_trust_tiers_path(this_user),
        highlight: :stafftools_user_trust_tiers,
        class: "menu-item" %>
    <% end %>
    <% unless GitHub.enterprise? %>
      <%= selected_link_to(
        "DMCA Takedowns",
        stafftools_user_repositories_dmca_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <% if GitHub.billing_enabled? %>
      <%= selected_link_to \
            "Large file storage",
            stafftools_user_large_file_storage_path(this_user),
            :class => "menu-item" %>
    <% end %>
    <%= selected_link_to \
          "Public gists",
          stafftools_user_gists_path(this_user),
          :highlight => :stafftools_user_gists,
          :class => "menu-item" %>
    <%= selected_link_to \
          "Deleted gists",
          deleted_stafftools_user_gists_path(this_user),
          :class => "menu-item" %>
    <% if GitHub.actions_enabled? && !GitHub.enterprise? %>
      <%= selected_link_to \
            "Actions",
            stafftools_user_actions_path(this_user),
            :class => "menu-item" %>
    <% end %>
    <% if GitHub.pages_enabled? && !GitHub.single_or_multi_tenant_enterprise? %>
      <%= selected_link_to \
            "Soft-Deleted Pages",
            stafftools_user_repositories_pages_path(this_user),
            class: "menu-item" %>
    <% end %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/user" %>
