<% page_info selected_link: :account_admin %>

<% content_for :nav_sidebar do %>
  <nav class="menu" aria-label="Stafftools">
    <%= stafftools_selected_link_to(
      "Overview",
      stafftools_user_overview_path(this_user),
      class: "menu-item",
      highlight: :stafftools_user_overview
    ) %>
    <%= stafftools_selected_link_to(
      "Admin",
      stafftools_user_administrative_tasks_path(this_user),
      class: "menu-item",
    ) %>
    <%= stafftools_selected_link_to(
      "Emails",
      stafftools_user_emails_path(this_user),
      class: "menu-item",
    ) %>
    <%= stafftools_selected_link_to(
      "Avatars",
      stafftools_user_avatars_path(this_user),
      class: "menu-item",
    ) %>
    <% if GitHub.flipper_ui_enabled? %>
      <%= stafftools_selected_link_to(
        "Enabled Feature Flags",
        stafftools_user_enabled_feature_flags_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <% if !GitHub.enterprise? %>
      <%= stafftools_selected_link_to(
        "Azure ExP",
        stafftools_user_azure_exp_path(current_user),
        { class: "menu-item" }.merge(test_selector_data_hash("azure-exp-menu-item")),
      ) %>
    <% end %>
    <% if feature_preview_enabled? %>
      <%= stafftools_selected_link_to(
        "Feature & Beta Enrollments",
        stafftools_user_feature_enrollments_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <%= stafftools_selected_link_to(
      GitHub.user_abuse_mitigation_enabled? ? "Blocked & Followed users" : "Followed users",
      stafftools_user_interactions_path(this_user),
      class: "menu-item",
    ) %>
    <% if GitHub.user_abuse_mitigation_enabled? %>
      <%= stafftools_selected_link_to(
        "Abuse reports",
        stafftools_user_abuse_reports_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <% if !GitHub.enterprise? && stafftools_action_authorized?(
      controller: Stafftools::TradeCompliance::TradeScreeningRecordsController,
      action: :index,
    ) %>
      <%= stafftools_selected_link_to(
        "Trade compliance",
        stafftools_user_trade_compliance_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <%= stafftools_selected_link_to(
      "Search",
      stafftools_user_search_record_path(this_user),
      class: "menu-item",
    ) %>
    <%= stafftools_selected_link_to(
      "Database",
      stafftools_user_database_record_path(this_user),
      class: "menu-item",
    ) %>
    <% if GitHub.rate_limiting_enabled? && !GitHub.enterprise? && this_user.user? %>
      <%= stafftools_selected_link_to(
        "Rate limits",
        stafftools_user_rate_limits_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <%= stafftools_selected_link_to(
      "Retired namespaces",
      stafftools_user_retired_namespaces_path(this_user),
      class: "menu-item",
    ) %>
    <% if !GitHub.enterprise? && stafftools_action_authorized?(
      controller: Stafftools::Users::SuccessorsController,
      action: :index,
    ) %>
      <%= stafftools_selected_link_to(
        "Account Successor",
        stafftools_user_successors_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
    <%= selected_link_to(
      "Scheduled Reminders",
      stafftools_user_reminders_path(this_user),
      class: "menu-item",
    ) %>
    <% unless GitHub.enterprise? %>
      <%= stafftools_selected_link_to(
        "Profile",
        stafftools_user_profile_path(this_user),
        class: "menu-item",
      ) %>
      <%= stafftools_selected_link_to(
        "Achievements",
        stafftools_user_achievements_path(this_user),
        class: "menu-item",
      ) %>
    <% end %>
  </nav>
<% end %>

<%= render template: "layouts/stafftools/user" %>
