<% content_for :nav_sidebar do %>
  <%= render(Primer::Experimental::NavigationList.new(aria: { label: "Personal access token information" }, selected_item_id: selected_link)) do |component| %>
    <% component.with_item(item_id: :general, href: stafftools_user_personal_access_token_path(this_user, current_access)) do %>
      General
    <% end %>

    <% component.with_section(aria: { label: "Active access" }) do |section| %>
      <% section.with_heading do %>
        Active access
      <% end %>

      <% section.with_item(item_id: :organizations, href: stafftools_user_personal_access_token_organizations_path(this_user, current_access)) do |item| %>
        <div class="d-flex flex-items-center">
          <div class="flex-auto"><% item.with_leading_visual_icon(icon: :organization) %> Organizations</div>
          <%= render(Primer::Beta::Counter.new(count: current_access.organization_programmatic_access_grants.count)) %>
        </div>
      <% end %>

      <% section.with_item(item_id: :users, href: stafftools_user_personal_access_token_users_path(this_user, current_access)) do |item| %>
        <div class="d-flex flex-items-center">
          <div class="flex-auto"><% item.with_leading_visual_icon(icon: :people) %> Users</div>
          <%= render(Primer::Beta::Counter.new(count: current_access.user_programmatic_access_grants.count)) %>
        </div>
      <% end %>
    <% end %>

    <% component.with_section(aria: { label: "Pending requests" }) do |section| %>
      <% section.with_heading do %>
        Pending requests
      <% end %>

      <% section.with_item(item_id: :organization_requests, href: requests_stafftools_user_personal_access_token_organizations_path(this_user, current_access)) do |item| %>
        <div class="d-flex flex-items-center">
          <div class="flex-auto"><% item.with_leading_visual_icon(icon: :organization) %> Organizations</div>
          <%= render(Primer::Beta::Counter.new(count: current_access.organization_programmatic_access_grant_requests.count)) %>
        </div>
      <% end %>

      <% section.with_item(item_id: :user_requests, href: requests_stafftools_user_personal_access_token_users_path(this_user, current_access)) do |item| %>
        <div class="d-flex flex-items-center">
          <div class="flex-auto"><% item.with_leading_visual_icon(icon: :people) %> Users</div>
          <%= render(Primer::Beta::Counter.new(count: current_access.user_programmatic_access_grant_requests.count)) %>
        </div>
      <% end %>
    <% end %>

    <% component.with_section(aria: { label: "Back to all personal access tokens" }) do |section| %>
      <% section.with_item(href: stafftools_user_personal_access_tokens_path(this_user)) do %>
        <%= render(Primer::Beta::Text.new(tag: :span, color: :accent)) { "Back to all personal access tokens" } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render template: "layouts/stafftools/user" %>
