<%= render Primer::Alpha::Dialog.new(title: "Embed a link to GitHub Sponsors", size: :large) do |dialog| %>
  <% dialog.with_show_button(
    data: helpers.sponsors_button_hydro_attributes(
      :DASHBOARD_EMBED_IT,
      sponsors_listing.sponsorable_login
      ).merge(test_selector_hash("embed-it-button"))
  ) do |button| %>
    <% button.with_leading_visual_icon(icon: :code) %>
    Embed it
  <% end %>

  <% dialog.with_header(show_divider: true) %>

  <% dialog.with_body do %>
    <div id="clipboard-announcement" class="sr-only" aria-live="assertive" aria-atomic="true"></div>
    <h4 class="mb-1">Embed a Sponsor button</h4>
    <div class="input-group mb-2">
      <input type="text"
        class="form-control input-monospace input-sm"
        data-autoselect
        value="<%= sponsor_button_code_snippet %>"
        aria-label="Code snippet for embedding a Sponsor button"
        readonly
      >
      <div class="input-group-button">
        <%= render Primer::Beta::ClipboardCopy.new(
          value: sponsor_button_code_snippet,
          "aria-label": "Copy sponsor button embed code to clipboard",
          "data-copy-feedback": "Copied!",
          "data-announce-selector": "#clipboard-announcement",
          classes: "btn btn-sm",
          test_selector: "copy-sponsor-button-snippet-button",
          data: helpers.sponsors_button_hydro_attributes(
            :COPY_SPONSOR_BUTTON_SNIPPET,
            sponsors_listing.sponsorable_login
          )
        ) %>
      </div>
    </div>
    <div class="text-mono color-fg-muted text-small mb-2">
      Preview
    </div>
    <iframe
      src="<%= sponsorable_button_url(sponsors_listing.sponsorable_login) %>"
      title="Sponsor <%= sponsors_listing.sponsorable_login %> button"
      height="32"
      width="114"
      style="border: 0; border-radius:6px;"
    >
    </iframe>

    <hr>

    <h4 class="mb-1">Embed a Sponsor card</h4>
    <div class="input-group mb-2">
      <input type="text"
        class="form-control input-monospace input-sm"
        data-autoselect
        value="<%= sponsor_card_code_snippet %>"
        aria-label="Code snippet for embedding a Sponsor card"
        readonly
      >
      <div class="input-group-button">
        <%= render Primer::Beta::ClipboardCopy.new(
          value: sponsor_card_code_snippet,
          "aria-label": "Copy sponsor card embed code to clipboard",
          "data-copy-feedback": "Copied!",
          "data-announce-selector": "#clipboard-announcement",
          classes: "btn btn-sm",
          test_selector: "copy-sponsor-card-snippet-button",
          data: helpers.sponsors_button_hydro_attributes(
            :COPY_SPONSOR_CARD_SNIPPET,
            sponsors_listing.sponsorable_login
          )
        ) %>
      </div>
    </div>
    <div class="text-mono color-fg-muted text-small mb-2">
      Preview
    </div>
    <iframe
      src="<%= sponsorable_card_url(sponsors_listing.sponsorable_login) %>"
      title="Sponsor <%= sponsors_listing.sponsorable_login %> card"
      class="sponsor-card"
    >
    </iframe>
  <% end %>
<% end %>
