<li <%= test_selector("pinnable-item") %> class="css-truncate <%= li_classes %>" <%= li_attributes %>>
  <% checkbox_label = "pinned-item-#{pinnable_item.id}-#{type}#{dialog_location ? "-#{dialog_location}" : ""}"%>
  <input
    type="checkbox" name="pinned_items_id_and_type[]"
    value="<%= "#{pinnable_item.id}-#{type}" %>"
    id="<%= checkbox_label %>"
    class="f5 pinned-item-checkbox m-2 position-absolute"
    data-targets="profile-pins.checkboxes"
    data-action="change:profile-pins#formModified"
    <%= input_attributes %>>
  <label class="pinned-item-name d-flex flex-items-center pl-5 p-1"
    for="<%= checkbox_label %>">
    <%= primer_octicon(octicon_name, mr: 2, classes: "flex-shrink-0", aria: { label: octicon_label }) %>
    <strong class="css-truncate-target width-fit flex-auto" data-filter-item-text>
      <%= truncate(title, length: 50) %>
    </strong>
    <span class="stars no-wrap color-fg-muted">
      <%= social_count(pinnable_item.stargazer_count) %>
      <%= primer_octicon(:star, :"aria-label" => "star".pluralize(pinnable_item.stargazer_count)) %>
    </span>
  </label>
</li>
