<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="form-group-body" data-default-branch="<%= repository_default_branch %>" data-target="create-branch.sourceBranch">
  <input id="source-branch-input" type="hidden" name="branch" value="<%= repository_default_branch %>">
  <details
    id="select-source-branch"
    class="details-reset details-overlay select-menu"
    data-target="create-branch.sourceBranchDetails">
    <%= render Primer::ButtonComponent.new(tag: :summary, classes: "Truncate", title: "Select source branch", display: :inline_flex, align_items: :center, w: :fit, dropdown: true) do %>
      <%= render Primer::Beta::Octicon.new(icon: "git-branch", mr: 2) %>
      <span class="Truncate-text js-selected-branch"><%= repository_default_branch %></span>
    <% end %>
    <div class="create-branch-source-branch">
      <%=
        render "refs/selector",
          title: "Choose a source branch",
          placeholder: "Find a branch",
          item_template_content: render(Branch::CreateBranchListItemComponent.new),
          enclosing_details_id: "select-source-branch",
          hide_tabs: true,
          hide_footer: true,
          current_repository: repository,
          no_match_template_content: render(Branch::SourceBranch::NoMatchComponent.new)
      %>
    </div>
  </details>
</div>
