<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div <%= !show? ? "hidden" : "" %> class="form-group my-0" data-target="create-branch.sourceBranchHeader">
  <template data-target="create-branch.sourceBranchSpinner">
    <%= render Primer::ButtonComponent.new(tag: :summary, title: "Select source branch") do %>
      <%= render Primer::Beta::Spinner.new(size: :small, vertical_align: :text_bottom) %>
    <% end %>
  </template>
  <div class="form-group-header mt-3">
    <label>Branch source</label>
    <% if show_fork_source? %>
      <p class="f6 color-fg-muted mb-0">Choose from this fork or its upstream repository.</p>
    <% end %>
  </div>
  <% if show_fork_source? %>
    <div class="form-group-body mb-2">
    <details class="details-reset details-overlay">
      <%= render Primer::ButtonComponent.new(dropdown: true, tag: :summary, display: :inline_flex, align_items: :center, w: :fit) do %>
        <%= render Primer::Beta::Octicon.new(icon: "repo", mr: 2, display: :inline_block) %>
        <%= render(Primer::Beta::Truncate.new) do |component| %>
          <% component.with_item(data: {target: "create-branch.baseRepoName"}) do %>
            <%= repository.name_with_display_owner %>
          <% end %>
        <% end %>
      <% end %>
      <details-menu class="SelectMenu SelectMenu--hasFilter" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
            <div class="SelectMenu-list" id="repository-menu-list">
              <%= render Branch::TargetRepositoryComponent.new(
                repository_list: [repository, repository.parent],
                query: nil,
                selected_repository: repository,
                current_repository: repository) %>
            </div>
        </div>
      </details-menu>
    </details>
  </div>
  <% end %>
  <%= render Branch::SourceBranch::BranchSelectComponent.new(repository: repository) %>
</div>
