<%# erblint:counter DeprecatedInPrimerCounter 6 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info :title => "Large file storage" %>

<%= render layout: "stafftools/stafftools" do %>

  <div class="boxed-group large-file-storage">
    <h3>Top large file storage consumers</h3>
    <% if @statuses.any? %>
      <div class="boxed-group-inner seamless">
        <table class="boxed-group-table">
          <thead>
            <tr>
              <th></th>
              <th>Account</th>
              <th></th>
              <th>
                <% if params[:sort] == "storage" %>
                  Storage (GB)
                  <%= primer_octicon(:"chevron-down") %>
                <% else %>
                  <%= link_to("Storage (GB)", stafftools_large_file_storage_path(:sort => "storage"), :class => "Link--muted tooltipped tooltipped-s", :"aria-label" => "Click to sort by storage") %>
                <% end %>
              </th>
              <th></th>
              <th>
                <% if %w(bandwidth_up storage).include?(params[:sort]) %>
                  <%= link_to("Bandwidth down (GB)", stafftools_large_file_storage_path, :class => "Link--muted tooltipped tooltipped-s", :"aria-label" => "Click to sort by bandwidth down") %>
                <% else %>
                  Bandwidth down (GB)
                  <%= primer_octicon(:"chevron-down") %>
                <% end %>
              </th>
              <th>
                <% if params[:sort] == "bandwidth_up" %>
                  Bandwidth up (GB)
                  <%= primer_octicon(:"chevron-down") %>
                <% else %>
                  <%= link_to("Bandwidth up (GB)", stafftools_large_file_storage_path(:sort => "bandwidth_up"), :class => "Link--muted tooltipped tooltipped-s", :"aria-label" => "Click to sort by bandwidth up") %>
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @statuses.each do |status| %>
              <tr>
                <td class="git-lfs-state">
                  <% if status.owner.git_lfs_enabled? %>
                    <span class="tooltipped tooltipped-e" aria-label="Git LFS enabled"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                      <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
                    </span>
                  <% else %>
                    <span class="tooltipped tooltipped-e" aria-label="Git LFS disabled"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                      <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
                    </span>
                <% end %>
                </td>
                <td>
                  <b><%= link_to(status.owner.login, stafftools_user_large_file_storage_path(status.owner)) %></b>
                </td>
                <td class="text-right">
                  <% if status.over_storage_quota? || status.over_storage_quota_needs_disabling? %>
                    <span class="tooltipped tooltipped-e" aria-label="Over storage quota"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                      <%= primer_octicon(:database, classes: "over-quota") %>
                    </span>
                  <% elsif status.approaching_storage_quota? %>
                    <span class="tooltipped tooltipped-e" aria-label="At 80% of storage quota"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                      <%= primer_octicon(:database, classes: "close-to-quota") %>
                    </span>
                  <% end %>
                </td>
                <td><code><%= status.storage_usage %> of <%= status.storage_quota.round %></code></td>
                <td class="text-right">
                  <% if status.over_bandwidth_quota? || status.over_bandwidth_quota_needs_disabling? %>
                    <span class="tooltipped tooltipped-e" aria-label="Over bandwidth quota"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                      <%= primer_octicon(:graph, classes: "over-quota") %>
                    </span>
                  <% elsif status.approaching_bandwidth_quota? %>
                    <span class="tooltipped tooltipped-e" aria-label="At 80% of bandwidth quota"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                      <%= primer_octicon(:graph, classes: "close-to-quota") %>
                    </span>
                  <% end %>
                </td>
                <td>
                  <code><%= status.bandwidth_down.round(2) %> of <%= status.bandwidth_quota.round %></code>
                </td>
                <td><code><%= status.bandwidth_up.round(2) %></code></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="boxed-group-inner">
          <p>No external storage usage found.</p>
        </div>
      <% end %>
    </div>
  </div>

  <% if @statuses.any? && @statuses.total_pages > 1 %>
    <div class="paginate-container">
      <%= will_paginate @statuses %>
    </div>
  <% end %>
<% end %>
