<%= render Primer::Beta::BorderBox.new(m: 4, padding: :condensed) do |component| %>
  <% component.with_header do %>
    <h2 class="Box-title">
      <%= title %>
    </h2>
  <% end %>
  <ul>
    <% shortcuts.each do |shortcut| %>
      <% component.with_row(display: :flex, direction: :row) do %>
        <div class="flex-auto"><%= shortcut[:label] %></div>
        <div class="ml-2 no-wrap">
          <% shortcut[:keys].each_with_index do |key, i| %>
            <% key.split(' ').each do |key| %>
              <% full_key_name = accessible_key_name(key) %>
              <kbd>
                <% if full_key_name.present?  %>
                  <span class="sr-only"><%= full_key_name %></span>
                <% end %>
                <span class="<%= "js-modifier-key" unless shortcut[:alwaysCtrl]%>" aria-hidden="<%= full_key_name.present? %>" >
                  <%= key.downcase %>
                </span>
              </kbd>
            <% end %>
            <% if shortcut[:hold] %>
              and click
            <% end %>
            <% if i < shortcut[:keys].length - 1 %>
              <%= shortcut[:join] || Site::KeyboardShortcutsComponent::DEFAULT_SEPARATOR %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </ul>
<% end %>
