<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="mb-2">
  <h3>
    Zuora Webhooks
  </h3>


  <% zuora_account_ids.each do |zuora_account_id| %>
    <small class="d-block" <%= test_selector("account-#{zuora_account_id}") %>>
      <%= link_to("Zuora account (#{zuora_account_id})", "#{GitHub.zuora_host}/apps/CustomerAccount.do?method=view&id=#{zuora_account_id}") %>
    </small>
  <% end %>
</div>

<%= render(Primer::Beta::BorderBox.new) do |box| %>
  <% box.with_body(p: 0) do %>
    <% if webhooks.any? %>
      <table class="stafftools-table">
        <thead>
          <th class="no-wrap billing-table-cell pr-0">Status</th>
          <th class="no-wrap billing-table-cell pr-0">ID</th>
          <th class="no-wrap billing-table-cell pr-0">Kind</th>
          <th class="no-wrap billing-table-cell pr-0">Created</th>
          <th class="no-wrap billing-table-cell pr-0">Processed</th>
          <th class="no-wrap billing-table-cell pr-0">Details</th>
        </thead>

        <% webhooks.each do |webhook| %>
          <tbody class="Details js-details-container border-top" <%= test_selector("webhook-#{webhook.id}") %>>
            <tr>
              <td class="no-wrap tiny">
                <% if webhook.processed? %>
                  <%= primer_octicon(:check, color: :done) %>
                <% elsif webhook.pending? %>
                  <%= primer_octicon(:clock, color: :attention) %>
                <% elsif webhook.ignored? %>
                  <%= primer_octicon(:"diff-ignored", color: :muted) %>
                <% elsif webhook.investigating? %>
                  <%= primer_octicon(:bug, color: :attention) %>
                <% end %>
              </td>
              <td class="no-wrap pr-0">
                <%= webhook.id %>
              </td>
              <td class="no-wrap tiny"><%= webhook.kind.titleize %></td>
              <td class="no-wrap tiny"><%= date_with_time_tooltip webhook.created_at %></td>
              <td class="no-wrap tiny"><%= webhook.processed_at ? date_with_time_tooltip(webhook.processed_at) : "" %></td>
              <td>
                <span class="hidden-text-expander inline">
                  <%= render(Primer::Alpha::HiddenTextExpander.new("aria-label": "No effect", button_arguments: { classes: "js-details-target" })) %>
                </span>
              </td>
            </tr>
            <tr class="Details-content--hidden">
              <td class="border-top-0" colspan=6>
                <% unless webhook.processed? %>
                  <%= render Primer::Box.new(mb: 2) do %>
                    <%= render Primer::Beta::Heading.new(tag: :h4) do %>
                      Actions
                    <% end %>
                    <% if webhook.pending? || webhook.investigating? %>
                      <%= render Primer::Box.new(mb: 2) do %>
                        <%= form_tag stafftools_zuora_webhook_perform_path(webhook), class: "inline-form", method: :put do %>
                          <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, mt: 2, "aria-label": "Process", "data-confirm": "Are you sure you want to process this webhook?") do %>
                            Process
                          <% end %>
                        <% end %>

                        <%= form_tag stafftools_zuora_webhook_ignore_path(webhook), class: "inline-form", method: :put do %>
                          <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, mt: 2, "aria-label": "Ignore", "data-confirm": "Are you sure you want to permanently ignore this webhook?") do %>
                            Ignore
                          <% end %>
                        <% end %>
                      <% end %>

                      <%= render Primer::Beta::Heading.new(tag: :h4) do %>
                        Investigate
                      <% end %>

                      <%= form_tag stafftools_zuora_webhook_investigate_path(webhook), method: :put do %>
                        <div class="form-group">
                          <div class="form-group-header">
                            <label for="<%= "investigation-notes-textarea-#{webhook.id}" %>">Investigation Notes</label>
                          </div>
                          <div class="form-group-body">
                            <textarea class="form-control" id="<%= "investigation-notes-textarea-#{webhook.id}" %>" name="investigation_notes"><%= webhook.investigation_notes || "" %></textarea>
                          </div>
                        </div>
                        <div>
                          <% investigation_notes_label = webhook.investigation_notes.present? ? "Update" : "Save" + " Investigation" %>
                          <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, scheme: :primary, "aria-label": investigation_notes_label) do %>
                            <%= investigation_notes_label %>
                          <% end %>
                        </div>
                      <% end %>

                    <% end %>
                  <% end %>
                <% end %>

                <%= render Primer::Box.new(mb: 2) do %>
                  <%= render Primer::Beta::Heading.new(tag: :h4) do %>
                    Zuora account
                  <% end %>
                  <%= link_to(webhook.account_id, "#{GitHub.zuora_host}/apps/CustomerAccount.do?method=view&id=#{webhook.account_id}") %>
                <% end %>

                <%= render Primer::Box.new(box_shadow: :medium, mb: 2) do %>
                  <%= render Primer::Beta::Heading.new(tag: :h4) do %>
                    Payload
                  <% end %>
                  <pre class="rounded text-small color-bg-subtle color-fg-muted border color-border-default p-3 overflow-x-scroll"><%= JSON.pretty_generate(webhook.payload) %></pre>
                <% end %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    <% else %>
      <%= render Primer::Beta::Blankslate.new(test_selector: "zuora_webhooks_blank_slate") do |c| %>
        <% c.with_visual_icon(icon: :webhook) %>
        <% c.with_heading(tag: :h2).with_content("No Zuora webhooks found!") %>
        <% c.with_description { "This account had no webhooks stored. If you expected webhooks to be here, please check the user's Zuora account." } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if webhooks.total_pages > 1 %>
  <nav class="paginate-container" aria-label="Pagination">
    <%= will_paginate(webhooks) %>
  </nav>
<% end %>
