<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Box.new(
  bg: :subtle,
  color: :muted,
  display: :flex,
  justify_content: item.announcement? ? :center : :space_between,
  w: :full,
  align_items: item.announcement? ? :center : :baseline,
  id: "dismissed-item-placeholder-#{event_id}",
  py: 2,
  px: item.announcement? ? 0 : 3,
  mt: item.announcement? ? 2 : 3,
  mb: item.announcement? ? 0 : 3,
  border: true,
  border_color: :subtle,
  border_radius: 1,
  test_selector: "dismissed-item-component",
  hidden: true,
) do %>
  <span <%= test_selector("dismissed-item-undo-message") %>>
    <% if item.announcement? %>
      We'll show fewer announcements like this.&nbsp;
    <% else %>
      <%= "Dismissed a #{type} from #{source}. Thank you for the feedback!" %>
    <% end %>
  </span>
  <%= form_tag conduit_register_disinterest_path, method: :delete do %>
    <%= hidden_field_tag :event_id, event_id, id: "disinterest-event-id-#{event_id}" %>
    <%= hidden_field_tag :resource_id, resource_id, id: "disinterest-resource-id-#{event_id}" %>
    <%= hidden_field_tag :identifier, identifier, id: "disinterest-identifier-id-#{event_id}" %>
    <%= hidden_field_tag :resource_type, resource_type, id: "disinterest-resource-type-#{event_id}" %>
    <%= hidden_field_tag :card_type, event_type, id: "disinterest-card-type-#{event_id}" %>
    <%= hidden_field_tag :reason, "reason_unknown", id: "disinterest-reason-unknown-#{event_id}" %>
    <%= hidden_field_tag :undo, true, id: "disinterest-undo-#{event_id}" %>

    <%= render(Primer::ButtonComponent.new(
      type: :submit,
      form: "feed-item-disinterest-form",
      classes: "js-feed-disinterest-submit",
      test_selector: "feed-item-disinterest-undo-submit",
      scheme: :link,
      color: :muted,
    )) { "Undo" } %>
  <% end %>
<% end %>
