<%= render Primer::Box.new(
  width: :full,
  position: :relative,
  display: :flex,
  justify_content: :flex_end,
  align_items: :center,
  mt: 4,
  test_selector: "profile-feed-visibility-component",
  ) do %>
  <conduit-profile-feed-visibility>
    <span class="mr-2">Posts tab on profile is visible to:</span>
    <%= csrf_hidden_input_for(
      update_url,
      method: :put,
      data: { target: "conduit-profile-feed-visibility.token" }) %>
    <%= hidden_field_tag(
      "update_url",
      update_url,
      data: { target: "conduit-profile-feed-visibility.url" }) %>
    <%= render Primer::Alpha::Dropdown.new(
      display: :inline_block,
      with_caret: true,
      data: {
        target: "conduit-profile-feed-visibility.dropdown",
      }
      ) do |d| %>
      <% d.with_button(
        size: :small,
        color: :default,
        display: :flex,
        align_items: :center,
        justify_content: :flex_end,
        test_selector: "profile-feed-visibility-button",
        style: "min-width: 100px;",
        ) do %>
        <span
          class="flex-1"
          <%= "hidden" unless setting %>
          data-target="conduit-profile-feed-visibility.everyone"
          <%= test_selector("profile-feed-visibility-everyone")%>
        >
          everyone
        </span>
        <span
          class="flex-1"
          <%= "hidden" if setting %>
          data-target="conduit-profile-feed-visibility.onlyMe"
          <%= test_selector("profile-feed-visibility-only-me")%>
        >
          only me
        </span>
      <% end %>
      <% d.with_menu(direction: :s, test_selector: "profile-feed-visibility-menu") do |menu| %>
        <%= menu.with_item(tag: :button, data: { action: "click:conduit-profile-feed-visibility#setToPublic" }) { "everyone" } %>
        <%= menu.with_item(tag: :button, data: { action: "click:conduit-profile-feed-visibility#setToPrivate" }) { "only me" } %>
      <% end %>
    <% end %>
  </conduit-profile-feed-visibility>
<% end %>
