<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% dialog_id = "feed-disinterest-dialog-#{item.event_id}" %>
<%= render(Primer::ButtonComponent.new(
  scheme: :link,
  underline: false,
  w: :full,
  py: 3,
  classes: "dropdown-item",
  test_selector: "feed-item-heading-menu-disinterest-button",
  data: show_less_activity_hydro_click_attributes(item).merge(
    show_dialog_id: dialog_id,
  ),
)) do |c| %>
  Show less activity like this
<% end %>
<%= render(Primer::Alpha::Dialog.new(
  title: "Send feedback",
  id: "feed-disinterest-dialog-#{item.event_id}",
  border_radius: 3,
  classes: "js-feed-item-disinterest-dialog overflow-hidden",
)) do |d| %>
  <% d.with_header(bg: :subtle, pb: 1, border: :bottom) do %>
    <h1 class="Box-title mb-0">Send feedback</h1>
    <p class="mb-0 color-fg-muted">Tell us more about your preferences</p>
  <% end %>
  <% d.with_body(px: 3, py: 2) do %>
    <disinterest-modal class="d-flex flex-column overflow-hidden height-full" <%= test_selector("disinterest-modal") %>>
      <%= form_tag conduit_register_disinterest_path do %>
        <%= hidden_field_tag :event_id, event_id, id: "disinterest-event-id-#{event_id}" %>
        <%= hidden_field_tag :identifier, identifier, id: "disinterest-identifier-id-#{event_id}" %>
        <%= hidden_field_tag :resource_id, resource_id, id: "disinterest-resource-id-#{event_id}" %>
        <%= hidden_field_tag :resource_type, resource_type, id: "disinterest-resource-type-#{event_id}" %>
        <%= hidden_field_tag :card_type, event_type, id: "disinterest-card-type-#{event_id}" %>
        <%= hidden_field_tag :undo, false, id: "disinterest-undo-false-#{event_id}" %>

        <%= label_tag "disinterest-reason-resource-#{event_id}", class: "d-flex flex-items-start p-1" do %>
          <%= check_box_tag :reason_resource, true, false, class: "js-disinterest-checkbox mr-2 mt-1", id: "disinterest-reason-resource-#{event_id}" %>
          <span
            class="text-normal"
            <%= test_selector("disinterest-modal-resource-reason-text") %>
          ><%= "I'm not interested in #{source}" %></span>
        <% end %>

        <% unless item.recommendation_event? || item.newly_sponsorable_event? || item.rollup? || item.trending_repository_event? %>
          <%= label_tag "disinterest-reason-event-type-resource-#{event_id}", class: "d-flex flex-items-start p-1" do %>
            <%= check_box_tag :reason_event_type_resource, true, false, class: "js-disinterest-checkbox mr-2 mt-1", id: "disinterest-reason-event-type-resource-#{event_id}" %>
            <span
              class="text-normal"
              <%= test_selector("disinterest-modal-event-type-resource-reason-text") %>
            ><%= "I'm not interested in #{content_type.pluralize} from #{actor.display_login}" %></span>
          <% end %>
        <% end %>

        <%= label_tag "disinterest-reason-event-type-#{event_id}", nil, class: "d-flex flex-items-start p-1" do %>
          <%= check_box_tag :reason_event_type, true, false, class: "js-disinterest-checkbox mr-2 mt-1", id: "disinterest-reason-event-type-#{event_id}" %>
          <span
            class="text-normal"
            <%= test_selector("disinterest-modal-event-type-reason-text") %>
          ><%= "I want to see fewer #{content_type.pluralize}" %></span>
        <% end %>

        <%= render(Primer::Beta::Button.new(
          type: :submit,
          form: "feed-item-disinterest-form",
          mt: 3,
          block: true,
          classes: "js-feed-disinterest-submit",
          disabled: true,
        ).with_content("Submit")) %>
      <% end %>
    </disinterest-modal>
  <% end %>
<% end %>
