<%
  repository = local_assigns[:repository] || current_repository
  dependencies = manifest.dependencies
  blob_path = blob_view_path(manifest.filename, repository.default_branch, repository)
  has_next_page = manifest.dependencies_page_info[:has_next_page]
  end_cursor = manifest.dependencies_page_info[:end_cursor]

  shown_dependencies_count = dependencies.count
  if params[:prev_dependencies_count].present?
    shown_dependencies_count += ActiveModel::Type::Integer.new.cast(params[:prev_dependencies_count])
  end
%>

<% if manifest.dependencies_count.zero? %>
  <div class="Box-row color-fg-muted">
    <%= link_to manifest.filename, blob_path, {
      class: "Link--primary text-bold",
      'data-octo-click': "dep_graph_manifest"
    } %> has no dependencies or is too large to display
  </div>
<% else %>
  <% dependencies.each do |dependency| %>
    <%= render "network/dependency", dependency: dependency, repository: repository, manifest_path: manifest.logical_path, indent: 0, manifest_blob_path: blob_path %>
  <% end %>
<% end %>

<% if has_next_page
  remaining_dependencies = manifest.dependencies_count - shown_dependencies_count %>
  <%= form_tag network_dependencies_path(repository.owner_display_login, repository, {
        manifest_id: manifest.id,
        after: end_cursor,
        prev_dependencies_count: shown_dependencies_count,
      }),
      method: :get,
      class: "ajax-pagination-form js-ajax-pagination pagination-loader-container mt-4 mb-4 text-center" do %>
    <div class="Box d-inline-flex flex-column">
      <button type="submit" class="color-fg-muted pt-2 pb-0 px-4 color-bg-default border-0">
        <%= pluralize(remaining_dependencies, "more dependency") %>
      </button>
      <button type="submit" class="ajax-pagination-btn no-underline pb-1 pt-0 px-4 mt-0 mb-1 color-bg-default border-0" data-disable-with="Loading…">
        <%# The hardcoded 100 matches the old page size in NetworkController#dependencies %>
        Load <%=[remaining_dependencies, 100].min%> more…
      </button>
    </div>
  <% end %>
<% end %>
