<% if show_automatic_submission_prompt? %>
  <div class="d-flex flex-justify-between flex-items-start border rounded-2 p-3 mb-3 ds-action-prompt-container js-notice" <%= test_selector "dependency-submission-action-prompt" %>>
    <div class="content">
      <h2 class="h3"> Automatically detect additional dependencies for <%= automatic_ds_ecosystem_name %> </h2>
      <p class="mt-1 mb-3">
         <%= render(Primer::Beta::Link.new(
          href: "#{GitHub.help_url}/code-security/supply-chain-security/understanding-your-software-supply-chain/configuring-automatic-dependency-submission-for-your-repository",
          target: :blank,
          classes: "Link--inTextBlock")) { "Enable automatic dependency submission" } %>
        to automatically identify and submit transitive dependencies to GitHub, so you can receive Dependabot alerts for known vulnerabilities in them.
      </p>
    </div>
    <%= form_tag dismiss_notice_path(UserNotice::AUTOMATIC_DEPENDENCY_SUBMISSION_BANNER_NOTICE), "data-remote" => true, :class => "js-notice-dismiss" do %>
      <%= render(Primer::Beta::CloseButton.new(
        type: :submit,
        "aria-label": "Dismiss Notice",
      )) %>
    <% end %>
  </div>
<% elsif show_submission_prompt? %>
  <div class="d-flex flex-justify-between flex-items-start border rounded-2 p-3 mb-3 ds-action-prompt-container js-notice" <%= test_selector "dependency-submission-action-prompt" %>>
    <div class="content">
      <h2 class="h3"> Detect additional dependencies with GitHub Actions </h2>
      <p class="mt-1 mb-3">
        Not all dependencies are automatically detected for ecosystems like <%= action_ds_ecosystem_name %>.
        GitHub Actions adds your dependencies using the
        <%= render(Primer::Beta::Link.new(
          href: "#{GitHub.help_url}/code-security/supply-chain-security/understanding-your-software-supply-chain/using-the-dependency-submission-api",
          target: :blank,
          classes: "Link--inTextBlock")) { " dependency submission API" } %>
        so you can receive Dependabot alerts for known vulnerabilities.
      </p>
      <%= render(Primer::Beta::Link.new(
        href: ds_marketplace_action_link,
        scheme: :primary,
        p: 2,
        border_radius: 2,
        border: true,
        target: :blank,
        classes: "color-shadow-medium Link--inTextBlock")
      ) { "View in Marketplace" } %>
    </div>
    <%= form_tag dismiss_notice_path(UserNotice::DS_ACTION_PROMPT_NOTICE), "data-remote" => true, :class => "js-notice-dismiss" do %>
      <%= render(Primer::Beta::CloseButton.new(
        type: :submit,
        "aria-label": "Dismiss Notice",
      )) %>
    <% end %>
  </div>
<% end %>
