<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<%
  repository = dependency.repository
  manifest_path = nil unless local_assigns.key?(:manifest_path)

  alerts = if manifest_path && local_assigns[:repository]&.vulnerability_alerts_visible_to?(current_user)
    local_assigns[:repository].applicable_vulnerability_alerts(
      manifest_path: manifest_path,
      package_name: dependency.package_name,
      requirements: dependency.requirements
    )
  else
    []
  end
%>

<div class="border-top Details js-details-container" data-repository-hovercards-enabled>
  <%= content_tag(:div,
      class: "Box-row d-flex flex-items-center js-dependency" + (if alerts.any? then " Box-row--yellow border-top" else "" end),
      'data-test-id': "dg-repo-pkg-dependency",
      id: if alerts.any? then alerts.first.global_relay_id end,
      style: if indent >= 1 then "padding-left: #{16 + (indent * 28)}px" end
    ) do %>
      <% if dependency.has_dependencies? %>
        <button type="button"
                class="btn-link no-underline js-sub-dependencies js-details-target"
                data-octo-click="dep_graph_package_expand"
                data-octo-dimensions="package_name:<%= dependency.package_name %>"
                style="width: 24px"
                aria-label="Reveal <%= dependency.package_name %> dependencies"
                aria-expanded="false"
                data-sub-dependency-url="<%= network_sub_dependencies_path({
                  package_manager: dependency.package_manager,
                  package_name:    dependency.package_name,
                  requirements:    dependency.requirements,
                  indent:          indent,
                }) %>">
          <span class="color-fg-muted text-bold mr-3">
            <%= primer_octicon(:"chevron-down", display: :none, classes: "js-expanded") %>
            <%= primer_octicon(:"chevron-right", classes: "js-collapsed") %>
          </span>
        </button>
      <% else %>
        <span class="pl-4" aria-hidden="true"></span>
      <% end %>

      <% if repository %>
        <%= link_to user_path(repository.owner), data: hovercard_data_attributes_for_repository_owner(repository.owner) do %>
          <%= image_tag(repository.owner.primary_avatar_url(40), width: 20, height: 20, class: "#{avatar_class_names(repository.owner)} mr-2", alt: "@#{repository.owner.display_login}") %>
        <% end %>
      <% else %>
        <%= avatar_for(User.ghost, 20, class: "avatar mr-2") %>
      <% end %>

      <span class="f5 color-fg-muted">
        <% if repository %>
          <%= link_to repository_path(repository), 'data-octo-click': "dep_graph_package", data: hovercard_data_attributes_for_repository(repository) do %>
            <%= repository.owner.display_login %> / <span class="text-bold"><%= repository.name %></span>
          <% end %>

          <% if repository.name != dependency.package_name %>
            <small><%= dependency.package_name %></small>
          <% end %>
        <% else %>
          <%= dependency.package_name %>
        <% end %>
      </span>

      <div class="d-flex flex-auto flex-justify-end flex-items-center">
        <% if GitHub.sponsors_enabled? && current_repository != repository && repository&.show_sponsor_button? %>
          <%= render Sponsors::Repositories::FundingModalComponent.new(
            owner_login: repository.owner_display_login,
            repo_name: repository.name,
            button_id: "repo-funding-modal-button-#{repository.global_relay_id}-#{manifest_path}",
            modal_id: "repo-funding-modal-#{repository.global_relay_id}-#{manifest_path}",
            mr: 3,
          ) %>
        <% end %>
        <% if alerts.any? %>
          <%= render "network/dependency_vulnerability_alerts", alerts: alerts, repository: repository, package_name: dependency.package_name, human_requirements: dependency.human_requirements, manifest_blob_path: manifest_blob_path %>
        <% else %>
          <code><%= dependency.human_requirements %></code>
        <% end %>
      </div>
  <% end %>
</div>
