<%
  dependent_repository = dependent.repository
  owner                = dependent_repository&.owner
%>

<% if dependent_repository %>
  <div class="Box-row d-flex flex-items-center" data-test-id="dg-repo-pkg-dependent">
    <%= avatar_for(owner, 20, class: "avatar mr-2") %>

    <span class="f5 color-fg-muted" data-repository-hovercards-enabled>
      <%= link_to owner.display_login, owner.permalink(include_host: false), data: hovercard_data_attributes_for_repository_owner(owner) %> /
      <%= link_to dependent_repository.name, dependent_repository.permalink(include_host: false), class: "text-bold", data: hovercard_data_attributes_for_repository(dependent_repository) %>
      <% if dependent_repository.name != dependent.name %>
        <small><%= dependent.name %></small>
      <% end %>
    </span>
    <div class="d-flex flex-auto flex-justify-end">
      <span class="color-fg-muted text-bold pl-3">
        <%= primer_octicon(:star) %>
        <%= number_with_delimiter(dependent_repository.stargazer_count) %>
      </span>
      <span class="color-fg-muted text-bold pl-3">
        <%= primer_octicon(:"repo-forked") %>
        <%= number_with_delimiter(dependent_repository.forks_count) %>
      </span>
    </div>
  </div>
<% elsif dependent.name.present? %>
  <div class="Box-row d-flex flex-items-center">
    <%= avatar_for(nil, 20, class: "avatar mr-2") %>

    <span class="f5 color-fg-muted text-bold">
      <%= dependent.name %>
    </span>
  </div>
<% end %>
