<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if current_repository.adminable_by?(current_user) %>
  <%= render Primer::BlankslateComponent.new(
    icon: "hubot",
    title: "Enable Dependabot",
    spacious: true,
  ) do %>
    <p>
      <% if current_repository.fork? %>
        Dependabot isn't enabled on forks by default
      <% else %>
        Dependabot isn't enabled
      <% end %>

      <%= form_tag network_enable_dependabot_path, :method => :put do %>
        <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit) do %>Enable Dependabot<% end %>
      <% end %>
    </p>
  <% end %>
<% elsif current_repository.owner.is_a?(Organization) %>
  <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
    <% c.with_visual_icon(icon: "hubot") %>

    <% c.with_heading(tag: :h2) do %>
      Dependabot is not enabled
    <% end %>

    <% c.with_description do %>
      Dependabot has not yet been enabled by an organization owner or a user with admin permissions for this repository. Once enabled, you will automatically receive pull requests for outdated dependencies.
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
    <% c.with_visual_icon(icon: "hubot") %>

    <% c.with_heading(tag: :h2) do %>
      Dependabot is not enabled
    <% end %>

    <% c.with_description do %>
      The owner of this repository has not enabled dependabot yet. Once enabled, you will automatically receive pull requests for outdated dependencies.
    <% end %>
  <% end %>
<% end %>
