<%# rubocop:disable Lint/InstanceVariable %>
<%
  is_current_repository_class = @current_repository == repo ? "Link--secondary" : ""
%>

<% if repo && repo.owner %>
  <div class="repo">
    <% if indent >= 1 %>
      <%= svg "modules/network/i.svg", :class => "network-tree" %>
      <%= safe_join([svg("modules/network/b.svg", :class => "network-tree")] * (indent-1)) %>
    <% end %>

    <%= case tree_icon
        when "l"
          svg "modules/network/l.svg", :class => "network-tree"
        when "t"
          svg "modules/network/t.svg", :class => "network-tree"
        end %>

    <% if use_icons %>
      <% if repo.owner.organization? %>
        <%= primer_octicon(:organization) %>
      <% else %>
        <%= primer_octicon(:person) %>
      <% end %>
    <% else %>
      <%= linked_avatar_for repo.owner, 16, img_class: "gravatar" %>
    <% end %>

    <%= profile_link repo.owner, class: is_current_repository_class %>
    <span class="color-fg-muted">/</span>
    <%= link_to repo, repository_path(repo), class: is_current_repository_class %>
  </div>
<% end %>
