<% page_info \
    container_xl: true,
    responsive: true,
    selected_link: :repo_graphs,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<% page_title "Forks · #{current_repository.name_with_display_owner}" %>

<%= render layout: "layouts/repository/insights" do %>
  <% if view.too_many_repos? %>
    <%= render partial: "network/network_too_large", locals: { view: } %>
  <% end %>

  <%= render Primer::Box.new(display: :flex) do %>
    <%= render Primer::Beta::Heading.new(
          tag: :h1,
          font_size: 2,
          font_weight: :normal,
          w: :auto,
          display: :inline_block
        ).with_content("Forks") %>
    <%= render Primer::Box.new(flex: 1) %><%# Spacer %>
    <%= render Primer::Beta::Button.new(
      tag: :a,
      scheme: :link,
      href: forks_path(current_repository.owner_display_login, current_repository.name),
    ) do %>
      switch to list view
    <% end %>
  <% end %>

  <% if view.no_forks? %>
    <%= render :partial => 'network/noforks' %>
  <% else %>
    <div id="network" class="network mb-3">
      <% first = view.repo_map[nil].first %>
      <div class="mt-3">
        <%= draw_network_tree first, view.repo_map %>
      </div>
    </div>
  <% end %>
<% end %>
