<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info \
    container_xl: true,
    responsive: true,
    selected_link: :repo_graphs,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<% page_title "Network Graph · #{current_repository.name_with_display_owner}" %>

<%= render layout: "layouts/repository/insights" do %>
  <div class="clearfix">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Network graph<% end %>
    <% end %>
    <p class="info">Timeline of the most recent commits to this repository and its network ordered by most recently pushed to.</p>
    <% if current_repository.network_count > GitHub.network_graph_fork_limit %>
      <p class="info">The repository network shows the <%= number_with_delimiter(GitHub.network_graph_fork_limit) %> most recently pushed forks.</p>
    <% end %>
  </div>

  <div id="network" class="network">
    <network-graph class="Box mb-3 position-relative overflow-hidden lh-condensed-ultra js-network-graph-container"
        data-network-graph-meta-url="<%= network_meta_path(current_repository.owner, current_repository) %>"
        data-network-graph-chunk-url="<%= network_chunk_path(current_repository.owner, current_repository) %>">
      <canvas width="735" height="600">
        <p>Sorry, your browser doesn’t support the &lt;canvas&gt; element.</p>
        <p>Please upgrade to the latest <a class="Link--inTextBlock" href="https://www.microsoft.com/ie">Internet Explorer</a>, <a class="Link--inTextBlock" href="https://www.google.com/chrome">Chrome</a> or <a class="Link--inTextBlock" href="https://mozilla.org/firefox">Firefox</a>.</p>
      </canvas>
      <div class="position-absolute top-0 right-0 left-0 py-10 text-center js-network-graph-loading-area" hidden>
        <%= render(Primer::Beta::Spinner.new(m: 3)) %>
      </div>
    </network-graph>

    <button type="button" class="btn-link float-right text-small color-fg-muted js-keyboard-shortcuts">
      Keyboard shortcuts available <%= primer_octicon(:info) %>
    </button>
  </div>
<% end %>
