<h4 <%= test_selector("title") %>><%= title %></h4>
<table class="mb-4">
  <tr>
    <th class="border p-2">Name</th>
    <th class="border p-2">Total duration (ms)</th>
    <th class="border p-2">Times checked</th>
  </tr>
  <% feature_previews_info.each do |name, info| %>
    <tr>
      <td class="border p-2" <%= test_selector("#{name}_name") %>><%= name %></td>
      <td class="border p-2" <%= test_selector("#{name}_duration") %>><%= (info.fetch(:duration) * 1000).round %></td>
      <td class="border p-2" <%= test_selector("#{name}_times_checked") %>><%= info.fetch(:times_checked) %></td>
    </tr>
  <% end %>
</table>
