<%
  page_info title: "GitHub Copilot",
            responsive: false,
            selected_link: :organization_copilot_settings_seat_management
%>
<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :div) do %>
      <h2 class="d-inline-block h2 text-normal">
        GitHub Copilot
      </h2>
    <% end %>
  <% end %>
  <% if current_organization.plan.legacy? %>
    <div class="d-flex flex-column border rounded-2 color-border-default p-4">
      <div class="d-flex flex-items-center mb-3">
        <%= render(Primer::Beta::Octicon.new(:"copilot", size: :small, mr: 2)) %>
        <h5>Copilot in your organization</h5>
      </div>
      <div class="color-bg-attention border rounded-2">
        <p class="p-3 mb-0">
          GitHub Copilot is not available for private repositories on legacy per-repository billing plans.<br>
          Review your pricing plan to get access to this feature. For more information
        <a class="Link--inTextBlock" href="<%= Copilot::COPILOT_BILLING_DOCUMENTATION %>">read the billing documentation</a>.
        </p>
      </div>
    </div>
  <% else %>
    <div class="d-flex border rounded-2 color-border-default pl-2 color-bg-subtle" style="max-height: 206px">
      <div class="p-3 flex-justify-between height-full">
        <div class="d-flex flex-items-center">
          <%= render(Primer::Beta::Octicon.new(:"copilot", size: :medium, mr: 1)) %>
          <h2 style="font-weight: 800; margin-right: -2px">Your AI Pa</h2>
          <h2 class="color-fg-subtle lh-condensed-ultra border-left color-border-accent-emphasis" style="font-weight: 800; border-left-width: 2px !important;">ir Programmer</h2>
        </div>
        <div flex-column flex-start>
          <p class="mt-2 pr-6 text-normal color-fg-muted">
            The AI powered pair programmer for your organization. Once you complete onboarding, you’ll have the ability to manage policies and control which users or teams will have access to
            <a class="Link--inTextBlock" href="<%= Copilot::COPILOT_DOCUMENTATION %>">GitHub Copilot</a>
            inside your organization.
          </p>
          <%= render(Primer::Beta::Button.new(scheme: :primary, mt: 2, mb: 2, tag: :a, href: copilot_business_signup_organization_payment_path(org: current_organization))) { "Enable GitHub Copilot" } %>
        </div>
      </div>
      <%= color_theme_picture_tag(
        {
          light: "modules/copilot/copilot-light.png",
          dark: "modules/copilot/copilot-dark.png"
        },
        alt: "Copilot",
        "aria-hidden": "true",
        class: "rounded-right-2 height-full float-right",
        style: "max-width: 304px; max-height: 250px; object-fit: cover;"
        ) %>
    </div>
  <% end %>
<% end %>
