<%# `view` is an instance of Orgs::Invitations::EditPageView %>

<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% view.teams.each do |team| %>
    <% next if team.enterprise_team_managed? %>
    <% component.with_row(display: :flex, align_items: :center) do %>
      <% if team.ldap_mapped? %>
        <%= render(Primer::Beta::Label.new(tag: :span, scheme: :secondary, title: "#{team.name}'s members are managed in LDAP", variant: :inline, mr: 1)) { "LDAP" } %>
      <% else %>
        <%= check_box_tag "team-#{team.id}", team.id, view.is_team_selected?(team.id), class: "js-invitation-toggle-team mr-2", "aria-label": "Team #{team.name}" %>
      <% end %>

      <div class="flex-auto mr-3">
        <strong><%= link_to team.name, team_path(team), class: "wb-break-word" %></strong>
        <div class="text-small color-fg-muted"><%= team.description %></div>
      </div>

      <span class="no-wrap mr-2"><%= pluralize(team.members_scope_count, "member") %></span>
      <span class="no-wrap"><%= pluralize(team.repositories_scope_count, "repository") %></span>
    <% end %>
  <% end %>
<% end %>

<% if view.paginate? %>
  <div class="paginate-container">
    <%= will_paginate view.teams, class: "pagination js-invitations-team-suggestions-pagination", params: { query: view.query } %>
  </div>
<% end %>
