<%
  page_info(title: "#{Copilot::ENTERPRISE_PRODUCT_NAME} Usage")
%>
<%= render layout: "stafftools/stafftools" do %>
  <table class="boxed-group-table border">
    <tr class="no-wrap">
      <th scope="col">Enterprise</th>
      <th scope="col">User Accounts</th>
      <th scope="col">Azure Subscription</th>
      <th scope="col">Copilot Seats</th>
      <th scope="col">Organizations</th>
      <th scope="col">Repositories</th>
      <th scope="col">Commits</th>
      <th scope="col">PRs</th>
      <th scope="col">Issues</th>
    </tr>
    <% businesses.each do |copilot_enterprise| %>
      <tr>
        <td <%= test_selector("slug") %>>
          <%= render(Primer::Beta::Link.new(href: stafftools_enterprise_path(copilot_enterprise.business), target: "_blank")) do %>
            <%= copilot_enterprise.slug %>
          <% end %>
        </td>
        <td>
          <%= render(Primer::Beta::Label.new(scheme: :default, ml: 1)) do %>
            <%= copilot_enterprise.business_user_count %>
          <% end %>
        </td>
        <td <%= test_selector("azure_subscription") %>>
          <% if copilot_enterprise.azure_subscription.present? %>
            <%= render(Primer::Beta::Octicon.new(icon: :"check-circle-fill", color: :success, aria: { label: copilot_enterprise.azure_subscription })) %>
          <% else %>
            <%= render(Primer::Beta::Octicon.new(icon: :"x-circle", color: :muted)) %>
          <% end %>
        </td>
        <td>
          <%= render(Primer::Beta::Label.new(scheme: :default, ml: 1, test_selector: "copilot_seat_count")) do %>
            <%= copilot_enterprise.copilot_seat_count %>
          <% end %>
        </td>
        <td <%= test_selector("organization_count") %>>
          <%= render(Primer::Beta::Label.new(scheme: :default, ml: 1)) do %>
            <%= copilot_enterprise.organization_count %>
          <% end %>
        </td>
        <td <%= test_selector("repository_count") %>>
          <% if copilot_enterprise.repository_count > 0 %>
            <%= render(Primer::Beta::Label.new(scheme: :danger, ml: 1)) do %>
              <%= copilot_enterprise.repository_count %>
            <% end %>
          <% else %>
            <%= render(Primer::Beta::Label.new(scheme: :default, ml: 1)) do %>
              0
            <% end %>
          <% end %>
        </td>
        <td <%= test_selector("commit_count") %>>
          <% if copilot_enterprise.commit_count > 0 %>
            <%= render(Primer::Beta::Label.new(scheme: :danger, ml: 1)) do %>
              <%= copilot_enterprise.commit_count %>
            <% end %>
          <% else %>
            <%= render(Primer::Beta::Label.new(scheme: :default, ml: 1)) do %>
              0
            <% end %>
          <% end %>
        </td>
        <td <%= test_selector("pull_request_count") %>>
          <% if copilot_enterprise.pull_request_count > 0 %>
            <%= render(Primer::Beta::Label.new(scheme: :danger, ml: 1)) do %>
              <%= copilot_enterprise.pull_request_count %>
            <% end %>
          <% else %>
            <%= render(Primer::Beta::Label.new(scheme: :default, ml: 1)) do %>
              0
            <% end %>
          <% end %>
        </td>
        <td <%= test_selector("issue_count") %>>
          <% if copilot_enterprise.issue_count > 0 %>
            <%= render(Primer::Beta::Label.new(scheme: :danger, ml: 1)) do %>
              <%= copilot_enterprise.issue_count %>
            <% end %>
          <% else %>
            <%= render(Primer::Beta::Label.new(scheme: :default, ml: 1)) do %>
              0
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="9" align="center">
        <%= will_paginate businesses %>
      </td>
    </tr>
</table>
<% end %>
