<% content_for :header do %>
  <a href="https://github.com" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">
    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png" width="102" height="28" alt="GitHub" style="-ms-interpolation-mode: bicubic; max-width: 100%;">
  </a>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
  <h2>Unused public IPs will be deleted in 3 days</h2>
  <%= render(Mail::SpacerComponent.new) %>
  <p> We are notifying you as an admin of <%= @setting_link_content[:text] %> that we've detected Actions runners with unused public IP ranges.</p>
  <p>The public IP range for some of your runners have not been used in over <%= @expiration_days%> days. <a href="<%= GitHub.help_url %>/actions/using-github-hosted-runners/using-larger-runners#networking-for-larger-runners">Per our fair usage policy</a> it will be deleted in 3 days.</p>
  <p>You can recover these IP ranges by re-enabling them in the runners UI and then running at least one workflow on these runners.</p>

  <%= render(Mail::SpacerComponent.new) %>
  <p>Below is the list of runners using fixed IP ranges. You can find these runners under your <a href="<%= @setting_link_content[:link] %>"><%= @setting_link_content[:text] %> settings</a>:</p>

  <ul class="ml-4">
    <% @runner_names.each do |name| %>
    <li>
      <%= name %>
    </li>
    <% end %>
  </ul>

  <%= render(Mail::SpacerComponent.new) %>

  <p>
    Thanks,<br>
    The GitHub Team
  </p>
  <% end %>
<% end %>

