<% content_for :header do %>
  <%= @subject %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <h2>
      Upgrade to continue using GitHub Actions Public IP Ranges
    </h2>
    <%= render(Mail::SpacerComponent.new) %>
    <p>
      Your organization <b><%= @account.name %></b> no longer has access to an Enterprise plan, as part of this you no longer have access to the Public IP feature for GitHub-hosted runners.
    </p>

  <p>You can recover these IP ranges if you upgrade back to an Enterprise plan, otherwise they will be <b>permanently deleted in 3 days.</b> </p>

  <p>
    <%= render(Primer::Beta::Link.new(href: @upgrade_link, classes: "Link--inTextBlock")) do %> Upgrade <%= @account.name %> Plan <% end %>
  </p>

  <p>Below is a list of the runners which were using fixed IP ranges:</p>

  <ul style="list-style-position: inside">
    <% @affected_pools.each do |name| %>
      <li><b><%= name %></b></li>
    <% end %>
  </ul>

  <%= render(Mail::SpacerComponent.new) %>

  <p>
    Thanks,<br>
    The GitHub Team
  </p>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  You are receiving this email because there has been a recent change to your Organization billing plan.
<% end %>

