<% page_info title: view.page_title %>

<%= render Primer::Beta::Subhead.new(hide_border: true) do |subhead| %>
  <% subhead.with_heading(tag: :h3) do %>Rate limits<% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(mb: 6)) do |box| %>
  <% box.with_row do %>
    <table class="stafftools-table">
      <% view.columns.each do |column| %>
        <tr>
          <th><%= column.humanize %></th>
          <td class="tiny"><%= number_with_delimiter(view.value(column)) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>

<%= form_tag stafftools_user_rate_limits_path(view.user), method: :delete do %>
  <%= render Primer::Beta::Button.new(
    type: :submit,
    float: :right,
  ) do %>
    Reset all
  <% end %>
<% end %>
