<% page_info title: "#{current_user.login} - Soft-deleted pages" %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Soft-deleted Pages<% end %>
<% end %>

<p>
  With this form, you can launch a background job to restore any soft-deleted pages which the owner's billing plan
  should otherwise allow. It may take some time for each Page to be processed, and it may not affect all Pages,
  depending on the billing plan.
</p>

<%= render Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center) do %>
  <p>
    Billing plan (<%= current_user.plan_name %>):<br>
    <strong><% if supports_pages %>Does<% else %>Does not<% end %></strong> support Pages<br>
    <strong><% if supports_private_pages %>Does<% else %>Does not<% end %></strong> support private Pages<br>
    <strong><% if supports_pages_of_private_repos %>Does<% else %>Does not<% end %></strong> support Pages belonging to private repositories
  </p>

  <%= form_tag(stafftools_user_repositories_pages_path(current_user), method: "put") do %>
    <%= render Primer::Beta::Button.new(type: :submit) do %>
      Restore Incorrectly Deleted Pages
    <% end %>
  <% end %>
<% end %>

<% if soft_deleted_pages_repos.present? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mt: 4)) do |component| %>
    <% soft_deleted_pages_repos.each do |repo| %>
      <% component.with_row(display: :flex, justify_content: :space_between) do %>
        <span class="flex-auto">
          <%= primer_octicon(repo.page.public? ? "browser" : "lock") %>
          <% if repo.owner_login %>
            <a href="<%= stafftools_repository_pages_path repo %>" class="stafftools-repository">
              <%= repo.name_with_owner %>
            </a>
          <% else %>
            <%= repo.to_s %> (Unowned)
          <% end %>
        </span>
        <span class="ml-4">Repo visibility: <strong><%= repo.public? ? "Public" : "Private" %></strong></span>
        <span class="ml-4">Page visibility: <strong><%= repo.page.public? ? "Public" : "Private" %></strong></span>
        <span class="ml-4">
          Soft-deleted: <%= repo.page.deleted_at.to_fs(:db_utc) %> UTC
        </span>
      <%end %>
    <% end %>
  <% end %>
  <div class="paginate-container">
    <%= will_paginate soft_deleted_pages_repos, :param_name => :repo_page %>
  </div>
<% else %>
  <p>The user has no soft-deleted pages.</p>
<% end %>
