<% if signature.subject %>

<h5>Certificate subject</h5>

<table class="signed-commit-cert-info">
  <% unless signature.subject.common_name.blank? %>
    <tr>
      <td class="color-fg-muted">CN</td>
      <td><%= signature.subject.common_name %></td>
    </tr>
  <% end %>
  <% unless signature.subject.email_address.blank? %>
    <tr>
      <td class="color-fg-muted">emailAddress</td>
      <td><%= signature.subject.email_address %></td>
    </tr>
  <% end %>
  <% if signature.subject.organization && signature.subject.organization_unit %>
    <% subject_org_label = "O/OU" %>
  <% elsif signature.subject.organization %>
    <% subject_org_label = "O" %>
  <% elsif signature.subject.organization_unit %>
    <% subject_org_label = "OU" %>
  <% end %>

  <% if subject_org_label %>
    <tr>
      <td class="color-fg-muted"><%= subject_org_label %></td>
      <td>
        <%= signature.subject.organization %>
        <% if subject_org_label == "O/OU" %><span class="color-fg-muted">/</span><% end %>
        <%= signature.subject.organization_unit %>
      </td>
    </tr>
  <% end %>
</table>

<h5>Certificate issuer</h5>

<table class="signed-commit-cert-info">
  <tr>
    <td class="color-fg-muted">CN</td>
    <td><%= signature.issuer.common_name %></td>
  </tr>
  <% if signature.issuer.organization && signature.issuer.organization_unit %>
    <% issuer_org_label = "O/OU" %>
  <% elsif signature.issuer.organization %>
    <% issuer_org_label = "O" %>
  <% elsif signature.issuer.organization_unit %>
    <% issuer_org_label = "OU" %>
  <% end %>

  <% if issuer_org_label %>
    <tr>
      <td class="color-fg-muted"><%= issuer_org_label %></td>
      <td>
        <%= signature.issuer.organization %>
        <% if issuer_org_label == "O/OU" %><span class="color-fg-muted">/</span><% end %>
        <%= signature.issuer.organization_unit %>
      </td>
    </tr>
  <% end %>
</table>

<% end %>
