<?xml version="1.0" encoding="UTF-8"?>
<% path = commits_path(params[:path], tree_name).chomp('/') %>
<% cache "feeds:#{Digest::SHA256.hexdigest(path)}:#{commits.first.oid}:graphql", :ttl => 0 do %>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="en-US">
  <id>tag:<%= GitHub.host_name %>,2008:<%=h path %></id>
  <link type="text/html" rel="alternate" href="<%= GitHub.url + path %>"/>
  <link type="application/atom+xml" rel="self" href="<%= GitHub.url + path %>.atom"/>
  <title>Recent Commits to <%= current_repository.name %>:<%= tree_name_for_display %></title>
  <updated><%= commits.first.committer_actor.time.utc.iso8601 %></updated>
  <% commits.each do |commit| %>
  <% actor = commit.author_actor.visible_actor(current_user) %>
  <entry>
    <id>tag:<%= GitHub.host_name %>,2008:Grit::Commit/<%= commit.oid %></id>
    <link type="text/html" rel="alternate" href="<%= GitHub.url + commit_path(commit.oid) %>"/>
    <title>
      <% if commit.short_message_text.present? %>
        <%= commit.short_message_text %>
      <% else %>
        No commit message
      <% end %>
    </title>
    <updated><%= commit.committer_actor.time.utc.iso8601 %></updated>
    <media:thumbnail height="30" width="30" url="<%= actor ? actor.primary_avatar_url(30) : gravatar_url_for(commit.author_actor.display_email, 30) %>"/>
    <author>
      <name><%= actor ? actor.display_login_legacy : "" %></name>
      <% if actor %>
      <uri><%= GitHub.url %>/<%= actor.display_login_legacy %></uri>
      <% else %>
      <email><%= commit.author_actor.display_email %></email>
      <% end %>
    </author>
    <content type="html">
      <%= "<pre style='white-space:pre-wrap;width:81ex'>#{ERB::Util.force_escape(commit.message)}</pre>" %>
    </content>
  </entry>
  <% end %>
<% end %>
</feed>
