<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  title = "Commits · #{current_repository.name_with_display_owner}"
  path  = ''

  if params[:path]
    path  = params[:path].join('/')
    title = "History for #{path} - #{current_repository.name_with_display_owner}"

    path  = " -- #{path}"
  end

  page_info \
    title: title,
    container_xl: true,
    selected_link: :repo_commits,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4 file-navigation">
    <% if path.present? %>
      <div class="breadcrumb">
        History for <%= breadcrumb_trail params[:path], :linker => :commits_path %>
      </div>
    <% else %>
      <%= render :partial => "refs/list" %>
      <div class="breadcrumb">
        <%= breadcrumb_trail params[:path], :label => "Commits" %>
      </div>
    <% end %>
  </div>

  <div class="js-navigation-container js-active-navigation-container" data-navigation-scroll="page">
    <%= render Primer::BlankslateComponent.new(
      icon: "hourglass",
      title: "Sorry, this commit history is taking too long to generate.",
    ) do %>
      <p>Refresh the page to try again, or view this history locally using the following command:</p>
      <div class="input-group col-9 mx-auto">
        <input
           id="commit-timeout-cmd"
           type="text"
           value="git log <%= tree_name_for_display %><%= path %>"
           class="form-control input-monospace"
           aria-label="Git history command"
           readonly>
        <span class="input-group-button">
          <%= render Primer::Beta::ClipboardCopy.new(for: "commit-timeout-cmd", "aria-label": "Copy to clipboard", classes: "btn") %>
        </span>
      </div>
    <% end %>
  </div>
<% end %>
