<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% threshold_days_phrase = pluralize(GitHub.enterprise_dormancy_threshold_days, "day") %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <%= view.title %>
    <% end %>
    <% if users.any? %>
      <% component.with_actions do %>
        <%= render(
          layout: "shared/details_dialog",
          locals: {
            button_text: "Suspend all",
            button_class: "btn btn-sm btn-danger",
            title: "Suspend all dormant users"
          },
        ) do %>
          <%= render Primer::Beta::Flash.new(scheme: :warning, full: true) do %>
            <strong>
              There is no way to unsuspend these users in bulk after performing this operation.
            </strong>
          <% end %>
          <div class="Box-body">
            This will suspend all users who have no registered activity for the last
            <%= threshold_days_phrase %>. Suspended users cannot sign in to the installation nor
            perform any Git operations on it. Their repository data will remain available. All seats
            these users were consuming will become available again once these users are suspended.
          </div>
          <div class="Box-footer">
            <%= form_tag stafftools_dormant_users_bulk_suspension_path do %>
              <%= render Primer::ButtonComponent.new(
                type: :submit,
                block: true,
                scheme: :danger,
              ) do %>
                Suspend
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <p>
    Users are considered dormant if they’ve existed for longer than <%= threshold_days_phrase %>,
    haven’t used any personal access tokens or SSH keys within the last <%= threshold_days_phrase %>
    and haven’t generated any activity within the last <%= threshold_days_phrase %> and are not site
    admins. Activity is defined as commenting on issues or pull requests, creating issues / pull
    requests / repositories, making any commits on any repositories, or owning any repositories that
    have been pushed to recently.
  </p>

  <% if users.empty? %>
    <%= render Primer::Beta::Blankslate.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        No accounts found.
      <% end %>
    <% end %>
  <% else %>
    <p>
      <b>IMPORTANT NOTE:</b> The users shown below may not include all dormant users in some cases.
      However, the "Suspend all" operation will suspend all dormant users, even if they aren't shown
      here.
    </p>
    <%= render Primer::Beta::BorderBox.new do |component| %>
      <% users.each do |user| %>
        <% component.with_row do %>
          <span class="float-right">
            <strong>Last active:</strong>
            <%= user.last_active %>
          </span>

          <%= avatar_for user, 20 %>
          <%= link_to user.to_s, stafftools_user_path(user) %>
          <% unless user.profile_name.blank? %>
            <span class="description">&ndash; <%= user.profile_name %></span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <div class="paginate-container">
      <%= will_paginate users, params: { last_ip: params[:last_ip] } %>
    </div>
  <% end %>
<% end %>
