<% feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-default border color-border-default p-3 rounded-2" : "" %>
<div class="mb-3 dashboard-changelog <%=feed_v2_classes%>" <%= test_selector("dashboard_changelog_component") %>>
  <h2 class="f5 text-bold mb-3">Latest changes</h2>

  <ul class="list-style-none">
    <% items.each_with_index do |item, index| %>
      <li class="TimelineItem TimelineItem--condensed ml-1 pt-0 <%= index == items.size - 1 ? "pb-0" : "pb-3" %>">
        <div class="TimelineItem-badge mt-0 color-bg-transparent">
          <%= render Primer::Beta::Octicon.new(icon: :"dot-fill", mb: 2) %>
        </div>
        <div class="TimelineItem-body mt-n1">
          <div class="text-small color-fg-muted dashboard-changelog-timestamp"><%= time_ago_in_words_js(item[:date]) %></div>
          <%= link_to item[:title], item[:url], class: "Link--primary line-clamp-2" %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="ml-1 pt-2 pl-4 border-left color-border-muted">
    <%= link_to "View changelog →", CHANGELOG_URL, class: "text-small mt-2 Link--muted" %>
  </div>
</div>
