<% feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-default border color-border-default p-3 rounded-2" : "" %>
<div class="mb-5 <%= feed_v2_classes%>" <%= test_selector("dashboard_#{section_title.parameterize(separator: '_')}") %> role="navigation" aria-label="<%=section_title%>">
  <h2 class="f5 text-bold">
    <%= section_title %>
  </h2>
  <%= render(Primer::Box.new) do %>
    <% repositories.each_with_index do |repo, index| %>
      <% is_last = index ==  repositories.size - 1 %>
      <%= render(Primer::Box.new(
        py: user_or_global_feature_enabled?(:feeds_v2) ? 3 : 4,
        border: is_last ? false : :bottom,
        test_selector: "explore_repo"
      )) do %>
        <%= render(Primer::Beta::Truncate.new(tag: :div, display: :flex, justify_content: :space_between)) do |trunc| %>
          <% trunc.with_item(flex: 1, max_width: 300, classes: "ws-normal", style: "word-wrap:normal") do %>
            <%= render(Primer::Beta::Avatar.new(
              src: helpers.avatar_url_for(repo.owner, 40),
              size: 20,
              alt: "@#{repo.owner} profile",
              box_shadow: :none,
              shape: :circle,
              mr: 1
            )) %>
            <%= render(Primer::Beta::Link.new(
              href: repository_path(repo),
              color: :default,
              font_weight: :bold,
              test_selector: "repository_name",
              data: hydro_event_data(repo_id: repo.id, target: "repository")
            )) do %>
              <%=repo.owner%> <%= render(Primer::Beta::Text.new(tag: :span, color: :muted, font_weight: :light)) { "/" } %> <%=repo.name%>
            <% end %>
          <% end %>
          <%= trunc.with_item(flex_shrink: 0) do %>
            <%= render(Stars::ButtonComponent.new(
              entity: repo,
              starred: starred_by_viewer.include?(repo.id),
              show_count: false,
              context: "trending",
              hide_text_on_desktop: true,
              hide_text_on_mobile: true,
              button_args: { test_selector: "trending_repo_star_button" },
              data: hydro_event_data(repo_id: repo.id, target: "star_repositories")
            )) %>
          <% end %>
        <% end %>

        <%= render(Primer::Beta::Text.new(
          tag: :p,
          font_size: :small,
          color: :muted,
          mt: 2,
          test_selector: "repository_description",
          )) do %>
            <%= repo.short_description_html %>
        <% end %>

        <% if repo.stargazer_count > 0 %>
          <%= render(Primer::Box.new(
            color: :muted,
            display: :inline_block,
            mr: 4,
            mt: 1,
            font_size: 6,
            test_selector: "repository_star_count"
            )) do %>
            <%= render(Primer::Beta::Octicon.new(icon: :star, aria: { label: "star" })) %>
            <%= helpers.social_count(repo.stargazer_count) %>
          <% end %>
        <% end %>
        <% if repo.primary_language.present? %>
          <%= render(Primer::Box.new(
            color: :muted,
            display: :inline_block,
            font_size: 6,
            mt: 1,
            test_selector: "repository_primary_language"
            )) do %>
            <%= render(Languages::BadgeComponent.new(name: repo.primary_language.name)) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render(Primer::Beta::Link.new(**see_more_url)) do %>
      <% "Explore more \u2192" %>
    <% end %>
  <% end %>
</div>
