<%# erblint:counter DeprecatedComponentsCounter 1 %>
<portal-fragment>
  <%= render Primer::Alpha::Dialog.new(
    title: "Edit favorites",
    subtitle: "Choose which repositories to include in your Favorites.",
    id: "edit-dashboard-favorites",
    test_selector: "favorites-details",
    size: :large,
    **system_arguments
  ) do |d| %>
    <%= d.with_body do %>
      <include-fragment class="py-5 text-center" src="<%= dashboard_favorites_modal_path %>">
        <div data-hide-on-error>
          <%= render Primer::Beta::Spinner.new(aria: { label: "Loading" }) %>
        </div>
        <div data-show-on-error hidden>
          Something went wrong.
          <%= render Primer::ButtonComponent.new("data-retry-button": "", scheme: :link, type: :submit) do %>Retry.<% end %>
        </div>
      </include-fragment>
    <% end %>
  <% end %>
</portal-fragment>
