<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::BaseComponent.new(
  tag: :li,
  test_selector: "dashboard-sidebar-sortable-item",
  **system_arguments
) do %>
  <%= content %>
  <% if sortable %>
    <span>
      <input type="hidden" name="pinned_items_id_and_type[]" id="pinned-item-reorder-<%= item_id %>" value="<%= item_id %>-<%= item_type %>" autocomplete="off">
      <span role="button" class="pinned-item-handle js-pinned-item-reorder pl-2" aria-label="Drag to reorder" <%= test_selector("reorder-pin") %>>
        <%= render Primer::Beta::Octicon.new(icon: :grabber) %>
      </span>
      <%= render Primer::ButtonComponent.new(variant: :small, right: 0, classes: "show-on-focus sortable-button js-sortable-button", "data-direction": "up", test_selector: "sort-up-button") do %>
        <%= render Primer::Beta::Octicon.new(
          icon: "chevron-up",
          aria: { label: "Move item up" },
        ) %>
      <% end %>
      <%= render Primer::ButtonComponent.new(variant: :small, right: 0, classes: "show-on-focus sortable-button js-sortable-button", "data-direction": "down", test_selector: "sort-down-button") do %>
        <%= render Primer::Beta::Octicon.new(
          icon: "chevron-down",
          aria: { label: "Move item down" },
        ) %>
      <% end %>
    </span>
  <% end %>
<% end %>
