<%
  discussions_owner = is_org_level? ? this_organization.display_login : current_repository.name_with_display_owner
  page_info title: "New Discussion · #{discussions_owner} · Category selection",
    container_xl: true,
    selected_link: :repo_discussions
%>
<%= render layout: "discussions/conditional_discussions_layout" do %>
  <%= render(Primer::Beta::Text.new(tag: :h1, font_size: 2, mb: 4, mt: 3)) { "Select a discussion category" } %>
  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% discussion_categories.each do |category| %>
      <% component.with_row do %>
        <%= render(Primer::Box.new(display: :flex, align_items: :center)) do %>
          <%= render(Primer::Box.new(
            display: :flex,
            align_items: :center,
            flex: 1,
            w: :full,
            style: "white-space: break-spaces",
          )) do %>
            <%= render(Primer::Box.new(
              display: :flex,
              justify_content: :center,
              align_items: :center,
              bg: :subtle,
              border_radius: 2,
              flex_shrink: 0,
              style: "width: 50px; height: 50px;",
            )) do %>
              <span role="img" class="d-flex flex-items-center color-fg-muted" aria-hidden="true">
                <%= discussion_category_emoji_tag(category, classes: "d-flex flex-items-center f3") %>
              </span>
            <% end %>
            <%= render(Primer::Box.new(display: :flex, direction: :column, p: 2)) do %>
              <%= render(Primer::Beta::Truncate.new(
                tag: :h2,
                font_weight: :bold,
                font_size: 4,
                test_selector: "category-option",
              )) do |component| %>
                <% component.with_item(max_width: 410) do %>
                  <% if category.supports_announcements? %>
                    <%= render(Primer::Beta::Octicon.new(icon: "lock", aria: { label: "Restricted" })) %>
                  <% end %>
                  <%= category.name %>
                <% end %>
              <% end %>
              <%= render(Primer::Beta::Text.new(word_break: :break_word, font_size: 5)) { category.description } %>
              <% if category.supports_mark_as_answer? %>
                <%= render(Primer::Beta::Text.new(
                  font_weight: :bold,
                  color: :success,
                  font_size: 5
                )) { "Answers enabled" } %>
              <% end %>
            <% end %>
          <% end %>
          <% org_param = is_org_level? ? this_organization.display_login : nil %>
          <%= render(Primer::Beta::Button.new(
            scheme: :primary,
            tag: :a,
            href: agnostic_new_discussion_path(current_repository, org_param: org_param, category: category.slug),
            aria: { label: "Get started with #{category.name} category" },
          )) { "Get started" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
