<% if unavailable %>
  <span>
    Organization name '<%= name.presence %>' is unavailable.
  </span>
<% elsif exists %>
  <span>
    The name '<%= name.presence %>' is already taken.
  </span>
<% elsif not_alphanumeric %>
  <span>
    The name <% if name.present? %>'<%= name %>' <% end %><%= Organization::LOGIN_VALIDATION_MESSAGE %>.
  </span>
<% elsif over_max_length %>
  <span>
    Username is too long (maximum is <%= Organization::LOGIN_MAX_LENGTH %> characters).
  </span>
<% else %>
  <span class="<% if !GitHub.billing_enabled? %>js-hide-org-name-hint<% end %>">
    <span class="d-block">This will be the name of your account on GitHub.</span>
    <span>Your URL will be: <%= GitHub.url %>/<strong><%= name.presence %></strong><%=
      is_name_modified ? ", which has been adjusted to comply with our naming rules." : "."
    %>
    </span>
  </span>
  <%= hidden_field_tag "organization[login]", name.presence %>
<% end %>
