<div class="form-group mt-4" aria-describedby="org-tos-label" <%= test_selector("org-new-tos-selection") %>>
  <fieldset>
    <legend class="h5" id="org-tos-label">This organization belongs to:</legend>
    <div class="form-checkbox">
      <%= radio_button_tag(:terms_of_service_type, "standard", required: true, "aria-describedby": "personal-account-notes") %>
      <%= label_tag(:terms_of_service_type_standard, "My personal account") %>
        <p id="personal-account-notes" class="note">I.e., <%= current_user.display_login %>

          <% unless current_user.profile_name.blank? %>
          (<%= current_user.profile_name %>)
          <% end %>
        </p>
    </div>
    <div class="form-checkbox">
      <%= radio_button_tag(:terms_of_service_type, "corporate", false, class: "form-checkbox-details-trigger js-company-owned", "data-optional": true, "aria-describedby": "business-account-notes" ) %>
      <%= label_tag(:terms_of_service_type_corporate, "A business or institution") %>

      <p id="business-account-notes" class="note">
        For example: GitHub, Inc., Example Institute, American Red Cross
      </p>

      <div class="mt-4 form-checkbox-details" <%= test_selector("org-new-company-name") %>>
        <%= f.text_group("Name of business or institution this organization belongs to", :company_name, {
          class: "mb-2 js-company-name-input py-1",
          required: true,
          hint: safe_join([
            "This business or institution — not ",
            content_tag(:strong, current_user.name),
            " (your personal account) — will control this organization."
          ])
        }) %>
      </div>
    </div>
  </fieldset>
</div>
