<%
  page_info title: "Choose an Enterprise plan"
%>

<%= render layout: "signup/container",
  locals: {
    title: "Pick your trial plan",
    container_class: "mb-4 mb-md-8 container-xl",
    yield_container_class: "container-xl"
  } do %>
  <div class="container-md">
    <div class="d-md-flex flex-items-stretch gutter-md-spacious mb-8">
      <div class="col-md-6 mb-3 mb-md-0">
        <a href="<%= enterprise_trial_start_page_path(ref_page: request.fullpath, ref_cta: "Enterprise Cloud", ref_loc: "choose_an_enterprise_plan") %>"
          class="d-block mb-2 hover-grow no-underline position-relative rounded-3 color-fg-default"
          style="outline-offset: 2px"
          <%= safe_data_attributes(enterprise_plan_cloud_data_attributes) %>
          <%= test_selector("enterprise_cloud") %>
        >
        <div class="rounded-3 px-2 pt-5 pb-2 pricing-recommended-plan">
          <p class="position-absolute left-0 right-0 h5 text-center text-uppercase color-fg-on-emphasis js-recommended-plan-caption" style="top:6px;">Recommended</p>
          <div class="d-flex flex-column flex-items-center height-full rounded-3 color-shadow-extra-large color-bg-default p-3 p-lg-5">
              <div>
                <%= svg("signup/business_plus-plan.svg", height: "64", width: "64") %>
              </div>
              <div>
                <h2 class="mb-1 h5-mktg text-center">Enterprise Cloud</h2>
                <p class="color-fg-subtle lh-condensed mb-0 text-center">Build and deploy to GitHub-hosted cloud environments, directly from your repositories.</p>
              </div>
            </div>
          </div>
        </a>
        <p class="color-fg-subtle text-center">Why teams <%= emoji_tag(Emoji.find_by_alias("heart"), class: "emoji emoji-icon") %> it: Get started in minutes, and leave the infrastructure to us.</p>
      </div>

      <div class="col-md-6 mb-3 mb-md-0">
        <%
          referral_params = organization_referral_params(additional_params: {source: 'pricing-card-enterprise'})
          server_trial_url = "#{ent_trial_url}?#{referral_params.to_query}"
        %>
        <a href="<%= server_trial_url %>"
          class="d-block mb-2 hover-grow no-underline position-relative rounded-3 color-fg-default"
          <%= safe_data_attributes(enterprise_plan_server_data_attributes) %>
          <%= test_selector('enterprise_server') %>
        >
          <div class="rounded-3 px-2 pt-5 pb-2">
            <div class="d-flex flex-column flex-items-center height-full rounded-3 color-shadow-extra-large color-bg-default p-3 p-lg-5">
              <div>
                <%= svg("signup/enterprise_server-plan.svg", height: "64", width: "64") %>
              </div>
              <div>
                <h2 class="mb-1 h5-mktg text-center">Enterprise Server</h2>
                <p class="color-fg-subtle lh-condensed mb-0 text-center">Manage and deploy GitHub Enterprise on your own servers, including AWS, Azure, or GC</p>
              </div>
            </div>
          </div>
        </a>
        <p class="color-fg-subtle text-center">Why teams <%= emoji_tag(Emoji.find_by_alias("heart"), class: "emoji emoji-icon") %> it: Control where your code and data live in a private cloud.</p>
      </div>
    </div>
  </div>
<% end %>
