<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<%
  page_info title: "#{invite_or_add_action_word(enterprise_managed: current_organization&.enterprise_managed_user_enabled?)} your team members"
  learn_more_ga_tracking = ga_label_with_analytics_tracking_id(
    "Signup funnel invite users,click,text:Learn more about permissions for organizations;",
    organization: current_organization
  )

  welcome_header = current_organization.safe_profile_name
%>

<%= render layout: "signup/container",
  locals: {
    yield_container_class: "container-md"
  } do %>
  <div class="d-flex flex-column flex-justify-center flex-items-center px-4 mt-10">
    <div class="d-flex flex-column">
      <div class="text-mono text-center color-fg-muted text-normal">Start collaborating</div>
      <h1 class="mt-0 mb-3 text-center h1 lh-condensed-ultra" data-hpc>Welcome to <%= welcome_header %></h1>

      <%= signup_h2("Add organization members", class: "mt-3") %>

      <p class="color-fg-muted f5 pt-2" <%= test_selector("invite-members-instructions-control")%>>
        Organization members will be able to view repositories, organize into teams, review code, and tag other members using @mentions.
      </p>
      <p class="color-fg-muted f5">
        <a
          href="<%= GitHub.help_url %>/articles/permission-levels-for-an-organization"
          data-ga-click="<%= learn_more_ga_tracking %>"
          >
          Learn more about permissions for organizations →
        </a>
      </p>

      <div class="py-4">
        <include-fragment src="<%= organization_invite_form_path(current_organization) %>" <%= test_selector("org-invite-form-fragment") %>>
          <%= render(Primer::Beta::Spinner.new) %>
          <p class="color-fg-muted my-2 mb-0">Loading...</p>
        </include-fragment>
      </div>
    </div>
  </div>
<% end %>
