<%= render layout: "sponsors/dashboards/layout", locals: { sponsors_listing: sponsors_listing, selected_tab: :goals } do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Your goals<% end %>
  <% end %>

  <p class="mb-4">
    <% if sponsors_listing.disabled? %>
      You cannot set goals when your GitHub Sponsors account is disabled.
    <% else %>
      Set a goal to share with your community! You can set a target number of sponsors or the
      amount of money you aim to earn each month. You can also describe what those sponsorships will
      help you achieve.
    <% end %>
  </p>

  <% if active_goal %>
    <div class="border rounded-2 width-full p-4" <%= test_selector("sponsors-dashboard-active-goal") %>>
      <div class="d-flex flex-justify-between flex-items-center mb-3">
        <h2 class="f4">
          Current goal: <%= active_goal.formatted_current_value %> out of <%= active_goal.title %>
        </h2>
        <%= link_to("Edit", edit_sponsorable_dashboard_goal_path(sponsorable), class: "btn") %>
      </div>

      <span class="Progress mb-3">
        <span class="sponsors-goal-progress-bar" style="width: <%= active_goal.percent_complete %>%;"></span>
      </span>

      <%= render(Sponsors::Profile::ActiveGoalComponent.new(sponsors_listing: sponsors_listing, goal: active_goal)) %>
      <div class="mt-3">
        <%= render(Sponsors::ShareButtonComponent.new(
          sponsorable_login: sponsorable.login,
          user: current_user,
          text: "I have a goal of #{active_goal.title}. I'm currently at #{active_goal.formatted_current_value}! Come support my open source work.",
          url_params: Sponsors::TrackingParameters.new(
            origin: Sponsors::TrackingParameters::SPONSORS_YOUR_GOALS_ORIGIN,
          ).to_h,
          data: sponsors_button_hydro_attributes(
            :YOUR_GOALS_SHARE,
            sponsorable.login,
          )
        )) %>
        <%= render(Sponsors::Dashboard::EmbedComponent.new(sponsors_listing: sponsors_listing)) %>
      </div>
    </div>
  <% elsif !sponsors_listing.disabled? %>
    <div class="mb-3" <%= test_selector("sponsors-dashboard-no-active-goal") %>>
      <%= link_to("Set a goal", new_sponsorable_dashboard_goal_path(sponsorable), class: "btn mr-2") %>
      <span class="color-fg-muted">
        You can set <strong>1</strong> goal at a time. If you reach your goal,
        you'll be able to set a new one.
      </span>
    </div>
  <% end %>

  <%= render(Sponsors::Dashboard::Goals::CompletedListComponent.new(completed_goals: completed_goals)) %>

  <%= render(Sponsors::Dashboard::Goals::ExamplesComponent.new(sponsors_listing: sponsors_listing)) %>
<% end %>
