<div class="d-flex flex-row">
  <% if show_enterprise_request_button? %>
    <%= render(
      Organizations::MemberRequests::FeatureRequestComponent.new(
      requester: @user,
      organization: @organization,
      feature: MemberFeatureRequest::Feature::CopilotForBusiness
    )) do |c| %>
      <%= c.with_request_cta(
        mr: 2,
        data: {
          test_selector: 'membership-action',
          **analytics_click_attributes(
            category: "member_feature_request",
            action: "action.#{MemberFeatureRequest::Feature::CopilotForBusiness}",
            label: "ref_cta:ask_enterprise_owners_for_access;ref_loc:copilot_for_business;enterprise_id:#{@organization.business&.id}"
          )
        }
      ) do %>
        Ask enterprise owners for access
      <% end %>
      <%= c.with_remove_request_cta(mr: 2) { "Remove request" } %>
    <% end %>
  <% else %>
    <% if primary_cta_form_submission? %>
      <%= form_with(url: primary_cta_detail[:url], method: primary_cta_detail[:form][:method] || "post") do %>
        <%= render(Primer::Beta::Button.new(
          test_selector: "addon-primary-cta",
          tag: :button,
          type: :submit,
          mr: 2,
          data: primary_cta_detail[:data]
        )) { primary_cta_detail[:text] } %>
      <% end %>
    <% else %>
      <%= render(Primer::Beta::Button.new(
        test_selector: "addon-primary-cta",
        tag: :a,
        href: primary_cta_detail[:url],
        mr: 2,
        data: primary_cta_detail[:data],
      )) { primary_cta_detail[:text] } %>
    <% end %>
  <% end %>

  <% if secondary_cta_detail %>
    <%= render(Primer::Beta::Button.new(
      scheme: :default,
      test_selector: "addon-see-how-it-works-cta",
      tag: :a,
      href: secondary_cta_detail[:url],
      target: :_blank,
      rel: "noopener noreferrer",
      data: secondary_cta_detail[:data]
    )) do %>
      <%= primer_octicon(:"link-external") %> <%= secondary_cta_detail[:text] %>
    <% end %>
  <% end %>
</div>
