<%= render Primer::BaseComponent.new(
  tag: :"feature-request",
  data: {
    "action-path": org_member_feature_requests_path(org: organization.display_login),
    "feature-name": feature.to_s
  },
  **system_arguments,
) do %>
  <%= csrf_hidden_input_for org_member_feature_requests_path(
    org: organization.display_login),
    method: :post,
    data: { target: 'feature-request.csrfTokenRequest' } %>
  <div data-target='feature-request.prompt' <%= "hidden" if requested? || dismissed? %>>
    <%= request_cta %>
    <%= render(Primer::Beta::Button.new(
      mt: [2, nil, nil, 0],
      scheme: :link,
      tag: :a,
      href: learn_more_url,
      data: analytics_click_attributes(
        category: "Suggestion",
        action: "click to read docs",
        label: "ref_page:#{request.fullpath};ref_cta:Learn more;ref_loc:#{feature}")
    )) { "Learn more" } if learn_more_url && !requested? %>
    <%= request_message %>
  </div>

  <div <%= test_selector('dismissed-content')%> <%= "hidden" unless dismissed? %>>
    <p>Your request for <%= feature.name %> was declined by an admin on <%= dismissed_at %>.</p>
    <p><%= render(Primer::Beta::Link.new(href: org_people_url(organization, query: "role:owner"), classes: "Link--inTextBlock")) { "Contact an admin" } %> for more details around their decision.</p>
  </div>

  <div <%= "hidden" unless requested? %> data-target="feature-request.success">
    <%= csrf_hidden_input_for org_member_feature_requests_path(
      org: organization.display_login),
      method: :delete,
      data: { target: 'feature-request.csrfTokenCancel' } %>
    <%= requested_message %>
    <%= remove_request_cta %>
  </div>
<% end %>
