<notifications-list-subscription-form data-action="notifications-dialog-label-toggled:notifications-list-subscription-form#handleDialogLabelToggle" class="position-relative" <%= test_selector("feature-request-watch-button") %>>
  <details class="details-reset details-overlay" data-target="notifications-list-subscription-form.details" data-action="toggle:notifications-list-subscription-form#detailsToggled">
    <%= render(Primer::Beta::Button.new(
      id: "notifications-button",
      tag: :summary,
      classes: "Button--iconOnly",
      p: 0,
      aria: { label: "Notification settings for request a feature" },
      test_selector: "notifications-button"
    )) do |c| %>
      <span data-menu-button class="d-flex mx-2">
        <span
          <% unless notification_enabled %>hidden<% end %>
          data-target="notifications-list-subscription-form.unwatchButtonCopy"
        >
          <%= render Primer::Beta::Octicon.new(icon: "eye") %>
          <span class="ml-1">Unwatch</span>
        </span>
        <span
          <% unless notification_disabled %>hidden<% end %>
          data-target="notifications-list-subscription-form.stopIgnoringButtonCopy"
        >
          <%= render Primer::Beta::Octicon.new(icon: "bell-slash") %>
          <span class="ml-1">Stop ignoring</span>
        </span>
        <span
          <% unless subscription_type == :none %>hidden<% end %>
          <%= test_selector("watch_button_icon") %>
          data-target="notifications-list-subscription-form.watchButtonCopy"
        >
          <%= render Primer::Beta::Octicon.new(icon: "eye") %>
        </span>
        <span class="dropdown-caret ml-3 mt-2"></span>
      </span>
    <% end -%>

    <details-menu aria-label="Notification settings" class="SelectMenu member-request-watch-button-alignment"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div data-target="notifications-list-subscription-form.menu" class="SelectMenu-modal notifications-component-menu-modal">
        <div class="Box-header">
          <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog data-action="click:notifications-list-subscription-form#closeMenu">
            <%= primer_octicon(:x) %>
          </button>
          <h3 class="Box-title" <%= test_selector("modal-title") %>>
            Notifications
          </h3>
        </div>

        <div class="SelectMenu-list mb-0" role="menu" <%= test_selector('feature-request-subscription-form') %>>
          <%= form_tag organization_settings_member_feature_requests_subscription_path, method: :post,
            "data-target": "notifications-list-subscription-form.form",
            "data-action": "submit:notifications-list-subscription-form#submitForm" do %>

            <button
              type="submit"
              name="do"
              value="subscribed"
              class="SelectMenu-item flex-items-start"
              role="menuitemradio"
              aria-checked="<%= subscription_type == :watching %>"
              data-targets="notifications-list-subscription-form.subscriptionButtons"
            >
              <span class="f5">
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
              </span>
              <div>
                <div class="f5 text-bold">
                  All Activity
                </div>
                <div class="text-small color-fg-muted text-normal pb-1">
                  Notified of all notifications on this page.
                </div>
              </div>
            </button>
          <% end %>

          <%= form_tag organization_settings_member_feature_requests_subscription_path, method: :delete,
            "data-target": "notifications-list-subscription-form.form",
            "data-action": "submit:notifications-list-subscription-form#submitForm" do %>
            <button
              type="submit"
              name="do"
              value="ignore"
              class="SelectMenu-item flex-items-start"
              role="menuitemradio"
              aria-checked="<%= subscription_type == :ignoring %>"
              data-targets="notifications-list-subscription-form.subscriptionButtons"
            >
              <span class="f5">
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
              </span>
              <div>
                <div class="f5 text-bold">
                  Ignore
                </div>
                <div class="text-small color-fg-muted text-normal pb-1">
                  Never be notified.
                </div>
              </div>
            </button>
          <% end %>

          <button
            class="SelectMenu-item flex-items-start pr-3"
            type="button"
            role="menuitemradio"
            data-target="notifications-list-subscription-form.customButton"
            data-action="click:notifications-list-subscription-form#openCustomDialog"
            aria-haspopup="true"
            aria-checked="<%= subscription_type == :custom %>"
            <%= test_selector("custom-button") %>
          >
            <span class="f5">
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
            </span>
            <div>
              <div class="d-flex flex-items-start flex-justify-between">
                <div class="f5 text-bold">Custom</div>
                <div class="f5 pr-1">
                  <%= render Primer::Beta::Octicon.new(icon: "arrow-right") %>
                </div>
              </div>
              <div class="text-small color-fg-muted text-normal pb-1">
                Select events you want to be notified of.
              </div>
            </div>
          </button>

        </div>
      </div>

      <div class="SelectMenu-modal notifications-component-menu-modal" data-target="notifications-list-subscription-form.customDialog" hidden>
        <header class="SelectMenu-header pb-0 border-bottom-0 px-2 px-sm-3">
          <h1 class="f3 SelectMenu-title d-inline-flex">
            <button
              class="border-0 px-2 py-0 m-0 Link--secondary f5 member-request-watch-button-bg"
              aria-label="Return to menu"
              type="button"
              data-action="click:notifications-list-subscription-form#closeCustomDialog"
            >
              <%= render Primer::Beta::Octicon.new(icon: "arrow-left") %>
            </button>
            Custom
          </h1>
        </header>
        <div class="overflow-visible">
          <%= form_tag organization_settings_member_feature_requests_subscription_path, method: :patch,
                      "data-target": "notifications-list-subscription-form.customform",
                      "data-action": "submit:notifications-list-subscription-form#submitCustomForm" do %>

            <fieldset>
              <legend>
                <div class="text-small color-fg-muted pt-0 pr-3 pb-3 pl-6 pl-sm-5 border-bottom mb-3">
                  Select events you want to be notified of.
                </div>
              </legend>
              <div data-target="notifications-list-subscription-form.labelInputs" <%= test_selector('feature-request-custom-form') %>>
              </div>
              <% subscribable_features.each do |feature| %>
                <div class="form-checkbox mr-3 ml-6 ml-sm-5 mb-2 mt-0">
                  <label class="f5 text-normal">
                    <input
                      type="checkbox"
                      name="features[]"
                      value="<%= feature.to_s %>"
                      data-targets="notifications-list-subscription-form.threadTypeCheckboxes"
                      data-action="change:notifications-list-subscription-form#threadTypeCheckboxesUpdated"
                      <% if !opt_out_feature?(feature.to_s) && subscription_type == :custom %> checked <% end %>
                    >
                    <%= feature.name %>
                  </label>
                </div>
              <% end %>
            </fieldset>

            <div class="pt-2 pb-3 px-3 d-flex flex-justify-start flex-row-reverse">
              <%= render(Primer::Beta::Button.new(
                scheme: :primary,
                type: :submit,
                ml: 2,
                name: "do",
                value: "custom",
                data: {
                    target: "notifications-list-subscription-form.customSubmit",
                    action: "click:notifications-list-subscription-form#closeMenu",
                  }
              ).with_content("Apply")) %>

              <%= render(Primer::Beta::Button.new(
                data: {
                  action: "click:notifications-list-subscription-form#closeMenu",
                  "close-dialog": "",
                },
              ).with_content("Cancel")) %>
            </div>

          <% end %>
        </div>
      </div>
    </details-menu>
  </details>
</notifications-list-subscription-form>
