<% dialog_action = params[:bulk_action] %>
<% dialog_term = dialog_action == "add" ? "to" : "from" %>

<%= form_tag enterprise_people_bulk_actions_path(view.business) do %>
  <%= render(Primer::Alpha::Dialog::Body.new(mt: 3)) do %>
    <input type="hidden" name="bulk_action" value="<%= dialog_action %>">
    <p>Please select organizations to <%= dialog_action %> the selected users <%= dialog_term %>.</p>
    <p class="note">Only organizations where you are an owner and without SAML SSO enforced can be selected.</p>

    <div class="mb-0">
      <ul class="list-style-none">
        <% view.business.organizations.each do |org| %>
          <% if org.adminable_by?(current_user) && (view.business.enterprise_managed_user_enabled? || !org.saml_sso_enforced?) %>
            <li class="d-flex flex-items-start flex-1">
              <div class="table-list-cell-checkbox py-1 v-align-middle pr-3">
                <input type="checkbox" name="organization_ids[]"
                  value="<%= org.id %>" aria-labelledby="org-<%= org.id %>"
                  <%= test_selector "actions-dialog-org-checkbox" %>>
              </div>
              <div class="d-flex flex-items-center">
                <div>
                  <%= link_to user_path(org) do %>
                    <%= render GitHub::AvatarComponent.new actor: org, size: 16, mr: 2 %>
                    <%= org.safe_profile_name %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <p class="mt-4">
      The following users will be <%= dialog_action %><%= "e" unless dialog_action == "remove" %>d <%= dialog_term %>
      all selected organizations.
    </p>

    <div class="mb-0">
      <ul class="list-style-none">
        <% view.selected_users.each do |user| %>
          <li>
            <%= linked_avatar_for(user, 16, img_class: "avatar") %>
            <%= profile_link(user) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render(Primer::Alpha::Dialog::Footer.new) do %>
    <% users_count = view.selected_users.size %>
    <% view.selected_users.each do |user| %>
      <input type="hidden" name="user_ids[]" value="<%= user.id %>" <%= test_selector "actions-dialog-selected-user" %>>
    <% end %>
    <%= render Primer::Beta::Button.new(
      type: :submit,
      scheme: :danger,
      data: { disable_with: "" }
    ) do %>
      <%= dialog_action.capitalize %> <%= "user".pluralize(users_count) %>
    <% end %>
  <% end %>
<% end %>
