<%# `view` is an instance of Sso::ShowView %>

<%= render Primer::Beta::Subhead.new(spacious: true, hide_border: view.authorized_credentials.any?) do |component| %>
  <% component.with_heading(tag: :h2) do %>Authorized credentials<% end %>
<% end %>
<% if view.authorized_credentials.any? %>

  <p>
    Personal access tokens and SSH keys this member has authorized for API and Git access to organizations in this enterprise account.
    <%= link_to "See the documentation", GitHub.sso_credential_authorization_help_url, class: "Link--inTextBlock" %>
    for more about authorizing API and Git access to organizations.
  </p>

  <%= render "shared/sso/authorized_credentials", view: view %>
<% else %>
  <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
    <% c.with_visual_icon(icon: "key") %>

    <% c.with_heading(tag: :h2) do %>
      No authorized credentials
    <% end %>

    <% c.with_description do %>
      <%= "#{view.member.display_login} has not authorized any credentials for
      API and Git access to organizations in this enterprise account." %>
    <% end %>

    <% c.with_secondary_action(href: GitHub.sso_credential_authorization_help_url) do %>
      Learn more
    <% end %>
  <% end %>
<% end %>
