<details class="details-reset details-overlay mr-2 mb-1 select-menu d-inline-block" <%= test_selector "cost-center-filter-button" %>>
  <%= render Primer::Beta::Button.new(
    tag: :summary,
    align_content: :start,
    "aria-haspopup": "true"
  ) do |c| %>
    <% c.with_trailing_action_icon(icon: "triangle-down") %>
    Cost center
  <% end %>
  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by cost center</span>
    </div>
    <div class="select-menu-list">
      <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(cost_center: nil)) %>"
        class="select-menu-item" aria-checked="<%= view.cost_center.nil? %>" role="menuitemradio">
      <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
      <div class="select-menu-item-text">Everyone</div>
      </a>
      <% value = "no-cost-center" %>
      <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(cost_center: value)) %>"
        class="select-menu-item" aria-checked="<%= view.cost_center == value %>" role="menuitemradio">
      <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
      <div class="select-menu-item-text">No cost center</div>
      </a>
      <% unless this_business.cost_centers.nil? %>
        <% this_business.cost_centers.each do |cost_center| %>
          <% value = filter_value_for_cost_center(this_business, cost_center) %>
          <a href="<%= people_enterprise_path(this_business.slug, query: view.apply_query_filters(cost_center: value)) %>"
            class="select-menu-item" aria-checked="<%= view.cost_center == value %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">
              <%= cost_center.dig(:name) %>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </details-menu>
</details>
