<div class="d-flex flex-wrap ml-1">
  <% unless this_business.seats_plan_basic? %>
    <span class="d-flex flex-items-center mr-5" <%= test_selector "organizations-count-#{member.id}" %>>
      <%= render(Primer::Beta::Octicon.new(:"organization", ml: 0, mr: 1)) %>
      <%= organizations_count %>
    </span>
  <% end %>

  <% if any_server_installations %>
    <span class="d-flex flex-items-center mr-5" <%= test_selector "server-installations-count-#{member.id}" %>>
      <%= render(Primer::Beta::Octicon.new(:"server", ml: 0, mr: 1)) %>
      <%= server_installations_count %>
    </span>
  <% end %>

  <span class="d-flex flex-items-center mr-5" <%= test_selector "two-factor-status-#{member.id}" %>>
    <%= render partial: "orgs/people/user_two_factor_details", locals: {
      user_login: member.display_login,
      two_factor_enabled: two_factor_enabled,
      active_account_two_factor_requirement: active_account_two_factor_requirement,
      pending_account_two_factor_requirement: pending_account_two_factor_requirement,
      account_two_factor_required_by_date: account_two_factor_required_by_date,
    }%>
  </span>

  <% unless GitHub.single_business_environment? %>
    <span class="d-flex flex-items-center mr-5" style="width: 66px" <%= test_selector "license-type-#{member.id}" %>>
      <% case license_type %>
      <% when "VS subscription" %>
        <img width="16" height="16" alt="VSS" class="mr-1"
          src="<%= image_path "modules/site/logos/visualstudio2019-logo.svg" %>">
      <% when "Enterprise license" %>
        <%= render(Primer::Beta::Octicon.new(:"mark-github", mr: 1)) %>
      <% when "Copilot license" %>
        <%= render(Primer::Beta::Octicon.new(:"copilot", mr: 1)) %>
      <% when "Unlicensed" %>
        <%= render(Primer::Beta::Octicon.new(:x, ml: 0, mr: 1)) %>
      <% end %>
      License
    </span>

    <% if show_cost_center %>
      <span class="d-flex flex-items-center mr-5" <%= test_selector "cost-center-#{member.id}" %>>
        <% if cost_center %>
          <% if cost_center == "Unavailable" %>
            <%= render(Primer::Beta::Octicon.new(:briefcase, mr: 1)) %><%= cost_center %>
          <% else %>
            <%= render(Primer::Beta::Octicon.new(:check, mr: 1)) %>Cost center
          <% end %>
        <% else %>
            <%= render(Primer::Beta::Octicon.new(:x, mr: 1)) %>Cost center
        <% end %>
      </span>
    <% end %>
  <% end %>

  <% selected_user = member.is_a?(BusinessUserAccount) ? (member.user.blank? ? nil : member.user) : member %>
  <% show_remove = \
    this_business.owner?(current_user) &&
    remove_from_enterprise_available?(this_business, current_user) %>
  <% if show_remove %>
    <span class="d-flex flex-items-center">
      <%= render(Primer::Alpha::ActionMenu.new) do |menu| %>
        <% menu.with_show_button(icon: :"kebab-horizontal", "aria-label": "Member menu") %>
        <% menu.with_item(
          label: "Remove from enterprise",
          tag: :button,
          content_arguments: { "data-show-dialog-id": "remove-member-#{member.id}-dialog" },
          value: "",
          scheme: :danger,
          test_selector: "remove-business-member-#{member.id}-button-enabled",
        ) %>
      <% end %>
      <%= render "businesses/admins/remove_user_from_business",
        business_slug: this_business.slug,
        user: selected_user,
        role: :owner,
        dialog_id: "remove-member-#{member.id}-dialog" %>
    </span>
  <% end %>
</div>
