<%# `view` is an instance of Sso::ShowView %>

<%
  user = view.member
  business = view.target
  primary_name = user.profile_name.present? ? user.profile_name : user.display_login
  secondary_name = user.profile_name.present? ? user.display_login : nil
%>
<% title = capture do %>
  <span><%= primary_name  %></span>
  <% if secondary_name %>
    <span class="color-fg-muted f2-light"><%= secondary_name %></span>
  <% end %>
  <% if user.spammy? %>
    <%= render "shared/under_review_label" %>
  <% end %>
<% end %>

<% page_info title: "#{business.name} - #{view.page_title}",
  selected_link: :business_people,
  stafftools: stafftools_enterprise_path(business) %>

<%= render layout: "businesses/layout", locals: {
  business: business,
  title: title,
  back_to_link_path: people_enterprise_path(business),
  back_to_link_text: "members"
} do %>
  <div class="gutter d-flex">
    <%= render BusinessUserAccounts::SidebarComponent.new(
      business: business,
      user: user,
      business_user_account: user_account,
      organization_count: organization_count,
      team_count: team_count,
      installation_count: installation_count,
      collab_repo_count: outside_collaborator_repositories_count
    ) %>

    <div class="col-9">
      <% if view.external_identity %>
        <%= render "shared/sso/user_data", view: view %>

        <%= render "shared/sso/sessions", view: view %>
      <% else %>
        <%= render Primer::Beta::Subhead.new do |component| %>
          <% component.with_heading(tag: :h2) do %>Linked SSO identity<% end %>
        <% end %>
        <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
          <% c.with_visual_icon(icon: "link") %>

          <% c.with_heading(tag: :h2) do %>
            No linked account
          <% end %>

          <% c.with_description do %>
            <%= "It doesn’t look like #{user.display_login} has linked their account to your enterprise account's SAML identity provider." %>
          <% end %>
        <% end %>
      <% end %>

      <% if view.cloud_member? && !GitHub.enterprise? %>
        <%= render "businesses/people/authorized_credentials", view: view %>
      <% end %>
    </div>
  </div>
<% end %>
