<div class="Box-row d-flex flex-items-center flex-justify-between" <%= test_selector("invitation-data") %>>
  <div>
    <%= show_avatar %>
    <strong class="ml-1"><%= show_link %></strong>
    <% if role_label %>
      <%= render(Primer::Beta::Label.new(scheme: :secondary)) { role_label } %>
    <% end %>
  </div>
  <div class="d-flex flex-items-center flex-justify-end" style="gap: 7px;">
    <span class="color-fg-muted f6 mr-3"><%= remaining_time_message %></span>
    <%= link_to "Accept", accept_invitation_url,
        data: analytics_click_attributes(category: "Pending Invitation Accept Button", action: invitation.class.name.underscore, label: invitation.id),
        class: "btn btn-sm" %>

    <%= button_to "Decline",
    reject_invitation_url,
    method: form_method,
    form_class: "inline-form",
    class: "btn btn-sm",
    data: analytics_click_attributes(category: "Pending Invitation Decline Button", action: invitation.class.name.underscore, label: invitation.id),
    "data-confirm" => "Are you sure?" %>
  </div>
</div>
