<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::Beta::Subhead.new(spacious: two_factor_auth_available, pt: 3, id: "oidc-settings") do |component| %>
  <% component.with_heading(tag: :h2) do %>OpenID Connect single sign-on<% end %>
<% end %>

<p>
  Manage your enterprise’s membership with OpenID Connect.
  <%= link_to \
    "Learn more",
    "#{GitHub.help_url}/admin/identity-and-access-management/using-enterprise-managed-users-for-iam/configuring-oidc-for-enterprise-managed-users",
    class: "Link--inTextBlock" %>.<%# erblint:disable GitHub::Accessibility::AvoidGenericLinkText %>
</p>

<template id="disable-oidc-confirmation">
  <div class="Box-header"><h3 class="Box-title">Are you sure you want to disable single-sign on with OIDC?</h3></div>
  <div class="Box-body">
    Disabling OIDC single sign-on for the <%= this_business.name %> enterprise will not remove existing members.
  </div>

  <%= form_tag settings_oidc_provider_enterprise_path(this_business.slug), method: :delete, class: "Box-footer" do %>
    <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Disable OIDC single sign-on<% end %>
  <% end %>
</template>

<div class="oidc-settings-form" data-warn-unsaved-changes="Changes to your OIDC provider settings may not be saved">
  <%= form_for(:oidc, url: settings_oidc_provider_enterprise_path(this_business.slug, anchor: "oidc-settings"),
    method: :post, html: { class: "js-business-oidc-provider-settings-form", novalidate: true }) do |f| %>
    <div class="form-checkbox">
      <% disabled = view.oidc_sso_configured_checkbox_disabled? %>
      <input id="enable-oidc-checkbox" type="checkbox" name="enable-oidc-checkbox" class="js-business-enable-oidc" <%= "checked" if view.show_oidc_settings? %> <%= "disabled" if disabled %>>
      <input type="hidden" name="oidc-currently-enabled" class="js-business-oidc-currently-enabled" value="<%= view.oidc_settings_saved? ? 1 : 0 %>">
      <label for="enable-oidc-checkbox">Require OIDC single sign-on</label>
      <% if disabled && view.show_oidc_settings? %>
        <p class="note">
          Disabling OIDC single sign-on for your enterprise is only allowed
          if you are logged in as the first enterprise owner.
        </p>
      <% else %>
        <p class="note">
          After you require OIDC authentication, members of the <%= this_business.name %> enterprise
          must single sign-on with your OIDC identity provider (IdP) to access any of the enterprise's
          organizations. Supported IdPs include Azure.
        </p>
      <% end %>

      <div id="business-oidc-form-inputs" <%= "hidden" unless view.show_oidc_settings? %>>
        <% if view.oidc_settings_saved? %>
          <div class="Box my-4 color-bg-subtle">
            <div class="border-bottom p-3 d-flex flex-items-center">
              <div>
                <%= primer_octicon(:"shield-lock", color: :muted, mr: 3) %>
              </div>
              <p class="note">
                <%= link_to "Save your recovery codes",
                  settings_oidc_provider_recovery_codes_enterprise_path(this_business.slug), class: "Link--inTextBlock" %>
                in a safe place. If your IdP is unavailable you can use a
                recovery code to skip single sign-on and access
                the <%= this_business.name %> enterprise.
              </p>
            </div>

            <div class="p-3 d-flex flex-items-center">
              <div>
                <%= primer_octicon(:link, color: :muted, mr: 3) %>
              </div>
              <p class="note">
                The <%= this_business.name %> enterprise single sign-on URL is
                <%= link_to view.sso_url, view.sso_path, class: "Link--inTextBlock" %>
              </p>
            </div>
          </div>
        <% end %>
        <input type="hidden" name="oidc[oidc_provider]" value="azure">
        <%= f.text_group "Tenant ID", :tenant_id,
           value: view.tenant_id,
           placeholder: view.tenant_id,
           type: :text,
           autocomplete: :off,
           disabled: true %>
      </div>
    </div>
    <br>
    <%= render Primer::ButtonComponent.new(
        id: "save-oidc-settings",
        name: "save_settings",
        value: "1",
        classes: "js-business-oidc-save-submit",
        ml: 3,
        type: :submit,
        disabled: true
      ) do %>Save<% end %>
  <% end %>
</div>
