<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div <%= test_selector("open-scim-configuration") %>>
  <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
    <% component.with_heading(tag: :h2, display: :flex, align_items: :center) do %>Open SCIM Configuration
      <%= render(Primer::Beta::Label.new(scheme: :success, ml: 1)) { "Beta" } %>
    <% end %>
  <% end %>
  <div class="saml-settings-form">
    <%= form_tag enterprise_open_scim_configuration_path(this_business), method: :patch do |f| %>
      <div class="form-checkbox">
        <% if this_business.feature_enabled?(:prevent_open_scim_usage) %>
          <div class="mb-3">
            <%= render(Primer::Beta::Flash.new(scheme: :warning, icon: "alert")) do %>
              Feature temporarily unavailable
            <% end %>
          </div>
          <input id="open_scim_configuration" type="checkbox" name="open_scim_configuration" disabled>
        <% else %>
          <input id="open_scim_configuration" type="checkbox" name="open_scim_configuration"
                <%= "checked" if this_business.open_scim_enabled? %>>
        <% end %>
        <label for="open_scim_configuration_checkbox">Enable open SCIM configuration</label>
        <p class="note color-fg-muted">
          If enabled, your enterprise's SCIM API endpoints will allow writes from any authorized personal access token.
          We recommend disabling this capability while using a paved-path identity management application. All SCIM calls should be backed by a single source of truth in your identity system.
          <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/admin/identity-and-access-management/provisioning-user-accounts-for-enterprise-managed-users/provisioning-users-with-scim-using-the-rest-api", classes: "Link--inTextBlock")) { "Learn more." } %>
        </p>
      </div>
      <%= render Primer::ButtonComponent.new(type: :submit, ml: 3, "data-test-selector": "open-scim-configuration-submit", disabled: this_business.feature_enabled?(:prevent_open_scim_usage)) do %>
        Save
      <% end %>
    <% end %>
  </div>
</div>
