<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%= render Primer::Beta::Subhead.new(mt: 0, hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2, danger: true) do %>Danger zone<% end %>
<% end %>

<div class="Box Box--danger">
  <div class="Box-row clearfix">
    <div class="float-left">
      <div class="listgroup-item-title">Migrate to OpenID Connect single sign-on</div>
      <div class="listgroup-item-body">Configuring an enterprise with OpenID Connect can have side effects.</div>
    </div>
    <details class="details-reset details-overlay details-overlay-dark float-right" id="rename-org-confirm">
      <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :danger, mt: 1) do %>Configure with Azure<% end %>
      <details-dialog class="anim-fade-in fast Box Box--overlay d-flex flex-column"><%# erblint:disable A11yDetailsDialogMigration %>
        <div class="Box-header">
          <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
            <%= primer_octicon(:x) %>
          </button>
          <h3 class="Box-title">Migrate to Azure OpenID Connect single sign-on?</h3>
        </div>
        <%= render(Primer::Beta::Flash.new(scheme: :danger, full: true, icon: "alert")) do %>
          Please be aware that the migration might not be correct if you don't follow the steps described below.
        <% end %>
        <div class="Box-body overflow-auto">
          <ul class="mb-3 ml-3">
            <li>1. Move all users and groups to a new <strong>GitHub Enterprise Managed User (OIDC)</strong> application in Azure.</li>
            <li>2. Disable provisioning in <strong>GitHub Enterprise Managed User</strong> application in Azure.</li>
            <li>3. Run this migration (may take a few minutes to complete).  Expected results:</li>
            <li>   - All existing users display names will be modified to include "(SAML)" as the sufix.</li>
            <li>   - All existing groups display names will be modified to include "(SAML)" as the sufix.</li>
            <li>   - Existing SAML configration will be deleted.</li>
            <li>4. Enable provisioning in <strong>GitHub Enterprise Managed User (OIDC)</strong> application in Azure.</li>
            <li>   - Provisioning from a new application will clear display names for users and groups.</li>
            <li>   - Missing users and groups from a new application will retain the "(SAML)" sufix.</li>
          </ul>
          <%= render Primer::ButtonComponent.new(block: true, scheme: :danger, "data-close-dialog": "", "data-toggle-for": "migrate-to-oidc-dialog") do %>
            I understand, begin migrating to OpenID Connect
          <% end %>
        </div>
      </details-dialog>
    </details>
    <details class="details-reset details-overlay details-overlay-dark" id="migrate-to-oidc-dialog">
      <summary tabindex="-1" aria-label="Migrate to OpenID Connect single sign-on"></summary>
      <details-dialog class="anim-fade-in fast Box Box--overlay d-flex flex-column"><%# erblint:disable A11yDetailsDialogMigration %>
        <div class="Box-header">
          <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
            <%= primer_octicon(:x) %>
          </button>
          <h3 class="Box-title">Migrate to OpenID Connect single sign-on</h3>
        </div>
        <div class="Box-body">
          <%= form_tag settings_oidc_provider_enterprise_path(this_business.slug), :method => :post do %>
            <p>
              <input type="hidden" name="oidc[oidc_provider]" value="azure">
              <input type="hidden" name="oidc[migrate_to_oidc]" value=true>
            </p>
            <%= spamurai_form_signals %>
            <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Migrate to OpenID Connect<% end %>
          <% end %>
        </div>
      </details-dialog>
    </details>
  </div>
</div>
