<%= render(Primer::Beta::BorderBox.new(scheme: :default, full: false, icon: "people", my: 4)) do |component| %>
  <% component.with_body do %>
    <div class="d-flex flex-items-center">
      <%= render(Primer::Beta::Octicon.new(:people, mr: 2, color: :accent, height: 16)) %> <div class="text-bold color-fg-default" flex="auto" <%= test_selector "emu-check" %>>Try Enterprise Managed Users</div>
    </div>
    <div class="py-1">
      In addition to requiring SAML authentication, Enterprise Managed Users (EMUs) may be right for your enterprise if you prefer that your enterprise members use business-owned accounts on GitHub.com to access your enterprises's resources.
    </div>
    <div class="py-1 js-try-emu-more-text">
      <%= link_to "Show more", "#", class: "js-try-emu-toggle-text btn" %>
      <%= render(Primer::Beta::Link.new(href: ent_contact_url, ml: 3)) { "Talk to Sales" } %>
    </div>
    <div class="js-try-emu-more-text" style="display: none">
      <div class="py-1">
        <div class="py-1">
          <%= render(Primer::Beta::Octicon.new(:check, size: :small, color: :open)) %>
          Automatically provision and deprovision users in your enterprise from your identity provider;
        </div>
        <div class="py-1">
          <%= render(Primer::Beta::Octicon.new(:check, size: :small, color: :open)) %>
          Provide your users with special work-only accounts that can only contribute to repositories within your enterprise, preventing members from accidentally leaking corporate-owned content to the public on GitHub.com;
        </div>
        <div class="py-1">
          <%= render(Primer::Beta::Octicon.new(:check, size: :small, color: :open)) %>
          Exclude personal user account access within your enterprise
        </div>
        <div class="mb-2">
          If you currently require your users to create a new personal account on GitHub.com to use with your enterprise, Enterprise Managed Users might be right for you. For more information, see "<%= link_to "About Enterprise Managed Users" %>". <%# erblint:disable A11yUnderlineLinksInTextBlock %>
        </div>
        <div class="py-1">
          <%= link_to "Show less", "#", class: "js-try-emu-toggle-text btn" %>
          <%= render(Primer::Beta::Link.new(href: ent_contact_url, ml: 3)) { "Talk to Sales" } %>
        </div>

      </div>
    </div>
  <% end %>
<% end %>
