<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div <%= test_selector("scim-configuration") %>>
  <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
    <% component.with_heading(tag: :h2, display: :flex, align_items: :center) do %> SCIM Configuration
      <%= render(Primer::Beta::Label.new(scheme: :success, ml: 1)) { "Beta" } %>
    <% end %>
  <% end %>
  <div class="saml-settings-form">
    <%= form_tag enterprise_scim_configuration_path(this_business), method: :patch do |f| %>
      <div class="form-checkbox">
        <input id="scim_configuration" type="checkbox" name="scim_configuration"
                <%= "checked" if this_business.saml_sso_enabled? && this_business.open_scim_enabled? %>>
        <label for="scim_configuration_checkbox">Enable SCIM configuration</label>
        <p class="note color-fg-muted">
          If enabled, your enterprise's SCIM API endpoints will permit reads and writes from any authorized personal access token.
          All SCIM calls should be backed by a single source of truth in your identity system.
          Please note that enabling SCIM provisioning will disable SAML Just-In-Time provisioning of users.
          <%= render(Primer::Beta::Link.new(href: DocsUrlConfig.url_for("enterprise-admin/scim"), classes: "Link--inTextBlock")) { "Learn more." } %>
        </p>
      </div>
      <%= render Primer::ButtonComponent.new(type: :submit, ml: 3) do %>Save<% end %>
    <% end %>
  </div>
</div>
