<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div <%= test_selector("single-sign-on-settings") %>>
  <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
    <% component.with_heading(tag: :h2, display: :flex, align_items: :center) do %>Single sign-on settings<% end %>
  <% end %>
  <div class="saml-settings-form">
    <%= form_tag enterprise_sso_redirect_enabled_path(this_business), method: :patch do |f| %>
      <div class="form-checkbox">
        <input id="enable_sso_redirect_checkbox" type="checkbox" name="enable_sso_redirect"
                <%= "checked" if this_business.sso_redirect_enabled? %>>
        <label for="enable_sso_redirect_checkbox">Automatically redirect users to sign in</label>
        <p class="note color-fg-muted">
          If enabled, visitors to resources owned by your enterprise will be redirected to your identity provider to sign in, if they're not already signed in to your enterprise.
        </p>
      </div>
      <%= render Primer::ButtonComponent.new(type: :submit, ml: 3) do %>Save<% end %>
    <% end %>
  </div>
</div>
