<%
  org = repository.owner
  card_type = is_issue ? "issue" : "pull request"

  # Following the logic for generating the SSO path seen in platform/objects/organization.rb resolver
  template = Addressable::Template.new("/orgs/{org}/sso")
  path = template.expand org: org.display_login

  sso_url = org_sso_path(path: path, return_to: return_to_path)
%>

<div class="p-3" <%= test_selector("issue-sso-hovercard") %>>
  <div class="d-flex width-full text-small">
    <%= primer_octicon(:"shield-lock", height: 36, color: :muted) %>
    <div class="ml-3">
      <a class="d-inline-block text-underline" href="<%= sso_url %>">Single sign-on</a>
      to view this <%= card_type %> within the <strong><%= org.display_login %></strong> organization.
   </div>
  </div>
</div>
