<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<article class="border rounded color-shadow-small color-bg-default my-4">
  <% if @event.image.present? %>
    <%= render(Primer::Beta::Link.new(
      border: :bottom,
      data: explore_click_tracking_attributes(
        actor: current_user,
        click_target: :EVENT_URL,
        click_visual_representation: :EVENT_IMAGE,
        ga_click_text: "Explore, go to event, location:explore feed; text:#{@event.display_name}",
      ),
      display: :block,
      href: @event.url,
    )) do %>
      <img
        loading="lazy"
        src="<%= image_path @event.image %>"
        alt="<%= @event.display_name %>"
        class="d-block width-fit mx-auto"
      >
    <% end %>
  <% end %>

  <div class="p-3">
    <h2 class="f6 color-fg-muted mb-3" <%= test_selector("upcoming-event-rec") %>>
      <%= render(Primer::Beta::Text.new(
        aria: { label: "This is a recommendation by GitHub staff" },
        classes: "tooltipped tooltipped-ne",
      )) do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        <%= render Primer::Beta::Octicon.new(icon: "mark-github", mr: 1, color: :default) %>
      <% end %>

      Upcoming event recommended by GitHub
    </h2>

    <div class="d-flex">
      <div class="text-center mr-4 ml-2">
        <div class="f5 color-fg-danger text-uppercase">
          <%= @event.start_month %>
        </div>

        <div class="f2-light color-fg-muted">
          <%= @event.start_day %>
        </div>
      </div>

      <div class="flex-auto">
        <h3 class="h3 wb-break-word">
          <%= render(Primer::Beta::Link.new(
            data: explore_click_tracking_attributes(
              actor: current_user,
              click_target: :EVENT_URL,
              click_visual_representation: :EVENT_TITLE,
              ga_click_text: "Explore, go to event, location:explore feed; "\
                "text:#{@event.display_name}",
            ),
            href: @event.url,
          )) do %>
            <%= @event.display_name %>
          <% end %>
        </h3>

        <p class="color-fg-muted">
          <%= @event.alternative_date_text.presence || @event.long_date_range %>
          •
          <%= @event.location_short_name %>
        </p>

        <%= render Primer::Beta::Markdown.new(font_size: 5, mb: 2) do %>
          <%= @event.short_description %>
        <% end %>
      </div>
    </div>
  </div>
</article>
