<li class="py-3 py-lg-5 d-sm-flex">
  <%= render(Primer::Beta::Link.new(
    col: [8, 4, 3, 4],
    data: {
      **analytics_click_attributes(
        category: "Events",
        action: "go to #{@event.display_name}",
        label: "location:github conferences"
      )
    },
    display: :block,
    href: @event.url,
    pr: 4,
  )) do %>
    <img src="<%= image_path @event.image %>" alt="<%= @event.display_name %> Event" class="width-fit">
  <% end %>

  <div class="col-sm-8 col-md-9 col-lg-8 d-md-flex flex-items-center d-lg-block">
    <div class="col-md-8 col-lg-12">
      <h3>
        <%= render(Primer::Beta::Link.new(
          data: {
            **analytics_click_attributes(
              category: "Events",
              action: "go to #{@event.display_name}",
              label: "location:github conferences"
            )
          },
          href: @event.url,
        )) do %>
          <%= @event.display_name %>
        <% end %>
      </h3>

      <p class="color-fg-muted f5">
        <%= @event.alternative_date_text.presence || @event.long_date_range %>
      </p>

      <p class="mb-3"><%= @event.short_description %></p>
    </div>

    <div class="col-md-4 col-lg-12 text-md-right text-lg-left">
      <%= render(Primer::Beta::Link.new(
        classes: "btn",
        data: {
          **analytics_click_attributes(
            category: "Events",
            action: "go to #{@event.display_name}",
            label: "location:github conferences"
          )
        },
        href: @event.url,
      )) do %>
        Learn more
      <% end %>
    </div>
  </div>
</li>
