<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<article class="my-3 mt-md-0">
  <%= render(Primer::Beta::Link.new(
    bg: :default,
    h: :full,
    border: true, classes: "hover-grow flex-column flex-justify-end overflow-hidden rounded",
    data: explore_click_tracking_attributes(
      actor: current_user,
      click_target: :EVENT_URL,
      click_visual_representation: :EVENT_IMAGE,
      ga_click_text: "Explore, go to #{@event.display_name}, "\
        "location: topics show page, related event",
    ),
    display: :flex,
    href: @event.url,
    position: :relative,
    underline: false,
  )) do %>
    <div class="position-absolute top-0 right-0 bottom-0 left-0 overflow-hidden text-center">
      <% if @event.image.blank? %>
        <span class="mx-auto">
          <%= render(Primer::Beta::Octicon.new(
            color: :muted,
            icon: "calendar",
            height: 64,
            style: "opacity: 0.5;",
            w: :fit
          )) %>
        </span>
      <% else %>
        <img
          loading="lazy"
          src="<%= image_path @event.image %>"
          alt="<%= @event.display_name %>"
          class="d-block width-fit mx-auto"
        >
      <% end %>
    </div>

    <div class="position-relative border-top color-bg-default">
      <div class="p-4">
        <div class="h6 text-uppercase color-fg-muted">Event</div>
        <h1 class="h3 color-fg-default lh-condensed mb-1">
          <%= @event.display_name %>
        </h1>

        <p class="f5 color-fg-muted mb-0">
          <%= @event.sponsored_date_range %> • <%= @event.location_short_name %>
        </p>
      </div>
    </div>
  <% end %>
</article>
