<div class="container-lg p-responsive border-bottom py-5">
  <div class="col-md-9">
    <div class="h5 text-uppercase color-fg-muted">
      <%= render Primer::Beta::Link.new(href: events_path, color: :muted) do %>
        Event
      <% end %>
    </div>

    <h1 class="h1 lh-condensed mt-3 mb-4">
      <%= @event.display_name %>
    </h1>

    <div class="clearfix">
      <% if @event.image.present? %>
        <div
          class="float-md-right col-md-6 rounded color-bg-default p-3 mt-md-2 mr-md-n6 mb-6 ml-md-6"
          <% if @event.color.present? %>
            style="background-color: #<%= @event.color %> !important;"
          <% end %>
        >
          <div
            class="overflow-hidden color-shadow-small rounded-2 color-bg-default"
            style="max-height: 250px; <% if @event.color.present? %>background-color: #<%= @event.color %> !important;<% end %>"
          >
            <img
              src="<%= @event.image %>"
              alt="<%= @event.display_name %>"
              class="d-block width-full"
            >
          </div>
        </div>
      <% end %>

      <h2 class="h3">
        When
      </h2>

      <p class="color-fg-muted"><%= @event.long_date_range %></p>

      <h2 class="h3 mt-3">
        Where
      </h2>

      <p class="color-fg-muted"><%= @event.location_full_address %></p>

      <div class="border-bottom overflow-hidden my-4"></div>

      <div class="color-fg-muted mt-4">
        <% if @event.content.present? %>
          <%= @event.content %>
        <% else %>
          <p><%= @event.short_description %></p>
        <% end %>
      </div>

      <% if @event.external_url.present? %>
        <%= render(Primer::Beta::Link.new(
          classes: "btn btn-large",
          data: {
            **analytics_click_attributes(
              category: "#{@event.display_name}",
              action: "go to external URL"
            )
          },
          href: @event.external_url,
          my: 4,
        )) do %>
          Visit event website
          <%= render(Primer::Beta::Octicon.new(
            icon: "link-external",
            ml: 1,
            vertical_align: :middle,
          )) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
