<% for_stafftools ||= false %>
<%= form_tag reports_url,
  method: :post,
  class: "js-dormant-users-reports-form" do %>

  <% if !GitHub.compliance_reports_available? %>
    <%= render Primer::Beta::Subhead.new(spacious: true, hide_border: true) do |component| %>
      <% component.with_heading(tag: :h2, display: :flex, align_items: :center) do %>Other<% end %>
    <% end %>
  <% end %>

  <div class="Box mt-4" <%= test_selector "dormant-users-reports" %>>
    <div class="Box-header d-flex flex-items-center">
      <h3 id="reports">Reports</h3>
    </div>
    <div class="Box-row">
      <div class="d-flex flex-column flex-sm-row flex-items-start flex-sm-items-center flex-justify-between">
        <div class="col-12 col-sm-9 mr-5">
          <h4>Dormant Users</h4>
          <div class="color-fg-muted mt-2">
            Organization members and outside collaborators who have been inactive for 90 days.
            See
            <%= link_to "Managing dormant users",
            "#{GitHub.help_url}/admin/user-management/managing-users-in-your-enterprise/managing-dormant-users",
            target: "_blank", class: "Link--inTextBlock" %> for more information on what inactivity means.
          </div>
        </div>
        <div class="d-flex flex-items-center">
          <% report_in_progress = reports.any?(&:in_progress?) %>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            data: { "disable-with": "" },
            disabled: report_in_progress,
            mt: [3, 0]
          ) do %>
            New report
          <% end %>
        </div>
      </div>
      <%= render(Primer::Alpha::Banner.new(
        scheme: :danger,
        mt: 3,
        hidden: true,
        classes: ["js-dormant-users-reports-error"]
      )) { "Something went wrong when creating your new report." } %>
    </div>

    <% if reports.any? %>
      <%= render partial: "businesses/settings/dormant_users_export/recent_reports", locals: {
        for_stafftools: for_stafftools,
        reports: reports
      } %>
    <% end %>
  </div>
<% end %>
