<div id="dormant-users-recent-reports" class="Box-row d-flex flex-column dormant-users-recent-reports">
  <% in_progress_reports, finished_reports = reports.partition(&:in_progress?) %>
  <% reports_to_display = 3 %>
  <% finished_reports_num_to_show = in_progress_reports.any? ? reports_to_display - 1 : reports_to_display %>

  <% if in_progress_reports.any? || finished_reports.any? %>
   <div>
      <h4>Recent reports</h4>
      <% if in_progress_reports.any? %>
        <% report = in_progress_reports.first %>
        <div class="d-flex flex-column flex-sm-row flex-items-start flex-sm-items-center flex-justify-between mt-3">
          <div class="mr-0 mr-sm-5">
            <div class="d-flex">
                <%= render Primer::Beta::Octicon.new(:file, mt: 1, mr: 2) %>
                <div class="d-flex flex-column">
                  <div>
                    <span><%= report.human_filename %></span>
                  </div>
                  <div class="js-in-progress-report-status-container js-socket-channel" data-channel="<%=live_update_view_channel(GitHub::WebSocket::Channels.business_report_export_status(report.business_report_export)) %>">
                    <span class="color-fg-muted js-progress-status">In progress… <%= "#{report.status} users" if report.status %></span>
                  </div>
                </div>
            </div>
          </div>
          <div class="d-flex flex-justify-end">
            <div class="d-flex flex-items-center">
              <%= render(Primer::Beta::Spinner.new(size: :small)) %>
            </div>

            <% if for_stafftools %>
              <%= render(Primer::Alpha::Dialog.new(
                id: "cancel-report-#{report.business_report_export.id}",
                title: "Cancel report",
              )) do |dialog| %>
                <% dialog.with_show_button(
                  scheme: :danger,
                  ml: 2,
                  test_selector: "cancel-report-button-#{report.business_report_export.id}"
                ) { "Cancel" } %>
                <%= form_tag \
                  dormant_users_export_destroy_stafftools_enterprise_path(id: report.business_report_export.id),
                  method: :delete do %>
                  <%= render(Primer::Alpha::Dialog::Body.new) do %>
                    <p>
                      If a report is stuck, you can cancel the report so that a new report can be generated.
                    </p>
                    <p>
                      Are you sure you want to cancel this report?
                    </p>
                  <% end %>
                  <%= render(Primer::Alpha::Dialog::Footer.new) do %>
                    <%= render(Primer::Beta::Button.new(
                      type: :submit,
                      scheme: :danger,
                      "data-disable-with": ""
                    )) { "Yes, cancel report" } %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if finished_reports.any? %>
        <% finished_reports.first(finished_reports_num_to_show).each do |report| %>
          <div class="d-flex flex-column flex-sm-row flex-items-start flex-sm-items-center flex-justify-between mt-3">
            <div class="mr-0 mr-sm-5">
              <div class="d-flex">
                <%= render Primer::Beta::Octicon.new(:file, mt: 1, mr: 2) %>
                <div class="d-flex flex-column">
                  <div>
                    <% if report.has_errored? %>
                      <span class="color-fg-danger"><%= report.human_filename %></span>
                    <% else %>
                      <%= render(Primer::Beta::Link.new(href: report.download_url)) { report.human_filename } %>
                    <% end %>
                    <% if report.triggered_via_stafftools %>
                      <%= render(Primer::Beta::Label.new(scheme: :info)) { GitHub.enterprise? ? "Site Admin" : "Stafftools" } %>
                    <% end %>
                  </div>
                  <% if report.has_errored? %>
                    <span class="color-fg-muted">Error</span>
                  <% else %>
                    <span class="color-fg-muted">
                      Generated
                      <% if report.actor.present? %>
                        by <%= report.actor.display_login %>
                      <% end %>
                      <%= time_ago_in_words(report.created_at) %> ago •
                      Expires in <%= distance_of_time_in_words(DateTime.now, report.created_at + GHECAdmin::EnterpriseDormantUsersExport::GHEC_DORMANCY_REPORT_EXPIRY_TIME) %>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="d-flex flex-items-center">
              <% if report.has_errored? %>
                <% if for_stafftools %>
                  <%= form_tag dormant_users_export_destroy_stafftools_enterprise_path(id: report.business_report_export.id), method: :delete do %>
                    <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, block: true, mt: [2, 0], ml: [4, 0]) do %>
                      Delete
                    <% end %>
                  <% end %>
                <% else %>
                  <%= form_tag dormant_users_export_destroy_enterprise_path(id: report.business_report_export.id), method: :delete do %>
                    <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, block: true, mt: [2, 0], ml: [4, 0]) do %>
                      Delete
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                <% if for_stafftools %>
                  <% if report.triggered_via_stafftools %>
                    <%= render Primer::Beta::Button.new(href: report.download_url, tag: :a, mt: [2, 0], ml: [4, 0]) do %>
                      <%= render(Primer::Beta::Octicon.new(icon: "download", mr: 1)) %>
                      Download
                    <% end %>
                  <% end %>
                <% else %>
                  <%= render Primer::Beta::Button.new(href: report.download_url, tag: :a, mt: [2, 0], ml: [4, 0]) do %>
                    <%= render(Primer::Beta::Octicon.new(icon: "download", mr: 1)) %>
                    Download
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
