<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%
  pulls_only = false unless defined?(pulls_only)
  select_menu_url = show_menu_content_issues_path(partial: "issues/filters/assigns_content", q: query, pulls_only: pulls_only)
%>

<details class="details-reset details-overlay d-inline-block position-relative px-3" id="assignees-select-menu">
  <summary class="btn-link" title="Assignees" data-hotkey="a" aria-haspopup="true" data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Table filter, Assignee"><%# erblint:disable DataHotkey, GitHub::Accessibility::NoTitleAttribute %>
    Assignee
    <span class="dropdown-caret hide-sm"></span>
  </summary>
  <details-menu class="SelectMenu SelectMenu--hasFilter right-md-0" role="menu" src="<%= select_menu_url %>" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <span class="SelectMenu-title">Filter by who’s assigned</span>
        <button class="SelectMenu-closeButton" type="button" data-toggle-for="assignees-select-menu">
          <%= primer_octicon(:x, "aria-label": "Close menu") %>
        </button>
      </header>
      <div class="SelectMenu-filter">
        <input type="text" id="assigns-filter-field" class="SelectMenu-input form-control js-filterable-field" placeholder="Filter users" aria-label="Filter users" autocomplete="off" autofocus>
      </div>
      <div class="SelectMenu-list select-menu-list" data-filter="assignee">
        <div data-filterable-for="assigns-filter-field" data-filterable-type="substring">
          <% filtered_assignees = issues_search_term_values(:assignee) %>
          <% selected = issues_search_term_values(:no).include?("assignee") %>
          <% url = issues_search_query(replace: { no: selected ? nil : "assignee", assignee: nil }, pulls_only: pulls_only) %>
          <a class="SelectMenu-item <% if selected %>selected<% end %>" aria-checked="<%= selected %>" href="<%= url %>" role="menuitemradio">
            <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
            <strong>Assigned to nobody</strong>
          </a>
          <% if logged_in? %>
            <% user = current_user %>
            <% selected = filtered_assignees.include?(user.display_login) %>
            <% url = issues_search_query(replace: { assignee: !selected ? user.display_login : nil }, pulls_only: pulls_only) %>
            <a class="SelectMenu-item" aria-checked="<%= selected %>" role="menuitemradio" href="<%= url %>">
              <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
              <%= avatar_for user, 20, class: "avatar flex-shrink-0 mr-2" %>
              <strong class="mr-2"><%= user.display_login %></strong>
              <span class="color-fg-muted css-truncate css-truncate-overflow"><%= user.profile_name %></span>
            </a>
          <%end %>
          <include-fragment class="SelectMenu-loading">
            <%= render(Primer::Beta::Spinner.new(mx: :auto, display: :block)) %>
          </include-fragment>
        </div>
        <%= form_tag issues_search_query(pulls_only: pulls_only), class: "select-menu-new-item-form js-new-item-form", method: :get do %>
          <input type="hidden" name="q" value="<%= query %>">
          <button class="SelectMenu-item d-block js-new-item-value" type="submit" name="assignee" role="menuitem">
            <div class="text-bold f5">assignee:<span class="js-new-item-name"></span></div>
            <div class="color-fg-muted">Filter by this user</div>
          </button>
        <% end %>
      </div>
    </div>
  </details-menu>
</details>
