<%
  filtered_assignees = issues_search_term_values(:assignee)
  users = populate_assignees.partition do |user|
    filtered_assignees.include?(user.display_login)
  end.flatten
  users = users.select { |u| u != current_user }
  users.each do |user|
%>
  <% selected = filtered_assignees.include?(user.display_login) %>
  <% url = issues_search_query(replace: { assignee: !selected ? user.display_login : nil }, pulls_only: pulls_only) %>
  <a class="SelectMenu-item" aria-checked="<%= selected %>" role="menuitemradio" href="<%= url %>">
    <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
    <%= avatar_for user, 20, class: "avatar flex-shrink-0 mr-2" %>
    <strong class="mr-2"><%= user.display_login %></strong>
    <span class="color-fg-muted css-truncate css-truncate-overflow"><%= user.profile_name %></span>
  </a>
<% end %>
