<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%
  pulls_only = false unless defined?(pulls_only)
  select_menu_url = show_menu_content_issues_path(partial: "issues/filters/authors_content", q: query, pulls_only: pulls_only)
%>

  <details class="details-reset details-overlay d-inline-block position-relative px-3" id="author-select-menu">
    <summary class="btn-link" title="Author" data-hotkey="u" aria-haspopup="true" data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Table filter, Author"><%# erblint:disable DataHotkey, GitHub::Accessibility::NoTitleAttribute %>
      Author
      <span class="dropdown-caret hide-sm"></span>
    </summary>
    <details-menu class="SelectMenu SelectMenu--hasFilter right-lg-0" role="menu" src="<%= select_menu_url %>" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="SelectMenu-modal">
        <header class="SelectMenu-header">
          <span class="SelectMenu-title">Filter by author</span>
          <button class="SelectMenu-closeButton" type="button" data-toggle-for="author-select-menu">
            <%= primer_octicon(:x, "aria-label": "Close menu") %>
          </button>
        </header>
        <div class="SelectMenu-filter">
          <input class="SelectMenu-input form-control js-filterable-field" id="author-filter-field" type="text" placeholder="Filter users" aria-label="Filter users" autocomplete="off" spellcheck="false" autofocus>
        </div>
        <div class="SelectMenu-list select-menu-list" data-filter="author">
          <div data-filterable-for="author-filter-field" data-filterable-type="substring">
            <% if logged_in? %>
              <% user = current_user %>
              <% filtered_authors = issues_search_term_values(:author) %>
              <% selected = filtered_authors.include?(user.display_login) %>
              <% display_login = user.is_a?(Bot) ? user.to_query_filter : user.display_login %>
              <% url = issues_search_query(replace: { author: !selected ? display_login : nil }, pulls_only: pulls_only) %>
              <%= render(Issues::IssueFilterAuthorComponent.new(user: user, url: url, selected: selected)) %>
            <% end %>
            <include-fragment class="SelectMenu-loading">
              <%= render(Primer::Beta::Spinner.new(mx: :auto, display: :block)) %>
            </include-fragment>
          </div>
          <%= form_tag issues_search_query(pulls_only: pulls_only) , class: "select-menu-new-item-form js-new-item-form", method: :get do %>
            <input type="hidden" name="q" value="<%= query %>">
            <button class="SelectMenu-item d-block js-new-item-value" type="submit" name="author" role="menuitem">
              <div class="text-bold f5">author:<span class="js-new-item-name"></span></div>
              <div class="color-fg-muted">Filter by this user</div>
            </button>
          <% end %>
        </div>
      </div>
    </details-menu>
  </details>
