<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%
  pulls_only = false unless defined?(pulls_only)
  url = show_menu_content_issues_path(partial: "issues/filters/labels_content", q: query, pulls_only: pulls_only)
%>

<details class="details-reset details-overlay d-inline-block position-relative px-3" id="label-select-menu">
  <summary class="btn-link" title="Label" data-hotkey="l" aria-haspopup="true" <%= test_selector("labels-select-menu") %> data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Table filter, Label"><%# erblint:disable DataHotkey, GitHub::Accessibility::NoTitleAttribute %>
    Label
    <span class="dropdown-caret hide-sm"></span>
  </summary>
  <details-menu class="SelectMenu SelectMenu--hasFilter right-lg-0" role="menu" src="<%= url %>" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal">
      <header class="SelectMenu-header">
        <span class="SelectMenu-title">Filter by label</span>
        <button class="SelectMenu-closeButton" type="button" data-toggle-for="label-select-menu">
          <%= primer_octicon(:x, "aria-label": "Close menu") %>
        </button>
      </header>
      <div class="SelectMenu-filter">
        <input type="text" id="label-filter-field" class="SelectMenu-input form-control js-filterable-field" placeholder="Filter labels" aria-label="Filter labels" autocomplete="off" autofocus>
      </div>
      <include-fragment class="SelectMenu-loading">
        <%= render(Primer::Beta::Spinner.new(mx: :auto, display: :block)) %>
      </include-fragment>
      <footer class="SelectMenu-footer">
        <div class="text-left">
          <span>Use <kbd class="js-modifier-key">alt</kbd> + <kbd>click/return</kbd> to exclude labels</span>
        </div>
        <div class="text-left mt-1">
          <span>or <kbd>⇧</kbd> + <kbd>click/return</kbd> for logical OR</span>
        </div>
      </footer>
    </div>
  </details-menu>
</details>
