<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<%
  states = issues_search_term_values(:state) + issues_search_term_values(:is)
  pulls_only = false unless defined?(pulls_only)
%>

<div class="table-list-header-toggle states flex-auto pl-0" aria-live="polite">
  <% if states.include?("unmerged") || states.include?("merged") %>
    <% state = states.include?("unmerged") ? "unmerged" : "merged" %>
    <a href="<%= issues_search_query(append: [[:is, state]], pulls_only: pulls_only) %>" class="btn-link selected">
      <%= primer_octicon(:"git-pull-request") %>
      <%= number_with_delimiter (issues.any? ? issues.total_entries : 0) %> Total
    </a>
  <% else %>
    <% state = states.include?("open") ? nil : "open" %>
    <a href="<%= issues_search_query(append: [[:is, 'open']], pulls_only: pulls_only) %>" class="btn-link <%= 'selected' if states.include?("open") %>" data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Table state, Open">
      <%= primer_octicon(pulls_only ? "git-pull-request" : "issue-opened") %>
      <%= number_with_delimiter open_count %> Open
    </a>

    <% state = states.include?("closed") ? nil : "closed" %>
    <a href="<%= issues_search_query(append: [[:is, 'closed']], pulls_only: pulls_only) %>" class="btn-link <%= 'selected' if states.include?("closed") %>" data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Table state, Closed">
      <%= primer_octicon(:check) %>
      <%= number_with_delimiter closed_count %> Closed
    </a>
  <% end %>
</div>
