<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  pulls_only = false unless defined?(pulls_only)
%>

<details class="details-reset details-overlay d-inline-block position-relative px-3" id="visiblity-select-menu">
  <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, "data-hotkey": "v", "aria-haspopup": "true", "data-ga-click": "#{ pulls_only ? "Pull Requests" : "Issues" }, Table filter, Visibility") do %>
    Visibility
    <span class="dropdown-caret hide-sm"></span>
  <% end %>
  <details-menu class="SelectMenu SelectMenu--hasFilter right-0" role="menu" aria-label="Filter by Repository Visiblity"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal">
      <div class="SelectMenu-header">
        <span class="SelectMenu-title">Repository visibility</span>
        <button class="SelectMenu-closeButton" type="button" data-toggle-for="visiblity-select-menu">
          <%= primer_octicon(:x, "aria-label": "Close menu") %>
        </button>
      </div>
      <div class="SelectMenu-list">
        <% filters = issues_search_term_values(:is) %>

        <%
          url = if selected = filters.include?("private")
            # TODO: This should be happening elsewhere.
            parsed_issues_query.delete_if { |component| component == [:is, "private"] }
            issues_search_query(pulls_only: pulls_only)
          else
            issues_search_query(append: [[:is, "private"]], pulls_only: pulls_only)
          end
        %>
        <a href="<%= url %>" class="SelectMenu-item" aria-checked="<%= selected %>" role="menuitemradio">
          <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
          <span>Private repositories only</span>
        </a>

        <%
          url = if selected = filters.include?("public")
            # TODO: This should be happening elsewhere.
            parsed_issues_query.delete_if { |component| component == [:is, "public"] }
            issues_search_query(pulls_only: pulls_only)
          else
            issues_search_query(append: [[:is, "public"]], pulls_only: pulls_only)
          end
        %>
        <a href="<%= url %>" class="SelectMenu-item" aria-checked="<%= selected %>" role="menuitemradio">
          <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
          <span>Public repositories only</span>
        </a>
      </div>
    </div>
  </details-menu>
</details>
