<% if followers.any? %>
  <% followers.each do |follower| %>
    <%= render partial: "users/follow_user", locals: {user: follower} %>
  <% end %>

  <div class="paginate-container" <%= test_selector("pagination") %>>
    <%= simple_paginate followers %>
  </div>

<% elsif followers.total_entries > 0 %>
  <p class="mt-4">That’s it. You’ve reached the end of <%= "#{organization.display_login}’s" %> followers.</p>

<% else %>
  <%= render Primer::Beta::Blankslate.new(mt: 4) do |c| %>
    <% c.with_visual_icon(icon: :people) %>
    <% c.with_heading(tag: :h3).with_content("#{organization.display_login} doesn’t have any followers yet.") %>
    <% c.with_description do %>
      <p><a href="https://docs.github.com/get-started/quickstart/be-social">Learn more about being social on GitHub.</a></p>
    <% end %>
  <% end %>
<% end %>
