<div class="js-pinned-items-reorder-container">
  <% if viewer_can_change_pinned_items? && (has_pinned_items? || enterprise_managed_user_enabled?) %>
    <div class="float-right">
      <%= render Profiles::ProfilePins::PinnedItemsComponent.new(
        show_button_name: "Customize pins",
        profile_user: profile_user,
        view_as: view_as,
        viewing_as_member: viewing_as_member?,
        data: profile_click_tracking_attrs(:CUSTOMIZE_PINS_LINK),
        dialog_location: "org-profile"
      )
      %>
    </div>
  <% end %>

  <h2 class="f4 mb-2 text-normal">
    <% if enterprise_managed_user_enabled? %>
      Pinned
    <% elsif viewing_as_member? %>
      <% if has_pinned_items? %>
        Pinned
      <% end %>
    <% else %>
      <% if !has_pinned_items? && items.any? %>
        Popular repositories
      <% else %>
        Pinned
      <% end %>
    <% end %>

    <%= render Primer::Beta::Spinner.new(
      size: :small,
      vertical_align: :text_bottom,
      ml: 1,
      classes: "spinner pinned-items-spinner js-pinned-items-spinner",
    ) %>
    <span
      class="ml-2 color-fg-muted f6 js-pinned-items-reorder-message"
      role="status"
      aria-live="polite"
      data-error-text="Something went wrong."
      data-success-text="Order updated."
    ></span>
  </h2>

  <% if has_pinned_items? %>
    <% if viewer_can_change_pinned_items? %>
      <%= form_tag(
        user_reorder_pinned_items_path(profile_user.display_login, view_as: view_as),
        class: "js-pinned-items-reorder-form",
        id: "user-#{profile_user.id}-pinned-items-reorder-form",
        method: :put,
      ) do |f| %>
        <%= render(
          "profile_pins/pinned_items",
          pinned_items: items,
          profile_owner: profile_user,
          viewer_can_change_pinned_items: viewer_can_change_pinned_items?,
        ) %>
      <% end %>
    <% else %>
      <%= render(
        "profile_pins/pinned_items",
        pinned_items: items,
        profile_owner: profile_user,
        viewer_can_change_pinned_items: viewer_can_change_pinned_items?,
      ) %>
    <% end %>
  <% elsif items.any? && !viewing_as_member? %>
    <%= render "users/tabs/popular_repos", popular_repositories: items %>
  <% else %>
    <% if show_empty_state? %>
      <%= render Primer::Beta::Blankslate.new(mb: 4) do |c| %>
        <% c.with_heading(tag: :h2) do %>
          <%= blank_title %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
