<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= render layout: "businesses/custom_messages/layout" do %>
  <div>
    <%= form_with \
      url: enterprise_announcement_path(this_business),
      method: :patch do |f| %>
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2) do %>Announcement<% end %>
      <% end %>
      <%= render(Comments::PreviewableCommentFormComponent.new(
        body: announcement,
        textarea_id: "custom_message_input_value",
        field_name: "custom_messages[announcement]",
        placeholder: "Set an announcement to be displayed to all users.",
        session_resumable: false,
        allow_attachments: false,
        required: false,
        subject: custom_messages
      )) %>
      <div>
        <dl class="form-group">
          <dt class="input-label">
            <label for="announcement_expires_at">Expires on (optional)</label>
          </dt>
          <dd>
            <input type="date" pattern="\d\d\d\d-\d\d-\d\d" placeholder="yyyy-mm-dd"
              class="form-control" id="announcement_expires_at"
              name="custom_messages[announcement_expires_at]"
              value="<%= expires_at.strftime("%Y-%m-%d") if expires_at.present? %>">
          </dd>
        </dl>
      </div>
      <div class="form-checkbox" <%= test_selector "user-dismissible" %>>
        <%= f.label "custom_messages[user_dismissible]" do %>
          <%= f.check_box "custom_messages[user_dismissible]",
          { checked: user_dismissible },
          true,
          false %>
          User dismissible (optional)
        <% end %>
      </div>
      <div class="mt-3">
        <%= render Primer::ButtonComponent.new(scheme: :primary, float: :right, ml: 2, type: :submit, "data-disable-with": "Saving changes…", "aria-label": "Save changes") do %>
          Save changes
        <% end %>
      </div>
    <% end %>

    <div class="form-actions">
      <%= form_tag enterprise_announcement_preview_path(this_business),
        id: "preview", target: "_blank", method: :post do %>
        <%= hidden_field_tag "custom_message_preview_value" %>
        <%= hidden_field_tag "custom_message_preview_user_dismissible", user_dismissible %>
        <%= render Primer::ButtonComponent.new(ml: 2, classes: "js-preview-message") do %>
          Preview
        <% end %>
      <% end %>

      <% if announcement.present? %>
        <%= render layout: "shared/details_dialog", locals: {
            button_text: "Clear",
            button_class: "btn btn-danger",
            details_class: "float-right ml-2",
            title: "Clear announcement?"
        } do %>
          <div class="Box-body f5">
            Are you sure that you want to clear the current announcement?
          </div>
          <div class="Box-footer text-center">
            <%= form_with \
              url: enterprise_announcement_path(this_business),
              method: :patch do %>
              <%= hidden_field_tag "custom_messages[announcement]" %>
              <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>
                Yes, clear announcement
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
