<%= render layout: "businesses/custom_messages/layout" do %>
  <div>
    <%= form_for custom_messages, :url => custom_messages_enterprise_path(this_business) do |f| %>
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2) do %>Authorization provider name<% end %>
      <% end %>
      <div class="form-group">
        <%= f.text_field :auth_provider_name, id: "custom_message_input_value",
          placeholder: GitHub.auth.name, autocomplete: "off", type: "text",
          maxlength: 50, "aria-label": "authorization provider name" %>
      </div>
      <div class="mt-3">
        <%= render Primer::Beta::Button.new(
          scheme: :primary,
          float: :right,
          ml: 2,
          type: :submit,
          "data-disable-with": "Saving changes…",
          "aria-label": "Save changes"
        ) do %>
          Save changes
        <% end %>
      </div>
    <% end %>

    <div class="form-actions">
      <%= form_tag custom_message_preview_enterprise_path(this_business, message: "authorization_provider_name"),
        id: "preview", target: "_blank", method: :post do %>
        <%= hidden_field_tag "custom_message_preview_value" %>
        <%= render Primer::Beta::Button.new(
          type: :button,
          float: :right,
          ml: 2,
          classes: "js-preview-message"
        ) do %>
          Preview
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
