<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  is_cas_or_saml = GitHub.auth.saml? || GitHub.auth.cas?
  auth_name = GitHub.auth.saml? ? "SAML" : "CAS"
%>

<%= render layout: "businesses/custom_messages/layout" do %>
  <% if is_cas_or_saml %>
    <%= render(Primer::Beta::Flash.new(
      scheme: :warning,
      dismissible: true,
      mb: 4)) do %>
      Custom sign-in messages are disabled when <%= auth_name %> authentication is enabled.
      <% help_url = "#{GitHub.enterprise_admin_help_url}/user-management/customizing-user-messages-on-your-instance" %>
      <%= link_to "Learn why", help_url.sub('/unknown/', '/'), class: "Link--inTextBlock" %>.
    <% end %>
  <% end %>

  <div class="d-flex flex-column flex-items-center">
    <div class="Box col-12">
      <div class="Box-row d-flex flex-items-center">
        <div class="flex-self-start pr-3">
          <div class="p-2">
            <%= render Primer::Beta::Octicon.new(icon: "sign-in") %>
          </div>
        </div>
        <div class="flex-auto">
          <h3>Sign in page</h3>
          <div class="color-fg-muted">
            Add a custom message for all users on your <%= GitHub.flavor %> sign in page.
          </div>
        </div>
        <% if is_cas_or_saml %>
          <%= render Primer::ButtonComponent.new(classes: "disabled") do %>
            <% if current_sign_in_message.present? %>
              <%= render Primer::Beta::Octicon.new(icon: "pencil") %>
              Edit message
            <% else %>
              <%= render Primer::Beta::Octicon.new(icon: "plus") %>
              Add message
            <% end %>
          <% end %>
        <% else %>
          <%= link_to custom_message_enterprise_path(this_business, message: "sign_in_message"), class: "btn" do %>
            <% if current_sign_in_message.present? %>
              <%= render Primer::Beta::Octicon.new(icon: "pencil") %>
              Edit message
            <% else %>
              <%= render Primer::Beta::Octicon.new(icon: "plus") %>
              Add message
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="Box col-12 mt-4">
      <div class="Box-row d-flex flex-items-center">
        <div class="flex-self-start pr-3">
          <div class="p-2">
            <%= render Primer::Beta::Octicon.new(icon: "stop") %>
          </div>
        </div>
        <div class="flex-auto">
          <h3>Suspended user page</h3>
          <div class="color-fg-muted">
            Add a custom message for suspended users on your enterprise account’s suspended user page.
          </div>
        </div>
        <%= link_to custom_message_enterprise_path(this_business, message: "suspended_user_message"), class: "btn" do %>
          <% if current_suspended_message.present? %>
            <%= render Primer::Beta::Octicon.new(icon: "pencil") %>
            Edit message
          <% else %>
            <%= render Primer::Beta::Octicon.new(icon: "plus") %>
            Add message
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="Box col-12 mt-4">
      <div class="Box-row d-flex flex-items-center">
        <div class="flex-self-start pr-3">
          <div class="p-2">
            <%= render Primer::Beta::Octicon.new(icon: "sign-out") %>
          </div>
        </div>
        <div class="flex-auto">
          <h3>Sign out page</h3>
          <div class="color-fg-muted">
            Add a custom message for all users on your <%= GitHub.flavor %> sign out page.
          </div>
        </div>
        <%= link_to custom_message_enterprise_path(this_business, message: "sign_out_message"), class: "btn" do %>
          <% if current_sign_out_message.present? %>
            <%= render Primer::Beta::Octicon.new(icon: "pencil") %>
            Edit message
          <% else %>
            <%= render Primer::Beta::Octicon.new(icon: "plus") %>
            Add message
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="Box col-12 mt-4">
      <div class="Box-row d-flex flex-items-center">
        <div class="flex-self-start pr-3">
          <div class="p-2">
            <%= render Primer::Beta::Octicon.new(icon: "megaphone") %>
          </div>
        </div>
        <div class="flex-auto">
          <h3>Announcement</h3>
          <div class="color-fg-muted">
            Set a global announcement banner to be displayed to all users.
          </div>
        </div>
        <%= link_to edit_enterprise_announcement_path(this_business), class: "btn" do %>
          <% if current_announcement&.text.present? %>
            <%= render Primer::Beta::Octicon.new(icon: "pencil") %>
            Edit announcement
          <% else %>
            <%= render Primer::Beta::Octicon.new(icon: "plus") %>
            Add announcement
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="Box col-12 mt-4">
      <div class="Box-row d-flex flex-items-center">
        <div class="flex-self-start pr-3">
          <div class="p-2">
            <%= render Primer::Beta::Octicon.new(icon: "note") %>
          </div>
        </div>
        <div class="flex-auto">
          <h3>Mandatory message</h3>
          <div class="color-fg-muted">
            Set a mandatory message for all users.
          </div>
        </div>
        <%= link_to edit_enterprise_mandatory_message_path(this_business), class: "btn" do %>
          <% if current_mandatory_message.present? %>
            <%= render Primer::Beta::Octicon.new(icon: "pencil") %>
            Edit mandatory message
          <% else %>
            <%= render Primer::Beta::Octicon.new(icon: "plus") %>
            Add mandatory message
          <% end %>
        <% end %>
      </div>
    </div>

    <% if is_cas_or_saml %>
      <div class="Box col-12 mt-4">
        <div class="Box-row d-flex flex-items-center">
          <div class="flex-self-start pr-3">
            <div class="p-2">
              <%= render Primer::Beta::Octicon.new(icon: "lock") %>
            </div>
          </div>
          <div class="flex-auto">
            <h3>Authorization provider name</h3>
            <div class="color-fg-muted">
              Add a custom name for your authorization provider
            </div>
          </div>
          <%= link_to custom_message_enterprise_path(this_business, message: "authorization_provider_name"), class: "btn" do %>
            <% if current_auth_provider_name.present? %>
            <%= render Primer::Beta::Octicon.new(icon: "pencil") %>
              Edit name
            <% else %>
            <%= render Primer::Beta::Octicon.new(icon: "plus") %>
              Add name
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
<% end %>
