<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= render layout: "businesses/custom_messages/layout" do %>
  <div>
    <%= form_with \
      url: enterprise_mandatory_message_path(this_business),
      method: :patch do |f| %>
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2) do %>Mandatory message<% end %>
      <% end %>
      <%= render(Comments::PreviewableCommentFormComponent.new(
        body: mandatory_message,
        textarea_id: "custom_message_input_value",
        field_name: "custom_messages[mandatory_message]",
        placeholder: "Set mandatory message to be displayed to all new users.",
        session_resumable: false,
        allow_attachments: false,
        required: false,
        subject: custom_messages
      )) %>
      <div class="mt-3">
        You can use the
        <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/github/managing-your-work-on-github/about-task-lists">task list syntax</a>
        to create checkboxes in your mandatory message.
        The user needs to check all checkboxes in order to dismiss the message.
      </div>
      <div class="form-checkbox">
        <%= f.label "custom_messages[show_new_mandatory_message_to_all_users]" do %>
          <%= f.check_box "custom_messages[show_new_mandatory_message_to_all_users]",
            { checked: false }, true, false %>
          Show updated message to all users even if they dismissed the previous one.
        <% end %>
      </div>
      <div class="mt-3">
        <%= render Primer::ButtonComponent.new(scheme: :primary, float: :right, ml: 2, type: :submit, "data-disable-with": "Saving changes…", "aria-label": "Save changes") do %>
          Save changes
        <% end %>
      </div>
    <% end %>

    <div class="form-actions">
      <%= form_tag enterprise_mandatory_message_preview_path(this_business),
        id: "preview", target: "_blank", method: :post do %>
        <%= hidden_field_tag "custom_message_preview_value" %>
        <%= render Primer::ButtonComponent.new(ml: 2, classes: "js-preview-message") do %>
          Preview
        <% end %>
      <% end %>

      <% if mandatory_message.present? %>
        <%= render layout: "shared/details_dialog", locals: {
            button_text: "Clear",
            button_class: "btn btn-danger",
            details_class: "float-right ml-2",
            title: "Clear mandatory message?"
        } do %>
          <div class="Box-body f5">
            Are you sure that you want to clear the current mandatory message?
          </div>
          <div class="Box-footer text-center">
            <%= form_with \
              url: enterprise_mandatory_message_path(this_business),
              method: :patch do %>
              <%= hidden_field_tag "custom_messages[mandatory_message]" %>
              <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>
                Yes, clear mandatory message
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
