<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if announcement.present? %>
  <% content_for :global_notices do %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, full: true, classes: "js-notice")) do %>
      <div <%= test_selector "global-announcement-preview" %>>
        <% if user_dismissible %>
          <%= render Primer::Beta::CloseButton.new(type: :button, float: :right, aria: { label: "Dismiss" }) %>
        <% end %>
        <%= github_simplified_markdown announcement %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <% content_for :global_notices do %>
    <div></div>
  <% end %>
<% end %>

<div class="Box Box--spacious col-6 mx-auto text-center mt-4 p-4 f4">
  <%= primer_octicon(:info) %>
  <% if announcement.present? %>
    The announcement banner will appear to signed in users as shown above.
  <% else %>
    Empty announcements will not render a banner to signed in users.
  <% end %>
</div>
