<%= render layout: "businesses/custom_messages/layout" do %>
  <div>
    <%= form_for custom_messages, :url => custom_messages_enterprise_path(this_business) do |f| %>
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2) do %>Sign in message<% end %>
      <% end %>
      <%= render(Comments::PreviewableCommentFormComponent.new(
          body: custom_messages.sign_in_message,
          textarea_id: "custom_message_input_value",
          field_name: "custom_messages[sign_in_message]",
          placeholder: "Add a message",
          session_resumable: false,
          allow_attachments: false,
          required: false,
          subject: custom_messages
        )) %>
      <div class="mt-3">
        <%= render Primer::Beta::Button.new(
          scheme: :primary,
          float: :right,
          ml: 2,
          type: :submit,
          "data-disable-with": "Saving changes…",
          "aria-label": "Save changes"
        ) do %>
          Save changes
        <% end %>
      </div>
    <% end %>

    <div class="form-actions">
      <%= form_tag custom_message_preview_enterprise_path(this_business, message: "sign_in_message"),
        id: "preview", target: "_blank", method: :post do %>
        <%= hidden_field_tag "custom_message_preview_value" %>
        <%= render Primer::Beta::Button.new(
          type: :button,
          float: :right,
          classes: "js-preview-message"
        ) do %>
          Preview
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
