<%
  billable_owner = business ? this_business : this_user.billable_owner
  actions_source =
    if business
       stafftools_enterprise_billing_actions_usage_index_path(this_business)
    else
      stafftools_user_billing_actions_usage_index_path(this_user)
    end
  packages_source =
    if business
      stafftools_enterprise_billing_packages_usage_index_path(this_business)
    else
      stafftools_user_billing_packages_usage_index_path(this_user)
    end
%>

<div class="boxed-group">
  <h3>
  Shared Storage Billing
  </h3>
  <div class="boxed-group-inner">
    <% if show_spending %>
      <% if purchased_prepaid_metered_usage_refills > 0 %>
        <p><b>Prepaid Credits</b></p>
        <div class="mt-2">
          <%= primer_octicon(:graph, classes: "lfs-data-icon dark") %>
          <b>Credit</b> – <%= number_to_currency(remaining_prepaid_metered_usage_refills) %> remaining from <%= number_to_currency(purchased_prepaid_metered_usage_refills) %>
          <div class="usage-bar">
            <%= render(Primer::Beta::ProgressBar.new(size: :small)) do |component| %>
              <% component.with_item(bg: :accent_emphasis, percentage: ((purchased_prepaid_metered_usage_refills - remaining_prepaid_metered_usage_refills) / purchased_prepaid_metered_usage_refills) * 100) %>
            <% end %>
          </div>
        </div>
        <hr class="bleed-flush">
      <% end %>
    <% end %>

    <div class="mt-2">
      <% if shared_storage_usage.has_error? %>
        <%= primer_octicon(:stop, classes: "lfs-data-icon dark") %>
        Unable to load shared storage usage. <%= link_to "Refresh", "", class: "Link--inTextBlock" %> the page or try again later.
      <% else %>
        <div>
          <%= primer_octicon(:graph, classes: "lfs-data-icon dark") %>
          <b>Estimated Storage for the Month</b> –
          Using
          <%= number_with_delimiter((shared_storage_usage.estimated_monthly_private_megabytes.megabytes / 1.gigabytes.to_f).round(2)) %>GB of
          included <%= number_with_delimiter((shared_storage_usage.plan_included_megabytes.megabytes / 1.gigabytes.to_f).round(2)) %>GB

          <div class="usage-bar">
            <%= render(Primer::Beta::ProgressBar.new(size: :small)) do |component| %>
              <% component.with_item(bg: :accent_emphasis, percentage: (shared_storage_usage.estimated_monthly_private_megabytes / shared_storage_usage.plan_included_megabytes.to_f) * 100) %>
            <% end %>
          </div>
        </div>

        <div class="mt-2">
          <%= primer_octicon(:graph, classes: "lfs-data-icon dark") %>
          <b>Current Storage</b> –
          Using
          <%= number_with_delimiter((shared_storage_usage.latest_private_billable_stored_megabytes.megabytes / 1.gigabytes.to_f).round(2)) %>GB of
          included <%= number_with_delimiter((shared_storage_usage.plan_included_megabytes.megabytes / 1.gigabytes.to_f).round(2)) %>GB

          <div class="usage-bar">
            <%= render(Primer::Beta::ProgressBar.new(size: :small)) do |component| %>
              <% component.with_item(bg: :accent_emphasis, percentage: (shared_storage_usage.latest_private_billable_stored_megabytes / shared_storage_usage.plan_included_megabytes.to_f) * 100) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render(Primer::Beta::BorderBox.new(mb: 5)) do |component| %>
  <% component.with_header(py: 2, px: 3) do |h| %>
    <% h.with_title(tag: :h3) do %>
      Actions Billing
    <% end %>
  <% end %>
  <% component.with_body(pl: 0, py: 2, pr: 3) do %>
    <%= render(Billing::Settings::UsageLoaderComponent.new(
        loading_text: "Loading Actions data...",
        source:  actions_source,
        test_selector: "actions-usage-component-loader",
        classes: "m-3 text-center")) %>
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(mb: 5)) do |component| %>
  <% component.with_header(py: 2, px: 3) do |h| %>
    <% h.with_title(tag: :h3) do %>
      Packages Billing
    <% end %>
  <% end %>
  <% component.with_body(pl: 0, py: 2, pr: 3) do %>
    <%= render(Billing::Settings::UsageLoaderComponent.new(
        loading_text: "Loading Packages data...",
        source:  packages_source,
        test_selector: "packages-usage-component-loader",
        classes: "m-3 text-center")) %>
  <% end %>
<% end %>

