<% if @business.feature_enabled?(:copilot_mixed_licenses) %>
<bulk-org-action>
<% end %>
  <div class="d-flex flex-justify-between flex-items-center">
    <%= render(Primer::Beta::Text.new(tag: :h3, my: 3, font_weight: :normal)) { "Access management" } %>
    <% if @business.feature_enabled?(:copilot_mixed_licenses)%>
      <%= render Primer::Beta::Button.new(tag: :a, href: download_seat_management_usage_enterprise_path(@business), size: :medium) do |b| %>
        <% b.with_leading_visual_icon(icon: :file) %>
        CSV report
      <% end %>
    <% end %>
  </div>
  <%= form_with(url: search_settings_copilot_orgs_enablement_enterprise_path(@business), method: :post, class: "width-full mb-3", local: true)  do |f| %>
    <auto-complete class="auto-search-group" style="width: 100%">
      <input
        type="text"
        name="query"
        style="width: 100%"
        class="form-control auto-search-input input-contrast mr-0 js-copilot-organization-search"
        placeholder="Search organizations"
        <% if params[:query] %>
          value="<%= params[:query] %>"
        <% end %>
        aria-label="Search organizations">
      <%= render(Primer::Beta::Octicon.new(icon: "search", style: "margin-top: -2px;")) %>
    </auto-complete>
  <% end unless @copilot_business.copilot_disabled? %>

  <%= render(Primer::Beta::BorderBox.new(border_radius: 0, classes: "rounded-top-2", style: "margin-bottom: -2px")) do |component| %>
    <% if @copilot_business.copilot_disabled? %>
      <% component.with_header { "No organizations have access to Copilot" } %>
      <% component.with_body do %>
        <%= render(Primer::Beta::Text.new(tag: :p, mt: 3, font_size: 3, font_weight: :bold, text_align: :center)) { "Enable Copilot for organizations" } %>
        <%= render(Primer::Beta::Text.new(tag: :p, mb: 3, text_align: :center)) { "No organizations are using GitHub Copilot in this enterprise." } %>
      <% end %>
    <% elsif @copilot_business.copilot_enabled_for_all_organizations? && !@copilot_business.feature_enabled?(:copilot_mixed_licenses) %>
      <% component.with_header do |h| %>
        <%= render(Primer::Beta::Text.new(font_weight: :bold)) { "Organizations with access (#{@organizations.size})" } %>
      <% end %>
    <% elsif @copilot_business.copilot_enabled_for_selected_organizations? || @copilot_business.feature_enabled?(:copilot_mixed_licenses) %>
      <% component.with_header do |h| %>
        <% h.with_title(tag: :h4, id: "organization-header") do %>
          <div class="d-inline-flex flex-justify-between width-full" style="align-items: center;">
            <div class="d-inline-flex flex-justify-center">
              <input type="checkbox" id="select-all-checkbox" class="js-copilot-select-all-orgs mr-2" data-target="bulk-org-action.selectAllCheckbox">
              <label for="select-all-checkbox" class="table-list-header-meta py-0">
                <span id="copilot-org-select-default-header">
                  Select organizations
                </span>
              </label>
            </div>
            <div id="enterprise-management-bulk-menu" class="flex-justify-between" hidden>
              <% if @business.feature_enabled?(:copilot_mixed_licenses) %>
                <% if @copilot_business.copilot_enabled_for_selected_organizations? %>
                  <%= render(Primer::Beta::Button.new(
                    scheme: :danger,
                    data: { **bulk_actions_data(action: "disable"), action: "click:bulk-org-action#handleRemoveAccess" }
                  )) { "Remove access" } %>
                <% end %>
              <% else %>
                <%= form_with(url: update_settings_copilot_bulk_org_enablement_enterprise_path(@business), method: :put, local: true) do %>
                  <%= render(Primer::Alpha::ActionMenu.new) do |menu| %>
                    <% menu.with_show_button do |button| %>
                      <% button.with_trailing_visual_icon(icon: :"triangle-down") %>
                      <%= render(Primer::Beta::Text.new(color: :muted)) { "Copilot:" } %> Select option
                    <% end %>
                    <% menu.with_item(
                      label: "Enable",
                      content_arguments: {
                        classes: "js-enable-copilot-orgs",
                        data: bulk_actions_data(action: "enable")
                      }
                    ) do |item| %>
                      <% item.with_description.with_content("Selected organizations may assign GitHub Copilot seats to their members") %>
                    <% end %>
                    <% menu.with_divider %>
                    <% menu.with_item(
                      label: "Disable",
                      content_arguments: {
                        classes: "js-disable-copilot-orgs",
                        data: bulk_actions_data(action: "disable")
                      }
                    ) do |item| %>
                      <% item.with_description.with_content("Selected organizations won’t have access to Copilot") %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= render(Copilot::OrgEnablement::ListComponent.new(business: @business, organizations: @organizations, feature_requests: @feature_requests)) %>
<% if @business.feature_enabled?(:copilot_mixed_licenses) %>
</bulk-org-action>
<% end %>
