<p class="color-fg-muted" <%= test_selector("copilot-org-settings") %>>
  Control which organizations will have access to GitHub Copilot inside your enterprise.<br>
  Admins of an organization will receive an email with setup instructions.
</p>
<% if @copilot_business.copilot_billable? %>
  <%= render Primer::Alpha::ActionMenu.new(size: :small) do |menu| %>
    <% menu.with_show_button do |button| %>
      <% button.with_trailing_action_icon(icon: :"triangle-down") %>
      <%= current_label %>
    <% end %>
    <% menu_items.each do |menu_item_props| %>
      <% menu.with_item(
        label: menu_item_props[:label],
        href: update_settings_copilot_enablement_enterprise_path(@copilot_business.business_object),
        content_arguments: { type: menu_item_props[:type], data: menu_item_props[:data], value: menu_item_props[:value] },
        form_arguments: {
          method: :put,
          inputs: [
            {
              name: menu_item_props[:name],
              value: menu_item_props[:value]
            },
            {
              name: "tab",
              value: "copilot-business-settings.orgEnablementForm"
            }
          ]
        }
      ) do |menu_item| %>
        <% menu_item.with_description.with_content(menu_item_props[:description]) %>
      <% end %>
      <% menu.with_divider unless menu_item_props == menu_items.last %>
    <% end %>
  <% end %>
  <%= render(Primer::Alpha::Dialog.new(
    title: "Remove Copilot access",
    id: "copilot-business-settings-access-component",
    position: :center,
    h: :fit,
    size: :large
  )) do |component| %>
    <% component.with_header(show_divider: true, font_weight: :bold) do %>
      <%= "Remove Copilot access for #{org_count_text}" %>
    <% end %>
    <% component.with_body do %>
      <div class="pt-3">
        <p>There are <%= org_count_text %> with access to GitHub Copilot in this enterprise's account and <%= member_count %> assigned <%= "seat".pluralize(member_count) %>.</p>
        <ul class="list-style-none my-2">
          <li>
            <%= render(Primer::Beta::Octicon.new(icon: :x, color: :danger, mr: 1)) %>
            <span><b>You will be removing <%= member_count %> Copilot <%= "seat".pluralize(member_count) %> from your monthly bill.</b></span>
          </li>
          <li>
            <%= render(Primer::Beta::Octicon.new(icon: :x, color: :danger, mr: 1)) %>
            <span><b>This will reset all GitHub Copilot features settings for organizations and users.</b></span>
          </li>
        </ul>
        <%= render(Primer::Beta::Text.new(tag: :p, mt: 3, mb: 0)) do %>
          This will remove all GitHub Copilot settings for users and they will lose access to GitHub Copilot. Are you sure you want to remove seats?
        <% end %>
        <% if @copilot_business.feature_enabled?(:copilot_mixed_licenses) %>
          <%= render(Primer::Box.new(mt: 3)) do %>
            <hr>
            <%= render(Primer::Beta::Text.new(tag: :p, font_weight: :bold, font_size: 5, mb: 2)) { "Estimated last payment" } %>
            <%= render(Primer::Beta::Text.new(tag: :p, font_size: 3, font_weight: :light)) do %>
              $<%= total_cost %>.00
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% component.with_footer(show_divider: true) do %>
      <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "copilot-business-settings-access-component" })) { "Cancel" } %>
      <%= form_tag update_settings_copilot_enablement_enterprise_path(@copilot_business.business_object, copilot_enabled: :disabled), method: :put do %>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger) do %>
          Confirm and remove seats
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::Beta::Button.new(tag: :summary, disabled: true) do %>
    <%= current_label %>
  <% end %>
<% end %>
