<copilot-mixed-license-orgs-list
  data-payload="<%= organization_payload %>"
  data-target="bulk-org-action.modalController"
  data-action="afterBulkAction:bulk-org-action#clearSelected"
>
  <div id="copilot-org-select-list-component" data-target="copilot-mixed-license-orgs-list.orgsList">
    <% if @organizations.empty? %>
      <%= render Primer::Beta::Blankslate.new(border: true) do |bs| %>
        <% bs.with_visual_icon(icon: "person") %>
        <% bs.with_heading(tag: :h2).with_content("No organizations found") %>
        <% bs.with_description { "Make sure that everything is spelled correctly or try different keywords." } %>
      <% end %>
    <% end %>
    <%= render(Primer::Beta::BorderBox.new(border_radius: 0, classes: "rounded-bottom-2", style: "margin-bottom: -2px")) do |component| %>
      <% @organizations.each do |organization| %>
        <% component.with_row do %>
          <%= render(Copilot::OrgEnablement::OrgComponent.new(business: @business, organization: organization,
          feature_requests: @feature_requests.dig(:organizations, organization.id) || {})) %>
        <% end %>
      <% end %>
    <% end %>

    <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
      <%= will_paginate(@organizations, params: { query: params[:query] }) %>
    </div>
  </div>
  <div data-target="copilot-mixed-license-orgs-list.planChangeDialogContainer"></div>
</copilot-mixed-license-orgs-list>
