<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render(Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center, data: { "replace-remote-form-target": true, targets: "copilot-mixed-license-orgs-list.orgs", "org-id": @organization.id, "copilot-plan": mixed_license_enablement_status })) do %>
  <%= render(Primer::Box.new(display: :flex, align_items: :center)) do %>
    <% if allow_selections? %>
      <%= render(Primer::Alpha::CheckBox.new(
        label: "Select organization #{@organization.display_login}",
        visually_hide_label: true,
        value: @organization.id,
        name: "organizations[]",
        aria: {
          label: "Member"
        },
        disabled: select_disabled?,
        data: {
          "check-all-item": true,
          "org-id": @organization.id,
          targets: "bulk-org-action.selectedOrgs",
        },
        class: "js-copilot-org-bulk-actions-checkbox",
        system_arguments: { mr: 3 }
      )) %>
    <% end %>
    <%= linked_avatar_for @organization, 32, img_class: "avatar" %>
    <%= render(Primer::Box.new(ml: 3)) do %>
      <%= render(Primer::Beta::Link.new(href: path_for(@organization), system_arguments: { display: :block } )) do %>
        <%= @organization.display_login %>
      <% end %>
      <%= render Primer::Box.new(display: :flex, align_items: :center) do %>
        <%= render(Primer::Beta::Text.new(
          color: :muted,
          font_size: :small,
          tag: :p,
          mb: 0,
        )) { pluralize(@organization.members.count, "member") }
        %>
        <%= render(Primer::Beta::Text.new(mx: 1, color: :muted)) do %>
          &bull;
        <% end %>
        <%= render(Primer::Beta::Text.new(
          color: :muted,
          font_size: :small,
          tag: :p,
          mb: 0,
        )) do %>
          <%= seat_count %> <%= "seat".pluralize(seat_count) %> assigned
        <% end %>
        <% if is_trial_org? %>
          <%= render(Primer::Beta::Text.new(color: :muted, mx: 1)) do %>
            &bull;
          <% end %>
          <%= render(Primer::Beta::Label.new(scheme: :secondary)) do %>
            <%= business_trial.copilot_plan.capitalize %> trial <%= "pending" if business_trial.pending? %>
          <% end %>
        <% end %>
        <% if is_plan_downgrading? %>
          <%= render(Primer::Beta::Text.new(color: :muted, mx: 1)) do %>
            &bull;
          <% end %>
          <%= render(Primer::Beta::Text.new(
            color: :muted,
            font_size: :small,
          )) { scheduled_downgrade_message } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if allow_selections? || has_mixed_licenses? %>
    <div class="d-flex flex-row">
      <% if @show_check %>
        <%= render Primer::Box.new(display: :flex, direction: :column, classes: 'hx_anim-fade-out') do %>
          <%= render Primer::Beta::Octicon.new(icon: "check", size: :small, mt: 2, mr: 2, color: :success) %>
        <% end %>
      <% end %>

      <% if !@feature_requests[:requesters].blank? && enablement_status == "disabled" %>
        <%= render Primer::Beta::AvatarStack.new(mt: 1, mr: 2, align: :right, body_arguments: { test_selector: "feature-requests" }) do |c| %>
          <% @feature_requests[:requesters].slice(0, 4).each do |requester| %>
            <% c.with_avatar(src: requester.primary_avatar_url(20), size: 20, shape: :circle, alt: requester.display_login) %>
          <% end %>
        <% end %>
        <div class="mt-1 mr-4">
          <p><b><%= feature_requests_label %></b> requested Copilot</p>
        </div>
      <% end %>

      <% unless is_trial_org? %>
        <details class="details-reset details-overlay position-relative" <%= test_selector("options-dialog") %> >
          <% if show_enable_access_button? %>
            <%= render Primer::ButtonComponent.new(tag: :summary) do %>
              <%= is_reenable_access_request? ? "Re-enable" : "Enable" %> access
            <% end %>
          <% else %>
            <%= render Primer::ButtonComponent.new(tag: :summary, dropdown: true) do %>
              <%= render(Primer::Beta::Text.new(color: :muted)) { "Copilot:" } %> <%= enablement_status.capitalize %>
            <% end %>
          <% end %>
          <%= form_with url: update_settings_copilot_individual_org_enablement_enterprise_path(@business), method: :put do |f| %>
            <%= hidden_field_tag("organization_id", @organization.id) %>
            <div class="SelectMenu right-0" style="z-index: 99">
              <div class="SelectMenu-modal" style="width: auto">
                <% menu_items.each do |menu_item| %>
                  <%= render(Primer::Box.new(
                    pt: 1,
                    classes: menu_item[:classes],
                    style: "width: 290px; #{"opacity: 0.5; pointer-events: none; cursor: not-allowed;" if option_disabled?(menu_item) && !is_selected?(menu_item) }",
                    data: menu_item[:data],
                  )) do %>
                    <div class="col-1 mb-auto">
                      <%= primer_octicon(
                        :check,
                        mt: 1,
                        mb: :auto,
                        classes: "SelectMenu-icon flex-items-baseline"
                      ) if is_selected?(menu_item) %>
                    </div>
                    <div class="col-11">
                      <%= render(Primer::Beta::Text.new(
                        color: menu_item[:data][:value] == "disable" ? :danger : :default,
                        tag: :h5
                      )) { menu_item[:title] } %>
                      <%= render(Primer::Beta::Text.new(color: :muted)) { menu_item[:text] } %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </details>
      <% end %>
      <% if is_trial_org? %>
        <%= render(Primer::Beta::Text.new(font_size: :small, color: :muted)) do %>
          <%= trial_org_status_message %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end%>
