<%= render(Primer::Alpha::Dialog.new(
  title: title,
  id: id,
  position: :center,
  h: :fit,
  size: :large,
  data: {
    target: "copilot-mixed-license-orgs-list.planChangeDialog"
  }
)) do |component| %>
  <% component.with_header(show_divider: true, font_weight: :bold) do %>
    <%= title %>
  <% end %>
  <% component.with_body do %>
    <div class="pt-3">
      <p>Please confirm that you wish to downgrade all <%= org_seat_count %> <%= "member".pluralize(org_seat_count) %> of this organization to a Copilot Business plan.</p>
      <ul class="list-style-none my-2">
        <li class="mb-2">
          <%= render(Primer::Beta::Octicon.new(icon: :x, color: :danger, mr: 1)) %>
          <span><b>You will be downgrading <%= org_seat_count %> Copilot Enterprise <%= "seat".pluralize(org_seat_count) %>.</b></span>
        </li>
        <li class="mb-2">
          <%= render(Primer::Beta::Octicon.new(icon: :x, color: :danger, mr: 1)) %>
          <span>
            <b>
              Copilot in github.com and other Enterprise features will be unavailable for users.
            </b>
          </span>
        </li>
      </ul>
      <%= render(Primer::Box.new(mt: 3)) do %>
        <hr>
        <%= render(Primer::Beta::Text.new(tag: :p, font_weight: :bold, font_size: 6, mb: 2)) do %>
          New estimated monthly cost for this organization ($19/month each seat)
        <% end %>
        <%= render(Primer::Beta::Text.new(tag: :p, font_size: 3, font_weight: :light)) do %>
          $<%=  org_seat_count * Copilot::COPILOT_BUSINESS_MONTHLY_BASE_PRICE %>.00
        <% end %>
        <%= render(Primer::Beta::Text.new(font_weight: :light, color: :muted, font_size: :small)) do %>
          Users will be downgraded to Copilot Business in the end of the billing period  and we will notify organization administrators. You will be billed for Enterprise seats until <%= billing_end_date %>, <%= link_to "review billing information for more details", billing_overview_path, class: "Link--inTextBlock" %>.
        <% end %>
      <% end %>

    </div>
  <% end %>
  <% component.with_footer(show_divider: true) do %>
    <%= render(Primer::Beta::Button.new(data: { "action": "click:copilot-mixed-license-orgs-list#handleCloseModal" })) { "Cancel" } %>
    <%= form_tag form_submit_path, method: :put, data: { action: "submit:copilot-mixed-license-orgs-list#handleSubmit" }  do %>
      <% if @organizations.count > 1 %>
        <% @organizations.each do |org| %>
          <%= hidden_field_tag("organizations[]", org.id) %>
        <% end %>
      <% else %>
        <%= hidden_field_tag("organization_id", @organizations.first.id) %>
      <% end %>
      <%= hidden_field_tag("enablement", enablement) %>
      <%= render Primer::Beta::Button.new(type: :submit, scheme: confirmation_scheme) do %>
        <%= confirmation_text %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
