<%= render(Primer::Alpha::Dialog.new(
  title: title,
  id: id,
  position: :center,
  h: :fit,
  size: :large,
  data: {
    target: "copilot-mixed-license-orgs-list.planChangeDialog"
  }
)) do |component| %>
  <% component.with_header(show_divider: true, font_weight: :bold) do %>
    <%= title %>
  <% end %>
  <% component.with_body do %>
    <div class="pt-3">
      <p>Please confirm that you wish to restore <%= org_seat_count %> <%= "seat".pluralize(@org_seat_count) %> in this organization to a Copilot <%= friendly_plan_name %> plan.</p>
      <ul class="list-style-none my-2">
        <li class="mb-2">
          <%= render(Primer::Beta::Octicon.new(icon: :check, color: :success, mr: 1)) %>
          <span><b>Price is $<%= plan_cost_per_seat %>/month each seat.</b></span>
        </li>
        <li class="mb-2">
          <%= render(Primer::Beta::Octicon.new(icon: :check, color: :success, mr: 1)) %>
          <span>
            <b>
              You will be renewing a Copilot <%= friendly_plan_name %> license for <%= org_seat_count %> <%= "member".pluralize(org_seat_count) %>.
            </b>
          </span>
        </li>
        <li class="mb-2">
          <%= render(Primer::Beta::Octicon.new(icon: :check, color: :success, mr: 1)) %>
          <span>
            <b>
              Users will keep access to Copilot <%= friendly_plan_name %> features settings.
            </b>
          </span>
        </li>
      </ul>
      <%= render(Primer::Box.new(mt: 3)) do %>
        <hr>
        <%= render(Primer::Beta::Text.new(tag: :p, font_weight: :bold, font_size: 6, mb: 2)) do %>
          Estimated monthly cost for this organization ($<%= plan_cost_per_seat %>/month each seat)
        <% end %>
        <%= render(Primer::Beta::Text.new(tag: :p, font_size: 3, font_weight: :light)) do %>
          $<%=  org_seat_count * plan_cost_per_seat %>.00
        <% end %>
        <%= render(Primer::Beta::Text.new(font_weight: :light, color: :muted, font_size: :small)) do %>
          All the members will keep access to Copilot <%= friendly_plan_name %> plan. We will notify organization administrators about the change. Review <%= link_to "billing information", billing_overview_path, class: "Link--inTextBlock" %> for more details.
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% component.with_footer(show_divider: true) do %>
    <%= render(Primer::Beta::Button.new(data: { "action": "click:copilot-mixed-license-orgs-list#handleCloseModal" })) { "Cancel" } %>
    <%= form_tag form_submit_path, method: :put, data: { action: "submit:copilot-mixed-license-orgs-list#handleSubmit" }  do %>
      <% if @organizations.count > 1 %>
        <% @organizations.each do |org| %>
          <%= hidden_field_tag("organizations[]", org.id) %>
        <% end %>
      <% else %>
        <%= hidden_field_tag("organization_id", @organizations.first.id) %>
      <% end %>
      <%= hidden_field_tag("enablement", enablement) %>
      <%= hidden_field_tag("reenable", true) %>
      <%= render Primer::Beta::Button.new(type: :submit, scheme: confirmation_scheme) do %>
        <%= confirmation_text %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
