<%= render(Primer::Alpha::Dialog.new(
  title: title,
  id: id,
  position: :center,
  h: :fit,
  size: :large,
  data: {
    target: "copilot-mixed-license-orgs-list.planChangeDialog"
  }
)) do |component| %>
  <% component.with_header(show_divider: true, font_weight: :bold) do %>
    <%= title %>
  <% end %>
  <% component.with_body do %>
    <div class="pt-3">
      <%= render Primer::Beta::Text.new(tag: :p) do %>
        <% if @organizations.count > 1 %>
          There are <%= @organizations.count %> organizations with access to GitHub Copilot in this enterprise's account and <%= org_seat_count %> Copilot <%= "seat".pluralize(org_seat_count) %>.
        <% else %>
          Please confirm you want to remove access to Copilot for <%= org_seat_count %> <%= "member".pluralize(org_seat_count) %> of this organization.
        <% end %>
      <% end %>
      <ul class="list-style-none my-2">
        <li class="mb-2">
          <%= render(Primer::Beta::Octicon.new(icon: :x, color: :danger, mr: 1)) %>
          <span><b>You will be removing <%= org_seat_count %> Copilot <%= "seat".pluralize(org_seat_count) %> from your monthly bill.</b></span>
        </li>
        <li class="mb-2">
          <%= render(Primer::Beta::Octicon.new(icon: :x, color: :danger, mr: 1)) %>
          <span>
            <b>
              This will reset all GitHub Copilot features settings for organizations and users.
            </b>
          </span>
        </li>
      </ul>
      <%= render Primer::Beta::Text.new(tag: :p, mt: 3) do %>
        This will remove all GitHub Copilot settings for users and they will lose access to GitHub Copilot. Are you sure you want to remove seats?
      <% end %>

      <%= render(Primer::Box.new(mt: 3)) do %>
        <hr>
        <%= render(Primer::Beta::Text.new(tag: :p, font_weight: :bold, font_size: 6, mb: 2)) do %>
          Your estimated next payment
        <% end %>
        <%= render(Primer::Beta::Text.new(tag: :p, font_size: 3, font_weight: :light)) do %>
          $<%= total_cost %>.00
        <% end %>
        <%= render(Primer::Beta::Text.new(font_weight: :light, color: :muted, font_size: :small)) do %>
          <%= link_to "Review billing information for more details.", billing_overview_path, class: "Link--inTextBlock" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% component.with_footer(show_divider: true) do %>
    <%= render(Primer::Beta::Button.new(data: { "action": "click:copilot-mixed-license-orgs-list#handleCloseModal" })) { "Cancel" } %>
    <%= form_tag form_submit_path, method: :put, data: { action: "submit:copilot-mixed-license-orgs-list#handleSubmit" } do %>
      <% if @organizations.count > 1 %>
        <% @organizations.each do |org| %>
          <%= hidden_field_tag("organizations[]", org.id) %>
        <% end %>
      <% else %>
        <%= hidden_field_tag("organization_id", @organizations.first.id) %>
      <% end %>
      <%= hidden_field_tag("enablement", enablement) %>
      <%= render Primer::Beta::Button.new(type: :submit, scheme: confirmation_scheme) do %>
        <%= confirmation_text %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
