<div class="d-flex flex-row flex-wrap color-fg-muted flex-items-end">
  <div class="mr-4 mb-2">
    <% if release.author %>
      <%= render GitHub::AvatarComponent.new(actor: release.author) %>
      <%= profile_link(release.author, class: "text-bold color-fg-muted") %>
    <% end %>

    <%= action %>

    <% if release.date_for_display %>
      <relative-time class="no-wrap" prefix="" datetime="<%= release.date_for_display.iso8601 %>">
        <%= release.date_for_display.to_fs(:short) %>
      </relative-time>
    <% end %>
  </div>

  <%= content %>
</div>
