<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="<%= classes %>" <%= test_selector "release-card" %> <%= "data-expand-url=#{expand_url}" if expandable? %> <%= "data-hpc" if hpc%>>
  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% component.with_body do %>
      <%= render(Releases::CardHeaderComponent.new(release, current_repository, is_latest: is_latest, writable: writable?, is_link: is_link, show_minimal: show_minimal, show_author_line: show_author_line, highlights: hl_release_name, with_h1: with_h1)) do |header| %>
        <% header.with_additional_buttons do %>
          <%= additional_buttons %>
        <% end %>
        <% header.with_additional_labels do %>
          <%= render Releases::MarketplaceLabelComponent.new(release) %>
        <% end %>
      <% end %>
      <% if body_content.present? %>
        <%= render(Primer::Beta::Markdown.new(my: 3, data: { pjax: true, test_selector: "body-content" })) do body_content end %>
        <% if is_body_truncated? %>
          <%= render(Primer::Beta::Link.new(href: release_path(release), scheme: :default)) { "Read more" } %>
        <% end %>
      <% else %>
        <% if tag_info.present? %>
          <pre class="text-small color-fg-muted ws-pre-wrap" <%= test_selector "tag-info" %>><%= tag_info %></pre>
        <% end %>
      <% end %>
      <% if expandable? %>
        <%= render(Primer::ButtonComponent.new(scheme: :link, classes: "js-release-expand-btn", underline: false, data: { pjax: "#repo-content-pjax-container", "turbo-frame": "repo-content-turbo-frame", test_selector: "expand-btn" })) { "Read more" } %>
      <% end %>
    <% end %>

    <% if show_footer?  %>
      <% component.with_footer do %>
        <% if show_mentions? %>
          <div class="mb-3">
            <%= render(Primer::Beta::Heading.new(tag: :h3, mb: 2)) { "Contributors" } %>
            <%= render Users::AvatarListComponent.new(release.mentions, show_names_summary: !show_minimal) %>
          </div>
        <% end %>

        <div class="mb-3">
          <%= render(Releases::AssetsComponent.new(release, current_repository, open_assets: open_assets, truncate_assets: truncate_assets))%>
        </div>

        <% if show_stack_button? %>
          <div class="mb-3">
            <span class="d-none d-md-flex">
              <%= render partial: "stacks/stacks_template/use_this_stack_template_button", locals: { current_repository: current_repository, release_tag: release.tag.name } %>
            </span>
          </div>
        <% end %>

        <% if release.published? || release.discussion %>
          <div class="d-flex flex-row flex-wrap flex-justify-between js-comment">
            <% if release.published? %>
              <%= render Releases::ReactionsComponent.new(target: release, include_summary: !show_minimal) %>
            <% end %>
            <% if release.discussion %>
              <div class="d-flex flex-items-center js-socket-channel js-updatable-content" data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.discussion(release.discussion)) %>">
                <span class="color-fg-muted">
                  <%= primer_octicon(:comment) %>
                  <%= release.discussion.comments.count %>
                </span>
                <%= render Primer::Beta::Button.new(href: discussion_path(release.discussion), tag: :a, ml: 2, size: :medium, data: { pjax: "#repo-content-pjax-container", "turbo-frame": "repo-content-turbo-frame" }) do %>
                  Join discussion
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
