<%# breadcrumb %>
<%= render(Primer::Beta::Breadcrumbs.new(mb: 5, test_selector: "release-landing-breadcrumb", data: { pjax: "#repo-content-pjax-container", "turbo-frame": "repo-content-turbo-frame" })) do |component| %>
  <% component.with_item(href: releases_path(current_repository)) do %>Releases<% end %>
  <% component.with_item(href: request.path) do %>
    <%= release.tagged? ? release.tag.name_for_display : release.name %>
  <% end %>
<% end %>

<%= render Releases::CardComponent.new(release, current_repository, is_latest: is_latest?, writable: writable?, show_stack: true, hpc: true, with_h1: true) do |card| %>
  <% if release.published? %>
    <% card.with_additional_buttons do %>
      <% if user_feature_enabled?(:primer_experimental_selectpanel_releases_ref_picker) %>
        <%= render Primer::Experimental::SelectPanel.new(
          title: "Choose a tag to compare",
          select_variant: :single,
          fetch_strategy: :eventually_local,
          src: refs_ref_list_path(
            repository: current_repository.name,
            tag_name: release.tag_name_or_target_commitish,
            user_id: current_repository.owner_display_login
          )
        ) do |panel| %>
          <% panel.with_show_button(size: :small) do |button| %>
            <% button.with_trailing_visual_icon(icon: :"triangle-down") %>
            Compare
          <% end %>
          <% panel.with_footer(show_divider: true) do %>
            <div class="text-center width-full">
              <%= link_to "View all tags", tags_path(current_repository.owner_display_login, current_repository) %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <%= render Refs::PickerComponent.new(tag_name: release.tag_name_or_target_commitish, repository: current_repository, details_classes: "position-relative", details_menu_classes: "right-md-0") do |c| %>
          <% c.with_summary "Compare", false, variant: :small, text_align: :left %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
