<% releases.each do |release| %>
  <% section_heading_id = "hd-#{SecureRandom.hex(4)}"%>
  <section aria-labelledby="<%= section_heading_id %>">
  <h2 class="sr-only" id="<%= section_heading_id %>"><%= release.display_name %></h2>

  <div class="d-flex flex-column flex-md-row my-5 flex-justify-center">
    <%= render Releases::SideHeaderComponent.new(
      release,
      current_repository,
      unqualified_name_conflict: unqualified_name_conflict?(release),
      highlights: highlights(release)
    ) %>

    <%= render Releases::CardComponent.new(
      release,
      current_repository,
      is_latest: is_latest?(release),
      is_link: true,
      show_minimal: !expand_all,
      show_author_line: false,
      open_assets: is_latest?(release),
      truncate_assets: should_truncate_assets?(release),
      writable: writable?,
      classes: "col-md-9",
      highlights: highlights(release)
    )%>
  </div>
  </section>
<% end %>
