<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="d-flex flex-justify-center">
  <div class="d-flex flex-column flex-sm-row flex-wrap mb-3 pb-3 col-11 flex-justify-between border-bottom" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
    <%= render Releases::SubnavComponent.new(current_repository, classes: "mb-2 flex-1") %>

    <div class="d-flex flex-column flex-md-row">
      <% if writable? && (results.any? || filter_phrase.present?) %>
        <div class="mt-auto flex-sm-self-end">
          <%= render(Primer::ButtonComponent.new(
            tag: :a,
            href: new_release_path_helper,
            test_selector: "new-button",
            mb: 2,
          )) { "Draft a new release" } %>
        </div>
      <% end %>

      <div>
        <%= form_with url: releases_path(current_repository), method: :get, class: "position-relative ml-md-2", role: "search", data: { pjax: "#repo-content-pjax-container", "turbo-frame": "repo-content-turbo-frame" } do %>
          <input
            id="release-filter"
            type="search"
            name="q"
            class="form-control subnav-search-input width-full"
            value="<%= filter_phrase %>"
            placeholder="Find a release"
            aria-label="Find a release"
          >
          <%# always include expanded=true param for search results %>
          <input type="hidden" name="expanded" value="true">
          <%= primer_octicon(:search, classes: "subnav-search-icon") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# We are using this div to update page title on pjax requests %>
<% if page_title.present? %>
  <div hidden id="release_page_title"><%= page_title %></div>
<% end %>
<% if screen_reader_search_results.present? %>
  <div class="sr-only" role="alert"><%= screen_reader_search_results %></div>
<% end %>
<div data-pjax data-hpc>
  <% if results.empty? %>
    <% if filter_phrase.present? %>
      <%= render Primer::BlankslateComponent.new(
        icon: "tag",
        title: "No releases found",
        mx: :auto,
        style: "max-width: 544px",
      ) do %>
        <p>
          There are no releases containing "<%= filter_phrase %>".
        </p>
      <% end %>
    <% else %>
      <%= render Primer::BlankslateComponent.new(
        icon: "tag",
        title: "There aren’t any releases here",
        button_text: ("Create a new release" if writable?),
        button_url: (new_release_path_helper if writable?),
        mx: :auto,
        style: "max-width: 544px",
      ) do %>
        <p>You can create a release to package software, along with release notes and links to binary files, for other people to use. Learn more about releases in <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/repositories/releasing-projects-on-github/about-releases">our docs</a>.</p>
      <% end %>
    <% end %>

  <% else %>
    <%= render Releases::ListComponent.new(results.models, current_repository, latest_release, filter_phrase, writable: writable?, expand_all: expand_all, es_results: results) %>

    <div class="paginate-container d-none d-sm-flex flex-sm-justify-center" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
      <%= will_paginate results, :params => { :q => filter_phrase } %>
    </div>

    <div class="paginate-container d-sm-none mb-5" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
      <%= will_paginate results, page_links: false, :params => { :q => filter_phrase } %>
    </div>
  <% end %>
</div>
