<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="col-md-2 d-flex flex-md-column flex-row flex-wrap pr-md-6 mb-2 mb-md-0 flex-items-start pt-md-4">
  <div class="mb-2 f4 mr-3 mr-md-0 col-12">
    <% if release.date_for_display %>
      <relative-time class="no-wrap" prefix="" datetime="<%= release.date_for_display.iso8601 %>">
        <%= release.date_for_display.to_fs(:short) =%>
      </relative-time>
    <% end %>
  </div>

  <% if release.author %>
    <div class="mb-md-2 mr-3 mr-md-0">
      <%= render GitHub::AvatarComponent.new(actor: release.author) %>
      <%= profile_link(release.author, class: "color-fg-muted wb-break-all") %>
    </div>
  <% end %>

  <% if release.tagged? %>
    <div class="mr-3 mr-md-0 d-flex" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
      <%= render Primer::Beta::Link.new(href: tag_path, muted: true, test_selector: "tag-link") do %>
        <%= render(Primer::Truncate.new(inline: true)) do %>
          <%= primer_octicon :tag, "aria-label": "Tag" %>
          <span class="ml-1 wb-break-all">
            <%= display_tag_name %>
          </span>
        <% end %>
      <% end %>
      <%= render Releases::VerifiedIconComponent.new(release.annotated_tag) %>
    </div>
    <div style="position: relative; top: 1px;" class="mb-md-2 mr-3 mr-md-0" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
      <%= render Primer::Beta::Link.new(
        href: release_commit_path,
        muted: true,
        mb: 2,
        test_selector: "commit-link",
        data: HovercardHelper.hovercard_data_attributes_for_commit(commit_url: release_commit_path)
      ) do %>
        <%= primer_octicon "git-commit", "aria-label": "Commit" %>
        <%# Below must be on same line for styling to avoid extra space %>
        <code class="f5 ml-1 wb-break-all"><%= release.tag.commit.abbreviated_oid %></code><% end %><%= render Releases::VerifiedIconComponent.new(release.tag.commit) %>
    </div>
    <div class="mb-md-2 mr-3 mr-md-0 hide-sm">
      <%= render Refs::PickerComponent.new(tag_name: release.tag_name_or_target_commitish, repository: current_repository) do |c| %>
        <% c.with_summary "Compare", false, variant: :small, text_align: :left, test_selector: "compare-picker" %>
      <% end %>
    </div>
  <% end %>
</div>
