<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="commit js-details-container Details">
  <div class="d-flex">
    <div class="d-flex inline pr-2 pb-1 col-12 ">
      <%=
        render(Primer::Beta::Heading.new(tag: :h2, font_size: 4, display: :inline)) do
          render(Primer::Beta::Link.new(href: release_path(tag_as_release), scheme: :primary, test_selector: "tag-title")) do
            tag_as_release.tag_name
          end
        end
      %>
      <% hex_id = SecureRandom.hex(4) %>
      <% if view.expander?(tag_as_release) %>
        <span class="hidden-text-expander inline">
        <%= render(Primer::Beta::IconButton.new(icon: :"ellipsis", scheme: :invisible, "aria-expanded": "false", "aria-label": ("Toggle " + tag_as_release.tag_name + "'s commit message"), "aria-controls": "commit-desc-#{hex_id}", classes: ["js-details-target"], id: ("toggle-commit-" + tag_as_release.tag_name))) %>
        </span>
      <% end %>
    </div>
    <div class="d-flex inline float-right">
      <%= render partial: "commits/signed_commit_badge", locals: {
            item: tag_as_release.tag.target,
            badge_size: 'medium',
            dropdown_direction: 'sw'
          }
      %>

      <% if writable? %>
        <details class="details-reset details-overlay card-menu-container dropdown" <%= test_selector "tag-menu-kebab" %>>
          <summary class="color-fg-muted Link--onHover btn-octicon" aria-label="Tag menu">
            <%= primer_octicon(:"kebab-horizontal", 'aria-hidden': false) %>
          </summary>
          <details-menu class="dropdown-menu dropdown-menu-sw anim-scale-in"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <%= render Primer::ButtonComponent.new(
              tag: :a,
              scheme: :link,
              classes: "dropdown-item",
              href: tag_as_release.new_record? ? new_release_path_helper(tag_name: tag_as_release.tag_name) : edit_release_path(tag_as_release),
              role: "menuitem",
              test_selector: "tag-link-button") do %>
              <% if !tag_as_release.new_record? %>
                Edit release
              <% else %>
                Create release
              <% end %>
            <% end %>
            <hr class="my-1">
            <%= render Primer::ButtonComponent.new(
              scheme: :link,
              color: enable_delete_option? ? :danger : :subtle,
              classes: "dropdown-item",
              role: "menuitem",
              data: { "show-dialog-id": delete_dialog_id },
              aria: { disabled: !enable_delete_option? },
              test_selector: "tag-delete-button",
            ) do %>
              Delete tag
            <% end %>
          </details-menu>
        </details>

        <% if enable_delete_option? %>
          <%= render Releases::DeleteConfirmationComponent.new(dialog_id: delete_dialog_id, release: tag_as_release) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if view.expander?(tag_as_release) %>
    <div class="commit-desc" id="<%= "commit-desc-#{hex_id}" %>" <%= test_selector "commit-message-expander" %>>
      <%# the <pre> tag will mangle the formatting if message_html is moved onto its own line, so please leave it
      like this unless absolutely necessary! %>
      <pre class="text-small color-fg-muted" <%= test_selector "tag-message" %>><%= target.message_html %></pre>
    </div>
  <% end %>

  <ul class="list-style-none f6">
    <% if tag_as_release.created_at %>
      <li class="d-inline-block mt-1 mr-2 color-fg-muted">
        <%= primer_octicon :clock, 'aria-hidden': false %>
        <%= time_ago_in_words_js tag_as_release.created_at %>
      </li>
    <% end %>

    <li class="d-inline-block mt-1 mr-2 text-mono">
      <a class="Link--muted" href="<%= commit_path tag_as_release.tag.commit %>">
        <%= primer_octicon(:"git-commit", 'aria-hidden': false) %>
        <%= tag_as_release.tag.commit.abbreviated_oid %>
      </a>
    </li>

    <li class="d-inline-block mt-1 mr-2">
      <a class="Link--muted" href="<%= zipball_path(current_repository.user, current_repository, tag_as_release.tag.qualified_name) %>" rel="nofollow">
        <%= primer_octicon(:"file-zip", 'aria-hidden': false) %>
        zip
      </a>
    </li>

    <li class="d-inline-block mt-1 mr-2">
      <a class="Link--muted" href="<%= tarball_path(current_repository.user, current_repository, tag_as_release.tag.qualified_name) %>" rel="nofollow">
        <%= primer_octicon(:"file-zip", 'aria-hidden': false) %>
        tar.gz
      </a>
    </li>

    <% if tag_as_release.notes? %>
      <li class="d-inline-block mt-1 mr-2">
        <a class="Link--muted" href="<%= release_path tag_as_release %>">
          <%= primer_octicon(:file, 'aria-hidden': false) %>
          Notes
        </a>
      </li>
    <% end %>

    <% if view.has_downloads?(tag_as_release) %>
      <li class="d-inline-block mt-1 mr-2">
        <a class="Link--muted" href="<%= release_path tag_as_release %>" <%= test_selector "downloads-link" %>>
          <%= primer_octicon(:download, 'aria-hidden': false) %>
          Downloads
        </a>
      </li>
    <% end %>
  </ul>
</div>

