<div class="d-flex flex-justify-center">
  <div class="d-flex flex-column flex-sm-row flex-wrap mb-3 pb-3 col-11 flex-justify-between border-bottom">
    <%= render Releases::SubnavComponent.new(current_repository, classes: "mb-2") %>
  </div>
</div>
<div class="d-flex flex-justify-center">
  <div class="d-flex flex-column col-11">
    <% if tags_as_releases.any? %>
      <%= render(Primer::Beta::BorderBox.new) do |component| %>
        <% component.with_header(font_weight: :bold) do %>
          <%= primer_octicon(:tag) %>
          Tags
        <% end %>
        <% component.with_body(p: 0) do %>
          <% releases_with_valid_tags(tags_as_releases).each do |tag_as_release| %>
            <div class="Box-row position-relative d-flex " <%= test_selector "tag-info-container" %>>
              <div class="flex-auto min-width-0">
                <%= render Releases::TagInfoComponent.new(
                  tag_as_release,
                  current_repository,
                  view,
                  writable: writable?,
                  deletable: tag_deletable?(tag_as_release)) %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <div data-pjax class="paginate-container">
        <%= tag_paginate(tags_as_releases.last.tag_name, tags_as_releases.length) %>
      </div>
    <% end %>
  </div>
</div>
