<details class="dropdown dropdown-signed-commit details-reset details-overlay js-dropdown-details d-inline-block ml-1">
    <summary class="color-fg-success" <%= test_selector("commit-badge-verified") %>>
      <%= primer_octicon(:verified, "aria-label": "Verified commit signature") %>
    </summary>

    <div class="anim-scale-in" style="position: relative; z-index: 200;">
      <div class="dropdown-menu dropdown-menu-s py-0 color-fg-default text-left">

        <div class="p-3 signed-commit-header d-flex">
          <div class="pr-1">
            <%= primer_octicon(:verified, size: :small, mr: 2) %>
          </div>
          <div class="flex-1">
            <% case signature.state %>
            <% when "VALID" %>
              <% if signature.signed_by_github? %>
                This <%= item_type %> was created on <%= GitHub.enterprise? ? "GitHub Enterprise Server and signed with a" : "GitHub.com and signed with GitHub’s"%> <strong>verified signature</strong>.
              <% else %>
                This <%= item_type %> was signed with the committer’s <strong>verified signature</strong>.
              <% end %>
              <% if signature.expired? %>
                The key has expired<%= signature.revoked? ? " and has been revoked" : "" %>.
              <% elsif signature.revoked? %>
                The key has been revoked.
              <% end %>
            <% when "OCSP_PENDING" %>
              This <%= item_type %> was signed with a verified signature, though we’re still working on certificate revocation checking.
            <% end %>
          </div>
        </div>

        <% unless signature.signed_by_github? %>
          <div class="px-3 pt-3 d-flex">
          <a class="pr-1" aria-label="<%= signature.signer.display_login %>" href="<%= user_path(signature.signer.display_login) %>">
            <img src="<%= signature.signer.avatar_url  %>" alt="" class="avatar avatar-2 avatar-user mr-2">
          </a>
          <span class="signed-commit-signer-name flex-1">
            <a class="signer" href="<%= user_path(signature.signer.display_login) %>"><%= signature.signer.display_login %></a>
            <%= signature.signer.name %>
          </span>
          </div>
        <% end %>

        <div class="signed-commit-footer p-3 rounded-bottom-2">
          <% if signature.typename == "GpgSignature" && signature.key_id %>
            <span class="d-block">GPG key ID: <span class="color-fg-muted"><%= signature.key_id %></span></span>
            <div class="my-1">
              <% if signature.expired? %>
                <%= render Primer::Beta::Label.new(scheme: :accent, test_selector: 'expired-label') do %>Expired<% end %>
              <% end %>
              <% if signature.revoked? %>
                <%= render Primer::Beta::Label.new(scheme: :attention, test_selector: 'revoked-label') do %>Revoked<% end %>
              <% end %>
            </div>
          <% elsif signature.typename == "SmimeSignature" %>
            <%= render :partial => "commits/smime_cert_info", :locals => { :signature => signature } %>
          <% elsif signature.typename == "SshSignature" && signature.key_fingerprint %>
            <span class="d-block">SSH Key Fingerprint: <span class="color-fg-muted"><%= signature.key_fingerprint %></span></span>
          <% end %>
          <%= commit_signature_verification_help_link %>.
        </div>
      </div>
    </div>
</details>
