<div class="my-11 my-md-12 position-relative">
  <div class="d-flex flex-items-center flex-column flex-lg-row gutter gutter-spacious">
    <div class="col-12 col-md-10 col-lg-5 mx-auto mx-lg-0 text-center text-lg-left mb-5 mb-md-6">
      <h2 class="h3-mktg mb-2 blacktocats-title-brow blacktocats-title-dot">Celebrating Black talent on GitHub&nbsp;</h2>
      <p class="f3-mktg color-fg-muted mr-lg-n4 mb-4">Check out a few of the incredible open source projects Black developers are maintaining every day.</p>

      <%= render Site::ButtonComponent.new(
        text: "Explore more Black developers",
        arrow: true,
        scheme: :muted,
        url: "/bdougie/awesome-black-developers?ref_page=#{request.fullpath}&ref_cta=#{url_encode("Explore more Black developers")}&ref_loc=#{url_encode("footer launchpad")}",
        classes: "width-full width-sm-auto mb-2",
        analytics: {
          category: "Contact Sales",
          action: "click to Contact Sales",
          label: "ref_page:#{request.fullpath};ref_cta:Explore more Black developers;ref_loc:blacktocats footer"
        }
      ) %>
    </div>

    <div class="col-12 col-lg-6 offset-lg-n2">
      <div class="offset-n6 offset-sm-n4 offset-md-n2 ml-lg-0 blacktocats-featured-repos position-relative">
        <div class="width-full flex-shrink-0 offset-1 offset-lg-3 d-flex flex-justify-center gutter-condensed gutter-lg py-2 py-lg-3">
          <div class="col-3">
            <a
              href="/PopSchools/popschools.org"
              class="blacktocats-repo-card d-block p-3 rounded-2 box-shadow-card-border-light-mktg color-fg-muted no-underline height-full"
              <%= safe_analytics_click_attributes(
                category: "Blacktocats",
                action: "click to go to repository",
                label: "ref_page:#{request.fullpath};ref_cta:PopSchools/popschools.org;ref_loc:footer launchpad;"
              ) %>
            >
              <div class="d-flex flex-items-center mb-2">
                <%= render Site::AvatarComponent.new(handle: "PopSchools", size: 32, classes: "color-bg-default mr-2", aria_hidden: nil) %>
                <p class="f5-mktg text-semibold my-0">PopSchools/<span class="color-fg-default">popschools.org</span></p>
              </div>
              <p class="f6-mktg mb-0 line-clamp-2" style="-webkit-box-orient: vertical; min-height: 3em;">Inclusive community for pre-career and early-career software developers</p>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/dayhaysoos/use-shopping-cart"
              class="blacktocats-repo-card d-block p-3 rounded-2 box-shadow-card-border-light-mktg color-fg-muted no-underline height-full"
              <%= safe_analytics_click_attributes(
                category: "Blacktocats",
                action: "click to go to repository",
                label: "ref_page:#{request.fullpath};ref_cta:dayhaysoos/use-shopping-cart;ref_loc:footer launchpad;"
              ) %>
            >
              <div class="d-flex flex-items-center mb-2">
                <%= render Site::AvatarComponent.new(handle: "dayhaysoos", size: 32, classes: "color-bg-default mr-2", aria_hidden: nil) %>
                <p class="f5-mktg text-semibold my-0">dayhaysoos/<span class="color-fg-default">use-shopping...</span></p>
              </div>
              <p class="f6-mktg mb-0 line-clamp-2" style="-webkit-box-orient: vertical; min-height: 3em;">Shopping cart state and logic for Stripe</p>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/remirror/remirror"
              class="blacktocats-repo-card d-block p-3 rounded-2 box-shadow-card-border-light-mktg color-fg-muted no-underline height-full"
              <%= safe_analytics_click_attributes(
                category: "Blacktocats",
                action: "click to go to repository",
                label: "ref_page:#{request.fullpath};ref_cta:remirror/remirror;ref_loc:footer launchpad;"
              ) %>
            >
              <div class="d-flex flex-items-center mb-2">
                <%= render Site::AvatarComponent.new(handle: "remirror", size: 32, classes: "color-bg-default mr-2", aria_hidden: nil) %>
                <p class="f5-mktg text-semibold my-0">remirror/<span class="color-fg-default">remirror</span></p>
              </div>
              <p class="f6-mktg mb-0 line-clamp-2" style="-webkit-box-orient: vertical; min-height: 3em;">ProseMirror toolkit for React 🎉</p>
            </a>
          </div>
        </div>

        <div class="width-full offset-lg-2 d-flex flex-justify-center gutter-condensed gutter-lg py-2 py-lg-3">
          <div class="col-3">
            <a
              href="/kjaymiller/render_engine"
              class="blacktocats-repo-card d-block p-3 rounded-2 box-shadow-card-border-light-mktg color-fg-muted no-underline height-full"
              <%= safe_analytics_click_attributes(
                category: "Blacktocats",
                action: "click to go to repository",
                label: "ref_page:#{request.fullpath};ref_cta:kjaymiller/render_engine;ref_loc:footer launchpad;"
              ) %>
            >
              <div class="d-flex flex-items-center mb-2">
                <%= render Site::AvatarComponent.new(handle: "kjaymiller", size: 32, classes: "color-bg-default mr-2", aria_hidden: nil) %>
                <p class="f5-mktg text-semibold my-0">kjaymiller/<span class="color-fg-default">render_engine</span></p>
              </div>
              <p class="f6-mktg mb-0 line-clamp-2" style="-webkit-box-orient: vertical; min-height: 3em;">Static Site Generator with Flask Like Routing</p>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/clojure/clojurescript"
              class="blacktocats-repo-card d-block p-3 rounded-2 box-shadow-card-border-light-mktg color-fg-muted no-underline height-full"
              <%= safe_analytics_click_attributes(
                category: "Blacktocats",
                action: "click to go to repository",
                label: "ref_page:#{request.fullpath};ref_cta:clojure/clojurescript;ref_loc:footer launchpad;"
              ) %>
            >
              <div class="d-flex flex-items-center mb-2">
                <%= render Site::AvatarComponent.new(handle: "clojure", size: 32, classes: "color-bg-default mr-2", aria_hidden: nil) %>
                <p class="f5-mktg text-semibold my-0">clojure/<span class="color-fg-default">clojurescript</span></p>
              </div>
              <p class="f6-mktg mb-0 line-clamp-2" style="-webkit-box-orient: vertical; min-height: 3em;">Clojure to JS compiler</p>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/torch2424/wasmboy"
              class="blacktocats-repo-card d-block p-3 rounded-2 box-shadow-card-border-light-mktg color-fg-muted no-underline height-full"
              <%= safe_analytics_click_attributes(
                category: "Blacktocats",
                action: "click to go to repository",
                label: "ref_page:#{request.fullpath};ref_cta:torch2424/wasmboy;ref_loc:footer launchpad;"
              ) %>
            >
              <div class="d-flex flex-items-center mb-2">
                <%= render Site::AvatarComponent.new(handle: "torch2424", size: 32, classes: "color-bg-default mr-2", aria_hidden: nil) %>
                <p class="f5-mktg text-semibold my-0">torch2424/<span class="color-fg-default">wasmboy</span></p>
              </div>
              <p class="f6-mktg mb-0 line-clamp-2" style="-webkit-box-orient: vertical; min-height: 3em;">Game Boy / Game Boy Color Emulator Library, 🎮 written for WebAssembly…</p>
            </a>
          </div>
        </div>

        <div class="width-full offset-1 d-flex flex-justify-center gutter-condensed gutter-lg py-2 py-lg-3">
          <div class="col-3">
            <a
              href="/react-ladies/React-Ladies"
              class="blacktocats-repo-card d-block p-3 rounded-2 box-shadow-card-border-light-mktg color-fg-muted no-underline height-full"
              <%= safe_analytics_click_attributes(
                category: "Blacktocats",
                action: "click to go to repository",
                label: "ref_page:#{request.fullpath};ref_cta:react-ladies/React-Ladies;ref_loc:footer launchpad;"
              ) %>
            >
              <div class="d-flex flex-items-center mb-2">
                <%= render Site::AvatarComponent.new(handle: "react-ladies", size: 32, classes: "color-bg-default mr-2", aria_hidden: nil) %>
                <p class="f5-mktg text-semibold my-0">react-ladies/<span class="color-fg-default">React-Ladies</span></p>
              </div>
              <p class="f6-mktg mb-0 line-clamp-2" style="-webkit-box-orient: vertical; min-height: 3em;">We're a group of women and non-binary ReactJS enthusiasts in New York City…</p>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/PopSchools/popschools.org"
              class="blacktocats-repo-card d-block p-3 rounded-2 box-shadow-card-border-light-mktg color-fg-muted no-underline height-full"
              <%= safe_analytics_click_attributes(
                category: "Blacktocats",
                action: "click to go to repository",
                label: "ref_page:#{request.fullpath};ref_cta:PopSchools/popschools.org;ref_loc:footer launchpad;"
              ) %>
            >
              <div class="d-flex flex-items-center mb-2">
                <%= render Site::AvatarComponent.new(handle: "PopSchools", size: 32, classes: "color-bg-default mr-2", aria_hidden: nil) %>
                <p class="f5-mktg text-semibold my-0">PopSchools/<span class="color-fg-default">popschools.org</span></p>
              </div>
              <p class="f6-mktg mb-0 line-clamp-2" style="-webkit-box-orient: vertical; min-height: 3em;">Inclusive community for pre-career and early-career software developers</p>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/dayhaysoos/use-shopping-cart"
              class="blacktocats-repo-card d-block p-3 rounded-2 box-shadow-card-border-light-mktg color-fg-muted no-underline height-full"
              <%=safe_analytics_click_attributes(
                category: "Blacktocats",
                action: "click to go to repository",
                label: "ref_page:#{request.fullpath};ref_cta:dayhaysoos/use-shopping-cart;ref_loc:footer launchpad;"
              ) %>
            >
              <div class="d-flex flex-items-center mb-2">
                <%= render Site::AvatarComponent.new(handle: "dayhaysoos", size: 32, classes: "color-bg-default mr-2", aria_hidden: nil) %>
                <p class="f5-mktg text-semibold my-0">dayhaysoos/<span class="color-fg-default">use-shopping...</span></p>
              </div>
              <p class="f6-mktg mb-0 line-clamp-2" style="-webkit-box-orient: vertical; min-height: 3em;">Shopping cart state and logic for Stripe</p>
            </a>
          </div>
        </div>

        <div class="width-full offset-lg-n1 d-flex flex-justify-center gutter-condensed gutter-lg py-2 py-lg-3">
          <div class="col-3">
            <a
              href="/remirror/remirror"
              class="blacktocats-repo-card d-block p-3 rounded-2 box-shadow-card-border-light-mktg color-fg-muted no-underline height-full"
              <%= safe_analytics_click_attributes(
                category: "Blacktocats",
                action: "click to go to repository",
                label: "ref_page:#{request.fullpath};ref_cta:remirror/remirror;ref_loc:footer launchpad;"
              ) %>
            >
              <div class="d-flex flex-items-center mb-2">
                <%= render Site::AvatarComponent.new(handle: "remirror", size: 32, classes: "color-bg-default mr-2", aria_hidden: nil) %>
                <p class="f5-mktg text-semibold my-0">remirror/<span class="color-fg-default">remirror</span></p>
              </div>
              <p class="f6-mktg mb-0 line-clamp-2" style="-webkit-box-orient: vertical; min-height: 3em;">ProseMirror toolkit for React 🎉</p>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/torch2424/wasmboy"
              class="blacktocats-repo-card d-block p-3 rounded-2 box-shadow-card-border-light-mktg color-fg-muted no-underline height-full"
              <%= safe_analytics_click_attributes(
                category: "Blacktocats",
                action: "click to go to repository",
                label: "ref_page:#{request.fullpath};ref_cta:torch2424/wasmboy;ref_loc:footer launchpad;"
              ) %>
            >
              <div class="d-flex flex-items-center mb-2">
                <%= render Site::AvatarComponent.new(handle: "torch2424", size: 32, classes: "color-bg-default mr-2", aria_hidden: nil) %>
                <p class="f5-mktg text-semibold my-0">torch2424/<span class="color-fg-default">wasmboy</span></p>
              </div>
              <p class="f6-mktg mb-0 line-clamp-2" style="-webkit-box-orient: vertical; min-height: 3em;">Game Boy / Game Boy Color Emulator Library, 🎮 written for WebAssembly…</p>
            </a>
          </div>
          <div class="col-3">
            <a
              href="/clojure/clojurescript"
              class="blacktocats-repo-card d-block p-3 rounded-2 box-shadow-card-border-light-mktg color-fg-muted no-underline height-full"
              <%= safe_analytics_click_attributes(
                category: "Blacktocats",
                action: "click to go to repository",
                label: "ref_page:#{request.fullpath};ref_cta:clojure/clojurescript;ref_loc:footer launchpad;"
              ) %>
            >
              <div class="d-flex flex-items-center mb-2">
                <%= render Site::AvatarComponent.new(handle: "clojure", size: 32, classes: "color-bg-default mr-2", aria_hidden: nil) %>
                <p class="f5-mktg text-semibold my-0">clojure/<span class="color-fg-default">clojurescript</span></p>
              </div>
              <p class="f6-mktg mb-0 line-clamp-2" style="-webkit-box-orient: vertical; min-height: 3em;">Clojure to JS compiler</p>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
