<div class="my-12">
  <div class="gutter gutter-spacious mb-8">
    <div class="col-6-max mx-auto text-center">
      <h2 class="h3-mktg blacktocats-title-brow blacktocats-title-dot">Build space for Black&nbsp;community&nbsp;</h2>
      <p class="f3-mktg color-fg-muted mt-2">Blacktocats provide platforms for Black Hubbers to celebrate and connect with the rest of their fellow GitHub community and, most importantly, with each other.</p>
    </div>
  </div>

  <div class="d-block d-lg-flex flex-row flex-items-center gutter gutter-spacious">
    <div class="col-lg-7">
      <div class="media-player-blacktocats rounded-2 box-shadow-card-border-light-mktg px-4 px-sm-6 px-md-8 py-8 py-sm-10 py-md-12">
        <%= render Site::AudioPlayerComponent.new(
           src: "https://readme-podcast.github.com/assets/other/blacktocats_git_it_together.mp3",
           title: "Git it together",
           theme: "green",
           mobile_layout_only: true
         ) %>
      </div>
    </div>

    <div class="col-lg-5 mt-5 mt-lg-0">
      <h3 class="h4-mktg">Git it together</h3>
      <p class="f3-mktg color-fg-muted mt-2">
        We commissioned artist <a href="https://www.iamsoteria.com/en/" rel="noreferrer" target="_blank" class="color-fg-muted text-underline text-bold">I AM SOTERIA</a> to create and perform a spoken word piece all about the impact and legacy of the Blacktocats.
      </p>

      <% if show_blacktocats_transcript == true %>
        <%= render "site/about/diversity/communities/blacktocats/space_transcript" %>
      <% end %>
    </div>
  </div>

  <div class="d-block d-sm-flex flex-row flex-wrap gutter gutter-lg-spacious mt-8">
    <div class="col-sm-6 col-lg-4 mb-8">
      <picture>
        <source srcset="<%= image_path "modules/site/about/community/blacktocats/blacktocats-starting-the-trend.webp" %>" type="image/webp">
        <img
          src="<%= image_path "modules/site/about/community/blacktocats/blacktocats-starting-the-trend.jpg" %>"
          alt=""
          width="760"
          height="404"
          class="height-auto position-relative z-1 width-full d-block rounded-2" loading="lazy" decoding="async">
      </picture>

      <h3 class="h4-mktg mt-5">Starting the trend</h3>
      <p class="f3-mktg color-fg-muted mt-2">
        Six new Communities of Belonging have formed since Blacktocats’ inception. We are proud to continuously provide support and guidance to others.
      </p>
      <%= render Site::LinkComponent.new(
        text: "See all Communities of Belonging",
        url: "/about/diversity/communities-of-belonging",
        size: :medium
      ) %>
    </div>

    <div class="col-sm-6 col-lg-4 mb-8">
      <picture>
        <source srcset="<%= image_path "modules/site/about/community/blacktocats/blacktocats-looking-back.webp" %>" type="image/webp">
        <img
          src="<%= image_path "modules/site/about/community/blacktocats/blacktocats-looking-back.jpg" %>"
          alt="Illustration of Benjamin Banneker as an Octocat (GitHub’s mascot)"
          width="760"
          height="404"
          class="height-auto position-relative z-1 width-full d-block rounded-2" loading="lazy" decoding="async">
      </picture>

      <h3 class="h4-mktg mt-5">Honoring our past</h3>
      <p class="f3-mktg color-fg-muted mt-2">
        In February 2017, the first Black-coded Octocat was created to honor Benjamin Banneker, an African American almanac author, surveyor, and farmer in the 1700s.
      </p>
      <%= render Site::LinkComponent.new(
        text: "View the Octodex",
        url: "https://octodex.github.com",
        size: :medium
      ) %>
    </div>

    <div class="col-sm-6 col-lg-4 mb-8">
      <picture>
        <source srcset="<%= image_path "modules/site/about/community/blacktocats/blacktocats-impacting-leadership.webp" %>" type="image/webp">
        <img
          src="<%= image_path "modules/site/about/community/blacktocats/blacktocats-impacting-leadership.jpg" %>"
          alt=""
          width="760"
          height="404"
          class="height-auto position-relative z-1 width-full d-block rounded-2" loading="lazy" decoding="async">
      </picture>

      <h3 class="h4-mktg mt-5">Influencing leadership</h3>
      <p class="f3-mktg color-fg-muted mt-2">
        As the founding members of Blacktocats partnered with Social Impact on projects across the US, they received executive sponsorship from a GitHub VP.
      </p>
      <%= render Site::LinkComponent.new(
        text: "Learn more about GitHub leadership",
        url: about_leadership_path,
        size: :medium
      ) %>
    </div>
  </div>
</div>
