<div class="my-11 my-md-12">
  <div class="gutter gutter-spacious mb-lg-10">
    <div class="col-6-max mx-auto text-center">
      <h2 class="h3-mktg blacktocats-title-brow blacktocats-title-dot">Foster Black talent <br>here and everywhere&nbsp;</h2>
      <p class="f3-mktg color-fg-muted mt-2">In addition to professional development training for Blacktocats&nbsp;members internally, the group focuses on empowering Black&nbsp;developers across the world.</p>
    </div>
  </div>

  <div class="d-block d-lg-flex flex-row gutter gutter-spacious mt-8">
    <div class="col-lg-6">
      <h3 class="h4-mktg">Hubber career development</h3>
      <p class="f3-mktg color-fg-muted mt-2 col-lg-11">
       Our Professional Development Committee supports the career advancement and retention of Blacktocat members by providing resources, like mentorships, panel discussions, and meet-ups with other GitHub teams to discuss navigation, networking, and more.
      </p>
    </div>

    <div class="col-lg-6 mt-6">
      <div class="d-flex flex-column-reverse flex-md-row flex-nowrap flex-items-center text-center text-md-left">
        <div class="col-3 col-md-4 mt-4 mr-md-6" style="max-width: 168px;">
          <%= render Site::AvatarComponent.new(handle: "aboutthatjazz", classes: "width-fit", size: 168, alt: "Louis Williams", aria_hidden: nil) %>
        </div>
        <figure class="m-0 col-md-8">
          <blockquote class="f3-mktg pt-4 pt-md-5 position-relative">
            <span class="h3-mktg width-full position-absolute top-0 left-0 color-fg-muted">“</span>
            <p>The Blacktocats helped me foster connections within the greater GitHub community and made the transition as a new Hubber so much easier.</p>
          </blockquote>
          <figcaption class="text-mono f5-mktg color-fg-muted">Louis Williams<span class="d-none d-md-inline"> // </span><br class="d-block d-md-none">Enterprise Support Engineer</figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class="d-block d-lg-flex flex-row flex-items-center gutter gutter-spacious mt-8">
    <div class="col-lg-8">
      <picture>
        <source srcset="<%= image_path "modules/site/about/community/blacktocats/floss-and-code-tm-hack-day.webp" %>" type="image/webp">
        <img
          src="<%= image_path "modules/site/about/community/blacktocats/floss-and-code-tm-hack-day.jpg" %>"
          alt="Photo of a Blacktocat mentoring a “FLOSS and Code” participant."
          aria-hidden="true"
          width="1632"
          height="1020"
          class="height-auto position-relative z-1 width-full d-block rounded-2" loading="lazy" decoding="async">
      </picture>
    </div>

    <div class="col-lg-4 mt-6 mt-lg-0">
      <h3 class="h4-mktg">FLOSS and Code™ Hack Day in Atlanta, Georgia</h3>
      <p class="f3-mktg color-fg-muted mt-2">
        FLOSS and Code is a scalable, reproducible hack day for underserved engineering communities all over the world. Our FLOSS (Free/Libre Open Source Software) and Code hack day in Atlanta focused on empowering Black engineers through open source. This event included GitHub employee-led workshops and provided space for open source maintainers to demonstrate how new contributors can participate in their projects.
      </p>
      <div class="d-flex flex-row flex-nowrap flex-items-center mt-3 mt-lg-4">
        <div class="h3-mktg color-text-blacktocats-green mr-3">
          75
        </div>
        <div class="f5-mktg color-fg-muted">
          Black engineering <br>participants
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column-reverse flex-lg-row flex-items-center gutter gutter-spacious mt-8">
    <div class="col-lg-4 mt-6 mt-lg-0">
      <h3 class="h4-mktg">CodeNaija Hackathon <br class="d-none d-lg-block">in Lagos, Nigeria</h3>
      <p class="f3-mktg color-fg-muted mt-2">
        Nigeria is one of the fastest-growing open source communities (by projects) in the world. Over 100 developers attended our CodeNaija Hackathon. Participants across 19 teams devoted over 30 hacking hours to deliver  technological solutions for social issues in the community, from a smart cam app that can detect disease in casaba melons to ReachAid, a platform that connects people in need with toys, clothing, and shoes.
      </p>

      <div class="d-flex flex-row flex-nowrap flex-lg-justify-between mt-3 mt-lg-4">
        <div class="mr-4 mr-lg-0">
          <div class="h3-mktg color-text-blacktocats-green">
            100
          </div>
          <div class="f5-mktg color-fg-muted">
            Developers
          </div>
        </div>
        <div class="mr-4 mr-lg-0">
          <div class="h3-mktg color-text-blacktocats-green">
            19
          </div>
          <div class="f5-mktg color-fg-muted">
            Teams
          </div>
        </div>
        <div class="mr-4 mr-lg-0">
          <div class="h3-mktg color-text-blacktocats-green">
            30
          </div>
          <div class="f5-mktg color-fg-muted">
            Hacking hours
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
      <picture>
        <source srcset="<%= image_path "modules/site/about/community/blacktocats/codenaija-hackathon.webp" %>" type="image/webp">
        <img
          src="<%= image_path "modules/site/about/community/blacktocats/codenaija-hackathon.jpg" %>"
          alt="Photo of Blacktocats presenting the CodeNaija winning team with a large check."
          aria-hidden="true"
          width="1632"
          height="1020"
          class="height-auto position-relative z-1 width-full d-block rounded-2" loading="lazy" decoding="async">
      </picture>
    </div>
  </div>

  <div class="d-block d-lg-flex flex-row flex-items-center gutter gutter-spacious mt-8">
    <div class="col-lg-7">
      <picture>
        <source srcset="<%= image_path "modules/site/about/community/blacktocats/blacktocats-the-readme-project.webp" %>" type="image/webp">
        <img
          src="<%= image_path "modules/site/about/community/blacktocats/blacktocats-the-readme-project.jpg" %>"
          alt="Glitch-inspired digital collage artwork centering Black individuals, by artist Chris Burnett"
          aria-hidden="true"
          width="1410"
          height="848"
          class="height-auto position-relative z-1 width-full d-block rounded-2" loading="lazy" decoding="async">
      </picture>
    </div>

    <div class="col-lg-5 mt-6 mt-lg-0">
      <h3 class="h4-mktg">Inspiring the ReadMe Project</h3>
      <p class="f3-mktg color-fg-muted mt-2">
        For Black History Month in 2019, Blacktocats co-founder Leithia (GitHub Alum) proposed celebrating Black excellence by leveraging GitHub’s platform to amplify Black open source maintainers and influencers. The 2020 ReadMe Project continues this idea by publishing new profiles every month.
      </p>
      <%= render Site::LinkComponent.new(text: "Read Black maintainer stories", url: readme_featured_article_path("bhm-data")) %>
    </div>
  </div>
</div>
