<% if show_blacktocats_video == true %>
<div class="position-relative">
  <picture>
    <source srcset="<%= image_path "modules/site/about/community/blacktocats/blacktocats-video-cover-1250.webp" %>" media="(min-width: 700px)" type="image/webp">
    <source srcset="<%= image_path "modules/site/about/community/blacktocats/blacktocats-video-cover-625.webp" %>" type="image/webp">
    <source srcset="<%= image_path "modules/site/about/community/blacktocats/blacktocats-video-cover-1250.jpg" %>" media="(min-width: 700px)" type="image/jpeg">
    <source srcset="<%= image_path "modules/site/about/community/blacktocats/blacktocats-video-cover-625.jpg" %>" type="image/jpeg">
    <img
      src="<%= image_path "modules/site/about/community/blacktocats/blacktocats-video-cover-1250.jpg" %>"
      alt="Blacktocats"
      aria-hidden="true"
      width="2500"
      height="1406"
      class="height-auto position-relative z-1 width-full d-block" loading="lazy" decoding="async">
  </picture>
  <div class="js-video-container position-absolute width-full height-full top-0 left-0 z-2 d-flex flex-column flex-justify-center flex-items-center">
    <iframe class="js-video blacktocats-video-frame position-absolute width-full height-full top-0 left-0 border-0"
      data-src="https://www.youtube.com/embed/cxN4nKk2cfk?autoplay=1&amp;rel=0"
      title="Watch video" type="text/html" width="1920" height="1080" frameborder="0" allowfullscreen allow="autoplay;">
    </iframe>
    <button type="button" class="js-video-play blacktocats-video-play-btn color-fg-on-emphasis border-0" style="box-shadow: none;" aria-label="Play video"><%= render(Primer::Beta::Octicon.new(icon: "play", height: 72)) %></button>
  </div>
</div>
<% end %>
