<div class="my-11 my-md-12">
  <div class="gutter gutter-spacious mb-8">
    <h2 class="col-7-max h3-mktg blacktocats-title-brow blacktocats-title-dot mx-auto text-center">Give back and uplift voices&nbsp;</h2>
    <p class="col-6-max f3-mktg color-fg-muted mt-2 mx-auto text-center">Blacktocats and allies have donated over $260,000 to Black nonprofits while collectively logging over 150 hours of volunteer work together.</p>
  </div>

  <picture>
      <source srcset="<%= image_path "modules/site/about/community/blacktocats/blacktocats-voices-1250.webp" %>" media="(min-width: 700px)" type="image/webp">
      <source srcset="<%= image_path "modules/site/about/community/blacktocats/blacktocats-voices-625.webp" %>" type="image/webp">
      <source srcset="<%= image_path "modules/site/about/community/blacktocats/blacktocats-voices-1250.jpg" %>" media="(min-width: 700px)" type="image/jpeg">
      <source srcset="<%= image_path "modules/site/about/community/blacktocats/blacktocats-voices-625.jpg" %>" type="image/jpeg">
      <img
        src="<%= image_path "modules/site/about/community/blacktocats/blacktocats-voices-1250.jpg" %>"
        alt="Photo of Blacktocats working together with power tools to improve a community."
        aria-hidden="true"
        width="2500"
        height="1092"
        class="height-auto position-relative z-1 width-full d-block" loading="lazy" decoding="async">
    </picture>

    <div class="d-flex flex-column-reverse flex-lg-row gutter gutter-spacious mt-8">
      <div class="col-lg-5 mx-auto d-flex flex-row flex-nowrap flex-lg-justify-between">
        <div class="mr-4 mr-lg-0">
          <div class="h0-mktg color-text-blacktocats-green">
            <sup class="ml-lg-n5" style="font-size: 56%">$</sup>260<sup style="font-size: 56%">K+</sup>
          </div>
          <div class="f5-mktg color-fg-muted ml-3 ml-md-4 ml-lg-0">
            Dollars donated to Black nonprofits
          </div>
        </div>
        <div>
          <div class="h0-mktg color-text-blacktocats-green">
            150<sup style="font-size: 56%">+</sup>
          </div>
          <div class="f5-mktg color-fg-muted">
            Hours of volunteer work
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column-reverse flex-lg-row flex-justify-center gutter gutter-spacious mt-6">
      <div class="col-lg-7 mt-6 mt-lg-0">
        <div class="d-flex flex-column-reverse flex-md-row flex-nowrap flex-items-center text-center text-md-left">
          <div class="col-3 col-md-4 mt-4 mr-md-6" style="max-width: 168px;">
            <%= render Site::AvatarComponent.new(handle: "isisdill", classes: "width-fit", size: 168, alt: "Isis Dillard", aria_hidden: nil) %>
          </div>
          <figure class="m-0 col-md-8">
            <blockquote class="f3-mktg pt-4 pt-md-5 position-relative">
              <span class="h3-mktg width-full position-absolute top-0 left-0 color-fg-muted">“</span>
              <p>Blacktocats created an open space for me to share and support other people in my community throughout the workplace.</p>
            </blockquote>
            <figcaption class="text-mono f5-mktg color-fg-muted">Isis Dillard<span class="d-none d-md-inline"> // </span><br class="d-block d-md-none">Mid Market Sales Representative</figcaption>
          </figure>
        </div>
      </div>

      <div class="col-lg-5">
        <img
          src="<%= image_path "modules/site/about/community/blacktocats/blacktocats-event-map.svg" %>"
          alt="Blacktocats have volunteered in locations like Washington D.C., Miami, New Orleans, the Bay Area, Atlanta, and Nigeria."
          aria-hidden="true"
          width="494"
          height="228"
          class="height-auto position-relative z-1 width-full d-block" loading="lazy" decoding="async">
      </div>
    </div>
</div>
