<% page_meta = {
    title: "Black initiatives are GitHub initiatives",
    description: "As the first official GitHub Community of Belonging, the Blacktocats’ mission is to attract and empower Black lives in tech."
  }

  page_info \
  title: page_meta[:title],
  description: page_meta["description"],
  marketing_footer_theme: "dark",
  richweb: {
    title: page_meta["title"],
    url: request.original_url,
    description: page_meta["description"],
    image: image_path("modules/site/social-cards/blacktocats.jpg"),
  }
%>

<div class="overflow-x-hidden color-bg-subtle" <%= mktg_color_theme_attributes %>>
  <div class="container-xl p-responsive">
    <%= render "site/about/diversity/communities/blacktocats/hero" %>
    <%= render "site/about/diversity/communities/blacktocats/video",
      show_blacktocats_video: false
    %>
    <%= render "site/about/diversity/communities/blacktocats/one_to_many" %>
    <%= render "site/about/diversity/communities/blacktocats/space",
      show_blacktocats_transcript: true
    %>
    <%= render "site/about/diversity/communities/blacktocats/voices" %>
    <%= render "site/about/diversity/communities/blacktocats/talent" %>
    <%= render "site/about/diversity/communities/blacktocats/footer" %>
  </div>
</div>
