<%= render Primer::BaseComponent.new(
  tag: :div,
  mb: 4,
  **system_arguments
) do %>
  <div class="Box-header d-flex flex-row flex-items-center gap-2">
    <div class="p-2 bgColor-default border rounded-2">
      <%= primer_octicon("shield-check", display: :block) %>
    </div>
    <div class="flex-1 d-flex flex-row flex-items-center gap-2">
      <h3 class="text-normal"><%= title %></h3>
    </div>
    <%= control %>
  </div>
  <%= banner %>
  <%= body %>
  <% if description.present? %>
    <div class="Box-footer px-4 d-flex flex-items-center color-fg-muted">
      <div class="flex-1 f6" <%= test_selector "licensing_component_description" %>>
        <%= description %>
      </div>
    </div>
  <% end %>
<% end %>

