<%= render Primer::BaseComponent.new(**system_arguments) do %>
  <%= render Primer::BaseComponent.new(tag: :div, display: :flex, my: 1, align_items: :baseline) do %>
    <div class="flex-self-center pr-3">
      <%= primer_octicon(:clock) %>
    </div>
    <div class="flex-auto text-small">
      <div class="mb-0" <%= test_selector("github-plan-price") %>>
        <% if pending_change.cancellation? %>
          <p class="mb-0">Your cancellation of GitHub Advanced Security will be effective on <strong><%= pending_change_active_on %></strong></p>
        <% else %>
          <p class="mb-0">Your change to GitHub Advanced Security with <%= pending_change.quantity %> <%= "committer".pluralize(pending_change.quantity) %> will be effective on <strong><%= pending_change_active_on %></strong></p>
        <% end %>
        <div>The new price will be <strong><%= new_price %></strong> / <%= duration %>.
        <%= form_tag pending_subscription_item_change_path(pending_change.id), class: "inline-form", method: :delete do %>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            scheme: :link,
            mr: 2,
            font_size: 6,
            data: {
              **analytics_click_attributes(
                category: "business_advanced_security_subscription",
                action: pending_change.cancellation? ? "click_to_cancel_pending_cancellation" : "click_to_cancel_pending_change",
                label: "ref_page:#{request.fullpath};ref_cta:cancel;ref_loc:enterprise_licensing"
              ),
              "data-confirm": "Are you sure you want to cancel this pending GitHub Advanced Security change?"
            }) do %>
            Cancel
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <strong class="flex-self-center"><%= new_price %></strong>
  <% end %>
<% end %>
