<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Businesses::Billing::AdvancedSecurity::LicensingComponent.new(
  test_selector: "advanced-security-license-self-serve",
) do |info| %>
  <% seat_usage = AdvancedSecurity::SeatUsageComponent.new(
    **AdvancedSecurity::SeatUsageComponent.kwargs_for(business)
  )%>
  <% info.with_control do %>
    <%= render(Primer::Alpha::Dropdown.new) do |c| %>
      <% c.with_button(size: :small) do %>
        Manage <%= render(Primer::Beta::Octicon.new(:"triangle-down")) %>
      <% end %>

      <% c.with_menu(direction: :sw) do |menu| %>
        <% menu.with_item(tag: :a, href: download_active_committers_enterprise_licensing_path(business,
          data: analytics_click_attributes(
            category: "business_advanced_security_subscription",
            action: "click_to_download_active_committers_report",
            label: "ref_page:#{request.fullpath};ref_cta:download_report;ref_loc:enterprise_licensing"
          )
        )) do %>
          Download Report
        <% end %>
        <% menu.with_item(divider: true) %>
        <% menu.with_item(tag: :button,
          data: {
              **analytics_click_attributes(
                category: "business_advanced_security_subscription",
                action: "click_to_cancel_subscription",
                label: "ref_page:#{request.fullpath};ref_cta:cancel_subscription;ref_loc:enterprise_licensing"
              ),
              "show-dialog-id": "advanced_security_cancel_subscription",
            },
        ) do %>
          Cancel Subscription
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if seat_usage.banner_required? %>
    <%= info.with_banner(**seat_usage.banner_arguments) do %>
      <%= seat_usage.banner_message %>
    <% end %>
  <% end %>
  <% info.with_body(display: :block, p: 0, ml: 0) do %>
    <details class="Details-element details-reset Box-row color-fg-muted d-flex flex-items-center ml-2 px-3 py-1" <%= "open" if params[:manage_committers] == "true" || params[:manage_committers_view] == "true" %>>
      <summary>
        <div class="d-flex flex-items-center">
          <span class="Details-content--open d-flex flex-items-center"><%= render Primer::Beta::Octicon.new(icon: "chevron-down") %></span>
          <span class="Details-content--closed d-flex flex-items-center"><%= render Primer::Beta::Octicon.new(icon: "chevron-right") %></span>
          <div class="Box-row d-flex flex-items-center color-fg-muted flex-1">
            <%= render(seat_usage) %>
          </div>
      </div>
      </summary>
      <div class="mx-1">
        <% if flash[:business_committers_success] %>
          <%= render(Primer::Beta::Flash.new(scheme: :success, dismissible: true, icon: :check, mx: 5, mt: 3)) do %>
            <%= flash[:business_committers_success] %>
          <% end %>
        <% elsif flash[:business_committers_error] %>
          <%= render(Primer::Beta::Flash.new(scheme: :danger, dismissible: true, icon: :alert, mx: 5, mt: 3)) do %>
            <%= flash[:business_committers_error] %>
          <% end %>
      <% end %>
    </div>
    <%= render Businesses::Billing::AdvancedSecurity::ManageCommittersComponent.new(business: business, user: user) %>
    </details>
    <%= render Businesses::Billing::AdvancedSecurity::PendingChangeNoticeComponent.new(business: business, py: 2) %>
  <% end %>
<% end %>

<%# Cancel Dialog %>
<%= form_tag(advanced_security_subscriptions_path(business), method: :patch, aria: { label: "cancel subscription" }) do %>
  <%= hidden_field_tag :return_to, enterprise_licensing_path(business, manage_committers_view: true) %>
  <%= render Primer::Alpha::Dialog.new(size: :large, show_divider: true, title: "Cancel GitHub Advanced Security",  visually_hide_title: true, id: "advanced_security_cancel_subscription") do |d| %>
    <% d.with_body(my: 2) do %>
      <include-fragment class="SelectMenu-loading" loading="lazy" src="<%= advanced_security_cancel_subscriptions_path(business) %>" <%= test_selector("advanced-security-license-cancel") %> >
        <%= render(Primer::Beta::Spinner.new) %>
      </include-fragment>
    <% end %>
    <% d.with_footer do %>
      <%= render Primer::Beta::Button.new(
        data: { disable_with: "Submitting request" },
        scheme: :danger,
        width: :full,
        classes: "btn-block",
        test_selector: "ignored_user_note_submit_button",
        type: :submit,
        value: "submit",
      ) do %>
        I understand, cancel Advanced Security
      <% end %>
    <% end %>
  <% end %>
<% end %>
