<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if show_buy_button? %>
  <%= render(Primer::ButtonComponent.new(
    tag: :a,
    href: billing_settings_advanced_security_upgrade_enterprise_path(business),
    data: analytics_click_attributes(
      category: "advanced_security_promotion",
      action: "click_buy_advanced_security",
      label: "ref_cta:buy_advanced_security;ref_loc:enterprise_licensing"
    ),
    font_size: advanced_security_trial_eligible? ? 6 : nil,
    test_selector: "buy-ghas-self-serve",
    size: :small
  )) { "Buy Advanced Security" } %>
<% end %>
<% if advanced_security_trial_eligible? %>
  <%= render Growth::ShowDialogOnLoadComponent.new(url_param: "start_advanced_security_trial") do |c| %>
    <% c.with_dialog(
      title: "Start your free #{trial_length} day trial",
      id: "start-free-trial-dialog"
    ) do |d| %>
      <% d.with_show_button(
        scheme: :secondary,
        data: analytics_click_attributes(
          category: "advanced_security_self_serve_trial",
          action: "click_start_free_trial_dialog",
          label: "ref_cta:start_free_trial;ref_loc:enterprise_licensing"
        ),
        ml: 2,
        test_selector: "ghas-start-free-trial",
        size: :small
      ) { "Start free trial" } %>
      <% d.with_header do %>
        <strong>Start your free <%= trial_length %> day trial</strong>
      <% end %>
      <% if organization_to_redirect_to.nil? %>
        <% d.with_body(test_selector: "no-orgs-description") do %>
          <p>During the trial, all organizations and repositories will have access to GitHub Advanced Security
          <%= render(Primer::Beta::Link.new(
            href: "#{GitHub.url}/features/security",
            rel: "noopener",
            data: analytics_click_attributes(
              category: "advanced_security_self_serve_trial",
              action: "click_security_features",
              label: "ref_cta:features;ref_loc:enterprise_licensing"
            ),
            classes: "Link--inTextBlock"
          )) { "features" } %>.</p>
          <% if has_trade_screening_restriction? %>
            <%= render(Primer::Beta::Flash.new(scheme: trade_screening_error.try(:scheme) || :warning, test_selector: "trade_warning")) do %>
              <%= render(Primer::Beta::Text.new(font_weight: :bold)) do %>
                <%= render(Primer::Beta::Octicon.new(trade_screening_error.try(:icon) || :alert)) %>
                We are unable to provide this feature
              <% end %>
              <div class="ml-5">
                <% if trade_screening_error.present? %>
                  <%= trade_screening_error[:message] %>
                <% else %>
                  <%= TradeControls::Notices.trade_screening_account_spammy %>
                <% end %>
              </div>
            <% end %>
          <% elsif show_warning_no_orgs? %>
            <%= render(Primer::Box.new(
              bg: :attention,
              border_color: :attention,
              border: true,
              border_radius: 2,
              p: 3,
              display: :flex,
              align_self: :center,
              test_selector: "no-orgs-warning"
            )) do %>
              <%= render(Primer::Beta::Octicon.new(:alert, mr: 2, color: :attention, align_self: :center))%>
              <p class="mb-0">You don’t currently have any organizations.
              <%= render(Primer::Beta::Link.new(
                href: new_enterprise_organization_path(business),
                data: analytics_click_attributes(
                  category: "advanced_security_self_serve_trial",
                  action: "click_organization_ghas_settings",
                  label: "ref_cta:organizations;ref_loc:enterprise_licensing"
                ),
                classes: "Link--inTextBlock"
              )) { "Create an organization" } %> to get started.</p>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <% d.with_body(test_selector: "orgs-redirect") do %>
          <p class="mt-2">All organizations and repositories that are a part of your Enterprise
          will have access to GitHub Advanced Security
          <%= render(Primer::Beta::Link.new(
            href: "#{GitHub.url}/features/security",
            data: analytics_click_attributes(
              category: "advanced_security_self_serve_trial",
              action: "click_features",
              label: "ref_cta:features;ref_loc:enterprise_licensing"
            ),
            classes: "Link--inTextBlock"
          )) { "features" } %> during your trial period.</p>
            <p>You will be redirected to organization
            <%= render(Primer::Beta::Link.new(href: get_started_org_path, classes: "Link--inTextBlock")) { organization_to_redirect_to.display_login } %>
            to get started with your new trial.</p>
        <% end %>
      <% end %>
      <% d.with_footer(show_divider: true) do %>
        <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "start-free-trial-dialog" })) { "Cancel" } %>
        <%= form_tag advanced_security_trials_path(business), method: :post do %>
          <%= hidden_field_tag :return_to, return_to %>
          <%= render(Primer::Beta::Button.new(
            scheme: :primary,
            type: :submit,
            test_selector: "start-free-trial-dialog-button",
            disabled: has_trade_screening_restriction?,
            data: analytics_click_attributes(
              category: "advanced_security_self_serve_trial",
              action: "click_start_free_trial",
              label: "ref_cta:start_free_trial;ref_loc:enterprise_licensing"
            )
          )) { "Start trial" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
