<%= render Businesses::Billing::AdvancedSecurity::LicensingComponent.new(
  description: "Trial is valid until #{expires_at}",
  test_selector: "advanced-security-license-self-serve-trial-ongoing",
  title: "GitHub Advanced Security trial"
) do |info| %>
  <% info.with_control do %>
    <%= render(Primer::Alpha::Dropdown.new) do |c| %>
      <% c.with_button(size: :small) do %>
        Manage <%= render(Primer::Beta::Octicon.new(:"triangle-down")) %>
      <% end %>
      <% c.with_menu(direction: :sw) do |menu| %>
        <% if show_purchase_menu_item? %>
          <% menu.with_item(tag: :a,
              href: billing_settings_advanced_security_upgrade_enterprise_path(business),
              data: analytics_click_attributes(
                category: "advanced_security_self_serve_trial",
                action: "click_to_purchase",
                label: "ref_cta:view_details;ref_loc:enterprise_licensing"
              ),
            ) do %>
              Purchase
          <% end %>
        <% end %>
        <% menu.with_item(tag: :a, href: download_active_committers_enterprise_licensing_path(business),
          data: analytics_click_attributes(
            category: "advanced_security_self_serve_trial",
            action: "click_to_download_active_committers_report",
            label: "ref_cta:download_report;ref_loc:enterprise_licensing"
          ),
        ) do %>
          Download Report
      <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% info.with_body(display: :block, p: 0, ml: 0) do %>
    <div class="Box-row d-flex flex-items-center color-fg-muted" <%= test_selector("license-overview-totals") %>>
      <div class="flex-1 ml-1 pl-6">
        Trial is active for all <%= link_to "organizations", enterprise_organizations_path(business), class: "Link--inTextBlock" %> in your Enterprise
      </div>
        <div class="flex-1 text-right ml-1 pl-6 text-small">
          <span class="text-bold"><%= used_seats %> committers used</span><br>
          <span>Learn how to
            <%= link_to "manage committers",
              "https://docs.github.com/enterprise-cloud@latest/billing/managing-billing-for-github-advanced-security/managing-your-github-advanced-security-licensing#managing-the-number-of-github-advanced-security-committers",
              target: :blank,
              class: "Link--inTextBlock"
            %>
          </span>
        </div>
      </div>
  <% end %>
<% end %>
