<%= render(Primer::Box.new(mt: 3, border_radius: 2, border: true, border_color: :default)) do %>
  <%= render Primer::Box.new(
    pl:  3,
    pr:  [3, nil, nil, nil, 0],
    classes: show_buy_button? ? "rounded-top-2 rounded-bottom-0" : "rounded-top-2 rounded-bottom-2",
    bg: :subtle ) do %>
    <div class="d-lg-flex">
      <div>
        <%= render Primer::Beta::Subhead.new(hide_border: true, mt: 3, mb: 0, pb: 0) do |component| %>
          <% component.with_heading(tag: :h2, ml: 2, font_size: 3) { "Keep your Enterprise protected" } %>
          <% component.with_description do %>
            <p class="mx-2 mt-2 mb-0">
              GitHub Advanced Security is built to optimize the developer experience through automation. It helps your teams identify and fix reported security issues quickly and efficiently
              by integrating security into every step of the developer workflow.
            </p>
            <% if show_buy_button? %>
              <%= render Primer::Beta::Button.new(
                tag: :a,
                mt: 3,
                ml: 2,
                mr: 1,
                mb: [3, nil, nil, nil, 0],
                href: billing_settings_advanced_security_upgrade_enterprise_path(business),
                font_size: 6,
                scheme: :primary,
                test_selector: "buy_advanced_security",
                data: analytics_click_attributes(
                  category: "advanced_security_self_serve_trial",
                  action: "buy_advanced_security",
                  label: "ref_cta:buy_advanced_security; ref_loc:ghas_onboarding_expired_enterprise_protected_banner"
                ),
              ) do %>
                Buy Advanced Security
              <% end %>
              $49 per committer / month
            <% else %>
              <%= render Primer::BaseComponent.new(
                tag: :p,
                font_size: 6,
                mt: 2,
                mb: [4, nil, nil, nil, 0],
                mx: 2,
                color: :default ) do %>
                <% if can_manage_business? %>
                  Buy Enterprise to allow purchase of GitHub Advanced Security.
                <% else %>
                  Contact your Enterprise admin to purchase. $49 <span class="color-fg-muted">per committer / month</span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="d-none d-xl-block">
        <%= light_or_dark_picture_tag(
          image_path("modules/growth/advanced_security/security_light.png"),
          image_path("modules/growth/advanced_security/security_dark.png"),
          alt: "Code with a potential vulnerability highlighted",
          width: "479px",
          height: "214px",
          class: "d-block", #inline-block will add some whitespace below the image
          style: "min-width: 479px; min-height: 214px; max-width: 479px; max-height: 214px;",
          mb: 0,
          pr: 0,
        ) %>
      </div>
    </div>
  <% end %>
  <% if show_buy_button? %>
   <%= render Primer::BaseComponent.new(tag: :div, p: 3, border_color: :default, border: :top) do %>
      <div class="d-flex">
        <div>
          <p class="mt-2">
            <%= render(Primer::Beta::Octicon.new(:"info")) %>
            Have questions about GitHub Advanced Security?
          </p>

        </div>
        <div class="flex-self-center" style="margin-left: auto;">
          <%= render Primer::Beta::Button.new(
            tag: :a,
            href: "https://resources.github.com/contact/security/",
            font_size: 6,
            data: analytics_click_attributes(
              category: "advanced_security_self_serve_trial",
              action: "talk_to_sales",
              label: "ref_cta:talk_to_sales; ref_loc:ghas_onboarding_expired_enterprise_protected_banner; ref_link:https://resources.github.com/contact/security/"
            ),
          ) do %>
            Talk to Sales
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
