<%
  stripe_eligible = sponsors_listing.eligible_for_stripe_connect?
  stripe_connect_account = sponsors_listing.active_stripe_connect_account
  billing_country = sponsors_listing.full_billing_country
  in_matching_fund = sponsors_listing.matchable? || sponsors_listing.reached_match_limit?
  column_size_class = in_matching_fund ? "col-md-8 mr-md-3" : "col-12"
  display_stripe_link = !disable_stripe_links && stripe_eligible && stripe_connect_account
%>

<%= render layout: "sponsors/dashboards/layout", locals: { sponsors_listing: sponsors_listing, selected_tab: :payouts } do %>
  <%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center) do |component| %>
    <% component.with_heading(tag: :h2) do %>Payouts overview<% end %>
  <% end %>
  <div class="d-flex flex-column flex-md-row">
    <% if stripe_eligible %>
      <div class="<%= column_size_class %> d-flex color-shadow-small rounded-2" style="border: 1px solid #e6dcfd">
        <div class="col-md-6 p-3">
          <div class="d-inline-flex flex-justify-center flex-items-center p-2 circle color-bg-done color-fg-done mb-3">
            <%= primer_octicon(:clock) %>
          </div>
          <include-fragment src="<%= sponsorable_dashboard_payouts_path(sponsors_listing.sponsorable_login) %>" aria-label="Loading latest payout information..." class="d-flex flex-column flex-items-center">
            <%= render(Primer::Beta::Spinner.new) %>
            <div class="color-fg-muted no-wrap">Loading&hellip;</div>
          </include-fragment>
        </div>
        <div class="col-md-6 p-3">
          <div class="d-inline-flex flex-justify-center flex-items-center p-2 circle color-bg-done color-fg-done mb-3">
            <%= primer_octicon(:clock) %>
          </div>
          <%= render Sponsors::Payouts::NextPayoutComponent.new(
            sponsors_listing: sponsors_listing,
            balance: stripe_balance,
          ) %>
        </div>
      </div>
      <% if in_matching_fund %>
        <div class="col-md-4 rounded-2 color-shadow-small p-3" style="border: 1px solid #fedbf0">
          <div class="d-flex flex-justify-center flex-items-center circle color-bg-sponsors color-fg-sponsors mb-3" style="width:32px; height:32px">
            <span class="text-bold text-small">2x</span>
          </div>
          <%= render Sponsors::Payouts::MatchingFundStatusComponent.new(sponsors_listing: sponsors_listing) %>
        </div>
      <% end %>
    <% else %>
      <p>For a list of transactions, view your bank statements.</p>
    <% end %>
  </div>

  <% if sponsors_listing.supports_payout_receipts? %>
    <%= render "sponsors/payouts/receipts", sponsorable: sponsorable %>
  <% end %>

  <%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center, pt: 6) do |component| %>
    <% component.with_heading(tag: :h2) do %>Payouts information<% end %>
  <% end %>
  <div class="d-flex">
    <div class="col-md-6 mr-6">
      <p class="color-fg-muted text-small text-uppercase">Payout bank country or region</p>
      <p class="text-bold">
        <%= billing_country.blank? ? "N/A" : billing_country %>
      </p>
      <% if display_stripe_link %>
        <a href="<%= sponsorable_stripe_account_path(sponsors_listing.sponsorable_login, stripe_connect_account) %>">
          Edit your bank information <%= primer_octicon(:"link-external") %>
        </a>
      <% else %>
        <p>
          If you'd like to change your bank information, please
          <a class="Link--inTextBlock" href="<%= SponsorsListing.support_url(subject: "GitHub Sponsors: Update bank information") %>">
            contact support
          </a>
        </p>
      <% end %>
    </div>
    <div class="col-md-6">
      <p class="color-fg-muted text-small text-uppercase">Questions?</p>
      <a href="<%= "#{GitHub.help_url}/articles/about-github-sponsors" %>">Read our payments FAQ</a>
    </div>
  </div>
<% end %>
