<%# view is an instance of GistUsers::ShowPageView %>

<%
  page_info \
    title: view.page_title,
    description: h(view.page_meta_description),
    stafftools: stafftools_user_gists_path(view.user),
    selected_link: view.current_page,
    richweb: {
      title: view.page_title,
      description: h(view.page_meta_description),
      type: "profile",
    }

  is_user = actor.user?

  content_for :head do
    discover_feed :atom, view.atom_feed_path
  end
%>

<%= render "gists/banner" %>

<% if view.show_spammy_alert? %>
  <%= render(Primer::Alpha::Banner.new(icon: :alert, scheme: :danger, px: 3, my: 2)) { "This user is flagged spammy" }%>
<% end %>

<div class="container-xl px-3 px-md-4 px-lg-5 mt-4">
  <div class="gutter d-flex flex-md-row flex-column">
    <% if is_user && this_user.private_profile_for?(current_user) %>
      <%= render "gists/users/private/profile", view: view, user: actor %>
    <% elsif is_user %>
      <%= render "gists/users/profile", view: view, user: actor %>
    <% end %>

    <div class="<%= "col-9" if is_user %> col-md-9 col-12">
      <div class="pagehead py-0 border-0 mt-md-0 mt-6 mr-md-0 mr-n3 ml-md-0 ml-n3">
        <div class="px-3 mb-2">
          <%= render "gists/users/navigation", view: view %>
        </div>
        <ul class="d-flex d-lg-none px-3 mb-2 pagehead-actions float-none">
          <% if view.show_filters? %>
            <li>
              <%= render "gists/gists/filter_options", view: view %>
            </li>
          <% end %>
          <li>
            <%= render "gists/gists/sort_options", view: view if view.has_gists? %>
          </li>
        </ul>
      </div>

      <% if view.has_gists? %>
        <% view.gists_with_first_blob.each do |gist, blob| %>
          <%= render "gists/gists/snippet", view: create_view_model(Gists::SnippetView, gist: gist, blob: blob) %>
        <% end %>
        <div class="paginate-container">
          <%= simple_paginate(view.gists, next_label: view.next_label, previous_label: view.previous_label)%>
        </div>
      <% else %>
        <% if view.your_profile? %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_heading(tag: :h2).with_content("You don’t have any #{view.scope_name} yet.") %>
            <% if view.all_gists? %>
              <% c.with_description { "Your #{view.scope_name(shortened: false)} will show up here on your profile." } %>
              <% c.with_primary_action(href: new_gist_path).with_content("Create a gist") %>
            <% end %>
          <% end %>
        <% else %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_heading(tag: :h2) do %>
              <%= "#{actor.display_login} doesn’t have any #{view.scope_name} yet." %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
