<% page_info \
  title: "GitHub Globe",
  description: _("GitHub's global community, visualized."),
  marketing_page_theme: "dark",
  class: "header-overlay"
%>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <% if local_globe_server_enabled? %>
    <script type="text/javascript" src="<%= local_globe_javascript_bundle_url %>"></script>
  <% end %>
<% end %>

<div id="globe" class="js-globe-root">
  <%= render Site::SectionComponent.new(
    container: false,
    classes: "position-relative pt-12",
  ) do %>

    <% if feature_enabled_globally_or_for_current_user?(:home_page_globe) %>
      <%# When home_page_globe feature is enabled %>
      <%= render "site/home/globe" %>
    <% end %>

    <%= render Site::ImageComponent.new(
      src: image_path("modules/site/home-campaign/footer-galaxy.jpg"),
      alt: "",
      class: "position-absolute z-1 bottom-0 left-0 width-full height-full object-fit-cover d-block events-none",
      width: 801,
      height: 807,
      sizes: "100vw",
      aria: { hidden: true },
    ) %>

    <%= svg("site/home-campaign/horizon", class: "position-absolute width-full z-1", style: "bottom: -1px;") %>
  <% end %>

  <div class="text-center position-relative top-n5 z-3">
    <button
      type="button"
      class="f4-mktg js-animation-pause-toggle js-globe-pause-toggle animation-pause-toggle rounded-2"
      data-target-id="globe"
      aria-pressed="false"
      data-pause-aria-label="Globe is curently animating. Click to pause animation."
      data-play-aria-label="Globe is paused. Click to play animation."
    >
      <span class="animation-toggle-pause-label">Pause</span>
      <span class="animation-toggle-play-label">Play</span>
    </button>
  </div>
</div>
