<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="js-updatable-content js-socket-channel"
  data-channel="<%= live_update_view_channel(@check_suite.channel) %>"
  data-url="<%= partial_path %>">
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render Primer::Alpha::Banner.new(scheme: :warning, my: 3, py: 3, display: :flex, justify_content: :space_between, direction: [:column, nil, :row], align_items: [nil, nil, :center]) do %>
      <div class="mr-3">
        This workflow is <strong>awaiting approval</strong> from a maintainer in <%= link_to "##{pull_request_trigger.number}", pull_request_path(pull_request_trigger), data: hovercard_data_attributes_for_issue_or_pr(pull_request_trigger), class: "Link--inTextBlock" %>
      </div>
      <% if show_approve_button? %>
        <%= form_tag approve_and_run_path, method: :put do %>
          <%= render Primer::ButtonComponent.new(type: :submit, test_selector: "approve-button") do %> Approve and run <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Flash.new(scheme: :warning, my: 3, py: 3, display: :flex, justify_content: :space_between, direction: [:column, nil, :row], align_items: [nil, nil, :center]) do %>
      <div class="mr-3">
        This workflow is <strong>awaiting approval</strong> from a maintainer in <%= link_to "##{pull_request_trigger.number}", pull_request_path(pull_request_trigger), data: hovercard_data_attributes_for_issue_or_pr(pull_request_trigger), class: "Link--inTextBlock" %>
      </div>
      <% if show_approve_button? %>
        <%= form_tag approve_and_run_path, method: :put do %>
          <%= render Primer::ButtonComponent.new(type: :submit, test_selector: "approve-button") do %> Approve and run <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
