<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<% track_render_partial("actions/workflow_runs/annotations") do %>
  <div role="region" aria-label="Annotations" class="js-updatable-content js-socket-channel"
      <% if @should_update %>
      data-channel="<%= live_update_view_channel(live_update_channel) %>"
      data-url="<%= annotations_partial_path %>"
      <% end %>>
    <% if annotations.any? %>
      <div class="actions-fullwidth-module color-bg-default color-shadow-small mb-3 pt-3 border rounded">
        <div class="mt-1 mb-3 px-3">
          <div class="mx-0 mx-md-1">
            <h2 class="text-bold h4">Annotations</h2>
            <div class="color-fg-muted text-small"><%= subtitle %></div>
          </div>
        </div>
        <table class="width-full mt-n1 actions-workflow-table table-fixed">
            <% annotations.each_with_index do |annotation, index| %>
              <tr role="row">
                <td class="compact pr-3 col-7 col-lg-9 color-border-muted<% unless index == num_annotations - 1 %> border-bottom<% end %>">
                  <annotation-message class="d-flex">
                    <% annotation_name = name_for(annotation) %>
                    <div><%= octicon_for(annotation) %></div>
                    <div class="ml-1 overflow-hidden">
                      <a class="d-block no-underline Link--secondary color-fg-default" href="<%= link_to_line(annotation) %>">
                        <% if annotation_name.present? %>
                          <strong><%= annotation_name %><% unless annotation.system_path? %>: <% end %></strong>
                        <% end %>
                        <% unless annotation.system_path? %><%= annotation.parsed_file_name %>#L<%= annotation.start_line %><% end %>
                      </a>
                      <div class="color-fg-muted">
                        <div data-target="annotation-message.annotationContainer" class="text-small text-mono annotation--contracted">
                          <%= message(annotation) %>
                        </div>
                        <button data-action="click:annotation-message#toggleExpansion" data-target="annotation-message.showMoreButton" class="btn-link text-normal" type="button">Show more</button>
                        <button data-action="click:annotation-message#toggleExpansion" data-target="annotation-message.showLessButton" class="btn-link text-normal" hidden type="button">Show less</button>
                      </div>
                    </div>
                  </annotation-message>
                </td>
              </tr>
            <% end %>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
