<% track_render_partial("actions/workflow_runs/artifacts") do %>
  <div role="region" aria-label="Artifacts" id="artifacts"  class="js-updatable-content js-socket-channel"
      data-channel="<%= channels.map { |c| live_update_view_channel(c) }.join(" ") %>"
      data-url="<%= workflow_run_artifacts_partial_path(workflow_run_id: check_suite.workflow_run.id, repository: current_repository, user_id: current_repository.owner.display_login) %>">
    <% if artifacts.any? %>
      <div class="actions-fullwidth-module color-bg-default Box color-shadow-small mb-3 pt-3 border rounded">
        <div class="mt-1 mb-3 px-3">
          <div class="mx-0 mx-md-1">
            <h2 class="text-bold h4">Artifacts</h2>
            <div class="color-fg-muted text-small">Produced during runtime</div>
          </div>
        </div>

        <table class="width-full mt-n1 actions-workflow-table" style="table-layout: fixed;">
          <thead>
            <tr class="color-fg-muted border-bottom color-border-muted">
              <th class="col-8 col-md-4 col-lg-6 col-xl-4 py-0 text-semibold">Name</th>
              <th class="py-0 text-semibold col-2 col-md-2 col-lg-2">Size</th>
              <th class="py-0 text-semibold col-2 col-md-2 col-lg-2"></th>
            </tr>
          </thead>
          <tbody>
            <% artifacts.each_with_index do |artifact, index| %>
              <%
                last = index == artifacts.count - 1
                download_path = workflow_run_download_artifact_path(workflow_run_id: check_suite.workflow_run.id, user_id: current_repository.owner,
                                                      repository: current_repository, artifact_id: artifact.id)
              %>
              <tr role="row">
                <td class="compact col-lg-6 col-md-4 pr-3<% unless last %> border-bottom color-border-muted<% end %>">
                  <div class="d-flex flex-items-center">
                    <% if artifact.expired? %>
                      <span class="position-relative lh-0 mr-2">
                        <%= primer_octicon(:package, size: :small, color: :muted) %>
                      </span>
                      <div style="cursor: default" class="flex-auto min-width-0">
                        <span class="text-bold color-fg-muted mr-2" style="word-break: break-word;">
                          <%= artifact.name %>
                        </span>
                        <%= render Primer::Beta::Label.new(scheme: :secondary, mr: 1) do %>
                          Expired
                        <% end %>
                      </div>
                    <% elsif !logged_in? %>
                      <span class="position-relative lh-0 mr-2">
                        <%= primer_octicon(:package, size: :small, color: :muted) %>
                      </span>
                      <div>
                        <span class="text-bold color-fg-default" style="word-break: break-word;">
                          <%= artifact.name %>
                        </span>
                      </div>
                    <% else %>
                      <a class="position-relative lh-0 mr-2" href="<%= download_path %>" aria-label="Download <%= artifact.name %>">
                        <%= primer_octicon(:package, size: :small, color: :muted) %>
                      </a>
                      <div>
                        <a class="text-bold no-underline Link--primary" style="word-break: break-word;" href="<%= download_path %>">
                          <%= artifact.name %>
                        </a>
                      </div>
                    <% end %>
                  </div>
                </td>
                <td class="compact pr-3<% unless last %> border-bottom color-border-muted<% end %><% if artifact.expired? %> color-fg-muted<% end %>">
                  <%= number_to_human_size(artifact.size) %>
                </td>
                <td class="compact pr-3 text-right color-fg-muted<% unless last %> border-bottom color-border-muted<% end %>">
                  <div class="d-flex flex-justify-end">
                    <% if logged_in? && !artifact.expired? %>
                      <%= render Primer::Beta::IconButton.new(
                        icon: :download,
                        type: :button,
                        tag: :a,
                        scheme: :invisible,
                        href: download_path,
                        "data-test-selector": "download-artifact-button",
                        "aria-label": "Download #{artifact.name}")
                      %>
                    <% end %>
                    <% if current_repository.writable_by?(current_user) && !artifact.expired? %>
                      <% delete_path = delete_artifact_path(id: check_suite.id, user_id: current_repository.owner,
                                                            repository: current_repository, artifact_id: artifact.id) %>
                      <%= form_tag delete_path, method: "delete" do %>
                        <%= render Primer::Beta::IconButton.new(
                          icon: :trash,
                          type: :submit,
                          scheme: :invisible,
                          ml: 1,
                          "data-test-selector": "delete-artifact-button",
                          "aria-label": "Delete #{artifact.name}",
                          "data-confirm": "Are you sure you want to delete #{artifact.name}?")
                        %>
                      <% end %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
