<% track_render_partial("actions/workflow_runs/job_summaries") do %>
  <job-summaries class="js-updatable-content js-socket-channel"
    data-retain-focus
    <% if viewing_current? %>
      data-channel="<%= live_update_view_channel(@check_suite.channel) %>"
      data-url="<%= workflow_run_job_summary_partial_path(user_id: @current_repository.owner_display_login, repository: @current_repository, workflow_run_id: @check_suite.workflow_run.id) %>"
    <% end %>
  >
    <% filtered_workflow_job_runs.sort_by { |job| job.check_run.sort_order }.each_with_index do |workflow_job_run, index| %>
      <job-summary
        id="<%= self.class.anchor_for(workflow_job_run) %>"
        class="actions-job-summary actions-fullwidth-module d-block color-bg-default Box rounded mb-3"
        data-content-path="<%= workflow_run_job_summary_content_path(user_id: @current_repository.owner_display_login, repository: @current_repository, workflow_run_id: workflow_job_run.workflow_run.id, job_id: workflow_job_run.id) %>"
      >
        <div class="mb-3 pl-3 pr-1 rounded-top-2 border-bottom color-bg-subtle">
          <div class="d-flex flex-items-center mx-0 mx-md-1 py-2">
            <h2 class="flex-1 text-semibold my-1 h4">
              <a class="Link--primary" href="#<%= self.class.anchor_for(workflow_job_run) %>"><%= workflow_job_run.check_run.display_name %> summary</a>
            </h2>
            <%= render Primer::Beta::Details.new(classes: "dropdown details-overlay details-reset", display: :inline_block) do |c| %>
              <% unless workflow_job_run.check_run.expired_logs? %>
                <% c.with_summary(classes: "btn-octicon", text_align: :center, m: 0, p: 2, role: "button", aria: { label: "job summary options" }) do %>
                  <%= render(Primer::Beta::Octicon.new(:"kebab-horizontal", vertical_align: :middle)) %>
                <% end %>
                <% c.with_body(tag: :"details-menu", classes: "dropdown-menu dropdown-menu-sw", style: "width: 180px;", role: "menu") do %><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                  <a role="menuitem" class="dropdown-item" href="<%= workflow_job_run.check_run.permalink(pull: nil, check_suite_focus: true) %>">
                    View job logs
                  </a>
                  <a role="menuitem" class="dropdown-item" target="_blank" rel="noopener noreferrer" href="<%= workflow_run_job_summary_raw_path(user_id: @current_repository.owner_display_login, repository: @current_repository, workflow_run_id: workflow_job_run.workflow_run.id, job_id: workflow_job_run.id) %>">
                    View raw markdown
                  </a>
                  <div role="none" class="dropdown-divider"></div>
                  <%= render Primer::Beta::ClipboardCopy.new(role: "menuitem", classes: "dropdown-item", style: "cursor:pointer;", "aria-label": "Copy summary permalink", value: self.class.permalink_for(@current_repository, @check_suite.workflow_run, @execution, workflow_job_run)) do %>
                    Copy permalink
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="mx-1 px-3 pb-3">
          <%= render Actions::WorkflowRuns::JobSummaryContentComponent.new(
            check_suite: @check_suite,
            workflow_job_run: workflow_job_run,
            preload: (index < NUM_PRELOAD_JOBS) || @preload_all
          ) %>
        </div>
      </job-summary>
    <% end %>

    <%# SVG clip path from PR view's diff loader %>
    <%= render partial: "diff/placeholder" %>
  </job-summaries>
<% end %>
