<% track_render_partial("actions/workflow_runs/navigation", trace: true) do %>
  <div
    <% if viewing_current? %>
      class="js-updatable-content js-socket-channel"
      data-retain-focus
      data-channel="<%= live_update_view_channel(check_suite.channel) %>"
      data-url="<%= live_update_path %>"
    <% end %>
  >
    <%= render(Primer::Beta::NavList.new(
      px: 2,
      aria: { label: "Workflow run" },
      selected_item_id: selected_item_id)
    ) do |component| %>
      <% component.with_item(
        label: "Summary",
        test_selector: "summary-link",
        href: summary_path,
        selected_by_ids: :summary,
        truncate_label: true
      ) do |item| %>
        <% item.with_leading_visual_icon(icon: :home) %>
      <% end %>
      <% component.with_group do |group| %>
        <% group.with_heading(title: "Jobs", heading_level: 2)%>
        <% processed_sidebar_map.each do |parent_name, parent_entry| %>
          <% parent_entry.each do |nested_type, details|%>
            <% if nested_type == :nested %>
              <% group.with_item(
                label: parent_name,
                test_selector: "job-link",
                expanded: expand_list_with_sub_items?(details[:status], details[:conclusion]),
                truncate_label: true
              ) do |item| %>
                <% item.with_leading_visual_content do %>
                  <%= render Actions::WorkflowRuns::StatusComponent.new(conclusion: details[:conclusion], status: details[:status], size: 16) %>
                <% end %>

                <% details[:data].each do |check_run_data|%>
                  <% check_run = check_run_data[:check_run] %>
                  <% item.with_item(
                    label: check_run_data[:display_name],
                    data: { "turbo" => "false" },
                    href: check_run.permalink(pull: pull, check_suite_focus: true),
                    truncate_label: true,
                    selected_by_ids: [id_for_check_run(check_run)],
                    component_klass: Actions::WorkflowRuns::NavigationItemComponent
                  ) do |subitem| %>
                    <% subitem.with_leading_visual_content do %>
                      <%= render Actions::WorkflowRuns::StatusComponent.new(conclusion: check_run.conclusion, status: check_run.status, size: 16) %>
                    <% end %>
                    <% if show_rerun_button?(check_run) %>
                      <% subitem.with_trailing_action(
                        icon: :sync,
                        show_on_hover: true,
                        "aria-label": "Re-run job",
                        show_tooltip: false,
                        data: {
                          "show-dialog-id" => "rerun-dialog-#{check_run.id}",
                          "job-id" => "#{check_run&.workflow_job_run&.parent_job_id}",
                          "action" => "mouseenter:run-summary#mouseEnterRerun mouseleave:run-summary#mouseLeaveRerun"}) %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <% details.each do |check_run| %>
                <% group.with_item(
                  label: check_run.visible_name,
                  test_selector: "job-link",
                  data: { "turbo" => "false" },
                  href: check_run.permalink(pull: pull, check_suite_focus: true),
                  selected_by_ids: [id_for_check_run(check_run)],
                  truncate_label: true,
                  component_klass: Actions::WorkflowRuns::NavigationItemComponent
                ) do |item| %>
                  <% item.with_leading_visual_content do %>
                    <%= render Actions::WorkflowRuns::StatusComponent.new(conclusion: check_run.conclusion, status: check_run.status, size: 16) %>
                  <% end %>
                  <% if show_rerun_button?(check_run) %>
                    <% item.with_trailing_action(
                      icon: :sync,
                      show_on_hover: true,
                      "aria-label": "Re-run job",
                      show_tooltip: false,
                      data: {
                        "show-dialog-id" => "rerun-dialog-#{check_run.id}",
                        "job-id" => "#{check_run&.workflow_job_run&.parent_job_id}",
                        "action" => "mouseenter:run-summary#mouseEnterRerun mouseleave:run-summary#mouseLeaveRerun"}) %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% if can_view_workflow_file? || !GitHub.enterprise? %>
        <% component.with_group do |group| %>
          <% group.with_heading(title: "Run details", heading_level: 2) %>
          <% unless GitHub.enterprise? %>
            <% group.with_item(
              label: "Usage",
              test_selector: "usage-link",
              href: usage_path,
              selected_by_ids: :usage,
              truncate_label: true
            ) do |item| %>
              <% item.with_leading_visual_icon(icon: :stopwatch) %>
            <% end %>
          <% end %>
          <% if can_view_workflow_file? %>
            <% group.with_item(
              label: "Workflow file",
              test_selector: "workflow-file-link",
              href: workflow_file_path,
              selected_by_ids: :workflow_file,
              truncate_label: true
            ) do |item| %>
              <% item.with_leading_visual_icon(icon: "file-code") %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%# Hack to keep hotkey support since the hotkeys don't fit into Alpha::Navlist %>
    <div hidden>
      <a data-hotkey="<%= hotkeys_for(current_user, :actions, :go_to_usage) %>" href="<%= usage_path %>">Usage</a>
      <a data-hotkey="<%= hotkeys_for(current_user, :actions, :go_to_workflow_file) %>" href="<%= workflow_file_path%>">Workflow file</a>
    </div>
  </div>
<% end %>
