<%= render(Primer::Alpha::Dialog.new(
  title: title,
  size: :large,
  id: @dialog_id,
  color: :default,
)) do |d| %>
  <% d.with_header do %>
      <div class="text-semibold">
        <%= title %>
      </div>
      <div class="color-fg-muted my-2">
        <%= subtitle %>
      </div>
  <% end %>
  <% d.with_body do %>
    <div class="border rounded py-2 px-3">
      <include-fragment loading="lazy" src="<%=job_list_src%>">
        <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
      </include-fragment>
    </div>
  <% end %>
  <% d.with_footer(show_divider: true) do %>
    <%= form_tag workflow_run_rerequest_check_suite_path(workflow_run_id: @workflow_run.id, user_id: @current_repository.owner, repository: @current_repository, pr: params[:pr]), method: "put", class: "width-full" do %>
      <% if @variant == :failed_jobs %>
        <input type="hidden" name="only_failed_check_runs" value="true">
      <% elsif @variant == :single_job %>
        <input type="hidden" name="check_run_id" value="<%= @job.check_run.id %>">
      <% end %>
      <div class="d-flex flex-row flex-justify-between">
        <div class="d-flex flex-items-center form-checkbox m-0">
          <label class="text-normal">
            <input type="checkbox" name="enable_debug_logging" value="true">Enable <a class="color-fg-accent Link--inTextBlock" href="<%= GitHub.help_url %>/actions/monitoring-and-troubleshooting-workflows/enabling-debug-logging">debug logging</a>
          </label>
        </div>
        <div class="d-flex flex-items-center">
          <%= render Primer::Beta::Button.new(type: :button, data: { "close-dialog-id": @dialog_id }) do %>
              Cancel
          <% end %>
          <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, ml: 2, data: { disable_with: "Re-running..."}) do %>
            Re-run jobs
          <% end %>
        </div>
    </div>
  <% end %>
<% end %>
<% end %>
