<% track_render_partial("actions/workflow_runs/summary_bar", trace: true) do %>
  <div role="region" aria-label="Workflow run summary" class="js-updatable-content js-socket-channel actions-workflow-stats actions-fullwidth-module color-bg-default Box color-shadow-small mb-3 pb-3 px-3 border border-top-0 border-md-top rounded"
    <% if viewing_current? %>
      data-url="<%= partial_path %>"
      data-channel="<%= channels.map { |c| live_update_view_channel(c) }.join(" ") %>"
    <% end %>>
    <div class="p-md-1 d-flex flex-wrap">
      <div class="col mt-md-3 mr-6">

        <%# Trigger header: "Triggered via issue", etc... %>
        <span class="mb-1 d-block text-small color-fg-muted">
          <%= workflow_run_trigger_header %>
          <% if status_entity.started_at.present? %>
            <%= render Primer::Beta::RelativeTime.new(datetime: status_entity.started_at, tense: :past) %>
          <% else %>
            <%= render Primer::Beta::RelativeTime.new(datetime: status_entity.created_at, tense: :past) %>
          <% end %>
        </span>

        <div class="d-flex flex-wrap col-triggered-content flex-items-center color-fg-muted">
          <%# Workflow run actor with hovercard %>
          <% if workflow_run_actor %>
            <%= profile_link workflow_run_actor, class: "Link--primary text-semibold mr-1 no-underline" do %>
              <% avatar_for(workflow_run_actor, 16, class: "avatar mr-1", style: "margin-top: -2px;") + workflow_run_actor.display_login %>
            <% end %>
          <% end %>

          <%# Verb and link to source, if applicable %>
          <div class="d-flex flex-items-baseline color-fg-default mr-1">
            <% if trigger_action.present? %>
              <span class="mr-1"><%= trigger_action %></span>
            <% end %>
            <% case original_trigger_type %>
            <% when Actions::TriggerTypes::DEPLOYMENT %>
              <%= trigger.environment %>
            <% when Actions::TriggerTypes::ISSUE %>
              <%= link_to "##{trigger.number}", issue_path(trigger), class: "Link--primary", data: hovercard_data_attributes_for_issue_or_pr(trigger) %>
            <% when Actions::TriggerTypes::ISSUE_COMMENT %>
              <%= link_to "##{trigger.issue.number}", "#{issue_path(trigger.issue)}#issuecomment-#{trigger.id}", class: "Link--primary", data: hovercard_data_attributes_for_issue_or_pr(trigger.issue, comment_id: trigger.id) %>
            <% when Actions::TriggerTypes::PULL_REQUEST %>
              <%= link_to "##{trigger.number}", pull_request_path(trigger), class: "Link--primary", data: hovercard_data_attributes_for_issue_or_pr(trigger) %>
            <% when Actions::TriggerTypes::PUSH %>
            <% when Actions::TriggerTypes::RELEASE %>
              <%= link_to trigger.tag_name, release_path(trigger), class: "Link--primary" %>
            <% else %>
              <%# Fix vertical alignment of profile & commit elements, but no x-margin %>
              &#8288;
            <% end %>

            <% if commit_id_relevant? %>
              <a class="Link--primary text-small no-underline ml-1" href="<%= commit_path(workflow_run.commit) %>">
                <%= primer_octicon(:"git-commit", style: "padding-top: 2px;") %>
                <%= workflow_run.short_head_sha %>
              </a>
            <% end %>
          </div>

          <% if branch_name_relevant? %>
            <%= render partial: "actions/workflow_run_item_branch", locals: { workflow_run: workflow_run } %>
          <% end %>
        </div>
      </div>

      <div class="col-12 d-md-none mt-2 pt-2 border-bottom"></div>

      <div class="col mt-3 mr-3 mr-sm-6 ml-lg-3">
        <span class="mb-1 d-block text-small color-fg-muted">Status</span>
        <span class="h4 color-fg-default"><%= workflow_run_status_text %></span>
      </div>

      <div class="col mt-3 mr-3 mr-sm-6 ml-lg-3">
        <span class="mb-1 d-block text-small color-fg-muted">Total duration</span>
        <% if GitHub.enterprise? %>
          <span class="h4 no-underline color-fg-default" <%= test_selector("timing-details") %>><%= workflow_run_total_duration %></span>
        <% else %>
          <a href="<%= workflow_run_usage_path(workflow_run_id: workflow_run.id, repository: current_repository, user_id: current_repository.owner.display_login) %>"
            class="h4 no-underline Link--primary color-fg-default" data-hotkey="g u"<%# erblint:disable DataHotkey %>
            <%= test_selector("timing-details") %>>
            <%= workflow_run_total_duration %>
          </a>
        <% end %>
      </div>

      <% if has_billing_data? %>
        <div class="col mt-3 mr-3 mr-sm-6 ml-lg-3">
          <span class="mb-1 d-block text-small color-fg-muted">Billable time</span>
          <a href="<%= workflow_run_usage_path(workflow_run_id: workflow_run.id, repository: current_repository, user_id: current_repository.owner.display_login) %>"
            class="h4 no-underline Link--primary color-fg-default">
            <%= workflow_run_total_billing_duration %>
          </a>
        </div>
      <% end %>

      <div class="mt-3 ml-lg-3">
        <span class="mb-1 d-block text-small color-fg-muted">Artifacts</span>
        <% if artifacts_count.zero? %>
          <span class="h4 color-fg-default">
          &ndash;
          </span>
        <% else %>
          <a href="#artifacts" class="h4 Link--primary no-underline">
            <%= artifacts_count %>
          </a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
