<%= render Primer::BaseComponent.new(
  tag: system_arguments[:tag].presence || :div,
  classes: "min-width-0 flex-justify-start flex-nowrap css-truncate-overflow",
  display: :flex,
  **system_arguments,
) do %>
  <% if can_split_name %>
    <%# first path %>
    <% if short_first_path_name? %>
      <%# don't truncate the first path if the name is too short other wise it causes UI bug %>
      <span class="workflow-path-first-item-short" data-target="streaming-graph-job.name"><%= split_display_name.first %>&nbsp;</span>
    <% else %>
      <span class="css-truncate css-truncate-overflow workflow-path-first-item" data-target="streaming-graph-job.name"><%= split_display_name.first %>&nbsp;</span>
    <% end %>

    <%# seperator %>
    <% if has_middle_paths? %>
      <span <%= test_selector "separator" %>>/</span>
      <span data-target="streaming-graph-job.ellipsis" <%= test_selector "ellipsis" %>>&nbsp;...&nbsp;</span>
      <span <%= test_selector "separator" %>>/</span>
    <% else %>
      <span <%= test_selector "separator" %>>/</span>
    <% end %>

    <%# last path%>
    <span class="css-truncate css-truncate-overflow min-width-0">&nbsp;<%= split_display_name.last %></span>
  <% else %>
    <span class="css-truncate css-truncate-overflow" data-target="streaming-graph-job.name">
      <%= name %>
    </span>
  <% end %>
<% end %>
