<%
  path = check_suite.workflow_file_path
  blob = workflow_file_blob(path)
%>

<div class="actions-fullwidth-module color-bg-default Box color-shadow-small mb-3 pt-3 border rounded color-bg-subtle">
  <div class="d-flex mt-1 mb-3 px-3">
    <div class="mx-0 mx-md-1 mb-1 flex-auto">
      <h4>Workflow file for this run</h4>

      <div class="text-small color-fg-muted">
        <a href="<%= workflow_file_blob_path(path) %>"
           class="Link--secondary no-underline">
          <%= workflow_file_path_display_name(path) %>
        </a> at
        <a href="<%= workflow_file_commit_path(path) %>" class="text-mono Link--secondary no-underline"><%= workflow_file_commit_oid(path) %></a>
      </div>
    </div>
    <% if !required_workflow_execution? && check_suite.head_branch && current_repository.heads.exist?(check_suite.head_branch) %>
      <a class="text-center Link--primary d-block" aria-label="Edit workflow file"
         href="<%= file_edit_path(current_repository.owner, current_repository, check_suite.head_branch, path) %>">
        <%= render Primer::Beta::Octicon.new(icon: "pencil") %>
      </a>
    <% end %>
  </div>
  <div class="py-3 px-0 blob-wrapper border-top color-bg-default rounded-bottom-2">
    <% if blob.present? %>
      <%= render :partial => "blob/blob_code", locals: {
        blob: blob,
        lines_to_include: (1..blob.lines.length).to_a,
        pull_request: nil, # No PR needed here, it is just to link back to the workflow run page
        show_toolbar: false,
        annotations: DiffAnnotations.new(annotations),
        current_commit: commit,
        current_repository: current_repository,
      } %>
    <% else %>
      <%= render Primer::Beta::Blankslate.new(mt: 2) do |c| %>
        <% c.with_visual_icon(icon: "alert") %>

        <% c.with_heading(tag: :h2) do %>
          File not found
        <% end %>

        <% c.with_description do %>
          The workflow file could not be found.
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
