<discussion-spotlight-preview>
  <%= render Discussions::SpotlightComponent.new(spotlight: spotlight, preview: true, org_param: org_param) %>

  <div class="mt-3 d-flex flex-justify-between">
    <fieldset class="discussion-spotlight-color-container">
      <legend class="text-bold">Background</legend>
      <div class="d-flex flex-wrap mt-2">
        <% DiscussionSpotlight.preconfigured_color_names.each_with_index do |color, index| %>
          <%
            color_is_selected = spotlight.preconfigured_color == color
            color_stops = DiscussionSpotlight.color_stops_for(color)
            color_name = DiscussionSpotlight::PRECONFIGURED_TO_NEXT[color.to_sym].to_s.humanize
          %>
          <div class="<%= "ml-6" if index > 0 %>">
            <div <%= test_selector("color-option-#{color}") %>>
              <input
                id="discussion_spotlight_preconfigured_color_<%= color %>"
                type="radio"
                name="discussion_spotlight[preconfigured_color]"
                value="<%= color %>"
                style="<%= helpers.discussion_spotlight_gradient_background_style(color_stops) %>"
                class="<%= class_names(
                  "position-absolute mr-1 mb-2 border flex-shrink-0 discussion-spotlight-gradient btn px-0 text-center"
                ) %>"
                <%= "checked" if color_is_selected %>
                data-action="change:discussion-spotlight-preview#updatePreview"
              >
              <div class="discussion-spotlight-checkmark circle flex-items-center">
                <%= render Primer::Beta::Octicon.new(
                  icon: :check,
                  color: :on_emphasis,
                  aria: { hidden: true },
                  ml: 1
                )%>
              </div>
            </div>
            <%= render(Primer::Alpha::Tooltip.new(
              for_id: "discussion_spotlight_preconfigured_color_#{color}",
              type: :label,
              text: "#{color_name.to_s.humanize} gradient background",
              )) %>
            <% end %>
          </div>
      </div>
    </fieldset>
  </div>

  <p class="note">
    You can pin up to <%= DiscussionSpotlight::LIMIT_PER_REPOSITORY %> discussions.
    They will appear publicly at the top of the discussions page.
  </p>

  <div class="d-flex flex-justify-end border-top mt-3 pt-3">
    <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": close_dialog_id })) { "Cancel" } %>
    <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, ml: 2) do %>
      <%= submit_text %>
    <% end %>
  </div>
</discussion-spotlight-preview>
