<div class="col-12 offset-md-1 col-md-11 position-relative position-xl-absolute top-0 right-0 events-none">
  <picture>
    <source srcset="<%= image_path "modules/site/features/launchpad/backgrounds/bg-collaboration-glow.webp" %>" type="image/webp">
    <img class="width-full position-relative right-0 right-lg-n12" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-collaboration-glow.png" %>" style="max-height: 75vw" aria-hidden="true" alt="" width="906" height="937">
  </picture>
  <img class="position-absolute top-n12 top-xl-0 right-0 width-fit" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-collaboration-shapes.svg" %>" aria-hidden="true" alt="" width="888" height="908">

  <div class="position-absolute top-0 right-0 my-auto bottom-0 d-flex flex-column flex-justify-center" style="max-width: 681px;">
    <picture>
      <source srcset="<%= image_path "modules/site/features/launchpad/illo/illo-collaboration-diff-view.webp" %>" type="image/webp">
      <img class="width-full height-auto d-block rounded" src="<%= image_path "modules/site/features/launchpad/illo/illo-collaboration-diff-view.png" %>" style="background-color: rgba(4, 16, 39, 0.8); max-width: 80vw" alt="Pull requests display diffs to compare the changes you made in your topic branch against the base branch that you want to merge your changes into." width="681" height="475">
    </picture>
    <div class="position-absolute width-full top-0 bottom-0 my-auto right-0">
      <img class="d-block features-category--background-collaboration js-build-in height-auto width-full" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-collaboration-glow-mg.svg" %>" aria-hidden="true" alt="" width="706" height="509">
    </div>
  </div>

  <picture>
    <source srcset="<%= image_path "modules/site/features/launchpad/illo/illo-collaboration-convo.webp" %>" type="image/webp">
    <img class="height-auto d-block rounded position-absolute top-0 bottom-7 bottom-md-12 my-auto right-3 right-lg-7" src="<%= image_path "modules/site/features/launchpad/illo/illo-collaboration-convo.png" %>" alt="Reviews allow collaborators to comment on the changes proposed in pull requests, approve the changes, or request further changes before the pull request is merged." width="689" height="368" style="width: 689px; max-width: 85vw; background-color: rgba(4, 16, 39, 0.9);">
  </picture>
</div>
