<div class="position-relative position-xl-static">
  <div class="position-relative position-xl-absolute col-xl-8 top-0 right-0 z-n1">
    <div class="position-absolute position-xl-relative top-4 top-md-n7 top-lg-n8 top-xl-3 right-0 z-n1">
      <div class="features-category--background features-category--background-automation js-build-in">
        <img class="d-block" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-automation-glow.svg" %>" aria-hidden="true" alt="" loading="lazy" width="1106" height="908">
        <div class="position-absolute width-full top-0 right-n10">
          <img class="d-block" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-automation-cog.svg" %>" aria-hidden="true" alt="" loading="lazy" width="1072" height="908">
        </div>
        <div class="position-absolute width-full top-0 right-0">
          <img class="d-block" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-automation-lower-mg.svg" %>" aria-hidden="true" alt="" loading="lazy" width="1050" height="908">
        </div>
      </div>
    </div>

    <div class="p-responsive container-xl">
      <div class="pt-8 pt-md-4 pt-xl-12 pr-0 pr-md-10 pr-lg-10 position-static position-xl-absolute width-full top-0 d-flex flex-column flex-justify-center height-full">
        <div class="offset-md-1 col-md-11 offset-xl-2 col-xl-10 position-relative text-right d-flex flex-column flex-items-end pl-6">
          <div class="width-full d-flex flex-justify-center">
            <img class="features-category--automation-illo1 width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/illo/illo-automation-window.svg" %>" alt="" loading="lazy" width="711" height="328" style="max-width: 711px;">

            <div class="position-absolute features-category--automation-glow-md">
              <img class="d-block features-category--background-automation js-build-in" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-automation-upper-mg.svg" %>" aria-hidden="true" alt="" loading="lazy" width="646" height="325">
            </div>

              <img class="position-absolute features-category--automation-illo2 height-auto d-block" src="<%= image_path "modules/site/features/launchpad/illo/illo-automation-cards.svg" %>" alt="Automate everything: CI/CD, testing, planning, project management, issue labeling, approvals, onboarding, and more." loading="lazy" width="914" height="307" style="max-width: 914px; width: 115%;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
