<div class="position-relative position-xl-static">
  <div class="position-relative position-xl-absolute col-xl-8 top-0 top-xl-n12 right-0 z-n1">
    <div class="position-absolute position-xl-relative top-0 right-0 z-n1">
      <div class="features-category--background features-category--background-project-management js-build-in">
        <img class="width-full d-block" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-project-management-glow.svg" %>" aria-hidden="true" alt="" loading="lazy" width="975" height="1000">
        <div class="features-category--pm-bg-shapes width-full position-absolute top-0 right-n12">
          <img class="width-full d-block" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-project-management-shapes.svg" %>" aria-hidden="true" alt="" loading="lazy" width="841" height="877">
        </div>
      </div>
    </div>

    <div class="p-responsive container-xl">
      <div class="pt-6 pt-xl-10 pr-md-3 position-static position-xl-absolute width-full top-0 d-flex flex-column flex-justify-center height-full">
        <div class="offset-xl-3 col-xl-9 position-relative d-flex flex-row flex-justify-end flex-items-start pr-lg-6">
          <div class="features-category--pm-illo-shift col-5" style="max-width: 275px;">
            <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/illo/illo-project-management-kanban-progress.svg" %>" alt="Visually track issues, pull requests, and notes as cards that you can arrange to suit your workflow." aria-hidden="true" loading="lazy" width="275" height="20">
            <div class="features-category--pm-illo1">
              <picture>
                <source srcset="<%= image_path "modules/site/features/launchpad/illo/illo-project-management-bg.webp" %>" type="image/webp">
                <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/illo/illo-project-management-bg.png" %>" alt="GitHub’s planning and tracking features live with your code." loading="lazy" width="275" height="487">
              </picture>
            </div>
          </div>

          <div class="col-6" style="max-width: 329px;">
            <div class="features-category--pm-illo2 position-relative top-n1">
              <picture>
                <source srcset="<%= image_path "modules/site/features/launchpad/illo/illo-project-management-mg.webp" %>" type="image/webp">
                <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/illo/illo-project-management-mg.png" %>" alt="GitHub Project Shipped" loading="lazy" width="329" height="537">
              </picture>
              <div class="features-category--pm-glow-mg position-absolute">
                <img class="d-block features-category--background-project-management js-build-in" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-project-management-upper-mg.svg" %>" aria-hidden="true" alt="" loading="lazy" width="526" height="528">
              </div>
              <div class="features-category--pm-illo3 position-absolute">
                <picture>
                  <source srcset="<%= image_path "modules/site/features/launchpad/illo/illo-project-management-fg.webp" %>" type="image/webp">
                  <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/illo/illo-project-management-fg.png" %>" alt="Track what you deliver down to the commit." loading="lazy" width="325" height="295" style="max-width: 325px;">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
