<div class="position-relative position-xl-static">
  <div class="position-relative position-xl-absolute top-0 top-lg-n3 top-xl-n5 right-0 z-n1">
    <div class="position-absolute position-xl-relative top-0 top-md-n4 top-lg-n8 top-xl-0 right-0 z-n1">
      <div class="features-category--background features-category--background-security js-build-in">
        <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-security-glow.svg" %>" aria-hidden="true" alt="" loading="lazy" width="974" height="908" style="min-height: 128px;">
        <div class="position-absolute top-0 right-0">
          <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-security-shapes.svg" %>" aria-hidden="true" alt="" loading="lazy" width="975" height="908" style="min-height: 128px;">
        </div>
      </div>
    </div>

    <div class="p-responsive container-xl">
      <div class="pt-6 pt-xl-10 position-static position-xl-absolute width-full top-0 d-flex flex-column flex-justify-center height-full">
        <div class="offset-xl-2 col-xl-10 position-relative d-flex flex-row flex-justify-end pl-4 pl-md-6 pl-lg-0">
          <div class="features-category--security-illo1 width-full position-relative right-n6 right-xl-0" style="max-width: 709px;">
            <picture>
              <source srcset="<%= image_path "modules/site/features/launchpad/illo/illo-security-window.webp" %>" type="image/webp">
              <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/illo/illo-security-window.png" %>" alt="Automatically review every change to your codebase and identify vulnerabilities before they reach production." loading="lazy" width="709" height="353">
            </picture>

            <div class="features-category--security-glow-mg position-absolute right-n6" style="max-width: 711px">
              <img class="d-block features-category--background-security js-build-in" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-security-upper-mg.svg" %>" aria-hidden="true" alt="" loading="lazy" width="711" height="437">
            </div>
          </div>
          <div class="features-category--security-illo2 position-absolute width-full right-0 d-flex flex-row flex-justify-end">
            <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/illo/illo-security-notification.svg" %>" alt="Understand and address any vulnerabilities in your open source dependencies." loading="lazy" width="824" height="202" style="max-width: 824px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
