<div class="position-relative position-xl-static">
  <div class="position-relative position-xl-absolute col-xl-8 top-0 top-md-5 top-xl-n12 right-md-8 right-lg-6 right-0 z-n1">
    <div class="position-absolute position-xl-relative width-full top-0 top-md-n10 top-lg-n6 top-xl-5 right-12 right-md-n6 right-lg-n12 z-n1">
      <div class="features-category--background features-category--background-team-admin js-build-in">
        <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-team-admin-glow.svg" %>" aria-hidden="true" alt="" loading="lazy" width="1193" height="1059">
        <div class="position-absolute width-full top-0 right-0">
          <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-team-admin-shapes.svg" %>" aria-hidden="true" alt="" loading="lazy" width="1183" height="1000">
        </div>
      </div>
    </div>

    <div class="p-responsive container-xl my-6 my-xl-0">
      <div class="pt-8 pt-md-4 pt-xl-12 pr-0 pr-lg-8 position-static position-xl-absolute width-full top-0 d-flex flex-column flex-justify-center height-full">
        <div class="offset-md-2 col-md-10 offset-xl-3 col-xl-9 position-relative d-flex flex-row flex-justify-end pl-4 pl-md-0">
          <div class="features-category--team-admin-illo1 position-relative top-n8" style="max-width: 690px">
            <picture>
              <source srcset="<%= image_path "modules/site/features/launchpad/illo/illo-team-admin-window.webp" %>" type="image/webp">
              <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/illo/illo-team-admin-window.png" %>" alt="Update permissions, add new users as you grow, and give everyone the exact permissions they need." loading="lazy" width="690" height="417">
            </picture>
            <div class="features-category--team-admin-glow-mg position-absolute">
              <img class="d-block features-category--background-team-admin js-build-in" src="<%= image_path "modules/site/features/launchpad/backgrounds/bg-team-admin-upper-mg.svg" %>" aria-hidden="true" alt="" loading="lazy" width="709" height="531">
            </div>
            <div class="features-category--team-admin-illo2 position-absolute pr-4 pr-md-0" style="max-width: 668px;">
              <picture>
                <source srcset="<%= image_path "modules/site/features/launchpad/illo/illo-team-admin-member.webp" %>" type="image/webp">
                <img class="width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/illo/illo-team-admin-member.png" %>" alt="" loading="lazy" width="668" height="60">
              </picture>

              <div class="features-category--team-admin-illo3 col-6 right-0 position-absolute" style="max-width: 328px;">
                <picture>
                  <source srcset="<%= image_path "modules/site/features/launchpad/illo/illo-team-admin-roles.webp" %>" type="image/webp">
                  <img class=" width-full height-auto d-block" src="<%= image_path "modules/site/features/launchpad/illo/illo-team-admin-roles.png" %>" alt="Quickly and securely manage team permissions." loading="lazy" width="328" height="440">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
