<% if @is_divider %>
  <%= render(Primer::BaseComponent.new(tag: :li, classes: "ActionList-sectionDivider", role: "presentation", "aria-hidden": true, **@system_arguments)) %>
<% else %>
  <%= render(Primer::BaseComponent.new(**@list_arguments)) do %>
    <%= render(Primer::BaseComponent.new(**@system_arguments)) do %>
      <%= leading_visual %>
      <span class="ActionList-item-label">
        <%= content %>
      </span>
    <% end %>
  <% end %>
<% end %>
