<%= render Primer::BaseComponent.new(**@system_arguments) do %>
  <%= message %>

  <% if @loading %>
    <div class="SelectMenu-loading">
      <%= content %>
    </div>
  <% else %>
    <%= content %>
  <% end %>

  <% if items.any? %>
    <div role="menu" data-filter-list>
      <% items.each do |item| %>
        <%= item %>
      <% end %>

      <%= render(
        Primer::Box.new(
          classes: "SelectMenu-message",
          data: { "filter-empty-state": true },
          hidden: true
        ).with_content("Nothing to show")
      ) %>
    </div>
  <% end %>
<% end %>
