<% if outside_collaborators.any? %>
  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% component.with_header do %>
      <span class="color-fg-muted">
        <%= number_with_delimiter outside_collaborators.count %>
        <%= pluralize_without_number(outside_collaborators.count, outside_collaborators_verbiage(organization).singularize) %>
        <%= "matching your filter" if params[:query].present? %>
        <%= pluralize_without_number(outside_collaborators.count, "has") %> access to this repository
      </span>
    <% end %>

    <% outside_collaborators.each do |person| %>
      <% component.with_row(display: :flex, justify_content: :space_between) do %>
        <%= render partial: "repositories/people/person",
                   locals: { person: person, show_domain_emails: false, permission: people_permission_hash[person.id]} %>
      <% end %>
    <% end %>
  <% end %>
  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate outside_collaborators %>
  </div>
<% elsif params[:query].present? %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "search") %>

    <% c.with_heading(tag: :h2) do %>
      <%= "There are no #{outside_collaborators_verbiage(organization)} matching '#{params[:query]}'." %>
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      <%= "No #{outside_collaborators_verbiage(organization)} with access to this repository." %>
    <% end %>
  <% end %>
<% end %>
