<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% organization = current_repository.owner %>
<div class="col-6 d-flex flex-items-center" <%= test_selector("person-#{person}") %>>
  <%= profile_link(person, url: org_person_path(organization.display_login, person.display_login)) do
    render GitHub::AvatarComponent.new(actor: person, size: 48)
  end %>
  <div class="pl-3">
    <%= profile_link person, class: "css-truncate-target f4", style: "max-width: 180px", url: org_person_path(organization.display_login, person.display_login) do %>
      <%= person.profile_name.presence || person.display_login %>
    <% end %>
    <% if person.profile_name.present? %>
      <span class="d-block css-truncate-target f5 color-fg-default" itemprop="name"><%= person.display_login %></span>
    <% end %>
  </div>
</div>

<% if show_domain_emails %>
  <div class="col-5 d-flex flex-items-center flex-justify-end color-fg-muted">
    <% unless domain_emails.nil? %>
      <div <%= test_selector("emails-#{person}") %>>
        <% if organization.member_ids.include?(person.id) %>
          <% if domain_emails.any? %>
            <%= domain_emails.first %>
            <% if domain_emails.count > 1 %>
              (<a href="<%= org_person_path(organization.display_login, person.display_login) %>"><%= domain_emails.count - 1 %> more</a>)
            <% end %>
          <% else %>
            <span class="text-italic">No verified or approved domain email</span>
          <% end %>
        <% else %>
          <span class="text-italic"><%= outside_collaborators_verbiage(organization).capitalize.singularize %></span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="Truncate col-3 pl-3 d-flex flex-items-center flex-justify-end color-fg-muted" <%= test_selector("permission-#{person}") %>>
  <a class="Truncate-text"
    href="<%= repository_permissions_path(organization.display_login, person.display_login, organization.display_login, current_repository.name) %>"
    data-ga-click="Orgs, manage repo access, location:manage member repo list; text:Manage access">
    <%= permission.capitalize %>
  </a>
</div>
