<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<%
  organization = current_repository.owner
  page_info \
    title: "#{outside_collaborators_verbiage(organization).capitalize} · #{current_repository.name_with_display_owner}",
    container_xl: true,
    responsive: false,
    selected_link: :people,
    dashboard_pinnable_item_id: current_repository.id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
    <%= render(Primer::Beta::Breadcrumbs.new) do |component| %>
      <% component.with_item(href: pulse_path(organization.display_login, current_repository.name)) do %>Insights<% end %>
      <% component.with_item(href: request.path) { outside_collaborators_verbiage(organization).capitalize } %>
    <% end %>

    <div class="my-4 clearfix">
      <%= form_tag repo_people_collaborators_path(organization.display_login, current_repository.name),
        method: :get,
        class: "subnav-search ml-0 float-left", "data-autosearch-results-container" => "repo-access-list" do %>
        <div class="auto-search-group">
          <input class="width-full form-control subnav-search-input input-contrast auto-search-input js-member-filter-field" type="text" name="query" value="<%= params[:query] %>"
            placeholder="Find a collaborator…"
            aria-label="Find a collaborator…"
            autocomplete="off"
            data-throttled-autosubmit>
          <%= render Primer::Beta::Octicon.new(icon: "search") %>
          <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
        </div>
      <% end %>
      <nav class="subnav-links ml-4 float-left" aria-label="Collaborators">
        <a href="<%= repo_people_index_path(organization.display_login, current_repository.name) %>"
          class="subnav-item">Everyone</a>
        <a href="<%= repo_people_collaborators_path(organization.display_login, current_repository.name) %>"
          class="subnav-item selected"><%= outside_collaborators_verbiage(organization).capitalize %></a>
      </nav>
      <% if current_repository.plan_supports?(:repo_access_export) %>
        <div class="float-right">
          <a class="btn" href="<%= repo_people_export_path(organization.display_login, current_repository.name) %>" id="export-button">
            <%= render(Primer::Beta::Octicon.new(icon: "download")) %> Export CSV
          </a>
        </div>
      <% end %>
    </div>
    <div id="repo-access-list">
      <%= render partial: "repositories/people/collaborator_table", locals: { organization: organization, outside_collaborators: outside_collaborators, people_permission_hash: people_permission_hash } %>
    </div>
  </div>
<% end %>
