<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<%
  page_info \
    title: "People · #{current_repository.name_with_display_owner}",
    container_xl: true,
    responsive: false,
    selected_link: :people,
    dashboard_pinnable_item_id: current_repository.id
  organization = current_repository.owner
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
    <% if organization.restrict_notifications_to_verified_domains? %>
      <%= render(Primer::Beta::Flash.new(mb: 3)) do %>
        The <strong><%= organization.display_login %></strong> organization has restricted email notifications
        to verified or approved domain emails. Organization members will need to add an email from an eligible
        domain in order to receive email notifications.
      <% end %>
    <% end %>

    <%= render(Primer::Beta::Breadcrumbs.new) do |component| %>
      <% component.with_item(href: pulse_path(organization.display_login, current_repository.name)) do %>Insights<% end %>
      <% component.with_item(href: request.path) do %>People<% end %>
    <% end %>

    <div class="my-4 clearfix">
      <%= form_tag repo_people_index_path(organization.display_login, current_repository.name),
        method: :get,
        class: "subnav-search ml-0 float-left", "data-autosearch-results-container" => "repo-access-list" do %>
        <div class="auto-search-group">
          <input class="width-full form-control subnav-search-input input-contrast auto-search-input js-member-filter-field" type="text" name="query" value="<%= params[:query] %>"
            placeholder="Find a user"
            aria-label="Find a user"
            autocomplete="off"
            data-throttled-autosubmit>
          <%= render Primer::Beta::Octicon.new(icon: "search") %>
          <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
        </div>
      <% end %>
      <div class="subnav-links ml-4 float-left" role="navigation"><%# erblint:disable GitHub::Accessibility::NavigationHasLabel %>
        <a href="<%= repo_people_index_path(organization.display_login, current_repository.name) %>"
          class="subnav-item selected">Everyone</a>
        <a href="<%= repo_people_collaborators_path(organization.display_login, current_repository.name) %>"
          class="subnav-item"><%= outside_collaborators_verbiage(organization).capitalize %></a>
      </div>
      <% if current_repository.plan_supports?(:repo_access_export) %>
        <div class="float-right">
          <a class="btn" href="<%= repo_people_export_path(organization.display_login, current_repository.name) %>" id="export-button">
            <%= render(Primer::Beta::Octicon.new(icon: "download")) %> Export CSV
          </a>
        </div>
      <% end %>
    </div>
    <div id="repo-access-list">
      <%= render partial: "repositories/people/people_table", locals: { people: people, domain_emails_hash: domain_emails_hash, people_permission_hash: people_permission_hash } %>
    </div>
  </div>
<% end %>
