<% page_info title: "Actions policies - #{this_business.name}", selected_link: :business_policies %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Actions policies<% end %>
<% end %>

<%= render(Primer::Beta::Heading.new(tag: :h3)) { "Policies" } %>
<p>
  <% if this_business.actions_enabled_for_all_entities? %>
    <strong>Enabled for all organizations</strong> &ndash;
    All organizations, including any created in the future, may use GitHub Actions.
  <% elsif this_business.actions_enabled_for_selected_entities? %>
    <strong>Enabled for specific organizations</strong> &ndash;
    Only specifically-selected organizations may use GitHub Actions:
    <% org_ids = this_business.actions_allowed_entities %>
    <% orgs = Organization.where(id: org_ids).order(login: :asc) %>
    <% if orgs.any? %>
      <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
        <% orgs.each do |org| %>
          <% component.with_row do %>
            <% link_to org.login, stafftools_user_path(org.login) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% elsif this_business.actions_disabled? %>
    <strong>Disabled</strong> &ndash;
    No organizations may use GitHub Actions.
  <% end %>
</p>

<% unless this_business.actions_disabled? %>
  <p>
    <% if form.all_actions_checked? %>
      <strong>Allow all actions</strong> &ndash;
      Any action can be used, regardless of who authored it or where it is defined.
    <% elsif form.local_actions_checked? %>
      <strong>Allow local actions only</strong> &ndash;
      Only <%= form.local_actions_text %> can be used.
    <% elsif form.specified_actions_checked? %>
      <strong>Allow select actions</strong> &ndash;
      Only actions that match specified criteria, plus <%= form.local_actions_text %>, can be used.
    <% end %>
  </p>
<% end %>

<%= render(Primer::Beta::Heading.new(tag: :h3)) { "Artifact and log retention" } %>
<p>
  <strong><%= pluralize(this_business.actions_retention_limit, "day")%></strong>
</p>

<% unless this_business.actions_disabled? %>
  <%= render(Primer::Beta::Heading.new(tag: :h3)) { "Fork pull request workflows" } %>
  <% if this_business.can_run_fork_pr_workflows? %>
    <p>
      <strong>Run workflows from fork pull requests enabled</strong>
    </p>
    <% if this_business.can_run_fork_pr_workflows_with_write_tokens? %>
      <p>
        <strong>Send write tokens to workflows from fork pull requests enabled</strong>
      </p>
    <% else %>
      <p>
        <strong>Send write tokens to workflows from fork pull requests disabled</strong>
      </p>
    <% end %>
    <% if this_business.can_run_fork_pr_workflows_with_secrets? %>
      <p>
        <strong>Send secrets and variables to workflows from fork pull requests enabled</strong>
      </p>
    <% else %>
      <p>
        <strong>Send secrets and variables to workflows from fork pull requests disabled</strong>
      </p>
    <% end %>
  <% else %>
    <p>
      <strong>Run workflows from fork pull requests disabled</strong>
    </p>
  <% end %>

  <%= render(Primer::Beta::Heading.new(tag: :h3)) { "Public fork pull request workflows" } %>
    <% if this_business.can_run_public_fork_pr_workflows_with_variables? %>
      <p>
        <strong>Send variables to workflows from fork pull requests enabled</strong>
      </p>
    <% else %>
      <p>
         <strong>Send variables to workflows from fork pull requests disabled</strong>
      </p>
    <% end %>

<% end %>
