<% page_info title: "Project policies - #{this_business.name}", selected_link: :business_policies %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Project policies<% end %>
<% end %>

<%= render(Primer::Beta::Heading.new(tag: :h3)) { "Organization projects" } %>
<p>
  <strong><%= view.organizations_button_text %></strong> &ndash;
  <%= view.organizations_selected_option[:description] %>
</p>

<%= render(Primer::Beta::Heading.new(tag: :h3)) { "Repository projects" } %>
<p>
  <strong><%= view.repositories_button_text %></strong> &ndash;
  <%= view.repositories_selected_option[:description] %>
</p>
