<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% package_settings_channel = GitHub::WebSocket::Channels.packages_migration("package_settings") %>
<div class="js-socket-channel js-updatable-content"
        data-channel="<%= live_update_view_channel(package_settings_channel) %>"
        data-url="<%= progress_message_after_migration_enterprise_path %>">
  <% if !session[:show_in_process_flash_message].nil? && session[:show_in_process_flash_message] == true %>
  <%= render(Primer::Beta::Flash.new(full: true, display: :flex, align_items: :center)) do %>
      <div class="flex-auto">
        Migration has started. We'll notify you via email once finished.
      </div>
      <%= form_tag hide_in_progress_message_enterprise_path, method: :put do %>
        <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :link, variant: :small, "aria-label": "Close", classes: "flash-notice", dismissible: true)) do %>
          <% primer_octicon(:x) %>
        <% end %>
      <% end %>
  <% end %>
<% end %>

</div>
