<div class="Box">
  <%= render "businesses/packages_settings/section_header", namespaces: namespaces, unmigrated_pkg_count: unmigrated_pkg_count, section_type: "inprogress" %>

  <% all_namespaces.each do |namespace| %>
    <div class="position-relative Box-row d-flex flex-items-center">
      <div class="d-flex flex-items-center">
        <%= avatar_for namespace, 48, class: "v-align-middle avatar mr-2" %>
        <% if !error_namespaces.include?(namespace) && !namespaces.include?(namespace) %>
          <div class="position-absolute color-bg-default avatar-migration-status-badge TimelineItem-badge color-fg-success px-2 py-2 ml-5 mt-5"><%= render(Primer::Beta::Octicon.new(:"check-circle-fill")) %></div>
        <% elsif !namespaces.include?(namespace) %>
          <div class="position-absolute color-bg-default avatar-migration-status-badge TimelineItem-badge color-fg-danger px-2 py-2 ml-5 mt-5"><%= render(Primer::Beta::Octicon.new(:"x-circle-fill")) %></div>
        <% end %>
      </div>

      <div class="Box-title col-7 ml-1 pl-2">
        <div class="color-fg-default"><%= link_to namespace.name, user_path(namespace) %></div>
        <% if !error_namespaces.include?(namespace) && !namespaces.include?(namespace) %>
          <% repositories_count = namespace.packages.where(package_type: "docker").migratable("docker", unmigrated_only: false, migrated_only: true).distinct.pluck(:repository_id).count %>
        <% elsif !namespaces.include?(namespace) %>
          <% repositories_count = namespace.packages.where(package_type: "docker").migratable("docker", unmigrated_only: false, error_only: true).distinct.pluck(:repository_id).count%>
        <% else %>
          <% repositories_count = namespace.packages.where("package_type = 3").joins(:package_versions).merge(Registry::PackageVersion.exclude_docker_base_layer).distinct.pluck(:repository_id).count %>
        <% end %>
        <% if repositories_count > 1 %>
          <div class="text-small color-fg-muted"><%= repositories_count %> repositories </div>
        <% else %>
          <div class="text-small color-fg-muted"><%= repositories_count %> repository</div>
        <% end %>
      </div>

      <div class="col-5 text-normal text-right">
        <%= render(Primer::Beta::Octicon.new(:"package")) %>
        <% if !error_namespaces.include?(namespace) && !namespaces.include?(namespace) %>
          <% packages_count = namespace.packages.where(package_type: "docker").migratable("docker", unmigrated_only: false, migrated_only: true).distinct.count %>
        <% elsif !namespaces.include?(namespace) %>
          <% packages_count = namespace.packages.where(package_type: "docker").migratable("docker", unmigrated_only: false, error_only: true).distinct.count %>
        <% else %>
          <% packages_count = namespace.packages.where("package_type=3").joins(:package_versions).merge(Registry::PackageVersion.exclude_docker_base_layer).distinct.count %>
        <% end %>
        <% if packages_count > 1 %>
            <%= packages_count %> packages
        <% else %>
            <%= packages_count %> package
        <% end %>
      </div>
    </div>
  <% end %>
</div>
