<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="border-lg-bottom">
    <% namespaces.each do |namespace| %>
    <div class="position-relative Box-row d-flex flex-items-center">
        <div class=" d-flex flex-items-center">
            <%= avatar_for namespace, 48, class: "v-align-middle avatar mr-2" %>
            <div class="position-absolute color-bg-default avatar-migration-status-badge TimelineItem-badge color-fg-danger px-2 py-2 ml-5 mt-5"><%= render(Primer::Beta::Octicon.new(:"x-circle-fill")) %></div>
        </div>
        <div class="Box-title col-7 ml-1 pl-2">
            <div class="color-fg-default"><%= link_to namespace.name, user_path(namespace) %></div>
            <div class="text-small color-fg-muted">
                <% repositories_count = namespace.packages.where(package_type: "docker").joins(:package_versions).merge(Registry::PackageVersion.unmigrated).distinct.pluck(:repository_id).count %>
                <% if repositories_count > 1 %>
                    <%= repositories_count %> repositories
                <% else %>
                    <%= repositories_count %> repository
                <% end %>
            </div>
        </div>
        <div class="col-5 text-normal text-right">
            <%= render(Primer::Beta::Octicon.new(:"package")) %>
                <% packages_count = namespace.packages.where(package_type: "docker").joins(:package_versions).merge(Registry::PackageVersion.unmigrated).distinct.count %>
                <% if packages_count > 1 %>
                    <%= packages_count %> packages
                <% else %>
                    <%= packages_count %> package
                <% end %>
        </div>
    </div>
    <% end %>
</div>

<% if error_namespace_count - (error_index*Businesses::PackagesMigrationController::ERROR_NAMESPACE_LIMIT_COUNT) > 0 %>
    <%= form_tag settings_packages_migration_enterprise_path, method: :get, class: "rounded-0 rounded-bottom-2 border-md-top-0 js-ajax-pagination d-flex flex-justify-center" do %>
        <input name="page" type="hidden" value="<%= error_index+1 %>">
        <input name="query" type="hidden" value="<%= params[:query] %>">
        <input name="show_more" type="hidden" value="true">
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, font_weight: :normal, underline: false, "data-disable-with": "Show more", pb: 2, px: 0, pt: 2, font_size: 6) do %>
            Show more
        <% end %>
    <%end%>
<% end %>
