<div class="Box">
   <%= render "businesses/packages_settings/section_header", namespaces: namespaces, unmigrated_pkg_count: unmigrated_pkg_count, section_type: "start", namespace_count: namespace_count %>

   <% namespaces.each do |namespace| %>
   <div class="Box-row d-flex flex-items-center" >
      <div class="d-flex flex-items-center">
         <%= avatar_for namespace, 48,
            class: "v-align-middle avatar mr-2" %>
      </div>
      <div class=" Box-title col-7 ml-1 pl-2">
         <div class="color-fg-default"><%= link_to namespace.name, user_path(namespace) %></div>
         <% repositories_count = namespace.packages.where("package_type=3").joins(:package_versions).merge(Registry::PackageVersion.exclude_docker_base_layer.where("package_versions.migration_state = 'unmigrated' OR package_versions.migration_state = 'pending'")).distinct.pluck(:repository_id).count %>
         <% if repositories_count > 1 %>
            <div class="text-small color-fg-muted"> <%= repositories_count %> repositories
         <% else %>
            <div class="text-small color-fg-muted"> <%= repositories_count %> repository
         <% end %>
         </div>
      </div>
      <div class="col-5 text-normal text-right">
         <%= render(Primer::Beta::Octicon.new(:"package")) %>
         <% packages_count = namespace.packages.where("package_type=3").joins(:package_versions).merge(Registry::PackageVersion.exclude_docker_base_layer.where("package_versions.migration_state = 'unmigrated' OR package_versions.migration_state = 'pending'")).distinct.count %>
         <% if packages_count > 1 %>
            <%= packages_count %> packages
         <% else %>
            <%= packages_count %> package
         <% end %>
      </div>
   </div>
   <% end %>
</div>
