<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% migration_run = Registry::PackagesMigration.find_by_state(:inProgress) %>
<% channel = GitHub::WebSocket::Channels.packages_migration(migration_run.nil? ? 0 : migration_run.id) %>
<% channel = channel + ":completed" if section_type == "completed" %>

<div class="Box-header color-bg-subtle d-flex flex-items-center js-socket-channel js-updatable-content"
  data-channel="<%= live_update_view_channel(channel) %>"
  data-url="<%= update_progress_bar_enterprise_path %>">
  <% organization =  "organizations" %>
  <% package =  "packages" %>
  <% if section_type == "start" %>
    <div class="Box-title flex-auto">
      <div class="d-flex">
        <% organization =  "organization" if namespace_count == 1 %>
        <% package =  "package" if unmigrated_pkg_count == 1 %>
        <div class="color-fg-default"> <%= namespace_count %> <%= organization %> with <%= package %> to migrate </div>
        <div class="text-normal color-fg-muted pl-1">
          (<%= unmigrated_pkg_count %> <%= package %>)
        </div>
      </div>
      <div class="text-small text-normal color-fg-muted">We'll notify you via email once finished</div>
    </div>
    <%= form_tag packages_migration_enterprise_path, method: :post do %>
      <%= hidden_field_tag "is_first_run", true %>
      <%= render(Primer::ButtonComponent.new(type: :submit , scheme: :primary)) { "Start migration" } %>
    <% end %>
  <% end %>

  <% if section_type == "completed" || section_type == "failed" %>
    <% pkg_count = completed_pkg_count if section_type == "completed" %>
    <% pkg_count = failed_pkg_count if section_type == "failed" %>
    <% namespace_count = complete_namespace_count if section_type == "completed" %>
    <% namespace_count = error_namespace_count if section_type == "failed" %>
    <div class="Box-title flex-auto">
      <div class="d-flex">
        <% organization =  "organization" if namespace_count == 1 %>
        <% package =  "package" if pkg_count == 1 %>
        <div class="color-fg-default"> <%= namespace_count %> <%= organization %> <%= section_type %></div>
        <div class="text-normal color-fg-muted pl-1">
          (<%= pkg_count %> <%= package %>)
        </div>
      </div>
    </div>
    <% if section_type == "failed" %>
      <%= form_tag packages_migration_enterprise_path, method: :post do %>
        <%= hidden_field_tag "is_first_run", false %>
        <%= render(Primer::ButtonComponent.new(type: :submit , scheme: :primary)) { "Re-run migration" } %>
      <% end %>
    <% end %>
  <% end %>

  <% if section_type == "inprogress" %>
    <div class="Box-title flex-1">
      <div>
        <span class="color-fg-default">Migrating packages</span>
        <span class="text-small text-normal color-fg-muted float-right">
          <% package =  "package" if migration_run.total_pkg_count == 1 %>
          <%= migration_run.success_pkg_count + migration_run.failed_pkg_count %> of <%= migration_run.total_pkg_count %> <%= package %>
        </span>
      </div>
      <div>
        <%= render(Primer::Beta::ProgressBar.new(mt: 1)) do |component| %>
          <% component.with_item(bg: :accent_emphasis,
              percentage: ((migration_run.success_pkg_count + migration_run.failed_pkg_count).to_f / migration_run.total_pkg_count * 100)) %>
        <% end %>
      </div>
    </div>
    <div class="color-fg-muted flex-1 text-right">
      <%= render(Primer::Beta::Octicon.new(icon: "stopwatch")) %>
      <span class="pl-1"><%= precise_duration(Time.now.to_i - migration_run.created_at.to_i) %></span>
    </div>
  <% end %>

</div>
