<div style="background-image: url(<%= image_path "modules/site/enterprise/trials/cta-bg-pattern.png" %>); background-repeat: repeat space;" class="container-xl col-12 position-relative p-responsive d-flex flex-row flex-wrap rounded-0 rounded-md-3 py-11 py-md-11 px-5 mb-7" <%= mktg_color_theme_attributes %>>
  <img
    src="<%= image_path "modules/site/enterprise/trials/cta-bg-pattern-2.png" %>"
    alt=""
    aria-hidden="true"
    class="ghec-trial-bg-sparkle col-6 col-sm-1 height-auto position-absolute z-1 d-block top-5 left-5">

  <img
    src="<%= image_path "modules/site/enterprise/trials/cta-bg-pattern-2.png" %>"
    alt=""
    aria-hidden="true"
    class="ghec-trial-bg-sparkle col-4 col-sm-1  height-auto position-absolute z-1 d-block bottom-2 mb-md-3 mr-md-5 right-3">

  <div class="container-xl p-responsive position-relative text-center my-7 my-md-0">
    <h3 class="h3-mktg my-5 color-fg-default">Build like the best</h3>
    <%= render "site/enterprise/trials/cta", ref_loc: "cta_section" %>
  </div>
</div>
