<div class="p-responsive position-relative py-9 color-bg-inset">
  <div class="container-xl">
    <h2 class="h2-mktg text-center">
      Incredible teams use GitHub.<br class="d-none d-sm-block"> Why shouldn't yours?
    </h2>
    <div class="d-flex flex-column flex-md-row  pt-8 flex-wrap flex-justify-center flex-lg-justify-between flex-items-center">
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3">
        <%= svg("modules/site/enterprise/trials/stripe-logo.svg",  width: "156", height: "48", title: "Stripe Logo") %>
      </span>
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3">
        <%= svg("modules/site/enterprise/trials/pinterest.svg",  width: "156", height: "48", title: "Pinterest Logo") %>
      </span>
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3">
        <%= svg("modules/site/enterprise/trials/shopify.svg",  width: "257", height: "48", title: "Shopify Logo") %>
      </span>
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3">
        <%= svg("modules/site/enterprise/trials/spotify.svg",  width: "156", height: "48", title: "Spotify Logo") %>
      </span>
      <span class="overflow-hidden d-inline-block mb-5 mb-md-3">
        <%= svg("modules/site/enterprise/trials/buzzfeed.svg",  width: "156", height: "26", title: "BuzzFeed Logo") %>
      </span>
    </div>
  </div>
</div>
<div class="container-xl p-responsive">
  <div class="p-responsive d-flex flex-wrap gutter gutter-lg-spacious">
    <div class="col-sm-12 col-md-6 py-5 py-md-12 d-flex">
      <blockquote class="d-flex flex-md-items-start flex-items-center text-center text-md-left rounded-2 flex-column color-bg-inset width-full height-full py-5 pl-5 px-5">
        <span class="overflow-hidden d-inline-block mb-3" aria-hidden="true">
          <%= svg("modules/site/enterprise/trials/apostrophe.svg",  width: "24", height: "24") %>
        </span>
        <p class="f3-mktg">
        GitHub has been instrumental in increasing<br class="d-none d-sm-block">  workflow velocity and helping our teams stay<br class="d-none d-sm-block">  focused on innovation.
        </p>
        <footer class="d-flex flex-md-items-start flex-items-center flex-column">
          <span class="overflow-hidden text-mono d-inline-block mb-3">Shanna Tellerman // Founder and CEO</span>
          <span class="overflow-hidden d-inline-block mb-3">
            <%= svg("modules/site/enterprise/trials/modsy.logo.svg",  width: "180", height: "48", title: "Modsy logo") %>
          </span>
        </footer>
      </blockquote>
    </div>

    <div class="col-sm-12 col-md-6 py-5 py-md-12 d-flex">
      <blockquote class="d-flex flex-md-items-start flex-items-center text-center text-md-left rounded-2 flex-column color-bg-inset width-full height-full py-5 pl-5 px-5">
        <span class="overflow-hidden d-inline-block mb-3" aria-hidden="true">
          <%= svg("modules/site/enterprise/trials/apostrophe.svg",  width: "24", height: "24") %>
        </span>
        <p class="f3-mktg">
        We’re a developer-first organization and we live<br class="d-none d-sm-block">  and breathe GitHub.
        </p>
        <footer class="d-flex flex-md-items-start flex-items-center flex-column">
          <span class="overflow-hidden text-mono d-inline-block mb-3">Talha Tariq // Chief Security Officer</span>
          <span class="overflow-hidden d-inline-block mb-3">
            <%= svg("modules/site/enterprise/trials/hashicorp-logo.svg",  width: "180", height: "48", title: "HashiCorp logo") %>
          </span>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
