<li class="tlb-li" data-item-uuid="<%= uuid %>" <%= test_selector("tracking-block-item") %>>
  <% if draft_issue? %>
    <%# Icon %>
    <div class="pl-3 d-flex">
      <input class="tlb-checkbox" type="checkbox" id="<%= input_uuid %>" <%= "checked" if checked? %>>
      <%# Text %>
      <div class="flex-1 ml-3 tlb-text">
        <div class="mr-3 tlb-overflow tlb-item-title">
          <label for="<%= input_uuid %>">
            <span class="tlb-link-style-none">
              <%= is_precache? ? content : safe_title %>
            </span>
          </label>
        </div>
      </div>
    </div>
  <% else %>
    <% if is_precache? %>
      <%= content %>
    <% else %>
      <%= render Issues::MobileIssueHrefComponent.new(
          owner: owner_display_login,
          repository: repository_name,
          issue_number: display_number,
          issue_title: title,
          issue_url: url,
          issue_state: state,
          issue_state_reason: state_reason,
          render_context: {
            current_owner: render_context.current_owner_login,
            current_repository: render_context.current_repository_name,
            style_link_normal: true,
            truncate: true
          }
        ) %>
    <% end %>
  <% end %>
</li>
