<tasklist-block-title class="tasklist-title-container width-full d-flex flex-items-center mt-n1 ml-n1">
  <div class="<% if is_completed? %>color-bg-done color-fg-done<% end %> <% if !is_completed? %>color-bg-open color-fg-open<% end %> rounded p-1 d-flex flex-items-center flex-justify-center mr-1">
    <%= render(Primer::Beta::Octicon.new(
      :"checklist",
      classes: "js-tracking-block-completion-icon",
      color: is_completed? ? :done : :open)
    ) %>
  </div>
  <% unless safe_title.nil? %>
    <% unless readonly? %>
      <% if is_precache? && parent_issue %>
        <%= repository_resource_reference_wrapper(parent_issue, check_type: :write) do |wrapper| %>
          <% wrapper.authorized do %>
            <% render(Primer::Box.new(
              data: {
                target: "tracking-block.titleEditMode tasklist-block-title.titleEditMode"
              },
              hidden: true,
              style: "width: 100%;"
            )) do %>
              <% form_with(
                url: "",
                remote: false,
                data: {action: "submit:tasklist-block-title#handleSubmit"},
                html: {
                  style: 'display: flex; align-items: center;'
              }) do %>
                <%= render(
                  Primer::Alpha::TextField.new(
                    name: :tasklist_title,
                    label: "Title of tasklist",
                    visually_hide_label: true,
                    value: title,
                    disabled: false,
                    full_width: true,
                    data: {
                      target: "tasklist-block-title.titleInput",
                      action: "keydown:tasklist-block-title#handleKeyDown keyup:tasklist-block-title#handleKeyUp"
                    },
                    classes: "js-tasklist-title-input",
                    test_selector: "tasklist-block-title-input",
                  )
                ) %>

                <%= render(Primer::Beta::Button.new(
                    ml: 2,
                    data: {
                      action: "click:tracking-block#hideTitleEditMode",
                  })) do |c| %>
                    Cancel
                <% end %>

                <%= render(Primer::Beta::Button.new(
                    ml: 2,
                    scheme: :primary,
                    type: :submit
                  )) do |c| %>
                    Save
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= render(Primer::Box.new(
          data: {
            target: "tracking-block.titleEditMode tasklist-block-title.titleEditMode"
          },
          hidden: true,
          style: "width: 100%;"
        )) do %>
          <%= form_with(
            url: "",
            remote: false,
            data: {action: "submit:tasklist-block-title#handleSubmit"},
            html: {
              style: 'display: flex; align-items: center;'
          }) do %>
            <%= render(
              Primer::Alpha::TextField.new(
                name: :tasklist_title,
                label: "Title of tasklist",
                visually_hide_label: true,
                value: title,
                disabled: false,
                full_width: true,
                data: {
                  target: "tasklist-block-title.titleInput",
                  action: "keydown:tasklist-block-title#handleKeyDown keyup:tasklist-block-title#handleKeyUp"
                },
                classes: "js-tasklist-title-input",
                test_selector: "tasklist-block-title-input",
              )
            ) %>

            <%= render(Primer::Beta::Button.new(
                ml: 2,
                data: {
                  action: "click:tracking-block#hideTitleEditMode",
              })) do |c| %>
                Cancel
            <% end %>

            <%= render(Primer::Beta::Button.new(
                ml: 2,
                scheme: :primary,
                type: :submit
              )) do |c| %>
                Save
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render(Primer::Box.new(
      display: :flex,
      align_items: :center,
      data: {
        target: "tracking-block.titleViewMode tasklist-block-title.titleViewMode"
      }
    )) do %>
      <%= render(Primer::Beta::Heading.new(
        tag: title_tag,
        m: 0,
        flex: 1,
        data: {
          target: "tasklist-block-title.titleText",
        },
        test_selector: "tasklist-block-title-text"
        )) { safe_title } %>
      <% unless readonly? %>
        <% if is_precache? && parent_issue %>
          <%= repository_resource_reference_wrapper(parent_issue, check_type: :write) do |wrapper| %>
            <% wrapper.authorized do %>
              <% render(Primer::Beta::IconButton.new(
                classes: "tasklist-title-edit-button",
                icon: "pencil",
                "aria-label": "Edit tasklist title",
                type: :button,
                ml: 2,
                data: {
                  action: "click:tracking-block#showTitleEditMode",
                },
                test_selector: "tasklist-block-edit-title-button",
                scheme: :invisible
              )) %>
            <% end %>
          <% end %>
        <% else %>
          <%= render(Primer::Beta::IconButton.new(
            classes: "tasklist-title-edit-button",
            icon: "pencil",
            "aria-label": "Edit tasklist title",
            type: :button,
            ml: 2,
            data: {
              action: "click:tracking-block#showTitleEditMode",
            },
            test_selector: "tasklist-block-edit-title-button",
            scheme: :invisible
          )) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</tasklist-block-title>
