<%= render(Primer::Box.new(display: :flex, align_items: :center, classes: "js-tracking-block-omnibar-container")) do %>
  <%= render(Primer::Beta::Button.new(
    scheme: :invisible,
    leading_visual_icon: "plus",
    ml: 2,
    mt: 2,
    pl: 2,
    color: :muted,
    font_weight: :normal,
    border: 0,
    system_arguments: { "font-weight": "normal"  },
    data: {
      target: "tracking-block.omnibarToggleButton",
      action: "click:tracking-block#handleOmnibarToggleButtonClick",
      "morpheus-ignore": "hidden",
    },
    test_selector: "tracking-block-toggle-button")) do |c| %>
      <% c.with_leading_visual_icon(icon: :plus) %>
      <%= "Add item to "%> <span class="js-tracking-block-omnibar-title"><%= title %></span>
  <% end %>

  <tracking-block-omnibar class="width-full" data-target="tracking-block.omnibar" hidden data-morpheus-ignore="hidden">
    <%= form_tag("", remote: false, data: {"action": "submit:tracking-block-omnibar#handleSubmit auto-complete-change:tracking-block-omnibar#handleAutoCompleteSelect"}) do %>
      <div class="tasklist-omnibar px-1">
        <div class="tasklist-omnibar-autocomplete-wrapper">
          <%= render(Primer::Beta::AutoComplete.new(
            label_text: "Type to add an item or paste in an issue URL",
            visually_hide_label: true,
            full_width: true,
            src: autocomplete_tracking_block_path(current_owner_login, current_repository_name, current_item_display_number, tasklist_block_id),
            placeholder: "Type to add an item or paste in an issue URL",
            classes: "tasklist-omnibar-input-wrapper",
            input_id: input_uuid,
            input_name: "tasklist_omnibar",
            list_id: "tasklist-omnibar-list-#{tasklist_block_id}",
            data: {target: "tracking-block-omnibar.autocomplete"})) do |c| %>
            <% c.with_leading_visual_icon(icon: :plus) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </tracking-block-omnibar>
  <%= render(Primer::Beta::Spinner.new(size: :small, hidden: true, ml: :auto, mr: 3, "data-target": "tracking-block.isSavingIcon")) %>
<% end %>
