<div class="tlb tlb-border color-border-subtle rounded tlb-line-height" <%= test_selector("mobile-tracking-block") %>>
  <%# Header %>
  <div class="color-bg-subtle border-bottom tlb-rounded-header px-3 d-flex flex-items-center">
    <div class="d-flex flex-items-center">
      <div class="tlb-icon">
        <%= render(Primer::Beta::Octicon.new(:"checklist", color: is_completed? ? :done : :open)) %>
      </div>
      <% if title.present? %>
        <h4 class="flex-1 tlb-overflow tlb-header-title">
          <%= safe_title %>
        </h4>
      <% end %>
    </div>
  </div>

  <%# Items %>
  <ol dir="auto" class="list-style-none tlb-ol">
    <% if is_precache? %>
      <%= content %>
    <% else %>
      <% items.each do |item| %>
        <%= render(TrackingBlocks::TasklistBlockMobileItemComponent.new(
          **item,
          tasklist_block_id: id,
          readonly: readonly?,
          current_viewer_write_access: render_context.current_viewer_write_access,
          render_context: items_render_context,
          current_user: current_user)
        ) %>
      <% end %>
    <% end %>
  </ol>
</div>
