<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<li class="Box-row">
  <img src="<%= enterprise.primary_avatar_url %>" alt="@<%= enterprise.slug %>" height="20" width="20" class="<%= avatar_class_names(enterprise) %>">
  <a href="<%= stafftools_enterprise_path(enterprise) %>"><%= enterprise.slug %></a> &ndash; <%= enterprise.name %>

  <span class="stafftools-email-actions">
    <%= form_tag devtools_feature_flag_delete_actor_path(feature_flag), method: :delete, class: "inline-form" do %>
      <input type="hidden" name="flipper_id" value="<%= enterprise.flipper_id %>">
      <%= hidden_field_tag 'rollout_updated_at', feature_flag.rollout_updated_at, {:id => "ent_#{ enterprise.flipper_id }_rollout_updated_at"} %>
      <button type="submit" class="btn-link color-fg-danger">
        <%= primer_octicon(:trash) %>
      </button>
    <% end %>
  </span>
</li>
