    <%= form_tag form_path, :method => form_method do |f| %>
      <dl class="form-group">
        <dt class="input-label">
          <label for="users_autocomplete">Users or Organizations</label>
        </dt>
        <dd>
          <div class="tag-input-container js-multi-tag-input-container">
            <div class="js-tag-input-wrapper">
              <ul class="js-tag-input-selected-tags">
                <%# Template used to generate new selected tags %>
                <li class="tag-input js-tag-input-tag js-template d-none border rounded-2 d-inline-block p-1 pl-2 mb-2 ml-1">
                  <span class="js-placeholder-tag-name"></span>
                  <button type="button" class="remove js-remove border-0 color-bg-default m-0" tabindex="-1">
                    <%= primer_octicon(:x, "aria-label": "Remove tag") %>
                  </button>
                  <input type="hidden" name="users[]" value="">
                </li>
                <% params[:users]&.each do |user_name| %>
                  <li class="tag-input js-tag-input-tag border rounded-2 d-inline-block p-1 pl-2 mb-2 ml-1">
                    <%= user_name %>
                    <button class="remove js-remove border-0 color-bg-default m-0" type="button" tabindex="-1">&times;</button>
                    <input type="hidden" name="users[]" value="<%= user_name %>">
                  </li>
                <% end%>
              </ul>
              <auto-complete src="<%= devtools_feature_flags_user_autocomplete_path %>" for="users-results">
                <input type="text" name="users_autocomplete" id="users_autocomplete" class="form-control" autocomplete="off" autofocus placeholder="user1 user2 user3" size="30">
                <ul id="users-results" class="form-control"></ul>
              </auto-complete>
            </div>
          </div>
          <p class="note">You may enter multiple users or organizations separated by spaces, up to 50 at a time.</p>
        </dd>
      </dl>
      <dl class="form-group">
        <dt>
          <label for="repository">Repository</label>
        </dt>
        <dd>
          <div class="tag-input-container js-multi-tag-input-container">
            <div class="js-tag-input-wrapper">
              <ul class="js-tag-input-selected-tags">
                <%# Template used to generate new selected tags %>
                <li class="tag-input js-tag-input-tag js-template d-none border rounded-2 d-inline-block p-1 pl-2 mb-2 ml-1">
                  <span class="js-placeholder-tag-name"></span>
                  <button type="button" class="remove js-remove border-0 color-bg-default m-0" tabindex="-1">
                    <%= primer_octicon(:x, "aria-label": "Remove tag") %>
                  </button>
                  <input type="hidden" name="repos[]" value="">
                </li>
                <% params[:repos]&.each do |repo_nwo| %>
                  <li class="tag-input js-tag-input-tag border rounded-2 d-inline-block p-1 pl-2 mb-2 ml-1">
                    <%= repo_nwo %>
                    <button class="remove js-remove border-0 color-bg-default m-0" type="button" tabindex="-1">&times;</button>
                    <input type="hidden" name="repos[]" value="<%= repo_nwo %>">
                  </li>
                <% end%>
              </ul>
              <input type="text" id="repository" class="form-control" autocomplete="off" autofocus placeholder="github/github" size="30">
            </div>
          </div>
          <p class="note">You may enter multiple repos separated by spaces, up to 50 at a time.</p>
        </dd>
      </dl>
      <dl class="form-group">
        <dt class="input-label">
          <label for="enterprise">Enterprise</label>
        </dt>
        <dd>
          <input class="form-control" name="enterprise" id="enterprise" size="30" type="text" placeholder="github-inc" value="<%= params[:enterprise] %>">
        </dd>
      </dl>
      <dl class="form-group">
        <dt>
          <label for="oauth_application">OAuth Application</label>
        </dt>
        <dd>
          <input class="form-control" name="oauth_application" id="oauth_application" size="30" type="text" placeholder="Client ID" value="<%= params[:oauth_application] %>">
        </dd>
      </dl>
      <dl class="form-group">
        <dt>
          <label for="integration">GitHub App</label>
        </dt>
        <dd>
          <input class="form-control" name="integration" id="integration" size="30" type="text" placeholder="Integration ID" value="<%= params[:integration] %>">
        </dd>
      </dl>
      <dl class="form-group">
        <dt>
          <label for="vulnerability">Security Advisory</label>
        </dt>
        <dd>
          <input class="form-control" name="vulnerability" id="vulnerability" size="30" type="text" placeholder="GHSA-XXXX-XXXX-XXXX" value="<%= params[:vulnerability] %>">
        </dd>
      </dl>
      <dl class="form-group">
        <dt>
          <label for="host">Host</label>
        </dt>
        <dd>
          <input class="form-control" name="host" id="host" size="30" type="text" placeholder="<%= GitHub.local_host_name %>" value="<%= params[:host] %>">
        </dd>
      </dl>
      <dl class="form-group">
        <dt>
          <label for="site">Site</label>
        </dt>
        <dd>
          <input class="form-control" name="site" id="site" size="30" type="text" placeholder="<%= GitHub.site%>" value="<%= params[:site] %>">
        </dd>
      </dl>
      <dl class="form-group">
        <dt>
          <label for="role">Role</label>
        </dt>
        <dd>
          <input class="form-control" name="role" id="role" size="30" type="text" placeholder="<%= GitHub.role %>" value="<%= params[:role] %>">
        </dd>
      </dl>
      <dl class="form-group">
        <dt>
          <label for="flipper_id">Flipper ID</label>
        </dt>
        <dd>
          <input class="form-control" name="flipper_id" id="flipper_id" size="30" type="text" placeholder="UserSession:3 (ie: Model:id)" value="<%= params[:flipper_id] %>">
        </dd>
      </dl>
      <%= hidden_field_tag 'rollout_updated_at', feature.rollout_updated_at, {:id => 'form_rollout_updated_at'} %>
      <p><%= submit_tag submit_label, :class => 'btn' %></p>
    <% end %>
