<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<li class="Box-row">
  <%= render(Primer::Beta::Octicon.new(icon: "table")) %>
  <a href="<%= stafftools_projects_beta_show_path(memex_project.id) %>"><%= memex_project.search_slug %></a>

  <span class="stafftools-email-actions">
    <%= form_tag devtools_feature_flag_delete_actor_path(feature_flag), method: :delete, class: "inline-form" do %>
      <input type="hidden" name="flipper_id" value="<%= memex_project.flipper_id %>">
      <%= hidden_field_tag 'rollout_updated_at', feature_flag.rollout_updated_at, {:id => "other_#{ memex_project.flipper_id }_rollout_updated_at"} %>
      <button type="submit" class="btn-link color-fg-danger" title="Remove access for <%= memex_project.search_slug %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
        <%= primer_octicon(:trash) %>
      </button>
    <% end %>
  </span>
</li>
