<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<li class="Box-row">
  <%= primer_octicon(:repo) %>
  <a href="<%= stafftools_user_application_path(oauth_application.user, oauth_application) %>"><%= oauth_application.name %></a>

  <span class="stafftools-email-actions">
    <%= form_tag devtools_feature_flag_delete_actor_path(feature_flag), method: :delete, class: "inline-form" do %>
      <input type="hidden" name="flipper_id" value="<%=  oauth_application.flipper_id %>">
      <%= hidden_field_tag 'rollout_updated_at', feature_flag.rollout_updated_at, {:id => "oauth_#{ oauth_application.flipper_id }_rollout_updated_at"} %>
      <button type="submit" class="btn-link color-fg-danger" title="Remove access for <%= oauth_application.name %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
        <%= primer_octicon(:trash) %>
      </button>
    <% end %>
  </span>
</li>
