<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<li class="Box-row">
  <%= primer_octicon(:squirrel) %>
  <%= actor.flipper_id %>

  <span class="stafftools-email-actions">
    <%= form_tag devtools_feature_flag_delete_actor_path(feature_flag), method: :delete, class: "inline-form" do %>
      <input type="hidden" name="flipper_id" value="<%= actor.flipper_id %>">
      <%= hidden_field_tag 'rollout_updated_at', feature_flag.rollout_updated_at, {:id => "other_#{ actor.flipper_id }_rollout_updated_at"} %>
      <button type="submit" class="btn-link color-fg-danger" title="Remove access for <%= actor.flipper_id %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
        <%= primer_octicon(:trash) %>
      </button>
    <% end %>
  </span>
</li>
