<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<li class="Box-row">
  <% if repository.private? %>
    <span title="This repository is private"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <%= render(Primer::Beta::Octicon.new(icon: "repo")) %>
    </span>
  <% else %>
    <span title="This repository is public"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
      <%= primer_octicon(:repo, color: :danger) %>
    </span>
  <% end %>
  <a href="<%= stafftools_repository_path(repository.owner, repository) %>"><%= repository.name_with_owner %></a>

  <span class="stafftools-email-actions">
    <%= form_tag devtools_feature_flag_delete_actor_path(feature_flag), method: :delete, class: "inline-form" do %>
      <input type="hidden" name="flipper_id" value="<%= repository.flipper_id %>">
      <%= hidden_field_tag 'rollout_updated_at', feature_flag.rollout_updated_at, {:id => "repo_#{ repository.flipper_id }_rollout_updated_at"} %>
      <button type="submit" class="btn-link color-fg-danger" title="Remove access for <%= repository.name_with_owner %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
        <%= primer_octicon(:trash) %>
      </button>
    <% end %>
  </span>
</li>
