<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<li class="Box-row">
  <%= primer_octicon(:people) %>

  <a href="<%= gh_stafftools_team_path(team) %>"><%= team.organization.login %>/<%= team.slug %></a> &ndash; <%= team.name %>

  <span class="stafftools-email-actions">
    <%= form_tag devtools_feature_flag_delete_actor_path(feature_flag), method: :delete, class: "inline-form" do %>
      <input type="hidden" name="flipper_id" value="<%= team.flipper_id %>">
      <%= hidden_field_tag 'rollout_updated_at', feature_flag.rollout_updated_at, {:id => "team_#{ team.flipper_id }_rollout_updated_at"} %>
      <button type="submit" class="btn-link color-fg-danger" title="Remove access for <%= team.slug %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
        <%= primer_octicon(:trash) %>
      </button>
    <% end %>
  </span>
</li>
