<div class="d-flex flex-justify-between border-bottom pb-3">
  <div class="">
    <%= form.text_field :seats,
      "aria-label"  => "seats amount",
      :value        => seat_change.seats_delta,
      :class        => "shorter textfield js-addon-purchase-field mr-2",
      :type         => "number",
      :autocomplete => "off",
      :required     => "required",
      "data-url"    => org_seats_path(target, :return_to => params[:return_to]),
      "data-item-name" => "seats",
      "data-item-minimum" => 0,
      "data-plan-duration" => current_organization.plan_duration
    %>
    <span class="new-addon-items">new <span class="unstyled-delta-seats-label"><%= "seat".pluralize(seat_change.seats_delta) %></span></span>
    <span class="addon-cost">
      @ <%= seat_change.human_unit_price %><% if seat_change.prorated_purchase? %>,
        prorated for <%= pluralize seat_change.service_days_remaining, "day" %>.
      <% end %>
    </span>
  </div>
  <div class="unstyled-list-price">
    <%= seat_change.list_price.format %>
  </div>
</div>

<% if target.has_credit? %>
  <div class="d-flex flex-justify-between border-bottom py-3">
    <div class="">
      <%= seat_change.balance.abs.format %> credit
    </div>
    <div class="">
      <%= (-1 * seat_change.credit_used).format(:sign_before_symbol => true) %>
    </div>
  </div>
<% end %>

<div class="d-flex flex-justify-between border-bottom py-3">
  <div class="">
    <strong>Total</strong>
  </div>
  <div class="">
    <% if seat_change.coupon_discount? %>
      <b class="unstyled-list-price discounted-original-price"><%= seat_change.list_price.format %></b>
    <% end %>
    <strong class="unstyled-payment-amount"><%= seat_change.payment_amount.format %></strong>
    <% if seat_change.coupon_discount? %>(coupon applied)<% end %>
  </div>
</div>

<% if target.has_credit? %>

  <div class="d-flex flex-justify-between border-bottom py-3">
    <div class="">
      <strong>Remaining credit</strong>
    </div>
    <div class="">
      <strong class="unstyled-credit-remaining"><%= seat_change.credit_remaining.format %></strong>
    </div>
  </div>

<% end %>
