<%
if target.yearly_plan?
  unit_price = target.plan.yearly_unit_cost
else
  unit_price = target.plan.unit_cost
end
%>
<ul class="list-style-none">
  <li class="clearfix mb-3">
    <strong><%= target.plan.display_name.titleize %> </strong> plan -
    $<%= unit_price %>  per seat / <%= target.plan_duration %>
  </li>

  <% if [target.filled_seats, target.default_seats].min > GitHub::Plan.business.base_units %>
    <li class="clearfix mb-3">
      <%= primer_octicon(:'chevron-right', float: :left, mt: 1, mr: 2, color: :muted) %>
      <div class="overflow-hidden">
        There are currently <%= pluralize(target.filled_seats, "member") %><% if pending_non_manager_invitations_count(target) > 0 %>,
          <% if use_pending_invitations_link_instead_of_dialog?(target) %>
            <%# Rendering a dialog with too many pending invitations is slow, so link to the actual page when there are a lot %>
            <a href="<%= org_pending_invitations_path(target) %>"><%= pluralize(pending_non_manager_invitations_count(target), "pending invitation") %></a>.
          <% else %>
            <%= render layout: "shared/details_dialog", locals: {
              button_class: "btn-link",
              button_text: "including #{pluralize(pending_non_manager_invitations_count(target), "pending invitation")},",
              title: "Pending invitations"} do %>
              <%= render partial: "orgs/invitations/pending_invitations_list", locals: {
                invitations: target.pending_non_manager_invitations,
                return_to: request.url
              } %>
            <% end %>
          <% end %>
        <% end %>
        in this organization for whom you will need to purchase <%= "seat".pluralize(target.filled_seats) %>.
        You can <%= link_to "remove members", org_people_path(target), class: "Link--inTextBlock" %> if you’d like to pay for fewer seats.
      </div>
    </li>
  <% end %>
  <% if target.plan.paid? %>
    <%= primer_octicon(:'chevron-right', float: :left, mt: 1, mr: 2, color: :muted) %>
    <li class="clearfix mb-3">
      <%= render "billing_settings/next_billing_date_cancel", target: target %>
    </li>
  <% end %>
  <% if target.plan.per_repository? %>
    <li class="clearfix mb-3">
      <%= primer_octicon(:'chevron-right', float: :left, mt: 1, mr: 2, color: :muted) %>
      You <strong>will not</strong> be able to go back to repository pricing once switched.
    </li>
  <% end %>
</ul>
