<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if !target.has_valid_payment_method? %>
  <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, disabled: true) do %>
    Add seats
  <% end %>
<% else %>
  <%= render layout: "shared/details_dialog", locals: {
    button_text: "Add seats",
    button_class: "btn btn-primary",
    title: "Are you sure you want to add seats?",
  } do %>
    <div class="Box-body overflow-auto">
      <ul class="hanging-icon-list mx-0">
        <li>
          <%= primer_octicon(:stop, mt: 1, color: :danger) %>
          You will be charged for these seats at your current plan price of <%= seat_change.human_unit_price %>.
        </li>
        <li>
          <%= primer_octicon(:stop, mt: 1, color: :danger) %>
          Your pending downgrade will be canceled.
        </li>
        <li>
          <%= primer_octicon(:stop, mt: 1, color: :danger) %>
          You will <strong>NOT</strong> be downgraded on <%= pending_change_active_on(target) %> and will be charged your standard plan price on that date.
        </li>
      </ul>

      <p>
      Please re-schedule your downgrade after adding seats. If you would like the downgrade to go
      into effect immediately, please <a class="Link--inTextBlock" href="<%= GitHub.contact_support_url(tags: "dotcom-billing") %>" target="_blank" rel="noopener noreferrer">contact Support</a>.
      </p>
      <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :primary, mt: 2, classes: "js-purchase-button", "aria-label": purchase_button_aria_label(target), "data-disable-with": "Adding seats…") do %>
        Confirm
      <% end %>
    </div>
  <% end %>
<% end %>
