<p>
  As an enterprise owner you can transfer the <strong><%= organization %></strong>
  organization into another enterprise you own.
  <%= render(Primer::Beta::Link.new(
    href: "#{GitHub.help_url}/admin/user-management/managing-organizations-in-your-enterprise/adding-organizations-to-your-enterprise#transferring-an-organization-between-enterprise-accounts",
    classes: "Link--inTextBlock"
    )) { "Learn more" } %>.
</p>

<%= form_with url: enterprise_organization_transfers_path(from_business) do |form| %>
  <input type="hidden" name="organization_id" value="<%= organization.id %>">
  <div class="form-group d-flex">
    <div class="mr-3 flex-self-center">
      Transfer the <strong><%= organization %></strong> organization to:
    </div>
    <details class="details-reset details-overlay select-menu">
      <%= render Primer::Beta::Button.new(
        tag: :summary,
        "data-menu-button": ""
      ) do |c| %>
        <% c.with_trailing_action_icon(icon: "triangle-down") %>
        <input type="hidden" name="to_business_id" value="" checked>
        Select enterprise
      <% end %>
      <details-menu class="select-menu-modal position-absolute js-to-enterprise-menu"
        style="z-index: 99; width: 400px;"
        src="<%= enterprise_organization_transfers_enterprise_suggestions_path(from_business) %>" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-header">
          <span class="select-menu-title">Enterprises you own</span>
        </div>
        <div class="select-menu-filters">
          <div class="select-menu-text-filter">
            <remote-input param="query"
              src="<%= enterprise_organization_transfers_enterprise_suggestions_path(from_business) %>"
              aria-owns="possible-businesses-menu">
              <input type="text" class="form-control" aria-label="Type to filter" placeholder="Find an enterprise" autofocus>
            </remote-input>
          </div>
        </div>
        <include-fragment>
          <%= render(Primer::Beta::Spinner.new(size: :large, my: 6, mx: :auto, display: :block)) %>
          <input type="text" required class="d-none">
        </include-fragment>
      </details-menu>
    </details>
  </div>

  <%= render(Primer::Alpha::Dialog.new(
    title: "Confirm organization transfer",
    id: "confirm-organization-transfer",
  )) do |d| %>
    <% d.with_show_button(
      "data-disable-invalid": "",
      "data-disable-with": "Review transfer"
    ) { "Review transfer" } %>
    <% d.with_header(show_divider: true) do %>
        Transfer the <%= organization %> organization?
    <% end %>
    <% d.with_body do %>
      <% if transfer.business_org_has_marketplace_subscriptions? %>
        <p>
          Cannot transfer this organization:
        </p>
        <p class="mt-3 mb-3">
          <strong>This organization's transfer is disabled because it has Marketplace App subscriptions.</strong>
        </p>
      <% else %>
        <p>
          Transferring the organization will result in the following changes:
        </p>
        <ul>
          <li class="m-3">
            The <strong><%= organization %></strong> organization will become part of the
            <strong><span class="js-to-enterprise-name"></span></strong> enterprise,
            and will no longer be part of the <strong><%= from_business.name %></strong> enterprise.
          </li>
          <li class="m-3">
            Billing, identity management, 2FA requirements, and other policies will
            be governed by the <strong><span class="js-to-enterprise-name"></span></strong> enterprise.
          </li>
        </ul>
      <% end %>
    <% end %>
    <% d.with_footer(show_divider: true) do %>
      <%= render(Primer::Beta::Button.new(
        data: { "close-dialog-id": "confirm-organization-transfer" }
      )) { "Cancel" } %>
      <%= render(Primer::Beta::Button.new(
        type: :submit,
        disabled: transfer.business_org_has_marketplace_subscriptions?,
        "data-disable-with": "Transferring organization..."
      )) { "Transfer organization" } %>
    <% end %>
  <% end %>
<% end %>
