<div id="possible-businesses-menu" class="select-menu-list">
  <% businesses.each do |business| %>
    <label class="select-menu-item" role="menuitemradio" tabindex="0"
      <%= "disabled" unless business_selectable?(business) %>>
      <input type="radio" name="to_business_id" value="<%= business.id %>" required>
      <% if business_selectable?(business) %>
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
      <% end %>
      <div class="d-flex ml-1">
        <div>
          <%= render GitHub::AvatarComponent.new actor: business, mr: 2 %>
        </div>
        <div class="select-menu-item-text">
          <div>
            <strong>
              <span data-menu-button-contents>
                <%= business.name %>
              </span>
            </strong>
            <span class="ml-1" <%= test_selector "business-#{business.id}-slug" %>>
              <%= business.slug %>
            </span>
          </div>
          <% unless business_selectable?(business) %>
            <div class="text-normal mt-1">
              <%= unselectable_message(business) %>
            </div>
          <% end %>
        </div>
      </div>
    </label>
  <% end %>

  <% if businesses.empty? %>
    <div class="p-3">
      No enterprises match.<br>
      <input type="text" required class="d-none">
    </div>
  <% end %>
</div>
