<h3 class="text-center mb-4 text-normal">
  Introducing GitHub Copilot Extensions: unlocking unlimited possibilities with our ecosystem of technology partners
</h3>

<p class="mb-3">
  Dear <%= @user_login %>,
</p>

<p class="mb-3">
  As an administrator of <%= @biz_or_org_name %>, you have been granted access to the GitHub Copilot Extensions limited
  public beta. This is a by-invite only beta allowing participants access to Copilot Extensions through supported
  extensions from our partners including Docker, Microsoft, Sentry, and more.
</p>

<p class="mb-3">
  The following resources are available to help you get started:
</p>

<ul>
  <li>
    Learn more about <%= link_to "GitHub Copilot Extensions", Copilot::EXTENSIONS_LEARN_MORE %>
  </li>
  <li>
    Explore Copilot Extensions & install them from the <%= link_to "GitHub Marketplace", marketplace_url %>
  </li>
  <li>
    Get started using your first extension with the <%= link_to "GitHub Copilot Extensions documentation", Copilot::EXTENSIONS_DOCS %>
  </li>
  <li>
    As with any <%= link_to "beta release", Copilot::BETA_TERMS_OF_SERVICE %>, you will need to
    <%= link_to "enable Copilot Extensions as an organizational policy", Copilot::EXTENSIONS_POLICY_DOCS %>
    and install extensions before anyone in your organization or enterprise can use them.
  </li>
</ul>

<p class="mb-3">
  As an early user, you may also encounter some bugs and issues along the way. Please submit any feedback at our
  <%= link_to "GitHub communities page", Copilot::COPILOT_FEEDBACK_FORUM %>. For more information on setting up and
  using GitHub Copilot, please visit the <%= link_to "feedback forum", Copilot::COPILOT_FEEDBACK_FORUM %> or visit
  <%= link_to "our GitHub Copilot Learning Pathway", Copilot::LEARNING_PATHWAY %> to learn more.
</p>

<p>
  Sincerely,
  <br>
  GitHub Copilot Team
</p>
