<h3 class="text-center mb-4 text-normal">
  Introducing GitHub Copilot Extensions: unlocking unlimited possibilities with our ecosystem of technology partners
</h3>

<p class="mb-3">
  Dear <%= @admin_login %>,
</p>

<p class="mb-3">
  A member of your organization has requested access to the GitHub Copilot Extensions limited public beta.
  This is a by-invite only beta allowing participants access to Copilot Extensions through supported extensions from
  our partners including Docker, Microsoft, Sentry, and more.
</p>

As administrator of an enterprise or organization using GitHub Copilot, to gain access, please
<%= link_to "join our waitlist", copilot_extensions_waitlist_signup_url %> to get started.

Additional resources to learn more:
<ul>
  <li>
    Learn more about <%= link_to "GitHub Copilot Extensions", Copilot::EXTENSIONS_LEARN_MORE %>
  </li>
  <li>
    Explore Copilot Extensions & install them from the <%= link_to "GitHub Marketplace", marketplace_url %>
  </li>
  <li>
    Using your first extension with the <%= link_to "GitHub Copilot Extensions documentation", Copilot::EXTENSIONS_DOCS %>
  </li>
</ul>

<p>
  Sincerely,
  <br>
  GitHub Copilot Team
</p>
