<%# erblint:counter DeprecatedComponentsCounter 11 %>
<%= render Primer::Box.new(classes: "Box", mb: 4) do %>
  <%= render Primer::Box.new(classes: "Box Box-header rounded-bottom-0", p: 0) do %>
    <%= render Primer::Box.new(classes: "Box-row", display: :flex, align_items: :center) do %>
      <svg aria-hidden="true" height="32" viewBox="0 0 16 16" version="1.1" width="32" class="octicon">
        <path d="M6.25 9a.75.75 0 01.75.75v1a.75.75 0 01-1.5 0v-1A.75.75 0 016.25 9zm4.25.75a.75.75 0 00-1.5 0v1a.75.75 0 001.5 0v-1z"></path>
        <path fill-rule="evenodd" d="M16 9.2v1.793a.747.747 0 01-.302.594C13.493 13.201 10.772 14.5 8 14.5c-3.067 0-6.137-1.767-7.698-2.913A.747.747 0 010 10.993V9.2c0-.236.075-.464.214-.654l.487-.659c.26-.354.649-.447 1.062-.447.156-1.78.525-3.05 1.407-3.98C4.85 1.68 7.08 1.5 8 1.5c.92 0 3.15.18 4.83 1.96.881.93 1.251 2.2 1.407 3.98.414 0 .8.092 1.061.447l.487.66c.14.19.215.417.215.653zm-3.052-.815c-.021-.408-.353-.569-.698-.682-.364.228-.808.318-1.233.318-.452 0-1.295-.108-1.996-.808-.177-.176-.298-.452-.38-.758a6.641 6.641 0 00-.64-.034c-.19 0-.409.011-.642.034-.082.306-.203.582-.38.758-.7.7-1.544.808-1.996.808-.425 0-.87-.089-1.234-.318-.344.113-.674.276-.696.682-.037.768-.04 1.534-.043 2.302-.001.28-.003.379-.006.56L3 11.5a.585.585 0 00.34.524c1.655.754 3.22 1.134 4.66 1.134 1.438 0 3.003-.38 4.657-1.134a.585.585 0 00.34-.524 43.32 43.32 0 00-.05-3.115h.001zm-9.571-1.93c.27.27.78.45 1.33.45.42 0 1.22-.09 1.88-.76.29-.28.453-.655.433-1.365-.02-.57-.18-1.04-.42-1.24-.26-.23-.85-.33-1.51-.27-.7.07-1.29.3-1.59.62-.65.71-.493 2.185-.123 2.565zM8.98 4.78c-.02.71.177 1.085.467 1.365.66.67 1.46.76 1.88.76.55 0 1.06-.18 1.33-.45.37-.38.493-1.855-.157-2.565-.3-.32-.89-.55-1.59-.62-.66-.06-1.25.04-1.51.27-.24.2-.4.67-.42 1.24z"></path>
      </svg>
      <%= render Primer::Box.new(classes: "Box-title", flex: :auto, ml: 1, pl: 2) do %>
        <%= render Primer::Beta::Text.new do %>
          GitHub Copilot
        <% end %>
        <%= render Primer::Beta::Text.new(tag: :div, font_size: :small, color: :muted, font_weight: :normal) do %>
          Your AI pair programmer
        <% end %>
      <% end %>
      <% if pending_trial_cancellation? %>
        <%= render Primer::ButtonComponent.new(scheme: :primary, tag: :a, size: :small, href: copilot_signup_path).with_content("Sign up for #{Copilot.individual_product_name}") %>
      <% end %>
      <% unless pending_cancellation? %>
        <% if has_signed_up %>
          <% if subscription_item %>
            <% if on_free_trial? %>
              <%= render GitHub::DialogComponent.new(
                  title: "Cancel trial",
                  variant: :wide,
                  dialog_classes: "overflow-hidden",
                  title_classes: "h2",
                  body_classes: "pt-0",
                  header_classes: "color-bg-default border-bottom-0") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
                  <% dialog.with_summary do %>
                      <%= render Primer::Beta::Button.new(mr: 2, size: :small, tag: :summary, scheme: :danger) do %>
                      Cancel trial
                    <% end %>
                  <% end %>
                  <% dialog.with_body do %>
                    <%= render Billing::Settings::CancelSubscriptionItemFormComponent.new(subscription_item: subscription_item, product_name: "GitHub Copilot") do |form| %>
                      <% form.with_body do %>
                        You will lose access to these benefits:
                        <ul class="hanging-icon-list mx-0">
                          <li>
                            <%= primer_octicon(:x, mt: 1, color: :danger) %>
                            Suggested code completion in most programming languages including Python, JavaScript, TypeScript, Go, and Ruby
                          </li>
                          <li>
                            <%= primer_octicon(:x, mt: 1, color: :danger) %>
                            Support for VS Code, Visual Studio, Neovim, and JetBrains IDEs
                          </li>
                          <li>
                            <%= primer_octicon(:x, mt: 1, color: :danger) %>
                            Copilot Chat in the IDE
                          </li>
                          <li>
                            <%= primer_octicon(:x, mt: 1, color: :danger) %>
                            Copilot in the CLI
                          </li>
                        </ul>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
            <% end %>
            <% if in_app_purchase? %>
              <%= render Primer::Beta::Button.new(tag: :a, size: :small, href: in_app_purchase_store_url, rel: "noopener noreferrer", target: "_blank") do |button| %>
                <% button.with_leading_visual_icon(icon: :"link-external") %>
                Manage subscription
              <% end %>
            <% else %>
              <details class="details-overlay details-reset dropdown float-right">
                <%= render Primer::ButtonComponent.new(tag: :summary, size: :small, classes: "select-menu-button", "aria-haspopup": "true") do %>
                  Manage subscription
                <% end %>
                <details-menu class="dropdown-menu dropdown-menu-se width-auto"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                  <% if on_free_trial? %>
                    <%= form_tag copilot_signup_upgrade_trial_path, class: "inline-form", method: :post do %>
                      <%= render Primer::ButtonComponent.new(type: :submit, size: :small, scheme: :link, classes: "dropdown-item", mr: 2, "data-confirm": "Are you sure you want to upgrade your trial?") do %>
                        Start paid subscription
                      <% end %>
                    <% end %>
                  <% end %>

                  <% if can_change_billing_plan? %>
                    <div role="none" class="dropdown-divider"></div>
                    <% if on_monthly_plan? %>
                      <%= link_to "Switch to annual billing", subscription_item_change_duration_path(subscription_item.id), class: "dropdown-item px-3", role: "menuitem" %>
                    <% elsif on_yearly_plan? %>
                      <%= link_to "Switch to monthly billing", subscription_item_change_duration_path(subscription_item.id), class: "dropdown-item px-3", role: "menuitem" %>
                    <% end %>
                  <% end %>
                  <% unless on_free_trial? || in_app_purchase? %>
                    <div role="none" class="dropdown-divider"></div>
                    <%# Documentation for GitHub::DialogComponent: https://github.github.io/web-systems-documentation/#view-components-dialog-md %>
                    <%= render GitHub::DialogComponent.new(
                      title: "Cancel #{product_name}",
                      variant: :wide,
                      dialog_classes: "overflow-hidden",
                      title_classes: "h2",
                      body_classes: "pt-0",
                      header_classes: "color-bg-default border-bottom-0") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
                      <% dialog.with_summary do %>
                        <%= render Primer::Beta::Text.new(tag: :summary, color: :danger, px: 3, py: 1) do %>
                          <div style="width: max-content">Cancel</div>
                        <% end %>
                      <% end %>
                      <% dialog.with_body do %>
                        <%= render Billing::Settings::CancelSubscriptionItemFormComponent.new(subscription_item: subscription_item, product_name: "GitHub Copilot") do |form| %>
                          <% form.with_body do %>
                            You will lose access to these benefits:
                            <ul class="hanging-icon-list mx-0">
                              <li>
                                <%= primer_octicon(:x, mt: 1, color: :danger) %>
                                Suggested code completion in most programming languages including Python, JavaScript, TypeScript, Go, and Ruby
                              </li>
                              <li>
                                <%= primer_octicon(:x, mt: 1, color: :danger) %>
                                Support for VS Code, Visual Studio, Neovim, and JetBrains IDEs
                              </li>
                              <li>
                                <%= primer_octicon(:x, mt: 1, color: :danger) %>
                                Copilot Chat in the IDE
                              </li>
                              <li>
                                <%= primer_octicon(:x, mt: 1, color: :danger) %>
                                Copilot in the CLI
                              </li>
                            </ul>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                </details-menu>
              </details>
            <% end %>
          <% end %>
        <% elsif copilot_organization %>
           <%= link_to "About billing for #{product_name}", product_name == "GitHub Copilot Business" ? Copilot::COPILOT_FOR_BUSINESS_DOCUMENTATION : Copilot::COPILOT_FOR_ENTERPRISE_DOCUMENTATION %>
        <% elsif eligible_for_free_trial %>
          <% if @copilot_user.is_technical_preview_user? && @copilot_user.public_code_suggestions_configured? %>
            <%= render Primer::ButtonComponent.new(scheme: :default, tag: :a, size: :small, href: copilot_signup_path).with_content("Select GitHub Copilot Plan") %>
          <% else %>
            <%= render Primer::ButtonComponent.new(scheme: :default, tag: :a, size: :small, href: copilot_signup_path).with_content("Enable GitHub Copilot") %>
          <% end %>
        <% else %>
          <%= render Primer::ButtonComponent.new(tag: :a, size: :small, href: copilot_signup_path).with_content("Enable GitHub Copilot") %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render Primer::Box.new(classes: "Box-body", p: 0) do %>
    <% if pending_subscription_cancellation? %>
      <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
        <%= render Primer::Alpha::Banner.new(icon: :alert, scheme: :warning, full: true, py: 2) do %>
          You cancelled your subscription. Your access to GitHub Copilot expires in <span class="text-bold"><%= pluralize(subscription_item.days_left_on_subscription, "day") %>.</span>

          <%= form_tag pending_subscription_item_change_path(pending_item_change_id), class: "inline-form", method: :delete do %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, mr: 2, font_size: 6, "data-confirm": "Are you sure you want to cancel this change?") do %>Cancel<% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Flash.new(icon: :alert, scheme: :warning, full: true, py: 2) do %>
          You cancelled your subscription. Your access to GitHub Copilot expires in <span class="text-bold"><%= pluralize(subscription_item.days_left_on_subscription, "day") %>.</span>

          <%= form_tag pending_subscription_item_change_path(pending_item_change_id), class: "inline-form", method: :delete do %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, mr: 2, font_size: 6, "data-confirm": "Are you sure you want to cancel this change?") do %>Cancel<% end %>
          <% end %>
        <% end %>
      <% end %>
    <% elsif pending_change? && !on_free_trial? %>
      <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
        <%= render Primer::Alpha::Banner.new(icon: :info, full: true, py: 2) do %>
          Your subscription will change to <%= "#{subscription_item.name} #{pending_change_interval}ly" %> in <span class="text-bold"><%= pluralize(subscription_item.days_until_change, "day") %></span>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Flash.new(icon: :info, full: true, py: 2) do %>
          Your subscription will change to <%= "#{subscription_item.name} #{pending_change_interval}ly" %> in <span class="text-bold"><%= pluralize(subscription_item.days_until_change, "day") %></span>
        <% end %>
      <% end %>
    <% elsif @copilot_user&.has_subscription_ended? && !Copilot::FreeUser.find_for_copilot_user(copilot_user) %>
      <% if @copilot_user.subscription_ended_due_to_billing_trouble? %>
        <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
          <%= render Primer::Alpha::Banner.new(icon: :info, full: true, py: 2) do %>
            Your Copilot subscription has been canceled due to a billing issue. Please
            <%= link_to update_payment_method_href do %>
              update your payment method
            <% end %>
            to re-subscribe to Copilot.
          <% end %>
        <% else %>
          <%= render Primer::Beta::Flash.new(icon: :info, full: true, py: 2) do %>
            Your Copilot subscription has been canceled due to a billing issue. Please
            <%= link_to update_payment_method_href do %>
              update your payment method
            <% end %>
            to re-subscribe to Copilot.
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if can_request_copilot? %>
      <%= render Primer::Box.new(classes: "Box-body", bg: :accent, display: :flex, p: 0) do %>
        <div class="mt-3 mb-3 ml-3">
          You can get a seat from one of your organizations. Go to
          <a class="Link--inTextBlock" href="<%= copilot_settings_path %>">Copilot settings</a>
          to request a seat.
        </div>
      <% end %>
    <% end %>

    <% if subscription_item %>
      <%= render Primer::Box.new(classes: "Box-body", display: :flex, p: 0) do %>
        <div class="p-3 pr-9">
          <p class="mb-1"><b>Active subscription</b></p>
          <span class="text-light"><%= Copilot.individual_product_name %></span>
        </div>
        <div class="p-3 pr-9">
          <p class="mb-1"><b><%= subscription_item.interval.capitalize %>ly payment</b></p>
          <span class="text-light">
            <%= on_free_trial? ? "Free" : subscription_item.price.format %>
          </span>
        </div>
        <div class="p-3">
          <p class="mb-1">
            <b>
              <%= billing_date_text %>
            </b>
          </p>
          <span class="text-light"><%= next_billing_date %></span>
        </div>
      <% end %>
    <% end %>

    <div class="my-1 p-3">
      <% if in_app_purchase? %>
        Your subscription is billed through

        <% if apple_in_app_purchase? %>
          Apple Pay.
        <% elsif google_in_app_purchase? %>
          Google Play.
        <% else %>
          an App Store subscription.
        <% end %>

        You can cancel or update your information through <%= link_to "their platform", in_app_purchase_store_url, class: "Link--inTextBlock" %>.
      <% elsif pending_trial_cancellation? %>
        You cancelled your free one-time 30 days trial and won't be charged for Copilot.
        Your access to GitHub Copilot expires in <b><%= pluralize(subscription_item.days_left_on_free_trial, "day") %></b>.
        <%= link_to "Read billing documentation", Copilot::COPILOT_BILLING_DOCUMENTATION, class: "Link--inTextBlock" %> for more details.
      <% elsif on_free_trial? %>
        Your free one-time 30 days trial expires in <b><%= pluralize(subscription_item.days_left_on_free_trial, "day") %></b>.
        You'll be billed <%= subscription_item.price.format %>/<%= subscription_item.interval %> after the trial ends on <%= free_trial_ends_on %>.
        <%= link_to "Read billing documentation", Copilot::COPILOT_BILLING_DOCUMENTATION, class: "Link--inTextBlock" %> for more details.
      <% elsif pending_subscription_cancellation? %>
        You cancelled your subscription, it ends on <%= subscription_ends_on %>.
      <% elsif paid_subscriber? && on_monthly_plan? %>
        You can upgrade your subscription to yearly billing or cancel any time.
        <%= link_to "Read billing documentation", Copilot::COPILOT_BILLING_DOCUMENTATION, class: "Link--inTextBlock" %> for more details.
      <% elsif paid_subscriber? && on_yearly_plan? %>
        You can get <%= link_to Copilot.business_product_name, Copilot::COPILOT_FOR_BUSINESS_DOCUMENTATION, class: "Link--inTextBlock" %> or cancel any time.
        <%= link_to "Read billing documentation", Copilot::COPILOT_BILLING_DOCUMENTATION, class: "Link--inTextBlock" %> for more details.
      <% elsif copilot_organization %>
        <div>
          <%= render(Primer::Beta::Octicon.new(:shield, color: :muted, mr: 1, size: :small)) %> You are assigned a seat as part of a <%= product_name %> subscription managed by <strong><%= link_to copilot_organization.name, user_path(copilot_organization), class: "Link--inTextBlock" %></strong>.
        </div>
      <% elsif qualifies_for_free_usage && has_signed_up %>
        <div>You are eligible to use GitHub Copilot for free.</div>
        <div class="text-bold">$0.00</div>
      <% else %>
        GitHub Copilot uses the GPT-3.5 Turbo model to suggest code and entire functions in real-time, right from your editor
      <% end %>
    </div>
  <% end %>
<% end %>
