<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= render GitHub::DialogComponent.new(
  title: "Where do you want to perform this dry run?",
  dialog_classes: "overflow-visible"
  ) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
  <% dialog.with_summary do %>
    <%= render Primer::ButtonComponent.new(
      mr: 2,
      scheme: @scheme,
      tag: :summary,
      variant: :medium,
      classes: "js-repo-selector-dialog-summary-button" + (@disabled == true ? " disabled" : ""),
      test_selector: "repo-selector-dialog-summary-button"
    ) do %>
      Save and dry run
    <% end %>
  <% end %>
  <% if dry_runs_allowed_on_all_repos? %>
    <div class="Box-body">
      <%= render(Primer::Box.new) do %>
        <%= render(Primer::Beta::Text.new(
          font_size: 5,
          display: :block,
          color: :muted,
          test_selector: "repo-selector-autocomplete-description-sub-text"
        )) do %>
          Limited to repositories with secret scanning enabled
        <% end %>
      <% end %>
      <%= render(Primer::Box.new) do %>
        <div class="form-checkbox mb-0">
          <label class="color-fg-default">
            <%= radio_button_tag :dry_run_repo_selection, "all_repos", all_repos_radio_button_checked? %>
            All repositories in the organization
          </label>
        </div>
        <div class="form-checkbox mb-3">
          <label class="color-fg-default">
            <%= radio_button_tag :dry_run_repo_selection, "selected_repos", selected_repos_radio_button_checked? %>
            Selected repositories
          </label>
        </div>
      <% end %>
      <%= render SecretScanning::CustomPatterns::DryRun::RepoAutocompleteComponent.new(
        custom_pattern_owner: @custom_pattern_owner,
        selected_repo_ids: @selected_repo_ids,
      ) %>
    </div>
  <% else %>
    <div class="Box-body pt-0 pb-1">
      <%= render(Primer::Box.new(mt: 3, mb: 3)) do %>
        <%= render(Primer::Beta::Text.new(
          font_size: 4,
          font_weight: :bold,
          display: :block,
          test_selector: "repo-selector-autocomplete-description-text"
        )) do %>
          Select repositories
        <% end %>
        <%= render(Primer::Beta::Text.new(
          font_size: 6,
          display: :block,
          color: :muted,
          test_selector: "repo-selector-autocomplete-description-sub-text"
        )) do %>
          Limited to repositories with secret scanning enabled
        <% end %>
      <% end %>
      <%= render SecretScanning::CustomPatterns::DryRun::RepoAutocompleteComponent.new(
        custom_pattern_owner: @custom_pattern_owner,
        selected_repo_ids: @selected_repo_ids,
      ) %>
    </div>
  <% end %>
  <div class="Box-footer text-right">
    <%= render(Primer::ButtonComponent.new(
      type: :button,
      "data-close-dialog": true
      )) { "Cancel" } %>
    <%= render(Primer::ButtonComponent.new(
      scheme: :primary,
      type: :submit,
      ml: 1,
      form: "custom-pattern-form",
      disabled: dry_run_button_disabled?,
      classes: "js-org-repo-selector-dialog-dry-run-button",
      data: {"disable-with": "Saving...", "hpc": "true"},
      )) { "Run" } %>
  </div>
<% end %>
