<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% matching_repositories.each do |repository| %>
  <%= render Primer::Alpha::AutoComplete::Item.new(
    value: repository.id,
    display: :flex,
    border: :bottom,
    font_size: :normal,
    ) do %>
    <%= render(Primer::Beta::Octicon.new(
      icon: repository.repo_type_icon,
      color: :muted,
      test_selector: "autocomplete-suggestion-dry-run-repo-type-icon")) %>
    <%= render(Primer::Box.new(pl: 1, flex: 1)) do %>
      <%= render(Primer::Beta::Text.new(
        tag: :span,
        test_selector: "autocomplete-suggestion-dry-run-repo-name"
      )) do %>
        <% if @owner&.is_a?(Business) %>
          <b><%= repository.owner_display_login %></b>/<%= repository.name %>
        <% else %>
          <b><%= repository.name %></b>
        <% end %>
      <% end %>
      <%= render(Primer::Box.new) do %>
        <%= render(Primer::Beta::Text.new(
          mt: 1,
          mb: 0,
          color: :muted,
          test_selector: "autocomplete-suggestion-dry-run-repo-description"
        )) do %>
          <%= repository.description.presence || 'no description' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if matching_repositories.empty? %>
  <li role="option" class="autocomplete-item">
    No repositories found.
  </li>
<% end %>
