<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div id="dry-run-selected-repos" class="js-dry-run-selected-repos">
  <%= render(Primer::Box.new(mt: 2, mb: 2)) do %>
    <%= render(Primer::Beta::Text.new(
      mt: 1,
      pt: 1,
      color: :muted,
      font_size: 6,
      test_selector: "selected-repositories-count-text"
    )) do %>
      <%= selected_repositories_count_text %>
    <% end %>
    <%= render(Primer::ButtonComponent.new(
      scheme: :link,
      size: :small,
      type: :button,
      float: :right,
      disabled: clear_all_selected_repositories_button_disabled?,
      classes: "js-clear-selected-repositories-button",
      test_selector: "clear-all-selected-repositories-button"
      )) do %>
        <%= render(Primer::Beta::Text.new(font_size: 6)) do %>Clear all<% end %>
    <% end %>
  <% end %>
  <% if selected_repositories_count > 0 %>
    <%= render(Primer::Beta::BorderBox.new(
      mt: 3,
      border_bottom: 0,
      border_left: 0,
      border_right: 0,
      border_top: 0,
      border_radius: 0,
      test_selector: "selected-repositories-border-box"
    )) do |component| %>
      <% selected_repositories.each do |repository| %>
        <% component.with_row(py: 1, px: 3, mt: 0, border: :top, border_radius: 0) do %>
          <%= render SecretScanning::CustomPatterns::DryRun::RepoRowComponent.new(
            repository: repository,
            owner: custom_pattern_owner,
            update_selected_repositories_path: update_selected_repositories_path
          ) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
