<div class="js-pinned-items-reorder-container">
  <% if viewer_can_change_pinned_items? && any_pinnable_items? %>
    <div class="float-right">
      <%= render Profiles::ProfilePins::PinnedItemsComponent.new(
        show_button_name: "Customize your pins",
        profile_user: profile_user,
        data: profile_click_tracking_attrs(:CUSTOMIZE_PINS_LINK),
        dialog_location: "user-profile"
      ) %>
    </div>
  <% end %>
  <h2 class="f4 mb-2 text-normal">
    <% if has_pinned_items? %>
      Pinned
    <% else %>
      Popular repositories
    <% end %>
    <%= render Primer::Beta::Spinner.new(
      size: :small,
      vertical_align: :text_bottom,
      ml: 1,
      classes: "spinner pinned-items-spinner js-pinned-items-spinner",
    ) %>
    <span
      class="ml-2 color-fg-muted f6 js-pinned-items-reorder-message"
      role="status"
      aria-live="polite"
      data-error-text="Something went wrong."
      data-success-text="Order updated."
    ></span>
  </h2>

  <% if has_pinned_items? %>
    <% if viewer_can_change_pinned_items? %>
      <%= form_tag(
        user_reorder_pinned_items_path(profile_user.display_login),
        class: "js-pinned-items-reorder-form",
        id: "user-#{profile_user.id}-pinned-items-reorder-form",
        method: :put,
      ) do |f| %>
        <%= render(
          "profile_pins/pinned_items",
          pinned_items: items,
          profile_owner: profile_user,
          viewer_can_change_pinned_items: viewer_can_change_pinned_items?,
        ) %>
      <% end %>
    <% else %>
      <%= render(
        "profile_pins/pinned_items",
        pinned_items: items,
        profile_owner: profile_user,
        viewer_can_change_pinned_items: viewer_can_change_pinned_items?,
      ) %>
    <% end %>
  <% elsif items.any? %>
    <%= render "users/tabs/popular_repos", popular_repositories: items %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new(mb: 4) do |c| %>
      <% c.with_heading(tag: :h2) do %>
        <%= blank_title %>
      <% end %>
    <% end %>
  <% end %>
</div>
