<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= render Primer::BlankslateComponent.new(
  icon: "alert",
  title: "This secret gist has been disabled.",
  narrow: true,
  mt: 4,
) do %>
  <p class="text-left"><%= trade_controls_secret_gist_restricted %></p>

  <% if gist.ui_content_adminable_by?(current_user) %>
    <%= render GitHub::DialogComponent.new(title: "Make this gist public") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
      <% dialog.with_summary do %>
        <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, scheme: :danger) do %>
          <%= render Primer::Beta::Octicon.new(icon: "code-square") %>
          Make public
        <% end %>
      <% end %>
      <% dialog.with_alert do %>
        Please note: you will not be able to undo this action.
      <% end %>
      <% dialog.with_body do %>
        <ul class="ml-3" style="list-style-type: none;">
          <li>The code will be visible to everyone who can visit <%= GitHub.gist_url %></li>
          <li><%= trade_controls_restricted_public_abilities_for_gist %></li>
        </ul>
      <% end %>
      <% dialog.with_footer do %>
        <%= form_tag make_public_user_gist_path(gist.user_param, gist), method: :put do %>
          <%= render Primer::ButtonComponent.new(scheme: :danger, type: :submit) do %>
            I understand, make this gist public.
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
