<%
  selected_category = local_assigns[:selected_category] || :discover_workflows
%>

<div class="d-flex flex-justify-between">
  <div class="d-flex flex-column flex-md-row flex-justify-between width-full">
    <div class="col-12 col-lg-12 pr-0 pr-md-3 my-1 my-md-2 mt-lg-5 mb-lg-3">
      <% defined?(starter_workflow_repo_exists) or starter_workflow_repo_exists = true %>

      <% if workflows_exist %>
        <h1 class="mb-2">Choose a workflow</h1>
      <% else %>
        <h1 class="mb-2 lh-condensed">Get started with GitHub Actions</h1>
      <% end %>

      <% if !starter_workflow_repo_exists %>
        <p class="color-fg-muted">Build, test, and deploy your code. Make code reviews, branch management, and issue triaging work the way you want. We are facing some issues in loading the starter workflows. Please follow the documentation to
          <a href="<%= enterprise_admin_action_help_url %>" class="Link--inTextBlock" >
          learn more about troubleshooting Actions.
          </a>
        </p>
      <% else %>
        <p class="color-fg-muted">Build, test, and deploy your code. Make code reviews, branch management, and issue triaging work the way you want. Select a workflow to get started.</p>
      <% end %>
      <p class="color-fg-muted">Skip this and
        <% hydro_tracking = hydro_click_tracking_attributes(setup_workflow_event,
          { repository_id: current_repository.id,
            workflow_template: "blank",
            view_section: "setup_yourself",
            view_rank: 1,
            templates_count: 1,
            template_creator: "GitHub",
            correlation_id: GitHub.context[:request_id] }) %>
        <a href="<%= new_file_path(current_repository.owner, current_repository, current_branch_or_tag_name, filename: ".github/workflows/main.yml", workflow_template: "blank") %>"
          data-hydro-click="<%= hydro_tracking["hydro-click"] %>"
          data-hydro-click-hmac="<%= hydro_tracking["hydro-click-hmac"] %>" >
        set up a workflow yourself
        <%= primer_octicon(:"arrow-right") %>
        </a>
      </p>
    </div>
  </div>
</div>
