<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
  <%= render(Primer::Alpha::Banner.new(scheme: :warning, mb: 3)) do %>
    <h5>GitHub Actions workflows can't be executed on this repository.</h5>
    <% if view.show_legacy_plan_warning? %>
      <div>
        <p>GitHub Actions is not available for private repositories on legacy per-repository billing plans. Please visit your billing settings to upgrade your account.</p>
        <% if owner.organization? && owner.eligible_for_legacy_upsell? %>
          <span>
            <%= render(Primer::Beta::Button.new(
              href: settings_org_plans_path(owner),
              tag: :a,
              scheme: :primary,
              mr: 2,
              data: {
                **analytics_click_attributes(
                  category: "GitHub Legacy Plans",
                  action: "click.upgrade",
                  label: "location:repository_actions"
                )
              }
            )) { "Upgrade" } if owner.adminable_by?(current_user) %>
            <%= render(Primer::Beta::Link.new(
              href: "#{GitHub.url}/features/actions",
              data: {
                **analytics_click_attributes(
                  category: "GitHub Legacy Plans",
                  action: "click.learn_more",
                  label: "location:repository_actions"
                )
              }
            )) { "Learn more about GitHub Actions" } %>
          </span>
        <% end %>
      </div>
    <% elsif view.show_access_not_included_in_plan_warning? %>
      <p>The billing plan for <span class="text-bold"><%= owner.display_login %></span> does not include access to GitHub Actions. Please contact the organization owner or billing manager for questions about the current billing plan</p>
    <% elsif view.show_disabled_warning? %>
      <p>Your account's billing is currently locked. Please update your payment information.</p>
    <% end %>
  <% end %>
<% else %>
  <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 3)) do %>
    <h5>GitHub Actions workflows can't be executed on this repository.</h5>
    <% if view.show_legacy_plan_warning? %>
      <div>
        <p>GitHub Actions is not available for private repositories on legacy per-repository billing plans. Please visit your billing settings to upgrade your account.</p>
        <% if owner.organization? && owner.eligible_for_legacy_upsell? %>
          <span>
            <%= render(Primer::Beta::Button.new(
              href: settings_org_plans_path(owner),
              tag: :a,
              scheme: :primary,
              mr: 2,
              data: {
                **analytics_click_attributes(
                  category: "GitHub Legacy Plans",
                  action: "click.upgrade",
                  label: "location:repository_actions"
                )
              }
            )) { "Upgrade" } if owner.adminable_by?(current_user) %>
            <%= render(Primer::Beta::Link.new(
              href: "#{GitHub.url}/features/actions",
              data: {
                **analytics_click_attributes(
                  category: "GitHub Legacy Plans",
                  action: "click.learn_more",
                  label: "location:repository_actions"
                )
              }
            )) { "Learn more about GitHub Actions" } %>
          </span>
        <% end %>
      </div>
    <% elsif view.show_access_not_included_in_plan_warning? %>
      <p>The billing plan for <span class="text-bold"><%= owner.display_login %></span> does not include access to GitHub Actions. Please contact the organization owner or billing manager for questions about the current billing plan</p>
    <% elsif view.show_disabled_warning? %>
      <p>Your account's billing is currently locked. Please update your payment information.</p>
    <% end %>
  <% end %>
<% end %>
