<%
  view_section = local_assigns[:view_section] || "unknown"
  view_offset = local_assigns[:view_offset] || 0
  correlation_id = GitHub.context[:request_id] || ""
  category = local_assigns[:category] || ""
  search_query = local_assigns[:search_query] || ""
  code_scanning_enabled = local_assigns[:code_scanning_enabled] || false
  path = new_file_path(current_repository.owner, current_repository, current_branch_or_tag_name, filename: workflow_template.default_file_name, workflow_template: workflow_template.id)
  new_with_filter_view = local_assigns[:new_with_filter_view] || false
  hydro_tracking = hydro_click_tracking_attributes("actions.onboarding_setup_workflow_click", {
    repository_id: current_repository.id,
    workflow_template: workflow_template.id,
    view_section: view_section,
    view_rank: view_offset + workflow_template_counter + 1,
    templates_count: view_offset + workflow_template_iteration.size,
    template_creator: workflow_template.creator,
    new_with_filter_view: new_with_filter_view,
    correlation_id: correlation_id,
    category: category,
    search_query: search_query
  })
%>

  <div class="col-12 <% if new_with_filter_view %> col-md-4 <% else %> col-md-6 col-lg-3 col-xl-3 <% end %> d-flex flex-column px-2">
    <div class="Box rounded-2 d-flex flex-column overflow-hidden width-full flex-auto mb-3">
      <div class="d-flex flex-justify-between px-4 pt-3 pb-0">
        <div class="pr-4">
          <h3 class="h5"><%= workflow_template.name %></h3>
          <p class="color-fg-muted mb-0 text-small">
            <% if workflow_template.from_owner? %>
              <span class="v-align-middle"><%= avatar_for(current_repository.owner, 16, class: "rounded-2") %></span>
            <% end %>
            By
            <% if workflow_template.creator_name.present? %>
              <%= workflow_template.creator_name %>
            <% else %>
              <%= profile_link(current_repository.owner, class: "Link--primary") do %><%= current_repository.owner.safe_profile_name %><% end %>
            <% end %>
          </p>
        </div>
        <div>
          <div class="CircleBadge CircleBadge--small" style="color: <%= workflow_template.lang_color %>; background-color: var(--bgColor-white, var(--color-scale-white)); width: 32px; height: 32px;">
            <% if workflow_template.icon_name.include? "octicon" %>
              <% icon = workflow_template.icon_name.split[1].split(".").first %>
              <%= primer_octicon("#{icon}", size: :medium) %>
            <% else %>
              <% if workflow_template.icon_raw_url.blank? %>
                <img class="CircleBadge-icon" src="<%= image_path "icons/actions/#{workflow_template.icon_name}" %>" alt="<%= workflow_template.name %> logo">
              <% else %>
                <img class="CircleBadge-icon" src="<%= workflow_template.icon_raw_url %>" alt="<%= workflow_template.name %> logo">
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column flex-auto flex-justify-between">
        <div class="d-flex flex-justify-between flex-items-center pt-2 pb-0 px-4">
          <p class="color-fg-muted mb-1 text-small">
            <%= workflow_template.description %>
          </p>
        </div>
        <% if !workflow_template.category.casecmp?("Code Scanning") || code_scanning_enabled %>
          <div class="d-flex flex-justify-between flex-items-center pt-2 pb-4 px-4">
            <%= link_to "Configure", path, class: "btn btn-sm", "data-hydro-click": hydro_tracking["hydro-click"], "data-hydro-click-hmac": hydro_tracking["hydro-click-hmac"] %>
            <div class="d-flex flex-items-center flex-auto flex-justify-end no-wrap overflow-hidden">
              <% if workflow_template.language %>
                  <span
                  class="color-fg-muted text-small overflow-hidden width-full text-right"
                  style="text-overflow: ellipsis;"
                >
                  <%= workflow_template.language %>
                </span>
                <span class="repo-language-color ml-2 top-0 flex-shrink-0" style="background-color: <%= workflow_template.lang_color %>"></span>
              <% end %>
            </div>
          </div>
        <% else %>
            <div class="d-flex flex-justify-between flex-items-center pt-1 pb-3 px-4">
              <p class="color-fg-muted"> Requires
                <a class="color-fg-muted Link--inTextBlock" href="<%= "#{GitHub.help_url}/get-started/learning-about-github/about-github-advanced-security" %>" target="_blank" rel="noopener noreferrer" <%= test_selector("requires-ghas-link") %>>
                <u>GitHub Advanced Security</u>
                </a>
              </p>
            </div>
        <% end %>
        </div>
    </div>
  </div>
