<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box-body d-flex border-bottom-0 border-top" <%= test_selector("stripe-connect-onboarding") %>>
  <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
    <%= render Primer::Beta::Octicon.new(icon: aggregate_status_icon, color: aggregate_status_icon_color) %>
  </div>
  <div class="flex-auto" <%= test_selector("stripe-bank-info-onboarding") %>>
    <% if show_stripe_tax_form_step? %>
      Fill out bank, identity, and tax information.
    <% else %>
      Fill out bank and identity information.
    <% end %>
  </div>
</div>
<div class="pr-3 pb-3 d-flex" style="padding-left: 42px">
  <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
    <%= render Primer::Beta::Octicon.new(icon: stripe_account_status_icon, color: stripe_account_status_icon_color) %>
  </div>
  <div class="flex-auto" <%= test_selector("stripe-edit-account-created") %>>
    Create a

    <% if has_stripe_account? %>
      <a href="<%= sponsorable_stripe_account_path(sponsorable_login, stripe_account) %>"
        target="_blank"
        rel="noopener noreferrer"
      >
        Stripe Connect account <%= render Primer::Beta::Octicon.new(icon: "link-external") %>
      </a>
    <% else %>
      <%= form_tag sponsorable_stripe_accounts_path(sponsorable_login), method: :post, class: "d-inline" do %>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link) do %>Stripe Connect account<% end %>
      <% end %>
    <% end %>
  </div>
</div>
<% if has_stripe_account? %>
  <% if !stripe_account.synced? %>
    <div class="d-flex" style="padding:0px 16px 16px 42px" <%= test_selector("stripe-fetch-details") %>>
      <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
        <%= render(Primer::Beta::Octicon.new(icon: "hourglass")) %>
      </div>
      <p>We are syncing your Stripe account. Please check back later.</p>
    </div>
  <% else %>
    <% if identity_items_past_due? %>
      <div class="pr-3 pb-3 d-flex" style="padding-left: 42px" <%= test_selector("stripe-edit-items-past-due") %>>
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <%= primer_octicon(:sync, color: :danger) %>
        </div>
        <div class="flex-auto">
          <span class="color-fg-danger">
            <strong>There was a problem verifying your identity.</strong>
            Please update the info in
            <a class="Link--inTextBlock" href="<%= sponsorable_stripe_account_path(sponsorable_login, stripe_account) %>"
              target="_blank"
              rel="noopener noreferrer"
            >
              your Stripe dashboard <%= render Primer::Beta::Octicon.new(icon: "link-external") %>
            </a>
          </span>
        </div>
      </div>
    <% elsif identity_items_currently_due? %>
      <div class="pr-3 pb-3 d-flex" style="padding-left: 42px" <%= test_selector("stripe-edit-identity-items-currently-due") %>>
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <%= primer_octicon(:"dot-fill", classes: "hx_dot-fill-pending-icon") %>
        </div>
        <div class="flex-auto">
          <p>
            Complete the
            <a class="Link--inTextBlock" href="<%= sponsorable_stripe_account_path(sponsorable_login, stripe_account) %>"
              target="_blank"
              rel="noopener noreferrer"
            >
              required documentation
            </a>
            <% if current_identity_deadline %>
              by <strong <%= test_selector("identity-items-deadline") %>><%= current_identity_deadline %></strong>
            <% end %>
            to receive payouts
          </p>
          <div class="note" <%= test_selector("proof-of-id-hint") %>>
            You may need to upload proof of identity in your Stripe Connect Account settings.
          </div>
        </div>
      </div>
    <% else %>
      <div class="pr-3 pb-3 d-flex" style="padding-left: 42px" <%= test_selector("stripe-edit-required-documentation") %>>
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <%= render Primer::Beta::Octicon.new(icon: stripe_identity_status_icon, color: stripe_identity_status_icon_color) %>
        </div>
        <div class="flex-auto">
          <% if stripe_account_verified? %>
            Complete the required documentation
          <% else %>
            Please check your name, date of birth, and address in your Stripe Connect account for any errors.
          <% end %>
        </div>
      </div>
    <% end %>

    <% if payouts_enabled? %>
      <div class="pr-3 pb-3 d-flex" style="padding-left: 42px" <%= test_selector("stripe-edit-payouts-enabled") %>>
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <%= primer_octicon(:check, color: :success) %>
        </div>
        <div class="flex-auto">
          Add <%= "business" if organization? %> payout details to Stripe
          <% if organization? %>
            <p class="note">
              <strong>Note</strong>: we do not support organization payouts to personal accounts.
              <%# TODO: Learn more link. %>
            </p>
          <% end %>
        </div>
      </div>
    <% elsif has_unverified_payout_option? %>
      <div class="pr-3 pb-3 d-flex" style="padding-left: 42px" <%= test_selector("stripe-edit-payouts-unverified") %>>
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <%= primer_octicon(:clock, color: :attention) %>
        </div>
        <div class="flex-auto">
          Add <a class="Link--inTextBlock" href="<%= sponsorable_stripe_account_path(sponsorable_login, stripe_account) %>">
            <%= "business " if organization? %>
            payout details
            <%= render Primer::Beta::Octicon.new(icon: "link-external") %>
          </a> to Stripe, pending approval
          <% if organization? %>
            <p class="note">
              <strong>Note</strong>: we do not support organization payouts to personal accounts.
              <%# TODO: Learn more link. %>
            </p>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="pr-3 pb-3 d-flex" style="padding-left: 42px" <%= test_selector("stripe-edit-payouts-missing") %>>
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <%= primer_octicon(:"dot-fill", classes: "hx_dot-fill-pending-icon") %>
        </div>
        <div class="flex-auto">
          Add <a class="Link--inTextBlock" href="<%= sponsorable_stripe_account_path(sponsorable_login, stripe_account) %>">
            <%= "business " if organization? %>
            payout details
            <%= render Primer::Beta::Octicon.new(icon: "link-external") %>
          </a> to Stripe
          <% if organization? %>
            <p>
              <strong>Note</strong>: we do not support organization payouts to personal accounts.
              <%# TODO: Learn more link. %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if show_stripe_tax_form_step? %>
      <div class="pr-3 pb-3 d-flex" style="padding-left: 42px">
        <div class="mr-1" style="width: <%= STATUS_ICON_WIDTH %>;">
          <% if stripe_w8_or_w9_verified? %>
            <%= primer_octicon(:check, color: :success, test_selector: "stripe-w8-or-w9-verified") %>
          <% else%>
            <%= primer_octicon(:"dot-fill", classes: "hx_dot-fill-pending-icon", test_selector: "stripe-w8-or-w9-unverified") %>
          <% end %>
        </div>
        <div class="flex-auto">
          Complete <a class="Link--inTextBlock" href="<%= sponsorable_stripe_account_path(sponsorable_login, stripe_account) %>">
            tax forms
            <%= render Primer::Beta::Octicon.new(icon: "link-external") %>
          </a>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
