<% page_info title: "GitHub Sponsors Fiscal Hosts · Stafftools", selected_link: :sponsors_fiscal_hosts %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>GitHub Sponsors fiscal hosts<% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
    <% component.with_body(p: 0) do %>
      <table class="stafftools-table">
        <thead>
          <tr>
            <th>Fiscal host</th>
            <th class="text-center">Listing state</th>
            <th class="text-center"># child listings</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% fiscal_host_listings.each do |listing| %>
            <% profile_name = listing.sponsorable.profile_name %>
            <tr>
              <td class="v-align-middle">
                <a href="<%= stafftools_sponsors_member_path(listing.sponsorable_login) %>">
                  @<%= listing.sponsorable_login %>
                  <% unless profile_name == listing.sponsorable_login %>
                    <span class="ml-1 color-fg-muted text-small text-normal"><%= profile_name %></span>
                  <% end %>
                </a>
              </td>
              <td class="text-center v-align-middle">
                <%= link_to stafftools_sponsors_member_path(listing.sponsorable_login) do %>
                  <%= render Stafftools::Sponsors::Members::SponsorsListingStateComponent.new(listing: listing) %>
                <% end %>
              </td>
              <td class="text-center v-align-middle">
                <%= link_to stafftools_sponsors_member_path(listing.sponsorable_login), class: "Link--primary", data: test_selector_hash("fiscal-host-#{listing.id}-count") do %>
                  <%= counts_by_fiscal_host_login[listing.sponsorable_login] %>
                <% end %>
              </td>
              <td class="text-right v-align-middle">
                <a href="<%= sponsorable_dashboard_fiscal_host_path(listing.sponsorable_login) %>">
                  View payout history
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>

  <% if fiscal_host_listings.total_pages > 1 %>
    <div class="paginate-container">
      <div class="pagination">
        <%= will_paginate fiscal_host_listings %>
      </div>
    </div>
  <% end %>
<% end %>
