<div class="TimelineItem pt-0 js-comment-container js-socket-channel js-updatable-content <% if with_database_error_fallback(fallback: false) { issue.viewer_can_update } %> js-command-palette-issue-body<% end %>"
  data-gid="<%= issue.id %>"
  data-url="<%= issues_body_partial_path(id: issue.number, issue: issue.number) %>"
  data-channel="<%= live_update_view_channel(issue.websocket) %>">

  <%= render "comments/timeline_avatar", comment: issue %>
  <%= render "comments/comment", {
        comment: issue,
        form_path: "/#{issue.repository.name_with_display_owner}/issues/#{issue.number}",
        dom_id: "issue-#{issue.database_id}",
        action_text: "commented",
        deferred_comment_actions: true,
  } %>
</div>
