<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= form_tag convert_issue_path(current_repository.owner, current_repository, issue), method: :put do %>
  <div>
    <p>Are you sure you want to convert this issue to a discussion?</p>
    <p>What happens when an issue is converted into a discussion:</p>
    <ul class="ml-3 list-style-none">
      <li class="my-1">
        <%= primer_octicon(:check, color: :success, "aria-label": "Green checkmark") %>
        Issue will be closed and locked
      </li>
      <li>
        <%= primer_octicon(:check, color: :success, "aria-label": "Green checkmark") %>
        Title, description, and author will be the same as the issue
      </li>
      <% if issue.comments.any? || issue.reactions.any? %>
        <li class="my-1">
          <%= primer_octicon(:check, color: :success, "aria-label": "Green checkmark") %>
          All comments and reactions will be the same as the issue
        </li>
      <% end %>
      <% if issue.has_tasklist_blocks? %>
        <li class="my-1">
          <%= primer_octicon(:x, color: :danger, "aria-label": "Red X") %>
          Discussions do not have tasklists
        </li>
      <% end %>
      <% if issue.assignees.any? %>
        <li class="my-1">
          <%= primer_octicon(:x, color: :danger, "aria-label": "Red X") %>
          Discussions do not have assignees
        </li>
      <% end %>
      <% if issue.projects.any? %>
        <li class="my-1">
          <%= primer_octicon(:x, color: :danger, "aria-label": "Red X") %>
          Discussions cannot be added to projects
        </li>
      <% end %>
      <% if issue.milestone %>
        <li class="my-1">
          <%= primer_octicon(:x, color: :danger, "aria-label": "Red X") %>
          Discussions do not have milestones
        </li>
      <% end %>
    </ul>
    <% if discussion_categories.any? %>
      <div class="mt-3" <%= test_selector("category-select") %>>
        <%= label_tag "convert-to-discussion-category", "Category for new discussion" %>
        <%= select_tag "category_id",
          options_for_select(discussion_categories.collect { |c| [c.name, c.id] }),
          id: "convert-to-discussion-category",
          class: "input-block form-select mt-3 mb-3"
        %>
      </div>
    <% else %>
      <p>There are no categories for discussions in this repository.</p>
    <% end %>
  </div>
  <div class="d-flex flex-justify-end mt-2">
    <%= render(Primer::ButtonComponent.new(data: { "close-dialog-id": "convert-to-discussion" })) { "Cancel" } %>
    <%= render(Primer::ButtonComponent.new(
      scheme: :danger,
      type: :submit,
      ml: 2,
      disabled: discussion_categories.empty?,
      data: { "submit-dialog-id": "convert-to-discussion" }
    )) { "I understand, convert this issue." } %>
  </div>
<% end %>
