<% author_link_attributes ||= {} %>
<%= link_author author, :class => "author text-bold Link--secondary", **author_link_attributes %> <%= bot_identifier(author) %> opened this <%= noun.downcase %>
<%= time_ago_in_words_js created_at %>
<% if discussion_for_created_issue %>
  <span <%= test_selector("referenced-discussion")%>>
    Discussed in
    <a class="Link--inTextBlock"
      href="<%= discussion_path(discussion_for_created_issue) %>"
      <%= safe_data_attributes(hovercard_data_attributes_for_discussion(current_repository.owner.display_login, current_repository.name, discussion_for_created_issue.number)) %>
    >
      #<%= discussion_for_created_issue.number %>
    </a>
  </span>
<% end %>
<% if issue.performed_via_integration %>
  &mdash; with <%= link_to issue.performed_via_integration.name, gh_app_path(issue.performed_via_integration, current_user), class: "Link--inTextBlock" %>
<% end %>
&middot; <%= pluralize(number_with_delimiter(issue.issue_comments_count.to_i), 'comment') %>

<span data-issue-and-pr-hovercards-enabled>
  <%= issue_xrefs_html(issue, "ISSUE_HEADER") %>
</span>
