<%# erblint:counter DeprecatedComponentsCounter 1 %>
<details class="d-inline-block details-reset details-overlay" <%= test_selector("category-select") %>>
  <%= render Primer::ButtonComponent.new(tag: :summary, "data-menu-button": "") do %>
    <span class="mr-1"><span class="text-normal">Choose a category</span></span>
    <span class="dropdown-caret"></span>
  <% end %>
  <details-menu class="SelectMenu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-modal">
      <% discussion_categories.each do |category| %>
        <label
          tabindex="0"
          role="menuitemradio"
          class="SelectMenu-item text-normal"
          aria-checked="false"
        >
          <input type="radio" name="category_id" value="<%= category.id %>" required hidden>
          <div data-menu-button-contents>
            <strong class="f4" data-menu-button-contents>
              <span class="mr-1"><%= discussion_category_emoji_tag(category) %></span>
              <%= category.name %>
            </strong>
          </div>
        </label>
      <% end %>
    </div>
  </details-menu>
</details>
