<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box-header d-flex flex-justify-between" id="js-issues-toolbar" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
  <% if current_user_can_push? && current_repository_writable? %>
    <div class="mr-3 d-none d-md-block">
      <input type="checkbox" data-check-all aria-label="Select all issues" autocomplete="off">
    </div>
  <% end %>

  <div class="table-list-filters flex-auto d-flex min-width-0">
    <div class="flex-auto d-none d-lg-block no-wrap">
      <%= render partial: "issues/filters/states", locals: { issues: issues, pulls_only: pulls_only, open_count: open_count, closed_count: closed_count } %>
    </div>

    <% unless local_assigns[:hide_filters] %>
      <div class="table-list-header-toggle no-wrap d-flex flex-auto flex-justify-between flex-sm-justify-start flex-lg-justify-end">
        <%= render partial: "issues/filters/authors", locals: { query: query, pulls_only: pulls_only } %>
        <% if show_labels_ui?(current_repository) %>
          <%= render partial: "issues/filters/labels", locals: { query: query, pulls_only: pulls_only } %>
        <% end %>
        <span class="d-none d-md-inline">
          <% if show_projects_ui?(current_repository) %>
            <%= render partial: "issues/filters/projects", locals: { query: query, pulls_only: pulls_only } %>
          <% end %>
          <% if show_milestones_ui?(current_repository) %>
            <%= render partial: "issues/filters/milestones", locals: { query: query, pulls_only: pulls_only } %>
          <% end %>
          <% if pulls_only %>
            <%= render partial: "issues/filters/reviews" %>
          <% end %>
        </span>
        <%= render partial: "issues/filters/assigns", locals: { query: query, pulls_only: pulls_only } %>
        <%= render partial: "issues/filters/sorts", locals: { pulls_only: pulls_only } %>
      </div>
    <% end %>
  </div>

  <% if current_user_can_push? && current_repository_writable? %>
    <div class="table-list-triage flex-auto js-issues-toolbar-triage">
      <span class="color-fg-muted">
        <span data-check-all-count>0</span> selected
      </span>

      <div class="table-list-header-toggle float-right">
        <span class="js-issue-triage-spinner" hidden>
          <%= render(Primer::Beta::Spinner.new(size: :small, vertical_align: :text_bottom, "aria-label": "Saving")) %>
        </span>
        <span class="color-fg-danger f6 js-issue-triage-error" hidden>Something went wrong.</span>
        <%= render partial: "issues/triage/actions" %>
        <%= render partial: "issues/triage/labels" %>
        <% if memex_add_from_issue_triage_enabled?(current_repository) %>
          <%= render partial: "issues/triage/projects" %>
        <% end %>
        <%= render partial: "issues/triage/milestones" %>
        <%= render partial: "issues/triage/assigns" %>
        <template class="js-triage-loader-template">
          <include-fragment class="SelectMenu-loading">
            <div data-hide-on-error>
                <%= render(Primer::Beta::Spinner.new(mx: :auto, display: :block)) %>
            </div>
            <div class="text-center p-3" data-show-on-error hidden>
              <p>Something went wrong.</p>
              <%= render Primer::ButtonComponent.new("data-retry-button": "", variant: :small) do %>Retry<% end %>
            </div>
          </include-fragment>
        </template>

        <template id="js-triage-add-issues-to-memex-projects-form-success">
          <%= render layout: "shared/flash_container", locals: { type: "success" } do %>
            <%= render Primer::Beta::Octicon.new(icon: :check) %>
            {{selectedIssueCountLabel}} <%= pulls_only ? "pull request" : "issue" %>{{selectedIssuesLabel}} successfully been added to {{selectedMemexProjectsLabel}}
          <% end %>
        </template>
      </div>
    </div>
  <% end %>
</div>
