<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% view.instrument_ftc_banner_view(is_pull_requests: false) %>

<div class="mb-4 js-notice">
  <div class="content p-4 text-center rounded-2 border color-border-muted d-block">
    <div class="position-relative">
      <details class="dropdown details-reset text-left details-overlay d-inline-block float-right">
        <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "Link--primary", "aria-haspopup": "true") do %>
          Dismiss <span class="dropdown-caret"></span>
        <% end %>

        <details-menu class="dropdown-menu dropdown-menu-sw" style="width: 230px"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <%= form_tag dismiss_repository_notice_user_path(current_user), :method => :delete, :class => "js-notice-dismiss" do %>
            <input type="hidden" name="notice_name" value="first_time_contributor_issues_banner">
            <input type="hidden" name="repository_id" value="<%= view.repo.id %>">
            <%=
              button_tag(
                "Dismiss for this repository only",
                type: "submit",
                class: "btn-link dropdown-item",
                role: "menuitem",
                "data-ga-load": "First-time contributor banner, view:issue; action:view",
                data: view.first_time_contributor_banner_data_attributes_click_dismiss(
                  view: Issues::IndexView::ISSUES,
                  banner_shows_all_issues: false,
                  banner_shows_labels: view.display_labels?,
                  dismiss_length: "for repo"
                )
              )
            %>
          <% end %>
          <%= form_tag dismiss_notice_path(UserNotice::FIRST_TIME_CONTRIBUTOR_ISSUES_BANNER_NOTICE), :class => "js-notice-dismiss" do %>
            <input type="hidden" name="notice_name" value="first_time_contributor_issues_banner">
            <input type="hidden" name="repository_id" value="<%= view.repo.id %>">
            <%=
              button_tag(
                "Dismiss for all repositories",
                type: "submit",
                class: "btn-link dropdown-item",
                role: "menuitem",
                data: view.first_time_contributor_banner_data_attributes_click_dismiss(
                  view: Issues::IndexView::ISSUES,
                  banner_shows_all_issues: false,
                  banner_shows_labels: view.display_labels?,
                  dismiss_length: "forever"
                )
              )
            %>
          <% end %>
        </details-menu>
      </details>

      <div class="col-8 mx-auto">
        <%= render partial: "issues/first_time_contributor/contributing_prompt", locals: { view: view } %>
      </div>
    </div>
  </div>
</div>
