<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
# Hey there buddy, nice to meet you!
#
# I'm betting you’re here to fix "Close with comment" and change it to the
# correct order of operations: "Comment and close" — aren't ya? HOLD UP!
#
# It's totally irrational, but people get super confused when we use the
# right order. Almost like they only read "Comment" and not "Close".
# So we start with "Close" to help people avoid mistakes. A little bit of
# rule bending, a whole lotta experience improvement. Totally worth it.
%>
<%
btn_group_classes = (local_assigns[:btn_group_classes] || "")
addl_btn_classes = (local_assigns[:addl_btn_classes] || [])
closable = with_database_error_fallback(fallback: false) do
  issue_permissions(issue, current_user, :closable)
end
view = Issues::FormButtonsView.new(
  issue: issue,
  current_user: current_user,
  addl_btn_classes: addl_btn_classes,
  closable: closable)
%>
<% if view.show_close_button? %>
  <% if view.in_merge_queue? %>
    <%= render GitHub::DialogComponent.new(title: "Close #{view.noun}") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
      <% dialog.with_summary do %>
        <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :danger) do %>
          Close <%= view.noun %>
        <% end %>
      <% end %>
      <% dialog.with_alert do %>
        Warning: Closing this pull request will remove it from the merge queue.
      <% end %>
      <% dialog.with_body do %>
        <button type="submit" name="comment_and_close" value="1"
          class="<%= view.btn_classes %>"
          data-comment-text="Close with comment"
          data-disable-with
          formnovalidate
          >
          <% if view.pull_request? %>
            <%= primer_octicon(:"git-pull-request-closed", classes: "closed") %>
          <% else %>
            <%= primer_octicon(:"issue-closed", color: :done) %>
          <% end %>
          <span class="js-form-action-text" data-default-action-text="Close <%= view.noun %>">Close <%= view.noun %></span>
        </button>
        <button type="button"
          class="btn"
          data-comment-text="Cancel"
          data-close-dialog
          formnovalidate
          >
          <span class="js-form-action-text" data-default-action-text="Cancel">Cancel</span>
        </button>
      <% end %>
    <% end %>
  <% else %>
    <% if view.pull_request? %>
      <button type="submit" name="comment_and_close" value="1"
        class="<%= view.btn_classes %>"
        data-comment-text="Close with comment"
        data-disable-with
        formnovalidate
        >
          <%= primer_octicon(:"git-pull-request-closed", classes: "closed") %>
          <span class="js-form-action-text" data-default-action-text="Close <%= view.noun %>">Close <%= view.noun %></span>
      </button>
    <% else %>
      <%= render Closables::Buttons::CloseComponent.new(closable: issue) %>
    <% end %>
  <% end %>
<% elsif view.show_reopen_button? %>
  <% if view.can_reopen? %>
    <% if !view.pull_request? %>
      <%= render Closables::Buttons::ReopenComponent.new(closable: issue) %>
    <% else %>
      <button type="submit" name="comment_and_open" value="1"
        class="<%= view.btn_classes %>"
        data-comment-text="Reopen and comment"
        data-disable-with
        formnovalidate
        >
        <span class="js-form-action-text" data-default-action-text="Reopen <%= view.noun %>">Reopen <%= view.noun %></span>
      </button>
    <% end %>
  <% elsif view.cannot_reopen_with_reason? %>
    <button type="submit" name="comment_and_open" value="1"
      class="<%= view.btn_classes(custom_classes: ["tooltipped", "tooltipped-n"]) %>"<%# erblint:disable Primer::Accessibility::TooltippedMigration %>
      aria-label="<%= h view.not_reopenable_reason %>"
      disabled
      data-comment-text="Reopen and comment"
      data-disable-with
      >
      <span class="js-form-action-text" data-default-action-text="Reopen <%= view.noun %>">Reopen <%= view.noun %></span>
    </button>
  <% end %>
<% end %>
