<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  state_websocket = GitHub::WebSocket::Channels.issue_state(issue)
%>
<div id="partial-new-comment-form-actions"
    class="js-socket-channel js-updatable-content d-flex flex-justify-end flex-items-center flex-wrap gap-2"
    data-channel="<%= live_update_view_channel(state_websocket) %>"
    <% if issue.pull_request? %>
      data-url="<%= pull_request_form_actions_partial_path(user_id: current_repository.owner.display_login, repository: current_repository.name, id: issue.number) %>"
    <% else %>
      data-url="<%= show_partial_issue_path(user_id: current_repository.owner.display_login, repository: current_repository.name, id: issue.number, partial: "issues/form_actions") %>"
    <% end %>
  >

  <div class="d-flex flex-items-center">
    <% if issue.pull_request? && PullRequests::Copilot.copilot_for_prs_enabled?(current_copilot_user) %>
      <%= render partial: "comments/copilot_summary_banner", locals: {
        pull_request: issue.pull_request,
        copilot_organization: issue.owner.organization? ? Copilot::Organization.new(issue.owner) : nil,
      } %>
    <% end %>
  </div>

  <%# Empty div allows for correct responsive behavior with Copilot PR Summaries UI %>
  <div class="flex-auto"></div>

  <% if issue.state == "closed" %>
    <div class="d-flex flex-sm-justify-end flex-column flex-sm-row">
      <div class="color-bg-subtle">
        <% if issue.respond_to?(:closed?) %>
          <%= render "issues/form_buttons", issue: issue %>
        <% end %>
      </div>
      <div class="color-bg-subtle mt-sm-0 ml-sm-1 mt-2">
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, w: :full, "data-disable-with": "", "data-disable-invalid": "") do %>
          Comment
        <% end %>
      </div>
    </div>

  <% else %>
    <div class="d-flex flex-justify-end">
      <div class="color-bg-subtle">
        <% if issue.respond_to?(:closed?) %>
          <%= render "issues/form_buttons", issue: issue %>
        <% end %>
      </div>
      <div class="color-bg-subtle ml-1">
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, "data-disable-with": "", "data-disable-invalid": "") do %>
          Comment
        <% end %>
      </div>
    </div>
  <% end %>
</div>
