<%
  partial_tags = local_assigns.fetch(:tags, [])
  pjax_target = local_assigns.fetch(:pjax_target, nil)
  turbo_frame = local_assigns.fetch(:turbo_frame, nil)
%>

<% track_render_partial("layouts/repository_container", partial_tags) do %>
  <%= render layout: "layouts/repository_container", locals: {
    repository: current_repository,
    tags: partial_tags
  } do %>
    <div class="<%= class_names(
      "clearfix new-discussion-timeline js-check-all-container",
      "container-xl" => !container_full?,
      "d-flex flex-column flex-auto" => full_height?,
      "px-3 px-md-4 px-lg-5" => !full_height? && !skip_responsive_padding?,
      "p-0" => !(!full_height? && !skip_responsive_padding?),
      "mt-4" => !full_height?
    ) %>" data-pjax="<%= pjax_target %>" data-turbo-frame="<%= turbo_frame %>">
      <%= yield %>
    </div>
  <% end %>
<% end %>
