<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<h2 class="sr-only">Comments</h2>
<div class="js-quote-selection-container"
     data-quote-markdown=".js-comment-body"
     data-discussion-hovercards-enabled
     data-issue-and-pr-hovercards-enabled
     data-team-hovercards-enabled>

  <div
    class="js-discussion <% if logged_in? %>js-socket-channel<% end %> ml-0 pl-0 ml-md-6 pl-md-3"
    <% if logged_in? %>
    data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.marked_as_read(current_user)) %>"
    data-channel-target="<%= issue.global_relay_id %>"
    <% end %>
    data-hpc
    >
    <% track_render_partial("issues/body", tags) do %>
      <%= render "issues/body", issue: issue_node %>
    <% end %>

    <%- timeline_items_range = count_to_range(issue_node.timeline.total_count) -%>
    <% track_render_partial("issues/timeline", tags + ["range:#{timeline_items_range}"]) do %>
      <%= render "issues/timeline", issue: issue_node %>
    <% end %>

    <% if issue.closed? %>
      <%#
                  we don't want to do this for pull requests that have a closed event,
                  or a discussion that has a conversion event.
      %>
      <%# anything older than 2011-03-16 doesn't have events though. %>
      <% if !issue.closed_by && !issue.discussion.present? %>
        <%= render(Primer::Beta::TimelineItem.new) do |component| %>
          <% component.with_badge(bg: :done_emphasis, color: :on_emphasis, icon: :"issue-closed") %>
          <% component.with_body do %>
            This issue was <strong>closed</strong>.
          <% end %>
        <% end %>
        <div class="TimelineItem-break"></div>
      <% end %>
    <% end %>
  </div>

  <% if issue_node.is_transfer_in_progress? %>
    <div class="timeline-comment-wrapper">
      <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
        This issue is being transferred. Timeline may not be complete until it finishes.
      <% end %>
    </div>
  <% end %>

  <% if defined?(current_issue) && current_discussion_for_issue %>
    <div class="timeline-comment-wrapper">
      <% track_render_partial("issues/discussion_conversion_banner") do %>
        <%= render "issues/discussion_conversion_banner",
                   discussion: current_discussion_for_issue,
                   wrapper_class: "rounded-3 color-bg-accent border color-border-accent p-3 mt-3",
                   heading_class: "h5"
        %>
      <% end %>
    </div>
  <% end %>

  <span id="issue-comment-box"></span>
  <div class="discussion-timeline-actions">
    <% if show_issue_comment_box? %>
      <% track_render_partial("conversations/new_comment_input", tags) do %>
        <%= render "conversations/new_comment_input",
                   item: issue,
                   tags: tags %>
      <% end %>
    <% end %>
  </div>
</div>
