<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% view.instrument_maintainer_label_education_banner %>

<div class="mb-4 js-notice">
  <div class="content p-4 text-center rounded-2 border color-border-muted">
    <div class="position-relative">
      <%= form_tag dismiss_notice_path("maintainer_label_education_banner"), :class => "js-notice-dismiss" do %>
        <%= button_tag(
          "Dismiss",
          type: "submit",
          class: "position-absolute top-0 right-0 btn-link color-fg-accent",
          data: view.maintainer_label_education_banner_data_attributes_click_dismiss
        )%>
      <% end %>

      <div class="col-9 mx-auto">
        <h2 class="mb-1 h4">
          Label issues and pull requests for new contributors
        </h2>
        <p style="margin-bottom: 0px;" class="mb-1">
          Now, GitHub will help potential first-time contributors
          <a class="Link--inTextBlock"
            href="<%= contribute_page_path(repository: current_repository.name, user_id: current_repository.owner.display_login) %>"
            data-ga-click="Explore, go to Contribute, location:Maintainer label education banner"
          >
            discover issues
          </a> labeled with
          <% label = view.repo_good_first_issue_label || Label.default_for(Labelable::GOOD_FIRST_ISSUE_NAME) %>
          <%= render Issues::LabelComponent.new(
              color: label.color,
              name: label.name,
              description: label.description,
              data: view.maintainer_label_education_banner_data_attributes_click_label(label_name: label.name),
              href: issues_search_query(
                      replace: { label: nil },
                      append: [[:label, label.name]])) do %>
            <%= label.name_html %>
          <% end %>
        </p>
        <% if view.show_maintainer_label_education_banner_cta? %>
          <%= link_to("Go to Labels", gh_labels_path(view.repo),
            data: view.maintainer_label_education_banner_data_attributes_click_go_to_labels,
            class: "btn mt-3"
          )%>
        <% end %>
      </div>
    </div>
  </div>
</div>
