<%# erblint:counter DeprecatedInPrimerCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<% if with_database_error_fallback(fallback: false) { logged_in? && current_repository_writable? && issue.repository.can_pin_issues?(current_user) && !issue.pull_request } %>
  <div class="discussion-sidebar-item border-top-0 mt-0">
    <% if issue.pinned? %>
      <%= form_tag unpin_issue_path(current_repository.owner, current_repository, issue), method: :delete, class: "d-inline" do %>
        <button type="submit" class="btn-link text-bold Link--primary no-underline">
          <%= primer_octicon(:pin, mr: 1) %>
          <strong>Unpin issue</strong>
        </button>
        <span class="tooltipped tooltipped-s tooltipped-multiline" aria-label="Up to 3 issues can be pinned and they will appear at the top of the issues page"> <%= primer_octicon(:info) %> </span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
      <% end %>
    <% else %>
      <%= form_tag pin_issue_path(current_repository.owner, current_repository, issue), class: "d-inline", method: :post do %>
        <% limited = current_repository.pinned_issues&.count >= Repository::PINNED_ISSUES_LIMIT %>
        <button type="submit" class="btn-link text-bold Link--primary no-underline <%= "tooltipped tooltipped-s" if limited %>" <%= "disabled" if limited %> aria-label="Maximum 3 pinned issues"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          <%= primer_octicon(:pin, mr: 1) %>
          <strong>Pin issue</strong>
        </button>
        <span class="tooltipped tooltipped-s tooltipped-multiline" aria-label="Up to 3 issues can be pinned and they will appear publicly at the top of the issues page"> <%= primer_octicon(:info) %> </span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
      <% end %>
    <% end %>
  </div>
<% end %>
