<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%
  allow_reordering_pinned_issues = can_pin && pinned_issues.size > 1
%>

<div class="<% if container_xl? %>container-xl<% else %>container-lg<% end %>">
  <div class="d-block d-sm-flex px-3 pr-md-0 gutter js-pinned-issues-reorder-list">
    <% pinned_issues.map(&:issue).each do |issue| %>
      <div class="pinned-issue-item d-flex flex-column col-12 col-sm-4 p-2 mr-3 border rounded-2 js-pinned-issue-list-item <%= "reorderable" if allow_reordering_pinned_issues %> mb-3">
        <span class="d-block position-relative">
          <% if can_pin %>
            <%= form_tag unpin_issue_path(current_repository.owner, current_repository, issue), method: :delete do %>
              <button class="btn-octicon float-right mr-n2 tooltipped tooltipped-n" type="submit" aria-label="Unpin issue"><%= primer_octicon(:x) %></button><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
            <% end %>
          <% end %>

          <% if allow_reordering_pinned_issues %>
            <%= hidden_field_tag "issue_ids[]", issue.id, id: "pinned-issue-reorder-#{issue.id}" %>
            <span class="pinned-issue-handle js-pinned-issue-reorder float-left pr-2 pt-1 color-fg-muted" title="Drag to reorder"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
              <%= primer_octicon(:grabber) %>
            </span>
          <% end %>
          <a href="<%= issue_permalink_path(issue) %>" class="Link--primary no-underline h4 markdown-title">
            <span title="<%= issue.title %>"><%= title_markdown(truncate(issue.title, length: 64)) %></span><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
          </a>
          <% if allow_reordering_pinned_issues %>
            <%= render Primer::ButtonComponent.new("aria-label": "Move #{issue.title} up", variant: :small, right: 0, classes: "show-on-focus sortable-button js-sortable-button", "data-direction": "up") do %><%= primer_octicon(:"chevron-up") %><% end %>
            <%= render Primer::ButtonComponent.new("aria-label": "Move #{issue.title} down", variant: :small, right: 0, classes: "show-on-focus sortable-button js-sortable-button", "data-direction": "down") do %><%= primer_octicon(:"chevron-down") %><% end %>
          <% end %>
        </span>

        <div class="mt-1 text-small color-fg-muted pinned-item-desc">
          <span class="opened-by">
            #<%= issue.number %>
            <% if issue.open? %>
              opened <%= time_ago_in_words_js(issue.created_at) %> by
              <%= profile_link issue.safe_user, class: "Link--muted", title: "Open issues created by #{issue.safe_user.display_login}", url: issues_path(issue.repository.owner, issue.repository, q: "is:issue is:open author:#{issue.safe_user.display_login}") %>
              <%= bot_identifier(issue.safe_user) %>
            <% else %>
              by <%= profile_link issue.safe_user, class: "Link--muted", title: "issues opened by #{issue.safe_user.display_login}", url: issues_path(issue.repository.owner, issue.repository, q: "is:issue author:#{issue.safe_user.display_login}") %>
              <%= bot_identifier(issue.safe_user) %>
              <% if closed_at = issue.closed_at %>
                was <%= issue.open? ? "open" : "closed" %> <%= time_ago_in_words_js(closed_at) %>
              <% end %>
            <% end %>
          </span>
        </div>

        <span class="mt-1">
          <% if issue.open? %>
            <%= primer_octicon(:"issue-opened", classes: "open") %>
          <% elsif issue.state_reason_not_planned? %>
            <% not_planned_icon_info = Issue::StateReasonDependency::OCTICONS[:not_planned] %>
            <%= primer_octicon(not_planned_icon_info[:icon], color: :muted) %>
          <% else %>
            <%= primer_octicon(:"issue-closed", classes: "closed") %>
          <% end %>
          <span class="color-fg-muted text-small mr-3"><%= issue.open? ? "Open" : "Closed" %></span>

          <% unless issue.issue_comments_count.zero? %>
          <a href="<%= issue_permalink_path(issue) %>" class="Link--muted" aria-label="<%= pluralize issue.issue_comments_count, "comment" %>">
            <%= primer_octicon(:comment, vertical_align: :middle) %>
            <span class="text-small"><%= issue.issue_comments_count %></span>
          </a>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
