<%# erblint:counter GoogleAnalyticsDeprecation 6 %>

<% current_route = request.fullpath %>

<% display_filter = logged_in? %>
<div class="d-flex flex-justify-between mb-md-3 flex-column-reverse flex-md-row flex-items-end">
  <div class="d-flex flex-justify-start flex-auto my-4 my-md-0 width-full width-md-auto" role="search">
    <% if display_filter %>
      <details class="details-reset details-overlay subnav-search-context flex-shrink-0" id="filters-select-menu">
        <%= render Primer::Beta::Button.new(tag: :summary, classes: "rounded-right-0 color-border-emphasis") do |c| %>
          Filters
          <% c.with_trailing_action_icon(icon: "triangle-down") %>
        <% end %>
        <details-menu class="SelectMenu" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="SelectMenu-modal">
            <div class="SelectMenu-header">
              <h3 class="SelectMenu-title">Filter Issues</h3>
              <button class="SelectMenu-closeButton" type="button" data-toggle-for="filters-select-menu">
                <%= render Primer::Beta::Octicon.new(icon: "x", aria: { label: "Close menu", hidden: false }) %>
              </button>
            </div>
            <div class="SelectMenu-list" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
              <% if current_repository.has_issues? %>
                <a
                  class="SelectMenu-item"
                  role="menuitemradio"
                  <% open_issues_and_prs_href = issues_path(:q => "is:open") %>
                  aria-checked="<%= open_issues_and_prs_href == current_route %>"
                  href="<%= open_issues_and_prs_href %>"
                  data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Search filter, Open issues and pull requests"
                >
                  <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                  Open issues and pull requests
                </a>
                <a
                  class="SelectMenu-item"
                  role="menuitemradio"
                  <% your_issues = issues_path(:q => "is:open is:issue author:#{Search::Query::MACRO_ME}") %>
                  aria-checked="<%= your_issues == current_route || current_route == issues_created_by_path(creator: Search::Query::MACRO_ME) %>"
                  href="<%= your_issues %>"
                  data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Search filter, Your issues"
                >
                  <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                  Your issues
                </a>
              <% end %>
              <a
                class="SelectMenu-item"
                role="menuitemradio"
                <% your_prs = issues_path(:q => "is:open is:pr author:#{Search::Query::MACRO_ME}") %>
                aria-checked="<%= your_prs == current_route || current_route == user_pull_requests_path(login: Search::Query::MACRO_ME) %>"
                href="<%= your_prs %>"
                data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Search filter, Your pull requests"
              >
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                Your pull requests
              </a>
              <a
                class="SelectMenu-item"
                role="menuitemradio"
                <% assigned_to_you = issues_path(:q => "is:open assignee:#{Search::Query::MACRO_ME}") %>
                aria-checked="<%= assigned_to_you == current_route %>"
                href="<%= assigned_to_you %>"
                data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Search filter, Everything assigned to you"
              >
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                Everything assigned to you
              </a>
              <a
                class="SelectMenu-item"
                role="menuitemradio"
                <% mentioning_you = issues_path(:q => "is:open mentions:#{Search::Query::MACRO_ME}") %>
                aria-checked="<%= mentioning_you == current_route %>"
                href="<%= mentioning_you %>"
                data-ga-click="<%= pulls_only ? "Pull Requests" : "Issues" %>, Search filter, Everything mentioning you"
              >
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                Everything mentioning you
              </a>
              <a class="SelectMenu-item" role="menuitemradio" href="<%= GitHub.help_url %>/articles/searching-issues" target="_blank" rel="noopener noreferrer">
                <%= render Primer::Beta::Octicon.new(icon: "link-external", mr: 2) %>
                <strong>View advanced search syntax</strong>
              </a>
            </div>
          </div>
        </details-menu>
      </details>
    <% end %>

    <%= form_tag pulls_only ? pull_requests_path : issues_path, :method => :get, :class => "subnav-search width-full d-flex #{display_filter ? "" : "ml-0"}", :"data-pjax" => "#repo-content-pjax-container", "data-turbo-frame" => "repo-content-turbo-frame", role: "search", "aria-label": "Issues" do %>
      <%= text_field_tag :q, search_input_value_for(query), :id => "js-issues-search", :class => "form-control subnav-search-input input-contrast width-full", :placeholder => "Search all issues", "aria-label" => "Search all issues", "data-hotkey" => local_search_hotkey %>
      <%= primer_octicon(:search, classes: 'subnav-search-icon') %>
    <% end %>
    <div class="ml-2 pl-2 d-none d-md-flex">
      <%= render :partial => "issues/navigation", locals: { pulls_only: pulls_only, labels_count: labels_count, milestones_count: milestones_count} unless current_repository.advisory_workspace? %>
    </div>
  </div>
  <div class="ml-3 d-flex flex-justify-between width-full width-md-auto" data-pjax>
    <span class="d-md-none">
      <%= render :partial => "issues/navigation", locals: { pulls_only: pulls_only, labels_count: labels_count, milestones_count: milestones_count} unless current_repository.advisory_workspace? %>
    </span>
    <% if current_repository_writable? %>
      <% if pulls_only %>
        <% if emu_contribution_blocked? current_repository %>
          <%= render Primer::Beta::Button.new(scheme: :primary, disabled: true, "aria-disabled": "true", "aria-label": emu_contribute_block_hint) do %>
            New pull request
          <% end %>
        <% else %>
          <%= render Primer::Beta::Button.new(scheme: :primary, tag: :a, href: compare_path(current_repository, nil), data: { hotkey: "c", "ga-click": "Repository, go to compare view, location:pull request list; text:New pull request" }, tabindex: 0) do %>
            <span class="d-none d-md-block">New pull request</span>
            <span class="d-block d-md-none">New</span>
          <% end %>
        <% end %>
      <% else %>
        <% if current_repository.has_issues? %>
          <% if logged_in? || GitHub.enterprise? %>
            <% if emu_contribution_blocked? current_repository %>
              <%= render Primer::Beta::Button.new(scheme: :primary, disabled: true, "aria-disabled": "true", "aria-label": emu_contribute_block_hint) do %>
                New issue
              <% end %>
            <% else %>
              <%= render Primer::Beta::Button.new(scheme: :primary, tag: :a, href: choose_issue_path(current_repository.owner, current_repository), data: { hotkey: "c" }) do %>
                <span class="d-none d-md-block">New issue</span>
                <span class="d-block d-md-none">New</span>
              <% end %>
            <% end %>
          <% else %>
            <%= render layout: "shared/spacious_details_dialog", locals: {
              button_class: "btn btn-primary",
              button_text: "New issue",
              details_class: "float-right",
              ga_click: "Issues, create new issue, view:issue_show location:issue_header style:button logged_in:false",
              hide_title: true,
              title: "Sign up for GitHub"
            } do %>
              <%= render partial: "logged_out_modals/new_issue_w_new_signup_modal" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% if pulls_only && showing_filtered_pulls? %>
  <div class="issues-reset-query-wrapper" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
    <%= link_to pull_requests_path(:q => "is:pr is:open"), :class => "issues-reset-query" do %>
      <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
      Clear current search query, filters, and sorts
    <% end %>
  </div>
<% elsif !pulls_only && showing_filtered_issues? %>
  <div class="issues-reset-query-wrapper" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame">
    <%= link_to issues_path(:q => "is:issue is:open"), :class => "issues-reset-query" do %>
      <%= primer_octicon(:x, classes: "issues-reset-query-icon") %>
      Clear current search query, filters, and sorts
    <% end %>
  </div>
<% end %>
