<div>
  <%= render Issues::PagedTimelineComponent.new(timeline_owner: issue, render_focused_item_loader: true) %>

  <!-- Rendered timeline since <%= issue.timeline.updated_at.to_formatted_s(:db) %> -->
  <div class="js-timeline-marker js-socket-channel js-updatable-content"
        id="partial-timeline"
        data-channel="<%= live_update_view_channel(issue.websocket) %>"
        data-url="<%= issues_unread_timeline_partial_path(id: issue.number, issue: issue.number, since: issue.timeline.updated_at.iso8601(9)) %>"
        data-last-modified="<%= issue.timeline.updated_at.iso8601(9) %>"
        data-morpheus-enabled="false"
        data-gid="<%= issue.id %>">
    <%= form_tag graphql_path("MarkNotificationSubjectAsRead"), remote: true, class: "d-none js-timeline-marker-form" do %>
      <input type="hidden" name="variables[subjectId]" value="<%= issue.id %>">
    <% end %>
  </div>
</div>
