<% if tracking_issues.any? %>
  <% if user_feature_enabled?(:tasklist_tracked_by_redesign) %>
    <%= render(Issues::TrackedByPillComponent.new(issue: issue, tracking_issues: tracking_issues)) %>
  <% else %>
  <%
    head, *tail = tracking_issues.flat_map do |parent|
      Issues::IssueHrefComponent.new(
          owner: parent[:owner],
          repository: parent[:repository],
          issue_number: parent[:issue_number],
          issue_url: parent[:issue_url],
          issue_state: parent[:issue_state],
          issue_state_reason: parent[:issue_state_reason],
          render_context: {
            current_owner: parent[:owner],
            current_repository: parent[:repository],
            hovercard_attributes: safe_data_attributes({
              "hovercard-type" => "issue",
              "hovercard-url" => issue_path(parent[:owner], parent[:repository], parent[:issue_number]) + "/hovercard"
            })
          }
        )
    end.compact
    head = Array.wrap(head)
  %>
    <div <%= test_selector("tracked_in_pill") %> class="tracked-in-parent-pill d-flex mr-2 border" style="border-radius: 2em; padding: 4px 12px; height: 32px">
      <%
        hovercard_attributes = if tracking_issues.size > 1
          hovercard_data_attributes_for_tracked_in(issue)
        else
          only_parent = tracking_issues.first
          {
            "hovercard-type" => "issue",
            "hovercard-url" => issue_path(only_parent[:owner], only_parent[:repository], only_parent[:issue_number]) + "/hovercard"
          }
        end
      %>
      <span class="mr-2" <%= safe_data_attributes(hovercard_attributes) %>>Tracked by</span>
      <%= render Issues::IssueHrefGroupComponent.new(issue_href_components: head) %>
      <% if tail && tail.size > 0 %>
        <div class="tracked-in-parent-pill-truncated flex-self-center border ml-n4 pl-0" style="border-radius: 2em; padding: 4px 12px; height: 32px">
          ,
          <%= render Issues::IssueHrefGroupComponent.new(issue_href_components: tail) %>
        </div>
        <span>...</span>
      <% end %>
    </div>
  <% end %>
<% end %>
