<%# erblint:counter DeprecatedInPrimerCounter 2 %>

<% page_info(
    container_xl: true,
    stafftools: stafftools_audit_log_path(query: kql_query)) %>

<%= render layout: "issues/issues" do %>
  <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
    <% c.with_visual_icon(icon: "trash") %>

    <% c.with_heading(tag: :h2) do %>
      This issue has been deleted.
    <% end %>
  <% end %>
  <% if current_user&.site_admin? || current_repository.adminable_by?(current_user) %>
    <div class="ml-6 pl-3">
      <div class="TimelineItem">
        <span class="TimelineItem-badge">
          <%= primer_octicon(:trash) %>
        </span>
        <div class="TimelineItem-body">
          <%= avatar_for deleted_issue.deleted_by, 20, class: "avatar" %>
          <% if deleted_issue.deleted_by.nil? %>
            <span class="text-bold color-fg-default"><%= GitHub.ghost_user_login %></span>
          <% else %>
            <%= profile_link(deleted_issue.deleted_by, class: "Link--primary text-bold") %>
          <% end %>
          deleted this from
          <%= link_to current_repository, repository_path(current_repository), class: "text-bold Link--primary" %>
          <%= time_ago_in_words_js deleted_issue.created_at %>
          <% if current_repository.owner.is_a?(Organization) %>
            <span class="discussion-item-private tooltipped tooltipped-s"
                  aria-label="Only <%= current_repository.name_with_display_owner %> admins will see this information"><%= primer_octicon(:lock) %></span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
          <% else %>
            <span class="discussion-item-private tooltipped tooltipped-s"
                  aria-label="Only you will see this information"><%= primer_octicon(:lock) %></span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
          <% end %>

          <% if logged_in? && current_user.site_admin? %>
            <p class="float-right">
              <a href="<%= stafftools_audit_log_url(query: kql_query) %>">View in audit log</a>
            </p>
          <% end %>
        </div>
      </div>
      <div class="TimelineItem-break"></div>
    </div>
  <% end %>
<% end %>
