<%= render(Primer::Alpha::Dialog.new(title: "#{queue_name.titleize} - #{@action.titleize} queue", id: "dead-letter-queue-dialog-#{@action}-#{queue_name}" )) do |d| %>
  <% d.with_show_button(my: 1, id: "show-button-for-#{@action}-dialog-for-#{queue_name}", aria: { label: "Show #{@action} dialog for #{queue_name}" }) { @action } %>
  <% d.with_header(show_divider: true) { "#{queue_name.titleize} - #{@action.titleize} queue" } %>
  <% d.with_body do %>
    <div class="Box-row" id="<%= "#{@action}-dialog-for-#{queue_name}" %>">
      <%= form_tag form_url, method: "put" do %>
        <div div class="form-group required">
          <div class="form-group required">
            <div class="form-group-header">
              <%= label_tag "num", "Number of messages to #{@action}" %>
            </div>
            <div class="form-group-body">
              <%= text_field_tag :num, '', required: true, class: "color-bg-subtle p-2 border rounded-2" %>
            </div>
          </div>
        </div>

        <%= submit_tag "#{@action.titleize} Dead Letter Queue", class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
<% end %>
