<%= render(Primer::Beta::BorderBox.new(mb: 5)) do |component| %>
  <% component.with_header(font_weight: :bold) do %>
    Invoice Reception Preference
  <% end %>
  <% component.with_body do %>
    <p>This customer is currently <strong><%= invoice_reception_status %></strong> invoices by email</p>
    <% if force_send_invoice_by_email? %>
      <p>This option cannot be modified due to regulations requiring them to receive invoices (e.g. paying customers from Japan)</p>
    <% end %>
    <%= form_tag form_path, class: "js-setting-toggle d-flex flex-items-center", method: :put do %>
      <%= hidden_field_tag :send_invoice_with_receipt, !account_has_invoice_reception_enabled? %>
    <%= render Primer::Beta::Button.new(
        scheme: :danger,
        "data-disable-with": "Saving invoice preference...",
        type: :submit,
        disabled: force_send_invoice_by_email?,
      ).with_content(button_text) %>
    <% end %>
  <% end %>
<% end %>
