<div id="pending-changes" class="boxed-group" <%= test_selector "pending_changes_component" %>><%# erblint:disable DeprecatedCustomCss %>
  <h3 <%= test_selector "pending_changes_title" %>>
    Pending Changes
  </h3>
  <div class="boxed-group-inner p-0"><%# erblint:disable DeprecatedCustomCss %>
    <% account.incomplete_pending_plan_changes.each do |change|  %>
      <pending-cycle-changes-component id="pending-plan-change-<%= change.id %>" class="Box-row pl-0 pending-plan-change" <%= test_selector "pending-plan-change-#{change.id}" %>>
        <div class="billing-box-accordion details-reset width-full">
          <div class="d-flex flex-row flex-items-center">
            <div class="col-1 text-center">
              <%= render Primer::Beta::IconButton.new(
                icon: :"chevron-right",
                scheme: :invisible,
                color: :muted,
                tooltip_direction: :n,
                "aria-label": "View Pending Plan Changes",
                classes: "view-pending-plan-changes-button",
                data: {
                  action: "click:pending-cycle-changes-component#togglePendingPlanChanges",
                  target: "pending-cycle-changes-component.togglePendingPlanChangesButton"
                }
              ) %>
            </div>
            <div class="col-md-8 col-10 d-flex flex-column pr-3">
              <div class="d-inline-flex flex-justify-between flex-items-baseline">
                <h4 class="h5 color-fg-muted text-bold">Changes <%= changes(change).to_sentence %></h4>
              </div>
            </div>
            <div class="col-4 text-right">
              <%= form_tag run_pending_changes_path, class: "inline-form", method: :post do %>
                <%= hidden_field_tag :pending_change_id, change.id %>
                <%= render Primer::Beta::Button.new(type: :submit, color: :danger, data: { confirm: "Changes will be effective immediately, any negative invoice balances or credit balances created will need to be handled by support" }) do %>
                  Run changes
                <% end %>
              <% end %>
              <%= form_tag form_path, class: "inline-form", method: :put do %>
                <%= hidden_field_tag :cancel_plan_duration, true %>
                <%= hidden_field_tag :cancel_plan, true %>
                <%= hidden_field_tag :cancel_seats, true %>
                <%= hidden_field_tag :cancel_subscription_item_changes, true %>
                <%= render Primer::Beta::Button.new(type: :submit, data: { confirm: "Are you sure you want to cancel this pending change?" }) do %>
                  Cancel
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <%# Dropdown Content %>
        <div hidden data-target="pending-cycle-changes-component.pendingPlanChangesContainer" class="d-flex pt-4">
          <div class="d-flex flex-row flex-items-center pt-1 width-full">
            <div class="flex-shrink-0 col-1"></div>
            <div class="flex-auto mb-n2 text-small">
              <table class="width-full text-left">
                <thead>
                  <tr class="color-fg-muted lh-condensed">
                    <th scope="col" class="col-7">Action</th>
                    <th scope="col" class="col-3">Effective Date</th>
                    <th scope="col" class="col-2">Amount</th>
                  </tr>
                </thead>

                <tbody class="lh-condensed">
                  <% if change.changing_duration? %>
                    <div>
                      <tr class="color-fg-muted">
                        <td class="py-2">
                          <%= render(Primer::Beta::Octicon.new(icon: "clock")) %>
                          Change to <%= change.plan_duration.downcase %>ly duration
                        </td>
                        <td class="py-2"><%= change.active_on.to_formatted_s :date %></td>
                        <td class="py-2">
                          N/A
                        </td>
                      </tr>
                    </div>
                  <% end %>
                  <% if change.changing_plan?%>
                    <div>
                      <tr class="color-fg-muted">
                        <td class="py-2">
                          <%= render(Primer::Beta::Octicon.new(icon: "clock")) %>
                          Downgrade to <%= change.plan.display_name.humanize %> plan
                        </td>
                        <td class="py-2"><%= change.active_on.to_formatted_s :date %></td>
                        <td class="py-2">
                          <%= pending_cycle.discounted_plan_price.format(no_cents_if_whole: true) %> / <%= pending_cycle.plan_duration.downcase %>
                        </td>
                      </tr>
                    </div>
                  <% end %>
                  <% if change.changing_seats? %>
                    <div>
                      <tr class="color-fg-muted">
                        <td class="py-2">
                          <%= render(Primer::Beta::Octicon.new(icon: "clock")) %>
                          Downgrade <%= pending_cycle.plan.display_name.humanize %> plan to <%= pluralize change.seats, "seat" %>
                        </td>
                        <td class="py-2"><%= change.active_on.to_formatted_s :date %></td>
                        <td class="py-2">
                          <%= pending_cycle.discounted_plan_price.format(no_cents_if_whole: true) %> / <%= pending_cycle.plan_duration.downcase %>
                        </td>
                      </tr>
                    </div>
                  <% end %>
                  <% if change.changing_data_packs? %>
                    <div>
                      <tr class="color-fg-muted">
                        <td class="py-2">
                          <%= render(Primer::Beta::Octicon.new(icon: "clock")) %>
                          Downgrade to <%= pluralize change.data_packs, "LFS pack" %>
                        </td>
                        <td class="py-2"><%= change.active_on.to_formatted_s :date %></td>
                        <td class="py-2">
                          <%= pending_cycle.discounted_data_packs_price.format(no_cents_if_whole: true) %> / <%= pending_cycle.plan_duration.downcase %>
                        </td>
                      </tr>
                    </div>
                  <% end %>
                  <% if change.has_item_changes? %>
                    <% change.pending_subscription_item_changes.each do |subscription_item_change| %>
                      <div>
                        <tr class="color-fg-muted">
                          <td <%= test_selector "pending-subscription-item-change-#{subscription_item_change.id}" %> class="py-2 pr-2">
                            <%= render(Primer::Beta::Octicon.new(icon: "clock")) %>
                            <span><%= subscription_item_change.abbr_prefix %> (<%= subscription_item_change.abbr_title %>)</span>:
                            <% if subscription_item_change.free_trial? %>
                              <% if subscription_item_change.has_active_subscription? %>
                                Ending free trial for <%= subscription_item_change.subscribable_name %> <%= subscription_item_change.active_subscription_item.subscribable.billing_cycle %>ly
                                and switching to paid <%= subscription_item_change.subscribable.billing_cycle %>ly
                              <% else %>
                                Ending free trial for <%= subscription_item_change.subscribable_name %>
                              <% end %>
                            <% elsif subscription_item_change.cancellation? %>
                              Cancelling <%= subscription_item_change.subscribable_name %>
                            <% else %>
                              <% if subscription_item_change.has_active_subscription? %>
                                Downgrading <%= subscription_item_change.subscribable_name %> from <%= subscription_item_change.active_subscription_item.subscribable.billing_cycle %>ly
                                to <%= subscription_item_change.subscribable.billing_cycle %>ly
                              <% else %>
                                Downgrading <%= subscription_item_change.subscribable_name %>
                              <% end %>
                            <% end %>
                            <% if subscription_item_change.subscribable.per_unit? && !subscription_item_change.cancellation? %>
                              <% if subscription_item_change.subscribable.unit_name.present? %>
                                with <%= pluralize(subscription_item_change.quantity, subscription_item_change.subscribable.unit_name) %>
                              <% else %>
                                with <%= pluralize(subscription_item_change.quantity, "unit") %>
                              <% end %>
                            <% end %>
                          </td>
                          <td class="py-2"><%= subscription_item_change.active_on.to_formatted_s :date %></td>
                          <td class="py-2">
                            <%= subscription_item_change.price.format(no_cents_if_whole: true) %> / <%= subscription_item_change.plan_duration.downcase %>
                          </td>
                        </tr>
                      </div>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </pending-cycle-changes-component>
    <% end %>
  </div>
</div>
