<%= render(Primer::Beta::BorderBox.new(mb: 5)) do |component| %>
  <% component.with_header(font_weight: :bold) do %>
    Tax Exemption Information
  <% end %>
  <% component.with_body do %>
    <% if !account.business_entity? %>
      <%= render(Primer::Alpha::Banner.new(icon: :info, scheme: :default, dismiss_scheme: :none)) do %>
        This customer is not a business or the organization has not agreed to business Terms of Service.
      <% end %>
    <% elsif !account.trade_screening_record.country_is_united_states? %>
      <%= render(Primer::Alpha::Banner.new(icon: :info, scheme: :default, dismiss_scheme: :none)) do %>
        This customer is not located in the United States.
      <% end %>
    <% elsif tax_exemption_status.blank? %>
      <%= render(Primer::Alpha::Banner.new(icon: :info, scheme: :default, dismiss_scheme: :none)) do %>
        This customer does not have a tax exemption record on file.
      <% end %>
    <% else %>
      <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, align_items: :center, test_selector: "tax-exemption-status-form")) do %>
        <div>
          <%= primer_form_with(url: stafftools_billing_sales_tax_exemption_path(account), method: :put) do |form| %>
            <%= render(Billing::Stafftools::SalesTaxExemptionForm.new(form, account: account, tax_exemption_status: tax_exemption_status)) %>
          <% end %>
        </div>

        <div>
          <%= render(Billing::Settings::SalesTaxExemptionCertificateFileComponent.new(tax_exemption_status: tax_exemption_status, size: :small)) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
