<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if show_allowlist_private_repo_warning? %>
  <actions-policy-popover>
    <div class="d-flex flex-row flex-justify-end flex-items-center">
      <span>
        Applies to <strong>public</strong> repositories only
      </span>
      <%= render Primer::IconButton.new(
        icon: :info,
        ml: 0,
        "aria-label": "Info icon",
        "data-action": "click:actions-policy-popover#togglePopover")
      %>
    </div>
    <%= render Primer::Beta::Popover.new(position: :absolute, left: true, mr: -2, hidden: true, "data-target" => "actions-policy-popover.popoverEl") do |component| %>
      <% component.with_heading do %>
        Workflows using these <%= policy_text %> in private repositories will fail.
      <% end %>
      <% component.with_body(caret: :top_right, large: true) do %>
        Using a list of specific <%= policy_text %> is only supported for public repositories on your current GitHub plan.
        To have this list apply to private repositories, <a class="Link--inTextBlock" href="<%= billing_path %>">upgrade your plan</a>.
      <% end %>
    <% end %>
  </actions-policy-popover>
<% end %>
