<% execution ||= nil%>

<div <%= test_selector "check-run-#{check_run.id}" %>>
  <dl>
    <dt>Name</dt>
    <dd><%= check_run.name %></dd>
  </dl>
  <dl>
    <dt>Display Name</dt>
    <dd><%= check_run.display_name %></dd>
  </dl>
  <dl>
    <dt>Check run ID</dt>
    <dd><%= check_run.id %></dd>
  </dl>
  <% if check_run.workflow_job_run.present? %>
    <dl>
      <dt>Workflow job run ID</dt>
      <dd><%= check_run.workflow_job_run.id %></dd>
    </dl>
  <% end%>
  <dl>
    <dt>Status</dt>
    <dd><%= check_run.status %></dd>
  </dl>
  <dl>
    <dt>Conclusion</dt>
    <dd><%= check_run.conclusion %></dd>
  </dl>
  <dl>
    <dt>Started At</dt>
    <dd><%= check_run.started_at&.utc&.iso8601 %></dd>
  </dl>
  <dl>
    <dt>Completed At</dt>
    <dd><%= check_run.completed_at&.utc&.iso8601 %></dd>
  </dl>

  <%
    if execution.present? && check_run.workflow_job_run.present?
      original_execution_attempt = check_run.workflow_job_run.original_workflow_run_execution.attempt
      if original_execution_attempt != execution.attempt
  %>
    <dl>
      <dt>Originally ran in attempt</dt>
      <dd>#<%= original_execution_attempt %></dd>
    </dl>
    <% end %>
  <% end %>

  <%if check_run.workflow_job_run.present? %>
    <dl>
      <dt>URL</dt>
      <dd><%= link_to nil, actions_job_path(host: GitHub.url, repository: current_repository, workflow_run_id: check_run.workflow_job_run.workflow_run_id, job_id: check_run.id), target: :_blank, rel: "noopener noreferrer" %></dd>
    </dl>
  <% else%>
    <!-- Fallback URL if there is no workflow_job_run present -->
    <dl>
      <dt>URL</dt>
      <dd><%= link_to nil, check_run_url(host: GitHub.url, repository: current_repository, id: check_run.id), target: :_blank, rel: "noopener noreferrer" %></dd>
    </dl>
  <% end %>

  <% unless GitHub.enterprise? %>
    <div class="text-small my-1">
      <%= link_to "Splunk Logs for job postbacks", Stafftools::RepositoriesHelper.get_splunk_link_for_actions_job_postback_updates(check_run), target: :_blank, rel: "noopener noreferrer" %>
    </div>
  <% end %>

  <% if check_run.force_cancel_eligible_from_stafftools? %>
    <div class="text-small mb-2 mt-3 d-flex flex-column flex-md-row flex-items-center flex-md-items-center">
      <div class="col-10 d-inline-block">
        This run has been in-progress for more than 6 hours and it might be stuck. You can force cancel the check run to mark the status as completed and the conclusion as cancelled.

        <% if GitHub.billing_enabled? %>
          View the <%= link_to("run usage", actions_workflow_run_usage_stafftools_repository_path(workflow_run_id: check_run.workflow_job_run.workflow_run_id), class: "Link--inTextBlock") %> to check if any minutes were charged for this potentially stuck run.
        <% end %>
      </div>
      <div class="col-2 d-inline-block">
        <%= form_tag force_cancel_check_run_stafftools_repository_path(check_suite_id: check_run.check_suite_id, check_run_id: check_run.id), method: :post do %>
          <%= render Primer::Beta::Button.new(size: :small, type: :submit, scheme: :danger, float: :right) do %>Cancel Check Run<% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
