<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="boxed-group">
  <h3>Latest runs</h3>
  <div class="boxed-group-inner">
    <h4><label for="actions_workflow_query">Search by workflow run id / check suite id / check run id</label></h4>
    <%= form_tag gh_actions_latest_runs_stafftools_repository_path(current_repository), :method => :get do %>
      <div class="form-group">
        <%= text_field_tag :query, nil, :class => "short",
          :placeholder => "workflow run id / check suite id / check run id",
          :id => "actions_workflow_query" %>
        <%= render Primer::ButtonComponent.new(type: :submit) do %>Search<% end %>
      </div>
      <p><%= error_message %></p>
    <% end %>
    <% if workflow_runs.none? %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_heading(tag: :h2) do %>
          There are no runs executed so far for this repository.
        <% end %>
      <% end %>
    <% else %>
      <ul class="boxed-group-list">
        <% workflow_runs.each do |run| %>
          <li class="stafftools-auditlog">
            <%= render Primer::Beta::Octicon.new(icon: "workflow", height: 32) %>
            <div class='js-details-container Details audit-log-entry'>
              <strong class='audit-log-title'><%= run.title %></strong>
              <relative-time datetime="<%= run.created_at.utc.iso8601 %>"></relative-time>
              <p>Status: <%= run.status %></p>
              <% if run.conclusion %>
                <p>Conclusion: <%= run.conclusion %></p>
              <% end %>
              <p>Triggered by: <%= run.event %></p>
              <p>Branch: <%= run.head_branch %></p>
              <p>Commit: <%= run.head_sha %></p>
              <p>Workflow: <%= run.workflow&.path %></p>
              <% if run.workflow_run_executions.present? %>
                <p>Attempts: <%= run.workflow_run_executions.size %></p>
              <% end %>
              <a href="<%= actions_workflow_execution_stafftools_repository_path(check_suite_id: run.check_suite_id)%>">See more details</a>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
