<div class="boxed-group">
  <h3>Repository secrets</h3>
  <div class="boxed-group-inner">
    <% if secrets[:repository_secrets].none? %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_heading(tag: :h2) do %>
          There are no secrets for this repository.
        <% end %>
      <% end %>
    <% else %>
      <table class="width-full text-left">
        <thead>
          <tr class="color-fg-muted">
            <th class="col-4">Name</th>
            <th>Created at</th>
            <th>Updated at</th>
          </tr>
        </thead>
        <tbody>
          <% secrets[:repository_secrets].each do |secret| %>
            <tr>
              <td><%= secret[:name] %></td>
              <td><%= secret[:created_at] %></td>
              <td><%= secret[:updated_at] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
 </div>

<% if current_repository.owner.can_use_org_secrets? %>
  <div class="boxed-group">
    <h3>Organization secrets (authorized for this repository)</h3>
    <div class="boxed-group-inner">
      <% if secrets[:organization_secrets].none? %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h2) do %>
            There are no organization secrets authorized for this repository.
          <% end %>
        <% end %>
      <% else %>
        <table class="width-full text-left">
          <thead>
            <tr class="color-fg-muted">
              <th class="col-4">Name</th>
              <th>Created at</th>
              <th>Updated at</th>
            </tr>
          </thead>
          <tbody>
            <% secrets[:organization_secrets].each do |secret| %>
              <tr>
                <td><%= secret[:name] %></td>
                <td><%= secret[:created_at] %></td>
                <td><%= secret[:updated_at] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>

<% if current_repository.can_use_environments? %>
  <div class="boxed-group">
    <h3>Environment secrets
      <% if current_repository.limit_environment_fetching? %>
        (for a maximum of <%= Repository::REPO_ENV_LIMIT %> environments)
      <% end %>
    </h3>
    <div class="boxed-group-inner">
      <% if secrets[:environment_secrets].none? %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h2) do %>
            There are no environment secrets for this repository.
          <% end %>
        <% end %>
      <% else %>
        <table class="width-full text-left">
          <thead>
            <tr class="color-fg-muted">
              <th class="col-3">Name</th>
              <th class="col-3">Environment</th>
              <th class="col-3">Created at</th>
              <th class="col-3">Updated at</th>
            </tr>
          </thead>
          <tbody>
            <% secrets[:environment_secrets].each do |secret| %>
              <tr>
                <td class="wb-break-all"><%= secret[:name] %></td>
                <td class="wb-break-all"><%= secret[:environment_name] %></td>
                <td><%= secret[:created_at] %></td>
                <td><%= secret[:updated_at] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>
