<div class="Box Box--condensed mb-5 js-bulk-actions-container">
  <div class="Box-header d-flex flex-items-center flex-1 flex-justify-end">
    <div class="d-flex flex-items-center flex-auto">
      <h3 class="Box-title overflow-hidden flex-auto">Self-hosted runners</h3>
    </div>
  </div>
  <% if runners.none? %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        There are no self-hosted runners configured for this repository.
      <% end %>
    <% end %>
  <% else %>
    <%= render Actions::RunnerComponent.with_collection(
      runners,
      owner_settings: owner_settings,
      can_manage_runners: false,
      read_only: true,
    ) %>
  <% end %>
</div>

<% if larger_runners.any? %>
 <div class="Box Box--condensed mt-1 mb-5" id="runner-list">
      <div class="Box-header d-flex text-small color-fg-muted">
        <span class="flex-1">GitHub-hosted Runners</span>
        <span class="col-1">Status</span>
        <span class="col-1"></span>
      </div>
      <ul>
        <% larger_runners.each_with_index do |runner, index| %>
          <li class="Box-row d-flex flex-items-center">
            <span class="flex-1 d-flex <% if !runner.group_name.present? %>my-1<% end %>">
              <div>
                <div
                  class="h4 color-fg-default d-flex"
                  id="runner-<%= runner.id %>">
                    <div class="mr-2">
                      <%= runner.name %>
                    </div>
                    <% runner.labels.each do |label| %>
                      <%= render Primer::Beta::Label.new(mb: 1, mr: 1, scheme: :secondary, classes: "css-truncate css-truncate-target", style: "max-width:500px", title: "Label: #{ label.name }") do %>
                        <%= label.name %>
                      <% end %>
                    <% end %>
                </div>
                <% if runner.group_name.present? %>
                  <div class="color-fg-muted text-small">
                    Runner group:
                      <%= runner.group_name %>
                  </div>
                <% end %>
              </div>
            </span>
            <span class="col-2 d-flex no-wrap flex-items-center">
              <span class="ml-1 color-fg-default f5"><%= runner.status.capitalize %></span>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
<% end %>

<% if runner_groups.any? %>
  <%= render(Actions::RunnerGroupsComponent.new(
    viewer: current_repository,
    owner: current_repository.owner,
    owner_settings: owner_settings,
    runner_groups: runner_groups,
    has_business: current_repository.owner&.business.present?,
    can_create_groups: false,
    can_update_groups: false,
    can_manage_runners: false,
  )) %>
<% end %>

<% if current_repository.organization%>
  <div class="Box-row d-flex flex-items-center flex-auto">
    <div class="d-flex flex-column col-10">
      <div class="d-flex flex-items-center">
        <a href="<%= stafftools_org_actions_path(current_repository.organization) %>">View organization level runners</a>
      </div>
      <% if current_repository.organization.business %>
        <div class="d-flex flex-items-center">
          <a href="<%= stafftools_actions_path(current_repository.organization.business.slug) %>">View enterprise level runners</a>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
