<h2 class="Subhead-heading"> Repository variables </h2>
<%= render(Primer::Beta::BorderBox.new(padding: :condensed, style: "margin-bottom: 50px")) do |component| %>
  <% if variables[:repository_variables].none? %>
    <% component.with_row do %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_heading(tag: :h3) do %>
          There are no variables for this repository.
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% component.with_header(display: :flex, color: :muted, font_size: :small) do %>
      <div class="col-4">
        Name
      </div>
      <div class="col-4">
        Value
      </div>
      <div class="col-4">
        Created at
      </div>
      <div class="col-4">
        Updated at
      </div>
    <% end %>
    <% variables[:repository_variables].each do |variable| %>
      <% component.with_row(display: :flex, align_items: :baseline) do %>
        <div class="col-4" style="max-width:25%; padding-right: 14px">
          <%= variable[:name] %>
        </div>
        <div class="col-4" style="max-width:25%; padding-right: 14px">
          <%= Base64.strict_decode64(variable[:value]) %>
        </div>
        <div class="col-4" style="max-width:25%; padding-right: 14px">
          <%= variable[:created_at] %>
        </div>
        <div class="col-4" style="max-width:25%; padding-right: 14px">
          <%= variable[:updated_at] %>
        </div>
      <%end%>
    <% end %>
  <% end %>
<% end %>

<% if can_use_org_variables %>
<h2 class="Subhead-heading"> Organization variables (authorized for this repository) </h2>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, style: "margin-bottom: 50px")) do |component| %>
    <% if variables[:organization_variables].none? %>
      <% component.with_row do %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h3) do %>
            There are no organization variables authorized for this repository.
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <% component.with_header(display: :flex, color: :muted, font_size: :small) do %>
        <div class="col-4">
          Name
        </div>
        <div class="col-4">
          Value
        </div>
        <div class="col-4">
          Created at
        </div>
        <div class="col-4">
          Updated at
        </div>
      <% end %>
      <% variables[:organization_variables].each do |variable| %>
        <% component.with_row(display: :flex, align_items: :baseline) do %>
          <div class="col-4" style="max-width:25%; padding-right: 14px">
            <%= variable[:name] %>
          </div>
          <div class="col-4" style="max-width:25%; padding-right: 14px">
            <%= Base64.strict_decode64(variable[:value]) %>
          </div>
          <div class="col-4" style="max-width:25%; padding-right: 14px">
            <%= variable[:created_at] %>
          </div>
          <div class="col-4" style="max-width:25%; padding-right: 14px">
            <%= variable[:updated_at] %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if current_repository.can_use_environments? %>
<h2 class="Subhead-heading">
Environment variables
<% if current_repository.limit_environment_fetching? %>
  (for a maximum of <%= Repository::REPO_ENV_LIMIT %> environments)
<% end %>
</h2>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
    <% if variables[:environment_variables].none? %>
      <% component.with_row do %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h3) do %>
            There are no environment variables for this repository.
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <% component.with_header(display: :flex, color: :muted, font_size: :small) do %>
        <div class="col-5">
          Name
        </div>
        <div class="col-5">
          Environment
        </div>
        <div class="col-5">
          Value
        </div>
        <div class="col-5">
          Created at
        </div>
        <div class="col-5">
          Updated at
        </div>
      <% end %>
      <% variables[:environment_variables].each do |variable| %>
        <% component.with_row(display: :flex, align_items: :baseline) do %>
          <div class="col-5" style="max-width:20%; padding-right: 14px">
            <%= variable[:name] %>
          </div>
          <div class="col-5" style="max-width:20%; padding-right: 14px">
            <%= variable[:environment_name] %>
          </div>
          <div class="col-5" style="max-width:20%; padding-right: 14px">
            <%= Base64.strict_decode64(variable[:value]) %>
          </div>
          <div class="col-5" style="max-width:20%; padding-right: 14px">
            <%= variable[:created_at] %>
          </div>
          <div class="col-5" style="max-width:20%; padding-right: 14px">
            <%= variable[:updated_at] %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
