<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= render(Primer::Beta::Link.new(href:  gh_actions_latest_runs_stafftools_repository_path(current_repository), classes: "Link--inTextBlock")) { "Runs" } %>
     /
     <%= render(Primer::Beta::Link.new(href: actions_workflow_execution_stafftools_repository_path(check_suite_id: workflow_run.check_suite_id), classes: "Link--inTextBlock")) { "Workflow run #{workflow_run.id}" } %>
     / Usage
  <% end %>
<% end %>

<!-- Using the same usage component that is used in the customer facing UI. If we want more functionality then a new separate component will be needed -->
<%= render Actions::WorkflowRuns::UsageComponent.new(
  repository: current_repository,
  workflow_run: workflow_run
) %>
<% unless GitHub.enterprise? %>
  <div class="text-small mb-1">
    <%= link_to "Hydro link to compute usage metrics via Kusto", Stafftools::RepositoriesHelper.get_compute_usage_link_for_check_suite(workflow_run.check_suite), target: :_blank, rel: "noopener noreferrer" %>
  </div>
  <div class="text-small mb-1">
    <%= link_to "Hydro link to artifact storage usage metrics via Kusto", Stafftools::RepositoriesHelper.get_artifact_storage_link_for_check_suite(workflow_run.check_suite), target: :_blank, rel: "noopener noreferrer" %>
  </div>
<% end %>
