<div class="boxed-group">
    <h3>
      <%= workflow_count %> <%= workflow_type == :required ? "imposed" : "registered" %> <%= "workflow".pluralize(workflow_count) %>
      <% if workflow_count > limit %>
        (first <%= limit %>)
      <% end %>
    </h3>
    <div class="boxed-group-inner">
    <% if workflows.none? %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_heading(tag: :h2) do %>
          There are no workflows registered for this repository.
        <% end %>
      <% end %>
    <% else %>
      <ul class="boxed-group-list">
        <% workflows.each do |workflow| %>
          <li class="stafftools-auditlog">
            <%= render Primer::Beta::Octicon.new(icon: "workflow", height: 32) %>
            <div class='js-details-container Details audit-log-entry'>
              <strong class='audit-log-title'>
                <%= workflow.path %>
              </strong>
              <p>State: <%= workflow.state %></p>
              <p>Name: <%= workflow.name %></p>
              <p>Triggered by: <%= workflow.trigger_events&.sort || "-" %></p>
              <p>Created at: <%= workflow.created_at %></p>
              <p>Updated at: <%= workflow.updated_at %></p>
              <p>File size: <%= number_to_human_size(workflow.file_size) || "-" %></p>
              <% if workflow.required? %>
                <p>Source repository id: <%= workflow.imposer_repository_id %></p>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
