<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= render(Primer::Beta::Link.new(href:  gh_actions_latest_runs_stafftools_repository_path(current_repository), classes: "Link--inTextBlock")) { "Runs" } %>
     /
     <%= render(Primer::Beta::Link.new(href: actions_workflow_execution_stafftools_repository_path(check_suite_id: workflow_run.check_suite_id), classes: "Link--inTextBlock")) { "Workflow run #{workflow_run.id}" } %>
     / Artifacts
  <% end %>
<% end %>

<div role="region" aria-label="Artifacts">
  <% if artifacts.any? %>
    <div class="actions-fullwidth-module color-bg-default Box color-shadow-small mb-3 pt-2 pb-1 border rounded">
      <table class="width-full mt-n1 actions-workflow-table">
        <thead>
          <tr class="color-fg-muted border-bottom color-border-muted">
            <th class="col-8 col-md-8 col-lg-6 col-xl-4 py-0 text-semibold">Name</th>
            <th class="py-0 text-semibold col-3 col-md-3 col-lg-4">Size</th>
            <th class="py-0 text-semibold col-3">ID</th>
          </tr>
        </thead>
        <tbody>
          <% artifacts.each_with_index do |artifact, index| %>
            <%
              last = index == artifacts.count - 1
            %>
            <tr role="row">
              <td class="compact col-6 pr-3<% unless last %> border-bottom color-border-muted<% end %>">
                <div class="d-flex flex-items-center">
                  <% if artifact.expired? %>
                    <span class="position-relative lh-0 mr-2">
                      <%= primer_octicon(:package, size: :medium) %>
                    </span>
                    <div style="cursor: default" class="ml-1">
                      <span class="text-bold mr-2"><%= artifact.name %></span>
                      <%= render Primer::Beta::Label.new(scheme: :secondary, mr: 1, "aria-label": "This artifact has expired") do %>
                        Expired
                      <% end %>
                      <% if artifact.is_results_artifact? %>
                        <%= render Primer::Beta::Label.new(scheme: :secondary, mr: 1, "aria-label": "This artifact is a v4 artifact") do %>
                          v4
                        <% end %>
                      <% end %>
                    </div>
                  <% else %>
                    <span class="position-relative lh-0 mr-2">
                      <%= primer_octicon(:package, size: :medium, color: :default) %>
                    </span>
                    <div class="d-flex flex-items-center">
                      <span class="text-bold color-fg-default">
                        <%= artifact.name %>
                      </span>
                      <% if artifact.is_results_artifact? %>
                        <%= render Primer::Beta::Label.new(scheme: :secondary, mr: 1, "aria-label": "This artifact is a v4 artifact") do %>
                          v4
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </td>
              <td class="compact pr-3<% unless last %> border-bottom color-border-muted<% end %>">
                <%= number_to_human_size(artifact.size) %>
              </td>
              <td class="compact pr-3<% unless last %> border-bottom color-border-muted<% end %>">
                <%= artifact.id %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    No Artifacts for this workflow run
  <% end %>
</div>
