<%= render Hovercards::ContextComponent.new do |component| %>
  <% component.with_icon do %>
    <%= render Primer::Beta::Octicon.new(icon: context.octicon, color: :muted, aria: { label: "advisory credits" }) %>
  <% end %>
  <% component.with_body do %>
    <%= link_to global_advisories_path(query: "credit:#{context.user.display_login}"), class: "Link--primary text-underline" do %>
      <span <%= test_selector("advisory-credit-count") %>><%= context.social_credit_count %></span>
      security advisory <%= "credit".pluralize(context.credit_count) %>
    <% end %>
  <% end %>
<% end %>
