<%= render Hovercards::ContextComponent.new(test_selector: context.test_selector) do |component| %>
  <% component.with_icon do %>
    <%= render Primer::Beta::Octicon.new(icon: context.octicon, color: :sponsors, classes: "icon-sponsoring", aria: { label: "sponsoring" }) %>
  <% end %>

  <% component.with_body do %>
    <span class="color-fg-sponsors"><%= context.message %></span>

    <% if context.corporate_sponsor? %>
      <%
        has_more = context.remaining_related_org_sponsor_count.positive?
        total_shown = context.visible_related_org_sponsors.size
      %>

      via

      <% context.visible_related_org_sponsors.each_with_index do |sponsor, i| %>
        <%= link_to(user_path(sponsor), class: "Link--primary text-underline") do %><%= avatar_for(sponsor, 16, class: "avatar") %> <%= sponsor.safe_profile_name %><% end %><%= "," if has_more %>
        <%= "and" if i < total_shown - 1 && total_shown > 1 && !has_more %>
      <% end %>

      <% if has_more %>
        and <%= context.remaining_related_org_sponsor_count %> more
      <% end %>
    <% end %>
  <% end %>
<% end %>
