<div class="position-relative">
  <div class="position-absolute top-0 bottom-0 color-bg-emphasis" style="left: 50%; width:3px; opacity:0.1; transform:translateX(-50%);"></div>
  <div class="position-relative container-xl mx-auto p-responsive">
    <div class="col-12 mx-auto py-5 py-md-6">
      <div class="color-bg-default text-center py-5 py-md-6">
        <h2 class="text-normal text-mono text-uppercase color-fg-muted mb-2 f4-mktg">Automation</h2>
        <p class="h2-mktg col-md-8 col-xl-7 text-center mx-auto mb-2">Build CI/CD workflows that work for&nbsp;you</p>
      </div>
      <div class="position-relative my-9 js-build-in-trigger" data-build-margin-bottom="50" data-build-in-stagger="200">
        <picture>
          <source srcset="<%= image_path "modules/site/team/workflow.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/team/workflow.png" %>" class="d-block col-10 col-lg-6 mx-auto box-shadow-default-mktg rounded-2" alt="workflow.yml" loading="lazy">
        </picture>

        <div class="d-sm-flex position-absolute top-0 right-0 bottom-0 left-0 d-flex flex-column flex-justify-between">
          <div class="col-10 col-sm-7 col-md-6 col-lg-4 offset-sm-5 offset-md-6 offset-lg-8 rounded-2 color-bg-default box-shadow-card-border-mktg mt-n6 my-sm-4 js-build-in-item build-in-scale-left">
            <a href="/marketplace/actions/checkout" class="Link--muted enforce-outline-contrast d-block" aria-label="Get Checkout action on GitHub Marketplace">
              <div class="d-flex flex-items-center p-3">
                <div class="circle d-flex flex-justify-center flex-items-center flex-shrink-0 mr-3 p-1 p-md-2 color-bg-accent-emphasis team-actions-icon-circle"><img src="<%= image_path "modules/site/team/icons/actions-default.svg" %>" alt="Default GitHub Actions icon" class="width-full height-auto" width="32" height="32" loading="lazy"></div>
                <div>
                  <p class="mb-1"><strong class="h4 text-bold lh-condensed">Checkout</strong></p>
                  <p class="d-none d-lg-block color-fg-muted f6 lh-condensed mb-0">Check out a Git repository at a particular version.</p>
                </div>
              </div>
              <div class="d-flex px-4 px-md-6 py-3 color-bg-subtle border-top rounded-bottom-2">
                <p class="text-mono f6 mb-0">name: Checkout<br>uses: actions/checkout@v2.1.0</p>
              </div>
            </a>
          </div>

          <div class="d-none d-sm-block col-10 col-sm-7 col-md-6 col-lg-4 rounded-2 color-bg-default box-shadow-card-border-mktg my-sm-4 js-build-in-item build-in-scale-left">
            <a href="/marketplace/actions/setup-node-js-environment" class="Link--muted enforce-outline-contrast d-block" aria-label="Get Set up Node.js environment action on GitHub Marketplace">
              <div class="d-flex flex-items-center p-3">
                <div class="circle d-flex flex-justify-center flex-items-center flex-shrink-0 mr-3 p-1 p-md-2 color-bg-accent-emphasis team-actions-icon-circle"><img src="<%= image_path "modules/site/team/icons/actions-default.svg" %>" alt="Default GitHub Actions icon" class="width-full height-auto" width="32" height="32" loading="lazy"></div>
                <div>
                  <p class="mb-1"><strong class="h4 text-bold lh-condensed">Set up Node.js environment</strong></p>
                  <p class="d-none d-lg-block color-fg-muted f6 lh-condensed mb-0">Set up a Node.js environment and add it to the PATH, providing additional proxy support.</p>
                </div>
              </div>
              <div class="d-flex px-4 px-md-6 py-3 color-bg-subtle border-top rounded-bottom-2">
                <p class="text-mono f6 mb-0">name: Set up Node.js for use with actions<br>uses: actions/setup-node@v1.1.0</p>
              </div>
            </a>
          </div>

          <div class="col-10 col-sm-7 col-md-6 col-lg-4 offset-2 offset-sm-5 offset-md-4 offset-lg-6 rounded-2 color-bg-default box-shadow-card-border-mktg mb-n6 my-sm-4 js-build-in-item build-in-scale-left">
            <a href="/marketplace/actions/npm-publish" class="Link--muted enforce-outline-contrast d-block" aria-label="Get NPM Publish action on GitHub Marketplace">
              <div class="d-flex flex-items-center p-3">
                <div class="circle d-flex flex-justify-center flex-items-center flex-shrink-0 mr-3 p-1 p-md-2 color-bg-accent-emphasis team-actions-icon-circle"><img src="<%= image_path "modules/site/team/icons/actions-npm-publish.svg" %>" alt="NPM Publish Actions icon" class="width-full height-auto" width="32" height="32" loading="lazy"></div>
                <div>
                  <p class="mb-1"><strong class="h4 text-bold lh-condensed">NPM Publish</strong></p>
                  <p class="d-none d-lg-block color-fg-muted f6 lh-condensed mb-0">Automatically publish packages to NPM.</p>
                </div>
              </div>
              <div class="d-flex px-4 px-md-6 py-3 color-bg-subtle border-top rounded-bottom-2">
                <p class="text-mono f6 mb-0">name: NPM Publish<br>uses: JS DevTools/npm-publish@v1</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="js-build-in-trigger d-flex flex-wrap col-8-max gutter gutter-lg-spacious color-bg-default mx-auto my-5 my-md-6 py-4 text-md-center position-relative" data-build-in-stagger="100">

        <div class="col-12 col-md-6 mb-6 js-build-in-item build-in-scale-up">
          <div class="d-flex flex-row flex-items-center flex-md-column gutter-condensed gutter-md-0">
            <div class="px-2 px-md-0">
              <div class="icon-container icon-container-blue d-inline-block text-center circle mb-3">
                <img src="<%= image_path "modules/site/primer-neue/icons/any-language.svg" %>" alt="Streamline your CI/CD" class="v-align-middle" loading="lazy">
              </div>
            </div>
            <div class="col-9 col-md-12">
              <p class="mb-1"><strong class="h6-mktg">Streamline your CI/CD</strong></p>
              <p class="f4-mktg color-fg-muted mb-0 mb-md-2">Build, test, and deploy projects on any OS, language, or&nbsp;cloud.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-6 js-build-in-item build-in-scale-up">
          <div class="d-flex flex-row flex-items-center flex-md-column gutter-condensed gutter-md-0">
            <div class="px-2 px-md-0">
              <div class="icon-container icon-container-blue d-inline-block text-center circle mb-3">
                <img src="<%= image_path "modules/site/primer-neue/icons/community-actions.svg" %>" alt="Choose from thousands of actions" class="v-align-middle" loading="lazy">
              </div>
            </div>
            <div class="col-9 col-md-12">
              <p class="mb-1"><strong class="h6-mktg">Choose from thousands of actions</strong></p>
              <p class="f4-mktg color-fg-muted mb-0 mb-md-2">Find community-built GitHub Actions workflows on GitHub Marketplace, or build your&nbsp;own.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-6 js-build-in-item build-in-scale-up">
          <div class="d-flex flex-row flex-items-center flex-md-column gutter-condensed gutter-md-0">
            <div class="px-2 px-md-0">
              <div class="icon-container icon-container-blue d-inline-block text-center circle mb-3">
                <img src="<%= image_path "modules/site/primer-neue/icons/add-tasks.svg" %>" alt="Respond to GitHub events" class="v-align-middle" loading="lazy">
              </div>
            </div>
            <div class="col-9 col-md-12">
              <p class="mb-1"><strong class="h6-mktg">Respond to GitHub events</strong></p>
              <p class="f4-mktg color-fg-muted mb-0 mb-md-2">Trigger workflows based on GitHub events, including push, issue creation, new releases, and&nbsp;more.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 js-build-in-item build-in-scale-up">
          <div class="d-flex flex-row flex-items-center flex-md-column gutter-condensed gutter-md-0">
            <div class="px-2 px-md-0">
              <div class="icon-container icon-container-blue d-inline-block text-center circle mb-3">
                <img src="<%= image_path "modules/site/primer-neue/icons/actions.svg" %>" alt="Collaborate on workflows" class="v-align-middle" loading="lazy">
              </div>
            </div>
            <div class="col-9 col-md-12">
              <p class="mb-1"><strong class="h6-mktg">Collaborate on workflows</strong></p>
              <p class="f4-mktg color-fg-muted mb-0 mb-md-2">Build, share, improve, and reuse actions just like&nbsp;code.</p>
            </div>
          </div>
        </div>
      </div>

      <p class="f4-mktg text-center color-bg-default py-3 mb-6">
        <%= render Site::LinkComponent.new(
          text: "Explore GitHub Actions",
          url: "/marketplace?type=actions",
          classes: "color-fg-accent") %>
      </p>

      <div class="col-8-max mx-auto">
        <div class="js-build-in build-in-scale-up position-relative text-center px-5 px-md-6 px-lg-8 py-6 py-lg-8 rounded-2 box-shadow-default-mktg overflow-hidden" style="background: radial-gradient(69.45% 114.14% at 50% 100%, #63cab1 31.77%, #79b1fd 100%);" <%= mktg_color_theme_attributes %>>
          <%= render Site::ImageComponent.new(
            src: image_path("modules/site/team/testimonials/frontapp-bg-flat.jpg"),
            width: 1730,
            height: 972,
            classes: "width-full height-full testimonial-image-blend object-fit-cover position-absolute top-0 left-0 z-n1",
            sizes: "(max-width: 820px) 90vw, 800px",
            "aria-hidden": true,
          ) %>
          <%= svg("site/team/logos/logo-frontapp", class: "mb-4 color-fg-default", height: "2rem", aria: true, title: "Front App logo") %>
          <blockquote class="col-6-max mx-auto color-fg-default f2-mktg">
            <p class="mb-5">“With GitHub Actions, deployments happen 75 percent faster—taking about 10 minutes compared to the 40 minutes required when they were done manually.”</p>
            <footer>
              <%= render Site::ImageComponent.new(
                src: image_path("modules/site/team/testimonials/front-app.jpg"),
                width: 160,
                height: 160,
                classes: "d-inline-block circle mb-2 box-shadow-default-mktg testimonial-avatar",
                alt: "Pierre Laurac, iOS developer at Front App",
                style: "background: radial-gradient(circle, rgba(58,39,32,1) 0%, rgba(50,55,72,1) 100%);",
                sizes: "80px"
              ) %>
              <span class="h6-mktg color-fg-default d-block">Pierre Laurac, Technical Lead</span>
              <span class="f4-mktg text-white-fade mb-0 d-block">Front App</span>
            </footer>
          </blockquote>
        </div>
      </div>

    </div>
  </div>
</div>
