<div class="overflow-hidden position-relative color-bg-subtle">
  <div class="position-absolute top-0 bottom-0 color-bg-emphasis" style="left: 50%; width:3px; opacity:0.1; transform:translateX(-50%);"></div>
  <div class="position-relative container-xl mx-auto p-responsive pb-8 pb-md-9">
    <div class="color-bg-subtle py-5 py-md-6 mt-5 mt-md-6 text-center">
      <h2 class="text-normal text-mono text-uppercase color-fg-muted mb-2 f4-mktg">Collaboration</h2>
      <p class="h2-mktg col-sm-10 col-md-8 col-lg-6 mx-auto mb-2">Manage everything in one&nbsp;place</p>
    </div>

    <div class="my-9">

      <div class="js-build-in-trigger d-md-flex flex-row-reverse flex-justify-center flex-items-center my-9 position-relative">
        <div class="d-flex flex-1 flex-justify-start js-build-in-item build-in-scale-right">
          <div class="d-flex flex-wrap js-build-in-group" data-build-in-stagger="100">
            <div class="col-6 p-2 ml-3 js-build-in-item build-in-scale-right">
              <div class="color-bg-default box-shadow-card-border-mktg rounded-2 text-left p-2 p-lg-3">
                <picture>
                  <source srcset="<%= image_path "modules/site/team/integrations-1.webp" %>" type="image/webp">
                  <img src="<%= image_path "modules/site/team/integrations-1.png" %>" class="flex-self-center width-fit" alt="" loading="lazy">
                </picture>
              </div>
            </div>
            <div class="col-6 p-2 mr-n3 js-build-in-item build-in-scale-right">
              <div class="color-bg-default box-shadow-card-border-mktg rounded-2 text-left p-2 p-lg-3">
                <picture>
                  <source srcset="<%= image_path "modules/site/team/integrations-2.webp" %>" type="image/webp">
                  <img src="<%= image_path "modules/site/team/integrations-2.png" %>" class="flex-self-center width-fit" alt="" loading="lazy">
                </picture>
              </div>
            </div>
            <div class="col-6 p-2 ml-n3 js-build-in-item build-in-scale-right">
              <div class="color-bg-default box-shadow-card-border-mktg rounded-2 text-left p-2 p-lg-3">
                <picture>
                  <source srcset="<%= image_path "modules/site/team/integrations-3.webp" %>" type="image/webp">
                  <img src="<%= image_path "modules/site/team/integrations-3.png" %>" class="flex-self-center width-fit" alt="" loading="lazy">
                </picture>
              </div>
            </div>
            <div class="col-6 p-2 mr-3 js-build-in-item build-in-scale-right">
              <div class="color-bg-default box-shadow-card-border-mktg rounded-2 text-left p-2 p-lg-3">
                <picture>
                  <source srcset="<%= image_path "modules/site/team/integrations-4.webp" %>" type="image/webp">
                  <img src="<%= image_path "modules/site/team/integrations-4.png" %>" class="flex-self-center width-fit" alt="" loading="lazy">
                </picture>
              </div>
            </div>
            <div class="col-6 p-2 ml-3 js-build-in-item build-in-scale-right">
              <div class="color-bg-default box-shadow-card-border-mktg rounded-2 text-left p-2 p-lg-3">
                <picture>
                  <source srcset="<%= image_path "modules/site/team/integrations-5.webp" %>" type="image/webp">
                  <img src="<%= image_path "modules/site/team/integrations-5.png" %>" class="flex-self-center width-fit" alt="" loading="lazy">
                </picture>
              </div>
            </div>
            <div class="col-6 p-2 mr-n3 js-build-in-item build-in-scale-right">
              <div class="color-bg-default box-shadow-card-border-mktg rounded-2 text-left p-2 p-lg-3">
                <picture>
                  <source srcset="<%= image_path "modules/site/team/integrations-6.webp" %>" type="image/webp">
                  <img src="<%= image_path "modules/site/team/integrations-6.png" %>" class="flex-self-center width-fit" alt="" loading="lazy">
                </picture>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-justify-center flex-items-center team-collaboration--dot js-build-in-item">
          <div class="circle flex-shrink-0 color-bg-emphasis mx-4 mt-3 mt-md-6 mb-6" style="width: 33px; height: 33px; border: 3px solid #fafbfc;"></div>
        </div>
        <div class="d-flex flex-justify-end flex-1 team-collaboration--text-left js-build-in-item build-in-scale-left">
          <div class="color-bg-default box-shadow-card-border-mktg rounded-2 text-center text-md-left col-10 mx-auto mx-md-0 p-5 team-collaboration-box team-collaboration-box--left">
            <p class="mb-1"><strong class="h6-mktg">Connect your favorite tools</strong></p>
            <p class="f4-mktg color-fg-muted mb-0">Build the way that works best for you with support for all your go-to integrations, including <a class="Link--inTextBlock" href="https://slack.github.com/">Slack</a>, <a class="Link--inTextBlock" href="https://github.com/marketplace/jira-software-github">Jira</a>, and more.</p>
          </div>
        </div>
      </div>

      <div class="js-build-in-trigger d-md-flex flex-row flex-justify-center flex-items-center my-9 position-relative">
        <div class="d-flex flex-1 flex-justify-end js-build-in-item build-in-scale-left">
          <picture>
            <source srcset="<%= image_path "modules/site/team/access.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/team/access.png" %>" class="width-fit mt-9 mt-md-0 flex-self-center" alt="Add your team in a few clicks" loading="lazy">
          </picture>
        </div>
        <div class="d-flex flex-justify-center flex-items-center team-collaboration--dot js-build-in-item">
          <div class="circle flex-shrink-0 color-bg-emphasis mx-4 mt-3 mt-md-6 mb-6" style="width: 33px; height: 33px; border: 3px solid #fafbfc;"></div>
        </div>
        <div class="d-flex flex-justify-start flex-1 team-collaboration--text-right js-build-in-item build-in-scale-right">
          <div class="color-bg-default box-shadow-card-border-mktg rounded-2 text-center text-md-left col-10 mx-auto mx-md-0 p-5 team-collaboration-box team-collaboration-box--right">
            <p class="mb-1"><strong class="h6-mktg">Add your team in a click</strong></p>
            <p class="f4-mktg color-fg-muted mb-0">Seamlessly update permissions and add new users as you build, whether you’re on a team of two or two thousand.</p>
          </div>
        </div>
      </div>

      <div class="js-build-in-trigger d-md-flex flex-row-reverse flex-justify-center flex-items-center my-9 position-relative">
        <div class="d-flex flex-1 flex-justify-start js-build-in-item build-in-scale-right">
          <%= render Site::ImageComponent.new(
            src: image_path("modules/site/team/code-review.png"),
            width: 1472,
            height: 1158,
            classes: "width-fit height-auto mt-9 mt-md-0 flex-self-center",
            style: "transform: translateY(17%) scale(1.25)",
            sizes: "(max-width: 768px) 90vw, (max-width: 1320px) 45vw, 730px"
          ) %>
        </div>
        <div class="d-flex flex-justify-center flex-items-center team-collaboration--dot js-build-in-item">
          <div class="circle flex-shrink-0 color-bg-emphasis mx-4 mt-3 mt-md-6 mb-6" style="width: 33px; height: 33px; border: 3px solid #fafbfc;"></div>
        </div>
        <div class="d-flex flex-justify-end flex-1 team-collaboration--text-left js-build-in-item build-in-scale-left">
          <div class="color-bg-default box-shadow-card-border-mktg rounded-2 text-center text-md-left col-10 mx-auto mx-md-0 p-5 team-collaboration-box team-collaboration-box--left">
            <p class="mb-1"><strong class="h6-mktg">Speed up code review</strong></p>
            <p class="f4-mktg color-fg-muted mb-0">Step up your code quality with code review tools that fit right into your workflow.</p>
          </div>
        </div>
      </div>

      <div class="js-build-in-trigger d-md-flex flex-row flex-justify-center flex-items-center my-9 position-relative">
        <div class="d-flex flex-1 flex-justify-end js-build-in-item build-in-scale-left">
          <%= render Site::ImageComponent.new(
            src: image_path("modules/site/team/projects.png"),
            classes: "width-fit flex-self-center height-auto mb-n5",
            alt: "Plan together",
            width: 1332,
            height: 817,
            sizes: "(max-width: 768px) 90vw, (max-width: 1320px) 40vw, 583px"
          ) %>
        </div>
        <div class="d-flex flex-justify-center flex-items-center team-collaboration--dot js-build-in-item">
          <div class="circle flex-shrink-0 color-bg-emphasis mx-4 mt-3 mt-md-6 mb-6" style="width: 33px; height: 33px; border: 3px solid #fafbfc;"></div>
        </div>
        <div class="d-flex flex-justify-start flex-1 team-collaboration--text-right js-build-in-item build-in-scale-right">
          <div class="color-bg-default box-shadow-card-border-mktg rounded-2 text-center text-md-left col-10 mx-auto mx-md-0 p-5 team-collaboration-box team-collaboration-box--right">
            <p class="mb-1"><strong class="h6-mktg">Plan together</strong></p>
            <p class="f4-mktg color-fg-muted mb-0">Make it easy for project managers and developers to coordinate, track, and update their work in one place—so projects stay on schedule.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-8-max mx-auto">
      <div class="js-build-in build-in-scale-up position-relative text-center px-5 px-md-6 px-lg-8 py-6 py-lg-8 rounded-2 box-shadow-default-mktg overflow-hidden" style="background: radial-gradient(100.19% 164.67% at 50% 100%, #9E7BFF 31.77%, #3D8BD3 100%);" <%= mktg_color_theme_attributes %>>
        <%= render Site::ImageComponent.new(
          src: image_path("modules/site/team/testimonials/peakmoney-bg-flat.jpg"),
          width: 1730,
          height: 973,
          classes: "width-full height-full testimonial-image-blend object-fit-cover position-absolute top-0 left-0 z-n1",
          sizes: "(max-width: 820px) 90vw, 800px",
          "aria-hidden": true,
        ) %>
        <%= svg("site/team/logos/logo-peakmoney", class: "mb-4 color-fg-default", height: "3rem", aria: true, title: "Peak Money logo") %>
        <blockquote class="col-5-max mx-auto color-fg-default f2-mktg">
          <p class="mb-5">“As a team, we’re way more confident that we’re in tune. We can all see our work, feedback, and roadmap going through GitHub.”</p>
          <footer>
            <%= render Site::ImageComponent.new(
              src: image_path("modules/site/team/testimonials/peak-money.jpg"),
              width: 160,
              height: 160,
              classes: "d-inline-block circle mb-2 box-shadow-default-mktg testimonial-avatar",
              alt: "Lee Adkins, Head of Engineering at Peak Money",
              style: "background: radial-gradient(circle, rgba(58,39,32,1) 0%, rgba(50,55,72,1) 100%);",
              sizes: "80px"
            ) %>
            <span class="h6-mktg color-fg-default d-block">Lee Adkins, Head of Engineering</span>
            <span class="f4-mktg text-white-fade mb-0 d-block">Peak Money</span>
          </footer>
        </blockquote>
      </div>
    </div>

  </div>
</div>
