<%# erblint:counter DeprecatedInPrimerCounter 2 %>
<div class="container-xl mx-auto p-responsive height-full">
  <div class="text-center mx-auto py-5 py-md-6">
    <h2 class="sr-only">Customer Stories</h2>
    <p class="h2-mktg col-10 mx-auto mb-2">You’re in good company</p>
    <div class="d-md-flex gutter-md mt-7 mb-6 text-left">

      <div class="col-md-6 flex-shrink-0 mt-6 my-md-0">
        <div class="customer-story customer-story--team overflow-hidden active position-relative rounded-2">
          <a href="/customer-stories/front" class="customer-story-overlay position-absolute top-0 right-0 bottom-0 left-0 px-4 px-lg-6 pt-5 pb-3 no-underline z-1 overflow-hidden arrow-target-mktg">
            <div class="d-flex flex-column flex-items-center height-full text-center">
              <p class="sr-only">Front App</p>
              <p class="text-normal text-mono text-uppercase text-white-fade f6-mktg mb-2">Customer Story</p>
              <%= svg("site/team/logos/logo-frontapp", class: "mb-4 color-text-white", height: "2rem", aria: true, title: "Front App logo") %>

              <span class="f4-mktg text-bold pb-3 color-text-white customer-story-cta mt-auto">Read story <%= svg("site/icons/chevrow.svg", class: "octicon") %></span>
            </div>
          </a>
          <picture>
            <source srcset="<%= image_path "modules/site/team/customer-stories/frontapp.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/team/customer-stories/frontapp.jpg" %>" width="600" height="350" alt="Front" class="customer-story-bg height-auto d-block width-full rounded-2" loading="lazy">
          </picture>
        </div>
      </div>

      <div class="col-md-6 flex-shrink-0 my-6 my-md-0">
        <div class="customer-story customer-story--team overflow-hidden active position-relative rounded-2">
          <a href="/customer-stories/trayio" class="customer-story-overlay position-absolute top-0 right-0 bottom-0 left-0 px-4 px-lg-6 pt-5 pb-3 no-underline z-1 overflow-hidden arrow-target-mktg">
            <div class="d-flex flex-column flex-items-center height-full text-center">
              <p class="sr-only">Tray.io</p>
              <p class="text-normal text-mono text-uppercase text-white-fade f6-mktg mb-2">Customer Story</p>
              <%= svg("site/team/logos/logo-trayio", class: "mb-4 color-text-white", height: "3rem", aria: true, title: "Tray.io logo") %>

              <span class="f4-mktg text-bold pb-3 color-text-white customer-story-cta mt-auto">Read story <%= svg("site/icons/chevrow.svg", class: "octicon") %></span>
            </div>
          </a>
          <picture>
            <source srcset="<%= image_path "modules/site/team/customer-stories/trayio.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/team/customer-stories/trayio.jpg" %>" width="600" height="350" alt="Tray.io" class="customer-story-bg height-auto d-block width-full rounded-2" loading="lazy">
          </picture>
        </div>
      </div>
    </div>

    <p class="text-center color-bg-default pb-5 pb-md-6 mb-6">
      <%= render Site::LinkComponent.new(
        text: "Read more customer stories",
        url: "/customer-stories?type=team",
        classes: "color-fg-accent") %>
    </p>

  </div>
</div>
