<div class="js-build-in overflow-hidden my-6 position-relative" data-build-margin-bottom="10">
  <div class="d-md-flex gutter-md-spacious team-users">

    <div class="position-absolute position-md-relative col-12 col-md-3 my-4 my-md-0 team-graph-left">
      <% ["kubernetes", "mailchimp", "tensorflow", "directus", "circle", "societe-generale", "vue", "gatsby"].each do |logo| %>
        <picture>
          <source srcset="<%= image_path "modules/site/team/users/#{logo}.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/team/users/#{logo}.png" %>" alt="<%= logo.capitalize %> logo" class="position-absolute color-shadow-large rounded-2 team-user-logo team-user-logo--<%= logo %>" width="60" height="60" loading="lazy">
        </picture>
      <% end %>
    </div>

    <div class="d-flex flex-items-center col-11 col-md-6 container-xl team-users-text">
      <div class="text-center mx-auto col-lg-9 py-md-6">
        <h2 class="sr-only">Users</h2>
        <p class="h2-mktg mb-3">Home to the world’s software teams</p>
        <p class="f3-mktg color-fg-muted mb-0">Meet your developers where they already are. GitHub is home to over 40 million developers and the world’s largest open source&nbsp;community.</p>

        <div class="d-flex gutter-condensed gutter-lg-spacious pt-5 pt-md-6 pt-md-6 ml-lg-n6 mr-lg-n6">
          <div class="col-4 text-center mb-4">
            <p class="m-0">
              <span class="h3-mktg no-wrap mb-1 d-block"><%= GitHub::MarketingStats::USER_MILLIONS_FALLBACK %><span aria-hidden="true">M+</span><span class="sr-only"> million</span></span>
              <span class="f4-mktg color-fg-muted no-wrap">developers</span>
            </p>
          </div>
          <div class="col-4 text-center mb-4">
            <p class="m-0">
              <span class="h3-mktg no-wrap mb-1 d-block">1<span aria-hidden="true">B+</span><span class="sr-only"> billion</span></span>
              <span class="f4-mktg color-fg-muted no-wrap">contributions</span>
            </p>
          </div>
          <div class="col-4 text-center mb-4">
            <p class="m-0">
              <span class="h3-mktg no-wrap mb-1 d-block"><%= GitHub::MarketingStats::ORGS_MILLIONS_FALLBACK %><span aria-hidden="true">M+</span><span class="sr-only"> million</span></span>
              <span class="f4-mktg color-fg-muted no-wrap">organizations</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="position-absolute position-md-relative col-12 col-md-3 my-4 my-md-0 team-graph-right">
      <% ["python", "zendesk", "dazn", "dotnet", "tenancy", "stripe", "django"].each do |logo| %>
        <picture>
          <source srcset="<%= image_path "modules/site/team/users/#{logo}.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/team/users/#{logo}.png" %>" alt="<%= logo.capitalize %> logo" class="position-absolute color-shadow-large rounded-2 team-user-logo team-user-logo--<%= logo %>" width="60" height="60" loading="lazy">
        </picture>
      <% end %>
    </div>
  </div>
</div>
