<div class="bx-lg-2 d-flex flex-column flex-lg-row flex-justify-center">
  <% if logged_in? %>
    <% if current_user.billing_manageable_per_repo_orgs.any? %>
      <%= render Primer::Beta::Details.new(overlay: :default, reset: true, display: :inline_block, classes: 'js-dialog-close-on-focusout') do |component| %>
        <% component.with_summary(
          button: false,
          classes: "btn-mktg btn-large-mktg Link--outlineOffset",
        ) do %>
          Get started with Team <%= render(Primer::Beta::Octicon.new(:"chevron-right", size: :small)) %>
        <% end %>
        <% component.with_body(
          tag: :div,
          classes: "SelectMenu",
          role: "menu"
        ) do %>
          <div class="SelectMenu-modal py-2 z-2">
            <%= render(Primer::Alpha::ActionList.new(
              role: :menu,
              scheme: :full,
              show_dividers: true
            )) do |component|
              current_user.billing_manageable_per_repo_orgs.each do |org|
                component.with_item(
                  label: org.safe_profile_name,
                  href: upgrade_path(org: org, target: "organization", plan: GitHub::Plan.business, "ref_page": request.fullpath, "ref_cta": url_encode("<org-name>"), "ref_loc": url_encode(event_source), pricing_exp: true),
                  mx: 2,
                  content_arguments: {
                    data: {
                      **analytics_click_attributes(
                        category: "Change organization",
                        action: "click to upgrade to Team",
                        label: "ref_page:#{request.fullpath};ref_cta:<org-name>;ref_loc:hero",
                      ),
                    },
                  },
                ) do |item|
                  item.with_leading_visual_content do
                    avatar_for(org, 20, classes: "SelectMenu-item-gravatar")
                  end
                end
              end
              component.with_item(
                label: "Create organization",
                href: new_organization_path(plan: GitHub::Plan.business, "ref_page": request.fullpath, "ref_cta": url_encode("Create organization"), "ref_loc": url_encode(event_source)),
                mx: 2,
                content_arguments: {
                  data: {
                    **analytics_click_attributes(
                      category: "Create organization",
                      action: "click to set up organization",
                      label: "ref_page:#{request.fullpath};ref_cta:Create organization;ref_loc:hero"
                    ),
                  },
                },
              ) do |item|
                item.with_leading_visual_icon(icon: :plus)
              end
            end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <%= render Site::ButtonComponent.new(
        text: "Get started with Team",
        url: signup_path(plan: GitHub::Plan.business, "ref_page": request.fullpath, "ref_cta": url_encode("Get started with Team"), "ref_loc": url_encode(event_source)),
        size: :large,
        classes: "flex-sm-self-center mt-3 mt-lg-0"
      ) %>
    <% end %>

    <div class="color-bg-overlay flex-sm-self-center mt-3 mt-lg-0">
      <%= render Site::ButtonComponent.new(
        text: "Create a free organization",
        url: new_organization_path(plan: GitHub::Plan.free, "ref_page": request.fullpath, "ref_cta": url_encode("Create a free organization"), "ref_loc": url_encode(event_source)),
        scheme: :muted,
        size: :large,
        data: analytics_click_attributes(
          category: "Organization creation",
          action: "click to set up organization",
          label: "ref_page:#{request.fullpath};ref_cta:Create a free organization;ref_loc:#{event_source}"
        )
      ) %>
    </div>

  <% else %>
    <%= render Site::ButtonComponent.new(
      text: "Get started with Team",
      url: signup_path(plan: GitHub::Plan.business, "ref_page": request.fullpath, "ref_cta": url_encode("Get started with Team"), "ref_loc": url_encode(event_source)),
      size: :large,
      classes: "flex-sm-self-center"
    ) %>

    <div class="color-bg-overlay flex-sm-self-center mt-3 mt-lg-0">
      <%= render Site::ButtonComponent.new(
        text: "Sign up for free",
        url: signup_path(source: "team", plan: GitHub::Plan.free, setup_organization: true, "ref_page": request.fullpath, "ref_cta": url_encode("Sign up for free"), "ref_loc": url_encode(event_source)),
        scheme: :muted,
        size: :large,
        data: analytics_click_attributes(
          category: "Sign up",
          action: "click to sign up for account",
          label: "ref_page:#{request.fullpath};ref_cta:Sign up for free;ref_loc:#{event_source}"
        )
      ) %>
    </div>
  <% end %>
</div>
