<% event_source = "team-page-hero" if local_assigns[:event_source].nil? %>

<div class="js-build-in position-relative overflow-hidden section-team-hero">

  <div class="position-relative position-md-absolute top-md-0 right-md-0 bottom-md-0 left-md-0 z-1" style="padding:8% 0;">
    <div class="container-lg p-responsive">
      <div class="col-md-8 col-lg-10 col-xl-12 text-center mx-auto my-5 my-sm-0">
        <h1 class="text-normal text-mono text-uppercase color-fg-muted mb-2 f4-mktg">GitHub for Teams</h1>
        <h2 class="h1-mktg col-md-10 mx-auto mb-3">Build like the best teams on the planet</h2>
        <p class="col-sm-10 col-md-8 col-lg-7 col-xl-8 color-fg-muted f3-mktg mx-auto mb-4">With CI/CD, Dependabot, and the world’s largest developer community, GitHub gives your team everything they need to ship better software&nbsp;faster.</p>
        <%=
          render partial: "site/team/get_started_cta",
          locals: { event_source: event_source }
        %>
        <% if logged_in? && current_user.owned_or_billing_manager_organizations.any? %>
          <div class="mt-4 mb-6">
            <a href="#organizations"
              class="h3 rounded-2 px-md-6 py-md-4"
              style="background-color: #fff; background-color: rgba(255,255,255,0.7);"
              <%= safe_analytics_click_attributes(category: "Team", action: "click", label: "text:Manage your organizations;location:#{event_source};ref_page:Team") %>
            >
              Manage your organizations &darr;
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="d-none d-md-block position-absolute position-md-relative top-0 team-hero-artwork">
    <%= svg("site/team/team-hero-branches", class: "position-relative d-block team-hero-branches", style: "height:auto; fill:none; stroke:#24292e; stroke-width:3px; opacity:0.1; left:50%; transform: translateX(-50%);" ) %>
      <div class="position-absolute top-0 right-0 bottom-0 left-0">
          <picture>
            <source srcset="<%= image_path "modules/site/team/avatars/califa.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/team/avatars/califa.jpg" %>" width="200" height="200" alt="Avatar of the user califa" class="circle box-shadow-default-mktg team-avatar team-avatar--lg" style="top: 3%; left: 4.25%;">
          </picture>
          <picture>
            <source srcset="<%= image_path "modules/site/team/avatars/ohjoycelau.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/team/avatars/ohjoycelau.jpg" %>" width="200" height="200" alt="Avatar of the user ohjoycelau" class="circle box-shadow-default-mktg team-avatar team-avatar--md" style="top: 6%; left: 83.5%;">
          </picture>
          <picture>
            <source srcset="<%= image_path "modules/site/team/avatars/lerebear.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/team/avatars/lerebear.jpg" %>" width="200" height="200" alt="Avatar of the user lerebear" class="circle box-shadow-default-mktg team-avatar team-avatar--md" style="top: 35%; left: 12%;">
          </picture>
          <picture>
            <source srcset="<%= image_path "modules/site/team/avatars/teenage-witch.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/team/avatars/teenage-witch.jpg" %>" width="200" height="200" alt="Avatar of the user teenage-witch" class="circle box-shadow-default-mktg team-avatar team-avatar--lg" style="top: 44%; right: 1%;">
          </picture>
          <picture>
            <source srcset="<%= image_path "modules/site/team/avatars/broccolini.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/team/avatars/broccolini.jpg" %>" width="200" height="200" alt="Avatar of the user broccolini" class="circle box-shadow-default-mktg team-avatar team-avatar--lg" style="top: 71%; left: 8%;">
          </picture>
          <picture>
            <source srcset="<%= image_path "modules/site/team/avatars/benbalter.webp" %>" type="image/webp">
            <img src="<%= image_path "modules/site/team/avatars/benbalter.jpg" %>" width="200" height="200" alt="Avatar of the user benbalter" class="circle box-shadow-default-mktg team-avatar team-avatar--sm" style="top: 86%; left: 84%;">
          </picture>
      </div>
      <div class="position-absolute top-0 right-0 bottom-0 left-0">
        <div class="circle d-flex flex-justify-center flex-items-center box-shadow-card-border-mktg team-octicon" style="top: 23%; left: 7%;">
          <%= svg("site/primer-neue/octicons/repo-push", class: "color-fg-muted width-full", style: "height:auto;") %>
        </div>
        <div class="circle d-flex flex-justify-center flex-items-center box-shadow-card-border-mktg team-octicon" style="top: 52%; left: 12%;">
          <%= svg("site/primer-neue/octicons/eye", class: "color-fg-muted width-full", style: "height:auto;") %>
        </div>
        <div class="circle d-flex flex-justify-center flex-items-center box-shadow-card-border-mktg team-octicon" style="top: 30%; left: 87.8%;">
          <%= svg("site/primer-neue/octicons/repo-push", class: "color-fg-muted width-full", style: "height:auto;") %>
        </div>
        <div class="circle d-flex flex-justify-center flex-items-center box-shadow-card-border-mktg team-octicon" style="top: 68%; left: 87.8%;">
          <%= svg("site/primer-neue/octicons/eye", class: "color-fg-muted width-full", style: "height:auto;") %>
        </div>
        <div class="circle d-flex flex-justify-center flex-items-center box-shadow-card-border-mktg team-octicon" style="top: 74.5%; left: 32%;">
          <%= svg("site/primer-neue/octicons/check", class: "color-fg-muted width-full", style: "height:auto;") %>
        </div>
        <div class="circle d-flex flex-justify-center flex-items-center box-shadow-card-border-mktg team-octicon" style="top: 79%; left: 66%;">
          <%= svg("site/primer-neue/octicons/check", class: "color-fg-muted width-full", style: "height:auto;") %>
        </div>
        <div class="circle d-flex flex-justify-center flex-items-center box-shadow-card-border-mktg team-octicon" style="top: 88%; left: 50%;">
          <%= svg("site/primer-neue/octicons/git-branch", class: "color-fg-muted width-full", style: "height:auto;") %>
        </div>
      </div>
      <div class="d-none d-md-block position-absolute top-0 right-0 bottom-0 left-0">
        <picture>
          <source srcset="<%= image_path "modules/site/team/avatars/dialogue-califa.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/team/avatars/dialogue-califa.png" %>" alt="califa commented 4 days ago: 👋 Could someone take a look at this PR?" width="756" height="224" class="team-dialogue" style="top: 2%; left: 7%;">
        </picture>
        <picture>
          <source srcset="<%= image_path "modules/site/team/avatars/dialogue-teenage-witch.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/team/avatars/dialogue-teenage-witch.png" %>" alt="teenage-witch commented 3 days ago: Added a few comments, otherwise LGTM!" width="756" height="224" class="team-dialogue" style="top: 54.5%; right: 3%;">
        </picture>
        <picture>
          <source srcset="<%= image_path "modules/site/team/avatars/dialogue-broccolini.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/team/avatars/dialogue-broccolini.png" %>" alt="broccolini commented 2 days ago: Awesome work, ship it! 🚢✅" width="756" height="224" class="team-dialogue" style="top: 81.5%; left: 4.5%;">
        </picture>
      </div>
  </div>

</div>

<div class="overflow-hidden d-md-none width-full z-n1 mt-n6">
  <picture>
    <source srcset="<%= image_path "modules/site/team/team-hero-artwork--mobile.webp" %>" type="image/webp">
    <img src="<%= image_path "modules/site/team/team-hero-artwork--mobile.png" %>" alt="Team hero artwork" class="d-block position-relative mx-auto" style="width:200%; max-width:960px; left:50%; transform:translateX(-50%);">
  </picture>
</div>
