<div class="overflow-hidden position-relative">
  <div class="position-absolute top-0 bottom-0 color-bg-emphasis" style="left: 50%; width:3px; opacity:0.1; transform:translateX(-50%);"></div>
  <div class="position-relative container-xl mx-auto p-responsive">
    <div class="col-8-max text-center mx-auto pt-0 pb-5 pb-md-6">
      <ul class="d-flex flex-justify-center flex-items-center flex-wrap list-style-none color-bg-default py-3">
        <li class="d-flex flex-justify-center flex-items-center col-6 col-sm-4"><%= svg("site/team/logos/logo-peakmoney", class: "px-2 my-3 color-fg-muted", height: "3rem", title: "Peak Money") %></li>
        <li class="d-flex flex-justify-center flex-items-center col-6 col-sm-4"><%= svg("site/team/logos/logo-trustpilot", class: "px-2 my-3 color-fg-muted", height: "2.5rem", title: "Trustpilot") %></li>
        <li class="d-flex flex-justify-center flex-items-center col-6 col-sm-4"><%= svg("site/team/logos/logo-gatsby", class: "px-2 my-3 color-fg-muted", height: "2rem", title: "Gatsby") %></li>
        <li class="d-flex flex-justify-center flex-items-center col-6 col-sm-4"><%= svg("site/team/logos/logo-trayio", class: "px-2 my-3 color-fg-muted", height: "3rem", title: "Tray.io") %></li>
        <li class="d-flex flex-justify-center flex-items-center col-6 col-sm-4"><%= svg("site/team/logos/logo-kubernetes", class: "px-2 my-3 color-fg-muted", height: "2rem", title: "Kubernetes") %></li>
        <li class="d-flex flex-justify-center flex-items-center col-6 col-sm-4"><%= svg("site/team/logos/logo-frontapp", class: "px-2 my-3 color-fg-muted", height: "1.75rem", title: "Front") %></li>
      </ul>
    </div>
  </div>
</div>
