<article class="Box color-shadow-large px-5 py-4 mb-6">
  <div class="d-flex flex-items-center flex-justify-between">
    <%= link_to user_path(org), "aria-label": "Visit #{org.safe_profile_name} organization page", class: "h5-mktg d-flex flex-items-center mr-3 mr-sm-5 mb-0" do %>
      <%= avatar_for(org, 64, class: "avatar mr-3 mr-sm-5", "aria-label": "#{org.safe_profile_name} organization avatar") %>
      <%= org.safe_profile_name %>
    <% end %>
    <div class="col-5 text-right">
      <% if plan == "free" %>
        <a href="<%= upgrade_path(org: org, target: "organization", plan: GitHub::Plan.business, "ref_page": request.fullpath, "ref_cta": url_encode("Upgrade to GitHub Team"), "ref_loc": url_encode("organizations list")) %>"
          class="h3 arrow-target-mktg Link--outlineOffset"
          <%= safe_analytics_click_attributes(category: "Change organization", action: "click to upgrade to Team", label: "ref_page:#{request.fullpath};ref_cta:Upgrade to GitHub Team;ref_loc:Manage your organizations") %>
        >
          Upgrade to GitHub Team <%= svg("site/icons/chevrow.svg", class: "octicon") %>
        </a>
        <div class="d-none d-sm-block f6 color-fg-muted">
          for more minutes, storage, protected branches, wikis, and
          <a class="Link--inTextBlock Link--outlineOffset" href="/pricing#feature-comparison" <%= safe_analytics_click_attributes(category: "Team", action: "click", label: "text:10+ exclusive features") %>>
            10+ exclusive features
          </a>
        </div>
      <% else %>
        <div class="h3 color-fg-muted lh-condensed" style="opacity:0.7">GitHub Team <%= primer_octicon(:check, width: 20, height: 20, color: :muted) %></div>
        <a href="<%= settings_org_profile_path(org) %>"
          class="f6 Link--inTextBlock Link--outlineOffset"
          <%= safe_analytics_click_attributes(category: "Team", action: "click", label: "text:View organization settings;location:manage;ref_page:Team") %>
        >
          View organization settings
        </a>
      <% end %>
    </div>
  </div>
</article>
