<% if logged_in? && current_user.owned_or_billing_manager_organizations.any? %>
  <%
    org_threshold = 4
    org_count = current_user.owned_or_billing_manager_organizations.count
    org_threshold_passed = org_count > org_threshold
    org_tabs_show = org_threshold_passed && (current_user.billing_manageable_free_plan_orgs.any? && current_user.billing_manageable_team_plan_orgs.any?)
  %>
  <div class="container-xl overflow-hidden position-relative p-responsive py-6">
    <div class="position-absolute top-0 bottom-0 color-bg-emphasis" style="left: 50%; width:3px; opacity:0.1; transform:translateX(-50%);"></div>

    <div id="organizations" class="position-relative color-bg-default py-4 my-6">
      <h2 class="text-center h3-mktg mb-6">Manage your organizations</h2>

      <div class="col-md-10 col-lg-8 mx-auto">
          <% if org_tabs_show %>
          <tab-container>
            <div class="d-flex flex-justify-center">
              <div role="tablist" class="subnav mx-auto mb-3">
                <button type="button" role="tab" class="subnav-item f4-mktg" aria-selected="true" aria-controls="team-plans-free-tab">GitHub Free</button>
                <button type="button" role="tab" class="subnav-item f4-mktg" tabindex="-1" aria-controls="team-plans-team-tab">GitHub Team</button>
              </div>
            </div>
          <% else %>
            <div class="d-sm-flex flex-wrap gutter gutter-lg-spacious text-center pb-5 width-full">
              <div class="col-sm-6 pb-5 pb-sm-0">
                <h3 class="h5-mktg mb-3">GitHub Free</h3>
                <ul class="list-style-none color-fg-muted">
                  <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/infinity.svg" %>" alt="unlimited" height="10px" class="d-inline-block ml-n4 mr-2">Unlimited repositories &amp; members</li>
                  <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">2,000 Action minutes/month</li>
                  <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">500MB of GitHub Packages storage</li>
                </ul>
              </div>

              <div class="col-sm-6">
                <h3 class="h5-mktg mb-3">GitHub Team</h3>
                <ul class="list-style-none color-fg-muted">
                  <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/infinity.svg" %>" alt="unlimited" height="10px" class="d-inline-block ml-n4 mr-2">Unlimited repositories</li>
                  <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">3,000 Action minutes/month</li>
                  <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">2GB of GitHub Packages storage</li>
                </ul>
              </div>
            </div>
          <% end %>

          <% if current_user.billing_manageable_free_plan_orgs.any? %>
            <div id="team-plans-free-tab"<% if org_tabs_show %> role="tabpanel"<% end %>>
              <% if org_tabs_show %>
                <div class="text-center mb-4">
                  <ul class="d-flex flex-justify-center list-style-none color-fg-muted">
                    <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/infinity.svg" %>" alt="unlimited" height="10px" class="d-inline-block ml-n4 mr-2">Unlimited repositories &amp; members</li>
                    <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">2,000 Action minutes/month</li>
                    <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">500MB of GitHub Packages storage</li>
                  </ul>
                </div>
              <% end %>

              <% current_user.billing_manageable_free_plan_orgs.each do |org| %>
                <%= render "site/team/organization", org: org, plan: "free" %>
              <% end %>
            </div>
          <% end %>

          <% if current_user.billing_manageable_team_plan_orgs.any? %>
            <div id="team-plans-team-tab"<% if org_tabs_show %> role="tabpanel" hidden<% end %>>
              <% if org_tabs_show %>
                <div class="text-center mb-4">
                  <ul class="d-flex flex-justify-center list-style-none color-fg-muted">
                    <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/infinity.svg" %>" alt="unlimited" height="10px" class="d-inline-block ml-n4 mr-2">Unlimited repositories</li>
                    <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">3,000 Action minutes/month</li>
                    <li class="my-2 px-4"><img src="<%= image_path "modules/site/icons/checkmark.svg" %>" alt="checkmark" height="10px" class="d-inline-block ml-n4 mr-2">2GB of GitHub Packages storage</li>
                  </ul>
                </div>
              <% end %>

              <% current_user.billing_manageable_team_plan_orgs.each do |org| %>
                <%= render "site/team/organization", org: org, plan: "team" %>
              <% end %>
            </div>
          <% end %>
        <% if org_tabs_show %></tab-container><% end %>

        <div class="text-center pt-2 pb-6">
          <%= link_to "Create a new organization for free",
            new_organization_path(plan: GitHub::Plan.free),
            class: "btn-block btn-mktg d-inline color-text-white",
            data: analytics_click_attributes(
              category: "Organization creation",
              action: "click to set up organization",
              label: "ref_page:#{request.fullpath};ref_cta:Create a new organization for free;ref_loc:Manage your organizations"
            )
          %>
        </div>
      </div>
    </div>
  </div>
<% end %>
