<%# erblint:counter DeprecatedInPrimerCounter 2 %>
<div class="js-build-in-trigger overflow-hidden position-relative" data-build-margin-bottom="70">
  <div class="position-absolute top-0 color-bg-emphasis" style="bottom:75px; left:50%; width:3px; opacity:0.1; transform:translateX(-50%);"></div>
  <div class="position-relative container-xl mx-auto p-responsive">
    <div class="col-12 mx-auto py-5 py-md-6">
      <div class="color-bg-default text-center py-5 py-md-6">
        <h2 class="text-normal text-mono text-uppercase color-fg-muted mb-2 f4-mktg">Security</h2>
        <p class="h2-mktg col-md-10 text-center mx-auto mb-2">Stay focused on development</p>
      </div>
      <div class="col-md-10 col-lg-9 mx-auto mb-9">
        <img src="<%= image_path "modules/site/team/security.svg" %>" class="d-block col-9" alt="Security background" style="transform: translateY(33%);" loading="lazy">
        <picture>
          <source srcset="<%= image_path "modules/site/team/security-overlay.webp" %>" type="image/webp">
          <img src="<%= image_path "modules/site/team/security-overlay.png" %>" class="position-relative d-block col-8 offset-4 box-shadow-default-mktg rounded-2 js-build-in-item build-in-scale-right" alt="Security overlay" style="border:1px solid rgba(115,92,15,0.3)" loading="lazy">
        </picture>
      </div>

      <div class="js-build-in d-flex flex-wrap gutter gutter-lg-spacious color-bg-default my-5 my-md-6 py-4 text-md-center js-build-in-trigger" data-build-in-stagger="100">

        <div class="col-12 col-md-4 mb-6 js-build-in-item build-in-scale-up">
          <div class="d-flex flex-row flex-items-center flex-md-column gutter-condensed gutter-md-0">
            <div class="px-2 px-md-0">
              <div class="icon-container icon-container-blue d-inline-block text-center circle mb-3">
                <img src="<%= image_path "modules/site/primer-neue/icons/access-and-permission.svg" %>" alt="Grant the right access to your team" class="v-align-middle" loading="lazy">
              </div>
            </div>
            <div class="col-9 col-md-12">
              <p class="mb-1"><strong class="h6-mktg">Grant the right access to your team</strong></p>
              <p class="f4-mktg color-fg-muted mb-0 mb-md-2">Easily grant, limit, or revoke access for collaborators inside and outside your&nbsp;company.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 mb-6 js-build-in-item build-in-scale-up">
          <div class="d-flex flex-row flex-items-center flex-md-column gutter-condensed gutter-md-0">
            <div class="px-2 px-md-0">
              <div class="icon-container icon-container-blue d-inline-block text-center circle mb-3">
                <img src="<%= image_path "modules/site/primer-neue/icons/status-check.svg" %>" alt="Keep secrets safe" class="v-align-middle" loading="lazy">
              </div>
            </div>
            <div class="col-9 col-md-12">
              <p class="mb-1"><strong class="h6-mktg">Keep secrets safe</strong></p>
              <p class="f4-mktg color-fg-muted mb-0 mb-md-2">Get alerts when secrets are committed to your repositories—and notify over 30&nbsp;cloud service providers automatically.</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 js-build-in-item build-in-scale-up">
          <div class="d-flex flex-row flex-items-center flex-md-column gutter-condensed gutter-md-0">
            <div class="px-2 px-md-0">
              <div class="icon-container icon-container-blue d-inline-block text-center circle mb-3">
                <img src="<%= image_path "modules/site/primer-neue/icons/dependency-insight.svg" %>" alt="Find vulnerable dependencies" class="v-align-middle" loading="lazy">
              </div>
            </div>
            <div class="col-9 col-md-12">
              <p class="mb-1"><strong class="h6-mktg">Find vulnerable dependencies</strong></p>
              <p class="f4-mktg color-fg-muted mb-0 mb-md-2">Scan your dependencies automatically. When a vulnerability is found, we’ll open a pull request with suggested&nbsp;fixes.</p>
            </div>
          </div>
        </div>
      </div>

      <p class="f4-mktg text-center color-bg-default py-3 mb-6">
        <%= render Site::LinkComponent.new(
          text: "See how GitHub helps secure your applications",
          url: "/features/security",
          classes: "color-fg-accent") %>
      </p>

      <div class="col-8-max mx-auto">
        <div class="js-build-in build-in-scale-up position-relative text-center px-5 px-md-6 px-lg-8 py-6 py-lg-8 rounded-2 box-shadow-default-mktg overflow-hidden" style="background: radial-gradient(100.19% 164.67% at 50% 100%, #9E7BFF 31.77%, #3D8BD3 100%);">
          <%= render Site::ImageComponent.new(
            src: image_path("modules/site/team/testimonials/trayio-bg-flat.jpg"),
            width: 1730,
            height: 972,
            classes: "width-full height-full testimonial-image-blend object-fit-cover position-absolute top-0 left-0 z-n1",
            sizes: "(max-width: 820px) 90vw, 800px",
            "aria-hidden": true,
          ) %>
          <%= svg("site/team/logos/logo-trayio", class: "mb-4 color-text-white", height: "3rem") %>
          <blockquote class="col-5-max mx-auto color-text-white f2-mktg">
            <p class="mb-5">“GitHub’s Dependabot security updates are smarter than any other vulnerability tracking tools we’ve used.”</p>
            <footer>
              <%= render Site::ImageComponent.new(
                src: image_path("modules/site/team/testimonials/tray-io.jpg"),
                width: 160,
                height: 160,
                classes: "d-inline-block circle mb-2 box-shadow-default-mktg testimonial-avatar",
                alt: "Alberto Giorgi, Director of Engineering at Tray.io",
                style: "background: radial-gradient(circle, rgba(58,39,32,1) 0%, rgba(50,55,72,1) 100%);",
                sizes: "80px"
              ) %>
              <span class="h6-mktg color-text-white d-block">Alberto Giorgi, Director of Engineering</span>
              <span class="f4-mktg text-white-fade mb-0 d-block">Tray.io</span>
            </footer>
          </blockquote>
        </div>
      </div>

    </div>

    <div class="js-build-in position-relative circle d-flex flex-justify-center flex-items-center flex-shrink-0 mx-auto my-5 my-md-6 p-3 section-team-rocket" style="width:70px; height:70px; border:5px solid #fff; background:linear-gradient(135deg, #44d071 10.73%, #aaf0c1 118.05%);">
      <%= svg("site/primer-neue/octicons/rocket", class: "color-text-white width-full", style: "height:auto;") %>
    </div>
  </div>
</div>
