<%= render(Primer::Beta::BorderBox.new(padding: :spacious, mb: 5)) do |component| %>
  <% component.with_body do %>
    <h3 class="mb-1">Custom amounts</h3>
    <p class="text-normal color-fg-muted" <%= test_selector("rewards-message") %>>
      Sponsors will be able to set a custom amount.
      <% if custom_rewards_possible? %>
        Sponsors with custom amounts will be assigned to the nearest tier below their sponsorship
        amount. They are not assigned a tier when they sponsor below your lowest tier.
      <% else %>
        Sponsors will not be assigned to a tier for a custom <%= frequency_name %> sponsorship
        if you don't have a published <%= frequency_name %> tier.
      <% end %>
    </p>

    <%= form_tag(form_path, method: :patch, class: "width-full mt-0 mb-3 js-sponsors-custom-amount-form") do %>
      <label class="h5" for="suggested_custom_tier_amount">Recommend a sponsorship amount</label>
      <div class="form-group my-0 position-relative">
        <div class="d-flex mt-2 flex-items-center">
          <div class="position-relative">
            <span class="position-absolute ml-2 color-fg-muted" style="top: 5px;left: 3px;">$</span>
            <input type="number"
              id="suggested_custom_tier_amount"
              name="suggested_custom_tier_amount"
              aria-describedby="suggested-custom-amount-input-validation"
              class="form-control pl-4"
              style="width: 96px;"
              value="<%= suggested_custom_tier_amount %>"
              min="0"
              step="1"
              max="<%= SponsorsTier::MAX_SPONSORSHIP_AMOUNT_IN_DOLLARS %>"
              data-throttled-autosubmit
              required>
            <span class="status-indicator js-status-indicator">
              <%= primer_octicon(icon: "check") %>
              <%= primer_octicon(icon: "x") %>
            </span>
          </div>
        </div>
        <p class="note position-absolute js-custom-amount-input-validation" id="suggested-custom-amount-input-validation" hidden></p>
      </div>
    <% end %>

    <%= form_tag(form_path, method: :patch, class: "width-full mt-0 js-sponsors-custom-amount-form") do %>
      <label class="h5" for="min_custom_tier_amount">Set minimum amount</label>
      <div class="form-group my-0 position-relative">
        <div class="d-flex mt-2 flex-items-center">
          <div class="position-relative">
            <span class="position-absolute ml-2 color-fg-muted" style="top: 5px;left: 3px;">$</span>
            <input type="number"
              id="min_custom_tier_amount"
              name="min_custom_tier_amount"
              aria-describedby="min-custom-amount-input-validation"
              class="form-control pl-4"
              style="width: 96px;"
              value="<%= min_custom_tier_amount %>"
              min="0"
              step="1"
              max="<%= SponsorsTier::MAX_SPONSORSHIP_AMOUNT_IN_DOLLARS %>"
              data-throttled-autosubmit
              required>
            <span class="status-indicator js-status-indicator">
              <%= primer_octicon(icon: "check") %>
              <%= primer_octicon(icon: "x") %>
            </span>
          </div>
        </div>
        <p class="note position-absolute js-custom-amount-input-validation" id="min-custom-amount-input-validation" hidden></p>
        <%= render Sponsors::Dashboard::Tiers::PatreonTierDoesNotMeetMinimumNoticeComponent.new(
          sponsors_listing: sponsors_listing,
          location: Sponsors::Dashboard::Tiers::PatreonTierDoesNotMeetMinimumNoticeComponent::Location::TiersPage,
        ) %>
      </div>
    <% end %>
  <% end %>
<% end %>
