<div class="Box-row flex-auto js-tier-shared-parent">
  <div class="<%= class_names(
    "d-flex flex-items-start flex-justify-between flex-md-items-center",
    "mb-3" => !has_repository?,
    "mb-2" => has_repository?,
  ) %>">
    <div class="d-flex flex-column flex-items-start flex-md-row flex-md-items-center">
      <div>
        <h4 <%= test_selector("tier-name") %> class="<%= class_names(
          "h4 d-inline-block",
          "v-align-middle" => tier.retired? || tier.draft?,
          "color-fg-muted" => tier.retired?,
        ) %>"><%= tier.name %></h4>
        <% if tier.retired? %>
          <%= render Primer::Beta::Label.new(
            scheme: :secondary,
            vertical_align: :middle,
            title: "Tier: Retired",
            test_selector: "retired-tier",
          ).with_content("Retired") %>
        <% elsif tier.draft? %>
          <%= render Primer::Beta::Label.new(
            scheme: :warning,
            vertical_align: :middle,
            title: "Tier: Draft",
            test_selector: "draft-tier",
          ).with_content("Draft") %>
        <% end %>
      </div>
      <%= render Primer::Beta::Link.new(
        href: sponsorable_dashboard_your_sponsors_path(sponsorable, tier_id: tier.id),
        aria: { label: "#{pluralize(sponsor_count, "sponsor")} for #{tier.name}" },
        classes: "Link--inTextBlock",
        ml: [nil, nil, 2],
        font_size: :small,
      ).with_content(pluralize(sponsor_count, "sponsor")) %>
    </div>

    <div class="text-right">
      <% if sponsor_count > 0 %>
        <%= render Primer::Beta::Button.new(
          tag: :a,
          size: :small,
          test_selector: "email-sponsors-button",
          mb: 1,
          ml: 1,
          href: new_sponsorable_dashboard_update_path(sponsorable, tier_id: tier.id),
        ).with_content("Email sponsors") %>
      <% end %>

      <% if !tier.retired? && !sponsors_listing.disabled? %>
        <%= render Primer::Beta::Button.new(
          tag: :a,
          size: :small,
          href: edit_sponsorable_dashboard_tier_path(sponsorable, tier.id),
        ).with_content("Edit") %>
      <% end %>
    </div>
  </div>
  <% if repository_errors.any? %>
    <%=
      render(Sponsors::Dashboard::RepositoryErrorsComponent.new(
        repository: tier.repository,
        errors: repository_errors,
      ))
    %>
  <% elsif has_repository? %>
    <%= render(Primer::Box.new(
      bg: :subtle,
      color: :muted,
      font_size: :small,
      mb: 3,
      py: 1,
      px: 2,
      border_radius: 2,
      display: :inline_block,
      test_selector: "tier-repo-access",
      "data-repository-hovercards-enabled": true,
    )) do %>
      Sponsors will be automatically invited to
      <a class="Link--inTextBlock" href="<%= repository_path(repository) %>" <%= safe_data_attributes(hovercard_data_attributes_for_repository(repository)) %>><%= repository.name_with_display_owner %></a>
    <% end %>
  <% end %>

  <div class="<%= class_names(
    "markdown-body comment-body p-0 f5",
    "color-fg-muted" => tier.retired?,
  ) %>">
    <%= tier.description_html %>
  </div>
</div>
