<div class="js-gist-file-update-container js-task-list-container">
  <% if view.updatable? %>
    <task-lists>
    <%= form_tag update_user_gist_file_url(view.gist.user_param, view.gist, view.blob.oid), :method => "put", :class => "js-comment-update" %>
  <% end %>
  <div id="<%= view.anchor %>" class="file my-2">
    <% if view.show_header? %>
      <div class="file-header d-flex flex-md-items-center flex-items-start">
        <div class="file-actions flex-order-2 pt-0">
          <% if view.show_source_toggle? %>
            <%
              if view.source_displayed?
                rendered_base     = url_for(:short_path => nil)
                rendered_selected = ""
                source_base       = ""
                source_selected   = " selected"
              else
                rendered_base     = ""
                rendered_selected = " selected"
                source_base       = url_for(:short_path => blob_short_path(view.blob))
                source_selected   = ""
              end
            %>
            <%= render Primer::Beta::ButtonGroup.new do |c| %>
              <%= c.with_button(
                id: "gist-source-blob-#{view.blob_name}",
                size: :small,
                tag: :a,
                href: source_base,
                classes: source_selected,
                icon: :code,
                "aria-label": "Display the source blob"
              ) %>
              <%= c.with_button(
                id: "gist-rendered-blob-#{view.blob_name}",
                size: :small,
                tag: :a,
                href: rendered_base,
                classes: rendered_selected,
                icon: :file,
                "aria-label": "Display the rendered blob"
              ) %>
            <% end %>
          <% end %>
          <%= render Primer::Beta::Button.new(
            size: :small,
            tag: :a,
            href: raw_user_gist_sha_file_path(view.gist.user_param, view.gist, view.revision, view.encoded_blob_name)
          ) do %> Raw <% end %>
        </div>
        <div class="file-info pr-4 d-flex flex-md-items-center flex-items-start flex-order-1 flex-auto">
          <span class="mr-1">
            <%= primer_octicon(view.icon_symbol, color: :muted) %>
          </span>
          <a class="wb-break-all" href="#<%= view.anchor %>">
            <strong class="user-select-contain gist-blob-name css-truncate-target">
              <%= view.blob_name %>
            </strong>
          </a>
        </div>
      </div>
    <% end %>
    <%= render(
          "blob/blob_content",
          blob: view.blob,
          use_render: view.use_render?,
          display_with_code_rendering_service: view.display_with_code_rendering_service?,
          code_rendering_service: view.code_rendering_service,
          named_anchor_prefix: view.named_anchor_prefix,
          raw_url: raw_user_gist_sha_file_url(view.gist.user_param, view.gist, view.revision, view.encoded_blob_name),
          gist: view.gist,
        ) %>
    <% if view.updatable? %>
      <%= hidden_field_tag "oid", view.gist.sha %>
      <textarea class="form-control js-task-list-field d-none" name="gist[content]"><%= view.blob.data %></textarea>
    <% end %>
  </div>
  <% if view.updatable? %>
    </form><%# erblint:disable ProperTagNesting %>
    </task-lists>
<% end %>
</div>
