<%# erblint:counter DeprecatedComponentsCounter 4 %>
<div class="mb-3 d-flex container-lg px-3">
  <h1 class="<%= view.visibility %> float-none flex-auto width-fit pl-0 d-md-flex d-inline-block">
    <span class="text-bold flex-self-center">Editing <%= link_to view.gist.title, user_gist_path(view.user_param, view.gist), class: "Link--inTextBlock" %></span>
    <% if view.gist.secret? %>
      <%= render Primer::Beta::Label.new(scheme: :secondary, flex_shrink: 0, align_self: :center, ml: 1, title: "Only those with the link can see this gist.") do %>
        Secret
      <% end %>
    <% end %>
  </h1>

  <ul class="pagehead-actions float-none d-md-flex d-none">
    <li>
      <% if view.gist.secret? %>
        <%= form_tag make_public_user_gist_path(view.user_param, view.gist), method: :put do %>
          <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, "aria-label": "Publish this Gist", "data-confirm": "Are you positive you want to permanently make this Gist public?") do %>
            <%= primer_octicon(:"code-square") %>
            Make public
          <% end %>
        <% end %>
      <% end %>
    </li>

    <li>
      <%= form_tag user_gist_path(view.user_param, view.gist), method: :delete do %>
        <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, scheme: :danger, "aria-label": "Delete this Gist", "data-confirm": "Are you positive you want to delete this Gist?") do %>
          <%= primer_octicon(:trash) %>
          Delete
        <% end %>
      <% end %>
    </li>
  </ul>

  <details class="dropdown details-reset flex-self-start details-overlay d-inline-block d-md-none">
    <summary class="color-fg-muted p-2 d-inline" aria-haspopup="true" aria-label="Publish or delete this Gist">
      <%= primer_octicon(:"kebab-horizontal") %>
    </summary>

    <ul class="dropdown-menu dropdown-menu-sw">
      <li>
        <% if view.gist.secret? %>
          <%= form_tag make_public_user_gist_path(view.user_param, view.gist), method: :put do %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, classes: "dropdown-item", "aria-label": "Publish this Gist", "data-confirm": "Are you positive you want to permanently make this Gist public?") do %>
              Make public
            <% end %>
          <% end %>
        <% end %>
      </li>
      <li>
        <%= form_tag user_gist_path(view.user_param, view.gist), method: :delete do %>
          <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, classes: "dropdown-item", "aria-label": "Delete this Gist", "data-confirm": "Are you positive you want to delete this Gist?") do %>
            Delete
          <% end %>
        <% end %>
      </li>
    </ul>
  </details>
</div>
