<div id="gist<%= view.gist.id %>" class="gist">
  <% view.files.each do |file| %>
    <div class="gist-file<%= " scroll" if params[:scroll] %>" translate="no" data-color-mode="light" data-light-theme="light">
      <div class="gist-data">
        <%= render "gists/gists/blob", view: create_view_model(
          Gists::BlobView,
          :embedded => true,
          :show_header => false,
          :blob => file,
          :gist => view.gist,
          :short_path => params[:short_path]
        ) %>
      </div>
      <div class="gist-meta">
        <a href="<%= raw_user_gist_sha_file_url(view.gist.user_param, view.gist, view.revision, file.name) %>" style="float:right" class="Link--inTextBlock">view raw</a>
        <a href="<%= user_gist_url(view.gist.user_param, view.gist) %>#file-<%= EncodingSafeParameterizeHelper.encoding_safe_parameterize(file.name) %>" class="Link--inTextBlock">
          <%= file.display_name %>
        </a>
        hosted with &#10084; by <a class="Link--inTextBlock" href="<%= GitHub.url %>">GitHub</a>
      </div>
    </div>
  <% end %>
</div>
