<div class="pl-0 pl-md-6 ml-md-3 ml-0 js-comment-container">
  <div class="d-md-block d-none">
    <%= timeline_comment_avatar_for(user: current_user) %>
  </div>

  <%= form_tag user_gist_comments_path(view.user_param, view.gist), :class => 'js-new-comment-form js-needs-timeline-marker-header' do %>
    <div class="my-3">
      <%= render(Comments::PreviewableCommentFormComponent.new(
        textarea_id: "new_comment_field",
        required: false,
        current_repository: current_repository,
        subject: view.gist,
        asset_types: [:assets],
        use_fixed_width_font: current_user.use_fixed_width_font?
      )) %>
      <%= spamurai_form_signals %>
      <%= render "gists/gists/form_actions" %>
    </div>
  <% end %>
</div>
