<%= rescue_with_timeout_partial("gists/gists/snippet_timeout", :timeout => GitHub.gist_snippet_timeout, :gist => view.gist) do %>
  <% cache gist_snippet_cache_key(view.gist, view.blob) do %>
    <div class="gist-snippet">
      <div class="gist-snippet-meta d-flex flex-lg-row flex-column width-full">
        <ul class="col-lg-5 col-12 flex-order-2 f6 mt-lg-0 mt-3 mb-lg-0 mb-2 d-flex flex-lg-justify-end">
          <li class="d-inline-block mr-lg-3 mr-2">
            <a class="Link--muted" href="<%= user_gist_path(view.user_param, view.gist) %>">
              <%= primer_octicon(:"code-square") %>
              <%= view.file_count_info %>
            </a>
          </li>
          <li class="d-inline-block mr-lg-3 mr-2">
            <a class="Link--muted" href="<%= forks_user_gist_path(view.user_param, view.gist) %>">
              <%= primer_octicon(:"repo-forked") %>
              <%= view.fork_count_info %>
            </a>
          </li>
          <li class="d-inline-block mr-lg-3 mr-2">
            <a class="Link--muted" href="<%= user_gist_path(view.user_param, view.gist, :anchor => "comments") %>">
              <%= primer_octicon(:comment) %>
              <%= view.comment_count_info %>
            </a>
          </li>
          <li class="d-inline-block">
            <a class="Link--muted" href="<%= stargazers_gist_path(view.user_param, view.gist) %>">
              <%= primer_octicon(:star) %>
              <%= view.star_count_info %>
            </a>
          </li>
        </ul>
        <div class="flex-order-1 col-lg-7 col-12 d-flex">
          <div class="d-lg-inline-block d-none v-align-top mt-1">
            <% if view.anonymous? %>
              <%= anonymous_gist_avatar %>
            <% else %>
              <%= linked_avatar_for(view.owner, 30) %>
            <% end %>
          </div>
          <div class="d-inline-block px-lg-2 px-0">
            <span>
              <% if view.anonymous? %>
                <strong>anonymous</strong>
              <% else %>
                <%= profile_link(view.owner) %>
              <% end %>
                / <a href="<%= user_gist_path(view.user_param, view.gist) %>"><strong class="css-truncate-target"><%= view.gist.title %></strong></a>
              <% if view.gist.secret? %>
                <%= render Primer::Beta::Label.new(title: "Only those with the link can see this gist.") do %>
                  Secret
                <% end %>
              <% end %>
            </span>
            <div class="color-fg-muted f6">
              <%= view.date_info_text %>
              <%= render Primer::Beta::RelativeTime.new(datetime: view.date_info_date, tense: :past) %>
              <% if view.gist.parent.present? %>
                <span>&mdash; forked from <%= link_to "#{view.gist.parent.user_param}/#{view.gist.parent.title}", user_gist_path(view.gist.parent.user_param, view.gist.parent), class: "Link--inTextBlock" %></span>
              <% end %>
            </div>
            <% if view.formatted_description.present? %>
              <span class="f6 color-fg-muted">
                <%= view.formatted_description %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
      <% if view.can_show_snippet? %>
        <%= render "gists/gists/blob", view: create_view_model(
          Gists::BlobView,
          :blob => view.blob,
          :gist => view.gist,
          :show_header => false,
        ) %>
      <% else %>
        <div class="file-box">
          <div id="file-readme-md" class="file">
            <div id="readme" class="readme blob">
              <article class="markdown-body entry-content" itemprop="mainContentOfPage">
              We couldn’t find that file to show.
              </article>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
