<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info \
    title: view.page_title,
    class: view.page_class,
    dashboard_pinnable_item_id: view.gist.global_relay_id
%>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle 'editor' %>
<% end %>

<%= render layout: "gists/page_head" do %>
  <%= render "gists/gists/edit_page_head", view: view %>
<% end %>

<%= render layout: "layouts/gists_container" do %>
  <%= render "gists/gists/file_template", :view => view %>

  <%= form_for view.form_objects, html: {
    class: "js-blob-form", method: :put } do |f| %>

  <div>
    <div id="gists" class="js-gist-files">
      <%= render "gists/gists/form_header", view: view %>

      <% view.files_for_view.each do |name, value, oid, blob| %>
        <div class="js-gist-file">
          <%- unless oid.blank? %>
            <div class="js-gist-deleted">
              <input type="hidden" name="gist[contents][][name]"
                value="<%= name %>" disabled>
              <input type="hidden" name="gist[contents][][oid]"
                value="<%= oid %>" disabled>
              <input type="hidden" name="gist[contents][][value]"
                value="" disabled>
              <input type="hidden" name="gist[contents][][delete]"
                value="true" disabled>
            </div>
          <%- end %>
          <%= render "editors/file", view: create_view_model(
            Gists::EditorView,
            :gist => view.gist,
            :blob => blob,
            :filename => name,
            :allow_contents_unchanged => view.allow_contents_unchanged,
            :default_filename => view.default_filename,
            :contents => value,
            :oid => oid,
            :confirm_unload => 'Your changes will be lost.'
          ) %>
        </div>
      <% end %>
    </div>

    <%= render Primer::ButtonComponent.new(float: :left, classes: "js-add-gist-file") do %>Add file<% end %>

    <div class="form-actions">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>
        Update <%= view.visibility_text %> gist
      <% end %>
      <%= link_to "Cancel", user_gist_path(view.user_param, view.gist), :class => "btn btn-danger" %>
    </div>
  </div>
  <% end %>

  <%= form_tag gists_previews_path, class: "d-none js-blob-preview-form" do %>
    <input type="hidden" name="blobname">
    <input type="hidden" name="code">
  <% end %>
<% end %>
