<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%
  page_info \
    title: view.page_title,
    dashboard_pinnable_item_id: view.gist.global_relay_id
%>

<% if logged_in? && current_user.is_enterprise_managed? %>
  <%= render "gists/banner" %>

  <%= render layout: "gists/page_head" do %>
    <div class="container-lg px-3 mb-3">
    <%=
      render(Primer::Beta::Flash.new(scheme: :warning, icon: "alert")) do
        "Gists for Enterprise Managed Users are disabled."
      end
    %>
    </div>
  <% end %>
<% else %>
  <%= render "gists/banner" %>

  <%= render layout: "gists/page_head" do %>
    <%= render "gists/gists/page_head", view: view %>
  <% end %>

  <%= render layout: "layouts/gists_container" do %>
    <div>
      <h2>Forks</h2>

      <div class="tabnav">
        <nav class="tabnav-tabs" aria-label="Forks">
          <%= selected_link_to "", :class => "tabnav-tab", :highlight => :forks_main do %>
            All
            <% if view.has_forks? %>
              <%= render Primer::Beta::Counter.new(count: view.fork_count) %>
            <% end %>
          <% end %>
        </nav>
      </div>

      <% if view.has_forks? %>
        <ol class="Box border-0 list-style-none">
        <% view.active_forks.each do |fork| %>
          <li class="Box-row px-0">
            <%= linked_avatar_for(fork.owner, 26, link_class: "avatar avatar-user mr-1") %>
            <%= profile_link(fork.owner, class: "text-bold") %>
            <% if fork.owner.profile_name %>
              <em class="text-normal color-fg-muted">(<%= fork.owner.profile_name %>)</em>
            <% end %>
            <span class="float-right">
              <%= render Primer::Beta::Label.new(mr: 2) do %>Modified<% end %>
              <a href="<%= user_gist_path(fork.user_param, fork) %>" class="btn btn-sm">
                <%= primer_octicon(:"git-branch") %>
                View fork
              </a>
            </span>
          </li>
        <% end %>
        <% view.stale_forks.each do |fork| %>
          <li class="Box-row px-0">
            <%= linked_avatar_for(fork.owner, 26, link_class: "avatar avatar-user mr-1") %>
            <%= profile_link(fork.owner, class: "text-bold") %>
            <% if fork.owner.profile_name %>
              <em class="text-normal color-fg-muted">(<%= fork.owner.profile_name %>)</em>
            <% end %>
            <span class="float-right">
              <a href="<%= user_gist_path(fork.user_param, fork) %>" class="btn btn-sm">
                <%= primer_octicon(:"git-branch") %>
                View fork
              </a>
            </span>
          </li>
        <% end %>
        </ol>
      <% else %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_visual_icon(icon: "repo-forked") %>

          <% c.with_heading(tag: :h2).with_content(
            "Be the first to fork this gist."
          )%>

          <% c.with_secondary_action(href: "#{GitHub.help_url}/articles/forking-and-cloning-gists").with_content("Learn more about forking Gists") %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
