<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info title: view.page_title, class: view.page_class %>

<% if logged_in? && current_user.is_enterprise_managed? %>
  <%= render layout: "gists/page_head" do %>
    <div class="container-lg px-3 mb-3">
    <%=
      render(Primer::Beta::Flash.new(scheme: :warning, icon: "alert")) do
        "Gists for Enterprise Managed Users are disabled."
      end
    %>
    </div>
  <% end %>
<% else %>
  <% if logged_in? && view.has_recent_gists? %>
    <%= render layout: "gists/page_head" do %>
      <div class="container-lg px-3 mb-3">
        <ul class="list-style-none d-flex flex-items-center">
          <% view.recent_gists.each do |recent| %>
            <li class="flex-auto mr-3 d-md-flex d-none">
              <% if recent.secret? %>
                <%= primer_octicon(:lock, mr: 2, mt: 1, float: :left, color: :muted) %>
              <% else %>
                <%= primer_octicon(:"code-square", mr: 2, mt: 1, float: :left, color: :muted) %>
              <% end %>
              <a class="css-truncate d-block" href="<%= user_gist_path(recent.user, recent) %>">
                <span class="text-bold css-truncate-target"><%= recent.title %></span>
                <span class="f6 d-block css-truncate">
                  <% if recent.description.blank? %>
                    <span class="color-fg-muted">No description.</span>
                  <% else %>
                    <span class="color-fg-muted css-truncate-target">
                      <%= strip_tags(formatted_gist_description(recent)) %>
                    </span>
                  <% end %>
                </span>
              </a>
            </li>
          <% end %>
          <li class="flex-auto text-bold text-right lh-condensed">
            <a class="btn btn-block d-md-none d-block" href="<%= user_gists_path(current_user) %>">View your gists</a>
            <a class="d-none d-md-block" href="<%= user_gists_path(current_user) %>">View your gists</a>
          </li>
        </ul>
      </div>
    <% end %>
  <% else %>
    <div class="gist-welcome gist-banner text-center">
      <div class="container-lg px-3">
        <h1><%= I18n.t("gists.banner") %></h1>
      </div>
    </div>
  <% end %>

  <% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
    <%= javascript_bundle "editor" %>
  <% end %>

  <%= render layout: "layouts/gists_container" do %>
    <%= render "gists/gists/file_template", view: view %>

    <%= form_for view.gist, html: {
      class: "js-blob-form",
      "aria-label": "Create gist"
    } do |f| %>

    <div>
      <div id="gists" class="js-gist-files">
        <%= render "gists/gists/form_header", view: view %>

        <% view.files_for_view.each do |name, value, _, _| %>
          <div class="js-gist-file">
            <%= render "editors/file", view: create_view_model(
              Gists::EditorView,
              gist: view.gist,
              filename: name,
              allow_contents_unchanged: view.allow_contents_unchanged,
              default_filename: view.default_filename,
              contents: value,
              confirm_unload: "Your changes will be lost.",
            ) %>
          </div>
        <% end %>
      </div>

      <div class="d-flex flex-items-center flex-justify-between">
        <%= render Primer::ButtonComponent.new(float: :left, classes: "js-add-gist-file") do %>Add file<% end %>

        <%= spamurai_form_signals %>

        <div class="BtnGroup">

          <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, group_item: true, classes: "hx_create-pr-button js-sync-select-menu-button", "data-disable-invalid": "", "data-disable-with": "") do %>
            Create <%= view.visibility_text %> gist
          <% end %>
          <details class="details-reset details-overlay select-menu BtnGroup-parent position-relative">
            <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :primary, group_item: true, float: :none, classes: "select-menu-button", "data-disable-invalid": "", "data-disable-with": "", "aria-label": "Select a type of Gist") do %><% end %>
            <details-menu class="select-menu-modal position-absolute right-0 js-sync-select-menu-text" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <label class="select-menu-item" tabindex="0" role="menuitemradio" aria-checked="<%= !view.gist.public? %>">
                <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                <%= radio_button_tag "gist[public]", "0", !view.gist.public? %>
                <div class="select-menu-item-text">
                  <span class="select-menu-item-heading">Create secret gist</span>
                  <span class="description text-normal">
                    Secret gists are hidden by search engines but visible to anyone you give the URL to.
                  </span>
                  <span data-menu-button-text hidden>
                    Create secret gist
                  </span>
                </div>
              </label>
              <label class="select-menu-item" tabindex="0" role="menuitemradio" aria-checked="<%= view.gist.public? %>">
                <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                <%= radio_button_tag "gist[public]", "1", view.gist.public? %>
                <div class="select-menu-item-text">
                  <span class="select-menu-item-heading">Create <%= view.public_gist_label %> gist</span>
                  <span class="description text-normal">
                    <%= view.public_gist_description %>
                  </span>
                  <span data-menu-button-text hidden>
                    Create <%= view.public_gist_label %> gist
                  </span>
                </div>
              </label>
            </details-menu>
          </details>
        </div>

      </div>
    </div>
    <% end %>
  <% end %>

  <%= form_tag gists_previews_path, class: "d-none js-blob-preview-form" do %>
    <input type="hidden" name="blobname">
    <input type="hidden" name="code">
  <% end %>
<% end %>
