<%# rubocop:disable Lint/InstanceVariable %>
<%
  page_info \
    title: view.page_title,
    dashboard_pinnable_item_id: view.gist.global_relay_id

  @current_branch_or_tag_name = "master"
%>

<% content_for :head do %>
  <%= discover_feed :atom, user_gists_path(view.owner, :format => :atom) if view.owner %>
  <meta name="diff-view" content="<%= diff_view %>">
<% end %>

<%= render "gists/banner" %>

<%= render layout: "gists/page_head" do %>
  <%= render "gists/gists/page_head", view: view %>
<% end %>

<%= render layout: "layouts/gists_container" do %>
  <div class="mb-4 clearfix">
    <%= render "gists/gists/diff_view_toggle" %>

    <h2 class="gh-header-title">Revisions</h2>
  </div>

  <ol class="list-style-none">
    <% view.file_list_views.each do |file_list_view| %>
      <li class="mb-4">
        <div class="d-flex flex-md-row flex-column">
          <span class="mb-md-0 mb-1 flex-1">
            <%= linked_avatar_for_commit_actor file_list_view.commit, :author, 24, :class => 'avatar d-md-inline-block d-none', :repository => view.gist %>
            <strong>
              <%= file_list_view.commit_author_link %>
              <%= file_list_view.revised_verb %>
            </strong>
            this gist <%= time_ago_in_words_js file_list_view.commit.authored_date %>.
          </span>

          <% unless file_list_view.created? %>
            <span>
              <%= primer_octicon(:"file-diff") %>
              <% if file_list_view.diffs.any? %>
                <strong><%= pluralize file_list_view.diffs.count, "changed file" %></strong>
                with
                <strong><%= pluralize file_list_view.diffs.sum(&:additions), "addition" %></strong>
                and
                <strong><%= pluralize file_list_view.diffs.sum(&:deletions), "deletion" %></strong>.
              <% else %>
                No changes.
              <% end %>
            </span>
          <% end %>
        </div>

        <%= render :partial => "diff/diff", :locals => { :file_list_view => file_list_view, :commit_id => file_list_view.commit.oid, :disable_render => true } %>
      </li>
    <% end %>
  </ol>

  <div class="paginate-container">
    <%= simple_paginate(view.commits, :next_label => "Older", :previous_label => "Newer") %>
  </div>
<% end %>
