<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  page_info \
    title: view.page_title,
    dashboard_pinnable_item_id: view.gist.global_relay_id
%>

<% if logged_in? && current_user.is_enterprise_managed? %>
  <%= render "gists/banner" %>

  <%= render layout: "gists/page_head" do %>
    <div class="container-lg px-3 mb-3">
    <%=
      render(Primer::Beta::Flash.new(scheme: :warning, icon: "alert")) do
        "Gists for Enterprise Managed Users are disabled."
      end
    %>
    </div>
  <% end %>
<% else %>
  <%= render "gists/banner" %>

  <%= render layout: "gists/page_head" do %>
    <%= render "gists/gists/page_head", view: view %>
  <% end %>

  <%= render layout: "layouts/gists_container" do %>
    <div>
      <%= render(Primer::Beta::Subhead.new) do |component| %>
        <% component.with_heading(tag: :h2) do %>
          Stargazers
        <% end %>
      <% end %>
      <div class="tabnav">
        <nav class="tabnav-tabs" aria-label="Stargazers">
          <%= selected_link_to stargazers_gist_path, :class => "tabnav-tab", :highlight => :stargazers_main do %>
            All
            <% if view.stargazers.count.present? %>
              <%= render Primer::Beta::Counter.new(count: view.gist.stargazer_count(current_user, true)) %>
            <% end %>
          <% end %>
        </nav>
      </div>

      <% if view.stargazers.any? %>
        <ol class="d-block d-md-flex flex-wrap gutter list-style-none">
          <% view.stargazers.each do |user| %>
            <%= render :partial => "users/follow_list", :object => user %>
          <% end %>
        </ol>
        <div class="paginate-container">
          <%= simple_paginate view.stargazers %>
        </div>
      <% else %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_visual_icon(icon: "star") %>

          <% c.with_heading(tag: :h2).with_content(
            "Be the first to star this gist."
          )%>

          <% c.with_secondary_action(href: "#{GitHub.help_url}/get-started/writing-on-github/editing-and-sharing-content-with-gists/saving-gists-with-stars").with_content("Learn more about starring Gists") %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
