<affected-product-row class="d-block" data-targets="affected-product-list.rows" data-initial-ecosystem="<%= form.object.ecosystem %>">
  <div class="px-2 color-bg-subtle rounded-2 border color-border-muted position-relative <%= classes %>" <%= test_selector(test_selector_value) %>>
    <% if include_destroy_input? %>
      <%= form.hidden_field(
        :_destroy,
        {
          data: { target: "affected-product-row.destroyInput" },
          index: index,
          value: false
        }.compact.merge({ id: nil })
      ) %>
    <% end %>

    <div class="d-flex flex-items-end flex-wrap">
      <dl class="form-group col-12 col-sm-5 pr-sm-2">
        <dt>
          <%= form.label :ecosystem, "Ecosystem" + (require_ecosystem? ? " *" : ""), { id: ecosystem_label_id, index: index }.compact %>
          <%= render Primer::Beta::Octicon.new(id: "ecosystem-info-icon", icon: "info", mt: 1, color: :muted, float: :right) %>
          <%= render Primer::Alpha::Tooltip.new(for_id: "ecosystem-info-icon", type: :description, text: "Don't see the ecosystem you're looking for? It may not be supported yet.", direction: :n) %>
        </dt>
        <dd class="d-flex">
          <%= form.select(
            :ecosystem,
            ecosystem_selection_options,
            { prompt: "Select an ecosystem", selected: ecosystem_selected },
            {
              required: require_ecosystem?,
              class: "flex-auto js-ecosystem-selection",
              data: {
                action: "change:affected-product-row#showUnsupportedEcosystemMessage change:affected-product-row#showPackageUrlElement",
                target: "affected-product-row.ecosystemSelectElement",
                targets: "affected-product-row.inputs"
              },
              index: index
            }.compact # to remove property index: nil so it doesn't add an empty bracket [] infix to the name attribute
          ) %>
          <%= helpers.text_field_tag(
            ecosystem_other_field_name,
            ecosystem_other_value,
            {
              class: "flex-auto min-width-0 ml-2 mr-0 js-ecosystem-other",
              "aria-labelledby": "#{ecosystem_label_id} #{ecosystem_id}",
              hidden: ecosystem_other_hidden,
              data: {
                target: "affected-product-row.ecosystemOtherInputElement",
                targets: "affected-product-row.inputs"
              },
            }
          ) %>
        </dd>
      </dl>

      <%= form.text_group(
        "Package name",
        package_field,
        {
          group_class: "col-12 col-sm-7 mt-0",
          class: "form-control width-full js-advisory-package-name",
          field: {
            data: {
              action: "blur:affected-product-row#handleInputBlur change:affected-product-row#showPackageUrlElement",
              target: "affected-product-row.packageInputElement",
              targets: "affected-product-row.inputs"
            },
            placeholder: "e.g. example.js",
          },
          index: index,
          error: helpers.error_for(affected_product, package_field, human_field: "Package name")
        }.compact
      ) %>
    </div>

    <div class="d-flex flex-items-end flex-wrap">
      <%= form.text_group(
        "Affected versions",
        affected_versions_field,
        {
          group_class: "col-6 col-sm-5 pr-2 mt-0",
          class: "form-control",
          field: {
            data: {
              action: "blur:affected-product-row#handleInputBlur",
              targets: "affected-product-row.inputs"
            },
            placeholder: "e.g. < 1.2.3",
          },
          index: index,
          error: helpers.error_for(affected_product, affected_versions_field, human_field: "Affected versions")
        }.compact
      ) %>

      <%= form.text_group(
        "Patched versions",
        patches_field,
        {
          group_class: "col-6 col-sm-7 mt-0",
          class: "form-control width-full",
          field: {
            data: {
              action: "blur:affected-product-row#handleInputBlur",
              targets: "affected-product-row.inputs"
            },
            placeholder: "e.g. 1.2.3",
          },
          index: index,
          error: helpers.error_for(affected_product, patches_field, human_field: "Patched versions")
        }.compact
      ) %>
    </div>

    <div class="package-url-msg" data-target="affected-product-row.packageUrlElement"></div>

    <template data-target="affected-product-row.packageLinkFoundTemplate">
      <div class="mt-1 mb-2 f5 package-url-found">
        <%= render Primer::Beta::Octicon.new(
          icon: :"check-circle-fill",
          color: :success,
          mr: 2,
        ) %>Package name found on
        <a href="{{packageUrl}}" target="_blank" rel="" class="package-link">{{ecosystemLabel}}</a>.
      </div>
    </template>

    <template data-target="affected-product-row.packageLinkNotFoundTemplate">
      <div class="mt-1 mb-2 f5 package-url-not-found">
        <%= render Primer::Beta::Octicon.new(
          icon: :"alert",
          color: :attention,
          mr: 2,
        ) %>Exact package name not found on {{ecosystemLabel}}. You can still submit this report.
      </div>
    </template>

    <% if expose_affected_functions? %>
      <div <%= test_selector "repository-advisory-vuln-functions-form" %>>
        <%= form.text_area_group(
          "Vulnerable functions (One per line)",
          :affected_functions,
          {
            value: affected_product.affected_functions&.join("\n"),
            style: "height: auto;min-height: auto",
            rows: "3",
            group_class: "mt-0",
            placeholder: "Fully qualified function e.g. django.db.models.QuerySet.explain",
            maxlength: "1024",
            index: index,
            error: helpers.error_for(affected_product, :affected_functions, human_field: "Vulnerable function(s)")
          }.compact
        )%>
        <div class="color-fg-subtle mt-2 mb-3 f6"
          data-target="affected-product-row.unsupportedEcosystemMessageElement"
          hidden
        >
          Affected functions in this this ecosystem are accepted but not fully supported at the moment.
          <a class="Link--inTextBlock" href="https://docs.github.com/code-security/dependabot/dependabot-alerts/viewing-and-updating-dependabot-alerts#about-the-detection-of-calls-to-vulnerable-functions">Learn more about the detection of calls to vulnerable functions</a>.
        </div>
      </div>
    <% end %>

    <% if show_delete_button? %>
      <button type="button" class="btn-octicon btn-octicon-danger position-absolute top-0 right-0 p-2" data-action="click:affected-product-row#delete" aria-label="Remove affected product">
        <%= render Primer::Beta::Octicon.new("x") %>
      </button>
    <% end %>
  </div>
</affected-product-row>
