<div class="Bow-row border-0 clearfix <%= classes %>" <%= test_selector("affected-product-details-component") %>>
  <div class="float-left col-12 col-md-6 pr-md-2 <%= hide_affected_functions_column ? "" : "col-lg-4" %>">
    <% unless hide_headers %>
      <h2 class="text-small color-fg-muted mb-1"><%= package_label %></h2>
    <% end %>

    <div <%= test_selector("advisory-metadata-packages") %>>
      <% if show_ecosystem_icon_and_link? %>
        <span <%= test_selector("affected-product-details-component-ecosystem-icon") %>>
          <%= render Dependabot::PackageEcosystemIconComponent.new(package_ecosystem: normalized_ecosystem_name) %>
        </span>
      <% end %>
      <span class="f4 <%= class_for(package, text_bold: true) %>"><%= presented_package_value %></span><% if show_suggest_link && !package %><span class="f4">—
          <%= render(Primer::Beta::Link.new(href: new_global_advisory_improvement_path, data: test_selector_hash("affected-product-details-component-suggest-link"), muted: true)) { "Suggest a package" } %>
        </span>
      <% end %>
      <% if show_ecosystem? %>
        <span class="color-fg-muted f4 d-inline-flex" <%= test_selector("affected-product-details-component-ecosystem") %>>
          <% if show_ecosystem_icon_and_link? %>
            (<%= render(Primer::Beta::Link.new(href: global_advisories_path(query: "ecosystem:#{ecosystem.downcase}"), muted: true)) { AdvisoryDB::Ecosystems.label(ecosystem) } %>)
          <% else %>
            (<%= AdvisoryDB::Ecosystems.label(ecosystem) %>)
          <% end %>
        </span>
      <% end %>
    </div>
  </div>

  <div class="float-left col-6 col-md-3 py-2 py-md-0 pr-2">
    <% unless hide_headers %>
      <h2 class="text-small color-fg-muted mb-1">Affected versions</h2>
    <% end %>

    <% affected_versions.each do |affected_version| %>
      <div class="f4 <%= class_for(affected_version) %>" <%= test_selector("advisory-metadata-affected-versions") %>><%= presented_value_for(affected_version) %></div>
    <% end %>
  </div>

  <div class="float-left col-6 col-md-3 py-2 py-md-0 <%= hide_affected_functions_column ? "" : "col-lg-2 pr-lg-2" %>">
    <% unless hide_headers %>
      <h2 class="text-small color-fg-muted mb-1">Patched versions</h2>
    <% end %>

    <% patched_versions.each do |patched_version| %>
      <div class="f4 <%= class_for(patched_version) %>" <%= test_selector("advisory-metadata-patched-versions") %>><%= presented_value_for(patched_version) %></div>
    <% end %>
  </div>

  <% unless hide_affected_functions_column %>
    <div class="float-left col-12 col-lg-3 pt-md-2 pt-lg-0" <%= test_selector("affected-product-details-component-affected-functions-section") %>>
      <% unless hide_headers %>
        <h2 class="text-small color-fg-muted mb-1">Vulnerable functions</h2>
      <% end %>

      <% affected_functions.each do |affected_function| %>
        <div class="f4 <%= class_for(affected_function) %>" <%= test_selector("affected-product-details-component-affected-function") %>><%= presented_value_for(affected_function) %></div>
      <% end %>
    </div>
  <% end %>
</div>
