<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="mb-3" <%= test_selector(metric[:code], name: "metric-selection-field") %> role="radiogroup" aria-labelledby="repository_advisory_metric_selection_<%= metric[:code] %>_label">
  <div class="mb-1">
    <label class="text-normal" id="repository_advisory_metric_selection_<%= metric[:code] %>_label"><%= metric[:name] %></label>
  </div>
  <metric-selection
    class="BtnGroup d-flex <%= metric_selection_classes %>"
    data-metric-code="<%= metric[:code] %>"
    data-targets="severity-calculator.metricSelectionElements"
    data-action="metricSelectionChange:severity-selection#handleMetricSelectionChange"
    data-selected-value
  >
    <% metric[:choices].each_with_index do |choice, index| %>
      <button
        class="btn btn-sm BtnGroup-item flex-1"
        type="button"
        data-value="<%= choice[:code] %>"
        data-action="click:metric-selection#selectFromClick click:severity-tracking#addCVSSCalculatorInteraction"
        data-targets="metric-selection.choiceElements"
        aria-checked="false"
        aria-describedby="repository_advisory_metric_selection_<%= metric[:code] %>_label"
        role="radio"
        tabindex="<%= index == 0 ? '0' : '-1' %>"
        <%= test_selector("metric-selection-choice") %>
      >
      <%= choice[:name] %>
      </button>
    <% end %>
  </metric-selection>
</div>
