<% metric_sub_category.each_key do |metric_sub_category_name| %>
  <%= render(Primer::Beta::Text.new(tag: :h4, mt: 3, mb: 3)) do %>
    <%= Advisories::CvssCalculatorComponent.sub_category_names_to_string(metric_sub_category_name) %>
  <% end %>
  <% metric_sub_category[metric_sub_category_name].each do |metric_sub_category_selections| %>
    <div class="mb-3" <%= test_selector(metric_sub_category_selections[:code], name: "metric-selection-field-next") %>>
      <div class="mb-1">
        <label
          class="text-bold"
          id="repository_advisory_metric_selection_<%= metric_sub_category_selections[:code] %>_label">
          <%= metric_sub_category_selections[:name] %>
        </label>
      </div>
      <cvss-calculator-metric
        class="d-flex <%= metric_selection_classes %>"
        data-metric-code="<%= metric_sub_category_selections[:code] %>"
        data-targets="cvss-calculator.singleMetricSelections"
        data-action="metricSelectionChange:cvss-calculator#handleMetricSelectionChange"
        data-selected-value
      >
        <%= render(Primer::Alpha::SegmentedControl.new(
          "aria-label": metric_sub_category_name,
          # Commenting this out allows correct sizing without overriding props for truncation
          # Maybe we should talk to primer folks about what we should do here?
          # full_width: true,
          size: :small,
          mt: 2,
          mb: 2,
        )) do |component| %>
          <% metric_sub_category_selections[:choices].each do |choice| %>
            <% component.with_item(
              classes: ["metric-selection-next-choice"],
              label: choice[:name],
              selected: choice[:code] == metric_sub_category_selections[:default_choice_code],
              data: {
                value: choice[:code],
                targets: "cvss-calculator-metric.choiceElements",
                action: "click:cvss-calculator-metric#selectFromClick click:severity-tracking#addCVSSCalculatorInteraction",
              },
              test_selector: "metric-selection-choice",
            ) %>
          <% end %>
        <% end %>

      </cvss-calculator-metric>
      <%= render(Primer::Alpha::Dialog.new(
        title: metric_sub_category_selections[:name],
        size: :small,
        position: :center,
        position_narrow: :fullscreen,
      )) do |component| %>
        <% metric_sub_category_selections[:choices].each do |choice| %>
          <% component.with_show_button(
            "aria-label": "#{metric_sub_category_selections[:name]} description",
            scheme: :link,
            font_size: 6,
          ) do %>
            <%= "Learn more about #{metric_sub_category_selections[:name].downcase.gsub(/\s\(.+/, '')}" %>
          <% end %>
          <% component.with_header(size: :medium) %>
          <% component.with_body do %>
            <div class="mb-3">
              <%= metric_sub_category_selections[:description] %>
            </div>
            <div>
              <% metric_sub_category_selections[:choices].each do |choice| %>
                <ul class="list-style-none">
                  <li class="mb-3">
                    <strong><%= choice[:name] %></strong><%= ": #{choice[:description]}" %>
                  </li>
                </ul>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
