<severity-selection class="d-block <%= classes %>">
  <h4 class="mb-2">Severity</h4>
  <%= render(
    Advisories::SeverityScoreComponent.new(
      classes: "col-12 col-md-4",
      field_name_prefix: field_name_prefix,
      hidden: false,
      root_target: "severity-selection.severityScoreElement",
      score: score,
      score_action_url: calculate_cvss_score_url,
      severity: severity,
      show_score_label: false,
    )
  ) %>
  <div class="d-flex flex-wrap">
    <%= render Advisories::SeveritySelectFieldComponent.new(asterisk_shown: required, form: form, required: required, selected: severity_selected) %>
    <div class="col-12 col-sm-9 form-group mb-2 pl-sm-3" data-target="severity-selection.vectorStringFieldElement" <%= test_selector("#{field_name_prefix}_cvss_v3_field") %>>
      <div class="form-group-header">
        <%= label_tag "#{field_name_prefix}_cvss_v3", "Vector string", class: "d-block" %>
      </div>
      <%= text_field_tag "#{field_name_prefix}[cvss_v3]",
        current_cvss,
        class: "form-control input-block width-full",
        placeholder: cvss_placeholder,
        data: {
          target: "severity-selection.vectorStringInput",
          action: "input:severity-selection#handleVectorStringInput blur:severity-selection#handleVectorStringBlur input:severity-tracking#addCVSSStringInteraction",
        },
        required: severity_selected == "cvss"
      %>
      <p class="note error position-static"
        <%= test_selector("#{field_name_prefix}_cvss_v3_field_error") %>
        data-target="severity-selection.vectorStringError"
        data-error-message="The entered vector string contains an error and cannot populate a score."
        data-empty-cvss-error-message="You must enter a CVSS score or select a severity."
        data-invalid-metric-error-message="{} is not a valid metric"
        data-invalid-metric-value-error-message="{} is not a valid input for metric {}">
          The entered vector string contains an error and cannot populate a score.
      </p>
    </div>
  </div>
    <%= render Advisories::SeverityCalculatorComponent.new(expanded: severity_selected == "cvss", hidden: false, data: { target: "severity-selection.severityCalculatorElement" }) %>
</severity-selection>
