<severity-selection-next class="d-block <%= classes %>">
  <h4 class="mb-2">Severity</h4>
  <%= render(
    Advisories::SeverityScoreComponent.new(
      classes: "col-12 col-md-4",
      field_name_prefix: field_name_prefix,
      hidden: false,
      root_target: "severity-selection-next.severityScore",
      score: score,
      score_action_url: calculate_cvss_score_url,
      severity: severity,
      show_score_label: false,
    )
  ) %>
  <div class="d-flex flex-wrap">
    <%= render Advisories::SeveritySelectFieldNextComponent.new(asterisk_shown: required, form: form, required: required, selected: severity_selected) %>
    <div class="col-12 col-sm-9 form-group mb-2 pl-sm-3" data-target="severity-selection-next.vectorStringField" <%= test_selector("#{field_name_prefix}_cvss_v4_field") %>>
      <div class="form-group-header">
        <%= label_tag "#{field_name_prefix}_cvss_v4", "Vector string", class: "d-block" %>
      </div>
      <%= text_field_tag "#{field_name_prefix}[cvss_v4]",
        current_cvss,
        class: "form-control input-block width-full",
        placeholder: cvss_placeholder,
        data: {
          target: "severity-selection-next.vectorStringInput",
          action: "input:severity-selection-next#handleVectorStringInput blur:severity-selection-next#handleVectorStringBlur input:severity-tracking#addCVSSStringInteraction",
        },
        required: severity_selected == "cvss"
      %>
      <p class="note error position-static"
        <%= test_selector("#{field_name_prefix}_cvss_v4_field_error") %>
        data-target="severity-selection-next.vectorStringError"
        data-error-message="The entered vector string contains an error and cannot populate a score."
        data-empty-cvss-error-message="You must enter a CVSS score or select a severity."
        data-invalid-metric-error-message="{} is not a valid metric"
        data-invalid-metric-value-error-message="{} is not a valid input for metric {}">
          The entered vector string contains an error and cannot populate a score.
      </p>
    </div>
  </div>
  <details
    class="color-bg-subtle rounded border color-border-muted p-2 p-lg-3 Details-element details-reset"
    <%= "open" if severity_selected == "cvss" %>
    data-target="severity-selection-next.cvssCalculatorExpander"
    data-action="toggle:severity-selection-next#setDefaultVectorString"
  >
    <summary>
      <span class="Details-content--open"><%= render Primer::Beta::Octicon.new(icon: "chevron-down") %></span>
      <span class="Details-content--closed"><%= render Primer::Beta::Octicon.new(icon: "chevron-right") %></span>
      <span class="text-bold">Calculator</span>
    </summary>
    <%= render Advisories::CvssCalculatorComponent.new(calculator_target: "severity-selection-next.cvssCalculator") %>
  </details>
</severity-selection-next>
