<severity-calculator <%= "hidden" if @hidden %> <%= data_attributes %>>
  <details
    class="color-bg-subtle rounded border color-border-muted p-2 p-lg-3 Details-element details-reset"
    <%= "open" if expanded %>
    data-target="severity-calculator.detailsElement"
  >
    <summary>
      <span class="Details-content--open"><%= render Primer::Beta::Octicon.new(icon: "chevron-down") %></span>
      <span class="Details-content--closed"><%= render Primer::Beta::Octicon.new(icon: "chevron-right") %></span>
      <span class="text-bold">Calculator</span>
    </summary>
    <%= render Primer::Beta::Link.new(href: score_documentation_url, target: "_blank", rel: "noopener noreferrer", display: :inline_block, font_size: 6, mt: 2, mx: [nil, nil, 2], test_selector: "cvss-score-documentation-link") do %>
      Learn more about CVSS scoring
    <% end %>
    <div class="d-flex flex-wrap mt-2 mx-md-2 mb-n2">
      <div class="col-12 col-lg-6">
        <% METRICS[0...METRICS.length / 2].each do |metric| %>
          <%= render Advisories::CvssMetricCategorySelectionsComponent.new(metric: metric, metric_selection_classes: "mr-lg-4") %>
        <% end %>
      </div>
      <div class="col-12 col-lg-6">
        <% METRICS[METRICS.length / 2...METRICS.length].each do |metric| %>
          <%= render Advisories::CvssMetricCategorySelectionsComponent.new(metric: metric) %>
        <% end %>
      </div>
    </div>
  </details>
</severity-calculator>
