<severity-score class="<%= classes %>" data-target="<%= root_target %>" <%= "hidden" if hidden %>>
  <div class="form-group d-flex flex-column my-0" data-target="severity-score.scoreFieldElement" <%= test_selector("#{field_name_prefix}_score_field") %>>
    <%= csrf_hidden_input_for score_action_url, data: { target: "severity-score.scoreAuthenticityTokenInput" } %>
    <% if show_score_label %>
      <label class="d-block mb-2 width-full">Score</label>
    <% end %>
    <div class="flex-1 d-flex flex-items-center position-relative" role="region" aria-live="polite" aria-atomic="true">
      <%= render DependabotAlerts::SeverityLabelComponent.new(
        severity: severity || "unknown",
        verbose: false,
        mr: 2,
        hidden: false,
        data: { target: "severity-score.severityLabelElement" },
        test_selector: "severity-label-component"
      ) %>
      <div class="mb-1 <%= "color-fg-muted" if severity.blank? %>" data-target="severity-score.scoreElement" data-action-url="<%= score_action_url %>" data-empty-message="Pending selection" <%= test_selector("severity-score-score") %>><%= score || "Pending selection" %></div>
      <p class="note error mt-5">We were not able to calculate your score. Please try changing the vector string again.</p>
    </div>
  </div>
</severity-score>
