<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<% organization_login = current_organization.display_login %>

<li class="table-list-item js-team">
  <div class="table-list-cell ldap-list-team-name flush-left">
    <div class="team-name-placeholder edit-hide">
      <span class="edit js-edit-team tooltipped tooltipped-n" aria-label="Edit team name"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
        <%= render(Primer::Beta::Octicon.new(icon: "pencil")) %>
      </span>
      <strong class="team-name"><a href="<%= team_path(team) %>"><%= team.name %></a></strong>
      <span class="ldap-group-dn"><%= team.ldap_dn %></span>
    </div>

    <div class="team-name-field edit-fields">
      <%= form_tag team_path(team), method: :put, class: "js-team-form" do %>
        <input type="hidden" name="team[ldap_dn]" value="<%= team.ldap_dn %>">
        <dl class="form-group m-0">
          <dd class="d-flex">
            <% check_url = check_team_name_path(current_organization, team_slug: team.slug) %>
            <auto-check required src="<%= check_url %>" class="flex-auto mr-2">
              <input
                name="team[name]"
                type="text"
                class="form-control js-team-name-field width-full"
                value="<%= team.name %>"
                required
                aria-label="Team name">
              <%= csrf_hidden_input_for check_url %>
            </auto-check>
            <%= render Primer::ButtonComponent.new(type: :submit, mr: 2, "data-disable-invalid": "", "data-disable-with": "Saving…") do %>Save<% end %>
            <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-cancel-team-edit") do %>or cancel<% end %>
          </dd>
        </dl>
      <% end %>
    </div>
  </div>

  <div class="table-list-cell ldap-mention-as">
    <span>@<%= organization_login %>/</span><strong><%= team.slug %></strong>
  </div>

  <%= form_tag team_path(team), :method => :delete, :class => "table-list-cell text-right flush-right js-team-remove-group" do %>
    <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, scheme: :danger) do %>Remove<% end %>
  <% end %>
</li>
