<%# erblint:counter GoogleAnalyticsDeprecation 4 %>
<div class="d-flex py-4" data-hpc>
  <%= primer_octicon(:"mark-github", height: 40, color: :muted, mr: 3, "aria-label": "GitHub") %>
  <div class="d-flex flex-column width-full">
    <div>
      <div class="d-flex flex-justify-between flex-items-center mb-1">
        <div>
          Welcome to the <strong><%= org.display_login %></strong> organization!
        </div>
        <span class="f6 color-fg-muted">
          <%= time_ago_in_words org.created_at %>
        </span>
      </div>
    </div>
    <div>
      <a href="<%= teams_path(org) %>" class="d-block" data-ga-click="Dashboard, click, Welcome link:view-teams context:organization role:member">View your teams</a>
      <a href="<%= user_path(org) %>" class="d-block" data-ga-click="Dashboard, click, Welcome link:org-profile context:organization role:member">Check out <%= org.display_login %>’s public profile</a>
      <a href="/" class="d-block" data-ga-click="Dashboard, click, Welcome link:user-dashboard context:organization role:member">Return to your personal dashboard</a>
      <a href="<%= GitHub.help_url %>" class="d-block" data-ga-click="Dashboard, click, Welcome link:learn-more context:organization role:member">Learn more about Git and GitHub</a>
    </div>
  </div>
</div>
