<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info responsive: false, title: "Import LDAP groups" %>

<% empty = ldap_teams.empty? %>

<%= render "orgs/header", view: create_view_model(
  Orgs::HeaderView,
  organization: current_organization,
  selected_nav_item: :teams
) %>

<div class="container js-ldap-import-groups-container ldap-import-groups-container <%= "is-empty" if empty %>"><%# erblint:disable DeprecatedCustomCss %>
  <div class="subnav">
    <%= form_tag teams_path(current_organization), class: "js-ldap-group-adder", style: "width: 50%;" do %>
      <input type="hidden" name="team[ldap_dn]" class="js-team-ldap-dn-field">
      <dl class="form-group m-0">
        <dd>
          <div class="input-group">
            <auto-complete class="d-block auto-search-group js-import-ldap-group-completer" src="<%= group_suggestions_path(current_organization) %>" for="ldap-team-import-results">
              <input
                type="text"
                name="team[name]"
                class="form-control subnav-search-input input-contrast auto-search-input js-team-ldap-group-field"
                placeholder="Search and import an LDAP group"
                aria-label="Search and import an LDAP group"
                required
                autofocus>
              <%= primer_octicon(:search) %>
              <ul id="ldap-team-import-results" class="autocomplete-results"></ul>
            </auto-complete>
            <span class="input-group-button">
              <%= render Primer::ButtonComponent.new(type: :submit, classes: "js-auto-complete-button", disabled: true, "data-disable-with": "Importing…") do %>
                Import
              <% end %>
            </span>
          </div>
          <div class="error">This group has already been imported.</div>
        </dd>
      </dl>
    <% end %>
  </div>

  <ul class="table-list ldap-memberships-list js-ldap-imported-groups">
    <% ldap_teams.each do |team| %>
      <%= render partial: "organizations/import_group", locals: {
            team: team
          } %>
    <% end %>
  </ul>

  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_visual_icon(icon: "people") %>

    <% c.with_heading(tag: :h2) do %>
      Keep your members synchronized.
    <% end %>

    <% c.with_description do %>
      Map your LDAP groups to GitHub teams and we’ll handle member on- and off-boarding.
    <% end %>
  <% end %>

  <div class="form-actions ldap-import-form-actions js-import-form-actions <%= "d-none" if empty %>">
    <a href="<%= teams_path(current_organization) %>" class="btn btn-primary">Finish importing groups</a>
  </div>
</div>
