<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 6 %>
<%
  page_info :title => view.action_text
  organization_name_help_text_options = {
    error: view.login_errors? && "Unable to start trial",
    value: view.login_value,
    class: "js-new-organization-name width-full py-1",
    required: true,
  }
%>

<% if view.organization.errors.any? -%>
  <%= render(Primer::Beta::Flash.new(variant: :danger, full: true, test_selector: "org-trial-error")) do %>
    There were problems starting your trial.
  <% end %>
<% end %>

<div class="p-responsive mt-4 mt-md-8">
  <div class="mb-4 mb-md-8 container-md">
    <%= signup_progress(text: "Tell us about your organization") %>

    <%= signup_h1 "Set up your Enterprise trial" %>

    <div class="f3 color-fg-muted text-center">
      <%= view.description_text %>
    </div>
  </div>
  <div class="container-sm">
    <div <%= test_selector("org-trial-form")%> >
      <%= form_for view.organization, :url => create_org_enterprise_trial_path, method: :post, html: { id: "org-trial-form" } do |f| %>
        <%# Contact Info %>
        <div class="mt-6">
          <div class="f3 text-bold mb-3">Contact information</div>

          <%# Full Name %>
          <dl class="form-group 2 required" <%= test_selector("org-trial-full-name") %>>
            <dt><label class="text-bold" for="full-name-trial" >Full name</label></dt>
            <dd>
              <input
                class="width-full form-control py-1"
                name="company_info[full_name]"
                id="full-name-trial"
                required
              >
            </dd>
          </dl>

          <%# Enterprise Trial: GA attributes for marketing attribution %>
          <input type="hidden" name="user[ga_client_id]" class="js-enterprise-trial-ga-id" value="" data-field="clientId">
          <input type="hidden" name="user[ga_tracking_id]" class="js-enterprise-trial-ga-id" value="" data-field="trackingId">
          <input type="hidden" name="user[ga_user_id]" class="js-enterprise-trial-ga-id" value="" data-field="userId">


          <%# Work/Contact/Billing Email  %>
          <div class="my-2" <%= test_selector("org-trial-billing-email") %>>
            <auto-check
              src="<%= organization_check_billing_email_path %>"
              required
            >
              <%= f.text_group(view.billing_email_label, :billing_email, {
                value: "",
                required: true,
                error: view.email_errors.any? && "#{view.billing_email_label} email " + view.email_errors.first,
                class: "width-full py-1",
              }) %>
              <%= csrf_hidden_input_for organization_check_billing_email_path %>
            </auto-check>
          </div>
        </div>

        <div class="my-6 width-full">
          <div class="f3 text-bold mb-3">Company details</div>
            <%# Company Name  %>
            <div class="width-full" <%= test_selector("org-trial-company-name") %>>
              <%= f.text_group("Company name", :company_name, {
                class: "js-company-name-input width-full py-1",
                required: true,
              }) %>
            </div>

            <%# Industry %>
            <dl class="form-group my-2 required" <%= test_selector("org-trial-industry") %>>
              <dt><label class="text-bold" for="industry-select">Industry</label></dt>
              <dd>
                <%= select_tag("company_info[industry]",
                  options_for_select(Businesses::TrialAccountsHelper::INDUSTRY_OPTIONS),
                  { class: "width-full js-enterprise-trial-industry form-control py-1",
                    id: "industry-select",
                    required: true,
                  }
                )%>
              </dd>
            </dl>

            <%# Other Industry %>
            <dl
              class="form-group my-2 js-enterprise-trial-other-industry-field"
              data-trigger-option-value="Other"
              hidden
              <%= test_selector("org-trial-other-industry") %>
            >
              <dt><label class="text-bold" for="other-industry-trial" >Specify your industry</label></dt>
              <dd>
                <input
                  class="width-full form-control py-1"
                  name="company_info[other_industry]"
                  id="other-industry-trial"
                >
              </dd>
            </dl>

            <%# Number of employees %>
            <dl class="form-group my-2 mb-4 required" <%= test_selector("org-trial-employees-size") %>>
              <dt><label class="text-bold" for="employees-size-select">Number of employees</label></dt>
              <dd>
                <%= select_tag("company_info[employees_size]",
                  options_for_select(Businesses::TrialAccountsHelper::EMPLOYEE_SIZE),
                  { class: "width-full form-control py-1",
                    id: "employees-size-select",
                    required: true,
                  }
                )%>
              </dd>
            </dl>
          </div>

        <%# Terms of Service copy %>
        <% if GitHub.terms_of_service_enabled? %>
          <div class="my-2">
            <input type="hidden" name="terms_of_service_type" value="<%= Billing::EnterpriseCloudTrial::TOS_TYPE %>">
            <div <%= test_selector("org-evaluation-tos") %>>
              <%= check_box_tag "agreed_to_terms", "yes", { :"data-test-selector" => "org-evaluation-tos-checkbox", required: true } %>
              <label for="agreed_to_terms">
                I hereby accept the
                <a class="Link--inTextBlock" href="<%= customer_term_index_path %>" target="_blank" rel="noopener noreferrer">GitHub Customer Agreement</a>
                and confirm that I have the authority to do so on behalf of my organization. For more information about GitHub's privacy practices, see the
                <a class="Link--inTextBlock" href="<%= site_privacy_path %>" target="_blank" rel="noopener">GitHub Privacy Statement</a>.
                We'll occasionally send you account-related emails.
              </label>
            </div>
          </div>
        <% end %>

        <%# Submit %>
        <%= render partial: "signup/button", locals: {
          text: "Start your free trial",
          type: "submit",
          custom_classes: "btn-primary",
          disabled_with: "Starting your free trial",
          test_selector: "trial-org-submit"
        } %>
      <% end %>
      <%# Form end %>
    </div>
  </div>
</div>
