<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<% feed = private_org_feed_path(:atom) %>
<% content_for :head do %>
  <%= auto_discovery_link_tag :atom, feed %>
  <%= stylesheet_bundle "dashboard" %>
<% end %>

<% page_info title: "Dashboard",
             class: "full-width",
             selected_link: home_path,
             dashboard_pinnable_item_id: current_organization.global_relay_id,
             hide_footer: true %>

<% if current_organization.archived? %>
   <%= render Primer::Alpha::Banner.new(scheme: :warning, mb: 4) do %>
     This organization was marked as archived by an administrator on
     <%= full_month_date current_organization.archived_at %>.
     It is no longer maintained.
   <% end %>
<% end %>

<%= render "orgs/identity_management/banner", organization: current_organization %>

<% if display_org_private_repo_limit_banner? %>
  <%= render(Primer::Beta::Flash.new(scheme: :danger, mb: 4)) do %>
    <%= form_tag ignore_upgrade_organization_path(current_organization), method: :post do %>
      <button type="submit" aria-label="Hide this notice forever" class="flash-close" data-ga-click="dashboard, click, dismiss private repo limit banner - context:organization">
        <%= render(Primer::Beta::Octicon.new(icon: "x", vertical_align: :text_top)) %>
      </button>
    <% end %>
    It appears your organization is at its current plan limit.
    You can <%= link_to 'upgrade now', settings_org_billing_path(current_organization), :"data-ga-click" => "dashboard, click, clicked upgrade from private repo limit banner - context:organization", class: "Link--inTextBlock" %>
    for more space!
  <% end %>
<% end %>

<%= render partial: 'organizations/corporate_tos_banner' %>
<%= render partial: 'organizations/education_tos_banner' %>
<% content_for :right_column do %>
  <div data-team-hovercards-enabled>
    <include-fragment src="<%= member_statuses_path(org: current_organization.display_login, org_dashboard: "1") %>"></include-fragment>
  </div>
<% end %>

<div id="dashboard" class="dashboard">
  <% content_for :left_column do %>
    <div class="dashboard-sidebar px-3 px-md-4 px-lg-5 overflow-auto top-0">
      <div class="border-bottom py-3 mt-3 mb-4">
        <%= render Dashboard::ContextSwitcherComponent.new(
          current_context: current_context,
          user_can_create_orgs: user_can_create_organizations?,
          id: "switch_dashboard_context_show",
        ) %>
      </div>
      <%= link_to "View organization", user_url(current_organization), class: "btn btn-block f6 mb-3 ws-normal",  data: dashboard_repositories_org_profile_data_attributes %>
      <%= link_to "Browse organization's repositories", org_repositories_url(current_organization), class: "btn btn-block f6 mb-3 ws-normal",  data: organization_browse_repositories_data_attributes %>

      <div class="border-top">
        <% if current_user.feature_enabled?(:nux_recent_activity) %>
          <div class="mb-4">
            <include-fragment src="<%= dashboard_recent_activity_path(organization_id: current_organization.try(:global_relay_id)) %>">
              <div class="text-center p-3">
                <%= render(Primer::Beta::Spinner.new) %>
                <p class="color-fg-muted my-2 mb-0">Loading...</p>
              </div>
            </include-fragment>
          </div>
        <% else %>
          <h2 class="f5 mt-md-3 mt-0">Recent activity</h2>
          <div class="mt-2 mb-4">
            <include-fragment src="<%= dashboard_recent_activity_path(organization_id: current_organization.try(:global_relay_id)) %>">
              <div class="text-center p-3 mt-2">
                <%= render(Primer::Beta::Spinner.new) %>
                <p class="color-fg-muted my-2 mb-0">Loading...</p>
              </div>
            </include-fragment>
          </div>
        <% end %>
      </div>
      <% if content_for?(:right_column) %>
        <div class="hide-xl">
        <%= content_for :right_column %>
        </div>
      <% end %>
    </div>
  <% end %>



  <div class="news">
    <% if org_admin? && current_organization.member_count == current_organization.admins.size && current_organization.repositories.size == 0 %>
      <%= render partial: 'organizations/welcome_owner_big' %>
    <% end %>

    <div class="d-block d-md-none">
      <%= link_to "View organization", user_url(current_organization), class: "btn btn-block f6 mb-3 ws-normal",  data: dashboard_repositories_org_profile_data_attributes %>
      <%= link_to "Browse organization's repositories", org_repositories_url(current_organization), class: "btn btn-block f6 mb-3 ws-normal",  data: organization_browse_repositories_data_attributes %>
      <div class="mb-4">
        <% if current_user.feature_enabled?(:nux_recent_activity) %>
          <include-fragment src="<%= dashboard_recent_activity_path(organization_id: current_organization.try(:global_relay_id), mobile: true) %>">
            <div class="text-center p-3">
              <%= render(Primer::Beta::Spinner.new) %>
              <p class="color-fg-muted my-2 mb-0">Loading...</p>
            </div>
          </include-fragment>
        <% else %>
          <h2 class="f4 mb-1 text-normal d-flex flex-justify-between flex-items-center">Recent activity</h2>
          <%= render Primer::Beta::BorderBox.new do |component| %>
            <% component.with_row(px: 2, pt: 0, pb: 2) do %>
              <include-fragment src="<%= dashboard_recent_activity_path(organization_id: current_organization.try(:global_relay_id)) %>">
                <div class="text-center p-3">
                  <%= render(Primer::Beta::Spinner.new) %>
                  <p class="color-fg-muted my-2 mb-0">Loading...</p>
                </div>
              </include-fragment>
            <% end %>
          <% end %>
        <% end %>
        <% if content_for?(:right_column) %>
          <div class="mt-4">
            <%= content_for :right_column %>
          </div>
        <% end %>
      </div>
    </div>
    <% if user_or_global_feature_enabled?(:conduit_org_feeds) && user_or_global_feature_enabled?(:feeds_v2) %>
      <feed-container data-org="<%= current_organization.display_login %>" <%= test_selector("feeds-container") %>>
        <%= render partial: "dashboard/include_news_org_feed_next" %>
      </feed-container>
    <% else %>
      <%= render partial: "dashboard/include_news_feed", locals: { url: organizations_news_feed_path } %>
    <% end %>
    <% unless current_organization.enterprise_managed_user_enabled? %>
      <div class="f6 mb-2">
        <a class="Link--secondary mt-4 d-inline-block"
          href="<%= feed %>"
          data-ga-click="Dashboard, click, News feed atom/RSS link - context:organization">
          <%= primer_octicon(:rss, mr: 1) %>Subscribe to the
          <strong><%= current_context.display_login %></strong> organization news feed
        </a>
      </div>
    <% end %>
  </div>
</div><!-- /#dashboard -->

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle :dashboard %>
<% end %>
