<% content_for :header do %>
  Welcome to the Code Search and Code View Beta
<% end %>

<%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
    <p>
      We’re thrilled to invite you to start testing our new code search and code view.
      Check out <a href="https://github.com/features/code-search">our features page</a> for a quick introduction.
    </p>

    <p>
      Your feedback will help us make it even better. Please visit our <a href="https://github.com/github/feedback/discussions/categories/code-search-and-navigation-feedback">feedback discussion</a> to ask questions and share your input. We look forward to hearing what you think!
    </p>

    <%= render(Mail::SpacerComponent.new) %>
    <%= render(Mail::ButtonComponent.new(text: "Try the new code search and code view beta", url: "https://github.com/search", classes: "btn-primary btn-large")) %>
    <%= render(Mail::SpacerComponent.new) %>

    <p>
      All the best,<br>
      GitHub
    </p>
  <% end %>
<% end %>
