<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%# rubocop:disable GitHub/DeprecatedViewHelpers %>

<%= link_to "Permalink", h("#{blob_path(path_string, current_commit.oid)}?#{request.query_string}".chomp("?")), :class => "d-none js-permalink-shortcut", "data-hotkey" => "y" %>

<div class="d-flex flex-items-start flex-shrink-0 pb-3 flex-wrap flex-md-nowrap flex-justify-between flex-md-justify-start">
  <%= render :partial => "refs/list" %>
  <h2 id="blob-path" class="breadcrumb flex-auto flex-self-center min-width-0 text-normal mx-2 width-full width-md-auto flex-order-1 flex-md-order-none mt-3 mt-md-0">
    <%
      instrument_view_code_navigation(
        viewer: current_user,
        repo: current_repository,
        blob_supports_listing_symbols: blob_supports_listing_symbols?(current_blob),
        blob_has_code_symbols: view.code_nav && view.code_nav.has_code_symbols?,
        ref: view.tree_name,
        language: current_blob&.language&.name,
        backend: view.code_nav && view.code_nav.backend,
        retry_backend: "",
        code_nav_context: :BLOB_VIEW,
      )
    %>
    <%= breadcrumb_trail(params[:path], pjax: "#repo-content-pjax-container", turbo_frame: "repo-content-turbo-frame") %>
    <% if view.code_nav && blob_supports_listing_symbols?(current_blob) %>
      <span class="separator">/</span><%= render(CodeNav::BlobSymbolsComponent.new(code_nav: view.code_nav, language: current_blob&.language&.name)) %>
    <% end %>
  </h2>
  <% if view.is_workflow_file %>
    <%= render Primer::ButtonComponent.new(tag: :a, href: filtered_runs_by_file_path(filename: view.filename, lab: view.lab_workflow_file?), mr: 2, display: [:none, nil, :block], "data-pjax": "#repo-content-pjax-container", "data-turbo-frame": "repo-content-turbo-frame", test_selector: "view-runs-link") do %>
      View runs
    <% end %>
  <% end %>
  <%= render Primer::ButtonComponent.new(tag: :a, href: tree_find_path(view.repo.owner, view.repo, tree_name), mr: 2, display: [:none, nil, :block], "data-pjax": "", "data-hotkey": "t") do %>
    Go to file
  <% end %>

  <%= render Primer::Beta::Details.new(overlay: :default, reset: true, position: :relative, id: "blob-more-options-details") do |component| %>
    <% component.with_summary(button: true) do %>
      <%= render Primer::Beta::Octicon.new(icon: "kebab-horizontal", "aria-label": "More options") %>
    <% end %>
    <% component.with_body do %>
      <ul class="dropdown-menu dropdown-menu-sw">
        <% if view.is_workflow_file %>
          <li class="d-block d-md-none" <%= test_selector("view-runs-link") %>>
            <%= link_to "View runs",
                        filtered_runs_by_file_path(filename: view.filename, lab: view.lab_workflow_file?),
                        class: "dropdown-item d-flex flex-items-baseline" %>
          </li>
        <% end %>
        <li class="d-block d-md-none">
          <%= link_to tree_find_path(view.repo.owner, view.repo, tree_name),
            class: "dropdown-item d-flex flex-items-baseline",
            data: find_file_data_attributes(current_repository) do %>
            <span class="flex-auto">Go to file</span>
            <span class="text-small color-fg-muted" aria-hidden="true">T</span>
          <% end %>
        </li>
        <li data-toggle-for="blob-more-options-details">
          <%= render Primer::ButtonComponent.new("data-toggle-for": "jumpto-line-details-dialog", scheme: :link, classes: "dropdown-item") do %>
            <span class="d-flex flex-items-baseline">
              <span class="flex-auto">Go to line</span>
              <span class="text-small color-fg-muted" aria-hidden="true">L</span>
            </span>
          <% end %>
        </li>
        <% if view.code_nav && blob_supports_listing_symbols?(current_blob) %>
        <li data-toggle-for="blob-more-options-details">
          <%= render Primer::ButtonComponent.new("data-toggle-for": "jumpto-symbol-select-menu", scheme: :link, classes: "dropdown-item") do %>
            <span class="d-flex flex-items-baseline">
              <span class="flex-auto">Go to definition</span>
              <span class="text-small color-fg-muted" aria-hidden="true">R</span>
            </span>
          <% end %>
        </li>
        <% end %>
        <li class="dropdown-divider" role="none"></li>
        <li>
          <%= render Primer::Beta::ClipboardCopy.new(value: path_string_for_display, classes: "dropdown-item cursor-pointer", "data-toggle-for": "blob-more-options-details", "aria-label": "Copy path") do %>
            Copy path
          <% end %>
        </li>
        <li>
          <%= render Primer::Beta::ClipboardCopy.new(
            value: h(blob_url(current_commit.oid, path_string, repository: view.repo, user_id: view.repo.owner)),
            classes: "dropdown-item cursor-pointer",
            "data-toggle-for": "blob-more-options-details",
            test_selector: "copy_blob_permalink",
            "aria-label": "Copy permalink"
          ) do %>
            <span class="d-flex flex-items-baseline">
              <span class="flex-auto">Copy permalink</span>
            </span>
          <% end %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>
