
<div <%= test_selector "remote-clipboard-copy" %>>
  <%= render GitHub::RemoteClipboardCopyComponent.new(
        src: blob_raw_path(params[:path], commit_sha),
        classes: "d-inline-block btn-octicon",
        styles: "height: 26px") do |c| %>

    <% c.with_idle do %>
      <%= content_tag :span,
        class: "cursor-pointer",
        data: copy_raw_contents_button_attributes(current_repository) do %>
        <%= primer_octicon(:copy) %>
      <% end %>
    <% end %>

    <% c.with_fetching do %>
      <%= render(Primer::Beta::Spinner.new(size: :small)) %>
    <% end %>

    <% c.with_success do %>
      <span>
        <%= primer_octicon(:check, color: :success) %>
      </span>
    <% end %>

    <% c.with_error do %>
      <span>
        <%= primer_octicon(:alert, color: :attention) %>
      </span>
    <% end %>
  <% end %>
</div>
