<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# `view` is Blob::EditorView %>

<% fullscreen = params["fullscreen"].present? %>

<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
    <div class="breadcrumb d-flex flex-shrink-0 flex-items-center<%= ' px-3 px-sm-6 px-lg-3' if responsive? || blob_fullwidth? %><%= ' py-3' if blob_fullwidth? %>">
      <% if fullscreen %>
        <a href="/" aria-label="Homepage" data-ga-click="Header, go to dashboard, icon:logo">
          <%= primer_octicon(:"mark-github", height: 28, color: :default, mr: 2) %>
        </a>
      <% end %>
      <span class="js-breadcrumb-container d-flex flex-items-center flex-wrap flex-auto">
        <% if fullscreen %>
          <span class="f3"><%= link_to current_repository.owner, user_path(current_repository.owner) %></span>
          <span class="separator">/</span>
        <% end %>
        <%= breadcrumb_trail view.proposed_path.to_a %>
      </span>

      <span><a href="<%= view.cancel_url %>" class="btn d-none d-md-inline-block">Back to file</a></span>
    </div>
    <div class="file mx-lg-3">
      <%= render Primer::BlankslateComponent.new(
        icon: "alert",
        title: "This file is too large to edit here.",
        classes: "file-blankslate",
      ) do %>
        You can edit it locally
        <% if GitHub.codespaces_serverless_editor_enabled? && logged_in?%>
            or with <%= link_to "github.dev",
              GitHub.codespaces_serverless_url,
              class: "Link--inTextBlock" %>
        <% end %>
        instead
      <% end %>
    </div>
  </div>
