<%# erblint:counter DeprecatedComponentsCounter 1 %>
<span class="<%= "d-none d-md-inline-block" if responsive? %>">
  <% max = 12 %>
  <% capped = users[0..max-1] %>
  <% capped.each do |user| %>
    <%= profile_link(user, class: "avatar-link", url: commits_path(params[:path], current_branch_or_tag_name || commit_sha) + "?author=#{user.display_login}") do %>
      <%= avatar_for user, 24, class: "avatar mr-2" %><%= " " %><%# leave this space for copy/paste username strings %>
    <% end %>
  <% end %>

  <% if users.size > max %>
    <%= render Primer::ButtonComponent.new(scheme: :link, classes: "lh-default", "data-toggle-for": "blob_contributors_box") do %>
      +<%= users.size - max %>
    <% end %>
  <% end %>
</span>
