<%# view is an instance of Blob::PreviewView %>

<% if view.displays_funding? %>
  <div class="prose-diff js-preview-msg">
    <div class="js-warn-no-visible-changes preview-msg">
      <%= render "blob/sponsor", repository: current_repository, funding_links: view.funding_links %>
    </div>
  </div>
<% elsif view.displays_html? %>

    <div id="readme" class="readme <%= view.avoid_diff ? "p-5" : "prose-diff" %> html-blob blob">
      <div class="markdown-body container-lg">
        <%= view.as_html %>
      </div>
    </div>

<% elsif view.displays_diff? %>
  <%=
    render partial: "diff/diff", locals: {
      disable_render: true,
      file_list_view: Diff::FileListView.new(
        repository: current_repository,
        diffs: view.as_diff,
        params: params,
        expandable: false,
        commentable: false,
        current_user: current_user,
        progressive: view.action == "delete",
        display_diff_ajax_enabled: false,
      )
    }
  %>
<% elsif view.displays_message? %>

<%=
    key = view.as_message

    if key.kind_of?(String)
      message = key
    elsif key.kind_of?(Symbol)
      message = {
        Blob::PreviewView::DELETED   => "The document has been deleted.",
        Blob::PreviewView::RENAMED   => "The document was renamed without changes.",
        Blob::PreviewView::UNCHANGED => "There are no changes to show.",
        Blob::PreviewView::BLANK     => "There is no content to preview.",
        Blob::PreviewView::ERROR     => "There has been an error generating the preview."
      }[key]
    else
      message = key.to_s
    end

    render :partial => "blob/preview_message", :locals => {
           :preview_message => message,
           :preview_rendered_html => view.as_message_supplemental_html
    }
%>

<% elsif view.displays_blob? %>

    <% if view.display_with_code_rendering_service? %>
      <%= render view.code_rendering_service %> <%# rubocop:disable GitHub/RailsViewRenderLiteral %>
    <% else %>
      <div class="js-preview-new-file <%= "d-flex flex-column flex-auto position-absolute width-full top-0 my-2" if blob_fullwidth? %>">
        <%= render :partial => 'blob/blob_content',
          :locals => { :blob => view.as_blob, :use_render => false }
        %>
      </div>
   <% end %>

<% elsif view.displays_empty? %>

  <%= render :partial => "blob/empty" %>

<% else %>

  <%=
      render :partial => "blob/preview_message", :locals => {
        :preview_message => "There has been an error generating the preview.",
        :preview_rendered_html => ""
      }
  %>

<% end %>
