<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# view is an instance of Blob::ShowView %>
<%# rubocop:todo GitHub/DeprecatedViewHelpers %>
<%
  page_info \
    title: view.page_title,
    container_xl: true,
    selected_link: :repo_source,
    class: "page-blob",
    dashboard_pinnable_item_id: current_repository.global_relay_id
  blame_view = Blob::BlameView.new(blame: current_blame)
  case error
    when GitRPC::InvalidIgnoreRevs
      title = "Your #{Blame::IGNORE_REVS_FILE_PATH} file is invalid."
    when GitRPC::SymlinkDisallowed
      title = "Symlinks not supported"
    when GitRPC::IgnoreRevsTooBig
      title = "Your #{Blame::IGNORE_REVS_FILE_PATH} file is too large."
  end
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render partial: "blob/blame_header", locals: { view: blame_view } %>

  <div class="file" <%= test_selector("invalid_ignore_revs_blankslate") %> >
    <%= render :partial => "blob/blob_header", :locals => { :view => view, :show_toc => false, :toc => nil, :permalink => nil } %>

    <%= render Primer::BlankslateComponent.new(
      icon: "alert",
      title: ,
      classes: "file-blankslate",
    ) do %>
      <% case error %>
      <% when GitRPC::InvalidIgnoreRevs %>
        <p>Check out your <%= link_to Blame::IGNORE_REVS_FILE_PATH, blob_path(Blame::IGNORE_REVS_FILE_PATH, current_commit.oid), class: "Link--inTextBlock" %> to make sure it's valid.</p>
      <% when GitRPC::SymlinkDisallowed %>
        <p>Symlinks are not supported for <%= Blame::IGNORE_REVS_FILE_PATH %>.</p>
      <% when GitRPC::IgnoreRevsTooBig %>
        <p>Your <%= link_to Blame::IGNORE_REVS_FILE_PATH, blob_path(Blame::IGNORE_REVS_FILE_PATH, current_commit.oid), class: "Link--inTextBlock" %> file is too large - it must be 1 MB or less.</p>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
