<%# rubocop:disable Lint/InstanceVariable %>
<% page_info \
    selected_link: :repo_source,
    container_xl: true,
    class: "page-delete-blob",
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<% if current_blob.name.blank? %>
  <% page_title "Deleting #{current_repository.name_with_display_owner} at #{h tree_name_for_display}" %>
<% else %>
  <% page_title "Deleting #{current_repository.name}/#{current_blob.display_name} at #{h tree_name_for_display} · #{current_repository.name_with_display_owner}" %>
<% end %>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<h1 class="sr-only"><%= "Deleting #{scrubbed_utf8(current_repository.name)}/#{scrubbed_utf8(current_blob.path)}" %></h1>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render :partial => "web_commit/fork_octotip", :locals => {
             :newfork => !!@forked_reason,
             :fork_name_with_owner => @forked_repo.name_with_display_owner
      } if @forked_repo %>

  <div class="file-box">
    <%= form_for(current_blob, { :as => :blob, :html => { :method => "delete" }, :url => url }) do |f| %>
      <%= render "blob/editor", view: create_view_model(
        Blob::EditorView,
        :blob => current_blob,
        :filename => @filename,
        :new_filename => @new_filename_string,
        :path => @path,
        :branch => @branch,
        :parent_repo => current_repository,
        :forked_repo => @forked_repo,
        :last_commit => @last_commit,
        :contents => @contents,
        :cancel_url => url_for(:action => 'show'),
        :action => 'delete',
        :target_branch => params[:target_branch],
        :quick_pull => params[:quick_pull]
      ) %>
    <% end %>
  </div>
</div>
<% end %>
