<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# view is an instance of Blob::ShowView %>

<% page_info \
    title: view.page_title,
    container_xl: true,
    selected_link: :repo_source,
    class: "page-blob",
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render partial: "blob/blob_navigation", locals: { view: view } %>
  <%= render partial: "blob/blob_contributors", locals: { view: view } %>

  <div class="file">
    <%= render :partial => "blob/blob_header", :locals => { :view => view, :show_toc => false, :toc => nil, :permalink => nil } %>

    <% isBlob = params[:action] != 'blame' %>
    <%= render Primer::BlankslateComponent.new(
      icon: "hourglass",
      title: "This #{isBlob ? 'blob' : 'blame'} took too long to generate.",
      classes: "file-blankslate",
    ) do %>
      <% if isBlob %>
        <% url_tree = current_branch_or_tag_name || commit_sha -%>
        <p>But you can view the <%= link_to 'raw file', blob_raw_path(params[:path], url_tree), class: "Link--inTextBlock" %>.</p>
      <% else %>
        <p> Sorry about that.</p>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
