<h3 class="h4">Tiers</h3>
<div class="mt-2 mb-4 color-fg-muted">You can edit your tiers in the next step.</div>

<div id="no-rewards-selected" class="Box mb-4" hidden>
  <p class="m-3">You have no reward selected. Please select a reward</p>
</div>

<% @tier_previews.each_with_index do |preview, i| %>
  <div id="preview-section-<%= preview[:frequency] %>" class="mb-4 js-preview-tier">
    <h4><%= preview[:heading] %></h4>
    <div class="Box mt-4">
      <% preview[:tiers].each do |tier_name, tiers| %>
        <div id="<%= tiers.first.preview_tier_id %>" class="Box-row js-preview-tier-suggestion" <%= "hidden" unless tiers.any?(&:preselect?) %>>
          <dl class="m-0">
            <dt class="text-bold mb-3"><%= tier_name %></dt>
            <dd class="markdown-body">
              <% tiers.each do |tier| %>
                <div id="<%= tier.preview_reward_id %>" class="js-preview-tier-suggestion-reward">
                  <%= tier.description_html %>
                </div>
              <% end %>
            </dd>
          </dl>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<h3 class="mb-4 h4">Get inspired by profiles in the community</h3>
<div>
  <% inspiring_users.each do |user| %>
    <%= linked_avatar_for(user, 32, url: sponsorable_path(user), target: "_blank") %>
  <% end %>
</div>
