<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag sponsorable_dashboard_tier_suggestions_path(sponsorable), :id => "tier-suggestion-form" do %>
  <h4>Recommended rewards</h4>

  <% @categorized_tiers.each do |group| %>
    <div class="Box p-4 my-4 tier-category">
      <div class="d-flex flex-column flex-sm-row flex-justify-between mb-2">
        <h4>
          <div class="tier-emoji d-block float-left">
            <%= emoji_tag(Emoji.find_by_alias(group[:emoji_alias].to_s), class: "mr-2") %>
          </div>
          <%= group[:category].to_s.titleize %>
         </h4>
         <%= render Primer::ButtonComponent.new(
           scheme: :link,
           mt: [3, 0],
           text_align: :left,
           classes: "js-tier-suggestion-batch-select",
           "data-tier-category": group[:category],
           "data-function": "select",
           "data-all-selected-text": "Deselect all",
           "data-not-all-selected-text": "Select all",
         ).with_content("Select all")%>
      </div>
      <% group[:tiers].each do |tier| %>
        <div class="form-checkbox mt-3 mt-sm-4 mb-0">
          <div class="col-4 float-right" style="text-align: right">
            <span class="color-fg-muted"><%= tier.name %></span>
          </div>
          <div class="col-8">
            <label class="text-normal">
              <input type="checkbox"
                     id="<%= tier.input_id %>"
                     name="<%= tier.input_id %>"
                     class="form-control js-tier-suggestion"
                     data-tier-category="<%= group[:category] %>"
                     data-tier-monthly-price="<%= tier.monthly_price_in_cents %>"
                     data-tier-frequency="<%= tier.frequency %>"
                     data-tier-category="<%= group[:category] %>"
                     data-tier-name="<%= tier.tier_id %>"
                     <% if tier.preselect? %>checked<% end %>>
              <%# Strip HTML tags so we don't embed ul/li elements in a label: %>
              <%= strip_tags(tier.description_html) %>
            </label>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= hidden_field(:tier_builder, :actions, class: "js-tier-building-actions") %>
<% end %>
