<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "#{current_repository.nwo} - Dependabot" %>

<div class="boxed-group">
  <h3>Dependabot Update Configs</h3>
  <div class="boxed-group-inner clearfix">
    <% if update_configs.empty? %>
      <p class="text-bold m-0">This repository does not have any Dependabot configuration.</p>
    <% else %>
      <p class="Box-row p-0">
        A Dependabot configuration may specify multiple configurations for each combination of target branch, directory path and package ecosystem.
      </p>
      <p class="Box-row pl-0 pr-0">
        Debugging a Dependabot configuration is only allowed when you have read-access. If required, request to unlock a private repository.
      </p>
      <% if flash[:debug_payload] %>
        <%= render Primer::Beta::Flash.new(
            dismissible: true,
            mb: 4,
        ) do %>
          Success! Click to copy encrypted Dependabot debugging payload
          <%= render Primer::Beta::ClipboardCopy.new(
            value: flash[:debug_payload],
            "aria-label": "Copy debugging payload to the system clipboard",
            ml: 2
          ) %>
        <% end %>
      <% end %>
      <ul>
        <% update_configs.each do |update_config| %>
          <li class="Box-row pl-0 pr-0">
            <div class="summary">
              <p>Update Config ID: <%= update_config.id %></p>
              <% if current_repository.permit?(current_user, :read) %>
                <%= render layout: "shared/details_dialog", locals: {
                  button_text: "Debug",
                  button_class: "btn",
                  details_class: "float-right",
                  title: "Debug Dependabot Job",
                } do %>
                  <%= form_with url: debug_update_config_stafftools_repository_dependabot_path do |f| %>
                    <div class="Box-body">
                      <%= f.hidden_field :update_config_id, value: update_config.id %>
                      <%= f.label :public_key, "Key to encrypt payload",
                        for: "debug-public-key-#{update_config.id}",
                        class: "d-inline-block f4 mb-2"
                      %>
                      <%= f.text_field :public_key,
                        id: "debug-public-key-#{update_config.id}",
                        class: "input-block input-contrast mb-3",
                        autofocus: true,
                        autocomplete: "off",
                        required: true
                      %>
                    </div>
                    <div class="Box-footer">
                      <%= render Primer::ButtonComponent.new(type: :submit, block: true) do %>
                        Submit
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <dl class="m-0 flattened">
                <dt class="text-emphasized">Target Branch:</dt>
                <dd><%= update_config.target_branch %></dd>
                <dt class="text-emphasized">Package Ecosystem:</dt>
                <dd><%= update_config.package_ecosystem.name %></dd>
                <dt class="text-emphasized">Monitored Dependency Files:</dt>
                <dd><%= update_config.monitored_manifest_files.map(&:path).join(", ") %></dd>
                <dt class="text-emphasized">Last Scheduled Update:</dt>
                <dd>
                  <% if update_config.last_full_update_run %>
                    Job ID: <%= update_config.last_full_update_run.id %>, State: <%= update_config.last_full_update_run.state %><% if update_config.last_full_update_run.finished_at %>, finished <%= time_ago_in_words Time.at(update_config.last_full_update_run.finished_at.seconds) %> ago<% end %>.
                  <% else %>
                    Never.
                  <% end %>
                </dd>
              </dl>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
