<a href="<%= user_path(user) %>">
  <%= avatar_for user, 32, class: "avatar mx-3", data: hovercard_data_attributes_for_user(user) %>
</a>
<div class="col-12">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column">
      <a href="<%= user_path(user) %>"><strong><%= user.safe_profile_name %></strong></a>
      <span class="f6 color-fg-muted">
        <%= user.name %>
      </span>
    </div>
  </div>
</div>
