<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<% unless GitHub.enterprise? %>
  <div class="mb-3">
    <h3 class="mb-2">Organization Info</h3>
    <div>
      <div class="clearfix summary my-0">
        <% org_metadata.each do |key, value| %>
          <dl>
            <dt style="width: 50%"><%=key%></dt>
            <dd><%=value%></dd>
          </dl>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
  <h3 class="mb-2">Organization Packages</h3>
  <% if repositories_packages_data.empty? %>
    <div>
      <p>No organization packages found!</p>
    </div>
  <% else %>
    <div>
      <% repositories_packages_data.each do |repository_group| %>
        <% repository = repository_group[:repository] %>

        <details class="Box Box--condensed mb-3" open>
          <summary class="Box-header">
            <h3 class="Box-title d-inline-block">
            <% if repository.nil? %>
              No Repository
            <% else %>
              <%= repository.name %>
              <%= render Primer::Beta::Counter.new(count: repository_group[:packages_count]) %>
            <% end %>
            </h3>
          </summary>
          <div class="Box-body clearfix summary my-0">
            <div class="Box-body clearfix p-0 overflow-x-auto">
              <% repository_group[:packages].each do |package_info| %>
                <%
                  package = package_info[:package]
                  latest_version = package_info[:latest_version]
                  version_count = package_info[:version_count]
                  download_count = package_info[:download_count]
                %>

                <hr class="bleed-flush">
                <dl>
                  <dt>Name</dt>
                  <dd>
                    <%= package.deleted_at.nil? ? package.name : package.original_name %>
                    <% if package.visibility == :PRIVATE %>
                      <%= primer_octicon(:lock, color: :muted, ml: 1, classes: "tooltipped tooltipped-e", "aria-label": "Private package") %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                    <% end %>
                  </dd>
                </dl>
                <dl>
                  <dt>Package ID</dt>
                  <dd>
                    <%= package.id %>
                  </dd>
                </dl>
                <dl>
                  <dt>Author ID</dt>
                  <dd>
                    <%= package.author_id %>
                  </dd>
                </dl>
                <dl>
                  <dt>Type</dt>
                  <dd>
                    <%= package.ecosystem.downcase %>
                  </dd>
                </dl>
                <% unless package.repo_id == 0 %>
                  <dl>
                    <dt>Repository ID</dt>
                    <dd>
                      <%= package.repo_id %>
                    </dd>
                  </dl>
                <% end %>
                <% unless repository.nil? %>
                  <dl>
                    <dt>Repository</dt>
                    <dd>
                      <%= repository.name_with_owner %>
                    </dd>
                  </dl>
                  <dl>
                    <dt>Inherit access from repo</dt>
                    <dd>
                      <%= package.active_sync_perms %>
                    </dd>
                  </dl>
                <%end%>
                <dl>
                  <dt>Visibility</dt>
                  <dd>
                    <%= package.visibility %>
                  </dd>
                </dl>
                <dl>
                  <dt>Latest Version</dt>
                  <dd>
                    <%= latest_version&.version || "Deleted" %>
                  </dd>
                </dl>
                <dl>
                  <dt>Versions</dt>
                  <dd>
                    <%= version_count %>
                  </dd>
                </dl>
                <dl>
                  <dt>Total Downloads</dt>
                  <dd>
                    <%= download_count %>
                  </dd>
                </dl>
                <dl>
                  <dt>Created at</dt>
                  <dd>
                    <%= package.created_at %>
                  </dd>
                </dl>
                <dl>
                  <dt>Updated at</dt>
                  <dd>
                    <%= package.updated_at %>
                  </dd>
                </dl>
                <br>
                  <div class="Box">
                    <dl class="Box-row">
                        <dt><p class="mb-0"> View the GitHub users that have access to this package </p></dt>
                        <dd>
                          <% members_map_out = members_map(package.id) %>
                              <%= render layout: "shared/spacious_details_dialog", locals: {
                                button_text: "Show collaborators",
                                title: "Show collaborators for the package",
                                hide_title: true,
                                id: "show-members",
                                button_class: "btn btn-primary btn-sm",
                                dialog_class: "",
                                container_class: "p-4 min-height-0"
                              } do %>
                              <%= render partial: "stafftools/organization_packages/show_members", locals: { package: package, members_map: members_map_out} %>
                              <%end%>
                        </dd>
                    </dl>
                  </div>
                  <br>
                  <div class="Box">
                    <dl class="Box-row">
                        <dt><p class="mb-0"> View the repositories that have access to this package for Actions</p></dt>
                        <dd>
                          <% repos_with_actions_access = repos_with_actions_access(package.id) %>
                              <%= render layout: "shared/spacious_details_dialog", locals: {
                                button_text: "Show Actions access",
                                title: "Show repositories with Actions access to the package",
                                hide_title: true,
                                id: "show-repositories",
                                button_class: "btn btn-primary btn-sm",
                                dialog_class: "",
                                container_class: "p-4 min-height-0"
                              } do %>
                              <%= render partial: "stafftools/organization_packages/show_repositories", locals: { package: package, repos_with_actions_access: repos_with_actions_access} %>
                              <%end%>
                        </dd>
                    </dl>
                  </div>
                  <br>
                <%= render Primer::Beta::Subhead.new(spacious: true, hide_border: true) do |component| %>
                <% end %>
                 <div class="Box Box--danger">
                  <dl class="Box-row">
                    <dt><strong>Delete this package</strong>
                      <p class="mb-0">
                        This is irreversible
                      </p>
                    </dt>
                    <dd>
                    <%= stafftools_button_to "Delete", stafftools_user_purge_deleted_organization_package_path(this_user.name, package.ecosystem, owner.login, package.id, name: package.name),
                        method: :delete,
                        class: "btn btn-sm btn-danger",
                        form_class: "inline-form",
                        "data-confirm": "Are you sure you want to purge the deleted package #{package.original_name} from #{owner}?" %>
                    </dd>
                  </dl>
                </div>
              <% end %>
            </div>
          </div>
        </details>
      <% end %>
      <div class="paginate-container">
        <%= will_paginate(packages) %>
      </div>
  <% end %>
