<div class="p-3">
  <div class="f6 color-fg-muted mb-1">
    <a class="d-inline-block text-underline Link--secondary" href="<%= GitHub.url %>/<%= repository.name_with_display_owner %>">
      <%= repository.name_with_display_owner.truncate(42) %>
    </a>
    on
    <span>
      <%= full_month_date(timestamp_to_time(created_at), omit_current_year: true) %>
    </span>
  </div>
  <div class="d-flex mt-2">
    <span class="lh-condensed py-1 pr-2">
      <%= primer_octicon(:shield, color: :muted, mr: 1) %>
    </span>
    <div class="d-flex flex-column">
      <div class="d-flex flex-column f5 lh-condensed mt-1">
        <a href="<%= alert_path %>" class="no-underline Link--primary d-block">
          <h5 class="d-inline dashboard-break-word markdown-title" <%= test_selector("code-scanning-alert-hovercard-title") %>><%= title_markdown(title).truncate(40) %></h5>
          <div class="f6 color-fg-muted mt-1"><%= alert_filepath.reverse.truncate(50).reverse %></div>
        </a>
        <div class="lh-condensed color-fg-muted mt-1 mb-0 dashboard-break-word" <%= test_selector("code-scanning-alert-hovercard-description") %>><%= description.truncate(80) %></div>
      </div>
      <div class="d-flex ml-0">
        <div>
          <%= render CodeScanning::AlertSeverityComponent.new(
            severity: rule_severity,
            security_severity: security_severity,
            large_label: false,
            additional_classes: "flex-shrink-0 mt-2",
          ) %>
        </div>
      </div>
    </div>
  </div>
  <div class="sr-only">
    Press escape to close this hovercard
  </div>
</div>
