<div class="d-flex width-full p-3"
  <%= test_selector("enterprise-org-#{@organization.id}") %>>
  <div class="d-flex">
    <%= link_to user_path(@organization), data: org_click_hydro_attributes do %>
      <%= render GitHub::AvatarComponent.new actor: @organization, size: 48, mr: 2 %>
    <% end %>

    <div class="d-flex flex-column">
      <div class="d-flex f4 flex-items-center" <%= test_selector('organization-card-name') %>>
        <%= render(Primer::Beta::Link.new(href: user_path(@organization), font_size: 4, font_weight: :bold, data: org_click_hydro_attributes)) do %>
          <%= @organization.safe_profile_name %>
        <% end %>
        <% if @organization.archived? %>
          <%= render(Primer::Beta::Label.new(scheme: :attention, ml: 2)) { "Archived" } %>
        <% end %>
      </div>

      <% if @subtitle.present? %>
        <div class="color-fg-muted">
          <%= @subtitle %>
        </div>
      <% elsif @organization.profile_bio.present? %>
        <div class="color-fg-muted">
          <%= @organization.profile_bio %>
        </div>
      <% end %>
    </div>

    <% if transfer_in_progress? %>
      <div>
        <%= render(Primer::Beta::Label.new(
          scheme: :attention,
          ml: 3,
          test_selector: "transfer-in-progress-label")) { "Transfer in progress" } %>
      </div>
    <% elsif transfer_failed_recently? %>
      <div>
        <%= render(Primer::Beta::Label.new(
          scheme: :danger,
          ml: 3,
          test_selector: "transfer-failed-label")) { "Transfer failed" } %>
      </div>
    <% end %>
  </div>

  <div class="flex-1">
  </div>

  <% if render_repo_and_member_details? %>
    <div class="d-flex col-2" <%= test_selector("member-and-repo-counts") %>>
      <%= render GitHub::BatchDeferredContentComponent.new(
        url: enterprise_organization_counters_path(@business),
        inputs: { organization_id: @organization.id }
      ) do %>
        <span class="Skeleton d-inline-block ml-1 Skeleton--text">Loading…</span>
      <% end %>
    </div>
  <% end %>

  <% if @render_role_in_organization %>
    <div class="col-2 text-right" <%= test_selector("role-in-organization") %>>
      <% if current_user_owner_of_organization? %>
        You’re an organization owner
      <% elsif current_user_member_of_organization? %>
        You’re an organization member
      <% else %>
        You’re not an organization member
      <% end %>
    </div>
  <% end %>

  <div class="ml-4">
    <% if show_options_dialog? %>
      <%= render(Primer::Alpha::ActionMenu.new(
        menu_id: "enterprise-org-#{@organization.id}-settings-menu",
        test_selector: "enterprise-org-#{@organization.id}-settings-menu",
        src: enterprise_organization_settings_menu_path(@business, @organization),
      )) do |menu| %>
        <% menu.with_show_button(icon: :"kebab-horizontal", "aria-label": "Organization menu") %>
        <include-fragment loading="lazy">
          <p class="text-center mt-3" data-hide-on-error>
            <%= render(Primer::Beta::Spinner.new) %>
          </p>
        </include-fragment>
      <% end %>
    <% end %>
  </div>
</div>
