<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% menu_list = Primer::Alpha::ActionMenu::List.new \
  menu_id: "enterprise-org-#{@organization.id}-settings-menu",
  test_selector: "enterprise-org-#{@organization.id}-settings-menu" %>

<% if option_available?(:become_owner) %>
  <% menu_list.with_item(
    label: current_user_member_of_organization? ? "Change role to organization owner" : "Join as an organization owner",
    tag: :button,
    content_arguments: { "data-show-dialog-id": "org-#{@organization.id}-become-owner-dialog" },
    value: "",
    test_selector: "change-role-owner",
  ) %>

  <%= render(Primer::Alpha::Dialog.new(
    id: "org-#{@organization.id}-become-owner-dialog",
    title: current_user_member_of_organization? ? "Change role to owner" : "Join as an owner",
  )) do |d| %>
    <% if !current_user_can_join_org? %>
      <%= render(Primer::Alpha::Dialog::Body.new) do %>
        <p <%= test_selector("user-cannot-join-org") %>>
          SAML is enforced for this organization. You must first join the organization as an
          organization member before using this feature. For more information on how to join the
          organization, see
          <a class="Link--inTextBlock" href="<%="#{GitHub.help_url}/organizations/managing-saml-single-sign-on-for-your-organization/about-identity-and-access-management-with-saml-single-sign-on#adding-members-to-an-organization-using-saml-sso" %>">
          this article</a>.
        </p>
      <% end %>
    <% else %>
      <%= form_tag business_owner_change_role_path(@organization), method: :patch do %>
        <input type="hidden" name="role" value="owner">
        <%= render(Primer::Alpha::Dialog::Body.new) do %>
          <p>
            Are you sure you want to
            <% if current_user_member_of_organization? %>
              change your role to organization owner in
            <% else %>
              join as an organization owner of
            <% end %>
            the <strong><%= @organization.safe_profile_name %></strong> organization?
          </p>
          <% if show_scim_warning? %>
            <%= render Primer::Beta::Flash.new(scheme: :warning, test_selector: "scim-warning") do %>
              If SCIM provisioning is setup for an organization, any changes to a user's organization
              membership should be triggered from the Identity Provider side. If a user is invited
              manually to the organization and not by an existing SCIM integration, their user account
              may not get properly linked to their SCIM identity. This can prevent the user account
              from being deprovisioned via SCIM in the future.
            <% end %>
          <% end %>
        <% end %>

        <%= render(Primer::Alpha::Dialog::Footer.new) do %>
          <%= render(Primer::Beta::Button.new(
            data: { "close-dialog-id": "org-#{@organization.id}-become-owner-dialog" }
          )) { "Cancel" } %>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            scheme: :danger,
            "data-disable-invalid": "",
            "data-disable-with": "",
            test_selector: "change-role-owner-button"
            ) do %>
            <% if current_user_member_of_organization? %>
              Change role to organization owner
            <% else %>
              Join as an organization owner
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if option_available?(:become_member) %>
  <% menu_list.with_item(
    label: current_user_owner_of_organization? ? "Change role to member" : "Join as a member",
    tag: :button,
    content_arguments: { "data-show-dialog-id": "org-#{@organization.id}-become-member-dialog" },
    value: "",
    test_selector: "change-role-member",
  ) %>

  <%= render(Primer::Alpha::Dialog.new(
    id: "org-#{@organization.id}-become-member-dialog",
    title: current_user_owner_of_organization? ? "Change role to member" : "Join as a member",
  )) do |d| %>
    <% if !current_user_can_join_org? %>
      <%= render(Primer::Alpha::Dialog::Body.new) do %>
        <p <%= test_selector("user-cannot-join-org") %>>
          SAML is enforced for this organization. You must first join the organization as an
          organization member before using this feature. For more information on how to join the
          organization, see
          <a class="Link--inTextBlock" href="<%="#{GitHub.help_url}/organizations/managing-saml-single-sign-on-for-your-organization/about-identity-and-access-management-with-saml-single-sign-on#adding-members-to-an-organization-using-saml-sso" %>">
          this article</a>.
        </p>
      <% end %>
    <% else %>
      <%= form_tag business_owner_change_role_path(@organization), method: :patch do %>
        <input type="hidden" name="role" value="direct_member">
        <%= render(Primer::Alpha::Dialog::Body.new) do %>
          <p>
            Are you sure you want to
            <% if current_user_owner_of_organization? %>
              change your role to a member in
            <% else %>
              join as a member of
            <% end %>
            the <strong><%= @organization.safe_profile_name %></strong> organization?
          </p>
          <% if show_scim_warning? %>
            <%= render Primer::Beta::Flash.new(scheme: :warning, test_selector: "scim-warning") do %>
              If SCIM provisioning is setup for an organization, any changes to a user's organization
              membership should be triggered from the Identity Provider side. If a user is invited
              manually to the organization and not by an existing SCIM integration, their user account
              may not get properly linked to their SCIM identity. This can prevent the user account
              from being deprovisioned via SCIM in the future.
            <% end %>
          <% end %>
        <% end %>
        <%= render(Primer::Alpha::Dialog::Footer.new) do %>
          <%= render(Primer::Beta::Button.new(
            data: { "close-dialog-id": "org-#{@organization.id}-become-member-dialog" }
          )) { "Cancel" } %>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            scheme: :danger,
            "data-disable-invalid": "",
            "data-disable-with": "",
            test_selector: "change-role-member-button"
            ) do %>
            <% if current_user_owner_of_organization? %>
              Change role to organization member
            <% else %>
              Join as an organization member
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if option_available?(:leave_organization) %>
  <% menu_list.with_item(
    label: "Leave organization",
    tag: :button,
    content_arguments: { "data-show-dialog-id": "org-#{@organization.id}-leave-dialog" },
    value: "",
    test_selector: "change-role-leave",
  ) %>

  <%= render(Primer::Alpha::Dialog.new(
    id: "org-#{@organization.id}-leave-dialog",
    title: "Leave organization",
  )) do |d| %>
    <%= form_tag business_owner_change_role_path(@organization), method: :patch do %>
      <input type="hidden" name="role" value="unaffiliated">
      <%= render(Primer::Alpha::Dialog::Body.new) do %>
        <p>
          Are you sure that you want to leave the
          <strong><%= @organization.safe_profile_name %></strong> organization?
        </p>
      <% end %>
      <%= render(Primer::Alpha::Dialog::Footer.new) do %>
        <%= render(Primer::Beta::Button.new(
          data: { "close-dialog-id": "org-#{@organization.id}-leave-dialog" }
        )) { "Cancel" } %>
        <%= render Primer::Beta::Button.new(
          type: :submit,
          scheme: :danger,
          "data-disable-invalid": "",
          "data-disable-with": ""
        ) do %>
          Leave organization
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if option_available?(:organization_settings) %>
  <% menu_list.with_item(
    label: "Organization settings",
    tag: :a,
    content_arguments: {
      href: settings_org_profile_path(@organization),
      data: org_click_hydro_attributes,
      test_selector: "enterprise-org-settings-option",
    }
  ) %>
<% end %>

<% if option_available?(:transfer_organization) %>
  <% if transfer_in_progress? %>
    <% menu_list.with_item(
      label: "Transfer in progress...",
      disabled: true,
      test_selector: "enterprise-transfer-org-option"
    ) %>
  <% else %>
    <% if org_cannot_be_transferred? %>
      <% menu_list.with_item(
        label: "Transfer organization",
        tag: :button,
        content_arguments: { "data-show-dialog-id": "org-#{@organization.id}-cannot-transfer-dialog" },
        value: ""
      ) %>
    <% else %>
      <% menu_list.with_item(
        label: "Transfer organization",
        href: new_enterprise_organization_transfer_path(
          @business, organization_id: @organization.id
        ),
        test_selector: "enterprise-transfer-org-option"
      ) %>
    <% end %>
  <% end %>

  <% if org_cannot_be_transferred? %>
    <%= render(Primer::Alpha::Dialog.new(
      id: "org-#{@organization.id}-cannot-transfer-dialog",
      title: "Transfer organization",
      size: :medium,
      position: :center,
      data: { test_selector: "failed-enterprise-org-transfer" }
    )) do |d| %>
      <% d.with_body do %>
        <p>
          Cannot transfer <strong><%= @organization.safe_profile_name %></strong> because
          it has active marketplace subscriptions.
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if option_available?(:remove_organization) %>
  <% if @business.organization_removal_restricted_due_to_trial?(@organization, current_user) %>
    <% menu_list.with_item(
      label: "Remove organization",
      scheme: :danger,
      tag: :button,
      content_arguments: { "data-show-dialog-id": "remove-org-locked-#{@organization.display_login}-dialog" },
      value: "",
      test_selector: "org-#{@organization.id}-enterprise-remove-org-locked-option"
    ) %>

    <%= render(Primer::Alpha::Dialog.new(
      id: "remove-org-locked-#{@organization.display_login}-dialog",
      title: "Restricted removal of organization",
    )) do |d| %>
      <%= render(Primer::Alpha::Dialog::Body.new) do %>
        <div class="d-flex">
          <p>
            The <strong><%= @organization.safe_profile_name %></strong> organization cannot be removed from
            <strong><%= @business.name %></strong> because it was created as part of the enterprise trial.
            To remove this organization, you must first upgrade the trial by buying GitHub Enterprise.
          </p>
        </div>
      <% end %>
      <%= render(Primer::Alpha::Dialog::Footer.new) do %>
        <%= render Primer::Beta::Button.new(
          tag: :a,
          scheme: :default,
          href: billing_settings_upgrade_enterprise_path(@business),
        ) do %>
          Buy GitHub Enterprise
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% menu_list.with_item(
      label: "Remove organization",
      scheme: :danger,
      tag: :button,
      content_arguments: { "data-show-dialog-id": "remove-org-#{@organization.display_login}-dialog" },
      value: "",
      test_selector: "org-#{@organization.id}-enterprise-remove-org-option"
    ) %>

    <%= render(Primer::Alpha::Dialog.new(
      id: "remove-org-#{@organization.display_login}-dialog",
      title: "Remove organization",
      size: :large
    )) do |d| %>
      <%= form_tag enterprise_organization_path(@business, @organization), method: :delete do %>
        <%= render(Primer::Alpha::Dialog::Body.new) do %>
          <%= render(Primer::Beta::Flash.new(
            icon: :stop,
            scheme: :danger,
            my: 3
          )) do %>
            <strong>Warning:</strong> Removing organizations from your enterprise has consequences
          <% end %>

          <ul class="ml-3">
            <li>
              Billing, identity management, 2FA requirements, and other policies will
              no longer be governed by the <strong><%= @business.name %></strong> enterprise.
            </li>
            <li>
              <% if @business.trial? %>
                The organization will be restored to its previous plan.
              <% else %>
                The organization will be downgraded to the free plan.
              <% end %>
            </li>
            <li>
              Any internal repositories within the organization will be converted
              to private repositories.
            </li>
            <li>
              All Marketplace purchases will be cancelled and will need to be repurchased.
            </li>
          </ul>

          <div class="form-checkbox">
            <%= check_box_tag :i_agree, "true", required: true %>
            <%= label_tag :i_agree, "I've read and understand the consequences of removing this organization." %>
          </div>
        <% end %>
        <%= render(Primer::Alpha::Dialog::Footer.new) do %>
          <%= render(Primer::Beta::Button.new(
            type: :button,
            data: { "close-dialog-id": "remove-org-#{@organization.display_login}-dialog" }
          )) { "Cancel" } %>

          <%= render(Primer::Beta::Button.new(
            type: :submit,
            scheme: :danger,
            "data-disable-invalid": "",
            "data-disable-with": ""
          )) { "Remove organization" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if option_available?(:organization_external_identity) %>
  <% menu_list.with_item(
    label: "Linked identity",
    tag: :a,
    content_arguments: {
      href: sso_enterprise_organization_url(@business, @organization),
      test_selector: "enterprise-org-linked-identity",
    }
  ) %>
<% end %>

<%= render menu_list %>
