<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>

<% if params[:q].present? %>
  <%= render Primer::BlankslateComponent.new(
    title: "Sorry, we couldn’t find any matching starred #{stars}.",
  ) do %>
    <p>
      You might find what you’re looking for by
      <%= link_to "searching all of GitHub", search_path(q: params[:q]), data: { pjax: true }, class: "Link--inTextBlock" %>
      for <strong>“<%= params[:q] %>”</strong>.
    </p>
  <% end %>

<% elsif @star_user == current_user %>
  <%= render Primer::BlankslateComponent.new(
    title: "You don’t have any starred #{stars}, yet.",
  ) do %>
    <p>
      As you
        <% if GitHub.multi_tenant_enterprise? %>
          explore GitHub,
        <% else %>
          <%= link_to "explore GitHub", explore_path, data: { pjax: true }, class: "Link--inTextBlock" %>,
        <% end %>
      star <%= stars %> to save them for later and they’ll show up here.
    </p>
  <% end %>

<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      <%= "#{@star_user} doesn’t have any starred #{stars} yet." %>
    <% end %>
  <% end %>
<% end %>
