<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% total_stars = @total_yours + @total_others + @total_topics %>

<div class="position-relative container-lg p-responsive clearfix">
  <div class="d-md-flex flex-md-row-reverse flex-justify-center gutter-md pt-6">
    <% if logged_in? %>
      <div class="col-md-3 mb-6 mb-md-0" role="complementary" aria-label="Star filters">
        <ul class="filter-list" data-pjax>
          <li>
            <a
              href="<%= users_stars_path(user: @star_user, filter: nil, page: nil)%>"
              class="filter-item <%= "selected" if params[:filter].blank? %>"
              rel="public, li.private"
            >
              <span class="count"><%= number_with_delimiter total_stars %></span>All stars
            </a>
          </li>
          <li>
            <a
              href="<%= users_stars_repositories_path(user: @star_user, filter: 'all', page: nil)%>"
              class="filter-item <%= "selected" if params[:filter] == 'all' %>"
              rel="All"
            >
              <span class="count"><%= number_with_delimiter @total_yours + @total_others %></span>All repositories
            </a>
          </li>
          <li>
            <a
              href="<%= users_stars_repositories_path(user: @star_user, filter: 'yours', page: nil)%>"
              class="filter-item <%= "selected" if params[:filter] == 'yours' %>"
              rel="Yours"
            >
              <span class="count"><%= number_with_delimiter @total_yours %></span>Your repositories
            </a>
          </li>
          <li>
            <a
              href="<%= users_stars_repositories_path(user: @star_user, filter: 'others', page: nil)%>"
              class="filter-item <%= "selected" if params[:filter] == 'others' %>"
              rel="others"
            >
              <span class="count"><%= number_with_delimiter @total_others %></span>Others’ repositories
            </a>
          </li>
          <li>
            <a
              href="<%= users_stars_topics_path(user: @star_user, filter: 'topics', page: nil)%>"
              class="filter-item <%= "selected" if params[:filter] == 'topics' %>"
              rel="others"
            >
              <span class="count"><%= number_with_delimiter @total_topics %></span>Topics
            </a>
          </li>
        </ul>

        <% if !@language_counts.empty? && !total_stars.zero? %>
          <hr>

          <h3 class="h4 mb-2">Filter by languages</h3>

          <ul class="filter-list small" data-pjax>
            <% @language_counts.each do |language, count| %>
              <li class="language">
                <% percentage = (count.to_f / total_stars * 100.00).round %>
                <% if percentage > 2 %>
                  <span class="bar" style="width: <%= percentage %>%;"></span>
                <% else %>
                  <span class="bar" style="width: 2px;"></span>
                <% end %>

                <%- this_link = params[:language] == language.downcase -%>

                <% if this_link %>
                  <%= link_to users_stars_repositories_path(
                    user: @star_user,
                    filter: 'all',
                    language: nil,
                    page: nil,
                    direction: nil,
                    sort: nil),
                    class: 'filter-item selected' do %>
                    <%= language %>
                    <%= primer_octicon(:x) %>
                  <% end %>
                <% else %>
                  <%= link_to users_stars_repositories_path(
                    user: @star_user,
                    filter: 'all',
                    language: language.downcase,
                    page: nil,
                    direction: nil,
                    sort: nil),
                    class: 'filter-item' do %>
                    <span class="count">
                      <%= number_with_delimiter @language_counts[language] %>
                    </span> <%= language %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <% if @following.any? %>
          <hr>

          <h3 class="h4 mb-2">Jump to a friend</h3>

          <div data-pjax>
            <% @following.each do |user| %>
              <%= link_to(
                avatar_for(user, 42, class: "avatar"),
                "/stars/#{user.display_login}",
                "aria-label": user.display_login,
                class: "avatar-group-item tooltipped tooltipped-n"
              )%><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="col-md-9">
      <% if starred_by_viewer.count < Star::STARRED_REPOSITORY_LIMIT %>
        <div class="d-sm-flex flex-justify-between border-bottom pb-3 pb-sm-5">
          <%= form_tag request.path, method: :get, data: { pjax: true }, class: "col-sm-6 mb-3 mb-sm-0", role: "search", "aria-label" => "Starred repositories" do %>
            <% if params[:filter].present? %>
              <input type="hidden" name="filter" value="<%= params[:filter] %>">
            <% end %>

            <input type="text" name="q" value="<%= params[:q] %>"
                   class="form-control col-12"
                   placeholder="Search stars&hellip;"
                   aria-label="Search stars&hellip;"
                   autocapitalize="off"
                   autocomplete="off">
          <% end %>

          <details class="details-reset details-overlay select-menu position-relative">
            <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
              <i>Sort:</i>

              <span data-menu-button>
                <%= @sort_options.key([params[:sort], params[:direction]]) || 'Recently starred' %>
              </span>

            <% end %>

            <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="select-menu-header">
                <span class="select-menu-title">Sort options</span>
              </div>

              <div class="select-menu-list">
                <% @sort_options.each do |title, (sort, direction)| %>
                  <% checked = @search_params[:direction] == direction && @search_params[:sort] == sort %>

                  <a
                    role="menuitem"
                    aria-checked="<%= checked %>"
                    class="select-menu-item <%= 'selected' if checked %>"
                    href="<%= url_with(sort: sort, direction: direction) %>"
                    data-pjax
                  >
                    <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                    <span class="select-menu-item-text" data-menu-button-text><%= title %></span>
                  </a>
                <% end %>
              </div>
            </details-menu>
          </details>
        </div>
      <% end %>

      <% if @page == "overview" %>
        <h2 class="h5 mt-2 text-uppercase border-bottom pb-2">Starred Repositories</h2>
        <%= render partial: "stars/starred_repositories", locals: { starred_by_viewer: starred_by_viewer } %>
        <h2 class="h5 text-uppercase border-bottom pb-2">Starred Topics</h2>
        <%= render partial: "stars/starred_topics", locals: { starred_by_viewer: starred_by_viewer } %>
      <% elsif @page == "repositories" %>
        <%= render partial: "stars/starred_repositories", locals: { starred_by_viewer: starred_by_viewer } %>
      <% else %>
        <%= render partial: "stars/starred_topics", locals: { starred_by_viewer: starred_by_viewer } %>
      <% end %>
    </div>
  </div>
</div>
