<div class="<%= class_names(
  "js-toggler-container",
  "starring-container",
  "on" => topic.starred_by?(current_user),
) %>">
  <% if logged_in? %>
    <%= button_to(
      unstar_topic_path(topic.name),
      class: "position-absolute top-0 right-0 hover-grow mt-3 mr-3 tooltipped tooltipped-n "\
        "color-bg-default js-toggler-target starred js-remote-submit-button",
      "aria-label": "Unstar #{topic.safe_display_name}",
      method: :delete,
    ) do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
      <%= primer_octicon(:"star-fill", height: 20) %><span class="d-none">Unstar</span>
    <% end %>

    <%= button_to(
      star_topic_path(topic.name),
      class: "position-absolute top-0 right-0 hover-grow mt-3 mr-3 tooltipped tooltipped-n "\
        "color-bg-default js-toggler-target unstarred js-remote-submit-button",
      "aria-label": "Star #{topic.safe_display_name}",
      method: :post,
    ) do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
      <%= primer_octicon(:star, height: 20) %><span class="d-none">Star</span>
    <% end %>
  <% end %>
</div>
