<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="d-flex flex-column flex-lg-row">
  <div class="col-12 col-lg-6">
    <div class="copilot-waitlist-header-section copilot-waitlist-header-enterprise">
      <div class="copilot-waitlist-section-inner">
        <div class="copilot-waitlist-beta-bubble">
          Limited Beta
        </div>
        <p class="lh-condensed copilot-waitlist-header">Sign up for the Copilot Extensions waitlist</p>

        <p class="text-light mt-4 mb-4">
          You are joining the Copilot Extensions waitlist. Copilot Extensions allow you to add capabilities to GitHub
          Copilot with an ecosystem of extensions from third-party tools and services.
          <%= link_to "Learn more about extensions", Copilot::EXTENSIONS_DOCS, class: "Link--inTextBlock" %>.
        </p>
      </div>
    </div>
  </div>
  <div class="copilot-waitlist-form-section col-12 col-lg-6 pr-8 pb-8 pl-8 pt-10">
    <div class="copilot-waitlist-section-inner">
      <%= render(Copilot::BetaSignupFormComponent.new(
        signup_url_path: copilot_extensions_waitlist_signup_create_path,
        preview_terms: beta.preview_terms,
        survey_questions: beta.survey.questions,
      )) do |component| %>
        <% component.with_additional_inputs do %>
          <% if copilot_user.has_cfb_access? || copilot_user.has_cfe_access? %>
            <legend class="h5 mb-2 mt-2">
              Select which enterprise account or organization you'd like to nominate:
            </legend>

            <details class="width-full details-reset details-overlay d-inline-block select-menu select-menu-modal-right mb-3">
              <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button with-gravatar", "data-menu-button": "") do %>
                Select enterprise or organization
              <% end %>

              <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                <div class="select-menu-list">
                  <span data-menu-button-contents hidden>
                    <div class="d-inline-block mr-1">Select enterprise or organization</div>
                  </span>
                  <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="true">
                    <input type="radio" name="nominee_slug" value="" checked>
                    <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                    <div class="select-menu-item-text">Select enterprise or organization</div>
                  </label>

                  <% entities_for_nomination.each do |entity| %>
                    <% entity_type = entity.is_a?(Copilot::Business) ? "enterprise" : "organization" %>
                    <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="false">
                      <input type="radio" name="nominee_slug" value="<%= "#{entity_type}:#{entity.display_login}" %>">
                      <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                      <div class="select-menu-item-text">
                        <%= avatar_for(entity, 20, class: "avatar select-menu-item-gravatar flex-shrink-0", alt: "#{entity.display_login}'s avatar") %>
                        <div class="mr-2"><%= entity.display_login %></div>
                      </div>
                      <div data-menu-button-contents hidden>
                        <div class="d-inline-block mr-4">
                          <%= avatar_for(entity, 20, class: "avatar select-menu-item-gravatar flex-shrink-0", alt: "#{entity.display_login}'s avatar") %>
                          <div class="mr-2"><%= entity.display_login %></div>
                        </div>
                      </div>
                    </label>
                  <% end %>
                </div>
              </details-menu>
            </details>

            <p class="mb-4">
              If you are not the owner of any enterprise or organization, you can nominate one and we will notify the owner about your request.
              Please note that you can only nominate one account.
            </p>
          <% end %>
          <p class="mb-4">
            Admission to the public beta for GitHub Copilot Extensions will be limited. You will receive an email if you are
            granted access.
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
