<%
  locals = ensure_local_vars(local_assigns, {
    required: [:button_icon, :button_title, :form_path, :form_attributes],
    optional: [:hotkey, :mark_all],
    defaults: {
      mark_all: false,
      in_dropdown: false
    },
    view: "notifications/v2/actions/bulk/action"
  })

  margin_class = locals[:in_dropdown] ? "" : "mr-2"
  button_classes = locals[:in_dropdown] ? "dropdown-item btn-link" : "btn btn-sm"
%>

<div class="js-notification-action js-notification-bulk-action <%= margin_class %>">
  <%= form_tag locals[:form_path], **form_attributes do %>
    <% if locals[:mark_all] %>
      <input type="hidden" name="query" value="<%= params[:query] %>">
      <input type="hidden" name="mark_all" value="1">
    <% end %>

    <button
      type="submit"
      class="d-flex <%= button_classes %>"
      <% if locals[:hotkey].present? && !locals[:mark_all] %>data-hotkey="<%= locals[:hotkey] %>"<% end %><%# erblint:disable DataHotkey %>
    >
      <div class="mr-1">
        <%= primer_octicon(locals[:button_icon]) %>
      </div>
      <%= button_title %>
    </button>
  <% end %>
</div>
