<% if @exception_message.present? %>
  <div class="mt-2 mb-2">
    <%= primer_octicon(:alert, color: :danger, classes: "alert", "aria-label": "Parse Error") %>
    Parsing the certificate to determine validity dates failed.
  </div>
  <code><%= @exception_message %></code>
<% else %>
  <div class="<%= @classes %>">
    <div class="mt-2">Not Before:</div>
    <% if now_is_before %>
      <%= primer_octicon(:alert, color: :danger, classes: "alert", "aria-label": "Is Before Alart") %>
    <% end %>
    <code data-label="not_before">
      <%= @certificate.not_before.strftime(@time_format) %>
    </code>

    <div class="mt-2">Not After:</div>
    <% if now_is_after %>
      <%= primer_octicon(:alert, color: :danger, classes: "alert", "aria-label": "Is After Alart") %>
    <% end %>
    <code data-label="not_after">
      <%= @certificate.not_after.strftime(@time_format) %>
    </code>
  </div>
<% end %>
