<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<%
  locals = ensure_local_vars(local_assigns, {
    required: [:mark_all, :view],
    optional: [:total_count],
    defaults: {},
    view: "notifications/v2/actions/bulk_actions"
  })
%>

<%
  mark_selected_class = "js-notifications-mark-selected-actions"
  mark_all_class      = "js-notifications-mark-all-actions"
  dropdown_class = locals[:mark_all] ? mark_all_class : mark_selected_class
%>

<%# dropdown/mark all is not supported on archived items %>
<% if view.selected_tab?(:done) %>
  <% unless locals[:mark_all] %>
    <div class="ml-3 js-notification-action <%= mark_selected_class %>" hidden>
      <div class="js-notification-bulk-action">
        <%= form_tag notifications_beta_mark_as_unarchived_path, "data-status": "read", "data-update": true do %>
          <button type="submit" class="btn btn-sm" data-hotkey="Shift+I,y"><%# erblint:disable DataHotkey %>
            <%= primer_octicon(:"arrow-right") %> Move to inbox
          </button>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="pl-2 d-flex <%= dropdown_class %>" hidden>
    <%= render partial: "notifications/v2/actions/bulk/done", locals: { mark_all: locals[:mark_all] } %>
    <% if !locals[:mark_all] %>
      <%= render partial: "notifications/v2/actions/bulk/unsubscribe" %>
    <% end %>
    <details class="dropdown details-reset details-overlay d-inline-block">
      <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, "aria-haspopup": "true", "aria-label": "More options") do %>
        <%= primer_octicon(:"kebab-horizontal") %>
      <% end %>

      <details-menu class="dropdown-menu dropdown-menu-sw"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <%= render partial: "notifications/v2/actions/bulk/read", locals: { mark_all: locals[:mark_all] } %>
        <%= render partial: "notifications/v2/actions/bulk/unread", locals: { mark_all: locals[:mark_all] } %>
      </details-menu>
    </details>

    <% if locals[:total_count] > NotificationsV2Controller::PAGE_SIZE %>
      <% if !locals[:mark_all] %>
        <button class="d-none d-sm-block js-notifications-mark-all ml-3 btn-link f6" <%= test_selector("notification-bulk-action-lg") %> type="button" hidden>
          Select all <%= locals[:total_count] %> notifications
        </button>

        <button class="d-block d-sm-none js-notifications-mark-all ml-2 btn-link f6" <%= test_selector("notification-bulk-action-sm") %> type="button" hidden>
          Select all
        </button>
      <% end %>

      <% if locals[:mark_all] %>
        <%= render Primer::ButtonComponent.new(scheme: :link, ml: 3, font_size: 6, classes: "js-notifications-unmark-all") do %>
          Clear selection
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
