<%= link_to("https://docs.github.com/actions/automating-builds-and-tests/about-continuous-integration",
        data: analytics_click_attributes(category: "Features", action: "Click to learn about continuous testing made simple", label: "ref_cta: Testing"), aria: { label: "Learn about continuous testing made simple" }) do %>
  <div class="position-relative mb-4">
    <div class="position-absolute bottom-4" style="right: 2.5%; left: 2.5%;">
      <div class="position-absolute bottom-7 width-full" style="transform: scale(0.96)">
        <img src="<%= image_path "modules/site/ci-cd/codeql-1.png" %>" alt="CodeQL code scanning step 1" class="js-build-in-item build-in-slideY box-shadow-card-border-mktg d-block rounded-3 width-full height-auto" loading="lazy" decoding="async">
      </div>
      <div class="position-absolute bottom-0 width-full" style="transform: scale(0.98)">
        <img src="<%= image_path "modules/site/ci-cd/codeql-2.png" %>" alt="CodeQL code scanning step 2" class="js-build-in-item build-in-slideY box-shadow-card-border-mktg d-block rounded-3 width-full height-auto" loading="lazy" decoding="async">
      </div>
      <div class="position-absolute width-full bottom-n7 width-full">
        <img src="<%= image_path "modules/site/ci-cd/codeql-3.png" %>" alt="CodeQL code scanning step 3" class="js-build-in-item build-in-slideY box-shadow-card-border-mktg d-block rounded-3 width-full height-auto" loading="lazy" decoding="async">
      </div>
    </div>

    <div class="rounded-2 box-shadow-card-border-mktg">
      <img src="<%= image_path "modules/site/ci-cd/codeql-bg.png" %>" alt="Code injection alert" class="width-full" loading="lazy" decoding="async">
    </div>
  </div>
<% end %>
