<div class="ci-cd-cards-column col-3 flex-shrink-0 ci-cd-card">
  <%= link_to(
    "https://github.com/marketplace/actions/#{workflow[:name].parameterize}",
    class: "d-block no-underline color-fg-default color-bg-subtle border rounded px-4 pb-4 pt-3 mb-4",
    target: "_blank",
    title: workflow[:description],
  ) do %>
    <div class="d-flex flex-justify-between flex-items-center mb-2">
      <div class="col-9">
        <%= tag.span(workflow[:name], class: "text-truncate d-block h5") %>
        <%= tag.span("By #{workflow[:author]}", class: "text-normal d-block h6") %>
      </div>
      <div class="circle color-bg-default p-3">
        <%= image_tag(
          image_path("modules/site/ci-cd/actions/#{workflow[:logo]}"),
          alt: "#{workflow[:name]} logo",
          width: "24",
          height: "24",
          class: "d-block",
          loading: "lazy",
          decoding: "async"
        ) %>
      </div>
    </div>
    <%= tag.p(workflow[:description], class: "color-fg-muted mb-3 text-truncate") %>
    <div class="d-flex flex-justify-between flex-items-center">
      <span class="btn">Configure</span>
      <div class="d-flex flex-items-end color-fg-muted">
        Deployment
        <%= render Primer::Beta::Octicon.new(
          icon: :"dot-fill",
          size: :medium,
          color: :severe,
          use_symbol: true,
          ml: 1
        ) %>
      </div>
    </div>
  <% end %>
</div>
