<%
  page_meta = {
    title: "A Complete CI/CD Solution | GitHub",
    description: "Automate software workflows & simplify pipelines with GitHub Actions CI/CD solutions. Build, test, & deploy software with secure enterprise CI/CD."
  }

  page_info \
  title: page_meta[:title],
  description: page_meta[:description],
  marketing_page_theme: "dark",
  class: "header-overlay",
  richweb: {
    title: page_meta[:title],
    url: request.original_url,
    description: page_meta[:description],
    image: image_path("modules/site/social-cards/ci-cd-social.jpg"),
  }

  page_ctas = [{
    text: "Start a free trial",
    url: org_enterprise_plan_path
  },
  {
    text: "Explore Docs",
    url: "#{GitHub.help_url}/actions",
    arrow: true,
  }]
%>

<% content_for :head do %>
  <%= stylesheet_bundle "ci-cd" %>
<% end %>

<%= render Site::SectionComponent.new do %>
  <%= render Site::HeroComponent.new(
    header: "The complete<br>CI/CD solution",
    text: "Build, test, and deploy software with simple and secure enterprise CI/CD, all on the complete development platform.",
    ctas: page_ctas
  ) do |component| %>
    <% component.with_before do %>
      <div class="position-absolute top-0 top-md-n12 mt-md-n12 overflow-hidden events-none" style="-webkit-mask-image: linear-gradient(black 60%, transparent 90%);">
        <%= image_tag(
          image_path("modules/site/ci-cd/gears.svg"),
          alt: "",
          aria: { hidden: true },
          class: "ci-cd-hero-gears width-full height-full",
        ) %>
      </div>
    <% end %>
  <% end %>

  <div class="js-build-in-trigger" data-build-in-stagger="100">
    <div class="text-center mb-5 js-build-in-item build-in-scale-up">
      <%= image_tag(image_path("modules/site/ci-cd/hero_illustration.svg"), alt: "") %>
    </div>

    <div class="d-md-flex gutter-spacious text-md-center col-lg-10 mx-auto">
      <% [{
        icons: [{
          icon: :"repo-push",
          color: :on_emphasis,
          border: :default,
          background: :subtle,
          z: 2,
        }, {
          icon: :webhook,
          color: :on_emphasis,
          border: :sponsors,
          background: :"sponsors-emphasis",
          z: 1,
        }],
        header: "Turn code into software",
        text: "Automatically trigger builds on every commit with workflow builder.",
      }, {
        icons: [{
          icon: :alert,
          color: :severe,
          border: :severe,
          background: :inherit,
          z: 2,
        }, {
          icon: :sync,
          color: :muted,
          border: :default,
          background: :subtle,
          z: 1,
        }],
        header: "Secure and improve",
        text: "End-to-end testing for security, code quality, performance, and functionality.",
      }, {
        icons: [{
          icon: :"issue-reopened",
          color: :severe,
          border: :default,
          background: :subtle,
          z: 1,
        }, {
          icon: :check,
          color: :on_emphasis,
          border: :success,
          background: :"success-emphasis",
          z: 2,
        }],
        header: "Ship with confidence",
        text: "Automate deployments from start to finish to one or multiple cloud providers.",
      }].each do |i| %>
        <div class="col-md-4">
          <div class="d-flex d-md-block pb-4">
            <div class="col-3 col-sm-2 col-md-12">
              <% for icon in i[:icons] %>
                <%= tag.div(
                  (render Primer::Beta::Octicon.new(
                    icon: icon[:icon],
                    color: icon[:color],
                  )),
                  class: "d-inline-block lh-condensed-ultra p-2 p-md-3 mr-n2 ml-md-n1 circle border color-bg-#{icon[:background]} color-border-#{icon[:border]} position-relative z-#{icon[:z]} js-build-in-item build-in-slideX-right"
                ) %>
              <% end %>
            </div>

            <div class="col-9 col-sm-10 col-md-12 pt-md-4">
              <%= tag.h2(i[:header], class: "h6-mktg mb-2") %>
              <%= tag.p(i[:text], class: "f4-mktg color-fg-muted") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div <%= mktg_color_theme_attributes(mode: "light") %>>
  <div style="transform: rotate(180deg)">
    <%= svg("site/ci-cd/glitch_defs.svg") %>
    <%= render "site/solutions/ci_cd/glitch" %>
  </div>

  <%= render Site::SectionComponent.new do %>
    <% [{
      name: "build",
      header: "<span>Build</span> fast,<br>stay secure",
      text: "Easy-to-set-up and simple-to-maintain CI/CD that helps your developers build more secure code from the start without sacrificing speed.",
      features: {
        "Increase developer velocity." => "Build faster with CI/CD that lives next to your code.",
        "Faster feedback loops." => "Alerting on commits for integration testing and performance.",
        "Secure every build." => "Track vulnerabilities, advisories, and dependencies.",
      },
      illustration: "site/solutions/ci_cd/illustration_build",
      testimonial: {
        quote: "Six months ago we had around 60 outstanding security CVEs. Today, we have zero.",
        title: "Senior Engineering Manager",
        company: "Wealthsimple",
        url: "/customer-stories/wealthsimple"
      }
    }, {
      name: "test",
      header: "Continuous <span>testing</span><br>made simple",
      text: "Track everything from code quality to your security profile with end-to-end testing built to keep you secure and in compliance at every stage.",
      features: {
        "Improve performance." => "Test performance and runtime across languages and platforms.",
        "Secure at every step." => "Keep supply chains up to date and secure with powerful automation.",
        "Governance & compliance." => "Ensure policy enforcement and reduce risks.",
      },
      illustration: "site/solutions/ci_cd/illustration_test",
      testimonial: {
        quote: "One of the big benefits of using GitHub for CI/CD and security automation is that we don’t have to build, deploy, or maintain additional tools.",
        title: "Software Engineer",
        company: "Mercari",
        url: "/customer-stories/mercari"
      }
    }, {
      name: "deploy",
      header: "<span>Deploy</span> software<br>with confidence",
      text: "Seamless CI/CD deployment automation makes it simple to deliver secure software with all cloud providers so you can scale confidently.",
      features: {
        "Hands-off infrastructure." => "Fast, scalable, secure resources, all managed by GitHub. ",
        "Stay secure in the cloud." => "Ship to one or more cloud platforms with OpenID Connect.",
        "End-to-end traceability." => "Diagnose security issues and verify compliance.",
      },
      illustration: "site/solutions/ci_cd/illustration_deploy",
      testimonial: {
        quote: "CI/CD with GitHub Actions allows us to build, test, and deploy right from GitHub. We’ve reduced build time from 80 to 10 minutes.",
        title: "Engineering Architect",
        company: "Pinterest",
        url: "/customer-stories/pinterest"
      }
    }].each_with_index do |section, index| %>
      <%= render Site::RiverComponent.new(
        header: section[:header],
        text: section[:text],
        text_placement: index.odd? ? :right : :left,
        classes: "ci-cd-river-text-gradient",
      ) do |component| %>
        <% component.with_after do %>
          <%= render Site::TimelineComponent.new(classes: "pt-3 pt-md-5") do |c| %>
            <% section[:features].each do |title, description| %>
              <% c.with_item do %>
                <%= tag.span(title, class: "text-medium color-fg-default") %>
                <%= description%>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <div class="position-relative">
          <%= render section[:illustration] %> <%# rubocop:disable GitHub/RailsViewRenderLiteral %>
        </div>

        <div class="col-md-10 offset-1 border-left pl-3 pl-md-5 pt-4 pt-md-6 js-build-in-item build-in-scale-up">
          <%= tag.div("“", class: "h3-mktg mb-n3")%>
          <%= tag.blockquote(
            section[:testimonial][:quote],
            class: "f3-mktg mb-3 text-gradient-mktg"
          ) %>
          <cite class="color-fg-subtle text-mono" style="font-style: normal;">
            <%= section[:testimonial][:title] %> // <%= tag.a(section[:testimonial][:company], href: section[:testimonial][:url], class: "color-fg-inherit text-underline") %>
          </cite>
        </div>
      <% end %>
    <% end %>
  <% end %>


  <%= render "site/solutions/ci_cd/glitch" %>
</div>

<%= render Site::SectionComponent.new(padding: false, classes: "pt-6") do %>
  <%= render "site/solutions/ci_cd/marketplace" %>

  <%= render Site::RiverComponent.new(
    header: "Powerful CI/CD<br><span>with GitHub Enterprise</span>",
    text: "The complete developer platform to build, scale, and deliver&nbsp;secure&nbsp;software.",
    text_placement: :center,
    size: :large,
    classes: "ci-cd-river-text-gradient",
    cache_version: 2
  ) do |component| %>
    <% component.with_after do %>
      <div class="d-flex flex-justify-center mt-5">
        <%= render Site::ButtonGroupComponent.new(
          size: :large,
          analytics: {
            ref_loc: "Enterprise CTAs",
            category: "Enterprise CTAs",
          },
          buttons: [{
            text: "Start a free trial",
            url: org_enterprise_plan_path(ref_cta: "Start a free trial", ref_loc: "hero", ref_page: "enterprise"),
          }, {
            text: "Compare GitHub",
            url: "https://resources.github.com/devops/tools/compare/",
            arrow: true,
          }],
        ) %>
      </div>
    <% end %>

    <div class="ci-cd-feature-cards d-lg-flex gutter text-left mt-6 mb-12">
      <div class="col-lg-8">
        <div class="d-lg-flex gutter mb-lg-5">
          <div class="col-lg-6">
            <card-skew class="d-lg-flex flex-column height-full rounded-3 overflow-hidden mb-3 mb-lg-0">
              <%= link_to(features_actions_path,
                class: "color-fg-default color-bg-subtle height-full border rounded-3 position-relative z-1 d-flex flex-column height-full no-underline",
                data: analytics_click_attributes(category: "Feature cards", action: "Click to learn about GitHub Actions", label: "ref_cta: Actions")) do %>
                <div class="d-md-flex flex-lg-column height-full p-6 rounded-3 overflow-hidden">
                  <div class="col-md-6 col-lg-12 pb-4 pr-3">
                    <%= render Primer::Beta::Octicon.new(icon: :workflow, size: :medium, mb: 2) %>
                    <h3 class="h2 mb-1">Actions</h3>
                    <p class="f4-mktg color-fg-muted">Set up CI/CD and script your entire workflow.</p>
                  </div>

                  <div class="col-md-6 ci-cd-sevice-image-lg mt-auto">
                    <%= render Site::ImageComponent.new(
                      src: image_path("modules/site/ci-cd/illu-actions.png"),
                      width: 984,
                      height: 854,
                      classes: "d-block rounded box-shadow-card-border-light-mktg",
                      alt: "",
                      aria: { hidden: true },
                      sizes: "427px",
                      style: "width: 492px; height: 427px;"
                    ) %>
                  </div>
                </div>
                <div data-target="card-skew.shine" class="position-absolute bottom-0 right-0 events-none z-n1"></div>
              <% end %>
            </card-skew>
          </div>
          <div class="col-lg-6">
            <card-skew class="d-lg-flex flex-column height-full rounded-3 overflow-hidden mb-3 mb-lg-0">
              <%= link_to(
                features_packages_path,
                class: "color-fg-default color-bg-subtle height-full border rounded-3 position-relative z-1 d-flex flex-column height-full no-underline",
                data: analytics_click_attributes(category: "Feature cards", action: "Click to learn about GitHub Packages", label: "ref_cta: Packages"), target: "card-skew.bounding") do %>
                <div class="d-md-flex flex-lg-column height-full p-6 rounded-3 overflow-hidden">
                  <div class="col-md-6 col-lg-12 pb-4 pr-3">
                    <%= render Primer::Beta::Octicon.new(icon: :package, size: :medium, mb: 2) %>
                    <h3 class="h2 mb-1">Packages</h3>
                    <p class="f4-mktg color-fg-muted">Publish and consume packages. And containers, too.</p>
                  </div>

                  <div class="col-md-6 ci-cd-sevice-image-lg mt-auto">
                    <%= render Site::ImageComponent.new(
                      src: image_path("modules/site/ci-cd/illu-packages.png"),
                      width: 980,
                      height: 570,
                      classes: "d-block rounded box-shadow-card-border-light-mktg",
                      alt: "",
                      aria: { hidden: true },
                      sizes: "490px",
                      style: "width: 490px; height: 285px;"
                    ) %>
                  </div>
                </div>
                <div data-target="card-skew.shine" class="position-absolute bottom-0 right-0 events-none z-n1"></div>
              <% end %>
            </card-skew>
          </div>
        </div>
        <div class="col-12">
          <card-skew class="d-flex flex-column height-full rounded-3 overflow-hidden mb-3 mb-lg-0">
            <%= link_to(features_security_path,
              class: "color-fg-default color-bg-subtle border rounded-3 position-relative z-1 d-flex flex-column height-full no-underline",
              data: analytics_click_attributes(category: "Feature cards", action: "Click to learn about Security", label: "ref_cta: Advanced Security")) do %>
              <div class="d-md-flex height-full p-6 p-lg-0 rounded-3 overflow-hidden">
                <div class="col-md-5 col-lg-12 pb-4 pt-lg-6 pl-lg-6">
                  <%= render Primer::Beta::Octicon.new(icon: :"shield-check", size: :medium, mb: 2) %>
                  <h3 class="h2 mb-1">Advanced Security</h3>
                  <p class="f4-mktg color-fg-muted">Find and fix vulnerabilities.</p>
                </div>

                <div class="col-md-7 ci-cd-sevice-image">
                  <%= render Site::ImageComponent.new(
                    src: image_path("modules/site/ci-cd/illu-advanced-security.png"),
                    width: 1126,
                    height: 758,
                    classes: "d-block mb-n8",
                    alt: "",
                    aria: { hidden: true },
                    sizes: "563px",
                    style: "width: 563px; height: 379px;"
                  ) %>
                </div>
              </div>
              <div data-target="card-skew.shine" class="position-absolute bottom-0 right-0 events-none z-n1"></div>
            <% end %>
          </card-skew>
        </div>
      </div>
      <div class="col-lg-4">
        <card-skew class="d-flex flex-column height-full rounded-3 overflow-hidden">
          <%= link_to(
            features_code_review_path,
            class: "color-fg-default color-bg-subtle border rounded-3 position-relative z-1 d-flex flex-column height-full no-underline",
            data: analytics_click_attributes(category: "Feature cards", action: "Click to learn about Code Review", label: "ref_cta: Code Review")) do %>
            <div class="d-md-flex flex-lg-column height-full p-6 rounded-3 overflow-hidden">
              <div class="col-md-6 col-lg-9 pb-4">
                <%= render Primer::Beta::Octicon.new(icon: :"code-review", size: :medium, mb: 2) %>
                <h3 class="h2 mb-1">Code Review</h3>
                <p class="f4-mktg color-fg-muted">Testing built into every pull request.</p>
              </div>

              <div class="col-md-6 col-lg-12 ci-cd-sevice-image mt-auto">
                <%= render Site::ImageComponent.new(
                  src: image_path("modules/site/ci-cd/illu-code-review.png"),
                  width: 990,
                  height: 888,
                  classes: "d-block rounded box-shadow-card-border-light-mktg",
                  alt: "",
                  aria: { hidden: true },
                  sizes: "495px",
                  style: "width: 495px; height: 444px;"
                ) %>
              </div>
            </div>
            <div data-target="card-skew.shine" class="position-absolute bottom-0 right-0 events-none z-n1"></div>
          <% end %>
        </card-skew>
      </div>
    </div>

    <div class="d-md-flex gutter-spacious text-left">
      <% [{
        title: "Build",
        description: "Turn code into the software",
        items: [{
          icon: :"code-square",
          title: "Unified development platform",
          text: "Access code, collaboration, packages, CI/CD and more all from a single platform.",
          url: "https://docs.github.com/enterprise-cloud@latest/admin/overview/about-github-for-enterprises"
        }, {
          icon: :package,
          title: "Container and package management",
          text: "Keep containers and packages in a centralized and private registry.",
          url: "https://docs.github.com/packages/learn-github-packages/introduction-to-github-packages"
        }, {
          icon: :plug,
          title: "Rich integration ecosystem",
          text: "Easily integrate third-party tools and services you need on GitHub.",
          url: "https://docs.github.com/get-started/customizing-your-github-workflow/exploring-integrations/about-integrations"
        }, {
          icon: :codescan,
          title: "Always-on scanning",
          text: "Keep code, dependencies, and tokens secure with always-on testing.",
          url: "https://docs.github.com/code-security/getting-started/github-security-features"
        }, {
          icon: :"shield-check",
          title: "Security scorecards",
          text: "Shift left with automated security testing that flag supply chain risks.",
          url: "https://github.com/ossf/scorecard"
        }]
      }, {
        title: "Test",
        description: "Secure and improve",
        items: [{
          icon: :code,
          title: "Language and platform agnostic",
          text: "Support for  all major platforms, languages, and development frameworks.",
          url: "https://docs.github.com/actions"
        }, {
          icon: :container,
          title: "Multi-container testing",
          text: "Secure multi-container applications with powerful automated testing.",
          url: "https://docs.github.com/actions/using-containerized-services/about-service-containers#communicating-with-service-containers"
        }, {
          icon: :sync,
          title: "Fast feedback loops",
          text: "Alerting on commits for integration testing and performance.",
          url: "https://docs.github.com/github-ae@latest/actions/monitoring-and-troubleshooting-workflows/notifications-for-workflow-runs"
        }, {
          icon: :law,
          title: "Governance & compliance",
          text: "Reduce risks by automating policy enforcement and assigning permissions.",
          url: "https://docs.github.com/github-ae@latest/admin/github-actions/getting-started-with-github-actions-for-your-enterprise/introducing-github-actions-to-your-enterprise#governance-and-compliance"
        }, {
          icon: :workflow,
          title: "Build matrix testing",
          text: "Simultaneously test on Linux, Windows, and macOS with support for any development framework or language.",
          url: "https://docs.github.com/actions/using-jobs/using-a-matrix-for-your-jobs"
        }]
      }, {
        title: "Deploy",
        description: "Ship with confidence",
        items: [{
          icon: :server,
          title: "Powerful GitHub-hosted runners",
          text: "MacOS, Linux, and Windows, with x86 and ARM available for self-hosted runners.",
          url: "https://docs.github.com/actions/using-github-hosted-runners/using-larger-runners"
        }, {
          icon: :cloud,
          title: "OpenID Connect",
          text: "Centralize security with your cloud provider of choice.",
          url: "https://docs.github.com/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-cloud-providers"
        }, {
          icon: :rocket,
          title: "Deployment protection rules",
          text: "Set deployment rules to mitigate risk.",
          url: "https://docs.github.com/actions/deployment/targeting-different-environments/using-environments-for-deployment#environment-protection-rules"
        }, {
          icon: :upload,
          title: "Production environment provisioning",
          text: "Automatically provision production environments on every release.",
          url: "https://docs.github.com/actions/deployment/about-deployments/deploying-with-github-actions"
        }, {
          icon: :log,
          title: "End-to-end traceability",
          text: "Track application and infrastructure performance with dynamic logging and extensive APIs.",
          url: "https://docs.github.com/actions/deployment/about-deployments/deploying-with-github-actions#monitoring-workflow-runs"
        }]
      }].each do |group| %>
        <div class="col-md-4 js-build-in-item build-in-scale-up">
          <div class="border-bottom">
            <%= tag.h3(group[:title], class: "h5-mktg mb-1") %>
            <%= tag.p(group[:description], class: "f4-mktg color-fg-muted mb-3") %>
          </div>

          <% group[:items].each do |item| %>
            <div class="col-lg-10 mt-6 mt-md-8">
              <%= render Site::PillarComponent.new(
                octicon: item[:icon],
                header: item[:title],
                header_tag: :h4,
                text: item[:text],
                link: {
                  text: "Learn more",
                  url: item[:url],
                  target: "_blank",
                  size: :medium,
                  classes: "color-fg-accent"
                }
              ) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= render Site::RiverComponent.new(
    header: "Resources & insights",
    text_placement: :center,
    padding: false,
    cache_version: 2
  ) do %>
    <div class="d-md-flex text-left gutter-spacious">
      <% {
        "6 DevOps tips to help engineering leaders deliver software at scale" => "https://resources.github.com/devops/six-tips-faster-software-delivery/",
        "How developer-first supply chain security helps you secure faster" => "https://resources.github.com/security/supply-chain-security/",
        "How to automate CI/CD and security with GitHub Enterprise" => "https://resources.github.com/devops/tools/automation/automating-ci-cd-enterprise/",
      }.each do |title, url| %>
        <%= render Site::CardComponent.new(
          header: title,
          url: url,
          cta: "Get the report",
          background: :subtle,
          octicon: "book"
        ) %>
      <% end %>
    </div>
  <% end %>
<% end %>
