<div class="text-small clearfix pb-5">
  <div class="col-12 clearfix">
    <p><%= sanitize(license.meta["description"], tags: []) %></p>
    <div class="gutter d-flex">
      <% rules = license.rules.to_h.sort_by { |group, rules| group }.reverse.to_h %>
      <% rules.each do |group, rules| %>
        <div class="col-4 p-0 mb-2">
          <h5 class="mt-1 mb-2"><%= group.capitalize %></h5>
          <ul class="list-style-none">
            <% rules.each do |rule| %>
              <li class="pl-3">
                <%= octicon(License::RULES_OCTICONS[group], width: 13,
                            class: "#{License::RULES_OCTICON_CLASSES[group]} ml-n3 v-align-middle") %>
                <span class="v-align-middle" title="<%= rule[:description] %>"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
                  <%= rule[:label] %>
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <p class="clearfix color-fg-muted col-12 mt-2 mb-0 pb-5 border-bottom">
    This is not legal advice.
    <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/licensing-a-repository/#disclaimer">Learn more about repository licenses</a>.
  </p>
</div>
