<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%
  page_info title: "Add a license to #{current_repository.name_with_display_owner}",
  license: params[:license],
  container_xl: true,
  skip_pjax_container: true,
  selected_link: :community,
  dashboard_pinnable_item_id: current_repository.global_relay_id

  branch = params[:branch] || current_repository.default_branch
  filename = params[:filename] || 'LICENSE'
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <div class="mb-4 px-4 color-bg-default clearfix">
    <%= selected_link_to("Add a license to your project", license_tool_path, class: "float-left text-bold Link--primary no-underline") %>
  </div>

  <%= render(Primer::Alpha::Layout.new(gutter: :none, stacking_breakpoint: :sm)) do |layout| %>
    <% layout.with_sidebar(width: :narrow, border: true, border_right: 0, border_left: 0, bg: :subtle) do %>
      <% License.sorted_list.each_with_index do |license, i| %>
        <%= selected_link_to(license_tool_path(template: license.key, branch: branch, filename: filename), class: "SideNav-item pl-4") do %>
          <%= content_tag(:span, license.name, class: license.featured? ? "text-bold" : "") %>
        <% end %>
      <% end %>
    <% end %>


    <% layout.with_main(border: true, border_right: 0) do %>
      <% if license %>
        <%= render(Primer::Alpha::Layout.new(stacking_breakpoint: :md)) do |sub_layout| %>
          <% sub_layout.with_sidebar(width: :narrow, bg: :subtle, col_placement: :end, row_placement: :start, p: 4, border: :left) do %>
            <p class="text-small">
              <% unless license.fields.empty? %>
                To adopt <strong><%= license.name %></strong>, enter your details.
              <% end %>
              You’ll have a chance to review before committing a <em><%= filename %></em> file to a new branch or the root of your project.
            </p>

            <%= form_for :license, :url => community_generator_form_path(filename, branch), html: { class: "mt-3", id: "license-form" } do |f| -%>
              <%= hidden_field(:license, :license, value: license.key) %>
              <%= hidden_field(nil, :filename, value: filename) %>
              <% field_values = license.field_values_for_repository(current_repository) %>
              <% license.fields.uniq.each do |field| %>
                <dl class="d-block my-2">
                  <dt class="mb-1">
                    <label for="license[<%= field.key %>]"><%= field.label.humanize %>
                      <span class="tooltipped tooltipped-n" aria-label="<%= field.description %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                        <%= primer_octicon(:info, color: :muted) %>
                      </span>
                    </label>
                  </dt>
                  <dd>
                    <input class="form-control input-sm width-full js-template-form-input" required name="license[<%= field.key %>]" id="license[<%= field.key %>]" data-fieldname="<%= field.key %>" value="<%= field_values[field.key] %>">
                  </dd>
                </dl>
              <% end %>
              <button type="submit" class="btn btn-primary mt-3" id="license-add" data-ga-click="Community template tool, add a license, review and submit">Review and submit</button>
            <% end %>
          <% end %>
          <% sub_layout.with_main(p: 4) do %>
            <%= content_tag(:div, class: "CommunityTemplate-markdown") do %>
              <%= render :partial => "community/license_overview", :locals => { :license => license } %>
              <%= content_tag(:div, class: "markdown-body") do %>
                  <%= rendered_community_template(license) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <div class="pt-4 text-center">
          <%= primer_octicon(:law, width: 60, color: :muted) %>
          <p class="mt-3 f1-light">Choose a license to add to your project</p>
          <p class="f3-light">Select a template on the left to get started.
          <br>Learn more about <a class="Link--inTextBlock" href="https://opensource.guide/legal/#which-open-source-license-is-appropriate-for-my-project">which license best fits your project</a>.</p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>
