<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<%
  page_info title: "Add a code of conduct to #{current_repository.name_with_display_owner}",
    coc: params[:coc],
    container_xl: true,
    skip_pjax_container: true,
    selected_link: :community,
    dashboard_pinnable_item_id: current_repository.global_relay_id

  branch = params[:branch] || current_repository.default_branch
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <div class="mb-4 px-4 color-bg-default clearfix">
    <%= selected_link_to("Add a code of conduct to your project", code_of_conduct_tool_path, class: "float-left text-bold Link--primary no-underline") %>
  </div>

  <%= render(Primer::Alpha::Layout.new(gutter: :none, stacking_breakpoint: :sm)) do |layout| %>
    <% layout.with_sidebar(border: true, border_right: 0, border_left: 0, bg: :subtle) do %>
      <% CodeOfConduct.recommended.each do |code_of_conduct| %>
        <%= selected_link_to(code_of_conduct_tool_path(template: code_of_conduct.family), class: "SideNav-item pl-4", data: { octo_click: "community-template-tool_add_code_of_conduct", octo_dimensions: "user_id:#{current_user.id},coc:#{code_of_conduct}", ga_click: "Community template tool, add a code of conduct, view #{code_of_conduct.family.humanize}" }) do %>
          <strong><%= code_of_conduct.name_without_version %></strong>
          <p class="text-normal mb-0">
            <%= code_of_conduct.description %>
          </p>
        <% end %>
      <% end %>
    <% end %>
    <% layout.with_main(border: true, border_right: 0) do %>
      <% if code_of_conduct %>
        <%= render(Primer::Alpha::Layout.new(stacking_breakpoint: :md)) do |layout| %>
          <% layout.with_sidebar(bg: :subtle, col_placement: :end, row_placement: :start, p: 4, border: :left) do %>
            <p class="text-small">To adopt <strong><%= code_of_conduct.name %></strong>, enter your details. You’ll have a chance to review before committing a <em>CODE_OF_CONDUCT.md</em> file to a new branch or the root of your project.</p>

            <%= form_for :code_of_conduct, :url => community_generator_form_path("CODE_OF_CONDUCT.md", branch), html: { class: "mt-3" } do |f| -%>
              <%= hidden_field :code_of_conduct, :code_of_conduct, value: code_of_conduct.family %>
              <% code_of_conduct.unique_fields.each do |field| %>
                <dl class="d-block my-2">
                  <dt class="mb-1">
                    <label for="code_of_conduct[<%= field.key %>]"><%= field.label %>
                      <% if field.description.present? %>
                        <span class="tooltipped tooltipped-multiline tooltipped-s" aria-label="<%= field.description %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                          <%= primer_octicon(:info, color: :muted) %>
                        </span>
                      <% end %>
                    </label>
                  </dt>
                  <dd>
                    <input class="form-control input-sm width-full js-template-form-input"
                      name="code_of_conduct[<%= field.key %>]" id="code_of_conduct[<%= field.key %>]"
                      data-fieldname="<%= field.key %>" value="<%= local_assigns[field.key.to_sym] %>">
                  </dd>
                </dl>
              <% end %>
              <button type="submit" class="btn btn-primary mt-3" id="code-of-conduct-add" data-ga-click="Community template tool, add a code of conduct, review and submit">Review and submit</button>
            <% end %>
          <% end %>
          <% layout.with_main do %>
            <div class="CommunityTemplate-markdown markdown-body p-4">
              <%= rendered_community_template(code_of_conduct) %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="pt-4 text-center border-right">
          <div class="CommunityTemplate-markdown markdown-body p-4">
            <%= primer_octicon(:checklist, width: 60, color: :muted) %>
            <p class="mt-3 f1-light">Choose a code of conduct to add to your project</p>
            <p class="f3-light">Select a template on the left to get started.
            <br>Learn more about <a class="Link--inTextBlock" href="https://opensource.guide/code-of-conduct">what a code of conduct is</a> and how to enforce it.</p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>
