<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%
  account = locals[:account]
  context = locals[:context]
  current_plan = account&.plan
  move_work = locals[:move_work] || false
  show_features = locals[:show_features] || false
  ghec_recommended_plan = params[:controller] == "site/pricing"
  monthly_only = locals[:monthly_only] || false
  button_text = nil
  if account&.org_free_plan? || current_plan&.business?
    button_text = 'Upgrade to Enterprise'
  elsif account&.upgrading_from_trial?
    button_text = 'Buy Enterprise'
  end
%>

<div class="col-lg-4 mb-3 mb-lg-0">
  <div class="height-full position-relative rounded-3 px-2 pt-5 pb-2 js-pricing-plan <%= 'js-forced-recommended-plan pricing-recommended-plan' if ghec_recommended_plan %>" data-min-seats="11" data-max-seats="Infinity" <%= test_selector(GitHub::Plan.business_plus) %> >
    <p class="position-absolute left-0 right-0 h5 text-center text-uppercase color-text-white js-recommended-plan-caption" <%= 'hidden' unless ghec_recommended_plan %> style="top:6px;"><%= ghec_recommended_plan ? "Recommended" : "Most popular" %></p>
    <div class="d-md-flex flex-column flex-justify-between height-full rounded-3 color-shadow-extra-large color-bg-default">
      <div class="px-3 pt-4 pb-3">
        <h2 class="mb-2 h5-mktg">Enterprise</h2>
        <p class="color-fg-muted lh-condensed">Security, compliance, <br>and flexible deployment</p>
        <%= render Pricing::PriceTagComponent.new(plan: GitHub::Plan.business_plus, render_mode: :plan_card, monthly_only: monthly_only) %>

        <div class="mt-2">
          <div>
            <% if context == "pricing" %>
              <% unless emu? %>
                <div class="d-flex flex-wrap flex-column-reverse flex-xl-row gutter-md-condensed">
                  <div class="col-12 col-xl-6">
                    <%=  render "site/pricing/pricing_button_free_trial",
                      classes: "d-block btn-mktg",
                      context: context,
                      ref_loc: "pricing_plan",
                      test_selector: "plan-input-#{GitHub::Plan.business}",
                      move_work: move_work
                    %>
                  </div>
                  <div class="col-12 col-xl-6 mb-2 mb-xl-0">
                    <a href="<%= ent_contact_url %>?ref_page=<%= request.fullpath %>&ref_cta=<%= url_encode("Contact Sales") %>&ref_loc=<%= url_encode("cards") %>"
                      class="<%= context == "pricing" ? "d-block btn-mktg btn-muted-mktg" : "btn btn-block btn-large" %>"
                      <%= safe_analytics_click_attributes(
                        category: "Contact Sales",
                        action: "click to open contact sales",
                        label: "ref_page:#{request.fullpath};ref_cta:Contact Sales;ref_loc:pricing_plan_enterprise"
                      ) %>
                    >
                      Contact Sales
                    </a>
                  </div>
                </div>
              <% end %>
            <% else %>
              <% if logged_in? %>
                <% if emu? %>
                <% elsif button_text.present? %>
                  <%= render(Primer::ButtonComponent.new(
                    tag: :a,
                    href: "#{ upgrade_path(
                      plan: GitHub::Plan.business_plus,
                      target: "organization",
                      source: "account compare plans",
                      org: account
                    ) }",
                    block: true,
                    scheme: :primary)) { button_text } %>
                <% elsif current_plan.business_plus? %>
                  <div class="text-center pb-2">
                    <%= render(Primer::Beta::Label.new(title: "Current plan", scheme: :orange)) { "Current plan" } %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <p class="d-lg-none py-3 js-yearly-cost">
            <span class="color-fg-accent f4">*</span>
            <% cache "site_pricing_business_plus_discount_notice", expires_in: 1.day do %>
              <%= render Pricing::AnnualDiscountNoticeComponent.new(plan: GitHub::Plan.business_plus) %>
            <% end %>
          </p>
        </div>
      </div>

      <% if show_features %>
        <%= render 'site/pricing/plan_features/business_plus' %>
      <% end %>
    </div>
  </div>
</div>
