<%
  account = locals[:account]
  context = locals[:context]
  current_plan = account&.plan
  show_features = locals[:show_features] || false
  monthly_only = locals[:monthly_only] || false
%>

<div class="col-lg-4 mb-3 mb-lg-0">
  <div class="height-full position-relative rounded-3 px-2 pt-5 pb-2 js-pricing-plan" data-min-seats="1" data-max-seats="4" <%= test_selector(GitHub::Plan.free) %>>
    <div class="d-md-flex flex-column flex-justify-between height-full rounded-3 color-shadow-extra-large color-bg-default">
      <div class="px-3 pt-4 pb-3">
        <h2 class="mb-2 h5-mktg">Free</h2>
        <p class="color-fg-muted lh-condensed mb-2">The basics for individuals <br>and organizations</p>
        <%= render Pricing::PriceTagComponent.new(plan: GitHub::Plan.free, render_mode: :plan_card, monthly_only: monthly_only) %>

        <div class="mt-2">
          <% if logged_in? %>
            <% if context == "pricing" %>
              <% unless emu? %>
                <%= render Site::ButtonComponent.new(
                  text: "Create a free organization",
                  url: new_organization_path(plan: GitHub::Plan.free, "ref_page": request.fullpath, "ref_cta": url_encode("Create a free organization"), "ref_loc": url_encode("cards"), **utm_memo),
                  scheme: :muted,
                  classes: "d-block",
                  data: {
                    **hydro_click_tracking_attributes(
                      "create_org.click",
                      category: "Organization creation",
                      action: "click to set up organization",
                      label: "ref_page:#{request.fullpath};ref_cta:Join for free;ref_loc:cards",
                      location: :CREATE_ORG_BUTTON,
                    )
                  },
                  test_selector: "plan-input-#{GitHub::Plan.free}"
                ) %>
              <% end %>
            <% elsif account.org_free_plan? || account.personal_plan? %>
              <div class="text-center pb-2">
                <%= render(Primer::Beta::Label.new(title: "Current plan", scheme: :orange)) { "Current plan" } %>
              </div>
            <% elsif !Billing::EnterpriseCloudTrial.new(account).active? %>
              <%= render Billing::Settings::DowngradeDialogComponent.new(
                organization: (context == "personal" ? nil : account),
                current_plan: current_plan,
                new_plan: GitHub::Plan.free,
                dialog_button_style: :comparison_button,
                dialog_id: "plan-downgrade-dialog-free-cards")
              %>
            <% end %>
          <% else %>
            <%= render Site::ButtonComponent.new(
              text: "Join for free",
              url: signup_path(source: "pricing-card-free", plan: GitHub::Plan.free, "ref_page": request.fullpath, "ref_cta": url_encode("Join for free"), "ref_loc": url_encode("cards")),
              scheme: :muted,
              classes: "d-block",
              analytics: {
                category: "Sign up",
                action: "click to sign up for account",
                label: "ref_page:#{request.fullpath};ref_cta:Join for free;ref_loc:cards"
              },
              test_selector: "plan-input-#{GitHub::Plan.free}"
            ) %>
          <% end %>
        </div>
      </div>

      <% if show_features %>
        <%= render 'site/pricing/plan_features/free' %>
      <% end %>
    </div>
  </div>
</div>
