<%
  account = locals[:account]
  show_features = locals[:show_features] || false
  monthly_only = locals[:monthly_only] || false
%>

<div class="col-lg-4 mb-3 mb-lg-0">
  <div class="height-full position-relative pt-md-5 pb-md-2">
    <div class="d-md-flex flex-column flex-justify-between height-full rounded-3 color-shadow-extra-large color-bg-default">
      <div class="px-3 pt-4 pb-3">
        <h2 class="mb-2 h5-mktg">Pro</h2>
        <p class="color-fg-muted lh-condensed">Advanced tools for private repos</p>
        <%= render Pricing::PriceTagComponent.new(plan: GitHub::Plan.pro, render_mode: :plan_card, monthly_only: monthly_only) %>

        <div class="mt-2">
          <% if logged_in? %>
            <% if account.personal_plan? %>
              <%= render Site::ButtonComponent.new(
                text: "Upgrade to Pro",
                url: upgrade_path(plan: GitHub::Plan.pro, source: "account compare plans"),
                classes: "d-block",
                test_selector: "plan-input-#{GitHub::Plan.pro}"
              ) %>
            <% elsif emu? %>
            <% else %>
              <div class="text-center pb-2">
                <%= render(Primer::Beta::Label.new(title: "Current plan", scheme: :orange)) { "Current plan" } %>
              </div>
            <% end %>
          <% else %>
            <%= render Site::ButtonComponent.new(
              text: "Continue with Pro",
              url: signup_path(source: "pricing-card-free", plan: GitHub::Plan.pro, "ref_page": request.fullpath, "ref_cta": url_encode("Continue with Pro"), "ref_loc": url_encode("cards")),
              classes: "d-block",
              scheme: :muted,
              analytics: {
                category: "Sign up",
                action: "click to sign up for account",
                label: "ref_page:#{request.fullpath};ref_cta:Continue with Pro;ref_loc:cards"
              },
              test_selector: "plan-input-#{GitHub::Plan.pro}"
            ) %>
          <% end %>
        </div>
      </div>

      <% if show_features %>
        <%= render 'site/pricing/plan_features/pro' %>
      <% end %>
    </div>
  </div>
</div>
