<%= render(Primer::Alpha::Dialog.new(
  position: :right,
  title: "Generate regular expression",
  id: "generate-expressions-sidebar",
  aria_label: "Generate regular expression",
  test_selector: "generate-expressions-sidebar",
)) do |d| %>
  <% d.with_show_button(
    ml: 1,
    test_selector: "generate-regular-expression-button",
    data: {
      **analytics_click_attributes(
        category: "custom_patterns_ai",
        action: "open_generate_with_ai_sidebar",
      )
    }) { "Generate with AI" } %>
  <% d.with_header(show_divider: true) do %>
    <%= render(Primer::Box.new(display: :inline_flex, align_items: :center)) do %>
      <%= render(Primer::Beta::Heading.new(tag: :h2, font_size: 4, test_selector: "sidebar-heading")) { "Generate regular expression" } %>
      <%= render(Primer::Beta::Link.new(href: "https://github.com/orgs/community/discussions/75457", ml: 2, font_size: 6, test_selector: "sidebar-feedback-link")) { "Give feedback" } %>
    <% end %>
  <% end %>
  <% d.with_body(display: :block) do %>
    <%= render(Primer::Box.new(flex: :auto, test_selector: "regex-description")) do %>
      <div class="form-group-header mb-1">
        <%= label_tag :description, "I want a regular expression that *", id: "regex-description", aria_label: "Describe desired regular expression", form: "generate-expressions-form" %>
      </div>
      <div class="form-group-body">
        <%= text_area_tag :description,
          nil,
          placeholder: "finds a valid URL that starts with http or https and contains the word CompanyXYZ",
          style: "height: 100px; min-height: 100px; resize: none;", # Height needs to be enforced, since form validation would otherwise force its own height
          "aria-labelledby": "regex-description",
          class: "form-control input-block js-description-input",
          type: "text",
          maxlength: 500,
          required: true,
          form: "generate-expressions-form"
      %>
      </div>
    <% end %>
    <%= render(Primer::Box.new(flex: :auto, mt: 4, test_selector: "pattern-example")) do %>
      <div class="form-group-header mb-1">
        <%= label_tag :examples, "Examples of what I am looking for", id: "example-strings", aria_label: "Add examples for desired pattern", form: "generate-expressions-form" %>
      </div>
      <div class="form-group-body">
        <%= text_area_tag :examples,
          nil,
          placeholder: "http://companyXYZ.com, https://companyxyz.com/",
          style: "height: 100px; min-height: 100px; resize: none;",
          "aria-labelledby": "pattern-example",
          title: "Add examples for desired pattern",
          class: "js-generate-expression-examples form-control input-block",
          type: "text",
          maxlength: 500,
          form: "generate-expressions-form",
          id: "generate-expression-examples"
        %>
      </div>
    <% end %>
    <%= render(Primer::Box.new(flex: :auto, mt: 3, font_size: :small, color: :muted)) do %>
      This AI-powered feature may produce inaccurate results. Double-check the expressions generated and make any necessary adjustments.
    <% end %>
    <%= render(Primer::Beta::Button.new(
      mt: 4,
      type: :submit,
      form: "generate-expressions-form",
      classes: "js-generate-expressions-form-submit-button",
      test_selector: "generate-expressions-form-submit-button",
      data: {
        "disable-with": "Generating...",
        "original-text": submit_button_text,
        turbo: true,
        **analytics_click_attributes(
          category: "custom_patterns_ai",
          action: "generate_ai_suggestions",
        )
      },
    )) { submit_button_text } %>
    <%= render(Primer::Box.new(mt: 4, hidden: true, classes: "js-generated-expressions-section", test_selector: "generated-expressions-section")) do %>
      <%= render(Primer::Beta::Heading.new(tag: :h3, display: :block, font_weight: :bold, font_size: 4, test_selector: "results-heading")) { "Results" } %>
      <% (1..3).each do |i| %>
        <%= render(Primer::Box.new(border: true, border_radius: 2, mt: 3, classes: "js-generated-expression-box")) do %>
          <div class="js-details-container Details color-fg-muted">
            <%= render(Primer::Box.new(display: :flex, flex: :auto, p: 2, border_radius: 2, bg: :inset, align_items: :center)) do %>
              <%= render(Primer::Beta::IconButton.new(icon: :"chevron-right", scheme: :invisible, size: :small, show_tooltip: false, "aria-label": "Show explanation", "aria-expanded": "false", classes: "Details-content--shown js-details-target")) %>
              <%= render(Primer::Beta::IconButton.new(icon: :"chevron-down", scheme: :invisible, size: :small, show_tooltip: false, "aria-label": "Hide explanation", "aria-expanded": "true", classes: "Details-content--hidden js-details-target")) %>
              <% expression_text = "Result #{i}" %>
              <%= render(Primer::Beta::Text.new(classes: "js-generated-expression css-truncate css-truncate-overflow", ml: 1, mr: 3, font_family: :mono, id: generated_expression_id(i))) do %>
                <%= expression_text %>
              <% end %>
              <%= render(Primer::Beta::Button.new(
                classes: "js-generated-expression-use",
                size: :small,
                for: generated_expression_id(i),
                "aria-label": "#{expression_text}. Use this result",
                ml: :auto,
                mr: 1,
                data: {
                  "close-dialog-id": "generate-expressions-sidebar",
                  **analytics_click_attributes(
                    category: "custom_patterns_ai",
                    action: "use_result",
                  )
                }
              )) { "Use result" } %>
            <% end %>
            <div class="Details-content--hidden">
              <%= render(Primer::Beta::Text.new(display: :flex, classes: "js-generated-expression-explanation", p: 3, font_size: :small, color: :subtle)) do %>Explanation:<% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <%= render(Primer::Alpha::Banner.new(display: :flex, mt: 4, scheme: :warning, dismiss_scheme: :remove, reappear: true, hidden: true, classes: "js-generated-expressions-warning-section")) { "" } %>
    <%= render(Primer::Alpha::Banner.new(display: :flex, mt: 4, scheme: :danger, dismiss_scheme: :remove, reappear: true, hidden: true, classes: "js-generated-expressions-error-section")) { "" } %>
  <% end %>
<% end %>
