<%# erblint:counter FlashMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 3 %>
<% feature ||= nil      # (optional) the feature we're looking to enable, nil for limits %>
<% feature_name ||= nil # (optional) a label to use for this feature %>
<% ga_labels ||= nil      # (optional) if Google Analytics tracking is passed along %>

<% if !feature || !repository.plan_supports?(feature) %>
  <div class="flash flash-warn" <%= test_selector "plan-supports-warning" %>>
    <% if repository.owner == current_user %>
      <% if repository.fork? %>
        This repository is a fork, and inherits the features of the parent repository. Contact the owner of the root repository to enable <%= feature_name || "this feature" %>.
      <% else %>
        <%= link_to "Upgrade now",
          plan_upgrade_path,
          class: "btn btn-sm flash-action",
          "data-ga-click": "Change individual, click to upgrade, ref_page:#{request.fullpath};ref_cta:Upgrade now;ref_loc:#{feature};location:#{feature};text:Upgrade now#{ga_labels}",
          data: feature_gate_upsell_click_attrs(feature, user: current_user)
        %>

        Upgrade to GitHub Pro or make this repository public to enable <%= feature_name || "this feature" %>.
      <% end %>
    <% elsif show_free_org_gated_feature_message?(repository, current_user) %>
      <%= link_to "Upgrade now",
        upgrade_path(org: repository.owner, plan: "business", target: "organization"),
        class: "btn btn-sm flash-action",
        "data-ga-click": "Change organization, click to upgrade, ref_page:#{request.fullpath};ref_cta:Upgrade now;ref_loc:#{feature};location:#{feature};text:Upgrade now#{ga_labels}",
        data: feature_gate_upsell_click_attrs(feature, user: current_user)
      %>
       Upgrade to GitHub Team or make this repository public to enable <%= feature_name || "this feature" %>.
    <% else %>
      Contact the owner of the repository to enable <%= feature_name || "this feature" %>.
    <% end %>
  </div>
<% end %>
