<% page_info title: view.page_title %>

<% if view.user.organization? -%>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Plan usage<% end %>
  <% end %>

  <p>Private + Internal repositories <%= view.plan_usage %></p>
<% end -%>

<% if view.user.organization? -%>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Internal repositories<% end %>
  <% end %>
<% else -%>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Accessible internal repositories<% end %>
  <% end %>
<% end -%>

<%= render partial: "stafftools/users/repos", locals: { view: view } %>
