<%# erblint:counter DeprecatedComponentsCounter 3 %>
<% if purge? %>
  <%= form_tag gh_purge_discussions_stafftools_repository_path(repository), method: :post do %>
    <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :primary, float: :right)) { "Purge Discussions" } %>
  <% end %>

  <h4 class="attention">
    <%= render Primer::Beta::Octicon.new(icon: "alert", classes: "error", mr: 1) %>
    Discussions Index
  </h4>

  <p><%= purge_reason %></p>
<% elsif reindex? %>
  <%= form_tag gh_reindex_discussions_stafftools_repository_path(repository), method: :post do %>
    <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :primary, float: :right)) { "Reindex Discussions" } %>
    <% if purge_before_reindex? %>
      <input type="hidden" name="purge" value="true">
    <% end %>
  <% end %>

  <h4 class="attention">
    <%= render Primer::Beta::Octicon.new(icon: "alert", classes: "error", mr: 1) %>
    Discussions Index
  </h4>

  <p><%= reindex_reason %></p>
<% elsif searchable? %>
  <%= form_tag gh_reindex_discussions_stafftools_repository_path(repository), method: :post do %>
    <%= render(Primer::ButtonComponent.new(type: :submit, float: :right)) { "Reindex Discussions" } %>
  <% end %>

  <h4>
    Discussions Index
  </h4>

  <p>The search index contains <%= pluralize(document_count, "discussion") %>.</p>
<% else %>
  <h4>
    Discussions Index
  </h4>

  <p>The search index is up to date. No action needs to be taken.</p>
<% end %>
