<% if verified_profile_domains.any? %>
  <li>
    <details class="dropdown dropdown-signed-commit details-reset details-overlay js-dropdown-details">
      <%= render Primer::Beta::Label.new(tag: :summary, scheme: :success, title: "Label: Verified") do %>
        Verified
      <% end %>

      <div class="anim-scale-in position-relative" style="z-index: 200;">
        <div class="dropdown-menu dropdown-menu-s p-3 mt-2 Box color-shadow-large py-0 color-fg-default text-left">
          <p>
            We've verified that the organization <strong><%= organization.name %></strong> controls the <%= "domain".pluralize(verified_profile_domains.count) %>:
          </p>
          <ul>
            <% verified_profile_domains.each do |domain| %>
              <li class="mb-1">
                <%= primer_octicon(:verified, mr: 1, color: :success) %>
                <strong><%= domain %></strong>
              </li>
            <% end %>
          </ul>
          <div class="pt-2">
            <%= link_to "Learn more about verified organizations", verifiable_domains_help_url(organization) %>
          </div>
        </div>
      </div>
    </details>
  </li>
<% end %>
