<%= render(Primer::Alpha::Dialog.new(
  title: "Export sponsorship transactions",
  id: "export-sponsorship-transactions-dialog",
  size: :medium_portrait,
)) do |d| %>
  <% d.with_show_button(test_selector: "sponsors-export-sponsorships-button") do %>
    <%= primer_octicon(icon: "download", mr: 1) %>
    <span>Export</span>
  <% end %>
  <% d.with_body do %>
    <%= form_with scope: :export, url: sponsorable_dashboard_your_sponsors_export_path(@sponsorable) do |f| %>
      <p>
        We'll start the export process and email you at
        <strong><%= @sponsorable.sponsors_listing_email %></strong> with the export attached when it's done.
        Update your <%= link_to "contact email settings", sponsorable_dashboard_settings_path(@sponsorable), class: "Link--inTextBlock" %> to
        change where the file is sent.
      </p>
      <div class="form-checkbox mt-3 pt-3 border-top">
        <label aria-live="polite">
          <input type="radio" name="timeframe" value="all">
          All time
        </label>
      </div>
      <div class="form-checkbox">
        <label aria-live="polite">
          <input type="radio" name="timeframe" value="year" class="form-checkbox-details-trigger">
          Full year
          <span class="form-checkbox-details text-normal mt-1">
            <%= f.select(:full_year,
              Date.today.year.downto(earliest_year),
              { selected: Date.today.year },
              class: "form-select mr-2",
              "aria-label": "sponsorships export year",
              **test_selector_data_hash("export-sponsorships-year-select")
            ) %>
          </span>
        </label>
      </div>
      <div class="form-checkbox mb-0">
        <label aria-live="polite">
          <input checked type="radio" name="timeframe" value="month" class="form-checkbox-details-trigger">
          One month
          <span class="form-checkbox-details text-normal mt-1">
            <%= f.select(:year,
              Date.today.year.downto(earliest_year),
              { selected: Date.today.year },
              class: "form-select mr-2",
              "aria-label": "sponsorships export year"
            ) %>
            <%= f.select(:month,
              Date::MONTHNAMES[1..12],
              { selected: Date::MONTHNAMES[Date.today.month] },
              class: "form-select",
              "aria-label": "sponsorships export month"
            ) %>
          </span>
        </label>
      </div>

      <div class="form-group my-0 border-top mt-3 py-3">
        <%= f.label(:format, "File format:", for: "export-sponsorships-format-select") %>
        <%= f.select(:format,
          ["JSON", "CSV"],
          { selected: "CSV" },
          class: "form-select",
          id: "export-sponsorships-format-select",
        ) %>
      </div>

      <%= f.submit(
        "Start export",
        class: "btn btn-block btn-primary",
        data: { "disable-with": "Starting..." }.merge(hydro_click_data),
      ) %>
    <% end %>
  <% end %>
<% end %>
