<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<div class="mb-3" id="org-profile-repositories">
  <div>
    <% if show_header? %>
      <h3 class="f4 text-normal mb-2">
        <%= render(Primer::Beta::Octicon.new(icon: "repo", mr: 1, color: :muted)) %>
        Repositories
      </h3>
    <% end %>
    <% if show_toolbar? %>
      <div class="my-3">
        <% if show_new_repository_button? %>
          <div class="d-md-none color-border-muted mb-0 pb-md-3">
            <a class="d-md-none btn btn-primary d-flex flex-items-center flex-justify-center width-full mb-4" href="<%= new_org_repository_path(organization) %>" data-ga-click="Orgs, new repository, location:profile repo toolbar; text:New repository">
              <%= render Primer::Beta::Octicon.new(icon: "repo", mr: 1) %>
              New
            </a>
          </div>
        <% end %>
        <div class="d-flex flex-items-start">
          <%= form_tag user_path(organization), :method => :get,
            :"data-autosearch-results-container" => "org-repositories",
            :"class" => "col-12 mb-4 mb-md-0",
            :role => "search" do %>
            <div class="d-flex flex-column flex-lg-row flex-auto">
              <div class="auto-search-group mb-1 mb-lg-0 mr-lg-1 flex-auto">
                <input type="search" id="your-repos-filter" name="q"
                      class="auto-search-input form-control width-full"
                      placeholder="Find a repository&hellip;"
                      autocomplete="off"
                      aria-label="Find a repository&hellip;"
                      value="<%= phrase %>"
                      data-throttled-autosubmit>
                <%= render Primer::Beta::Octicon.new(icon: "search") %>
                <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
              </div>
              <div class="d-flex flex-wrap">
                <details class="details-reset details-overlay position-relative mt-1 mt-lg-0 mr-1 ml-lg-2" id="type-options">
                  <%= render Primer::ButtonComponent.new(tag: :summary, "aria-haspopup": "true") do %>
                    <span>Type</span>
                    <span class="dropdown-caret"></span>
                  <% end %>
                  <details-menu class="SelectMenu left-md-0 left-lg-auto right-md-auto right-lg-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                    <div class="SelectMenu-modal">
                      <header class="SelectMenu-header">
                        <span class="SelectMenu-title">Select type</span>
                        <button class="SelectMenu-closeButton" type="button" data-toggle-for="type-options"><%= render Primer::Beta::Octicon.new(icon: "x", aria: {label: "Close menu", hidden: false}) %></button>
                      </header>
                      <div class="SelectMenu-list">
                        <% type_filters.each do |value, name| %>
                          <label class="SelectMenu-item" role="menuitemradio" aria-checked="<%= type_filter.to_s == value %>" tabindex="0">
                            <%= radio_button_tag "type", value, type_filter.to_s == value, "hidden": "true", "data-autosubmit": "true", "id": "type_#{value}" %>
                            <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                            <span class="text-normal" data-menu-button-text><%= name %></span>
                          </label>
                        <% end %>
                      </div>
                    </div>
                  </details-menu>
                </details>

                <% if show_language_search? %>
                  <details class="details-reset details-overlay position-relative mt-1 mt-lg-0 mr-md-2 ml-md-2" id="language-options">
                    <%= render Primer::ButtonComponent.new(tag: :summary, "aria-haspopup": "true") do %>
                      <span>Language</span>
                      <span class="dropdown-caret"></span>
                    <% end %>
                    <details-menu class="SelectMenu left-md-0 left-lg-auto right-md-auto right-lg-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                      <div class="SelectMenu-modal">
                        <header class="SelectMenu-header">
                          <span class="SelectMenu-title">Select language</span>
                          <button class="SelectMenu-closeButton" type="button" data-toggle-for="language-options"><%= render Primer::Beta::Octicon.new(icon: "x", aria: {label: "Close menu", hidden: false}) %></button>
                        </header>
                        <div class="SelectMenu-list">
                          <label class="SelectMenu-item" role="menuitemradio" aria-checked="<%= selected_language.blank? %>" tabindex="0">
                            <%= radio_button_tag "language", "", selected_language.blank?, "hidden": "true", "data-autosubmit": "true" %>
                            <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                            <span class="text-normal" data-menu-button-text>All</span>
                          </label>
                          <% language_names_for_search.each do |language| %>
                            <label class="SelectMenu-item" role="menuitemradio" aria-checked="<%= selected_language == language.downcase %>" tabindex="0">
                              <%= radio_button_tag "language", language.downcase, selected_language == language.downcase, "hidden": "true", "data-autosubmit": "true" %>
                              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                              <span class="text-normal" data-menu-button-text><%= language %></span>
                            </label>
                          <% end %>
                        </div>
                      </div>
                    </details-menu>
                  </details>
                <% end %>

                <details class="details-reset details-overlay position-relative mt-1 mt-lg-0 ml-1" id="sort-options">
                  <%= render Primer::ButtonComponent.new(tag: :summary, "aria-haspopup": "true") do %>
                    <span>Sort</span>
                    <span class="dropdown-caret"></span>
                  <% end %>
                  <details-menu class="SelectMenu left-md-0 left-lg-auto right-md-auto right-lg-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
                    <div class="SelectMenu-modal">
                      <header class="SelectMenu-header">
                        <span class="SelectMenu-title">Select order</span>
                        <button class="SelectMenu-closeButton" type="button" data-toggle-for="sort-options"><%= render Primer::Beta::Octicon.new(icon: "x", aria: {label: "Close menu", hidden: false}) %></button>
                      </header>
                      <div class="SelectMenu-list">
                        <% Users::RepositoryFilteringMethods::REPOSITORY_SORT_ORDERS.each do |value, name| %>
                        <label class="SelectMenu-item" role="menuitemradio" aria-checked="<%= sort_order.to_s == value %>" tabindex="0">
                          <%= radio_button_tag "sort", value, sort_order.to_s == value, "hidden": "true", "data-autosubmit": "true", "id": "sort_#{value}" %>
                          <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                          <span class="text-normal" data-menu-button-text><%= name %></span>
                        </label>
                        <% end %>
                      </div>
                    </div>
                  </details-menu>
                </details>
                <div class="d-none d-md-flex flex-md-items-center flex-md-justify-end">
                  <% if show_new_repository_button? %>
                    <a class="btn btn-primary d-flex flex-items-center flex-justify-center width-auto ml-md-3" href="<%= new_org_repository_path(organization) %>" data-ga-click="Orgs, new repository, location:profile repo toolbar; text:New repository">
                      <%= render Primer::Beta::Octicon.new(icon: "repo", mr: 1) %>
                      New
                    </a>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>
    <% if filtering? || !no_repositories? %>
      <div id="org-repositories" data-delay-results>
        <%= content %>
      </div>
    <% elsif no_repositories? %>
      <%= render Profiles::Organization::Overview::NoRepositoriesBlankslateComponent.new(
        organization: organization,
        is_member: direct_or_team_member?,
        can_create_repository: can_create_repository?,
      ) %>
    <% end %>
  </div>
</div>
