<label
  role="menuitemcheckbox"
  aria-checked="<%= checked %>"
  class="SelectMenu-item text-normal js-structured-issue-multi-select-option"
  tabindex="0"
  <% if required? %>data-required="true"<% end %>
>
  <input
    <% if @id %>id="<%= @id %>"<% end %>
    type="checkbox"
    name="<%= @name %>"
    value="<%= @value %>"
    autocomplete="off"
    hidden
    class="<%= @input_classes %>"
    <% if checked %>checked<% end %>
    <% if @disabled %>disabled<% end %>
    <% if @data %><%= safe_data_attributes(@data) %><% end %>
    <% if required? %>required<% end %>
  >
  <%= render(
    Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check"),
  ) %>
  <div>
    <div class="<% if @description %>text-bold<% end %>">
      <%= text %>
    </div>
    <div class="color-fg-muted">
      <%= @description %>
    </div>
  </div>
</label>
