<a
  class="<%= classes %>"
  href="<%= @href %>"
  role="<%= role %>"
  <% if checkable? %>aria-checked="<%= checked %>"<% end %>
  <% if @data %><%= safe_data_attributes(@data) %><% end %>>
  <% if checkable? %>
    <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
  <% end %>
  <% if content %>
    <%= content %>
  <% else %>
    <div>
      <div class="<% if @description %>f5 text-bold<% end %>">
        <% if should_render_avatar? %>
          <%= render @avatar %>
        <% end %>

        <% if should_render_octicon? %>
          <%= render(Primer::Beta::Octicon.new(@octicon, classes: "SelectMenu-icon")) %>
        <% end %>

        <%= text %> <%= render(@label) if text && @label %>
      </div>

      <div class="color-fg-muted">
        <%= @description %>
      </div>
    </div>
  <% end %>

  <% if replace_text %>
    <span hidden data-filter-item-text data-menu-button-text>
      <%= replace_text %>
    </span>
  <% end %>
</a>
