<% page_info title: "Security Incident Response", selected_link: :security_incident_response %>
<%= render layout: "stafftools/stafftools" do %>
  <div class="Box">
    <%= form_tag stafftools_security_incident_response_perform_bulk_action_path, multipart: true, method: :post do %>
      <div class="Box-header">
        <h3 class="Box-title">Run Security Incident Response</h3>
      </div>
      <div class="Box-body">
        <%= render Primer::Alpha::TextField.new(
          name: "reference_number",
          label: "Case Reference Number",
          placeholder: "e.g. GH-XXXXXXX-XXXX"
        ) %>

        <label>
          Upload Users CSV
          <div>
            <input name="users" class="button-file-chooser user-csv-file-chooser position-relative user-csv-text" type="file" accept=".csv">
          </div>
        </label>

        <p class="mt-2">
          <%= render(Primer::Beta::Octicon.new(:info, size: :small)) %> The CSV follows a <a href="https://github.com/github/security-ir/blob/main/docs/playbooks/security-incident-notifications-playbook.md#sire-ui-via-stafftools" class="Link--inTextBlock">specific format</a> for revoking tokens.
        </p>
        <p class="mt-2">
          <%= render(Primer::Beta::Octicon.new(:info, size: :small)) %> You may <a class="Link--inTextBlock" href="<%= stafftools_security_incident_response_data_path %>">pre-process your CSV</a> if you want to notify org admins.
        </p>
      </div>

      <div class="Box-body">
        <h3>Notification Options</h3>

        <%= render Primer::Alpha::CheckBox.new(
          name: "perform_notify",
          label: "Send email notifications",
        ) %>

        <%= render Primer::Alpha::TextField.new(
          name: "notify_from",
          label: "Email From",
          placeholder: "e.g. GitHub Security <no-reply@github.com>",
          value: "GitHub Security <no-reply@github.com>",
        ) %>

        <%= render Primer::Alpha::TextField.new(
          name: "notify_subject",
          label: "Email Subject",
          placeholder: "e.g. Important information about your account"
        ) %>

        <label>
          Upload Notification Template
          <div>
            <input name="notify_template" type="file" class="button-file-chooser notification-template-file-chooser position-relative notification-template-text" accept=".mustache">
          </div>
        </label>

        <p class="mt-2">
          <%= render(Primer::Beta::Octicon.new(:info, size: :small)) %> This is a <a href="https://github.com/github/security-ir/blob/main/docs/playbooks/security-incident-notifications-playbook.md#content-preparation" class="Link--inTextBlock">mustache template</a> which is populated with data from the Users CSV.
        </p>
      </div>

      <div class="Box-body">
        <h3>User Actions</h3>

        <%= render Primer::Alpha::CheckBox.new(
          name: "reset_passwords",
          label: "Randomize Passwords",
          caption: "This will also revoke all sessions and oAuth Accesses"
        ) %>

        <%= render Primer::Alpha::TextField.new(
          name: "staffnote",
          label: "Staffnote",
          placeholder: "e.g. Notified about Security-1234",
          caption: "Leave blank to not perform this action"
        ) %>

        <%= render Primer::Alpha::TextField.new(
          name: "suspend",
          label: "Suspend Message",
          placeholder: "e.g. Suspended due to Security-1234",
          caption: "Leave blank to not perform this action",
        ) %>
      </div>

      <div class="Box-body">
        <h3>Dry Run Options</h3>

        <%= render Primer::Alpha::CheckBox.new(
          name: "dry_run",
          label: "Perform Dry Run",
          checked: true
        ) %>

        <%= render Primer::Alpha::TextField.new(
          name: "dry_run_user_id",
          label: "Dry Run User ID",
          value: "#{current_user.id}",
          caption: "A GitHub user ID to perform the dry run on. Note that this will perform all requested actions on this user. Perhaps consider using a test account for anything more than notifications."
        ) %>
      </div>

      <div class="Box-footer form-actions">
        <%= render GitHub::DialogComponent.new(title: "Run Incident Response") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
          <% dialog.with_body do %>
            <div class="d-flex flex-nowrap">
              <div class="pl-3 flex-1">
                <p class="overflow-hidden mb-1">Before you run the incident response, please consider that this will perform customer actions across potentially many users. As such, you should take great care and consider running a dry run to validate the users CSV and ensure the action(s) does what you expect on a test user.</p>
              </div>
            </div>
          <% end %>
          <% dialog.with_footer do %>
            <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger) do %>
              <span class="d-md-inline-block d-none">Run Incident Response</span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
