<% page_info :title => "OAuth tokens - #{this_user}",
             :selected_link => :oauth_tokens %>

<div class="boxed-group">
  <h3>Personal access tokens</h3>
  <div class="boxed-group-inner">
    <% if this_user.oauth_accesses.personal_tokens.any? %>
      <ul class="boxed-group-list standalone">
        <% this_user.oauth_accesses.personal_tokens.each do |access| %>
          <li class="oauth-access js-details-container Details">
            <span class="time">Created <%= time_ago_in_words access.created_at %> ago</span>
            <span class="float-right">
              <%= render(Stafftools::OauthTokens::IndexComponent.new(access: access)) %>
            </span>
            <span class="application-name Truncate">
              <span class="Truncate-text">
                <%= link_to \
                    access.description,
                    stafftools_user_oauth_token_path(access.user, access) %>
              </span>
              <span class="Truncate-text--primary">
                <% if access.personal_access_token_eligible_for_account_recovery?(Time.current) %>
                  <%= primer_octicon(:key) %>
                <% end %>
              </span>
            </span>
            <code><%= access.token_last_eight %></code>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>This account does not have any personal access tokens.</p>
    <% end %>
  </div>
</div>

<% if GitHub.runtime.dotcom? %>
  <div class="boxed-group">
    <h3>Pinned API Version</h3>
    <div class="boxed-group-inner clearfix">
      <%= render partial: "stafftools/pinned_api_versions/form", locals: { actor: this_user } %>
    </div>
  <div>
<% end %>
