<div class="mb-3 mb-md-4" style="width: 210px" <%= test_selector("contentful-person-component") %>>
  <button data-show-dialog-id="<%= fullname.parameterize %>" type="button" class="border-0 bgColor-transparent p-0 px-2 hover-grow-mktg">
    <%= render Site::ContentfulImageComponent.new(src: @person.photo.url, width: 600, height: 600, classes: "rounded-2 mb-2 width-fit height-auto", lazy: false, alt: "Photo of #{fullname}", sizes: "(max-width: 600px) 90vw, 25vw") %>

    <span class="f3-mktg text-semibold mb-1">
      <%= fullname %>
    </span>

    <br>

    <span class="f5 text-mono text-gray-mktg lh-condensed">
      <%= @person.title %>
    </span>
  </button>

  <%= render Primer::Alpha::Dialog.new(id: fullname.parameterize, title: fullname, size: :xlarge) do |d| %>
    <% d.with_header(visually_hide_title: true) %>

    <% d.with_body do %>
      <div class="d-md-flex">
        <div class="col-md-4 mb-2">
          <%= render Site::ContentfulImageComponent.new(src: @person.photo.url, width: 600, height: 600, classes: "width-fit height-auto mb-2 rounded-2", lazy: false, alt: "Photo of #{fullname}", sizes: "(max-width: 600px) 90vw, 45vw") %>

          <a href="https://github.com/<%= @person.github_handle %>" aria-label="<%= fullname %> on GitHub at <%= @person.github_handle %>" class="Link--muted">
            <%= primer_octicon("mark-github", size: :small, color: :muted) %>
            @<%= @person.github_handle %>
          </a>
        </div>

        <div class="col-md-8 ml-md-6 f4-mktg">
          <div class="mb-4">
            <h2 class="h4-mktg">
              <%= fullname %>
            </h2>

            <p class="f3-mktg text-gray-mktg">
              <%= @person.title %>
            </p>
          </div>

          <%= helpers.contentful_rich_text(@person.bio) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
