<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<% mask_number = ["1", "2"].sample %>

<div class="position-relative width-full pt-12 overflow-hidden js-build-in" data-build-margin-bottom="45">
  <div class="position-absolute top-0 right-0 left-0 readme-bg-black" style="bottom:8em"></div>
  <div class="container-xl p-responsive-readme position-relative width-full d-flex flex-column flex-items-center">
    <div class="col-md-11 mx-auto text-center readme-hero__text">
      <div class="position-relative my-6 my-xl-9">
        <a href="<%= readme_index_path %>" aria-label="ReadME Project Homepage" class="d-inline-block">
          <%= svg("modules/site/readme/readme-logo-lockup", height: 48, class: "d-block", style: "color:#9e9e9e", aria_hidden: true) %>
        </a>
      </div>

      <p class="f5-mktg text-mono text-uppercase my-6 readme-text-gray-med" style="letter-spacing:0.05em">
        <%= preview_label unless story[:published?] %>
        <%= story[:label] %>
      </p>

      <h1 class="mb-3 my-6 color-text-white readme-heading-1 readme-heading--condensed">
        <%= story[:heading] %>
      </h1>

      <p class="col-xl-11 mb-6 mx-auto readme-subheading readme-text-gray-med">
        <%= story[:subheading] %>
      </p>
    </div>

    <div class="readme-hero__img width-full">
      <div class="d-flex flex-column flex-items-center">
        <%= render "site/readme/podcasts/player", story: story %>
        <%= render "site/readme/podcasts/subscribe", invert: true %>

        <div class="position-relative mt-9 width-full">
          <%= render Site::ContentfulImageComponent.new(src: story[:hero_image][:url], width: 2000, height: 1200, classes: "d-block width-full height-auto readme-link__img", alt: story[:name], sizes: "90vw", lazy: false) %>
        </div>
      </div>
    </div>
  </div>
</div>
