<% page_info title: "#{view.organization.login} - External identities",
             selected_link: :stafftools_user_security %>

<div class="site-admin-unboxed">
  <% if view.scope == "linked" %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        <%= view.scope_title %>
      <% end %>
      <% component.with_actions do %>
        <% if external_identities_search_by %>
          <%= render Primer::Alpha::ActionMenu.new(
            select_variant: :single,
            anchor_align: :end,
            test_selector: "external-identity-search-options"
          ) do |menu| %>
            <% menu.with_show_button do |button| %>
              <% button.with_trailing_action_icon(icon: :"triangle-down") %>
              Search: <%= external_identities_search_by.capitalize %>
            <% end %>
            <% external_identities_search_labels.each do |label| %>
              <% menu.with_item(
                href: url_for(search: label, query: params[:query]),
                label: label.capitalize,
                active: external_identities_search_by == label
              ) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render Stafftools::SimpleSearchFormComponent.new(
      query_label: "Search external identities",
      form_url: stafftools_user_external_identities_path(view.organization),
      form_group_test_selector: "external-identity-search",
      extra_input_fields: [
        {
          name: "search",
          id: "search",
          value: params[:search],
          hidden: true,
        },
      ]
    ) %>
  <% else %>
    <div class="site-admin-subhead ruleless">
      <h2 class="site-admin-subhead-heading">
        <%= view.scope_title %>
      </h2>
    </div>
  <% end %>

  <% if view.scoped_members.any? %>
    <table class="site-admin-table">
      <% view.scoped_members.each do |user| %>
        <tr>
          <td>
            <%= avatar_for user, 20, class: :avatar %>
            <%= link_to user, stafftools_user_external_identity_path(view.organization, user) %>
          </td>
          <td>
            <%= user.profile_name %>
          </td>
          <td class="float-right">
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate view.scoped_members %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">No <%= view.scope_title %></p>
  <% end %>
</div>
