<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  page_info \
    title: "Repository Recommendations: #{current_repository.name_with_owner}",
    dashboard_pinnable_item_id: current_repository.id
%>

<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h3) do %>Recommendations<% end %>
<% end %>
<p>
  <% if recommendation.can_be_recommended? %>
    <span class="color-fg-success mr-1"><%= primer_octicon(:check) %></span>
    Users <strong>can</strong> have this repository recommended to them via the
    <a class="Link--inTextBlock" href="<%= explore_path %>">"Explore repositories" page</a>.
  <% else %>
    <span class="color-fg-danger mr-1"><%= primer_octicon(:"circle-slash") %></span>
    This repository <strong>will not</strong> be recommended to users via the
    <a class="Link--inTextBlock" href="<%= explore_path %>">"Explore repositories" page</a>
    <% if current_repository.user_hidden? %>
      because <a class="Link--inTextBlock" href="<%= stafftools_user_path(current_repository.owner_login) %>">the owner</a> is
      spammy.
    <% elsif current_repository.private? %>
      because it’s private. Only public repositories can be recommended.
    <% else %>
      because it has been opted out.
    <% end %>
  <% end %>
</p>

<% if recommendation.can_be_recommended? %>
  <%= render Primer::Beta::Subhead.new(hide_border: true, spacious: true) do |component| %>
    <% component.with_heading(tag: :h3, danger: true) do %>Opt out of being recommended<% end %>
  <% end %>
  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% component.with_row do %>
      <%= form_tag opt_out_stafftools_repository_recommendations_path do %>
        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, ml: 1, float: :right) do %>
          Opt out
        <% end %>
        <p>
          Ensure no users see <strong><%= current_repository.name_with_owner %></strong> in their list of
          recommendations.
        </p>
      <% end %>
    <% end %>
  <% end %>
<% elsif recommendation.can_opt_in? %>
  <%= render Primer::Beta::Subhead.new(hide_border: true, spacious: true) do |component| %>
    <% component.with_heading(tag: :h3) do %>Opt into being recommended<% end %>
  <% end %>
  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% component.with_row do %>
      <%= form_tag opt_in_stafftools_repository_recommendations_path(current_repository.owner_login, current_repository.name) do %>
        <%= render Primer::ButtonComponent.new(type: :submit, ml: 1, float: :right) do %>
          Opt in
        <% end %>
        <p>
          Allow users to see <strong><%= current_repository.name_with_owner %></strong> in their list of
          recommendations.
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
