<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: this_business.name, selected_link: :business_security %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= link_to "Security", stafftools_enterprise_security_path(this_business.slug) %>
    / Linked IdP members
  <% end %>
  <% component.with_actions do %>
    <% if external_identities_search_by %>
      <details class="d-inline-block details-reset details-overlay position-relative">
        <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button") do %>
          <i>Search:</i> <%= external_identities_search_by.capitalize %>
        <% end %>

        <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Search options</span>
          </div>

          <div class="select-menu-list">
            <% external_identities_search_labels.each do |label| %>
              <a
                class="select-menu-item" aria-checked="<%= external_identities_search_by == label%>"
                role="menuitemradio"
                href="<%= url_for(search: label, query: params[:query]) %>">
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                <span class="select-menu-item-text"><%= label.capitalize %></span>
              </a>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>
  <% end %>
<% end %>

<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search external identities",
  form_url: linked_external_members_stafftools_enterprise_external_identities_path(this_business),
  form_group_test_selector: "external-identity-search",
  extra_input_fields: [
    {
      name: "search",
      id: "search",
      value: params[:search],
      hidden: true,
    },
  ]
) %>

<div class="Box Box--condensed mt-3">
  <div class="Box-header">
    <h3 class="Box-title">
      <%= pluralize(members.total_entries, "linked member") %>
    </h3>
  </div>

  <%= render "stafftools/business_external_identities/external_members",
    business: this_business,
    external_members: members %>
</div>

<div class="paginate-container">
  <%= will_paginate members %>
</div>
