<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 3)) do |component| %>
  <% component.with_header do %>
    <div class="d-flex flex-items-center flex-justify-between">
      <h3 class="Box-title">Filter Trade Screening Records</h3>
      <% if trade_screening_status != "hit_in_review" %>
        <a href="<%= stafftools_trade_compliance_trade_screening_records_path %>" class="Link--secondary text-small d-block">Clear filters</a>
      <% end %>
    </div>
  <% end %>

  <% component.with_body do %>
    <%= form_tag stafftools_trade_compliance_trade_screening_records_path, method: :get do %>
      <div class="d-flex flex-items-center flex-justify-between">
        <div>
          <label for="sdn_status_select" class="mr-2">
            Trade Screening Record:
          </label>
          <select name="sdn_status" id="sdn_status_select" class="form-select mr-3">
            <% TradeControls::Filters::TradeScreeningRecordFilter.options.each do |sdn_status| %>
              <option <% if sdn_status.to_sym == trade_screening_status.to_sym %>selected<% end %> value="<%= sdn_status %>"><%= sdn_status %></option>
            <% end %>
          </select>
        </div>
        <div class="flex-auto text-left">
          <%= render Primer::ButtonComponent.new(type: :submit) do %>Filter<% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
