<% path = screening_record.business_owned? ? stafftools_enterprise_path(screening_record.owner) : stafftools_user_path(screening_record.owner) %>
<tr <%= test_selector "listing-#{screening_record.owner.name}" %>>
  <td <%= test_selector "name" %>>
    <a href="<%= path %>" <%= safe_data_attributes(hovercard_data_attributes_for_user(screening_record.owner)) %> class="text-bold">
      <%= render GitHub::AvatarComponent.new(actor: screening_record.owner, size: 20, mr: 2) %>
      <%= screening_record.owner.name %>
    </a>
  </td>
  <td <%= test_selector "type" %>>
    <%= screening_record.owner.class %>
  </td>
  <td class="text-center" <%= test_selector "status" %>>
    <%= screening_record.msft_trade_screening_status %>
  </td>
  <td class="text-center" <%= test_selector "date" %>>
    <%= screening_record.last_trade_screen_date&.utc %>
  </td>
</tr>
