<p class="note my-2">
  You have a connected ORCID iD
  <strong><%= orcid_record.identifier %></strong>
  for the account
  <strong>@<%= current_user.display_login %></strong>.
</p>

<p class="form-group form-checkbox my-2 py-1">
  <%= check_box_tag "user[display_orcid_id_on_profile]", "1", current_user.display_orcid_id_on_profile? %>
  <%= label_tag :user_display_orcid_id_on_profile, "Display your ORCID iD on your GitHub profile" %>
</p>

<p class="note">
  Disconnecting your ORCID iD may affect areas of your profile where your ORCID iD is displayed.
</p>

<%= render(Primer::Beta::Button.new(
  type: :submit,
  form: "orcid_disconnect_form",
  mt: 1,
  mb: 2,
  test_selector: "orcid-disconnect-button",
)) do |button| %>
  <% button.with_leading_visual_svg do %>
    <%= svg("site/icons/orcid-id-color", aria_hidden: true, width: 16, height: 16) %>
  <% end %>
  Disconnect your ORCID iD
<% end %>
