<% if email.claimed? %>
  <li>
    <span class="text-bold color-fg-success" <%= test_selector("claimed-emu-email") %>>
      Verified
    </span>
    <%= form_tag user_mark_email_as_unclaimed_path(current_user, email), class: "d-inline-block ml-1", data: test_selector_hash("claimed-emu-email-unclaim-button") do %>
      <%= render Primer::Beta::Button.new(type: :submit, scheme: :link, aria: { label: "Unverify email for #{current_user.profile_email}" }) do %>
        Unverify email
      <% end %>
    <% end %>
    <%= render(Primer::Beta::Text.new(font_size: :small, tag: :p)) do %>
      This email will be provided to OAuth and GitHub applications now instead of a generated enterprise-specific email. Applications you sign into that use your email address to identify you may work differently since they will receive a different email address.
    <% end %>
  </li>
<% else %>
  <li>
    <span class="text-bold color-fg-attention" <%= test_selector("unclaimed-emu-email") %>>
      Unverified
    </span>
    <% if email.verification_token.nil? %>
      <%= form_tag user_request_claim_email_path(current_user, email), class: "d-inline-block ml-1", data: test_selector_hash("unclaimed-emu-email-send-button") do %>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :link, aria: { label: "Send verification email for #{current_user.profile_email}" }) do %>
          Send verification email
        <% end %>
      <% end %>
    <% else %>
      <div>
        <div>
          <%= form_tag user_request_claim_email_path(current_user, email), class: "d-inline-block", data: test_selector_hash("unclaimed-emu-email-resend-button") do %>
            <%= render Primer::Beta::Button.new(type: :submit, scheme: :link, aria: { label: "Resend verification email for #{current_user.profile_email}" }) do %>
              Resend verification email
            <% end %>
          <% end %>
        </div>
        <div>
          <%= form_tag user_cancel_email_claim_request_path(current_user, email), class: "d-inline-block", data: test_selector_hash("unclaimed-emu-email-cancel-confirmation-button") do %>
            <%= render Primer::Beta::Button.new(type: :submit, scheme: :link, aria: { label: "Cancel verification for #{current_user.profile_email}" }) do %>
              Cancel verification
            <% end %>
          <% end %>
        </div>
        <div>
          <%= render(GitHub::DialogComponent.new(title: "Verify your email", details_classes: "d-inline-block")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
            <% dialog.with_summary do %>
              <%= render(Primer::Beta::Button.new(
                tag: :summary,
                scheme: :link,
                "aria-haspopup": "dialog",
                "data-test-selector": "unclaimed-emu-email-confirm-button"
              )) do %>
                Verify email
              <% end %>
            <% end %>
            <% dialog.with_body do %>
              <%= form_tag user_confirm_claim_email_path(current_user, email), data: test_selector_hash("unclaimed-emu-email-confirm-token-form") do %>
                <div class="mt-3 d-flex flex-items-end">
                  <div class="flex-auto">
                    <input type="text" name="token" class="form-control input-contrast width-full rounded-right-0" placeholder="Enter your token" aria-label="Enter your token">
                  </div>
                  <div>
                    <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, aria: { label: "Verify email for #{current_user.profile_email}" }, classes: "rounded-left-0") do %>
                      Verify
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= render(Primer::Beta::Text.new(font_size: :small, color: :muted, tag: :p)) do %>
      Unverified emails will not be shared with OAuth and GitHub applications. Instead, a new enterprise-specific email will be used. Applications that depend on the email address for authorization may not work correctly, and should be updated to use safe identifiers.
    <% end %>
  </li>
<% end %>
