<% view = Settings::EmailPreferencesView.new(user: current_user) %>

<%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
  <% component.with_heading(tag: :h2, id: "preferences", test_selector: "deprecated-email-preferences-header") do %>Email preferences<% end %>
<% end %>

<div class="email-preferences <%= 'transactional-only' if view.wants_transactional_email? %>">
  <%= form_tag email_preferences_path, method: :put, class: "js-email-global-unsubscribe-form", "aria-labelledby": "preferences" do -%>
    <div class="form-checkbox">
      <label>
        <%= radio_button_tag 'type', 'marketing', view.wants_marketing_email?, class: "js-email-global-unsubscribe" %>
        Receive all emails, except those I unsubscribe from.
      </label>
      <p class="note">
        We’ll occasionally contact you with the latest news and happenings from the GitHub Universe.
        <a class="Link--inTextBlock" href="<%= docs_url "account-and-profile/types-of-emails" %>" aria-label='Learn more about types of emails GitHub sends'>Learn more</a>.
      </p>
      <% if view.unsubscribed_list.any? %>
        <div class="email-preference-exceptions opt-out-list">
          <h5>You’ve unsubscribed from:</h5>
          <ul class="exception-list">
            <% view.unsubscribed_list.each do |subscription| %>
              <li class="exception">
                <% if subscription.kind == "notification" %>
                  <% title = "Resubscribe to #{subscription.name.humanize} notifications" %>
                  <%= subscription.name.humanize %> notifications
                <% else %>
                  <% title = "Resubscribe to the #{subscription.human_name.capitalize} #{subscription.kind} newsletter" %>
                  <%= subscription.name.humanize %> newsletter
                <% end %>

                <div class="float-right">
                  <%= render(Primer::Alpha::Dialog.new(title: title)) do |d| %>
                    <% d.with_show_button(scheme: :link, classes: "") { "Resubscribe" } %>
                    <% d.with_header(show_divider: true) %>
                    <% d.with_body do %>
                      <div class="py-2">Are you sure you want to resubscribe?</div>
                    <% d.with_footer(show_divider: true) do %>
                      <%= render Primer::Beta::Button.new(type: :submit, name: "resubscribe_id", value: subscription.id, block: true, scheme: :primary, "data-disable-with": "Resubscribing…") do %> Resubscribe <% end %>
                    <% end %>
                    <% end %>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="form-checkbox">
      <label>
        <%= radio_button_tag 'type', 'transactional', view.wants_transactional_email?, class: "js-email-global-unsubscribe" %>
        Only receive account related emails, and those I subscribe to.
      </label>

      <p class="note">
        We’ll only send you legal or administrative emails, and any emails you’re specifically subscribed to.
      </p>
      <% if view.subscription_list.any? && !view.wants_marketing_email? %>
        <div class="email-preference-exceptions opt-in-list">
          <h5>You’re subscribed to:</h5>
          <ul class="exception-list">
            <% view.subscription_list.each do |subscription| %>
              <li class="exception">
                <% if subscription.kind == "notification" %>
                  <% title = "Unsubscribe from #{subscription.name.humanize} notifications" %>
                  <%= subscription.name.humanize %> notifications
                <% else %>
                  <% title = "Unsubscribe from the #{subscription.human_name.capitalize} #{subscription.kind} newsletter" %>
                  <%= subscription.name.humanize %> newsletter
                <% end %>
                <div class="float-right">
                  <%= render(Primer::Alpha::Dialog.new(title: title)) do |d| %>
                    <% d.with_show_button(scheme: :link, classes: "") { "Unsubscribe" } %>
                    <% d.with_header(show_divider: true) %>
                    <% d.with_body do %>
                      <div class="py-2">Are you sure you want to unsubscribe?</div>
                    <% d.with_footer(show_divider: true) do %>
                      <%= render Primer::Beta::Button.new(type: :submit, name: "unsubscribe_id", value: subscription.id, block: true, scheme: :primary, "data-disable-with": "Unsubscribing…") do %> Unsubscribe <% end %>
                    <% end %>
                    <% end %>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <%= submit_tag "Save email preferences", class: "btn js-email-global-unsubscribe-submit" %>
  <% end -%>

  <% if feature_enabled_globally_or_for_current_user?(:email_preference_center) %>
    <%= render(Settings::MarketingEmailSubscriptionsComponent.new(user: current_user)) %>
  <% end %>

  <p class="note mt-3"><%= primer_octicon(:question) %> Looking for activity notification controls? Check the <a class="Link--inTextBlock" href="<%= settings_notification_preferences_path %>">Notification center</a>.</p>
</div>
