<% writable_repositories = query.writable_repositories %>
<% writable_repositories.each do |repository| %>
  <% selected = selected?(repository) %>
  <% name_with_display_owner = repository.name_with_display_owner %>
  <label class="js-repo-select-label select-menu-item <%= "selected" if selected %>" tabindex="0" role="menuitemradio">
    <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
    <div class="select-menu-item-text">
      <input
        type="radio"
        name="repo"
        data-name="<%= name_with_display_owner %>"
        data-targets="create-branch.repos"
        data-url="<%= create_branch_for_issue_source_branch_path(user_id: current_repository.owner.name, repository: current_repository, id: issue.number, branch_repository_id: repository.id) %>"
        data-action="change:create-branch#setRepo"
        value="<%= repository.id %>" <%= "checked" if selected %>>
      <span class="select-menu-item-text text-normal" data-menu-button-contents><%= name_with_display_owner %></span>
    </div>
  </label>
<% end %>
<% if writable_repositories.empty? %>
  <div class="p-3 text-center">
    No matching repositories.
  </div>
<% end %>
