<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "Sponsors fraud reviews", selected_link: :sponsors_fraud_reviews %>
<div class="f3 border-bottom">
  <div class="container-lg p-3">
    <%= primer_octicon(:rocket, vertical_align: :baseline) %>
    <a href="<%= stafftools_path %>">Site admin</a> /
    <a href="<%= stafftools_sponsors_path %>">GitHub Sponsors</a> /
    <a href="<%= stafftools_sponsors_fraud_reviews_path %>">
      Fraud reviews
    </a>
  </div>
</div>

<div class="container-lg p-3">
  <div class="pb-2 mt-3 table-list-header-toggle d-flex flex-wrap">
    <%= form_tag stafftools_sponsors_fraud_reviews_path,
      method: :get,
      class: "subnav-search ml-0 mr-4" do %>
      <div class="auto-search-group">
        <input class="form-control subnav-search-input input-contrast"
          type="search" name="handle" value="<%= params[:handle] %>"
          placeholder="Search by maintainer's handle" aria-label="Search by maintainer's handle" autocomplete="off" data-throttled-autosubmit>
        <%= primer_octicon(:search) %>
        <%= render Primer::ButtonComponent.new(type: :submit) do %>Search<% end %>
      </div>
      <input name="state" type="hidden" value="<%= state %>">
      <input name="order" type="hidden" value="<%= params[:order] %>">
    <% end %>

    <nav class="subnav" aria-label="State of Review">
      <% Stafftools::Sponsors::FraudReviewsController::STATE_OPTIONS.each do |option| %>
        <a class="subnav-item" href="?<%= { handle: params[:handle], state: option, order: params[:order] }.to_query %>" <% if state == option %>aria-current="page"<% end %>><%= option.capitalize %></a>
      <% end %>
    </nav>
  </div>

  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% component.with_header(display: :flex, align_items: :center, justify_content: :space_between) do |h| %>
      <% h.with_title(tag: :h3) do %>
        <%= state.capitalize %> reviews
        <%= render Primer::Beta::Counter.new(count: reviews.total_entries, scheme: :primary) %>
      <% end %>

      <div class="d-flex flex-items-center">
        <div class="position-relative">
          <details class="details-reset details-overlay" id="fraud-reviews-sort-menu">
            <%= render Primer::ButtonComponent.new(
              tag: :summary,
              scheme: :link,
              "aria-haspopup": "true",
              test_selector: "selected-sort",
              classes: "Link--secondary",
              font_size: 5,
            ) do %>
              <i>Sort by:</i>
              <%= params[:order]&.capitalize || "Recent" %>
              <span class="dropdown-caret"></span>
            <% end %>

            <details-menu class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="SelectMenu-modal">
                <header class="SelectMenu-header">
                  <span class="SelectMenu-title">Sort fraud reviews by:</span>
                  <button class="SelectMenu-closeButton" type="button" data-toggle-for="fraud-reviews-sort-menu">
                    <%= primer_octicon(:x, "aria-label": "Close menu") %>
                  </button>
                </header>
                <div class="SelectMenu-list">
                  <a href="?<%= { handle: params[:handle], state: state, order: "recent" }.to_query %>" class="SelectMenu-item" role="menuitemcheckbox"<% if params[:order].blank? || "recent" == params[:order] %> aria-checked="true"<% end %>>
                    <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
                    Recent
                  </a>

                  <a href="?<%= { handle: params[:handle], state: state, order: "oldest" }.to_query %>" class="SelectMenu-item" role="menuitemcheckbox"<% if "oldest" == params[:order] %> aria-checked="true"<% end %>>
                    <%= primer_octicon(:check, classes: "SelectMenu-icon SelectMenu-icon--check") %>
                    Oldest
                  </a>
                </div>
              </div>
            </details-menu>
          </details>
        </div>
      </div>
    <% end %>
    <% if reviews.any? %>
      <% reviews.each do |review| %>
        <% component.with_row(test_selector: "review-#{review.id}") do %>
          <%= render Stafftools::Sponsors::FraudReviews::ReviewComponent.new(review: review) %>
        <% end %>
      <% end %>
    <% else %>
      <% component.with_row do %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_heading(tag: :h2) do %>
            <%= "Couldn't find any #{state} reviews." %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if reviews.any? %>
    <div class="paginate-container">
      <div class="pagination">
        <%= will_paginate(reviews) %>
      </div>
    </div>
  <% end %>
</div>
