<%
  @footer_links = [
    { url: GitHub.privacy_statement_url, text: "Privacy policy" },
    { url: Copilot::COPILOT_SPECIFIC_TERMS, text: "Terms of use" },
    { url: contact_url, text: "Contact us" },
  ]
%>

<% content_for :header do %>
  <%= @header || message.subject %>
<% end %>

<% content_for :content do %>
  <style>
    ul {
      padding-left: 1.5em;
    }

    li {
      margin: 1em 0;
      padding-left: 0.5em;
    }
  </style>

  <div class="mb-3">
    <img src="<%= mailer_static_asset_path("images/email/copilot/banner.png") %>" alt="GitHub Copilot">
  </div>

  <%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      <%= yield %>
    <% end %>
  <% end %>
<% end %>

<%= render template: "layouts/primer_layout" %>
