<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="mt-2">
  <%= form_tag view.grant_path do %>
    <div class="TableObject">
      <div class="TableObject-item TableObject-item--primary">
        <auto-complete src="<%= view.suggestions_path %>" for="org-manage-integrations-suggestions-results">
          <div class="auto-search-group">
            <input class="input-block form-control auto-search-input" name="user_login" type="text" placeholder="Search by username or full name" aria-label="Search by username or full name">
            <%= primer_octicon(:person) %>
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
            <ul id="org-manage-integrations-suggestions-results" class="autocomplete-results"></ul>
          </div>
        </auto-complete>
      </div>
      <div class="TableObject-item">
        <%= render Primer::ButtonComponent.new(ml: 2, classes: "js-auto-complete-button", type: :submit, "aria-label": "Grant App Management permission") do %>
          Grant
        <% end %>
      </div>
    </div>
  <% end %>
</div>
