<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% content = capture do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>App managers<% end %>
  <% end %>

  <p class="mb-3">These people can manage settings, permissions and webhooks for <%= view.integration.name %>.</p>

  <%= render(Primer::Beta::BorderBox.new(mb: 3)) do |component| %>
    <% view.this_app_managers.each do |user| %>
      <%= component.with_row(display: :flex, align_items: :center, justify_content: :flex_end, p: 0) do %>
        <%= render(Organizations::Settings::MemberAvatarAndProfileLinkComponent.new(user: user, org: view.organization, show_admin_stuff: true)) %>

        <div class="text-right p-3 v-align-middle">
          <%= form_tag settings_org_permissions_integrations_managers_revoke_path(view.organization, view.integration), method: :delete do %>
            <%= hidden_field_tag "user_login", user.display_login %>
            <%= render(Primer::ButtonComponent.new(scheme: :link, type: :submit, color: :danger, aria: {
              label: "Revoke permission to manage this App"
            })) { "Revoke" } %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% view.all_app_managers.each do |user| %>
      <%= component.with_row(display: :flex, align_items: :center, justify_content: :flex_end, p: 0) do %>
        <%= render(Organizations::Settings::MemberAvatarAndProfileLinkComponent.new(user: user, org: view.organization, show_admin_stuff: true)) %>
        <%= render(Primer::Beta::Text.new(tag: :span, p: 3, color: :subtle)) do %>
          Manages <strong>all</strong> Apps
        <% end %>
      <% end %>
    <% end %>

    <% view.organization_owners.each do |user| %>
      <%= component.with_row(display: :flex, align_items: :center, justify_content: :flex_end, p: 0) do %>
        <%= render(Organizations::Settings::MemberAvatarAndProfileLinkComponent.new(user: user, org: view.organization, show_admin_stuff: true)) %>
        <%= render(Primer::Beta::Text.new(tag: :span, p: 3, color: :subtle)) { "Organization owner" } %>
      <% end %>
    <% end %>
  <% end %>

  <%=
    render "orgs/permissions/integrations/grant_permission", view: create_view_model(
      Settings::Organization::ManageIntegrationView,
      organization: view.organization,
      integration: view.integration
    )
  %>
<% end %>

<%= render layout: "settings/settings_focus" do %>
  <%= render "integrations/settings/integration_header", view: view %>

  <div class="container-lg p-responsive">
    <%= render Primer::Alpha::Layout.new do |c| %>
      <% c.with_sidebar do %>
        <%= render "integrations/settings/integration_menu", view: view %>
      <% end %>

      <% c.with_main(width: :lg) do %>
        <%= content %>
      <% end %>
    <% end %>
  </div>
<% end %>
