<div class="js-suggested-usernames-container <%= "color-fg-muted" if source == "homepage"%>">
  <% suggested_usernames.each_with_index do |suggestion, i| %>
    <%= "or" if i == suggested_usernames.count - 1 %>
    <span <%= test_selector("suggested-username") %>>
      <%= suggestion %><%= "," if i != suggested_usernames.count - 1 %>
    </span>
    <input type="hidden" class="js-suggested-username" name="suggested_usernames[]" value="<%= suggestion %>">
  <% end %>
  are available.
</div>
