<% page_info \
  title: "Which do you want to #{choose_account_verb}?"
%>
<% content_for :head do %>
  <%= stylesheet_bundle 'account' %>
<% end %>

<div class="border-bottom color-bg-subtle">
  <div class="container-lg py-4 py-md-6 p-responsive">
    <h1 class="text-center" <%= test_selector "account-picker-title" %>>Which do you want to <%= choose_account_verb %>?</h1>
    <% if current_user.owned_or_billing_manager_organizations.any? %>
      <div class="d-md-flex gutter-md flex-wrap flex-justify-start flex-items-stretch my-4 my-md-6">
        <% if account_has_upgrade_path?(current_user) %>
          <article class="col-md-4 mb-3 mb-md-5 account-picker-card" <%= test_selector "account-picker-card" %>>
            <a
              href="<%= choose_account_link(current_user) %>"
              <%= safe_analytics_click_attributes(
                category: "Accounts",
                action: "click personal account",
                label: "ref_cta:Your personal account;ref_loc:account_choose;ref_personal_plan:#{current_user.plan_name}"
              ) %>
              class="d-flex flex-column flex-justify-center height-full hover-grow no-underline Box color-shadow-large p-3 p-md-5"
            >
              <div class="d-flex">
                <div>
                  <%= render(GitHub::AvatarComponent.new(actor: current_user, size: 48, mr: 3)) %>
                </div>
                <div class="flex-auto">
                  <h1 class="h3 lh-condensed wb-break-word"><%= current_user.safe_profile_name.truncate(40) %></h1>
                  <p class="color-fg-muted mb-0 mr-3">Your personal account</p>
                </div>
              </div>
            </a>
          </article>
        <% end %>

        <% current_user.owned_or_billing_manager_organizations.each do |org| %>
          <% should_filter_upgradeable_orgs = upgrade_intent? %>
          <% passes_filter = !should_filter_upgradeable_orgs || (org.business.nil? && !org.plan.business_plus?) %>
          <% if account_has_upgrade_path?(org) && passes_filter %>
            <article class="col-md-4 mb-3 mb-md-5 account-picker-card" <%= test_selector "account-picker-card" %>>
              <a
                href="<%= choose_account_link(org) %>"
                <%= safe_analytics_click_attributes(
                  category: "Accounts",
                  action: "click organization plan",
                  label: "ref_cta:Organization account;ref_loc:account_choose:ref_org_plan:#{org.plan_name}"
                ) %>
                class="d-flex flex-column flex-justify-center height-full hover-grow no-underline Box color-shadow-large p-3 p-md-5"
                <%= test_selector "account-picker-org-link" %>
              >
                <div class="d-flex">
                  <div>
                    <%= render(GitHub::AvatarComponent.new(actor: org, size: 48, mr: 3)) %>
                  </div>
                  <div class="flex-auto">
                    <h1 class="h3 lh-condensed wb-break-word"><%= org.safe_profile_name.truncate(40) %></h1>
                    <p class="color-fg-muted mb-0 mr-3">Organization</p>
                  </div>
                </div>
              </a>
            </article>
          <% end %>
        <% end %>

        <div class="col-md-4 mb-3 mb-md-5 account-picker-card">
          <a
            href="<%= new_organization_path(plan: intended_plan_class) %>"
            <%= safe_analytics_click_attributes(
              category: "Accounts",
              action: "click create organization",
              label: "ref_cta:Create an organization;ref_loc:account_choose:ref_personal_plan:#{current_user.plan_name}"
            ) %>
            class="d-flex flex-column flex-justify-center height-full hover-grow no-underline color-fg-muted text-center Box color-bg-subtle p-3"
          >
            <%= render(Primer::Beta::Octicon.new(icon: "plus", height: 32, mx: :auto, color: :muted)) %>
            <div class="f4">Create a new organization</div>
          </a>
        </div>

        <% if upgrade_intent? %>
          <div class="col-md-4 mb-3 mb-md-5 account-picker-card" <%= test_selector "try-enterprise-cta" %>>
            <a
              href="<%= enterprise_trial_accounts_new_path %>"
              <%= safe_analytics_click_attributes(
                category: "Accounts",
                action: "click_try_enterprise",
                label: "ref_cta:Try GitHub Enterprise;ref_loc:account_choose:ref_personal_plan:#{current_user.plan_name}"
              ) %>
              class="d-flex flex-column flex-justify-center height-full hover-grow no-underline color-fg-muted text-center Box color-bg-subtle p-3"
            >
              <%= render(Primer::Beta::Octicon.new(icon: "plus", height: 32, mx: :auto, color: :muted)) %>
              <div class="f4">Try GitHub Enterprise</div>
            </a>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
