<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "Please verify your email address" %>
<div class="container-lg px-3">
  <%= render Primer::BlankslateComponent.new(
    image_src: "modules/octocats/supportcat.jpg",
    image_alt: "supportocat holding envelope",
    title: "Please verify your email address",
    description: "Before you can contribute on GitHub, we need you to verify your email address.",
  ) do %>
    <p>
      An email containing verification instructions was sent to <strong><%= current_user.primary_user_email.email %></strong>.
    </p>

    <div class="d-flex flex-column flex-md-row flex-md-justify-center">
      <%= form_tag request_verification_user_email_path(current_user, current_user.primary_user_email), class: "mr-md-1 d-flex" do %>
        <%= render Primer::ButtonComponent.new(type: :submit, flex: :auto) do %>Resend verification email<% end %>
      <% end %>
      <%= link_to "Change your email settings", settings_email_preferences_path, class: "btn ml-md-1 mt-2 mt-md-0" %>
    </div>

    <% if Rails.env.development? && (user_email = current_user.primary_user_email) %>
      <p class="note mt-4 pt-4">
        Psst, Hubber:
        <% if user_email.verification_token %>
          in local development, you can just
          <%= link_to "verify the email address", user_confirm_verification_email_path(
            current_user,
            user_email,
            user_email.verification_token,
          ), class: "Link--inTextBlock"
          %>
          directly, without having to view the email or open a Rails console.
        <% else %>
          if you wait a second and reload this page,
          you should see a link to click to verify your email address
          in local development.
        <% end %>
      </p>
    <% end %>
  <% end %>
</div>
