<div class="color-bg-success rounded-bottom-1" <%= test_selector("selected-answer-preview") %>>
  <div class="px-3 pt-3">
    <div class="d-flex flex-items-center">
      <%= render Primer::Beta::Octicon.new(
        icon: :"check-circle-fill",
        color: :success,
        size: :medium,
        mr: 2,
      ) %>
      <span class="color-fg-success">Answered by
        <a class="text-bold color-fg-success"
          href="<%= user_path(answer.safe_user.display_login) %>"
          <%= safe_data_attributes(hovercard_data_attributes_for_user_login(answer.safe_user.display_login)) %>
          <%= test_selector("answered-by") %>>
          <%= answer.safe_user.display_login %>
        </a>
      </span>

      <a href="<%= answer.permalink %>" class="Link--secondary js-timestamp d-inline-block ml-2">
        <%= time_ago_in_words_js answer.created_at %>
      </a>
    </div>
    <div class="comment-body markdown-body wb-break-word p-0 py-3 overflow-hidden"
        style="max-height:115px;mask-image:linear-gradient(180deg, #000 80%, transparent);-webkit-mask-image:linear-gradient(180deg, #000 80%, transparent);"
        <%= test_selector("answer-preview-body") %>
        >
      <%= preview_body %>
    </div>
  </div>
  <div class="position-relative px-3 pb-3 pt-1">
    <a href="#discussioncomment-<%= answer.id %>" class="js-discussions-goto-answer-button text-bold">
      View full answer <%= render(Primer::Beta::Octicon.new(:"arrow-down")) %>
    </a>
  </div>
</div>
