<div class="d-none d-sm-inline-flex ml-2" <%= test_selector("badge") %>>
  <%= render Discussions::SpammyBadgeComponent.new(discussion_or_comment: discussion_or_comment) %>
  <%= render Discussions::RepositoryAuthorAssociationBadgeComponent.new(
    author: author,
    action_or_role_level: timeline.action_or_role_level_for(discussion_or_comment),
  ) %>

  <% if timeline.authored_by_subject_author?(discussion_or_comment) %>
    <%= render Discussions::AuthorBadgeComponent.new(author: author) %>
  <% end %>

  <%= render Discussions::SponsorBadgeComponent.new(author: author, timeline: timeline) %>
</div>
