<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag(form_path) do %>
  <input type="hidden" name="login" value="<%= author.display_login %>">
  <input type="hidden" name="content_id" value="<%= discussion_or_comment.global_relay_id %>">
  <input type="hidden" name="from_discussions" value="true">

  <p>
    Blocking a user prevents them from interacting with repositories of this organization, such as opening or commenting on pull requests or issues. Learn more about <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/blocking-a-user-from-your-organization/">blocking a user</a>.
  </p>
  <details class="position-relative details-reset details-overlay select-menu">
    <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
      <i>Block user:</i>
      <span data-menu-button>Until I unblock them</span>
    <% end %>
    <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" aria-label="Block options"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-header">
        <span class="select-menu-title">Block options</span>
      </div>
      <div class="select-menu-list">
        <label class="select-menu-item"
                tabindex="0"
                role="menuitemradio"
                aria-checked="false">
          <input type="radio" name="duration" value="1">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <span class="select-menu-item-text" data-menu-button-text>For 1 day</span>
        </label>
        <label class="select-menu-item"
                tabindex="0"
                role="menuitemradio"
                aria-checked="false">
          <input type="radio" name="duration" value="3">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <span class="select-menu-item-text" data-menu-button-text>For 3 days</span>
        </label>
        <label class="select-menu-item"
                tabindex="0"
                role="menuitemradio"
                aria-checked="false">
          <input type="radio" name="duration" value="7">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <span class="select-menu-item-text" data-menu-button-text>For 7 days</span>
        </label>
        <label class="select-menu-item"
                tabindex="0"
                role="menuitemradio"
                aria-checked="false">
          <input type="radio" name="duration" value="30">
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <span class="select-menu-item-text" data-menu-button-text>For 30 days</span>
        </label>
        <label class="select-menu-item"
                tabindex="0"
                role="menuitemradio"
                aria-checked="false">
          <input type="radio" name="duration" value="0" checked>
          <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
          <span class="select-menu-item-text" data-menu-button-text>Until I unblock them</span>
        </label>
      </div>
    </details-menu>
  </details>

  <p class="h4 border-top mt-3 pt-3">More options</p>

  <div class="form-checkbox">
    <label>
      <input type="checkbox" name="send_notification" aria-describedby="help-text-for-notification" checked>
      Send user a notification
    </label>
    <p class="note" id="help-text-for-notification">
      You can notify <strong><%= author %></strong> as to why they're being blocked. They will receive an email notification and a notice when they try to comment with the following message:
    </p>
    <div class="markdown-body mt-2 f6">
      <blockquote>
        <%= helpers.blocked_notification_html(repository.owner_display_login, repo_owner.email, discussion_url(repository.owner_display_login, repository, discussion), code_of_conduct&.url) %>
      </blockquote>
    </div>
  </div>
  <div class="form-checkbox">
    <label>
      <input type="checkbox" name="hide_comments" aria-describedby="help-text-for-hide">
      Hide this user's comments
    </label>
    <p class="note mb-1" id="help-text-for-hide">
      All of their comments in this organization <a class="Link--inTextBlock" href="<%= "#{GitHub.help_url}/articles/managing-disruptive-comments/#hiding-a-comment" %>">will be hidden</a> to all users and will display a reason.
    </p>
    <label for="hidden_reason" class="d-block f6 pb-2 pt-2">Choose a reason for hiding this comment</label>
    <select class="form-select" name="hidden_reason">
      <option value="" disabled selected hidden>Choose a reason</option>
      <%= options_for_select(minimize_reasons_for_select) %>
    </select>
  </div>
  <% if should_show_delete_discussion_radios? %>
    <%= render(Primer::Beta::BorderBox.new(
      border_color: :danger,
      test_selector: "delete-discussion-options",
    )) do |component| %>
      <% component.with_header(tag: :h2, border_color: :danger, color: :danger) { "Danger Zone" } %>
      <% component.with_row do %>
        <%= render Primer::Beta::Text.new do %>
          Deleting discussions cannot be undone
        <% end %>
        <div class="form-checkbox">
          <label>
            <input type="radio" name="delete_discussion" value="this_discussion">
            Delete this discussion
          </label>
        </div>
        <div class="form-checkbox">
          <label>
            <input type="radio" name="delete_discussion" value="all_in_org">
            Delete all of <strong><%= author %></strong>'s discussions in @<%= repository.owner_display_login %>
          </label>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="d-flex flex-justify-end mt-3">
    <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "discussion-block-#{target_class}-#{discussion_or_comment.id}" })) { "Cancel" } %>
    <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger, ml: 2)) { "Block user from organization" } %>
  </div>
<% end %>
