<% if display_body_section? %>
  <tr class="d-block">
    <td
      class="<%= class_names(
        "d-block color-fg-default comment-body markdown-body js-comment-body",
        "email-format" => discussion_or_comment.created_via_email?,
        "px-3 pt-0 pb-2" => discussion_or_comment.nested? && !discussion_or_comment.try(:minimized?),
        "p-0 pt-1" => discussion_or_comment.try(:minimized?),
      ) %>"
      <%= test_selector("#{discussion_or_comment.class.name.underscore}_body_#{discussion_or_comment.id}") %>
    >
      <% if body_html? %>
        <%= body_html %>
      <% else %>
        <p class="color-fg-muted">
          <em>
            <%= empty_body_text %>
          </em>
        </p>
      <% end %>
    </td>
  </tr>
<% end %>
<% if has_displayable_poll? %>
  <tr class="<%= class_names("d-block", "mt-3" => !display_body_section?)%>" >
    <td
      class="d-block color-fg-default px-3 py-0 mb-3 js-discussion-poll"
      <%= test_selector("#{discussion_or_comment.class.name.underscore}_poll_#{discussion_or_comment.id}") %>
    >
      <%= render(Discussions::PollComponent.new(
        discussion_number: discussion_or_comment.number,
        repository: repository,
        poll: discussion_or_comment.poll,
        options: discussion_or_comment.poll.options,
        preview: false,
        locked: discussion_or_comment.locked?
      )) %>
    </td>
  </tr>
<% end %>
