<div class="mt-3">
  <fieldset aria-describedby="section-description">
      <legend class="h5">Add this category to a section (optional)</legend>
      <p id="section-description" class="note mb-3">
        Sections are a dropdown of categories. Categories have types of discussions, and discussions within them.
      </p>
      <div class="form-group-body d-flex flex-wrap flex-items-start">
        <div class="d-flex" style="flex-basis: 50%">
          <div class="form-checkbox m-2" style="width: 200px">
            <%= radio_button_tag "category[discussion_section_id]", 0, no_section_selected?, id: "no-section", 'data-test-selector' => "no-section-radio" %>
            <label for="no-section" class="d-flex">
              <%= primer_octicon(:'comment-discussion') %> <div class="mx-2">No section</div>
            </label>
          </div>
        </div>
        <% repository.discussion_sections.each do |section| %>
          <div class="d-flex" style="flex-basis: 50%">
            <div class="form-checkbox m-2" style="width: 200px">
              <%= radio_button_tag "category[discussion_section_id]", section.id, current_section?(section), id: dom_id(section), 'data-test-selector' => "section-#{section.id}" %>
              <label for="<%= dom_id(section) %>" class="d-flex">
                <span aria-hidden="true"><%= section.emoji_html %></span> <div class="mx-2"><%= section.name %></div>
              </label>
            </div>
          </div>
        <% end %>
      </div>
  </fieldset>
</div>
