<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= form_tag(path_for_category_delete, method: :delete) do %>
  <%= render(Primer::Alpha::Dialog.new(
    title: "Delete #{category.name} category",
    id: dom_id(category, :delete),
    size: :medium_portrait,
  )) do |dialog| %>
    <% dialog.with_show_button(
      scheme: :link,
      color: :default,
      id: dom_id(category, :delete),
      test_selector: "Delete",
      ml: 4,
      aria: { label: category_delete_button_text }
    ) do |s| %>
      <% s.with_tooltip(type: :description, text:  category_delete_button_text, direction: :n) %>
      <%= render(Primer::Beta::Octicon.new(icon: :trash)) %>
    <% end %>

    <% dialog.with_body do %>
      <%= label_tag "category_select_#{category.id}", "If this category has discussions associated, where would you like to reassign them?" %>
      <%= select_tag "new_category_id",
        options_for_select(reassignment_categories),
        id: "category_select_#{category.id}",
        class: "input-block form-select mt-3 mb-3"
      %>
      <% if category.supports_polls? %>
        <p class="color-fg-danger text-bold">Warning!</p>
        <p class="mb-3">If polls are transferred to a non-Polls supported category, the poll will be deleted and no longer rendered.</p>
      <% end %>
    <% end %>

    <% dialog.with_footer do %>
      <%= render(Primer::ButtonComponent.new(data: { "close-dialog-id": dom_id(category, :delete) })) { "Cancel" } %>
      <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :danger)) { "Delete and move" } %>
    <% end %>
  <% end %>
<% end %>
