<div <%= test_selector("discussion-categories") %>>
  <div class="mx-2 mb-2 d-flex flex-justify-between flex-items-center">
    <%= render(Primer::Beta::Text.new(
      tag: categories_heading_tag,
      font_size: categories_heading_font_size
    )) { "Categories" } %>

    <% if can_create_discussion_category %>
      <%= link_to(
        agnostic_categories_path(repository: current_repository, org_param: org_param),
        aria: { label: "Manage categories" },
        **test_selector_data_hash("manage-categories"),
        class: "Link--secondary",
      ) do %>
        <%= render(Primer::Beta::Octicon.new(icon: :pencil)) %>
      <% end %>
    <% end %>
  </div>

  <% if show_categories_popover? %>
    <%= render Primer::Beta::Popover.new(
      position: :absolute,
      right: true,
      left: true,
      visibility: :hidden,
      style: "margin-top:-50px; margin-left: 350px;",
      classes: "js-notice js-discussions-categories",
    ) do |component| %>
      <% component.with_heading(color: :default, font_size: 5) do %>
        Personalize your categories
      <% end %>
      <% component.with_body(caret: :left_top, font_size: 5, color: :muted, p: 3, style: "width: 249px;") do %>
        Choose categories that fit your community. These could be announcements, Q&A with marked answers,
        open-ended conversations, or polls for community voting.
        <div class="mt-2 d-flex flex-justify-start">
          <%= form_tag dismiss_repository_notice_user_path(current_user), method: :delete, class: "js-notice-dismiss" do %>
            <input type="hidden" name="repository_id" value="<%= current_repository.id %>">
            <input type="hidden" name="notice_name" value="discussions_categories">
            <%= render Primer::Beta::Button.new(font_weight: :bold, type: :submit) do %>
              Got it
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= render Primer::Experimental::NavigationList.new(
    aria: { label: "Categories" },
    selected_item_id: selected_category_slug,
  ) do |navigation| %>
    <% navigation.with_item(href: discussions_path, item_id: :all, test_selector: "all") do |item| %>
      <% item.with_leading_visual_icon(icon: :'comment-discussion') %>
      View all discussions
    <% end %>

    <% categories_with_no_section.each do |category| %>
      <% navigation.with_item(
        item_id: category.slug,
        href: helpers.discussions_search_path(org_param: org_param, discussions_query: parsed_discussions_query, category_override: category.name),
        test_selector: category.slug,
      ) do |item| %>
        <% item.with_leading_visual_content(aria: { hidden: true }) { helpers.discussion_category_emoji_tag(category) } %>
        <%= category.name %>
      <% end %>
    <% end %>

    <% sections_to_display.each do |section| %>
      <% navigation.with_item(
        test_selector: "section-accordion-#{section.slug}",
        expanded: section_expanded?(section),
        data: {
          **analytics_click_attributes(
              category: "discussion_section",
              action: section_expanded?(section) ? "collapse" : "expand",
              label: section_expanded?(section) ? "discussion_section_collapsed" : "discussion_section_expanded")}
      ) do |item| %>
        <% item.with_leading_visual_content(aria: { hidden: true }) { discussion_section_emoji_tag(section) } %>
        <%= section.name %>
        <% section.discussion_categories.sort_by(&:slug).each do |category| %>
          <% item.with_subitem(
            item_id: category.slug,
            selected_by_ids: category.slug,
            href: helpers.discussions_search_path(org_param: org_param, discussions_query: parsed_discussions_query, category_override: category.name),
            test_selector: "section-category-#{category.slug}",
          ) do |subitem| %>
            <% subitem.with_leading_visual_content(aria: { hidden: true }) { helpers.discussion_category_emoji_tag(category) } %>
            <%= category.name %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
