<div class="js-details-container Details " <%= test_selector("category-#{category.id}") %>>
  <div class="Details-content--shown d-flex flex-justify-start">
    <div class="d-flex flex-justify-center flex-items-center flex-shrink-0 bg-discussions-row-emoji-box rounded-2">
      <span class="d-flex flex-items-center color-fg-muted" aria-hidden="true">
        <%= helpers.discussion_category_emoji_tag(category, classes: "d-flex flex-items-center f4") %>
      </span>
    </div>
    <div class="d-flex flex-auto flex-column px-3 css-truncate css-truncate-overflow">
      <%= render(Primer::Beta::Heading.new(tag: :h2, font_size: 4, classes: "css-truncate-overflow")) do %>
        <% if category.supports_announcements? %>
          <%= render(Primer::Beta::Octicon.new(icon: "lock", aria: { label: "Restricted" })) %>
        <% end %>
        <%= category.name %>
      <% end %>
      <div class="color-fg-muted css-truncate css-truncate-overflow">
        <% if category.supports_mark_as_answer? %>
          <span class="text-bold color-fg-success">
            Answers enabled
          </span>
        <% end %>
        <% if category.supports_mark_as_answer? && category.description? %>&nbsp;·&nbsp;<% end %>
        <span class="css-truncate-overflow">
          <%= category.description %>
        </span>
      </div>
    </div>
    <div class="d-flex flex-justify-end flex-items-center">
      <% if editable? %>
        <%= render(Primer::Beta::Button.new(
          scheme: :link,
          color: :default,
          tag: :a,
          href: category_edit_path,
          id: dom_id(category, :edit),
          test_selector: "Edit",
          aria: { label: category_edit_button_text }
        )) do |c| %>
        <% c.with_tooltip(type: :description, text: category_edit_button_text, direction: :n) %>
          <%= render(Primer::Beta::Octicon.new(icon: :pencil)) %>
        <% end %>
      <% end %>
      <% if deletable? %>
        <%= render(Discussions::CategoryDeleteComponent.new(repository: repository, category: category, categories: categories)) %>
      <% end %>
    </div>
  </div>
</div>
