<% if render_category_title? %>
   <div class="d-flex flex-auto flex-items-start" <%= test_selector('discussion-title-flag')%>>
    <div class="Subhead d-flex flex-auto flex-items-start <%= "border-bottom-0 mb-1" if hide_separator %>">
      <div class="flex-1">
        <h2 class="Subhead-heading h4" id="discussions-list" >
          <span class="mr-2" aria-hidden="true"><%= helpers.discussion_category_emoji_tag(selected_category) %></span><%= selected_category.name %> <span class="sr-only">Discussions</span>
        </h2>
        <% if selected_category.description.present? %>
          <div class="Subhead-description" <%= test_selector('discussion-category-description')%>><%= selected_category.description %></div>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <h2 id="discussions-list" class="h4 mb-2">Discussions</h2>
<% end %>
