<div class="discussion-sidebar-item">
  <% if can_modify_category? %>
    <details class="details-reset details-overlay select-menu" id="change-discussion-category">
      <summary class="text-bold discussion-sidebar-heading discussion-sidebar-toggle" aria-haspopup="menu">
        <%= render Primer::Beta::Octicon.new(icon: :gear) %>
        Category
      </summary>
      <details-menu
        class="SelectMenu SelectMenu--hasFilter"
        aria-label="Change discussion category"
        src="<%= discussion_category_menu_path(
          timeline.repo_owner_login,
          timeline.repo_name,
          timeline.discussion,
        ) %>"
        preload
      ><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
          <div class="SelectMenu-header">
            <span class="SelectMenu-title">Change category</span>
            <button
              class="SelectMenu-closeButton"
              type="button"
              data-toggle-for="change-discussion-category"
            >
              <%= primer_octicon(:x, :"aria-label" => "Close menu") %>
            </button>
          </div>
          <include-fragment class="SelectMenu-loading" aria-label="Loading">
            <%= render(Primer::Beta::Spinner.new) %>
          </include-fragment>
        </div>
      </details-menu>
    </details>

    <a href="<%= discussions_search_path(category_override: category.name, discussions_query: [], org_param: org_param) %>"
       class="Link--onHover d-flex flex-row flex-items-center text-small color-fg-default text-bold no-underline"
       <%= test_selector("discussion-category") %>
    >
      <div class="d-flex flex-justify-center flex-items-center bg-discussions-row-emoji-box-small rounded-2 flex-shrink-0 mr-2" aria-hidden="true">
        <%= category_emoji %>
      </div>
      <%= category.name %>
    </a>
  <% else %>
    <div class="text-bold discussion-sidebar-heading">
      Category
    </div>
    <a href="<%= discussions_search_path(category_override: category.name, discussions_query: [], org_param: org_param) %>"
       class="Link--onHover d-flex flex-row flex-items-center text-small color-fg-default text-bold no-underline"
       <%= test_selector("discussion-category") %>
    >
      <div class="d-flex flex-justify-center flex-items-center bg-discussions-row-emoji-box-small rounded-2 flex-shrink-0 mr-2" aria-hidden="true">
        <%= category_emoji %>
      </div>
      <%= category.name %>
    </a>
  <% end %>
</div>
