<div class="<%= class_names(
  "js-timeline-marker",
  "color-bg-inset border-top color-border-default mt-n1" => child_comments.any?,
  "rounded-bottom-2" => child_comments.any? && !logged_in?,
 ) %>" data-child-comments id="<%= "child-comments-#{parent_comment.dom_id}" %>">
  <% if total_previous_child_comments_count > 0 %>
    <%= render Primer::Beta::TimelineItem.new(
      condensed: true, pt: 0, ml: 0,
      classes: "discussion-nested-comment-paging-form"
    ) do |component| %>
      <% component.with_badge(
        icon: "kebab-horizontal",
        pb: 3, mt: 0, pt: 4,
        style: "background-color: transparent; left: 30px;",
        classes: "discussion-nested-comment-paging-badge",
      ) %>
      <% component.with_body(classes: "discussion-nested-comment-paging-form-body") do %>
        <%= form_tag(
          discussion_comment_threads_path(
            comment_id: parent_comment.id,
            discussion_number: discussion_number,
            repository: repo_name,
            user_id: repo_owner_login,
          ),
          method: :get,
          "data-replace-remote-form-target": "child-comments-#{parent_comment.dom_id}",
          "data-replace-remote-form": true,
        ) do %>
          <input type="hidden" name="back_page" value="<%= back_page + 1 %>">
          <input type="hidden" name="forward_page" value="<%= forward_page %>">
          <% if anchor_id %>
            <input type="hidden" name="anchor_id" value="<%= anchor_id %>">
          <% end %>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            scheme: :link,
            mb: 2, pl: 2, pt: 2,
            test_selector: "discussion-nested-comment-load-prev-replies",
            data: { disable_with: "Loading more replies..." },
          ).with_content(show_previous_replies_text) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% child_comments.each do |child_comment| %>
    <div class="<%= class_names(
      "TimelineItem",
      "js-comment-container js-nested-comment-container js-targetable-element ml-0 pb-2 pl-3",
      "discussion-nested-comment-timeline-item discussion-primer-next-nested-comment-timeline-item width-full",
      "color-bg-success timeline-child-comment-answer-border" => timeline.show_as_answer?(child_comment),
    )
    %>">
      <%= discussion_timeline_avatar(child_comment) %>

      <% timeline.record_show_stats_render("nested_comment") do %>
        <%= render Discussions::NestedCommentComponent.new(comment: child_comment, timeline: timeline) %>
      <% end %>
    </div>
  <% end %>

  <% if total_next_child_comments_count > 0 %>
    <%= render Primer::Beta::TimelineItem.new(
      condensed: true, pb: 0, ml: 0,
      classes: "discussion-nested-comment-paging-form"
    ) do |component| %>
      <% component.with_badge(
        icon: "kebab-horizontal",
        pb: 3, mt: 0, pt: 4,
        style: "background-color: transparent; left: 30px;",
        classes: "discussion-nested-comment-paging-badge",
      ) %>
      <% component.with_body(classes: "discussion-nested-comment-paging-form-body") do %>
        <%= form_tag(
          discussion_comment_threads_path(
            comment_id: parent_comment.id,
            discussion_number: discussion_number,
            repository: repo_name,
            user_id: repo_owner_login,
          ),
          method: :get,
          "data-replace-remote-form-target": "child-comments-#{parent_comment.dom_id}",
          "data-replace-remote-form": true,
        ) do %>
          <input type="hidden" name="back_page" value="<%= back_page %>">
          <input type="hidden" name="forward_page" value="<%= forward_page + 1 %>">
          <% if anchor_id %>
            <input type="hidden" name="anchor_id" value="<%= anchor_id %>">
          <% end %>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            scheme: :link,
            mb: 2, pl: 2,
            data: { disable_with: "Loading more replies..." },
            classes: "js-discussion-comment-thread-expand-button"
          ).with_content(show_more_replies_text) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
