<% timeline.renderables.each do |item| %>
  <% if item.is_a?(Array) %>
    <%= render Discussions::TimelineItemsComponent.new(
      timeline: timeline,
      items: item,
    ) %>
  <% elsif item.is_a?(DiscussionTimelineHiddenItems) && item.count > 0 %>
    <%= render Discussions::TimelineLoadMoreComponent.new(
      timeline: timeline,
      hidden_items_count: item.count,
      before: item.before_cursor,
      after: item.after_cursor,
    ) %>
  <% elsif item == DiscussionTimeline::NEW_MARKER %>
    <div class="pt-2">
      <div class="js-whats-new width-full text-center" style="scroll-margin-top: 92px">
        <div class="js-whats-new-state p-2 px-3 State color-fg-on-emphasis color-bg-accent-emphasis" style="bottom: 5%; position:fixed; z-index: 2; display: inline-block; margin-left: -60px; cursor: pointer;" hidden>
          <%= timeline.new_item_count %> new <%= timeline.new_item_noun.pluralize(timeline.new_item_count) %>
          <%= render Primer::Beta::Octicon.new(icon: "arrow-down") %>
        </div>
      </div>
      <div class="width-full border-top color-border-accent-emphasis"></div>
      <div class="width-full text-center" style="margin-top: -12px;">
        <span id="new" class="px-2 color-bg-default color-fg-accent">New</span>
      </div>
    </div>
  <% elsif item == DiscussionTimeline::UNREAD_MARKER %>
    <% helpers.mark_comments_as_unread! %>
  <% elsif item == DiscussionTimeline::TIMELINE_HEADER %>
    <%= render Discussions::CommentHeaderComponent.new(
      discussion: timeline.discussion,
      org_param: org_param,
      repository: timeline.repository,
      sort: timeline.sort,
    )
    %>
  <% end %>
<% end %>
