<div class="js-socket-channel js-updatable-content d-flex flex-auto"
  data-channel="<%= live_update_view_channel(discussion.websocket_channel) %>"
  data-url="<%= live_update_path %>"
  data-gid="<%= discussion.global_relay_id %>"
>
  <%= render(Primer::Beta::Heading.new(tag: :h2, font_size: 4, my: 2, id: "discussion-comment-count")) do %>
    <span class="sr-only">Replies: </span>
    <span <%= test_selector("num_comments_label") %>>
      <%= pluralize(direct_comment_count, direct_comment_noun) %>
    </span>

    <% if reply_count > 0 %>
      <span aria-hidden="true">&middot;</span>

      <span class="text-normal" <%= test_selector("num_replies_label") %>>
        <%= pluralize(reply_count, "reply") %>
      </span>
    <% end %>
  <% end %>
</div>
