<div class="d-flex flex-items-center flex-wrap">
  <%= render(Discussions::CommentCountComponent.new(discussion: discussion, repository: repository)) %>
  <% if comment_count > 0 %>
    <nav aria-label="Sort comments" id="discussion-comment-header">
      <%= render(Primer::Alpha::SegmentedControl.new(aria: { labelledby: "discussion-comment-header" }, test_selector: "reddit_style_sort")) do |c| %>
        <%= c.with_item(
          tag: :a,
          label: "Oldest",
          href: agnostic_discussion_path(discussion, org_param: org_param, sort: "old"),
          data: hydro_discussions_comment_sort_tracking_data(discussion_id: discussion.id, repository_id: repository.id, sort: "old"),
          selected: sort == "old"
        ) %>
        <%= c.with_item(
          tag: :a,
          label: "Newest",
          href: agnostic_discussion_path(discussion, org_param: org_param, sort: "new"),
          data: hydro_discussions_comment_sort_tracking_data(discussion_id: discussion.id, repository_id: repository.id, sort: "new"),
          selected: sort == "new"
        ) %>
        <%= c.with_item(
          tag: :a,
          label: "Top",
          href: agnostic_discussion_path(discussion, org_param: org_param, sort: "top"),
          data: hydro_discussions_comment_sort_tracking_data(discussion_id: discussion.id, repository_id: repository.id, sort: "top"),
          selected: sort == "top"
        ) %>
      <% end %>
    </nav>
  <% end %>
</div>
