<div
  class="discussions-timeline-scroll-target js-targetable-element"
  id="<%= comment.dom_id %>"
  <% if subscribe_to_live_updates? %>
    data-gid="<%= comment.global_relay_id %>"
    data-url="<%= discussion_comment_path(
      timeline.repo_owner_login,
      timeline.repo_name,
      timeline.discussion,
      comment,
    ) %>"
  <% end %>
  <% if hpc %>data-hpc<% end %>
>
  <div
    class="
      timeline-comment-group
      reactions-with-gap
      discussion-comment
      js-discussion-comment
      js-minimizable-comment-group
      js-targetable-element
      TimelineItem-body
      js-timeline-discussion-comment my-1
    "
    data-error="<%= error_message %>"
    <%= test_selector("discussion-comment-#{comment.id}") %>
  >

    <% if minimized? %>
      <%= render Discussions::MinimizedCommentComponent.new(
        comment: comment,
        timeline: timeline,
        back_page: back_page,
        forward_page: forward_page,
        anchor_id: anchor_id,
      ) %>
    <% else %>
      <%= render Discussions::UnminimizedDiscussionOrCommentComponent.new(
        discussion_or_comment: comment,
        comment_is_nested: false,
        has_paginated_nested_comments: has_paginated_nested_comments?,
        timeline: timeline,
        page: page,
        back_page: back_page,
        forward_page: forward_page,
        anchor_id: anchor_id,
      ) %>
    <% end %>
  </div>
</div>
