<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="clearfix flex-shrink-0 js-issues-results col-12 flex-wrap">
  <% timeline.record_show_stats_render("title") do %>
    <%= render Discussions::TitleComponent.new(
      discussion: discussion,
      timeline: timeline,
      parsed_discussions_query: parsed_discussions_query,
      org_param: org_param,
    ) %>
  <% end %>
</div>

<div class="flex-shrink-0 col-12 col-md-9 mb-4 mb-md-0">
  <% if render_discussions_summary? %>
    <include-fragment src="<%= copilot_discussion_summary_banner_path(
      repository.owner_display_login,
      repository,
      discussion,
    ) %>"></include-fragment>
  <% end %>

  <div
    class="js-quote-selection-container js-discussion-quote-selection"
    data-quote-markdown=".js-comment-body"
    data-issue-and-pr-hovercards-enabled
    data-discussion-hovercards-enabled
    data-team-hovercards-enabled
    data-timeline-item-src="<%= timeline_anchor_discussion_path(
      timeline.repo_owner_login,
      timeline.repo_name,
      discussion,
    ) %>"
    id="js-discussions-timeline-anchor-loader"
  >

    <div class="<%= class_names(
      "discussion js-discussion js-socket-channel js-updatable-content",
      "answered" => discussion.answered?,
    ) %>"
      data-discussion-hovercards-enabled
      data-repository-hovercards-enabled
      data-commit-hovercards-enabled
      data-channel="<%= live_update_view_channel(discussion.websocket_channel) %>"
    >
      <% timeline.record_show_stats_render("body") do %>
        <%= render Discussions::BodyComponent.new(discussion: discussion, timeline: timeline) %>
      <% end %>

      <% timeline.record_show_stats_render("timeline") do %>
        <%= render "discussions/timeline", timeline: timeline, org_param: %>
      <% end %>
    </div>

    <% if discussion.transferring? %>
      <div class="timeline-comment-wrapper">
        <%= render(Primer::Beta::Flash.new(scheme: :warning, test_selector: "discussion-transferring")) do %>
          This discussion is being transferred. The timeline may not be complete until it finishes.
        <% end %>
      </div>
    <% end %>

    <span id="issue-comment-box"></span>

    <div class="discussion-timeline-actions">
      <%= render Comments::SignedOutCommentComponent.new(
        commentable_type: :repo,
        repository_id: discussion.repository_id,
        signup_enabled: GitHub.signup_enabled?,
      ) %>

      <% timeline.record_show_stats_render("new_comment_input") do %>
        <%= render Discussions::NewCommentInputComponent.new(timeline: timeline) %>
      <% end %>
    </div>
  </div>
</div>
