<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= render Primer::BlankslateComponent.new(icon: "comment-discussion", title: title) do %>
  <p class="lead">
    <% if discussion.comment_copy_failure? %>
      Not all the comments could be copied from the <%= original_issue_link_or_text %> to the new
      discussion.
    <% elsif discussion.close_failure? %>
      The <%= original_issue_link_or_text %> could not be closed so it could not be migrated to a
      discussion.
    <% elsif discussion.error? && discussion.issue %>
      Something went wrong migrating this discussion from the <%= original_issue_link_or_text %>.

      <% if discussion.reset_conversion_failure? %>
        We were unable to reopen the issue and reset the migration process.
      <% end %>
    <% elsif discussion.error? %>
      Something went wrong with this discussion.
    <% elsif discussion.converting? %>
      The issue and any comments are still being copied to this discussion thread,
      please check back later.
    <% end %>
  </p>

  <% unless discussion.error? %>
    <p><a href="" class="btn btn-sm"><%= primer_octicon(:sync) %> Refresh</a></p>
    <%= image_tag(
      "spinners/octocat-spinner-128.gif",
      width: 128,
      class: "d-block mt-6 mb-4 mx-auto",
      alt: "",
    ) %>
  <% end %>
<% end %>
