<li class="discussion-sidebar-item border-top-0 mt-0 pt-1" <%= test_selector("sidebar_issue_reference_discussion") %>>
  <%= render Primer::Beta::Button.new(
    tag: :a,
    href: issue_create_url,
    scheme: :link,
    font_weight: :bold,
    underline: false,
    text_align: :left,
    classes: "Link--primary lock-toggle-link"
  ) do |button| %>
    <% button.with_leading_visual_icon(icon: :"issue-opened") %>
    Create issue from discussion
  <% end %>
  <% if show_discussion_create_issue_reference_popover? %>
    <div <%= test_selector("sidebar_issue_reference_popover") %> style="position: relative">
      <%= render Primer::Beta::Popover.new(
        classes: "js-notice",
        display: [:none, :none, :block, :block],
        right: true,
        left: true,
        style: "left: -16px; bottom: 26px; margin-right: -15px",
        position: :absolute,
      ) do |component| %>
        <% component.with_heading(tag: :h3, font_size: 4) do %>
          Create issue from discussion
        <% end %>
        <% component.with_body(caret: :bottom_left, w: :auto) do %>
          <p>
            The original post will be copied into a new issue, and the discussion will remain active.
          </p>
          <div class="mt-2 d-flex flex-justify-start">
            <%= form_tag dismiss_notice_path(UserNotice::DISCUSSION_CREATE_ISSUE_REFERENCE_NOTICE), class: "mt-2 js-notice-dismiss" do %>
              <%= render Primer::Beta::Button.new(type: :submit) do %>
                OK, got it!
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</li>
