<div <%= test_selector("discussion-sidebar") %>>
  <% if show_parent_heading? %>
    <%= render(Primer::Beta::Heading.new(
      tag: :h2,
      classes: "sr-only",
      test_selector: "sidebar-heading-parent"
    )) { parent_heading } %>
  <% end %>

  <%= render(Discussions::CategoriesListComponent.new(
    current_repository: current_repository,
    discussions_path: discussions_path(current_repository.owner, current_repository),
    categories: current_repository.available_discussion_categories,
    parsed_discussions_query: parsed_discussions_query,
    selected_category_slug: selected_category_slug,
    can_create_discussion_category: can_create_discussion_category,
    can_toggle_discussions_setting: can_toggle_discussions_setting,
    can_manage_spotlights: can_manage_spotlights,
    categories_heading_tag: categories_heading_tag,
    org_param: org_param,
  ))%>

  <% if categories.any?(&:supports_mark_as_answer?) %>
    <div class="my-3">
      <include-fragment
        src="<%= discussions_leaderboard_path(current_repository.owner, current_repository) %>"
        <%= test_selector("discussions_leaderboard_fragment") %>>
        <%= render(Primer::Beta::Spinner.new(mt: 6, mx: :auto, display: :block)) %>
      </include-fragment>
    </div>
  <% end %>

  <%= render(Primer::Beta::Heading.new(tag: :h3, classes: "sr-only")) { "Community links" } %>
  <%= render(Discussions::IndexSidebarLinksComponent.new(
    wrap_text: false,
    current_repository: current_repository,
    code_of_conduct_file: code_of_conduct_file,
    show_divider: false
  )) %>
</div>
