<%= render(Primer::Box.new(mr: 2, mb: 2, text_align: :right)) do %>
  <label class="color-fg-default text-normal text-small">
    <% if render_checkbox? %>
      <%= check_box_tag(:verify_searched, "1", false, required: true, style: "position: relative; vertical-align: text-bottom") %>
      I have done a <%= link_to "search for similar discussions", discussions_search_path, target: "_blank", id: "js-similar-search-link", data: { path: discussions_search_path }, class: "Link--inTextBlock" %><span class="color-fg-danger">*</span>
    <% else %>
      <%= primer_octicon(:'light-bulb', color: :subtle) %>
      Reminder to <%= link_to "search for similar discussions", discussions_search_path, target: "_blank", id: "js-similar-search-link", data: { path: discussions_search_path }, class: "Link--inTextBlock" %>
    <% end %>
  </label>
<% end %>
