<edit-history>
  <%= render Primer::Experimental::ActionMenu.new(
    anchor_align: :end,
    menu_id: "discussion-edit-history-#{discussion_or_comment.id}",
    src: history_log_path,
    test_selector: "discussion-edit-history-#{discussion_or_comment.id}",
  ) do |menu| %>
    <% menu.with_trigger(
      scheme: :invisible,
      size: :small,
      data: { target: "edit-history.menuTrigger" },
    ) do |trigger| %>
      <% trigger.with_trailing_action_icon(icon: :"triangle-down") %>
      <% if latest_editor.nil? %>
        edited by <%= GitHub.ghost_user_login %>
      <% elsif !editor_is_author? %>
        edited by <%= latest_editor %> <%= helpers.bot_identifier(latest_editor) %>
      <% else %>
        edited
      <% end %>
    <% end %>
  <% end %>

  <template data-target="edit-history.deletedDialogTemplate">
    <%= render Primer::Alpha::Dialog.new(
      id: "{{dialogId}}",
      title: "{{editor}}'s edit",
      size: :medium,
      data: { action: "cancel:edit-history#removeDialog" },
    ) do |dialog| %>
      <% dialog.with_body do %>
        {{actor}} deleted this content
        <relative-time class="no-wrap" datetime="{{datetime}}"></relative-time>.
      <% end %>
    <% end %>
  </template>

  <template data-target="edit-history.diffDialogTemplate">
    <%= render(Primer::Alpha::Dialog.new(
      title: "{{editor}}'s edit",
      id: "{{dialogId}}",
      size: :large,
      data: { action: "cancel:edit-history#removeDialog" },
    )) do |dialog| %>
      <% dialog.with_body(p: 0) do %>
        <include-fragment src="{{src}}">
          <div class="text-center" data-hide-on-error>
            <%= render Primer::Beta::Spinner.new(aria: { label: "Loading" }) %>
          </div>
          <div class="text-center" data-show-on-error hidden>
            Something went wrong.
          </div>
        </include-fragment>
      <% end %>
    <% end %>
  </template>
</edit-history>
