<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::BlankslateComponent.new(
  icon: "comment-discussion",
  title: title,
  spacious: true,
  test_selector: "empty-discussions",
  "data-hpc": ""
) do %>
  <% if render_empty_state? %>
    <p>
      Discussions are to share announcements, create conversation in your community, answer questions, and more.
      <% if can_create_discussion? %>
        To get started, you can create a
        <a class="Link--inTextBlock" href="<%= generated_new_discussion_path %>" <%= new_discussion_hydro_attrs %>>
          new discussion
        </a>.
      <% end %>
    </p>
  <% elsif can_create_discussion? %>
    <p>
      You can open a
      <a class="Link--inTextBlock" href="<%= generated_new_discussion_path %>" <%= new_discussion_hydro_attrs %>>
        new discussion
      </a>
      to ask questions about this repository or get help.
    </p>
  <% end %>
<% end %>
