<div class="TimelineItem-badge sidebar-emoji-box color-bg-default mr-1 <%= discussion_event_badge_color(event.event_type) %>" <%= test_selector("event-row") %>>
  <%= discussion_event_badge_icon(event.event_type) %>
</div>

<div class="TimelineItem-body m-0" <%= test_selector("event-event-#{event.id}") %>>
  <strong class="css-truncate">
    <a
      href="<%= user_path(event.safe_actor) %>"
      class="author Link--primary css-truncate-target width-fit" <%= safe_data_attributes(click_profile_hydro_data) %>
      <%= safe_data_attributes(hovercard_data_attributes_for_user(event.safe_actor)) %>
    >
      <%= event.safe_actor %>
    </a>
    <%= bot_identifier(event.safe_actor) %>
  </strong>

  <%= content %>

  <span class="color-fg-muted"><%= render Primer::Beta::RelativeTime.new(datetime: event.created_at, format: :micro, tense: :past) %></span>
</div>
