<div class="<%= class_names(
    "d-flex flex-justify-end",
    "js-socket-channel js-updatable-content" => !inline_comment?,
) %>"
  <%= test_selector "discussion-form-actions" %>
  <% unless inline_comment? %>
    id="partial-discussion-form-actions"
    data-channel="<%= live_update_view_channel(timeline.discussion.websocket_channel) %>"
    data-gid="<%= timeline.discussion_graphql_id %>"
    data-url="<%= discussion_form_actions_path(
      timeline.repo_owner_login,
      timeline.repo_name,
      timeline.discussion
    ) %>"
  <% end %>
>
  <div class="ml-1 d-flex flex-items-center">
    <% if inline_comment? %>
      <%= render Primer::Beta::Button.new(
        type: :reset,
        classes: "js-hide-inline-comment-form",
        data: { confirm_cancel_text: "Are you sure you want to discard your unsaved changes?" },
      ) do %>
        Cancel
      <% end %>
    <% end %>

    <% if show_close_button? %>
      <%= render Closables::Buttons::CloseComponent.new(closable: discussion) %>
    <% end %>

    <% if show_reopen_button? %>
      <%= render Closables::Buttons::ReopenComponent.new(closable: discussion) %>
    <% end %>

    <%= render Primer::Beta::Button.new(
      type: :submit,
      scheme: :primary,
      data: { disable_with: "", disable_invalid: "" },
      ml: 1,
    ) do %>
      <%= submit_button_text %>
    <% end %>
  </div>
</div>
