<li class="overflow-hidden" <%= test_selector(test_id) %>>
  <%= link_to href,
  data: {
    **analytics_click_attributes(
      action: hydro_event_action,
      category: hydro_event_category
    )
  },
  class: "px-1 Link--secondary py-1 d-inline-flex flex-nowrap no-underline width-full",
  "data-pjax": "#js-repo-pjax-container" do %>
    <span class="d-inline-block flex-shrink-0 mr-1 text-center">
      <%= primer_octicon(icon) %>
    </span>
    <span class="<%= class_names(
      "d-inline-block flex-auto",
      "no-wrap css-truncate css-truncate-target": !wrap_text
    ) %>"<% unless wrap_text %> style="max-width: 100%"<% end %>><%= text %></span>
  <% end %>
</li>
