<%= primer_form_with(url: new_issue_from_comment_path, method: :post) do |f| %>
  <input type="hidden" name="issue[repository_id]" value="<%= repository.id %>">

  <div class="form-group mt-0 position-relative">
    <%= render Primer::Alpha::SelectPanel.new(
      id: repo_selector_id,
      src: related_repositories_path(repository.owner_display_login, repository, menu_id: repo_selector_id),
      fetch_strategy: :remote,
      title: "Select repository",
      form_arguments: { builder: f, name: "issue[repository_id]" },
      no_results_label: "No matching repositories.",
      dynamic_label: true,
      dynamic_label_prefix: "Repository",
    ) do |menu| %>
      <% menu.with_show_button("aria-label": "Switch repository: #{repository.name}") do |button| %>
        <% button.with_leading_visual_icon(icon: :repo) %>
        <% button.with_trailing_action_icon(icon: :"triangle-down") %>
        <%= repository.name %>
      <% end %>
    <% end %>
  </div>

  <%= render(Discussions::ReferenceInNewIssueForm.new(
    f,
    title: title,
    body: body,
    dialog_close_id: "dialog-reference-in-new-issue-#{target_class}-#{discussion_or_comment.id}"
  )) %>
<% end %>
