<div class="discussion-sidebar-item js-discussion-sidebar-item">
  <% item_body = capture do %>
    <% if can_edit_labels? %>
      <details class="label-select-menu details-reset details-overlay select-menu hx_rsm" id="labels-select-menu">

        <summary
          class="text-bold discussion-sidebar-heading discussion-sidebar-toggle hx_rsm-trigger"
          aria-haspopup="menu"
          data-hotkey="l"<%# erblint:disable DataHotkey %>
        >
          <%= render Primer::Beta::Octicon.new(icon: :gear) %>
          Labels
        </summary>

        <details-menu
          <% if defer_menu_content? %>src="<%= deferred_menu_path %>"<% end %>
          class="select-menu-modal position-absolute right-0 hx_rsm-modal js-discussion-sidebar-menu"
          style="z-index: 99; overflow: visible;"
          data-multiple
        ><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>

          <div class="select-menu-filters">
            <div class="select-menu-text-filter">
              <input
                type="text"
                id="label-filter-field"
                class="form-control js-label-filter-field js-filterable-field"
                placeholder="Filter labels"
                aria-label="Filter labels"
                autocomplete="off"
                autofocus
              >
            </div>
          </div>

          <div class="hx_rsm-content" role="menu">
            <% if defer_menu_content? %>
              <include-fragment>
                <%= render(Primer::Beta::Spinner.new(my: 6, mx: :auto, display: :block)) %>
                <% discussion.labels.each do |label| %>
                  <input hidden
                         type="checkbox"
                         data-label-name="<%= label.name %>"
                         value="<%= label.id %>"
                         name="discussion[labels][]"
                         checked>
               <% end %>
              </include-fragment>
            <% else %>
              <%= render(Discussions::LabelsMenuContentComponent.new(
                repository: repository,
                discussion: discussion,
                viewer_can_push: viewer_can_push?,
              )) %>
            <% end %>
          </div>

        </details-menu>

      </details>
    <% else %>
      <div class="discussion-sidebar-heading text-bold">
        Labels
      </div>
    <% end %>

    <div class="d-flex flex-wrap">
      <% if labels.any? %>
        <% labels.each do |label| %>
          <%= render Issues::LabelComponent.new(
            color: label.color,
            name: label.name,
            description: label.description,
            href: helpers.discussions_search_path(
              discussions_query: parsed_discussions_query,
              replace: {label: nil},
              append: [[:label, label.name]],
              repository:,
              org_param: org_param,
            ),
            mb: 1,
            mr: 1,
          ) do |component| %>
            <span class="css-truncate css-truncate-target"><%= label.name_html %></span>
          <% end %>
        <% end %>
      <% else %>
        None yet
      <% end %>
    </div>
  <% end %>

  <% if discussion.new_record? && can_edit_labels? %>
    <div class="js-issue-sidebar-form" data-url="<%= rerender_component_path %>">
      <%= csrf_hidden_input_for rerender_component_path, class: "js-data-url-csrf" %>
      <%= item_body %>
    </div>
  <% else %>
    <%= item_body %>
  <% end %>
</div>
