<div class="select-menu-list js-issue-labels-menu-content">
  <% form_fields = capture do %>
    <input type="hidden" name="discussion[labels][]" value="">

    <div class="js-filterable-issue-labels" data-filterable-for="label-filter-field" data-filterable-type="substring">
      <% labels.each do |label| %>
        <%= render partial: "issues/sidebar/label", locals: {
          label: label,
          selected: selected?(label),
          subject_kind: :discussion,
        } %>
      <% end %>
    </div>

    <% unless can_manage_labels? %>
      <div class="select-menu-no-results">Nothing to show</div>
    <% end %>
  <% end %>

  <% if discussion.new_record? %>
    <%= form_fields %>
  <% else %>
    <%= form_tag form_action_path, method: :put, "aria-label": "Apply labels", class: "js-issue-sidebar-form" do %>
      <%= form_fields %>
    <% end %>
  <% end %>
</div>

<% if can_manage_labels? %>
  <% if discussion.new_record? %>
    <button type="button" class="width-full js-open-label-creation-modal js-add-label-button select-menu-item border-top" role="menuitem" hidden>
      Create new label &ldquo;<span class="js-new-label-name"></span>&rdquo;
    </button>
  <% else %>
    <%= render GitHub::DialogComponent.new(
      title: "Create new label",
      variant: :narrow,
      details_classes: "width-full js-new-label-modal",
    ) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
      <% dialog.with_summary do %>
        <summary class="select-menu-item d-block color-fg-muted js-add-label-button border-0" role="menuitem" hidden>
          Create new label &ldquo;<span class="js-new-label-name"></span>&rdquo;
        </summary>
      <% end %>

      <%= render Issues::LabelCreationModalComponent.new(
        labelable: discussion,
        repository: repository,
      ) %>
    <% end %>
  <% end %>
  <a class="select-menu-item d-block color-fg-muted last-visible border-top" href="<%= manage_labels_path %>" role="menuitem">
    <%= render Primer::Beta::Octicon.new(icon: :pencil, float: :left, mr: 1, classes: "label-options-icon") %>
    <span class="select-menu-item-text f6">Edit labels</span>
  </a>
<% end %>
