<%# erblint:counter DeprecatedComponentsCounter 4 %>
<% if pinned? %>
  <li class="discussion-sidebar-item border-top-0 mt-0 pt-1 pb-0">
    <%= render(Primer::Alpha::Dialog.new(
      title: "Unpin discussion from this category",
      id: "discussion-unpin-category",
      size: :medium
    )) do |dialog| %>
      <% dialog.with_show_button(
        scheme: :link,
        font_weight: :bold,
        underline: false,
        text_align: :left,
        classes: "Link--primary lock-toggle-link",
      ) do |button| %>
        <% button.with_leading_visual_icon(icon: :pin) %>
        Unpin discussion from this category
      <% end %>
      <% dialog.with_body do %>
        <p>Are you sure you want to unpin this discussion from <%= category.name %>?</p>
        <p>The discussion itself won't be deleted, it just won't be shown at the top of this category.</p>
      <% end %>
      <% dialog.with_footer do %>
        <%= form_tag(discussion_category_pin_path(repo_owner_login, repo_name, discussion_number), method: :delete) do %>
          <%= render(Primer::ButtonComponent.new(data: { "close-dialog-id": "discussion-unpin-category" })) { "Cancel" } %>
          <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :danger,)) { "Unpin discussion from this category" } %>
        <% end %>
      <% end %>
    <% end %>
  </li>
<% else %>
  <li class="discussion-sidebar-item border-top-0 mt-0 pt-1 pb-0">
    <%= render(Primer::Alpha::Dialog.new(
      title: "Pin this discussion to this category",
      id: "discussion-create-category-pin",
      size: :medium
    )) do |dialog| %>
      <% dialog.with_show_button(
        scheme: :link,
        font_weight: :bold,
        underline: false,
        text_align: :left,
        classes: "Link--primary lock-toggle-link",
      ) do |button| %>
        <% button.with_leading_visual_icon(icon: :pin) %>
        Pin discussion to <%= category.name %>
      <% end %>
      <% dialog.with_body do %>
        <p>This will pin this discussion to the top of the <%= category.name %> category.</p>
      <% end %>
      <% dialog.with_footer do %>
        <%= form_tag(discussion_category_pin_path(repo_owner_login, repo_name, discussion_number)) do %>
          <%= render(Primer::ButtonComponent.new(data: { "close-dialog-id": "discussion-create-category-pin" })) { "Cancel" } %>
          <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :primary,)) { "Pin to #{category.name}" } %>
        <% end %>
      <% end %>
    <% end %>
  </li>
<% end %>
