<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if spotlit? %>
  <li class="discussion-sidebar-item border-top-0 mt-0 pt-1 pb-0">
    <%= render(Primer::Alpha::Dialog.new(
      title: "Edit pinned discussion",
      size: :large,
      id: "discussion-edit-spotlight",
    )) do |dialog| %>
      <% dialog.with_show_button(
        scheme: :link,
        font_weight: :bold,
        underline: false,
        classes: "Link--primary lock-toggle-link",
      ) do |button| %>
        <% button.with_leading_visual_icon(icon: :pencil) %>
        Edit pinned discussion
      <% end %>
      <% dialog.with_body(pt: 2) do %>
        <%= form_tag(discussion_spotlight_form_submit_path(discussion_spotlight), method: :put) do %>
          <include-fragment src="<%= edit_discussion_spotlight_form_content_path %>">
            <div class="text-center" data-hide-on-error>
              <%= render Primer::Beta::Spinner.new(aria: { label: "Loading" }) %>
            </div>
            <div class="text-center" data-show-on-error hidden>
              Something went wrong.
            </div>
          </include-fragment>
        <% end %>
      <% end %>
    <% end %>
  </li>
  <li class="discussion-sidebar-item border-top-0 mt-0 pt-1 pb-0">
    <%= form_tag(discussion_spotlight_form_submit_path(discussion_spotlight), method: :delete) do %>
      <%= render(Primer::Alpha::Dialog.new(
        title: "Unpin discussion",
        id: "discussion-destroy-spotlight",
      )) do |dialog| %>
        <% dialog.with_show_button(
          scheme: :link,
          font_weight: :bold,
          underline: false,
          classes: "Link--primary lock-toggle-link",
        ) do |button| %>
          <% button.with_leading_visual_icon(icon: :pin) %>
          Unpin discussion
        <% end %>
        <% dialog.with_body do %>
          <p>Are you sure you want to unpin this discussion?</p>
          <p>The discussion itself won't be deleted, it just won't be shown prominently above the
          list of discussions.</p>
        <% end %>
        <% dialog.with_footer do %>
          <%= render(Primer::ButtonComponent.new(data: { "close-dialog-id": "discussion-destroy-spotlight" })) { "Cancel" } %>
          <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :danger)) { "Unpin discussion" } %>
        <% end%>
      <% end %>
    <% end %>
  </li>
<% elsif repo_can_add_more_spotlights? %>
  <li class="discussion-sidebar-item border-top-0 mt-0 pt-1 pb-0">
    <%= render(Primer::Alpha::Dialog.new(
      title: "Configure pinned discussion",
      size: :large,
      id: "discussion-create-spotlight",
    )) do |dialog| %>
      <% dialog.with_show_button(
        scheme: :link,
        font_weight: :bold,
        underline: false,
        classes: "Link--primary lock-toggle-link",
      ) do |button| %>
        <% button.with_leading_visual_icon(icon: :pin) %>
        Pin discussion
      <% end %>
      <% dialog.with_body(pt: 2) do %>
        <%= form_tag(new_discussion_spotlight_form_submit_path) do %>
          <include-fragment src="<%= new_discussion_spotlight_form_content_path %>">
            <div class="text-center" data-hide-on-error>
              <%= render Primer::Beta::Spinner.new(aria: { label: "Loading" }) %>
            </div>
            <div class="text-center" data-show-on-error hidden>
              Something went wrong.
            </div>
          </include-fragment>
        <% end %>
      <% end %>
    <% end %>
  </li>
<% end %>
