<%# erblint:counter DeprecatedComponentsCounter 4 %>
<% if timeline.render_mark_as_answer?(comment) && !timeline.answered? %>
  <div class="mr-2">
    <%= form_tag(
      mark_as_answer_discussion_comment_path(comment),
      :method => :post,
      "data-replace-remote-form-target" => remote_form_id,
      :class => "d-inline-flex js-discussion-comment-mark-answer",
    ) do %>
      <%= render(Primer::ButtonComponent.new(
        type: :submit,
        scheme: :invisible,
        classes: class_names(
          "social-reaction-summary-item",
          "discussion-footer-answer-button",
        ),
        test_selector: "mark-answer",
        color: :muted,
        role: "button",
        "aria-label": aria_label_mark_as_answer
      )) do |component| %>
        <% component.with_leading_visual_icon(icon: :'check-circle-fill') %>
        Mark as answer
      <% end %>
    <% end %>
    <% if show_discussion_comment_mark_answer_popover? %>
      <%= render Primer::Beta::Popover.new(
        style: "z-index: 99",
        display: [:none, nil, nil, :block],
        position: :absolute,
        left: true,
        right: true,
        ml: 5,
        mt: 2,
        classes: "js-notice",
      ) do |component| %>
        <% component.with_heading do %>
          Marking answers
        <% end %>
        <% component.with_body(caret: :top_left, mt: 0, style: "width: 300px") do %>
          <p>Marking a comment as the answer helps others find the solution and gives credit to the comment author.</p>
          <%= form_tag dismiss_notice_path(UserNotice::DISCUSSION_MARK_ANSWER_NOTICE), class: "mt-2 js-notice-dismiss" do %>
            <%= render Primer::ButtonComponent.new(font_weight: :bold, type: :submit) do %>
              Got it!
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% elsif timeline.can_unmark_as_answer?(comment) %>
  <%= form_tag(
        unmark_as_answer_discussion_comment_path(comment),
        :method => :delete,
        :"data-replace-remote-form-target" => remote_form_id,
        :class => "d-inline-flex js-discussion-comment-unmark-answer"
  ) do %>
    <%= render(Primer::ButtonComponent.new(
      type: :submit,
      scheme: :invisible,
      classes: class_names(
        "social-reaction-summary-item",
        "discussion-footer-answer-button",
      ),
      test_selector: "unmark-answer",
      color: :muted,
      mr: 2,
      role: "button",
      aria: { label: aria_label_unmark_answer },
    )) do |component| %>
      <% component.with_leading_visual_icon(icon: :'check-circle-fill', color: :success) %>
      Unmark as answer
    <% end %>
  <% end %>
<% elsif timeline.show_as_answer?(comment) %>
    <%= render(Primer::ButtonComponent.new(
      scheme: :invisible,
      classes: class_names(
        "social-mark-answer",
        "social-reaction-summary-item",
        "discussion-footer-answered-badge",
      ),
      test_selector: "display-answer",
      display: :flex,
      color: :success,
      align_items: :center,
      bg: :success,
      mr: 2,
      aria: { label: "Marked as answer"},
      disabled: true,
    )) do |c| %>
      <% c.with_leading_visual_icon(icon: :"check-circle-fill", mr: 2, color: :success) %>
      Marked as answer
    <% end %>
<% end %>
