<div class="discussions-timeline-scroll-target" id="<%= comment.dom_id %>"
  data-gid="<%= comment.global_relay_id %>"
  data-url="<%= discussion_comment_path(
    timeline.repo_owner_login,
    timeline.repo_name,
    timeline.discussion,
    comment,
  ) %>"
  data-error="<%= error_message %>"
  <%= test_selector("discussion-comment-#{comment.id}") %>
>
  <div
    class="
      timeline-comment-group
      discussion-comment
      js-discussion-comment
      js-minimizable-comment-group
      js-targetable-element
      TimelineItem-body
      discussion-nested-comment-group position-relative
      mt-0 pl-2
    "
  >
    <% if minimized? %>
      <%= render Discussions::MinimizedCommentComponent.new(comment: comment, timeline: timeline) %>
    <% else %>
      <%= render Discussions::UnminimizedDiscussionOrCommentComponent.new(
        discussion_or_comment: comment,
        comment_is_nested: true,
        timeline: timeline,
        has_paginated_nested_comments: false,
      ) %>
    <% end %>
  </div>
</div>
