<%= render(Primer::Box.new(pb: 2, test_selector: "discussion")) do %>

  <%= render(Primer::Box.new(display: :inline_flex, justify_content: :flex_start)) do %>
    <%= render(Primer::Beta::Octicon.new(:"comment-discussion", color: :muted, mt: 1)) %>
    <%= render(Primer::Beta::Heading.new(tag: :h3, font_weight: :bold, font_size: 5, underline: false, pb: 2, pl: 2)) do %>
      <a href="<%= discussion_path(discussion)%>" class="Link--primary">
        <span> <%= truncated_discussion_title %></span>
      </a>
    <% end %>
  <% end %>

  <%= render(Primer::Box.new(display: :flex, justify_content: :space_between, color: :muted, font_size: :small, pl: 4)) do %>
    <%= render(Primer::Box.new(col: 2, test_selector: "upvote-count")) do %>
      <%= render(Primer::Beta::Octicon.new(:"arrow-up")) %>
      <span><%= discussion_upvote_count %></span>
      <span class="sr-only"><%= pluralize(discussion_upvote_count, "upvote") %></span>
    <% end %>

    <%= render(Primer::Box.new(col: 2, test_selector: "comment-count")) do %>
      <%= render(Primer::Beta::Octicon.new(:"comment")) %>
      <span><%= discussion_comment_count %></span>
      <span class="sr-only"><%= pluralize(discussion_comment_count, "comment") %></span>
    <% end %>

    <%= render Primer::Beta::AvatarStack.new(col: 8, body_arguments: { test_selector: "participants" }) do |c| %>
      <% discussion_participants.first(DiscussionsHelper::DISCUSSION_MAX_DISPLAYED_AVATARS).each do |participant| %>
        <% c.with_avatar(href: user_path(participant), **avatar_component_options(participant)) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
