<div id="partial-users-participants" class="discussion-sidebar-item">
  <div class="participation">
    <div class="discussion-sidebar-heading text-bold">
      <%= total_participant_count %>
    </div>
    <div class="participation-avatars d-flex flex-wrap" <%= test_selector("participants") %>>
      <% capped_participants.each do |participant| %>
      <%= profile_link(
          participant,
          class: "participant-avatar",
          hydro_data: discussion_view_click_attrs(discussion, target: :USER_PROFILE_LINK),
        ) do %>
      <%= render(
            GitHub::AvatarComponent.new(actor: participant, size: 24)
          ) %><%= " " %><%# leave this space for copy/paste username strings %>
      <% end %>
      <% end %>
      <% if show_more_text? %>
      <span class="participation-more">and others</span>
      <% end %>
    </div>
  </div>
</div>
