<%= content_tag(:div, class: "js-discussion-poll-options Box-body", data: test_selector_hash("poll-options-component"), hidden: hidden?) do %>
  <div role="radiogroup" aria-labelledby="poll-question %>">
    <% poll_options.each_with_index do |poll_option, index| %>
      <div class="form-checkbox my-2" >
        <input
          class="js-discussion-poll-option"
          <%= "disabled" if disable? %>
          <%= "checked" if checked?(poll_option) %>
          type="radio"
          name="<%= poll.id%>"
          value="<%= poll_option.id %>"
          id="<%= "poll-option-#{index + 1}" %>"
        >
        <label for="<%= "poll-option-#{index + 1}" %>" class="text-normal" <%= test_selector("poll-option-#{index + 1}") %>>
          <%= poll_option.option %>
        </label>
      </div>
    <% end %>
  </div>
<% end %>
