<div data-poll-url="<%= get_discussion_poll_path %>" data-vote-url="<%= discussion_poll_voting_path %>" data-poll-locked="<%= locked? %>" class="js-discussion-poll-component Box my-2" <%= test_selector("poll-component") %>>
  <div id="poll-question" class="Box-header Box-title color-bg-default poll-title" tabindex="-1">
    <%= question %>
  </div>
  <%= render(Discussions::PollOptionsComponent.new(poll: poll, poll_options: options, vote: vote, preview: preview?, locked: locked?)) %>
  <%= render(Discussions::PollResultsComponent.new(poll: poll, poll_options: options, vote: vote, locked: locked?)) unless preview? %>
  <div class="Box-footer d-flex flex-items-center">
    <div class="flex-auto">
      <div class="text-small color-fg-subtle">
        <p class="m-0"><%= pluralize(helpers.discussion_social_count(total_votes), "vote") %>
          <span <%= "hidden" if !logged_in? %>>
            <span class="mx-1">&#183;</span>
            <% if preview? %>
              <span>
                Show Results
              </span>
            <% else %>
              <%= render Primer::Beta::Button.new(
                  scheme: :link,
                  color: :subtle,
                  hidden: voted? || locked?,
                  classes: "js-poll-show-results",
                ) do %>
                  Show Results
              <% end %>
              <%= render Primer::Beta::Button.new(
                  scheme: :link,
                  color: :subtle,
                  hidden: !voted? && !locked?,
                  classes: "js-poll-hide-results",
                ) do %>
                  Hide Results
              <% end %>
            <% end %>
          </span>
        </p>
      </div>
    </div>
    <% if !preview? %>
      <%= csrf_hidden_input_for discussion_poll_voting_path, method: :post, class: "js-data-url-post-csrf" %>
    <% end %>
    <%= render Primer::Beta::Button.new(mr: 2, hidden: !logged_in?, classes: "js-discussion-poll-vote-button", "aria-disabled": vote_button_disabled?) do %>Vote<% end %>
  </div>
</div>
