<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div data-poll-preview-url="<%= get_discussion_poll_preview_path %>" id="discussion_poll_form" class="p-2 js-discussion-poll-form-component" <%= hidden? ? "hidden" : "" %> <%= test_selector("poll-form-component") %>>
  <%= csrf_hidden_input_for get_discussion_poll_preview_path, method: :post, class: "js-poll-preview-url-post-csrf" %>
  <div
    class="<%= class_names(
      "form-group js-remove-error-state-on-click",
      "errored" => poll_error_present? && discussion_poll.errors[:question].present?,
    ) %>"
  >
    <label class="h5 color-fg-muted">Poll question</label>
    <input type="hidden" name="discussion[poll_attributes][id]" value="<%= discussion_poll.id %>">
    <input
      name="discussion[poll_attributes][question]"
      class="form-control width-full required mt-2 js-poll-form-input-question"
      type="text"
      placeholder="Ask your question here (required)"
      aria-label="Poll question"
      aria-describedby="poll-question-input-validation"
      value="<%= discussion_poll&.question %>"
      maxlength="<%= DiscussionPoll::MAX_QUESTION_LENGTH %>"
      <%= test_selector("poll-form-question-input") %>
    >
    <% if poll_error_present? && discussion_poll.errors[:question].present? %>
      <p class="note error" id="poll-question-input-validation">
        <%= discussion_poll.errors.full_messages_for(:question).to_sentence %>
      </p>
    <% end %>
  </div>

  <label class="h5 color-fg-muted">Poll options</label>

  <div class="d-flex mb-3 js-poll-option-template" hidden>
    <input
      class="form-control width-full required input-contrast js-poll-option js-poll-option-template-input"
      type="text"
      placeholder="Option"
      aria-label="Poll option"
    >
    <button class="btn-octicon btn-octicon-danger js-poll-option-template-button" type="button" aria-label="Trashcan icon">
      <%= primer_octicon :trash %>
    </button>
  </div>

  <div class="mt-2" id="poll-option-container" data-poll-options-limit="<%= DiscussionPoll::MAX_OPTIONS %>" data-new-discussion="<%= discussion.new_record? %>" data-poll-option-next-key="<%= discussion_poll.options.count %>">
    <% if discussion_poll.options.present? %>
      <% discussion_poll.options.each_with_index do |option, index| %>
        <div class="d-flex mb-3 js-poll-option-template">
          <div
            class="<%= class_names(
              "flex-1 m-0 form-group js-remove-error-state-on-click",
              "errored" => option.errors[:option].present?,
            ) %>"
          >
            <input type="hidden"
                   name="discussion[poll_attributes][options_attributes][<%= index %>][id]"
                   value="<%= option.id %>">

            <% if option.persisted? %>
              <input type="hidden"
                     class="js-poll-option-destroy-field"
                     name="discussion[poll_attributes][options_attributes][<%= index %>][_destroy]"
                     value="">
            <% end%>

            <input
              name="discussion[poll_attributes][options_attributes][<%= index %>][option]"
              class="form-control width-full required input-contrast js-poll-option js-poll-option-template-input"
              type="text"
              placeholder="<%= option_placeholder_text(index) %>"
              aria-label="Poll option"
              value="<%= option.option %>"
              maxlength="<%= DiscussionPollOption::MAX_CHAR %>"
              <%= test_selector("poll-form-option-input") %>
            >
            <% if poll_error_present? && option.errors[:option].present? %>
              <p class="note error" id="poll-option-<%= index %>-input-validation">
                <%= option.errors.full_messages_for(:option).to_sentence %>
              </p>
            <% end %>
          </div>
          <% unless required_option?(index) %>
            <button class="btn-octicon btn-octicon-danger js-poll-option-template-button" type="button" aria-label="Trashcan icon">
              <%= primer_octicon :trash %>
            </button>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <% required_options_min.times do |index| %>
        <div class="m-0 mb-3 form-group">
          <input
            name="discussion[poll_attributes][options_attributes][][option]"
            class="form-control width-full required js-poll-option"
            type="text"
            placeholder="<%= option_placeholder_text(index) %>"
            aria-label="Poll option <%= index + 1 %>"
            maxlength="<%= DiscussionPollOption::MAX_CHAR %>"
            <%= test_selector("poll-form-option-input") %>
          >
        </div>
      <% end %>
    <% end %>
  </div>

  <%= render(Primer::ButtonComponent.new(scheme: :invisible, mt: 2, p: 0, classes: "js-add-poll-option")) { "+ Add an option" } %>
</div>
