<%= content_tag(:div, class: "js-discussion-poll-results", data: test_selector_hash("poll-results-component"), hidden: hidden?) do %>
  <% results.each_with_index do |result, index| %>
    <div id="result-row-<%= index + 1%>" class="Box-row">
      <div class="d-flex flex-items-center my-2">
        <div class="flex-auto">
          <%= result[:option] %>
          <%= check_icon(result[:option_id]) %>
        </div>
        <div>
          <%= result[:percent] %>%
        </div>
      </div>
      <span class="Progress Progress--large">
        <span class="Progress-item color-bg-accent-emphasis" style="width: <%= result[:percent] %>%;"></span>
      </span>
    </div>
  <% end %>
<% end %>
