<%= form_tag(form_path, method: :post) do %>
  <div class="d-md-flex">
    <div class="flex-1 p-3">
      <div class="d-flex flex-column flex-justify-between">
        <p>This content violates @<%= profile_link(repository.owner_display_login, class: "Link--primary text-bold") %>'s Code of Conduct and should be submitted to the maintainers of this repository for review.</p>
        <p>This report, as well as your username as the reporter, will be viewable by all admins of this repository.</p>

        <dl class="form-group">
          <dt>Choose a reason for reporting this content</dt>
          <dd>
            <select name="reason" class="form-select mr-2" aria-label="Reason" required>
              <option value>
              Choose a reason
              </option>
              <%= options_for_select(classifier_enums.map { |s| [s.titleize, s] }) %>
            </select>
          </dd>
        </dl>

        <p class="text-small color-fg-muted">
          Learn more about <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/reporting-abuse-or-spam">requesting that maintainers moderate content</a>.
        </p>

        <%= render Primer::Beta::Button.new(type: :submit, block: true, scheme: :danger) do %>Report to repository admins<% end %>
      </div>
    </div>

    <div class="flex-1 p-3">
      <div class="flex-1 d-flex flex-column flex-justify-between height-full">
        <p>Contact GitHub Support about this user’s spammy or abusive behavior.</p>

        <div>
          <p class="text-small color-fg-muted mt-3">
            Learn more about <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/reporting-abuse-or-spam">reporting abuse to GitHub Support</a>.
          </p>
          <%= render(Primer::Beta::Link.new(
            href: report_to_github_link,
            classes: "btn btn-block btn-danger flex-self-end",
            test_selector: "report-content-github-link",
            data: helpers.discussion_view_click_attrs(discussion_or_comment, target: :REPORT_CONTENT_MENU_ITEM)
          )) { "Report abuse to GitHub Support" } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
