<div class="mb-2 mb-sm-4 discussions-header-wrap">
  <div class="discussions-query-builder">
    <%= render(Primer::Experimental::QueryBuilder.new(
      id: "discussions-search-combobox",
      input_name: "discussions_q",
      label_text: "Search all discussions",
      visually_hide_label: true,
      placeholder: "Search all discussions",
      form_action_url: search_path,
      value: search_input_value_for(query),
      mt: 1,
      test_selector: "discussions-new-search",
      "data-suggestable-authors-path": discussions_author_suggestions_path(
        current_repository.owner_display_login,
        current_repository.name,
      ),
      "data-suggestable-labels-path": discussions_label_suggestions_path(
        current_repository.owner_display_login,
        current_repository.name
      ),
      "data-suggestable-categories": discussion_category_suggestions,
    )) do |component| %>
      <% component.with_input(data: { hotkey: local_search_hotkey }) %>
      <% component.with_leading_visual_icon(icon: :search) %>
    <% end %>
  </div>

  <div class="discussions-button-wrap">
    <div class="d-flex mt-2 mt-sm-0 ml-n2 ml-sm-0" <%= test_selector("reddit_style_sort") %>
    <%= safe_data_attributes(helpers.hydro_discussions_filter_tracking_data(
      filter: nil,
      sort: discussion_sort_option_tracking_name("latest")
    )) %>
    >
      <%= render(
        Discussions::TopSearchComponent.new(
          current_repository: current_repository,
          parsed_discussions_query: parsed_discussions_query,
          query: query,
          org_param: org_param,
        )
      ) %>
    </div>

    <div class="d-flex mt-2 mt-sm-0 ml-n2 ml-sm-0">
      <%= render(Discussions::LabelSearchComponent.new(
        repository: current_repository,
        query: query,
        can_edit_labels: current_user_can_push?,
      )) %>
    </div>

    <div class="d-flex mt-2 mt-sm-0 ml-n2 ml-sm-0">
      <%= render(Discussions::FilterComponent.new(
        current_repository: current_repository,
        include_answer_filters: include_answer_filters?,
        parsed_discussions_query: parsed_discussions_query,
        org_param: org_param,
      )) %>
    </div>

    <div class="d-flex mt-2 mt-sm-0 ml-n2 ml-sm-0">
      <% if emu_contribution_blocked?(current_repository) %>
        <%= render Primer::Beta::Button.new(
          scheme: :primary,
          ml: 2,
          aria: { disabled: true },
          id: "discussion-create-button",
          test_selector: "discussion-new-emu-contribution-blocked-button"
        ) do %>
          New discussion
        <% end %>
        <%= render(Primer::Alpha::Tooltip.new(
          for_id: "discussion-create-button",
          type: :description,
          text: emu_contribute_block_hint,
          direction: :nw
        )) %>
      <% elsif logged_in? && can_create_discussion %>
        <div class="d-flex flex-1 flex-justify-end ml-2 position-relative">
          <%= render Primer::Beta::Button.new(
            scheme: :primary,
            tag: :a,
            href: create_new_discussion_path,
            data: new_discussion_hydro_attrs,
            "data-hotkey": "c",
          ) do %>
            New discussion
          <% end %>
          <% if current_repository.show_discussions_new_discussion_popover?(current_user, can_toggle_discussions_setting: can_toggle_discussions_setting)%>
            <%= render Primer::Beta::Popover.new(
              position: :absolute,
              left: true,
              right: true,
              mr: 2,
              style: "top: 42px;",
              display: [:none, :none, :block, :block],
              classes: "js-notice",
            ) do |component| %>
              <% component.with_heading(tag: :h2, color: :default, font_size: 5) do %>
                Start a new discussion
              <% end %>
              <% component.with_body(caret: :top_right, font_size: 5, color: :muted, p: 3, style: "width: 249px;") do %>
                Get started by creating the first<br>discussion for your community.
                <div class="mt-2 d-flex flex-justify-start">
                <% %>
                  <%= form_tag(
                    dismiss_repository_notice_user_path(current_user),
                    method: :delete,
                    class: "js-notice-dismiss"
                  ) do %>
                    <input type="hidden" name="repository_id" value="<%= current_repository.id %>">
                    <input type="hidden" name="notice_name" value="discussions_new_discussion">
                    <%= render Primer::Beta::Button.new(type: :submit) do %>
                      Got it
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% elsif could_create_discussion_if_verified? %>
        <div>
          <span class="d-block d-md-inline-block mb-1 mb-md-0 mx-md-2 text-small color-fg-muted">
            <a href="<%= settings_email_preferences_path %>" class="Link--primary text-bold">
              Verify your email address
            </a>
            to start a discussion.
          </span>
          <%= render Primer::Beta::Button.new(scheme: :primary, aria: { disabled: true }) do %>New discussion<% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
