<div class="d-flex flex-justify-start flex-items-center" <%= test_selector("section-row-#{section.id}") %> >
  <div class="ml-2 pl-1">
    <%= section.emoji_html %>
  </div>
  <%= render(Primer::Beta::Heading.new(tag: :h2, font_size: 4, px: 3, flex: :auto)) do %>
    <%= section.name %>
  <% end %>
  <div class="d-flex flex-justify-end flex-items-center">
    <% if modifiable_by_viewer? %>
      <%= render(Primer::Beta::Button.new(
        scheme: :link,
        color: :default,
        tag: :a,
        aria: { label: "Edit section #{section.name}" },
        href: agnostic_edit_section_path,
        id: dom_id(section, :edit),
        test_selector: "Edit"
      )) do |c| %>
        <% c.with_tooltip(text: "Edit section #{section.name}", direction: :n) %>
        <%= render(Primer::Beta::Octicon.new(icon: :pencil)) %>
      <% end %>
      <%= form_tag(delete_section_path, method: :delete) do %>
        <%= render(Primer::Alpha::Dialog.new(
          title: "Delete #{section.name} section",
          id: dom_id(section, :delete),
          size: :medium_portrait,
        )) do |dialog| %>
          <% dialog.with_show_button(
            scheme: :link,
            color: :default,
            aria: { label: "Delete" },
            id: dom_id(section, :delete),
            test_selector: "Delete",
            ml: 4
          ) do |s| %>
            <% s.with_tooltip(text: "Delete section #{section.name}", direction: :n) %>
            <%= render(Primer::Beta::Octicon.new(icon: :trash)) %>
          <% end %>

          <% dialog.with_body do %>
            Are you sure you want to delete this section? All categories in this section will no longer belong to a section.
          <% end %>

          <% dialog.with_footer do %>
            <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": dom_id(section, :delete) })) { "Cancel" } %>
            <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger)) { "Delete" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
