<%= form_tag(
  form_action,
  class: "js-discussion-category-form",
  method: form_method,
  data: {"test-selector" => "discussion-section-form"}) do %>
  <div class="form-group-header">
    <div class="h5" id="section-name-label">Section name</div>
  </div>

  <input type="hidden" class="js-discussion-category-emoji-field" name="section[emoji]" value="<%= section.emoji %>">
  <div class="input-group mt-2">
    <span class="input-group-button" style="vertical-align:top">
      <%= render(Primer::Alpha::Overlay.new(
        title: "Select an emoji",
        visually_hide_title: true,
        padding: :none,
        classes: "js-discussion-category-emoji-picker"
      )) do |overlay| %>
        <% overlay.with_show_button(
          classes: "rounded-right-0 border-right-0 color-border-emphasis",
        ) do %>
          <span class="sr-only">Section emoji: </span>
          <span hidden>
            <%= current_emoji_html %>
          </span>
          <span class="js-discussion-category-custom-emoji">
            <%= current_emoji_html %>
          </span>
        <% end %>

        <% overlay.with_body(
          style: "border-radius: inherit; overflow: hidden; width: 410px",
          classes: "emoji-picker-container",
        ) do %>
          <include-fragment src="<%= emoji_picker_path %>" loading="lazy">
            <span tabindex="0" aria-label="Loading emojis..." autofocus role="img">
              <%= render(Primer::Beta::Spinner.new(my: 3, mx: :auto, display: :block)) %>
            </span>
          </include-fragment>
        <% end %>
      <% end %>
    </span>
    <%= render(Primer::Alpha::TextField.new(
      name: "section[name]",
      value: section.name,
      label: "Section name",
      classes: "rounded-right-2 rounded-left-0",
      validation_message: section.errors[:name].first || section.errors[:slug].first,
      visually_hide_label: true
      )) %>
  </div>

  <div role="group" aria-labelledby="member-categories-label" class="form-group">
    <div class="form-group-header">
      <div class="h5" id="member-categories-label">Add categories to this section</div>
      <p class="note">A category can only belong to one section at a time.</p>
    </div>
    <div class="form-group-body d-flex flex-wrap flex-items-start">
      <% repository.discussion_categories.each do |category| %>
        <div class="d-flex" style="flex-basis: 50%">
          <div class="d-flex flex-items-center flex-justify-start" style="min-width:272px">
            <label class="d-flex flex-items-center flex-row-reverse text-normal">
              <%= category.name %>
              <%= helpers.discussion_category_emoji_tag(category, classes: "f4 m-2") %>
              <%= check_box_tag("section[category_ids][]", checked: category_checked?(category.id), id: dom_id(category), value: category.id) %>
            </label>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div class="mt-3 d-flex flex-justify-end">
    <%= render(Primer::Beta::Button.new(
      tag: :a,
      aria: { label: "Cancel" },
      href: cancel_path,
      mr: 2,
    )) { "Cancel" } %>
    <%= render(Primer::Beta::Button.new(
      type: :submit,
      scheme: :primary,
      data: { "disable_with": "" },
    )) { submit_text } %>
  </div>
<% end %>
