<div id="partial-discussion-sidebar"
  class="flex-shrink-0 col-12 col-md-3 mt-3 mt-md-0 js-socket-channel js-updatable-content"
  <%= test_selector("sidebar") %>
  data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.discussion(discussion)) %>"
  data-gid="<%= timeline.discussion_graphql_id %>"
  data-url="<%= discussion_sidebar_path(timeline.repo_owner_login, timeline.repo_name, discussion) %>"
  data-project-hovercards-enabled>

  <div class="discussion-sidebar-item pt-0">
    <div>
      <%= render(
        Discussions::ChangeCategoryComponent.new(
          category: discussion.category,
          timeline: timeline,
          org_param: org_param,
        ),
      ) %>
    </div>
  </div>

  <%= render(Discussions::LabelsComponent.for_timeline(timeline, org_param: org_param)) %>

  <%= render(
    Discussions::ParticipantsComponent.new(
      discussion: discussion,
      participants: participants,
      participant_count: discussion.participant_count(viewer: current_user),
    ),
  ) %>

  <% if discussion.converted_from_issue? %>
    <div class="discussion-sidebar-item" <%= test_selector("issue-conversion-message") %>>
      <div class="d-flex flex-items-center">
        <%= primer_octicon(:"issue-opened", mr: 2, aria: { hidden: true }) %>
        Converted from issue
      </div>
      <p class="text-small color-fg-muted mt-1">
        This discussion was converted from issue #<%= converted_issue_number %> on <%= discussion.converted_at.to_formatted_s(:long) %>.
      </p>
    </div>
  <% end %>

  <%= render "discussions/subscription", discussion: discussion, deferred_content: deferred_content %>

  <%= render Discussions::SidebarLinksComponent.new(timeline: timeline) %>
  <%= render Discussions::SidebarEventsComponent.new(timeline: timeline, events: events) %>
</div>
