<%# erblint:counter DeprecatedComponentsCounter 6 %>
<ul class="discussion-sidebar-item list-style-none" <%= test_selector("sidebar-links") %> aria-label="Admin controls" role="list">
  <% if show_lock_option? %>
    <li class="discussion-sidebar-item border-top-0 mt-0 pt-1">
      <%= form_tag(lock_discussion_path(repo_owner_login, repo_name, discussion_number)) do %>
        <%= render(Primer::Alpha::Dialog.new(
          title: "Lock conversation",
          id: "discussion-lock-conversation",
          size: :large
        )) do |dialog| %>
          <% dialog.with_show_button(
            scheme: :link,
            font_weight: :bold,
            underline: false,
            classes: "Link--primary lock-toggle-link",
          ) do |button| %>
            <% button.with_leading_visual_icon(icon: :lock) %>
            Lock conversation
          <% end %>
          <% dialog.with_body do %>
            <p class="text-bold">Are you sure you want to lock conversation on this discussion?</p>
            <ul class="ml-3">
              <li class="mb-2">Other users <strong>can’t add new comments</strong> to this discussion.</li>
              <% if timeline.in_organization? %>
                <li class="mb-2">
                  You and other members of teams with
                  <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/what-are-the-different-access-permissions">write access</a>
                  to this repository <strong>can still leave comments</strong> that others can see.
                </li>
              <% else %>
                <li class="mb-2">
                  You and other collaborators
                  <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/what-are-the-different-access-permissions">with access</a>
                  to this repository <strong>can still leave comments</strong> that others can see.
                </li>
              <% end %>
              <li>You can always unlock this discussion again in the future.</li>
            </ul>
            <%= render Discussions::AllowReactionsOnLockedDiscussionComponent.new(repo_owner: repo_owner) %>
          <% end %>
          <% dialog.with_footer do %>
            <%= render(Primer::ButtonComponent.new(data: { "close-dialog-id": "discussion-lock-conversation" })) { "Cancel" } %>
            <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :primary,)) { "Lock conversation" } %>
          <% end %>
        <% end %>
      <% end %>
    </li>
  <% elsif show_unlock_option? %>
    <li class="discussion-sidebar-item border-top-0 mt-0 pt-1">
      <%= render(Primer::Alpha::Dialog.new(
        title: "Unlock conversation",
        id: "discussion-unlock-conversation",
        size: :medium
      )) do |dialog| %>
        <% dialog.with_show_button(
          scheme: :link,
          font_weight: :bold,
          underline: false,
          classes: "Link--primary lock-toggle-link",
        ) do |button| %>
          <% button.with_leading_visual_icon(icon: :key) %>
          Unlock conversation
        <% end %>
        <% dialog.with_body do %>
          <p class="text-bold">Are you sure you want to unlock conversation on this discussion?</p>
          <ul class="ml-3">
            <li class="mb-2"><strong>Everyone</strong> will be able to comment on this discussion once more.</li>
            <li>You can always lock this discussion again in the future.</li>
          </ul>
        <% end %>
        <% dialog.with_footer do %>
          <%= form_tag(unlock_discussion_path(repo_owner_login, repo_name, discussion_number), method: :delete) do %>
            <%= render(Primer::ButtonComponent.new(data: { "close-dialog-id": "discussion-unlock-conversation" })) { "Cancel" } %>
            <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :primary,)) { "Unlock conversation" } %>
          <% end %>
        <% end %>
      <% end %>
    </li>
  <% end %>

  <%= render Discussions::TransferComponent.new(timeline: timeline) %>
  <%= render Discussions::ManageSpotlightComponent.new(timeline: timeline) %>
  <%= render Discussions::ManageCategoryPinComponent.new(timeline: timeline) %>
  <%= render Discussions::CreateIssueReferenceComponent.new(timeline: timeline) %>

  <% if can_delete_discussion? %>
    <li class="discussion-sidebar-item border-top-0 mt-0 pt-1" <%= test_selector("sidebar_delete_discussion") %>>
      <%= render(Primer::Alpha::Dialog.new(
        title: "Delete discussion?",
        id: "delete-discussion",
        size: :medium
      )) do |dialog| %>
        <% dialog.with_show_button(
          scheme: :link,
          font_weight: :bold,
          underline: false,
          classes: "Link--primary lock-toggle-link",
        ) do |button| %>
          <% button.with_leading_visual_icon(icon: :trash) %>
          Delete discussion
        <% end %>
        <% dialog.with_body do %>
          <p>The discussion will be deleted permanently. You will not be able to restore the discussion or its comments.</p>
        <% end %>
        <% dialog.with_footer do %>
          <%= form_tag(discussion_path(timeline.discussion, timeline.repository), method: :delete) do %>
            <%= render(Primer::ButtonComponent.new(data: { "close-dialog-id": "delete-discussion" })) { "Cancel" } %>
            <%= render(Primer::ButtonComponent.new(
              type: :submit,
              scheme: :danger,
              data: { "disable-with": "Deleting discussion…" }
            )) { "Delete discussion" } %>
          <% end %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
