<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="pb-3 pb-md-4">
  <div>
    <h2 id="pinned-discussions" class="sr-only">Pinned Discussions</h2>
    <ul
      aria-labelledby="pinned-discussions"
      role="list"
      <% if can_manage_spotlights %>
        data-update-url="<%= discussions_spotlight_positions_path(current_repository.owner, current_repository) %>"
        data-csrf-token="<%= authenticity_token_for(
          discussions_spotlight_positions_path(current_repository.owner, current_repository),
          method: :put,
        ) %>"
      <% end %>
      class="list-style-none d-flex flex-row overflow-auto ml-n3 mr-n3 px-3 m-md-0 px-md-0"
    >
      <% spotlights.each_with_index do |spotlight, index| %>
        <li
          class="<%= class_names(
            "discussions-spotlight-wrapper pl-3 flex-shrink-0",
            "col-8 col-md-#{12 / spotlights.size}" => !only_one_spotlight?,
            "col-12" => only_one_spotlight?,
            "pr-3 pr-md-0" => spotlight == spotlights.last && !only_one_spotlight?
          ) %>"
        >
          <%= render Discussions::SpotlightComponent.new(spotlight: spotlight, org_param: org_param) %>
        </li>
      <% end %>
    </ul>
  </div>

  <% if !is_org_level? && current_repository.show_discussions_spotlight_popover?(current_user, can_manage_spotlights: can_manage_spotlights) %>
    <%= render Primer::Beta::Popover.new(
      position: :absolute,
      left: true,
      right: true,
      ml: 2,
      display: [:none, :none, :block, :block],
      classes: "js-notice",
      test_selector: "spotlights-popover"
    ) do |component| %>
      <% component.with_heading(color: :default, font_size: 5) do %>
        About pinned discussions
      <% end %>
      <% component.with_body(caret: :top_left, font_size: 5, color: :muted, p: 3, style: "width: 249px;") do %>
        When you start a discussion,<br>you can choose to feature it<br>here by pinning it.
        <div class="mt-2 d-flex flex-justify-start">
        <% %>
          <%= form_tag dismiss_repository_notice_user_path(current_user), method: :delete, class: "js-spotlight-notice-dismiss" do %>
            <input type="hidden" name="repository_id" value="<%= current_repository.id %>">
            <input type="hidden" name="notice_name" value="discussions_spotlight">
            <%= render Primer::ButtonComponent.new(font_weight: :bold, type: :submit) do %>
              Got it
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
