<discussion-spotlight-container>
  <%= render(Primer::Box.new(
    border: true,
    border_radius: 2,
    classes: class_names(
      classes,
      "discussion-spotlight-container"
    ),
    style: preview_style,
    test_selector: "discussion-spotlight",
    data: {
      action: "click:discussion-spotlight-container#openDiscussionLink",
      target: preview? ? "discussion-spotlight-preview.spotlightElement" : ""
    }
  )) do %>
    <div class="mt-5 px-3 color-bg-default height-full">
      <%= render(Primer::Beta::Avatar.new(
        src: helpers.avatar_url_for(discussion_author, 32),
        size: 32,
        alt: discussion_author.display_login,
        border: true,
        classes: "spotlight-avatar",
        box_shadow: :none,
        mt: -4,
        aria: { hidden: true }
      )) %>

      <%= render(Primer::Beta::Heading.new(tag: :h3, mb: 2)) do %>
        <%= render(Primer::Beta::Link.new(
          href: agnostic_discussion_path(discussion, org_param: org_param),
          scheme: :primary,
          classes: "lh-condensed discussion-title",
          data: { target: "discussion-spotlight-container.mainLink" }
        )) { discussion.title } %>
      <% end %>

      <%= render(Primer::Beta::Truncate.new) do |component| %>
        <% component.with_item(
          tag: :a,
          href: category_link,
          aria: { label: "#{category.name} (category)" },
          font_weight: :bold,
          color: :muted,
          priority: true
        ) do %>
          <span aria-hidden="true"><%= category_emoji %></span>
          <%= category.name %>
        <% end %>
        <% component.with_item(aria: { hidden: true }) do %>·<% end %>
        <% component.with_item(
          tag: :a,
          href: user_path(discussion_author),
          aria: { label: "#{discussion_author.display_login} (author)" },
          color: :muted,
          priority: true
        ) do %>
          <%= discussion_author.display_login %>
          <%= bot_identifier(discussion_author) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</discussion-spotlight-container>
