<div class="d-flex flex-row flex-items-center">
  <div class="pr-2 d-flex flex-row">
    <a
      href="<%= user_path(discussion.author) %>"
      class="author d-flex flex-items-center Link--primary text-bold"
      <%= safe_author_data_attrs %>
    >
      <%= avatar_for(discussion.author, 20, class: "mr-1 avatar mt-0") %>
      <span class="d-none d-md-inline-block mr-1" <%= test_selector("discussion-author") %>>
        <%= discussion.author_display_login %>
      </span>
    </a>
    <%= bot_identifier(discussion.author) %>
  </div>

  <div <%= test_selector('discussion-counts') %>>
    <%= time_ago_in_words_js discussion.created_at %>
    <span class="mx-1">&middot;</span>
    <%= comment_count %>
    <% if reply_count > 0 %>
      <span class="mx-1">&middot;</span>
      <%= formatted_reply_count %>
    <% end %>
  </div>
</div>
