<%# erblint:counter DeprecatedComponentsCounter 4 %>
<div
  id="partial-discussion-header"
  class="gh-header js-details-container Details js-socket-channel js-updatable-content js-discussions-title-container"
  data-channel="<%= live_update_view_channel(discussion.websocket_channel) %>"
  data-gid="<%= timeline.discussion_graphql_id %>"
  data-url="<%= discussion_title_path(timeline.repo_owner_login, timeline.repo_name, discussion) %>"
>
  <div class="gh-header-show <%= "gh-header-no-access" unless can_modify? %>">
    <% if flash[:first_discussion] %>
      <%= render Primer::Beta::Flash.new(
        dismissible: true,
        flex_shrink: 0,
        mb: 4
      ) do %>
        <%= emoji_tag(Emoji.find_by_alias("tada"), class: "mr-1") %>
        Congratulations, you've created the first discussion in
        <%= repo_or_org %>!
      <% end %>
    <% end %>

    <div class="d-flex flex-column flex-md-row flex-items-start">
      <div class="d-flex width-full flex-order-1 flex-md-order-none">
        <div class="d-flex flex-column">
          <h1 class="gh-header-title flex-auto wb-break-word f1 mr-0">
            <span class="js-issue-title markdown-title" <%= test_selector("discussion-title") %>>
              <%= title_markdown(discussion.title) %>
            </span>
            <span class="gh-header-number f1-light">#<%= discussion.number %></span>
          </h1>
          <div class="d-flex flex-wrap flex-items-center mb-3 mt-2">
            <%= render Closables::StateComponent.new(
              closable: discussion,
              mr: 2,
            ) %>
            <% if show_locked_indicator? %>
              <%= render(Primer::Beta::State.new(
                title: "Locked",
                mr: 2,
                test_selector: "locked-discussion-state"
              )) do %>
                <%= render(Primer::Beta::Octicon.new(
                  :"lock",
                  color: :on_emphasis,
                  align_items: :center,
                  aria: { hidden: true },
                )) %>
                Locked
              <% end %>
            <% end %>
            <% if show_pinned_indicator? %>
              <%= render(Primer::Beta::State.new(
                title: "Pinned",
                scheme: :default,
                mr: 2,
                test_selector: "category-pinned-discussion-state"
              )) do %>
                <%= render(Primer::Beta::Octicon.new(
                  :"pin",
                  color: :on_emphasis,
                  align_items: :center,
                  aria: { hidden: true },
                )) %>
                Pinned
              <% end %>
            <% end %>

            <% if discussion.answered? %>
              <%= render(
                Primer::Beta::State.new(
                  title: "Answered",
                  bg: :default,
                  mr: 2,
                  border: true
                ),
              ) do %>
                <%= render Primer::Beta::Octicon.new(icon: "check-circle-fill", color: :success) %>
                <a class="Link--secondary d-inline-block text-bold js-discussions-goto-answer-button ml-1" href="#discussioncomment-<%= discussion.chosen_comment_id %>">
                  Answered
                </a>
                <span class="color-fg-muted">by</span>
                <%= profile_link chosen_comment_author, class: "Link--secondary text-bold", title: chosen_comment_author.display_login, url: user_path(chosen_comment_author) %>
                <%= bot_identifier chosen_comment_author %>
              <% end %>
            <% elsif discussion.supports_mark_as_answer? %>
              <%= render Primer::Beta::State.new(
                title: "Unanswered",
                bg: :default,
                color: :muted,
                mr: 2,
                border: true,
              ).with_content("Unanswered") %>
            <% end %>
            <div class="color-fg-muted my-1" <%= test_selector("category_name") %>>
              <a
                href="<%= user_path(discussion.author) %>"
                class="Link--secondary text-bold d-inline-block"
                <%= safe_author_data_attrs %>
              >
                <span <%= test_selector("discussion-author") %>><%= discussion.author_display_login %></span>
              </a>
              <%= bot_identifier(discussion.author) %>
              <% if discussion.supports_mark_as_answer? %>
                asked this question in
              <% elsif discussion.supports_announcements? %>
                announced in
              <% else %>
                started this conversation in
              <% end %>
              <%= link_to(
                category.name,
                discussions_search_path(category_override: category.name, discussions_query: parsed_discussions_query, org_param: org_param),
                class: "color-fg-inherit text-bold"
              ) %>
            </div>
          </div>
        </div>
      </div>

      <% if current_repository_writable? %>
        <div class="gh-header-actions mt-0 mt-md-1 mb-2 mb-md-0 flex-shrink-0 d-flex">
          <% if can_modify? %>
            <%= render Primer::ButtonComponent.new(
              variant: :small,
              float: :none,
              m: 0,
              ml: [nil, nil, 3],
              classes: "js-details-target js-focus-on-dismiss",
              "aria-expanded": "false",
              "aria-label": "Edit discussion title",
              "data-ga-click": "Discussions, edit discussion title, view:issue_show location:discussion_header style:button logged_in:true",
            ).with_content("Edit") %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if can_modify? %>
    <div class="gh-header-edit">
      <%= form_for(
        discussion,
        method: :put,
        html: {
          id: "edit_header_#{discussion.id}",
          class: "js-issue-update js-new-comment-form js-comment mb-3"
        },
      ) do |f| %>
        <%= f.label(:title, "Discussion title", class: "d-block mb-1") %>
        <div class="form-group js-remove-error-state-on-click d-flex flex-column flex-md-row width-full m-0">
          <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>" class="position-relative">
            <%= f.text_field(
              :title,
              class: "js-quick-submit form-control flex-auto input-lg input-contrast mr-0 mr-md-3",
              autofocus: true,
              autocomplete: "off",
              "aria-describedby": "title-input-validation",
            ) %>
          </text-expander>
          <p class="note error js-comment-form-error mt-6" id="title-input-validation" hidden></p>
          <div class="mt-2 mt-md-0">
            <%= render Primer::ButtonComponent.new(
              mr: 2,
              type: :submit,
              "data-disable-with": "Updating",
              "data-ga-click": "Discussions, edit discussion save, view:discussion_show location:discussion_header style:button logged_in:true",
            ).with_content("Save") %>
            <%= render Primer::ButtonComponent.new(
              scheme: :link,
              classes: "js-details-target",
              "data-ga-click": "Discussions, edit discussion cancel, view:discussion_show location:discussion_header style:button logged_in:true",
            ).with_content("Cancel") %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="js-sticky js-sticky-offset-scroll top-0 gh-header-sticky">
    <div class="sticky-content">
      <div class="d-flex flex-items-center">
        <div class="d-flex flex-1 flex-row flex-items-center min-width-0 my-2">
          <div class="min-width-0">
            <div class="d-flex text-bold f5">
              <a class="js-issue-title css-truncate css-truncate-target Link--primary width-fit markdown-title js-smoothscroll-anchor" href="#top">
                <%= discussion.title %>
              </a>
              <span class="gh-header-number color-fg-muted pl-1">#<%= discussion.number %></span>
            </div>
            <div class="meta color-fg-muted width-fit">
              <%= render(
                Discussions::TitleMetadataComponent.new(
                  discussion: discussion,
                  in_sticky_header: true,
                  timeline: timeline,
                ),
              ) %>
            </div>
          </div>
        </div>
        <div class="ml-3">
          <% if discussion.answered? %>
            <%= render(
              Primer::Beta::State.new(
                title: "Answered",
                bg: :default,
                border: true
              ),
            ) do %>
              <span class="f6">
                <%= render Primer::Beta::Octicon.new(icon: "check-circle-fill", color: :success) %>
                <a class="Link--secondary d-none d-sm-inline-block ml-1 text-bold js-discussions-goto-answer-button" aria-label="Answered: jump to answer" href="#discussioncomment-<%= discussion.chosen_comment_id %>">
                  Answered
                </a>
                <span class="d-none d-sm-inline-block">
                  <span class="color-fg-muted">by</span>
                  <%= profile_link chosen_comment_author, class: "Link--secondary text-bold", title: chosen_comment_author.display_login, url: user_path(chosen_comment_author) %>
                  <%= bot_identifier chosen_comment_author %>
                </span>
              </span>
            <% end %>
          <% end %>
          <a href="#top" class="color-fg-muted py-3 ml-2 f6 d-none d-md-inline-block">Return to top</a>
        </div>
      </div>
    </div>
  </div>
  <div class="gh-header-shadow color-shadow-small js-notification-shelf-offset-top"></div>
</div>
