  <details class="details-reset details-overlay d-inline-block pr-2">
    <%= render(Primer::Beta::Button.new(
        scheme: :default,
        size: :medium,
        tag: :summary
    )) do |c| %>
      <div <%= test_selector("selected-text") %>>
        <% c.with_trailing_action_icon(icon: "triangle-down") %>
        <%= render(Primer::Beta::Text.new(color: :muted)) { selected_menu_item[:type] } %>
        <span data-menu-button><%= selected_menu_item_text %></span>
      </div>
    <% end %>

    <details-menu class="select-menu-modal position-absolute" style="z-index: 99; width: 150px" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-list">
        <% menu_items_list.each do |item| %>
          <a href="<%= search_path(created_date: item[:created_date], text: item[:text]) %>"
            class="select-menu-item"
            role="menuitemradio"
            tabindex="0"
            aria-checked="<%= selected_menu_item == item %>"
            <%= safe_data_attributes(helpers.hydro_discussions_filter_tracking_data(filter: item[:target], sort: "top")) %>
          >
            <%= render Primer::Beta::Octicon.new(
              icon: "check",
              classes: "select-menu-item-icon",
            ) %>
            <div class="select-menu-item-text" data-menu-button-text><%= item[:text] %></div>
          </a>
        <% end %>
      </div>
    </details-menu>
  </details>
