<%# erblint:counter DeprecatedComponentsCounter 1 %>

<% content = capture do %>
  <div data-replace-remote-form-target>
    <div
      class="text-center discussion-vote-form position-relative"
      <%= test_selector("placeholder-discussion-vote-form") %>
    >
      <%= render(Primer::ButtonComponent.new(
        scheme: :invisible,
        classes: class_names(
          "social-reaction-summary-item",
          "js-upvote-button",
          "Link--secondary"
        ),
        data: data,
        display: :flex,
        align_items: :center,
        aria: {
          label: "Upvote: #{target.total_upvotes}",
          disabled: true
        },
        mx: :auto,
        id: "discussion-upvote-button-#{target.class}-#{target.id}",
        test_selector: "discussion-upvote-button",
      )) do %>
        <%= sparkle_votes_enabled? ? helpers.cached_emoji_tag(emoji_for(":sparkles:")) : helpers.cached_primer_octicon(:"arrow-up", m: 0) %>
        <span><%= target.total_upvotes %></span>
      <% end %>
      <% unless logged_in? %>
        <%= render(Primer::Alpha::Tooltip.new(for_id: "discussion-upvote-button-#{target.class}-#{target.id}",
          type: :description,
          text: "You must be logged in to vote",
          direction: :s
        ))%>
      <% end %>
    </div>
  </div>
<% end %>


<% if logged_in? %>
  <%= content_tag "div", data: data do %>
    <%= render GitHub::BatchDeferredContentComponent.new(
      url: deferred_content_path,
      inputs: deferred_content_inputs,
    ).with_content(content) %>
  <% end %>
<% else %>
  <%= content %>
<% end %>
