<%# erblint:counter DeprecatedComponentsCounter 1 %>

<div data-replace-remote-form-target>
  <div data-url="<%= discussion_voting_path %>"
    data-upvoted="<%= has_upvoted? %>"
    data-new-upvote="true"
    class="text-center discussion-vote-form position-relative <%= "is-upvoted" if has_upvoted? %>"
    <%= test_selector("discussion-vote-form") %>
  >
    <%= csrf_hidden_input_for discussion_voting_path, method: :put, class: "js-data-url-put-csrf" %>
    <%= csrf_hidden_input_for discussion_voting_path, method: :delete, class: "js-data-url-delete-csrf" %>
    <div class="js-upvote-error dropdown-menu dropdown-menu-ne p-3 text-small anim-scale-in mb-2" hidden style="width: auto;left:10px;white-space:nowrap;">
    </div>
    <%= render(Primer::ButtonComponent.new(
      scheme: :invisible,
      classes: class_names(
        "social-reaction-summary-item",
        "js-upvote-button",
        "user-has-reacted": has_upvoted?
      ),
      bg: has_upvoted? ? :accent : nil,
      display: :flex,
      align_items: :center,
      mx: :auto,
      color: button_color,
      aria: {
        label: "Upvote: (#{has_voted? ? upvoted_vote_count : default_vote_count}): #{upvote_identifier}",
        pressed: has_upvoted?,
        disabled: voting_disabled?
      },
      id: "discussion-upvote-button-#{subject.class}-#{subject.id}",
      test_selector: "discussion-upvote-button"
    )) do |c| %>
      <% if sparkle_votes_enabled? %>
        <% c.with_tooltip(text: "[beta] sparkles received", type: :description, direction: :s) %>
      <% end %>
      <%= sparkle_votes_enabled? ? helpers.cached_emoji_tag(emoji_for(":sparkles:")) : helpers.cached_primer_octicon(:"arrow-up", m: 0) %>
      <span style="height: 26px; overflow: hidden;" class="width-full" aria-live="polite">
        <span class="slidey-boi d-flex flex-column">
          <span class="js-default-vote-count"
            data-upvote-label="Upvote: (<%= default_vote_count %>): <%= upvote_identifier %>"
            aria-hidden="true">
              <%= default_vote_count %>
          </span>
          <span class="js-upvoted-vote-count"
            data-upvote-label="Upvote (<%= upvoted_vote_count %>): <%= upvote_identifier %>"
            aria-hidden="true">
              <%= upvoted_vote_count %>
          </span>
        </span>
      </span>
    <% end %>
    <% if voting_disabled? %>
      <%= render(Primer::Alpha::Tooltip.new(for_id: "discussion-upvote-button-#{subject.class}-#{subject.id}",
        type: :description,
        text: disabled_reason,
        direction: :s
      ))%>
    <% end %>
  </div>
</div>
