<% slug ||= nil %>
<% group_id ||= nil %>
<% display_name ||= nil %>

<% if status == "partial" %>
  <span class="text-bold d-inline-flex flex-items-center">
    <%= pluralize(mappings.size, "group") %>
    <%= status %>
    <%= render Primer::Beta::IconButton.new(icon: :alert, size: :small, "aria-label": "This group has greater than 5000 members and cannot be fully synced by design.", tooltip_direction: :sw, scheme: :invisible) %>
  </span>
<% else %>
  <% if slug && group_id && display_name %>
    <% external_group_link = external_group_members_path(slug: slug, id: group_id) %>
    IdP group
    <% if business_owner %>
      <%= link_to external_group_link, class: "text-bold" do %>
        <span class="text-bold"><%= display_name %></span>
      <% end %>
    <% else %>
      <span class="text-bold"><%= display_name %></span>
    <% end %>
    <%= status %>
  <% else %>
    <span class="text-bold">
      <%= pluralize(mappings.size, "group") %>
      <%= status %>
    </span>
  <% end %>
<% end %>
<span class="color-fg-muted"><%= render Primer::Beta::RelativeTime.new(datetime: synced_at, tense: :past) if synced_at.present? %></span>
