<%# `view` is an instance of `IntegrationInstallation::RepositoryAccessFilter` %>
<div class="col-12 d-md-inline-block">
  <div class="org-repos repo-list">
    <% if view.filtering? %>
      <div class="TableObject color-border-muted pb-3 mb-3">
        <div class="TableObject-item TableObject-item--primary v-align-top">
          <strong><%= number_with_delimiter view.repositories.total_entries %></strong>
          <%= "result".pluralize(view.repositories.total_entries) %>
          for
          <% if view.type_filter.present? %>
            <strong><%= view.type_filter_description(view.type_filter) %></strong>
          <% end %>
          repositories
          <% if view.phrase.present? %>
            matching
            <strong><%= view.phrase %></strong>
          <% end %>
          <% if view.language.present? %>
            written in <strong><%= view.selected_language %></strong>
          <% end %>
          sorted by <strong><%= view.sort_order_description(sort_order: view.sort_order) %></strong>
        </div>
        <div class="TableObject-item text-right v-align-top">
          <%= link_to gh_settings_installation_repositories_path(view.installation),
                  :class => "issues-reset-query text-normal text-right d-inline-block ml-3" do %>
            <%= primer_octicon(:x, mt: 1, classes: "issues-reset-query-icon") %>
            Clear filter
          <% end %>
        </div>
      </div>
    <% end %>

    <% if !view.no_repositories? %>
      <h2 class="f4 text-normal d-md-none pb-3">Repositories</h2>
        <%= render(Primer::Beta::BorderBox.new) do |component| %>
          <% view.repositories_with_grant_status.each do |repository, granted| %>
            <% component.with_row(display: :flex, align_items: :center) do %>
              <div class="flex-auto">
                <strong><%= repository.name %></strong>
                <div class="text-small color-fg-subtle">
                  <%= repository.description %>
                </div>
              </div>
              <%= check_box_tag "granted", granted, granted, disabled: true %>
            <% end %>
          <% end %>
        <% end %>
    <% else %>
      <div class="<%= "mt-3" if view.show_toolbar? %>">
        <% if view.filtering? %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_visual_icon(icon: "repo") %>

            <% c.with_heading(tag: :h2) do %>
              This organization doesn't have any repositories that match.
            <% end %>
          <% end %>

        <% elsif view.show_page_too_high? %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_visual_icon(icon: "repo") %>

            <% c.with_heading(tag: :h2) do %>
              This organization has no more repositories.
            <% end %>
          <% end %>

        <% elsif view.show_no_repositories_for_member? %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_visual_icon(icon: "repo") %>

            <% c.with_heading(tag: :h2) do %>
              Your teams don't have access to any repositories.
            <% end %>

            <% if view.show_new_repository_button? %>
              <% c.with_primary_action(href: new_org_repository_path(view.organization)) do %>
                Create a new repository
              <% end %>
            <% end %>
          <% end %>

        <% elsif view.show_no_repositories_for_admin? %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_visual_icon(icon: "repo") %>

            <% c.with_heading(tag: :h2) do %>
              This organization has no repositories.
            <% end %>

            <% c.with_primary_action(href: new_org_repository_path(view.organization)) do %>
              Create a new repository
            <% end %>
          <% end %>

        <% elsif view.show_no_repositories_for_non_member? %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_visual_icon(icon: "repo") %>

            <% c.with_heading(tag: :h2) do %>
              This organization has no public repositories.
            <% end %>
          <% end %>

        <% elsif view.show_no_results? %>
          <%= render Primer::Beta::Blankslate.new do |c| %>
            <% c.with_visual_icon(icon: "search") %>

            <% c.with_heading(tag: :h2) do %>
              We couldn't find any matching repositories.
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="paginate-container d-none d-md-flex flex-md-justify-center" data-pjax>
      <%= will_paginate view.repositories %>
    </div>

    <div class="paginate-container d-md-none mb-5" data-pjax>
      <%= will_paginate view.repositories, page_links: false %>
    </div>
  </div>
</div>
