<div <%= test_selector("cwe_section_component") %>>
  <h3 class="h6 color-fg-muted mb-2">Weaknesses</h3>

  <% @cwe_numbers&.each do |cwe_number| %>
    <% cwe_id = cwe_id_from_number(cwe_number) %>
    <div class="mb-1">
      <a href="<%= mitre_link(cwe_number) %>" class="Link--muted text-small d-flex flex-items-center" target="_blank" rel="noopener noreferrer">
        <%= content_tag(
          :span,
          {
            **test_selector_data_hash("CWE-#{cwe_number}"),
            data: hovercard_data_attributes(cwe_number),
          }
        ) do %>
          <% if scheme == :label %>
            <%= render Primer::Beta::Label.new(mr: 1, mb: 1) do %>
              <%# see https://github.com/github/accessibility-audits/issues/4683#issuecomment-1677804845 %>
              <span class="sr-only">Weakness</span>
              <%= content_tag(:span, cwe_id, test_selector_data_hash("cwe-id")) %>
            <% end %>
          <% else %>
            <%= render(Primer::Beta::Octicon.new(icon: "shield", classes: "color-fg--muted")) %>
            <span class="color-fg-default">
              <%= cwe_id %>
            </span>
          <% end %>
        <% end %>
      </a>
    </div>
  <% end %>

  <% if @cwe_numbers.blank? %>
    <%= render Primer::Box.new(color: :subtle, font_size: 6).with_content("No CWEs") %>
  <% end %>
</div>
