<%= render(Primer::Beta::Subhead.new(hide_border: true, mb: 3)) do |component| %>
  <% component.with_heading(tag: :h2) do %>Security<% end %>
  <% if show_pvr_button? %>
    <% component.with_actions do %>
      <%= render(Repos::Advisories::ReportVulnerabilityButtonComponent.new(repository: repository)) %>
    <% end %>
  <% end %>
<% end %>

<div class="mb-4">
  <%= render(Repos::Security::PolicyComponent.new(repository: repository, show_blankslate_border: true)) %>
</div>

<%= render(Repos::Advisories::AdvisoryListComponent.new(current_user: current_user, initial_state: params[:state], page: params[:page] || 1, repository: repository)) do |component| %>
  <% component.with_footer do %>
    <% if component.advisories.any? %>
      <%= render(Primer::Box.new(color: :muted, font_size: :small)) do %>
        <%= primer_octicon(:info) %> Learn more about advisories related to <strong><%= repository.name_with_display_owner %></strong> in the <%= link_to("GitHub Advisory Database", global_advisories_path, class: "Link--inTextBlock") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
