<div class="py-2">
  <div>
    <%= render(Primer::Beta::ProgressBar.new(size: :small)) do |component| %>
      <% component.with_item(bg: :done_emphasis, percentage: closed_percentage) %>
    <% end %>
  </div>
  <%= render(Primer::Beta::Link.new(test_selector: "security_campaign_name", classes: "Link--inTextBlock", href: campaign_path, scheme: :primary)) do %>
    <div class="d-flex flex-row flex-justify-between flex-items-center mt-2">
        <div class="pr-1">
          <%= name %>
          <span class="color-fg-muted">·</span>
          <span class="color-fg-muted"><%= days_left_display %></span>
        </div>
        <div class="color-fg-muted" <%= test_selector("security_campaign_counts") %>>
          <%= closed_count %> of <%= total_count %>
        </div>
    </div>
  <% end %>
</div>
