<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if flash[:plan_upgrade] %>
  <div class="mb-2">
    <%= render "plans/plan_support", repository: current_repository, feature: :insights, feature_name: "all insights" %>
  </div>
<% end %>

<% if pre_header.present? %>
  <div <%= test_selector("security_show_pre_header") %>>
    <%= pre_header %>
  </div>
<% end %>

<div <%= test_selector("security_show_header") %>>
  <div>
    <%= render Primer::Beta::Subhead.new(display: :flex, hide_border: true, mb: 0) do |subhead| %>
      <% subhead.with_heading(
        tag: :h1, align_self: :start, flex: :auto, font_size: 1, font_weight: :normal, word_break: :break_word, classes: "lh-condensed", test_selector: "alert-title"
      ) do %>
        <%= alert_title %>
        <% if alert_number.present? %>
          <%= render Primer::Beta::Text.new(font_size: 1, font_weight: :light, color: :muted, test_selector: "alert-number") do %>
            #<%= alert_number %>
          <% end %>
        <% end %>
      <% end %>

      <% if alert_actions.present? %>
        <% subhead.with_actions(flex_shrink: 0) do %>
          <%= alert_actions %>
        <% end %>
      <% end %>

      <% subhead.with_description(display: :flex, align_items: :center, mt: 2) do %>
        <%= status_information %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render Primer::LayoutComponent.new(responsive: true, side: :right) do |layout| %>
  <% layout.with_main(test_selector: "security_show_main") do %>

    <%= main %>
  <% end %>

  <% layout.with_sidebar(font_size: 6, mt: 2, test_selector: "security_show_sidebar") do %>
    <h2 class="sr-only">Alert metadata</h2>

    <% if severity %>
      <h3 class="h6 color-fg-muted mb-2" <%= test_selector("alert-severity") %>>Severity</h3>
      <%= severity %>
      <hr>
    <% end %>

    <% if affected_branches? %>
      <div <%= test_selector("affected-branches-section")%>>
        <h3 class="h6 color-fg-muted mb-2">Affected branches</h3>
        <%= affected_branches %>
      </div>
      <hr>
    <% end %>

    <% if security_campaigns? %>
      <div <%= test_selector("security-campaigns-section")%>>
        <h3 class="h6 color-fg-muted mb-2">Security campaigns</h3>
        <%= security_campaigns %>
      </div>
      <hr>
    <% end %>

    <% if tags? %>
      <div <%= test_selector("alert-tags") %>>
        <h3 class="h6 color-fg-muted mb-2">Tags</h3>
        <% tags.each do |tag| %>
          <%= tag %>
        <% end %>
      </div>
      <hr>
    <% end %>

    <%= cwe_section %>

    <% if cwe_section&.render? && sidebar_sections? %>
      <hr>
    <% end %>

    <% sidebar_sections.each_with_index do |section, i| %>
      <%= section %>
      <% if i < sidebar_sections.size - 1 %>
        <hr>
      <% end %>
    <% end %>
  <% end %>
<% end %>
