<%
repository_count_text = "%s %s" % [
  contribution_count > 3 ? "several" : contribution_count,
  contribution_count > 1 ? "repositories" : "repository",
]
%>

<div class="pb-3 px-3">
  <div class="d-flex mt-3">
    <div class="flex-self-start">
      <div class="rounded-2 overflow-hidden">
        <%= image_tag "modules/profile/badge--mars-64.png", alt: "Mars 2020 Helicopter Contributor", width: "64px" %>
      </div>
    </div>

    <div class="overflow-hidden ml-3">
      <% case profile_highlight_type %>
      <% when "nasa_2020" %>
        <div class="h5">Mars 2020 Helicopter Contributor</div>
        <p class="mt-1 lh-condensed">
          <span>
            <%= link_to user.profile_name.presence || "@#{user.display_login}", user_path(user), class: "f5 text-bold Link--primary" %>
          </span>
          <span class="f5">
            contributed code to <%= repository_count_text %> used in the
            <%= link_to(
              "Mars 2020 Helicopter Mission",
              "https://github.com/readme/nasa-ingenuity-helicopter",
              class: "f5 text-bold Link--primary",
            ) %>:
          </span>
        </p>
      <% end %>
      <p class="mt-1 lh-condensed">
        <% last_repo = link_to(top_repositories.last.name_with_display_owner, repository_path(top_repositories.last)) %>
        <% if contribution_count == 1 %>
          <%= last_repo %>
        <% else %>
          <% top_repositories[0...-1].each do |repo| %>
            <%= link_to(repo.name_with_display_owner, repository_path(repo), class: "Link--inTextBlock") %>,
          <% end %>
          <% if contribution_count > 3 %>
            <%= last_repo %>, and more!
          <% else %>
            and <%= last_repo %>.
          <% end %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="sr-only">
    Press escape to close this hovercard
  </div>
</div>
