<%
   page_info \
     title: "Discussion ##{this_discussion.number} subscribers",
     selected_link: :discussions %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead <%= "ruleless" if watchers.none? %>">
    <h2 class="site-admin-subhead-heading">
      <%= link_to \
            "Discussions",
            gh_stafftools_repository_discussions_path(current_repository) %>
      /
      <%= link_to \
            "Discussion ##{this_discussion.number}",
            gh_stafftools_repository_discussion_path(this_discussion) %>
      / Subscriptions
    </h2>
  </div>

  <% if watchers.any? %>
    <p>
      These users are subscribed directly to this conversation.
    </p>

    <table class="site-admin-table">
      <% watchers.each do |watch| %>
        <tr>
          <td>
            <%= avatar_for watch.user, 20, class: :avatar %>
            <%= link_to watch.user, stafftools_user_path(watch.user) %>
          </td>
          <td>
            <%= watch.human_reason %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p class="site-admin-blankstate">
      No users are subscribed to this conversation.
    </p>
  <% end %>

  <% if ignorers.any? %>
    <div class="site-admin-subhead">
      <h2 class="site-admin-subhead-heading">Conversation ignores</h2>
    </div>

    <p>
      These users have ignored this conversation.  They will not receive further
      notifications from it unless they are mentioned again or remove the ignore.
    </p>

    <table class="site-admin-table">
      <% ignorers.each do |user| %>
        <tr>
          <td>
            <%= avatar_for user, 20, class: :avatar %>
            <%= link_to user, stafftools_user_path(user) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="site-admin-subhead ruleless">
      <h2 class="site-admin-subhead-heading">Conversation ignores</h2>
    </div>

    <p class="site-admin-blankstate">
      No users are ignoring this conversation.
    </p>
  <% end %>

  <% if repo_ignorers.any? %>
    <div class="site-admin-subhead">
      <h2 class="site-admin-subhead-heading">Repository ignores</h2>
    </div>

    <p>
      These users have ignored the repository.  They will not receive any
      notifications from this conversation, even if they comment, subscribe or are
      mentioned.
    </p>

    <table class="site-admin-table">
      <% repo_ignorers.each do |user| %>
        <tr>
          <td>
            <%= avatar_for user, 20, class: :avatar %>
            <%= link_to user, stafftools_user_path(user) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="site-admin-subhead ruleless">
      <h2 class="site-admin-subhead-heading">Repository ignores</h2>
    </div>

    <p class="site-admin-blankstate">
      No users are ignoring this repository.
    </p>
  <% end %>

  <div class="site-admin-subhead">
    <h2 class="site-admin-subhead-heading">Repository watchers</h2>
  </div>

  <p>
    Users that do not have a specific override listed above will receive
    notifications if they are watching this repository.
  </p>

  <p>
    <%= link_to \
          "View this repository’s watchers",
          gh_stafftools_repository_watchers_path(current_repository),
          class: "Link--inTextBlock" %>.
  </p>
</div>
