<% survey.questions.visible.each do |question| %>
  <div class="Box Box--condensed mb-4">
    <div class="Box-header">
      <h3 class="Box-title"><%= question.text %></h3>
    </div>

    <div class="Box-body">
      <ol>
        <% question.summarized_answers.each do |answer| %>
          <li class="Box-row d-table col-12">
            <div class="col-3 d-table-cell pr-1 color-fg-muted">
              <%= answer[:text] %>
            </div>
            <div class="col-2 d-table-cell pr-1 color-fg-accent">
              <%= answer[:answer_count] %>
            </div>
            <div class="col-1 d-table-cell pr-1 color-fg-accent">
              <span style="float:right"><%= answer[:percent] %>%</span>
            </div>
            <div style="vertical-align: middle" class="col-6 d-table-cell">
              <%= render(Primer::Beta::ProgressBar.new) do |component| %>
                <% component.with_item(bg: :accent_emphasis, percentage: answer[:percent]) %>
              <% end %>
            </div>
          </li>
        <% end %>

        <% if question.other_choice.present? %>
          <li class="Box-row d-flex">
            <span class="flex-auto mr-1 color-fg-muted">Other responses</span>
            <span class="color-bg-subtle overflow-y-scroll color-fg-muted" style="max-height: 66px; width: 680px"><%= question.other_answers_summary.to_sentence %></span>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
<% end %>

<% if survey.questions.hidden.any? %>
  <div class="Box Box--condensed">
    <div class="Box-header">
      <h3 class="Box-title">
        Hidden fields
      </h3>
    </div>

    <div class="Box-body">
      <ol>
        <% survey.questions.hidden.each do |question|  %>
          <li class="Box-row color-fg-muted">
            <%= question.text %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
<% end %>
