<div class="Box Box--condensed mb-2">
  <div class="Box-header">
    <h3 class="Box-title">
      <%= survey.title %> Survey
    </h3>
  </div>

  <div class="Box-body d-flex p-0">
    <% if GitHub.flipper[:devtools_survey_respondents_count].enabled?(current_user) %>
      <div class="p-2 flex-1 d-flex flex-column text-center color-fg-muted">
          <% respondents_count = survey.respondents_count(current_user) %>
          <% if respondents_count >= 0 %>
            <span class="h3 color-fg-default">
              <%= respondents_count %>
            </span>
            Users responded
          <% else %>
            <span class="h3 color-fg-default">
            Unknown
            </span>
            <span>
              Unable to fetch user count. See <a class="Link--inTextBlock" href="https://gh.io/surveys-user-count" target="_blank" rel="noopener noreferrer">issue</a> for details.
            </span>
          <% end %>
      </div>
    <% else %>
      <div class="p-2 flex-1 d-flex flex-column text-center color-fg-muted">
        <span class="h3 color-fg-default">
          <%= survey.respondents_count(current_user) %>
        </span>
        Users responded
      </div>
    <% end %>
    <div class="p-2 flex-1 d-flex flex-column text-center color-fg-muted border-left">
      <span class="h3 color-fg-default">
        <%= survey.answers.count %>
      </span>
      Total answers made
    </div>
  </div>
</div>

<% if GitHub.flipper[:devtools_batch_survey_download].enabled?(current_user) %>
  <%= form_tag devtools_survey_batch_path(slug: survey.slug, :format => :csv), method: :get do |f| %>
  <div class="form-group">
    <div class="form-group-body">
      <p class="note">
        For larger surveys, it may be necessary to download the survey in batches.
        <code>Number of Users</code> is the number of users that will be returned in the batch.
        <code>Offset</code> is the starting index.
        For example, Number of Users == 7 and Offset == 0 will give you the first 7 user's responses.
      </p>
      <div class="d-flex">
        <div class="input-group col-3 mr-2">
          <span class="input-group-button"><span class="btn"><%= label_tag :num_responses, "Number of Users" %></span></span>
          <%= number_field_tag :num_responses, 0, class: "form-control", step: 1, min: 0%>
        </div>
        <div class="input-group col-2 mr-2">
          <span class="input-group-button"><span class="btn"><%= label_tag :offset, "Offset" %></span></span>
          <%= number_field_tag :offset, 0, class: "form-control", step: 1, min: 0 %>
        </div>
        <%= render Primer::Beta::Button.new(type: :submit) do %>Download Partial CSV<% end %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

<%= link_to "Download Full CSV", devtools_survey_path(slug: survey.slug, :format => :csv), class: "btn mb-2" %>
