<%
  repo_type = user_repositories_type(visibility: repository.visibility, is_mirror: repository.mirror?, is_archived: repository.archived?, is_template: repository.template?)
  max_title_length = 45 - repo_type.length
  owner_length_limit = max_title_length / 3
  name_length_limit = (max_title_length / 3) * 2
  description = repository.short_description_html
%>

<div class="p-3" <%= test_selector("repository-hovercard") %>>
  <%= content_tag :div, "", data: hydro_view_tracking_attributes(
                                    "repository-hovercard-hover",
                                    repositoryId: repository.id,
                                    subject: params[:subject]) %>
  <div class="d-flex flex-items-baseline">
    <h1 class="f5">
      <% if repository.private? %>
        <% if repository.template? %>
          <%= primer_octicon(:lock, mr: 1, vertical_align: :middle, classes: "repo-private-icon") %>
        <% else %>
          <%= primer_octicon(:lock, mr: 1, classes: "repo-private-icon") %>
        <% end %>
      <% else %>
        <% if repository.template? %>
          <%= primer_octicon(:"repo-template", color: :muted, mr: 1, vertical_align: :middle) %>
        <% else %>
          <%= primer_octicon(:repo, color: :muted, mr: 1) %>
        <% end %>
      <% end %>
      <a class="Link--primary no-underline" href="<%= repository_path(repository) %>" itemprop="name codeRepository" <%= safe_data_attributes(hovercard_click_hydro_attrs("repo_hovercard:repo_link", data: hydro_data)) %>>
        <%= truncate(repository.owner_display_login, length: owner_length_limit) %>/<%= truncate(repository.name, length: name_length_limit) %>
      </a>
    </h1>
    <%= repository_label(repository, classes: "ml-1 mb-1") %>
  </div>

  <% if repository.fork? && repository.parent %>
    <span class="f6 color-fg-muted my-1">
      Forked from
      <a class="Link--muted Link--inTextBlock" href="<%= repository_path(repository.parent) %>">
        <%= truncate(repository.parent.name_with_display_owner, length: 60) %>
      </a>
    </span>
  <% end %>

  <% if repository.mirror? %>
    <p class="f6 color-fg-muted mb-1">
      Mirrored from
      <a class="Link--muted Link--inTextBlock" href="<%= repository.mirror.url %>">
        <%= truncate(repository.mirror.url, length: 60) %>
      </a>
    </p>
  <% end %>

  <% if description.present? %>
    <div class="lh-condensed color-fg-muted my-2">
      <p itemprop="description">
        <%= description %>
      </p>
    </div>
  <% end %>

  <div class="f6 color-fg-muted mt-2">
    <% if repository.primary_language %>
      <%= render(Languages::BadgeComponent.new(name: repository.primary_language.name, ml: 0, mr: 3)) %>
    <% end %>

    <% if repository.stargazer_count > 0 %>
      <a class="Link--muted mr-3"
        href="<%= stargazers_repository_path(repository.owner_display_login, repository.name) %>"
        <%= safe_data_attributes(hovercard_click_hydro_attrs("repo_hovercard:stargazers", data: hydro_data)) %>
      >
        <%= primer_octicon(:star, :"aria-label" => "star") %>
        <%= number_with_delimiter repository.stargazer_count %>
      </a>
    <% end %>

    <% if repository.network_count > 0 %>
      <a class="Link--muted mr-3" href="<%= forks_path(repository.owner_display_login, repository.name) %>">
        <%= primer_octicon(:"repo-forked", :"aria-label" => "fork") %>
        <%= number_with_delimiter repository.network_count %>
      </a>
    <% end %>

    <div class="d-inline-block">
      <% if repository.pushed_at %>
        Updated <%= time_ago_in_words_js repository.pushed_at %>
      <% else %>
        Created <%= time_ago_in_words_js repository.created_at %>
      <% end %>
    </div>
  </div>
</div>
