<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% disabled_by_policy = !current_organization.pat_requests_auto_approval_delegated_policy? %>
<% requests_auto_approved = current_organization.pat_requests_auto_approved? %>

<%= render Primer::Beta::Text.new(tag: :p) do %>
  Access requests by organization members can be subject to review by administrator before approval.
<% end %>

<% if disabled_by_policy %>
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render(Primer::Alpha::Banner.new(scheme: :warning, icon: :shield)) do %>
      <% auto_approval_actor = requests_auto_approved ? "automatic" : "administrator" %>
      Your Enterprise "<%= "#{current_organization.business.name}" %>" requires <%= auto_approval_actor %> approval of personal access tokens.
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, icon: :shield)) do %>
      <% auto_approval_actor = requests_auto_approved ? "automatic" : "administrator" %>
      Your Enterprise "<%= "#{current_organization.business.name}" %>" requires <%= auto_approval_actor %> approval of personal access tokens.
    <% end %>
  <% end %>
<% end %>

<%= form_with model: current_organization, id: "requests_auto_approval_form", url: settings_org_auto_approve_personal_access_token_requests_path(current_organization), method: :patch, data: local_assigns.fetch(:data, {}) do |f| %>
  <% disabled = pats_not_allowed? || disabled_by_policy %>

  <div class="form-checkbox">
    <label>
      <%= f.radio_button :auto_approve, "disable", checked: !requests_auto_approved, disabled: disabled %>

      Require administrator approval

      <%= render(Primer::Beta::Text.new(tag: :p, font_size: :normal, id: "help-text-for-enforcing-review")) do %>
        All access requests by organization members to this organization must be approved before the token is usable.
      <% end %>
    </label>
  </div>

  <div class="form-checkbox">
    <label>
      <%= f.radio_button :auto_approve, "enable", checked: requests_auto_approved, disabled: disabled %>

      Do not require administrator approval

      <%= render(Primer::Beta::Text.new(tag: :p, font_size: :normal, id: "help-text-for-disabling-review")) do %>
        Tokens requested for this organization will work immediately, and organization members are not required to provide a justification when creating the token.
      <% end %>
    </label>
  </div>

  <% if local_assigns.fetch(:submittable, true) %>
    <%= f.submit "Save", class: "btn", disabled: disabled, "data-confirm" => "Are you sure you want to update your selection?" %>
  <% end %>
<% end %>
