<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% suggestions.each do |suggestion| %>
  <%= form_with(url: organization_settings_moderators_path(this_organization)) do %>
    <input type="hidden" name="type" value="<%= suggestion.class.to_s.downcase %>">
    <input type="hidden" name="id" value="<%= suggestion.id %>">
    <%= render Primer::ButtonComponent.new(
      scheme: :link,
      type: :submit,
      text_align: :left,
      role: :option,
      classes: "member-suggestion typeahead-result",
      'aria_label': "Add #{suggestion.ability_description}",
      data: {
        autocomplete_value: suggestion.ability_description,
        name: suggestion.ability_description,
      }
    ) do %>
      <%= avatar_for(suggestion, 24, class: "avatar") %>
      <p class="member-suggestion-info">
        <strong class="member-login"><%= suggestion.ability_description %></strong>
        <span class="member-name">
          <% if suggestion.is_a?(User) %>
            <%= suggestion.profile_name %>
          <% else %>
            <%= pluralize(suggestion.members_scope_count, "member") %>
          <% end %>
        </span>
      </p>
    <% end %>
  <% end %>
<% end %>
