<tr class="<%= class_names("color-bg-subtle" => sponsor.nil?) %>" <%= test_selector("sponsors-activity-#{@activity.id}") %>>
  <td class="tiny no-wrap"><%= timestamp %></td>
  <td class="tiny no-wrap" <%= test_selector("action") %>><%= action %></td>

  <td class="tiny no-wrap" <%= test_selector("old-tier") %>>
    <% if old_tier %>
      <%= old_tier.name %>
    <% else %>
      &mdash;
    <% end %>
  </td>

  <td class="tiny no-wrap" <%= test_selector("current-tier") %>>
    <% if current_tier %>
      <%= current_tier.name %>
    <% else %>
      &mdash;
    <% end %>
  </td>

  <td class="tiny no-wrap" <%= test_selector("sponsor") %>>
    <% if sponsor && !sponsor.ghost? %>
      <a href="<%= stafftools_user_path(sponsor) %>"
        <%= safe_data_attributes(hovercard_data_attributes_for_user(sponsor)) %>><%= sponsor %></a>
    <% else %>
      <%= render(Stafftools::Sponsors::Members::Activities::DeadUserComponent.new(activity: @activity)) %>
    <% end %>
  </td>
</tr>
