<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if dead_user %>
  <%= render GitHub::DialogComponent.new(title: title) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <%= render(Primer::ButtonComponent.new(tag: :summary, scheme: :link, test_selector: "dead-sponsor")) { title } %>
    <% end %>
    <% dialog.with_body do %>
      <dl class="form-group">
        <dt class="text-bold">User ID:</dt>
        <dd>
          <%= dead_user.id %>
        </dd>
      </dl>
      <% if dead_user.user_type %>
        <dl class="form-group">
          <dt class="text-bold">User type:</dt>
          <dd>
            <%= dead_user.user_type&.titleize %>
          </dd>
        </dl>
      <% end %>
      <dl class="form-group">
        <dt class="text-bold">Login:</dt>
        <dd>
          <%= dead_user.login %>
        </dd>
      </dl>
      <dl class="form-group">
        <dt class="text-bold">Email:</dt>
        <dd>
          <%= dead_user.billing_email %>
        </dd>
      </dl>
      <% if dead_user.created_at %>
        <dl class="form-group">
          <dt class="text-bold">Account created at:</dt>
          <dd>
            <%= date_with_time_tooltip(dead_user.created_at, format: "%b %-d, %Y") %>
          </dd>
        </dl>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <span class="text-italic" <%= test_selector("deleted-sponsor") %>>Deleted user</span>
<% end %>
