<%= render Primer::Beta::BorderBox.new(padding: :condensed, mb: 2) do |component| %>
  <% component.with_header do %>
    <%= render(Primer::Beta::Heading.new(tag: :h3, classes: "Box-title", test_selector: "sponsors-activities-count")) do %>
      Sponsor Activities
      <%= render(Primer::Beta::Counter.new(count: total_entries)) %>
    <% end %>
  <% end %>

  <% component.with_body(p: 0) do %>
    <% if activities.empty? %>
      <p class="p-3 m-0 color-fg-muted">
        No activities for this GitHub Sponsors member
      </p>
    <% else %>
      <table class="stafftools-table">
        <thead>
          <th class="no-wrap billing-table-cell">Timestamp</th>
          <th class="no-wrap billing-table-cell">Action</th>
          <th class="no-wrap billing-table-cell">Previous tier</th>
          <th class="no-wrap billing-table-cell">Current tier</th>
          <th class="no-wrap billing-table-cell">Sponsor</th>
        </thead>
        <tbody>
          <% activities.each do |activity| %>
            <%= render Stafftools::Sponsors::Members::Activities::ActivityComponent.new(activity: activity) %>
          <% end %>
        </tbody>
      </table>

      <% if total_pages > 1 %>
        <div class="paginate-container">
          <div class="pagination">
            <%= will_paginate activities, params: {
              member_id: @sponsorable_login,
              id: nil, # this is not a valid param for this route, but will_paginate automatically adds it
              controller: "stafftools/sponsors/members/activities",
              action: :index,
            } %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
