<%= form_tag convert_labelled_issues_to_discussions_path(repo.owner, repo, label.id), class: "full-button", method: :post do %>
  <%= render(Primer::Alpha::Dialog.new(
    title: title,
    id: dialog_id.blank? ?  "issue-to-discussion-dialog-#{label.id}" : dialog_id,
    size: :auto,
    overflow: :auto,
    maxWidth: "600px",
    test_selector: "convert_issues_to_discussions_modal_#{label.id}")) do |dialog| %>
      <% if show_button %>
        <% dialog.with_show_button(
          scheme: button_classes.include?("dropdown-item") ? :link : :default,
          size:  button_classes.include?("dropdown-item") ? :medium : :small,
          tag: :button,
          classes: button_classes,
        ) { "Convert to discussions" }%>
      <% end %>
      <% dialog.with_body do %>
        <p>
          Are you sure you want to convert <%= number_with_delimiter(issues_count) %>
          issue<%= "s" unless issues_count == 1 %> with the following label to
          <%= "a" if issues_count == 1 %> discussion<%= "s" unless issues_count == 1 %>?
        </p>
        <%= render Issues::LabelComponent.new(
            color: label.color,
            name: label.name,
            description: label.description) do %>
          <%= label.name_html %>
        <% end %>
        <p class="mt-4">What happens when an issue is converted into a discussion:</p>
        <ul class="ml-3 list-style-none">
          <li class="my-1">
            <%= primer_octicon(:check, color: :success, "aria-label": "Green checkmark") %>
            Issue will be locked
          </li>
          <li class="my-1">
            <%= primer_octicon(:check, color: :success, "aria-label": "Green checkmark") %>
            Title, description, and author will be the same as the issue
          </li>
          <li class="my-1">
            <%= primer_octicon(:check, color: :success, "aria-label": "Green checkmark") %>
            Existing links will redirect to the new discussion
          </li>
          <li class="my-1">
            <%= primer_octicon(:check, color: :success, "aria-label": "Green checkmark") %>
            All comments and reactions will be the same as the issue
          </li>
        </ul>
        <ul class="ml-3 list-style-none">
          <li class="my-1">
            <%= primer_octicon(:x, color: :danger, "aria-label": "Red X") %>
            Discussions do not have tasklists
          </li>
          <li class="my-1">
            <%= primer_octicon(:x, color: :danger, "aria-label": "Red X") %>
            Discussions do not have assignees
          </li>
          <li class="my-1">
            <%= primer_octicon(:x, color: :danger, "aria-label": "Red X") %>
            Discussions cannot be added to projects
          </li>
          <li class="my-1">
            <%= primer_octicon(:x, color: :danger, "aria-label": "Red X") %>
            Discussions do not have milestones
          </li>
        </ul>
        <% if discussion_categories.any? %>
          <p class="mt-2" style="max-width: 600px">
            You must choose a category for the discussion to belong to. You
            will be able to change this after the conversion is complete.
          </p>
          <p>
            <%= render "issues/discussion_category_select", discussion_categories: discussion_categories %>
          </p>
        <% end %>
      <% end %>
      <% dialog.with_footer(
        align_self: :start
      ) do %>
        <div>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            scheme: :danger,
            "aria-haspopup": "true",
            "data-disable-invalid": discussion_categories.any?).with_content("I understand, convert " +
              (issues_count == 1 ? "issue to discussion" : "issues to discussions")
            )
          %>
          <p class="mt-2">
            Future issues with this label will not be automatically converted into
            discussions.
          </p>
        </div>
      <% end %>
  <% end %>
<% end %>
