<% page_info title: "Invoiced sponsorships from @#{sponsor}", container_xl: true,
  selected_link: :premium_sponsors %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h1) do %>
      <a href="<%= stafftools_sponsors_invoiced_sponsors_path %>">Premium sponsors</a> /
      <a href="<%= stafftools_user_path(sponsor) %>" class="text-bold"><%= sponsor.safe_profile_name %></a>
    <% end %>
  <% end %>

  <turbo-frame id="invoiced-sponsorships-container" data-turbo-action="advance">
    <div id="invoiced-sponsorships-container-pjax">
      <%= render Stafftools::Billing::InvoicedSponsorshipsComponent.new(
        sponsor: sponsor,
        page: current_page,
      ) %>
    </div>
  </turbo-frame>
<% end %>
