
<%
  view = Navigation::Repository::GraphsView.new(current_user: current_user, current_repository: current_repository)
  disabled = !current_repository.plan_supports?(:insights)
  classes = "menu-item"
  classes += " color-fg-muted tooltipped tooltipped-e" if disabled
  tooltip = if disabled
    prefix = if current_repository.adminable_by?(current_user)
      "Upgrade"
    else
      "Contact an administrator to upgrade"
    end
    "#{prefix} to #{current_repository.next_plan} or make this repository public to enable this feature."
  else
    nil
  end
%>

<% if !(params[:controller] == "graphs" && params[:action] == "index") %>
  <nav class="menu" aria-label="Insights" data-pjax>
    <%= selected_link_to "Pulse", gh_pulse_path(current_repository), class: classes, highlight: :pulse, disabled: disabled, "aria-label": tooltip %>
    <%= selected_link_to "Contributors", gh_contributors_graph_path(current_repository), class: classes, disabled: disabled, "aria-label": tooltip %>
    <% if view.show_community_insights? %>
      <%= selected_link_to "Community", gh_community_graph_path(current_repository), class: classes, disabled: disabled, "aria-label": tooltip %>
    <% end %>
    <% if view.show_community? %>
      <%= selected_link_to "Community Standards", community_path, class: classes, disabled: disabled, "aria-label": tooltip %>
    <% end %>
    <% if GitHub.traffic_graphs_enabled? && current_user_can_push? %>
        <%= selected_link_to "Traffic", gh_traffic_path(current_repository), class: classes, disabled: disabled, "aria-label": tooltip %>
    <% end %>
    <%= selected_link_to "Commits", gh_commit_activity_path(current_repository), class: classes, disabled: disabled, "aria-label": tooltip %>
    <%= selected_link_to "Code frequency", gh_code_frequency_path(current_repository), class: classes, disabled: disabled, "aria-label": tooltip %>
    <% if view.show_dependency_graph? %>
      <%= selected_link_to "Dependency graph", network_dependencies_path, class: "menu-item", highlight: [:dependency_graph, :dependabot_updates] %>
    <% end %>
    <%= selected_link_to "Network", network_path, class: classes, disabled: disabled, "aria-label": tooltip %>
    <%= selected_link_to "Forks", forks_path(current_repository.owner_display_login, current_repository.name), class: "menu-item" %>
    <% if view.show_actions_usage_metrics? %>
      <%= selected_link_to "Actions Usage Metrics", actions_usage_metrics_repo_path(current_repository.owner_display_login, current_repository), class: classes, disabled: disabled, "aria-label": tooltip %>
    <% end %>
    <% if view.show_actions_performance_metrics? %>
      <%= selected_link_to "Actions Performance Metrics", actions_performance_metrics_repo_path(current_repository.owner_display_login, current_repository), class: classes, disabled: disabled, "aria-label": tooltip %>
    <% end %>
  </nav>

  <% if view.show_people? %>
    <nav class="menu" aria-label="Admin Insights">
      <%= selected_link_to "People", repo_people_index_path, class: classes, highlight: :people, disabled: disabled, "aria-label": tooltip %>
    </nav>
  <% end %>
<% end %>
