<% content_for :header do %>
  Your codespace will soon be deleted
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hi @<%= @codespace.owner.display_login %>,
    </p>
    <p>
      Your codespace "<%= @codespace.display_name %>" is approaching the end of its retention period and will be deleted on <%= @codespace.retention_expires_at.strftime("%d %b %Y") %> after <%= @codespace.retention_expires_at.strftime("%I:%M%p %Z") %> if you don't take action.
    </p>
    <%= render(Mail::BorderedRowComponent.new(classes: "border-top py-2", skip_padding: true)) do %>
      <%= render(Mail::RowComponent.new) do %>
        <%= render(Mail::ColumnComponent.new) do %>
          <%= render(Primer::Beta::Octicon.new(icon: "codespaces", color: :muted)) %>
        <% end %>
        <%= render(Mail::ColumnComponent.new) do %>
          <%= link_to @codespace.display_name, codespace_url(@codespace) %>
        <% end %>
        <%= render(Mail::ColumnComponent.new) do %>
          <% if @codespace&.repository.present? %>
            <p class="mb-0">
              <%= link_to @codespace.repository.name_with_display_owner, repository_url(@codespace.repository) %>
            </p>
          <% end %>
        <% end %>
      <% end %>
      <% if @codespace.has_unpushed_changes? || @codespace.has_uncommitted_changes? %>
        <%= render(Mail::RowComponent.new) do %>
          <%= render(Mail::ColumnComponent.new) do %>
              *Has uncommitted or unpushed changes.
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <p class="mt-2">
      If you'd like to continue using this codespace, all you need to do is connect to it with the link below: <br>
      <%= link_to "Connect to your codespace", codespace_url(@codespace) %>
    </p>
  <% end %>
<% end %>
