<% content_for :header do %>
  You have codespaces that will soon be deleted
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Hi @<%= @codespaces.first.owner.display_login %>,
    </p>
    <p>
      Some of your codespaces are approaching the end of their retention period and will be deleted soon if you don't take action.
    </p>
    <p>
      If you would like to view all of your codespaces, or delete any unused codespaces manually, please visit <%= link_to codespaces_url, codespaces_url %>.
    </p>
    <% @codespaces.each do |codespace| %>
      <%= render(Mail::BorderedRowComponent.new(classes: "py-2", skip_padding: true)) do %>
        <%= render(Mail::RowComponent.new) do %>
            <%= render(Mail::ColumnComponent.new) do %>
              Will be deleted on <%= codespace.retention_expires_at.strftime("%d %b %Y") %> after <%= codespace.retention_expires_at.strftime("%I:%M%p %Z") %>
            <% end %>
          <% end %>
        <%= render(Mail::RowComponent.new(classes: "mt-3")) do %>
          <%= render(Mail::ColumnComponent.new) do %>
            <p class="mb-0"><%= render(Primer::Beta::Octicon.new(icon: "codespaces", color: :muted)) %></p>
          <% end %>
          <%= render(Mail::ColumnComponent.new) do %>
            <p class="mb-0"><%= link_to codespace.display_name, codespace_url(codespace) %>
            <% if @codespaces.first.owner.feature_enabled?(:codespaces_retention_include_branch) && codespace.display_branch.present? %>
            (<%= codespace.display_branch %>)
            <% end %>
            </p>
          <% end %>
          <%= render(Mail::ColumnComponent.new) do %>
            <% if codespace&.repository.present? %>
              <p class="mb-0">
                <%= link_to codespace.repository.name_with_display_owner, repository_url(codespace.repository) %>
              </p>
            <% end %>
          <% end %>
          <%= render(Mail::ColumnComponent.new) do %>
            <% if codespace&.repository.present? %>
              <p class="mb-0">
                <%= link_to "Continue using", codespace_url(codespace) %>
              </p>
            <% end %>
          <% end %>
        <% end %>
        <% if codespace.has_unpushed_changes? || codespace.has_uncommitted_changes? %>
          <%= render(Mail::RowComponent.new(classes: "mt-3")) do %>
            <%= render(Mail::ColumnComponent.new) do %>
                *Has uncommitted or unpushed changes.
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <p class="mt-2">
      If you'd like to continue using these codespaces, all you need to do is connect to it with the links above.
    </p>
  <% end %>
<% end %>
