<%# erblint:counter DeprecatedInPrimerCounter 7 %>
<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<div class="py-4 py-lg-6 readme-bg-white overflow-hidden">
  <div class="container-readme p-responsive-readme">
      <div class="d-lg-flex">
        <div class="position-relative d-flex flex-items-center col-md-11 col-lg-10 readme-bg-black--pattern">
          <div class="position-relative col-lg-7 px-3 py-6 p-md-6 pb-md-8 pt-lg-8 pl-xl-8">
            <h2 class="readme-heading-1 readme-heading--condensed mb-6 color-text-white">About The <br class="d-none d-sm-inline">ReadME Project</h2>
            <p class="f3-mktg mb-6 color-text-white">Coding is usually seen as a solitary activity, but it’s actually the world’s largest community effort led by open source maintainers, contributors, and teams. These unsung heroes put in long hours to build software, fix issues, field questions, and manage communities.</p>
            <p class="f3-mktg mb-6 color-text-white">The ReadME Project is part of GitHub’s ongoing effort to amplify the voices of the developer community. It’s an evolving space to engage with the community and explore the stories, challenges, technology, and culture that surround the world of open source.</p>

            <div class="d-flex">
              <h3 class="readme-heading--condensed f3-mktg text-semibold text-uppercase color-text-white mr-4">Follow us:</h3>

              <ul class="list-style-none d-flex flex-items-center">
                <% links = [
                  { url: "https://twitter.com/github", icon: "site/icons/twitter", label: "Follow on Twitter" },
                  { url: "https://www.facebook.com/GitHub", icon: "site/icons/facebook", label: "Follow on Facebook" },
                  { url: "https://www.instagram.com/github", icon: "site/icons/instagram", label: "Follow on Instagram" },
                  { url: "https://www.linkedin.com/company/github", icon: "site/icons/linkedin", label: "Follow on LinkedIn" },
                  { url: readme_index_path(format: :rss), icon: "site/readme/icon-rss", label: "Grab the ReadME Project RSS link" }
                ]
                digest = Digest::SHA256.hexdigest("#{links.to_json}")
                cache_key = "site_readme_about_links_#{digest}"

                cache cache_key do
                  links.each do |link| %>
                    <li class="mr-4">
                      <a href="<%= link[:url] %>" target="_blank" rel="noopener" aria-label="<%= link[:label] %>" class="d-flex flex-justify-center flex-items-center">
                        <%= svg(link[:icon], height: 20, class: "d-block readme-icon-link--inverted", aria_hidden: true) %>
                      </a>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <div class="position-relative col-md-11 col-lg-6 col-xl-5 float-md-right float-lg-none offset-lg-n4 offset-xl-n3 mt-md-n4 mt-lg-8 mb-lg-n4 mb-lg-n8 px-3 py-6 px-md-6 py-md-8 pl-xl-8 pr-xl-8 py-xl-9 z-1 readme-bg-blue color-text-white">

          <h4 class="readme-heading-3 readme-heading--condensed text-uppercase">
            <a href="<%= home_url %>readme/nominate" data-ga-click="Nominate a person or project, click, ref_page:<%= request.fullpath %>;ref_cta:Nominate a person or project;ref_loc:readme homepage" class="readme-focus-on-blue no-underline color-text-white arrow-target-mktg">Nominate a developer<span class="ml-1 d-inline-flex flex-items-start" aria-hidden="true"><%= svg("site/icons/chevrow.svg", class: "octicon") %></span>
            </a>
          </h4>
          <p class="f3-mktg mb-0">Nominate inspiring developers and projects you think we should feature in The ReadME Project.</p>

          <h4 class="readme-heading-3 readme-heading--condensed text-uppercase pt-6 pt-md-8">
            <a href="<%= home_url %>sponsors" data-ga-click="Support the community, click to support the community, ref_page:<%= request.fullpath %>;ref_cta:Support the community;ref_loc:readme homepage" class="readme-focus-on-blue no-underline color-text-white arrow-target-mktg">Support the community<span class="ml-1 d-inline-flex flex-items-start" aria-hidden="true"><%= svg("site/icons/chevrow.svg", class: "octicon") %></span>
            </a>
          </h4>
          <p class="f3-mktg mb-0">Recognize developers working behind the scenes and help open source projects get the resources they need.</p>

          <%= render "site/readme/shared/newsletter_signup_form" %>
        </div>
      </div>
  </div>
</div>
