<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% tabindex_value = defined?(remove_keyboard_focus) && remove_keyboard_focus ? '-1' : nil %>

<div class="color-bg-subtle position-fixed left-0 top-0 width-full z-2 readme-navbar-dropdown">
  <div class="px-3 pl-md-8 pr-lg-6 py-4 py-lg-5 d-flex flex-justify-between flex-items-center">
    <a href="<%= readme_index_path %>" tabindex="<%= tabindex_value %>" class="d-flex flex-items-center f4-mktg link-blue-readme"><%= svg "modules/site/readme/readme-logo-mark.svg", :height => 28 %>The ReadME Project</a>

    <%= render Primer::ButtonComponent.new(scheme: :link, classes: "no-underline readme-nav__button js-details-target", "aria-label": "Open ReadME Project Menu", "data-aria-label-closed": "Open ReadME Project Menu", "data-aria-label-open": "Close ReadME Project Menu", "aria-expanded": "false", tabindex: tabindex_value) do %>
    	<div class="d-flex flex-items-center">
        <%= primer_octicon(:"three-bars", :height => 20) %>
      </div>
    <% end %>
  </div>
</div>
