<%# erblint:counter GoogleAnalyticsDeprecation 5 %>
<div class="position-md-relative col-md-2 float-md-left readme-about <% if story[:featured_article?] && story[:intro].present? %>mt-0<% end %>">
  <div class="position-relative z-1 mb-md-6 mb-md-6 pt-4 border-top f5-mktg text-mono readme-text-gray-dark" style="border-color:#4969ED !important;">
    <p><strong class="readme-text-black">The ReadME Project</strong> amplifies the voices of the open source community: the maintainers, developers, and teams whose contributions move the world forward every day.</p>
  </div>
</div>

<div class="position-md-sticky col-md-2 top-md-12 mt-4 mb-8 my-md-0 float-md-left readme-sharing" style="clear:left;">
  <ul class="list-style-none d-flex flex-md-column">
    <% if story[:github_user].present? %>
      <li class="mr-4 mr-md-0 mb-md-4">
        <a href="<%= user_path(story[:github_user][:handle]) %>" aria-label="GitHub profile" data-ga-click="ReadME Stories, click, ref_page:<%= request.fullpath %>;ref_cta:go to GitHub profile;ref_loc:Profile sidebar" class="d-flex flex-justify-center flex-items-center border color-border-subtle circle readme-social-link" style="width:50px;height:50px">
          <%= primer_octicon(:"mark-github", size: :medium, alt: "GitHub", display: :block, classes: "link-blue-readme") %>
        </a>
      </li>
    <% end %>

    <% if has_approved_sponsors_account %>
      <li class="mr-4 mr-md-0 mb-md-4">
        <a href="<%= sponsorable_path(story[:github_user][:handle]) %>" aria-label="Sponsor this developer" data-ga-click="ReadME Stories, click, ref_page:<%= request.fullpath %>;ref_cta:sponsor this developer;ref_loc:Profile sidebar" class="d-flex flex-justify-center flex-items-center border color-border-subtle circle readme-social-link" style="width:50px;height:50px">
          <%= primer_octicon(:"heart-fill", size: :medium, alt: "Sponsor", display: :block, classes: "link-blue-readme") %>
        </a>
      </li>
    <% end %>

    <% twitter_url = "https://twitter.com/intent/tweet?url=#{url_encode(request.original_url)}&text=#{url_encode(story[:meta_text])}" %>
    <li class="mr-4 mr-md-0 mb-md-4">
      <a href="<%= twitter_url %>" target="_blank" rel="noopener" aria-label="Share on Twitter" data-ga-click="ReadME Stories, click, ref_page:<%= request.fullpath %>;ref_cta:share on Twitter;ref_loc:Profile sidebar" class="d-flex flex-justify-center flex-items-center border color-border-subtle circle readme-social-link" style="width:50px;height:50px">
        <%= svg("site/icons/twitter", height: 20, class: "d-block link-blue-readme", aria_hidden: true) %>
      </a>
    </li>

    <% facebook_url = "https://www.facebook.com/sharer/sharer.php?u=#{url_encode(request.original_url)}&quote=#{url_encode(story[:meta_text])}" %>
    <li class="mr-4 mr-md-0 mb-md-4">
      <a href="<%= facebook_url %>" target="_blank" rel="noopener" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" aria-label="Share on Facebook" data-ga-click="ReadME Stories, click, ref_page:<%= request.fullpath %>;ref_cta:share on Facebook;ref_loc:Profile sidebar" class="d-flex flex-justify-center flex-items-center border color-border-subtle circle readme-social-link" style="width:50px;height:50px">
        <%= svg("site/icons/facebook", height: 20, class: "d-block link-blue-readme", aria_hidden: true) %>
      </a>
    </li>

    <% linkedin_url = "https://www.linkedin.com/sharing/share-offsite/?url=#{url_encode(request.original_url)}" %>
    <li class="mr-4 mr-md-0 mb-md-4">
      <a href="<%= linkedin_url %>" target="_blank" rel="noopener" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" aria-label="Share on LinkedIn" data-ga-click="ReadME Stories, click, ref_page:<%= request.fullpath %>;ref_cta:share on LinkedIn;ref_loc:Profile sidebar" class="d-flex flex-justify-center flex-items-center border color-border-subtle circle readme-social-link" style="width:50px;height:50px">
        <%= svg("site/icons/linkedin", height: 20, class: "d-block link-blue-readme", aria_hidden: true) %>
      </a>
    </li>
  </ul>
</div>
