<div class="p-responsive-readme container-xl mx-auto mt-6 mt-md-10 pb-md-12">
  <%= render "site/readme/shared/social_sidebar", story: story, has_approved_sponsors_account: has_approved_sponsors_account %>

  <div class="js-build-in" data-build-margin-bottom="75" data-build-non-decorative="true">
    <%= render "site/readme/shared/navbar_dropdown" %>
    <%= render(Site::Readme::Shared::NavComponent.new(force_cache_miss: force_readme_cache_miss?, topics: navigation_topics)) %>

    <div class="f3-mktg readme-story-body readme-story-body--<%= story[:category_slug] %>" data-hpc>
      <% if story[:intro].present? %>
        <div class="f2-mktg text-normal text-italic font-alt-mktg pb-8 mb-9 border-bottom readme-bio" style="border-color:rgba(255,255,255,0.2) !important;">
          <div class="readme-bio__intro">
            <%= contentful_readme_rich_text(story[:intro]) %>
          </div>
        </div>
      <% end %>

      <% if story[:podcast?] && story[:bio].present? %>
        <%= render "site/readme/podcasts/bio", story: story %>
      <% end %>

      <% if story[:recirculation].present? %>
        <%= render Site::Readme::Shared::RecirculationStoryComponent.new(recirculation_story: story[:recirculation]) %>
      <% end %>

      <% cache readme_story_body_fragment_cache_key(story) do %>
        <% story_content_body = story.fetch(:klass).constantize.body(story[:slug]) %>
        <%= contentful_readme_rich_text(story_content_body) %>
      <% end %>
    </div>
  </div>

  <div class="col-md-8 offset-md-3 mt-5 mt-md-6 mb-9 mb-md-n6 readme-signoff">
    <%= primer_octicon(:"mark-github", height: 36) %>
  </div>
</div>
