<div class="flex-md-order-1 flex-order-2">

    <%= form_tag(
      marketplace_listing_admin_path(listing.slug),
      method: :put,
    ) do %>
      <%= render Primer::Alpha::Dialog.new(
        title: "Delist #{listing.slug}",
        size: :medium_portrait,
        id: "repo-delete-menu-dialog",
      ) do |dialog| %>
        <% dialog.with_header(show_divider: true) %>
        <% dialog.with_show_button(
          scheme: :danger,
          float: [:none, :right],
          classes: "js-listing-delist-button",
        ).with_content("Delist this listing") %>
        <% dialog.with_body do %>
          <div class="text-center">
            <%= primer_octicon("repo-locked", size: :medium, color: :muted, mt: 2) %>

            <%= render Primer::Beta::Text.new(
              tag: :p,
              font_weight: :bold,
              font_size: 3,
              mt: 2,
            ).with_content(listing.slug) %>
          </div>

          <%= render Marketplace::Listings::DelistWarningComponent.new(listing:, stage: 1) %>
        <% end %>

        <% dialog.with_footer(show_divider: true) do %>
          <%= render Marketplace::Listings::DelistProceedButtonComponent.new(
            listing:,
            stage: 1,
          ) %>
        <% end %>
      <% end %>
    <% end %>
</div>
<div class="flex-auto mb-md-0 mb-2">
  <strong <%= test_selector("delist-listing-headline") %>>
    Delist your app from Marketplace
  </strong>
  <p class="mb-0" <%= test_selector("delist-listing-description") %>>
    Once you delist, there is no going back, please be certain.
  </p>
</div>
<%= render Marketplace::Listings::DelistWarningTemplatesComponent.new(listing:) %>
