<div class="Box-row color-bg-subtle d-flex flex-items-center">
  <% if is_owner_verification_pending %>
    <%= link_to request_verification_path, class: "Link--muted", target: "_blank" do %>
      <div class="Box-btn-octicon btn-octicon float-left">
        <%= primer_octicon(:clock) %>
      </div>
      <span class="ml-3">Pending verification</span>
    <% end %>
  <% elsif has_verified_owner %>
    <%= link_to request_verification_path, class: "Link--muted", target: "_blank" do %>
      <div class="Box-btn-octicon btn-octicon float-left">
        <%= marketplace_onboarding_status_icon(true) %>
      </div>
      <span class="ml-3">Verified publisher</span>
    <% end %>
  <% else %>
    <div class="Box-btn-octicon btn-octicon float-left">
      <%= marketplace_onboarding_status_icon(false) %>
    </div>
    <span class="flex-auto ml-3">Publisher is not verified</span>
    <%= link_to "Request Verification", request_verification_path, class: "mt-1 btn", target: "_blank" %>
  <% end %>
</div>
