<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="mt-2">
  <b>Billing cycle</b>
  – <%= pluralize(target.days_remaining_in_lfs_cycle, "day") %> left<% unless target.invoiced? %>,
  billed <%= target.monthly_plan? ? "monthly" : "yearly" %><% end %>

  <div class="usage-bar">
    <div class="progress no-highlight" style="width: <%= target.percent_passed_in_billing_cycle %>%"></div>
  </div>
</div>

<% asset_status = target.asset_status || target.build_asset_status %>
<div class="mt-2">
  <%= primer_octicon(:graph, classes: "lfs-data-icon dark") %>
  <b>Bandwidth</b> –
  Using
  <%= number_with_delimiter(asset_status.bandwidth_usage) %> of
  <%= number_with_delimiter(asset_status.bandwidth_quota.round) %> GB/<%= target.plan_duration %>
  <%= render(Primer::Beta::IconButton.new(
    aria: { label: "Bandwidth quota resets every billing cycle" },
    size: :small,
    icon: "question",
    scheme: :invisible,
    tooltip_direction: :n,
  )) %>

  <div id="bandwidth-usage-bar" role="progressbar" class="usage-bar <%= "exceeded" if asset_status.bandwidth_usage_percentage >= 100 %>">
    <div class="progress progress--orange" style="width: <%= asset_status.bandwidth_usage_percentage %>%"></div>
  </div>
  <%= render(Primer::Alpha::Tooltip.new(
    for_id: "bandwidth-usage-bar",
    text: "#{asset_status.bandwidth_usage_percentage}%",
    type: :label,
    direction: :e
  )) %>
</div>
<div class="mt-2">
  <%= primer_octicon(:database, classes: "lfs-data-icon dark") %>
  <b>Storage</b> –
  Using
  <%= number_with_delimiter(asset_status.storage_usage) %> of
  <%= number_with_delimiter(asset_status.storage_quota.round) %> GB

  <div id="storage-usage-bar" role="progressbar" class="usage-bar <%= "exceeded" if asset_status.storage_usage_percentage >= 100 %>">
    <div class="progress progress--purple" style="width: <%= asset_status.storage_usage_percentage %>%"></div>
  </div>
  <%= render(Primer::Alpha::Tooltip.new(
    for_id: "storage-usage-bar",
    text: "#{asset_status.storage_usage_percentage}%",
    type: :label,
    direction: :e
  )) %>
</div>

<% if asset_status.disabled_because_over_quota? %>
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render(Primer::Alpha::Banner.new(scheme: :warning, mt: 3)) do %>
      Git LFS access has been disabled because
      <% if target.organization? %>
        this organization
      <% else %>
        your personal account
      <% end %>
      is over its data quota.<br>
      <%= link_to "Purchase additional data to re-enable.", target_billing_upgrade_data_plan_path(target) %>
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, mt: 3)) do %>
      Git LFS access has been disabled because
      <% if target.organization? %>
        this organization
      <% else %>
        your personal account
      <% end %>
      is over its data quota.<br>
      <%= link_to "Purchase additional data to re-enable.", target_billing_upgrade_data_plan_path(target) %>
    <% end %>
  <% end %>
<% end %>
