<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="Box mb-4 mt-4">
  <div class="Box-header d-flex flex-items-center">
    <div class="Box-title flex-auto ml-1 pl-2">
    <div>Email recipients</div>
    </div>
    <div class="d-flex flex-justify-end">
        <%= render :partial => 'billing_settings/add_billing_external', :locals => { :organization => organization } %>
    </div>
  </div>

  <div>
    <div class="Box-row flex-items-center d-flex color-fg-muted">
      <div class="d-flex my-1">
        <%= primer_octicon(:person, size: :medium, color: :muted) %>
      </div>
      <div class="ml-4 d-flex flex-1">
        <%= organization.billing_email %>
        <%= render Primer::Beta::Label.new(scheme: :secondary, ml: 4, title: "Label: Primary") do %>
          Primary
        <% end %>
      </div>
        <div class="d-flex flex-justify-end">
          <%= render layout: "shared/details_dialog", locals: {
            button_class: "btn btn-sm",
            button_text: "Edit",
            title: "Edit billing email address"} do %>
            <div class="Box-body f5">
              <%= form_for organization, url: billing_update_primary_email_path(organization), method: :put do |f| %>
                <dl class="form-group mt-0">
                  <% label_html = safe_join(["#{org_contact_email_label} primary email ", content_tag(:small, "(Private)")]) %>
                  <dt><%= f.label :billing_email, label_html %></dt>
                  <dd><%= f.text_field :billing_email, autofocus: true %></dd>
                </dl>
                <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>Update<% end %>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>

    <% target.billing_external_emails&.each do |line| %>
      <div class="Box-row flex-items-center d-flex color-fg-muted">
        <div class="d-flex my-1">
          <%= primer_octicon(:person, size: :medium, color: :muted) %>
        </div>
        <div class="ml-4 d-flex flex-1">
          <%= line.email %>
        </div>

        <details class="details-reset details-overlay dropdown">
          <%= render Primer::ButtonComponent.new(tag: :summary, variant: :small, classes: "select-menu-button") do %>
            Edit
          <% end %>
          <details-menu class="dropdown-menu dropdown-menu-sw" style="width: 230px;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <%= form_tag billing_mark_primary_email_path(organization, id: line.id), :method => :post do %>
              <button type="submit" role="menuitem" class="btn-link d-block dropdown-item">
                Mark as primary
              </button>
            <% end %>
            <%= form_tag billing_delete_external_email_path(organization, id: line.id), :method => :delete do %>
              <%= render(GitHub::DialogComponent.new(title: "Remove email recipient")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
                <% dialog.with_summary do %>
                  <summary class="dropdown-item" role="menuitem">Remove</summary>
                <% end %>
                <% dialog.with_body do %>
                  <strong>Are you sure you want to remove (<%= line.email %>) from the billing recipients?</strong>
                <% end %>
                <% dialog.with_footer do %>
                  <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true, "data-disable-with": "Remove") do %>Remove<% end %>
                <% end %>
              <% end %>
            <% end %>
          </details-menu>
        </details>

      </div>
    <% end %>
  </div>
</div>
