<%# view is an instance of BillingManagers::IndexView %>
<%# erblint:counter ButtonComponentMigrationCounter 4 %>
<div class="Box mb-4 mt-4">
  <div class="Box-header d-flex flex-items-center">
    <div class="Box-title flex-auto ml-1 pl-2">
      <div <%= test_selector("billing-managers-section") %>>Billing managers</div>
    </div>
    <div class="d-flex flex-justify-end">
      <%= render Primer::Beta::Button.new(size: :small, tag: :a, "data-pjax": true, href: org_new_billing_manager_path(view.organization)) do %>Invite<% end %>
    </div>
  </div>
  <% if view.current_or_pending_billing_managers? %>
    <ul>
      <% view.org_billing_manager_invitations.each do |invitation| %>
        <li class="Box-row d-flex flex-items-center color-fg-muted">
          <div class="d-flex">
            <% if invitation.email? %>
              <%= primer_octicon(:mail, :height => 20) %>
            <% else %>
              <%= avatar_for invitation.invitee, 20, :class => "avatar" %>
            <% end %>
          </div>
          <div class="d-flex ml-4 flex-1">
            <% if invitation.email? %>
              <%= invitation.email %>
            <% else %>
              <%= link_to invitation.invitee.safe_profile_name, user_path(invitation.invitee) %>
            <% end %>
            <span class="mx-1">|</span>
            <span class="muted">Pending confirmation</span>
          </div>
          <div class="d-flex flex-justify-end">
            <% if invitation.invitee == current_user %>
              <%= link_to "View invitation", org_show_pending_billing_manager_invitation_path(view.organization) %>
            <% else %>
              <%= form_tag org_resend_billing_manager_invitation_path(view.organization, invitation.email_or_invitee_login), :method => :post do %>
                <%= render(GitHub::DialogComponent.new(title: "Re-send invitation")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
                  <% dialog.with_summary do %>
                    <summary class="btn btn-sm" role="button">Resend</summary>
                  <% end %>
                  <% dialog.with_body do %>
                    Are you sure you want to resend <%= invitation.email_or_invitee_name %>’s invitation to become a billing manager?
                  <% end %>
                  <% dialog.with_footer do %>
                    <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, block: true, "data-disable-with": "Re-sending the invitation…") do %>Yes, send this invitation again.<% end %>
                  <% end %>
                <% end %>
              <% end %>
              <%= form_tag org_billing_manager_invitation_path(view.organization, invitation.email_or_invitee_login), :method => :delete do %>
                <%= render(GitHub::DialogComponent.new(title: "Cancel invitation")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
                  <% dialog.with_summary do %>
                    <summary class="btn btn-sm color-fg-danger ml-1" role="button">Cancel</summary>
                  <% end %>
                  <% dialog.with_body do %>
                    <strong>Are you sure you want to remove <%= invitation.email_or_invitee_name %>’s invitation to become a billing manager?</strong>
                  <% end %>
                  <% dialog.with_footer do %>
                    <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, block: true, "data-disable-with": "Canceling the invitation…") do %>Yes, cancel this invitation.<% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>

      <% view.org_billing_managers.each do |user| %>
        <li class="Box-row">
          <%= form_tag org_billing_manager_path(view.organization, user), method: :delete do %>
            <%= render(GitHub::DialogComponent.new(title: "Remove a billing manager")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
              <% dialog.with_summary do %>
                <summary class="btn btn-sm color-fg-danger float-right" role="button">Remove</summary>
              <% end %>
              <% dialog.with_alert do %>
                Are you sure you want to remove <%= user == current_user ? "yourself" : user.safe_profile_name %> as a billing manager?
              <% end %>
              <% dialog.with_body do %>
                <%= view.dialog_warning_message(user) %>
              <% end %>
              <% dialog.with_footer do %>
                <button type="submit" class="btn-block btn color-fg-danger">Yes, remove <%= user == current_user ? "me" : "this user" %> as a billing manager.</button>
                <% if view.show_remove_user_completely?(user) %>
                  <div class="f6 mt-2">To remove this user completely, visit the <%= link_to "organization profile page", org_person_path(view.organization, user), class: "Link--inTextBlock" %>.</div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <%= avatar_for user, 20, :class => "avatar mr-4" %>
          <%= link_to user.safe_profile_name, view.user_path(user) %>
          <% if user.publicly_visible_email(logged_in: true) %>
            (<%= user.publicly_visible_email(logged_in: true) %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <span class="Box-row d-flex flex-items-center color-fg-muted">
      <%= primer_octicon(:person, height: 24, mr: 4) %>
      You have not invited any billing managers
    </span>
  <% end %>
</div>
