<%
duration_options = User::BillingDependency::PLAN_DURATIONS.map(&:to_sym)
annual_discount_allowed = account.business? ? account.annual_discount_allowed?(billing_cycle: Business::BillingDependency::YEARLY_PLAN) : true
%>

<div class="my-2 radio-group clearfix width-full" role="radiogroup">
  <% duration_options.each do |duration| %>
    <input
      name="plan_duration"
      type="radio"
      aria-checked="<%= duration.to_s == selected_duration %>"
      value="<%= duration %>"
      <%= "checked" if duration.to_s == selected_duration %>
      class="<%= class_names(
        "radio-input",
        "js-bus-duration-change" => account.business?,
        "js-org-duration-change" => account.organization?,
        "js-duration-change" => account.user?,
      ) %>"
      id="plan_duration_<%= duration %>"
      >
    <label class="radio-label" for="plan_duration_<%= duration %>"
      <%= safe_analytics_click_attributes(
          category: "#{analytics_account_prefix(account)} pay #{duration}ly option",
          action: "click to choose #{duration}ly payment option",
          label: "ref_cta:Pay #{duration}ly;ref_loc:account_upgrade"
        ) %>
    >
      Pay <%= duration %>ly
      <% if duration.to_s.match(/year/) && annual_discount_allowed %>
        <span class="pl-1">
          <%= render(Primer::Beta::Octicon.new(:"tag", size: :small, color: :accent, pt: 1)) %>
          <span class="color-fg-accent f6">Get 1 month free</span>
        </span>
      <% end %>
    </label>
  <% end %>
</div>
