<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%
  trade_screening_error_data = trade_screening_cannot_proceed_error_data(target: target, check_for_current_user: true)
  trade_screening_record = target.trade_screening_record

  SecureHeaders.append_content_security_policy_directives(
    request,
    img_src: [GitHub.paypal_checkout_url],
    connect_src: [GitHub.braintreegateway_url, GitHub.braintree_analytics_url]
  )
%>

<% if view.cannot_upgrade_seats? %>
  <%= render Primer::Beta::Flash.new(scheme: :warning, my: 4, classes: "js-contact-us") do %>
    This organization cannot be upgraded because the number of seats required is
    greater than the number of seats that are allowed to be purchased. <br><br>
    Please contact <a class="Link--inTextBlock" href="https://github.com/enterprise/contact" target="_blank" rel="noreferrer">our sales team</a>
    for pricing and purchasing information.
  <% end %>
<% elsif view.account.org_is_on_business_tos? %>
  <% if view.show_data_collection_form? %>
    <div class="position-relative pl-5 pb-5">
      <div class="position-absolute top-0 bottom-0 border-left color-border-default left-0 mt-1 ml-1">
        <span class="position-absolute top-0 left-0 color-bg-default p-3 mt-n1 ml-n3"></span>
        <span class="position-relative mt-2 ml-n2">
          <%= render(Primer::Beta::Octicon.new(icon: "organization", color: :muted)) %>
        </span>
      </div>

      <h2 class="h3">Who is the owner of this organization?
        <% if target.is_allowed_to_edit_trade_screening_information? %>
          <div class="d-inline-block js-edit-user-personal-profile-wrapper">
            <div class="btn-link js-edit-user-personal-profile f6 text-normal">
              Edit
            </div>
          </div>
        <% end %>
      </h2>
      <%= render Billing::Settings::NameAddressSummaryComponent.new(
        profile: trade_screening_record,
        wrapper_class: "js-billing-information-summary-wrapper"
      ) %>
      <div class="js-name-address-collection-wrapper" <%= target.has_saved_trade_screening_record? ? "hidden" : "" %>>
        <%= render Billing::Settings::NameAddressFormInputsComponent.new(
          profile: target.trade_screening_record,
          target: target,
          payment_flow_loaded_from: "PLAN_UPGRADE",
        ) %>
        <% if params[:return_to].present? %>
          <%= hidden_field_tag "return_to", params[:return_to] %>
        <% end %>
        <div class="form-group pt-1">
          <%= submit_tag "Continue to payment method", class: "btn btn-primary width-full mt-2", name: 'billing_info_submit_btn', id: "submit_personal_profile" %>
        </div>
      </div>
    </div>
  <% end %>

  <% if view.show_sdn_blocking_notice? %>
    <%= render(Primer::Beta::Flash.new(scheme: trade_screening_error_data[:scheme])) do %>
      <h5 class="h5">
        <%= render(Primer::Beta::Octicon.new(trade_screening_error_data[:icon])) %>
        You can't proceed with your payment
      </h5>
      <div class="ml-5">
        <%= trade_screening_error_data[:message] %>
      </div>
    <% end %>
  <% elsif view.show_payment_form?(current_user) %>
    <div class="position-relative pl-5 pb-5 js-org-payment-method-wrapper">
      <div class="position-absolute top-0 bottom-0 border-left color-border-default left-0 mt-1 ml-1">
        <span class="position-absolute top-0 left-0 color-bg-default p-3 mt-n1 ml-n3"></span>
        <span class="position-relative mt-2 ml-n2">
          <%= render(Primer::Beta::Octicon.new(icon: "credit-card", color: :muted)) %>
        </span>
      </div>

      <h2 class="h3">Payment method</h2>

      <div class="border-top py-3 js-payment-methods-wrapper">
        <%= render Billing::Settings::PaymentMethodFormComponent.new(
          target: target,
          new_name_address_design: true,
          signature_view_context: Billing::Zuora::HostedPaymentsPage::PLAN_UPGRADE_SIGNATURE_VIEW_CONTEXT,
          return_to: request.url,
        ) %>
      </div>
    </div>
  <% end %>
<% elsif view.account.org_is_on_standard_tos? %>
  <% if view.show_business_owner_section?(current_user) %>
    <div class="position-relative pl-5 pb-5">
      <div class="position-absolute top-0 bottom-0 border-left color-border-default left-0 mt-1 ml-1">
        <span class="position-absolute top-0 left-0 color-bg-default p-3 mt-n1 ml-n3"></span>
        <span class="position-relative mt-2 ml-n2">
          <%= render(Primer::Beta::Octicon.new(icon: "organization", color: :muted)) %>
        </span>
      </div>
      <h2 class="h3" <%= test_selector("business-owner-section-header") %>>Who is the owner of this account?</h2>
      <% if view.show_org_data_collection_form_switcher?(current_user) %>
        <div role="radiogroup" class="Box my-2 mt-3">
          <div class="Box-body">
            <div class="form-checkbox my-2" >
              <label id="is-business-false" class="text-normal">
                <input
                  class="js-show-individual-billing-info-inputs"
                  type="radio"
                  name="is_business"
                  value="false"
                >
                  Individual (<span class="color-fg-muted text-small">your user account</span>)
              </label>
              <p class="d-block text-small">
                GitHub's <a class="Link--inTextBlock" href="<%= site_terms_path %>" target="_blank" aria-hidden="false" rel="noopener noreferrer">Standard Terms of Service</a> will apply. Best for individuals wanting the freedom to move data and remain independent of a corporation.
              </p>
            </div>
          </div>
          <div class="Box-body">
            <div class="form-checkbox my-2" >
              <label id="is-business-true" class="text-normal">
                <input
                  class="js-show-business-billing-info-inputs"
                  type="radio"
                  name="is_business"
                  value="true"
                >
                  Business
              </label>
              <p class="d-block text-small">
                GitHub's <a class="Link--inTextBlock" href="<%= site_corp_terms_path %>" target="_blank" aria-hidden="false" rel="noopener noreferrer">Corporate Terms of Service</a> will apply. Best for businesses that need to protect their intellectual property and secure visibility into their data.
              </p>
            </div>
          </div>
        </div>
      <% end %>
      <%= render Billing::Settings::BillingInformationLinkingComponent.new(
        actor: current_user,
        target: target,
        display_title: false,
        form_loaded_from: "PLAN_UPGRADE",
        no_redirect: true,
        include_form_tag: false,
        autocheck_link_checkbox: view.needs_valid_payment_method?,
        wrapper_class: view.billing_info_linking_component_wrapper_class(current_user),
      ) %>

      <% if view.admin_has_screening_record_but_org_does_not?(current_user) %>
        <%= hidden_field_tag "tos_org_linkage_only", "yes" %>
      <% end %>

      <div class="js-business-details-inputs-wrapper has-removed-contents">
        <div class="js-name-address-collection-wrapper">
          <%= render Billing::Settings::NameAddressFormInputsComponent.new(
            profile: target.trade_screening_record,
            target: target,
            payment_flow_loaded_from: "PLAN_UPGRADE",
            show_org_fields: true
          ) %>
          <% if params[:return_to].present? %>
            <%= hidden_field_tag "return_to", params[:return_to] %>
          <% end %>
          <div class="form-group pt-1">
            <%= submit_tag "Save and continue", class: "btn btn-primary width-full mt-2", name: 'billing_info_submit_btn', id: "submit_personal_profile" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if view.has_sdn_blocking_restriction?(current_user) %>
    <div class="border-top py-3 js-trade-controls-notice-container">
      <%= render(Primer::Beta::Flash.new(scheme: trade_screening_error_data[:scheme])) do %>
        <h5 class="h5">
          <%= render(Primer::Beta::Octicon.new(trade_screening_error_data[:icon])) %>
          You can't proceed with your payment
        </h5>
        <div class="ml-5" <%= test_selector("trade-screening-message") %>>
          <%= trade_screening_error_data[:message] %>
        </div>
      <% end %>
    </div>
  <% elsif view.show_payment_form?(current_user) %>
    <div class="position-relative pl-5 pb-5 js-org-payment-method-wrapper">
      <div class="position-absolute top-0 bottom-0 border-left color-border-default left-0 mt-1 ml-1">
        <span class="position-absolute top-0 left-0 color-bg-default p-3 mt-n1 ml-n3"></span>
        <span class="position-relative mt-2 ml-n2">
          <%= render(Primer::Beta::Octicon.new(icon: "credit-card", color: :muted)) %>
        </span>
      </div>

      <h2 class="h3">Payment method</h2>

      <div class="border-top py-3 js-payment-methods-wrapper <%= "js-has-valid-payment-method" if target.has_valid_payment_method? %>">
        <%= render Billing::Settings::PaymentMethodFormComponent.new(
          target: target,
          new_name_address_design: true,
          signature_view_context: Billing::Zuora::HostedPaymentsPage::PLAN_UPGRADE_SIGNATURE_VIEW_CONTEXT,
          return_to: request.url,
        ) %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="position-relative pl-5 pb-5">
    <div class="position-absolute top-0 bottom-0 border-left color-border-default left-0 mt-1 ml-1">
      <span class="position-absolute top-0 left-0 color-bg-default p-3 mt-n1 ml-n3"></span>
      <span class="position-relative mt-2 ml-n2">
        <%= render(Primer::Beta::Octicon.new(icon: "credit-card", color: :muted)) %>
      </span>
    </div>

    <h2 class="h3">Choose your payment method</h2>

    <% if view.collect_user_billing_info? %>
      <div class="pb-3 note">
        Please confirm your billing details to continue. You only need to do this once.
      </div>
    <% end %>


    <% if view.account.has_valid_payment_method? %>
      <div class="Box my-3">
        <ul>
          <% if view.account.has_paypal_account? %>
            <li class="Box-row">
              <div class="d-flex flex-items-center">
                <img alt="PayPal" src="<%= image_path "paypal/paypal-small.png" %>" class="mr-2">
                <span><%= view.account.payment_method.paypal_email %></span>
              </div>
            </li>
          <% else %>
            <li class="Box-row">
              <div class="d-flex flex-items-center flex-justify-between">
                <div class="d-flex">
                  <span>
                    <%= render(Primer::Beta::Octicon.new(icon: "credit-card", mr: 1)) %>
                  </span>
                  <strong>
                    <%= view.account.payment_method.card_type %>
                    <% if view.account.payment_method.card_type %><span class="color-fg-muted text-normal"> *<%= view.account.payment_method.last_four %></span><% end %>
                  </strong>
                </div>
                <div class="f6 color-fg-muted">
                  expires <%= view.account.payment_method.formatted_expiration_date %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="Box-footer Box-row--gray py-2">
          <a href="<%= target_payment_method_path(view.account, {return_to: request.url}) %>" class="f6">
            Edit
          </a>
        </div>
      </div>
    <% end %>

    <% if view.show_data_collection_form? %>
      <div class="js-name-address-collection-wrapper" <%= target.has_saved_trade_screening_record? ? "hidden" : "" %>>
        <%= render Billing::Settings::NameAddressFormInputsComponent.new(
          profile: target.trade_screening_record,
          target: target,
          payment_flow_loaded_from: payment_flow_loaded_from,
          ) %>
        <% if params[:return_to].present? %>
          <%= hidden_field_tag "return_to", params[:return_to] %>
        <% end %>
        <div class="form-group pt-1">
          <%= submit_tag "Save and continue", class: "btn btn-primary width-full mt-2", name: 'billing_info_submit_btn', id: "submit_personal_profile" %>
        </div>
      </div>
    <% end %>

    <% if target.has_commercial_interaction_restriction? %>
      <div class="border-top py-3">
        <%= render(Primer::Beta::Flash.new(scheme: trade_screening_error_data[:scheme])) do %>
          <h5 class="h5">
            <%= render(Primer::Beta::Octicon.new(trade_screening_error_data[:icon])) %>
            You can't proceed with your payment
          </h5>
          <div class="ml-5">
            <%= trade_screening_error_data[:message] %>
          </div>
        <% end %>
      </div>
    <% elsif view.show_payment_form?(current_user) %>
      <% if view.account.user? %>
        <div class="border-top py-3 js-payment-methods-wrapper">
          <div class="clearfix mb-3">
            <h4 class="float-left">Payment Method</h4>
          </div>
          <%= render Billing::Settings::PaymentMethodFormComponent.new(
            target: target,
            new_name_address_design: true,
            signature_view_context: Billing::Zuora::HostedPaymentsPage::PLAN_UPGRADE_SIGNATURE_VIEW_CONTEXT,
            return_to: return_to,
          ) %>
        </div>
      <% else %>
        <div data-login="<%= target.display_login %>"
            class="js-payment-summary js-billing-section
                  <% if (org_transform? && !current_user.has_valid_payment_method?) || !org_transform? %>
                    PaymentMethod--creditcard
                  <% end %>
                  zuora-billing-section">
          <% if target.errors[:billing].any? %>
            <div class="error">
              <p><%= target.errors[:billing].to_sentence %></p>
            </div>
          <% end %>
            <%= fields_for :organization do |billing_form| %>
              <%=
                render partial: "payment_method/fields_dynamic_seats", locals: {
                  owner: target,
                  form: billing_form,
                  analytics_prefix: analytics_account_prefix(view.account)
                }
              %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
