<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% change = upgrade_or_downgrade(target, plan).capitalize %>
<% if !target.can_change_plan_to?(plan) %>
  <%= render(Primer::Beta::IconButton.new(
    aria: { label: "Too many private repositories to change to this plan" },
    id: "change-plan-reason-for-#{plan}",
    icon: "info",
    scheme: :invisible,
    mr: 2,
    size: :small
  ))%>
  <%= render Primer::Beta::Button.new(size: :small, disabled: true, "aria-describedby": "change-plan-reason-for-#{ plan }") do %><%= change %><% end %>
<% elsif target.needs_valid_payment_method_to_switch_to_plan?(plan) %>
  <%= render Primer::Beta::Button.new(tag: :a, href: target_payment_method_path(target, plan: plan), size: :small, "data-ga-click": "Billing, click on #{upgrade_or_downgrade(target, plan)}") do %><%= change %><% end %>
<% else %>
  <%= form_tag upgrade_downgrade_form_action_path(target, plan) do %>
    <%= render(Primer::Alpha::Dialog.new(
      title: "#{change} to the #{plan.display_name.humanize} plan",
      size: :medium_portrait
    )) do |dialog| %>
      <% dialog.with_header(show_divider: true, text_align: :left) { "" } %>
      <% dialog.with_show_button("data-ga-click": "Billing, click on #{upgrade_or_downgrade(target, plan)}") do |button| %>
        <%= change %>
      <% end %>

      <% dialog.with_body(text_align: :left) do %>
        <% if plan.free? %>
          <%= render "billing_settings/next_billing_date_cancel", target: target, cancellation: true, new_plan: plan %>

          <ul class="hanging-icon-list mx-0">
            <li>
              <%= primer_octicon(:x, mt: 1, color: :danger) %>
              Required reviewers in private repos
            </li>
            <li>
              <%= primer_octicon(:x, mt: 1, color: :danger) %>
              Protected branches in private repos
            </li>
            <li>
              <%= primer_octicon(:x, mt: 1, color: :danger) %>
              Code owners in private repos
            </li>
            <li>
              <%= primer_octicon(:x, mt: 1, color: :danger) %>
              GitHub Pages in private repos
            </li>
            <li>
              <%= primer_octicon(:x, mt: 1, color: :danger) %>
              Wikis in private repos
            </li>
            <li>
              <%= primer_octicon(:x, mt: 1, color: :danger) %>
              Multiple assignees for issues and PRs in private repos
            </li>
            <li>
              <%= primer_octicon(:x, mt: 1, color: :danger) %>
              Multiple PR reviewers in private repos
            </li>
            <li>
              <%= primer_octicon(:x, mt: 1, color: :danger) %>
              Environment protection rules in private repos
            </li>
            <li>
              <%= primer_octicon(:x, mt: 1, color: :danger) %>
              Environment deployment branches and secrets in private repos
            </li>
            <li>
              <%= primer_octicon(:x, mt: 1, color: :danger) %>
              Standard support
            </li>
          </ul>
        <% else %>
          <div class="Box-body border-bottom-0">
            <%= render "billing_settings/plan_change_details", target: target, plan: plan %>
            <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
              <%= render Primer::Alpha::Banner.new(scheme: :warning, display: :flex, direction: :row, align_items: :center, mt: 2) do %>
                <%= render "billing_settings/next_billing_date_cancel", target: target, cancellation: true %>
              <% end %>
            <% else %>
              <%= render Primer::Beta::Flash.new(scheme: :warning, display: :flex, direction: :row, align_items: :center, mt: 2) do %>
                <%= render "billing_settings/next_billing_date_cancel", target: target, cancellation: true %>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <%= hidden_field_tag 'plan', plan.display_name, id: nil %>
        <% if show_downgrade_survey?(target, plan) && downgrade_survey %>
          <%=render partial: "billing_settings/downgrade_survey", locals: {
            target: target,
            plan: plan,
            survey: downgrade_survey,
            change: upgrade_or_downgrade(target, plan).capitalize
          }%>
        <% end %>
      <% end %>

      <% dialog.with_footer(show_divider: true) do %>
        <%= render Primer::Beta::Button.new(type: :submit, "data-disable-with": "Processing plan change…", scheme: :primary, block: true) do %>
          <%= change %> plan
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
