<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  return_to ||= params[:return_to]
%>

<div class="Box-body">
  <%= render Billing::Settings::CardDetailsComponent.new(payment_method: target.payment_method) %>
  <%= render Billing::Settings::PaypalDetailsComponent.new(payment_method: target.payment_method) %>

  <p>
    You are about to remove this <%= target.friendly_payment_method_name %>. Are you sure you want to do this?
  </p>
</div>
<div class="Box-footer" <%= test_selector "payment-method-removal-form-wrapper" %>>
  <%= form_tag target_payment_method_path(target), :method => :delete do %>
    <% if return_to.present? %>
      <%= hidden_field_tag "return_to", return_to %>
    <% end %>
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true) do %>
      Remove <%= target.friendly_payment_method_name %>
    <% end %>
  <% end %>
</div>
