<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render "billing_settings/next_billing_date_cancel", target: target, cancellation: true, new_plan: GitHub::Plan.free %>
  <ul class="hanging-icon-list mx-0">
    <% downgrade_features_with_counts(target).each do |feature, label| %>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %> <%= label %>
        <span data-targets="downgrade-dialog.features" class="strong-label mb-0" data-downgrade-feature="<%= feature %>"></span>
      </li>
    <% end %>
    <% if target.plan.supports?(:environment_protection_rules, visibility: :private) %>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %>
        Environment protection rules in private repos
      </li>
    <% end %>
    <% if target.plan.supports?(:environment_protection_secrets, visibility: :private) %>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %>
        Environment deployment branches and secrets in private repos
      </li>
    <% end %>
    <li>
      <%= primer_octicon(:x, mt: 1, color: :danger) %>
      Code owners in private repos
    </li>
    <li>
      <%= primer_octicon(:x, mt: 1, color: :danger) %>
      Multiple assignees for issues and PRs in private repos
    </li>
    <li>
      <%= primer_octicon(:x, mt: 1, color: :danger) %>
      Multiple PR reviewers in private repos
    </li>
    <li>
      <%= primer_octicon(:x, mt: 1, color: :danger) %>
      Standard support
    </li>
    <li>
      <%= primer_octicon(:"arrow-down", mt: 1, color: :danger, pr: 1) %>
      2,000 minutes for GitHub Actions <span class="color-fg-subtle">(currently 3,000)</span>
    </li>
    <li>
      <%= primer_octicon(:"arrow-down", mt: 1, color: :danger, pr: 1) %>
      500MB of storage for packages <span class="color-fg-subtle">(currently 2GB)</span>
    </li>
    <li>
      <%= primer_octicon(:"arrow-down", mt: 1, color: :danger, pr: 1) %>
      120 core-hours of Codespaces compute <span class="color-fg-subtle">(currently 180)</span>
    </li>
    <li>
      <%= primer_octicon(:"arrow-down", mt: 1, color: :danger, pr: 1) %>
      15GB in Codespaces Storage <span class="color-fg-subtle">(currently 20GB)</span>
    </li>
  </ul>

<%= form_tag target_cc_update_path(target) do %>
  <%= hidden_field_tag 'plan', GitHub::Plan.free.name, id: nil %>
  <div class="mt-3">
    <%= render Primer::ButtonComponent.new(
      type: :submit, "data-disable-with": "Downgrading…",
      block: true,
      scheme: :danger,
      test_selector: "billing-user-downgrade-modal",
      data: downgrade_action_attributes(plan: target&.plan, downgrade: GitHub::Plan.free, path: request.path_info)) do %>
      I understand. Continue with downgrade.
    <% end %>
  </div>
<% end %>
