<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  return_to ||= params[:return_to]
  target_type = target.organization? ? :organization : target.event_prefix
%>

<div class="Box-body">
  <p>
    You are about to remove the billing information for this account.
    <% if target.has_valid_payment_method?%>
      This will also remove your current payment information.
    <% end %>
    <br>
    Are you sure you want to do this?
  </p>
</div>
<div class="Box-footer" <%= test_selector "billing-info-dereference-form-wrapper" %>>
  <%= form_tag remove_billing_information_path, :method => :delete do %>
    <% if return_to.present? %>
      <%= hidden_field_tag "return_to", return_to %>
    <% end %>
    <%= hidden_field_tag "target", target_type %>
    <% if target.organization? %>
      <%= hidden_field_tag "organization_id", target.display_login %>
    <% elsif target.business? %>
      <%= hidden_field_tag "business_id", target.display_login %>
    <% end %>
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true) do %>
      Remove billing information
    <% end %>
  <% end %>
</div>
