<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  return_to ||= params[:return_to]
  billing_target = target.organization? ? "organization" : "account"
  target_type = target.organization? ? :organization : target.event_prefix
%>

<div class="Box-body">
  <p>
    You are about to remove the billing information for this <%= billing_target %>.
    <% if target.has_linked_trade_screening_record? && !actor.has_trade_screening_record_linked_to_org?(organization: target) %>
      This organization has billing information linked with another admin account which will be unlinked and removed.
    <% end %>
    Are you sure you want to do this?
  </p>
</div>
<div class="Box-footer" <%= test_selector "billing-info-dereference-form-wrapper" %>>
  <%= form_tag unlink_trade_screening_record_from_org_path, :method => :put do %>
    <% if return_to.present? %>
      <%= hidden_field_tag "return_to", return_to %>
    <% end %>
    <%= hidden_field_tag "target", target_type %>
    <% if target.organization? %>
      <%= hidden_field_tag "organization_id", target.display_login %>
    <% elsif target.business? %>
      <%= hidden_field_tag "business_id", target.display_login %>
    <% end %>
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true) do %>
      Remove billing information
    <% end %>
  <% end %>
</div>
