<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% custom_role_count = target.organization? ? target.all_custom_roles.count : 0 %>
<% if target.organization? && target.plan.business_plus? && custom_role_count > 0 %>
  <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
    <%= render(Primer::Alpha::Banner.new(scheme: :warning, mb: 3)) do %>
      In order to downgrade your organization, you first need to delete all
      <%= link_to "custom roles", settings_org_repository_roles_path, class: "Link--inTextBlock" %>
      created for this organization.
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 3)) do %>
      In order to downgrade your organization, you first need to delete all
      <%= link_to "custom roles", settings_org_repository_roles_path, class: "Link--inTextBlock" %>
      created for this organization.
    <% end %>
  <% end %>
<% end %>
<%= render "billing_settings/next_billing_date_cancel", target: target, cancellation: true, new_plan: new_plan %>
  <ul class="hanging-icon-list mx-0">
    <% if new_plan.free? %>
      <li>
        <%= primer_octicon(:"trash", mt: 1, color: :danger) %>
        <%= pluralize(billable_codespaces_count, "codespace") %> billed to your organization
      </li>
    <%end%>

    <% if target.plan.business_plus? %>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %>
        SAML auth
      </li>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %>
        Enterprise support
      </li>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %>
        Advanced auditing
      </li>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %>
        IP allow list
      </li>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %>
        Organizational activities
      </li>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %>
        Required reviewers in private repos
      </li>
    <% end %>

    <% downgrade_features_with_counts(target).each do |feature, label| %>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %> <%= label %>
        <span data-targets="downgrade-dialog.features" class="strong-label mb-0" data-downgrade-feature="<%= feature %>"></span>
      </li>
    <% end %>
    <% if target.plan.supports?(:environment_protection_rules, visibility: :private) %>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %>
        Environment protection rules in private repos
      </li>
    <% end %>
    <% if target.plan.supports?(:environment_protection_secrets, visibility: :private) %>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %>
        Environment deployment branches and secrets in private repos
      </li>
    <% end %>
    <li>
      <%= primer_octicon(:x, mt: 1, color: :danger) %>
      Code owners in private repos
    </li>
    <li>
      <%= primer_octicon(:x, mt: 1, color: :danger) %>
      Multiple issue assignees in private repos
    </li>
    <li>
      <%= primer_octicon(:x, mt: 1, color: :danger) %>
      Multiple PR assignees in private repos
    </li>

    <% if target.plan.business? %>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %>
        Code review automatic assignment in private repos
      </li>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %>
        Scheduled reminders in private repos
      </li>
      <li>
        <%= primer_octicon(:x, mt: 1, color: :danger) %>
        Standard support
      </li>
    <% end %>
    <li>
      <%= primer_octicon(:"arrow-down", mt: 1, color: :danger, pr: 1) %>
      2,000 minutes for GitHub Actions <span class="color-fg-subtle"><%= target.plan.business_plus? ? "(currently 50,000)" : "(currently 3,000)" %></span>
    </li>
    <li>
      <%= primer_octicon(:"arrow-down", mt: 1, color: :danger, pr: 1) %>
      500MB of storage for packages <span class="color-fg-subtle"><%= target.plan.business_plus? ? "(currently 50GB)" : "(currently 2GB)" %></span>
    </li>
    <% if target.organization? && target.plan.business_plus? && %>
      <li>
        <%= primer_octicon(:"arrow-down", mt: 1, color: :danger, pr: 1) %>
        1 custom role <span class="color-fg-subtle">(currently 3)</span>
      </li>
    <% end %>
  </ul>

<%= form_tag cancel_org_seats_path(target), :method => :delete do %>
  <% if downgrade_survey %>
    <%=render partial: "billing_settings/downgrade_survey", locals: {
      target: target,
      plan: new_plan,
      survey: downgrade_survey,
      change: upgrade_or_downgrade(target, new_plan).capitalize
    }%>
  <% end %>

  <div class="my-3">
    <button type="submit" data-disable-with="Downgrading…" <%= test_selector "downgrade-free-submit" %>
      <%= "disabled" if target.organization? && target.plan.business_plus? && custom_role_count > 1 %>
      <%= downgrade_action_attributes(plan: target&.plan, downgrade: new_plan, path: request.path_info, as_safe_data_attributes: true) %>
      class="btn btn-block btn-danger">
      I understand. Downgrade my organization.
    </button>
  </div>
<% end %>
