<% if account.has_an_active_coupon? %>
  <% coupon = account.coupon %>
  <% coupon_redemption = account.coupon_redemption %>

  <span class="text-bold d-block">
    <%= coupon.human_discount %> off per month
    <% if coupon.plan_specific? && local_assigns[:discountable_charges].blank? %>
      on your <span class="text-italic"><%= coupon.plan_display_name %></span> plan
    <% end %>

    <% if coupon.will_expire? %>
      for <%= coupon.human_duration %>
    <% else %>
      forever
    <% end %>
  </span>
  <% if account.paid_plan? && coupon_redemption.expires_this_billing_cycle? %>
    <span>
      This coupon will expire on <strong><%= coupon_redemption.expires_at.strftime("%Y-%m-%d") %></strong>.
      As a result, your next bill will not get a discount.
    </span>
  <% elsif coupon.will_expire? %>
    <span>
      until <%= coupon_redemption.expires_at.to_date.to_formatted_s(:long) %>.
    </span>
  <% end %>
  <% if local_assigns[:discountable_charges].present? %>
    <div>
      <p class="color-fg-subtle text-small">
        * Discount only applies for <%= discountable_charges.map(&:display_name).to_sentence %>
      </p>
    </div>
  <% end %>
<% else %>
  You don't have an active coupon.
<% end %>
