<div class="overflow-auto">
  <%= hidden_question_input survey, "organization_id", target.id %>
  <%= hidden_question_input survey, "from_plan", target.plan %>
  <%= hidden_question_input survey, "to_plan", plan %>
  <%= hidden_field_tag "survey_id", survey.id %>

  <% question = downgrade_reason_survey_question(survey) %>
  <% other_choice = question.other_choice %>
  <div class="js-survey-question-form">
    <div>
      <div><strong><%= question.text %></strong></div>
      <%= hidden_field_tag "answers[][question_id]", question.id, :id => "#{plan.display_name}_answers__question_id-0" %>
      <%= hidden_field_tag "answers[][choice_id]", other_choice.id, :id => "#{plan.display_name}_answers__choice_id-0" %>
      <p class="form-group">
        <%= text_area_tag "answers[][other_text]", "",
          placeholder: "Reason for downgrading",
          class: "input-block mt-2 form-control",
          style: "min-height: 96px; height: 96px;",
          id: "#{plan.display_name}_answers__other_text-0",
          "aria-label" => question.text %>
      </p>
    </div>
    <div class="mt-3">
      <% opt_in_question = contact_opt_in_survey_question(survey) %>
      <% yes_choice, no_choice = yes_no_opt_in_choices(opt_in_question) %>
      <%= hidden_field_tag "answers[][question_id]", opt_in_question.id, :id => "#{plan.display_name}_answers__question_id-1" %>
      <%= hidden_field_tag "answers[][choice_id]", no_choice.id, class: 'js-survey-contact-checkbox-hidden', id: "#{plan.display_name}_answers__choice_id-1" %>
      <p>
        <label class="text-normal">
          <input
            name="answers[][choice_id]"
            id="<%= plan.display_name %>-choice-<%= yes_choice.id %>"
            value="<%= yes_choice.id %>"
            type="checkbox"
            class="js-survey-contact-checkbox">
          <%= opt_in_question.text %>
        </label>
      </p>
    </div>
  </div>

  <%= hidden_field_tag 'plan', plan.display_name, id: nil %>
</div>
