<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%
trial = Billing::EnterpriseCloudTrial.new(organization)
buy_enterprise_args = {
  org: organization,
  target: "organization",
  plan: "business_plus",
  source: "trial_upgrade"
}
%>

<div class="Box mb-4" <%= test_selector("github-usage") %>>
  <div class="Box-header color-bg-subtle d-flex flex-items-center">
    <div class="d-flex flex-items-center">
      <%= render(Primer::Beta::Octicon.new(icon: "mark-github", height: 32, color: :default)) %>
    </div>
    <div class="Box-title flex-auto ml-1 pl-2">
      <h3 class="h5">GitHub Enterprise Cloud trial</h3>

      <div class="text-small text-normal color-fg-muted">
        Security, compliance, and flexible deployment for enterprises
      </div>
    </div>

    <a
      class="ml-2 btn btn-sm btn-primary"
      href="<%= upgrade_path(buy_enterprise_args) %>"
      data-ga-click="Billing settings, click, text:Buy Enterprise;"
      <%= safe_analytics_click_attributes(
        category: "Buy enterprise",
        action: "click to buy enterprise",
        label: "ref_cta:Buy Enterprise;ref_loc:billing_settings"
      ) %>
    >
      Buy Enterprise
    </a>
  </div>

  <div class="Box-body">
    <%= render "billing_settings/benefits/plan_business_plus", trial: true, organization: organization %>
  </div>

  <div class="Box-footer d-flex flex-items-center flex-justify-between">
    <span>
      Your free trial expires in <strong><%= pluralize trial.days_remaining, "day" %></strong>.
    </span>

    <span>Questions? <a class="Link--inTextBlock" href="<%= ent_contact_url %>">Contact sales</a></span>
  </div>
</div>
