<p class="f5 text-normal color-fg-muted mb-2">
  <a href="<%= view.payment_information_path %>" class="color-fg-muted">
    Payment information <%= render(Primer::Beta::Octicon.new(icon: "arrow-right", size: :small, color: :muted)) %>
  </a>
</p>

<ul class="list-style-none">
  <% if view.account.invoiced? %>
    <li class="no-wrap"><%= link_to "Contact support", contact_path, class: "f6" %></li>
  <% end %>

  <% if view.spending_limit_enabled? %>
    <li><%= link_to "Manage spending limit", view.spending_limit_path, class: "f6" %></li>
  <% end %>

  <li><%= link_to "View payment history", view.account_payment_history_path, class: "f6" %></li>

  <% if view.change_duration_path %>
    <% unless view.pending_cycle.has_changes? && view.pending_cycle.changing_duration? %>
      <%
        link_cta = "#{view.change_billing_duration_message}"
        analytics = analytics_click_attributes(
          category: "#{analytics_account_prefix(view.account)} #{link_cta}",
          action: "click to upgrade",
          label: "ref_cta:#{link_cta};ref_loc:billing"
        )
      %>
      <li><%= link_to link_cta, view.change_duration_path, class: "f6", data: analytics %></li>
    <% end %>
  <% elsif !view.account.org_free_plan? || !view.account.personal_plan? %>
    <li><%= link_to "#{view.change_billing_duration_message}", org_plans_path(view.account), class: "f6" %></li>
  <% end %>
</ul>
