<%# erblint:counter DeprecatedInPrimerCounter 1 %>

<%
  usage = view.shared_storage_usage
  estimated_price = view.pricing.estimated_shared_storage_cost
%>

<%
  data = {
    usage: usage.estimated_monthly_private_gigabytes,
    usage_included: usage.plan_included_megabytes,
    usage_paid: usage.estimated_monthly_paid_gigabytes,
    usage_percentage: usage.paid_usage_percentage,
    included_usage_percentage: usage.included_usage_percentage,
    price: estimated_price,
    plan_included_gigabytes: usage.plan_included_megabytes_in_gigabytes,
    breakdown: [
      {
        name: "Shared Storage",
        included: usage.plan_included_megabytes,
        paid: usage.estimated_monthly_paid_gigabytes,
        price_per_gb: Billing::Money.new(::Billing::SharedStorage::ZuoraProduct.unit_cost(account: view.account).to_d.round(2) * 100),
        price: estimated_price
      }
    ]
  } unless usage.has_error?
%>

<% if usage.has_error? %>
  <div class="Box-row py-4">
    <div class="color-fg-muted text-center">
      <%= primer_octicon(:stop, color: :muted, mr: 2) %>
      Error: Unable to load the data at this time.
      <%= link_to "Refresh", "", class: "Link--inTextBlock" %>
      the page or try again later.
    </div>
  </div>
<% else %>
  <div>
    <details class="Box-row billing-box-accordion details-reset p-0 d-flex flex-items-center color-fg-muted">
      <summary class="Details-element">
        <div class="py-2 pr-3 d-flex user-select-none flex-items-center">
          <%# collapse / expand %>
          <div class="billing-box-accordion-state col-1 text-center color-fg-muted text-small">
            <%= primer_octicon(:"chevron-right") %>
          </div>
          <div class="d-flex flex-auto flex-justify-between flex-items-center">
            <%# usage %>
            <div class="my-1 col-md-6 col-8 pr-3">
              <div class="d-flex flex-md-row flex-column flex-items-baseline mb-1">
                <div class="flex-auto d-inline-block text-bold">Storage</div>
                <div class="text-small d-inline-block">
                  <% if data[:usage] <= data[:plan_included_gigabytes] %>
                    <strong><%= number_with_delimiter(data[:usage]) %></strong>
                    of <%= number_with_delimiter(data[:plan_included_gigabytes]) %> GB included
                  <% else %>
                    <strong><%= number_with_delimiter(data[:usage]) %></strong> GB used
                  <% end %>
                </div>
              </div>
              <div class="billing-box-progress tooltipped tooltipped-s tooltipped-no-delay" aria-label="<%= data[:usage_included] %>GB included + <%= data[:usage_paid] %>GB paid"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
                <% if data[:included_usage_percentage] <= 75 %>
                  <div class="billing-box-progress">
                    <%= render(Primer::Beta::ProgressBar.new(size: :small)) do |component| %>
                      <% component.with_item(bg: :accent_emphasis, percentage: data[:included_usage_percentage]) %>
                    <% end %>
                  </div>
                <% else data[:included_usage_percentage] <= 100 %>
                  <div class="billing-box-progress">
                    <%= render(Primer::Beta::ProgressBar.new(size: :small)) do |component| %>
                      <% component.with_item(bg: :attention_emphasis, percentage: data[:included_usage_percentage]) %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <%# price %>
            <div class="text-right color-fg-default"><%= data[:price].format(no_cents_if_whole: false) %></div>
          </div>
        </div>
      </summary>
      <%# breakdown %>
      <div class="d-flex pb-4">
        <div class="flex-shrink-0 col-1"></div>
        <div class="flex-auto mb-n2 pr-3 text-small">
          <table class="width-full text-left">
            <thead>
              <tr class="color-fg-muted lh-condensed">
                <th class="col-5"></th>
                <th class="text-bold col-2 pt-1 pb-2">Included</th>
                <th class="text-bold col-2 pt-1 pb-2">Paid</th>
                <th class="text-bold col-3 pt-1 pb-2">Price estimate / GB</th>
                <th class="col-1"></th>
              </tr>
            </thead>
            <tbody class="lh-condensed">
              <% data[:breakdown].each do |line| %>
                <tr>
                  <td class="py-2"><%= line[:name] %></td>
                  <td class="py-2"><%= line[:included] %></td>
                  <td class="py-2"><%= line[:paid] %></td>
                  <td class="py-2"><%= line[:price_per_gb].format(:no_cents_if_whole => false) %></td>
                  <td class="py-2 text-right color-fg-default"><%= line[:price].format(:no_cents_if_whole => false) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </details>
  </div>

  <%= render "billing_settings/spending_limit_footer",
    spending_limit_enabled: view.spending_limit_enabled?,
    spending_limit_path: view.spending_limit_path,
    amount: estimated_price,
    budget: view.actions_and_packages_budget %>
<% end %>
