<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box mb-4">
  <div class="Box-header d-flex flex-items-center">
    <div class="d-flex flex-items-center">
      <img width="32" height="32" alt="Actions" src="<%= image_path "modules/site/features/actions-icon-actions.svg" %>">
    </div>
    <div class="Box-title flex-auto ml-1 pl-2">
      <div>Actions</div>
      <% unless view.eligible_for_legacy_upsell? || view.product_moved_to_vnext?(view.account.business, :actions) %>
        <div class="text-small text-normal color-fg-muted">
          Included minutes quota resets in <%= view.days_to_next_metered_billing_date %>
        </div>
      <% end %>
    </div>
    <% if view.eligible_for_legacy_upsell? %>
      <%= render(Primer::Beta::Link.new(
        mr: 3, font_size: 6, font_weight: :bold,
        href: features_actions_path,
        data: {
          **analytics_click_attributes(
            category: "GitHub Legacy Plans",
            action: "click.learn_more",
            label: "location:billing_settings_actions_lite"
          )
        })) { "Learn more" } %>
      <%= render(Primer::ButtonComponent.new(
        scheme: :default, tag: :a, size: :small,
        href: view.compare_plans_link,
        data: {
          **analytics_click_attributes(
            category: "GitHub Legacy Plans",
            action: "click.compare_plans",
            label: "location:billing_settings_actions_lite"
          )
        })) { "Compare plans" } %>
    <% end %>
  </div>

  <% if view.eligible_for_legacy_upsell? %>
    <p class="m-3">GitHub Actions is not available for private repositories on legacy per-repository billing plans. Review your pricing plan to get access to this feature.</p>
  <% else %>
    <%= render(Billing::Settings::UsageLoaderComponent.new(
        loading_text: "Loading Actions data...",
        source: billing_settings_org_actions_usage_path,
        classes: "m-3 text-center")) %>
  <% end %>
</div>
