<div class="Box mb-4">
  <div class="Box-header color-bg-subtle d-flex flex-items-center" <%= test_selector("advanced-security-section") %>>
    <div class="d-flex flex-items-center">
      <img width="32" height="32" alt="GitHub Advanced Security" src="<%= image_path "modules/site/icons/security-icon.svg" %>">
    </div>
    <div class="Box-title flex-auto ml-1 pl-2">
      <div>GitHub Advanced Security</div>
      <div class="text-small text-normal color-fg-muted">
        Licenses are used by active committers
      </div>
    </div>
    <%#
      At present, this partial won't be loaded for a user's billing
      page anyway, but it's good to be robust.
    %>
    <% if defined?(target) && target.organization? %>
      <div>
        <%= link_to "Manage repositories", settings_org_security_analysis_path(organization_id: target), class: "btn btn-sm" %>
      </div>
    <% end %>
  </div>
  <div class="Box-row d-flex flex-items-center color-fg-muted">
    <div class="col-6">
      <%= render(AdvancedSecurity::SeatUsageComponent.new(
        size: :small,
        **view.advanced_security_usage
      )) %>
    </div>
    <div>
    <% if defined?(target) && (target.organization? ||  target.business?) %>
      <%= render(Billing::DownloadReportComponent.new(tag: :a, ml: 3, variant: :small, href: target.organization? ? org_download_active_committers_path(target) : settings_download_active_committers_path(target))) %>
    <% end %>
    </div>
  </div>
</div>
