<div class="border-top" <%= test_selector("lfs_bandwidth_breakdown") %>>
  <ul>
    <% lfs_bandwidth_breakdown(target).each do |item| %>
      <li class="d-flex Box-row pl-0">
        <div class="flex-shrink-0 col-1"></div>

        <div>
          <%= render Primer::Beta::Octicon.new(icon: item[:repo].private? ? :lock : :repo) %>
          <a href="<%= item[:repo].permalink %>"><%= item[:repo].name_with_display_owner %></a>
        </div>

        <div class="text-small" style="margin-left: auto"><%= number_to_human_size(item[:bandwidth_b]) %></div>
      </li>
    <% end %>
  </ul>
</div>
