<%
  default_open = default_open.present? ? default_open : false
%>
<%= render layout: "shared/details_dialog", locals: {
  button_text: "Get usage report",
  button_class: "btn btn-sm",
  button_icon: "file",
  title: "Get usage report",
  default_open: default_open
} do %>
  <%= form_tag url, method: :post do %>
    <div class="mx-4 mt-3 mb-4">
      <p>
        A full detailed report will be generated including usage for all eligible <strong>GitHub</strong> products.
      </p>
      <p>
        You’ll receive an email at <strong <%= test_selector "export-email" %>><%= email %></strong> as soon as it’s ready (it may take up to a couple of hours).
      </p>
    </div>

    <% Billing::MeteredUsageReportGenerator::VALID_DURATIONS.each_with_index do |duration, i| %>
      <hr>
      <div class="form-group px-4">
        <%= label_tag "days_#{duration}" do %>
          <%= radio_button_tag :days, duration, i.zero?, class: "mr-1" %>
          Last <%= duration %> days
          <span class="f6 color-fg-muted text-normal">(<%= duration.days.ago.strftime("%D") %> - <%= Date.today.strftime("%D") %>)</span>
        <% end %>
      </div>
    <% end %>
    <hr>

    <div class="mx-4 mt-4">
      <%= button_tag "Send report to email", type: :submit, class: "btn btn-block btn-primary mb-3" %>
    </div>
  <% end %>
<% end %>
