<% show_comparison_link = false if show_comparison_link.nil? %>
<% comparison_link_data ||= {}%>
<% if defined?(cancellation) %>
  <div class="text-center">
    <% if defined?(new_plan) %>
      <h3>You are downgrading to <%= branded_plan_name(new_plan) %></h3>
    <% end %>
    <div class="color-fg-subtle">
      After <%= target.next_billing_date.to_formatted_s(:long) %>, <%= target.organization? ? target.name : "your account" %> features and limits will change.
      <% if defined?(new_plan) && new_plan == GitHub::Plan.free && target.organization? %> Any codespaces billed to your organization will be removed. <% end %>
      <% if defined?(new_plan) && (target.is_a?(Organization) || target.is_a?(Business)) && SshCertificateAuthority.usable_for(target).count > 0 %> Any SSH certificate authorities will be disabled<% if target.ssh_certificate_requirement_enabled? %> and your SSH certificate requirement will be removed<% end %>. <% end %>
      <% if show_comparison_link %><%= render(Primer::Beta::Link.new(href: "https://github.com/pricing", data: comparison_link_data, classes: "Link--inTextBlock")) { "See full plan comparison." } %><% end %>
    </div>
  </div>
<% else %>
  <p>Your changes will take effect on <strong><%= target.next_billing_date.to_formatted_s(:long) %></strong></p>
<% end %>
