<%# Row 1 %>
<% if view.view_from == :upgrade %>
  <div class="d-flex gutter-condensed">
    <div class="col-6">
      <% if view.eligible_for_sales_tax? %>
        <h3 class="f4">New subtotal</h3>
      <% else %>
        <h3 class="f4" >New <%= view.duration %>ly total</h3>
      <% end %>
      <% if view.price_prorated? %>
        <p class="f6 color-fg-muted">Starting <%= view.account.next_billing_date %></p>
      <% end %>
    </div>
    <div class="col-6 text-right">
      <span class="f4 text-bold" <%= test_selector("plan_unit_price") %> ><%= view.renewal_list_price.format %></span>
      <span class="f5 text-normal"> / <%= view.duration %></span>
    </div>
  </div>
<% elsif view.view_from == :orgs_creation && view.eligible_for_sales_tax? %>
  <div class="d-flex">
    <div class="col-6">
      <span class="text-normal color-fg-muted">Subtotal</span>
    </div>
    <div class="col-6 text-right">
      <span class="text-normal color-fg-muted"><%= view.per_seat_pricing_model.final_price.format %></span>
    </div>
  </div>
<% end %>

<%# Row 2 %>
<% if view.eligible_for_sales_tax? %>
  <div class="d-flex gutter-condensed pb-3 border-bottom mt-1">
    <div class="col-6">
      <span class="text-normal color-fg-muted" <%= test_selector("sales-tax-label") %>>Sales tax</span>
    </div>
    <div class="col-6 text-right">
      <span class="text-normal color-fg-muted" <%= test_selector("sales-tax-value") %>>(applied to your invoice)</span>
    </div>
  </div>
<% elsif view.view_from == :upgrade %>
  <div class="pb-3 border-bottom"></div>
<% end %>

<%# Row 3 %>
<div class="py-3">
  <div class="d-flex gutter-condensed">
    <div class="col-6">
      <h3 class="lh-condensed">
        <% if !view.effective_immediately? %>
          Payment due <div><%= view.account.next_billing_date.strftime("%b %e, %Y") %></div>
        <% else %>
          Due today
        <% end %>
      </h3>
      <% if view.price_prorated? && view.view_from == :upgrade %>
        <p class="f6 color-fg-muted">Prorated for <%= pluralize view.plan_change.new_subscription.service_days_remaining, "day" %></p>
      <% end %>
    </div>
    <div class="col-6 text-right mt-n1">
      <% if view.view_from == :upgrade %>
        <span class="f1 d-block unstyled-final-price-text unstyled-payment-due">
          <%= view.changing_duration? ? view.final_price(github_only: false).format : view.final_price(github_only: true).format %>
        </span>
      <% else %>
        <span class="f1 d-block unstyled-final-price-text unstyled-payment-due">
          <%= view.per_seat_pricing_model.final_price.format %>
        </span>
      <% end %>
      <% if view.changing_to_business_plus? && view.coupon? %>
        <span class="f6 color-fg-muted">
          Coupons don't apply to <%= GitHub::Plan.business_plus.display_name.humanize %> plan upgrades
        </span>
      <% end %>
    </div>
  </div>
</div>
