<%# Row 1 %>
<div class="clearfix Details js-details-container">
  <div class="d-block clearfix pb-1">
    <div class="float-left">
      <% if view.account.display_sales_tax_on_checkout? %>
        <h3 class="f4">New subtotal</h3>
      <% else %>
        <h3 class="f4">Total amount</h3>
      <% end %>
    </div>
    <div class="float-right d-inline-block">
      <div class="d-block">
        <span class="f4 text-bold d-inline unstyled-renewal-price" <%= test_selector("total-amount") %>><%= view.renewal_list_price.format %></span>
        <span class="f5 text-normal d-inline text-right"> / <%= view.duration %></span>
      </div>
    </div>
  </div>
</div>

<%# Row 2 %>
<% if view.account.display_sales_tax_on_checkout? %>
  <div class="pb-3 d-flex gutter-condensed">
    <div class="col-6">
      <span class="text-normal color-fg-muted" <%= test_selector("sales-tax-label") %>>Sales tax</span>
    </div>
    <div class="col-6 text-right">
      <span class="text-normal color-fg-muted" <%= test_selector("sales-tax-value") %>>(applied to your invoice)</span>
    </div>
  </div>
<% else %>
  <div class="pb-3"></div>
<% end %>

<%# Row 3 %>
<div class="border-bottom py-3 d-flex flex-justify-between flex-items-center <%= view.amount_due_new_style %>">
  <div>
    <span class="f4 text-bold">
      <% if !view.effective_immediately? %>
        Payment due <%= view.account.next_billing_date.strftime("%b %e, %Y") %>
      <% else %>
        Due today
      <% end %>
    </span>
  </div>
  <p class="float-right mb-0 lh-condensed">
    <span class="h2 d-block text-right unstyled-payment-due">
      <%= view.changing_duration? ? view.final_price(github_only: false).format : view.final_price(github_only: true).format %>
    </span>
    <% if view.changing_to_business_plus? && view.coupon? %>
      <span class="text-small d-block color-fg-muted">
        Coupons don't apply to <%= GitHub::Plan.business_plus.display_name.humanize %> plan upgrades.
      </span>
    <% end %>
  </p>
</div>
