<%# `view` is BillingSettings::OverviewView %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Billing &amp; plans<% end %>
  <% component.with_actions do %>
    <%= render "billing_settings/metered_export_form",
      url: view.path_for_export,
      email: Billing::MeteredUsageReportGenerator.email_for_export(requester: current_user, target: view.account) %>
  <% end %>
<% end %>

<% if view.metered_billing_enabled? %>
  <%= render(Billing::Settings::UsageLoaderComponent.new(
    source: billing_settings_org_usage_notification_path,
    test_selector: "top_usage_notification")) %>
<% end %>

<%= render Billing::Settings::DepletedPrepaidCreditsBannerComponent.new(
  is_enabled: view.show_depleted_prepaid_credits_banner?,
  is_invoiced: target.invoiced?,
  has_dismissed_notice: current_user.dismissed_organization_notice?("depleted_prepaid_credits", target),
  dismissal_path: dismiss_org_notice_path(target, input: { organizationId: target.id, notice: "depleted_prepaid_credits" })) %>

<div class="mb-4">
  <p>
    This organization is part of <strong><%= business.name %></strong> and is billed at the enterprise level. <br>
    For more details,
    <% if business.billing_manager?(current_user) || business.owner?(current_user) %>
      view your enterprise account <%= link_to "billing settings", settings_billing_enterprise_path(business), class: "Link--inTextBlock" %>.
    <% elsif business.owners.any? %>
      contact your enterprise owners.
      <div <%= test_selector "enterprise-owners" %>>
        See all <%= link_to "enterprise owners", org_enterprise_owners_path(target), class: "Link--inTextBlock" %>.
      </div>
    <% else %>
      <%= link_to "contact sales", ent_contact_url, class: "Link--inTextBlock" %>.
    <% end %>
  </p>
</div>

<%= render(Billing::Settings::IncorrectLineItemUsageProcessingNoticeComponent.new) %>

<% if view.show_copilot_for_business_card? %>
  <%= render "billing_settings/github_copilot_section", view: view, target: target, copilot_organization: Copilot::Organization.new(this_organization) %>
<% end %>
<% if view.actions_enabled? || view.eligible_for_legacy_upsell? %>
  <%= render "billing_settings/github_actions_section_lite", view: view, target: target %>
<% end %>
<% if view.advanced_security_purchased? %>
  <%= render "billing_settings/github_advanced_security_section", view: view, target: target %>
<% end %>
<% if view.packages_enabled? || view.eligible_for_legacy_upsell? %>
  <%= render "billing_settings/github_packages_section_lite", view: view, target: target %>
<% end %>
<% if view.metered_billing_enabled? || view.eligible_for_legacy_upsell? %>
  <%= render "billing_settings/github_storage_section_lite", view: view, account: account %>
<% end %>
<% if (view.metered_billing_enabled? || view.eligible_for_legacy_upsell?) && view.product_moved_to_vnext?(view.account.business, :actions) %>
  <%= render "billing_settings/github_packages_storage_section_lite", view: view, account: account %>
<% end %>

<% if view.codespaces_ui_enabled? %>
  <%= render Billing::Settings::Codespaces::UsageComponent.new(
    account: view.account,
  ) %>
<% end %>

<%= render "billing_settings/lfs_usage_section", view: view, target: target %>

<%= render "billing_settings/marketplace_plan_section", view: view, target: target %>

<% if view.show_sponsors? %>
  <turbo-frame id="sponsors-section-turbo-container">
    <div id="sponsors-section-pjax-container">
      <%= render Billing::Settings::SponsorsOverviewComponent.new(
        user_or_org: target,
        active_tab: sponsors_tab,
      ) %>
    </div>
  </turbo-frame>

  <%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center) do |component| %>
    <% component.with_heading(tag: :h2) do %>Billing management<% end %>
  <% end %>
  <p>
    Receipts are sent to billing managers and email recipients.
  </p>
  <%= render "billing_settings/billing_managers", view: create_view_model(BillingManagers::IndexView, organization: view.account) %>
  <%= render "billing_settings/billing_external_emails_section", view: view, organization: view.account, target: target %>
<% end %>
