<% return_to = return_to ? {:return_to => return_to} : {} %>
<span class="payment-method js-payment-summary">
  <% unless target.organization? && target.business.present? %>
    <% payment_method = target.payment_method %>
    <% if target.has_paypal_account? %>
      <b>Charge to</b>
      <img alt="PayPal" src="<%= image_path "paypal/paypal-small.png" %>" valign="middle">
      <%= payment_method.paypal_email %>
    <% elsif target.has_credit_card? %>
      <%= primer_octicon(:"credit-card") %>
      <b>Charge to your <%= payment_method.card_type %></b>
      (<%= payment_method.formatted_number %>)
    <% else %>
      <%= primer_octicon(:"credit-card") %>
      <strong>No payment method on file.</strong>
    <% end %>

    <% if target.has_valid_payment_method? %>
      —
      <%= link_to "Change", target_payment_method_path(target, return_to) %>
    <% elsif target.coupon && target.coupon&.one_hundred_percent_discount? %>
      <%= link_to "Add one", target_payment_method_path(target, return_to) %>
    <% else %>
      <%= link_to "Add one to complete purchase.", target_payment_method_path(target, return_to) %>
    <% end %>
  <% end %>
</span>
