<% if (account.personal_plan? && account.plan.free?) || account.org_free_plan? %>
<% elsif view.apple_iap_subscription? %>
  Your GitHub Pro subscription is billed through Apple Pay.
  <% if view.account.next_payment_due_on %>
    Your subscription is paid through <%= view.account.next_billing_date&.strftime("%B %d, %Y") %>
  <% end %>
  You can cancel or update your information through
  <%= link_to "their platform", apple_app_store_subscriptions_url, class: "Link--inTextBlock" %>.
<% else %>
  <% if account.over_plan_limit? || account.plan.repos == 0 %>
    <%= pluralize(account.plan.repos, "private repository") %>.
  <% elsif account.plan.pro? %>
    <span class="h4">$<%= GitHub::Plan.pro.cost %></span>
    <span class="color-fg-muted">per month</span>
  <% else %>
    <div class="f5 color-fg-muted" <%= test_selector("over-limit") if view.repo_usage_percentage >= 100 %>>
      <strong class="color-fg-default"><%= account.owned_private_repositories.count %></strong> of
      <strong class="color-fg-default"><%= account.plan.repos %> <%= "private repository".pluralize(account.plan.repos) %></strong> used
    </div>
  <% end %>
<% end %>
