<% view = BillingSettings::PlanTableView.new :selected_account => selected_account, :selected_plan => selected_plan, :coupon => coupon, :request => request %>
<% html_options = local_assigns[:html_options] || {} %>

<table class="boxed-group-table setup-plans js-details-container Details currency-container js-billing-plans <%= html_options[:class] %> mb-2 rounded-2" <%= view.plan_table_data(account) %>><%# erblint:disable DeprecatedCustomCss %>
  <thead>
    <tr>
      <th class="v-align-middle border-bottom">Plan</th>
      <th class="v-align-middle border-bottom num">
        Price
      </th>
      <th class="v-align-middle border-bottom num">Private repositories</th>
      <th class="v-align-middle border-bottom"></th>
    </tr>
  </thead>
  <tbody>
    <% if coupon.try(:plan).present? %>
      <%= render :partial => "billing_settings/plan_row", :locals => { :view => view, :account => account, :plan => view.coupon_plan, :choose => false} %>
    <% else %>
      <% view.plans_for(account).each do |plan| %>
        <%= render :partial => "billing_settings/plan_row", :locals => { :view => view, :account => account, :plan => plan, :choose => true } %>
      <% end %>
      <% unless view.plans_for(account).include? account.plan %>
        <%= render :partial => "billing_settings/plan_row", :locals => { :view => view, :account => account, :plan => account.plan, :choose => false } %>
      <% end %>
    <% end %>
  </tbody>
</table>
