<%# erblint:counter DeprecatedComponentsCounter 1 %>
<tr class="plan-row js-plan-row <%= plan.display_name %>-plan <%= view.plan_selected(account, plan) %>" <%= view.plan_row_data(account, plan) %>>
  <td class="v-align-middle name"><%= view.plan_name(plan) %></td>
  <td class="v-align-middle num">
    <% if plan.free? %>
      Free
    <% else %>
      <% if view.coupon %>
        <span class="default-currency">
          <strike><%= full_plan_pricing(account, plan) %></strike>
          <br>
          <%= view.discounted_plan_pricing(account, plan) %>
        </span>
        <span class="local-currency">
          <strike><%= full_plan_pricing(account, plan) %></strike>
          <br>
          <%= view.discounted_plan_pricing(account, plan) %>
        </span>
      <% else %>
        <span class="default-currency"><%= full_plan_pricing(account, plan) %></span>
        <span class="local-currency"><%= full_plan_pricing(account, plan) %></span>
      <% end %>
    <% end %>
  </td>
  <td class="v-align-middle num"><%= plan.unlimited? ? "Unlimited" : plan.repos %></td>
  <td class="v-align-middle text-right">
    <% if choose %>
      <%= render Primer::ButtonComponent.new(variant: :small, classes: "choose-plan js-choose-plan") do %>
        <% if account.plan == plan %>
          Choose
        <% else %>
          <%= account.plan.cost < plan.cost ? "Upgrade" : "Downgrade" %>
        <% end %>
      <% end %>
    <% end %>
  </td>
</tr>
