<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%# `view` is BillingSettings::OverviewView %>
<%
  subscription = view.account_plan_subscription
%>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    Current plan
  <% end %>
  <% if view.account_can_upgrade? %>
    <% component.with_actions do %>
      <a href="<%= view.compare_plans_link %>"
        class="btn btn-sm"
        <%= safe_analytics_click_attributes(
          category: "#{analytics_account_prefix(view.account)} Compare all plans",
          action: "click to compare all plans",
          label: "ref_cta:Compare all plans;ref_loc:billing_settings"
        ) %>
      >
        Compare all plans
      </a>

      <a href="<%= view.compare_plans_link %>"
        class="btn btn-sm btn-primary ml-2"
        <%= safe_analytics_click_attributes(
          category: "#{analytics_account_prefix(view.account)} Upgrade",
          action: "click to upgrade",
          label: "ref_cta:Upgrade;ref_loc:billing_settings"
        ) %>
        <%= test_selector("billing-user-upgrade-option") %>
      >
        Upgrade
      </a>
    <% end %>
  <% end %>
<% end %>

<% if subscription.on_free_trial? %>
  <%= render "billing_settings/enterprise_cloud_free_trial_section",
    organization: target
  %>
<% else %>
  <%= render "billing_settings/github_usage_section", view: view, target: target, is_trial_expired: view.show_expired_cloud_trial?(target) %>
<% end %>

<%= render Billing::Settings::PersonalContextSwitcherComponent.new(account: target) %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    Add-ons
  <% end %>
<% end %>

<% if view.copilot_enabled_for_user?(view.account) && view.copilot_user.present? %>
  <%= render Billing::Settings::Copilot::BoxComponent.new(
    subscription_item: view.copilot_subscription_item,
    eligible_for_free_trial: view.eligible_for_copilot_free_trial?,
    qualifies_for_free_usage: view.qualifies_for_free_copilot_usage?,
    has_signed_up: view.copilot_user.has_signed_up?,
    copilot_organization: view.copilot_user.copilot_organization,
    copilot_user: view.copilot_user,
    update_payment_method_href: view.update_payment_method_path
  ) %>
<% elsif view.show_buy_copilot_for_business_card? %>
  <%= render Billing::Settings::Copilot::BuyBoxComponent.new(organization: current_organization) %>
<% end %>

<%= render Billing::Settings::GhasTrialUpsell::BoxComponent.new(organization: current_organization, user: current_user) %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2, id: "usage") do %>
    Usage this month
  <% end %>
  <% component.with_actions do %>
    <%= render "billing_settings/metered_export_form",
      url: view.path_for_export,
      email: Billing::MeteredUsageReportGenerator.email_for_export(requester: current_user, target: view.account),
      default_open: params["open_metered_usage_report"]
    %>
  <% end %>
<% end %>

<%= render(Billing::Settings::IncorrectLineItemUsageProcessingNoticeComponent.new) %>

<% if view.show_copilot_for_business_card? && current_organization.present? %>
  <%= render "billing_settings/github_copilot_section", view: view, target: target, copilot_organization: controller.current_copilot_organization %>
<% end %>

<% if view.actions_enabled? || view.eligible_for_legacy_upsell? %>
  <%= render "billing_settings/github_actions_section", view: view, target: target %>
<% end %>

<% if view.advanced_security_purchased? %>
  <%= render "billing_settings/github_advanced_security_section", view: view, target: target %>
<% end %>

<% if view.packages_enabled? || view.eligible_for_legacy_upsell? %>
  <%= render "billing_settings/github_packages_section", view: view, target: target %>
<% end %>

<% if view.metered_billing_enabled? || view.eligible_for_legacy_upsell? %>
  <%= render "billing_settings/github_storage_section", view: view, target: target %>
<% end %>

<% if view.codespaces_ui_enabled? %>
  <%= render Billing::Settings::Codespaces::UsageComponent.new(
    account: view.account,
  ) %>
<% end %>

<%= render "billing_settings/lfs_usage_section", view: view, target: target %>

<% if view.show_sponsors? %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      GitHub Sponsors
    <% end %>
  <% end %>
  <turbo-frame id="sponsors-section-turbo-container">
    <div id="sponsors-section-pjax-container">
      <%= render Billing::Settings::SponsorsOverviewComponent.new(
        user_or_org: target,
        active_tab: sponsors_tab,
      ) %>
    </div>
  </turbo-frame>
<% end %>

<% if view.show_marketplace? %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      GitHub Marketplace
    <% end %>
  <% end %>

  <%= render "billing_settings/marketplace_plan_section", view: view %>
<% end %>

<% if view.account.organization? %>
  <%= render Primer::Beta::Subhead.new(display: :flex, align_items: :center) do |component| %>
    <% component.with_heading(tag: :h2) do %>Billing Management<% end %>
  <% end %>
  <p>
    Receipts are sent to billing managers and email recipients.
  </p>
  <%= render "billing_settings/billing_managers", view: create_view_model(BillingManagers::IndexView, organization: view.account) %>
  <%= render "billing_settings/billing_external_emails_section", view: view, organization: view.account, target: target %>

  <%= render(Billing::Settings::AzureMeteredBillingComponent.new(view: view, target: view.account)) %>

<% end %>
