<%
selected_link = if target.is_a?(Business)
  target.billed_via_billing_platform? ? :business_billing_vnext_past_invoices : :business_billing_settings
else
  :organization_billing_settings
end
%>
<% page_info responsive: false, title: "Payment details", selected_link: selected_link %>

<% content = capture do %>
  <div class="d-flex border-bottom flex-items-center py-3">
    <div class="col-6 pr-4">
        <h4 class="lh-condensed">
          Amount due
        </h4>
        <p class="mb-0 lh-condensed">
          <span class="h2 d-block">
            $<%= number_with_precision invoice.balance, precision: 2  %>
          </span>
        </p>
    </div>
    <div class="col-6 pl-4">
      <div class="d-flex flex-justify-end flex-items-center">
        <p class="mb-0 lh-condensed">
          <span class="d-block">
            <a href="<%= target_show_invoice_path(target, invoice.number&.downcase) %>" target="_blank" rel="noopener noreferrer"><%= primer_octicon(:download, mr: 1) %>Download PDF of invoice</a>
          </span>
        </p>
      </div>
    </div>
  </div>
  <%= render Billing::Settings::ZuoraHppContainerComponent.new(
    signature_path: target_invoice_signature_path(target, invoice.number&.downcase),
    hydro_payload: {
      account_id: target.id,
    },
  ) %>
<% end %>

<% if target.is_a?(Business) %>
  <%= render layout: "businesses/layout", locals: {
    business: target,
    title: "Pay invoice",
    back_to_link_path: target_billing_path(target),
    back_to_link_text: "billing overview",
  } do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "orgs/settings/layout", locals: { organization: target } do %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>
        <%= link_to "Billing", target_billing_path(target), "data-pjax" => true %>
           / Pay invoice
      <% end %>
    <% end %>
    <%= content %>
  <% end %>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "billing" %>
<% end %>
