<%
  page_info responsive: false, title: "Payment history", selected_link: :"#{params[:target] || "user"}_billing_settings"
%>

<% content = capture do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <%= link_to "Billing & plans", target_billing_path(target), "data-pjax": true %>
         / Payment history
    <% end %>
  <% end %>

  <% if iap.apple_in_app_purchases? %>
    <%= render "billing_settings/apple_iap_banner",
      button_title: "View subscriptions",
      message: "Some subscriptions are billed through Apple Pay and receipts are not visible here. View your transaction history on the App Store.",
      user: target
    %>
  <% end %>

  <% if iap.google_in_app_purchases? %>
    <%= render "billing_settings/google_iap_banner",
      button_title: "View subscriptions",
      message: "Some subscriptions are billed through Google Play and receipts are not visible here. View your transaction history on the Google Play Store.",
      user: target
     %>
  <% end %>

  <% if payment_records.present? %>
    <%= render Billing::Settings::PaymentHistoryComponent.new(payment_records: payment_records, has_payment_method: !!target&.payment_method) %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
      <% c.with_visual_icon(icon: "credit-card") %>
      <% c.with_heading(tag: :h2) do %>
        You have not made any payments.
      <% end %>
    <% end %>
  <% end %>

  <p class="note">Amounts shown in USD</p>
<% end %>

<% if current_context.is_a?(Organization) %>
  <%= render layout: "orgs/settings/layout" do %>
    <%= content %>
  <% end %>
<% else %>
  <%= render layout: "settings/settings" do %>
    <%= content %>
  <% end %>
<% end %>
