<div class="js-actions-runner-instructions">
  <%= render partial: "actions/settings/add_runner_selection", locals: {
      platform: platform,
      os: os,
      architecture: architecture,
      downloads: downloads,
      platform_options: platform_options
    }
  %>

  <h2 class="f5 py-2 mt-3">Download</h2>

  <div class="js-actions-runner-windows-arm64-preview"<% if !(platform == "win" && architecture == "arm64") %> hidden<% end %>>
    <p>Win-arm64 runners are currently in pre-release status and subject to change.</p>
  </div>
  <div class="js-actions-runner-windows-instructions"<% if platform != "Windows" %> hidden<% end %>>
    <p>We recommend configuring the runner under "\actions-runner". This will help avoid issues related to service identity folder permissions and long path restrictions on Windows.</p>
    <%= commands = [
        { desc: "Create a folder under the drive root", body: "mkdir actions-runner; cd actions-runner" },
      ]
      if selected_download.download_token.present?
        commands.push({
          desc: "Download the latest runner package",
          body_arr: ["Invoke-WebRequest -Headers @{ 'Authorization' = 'Bearer ", content_tag(:span, selected_download.download_token, class: "js-action-runner-token", style: "white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; width: 100%"), "' } -Uri ", content_tag(:span, selected_download.download_url, class: "js-action-runner-url"), " -OutFile ", content_tag(:span, selected_download.filename, class: "js-action-runner-filename")]
        })
      else
        commands.push({
        desc: "Download the latest runner package",
        body_arr: ["Invoke-WebRequest -Uri ", content_tag(:span, selected_download.download_url, class: "js-action-runner-url"), " -OutFile ", content_tag(:span, selected_download.filename, class: "js-action-runner-filename")]
      })
      end
      if selected_download.sha256_hash.present?
        commands.push({
          desc: "Optional: Validate the hash",
          body_arr: ["if((Get-FileHash -Path ", content_tag(:span, selected_download.filename, class: "js-action-runner-filename"), " -Algorithm SHA256).Hash.ToUpper() -ne '", content_tag(:span, selected_download.sha256_hash, class: "js-action-runner-hash"), "'.ToUpper()){ throw 'Computed checksum did not match' }"]
        })
      end
      commands.push({
        desc: "Extract the installer",
        body_arr: ["Add-Type -AssemblyName System.IO.Compression.FileSystem ; [System.IO.Compression.ZipFile]::ExtractToDirectory(\"$PWD/", content_tag(:span, selected_download.filename, class: "js-action-runner-filename"), "\", \"$PWD\")"]
      })
      render partial: "actions/settings/add_runner_code", locals: {
        platform: "win",
        commands: commands
    } %>

      <h2 class="f5 py-2">Configure</h2>

      <%= render partial: "actions/settings/add_runner_code", locals: {
        platform: "win",
        commands: [
          { desc: "Create the runner and start the configuration experience", body: "./config.cmd --url #{registration_url} --token #{token}" },
          { desc: "Run it!", body: "./run.cmd" }
        ]
      } %>
  </div>

  <div class="js-actions-runner-unix-instructions"<% if platform == "Windows" %> hidden<% end %>>
    <%= unix_commands = [
        { desc: "Create a folder", body: "mkdir actions-runner && cd actions-runner" }
      ]
      if selected_download.download_token.present?
        unix_commands.push({
          desc: "Download the latest runner package",
          body_arr: [
            "curl -o ",
            content_tag(:span, selected_download.filename, class: "js-action-runner-filename"),
            " -L -H 'Authorization: Bearer ",
            content_tag(:span, selected_download.download_token, class: "js-action-runner-token", style: "white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; width: 100%"),
            "' ",
            content_tag(:span, selected_download.download_url, class: "js-action-runner-url")
          ]
        })
      else
        unix_commands.push({
            desc: "Download the latest runner package",
            body_arr: ["curl -o ", content_tag(:span, selected_download.filename, class: "js-action-runner-filename"), " -L ", content_tag(:span, selected_download.download_url, class: "js-action-runner-url")]
        })
      end
      if selected_download.sha256_hash.present?
        unix_commands.push({
          desc: "Optional: Validate the hash",
          body_arr: ["echo \"", content_tag(:span, selected_download.sha256_hash, class: "js-action-runner-hash"), content_tag(:span, "  ", style: "white-space: pre-wrap"), content_tag(:span, selected_download.filename, class: "js-action-runner-filename"), "\" | shasum -a 256 -c"]
        })
      end
      unix_commands.push({
        desc: "Extract the installer",
        body_arr: ["tar xzf ./", content_tag(:span, selected_download.filename, class: "js-action-runner-filename")]
      })
      render partial: "actions/settings/add_runner_code", locals: {
        platform: "unix",
        commands: unix_commands
    } %>

    <h2 class="f5 py-2">Configure</h2>

    <%= render partial: "actions/settings/add_runner_code", locals: {
      platform: "unix",
      commands: [
        { desc: "Create the runner and start the configuration experience", body: "./config.sh --url #{registration_url} --token #{token}" },
        { desc: "Last step, run it!", body: "./run.sh" }
      ]
    } %>
  </div>

  <h2 class="f5 py-2">Using your self-hosted runner</h2>

  <div class="color-bg-subtle border-0 rounded-2 p-3">
    <code class="f6 p-0 lh-default">
    <span class="color-fg-muted px-2"># Use this YAML in your workflow file for each job</span><br>
      <%= render partial: "actions/settings/copy_code_snippet", locals: {
        dom_id: "self-hosted-yaml",
        text: "runs-on: self-hosted"
      } %>
    </code>
  </div>
  <p class="py-2">
    For additional details about configuring, running, or shutting down the runner, please check out our
    <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/github/automating-your-workflow-with-github-actions/hosting-your-own-runners">product docs</a>.
  </p>
</div>
