<%
  prompt ||= nil
%>

<%= render Primer::Beta::ClipboardCopy.new("aria-label": "Copy text", display: :block, position: :relative, px: 2, py: 1, classes: "CopyBlock", "data-copy-feedback": "Copied!", "data-tooltip-direction": "ne", role: "button", tabindex: "0", for: dom_id) do %>
  <% if prompt.present? %>
    <span class="color-fg-muted"><%= prompt %></span>
  <% end %>
  <span id="<%= dom_id %>"><%= text %></span>
  <%= primer_octicon(:copy, color: :accent, position: :absolute, mr: 1, mt: 1, right: 0, top: 0) %>
  <%= primer_octicon(:check, color: :success, position: :absolute, mr: 1, mt: 1, display: :none, right: 0, top: 0) %>
<% end %>
