<div class="d-flex flex-column flex-justify-end">
  <%= render(Actions::RunnerFilterComponent.new(owner: current_repository.owner, viewer: current_repository, runners: runners, owner_settings: view
    )) do |component| %>
  <% end %>
    <% if runners.respond_to?(:total_pages) %>
      <div class="paginate-container">
        <div class="pagination">
          <%= will_paginate(runners, param_name: :page) %>
        </div>
      </div>
    <% end %>
</div>
<% if runner_scale_sets.any? %>
  <div class="mt-5">
    <div class="h4 mb-2" <%= test_selector("scale-sets-list-title") %>> Runner scale sets </div>
    <%= render(Actions::RunnerListComponent.new(runners: runner_scale_sets, owner_settings: view, can_manage_runners: false, viewing_from_a_repository: true)) %>
  </div>
<% end %>
<% if shared_runners.any? || hosted_runner_group %>
  <div class="mt-5">
    <div class="h4 mb-2"> Shared with this repository </div>
    <%= render(Actions::RunnerListComponent.new(runners: shared_runners, owner_settings: view, hosted_runner_group: hosted_runner_group, can_manage_runners: false, viewing_from_a_repository: true)) %>
    <% if shared_runners.respond_to?(:total_pages) %>
      <div class="paginate-container">
        <div class="pagination">
          <%= will_paginate(shared_runners, param_name: :shared_page) %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
