<%= render Primer::Box.new(display: :flex, direction: :column) do %>
  <div>
    <%= render Primer::Beta::Text.new(tag: :div, font_weight: :bold).with_content("Recommended secrets") %>
    <%= render Primer::Beta::Text.new(tag: :div, color: :muted, font_size: :small) do %>
      This repository may require these secrets to function properly.
      Manage all secrets in your <%= render Primer::Beta::Link.new(href: "/settings/codespaces", target: :blank, classes: "Link--inTextBlock").with_content("Codespaces Settings") %>.
    <% end %>
  </div>

  <% missing_declared_secrets.each do |secret| %>
    <%= render Codespaces::AdvancedOptions::DeclarativeSecretComponent.new(secret) do |component| %>
      <% component.with_field_tag do %>
        <%= password_field_tag(
          :declarative_secrets_hash,
          nil,
          data: {
            name: secret[:name],
            action: "blur:new-codespace#declarativeSecretsHashUpdated",
            public_key: public_key[1],
          },
          placeholder: "Enter the secret value",
          disabled: false,
          required: false,
          class: "width-full form-control my-1",
        ) %>
      <% end %>
    <% end %>
  <% end %>

  <% existing_unassociated_secrets.each do |secret| %>
    <%= render Codespaces::AdvancedOptions::DeclarativeSecretComponent.new(secret) do |component| %>
      <% component.with_field_tag do %>
        <%= render Primer::Box.new(my: 1, display: :flex) do %>
          <%= check_box_tag(
            :existing_secrets,
            value: secret[:name], # We don't care what the value is as long as it's not empty
            data: {
                name: secret[:name],
                action: "click:new-codespace#declarativeSecretsHashUpdated",
                public_key: public_key[1],
              },
            multiple: true,
            checked: false,
            class: "mr-1"
          ) %>
          <%= render Primer::Beta::Text.new(tag: :label, font_size: :small, font_weight: :normal).with_content("Associate with repository?") %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% existing_associated_secrets.each do |secret| %>
    <%= render Codespaces::AdvancedOptions::DeclarativeSecretComponent.new(secret) do |component| %>
      <% component.with_field_tag do %>
        <%= render Primer::Box.new(my: 1, display: :flex) do %>
          <%= check_box_tag("existing secrets", value: nil, multiple: true, checked: true, disabled: true, class: "mr-1") %>
          <%= render Primer::Beta::Text.new(tag: :label, font_size: :small, font_weight: :normal).with_content("Associated with repository") %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
