<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Box.new(display: :flex, justify_content: :space_between) do %>
  <%= render Primer::Box.new do %>
    <%= render Primer::Beta::Text.new(tag: :div, font_weight: :bold).with_content("Region") %>
      <%= render Primer::Beta::Text.new(
        tag: :div,
        color: :muted,
        font_size: :small
      ).with_content("Your codespace will run in the selected region") %>
  <% end %>
  <details class="details-reset details-overlay position-relative">
    <%= render Primer::ButtonComponent.new(tag: :summary, display: :block, mt: 1) do %>
      <span data-menu-button class="text-normal">
        <% if selected_location %>
          <span><%= display_name(selected_location) %></span>
        <% else %>
          <span>Select a location</span>
        <% end %>
      </span>
      <span class="dropdown-caret float-right mt-2"></span>
    <% end %>
    <details-menu class="select-menu-modal width-full position-absolute right-0" style="z-index: 99; min-width: 140px;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <div class="select-menu-list" id="geo-menu-list">
        <% geos.each do |geo| %>
          <label class="select-menu-item <%= "selected" if geo == selected_location %>" tabindex="0" role="menuitemradio">
            <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
            <div class="select-menu-item-text">
              <input type="radio" name="geo" value="<%= geo %>" <% if geo == selected_location %>checked<% end %> data-autosubmit>
              <span class="select-menu-item-text text-normal" data-menu-button-contents><%= display_name(geo) %></span>
            </div>
          </label>
        <% end %>
      </div>
    </details-menu>
  </details>
<% end %>
