<%= render Primer::Box.new(display: :flex, justify_content: :space_between, col: 12) do %>
  <%= render Primer::Box.new do %>
    <%= render Primer::Beta::Text.new(tag: :div, font_weight: :bold).with_content("Machine type") %>
    <%= render Primer::Beta::Text.new(tag: :div, color: :muted, font_size: :small).with_content("Resources for your codespace") %>
  <% end %>

  <sku-list
    data-prebuild-availability-url="<%= prebuild_availability_codespaces_path %>"
    data-repository-id="<%= repository&.id %>"
    data-location="<%= location %>"
    data-ref-name="<%= ref_name %>"
    data-vscs-target="<%= vscs_target %>"
    data-devcontainer-path="<%= devcontainer_path %>"
  >
    <%= render Primer::Box.new do %>
      <% if availability_contexts.any? %>
        <%= render(Primer::Alpha::ActionMenu.new(
          dynamic_label: :true,
          right: 0,
          select_variant: :single,
          anchor_align: :end,
          size: :medium,
        )) do |menu|
          menu.with_show_button do |button|
            button.with_trailing_action_icon(icon: :"triangle-down")
            "None" # Only used as a fallback if no skus are selectable
          end
          availability_contexts.each do |context|
            menu.with_item(
              label: context.sku.display_cpus,
              active: is_default_sku?(context.sku),
              disabled: !context.enabled,
              data: {
                action: "click:new-codespace#machineTypeSelected",
                preview: context.sku.display_specs,
                "sku-name": context.sku.name
              }
            ) do |item|
              item.with_description.with_content( context.sku.display_specs_without_cores )
              if context.reason.present?
                item.with_trailing_visual_text(render Primer::Beta::Text.new(font_size: 5, color: :muted, style: "width: max-content").with_content(context.reason))
              elsif show_prebuild_availability
                item.with_trailing_visual_text(render "codespaces/sku_select_prebuild_ready", name: context.sku.name)
              end
            end
          end
        end %>
      <% else %>
          <%= render(Primer::Beta::Button.new(type: :button, disabled: true, text_align: :left, float: :right)) do %>
            None
            <%= render(Primer::Beta::Octicon.new(icon: "triangle-down", flex_shrink: 0, color: :subtle)) %>
          <% end %>

      <% end %>
    <% end %>
  </sku-list>
<% end %>
<% if warning_message %>
  <p class="color-fg-attention mt-2"><%= warning_message %></p>
<% end %>
