<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="border-bottom pb-3 px-3">
  Edited <%= time_ago_in_words_js edit.created_at %>
</div>

<div class="overflow-y-scroll p-3" style="max-height: 350px;">
  <div class="js-rich-diff rich-diff prose-diff d-block">
    <article class="markdown-body entry-content comment-body p-0" <%= test_selector("diff-body") %>>
      <%= diff_html %>
    </article>
  </div>
</div>

<% if show_footer? %>
  <div class="border-top p-3" <%= test_selector("diff-footer") %>>
    <% if edit.newest? %>
      <%= render Primer::Beta::Flash.new(scheme: :warning, mb: 3, test_selector: "footer-latest-warning") do %>
        The most recent revision cannot be deleted. Need to delete sensitive information?
        Go to the specific edit where the information was added.
      <% end %>
    <% end %>

    <%= form_tag user_content_edit_path(id: edit.global_relay_id), method: :delete do %>
      <div class="d-flex flex-justify-between flex-items-center">
        <div>
          <strong>Delete revision from history</strong>
          <p>This edit’s content will no longer be visible.</p>
        </div>
        <%= render Primer::Beta::Button.new(
          type: :submit,
          scheme: :danger,
          disabled: edit.newest?,
          data: { confirm: "Are you sure you want to delete this edit’s contents from the history?" },
        ) do %>
          Delete revision
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
