<%= render Primer::Experimental::ActionMenu::Item.new(**item_arguments) do %>
  <%= render GitHub::AvatarComponent.new(
    actor: editor,
    size: 20,
    classes: "avatar-small",
    vertical_align: :middle,
    aria: { hidden: true },
    mr: 1,
  ) %>

  <%= render(Primer::Beta::Truncate.new(
    vertical_align: :middle,
    font_weight: :bold,
  )) do |truncate| %>
    <% truncate.with_item(max_width: 100) { editor.display_login } %>
  <% end %>
  <%= bot_identifier(editor) %>

  <span class="v-align-middle">
    <%= action %> <%= time_ago_in_words_js edit.edited_at %> <%= suffix %>
  </span>
<% end %>
