<div style="max-height:250px; width: max-content;">
  <%= render Primer::BaseComponent.new(tag: :span, color: :muted, font_size: :small, test_selector: "edit-count") do %>
    Edited <%= number_with_delimiter(edit_count) %> <%= "time".pluralize(edit_count) %>
  <% end %>
  <%= render Primer::Experimental::ActionMenu::Item.new(is_divider: true) %>

  <% edits.each do |edit| %>
    <%= render Discussions::EditHistory::ItemComponent.new(
      edit: edit,
      is_latest: edit.id == latest_edit_id,
      is_creation_edit: edit.id == created_edit_id,
      ghost_user: ghost_user,
    ) %>
  <% end %>
</div>
