<%# view is an instance of Settings::Organization::Roles::NewView or EditView %>
<div id="role-fgp-list">
  <% if view.base_role_fgps %>
    <div role="listbox" hidden data-filter-list class="autocomplete-results" id="js-fgp-list-items">
      <% view.base_role_fgps.available_fgps(current_organization).each do |fgp| %>
        <label role="option" class="d-block autocomplete-item border-bottom py-2 js-fgp-list-item">

          <input name="role[fgps][]" value="<%= fgp.label %>" type="checkbox" class="mx-2 js-fgp-list-item-checkbox"
          <%= "data-is-additional-fgp" if view.is_additional_fgp?(fgp.label) %>>

          <span class="d-flex flex-justify-between">
            <span class="text-bold">
              <%= fgp.description %>
            </span>

            <span class="text-normal text-mono">
              <%= view.title_for(fgp.category) %>
            </span>
          </span>
        </label>
      <% end %>

      <% view.base_role_fgps.implicit_fgps.each do |fgp| %>
        <% next if view.org_disabled_fgps.include?(fgp.label) %>
        <label role="option" class="d-block autocomplete-item border-bottom py-2">
          <input class="mx-2" type="checkbox" checked disabled>

          <span class="d-flex flex-justify-between color-fg-muted">
            <span>
              <span class="text-bold">
                <%= fgp.description %>
              </span>

              <span class="text-normal">
                (inherited from <%= view.base_role.capitalize %>)
              </span>
            </span>

            <span class="text-normal text-mono">
              <%= view.title_for(fgp.category) %>
            </span>
          </span>
        </label>
      <% end %>

      <div class="p-5 d-flex flex-items-center f4" data-filter-empty-state hidden>
        <%= primer_octicon(:search, mr: 2) %>
        <span class="text-bold">
          No permissions found.
        </span>
      </div>
    </div>

    <%# because the original radio button input is used to populate this partial,
      we generate a new base role input for the custom role form submission%>
    <input id="custom-role-base" hidden name="role[base]" value="<%= view.base_role %>">

    <%# form-role-inherent is defined outside of this partial. So because this partial
      gets rerendered when we change base role, the custom role name to be submitted to that form is added here %>
    <% if view.role %>
      <input form="form-role-inherent" id="custom-role-name" hidden name="role[name]" value="<%= view.role&.name %>">
    <% end %>
  <% end %>

  <div id="js-fgp-summary" <% unless view.has_implicit_fgps? %>hidden<% end %>>
    <h4 class="f3-light">Custom role permissions</h4>

    <div class="Box js-fgp-category-box">
      <% first_visible_category = true %>
      <% view.categories.each do |category, fgps| %>
        <% has_implicit_fgps = fgps.any? %>

        <div
          class="Box-header text-bold color-fg-muted js-fgp-category-element js-fgp-category-title <% unless first_visible_category %>rounded-0<% end %>"
          data-fgp-category="<%= category %>"
          <% unless has_implicit_fgps %>hidden<% end %>>
          <% first_visible_category = false if has_implicit_fgps %>

          <%= primer_octicon(view.icon_for(category), mr: 2) %>
          <%= view.title_for(category) %>
          Permissions
        </div>

        <ul class="js-fgp-category-element js-fgp-category-list" data-fgp-category="<%= category %>"
          <% unless has_implicit_fgps %>hidden<% end %>>

          <% fgps.each do |fgp| %>
            <% next if view.org_disabled_fgps.include?(fgp.label)%>
            <li class="Box-row text-normal">
              <span class="ml-3">

                <%= fgp.description %>
                <% if view.base_role_fgps.implicit_fgps.include?(fgp) %>
                  <span class="color-fg-muted">
                    (inherited from <%= view.base_role.capitalize %>)
                  </span>
                <% end %>

              </span>
            </li>
          <% end %>

        </ul>
      <% end %>

    </div>

    <template id="js-fgp-list-item-template">
      <li class="Box-row text-normal d-flex flex-justify-between js-added-fgp-item" data-fgp="">

        <span class="ml-3 js-added-fgp-description"></span>

        <%= render(Primer::Beta::IconButton.new(
          icon: :trash,
          scheme: :danger,
          size: :small,
          classes: "js-added-fgp-btn",
          "aria-label": "Remove permission"
        )) %>
      </li>
    </template>

  </div>
</div>
