<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag view.form_url, method: view.http_method do %>
  <dl class="form-group mb-2 js-label-error-container">
    <dt><label for="role-name">Name</label></dt>
    <dd class="js-length-limited-input-container position-relative">
      <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
        <input
          class="js-length-limited-input form-control"
          type="text"
          data-input-max-length="62"
          data-warning-text="{{remaining}} remaining"
          placeholder="Role name"
          id="role-name"
          name="role[name]"
          value="<%= view.role&.name %>"
          required
          autofocus
          aria-describedby="error-text-for-name">
      </text-expander>
      <p class="js-length-limited-input-warning d-none color-fg-danger" id="error-text-for-name"></p>
    </dd>
  </dl>

  <dl class="form-group mb-2  js-label-error-container">
    <dt><label for="role-description">Description</label></dt>
    <dd class="js-length-limited-input-container position-relative">
      <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
        <input
          class="js-length-limited-input form-control"
          type="text"
          data-input-max-length="152"
          data-warning-text="{{remaining}} remaining"
          placeholder="What is this role all about?"
          id="role-description"
          name="role[description]"
          value="<%= view.role&.description %>"
          aria-describedby="error-text-for-description">
      </text-expander>
      <p class="js-length-limited-input-warning d-none color-fg-danger" id="error-text-for-description"></p>
    </dd>
  </dl>
  <p class="note" id="help-text-for-description">
    A short description who this role is for or what permissions it grants
  </p>

  <dl class="form-group">
    <dt><h3 class="f2-light">Choose a role to inherit</h3></dt>
    <dd>
      <p class="color-fg-muted my-2">
        All custom roles must inherit the permissions of a default role.
      </p>
    </dd>

    <dd class="radio-group">
      <input class="radio-input" type="radio"
        name="role[base]" value="read" id="read"
        form="form-role-inherent"
        data-autosubmit
        <% if view.is_base_role?("read") %>checked<% end %>>
      <label class="radio-label color-fg-muted" for="read">
        <%= primer_octicon(:book, mx: 1) %>
        Read
      </label>
      <input class="radio-input" type="radio"
        name="role[base]" value="triage" id="triage"
        form="form-role-inherent"
        data-autosubmit
        <% if view.is_base_role?("triage") %>checked<% end %>>
      <label class="radio-label color-fg-muted" for="triage">
        <%= primer_octicon(:"file-submodule", mx: 1) %>
        Triage
      </label>
      <input class="radio-input" type="radio"
        name="role[base]" value="write" id="write"
        form="form-role-inherent"
        data-autosubmit
        <% if view.is_base_role?("write") %>checked<% end %>>
      <label class="radio-label color-fg-muted" for="write">
        <%= primer_octicon(:pencil, mx: 1) %>
        Write
      </label>
      <input class="radio-input" type="radio"
        name="role[base]" value="maintain" id="maintain"
        form="form-role-inherent"
        data-autosubmit
        <% if view.is_base_role?("maintain") %>checked<% end %>>
      <label class="radio-label color-fg-muted" for="maintain">
        <%= primer_octicon(:tools, mx: 1) %>
        Maintain
      </label>
    </dd>
  </dl>

  <dl class="form-checkbox pl-0">
    <dt><h3 class="f2-light">Add permissions</h3></dt>
    <dd>
      <p class="color-fg-muted my-2">
        Add permissions to create a role that fits your needs.
      </p>
    </dd>
    <dd class="position-relative">
      <filter-input aria-owns="js-fgp-list-items">
        <input
          type="text"
          class="form-control mb-2 width-full js-role-fgp-input"
          aria-label="Filter fine grained permissions"
          data-fgp-metadata-url="<%= view.fgp_metadata_url %>">
      </filter-input>

      <%= render "settings/organization/roles/fgps", view: view %>
    </dd>
  </dl>

  <% if view.new_page? %>
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, mr: 3) do %><%= view.button_text %><% end %>
  <% else %>
    <%= render "settings/organization/roles/update_role_popup", view: view %>
  <% end %>
  <a href=<%= settings_org_repository_roles_path %> class="btn">Cancel</a>
<% end %>
