<permission_list
  class="SelectMenu-list"
  <%= test_selector("fgp-permission-list") %>>
  <% if permission_list.empty? %>
    <div
      class="Box-header border text-bold color-fg-muted"
      <%= test_selector("fgp-no-permissions") %>>
      <%= "There are no additional permissions for this role." %>
    </div>
  <% else %>
    <% permission_list.each do |category, permissions| %>
      <div
        class="Box-header border text-bold color-fg-muted"
        <%= test_selector("fgp-category-header") %>>
        <%= primer_octicon(icon_for_category(category), ml: 4, mr: 2) %>
        <%= category %>
      </div>
      <ul class="list-style-none">
        <% permissions.each do |permission| %>
          <li
            class="Box-row text-normal"
            <%= test_selector("fgp-description") %>>
            <%= primer_octicon(:check, color: :muted, ml: 6, mr: 2) %>
            <span><%= permission %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</permission_list>
