<%= render(Primer::Alpha::Dialog.new(
  id: "update-role-#{view.role.id}",
  title: "Confirm repository role update",
  size: :medium_portrait,
  test_selector: "update-role-confirmation-dialog-#{view.role.id}",
)) do |d| %>
  <% d.with_show_button(scheme: :primary) { "Update role" } %>
  <% d.with_body do %>
    <%= render(Primer::Beta::Text.new) do %>
      Updating the <%= render(Primer::Beta::Text.new(font_weight: :bold)) { view.role.display_name } %> role may change permissions for all the people and teams assigned to it.
    <% end %>
    <%= render(Primer::Box.new(mt: 2)) do %>
      <%= render(Primer::Beta::Text.new) { "This role is currently assigned to:" } %>
      <ul class="m-0 mt-2 p-0 list-style-none">
        <li class="d-flex flex-items-center">
          <%= render(Primer::Beta::Octicon.new(icon: :person, color: :muted, mr: 2)) %>
          <%= render(Primer::Beta::Text.new(font_weight: :bold)) { pluralize(view.role.user_count, "person") } %>
          <%= render(Primer::Beta::Text.new(color: :subtle, ml: 1)) { "(#{pluralize(view.role.org_member_count, "org member")}, #{pluralize(view.role.collaborator_count, outside_collaborators_verbiage(view.organization))})" } %>
        </li>
        <li class="d-flex flex-items-center">
          <%= render(Primer::Beta::Octicon.new(icon: :people, color: :muted, mr: 2)) %>
          <%= render(Primer::Beta::Text.new(font_weight: :bold)) { pluralize(view.role.team_count, "team") } %>
        </li>
        <% if view.role_invitation_count > 0 %>
          <li class="d-flex flex-items-center">
            <%= render(Primer::Beta::Octicon.new(icon: :mail, color: :muted, mr: 2)) %>
            <%= render(Primer::Beta::Text.new(font_weight: :bold)) { pluralize(view.role_invitation_count, "invitation") } %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <% d.with_footer do %>
    <%= render(Primer::Beta::Button.new(type: :button, "data-close-dialog-id": "update-role-#{view.role.id}", "aria-label": "Dismiss confirm dialog")) { "Cancel" } %>
    <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary)) { "Update role" } %>
  <% end %>
<% end %>
