<%# view is an instance of Settings::Organization::Roles::NewView %>
<% page_info responsive: true, title: "Repository roles", selected_link: :roles %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %><%= link_to "Repository roles", settings_org_repository_roles_path, class: "Link--inTextBlock" %> / Create a role<% end %>
    <% component.with_description do %>
      Roles are used to grant access and permissions for teams and members. Begin by choosing
      a role to inherit and adding permissions to create a role that fits your needs.
      <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization" target="_blank" rel="noopener">
        Learn more about custom repository roles
      </a>.
    <% end %>
  <% end %>
  <div data-replace-remote-form-target="role-fgp-list">
    <%= form_tag settings_org_fgps_path, method: :get, id: "form-role-inherent", "data-replace-remote-form": true %>

    <%= render "settings/organization/roles/form", view: view %>
  </div>
<% end %>
