<div class="Box Box--condensed">
  <table class="width-full">
    <thead>
      <tr class="border-bottom">
        <th class="p-2 border-right" colspan="4">
          <%= form_tag stafftools_sponsors_sponsorships_path(page: 1, sponsor_login: sponsor_login), method: :get, "data-autosearch-results-container" => "sponsorships-results", class: "auto-search-group d-flex flex-items-center" do %>
            <input type="search" class="flex-auto form-control subnav-search-input input-contrast auto-search-input"
              id="sponsorable_login" name="sponsorable_login" autocomplete="off" data-throttled-autosubmit
              placeholder="Filter maintainers by username or display name" value="<%= sponsorable_login %>"
              aria-label="Search by maintainer name">
            <%= primer_octicon(:search) %>
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
            <% if sponsorable_login %>
              <%= link_to primer_octicon(:x, "aria-label": "Clear filter"),
                stafftools_sponsors_sponsorships_path(sponsorable_login: nil, sponsor_login: sponsor_login, page: 1),
                class: "d-inline-block ml-2" %>
            <% end %>
          <% end %>
        </th>
        <th class="p-2 border-right" colspan="4">
          <%= form_tag stafftools_sponsors_sponsorships_path(page: 1, sponsorable_login: sponsorable_login), method: :get, "data-autosearch-results-container" => "sponsorships-results", class: "auto-search-group d-flex flex-items-center" do %>
            <input type="search" class="flex-auto form-control subnav-search-input input-contrast auto-search-input"
              id="sponsor_login" name="sponsor_login" autocomplete="off" data-throttled-autosubmit
              placeholder="Filter sponsors by username or display name" value="<%= sponsor_login %>"
              aria-label="Search by sponsor name">
            <%= primer_octicon(:search) %>
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
            <% if sponsor_login %>
              <%= link_to primer_octicon(:x, "aria-label": "Clear filter"),
                stafftools_sponsors_sponsorships_path(sponsor_login: nil, sponsorable_login: sponsorable_login, page: 1),
                class: "d-inline-block ml-2" %>
            <% end %>
          <% end %>
        </th>
        <th colspan="4" class="p-2"></th>
      </tr>
      <tr class="color-bg-inset">
        <th class="px-2 pt-2 no-wrap border-right" colspan="4">Maintainer</th>
        <th class="px-2 pt-2 no-wrap border-right" colspan="4">Sponsor</th>
        <th class="px-2 billing-table-cell border-right" colspan="2">Sponsorship</th>
        <th class="px-2 pt-2 billing-table-cell border-right" colspan="2">Latest payment</th>
      </tr>
      <tr class="border-bottom color-bg-inset">
        <%# Maintainer columns: %>
        <th class="billing-table-cell"></th>
        <th class="px-2 pb-2 pt-1 text-left no-wrap">Name</th>
        <th class="px-2 pb-2 pt-1 text-center no-wrap">
          <%= primer_octicon(:location, "aria-label": "Country of residence") %>
        </th>
        <th class="px-2 pb-2 pt-1 billing-table-cell text-center border-right">Flags</th>

        <%# Sponsor columns: %>
        <th class="billing-table-cell"></th>
        <th class="px-2 pb-2 pt-1 text-left no-wrap">Name</th>
        <th class="px-2"></th>
        <th class="px-2 pb-2 pt-1 billing-table-cell text-center border-right">Flags</th>

        <%# Sponsorship columns: %>
        <th class="px-2 billing-table-cell">Tier</th>
        <th class="px-2 billing-table-cell text-center border-right">Flags</th>

        <%# Payment columns: %>
        <th class="px-2 pb-2 pt-1 text-left billing-table-cell">Amount</th>
        <th class="px-2 pb-2 pt-1 text-center billing-table-cell border-right">Method</th>
      </tr>
    </thead>
    <tbody>
      <% sponsorships.each_with_index do |sponsorship, i| %>
        <%= render Stafftools::Sponsors::SponsorshipComponent.new(
          sponsor: sponsorship.sponsor,
          sponsorable: sponsorship.sponsorable,
          tier: sponsorship.tier,
          sponsors_listing: sponsorship.sponsors_listing,
          odd_row: i.odd?,
          is_paid: sponsorship.paid?,
          line_item: sponsorship.latest_billing_transaction_line_item_for_tier,
          sponsorship_id: sponsorship.id,
          tier_selected_at: sponsorship.subscribable_selected_at || sponsorship.created_at,
          is_premium_sponsor: premium_sponsor_ids.include?(sponsorship.sponsor_id),
          is_private: sponsorship.privacy_private?,
          via_bulk_sponsorship: sponsorship.via_bulk_sponsorship?,
          via_patreon: sponsorship.patreon?,
        ) %>
      <% end %>
      <% if sponsorships.empty? %>
        <tr>
          <td class="px-2 py-4 text-center" colspan="13" <%= test_selector("no-results") %>>
            <h3 class="mb-2">No active sponsorships match your filters</h3>
            <a href="<%= stafftools_sponsors_sponsorships_path %>">Clear filters</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if sponsorships.total_pages > 1 %>
    <div class="paginate-container Box-footer my-0">
      <div class="pagination">
        <%= will_paginate sponsorships, "data-pjax" => true %>
      </div>
    </div>
  <% end %>
</div>
