<% page_info title: "GitHub Sponsors sponsorships", selected_link: :sponsorships, container_xl: true %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h1) do %>
    <%= primer_octicon(:rocket, vertical_align: :baseline) %>
    <a href="<%= stafftools_path %>">Site admin</a> /
    <a href="<%= stafftools_sponsors_path %>">GitHub Sponsors</a> /
    Sponsorships
    <%= render Primer::Beta::Counter.new(count: sponsorships.total_entries, vertical_align: :middle) %>
  <% end %>
  <% component.with_actions do %>
    <% if sponsor_login || sponsorable_login %>
      <a href="<%= stafftools_sponsors_sponsorships_path %>">Clear filters</a>
    <% end %>
  <% end %>
<% end %>

<div id="sponsorships-results">
  <%= render "stafftools/sponsors/sponsorships/sponsorships", sponsorships: sponsorships,
    sponsorable_login: sponsorable_login, sponsor_login: sponsor_login, premium_sponsor_ids: premium_sponsor_ids %>
</div>
