<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h3) do %>
    <%= render Primer::Beta::Octicon.new(icon: :info, size: :medium) %> Details
  <% end %>
<% end %>

<%= render Primer::Box.new(mb: 4) do  %>
  <div class="summary">
    <dl>
      <dt>Product Type</dt>
      <dd><%= item.subscribable.product_type %></dd>

      <dt>Product Key</dt>
      <dd><%= item.subscribable.product_key %></dd>

      <dt>Product Cycle</dt>
      <dd><%= item.subscribable.billing_cycle %></dd>

      <dt>Zuora Product ID</dt>
      <dd>
        <%= link_to zuora_product_url(product_id: item.subscribable.zuora_product_id) do %>
          <%= item.subscribable.zuora_product_id %>
        <% end %>
      </dd>

      <dt>Zuora Rate Plan ID</dt>
      <dd><%= item.subscribable.zuora_product_rate_plan_id %></dd>

      <dt>Zuora Rate Plan Charge IDs</dt>
      <dd><%= item.subscribable.zuora_product_rate_plan_charge_ids %></dd>
    </dl>

    <dl>
      <dt>Quantity</dt>
      <dd><%= item.quantity %></dd>

      <dt>Free Trial Ends On</dt>
      <dd><%= item.free_trial_ends_on %></dd>

      <dt>Next Billing Date</dt>
      <dd><%= item.next_billing_date %></dd>

      <dt>In App Purchase</dt>
      <dd>
        <% if item.apple_in_app_purchase? %>
          Apple App Store (<%= render Primer::Beta::Link.new(
            href: new_stafftools_billing_iap_apple_lookup_path(transaction_id: item.apple_subscription.original_transaction_id),
            classes: "Link--inTextBlock"
          ).with_content(item.apple_subscription.original_transaction_id) %>)
        <% elsif item.google_in_app_purchase? %>
          Google Play Store (<%= render Primer::Beta::Link.new(
            href: new_stafftools_billing_iap_google_lookup_path(transaction_id: item.google_subscription.purchase_token),
            classes: "Link--inTextBlock"
          ).with_content(item.google_subscription.purchase_token) %>)
        <% else %>
          No
        <% end %>
      </dd>

      <dt>Created At</dt>
      <dd><%= item.created_at %></dd>

      <dt>Updated At</dt>
      <dd><%= item.updated_at %></dd>
    </dl>
  </div>
<% end %>


