
<% if target.created? %>
  <span class="ref"><%= target.before %></span>
  &rarr;
  <span class="ref"><%= link_to(target.after, commit_path(target.after, current_repository)) %></span>
<% elsif target.deleted? %>
  <span class="ref"><%= link_to(target.before, commit_path(target.before, current_repository)) %></span>
  &rarr;
  <span class="ref"><%= target.after %></span>
<% else %>
  <%= link_to compare_path(current_repository, target.commit_range) do %>
    <span class="ref"><%= target.before %></span>
    &rarr;
    <span class="ref"><%= target.after %></span>
  <% end %>
<% end %>
