<%# rubocop:disable Lint/InstanceVariable %>
<% view = Stafftools::RepositoryViews::PushlogView.new :entries => @entries %>

<% page_info :title => "#{current_repository.name_with_owner} - Push Log",
             :selected_link => :reflog %>

<div class="boxed-group">
  <h3>
    <%= link_to "Push log /", gh_stafftools_repository_reflog_path(current_repository),
                :class => "boxed-group-breadcrumb" %>
    Deleted references
  </h3>

  <div class="boxed-group-inner">
    <% if @entries.empty? %>
      <p>No deletions found</p>
    <% else %>
      <ul class="boxed-group-list standalone">
        <% @entries.each do |entry| %>
          <li>
            <%= button_to "Restore", gh_restore_stafftools_repository_reflog_path(current_repository, entry.ref, entry.old_oid),
                  :class => "btn btn-sm" %>
            <%= avatar_for entry.user, 20 %>
            <%= entry.user %>
            deleted
            <strong><%= entry.ref %></strong>
            <ul class="small indented">
              <li><%= entry.created_at %></li>
              <li>
                <code><%= entry.old_oid %></code>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>

      <div class="paginate-container">
        <%= simple_paginate @entries %>
      </div>
    <% end %>
  </div>
</div>
