<% if this_user&.business.present? %>
  <%= render "stafftools/users/metered_billing/business_notice", user: this_user %>
<% end %>

<div class="Box">
  <div class="Box-header">
    <h3 class="Box-title">Repository Actions Usage</h3>
  </div>
  <ul>
    <% repositories.each_with_index do |repo, idx| %>
      <li class="Box-row <%= idx.odd? ? "Box-row--gray" : ""%>">
        <div class="js-details-container Details">
          <strong><%= repo[:name] %></strong>
          <p>
            <small>Minutes: <%= number_with_delimiter(repo[:total_minutes].to_i) %></small>
            <span class="hidden-text-expander inline">
              <button type="button" aria-expanded="false" class="ellipsis-expander js-details-target">&hellip;</button>
            </span>
          </p>
          <div class="Details-content--hidden">
            <div class="Box">
              <table class="stafftools-table">
                <thead>
                  <th class="no-wrap billing-table-cell">Runtime</th>
                  <th class="no-wrap billing-table-cell">Minutes</th>
                </thead>
                <tbody>
                  <% repo[:minutes_per_runtime].each do |(_repo_id, runtime), minutes| %>
                    <tr class="Box-row">
                      <td><%= runtime %></td>
                      <td><%= number_with_delimiter(minutes.to_i) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
