<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if this_user&.business.present? %>
  <%= render "stafftools/users/metered_billing/business_notice", user: this_user %>
<% end %>

<div class="Box">
  <div class="Box-header">
    <h3 class="Box-title">Copilot usage by daily aggregation since cycle reset</h3>
  </div>
  <ul>
    <li class="Box-row">
      <%= render(Primer::Beta::Flash.new) do %>
        <p> Note: Since the emission job runs every 3 hours, there is a delay following seat additions before usage appears in this section. </p>
        <p>
          Check the <%= link_to "Copilot Seat Assignments page", stafftools_user_copilot_seats_path(this_user), class: "Link--inTextBlock" %>
          to see what seats have actually been assigned.
        </p>
      <% end %>
      <div class="js-details-container Details">
        <p> Total Till Date: <%= number_with_precision(sum_of_copilot_usage, precision: 4, strip_insignificant_zeros: true) %> User Month </p>
        <div class="Box">
          <table class="stafftools-table">
            <thead>
              <th class="no-wrap billing-table-cell">Date</th>
              <th class="no-wrap billing-table-cell">Ingested Seats (User Month)</th>
            </thead>
            <tbody>
              <% aggregated_copilot_usage.each do |usage| %>
                <tr class="Box-row">
                  <td><%= usage[:date] %></td>
                  <td><%= number_with_precision(usage[:quantity], precision: 4, strip_insignificant_zeros: true) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </li>
  </ul>
</div>
