<% if this_user&.business.present? %>
  <%= render "stafftools/users/metered_billing/business_notice", user: this_user %>
<% end %>

<div class="Box">
  <div class="Box-header">
    <h3 class="Box-title">Package Download Bandwidth</h3>
  </div>
  <ul>
    <% registry_packages.each_with_index do |package, idx| %>
      <li class="Box-row <%= idx.odd? ? "Box-row--gray" : "" %>">
        <div class="js-details-container Details">
          <strong><%= package[:name] %></strong>
          <p>
            <small>Bandwidth: <%= number_to_human_size(package[:total_bandwidth]) %></small>
            <span class="hidden-text-expander inline">
              <button type="button" aria-expanded="false" class="ellipsis-expander js-details-target">&hellip;</button>
            </span>
          </p>
          <div class="Details-content--hidden">
            <div class="Box">
              <table class="stafftools-table">
                <thead>
                  <th class="no-wrap billing-table-cell">Date</th>
                  <th class="no-wrap billing-table-cell">Size</th>
                </thead>
                <tbody>
                  <% package[:bandwidth_by_date].each do |(_package_id, date), size| %>
                    <tr class="Box-row">
                      <td><%= date %></td>
                      <td><%= number_to_human_size(size) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
