<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if this_user&.business.present? %>
  <%= render "stafftools/users/metered_billing/business_notice", user: this_user %>
<% end %>

<div class="Box">
  <div class="Box-header">
    <h3 class="Box-title">Shared Storage Usage</h3>
  </div>
  <ul>
    <% aggregated_usage_records.each_with_index do |usage, idx| %>
      <li class="Box-row <%= idx.odd? ? "Box-row--gray" : "" %>">
        <div class="js-details-container Details">
          <strong><%= usage.repo_name || "Org Level Storage (or no repo info available)" %></strong>
          <%= visibility_octocon(usage.repo_visibility) %>
          <p>
            <small>Total Size: <%= number_to_human_size(usage.total_usage_in_bytes) %></small>
            <span class="hidden-text-expander inline">
              <button type="button" aria-expanded="false" class="ellipsis-expander js-details-target">&hellip;</button>
            </span>
          </p>
          <div class="Details-content--hidden">

            <% if mismatched_aggregation_and_breakdown?(usage) %>
              <%= render Primer::Beta::Flash.new(scheme: :warning, mb: 2) do %>
                The posted sum does not match the total size. Either of these numbers may be
                inaccurate and additional investigation could be required to draw usage conclusions.
                <%= button_to "Rebuild", stafftools_user_metered_billing_rebuild_from_events_path(repo_name: usage.repo_name), { method: :patch, class: "btn" } %>
              <% end %>
            <% end %>

            <div class="Box">
              <table class="stafftools-table">
                <thead>
                  <th class="no-wrap billing-table-cell" colspan=3>Posted</th>
                  <th class="no-wrap billing-table-cell" colspan=3>Pending</th>
                </thead>
                <tbody>
                  <tr class="Box-row">
                    <td>Packages (v1)</td>
                    <td>Packages (v2)</td>
                    <td>Actions</td>
                    <td>Packages (v1)</td>
                    <td>Packages (v2)</td>
                    <td>Actions</td>
                  </tr>
                  <tr class="Box-row">
                    <td><%= number_to_human_size(usage.aggregated_gpr_usage) %></td>
                    <td><%= number_to_human_size(usage.aggregated_gpr_v2_usage) %></td>
                    <td><%= number_to_human_size(usage.aggregated_actions_usage) %></td>
                    <td><%= formatted_usage_breakdown(usage.unaggregated_gpr_usage) %></td>
                    <td><%= formatted_usage_breakdown(usage.unaggregated_gpr_v2_usage) %></td>
                    <td><%= formatted_usage_breakdown(usage.unaggregated_actions_usage) %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
