<%- if vulnerabilities.present? -%>
  <p><strong>Affected Packages</strong></p>

  <dl>
    <%- vulnerabilities.each do |vulnerability| -%>
      <dt><%= vulnerability.name %></dt>
      <dd>Ecosystem: <%= vulnerability.ecosystem %></dd>
      <dd>Severity: <%= vulnerability.severity %></dd>
      <dd>Versions: <%= vulnerability.vulnerable_version_range %></dd>
      <%- if vulnerability.first_patched_version.present? -%>
        <dd>Fixed in: <%= vulnerability.first_patched_version %></dd>
      <%- end -%>
    <%- end -%>
  </dl>
<%- end -%>
