<%# Added many erblint disables since this is an ATOM file and not standard HTML %>
<?xml version="1.0" encoding="UTF-8"?> <%# erblint:disable ParserErrors %>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="en-US"> <%# erblint:disable ParserErrors %>
<%- view = AdvisoryDB::AtomView.new(self) -%>
<%- cache view.cache_key, skip_digest: true do -%>
  <id><%= view.feed_id %></id>
  <link rel="self" type="application/atom+xml" href="<%= view.self_url %>"/> <%# erblint:disable SelfClosingTag %>
  <title><%= view.feed_title %></title>
  <author>
    <name><%= view.feed_author.name %></name>
  </author>
  <updated><%= view.feed_updated_at %></updated>
  <%- view.advisories.each do |advisory| -%>
    <entry>
      <id><%= advisory.id %></id>
      <published><%= advisory.published_at %></published>
      <updated><%= advisory.updated_at %></updated>
      <title type="html">[<%= advisory.ghsa_id %>] <%= advisory.title %></title>
      <%- advisory.categories.each do |category| -%>
        <category term="<%= category %>"/>
      <%- end -%>
      <content type="html">
        <%= advisory.content %>
        <%= ERB::Util.force_escape(render partial: 'security_advisories/vulnerabilities_list', locals: { vulnerabilities: advisory.vulnerabilities })  %>
        <%= ERB::Util.force_escape(render partial: 'security_advisories/references', locals: { references: advisory.references }) %>
        <%= ERB::Util.force_escape(render partial: 'security_advisories/cwes', locals: { cwes: advisory.cwes }) %>
        <%= ERB::Util.force_escape(render partial: 'security_advisories/cvss', locals: { cvss: advisory.cvss_v3, cvss_score: advisory.cvss_v3_score }) %>
      </content>
    </entry> <%# erblint:disable ProperTagNesting %>
  <%- end -%>
<% end -%>
</feed> <%# erblint:disable ProperTagNesting %>
