<div class="d-flex flex-column" style="min-height:0;" <%= test_selector("organization-selection-component") %>>
  <filter-input class="flex-1 mb-2" aria-owns="<%= aria_id_prefix %>-list">
    <input type="search" aria-label="Filter organizations" class="form-control width-full" placeholder="Filter organizations">
  </filter-input>
  <div id="<%= aria_id_prefix %>-list" class="d-flex flex-column overflow-y-auto">
    <ul data-filter-list class="list-style-none">
    <% @organizations.each do |organization| %>
      <li class="css-truncate d-flex flex-items-center width-full">
        <input
          type="checkbox" name="organization_ids[]"
          value="<%= organization.global_relay_id %>"
          id="<%= aria_id_prefix %>-<%= organization.id %>"
          <% if @selected_organizations.include?(organization.global_relay_id) %>checked<% end %>
          class="mx-2 <%= @input_classes.join(" ") %>"
          data-targets="selected-item-list.items"
          data-action="click:selected-item-list#updateCount">
        <label class="d-flex flex-items-center width-full color-fg-default py-1 pr-1"
          for="<%= aria_id_prefix %>-<%= organization.id %>">
          <%= render GitHub::AvatarComponent.new actor: organization, size: 24, mr: 2 %>
          <strong class="css-truncate-target width-fit flex-auto" data-filter-item-text>
            <%= organization.display_login %>
          </strong>
        </label>
      </li>
    <% end %>
    </ul>
    <div class="color-fg-muted m-1" data-filter-empty-state hidden>
      No organizations found.
    </div>
  </div>
</div>
