<% repositories.each do |repository| %>
  <% selected = repository.id == selected_repository&.id %>
  <label class="select-menu-item" tabindex="0" role="menuitemradio" <%= 'aria-checked=true' if selected %>>
    <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon", my: 1) %>
    <div class="select-menu-item-text d-flex flex-justify-between">
      <input type="radio" name="repo_id" value="<%= repository.id %>" <%= "checked" if selected %>>

      <div>
        <span class="select-menu-item-text text-bold f5 js-repository-name my-1" data-menu-button-contents><%= repository.name_with_display_owner %></span>
        <span class="select-menu-item-text text-normal text-small" data-menu-button-contents><%= repository.description %></span>
      </div>

      <div class="flex-self-center">
        <%= primer_octicon(:lock) if repository.private? %>
      </div>
    </div>
  </label>
<% end %>
