<% page_info title: "Teams" %>

<div class="container-lg col-lg-12 col-md-12 col-12 px-md-3 px-0 pt-md-3 pt-2">
  <%= render(Primer::Beta::Breadcrumbs.new(mt: [2, 2, 0, 0], mx: [3, 3, 0, 0], mb: 3)) do |component| %>
    <% component.with_item(href: global_notifications_path(:all => nil)) do %>Notifications<% end %>
    <% component.with_item(href: request.path) do %>Teams<% end %>
  <% end %>

  <%= render partial: "notifications/navigation", locals: { selected_tab: "teams" } %>

  <%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
    classes: "Box mb-1",
    resource_label: "teams",
    cap_filter: cap_filter,
    # Enable SAML logging
    logging: current_user&.feature_enabled?(:log_notifications_unauthorized_accounts),
    # Group SAML accounts into unified SAML SSO banner
    group_saml: GitHub.flipper[:notifications_unified_sso_banner].enabled?(current_user),
    # Sort SAML accounts by name
    sort_by_name: GitHub.flipper[:notifications_unified_sso_banner_alphabetical_order].enabled?(current_user),
  )%>

  <div class="d-flex flex-md-row flex-column gutter-md px-md-0 px-3">
    <div class="col-lg-12 col-md-12 col-12 flex-md-order-1 flex-order-2">
      <div>
        <% if teams.any? %>
          <div class="table-list-header table-list-header-next p-3">
            <div class="table-list-filters d-flex">
              <%= render Primer::Beta::Heading.new(tag: :h5, test_selector: "user-team-count") do %>
                Teams <%= render(Primer::Beta::Counter.new(count: teams.total_entries)) %>
              <% end %>
            </div>
          </div>
          <div>
            <%= render(Teams::ListComponent.new(teams: teams)) %>

            <% if teams.total_pages > 1 %>
              <div class="paginate-container" <%= test_selector "pagination-links" %>>
                <%= will_paginate(teams) %>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= render Primer::Beta::BorderBox.new(test_selector: "no-teams-label") do |component| %>
            <% component.with_body do %>
              <%= render Primer::Beta::Blankslate.new(spacious: true) do |c| %>
                <% c.with_visual_icon(icon: "people") %>

                <% c.with_heading(tag: :h2) do %>
                  You don't seem to have any teams.
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "notifications" %>
<% end %>
