<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "Explore · Stafftools", selected_link: :explore_stafftools %>
<%= render layout: "stafftools/stafftools" do %>
  <%= render Stafftools::Explore::ShowcasesComponent.new(featured: true) %>
  <%= render Stafftools::Explore::ShowcasesComponent.new %>

  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Trending query cache
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% Stafftools::ExploreController::TRENDING_CACHE_PERIODS.each do |period| %>
      <% component.with_row do %>
        <div class="d-flex flex-items-center">
          <div class="col-10">
            <h4 class="mb-2"><%= period.capitalize %> cache</h4>

            <span class="d-block color-fg-muted">
              <% if trending_cache_exists("repos", period) %>
                <%= render(Primer::Beta::Octicon.new(icon: "check", color: :success)) %>

                <%= period.capitalize %> trending repositories cache calculated
                <time class="no-wrap" datetime="<%= trending_cache_set_time("repos", period) %>">
                  <%= time_ago_in_words trending_cache_set_time("repos", period) %> ago.
                </time>
              <% else %>
                <%= render(Primer::Beta::Octicon.new(icon: "x", color: :danger)) %>
                <%= period.capitalize %> trending repositories cache doesn’t exist!
              <% end %>
            </span>
            <span class="d-block color-fg-muted">
              <% if trending_cache_exists("users", period) %>
                <%= render(Primer::Beta::Octicon.new(icon: "check", color: :success)) %>

                <%= period.capitalize %> trending developers cache calculated
                <time class="no-wrap" datetime="<%= trending_cache_set_time("users", "daily") %>">
                  <%= time_ago_in_words trending_cache_set_time("users", period) %> ago.
                </time>
              <% else %>
                <%= render(Primer::Beta::Octicon.new(icon: "x", color: :danger)) %>
                <%= period.capitalize %> trending developers cache doesn’t exist!
              <% end %>
            </span>
          </div>
          <div class="col-2 d-flex flex-justify-end">
            <%= form_tag(stafftools_trending_job_queue_path, method: :post) do %>
              <%= hidden_field_tag "period", period %>
              <%= render(Primer::ButtonComponent.new(type: :submit)) { "Recalculate" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% component.with_footer do %>
      <%= form_tag(stafftools_trending_job_queue_path, method: :post) do %>
        <%= hidden_field_tag "period", "all" %>
        <%= render(Primer::ButtonComponent.new(type: :submit)) { "Recalculate all" } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
