<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%# erblint:counter DeprecatedInPrimerCounter 2 %>
<%= render layout: "stafftools/stafftools" do %>
  <div class="UnderlineNav UnderlineNav--full UnderlineNav--right mb-3">
    <div class="container-lg UnderlineNav-container px-3">
      <span class="UnderlineNav-actions f3">
        Billing Webhooks
        /
        <%= link_to "Stripe webhooks", stafftools_stripe_webhooks_path %>
      </span>

      <nav class="UnderlineNav-body" aria-label="Other webhooks">
        <%= link_to "Zuora webhooks", stafftools_zuora_webhooks_path, class: "UnderlineNav-item" %>
      </nav>
    </div>
  </div>

  <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
    Refer to the <%= link_to "Playbook", "https://github.com/github/gitcoin/blob/main/docs/playbook/alerts/stripe_webhook_errors.md", class: "Link--inTextBlock" %>
    for more information on how to handle unprocessed webhooks
  <% end %>
  <div class="boxed-group flush">
    <h3>Pending Stripe Webhooks</h3>

    <div class="boxed-group-inner seamless">
        <table class="stafftools-table">
          <% if webhooks.any? %>
            <thead>
              <th class="no-wrap billing-table-cell">ID</th>
              <th class="no-wrap billing-table-cell">Stripe Account</th>
              <th class="no-wrap billing-table-cell">Created</th>
              <th class="no-wrap billing-table-cell">Kind</th>
              <th class="no-wrap billing-table-cell"></th>
            </thead>

            <tbody>
              <% webhooks.each do |webhook| %>
                <tr class="color-bg-subtle">
                  <td class="tiny no-wrap">
                    <%= webhook.id %>
                  </td>
                  <td class="tiny no-wrap">
                    <% if webhook.account_id %>
                      <%= link_to webhook.account_id, webhook.connect_account_url, title: "Open the customer's account (#{webhook.account_id}) in Stripe" %>
                    <% else %>
                      N/A
                    <% end %>
                  </td>
                  <td class="no-wrap"><%= date_with_time_tooltip webhook.created_at %></td>
                  <td class="no-wrap"><%= webhook.kind %></td>
                  <td class="tiny no-wrap">
                    <%= form_tag stafftools_stripe_webhook_perform_path(webhook), class: "inline-form", method: :put do %>
                      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, classes: "tooltipped tooltipped-n", "aria-label": "Process", "data-confirm": "Are you sure you want to process this webhook?") do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                        <%= primer_octicon(:sync) %>
                      <% end %>
                    <% end %>
                    <%= form_tag stafftools_stripe_webhook_ignore_path(webhook), class: "inline-form", method: :put do %>
                      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, ml: 1, classes: "tooltipped tooltipped-n", "aria-label": "Ignore", "data-confirm": "Are you sure you want to permanently ignore this webhook?") do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
                        <%= primer_octicon(:"issue-closed") %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          <% else %>
            <tr class="color-bg-subtle"><td>No pending Stripe webhooks found</td></tr>
          <% end %>
        </table>
    </div>
    <p class="mt-2">Note: Webhooks created in the past 5 minutes will not be displayed here</p>
  </div>
<% end %>
