<div class="px-3 px-lg-0">
  <%= content_tag(:h2, local_assigns[:heading], class: "h3-mktg my-4 my-md-7 col-12 col-md-8", "data-test-selector": "customer-stories-category-section-heading") %>

  <div class="d-flex flex-justify-between">
    <div <%= test_selector("customer-stories-filter-dropdown-menu") %> class="d-lg-inline-block pt-3 pt-lg-0">
      <% [:industry, :feature, :region, :size].each do |filter_type| %>
        <%= render Site::Contentful::CustomerStories::CategoryFilterComponent.new(category: local_assigns[:cta_category], filter: filter_type) %>
      <% end %>
    </div>

    <div class="d-flex flex-justify-end flex-column flex-md-row text-emphasized mb-6">
      <%= render Site::LinkComponent.new(
        text: "Learn more about #{local_assigns[:cta_category].titleize}",
        url: local_assigns[:about_link],
        classes: "no-underline arrow-target-mktg color-fg-default mb-2",
        size: :medium,
        "data-test-selector": "customer-stories-category-section-about-link"
      ) %>
      <%= render Site::LinkComponent.new(
        text: "View #{local_assigns[:cta_category].titleize} stories",
        url: category_customer_stories_path(local_assigns[:cta_category]),
        classes: "ml-md-3 no-underline arrow-target-mktg color-fg-default mb-2",
        size: :medium,
        "data-test-selector": "customer-stories-category-section-view-stories-link"
      ) %>
    </div>
  </div>
  <%= render Site::Contentful::CustomerStories::StoryGridComponent.new(local_assigns[:stories]) %>
</div>
