<%= render Site::SectionComponent.new(theme: :dark, padding: false, container: false, classes: "py-5 pt-lg-12 pb-lg-8 position-relative") do %>
<%= render Site::ImageComponent.new(
  src: image_path("modules/site/customer-stories/footer-background.svg"),
  width: 1600,
  height: 477,
  classes: "position-absolute top-0 left-0 width-full height-auto d-none d-lg-block",
  alt: "",
  sizes: ""
) %>
<div class="customer-stories-footer__fade position-absolute top-0 right-0 bottom-0 left-0"></div>
<div class="container-xl p-responsive position-relative">
  <h2 class="h1 text-center">What will your story be?</h2>
  <p class="mb-7 text-center color-fg-muted f3">Start collaborating with your team on GitHub</p>
  <div class="d-flex flex-column flex-lg-row">
    <div class="mr-lg-3 mb-3 rounded-2 customer-stories-footer__cta position-relative d-flex flex-1">
      <div class="rounded-2 p-4 p-lg-5 d-flex color-bg-default flex-column flex-justify-between flex-items-start width-full">
        <h3 class="mb-2 h2">Free</h3>
        <p class="mb-3 color-fg-muted f4">The basics for individuals and organizations</p>
        <p class="mb-3 color-fg-muted f3"><b class="color-fg-default">$0 USD</b> per month</p>

        <%= render Site::ButtonComponent.new(
          text: "Create a free organization",
          classes: "f4 text-semibold",
          url: new_organization_path(
            plan: GitHub::Plan.free,
            ref_page: request.fullpath,
            ref_cta: "Create a free organization",
            ref_loc: "Footer cards"
          ),
          scheme: :muted,
          arrow: true,
        ) %>
      </div>
    </div>

    <div class="mr-lg-3 mb-3 rounded-2 customer-stories-footer__cta position-relative d-flex flex-1">
      <div class="rounded-2 p-4 p-lg-5 d-flex color-bg-default flex-column flex-justify-between flex-items-start width-full">
        <h3 class="mb-2 h2">Team</h3>
        <p class="mb-3 color-fg-muted f4">Advanced collaboration for individuals and organizations</p>
        <p class="mb-3 color-fg-muted f3"><b class="color-fg-default">$4 USD</b> per month</p>

        <%= render Site::ButtonComponent.new(
          text: "Continue with Team",
          classes: "f4 text-semibold",
          url: signup_path(
            plan: GitHub::Plan.business,
            ref_page: request.fullpath,
            ref_cta: "Continue with Team",
            ref_loc: "Footer Cards"
          ),
          scheme: :muted,
          arrow: true,
        ) %>
      </div>
    </div>

    <div class="mb-3 rounded-2 customer-stories-footer__cta position-relative d-flex flex-1">
      <div class="rounded-2 p-4 p-lg-5 d-flex color-bg-default flex-column flex-justify-between flex-items-start width-full">
        <h3 class="mb-2 h2">Enterprise</h3>
        <p class="mb-3 color-fg-muted f4">Security, compliance, and flexible deployment</p>
        <p class="mb-3 color-fg-muted f3"><b class="color-fg-default">$21 USD</b> per month</p>

        <%= render Site::ButtonComponent.new(
          text: "Enterprise",
          url: org_enterprise_plan_path(
            ref_page: request.fullpath,
            ref_cta: "Enterprise",
            ref_loc: "Footer Cards"
          ),
          classes: "f4 text-semibold",
          scheme: :muted,
          arrow: true,
        ) %>
      </div>
    </div>
  </div>
  <p class="color-fg-muted text-center mt-4 mt-lg-5">
    Want to use GitHub on your own?
    <br class="d-lg-none">
    <%= render Primer::Beta::Link.new(
      href: pricing_path,
    ) do %>
      Check out our plans for individuals
    <% end %>
  </p>
</div>
<% end %>
