<%# locals(page_data:, enterprise_stories:, team_stories:, page:) %>
<%
  page_meta = {
    title: "Customer stories",
    description: "With collaborative project management, flexible security options,"\
      " and easy admin, thousands of organizations are using GitHub and GitHub"\
      " Enterprise to build better software. Hear what a few of them have to say."
  }

  page_info(
    title: page_meta[:title],
    description: page_meta[:description],
    richweb: {
      title: page_meta[:title],
      url: request.original_url,
      description: page_meta[:description],
      image: image_path("modules/site/social-cards/enterprise.png"),
    },
    marketing_page_theme: "dark",
    class: "header-dark"
  )
%>

  <% cache_if enable_fragment_caching?, [page.updated_at, page.cache_key] do -%>
    <% content_for :head do %>
      <link rel="preload" href="<%= static_asset_path(customer_stories_alt_font_path) %>" as="font" type="font/woff2" crossorigin>
    <% end %>

    <div class="color-bg-default mb-lg-6">
      <%= render partial: "site/contentful/customer_stories/sub_nav", locals: { dark: true, classes: "customer-stories-home-subnav box-shadow-none" } %>

      <div class="position-relative color-bg-transparent overflow-hidden">
        <%= render partial: "site/contentful/customer_stories/hero_background" %>

        <%= render Site::SectionComponent.new(
          classes: "customer-stories__homepage-hero-container z-1 position-relative color-bg-transparent pb-lg-10"
        ) do %>

        <%= render Site::HeroComponent.new(
          header: page_data[:heading],
          classes: "position-relative mt-4 mt-lg-0 col-md-10 col-lg-7 mx-md-auto",
        ) %>

        <div class="d-flex flex-justify-center mb-5 mb-lg-9">
          <%= render(
            Site::LinkComponent.new(
              text: page_data[:link_text],
              url: category_customer_stories_path("all"),
              analytics: {
                category: "Read more",
                action: "click",
                label: "ref_cta:#{page_data[:link_text]}"
              }
            )
          ) %>
        </div>

        <div class="d-flex flex-column flex-md-row flex-justify-between">
          <% page_data[:featured_stories].each do |story| %>
            <%= render Site::Contentful::CustomerStories::StoryPreviewComponent.new(story) %>
          <% end %>
        </div>

        <div class="col-lg-6 mx-auto mb-5 mt-5 mb-lg-8">
          <h2 class="h1 text-center mb-2"><%= page_data[:subheading] %></h2>
          <p class="f3 text-center color-fg-muted"><%= page_data[:details] %></p>
        </div>

        <ul class="d-md-flex flex-justify-between pt-lg-4 clearfix">
          <% page_data[:callouts].each_with_index do |callout, index| %>
            <li
              class="<%= class_names(
                "d-flex flex-justify-center flex-items-center width-full flex-column py-5 color-fg-default float-left f3 color-bg-overlay border rounded mb-3",
                "mr-md-3" => index != 2,
                "ml-md-3" => index != 0,
              ) %>"
            >
              <span class="customer-story__fact-highlight lh-condensed-ultra text-normal f0-mktg d-block"><%= callout[:value] %></span>
              <span class="customer-story__fact-highlight--label f3-mktg"><%= callout[:label] %></span>
            </li>
          <% end %>
        </ul>

        <% if page_data[:featured_logos].present? %>
          <span class="sr-only">Businesses that utilize GitHub Enterprise:</span>
          <div class="d-flex flex-wrap flex-lg-nowrap flex-row flex-items-stretch flex-lg-items-center flex-lg-justify-around mt-10 mb-8">
            <% page_data[:featured_logos].each do |logo| %>
              <div class="col-6 d-flex flex-items-center flex-justify-center">
                <img width="150" src="<%= logo[:url] %>" alt="<%= logo[:title] %>" class="customer-story__logo height-auto width-auto customer-story__logo--home my-2">
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render Site::SectionComponent.new(theme: :light, class: "mx-0 px-lg-3 pb-8 pb-lg-9 pt-5 overflow-x-hidden") do %>
    <%= render partial: "site/contentful/customer_stories/category_section", locals: {
      heading: page_data[:enterprise_stories_heading],
      cta_category: "enterprise",
      about_link: enterprise_marketing_page_path,
      stories: enterprise_stories
    } %>

    <% if page_data[:highlighted_story].present? %>
      <%= render Site::Contentful::CustomerStories::Homepage::HighlightedStoryComponent.new(page_data[:highlighted_story]) %>
    <% end %>

    <%= render partial: "site/contentful/customer_stories/category_section", locals: {
      heading: page_data[:team_stories_heading],
      cta_category: "team",
      about_link: team_marketing_page_path,
      stories: team_stories
    } %>
  <% end %>

  <% if page_data[:featured_testimonials].present? %>
    <section class="color-bg-subtle py-7 py-lg-10" aria-labelledby="#testimonial-heading" <%= mktg_color_theme_attributes(mode: "light") %>>
      <%= render Site::Contentful::CustomerStories::TestimonialsCarouselComponent.new(page_data[:featured_testimonials]) %>
    </section>
  <% end %>

  <%= render partial: "site/contentful/customer_stories/footer_ctas" %>
<% end %>
