<% page_info(
  class: "f4",
  description: customer_story[:lead],
  richweb: {
    description: customer_story[:lead],
    image: customer_story[:hero_image][:url],
    title: "How #{customer_story[:title]} uses GitHub",
    url: request.original_url,
  },
  selected_link: customer_stories_path,
  title: customer_story[:title],
  marketing_footer_theme: "dark"
) %>

<% logo_classes = class_names("mr-3 mb-4 mb-lg-0 customer-story__logo width-auto", "customer-story__logo--colored" => customer_story[:keep_logo_color]) %>

<% content_for :head do %>
  <link rel="preload" href="<%= static_asset_path(customer_stories_alt_font_path) %>" as="font" type="font/woff2" crossorigin>
  <%= customer_story_structured_data_breadcrumb_list_tag(base_url: customer_stories_url, url: customer_story_url(customer_story[:url]), name: customer_story[:title]) %>
  <%= customer_story_structured_data_article_tag(customer_story) %>
<% end %>

<%= render partial: "site/contentful/customer_stories/sub_nav", locals: { dark: true, classes: "box-shadow-none" } %>

<%= render Site::SectionComponent.new(theme: :dark) do %>
  <div class="col-lg-10 mx-auto" data-hpc>
    <%= preview_label if customer_story[:preview_story] %>
    <div class="d-flex flex-justify-start flex-items-start flex-lg-items-center mb-3 my-lg-5 flex-column flex-lg-row f4-mktg slightly-transparent">
      <% if customer_story[:logo] %>
        <img
          width="150"
          src="<%= customer_story[:logo][:url] %>"
          alt=""
          class="<%= logo_classes %>"
        >
        <div class="border-lg-right mr-3 flex-self-stretch customer-story__logo--divider"></div>
      <% end %>

      <span>GitHub <%= customer_story[:main_category] %></span>
    </div>
    <h1 class="h3-mktg mb-6 mb-lg-<%= customer_story[:callouts].present? ? '8' : '4' %>">
      <%= customer_story[:lead] %>
    </h1>
    <% if customer_story[:callouts].present? %>
      <div class="col-lg-8">
        <ul class="d-md-flex flex-justify-between pt-lg-4">
          <% customer_story[:callouts].each do |callout| %>
            <li
              class="d-flex flex-column pb-4 pb-md-0 pr-2 color-fg-muted customer-story__figures float-left f3 <%= 'pl-md-6 border-md-left' if callout != customer_story[:callouts].first %>"
            >
              <span class="customer-story__fact-highlight lh-condensed-ultra text-normal f0-mktg d-block customer-story__fact-highlight--main"><%= callout[:value] %></span>
              <%= callout[:label] %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>

<%= render Site::SectionComponent.new(theme: :dark, padding: false, classes: "customer-story-container--half-dark") do %>
  <div class="col-lg-10 mx-auto position-relative">
    <%# Div allows us to keep the desired aspect ratio: %>
    <div class="customer-story__hero-size"></div>
    <%= render Site::ContentfulImageComponent.new(
      src: customer_story[:hero_image][:url],
      classes: "width-full height-full object-fit-cover position-absolute top-0 left-0 bottom-0 m-auto",
      width: 1030, height: 550,
      alt: customer_story[:hero_image][:description]
    ) %>
    <% if customer_story[:video_src] %>
      <div class="bottom-0 top-0 width-full position-absolute color-bg-default position-absolute slightly-transparent"></div>
      <span class="bottom-0 top-0 mb-7 width-full position-absolute d-flex flex-items-center position-absolute">
        <a
          href="<%= customer_story[:video_src] %>"
          class="color-fg-default mx-auto f4-mktg d-inline-flex flex-items-center p-3 flex-column"
        >
          <%= render(Primer::Beta::Octicon.new(icon: :play, size: :medium, mb: 2, classes: "customer-story__video-play height-auto")) %>
          &nbsp; Play video
          <span class="sr-only"><%= customer_story[:video_desc] %></span>
        </a>
      </span>
    <% end %>
  </div>
<% end %>

<% cache customer_story_body_cache_key(customer_story) do %>
  <% customer_story_body = Site::Contentful::CustomerStories::CustomerStory.fetch_body_for(customer_story[:url]) %>
  <%= render Site::SectionComponent.new(classes: "mt-lg-8") do %>

    <div class="gutter">
      <% if customer_story[:facts].present? %>
        <div class="col-lg-2 float-lg-right">
          <dl class="pl-2 pl-lg-3 border-left mb-4 clearfix">
            <% customer_story[:facts].each_with_index do |fact, index| %>
              <div class="col-6 float-left col-lg-12 pl-2">
                <dt class="color-fg-muted"><%= fact[:label] %></dt>
                <dd class="<%= 'mb-3' unless fact == customer_story[:facts].last %>">
                  <%= fact[:value] %>
                </dd>
              </div>
              <% if index % 2 != 0 %>
                <div class="clearfix"></div>
              <% end %>
            <% end %>
          </dl>
        </div>
      <% end %>

      <div class="col-lg-8 float-lg-right mb-5 mb-lg-8">
        <%= render Site::Contentful::CustomerStories::StoryHighlightsComponent.new(
          highlights: customer_story[:highlights],
          classes: "f4",
          products: customer_story[:product_filters] || [],
          large_names: true
        ) %>

        <hr>
      </div>

      <div class="col-lg-7 offset-lg-2 float-lg-left">
        <%= render Site::Contentful::CustomerStories::StoryBodyComponent.new(customer_story_body) %>

        <% if customer_story[:main_category] == Site::Contentful::CustomerStories::Categories::ENTERPRISE %>
          <%= render Primer::Box.new(bg: :subtle, p: [4, nil, nil, 6, nil], mt: [6, nil, nil, 9, nil], test_selector: "enterprise-cta") do %>
            <p class="f3-mktg mx-lg-3 mb-4">
              <b>Interested in bringing <u>GitHub Enterprise</u> to your organization?</b>
            </p>
            <p class="f3-mktg mx-lg-3 mb-4">
              Start your
              <%= render Primer::Beta::Link.new(
                underline: false,
                href: org_enterprise_plan_path(
                  ref_page: request.fullpath,
                  ref_cta: "free trial",
                  ref_loc: "Customer story #{customer_story[:title]}",
                )
              ) do %>
                free trial
                <span class="sr-only">of GitHub Enterprise</span>
              <% end %>
              for
              <%= pluralize(Billing::EnterpriseCloudTrial.trial_length.in_days.to_i, "day") %>
              days and increase your team&apos;s collaboration.
              $<%= GitHub::Plan.business_plus.unit_cost %> per user/month after trial expires.
            </p>

            <p class="f3-mktg mx-lg-3">
              Curious about
              <%= render Primer::Beta::Link.new(
                underline: false,
                href: pricing_path(
                  ref_page: request.fullpath,
                  ref_cta: "other plans",
                  ref_loc: "Customer story #{customer_story[:title]}",
                )
              ) do %>
                other plans?
                <span class="sr-only">from GitHub</span>
              <% end %>
            </p>
          <% end %>

        <% end %>
      </div>
    </div>
  <% end # SectionComponent %>
<% end %>

<% if customer_story[:related_stories].present? %>
  <%= render Site::SectionComponent.new(padding: false) do %>
    <h3>Related customer stories</h3>
    <hr class="mb-3">
    <%= render Site::Contentful::CustomerStories::StoryGridComponent.new(customer_story[:related_stories]) %>
  <% end %>
<% end %>

<%= render Site::Contentful::CustomerStories::CardLinksSectionComponent.new %>

<%= render partial: "site/contentful/customer_stories/footer_ctas" %>
