<%# erblint:counter DeprecatedComponentsCounter 1 %>
  <%= render(Primer::Beta::Subhead.new) do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Conversion
    <% end %>
  <% end %>

  <p>This discussion is currently marked as <strong>converting</strong>.<p>
  <p>If this conversion is stuck, you can try enqueuing a new job to complete the conversion.</p>

  <% unless GitHub.enterprise? %>
    <p <%= test_selector("conversion-splunk-prompt") %>>
      You can also search for conversion logs in <a class="Link--inTextBlock" href="<%= splunk_url %>">Splunk</a>.
    </p>
  <% end %>

  <%= form_with(url: form_path) do %>
    <%= render Primer::ButtonComponent.new(type: :submit).with_content("Enqueue conversion job") %>
  <% end %>
