<%# rubocop:disable Lint/InstanceVariable %>
<% page_info(
    title: "Insights · GitHub",
    breadcrumb: "Insights",
    breadcrumb_owner: this_organization,
    container_xl: @container_size == "container-xl",
    selected_link: :insights
  )
%>

<% content_for :header_title do %>
  <a class="Header-link" href="<%= user_path(this_organization) %>"><%= this_organization.to_s %></a>
<% end %>

<% content_for :content do %>
  <%= render partial: "orgs/insights/header", locals: { this_organization: this_organization, container_size: @container_size } %>
  <%= yield %>
<% end %>

<%= render template: 'layouts/application', locals: { tags: local_assigns.fetch(:tags, []) } %>
