<p style="text-align: start;">
  Hello,
</p>

<p style="text-align: start;">
  We're reaching out <%= @days_to_expire == 5 ? "one last time " : "" %>because <b>your program <%= @first_year ? "expiration" : "graduation" %> is coming up in <%= @days_to_expire %> days.</b> <%= @first_year ? "" : "Thank you for having been a part of GitHub for Startups!" %>
</p>

<% if @first_year %>
  <p style="text-align: start;">
    Want to continue on GitHub Enterprise? We're offering startups associated with an <%= link_to("approved GitHub for Startups partner", enterprise_startups_partners_page_url) %> a <b>50% discount</b> on GitHub Enterprise for their second year in the program.
  </p>

  <% case @days_to_expire %>
  <% when 30 %>

    <p style="text-align: start;">
      GitHub for Startups Enterprise <%= link_to("features", pricing_url) %>:
    </p>

    <p style="text-align: start;">
      <span>&#8226; 50K Action mins per month</span><br>
      <span>&#8226; User Management (SSO)</span><br>
      <span>&#8226; Organizational Controls (SOC)</span><br>
      <span>&#8226; ...and exclusive events, office hours, and webinars!</span><br>
    </p>

    <p style="text-align: start;">
      <b>Interested in GitHub Advanced Security?</b> We're also inviting startups returning to the program and new to Advanced security
      a <b>50% discount</b> on GitHub Advanced Security! Please reply to this email if you're interested!
    </p>

    <p style="text-align: start;">
      <span>&#8226; <%= link_to("Code Scanning", "#{GitHub.help_url}/code-security/code-scanning/introduction-to-code-scanning/about-code-scanning") %> - Search for potential security vulnerabilities and coding errors in your code.</span><br>
      <span>&#8226; <%= link_to("Secret Scanning", "#{GitHub.help_url}/code-security/secret-scanning/about-secret-scanning") %> - Detect secrets (keys, tokens, etc.) that have been checked into private repos.</span><br>
      <span>&#8226; <%= link_to("Dependency Review", "#{GitHub.help_url}/code-security/supply-chain-security/understanding-your-software-supply-chain/about-dependency-review") %> - Show the full impact of changes to dependencies and vulnerable versions before you merge a pull request.</span><br>
    </p>

    <p style="text-align: start;">
      <b>If you'd like to continue with the GitHub for Startups Year 2 offer:</b> Please keep an eye out for a follow up email in 2 weeks with further
      instructions - until then, we recommend <%= link_to("review the users in your Enterprise", "#{GitHub.help_url}/enterprise-cloud@latest/admin/user-management/managing-users-in-your-enterprise/viewing-people-in-your-enterprise") %>
      and ensuring you have a payment method on file as you'll be charged for the number of licenses in your Enterprise ($10.50 each) immediately upon renewal.
    </p>

  <% when 14 %>

    <p style="text-align: start;">
      <b>If you'd like to continue with the GitHub for Startups Year 2 offer:</b>
      Please <u>reply to this email within a week</u> so we can apply the 50% discount to your account.
      We'll apply the discount a few days before your program expiration date to ensure a seamless transition.
      We recommend you <%= link_to("review the users in your Enterprise", "#{GitHub.help_url}/enterprise-cloud@latest/admin/user-management/managing-users-in-your-enterprise/viewing-people-in-your-enterprise") %> and adjust the number of licenses in your Enterprise before reaching out as you'll be charged $10.50 per license (direct members + outside collaborators) immediately upon renewal.
      In your response, please specify which <%= link_to("GFS partner", enterprise_startups_partners_page_url) %> you're affiliated with.
    </p>

  <% when 5 %>

    <p style="text-align: start;">
      <b>If you'd like to continue with the GitHub for Startups Year 2 offer:
      </b> Please <u>reply to this email ASAP</u> so we can apply the 50% discount to your account.
      We recommend you <%= link_to("review the users in your Enterprise", "#{GitHub.help_url}/enterprise-cloud@latest/admin/user-management/managing-users-in-your-enterprise/viewing-people-in-your-enterprise") %> and adjust the number of licenses in your Enterprise before reaching out as you'll be charged $10.50 per license (direct members + outside collaborators) immediately upon renewal.
      In your response, please specify which GFS partner you're affiliated with.
    </p>

  <% end %>

  <p style="text-align: start;">
    <b>If you are not looking to continue on GitHub Enterprise:</b> please ensure you <%= link_to("delete your Enterprise Account", "#{GitHub.help_url}/enterprise-cloud@latest/admin/managing-your-enterprise-account/deleting-an-enterprise-account") %>
    before your program end date. Failure to do so will result in getting charged for GitHub Enterprise upon program expiration.
  </p>

  <p style="text-align: start;">
    Thank you again for building with GitHub for Startups! Feel free to reach out to us in the <%= link_to("GitHub for Startup support portal", "#{GitHub.support_url}/contact?tags=hh-github-for-startups")%>
    if you have any questions.
  </p>

<% else %>
  <p style="text-align: start;">
    At this time, we're offering you a GitHub for Startups graduation discount redeemable within 30 days of program graduation.
  </p>

  <p style="text-align: start;">
    <span>&#8226; GitHub Enterprise - 20% discount</span><br>
    <span>&#8226; GitHub Enterprise + Advanced Security - 25% discount</span><br>
  </p>

  <p style="text-align: start;">
    <b>If you're interested in the above, please let us know ASAP so we can send you more details and get you set up.</b>
  </p>

  <p style="text-align: start;">
    <b>If you are not looking to continue on GitHub Enterprise:</b> please make sure to <%= link_to("delete your Enterprise Account", "#{GitHub.help_url}/enterprise-cloud@latest/admin/managing-your-enterprise-account/deleting-an-enterprise-account") %>
    before your program end date. Failure to do so will result in getting charged for GitHub Enterprise upon graduation.
  </p>

  <p style="text-align: start;">
    <b>Resources</b>
  </p>

  <p style="text-align: start;">
    <span>&#8226; Feel free to watch and/or start our <%= link_to("GitHub for Startups repository", "#{GitHub.help_url}/github/GitHub-for-Startups-HQ/tree/main") %>, as we'll continue to update it with information for templates and additional use cases for builders like you.</span><br>
    <span>&#8226; Keep our <%= link_to("GitHub Marketplace", "#{GitHub.help_url}/marketplace?type=") %> bookmarked in order to see what shortcuts the open source community is adding!</span><br>
    <span>&#8226; Continue to use <%= link_to("GitHub Docs", "#{GitHub.help_url}") %>if you're feeling stuck while building.</span><br>
  </p>

  <p style="text-align: start;">
    Regards,
  </p>
<% end %>

<p style="text-align: start;">
  The GitHub for Startups Team
</p>

