<% content_for :header do %>
  <img src="<%= mailer_static_asset_path("images/email/startups-welcome.png") %>"
    alt="Welcome to GitHub for Startups"
    width="600">
<% end %>

<h3>
  Welcome to GitHub for Startups
</h3>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      Your <strong><%= @business.name %></strong> enterprise is in,
      and we can't wait to help you supercharge your startup.
      If you have any questions while you're in the program, reach out to
      us directly at <a href="mailto:startups@github.com">startups@github.com</a>.
    </p>
  <% end %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<h4 class="text-left">
  What you get with GitHub for Startups
</h4>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new(classes: "mr-3")) do %>
    <img src="<%= mailer_static_asset_path("images/email/icons/enterprise.png") %>"
      alt="Free access to GitHub Enterprise" width="56" height="56">
  <% end %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      <strong>Free access to GitHub Enterprise</strong>
    </p>
    <p>
      Up to 20 seats for GitHub Enterprise for one year on us 🚀
    </p>
  <% end %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new(classes: "mr-3")) do %>
    <img src="<%= mailer_static_asset_path("images/email/icons/devops-workflow.png") %>"
      alt="The industry's best DevOps platform" width="56" height="56">
  <% end %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      <strong>The industry's best DevOps platform</strong>
    </p>
    <p>
      You get GitHub's complete platform to build your business and products all in one place 🪜
    </p>
  <% end %>
<% end %>

<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new(classes: "mr-3")) do %>
    <img src="<%= mailer_static_asset_path("images/email/icons/admin-mentoring.png") %>"
      alt="Tailored product guidance" width="56" height="56">
  <% end %>
  <%= render(Mail::ColumnComponent.new) do %>
    <p>
      <strong>Tailored product guidance</strong>
    </p>
    <p>
      Expert panels, fast support, and everything else you need to level-up your startup and your time on GitHub 🤓
    </p>
  <% end %>
<% end %>

<%= render(Mail::SpacerComponent.new) %>

<%= render(Mail::ContainerComponent.new) do %>
  <%= render(Mail::ButtonComponent.new(
    text: "View your enterprise",
    url: enterprise_url(@business),
    classes: "btn-primary btn-large")
  ) %>
<% end %>

<% content_for :footer_text do %>
  You're receiving this email because you're an owner of the <%= @business.name %>
  enterprise on GitHub, which was onboarded into the GitHub for Startups program.
<% end %>
