<% page_info selected_link: :vss_subscription_events %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Unsuccessful VSS Subscription Events<% end %>
    <% component.with_description do %>
      These bundled license assignments are not assigned to an enterprise account.
      Refer to the <a class="Link--inTextBlock" href="https://github.com/github/licensing/blob/main/playbook/vss-subscription-event-failure.md">playbook</a>
      for more information on how to handle unsuccessful events.
    <% end %>
    <% component.with_actions do %><%= link_to "Orphaned Bundled License Assignments", stafftools_orphaned_bundled_license_assignments_path, class: "Link--inTextBlock" %><% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% component.with_body(p: 0) do %>
      <table class="stafftools-table">
        <% if events.any? %>
          <thead>
            <th class="no-wrap billing-table-cell pr-0">ID</th>
            <th class="no-wrap billing-table-cell pr-0">Status</th>
            <th class="no-wrap billing-table-cell pr-0">Operation</th>
            <th class="no-wrap billing-table-cell pr-0">Created</th>
            <th class="no-wrap billing-table-cell pr-0">Details</th>
          </thead>
          <% events.each do |event| %>
            <tbody class="Details js-details-container border-top">
              <%= render Stafftools::VssSubscriptionEvents::EventComponent.new(event: event) %>
            </tbody>
          <% end %>
        <% else %>
          <tr class="color-bg-subtle"><td>No unsuccessful events</td></tr>
        <% end %>
      </table>
    <% end %>
    <% if events.total_pages > 1 %>
      <% component.with_footer do %>
        <div class="paginate-container">
          <div class="pagination">
            <%= will_paginate events %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
