<nav class="UnderlineNav float-sm-right mx-auto" aria-label="Explore" data-pjax>
  <div class="UnderlineNav-body">
    <% if show_showcase_link? %>
      <%= selected_link_to showcases_path, :highlight => [:showcases, :showcases_search, :showcases_landing], :class => "UnderlineNav-item" do %>
        <%= render(Primer::Beta::Octicon.new(icon: "megaphone")) %> Showcases
      <% end %>
    <% end %>
    <%= selected_link_to trending_index_path, :highlight => [:trending_developers, :trending_repositories], :class => "UnderlineNav-item" do %>
      <%= render(Primer::Beta::Octicon.new(icon: "flame")) %> Trending
    <% end %>
    <% if show_activity_link? %>
      <%= selected_link_to dashboards_overview_path, :highlight => [:explore_activity], :class => "UnderlineNav-item" do %>
        <%= render(Primer::Beta::Octicon.new(icon: "pulse")) %> Activity
      <% end %>
    <% end %>
  </div>
</nav>
