<div class="Box" data-test-id="codespaces-group">
  <div class="Box-header">
    <h3 class="Box-title">
      Codespace User Settings
    </h3>
  </div>
  <div class="Box-body">
    <div class="summary">
      <dl>
        <dt>Dotfiles enabled</dt>
        <dd><%= user.codespace_dotfiles_enabled? %></dd>
        <% if user.codespace_dotfiles_enabled? && user.codespace_dotfiles_repository.present? %>
          <dt>Dotfiles repository</dt>
          <dd><%= link_to user.codespace_dotfiles_repository.nwo, gh_stafftools_repository_path(user.codespace_dotfiles_repository), class: "Link--inTextBlock" %></dd>
        <% end %>
        <dt>Editor preference</dt>
        <dd><%= user.codespace_preferred_editor %></dd>
        <dt>Default retention period</dt>
        <dd><%= codespace_retention_period_for_user %> days</dd>
        <dt>Default idle timeout</dt>
        <dd><%= codespace_idle_timeout_for_user %> minutes</dd>
        <dt>GPG authorization</dt>
        <dd><%= gpg_authorization_setting.humanize %></dd>
        <dt>Host image version preference</dt>
        <dd><%= user.codespace_preferred_host_image %></dd>
      </dl>
    </div>
  </div>
</div>
<br>
