<%= render(Primer::Beta::BorderBox.new) do |component| %>
  <% component.with_header(display: :flex, bg: :danger_emphasis, color: :on_emphasis, classes: 'dangerzone', font_weight: :emphasized) do %>
    Danger Zone
  <% end %>
  <% if codespaces_length.positive? %>
    <% component.with_row do %>
      <% if helpers.stafftools_action_authorized?(controller: Stafftools::CodespacesController, action: :suspend_dependent_codespaces) %>
        <%= render(Primer::Experimental::Dialog.new(
          dialog_id: "suspend-codespaces-dialog",
          header_variant: :large,
          width: :large,
          title: "Suspend all codespaces",
          form_url: stafftools_user_suspend_dependent_codespaces_path(user),
          form_method: :post
        )) do |c| %>
          <% c.with_show_button(
            color: :danger,
            float: :right,
          ) do |s| %>
            Suspend
          <% end %>
          <% c.with_body do %>
            <p>
              Are you sure you want to suspend this <%= user.organization? ? "organization" : "user" %>'s codespaces?
              This includes both codespaces for which they are the owner or billable owner.
              <strong>This will stop any running codespaces requiring users to restart them.</strong>
            </p>
          <% end %>
          <% c.with_button(
            data: { "close-dialog-id": "suspend-codespaces-dialog" }
          ) { "Cancel" } %>
          <% c.with_button(
            type: :submit,
            scheme: :danger,
            data: { "disable-with": "" }
          ) { "Suspend" } %>
        <% end %>

        <h4>Suspend all codespaces</h4>
        <p>Suspend all of the <%= user.organization? ? "organization" : "user" %>'s codespaces.</p>
      <% else %>
        <h4>Suspend all codespaces</h4>
        <p><%= helpers.stafftools_not_authorized_html %></p>
      <% end %>
    <% end %>

    <% component.with_row do %>
      <% if helpers.stafftools_action_authorized?(controller: Stafftools::CodespacesController, action: :deprovision_dependent_codespaces) %>
        <%= render(Primer::Experimental::Dialog.new(
          dialog_id: "deprovision-codespaces-dialog",
          header_variant: :large,
          width: :large,
          title: "Deprovision all codespaces",
          form_url: stafftools_user_deprovision_dependent_codespaces_path(user),
          form_method: :post
        )) do |c| %>
          <% c.with_show_button(
            color: :danger,
            float: :right,
          ) do |s| %>
            Deprovision
          <% end %>
          <% c.with_body do %>
            <p>
              Are you sure you want to deprovision this <%= user.organization? ? "organization" : "user" %>'s codespaces?
              This includes both codespaces for which they are the owner or billable owner.
              <strong>This action cannot be undone.</strong>
            </p>
          <% end %>
          <% c.with_button(
            data: { "close-dialog-id": "deprovision-codespaces-dialog" }
          ) { "Cancel" } %>
          <% c.with_button(
            type: :submit,
            scheme: :danger,
            data: { "disable-with": "" }
          ) { "Deprovision" } %>
        <% end %>

        <h4>Deprovision all codespaces</h4>
        <p>Deprovision all of the <%= user.organization? ? "organization" : "user" %>'s codespaces.</p>
      <% else %>
        <h4>Deprovision all codespaces</h4>
        <p><%= helpers.stafftools_not_authorized_html %></p>
      <% end %>
    <% end %>
  <% end %>

  <% if deleted_codespaces_length.positive? %>
    <% component.with_row do %>
      <% if helpers.stafftools_action_authorized?(controller: Stafftools::CodespacesController, action: :bulk_restore_environments) %>
        <%= render(Primer::Experimental::Dialog.new(
          dialog_id: "restore-codespaces-dialog",
          header_variant: :large,
          width: :large,
          title: "Restore all codespaces",
          form_url: stafftools_user_bulk_restore_environments_path(user),
          form_method: :post
        )) do |c| %>
          <% c.with_show_button(
            color: :danger,
            float: :right,
          ) do |s| %>
            Restore
          <% end %>

          <% c.with_body do %>
            <p>
              Are you sure you want to restore all of this <%= user.organization? ? "organization" : "user" %>'s <%= deleted_codespaces_length %> deleted codespaces?
              This includes both codespaces for which they are the owner or billable owner.
               <strong>Depending on the number of codespaces to restore, this may take anywhere from a few minutes to a few hours.</strong>
               <strong>Also, if a codespace's owner or repository has been deleted, it won't be restored.</strong>
            </p>

            <%= render(Primer::Alpha::CheckBoxGroup.new(
              name: "bulk_restore_deletion_reasons",
              id: "bulk_restore_deletion_reasons",
              label: "Optionally restore by deletion reason",
              required: false)) do |c|
                Codespace.deletion_reasons.each do |_, reason|
                  c.check_box(label: reason.humanize.capitalize, value: reason)
                end
              end
            %>
          <% end %>

          <% c.with_button(
            data: { "close-dialog-id": "restore-codespaces-dialog" }
          ) { "Cancel" } %>
          <% c.with_button(
            type: :submit,
            scheme: :danger,
            data: { "disable-with": "" }
          ) { "Restore" } %>
        <% end %>

        <h4>Restore all codespaces</h4>
        <p>Restore all of the <%= user.organization? ? "organization" : "user" %>'s codespaces.</p>
      <% else %>
        <h4>Restore all codespaces</h4>
        <p><%= helpers.stafftools_not_authorized_html %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
