<div class="Box" data-test-id="codespaces-group">
  <div class="Box-header">
    <h3 class="Box-title">
      Codespace Organization Settings
    </h3>
  </div>
  <div class="Box-body">
    <label for="access_setting" class="mr-2">Access setting:</label><%= render Primer::Beta::Label.new(id: "access_setting", scheme: :purple) do %><%= access_setting %><% end %>
  </div>
  <% unless codespaces_enabled_users %>
    <div class="Box-body">
      <ul>
        <% codespaces_enabled_users.each do |user| %>
          <li class="Box-row">
            <%= primer_octicon(:person, mr: 2) %>
            <%= link_to user.login, stafftools_user_path(user) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="Box-body">
    <label for="ownership_setting" class="mr-2">Ownership Setting:</label><%= render Primer::Beta::Label.new(id: "ownership_setting", scheme: :purple) do %><%= ownership_setting %><% end %>
  </div>
  <div class="Box-body">
    <label for="trusted_repositories" class="mr-2">Trusted repositories:</label> <%= render Primer::Beta::Label.new(id: "trusted_repositories", scheme: :purple) do %><%= access_and_security %><% end %>
  </div>
  <% unless current_org_trusted_repositories %>
    <div class="Box-body">
      <ul>
        <% current_org_trusted_repositories.each do |trusted_repo| %>
          <li class="Box-row">
            <%= primer_octicon(:repo, mr: 2) %>
            <%= link_to trusted_repo.name , stafftools_repositories_path(trusted_repo) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<br>
