<div class="d-flex flex-column py-3 border-bottom" <%= test_selector("dependency-graph-autosubmission") %>>
  <div class="d-flex flex-md-row flex-md-items-center">
    <div class="col-8 mb-md-0 px-2">
      <strong>Automatic dependency submission</strong>
      <p class="mb-0">
        Automatically detect and report build-time dependencies for select ecosystems.
      </p>
    </div>
    <div class="flex-auto">
    </div>
    <div>
      <% if restricted_by_security_configuration? %>
        <div class="BtnGroup flex-auto">
          <div <%= test_selector("dependency-graph-autosubmission-restricted-status") %>>
            <%= render Primer::Beta::Octicon.new(:"shield-lock", color: :muted) %>
            <%= current_state_label %>
          </div>
        </div>
      <% else %>
        <%= render(Primer::Alpha::ActionMenu.new(
          menu_id: "repository-settings-automatic-dependency-submission-menu",
          select_variant: :single,
          size: :auto,
          anchor_align: :end,
          dynamic_label: true,
          preload: true,
          src: repository_security_and_analysis_ads_opts_path(repository.owner, repository)),
        ) do |menu| %>
          <% menu.with_show_button do |button| %>
            <%= current_state_label %> <% button.with_trailing_action_icon(icon: :"triangle-down") %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if blocked_by_actions? %>
    <div class="d-flex flex-md-row flex-md-items-center">
      <p class=" mt-2 px-2">
        <%= render Primer::Beta::Text.new(color: :attention, display: :block) do %>
          <%= primer_octicon(:alert) %>
          You must enable actions on this repository to use automatic dependency submission.
        <% end %>
      </p>
    </div>
  <% end %>
</div>
