<div class="d-flex flex-md-row flex-column flex-md-items-center py-3">
  <div class="mb-md-0 mb-2 flex-auto col-md-10">
    <h3 class="h4">Dependency graph</h3>
    <p class="mb-0">Understand your dependencies.</p>
    <% if enabled_at_instance_level? %>
      <p class="mb-0 color-fg-muted text-small ws-normal" <%=test_selector("dependency-graph-enterprise-contact-admin")%>>
        Contact your <%= GitHub.flavor %> administrators to
        <%= link_to dependency_graph_enterprise_link_action, dependency_graph_enterprise_link_url, class: "Link--inTextBlock" %>.
      </p>
    <% elsif is_restricted_by_public_repo? %>
      <p class="mb-0 color-fg-muted text-small">Dependency graph is always enabled for public repos.</p>
    <% end %>

    <% if has_mixed_restrictions? %>
      <% if restricted_by_enterprise_policy? %>
        <%= render(SecurityProductsEnablement::RepositoryCodeSecurityPolicyNotificationComponent.new(business, mt: 1)) %>
      <% elsif restricted_by_security_configuration? %>
        <%= render(SecurityProductsEnablement::RepositoryCodeSecurityPolicyNotificationComponent.new(helpers.owner, mt: 1)) %>
      <% end %>
    <% end %>
  </div>
  <div>
    <% if restricted? %>
      <div class="BtnGroup flex-auto">
        <div <%= test_selector("dependency-graph-restricted-status") %>>
          <% if display_shield_icon? %>
            <%= render Primer::Beta::Octicon.new(:"shield-lock", color: :muted) %>
          <% end %>

          <% if is_currently_enabled? %>
            Enabled
          <% else %>
            Disabled
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="BtnGroup flex-auto" <%= test_selector("dependency-graph-toggle-buttons") %>>
        <%= form_tag data.update_security_products_settings_path, method: :put do %>
          <% if is_currently_enabled? %>
            <% if data.dependency_graph_disable_dependents_prompt %>
              <%= render(Settings::SecuritySettingDialogComponent.new(
                button_text: "Disable",
                title: "Disable dependency graph",
                button_aria_label: "Disable dependency graph",
                button_scheme: :danger,
                dialog_text: data.dependency_graph_disable_dependents_prompt,
                input_name: "dependency_graph_enabled",
                input_value: 0,
                data_octo_click: "repo_dep_graph",
                data_octo_dimensions: !is_currently_enabled?))
              %>
            <% else %>
              <input type="hidden" name="dependency_graph_enabled" value="0">
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, "data-octo-click": "repo_dep_graph", "data-octo-dimensions": "enabled:#{ !data.dependency_graph_enabled },location:settings", "aria-label": "Disable dependency graph", px: 3) do %>
                Disable
              <% end %>
            <% end %>
          <% else %>
            <input type="hidden" name="dependency_graph_enabled" value="1">
            <%= render Primer::Beta::Button.new(type: :submit, "data-octo-click": "repo_dep_graph", "data-octo-dimensions": "enabled:#{ !data.dependency_graph_enabled },location:settings", "aria-label": "Enable dependency graph", px: 3) do %>
              Enable
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
