  <% if data.secret_scanning_push_protection_visible %>
    <div class="d-flex flex-md-row flex-column flex-md-items-center"
      <%= test_selector("secret-scanning-push-protection-settings") %>
    >
      <div class="mb-md-0 mb-2 flex-auto col-md-10">
        <h4>Push protection</h4>
        Block commits that contain
        <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url(ghec_exclusive: ghas_purchased)}/code-security/secret-scanning/secret-scanning-patterns#supported-secrets", classes: "Link--inTextBlock")) { "supported secrets" } %>.
      </div>
      <div>
        <div class="BtnGroup flex-auto">
          <% if restricted? %>
            <div class="BtnGroup flex-auto">
              <div <%= test_selector("secret-scanning-push-protection-restricted-status") %>>
                <%= render Primer::Beta::Octicon.new(:"shield-lock", color: :muted) if display_shield_icon? %>
                <% if is_currently_enabled? %>
                  Enabled
                <% else %>
                  Disabled
                <% end %>
              </div>
            </div>
          <% elsif data.secret_scanning_push_protection_blocked_by_in_progress_setting %>
            <% push_protection_enablement_action = is_currently_enabled? ? "Disable" : "Enable" %>
            <%= render Primer::Beta::Button.new(
              aria: { disabled: true, label: "#{push_protection_enablement_action} push protection" },
              scheme: is_currently_enabled? ? :default : :danger,
              test_selector: "push-protection-button-disabled-by-security-product-toggling-in-progress",
              title: "Org-level toggling in progress",
              px: 3,
            ).with_content(push_protection_enablement_action) %>
          <% else %>
            <%= form_tag data.update_security_products_settings_path, method: :put do %>
              <% if is_currently_enabled? %>
                <input type="hidden" name="token_scanning_push_protection_enabled" value="0">
                <%= render Primer::Beta::Button.new(
                  type: :submit,
                  scheme: :danger,
                  "aria-label": "Disable push protection",
                  data: {
                    **analytics_click_attributes(
                      category: "repository_settings",
                      action: "token_scanning_push_protection.disable"
                    )},
                    px: 3,
                  ) do %>
                  Disable
                <% end %>
              <% else %>
                <input type="hidden" name="token_scanning_push_protection_enabled" value="1">
                <%= render Primer::Beta::Button.new(
                  type: :submit,
                  "aria-label": "Enable push protection",
                  data: {
                    **analytics_click_attributes(
                      category: "repository_settings",
                      action: "token_scanning_push_protection.enable"
                    )},
                  px: 3,
                  ) do %>
                  Enable
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% if has_mixed_restrictions? %>
      <% if restricted_by_enterprise_policy? %>
        <%= render(SecurityProductsEnablement::RepositoryCodeSecurityPolicyNotificationComponent.new(business, mt: 1, mb: 2)) %>
      <% elsif restricted_by_security_configuration? %>
        <%= render(SecurityProductsEnablement::RepositoryCodeSecurityPolicyNotificationComponent.new(helpers.owner, mt: 1, mb: 2)) %>
      <% end %>
    <% end %>
  <% end # end push protection %>
