  <% if data.secret_scanning_lower_confidence_patterns_visible %>
    <div class="d-flex flex-md-row flex-column flex-md-items-center"
      <%= test_selector("secret-scanning-non-provider-patterns-settings") %>
    >
      <div class="mb-md-0 mb-2 flex-auto col-md-10">
        <h4>Non-provider patterns</h4>
        Scan for non-provider patterns.
        <%= render(Primer::Beta::Link.new(href: helpers.docs_url("code-security/supported-secret-scanning-patterns-non-provider-patterns", ghec: true), classes: "Link--inTextBlock")) { "Learn more about non-provider patterns." } %>
      </div>
      <div>
        <div class="BtnGroup flex-auto">
          <% if restricted? %>
            <div <%= test_selector("secret-scanning-non-provider-patterns-restricted-status") %>>
              <%= render Primer::Beta::Octicon.new(:"shield-lock", color: :muted) if display_shield_icon? %>
              <% if is_currently_enabled? %>
                Enabled
              <% else %>
                Disabled
              <% end %>
            </div>
          <% elsif data.secret_scanning_lower_confidence_patterns_blocked_by_in_progress_setting %>
            <% lower_confidence_patterns_enablement_action = is_currently_enabled? ? "Disable" : "Enable" %>
            <%= render Primer::Beta::Button.new(
              aria: { disabled: true, label: "#{lower_confidence_patterns_enablement_action} scan for non-provider patterns" },
              scheme: is_currently_enabled? ? :default : :danger,
              test_selector: "non-provider-patterns-button-disabled-by-security-product-toggling-in-progress",
              title: "Org-level toggling in progress",
              px: 3,
            ).with_content(lower_confidence_patterns_enablement_action) %>
          <% else %>
            <%= form_tag data.update_security_products_settings_path, method: :put do %>
              <% if is_currently_enabled? %>
                <input type="hidden" name="token_scanning_lower_confidence_patterns_enabled" value="0">
                <%= render Primer::Beta::Button.new(
                  type: :submit,
                  scheme: :danger,
                  test_selector: "non-provider-patterns-disable-button",
                  "aria-label": "Disable scanning for non-provider patterns",
                  data: {
                    **analytics_click_attributes(
                      category: "repository_settings",
                      action: "token_scanning_lower_confidence_patterns.disable"
                    )},
                    px: 3,
                  ) do %>
                  Disable
                <% end %>
              <% else %>
                <input type="hidden" name="token_scanning_lower_confidence_patterns_enabled" value="1">
                <%= render Primer::Beta::Button.new(
                  type: :submit,
                  test_selector: "non-provider-patterns-enable-button",
                  "aria-label": "Enable scanning for non-provider patterns",
                  data: {
                    **analytics_click_attributes(
                      category: "repository_settings",
                      action: "token_scanning_lower_confidence_patterns.enable"
                    )},
                  px: 3,
                  ) do %>
                  Enable
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% if has_mixed_restrictions? %>
      <% if restricted_by_enterprise_policy? %>
        <%= render(SecurityProductsEnablement::RepositoryCodeSecurityPolicyNotificationComponent.new(business, mt: 1, mb: 2)) %>
      <% elsif restricted_by_security_configuration? %>
        <%= render(SecurityProductsEnablement::RepositoryCodeSecurityPolicyNotificationComponent.new(helpers.owner, mt: 1, mb: 2)) %>
      <% end %>
    <% end %>
  <% end # end non-provider patterns %>
