  <% if data.secret_scanning_validity_checks_visible %>
    <div class="d-flex flex-md-row flex-column flex-md-items-center"
      <%= test_selector("secret-scanning-validity-checks-settings") %>
    >
      <div class="mb-md-0 mb-2 flex-auto col-md-10">
        <h4>Validity checks</h4>
        Automatically
        <%= render(Primer::Beta::Link.new(href: helpers.docs_url("code-security/supported-secret-scanning-patterns-supported-secrets", ghec: true), classes: "Link--inTextBlock")) { "verify if a secret is valid" } %>
        by sending it to the relevant partner.
      </div>
      <div>
        <div class="BtnGroup flex-auto">
          <% if restricted? %>
            <div <%= test_selector("secret-scanning-validity-checks-restricted-status") %>>
              <%= render Primer::Beta::Octicon.new(:"shield-lock", color: :muted) if display_shield_icon? %>
              <% if is_currently_enabled? %>
                Enabled
              <% else %>
                Disabled
              <% end %>
            </div>
          <% elsif data.secret_scanning_validity_checks_blocked_by_in_progress_setting %>
            <% validity_checks_enablement_action = is_currently_enabled? ? "Disable" : "Enable" %>
            <%= render Primer::Beta::Button.new(
              aria: { disabled: true, label: "#{validity_checks_enablement_action} validity checks" },
              scheme: is_currently_enabled? ? :default : :danger,
              test_selector: "validity-checks-button-disabled-by-security-product-toggling-in-progress",
              title: "Org-level toggling in progress",
              px: 3,
            ).with_content(validity_checks_enablement_action) %>
          <% else %>
            <%= form_tag data.update_security_products_settings_path, method: :put do %>
              <% if is_currently_enabled? %>
                <input type="hidden" name="token_scanning_validity_checks_enabled" value="0">
                <%= render Primer::Beta::Button.new(
                  type: :submit,
                  scheme: :danger,
                  "aria-label": "Disable validity checks",
                  data: {
                    **analytics_click_attributes(
                      category: "repository_settings",
                      action: "token_scanning_validity_checks.disable"
                    )},
                    px: 3,
                  ) do %>
                  Disable
                <% end %>
              <% else %>
                <input type="hidden" name="token_scanning_validity_checks_enabled" value="1">
                <%= render Primer::Beta::Button.new(
                  type: :submit,
                  "aria-label": "Enable validity checks",
                  data: {
                    **analytics_click_attributes(
                      category: "repository_settings",
                      action: "token_scanning_validity_checks.enable"
                    )},
                  px: 3,
                  ) do %>
                  Enable
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% if has_mixed_restrictions? %>
      <% if restricted_by_enterprise_policy? %>
        <%= render(SecurityProductsEnablement::RepositoryCodeSecurityPolicyNotificationComponent.new(business, mt: 1, mb: 2)) %>
      <% elsif restricted_by_security_configuration? %>
        <%= render(SecurityProductsEnablement::RepositoryCodeSecurityPolicyNotificationComponent.new(helpers.owner, mt: 1, mb: 2)) %>
      <% end %>
    <% end %>
  <% end # end validity checks %>
