<div>
  <div class="ml-4 d-flex flex-md-row flex-column flex-md-items-center py-3" <%= test_selector("vulnerability-updates-settings")%>>
    <div class="mr-md-4 mb-md-0 mb-2 flex-auto col-md-10">
      <h4>Dependabot security updates</h4>
      <p class="mb-0">
        Enabling this option will result in Dependabot automatically attempting to open pull requests to resolve every open Dependabot alert with an available patch.
        <% if data.dependabot_alerts_custom_rules_toggle_visible %>
          If you would like more specific configuration options, leave this disabled and use <%= link_to "Dependabot rules", dependabot_rules_path(user_id: current_repository.owner, repository: current_repository.name), target: "_blank", class: "Link--inTextBlock" %>.
        <% else %>
        <% end %>
      </p>
      <% if data.dependabot_security_updates_admin_configuration_prompt %>
        <p class="mb-0 color-fg-muted text-small ws-normal"><%= data.dependabot_security_updates_admin_configuration_prompt%></p>
      <% end %>

      <% if has_mixed_restrictions? %>
        <% if restricted_by_enterprise_policy? %>
          <%= render(SecurityProductsEnablement::RepositoryCodeSecurityPolicyNotificationComponent.new(business, mt: 1)) %>
        <% elsif restricted_by_security_configuration? %>
          <%= render(SecurityProductsEnablement::RepositoryCodeSecurityPolicyNotificationComponent.new(helpers.owner, mt: 1)) %>
        <% end %>
      <% end %>

    </div>
    <% if available? %>
      <div>
        <% if restricted? %>
          <div class="BtnGroup flex-auto">
            <div <%= test_selector("vulnerability-updates-restricted-status") %>>
              <span><%= render Primer::Beta::Octicon.new(:"shield-lock", color: :muted) if display_shield_icon? %> <%= is_currently_enabled? ? 'Enabled' : 'Disabled' %></span>
            </div>
          </div>
        <% else %>
          <div class="BtnGroup flex-auto" <%= test_selector("vulnerability-updates-toggle-buttons") %>>
            <%= form_tag data.update_security_products_settings_path, method: :put do %>
              <% if data.dependabot_security_updates_enabled %>
                <input type="hidden" name="vulnerability_updates_enabled" value="0">
                <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, "aria-label": "Disable dependabot security updates", px: 3) do %>Disable<% end %>
              <% else %>
                <% if !data.dependabot_security_updates_enable_prerequisites_prompt %>
                    <input type="hidden" name="vulnerability_updates_enabled" value="1">
                    <%= render Primer::Beta::Button.new(type: :submit, block: true, "data-close-dialog": "", "aria-label": "Enable dependabot security updates", px: 3) do %>Enable<% end %>
                <% else %>
                  <%= render(Settings::SecuritySettingDialogComponent.new(
                    button_text: "Enable",
                    title: "Enable Dependabot security updates",
                    button_aria_label: "Enable Dependabot security updates",
                    dialog_text: data.dependabot_security_updates_enable_prerequisites_prompt,
                    input_name: "vulnerability_updates_enabled",
                    input_value: 1))
                  %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
