<div class="AppHeader-context" <%= test_selector("context-region") %>>
  <div class="AppHeader-context-compact">
    <% if context_item_compact_parents.empty? %>
      <% if context_item_leaf.present? %>
        <a
          class="AppHeader-context-compact-trigger no-underline"
          href="<%= path(context_item_leaf) %>"
          aria-current="page"
          <%= safe_analytics_click_attributes(category: "SiteHeaderComponent", action: "compact_context_region_dialog_button", label: context_item_leaf.label) %>
        >
          <%= render Site::Header::ContextRegion::CompactCrumbComponent.new(context_item_leaf) %>
        </a>
      <% end %>
    <% else %>
      <%= render(Primer::Alpha::Dialog.new(
        title: "Navigate back to",
        id: "context-region-dialog",
      )) do |d| %>
        <% d.with_show_button(classes: "AppHeader-context-compact-trigger Truncate", box_shadow: :none, aria: { expanded: false, haspopup: "dialog", label: "Page context: #{page_context}" }) do %>
          <% if context_item_compact_parents.any? %>
            <span class="AppHeader-context-compact-lead">
              <% context_item_compact_parents.each do |context_item| %>
                <span class="AppHeader-context-compact-parentItem"><%= context_item.label %></span>
                <span class="no-wrap">&nbsp;/<% if context_item_compact_parent_overflow.present? %>&nbsp;<% end %></span>
              <% end %>

              <% if context_item_compact_parent_overflow.present? %>
                <span class="AppHeader-context-compact-parentItem">
                  <%= context_item_compact_parent_overflow.label %>
                  <% if compact_longer_chain? %> / &hellip;<% end %>
                </span>
                <span class="no-wrap">&nbsp;/</span>
              <% end %>
            </span>
          <% end %>

          <% if context_item_leaf.present? %>
            <%= render Site::Header::ContextRegion::CompactCrumbComponent.new(context_item_leaf) %>
          <% end %>
        <% end %>

        <% d.with_body do %>
          <%= render Site::Header::ContextRegion::CrumbsComponent.new(context_items, current_path, compact: true) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="AppHeader-context-full">
    <nav role="navigation" aria-label="Page context">
      <%= render Site::Header::ContextRegion::CrumbsComponent.new(context_items, current_path) %>
    </nav>
  </div>
</div>
