<% if copilot_floating_button_flag_enabled? %>
  <%= javascript_bundle "copilot-chat" %>
  <%= stylesheet_bundle "copilot-markdown-rendering" %>
  <include-fragment src="<%= copilot_chat_path %>?skip_anchor=true"></include-fragment>
<% else %>
  <div>
    <% if copilot_rails_anchor_flag_enabled? %>
      <react-partial-anchor>
        <%= render Primer::Beta::IconButton.new(
          icon: :copilot,
          id: "copilot-chat-header-button",
          "aria-label": "Chat with Copilot",
          classes: "AppHeader-CopilotChat AppHeader-button cursor-wait",
          data: {
            target: "react-partial-anchor.anchor",
            hotkey: "Shift+C",
          },
          disabled: true,
          "aria-expanded": "false",
          "aria-controls": "copilot-chat-panel"
        ) %>
        <template data-target="react-partial-anchor.template">
          <%# TODO: temporary fix to get js to bundle correctly and HMR %>
          <%= javascript_bundle "copilot-chat" %>
          <%= stylesheet_bundle "copilot-markdown-rendering" %>
          <include-fragment src="<%= copilot_chat_path %>?skip_anchor=true"></include-fragment>
        </template>
      </react-partial-anchor>
    <% else %>
      <%# TODO: temporary fix to get js to bundle correctly and HMR %>
      <%= javascript_bundle "copilot-chat" %>
      <%= stylesheet_bundle "copilot-markdown-rendering" %>
      <include-fragment src="<%= copilot_chat_path %>">
        <%= render Primer::Beta::IconButton.new(
          icon: :copilot,
          "aria-label": "Chat with Copilot",
          color: :muted,
          classes: "AppHeader-CopilotChat AppHeader-button cursor-wait",
          disabled: true,
      ) %>
      </include-fragment>
    <% end %>
  </div>
<% end %>
