<% track_render_partial(tracking_name("global_side_panel"), tracking_tags) do %>
  <%= render Primer::Experimental::SidePanel.new(**panel_arguments) do |panel| %>
    <% panel.with_header_octicon(:"mark-github") %>

    <% panel.with_list(aria: { label: "Site navigation" }) do |list| %>
      <% list.with_item(label: "Home", href: dashboard_url, content_arguments: { data: { hotkey: hotkeys_for(current_user, :global, :go_to_dashboard), **analytics_attributes(:HOME) }}) do |item| %>
        <% item.with_leading_visual_icon(icon: :home) %>
      <% end %>

      <% list.with_item(label: "Issues", href: all_issues_url, content_arguments: { data: { hotkey: hotkeys_for(current_user, :global, :go_to_your_issues), **analytics_attributes(:ISSUES) }}) do |item| %>
        <% item.with_leading_visual_icon(icon: :"issue-opened") %>
      <% end %>

      <% list.with_item(label: "Pull requests", href: all_pulls_url, content_arguments: { data: { hotkey: hotkeys_for(current_user, :global, :go_to_your_pull_requests), **analytics_attributes(:PULL_REQUESTS) }}) do |item| %>
        <% item.with_leading_visual_icon(icon: :"git-pull-request") %>
      <% end %>

      <% list.with_item(label: "Projects", item_id: :projects, href: projects_dashboard_path, content_arguments: { data: { **analytics_attributes(:PROJECTS) }}) do |item| %>
        <% item.with_leading_visual_icon(icon: :"table") %>
      <% end %>

      <% if show_discussions_link? %>
        <% list.with_item(label: "Discussions", href: all_discussions_url, content_arguments: { data: { **analytics_attributes(:DISCUSSIONS) }}) do |item| %>
          <% item.with_leading_visual_icon(icon: :"comment-discussion") %>
        <% end %>
      <% end %>

      <% if GitHub.codespaces_enabled? %>
        <% list.with_item(label: "Codespaces", href: codespaces_url, content_arguments: { data: { **analytics_attributes(:CODESPACES) }}) do |item| %>
          <% item.with_leading_visual_icon(icon: :codespaces) %>
        <% end %>
      <% end %>

      <% if show_copilot_link? %>
        <% list.with_item(label: "Copilot", href: copilot_url, content_arguments: { data: { **analytics_attributes(:COPILOT) }}) do |item| %>
          <% item.with_leading_visual_icon(icon: :copilot) %>
        <% end %>
      <% end %>

      <% list.with_divider %>

      <% unless hide_explore_link? %>
        <% list.with_item(label: "Explore", href: explore_url, content_arguments: { data: { **analytics_attributes(:EXPLORE) }}) do |item| %>
          <% item.with_leading_visual_icon(icon: :telescope) %>
        <% end %>
      <% end %>

      <% if show_marketplace_link? %>
        <% list.with_item(label: "Marketplace", href: marketplace_url, content_arguments: { data: { **analytics_attributes(:MARKETPLACE) }}) do |item| %>
          <% item.with_leading_visual_icon(icon: :gift) %>
        <% end %>
      <% end %>

      <% if rich_content_enabled? && !placeholder? %>
        <% if repositories.any? %>
          <% list.with_experimental_group(test_selector: "top-repositories", **group_data_args(src: side_panel_items_path(panel: :global, type: :repositories), filter_item_type: 'repository')) do |group| %>
            <% group.with_heading(title: "Repositories") %>
            <% group.with_filter(label: "Filter repositories") %>

            <% repositories.each do |repo| %>
              <% group.with_avatar_item(src: repo.owner.primary_avatar_url, username: repo.name_with_display_owner, href: repository_path(repo), truncate_label: true, content_arguments: { data: { **analytics_attributes(:REPOSITORY_ITEM) }}) %>
            <% end %>

            <% group.with_experimental_show_more_item(label: "Show more", label_arguments: { color: :muted, font_size: 6 }, content_arguments: { data: { **analytics_attributes(:SHOW_MORE_REPOS) }}) %>
          <% end %>
        <% end %>

        <% if teams.any? %>
          <% list.with_experimental_group(test_selector: "your-teams", **group_data_args(src: side_panel_items_path(panel: :global, type: :teams), filter_item_type: 'team')) do |group| %>
            <% group.with_heading(title: "Teams") %>
            <% group.with_filter(label: "Filter teams") %>

            <% teams.each do |team| %>
              <% group.with_avatar_item(src: team.primary_avatar_url, username: team.combined_slug, href: team_path(team), truncate_label: true, content_arguments: { data: { **analytics_attributes(:TEAM_ITEM) }}) %>
            <% end %>

            <% group.with_experimental_show_more_item(label: "Show more", label_arguments: { color: :muted, font_size: 6 }, content_arguments: { data: { **analytics_attributes(:SHOW_MORE_TEAMS) }}) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if rich_content_enabled? && placeholder? %>
      <% panel.with_spinner %>
    <% end %>

    <% if show_sso_banner? %>
      <% panel.with_body_item(component_klass: Site::Header::SsoBannerComponent, orgs: orgs_needing_sso) %>
    <% end %>

    <% panel.with_footer(tag: :div, px: 2) do %>
      <p class="color-fg-subtle text-small text-light">&copy; <%= Time.now.year %> GitHub, Inc.</p>

      <%= render Primer::BaseComponent.new(
        tag: :div,
        display: :flex,
        flex_wrap: :wrap,
        font_size: :small,
        font_weight: :light,
        test_selector: "footer-links",
      ) do %>
        <% unless GitHub.enterprise? %>
          <%= render(Primer::Beta::Link.new(target: "_blank", href: about_url, mr: 2, underline: false)) { "About" } %>
          <%= render(Primer::Beta::Link.new(target: "_blank", href: blog_url, mr: 2, underline: false)) { "Blog" } %>
          <%= render(Primer::Beta::Link.new(target: "_blank", href: terms_url, mr: 2, underline: false)) { "Terms" } %>
          <%= render(Primer::Beta::Link.new(target: "_blank", href: privacy_url, mr: 2, underline: false)) { "Privacy" } %>
          <%= render(Primer::Beta::Link.new(target: "_blank", href: security_url, mr: 2, underline: false)) { "Security" } %>
          <%= render(Primer::Beta::Link.new(target: "_blank", href: status_url, mr: 3, underline: false)) { "Status" } %>
        <% end %>

        <% if cookie_consent_enabled && !GitHub.single_or_multi_tenant_enterprise? %>
          <cookie-consent-link>
            <%= render(Primer::Beta::Button.new(scheme: :link, font_weight: :light, mr: 2, data: {action: "click:cookie-consent-link#showConsentManagement"})) do %>
              Do not share my personal information
            <% end %>
          </cookie-consent-link>

          <cookie-consent-link>
            <%= render(Primer::Beta::Button.new(scheme: :link, font_weight: :light, mr: 2, data: {action: "click:cookie-consent-link#showConsentManagement"})) do %>
              Manage Cookies
            <% end %>
          </cookie-consent-link>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
