<%= render Primer::BaseComponent.new(
  tag: :"notification-indicator",
  classes: "js-socket-channel",
  data: socket_data,
  test_selector: "notifications-indicator",
  **@system_arguments
) do %>
  <% if use_header_redesign? %>
    <%= render Primer::Beta::IconButton.new(
      id: "AppHeader-notifications-button",
      icon: :inbox,
      tag: :a,
      href: global_notifications_path,
      classes: "AppHeader-button #{has_unread_notifications? ? "AppHeader-button--hasIndicator" : ""}",
      color: :muted,
      aria: { labelledby: "notification-indicator-tooltip" },
      show_tooltip: false,
      data: {
        hotkey: hotkeys_for(current_user, :global, :go_to_notifications),
        target: "notification-indicator.link",
        **analytics_click_attributes(category: "Global navigation", action: "NOTIFICATIONS_HEADER")
      },
      test_selector: "redesigned-notifications-button"
    ) %>
    <%# we must manually render the tooltip so that it can be updated by the <notification-indicator> element %>
    <%= render(Primer::Alpha::Tooltip.new(for_id: "AppHeader-notifications-button", id: "notification-indicator-tooltip", type: :label, text: "Notifications", direction: :s, data: {target: "notification-indicator.tooltip"})) %>
  <% else %>
    <%# The legacy header button is still shown on logged-in marketing pages (like github.com/features) and in the Gists header %>
    <a id="AppHeader-notifications-button" href="<%= global_notifications_path %>"
      class="Header-link notification-indicator position-relative"
      data-hotkey="<%= hotkeys_for(current_user, :global, :go_to_notifications) %>"
      data-target="notification-indicator.link"
      aria-labelledby="notification-indicator-tooltip"

      <%= test_selector("legacy-notifications-button") %>

      <%= safe_analytics_click_attributes(
        category: "Header",
        action: "go to notifications",
        label: "icon:#{analytics_icon_state}"
      ) %>
    >
      <span
        data-target="notification-indicator.badge"
        class="<%= class_names(
          "mail-status unread",
        ) %>" <%= "hidden" unless has_unread_notifications? %>>
      </span>

      <%= primer_octicon(:bell) %>
    </a>
    <%= render(Primer::Alpha::Tooltip.new(for_id: "AppHeader-notifications-button", id: "notification-indicator-tooltip", type: :label, text: "Notifications", direction: :sw, data: {target: "notification-indicator.tooltip"})) %>
  <% end %>
<% end %>
