
<% if narrow_control? %>
  <%= narrow_control %>
<% end %>

<div class="AppHeader-search-whenRegular">
  <div class="AppHeader-search-wrap AppHeader-search-wrap--hasTrailing">
    <div class="AppHeader-search-control">
      <label
        for="AppHeader-searchInput"
        aria-label="Search or jump to…"
        class="AppHeader-search-visual--leading"
      >
        <%= render(Primer::Beta::Octicon.new(:search)) %>
      </label>

      <%= control %>
    </div>

    <% if placeholder? %>
      <%= placeholder %>
    <% end %>

    <% if command_palette_enabled? %>
      <button type="button" id="AppHeader-commandPalette-button" class="AppHeader-search-action--trailing js-activate-command-palette" <%= safe_analytics_click_attributes(category: "SiteHeaderComponent", action: "command_palette", label: "open command palette") %>>
        <%= render(Primer::Beta::Octicon.new(:"command-palette")) %>
      </button>

      <%= render(Primer::Alpha::Tooltip.new(for_id: "AppHeader-commandPalette-button", type: :label, text: "Command palette", direction: :s)) %>
    <% end %>
  </div>
</div>
