<%= render(Primer::Beta::BorderBox.new(mt: 3, mx: 2, test_selector: "sso-banner")) do |component| %>
  <% component.with_body(pl: 2, pr: 4, py: 2, display: :flex) do %>
    <div class="mr-1 p-1">
      <%= primer_octicon(:"shield-lock", color: :muted) %>
    </div>

    <div class="color-fg-muted f6">
      <% if orgs.one? %>
        <%= restricted_policy_link(orgs.first, policy: :saml, resource_label: "items") %>
      <% else %>
        Single sign-on to see items from <%= orgs.size %> organizations

        <%= render(Primer::Alpha::Dropdown.new(with_caret: true)) do |component| %>
          <% component.with_button(size: :small, font_size: 6, mt: 2) do %>
            Single sign-on
          <% end %>

          <% component.with_menu(as: :list) do |menu| %>
            <% orgs.each do |org| %>
              <% menu.with_item(href: restricted_raw_path(:saml, org, return_to)) { org.safe_profile_name } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
