<%# view is a Stafftools::Organization::SshCertificateAuthoritiesView %>
<% page_info title: "SSH certificate authorities", selected_link: :ssh_cas %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>SSH certificate authorities<% end %>
<% end %>

<p>
  SSH certificate authentication is
  <%= "not" unless view.org.ssh_certificate_requirement_enabled? %> required for this
  organization.
</p>

<% if view.cas.any? %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |box| %>
    <% view.cas.each do |ca| %>
      <% box.with_row(classes: "js-details-container Details") do %>
        <div class="d-flex flex-items-center float-right">
          <span class="time">Created <%= time_ago_in_words ca.created_at %> ago</span>
          <%= render(Primer::Alpha::Dialog.new(title: "Delete this certificate authority?", id: "delete-certificate-authority-dialog", size: :medium_portrait)) do |d| %>
            <% d.with_show_button(scheme: :danger, size: :small, ml: 2) do %>
              <%= render(Primer::Beta::Octicon.new(icon: :trash, size: :small, color: :danger, aria: { label: "delete-ssh-certificate-authority" })) %>
            <% end %>
            <% d.with_header(show_divider: true) %>
            <% d.with_body(text_align: :left) do %>
              <%= render(Primer::Beta::Text.new(tag: :p, pt: 3)) do %>
              Are you sure you want to delete this certificate authority? This action <strong>CANNOT</strong> be undone.
              <% end %>
            <% end %>
            <% d.with_footer do %>
              <%= render(Primer::Beta::Button.new(type: :button, data: { "close-dialog-id": "delete-certificate-authority-dialog" })) { "Cancel" } %>
              <%= form_tag stafftools_user_ssh_keys_certificate_authority_path(view.org, ca), method: :delete do %>
                <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger)) { "Delete" } %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <p><strong>Fingerprint:</strong> <code><%= ca.base64_fingerprint %></code></p>
        <p class="Details-content--hidden" style="word-break: break-all; width: 500px;">
          <strong>Key:</strong>
          <code><%= ca.openssh_public_key %></code>
        </p>
        <span class="hidden-text-expander inline">
          <button
            type="button"
            aria-expanded="false"
            class="ellipsis-expander js-details-target"
          >
            &hellip;
          </button>
        </span>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
      This organization hasn't configured any SSH certificate authorities.
    <% end %>
  <% end %>
<% end %>
