<% page_info title: "Personal access token policies",
  selected_link: :business_personal_access_token_policy_settings,
  stafftools: stafftools_enterprise_path(this_business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Personal access token policies",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <%= render SinglePageWizard::WizardComponent.new(
    show_last_step_celebration: true,
    complete_url: settings_personal_access_tokens_enterprise_path(this_business),
    cancel_url: settings_enterprise_path(this_business)
  ) do |c| %>

    <% title = t("personal_access_tokens.settings.restrict_access.heading") %>
    <% c.with_step(title: title, next_text: "Continue", step_icon: "key") do %>
      <personal-access-tokens-configuration-step data-key="restrict_access">
        <%= render partial: "businesses/personal_access_token_policies/forms/restrict_access", locals: {
          submittable: false, data: { target: "personal-access-tokens-configuration-step.form" }
        } %>
      </personal-access-tokens-configuration-step>
    <% end %>

    <% title = t("personal_access_tokens.settings.auto_approve_requests.heading") %>
    <% c.with_step(title: title, next_text: "Continue", step_icon: "people", show_previous_button: true, warn_unsaved: true) do %>
      <personal-access-tokens-configuration-step data-key="pat_auto_approvals">
        <%= render partial: "businesses/personal_access_token_policies/forms/pat_auto_approvals", locals: {
          submittable: false, data: { target: "personal-access-tokens-configuration-step.form" }
        } %>
      </personal-access-tokens-configuration-step>
    <% end %>

    <% title = t("personal_access_tokens.settings.enterprise.restrict_legacy_access.heading") %>
    <% c.with_step(title: title, next_text: "Continue", step_icon: "shield-lock", show_previous_button: true, warn_unsaved: true) do %>
      <personal-access-tokens-configuration-step data-key="restrict_legacy_access">
        <%= render partial: "businesses/personal_access_token_policies/forms/restrict_legacy_access", locals: {
          submittable: false, data: { target: "personal-access-tokens-configuration-step.form" }
        } %>
      </personal-access-tokens-configuration-step>
    <% end %>

    <% c.with_step(title: "Enroll your enterprise", next_text: "Enroll", step_icon: "globe", show_previous_button: true, show_cancel_button: true, warn_unsaved: true) do %>
      <personal-access-tokens-feature-enrollment data-error-message="Something went wrong onboarding your enterprise.">
        <%= render(Primer::Beta::Text.new(tag: :p, border: :bottom, pb: 2)) do %>
          <%= t("personal_access_tokens.onboarding.note") %>
        <% end %>

        <%= form_with model: this_business, url: settings_personal_access_tokens_onboarding_enterprise_path(this_business), method: :patch, data: { target: "personal-access-tokens-feature-enrollment.form" } do %>
          <ul class="list-style-none">
            <li data-target="restrict_access"></li>
            <li data-target="pat_auto_approvals"></li>
            <li data-target="restrict_legacy_access"></li>
          </ul>
        <% end %>
      </personal-access-tokens-feature-enrollment>
    <% end %>

    <% c.with_step(title: "Done", step_icon: "check", next_text: "Continue") do %>
      <%= render(Primer::Beta::Heading.new(tag: :h4, mb: 2)) { "Your enterprise has been configured" } %>
      <p>Click "Continue" to move on.</p>
    <% end %>
  <% end %>
<% end %>
