<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Review imported bulk sponsorship file" %>
<div class="mt-4 width-full container-lg p-responsive">
  <%= render Sponsors::BulkSponsorships::BreadcrumbComponent.new(
    page: Sponsors::BulkSponsorships::BreadcrumbComponent::Page::Review,
    frequency: frequency,
    sponsor: sponsor,
  ) %>
  <h1 class="f3" <%= test_selector("bulk-sponsorship-import-title") %>>
    <% if frequency == :recurring %>
      Monthly
    <% else %>
      One-time
    <% end %>
    bulk sponsorship
  </h1>
  <div class="d-sm-flex border-bottom mb-5">
    <div class="col-sm-8 pb-3 pt-2">
      <%= render Sponsors::AccountSwitcherComponent.new(
        sponsor: sponsor,
        route: :bulk_sponsorship_edit,
        method: sponsorship_rows.any? ? :post : :get,
        form_data: form_data,
        header_tag: :h2,
      ) %>
    </div>

    <%= render Sponsors::Sponsorables::TradeScreeningCannotProceedComponent.new(sponsor: sponsor) %>
  </div>

  <% if !sponsor.has_commercial_interaction_restriction? %>
    <%= form_with(url: sponsors_bulk_sponsorship_imports_path(redirect_params)) do |f| %>
      <%= f.hidden_field :file_uploaded, value: true %>
      <%= f.file_field Sponsors::BulkSponsorshipImportsController::CSV_PARAM_NAME,
        id: "bulk-sponsorship-import-csv",
        accept: "text/csv",
        required: true,
        data: { max_file_size: Sponsors::BulkSponsorshipImportsController::MAX_FILE_SIZE },
        hidden: false,
        class: "bulk-sponsorship-import-csv js-bulk-sponsorship-import-csv"
      %>
    <% end %>
  <% end %>

  <%= form_tag(
    bulk_sponsorship_path_for(
      sponsorship_rows: sponsorship_rows,
      sponsor: sponsor,
      frequency: frequency == :recurring ? frequency : nil,
    ),
    class: "clearfix",
  ) do %>
    <div class="<%= class_names(
      "col-lg-8 float-lg-right float-md-left" => sponsorship_rows.any?,
      "col-sm-12" => sponsorship_rows.any?,
      "col-12" => sponsorship_rows.empty?,
    ) %>">
      <%= render Sponsors::BulkSponsorshipImports::GroupErrorComponent.new(sponsorship_rows: sponsorship_rows, over_import_limit_rows: over_import_limit_rows) %>

      <div>
        <% if errors.any? %>
          <%= render(Primer::Beta::Flash.new(scheme: :danger, mb: 3, test_selector: "validation-errors")) do %>
            <%= errors.to_sentence %>
          <% end %>
        <% end %>

        <div class="mb-3">
          Make changes by uploading a CSV.
          <%= render Primer::Beta::Button.new(
            type: :button,
            classes: "bulk-sponsorship-import-csv-label js-bulk-sponsorship-import-csv-button",
            ml: 3,
            tabindex: "0",
            test_selector: "file-input-button",
          ).with_content("Choose file") %>
        </div>

        <% if sponsorship_rows.any? %>
          <%= render(Primer::Beta::BorderBox.new) do |component| %>
            <% component.with_body(p: 0) do %>
              <table class="bulk-sponsorship-table">
                <thead>
                  <tr>
                    <th class="p-3 border-bottom color-bg-subtle text-normal text-left">
                      Sponsorship list
                    </th>
                    <th class="p-3 border-bottom color-bg-subtle text-normal text-right">
                      Sponsorship amount
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% sponsorship_rows.each_with_index do |row, index| %>
                    <%= render Sponsors::BulkSponsorshipImports::SponsorshipRowComponent.new(
                      sponsors_listing: row.approved_sponsors_listing,
                      amount: row.amount,
                      error: row.error_message,
                      is_correctable_error: row.has_correctable_error?,
                      sponsorable_login: row.sponsorable_login,
                      sponsor: sponsor,
                      sponsorable: row.user_or_organization,
                      valid_lower_amounts: row.lower_published_tier_amounts,
                      index: index,
                      frequency: frequency,
                    ) %>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if sponsorship_rows.any? %>
      <div class="col-lg-4 float-lg-left mt-3 mt-lg-0 pr-lg-5">
        <%= render Sponsors::BulkSponsorships::CheckoutSummaryComponent.new(
          sponsor: sponsor,
          sponsorship_rows: valid_sponsorship_rows,
          frequency: frequency,
          include_checkout_button: true,
        ) %>
      </div>
    <% end %>
  <% end %>
</div>
