<%
  status = current_user.user_status_when_not_expired
  suggester_url = if status&.organization
    suggestions_path(global_id: status.organization.global_relay_id, mention_suggester: 1)
  else
    user_suggestions_path
  end
  emoji_html = status&.emoji_html
%>

<input type="hidden" name="emoji" class="js-user-status-emoji-field" value="<%= status&.emoji %>">
<div class="js-characters-remaining-container">
  <div class="js-user-status-form-group d-flex flex-row">
    <%= render Primer::Beta::Button.new("aria-label": "Choose an emoji", classes: "js-toggle-user-status-emoji-picker Button--iconOnly rounded-right-0 border-right-0") do %>
      <span class="js-user-status-original-emoji" hidden><%= emoji_html %></span>
      <span class="js-user-status-custom-emoji"><%= emoji_html %></span>
      <span class="js-user-status-no-emoji-icon" <%= "hidden" if emoji_html.present? %>>
        <%= primer_octicon(:smiley) %>
      </span>
    <% end %>
    <text-expander keys=": @" data-mention-url="<%= suggester_url %>" data-emoji-url="<%= emoji_suggestions_path %>" class="flex-1">
      <%= render(Primer::Alpha::TextField.new(
        name: "message",
        placeholder: "What's happening?",
        label: "What is your current status?",
        classes: "js-user-status-message-field js-characters-remaining-field rounded-left-0",
        visually_hide_label: true,
        value: status&.message,
        autocomplete: "off",
        full_width: true,
        inset: true,
        caption: render(Primer::BaseComponent.new(
            tag: :span,
            classes: "js-characters-remaining",
            hidden: true,
            data: {
              suffix: "remaining"
            }
          )) { "#{UserStatus::MESSAGE_MAX_LENGTH} remaining" },
        "data-no-org-url": user_suggestions_path,
        "data-org-url": suggestions_path(mention_suggester: 1),
        "data-maxlength": UserStatus::MESSAGE_MAX_LENGTH
        )) %>
    </text-expander>
  </div>
</div>
<include-fragment loading="lazy" src="<%= user_status_emoji_picker_path %>"></include-fragment>
<div class="border-bottom d-flex flex-column gap-1 pb-3">
  <div class="js-user-status-suggestions" hidden>
    <%= render(
      Primer::Alpha::ActionList.new(
        show_dividers: false, aria: { label: "Suggestions" })
      ) do |component| %>
      <% component.with_heading(title: "Suggestions") %>
      <% predefined_user_statuses_with_emoji.each_slice(2) do |slice| %>
        <% slice.each do |emoji, message| %>
          <% component.with_item(
            content_arguments: {
              classes: "js-predefined-user-status",
              value: ":#{ emoji.name }:"
            },
            label_arguments: {
              test_selector: "user-status-suggestion",
              classes: "js-predefined-user-status-message"
            },
            label: message,
            ) do |item| %>
            <% item.with_leading_visual_content(classes: "js-predefined-user-status-emoji", aria: { hidden: true }) { render_emoji(emoji) } %>
          <% end  %>
        <% end %>
      <% end  %>
    <% end %>
  </div>
  <div class="pt-3">
    <%= render(Primer::Alpha::CheckBox.new(
      caption: "When others mention you, assign you, or request your review, GitHub will let them know that you have limited availability.",
      name: "limited_availability",
      label: "Busy",
      value: "1",
      classes: "js-user-status-limited-availability-checkbox",
      checked: status&.limited_availability?,
      data: { default_message: "I may be slow to respond." }
    )) %>
  </div>
</div>
<div class="d-flex gap-2 flex-column">
  <%= render(partial: "user_statuses/expiration_picker", locals: { expires_at: status&.expires_at }) %>
  <include-fragment loading="lazy" src="<%= user_status_org_picker_path %>"></include-fragment>
</div>
