<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  org_login = if member_statusable.is_a?(Team)
    member_statusable.organization.display_login
  else
    member_statusable.display_login
  end
  team_slug = if member_statusable.is_a?(Team)
    member_statusable.slug
  end
%>

<% if !page_info.has_previous_page? && member_statuses.any? %>
  <h2 class="<%= "mt-6" if member_statusable.is_a?(Team) %> mb-2 f5 text-bold">Member statuses</h2>
<% end %>

<% member_statuses.each do |status| %>
  <div class="mt-1 user-status-container">
    <%= link_to user_path(status.user), class: "Link--primary d-inline-block v-align-middle text-bold no-underline f6", data: hovercard_data_attributes_for_user(status.user) do %>
      <img src="<%= image_path avatar_url_for(status.user, 32) %>" class="<%= avatar_class_names(status.user) %> mr-1" alt="" width="16" height="16">
      <%= status.user.display_login %>
    <% end %>
    <% if status.limited_availability? %>
      <%= render(Primer::Beta::Label.new(tag: :summary, scheme: :attention, inline: :true)) { "Busy" } %>
    <% end %>
    <div class="css-truncate css-truncate-target v-align-middle user-status-message-wrapper f6 color-fg-muted lh-condensed">
      <% user_status = status.message_html(link_mentions: false) || status.emoji_html %>
      <span class="sr-only"><%= user_status %> Updated at: <%= status.updated_at.to_date %></span>
      <span aria-hidden="true"><%= user_status %></span>
    </div>
  </div>
<% end %>

<% if page_info.has_next_page? %>
  <div class="text-center d-block ajax-pagination-form js-ajax-pagination">
    <%= form_tag member_statuses_path(org: org_login, team: team_slug), method: :get do %>
      <input name="after" type="hidden" value="<%= page_info.end_cursor %>">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, mt: 3, py: 2, w: :full, font_size: 6, classes: "ajax-pagination-btn", "data-disable-with": "Loading more...") do %>Load more...<% end %>
    <% end %>
  </div>
<% end %>
