<%#
  Render options:
  - truncate - Boolean; should the user status message be truncated to a shorter
               length; defaults to false
  - compact - Boolean; should the user status area be more tight with a smaller emoji;
              defaults to false
  - force_one_line - Boolean; should the user status message, emoji, and limited
                     availability be displayed on a single line if possible; defaults to false
%>

<%
  compact = false unless local_assigns.key?(:compact)
  truncate = false unless local_assigns.key?(:truncate)
  circle = false unless local_assigns.key?(:circle)
  force_one_line = false unless local_assigns.key?(:force_one_line)
  short_message_length, long_message_length = 44, 53 # account for busy indicator
  message_limit = status.limited_availability? ? short_message_length : long_message_length
  message_html = status.message_html(viewer: current_user, link_mentions: !truncate)
%>
<div class="d-flex flex-items-center flex-items-stretch">
  <div
    class="<%= class_names(
      "f6 d-flex flex-items-center p-2 width-full",
      "border color-border-attention-emphasis": status.limited_availability?,
      "user-status-circle-badge lh-condensed": circle,
    ) %>"
    data-team-hovercards-enabled
  >
    <div class="user-status-emoji-container flex-shrink-0 mr-2 d-flex flex-items-center flex-justify-center">
      <%= render_user_status_emoji_or_placeholder(status.emoji_html, status.message) %>
    </div>
    <div class="user-status-message-wrapper f6 color-fg-default <% if circle %>no-wrap<% else %>ws-normal<% end %> <%= "lh-condensed" if compact %>" <%= test_selector("user-status-message") %>>
      <% if truncate && message_html.present? %>
        <%= truncate_html(message_html, message_limit) %>
      <% else %>
        <%= message_html %>
      <% end %>

      <% if status.limited_availability? && status.emoji_html.blank? && message_html.blank? %>
        Busy
      <% end %>
    </div>
  </div>
</div>
