<% file_expanded_class_name = reveal_content ? " Details--on open" : "" %>
<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mt: 3, mb: 3, classes: "file js-file js-details-container Details#{file_expanded_class_name}")) do |component| %>
  <% component.with_header(p: 1, pr: 3, display: :flex, direction: [nil, nil, :row], align_items: [nil, nil, :center], classes: "file-header file-header--expandable js-file-header") do %>
    <%= render Primer::Box.new(p: 0, display: :flex, flex: :auto, classes: "file-info min-width-0") do %>
      <button type="button" aria-expanded="<%= !reveal_content %>" aria-label="Expand file contents" class="btn-octicon ml-1 no-underline Details-content--shown js-details-target js-focus-on-dismiss" <%= test_selector("affected-file-collapsed")%>>
        <%= render Primer::Beta::Octicon.new(icon: "chevron-right") %>
      </button>
      <button type="button" aria-expanded="<%= reveal_content %>" aria-label="Collapse file contents" class="btn-octicon ml-1 no-underline Details-content--hidden js-details-target js-focus-on-dismiss" <%= test_selector("affected-file-expanded")%>>
        <%= render Primer::Beta::Octicon.new(icon: "chevron-down") %>
      </button>
      <div class="file-info flex-auto min-width-0 mb-md-0 mb-2">
          <a href="<%= first_reference.blob_path %>" class="Link--primary"><b><%= filename %></b><%= ":#{first_reference.start_line}" %></a>
          <%= render Primer::Beta::ClipboardCopy.new(value: filename + (":#{first_reference.start_line}"), "data-copy-feedback": "Copied!", "aria-label": "Copy", color: :muted, classes: "Link--onHover", test_selector: "code-scanning-copy-path", mx: 1) %>
      </div>
    <% end %>
    <div class="color-fg-subtle text-small pt-1 "> <%= pluralize(function_references.count, "call") %> in <%= filename %></div>
  <% end %>
  <% component.with_body(p: 0, classes: "Details-content--hidden") do %>
    <%= render(
      DependabotAlerts::CodeSnippetComponent.new(
        get_blob(first_reference.commit_oid, filename),
        location_hash(first_reference),
        commit: get_commit(first_reference.commit_oid),
        message_link: link_to(first_reference.function_name, first_reference.blob_path),
        message_text: "Vulnerable function called:",
        highlight_location_lines: true
      )
    )%>
  <% end %>
<% end %>
