<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::Beta::Details.new(**system_arguments, id: close_id) do |c| %>
  <% c.with_summary(button: summary_button_param, **summary_system_arguments, test_selector: "dismiss-button") do %>
    <%= summary %>
  <% end %>
  <% c.with_body(**body_system_arguments) do %>
    <dependabot-alert-dismissal>
      <%= form_tag dismissal_path, method: :put, data: {target: "dependabot-alert-dismissal.form"} do %>
        <div class="SelectMenu-modal color-fg-default">
          <header class="SelectMenu-header">
            <span class="SelectMenu-title" id="<%= id %>-dismiss-alert-popup-heading" aria-hidden="true">Select a reason to dismiss</span>
            <%= render Primer::Beta::CloseButton.new(classes: "btn", "data-toggle-for": close_id, aria: { label: "Close", hidden: false }) %>
          </header>
          <ul class="px-3 py-2" role="radiogroup" aria-labelledby="<%= id %>-dismiss-alert-popup-heading" data-target="dependabot-alert-dismissal.radiogroup">
            <% dismiss_reasons.each do |reason, label| %>
              <label role="menuitem">
                <div class="form-checkbox my-2" <%= test_selector("alert-dismissal-reason") %>>
                  <input type="radio" name="reason" value="<%= label %>" data-action="click:dependabot-alert-dismissal#show">
                  <%= label %>
                </div>
              </label>
            <% end %>
          </ul>
          <%= render(Primer::Box.new(hidden: true, **bulk_items_system_arguments)) %>
          <%= render(Primer::Box.new(data: {target: "dependabot-alert-dismissal.footer"})) do %>
            <div class="SelectMenu-divider border-0 border-top">Dismissal comment</div>
            <footer class="SelectMenu-footer">
              <textarea name="comment" style="min-height:3em;max-height:10em;max-width:100%;min-width:100%" class="form-control input-block mb-2" label="dismissal-comment" aria-label="Dismissal comment" maxlength=280 placeholder="Add a comment"></textarea>
              <%= render(Primer::Box.new(display: :flex, direction: :row, justify_content: :flex_end)) do %>
                <%= render Primer::ButtonComponent.new(type: :button, data: {"toggle-for": close_id, action: "click:dependabot-alert-dismissal#reset"}) do %>
                  Cancel
                <% end %>
                <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, ml: 2) do %>
                  <% pluralize ? "Dismiss Alerts" : "Dismiss Alert"%>
                <% end %>
              <% end %>
            </footer>
          <% end %>
        </div>
      <% end %>
    </dependabot-alert-dismissal>
  <% end %>
<% end %>
