<div <%= test_selector("vulnerability-exposure-code-snippet") %>
  itemprop="text"
  class="js-file-line-container blob-wrapper data-type-<%= blob.language ? blob.language.name.parameterize : "text" %>">
  <% load_blob_editor_configs!(commit, blob) %>
  <table
     class="tab-size js-highlight-code-snippet-columns"
     data-tab-size="<%= tab_size(blob.path) %>"
     data-start-line="<%= location.start_line %>"
     data-end-line="<%= location.end_line %>"
     data-start-column="<%= location.start_column %>"
     data-end-column="<%= location.end_column %>"
     data-paste-markdown-skip
  >
    <%
      lines.each_with_index do |line, i|
        # Line numbers are 1-indexed.
        i += 1

        # Give browsers some text to copy so blank lines get preserved in
        # copy-paste.
        line = "\n" if line.empty?
    %>
      <% if lines_to_include.include?(i) %>
        <tr <%= test_selector("vulnerability-exposure-code-snippet-line") %>>
          <td style="pointer-events: none;" class="blob-num <%= line_highlight_classes(i) %>" data-line-number="<%= i %>"></td>
          <td class="blob-code blob-code-inner <%= line_highlight_classes(i) %>"><%= line %></td>
        </tr>
        <% if location.end_line == i && message_text.present? %>
          <tr>
            <td colspan="2" class="border-top border-bottom">
              <div>
                <div class="js-skip-tagsearch">
                  <div class="d-inline-block border px-3 py-2 text-small color-border-attention-emphasis" style="border-width: 0 0 0 3px !important;">
                    <div class="text-mono code-scanning-font-size-inherit cs-message">
                      <%= message_text %>
                      <%= message_link %>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
</div>
