<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= render Primer::Beta::Flash.new(scheme: flash_scheme, display: :flex, mt: 3, test_selector: "dependency-update-banner") do %>
  <p class="mt-0">
    <%= primer_octicon(:dependabot, mr: 1, color: :muted) %>

    <% if pull_request_state == :open %>
      Merging this pull request will resolve
      <% if alert.present? %>
        <% if represents_multiple_alerts? %>
          <%= link_to pluralize(represented_alerts_count, "Dependabot alert"), related_alerts_path, class: "Link--inTextBlock" %>
          on <%= package_name %> including a <%= content_tag :b, severity %> severity alert.
        <% else %>
          a <%= content_tag :b, severity %> severity <%= link_to "Dependabot alert", alert_path, class: "Link--inTextBlock" %> on <%= package_name %>.
        <% end %>
      <% else %>
        a Dependabot alert.
      <% end %>
    <% else %>
      This pull request
      <%= pull_request_state == :merged ? "resolved" : "would resolve" %>
      <% if alert.present? %>
        a Dependabot alert on <%= package_name %>.
      <% else %>
        a Dependabot alert.
      <% end %>
    <% end %>
  </p>
<% end %>

<% if show_onboarding_popover? %>
  <div class="Popover js-notice mt-2">
    <div class="Popover-message Popover-message--large Popover-message--top-left left-0 p-4 Box color-shadow-large">
      <h4 class="mb-2">Your first automated security update</h4>
      <p class="f5">Dependabot security updates keep your projects secure and up-to-date.</p>

      <% if show_opt_out? %>
        <p>You can opt out at any time in <%= link_to "this repository’s settings", repo_settings_path, class: "Link--inTextBlock" %>.</p>
      <% end %>

      <%= form_tag dismiss_notice_path("automated_security_pull_requests"), class: "d-inline-block ml-2 js-notice-dismiss" do %>
        <%= render Primer::ButtonComponent.new(type: :submit).with_content("Got it!") %>
      <% end %>
      <%= render Primer::ButtonComponent.new(
          tag: :a,
          scheme: :invisible,
          href: GitHub.dependabot_security_updates_help_url,
          target: :blank,
          "aria-label": "Learn more about Dependabot security updates"
        ).with_content("Learn more")
      %>
    </div>
  </div>
<% end %>
