<li class="Box-row Box-row--hover-gray p-0" <%= test_selector "dependabot-alert-row" %>>
  <dependabot-alert-row>
    <div class="px-3 py-2 d-flex flex-items-start">
      <% if show_bulk_edit %>
        <label class="flex-shrink-0 d-flex mr-2 mt-1 <% if responsive? %>d-none d-md-block<% end %>">
          <input
            type="checkbox"
            name="alerts[]"
            value="<%= alert.id %>"
            aria-labelledby="<%= "#{alert.id}_link" %>"
            autocomplete="off"
            data-target="dependabot-alert-row.checkbox"
            data-action="change:dependabot-alert-row#dispatchCheckboxChangeEvent"
            <%= test_selector("dependabot-alert-checkbox") %>
            <% if disallow_bulk_edit? %>disabled<% else %>data-check-all-item<% end %>
          >
        </label>
      <% end %>

      <%= render(Primer::Box.new(display: :flex, mr: 2, mt: 1)) do %>
        <%= render(SecurityCenter::StateComponent.new(icon: alert_state_icon)) %>
      <% end %>

      <div class="mr-2 flex-1 d-flex flex-column">
        <div>
          <%= render Primer::Beta::Link.new(href: alert_path, scheme: :primary, underline: false, font_size: 4, font_weight: :bold, vertical_align: :middle, test_selector: "alert-row-title", id: "#{alert.id}_link", data: hovercard_data_attributes) do %>
            <%= title %>
          <% end %>

          <span class="labels ml-1" <%= test_selector("alert-row-severity") %>>
            <%= render DependabotAlerts::SeverityLabelComponent.new(**severity_label_kwargs) %>
          </span>
          <% if show_exposure_detected_label? %>
            <span class="labels ml-1" <%= test_selector("exposure-detected-label")%>>
              <%= render Primer::Beta::Label.new(**vea_label_kwargs).with_content('Vulnerable call') %>
            </span>
          <% end %>
          <% if show_dev_dependency_label? %>
            <span class="labels ml-1" <%= test_selector("dev-dependency-label") %>>
              <%= render Primer::Beta::Label.new(scheme: :secondary, **scope_label_kwargs).with_content('Development') %>
            </span>
          <% end %>
        </div>

        <div class="mt-1 text-small color-fg-muted">
          <% if show_alert_number %>
            <span <%= test_selector("alert-row-number") %>>#<%= alert_number %></span>
          <% end %>

          <%= alert_state_label %>

          <% if closed? %>
            as <% if filtered_by_resolution_url.present? %>
              <%= render Primer::Beta::Link.new(
                font_size: 6,
                font_weight: :bold,
                href: filtered_by_resolution_url,
                scheme: :secondary,
                test_selector: "alert-row-closed-reason"
              ).with_content(closed_reason) %>
            <% else %>
              <span class="text-bold" <%= test_selector("alert-row-closed-reason") %>>
                <%= closed_reason %>
              </span>
            <% end %>
          <% end %>

          <%= render Primer::Beta::RelativeTime.new(datetime: alert_state_timestamp, tense: :past) if alert_state_timestamp %>

          &bull;

          <span <%= test_selector("alert-row-package") %>>
            Detected in <%= package_name %>
          </span>

          <% if ecosystem_label %>
            <span <%= test_selector("alert-row-ecosystem") %>>
              (<%= ecosystem_label %>)
            </span>
          <% end %>

          &bull;

          <span <%= test_selector("alert-row-manifest-path") %>>
            <%= manifest_path %>
          </span>
        </div>
      </div>

      <%= render(Primer::Box.new(display: :flex, direction: :column, align_items: :flex_end, style: "max-width: 30%")) do %>
        <% if show_repository %>
          <%= render(SecurityCenter::RepositoryLinkComponent.new(
            alert_number: alert_number,
            href: repository_alerts_path(alert.repository.owner, alert.repository),
            repository: alert.repository,
            show_owner: scope == :business,
            test_selector: "alert-row-repository-link",
          )) %>
        <% elsif pull_request %>
          <%= render Primer::Beta::Link.new(href: pull_request_path, display: :flex, align_items: :center, data: pull_request_hovercard_data_attributes) do %>
            <%= issue_pr_state_octicon_ar(pull_request) %>
            <span class="ml-1">#<%= pull_request.number %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </dependabot-alert-row>
</li>
