<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Beta::Flash.new(
  border_color: :muted,
  mb: 3,
  classes: "dependabot-rules-banner-container js-notice",
  test_selector: "dependabot-rules-promo-banner"
)) do %>
  <%= render(Primer::Box.new(display: :flex)) do %>
    <%= render(Primer::Box.new(col: 8)) do %>
      <%= render(Primer::Beta::Text.new(tag: :h3, display: :inline_block)) { "Auto-triage your alerts" } %>
      <%= render(Primer::Beta::Text.new(color: :muted, tag: :p)) do %>
        Control how Dependabot opens pull requests, ignores false positives and snoozes alerts. Rules can be enforced at the organization level. Free for open source and available for private repos through
        <%= render(Primer::Beta::Link.new(href: ghas_docs_link, classes: "Link--inTextBlock")) { "GitHub Advanced Security." } %>
        <p><%= render(Primer::Beta::Link.new(href: dependabot_rules_link, classes: "Link--inTextBlock")) { "Learn more about auto-triage" } %></p>
      <% end %>
    <% end %>
  <% end %>
  <%= render(Primer::Box.new(col: 4, style: "white-space: nowrap; display:inline;")) do %>
    <%= form_tag dismiss_notice_path(UserNotice::DEPENDABOT_ALERTS_RULES_BANNER_NOTICE), "data-remote" => true, :class => "js-notice-dismiss" do %>
      <button aria-label="Close" class="float-right position-relative" style="background: none; border: none; right: -1em; top: -10em;" type="submit">
        <%= render(Primer::Beta::Octicon.new(color: :muted, icon: :x)) %>
      </button>
    <% end %>
  <% end %>
<% end %>
