<%= content_tag(:span, class: "note") do %>
  <%= description %>
  <% if default_rule? %>
    <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/code-security/dependabot/dependabot-alerts/using-alert-rules-to-prioritize-dependabot-alerts")) { "Learn more about this methodology." } %>
  <% else %>
    <% conditions.each do |key, value| %>
      <%= key %>:<span class="color-fg-accent color-bg-accent"><%= value %></span>
    <% end %>
  <% end %>
<% end %>
