<div class="flex-md-row flex-column flex-md-items-center"<%= test_selector("dependabot-rules-settings") %>>
  <div class="py-2">
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
      <% component.with_body do %>
        <div class="d-flex flex-md-row flex-column flex-md-items-center py-2">
          <div class="mb-md-0 mb-2 flex-auto">
            <h5>Dependabot rules</h5>
            <%= content_tag :p, tagline, class: "text-small color-fg-muted pr-2 m-0" %>
          </div>
          <div class="text-small mr-4 color-fg-muted" <%= test_selector("dependabot-rules-count") %>>
            <%= render(Primer::Beta::Link.new(href: path_to_configure_rules, muted: true)) { rules_enabled } %>
          </div>
          <%= render(Primer::Beta::Button.new(tag: :a, href: path_to_configure_rules, "aria-label": "Configure dependabot rules", data: { test_selector: "edit-dependabot-rules" })) do |component| %>
            <%= render Primer::Beta::Octicon.new(icon: :gear) %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
