<%= render Primer::Box.new(display: :flex, align_items: :baseline, pb: 1,) do %>
  <% if severity %>
    <%= render DependabotAlerts::SeverityLabelComponent.new(severity: severity, verbose: false, test_selector: "severity-label") %>
  <% else %>
    <%= render Primer::Beta::Label.new(scheme: :secondary, test_selector: "unknown-severity-label").with_content("Unknown") %>
  <% end %>

  <% if show_metrics? %>
    <%= render Primer::Box.new(display: :flex, align_items: :baseline, ml: 2, color: :subtle, font_size: 5, classes: "lh-condensed") do %>
      <%= render Primer::Box.new(color: :default, font_weight: :semibold, border: :bottom, style: "border-style: none none dashed !important;", test_selector: "cvss-overall-score", "data-show-dialog-id": "cvss-overall-score-id") do %>
        <%= render(Primer::Alpha::Dialog.new(title: 'CVSS overall score', size: :small, position: :center, position_narrow: :fullscreen)) do |component| %>
          <% component.with_show_button(scheme: :link, color: :muted) do %>
            <%= cvss_overall_score %>
          <% end %>
          <% component.with_body do %>
            <div><%= definition_for_cvss_overall_score %></div>
          <% end %>
        <% end %>
      <% end %>
      <span class="ml-1">/ 10</span>
    <% end %>
  <% end %>
<% end %>

<% if show_metrics? %>
  <%= render Primer::Box.new(display: :flex, direction: :column, mt: 2, p: 2, border: true, border_radius: 2, test_selector: "cvss-base-metrics") do %>
    <%= render Primer::Beta::Heading.new(tag: :h4, font_size: 6, p: 1).with_content("CVSS base metrics") %>
    <% metric_sections.each do |section, metrics| %>
      <%= definition_for_section(section) && render(Primer::Beta::Heading.new(tag: :h5, font_size: :small, p: 1).with_content(definition_for_section(section))) %>
      <% metrics.each do |metric| %>
        <%= render Primer::Box.new(display: :flex, p: 1, justify_content: :space_between) do %>
          <%= render Primer::Box.new(border: :bottom, classes: "lh-condensed", style: "border-style: none none dashed !important;") do %>
            <%= render(Primer::Alpha::Dialog.new(title: label_for_metric(metric), size: :small, position: :center, position_narrow: :fullscreen)) do |component| %>
              <% component.with_show_button(scheme: :link, color: :muted) do %>
                <%= label_for_metric(metric) %>
              <% end %>
              <% component.with_body do %>
                <div><%= definition_for_metric(metric) %></div>
              <% end %>
            <% end %>
          <% end %>
          <%= render Primer::Box.new(color: :default, font_weight: :semibold, ml: 2, test_selector: test_selector_for_metric(metric)).with_content(value_for_metric(metric)) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render Primer::Box.new(mt: 2, test_selector: "cvss-vector").with_content(cvss_vector) %>
<% end %>
