<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Primer::Box.new(display: :flex, align_items: :baseline, pb: 1) do %>
  <% if severity %>
    <%= render DependabotAlerts::SeverityLabelComponent.new(severity: severity, verbose: false, test_selector: "severity-label") %>
  <% else %>
    <%= render Primer::Beta::Label.new(scheme: :secondary, test_selector: "unknown-severity-label").with_content("Unknown") %>
  <% end %>

  <% if show_metrics? %>
    <%= render Primer::Box.new(display: :flex, align_items: :baseline, ml: 2, color: :subtle, font_size: 5, classes: "lh-condensed") do %>
      <%= render Primer::Box.new(color: :default, font_weight: :semibold, border: :bottom, style: "border-style: none none dashed !important;") do %>
        <%= render Primer::Tooltip.new(label: definition_for_cvss_overall_score, direction: :n, no_delay: true, multiline: true, test_selector: "cvss-overall-score").with_content(cvss_overall_score) %>
      <% end %>
      <span class="ml-1">/ 10</span>
    <% end %>
  <% end %>
<% end %>

<% if show_metrics? %>
  <%= render Primer::Box.new(display: :flex, direction: :column, mt: 2, p: 2, border: true, border_radius: 2, test_selector: "cvss-base-metrics") do %>
    <%= render Primer::Beta::Heading.new(tag: :h4, font_size: 6, p: 1).with_content("CVSS base metrics") %>

    <% base_metrics.each do |metric| %>
      <%= render Primer::Box.new(display: :flex, p: 1, justify_content: :space_between) do %>
        <%= render Primer::Tooltip.new(label: definition_for_metric(metric), direction: :n, align: :left_1, no_delay: true, multiline: true) do %>
          <%= render Primer::Box.new(border: :bottom, classes: "lh-condensed", style: "border-style: none none dashed !important;").with_content(label_for_metric(metric)) %>
        <% end %>

        <%= render Primer::Box.new(color: :default, font_weight: :semibold, ml: 2, test_selector: test_selector_for_metric(metric)).with_content(value_for_metric(metric)) %>
      <% end %>
    <% end %>
  <% end %>

  <%= render Primer::Box.new(mt: 2, test_selector: "cvss-vector").with_content(cvss_vector) %>
<% end %>
