<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render Repos::Security::SecurityShowPageComponent.new(alert_title: alert_title, alert_number: alert_number) do |show_page_component| %>
  <% if show_dismiss_button? %>
    <% show_page_component.with_alert_actions do %>
      <div class="d-md-none">
        <%= render DependabotAlerts::AlertDismissalComponent.new(id: "responsive", dismissal_path: dismissal_path, body_system_arguments: { left: false }) do |c| %>
          <% c.with_summary do %>
            Dismiss alert
            <div class="dropdown-caret"></div>
          <% end %>
        <% end %>
      </div>
      <div class="d-none d-md-block">
        <%= render DependabotAlerts::AlertDismissalComponent.new(id: "regular", dismissal_path: dismissal_path, body_system_arguments: { right: false }) do |c| %>
          <% c.with_summary do %>
            Dismiss alert
            <div class="dropdown-caret"></div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% elsif show_reopen_button? %>
    <% show_page_component.with_alert_actions do %>
      <%= form_tag reopen_path, method: :put do %>
        <%= render Primer::ButtonComponent.new(type: :submit, variant: :small, test_selector: "reopen-button") do %>
          Reopen
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% show_page_component.with_status_information(state: alert.state) do %>
    Opened
    <%= render Primer::Beta::RelativeTime.new(datetime: alert_opened_at, tense: :past) %>
    on
    <span class="text-bold" <%= test_selector("package-name") %>><%= package_name %></span>
    (<%= ecosystem %>)

    &middot;

    <%= render Primer::Beta::Link.new(href: manifest_blob_path, scheme: :secondary, test_selector: "manifest-link") do %>
      <%= manifest_path %>
    <% end %>

    <% if show_dismiss_metadata? %>
      &middot;

      <% if alert_dismisser %>
        <%= profile_link alert_dismisser, { class: "text-bold Link--secondary" }.merge(test_selector_data_hash("alert-dismisser-link")) %>
        <%= bot_identifier alert_dismisser %>
        <span>dismissed</span>
      <% else %>
        <span>Dismissed</span>
      <% end %>
      <% if alert_dismissed_at %>
        <%= render Primer::Beta::RelativeTime.new(datetime: alert_dismissed_at, tense: :past) %>
      <% end %>
    <% elsif show_auto_dismiss_metadata? %>
      &middot;
      <span class="text-bold">dependabot</span>
      <span <%= test_selector("alert-auto-dismissed") %>><%= render(Primer::Beta::Label.new(scheme: :secondary)) { "bot" } %> auto-dismissed</span>
      <%= render Primer::Beta::RelativeTime.new(datetime: alert_last_state_change_at, tense: :past) %>
    <% elsif show_fixed_metadata? %>
      &middot;
      <span>Fixed</span>
      <%= render Primer::Beta::RelativeTime.new(datetime: alert_fixed_at, tense: :past) %>
    <% end %>
  <% end %>

  <% show_page_component.with_main do %>
    <%= render DependabotAlerts::DependencyUpdateSummaryComponent.new(alert: alert) %>
    <% if show_vulnerable_function_references? %>
      <%= render DependabotAlerts::VulnerabilityExposureSummaryComponent.new(alert: alert, function_references: vulnerable_function_references) %>
    <% end %>
    <% if malware? %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 6, mt: 3)) do %>
        <%= render(Primer::Beta::Octicon.new(icon: :alert)) %>
        This package has been identified as malware and should be removed.
      <% end %>
    <% end %>
    <%= render Primer::Beta::BorderBox.new do |border_box| %>
      <% border_box.with_header(display: :flex, direction: :column, px: 5) do %>
        <div class="d-none d-sm-block"><%# Default display w/ 3 columns and labels above values: %>
          <div class="d-flex gutter text-small color-fg-muted mb-1">
            <div class="col-5">Package</div>
            <div class="col-4">Affected versions</div>
            <div class="col-3">Patched version</div>
          </div>

          <div class="d-flex flex-items-start gutter">
            <div class="col-5 d-flex flex-items-center Truncate">
              <%= render Primer::Beta::Octicon.new(icon: "package", color: :muted, mr: 1) %>
              <div class="text-bold Truncate-text" <%= test_selector "package-name" %>><%= package_name %></div>
              <div class="color-fg-muted ml-1">(<span <%= test_selector "ecosystem" %>><%= ecosystem %></span>)</div>
            </div>

            <div class="col-4 d-flex flex-items-center">
              <div class="text-mono text-emphasized wb-break-word" <%= test_selector "affected-versions" %>><%= affected_versions %></div>
            </div>

            <% if patched_version %>
              <div class="col-3 d-flex flex-items-center Truncate">
                <div class="text-mono text-emphasized Truncate-text" <%= test_selector "patched-version" %>><%= patched_version %></div>
                <%=
                  render Primer::Beta::ClipboardCopy.new(
                    color: :muted,
                    classes: "Link--onHover",
                    value: patched_version,
                    "aria-label": "Copy the patched version",
                    "data-copy-feedback": "Copied!",
                    "data-tooltip-direction": "n",
                    display: :inline_block,
                    ml: 2,
                  )
                %>
              </div>
            <% else %>
              <div class="col-3 color-fg-subtle" <%= test_selector "no-patched-version" %>>None</div>
            <% end %>
          </div>
        </div>
        <div class="d-sm-none"><%# Responsive display w/ stacked values: %>
          <div class="mb-2">
            <div class="text-small color-fg-muted mb-1">Package</div>

            <div class="d-flex flex-items-center Truncate">
              <%= render Primer::Beta::Octicon.new(icon: "package", color: :muted, mr: 1) %>
              <div class="text-bold Truncate-text" <%= test_selector "package-name" %>><%= package_name %></div>
              <div class="color-fg-muted ml-1">(<span <%= test_selector "ecosystem" %>><%= ecosystem %></span>)</div>
            </div>
          </div>

          <div class="mb-2">
            <div class="text-small color-fg-muted mb-1">Affected versions</div>

            <div class="text-mono text-emphasized wb-break-word" <%= test_selector "affected-versions" %>><%= affected_versions %></div>
          </div>

          <div>
            <div class="text-small color-fg-muted mb-1">Patched version</div>

            <% if patched_version %>
              <div class="Truncate">
                <div class="text-mono text-emphasized Truncate-text" <%= test_selector "patched-version" %>><%= patched_version %></div>
                <%=
                  render Primer::Beta::ClipboardCopy.new(
                    color: :muted,
                    classes: "Link--onHover",
                    value: patched_version,
                    "aria-label": "Copy the patched version",
                    "data-copy-feedback": "Copied!",
                    "data-tooltip-direction": "n",
                    display: :inline_block,
                    ml: 2,
                  )
                %>
              </div>
            <% else %>
              <div class="col-3 color-fg-subtle" <%= test_selector "no-patched-version" %>>None</div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% border_box.with_body(px: 5, pt: 3, pb: 5, test_selector: "description") do %>
        <%= render Primer::Beta::Markdown.new do %>
          <%= vulnerability_markdown %>
        <% end %>
      <% end %>
    <% end %>

    <%= render DependabotAlerts::TimelineComponent.new(alert: alert) %>
  <% end %>

  <% unless malware? %>
    <% if GitHub.flipper[:advisory_db_cvss_v4].enabled?(repository) && cvss_v4_vector %>
      <% show_page_component.with_severity_dependabot_next(
          cvss_vector: cvss_v4_vector,
          severity: alert_severity
        )%>
    <% else %>
      <% show_page_component.with_severity_dependabot(
          cvss_vector: cvss_v3_vector,
          severity: alert_severity
        )%>
    <% end %>

    <% sidebar_tags.each do |tag_kwargs| %>
      <% show_page_component.with_tag(**tag_kwargs) %>
    <% end %>

    <% if related_fixable_alerts.any? %>
      <% show_page_component.with_sidebar_section(title: "Related alerts", test_selector: "related-alerts") do %>
        <% related_fixable_alerts.each do |alert| %>
          <div class="Truncate mb-1">
            <%= render Primer::Beta::Link.new(**related_alert_link_attributes(alert)) do %>
              <%= render Primer::Beta::Octicon.new(icon: "shield") %>
              <%= alert.title %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% show_page_component.with_cwe_section(cwe_numbers: cwes.map(&:number), show_no_cwes_message: true, scheme: :label) %>

  <% unless malware? %>
    <% show_page_component.with_sidebar_section(title: "CVE ID") do %>
      <% if cve_id %>
        <%= render Primer::Box.new(test_selector: "cve-id").with_content(cve_id) %>
      <% else %>
        <%= render Primer::Box.new(color: :subtle).with_content("No CVE") %>
      <% end %>
    <% end %>
  <% end %>

  <% show_page_component.with_sidebar_section(title: "GHSA ID") do %>
    <%= render Primer::Box.new(test_selector: "ghsa-id").with_content(ghsa_id) %>
  <% end %>

  <% show_page_component.with_sidebar_section do %>
    <%= render Primer::Beta::Link.new(display: :flex, align_items: :center, mb: 3, href: global_advisory_path(ghsa_id), scheme: :primary, font_weight: :bold, underline: false, test_selector: "advisory-link") do %>
      <%= render Primer::Beta::Octicon.new(icon: "shield-lock", mr: 1) %>
      See advisory in GitHub Advisory Database
    <% end %>

    <%= render Primer::Beta::Link.new(display: :flex, align_items: :center, mb: 3, href: global_advisory_dependabot_alerts_path(ghsa_id), scheme: :primary, font_weight: :bold, underline: false, test_selector: "affected-repositories-link") do %>
      <%= render Primer::Beta::Octicon.new(icon: "repo", mr: 1) %>
      See all of your affected repositories
    <% end %>

    <div class="color-fg-muted">
      See something to contribute?

      <%= render Primer::Beta::Link.new(display: :flex, align_items: :center, mb: 3, href: contribute_url(ghsa_id), test_selector: "advisory-link-improvement", data: contribute_analytic_attributes ) do %>
      Suggest improvements for this advisory on the GitHub Advisory Database.
      <% end %>
    </div>
  <% end %>
<% end %>
