<div class="site-admin-subhead ruleless">
  <h2 class="site-admin-subhead-heading">
    Copilot Seat Assignments (<%= copilot_seat_assignments.total_entries %>)
  </h2>
</div>

<%= form_with(url: stafftools_user_copilot_seat_assignments_url(this_user), method: :get, html: {class: "d-flex flex-items-end mb-3"}) do |form| %>
  <div class="mr-2">
    <div class="form-group-header">
      <%= form.label :search_by_assignable, for: "query" %>
    </div>
    <div class="form-group-body">
      <%= form.text_field :query, value: params[:query], id: "query", class: "form-control" %>
    </div>
  </div>
  <%= render(Primer::Beta::Button.new(type: :submit)) { "Search" } %>
<% end %>

<%= render Stafftools::Copilot::PaginatedSeatAssignmentsComponent.new(copilot_seat_assignments) %>
