<% page_info title: page_title %>

<div class="Box Box--condensed">
  <div class="Box-header">
    <h3 class="Box-title">
      Mars 2020 Helicopter Mission contributions displayed on user's profile
    </h3>
  </div>
  <div>
    <% if view.nasa_profile_highlight && view.top_contributions(view.nasa_profile_highlight).size > 0 %>
      <ul>
        <li class="Box-row Box-title d-flex">
          <div class="col-2">repository ID</div>
          <div class="flex-auto">contributor email</div>
          <div class="flex-shrink-0">ignore flag</div>
        </li>
        <% view.top_contributions(view.nasa_profile_highlight).each do |contribution| %>
          <li class="Box-row d-flex">
            <div class="col-2"><%= contribution.repository_id %></div>
            <div class="flex-auto wb-break-word"><%= contribution.contributor_email %></div>
            <div class="flex-shrink-0">
              <%= contribution.ignore? ? "Ignored" : "Not ignored" %>
              <%= button_to(
                "Toggle",
                stafftools_user_profile_highlight_contribution_path(this_user, contribution),
                method: :patch,
                form_class: "inline-form ml-1",
                class: "btn btn-sm",
              ) %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="Box-row">
        No contributions to display for the Mars 2020 Helicopter Contributor badge
      </div>
    <% end %>
  </div>
</div>

<div class="Box Box--condensed mt-3">
  <div class="Box-header">
    <h3 class="Box-title">
      All Mars 2020 Helicopter Mission contributions
    </h3>
  </div>
  <div>
    <% if view.nasa_profile_highlight && view.all_contributions(view.nasa_profile_highlight).size > 0 %>
      <ul>
        <li class="Box-row Box-title d-flex">
          <div class="col-2">repository ID</div>
          <div class="flex-auto wb-break-word">contributor email</div>
          <div class="flex-shrink-0">ignore flag</div>
        </li>
        <% view.all_contributions(view.nasa_profile_highlight).each do |contribution| %>
          <li class="Box-row d-flex">
            <div class="col-2"><%= contribution.repository_id %></div>
            <div class="flex-auto wb-break-word"><%= contribution.contributor_email %></div>
            <div class="flex-shrink-0">
              <%= contribution.ignore? ? "Ignored" : "Not ignored" %>
              <%= button_to(
                "Toggle",
                stafftools_user_profile_highlight_contribution_path(this_user, contribution),
                method: :patch,
                form_class: "inline-form ml-1",
                class: "btn btn-sm",
              ) %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="Box-row">
        This user has not contributed to repositories used in the Mars 2020 Helicopter Mission.
      </div>
    <% end %>
  </div>
</div>
