<% page_info title: "Sponsorship log", class: "page-account" %>

<%= render layout: "settings/settings" do %>
  <%= render Primer::Beta::Subhead.new(mt: 0) do |component| %>
    <% component.with_heading(tag: :h2) do %>Sponsorship log<% end %>
    <% component.with_actions do %>
      <%= render Sponsors::Activities::SelectPeriodComponent.new(
        period: period,
        viewer_role: :sponsor,
        sponsor: current_user,
      ) %>
    <% end %>
    <% component.with_description do %>New sponsorships, changes, and cancellations<% end %>
  <% end %>

  <% if total_in_page < 1 %>
    <%= render Primer::Beta::Blankslate.new(mb: 5, test_selector: "blank-slate") do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No sponsorship activity in this time period
      <% end %>

      <% c.with_description do %>
        This is where you can review activity from your sponsorships.
      <% end %>
    <% end %>
  <% else %>
    <% activities.each_with_index do |activity, i| %>
      <%= render Sponsors::Activities::ActivityComponent.new(
        activity: activity,
        first: i == 0,
        last: i == total_in_page - 1,
        viewer_role: :sponsor,
      ) %>
    <% end %>

    <% if total_pages > 1 %>
      <div class="paginate-container pt-3">
        <%= will_paginate activities, class: "pagination" %>
      </div>
    <% end %>
  <% end %>

  <% if current_user.sponsorable? %>
    <p class="color-fg-muted mt-3 border-top pt-3">
      You can see activity for sponsorships you receive
      in your <a class="Link--inTextBlock" href="<%= sponsorable_dashboard_activities_path(current_user) %>">Sponsors dashboard</a>.
    </p>
  <% end %>
<% end %>
