<%
  include_avatar = true unless local_assigns.key?(:include_avatar)
  always_include_title = true unless local_assigns.key?(:always_include_title)
  include_repo_in_title = true unless local_assigns.key?(:include_repo_in_title)
  show_details = event.show_event_details?(viewer: current_user)
  include_separator = local_assigns.fetch(:include_separator, true)
  include_pusher_in_title = true unless local_assigns.key?(:include_pusher_in_title)
  include_space_above_title = false unless local_assigns.key?(:include_space_above_title)
  include_title = always_include_title || !event.repository_ref_type? || !show_details
  header_link_class_names = "Link--primary no-underline wb-break-all"
  feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : ""
  best_context_is_repo_owner = current_organization.blank? &&
    header_should_use_repo_owner_context?(
      event_view: event,
      followed_user_ids: local_assigns.fetch(:followed_user_ids, nil),
      starred_repo_ids: local_assigns.fetch(:starred_repo_ids, nil))
%>

<!-- create -->
<div class="<%= card_container_classes(include_separator: include_separator) %>">
  <div class="d-flex flex-column width-full">
    <% if include_title %>
      <% if include_pusher_in_title %>
        <div class="d-flex flex-items-baseline">
          <div class="color-fg-muted">
            <% if best_context_is_repo_owner %>
              <% if include_avatar %>
                <span class="mr-2">
                  <%= link_to_event_repo_owner_avatar(event, classes: header_link_class_names, size: 32, test_selector_name: "repo-owner-context-avatar") %>
                </span>
              <% end %>
              <% if event.repository? %>
                <%= link_to_event_repo_owner(event, classes: header_link_class_names) %>
              <% else %>
                <%= link_to_event_repo(event, classes: header_link_class_names) %>
              <% end %>
              has a new
              <%= h(event.object) %>
            <% else %>
              <% if include_avatar %>
                <%= link_to_event_avatar(event, test_selector_name: "feeds-redesign-avatar") %>
              <% end %>
              <%= link_to_event_pusher(event, classes: header_link_class_names) %>
              <%= event_pusher_bot_identifier(event) %>
              created a
              <%= h(event.object) %>
              <%= "in" unless event.repository? %>
              <%= link_to_event_repo(event, hovercard: !event.repository?, classes: header_link_class_names) %>
            <% end %>

            <span <%= test_selector("micro-time-ago") %>>
              · <%= render(Primer::Beta::RelativeTime.new(datetime: event.created_at, tense: :past)) %>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>

    <div <%= test_selector("dashboard-feeds-card")%> class="Box p-3 mt-2 color-shadow-medium <%=feed_v2_classes%>">
      <div>
        <div class="f4 lh-condensed text-bold color-fg-default">
          <div class="d-inline-block">
            <div class="d-flex">
              <div class="mr-2">
                <%= link_to_event_repo_owner_avatar(event, size: 20) %>
              </div>
                <% if event.repository? %>
                  <%= link_to_event_repo(event, hovercard: false) %>
                <% else %>
                  <div class="d-inline-block">
                    <%= link_to_event_created_object_and_repo(event) %>
                  </div>
                <% end %>
            </div>
          </div>
          <% if include_event_star_button? %>
            <%= render "events/star_button", event: event, starred_repo_ids: starred_repo_ids, starrable_repo_ids: starrable_repo_ids %>
          <% end %>
        </div>

        <% if show_details %>
          <div class="dashboard-break-word color-fg-muted mt-1 repo-description">
            <p><%= event.formatted_repo_description %></p>
          </div>
        <% end %>

        <% if event.repo_pushed_on.present? %>
          <p class="f6 color-fg-muted mt-2 mb-0">
            <span>Updated <%= event.repo_pushed_on %></span>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
