<%
  header_link_class_names = "Link--primary no-underline wb-break-all"
  feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : ""
%>

<!-- delete -->
<div class="<%= card_container_classes %>">
  <div class="d-flex flex-column width-full">
    <div class="color-fg-muted">
      <%= link_to_event_avatar(event, test_selector_name: "feeds-redesign-avatar") %>
      <%= link_to_event_pusher(event, classes: header_link_class_names) %>
      <%= bot_identifier(event.sender_record) %>
      deleted
      <%= h(event.ref_type) %>
      <%= content_tag(:span, event.ref, class: "branch-name") %>
      in
      <%= link_to_event_repo(event, classes: header_link_class_names) %>
      <span <%= test_selector("micro-time-ago") %>>
        · <%= render(Primer::Beta::RelativeTime.new(datetime: event.created_at, tense: :past)) %>
      </span>

      <div <%= test_selector("dashboard-feeds-card")%> class="Box p-3 mt-2 color-shadow-medium <%= feed_v2_classes%>">
        <div>
          <div class="f4 lh-condensed text-bold color-fg-default">
            <%= link_to_event_repo(event) %>
            <% if include_event_star_button? %>
              <%= render "events/star_button", event: event, starred_repo_ids: starred_repo_ids, starrable_repo_ids: starrable_repo_ids %>
            <% end %>
          </div>

          <% if event.show_event_details?(viewer: current_user) %>
            <div class="dashboard-break-word color-fg-muted mt-1 repo-description">
              <p><%= event.formatted_repo_description %></p>
            </div>
          <% end %>

          <% if event.repo_pushed_on.present? %>
            <p class="f6 color-fg-muted mt-2 mb-0">
              <span>Updated <%= event.repo_pushed_on %></span>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
