<%
  include_title = true unless local_assigns.key?(:include_title)
  include_forked_repo = false unless local_assigns.key?(:include_forked_repo)
  header_link_class_names = "Link--primary no-underline wb-break-all"
  feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : ""
%>

<!-- fork -->
<div class="<%= card_container_classes(include_separator: include_title) %>">
  <div class="d-flex flex-column width-full">
    <% if include_title %>
      <div class="d-flex flex-items-baseline">
        <div class="color-fg-muted">
          <%= link_to_event_avatar(event, test_selector_name: "feeds-redesign-avatar") %>
          <%= link_to_event_actor(event, classes: header_link_class_names) %>
          <%= bot_identifier(event.sender_record) %>
          forked
          <%= link_to_event_forked_repo(event, classes: header_link_class_names) %>
          from
          <%= link_to_event_repo(event, hovercard: false, classes: header_link_class_names) %>
          <span <%= test_selector("micro-time-ago") %>>
            · <%= render(Primer::Beta::RelativeTime.new(datetime: event.created_at, tense: :past)) %>
          </span>
        </div>
      </div>
    <% end %>

    <% if event.show_event_details?(viewer: current_user) %>
      <div <%= test_selector("dashboard-feeds-card")%> class="Box p-3 mt-2 color-shadow-medium <%=feed_v2_classes%>">
        <% if include_forked_repo %>
          <p class="color-fg-muted text-small">
            Forked to <%= link_to_event_forked_repo(event, classes: "dashboard-break-word") %>
          </p>
        <% end %>

        <div>
          <div class="f4 lh-condensed text-bold color-fg-default">
            <%= link_to_event_repo(event, hovercard: false) %>
            <% if include_event_star_button? %>
              <%= render "events/star_button", event: event, starred_repo_ids: starred_repo_ids, starrable_repo_ids: starrable_repo_ids %>
            <% end %>
          </div>
          <div class="dashboard-break-word color-fg-muted mt-1 repo-description">
            <p><%= event.formatted_repo_description %></p>
          </div>

          <p class="f6 color-fg-muted mt-2 mb-0">
            <% if event.repo_language.present? %>
              <span class="d-inline-block color-fg-muted mr-3">
                <%= render(Languages::BadgeComponent.new(name: event.repo_language_name, ml: 0)) %>
              </span>
            <% end %>

            <% if event.repo_stargazers_count > 0 %>
              <span class="d-inline-block mr-3">
                <% if event.repo_stargazers_path %>
                  <%= link_to(event.repo_stargazers_path, class: "Link--muted", data: event_analytics_attributes(event, "stargazers")) do %>
                    <%= primer_octicon(:star, mr: 1) %><%= social_count(event.repo_stargazers_count) %>
                  <% end %>
                <% else %>
                  <%= primer_octicon(:star, mr: 1) %><%= social_count(event.repo_stargazers_count) %>
                <% end %>
              </span>
            <% end %>

            <% if event.repo_help_wanted_issues_count > 0 %>
              <span class="mr-3">
                <%= link_to_event_help_wanted_issues(event) || event_help_wanted_issues_description(event) %>
              </span>
            <% end %>

            <% if event.repo_pushed_on.present? %>
              <span>Updated <%= event.repo_pushed_on %></span>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
