<%
  header_link_class_names = "Link--primary no-underline wb-break-all"
  feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : ""
  best_context_is_repo_owner = current_organization.blank? &&
    header_should_use_repo_owner_context?(
      event_view: event,
      followed_user_ids: local_assigns.fetch(:followed_user_ids, nil),
      starred_repo_ids: local_assigns.fetch(:starred_repo_ids, nil))
%>

<!-- gollum -->
<div class="<%= card_container_classes %>">
  <div class="d-flex flex-column width-full">
    <div class="d-flex flex-items-baseline">
      <div class="color-fg-muted">
        <% if best_context_is_repo_owner && event.action == "created" %>
          <span class="mr-2">
            <%= link_to_event_repo_owner_avatar(event, classes: header_link_class_names, size: 32, test_selector_name: "repo-owner-context-avatar")%>
          </span>
          <%= link_to_event_repo(event, classes: header_link_class_names) %>
          has a new wiki page
        <% else %>
          <%= link_to_event_avatar(event, test_selector_name: "feeds-redesign-avatar") %>
          <%= link_to_event_actor(event, classes: header_link_class_names) %>
          <%= h(event.action) %>
          a wiki page in
          <%= link_to_event_repo(event, classes: header_link_class_names) %>
        <% end %>
        <span <%= test_selector("micro-time-ago") %>>
          · <%= render(Primer::Beta::RelativeTime.new(datetime: event.created_at, tense: :past)) %>
        </span>
      </div>
    </div>
    <div <%= test_selector("dashboard-feeds-card")%> class="Box p-3 mt-2 color-shadow-medium <%=feed_v2_classes%>">
      <div>
        <ul class="list-style-none">
          <% event.pages.each do |page| %>
            <li class="color-fg-muted">
              <%= primer_octicon(:book, color: :muted, mr: 1, vertical_align: :middle, "aria-label": "Wiki") %>
              <%= page.capital_action %>
              <%= link_to_event_wiki_page(page, event) %>
              <% if page.created? %>
                <blockquote><%= page.summary %></blockquote>
              <% else %>
                <div class="mt-2">
                  <%= link_to_event_wiki_compare(page, event) %>
                </div>
              <% end %>
            </li>
          <% end %>
          <% if event.more_pages? %>
            <li class="more">
              <%= link_to_more_event_pages(event) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
