<%
  header_link_class_names = "Link--primary no-underline wb-break-all"
  feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : ""
%>

<!-- issues -->
<div class="<%= card_container_classes %>">
  <div class="d-flex flex-column width-full">
    <div class="d-flex flex-items-baseline mb-2">
      <div class="color-fg-muted">
        <% if event.labeled_event? %>
          <%= link_to_event_avatar(event, test_selector_name: "feeds-redesign-avatar") %>
          <%= link_to_event_actor(event, classes: header_link_class_names) %>
          <%= bot_identifier(event.sender_record) %>
          <%= h(event.action) %>
          an issue with
          <%= render Issues::LabelComponent.new(color: event.label_color) do %>
            <%= html_label_name(event.label_name) %>
          <% end %>
          in
          <%= link_to_event_repo(event, classes: header_link_class_names) %>
        <% else %>
          <%= link_to_event_avatar(event) %>
          <%= link_to_event_actor(event, classes: header_link_class_names) %>
          <%= bot_identifier(event.sender_record) %>
          <%= h(event.action) %>
          an issue in
          <%= link_to_event_repo(event, classes: header_link_class_names) %>
        <% end %>
        <span <%= test_selector("micro-time-ago") %>>
          · <%= render(Primer::Beta::RelativeTime.new(datetime: event.created_at, tense: :past)) %>
        </span>
      </div>
    </div>

    <div <%= test_selector("dashboard-feeds-card")%> class="Box p-3 wb-break-all color-shadow-medium <%=feed_v2_classes%>">
      <%= octicon(event.octicon_name, :height => 16, :"aria-label" => "Issue", :class => "#{event.issue_state} d-inline-block mt-1 float-left") %>
      <div class="ml-4">
        <span class="f4 lh-condensed text-bold color-fg-default">
          <%= link_to_event_issue(event) %>
        </span>
        <span class="f4 color-fg-muted ml-1">#<%= event.issue_number %></span>
        <% unless event.issue_body.blank? %>
          <div class="dashboard-break-word lh-condensed mb-2 mt-1">
            <%= event.formatted_issue_body %>
          </div>
        <% end %>

        <% if event.issue_comments_count && event.issue_comments_count > 0 %>
          <div class="f6 color-fg-muted mt-1">
            <%= pluralize(number_with_delimiter(event.issue_comments_count), "comment") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
