<%
  header_link_class_names = "Link--primary no-underline wb-break-all"
%>

<!-- member -->
<div class="<%= card_container_classes %>">
  <div class="d-flex flex-items-baseline width-full">
    <div class="color-fg-muted">
      <%= link_to_event_avatar(event, test_selector_name: "feeds-redesign-avatar") %>
      <%= link_to_event_actor(event, classes: header_link_class_names) %>
      <%= bot_identifier(event.sender_record) %>
      <%= h(event.action) %>
      <%= link_to_event_member(event, classes: header_link_class_names) %>
      to
      <%= link_to_event_repo(event, classes: header_link_class_names) %>
      <span <%= test_selector("micro-time-ago") %>>
        · <%= render(Primer::Beta::RelativeTime.new(datetime: event.created_at, tense: :past)) %>
      </span>
    </div>
  </div>
</div>
