<%
  include_avatar = local_assigns.fetch(:include_avatar, true)
  include_actor = local_assigns.fetch(:include_actor, true)
  include_separator = local_assigns.fetch(:include_separator, true)
  show_details = event.show_event_details?(viewer: current_user)
  show_title = include_avatar || !show_details
  header_link_class_names = "Link--primary no-underline wb-break-all"
  feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : ""
%>

<!-- public -->
<div class="<%= class_names(card_container_classes(include_separator: include_separator), "mt-2" => !include_separator) %>">
  <div class="d-flex flex-column width-full">
    <% if show_title %>
      <div class="d-flex flex-items-baseline">
        <div class="color-fg-muted">
          <% if include_avatar %>
            <%= link_to_event_avatar(event, test_selector_name: "feeds-redesign-avatar") %>
          <% end %>
          <% if include_actor %>
            <%= link_to_event_actor(event, classes: header_link_class_names) %>
            <%= bot_identifier(event.sender_record) %>
            made
          <% else %>
            Made
          <% end %>
          <%= link_to_event_repo(event, classes: header_link_class_names) %>
          public
          <span <%= test_selector("micro-time-ago") %>>
            · <%= render(Primer::Beta::RelativeTime.new(datetime: event.created_at, tense: :past)) %>
          </span>
        </div>
      </div>
    <% end %>

    <% if show_details %>
      <div <%= test_selector("dashboard-feeds-card")%> class="Box p-3 my-2 color-shadow-medium <%=feed_v2_classes%>">
        <div>
          <div class="f4 lh-condensed text-bold color-fg-default">
            <%= link_to_event_repo(event) %>
            <% if include_event_star_button? %>
              <%= render "events/star_button", event: event, starred_repo_ids: starred_repo_ids, starrable_repo_ids: starrable_repo_ids %>
            <% end %>
          </div>
          <div class="dashboard-break-word color-fg-muted mt-1 mb-0 repo-description">
            <p><%= event.formatted_repo_description %></p>
          </div>

          <p class="f6 color-fg-muted mt-2 mb-0">
            <% if event.repo_language.present? %>
              <span class="d-inline-block color-fg-muted mr-3">
                <%= render(Languages::BadgeComponent.new(name: event.repo_language_name, ml: 0)) %>
              </span>
            <% end %>

            <% if event.repo_stargazers_count > 0 %>
              <span class="d-inline-block mr-3">
                <%= primer_octicon(:star, mr: 1) %><%= social_count(event.repo_stargazers_count) %>
              </span>
            <% end %>

            <% if event.repo_help_wanted_issues_count > 0 %>
              <span class="mr-3">
                <%= event_help_wanted_issues_description(event) %>
              </span>
            <% end %>

            <% if event.repo_pushed_on.present? %>
              <span>Updated <%= event.repo_pushed_on %></span>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
