<%
  include_avatar = true unless local_assigns.key?(:include_avatar)
  include_separator = true unless local_assigns.key?(:include_separator)
  include_title = true unless local_assigns.key?(:include_title)
  header_link_class_names = "Link--primary no-underline wb-break-all"
  feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : ""
%>

<!-- pull_request_review_comment -->
<div class="<%= class_names(card_container_classes(include_separator: include_separator), "mt-2" => !include_separator) %>">
  <div class="d-flex flex-column width-full">
    <% if include_title %>
      <div class="d-flex flex-items-baseline mb-2">
        <div class="color-fg-muted">
          <% if include_avatar %>
            <%= link_to_event_avatar(event, test_selector_name: "feeds-redesign-avatar") %>
          <% end %>
          <%= link_to_event_actor(event, classes: header_link_class_names) %>
          <%= bot_identifier(event.sender_record) %>
          commented on
          <%= link_to_event_pr_review_comment(event, classes: "Link--primary") %>
          <span <%= test_selector("micro-time-ago") %>>
            · <%= render(Primer::Beta::RelativeTime.new(datetime: event.created_at, tense: :past)) %>
          </span>
        </div>
      </div>
    <% end %>
    <div  <%= test_selector("dashboard-feeds-card")%> class="message markdown-body Box p-3 wb-break-all color-shadow-medium <%=feed_v2_classes%>">
      <div class="f6 mb-1">
        <%= link_to_event_pr_review_comment(event, link_text: event_actor_commented_text(event), classes: "Link--secondary") %>
      </div>
      <% if event.comment_body %>
        <%= event.formatted_comment %>
      <% else %>
        <p>The comment has since been removed.</p>
      <% end %>
    </div>
  </div>
</div>
