<%
  header_link_class_names = "Link--primary no-underline wb-break-all"
  feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : ""
%>

<!-- pull_request -->
<div class="<%= card_container_classes %>">
  <div class="d-flex flex-column width-full">
    <div>
      <div class="d-flex flex-items-baseline">
        <div class="color-fg-muted">
          <%= link_to_event_avatar(event, test_selector_name: "feeds-redesign-avatar") %>
          <%= link_to_event_actor(event, classes: header_link_class_names) %>
          <%= bot_identifier(event.sender_record) %>
          <%= h(event.action) %>
          <%= link_to_event_pull(event, link_text: "#{event.repo_nwo}##{event.pull_request_number}", classes: header_link_class_names) %>
          <span <%= test_selector("micro-time-ago") %>>
            · <%= render(Primer::Beta::RelativeTime.new(datetime: event.created_at, tense: :past)) %>
          </span>
        </div>
      </div>
    </div>

    <div <%= test_selector("dashboard-feeds-card")%> class="Box p-3 my-2 color-shadow-medium <%=feed_v2_classes%>">
      <%= octicon("git-pull-request", :height => 16, :'aria-label' => "Pull request", :class => "#{event.octicon_class} d-inline-block mt-1 float-left") %>

      <div class="ml-4">
        <div>
          <span class="f4 lh-condensed text-bold color-fg-default"><%= link_to_event_pull(event) %></span>
          <span class="f4 color-fg-muted ml-1">#<%= event.pull_request_number %></span>
          <% unless event.pull_request_body.blank? %>
            <div class="lh-condensed mb-2 mt-1">
              <%= event.formatted_pull_request_body %>
            </div>
          <% end %>
        </div>

        <% if event.total_additions != 0 || event.total_deletions != 0 %>
          <div class="diffstat d-inline-block mt-1">
            <span class="color-fg-success">+<%= number_with_delimiter(event.total_additions) %></span>
            <span class="color-fg-danger">-<%= number_with_delimiter(event.total_deletions) %></span>
          </div>
        <% end %>

        <% if event.pull_request_comments_count && event.pull_request_comments_count > 0 %>
          <div class="d-inline-block f6 color-fg-muted ml-3">
            <%= pluralize(number_with_delimiter(event.pull_request_comments_count), "comment") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
