<%
  header_link_class_names = "Link--primary no-underline wb-break-all"
  feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : ""
%>

<!-- push -->
<div class="<%= card_container_classes %>">
  <div class="d-flex flex-column width-full">
    <div class="color-fg-muted">
      <%= link_to_event_avatar(event) %>
      <%= link_to_event_actor(event, classes: header_link_class_names) %>
      <%= bot_identifier(event.sender_record) %>
      pushed to
      <% if current_user.blank? %>
        <%= link_to_push_event_branch(event) %>
        in
      <% end %>
      <%= link_to_event_repo(event, classes: header_link_class_names) %>
      <span <%= test_selector("micro-time-ago") %>>
        · <%= render(Primer::Beta::RelativeTime.new(datetime: event.created_at, tense: :past)) %>
      </span>

      <% if event.no_commits %>
        <div>
          <strong><%= event.ref_name %></strong> is now
          <code><%= link_to_event_head(event) %></code>
        </div>
      <% else %>
        <div <%= test_selector("dashboard-feeds-card")%> class="Box p-3 mt-2 color-shadow-medium <%=feed_v2_classes%>">
          <span><%= pluralize(event.commits.size, "commit") %> to</span>
          <%= link_to_push_event_branch(event) %>

          <div class="commits <%= event.pusher_is_only_committer %>">
            <ul class="list-style-none">
              <% event.commits.each do |commit| %>
                <li class="d-flex flex-items-baseline">
                  <span>
                    <%= avatar_for_event_user(commit) %>
                  </span>
                  <code><%= link_to_event_sha(commit) %></code>
                  <div class="dashboard-break-word lh-condensed">
                    <blockquote>
                      <%= format_commit_message_short(commit.message.to_s, commit.repository) %>
                    </blockquote>
                  </div>
                </li>
              <% end %>

              <% link_to_comparison = link_to_event_comparison(event) %>

              <% if link_to_comparison.present? %>
                <li class="f6 mt-2">
                  <%= link_to_comparison %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
