<%
  include_title = true unless local_assigns.key?(:include_title)
  show_details = event.show_event_details?(viewer: current_user)
  emphasize_actor = event.viewer_is_sponsorable?(current_user)
  sponsored_user_ids = Set.new unless local_assigns.key?(:sponsored_user_ids)
  sponsorable_user_ids = Set.new unless local_assigns.key?(:sponsorable_user_ids)
  header_link_class_names = "Link--primary no-underline wb-break-all"
  feed_v2_classes = user_feature_enabled?(:feeds_v2) ? "color-bg-overlay" : ""
%>

<!-- sponsor -->
<% if logged_in? %>
  <div class="<%= card_container_classes(include_separator: include_title) %>">
    <div class="d-flex flex-column width-full">
      <% if include_title %>
        <div class="d-flex flex-items-baseline">
          <div class="color-fg-muted">
            <%= link_to_event_avatar(event, test_selector_name: "feeds-redesign-avatar") %>
            <%= link_to_event_actor(event, classes: header_link_class_names) %>
            sponsored
            <% if emphasize_actor %>
              you
            <% else %>
              <%= link_to_event_target_login(event, classes: "Link--primary") %>
            <% end %>
            <span <%= test_selector("micro-time-ago") %>>
              · <%= render(Primer::Beta::RelativeTime.new(datetime: event.created_at, tense: :past)) %>
            </span>
          </div>
        </div>
      <% end %>

      <% if show_details %>
        <div <%= test_selector("dashboard-feeds-card")%> class="Box p-3 mt-2 color-shadow-medium <%=feed_v2_classes%>">
          <div class="d-flex">
            <% if emphasize_actor %>
              <%= link_to_event_actor_avatar(event) %>
            <% else %>
              <%= link_to_event_target_avatar(event) %>
            <% end %>
            <div class="width-full ml-1">
              <span class="lh-condensed color-fg-default">

                <span class="mr-1">
                  <% if emphasize_actor %>
                    <% if event.sender_name.present? %>
                      <%= link_to_event_actor_name(event) %>
                      <%= link_to_event_actor(event, classes: "f5 Link--secondary no-underline", hovercard: false) %>
                    <% else %>
                      <%= link_to_event_actor(event, classes: "f4 text-bold Link--primary no-underline", hovercard: false) %>
                    <% end %>
                  <% else %>
                    <% if event.target_name.present? %>
                      <%= link_to_event_target_name(event, classes: "f4 text-bold Link--primary no-underline") %>
                      <%= link_to_event_target_login(event, classes: "f5 Link--secondary no-underline") %>
                    <% else %>
                      <%= link_to_event_target_login(event, classes: "f4 text-bold Link--primary no-underline") %>
                    <% end %>
                  <% end %>
                </span>

                <%=
                  render Events::SponsorButtonComponent.new(
                    event: event,
                    sponsorable_user_ids: sponsorable_user_ids,
                    sponsored_user_ids: sponsored_user_ids,
                    link_class: "float-right"
                  )
                %>
              </span>

              <% if emphasize_actor %>
                <% if event.actor_bio_html.present? %>
                  <div class="dashboard-break-word lh-condensed mb-2 mt-1 bio">
                    <%= event.actor_bio_html %>
                  </div>
                <% end %>
              <% else %>
                <% if event.target_bio_html.present? %>
                  <div class="dashboard-break-word lh-condensed mb-2 mt-1 bio">
                    <%= event.target_bio_html %>
                  </div>
                <% end %>
              <% end %>

              <p class="f6 color-fg-muted m-0">
                <% if emphasize_actor %>
                  <% if event.actor_public_repos_count && event.actor_public_repos_count > 0 %>
                    <span class="mr-3">
                      <%= link_to_event_actor_repos(event) %>
                    </span>
                  <% end %>
                  <% if event.actor_followers_count && event.actor_followers_count > 0  %>
                    <span>
                      <%= link_to_event_actor_followers(event) %>
                    </span>
                  <% end %>
                <% else %>
                  <% if event.target_public_repos_count && event.target_public_repos_count > 0 %>
                    <span class="mr-3">
                      <%= link_to_event_target_repos(event) %>
                    </span>
                  <% end %>
                  <% if event.target_followers_count && event.target_followers_count > 0  %>
                    <span>
                      <%= link_to_event_target_followers(event) %>
                    </span>
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
