<% if event.repo_owner.present? && event.repo_record.present? && !starred_repo_ids.nil? %>
  <%
    support_unstar_confirm = logged_in?
    is_starred = starred_repo_ids.include?(event.repo_id)
  %>
  <%= render(UserLists::UnstarDialogTemplateComponent.new) %>
  <div class="<%= class_names(
    "d-flex BtnGroup float-right js-toggler-container starring-container",
    "on" => is_starred,
    "js-social-container" => support_unstar_confirm,
  ) %>">
    <% if logged_in? && (is_starred || starrable_repo_ids.include?(event.repo_id)) %>
      <%= form_tag(unstar_repository_path(event.repo_owner.display_login, event.repo_record), :class => class_names(
        "starred BtnGroup-parent",
        "js-social-form js-deferred-toggler-target" => support_unstar_confirm,
      ), :"data-remote" => support_unstar_confirm ? nil : true) do %>
        <input type="hidden" name="context" value="news_feed">
        <% if support_unstar_confirm %>
          <%= csrf_hidden_input_for(
            unstar_repository_path(event.repo_owner.display_login, event.repo_record),
            class: "js-confirm-csrf-token")
          %>
        <% end %>
        <%= render(Primer::Beta::Button.new(
          type: :submit,
          size: :small,
          classes: class_names(
            "BtnGroup-item rounded-left-2 border-right-0",
            "js-toggler-target" => !support_unstar_confirm,
          ),
          ml: 2,
          mb: 2,
          test_selector: "unstar-button",
          aria: { label: "Unstar #{event.repo_record.name_with_display_owner}" },
        )) do |button| %>
          <% button.with_leading_visual_icon(icon: "star-fill", mr: 1, classes: "starred-button-icon") %>
          Starred
        <% end %>
      <% end %>
      <%= form_tag(star_repository_path(event.repo_owner.display_login, event.repo_record), :class => class_names(
        "unstarred BtnGroup-parent",
        "js-social-form" => support_unstar_confirm,
      ), :"data-remote" => support_unstar_confirm ? nil : true) do %>
        <input type="hidden" name="context" value="news_feed">
        <%= render(Primer::Beta::Button.new(
          type: :submit,
          size: :small,
          classes: "BtnGroup-item rounded-left-2 js-toggler-target",
          ml: 2,
          mb: 2,
          test_selector: "star-button",
          aria: { label: "Star #{event.repo_record.name_with_display_owner}" },
        )) do |button| %>
          <% button.with_leading_visual_icon(icon: :star, color: :muted, mr: 1) %>
          Star
        <% end %>
      <% end %>
      <%= render(UserLists::MenuComponent.new(repository: event.repo_record)) %>
    <% else %>
      <%= render(Primer::Beta::Button.new(
        disabled: true,
        size: :small,
        ml: 2,
        mb: 2,
        rounded: 2,
        aria: { label: "You can't star at this time" },
      )) do |button| %>
        <% button.with_leading_visual_icon(icon: :star, mr: 1) %>
        Star
      <% end %>
    <% end %>
  </div>
<% end %>
