<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="en-US">
<%- view = Events::AtomView.new(self) -%>
<%- cache view.cache_key do -%>
  <id><%= view.feed_id %></id>
  <link type="text/html" rel="alternate" href="<%= view.html_url %>"/>
  <link type="application/atom+xml" rel="self" href="<%= view.self_url %>"/>
  <title><%= view.feed_title %></title>
  <updated><%= view.feed_updated_at %></updated>
  <%- view.events.each do |event| -%>
  <entry>
    <id><%= event.id %></id>
    <published><%= event.published_at %></published>
    <updated><%= event.updated_at %></updated>
    <link type="text/html" rel="alternate" href="<%= event.html_url %>"/>
    <title type="html"><%= event.title %></title>
    <author>
      <name><%= event.author.name %></name>
    <% if event.author.email -%>
      <email><%= event.author.email %></email>
    <% end -%>
      <uri><%= event.author.url %></uri>
    </author>
    <media:thumbnail height="30" width="30" url="<%= event.author.gravatar %>"/>
    <content type="html"><%= event.content %></content>
  </entry>
  <%- end -%>
<% end -%>
</feed>
