
<% page_info title: "Payment history", selected_link: :payment_history %>

<%= render layout: "orgs/settings/layout" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      Payment history
    <% end %>
  <% end %>

  <% if payment_records.present? %>
    <%= render Billing::Settings::PaymentHistoryComponent.new(payment_records: payment_records, has_payment_method: !!target&.payment_method) %>
      <% if payment_records.total_pages > 1 %>
        <nav class="paginate-container" aria-label="Pagination">
          <%= will_paginate(payment_records) %>
        </nav>
      <% end %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
      <% c.with_visual_icon(icon: "credit-card") %>
      <% c.with_heading(tag: :h2) do %>
        You have not made any payments.
      <% end %>
    <% end %>
  <% end %>
<% end %>
