<%= render(
  Primer::Beta::BorderBox.new(
    padding: :condensed,
    mb: 4
  )) do |component| %>
  <% if !view.paths_data_present? %>
    <% component.with_header do |h| %>
      <% h.with_title(tag: :h3) do %>
        <a class="Link--inTextBlock" href="<%= gh_traffic_path(current_repository) %>">Domains</a> /
        There was an error
      <% end %>
    <% end %>
    <% component.with_row do %>
      <p class="flash-error flash">
        We tried to fetch all that exciting traffic information, but it looks like something went wrong.
        You can refresh the page or <a class="Link--inTextBlock" href="<%= contact_path %>?form[subject]=Traffic%20Graphs">contact a human</a> in support.
      </p>
    <% end %>
  <% else %>
    <% component.with_header do |h| %>
      <% h.with_title(tag: :h3) do %>
        <a class="Link--inTextBlock" href="<%= gh_traffic_path(current_repository) %>">Domains</a> /
        <%= view.referrer_domain %>
      <% end %>
    <% end %>
    <% component.with_row(p: 0) do %>
      <table class="capped-list">
        <thead>
          <th>Path</th>
          <th class="middle">Visits</th>
          <th class="middle">Unique Visits</th>
        </thead>
        <tbody>
        <% view.referrer_paths.each do |path| %>
          <tr>
            <td class="capped-list-label">
              <a title="<%= path['path'] %>" href="http://<%= view.referrer_domain %><%= path['path'] %>" rel="nofollow"><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
                <%= primer_octicon(:"link-external") %>
                <%= path['path'] %>
              </a>
            </td>
            <td class="middle"><%= number_with_delimiter(path['total'], :delimiter => ',') %></td>
            <td class="middle"><%= number_with_delimiter(path['unique'], :delimiter => ',') %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% end %>
