<%= render(
  Primer::Beta::BorderBox.new(
    padding: :condensed,
    mb: 4
  )) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h3) do %>
      Referring sites
    <% end %>
  <% end %>
  <% component.with_row(p: 0) do %>
    <table class="capped-list">
      <thead>
        <th>Site</th>
        <th class="middle">Views</th>
        <th class="middle">Unique visitors</th>
      </thead>
      <tbody>
      <% view.referrers.each do |ref| %>
        <tr>
          <td class="capped-list-label">
            <% if ref["referrer_paths_allowed"].present? %>
              <%= primer_octicon(:globe) %>
              <a href="<%= url_for(:referrer => ref["referrer"]) %>#top-domains">
                <%= ref["referrer"] %>
              </a>
            <% else %>
              <%= primer_octicon(:globe) %>
              <%= ref["referrer"] %>
            <% end %>
          </td>
          <td class="middle"><%= number_with_delimiter(ref['total'], :delimiter => ',') %></td>
          <td class="middle"><%= number_with_delimiter(ref['unique'], :delimiter => ',') %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
