<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# "view" is an instance of Repositories::Graph::TrafficView %>
<% if view.fetch_data %>
  <%- if view.data_present? %>
    <div class="gutter d-flex" style="justify-content: space-evenly; flex-flow: row wrap;">
      <%# Left column %>
      <div id="top-domains" class="col-6 top-domains" style="width: fit-content; min-width: 49.99%" data-pjax>
        <% if !view.show_referrer_paths? %>
          <%= render :partial => "graphs/referring_sites", :locals => { :view => view } %>
        <% else %>
          <%= render :partial => "graphs/referrer_paths", :locals => { :view => view } %>
        <% end %>
      </div>

      <%# Right column %>
      <div class="col-6" style="width: fit-content; min-width: 49.99%">
        <%= render(
          Primer::Beta::BorderBox.new(
            padding: :condensed,
            mb: 4
          )) do |component| %>
          <% component.with_header do |h| %>
            <% h.with_title(tag: :h3) do %>
              Popular content
            <% end %>
          <% end %>
          <% component.with_row(p: 0) do %>
            <table class="capped-list">
              <thead>
                <th>Content</th>
                <th class="middle">Views</th>
                <th class="middle">Unique visitors</th>
              </thead>
              <tbody>
              <% view.cleaned_content.each do |content| %>
              <tr>
                <td class="capped-list-label"><%= primer_octicon(:file) %><a title="<%=h content['title'] %>" href="<%=h content['path'] %>"><%=h content['title'] %></a></td><%# erblint:disable GitHub::Accessibility::NoTitleAttribute %>
                <td class="middle"><%= number_with_delimiter(content['total'], :delimiter => ',') %></td>
                <td class="middle"><%= number_with_delimiter(content['unique'], :delimiter => ',') %></td>
              </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
  <%- else %>
    <div class="flash-messages">
      <%= render Primer::Beta::Flash.new do %>
        It looks like traffic to your repository is a little light. Go spread
        the word and check back later!
      <% end %>
    </div>
  <%- end %>
<% else %>
  <div class="flash-messages">
    <%= render Primer::Beta::Flash.new(scheme: :danger) do %>
      We tried to fetch all that exciting traffic information, but it looks like something went wrong.
      You can refresh the page or <a class="Link--inTextBlock" href="<%= contact_path %>?form[subject]=Traffic%20Graphs">contact a human</a> in support.
    <% end %>
  </div>
<% end %>
