<% page_info \
    container_xl: true,
    responsive: true,
    selected_link: :repo_graphs,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<% page_title "Code frequency · #{current_repository.name_with_display_owner}" %>

<%= render layout: "layouts/repository/insights" do %>
  <div class="graphs wheader">
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2, display: :flex, align_items: :center) do %>
        Code frequency over the history of
        <span class="ml-1 text-emphasized"><%= current_repository.name_with_display_owner %></span>
      <% end %>
    <% end %>

    <h2 class="ghead">
      <span class="dir">
        <span class="cadd">Additions</span> and
        <span class="cdel">Deletions</span> per week
      </span>
    </h2>
    <code-frequency-graph>
      <div class="js-graph graph-canvas" data-graph-name="code-frequency" data-url="<%= code_frequency_data_path %>" data-target="code-frequency-graph.graph">
        <%= render :partial => "graphs/activity" %>
      </div>
    </code-frequency-graph>
  </div>
<% end %>
