<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
    container_xl: true,
    responsive: true,
    selected_link: :repo_graphs,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>

<% page_title "Community · #{current_repository.name_with_display_owner}" %>

<%= render layout: "layouts/repository/insights" do %>
  <% if !current_repository.discussions_on? %>
    <%= render(Graphs::CommunityInsights::BlankSlateComponent.new(repository: current_repository)) %>
  <% else %>
    <%= render(Primer::Beta::Subhead.new) do |component| %>
      <% component.with_heading(tag: :h3) do %>
        Community insights
      <% end %>
      <% component.with_actions(mt: [3, 0] ) do %>
        <details class="details-reset details-overlay select-menu position-relative">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button", id: "community-insights-graph-select") do %>
            <i>Period:</i>
            <span data-menu-button><%= params[:period].present? ? params[:period].to_s.humanize : CommunityInsightsDailyCount.default_period.to_s.humanize %></span>
          <% end %>
          <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header">
              <span class="select-menu-title">Filter activity</span>
            </div>
            <div class="select-menu-list">
              <% CommunityInsightsDailyCount::PERIODS.each do |label, _| %>
                <% checked = params[:period].present? ? params[:period] == label.to_s : CommunityInsightsDailyCount.default_period.to_s == label.to_s %>
                <a class="select-menu-item <%= "selected" if checked %>" role="menuitem" href="<%= gh_community_graph_path(current_repository, label) %>" data-pjax="#js-repo-pjax-container">
                  <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text" data-menu-button-text><%= label.to_s.humanize %></div>
                </a>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>
    <% end %>

    <%= render Primer::Box.new(display: :flex, flex_wrap: :wrap) do %>
      <%= render :partial => "graphs/community_insights/community_insights_contributions" %>
      <%= render :partial => "graphs/community_insights/discussion_page_views" %>
    <% end %>
    <%= render Primer::Box.new(display: :flex, flex_wrap: :wrap) do %>
      <%= render :partial => "graphs/community_insights/discussions_daily_contributors" %>
      <%= render :partial => "graphs/community_insights/discussions_new_contributors" %>
    <% end %>
  <% end %>
<% end %>
