<% page_info \
    container_xl: true,
    responsive: true,
    selected_link: :repo_graphs,
    dashboard_pinnable_item_id: current_repository.global_relay_id
%>
<% page_title "Traffic · #{current_repository.name_with_display_owner}" %>

<%= render layout: "layouts/repository/insights" do %>

  <traffic-clones-graph>
    <%= render(
      Primer::Beta::BorderBox.new(
        padding: :condensed,
        mb: 4,
        id: "js-clones-graph",
        data: { target: "traffic-clones-graph.container" }
      )) do |component| %>
      <% component.with_header do |h| %>
        <% h.with_title(tag: :h3) do %>
          Git clones
        <% end %>
      <% end %>
      <% component.with_row do %>
        <div class="graph-canvas traffic-graph uniques-graph js-graph" data-url="<%= clone_activity_data_path %>" data-target="traffic-clones-graph.graph">
          <%= render :partial => "graphs/activity" %>
        </div>
      <% end %>
      <% component.with_row do %>
        <div class="traffic-graph-stats">
          <ul class="summary-stats">
            <li class="p-2">
              <span class="num js-traffic-total clones">-</span>
              Clones
            </li>
            <li class="p-2">
              <span class="num js-traffic-uniques uniques">-</span>
              Unique cloners
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </traffic-clones-graph>

  <traffic-visitors-graph>
    <%= render(
      Primer::Beta::BorderBox.new(
        padding: :condensed,
        mb: 4,
        id: "js-visitors-graph",
        data: { target: "traffic-visitors-graph.container" }
      )) do |component| %>
      <% component.with_header do |h| %>
        <% h.with_title(tag: :h3) do %>
          Visitors
        <% end %>
      <% end %>
      <% component.with_row do %>
        <div class="graph-canvas traffic-graph uniques-graph js-graph" data-url="<%= traffic_data_path %>" data-target="traffic-visitors-graph.graph">
          <%= render :partial => "graphs/activity" %>
        </div>
      <% end %>
      <% component.with_row do %>
        <div class="traffic-graph-stats">
          <ul class="summary-stats">
            <li class="p-2">
              <span class="num js-traffic-total visits">-</span>
              Views
            </li>
            <li class="p-2">
              <span class="num js-traffic-uniques uniques">-</span>
              Unique visitors
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </traffic-visitors-graph>

  <include-fragment class="text-center p-6" src="<%= url_for(partial: "top_lists", referrer: params[:referrer]) %>">
    <p>Crunching the latest data, just for you. Hang tight…</p>
  </include-fragment>
<% end %>
