<%= render Primer::Beta::Subhead.new(pt: 4, mt: 4, border: :top, border_bottom: 0) do |component| %>
  <% component.with_heading(tag: :h2, danger: true, font_size: 5, mb: 0) do %>Danger zone<% end %>
<% end %>
<%= render(Primer::Beta::BorderBox.new(border_color: :danger, mt: 3)) do |component| %>
  <% component.with_row do %>
    <div class="d-flex flex-items-center">
      <div class="flex-auto width-full">
        <span class="text-bold color-fg-default"><%= section_heading %></span>
        <div class="color-fg-default mt-1 f5"><%= section_description %></div>
      </div>
      <%= form_tag @remove_pattern_path, method: :delete do %>
        <%= hidden_field_tag :id , @pattern.id %>
        <%= hidden_field_tag :row_version, @pattern.row_version %>
        <%= hidden_field_tag :show_page, true %>
        <%= render SecretScanning::CustomPatterns::RemovePatternComponent.new(
          id: @pattern.id,
          pattern_state: @pattern_state,
          display_name: @pattern.display_name,
          scope: @pattern.scope,
          style: :button
        )%>
      <% end %>
    </div>
  <% end %>
<% end %>
