<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render(Primer::Box.new(display: :flex, align_items: :center, flex_direction: :row, mt: 1)) do %>
  <% if allow_update_after_dry_run? %>
    <% if @custom_pattern_owner.is_a?(Repository) %>
      <%= render Primer::ButtonComponent.new(
        mr: 2,
        type: :submit,
        form: form_class,
        classes: "js-save-and-dry-run-button",
        data: {"disable-with": "Saving...", "hpc": "true"},
        test_selector: "dry-run-button"
      ) do %>
          Save and dry run
      <% end %>
    <% else %>
      <%= render SecretScanning::CustomPatterns::DryRun::RepoSelectorDialogComponent.new(
        custom_pattern_owner: @custom_pattern_owner,
        mode: @mode,
        selected_repo_ids: @selected_repo_ids,
        scheme: :default,
        disabled: form_button_disabled?
      ) %>
    <% end %>
  <% end %>
  <% if show_repo_selector_dialog_button_as_primary? %>
    <%= render SecretScanning::CustomPatterns::DryRun::RepoSelectorDialogComponent.new(
      custom_pattern_owner: @custom_pattern_owner,
      mode: @mode,
      selected_repo_ids: @selected_repo_ids,
      scheme: :primary,
      disabled: form_button_disabled?
    ) %>
  <% else %>
    <%= render Primer::ButtonComponent.new(
      scheme: form_button_scheme,
      type: :submit,
      form: form_class,
      classes: form_button_js_class,
      disabled: form_button_disabled?,
      data: {"disable-with": form_button_disable_with, "hpc": "true"},
      test_selector: "cta-button"
    ) do %>
      <%= form_button_text %>
    <% end %>
  <% end %>
  <% if form_button_message %>
    <% if show_form_button_message_icon? %>
      <%= render(Primer::Beta::Octicon.new(ml: 2, icon: :check, color: :success)) %>
    <% end %>
    <%= render(Primer::Box.new(display: :flex, mt: 2, ml: 2, classes: "js-update-pattern-info", align_items: :flex_start, test_selector: "action-button-message")) do %>
      <p class="color-fg-muted f6 mt-1"><%= form_button_message %></p>
    <% end %>
  <% end %>
<% end %>
