<div class="js-additional-secret-format <% unless @value %>has-removed-contents<% end %>">
  <%= render(Primer::Box.new(display: :flex, mt: 4)) do %>
    <%= render(Primer::Box.new(flex: :auto)) do %>
      <div class="form-group-header color-fg-default mb-1">
        <%= @form.label "Additional secret format", for: "post_processing_#{@index}" %>
      </div>
      <div class="form-group-body d-flex">
        <%= @form.text_field "post_processing_#{@index}", class: "form-control input-monospace input-contrast width-full js-post-processing-input", id: "post_processing_#{@index}", value: @value, placeholder: "[a-z]", aria: {label: "Additional secret format requirement"}, param: "post_processing", disabled: @disabled %>
        <%= render Primer::Beta::CloseButton.new(type: :button, float: :right, ml: 1, classes: "js-remove-secret-format-button", aria: { label: "Remove secret format" }) %>
      </div>
    <% end %>
  <% end %>
  <%= render(Primer::Box.new(display: :flex)) do %>
    <div class="form-checkbox d-inline-block mb-0">
      <label class="color-fg-default">
        <%= @form.radio_button "post_processing_rule_#{@index}", :must_match, :class => "js-post-processing-input-rule", :checked => @match, disabled: @disabled %>
        Must match
      </label>
    </div>
    <div class="form-checkbox d-inline-block ml-5 mb-0">
      <label class="color-fg-default">
        <%= @form.radio_button "post_processing_rule_#{@index}", :must_not_match, :class => "js-post-processing-input-rule", :checked => !@match, disabled: @disabled %>
        Must not match
      </label>
    </div>
  <% end %>
</div>
