<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render(Primer::Box.new(flex: :auto, align_items: :flex_end)) do %>
  <%= render GitHub::DialogComponent.new(title: "Are you sure you want to remove these patterns?") do |d| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% d.with_summary do %>
        <%= render Primer::ButtonComponent.new(
          scheme: :danger,
          tag: :summary,
          variant: :medium,
          test_selector: "remove-custom-pattern-button") do %>
          Delete
        <% end %>
    <% end %>
    <div class="Box-body overflow-auto mt-1 f5">
      <div class="js-custom-patterns-delete-only-unpublished">
        This will discard <span class="js-custom-patterns-unpublished-delete-count"></span> unpublished custom pattern<span class="js-custom-patterns-plural-unpublished">s</span> and discard associated dry run results.
      </div>
      <div class="js-custom-patterns-delete-only-published">
        This will delete <span class="js-custom-patterns-published-delete-count"></span> custom pattern<span class="js-custom-patterns-plural-published">s</span> from <%= delete_confirmation_scope_text %>. The pattern<span class="js-custom-patterns-plural-published">s</span> may have created alerts.
      </div>
      <div class="js-custom-patterns-delete-unpublished-and-published">
        This will delete <span class="js-custom-patterns-published-delete-count"></span> custom pattern<span class="js-custom-patterns-plural-published">s</span> from <%= delete_confirmation_scope_text %>. The published pattern<span class="js-custom-patterns-plural-published">s</span> may have created alerts.
      </div>

      <div class="js-custom-patterns-delete-only-published js-custom-patterns-delete-unpublished-and-published">
        <div class="form-checkbox mb-0">
          <label class="color-fg-default">
            <%= radio_button_tag :post_delete_action, "delete_alerts_#{@id}", :checked => true %>
            Delete all alerts associated with the pattern<span class="js-custom-patterns-plural-published">s</span>
            <span class="color-fg-muted d-block text-small">
              Alerts will not be accessible, not appear in overview counts and will not be recoverable.
            </span>
          </label>
        </div>
        <div class="form-checkbox mb-0">
          <label class="color-fg-default">
            <%= radio_button_tag :post_delete_action, "resolve_alerts_#{@id}"%>
            Close alerts associated with the pattern<span class="js-custom-patterns-plural-published">s</span> as resolved
            <span class="color-fg-muted d-block text-small">
              Alerts will be accessible and appear in overview counts. You will no longer have the option to delete those alerts.
            </span>
          </label>
        </div>
        <br>
      </div>

      <div class="js-custom-patterns-delete-unpublished-and-published">
        This will also discard <span class="js-custom-patterns-unpublished-delete-count"></span> unpublished custom pattern<span class="js-custom-patterns-plural-unpublished">s</span> and discard associated dry run results.
      </div>

    </div>
    <div class="Box-footer">
      <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :danger, variant: :medium, block: true, mt: 1, "data-close-dialog": true)) do %>
        Yes, remove these patterns
      <% end %>
    </div>
  <% end %>
<% end %>
