<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%= render(Primer::Box.new(flex: :auto, align_items: :flex_end)) do %>
  <%= render GitHub::DialogComponent.new(title: "Are you sure you want to #{remove_action_text.downcase} this pattern?") do |d| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% d.with_summary do %>
      <% if @style == :button %>
        <%= render Primer::ButtonComponent.new(
          scheme: :danger,
          tag: :summary,
          variant: :medium,
          test_selector: "remove-custom-pattern-button") do %>
          <%= remove_action_text %> pattern
        <% end %>
      <% else %>
      <%= render Primer::IconButton.new(
          tag: :summary,
          icon: :trash,
          height: 16,
          float: :right,
          scheme: :danger,
          mr: 1,
          title: "Remove pattern",
          "aria-label": "Remove pattern",
          test_selector: "remove-custom-pattern-icon")
        %>
      <% end %>
    <% end %>
    <div class="Box-body overflow-auto mt-1 f5">
      <% if pattern_state == :unpublished %>
        Discarding this pattern will also discard its dry run results.
      <% else %>
        This will permanently delete the <b><%= @display_name %></b> custom pattern from <%= delete_confirmation_scope_text %>. If this pattern created alerts, choose whether to delete or close them.
        <div class="form-checkbox mb-0">
          <label class="color-fg-default">
            <%= radio_button_tag :post_delete_action, "delete_alerts_#{@id}", :checked => true %>
            Delete all alerts associated with the pattern
            <span class="color-fg-muted d-block text-small">
              Alerts will not be accessible, not appear in overview counts and will not be recoverable.
            </span>
          </label>
        </div>
        <div class="form-checkbox mb-0">
          <label class="color-fg-default">
            <%= radio_button_tag :post_delete_action, "resolve_alerts_#{@id}"%>
            Close alerts associated with the pattern as resolved
            <span class="color-fg-muted d-block text-small">
              Alerts will be accessible and appear in overview counts. You will no longer have the option to delete those alerts.
            </span>
          </label>
        </div>
      <% end %>
    </div>
    <div class="Box-footer text-right d-block">
      <%= render(Primer::ButtonComponent.new(type: :reset, variant: :medium, mt: 1, "data-close-dialog": true)) { "Cancel" } %>
      <%= render(Primer::ButtonComponent.new(type: :submit, scheme: :danger, variant: :medium, mt: 1, "data-close-dialog": true)) { "Yes, #{remove_action_text.downcase} this pattern" } %>
    </div>
  <% end %>
<% end %>
