<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Box.new(display: :flex)) do %>

    <div>
      <input type="checkbox"
        class="js-custom-pattern-check mr-2 v-align-middle"
        aria-label="Select custom pattern"
        data-check-all-item
        name="id[]"
        value="<%= pattern.id %>"
        data-pattern-state="<%= pattern_state %>"
        data-pattern-row-version="<%= pattern.row_version %>"
        <%= test_selector("select-custom-pattern-for-bulk-delete") %>
      >
    </div>

  <%= render(Primer::Beta::Link.new(href: show_path, scheme: :primary, test_selector: "pattern-display-name", underline: false, classes: "h5 js-navigation-open")) { pattern.display_name } %>
  <% if unpublished %>
    <%= render(Primer::Beta::Label.new(tag: :div, scheme: :secondary, ml: 2, size: :large, test_selector: "pattern-unpublished-label")) { "Unpublished" } %>
  <% end %>
  <% if push_protection_enabled %>
    <%= render(Primer::Beta::Label.new(tag: :div, scheme: :secondary, ml: 2, size: :large, test_selector: "pattern-push-protection-label")) { "Push Protection" } %>
  <% end %>
  <%= render(Primer::Box.new(ml: :auto, mr: 1)) do %>
    <% if user_can_edit_pattern? %>
      <%= form_tag show_path, method: :get do %>
        <%= render Primer::IconButton.new(
          icon: :pencil,
          type: :submit,
          title: "Edit pattern",
          "aria-label": "Edit pattern")
        %>
      <% end %>
    <% end %>
  <% end %>
  <%= form_tag delete_path, method: :delete, data: { pjax: true, turbo: true, turbo_frame: "list-component-frame", turbo_action: "replace" } do %>
    <%= hidden_field_tag :row_version, pattern ? pattern.row_version : "" %>
    <%= render SecretScanning::CustomPatterns::RemovePatternComponent.new(
      id: pattern.id,
      pattern_state: pattern_state,
      display_name: pattern.display_name,
      scope: pattern.scope,
      style: :icon
    ) %>
  <% end %>
<% end %>
