<% page_info title: "Onboard Customers to Billing Platform" %>
<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Box.new(display: :flex, mb: 2) do %>
    <%= render(Primer::Beta::Subhead.new) do |component| %>
      <% component.with_heading(tag: :h2) do %>
        Onboard Customers to Billing Platform
      <% end %>
      <% component.with_description do %>
        <br>
        By onboarding a customer you will be creating a corresponding billing-platform customer with the specified products enabled, which means they will be billed via billing-platform for their usage of the selected product(s) and NOT meuse.
        <br>
        <br>
        For GHEC onboarding, navigate to the Enterprise Licensing page for the customer you need to onboard.
      <% end %>
    <% end %>
  <% end %>
  <%= render(Primer::Alpha::TabPanels.new(label: "label", align: align)) do |component| %>
    <% Array.new(number_of_panels&.to_i || 2) do |i| %>
      <% component.with_tab(selected: i.zero?, id: "tab-#{i + 1}") do |tab| %>
        <% if i.zero? %>
          <% tab.with_panel do %>
            <%= primer_form_with(url: stafftools_billing_onboard_billing_platform_customers_path, method: :post) do |f| %>
              <%= render(Billing::Stafftools::BillingPlatformOnboardingForm.new(f, products: products)) %>
            <% end %>
          <% end %>
          <% tab.with_text { "Onboard single customer" } %>
        <% elsif i == 1 %>
          <% tab.with_panel do %>
            <%= primer_form_with(url: stafftools_billing_onboard_billing_platform_customers_path, method: :post) do |f| %>
              <% products.each do |product| %>
                <% if product.serialize != "ghas" %>
                  <%= f.hidden_field :new_product, multiple: true, value: product.serialize %>
                <% end %>
              <% end %>
              <cohort-widget>
                <div data-target="cohort-widget.totalCustomersOutput"></div>
                <div data-target="cohort-widget.onboardedCustomersOutput"></div>
                <div data-target="cohort-widget.remainingCustomersOutput"></div>
              <%= render(Billing::Stafftools::BillingPlatformOnboardingCohortsForm.new(f, cohorts: cohorts, products: products)) %>
              </cohort-widget>
            <% end %>
          <% end %>
          <% tab.with_text { "Onboard cohorts" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

