<%
  inline ||= nil
  should_do_live_updates = issue.pull_request && current_repository.feature_enabled?(:labels_event_updates)
%>

<div
  class="<%= class_names("discussion-sidebar-item js-discussion-sidebar-item", "js-socket-channel js-updatable-content": should_do_live_updates) %>"
  <% if should_do_live_updates %>
    data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.pull_request(issue.pull_request)) %>"
    data-gid="<%= issue.pull_request.global_relay_id %>"
    data-url="<%= show_partial_issue_path(:id => issue, :partial => "issues/sidebar/show/labels") %>"
    data-channel-event-name="labels_updated"
  <% end %>
>
  <%= render partial: "issues/sidebar/labels_menu", locals: { issue: issue, inline: inline } %>

  <% unless inline %>
    <%= render partial: "issues/sidebar/labels", locals: { issue: issue } %>
  <% end %>
</div>
