<% should_do_live_updates = issue.pull_request && current_repository.feature_enabled?(:milestone_event_updates) %>

<div class="<%= class_names("discussion-sidebar-item sidebar-progress-bar js-discussion-sidebar-item", "js-socket-channel js-updatable-content": should_do_live_updates) %>"
  <% if should_do_live_updates %>
    data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.pull_request(issue.pull_request)) %>"
    data-gid="<%= issue.pull_request.global_relay_id %>"
    data-url="<%= show_partial_issue_path(:id => issue, :partial => "issues/sidebar/show/milestone") %>"
    data-channel-event-name="milestone_updated"
  <% end %>
>
  <%= form_tag set_milestone_issue_path(current_repository.owner, current_repository, issue.number, :partial => "issues/sidebar/show/milestone"),
        method: :put, :class => "js-issue-sidebar-form", "aria-label": "Select milestones" do %>
    <%= render :partial => "issues/sidebar/milestone_menu", :locals => { :issue => issue } %>
    <%= render :partial => "issues/sidebar/milestone", :locals => { :issue => issue } %>
  <% end %>
</div>
