<%
  source = issue.pull_request? ? issue.pull_request : issue
%>

<div class="js-discussion-sidebar-item" data-target="create-branch.sidebarContainer">
  <div data-issue-and-pr-hovercards-enabled <%= test_selector("closing-cross-references") %>>
    <development-menu>
      <%= form_tag closing_issue_reference_path(source_id: source.id, source_type: source.class.name.underscore.upcase),
            method: :put,
            data: { target: "create-branch.developmentForm" },
            :class => "js-issue-sidebar-form",
              "aria-label": "Link issues" do %>
        <%= render :partial => "issues/sidebar/references_menu", locals: { issue: issue } %>

        <% if issue.pull_request? %>
          <%= render partial: "pull_requests/closing_issue_references", locals: { pull_request: source, source_url: source.url } %>
        <% else %>
          <%= render partial: "issues/sidebar/show/pull_request_references", locals: { issue: source, source_url: source.url } %>
        <% end %>
      <% end %>
    </development-menu>
  </div>
</div>
