<% if summary = issue.issue_summaries.where(user: current_user).first %>
  <div
    class="js-socket-channel js-updatable-content"
    data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.issue_summary(summary)) %>"
    data-url="<%= issue_summary_path %>">
      <div class="d-flex flex-justify-between flex-items-center mb-2 text-small color-fg-muted text-bold">
        <% case summary.state %>
        <% when IssueSummary::Pending, IssueSummary::Scheduled, IssueSummary::InProgress %>
            <div class="d-flex flex-items-center">
              <div class="mr-2"><%= render(Primer::Beta::Spinner.new(size: :small)) %></div>
              Generating summary&hellip;
            </div>
        <% when IssueSummary::Complete, IssueSummary::Failed %>
          <div class="d-flex flex-items-center">
            <div class="mr-2"><%= primer_octicon(:copilot, size: :small, color: :subtle) %></div>
            Summary
          </div>
          <%= render(Primer::Beta::Label.new(scheme: :secondary)) { "Only visible to you" } %>
        <% end %>
      </div>

      <div class="mt-0 color-bg-subtle mb-2 border rounded-2 text-small">
        <div class="p-3">
          <% if summary.state == IssueSummary::Complete %>
            <%= simple_format(summary.content) %>
          <% elsif summary.state == IssueSummary::Failed %>
            <span class="text-italic color-fg-subtle">
              We couldn't generate a summary for this issue. Please try again in a few minutes.
            </span>
          <% else %>
            <div class="d-flex flex-justify-center">
              <%= render(Primer::Beta::Spinner.new(size: :small)) %>
            </div>
          <% end %>
        </div>
      </div>

  </div>
<% end %>
