<ul class="d-flex flex-wrap flex-justify-center f5 list-style-none">
  <li class="m-3">
    <%= primer_octicon(:"mark-github", mr: 1) %>

    <span class="color-fg-muted">
        Founded in February, 2008
    </span>
  </li>

  <li class="m-3">
    <%= primer_octicon(:globe, mr: 1) %>

    <a class="" href="https://goo.gl/maps/yNE28">
      HQ in San Francisco
    </a>
  </li>

  <li class="m-3">
    <%= primer_octicon(:broadcast, mr: 1) %>

    <a class="" href="<%= GitHub.blog_url %>/category/product/">
      Product updates
    </a>
  </li>

  <li class="m-3">
    <%= primer_octicon(:book, mr: 1) %>

    <a class="" href="<%= GitHub.help_url %>/articles/github-glossary">
      GitHub glossary
    </a>
  </li>

  <li class="m-3">
    <%= primer_octicon(:download, mr: 1) %>

    <a class="" href="/logos">
      Media resources
    </a>
  </li>

  <li class="m-3">
    <%= render(Primer::Beta::Octicon.new(icon: "mail", mr: 1)) %>

    <a class="" href="mailto:press@github.com">
       press@github.com
     </a>
  </li>
</ul>
