<%
  page_info \
  title: page.title, \
  description: page.seo.description,
  richweb: {
    title: page.seo.title,
    url: request.original_url,
    description: page.seo.description,
    image: page.seo.image.url,
  }
%>

<div class="container-xl p-responsive">
  <%= render(Primer::Beta::Breadcrumbs.new(mt: 4)) do |component| %>
    <% component.with_item(href: "/about") do %>About<% end %>
    <% component.with_item(href: request.path) do %>Press<% end %>
  <% end %>
</div>

<div class="container-lg p-responsive pb-7">
  <%= render Site::HeroComponent.new(header: page.content.heading) %>

  <div class="col-md-8 mx-auto mb-4">
    <%= render "site/about/press/side_menu" %>
  </div>

  <div class="d-flex flex-wrap p-4 gutter gutter-lg-spacious mb-6">
    <% articles.each do |article| %>
      <%= render Site::Contentful::About::Press::PressArticleTileComponent.new(article) %>
    <% end %>
  </div>

  <% if render_pagination %>
    <div class="paginate-container">
      <div class="pagination">
        <%= will_paginate articles %>
      </div>
    </div>
  <% end %>
</div>
