<% page_info breadcrumb: "Settings", breadcrumb_owner: current_organization %>
<%= render "orgs/free_org_restricted_banner", organization: current_organization %>

<%# rubocop:disable GitHub/ContentFor %>
<% content_for :site_banner do %>
  <%= render Billing::SalesTaxBannerComponent.new(account: current_organization, current_user: current_user) %>
<% end %>

<%# rubocop:disable GitHub/ContentFor %>
<% content_for :site_banner do %>
  <%= render Organizations::NewTermsOfServiceRequiredComponent.new(organization: current_organization) %>
<% end %>

<%= render ::Onboarding::Organizations::AdvancedSecurity::TrialSurveyBannerComponent.new(
  organization: current_organization,
  user: current_user,
  test_selector: "advanced-security-self-serve-trial-survey-banner",
  show_banner: local_assigns[:show_advanced_security_self_serve_trial_survey_banner]
) %>
<%= render(Organizations::ArchivedNoticeComponent.new(organization: current_organization)) %>
<%= render Organizations::UpgradeInitiatedNoticeComponent.new(organization: current_organization, viewer: current_user)%>
<%= render(Site::EnterpriseBannersComponent.new) %>
<% if current_user && current_organization %>
  <include-fragment src="<%= organization_onboarding_trial_banner_path(current_organization) %>"></include-fragment>
<% end %>

<div itemscope itemtype="http://schema.org/Organization">
  <div class="container-xl p-responsive mt-4">
    <% hide_context_switcher = local_assigns[:hide_context_switcher] || false %>
    <%= render partial: "settings/header", locals: {
      current_context: current_organization_for_member_or_manager,
      hide_context_switcher: hide_context_switcher
    } %>
  </div>
  <div class="container-xl p-responsive">
    <% if local_assigns[:hide_sidebar] %>
      <%= yield %>
    <% else %>
      <%= render Primer::Alpha::Layout.new do |c| %>
        <% c.with_sidebar do %>
          <% if org_admin? %>
            <%= render partial: "orgs/settings/tabs" %>
          <% else %>
            <%= render partial: "orgs/settings/manager_roles_tabs" %>
          <% end %>
        <% end %>
        <% c.with_main(width: :xl) do %>
          <%= yield %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
