<%# erblint:counter DeprecatedComponentsCounter 4 %>
<% member_org_count = business.organizations.count %>
<% if member_org_count > 0 && business.ip_allowlist_enabled? %>
  <%= render(Primer::Beta::Flash.new(
    scheme: :warning, test_selector: "orgs-inheriting-ip-allow-list-warning")) do %>
    <%= primer_octicon(:alert) %>
    This IP allow list is inherited by
    <strong><%= number_with_delimiter member_org_count %>
    <%= pluralize_without_number member_org_count, "organization" %></strong>.
    Before making changes to your IP allow list, please consider the
    possible impact on any member organizations.
  <% end %>
<% end %>

<div class="mt-4">
  <%= form_tag enterprise_ip_allowlist_enabled_path(business), method: :patch do |f| %>
    <div class="form-checkbox" <%= test_selector "ip_allowlist_option" %>>
      <input id="enable_ip_allowlist_checkbox" type="checkbox" name="enable_ip_allowlist"
        <%= "checked" if business.ip_allowlist_enabled? %>>
      <label for="enable_ip_allowlist_checkbox">Enable IP allow list</label>
      <p class="note color-fg-muted">
        Enabling will allow you to restrict access by IP address to resources owned by this enterprise.
      </p>
    </div>
    <%= render Primer::ButtonComponent.new(type: :submit) do %>Save<% end %>
  <% end %>
  <br>

  <% if business.eligible_for_ip_allowlist_user_level_enforcement? %>
    <%= form_tag enterprise_ip_allowlist_user_level_enforcement_enabled_path(business), method: :patch do |f| %>
      <div class="form-checkbox" <%= test_selector "ip_allowlist_user_level_enforcement_option" %>>
        <input id="enable_ip_allowlist_user_level_enforcement_checkbox" type="checkbox" name="enable_ip_allowlist_user_level_enforcement"
          <%= "checked" if business.ip_allowlist_user_level_enforcement_enabled? %>>
        <label for="enable_ip_allowlist_user_level_enforcement_checkbox">
          Enable IP allow list user-level enforcement
          <%= render(Primer::Beta::Label.new(scheme: :success, ml: 1)) { "Beta" } %>
        </label>
        <p class="note color-fg-muted">
          Enabling will also restrict access by IP address to user-owned resources for users within this enterprise.
        </p>
      </div>
      <%= render Primer::ButtonComponent.new(type: :submit) do %>Save<% end %>
    <% end %>
    <br>
  <% end %>

  <%= form_tag enterprise_ip_allowlist_app_access_enabled_path(business), method: :patch do |f| %>
    <div class="form-checkbox" <%= test_selector "ip_allowlist_app_access_option" %>>
      <input id="enable_ip_allowlist_app_access_checkbox" type="checkbox" name="enable_ip_allowlist_app_access"
        <%= "checked" if business.ip_allowlist_app_access_enabled? %>>
      <label for="enable_ip_allowlist_app_access_checkbox">Enable IP allow list configuration for installed GitHub Apps</label>
      <p class="note color-fg-muted">
        Enabling will automatically set up IP allow list entries for GitHub Apps installed on organizations in this enterprise.
      </p>
    </div>
    <%= render Primer::ButtonComponent.new(type: :submit) do %>Save<% end %>
  <% end %>
  <br>

  <div class="form-group">
    <%= form_tag settings_security_enterprise_path(business), :method => "get",
      "data-autosearch-results-container" => "ip-allowlist-entries-list" do %>
      <div class="auto-search-group">
        <input class="form-control width-full input-contrast auto-search-input js-member-filter-field"
          type="text"
          name="query"
          value="<%= params[:query] %>"
          placeholder="Find IP allow list entries…"
          aria-label="Find IP allow list entries…"
          autocomplete="off"
          data-throttled-autosubmit>
        <%= render Primer::Beta::Octicon.new(icon: "search") %>
        <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
      </div>
    <% end %>
  </div>

  <div id="ip-allowlist-entries-list" class="Box mb-6">
    <%= render "ip_allowlist_entries/list",
      owner: business,
      new_entry_path: enterprise_ip_allowlist_entries_path(business),
      ip_allowlist_entries: ip_allowlist_entries.paginate(page: current_page),
      installed_app_ip_allowlist_entries: installed_app_ip_allowlist_entries.paginate(page: current_page) %>
  </div>

  <%= render IpAllowlistChecks::FormComponent.new(
    owner_type: :enterprise,
    owner_id: business.id) %>
</div>
