<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= form_tag enterprise_skip_idp_ip_allowlist_app_access_enabled_path(this_business), method: :patch do |f| %>
  <div class="form-checkbox" <%= test_selector "skip_idp_ip_allowlist_app_access_option" %>>
    <input id="enable_skip_idp_ip_allowlist_app_access_checkbox" type="checkbox" name="enable_skip_idp_ip_allowlist_app_access"
      <%= "checked" if this_business.skip_idp_ip_allowlist_app_access_enabled? %>>
    <label for="enable_skip_idp_ip_allowlist_app_access_checkbox"> Skip IdP check for applications</label>
    <p class="note color-fg-muted">
      Enabling will allow installed GitHub and OAuth applications to access your enterprise from any IP address. If this is not enabled, then your identity provider must allow the IP ranges for all applications used in your enterprise.</p>
  </div>
  <%= render Primer::ButtonComponent.new(type: :submit, ml: 3) do %>Save<% end %>
<% end %>
<br>

<% if this_business.eligible_for_idp_ip_allowlist_for_web_configurable? %>
  <%= form_tag enterprise_idp_ip_allowlist_for_web_path(this_business), method: :patch do |f| %>
    <div class="form-checkbox" <%= test_selector "idp_ip_allowlist_for_web_option" %>>
      <input id="idp_ip_allowlist_for_web_checkbox" type="checkbox" name="idp_ip_allowlist_for_web"
        <%= "checked" if this_business.idp_ip_allowlist_for_web_configurable_enabled? %>>
      <label for="idp_ip_allowlist_for_web_checkbox">
        Extend Identity Provider based IP allow list restrictions to web session activity
        <%= render(Primer::Beta::Label.new(scheme: :success, ml: 1)) { "Beta" } %>
      </label>
      <p class="note color-fg-muted">
        Enabling will allow your IdP's conditional access policy IP conditions to validate web interactions with your enterprise.</p>
    </div>
    <%= render Primer::ButtonComponent.new(type: :submit, ml: 3) do %>Save<% end %>
  <% end %>
  <br>
<% end %>
