<div class="pt-2">
  <%= render(Primer::Alpha::ActionMenu.new) do |menu| %>
    <% menu.with_show_button do |button| %>
      <% button.with_trailing_action_icon(icon: :"triangle-down") %>
      IP allow list configuration: <%= view.default_ip_allowlist_configuration_button_text %>
    <% end %>
    <% view.default_ip_allowlist_configuration_select_list.each do |item| %>
      <% if item[:selected] %>
        <% menu.with_item(
          label: item[:heading],
          disabled: true,
        ) do |i| %>
          <% i.with_leading_visual_icon(icon: :check) %>
          <% i.with_description.with_content(item[:description]) %>
        <% end %>
      <% else %>
        <% menu.with_item(
          label: item[:heading],
          tag: :button,
          content_arguments: { "data-show-dialog-id": "#{item[:value]}-confirmation-dialogue" },
          value: "",
        ) do |i| %>
          <% i.with_description.with_content(item[:description]) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>


<% view.default_ip_allowlist_configuration_select_list.each do |item| %>
<% if !item[:selected] %>
    <%= render Primer::Alpha::Dialog.new(
      title: "Change IP allow list configuration",
      size: :medium_portrait,
      id: "#{item[:value]}-confirmation-dialogue",
      test_selector: "#{item[:value]}-confirmation-dialogue",
    ) do |d| %>
      <% d.with_body(mt: 3) do %>
        <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
          <%= %Q[You are changing IP allow list configuration in this enterprise from "#{view.current_ip_allowlist_configuration[:heading]}" to "#{item[:heading]}".]%>
        <% end %>
        <div class="Box-body">
          <% if view.show_disable_business_github_native_ip_allowlist_warning?(item[:value])%>
            <p <%= test_selector "github-ip-allowlist-warning-enterprise-text" %>>
              This will disable the GitHub-native IP allow list you have enabled for your enterprise.
            </p>
          <% end %>
          <% if view.show_disable_business_and_orgs_github_native_ip_allowlist_warning?(item[:value])%>
            <p <%= test_selector "github-ip-allowlist-warning-enterprise-and-orgs-text" %>>
              This will disable the GitHub-native IP allow lists you have enabled for your enterprise and organizations.
            </p>
          <% end %>
          <% if item[:value] == Businesses::IpAllowlistConfigurationController::IDP_VALUE && !view.orgs_ip_allowlist_enabled.empty?%>
            <p <%= test_selector "github-ip-allowlist-warning-orgs-text" %>>
              <%= view.idp_organizations_github_allowlist_text %>
            </p>
          <% end %>
        </div>
        <% if item[:value] == Businesses::IpAllowlistConfigurationController::IDP_VALUE && !view.orgs_ip_allowlist_enabled.empty?%>
          <div class="Box-body overflow-auto" <%= test_selector "github-ip-allowlist-warning-orgs-list" %>>
            <ul class="list-style-none overflow-auto flex-auto">
              <% view.orgs_ip_allowlist_enabled.each do |org| %>
                <li class="Box-row">
                  <%= render GitHub::AvatarComponent.new(actor: org, size: 32) %>
                  <span class="ml-1"><%= org.name %></span>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
      <% d.with_footer do %>
        <%= form_tag enterprise_ip_allowlist_configuration_path(this_business), method: :patch do |f| %>
          <input name="ip_allowlist_configuration" type="hidden" value="<%= item[:value] %>">
          <%= render(Primer::Beta::Button.new(
            type: :submit,
            scheme: :danger,
          )) do %>
            <% %Q[Change configuration to "#{item[:heading]}"] %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="mt-4">
  <% if business.idp_based_ip_allowlist_configuration? %>
    <%= render partial: "businesses/settings/idp_ip_allowlist_configuration", locals: { business: this_business } %>
  <% elsif business.github_based_ip_allowlist_configuration? %>
    <%= render partial: "businesses/settings/github_ip_allowlist_configuration", locals: { business: this_business } %>
  <% end %>
</div>
