<div id="orgs-pjax">
  <ul>
    <% logins.each do |distinct_login| %>
      <li class="d-flex flex-items-center flex-justify-between border border-top-0 p-3">
        <div class="d-flex">
          <div class="mr-3">
            <%= link_to user_path(distinct_login) do %>
              <%= avatar_for(distinct_login, 32, class: "avatar") %>
            <% end %>
          </div>
          <div>
            <%= link_to user_path(distinct_login), class: "f4 d-block" do %>
              <%= distinct_login[:login] %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="paginate-container" data-pjax data-html-cleaner-suppress-children>
    <%= will_paginate logins, :params => {
        :package_type => package_type,
        :page => :p
        }, class: "d-flex d-md-inline-block pagination"
    %>
  </div>
</div>
