<%# `view` is an instance of Businesses::Settings::SupportSuggestionsView %>

<% if view.suggestions? %>
  <% view.suggested_entitlees.each do |user, suggested_entitlee| %>
    <li class="member-suggestion typeahead-result <%= "disabled" unless suggested_entitlee.item_enabled? %>"
        <% if !suggested_entitlee.item_enabled? %>aria-disabled="true"<% end %>
        role="option"
        data-autocomplete-value="<%= user.display_login %>">

      <%= avatar_for user, 24, class: "avatar" %>
      <p class="member-suggestion-info">
        <strong class="member-login"><%= user.display_login %></strong>
        <span class="member-name">
          <%= user.profile_name %>
        </span>
      </p>

      <% unless suggested_entitlee.entitleable? %>
        <p class="non-member-note text-small color-fg-muted"><%= suggested_entitlee.uninvitable_reason_text %></p>
        <p class="non-member-action text-small color-fg-muted"><%= suggested_entitlee.uninvitable_reason_text %></p>
      <% end %>

      <% if suggested_entitlee.entitleable? %>
        <%= primer_octicon(:plus, float: :right) %>
      <% elsif suggested_entitlee.entitled? %>
        <%= primer_octicon(:check, float: :right) %>
      <% end %>
    </li>
  <% end %>
<% end %>
