<%
  users_with_two_factor_disabled = business.affiliated_users_with_two_factor_disabled
  users_with_two_factor_disabled_to_display = users_with_two_factor_disabled.first(100)
  members_without_2fa_allowed = business.members_without_2fa_allowed?
%>

<%= render layout: "shared/details_dialog", locals: {
      button_text: "Save",
      button_class: "btn js-business-two-factor-submit-button float-left mr-4",
      details_class: "d-inline-block",
      title: "Confirm two-factor requirement policy"
    } do %>
  <div class="Box-body scrollable-overlay">
    <p>
      <% if members_without_2fa_allowed %>
        Requiring two-factor authentication will not remove any

        <% if GitHub.single_business_environment? %>
          users from organizations and repositories in
        <% else %>
          enterprise administrators, organization members, and <%= outside_collaborators_verbiage(business) %> from
        <% end %>
          the enterprise, however they will need to enable 2FA to access resources owned by the enterprise or any of its organizations.
      <% else %>
        Requiring two-factor authentication will remove any
        <% if GitHub.single_business_environment? %>
          users from organizations and repositories in
        <% else %>
          enterprise administrators, organization members, and <%= outside_collaborators_verbiage(business) %> from
        <% end %>
          the enterprise who have not enabled it on their
          <%= "personal" unless GitHub.single_business_environment? %> accounts.
      <% end %>
    </p>
    <p class="<%= members_without_2fa_allowed ? "color-fg-attention" : "color-fg-danger" %>">
      <%= pluralize users_with_two_factor_disabled.count, "user" %>
      <% if members_without_2fa_allowed %>
        will need to enable 2FA
      <% else %>
        be removed from <%= "organizations and repositories in" if GitHub.single_business_environment? %> the enterprise
      <% end %>
    </p>

    <ul class="table-list table-list-bordered">
      <% users_with_two_factor_disabled_to_display.each do |user| %>
        <li class="table-list-item member-list-item">
          <div class="table-list-cell py-3 pl-3 v-align-middle member-avatar-cell css-truncate pr-0">
            <span class="float-left">
              <%= link_to user_path(user).to_s do %>
                <%= avatar_for(user, 48, class: "avatar") %>
              <% end %>
            </span>
          </div>

          <div class="table-list-cell py-3 v-align-middle css-truncate pl-3">
            <% if user.profile_name.present? %>
              <%= link_to user_path(user), class: "f4 d-block css-truncate-target" do %>
                <%= user.profile_name %>
              <% end %>
              <span class="d-block css-truncate-target f5 color-fg-default" itemprop="name"><%= user.display_login %></span>
            <% else %>
              <%= link_to user_path(user), class: "f4 d-block css-truncate-target" do %>
                <%= user.display_login %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="Box-footer">
    <label>
      Enter the enterprise name to confirm
      <input name="verify" type="text" class="form-control input-block mt-1" pattern="<%= case_insensitive_pattern business.name %>" required autofocus>
    </label>
    <input type="hidden" name="two_factor_required" value="enabled">
    <%= render Primer::Beta::Button.new(
      type: :submit,
      block: true,
      scheme: (members_without_2fa_allowed ? :primary : :danger),
      mt: 2,
      "data-disable-invalid": "",
      "data-disable-with": ""
    ) do %>
      <% if members_without_2fa_allowed %>
        Require two-factor authentication
      <% else %>
        Remove <%= pluralize_without_number users_with_two_factor_disabled.count, "user" %> and require two-factor authentication
      <% end %>
    <% end %>
  </div>
<% end %>
