<% view ||= Businesses::Settings::SecurityView.new(business: business, current_user: current_user) %>

<label class="<%= "color-fg-muted" if view.two_factor_requirement_form_disabled? %>">
  <% if business.updating_two_factor_requirement? %>
    <poll-include-fragment src="<%= enterprise_two_factor_requirement_path(business) %>" data-reload>
      <%= image_tag "spinners/octocat-spinner-32.gif", :alt => "", :width => 16, :height => 16, :class => "loading-spinner" %>
      Require two-factor authentication for the <%= business.name %> enterprise and all of its organizations.
    </poll-include-fragment>
  <% else %>
    <%# hidden input to provide value when checkbox is not checked %>
    <input type="hidden"
           name="two_factor_required"
           value="no_policy">
    <input type="checkbox"
           name="two_factor_required"
           class="js-business-enable-two-factor"
           value="enabled"
           <%= 'checked' if view.two_factor_requirement_enabled? %>
           <%= 'disabled' if view.two_factor_requirement_form_disabled? %>>
    <input type="hidden"
           class="js-business-two-factor-currently-enabled"
           value="<%= view.two_factor_requirement_enabled? ? "1" : "0" %>">
    Require two-factor authentication for the <%= business.name %> enterprise and all of its organizations.
  <% end %>
</label>
