<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Actions settings · #{view.business.name}",
             selected_link: :business_actions_settings,
             stafftools: stafftools_enterprise_path(view.business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: view.business,
    title: "Actions",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <%= render "businesses/settings/actions/tabs", business: view.business, should_display_custom_images_tab: should_display_custom_images_tab %>

  <h3 class="text-normal pb-2">Policies</h3>

  <p class="col-10 mb-2">
    Actions can be enabled for all organizations or only for specific organizations. If disabled, GitHub Actions cannot run.
  </p>

  <div class="pt-2 pb-1">
    <%= form_tag settings_actions_update_access_policy_enterprise_path, method: :put do %>
      <%= render GitHub::MenuComponent.new(items: view.action_policy_list) do |menu| %>
        <% menu.with_summary do %>
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <span data-menu-button><%= menu.default_selection_text %></span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if view.show_org_list? %>
      <%= render "businesses/settings/actions/orgs", view: view %>
    <% end %>
  </div>
  <div class="col-10">
    <% if GitHub.flipper[:actions_permissions_ui_update].enabled?(current_user) %>
      <%= render_react_partial name: "actions-policies", ssr: true, props: {
          entity: view.business.to_react_props,
          type: "Enterprise"
        }%>
    <% else %>
      <actions-policy-form>
        <%= primer_form_with(url: settings_actions_update_allowed_actions_enterprise_path, method: :put) do |f| %>
          <%= render(Actions::Policy::AllowedActionsForm.new(f, owner: view.business, current_user: current_user)) %>
        <% end %>
      </actions-policy-form>
    <% end %>
  </div>

  <div class="col-10 my-6">
    <%= render Businesses::Actions::Policies::RepoSelfHostedRunnerComponent.new(
      entity: view.business,
      action: settings_actions_update_repo_self_hosted_runners_enterprise_path,
    ) %>
  </div>

  <% unless view.business.actions_disabled? %>
    <%= render Actions::Settings::RetentionComponent.new(
      entity: view.business,
      update_retention_limit_path: settings_actions_update_retention_enterprise_path,
    ) %>

    <%= render Actions::Policy::ForkPrApprovalsComponent.new(
      entity: view.business,
      action: settings_actions_fork_pr_approvals_policy_enterprise_path
    ) %>

    <% if GitHub.flipper[:dotcom_public_fork_pr_workflows_policy].enabled?(view.business) %>
      <%= render Actions::Policy::PublicForkPullRequestComponent.new(
        action: settings_actions_public_fork_pr_workflows_policy_enterprise_path,
        entity: view.business,
      ) %>
    <% end %>

    <%= render Actions::Policy::ForkPullRequestComponent.new(
      action: settings_actions_fork_pr_workflows_policy_enterprise_path,
      entity: view.business,
    ) %>

    <%= render Actions::Policy::DefaultWorkflowPermissionsComponent.new(
      action: settings_actions_update_default_workflow_permissions_enterprise_path,
      entity: view.business,
    ) %>
  <% end %>
<% end %>
