<%# erblint:counter DeprecatedComponentsCounter 18 %>
<% view = Businesses::Settings::AdminCenterOptionsView.new %>

<% page_info title: "Options",
             selected_link: :business_admin_center_options,
             stafftools: stafftools_enterprise_path(this_business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Options",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div class="settings-next admin-options-block">
    <strong>Users can create organizations</strong>
    <p class="note">
      Allows non-owners to create organizations.
    </p>
    <%= form_tag settings_change_org_creation_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span data-menu-button><%= GitHub.org_creation_enabled? ? "Enabled" : "Disabled"  %></span>
        <% end %>

        <details-menu class="select-menu-modal position-absolute" style="z-index:99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Users can create organizations</span>
          </div>

          <div class="select-menu-list">
            <% view.org_creation_choices.each do |label, value| %>
              <% selected = GitHub.org_creation_enabled?.to_s == value %>
              <button type="submit" class="select-menu-item width-full" aria-checked="<%= selected %>" name="value" value="<%= value %>" role="menuitemradio">
                <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>

    <hr>

    <strong>Default organization membership visibility</strong>
    <p class="note">
      Configure the <%= link_to "default membership visibility", "https://docs.github.com/enterprise-server/github/setting-up-and-managing-your-github-user-account/publicizing-or-hiding-organization-membership", class: "Link--inTextBlock" %>
      for new organization members. If the setting is enforced, members won't be able to change
      their membership visibility from the default, only organization owners will be able to.
    </p>
    <%= form_tag settings_change_org_membership_visibility_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay d-inline">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span data-menu-button><%= GitHub.default_org_membership_visibility_public? ? "Public" : "Private" %></span>
        <% end %>

        <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Default organization membership visibility</span>
          </div>

          <div class="select-menu-list">
            <% view.org_membership_visibility_choices.each do |label, value| %>
              <% selected = GitHub.default_org_membership_visibility == value %>
              <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
      <div class="policy-enforcement">
        <%= check_box_tag :org_membership_visibility_enforcement, "policy", GitHub.default_org_membership_visibility_enforced?, class: "js-admin-settings-policy-input" %>
        <%= label_tag :org_membership_visibility_enforcement, "Enforce for all enterprise members" %>
      </div>
    <% end %>

    <hr>

    <div class="mt-3">
      <strong>Default repository visibility</strong>
      <p class="note">
        Configure the default visibility setting when users create a repository from the web interface.
      </p>
      <%= form_tag settings_change_repo_visibility_enterprise_path(slug) do %>
        <details class="admin-option-button select-menu details-reset details-overlay">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <span data-menu-button><%= view.repo_default_text  %></span>
          <% end %>

          <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header">
              <span class="select-menu-title">Default repository visibility</span>
            </div>

            <div class="select-menu-list">
              <% view.repo_default_choices.each do |label, value| %>
                <% selected = GitHub.default_repo_visibility == value %>
                <button type="submit" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio" name="value" value="<%= value %>">
                  <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                </button>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>
    </div>

    <hr>

    <% if GitHub.single_business_environment? %>
      <div class="mt-3">
        <strong>Allow members to see comment author's profile name in public and internal repositories</strong>
        <p class="note">
          If enabled, members will be able to see comment author's profile name in issues and pull requests for public and internal
          repositories.
        </p>
        <%= form_tag settings_change_allow_comment_author_profile_name_enterprise_path(slug) do %>
          <details class="admin-option-button select-menu details-reset details-overlay d-inline">
            <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
              <span data-menu-button><%= this_business.display_commenter_full_name_setting_enabled? ? "Enabled" : "Disabled"  %></span>
            <% end %>

            <details-menu class="select-menu-modal position-absolute" style="z-index:99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="select-menu-header">
                <span class="select-menu-title">Allow members to see comment author's profile name</span>
              </div>

              <div class="select-menu-list">
                <% view.allow_comment_authors_profile_name_choices.each do |label, value| %>
                  <% selected = this_business.display_commenter_full_name_setting_enabled?.to_s == value %>
                  <button type="submit" class="select-menu-item width-full" aria-checked="<%= selected %>" name="value" value="<%= value %>" role="menuitemradio">
                    <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                    <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                  </button>
                <% end %>
              </div>
            </details-menu>
          </details>
          <div class="policy-enforcement">
            <%= check_box_tag :allow_comment_authors_profile_name_policy, "policy", this_business.display_commenter_full_name_enforced?, class: "js-admin-settings-policy-input" %>
            <%= label_tag :allow_comment_authors_profile_name_policy, "Enforce for all repositories on the instance" %>
          </div>
        <% end %>
      </div>
      <hr>
    <% end %>

    <% if GitHub.anonymous_git_access_available? %>
      <strong>Anonymous Git read access</strong>
      <p class="note">
        Allows anonymous Git read access to be enabled for repositories.
      </p>
      <%= form_tag settings_change_anonymous_git_access_enterprise_path(slug), class: "d-inline-block" do %>
        <details class="admin-option-button select-menu details-reset details-overlay">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <span data-menu-button><%= GitHub.anonymous_git_access_enabled? ? "Enabled" : "Disabled" %></span>
          <% end %>

          <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header">
              <span class="select-menu-title">Anonymous Git read access</span>
            </div>

            <div class="select-menu-list">
              <% view.anonymous_access_choices.each do |label, value| %>
                <% selected = GitHub.anonymous_git_access_enabled?.to_s == value %>
                <button type="submit" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio" name="value" value="<%= value %>">
                  <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                </button>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>

      <% if GitHub.anonymous_git_access_enabled? %>
        <%= form_tag settings_change_anonymous_git_access_locked_enterprise_path(slug), class: "d-inline-block" do %>
          <div class="policy-enforcement">
            <%= check_box_tag :lock_setting, "true", GitHub.anonymous_git_access_locked?, class: "js-admin-settings-policy-input" %>
            <%= label_tag :lock_setting, 'Prevent repository admins from changing anonymous Git read access' %>
          </div>
        <% end %>
      <% end %>
      <hr>
    <% end %>

    <strong>Force pushes</strong>
    <p class="note">
      Allow or block force pushes made to repositories. If enforced, the setting cannot be changed for individual repositories.
    </p>
    <%= form_tag settings_change_allow_force_push_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay d-inline">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span data-menu-button><%= view.force_detail_text %></span>
        <% end %>

        <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Force pushes</span>
          </div>

          <div class="select-menu-list">
            <% view.force_rejection_choices.each do |label, value| %>
              <% selected = GitHub.force_push_rejection_original_value == value %>
              <button type="submit" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio" name="value" value="<%= value %>">
                <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
      <div class="policy-enforcement">
        <%= check_box_tag :force_push_policy, "policy", GitHub.force_push_rejection_policy?, class: 'js-admin-settings-policy-input' %>
        <%= label_tag :force_push_policy, 'Enforce for all repositories on the instance' %>
      </div>
    <% end %>

    <hr>

    <strong <%= test_selector "repository_upload_limit_heading" %>>Repository upload limit</strong>
    <p class="note">
      The maximum size of Git objects that can be pushed to repositories.
      Allowing large objects to be pushed into Git can degrade performance, consider other options (e.g. git-lfs) before increasing this value.
      If enforced, the setting cannot be changed for individual repositories.
    </p>
    <%= form_tag settings_change_max_object_size_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay d-inline">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span data-menu-button><%= view.max_object_size_detail_text %></span>
        <% end %>

        <details-menu class="select-menu-modal position-absolute" style="z-index:99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Repository upload limit</span>
          </div>

          <div class="select-menu-list">
            <% view.max_object_size_choices.each do |label, value| %>
              <% selected = GitHub.max_object_size == value %>
              <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>

      <div class="policy-enforcement">
        <%= check_box_tag :max_object_policy, "policy", GitHub.max_object_size_policy?, class: 'js-admin-settings-policy-input' %>
        <%= label_tag :max_object_policy, 'Enforce for all repositories on the instance' %>
      </div>
    <% end %>

    <hr>

    <strong>Git SSH access</strong>
    <p class="note">
      Enable or disable Git SSH access for repositories. If enforced, the setting cannot be changed for individual repositories.
    </p>

    <%= form_tag settings_change_ssh_access_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay d-inline">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span data-menu-button><%= GitHub.ssh_enabled? ? "Enabled" : "Disabled"  %></span>
        <% end %>

        <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Git SSH access</span>
          </div>

          <div class="select-menu-list">
            <% view.ssh_choices.each do |label, value| %>
              <% selected = GitHub.ssh_enabled_original_value == value %>
              <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
      <div class="policy-enforcement">
        <%= check_box_tag :ssh_policy, "policy", GitHub.ssh_policy?, class: 'js-admin-settings-policy-input' %>
        <%= label_tag :ssh_policy, 'Enforce for all repositories on the instance' %>
      </div>
    <% end %>

    <hr>

    <strong>Suggested protocol</strong>
    <p class="note">
      The first protocol shown to users for Git operations.
    </p>
    <%= form_tag settings_change_suggested_protocol_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span data-menu-button><%= view.suggested_protocol_text %></span>
        <% end %>

        <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Suggested protocol</span>
          </div>

          <div class="select-menu-list">
            <% view.suggested_protocol_choices.each do |label, value| %>
              <% selected = GitHub.suggested_protocol == value %>
              <button type="submit" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio" value="<%= value %>" name="value">
                <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>

    <hr>

    <strong <%= test_selector "git_lfs_access_heading" %>>Git LFS access</strong>
    <p class="note">
      Enable or disable Git LFS.
    </p>
    <%= form_tag settings_change_git_lfs_access_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span data-menu-button><%= GitHub.git_lfs_config_enabled? ? "Enabled" : "Disabled"  %></span>
        <% end %>

        <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Git LFS access</span>
          </div>

          <div class="select-menu-list">
            <% view.git_lfs_choices.each do |label, value| %>
              <% selected = GitHub.git_lfs_config_enabled?.to_s == value %>
              <button type="submit" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio" name="value" value="<%= value %>">
                <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>

    <hr>

    <strong>Showcases</strong>
    <p class="note">
      Enable or disable Showcases on the Explore page.
    </p>
    <%= form_tag settings_change_showcase_access_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span data-menu-button><%= GitHub.showcase_enabled? ? "Enabled" : "Disabled"  %></span>
        <% end %>

        <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Showcases</span>
          </div>

          <div class="select-menu-list">
            <% view.showcase_choices.each do |label, value| %>
              <% selected = GitHub.showcase_enabled?.to_s == value %>
              <button type="submit" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio" name="value" value="<%= value %>">
                <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>

    <hr>

    <strong>Conflict editor for pull requests between repositories</strong>
    <p class="note">
      Enable or disable conflict editor for pull requests between repositories (e.g. A pull request targeting a fork’s parent repository).
    </p>
    <%= form_tag settings_change_cross_repo_conflict_editor_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span data-menu-button><%= GitHub.cross_repo_conflict_editor_enabled? ? "Enabled" : "Disabled"  %></span>
        <% end %>

        <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Cross-repository conflict editor enabled</span>
          </div>

          <div class="select-menu-list">
            <% view.cross_repo_conflict_editor_choices.each do |label, value| %>
              <% selected = GitHub.cross_repo_conflict_editor_enabled?.to_s == value %>
              <button type="submit" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio" name="value" value="<%= value %>">
                <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>

    <% if GitHub.auth.external? %>
      <hr>

      <strong>Reactivate suspended users<%= GitHub.ldap_sync_enabled? ? " on login" : ""  %></strong>
      <p class="note">
        <%= view.reactivate_suspended_users_note %>
      </p>

      <%= form_tag settings_change_reactivate_suspended_enterprise_path(slug) do %>
        <details class="admin-option-button select-menu details-reset details-overlay">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <span data-menu-button><%= GitHub.reactivate_suspended_user? ? "Enabled" : "Disabled"  %></span>
          <% end %>

          <details-menu class="select-menu-modal position-absolute" style="z-index:99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header">
              <span class="select-menu-title">Reactivate suspended users<%= GitHub.ldap_sync_enabled? ? " on login" : ""  %></span>
            </div>

            <div class="select-menu-list">
              <% view.reactivate_suspended_users_choices.each do |label, value| %>
                <% selected = GitHub.reactivate_suspended_user?.to_s == value %>
                <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                  <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                </button>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>
    <% end %>

    <% if GitHub.auth.saml? %>
      <hr>

      <strong>SAML debugging</strong>
      <p class="note">
        Enable verbose logging for SAML authentication.
      </p>

      <%= form_tag settings_toggle_saml_debugging_enterprise_path(slug) do %>
        <details class="admin-option-button select-menu details-reset details-overlay">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <span data-menu-button><%= GitHub.config.enabled?("saml.debug_logging_enabled") ? "Enabled" : "Disabled"  %></span>
          <% end %>

          <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header">
              <span class="select-menu-title">SAML debugging</span>
            </div>

            <div class="select-menu-list">
              <% view.saml_debugging_choices.each do |label, value| %>
                <% selected = GitHub.config.enabled?("saml.debug_logging_enabled").to_s == value %>
                <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                  <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                </button>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>
    <% end %>

    <% if GitHub.auth.ldap? %>
      <% if GitHub.ldap_sync_enabled? %>
        <hr>

        <strong>Reactivate suspended users on synchronization</strong>
        <p class="note">
          <%= view.reactivate_suspended_users_on_sync_note %>
        </p>

        <%= form_tag settings_change_reactivate_suspended_on_sync_enterprise_path(slug) do %>
          <details class="admin-option-button select-menu details-reset details-overlay">
            <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
              <span data-menu-button><%= GitHub.reactivate_suspended_user_on_sync? ? "Enabled" : "Disabled"  %></span>
            <% end %>

            <details-menu class="select-menu-modal position-absolute" style="z-index:99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="select-menu-header">
                <span class="select-menu-title">Reactivate suspended users on synchronization</span>
              </div>

              <div class="select-menu-list">
                <% view.reactivate_suspended_users_choices.each do |label, value| %>
                  <% selected = GitHub.reactivate_suspended_user_on_sync?.to_s == value %>
                  <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                    <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                    <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                  </button>
                <% end %>
              </div>
            </details-menu>
          </details>
        <% end %>
      <% end %>

      <hr>

      <strong>LDAP debugging</strong>
      <p class="note">
        Enable verbose logging for LDAP Sync and other actions.
      </p>

      <%= form_tag settings_toggle_ldap_debugging_enterprise_path(slug) do %>
        <details class="admin-option-button select-menu details-reset details-overlay">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <span data-menu-button><%= GitHub.config.enabled?("ldap.debug_logging_enabled") ? "Enabled" : "Disabled"  %></span>
          <% end %>

          <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header">
              <span class="select-menu-title">LDAP debugging</span>
            </div>

            <div class="select-menu-list">
              <% view.ldap_debugging_choices.each do |label, value| %>
                <% selected = GitHub.config.enabled?("ldap.debug_logging_enabled").to_s == value %>
                <button type="submit" name="value" value="<%= value %>" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio">
                  <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
                  <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
                </button>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>

      <% if GitHub.ldap_search_strategy == "recursive" %>
        <hr>

        <strong>LDAP search strategy depth</strong>
        <p class="note">
          Search strategy depth determine how deeply LDAP sync will search nested group.
          Decreasing the value will speed up LDAP search but risk missing deeper nested users.
        </p>

        <%= render layout: "shared/details_dialog", locals: {
          button_text: "Change depth",
          button_class: "btn admin-option-button",
          title: "Change LDAP search strategy depth"
        } do %>
          <div class="Box-body">
            <%= form_tag settings_change_ldap_search_depth_enterprise_path(slug) do %>
              <dl class="form-group mt-0">
                <dt><label for="search_depth">New search depth</label></dt>
                <dd>
                  <%= text_field_tag :search_depth,
                    GitHub.ldap_search_strategy_depth, placeholder: "9",
                    autofocus: true, size: 2 %>
                </dd>
              </dl>
              <%= render Primer::ButtonComponent.new(type: :submit, block: true) do %>Change depth<% end %>
            <% end %>
          </div>
        <% end %>

      <% end %>
    <% end %>

    <hr>

    <strong>Dormancy threshold</strong>
    <p class="note">
      The length of time a user must be inactive to be considered dormant.
    </p>
    <%= form_tag settings_change_dormancy_threshold_enterprise_path(slug) do %>
      <details class="admin-option-button select-menu details-reset details-overlay">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span data-menu-button><%= view.dormancy_threshold_button_text %></span>
        <% end %>

        <details-menu class="select-menu-modal position-absolute" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-header">
            <span class="select-menu-title">Dormancy threshold</span>
          </div>
          <div class="select-menu-list">
            <% view.dormancy_threshold_choices.each do |label, value| %>
              <% selected = GitHub.enterprise_dormancy_threshold_days.to_s == value %>
              <button type="submit" class="select-menu-item width-full" aria-checked="<%= selected %>" role="menuitemradio" name="dormancy_threshold_days" value="<%= value %>">
                <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                <div class="select-menu-item-text" data-menu-button-text><%= label %></div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
    <% end %>
  </div>
<% end %>
