<%# erblint:counter DeprecatedComponentsCounter 14 %>
<% view = Businesses::Settings::DotcomConnectionView.new %>

<% page_info title: "GitHub Connect",
    selected_link: :business_dotcom_connection,
    stafftools: stafftools_enterprise_path(this_business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "GitHub Connect",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <p>
    GitHub Connect lets you share specific features and workflows between your GitHub Enterprise instance and <%= view.can_use_proxima? ? "your" : "a" %> <%= GitHub.dotcom_host_name_string %> enterprise account<% unless view.can_use_proxima?%> or enterprise organization<% end %>. <%= link_to "Learn more about GitHub Connect", "#{GitHub.enterprise_admin_help_url}/guides/developer-workflow/connecting-github-enterprise-and-github-com/", class: "Link--inTextBlock" %>
  </p>
  <% if view.dotcom_connection_status.in? %i(connected unverifiable disconnected) %>
    <div class="border rounded-2 p-3 my-4">
      <div class="d-flex flex-items-center">
        <div class="flex-auto">
          <% if view.owner_identifier %>
            <%= link_to view.owner_identifier, view.dotcom_profile_url, class: "h4" %> <span class="f4 color-fg-muted">(<%= view.owner_type %>)</span>
          <% else %>
            <%= view.owner_type %>.
          <% end %>
        </div>

      <%= form_tag admin_settings_delete_dotcom_connection_enterprise_path(GitHub.global_business), method: :delete do %>
        <%= render Primer::Alpha::Dialog.new(id: "disconnect-github-connect-dialog", title: "Disable GitHub Connect") do |dialog| %>
          <% dialog.with_show_button(
          scheme: :danger,
          size: :small
          ) do %>
            Disable GitHub Connect
          <% end %>
          <% dialog.with_header(font_size: 5) do %>
            Are you sure you want to disable GitHub Connect?
          <% end %>

          <% dialog.with_body(px: 0, pb: 1) do %>
            <%= render(Primer::Beta::Flash.new(scheme: :warning, full: true, my: 2)) do %>
              <strong><%= view.disconnected_features_message %></strong>
              At disconnection, the GitHub App and its installation will be
              deleted from the connected <%= view.owner_type %> on <%= GitHub.dotcom_host_name_string %> and the
              credentials stored on your GitHub Enterprise instance will be
              revoked and deleted.
            <% end %>
            <% dialog.with_footer(pt: 1) do %>
              <%= render Primer::Beta::Button.new(type: :submit, scheme: :danger, block: true) do %>
                Disable GitHub Connect
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% if view.dotcom_connection_status == :unverifiable %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, mt: 3, icon: "alert")) do %>
          The instance cannot connect to <%= GitHub.dotcom_host_name_string %> or could not verify the connection status.
        <br><br>
        <p>
          If this is a new connection, please disconnect by clicking the "Disable GitHub Connect" button and try again.
        </p>
        <p>
          If your instance was disconnected from your
          <%= view.owner_type %> settings, please complete the disconnect by clicking the "Disable GitHub Connect" button.
        </p>
        <p>
          If you did not disconnect your instance, this verification problem could be due to the instance
          having an inaccurate system time. Please confirm you have a valid, working NTP configuration and
          accurate system time.
          <%= link_to "Learn more about configuring time synchronization", "#{GitHub.enterprise_admin_help_url}/configuration/configuring-your-enterprise/configuring-time-synchronization", class: "Link--inTextBlock" %>.
        </p>
      <% end %>
    <% elsif view.dotcom_connection_status == :disconnected %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, mt: 3, font_size: 6, icon: "alert")) do %>
        The instance may have been disconnected from your <%= GitHub.dotcom_host_name_string %>
        <%= view.owner_type %> settings. If this disconnect was intentional, please
        complete the disconnect by clicking the "Disable GitHub Connect" button.
      <% end %>
    <% end %>
    <% if view.require_reconnect? %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, mt: 3, icon: "alert")) do %>
        The instance has been upgraded but the connection to <%= GitHub.dotcom_host_name_string %> was
        established with an older version. To finish the upgrade, please
        re-establish the connection after clicking the "Disable GitHub Connect" button.
      <% end %>
    <% end %>
    </div>
    <% if view.usage_metrics_config_visible? %>
      <%= render Primer::Box.new(display: :flex, justify_content: :space_between, container: :lg, pl: 0) do %>
        <%= render Primer::Box.new(mr: 3) do %>
          <%= render Primer::Beta::Heading.new(tag: :h3, classes: "h4") do %>
            Server statistics
          <% end %>
          <%= render Primer::Beta::Text.new(tag: :p, classes: "note") do %>
            Access aggregate server metrics for your reporting needs by transmitting server statistics to your cloud account. GitHub will use this data for product improvement.
            <%= render Primer::Beta::Link.new(href: "#{GitHub.enterprise_admin_help_url}/monitoring-activity-in-your-enterprise/analyzing-how-your-team-works-with-server-statistics", classes: "Link--inTextBlock") do %>
              Learn more about server statistics
            <% end %>
          <% end %>
        <% end %>
        <%= render Primer::Box.new(align_self: :center) do %>
          <%= form_tag admin_settings_change_usage_metrics_enterprise_path(GitHub.global_business) do |f| %>
            <input type="hidden" name="usage_metrics_value" value="<%= (!GitHub.ghe_usage_metrics_enabled?).to_s %>">
            <%= render Primer::ButtonComponent.new(
              style: "width: 7.5em;",
              type: :submit,
              scheme: (GitHub.ghe_usage_metrics_enabled? ? :danger : :default),
              disabled: !view.dotcom_connected? ) do %>
              <%= GitHub.ghe_usage_metrics_enabled? ? "Disable" : "Enable" %>
            <% end%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if view.license_usage_sync_config_visible? %>
      <%= render Primer::Box.new(display: :flex, justify_content: :space_between, container: :lg, pl: 0, mt: 3) do %>
        <%= render Primer::Box.new(mr: 3) do %>
          <%= render Primer::Beta::Heading.new(tag: :h3, classes: "h4") do %>
            License sync
          <% end %>
          <%= render Primer::Beta::Text.new(tag: :p, classes: "note") do %>
            Manage license usage across your enterprise by automatically syncing user licenses to your cloud account.
            <%= render Primer::Beta::Link.new(href: "#{GitHub.enterprise_admin_help_url}/configuration/managing-connections-between-your-enterprise-accounts/enabling-automatic-user-license-sync-between-github-enterprise-server-and-github-enterprise-cloud", classes: "Link--inTextBlock") do %>
              Learn more about license sync
            <% end %>
          <% end %>
        <% end %>
        <%= render Primer::Box.new(align_self: :center) do %>
          <%= form_tag admin_settings_change_license_usage_sync_enterprise_path(GitHub.global_business) do |f| %>
            <input type="hidden" name="license_usage_sync_value" value="<%= (!GitHub.dotcom_user_license_usage_upload_enabled?).to_s %>">
            <%= render Primer::ButtonComponent.new(
              style: "width: 7.5em;",
              type: :submit,
              scheme: (GitHub.dotcom_user_license_usage_upload_enabled? ? :danger : :default),
              disabled: !view.dotcom_connected? ) do %>
              <%= GitHub.dotcom_user_license_usage_upload_enabled? ? "Disable" : "Enable" %>
            <% end%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render Primer::Box.new(display: :flex, justify_content: :space_between, container: :lg, pl: 0, mt: 3) do %>
      <%= render Primer::Box.new(mr: 3) do %>
        <%= render Primer::Beta::Heading.new(tag: :h3, classes: "h4") do %>
          Unified search
        <% end %>
        <% unless view.can_use_proxima? %>
          <%= render Primer::Beta::Text.new(tag: :p, classes: "note") do %>
            Users can search public repositories on GitHub.com when searching from Enterprise Server.
            <%= render Primer::Beta::Link.new(href: "#{GitHub.enterprise_admin_help_url}/configuration/managing-connections-between-your-enterprise-accounts/enabling-unified-search-between-your-enterprise-account-and-githubcom", classes: "Link--inTextBlock") do %>
              Learn more about unified search
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% unless view.can_use_proxima? %>
        <%= render Primer::Box.new(align_self: :center) do %>
          <%= form_tag admin_settings_change_dotcom_search_enterprise_path(GitHub.global_business) do |f| %>
            <input type="hidden" name="public_search_value" value="<%= (!GitHub.dotcom_search_enabled?).to_s %>">
            <%= render Primer::ButtonComponent.new(
              style: "width: 7.5em;",
              type: :submit,
              scheme: (GitHub.dotcom_search_enabled? ? :danger : :default),
              disabled: !view.dotcom_connected? ) do %>
              <%= GitHub.dotcom_search_enabled? ? "Disable" : "Enable" %>
            <% end%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% allow_private_search_ui = view.dotcom_connected? && (GitHub.dotcom_search_enabled? || view.can_use_proxima?) %>
    <% if allow_private_search_ui %>
      <%= render Primer::Box.new(display: :flex, justify_content: :space_between, container: :lg, pl: 0, mt: 1) do %>
        <%= render Primer::Box.new(mr: 3) do %>
          <%= render Primer::Beta::Text.new(tag: :p, classes: "note") do %>
            Users can search private repositories on
            <%= render Primer::Beta::Text.new(font_weight: :bold) do %>
              <%= view.owner_identifier %>
            <% end %> when searching from Enterprise Server.
          <% end %>
        <% end %>
        <%= render Primer::Box.new(align_self: :center) do %>
          <%= form_tag admin_settings_change_dotcom_private_search_enterprise_path(GitHub.global_business) do |f| %>
            <input type="hidden" name="private_search_value" value="<%= (!GitHub.dotcom_private_search_enabled?).to_s %>">
            <%= render Primer::ButtonComponent.new(
              style: "width: 7.5em;",
              type: :submit,
              scheme: (GitHub.dotcom_private_search_enabled? ? :danger : :default),
              disabled: !allow_private_search_ui ) do %>
              <%= GitHub.dotcom_private_search_enabled? ? "Disable" : "Enable" %>
            <% end%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if GitHub.dependency_graph_enabled? %>
      <%= render Primer::Box.new(display: :flex, justify_content: :space_between, container: :lg, pl: 0, mt: 3) do %>
        <%= render Primer::Box.new(mr: 3) do %>
          <%= render Primer::Beta::Heading.new(tag: :h3, classes: "h4") do %>
            Dependabot
          <% end %>
          <%= render Primer::Beta::Text.new(tag: :p, classes: "note") do %>
            Periodically download the GitHub Advisory Database so that users can receive vulnerability alerts for open source code dependencies.
            After enabling, repository and organization admins can enable Dependabot alerts for each repository or organization.
            <%= render Primer::Beta::Link.new(href: "#{GitHub.enterprise_admin_help_url}/configuration/managing-connections-between-your-enterprise-accounts/enabling-the-dependency-graph-and-dependabot-alerts-on-your-enterprise-account", classes: "Link--inTextBlock") do %>
              Learn more about Dependabot
            <% end %>
          <% end %>
        <% end %>
        <%= render Primer::Box.new(align_self: :center) do %>
          <%= form_tag admin_settings_change_ghe_content_analysis_enterprise_path(GitHub.global_business) do |f| %>
            <%= render Primer::Beta::Details.new(overlay: :default, reset: true, position: :relative) do |c| %>
              <% c.with_summary(dropdown: true, classes: ("disabled" if !view.dotcom_connected?), style: "width: 7.5em;", test_selector: "current-ghe-vulnerabilities-label") do %>
                <%= view.current_ghe_vulnerabilities_label == "Disable" ? "Enable" : "Disable" %>
              <% end %>
              <% c.with_body(classes: "SelectMenu", role: :menu, right: 0) do %>
                <% if view.dotcom_connected? %>
                  <div class="SelectMenu-modal">
                    <div class="SelectMenu-list">
                      <% view.ghe_vulnerabilities_choices.each do |value, label| %>
                        <% selected = (value == view.current_ghe_vulnerabilities_value) %>
                        <button type="submit" name="content_analysis_value" value="<%=value%>" tabindex="0" class="SelectMenu-item" aria-checked="<%= selected %>" role="menuitemradio">
                          <%= render Primer::Beta::Octicon.new(icon: "check", classes: "SelectMenu-icon SelectMenu-icon--check") %>
                          <%= label %>
                        </button>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if GitHub.dependabot_enabled? %>
      <%= render Primer::Box.new(display: :flex, justify_content: :space_between, container: :lg, pl: 0, mt: 1, test_selector: "dependabot-access-setting") do %>
        <%= render Primer::Box.new(mr: 3) do %>
          <%= render Primer::Beta::Text.new(tag: :p, classes: "note") do %>
            Users can easily upgrade to non-vulnerable open source code dependencies.
            <%= render Primer::Beta::Link.new(href: "#{GitHub.enterprise_admin_help_url(skip_version: true)}/github-actions/enabling-github-actions-for-github-enterprise-server/setting-up-dependabot-updates", classes: "Link--inTextBlock") do %>
              Learn more about Dependabot updates
            <% end %>
          <% end %>
        <% end %>
        <%= render Primer::Box.new(align_self: :center) do %>
          <%= form_tag admin_settings_change_dependabot_access_enterprise_path(GitHub.global_business) do |f| %>
            <input type="hidden" name="dependabot_access_value" value="<%= (!GitHub.ghe_dependabot_access_to_dotcom_enabled?).to_s %>">
            <%= render Primer::ButtonComponent.new(
              style: "width: 7.5em;",
              type: :submit,
              scheme: (GitHub.ghe_dependabot_access_to_dotcom_enabled? ? :danger : :default),
              disabled: !view.dotcom_connected? && GitHub.dependency_graph_enabled?) do %>
              <%= GitHub.ghe_dependabot_access_to_dotcom_enabled? ? "Disable" : "Enable" %>
            <% end%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% allow_actions_download_ui = view.dotcom_connected? && GitHub.dotcom_actions_download_configurable? %>
    <% if view.can_use_download_actions? %>
      <%= render Primer::Box.new(display: :flex, justify_content: :space_between, container: :lg, pl: 0, mt: 3, test_selector: "actions-setting") do %>
        <%= render Primer::Box.new(mr: 3) do %>
          <%= render Primer::Beta::Heading.new(tag: :h3, classes: "h4") do %>
            GitHub.com actions
          <% end %>
          <%= render Primer::Beta::Text.new(tag: :p, classes: "note") do %>
            Users can use actions from GitHub.com in workflow files.
            <%= render Primer::Beta::Link.new(href: "#{GitHub.enterprise_admin_help_url}/github-actions/managing-access-to-actions-from-githubcom/enabling-automatic-access-to-githubcom-actions-using-github-connect", classes: "Link--inTextBlock") do %>
              Learn more about actions
            <% end %>
          <% end %>
        <% end %>
        <%= render Primer::Box.new(align_self: :center) do %>
          <%= form_tag admin_settings_change_actions_download_archive_enterprise_path(GitHub.global_business) do |f| %>
            <input type="hidden" name="actions_download_archive_value" value="<%= (!GitHub.dotcom_download_actions_archive_enabled?).to_s %>">
            <%= render Primer::ButtonComponent.new(
              style: "width: 7.5em;",
              type: :submit,
              scheme: (GitHub.dotcom_download_actions_archive_enabled? ? :danger : :default),
              disabled: !allow_actions_download_ui ) do %>
              <%= GitHub.dotcom_download_actions_archive_enabled? ? "Disable" : "Enable" %>
            <% end%>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% allow_contributions_sync_ui = view.dotcom_connected? && GitHub.dotcom_contributions_configurable? %>
    <%= render Primer::Box.new(display: :flex, justify_content: :space_between, container: :lg, pl: 0, mt: 3) do %>
      <%= render Primer::Box.new(mr: 3) do %>
        <%= render Primer::Beta::Heading.new(tag: :h3, classes: "h4") do %>
          Unified contributions
        <% end %>
        <%= render Primer::Beta::Text.new(tag: :p, classes: "note") do %>
          Users can send contribution counts for their activity to their selected GitHub.com profile.
          <%= render Primer::Beta::Link.new(href: "#{GitHub.enterprise_admin_help_url}/configuration/managing-connections-between-your-enterprise-accounts/enabling-unified-contributions-between-your-enterprise-account-and-githubcom", classes: "Link--inTextBlock") do %>
            Learn more about unified contributions
          <% end %>
        <% end %>
      <% end %>
      <%= render Primer::Box.new(align_self: :center) do %>
        <%= form_tag view.dotcom_contributions_change_path do |f| %>
          <input type="hidden" name="contributions_sync_value" value="<%= (!GitHub.dotcom_contributions_enabled?).to_s %>">
          <%= render Primer::ButtonComponent.new(
            style: "width: 7.5em;",
            type: :submit,
            scheme: (GitHub.dotcom_contributions_enabled? ? :danger : :default),
            disabled: !allow_contributions_sync_ui ) do %>
            <%= GitHub.dotcom_contributions_enabled? ? "Disable" : "Enable" %>
          <% end%>
        <% end %>
      <% end %>
    <% end %>

  <% elsif view.dotcom_connection_status == :unfinished %>
    <%= render Primer::BlankslateComponent.new(
      icon: "mark-github",
      title: "GitHub Connect is not enabled yet",
      mt: 4,
    ) do %>
      <p>
        You have not completed the setup process on the <%= GitHub.dotcom_host_name_string %> side.
        Please do so within <%= distance_of_time_in_words_to_now view.dotcom_temporary_token_expires_at %> from now.
        After this time, you will have to reinitiate the setup process.
      </p>
      <p>
        <%= button_to "Complete your GitHub Connect setup",
          admin_settings_resume_dotcom_connection_enterprise_path(GitHub.global_business),
          form_class: "inline-form",
          class: "btn btn-primary" %>
      </p>
    <% end %>
  <% else %>
    <% if enterprise_license.github_connect_support? %>
      <%= render Primer::BlankslateComponent.new(
        icon: "mark-github",
        title: "GitHub Connect is not enabled yet",
        mt: 4,
        ) do %>
        <%= form_tag admin_settings_create_dotcom_connection_enterprise_path(GitHub.global_business) do %>
          <%= button_tag "Enable GitHub Connect",
                type: :submit,
                class: "btn btn-primary my-3",
                test_selector: "enable-connect-btn" %>
          <% if view.can_use_proxima? %>
            <%= render Primer::Beta::Text.new(tag: "p", mb: 4, test_selector: "proxima-host-info") do %>
              Enabling GitHub Connect will connect your instance to <%= link_to "#{GitHub.dotcom_host_protocol}://#{GitHub.dotcom_host_name}", "#{GitHub.dotcom_host_protocol}://#{GitHub.dotcom_host_name}", class: "Link--inTextBlock" %>
            <% end %>
          <% end %>
        <% end %>
        <div>
          <span class="f6 color-fg-muted text-center">
            By clicking "Enable GitHub Connect", you agree to the
            <%= link_to "Connect Terms.", "https://github.com/additional-products-and-features-terms", class: "Link--inTextBlock" %>
            Enabling GitHub Connect will create a GitHub App that will be registered for the selected organization or enterprise account.
            The GitHub App's credential will be stored on your GitHub Enterprise instance and used for API requests made to GitHub.com.
            Please see GitHub's
            <%= link_to "Privacy Statement", "#{GitHub::Config::DOCS_BASE_URL}/articles/github-privacy-statement/", class: "Link--inTextBlock" %>
            for more information about GitHub's privacy practices.
          </span>
        </div>
      <% end %>
    <% else %>
      <%= render Primer::BlankslateComponent.new(
        icon: "mark-github",
        title: "GitHub Connect is not supported by your license",
        mt: 4,
        ) do %>
        <p class="mt-4">
          Your license does not include support for GitHub Connect.<br>Please contact your sales representatives or
          <%= link_to "our sales team", "https://github.com/enterprise/contact", class: "Link--inTextBlock" %>
          to update your license.
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
