<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "License",
             selected_link: :business_license_settings,
             stafftools: stafftools_enterprise_path(this_business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: enterprise_license.evaluation? ? "Trial license" : "License",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <h2 class="pb-2 border-bottom mb-3">
    User licenses
  </h2>

  <div class="d-flex mb-6">
    <div class="col-6 mr-3 color-bg-subtle color-shadow-small">
      <div class="p-3">
        <label class="f5 text-normal text-small color-fg-muted text-uppercase">Consumed licenses</label>
        <span class="f2 d-block">
          <span class="color-fg-muted">
            <%= number_with_delimiter enterprise_license.seats_used %>
          </span>
        </span>
        <span class="f6 color-fg-muted">
          <%= link_to "View users", people_enterprise_path(this_business.slug) %>
        </span>
      </div>
    </div>
    <div class="col-6 mr-3 color-bg-subtle color-shadow-small">
      <div class="p-3">
        <label class="f5 text-normal text-small color-fg-muted text-uppercase">Total available licenses</label>
        <span class="f2 d-block">
          <span class="color-fg-muted">
            <% if enterprise_license.has_seat_limit? %>
              <%= number_with_delimiter enterprise_license.seats_available %>
            <% else %>
              Unlimited licenses
            <% end %>
          </span>
        </span>
        <span class="f6 color-fg-muted">
          <% unless enterprise_license.perpetual? %>
            <% if enterprise_license.days_until_expiration > 0 %>
              Valid until <%= enterprise_license.formatted_expiration_date %>
            <% else %>
              Expired!
            <% end %>
          <% end %>
        </span>
      </div>
    </div>
    <div class="col-6 color-bg-subtle color-shadow-small">
      <div class="p-3">
        <label class="f5 text-normal text-small color-fg-muted text-uppercase">Quick links</label>
        <span class="f6 d-block mt-1">
          <%= link_to \
            "Export license usage",
            settings_license_download_enterprise_path(this_business.slug, format: :json) %>
          <br>
          <% upgrade_text = !enterprise_license.has_seat_limit? ? "Update license" : "Upgrade license" %>
          <%= link_to upgrade_text, "/setup/upgrade" %>
          <br>
          <%= link_to "Contact GitHub Sales", "https://github.com/enterprise" %>
        </span>
      </div>
    </div>
  </div>

  <div class="d-flex mb-3">
    <div class="col-6 text-left pr-4 pl-3">
      <h3 class="f4 text-normal">Enterprise licenses</h3>
      <p class="color-fg-muted">
        <% if !enterprise_license.perpetual? %>
          <% if enterprise_license.days_until_expiration > 0 %>
            Valid until <%= enterprise_license.formatted_expiration_date %>
            (includes support and updates)
          <% else %>
            Expired!
          <% end %>
        <% else %>
          No expiration date (includes support and updates)
        <% end %>
      </p>
    </div>
    <div class="col-6 text-left pl-3">
      <span class="f4">
        <% if enterprise_license.has_seat_limit? %>
          <strong><%= number_with_delimiter enterprise_license.seats_used %></strong>
          <span class="color-fg-muted">/</span>
          <strong>
            <% if enterprise_license.has_seat_limit? %>
              <%= number_with_delimiter enterprise_license.seats %>
            <% end %>
          </strong>
          <%= pluralize_without_number enterprise_license.seats, "license" %>
        <% else %>
          <strong>
            Using
            <%= number_with_delimiter enterprise_license.seats_used %>
            <%= pluralize_without_number enterprise_license.seats_used, "license" %>
          </strong>
        <% end %>
      </span>
      <% if enterprise_license.has_seat_limit? %>
        <% percentage = number_to_percentage(
            (enterprise_license.seats_used.to_f / enterprise_license.seats) * 100,
            precision: 0) %>
        <%= render(Primer::Beta::ProgressBar.new(size: :large, mt: 2)) do |component| %>
          <% component.with_item(bg: :accent_emphasis, percentage: percentage) %>
        <% end %>
      <% else %>
        <div>
          <span class="color-fg-accent f4 mr-1">&infin;</span>
          <span class="color-fg-muted">You have unlimited Enterprise licenses.</span>
        </div>
      <% end %>
    </div>
    <%= render Primer::Box.new(text_align: :left, col: 6, pr: 4, pl: 5) do %>
      <%= render Primer::Beta::Heading.new(tag: :h3, font_weight: :normal, font_size: 4) do %>
        License sync
      <% end %>
      <% if GitHub.dotcom_user_license_usage_upload_enabled? %>
        <%= render Primer::Beta::Text.new(tag: :p, color: :muted, mt: 1, test_selector: "license-sync-status") do %>
          Last sync:
          <% status = DotcomConnection.new.license_info_upload_status %>
          <% if status %>
            <% if status[:state] == "success" %>
              <%= render Primer::Beta::Octicon.new(icon: "check", color: :success) %>
            <% elsif status[:state] == "failure" %>
              <%= render Primer::Beta::Octicon.new(icon: "x", color: :danger) %>
            <% end %> <%= status ? DateTime.parse(status[:updated_at]).in_time_zone.strftime("%B %-d, %Y at %k:%M:%S %Z") : "" %>
          <% else %>
            <%= render Primer::Beta::Octicon.new(icon: "dot-fill" ) %> Pending
          <% end %>

          <%= form_tag settings_license_manual_sync_enterprise_path(this_business.slug), method: :post do %>
            <%= render Primer::ButtonComponent.new(type: :submit) do %>
              <%= render Primer::Beta::Octicon.new(icon: "sync", mr: 1) %> Sync now
            <% end%>
          <% end %>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Text.new(tag: :p, color: :muted, mt: 1) do %>
          License sync is disabled.<br>
          You can enable it in the
          <%= render Primer::Beta::Link.new(
            href: admin_settings_dotcom_connection_enterprise_path(this_business),
            classes: "Link--inTextBlock"
          ) do %>
            GitHub Connect settings
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= render AdvancedSecurity::BusinessLevelUsageComponent.new(
    business: this_business,
    orgs_page: advanced_security_organizations_page,
    users_page: advanced_security_users_page,
  ) %>
<% end %>
