<%# erblint:counter DeprecatedComponentsCounter 6 %>
<% member_privilege_title = GitHub.flipper[:member_privilege_rename].enabled?(view.business) ? "Member privileges" : "Repository policies" %>

<% page_info title: member_privilege_title,
             selected_link: :business_member_privileges_settings,
             stafftools: stafftools_enterprise_path(view.business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: view.business,
    title: member_privilege_title,
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <div data-hpc>
    <h3 class="text-normal pb-2">Base permissions</h3>
    <p class="col-10">
      Base permissions to the organizations’ repositories apply to all members and excludes
      <%= view.outside_collaborators_verbiage_view %>. Since organization members can have permissions
      from multiple sources, members and collaborators who have been granted a higher level of
      access than the base permissions will retain their higher permission privileges.
    </p>
    <div class="pt-2">
      <% if view.updating_default_repository_permissions? %>
        <%= render(Primer::Beta::Spinner.new(size: :small, vertical_align: :middle)) %>
        <strong>Update in progress</strong>. Refresh to see if it’s done.
      <% else %>

        <%= render(Primer::Alpha::ActionMenu.new(select_variant: :single)) do |menu| %>
          <% menu.with_show_button do |button| %>
            <% button.with_trailing_action_icon(icon: :"triangle-down") %>
            All organizations:
            <span>
              <%= view.default_repository_permissions_button_text %>
            </span>
          <% end %>

          <% view.default_repository_permissions_select_list.each do |item| %>
            <% menu.with_item(
              label: item[:heading],
              active: !!item[:selected],
              tag: :button,
              content_arguments: { "data-show-dialog-id": "change-base-permission-#{item[:value]}" },
              value: "",
            ) do |menu_item| %>
              <% menu_item.with_description { item[:description] } %>
            <% end %>
          <% end %>
        <% end %>

        <% view.default_repository_permissions_select_list.each do |item| %>
          <% title = %Q[Change base permission to "#{item[:heading]}"] %>
          <%= render(Primer::Alpha::Dialog.new(
            id: "change-base-permission-#{item[:value]}",
            title: title
          )) do |d| %>
            <%= render(Primer::Alpha::Dialog::Body.new(py: 3)) do %>
              <%= render(Primer::Alpha::Banner.new(scheme: :warning, my: 3)) do %>
                You are about to change the base repository permission for organizations in this enterprise.
              <% end %>
              <div>
                This may change the permissions for organization members to repositories in this enterprise.
              </div>
            <% end %>
            <%= render(Primer::Alpha::Dialog::Footer.new) do %>
              <%= render(Primer::Beta::Button.new(
                data: {
                  "close-dialog-id": "change-base-permission-#{item[:value]}"
                }
              )) { "Cancel" } %>
              <%= form_tag view.default_repository_permissions_change_form_path, method: :put do |f| %>
                <input name="default_repository_permission" type="hidden" value="<%= item[:value] %>">
                <%= render(Primer::Beta::Button.new(
                  type: :submit,
                  scheme: :danger,
                  data: { "disable-with": ""}
                )) { title } %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <div class="mt-3">
          <%= render Primer::Alpha::Dialog.new(
            title: "Base permissions",
            size: :large,
            id: "view-your-organizations-current-configurations-base-permissions",
          ) do |dialog| %>
            <% dialog.with_header(show_divider: true) %>
            <% dialog.with_show_button(scheme: :link, my: 2, classes: 'Link--inTextBlock') do  %>
                View organizations' base permissions policy
            <% end %>
            <% dialog.with_body do %>
              <include-fragment loading="lazy" src="<%= view.default_repository_permission_setting_organizations_business_path %>">
                <div class="d-flex flex-items-center flex-justify-center my-2">
                  <div class="text-center" data-hide-on-error>
                    <h2 class='f5'>Loading...</h2>
                    <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
                  </div>
                  <div class="text-center" data-show-on-error hidden>
                    <h2 class='f5'>Sorry, something went wrong.</h2>
                  </div>
                </div>
              </include-fragment>
            <% end %>
          <% end %>
        </div>

      <% end %>
    </div>

    <h3 class="text-normal pt-5 pb-2">Repository creation</h3>
    <p class="mb-2 col-10">
      If enabled, members will be able to create repositories. <%= view.outside_collaborators_verbiage_view.capitalize %> can never create repositories.
    </p>

    <%= form_tag view.members_can_create_repos_form_path, method: :put do %>
      <div class="border rounded px-3 my-3">
        <div class="form-checkbox">
          <label>
            <%= radio_button_tag "business[members_can_create_repositories]", "no_policy", view.members_can_create_repositories_no_policy_checked?, class: "js-repo-types-disallowed-radio", 'aria-describedby': "no-policy-description", :"data-autosubmit" => true %>
            No policy
          </label>
          <span id="no-policy-description" class="note">
            Organization owners can choose whether to allow members to create repositories.
          </span>
        </div>
        <div class="form-checkbox">
          <label>
            <%= radio_button_tag "business[members_can_create_repositories]", "disabled", view.members_can_create_repositories_disabled_checked?, class: "js-repo-types-disallowed-radio", 'aria-describedby': "disabled-description", :"data-autosubmit" => true %>
            Disabled
          </label>
          <span id="disabled-description" class="note">
            Members will not be able to create repositories.
          </span>
        </div>
        <div class="form-checkbox mb-1">
          <label>
            <%= radio_button_tag "business[members_can_create_repositories]", "allowed", view.members_can_create_repositories_allowed_checked?, class: "js-repo-types-allowed-radio", 'aria-describedby': "allowed-description" %>
            Members can create repositories
          </label>
          <span id="allowed-description" class="note">
            Members will only be allowed to create the specified types of repositories.
          </span>
          <div class="d-flex mt-n2">
            <% if view.show_public_repo_creation_option? %>
              <div class="form-checkbox">
                <label class="js-repo-type-creation-label mr-4 <%= "color-fg-muted" unless view.members_can_create_repositories_allowed_checked? %>">
                  <%= check_box_tag "business[public]", true, view.members_can_create_public_repos_checked?,
                    disabled: !view.members_can_create_repositories_allowed_checked?,
                    class: "js-repo-type-creation-checkbox",
                    :"data-autosubmit" => true %> Public
                </label>
              </div>
            <% end %>
            <div class="form-checkbox">
              <label class="js-repo-type-creation-label mr-4 <%= "color-fg-muted" unless view.members_can_create_repositories_allowed_checked? %>">
                <%= check_box_tag "business[private]", true, view.members_can_create_private_repos_checked?,
                  disabled: !view.members_can_create_repositories_allowed_checked?,
                  class: "js-repo-type-creation-checkbox",
                  :"data-autosubmit" => true %> Private
              </label>
            </div>
            <div class="form-checkbox">
              <label class="js-repo-type-creation-label mr-4 <%= "color-fg-muted" unless view.members_can_create_repositories_allowed_checked? %>">
                <%= check_box_tag "business[internal]", true, view.members_can_create_internal_repos_checked?,
                  disabled: !view.members_can_create_repositories_allowed_checked?,
                  class: "js-repo-type-creation-checkbox",
                  :"data-autosubmit" => true %> Internal
              </label>
            </div>
          </div>
        </div>
      </div>
      <% if view.show_personal_repository_setting? %>
        <%# <h3 class="text-normal d-inline-block pt-5 pb-2 pr-2">User namespace</h3> %>
        <%= form_tag view.restrict_repository_create_in_personal_namespace_path, method: :put do %>
          <div class="form-checkbox ml-3" <%= test_selector("restrict-create-repository-in-personal-namespace-setting") %>>
            <input name="restrict_create_repository_in_personal_namespace" type="hidden" value="0">
            <%= check_box_tag "restrict_create_repository_in_personal_namespace", '1', view.restrict_repository_create_in_personal_namespace_enabled?, "data-autosubmit": true %>
            <label for="restrict_create_repository_in_personal_namespace">
              Block the creation of user namespace repositories
            </label>
            <p class="note">
              <%= view.show_personal_repository_setting_copy %>
            </p>

            <% if view.show_personal_repository_list? %>
                <%= primer_octicon(:eye, color: :accent) %>
                <div class="d-inline-block">
                  <%= render Primer::Beta::Button.new(
                    tag: :a,
                    scheme: :link,
                    color: :accent,
                    classes: "note no-underline",
                    href: enterprise_user_namespace_repositories_path(view.business),
                    test_selector: "user_repository_link",
                    ) do %>
                      View user namespace repositories in your enterprise <%= render GitHub::BetaFlagComponent.new %>
                  <% end %>
                </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="mt-3">
      <%= render Primer::Alpha::Dialog.new(
        title: "Repository creation",
        size: :large,
        id: "view-your-organizations-current-configurations-repository-creation",
      ) do |dialog| %>
        <% dialog.with_header(show_divider: true) %>
        <% dialog.with_show_button(scheme: :link, my: 2, classes: 'Link--inTextBlock') do  %>
            View organizations' repository creation policy
        <% end %>
        <% dialog.with_body do %>
          <include-fragment loading="lazy" src="<%= view.repository_creation_setting_organizations_business_path %>">
            <div class="d-flex flex-items-center flex-justify-center my-2">
              <div class="text-center" data-hide-on-error>
                <h2 class='f5'>Loading...</h2>
                <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
              </div>
              <div class="text-center" data-show-on-error hidden>
                <h2 class='f5'>Sorry, something went wrong.</h2>
              </div>
            </div>
          </include-fragment>
        <% end %>
      <% end %>
    </div>

    <h3 class="text-normal pt-6 pb-2">Repository forking</h3>
    <p class="mb-2 col-10">
      If enabled, forking is allowed on all private and internal repositories belonging to this enterprise.
      If disabled, forking is forbidden on all private and internal repositories belonging to this enterprise.
    </p>
    <div class="pt-2">
      <%= form_tag view.allow_private_repository_forking_form_path, method: :put, class: "d-block" do |f| %>
        <details class="details-reset details-overlay select-menu mb-2 position-relative">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <i>All organizations: </i>
            <span data-menu-button>
              <%= view.allow_private_repository_forking_button_text %>
            </span>
          <% end %>

          <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header text-left">
              <span class="select-menu-title">Private repository forking</span>
            </div>
            <div class="select-menu-list">
              <% view.allow_private_repository_forking_select_list.each do |item| %>
                <label class="select-menu-item" role="menuitemradio" aria-checked="<%= item[:selected] %>" tabindex="0">
                  <%= radio_button_tag "allow_private_repository_forking", item[:value], item[:selected], :"data-autosubmit" => true %>
                  <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                  <div class="text-normal select-menu-item-text">
                    <span class="select-menu-item-heading" data-menu-button-text><%= item[:heading] %></span>
                    <span class="description"><%= item[:description] %></span>
                  </div>
                </label>
              <% end %>
            </div>
          </details-menu>
        </details>
        <% if view.should_display_private_forking_policy_list? %>
          <div class="border rounded px-3 my-3">
          <% view.allow_private_repository_forking_policy_list.each do |policy| %>
            <div class="form-checkbox">
              <label>
                <%= radio_button_tag "allow_private_repository_forking_policy", policy[:value], policy[:selected], class: "js-repo-types-disallowed-radio", 'aria-describedby': policy[:value] + "-description", "data-autosubmit": true, disabled: policy[:disabled] %>
                <%= policy[:title] %>
              </label>
              <span id="<%=policy[:value] %>-description" class="note">
                <%= policy[:description] %>
              </span>
            </div>
          <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <% if view.show_options_unavailable_message? %>
      <div class="color-fg-muted note mb-3">
        <%= primer_octicon(:"shield-lock") %>
        Some options are unavailable because creation of user namespace repositories is blocked by enterprise policy.
      </div>
    <% end %>
    <div class="mt-3">
      <%= render Primer::Alpha::Dialog.new(
        title: "Repository forking",
        size: :large,
        id: "view-your-organizations-current-configurations-repository-forking",
      ) do |dialog| %>
        <% dialog.with_header(show_divider: true) %>
        <% dialog.with_show_button(scheme: :link, my: 2, classes: 'Link--inTextBlock') do  %>
            View organizations' repository forking policy
        <% end %>
        <% dialog.with_body do %>
          <include-fragment loading="lazy" src="<%= view.allow_private_repository_forking_setting_organizations_business_path %>">
            <div class="d-flex flex-items-center flex-justify-center my-2">
              <div class="text-center" data-hide-on-error>
                <h2 class='f5'>Loading...</h2>
                <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
              </div>
              <div class="text-center" data-show-on-error hidden>
                <h2 class='f5'>Sorry, something went wrong.</h2>
              </div>
            </div>
          </include-fragment>
        <% end %>
      <% end %>
    </div>

    <% if view.outside_collaborators_setting_enabled? %>
      <h3 class="text-normal pt-6 pb-2"><%= view.outside_collaborators_verbiage_view.capitalize %></h3>
      <p class="mb-2 col-10">
        Choose who can <%= invite_or_add_action_word.downcase %> <%= view.outside_collaborators_verbiage_view %> to repositories.
        <%= link_to("Learn more about #{view.outside_collaborators_verbiage_view}.",
            "#{GitHub.help_url}/organizations/managing-access-to-your-organizations-repositories/adding-outside-collaborators-to-repositories-in-your-organization",
            class: "Link--inTextBlock") %>
      </p>
      <%= form_tag view.members_can_invite_outside_collaborators_form_path, method: :put, class: "d-block" do %>
        <details class="details-reset details-overlay select-menu mb-2 position-relative">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button", aria: {label: "Set #{view.outside_collaborators_verbiage_view} policy" }) do %>
            <i>All organizations: </i>
            <span data-menu-button>
              <%= view.members_can_invite_outside_collaborators_button_text %>
            </span>
          <% end %>
          <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header text-left">
              <span class="select-menu-title">Repository invitations</span>
            </div>
            <div class="select-menu-list" role="menu">
              <% view.members_can_invite_outside_collaborators_select_list.each do |item| %>
                <label class="select-menu-item" role="menuitemradio" aria-checked="<%= item[:selected] %>" tabindex="0">
                  <%= radio_button_tag "business[members_can_invite_outside_collaborators]", item[:value], item[:selected], :"data-autosubmit" => true %>
                  <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                  <div class="text-normal select-menu-item-text">
                    <span class="select-menu-item-heading" data-menu-button-text><%= item[:heading] %></span>
                    <span class="description"><%= item[:description] %></span>
                  </div>
                </label>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>

      <div class="mt-3">
        <%= render Primer::Alpha::Dialog.new(
          title: "Repository invitations",
          size: :large,
          id: "view-your-organizations-current-configurations-repository-invitations",
        ) do |dialog| %>
          <% dialog.with_header(show_divider: true) %>
          <% dialog.with_show_button(scheme: :link, my: 2, classes: 'Link--inTextBlock') do  %>
              View organizations' <%= view.outside_collaborators_verbiage_view %> policy
          <% end %>
          <% dialog.with_body do %>
            <include-fragment loading="lazy" src="<%= view.members_can_invite_collaborators_setting_organizations_business_path %>">
              <div class="d-flex flex-items-center flex-justify-center my-2">
                <div class="text-center" data-hide-on-error>
                  <h2 class='f5'>Loading...</h2>
                  <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
                </div>
                <div class="text-center" data-show-on-error hidden>
                  <h2 class='f5'>Sorry, something went wrong.</h2>
                </div>
              </div>
            </include-fragment>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <h3 class="text-normal pt-6 pb-2">Default branch name</h3>
    <p class="mb-2 col-10">
      Choose the default branch name for new repositories belonging to this enterprise. You might want to change the default name due
      to different workflows, or because your integrations still require &ldquo;master&rdquo; as the default branch name. You can always change
      the default branch name on individual repositories.
      <%= link_to \
        "Learn more about default branches.",
        "#{GitHub.help_url}/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/changing-the-default-branch",
        class: "Link--inTextBlock" %>
    </p>

    <% if view.business_has_custom_default_branch_setting? %>
      <%= render "settings/default_branch_names/form",
            current_default: view.current_default_new_repo_branch,
            update_url: view.update_default_branch_name_path,
            has_custom_default: true,
            allow_enforcement: true,
            custom_default_enforced_by_self: view.default_branch_name_currently_enforced? %>
    <% else %>
      <%= render "settings/default_branch_names/form",
            update_url: view.update_default_branch_name_path,
            has_custom_default: false,
            allow_enforcement: true %>
    <% end %>

    <%= render Primer::Beta::Subhead.new(spacious: true, pt: 4) do |component| %>
      <% component.with_heading(tag: :h2) do %>Admin repository permissions<% end %>
    <% end %>

    <h3 class="text-normal pb-2">Repository visibility change</h3>
    <p class="mb-2 col-10">
      If enabled, members with admin permissions for the repository will be able to change its visibility. If disabled, only organization owners can change repository visibilities.
    </p>
    <div class="pt-2">
      <%= form_tag view.repo_visibility_change_form_path, method: :put, class: "d-block" do |f| %>
        <details class="details-reset details-overlay select-menu mb-2 position-relative">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <i>All organizations: </i>
            <span data-menu-button>
              <%= view.repo_visibility_change_button_text %>
            </span>
          <% end %>

          <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header text-left">
              <span class="select-menu-title">Repository visibility change</span>
            </div>
            <div class="select-menu-list">
              <% view.repo_visibility_change_select_list.each do |item| %>
                <label class="select-menu-item" role="menuitemradio" aria-checked="<%= item[:selected] %>" tabindex="0">
                  <%= radio_button_tag "members_can_change_repo_visibility", item[:value], item[:selected], :"data-autosubmit" => true %>
                  <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                  <div class="text-normal select-menu-item-text">
                    <span class="select-menu-item-heading" data-menu-button-text><%= item[:heading] %></span>
                    <span class="description"><%= item[:description] %></span>
                  </div>
                </label>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>
    </div>

    <div class="mt-3">
      <%= render Primer::Alpha::Dialog.new(
        title: "Repository visibility change",
        size: :large,
        id: "view-your-organizations-current-configurations-repository-visiblity-change",
      ) do |dialog| %>
        <% dialog.with_header(show_divider: true) %>
        <% dialog.with_show_button(scheme: :link, my: 2, classes: 'Link--inTextBlock') do  %>
            View organizations' repository visibility change policy
        <% end %>
        <% dialog.with_body do %>
          <include-fragment loading="lazy" src="<%= view.members_can_change_repository_visibility_setting_organizations_business_path %>">
            <div class="d-flex flex-items-center flex-justify-center my-2">
              <div class="text-center" data-hide-on-error>
                <h2 class='f5'>Loading...</h2>
                <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
              </div>
              <div class="text-center" data-show-on-error hidden>
                <h2 class='f5'>Sorry, something went wrong.</h2>
              </div>
            </div>
          </include-fragment>
        <% end %>
      <% end %>
    </div>

    <h3 class="text-normal pt-5 pb-2">Repository deletion and transfer</h3>
    <p class="mb-2 col-10">
      If enabled, members with admin permissions for the repository will be able to delete or transfer <% if GitHub.public_repositories_available? %><strong>public</strong> and <% end %><strong>private</strong> repositories. If disabled, only organization owners can delete or transfer repositories.
    </p>
    <div class="pt-2">
      <%= form_tag view.members_can_delete_repos_form_path, method: :put, class: "d-block" do |f| %>
        <details class="details-reset details-overlay select-menu mb-2 position-relative">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <i>All organizations: </i>
            <span data-menu-button>
              <%= view.members_can_delete_repos_button_text %>
            </span>
          <% end %>

          <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header text-left">
              <span class="select-menu-title">Repository deletion</span>
            </div>
            <div class="select-menu-list">
              <% view.members_can_delete_repos_select_list.each do |item| %>
                <label class="select-menu-item" role="menuitemradio" aria-checked="<%= item[:selected] %>" tabindex="0">
                  <%= radio_button_tag "business[members_can_delete_repositories]", item[:value], item[:selected], :"data-autosubmit" => true %>
                  <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                  <div class="text-normal select-menu-item-text">
                    <span class="select-menu-item-heading" data-menu-button-text><%= item[:heading] %></span>
                    <span class="description"><%= item[:description] %></span>
                  </div>
                </label>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>
    </div>

    <div class="mt-3">
      <%= render Primer::Alpha::Dialog.new(
        title: "Repository deletion and transfer",
        size: :large,
        id: "view-your-organizations-current-configurations-repository-deletion-and-transfer",
      ) do |dialog| %>
        <% dialog.with_header(show_divider: true) %>
        <% dialog.with_show_button(scheme: :link, my: 2, classes: 'Link--inTextBlock') do  %>
            View organizations' repository deletion and transfer policy
        <% end %>
        <% dialog.with_body do %>
          <include-fragment loading="lazy" src="<%= view.members_can_delete_repositories_setting_organizations_business_path %>">
            <div class="d-flex flex-items-center flex-justify-center my-2">
              <div class="text-center" data-hide-on-error>
                <h2 class='f5'>Loading...</h2>
                <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
              </div>
              <div class="text-center" data-show-on-error hidden>
                <h2 class='f5'>Sorry, something went wrong.</h2>
              </div>
            </div>
          </include-fragment>
        <% end %>
      <% end %>
    </div>

    <% if GitHub.update_protected_branches_setting_enabled? || GitHub.flipper[:update_protected_branches_setting].enabled?(this_business) %>
      <h3 class="text-normal pt-5 pb-2">Repository branch protection rules</h3>
      <p class="mb-2">
        If enabled, members with admin permission to the repository will be able to update branch protection rules and settings. If disabled, only enterprise owners can change branch protection rules and settings.
      </p>
      <div class="pt-2">
        <%= form_tag view.members_can_update_protected_branches_form_path, method: :put, class: "d-block" do |f| %>
          <details class="details-reset details-overlay select-menu mb-2 position-relative">
            <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
              <i>All organizations: </i>
              <span data-menu-button>
                <%= view.members_can_update_protected_branches_button_text %>
              </span>
            <% end %>

            <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
              <div class="select-menu-header text-left">
                <span class="select-menu-title">Update branch protection</span>
              </div>
              <div class="select-menu-list">
                <% view.members_can_update_protected_branches_select_list.each do |item| %>
                  <label class="select-menu-item" role="menuitemradio" aria-checked="<%= item[:selected] %>" tabindex="0">
                    <%= radio_button_tag "business[members_can_update_protected_branches]", item[:value], item[:selected], :"data-autosubmit" => true %>
                    <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                    <div class="text-normal select-menu-item-text">
                      <span class="select-menu-item-heading" data-menu-button-text><%= item[:heading] %></span>
                      <span class="description"><%= item[:description] %></span>
                    </div>
                  </label>
                <% end %>
              </div>
            </details-menu>
          </details>
        <% end %>
      </div>

      <div class="mt-3">
        <%= render Primer::Alpha::Dialog.new(
          title: "Branch protection",
          size: :large,
          id: "view-your-organizations-current-configurations-update-branch-protection",
        ) do |dialog| %>
          <% dialog.with_header(show_divider: true) %>
          <% dialog.with_show_button(scheme: :link, my: 2, classes: 'Link--inTextBlock') do  %>
              View organizations' branch protection policy
          <% end %>
          <% dialog.with_body do %>
            <include-fragment loading="lazy" src="<%= view.members_can_update_protected_branches_setting_organizations_business_path %>">
              <div class="d-flex flex-items-center flex-justify-center my-2">
                <div class="text-center" data-hide-on-error>
                  <h2 class='f5'>Loading...</h2>
                  <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
                </div>
                <div class="text-center" data-show-on-error hidden>
                  <h2 class='f5'>Sorry, something went wrong.</h2>
                </div>
              </div>
            </include-fragment>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <h3 class="text-normal pt-5 pb-2">Repository issue deletion</h3>
    <p class="mb-2 col-10">
      If enabled, members with admin permissions for the repository will be able to delete issues. If disabled, only organization owners can delete issues.
    </p>
    <div class="pt-2">
      <%= form_tag view.members_can_delete_issues_form_path, method: :put, class: "d-block" do |f| %>
        <details class="details-reset details-overlay select-menu mb-2 position-relative">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <i>All organizations: </i>
            <span data-menu-button>
              <%= view.members_can_delete_issues_button_text %>
            </span>
          <% end %>

          <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-header text-left">
              <span class="select-menu-title">Issue deletion</span>
            </div>
            <div class="select-menu-list">
              <% view.members_can_delete_issues_select_list.each do |item| %>
                <label class="select-menu-item" role="menuitemradio" aria-checked="<%= item[:selected] %>" tabindex="0">
                  <%= radio_button_tag "business[members_can_delete_issues]", item[:value], item[:selected], :"data-autosubmit" => true %>
                  <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                  <div class="text-normal select-menu-item-text">
                    <span class="select-menu-item-heading" data-menu-button-text><%= item[:heading] %></span>
                    <span class="description"><%= item[:description] %></span>
                  </div>
                </label>
              <% end %>
            </div>
          </details-menu>
        </details>
      <% end %>
    </div>

    <div class="mt-3">
      <%= render Primer::Alpha::Dialog.new(
        title: "Repository issue deletion",
        size: :large,
        id: "view-your-organizations-current-configurations-issue-deletion",
      ) do |dialog| %>
        <% dialog.with_header(show_divider: true) %>
        <% dialog.with_show_button(scheme: :link, my: 2, classes: 'Link--inTextBlock') do  %>
            View organizations' issue deletion policy
        <% end %>
        <% dialog.with_body do %>
          <include-fragment loading="lazy" src="<%= view.members_can_delete_issues_setting_organizations_business_path %>">
            <div class="d-flex flex-items-center flex-justify-center my-2">
              <div class="text-center" data-hide-on-error>
                <h2 class='f5'>Loading...</h2>
                <%= render(Primer::Beta::Spinner.new(size: :small, mt: 1)) %>
              </div>
              <div class="text-center" data-show-on-error hidden>
                <h2 class='f5'>Sorry, something went wrong.</h2>
              </div>
            </div>
          </include-fragment>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
