<% page_info title: "Packages",
             selected_link: :business_packages_settings,
             stafftools: stafftools_enterprise_path(this_business) %>
<%= render partial: "businesses/packages_settings/in_progress_flash_message" %>
<%= render layout: "businesses/layout",
           locals: {
             business: this_business,
             title: "Packages",
             container_attributes: "itemscope itemtype='http://schema.org/Business'"
           } do %>

  <h3 class="text-normal pb-2">Migrate to Container registry</h3>

  <%= render partial: "businesses/packages_settings/show_flash_message" %>

  <div>
    <p class = "mb-3">
      GitHub now supports Container registry. You can migrate your images from Docker and leverage the
      <%= link_to \
        "additional functionalities",
        "#{GitHub::Config::DOCS_BASE_URL}/enterprise-server@#{GitHub.major_minor_version_number}/packages/working-with-a-github-packages-registry/migrating-to-the-container-registry-from-the-docker-registry#key-differences-between-the-container-registry-and-the-docker-registry",
        class: "Link--inTextBlock" %> of the Container registry.
      <%= link_to \
        "Learn more about Container registry migration",
        "#{GitHub::Config::DOCS_BASE_URL}/enterprise-server@#{GitHub.major_minor_version_number}/packages/working-with-a-github-packages-registry/working-with-the-container-registry",
        class: "Link--inTextBlock" %>.
    </p>
    <p>
      All the images URL from Docker will continue to work during and after the migration. After the migration, you will
      have a new URL for accessing the Container Images.
    </p>
  </div>

  <div class="mt-3 col-5">
    <%= form_tag settings_packages_migration_enterprise_path, :method => :get, :"data-autosearch-results-container" => "packages_migration_org_list" do %>
      <div class="auto-search-group">
        <input type="text" name="query"
                value="<%= params[:query] %>"
                class="form-control width-full input-contrast auto-search-input js-member-filter-field"
                placeholder="Search organizations"
                required
                autocomplete="off"
                aria-label="Search organizations"
                data-throttled-autosubmit>
        <%= render Primer::Beta::Octicon.new(icon: "search") %>
        <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
      </div>
    <% end %>
  </div>

  <div id="org-list">
    <% namespace, unmigrated_package_count = fetch_namespaces(unmigrated_and_inprogress: true, query: query) %>
    <% error_namespace, error_package_count = fetch_namespaces(error_only: true, query: query) %>
    <% complete_namespace, complete_package_count = fetch_namespaces(migrated_only: true, query: query) %>

    <%= render partial: "businesses/packages_settings/orgs_list", locals: {
      namespaces_list: namespace,
      unmigrated_package_count: unmigrated_package_count,
      error_namespaces_list:  error_namespace,
      failed_count: error_package_count,
      complete_namespaces_list: complete_namespace,
      completed_count: complete_package_count,
      query: query,
      error_index: error_page_index,
      namespace_count: namespace.count,
      complete_namespace_count: complete_namespace.count,
      error_namespace_count: error_namespace.count
    } %>
  </div>

<% end %>
