<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Enterprise profile",
  selected_link: :business_profile_settings,
  stafftools: stafftools_enterprise_path(this_business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <%= render "businesses/settings/profile_nav", selected: "profile" %>

  <p class="mt-4">
    Your enterprise profile URL is
    <%= link_to enterprise_url(this_business), enterprise_url(this_business), class: "Link--inTextBlock" %>.
  </p>
  <% if GitHub.single_business_environment? %>
    <p <%= test_selector "slug-details" %>>
      The <strong><%= this_business.slug %></strong> slug in the URL
        was generated based on the company name in your license file and cannot be changed.
    </p>
  <% end %>

  <%= form_tag settings_profile_enterprise_path(this_business), method: :put, novalidate: "novalidate" do %>
    <div class="d-flex flex-shrink-0 clearfix" data-hpc>
      <div class="col-6 mr-6">
        <dl class="form-group required">
          <dt><%= label_tag "business[name]", "Enterprise display name" %></dt>
          <dd>
            <%= text_field_tag "business[name]", this_business.name %>
            <div class="note">
              Required name used to refer to your enterprise around
              <%= GitHub.flavor %>.
            </div>
          </dd>
        </dl>

        <dl class="form-group">
          <dt><%= label_tag "business[description]", "Description"%></dt>
          <dd class="js-length-limited-input-container position-relative">
            <text-expander keys=": @" data-emoji-url="<%= emoji_suggestions_path %>" data-mention-url="<%= user_suggestions_path %>">
              <%= text_field_tag "business[description]", this_business.description,
                  class: "js-length-limited-input",
                  "data-input-max-length": Business::MAX_DESCRIPTION_LENGTH,
                  "data-warning-text": "{{remaining}} remaining"
              %>
            </text-expander>
            <p class="js-length-limited-input-warning user-profile-bio-message d-none"></p>
            <div class="note">
              Optional description of your enterprise to be shown on your
              <%= link_to "enterprise profile page", enterprise_url(this_business), class: "Link--inTextBlock" %>.
            </div>
          </dd>
        </dl>

        <dl class="form-group">
          <dt><%= label_tag "business[website_url]", "Website URL" %></dt>
          <dd>
            <%= url_field_tag "business[website_url]", this_business.website_url %>
            <div class="note">
              Optional URL of your enterprise website to be shown on your
              <%= link_to "enterprise profile page", enterprise_url(this_business), class: "Link--inTextBlock" %>.
            </div>
          </dd>
        </dl>

        <dl class="form-group">
          <dt><%= label_tag "business[location]", "Location" %></dt>
          <dd>
            <%= url_field_tag "business[location]", this_business.location %>
            <div class="note">
              Optional location of your enterprise to be shown on your
              <%= link_to "enterprise profile page", enterprise_url(this_business), class: "Link--inTextBlock" %>.
            </div>
          </dd>
        </dl>

        <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>Update profile<% end %>
      </div>

      <div class="col-6">
        <%= file_attachment_tag(
          model: :avatars,
          input: "avatar-upload-input",
          class: "is-default js-upload-avatar-image",
          "data-alambic-owner-id": this_business.id,
          "data-alambic-owner-type": "Business"
        ) do %>
          <%= render partial: "settings/avatar", locals: { owner: this_business, input_id: "avatar-upload-input" } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= render Businesses::DangerZoneComponent.new(business: this_business) %>
<% end %>
