<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Enterprise profile",
             selected_link: :business_profile_settings,
             stafftools: stafftools_enterprise_path(this_business) %>

<%= render layout: "businesses/layout",
           locals: {
             business: this_business,
             container_attributes: "itemscope itemtype='http://schema.org/Business'"
           } do %>


  <%= render "businesses/settings/profile_nav", selected: "footer" %>

  <%= form_for this_business, url: settings_profile_footer_enterprise_path(this_business), method: :put, novalidate: "novalidate" do |form| %>
    <div class="col-9 enterprise-settings" data-hpc>
      <%= form.fields_for :footer_links do |footer_fields| %>
        <% has_errors = field_has_errors?(footer_fields.object, :title) || field_has_errors?(footer_fields.object, :url) %>
        <dl class="form-group <%= "errored" if has_errors %>">
          <% readable_footer_index = footer_fields.index + 1 %>
          <dt><%= footer_fields.label :title, "Footer Link #{readable_footer_index}" %></dt>
          <dd class="js-length-limited-input-container position-relative d-flex flex-wrap flex-md-nowrap flex-items-center">
            <%= footer_fields.text_field :title,
                                       class: "js-length-limited-input my-1 my-md-0",
                                       placeholder: "Link title",
                                       "data-input-max-length": 255,
                                       "data-warning-text": "{{remaining}} remaining",
                                       aria: { label: "Link title for footer link #{readable_footer_index}" }
            %>
            <%= footer_fields.text_field :url,
                                       class: "my-1 my-md-0",
                                       placeholder: "Link url",
                                       "data-input-max-length": 255,
                                       "data-warning-text": "{{remaining}} remaining",
                                       aria: { label: "Link url for footer link #{readable_footer_index}" }
            %>
            <%= footer_fields.button primer_octicon(:trash),
                                     name: "#{footer_fields.object_name}[_destroy]",
                                     value: 1,
                                     aria: { label: "Select this to clear the link title and link url for footer link #{readable_footer_index}" },
                                     class: "btn-octicon"
            %>
          </dd>
        </dl>

      <% end %>
    </div>
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>Update custom footer<% end %>
  <% end %>
<% end %>
