<% page_info title: "Sponsors",
             selected_link: :sponsors_settings,
             stafftools: stafftools_enterprise_path(business) %>
<%= render(
  layout: "businesses/layout",
  locals: {
    business: business,
    title: "Sponsors",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  },
) do %>

<div class="width-full" style="max-width: 720px;">
  <p class="col-10">
    Give your organizations the ability to sponsor projects on GitHub.
    If you disable sponsorships for an organization their current sponsorships will be canceled and they will not be able to create new sponsorships.
  </p>

  <%= render(Primer::Alpha::Dialog.new(
    title: "Grant organization sponsorships permission",
    id: "grant-org-sponsorship",
  )) do |d| %>
    <% d.with_show_button(scheme: :primary, mt: 2) { "Add organization" } %>
    <% d.with_header(show_divider: true) { "Search organizations by login" } %>
    <% d.with_body(style: "overflow-y: visible;") do %>
      <%= form_tag settings_sponsors_update_policy_enterprise_path, method: :put, :class => "input-block" do %>
        <div class="d-flex flex-items-start flex-column flex-sm-row flex-sm-items-end" style="gap: .5rem">
          <%= render Primer::Beta::AutoComplete.new(
            label_text: "",
            classes: "auto-search-group",
            src: settings_sponsors_org_suggestions_enterprise_path(business),
            list_id: "org-search-complete-results",
            input_id: "org-search-complete-input",
            input_name: "org_to_enable",
            with_icon: true,
          ) do |c| %>
            <% c.with_leading_visual_icon(icon: :search) %>
            <% c.with_input(
              classes: "input-block org-field",
              required: true
            ) %>
            <% c.with_results(
              classes: "org-results",
              position: :relative,
              mb: 2) %>
          <% end %>
          <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary)) do %>
            Enable sponsorships
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= render Sponsors::Businesses::SponsorshipsAllowedOrgsComponent.new(business: business) %>
</div>
<% end %>
