<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>

<% page_info title: "Support",
  selected_link: :business_support_settings,
  stafftools: stafftools_enterprise_path(this_business) %>

<% header_description = capture do %>
  Allow specified members to view and comment on all enterprise tickets submitted to the
  <%= link_to "GitHub Support portal", GitHub.contact_support_url(tags: "support-entitlements"), class: "Link--inTextBlock" %>
  or
  <%= link_to "upload a support bundle", "#{GitHub.support_url}/uploads", class: "Link--inTextBlock" %>.
<% end %>

<%= render layout: "businesses/layout", locals: {
  business: this_business,
  header_description: header_description,
  title: "Support",
  container_attributes: "itemscope itemtype='http://schema.org/Business'"
} do %>
  <div>
    <p>
      Enterprise administrators are automatically entitled in addition to the <%= this_business.max_support_entitlees %>
      members granted below. Entitled members will need to either use a verified domain email that matches the ticket
      author or be CC'd on the ticket to be able to view and comment.
    </p>
  </div>

  <% if this_business.calculated_support_plan.start_with?("premium_plus") %>
    <div class="d-flex">
      <%= image_tag "icons/marketing/blue/premium_support.svg", width: 40, height: 40, alt: "Premium Support" %>
      <p>Your enterprise has Premium Plus Support.</p>
    </div>
  <% elsif this_business.calculated_support_plan.start_with?("premium") %>
    <div class="d-flex">
      <%= image_tag "icons/marketing/blue/premium_support.svg", width: 40, height: 40, alt: "Premium Support" %>
      <p>Your enterprise has Premium Support.</p>
    </div>
  <% end %>

  <div class="pt-3">
    <%= form_tag enterprise_support_entitlees_path(this_business), method: :post do %>
      <div class="input-group">
        <auto-complete src="<%= enterprise_support_entitlee_suggestions_path(this_business) %>"
          for="support-entitlee-complete-results"
          class="auto-search-group d-block">
          <input type="text" name="user" aria-label="Search by username, full name or email address"
            class="form-control input-block input-contrast auto-search-input new-member-field"
            autofocus required
            placeholder="Search by name">
          <%= primer_octicon(:person) %>
          <ul id="support-entitlee-complete-results" class="m-0 autocomplete-results"></ul>
        </auto-complete>
        <div class="input-group-button"><%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, classes: "js-auto-complete-button") do %>Add support entitlement<% end %></div>
      </div>
    <% end %>
  </div>

  <div <%= test_selector "support-entitlements-settings" %> data-hpc>
    <% if entitlees.count.nonzero? %>
      <div class="d-flex table-list-header table-list-header-next">
        <span class="table-list-heading table-list-header-meta flex-auto">
          Support members
        </span>
      </div>
      <ul>
      <% entitlees.each do |member| %>
        <%= render Businesses::UserListCardComponent.new(
          user: member,
          user_link: member.spammy? ? nil : user_path(member),
          user_link_data_options: hovercard_data_attributes_for_user(member),
          primary_name: member.safe_profile_name,
          secondary_name: member.profile_name.present? ? member.display_login : nil,
          display_login: member.display_login
        ) do %>
          <%= form_tag enterprise_support_entitlee_path(this_business, member.id), method: :delete do %>
            <button class="btn-link px-2 ml-1 color-fg-danger"
                    type="submit"
                    aria-label="Remove support entitlement">
              <%= primer_octicon(:trash) %>
            </button>
          <% end %>
        <% end %>
      <% end %>
      </ul>
    <% else %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_visual_icon(icon: "people") %>

        <% c.with_heading(tag: :h2) do %>
          No users selected
        <% end %>

        <% c.with_description do %>
          There aren’t any users selected for the support portal entitlement in this enterprise.
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
