<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 5)) do |box| %>
  <% box.with_header do %>
    <h3 class="h5" class="Box-title">Code Usage</h3>
  <% end %>
  <% if @code_usage.size > 0 %>
    <ul>
      <% @code_usage.each do |code_range| %>
        <%
          template = Addressable::Template.new("/github/github/blob/{oid}/{+filename}#L{first_line}-L{last_line}")
          url = template.expand oid: GitHub.current_sha, filename: code_range[:filename], first_line: code_range[:first_line], last_line: code_range[:last_line]
        %>
        <% box.with_row(style: "overflow-y: auto;") do %>
          <a href="<%= url %>"><%= code_range[:filename] %>:<%= code_range[:first_line] %>-<%= code_range[:last_line] %></a>
          <% if code_range[:context] && code_range[:context][:line] %>
            <pre><%= code_range[:context][:line] %></pre>
          <% end %>
          <pre><%= code_range[:code] %></pre>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <% box.with_body(p: 2) do %>
      <em>No code results.</em>
    <% end %>
  <% end %>
<% end %>
