<div class="mt-4 py-4 border-top" <%= test_selector("sponsors-goals-examples") %>>
  <%= render Primer::Beta::Details.new(reset: true, overlay: :none, display: :flex, justify_content: :space_between, align_items: :center, open: !collapsed?) do |component| %>
    <% component.with_summary(button: false, classes: "btn-link Link--primary", font_weight: :bold) do %>
      <%= render Primer::Beta::Octicon.new(icon: "light-bulb", mr: 2) %>
      Need ideas?
    <% end %>
    <% component.with_body(**test_selector_data_hash("sponsors-goals-examples-content")) do %>
      <div class="my-3">
        Here are examples of goals to start with on your Sponsors profile.
        When starting, it can be helpful to have a smaller goal, such as reaching 10 sponsors
        or $50 a month.
      </div>

      <% examples.each do |e| %>
        <div class="Box Box--spacious color-bg-subtle rounded-2 border-0 mb-2">
          <div class="Box-body d-flex border-0">
            <%= image_tag(e[:avatar],
              alt: e[:login],
              width: 40,
              height: 40,
              class: "rounded avatar-user avatar flex-shrink-0",
            ) %>
            <div class="ml-3 flex-1">
              <label><%= e[:login] %>'s goal is to <%= e[:goal_title] %></label>
              <p class="mb-0">
                <%= e[:goal_description] %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
