<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="border rounded-2 width-full">
  <%= form_with scope: :goal, model: goal, url: sponsorable_dashboard_goal_path(sponsorable_login) do |f| %>
    <div class="p-4">
      <h2 class="f4">What is your goal based on?</h2>
      <div class="form-checkbox">
        <%= f.label(:kind) do %>
          <%= f.radio_button(
            :kind,
            :total_sponsors_count,
            class: "js-sponsors-goals-radio-trigger", required: true,
            data: test_selector_hash("sponsors-count-radio-button"),
          ) %>
          Number of monthly sponsors
          <p class="note">
            Your goal is based on how many monthly sponsors you have
          </p>
        <% end %>
      </div>

      <div class="form-checkbox mb-0">
        <%= f.label(:kind) do %>
          <%= f.radio_button(
            :kind,
            :monthly_sponsorship_amount,
            class: "js-sponsors-goals-radio-trigger", required: true,
            data: test_selector_hash("sponsorship-amount-radio-button"),
          ) %>
          Sponsorships a month
          <p class="note">
            Your goal is based on how much you are earning through sponsorships every month
          </p>
        <% end %>
      </div>
    </div>

    <div class="pt-2 pb-4 border-top js-sponsors-goals-radio-target"
         <%= "hidden" unless goal %>
         <%= test_selector("goal-property-inputs") %>>
      <div class="form-group required px-4">
        <%= f.label(:target_value, goal_type_label, for: :goal_target_value, class: "d-block mb-1 js-sponsors-goals-type-label") %>
        <div class="position-relative">
          <span
            class="position-absolute ml-2 color-fg-muted js-sponsors-goals-sponsorship-currency-sign"
            style="top: 6px;left: 3px;" <%= "hidden" unless goal&.monthly_sponsorship_amount? %>>
            $
          </span>
          <%= f.number_field(
            :target_value,
            id: :goal_target_value,
            class: "form-control pl-4 js-sponsors-goal-target-input",
            style: "width: 96px;",
            min: 1,
            max: SponsorsGoal::MAX_TARGET_VALUE - 1,
            step: 1,
            required: true,
           ) %>
          <span class="color-fg-muted js-sponsors-goals-sponsorship-per-month-label" hidden>/ month</span>
        </div>
      </div>

      <div class="form-group mt-4 px-4">
        <%= f.label(:description, "Describe your goal", for: :goal_description, class: "d-block mb-1") %>

        <div class="position-relative js-length-limited-input-container">
          <text-expander keys=":" data-emoji-url="<%= emoji_suggestions_path %>">
            <%= f.text_area(
              :description,
              id: :goal_description,
              class: "form-control js-length-limited-input js-sponsors-goal-description-input",
              required: true,
              placeholder: "Reaching this goal will...",
              data: {
                "input-max-length": SponsorsGoal::MAX_DESCRIPTION_LENGTH,
                "warning-text": "{{remaining}} remaining",
              }
            ) %>
          </text-expander>
          <div class="d-none mt-1 js-length-limited-input-warning text-right color-fg-danger"></div>
        </div>
      </div>

      <div class="mt-4 pt-2 px-4">
        <p class="text-small color-fg-muted mb-3">
          <strong>Preview:</strong>
          Here's how your goal will look to your sponsors when they view your sponsorship profile.
        </p>

        <%= render(Sponsors::Profile::GoalProgressComponent.new(
          sponsors_listing: sponsors_listing,
          sponsor: @sponsor,
          goal: goal,
          preview: true,
          mb: 3,
        )) %>
        <%= render Sponsors::Profile::ActiveGoalComponent.new(
          sponsors_listing: sponsors_listing,
          goal: goal,
          preview: true,
        ) %>
      </div>

      <div class="mt-4 pt-4 border-top px-4">
        <div
          class="form-checkbox mt-0 mb-4 js-sponsors-goals-accept-public-sponsorship"
          <%= "hidden" if goal&.total_sponsors_count? %>
        >
          <%= f.label(:accept_public_sponsorship) do %>
            <%= check_box_tag(:accept_public_sponsorship,
              :accept_public_sponsorship,
              goal&.monthly_sponsorship_amount?,
              required: goal&.monthly_sponsorship_amount?,
            ) %>
              <span class="color-fg-muted text-normal">
                I understand that this will publicly display how much sponsorship funds I receive each month.
              </span>
          <% end %>
        </div>

        <div class="clearfix">
          <%= render Primer::ButtonComponent.new(
            type: :submit,
            scheme: :primary,
            mr: 1,
            px: 4,
            "data-disable-invalid": "",
            "data-disable-with": "Publishing..."
          ).with_content("Publish") %>
          <%= link_to("Cancel", sponsorable_dashboard_goals_path(sponsorable_login), class: "btn") %>
        </div>
      </div>
    </div>
  <% end %>

  <% unless new_goal? %>
    <%= form_tag sponsorable_dashboard_goal_retirement_path(sponsorable_login), class: "d-inline", style: "float:right; margin-top:-48px;", method: :post do %>
      <%= render Primer::ButtonComponent.new(
        type: :submit,
        scheme: :link,
        color: :danger,
        mr: 4,
        pr: 1,
        data: { "confirm": "Are you sure you want to retire this goal? Once a goal is retired, it cannot be activated again. You will need to create a new goal." }
      ).with_content("Retire") %>
    <% end %>
  <% end %>
</div>
