<%= form_with(model: agreement, url: stafftools_sponsors_agreements_path, method: :post) do |f| %>
  <%= f.hidden_field :organization_id %>
  <div class="form-group">
    <div class="form-group-header">
      <label class="f4" for="kind">Kind (required)</label>
    </div>
    <div class="form-group-body" <%= test_selector("agreement-kind") %>>
      <%=
        f.select(
          :kind,
          agreement_kind_select_options,
          {},
          class: "form-select",
          required: true,
          id: "kind",
        )
      %>
    </div>
  </div>
  <div class="form-group">
    <div class="form-group-header">
      <label class="f4" for="version">Version (required)</label>
    </div>
    <div class="form-group-body" <%= test_selector("agreement-version") %>>
      <%=
        f.text_field(
          :version,
          required: true,
          class: "form-control",
          id: "version",
        )
      %>
    </div>
  </div>
  <div class="form-group">
    <div class="form-group-header">
      <label class="f4" for="body">Terms (required)</label>
    </div>
    <div class="form-group-body">
      <%= render Primer::Experimental::PreviewableMarkdownEditor.new(
        label: "Edit Sponsors agreement",
        preview_path: marketplace_preview_path,
        emoji_suggestions_path: emoji_suggestions_path,
      ) do |editor| %>
        <% editor.with_textarea(
          name: "sponsors_agreement[body]",
          id: "body",
          test_selector: "agreement-body",
        ) do %><%= agreement.body %><% end %>

        <% editor.with_extra do %>
          <%= csrf_hidden_input_for marketplace_preview_path, class: "js-data-preview-url-csrf" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="form-group-header">
      <label class="f4" for="org_login">Organization (optional)</label>
    </div>
    <div class="form-group-body" <%= test_selector("agreement-organization") %>>
      <%=
        f.text_field(
          :organization_login,
          class: "form-control",
          id: "org_login",
          "aria-describedby": "org-note",
          placeholder: "e.g., shopify",
        )
      %>
    </div>
    <div class="note" id="org-note">
      Specify the username of the organization that this agreement is for, if any. Case insensitive.<br>
      When set, this agreement will not show publicly for orgs to choose on their own.
    </div>
  </div>
  <div class="form-actions">
    <%= render Primer::Beta::Button.new(
      type: :submit,
      scheme: :primary,
      ).with_content("Create Sponsors agreement") %>
  </div>
<% end %>
