<% if agreements.any? %>
  <% agreements_by_organization_id.each do |org_id, agreements_for_org| %>
    <% org = orgs_by_id[org_id] %>
    <div class="Box Box--condensed mb-4">
      <div class="Box-header">
        <h3 class="Box-title">
          <% if org %>
            <a href="<%= stafftools_user_path(org) %>" <%= safe_data_attributes(hovercard_data_attributes_for_org(login: org.login, tracking: false)) %>>
              <%= render GitHub::AvatarComponent.new(actor: org, size: 24, mr: 1) %>
              <%= org.safe_profile_name %>
            </a>
          <% else %>
            Agreements not associated with an organization
          <% end %>
        </h3>
      </div>
      <div class="Box-body p-0">
        <table class="stafftools-table" <%= test_selector("sponsors-agreements-table") %>>
          <thead>
            <tr>
              <th class="px-2 v-align-middle">Name</th>
              <th class="px-2 v-align-middle">Version</th>
              <th class="px-2 v-align-middle text-center no-wrap">Active signatures</th>
              <th class="px-2 v-align-middle text-center">Options</th>
            </tr>
          </thead>
          <tbody>
            <% agreements_for_org.each do |agreement| %>
              <tr <%= test_selector("agreement-#{agreement.id}") %>>
                <td class="<%= class_names("px-2 v-align-middle", "color-fg-muted" => !latest_version?(agreement)) %>">
                  <%= agreement.name %>
                </td>
                <td class="<%= class_names(
                  "px-2 v-align-middle no-wrap",
                  "color-fg-muted" => !latest_version?(agreement),
                ) %>">
                  <%= agreement.version %>
                  <% if latest_version?(agreement) %>
                    <%= primer_octicon(:check) %>
                  <% end %>
                </td>
                <td class="<%= class_names(
                  "px-2 v-align-middle text-center",
                  "color-fg-muted" => !latest_version?(agreement) || agreement.total_active_signatures < 1,
                ) %>" <%= test_selector("active-signatures-#{agreement.id}") %>>
                  <% if agreement.total_active_signatures > 0 %>
                    <%= agreement.total_active_signatures %>
                  <% else %>
                    &mdash;
                  <% end %>
                </td>
                <td class="<%= class_names(
                  "px-2 v-align-middle text-center",
                  "color-fg-muted" => !latest_version?(agreement),
                ) %>">
                  <a href="<%= stafftools_sponsors_agreement_path(agreement) %>">View</a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% else %>
  <%= render Primer::Beta::Blankslate.new(test_selector: "agreements-blankslate") do |c| %>
    <% c.with_visual_icon(icon: "file") %>
    <% c.with_heading(tag: :h2) do %>
      No GitHub Sponsors agreements
    <% end %>
  <% end %>
<% end %>

<% if agreements.total_pages > 1 %>
  <div class="text-center" <%= test_selector("agreements-pagination") %>>
    <%= will_paginate agreements, "data-pjax" => "", :params => {
      controller: "stafftools/sponsors/agreements",
      action: "index",
    } %>
  </div>
<% end %>
