<div class="Box-row d-flex flex-items-center">
  <div class="flex-auto">
    <strong>Approve listing</strong>
    <div class="text-small color-fg-muted">
      Approve this listing and publish it to the public.
    </div>
  </div>
  <%= form_tag stafftools_sponsors_member_listing_approval_path(listing.sponsorable_login) do %>
    <%= render(Primer::Alpha::Dialog.new(
      title: "Approve Listing",
      id: "listing-approval",
    )) do |d| %>
      <% d.with_header(show_divider: true, font_weight: :bold) { "Approve Listing" } %>
      <% d.with_show_button(scheme: :primary) { "Approve" } %>
      <% d.with_body do %>
        <p>Are you sure you want to approve <strong><%= listing.sponsorable_login %></strong> for display in GitHub Sponsors?</p>
      <% end %>
      <% d.with_footer do %>
        <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "listing-approval" })) { "Cancel" } %>
        <%= render(Primer::Beta::Button.new(
          type: :submit,
          scheme: :primary,
          autofocus: true,
          "data-disable-with": "Updating..."
        )) { "Approve" } %>
      <% end %>
    <% end %>
  <% end %>
</div>
