<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="Box-row d-flex flex-items-center" <%= test_selector("disable-listing-stafftools") %>>
  <div class="flex-auto">
    <strong>Cancel approval request</strong>
    <div class="text-small color-fg-muted">
      Sends the listing back to draft state.
    </div>
  </div>

  <%= render(GitHub::DialogComponent.new(title: "Cancel approval request")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :danger) do %>Re-draft<% end %>
    <% end %>
    <% dialog.with_body do %>
      <%= form_tag stafftools_sponsors_member_request_approval_path(@listing.sponsorable), method: :delete do %>
        <p>
          Are you sure you want to cancel the request for approval on
          <strong><%= @listing.sponsorable %></strong>'s Sponsors listing?
        </p>
        <p>
          The maintainer can re-request approval later.
        </p>
        <button type="submit" class="btn btn-block btn-danger mt-4" data-disable-with="Canceling request..." autofocus>
          Revert listing to draft
        </button>
      <% end %>
    <% end %>
  <% end %>
</div>
