<%= render Primer::Alpha::Dialog.new(title: "Issue manual payout", id: modal_id) do |dialog| %>
  <%= form_tag stafftools_sponsors_member_stripe_connect_account_payouts_path(sponsorable, stripe_account), method: :post do %>
    <%= dialog.with_body(pb: 0) do %>
      <p>Why are you issuing a manual payout?</p>
      <dl class="form-group">
        <dt class="text-bold">Sponsors maintainer:</dt>
        <dd>
          <%= render Sponsors::Sponsorables::AvatarComponent.new(sponsors_listing: sponsors_listing, size: 16) %>
          <%= sponsors_listing.sponsorable_login %>
        </dd>
      </dl>
      <dl class="form-group">
        <dt class="text-bold">Stripe account ID:</dt>
        <dd>
          <a href="<%= stripe_account.stripe_dashboard_url %>" target="_blank" rel="noopener noreferrer">
            <%= stripe_account.stripe_account_id %>
            <%= render Primer::Beta::Octicon.new(icon: "link-external", ml: 1) %>
          </a>
        </dd>
      </dl>
      <% if manual_payout_restricted? %>
        <dl class="form-group">
          <dt class="text-bold">Manual Payout Restricted:</dt>
          <dd>
            <p>
              Payouts restricted due to commercial interaction restrictions.
            </p>
          </dd>
        </dl>
      <% else %>
        <dl class="form-group">
          <dt>
            <label for="issue_manual_payout_reason">Reason:</label>
          </dt>
          <dd>
            <input type="text"
                id="issue_manual_payout_reason"
                name="reason"
                class="form-control input-block input-contrast"
                aria-label="Why are you issuing a manual payout?"
                <%= test_selector("manual-payout-reason") %>
                required
                placeholder="Add a reason to issue a manual payout">
          </dd>
        </dl>
      <% end %>
    <% end %>
    <%= dialog.with_footer do %>
      <%= render Primer::Beta::Button.new(
        type: :submit,
        block: true,
        test_selector: "issue-stripe-payouts",
      ).with_content("Issue manual payout") %>
    <% end %>
  <% end %>
<% end %>
