<%= render Primer::Alpha::Dialog.new(title: "Deactivate Stripe Connect account", id: modal_id) do |dialog| %>
  <%= form_tag stafftools_sponsors_member_stripe_connect_account_deactivation_path(sponsorable, stripe_account), method: :post do %>
    <%= dialog.with_body(pb: 0) do %>
      <p>Mark this Stripe Connect account as not the active one for this listing.</p>

      <dl class="form-group">
        <dt class="text-bold">Sponsors maintainer:</dt>
        <dd>
          <%= render Sponsors::Sponsorables::AvatarComponent.new(sponsors_listing: sponsors_listing, size: 16) %>
          <%= sponsors_listing.sponsorable_login %>
        </dd>
      </dl>
      <dl class="form-group">
        <dt class="text-bold">Stripe account ID:</dt>
        <dd>
          <a href="<%= stripe_account.stripe_dashboard_url %>" target="_blank" rel="noopener noreferrer">
            <%= stripe_account.stripe_account_id %>
            <%= render Primer::Beta::Octicon.new(icon: "link-external", ml: 1) %>
          </a>
        </dd>
      </dl>

      <% if !allow_deactivate? %>
        <dl class="form-group">
          <dt class="text-bold">Restriction:</dt>
          <dd>
            <p>
              <%= reason_deactivate_is_not_allowed %>
            </p>
          </dd>
        </dl>
      <% else %>
        <dl class="form-group">
          <dt>
            <label for="deactivate-stripe-confirm">To confirm, enter the Stripe account ID:</label>
          </dt>
          <dd>
            <input autofocus type="text"
              id="deactivate-stripe-confirm"
              name="deactivate_confirm"
              class="form-control input-block input-contrast"
              data-required-value-prefix="Required: "
              data-required-value="<%= stripe_account %>"
              required
              placeholder="<%= stripe_account %>">
          </dd>
        </dl>
      <% end %>
    <% end %>

    <% if allow_deactivate? %>
      <%= dialog.with_footer do %>
        <%= render Primer::Beta::Button.new(
          type: :submit,
          block: true,
          test_selector: "deactivate-stripe-account-button",
        ).with_content("Deactivate Stripe Connect account") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
