<%# erblint:counter DeprecatedComponentsCounter 4 %>
<div class="Box-row d-flex flex-items-center" <%= test_selector("delete-listing-stafftools") %>>
  <div class="flex-auto">
    <strong>Delete GitHub Sponsors profile</strong>
    <div class="text-small color-fg-muted">
      Deletes the maintainer's Sponsors profile, stopping them from getting new sponsors.
    </div>
  </div>

  <%= render(GitHub::DialogComponent.new(title: "Delete GitHub Sponsors profile")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <%= render Primer::ButtonComponent.new(
        tag: :summary,
        scheme: :danger,
      ).with_content("Delete") %>
    <% end %>
    <% dialog.with_body do %>
      <%= form_tag(stafftools_sponsors_member_path(sponsorable_login), method: :delete) do %>
        <p>
          Are you sure you want to delete <strong><%= sponsorable_login %></strong>'s GitHub Sponsors listing?
        </p>
        <p>
          Consider disabling instead, unless the user specifically wants all of their data deleted!
        </p>
        <% if has_potentially_received_funds? %>
          <%= render Primer::Beta::Flash.new(scheme: :danger, test_selector: "confirm-financial-data-downloaded") do %>
            <p>
              This maintainer has potentially received funds in Stripe for sponsorships. We need to retain the financial
              data for auditing purposes. Get the revenue team to download the data and verify they have saved it
              &mdash; see
              <a class="Link--inTextBlock" target="_blank" rel="noopener noreferrer" href="https://github.com/github/sponsors/issues/4584">github/sponsors#4584</a>
              as an example.
            </p>
            <p>
              If you have already done this, you can enter the maintainer's username below to proceed with deletion.
            </p>
            <%= render Primer::Alpha::TextField.new(
              name: :confirm,
              label: "Confirm whose Stripe financial data was saved:",
              placeholder: sponsorable_login,
            ) %>
          <% end %>
        <% elsif human_reason_delete_is_not_allowed %>
          <%= render Primer::Beta::Flash.new(scheme: :danger, test_selector: "delete-listing-stafftools-block-deletion-reason") do %>
            <%= human_reason_delete_is_not_allowed %>.
          <% end %>
        <% end %>
        <%= render Primer::ButtonComponent.new(
          type: :submit,
          scheme: :danger,
          block: true,
          mt: 4,
          data: { disable_with: "Deleting..." },
          test_selector: "delete-listing-stafftools-submit-delete",
        ).with_content("Delete") %>
      <% end %>
    <% end %>
  <% end %>
</div>
