<%= render Primer::Alpha::Dialog.new(title: "Delete Stripe Connect account", id: modal_id) do |dialog| %>
  <%= form_tag stafftools_sponsors_member_stripe_connect_account_path(sponsorable, stripe_account), method: :delete do %>
    <%= dialog.with_body(pb: 0) do %>
      <p>Are you sure you want to delete this Stripe Connect account?</p>

      <dl class="form-group">
        <dt class="text-bold">Sponsors maintainer:</dt>
        <dd>
          <%= render Sponsors::Sponsorables::AvatarComponent.new(sponsors_listing: sponsors_listing, size: 16) %>
          <%= sponsors_listing.sponsorable_login %>
        </dd>
      </dl>
      <dl class="form-group">
        <dt class="text-bold">Stripe account ID:</dt>
        <dd>
          <a href="<%= stripe_account.stripe_dashboard_url %>" target="_blank" rel="noopener noreferrer">
            <%= stripe_account.stripe_account_id %>
            <%= render Primer::Beta::Octicon.new(icon: "link-external", ml: 1) %>
          </a>
        </dd>
      </dl>

      <% if !allow_delete? %>
        <dl class="form-group">
          <dt class="text-bold">Restriction:</dt>
          <dd>
            <p>
              <%= human_reason_delete_is_not_allowed %>
            </p>
          </dd>
        </dl>
      <% else %>
        <dl class="form-group">
          <dt>
            <label for="delete-stripe-confirm">To confirm, enter the Stripe account ID:</label>
          </dt>
          <dd>
            <input autofocus type="text"
              id="delete-stripe-confirm"
              name="delete_confirm"
              class="form-control input-block input-contrast"
              data-required-value-prefix="Required: "
              data-required-value="<%= stripe_account %>"
              required
              placeholder="<%= stripe_account %>">
              <p class="note">This is action is not reversible.</p>
          </dd>
        </dl>
        <% if show_prior_activity_warning? %>
          <%= render Primer::Alpha::Banner.new(scheme: :warning) do |component| %>
            <%= render Primer::Beta::Text.new(tag: :p, font_weight: :bold) do |headline| %>
              This account has previous transaction history
            <% end %>
            <%= render Primer::Beta::Text.new(tag: :p) do |headline| %>
              GitHub is required to keep transaction data for auditing purposes. Before deleting this account, please
              confirm that you have
              <%= render Primer::Beta::Link.new(href: DOWNLOAD_STRIPE_DATA_DOCS_URL, target: "_blank") do %>
                saved the account data
                <%= render Primer::Beta::Octicon.new(icon: :"link-external", size: :small) %>
              <% end %>.
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if allow_delete? %>
      <%= dialog.with_footer do %>
        <%= render Primer::Beta::Button.new(
          type: :submit,
          block: true,
          test_selector: "delete-stripe-account-button",
        ).with_content("Delete Stripe Connect account") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
