<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="Box-row d-flex flex-items-center" <%= test_selector("disable-listing-stafftools") %>>
  <div class="flex-auto">
    <strong>Disable listing</strong>
    <div class="text-small color-fg-muted">
      Cancels all active sponsorships and disables the listing!
    </div>
  </div>

  <%= render(GitHub::DialogComponent.new(title: "Disable Listing")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :danger) do %>Disable<% end %>
    <% end %>
    <% dialog.with_body do %>
      <%= form_tag stafftools_sponsors_member_listing_disable_path(@listing.sponsorable) do %>
        <p>
          Are you sure you want to disable <strong><%= @listing.sponsorable %></strong>'s GitHub Sponsors listing?
        </p>
        <p>
          This will <strong>cancel all active sponsorships</strong>!
        </p>
        <p>
          The maintainer has the option to reactivate their listing, which will revert them to a draft state!
          They can re-request approval afterwards.
        </p>
        <%= render Primer::ButtonComponent.new(
          type: :submit,
          scheme: :danger,
          block: true,
          mt: 4,
          data: { disable_with: "Disabling..." }
        ).with_content("Disable") %>
      <% end %>
    <% end %>
  <% end %>
</div>
