<div class="Box-row">
  <h5>Export payouts history</h5>
  <p class="note">
    Export payouts for organizations using <strong><%= sponsorable_login %></strong> as their fiscal host in the
    requested timeframe.<br>
    We'll email the export to you at <strong <%= test_selector("recipient-email") %>><%= current_user.email %></strong>; change this in <a class="Link--inTextBlock" href="<%= settings_email_preferences_path %>">your settings</a>.
  </p>

  <div class="col-4 mt-2">
    <include-fragment
      src="<%= stafftools_sponsors_member_payout_exports_path(sponsorable_login) %>"
      aria-label="Loading latest payout information..."
      class="d-flex flex-items-center"
    >
      <%= render(Primer::Beta::Spinner.new(size: :small, mr: 2)) %>
      <div class="color-fg-muted no-wrap">Loading export options&hellip;</div>
    </include-fragment>
  </div>
</div>
