<div class="mb-2 text-bold">Sponsor statuses</div>

<div class="mb-1" <%= test_selector("listing-status") %>>
  <%= emoji_tag(Emoji.find_by_alias("page_with_curl")) %>
  <span class="text-bold">Listing &mdash;</span>
  <span class="<%= listing_status.text_class %>">
    <%= render Primer::Beta::Octicon.new(
      icon: listing_status.octicon,
      color: listing_status.icon_color
    ) %>
    <%= listing_status.label %>
  </span>
</div>

<div class="mb-1" <%= test_selector("payout-status") %>>
  <%= emoji_tag(Emoji.find_by_alias("moneybag")) %>
  <span class="text-bold">Payouts &mdash;</span>
  <%= render Stafftools::Sponsors::Members::PayoutStatusComponent.new(
    stripe_account: stripe_connect_account
  ) %>
</div>

<div class="mb-1" <%= test_selector("matching-status") %>>
  <%= emoji_tag(Emoji.find_by_alias("money_mouth_face")) %>
  <span class="text-bold">Matching &mdash;</span>
  <span class="<%= matching_status.text_class %>">
    <%= render Primer::Beta::Octicon.new(
      icon: matching_status.octicon,
      color: matching_status.icon_color
    ) %>
    <%= matching_status.label %>
  </span>
</div>
