<% if show_undo_acceptance_button? %>
  <%= form_tag stafftools_sponsors_member_acceptance_path(sponsors_listing.sponsorable_login), method: :delete do %>
    <%= render Primer::Beta::Button.new(
      type: :submit,
      scheme: :danger,
      block: true,
      mb: 2,
      "data-disable-with": "Undoing acceptance…",
      test_selector: "undo-acceptance-button",
    ).with_content("Undo acceptance") %>
  <% end %>
<% end %>

<% if show_accept_button? %>
  <%= form_tag stafftools_sponsors_member_acceptance_path(sponsors_listing.sponsorable_login), method: :post do %>
    <%= render Primer::Beta::Button.new(
      type: :submit,
      scheme: :primary,
      block: true,
      mb: trade_restricted? || unsupported_country? ? 0 : 2,
      "data-disable-with": "Accepting…",
      test_selector: "accept-membership-button",
      "data-hotkey": "Control+Enter,Meta+Enter",
    ).with_content("Accept") %>
    <% if trade_restricted? %>
      <div class="<%= class_names("note fgColor-attention",
        "mb-2" => !unsupported_country?,
        "mb-1" => unsupported_country?,
      ) %>" <%= test_selector("trade-restricted-note") %>>
        Account is trade restricted
      </div>
    <% end %>
    <% if unsupported_country? %>
      <div class="note mb-2 fgColor-attention" <%= test_selector("unsupported-country-note") %>>
        Billing country or region not supported
      </div>
    <% end %>
  <% end %>
<% end %>

<% if show_reactivate_button? %>
  <%= form_tag stafftools_sponsors_member_reactivation_path(sponsors_listing.sponsorable_login), method: :post do %>
    <%= render Primer::Beta::Button.new(
      type: :submit,
      block: true,
      mb: 2,
      "data-disable-with": "Reactivating…",
      "data-confirm": "Are you sure you want to reactivate this user's Sponsors profile?",
      test_selector: "reactivate-button",
    ).with_content("Return to draft") %>
  <% end %>
<% end %>

<% if show_undo_ban_button? %>
  <%= form_tag stafftools_sponsors_member_ban_path(sponsors_listing.sponsorable_login), method: :delete do %>
    <%= render Primer::Beta::Button.new(
      type: :submit,
      scheme: :danger,
      block: true,
      mb: 2,
      "data-disable-with": "Undoing ban…",
      "data-confirm": "Are you sure you want to unban this user?",
      test_selector: "undo-ban-button",
    ).with_content("Undo ban") %>
  <% end %>
<% else %>
  <%= render Primer::Alpha::Dialog.new(
    title: "Ban this #{user_type} from Sponsors",
    size: :medium_portrait,
  ) do |dialog| %>
    <%= form_tag stafftools_sponsors_member_ban_path(sponsors_listing.sponsorable_login), method: :post do %>
      <% dialog.with_show_button(scheme: :danger, mb: 2, block: true) do %>
        Ban <%= user_type %>
      <% end %>
      <%= dialog.with_body do %>
        <p>Are you sure you want to ban this <%= user_type %>?</p>
        <p>Sponsorships they are receiving will be cancelled, their Sponsors profile will be disabled, and sponsors will be emailed to let them know the maintainer is no longer participating in the program.</p>
        <dl class="form-group mb-0">
          <dt><label for="banned_reason">Ban reason (for internal use):</label></dt>
          <dd>
            <textarea autofocus name="banned_reason" id="banned_reason" class="form-control"
              placeholder="e.g., suspected fraud, see https://github.com/github/platform-health-incidents/issues/431"
              style="height: 85px; min-height: 85px" required></textarea>
            <p class="note">Please explain why you are banning this <%= user_type %>
            from GitHub Sponsors. This will be shown in stafftools.</p>
          </dd>
        </dl>
      <% end %>
      <%= dialog.with_footer do %>
        <%= render Primer::Beta::Button.new(
          type: :submit,
          scheme: :danger,
          block: true,
          test_selector: "ban-button",
          data: {
            disable_with: "Banning #{user_type}…",
            disable_invalid: true,
          },
        ).with_content("Ban from Sponsors") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if show_unignore_button? %>
  <%= form_tag stafftools_sponsors_member_ignore_path(sponsors_listing.sponsorable_login), method: :delete do %>
    <%= render Primer::Beta::Button.new(
      scheme: :danger,
      type: :submit,
      block: true,
      "data-confirm": "Are you sure you want to un-ignore this Sponsors profile? This will only be visible in stafftools.",
      "data-disable-with": "Un-ignoring #{user_type}…",
      test_selector: "un-ignore-button",
    ).with_content("Un-ignore profile") %>
  <% end %>
<% else %>
  <%= form_tag stafftools_sponsors_member_ignore_path(sponsors_listing.sponsorable_login), method: :post do %>
    <%= render Primer::Beta::Button.new(
      scheme: :danger,
      type: :submit,
      block: true,
      "data-confirm": "Are you sure you want to ignore this Sponsors profile? This will only be visible in stafftools.",
      "data-disable-with": "Ignoring #{user_type}…",
      test_selector: "ignore-button",
    ).with_content("Ignore profile") %>
  <% end %>
<% end %>
