<%# erblint:counter DeprecatedComponentsCounter 7 %>
<div class="mb-2 text-bold">Info</div>

<div class="mb-2" <%= test_selector("join-date") %>>
  <span class="d-block text-bold">Join date</span>
  <span class="d-block"><%= join_date %></span>
</div>

<% if membership_accepted_date %>
  <div class="mb-2" <%= test_selector("membership-accepted-date") %>>
    <span class="d-block text-bold">Membership accepted</span>
    <span class="d-block"><%= membership_accepted_date %></span>
  </div>
<% end %>

<% if banned? %>
  <div class="mb-2" <%= test_selector("banned") %>>
    <span class="d-block text-bold color-fg-danger">Banned from program</span>
    <span class="d-block">
      <relative-time datetime="<%= stafftools_metadata.banned_at %>"></relative-time>
      <% if stafftools_metadata.banned_by %>
        by <%= stafftools_metadata.banned_by %>
      <% end %>
    </span>
    <% if stafftools_metadata.banned_reason.present? %>
      <p class="note"><%= stafftools_metadata.banned_reason %></p>
    <% end %>
  </div>
<% end %>

<% if ignored? %>
  <div class="mb-2" <%= test_selector("ignored") %>>
    <span class="d-block text-bold color-fg-severe">Ignored on</span>
    <span class="d-block"><%= format_date(stafftools_metadata.ignored_at) %></span>
  </div>
<% end %>

<% if reviewed? %>
  <div class="mb-2" <%= test_selector("last-reviewed") %>>
    <span class="d-block text-bold">Last reviewed</span>
    <span class="d-block">
      <relative-time datetime="<%= stafftools_metadata.reviewed_at %>"></relative-time>
    </span>
  </div>
<% end %>

<div class="mb-2" <%= test_selector("waitlisted") %>>
  <span class="d-block text-bold">Waitlisted on</span>
  <span class="d-block"><%= format_date(listing.joined_at) %></span>

  <% if listing.for_user? %>
    <span class="d-block text-small color-fg-muted">
      <%= octicon("dot-fill", size: "16", class: match_icon_class) %>
      <%= match_deadline_eligible? ? "Before" : "After" %> match cutoff
    </span>
  <% end %>
</div>

<div class="mb-2" <%= test_selector("contact-information") %>>
  <% if listing.for_organization? %>
    <span class="d-block text-bold">Contact information</span>
    <% if sponsorable.billing_email.present? %>
      <span class="d-block css-truncate css-truncate-target expandable">
        <%= render(Primer::Beta::Octicon.new(icon: "mail", size: :small, mr: 2, color: :muted)) %>
        <%= sponsorable.billing_email %>
      </span>
      <% if sponsorable.can_be_contacted? %>
        <span class="d-block text-small color-fg-muted" <%= test_selector("contact-accepts-marketing") %>>
          <%= primer_octicon(:check, color: :success) %>
          Accepts marketing
        </span>
      <% end %>
    <% else %>
      <span class="color-fg-muted text-italic">Not set</span>
    <% end %>
  <% else %>
    <details id="contact-email-edit" class="Details-element details-reset js-dropdown-details">
      <summary class="d-block">
        <div class="Details-content--closed">
          <span class="d-block text-bold">Contact information</span>
          <div>
            <% if listing.contact_email.present? %>
              <span class="css-truncate css-truncate-target expandable">
                <%= render(Primer::Beta::Octicon.new(icon: "mail", size: :small, mr: 2, color: :muted)) %>
                <%= listing.contact_email %>
              </span>
            <% else %>
              <span class="color-fg-muted text-italic">Not set</span>
            <% end %>
            &mdash;
            <span class="btn-link">Edit</span>
          </div>
          <% if sponsorable.can_be_contacted? %>
            <span class="d-block text-small color-fg-muted" <%= test_selector("contact-accepts-marketing") %>>
              <%= primer_octicon(:check, color: :success) %>
              Accepts marketing
            </span>
          <% end %>
        </div>
        <div class="Details-content--open sr-only">Cancel edit contact email</div>
      </summary>

      <%= form_tag stafftools_sponsors_member_path(sponsorable), method: :put do %>
        <dl class="form-group">
          <dt><label for="contact_email">Contact email</label></dt>
          <dd>
            <%= select_tag(
              :contact_email,
              options_for_select(sponsors_emails_options, listing.contact_email_id),
              include_blank: "Remove email",
              id: "contact_email",
              name: "sponsors_listing[contact_email_id]",
              class: "form-select form-select",
              required: true,
              prompt: "Select a contact email",
            ) %>
          </dd>
        </dl>
        <div class="no-wrap">
          <%= render Primer::ButtonComponent.new(variant: :small, type: :submit) do %>Save<% end %>
          or <%= render Primer::ButtonComponent.new(scheme: :link, "data-toggle-for": "contact-email-edit") do %>Cancel<% end %>
        </div>
      <% end %>
    </details>
  <% end %>

  <% if twitter_url.present? %>
    <%= link_to twitter_url, rel: "noopener noreferrer", class: "d-block", target: "_blank", data: test_selector_hash("twitter-profile") do %>
      <%= svg("site/icons/twitter", class: "octicon mr-1 color-fg-muted", height: "16px") %>
      <%= twitter_username %>
    <% end %>
  <% end %>
</div>

<div class="mb-2" <%= test_selector("billing-country") %>>
  <details id="billing-country-edit" class="Details-element details-reset js-dropdown-details">
    <summary class="d-block">
      <div class="Details-content--closed">
        <span class="d-block text-bold">Billing country or region</span>
        <div>
          <% if listing.full_billing_country.present? %>
            <span><%= listing.full_billing_country %></span>
          <% else %>
            <span class="color-fg-muted text-italic">Not set</span>
          <% end %>
          &mdash;
          <span class="btn-link">Edit</span>
        </div>
      </div>
      <div class="Details-content--open sr-only">Cancel edit billing country or region</div>
    </summary>

    <%= form_tag stafftools_sponsors_member_path(sponsorable), method: :put do %>
      <dl class="form-group">
        <dt><label for="country">Billing country or region</label></dt>
        <dd>
          <%= render Primer::Beta::Flash.new(scheme: :warning, mb: 2, icon: :alert) do %>
            Changing the billing country or region could decide if a user should be on Stripe Connect or use manual payouts.
            Please only change this if you know <strong>exactly</strong> what you're doing!
          <% end %>
          <%= select_tag(:billing_country, options_for_select(
              billing_country_options,
              listing.billing_country
            ),
              id: "country",
              name: "sponsors_listing[billing_country]",
              class: "form-select form-select",
              required: true,
              prompt: "Select a country or region",
          ) %>
        </dd>
      </dl>
      <div class="no-wrap">
        <%= render Primer::ButtonComponent.new(variant: :small, type: :submit) do %>Save<% end %>
        or <%= render Primer::ButtonComponent.new(scheme: :link, "data-toggle-for": "billing-country-edit") do %>Cancel<% end %>
      </div>
    <% end %>
  </details>
</div>

<div class="mb-2" <%= test_selector("residence-country") %>>
  <span class="d-block text-bold">Residence country or region</span>
  <% if listing.has_country_of_residence? %>
    <span class="d-block"><%= listing.country_of_residence_name %></span>
  <% else %>
    <span class="color-fg-muted text-italic">Not set</span>
  <% end %>
</div>

<%= render Stafftools::Sponsors::Members::UsingFiscalHostFormComponent.new(
  sponsors_listing: listing,
) %>

<% if listing.for_organization? %>
  <div class="mb-2" <%= test_selector("fiscal-host") %>>
    <details id="is-fiscal-host-edit" class="Details-element details-reset js-dropdown-details">
      <summary class="d-block">
        <div class="Details-content--closed">
          <span class="d-block text-bold">Is fiscal host?</span>
          <div>
            <span><%= listing.fiscal_host? ? "Yes" : "No" %></span>
            &mdash;
            <span class="btn-link">Edit</span>
          </div>
        </div>
        <div class="Details-content--open sr-only">Cancel edit fiscal host status</div>
      </summary>
      <%= form_tag stafftools_sponsors_member_path(sponsorable), method: :put do %>
        <input type="hidden" name="sponsors_listing[is_fiscal_host]" value="0">
        <label>
          <%= check_box_tag "sponsors_listing[is_fiscal_host]", 1, listing.fiscal_host? %>
          Fiscal host
        </label>
        <div class="no-wrap mt-2">
          <%= render Primer::ButtonComponent.new(variant: :small, type: :submit, "data-confirm": "Are you sure you want to change the fiscal host status for #{ sponsorable }?") do %>Save<% end %>
          or <%= render Primer::ButtonComponent.new(scheme: :link, "data-toggle-for": "is-fiscal-host-edit") do %>Cancel<% end %>
        </div>
      <% end %>
    </details>
  </div>
<% end %>

<%= render sponsoring_others_component %>

<% if has_stripe_account? %>
  <div class="mb-2" <%= test_selector("stripe-balance") %>>
    <span class="d-block text-bold">Stripe balance</span>
    <div class="d-flex">
      <include-fragment src="<%= stripe_balance_path %>" class="d-flex flex-items-center">
        <%= render(Primer::Beta::Spinner.new("aria-label": "Loading...", size: :small, mr: 1)) %>
        <span class="color-fg-muted">Loading balance...</span>
      </include-fragment>
    </div>
  </div>
<% end %>

<div class="mb-2" <%= test_selector("sponsors-count") %>>
  <span class="d-block text-bold">Number of sponsors</span>
  <span class="d-block"><%= sponsors_count %></span>
</div>

<%= render(Stafftools::Sponsors::PatreonUserComponent.new(user: sponsorable)) %>

<div class="mt-3">
  <ul class="site-admin-detail-list">
    <li <%= test_selector("stafftools-audit-log") %>>
      <%= primer_octicon(:history) %>
      <a href="<%= stafftools_audit_log_path(query: audit_log_query) %>">
        Search audit logs
      </a>
    </li>
    <li <%= test_selector("stafftools-overview") %>>
      <%= primer_octicon(:rocket) %>
      <a href="<%= stafftools_user_overview_path(sponsorable) %>">
        View in Stafftools
      </a>
    </li>
    <li <%= test_selector("stafftools-activities") %>>
      <%= primer_octicon(:"credit-card") %>
      <a href="<%= stafftools_sponsors_member_activities_path(sponsorable) %>">
        View Activities
      </a>
    </li>
    <% if stripe_transfers_enabled? %>
      <li <%= test_selector("stafftools-stripe") %>>
        <%= primer_octicon(:flame) %>
        <%= link_to has_stripe_account? ? "View transfers" : "View transfers for fiscal host", stripe_transfers_path %>
      </li>
    <% end %>
  </ul>
</div>
