<div class="mb-2" <%= test_selector("patreon-info") %>>
  <span class="d-block text-bold">Patreon</span>
  <span class="d-flex">
    <% if patreon_link.present? %> <%= link_to patreon_username, patreon_link %> <% end %> —
    <%= form_tag stafftools_user_sponsors_patreon_users_path(user), method: :patch do %>
      <%= render Primer::Beta::Button.new(scheme: :link, type: :submit) do %>
        resync
      <% end %>
    <% end %>
  </span>
  <span class="<%= sponsorable_settings[:text_color] %>">
    <%= render Primer::Beta::Octicon.new(
      icon: sponsorable_settings[:icon], color: sponsorable_settings[:icon_color]
    )%>
    <%= sponsorable_settings[:label] %>
  </span>
</div>
