<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= form_with(model: potential_sponsorship, url: form_url, class: "Box js-potential-sponsorship-form") do |form| %>
  <%= form.hidden_field :potential_sponsor_id %>
  <div class="Box-body">
    <dl class="form-group mt-0">
      <dt class="form-group-header text-bold">Potential sponsorable:</dt>
      <dd class="form-group-body">
        <%= render GitHub::AvatarComponent.new(actor: potential_sponsorable, size: 24, mr: 1) %>
        <%= potential_sponsorable.safe_profile_name %>
        <% unless potential_sponsorable.safe_profile_name == potential_sponsorable.login %>
          <small class="text-normal color-fg-muted">@<%= potential_sponsorable %></small>
        <% end %>
      </dd>
    </dl>
    <dl class="form-group">
      <dt class="form-group-header">
        <label id="potential_sponsor_label" for="potential_sponsorship_potential_sponsor_login">Potential sponsor:</label>
      </dt>
      <dd class="form-group-body">
        <auto-complete src="<%= stafftools_sponsors_potential_sponsors_path(potential_sponsorable_id: potential_sponsorable.id) %>" for="potential-sponsors-popup" aria-labelledby="potential_sponsor_label" data-autoselect="true" class="position-relative">
          <input name="potential_sponsor_login" id="potential_sponsorship_potential_sponsor_login" type="text"
            <%= "autofocus" if potential_sponsorship.new_record? %>
            role="combobox" aria-controls="potential-sponsors-popup" aria-expanded="false" aria-autocomplete="list"
            aria-haspopup="listbox" autocomplete="off" spellcheck="false" class="form-control"
            value="<%= potential_sponsorship.potential_sponsor %>">
          <%= render Primer::ButtonComponent.new(
            "aria-label": "Clear:",
            type: :button,
            id: "potential_sponsorship_potential_sponsor_login-clear",
          ) do %>
            <%= primer_octicon(:x, "aria-label": "Remove user selection") %>
          <% end %>
          <ul id="potential-sponsors-popup" aria-label="Results" role="listbox" class="form-control position-absolute" hidden></ul>
          <div id="potential-sponsors-popup-feedback" class="sr-only" aria-live="polite" aria-atomic="true"></div>
        </auto-complete>
        <div class="note">
          Which user or organization has expressed interest in sponsoring <%= potential_sponsorable %>?<br>
          Their identity will <em>not</em> be shown to <%= potential_sponsorable %>.
        </div>
      </dd>
    </dl>
    <dl class="form-group mb-0">
      <dt class="form-group-header">
        <%= form.label :message, "Custom message: (optional)", for: "potential_sponsorship_message" %>
      </dt>
      <dd class="form-group-body">
        <%= form.text_area :message, class: "form-control", id: "potential_sponsorship_message",
          style: "height: 90px; min-height: 90px", autofocus: potential_sponsorship.persisted? %>
        <div class="note">
          This will be shown to <%= potential_sponsorable %> in a banner in addition to a default message encouraging
          them to create a GitHub Sponsors profile because someone wants to sponsor them.
        </div>
      </dd>
    </dl>
  </div>
  <div class="Box-footer d-flex flex-items-center flex-justify-between">
    <%= render Primer::ButtonComponent.new(
      tag: :a,
      scheme: :link,
      href: stafftools_sponsors_potential_sponsorships_path,
      classes: "Link--muted",
    ).with_content("Cancel") %>
    <%= render Primer::ButtonComponent.new(
      type: :submit,
      scheme: :primary,
    ).with_content(submit_button_text) %>
  </div>
<% end %>

<div class="Box mt-4">
  <div class="Box-header">
    <h2 class="Box-title">Preview</h2>
  </div>
  <div class="Box-body">
    <p>
      We'll show this banner to
      <% if potential_sponsorable.user? %>
        <%= potential_sponsorable %>
      <% else %>
        <%= potential_sponsorable %>'s admins
      <% end %>
      on the GitHub home page:
    </p>
    <%= form_tag stafftools_user_potential_sponsorable_banner_preview_path(potential_sponsorable), class: "js-potential-sponsorship-banner-preview-form" do %>
      <input type="hidden" name="potential_sponsorship[message]" value="<%= potential_sponsorship.message %>">
      <input type="hidden" name="potential_sponsorship[potential_sponsor_id]"
        value="<%= potential_sponsorship.potential_sponsor_id %>">
      <input type="hidden" name="potential_sponsor_login" value="<%= potential_sponsorship.potential_sponsor %>">
      <%= render Sponsors::PotentialSponsorableBannerComponent.new(
        potential_sponsorship: potential_sponsorship,
        preview_mode: true,
      ) %>
    <% end %>
  </div>
</div>
