<div class="Box Box--condensed">
  <div class="Box-body p-0">
    <% if potential_sponsorships.any? %>
      <table class="stafftools-table" <%= test_selector("potential-sponsorships-table") %>>
        <thead>
          <tr>
            <th class="pl-2 pr-1" colspan="2">Status</th>
            <th class="pl-0 pr-2">Potential sponsorable</th>
            <th class="px-2">Potential sponsor</th>
            <th class="px-2">Creator</th>
            <th class="px-2">Last updated</th>
            <th class="px-2 text-center">Options</th>
          </tr>
        </thead>
        <tbody>
          <% potential_sponsorships.each do |potential_sponsorship| %>
            <%= render Stafftools::Sponsors::PotentialSponsorshipListItemComponent.new(
              potential_sponsorship: potential_sponsorship,
            ) %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= render Primer::Beta::Blankslate.new(test_selector: "potential-sponsorships-blankslate") do |c| %>
        <% c.with_visual_icon(icon: "heart") %>
        <% c.with_heading(tag: :h2) do %>
          No potential sponsorships yet
        <% end %>
        <% c.with_description do %>
          View a user or organization's page in stafftools to create a potential sponsorship so they'll see a banner
          encouraging them to sign up for GitHub Sponsors.
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if potential_sponsorships.total_pages > 1 %>
    <div class="Box-footer text-center" <%= test_selector("potential-sponsorships-pagination") %>>
      <%= will_paginate potential_sponsorships, "data-pjax" => "", :params => {
        controller: "stafftools/sponsors/potential_sponsorships",
        action: "index",
      } %>
    </div>
  <% end %>
</div>
