<tr <%= test_selector("potential-sponsorship-#{potential_sponsorship.id}") %>>
  <td class="pl-2 pr-1 v-align-middle text-center">
    <%= primer_octicon(icon, color: icon_color) %>
  </td>
  <td class="pl-0 pr-2 v-align-middle">
    <%= render Primer::Beta::Label.new(
      scheme: state_scheme,
    ).with_content(potential_sponsorship.human_state) %>
  </td>
  <td class="px-2 v-align-middle">
    <% if current_user == potential_sponsorable %>
      You
    <% else %>
      <a href="<%= potential_sponsorable_url %>" <%= safe_data_attributes(hovercard_data_attributes_for_user(potential_sponsorable, tracking: false)) %>>
        <%= render GitHub::AvatarComponent.new(actor: potential_sponsorable, size: 24, mr: 1) %>
        <%= potential_sponsorable.safe_profile_name %>
      </a>
    <% end %>
  </td>
  <td class="px-2 v-align-middle">
    <% if current_user == potential_sponsor %>
      You
    <% else %>
      <a href="<%= potential_sponsor_url %>" <%= safe_data_attributes(hovercard_data_attributes_for_user(potential_sponsor, tracking: false)) %>>
        <%= render GitHub::AvatarComponent.new(actor: potential_sponsor, size: 24, mr: 1) %>
        <%= potential_sponsor.safe_profile_name %>
      </a>
    <% end %>
  </td>
  <td class="px-2 v-align-middle">
    <% if current_user == potential_sponsorship.created_by %>
      You
    <% else %>
      <a href="<%= stafftools_user_path(potential_sponsorship.created_by) %>" <%= safe_data_attributes(hovercard_data_attributes_for_user(potential_sponsorship.created_by, tracking: false)) %>>
        <%= render GitHub::AvatarComponent.new(actor: potential_sponsorship.created_by, size: 24, mr: 1) %>
        <%= potential_sponsorship.created_by.safe_profile_name %>
      </a>
    <% end %>
  </td>
  <td class="px-2 v-align-middle no-wrap">
    <%= render Primer::Beta::RelativeTime.new(datetime: potential_sponsorship.updated_at, tense: :past) %>
  </td>
  <td class="px-2 v-align-middle no-wrap text-center">
    <% if potential_sponsorship.pending? %>
      <a href="<%= edit_url %>" class="Link--secondary mr-2">
        Edit
      </a>
    <% end %>
    <%= button_to(
      delete_url,
      class: "btn-link color-fg-danger",
      form_class: "d-inline-block",
      "aria-label": "Delete nudge",
      title: "Delete nudge",
      method: :delete,
      data: {
        confirm: "Are you sure you want to delete the nudge for " \
          "#{potential_sponsorable} to sign up for GitHub Sponsors?",
      },
    ) do %>
      <%= primer_octicon(:trash) %>
    <% end %>
  </td>
</tr>
