<tr class="<%= class_names("Box-row", "color-bg-inset" => odd_row?) %>">
  <td class="p-2 billing-table-cell">
    <a href="<%= stafftools_user_path(sponsorable) %>" <%= safe_data_attributes(hovercard_data_attributes_for_user(sponsorable)) %>>
      <%= render GitHub::AvatarComponent.new(actor: sponsorable, size: 20, classes: "avatar-small") %>
    </a>
  </td>
  <td class="p-2">
    <a href="<%= stafftools_sponsors_member_path(sponsorable) %>" <%= safe_data_attributes(hovercard_data_attributes_for_user(sponsorable)) %> class="text-bold">
      @<%= sponsorable %>
    </a>
  </td>
  <td class="p-2 text-center billing-table-cell">
    <% if sponsors_listing.country_of_residence_flag_emoji_alias %>
      <% unless sponsors_listing.supported_country_of_residence? %>
        <%= link_to stafftools_sponsors_member_path(sponsorable), class: "color-fg-attention", id: "unsupported_country_icon_#{sponsorship_id}" do %>
          <%= primer_octicon :alert, color: :attention, size: :small %>
        <% end %>
        <%= render Primer::Alpha::Tooltip.new(
          for_id: "unsupported_country_icon_#{sponsorship_id}",
          text: "#{sponsors_listing.country_of_residence_name} is not a supported country",
          type: :label,
          direction: :n,
          display: :inline_block,
        ) %>
      <% end %>
      <%= link_to stafftools_sponsors_member_path(sponsorable), id: "country_flag_emoji_#{sponsorship_id}" do %>
        <%= emoji_tag(Emoji.find_by_alias(sponsors_listing.country_of_residence_flag_emoji_alias),
          class: "emoji emoji-icon") %>
      <% end %>
      <%= render Primer::Alpha::Tooltip.new(
        text: sponsors_listing.country_of_residence_name,
        for_id: "country_flag_emoji_#{sponsorship_id}",
        type: :label,
        direction: :n,
        display: :inline_block,
      ) %>
    <% else %>
      <% if sponsors_listing.supported_country_of_residence? %>
        <%= sponsors_listing.country_of_residence_name %>
      <% else %>
        <%= link_to sponsors_listing.country_of_residence_name || "none",
          stafftools_sponsors_member_path(sponsorable), id: "unsupported_country_name_#{sponsorship_id}",
          class: "color-fg-attention" %>
        <%= render Primer::Alpha::Tooltip.new(
          text: "#{sponsors_listing.country_of_residence_name} is not a supported country",
          type: :description,
          direction: :n,
          for_id: "unsupported_country_name_#{sponsorship_id}",
          display: :inline_block,
        ) %>
      <% end %>
    <% end %>
  </td>
  <td class="border-right p-2">
    <div class="flex-justify-around d-flex flex-items-center">
      <% if sponsorable.spammy? %>
        <%= link_to stafftools_user_path(sponsorable), id: "spammy-label_#{sponsorship_id}" do %>
          <%= render Primer::Beta::Label.new(scheme: :danger).with_content("S") %>
        <% end %>
        <%= render Primer::Alpha::Tooltip.new(
          type: :label,
          text: "Spammy",
          direction: :w,
          for_id: "spammy-label_#{sponsorship_id}",
        ) %>
      <% end %>
      <% unless sponsors_listing.sponsorable_has_public_non_fork_repository? %>
        <%= link_to stafftools_user_repositories_path(sponsorable), id: "no-public-repos-label_#{sponsorship_id}" do %>
          <%= render Primer::Beta::Label.new(scheme: :danger).with_content("R") %>
        <% end %>
        <%= render Primer::Alpha::Tooltip.new(
          type: :label,
          text: "No public repositories that aren't forks",
          direction: :w,
          for_id: "no-public-repos-label_#{sponsorship_id}",
        ) %>
      <% end %>
      <% if sponsors_listing.recently_created_github_account? %>
        <%= link_to stafftools_user_path(sponsorable), id: "recent-account-label_#{sponsorship_id}" do %>
          <%= render Primer::Beta::Label.new(scheme: :danger).with_content("A") %>
        <% end %>
        <%= render Primer::Alpha::Tooltip.new(
          type: :label,
          text: "Created GitHub account recently",
          direction: :w,
          for_id: "recent-account-label_#{sponsorship_id}",
        ) %>
      <% elsif sponsors_listing.sponsorable_has_received_abuse_report? %>
        <%= link_to stafftools_user_abuse_reports_path(sponsorable), id: "abuse-report-label_#{sponsorship_id}" do %>
          <%= render Primer::Beta::Label.new(scheme: :warning).with_content("A") %>
        <% end %>
        <%= render Primer::Alpha::Tooltip.new(
          type: :label,
          text: "Has received an abuse report",
          direction: :w,
          for_id: "abuse-report-label_#{sponsorship_id}",
        ) %>
      <% end %>
      <% if sponsorable.user? %>
        <% if sponsorable.time_zone_name.blank? %>
          <%= link_to stafftools_user_path(sponsorable), id: "no-time-zone-label_#{sponsorship_id}" do %>
            <%= render Primer::Beta::Label.new(scheme: :warning).with_content("T") %>
          <% end %>
          <%= render Primer::Alpha::Tooltip.new(
            type: :label,
            text: "No time zone",
            direction: :w,
            for_id: "no-time-zone-label_#{sponsorship_id}",
          ) %>
        <% elsif !sponsors_listing.sponsorable_has_supported_timezone? %>
          <%= link_to stafftools_user_path(sponsorable), id: "unsupported-time-zone-label_#{sponsorship_id}" do %>
            <%= render Primer::Beta::Label.new(scheme: :danger).with_content("T") %>
          <% end %>
          <%= render Primer::Alpha::Tooltip.new(
            text: helpers.sponsors_member_unsupported_time_zone_message(sponsors_listing),
            type: :label,
            direction: :w,
            for_id: "unsupported-time-zone-label_#{sponsorship_id}",
          ) %>
        <% elsif !sponsors_listing.sponsorable_timezone_matches_country_of_residence? %>
          <%= link_to stafftools_user_path(sponsorable), id: "time-zone-mismatch-label_#{sponsorship_id}" do %>
            <%= render Primer::Beta::Label.new(scheme: :warning).with_content("T") %>
          <% end %>
          <%= render Primer::Alpha::Tooltip.new(
            type: :label,
            text: "Time zone (#{sponsors_listing.sponsorable_time_zone_name}) does not match country of residence",
            direction: :w,
            for_id: "time-zone-mismatch-label_#{sponsorship_id}",
          ) %>
        <% end %>
      <% end %>
      <% unless sponsors_listing.sponsorable_has_customized_user_profile? %>
        <a href="<%= user_path(sponsorable) %>" id="no-customized-profile-label_<%= sponsorship_id %>">
          <%= render Primer::Beta::Label.new(scheme: :danger).with_content("P") %>
        </a>
        <%= render Primer::Alpha::Tooltip.new(
          text: "Has not customized GitHub profile page",
          direction: :w,
          type: :label,
          for_id: "no-customized-profile-label_#{sponsorship_id}",
        ) %>
      <% end %>
    </div>
  </td>

  <td class="p-2 billing-table-cell">
    <a href="<%= stafftools_user_path(sponsor) %>" <%= safe_data_attributes(hovercard_data_attributes_for_user(sponsor)) %>>
      <%= render GitHub::AvatarComponent.new(actor: sponsor, size: 20, classes: "avatar-small") %>
    </a>
  </td>
  <td class="p-2">
    <a href="<%= stafftools_user_billing_history_path(sponsor) %>" <%= safe_data_attributes(hovercard_data_attributes_for_user(sponsor)) %> class="text-bold">
      @<%= sponsor %>
    </a>
    <% if premium_sponsor? %>
      <%= link_to stafftools_sponsors_invoiced_sponsor_sponsorships_path(sponsor) do %>
        <%= render Primer::Beta::Label.new(
          border_color: :sponsors_emphasis,
          test_selector: "invoiced-sponsor",
          color: :sponsors,
        ).with_content("Invoiced sponsor") %>
      <% end %>
    <% end %>
  </td>
  <td class="p-2">
    <% if private_sponsorship? %>
      <%= primer_octicon(:lock, title: "Private sponsorship", "aria-label": "Private sponsorship",
        test_selector: "private-sponsorship") %>
    <% end %>
  </td>
  <td class="border-right p-2">
    <div class="flex-justify-around d-flex flex-items-center">
      <% if sponsor.spammy? %>
        <%= link_to stafftools_user_path(sponsor), id: "sponsor-spammy-label_#{sponsorship_id}" do %>
          <%= render Primer::Beta::Label.new(scheme: :danger).with_content("S") %>
        <% end %>
        <%= render Primer::Alpha::Tooltip.new(
          type: :label,
          text: "Spammy",
          direction: :w,
          for_id: "sponsor-spammy-label_#{sponsorship_id}",
        ) %>
      <% end %>
      <% if sponsor.created_at >= SponsorsListingStafftoolsMetadata::NEW_ACCOUNT_AGE_CUTOFF_IN_DAYS.days.ago %>
        <%= link_to stafftools_user_path(sponsor), id: "sponsor-recent-account-label_#{sponsorship_id}" do %>
          <%= render Primer::Beta::Label.new(scheme: :danger).with_content("A") %>
        <% end %>
        <%= render Primer::Alpha::Tooltip.new(
          type: :label,
          text: "Created GitHub account recently",
          direction: :w,
          for_id: "sponsor-recent-account-label_#{sponsorship_id}",
        ) %>
      <% end %>
    </div>
  </td>

  <td class="p-2 text-right billing-table-cell">
    <div>
      <span <%= test_selector("tier-price") %>><%= tier.base_price.format(no_cents_if_whole: true) %></span>
      <span class="color-fg-muted"><%= tier.recurring? ? "/ mo" : "once" %></span>
    </div>
    <% if tier_selected_at %>
      <div class="note"><%= helpers.time_ago_in_words_js tier_selected_at %></div>
    <% end %>
  </td>
  <td class="p-2 border-right">
    <div class="flex-justify-around d-flex flex-items-center">
      <% if via_bulk_sponsorship? %>
        <%= link_to "https://github.com/github/sponsors/issues/4019", id: "via-bulk-sponsorship-icon-#{sponsorship_id}" do %>
          <%= render Sponsors::BulkSponsorshipIconComponent.new(size: 20) %>
        <% end %>
        <%= render Primer::Alpha::Tooltip.new(
          type: :label,
          text: "Via bulk sponsorship",
          direction: :w,
          for_id: "via-bulk-sponsorship-icon-#{sponsorship_id}",
        ) %>
      <% end %>
    </div>
  </td>

  <% if billing_transaction %>
    <td class="p-2 billing-table-cell" <%= test_selector("transaction-price") %>>
      <%= billing_transaction.amount.format(no_cents_if_whole: true) %>
      <div class="note"><%= helpers.time_ago_in_words_js billing_transaction.created_at %></div>
    </td>
    <td class="billing-table-cell text-center p-2 border-right">
      <% if billing_transaction.credit_card? %>
        <%= primer_octicon(:"credit-card", "aria-label": "Credit or debit card, #{billing_transaction.card_type}", test_selector: "credit-card") %>
      <% elsif billing_transaction.paypal? %>
        <img alt="PayPal" src="<%= image_path "paypal/paypal-small.png" %>" class="paypal-icon">
      <% else %>
        <%= billing_transaction.payment_type %>
      <% end %>
      <div class="note">
        <code>
          <% if billing_transaction.transaction_id.blank? %>
            N/A
          <% else %>
            <%= link_to billing_transaction.short_transaction_id, billing_transaction.platform_url,
              title: "Open Transaction #{billing_transaction.transaction_id.upcase} in #{billing_transaction.platform_name}" %>
          <% end %>
        </code>
      </div>
    </td>
  <% else %>
    <td class="billing-table-cell text-center p-2 border-right" colspan="2">
      <% if patreon? %>
        <%= render Primer::Beta::Label.new(scheme: :primary, test_selector: "patreon").with_content("Patreon") %>
      <% elsif paid? %>
        &mdash;
      <% else %>
        <%= render Primer::Beta::Label.new(scheme: :danger, test_selector: "unpaid").with_content("Unpaid") %>
      <% end %>
    </td>
  <% end %>
</tr>
