<%= render(Primer::Alpha::Dialog.new(
  title: "Connect #{org.display_login} to a customer on Stripe",
  text_align: :left,
)) do |dialog| %>
  <% dialog.with_show_button(
    size: :small,
    scheme: :link,
    font_weight: :normal,
    classes: "Link--secondary",
    test_selector: "edit-stripe-customer-button-#{org.id}",
  ) do %>
    Edit
  <% end %>
  <% dialog.with_body do %>
    <%= form_tag stafftools_user_organization_profile_path(org), method: :put do %>
      <p>
        By tying this organization to a Stripe customer, admins and billing managers of the organization will be able to
        self-service creating a Stripe invoice to increase their sponsorship balance.
      </p>
      <input type="hidden" name="organization_profile[stripe_customer_id]" value="<%= stripe_customer_id %>">
      <div class="form-group">
        <label>Current Stripe customer ID:</label>
        <% if stripe_customer_id.present? %>
          <a href="<%= helpers.stripe_customer_url(stripe_customer_id) %>" target="_blank" rel="noopener noreferrer">
            <%= render Primer::Beta::Label.new(font_family: :mono).with_content(stripe_customer_id) %>
          </a>
        <% else %>
          Not set
        <% end %>
      </div>
      <div class="form-group">
        <%= render Primer::Beta::AutoComplete.new(
          label_text: "Search Stripe customers to associate with this organization:",
          src: stripe_customers_stafftools_sponsors_path(stripe_customer_id: stripe_customer_id),
          full_width: true,
          input_id: "org-#{org.login}-stripe-customer-autocomplete",
          list_id: "org-#{org.login}-stripe-customer-autocomplete-list",
          input_name: "organization_profile[stripe_customer_id]",
          placeholder: "Search by name or email"
        ) do |autocomplete| %>
          <% autocomplete.with_leading_visual_icon(icon: :search) %>
        <% end %>
      </div>
      <div class="form-actions">
        <%= render Primer::Beta::Button.new(
          type: :submit,
          scheme: :primary,
        ).with_content("Link Stripe customer") %>
      </div>
    <% end %>
  <% end %>
<% end %>
