<%= render Primer::Alpha::Dialog.new(title: menu_item_label, id: modal_id) do |dialog| %>
  <%= form_tag stafftools_sponsors_member_stripe_connect_account_payout_toggle_path(sponsorable, stripe_account), method: form_method do %>
    <%= dialog.with_body(pb: 0) do %>
      <p><%= body %></p>
      <dl class="form-group">
        <dt class="text-bold">Sponsors maintainer:</dt>
        <dd>
          <%= render Sponsors::Sponsorables::AvatarComponent.new(sponsors_listing: sponsors_listing, size: 16) %>
          <%= sponsors_listing.sponsorable_login %>
        </dd>
      </dl>
      <dl class="form-group">
        <dt class="text-bold">Stripe account ID:</dt>
        <dd>
          <a href="<%= stripe_account.stripe_dashboard_url %>" target="_blank" rel="noopener noreferrer">
            <%= stripe_account.stripe_account_id %>
            <%= render Primer::Beta::Octicon.new(icon: "link-external", ml: 1) %>
          </a>
        </dd>
      </dl>

      <% if payouts_disabled? %>
        <% unless allow_enabled? %>
          <dl class="form-group">
            <dt class="text-bold">Payout Restricted:</dt>
            <dd>
              <div class="note">
                <%= reason_enabled_is_not_allowed %>
              </div>
            </dd>
          </dl>
        <% end %>
      <% else %>
        <dl class="form-group">
          <dt>
            <label for="disabled_payout_reason">Reason:</label>
          </dt>
          <dd>
            <input type="text"
              id="disabled_payout_reason"
              name="disable_reason"
              class="form-control input-block input-contrast"
              aria-label="Disable reason"
              <%= test_selector("disable-reason") %>
              required
              placeholder="Add a reason for disabling payouts">
          </dd>
        </dl>
      <% end %>
    <% end %>

    <% if payouts_disabled? && allow_enabled? || !payouts_disabled? %>
      <%= dialog.with_footer do %>
        <% if payouts_disabled? %>
          <% if allow_enabled? %>
            <%= render Primer::Beta::Button.new(
              type: :submit,
              block: true,
              mt: 2,
              test_selector: "enable-stripe-payouts",
            ).with_content("Enable payouts") %>
          <% end %>
        <% else # payouts are currently enabled %>
          <%= render Primer::Beta::Button.new(
            type: :submit,
            block: true,
            mt: 2,
            test_selector: "disable-stripe-payouts",
          ).with_content("Disable payouts") %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
