<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="Box-row d-flex flex-items-center">
  <div class="flex-auto">
    <strong <%= test_selector("toggle-match-title") %>><%= title %></strong>
    <div class="text-small color-fg-muted" <%= test_selector("toggle-match-body") %>>
      <%= body %>
    </div>
  </div>
  <%= render GitHub::DialogComponent.new(title: title) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :danger) do %><%= title %><% end %>
    <% end %>
    <% dialog.with_body do %>
      <%= form_tag stafftools_sponsors_member_listing_match_toggle_path(sponsorable_login), method: form_method, data: test_selector_hash("toggle-match-form") do %>
        <p>Are you sure you want to <%= action.downcase %> matching for <strong><%= sponsorable_login %></strong>?</p>
        <% if match_enabled? %>
          <dl class="form-group">
            <dt><label for="disable_reason">Reason for disabling</label></dt>
            <dd>
              <input type="text"
                    name="disable_reason"
                    class="form-control input-block input-contrast"
                    aria-label="Disable reason"
                    required
                    placeholder="Add a reason for disabling match"
                    <%= test_selector("toggle-match-reason") %>>
            </dd>
          </dl>
        <% end %>
        <button type="submit" class="btn btn-block btn-danger mt-2" data-disable-with="Updating..." autofocus>
          <%= title %>
        </button>
      <% end %>
    <% end %>
  <% end %>
</div>
