<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% content = capture do %>
  <% if stripe_payouts_sorted_by_created.empty? %>
    <%= render Primer::Beta::Blankslate.new(test_selector: "no-payouts") do |c| %>
      <% c.with_heading(tag: :h2) do %>
        No payouts
      <% end %>

      <% c.with_description do %>
        When you have received a GitHub Sponsors payout, it will appear here.
      <% end %>
    <% end %>
  <% else %>
    <%= form_tag sponsorable_dashboard_payout_receipts_path(sponsors_listing.sponsorable_login), class: "js-sponsors-payout-receipt-form" do %>
      <input type="hidden" name="stripe_account_id" class="js-sponsors-stripe-id">
      <input type="hidden" name="payout_start_date_unix" class="js-sponsors-payout-start-date-unix">

      <div class="form-group">
        <div class="form-group-header">
          <label for="choose-a-payout">Generate a statement for:</label>
        </div>
        <div class="form-group-body">
          <%= render Primer::Experimental::SelectMenuComponent.new(
            position: :relative,
            mr: 2,
            menu: { tag: :"details-menu", w: :full },
            details: { overlay: :default },
            modal: { w: :full },
          ) do |c| %><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <% c.with_summary(
              classes: "js-sponsors-chosen-payout",
              "data-default-text": "Choose a payout",
              id: "choose-a-payout",
            ) do %>
              Choose a payout or year
            <% end %>

            <% c.with_list(title: "Payouts") do |l| %>
              <% stripe_payouts_sorted_by_created.each_with_index do |stripe_payout, i| %>
                <%
                  stripe_account_id = stripe_payout.stripe_account_id
                  destination = stripe_payout.destination

                  # Payouts are a descending sort on creation, so the previous payout is the next element in the array
                  prev_stripe_payout = stripe_payouts_sorted_by_created[i+1]
                %>

                <% l.with_item(tag: :label, classes: "js-sponsors-stripe-payout-container") do %>
                  <input type="radio" hidden name="payout_id" class="js-sponsors-stripe-payout"
                    <% if prev_stripe_payout %>data-payout-start-date-unix="<%= prev_stripe_payout.created %>"<% end %>
                    data-stripe-account-id="<%= stripe_account_id %>" value="<%= stripe_payout.id %>" <%= test_selector("#{i}-#{stripe_payout.id}") %>>
                  <div class="select-menu-item-text d-flex flex-items-center flex-justify-between flex-wrap">
                    <div class="js-sponsors-stripe-payout-text">
                      <%= stripe_payout.created_at.strftime("%B %-d, %Y") %>
                    </div>
                    <div class="color-fg-muted d-inline-block pl-3">
                      <% if destination %>
                        <% if destination.respond_to?(:bank_name) %>
                          <%= destination.bank_name %>
                        <% elsif destination.respond_to?(:brand) %>
                          <%= destination.brand %>
                        <% end %>
                        <% if destination.respond_to?(:last4) %>
                          &middot;&middot;&middot;&middot;
                          <%= destination.last4 %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
            <% c.with_list(title: "Years") do |l| %>
              <% total_paid_out_by_year.each do |year, payout_total| %>
                <% l.with_item(tag: :label, classes: "js-sponsors-stripe-payout-container") do %>
                  <input type="radio" hidden name="payout_year" class="js-sponsors-payout-year"
                    value="<%= year %>">
                  <div class="select-menu-item-text d-flex flex-items-center flex-justify-between js-sponsors-stripe-payout-text">
                    <%= year %>
                    &middot;
                    <%= payout_total.format %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <label for="tax_id">Tax ID (optional):</label>
        </div>
        <div class="form-group-body">
          <input class="form-control" type="text" name="tax_id" id="tax_id" value="<%= tax_id %>" aria-describedby="tax_id_note">
          <div class="note" id="tax_id_note">
            You can specify a VAT (Value-added tax), GST (Goods and services tax), or other tax ID for display in your
            statement.
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <label for="address1">Your address, line 1 (optional):</label>
        </div>
        <div class="form-group-body">
          <input class="form-control" placeholder="123 Main St" type="text" name="address1" id="address1" aria-describedby="address1_note">
          <div class="note" id="address1_note">
            You can specify your address for display in the statement.
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group-header">
          <label for="address2">Your address, line 2 (optional):</label>
        </div>
        <div class="form-group-body">
          <input class="form-control" placeholder="Anywhere, USA" type="text" name="address2" id="address2">
        </div>
      </div>

      <div class="form-actions">
        <%= render Primer::ButtonComponent.new(
          type: :submit,
          disabled: true,
          classes: "js-sponsors-generate-receipt-button"
        ) do %>
          Generate statement
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if include_layout %>
  <%= render layout: "sponsors/dashboards/layout", locals: { sponsors_listing: sponsors_listing, selected_tab: :payouts } do %>
    <%= content %>
  <% end %>
<% else %>
  <%= content %>
<% end %>
