<%# erblint:counter DeprecatedComponentsCounter 9 %>
<%# erblint:counter DeprecatedInPrimerCounter 7 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div
  class="float-right js-socket-channel js-updatable-content"
  data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.pre_receive_environment_state(environment)) %>"
  data-url="<%= environment_actions_enterprise_pre_receive_environment_path(GitHub.global_business, environment) %>"
  >
  <% if environment.default_environment? %>
    <%= render Primer::ButtonComponent.new(variant: :small, classes: "tooltipped tooltipped-n disabled", "aria-label": "Default environment can not be edited") do %>Edit<% end %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
    <%= render Primer::ButtonComponent.new(variant: :small, classes: "tooltipped tooltipped-n disabled", "aria-label": "Default environment can not be downloaded") do %>Download<% end %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
    <%= render Primer::ButtonComponent.new(variant: :small, classes: "tooltipped tooltipped-n disabled", "aria-label": "Default environment can not be deleted") do %>Delete<% end %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
  <% elsif environment.download_in_progress? %>
    <%= render Primer::ButtonComponent.new(variant: :small, classes: "tooltipped tooltipped-n disabled", "aria-label": "Environment can not be edited while download is in progress") do %>Edit<% end %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
    <%= render Primer::ButtonComponent.new(variant: :small, classes: "tooltipped tooltipped-n disabled", "aria-label": "Environment can not be downloaded while download is in progress") do %>Download<% end %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
    <%= render Primer::ButtonComponent.new(variant: :small, classes: "tooltipped tooltipped-n disabled", "aria-label": "Environment can not be deleted while download is in progress") do %>Delete<% end %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
  <% else %>
    <a href="<%= enterprise_pre_receive_environment_path(GitHub.global_business, environment) %>" class="btn btn-sm" data-pjax>
      Edit
    </a>
    <%= form_tag download_enterprise_pre_receive_environment_path(GitHub.global_business, environment), class: "inline-form" do %>
      <%= render Primer::ButtonComponent.new(type: :submit, variant: :small) do %>Download<% end %>
    <% end %>

    <% if environment.hooks.any? %>
      <%= render Primer::ButtonComponent.new(variant: :small, scheme: :danger, classes: "tooltipped tooltipped-n disabled", "aria-label": "Environment can not be deleted while in use by pre-receive hooks") do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
        Delete
      <% end %>
    <% else %>
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Delete",
        button_class: "btn btn-sm btn-danger",
        title: "Delete #{environment.name}?"
      } do %>
        <%= render(Primer::Beta::Flash.new(scheme: :warning, full: true)) do %>
          This action cannot be undone.
        <% end %>
        <div class="Box-body">
          <%= button_to "Yes, delete #{environment.name}",
            enterprise_pre_receive_environment_path(GitHub.global_business, environment.id),
            class: "btn btn-block btn-danger", method: :delete %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
