<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: "Hooks & Services", selected_link: :hooks %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Manage pre-receive hook environments",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div class="settings-next color-fg-default pre-receive-bucket">
    <p>
      When a push occurs, each script runs in an
      <a class="Link--inTextBlock" href="<%= GitHub.enterprise_admin_help_url %>/policies/creating-a-pre-receive-hook-environment">isolated environment</a>
      and determines whether the push is accepted or rejected. An environment can include custom libraries and dependencies
      needed to run the script. You can upload your environment from a URL or via the command line.
    </p>

    <%= render Primer::Beta::Link.new(
        href: new_enterprise_pre_receive_environment_path(GitHub.global_business),
        classes: "btn",
        mb: 3
      ) do %>
        Add environment
    <% end %>

    <div>
      <ul class="listgroup">
        <% @environments.each do |environment| %>
          <li class="listgroup-item pre-receive-hook-list">

            <%= render "businesses/pre_receive_environments/environment_actions", environment: environment %>
            <div class="content no-status">
              <span>
                <strong><%= environment.name %></strong>
              </span>

              <ul class="details">
                <% unless environment.default_environment? %>
                <li>
                  <span class="title">Location: </span>
                  <span><%= environment.image_url %></span>
                </li>
                <li>
                  <span class="title">Status: </span>
                  <span class="js-socket-channel js-hook-environment-channel" data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.pre_receive_environment_state(environment)) %>">
                    <%= environment.download_display_message %>
                  </span>

                </li>
                <% end %>
                <li>
                  <span class="title">Used by: </span>
                  <span><%= environment.hooks.count %> pre-receive hooks</span>
                </li>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
