<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: "Hooks & Services", selected_link: :hooks %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Edit pre-receive hook environment",
    back_to_link_path: enterprise_pre_receive_environments_path(GitHub.global_business),
    back_to_link_text: "pre-receive hook environments",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div class="settings-next color-fg-default pre-receive-bucket">
    <p>
      An <a class="Link--inTextBlock" href="<%= GitHub.enterprise_admin_help_url %>/policies/creating-a-pre-receive-hook-environment">environment</a>
      can include custom libraries and dependencies needed to run the script. You can upload your environment from a URL or
      <a class="Link--inTextBlock" href="<%= GitHub.enterprise_admin_help_url %>/policies/creating-a-pre-receive-hook-environment#uploading-a-pre-receive-hook-environment-via-the-administrative-shell">via the command line</a>.
    </p>
    <div>
      <%= form_for @environment, url: enterprise_pre_receive_environment_path(GitHub.global_business), method: :put do |f| %>
        <%= f.text_group "Environment name", :name, :value => @environment.name, :error => error_for(@environment, :name) %>

        <%= f.text_group "Upload environment from a URL", :image_url, :value => @environment.image_url, :error => error_for(@environment, :image_url) %>

        <%= render Primer::ButtonComponent.new(scheme: :primary, classes: "form-action-spacious", type: :submit, "data-disable-with": "Saving changes…", "aria-label": "Save changes") do %>
          Update environment
        <% end %>

      <% end %>
    </div>
  </div>
<% end %>
