<%= link_to user_gist_path(gist.user_param, gist), :class => "select-menu-item
                                                              js-navigation-item
                                                              js-navigation-open clearfix" do %>
  <% if gist.owner == current_user %>
    <%= primer_octicon(gist_type_symbol(gist), height: 32) %>
  <% elsif gist.anonymous? %>
    <%= anonymous_gist_avatar 30, :class => "avatar" %>
  <% else %>
    <%= avatar_for gist.owner, 30, :class => "avatar" %>
  <% end %>

  <h4 class="css-truncate css-truncate-target"><%= gist.name_with_title %></h4>
  <span class="css-truncate css-truncate-target"><%= gist.description %></span>
<% end %>
