<% page_info :title => "Search" %>

<%= render layout: "layouts/gists_container" do %>
  <div class="container-lg py-6 my-6 col-6">
    <div id="gist_search">
      <h2 class="text-normal">
        <%= primer_octicon(:search, size: :medium) %>
        Search more than <strong>17.7M</strong> gists
      </h2>

      <%= form_tag gist_search_path, :method => :get, :id => "search_form", :class => "my-3" do %>
        <div class="TableObject search-form-fluid">
          <div class="TableObject-item TableObject-item--primary">
            <input class="form-control input-block" type="text" data-hotkey="s" name="q" placeholder="Search Gist" aria-label="Search Gist" autocapitalize="off" autofocus autocomplete="off" spellcheck="false"><%# erblint:disable DataHotkey %>
            <input type="hidden" name="ref" value="simplesearch">
          </div>
          <div class="TableObject-item">
            <%= render Primer::Beta::Button.new(type: :submit) do %>Search<% end %>
          </div>
        </div>
      <% end %>

      <strong>ProTip!</strong> For an advanced search, use some of our prefixes.
      <br>
      <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/search-github/searching-on-github/searching-gists", classes: "Link--inTextBlock")) { "Gist search cheat sheet" } %>
    </div>
  </div>
<% end %>
