<div id="active_discussions">
  <h3 class="conversation-list-heading">
    <span class="inner">
      <%= primer_octicon(:"comment-discussion") %>
      <span class="text-emphasized"><%= number_with_delimiter view.summary.active.size %></span>
      Unresolved conversation<%= 's' if view.summary.active.size != 1 %>
    </span>
  </h3>
  <p class="mt-3">
    Sometimes conversations happen on old items that aren’t yet closed.
    Here is a list of all the Issues and Pull Requests with unresolved
    conversations.
  </p>

  <ul class="list-style-none my-4">
    <% view.summary.active.each do |obj, comment_count| %>
    <li class="clearfix">
      <%= primer_octicon(:'comment-discussion', color: :muted, float: :left, mt: 1) %>
      <div class="overflow-hidden pl-2">
        <a href="<%= obj.url %>" class="h4 Link--primary mb-1"><%= obj.title %></a>
        <p class="color-fg-muted text-small">
          #<%= obj.number %> commented on <%= time_ago_in_words_js obj.updated_at %> • <%= pluralize comment_count, 'new comment' %>
        </p>
      </div>
    </li>
    <% end %>
  </ul>
</div>
