<div id="issues">
  <% if view.summary.closed_issues.size > 0 %>
    <h3 class="conversation-list-heading" id="closed-issues">
      <span class="inner">
        <%= primer_octicon(:'issue-closed', color: :done) %>
        <%= view.formatted_pluralize(view.summary.closed_issues.size, 'Issue') %>
        closed by <%= view.formatted_pluralize(view.summary.user_count_for(:closed_issues), 'person') %>
      </span>
    </h3>
    <ul class="list-style-none my-4">
      <% view.summary.closed_issues.each do |issue| %>
      <li class="clearfix">
        <% if issue.state_reason_not_planned? %>
        <%= primer_octicon(:'skip', color: :muted, float: :left, mt: 1, alt: "closed as not planned") %>
        <% else %>
        <%= primer_octicon(:'issue-closed', color: :done, float: :left, mt: 1, alt: "closed") %>
        <% end %>
        <div class="overflow-hidden pl-2">
          <a href="<%= issue_path(issue) %>" class="h4 Link--primary mb-1"><%= issue.title %></a>
          <p class="color-fg-muted text-small">
            <span class="num">#<%= issue.number %></span> closed <%= time_ago_in_words_js issue.closed_at %>
          </p>
        </div>
      </li>
      <% end %>
    </ul>
  <% end %>

  <% if view.summary.new_issues.size > 0 %>
    <h3 class="conversation-list-heading" id="new-issues">
      <span class="inner">
        <%= primer_octicon(:'issue-opened', color: :success) %>
        <%= view.formatted_pluralize(view.summary.new_issues.size, 'Issue') %>
        opened by <%= view.formatted_pluralize(view.summary.user_count_for(:new_issues), 'person') %>
      </span>
    </h3>
    <ul class="list-style-none my-4">
      <% view.summary.new_issues.each do |issue| %>
      <li class="clearfix">
        <%= primer_octicon(:'issue-opened', color: :success, float: :left, mt: 1) %>
        <div class="overflow-hidden pl-2">
          <a href="<%= issue_path(issue) %>" class="h4 Link--primary mb-1"><%= issue.title %></a>
          <p class="color-fg-muted text-small">
            <span class="num">#<%= issue.number %></span> opened <%= time_ago_in_words_js issue.created_at %>
          </p>
        </div>
      </li>
      <% end %>
    </ul>
  <% end %>

</div>
