<div id="pull-requests">
  <% if view.summary.merged_pulls.size > 0 %>
    <h3 class="conversation-list-heading" id="merged-pull-requests">
      <span class="inner">
        <%= primer_octicon(:"git-merge", color: :done) %>
        <span class="text-emphasized"><%= view.helpers.number_with_delimiter view.total_merged_pull_requests %></span>
        Pull request<%= 's' if view.total_merged_pull_requests != 1 %> merged by
        <%= view.formatted_pluralize(view.summary.user_count_for(:merged_pulls), 'person') %>
      </span>
    </h3>
    <ul class="list-style-none my-4">
      <% view.summary.merged_pulls.each do |pull| %>
      <li class="clearfix">
        <%= primer_octicon(:"git-merge", float: :left, mt: 1, color: :done) %>
        <div class="overflow-hidden pl-2">
          <a href="<%= pull_request_path(pull) %>" class="h4 Link--primary mb-1 markdown-title"><%= title_markdown(pull.title) %></a>
          <p class="color-fg-muted text-small">
            <span class="num">#<%= pull.number %></span> merged <%= time_ago_in_words_js pull.merged_at %>
          </p>
        </div>
      </li>
      <% end %>
    </ul>
  <% end %>

  <% if view.summary.new_pulls.size > 0 %>
    <h3 class="conversation-list-heading" id="proposed-pull-requests">
      <span class="inner">
        <%= primer_octicon(:'git-pull-request', color: :success) %>
        <span class="text-emphasized"><%= number_with_delimiter view.total_new_pull_requests %></span>
        Pull request<%= 's' if view.total_new_pull_requests != 1 %> opened by <%= view.formatted_pluralize(view.summary.user_count_for(:new_pulls), 'person') %>
      </span>
    </h3>
    <ul class="list-style-none my-4">
      <% view.summary.new_pulls.each do |pull| %>
      <li class="clearfix">
        <%= primer_octicon(:'git-pull-request', color: :success, float: :left, mt: 1) %>
        <div class="overflow-hidden pl-2">
          <a href="<%= pull_request_path(pull) %>" class="h4 Link--primary mb-1"><%= pull.title %></a>
          <p class="color-fg-muted text-small">
            <span class="num">#<%= pull.number %></span> opened <%= time_ago_in_words_js pull.created_at %>
          </p>
        </div>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>
