<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  hydro_tracking_label = "user:#{current_user&.id};repo:#{current_repository&.id};"

  if current_repository.organization.present?
    hydro_tracking_label += "org:#{current_repository.organization.id};"
  end
%>

<div class="BtnGroup width-full width-md-auto d-flex">
  <%= render Primer::ButtonComponent.new(
    type: :submit,
    scheme: :primary,
    group_item: true,
    flex: :auto,
    classes: "hx_create-pr-button js-sync-select-menu-button",
    "data-disable-invalid": "",
    "data-disable-with": "",
    "data-hydro-click": create_button_hydro_attributes["hydro-click"],
    "data-hydro-click-hmac": create_button_hydro_attributes["hydro-click-hmac"]
  ) do %>
    <span <%= test_selector "create-pull-request-text" %>>
      <%= is_draft ? "Draft pull request" : "Create pull request" %>
    </span>
  <% end %>
  <%= render(PullRequests::DraftsUpgradeDialogComponent.new(
    repository: current_repository,
    current_user: current_user,
    location: "dropdown_option",
  )) %>
  <details class="details-reset details-overlay select-menu BtnGroup-parent position-relative">
    <%= render Primer::ButtonComponent.new(
      tag: :summary,
      scheme: :primary,
      group_item: true,
      float: :none,
      classes: "select-menu-button",
      "data-disable-invalid": "",
      "data-disable-with": "",
      "aria-label": "Select a type of pull request",
      data: analytics_click_attributes(
        category: "sculk_draft_pr_dropdown_option",
        action: "draft_pr_dropdown_option_viewed",
        label: hydro_tracking_label,
      )
    ) %>
    <details-menu class="select-menu-modal position-absolute right-0 js-sync-select-menu-text" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <label class="select-menu-item" tabindex="0" role="menuitemradio" aria-checked="<%= !is_draft %>">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <%= radio_button_tag :draft, "off", !is_draft %>
        <div class="select-menu-item-text">
          <span class="select-menu-item-heading">Create pull request</span>
          <span class="description text-normal">
            <% if current_repository.codeowners? %>
              Automatically requests reviews from code owners
            <% else %>
              Open a pull request that is ready for review
            <% end %>
          </span>
          <span data-menu-button-text hidden>
            Create pull request
          </span>
        </div>
      </label>

      <button
        class="select-menu-item width-full"
        data-show-dialog-id="drafts-upgrade-dialog"
        type="button"
        <%= test_selector("dropdown-option-cta") %>
        <%= safe_analytics_click_attributes(
          category: "sculk_draft_pr_dropdown_option",
          action: "click_to_open_draft_pr_dialog",
          label: "ref_cta:create_a_draft_pull_request;ref_loc:pr_dropdown_option"
        ) %>
      >
        <div class="select-menu-item-text">
          <span class="select-menu-item-heading d-flex" data-menu-button-text>
            Create a draft pull request
            <%= render(Primer::Beta::Label.new(
              scheme: :secondary,
              ml: 2,
              display: :flex,
              align_items: :center,
              "aria-label": "Available by upgrading to #{GitHub::Plan.business.display_name}"
            )) do %>
              <%= render(Primer::Beta::Octicon.new(icon: :lock, size: :xsmall, mr: 1)) %>
              <%= GitHub::Plan.business.display_name.capitalize %>
            <% end %>
          </span>
          <span class="description text-normal">
            Learn how to open a draft pull request without asking for formal review or risking unwanted merges
          </span>
        </div>
      </button>
    </details-menu>
  </details>
</div>
