<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<%# view is an instance of PullRequests::MergeButtonView %>
<%
  user ||= current_user
  pull = view.pull
  state = view.merge_state

  form_class = "merge-branch-form js-merge-pull-request pl-md-6 pl-0 ml-md-4 ml-0 " +
    "js-immediate-updates js-needs-timeline-marker-header js-auto-merge-form " +
    view.admin_override_classes
%>

<%= form_tag create_auto_merge_request_path(pull.repository.owner, pull.repository, pull.number), class: form_class do %>
  <input type="hidden" name="head_sha" value="<%= pull.head_sha %>">
  <%= avatar_for user, 44, :class => "commit-form-avatar float-left rounded-2 d-md-inline-block d-none" %>
  <div class="commit-form position-relative p-3 mb-2 border rounded-2">
    <div class="commit-form-fields mb-3">
      <input type="text" name="commit_title" id="merge_title_field" class="form-control input-block input-contrast text-emphasized mt-0 js-merge-title js-session-resumable" aria-label="Commit title" value="<%= view.default_commit_title %>">
      <div class="write-content">
        <text-expander
          keys=": @ #"
          data-issue-url="<%= suggestions_path(user_id: pull.repository.owner.display_login, repository: pull.repository.name, subject_type: "pull_request", subject_id: pull.id, issue_suggester: 1) %>"
          data-mention-url="<%= suggestions_path(user_id: pull.repository.owner.display_login, repository: pull.repository.name, subject_type: "pull_request", subject_id: pull.id, mention_suggester: 1) %>"
          data-emoji-url="<%= emoji_suggestions_path %>">
          <textarea
            name="commit_message"
            id="merge_message_field"
            class="form-control input-block input-contrast merge-commit-message js-merge-message js-quick-submit js-session-resumable js-size-to-fit"
            aria-label="Commit message"
            placeholder="Add an optional extended description…"
            ><%= params[:commit_message] || view.default_commit_message %></textarea>
        </text-expander>
      </div>

      <%= render PullRequests::MergeFormEmailAddressSelectionComponent.new(pull_request: pull, current_user: current_user) %>
    </div>

    <input class="js-submit-button-value" name="do" type="hidden" value="<%= view.merge_method.to_s %>">
    <div class="commit-form-actions">
      <div class="select-menu d-inline-block">
        <div class="BtnGroup btn-group-merge">
          <button
            class="btn BtnGroup-item js-confirm-auto-merge-button"
            name="do" value="merge"
            data-disable-with="Enabling…"
            type="submit"
            <%= safe_analytics_click_attributes(
              category: "Confirm Auto-Merge Button",
              action: "Confirm auto-merge commit",
              label: "confirm_auto_merge_commit"
            ) %>
          >
            Confirm auto-merge
          </button>
        </div>

        <div class="BtnGroup btn-group-squash">
          <button
            class="btn BtnGroup-item js-confirm-auto-merge-button"
            name="do" value="squash"
            data-disable-with="Enabling…"
            type="submit"
            <%= safe_analytics_click_attributes(
              category: "Confirm Auto-Merge Button",
              action: "Confirm auto-merge squash",
              label: "confirm_auto_merge_squash"
            ) %>
          >
            Confirm auto-merge (squash)
          </button>
        </div>

        <div class="BtnGroup btn-group-rebase">
          <button
            class="btn BtnGroup-item js-confirm-auto-merge-button"
            name="do" value="rebase"
            data-disable-with="Enabling…"
            type="submit"
            <%= safe_analytics_click_attributes(
              category: "Confirm Auto-Merge Button",
              action: "Confirm auto-merge rebase",
              label: "confirm_auto_merge_rebase"
            ) %>
          >
            Confirm auto-merge (rebase)
          </button>
        </div>

        <%= render Primer::ButtonComponent.new("data-disable-with": "Cancel", classes: "js-details-target", "aria-expanded": "true") do %>
          Cancel
        <% end %>
      </div>
    </div>
  </div>
<% end %>
