<% commits.map do |commit| %>
  <a href="<%= gh_show_pull_request_check_sha_path(pull, commit.oid, selected_check_run) %>" class="select-menu-item pl-5" aria-checked="<%= commit.oid == selected_commit.oid %>" role="menuitemradio">
    <div class="float-left mr-1 color-fg-danger select-menu-item-icon">
      <% if commit.combined_status&.any? %>
        <span class="<%= status_state_text_class(commit.combined_status.state) %>">
          <%= primer_octicon(icon_symbol_for_state(commit.combined_status.state)) %>
        </span>
      <% end %>
    </div>
    <div class="select-menu-item-text">
      <code class="float-right"><%= commit.abbreviated_oid %></code>
      <div class="text-bold css-truncate css-truncate-target" style="max-width: 200px;">
        <%= commit.short_message_text %>
      </div>
      <span class="description">
        <%= commit.author %> <%= time_ago_in_words_js commit.authored_date %>
      </span>
    </div>
  </a>
<% end %>
