<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%
  closing_issue_references = close_issue_references_for(issue_or_pr: pull_request).take(10)
  reference_location ||= "PULL_REQUEST_SIDEBAR"
  total_closing_issue_references_count = closing_issue_references.count
  number_to_show = 5
  initial_closing_issue_references_to_show = closing_issue_references.take(number_to_show)
%>

<% if user_feature_enabled?(:copilot_workspace) %>
  <%= render(Primer::Beta::Button.new(
    tag: :a,
    href: "https://copilot-workspace.githubnext.com/#{pull_request.repository.owner_display_login}/#{pull_request.repository.name}/pull/#{pull_request.number}",
    size: :small,
    block: true,
    mb: 2
  )) do |button|
    button.with_leading_visual_icon(icon: :copilot)
    "Open in Workspace"
  end %>
<% end %>

<p>Successfully merging this pull request may close these issues.</p>

<% if closing_issue_references.none? %>
  <% if pull_request.repository.owner.feature_enabled?(:azure_boards_links_in_pr_development_section) %>
    <include-fragment src="<%= pull_request_closing_issue_references_empty_text_partial_path(id: pull_request.number) %>">
      <p>None yet</p>
    </include-fragment>
  <% else %>
    <p>None yet</p>
  <% end %>
<% else %>
  <%= render ConditionalAccess::UnauthorizedAccountsComponent.new(
    classes: "p-0 m-0",
    inner_classes: "p-0 m-0 mb-1",
    resource_label: "issues",
    return_to: source_url,
    cap_filter: cap_filter,
    icon_arguments: {
      mt: 1,
      mr: 1,
      flex_shrink: 0
    }
  ) if closing_issue_references.any? %>
  <% initial_closing_issue_references_to_show.sort_by(&:state).reverse_each do |issue| %>
    <% hydro_data = xrefs_hydro_attributes(issue_id: issue.id, pull_request_id: pull_request.id, reference_location: reference_location) %>
    <% hovercard_data = hovercard_data_attributes_for_issue_or_pr(issue) %>
    <%= render(Primer::Beta::Truncate.new(classes: "truncate-with-responsive-width", my: 1)) do |component| %>
      <% component.with_item(tag: :a, href: issue.url, font_weight: :bold, classes: ["Link--primary", "markdown-title"], data: hydro_data.merge(hovercard_data)) do %>
        <%= issue_pr_state_octicon_ar(issue) %>
        <%= title_markdown(issue.title) %>
      <% end %>
    <% end %>
  <% end %>
  <% if total_closing_issue_references_count > number_to_show %>
    <div class="Details js-details-container">
      <div class="Details-content--hidden">
        <% additional_closing_issue_references = closing_issue_references[number_to_show..-1] %>
        <% additional_closing_issue_references.each do |issue| %>
          <% hydro_data = xrefs_hydro_attributes(issue_id: issue.id, pull_request_id: pull_request.id, reference_location: reference_location) %>
          <% hovercard_data = hovercard_data_attributes_for_issue_or_pr(issue) %>
          <%= render(Primer::Beta::Truncate.new(classes: "truncate-with-responsive-width", my: 1)) do |component| %>
            <% component.with_item(tag: :a, href: issue.url, font_weight: :bold, classes: ["Link--primary", "markdown-title"], data: hydro_data.merge(hovercard_data)) do %>
              <%= issue_pr_state_octicon_ar(issue) %>
              <%= title_markdown(issue.title) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-details-target", "aria-expanded": "false") do %>
        <span class="Details-content--shown">See more <%= primer_octicon(:"triangle-down") %></span>
        <span class="Details-content--hidden">See less <%= primer_octicon(:"triangle-up") %></span>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if pull_request.repository.owner.feature_enabled?(:azure_boards_links_in_pr_development_section) %>
  <include-fragment src="<%= pull_request_links_partial_path(id: pull_request.number) %>"></include-fragment>
<% end %>
