<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="d-flex my-2 mx-md-2 flex-md-justify-end">
  <% if current_repository.plan_supports?(:draft_prs) %>
    <div class="BtnGroup width-full width-md-auto d-flex d-md-inline-block">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, group_item: true, flex: :auto, classes: "hx_create-pr-button js-sync-select-menu-button", "data-disable-invalid": "", "data-disable-with": "", "data-hydro-click": create_button_hydro_attributes["hydro-click"], "data-hydro-click-hmac": create_button_hydro_attributes["hydro-click-hmac"]) do %>
        <span <%= test_selector "create-pull-request-text" %>><%= is_draft ? "Draft pull request" : "Create pull request" %></span>
      <% end %>
      <details class="details-reset details-overlay select-menu BtnGroup-parent position-relative">
        <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :primary, group_item: true, float: :none, classes: "select-menu-button", "data-disable-invalid": "", "data-disable-with": "", "aria-label": "Select a type of pull request") do %><% end %>
        <details-menu class="select-menu-modal position-absolute right-0 js-sync-select-menu-text" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <label class="select-menu-item" tabindex="0" role="menuitemradio" aria-checked="<%= !is_draft %>">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <%= radio_button_tag :draft, "off", !is_draft %>
            <div class="select-menu-item-text">
              <span class="select-menu-item-heading">Create pull request</span>
              <span class="description text-normal">
                <% if current_repository.codeowners? %>
                  Automatically requests reviews from code owners
                <% else %>
                  Open a pull request that is ready for review
                <% end %>
              </span>
              <span data-menu-button-text hidden>
                Create pull request
              </span>
            </div>
          </label>
          <label class="select-menu-item" tabindex="0" role="menuitemradio" aria-checked="<%= is_draft %>">
            <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
            <%= radio_button_tag :draft, "on", is_draft %>
            <div class="select-menu-item-text">
              <span class="select-menu-item-heading">Create draft pull request</span>
              <span class="description text-normal">
                <% if current_repository.codeowners? %>
                  Doesn't request code owners review and cannot be merged
                <% else %>
                  Cannot be merged until marked ready for review
                <% end %>
              </span>
              <span data-menu-button-text hidden>
                Draft pull request
              </span>
            </div>
          </label>
        </details-menu>
      </details>
    </div>
  <% else %>
    <% if show_draft_pr_feature_recommendation?(current_repository) %>
      <%= render partial: "pull_requests/actions_without_draft_pr_support", locals: {
        create_button_hydro_attributes: create_button_hydro_attributes,
        is_draft: is_draft
      } %>
    <% else %>
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary,
        "data-disable-invalid": "",
        "data-disable-with": "",
        "data-hydro-click": create_button_hydro_attributes["hydro-click"],
        "data-hydro-click-hmac": create_button_hydro_attributes["hydro-click-hmac"],
      ) do %>
        Create pull request
      <% end %>
    <% end %>
  <% end %>
</div>
