<% stats.record_render("conversation_content") do %>
  <h2 class="sr-only">Conversation</h2>
  <div
    class="<%= class_names(
      "pull-discussion-timeline",
      "js-pull-discussion-timeline",
      "js-quote-selection-container",
      "js-review-state-classes"
    ) %>"
    data-quote-markdown=".js-comment-body"
    data-discussion-hovercards-enabled
    data-issue-and-pr-hovercards-enabled
    data-team-hovercards-enabled
    data-hpc
  >
    <%= render "shared/bidi_alert" %>
    <div
      class="js-discussion <% if logged_in? %>js-socket-channel<% end %> ml-0 pl-0 ml-md-6 pl-md-3"
      <% if logged_in? %>
      data-channel="<%= live_update_view_channel(GitHub::WebSocket::Channels.marked_as_read(current_user)) %>"
      data-channel-target="<%= pull_request.global_relay_id %>"
      <% end %>
    >

      <%= render PullRequests::BodyComponent.new(pull_request: pull_request) %>

      <% track_render_partial("pull_requests/copilot_review_banner") do %>
        <%= render PullRequests::Copilot::PullRequestReviewBannerComponent.new(
          pull_request: pull_request,
          location: :conversation,
        ) %>
      <% end %>

      <% if controller_name == "pull_requests_fragments" %> <%# requests routed from Voltron::PullRequestsFragment controller render the placeholder element %>
        <viewproxy-fragment id="content"></viewproxy-fragment>
      <% else %>
        <%= render "pull_requests/timeline", pull_node: pull_node %>
      <% end %>

      <% if pull_request.closed? %>
        <%# we don't want to do this for pull requests that have a closed event. %>
        <%# anything older than 2011-03-16 doesn't have events though. %>
        <% if !pull_request.closed_by %>
          <div class="TimelineItem">
            <div class="TimelineItem-badge color-fg-on-emphasis color-bg-danger-emphasis">
              <%= primer_octicon(:"circle-slash") %>
            </div>
            <div class="TimelineItem-body">
              This pull request was <strong>closed</strong>.
            </div>
          </div>
          <div class="TimelineItem-break"></div>
        <% end %>
      <% end %>
    </div>

    <div class="discussion-timeline-actions">
      <% unless current_repository_locked_for_migration? %>
        <% if logged_in? %>
          <%= render PullRequests::AsyncMergeBoxPlaceholderComponent.new(pull_request: pull_request, gate_requests: gate_requests) %>
        <% end %>
      <% end %>
      <div id="issue-comment-box">
        <%= render "conversations/new_comment_input", item: pull_request.issue %>
      </div>
    </div>
  </div>
<% end %>
