<%
  author_link_attributes ||= {}
  editing_enabled   = local_assigns.fetch(:editing_enabled) { true }
  sticky = local_assigns.fetch(:sticky) { false }
%>
<% if pull.merged? && pull.merged_by %>
  <%= link_author(pull.merged_by, class: "author Link--secondary text-bold css-truncate css-truncate-target expandable", **author_link_attributes) %>
  merged <%= pluralize(number_with_delimiter(pull.total_commits), 'commit') %> into
<% elsif pull.merged? %>
  <%= pluralize(number_with_delimiter(pull.total_commits), 'commit') %> merged into
<% else %>
  <%= link_author(pull.safe_user, class: "author Link--secondary text-bold css-truncate css-truncate-target expandable", **author_link_attributes) %>

  wants to merge
  <%= content_tag(:span, number_with_delimiter(pull.total_commits), class: "js-updating-pull-request-commits-count") %>
  <%= 'commit'.pluralize(pull.total_commits) %> into
<% end %>

<%= render :partial => 'pull_requests/description_branches', :locals => {:pull => pull, :join_text => 'from', :editing_enabled => editing_enabled} %>

<% if pull.merged? %>
  <%= time_ago_in_words_js(pull.merged_at) %>
<% end %>

<% if GitHub.pull_request_processing_indicator_enabled? && pull.open? && !sticky %>
  <span class="d-inline-block">
    <%= render_react_partial name: "pull-requests-processing-indicator", props: { processingIndicatorUrl: pull_request_processing_indicator_partial_path(id: pull), repositoryId: pull.repository_id, pullRequestId: pull.id }, ssr: false %>
  </span>
<% end %>
