<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  guid            ||= SimpleUUID::UUID.new.to_guid
  editing_enabled   = local_assigns.fetch(:editing_enabled) { true }
%>

<% if pull.can_change_base_branch? && editing_enabled %>
  <%= pull_branch_label(pull, :base, expandable: true, link: true) %>

  <div class="commit-ref-dropdown">
    <details class="details-reset details-overlay select-menu commitish-suggester" id="branch-select-menu">
      <summary class="btn btn-sm select-menu-button branch">
        <i>base:</i>
        <span class="css-truncate css-truncate-target"><%= pull.display_base_ref_name %></span>
      </summary>
      <input-demux-context-wrapper data-context-type="baseChange">
        <%= render_nothing_if_database_fails do %>
          <%=
            render partial: "refs/selector", locals: {
              title: "Choose a base branch",
              placeholder: "Find a branch",
              item_template: "refs/list_item_template/base_change",
              no_match_template: "refs/no_match_template/base_change",
              hide_tabs: true,
              hide_footer: true,
              selected_ref: pull.display_base_ref_name,
            }
          %>
        <% end %>
        <template class="js-change-base-template">
          <div class="Box-header">
            <h3 class="Box-title">Are you sure you want to change the base?</h3>
          </div>
          <div class="Box-body">
            Some commits from the old base branch may be removed from the timeline,
            and old review comments may become outdated.
          </div>
          <div class="Box-footer">
            <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, classes: "btn-block js-change-base-form-button", form: "change-base-form") do %>
              <%= render Primer::Beta::Spinner.new(
                size: :small,
                classes: "js-change-base-spinner",
                vertical_align: :text_bottom,
                mr: 1,
                style: "display: none"
              )%>
              <span>Change base</span>
            <% end %>
          </div>
        </template>
      </input-demux-context-wrapper>
    </details>

    <%= form_tag change_pull_base_path(id: pull), method: "POST", id: "change-base-form" do %>
      <input type="hidden" id="pull-change-base-branch-field" name="new_base_binary" class="js-new-base-branch">
    <% end %>
  </div>
<% else %>
  <%=
    # temporary hack here to avoid getting a base label css class so it
    # doens't get hidden when you click the edit button when the feature is
    # off
    branch_label(pull.send("base_repository"), pull.send("base_ref_name"), prepend_login: pull.cross_repo?, expandable: true, link: true)

  %>
<% end %>

<%= join_text %>

<%= pull_branch_label(pull, :head, expandable: true, link: true, copy_button: true) %>
