<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  guid ||= SimpleUUID::UUID.new.to_guid
%>

<div class="select-menu-header">
  <span class="select-menu-title">Choose a base branch</span>
</div>

<div class="select-menu-filters">
  <div class="select-menu-text-filter">
    <input
      type="text"
      id="commitish-filter-field-<%= guid %>"
      class="form-control js-filterable-field"
      autofocus
      autocomplete="off"
      placeholder="Branch, tag, commit, or history marker"
      aria-label="Type or choose a branch, tag, commit, or history marker">
  </div>
</div>

<div class="select-menu-list">
  <div data-filterable-for="commitish-filter-field-<%= guid %>" data-filterable-type="substring">
    <% branches = current_repository.heads.refs_with_default_first %>
    <% default_branch = current_repository.heads.default %>

    <% branches.each do |branch| %>
      <% next if !pull.cross_repo? && branch.name == pull.head_ref_name %>
      <button
        type="button"
        class="btn-link width-full select-menu-item"
        role="menuitemradio"
        <% if branch.name == pull.base_ref %>disabled<% end %>
        aria-checked="<%= branch.name == pull.base_ref %>"
        value="<%= Base64.strict_encode64(branch.name) %>">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <% if branch.name == default_branch %>
          <span class="d-flex">
            <span class="select-menu-item-text flex-auto wb-break-word" data-menu-button-text data-filterable-item-text><%= branch.name_for_display %></span>
            <%= render Primer::Beta::Label.new(scheme: :secondary, align_self: :start, title: "Label: default") do %>
              default
            <% end %>
          </span>
        <% else %>
          <span class="select-menu-item-text wb-break-word" data-menu-button-text data-filterable-item-text><%= branch.name_for_display %></span>
        <% end %>
      </button>
    <% end %>
  </div>
  <div class="select-menu-no-results">Nothing to show</div>
</div>
