<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter FlashMigrationCounter 1 %>
<% stats.record_render("diff") do %>
  <% if !file_list_view.available? %>
    <%= render :partial => "diff/availability", :locals => { :diff => pull_comparison.diffs } %>
  <% else %>
    <% if pull_comparison.commits.size == 1 && params[:tab] == "commits" %>
      <%= render partial: "commit/pull_commit_detail", locals: { pull_comparison: pull_comparison, commit: pull_comparison.commits.first, show_checks_status: show_checks_status } %>
    <% end %>

    <% if file_list_view.commentable? %>
      <%= render :partial => "diff/inline_comments_template", :locals => { :thread => DeprecatedPullRequestReviewThread.new(pull_comparison: pull_comparison) } %>
    <% end %>

    <%= render :partial => "diff/diff", :locals => { :sticky => true, :commit_id => pull.head_sha, :file_list_view => file_list_view } %>

    <% if pull_comparison && pull_comparison.diffs.empty? %>
      <% if pull_comparison.commits.size > 1 %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_visual_icon(icon: "git-merge") %>

          <% c.with_heading(tag: :h2) do %>
            These merge commits were added into this branch cleanly.
          <% end %>

          <% c.with_description do %>
            There are no new changes to show.
          <% end %>
        <% end %>
      <% elsif pull_comparison.commits.size > 0 && pull_comparison.commits.first.merge_commit? %>
        <%= render Primer::BlankslateComponent.new(
          icon: "git-merge",
          title: "This merge commit was added into this branch cleanly.",
        ) do %>
          <p>There are no new changes to show, but you can still <a class="Link--inTextBlock" href="<%= commit_path(pull_comparison.commits.first) %>">view the diff.</a></p>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_visual_icon(icon: "file-diff") %>

          <% c.with_heading(tag: :h2) do %>
            No changes to show.
          <% end %>

          <% c.with_description do %>
            This commit has no content.
          <% end %>
        <% end %>
      <% end %>
    <% elsif pull_comparison.commits.size == 1 && pull_comparison.commits.first.merge_commit? %>
      <div class="flash flash-warn text-center">
        You are viewing a condensed version of this merge commit. You can view the <a class="Link--inTextBlock" href="<%= commit_path(pull_comparison.commits.first) %>">full changes here</a>.
      </div>
    <% end %>
  <% end %>
<% end %>
