<%
  number_of_links_to_show = 3
  links = pull.links
%>
<% if links.any? %>
  <% initial_links = links.take(number_of_links_to_show) %>
  <% initial_links.each do |link| %>
    <%= render partial: "pull_requests/link", locals: { link: link } %>
  <% end %>
  <% if links.count > number_of_links_to_show %>
    <div class="Details js-details-container">
      <div class="Details-content--hidden">
        <% additional_links = links[number_of_links_to_show..-1] %>
        <% additional_links.each do |link| %>
          <%= render partial: "pull_requests/link", locals: { link: link } %>
        <% end %>
      </div>
      <%= render Primer::Beta::Button.new(scheme: :link, classes: "js-details-target", "aria-expanded": "false") do %>
        <span class="Details-content--shown">See more <%= primer_octicon(:"triangle-down") %></span>
        <span class="Details-content--hidden">See less <%= primer_octicon(:"triangle-up") %></span>
      <% end %>
    </div>
  <% end %>
<% end %>
