<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 3 %>
<%# view is an instance of PullRequests::MergeButtonView %>
<%
  user ||= current_user
  pull = view.pull
  state = view.merge_state

  form_class = "merge-branch-form js-merge-branch-form js-merge-pull-request pl-md-6 pl-0 ml-md-4 ml-0 " +
    "js-immediate-updates js-needs-timeline-marker-header js-merge-form " +
    view.admin_override_classes

  # toggled via JS if admin override is checked
  hidden = view.show_auto_merge_options? || view.show_merge_queue?
%>

<%= form_tag gh_merge_pull_request_path(pull), hidden: hidden, class: form_class do %>
  <input type="hidden" name="head_sha" value="<%= pull.head_sha %>">
  <%= avatar_for user, 44, :class => "commit-form-avatar float-left rounded-2 d-md-inline-block d-none" %>
  <div class="commit-form position-relative p-3 mb-2 border rounded-2">
    <div class="commit-form-fields mb-3">
      <input type="text" name="commit_title" id="merge_title_field" class="form-control input-block input-contrast text-emphasized mt-0 js-merge-title js-session-resumable" aria-label="Commit title" value="<%= view.default_commit_title %>">
      <div class="write-content">
        <text-expander
          keys=": @ #"
          data-issue-url="<%= suggestions_path(user_id: pull.repository.owner.display_login, repository: pull.repository.name, subject_type: "pull_request", subject_id: pull.id, issue_suggester: 1) %>"
          data-mention-url="<%= suggestions_path(user_id: pull.repository.owner.display_login, repository: pull.repository.name, subject_type: "pull_request", subject_id: pull.id, mention_suggester: 1) %>"
          data-emoji-url="<%= emoji_suggestions_path %>">
          <textarea
            name="commit_message"
            id="merge_message_field"
            class="form-control input-block input-contrast merge-commit-message js-merge-message js-quick-submit js-session-resumable js-size-to-fit"
            aria-label="Commit message"
            placeholder="Add an optional extended description…"
            ><%= params[:commit_message] || view.default_commit_message %></textarea>
        </text-expander>
      </div>

      <%= render PullRequests::MergeFormEmailAddressSelectionComponent.new(pull_request: pull, current_user: current_user) %>
    </div>

    <div class="commit-form-actions">

      <% button_verb   = state.has_pre_receive_hooks?   ? "Attempt" : "Confirm" %>
      <% disable_text  = state.has_pre_receive_hooks?   ? "Attempting to merge…" : "Merging…" %>

      <div class="select-menu d-inline-block">
        <input type="hidden" class='js-merge-type' name="do" value="<%= params[:do] || view.merge_method %>">
        <div class="BtnGroup btn-group-merge">
          <button
            class="btn <%= view.merge_commit_button_class %> BtnGroup-item js-merge-commit-button"
            value="merge"
            data-disable-with="<%= disable_text %>"
            type="submit"
            >
            <%= button_verb %> merge
          </button>
        </div>

        <div class="BtnGroup btn-group-squash">
          <button
            class="btn <%= view.merge_squash_button_class %> BtnGroup-item js-merge-commit-button"
            value="squash"
            data-disable-with="<%= disable_text %>"
            type="<%= view.merge_method == :squash ? "submit" : "button" %>"
            >
            <%= button_verb %> squash and merge
          </button>
        </div>

        <div class="BtnGroup btn-group-rebase">
          <button
            class="btn <%= view.merge_rebase_button_class %> BtnGroup-item js-merge-commit-button"
            value="rebase"
            data-disable-with="<%= disable_text %>"
            type="<%= view.merge_method == :rebase ? "submit" : "button" %>"
            >
            <%= button_verb %> rebase and merge
          </button>
        </div>

        <%= render Primer::ButtonComponent.new("data-disable-with": "Cancel", classes: "js-details-target") do %>
          Cancel
        <% end %>
      </div>

      <% if state.has_pre_receive_hooks? %>
        <p class="mt-2 mb-0">
          <strong>Note:</strong> This repository’s pre-receive hooks may prevent merging. We’ll let you know.
        </p>
      <% end %>
    </div>
  </div>
<% end %>
