<%# view is an instance of PullRequests::MergeButtonView %>
<%
  user ||= current_user
  pull = view.pull
  state = view.merge_state
  user_emails = user.author_emails

  form_class = "queue-branch-form js-queue-branch-form js-merge-pull-request " +
    "js-immediate-updates js-needs-timeline-marker-header " +
    view.admin_override_classes
%>

<%= form_tag create_auto_merge_request_path(current_repository.owner, current_repository, pull.number), method: :post, class: form_class do %>
  <input type="hidden" name="commit_title" class="js-merge-title" value="<%= view.default_commit_title %>">
  <input type="hidden" name="pull_number" value="<%= pull.number %>">
  <textarea
    hidden
    name="commit_message"
    id="merge_message_field"
    class="js-merge-message"
    aria-label="Commit message">
      <%= params[:commit_message] || view.default_commit_message %>
  </textarea>
  <%= avatar_for user, 44, :class => "commit-form-avatar float-left rounded-2" %>
  <div class="commit-form position-relative p-3 mb-2 border rounded-2">
    <div class="commit-form-actions">

      <% button_verb = state.has_pre_receive_hooks? ? "Attempt" : "Confirm" %>

      <div class="select-menu d-inline-block">
        <%= render(Primer::Beta::ButtonGroup.new(scheme: :primary, classes: "btn-group-merge-jump")) do |c| %>
          <% text = "#{button_verb} jumping the queue" %>
          <% c.with_button( classes: "js-merge-commit-button", type: (view.merge_method == :merge ? :button : :submit), value: "jump", name: "do", "data-disable-with": text, test_selector: "jump-merge" ) { text } %>
        <% end %>

        <%= render(Primer::Beta::ButtonGroup.new(scheme: :primary, classes: "btn-group-merge-solo")) do |c| %>
          <% text = "#{button_verb} queue and force solo merge" %>
          <% c.with_button( classes: "js-merge-commit-button", type: (view.merge_method == :merge ? :button : :submit), value: "solo", name: "do", "data-disable-with": text, test_selector: "solo-merge" ) { text } %>
        <% end %>

        <%= render(Primer::Beta::ButtonGroup.new(scheme: :primary, classes: "btn-group-merge-group")) do |c| %>
          <% text = "#{button_verb} merge when ready" %>
          <% c.with_button( classes: "js-merge-commit-button", type: :submit, value: "group", name: "do", "data-disable-with": text, test_selector: "group-merge" ) { text } %>
        <% end %>

        <%= render(Primer::Beta::Button.new(classes: "js-details-target", "data-disable-with": "Cancel")) { "Cancel" } %>
      </div>

      <% if state.has_pre_receive_hooks? %>
        <p class="mt-2 mb-0">
          <strong>Note:</strong> This repository’s pre-receive hooks may prevent merging. We’ll let you know.
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<%= render "pull_requests/merge_form", view: view %>
