<%# erblint:counter DeprecatedInPrimerCounter 3 %>
<% if review_decision = pull_request.review_decision(viewer: current_user) %>
  <span class="d-inline-block ml-1">
      <% if review_decision == :changes_requested %>&bull;
        <a class="Link--muted tooltipped tooltipped-s"
          aria-label="<%= pluralize(pull_request.latest_enforced_reviews_count_for(:changes_requested), 'review') %> requesting changes"
          href="<%= pull_request_path(pull_request) %>#partial-pull-merging"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          Changes requested
        </a>
      <% elsif review_decision == :approved %>&bull;
        <a class="Link--muted tooltipped tooltipped-s"
          aria-label="<%= pluralize(pull_request.latest_enforced_reviews_count_for(:approved), 'review approval') %>"
          href="<%= pull_request_path(pull_request) %>#partial-pull-merging"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          Approved
        </a>
      <% elsif review_decision == :review_required %>&bull;
        <a class="Link--muted tooltipped tooltipped-s"
          aria-label="Review required before merging"
          href="<%= pull_request_path(pull_request) %>#partial-pull-merging"><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          Review required
        </a>
      <% end %>
    </span>
  <% end %>
