<% if suggestions.any? %>
  <p class="color-fg-muted">Suggestions</p>
  <% suggestions.each do |suggestion| %>
    <p>
      <span class="float-right position-relative">
        <%= render(Primer::Beta::Button.new(id: "suggested-reviewier-#{suggestion.user.id}", name: "suggested_reviewer_id", scheme: :link, value: suggestion.user.id, type: :submit, classes: "js-suggested-reviewer")) do |component| %>
          Request
        <% end %>
        <%= render(Primer::Alpha::Tooltip.new(for_id: "suggested-reviewier-#{suggestion.user.id}", type: :description, text: "Request review from #{suggestion.user}", direction: :nw)) %>
      </span>

      <%= render "issues/sidebar/user", user: suggestion.user %>
    </p>
  <% end %>

  <%= render "issues/sidebar/reviewers_hint", pull_request: pull_request %>
<% else %>
  <%= render "issues/sidebar/reviewers_none", pull_request: pull_request %>
<% end %>
