<% lazy_load_diff ||= false %>
<% diffs = pull.historical_comparison.init_diffs unless lazy_load_diff %>

<div class="px-3 px-md-0 ml-n3 mr-n3 mx-md-0 tabnav">
  <% if !lazy_load_diff && diffs.summary.available? %>
    <div class="tabnav-extra float-right d-none d-md-block">
      <span class="diffstat" id="diffstat">
        <span class="color-fg-success">
          +<%= number_with_delimiter(diffs.additions) %>
        </span>
        <span class="color-fg-danger">
          −<%= number_with_delimiter(diffs.deletions) %>
        </span>
        <span>
          <%= format_diffstat_line(diffs, 5) %>
        </span>
      </span>
    </div>
  <% end %>

  <nav class="tabnav-tabs d-flex overflow-auto" data-pjax="#repo-content-pjax-container" data-turbo-frame="repo-content-turbo-frame" aria-label="Pull request tabs">
    <a href="<%= gh_show_pull_request_path(pull) %>" class="tabnav-tab flex-shrink-0 <% if tab_specified?(:discussion) %>selected<% end %>"<% if tab_specified?(:discussion) %> aria-current="page"<% end %>>
      <%= primer_octicon(:"comment-discussion", display: [:none, nil, :inline_block]) %>
      Conversation

      <%= render Primer::Beta::Counter.new(id: "conversation_tab_counter", count: pull.total_comments) %>
    </a>

    <a
      href="<%= gh_show_pull_request_path(pull) %>/commits"
      class="tabnav-tab flex-shrink-0 <% if tab_specified?(:commits) %>selected<% end %>"
      <% if tab_specified?(:commits) %> aria-current="page"<% end %>
    >
      <%= primer_octicon(:"git-commit", display: [:none, nil, :inline_block]) %>
      Commits

      <%= render Primer::Beta::Counter.new(id: "commits_tab_counter", count: pull.corrupt? ? Float::INFINITY : pull.changed_commits.size, limit: GitHub::Comparison::DEFAULT_COMMIT_LIMIT, classes: "js-updateable-pull-request-commits-count") %>
    </a>

    <%= render(PullRequests::CheckCountsComponent.new(
      pull_request: pull,
      current_repository: current_repository,
      current_tab: tab_specified?(:checks)
    )) %>

    <a href="<%= gh_show_pull_request_path(pull) %>/files" class="tabnav-tab flex-shrink-0 <% if tab_specified?(:files) %>selected<% end %>"<% if tab_specified?(:files) %> aria-current="page"<% end %>>
      <%= primer_octicon(:"file-diff", display: [:none, nil, :inline_block]) %>
      Files changed

      <% if !lazy_load_diff %>
        <%= render Primer::Beta::Counter.new(id: "files_tab_counter", count: diffs.summary.available? ? diffs.summary.changed_files : Float::INFINITY) %>
      <% end %>
    </a>
  </nav>
</div>
