<% stats.record_render("timeline") do %>
  <%= render PullRequests::PagedTimelineComponent.new(timeline_owner: pull_node, render_focused_item_loader: true) %>

  <!-- Rendered timeline since <%= pull_node.timeline.updated_at.to_formatted_s(:db) %> -->
  <div id="partial-timeline"
        class="js-timeline-marker js-socket-channel js-updatable-content"
        data-channel="<%= live_update_view_channel(pull_node.websocket) %>"
        data-url="<%= pull_request_unread_timeline_partial_path(id: pull_node.number, since: pull_node.timeline.updated_at.iso8601(9)) %>"
        data-channel-event-name="timeline_updated"
        data-last-modified="<%= pull_node.timeline.updated_at.iso8601(9) %>"
        data-gid="<%= pull_node.id %>">
    <%= form_tag graphql_path("MarkNotificationSubjectAsRead"), remote: true, class: "d-none js-timeline-marker-form" do %>
      <input type="hidden" name="variables[subjectId]" value="<%= pull_node.id %>">
    <% end %>
  </div>
<% end %>

