<% author_email = current_user.default_author_email(pull.repository, pull.head_sha) %>

<div class="branch-action-item" <%= test_selector "update-branch-container" %>>
  <%= render :partial => "pull_requests/update_branch_button",
              :locals => { pull: pull } %>
  <div class="branch-action-item-icon completeness-indicator completeness-indicator-problem">
    <%= primer_octicon(:alert) %>
  </div>
  <h3 class="h4 status-heading">This branch is out-of-date with the base branch</h3>
  <span class="status-meta">
    Merge the latest changes from <span class="branch-name"><%= pull.display_base_ref_name %></span> into this branch.
    <% if author_email %>
      <p class="text-small">This merge commit will be associated with <%= author_email %>.</p>
    <% end %>
  </span>
</div>
