<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%
  attribution = @pull.user ? " by #{@pull.user}" : ""
  page_info \
    title: "Commit range not found · Pull Request ##{@pull.number} · #{current_repository.name_with_display_owner}",
    container_xl: true,
    selected_link: :repo_pulls,
    dashboard_pinnable_item_id: @pull.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="<%= class_names(
  "clearfix container-xl mt-4",
  "px-3 px-md-4 px-lg-5" => !skip_responsive_padding?,
  "p-0" => skip_responsive_padding?
) %>">
  <%= render :partial => 'comments/title', :locals => {
    :pull         => @pull,
    :comment      => @pull.issue,
    :issue        => @pull.issue,
    :title        => @pull.title.blank? ? "Untitled" : @pull.title,
  } %>
  <%= render :partial => "pull_requests/tabs", :locals => { :pull => @pull } %>

  <%= render Primer::BlankslateComponent.new(
    icon: "telescope",
    title: "We went looking everywhere, but couldn’t find those commits.",
    large: true,
    spacious: true,
    "data-hpc": ""
  ) do %>
    <p>Sometimes commits can disappear after a force-push. Head back to the <a class="Link--inTextBlock" href="<%= "#{pull_request_path(@pull)}/files" %>">latest changes here</a>.</p>
  <% end %>
</div>
<% end %>
