<%# rubocop:disable Lint/InstanceVariable %>
<% stats.record_distribution("commits_set_page_info") do %>
  <%-
    pull_request_page_info(@pull)
    page_info breadcrumb_object: @pull
  -%>
<% end %>

<%= render layout: "issues/issues" do %>
  <div class="clearfix js-issues-results" data-issue-and-pr-hovercards-enabled>

    <% stats.record_render("comments/title") do %>
      <%= render :partial => 'comments/title', :locals => {
        :pull         => @pull,
        :comment      => @pull.issue,
        :issue        => @pull.issue,
        :title        => @pull.title.blank? ? "Untitled" : @pull.title,
        :sticky       => true,
        :hide_actions => mobile?, # for now, hide actions on mobile phones because there's no edit button on discussion tab
      } %>
    <% end %>

    <% stats.record_render("pull_requests/lazy_tabs") do %>
      <%= render :partial => "pull_requests/lazy_tabs", :locals => { :pull => @pull } %>
    <% end %>

    <% if user_feature_enabled?(:prx_commits) %>
      <div class="mt-2 mb-3">
        <%= form_tag toggle_new_commits_path(current_repository.owner_display_login, current_repository.name) do %>
          <%= hidden_field_tag(:id, @pull.number) %>
          <%= render(Primer::Beta::Label.new(scheme: :success)) { "Beta" } %>
          <span class="color-fg-muted"> Try the new Commits page </span>
          <%= emoji_tag(Emoji.find_by_alias("sparkles"), class: "emoji emoji-icon") %>
          <%= render Primer::Beta::Button.new(scheme: :link, type: :submit, font_weight: :normal) do %>
            Opt in
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% stats.record_render("pull_requests/commits_list_component") do %>
      <div id="commits_bucket" class="pull-request-tab-content is-visible" data-hpc>
        <%= render PullRequests::CommitsListComponent.new(pull_request: @pull, current_user: current_user) %>
      </div>
    <% end %>
  </div>

  <% stats.record_render("comments/suggested_changes_validation") do %>
    <%= render :partial => "comments/suggested_changes_validation" %>
  <% end %>
<% end %>
