<%# rubocop:disable Lint/InstanceVariable %>
<%-
  pull_request_page_info(@pull)
  page_info breadcrumb_object: @pull
-%>

<!-- base sha1: <%= @pull.base_sha.inspect %> -->
<!-- head sha1: <%= @pull.head_sha.inspect %> -->

<%= render layout: "issues/issues" do %>
  <% if @pull.review_requested_for?(current_user) && @pull.open? && !@pull.user_has_violated_push_rule?(current_user)%>
    <%= render partial: "pull_requests/review_request_banner", locals: { pull: @pull } %>
  <% end %>

  <div class="clearfix js-issues-results">
    <%= render :partial => 'comments/title', :locals => {
      :pull         => @pull,
      :comment      => @pull.issue,
      :issue        => @pull.issue,
      :title        => @pull.title.blank? ? "Untitled" : @pull.title,
      :sticky       => true,
    } %>

    <% if params[:show_onboarding_guide_tip].present? %>
      <div class="px-6">
        <%= render(Onboarding::Organizations::CompletedGuidanceComponent.new(
          organization: current_repository.owner,
          completed_task: OnboardingTasks::Organizations::OpenPullRequest.new(taskable: current_repository.owner, user: current_user),
          show_tip: true,
          container_class: "mb-3"
        )) %>
      </div>
    <% end %>

    <%= render :partial => "pull_requests/lazy_tabs", :locals => { :pull => @pull } %>

    <div id="discussion_bucket"
          class="pull-request-tab-content is-visible js-socket-channel js-updatable-content"
          data-channel="<%= live_update_view_channel(pull_node.timeline_websocket) %>">
      <%= render "pull_requests/discussion", pull_node: pull_node, pull_request: pull_request, gate_requests: gate_requests, deferred_content: true %>
    </div>
  </div>
  <%= render :partial => "comments/suggested_changes_validation" %>
<% end %>
