<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%
    attribution = @pull.user ? " by #{@pull.user.display_login}" : ""
    page_info \
    title: "#{@pull.title}#{attribution} 路 Pull Request ##{@pull.number} 路 #{current_repository.name_with_display_owner}",
    container_xl: true,
    selected_link: :repo_pulls,
    description: @pull.body_text,
    dashboard_pinnable_item_id: @pull.global_relay_id,
    richweb: {
      title: "#{@pull.title}#{attribution} 路 Pull Request ##{@pull.number} 路 #{current_repository.name_with_display_owner}",
      url: "#{GitHub.url}#{issue_permalink_path(@pull.issue)}",
      description: truncate(@pull.body_text, :length => 240),
      image: avatar_url_for(@pull.safe_user, 400)
    }
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
  <div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4 position-relative" data-pjax>
    <div id="files_bucket" class="files-bucket clearfix pull-request-tab-content is-visible">
      <%= render :partial => 'comments/title', :locals => {
        :pull         => @pull,
        :comment      => @pull.issue,
        :issue        => @pull.issue,
        :title        => @pull.title.blank? ? "Untitled" : @pull.title,
      } %>
      <%= render :partial => "pull_requests/tabs", :locals => { :pull => @pull } %>

      <%= render Primer::BlankslateComponent.new(
        icon: "alert",
        title: "Sorry, this diff is unavailable.",
        "data-hpc": "",
      ) do %>
        <p>The repository may be missing relevant data. Please <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> for more information.</p>
      <% end %>
    </div>
  </div>
<% end %>
