<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<%
  attribution = @pull.user ? " by #{@pull.user}" : ""
  page_info \
    title: "Commit range not found · Pull Request ##{@pull.number} · #{current_repository.name_with_display_owner}",
    container_xl: true,
    selected_link: :repo_pulls,
    dashboard_pinnable_item_id: @pull.global_relay_id
%>

<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="clearfix container-xl px-3 px-md-4 px-lg-5 mt-4">
  <%= render :partial => 'comments/title', :locals => {
    :pull         => @pull,
    :comment      => @pull.issue,
    :issue        => @pull.issue,
    :title        => @pull.title.blank? ? "Untitled" : @pull.title,
  } %>
  <%= render :partial => "pull_requests/tabs", :locals => { :pull => @pull } %>

  <%= render Primer::BlankslateComponent.new(
    icon: "git-commit",
    title: "We couldn’t display that commit for review.",
    large: true,
    spacious: true,
    "data-hpc": ""
  ) do %>
    <p>Commits that don’t share a common merge base with the base branch are not supported.<br> You can <a class="Link--inTextBlock" href="<%= "/#{current_repository.name_with_display_owner}/commit/#{oid2}" %>">view the full commit page here</a> instead.</p>
  <% end %>
</div>
<% end %>
