<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<% plan = GitHub::Plan.business_plus %>
<% trial_text = local_assigns[:trial] ? "#{plan.trial_effective_github_actions_included_minutes(effective_at: GitHub::Billing.today).to_formatted_s(:delimited)} Actions minutes/month during trial" : nil %>

<ul class="list-style-none">
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "infinity", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>Unlimited public/private repos</li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>SAML single sign-on</li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>50,000 Actions minutes/month <div class="text-small text-normal color-fg-muted"><%= trial_text %></div></li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>50GB of Packages storage</li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>Code owners, required reviewers, GitHub Pages, and more <a class="Link--inTextBlock" href="<%= docs_url "get-started/githubs-plans-github-enterprise" %>" data-ga-click="Change organization, learn more about Team, ref_loc:card list item;">advanced tools</a>.</li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>Advanced auditing, plus priority support</li>
</ul>
<% unless local_assigns[:trial] %>
  <div class="mt-3">
    <% if local_assigns[:annual_discount] %>
      <span class="h4">$<%= plan.yearly_unit_cost_with_discount %></span>
      <span class="color-fg-muted">per seat / year</span>
    <% else %>
      <span class="h4">$<%= plan.unit_cost %></span>
      <span class="color-fg-muted">per seat / month</span>
    <% end %>
  </div>
<% end %>
