<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<ul class="list-style-none">
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "infinity", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>Unlimited public/private repos</li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>3,000 Actions minutes/month</li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>2GB of Packages storage</li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>Code owners, required reviewers, GitHub Pages, <span class="color-fg-muted">and more <a class="Link--inTextBlock" href="<%= docs_url "get-started/githubs-plans-github-team" %>" data-ga-click="Change organization, learn more about Team, ref_loc:card list item;">advanced tools</a>.</span></li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>Raise Codespaces spend limits with policies and controls</li>
</ul>
<div class="mt-3">
  <% if local_assigns[:annual_discount] %>
    <span class="h4">$<%= GitHub::Plan.business.yearly_unit_cost_with_discount %></span>
    <span class="color-fg-muted">per seat / year</span>
  <% else %>
    <span class="h4">$<%= GitHub::Plan.business.unit_cost %></span>
    <span class="color-fg-muted">per seat / month</span>
  <% end %>
</div>
