<ul class="list-style-none">
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "infinity", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>Unlimited public/private repos</li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "infinity", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>Unlimited collaborators</li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>3,000 Actions minutes/month</li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>2GB of Packages storage</li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>180 core-hours of Codespaces compute</li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>20GB of Codespaces storage</li>
  <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>Code owners, required reviewers, GitHub Pages, <span class="color-fg-muted">and more <a class="Link--inTextBlock" href="<%= docs_url "get-started/githubs-plans-github-pro" %>">advanced tools</a>.</span></li>
</ul>
