<div class="d-md-flex gutter-md">
  <div class="col-md-6">
    <ul class="list-style-none">
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "infinity", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>Unlimited public/private repos</li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "infinity", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>Unlimited collaborators</li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>2,000 Actions minutes/month</li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>500MB of Packages storage</li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>120 core-hours of Codespaces compute per developer</li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>15GB of Codespaces storage per developer</li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, ml: -4, mr: 2, alt: "Included")) %>Community support</li>
    </ul>
  </div>
  <div class="col-md-6">
    <p class="h5 color-fg-muted">Not included:</p>
    <ul class="list-style-none">
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "x", size: :small, color: :danger, ml: -4, mr: 2, alt: "Not included")) %>Free Codespaces usage per organization</li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "x", size: :small, color: :danger, ml: -4, mr: 2, alt: "Not included")) %>Protected branches on all repos</li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "x", size: :small, color: :danger, ml: -4, mr: 2, alt: "Not included")) %>Increase Codespaces
        <a class="Link--inTextBlock" href="https://docs.github.com/billing/managing-billing-for-github-codespaces/about-billing-for-github-codespaces">spend limits</a>
      </li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "x", size: :small, color: :danger, ml: -4, mr: 2, alt: "Not included")) %>Multiple reviewers in pull requests</li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "x", size: :small, color: :danger, ml: -4, mr: 2, alt: "Not included")) %>Required status checks</li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "x", size: :small, color: :danger, ml: -4, mr: 2, alt: "Not included")) %>Code owners</li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "x", size: :small, color: :danger, ml: -4, mr: 2, alt: "Not included")) %>Required reviewers</li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "x", size: :small, color: :danger, ml: -4, mr: 2, alt: "Not included")) %>Pages for static website hosting</li>
      <li class="mb-2 ml-4"><%= render(Primer::Beta::Octicon.new(icon: "x", size: :small, color: :danger, ml: -4, mr: 2, alt: "Not included")) %>Web-based support</li>
    </ul>
    <p class="mt-3"><a href="<%= cta_path %>" <%= safe_analytics_click_attributes(category: "Account", action: "click to compare plans", label: "location:current plan;text:See all features and compare plans") %>>See all features and compare plans</a></p>
  </div>
</div>
