<p class="ml-4">Build trusted software with end-to-end automated security testing embedded in your native GitHub flow</p>
<ul class="list-style-none">
  <li class="mb-2 ml-4">
    <%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, alt: "Included")) %>
    See security issues as part of your code review process.
  </li>
  <li class="mb-2 ml-4">
    <%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, alt: "Included")) %>
    Prevent secrets being committed as code.
  </li>
  <li class="mb-2 ml-4">
    <%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, alt: "Included")) %>
    Monitor dependency vulnerabilities and suggests automated fixes.
  </li>
  <li class="mb-2 ml-4">
    <%= render(Primer::Beta::Octicon.new(icon: "check", size: :small, color: :success, alt: "Included")) %>
    Create queries to find and prevent variants of new security concerns.
  </li>
</ul>
<p class="ml-4">
  <a style="margin-left:20px;" href="<%= features_path(anchor: "features-security" ) %>" <%= safe_analytics_click_attributes(
    category: "advanced_security_upgrade",
    action: "click_to_learn_more_about_advanced_security",
    label: "ref_page:#{request.fullpath};ref_cta:learn_more_about_advanced_security;ref_loc:enterprise_licensing") %>>
    Learn more about advanced security</a>
</p>
