<% repo_banner = banner[:owner].is_a? Repository %>
<%
  owner_display_name = case banner[:owner]
  when Business
    banner[:owner].name
  when Repository
    banner[:owner].name_with_display_owner
  else
    banner[:owner].display_login
  end
%>
<%= render Primer::Box.new(
  full: true,
  pt: 3,
  pb: 2,
  px: [4, nil, nil, 5, nil],
  border: :bottom,
  border_color: :subtle,
  bg: :default,
  classes: "js-notice",
  test_selector: "announcement-banner-partial"
) do %>
  <%= render(Primer::Box.new(
    display: :flex, align_items: :flex_start
  )) do %>
    <% if repo_banner %>
      <%= avatar_for(banner[:owner].owner, 24, class: "avatar mr-2 mr-xl-3 mt-1") %>
    <% else %>
      <%= avatar_for(banner[:owner], 24, class: "avatar mr-2 mr-xl-3 mt-1") %>
    <% end %>
    <%= render(Primer::Box.new(
      flex: 1,
    )) do %>
      <b>Announcement</b>
      <p class="f6 color-fg-muted">
        <%= "Posted to #{owner_display_name} on #{full_month_date(banner[:date])}" %>
      </p>
      <%= banner[:text] %>
    <% end %>
    <% if logged_in? && banner[:dismissible] %>
      <% if banner_id = banner[:id] %>
        <%= form_with url: dismiss_announcement_path(id: banner_id),
          :method => :delete,
          :class => "js-notice-dismiss-remote",
          :"data-replace-remote-form" => true do |f|
        %>
        <%= render Primer::Beta::CloseButton.new(type: :submit, aria: { label: "Dismiss" }) %>
        <% end %>
      <% else %>
        <%= render Primer::Beta::CloseButton.new(type: :submit, aria: { label: "Dismiss" }) %>
      <% end %>
    <% end%>
  <% end %>
<% end %>
