<%
  stashed_accounts ||= account_switcher_helper.stashed_accounts.valid
  data_target ||= "site-header-logged-in-user-menu.popoverElem"
  style_args ||= {
    position: :absolute,
    left: true,
    right: true,
    style: "top: 25px; right: 5px;",
  }
%>

<%= render Primer::Beta::Popover.new(
  **style_args,
  data: {
    target: data_target,
  },
  **test_selector_data_hash("switch-account-popover"),
  hidden: true,
) do |component| %>
  <% component.with_body(classes: "switch-account-popover-body", caret: :top_right, color: :default, p: 0) do %>
    <div class="d-inline-block p-3">
      <span>Signed in as</span> <span class="text-semibold" style="white-space:nowrap;">@<%= current_user.display_login %></span>
    </div>
    <hr class="m-0 mb-3">
    <div class="pb-2">
      <h6 class="px-3 mb-2 color-fg-muted text-semibold">Switch to another account</h6>
      <% stashed_accounts.each do |stashed_account| -%>
        <div>
          <%= form_tag(switch_account_path, class: "inline-form width-full") do -%>
            <%= hidden_field_tag "user_session_id", stashed_account.user_session.id %>
            <%= hidden_field_tag "return_to", return_to %>
            <button type="submit" class="py-2 width-full switch-account-popover-row border-0">
              <div class="d-flex flex-items-center px-3">
                <div class="mr-2">
                  <%= render(GitHub::AvatarComponent.new(actor: stashed_account.user, size: 16)) %>
                </div>
                <div class="Truncate">
                  <p class="m-0 Truncate-text text-semibold"><%= stashed_account.user.display_login %></p>
                </div>
              </div>
            </button>
          <% end -%>
        </div>
      <% end -%>
    </div>
  <% end %>
<% end %>
