<emu-contribution-blocked-hint>
  <%= warning_message %>

  <span style="position: relative" <%= test_selector("account_switcher_emu_block_hint") %>>
    <%= render Primer::Beta::Button.new(
      scheme: :link,
      align_content: :start,
      data: {
        action: "click:emu-contribution-blocked-hint#handlePopoverToggle",
      }
    ) do |button| %>
      <div>
        Switch account
        <%= render Primer::Beta::Octicon.new(icon: :"triangle-down", color: :accent) %>
      </div>
    <% end %>

    <%= render partial: "sessions/account_switcher_popover", locals: {
      stashed_accounts: stashed_accounts,
      return_to: return_to,
      data_target: "emu-contribution-blocked-hint.popoverElem",
      style_args: {
        position: :absolute,
      }
    }%>
  </span>
</emu-contribution-blocked-hint>
