<%
  avatar_size ||= 32
  view_name ||= "switch_account"
  continue_to ||= nil
  continue_method ||= :get
  continue_type ||= "button"
%>

<div class="Box">
  <% if logged_in? %>
    <div class="Box-row d-flex flex-items-center flex-justify-between" <%= test_selector view_name + "_current_user_row" %>>
      <div class="d-flex flex-items-center">
        <div class="mr-3">
          <%= render(GitHub::AvatarComponent.new(actor: current_user, size: avatar_size)) %>
        </div>
        <div class="Truncate flex-column">
          <p class="m-0">
            Signed in as
            <div class="m-0 wb-break-all Truncate-text"><strong <%= test_selector "current_user" %>><%= current_user.display_login %></strong></div>
          </p>
        </div>
      </div>
      <% if signing_out %>
        <div class="ml-2">
          <%= form_tag(kill_session_path, class: "inline-form", "data-turbo": false) do -%>
            <%= hidden_field_tag "return_to", return_to %>
            <%= submit_tag "Sign out", class: "btn btn-sm m-0" %>
          <% end -%>
        </div>
      <% elsif continue_to %>
        <div class="ml-auto">
        <% if continue_type == "button" %>
          <%= button_to "Continue", continue_to, method: continue_method, class: "btn btn-sm btn-primary m-0", form_class: "inline-form" %>
        <% else %>
          <%= link_to "Continue", continue_to, class: "btn btn-sm btn-primary m-0", role: "button" %>
        <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if account_switcher_helper.enabled? %>
    <% account_switcher_helper.stashed_accounts.all.each do |stashed_account| -%>
      <div class="Box-row d-flex flex-items-center flex-justify-between">
        <% if stashed_account.valid? %>
          <div class="d-flex flex-items-center">
            <div class="mr-3">
              <%= render(GitHub::AvatarComponent.new(actor: stashed_account.user, size: avatar_size)) %>
            </div>

            <div class="Truncate flex-column">
              <p class="m-0">
                <span class="m-0 wb-break-all Truncate-text"><strong <%= test_selector view_name + "_stashed_user_row" %>><%= stashed_account.user.display_login %></strong></span>
              </p>
            </div>
          </div>

          <div class="ml-2">
            <% if signing_out %>
              <%= form_tag(kill_session_path, class: "inline-form", "data-turbo": false) do -%>
                <%= hidden_field_tag "user_session_id", stashed_account.user_session.id %>
                <%= hidden_field_tag "return_to", return_to %>
                <%= submit_tag "Sign out", class: "btn btn-sm m-0" %>
              <% end -%>
            <% else %>
              <%= form_tag(switch_account_path, class: "inline-form", "data-turbo": false) do -%>
                <%= hidden_field_tag "user_session_id", stashed_account.user_session.id %>
                <%= hidden_field_tag "return_to", return_to %>
                <%= submit_tag "Select", class: "btn btn-sm m-0" %>
              <% end -%>
            <% end %>
          </div>

        <% else %>
          <div class="d-flex flex-items-center">
            <div class="mr-3">
              <%= render(GitHub::AvatarComponent.new(actor: stashed_account.user, size: avatar_size, classes: "inactive-user-avatar")) %>
            </div>

            <div class="Truncate flex-column">
              <p class="m-0">
                <span class="m-0 wb-break-all Truncate-text"><strong <%= test_selector view_name + "_stashed_user_row" %>><%= stashed_account.user.display_login %></strong></span>
                <p class="m-0"><em>Signed out</em></p>
              </p>
            </div>
          </div>

          <div class="ml-2">
            <% if signing_out %>
              <%= form_tag(remove_inactive_session_path, class: "inline-form", "data-turbo": false) do -%>
                <%# user_session_key is invalid, so there's no risk of imbedding it in the DOM %>
                <%= hidden_field_tag "user_session_key", stashed_account.user_session_key %>
                <%= hidden_field_tag "return_to", return_to %>
                <%= submit_tag "Remove", class: "btn btn-sm m-0" %>
              <% end -%>
            <% else %>
              <%= link_to "Sign in", login_path(login: stashed_account.user.display_login, add_account: 1, return_to: return_to), role: "button", class: "btn btn-sm text-center m-0" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end -%>
  <% end %>
</div>
