<% proxima_admin_login ||= false %>
<%= form_tag session_path do -%>
  <%= hidden_field_tag "add_account", params[:add_account] %>

  <% unless proxima_admin_login %>
    <label for="login_field">
      <%= login_field_label %>
    </label>
    <% opts = { class: "input-block", id: "login_field", autocapitalize: :off,
      autocorrect: :off, autocomplete: "username" } %>
    <% opts[:class] ="#{opts[:class]} js-login-field" %>
    <% opts[:autofocus] = "autofocus" if !params[:login] %>
    <% opts[:required] = true %>
    <%= text_field_tag "login", params[:login], opts %>
  <% end %>

 <%# for accessibility and usability, keyboard focus with Tab should follow the exact flow: username -> password -> forgot password -> sign in %>
  <div class="position-relative">
    <label for="password">
      Password
    </label>
    <% opts = { class: "input-block js-password-field", autocomplete: "current-password"} %>
    <% opts[:autofocus] = "autofocus" if params[:login] %>
    <% opts[:required] = true %>
    <%= password_field_tag "password", GitHub.default_password, opts %>
    <%= link_to("Forgot password?", password_reset_path, class: "label-link position-absolute top-0 right-0", id: "forgot-password") unless GitHub.auth.external? %>
    <%= render partial: "/sessions/sign_in_state" %>
    <%= submit_tag "Sign in", class: "btn btn-primary btn-block js-sign-in-button",
      data: {
        disable_with: "Signing in…",
        signin_label: "Sign in",
        sso_label: "Sign in with your identity provider"
      },
      development: Rails.env.development?,
      "disable-emu-sso": GitHub.multi_tenant_enterprise?
    %>
  </div>
<% end -%>
<% if show_passkey_login? %>
  <webauthn-status class="js-webauthn-login-emu-control">
    <% if login_scenario == :new_session %>
      <include-fragment <%= test_selector "passwordless-login-fragment" %> data-target="webauthn-status.fragment" data-src="<%= u2f_login_fragment_path(passkey: params[:passkey], is_emu_login: is_emu_login?(params[:login]), return_to: params[:return_to]) %>"></include-fragment>
    <% elsif login_scenario == :logged_out_404 %>
        <div data-target="webauthn-status.partial" class="d-flex flex-justify-between flex-column mt-3 mb-0" hidden>
          <%= render Primer::Beta::Button.new(
            tag: :a,
            scheme: :link,
            href: site_nav_login_path(passkey: true),
            data: analytics_click_attributes(
              category: "passkey_404_login",
              action: "clicked",
            )
          ) do %>
            or sign in with a passkey
          <% end %>
        </div>
    <% end -%>
  </webauthn-status>
<% end -%>
