<%= render(Primer::Alpha::Dialog.new(
    title: "Recovering your account or unlinking your email address(es)",
    subtitle: "If you have any of the methods shown in 'step 2' below, you can request a reset of your authentication settings.",
    id: "recovery-dialog",
    show_divider: true,
    size: :medium_portrait,
    animation: :fade_in
  )) do |d| %>
  <% d.with_show_button(scheme: :link, classes: "two-factor-recovery-modal-prompt #{ "fit-in-box" unless tfa_recovery_without_password }") {
    if tfa_recovery_without_password
      "2FA recovery request"
    else
      "Try 2FA account recovery, or unlink your account email address(es)"
    end
  } %>
  <% d.with_body do %>
    <p class="mb-0 text-center p-3">If you have any of the methods shown in 'step 2' below, you can
      <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/github/authenticating-to-github/recovering-your-account-if-you-lose-your-2fa-credentials" target="_blank" rel="noopener noreferrer">request a reset</a>
      of your authentication settings. For security reasons <strong>this takes approximately 1-3 business days</strong>.</p>
    <div class="d-flex border-top border-bottom text-center p-3 color-bg-inset">
      <div class="flex-auto col-4">
        <%= primer_octicon(:mail, color: tfa_recovery_without_password ? :accent : :muted) %>
        <h5 class="my-2">Step 1</h5>
        Verify an email associated with this account.
      </div>
      <div class="flex-auto col-4">
        <%= primer_octicon(:key, color: :muted) %>
        <h5 class="my-2">Step 2</h5>
        Verify a device, SSH key or personal access token.
      </div>
      <div class="flex-auto col-4">
        <%= primer_octicon(:clock, color: :muted) %>
        <h5 class="my-2">Step 3</h5>
        GitHub support will review your request <strong>within 1-3 days</strong>.
      </div>
    </div>
    <p class="mb-0 mt-0 text-center p-3 <%= "border-bottom" unless tfa_recovery_without_password %>">If recovery isn't possible, you can elect to
      <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/unlinking-your-email-address-from-a-locked-account" target="_blank" rel="noopener noreferrer">unlink an email address</a>
      to use with a new account.
    </p>
  <% end %>
  <% d.with_footer(align_items: :center, justify_content: :center) do %>
    <% if tfa_recovery_without_password %>
      <%# submits to form on password_resets/edit %>
      <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, block: true, mt: 0) do %>I understand, get started<% end %>
    <% else %>
      <%= form_tag two_factor_recovery_request_start_path, method: :post do %>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, block: true, mt: 0) do %>I understand, get started<% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
