<% page_info :title => "Logout" %>

<div class="auth-form px-3" <%= test_selector "switch_account_view" %>>
  <div class="auth-form-header p-0">
    <h1>Select account to sign out</h1>
  </div>
  <%= render "shared/flash" %>

  <%= render partial: "sessions/account_switcher_box", locals: {
    view_name: "logout_account",
    signing_out: true,
  }%>

  <%= form_tag(kill_session_path, class: "inline-form width-full") do -%>
    <%= hidden_field_tag "after_logout", "/" %>
    <%= hidden_field_tag "destroy_all", "true" %>
    <%= submit_tag "Sign out from all accounts", class: "btn btn-large width-full text-center mt-3 btn-danger" %>
  <% end -%>
</div>
