<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% return_to ||= nil %>

<% page_info :title => "Your accounts" %>

<div class="auth-form px-3" <%= test_selector "switch_account_view" %>>
  <div class="auth-form-header p-0">
    <h1>Switch account</h1>
  </div>
  <%= render "shared/flash" %>

  <% if account_switcher_helper.at_account_maximum? %>
    <%= render(Primer::Beta::Flash.new(display: :flex, dismissible: true)) do %>
      <div>
        <p>
          You have reached the maximum number of accounts you can add.
          Please <%= link_to "remove an account", confirm_logout_path, class: "Link--inTextBlock" %> before adding another.
        </p>
      </div>
    <% end %>
  <% end %>

  <%= render partial: "sessions/account_switcher_box", locals: {
    view_name: "switch_account",
    signing_out: false,
    return_to: return_to,
  }%>

  <% if account_switcher_helper.at_account_maximum? %>
    <%= link_to logged_in? ? "Continue as #{current_user.display_login}" : "Return to homepage", home_url, role: "button", class: "btn btn-large width-full text-center" %>
  <% else %>
    <%= link_to logged_in? ? "Add a different account" : "Sign in with a different account", add_account_path(return_to: return_to), role: "button", class: "btn btn-large width-full text-center mt-3" %>
    <%= link_to logged_in? ? "Continue as #{current_user.display_login}" : "Return to homepage", home_url, class: "d-block text-center mt-3" %>
  <% end %>
</div>
