<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: "Two-factor recovery", class: "page-two-factor-auth session-authentication"%>

<% otp = Rails.env.development? ? @user.two_factor_credential.first_unused_recovery_code : "" %>
<div class="two-factor-container">
  <div id="login" class="auth-form px-3">
    <%= form_tag two_factor_recover_path do %>
      <div class="auth-form-header p-0">
        <h1>Two-factor recovery</h1>
      </div>

      <%= render "shared/flash" %>

      <%= render(Primer::Beta::BorderBox.new(mt: 3, bg: :subtle)) do |component| %>
        <% component.with_header(display: :flex, justify_content: :center, align_items: :center, direction: :column, border_bottom: 0, pb: 0) do %>
          <%= primer_octicon(:"key", height: 32, color: :muted) %>
          <h2 class="mt-2 f3 text-normal text-center" id="recovery-input-label">Recovery code</h2>
        <% end %>
        <%= component.with_body(pt: 0, mt: 0) do %>
          <%= text_field_tag :recovery_code, '', "aria-labelledby": "recovery-input-label", "aria-describedby": "recovery-input-description",
            :autocomplete => :off, :autofocus => "autofocus", :class => "input-block", :value => otp, placeholder: "XXXXX-XXXXX"
          %>

          <%= render Primer::ButtonComponent.new(scheme: :primary, block: true, "data-disable-with": "Verifying…", type: :submit) do %>Verify<% end %>
          <div class="mt-3" id="recovery-input-description">
            If you are unable to access your mobile device, enter one of your recovery codes to verify your identity.
          </div>
        <% end %>
      <% end %>
    <% end %>

    <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
      <%= component.with_body(p: 3) do %>
        <h2 id="lost-code-options" class="h5 mb-2">Don't have a recovery code?</h2>
        <%= render(Sessions::TwoFactorAlternativesComponent.new(user: @user, prompt_type: "recovery_code", list_label_id: "lost-code-options")) %>
      <% end %>
    <% end %>

    <% unless GitHub.enterprise? || GitHub.multi_tenant_enterprise? %>
      <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
        <%= component.with_body(p: 3) do %>
          <h2 class="h5">Locked out?</h2>
          <%= render partial: "sessions/two_factor_recover_modal", locals: { tfa_recovery_without_password: false } %>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>
