<%# rubocop:disable Lint/InstanceVariable %>
<% page_info title: "Two-factor authentication", class: "page-two-factor-auth session-authentication" %>

<%
  auth_form_class = @show_captcha ? "auth-form-wide" : "auth-form"
  login_classes = safe_join([auth_form_class, "px-3"], " ")
  form_class = @show_captcha ? "js-octocaptcha-parent" : ""
%>

<div id="login" class="<%= login_classes %>" >
  <div class="auth-form-header p-0">
    <h1>Two-factor authentication</h1>
  </div>

  <%= render(Primer::Beta::BorderBox.new(bg: :subtle, w: :auto)) do |component| %>
    <% component.with_header(display: :flex, justify_content: :center, align_items: :center, direction: :column, border_bottom: 0, pb: 0) do %>
      <%= primer_octicon(:"comment", height: 32, color: :muted) %>
      <h2 class="mt-2 f3 text-normal text-center">Authentication code</h2>
    <% end %>
    <%= component.with_body do %>
      <div class="mb-3">When your phone is ready, click the button below to receive a code via SMS.</div>

      <% if @show_captcha %>
        <p class="color-fg-muted">
          Please verify that you're a human.
        </p>
      <% end %>

      <%= form_tag two_factor_sms_send_path, :method => :post, :class => form_class do %>
        <%= csrf_hidden_input_for two_factor_sms_send_path, method: :post, class: "js-data-url-csrf-send" %>
        <%= hidden_field_tag :resend, params[:resend] %>

        <% if @show_captcha %>
          <%= render partial: "shared/octocaptcha", locals: { include_header: false, origin_page: "github_two_factor_sms_login", octocaptcha_timeout: @octocaptcha_timeout } %>
        <% end %>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary, w: :full, disabled: @show_captcha, classes: "js-octocaptcha-form-submit") do %>Send SMS<% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
    <%= component.with_body(p: 3) do %>
      <h2 id="problems-options" class="h5 mb-2">Having problems?</h2>
      <%= render(Sessions::TwoFactorAlternativesComponent.new(user: @user, prompt_type: "sms_confirm", list_label_id: "problems-options")) %>
    <% end %>
  <% end %>
</div>
