<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info class: "session-authentication" %>
<% otp = Rails.env.development? ? session[:device_verification_code] : "" %>

<div id="login" class="auth-form px-3">
  <div class="auth-form-header p-0">
    <h1>Device verification</h1>
  </div>

  <%= render "shared/flash" %>

  <%= render(Primer::Beta::BorderBox.new(mt: 3, bg: :subtle)) do |component| %>
    <% component.with_header(display: :flex, justify_content: :center, align_items: :center, direction: :column, border_bottom: 0, pb: 0) do %>
      <%= primer_octicon(:mail, height: 32, color: :muted) %>
      <h3 class="mt-3">Email</h3>
    <% end %>

    <%= component.with_body do %>
      <div id="device-verification-prompt" class="mt-0 two-factor-help px-3 d-flex flex-column flex-items-center">
        <p class="wb-break-word" id="verify-device-input-description">
          We just sent your authentication code via email to <%= to_sentence(verified_device_user.masked_primary_and_account_related_emails) %>.
          The code will expire at <%= Time.zone.at(session[:device_verification_expiration]).strftime("%l:%M%p %Z").strip %>.
        </p>
      </div>

      <div class="auth-form-body pt-2 border-0">
        <%= form_tag verified_device_authenticate_path do %>
          <label for="otp" id="verify-device-input-label"> Device Verification Code </label>
          <% autocomplete = supports_autocomplete_otp? ? "one-time-code" : "off" %>
          <%= text_field_tag :otp, "", "aria-labelledby": "verify-device-input-label", "aria-describedby": "verify-device-input-description",
            autocomplete: autocomplete, autofocus: "autofocus", class: "input-block js-verification-code-input-auto-submit",
            value: otp, id: "otp", :inputmode => "numeric", :pattern => "([0-9]{6})|([0-9a-fA-F]{5}-?[0-9a-fA-F]{5})",
            :placeholder => "XXXXXX"
          %>

          <%= render Primer::ButtonComponent.new(scheme: :primary, block: true, "data-disable-with": "Verifying…", type: :submit) do %>Verify<% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(mt: 3, mb: 3)) do |component| %>
    <% auto_directed = params[:auto] == "true" %>
    <%= component.with_body(p: 3) do %>
      <h2 id="verification-options" class="h5 mb-2">Having trouble verifying via email?</h2>
      <ul class="ml-3" aria-labelledby="verification-options">
        <li>
          <%= form_tag resend_verification_email_path, class: "inline-form" do %>
            <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link) do %>Re-send the authentication code<% end %>
          <% end %>
        </li>
        <% if can_use_gh_mobile_auth?(verified_device_user) %>
          <li><%= link_to "Authenticate with GitHub Mobile", github_mobile_verified_device_prompt_path %></li>
        <% else %>
          <li><%= link_to "Try GitHub Mobile for simplified device verification", "#{GitHub.help_url}/authentication/keeping-your-account-and-data-secure/about-authentication-to-github#authenticating-in-your-browser" %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <p>
    If you'd like to require verification on every sign in, consider enabling <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/configuring-two-factor-authentication">two-factor authentication</a> on your account.
  </p>
</div>
