<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= form_tag org_team_migrate_discussions_path(team_slug: team_slug, org: organization), method: :put, class: "js-repo-select-form" do %>
  <%= render(Primer::Beta::Flash.new(
    scheme: :warning,
    icon: :alert,
    full: true,
    display: :flex,
  )) { "Posts will be seen by everyone who has permissions for this repository which may be different than members in this team." } %>

  <div class="js-repo-select-form p-3">
    <p class="mb-2">Choose the repository that has discussions to transfer team posts to:</p>
    <div class="form-checkbox my-0 p-0">
      <div class="d-flex flex-items-center">
        <details class="select-menu details-reset details-overlay">
          <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
            <span id="js-selected-repository-name">Choose a repository</span>
          <% end %>
          <details-menu class="select-menu-modal position-absolute" style="overflow: scroll; max-height: 285px; z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <div class="select-menu-filters">
              <div class="select-menu-text-filter">
                <remote-input
                  aria-owns="org-level-repository-menu-list"
                  src="<%= team_discussions_selected_repositories_path(organization, team_slug) %>">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search for a repository"
                    aria-label="Search for a repository"
                    autocomplete="off"
                    autofocus>
                </remote-input>
              </div>
            </div>
            <div class="select-menu-list" id="org-level-repository-menu-list" style="max-height: 300px;">
            </div>
          </details-menu>
        </details>
      </div>
    </div>

    <div class="form-checkbox mt-2">
      <input
        type="checkbox"
        value="1"
        id="include-private-posts"
        name="include_private_posts"
        checked
      >
      <label for="include-private-posts" class="text-normal">Include private posts in transfer (if unchecked these will be archived)</label>
    </div>

    <p>
      <ul class="ml-3">
        <li>Permissions will be based on <span class="text-bold">repository settings</span>.</li>
        <li>For more information please see our <a href="https://docs.github.com" class="text-underline" style="text-underline-offset: 25%">documentation</a></li>
        <li>Posts will be transfered to a new category in your Discussion called Team Posts, you can change the category or repository for individual posts later.</li>
        <li>This transfer will create a new category. Repositories with the maximum number of categories will be invalid for transfer.</li>
        <li>This transfer is permanent, and your content will remain in Discussions.</li>
      </ul>
    </p>

    <%= render(Primer::ButtonComponent.new(
      block: :true,
      scheme: :primary,
      disabled: true,
      type: :submit,
      id: "js-submit-button"
    )) { "Transfer team posts" } %>
  </div>
<% end %>
