<%# erblint:counter DeprecatedComponentsCounter 4 %>
<%
  toggled_anonymous_access = !current_repository.anonymous_git_access_enabled?
  action = toggled_anonymous_access ? "Enable" : "Disable"
  state = current_repository.anonymous_git_access_enabled? ? "enabled" : "disabled"
%>

<% if current_repository.fork? %>
  <div class="flex-auto">
    <strong><%= action %> anonymous Git read access</strong>
    <p>
      Forks inherit the anonymous Git read access setting of the upstream or parent repository.
      Please <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/duplicating-a-repository">duplicate the repository</a>.
      Currently <b><%= state %></b>.
    </p>
  </div>

  <%= render Primer::ButtonComponent.new(scheme: :danger, disabled: true) do %>
    <%= action %>
  <% end %>
<% elsif current_repository.anonymous_git_access_locked?(current_user) %>
  <div class="flex-auto">
    <strong><%= action %> anonymous Git read access</strong>
    <p>
      The anonymous Git read access setting is currently <%= state %> and can only be changed by a site administrator.
    </p>
  </div>

  <%= render Primer::ButtonComponent.new(scheme: :danger, disabled: true) do %>
    <%= action %>
  <% end %>
<% else %>
  <div class="flex-auto">
    <strong><%= action %> anonymous Git read access</strong>
    <p>
      <%= action %> read access to this repository for Git operations without authentication.
      Currently <b><%= state %></b>.
    </p>
  </div>

  <%= render GitHub::DialogComponent.new(title: "#{action} anonymous Git read access") do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :danger) do %>
        <%= action %>
      <% end %>
    <% end %>

    <% if toggled_anonymous_access %>
      <% dialog.with_alert do %>
        This will allow Git reads without authentication!
      <% end %>
    <% end %>

    <% dialog.with_body do %>
      <% if toggled_anonymous_access %>
        <ul class="ml-3">
          <li>You are allowing unauthenticated Git operations to read the code in this repository.</li>
          <li>Anyone with network access to GitHub Enterprise will be able to read the code in this repository.</li>
        </ul>
      <% else %>
        <ul class="ml-3">
          <li>Unauthenticated Git operations will no longer be able to read the code in this repository.</li>
          <li>Disabling anonymous Git reads could impact developer tools’ access to this repository.</li>
        </ul>
      <% end %>
      <hr>

      <p>Please type <strong><%= current_repository.name_with_display_owner %></strong> to confirm.</p>

      <%= form_with url: settings_change_anonymous_git_access_path(current_repository.owner, current_repository), method: :put do %>
        <input type="hidden" value="<%= toggled_anonymous_access %>" name="value">
        <p>
          <input type="text" class="form-control input-block" autofocus required
                pattern="<%= case_insensitive_pattern current_repository.name_with_display_owner %>"
                aria-label="Type in the name of the repository to confirm that you want to change the anonymous Git access of this repository."
                name="verify"
                autocomplete="off">
        </p>

        <%= render Primer::ButtonComponent.new(
          scheme: :danger,
          type: :submit,
          block: true,
          data: {
            "disable-invalid" => true,
            "disable-with" => "",
          }
        ) do %>
          I understand, <%= action.downcase %> anonymous Git read access.
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
