<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag update_repository_archive_settings_path(current_repository.owner, current_repository),
    :method => :put,
    "data-autosubmit" => true do %>

    <div class="Box">
      <ul>
        <li class="Box-row py-0">
          <div class="form-group js-repo-option">
            <div class="form-checkbox">
              <label for="archive_include_lfs_objects">Include Git LFS objects in archives</label>
              <span class="status-indicator js-status-indicator">
                <%= primer_octicon(:check) %>
              </span>
              <input type="checkbox"
                     name="include_lfs_objects"
                     value="1"
                     id="archive_include_lfs_objects"
                     <%= 'aria-describedby=archive_include_lfs_objects_desc' unless GitHub.enterprise? %>
                     <%= "checked" if current_repository.lfs_in_archives_enabled? %>>
              <% unless GitHub.enterprise? %>
                <p id="archive_include_lfs_objects_desc" class="note">Git LFS usage in archives is billed at the same rate as usage with the client.</p>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
    </div>

  <noscript>
    <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit) do %>Save changes<% end %>
  </noscript>
<% end %>
