<%# erblint:counter DeprecatedComponentsCounter 5 %>
<% if current_repository.archived? %>
  <% if !current_repository.trade_controls_read_only? && !current_repository.unarchive_blocked? %>
    <%= render GitHub::DialogComponent.new(title: "Unarchive repository", details_classes: 'flex-order-2') do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
      <% dialog.with_summary do %>
        <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :danger, float: [:none, nil, :right], ml: [0, nil, 3], mt: [2, nil, 0], classes: "boxed-action") do %>Unarchive this repository<% end %><%# erblint:disable DeprecatedCustomCss %>
      <% end %>
      <% dialog.with_alert do %>
        Unexpected bad things will happen if you don’t read this!
      <% end %>
      <% dialog.with_body do %>
        <div class="d-flex flex-nowrap">
          <div><%= render Primer::Beta::Octicon.new(icon: "lock") %></div>
          <div class="pl-3 flex-1">
            <p class="overflow-hidden">This will make <strong><%= current_repository.name_with_display_owner %></strong> read-write.</p>
            <p class="overflow-hidden mb-1">Once unarchived, the following can be modified and commented on:</p>
            <ul class="ml-3" style="column-count: 2">
              <li>Issues</li>
              <li>Pull Requests</li>
              <li>Labels</li>
              <li>Milestones</li>
              <li>Projects</li>
              <li>Wiki</li>
              <li>Releases</li>
            </ul>
          </div>
        </div>

        <% show_security_features_notice_when_unarchiving(repository: current_repository) do |code_scanning:| %>
        <div class="d-flex flex-nowrap mt-3" <%= test_selector("security-features-unarchive-notice") %>>
          <div><%= render Primer::Beta::Octicon.new(icon: "shield") %></div>
          <div class="pl-3 flex-1">
            <p class="overflow-hidden mb-1">Security features will become available:</p>
            <ul class="ml-3" style="column-count: 2">
              <% if code_scanning %><li><span <%= test_selector("code-scanning-unarchive-notice") %>>Code scanning</span></li><% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <% end %>
      <% dialog.with_footer do %>
        <p id="unarchive-repo-name-label">Please type <strong><%= current_repository.name_with_display_owner %></strong> to confirm.</p>

        <%= form_for 'unarchive_repository_path',
           :url  => unarchive_repository_path(current_repository),
           :html => { :method => :post } do %>
          <p>
            <input type="text" class="form-control input-block" autofocus required
                   pattern="<%= case_insensitive_pattern current_repository.name_with_display_owner %>"
                   aria-labelledby="unarchive-repo-name-label"
                   name="verify"
                   autocomplete="off">
          </p>
          <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-disable-invalid": "") do %>
            <span class="d-md-inline-block d-none">I understand the consequences, unarchive this repository</span>
            <span class="d-inline-block d-md-none">Unarchive this repository</span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= render Primer::ButtonComponent.new(scheme: :danger, float: [:none, nil, :right], ml: [0, nil, 3], mt: [2, nil, 0], classes: "boxed-action flex-order-2", disabled: true) do %>Unarchive this repository<% end %><%# erblint:disable DeprecatedCustomCss %>
  <% end %>
  <div class="flex-auto">
    <strong>Unarchive this repository</strong>
      <% if current_repository.unarchive_blocked? %>
        <p class="mb-0">This repository cannot be unarchived because its parent organization is archived.</p>
      <% else %>
        <p class="mb-0">Mark this repository as unarchived and read-write.</p>
      <% end %>
  </div>
<% else %>
  <%= render GitHub::DialogComponent.new(title: "Archive repository", details_classes: 'flex-order-2') do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
    <% dialog.with_summary do %>
      <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :danger, float: [:none, nil, :right], ml: [0, nil, 3], mt: [2, nil, 0], classes: "boxed-action") do %>Archive this repository<% end %><%# erblint:disable DeprecatedCustomCss %>
    <% end %>
    <% dialog.with_alert do %>
        <strong class="overflow-hidden">This repository will become read-only.</strong>
        <p class="overflow-hidden mt-1 ml-5">You will still be able to fork the repository and unarchive it at any time.</p>
    <% end %>
    <% dialog.with_body do %>
      <div class="d-flex flex-nowrap mb-3">
        <div><%= render Primer::Beta::Octicon.new(icon: "workflow") %></div>
        <div class="pl-3 flex-1">
            <p class="overflow-hidden">All scheduled workflows will stop running.</p>
        </div>
      </div>

      <% show_security_features_notice_when_archiving(repository: current_repository) do |code_scanning:| %>
        <div class="d-flex flex-nowrap mb-3" <%= test_selector("security-features-archive-warning") %>>
          <div><%= render Primer::Beta::Octicon.new(icon: "shield") %></div>
          <div class="pl-3 flex-1">
            <p class="overflow-hidden mb-1">Security features will be unavailable:</p>
            <ul class="ml-3" style="column-count: 2">
              <% if code_scanning %><li><span <%= test_selector("code-scanning-archive-warning") %>>Code scanning</span></li><% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="d-flex flex-nowrap">
        <div><%= render Primer::Beta::Octicon.new(icon: "checklist") %></div>
        <div class="pl-3 flex-1">
          <p class="overflow-hidden mb-1">Before you archive, please consider:</p>
          <ul class="ml-3">
            <li>Updating any repository settings</li>
            <li>Closing all open issues and pull requests</li>
            <li>Making a note in your README</li>
          </ul>
        </div>
      </div>

      <% if show_billing_notice_when_archiving?(repository: current_repository) %>
        <div class="d-flex flex-nowrap mt-3">
          <p><%= render Primer::Beta::Octicon.new(icon: "credit-card") %></p>
          <p class="overflow-hidden pl-3 flex-1">You will still be charged for this repository. This will not change your billing plan. If you want to downgrade, you can do so in your Billing Settings.</p>
        </div>
      <% end %>
    <% end %>
    <% dialog.with_footer do %>
      <p id="archive-repo-name-label">Please type <strong><%= current_repository.name_with_display_owner %></strong> to confirm.</p>

      <%= form_for 'archive_repository_path',
         :url  => archive_repository_path(current_repository),
         :html => { :method => :post } do %>
        <p>
          <input type="text" class="form-control input-block" autofocus required
                 pattern="<%= case_insensitive_pattern current_repository.name_with_display_owner %>"
                 aria-labelledby="archive-repo-name-label"
                 name="verify"
                 autocomplete="off">
        </p>
        <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-disable-invalid": "") do %>
          <span class="d-md-inline-block d-none">I understand the consequences, archive this repository</span>
          <span class="d-inline-block d-md-none">Archive this repository</span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div class="flex-auto">
    <strong>Archive this repository</strong>
    <p class="mb-0">Mark this repository as archived and read-only.</p>
  </div>
<% end %>
