<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<dd data-limit="<%= ProtectedBranch::MAX_AUTHORIZED_ACTORS %>" class="width-full js-authorized-pushers authorized-pushers
  <% if !protected_branch.restricted_dismissed_reviews? %>d-none<% end %>
  <% if protected_branch.dismissal_restricted_actors_limit_reached? %>at-limit<% end %>">

  <div class="auto-search-group add-protected-branch-actor">
    <auto-complete
      class="auto-search-group d-block js-add-protected-branch-actor"
      data-add-url="<%= branch_authorized_actor_path(branch: branch_name, type: "dismiss") %>"
      src="<%= branch_authorization_suggestions_path(name: branch_name, type: "dismiss") %>"
      for="dismiss-reviews-results">

      <input type="text"
        class="form-control auto-search-input"
        placeholder="Search for people, teams, or apps"
        aria-label="Search for people, teams, or apps">
      <%= primer_octicon(:search) %>
      <ul id="dismiss-reviews-results" class="autocomplete-results"></ul>
    </auto-complete>
  </div>

  <%= render(Primer::Beta::Flash.new(scheme: :warning, classes: "actor-limit-reached")) do %>
    <strong>You have reached the maximum number of people, teams, and apps you can add.</strong>
    Remove one or more to continue adding others.

    <p><a class="Link--inTextBlock" href="<%= "#{GitHub.help_url}/articles/about-protected-branches" %>">View the protected branches documentation</a> for more information.</p>
  <% end %>

  <div class="Box protected-branch-authorized-pushers-table">
    <div class="Box-header">
      <h3 class="Box-title">People, teams, or apps that can dismiss reviews.</h3>
    </div>
    <div>
      <div class="color-bg-subtle Box-row border-top clearfix d-flex p-3">
        <%= primer_octicon(:organization, height: 32, classes: "flex-shrink-0") %>
        <div>
          <span class="text-emphasized">Organization and repository administrators</span>
          <div class="js-protected-branch-admin-permission protected-branch-admin-permission <%= "d-none" if protected_branch.admin_enforced? %>">These members can always dismiss.</div>
          <div class="js-protected-branch-admin-permission protected-branch-admin-permission <%= "d-none" if !protected_branch.admin_enforced? %>">These members cannot dismiss.</div>
        </div>
      </div>
      <div class="table-list">
        <div class="js-authorized-actors">
          <% protected_branch.review_dismissal_allowances.map(&:actor).each do |actor| %>
            <%= render :partial => "branch_authorization/authorized_actor", :locals => {
              :actor => actor,
              :form_field_name => "dismiss"
            } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</dd>
