<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= form_for current_repository,
url: update_repository_default_branch_path(current_repository.owner, current_repository),
method: :put,
html: { id: nil } do |f| %>
<details class="select-menu details-overlay details-reset d-inline-block">
  <%# erblint:counter LabelComponentMigrationCounter 1 %>
    <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button css-truncate") do %>
    <span class="css-truncate-target" data-menu-button><%= current_repository.default_branch_for_display %></span>
  <% end %>

  <details-menu class="select-menu-modal position-absolute" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="SelectMenu-filter">
      <input
        id="default-branch-filter"
        class="SelectMenu-input form-control js-filterable-field"
        type="text"
        autocomplete="off"
        spellcheck="false"
        placeholder="Filter branches"
        aria-label="Filter branches"
        autofocus
        data-ref-filter
        >
    </div>
    <ref-selector
      type="branch"
      data-action="
        focus-list:ref-selector#focusFirstListMember
      "
      query-endpoint="<%= refs_ref_list_path(repository: current_repository.name, user_id: current_repository.owner_display_login) %>"
      cache-key="<%= current_repository.cache_key %>"
      default-branch="<%= Base64.strict_encode64(current_repository.default_branch) %>"
      current-committish="<%= Base64.strict_encode64(current_repository.default_branch) %>"
      name-with-owner="<%= Base64.strict_encode64(current_repository.name_with_display_owner) %>"
      prefetch-on-mouseover
      >

      <template data-target="ref-selector.fetchFailedTemplate">
        <div class="SelectMenu-message" data-index="{{ index }}">Could not load branches</div>
      </template>

      <div data-target="ref-selector.listContainer" role="menu" class="SelectMenu-list" style="max-height: 330px">
        <div class="SelectMenu-loading pt-3 pb-0">
          <%= render(Primer::Beta::Spinner.new(size: :medium)) %>
        </div>
      </div>

      <template data-target="ref-selector.itemTemplate">
        <label class="SelectMenu-item"
          tabindex="0"
          role="menuitemradio"
          aria-checked="{{ isCurrent }}"
          data-index="{{ index }}">
          <input hidden name="name" type="radio" value="{{ refName }}">
          <%= render(Primer::Beta::Octicon.new(:check, classes: 'SelectMenu-icon SelectMenu-icon--check')) %>
          <span class="select-menu-item-text flex-1 css-truncate css-truncate-overflow" data-menu-button-text>{{ refName }}</span>
          <span hidden="{{ isNotDefault }}" class="Label Label--secondary flex-self-start">default</span><%# erblint:disable BooleanAttributes %>
        </label>
      </template>

      <template data-target="ref-selector.noMatchTemplate">
        <div class="SelectMenu-message" data-index="{{ index }}">Nothing to show</div>
      </template>

    </ref-selector>
  </details-menu>
</details>

<%= render layout: "shared/details_dialog", locals: {
    button_text: "Update",
    button_class: "btn",
    details_class: "d-inline-block",
    title: "Update default branch"
  } do %>
  <div class="Box-body overflow-auto">
    <a href="<%= GitHub.help_url %>/articles/setting-the-default-branch/" class="Link--inTextBlock">Changing your default branch</a>
    can have unintended consequences that can affect new pull requests and clones.
  </div>
  <div class="Box-footer">
    <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-disable-invalid": "") do %>I understand, update the default branch.<% end %>
  </div>
<% end %>
<% end %>
