<% if !heads_count.nil? && (heads_count > 0) %>
  <dl class="form-group d-inline-block my-0 mt-3">
    <% default_branch_description = "The default branch is considered the “base” branch in your repository, against which all pull requests and code commits are automatically made, unless you specify a different branch." %>
    <dt>
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2) do %>Default branch<% end %>
      <% end %>
      <p><%= default_branch_description %></p>
    </dt>
    <dd class="d-flex">
        <span
          type="text"
          value="<%= repository.default_branch %>"
          class="short form-group form-control Box d-flex flex-items-center flex-justify-between"
          style="margin: 0"
        >
          <span class="mr-2" style="overflow-x: hidden">
            <span class="commit-ref user-select-contain f6" style="white-space: nowrap; text-overflow: ellipsis; max-width: 100%; display: block; overflow-x: hidden"><%= repository.default_branch %></span>
          </span>
        </span>
        <%
          can_rename = repository.branch_renameable_by?(current_user, branch: repository.default_branch)
          can_switch = heads_count > 1 && repository.can_switch_default_branch?(current_user)
        %>
        <% if repository.adminable_by?(current_user) && (can_rename || can_switch) %>
          <div class="d-flex ml-1">
              <% if can_rename %>
                <%= render "branch_protection_rules/rename_default_branch",
                      branch: repository.default_branch %>
              <% end %>
              <% if can_switch %>
                <%= render "branch_protection_rules/switch_default_branch" %>
              <% end %>
          </div>
        <% end %>
    </dd>
  </dl>
<% end %>
