<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if !BranchProtectionsConfig.new(current_repository).branch_protection_disabled? %>
  <div class="flex-auto">
    <strong>Disable branch protection rules</strong>
    <p class="mb-0">
      Disable branch protection rules enforcement and APIs
    </p>
  </div>

  <%= form_with url: update_repository_branch_protection_settings_path(current_repository.owner, current_repository), method: :put, class: 'flex-md-order-1 flex-order-2' do %>
    <input type="hidden" name="branch_protection_disabled" value="true">
    <%= render Primer::Alpha::Dialog.new(title: "Disable branch protection rules", size: :medium_portrait) do |dialog| %>
      <% dialog.with_show_button(color: :danger) { "Disable branch protection rules" } %>
      <% dialog.with_header(show_divider: true) %>
      <% dialog.with_body do %>
        <%= render Primer::Alpha::Banner.new(
          icon: :alert,
          scheme: :warning,
          mt: 2,
          mb: 3) do %>
          This will hide the branch protection settings and disable branch protection rules for this repository.
        <% end %>
        <p>
          Disabling branch protection rules allows you to enforce branch and tag protections exclusively with Repository Rules.
        </p>

        <p>This action will disable:</p>
        <ul class="ml-4 mb-2">
          <li class="mb-2">Branch protection rule enforcement</li>
          <li class="mb-2">Branch protection rule APIs</li>
        </ul>

        <% pb_count = current_repository.protected_branches.count %>
        <p>
          <strong><%= pluralize(current_repository.protected_branches.count, "branch protection rule") %></strong> will be disabled as part of this action
        </p>
      <% end %>
      <% dialog.with_footer(show_divider: true) do %>
        <%= render Primer::ButtonComponent.new(
          scheme: :danger,
          type: :submit,
          block: true,
          data: {
            "disable-invalid" => true,
          }
        ) do %>
          Disable branch protection rules
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <div class="flex-auto">
    <strong>Re-enable branch protection rules</strong>
    <p class="mb-0">
      Re-enable branch protection rules enforcement and APIs
    </p>
  </div>

  <%= form_with url: update_repository_branch_protection_settings_path(current_repository.owner, current_repository), method: :put, class: 'flex-md-order-1 flex-order-2' do %>
    <input type="hidden" name="branch_protection_disabled" value="false">
    <%= render Primer::Alpha::Dialog.new(title: "Re-enable branch protection", size: :medium_portrait) do |dialog| %>
      <% dialog.with_show_button(color: :danger) { "Re-enable branch protection rules" } %>
      <% dialog.with_header(show_divider: true, mb: 3) %>
      <% dialog.with_body(mt: 3) do %>
        <% pb_count = current_repository.protected_branches.count %>
        <p>
          <strong><%= pluralize(current_repository.protected_branches.count, "branch protection rule") %></strong> will be re-enabled as part of this action
        </p>
      <% end %>
      <% dialog.with_footer(show_divider: true) do %>
        <%= render Primer::ButtonComponent.new(
          scheme: :danger,
          type: :submit,
          block: true,
          data: {
            "disable-invalid" => true,
          }
        ) do %>
          Re-enable branch protection rules
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
