<%# erblint:counter DeprecatedComponentsCounter 8 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 2 %>
<% has_wiki = current_repository.has_wiki? %>
<% wiki_enabled = current_repository.plan_supports?(:wikis) %>
<% organization = current_repository.organization %>

<div class="Box">
  <%= form_tag update_repository_path(current_repository), :method => :put, :class => "js-repo-features-form", "data-autosubmit" => true do %>
    <% if current_repository.errors.any? %>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 3)) do %>
        <%= current_repository.errors.full_messages.to_sentence %>
      <% end %>
    <% end %>
    <div class="Box-row py-0">
      <% if wikis_visible_by_default? %>
        <div role="group" aria-label="Wikis" class="form-checkbox js-repo-option js-toggler-container wikis-options <% if has_wiki %>on<% end %>">
          <input type="hidden" name="has_wiki" value="0">
          <input
            type="checkbox"
            name="has_wiki"
            value="1"
            class="js-toggler-target"
            aria-describedby="wiki-feature-desc"
            id="wiki-feature" <%= has_wiki ? 'checked' : '' %>
          >
          <label for="wiki-feature">Wikis</label>
          <span class="hx_status-indicator status-indicator ml-1 js-status-indicator">
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          </span>
          <p id="wiki-feature-desc" class="note">
            Wikis host documentation for your repository.
          </p>

          <% if wiki_enabled %>
            <div class="form-checkbox js-repo-option wikis-restrict-editing">
              <input type="hidden" name="wiki_access_to_pushers" value="0">
              <input type="checkbox" name="wiki_access_to_pushers" value="1" aria-describedby="wiki-pusher-access-desc" id="wiki-pusher-access" <%= current_repository.wiki_access_to_pushers? ? 'checked' : '' %>>
              <% if current_repository.in_organization? %>
                <label for="wiki-pusher-access">Restrict editing to users in teams with push access only</label>
              <% else %>
                <label for="wiki-pusher-access">Restrict editing to collaborators only</label>
              <% end %>
              <span class="hx_status-indicator status-indicator ml-1 js-status-indicator">
                <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
                <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
                <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
              </span>
              <% if current_repository.public? %>
                <p id="wiki-pusher-access-desc" class="note">Public wikis will still be readable by everyone.</p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div role="group" aria-label="Wikis" class="form-checkbox js-repo-option js-toggler-container wikis-options <% if has_wiki %>on<% end %>" <%= wiki_enabled ? '' : 'style="opacity: 0.5"'%>>
          <input type="hidden" name="has_wiki" value="0">
          <input
            type="checkbox"
            name="has_wiki"
            value="1"
            class="js-toggler-target"
            aria-describedby="wiki-feature-desc"
            id="wiki-feature" <%= has_wiki && wiki_enabled ? 'checked' : '' %>
            <% if !wiki_enabled %>disabled<% end %>
          >
          <label for="wiki-feature">Wikis</label>
          <span class="hx_status-indicator status-indicator ml-1 js-status-indicator">
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          </span>
          <p id="wiki-feature-desc" class="note">
            Wikis host documentation for your repository.
          </p>

          <% if wiki_enabled %>
            <div class="form-checkbox js-repo-option wikis-restrict-editing">
              <input type="hidden" name="wiki_access_to_pushers" value="0">
              <input type="checkbox" name="wiki_access_to_pushers" value="1" aria-describedby="wiki-pusher-access-desc" id="wiki-pusher-access" <%= current_repository.wiki_access_to_pushers? ? 'checked' : '' %>>
              <% if current_repository.in_organization? %>
                <label for="wiki-pusher-access">Restrict editing to users in teams with push access only</label>
              <% else %>
                <label for="wiki-pusher-access">Restrict editing to collaborators only</label>
              <% end %>
              <span class="hx_status-indicator status-indicator ml-1 js-status-indicator">
                <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
                <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
                <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
              </span>
              <% if current_repository.public? %>
                <p id="wiki-pusher-access-desc" class="note">Public wikis will still be readable by everyone.</p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if !wiki_enabled %>
        <% if organization && current_user.org_in_billing_trouble?(org: organization) %>
          <%= render(Primer::Beta::Flash.new(scheme: :danger, mb: 4, test_selector: "wikis-billing-trouble-org-error")) do %>
            We are having a problem billing the <%= organization %> organization. To enable Wikis, Please <%= link_to("update your payment method", settings_org_billing_path(organization), class: "Link--inTextBlock") %>
            or call your payment provider for details on why the transaction failed. You can always <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> with any questions.
          <% end %>
        <% elsif organization && current_user.billingless_org?(org: organization) %>
         <%= render(Primer::Beta::Flash.new(scheme: :danger, mb: 4, test_selector: "wikis-billingless-org-error")) do %>
            Please <%= link_to("enter a billing email", settings_org_profile_path(organization), class: "Link--inTextBlock") %> for your <em><%= organization %></em> organization to enable Wikis.
          <% end %>
        <% elsif organization && current_user.disabled_org?(org: organization) %>
          <%= render(Primer::Beta::Flash.new(scheme: :danger, mb: 4, test_selector: "wikis-disabled-org-error")) do %>
            <% if organization.invoiced? %>
              We have not received payment for the most recent invoice for <%= organization %>. To enable Wikis, please <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> to resolve.
            <% else %>
              We are having a problem billing the <%= organization %> organization. To enable Wikis, please <%= link_to('update your payment information', settings_org_billing_path(organization), class: "Link--inTextBlock") %> or call your payment provider for details on why the transaction failed. You can <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> with any questions.
            <% end %>
          <% end %>
        <% else %>
          <article class="d-flex mb-4" <%= test_selector("wikis-normal-description") %>>
            <%= image_tag "icons/marketing/blue/documentation.svg", height: 60, class: "mr-3", alt: "wikis" %>
            <div>
              <h1 class="h4">Upgrade or make this repository public to <% if wikis_visible_by_default? %>create your first Wiki page<% else %>enable Wikis<% end %></h1>
              <p class="color-fg-muted">GitHub Wikis is a simple way to let others contribute content. Any GitHub user can create and edit pages to use for documentation, examples, support, or anything you wish.</p>

              <% if current_repository.owner == current_user %>
                <% if current_repository.fork? %>
                  <p class="color-fg-muted">This repository is a fork, and inherits the features of the parent repository. Contact the owner of the root repository to enable GitHub Wikis.</p>
                <% else %>
                  <div class="d-flex flex-items-center">
                    <%=
                      link_to "Upgrade",
                      plan_upgrade_path,
                      class: "btn f6 color-fg-on-emphasis color-bg-accent-emphasis px-2 py-1 mr-3",
                      "data-ga-click": "Change individual, click to upgrade, ref_page:#{request.fullpath};ref_cta:Upgrade;ref_loc:features",
                      data: feature_gate_upsell_click_attrs(:wikis, user: current_user)
                    %>
                    <a href="<%= GitHub.help_url %>/github/building-a-strong-community/about-wikis" class="f6" data-ga-click="Upgrade, click, location:wikis;text:learn more">Learn more about wikis</a>
                  </div>
                <% end %>
              <% elsif show_free_org_gated_feature_message?(current_repository, current_user) %>
                <div class="d-flex flex-items-center">
                  <%=
                    link_to "Upgrade",
                    upgrade_path(
                      org: current_repository.owner,
                      plan: "business",
                      target: "organization"
                    ),
                    class: "btn f6 color-fg-on-emphasis color-bg-accent-emphasis px-2 py-1 mr-3",
                    "data-ga-click": "Change organization, click to upgrade, ref_page:#{request.fullpath};ref_cta:Upgrade;ref_loc:features",
                    data: feature_gate_upsell_click_attrs(:wikis, user: current_user)
                  %>
                  <a href="<%= GitHub.help_url %>/github/building-a-strong-community/about-wikis" class="f6" data-ga-click="Upgrade, click, location:wikis;text:learn more">Learn more about wikis</a>
                </div>
              <% else %>
                <p class="color-fg-muted">Contact the owner of the repository to enable GitHub Wikis.</p>
              <% end %>
            </div>
          </article>
        <% end %>
      <% end %>
    </div>

    <div class="Box-row py-0">
      <div class="form-checkbox js-repo-option">
        <input type="hidden" name="has_issues" value="0">
        <input type="checkbox" name="has_issues" value="1" aria-describedby="issues-desc" id="issue-feature" <%= current_repository.has_issues? ? 'checked' : '' %>>
        <label for="issue-feature">Issues</label>
        <span class="hx_status-indicator status-indicator ml-1 js-status-indicator">
          <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
          <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
        </span>
        <p id="issues-desc" class="note">
          Issues integrate lightweight task tracking into your repository.
          Keep projects on track with issue labels and milestones, and reference them in commit messages.
        </p>

        <% if current_repository.writable_by?(current_user) && current_repository.has_issues? && current_repository.can_create_issue_templates? %>
          <%= render Primer::Beta::Flash.new(my: 3) do %>
            <div class="d-flex flex-md-row flex-column flex-md-items-center flex-items-start">
              <div class="mb-md-0 mb-3">
                <h3 class="h5 mb-2">Get organized with issue templates</h3>
                <p class="pr-6 mb-0">Give contributors issue templates that help you cut through the noise and help them push your project forward.</p>
              </div>
              <div>
                <a href="<%= edit_issue_templates_path(current_repository.owner, current_repository) %>" class="btn btn-primary">
                  Set up templates
                </a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if current_repository.in_organization? && current_repository.private_repository_forking_configurable? %>
      <div class="Box-row py-0">
        <div class="form-checkbox js-repo-option">
          <input type="hidden" name="allow_private_repository_forking" value="0">
          <input type="checkbox" name="allow_private_repository_forking" value="1" aria-describedby="allow_private_repository_forking_desc" id="allow_private_repository_forking" <%= current_repository.allow_private_repository_forking? ? "checked" : "" %> <%= "disabled" if current_repository.allow_private_repository_forking_disabled_by_inherited_policy? || (current_repository.organization&.business&.allow_private_repository_forking_policy? && !current_repository.organization&.supports_enhanced_enterprise_forking_policies?) %>>
          <label for="allow_private_repository_forking" class="<%= "color-fg-muted" if current_repository.allow_private_repository_forking_disabled_by_inherited_policy? %>">Allow forking</label>
          <span class="hx_status-indicator status-indicator ml-1 js-status-indicator">
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          </span>
          <p id="allow_private_repository_forking_desc" class="note">If disabled, existing forks will be unaffected.</p>
        </div>
      </div>
    <% end %>

    <% if current_repository.can_enable_repository_funding_links? %>
      <div class="Box-row py-0">
        <div class="form-checkbox js-repo-option">
          <input type="hidden" name="enable_repository_funding_links" value="0">
          <input type="checkbox" name="enable_repository_funding_links" aria-describedby="repository-funding-links-feature-desc" id="repository-funding-links-feature" value="1" <%= 'checked' if current_repository.repository_funding_links_enabled? %>>
          <label for="repository-funding-links-feature">Sponsorships</label>
          &nbsp;
          <span class="hx_status-indicator status-indicator v-align-top ml-1 js-status-indicator">
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          </span>
          <p id="repository-funding-links-feature-desc" class="note">
            Sponsorships help your community know how to financially support this repository.
          </p>
          <% if current_repository.funding_links_stafftools_disabled? %>
            <div class="warning mt-2 px-5 border rounded-2">
              Your repository funding links have been disabled by GitHub Support.
              <%= link_to contact_path(report: "#{current_repository.name_with_display_owner} (Repository Funding Links Disabled)"), class: "Link--inTextBlock" do %>
                Contact GitHub Support.
              <% end %>
            </div>
          <% end %>
          <% if current_repository.can_write_funding_file? %>
            <%= render Primer::Beta::Flash.new(my: 3) do %>
              <div class="d-flex flex-md-row flex-column flex-md-items-center flex-items-start">
                <div class="mb-md-0 mb-3">
                  <% if current_repository.inheriting_global_funding_file? %>
                    <h5 class="h5 mb-2">
                      "Sponsor" button is using the
                      <%= link_to "organization funding file.", global_preferred_funding_path(current_repository), class: "Link--inTextBlock" %>
                    </h5>
                    <p class="pr-6 mb-0">
                      You can add a <code>.github/FUNDING.yml</code> file to this repository to override the
                      <%= link_to "organization funding file", global_preferred_funding_path(current_repository), class: "Link--inTextBlock" %>
                    </p>
                  <% elsif current_repository.overriding_global_funding_file? %>
                    <h5 class="h5 mb-2">
                      "Sponsor" button is using the repository funding file.
                    </h5>
                    <p class="pr-6 mb-0">
                      This repository is using a <code>.github/FUNDING.yml</code> file to override the
                      <%= link_to "organization funding file.", global_preferred_funding_path(current_repository), class: "Link--inTextBlock" %>
                    </p>
                  <% else %>
                    <h3 class="h5 mb-2">
                      Display a "Sponsor" button
                    </h3>
                    <p class="pr-6 mb-0">
                      Add links to GitHub Sponsors or third-party methods your repository accepts for financial contributions to your project.
                    </p>
                  <% end %>
                </div>

                <div>
                  <% if current_repository.inheriting_global_funding_file? %>
                    <%= link_to "Override funding links", blob_new_path('', tree_name) + '?repository_funding=1', class: "btn btn-primary", data: funding_button_attrs(repository: current_repository) %>
                  <% elsif current_repository.has_funding_file? || current_repository.overriding_global_funding_file? %>
                    <%= link_to "Edit funding links", blob_edit_path(current_repository.funding_links_path, tree_name), class: "btn btn-primary", data: funding_button_attrs(repository: current_repository) %>
                  <% else %>
                    <%= link_to "Set up sponsor button", blob_new_path('', tree_name) + '?repository_funding=1', class: "btn btn-primary", data: funding_button_attrs(repository: current_repository) %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if show_archive_program_settings? %>
      <div class="Box-row py-0" <%= test_selector("features-archive-program-opt-out-setting") %>>
        <div class="form-checkbox js-repo-option">
          <input type="hidden" name="archive_program_opt_out_enabled" value="1">
          <input type="checkbox" name="archive_program_opt_out_enabled" value="0"
            aria-describedby="archive-program-opt-out-feature-desc"
            id="archive-program-opt-out-feature"
            <%= test_selector("archive-program-checkbox") %>
            <%= current_repository.archive_program_opt_out_enabled? ? '' : 'checked' %>>
          <label for="archive-program-opt-out-feature">
            Preserve this repository
          </label>
          <span class="hx_status-indicator status-indicator ml-1 js-status-indicator">
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          </span>
          <p id="archive-program-opt-out-feature-desc" class="note color-fg-muted">
            Include this code in the <%= link_to "GitHub Archive Program", "https://archiveprogram.github.com/faq/", class: "Link--inTextBlock" %>.
          </p>
        </div>
      </div>
    <% end %>

    <noscript>
      <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit) do %>Save changes<% end %>
    </noscript>
  <% end %>

  <% if current_repository.can_toggle_discussions_setting?(current_user) %>
    <%= form_tag repository_discussion_activation_path(current_repository.owner, current_repository), :method => :put, :class => "border-top js-repo-features-form", "data-autosubmit" => true do %>
      <div class="Box-row py-0">
        <div class="form-checkbox js-repo-option">
          <input type="hidden" name="has_discussions" value="0">
          <input
            type="checkbox"
            name="has_discussions"
            value="1"
            aria-describedby="discussions-feature-desc"
            id="discussions-feature"
            <%= "checked" if current_repository.discussions_on? %>
            <%= "disabled" if current_repository.org_discussion_source? && current_repository.discussions_on? %>
          >
          <label for="discussions-feature">Discussions</label>
          <span class="hx_status-indicator status-indicator ml-1 js-status-indicator">
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          </span>
          <p id="discussions-feature-desc" class="note">
          <% if current_repository.org_discussion_source? %>
              Discussions cannot be disabled because they are set as the source for the <strong><%= organization.name %></strong> organization's <%= current_repository.public? ? "public" : "member" %> discussions.
              <%= render(Primer::Beta::Link.new(href: organization_settings_discussions_path(organization), classes: "Link--inTextBlock")) { "Update organization discussion settings" } %>
            <% else %>
              Discussions is the space for your community to have conversations,
              ask questions and post answers without opening issues.
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
    <% if current_repository.writable_by?(current_user) && current_repository.discussions.empty? %>
      <%= render Primer::Beta::Flash.new(ml: 5, mr: 3, my: 3) do %>
        <div class="d-flex flex-md-row flex-column flex-md-items-center flex-items-start">
          <div class="mb-md-0 mb-3">
            <h3 class="h5 mb-2">Get started with Discussions</h3>
            <p class="pr-6 mb-0">Engage your community by having discussions right in your repository, where your community already lives</p>
          </div>
          <div>
            <%= button_to(
              "Set up discussions",
              discussions_welcome_templates_path(
                current_repository.owner,
                current_repository,
              ),
              class: "btn btn-primary"
            ) %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= form_tag toggle_repository_projects_path(current_repository.owner.display_login, current_repository.name), class: "border-top js-repo-features-form", method: :put, data: { autosubmit: true } do %>
    <div class="Box-row py-0">
      <% if GitHub.projects_new_enabled? %>
        <% if !current_repository.owner.organization? || current_repository.owner.organization_projects_enabled? %>
          <div class="form-checkbox js-repo-option">
            <input type="hidden" name="memex_projects_enabled" value="0">
            <input type="checkbox" name="memex_projects_enabled" aria-describedby="memex-projects-feature-desc" id="memex-projects-feature" value="1" <%= current_repository.repository_memex_projects_enabled? ? 'checked' : '' %>>
            <label for="memex-projects-feature">Projects</label>
            <span class="hx_status-indicator status-indicator v-align-top ml-1 js-status-indicator">
              <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
              <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
              <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
            </span>
            <p id="memex-projects-feature-desc" class="note">
              Projects on GitHub are created at the repository owner's level
              (organization or user) and can be linked to a repository's Projects tab.
              Projects are suitable for cross-repository development efforts such as
              feature work, complex product roadmaps or even Issue triage.
            </p>
          </div>
        <% else %>
          <div class="form-checkbox">
            <input type="checkbox" aria-describedby="memex-projects-feature-desc" id="memex-projects-feature" disabled>
            <label for="memex-projects-feature" class="color-fg-muted">Projects</label>
            <p id="memex-projects-feature-desc" class="note color-fg-muted">
              Projects are disabled for all repositories in the <strong><%= current_repository.owner.safe_profile_name %></strong> organization.

              <% if current_repository.owner.adminable_by?(current_user) %>
                You can change this in the organization’s <a class="Link--inTextBlock" href="<%= settings_org_projects_path(current_repository.owner) %>">settings</a>.
              <% else %>
                Contact an <a class="Link--inTextBlock" href="<%= org_owners_path(current_repository.owner) %>">organization owner</a> to enable projects.
              <% end %>
            </p>
          </div>
        <% end %>
      <% end %>

      <% if current_repository.has_any_projects? || !GitHub.projects_new_enabled? %>
        <% if current_repository.can_enable_projects? && !current_repository.repository_projects_policy? %>
          <div class="form-checkbox js-repo-option">
            <input type="hidden" name="projects_enabled" value="0">
            <input type="checkbox" name="projects_enabled" aria-describedby="projects-feature-desc" id="projects-feature" value="1" <%= current_repository.repository_projects_enabled? ? 'checked' : '' %>  <%= "disabled" unless current_repository.can_enable_projects? %>>
            <label for="projects-feature">Projects (classic)</label>
            <span class="hx_status-indicator status-indicator v-align-top ml-1 js-status-indicator">
              <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
              <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
              <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
            </span>
            <p id="projects-feature-desc" class="note">
              Projects (classic) are the legacy version of Projects and are
              created at the repository level. You can create projects for single
              repository feature work, simple sprint planning, or release checklists.
            </p>
          </div>
        <% elsif current_repository.owner.organization? %>
          <div class="form-checkbox">
            <input type="checkbox" aria-describedby="projects-feature-desc" id="projects-feature" <%= current_repository.repository_projects_enabled? ? 'checked' : '' %> disabled>
            <label for="projects-feature" class="color-fg-muted">Projects (classic)</label>
            <p id="projects-feature-desc" class="note color-fg-muted">
              Projects (classic) are <%= current_repository.repository_projects_enabled? ? 'enabled' : 'disabled' %> for all repositories in the <strong><%= current_repository.owner.safe_profile_name %></strong> organization.

              <% if current_repository.owner.adminable_by?(current_user) %>
                You can change this in the organization’s <a class="Link--inTextBlock" href="<%= settings_org_projects_path(current_repository.owner) %>">settings</a>.
              <% else %>
                Contact an <a class="Link--inTextBlock" href="<%= org_owners_path(current_repository.owner) %>">organization owner</a> to enable projects.
              <% end %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
