<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag gh_repo_rename_path(repository), class: "d-flex" do %>
  <auto-check required src="<%= repository_check_name_path(owner: repository.owner.display_login, current_name: repository.name) %>">
    <dl class="form-group d-inline-block my-0">
      <dt class="input-label">
        <label for="rename-field">Repository name</label>
      </dt>
      <dd>
        <input
          type="text"
          name="new_name"
          value="<%= repository.name %>"
          class="form-control js-repo-name short js-with-permission-fields"
          id="rename-field"
          maxlength="100"
          autocapitalize="off"
          required>
      </dd>
    </dl>
    <%= csrf_hidden_input_for repository_check_name_path %>
  </auto-check>
  <%= spamurai_form_signals %>
  <%= render Primer::ButtonComponent.new(type: :submit, classes: "flex-self-end", "data-disable-invalid": "", data: { disable_with: "Renaming..." }) do %>Rename<% end %>
<% end %>
