<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= form_tag repository_open_graph_image_path(repository.owner.display_login, repository.name), method: :put, data: { remote: true } do %>
  <%= file_attachment_tag(
    model: "repository-images",
    input: "repo-image-file-input",
    class: "js-upload-repository-image is-default",
    :"data-upload-repository-id" => repository.id,
    :novalidate => "novalidate"
  ) do %>
    <input type="file" id="repo-image-file-input" style="display: none">
    <div class="form-group d-block mb-0 mt-6">
      <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
        <% component.with_heading(tag: :h2) do %>Social preview<% end %>
      <% end %>
      <div class="avatar-upload-container">
        <p>
          Upload an image to customize your repository&rsquo;s social media preview.
        </p>
        <p>
          Images should be at least 640&times;320px (1280&times;640px for best display).<br>
          <a href="<%= repository_open_graph_template_path(repository.owner.display_login, repository.name) %>" class="text-bold">Download template</a>
        </p>
        <div class="avatar-upload position-relative">
          <div class="upload-state pt-0 loading position-absolute width-full text-center">
            <%= render(Primer::Beta::Spinner.new(size: :small, vertical_align: :text_bottom)) %> Uploading...
          </div>
          <div class="upload-state pt-0 color-fg-danger file-empty">
            This file is empty.
          </div>

          <div class="upload-state pt-0 color-fg-danger too-big">
            Please upload a picture smaller than 1 MB.
          </div>

          <div class="upload-state pt-0 color-fg-danger bad-dimensions">
            Please upload a picture smaller than 10,000x10,000.
          </div>

          <div class="upload-state pt-0 color-fg-danger bad-file">
            We only support PNG, GIF, or JPG pictures.
          </div>

          <div class="upload-state pt-0 color-fg-danger failed-request">
            Something went really wrong and we can&rsquo;t process that picture.
          </div>

          <div class="upload-state pt-0 color-fg-danger bad-format">
            File contents don&rsquo;t match the file extension.
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="avatar-upload position-relative">
  <details class="dropdown details-reset details-overlay">
    <summary>
      <% if repository.uses_custom_open_graph_image? %>
        <div class="border rounded-2 repository-og-image js-repository-image-container" style="background-image: url('<%= repository.open_graph_image_url(current_user) %>')"></div>
        <div class="position-absolute color-bg-default rounded-2 color-fg-default px-2 py-1 left-0 bottom-0 ml-2 mb-2 border">
          <%= primer_octicon(:pencil) %> Edit
        </div>
      <% else %>
        <div hidden class="border rounded-2 repository-og-image js-repository-image-container"></div>
        <div id="edit-social-preview-button" class="color-bg-default rounded-2 color-fg-default px-2 py-1 left-0 bottom-0 mb-2 border" style="width: fit-content">
          <%= primer_octicon(:pencil) %> Edit
        </div>
      <% end %>
    </summary>
    <details-menu class="dropdown-menu dropdown-menu-se" style="z-index: 99"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <label for="repo-image-file-input" class="dropdown-item btn-link text-normal" role="menuitem" tabindex="0">
        Upload an image&hellip;
      </label>

      <%= form_tag repository_open_graph_image_path(repository.owner.display_login, repository.name), method: :delete do %>
        <input type="hidden" name="id" class="js-repository-image-id" value="<%= repository.open_graph_image&.id %>">
        <button class="dropdown-item btn-link js-remove-repository-image-button" role="menuitem" type="submit" data-disable-with data-confirm="Are you sure you want to remove <%= repository.name_with_display_owner %>'s promotional image?"<% unless repository.uses_custom_open_graph_image? %> hidden<% end %>>
          Remove image
        </button>
      <% end %>
    </details-menu>
  </details>
</div>
