<li class="Box-row">
  <%= form_tag toggle_repository_projects_path(current_repository.owner.display_login, current_repository.name), class: "js-repo-features-form", method: :put, data: { autosubmit: true } do %>
    <% if GitHub.projects_new_enabled? %>
      <% if !current_repository.owner.organization? || current_repository.owner.organization_projects_enabled? %>
        <div class="form-checkbox js-repo-option">
          <input type="hidden" name="memex_projects_enabled" value="0">
          <input type="checkbox" name="memex_projects_enabled" aria-describedby="memex-projects-feature-desc" id="memex-projects-feature" value="1" <%= current_repository.repository_memex_projects_enabled? ? 'checked' : '' %>>
          <label for="memex-projects-feature">Projects</label>
          <span class="hx_status-indicator status-indicator v-align-top ml-1 js-status-indicator">
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          </span>
          <p id="memex-projects-feature-desc" class="note">
            Projects on GitHub are created at the repository owner's level
            (organization or user) and can be linked to a repository's Projects tab.
            Projects are suitable for cross-repository development efforts such as
            feature work, complex product roadmaps or even Issue triage.
          </p>
        </div>
      <% else %>
        <div class="form-checkbox js-repo-option">
          <input type="checkbox" aria-describedby="memex-projects-feature-desc" id="memex-projects-feature" disabled>
          <label for="memex-projects-feature" class="color-fg-muted">Projects</label>
          <p id="memex-projects-feature-desc" class="note color-fg-muted">
            Projects are disabled for all repositories in the <strong><%= current_repository.owner.safe_profile_name %></strong> organization.

            <% if current_repository.owner.adminable_by?(current_user) %>
              You can change this in the organization’s <a class="Link--inTextBlock" href="<%= settings_org_projects_path(current_repository.owner) %>">settings</a>.
            <% else %>
              Contact an <a class="Link--inTextBlock" href="<%= org_owners_path(current_repository.owner) %>">organization owner</a> to enable projects.
            <% end %>
          </p>
        </div>
      <% end %>
    <% end %>

    <% if current_repository.has_any_projects? || !GitHub.projects_new_enabled? %>
      <% if current_repository.can_enable_projects? && !current_repository.repository_projects_policy? %>
        <div class="form-checkbox js-repo-option">
          <input type="hidden" name="projects_enabled" value="0">
          <input type="checkbox" name="projects_enabled" aria-describedby="projects-feature-desc" id="projects-feature" value="1" <%= current_repository.repository_projects_enabled? ? 'checked' : '' %>  <%= "disabled" unless current_repository.can_enable_projects? %>>
          <label for="projects-feature">Projects (classic)</label>
          <span class="hx_status-indicator status-indicator v-align-top ml-1 js-status-indicator">
            <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
            <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
          </span>
          <p id="projects-feature-desc" class="note">
            Projects (classic) are the legacy version of Projects and are
            created at the repository level. You can create projects for single
            repository feature work, simple sprint planning, or release checklists.
          </p>
        </div>
      <% elsif current_repository.owner.organization? %>
        <div class="form-checkbox js-repo-option">
          <input type="checkbox" aria-describedby="projects-feature-desc" id="projects-feature" <%= current_repository.repository_projects_enabled? ? 'checked' : '' %> disabled>
          <label for="projects-feature" class="color-fg-muted">Projects (classic)</label>
          <p id="projects-feature-desc" class="note color-fg-muted">
            Projects (classic) are <%= current_repository.repository_projects_enabled? ? 'enabled' : 'disabled' %> for all repositories in the <strong><%= current_repository.owner.safe_profile_name %></strong> organization.

            <% if current_repository.owner.adminable_by?(current_user) %>
              You can change this in the organization’s <a class="Link--inTextBlock" href="<%= settings_org_projects_path(current_repository.owner) %>">settings</a>.
            <% else %>
              Contact an <a class="Link--inTextBlock" href="<%= org_owners_path(current_repository.owner) %>">organization owner</a> to enable projects.
            <% end %>
          </p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</li>
