<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= form_tag update_repository_push_settings_path(current_repository.owner, current_repository),
  method: :put,
  :class => "js-push-settings-form",
  "data-autosubmit" => true do %>

  <%
    if current_repository.max_ref_updates < 1
      limit_enabled = false
      max_ref_updates_value = 5
    else
      limit_enabled = true
      # Actual limit is enforced by the backend, currently set to 1,000.
      # This just keeps UI from breaking if we get a wonky value.
      max_ref_updates_value = [current_repository.max_ref_updates, 100_000].min;
    end
  %>

  <div class="Box">
    <%= render(Primer::Beta::Flash.new(scheme: :warning, full: true, classes: "js-push-save-failed-message", hidden: true)) %>

    <ul>
      <li class="Box-row py-0">
        <div class="form-group js-repo-option">
          <div class="form-checkbox">
            <label for="enable_max_pushes_checkbox">Limit how many branches and tags can be updated in a single push</label>

            <%= render(Primer::Beta::Label.new(label: "Beta", title: "Label: Beta", scheme: :success, ml: 2, px: 2)) { "Beta" } %>

            <span class="hx_status-indicator status-indicator js-status-indicator">
              <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
              <%= primer_octicon(:check) %>
            </span>

            <input type="checkbox"
                    value="true"
                    id="enable_max_pushes_checkbox"
                    name="enable_max_pushes"
                    aria-describedby="enable_max_pushes_desc"
                    data-last-saved-value="<%= limit_enabled %>"
                    <%= "checked" if limit_enabled %>>

            <p id="enable_max_pushes_desc" class="note">
              Pushes will be rejected if they attempt to update more than this.
              <a class="Link--inTextBlock" href="<%= "https://github.blog/changelog/2022-06-15-block-potentially-destructive-git-pushes" %>">Learn more about this setting</a>, and send us your
              <a class="Link--inTextBlock" href="<%= "https://github.com/github-community/community/discussions/categories/general" %>">feedback</a>.
            </p>

            <div class="js-form-numeric mt-2"
              data-last-saved-value="<%= max_ref_updates_value %>"
              <%= "hidden" if !limit_enabled %>>
              <label for="max_pushes_count_text_field">Up to
                <%= text_field_tag :max_pushes_count, max_ref_updates_value,
                  id: "max_pushes_count_text_field",
                  type: "number",
                  class: "shorter",
                  data: { last_saved_value: max_ref_updates_value },
                  inputmode: "numeric" %>
              branches and tags can be updated in a push</label>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <noscript>
    <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit) do %>Save changes<% end %>
  </noscript>
<% end %>
