<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="boxed-group"><%# erblint:disable DeprecatedCustomCss %>
  <h3>
    Custom Tabs
  </h3>
  <div class="boxed-group-inner"><%# erblint:disable DeprecatedCustomCss %>
    <% if current_repository.tabs.any? %>
      <ul class="boxed-group-list standalone"><%# erblint:disable DeprecatedCustomCss %>
        <% current_repository.tabs.each do |tab| %>
          <li>
            <strong><%=h tab.anchor %></strong> &mdash; <%=h tab.url %>
            <%= button_to "Remove", url_for(:action => :remove_tab, :tab => tab),
                  :method => :delete,
                  :class => "btn btn-sm btn-danger",
                  :form_class => "inline-form float-right" %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No custom tabs.</p>
    <% end %>
  </div>
</div>

<div class="boxed-group"><%# erblint:disable DeprecatedCustomCss %>
  <h3>New custom tab</h3>
  <div class="boxed-group-inner"><%# erblint:disable DeprecatedCustomCss %>
    <p>Custom tabs allow you to create links on your repository that can point to other services.</p>
    <hr class="bleed-flush compact">
    <%= form_tag url_for(:action => :add_tab) do %>
      <dl class="form-group">
        <dt><label for="anchor">New tab name</label></dt>
        <dd>
          <input class="form-control short" type="text" name="anchor" id="anchor" placeholder="e.g. YourTabName">
        </dd>
      </dl>
      <dl class="form-group">
        <dt><label for="tab_url">Tab URL</label></dt>
        <dd>
          <input class="form-control short" type="text" name="url" id="tab_url" placeholder="e.g. http://example.org">
        </dd>
      </dl>
      <p><%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary) do %>Add tab<% end %></p>
    <% end %>
  </div>
</div>
