<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% has_wiki = current_repository.has_wiki? %>
<% wiki_enabled = current_repository.plan_supports?(:wikis) %>
<% disabled = current_repository.has_lfs_files? && !current_repository.template? %>

<%= form_tag update_repository_path(current_repository), method: :put, class: "js-repo-features-form", data: { autosubmit: true } do %>
  <% if current_repository.errors.any? %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 3)) do %>
      <%= current_repository.errors.full_messages.to_sentence %>
    <% end %>
  <% end %>
  <div class="form-checkbox js-repo-option">
    <input type="hidden" name="template" value="0">
    <input type="checkbox" name="template" value="1" aria-describedby="template-feature-desc" id="template-feature"<%= " checked" if current_repository.template? %> <%= " disabled" if disabled %>>
    <label for="template-feature">Template repository</label>
    <span class="hx_status-indicator status-indicator ml-1 js-status-indicator">
      <%= render(Primer::Beta::Spinner.new(size: :small, classes: "status-indicator-spinner")) %>
      <%= primer_octicon(:check) %>
      <%= primer_octicon(:x) %>
    </span>
    <% if current_repository.has_lfs_files? %>
      <p id="template-feature-desc" class="note">
        A repository with LFS content cannot be used as a template.
        <a class="Link--inTextBlock" href="<%= docs_url "repositories/creating-a-template" %>">Learn more about template repositories</a>.
      </p>
    <% else %>
      <p id="template-feature-desc" class="note">
        Template repositories let users generate new repositories with the same directory structure and files.
        <a class="Link--inTextBlock" href="<%= docs_url "repositories/creating-from-template" %>">Learn more about template repositories</a>.
      </p>
    <% end %>
  </div>
  <noscript>
    <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit) do %>Save changes<% end %>
  </noscript>
<% end %>
