<% if current_repository.pending_transfer? %>
  <div class="flex-auto">
    <strong>Transfer ownership</strong>
    <p>
      This repository is being transferred to
      <strong>@<%= current_repository.pending_transfer.target.display_login %>.</strong>
    </p>
  </div>

  <%= form_tag gh_repo_abort_transfer_path(current_repository) do %>
    <%= render Primer::Beta::Button.new(type: :submit) do %>
      Abort transfer
    <% end %>
  <% end %>
<% elsif current_repository.can_transfer_ownership? %>
  <%# If the user is not allowed to delete the repository, we restrict their ability to transfer it.
      However, rulesets that block repository deletion should not block repository transfer.
      Instead, repository transferring is handled as an entirely separate rule.
  %>
  <% cant_transfer_reason = current_repository.cannot_transfer_repository_reason(current_user) %>
  <% prevented_by_ruleset = cant_transfer_reason == :prevented_by_ruleset %>
  <% error_message = RepositoryTransfer::DISABLED_REASON[current_repository.cannot_delete_or_transfer_repository_reason(current_user) || cant_transfer_reason] %>
  <div class="d-flex flex-justify-between width-full">
    <div class="flex-auto">
      <strong>Transfer ownership</strong>
      <% if error_message %>
        <p class="mb-0"><%= error_message %></p>
      <% else %>
        <p class="mb-0">
          Transfer this repository to another user or to an organization where you
          have the ability to create repositories.
        </p>
      <% end %>
    </div>
    <% name_of_ruleset_source_blocking_transfer = RulesEngine::RepositoryActionEvaluator.name_of_ruleset_source_blocking_transfer(current_repository, current_user, dry_run: true)%>
    <% if prevented_by_ruleset %>
      <%= render Repositories::Settings::RestrictedByRulesComponent.new(
        rules_provider: name_of_ruleset_source_blocking_transfer,
        test_selector: "transfer-restricted-iconbutton",
      ) %>
    <% end %>
  </div>

  <% unless error_message %>
    <%= render Primer::Beta::Button.new(tag: :a, scheme: :danger, href: transfer_repo_path, mt: [2, nil, 0]) do %>
      Transfer
    <% end %>
  <% end %>
<% else %>
  <div class="flex-auto">
    <strong>Transfer ownership</strong>
    <p class="mb-0">
      <%= repo_non_transferrable_reason(current_repository) %>
    </p>
  </div>

  <%= render Primer::Beta::Button.new(scheme: :danger, disabled: true) do %>
    Transfer
  <% end %>
<% end %>
