<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if view.should_be_rendered? %>
  <div class="py-3 d-flex js-used-by-selector" <%= test_selector("used-by-selection") %>>
    <div class="px-2">
      <strong>Used by counter</strong>
      <span class="status-indicator ml-1 js-status-indicator">
        <%= primer_octicon(:check) %>
        <%= primer_octicon(:x) %>
      </span>
      <p class="mb-0">
        The used by counter displays the number of public references to a package that your repository owns.
        If you have multiple packages, choose which one to display.
      </p>
    </div>

    <div>
      <details class="select-menu details-reset details-overlay pl-1">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span class="pr-1" data-menu-button><%= view.button_text %></span>
        <% end %>
        <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-list">
            <div class="select-menu-header">
              <span class="select-menu-title">Select package</span>
            </div>
            <% view.package_list.each do |package| %>
              <button type="submit" class="select-menu-item width-full js-used-by-selector-button"
                      aria-checked="<%= package[:selected] %>"
                      name="used_by_package_id"
                      value="<%= package[:id] %>"
                      role="menuitemradio">
                <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                <div class="select-menu-item-text">
                  <span class="select-menu-item-heading" data-menu-button-text><%= package[:name] %></span>
                  <span class="description">
                    <%= package[:package_manager] %> &middot;
                    <%= social_count(package[:count]) %>
                    <%= "dependent repository".pluralize(package[:count]) %>
                  </span>
                </div>
              </button>
            <% end %>
          </div>
        </details-menu>
      </details>
    </div>
  </div>
<% end %>
