<%# erblint:counter DeprecatedComponentsCounter 2 %>
<li class="Box-row">
  <div class="form-checkbox js-repo-option">
    <%= form_tag update_repository_wiki_settings_path(current_repository.owner.display_login, current_repository.name), class: "js-repo-features-form", method: :put, data: { autosubmit: true } do %>
      <input type="hidden" name="has_wiki" value="0">
      <input type="checkbox"
              name="has_wiki"
              value="1"
              id="wiki-feature"
              <%= current_repository.has_wiki? && current_repository.plan_supports?(:wikis) ? 'checked' : '' %>
              <% if !current_repository.plan_supports?(:wikis) %>disabled<% end %>
      >
      <label for="wiki-feature">Wikis</label>
      <span class="status-indicator js-status-indicator">
        <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
        <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
      </span>
      <p class="note">
        GitHub Wikis is a simple way to let others contribute content.
        Any GitHub user can create and edit pages to use for documentation,
        examples, support, or anything you wish.
      </p>

      <% if current_repository.has_wiki? %>
        <div class="form-checkbox js-repo-option">
          <%= form_tag update_repository_wiki_access_path(current_repository.owner.display_login, current_repository.name), class: "js-repo-features-form", method: :put, data: { autosubmit: true } do %>
            <input type="hidden" name="wiki_access_to_pushers" value="0">
            <input type="checkbox" name="wiki_access_to_pushers" value="1" id="wiki-pusher-access" <%= current_repository.wiki_access_to_pushers? ? 'checked' : '' %>>
            <% if current_repository.in_organization? %>
              <label for="wiki-pusher-access">Restrict editing to users in teams with push access only</label>
            <% else %>
              <label for="wiki-pusher-access">Restrict editing to collaborators only</label>
            <% end %>
            <span class="status-indicator js-status-indicator">
              <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
              <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
            </span>
            <% unless current_repository.private? %>
              <p class="note">Public wikis will still be readable by everyone.</p>
            <% end %>
            <noscript>
              <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit) do %>Save changes<% end %>
            </noscript>
          <% end %>
        </div>
      <% end %>

      <noscript>
        <%= render Primer::ButtonComponent.new(scheme: :primary, type: :submit) do %>Save changes<% end %>
      </noscript>
    <% end %>
  </div>
  <div class="mb-3">
    <%= render "plans/plan_support", feature: :wikis, feature_name: "Wikis", repository: current_repository %>
  </div>
</li>
