<%# erblint:counter DeprecatedComponentsCounter 6 %>
<%# erblint:counter DeprecatedComponentsCounter 6 %>
<%# view is an instance of EditRepositories::AdminScreen::PagesStatusView %>
<% if view.plan_supports_pages? %>
  <% if view.spammy? %>
    <%= render Primer::Beta::Flash.new(full: true, scheme: :warning, m: 0, classes: "border-top-0", icon: :alert) do %>
      Your account has been flagged.
      Because of that, <% if view.spammy_owner? %>
        your GitHub Pages site has been disabled.
      <% elsif view.spammy_user? %>
        pushes to this GitHub Pages site will not build.
      <% end %>
      If you believe this is a mistake, please <%= link_to "contact support", contact_path, class: "Link--inTextBlock" %>.
    <% end %>
  <% elsif view.must_verify_email? %>
    <%= render Primer::Beta::Flash.new(full: true, scheme: :warning, m: 0, classes: "border-top-0", icon: :alert) do %>
      You need a verified email address to use GitHub Pages.
      You can verify your email on <%= link_to "the email settings page", :settings_email_preferences, class: "Link--inTextBlock" %>.
    <% end %>
  <% elsif view.pages_unbuilt? %>
    <div class="Box-header Box-header--blue">
      Your site is ready to be published at <%= link_to view.gh_pages_url, view.gh_pages_url, class: "Link--inTextBlock" %>.
    </div>
  <% elsif view.build_error? %>
    <%= render Primer::Beta::Flash.new(full: true, scheme: :warning, m: 0, classes: "border-top-0", icon: :alert) do %>
      Your site is having problems building:
      <%= view.build_error_message %>
    <% end %>
  <% elsif view.cname_error? %>
    <%= render Primer::Beta::Flash.new(full: true, scheme: :warning, m: 0, classes: "border-top-0", icon: :alert) do %>
      <%= view.cname_error_message %>
    <% end %>
  <% else %>
    <%= render Primer::Beta::Flash.new(full: true, scheme: :success, m: 0, classes: "border-top-0", icon: :check) do %>
      Your site is published at <%= link_to view.gh_pages_url, view.gh_pages_url, class: "Link--inTextBlock" %>
    <% end %>
  <% end %>
<% else %>
  <% if view.repository.unsupported_pages? %>
    <%= render Primer::Beta::Flash.new(scheme: :danger, icon: :alert) do %>
      Your subscription, GitHub Free, does not support GitHub Pages sites for
      private repositories. If you'd like to keep updating this site, you can make
      this repository public or upgrade to <a class="Link--inTextBlock" href="/account/upgrade?plan=pro">
      GitHub Pro</a>. You can also choose to <%= link_to "unpublish this site",
      repository_pages_settings_path, class: "Link--inTextBlock" %> now.
    <% end %>
  <% end %>
<% end %>
