<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render layout: "stafftools/stafftools" do %>
  <div class="UnderlineNav UnderlineNav--full UnderlineNav--right mb-3">
    <div class="container-lg UnderlineNav-container px-3">
      <span class="UnderlineNav-actions f3">
        <%= link_to "Site Admin", stafftools_path %> /
        <%= link_to "Support Plan Uploads", stafftools_support_plan_uploads_path %>
      </span>
    </div>
  </div>

  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% component.with_header do |h| %>
      <% h.with_title(tag: :h2) do %>
        Support Plan Mass CSV Uploads
      <% end %>
    <% end %>
    <% component.with_body do %>
      <%= form_with url: stafftools_support_plan_uploads_path, method: :put , multipart: true do |form| %>
        <%= form.file_field :file, accept: "text/csv" %>

        <div class="mt-2 mb-4">
          <%= form.check_box(:dry_run, checked: true, class: "mr-1") %>
          <%= form.label(:dry_run, "Dry Run", for: "dry_run") %>
        </div>

        <%= render(Primer::ButtonComponent.new(scheme: :primary, type: :submit)) { "Upload" } %>
      <% end %>
    <% end %>
  <% end %>
  <p>
    Note: Refer to the
    <%= link_to "playbook", "https://github.com/github/gitcoin/blob/main/docs/playbook/howto/first_responder_common.md#support-plan-mass-upload", class: "Link--inTextBlock" %>
    here for more information. This tooling is only used to update microsoft support plan values.
  </p>

  <% if local_assigns[:dry_run] %>
    <h3>Dry Run Results</h3>
    <% if updates.blank? %>
      <p>No successful updates made</p>
    <% else %>
      <%= render(Primer::Beta::BorderBox.new(mt: 2)) do |b| %>
        <% updates.each do |update| %>
          <% b.with_row { "Business(#{update[:id]}) #{update[:slug]} from #{update[:from]} to #{update[:to]}" } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
