<%# `view` is an instance of `Stafftools::Users::WatchingView` %>
<% page_info title: view.page_title %>

<div class="boxed-group">
  <h3>Ignoring</h3>
  <div class="boxed-group-inner">
    <% if view.subscriptions_available? %>
      <% if view.ignoring.size > 0 %>
        <ul class="boxed-group-list standalone">
        <% view.ignoring.each do |subscription| -%>
          <li>
            <% if owner = subscription.owner %>
              <%= avatar_for owner, 20 %>
              <%= link_to(
                subscription.name_with_owner,
                notifications_stafftools_repository_path(
                  owner,
                  subscription.repository,
                  user: view.user.id,
                ),
              ) %>
            <% else %>
              <%= avatar_for User.ghost, 20 %>
              Repository #<%= subscription.repository_id %>
              <%= subscription.name %> is missing an owner
            <% end %>
            @ <%= subscription.created_at.to_formatted_s(:long) %>
          </li>
        <% end -%>
        </ul>
      <% else %>
        <p>This user has not ignored any repositories.</p>
      <% end %>
    <% else %>
      <p>The list of ignored repositories is unavailable.</p>
    <% end %>
  </div>
</div>

<div class="boxed-group">
  <h3>Watching</h3>
  <div class="boxed-group-inner">
    <p>
      <strong>Automatically watch:</strong> <%= view.automatically_watch %>
    </p>
    <hr class="bleed-flush">
    <% if view.subscriptions_available? %>
      <% if view.subscriptions.size > 0 %>
        <ul class="boxed-group-list standalone">
        <% view.subscriptions.each do |subscription| -%>
          <li>
            <% if owner = subscription.owner %>
              <%= avatar_for owner, 20 %>
              <%= link_to(
                subscription.name_with_owner,
                notifications_stafftools_repository_path(
                  owner,
                  subscription.repository,
                  user: view.user.id,
                ),
              ) %>
            <% else %>
              <%= avatar_for User.ghost, 20 %>
              Repository #<%= subscription.repository_id %>
              <%= subscription.name %> is missing an owner
            <% end %>
            @ <%= subscription.created_at.to_formatted_s(:long) %>
          </li>
        <% end -%>
        </ul>
      <% else %>
        <p>This user has not watched any repositories.</p>
      <% end %>
    <% else %>
      <p>The list of watched repositories is unavailable.</p>
    <% end %>
  </div>
</div>
