<%# `view` is an instance of `Stafftools::Users::NotifydView` %>
<% page_info title: view.page_title %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 4)) do |component| %>
  <% component.with_header do |header| %>
    <% header.with_title(tag: :h2) do %>
      List subscriptions for user <%= view.user.login %>
    <% end %>
  <% end %>
  <% if view.subscriptions_available? %>
    <% if view.thread_type_subscriptions.size > 0 %>
      <% view.list_susbcriptions.each do |subscription| %>
        <% component.with_row do %>
          <div class="d-flex flex-column flex-sm-row">
            <div class="mr-2">
              <div>
                <span class="mr-1">Id: <%= subscription.id %></span>
                <span class="mr-2">Reason: <b><%= subscription.reason %></b></span>
              </div>
              <div>
                <div class="mr-2">Created at: <%= Time.at(subscription.created_at || Time.now) %></div>
              </div>
            </div>

            <div class="ml-1">
              <p>Custom fields: </p>
              <% subscription.custom_fields.each do |cf| %>
                <% if cf.name == "repository_id" %>
                  <div>
                    <span>Repository: <b><%= cf.value %></b></span>
                    <% repo = Repositories::Public.get_active_or_deleted(cf.value) %>
                    <% if repo.present? %>
                      <a href="<%= repository_path(repo) %>" class="pl-1 ml-3">
                        <%= repo&.name_with_display_owner || "n.a" %>
                      </a>
                    <% else %>
                      <div><%= cf.name %>: <%= cf.value %></div>
                    <% end %>
                  </div>
                <% else %>
                  <div><%= cf.name %>: <%= cf.value %></div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <% component.with_body do %>
        <p>This user has no thead type subscriptions.</p>
      <% end %>
    <% end %>
  <% else %>
    <% component.with_body do %>
      <p>The list of notifyd subcsriptions is unavailable.</p>
    <% end %>
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 4)) do |component| %>
  <% component.with_header do |header| %>
    <% header.with_title(tag: :h2) do %>
      Thread type subscriptions for user <%= view.user.login %>
    <% end %>
  <% end %>
  <% if view.subscriptions_available? %>
    <% if view.thread_type_subscriptions.size > 0 %>
      <% view.thread_type_subscriptions.each do |subscription| %>
        <% component.with_row do %>
          <div class="d-flex flex-column flex-sm-row">
            <div class="mr-2">
              <div>
                <span class="mr-1">Id: <%= subscription.id %></span>
                <span class="mr-2">Reason: <b><%= subscription.reason %></b></span>
              </div>
              <div>
                <div class="mr-2">Created at: <%= Time.at(subscription.created_at || Time.now) %></div>
              </div>
            </div>

            <div class="ml-1">
              <p class="">Custom fields: </p>
              <% subscription.custom_fields.each do |cf| %>
                <% if cf.name == "repository_id" %>
                  <div>
                    <span>Repository: <b><%= cf.value %></b></span>
                    <% repo = Repositories::Public.get_active_or_deleted(cf.value) %>
                    <% if repo.present? %>
                      <a href="<%= repository_path(repo) %>" class="pl-1 ml-3">
                        <%= repo&.name_with_display_owner || "n.a" %>
                      </a>
                    <% else %>
                      <div><%= cf.name %>: <%= cf.value %></div>
                    <% end %>
                  </div>
                <% else %>
                  <div><%= cf.name %>: <%= cf.value %></div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <% component.with_body do %>
        <p>This user has no thead type subscriptions.</p>
      <% end %>
    <% end %>
  <% else %>
    <% component.with_body do %>
      <p>The list of notifyd subcsriptions is unavailable.</p>
    <% end %>
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 4)) do |component| %>
  <% component.with_header do |header| %>
    <% header.with_title(tag: :h2) do %>
      Ignored repos for user <%= view.user.login %>
    <% end %>
  <% end %>
  <% if view.routing_settings_available? %>
    <% if view.list_ignore_settings.size > 0 %>
      <% view.list_ignore_settings.each do |rs| %>
        <% component.with_row do %>
          <div class="d-flex flex-column flex-sm-row">
            <div class="mr-2">
              <div>
                <span class="mr-1">Id: <%= rs.id %></span>
                <% rs.channels.each do |ch| %>
                  <span> Channels: <%= ch.name %> </span>
                <% end %>
              </div>
              <div>
                <div class="mr-2">Created at: <%= Time.at(rs.created_at || Time.now) %></div>
              </div>
            </div>

            <div class="ml-1">
              <p class="">Custom fields: </p>
              <% rs.custom_fields.each do |cf| %>
              <% if cf.name == "repository_id" %>
                <div>
                  <span>Repository: <b><%= cf.value %></b></span>
                  <% repo = Repositories::Public.get_active_or_deleted(cf.value) %>
                  <% if repo.present? %>
                    <a href="<%= repository_path(repo) %>" class="pl-1 ml-3">
                      <%= repo&.name_with_display_owner || "n.a" %>
                    </a>
                   <% else %>
                    <div><%= cf.name %>: <%= cf.value %></div>
                   <% end %>
                </div>
              <% else %>
                <div><%= cf.name %>: <%= cf.value %></div>
              <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <% component.with_body do %>
        <p>This user has no ignored repos.</p>
      <% end %>
    <% end %>
  <% else %>
    <% component.with_body do %>
      <p>The list of notifyd subcsriptions is unavailable.</p>
    <% end %>
  <% end %>
<% end %>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 4)) do |component| %>
  <% component.with_header do |header| %>
    <% header.with_title(tag: :h2) do %>
      Thread subscriptions for user <%= view.user.login %>
    <% end %>
  <% end %>
  <% if view.subscriptions_available? %>
    <% if view.thread_subscriptions.size > 0 %>
      <% view.thread_subscriptions.each do |hash| %>
        <% component.with_row do %>
          <div class="d-flex flex-column flex-sm-row">
            <div class="mr-2">
              <div>
                <span class="mr-1">Id: <%= hash[:subscription].id %></span>
                <span class="mr-2">Reason: <b><%= hash[:subscription].reason %></b></span>
              </div>
              <div>
                <span class="mr-2">Thread type: <b><%= hash[:thread_type] %></b> Id: <%= hash[:thread_id] %> </span>
                <div>
                  Link: <a class="Link--inTextBlock" href="<%= hash[:thread_premalink] %>"><%= hash[:thread_title] %></a>
                </div>
                <div class="mr-2">Created at: <%= Time.at(hash[:subscription].created_at || Time.now) %></div>
              </div>
            </div>

            <div class="ml-1">
              <p class="">Custom fields: </p>
              <% hash[:subscription].custom_fields.each do |cf| %>
                <% if cf.name == "repository_id" %>
                  <div>
                    <span>Repository: <b><%= cf.value %></b></span>
                    <% repo = Repositories::Public.get_active_or_deleted(cf.value) %>
                    <% if repo.present? %>
                      <a href="<%= repository_path(repo) %>" class="pl-1 ml-3">
                        <%= repo&.name_with_display_owner || "n.a" %>
                      </a>
                    <% else %>
                      <div><%= cf.name %>: <%= cf.value %></div>
                    <% end %>
                  </div>
                <% else %>
                  <div><%= cf.name %>: <%= cf.value %></div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>This user has no thead type subscriptions.</p>
    <% end %>
  <% else %>
    <p>The list of notifyd subcsriptions is unavailable.</p>
  <% end %>
<% end %>


<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 4)) do |component| %>
  <% component.with_header do |header| %>
    <% header.with_title(tag: :h2) do %>
      Thread ignores for user <%= view.user.login %>
    <% end %>
  <% end %>
  <% if view.routing_settings_available? %>
    <% if view.thread_ignore_settings.size > 0 %>
      <% view.thread_ignore_settings.each do |hash| %>
        <% component.with_row do %>
          <div class="d-flex flex-column flex-sm-row">
            <div class="mr-2">
              <div>
                <span class="mr-1">Id: <%= hash[:routing_setting].id %></span>
                 <% hash[:routing_setting].channels.each do |ch| %>
                  <span> Channels: <%= ch.name %> </span>
                <% end %>
              </div>
              <div>
                <span class="mr-2">Thread type: <b><%= hash[:thread_type] %></b> Id: <%= hash[:thread_id] %> </span>
                <div>
                  Link: <a class="Link--inTextBlock" href="<%= hash[:thread_premalink] %>"><%= hash[:thread_title] %></a>
                </div>
                <div class="mr-2">Created at: <%= Time.at(hash[:routing_setting].created_at || Time.now) %></div>
              </div>
            </div>

            <div class="ml-1">
              <p class="">Custom fields: </p>
              <% hash[:routing_setting].custom_fields.each do |cf| %>
                <% if cf.name == "repository_id" %>
                  <div>
                    <span>Repository: <b><%= cf.value %></b></span>
                    <% repo = Repositories::Public.get_active_or_deleted(cf.value) %>
                    <% if repo.present? %>
                      <a href="<%= repository_path(repo) %>" class="pl-1 ml-3">
                        <%= repo&.name_with_display_owner || "n.a" %>
                      </a>
                    <% else %>
                      <div><%= cf.name %>: <%= cf.value %></div>
                    <% end %>
                  </div>
                <% else %>
                  <div><%= cf.name %>: <%= cf.value %></div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>This user has no thread ignore settings.</p>
    <% end %>
  <% else %>
    <p>The list of notifyd routings settings is unavailable.</p>
  <% end %>
<% end %>


<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mb: 4)) do |component| %>
  <% component.with_header do |header| %>
    <% header.with_title(tag: :h2) do %>
      Other routing settings for user <%= view.user.login %>
    <% end %>
  <% end %>

  <% if view.routing_settings_available? %>
    <% if view.settings.size > 0 %>
      <% view.settings.each do |rs| -%>
        <% component.with_row do %>
          <div class="d-flex flex-column flex-sm-row">
            <div class="mr-2">
              <div>
                <span class="mr-1">Id: <%= rs.id %></span>
                <% rs.channels.each do |ch| %>
                  <span> Channels: <%= ch.name %> </span>
                <% end %>
              </div>
              <div>
                <div class="mr-2">Created at: <%= Time.at(rs.created_at || Time.now) %></div>
              </div>
            </div>

            <div class="ml-1">
              <p class="">Custom fields: </p>
              <% rs.custom_fields.each do |cf| %>
                <% if cf.name == "repository_id" %>
                  <div>
                    <span>Repository: <b><%= cf.value %></b></span>
                    <% repo = Repositories::Public.get_active_or_deleted(cf.value) %>
                    <% if repo.present? %>
                      <a href="<%= repository_path(repo) %>" class="pl-1 ml-3">
                        <%= repo&.name_with_display_owner || "n.a" %>
                      </a>
                    <% else %>
                      <div><%= cf.name %>: <%= cf.value %></div>
                    <% end %>
                  </div>
                <% else %>
                  <div><%= cf.name %>: <%= cf.value %></div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>This user has no settings records.</p>
    <% end %>
  <% else %>
    <p>The list of notifyd routing settings is unavailable.</p>
  <% end %>
<% end %>
