<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
  <%= render(Primer::Alpha::Banner.new(full: true)) do %>
    <div class="container-lg">
      <%= form_tag kill_session_path, method: "post" do %>
        <%= hidden_field_tag :after_logout, @original_url %>
        <%= submit_tag "Sign in as #{suggested_login}", class: "btn btn-sm primary flash-action" %>
      <% end %>

      <%= @application.name %> has suggested you sign in as <%= suggested_login %>
    </div>
  <% end %>
<% else %>
  <%= render(Primer::Beta::Flash.new(full: true)) do %>
    <div class="container-lg">
      <%= form_tag kill_session_path, method: "post" do %>
        <%= hidden_field_tag :after_logout, @original_url %>
        <%= submit_tag "Sign in as #{suggested_login}", class: "btn btn-sm primary flash-action" %>
      <% end %>

      <%= @application.name %> has suggested you sign in as <%= suggested_login %>
    </div>
  <% end %>
<% end %>
