<%
  runner_moniker = "self-hosted"
  title = "Add new #{runner_moniker} runner"
  page_info title: title + " · #{this_business.name}",
  selected_link: :business_actions_settings_add_new_runner,
  stafftools: stafftools_enterprise_path(this_business) %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: title,
    back_to_link_path:  settings_actions_runners_enterprise_path(this_business.slug),
    back_to_link_text: "runners",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <p>
    Adding a <%=runner_moniker%> runner requires that you download, configure, and execute the
    GitHub Actions Runner. By downloading and configuring the GitHub Actions Runner, you
    agree to the <a class="Link--inTextBlock" href="<%= GitHub.help_url(skip_enterprise: true) %>/github/site-policy/github-terms-of-service">GitHub Terms of Service</a>
    or <a class="Link--inTextBlock" href="<%= GitHub.help_url(skip_enterprise: true) %>/github/site-policy/github-corporate-terms-of-service">GitHub Corporate Terms of Service</a>, as applicable.
  </p>

  <%= render partial: "actions/settings/add_runner_instructions", locals: {
      platform: platform,
      os: os,
      architecture: architecture,
      downloads: downloads,
      platform_options: platform_options,
      token: token,
      selected_download: selected_download,
      registration_url: "#{GitHub.url}/enterprises/#{this_business.slug}"
    }
  %>
<% end %>
