<%
  page_info \
  title: "Manage Runner Scale Set",
  responsive: false,
  selected_link: :business_actions_settings_runner_scale_set
%>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    title: "Manage Runner Scale Set",
    back_to_link_path: settings_actions_runners_enterprise_path(this_business.slug),
    back_to_link_text: "runners"
  } do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
    <div class="d-flex flex-row">
      <div class="mr-2">
        <%= render(Primer::Beta::Octicon.new(:"hubot")) %>
        <%= scale_set.name %>
      </div>
    <% end %>
  <% end %>
  <%= render(Actions::RunnerScaleSets::RunnerScaleSetHeaderDescriptionComponent.new(scale_set: scale_set, owner_settings: owner_settings)) %>
  <%= render(Actions::RunnerScaleSets::RunnerScaleSetComponent.new(scale_set: scale_set)) %>
<% end %>
