<%# locals:
  - runner_group: Actions::RunnerGroup | nil
  - runners: WillPaginate::Collection[Actions::Runner]
  - owner_settings: Actions::EnterpriseRunnersView
%>
<%
  page_info \
  title: (runner_group.present? ? "Manage runner group #{runner_group.name}" : "Create runner group") + " · #{this_business.name}",
  stafftools: stafftools_enterprise_path(this_business),
  selected_link: :business_actions_settings_runner_group
%>

<%= render layout: "businesses/layout", locals: {
    business: this_business,
    back_to_link_path: settings_actions_runner_groups_enterprise_path(this_business.slug),
    back_to_link_text: "runner groups"
  } do %>

  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <span class="css-truncate css-truncate-target" style="max-width: 500px"><%= runner_group.present? ? "Update Runner Group" : "New Runner Group" %></span>
    <% end %>
    <% component.with_actions do %>
      <% if runner_group.present? %>
        <%= render(Actions::RunnerGroupRemoveButtonComponent.new(runner_group: runner_group, owner_settings: owner_settings)) %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Actions::RunnerGroupComponent.new(runner_group: runner_group, owner_settings: owner_settings, owner: this_business, network_configurations: network_configurations, current_network_configuration: current_network_configuration)) %>

  <% if runner_group.present? %>
    <%= render(Actions::RunnerFilterComponent.new(
        owner: this_business,
        owner_settings: owner_settings,
        runners: runners,
        search_action: runner_group.id.to_s,
        can_create_runners: !runner_group.inherited?,
        can_manage_runners: !runner_group.inherited?,
        runner_group: runner_group
      )) %>
    <div class="paginate-container">
      <div class="pagination">
        <%= will_paginate(runners) %>
      </div>
    </div>
  <% end %>
<% end %>
