<%
  page_info \
  title: "Runners · #{this_business.name}",
  selected_link: :business_actions_settings_runners,
  stafftools: stafftools_enterprise_path(this_business)
%>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: "Actions",
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>

  <%= render "businesses/settings/actions/tabs", business: this_business, should_display_custom_images_tab: should_display_custom_images_tab %>
  <p class="mb-2">
    Includes all runners across self-hosted and GitHub-hosted runners.
  </p>
  <% if runner_experience_enabled %>
    <% if should_display_default_runners_banner %>
        <%= render(Actions::LargerRunners::LargerRunnersSetupDefaultDialogComponent.new(entity: this_business)) %>
    <% elsif !larger_runners_enabled %>
      <p class="mb-2">
        Host your own runners and customize the environment used to run jobs in your GitHub Actions workflows. Runners added to this enterprise can be used to process jobs in multiple repositories in your organizations.
        <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/hosting-your-own-runners/about-self-hosted-runners">Learn more about self-hosted runners</a>.
      </p>
    <% end %>
    <%= render(Actions::RunnerFilterComponent.new(
      owner: this_business,
      owner_settings: Actions::EnterpriseRunnersView.new(settings_owner: this_business, current_user: current_user),
      runners: runners,
      hosted_runner_group: hosted_runner_group
    )) %>

    <div class="paginate-container">
      <div class="pagination">
        <%= will_paginate(runners) %>
      </div>
    </div>
  <% else %>
    <%= render(Actions::RunnerGroupsComponent.new(
      owner: this_business,
      owner_settings: Actions::EnterpriseRunnersView.new(settings_owner: this_business, current_user: current_user),
      runner_groups: runner_groups,
    )) do |component| %>
      <% component.with_description do %>
        <p class="mb-0">
          Host your own runners and customize the environment used to run jobs in your GitHub Actions workflows. Any runner added to this enterprise account can be used to process jobs in multiple organizations in your enterprise.
          <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/actions/hosting-your-own-runners/about-self-hosted-runners">Learn more about self-hosted runners</a>.
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
