<div class="Box Box--condensed">
  <div class="Box-body p-0">
    <% if orgs.any? %>
      <table class="stafftools-table" <%= test_selector("premium-sponsors-table") %>>
        <thead>
          <tr>
            <th class="px-2 v-align-middle">Organization</th>
            <th class="text-center px-2 border-left v-align-middle">Active sponsorships</th>
            <th class="text-center px-2 border-left">Sponsors-specific<br>Zuora account</th>
            <th class="text-center px-2 border-left v-align-middle">Stripe customer</th>
            <th class="px-2 v-align-middle border-left text-center">Options</th>
          </tr>
        </thead>
        <tbody>
          <% orgs.each do |org| %>
            <% sponsorship_count = sponsorship_counts_by_org_id[org.id] || 0 %>
            <tr>
              <td class="px-2 v-align-middle">
                <a href="<%= stafftools_user_path(org) %>" <%= safe_data_attributes(hovercard_data_attributes_for_org(login: org.login, tracking: false)) %>>
                  <%= render GitHub::AvatarComponent.new(actor: org, size: 24, mr: 1) %>
                  <%= org.safe_profile_name %>
                </a>
              </td>
              <td class="text-center border-left px-2 v-align-middle" <%= test_selector("sponsorship-count-#{org}") %>>
                <% if sponsorship_count > 0 %>
                  <a class="Link--secondary" href="<%= stafftools_sponsors_invoiced_sponsor_sponsorships_path(org) %>">
                    <%= number_with_delimiter(sponsorship_count) %> <%= "sponsorship".pluralize(sponsorship_count) %>
                  </a>
                <% else %>
                  <%= number_with_delimiter(sponsorship_count) %>
                <% end %>
              </td>
              <td class="text-right border-left px-2 v-align-middle">
                <% if sponsors_customer = org.sponsors_customer %>
                  <div class="no-wrap" <%= test_selector("credit-balance-#{org}") %>>
                    <% if credit_balance = sponsors_customer.credit_balance %>
                      <a class="Link--primary" href="<%= helpers.zuora_account_url_for_customer(sponsors_customer) %>" target="_blank" rel="noopener noreferrer">
                        <%= credit_balance.format(no_cents_if_whole: false, with_currency: true) %>
                      </a>
                    <% end %>
                  </div>
                  <a class="Link--secondary" href="<%= helpers.zuora_account_url_for_customer(sponsors_customer) %>" target="_blank" rel="noopener noreferrer">
                    <code><%= sponsors_customer.zuora_account_number %></code>
                  </a>
                <% end %>
              </td>
              <td class="text-center border-left px-2 v-align-middle">
                <% if (stripe_customer_id = org.stripe_customer_id).present? %>
                  <a class="Link--primary d-block" href="<%= helpers.stripe_customer_url(stripe_customer_id) %>" target="_blank" rel="noopener noreferrer">
                    <%= render Primer::Beta::Label.new(
                      font_family: :mono,
                    ).with_content(stripe_customer_id) %>
                  </a>
                <% end %>
                <%= render Stafftools::Sponsors::StripeCustomerFormComponent.new(org: org) %>
              </td>
              <td class="text-center border-left px-2 v-align-middle">
                <ul class="list-style-none">
                  <% if org_ids_with_invoiced_sponsorship_transfers.include?(org.id) %>
                    <li>
                      <a class="no-wrap Link--secondary" href="<%= stafftools_sponsors_invoiced_sponsor_transfers_path(org) %>">View legacy transfers</a>
                    </li>
                  <% end %>
                  <li><a class="no-wrap Link--secondary" href="<%= new_stafftools_sponsors_stripe_invoice_path(org) %>">Create a Stripe invoice</a></li>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= render Primer::Beta::Blankslate.new(test_selector: "invoiced-sponsors-blankslate") do |c| %>
        <% c.with_visual_icon(icon: "heart") %>
        <% c.with_heading(tag: :h2) do %>
          No <%= "active" if active_sponsors_only? %> invoiced sponsors
        <% end %>
        <% if active_sponsors_only? %>
          <% c.with_description do %>
            <a href="<%= stafftools_sponsors_invoiced_sponsors_path(active_only: "0") %>">
              View current and past invoiced sponsors &rarr;
            </a>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if orgs.total_pages > 1 %>
    <div class="Box-footer text-center">
      <%= will_paginate orgs, "data-pjax" => "" %>
    </div>
  <% end %>
</div>
