<div class="Box Box--condensed mt-4">
  <div class="Box-body p-0">
    <% if signatures.any? %>
      <table class="stafftools-table" <%= test_selector("invoiced-sponsors-signatures-table") %>>
        <thead>
          <tr>
            <th class="px-2 v-align-middle">Organization</th>
            <th class="px-2 v-align-middle text-center no-wrap">Signed by</th>
            <th class="px-2 v-align-middle text-center no-wrap">Date signed</th>
            <th class="px-2 v-align-middle text-center">Expiration</th>
          </tr>
        </thead>
        <tbody>
          <% signatures.each do |signature| %>
            <tr <%= test_selector("signature-#{signature.id}") %>>
              <td class="px-2 v-align-middle">
                <%= signature.organization&.display_login %>
              </td>
              <td class="px-2 v-align-middle text-center">
                <%= signature.signatory_login %>
              </td>
              <td class="px-2 v-align-middle text-center">
                <%= helpers.time_ago_in_words_js signature.created_at %>
              </td>
              <td class="px-2 v-align-middle text-center">
                <%= signature.expires_on.to_formatted_s(:long) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= render Primer::Beta::Blankslate.new(test_selector: "invoiced-sponsors-signatures-blankslate") do |c| %>
        <% c.with_visual_icon(icon: "file") %>
        <% c.with_heading(tag: :h2) do %>
          No one has signed this agreement
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if signatures.total_pages > 1 %>
    <div class="Box-footer text-center" <%= test_selector("invoiced-sponsors-signatures-pagination") %>>
      <%= will_paginate signatures, "data-pjax" => "", :params => {
        controller: "stafftools/sponsors/agreements",
        action: "show",
        id: agreement.to_param,
      } %>
    </div>
  <% end %>
</div>
