  <div class="Box" style="max-width: 440px;">
    <div class="Box-body">
      <%=
        form_with(
          model: sponsorship_form_inputs,
          url: form_action,
          scope: :sponsorship,
          method: form_method,
        ) do |f|
      %>
        <div class="form-group mt-0">
          <div class="form-group-header">
            <label for="sponsorable-login">Maintainer</label>
            <div class="note">
              e.g.
              <span class="text-mono">
                homebrew
              </span>
            </div>
          </div>
          <% if update? %>
            <div><%= sponsorship_form_inputs.sponsorable_login %></div>
          <% else %>
            <div class="form-group-body">
              <%= render Primer::Beta::AutoComplete.new(
                src: autocomplete_src,
                list_id: "sponsorable-login-results",
                input_id: "sponsorable-login",
                input_name: "#{f.object_name}[sponsorable_login]",
                label_text: "Search by username",
                with_icon: true
              ) do |c| %>
                <% c.with_input(
                  value: sponsorship_form_inputs.sponsorable_login,
                  required: true
                ) %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="form-group">
          <div class="form-group-header">
            <label for="amount">Sponsorship amount in dollars</label>
            <div class="note">
              in USD, e.g.
              <span class="text-mono">
                1000
              </span>
              for $1,000
            </div>
          </div>
          <div class="form-group-body">
            <div class="input-group">
              <span class="input-group-button pr-1 color-fg-subtle text-bold">$</span>
              <%=
                f.number_field(
                  :amount_in_dollars,
                  required: true,
                  class: "form-control",
                  id: "amount",
                  placeholder: 100
                )
              %>
              <span class="input-group-button pl-1 color-fg-subtle text-bold">.00</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group-header">
            <label for="recurring">Frequency</label>
          </div>
          <% if update? %>
            <div><%= sponsorship_form_inputs.recurring? ? "Recurring" : "One-time" %></div>
          <% else %>
            <stafftools-invoiced-sponsorship-payment-options>
              <div class="form-checkbox">
                <label class="h5">
                  <%=
                    f.radio_button(
                      :is_recurring,
                      true,
                      required: true,
                      data: { action: "click:stafftools-invoiced-sponsorship-payment-options#showPaymentOptions" }
                    )
                  %>
                  Recurring
                </label>
              </div>
              <div class="form-checkbox">
                <label class="h5">
                  <%=
                    f.radio_button(
                      :is_recurring,
                      false,
                      required: true,
                      data: { action: "click:stafftools-invoiced-sponsorship-payment-options#hidePaymentOptions" }
                    )
                  %>
                  One-time
                </label>
              </div>

              <div
                data-target="stafftools-invoiced-sponsorship-payment-options.paymentOptions"
                <%= "hidden" unless sponsorship_form_inputs.recurring? %>
              >
                <% if proration_message.present? %>
                  <%= render Primer::Alpha::Banner.new(
                    test_selector: "proration-message",
                  ).with_content(proration_message) %>
                <% else %>
                  <div class="form-group" <%= test_selector("payment-options") %>>
                    <div class="form-group-header">
                      <label for="pay_prorated">Payment options</label>
                    </div>
                    <div class="form-checkbox">
                      <label class="h5">
                        <%= f.radio_button(
                          :skip_proration,
                          false,
                          required: true,
                        ) %>
                        Prorated
                      </label>
                    </div>
                    <div class="form-checkbox">
                      <label class="h5">
                        <%= f.radio_button(
                          :skip_proration,
                          true,
                          required: true,
                        ) %>
                        Full amount
                      </label>
                    </div>
                  </div>
                </div>
              <% end %>
            </stafftools-invoiced-sponsorship-payment-options>
          <% end %>
        </div>

        <% if show_schedule_section? %>
          <div class="form-group" <%= test_selector("schedule-sponsorship") %>>
            <div class="form-group-header">
              <label for="active_on">Sponsorship start date</label>
              <div class="note">
                The date to start a <strong>recurring</strong> sponsorship
              </div>
            </div>
            <% if update? && sponsorship_form_inputs.active_on.present? %>
              <div <%= test_selector("schedule-sponsorship-active-on") %>>
                <%= sponsorship_form_inputs.active_on %>
              </div>
            <% else %>
              <div <%= test_selector("schedule-sponsorship-options") %>>
                <div class="form-checkbox">
                  <label class="h5">
                    <%= f.radio_button(:active_on, nil, required: true) %>
                    Immediately
                  </label>
                </div>
                <div class="form-checkbox">
                  <label class="h5">
                    <%= f.radio_button(
                      :active_on,
                      sponsor.next_sponsors_billing_date,
                      required: true,
                    ) %>
                    Next billing date
                  </label>
                  <div class="note">
                    The sponsorship will start on the next billing date
                    (<%= sponsor.next_sponsors_billing_date %>).
                    This is only available for a recurring sponsorship.
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if !update? || sponsorship_form_inputs.recurring? %>
          <div class="form-group">
            <div class="form-group-header">
              <label for="end_date">Sponsorship end date</label>
              <div class="note">
                optional date to stop recurring sponsorships (at the end of the month)
              </div>
            </div>
            <div class="form-group-body">
              <%= select_month sponsorship_form_inputs.end_month,
                { prefix: "#{f.object_name}[end_month]", discard_type: true, include_blank: true },
                class: "form-control", "aria-label" => "end month" %>
              <%= select_year sponsorship_form_inputs.end_year,
                { prefix: "#{f.object_name}[end_year]", discard_type: true, start_year: start_year,
                end_year: end_year, include_blank: true },
                class: "form-control mt-1", "aria-label" => "end year" %>
            </div>
          </div>
        <% end %>

        <div class="form-group mb-4">
          <div class="form-group-header">
            <label for="public">Who can see the sponsorship?</label>
          </div>
          <div class="form-checkbox">
            <label class="h5">
              <%=
                f.radio_button(
                  :is_public,
                  true,
                  required: true,
                )
              %>
              Everyone
            </label>
            <p class="note">
              Others will be able to see the sponsorship.
            </p>
          </div>

          <div class="form-checkbox">
            <label class="h5">
              <%=
                f.radio_button(
                  :is_public,
                  false,
                  required: true,
                )
              %>
              Private
            </label>
            <p class="note">
              Only the sponsorable will be able to see the sponsorship.
            </p>
          </div>
        </div>

        <div class="form-checkbox">
          <%=
            f.check_box(
              :email_opt_in,
              id: "email_opt_in",
            )
          %>
          <label for="email_opt_in">Receive email updates from the maintainer</label>
          <div class="note">
            The sponsor's email address will not be shared.
          </div>
        </div>

        <div class="form-actions">
          <%= render Primer::Beta::Button.new(type: :submit, scheme: :primary).with_content(button_text) %>
        </div>
      <% end %>
    </div>
  </div>
