<%# erblint:counter DeprecatedComponentsCounter 1 %>
<tr <%= test_selector("sponsorship-row-#{sponsorship.id}") %>>
  <td class="<%= column_classes %>">
    <div class="mb-1" <%= test_selector("sponsorship-status") %>>
      <% if sponsorship.active? %>
        <%= render Primer::Beta::Octicon.new(icon: "check", color: :success) %>
        Active
      <% else %>
        <%= render Primer::Beta::Octicon.new(icon: "dot-fill", color: :attention) %>
        Inactive
      <% end %>
    </div>
    <div class="note mb-1">
      <p>Started sponsoring: <%= time_ago_in_words_js(sponsorship.created_at) %></p>
      <p>Current tier selected: <%= time_ago_in_words_js(sponsorship.subscribable_selected_at) %></p>
      <% if expires? %>
        <p <%= test_selector("sponsorship-expiration") %>>Expires on: <%= full_month_date(sponsorship.expires_at) %></p>
      <% end %>
    </div>
  </td>
  <td class="<%= column_classes %>" <%= test_selector("sponsorship-amount") %>>
    <%= sponsorship.amount_per_cycle %>
  </td>
  <td class="<%= column_classes %>" <%= test_selector("sponsorship-maintainer") %>>
    <a href="<%= stafftools_sponsors_member_path(sponsorship.sponsorable) %>">
      <%= sponsorship.sponsorable %>
    </a>
  </td>
  <td class="<%= column_classes %>" <%= test_selector("sponsorship-actions") %>>
    <% if sponsorship.active? %>
      <%=
        render Primer::ButtonComponent.new(
          tag: :a,
          variant: :small,
          href: edit_stafftools_sponsors_invoiced_sponsor_sponsorship_path(sponsor, sponsorship.id),
        ).with_content("Edit")
      %>
    <% end %>
  </td>
</tr>
