<tr <%= test_selector("transfer-row-#{transfer.id}") %>>
  <td class="<%= class_names("px-2 no-wrap", "color-bg-default" => even_row?, "color-bg-inset" => !even_row?) %>" <%= test_selector("transfer-status") %>>
    <% if transfer.completed? %>
      <%= render Primer::Beta::Octicon.new(icon: "check", color: :success) %>
      <%= render Primer::Beta::Label.new(scheme: :success).with_content("Complete") %>
    <% else %>
      <%= render Primer::Beta::Octicon.new(icon: "dot-fill", color: :attention) %>
      <%= render Primer::Beta::Label.new(scheme: :attention).with_content("Pending") %>
    <% end %>
  </td>
  <td class="<%= class_names("px-2 no-wrap text-mono", "color-bg-default" => even_row?, "color-bg-inset" => !even_row?) %>">
    <% if transfer.completed? %>
      <%= render Primer::Beta::Link.new(
        href: transfer.stripe_transfer_url,
        id: "stripe-transfer-link-#{transfer.id}",
        test_selector: "transfer-stripe-link",
      ) do |c| %>
        <% c.with_tooltip(direction: :e, text: transfer.stripe_transfer_id) %>
        <%= transfer.truncated_stripe_transfer_id %>
      <% end %>
    <% end %>
  </td>
  <td class="<%= class_names("px-2 no-wrap text-mono", "color-bg-default" => even_row?, "color-bg-inset" => !even_row?) %>">
    <%= render Primer::Beta::Link.new(
      href: transfer.zuora_payment_url,
      id: "zuora-transfer-link-#{transfer.id}",
      test_selector: "transfer-zuora-link",
    ) do |c| %>
      <% c.with_tooltip(direction: :e, text: transfer.zuora_payment_id) %>
      <%= transfer.truncated_zuora_payment_id %>
    <% end %>
  </td>
  <td class="<%= class_names("px-2", "color-bg-default" => even_row?, "color-bg-inset" => !even_row?) %>">
    <% if transfer.completed? %>
      <%= time_ago_in_words_js(transfer.transfer_created_at) %>
    <% else %>
      <%= time_ago_in_words_js(transfer.created_at) %>
    <% end %>
    <div class="note no-wrap">
      by
      <%= render Primer::Beta::Truncate.new do |component| %>
        <% component.with_item(
          max_width: 115,
          expandable: false,
          title: actor.login,
          test_selector: "transfer-actor",
        ) do %>
          <%= actor %>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class="<%= class_names("px-2 no-wrap text-right", "color-bg-default" => even_row?, "color-bg-inset" => !even_row?) %>" <%= test_selector("transfer-amount") %>>
    <%= Billing::Money.new(transfer.amount_in_cents).format(no_cents_if_whole: true) %>
  </td>
  <td class="<%= class_names("px-2", "color-bg-default" => even_row?, "color-bg-inset" => !even_row?) %>">
    <a href="<%= stafftools_sponsors_member_path(sponsorable) %>" <%= safe_data_attributes(hovercard_data_attributes_for_user(sponsorable, tracking: false)) %>>
      <%= render Primer::Beta::Truncate.new do |component| %>
        <% component.with_item(max_width: 150, expandable: false, title: sponsorable.login) do %><%= sponsorable %><% end %>
      <% end %>
    </a>
  </td>
  <td class="<%= class_names("px-2", "color-bg-default" => even_row?, "color-bg-inset" => !even_row?) %>" <%= test_selector("transfer-email-status") %>>
    <% if transfer.new_sponsor_email_sent? %>
      <span class="no-wrap">
        <%= render Primer::Beta::Octicon.new(icon: "check", color: :success) %> Sent
      </span>
      <div class="note">
        <%= time_ago_in_words_js(transfer.new_sponsor_email_sent_at) %>
      </div>
    <% elsif transfer.send_new_sponsor_email_on_transfer? %>
      <span class="no-wrap">
        <%= render Primer::Beta::Octicon.new(icon: "dot-fill", color: :attention) %> Scheduled
      </span>
    <% else %>
      <span class="no-wrap">
        <%= render Primer::Beta::Octicon.new(icon: "x", color: :danger) %> Not sent
      </span>
    <% end %>
  </td>
  <td class="<%= class_names("text-center px-2", "color-bg-default" => even_row?, "color-bg-inset" => !even_row?) %>" <%= test_selector("sponsorship") %>>
    <% if sponsorship %>
      <a href="<%= billing_stafftools_user_path(sponsor) %>#current-sponsorships">
        <%= render Primer::Beta::Label.new(
          scheme: sponsorship.active? ? :success : :secondary,
        ).with_content(sponsorship.active? ? "Active" : "Inactive") %>
      </a>
    <% end %>
  </td>
  <td class="<%= class_names("color-fg-muted px-2", "color-bg-default" => even_row?, "color-bg-inset" => !even_row?) %>" <%= test_selector("edit-sponsorship") %>>
    <% if sponsorship&.active? %>
      <%= link_to(
        "Edit sponsorship",
        edit_stafftools_sponsors_invoiced_sponsor_sponsorship_path(sponsor, sponsorship.id),
        class: "btn-link Link--secondary no-wrap",
      ) %>
    <% end %>
    <% if transfer.reversible? %>
      <%= link_to(
        "Reverse transfer",
        new_stafftools_sponsors_invoiced_sponsor_transfer_reversal_path(sponsor, transfer),
        class: "color-fg-danger no-wrap",
      ) %>
    <% end %>
  </td>
</tr>

<% reversals.each_with_index do |reversal, index| %>
  <%= render Stafftools::Sponsors::Invoiced::TransferReversalComponent.new(
    reversal: reversal,
    transfer: transfer,
    is_last: index == reversals.size - 1,
    cell_classes: even_row? ? "color-bg-default" : "color-bg-inset",
  ) %>
<% end %>
