<tr <%= test_selector("transfer-reversal-row-#{reversal.id}") %>>
  <td class="<%= class_names("px-2", cell_classes, "border-bottom" => last?) %>" colspan="3">
    <%= render Primer::Beta::Octicon.new(icon: "reply", color: reversal.completed? ? :danger : :attention) %>
    <%= render Primer::Beta::Label.new(
      scheme: reversal.completed? ? :danger : :attention,
      test_selector: "reversal-status",
    ).with_content(reversal.completed? ? "Reversed" : "Reversal enqueued") %>
  </td>
  <td class="<%= class_names("px-2", cell_classes, "border-bottom" => last?) %>">
    <% if reversal.completed? %>
      <%= time_ago_in_words_js(reversal.transfer_reversal_created_at) %>
    <% else %>
      <%= time_ago_in_words_js(reversal.created_at) %>
    <% end %>
    <div class="note no-wrap">
      by
      <%= render Primer::Beta::Truncate.new do |component| %>
        <% component.with_item(
          max_width: 115,
          expandable: false,
          title: actor.login,
          test_selector: "reversal-actor",
        ) do %>
          <%= actor %>
        <% end %>
      <% end %>
    </div>
  </td>
  <td class="<%= class_names("color-fg-danger px-2 text-right", cell_classes, "border-bottom" => last?) %>" <%= test_selector("reversal-amount") %>>
    - <%= Billing::Money.new(reversal.amount_in_cents).format(no_cents_if_whole: true) %>
  </td>
  <td class="<%= class_names("px-2", cell_classes, "border-bottom" => last?) %>" colspan="4"></td>
</tr>
