<%# erblint:counter DeprecatedComponentsCounter 1 %>
<single-page-wizard-step
  class="wizard-step width-fit"
  <% if id %> id="wizard-step-<%= id %>" <% end %>
  data-targets="single-page-wizard.steps"
  data-action="
    single-page-wizard-step-validate:single-page-wizard-step#handleValidate
    single-page-wizard-step-error:single-page-wizard-step#handleStepError
  "
  show-cancel-btn="<%= show_cancel_button %>"
  show-previous-btn="<%= show_previous_button %>"
  hide-next-btn="<%= hide_next_button %>"
  warn-unsaved="<%= warn_unsaved %>"
>

  <% if show_banner %>
    <%= render(Primer::Alpha::Banner.new(scheme: :success, classes: "wizard-step-banner", test_selector: "wizard-step-banner", tabindex: -1)) do %>
      <%= banner_text %>
    <% end %>
  <% end %>

  <div class="wizard-step-item d-flex">
    <div class="wizard-step-badge text-bold my-sm-1" data-target="single-page-wizard-step.stepNumberBadge">
      <%= primer_octicon :check, classes: "wizard-step-check" %>
    </div>

    <div class="wizard-step-body">
      <div class="wizard-step-container <%= "wizard-step-container-icon" unless step_icon.blank? %>">
        <% unless step_icon.blank? %>
          <div class="wizard-step-icon">
            <%= primer_octicon step_icon, :height => 48 %>
          </div>
        <% end %>
        <div class="wizard-step-header">
          <h2 class="wizard-step-title f3"><%= title %></h2>
        </div>
        <div class="wizard-step-content">
          <div class="wizard-step-content-header">
            <h2 class="wizard-step-title f3"><%= title %></h2>
          </div>
          <%= content %>
          <%= render Primer::Beta::Flash.new(
            mt: 3,
            scheme: :danger,
            hidden: true,
            "aria-live": "assertive",
            "aria-atomic": "true",
            data: {
              target: "single-page-wizard-step.stepError"
            })
          %>
          <% if inside_buttons %>
            <hr>
            <div class="wizard-step-buttons width-fit">
              <%= render cancel_button %>
              <%= render previous_button %>
              <%= render next_button do %>
                <%= next_text %>
                <span class="d-flex ml-2" hidden data-target="single-page-wizard-step.nextButtonSpinner">
                  <%= render(Primer::Beta::Spinner.new(size: :small, color: :on_emphasis)) %>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <% if !inside_buttons %>
        <div class="wizard-step-buttons">
          <%= render cancel_button %>
          <%= render previous_button %>
          <%= render next_button do %>
            <%= next_text %>
            <span class="d-flex ml-2" hidden data-target="single-page-wizard-step.nextButtonSpinner">
              <%= render(Primer::Beta::Spinner.new(size: :small, color: :on_emphasis)) %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</single-page-wizard-step>
