<single-page-wizard
  data-action="
    single-page-wizard-step-cancel:single-page-wizard#stepCancel
    single-page-wizard-increment:single-page-wizard#incrementStep
    single-page-wizard-decrement:single-page-wizard#decrementStep
  "
  show-last-step-celebration="<%= show_last_step_celebration %>"
  data-horizontal-steps="<%=true if horizontal_steps %>"
  complete-url="<%= complete_url %>"
  cancel-url="<%= cancel_url %>"
  cancel-confirm-text="<%= cancel_confirm_text %>"
>
  <div data-target="single-page-wizard.loadingElem" class="d-flex flex-column flex-items-center mt-5" <%= test_selector(@test_selector) if @test_selector %>>
    <%= render(Primer::Beta::Spinner.new("aria-label": "Loading...")) %>
    <span class="mt-1">Loading...</span>
  </div>

  <div data-target="single-page-wizard.stepsElem" class="wizard-content <%= "d-flex flex-items-center horizontal" if horizontal_steps %>" hidden>
    <% if horizontal_steps %>
      <div class="wizard-horizontal-steps my-3 d-flex flex-row flex-items-center text-center">
        <% steps.each do |step| %>
          <% step_index = steps.index(step) + 1 %>
          <div class="wizard-step-badge text-bold my-sm-1 step-<%= step_index %>" data-targets="single-page-wizard.horizontalBadges"><%= step_index %></div>
          <div
            class="wizard-step-badge-check d-flex flex-items-center flex-justify-center circle color-bg-inset border color-border-accent-emphasis step-<%= step_index %>"
            data-targets="single-page-wizard.horizontalBadgeChecks">
            <%= primer_octicon(:check, color: :accent) %>
          </div>
          <% if step_index < steps.length %>
            <hr class="wizard-step-bar flex-auto step-<%= step_index %>" data-targets="single-page-wizard.horizontalBars">
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% steps.each do |step| %>
      <%= step %>
    <% end %>
  </div>
</single-page-wizard>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "single-page-wizard" %>
<% end %>
