<%
  gh_mobile_link_text = "Use GitHub Mobile"
  app_link_text = "Use your authenticator app"
  sms_link_text = "Send a code via SMS"
  resend_sms_link_text = "Resend SMS"
%>

<ul class="ml-3" aria-labelledby="<%= list_label_id %>">
  <% if can_use_2fa_code_resend? %>
    <% if user.two_factor_sms_requires_captcha?(session, callsite: :two_factor_alternatives_component) %>
      <li>
        <%= link_to resend_sms_link_text, two_factor_sms_confirm_path(resend: true), "data-test-selector": "resend-sms-confirm-link" %>
      </li>
    <% else %>
      <li>
        <%= form_tag two_factor_resend_path, :class => "inline-form js-send-auth-code", data: { "test-selector" => "resend-sms-form" } do %>
          <%= render Primer::Beta::Button.new(type: :submit, scheme: :link) do %><%= resend_sms_link_text %><% end %>
          <%= render(Primer::Beta::Spinner.new(classes: "spinner sms-send-code-spinner", size: :small)) %>
        <% end %>
      </li>
    <% end %>
  <% end %>
  <% if can_use_trusted_device? %>
    <li><%= link_to "Use your #{trusted_device_description}", webauthn_path, "data-test-selector": "webauthn-link" %></li>
  <% end %>
  <% if can_use_gh_mobile? %>
    <li><%= link_to gh_mobile_link_text, gh_mobile_path, "data-test-selector": "gh-mobile-link" %></li>
  <% end %>
  <% if can_use_2fa_app_code? %>
    <li><%= link_to app_link_text, two_factor_app_code_path, "data-test-selector": "totp-app-link" %></li>
  <% end %>
  <% if can_use_2fa_sms_code? %>
    <li><%= link_to sms_link_text, two_factor_sms_code_path, "data-test-selector": "totp-sms-link" %></li>
  <% end %>
  <% if can_use_2fa_fallback? %>
    <li>
      <%= form_tag two_factor_send_fallback_path, :class => "inline-form js-send-auth-code", data: { "test-selector" => "backup-sms-form" } do %>
        <%= render Primer::Beta::Button.new(type: :submit, scheme: :link, text_align: :left, classes: "ws-normal") do %>
          Send the code to your backup number
        <% end %>
        <%= render(Primer::Beta::Spinner.new(classes: "spinner sms-send-code-spinner", size: :small)) %>
      <% end %>
    </li>
  <% end %>
  <% if is_checkup_prompt? %>
    <% if user.can_delay_two_factor_checkup? %>
      <li>
        <%= form_tag delay_settings_two_factor_checkup_path, method: :put, class: "inline-form" do %>
          <%= render(Primer::Beta::Button.new(type: :submit, scheme: :link, text_align: :left)) { "Verify your 2FA setup tomorrow" } %>
        <% end %>
      </li>
    <% end %>
    <li><%= link_to "Reconfigure 2FA on this account", reconfigure_two_factor_path %></li>
  <% end %>
  <% if can_use_recovery_code? %>
    <% recovery_prompt = can_use_recovery_flow? ? "Use a recovery code or begin 2FA account recovery" : "Use a recovery code" %>
    <li><%= link_to recovery_prompt, recovery_path, "data-test-selector": "recovery-code-link" %></li>
  <% elsif show_recovery_code_help? %>
    <li><%= link_to "Where to find recovery codes", helpers.docs_url("authentication/recovering-list-2fa-credentials") %>
    </li>
  <% end %>
</ul>
