<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: this_business.name, selected_link: :business_people %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>
    <%= link_to "People", stafftools_enterprise_people_path(this_business) %>
    / Billing managers
  <% end %>
<% end %>

<%= render Stafftools::SimpleSearchFormComponent.new(
  query_label: "Search billing managers",
  form_url: stafftools_enterprise_billing_managers_path(this_business)
) %>

<% if billing_managers.any? %>
  <div class="Box Box--condensed">
    <ul>
      <% billing_managers.each do |billing_manager| %>
        <li class="Box-row d-flex flex-items-center" <%= test_selector "li-billing-manager-#{billing_manager}" %>>
          <span class="flex-auto">
            <%= avatar_for billing_manager, 20, class: :avatar %>
            <%= link_to billing_manager.login, stafftools_user_path(billing_manager) %>
          </span>
          <span>
            <%= render layout: "shared/details_dialog", locals: {
              button_text: "Remove billing manager",
              button_class: "btn btn-danger btn-sm",
              details_class: "float-right",
              title: "Remove billing manager?",
            } do %>
              <div class="Box-body overflow-auto">
                <p class="m-0">
                  Are you sure that you want to remove billing manager <%= billing_manager.login %>
                  from <%= this_business.name %>?
                </p>
                <p>
                  <%= form_tag \
                    stafftools_enterprise_billing_manager_path(this_business, billing_manager),
                    method: :delete do %>
                    <%= render Primer::ButtonComponent.new(
                      type: :submit,
                      block: true,
                      scheme: :danger
                    ) do %>Remove billing manager <%= billing_manager.login %><% end %>
                  <% end %>
                </p>
              </div>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="paginate-container">
    <%= will_paginate billing_managers %>
  </div>
<% else %>
  <%= render Primer::Beta::Blankslate.new(mb: 3) do |c| %>
    <% c.with_heading(tag: :h2) do %>
      No billing managers
      <% if params[:query].present? %>
        matching <em><%= params[:query] %></em>
      <% end %>
      for this enterprise.
    <% end %>
  <% end %>
<% end %>
