<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<h1 class='sr-only'>Security: <%= current_repository.name_with_display_owner %></h1>
<div class="<%= class_names(
  "clearfix container-xl",
  "d-flex flex-column flex-auto" => full_height?,
  "px-3 px-md-4 px-lg-5" => !full_height? && !skip_responsive_padding?,
  "p-0" => !(!full_height? && !skip_responsive_padding?),
  "mt-4" => !full_height?
) %>">
  <% main = capture do %>
    <% if flash[:plan_upgrade] %>
      <div class="mb-2">
        <%= render "plans/plan_support", repository: current_repository, feature: :insights, feature_name: "all insights" %>
      </div>
    <% end %>

    <%= yield %>
  <% end %>

  <% if local_assigns[:hide_sidebar] == true %>
    <%= main %>
  <% else %>
    <%= render Primer::Alpha::Layout.new do |c| %>
      <% c.with_sidebar(width: :narrow) do %>
        <%= render "navigation/repository/security", selected_tab: selected_tab %>
      <% end %>

      <% c.with_main do %>
        <%= main %>
      <% end %>
    <% end %>
  <% end %>
</div>
<% end %>
