<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% raise ArgumentError, "missing keyword: repository" if !local_assigns[:repository] %>

<div class="color-bg-subtle pt-3 px-3 px-md-4 px-lg-5">
  <%= render Primer::Beta::Flash.new(scheme: :warning) do %>
    <p>This repository is a temporary private fork for the <%= link_to repository.parent_advisory.ghsa_id, gh_repository_advisory_path(repository.parent_advisory), class: "Link--inTextBlock" %> security advisory.</p>
  <% end %>
</div>

<div class="position-relative color-bg-subtle mb-5 pt-3">
  <div class="d-flex px-3 px-md-4 px-lg-5 pb-3">
    <div class="flex-auto min-width-0 width-fit mr-3">
      <%= render partial: "repositories/title", locals: { repository: repository } %>
    </div>
  </div>

  <% unless header_redesign_enabled? %>
    <%= render partial: "navigation/security_workspace", locals: { repository: repository, classes: "px-3 px-md-4 px-lg-5" } %>
  <% end %>

  <% if content_for?(:custom_navigation) %>
    <%= content_for(:custom_navigation) %>
  <% end %>
</div>

<div class="container-xl <% if full_height? %>d-flex flex-column flex-auto p-0<% end %> <% if responsive? && !full_height? && !skip_responsive_padding? %>p-responsive<% end %>">
  <div class="repository-content <% if full_height? %>d-flex flex-auto<% end %>" <%= test_selector("repository-content") %>>
    <%= yield %>
  </div>
</div>
