<%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
<div class="<%= class_names(
  "clearfix new-discussion-timeline container-xl",
  "d-flex flex-column flex-auto" => full_height?,
  "px-3 px-md-4 px-lg-5" => !full_height? && !skip_responsive_padding?,
  "p-0" => !(!full_height? && !skip_responsive_padding?)
) %>">

  <%= render Primer::Experimental::SplitPageLayout.new do |c| %>
    <% c.with_header_region(pr: [3, 3, 3, 4, 4], border_bottom: 0, divider_when_narrow: :none) do %>
      <%= yield :workflow_run_header %>
      <% if content_for?(:workflow_run_review_banner) %>
        <div class="d-block d-md-none mt-1 mb-2">
          <%= yield :workflow_run_review_banner %>
        </div>
      <% end %>
    <% end %>
    <% c.with_pane_region(border_right: 0) do %>
      <%= yield :workflow_run_sidebar %>
    <% end %>
    <% c.with_content_region(style: "max-width: 100vw;") do %>
      <%= yield :workflow_run_content %>
    <% end %>
  <% end %>
  <%= yield :workflow_run_dialogs %>
</div>
<% end %>

<%# Smoother scroll when jumping to anchors %>
<style>html { scroll-behavior: smooth }</style>
