<%= render layout: 'layouts/repository_layout' do %>
  <%= render layout: "layouts/repository_container", locals: { repository: current_repository } do %>
    <h1 class='sr-only'>Insights: <%= current_repository.name_with_display_owner %></h1>
    <div class="<%= class_names(
      "clearfix container-xl",
      "d-flex flex-column flex-auto" => full_height?,
      "px-3 px-md-4 px-lg-5" => !full_height? && !skip_responsive_padding?,
      "p-0" => !(!full_height? && !skip_responsive_padding?),
      "mt-4" => !full_height?
    ) %>">
      <%= render(Primer::Alpha::Layout.new) do |component| %>
        <% component.with_sidebar do %>
          <%= render "navigation/repository/graphs" %>
        <% end %>

        <% component.with_main do %>
          <% if flash[:plan_upgrade] %>
            <div class="mb-2">
              <%= render "plans/plan_support", repository: current_repository, feature: :insights, feature_name: "all insights" %>
            </div>
          <% end %>
          <%= yield %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
