<% page_info :title => "Verify two-factor authentication" %>

<div class="text-center mx-auto m-2" style="width: 630px">
  <div class="d-flex mb-4 flex-items-center">
    <h2 class="f2 text-normal flex-auto">Verify your two-factor authentication (2FA) settings</h2>
  </div>

  <div class="auth-form-body mb-4" style="padding: 30px">

    <div class="d-flex flex-column flex-auto mb-4">
      <div class="d-flex flex-justify-center mb-2">
        <%= avatar_for(current_user, 50, img_class: "avatar") %>
      </div>
      <div class="text-center">
        <h3 class="color-fg-default lh-condensed"><%= current_user.safe_profile_name %></h3>
        <h4 class="color-fg-muted lh-condensed text-normal"><%= current_user.display_login %></h4>
      </div>
    </div>

    <%= render Primer::Beta::Flash.new(scheme: :default, full: true, mb: 4) do %>
      <%= primer_octicon(:info, float: :left, vertical_align: :top, mt: 1, mb: 4) %>
      <div class="text-left text-bold">
        This is a one-time verification of your recent configured 2FA credentials.
        <% if !delayable %>
          You can no longer delay 2FA verification, please verify to continue.
        <% end %>
      </div>
    <% end %>

    <p class="mb-4 text-left">
      Make sure that 2FA is correctly configured, and avoid a potential account lockout disaster.
      If you're having trouble verifying, you'll be able to reconfigure 2FA for your account.
    </p>

    <div class="d-flex flex-justify-center">
      <%= form_tag settings_two_factor_checkup_path, method: :get do %>
        <%= render(Primer::Beta::Button.new(type: :submit, scheme: :primary, style: "width: 200px; height: 40px")) { "Verify 2FA now" } %>
      <% end %>
    </div>
  </div>

  <% if delayable %>
    <div class="text-left mb-3">
      <p class="f4 text-normal">
          <%= form_tag delay_settings_two_factor_checkup_path, method: :put, class: "inline-form" do %>
            You can choose to
            <%= render(Primer::Beta::Button.new(type: :submit, scheme: :link)) { "skip 2FA verification" } %>
            at this moment, we'll remind you again tomorrow.
        <% end %>
      </p>
    </div>
  <% end %>
</div>
