<%
  # 'type' _should_ always be defined, but if it's not, we'll default to :app
  # :app is the best fallback option to display here so that the user can view/click alternative options
  type = defined?(type) && type == :sms ? :sms : :app
%>

<% page_info title: "Verify your two-factor configuration", class: "page-two-factor-auth session-authentication" %>

<div id="login" class="auth-form px-3">
  <div class="auth-form-header p-0">
    <h1>Verify your two-factor authentication (2FA) settings</h1>
  </div>

  <%= form_tag settings_two_factor_checkup_path, method: :put do %>
    <% if type == :app %>
      <%= render(partial: "sessions/totp/app_prompt", locals: {
        user: user,
        form_type: "checkup_app"
      }) %>
    <% elsif type == :sms %>
      <%= render(partial: "sessions/totp/sms_prompt", locals: {
        user: user,
        form_type: "checkup_sms"
      }) %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
    <%= component.with_body(p: 3) do %>
      <h2 id="problems-options" class="h5 mb-2">Having problems?</h2>
      <% if [:app, :sms].include?(type) %>
        <%= render(Sessions::TwoFactorAlternativesComponent.new(user: user, prompt_type: "checkup_#{type}", list_label_id: "problems-options")) %>
      <% end %>
    <% end %>
  <% end %>
</div>
