<%# erblint:counter DeprecatedInPrimerCounter 2 %>
<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% view = Stafftools::User::AvatarsView.new(:user => this_user, :filtered_avatar_id => @avatar_id) %>

<% page_info :title => view.page_title %>

<div class="boxed-group">
  <h3>Avatars</h3>
  <div class="boxed-group-inner">
    <p>
      <strong>Avatar URL:</strong>
      <a href="<%= view.user.primary_avatar_url(140) %>"><%= view.user.primary_avatar_url(140) %></a>
    </p>

    <ul class="boxed-group-list standalone">
      <% avatar = view.primary_avatar %>
      <% if avatar && !view.filtered_avatar?(avatar) %>
        <li class="stafftools-auditlog">
          <%= image_tag avatar.url({:s => 140}, current_user), :width => 70, :height => 70, :alt => "" %>
          <span class="boxed-action">
              <%= stafftools_button_to "Revert to Gravatar", revert_to_gravatar_stafftools_user_avatars_path(this_user),
                    :class => "btn",
                    :form_class => "inline-form" %>

              <%= stafftools_button_to "Purge cache", purge_stafftools_user_avatars_path(this_user),
                    :class => "btn",
                    :form_class => "inline-form" %>

            <a href="<%= view.storage_blob_url(avatar) %>"
                  class="btn tooltipped tooltipped-s"
                  aria-label="View this object’s metadata">Metadata</a><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          </span>
        </li>
      <% elsif !avatar %>
        <li class="stafftools-auditlog">
          <%= image_tag this_user.primary_avatar_url(140), :width => 70, :height => 70, :alt => "" %>
          Gravatar
          <span class="boxed-action">
              <%= stafftools_button_to "Purge cache", purge_stafftools_user_avatars_path(this_user),
                    :class => "btn",
                    :form_class => "inline-form" %>
          </span>
        </li>
      <% end %>

      <% view.avatars.each do |avatar| %>
        <li class="stafftools-auditlog">
          <%= image_tag avatar.url({:s => 140}, current_user), :width => 70, :height => 70, :alt => "" %>
          <%= "Previous avatar" if view.previous_avatar == avatar %>
          <span class="boxed-action">
            <%= stafftools_button_to "Promote", promote_stafftools_user_avatar_path(this_user, avatar),
                  :method => :put,
                  :class => "btn tooltipped tooltipped-s",
                  :form_class => "inline-form",
                  "aria-label" => "Use this as the owner’s primary avatar" %>

            <a href="<%= avatar.oid.present? ? view.storage_blob_url(avatar) : "#" %>"
              class="btn tooltipped tooltipped-s"
              aria-label="View this object’s metadata">Metadata</a><%# erblint:disable Primer::Accessibility::TooltippedMigration %>

          <% if !GitHub.storage_cluster_enabled? %>
            <%= stafftools_button_to "Delete", stafftools_user_avatar_path(this_user, avatar),
                  :method => :delete,
                  :class => "btn btn-danger",
                  :form_class => "inline-form" %>
          <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
