<% display = tab == "converted" ? "inline_block".to_sym : "none".to_sym %>
<%= render Primer::Beta::Details.new(overlay: :default, reset: true, mb: 2, mr: 2, display: display) do |component| %>
  <% component.with_summary do %>
    <i>Conversion:</i>
    <% if filter.key?(:converted) %>
      <%= filter[:converted] == "desc" ? "Latest" : "Oldest" %>
    <% else %>
      None
    <% end %>
    <span class="dropdown-caret"></span>
  <% end %>

  <% component.with_body do %>
    <div class="SelectMenu SelectMenu--hasFilter position-relative">
      <details-menu role="menu" class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
          <header class="SelectMenu-header">
            <span class="SelectMenu-title">Filter by conversion date</span>
          </header>
          <div class="select-menu-list">
            <% all_params = {  query: query, tab: tab, filter: filter.except(:converted) } %>
            <a href="?<%= all_params.to_query %>" aria-checked="<%= filter[:converted].blank? %>" class="select-menu-item <% if filter[:converted].blank? %>selected<% end %>"  role="menuitemcheckbox">
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text">None</span>
            </a>

            <% {"asc": "Oldest", "desc": "Latest"}.map do |converted_key, converted_value| %>
              <% converted_params = { query: query, tab: tab, filter: filter.merge(converted: converted_key) } %>
              <a href="?<%= converted_params.to_query %>" aria-checked="<%= filter[:converted] == converted_key.to_s %>" class="select-menu-item <% if filter[:converted] == converted_key.to_s %>selected<% end %>" role="menuitemcheckbox">
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                <span class="select-menu-item-text"><%= converted_value.titleize %></span>
              </a>
            <% end %>
          </div>
        </div>
      </details-menu>
    </div>
  <% end %>
<% end %>
