<%= render Primer::Beta::Details.new(overlay: :default, reset: true, display: :inline_block, mb: 2, mr: 2) do |component| %>
  <% component.with_summary do %>
    <i>Creation:</i>
    <% if filter.key?(:created) %>
      <%= filter[:created] == "desc" ? "Latest" : "Oldest" %>
    <% else %>
      None
    <% end %>
    <span class="dropdown-caret"></span>
  <% end %>

  <% component.with_body do %>
    <div class="SelectMenu SelectMenu--hasFilter position-relative">
      <details-menu role="menu" class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
          <header class="SelectMenu-header">
            <span class="SelectMenu-title">Filter by creation date</span>
          </header>

          <div class="select-menu-list">
            <% all_params = {  query: query, tab: tab, filter: filter.except(:created) } %>
              <a href="?<%= all_params.to_query %>" aria-checked="<%= filter[:created].blank? %>" class="select-menu-item <% if filter[:created].blank? %>selected<% end %>"  role="menuitemcheckbox">
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text">None</span>
            </a>

            <% {"asc": "Oldest", "desc": "Latest"}.map do |created_key, created_value| %>
              <% created_params = { query: query, tab: tab, filter: filter.merge(created: created_key) } %>
              <a href="?<%= created_params.to_query %>" aria-checked="<%= filter[:created] == created_key.to_s %>" class="select-menu-item <% if filter[:created] == created_key.to_s %>selected<% end %>" role="menuitemcheckbox">
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                <span class="select-menu-item-text"><%= created_value.titleize %></span>
              </a>
            <% end %>
          </div>
        </div>
      </details-menu>
    </div>
  <% end %>
<% end %>
