<%= render Primer::Beta::Details.new(overlay: :default, reset: true, display: :inline_block, mb: 2, mr: 2) do |component| %>
  <% component.with_summary do %>
    <i>Enterprise Type:</i>
    <% if filter.key?(:enterprise_type) %>
      <%= filter[:enterprise_type] == "enterprise_managed" ? "EMU" : "Default" %>
    <% else %>
      All
    <% end %>
    <span class="dropdown-caret"></span>
  <% end %>

  <% component.with_body do %>
    <div class="SelectMenu SelectMenu--hasFilter position-relative">
      <details-menu role="menu" class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
          <header class="SelectMenu-header">
            <span class="SelectMenu-title">Filter by enterprise type</span>
          </header>

          <div class="select-menu-list">
            <% all_params = { query: query, tab: tab, filter: filter.except(:enterprise_type) } %>
            <a href="?<%= all_params.to_query %>" aria-checked="<%= filter[:enterprise_type].blank? %>" class="select-menu-item <% if filter[:enterprise_type].blank? %>selected<% end %>"  role="menuitemcheckbox">
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text">All</span>
            </a>

            <% {"enterprise_managed": "enterprise_managed", "default_managed": "default_managed"}.map do |enterprise_type_key, enterprise_type_value| %>
              <% enterprise_type_params = { query: query, tab: tab, filter: filter.merge(enterprise_type: enterprise_type_key) } %>
              <a href="?<%= enterprise_type_params.to_query %>" aria-checked="<%= filter[:enterprise_type] == enterprise_type_value %>" class="select-menu-item <% if filter[:enterprise_type] == enterprise_type_value %>selected<% end %>" role="menuitemcheckbox">
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                <span class="select-menu-item-text"><%= enterprise_type_value.titleize %></span>
              </a>
            <% end %>
          </div>
        </div>
      </details-menu>
    </div>
  <% end %>
<% end %>
