<%= render Primer::Beta::Details.new(overlay: :default, reset: true, display: :inline_block, mb: 2, mr: 2) do |component| %>
  <% component.with_summary do %>
    <i>Organization Upgraded:</i>
    <% if filter.key?(:organization_upgraded) %>
      <%= filter[:organization_upgraded] == "upgraded" ? "Upgraded" : "Not Upgraded" %>
    <% else %>
      All
    <% end %>
    <span class="dropdown-caret"></span>
  <% end %>

  <% component.with_body do %>
    <div class="SelectMenu SelectMenu--hasFilter position-relative">
      <details-menu role="menu" class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
          <header class="SelectMenu-header">
            <span class="SelectMenu-title">Filter by organization-upgraded trials</span>
          </header>

          <div class="select-menu-list">
            <% all_params = { query: query, tab: tab, filter: filter.except(:organization_upgraded) } %>
            <a href="?<%= all_params.to_query %>" aria-checked="<%= filter[:organization_upgraded].blank? %>" class="select-menu-item <% if filter[:organization_upgraded].blank? %>selected<% end %>"  role="menuitemcheckbox">
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text">All</span>
            </a>

            <% {"upgraded": "upgraded", "not upgraded": "not upgraded"}.map do |organization_upgraded_key, organization_upgraded_value| %>
              <% upgraded_organization_params = { query: query, tab: tab, filter: filter.merge(organization_upgraded: organization_upgraded_key) } %>
              <a href="?<%= upgraded_organization_params.to_query %>" aria-checked="<%= filter[:organization_upgraded] == organization_upgraded_value %>" class="select-menu-item <% if filter[:organization_upgraded] == organization_upgraded_value %>selected<% end %>" role="menuitemcheckbox">
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                <span class="select-menu-item-text"><%= organization_upgraded_value.titleize %></span>
              </a>
            <% end %>
          </div>
        </div>
      </details-menu>
    </div>
  <% end %>
<% end %>
