<%= render Primer::Beta::Details.new(overlay: :default, reset: true, display: :inline_block, mb: 2, mr: 2) do |component| %>
  <% component.with_summary do %>
    <i>Owned by:</i>
    <% if filter.key?(:owned_by) %>
      <%= filter[:owned_by] == "staff" ? "Staff" : "Non-staff" %>
    <% else %>
      All
    <% end %>
    <span class="dropdown-caret"></span>
  <% end %>

  <% component.with_body do %>
    <div class="SelectMenu SelectMenu--hasFilter position-relative">
      <details-menu role="menu" class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
          <header class="SelectMenu-header">
            <span class="SelectMenu-title">Filter by owner</span>
          </header>

          <div class="select-menu-list">
            <% all_params = { query: query, tab: tab, filter: filter.except(:owned_by) } %>
            <a href="?<%= all_params.to_query %>" aria-checked="<%= filter[:owned_by].blank? %>" class="select-menu-item <% if filter[:owned_by].blank? %>selected<% end %>"  role="menuitemcheckbox">
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text">All</span>
            </a>

            <% {"staff": "staff", "non-staff": "non-staff"}.map do |owner_key, owner_value| %>
              <% owner_params = { query: query, tab: tab, filter: filter.merge(owned_by: owner_key) } %>
              <a href="?<%= owner_params.to_query %>" aria-checked="<%= filter[:owned_by] == owner_value %>" class="select-menu-item <% if filter[:owned_by] == owner_value %>selected<% end %>" role="menuitemcheckbox">
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                <span class="select-menu-item-text"><%= owner_value.titleize %></span>
              </a>
            <% end %>
          </div>
        </div>
      </details-menu>
    </div>
  <% end %>
<% end %>
