<%= render Primer::Beta::Details.new(overlay: :default, reset: true, display: :inline_block, mb: 2, mr: 2) do |component| %>
  <% component.with_summary do %>
    <i>Seat Type:</i>
    <% if filter.key?(:seat_type) %>
      <%= filter[:seat_type] == "metered" ? "Metered" : "Volume" %>
    <% else %>
      All
    <% end %>
    <span class="dropdown-caret"></span>
  <% end %>

  <% component.with_body do %>
    <div class="SelectMenu SelectMenu--hasFilter position-relative">
      <details-menu role="menu" class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
          <header class="SelectMenu-header">
            <span class="SelectMenu-title">Filter by seat type</span>
          </header>

          <div class="select-menu-list">
            <% all_params = { query: query, tab: tab, filter: filter.except(:seat_type) } %>
            <a href="?<%= all_params.to_query %>" aria-checked="<%= filter[:seat_type].blank? %>" class="select-menu-item <% if filter[:seat_type].blank? %>selected<% end %>"  role="menuitemcheckbox">
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text">All</span>
            </a>

            <% {"metered": "metered", "volume": "volume"}.map do |seat_type_key, seat_type_value| %>
              <% seat_type_params = { query: query, tab: tab, filter: filter.merge(seat_type: seat_type_key) } %>
              <a href="?<%= seat_type_params.to_query %>" aria-checked="<%= filter[:seat_type] == seat_type_value %>" class="select-menu-item <% if filter[:seat_type] == seat_type_value %>selected<% end %>" role="menuitemcheckbox">
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                <span class="select-menu-item-text"><%= seat_type_value.titleize %></span>
              </a>
            <% end %>
          </div>
        </div>
      </details-menu>
    </div>
  <% end %>
<% end %>
