<%= render Primer::Beta::Details.new(overlay: :default, reset: true, display: :inline_block, mb: 2, mr: 2) do |component| %>
  <% component.with_summary do %>
    <i>Upgrade state:</i>
    <% if filter.key?(:upgrade_state) %>
      <%= filter[:upgrade_state].titleize %>
    <% else %>
      All
    <% end %>
    <span class="dropdown-caret"></span>
  <% end %>

  <% component.with_body do %>
    <div class="SelectMenu SelectMenu--hasFilter position-relative">
      <details-menu role="menu" class="SelectMenu right-0"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal">
          <header class="SelectMenu-header">
            <span class="SelectMenu-title">Filter by upgrade state</span>
          </header>

          <div class="select-menu-list">
            <% all_params = { query: query, filter: filter.except(:upgrade_state) } %>
            <a href="?<%= all_params.to_query %>" aria-checked="<%= filter[:upgrade_state].blank? %>" class="select-menu-item <% if filter[:upgrade_state].blank? %>selected<% end %>"  role="menuitemcheckbox">
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text">All</span>
            </a>

            <% {"completed": "organization upgrade completed", "initiated": "organization upgrade initiated", "in-progress": "organization upgrade purchase in progress", "direct-upgraded": "direct upgraded", "initiated-from-coupon": "creation initiated from coupon", "coupon-purchase-initiated": "coupon purchase initiated", "created-from-coupon": "created from coupon" }.map do |status_key, status_value| %>
              <% owner_params = { query: query, filter: filter.merge(upgrade_state: status_key) } %>
              <a href="?<%= owner_params.to_query %>" aria-checked="<%= filter[:upgrade_state] == status_value %>" class="select-menu-item <% if filter[:upgrade_state] == status_value %>selected<% end %>" role="menuitemcheckbox">
                <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
                <span class="select-menu-item-text"><%= status_value.titleize %></span>
              </a>
            <% end %>
          </div>
        </div>
      </details-menu>
    </div>
  <% end %>
<% end %>
