<h3 class="my-3 text-bold h5">Active jobs</h3>

<% if @jobs.empty? %>
  <div class="Box mt-2 text-center py-4">
    <h4 class="h2">There are currently no running jobs</h4>
  </div>
<% else %>
  <%= render(Primer::Beta::BorderBox.new(mt: 3)) do |component| %>
    <% @jobs.each do |job| %>
      <% component.with_row(p: 2) do %>
        <% check_run = job[:check_run] %>
        <% os_icon = get_os_icon_symbol(job)%>

        <div class="Box-row">
          <div class="d-flex">
            <div class="col-12 d-flex flex-column flex-md-row flex-md-justify-between mr-3 pl-4 position-relative">

              <div class="position-absolute left-0 checks-list-item-icon text-center">
                <%= render Actions::WorkflowRuns::StatusComponent.new(
                  conclusion: check_run.conclusion,
                  status: check_run.status,
                  is_job: true,
                  size: 16,
                  style: "margin-top: 2px",
                ) %>
              </div>

              <div>
                <div class="h4 d-flex text-bold lh-condensed mb-1 width-full">
                  <% unless os_icon.nil? || os_icon.empty? %>
                    <% if os_icon == :linux %>
                      <%= svg("modules/actions/actions-os-icon-linux.svg") %>
                    <% elsif os_icon == :macos %>
                      <%= svg("modules/actions/actions-os-icon-macos.svg") %>
                    <% elsif os_icon == :windows %>
                      <%= svg("modules/actions/actions-os-icon-windows.svg") %>
                    <% else %>
                      <%= render(Primer::Beta::Octicon.new(icon: :unverified)) %>
                    <% end %>
                  <% end %>

                  <h4>
                    <%= render Primer::Beta::Link.new(
                      muted: false,
                      scheme: :primary,
                      href: actions_workflow_execution_stafftools_repository_path(check_run.repository.owner, check_run.repository, check_suite_id: check_run.check_suite_id),
                      mr: 2,
                    ).with_content("#{check_run.check_suite.name } / #{check_run.display_name}") %>
                  </h4>

                  <% unless check_run.workflow_job_run.nil? || check_run.workflow_job_run.label_data.nil? || check_run.workflow_job_run.label_data.empty? %>
                    <% check_run.workflow_job_run.label_data.each do |label| %>
                      <%= render Primer::Beta::Label.new(
                          mr: 1,
                          scheme: :secondary,
                          title: "Label: #{label}",
                        ).with_content(label)
                      %>
                    <% end %>
                  <% end %>
                </div>
                <div class="text-small color-fg-muted">
                  <%= check_run.repository.name_with_display_owner %>
                </div>
              </div>

              <div class="text-small mt-1 d-flex flex-md-column mt-md-0 col-md-2">
                <span class="mr-2 mb-md-1 mr-md-0">
                  <%= render Actions::Runners::RunStartTimeComponent.new(started_at: check_run.started_at) %>
                </span>
                <%= render Actions::Runners::RunTimeToCompleteComponent.new(time_to_complete: check_run.duration, status: (check_run.conclusion || check_run.status) ) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="paginate-container">
    <div class="pagination">
      <%= will_paginate(@jobs) %>
    </div>
  </div>
<%end%>
