<% if @runners.none? && !hosted_runner_group.present? %>
  <div class="Box">
    <%= render Primer::Beta::Blankslate.new do |c| %>
    <% c.with_heading(tag: :h2) do %>
        There are no runners configured
    <% end %>
  <% end %>
  </div>
<% else %>
  <div class="Box Box--condensed mt-1" id="runner-list">
    <div class="Box-header d-flex text-small color-fg-muted">
      <span class="flex-1">Runners</span>
      <span class="col-1">Status</span>
      <span class="col-1"></span>
    </div>
    <ul>
      <% if hosted_runner_group.present? %>
        <li class="Box-row d-flex flex-items-center">
          <span class="flex-1 d-flex">
            <div class="pr-2">
              <%= render Primer::Beta::Octicon.new(icon: "mark-github") %>
            </div>
            <div>
              <div class="h4 color-fg-default" id="github-hosted-runners">
                <%= render(Primer::Beta::Link.new(href: stafftools_actions_hosted_runners_path(@business), scheme: :primary, mr: 2)) { "Standard GitHub-hosted runners" } %>
              </div>
            </div>
          </span>
          <span class="col-1 d-flex no-wrap flex-items-center">
              <%= render Primer::Beta::Octicon.new(icon: "dot-fill", color: :success) %>
            <span class="mr-4 color-fg-default f5"><%= "#{hosted_job_count} active #{'job'.pluralize(hosted_job_count)}" %></span>
          </span>
          <span class="col-1"></span>
        </li>
      <% end %>
      <% @runners.each_with_index do |runner, index| %>
        <li class="Box-row d-flex flex-items-center" <%= test_selector("runner-list-item") %>>
          <span class="flex-1 d-flex <% if !runner.group_name.present? %>my-1<% end %>">
            <div class="pr-2">
              <%= primer_octicon(runner_icon(runner)) %>
            </div>
            <div>
              <div
                class="h4 color-fg-default"
                id="runner-<%= runner.id %>">
                <div class="d-flex flex-wrap">
                  <div class="mr-2 css-truncate css-truncate-target" style="max-width: 500px" <%= test_selector("runner-name") %>>
                    <%= runner.name %>
                  </div>
                  <% runner.labels.each do |label| %>
                    <%= render Primer::Beta::Label.new(mb: 1, mr: 1, scheme: :secondary, classes: "css-truncate css-truncate-target", style: "max-width:250px", test_selector: "runner-list-label", title: "Label: #{ label.name }") do %>
                      <%= label.name %>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="d-flex">
                <% if runner.group_name.present? %>
                  <div class="pr-2 color-fg-muted text-small">
                    Runner group: <%= runner.group_name %>
                  </div>
                <% end %>

                <% if runner.is_a?(Actions::LargerRunner) %>
                  <div class="color-fg-muted text-small">
                      Public IP:
                      <%= render(Primer::Beta::Link.new(href: "?qr=#{filter_value(:public_ip, public_ip_state(runner))}",  scheme: :primary, classes: "Link--inTextBlock")) { public_ip_state(runner).capitalize } %>
                  </div>
                <% end %>
              </div>

              <% if runner_group = runner.try(:group) %>
                <% workflows = runner_group.selected_workflow_refs %>
                <% workflows_count = workflows&.count || 0 %>
                <% if runner_group.restricted_to_workflows && workflows_count > 0 %>
                  <div class="d-flex mt-1" <%= test_selector("runner-group-workflow-restrictions")%>>
                    <div class="color-fg-muted text-small">
                      Usage restricted to
                    </div>
                    <%= render(GitHub::DialogComponent.new(title: "Workflow access", variant: :wide, details_classes: "ml-1", header_classes: 'p-3', body_classes: 'p-3')) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
                      <% dialog.with_summary do %>
                        <summary role="button" class="Link--muted text-bold text-small" aria-haspopup="dialog">
                          <%= workflows_count %> workflow <%= "file".pluralize(workflows_count) %>
                        </summary>
                      <% end %>
                      <% dialog.with_body do %>
                        <div class="mb-3 text-normal">
                          Runner <span class="text-bold"><%= runner.name %></span> is allowed to use the following workflow files:
                        </div>
                        <pre class="rounded text-small color-bg-subtle color-fg-muted border color-border-default p-3 overflow-x-scroll"><%= workflows.join(",\n") -%></pre>
                        <div class="text-small lh-condensed-ultra color-fg-muted mt-3 mb-1">
                        Learn more about
                        <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/actions/hosting-your-own-runners/managing-access-to-self-hosted-runners-using-groups", classes: "Link--inTextBlock")) { "restricted workflows" } %>
                      </div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </span>
          <span class="col-2 d-flex flex-justify-between flex-items-center">
            <div class="d-none d-md-block">
              <%= render Primer::Beta::Octicon.new(icon: "dot-fill", color: runner_status_color(runner)) %>
              <span class="ml-1 color-fg-default f5">
                <% if runner.status&.match("^Shutdown")%>
                  Shutdown
                <% else %>
                  <%= runner.status.capitalize %>
                <% end %>
              </span>
            </div>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
