<%# erblint:counter GoogleAnalyticsDeprecation 7 %>

<% if topic.present? %>
  <% instrument_explore_page_view(
    user: current_user,
    visitor: current_visitor,
    view_context: :TOPIC_RECOMMENDATION_CARD,
    record_id: topic.id,
  ) %>

  <article class="border rounded color-shadow-small color-bg-subtle my-4">
    <% if topic.logo_url.present? %>
      <%= render(Primer::Beta::Link.new(
        border: :bottom,
        classes: "overflow-hidden rounded-top-2",
        data: explore_click_tracking_attributes(
          actor: current_user,
          click_context: :TOPIC_RECOMMENDATION_CARD,
          click_target: :TOPIC,
          click_visual_representation: :TOPIC_LOGO,
          record_id: topic.id,
          ga_click_text: "Explore, go to topic, location:explore feed; text:#{topic.safe_display_name}",
        ),
        display: :block,
        href: topic_show_path(topic.name),
        position: :relative,
      )) do %>
        <div
          class="position-absolute top-0 right-0 bottom-0 left-0"
          style="background-image: url(<%= topic.logo_url %>); filter: blur(55px); -webkit-filter: blur(55px);"
        ></div>
        <img
          loading="lazy"
          src="<%= topic.logo_url %>"
          alt="<%= topic.safe_display_name %> logo"
          class="d-block position-relative width-fit col-2 mx-auto my-4"
        >
      <% end %>
    <% end %>

    <h2 class="f6 color-fg-muted px-3 mt-3" <%= test_selector("topic-label") %>>
      <span>
        <%= primer_octicon(:telescope, mr: 1, color: :default) %>
      </span>
      <%= label %>
    </h2>

    <div class="d-flex p-3">
      <div class="col-sm-10 d-flex mr-3">
        <div
          class="color-bg-accent f5 color-fg-muted text-bold border color-border-muted rounded flex-shrink-0 text-center mr-3"
          style="width:24px; height:24px; line-height:24px;"
        >
          #
        </div>
        <h3 class="h3 text-normal lh-condensed">
          <%= render(Primer::Beta::Link.new(
            data: explore_click_tracking_attributes(
              actor: current_user,
              click_context: :TOPIC_RECOMMENDATION_CARD,
              click_target: :TOPIC,
              click_visual_representation: :TOPIC_TITLE,
              record_id: topic.id,
              ga_click_text: "Explore, go to topic, location:explore feed; "\
                "text:#{topic.safe_display_name}",
            ),
            href: topic_show_path(topic.name),
          )) do %>
            <%= topic.safe_display_name %>
          <% end %>
        </h3>
      </div>
      <div class="d-flex flex-auto flex-justify-end">
        <% if logged_in? %>
          <div class="js-toggler-container starring-container <%= "on" if topic.starred_by?(current_user) %> d-flex flex-wrap">
            <%= button_to(
              unstar_topic_path(topic.name),
              class: "btn btn-sm js-toggler-target starred js-remote-submit-button",
              "aria-label": "Unstar #{topic.safe_display_name}",
              data: explore_click_tracking_attributes(
                actor: current_user,
                click_context: :TOPIC_RECOMMENDATION_CARD,
                click_target: :UNSTAR,
                click_visual_representation: :STAR_BUTTON,
                record_id: topic.id,
                ga_click_text: "Explore, unstar topic, location:explore feed",
              ),
              method: :delete,
            ) do %>
              <%= primer_octicon(:"star-fill", mr: 1) %>Unstar
            <% end %>

            <%= button_to(
              star_topic_path(topic.name),
              class: "btn btn-sm color-bg-default js-toggler-target unstarred js-remote-submit-button",
              "aria-label": "Star #{topic.safe_display_name}",
              data: explore_click_tracking_attributes(
                actor: current_user,
                click_context: :TOPIC_RECOMMENDATION_CARD,
                click_target: :STAR,
                click_visual_representation: :STAR_BUTTON,
                record_id: topic.id,
                ga_click_text: "Explore, star topic, location:explore feed",
              ),
              method: :post,
            ) do %>
              <%= primer_octicon(:star, mr: 1) %>Star
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="border-top color-bg-default p-3 rounded-bottom-2">
      <% if topic.short_description.present? %>
        <div class="markdown-body f5 color-fg-muted">
          <%= topic.short_description %>
        </div>
      <% else %>
        <h3 class="h5 border-bottom pb-3 mb-3">
          There are <%= number_with_delimiter(topic.repositories.size) %> public repositories matching this topic
        </h3>
        <div class="position-relative overflow-hidden" style="min-height:90px;max-height:200px">
          <% topic.repositories_sorted_by_stars(limit: 2).each do |topic_repository| %>
            <% if topic_repository.owner.present? %>
              <article class="border-bottom pb-3 mb-3">
                <div class="d-flex flex-auto">
                  <%= render Primer::Beta::Octicon.new(icon: "repo", color: :muted, mr: 2, mt: 2) %>

                  <h4 class="f3 color-fg-muted text-normal lh-condensed">
                    <%= render(Primer::Beta::Link.new(
                      data: explore_click_tracking_attributes(
                        actor: current_user,
                        click_context: :TOPIC_RECOMMENDATION_CARD,
                        click_target: :OWNER,
                        click_visual_representation: :REPOSITORY_OWNER_HEADING,
                        record_id: topic_repository.owner&.id,
                        ga_click_text: "Explore, go to repository owner, location:explore feed",
                      ),
                      href: user_path(topic_repository.owner),
                    )) do %>
                      <%= topic_repository.owner.display_login %>
                    <% end %>
                    /
                    <%= render(Primer::Beta::Link.new(
                      data: explore_click_tracking_attributes(
                        actor: current_user,
                        click_context: :TOPIC_RECOMMENDATION_CARD,
                        click_target: :REPOSITORY,
                        click_visual_representation: :REPOSITORY_NAME_HEADING,
                        record_id: topic_repository.id,
                        ga_click_text: "Explore, go to repository, location:explore feed",
                      ),
                      font_weight: :bold,
                      href: repository_path(topic_repository),
                    )) do %>
                      <%= topic_repository.name %>
                    <% end %>
                  </h4>
                </div>
                <p class="color-fg-muted mt-2 mb-0"><%= topic_repository.description %></p>
              </article>
            <% end %>
          <% end %>
          <div
            class="position-absolute right-0 left-0 bottom-0 text-center mb-n3"
            style="background: linear-gradient(to top, var(--color-canvas-default), var(--color-canvas-default-transparent));"
          >
            <%= render(Primer::Beta::Link.new(
              classes: "btn btn-sm",
              my: 3,
              data: explore_click_tracking_attributes(
                actor: current_user,
                click_context: :TOPIC_RECOMMENDATION_CARD,
                click_target: :TOPIC,
                click_visual_representation: :SEE_MORE_MATCHING_REPOSITORIES,
                record_id: topic.id,
                ga_click_text: "Explore, go to topic, location:explore feed; text:See more",
              ),
              font_weight: :bold,
              href: topic_show_path(topic.name),
            )) do %>
              See more matching repositories
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </article>
<% end %>
