<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Memex Without Limits beta signups", selected_link: :memex_without_limits_beta_signup %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="site-admin-subhead ruleless">
    <h2 class="site-admin-subhead-heading">Memex Without Limits beta signups</h2>
  </div>

  <%= render(Primer::Box.new(display: :flex, mb: 1)) do |component| %>
    <%= form_tag stafftools_create_memex_without_limits_beta_signup_path, class: "d-flex mr-1" do %>
      <div class="subnav-search flex-auto d-flex mx-0">
        <input aria-label="Project URL&hellip;"
              placeholder="Project URL&hellip;"
              autocapitalize="off"
              autocomplete="off"
              class="form-control input-block flex-auto input-lg subnav-search-input"
              spellcheck="false"
              type="text"
              name="query"
              value="<%= params[:query] %>">
        <%= render(Primer::Beta::Octicon.new(:project, classes: "subnav-search-icon")) %>
        <div class="flex-auto d-flex mx-3 my-2">
          <%= render(Primer::Alpha::CheckBox.new(label: "Enable immediately", name: "enable")) %>
        </div>
        <div class="flex-auto d-flex mx-2">
          <%= render(Primer::ButtonComponent.new(type: :submit)) { "Submit" } %>
        </div>
      </div>
    <% end %>
  <% end %>

  <table class="Box width-full mt-2">
    <tr>
      <th class="Box-header">Project</th>
      <th class="Box-header">Title</th>
      <th class="Box-header">Owner</th>
      <th class="Box-header">Stafftools</th>
      <th class="Box-header">Action</th>
    </tr>
    <% waitlist.each do |early_access| %>
      <%
        project = early_access.member
        owner = project.owner || Organization.ghost
        path_method = owner.organization? ? :show_org_memex_path : :show_user_memex_path
        row_class = cycle("color-bg-subtle", "color-bg-defailt")
      %>
      <tr class="Box-row <%= row_class %>" <%= test_selector("waitlist_project") %>>
        <td class="p-3" <%= test_selector("waitlist_project_url:#{project.url}") %>><%= link_to "#{owner.display_login.truncate(30)}##{project.number}", public_send(path_method, owner, project.number) %></td>
        <td class="p-3"><%= project.title.truncate(50) %></td>
        <td class="p-3 text-center">
          <%= render(GitHub::AvatarComponent.new(actor: owner, size: 24)) %>
          <%= link_to owner.display_login.truncate(25), stafftools_user_path(owner) %>
        </td>
        <td class="p-3 text-center">
          <%= link_to stafftools_projects_beta_show_path(project) do %>
            <%= render(Primer::Beta::Octicon.new(icon: :link, size: :small, "aria-label": "stafftools link")) %>
          <% end %>
        </td>
        <td class="p-3 text-right">
          <%= form_with(url: stafftools_update_memex_without_limits_beta_signup_path(project), method: :put, local: true) do |form| %>
            <% if feature.enabled?(project) %>
              <%= render(Primer::Beta::Button.new(scheme: :danger, size: :small, id: "enable-#{project.id}", type: :submit, "aria-label": "Disable project #{project.url}")) do %>
                disable
              <% end %>
            <% else %>
              <%= render(Primer::Beta::Button.new(scheme: :primary, size: :small, id: "enable-#{project.id}", type: :submit, "aria-label": "Enable project #{project.url}")) do %>
                enable
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="paginate-container">
    <%= will_paginate waitlist %>
  </div>
<% end %>
