<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%
  hydro_close_tracking = hydro_click_tracking_attributes("feature_preview.clicks.close_modal", {})
  hydro_open_tracking = hydro_click_tracking_attributes("feature_preview.clicks.open_modal", { link_location: :user_dropdown })
%>

<div id="feature-enrollment-toggle" class="hide-sm hide-md unread-indicator-container position-relative">
  <button
    type="button"
    class="dropdown-item btn-link"
    role="menuitem"
    data-feature-preview-trigger-url="<%= feature_previews_path(user_id: display_login) %>"
    data-feature-preview-close-details="<%= hydro_close_tracking["hydro-click"] %>"
    data-feature-preview-close-hmac="<%= hydro_close_tracking["hydro-click-hmac"] %>"
    data-hydro-click="<%= hydro_open_tracking["hydro-click"] %>"
    data-hydro-click-hmac="<%= hydro_open_tracking["hydro-click-hmac"] %>"
  >
    Feature preview
  </button>
  <% if current_user.new_prerelease_features? %>
    <span class="unread-indicator js-feature-preview-indicator"></span>
  <% else %>
    <span class="unread-indicator js-feature-preview-indicator" hidden></span>
  <% end %>
</div>
