<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# rubocop:disable GitHub/ContentFor %>
<%
  is_responsive = responsive?
  tags ||= %W[from:header is_responsive:#{is_responsive}]

  view = Site::HeaderView.new(
    current_user: current_user,
    current_repository: current_repository,
    current_organization: current_organization,
    is_mobile_request: mobile?,
    current_copilot_user: current_copilot_user,
    params: params
  )
%>
<header class="<%= class_names(
    "Header",
    "js-details-container Details px-3 px-md-4 px-lg-5 flex-wrap flex-md-nowrap" => is_responsive,
    "px-5" => !is_responsive
  ) %>" role="banner">
  <h2 class="sr-only">Navigation Menu</h2>

  <% if force_compact_header? %>
    <div class="d-flex width-full">
      <div class="Header-item">
        <% track_render_partial("site/header/logged_in/links_dropdown", tags) do %>
          <%= render partial: "site/header/logged_in/links_dropdown" %>
        <% end %>
      </div>

      <div class="Header-item <% unless force_compact_header? %><% if is_responsive %>mr-3 mr-md-4<% else %>mr-4<% end %><% end %>">
        <%= render partial: "site/header/logo" %>
      </div>

      <div class="Header-item Header-item--full min-width-0">
        <% track_render_partial("site/header/logged_in/breadcrumb", tags) do %>
          <%= render partial: "site/header/logged_in/breadcrumb" %>
        <% end %>
      </div>

      <% unless hide_search? %>
        <div class="Header-item Header-item--full flex-justify-end <% if is_responsive %>d-none d-md-flex<% end %> <% if view.use_blackbird_monolith_integration? %>Header-item--search<% end %>" style="min-width:272px;">
          <% if view.use_blackbird_monolith_integration? %>
            <% track_render_partial("site/header/blackbird_search", tags) do %>
              <%= render partial: "site/header/blackbird_search", locals: { view: view } %>
            <% end %>
          <% else %>
            <% track_render_partial("site/header/search", tags) do %>
              <%= render partial: "site/header/search" %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="Header-item">
        <% track_render_partial("site/header/logged_in/notifications", tags, trace: true) do %>
          <%= render Site::Header::NotificationsButtonComponent.new(use_header_redesign: false) %>
        <% end %>
      </div>

      <div class="Header-item position-relative <% if is_responsive %> d-none d-md-flex<% end %>">
        <% track_render_partial("site/header/logged_in/add", tags) do %>
          <%= render partial: "site/header/logged_in/add", locals: { current_user: current_user } %>
        <% end %>
      </div>

      <div class="Header-item position-relative mr-0 <% if is_responsive %> d-none d-md-flex<% end %>">
        <% track_render_partial("site/header/logged_in/user", tags) do %>
          <%= render partial: "site/header/logged_in/user", locals: { return_to: canonical_request.url } %>
        <% end %>
      </div>

      <% if is_responsive %>
        <div class="Header-item d-md-none mr-0">
          <%= render Primer::ButtonComponent.new(scheme: :link, classes: "Header-link Header-button js-details-target", "aria-label": "Toggle navigation", "aria-expanded": "false") do %>
            <span class="p-1 d-flex flex-items-center flex-justify-center" style="width:32px;height:32px;">
              <%= primer_octicon(:"kebab-horizontal") %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if is_responsive %>
      <div class="<%= class_names(
          "Header-item Header-item--full",
          "flex-column flex-md-row width-full mr-0 mt-3 Details-content--hidden-not-important d-md-none" => is_responsive
        ) %>">
        <% if !hide_search? && is_responsive %>
          <div class="width-full d-block d-md-none">
            <% if view.use_blackbird_monolith_integration? %>
              <% track_render_partial("site/header/blackbird_search", tags) do %>
                <%= render partial: "site/header/blackbird_search", locals: { view: view, is_small_search_input: true } %>
              <% end %>
            <% else %>
              <% track_render_partial("site/header/search", tags) do %>
                <%= render partial: "site/header/search", locals: { is_small_search_input: true } %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <% track_render_partial("site/header/logged_in/links", tags) do %>
          <%= render partial: "site/header/logged_in/links" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="Header-item mt-n1 mb-n1 <% if is_responsive %> d-none d-md-flex<% end %>">
      <%= render partial: "site/header/logo" %>
    </div>

    <% if is_responsive %>
    <div class="Header-item d-md-none">
      <%= render Primer::ButtonComponent.new(scheme: :link, classes: "Header-link js-details-target", "aria-label": "Toggle navigation", "aria-expanded": "false") do %>
        <%= primer_octicon(:"three-bars", size: :medium) %>
      <% end %>
    </div>
    <% end %>

    <div class="Header-item Header-item--full<% if is_responsive %> flex-column flex-md-row width-full flex-order-2 flex-md-order-none mr-0 mt-3 mt-md-0 Details-content--hidden-not-important d-md-flex<% end %>">
      <% unless hide_search? %>
          <% if view.use_blackbird_monolith_integration? %>
            <% track_render_partial("site/header/blackbird_search", tags) do %>
              <%= render partial: "site/header/blackbird_search", locals: { view: view } %>
            <% end %>
          <% else %>
            <% track_render_partial("site/header/search", tags) do %>
              <%= render partial: "site/header/search" %>
            <% end %>
          <% end %>
      <% end %>
      <% track_render_partial("site/header/logged_in/links", tags) do %>
        <%= render partial: "site/header/logged_in/links" %>
      <% end %>
    </div>

    <% if is_responsive %>
    <div class="Header-item Header-item--full flex-justify-center d-md-none position-relative">
      <% if content_for?(:header_title) %>
        <div class="css-truncate css-truncate-target width-fit position-absolute left-0 right-0 text-center"><%= yield :header_title %></div>
      <% else %>
        <%= render partial: "site/header/logo" %>
      <% end %>
    </div>
    <% end %>

    <div class="Header-item<%= " mr-0 mr-md-3 flex-order-1 flex-md-order-none" if is_responsive %>">
      <% track_render_partial("site/header/logged_in/notifications", tags) do %>
        <%= render Site::Header::NotificationsButtonComponent.new(use_header_redesign: false) %>
      <% end %>
    </div>

    <% if is_responsive && content_for?(:context_button)%>
    <div class="Header-item d-md-none">
      <%= content_for(:context_button) %>
    </div>
    <% end %>

    <div class="Header-item position-relative<% if is_responsive %> d-none d-md-flex<% end %>">
      <% track_render_partial("site/header/logged_in/add", tags) do %>
        <%= render partial: "site/header/logged_in/add", locals: { current_user: current_user }  %>
      <% end %>
    </div>

    <div class="Header-item position-relative mr-0<% if is_responsive %> d-none d-md-flex<% end %>">
      <% track_render_partial("site/header/logged_in/user", tags) do %>
        <%= render partial: "site/header/logged_in/user", locals: { return_to: canonical_request.url } %>
      <% end %>
    </div>
  <% end %>
</header>
