<%= render Primer::Beta::Details.new(overlay: :default, reset: true, position: :relative) do |component| %>
  <% component.with_summary(button: false, classes: "Header-link Header-button") do %>
    <span class="p-1 d-flex flex-items-center flex-justify-center" style="width:32px;height:32px;">
      <%= render Primer::Beta::Octicon.new(icon: "three-bars", aria: { label: "Menu", hidden: false }) %>
    </span>
  <% end %>
  <% component.with_body(tag: :"details-menu", border: 0, classes: "hx_breadcrumb-header-dropdown dropdown-menu dropdown-menu-se", mt: 2, p: 2, style: "width: 248px;") do %><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <%= render Primer::BaseComponent.new(tag: "ul", classes: "list-style-none") do %>
      <li>
        <%= link_to dashboard_path, class: "dropdown-item rounded-2 py-0", "data-ga-click": "Header, click, Nav dropdown-menu - item:dashboard:user", "aria-label": "Dashboard", role: "menuitem" do %>
          <%= render Primer::Beta::Octicon.new(icon: "home", mr: 1) %>
          Dashboard
        <% end %>
      </li>
      <li>
        <%= link_to all_pulls_path, class: "dropdown-item rounded-2 py-0", "data-hotkey": "g p", "data-ga-click": "Header, click, Nav dropdown-menu - item:pulls context:user", "aria-label": "Pull requests you created", role: "menuitem" do %>
          <%= render Primer::Beta::Octicon.new(icon: "git-pull-request", mr: 1) %>
          Pull requests
        <% end %>
      </li>
      <li>
        <%= link_to all_issues_path, class: "dropdown-item rounded-2 py-0", "data-hotkey": "g i", "data-ga-click": "Header, click, Nav dropdown-menu - item:issues context:user", "aria-label": "Issues you created", role: "menuitem" do %>
          <%= primer_octicon(:"issue-opened", mr: 1) %>
          Issues
        <% end %>
      </li>
      <% if GitHub.discussions_available_on_platform? %>
        <li>
          <%= link_to all_discussions_path, class: "dropdown-item rounded-2 py-0", "data-ga-click": "Header, click, Nav dropdown-menu - item:discussions context:user", "aria-label": "Discussions you created", role: "menuitem" do %>
            <%= render Primer::Beta::Octicon.new(icon: "comment-discussion", mr: 1) %>
            Discussions
          <% end %>
        </li>
      <% end %>
      <% if GitHub.codespaces_enabled? %>
      <li>
        <%= link_to codespaces_path, class: "dropdown-item rounded-2 py-0", "data-ga-click": "Header, click, Nav dropdown-menu - item:workspaces context:user", "aria-label": "Codespaces you created", role: "menuitem" do %>
          <%= render Primer::Beta::Octicon.new(icon: "codespaces", mr: 1) %>
          Codespaces
        <% end %>
      </li>
      <% end %>
      <li class="dropdown-divider" role="none"></li>
      <% if GitHub.marketplace_enabled? %>
        <li>
          <%= link_to marketplace_path, class: "dropdown-item rounded-2 py-0", "data-ga-click": "Header, click, Nav dropdown-menu - item:marketplace context:user", "data-octo-click": "marketplace_click", "data-octo-dimensions": "location:nav_menu", role: "menuitem" do %>
            <%= render Primer::Beta::Octicon.new(icon: "gift", mr: 1) %>
            Marketplace
          <% end %>
        </li>
      <% end %>
      <% unless GitHub.multi_tenant_enterprise? %>
        <li>
          <%= link_to explore_path, class: "dropdown-item rounded-2 py-0", "data-ga-click": "Header, click, Nav dropdown-menu - item:explore", role: "menuitem" do %>
            <%= render Primer::Beta::Octicon.new(icon: "telescope", mr: 1) %>
            Explore
          <% end %>
        </li>
      <% end %>
    <% end %>
  <% end %>
<% end %>
