<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<nav id="global-nav" class="d-flex<% if responsive? %> flex-column flex-md-row flex-self-stretch flex-md-self-auto<% end %>" aria-label="Global">
  <% if responsive? %>
    <%= link_to(
      "Dashboard",
      dashboard_path,
      class: "Header-link py-md-3 d-block d-md-none py-2 border-top border-md-top-0 border-white-fade",
      :"data-ga-click" => "Header, click, Nav menu - item:dashboard:user",
      :"aria-label" => "Dashboard",
      :"data-turbo" => false
    ) %>
  <% end %>

  <%= selected_link_to(
    all_pulls_path,
    class: class_names(
      "Header-link",
      "mt-md-n3 mb-md-n3 py-2 py-md-3 mr-0 mr-md-3 border-top border-md-top-0 border-white-fade" => responsive?,
      "mt-n3 mb-n3 py-3 mr-3" => !responsive?
    ),
    :highlight => %w(/pulls /pulls/assigned /pulls/mentioned),
    :"data-hotkey" => "g p",
    :"data-ga-click" => "Header, click, Nav menu - item:pulls context:user",
    :"aria-label" => "Pull requests you created",
    :"data-turbo" => false
  ) do %>
    <% if responsive? %>
      Pull<span class="d-inline d-md-none d-lg-inline"> request</span>s
    <% else %>
      Pull requests
    <% end %>
  <% end %>

  <%= selected_link_to(
    "Issues",
    all_issues_path,
    class: class_names(
      "Header-link",
      "mt-md-n3 mb-md-n3 py-2 py-md-3 mr-0 mr-md-3 border-top border-md-top-0 border-white-fade" => responsive?,
      "mt-n3 mb-n3 py-3 mr-3" => !responsive?
    ), :highlight => %w(/issues /issues/assigned /issues/mentioned),
    :"data-hotkey" => "g i",
    :"data-ga-click" => "Header, click, Nav menu - item:issues context:user",
    :"aria-label" => "Issues you created",
    :"data-turbo" => false
  ) %>

  <% unless GitHub.enterprise? %>
    <% if responsive? || !mobile? %>
      <%= selected_link_to(
        "Codespaces",
        codespaces_path,
        class: class_names(
          "Header-link",
          "mt-md-n3 mb-md-n3 py-2 py-md-3 mr-0 mr-md-3 border-top border-md-top-0 border-white-fade" => responsive?,
          "mt-n3 mb-n3 py-3 mr-3" => !responsive?
        ),
        highlight: [codespaces_path],
        :"data-ga-click" => "Header, click, Nav menu - item:workspaces context:user",
        :"data-turbo" => false
      ) %>
    <% end %>
  <% end %>

  <% if GitHub.marketplace_enabled? %>
    <div class="d-flex position-relative">
      <%= selected_link_to(
        "Marketplace",
        marketplace_path,
        class: class_names(
          "Header-link flex-auto",
          "mt-md-n3 mb-md-n3 py-2 py-md-3 mr-0 mr-md-3 border-top border-md-top-0 border-white-fade" => responsive?,
          "mt-n3 mb-n3 py-3 mr-3" => !responsive?
        ),
        :"data-ga-click" => "Header, click, Nav menu - item:marketplace context:user", :"data-octo-click" => "marketplace_click",
        :"data-octo-dimensions" => "location:nav_bar",
        :"data-turbo" => false
      ) %>
    </div>
  <% end %>

  <% unless GitHub.multi_tenant_enterprise? %>
    <%= selected_link_to(
      "Explore",
      explore_path,
      class: class_names(
        "Header-link",
        "mt-md-n3 mb-md-n3 py-2 py-md-3 mr-0 mr-md-3 border-top border-md-top-0 border-white-fade" => responsive?,
        "mt-n3 mb-n3 py-3 mr-3" => !responsive?
      ),
      :highlight => ["/explore", "/trending", "/trending/developers", "/integrations", "/integrations/feature/code", "/integrations/feature/collaborate", "/integrations/feature/ship", :showcases, :showcases_search, :showcases_landing],
      :"data-ga-click" => "Header, click, Nav menu - item:explore",
      :"data-turbo" => false
    ) %>
  <% end %>

  <% if responsive? %>
    <% if GitHub.sponsors_enabled? %>
      <%= selected_link_to(
        "Sponsors",
        sponsors_accounts_path,
        class: "Header-link d-block d-md-none py-2 py-md-3 border-top border-md-top-0 border-white-fade",
        :"data-ga-click" => "Header, click, Nav menu - item:Sponsors",
        data: sponsors_button_hydro_attributes(:HEADER_SPONSORS_DASHBOARD, current_user.display_login),
        :"data-turbo" => false
      ) %>
    <% end %>

    <%= link_to(
      user_menu_settings_name,
      settings_user_profile_path,
      class: "Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-top border-md-top-0 border-white-fade",
      :"data-turbo" => false
    ) %>

    <%= link_to(
      user_path(current_user),
      class: "Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-3 border-top border-md-top-0 border-white-fade",
      :"data-turbo" => false
    ) do %>
      <%= avatar_for(current_user, 20, class: "avatar", loading: "lazy", decoding: "async") %>
      <%= current_user.display_login %>
    <% end %>

    <%= form_tag GitHub.auth.logout_url, :method => :post do %>
      <button
        type="submit"
        class="Header-link mr-0 mr-md-3 py-2 py-md-3 border-top border-md-top-0 border-white-fade d-md-none btn-link d-block width-full text-left"
        style="padding-left: 2px;"
        <%= safe_analytics_click_attributes(
          category: "Header",
          action: "sign out",
          label: "icon:logout"
        ) %>
      >
        <%= primer_octicon(:"sign-out", vertical_align: :middle) %>
        Sign out
      </button>
    <% end %>
  <% end %>
</nav>
