<%# erblint:counter GoogleAnalyticsDeprecation 17 %>
<div class="header-nav-current-user css-truncate"><a role="menuitem" class="no-underline user-profile-link px-3 pt-2 pb-2 mb-n2 mt-n1 d-block" href="<%= user_path(current_user) %>" data-ga-click="Header, go to profile, text:Signed in as">Signed in as <strong class="css-truncate-target"><%= current_user.display_login %></strong></a></div>
<div role="none" class="dropdown-divider"></div>

<% unless mobile? %>
  <div class="pl-3 pr-3 f6 user-status-container js-user-status-context lh-condensed" data-url="<%= user_status_path(truncate: 1, link_mentions: 0, compact: 1) %>">
    <%= render partial: "user_statuses/edit", locals: {
          truncate: true,
          link_mentions: false,
          compact: true
        } %>
  </div>
  <div role="none" class="dropdown-divider"></div>
<% end %>

<a role="menuitem" class="dropdown-item" href="<%= user_path(current_user) %>" data-ga-click="Header, go to profile, text:your profile" <%= your_profile_menu_hydro_attributes %> <%= test_selector("header-user-menu-dropdown-your-profile") %>>Your profile</a>

<%# AccountSwitcher section %>
<% if account_switcher_helper.enabled? && (account_switcher_helper.stashed_accounts.any? || account_switcher_helper.can_add_account?) %>
  <div class="header-nav-current-user css-truncate">
    <% if account_switcher_helper.stashed_accounts.any? %>
      <a role="menuitem" class="dropdown-item" href="<%= list_accounts_path %>">
        Switch account
      </a>
    <% end %>
    <% if account_switcher_helper.can_add_account? %>
      <a role="menuitem" class="dropdown-item" href="<%= add_account_path %>">
        Add account
      </a>
    <% end %>
  </div>
  <div role="none" class="dropdown-divider"></div>
<% end %>



<a role="menuitem" class="dropdown-item" href="<%= user_path(current_user) %>?tab=repositories" data-ga-click="Header, go to repositories, text:your repositories" <%= your_repositories_menu_hydro_attributes %> <%= test_selector("header-user-menu-dropdown-your-repositories") %>>Your repositories</a>

<div id="pending-invitations-indicator" class="hide-sm hide-md unread-indicator-container position-relative">
  <a role="menuitem"
    class="dropdown-item"
    href="<%= settings_organizations_path %>"
    <%= test_selector("header-user-menu-dropdown-your-organizations") %>
    data-ga-click="Header, go to organizations, text:your organizations"
    <%= your_organizations_menu_hydro_attributes %>
  >
    Your organizations
  </a>
  <% if show_pending_invitations_indicator? %>
    <span class="unread-indicator"></span>
  <% end %>
</div>

<% if show_your_enterprises_user_menu? %>
  <a role="menuitem"
    class="dropdown-item"
    href="<%= settings_enterprises_path %>"
    <%= safe_analytics_click_attributes(
      category: "enterprises_more_discoverable",
      action: "click_your_enterprises",
      label: "ref_loc:side_panel;ref_cta:your_enterprises;is_navigation_redesign:false"
    ) %>
    <%= test_selector("header-user-menu-dropdown-your-enterprises") %>
    data-ga-click="Header, go to enterprises, text:your enterprises"
    <%= your_enterprises_menu_hydro_attributes %>
    >Your enterprises</a>
  <%= render(Hydro::TrackViewComponent.new(name: "user_menu/your_enterprises")) %>
<% end %>

<% if show_your_enterprise_user_menu? %>
  <a role="menuitem"
    class="dropdown-item"
    href="<%= enterprise_path(your_enterprise_user_menu_slug) %>"
    <%= test_selector("header-user-menu-dropdown-your-enterprise") %>
    data-ga-click="Header, go to enterprise, text:your enterprise"
    >Your enterprise</a>
<% end %>

<a role="menuitem"
  class="dropdown-item"
  href="<%= GitHub.projects_new_enabled? ? user_path(current_user, params: {tab: "projects"}) : user_path(current_user, params: {tab: "projects", type: "classic"}) %>"
  data-ga-click="Header, go to projects, text:your projects"
  <%= your_projects_menu_hydro_attributes %>
  <%= test_selector("header-user-menu-dropdown-your-projects") %>
  >Your projects</a>

<% if current_user.discussions.any? %>
  <a role="menuitem"
      class="dropdown-item"
      href="<%= all_discussions_path %>"
      <%= test_selector("site-header-dropdown-your-discussions") %>
      data-ga-click="Header, go to discussions, text:your discussions"
  >Your discussions</a>
<% elsif current_user.discussion_comments.any? %>
  <a role="menuitem"
      class="dropdown-item"
      href="<%= all_discussions_commented_path %>"
      <%= test_selector("site-header-dropdown-your-discussions") %>
      data-ga-click="Header, go to discussions, text:your discussions"
  >Your discussions</a>
<% end %>

<a role="menuitem" class="dropdown-item" href="<%= user_path(current_user) %>?tab=stars" data-ga-click="Header, go to starred repos, text:your stars" <%= your_stars_menu_hydro_attributes %> <%= test_selector("header-user-menu-dropdown-your-stars") %>>Your stars</a>
<% if GitHub.gist_enabled? %>
  <a role="menuitem" class="dropdown-item" href="<%= my_gists_url %>" data-ga-click="Header, your gists, text:your gists" <%= your_gists_menu_hydro_attributes %> <%= test_selector("header-user-menu-dropdown-your-gists") %>>Your gists</a>
<% end %>

<% if GitHub.sponsors_enabled? %>
  <%= link_to("Your sponsors",
        sponsors_accounts_path,
        role: "menuitem",
        class: "dropdown-item",
        "data-ga-click": "Header, go to GitHub Sponsors accounts page, text:your sponsors",
        data: sponsors_button_hydro_attributes(:HEADER_SPONSORS_DASHBOARD, current_user.display_login)
      )
  %>
<% end %>

<% if GitHub.insights_available? && GitHub.insights_url.present? %>
  <div role="none" class="dropdown-divider"></div>
  <a role="menuitem" class="dropdown-item" href="<%= GitHub.insights_url %>" data-ga-click="Header, go to insights, text:github insights" <%= github_insights_menu_hydro_attributes %> <%= test_selector("header-user-menu-dropdown-github-insights") %>>GitHub Insights</a>
<% end %>

<div role="none" class="dropdown-divider"></div>
<% if show_upgrade_user_menu? %>
  <a role="menuitem" class="dropdown-item" href="<%= account_choices_path("action" => "upgrade") %>" data-ga-click="Header, go to compare plans, text:upgrade" <%= upgrade_menu_hydro_attributes %> <%= test_selector("upgrade-user-menu")%>>Upgrade</a>
<% end %>
<% if show_start_a_trial_url? %>
  <a role="menuitem" class="dropdown-item" href="<%=  org_enterprise_plan_path(
    "ref_page": "Header Avatar",
    "ref_cta": url_encode("Try Enterprise"),
    "ref_loc": "user_drawer_side_panel") %>"
    <%= safe_analytics_click_attributes(
      category: "start_a_trial",
      action: "click_to_set_up_enterprise_trial",
      label: "ref_loc:side_panel;ref_cta:start_a_trial"
    ) %>
    <%= test_selector("try-enterprise-user-menu")%>>Try Enterprise</a>
<% end%>
<% if feature_preview_enabled? && !GitHub.enterprise? %>
  <%= render partial: "site/header/logged_in/feature_preview", locals: { display_login: current_user.display_login } %>
<% end %>
<a role="menuitem" class="dropdown-item" href="<%= GitHub.help_url %>" data-ga-click="Header, go to help, text:help" <%= help_menu_hydro_attributes %> <%= test_selector("header-user-menu-dropdown-help") %>>Help</a>
<a role="menuitem" class="dropdown-item" href="<%= settings_user_profile_path %>" data-ga-click="Header, go to settings, icon:settings" <%= settings_menu_hydro_attributes %> <%= test_selector("header-user-menu-dropdown-settings") %>><%= user_menu_settings_name %></a>
<% if show_enterprise_settings_user_menu? %>
  <a role="menuitem" class="dropdown-item" href="<%= enterprise_path(GitHub.global_business.slug) %>" data-ga-click="Header, go to enterprise settings, text:enterprise settings" <%= test_selector("site-header-dropdown-enterprise-settings") %>>Enterprise settings</a>
<% end %>

<div role="none" class="dropdown-divider"></div>

<%# Sign out section %>
<% if account_switcher_helper.enabled? %>
  <a role="menuitem" class="dropdown-item" href="<%= confirm_logout_path %>">
    Sign out
  </a>
<% else %>
  <%= form_tag GitHub.auth.logout_url, :method => :post, :class => "logout-form js-loggout-form" do %>
    <%= hidden_field_tag :after_logout, "/dashboard/logged_out" unless customized(:sign_out_message).blank? %>
    <button type="submit" class="dropdown-item dropdown-signout" data-ga-click="Header, sign out, icon:logout" <%= sign_out_menu_hydro_attributes %> <%= test_selector("header-user-menu-dropdown-sign-out") %> role="menuitem">
      Sign out
    </button>
    <%= spamurai_form_signals %>
  <% end %>
<% end %>
