<%
  show_feature_preview_indicator = feature_preview_enabled?
  global_navigation_enabled = header_redesign_enabled?
%>

<site-header-logged-in-user-menu>
  <% if display_switch_account_popover? %>
    <%= render partial: "sessions/account_switcher_popover", locals: {
      return_to: return_to,
    } %>
  <% end %>

  <% unless global_navigation_enabled %>
    <% if show_feature_preview_indicator %>
      <details class="details-overlay details-reset js-feature-preview-indicator-container" data-feature-preview-indicator-src="<%= feature_preview_indicator_check_path(user_id: current_user.display_login) %>" data-target="site-header-logged-in-user-menu.detailsElem">
    <% else %>
      <details class="details-overlay details-reset" data-target="site-header-logged-in-user-menu.detailsElem">
    <% end %>

      <summary
        class="Header-link"
        aria-label="View profile and more"
        <%= safe_analytics_click_attributes(
          category: "Header",
          action: "show menu",
          label: "icon:avatar"
        ) %>
      >
        <%= render(GitHub::AvatarComponent.new(actor: current_user, size: 20)) %>
        <% if show_feature_preview_indicator %>
          <span class="unread-indicator js-feature-preview-indicator" style="top: 1px;" hidden></span>
        <% end %>
        <span class="dropdown-caret"></span>
      </summary>
      <details-menu
          class="dropdown-menu dropdown-menu-sw"
          style="width: 180px"
          <%= test_selector("header-user-menu-dropdown") %>
          preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <include-fragment src="<%= '/users/' + current_user.id.to_s + '/menu' %>" loading="lazy">
            <p class="text-center mt-3" data-hide-on-error>
              <%= render(Primer::Beta::Spinner.new) %>
            </p>
            <p class="ml-1 mb-2 mt-2 color-fg-default" data-show-on-error>
              <%= primer_octicon(:alert) %>
              Sorry, something went wrong.
            </p>
          </include-fragment>
      </details-menu>
    </details>
  <% end %>
</site-header-logged-in-user-menu><%# erblint:disable ProperTagNesting %>
