<% if view.business.has_active_advanced_security_trial? %>
  <%= render Businesses::Billing::AdvancedSecurity::TrialComponent.new(
      business: view.business
    )
   %>
<% elsif view.business.has_self_serve_advanced_security? %>
    <%= render Businesses::Billing::AdvancedSecurity::SelfServeLicensingComponent.new(business: view.business, user: current_user) %>
<% elsif view.advanced_security_purchased_for_entity? %>
  <%= render Businesses::Billing::AdvancedSecurity::LicensingComponent.new(
    description: "Valid until #{view.billing_term_ends_on} (includes support and updates)",
    test_selector: "advanced-security-license-sales-serve",
  ) do |info| %>
    <% seat_usage = AdvancedSecurity::SeatUsageComponent.new(
        **AdvancedSecurity::SeatUsageComponent.kwargs_for(view.business)
      )
    %>
    <% info.with_control do %>
      <%= primer_octicon(:"check-circle", color: :muted) %><div class="pl-1 color-fg-muted">Enabled</div>
    <% end %>
    <% if view.business.advanced_security_metered_for_entity? %>
      <%= info.with_banner do %>
        This account is using metered billing.
      <% end %>
    <% elsif seat_usage.banner_required? %>
      <%= info.with_banner(**seat_usage.banner_arguments) do %>
        <%= seat_usage.banner_message %>
      <% end %>
    <% end %>
    <% info.with_body do %>
      <%= render(seat_usage) %>
      <%= render(Billing::DownloadReportComponent.new(tag: :a, ml: 3, variant: :small, href: download_active_committers_enterprise_licensing_path(view.business))) %>
    <% end %>
  <% end %>
<% elsif view.business.potentially_trial_or_purchase_advanced_security? && (view.business.eligible_for_self_serve_advanced_security_trial?(skip_shared_checks: true) || view.business.eligible_for_self_serve_advanced_security?(skip_shared_checks: true)) %>
  <%= render Businesses::Billing::AdvancedSecurity::LicensingComponent.new(
    test_selector: "advanced-security-license-promo",
  ) do |promo| %>
    <% promo.with_control do %>
      <%# rubocop:disable GitHub/RailsViewRenderLiteral %>
      <%# this ^ incorrectly flags the render call below as problematic %>
      <% advanced_security_trial_eligible = view.business.eligible_for_self_serve_advanced_security_trial? %>
        <%= render Businesses::Billing::AdvancedSecurity::StartFreeTrialComponent.new(
          business: view.business,
          user: current_user
        )
        %>
    <% end %>
    <% promo.with_body(direction: :column, align_items: :flex_start) do %>
      <%= render partial: "billing_settings/benefits/subscription_advanced_security" %>
      <%= render(Hydro::TrackViewComponent.new(name: "advanced-security-license-promo")) %>
    <% end %>
  <% end %>
<% end %>
