<div class="Box mb-4">
  <div class="Box-header color-bg-subtle d-flex flex-items-center">
    <%= render(Primer::Box.new(p: 2, bg: :default, border_radius: 2, border: true )) do %>
      <%= render(Primer::Box.new(display: :flex, justify_content: :center)) do %>
        <%= render(Primer::Beta::Octicon.new(:copilot, color: :default, width: 16, height: 16)) %>
      <% end %>
    <% end %>
    <div class="Box-title flex-auto ml-2">
      <%= render(Primer::Beta::Heading.new(tag: :h3, font_weight: :normal)) { "Copilot Business" } %>
    </div>
    <% if view.has_copilot_enabled? && view.can_purchase_copilot_standalone_licenses? %>
      <%= render(Primer::Beta::Button.new(
        tag: :a,
        href: team_seats_enterprise_path(this_business),
        size: :small,
        test_selector: "copilot-standalone-manage-seats-link")) { "Manage seats" }
      %>
    <% end %>
  </div>


  <% if !view.has_copilot_enabled? && view.copilot_standalone_seat_count == 0 %>
    <%= render("businesses/enterprise_licensing/copilot_standalone/copilot_disabled", {view: view}) %>
  <% else %>
    <%= render("businesses/enterprise_licensing/copilot_standalone/copilot_enabled", {view: view}) %>
  <% end %>
</div>
