<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box mb-4" <%= test_selector "enterprise_server_instances" %>>
  <div class="Box-header d-flex flex-row flex-items-center gap-2">
    <div class="p-2 bgColor-default border rounded-2"><%= primer_octicon(:server, display: :block) %></div>
    <div class="flex-1 d-flex flex-row flex-items-center gap-2">
      <h3 class="text-normal">Enterprise Server instances</h3>
    </div>
    <div>
      <%= render layout: "shared/spacious_details_dialog", locals: {
        hide_title: true,
        button_text: "Add server usage",
        button_class: "btn btn-sm",
        title: "Add server usage",
      } do %>
        <%= render "businesses/enterprise_licensing/user_accounts_upload_form",
          business: this_business,
          installation: nil,
          button_id: "upload-user-accounts-file-below-servers" %>
      <% end %>
    </div>
  </div>

  <% view.installations.each do |installation| %>
    <% last_upload = installation.user_accounts_uploads.last %>
    <div class="Box-row d-flex flex-items-center color-fg-muted">
      <% if installation.connected? %>
        <div class="Box-title flex-1 ml-1 pl-6">
          <div>
            <%= installation.host_name %>
          </div>
          <div class="text-small text-normal">
            <% if last_upload&.sync_state == "success" %>
              GitHub Connect server usage synced <%= time_ago_in_words_js last_upload.updated_at %>
            <% elsif last_upload&.sync_state == "pending" %>
              GitHub Connect server usage syncing started <%= time_ago_in_words_js last_upload.updated_at %>, please wait
            <% elsif last_upload&.sync_state == "failure" %>
              GitHub Connect server usage sync failed <%= time_ago_in_words_js last_upload.updated_at %>
            <% else %>
              GitHub Connect server usage never synced
            <% end %>
          </div>
        </div>
        <div class="flex-1 text-center">
          <strong><%= number_with_delimiter installation.user_accounts.count %></strong>
          <%= pluralize_without_number installation.user_accounts.count, "user" %>
        </div>
        <div class="flex-1">
          <div class="d-flex flex-justify-end">
            <%= link_to enterprise_enterprise_installations_path(this_business),
              class: "Link--secondary tooltipped tooltipped-w",
              "aria-label": "GitHub Connect settings" do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
              <%= primer_octicon(:"chevron-right") %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="Box-title flex-1 ml-1 pl-6">
          <div>
            <%= installation.host_name %>
          </div>
          <div class="text-small text-normal">
            <% if last_upload&.sync_state == "success" %>
              Server usage uploaded <%= time_ago_in_words_js last_upload.updated_at %>
            <% elsif last_upload&.sync_state == "pending" %>
              Server usage upload syncing started <%= time_ago_in_words_js last_upload.updated_at %>, please wait
            <% elsif last_upload&.sync_state == "failure" %>
              Server upload sync failed <%= time_ago_in_words_js last_upload.updated_at %>
            <% else %>
              Server usage never uploaded
            <% end %>
          </div>
        </div>
        <div class="flex-1 text-center">
          <strong><%= number_with_delimiter installation.user_accounts.count %></strong>
          <%= pluralize_without_number installation.user_accounts.count, "user" %>
        </div>
        <div class="flex-1 d-flex flex-justify-end">
          <%= render layout: "shared/spacious_details_dialog", locals: {
            hide_title: true,
            button_icon: "upload",
            button_text: "",
            button_aria_label: "Update server usage",
            button_class: "btn-octicon mr-2 tooltipped tooltipped-w",
            title: "Update server usage"
          } do %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
            <%= render "businesses/enterprise_licensing/user_accounts_upload_form",
              business: this_business,
              installation: installation,
              button_id: "upload-user-accounts-file-#{installation.id}" %>
          <% end %>

          <% if last_upload&.sync_state == "pending" %>
            <%= render(Primer::Beta::Octicon.new(:clock, mt: 1)) %>
          <% else %>
            <details class="dropdown details-reset details-overlay d-inline-block">
              <summary class="btn-octicon" aria-haspopup="true">
                <%= primer_octicon(:"kebab-horizontal", "aria-label": "Show options") %>
              </summary>
              <ul class="dropdown-menu dropdown-menu-sw width-auto">
                <li>
                  <%= render layout: "shared/details_dialog", locals: {
                    button_text: "Remove server instance",
                    button_class: "dropdown-item btn-link pr-3",
                    title: "Remove Enterprise Server instance?"
                  } do %>
                    <div class="Box-body f5">
                      Are you sure that you want to remove the
                      <strong><%= installation.host_name %></strong>
                      Enterprise Server instance?
                    </div>
                    <div class="Box-footer text-center">
                      <%= form_tag enterprise_installation_path(installation.id), method: :delete do %>
                        <input type="hidden" name="redirect_to_path" value="<%= enterprise_licensing_path(this_business) %>">
                        <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Yes, remove instance<% end %>
                      <% end %>
                    </div>
                  <% end %>
                </li>
              </ul>
            </details>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if view.installations.empty? %>
    <div class="Box-footer d-flex flex-items-center flex-justify-between border-0">
      <div class="text-normal ml-1 pl-6 color-fg-default">
        You don't have any server instances. <%= link_to "View and download", "https://enterprise.github.com/releases", class: "Link--inTextBlock" %> server releases.
      </div>
    </div>
  <% else %>
    <div class="Box-footer d-flex flex-items-center flex-justify-between">
      <div class="text-small ml-1 pl-6 color-fg-muted">
        <%= link_to "View and download", "https://enterprise.github.com/releases", class: "Link--inTextBlock" %> server releases.
      </div>
      <div class="flex-auto text-right color-fg-default">
        <span>
          <strong><%= number_with_delimiter view.installations_user_count %></strong>
          <%= pluralize_without_number view.installations_user_count, "user" %>
          across
          <strong><%= number_with_delimiter view.installations.count %></strong>
          <%= pluralize_without_number view.installations.count, "server" %>
        </span>
      </div>
    </div>
  <% end %>
</div>
