<% if this_business.metered_ghes_eligible? %>
  <%= render_react_partial(
    name: "metered-enterprise-server-licenses",
    ssr: true,
    props: {
      business: this_business.as_json(only: [:slug], root: false),
      serverLicenses: this_business.metered_server_licenses,
      consumedEnterpriseLicenses: this_business.consumed_ghec_only_users_access_licenses,
    })
  %>
<% else %>
  <div class="Box mb-4">
    <div class="Box-header d-flex flex-row flex-items-center gap-2">
      <div class="p-2 bgColor-default border rounded-2"><%= primer_octicon(:server, display: :block) %></div>
      <div class="flex-1 d-flex flex-row flex-items-center gap-2">
        <h3 class="text-normal">Enterprise Server licenses</h3>
      </div>
    </div>
    <% view.non_metered_server_licenses.each do |server_license| %>
      <div class="Box-row d-flex flex-items-center color-fg-muted">
        <div class="Box-title flex-1 ml-1 pl-6">
          <div><%= server_license.id %></div>
          <div class="text-small text-normal">
            Valid until <%= server_license.expires_at&.strftime("%Y-%m-%d") %> <%= view.server_license_features_descriptor(server_license) %>
          </div>
        </div>
        <div class="flex-1 text-center">
          <strong><%= view.server_license_seats_descriptor(server_license) %></strong> seats
        </div>
        <div class="flex-1">
          <% if server_license.downloadable? %>
            <div class="d-flex flex-justify-end">
              <%= render Primer::Beta::Button.new(
                id: "download-server-license",
                tag: :a,
                href: server_license_path(this_business, server_license.id),
                size: :small,
                ml: 3
              ) do |b| %>
                <% b.with_leading_visual_icon(icon: "download") %>
                Download
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if view.non_metered_server_licenses.empty? %>
      <% if view.server_license_fetch_failed %>
        <div class="Box-footer d-flex flex-items-center flash-error">
          <div class="d-flex flex-items-center pl-2">
            <%= primer_octicon(:alert) %>
          </div>
          <div class="text-normal ml-1 pl-3">
            Could not load the list of licenses at this time. <%= link_to "Try again", enterprise_licensing_path(this_business), class: "Link--inTextBlock" %>.
          </div>
        </div>
      <% else %>
        <div class="Box-footer d-flex flex-items-center flex-justify-between border-0">
          <div class="text-normal ml-1 pl-6 color-fg-default">
            You don't have any server licenses. <%= link_to "Contact sales", ent_contact_url, class: "Link--inTextBlock" %> to buy.
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
