<%
  if this_business.customer&.billed_via_billing_platform?
    title = "Licensing"
    selected_link = :business_licensing
  else
    title = "Enterprise licensing"
    selected_link = :enterprise_licensing
  end

  page_info title: title,
    selected_link: selected_link,
    stafftools: stafftools_enterprise_path(this_business) %>
<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    title: title,
  } do %>

  <% view = Businesses::EnterpriseLicensing::ShowView.new(business: this_business, viewer: current_user) %>
  <% is_copilot_only = this_business.copilot_licensing_enabled? && this_business.seats_plan_basic? %>

  <% if this_business.feature_enabled?(:ghe_sales_serve_renewals) %>
    <%= render Billing::Settings::EnterpriseContractExpirationBannerComponent.new(business: this_business, current_user: current_user) %>
  <% end %>
  <div data-hpc>
    <%= render "businesses/enterprise_licensing/copilot_standalone_licenses", view: view if enterprise_copilot_licensing_enabled?(this_business) %>

    <% if !is_copilot_only %>
      <% if this_business.metered_plan? || GitHub.flipper[:licensing_overview_ghe_volume].enabled?(current_user) %>
        <%= render_react_partial(
          name: "licensing-enterprise-overview",
          ssr: true,
          props: {
            enterpriseContactUrl: ent_contact_url,
            ghe: ghe_overview_react_payload(business: this_business, preopen_seat_management: params[:manage_seats] == 'true'),
            slug: this_business.slug,
          }
        ) %>
      <% else %>
        <%= render "businesses/enterprise_licensing/merged_user_licenses", view: view %>
      <% end %>
    <% end %>

    <%= render "businesses/enterprise_licensing/advanced_security", view: view %>

    <% if !is_copilot_only && (this_business.metered_ghes_eligible? || !this_business.metered_plan?) %>
      <%= render "businesses/enterprise_licensing/enterprise_server_licenses", view: view %>
      <%= render "businesses/enterprise_licensing/enterprise_server_instances", view: view %>
    <% end %>
  </div>
<% end %>
