<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Email unlink", class: "page-two-factor-auth session-authentication" %>

<div class="two-factor-container">

  <div id="login" class="auth-form px-3">

    <%= render "shared/flash" %>

    <div class="auth-form-header p-0">
      <h1>Email unlink</h1>
    </div>

    <div class="my-3 d-flex flex-row flex-items-center text-center">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-accent-emphasis" style="width:28px; height: 28px;"><%= primer_octicon(:mail, color: :on_emphasis) %></span>
      <hr class="flex-auto color-border-default">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-subtle border color-border-default" style="width:28px; height: 28px;"><%= primer_octicon(:verified, color: :muted) %></span>
      <hr class="flex-auto color-border-default">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-subtle border color-border-default" style="width:28px; height: 28px;"><%= primer_octicon(:link, color: :muted) %></span>
    </div>

    <%= render Primer::Beta::Flash.new(scheme: :danger, mt: 4) do %>
      Email unlink request expired or invalid.
    <% end %>

    <div class="border pl-3 pr-3 pt-3 pb-2 mt-4 rounded-2 text-center">
      <p>Still want to unlink your email address?</p>
      <p><%= link_to "Return to account recovery to start a new email unlink request.", two_factor_recovery_request_path, class: "Link--inTextBlock" %></p>
    </div>
  </div>
</div>
