<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "Unlink email", class: "page-two-factor-auth session-authentication" %>

<div class="two-factor-container">

  <div id="login" class="auth-form px-3">

    <div class="auth-form-header p-0">
      <h1>Unlink email</h1>
    </div>

    <div class="my-3 d-flex flex-row flex-items-center text-center">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-accent-emphasis" style="width:28px; height: 28px;"><%= primer_octicon(:mail, color: :on_emphasis) %></span>
      <hr class="flex-auto color-border-accent-emphasis">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-accent-emphasis" style="width:28px; height: 28px;"><%= primer_octicon(:verified, color: :on_emphasis) %></span>
      <hr class="flex-auto color-border-accent-emphasis">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-subtle border color-border-default" style="width:28px; height: 28px;"><%= primer_octicon(:link, color: :muted) %></span>
    </div>

    <% if unlink_blocker.present? %>
      <%= render Primer::Beta::Flash.new(scheme: :danger, mt: 4) do %>
        <%= unlink_blocker %>
      <% end %>
    <% end %>

    <div class="auth-form-body mt-3">
      <p>
        You are requesting that the email <b><%= email %></b> be unlinked from this account, <%= display_login %>.
      </p>

      <br>
      <p>
        <%= primer_octicon(:alert, mr: 1) %> <b>This will not help you recover this account.</b>
        <br><br>
        <%= primer_octicon(:alert, mr: 1) %> Commits made with <b><%= email %></b> will no longer be tied to this account.
        <br><br>
        <%= primer_octicon(:alert, mr: 1) %> <b>This action is irreversible.</b>
      </p>

      <p>
        <b>Are you sure you want to unlink this email?</b>
      </p>

      <%= form_tag email_unlink_submit_path do %>
        <%= render Primer::ButtonComponent.new(test_selector: "email-unlink-confirm-button", scheme: :danger, block: true, disabled: unlink_blocker.present?, "data-disable-with": "Unlink", type: :submit) do %>Unlink<% end %>
      <% end %>
    </div>

    <div class="border pl-3 pr-3 pt-3 pb-2 mt-4 rounded-2 text-center">
      <p>
        <em>Don't want to continue?</em>
      </p>

      <p>
        <%= link_to "Return to account recovery", two_factor_recovery_request_path %>
      </p>
    </div>
</div>
