<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "Email unlink", class: "page-two-factor-auth session-authentication" %>

<div class="two-factor-container">

  <div id="login" class="auth-form px-3">

    <%= render "shared/flash" %>

    <div class="auth-form-header p-0">
      <h1>Email unlink</h1>
    </div>

    <div class="my-3 d-flex flex-row flex-items-center text-center">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-accent-emphasis" style="width:28px; height: 28px;"><%= primer_octicon(:mail, color: :on_emphasis) %></span>
      <hr class="flex-auto color-border-default">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-subtle border color-border-default" style="width:28px; height: 28px;"><%= primer_octicon(:verified, color: :muted) %></span>
      <hr class="flex-auto color-border-default">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-subtle border color-border-default" style="width:28px; height: 28px;"><%= primer_octicon(:link, color: :muted) %></span>
    </div>

    <div class="auth-form-body mt-3">
      <p>
        You are requesting that one or more of the linked emails be permanently unlinked from this account, <%= display_login %>:
      </p>

      <br>
      <p>
        <%= render(Primer::Beta::Flash.new(scheme: :danger, full: true)) do %>
          <strong> You will NOT be able to complete account recovery if you unlink the last address associated with this account. Proceed with caution.</strong>
        <% end %>
        <%= primer_octicon(:alert, mr: 1, mt: 3) %> <b>This will not help you recover this account, but will allow you to use the email address for another account.</b>
        <br><br>
        <%= primer_octicon(:mail, mr: 1) %> Continuing will send an email to each address linked to this account.
        <br><br>
        <%= primer_octicon(:"link-external", mr: 1) %> Follow the included steps for each email you would like to unlink.
      </p>

      <%= form_tag email_unlink_send_verification_path, method: :put do %>
        <%= render Primer::ButtonComponent.new(test_selector: "email-unlink-confirm-button", block: true, "data-disable-with": "Continue", type: :submit) do %>Continue<% end %>
      <% end %>
    </div>

    <div class="border pl-3 pr-3 pt-3 pb-2 mt-4 rounded-2 text-center">
      <p>Don't want to unlink your emails?</p>
      <p><%= link_to "Return to account recovery", two_factor_recovery_request_path, class: "Link--inTextBlock" %></p>
    </div>
  </div>
</div>
