<% page_info title: "Email unlinked", class: "page-two-factor-auth session-authentication" %>

<div class="two-factor-container">

  <div id="login" class="auth-form px-3">

    <%= render "shared/flash" %>

    <div class="auth-form-header p-0">
      <h1>Email unlinked</h1>
    </div>

    <div class="my-3 d-flex flex-row flex-items-center text-center">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-accent-emphasis" style="width:28px; height: 28px;"><%= primer_octicon(:mail, color: :on_emphasis) %></span>
      <hr class="flex-auto color-border-accent-emphasis">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-accent-emphasis" style="width:28px; height: 28px;"><%= primer_octicon(:verified, color: :on_emphasis) %></span>
      <hr class="flex-auto color-border-accent-emphasis">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-accent-emphasis" style="width:28px; height: 28px;"><%= primer_octicon(:link, color: :on_emphasis) %></span>
    </div>

    <div class="auth-form-body mt-3">
      <p>
        The email <b><%= email %></b> has been successfully unlinked from the account <b><%= display_login %></b>.
      </p>

      <br>
      <p>
        <%= primer_octicon(:alert, mr: 1) %> <em>This email address can no longer be used to access the account <b><%= display_login %></b></em>.
      </p>

      <div class="my-2 d-flex flex-row flex-items-center">
        <hr class="flex-auto">
      </div>

      <div class="text-center">
        <p>Ready to use this email?</p>
        <%= link_to nux_signup_index_path, class: "btn btn-primary" do %>
          Create a new account
        <% end %>
      </div>
    </div>

    <div class="border p-3 mt-4 rounded-2 text-center">
      <p><em>Need more information on other steps you may need to take?</em></p>
      <p><%= link_to "See our docs for more details", "#{GitHub.help_url}/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/unlinking-your-email-address-from-a-locked-account", class: "Link--inTextBlock" %></p>
    </div>
  </div>
</div>
