<% page_info title: "Email unlink", class: "page-two-factor-auth session-authentication" %>

<div class="two-factor-container">

  <div id="login" class="auth-form px-3">

    <%= render "shared/flash" %>

    <div class="auth-form-header p-0">
      <h1>Email unlink</h1>
    </div>

    <div class="my-3 d-flex flex-row flex-items-center text-center">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-accent-emphasis" style="width:28px; height: 28px;"><%= primer_octicon(:mail, color: :on_emphasis) %></span>
      <hr class="flex-auto color-border-accent-emphasis">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-subtle border color-border-default" style="width:28px; height: 28px;"><%= primer_octicon(:verified, color: :muted) %></span>
      <hr class="flex-auto color-border-default">
      <span class="d-flex flex-items-center flex-justify-center circle color-bg-subtle border color-border-default" style="width:28px; height: 28px;"><%= primer_octicon(:link, color: :muted) %></span>
    </div>

    <div class="auth-form-body mt-3">
      <p>
        A verification email has been sent to each email on the account <b><%= display_login %></b>.
      </p>

      <br>
      <p>
        Follow the instructions on each email you would like to unlink.
      </p>
    </div>

    <div class="border p-3 mt-4 rounded-2 text-center">
      <p><em>Need more information on other steps you may need to take?</em></p>
      <p><%= link_to "See our docs for more details", "#{GitHub.help_url}/account-and-profile/setting-up-and-managing-your-personal-account-on-github/managing-your-personal-account/unlinking-your-email-address-from-a-locked-account", class: "Link--inTextBlock" %></p>
    </div>
  </div>
</div>
