<recommended-memex-projects class="f5 d-flex flex-column overflow-hidden height-full" max="<%= MemexTemplate::MAX_ORGANIZATION_RECOMMENDED_TEMPLATES %>">
  <div class="py-3">
    <div class="auto-search-group mb-1 mb-lg-0 mr-lg-1 flex-auto">
      <%= render Primer::Beta::Octicon.new(icon: "search") %>
      <div class="FormControl flex-1 width-full">
        <div class="FormControl-input-wrap FormControl-medium FormControl-input-wrap--trailingAction">
          <input
            id="recommended-projects-filter"
            type="search"
            class="form-control width-full auto-search-input pr-7"
            data-target="recommended-memex-projects.input"
            data-action="input:recommended-memex-projects#handleSearchInput"
            placeholder="Filter templates">
          <%= render(Primer::Beta::Button.new(
            px: 2,
            py: 0,
            mr: 1,
            display: :flex,
            align_items: :center,
            align_self: :center,
            color: :muted,
            size: :small,
            border: 0,
            border_radius: 1,
            position: :absolute,
            right: 0,
            padding: 0,
            style: "height: 24px;",
            data: {
              target: "recommended-memex-projects.clearButton",
              action: "click:recommended-memex-projects#handleClearSearch"
            },
            hidden: true,
            aria_label: "Clear"
          )) { "Clear" } %>
        </div>
      </div>
    </div>
  </div>

  <div class="overflow-auto position-relative">
    <%= form_tag settings_org_memex_project_links_path(current_organization),
      class: "mb-3 recommended-projects-form", method: :post,
      id: "recommended-memex-projects-form",
      "data-target": "recommended-memex-projects.form",
      "data-action": "change:recommended-memex-projects#limitPins change:recommended-memex-projects#formModified reset:recommended-memex-projects#limitPins" do %>

      <%= render Primer::BaseComponent.new(
        tag: :ol,
        classes: "list-style-none",
        mb: 2,
        position: :relative,
        data: {
          target: "recommended-memex-projects.list"
        }) do %>
        <% recommendable_memex_projects.each_with_index do |memex_project, i| %>
          <%= render Organizations::Settings::RecommendedMemexProjectComponent.new(
            memex_project: memex_project,
            checked: recommended_memex_project_ids.include?(memex_project.id),
            remaining_recommended_memex_projects_count: remaining_recommended_memex_projects_count,
          ) %>
        <% end %>
      <% end %>
      <div class="color-fg-muted m-1"
        data-filter-empty-state
        data-target="recommended-memex-projects.filterEmptyState"
        <% if recommendable_memex_projects.any? || recommended_memex_project_ids.any? %>hidden<% end %>>
        No templates found.
      </div>
    <% end %>

  </div>
  <footer class="pt-3 text-right">
    <span
      class="float-left text-small pt-3 lh-condensed-ultra <%= " color-fg-danger" unless remaining_recommended_memex_projects_count.positive? %>"
      data-remaining-label="out of <%= MemexTemplate::MAX_ORGANIZATION_RECOMMENDED_TEMPLATES %> templates added"
      data-target="recommended-memex-projects.limitNotice"
      <%= test_selector("recommended-memex-projects-remaining") %>>
      <%= recommended_memex_project_ids.length %> out of <%= MemexTemplate::MAX_ORGANIZATION_RECOMMENDED_TEMPLATES %> templates added
    </span>
    <%= render(Primer::Beta::Button.new(
      display: :inline_block,
      data: {
        "close-dialog-id": "edit-recommended-memex-projects",
      }
    )) { "Cancel" } %>
    <%= render(Primer::Beta::Button.new(
      type: :submit,
      scheme: :primary,
      display: :inline_block,
      form: "recommended-memex-projects-form",
      data: {
        "target": "recommended-memex-projects.submitButton"
      },
      disabled: true,
    )) { "Save" } %>
  </footer>
</recommended-memex-projects>
