<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="col-6 float-left mb-3" <%= test_selector("funding-links-group-sponsorable") %>>
  <div class="Box color-shadow-small height-full p-3 d-flex flex-column flex-justify-between">
    <div class="d-flex">
      <%= profile_link(sponsorable, skip_hovercard: true) do %>
        <%= render GitHub::AvatarComponent.new(actor: sponsorable, size: 40, mr: 2, flex_shrink: 0) %>
      <% end %>
      <div>
        <p class="mb-0 h5">
          <%= profile_link(sponsorable, skip_hovercard: true, class: "color-fg-default") do %>
            <%= sponsorable.name %>
          <% end %>
        </p>
        <p class="m-0 f6">
          <%= profile_link(sponsorable, skip_hovercard: true, class: "color-fg-default") do %>
            <%= sponsorable %>
          <% end %>
        </p>
      </div>
    </div>
    <div>
      <% if previewing? %>
        <%= render Primer::ButtonComponent.new(variant: :small, block: true, mt: 3, "aria-label": "Sponsor @#{sponsorable}") do %>
          <%= primer_octicon(:heart, vertical_align: :middle, color: :sponsors, classes: "icon-sponsor") %>
          <span class="ml-1">Sponsor</span>
        <% end %>
      <% elsif viewer_is_sponsoring? %>
        <%= render Sponsors::SponsorButtonComponent.new(
          sponsorable: sponsorable.display_login,
          is_sponsoring: true,
          location: :REPOSITORY_FUNDING_MODAL_SPONSORING,
          block: true,
          mt: 3
        ) %>
      <% elsif show_sponsor_button_for_non_sponsor? %>
        <%= render Sponsors::SponsorButtonComponent.new(
          sponsorable: sponsorable.display_login,
          is_sponsoring: false,
          location: :REPOSITORY_FUNDING_MODAL_SPONSOR,
          block: true,
          mt: 3
        ) %>
      <% end %>
    </div>
  </div>
</div>
