<% if sponsorable_org || sponsorable_users.any? %>
  <div class="mb-3">
    <div class="d-flex mb-3">
      <h5 class="flex-auto m-0">GitHub Sponsors</h5>
      <a href="/sponsors">Learn more <span class="sr-only">about Sponsors</span></a>
    </div>
    <% if sponsorable_org %>
      <div class="mb-3">
        <%= render Repositories::FundingLinks::LoneSponsorableComponent.new(
          sponsorable: sponsorable_org,
          previewing: previewing?,
        ) %>
      </div>
    <% end %>
    <% if sponsorable_users.size == 1 %>
      <% sponsorable_users.each do |user| %>
        <div class="mb-3">
          <%= render Repositories::FundingLinks::LoneSponsorableComponent.new(
            sponsorable: user,
            previewing: previewing?,
          ) %>
        </div>
      <% end %>
    <% elsif sponsorable_users.size > 1 %>
      <div class="gutter-condensed d-flex flex-wrap">
        <% sponsorable_users.each do |user| %>
          <%= render Repositories::FundingLinks::GroupSponsorableComponent.new(
            sponsorable: user,
            previewing: previewing?,
          ) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
<% if external_accounts.any? %>
  <h5 class="flex-auto mb-3 mt-0">External links</h5>
  <% external_accounts.each do |platform, account| %>
    <% Array(account).each do |acc| %>
      <div class="d-flex mb-3">
        <div class="circle mr-2 border d-flex flex-justify-center flex-items-center flex-shrink-0" style="width:24px;height:24px;">
          <%= helpers.funding_platform_icon(platform) %>
        </div>
        <div class="flex-auto min-width-0">
          <%= helpers.funding_link(platform, acc, repository: repository) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
