<div class="Box color-shadow-small col-12 p-3" <%= test_selector("funding-links-lone-sponsorable") %>>
  <div class="d-flex flex-items-center">
    <%= profile_link(sponsorable, skip_hovercard: true) do %>
      <%= render GitHub::AvatarComponent.new(actor: sponsorable, size: 40, mr: 2, flex_shrink: 0) %>
    <% end %>
    <div class="flex-auto">
      <p class="m-0 h5">
        <%= profile_link(sponsorable, skip_hovercard: true, class: "color-fg-default") do %>
          <%= sponsorable.name %>
        <% end %>
      </p>
      <p class="m-0 f6">
        <%= profile_link(sponsorable, skip_hovercard: true, class: "color-fg-default") do %>
          <%= sponsorable %>
        <% end %>
      </p>
    </div>
    <% if previewing? %>
      <span class="btn btn-sm" aria-label="Sponsor @<%= sponsorable %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse %>
        <%= primer_octicon(:heart, vertical_align: :middle, color: :sponsors, classes: "icon-sponsor") %>
        <span class="ml-1">Sponsor</span>
      </span>
    <% elsif viewer_is_sponsoring? %>
      <%= render Sponsors::SponsorButtonComponent.new(
        sponsorable: sponsorable.display_login,
        is_sponsoring: true,
        location: :REPOSITORY_FUNDING_MODAL_SPONSORING,
      ) %>
    <% elsif show_sponsor_button_for_non_sponsor? %>
      <%= render Sponsors::SponsorButtonComponent.new(
        sponsorable: sponsorable.display_login,
        is_sponsoring: false,
        location: :REPOSITORY_FUNDING_MODAL_SPONSOR,
      ) %>
    <% end %>
  </div>
</div>
