<%= primer_form_with url: @action, method: :put, class: "my-6" do |f| %>
  <h3 class="text-normal mb-2" <%= test_selector("default-workflow-permissions-component") %>>Workflow permissions</h3>

  <p>Choose the default permissions granted to the GITHUB_TOKEN
  when running workflows in this <%= entity_type %>.
  You can specify more granular permissions in the workflow using YAML.
  <a class="Link--inTextBlock" href="<%= "#{GitHub.help_url}/actions/reference/authentication-in-a-workflow#modifying-the-permissions-for-the-github_token" %>">Learn more about managing permissions.</a></p>

  <% unless @entity.is_a? Repository %>
    <p><%= @entity.is_a?(Business) ? "Organization and repository" : "Repository" %> administrators will only be able to change the default
    permissions to a more restrictive setting.</p>
  <% end %>

  <%= render(Actions::Policy::DefaultWorkflowPermissionsForm.new(f, entity: @entity)) %>
<% end %>
