<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= form_tag @action, method: :put, class: "my-6" do %>
  <h3 class="text-normal mb-2" <%= test_selector("fork-pull-request-component") %>><%= title %></h3>

  <% if show_description? %>
    <p class="col-10 mb-2"> <%= description %> </p>
  <% end %>

  <div class="col-10 form-checkbox <% unless @entity.can_enable_fork_pr_workflows? %>color-fg-muted<% end %>">
    <label>
      <input
        type="checkbox"
        name="fork_pr_workflows_policy[run_workflows]"
        class= "form-checkbox-details-trigger"
        <% unless @entity.can_enable_fork_pr_workflows? %> disabled <% end %>
        <% if @entity.can_run_fork_pr_workflows? %> checked <% end %>>
      Run workflows from fork pull requests
      <p class="note">This tells Actions to run workflows from pull requests
      originating from repository forks. Note that doing so will give
      maintainers of those forks the ability to use tokens with read
      permissions on the source repository.</p>

      <div class="form-checkbox-details" aria-live="polite">
        <div class="form-checkbox <% unless @entity.can_enable_fork_pr_workflows_with_write_tokens? %>color-fg-muted<% end %>">
          <label>
            <input
              type="checkbox"
              name="fork_pr_workflows_policy[write_tokens]"
              <% unless @entity.can_enable_fork_pr_workflows_with_write_tokens? %> disabled <% end %>
              <% if @entity.can_run_fork_pr_workflows_with_write_tokens? %> checked <% end %>>
            Send write tokens to workflows from fork pull requests.
            <p class="note">This tells Actions to send tokens with
            <strong>write</strong> permissions to workflows from pull requests
            originating from repository forks. Note that doing so will give
            maintainers of those forks <strong>write</strong> permissions
            against the source repository.</p>
          </label>
        </div>

        <div class="form-checkbox <% unless @entity.can_enable_fork_pr_workflows_with_secrets? %>color-fg-muted<% end %>">
          <label>
            <input
              type="checkbox"
              name="fork_pr_workflows_policy[send_secrets]"
              <% unless @entity.can_enable_fork_pr_workflows_with_secrets? %> disabled <% end %>
              <% if @entity.can_run_fork_pr_workflows_with_secrets? %> checked <% end %>>
            Send secrets and variables to workflows from fork pull requests.
            <p class="note">This tells Actions to send repository secrets and variables to
            workflows from pull requests originating from repository forks.</p>
          </label>
        </div>

      <div class="form-checkbox <% unless can_disable_require_approvals? %>color-fg-muted<% end %>">
          <label>
            <input
              type="checkbox"
              name="fork_pr_workflows_policy[require_approvals]"
              <% unless can_disable_require_approvals? %> disabled <% end %>
              <% if require_approvals? %> checked <% end %>>
            Require approval for fork pull request workflows.
            <p class="note">Fork pull requests from users without write access
            will require approval to run workflows.</p>
          </label>
          <% unless can_disable_require_approvals? %>
            <input type="hidden" name="fork_pr_workflows_policy[require_approvals_setting_excluded]" value="true">
          <% end %>
        </div>
      </div>
    </label>
  </div>

  <%= render(Primer::ButtonComponent.new(type: :submit, classes: "btn", "aria-label": "Save fork pull request workflows settings")) { "Save" } %>
<% end %>
