<%
  page_info(
    title: "Sponsor @#{listing.sponsorable_login} on GitHub Sponsors",
    stafftools: stafftools_sponsors_member_path(listing.sponsorable_login),
    richweb: {
      title: "Sponsor @#{listing.sponsorable_login} on GitHub Sponsors",
      url: sponsorable_url(listing.sponsorable_login),
      description: listing.short_description,
      image: listing.sponsorable_primary_avatar_url(400),
      card: "summary",
    },
  )

  admin = listing.adminable_by?(current_user)
%>

<%= render Sponsors::Sponsorables::PreviewProfileBannerComponent.new(previewing: previewing, sponsors_listing: listing) %>

<% if show_sponsors_matching_fund_banner?(sponsorable, listing: listing, sponsoring: sponsorship.present?) %>
  <div class="color-bg-sponsors color-border-sponsors-emphasis border-bottom" <%= test_selector("sponsorship-banner") %>>
    <div class="container-lg p-responsive">
      <div class="f5 clearfix py-3">
        <%= primer_octicon("heart", size: :medium, float: :left, animation: :hover_grow, mr: 3, color: :sponsors) %>
        <div class="overflow-hidden">
          <p class="text-bold mb-0">GitHub Sponsors Matching Fund</p>
          <p class="mb-0">To boost community funding, GitHub will match your contribution! <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/about-github-sponsors#about-the-github-sponsors-matching-fund">Learn more about the GitHub Sponsors Matching Fund</a>.</p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render Sponsors::Orgs::LowCreditBalanceComponent.new(
  sponsor: sponsor,
  active_invoiced_sponsors_agreement: sponsor&.active_invoiced_sponsors_agreement?,
) %>

<%= render Sponsors::Sponsorables::SponsorWarningBannerComponent.new(
    sponsor: sponsor,
    sponsorable: listing.sponsorable,
  )
%>

<div class="<%= class_names(
  "container-lg p-responsive clearfix mt-3",
  "mt-lg-6" => sponsorship.present?
) %>">
  <% if (sponsorship.present? || tier_frequency == :patreon) && is_new_sponsorship %>
    <span class="js-show-confetti-party" hidden></span>
  <% elsif sponsorship.nil? && !editing %>
    <h1 class="f2 mb-4" style="font-weight: normal">
      Become a sponsor to
      <%= render Users::ProfileLinkComponent.new(
        login: listing.sponsorable_login,
        classes: "user-mention",
        is_organization: listing.for_organization?,
      ).with_content(listing.sponsorable_name) %>
    </h1>
  <% end %>
  <div class="col-lg-8 float-lg-left pr-lg-5">
    <div class="pb-4">
      <div class="d-flex flex-items-center mb-3">
        <%= render Sponsors::Sponsorables::LinkedAvatarComponent.new(sponsors_listing: listing, avatar_size: 80) %>
        <div class="flex-auto ml-3">
          <h2 class="f3">
            <%= render Users::ProfileLinkComponent.new(
              login: listing.sponsorable_login,
              scheme: :primary,
              underline: false,
              is_organization: listing.for_organization?,
            ).with_content(listing.sponsorable_name) %>
          </h2>
          <% if listing.sponsorable_name != listing.sponsorable_login %>
            <%= render Users::ProfileLinkComponent.new(
              login: listing.sponsorable_login,
              underline: false,
              is_organization: listing.for_organization?,
            ) do %>
              <span class="color-fg-muted"><%= listing.sponsorable_login %></span>
            <% end %>
          <% end %>
          <% if (location = sponsorable.profile_location).present? %>
            <div class="mt-1 color-fg-muted">
              <%= primer_octicon(:location, size: :small) %>
              <%= location %>
            </div>
          <% end %>
        </div>
      </div>

      <%= render(Sponsors::Profile::SponsorsOnlyRepoInvitationComponent.new(sponsorship: sponsorship)) %>

      <%= render(Sponsors::Profile::WelcomeMessageComponent.new(sponsorship: sponsorship)) %>

      <div class="markdown-body">
        <%= listing.full_description_html %>
      </div>
      <% if admin && !listing.disabled? %>
        <%= render Primer::Beta::Button.new(
          tag: :a,
          mt: 3,
          href: sponsorable_dashboard_profile_path(listing.sponsorable_login)
        ).with_content("Edit") %>
      <% end %>
    </div>

    <% if show_sponsorship_tabs_on_sponsors_listing %>
      <div class="border-top pt-4 color-border-muted" ></div>
    <% else %>
      <%= render(Sponsors::Profile::SponsorCountComponent.new(
        sponsorable: sponsorable,
        sponsor_count: sponsorships.total_entries,
        is_sponsoring: sponsorship.present?,
        is_new_sponsorship: is_new_sponsorship,
      )) %>
    <% end %>

    <%= render(Sponsors::Profile::ActiveGoalComponent.new(
      sponsors_listing: listing,
      goal: goal,
    )) %>

    <% if show_sponsorship_tabs_on_sponsors_listing %>
      <%= render(Sponsors::Profile::SponsorSectionListComponent.new(
        featured_sponsorships: featured_sponsorships,
        active_sponsorships: active_sponsorships,
        inactive_sponsorships: inactive_sponsorships,
        sponsorable: sponsorable,
      )) %>
    <% else %>
      <%= render(Sponsors::Profile::SponsorAvatarListComponent.new(
        sponsorships: sponsorships,
        sponsorable: sponsorable
      )) %>
    <% end %>

    <%= render Sponsors::Profile::MeetTheTeamComponent.new(featured_users: featured_users) %>

    <%= render(Sponsors::Profile::FeaturedWorkComponent.new(sponsors_listing: listing)) %>

    <div class="border-top py-4 f5 color-border-muted">
      <p class="my-0">
        <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/sponsoring-an-open-source-contributor">Learn more about sponsoring developers and organizations</a>.
      </p>
      <% if GitHub.user_abuse_mitigation_enabled? %>
        <p class="mt-2">
          <%= render(Primer::Beta::Link.new(
            href: flavored_contact_path(
              report: "#{sponsorable_url(listing.sponsorable_login)} (GitHub Sponsors)",
              flavor: "report-abuse",
            ),
            scheme: :secondary,
            classes: "Link--inTextBlock",
          ).with_content("Report abuse")) %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-4 float-lg-left mt-3 mt-lg-0">
    <%= render(Sponsors::Profile::GoalProgressComponent.new(
      sponsors_listing: listing,
      sponsor: sponsor,
      goal: goal,
      mb: 5,
    )) %>

    <% if !editing && sponsorship.present? %>
      <% if sponsorship.recurring_payment? %>
        <%=
          render(Sponsors::Sponsorables::CurrentTierComponent.new(
            sponsorship: sponsorship,
            sponsorable_metadata: sponsorable_metadata,
            sponsors_listing: listing,
          ))
        %>
      <% else %>
        <%=
          render(Sponsors::Profile::LatestOneTimePaymentComponent.new(
            sponsorship: sponsorship,
            sponsorable_metadata: sponsorable_metadata,
          ))
        %>
      <% end %>
    <% end %>

    <% if previewing && admin %>
      <%= render(Sponsors::NoPublishedPatreonTierWarningComponent.new(
        sponsorable: sponsor,
        location: Sponsors::NoPublishedPatreonTierWarningComponent::Location::SponsorablesShow,
      )) %>
    <% end %>

    <%=
      render(Sponsors::Profile::TierSelectionComponent.new(
        sponsorable: sponsorable,
        sponsor: sponsor,
        sponsorship: sponsorship,
        frequency: tier_frequency,
        editing: editing,
        sponsorable_metadata: sponsorable_metadata,
        custom_amount: custom_amount,
        previewing: previewing,
      ))
    %>

    <% if is_new_sponsorship %>
      <%= render(Sponsors::Profile::SocialSharingDialogComponent.new(
        sponsorable: sponsorable,
        sponsor: sponsor,
        sponsorship: sponsorship)) %>
    <% end %>

    <%=
      render(Sponsors::Profile::SocialSharingComponent.new(
        sponsorable: sponsorable,
        sponsor: sponsor,
        sponsorship: sponsorship,
        autofocus: is_new_sponsorship,
      ))
    %>
  </div>
</div>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "billing" %>
  <%= javascript_bundle "sponsors" %>
<% end %>
