<% if copilot_business.copilot_disabled? %>
  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% component.with_header { "There are no policies to manage at the moment." } %>
    <% component.with_body do %>
      <%= render(Primer::Beta::Text.new(tag: :p, mt: 3, font_size: 3, font_weight: :bold, text_align: :center)) { "GitHub Copilot policies" } %>
      <%= render(Primer::Beta::Text.new(tag: :p, mb: 3, text_align: :center, pr: 6, pl: 6, ml: 6, mr: 6)) { "Once you enable access to Copilot you'll have the ability to manage policies and feature access for GitHub Copilot inside your enterprise account." } %>
      <p class="mb-3 text-center">
        <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_LEARN_MORE_PAGE, classes: "Link--inTextBlock")) { "Explore Copilot features" } %>
      </p>
    <% end %>
  <% end %>
<% else %>
  <h3 class="text-normal pb-2">
    Copilot policies
  </h3>
  <%= render(Primer::Beta::Text.new(tag: :p, mb: 3, color: :muted)) do %>
    You can manage policies and grant access to Copilot features for all organizations with access.<br>
    If beta features are enabled, you agree to
    <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_CHAT_TERMS, classes: "Link--inTextBlock")) { "pre-release terms" } %>.
  <% end %>
  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% if copilot_business.has_copilot_enterprise_access? || copilot_business.feature_enabled?(:copilot_mixed_licenses) %>
      <%= component.with_row(scheme: :default) do %>
        <%= render(Copilot::Policies::CopilotForDotcomFormComponent.new(configurable: business)) %>
      <% end %>
    <% end %>

    <%= component.with_row(scheme: :default) do %>
      <%= render(Copilot::Policies::CliFormComponent.new(configurable: business)) %>
    <% end %>

    <%= component.with_row(scheme: :default) do %>
      <%= render(Copilot::Policies::EditorChatFormComponent.new(configurable: business)) %>
    <% end %>

    <%= component.with_row(scheme: :default) do %>
      <%= render(Copilot::Policies::MobileChatFormComponent.new(configurable: business)) %>
    <% end %>

    <% if copilot_custom_models %>
      <%= component.with_row(scheme: :default) do %>
        <%= render(Copilot::Policies::CustomModelsFormComponent.new(configurable: business)) %>
      <% end %>
    <% end %>

    <% if business.feature_enabled?(:copilot_extension_access) %>
      <%= component.with_row(scheme: :default) do %>
        <%= render(Copilot::Policies::CopilotExtensionsFormComponent.new(configurable: business)) %>
      <% end %>
    <% end %>

    <%= component.with_row(scheme: :default) do %>
      <%= render(Copilot::Policies::PublicSuggestionsFormComponent.new(configurable: business)) %>
    <% end %>

    <%= component.with_row(scheme: :default) do %>
      <%= render(Copilot::Policies::BingForGitHubFormComponent.new(configurable: business)) %>
    <% end %>

    <% if business.feature_enabled?(:copilot_usage_metrics_policy) %>
      <%= component.with_row(scheme: :default) do %>
        <%= render(Copilot::Policies::UsageMetricsFormComponent.new(configurable: business)) %>
      <% end %>
    <% end %>
  <% end %>

  <%= render(Primer::Beta::Text.new(tag: :p, mt: 3, color: :muted, font_size: :small)) do %>
    <% unless features_for_data_retention.empty? %>
      <%= features_for_data_retention %> and updated <%= render(Primer::Beta::Link.new(href: Copilot::COPILOT_SPECIFIC_TERMS, classes: "Link--inTextBlock")) { "Product Terms" } %> apply.
    <% end %>
    For more information about the data your enterprise receives regarding your use of GitHub Copilot, please review <%= render(Primer::Beta::Link.new(href: Copilot::github_general_privacy_statement_url, classes: "Link--inTextBlock")) { "GitHub's Privacy Statement" } %>.
  <% end %>
<% end %>
