<% page_info title: "GitHub Copilot",
             selected_link: :business_copilot_settings %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <h2 class="f2-light">GitHub Copilot</h2>
  <hr class="mb-3 color-fg-muted">
  <div class="d-flex flex-row rounded-2 color-border-default color-bg-inset p-0">
    <div class="col-lg-6 p-4">
      <div>
        <h3 class="h1" style="font-weight: 600;">
          <%= render(Primer::Beta::Octicon.new(:copilot, size: :medium, style: "height: 40; width: 40;")) %>

          Copilot
          <span style="border-left: 4px solid var(--fgColor-accent, var(--color-accent-fg));"></span>
          <span class="color-fg-muted ml-0 position-relative" style="left: -2px;">Enterprise</span>
        </h3>
      </div>

      <div class="text-light mb-2">
        Fine-tune your organization's software development cycle by establishing personalized
        AI workflows for your organization with Copilot Enterprise.
      </div>

      <div>
        <div class="mb-1">
          <%= primer_octicon(icon: "check", color: :success) %>
          <b>Everything in Copilot Business, plus...</b>
        </div>
        <div class="mb-1">
          <%= primer_octicon(icon: "check", color: :success) %>
          <b>Chat support on github.com</b>
        </div>
        <div class="mb-1">
          <%= primer_octicon(icon: "check", color: :success) %>
          <b>Explanations based on your repositories, and more...</b>
        </div>
      </div>

      <div>
        <%= render(Primer::Beta::Button.new(scheme: :primary, mt: 2, mr: 2, tag: :a, href: copilot_signup_business_choose_plan_type_path(enterprise: copilot_business))) { "Enable Copilot Enterprise" } %>
        <%= render(Primer::Beta::Button.new(scheme: :secondary, mt: 2, tag: :a, href: Copilot::COPILOT_LEARN_MORE_PAGE)) { "Learn more about Copilot" } %>
      </div>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-4 overflow-hidden" style="border-radius: 0 6px 6px 0; background-size: cover; background-image: url(<%= image_path("modules/copilot/copilot-enterprise-purchase-graphic.jpg") %>);">
    </div>
  </div>
<% end %>
