<% page_info title: "GitHub Copilot",
             selected_link: :business_copilot_settings %>

<%= render layout: "businesses/layout",
  locals: {
    business: this_business,
    container_attributes: "itemscope itemtype='http://schema.org/Business'"
  } do %>
  <div class="d-flex flex-column flex-items-center text-center border rounded-2 color-border-default p-4">
    <%= render(Primer::Beta::Octicon.new(:"copilot", size: :medium, mb: 3)) %>
    <%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>GHEC trial accounts are not eligible for GitHub Copilot<% end %>
      <% component.with_description do %>
       Upgrade your account to access GitHub <%= Copilot.business_product_name %>.
      <% end %>
    <% end %>
    <%= render(Primer::Beta::Button.new(scheme: :primary, mt: 5, mb: 4, tag: :a, href: billing_settings_upgrade_enterprise_path(this_business))) { "Buy GitHub Enterprise" } %>

    <%= render(Primer::Beta::Link.new(href: "https://docs.github.com/enterprise-cloud@latest/copilot")) { "Learn more about GitHub Copilot" } %>
  </div>
<% end %>
