<div class="container-readme p-responsive-readme">
  <div class="d-md-flex flex-row-reverse flex-lg-items-center mt-n6 mt-lg-n8 mb-9">
    <div class="d-block col-md-5 col-lg-7 readme-link">
      <figure class="position-relative readme-link__figure js-readme-rotate <% if apply_mask? %>readme-mask--vertical-<%= mask_number %><% end %>" data-animation-is-running="false">
        <%= render Site::ContentfulImageComponent.new(src: story[:thumbnail][:url], width: 1200, height: 1400, classes: "d-block width-full height-auto readme-link__img readme-img-build-in js-build-in", lazy: false, alt: "Photo of #{story[:name]}", sizes: "(max-width: 755px) 90vw, 45vw", build_margin_bottom: 20) %>

        <% if apply_mask? %>
          <picture>
            <source srcset="<%= image_path "modules/site/readme/spice-overlay-vertical-#{mask_number}.webp" %>" type="image/webp">
            <img class="height-full width-full position-absolute d-block top-0 left-0" style="object-fit:contain;" src="<%= image_path "modules/site/readme/spice-overlay-vertical-#{mask_number}.png" %>" width="1080" height="1380" alt="" aria-hidden="true">
          </picture>
        <% end %>
      </figure>
    </div>

    <div class="col-md-7 col-lg-5 pt-5 pt-md-0 pr-md-6 mt-md-8 mt-lg-0">
      <%= render Site::Readme::Shared::LinkTextComponent.new(
        story: story,
        heading_class: "readme-heading-1 readme-heading--condensed",
        subtitle_class: "f2-mktg text-normal",
        heading_level: 2,
      ) %>
    </div>
  </div>
</div>
