<div class="container-readme p-responsive-readme">
  <div class="d-sm-flex flex-wrap gutter-sm-spacious">
    <% stories.each do |story| %>
      <div class="col-sm-6 mb-8">
        <div class="position-relative">
          <%= link_to story[:url],
            class: "position-relative d-block readme-link",
            data: { "ga-click": sanitized_ga_params(
              category: "ReadME Stories",
              action: "click",
              label: "ref_page:#{request.fullpath};" \
                "ref_cta:#{story[:heading]};" \
                "ref_loc:Story list"
            ) } do %>
            <div class="mb-4">
              <%= render(Site::Readme::Shared::LinkImgComponent.new(
                story: story,
                image: "hero",
                lazyload: true,
                dimensions: {
                  width: 2000,
                  height: 1200
                }
              )) %>
            </div>

            <%= render Site::Readme::Shared::LinkTextComponent.new(story: story, include_link: false, subtitle: false) %>
          <% end %>

          <p class="mb-0 f4-mktg">
            <%= story[:subheading] %>
          </p>

          <% if story[:topics].present? %>
            <% topic = story[:topics].first %>
            <div class="position-absolute top-0 left-0 px-2 px-lg-3 py-2 readme-bg-blue f5-mktg readme-heading--condensed text-uppercase text-semibold" style="letter-spacing:0.025em;" <%= test_selector "topic-tag" %>>
              <%= link_to topic[:name], readme_topic_path(topic[:slug]), class: "color-text-white" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
