<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# rubocop:disable Lint/InstanceVariable %>
<% if GitHub.flipper[:deprecate_legacy_signup_forms].enabled? %>
  <h2 class="f2-light mb-1">
    Create your personal account
  </h2>

  <div class="d-flex flex-items-center mt-4 mb-4">
    <%= render(
        Primer::Beta::Button.new(
          type: :button,
          tag: :a,
          href: new_nux_signup_path(return_to: redeem_coupon_url(@coupon.code)),
          scheme: :primary,
          mx: :auto
        )
      ) { "Sign up for GitHub" } %>
  </div>
<% else %>
  <%= render :partial => "billing_settings/signup_customer_form",
        :locals => { :return_to => redeem_coupon_url(@coupon.code), :redeeming_coupon => true } %>
<% end %>

<%= form_tag session_path do %>
  <h2 class="f2-light mt-3 mb-1">Or, sign in to an existing account</h2>
  <dl class="form-group">
    <dt>
      <label for="login">Username or email</label>
    </dt>
    <dd>
      <%= text_field_tag "login", "" %>
    </dd>
  </dl>

  <dl class="form-group">
    <dt>
      <label for="password">Password</label>
    </dt>
    <dd>
      <%= password_field_tag "password", GitHub.default_password %>
    </dd>
  </dl>
  <p class="note">Did you <%= link_to "forget your password", password_reset_path, class: "Link--inTextBlock" %>?</p>

  <%= hidden_field_tag :return_to, redeem_coupon_url(@coupon.code) %>

  <% if GitHub.default_password %>
    <p class="note">
      <strong>Tip:</strong>
      The default password for all users in development is
      <strong><%= GitHub.default_password %></strong>
    </p>
  <% end %>

  <button type="submit" class="btn mt-2" id="signup_button" data-disable-with="Signing In…">Sign in</button>
<% end %>
