<% tag_name = position != 'only' ? 'label' : 'div' %>
<% tag_class = "js-plan-row #{plan.name}-plan #{view.plan_selected(account, plan)}" %>
<% tag_class += position != 'only' ? " plan-choice js-plan-choice-label plan-choice-#{position}" : ' border p-4 rounded-2 mb-4' %>
<% tag_data = view.plan_row_data(account, plan) %>

<%= content_tag tag_name, class: tag_class, data: tag_data do %>
  <% if position != 'only' %>
    <input type="radio" class="plan-choice-radio js-choose-plan-radio" name="organization[plan]" value="<%= plan %>">
  <% end %>

  <% per_seat_pricing_model = view.per_seat_pricing_model(account, coupon) %>
  <% if plan.business? %>
    <h3 class="h4 mb-2"><%= branded_plan_name(plan, account_type: "Organization") %></h3>
    <p>
      $<%= per_seat_pricing_model.new_plan.cost %>/month for your first <%= pluralize(per_seat_pricing_model.new_plan.base_units, "user") %>.
      $<%=per_seat_pricing_model.new_plan.unit_cost %>/month for each additional user.
    </p>

    <p>Includes:</p>
    <ul style="list-style-position: inside">
      <li>Protected branches in private repositories</li>
      <li>Code owners in private repositories</li>
      <li>GitHub Pages in private repositories</li>
      <li>Multiple issue assignees in private repositories</li>
      <li>Multiple PR assignees in private repositories</li>
      <li>Repository insights</li>
      <li>Email support</li>
      <li>3,000 minutes for GitHub Actions</li>
      <li>2GB of storage for packages</li>
    </ul>

    <p class="mt-2 mb-4"><a href="<%= GitHub.help_url %>/articles/github-s-products#github-team">Learn more about GitHub Team</a></p>

    <ul class="billing-line-items js-payment-summary">
      <li class="billing-line-item">
        <div class="line-item-value">
          <%= per_seat_pricing_model.base_price.format %>/<%= account.plan_duration %>
        </div>
        <%= per_seat_pricing_model.new_plan.base_units %> base seats
      </li>
      <li class="billing-line-item <%= "d-none" if per_seat_pricing_model.additional_seats.zero? %> js-extra-seats-line-item">
        <div class="line-item-value">
          <span class="unstyled-additional-seats-price-obj"><%= per_seat_pricing_model.additional_seats_price.format %></span>/<span><%= account.plan_duration %></span>
        </div>
        <span class="unstyled-additional-seats"><%= per_seat_pricing_model.additional_seats %></span> additional seats
        @ <span class="unstyled-human-unit-price"><%= per_seat_pricing_model.human_unit_price %></span>
      </li>
      <% if account.data_packs > 0 %>
        <li class="billing-line-item">
          <div class="line-item-value">
            <span class="unstyled-data-packs-price"><%= per_seat_pricing_model.data_pack_change.renewal_price.format %></span>/<span><%= account.plan_duration %></span>
          </div>
          <span class="unstyled-data-packs-count"><%= pluralize(account.data_packs, "data pack") %></span>
          @ <span class="unstyled-data-packs-unit-price"><%= per_seat_pricing_model.data_pack_change.human_data_pack_unit_price %></span>
        </li>
      <% end %>
      <% if coupon && coupon.applicable_to?(plan) %>
        <li class="billing-line-item">
          <div class="line-item-value">
            &minus; <%= per_seat_pricing_model.coupon_discount_for_duration.abs.format %>/<%= account.plan_duration %>
          </div>
          Coupon
        </li>
      <% end %>
      <li class="billing-line-item billing-line-item-last <% unless coupon %>js-extra-seats-line-item <% end %>">
        <div class="line-item-value">
          <span class="unstyled-final-price-obj"><%= view.per_seat_pricing_model_renewal_price(account, coupon).format %></span>/<%= per_seat_pricing_model.plan_duration %>
        </div>
        <span class="unstyled-delta-seats"><%= per_seat_pricing_model.seats %></span> seats
      </li>
    </ul>
  <% elsif plan.business_plus? && account.is_a?(Business) %>
    <% enterprise_account_pricing_model = view.enterprise_account_pricing_model(account, coupon) %>

    <h3 class="mb-2 h4"><%= branded_plan_name(plan, account_type: "Enterprise") %></h3>
    <p>
      $<%= plan.unit_cost %>/month per user.
    </p>

    <p>Everything included in Team, plus:</p>
    <ul style="list-style-position: inside">
      <li>GitHub Enterprise Support</li>
      <li>Additional security, compliance, and deployment controls</li>
      <li>Authentication with SAML single sign-on</li>
      <li>Access provisioning with SAML or SCIM</li>
      <li>Deployment protection rules with GitHub Actions for private or internal repositories</li>
      <li>GitHub Connect</li>
      <li>The option to purchase GitHub Advanced Security</li>
      <li>50,000 GitHub Actions minutes per month</li>
      <li>50 GB GitHub Packages storage</li>
      <li>Centrally manage policy and billing for multiple organizations</li>
    </ul>

    <p class="mt-2 mb-4"><a href="<%= GitHub.help_url %>/articles/github-s-products#github-enterprise">Learn more about GitHub Enterprise</a></p>

    <ul class="billing-line-items js-payment-summary">
      <li class="billing-line-item">
        <div class="line-item-value">
          <%= enterprise_account_pricing_model.undiscounted.format %>/<%= account.plan_duration %>
        </div>
        <%= account.seats %> base seats
      </li>
      <% if coupon && coupon.applicable_to?(plan) %>
        <li class="billing-line-item">
          <div class="line-item-value">
            &minus; <%= enterprise_account_pricing_model.discount.abs.format %>/<%= account.plan_duration %>
          </div>
          Coupon
        </li>
      <% end %>
      <li class="billing-line-item billing-line-item-last <% unless coupon %>js-extra-seats-line-item <% end %>">
        <div class="line-item-value">
          <span class="unstyled-final-price-obj"><%= enterprise_account_pricing_model.discounted.format %></span>/<%= account.plan_duration %>
        </div>
        <span class="unstyled-delta-seats"><%= account.seats %></span> seats
      </li>
    </ul>
  <% else %>
    <div class="name">
      <strong><%= branded_plan_name(plan) %></strong>
    </div>
    <div class="plan-choice-exp">
      <% if plan.free? %>
        Free
      <% else %>
        <% if view.coupon %>
          <span class="default-currency">
            <strike><%= full_plan_pricing(account, plan) %></strike>
            <%= view.discounted_plan_pricing(account, plan) %>
          </span>
          <span class="local-currency">
            <strike><%= full_plan_pricing(account, plan) %></strike>
            <%= view.discounted_plan_pricing(account, plan) %>
          </span>
        <% else %>
          <span class="default-currency"><%= full_plan_pricing(account, plan) %></span>
          <span class="local-currency"><%= full_plan_pricing(account, plan) %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
