<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info title: "Redeem Coupon", class: "coupons" %>
<% trade_screening_error_data = trade_screening_cannot_proceed_error_data(target: current_user) %>

<% if current_user&.has_commercial_interaction_restriction? %>
  <div class="pt-4 container-lg p-responsive clearfix">
    <div style="margin: 100px auto 60px; padding: 20px; width: 480px; height: 480px;">
      <div class="mt-3 pt-3">
        <% if GitHub.flipper[:banner_migration].enabled?(current_user) %>
          <%= render(Primer::Alpha::Banner.new(icon: trade_screening_error_data[:icon], scheme: trade_screening_error_data[:scheme])) do %>
            <h5 class="h5">
              You can't proceed at this time
            </h5>
            <div class="ml-5">
              <%= trade_screening_error_data[:message] %>
            </div>
          <% end %>
        <% else %>
          <%= render(Primer::Beta::Flash.new(scheme: trade_screening_error_data[:scheme])) do %>
            <h5 class="h5">
              <%= render(Primer::Beta::Octicon.new(trade_screening_error_data[:icon])) %>
              You can't proceed at this time
            </h5>
            <div class="ml-5">
              <%= trade_screening_error_data[:message] %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="coupon-form-body">
    <div class="coupon-icon">
      <%= primer_octicon(:gift, :height => 48) %>
    </div>
    <%= form_tag find_coupon_path, :class => "js-find-coupon-form", :"aria-label" => "Redeem coupon" do %>
      <label class="d-block h2 mb-2" for="code">Enter coupon code</label>
      <input autocapitalize="off" autofocus class="form-control input-block" id="code" name="code" type="text">
      <input class="btn btn-primary" name="commit" type="submit" value="Redeem">
    <% end %>
  </div>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "billing" %>
<% end %>
