<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h2) do %>
      Copilot Access
    <% end %>
  <% end %>
  <% component.with_row do %>
   <%= render(Primer::Beta::Flash.new) do %>
    Copilot access is two-fold:<br>
      1. Users must have a subscription (free, paid, trial, or complimentary)<br>
      2. Users must have configured their settings (specifically Public Code Suggestions)
   <% end %>
  <% end %>
  <% component.with_row do %>
    <%= render Stafftools::Copilot::DetailComponent.new(
      "Can this user access Copilot?",
      copilot_auth_allowed,
      "Can they generate a token?",
    ) %>
  <% end %>
  <% component.with_row do %>
    <%= render Stafftools::Copilot::DetailComponent.new(
      copilot_auth_allowed ? "Reason For Access" : "Reason For Denial",
      copilot_auth_reason,
      "This is the reason for the user's #{ copilot_auth_allowed ? 'access' : 'denial' } to Copilot",
      label_scheme: copilot_auth_allowed ? :accent : :danger
    ) %>
  <% end %>

  <% if active_block %>
    <% component.with_row do %>
      <p class="mt-2">Blocked by <b>@<%= active_block.actor %></b> with reason: "<%= active_block.reason %>"</p>
    <% end %>
  <% end %>

  <% if partner_orgs.any? %>
    <% component.with_row do %>
      <%= render Stafftools::Copilot::DetailComponent.new(
        "Partner organizations",
        partner_orgs.join(", "),
        "This is the list of partner organizations that this user is a member of",
        label_scheme: :accent
      ) %>
    <% end %>
  <% end %>
  <% if !copilot_auth_allowed && copilot_auth_no_snippy_allowed %>
    <% component.with_row do %>
      <%= render Stafftools::Copilot::DetailComponent.new(
        "Does user have subscription?",
        copilot_auth_no_snippy_reason,
        "If their public code suggestions setting was configured, would this user have access?",
        label_scheme: copilot_auth_no_snippy_allowed ? :accent : :danger
      ) %>
    <% end %>
  <% end %>
    <% component.with_row do %>
      <div class="d-flex flex-justify-between flex-items-center">
        <div class="pr-2">
          <div class="d-flex flex-items-start flex-items-center">
            <label for="" class="mr-2" <%= test_selector("copilot-detail-analytics-tracking-id") %>>
              Analytics Tracking ID
            </label>
          </div>
        </div>
        <div class="d-flex flex-justify-end position-relative" <%= test_selector("copilot-detail-analytics-tracking-id-value") %>>
          <p class="note">
            <span id="blob-path"><%= copilot_user.user_object.analytics_tracking_id %></span>
            <%= render(Primer::Beta::ClipboardCopy.new(for: "blob-path", "aria-label": "Copy text to the system clipboard")) %>
          </p>
        </div>
      </div>
    <% end %>
  <% if last_usage_detail.present? %>
    <% component.with_row do %>
      <div class="d-flex flex-justify-between flex-items-center">
        <div class="pr-2">
          <div class="d-flex flex-items-start flex-items-center">
            <label for="" class="mr-2" <%= test_selector("copilot-detail-last-access") %>>
              Last Access
            </label>
          </div>
          <p class="note">
            Last time they interacted with Copilot
          </p>
        </div>
        <div class="d-flex flex-justify-end position-relative" <%= test_selector("copilot-detail-last-access-value") %>>
          <p class="note">
            <strong>Time:</strong> <%= last_usage_detail.updated_at.iso8601 %>
            <br>
            <strong>Editor:</strong> <%= last_usage_detail.editor_details.to_s %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
  <% component.with_row do %>
    <%= render(Primer::Beta::ButtonGroup.new(size: :small)) do |component| %>
      <% component.with_button(tag: :a, target: "_blank", href: data_dot_token_generations_link) { "Token Generations" } %>
      <% component.with_button(tag: :a, target: "_blank", href: kusto_details_link) { "All Copilot Activity (Kusto)" } %>
    <% end %>
  <% end %>
<% end %>
<br>
