<% if copilot_access %>
  <li <%= test_selector("copilot-access-detail-has-access") %>>
      <%= primer_octicon(:check, color: :success) %> Copilot Access<br>(<%= reason %>)
  </li>
  <li>
    <% if allow_public_code_suggestions %>
      <%= primer_octicon(:check, color: :success, test_selector: "copilot-access-details-allow-public-code-suggestions") %> Allow Public Code Suggestions
    <% else %>
      <%= primer_octicon(:"circle-slash", color: :danger, test_selector: "copilot-access-details-block-public-code-suggestions") %> Block Public Code Suggestions
    <% end %>
  </li>
  <li>
    <% if telemetry_enabled %>
      <%= primer_octicon(:check, color: :success, test_selector: "copilot-access-details-telemetry-enabled") %> Telemetry Enabled
    <% else %>
      <%= primer_octicon(:"circle-slash", color: :danger, test_selector: "copilot-access-details-telemetry-disabled") %> Telemetry Disabled
    <% end %>
  </li>
<% else %>
  <li <%= test_selector("copilot-access-detail-no-access") %>>
    <%= primer_octicon(:"circle-slash", color: :danger) %> No Copilot Access<br>(<%= reason %>)
  </li>
<% end %>
