<div class="boxed-group-inner"><%# erblint:disable DeprecatedCustomCss %>
  <div class="js-details-container Details">
  <%= render Primer::Beta::Button.new(href: "#", scheme: :danger, mt: 2, classes: "boxed-action js-details-target", "aria-expanded": "false") do %><%# erblint:disable DeprecatedCustomCss %>
    <%= blocked? ? "Allow" : "Block" %> Access
  <% end %>
    <h4><%= blocked? ? "Allow" : "Block" %> Copilot Access</h4>
    <p>
      <%= blocked? ? "This will remove the administrative block for this user." : "This will block Copilot access for this user." %>
      See <%= link_to "this document", "https://github.com/github/heart-services/blob/main/docs/copilot-in-dotcom/administrative-blocks.md", class: "Link--inTextBlock" %>
      for guidance on adding and removing blocks.
    </p>

    <div class="inline-confirm">
      <% if !blocked? && user_is_trusted? %>
        <%= render(Primer::Alpha::Banner.new(scheme: :danger)) do %>
          This user is in the most trusted <%= link_to "trust tier", "https://thehub.github.com/support/process/trust/tier-calculations/#trusted-tier-1", class: "Link--inTextBlock" %>.
          Be cautious about blocking this user unless you are doing so to prevent or respond to a Copilot incident.
        <% end %>
      <% end %>

      <% if !blocked? && copilot_user.hammy? %>
        <%= render(Primer::Alpha::Banner.new(scheme: :danger)) do %>
          This user has been marked <%= link_to "hammy", "https://github.com/github/glossary/blob/42d44aba4899538bca18df33d90771fe13a244ca/README.md#hammy-hamflagged-whitelisted-account", class: "Link--inTextBlock" %>.
          Be cautious about blocking this user unless you are doing so to prevent or respond to a Copilot incident.
        <% end %>
      <% end %>

      <%= form_tag stafftools_user_copilot_administrative_block_path(copilot_user.user_object.display_login), method: :put do %>
        <% if !blocked? %>
          <%= render Stafftools::Copilot::BlockTypeComponent.new %>
        <% end %>
        <% if blocked? %>
          <%= render Stafftools::Copilot::UnblockPaymentMethodComponent.new %>
        <% end %>
        <dl class="form-group" id="user_block_notes_container">
          <dt class="mt-3">
            <label for="user_block_reason">Reason</label>
          </dt>
          <dd>
            <input type="text" id="user_block_reason" name="reason" class="form-control input-block js-prevent-keyboard-submit">
          </dd>
          <div class="form-actions">
            <%= render(Primer::Beta::Button.new(id: "block_btn", scheme: :danger, type: :submit)) do |c| %>
              <%= blocked? ? "Allow" : "Block" %> Copilot Access
            <% end %>
          </div>
        </dl>
      <% end %>
    </div>
  </div>
</div>
