<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h2) do %>
      <%= Copilot.business_product_name %> Seats
    <% end %>
  <% end %>
  <% seats.each do |seat|%>
    <% if seat.owner.is_a? ::Organization %>
      <% copilot_organization = Copilot::Organization.new(seat.owner) %>
      <% component.with_row do %>
        <div class="d-flex flex-justify-between flex-items-center">
          <div class="pr-2">
            <div class="d-flex flex-items-start flex-items-center">
              <label for="" class="mr-2" <%= test_selector("copilot-seat-#{seat.id}") %>>
                <%= seat.owner.display_login %> <%= render(Primer::Beta::Link.new(href: stafftools_user_copilot_settings_path(seat.owner.display_login), target: "_blank")) do %>
                  <%= render(Primer::Beta::Octicon.new(:"link-external", size: :xsmall)) %>
                <% end %>
              </label>
            </div>
            <p class="note" <%= test_selector("copilot-seat-details-#{seat.id}") %>>
              Seat Assignment Type: <%= seat.seat_assignment.assignable_type %><br>
              Seat License: <%= copilot_organization.copilot_plan.capitalize %>
              <% if seat.pending_cancellation_date %>
                <br>Pending Cancellation: <%= seat.pending_cancellation_date %>
              <% end %>
            </p>
          </div>
          <div class="d-flex flex-justify-end position-relative" <%= test_selector("copilot-seat-snippy-#{seat.id}") %>>
            <p class="note">
              <%= render(Primer::Beta::Label.new(scheme: copilot_organization.block_public_code_suggestions? ? :danger : :success)) { copilot_organization.block_public_code_suggestions? ? "Blocking Public Code Suggestions" : "Allowing Public Code Suggestions" } %>
            </p>
          </div>
        </div>
      <% end %>
    <% elsif seat.owner.is_a? ::Business %>
      <% copilot_business = Copilot::Business.new(seat.owner) %>
      <% component.with_row do %>
        <div class="d-flex flex-justify-between flex-items-center">
          <div class="pr-2">
            <div class="d-flex flex-items-start flex-items-center">
              <label for="" class="mr-2" <%= test_selector("copilot-seat-#{seat.id}") %>>
                <%= copilot_business.name %> <%= render(Primer::Beta::Link.new(href: stafftools_copilot_path(copilot_business), target: "_blank")) do %>
                  <%= render(Primer::Beta::Octicon.new(:"link-external", size: :xsmall)) %>
                <% end %>
              </label>
            </div>
            <p class="note" <%= test_selector("copilot-seat-details-#{seat.id}") %>>
              Seat Assignment Type: <%= seat.seat_assignment.assignable_type %>
              <% if seat.pending_cancellation_date %>
                <br>Pending Cancellation: <%= seat.pending_cancellation_date %>
              <% end %>
            </p>
          </div>
          <div class="d-flex flex-justify-end position-relative" <%= test_selector("copilot-seat-snippy-#{seat.id}") %>>
            <p class="note">
              <%= render(Primer::Beta::Label.new(scheme: copilot_business.block_public_code_suggestions? ? :danger : :success)) { copilot_business.block_public_code_suggestions? ? "Blocking Public Code Suggestions" : "Allowing Public Code Suggestions" } %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<br>
