  <div class="d-flex flex-justify-between flex-items-center">
    <div class="pr-2">
      <div class="d-flex flex-items-start flex-items-center">
        <label for="" class="mr-2" <%= test_selector("copilot-detail-#{name.to_s.parameterize}-name") %>>
          <%= name %>
        </label>
      </div>
      <% if note.present? %>
        <p class="note" <%= test_selector("copilot-detail-#{name.to_s.parameterize}-note") %>>
          <%= note %>
        </p>
      <% end %>
    </div>
    <div class="d-flex flex-justify-end position-relative" <%= test_selector("copilot-detail-#{name.to_s.parameterize}") %>>
      <%
        # in this check, we want to know what the value is to show a prettier representation of it.
        # If it is a boolean, we don't want to show "TRUE" or "FALSE", we want to show a circle with a check or a circle with a cross.
        # If it is a time, we want to show the time in a human-readable format.
        # If it is a User, we want to have a link and show their login.
        if value.class == TrueClass || value.class == FalseClass
      %>
        <%= render Primer::Beta::Octicon.new(
          icon: (value ? "check-circle-fill" : "x-circle-fill"),
          color: (value ? :success : :danger),
          test_selector: "copilot-detail-#{name.to_s.parameterize}-#{value.to_s.parameterize}"
        )%>
      <% elsif value.class == ActiveSupport::TimeWithZone %>
        <%= time_ago_in_words_js(value) %>
      <% elsif value.class == User %>
        <%= render(Primer::Beta::Link.new(href: stafftools_user_path(value.display_login))) do %>
          <%= value.display_login %>
        <% end %>
      <% elsif label_scheme.present? %>
        <%= render(Primer::Beta::Label.new(scheme: label_scheme)) { value } %>
      <% else %>
         <%= value %>
      <% end %>
    </div>
  </div>
