<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h2) do %>
      Editor Notifications
    <% end %>
  <% end %>
  <% editor_notifications.each do |notification| %>
    <% component.with_row do %>
      <div class="d-flex flex-justify-between flex-items-center">
        <div class="pr-2">
          <div class="d-flex flex-items-start flex-items-center">
            <label for="" class="mr-2">
              <%= notification.friendly_name %>
            </label>
          </div>
            <p class="note">
              Sent <%= time_ago_in_words_js(notification.created_at) %>
            </p>
        </div>
        <div class="d-flex flex-justify-end position-relative">
            <% if notification.acknowledged? %>
              <%= render(Primer::Beta::Label.new(scheme: :success)) do %>
                <%= notification.acknowledged_at.to_date %>
              <% end %>
            <% else %>
              <%= render(Primer::Beta::Label.new(scheme: :primary)) { "Not Acknowledged" } %>
            <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<br>
