
<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h2) do %>
      Email notifications
    <% end %>
  <% end %>

  <% component.with_row do %>
    <% if can_toggle? %>
        <div class="d-flex flex-justify-between flex-items-center">
        <%= form_tag @submit_path, method: :put do %>
          <% unless opted_out? %>
            <p>Disabling will suspend <b>ALL</b> Copilot email notifications!</p>
          <% end %>
          <%= render(Primer::Beta::Button.new(scheme: button_type, type: :submit)) do |c| %>
            <%= opt_out_behavior_msg %>
          <% end %>
        <% end %>
        <%= render(Primer::Beta::Label.new(scheme: opted_out? ? :danger : :success)) { opted_out? ? "disabled" : "enabled" } %>
      </div>
    <% else %>
      <%= render Stafftools::Copilot::DetailComponent.new(
        "Email notifications for this organization can only be changed at the enterprise level",
        opted_out? ? "Disabled" : "Enabled",
        nil,
        label_scheme: opted_out? ? :danger : :success
      ) %>
      <br>
      <%= link_to stafftools_copilot_path(@entity.business) do %>
        View settings for <%= @entity.business.slug %>
      <% end %>
    <% end %>
  <% end %>

<% end %>
<br>


