<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h2) do %>
      Copilot Free Subscription
    <% end %>
  <% end %>
  <% component.with_row do %>
    <%= render(Primer::Beta::Flash.new) do %>
      <p class="text-bold">Hello Hubbers 👋🏼!!</p>
      <p>Please don't share free user qualification information with customers! We reserve the right to change the qualifications at any time. This information should be for <span class="text-bold">internal use only</span>.</p>
    <% end %>
  <% end %>
  <% if free_user.present? %>
    <% component.with_row do %>
      <%= render Stafftools::Copilot::DetailComponent.new(
        "Has Free Copilot Access?",
        has_free_access ? true : (free_user.subscribed? ? "No" : "Not Claimed"),
        "Does this user access Copilot for free? (They must qualify AND claim the free subscription.)",
        label_scheme: has_free_access ? :success : :danger
      ) %>
    <% end %>
    <% component.with_row do %>
      <%= render Stafftools::Copilot::DetailComponent.new(
        "Free User Type",
        free_user.free_user_type,
        "How they qualified for free Copilot access.",
        label_scheme: :success
      ) %>
    <% end %>
    <% if free_user.type.coupon_based %>
      <% component.with_row do %>
        <%= render Stafftools::Copilot::DetailComponent.new(
          "Coupon Giving Access",
          coupon.present? ? coupon.code : "Unknown",
          "What is the code for the coupon that qualified them?",
          label_scheme: :success,
        ) %>
      <% end %>
      <% component.with_row do %>
        <%= render Stafftools::Copilot::DetailComponent.new(
          "Coupon Redemption Expiration",
          coupon.present? ? coupon_expiration_date.to_s : "Unknown",
          "When does the user's redemption of this coupon expire?",
          label_scheme: coupon.present? ? (coupon.expires_at.to_date > Date.today + 1.week ? :success : :warning) : :danger,
        ) %>
      <% end %>
    <% elsif free_user.type == Copilot::FreeUser::ENGAGED_OSS %>
      <% if engaged_oss_user.present? %>
        <% component.with_row do %>
          <%= render Stafftools::Copilot::DetailComponent.new(
            "Engaged OSS Repository",
            engaged_oss_user.engaged_oss_repository.present? ? engaged_oss_user.engaged_oss_repository.repository.nwo : "None",
            "User has the '#{engaged_oss_user.role}' role in this repository"
          ) %>
        <% end %>
      <% else %>
        <% component.with_row(scheme: :warning, align_items: :center, font_weight: :emphasized) do %>
          NOTE: This user's Engaged OSS role has been removed or the repository has lost access.
        <% end %>
      <% end %>
    <% end %>

    <% component.with_row do %>
      <%= render Stafftools::Copilot::DetailComponent.new(
        "Next Free Qualification Check",
        free_user.next_check_at.to_s,
        "When will this user's free access be rechecked?",
        label_scheme: free_user.next_check_at > Date.today + 1.week ? :success : :warning,
      ) %>
    <% end %>
    <% unless free_user.subscribed? %>
      <% component.with_row do %>
        <%= render(Primer::Beta::Flash.new) do %>
          <p class="text-bold">Note:</p>
          <p>This user needs to visit <%= link_to copilot_free_signup_path, GitHub.url + copilot_free_signup_path, class: "Link--inTextBlock" %> and signup.</p>
        <% end %>
      <% end %>
    <% end %>

  <% else %>
    <% component.with_row do %>
      <%= render Stafftools::Copilot::DetailComponent.new(
        "Has Free Copilot Access?",
        "No",
        "Does this user access Copilot for free? (They must qualify AND claim the free subscription.)",
        label_scheme: :danger
      ) %>
    <% end %>
    <% if copilot_user.free_user_blocked? %>
      <% component.with_row do %>
        <%= render Stafftools::Copilot::DetailComponent.new(
          "Would this user qualify if they tried?",
          "No",
          "A staff member has blocked this user from qualifying for free access.",
          label_scheme: :danger,
        ) %>
      <% end %>
    <% else %>
      <% component.with_row do %>
        <%= render Stafftools::Copilot::DetailComponent.new(
          "Would this user qualify if they tried?",
          would_have_free_access? ? "Yes, #{would_have_free_access_reason}" : "No",
          "If this user went to /free_signup would they get free access?",
          label_scheme: would_have_free_access? ? :success : :danger,
        ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
