<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%
  days = ["Day"] + 1.upto(31).map { |n| [n, n] }
  months = ["Month"] + 1.upto(12).map { |n| [n, n] }
  years = ["Year"] + 2019.upto(2025).map { |n| [n, n] }
%>
<div class="boxed-group-inner"><%# erblint:disable DeprecatedCustomCss %>
  <div class="js-details-container Details">
    <div style="float: right;">
      <%= form_tag stafftools_user_copilot_settings_path(copilot_user.user_object.display_login), method: free_user.present? ? :delete : :post do %>
        <%= render(Primer::Alpha::Dialog.new(
          title: (free_user.present? ? "Remove" : "Grant") + " free access",
          size: :xlarge,
          dialog_id: "copilot-free-access",
          align: :left,
        )) do |dialog| %>
          <% if free_user.present? %>
            <% dialog.with_show_button(scheme: :danger, test_selector: "remove_free_access_button") do %>
              Remove Free Access
            <% end %>

            <% dialog.with_body do %>
              <fieldset>
                <% if free_user.type.coupon_based %>
                  <%= render(Primer::Beta::Flash.new(scheme: :warning)) do %>
                    <p class="text-bold">NOTE: This user's free access is based on a coupon.</p>
                    <p>We will <em class="text-bold">remove the FreeUser record</em> and <em class="text-bold">set a feature flag</em> that will block them from using their coupon to get free access.</p>
                  <% end %>
                <% end %>
                <div class="my-2">
                  <label class="text-bold" for="copilot-remove-access-textarea">Reason for removing access</label>
                  <textarea class="form-control input-block" id="copilot-remove-access-textarea" name="remove_access_reason_explanation" required></textarea>
                </div>
              </fieldset>
            <% end %>

            <% dialog.with_footer(show_divider: true) do %>
              <%= render(Primer::Beta::Button.new(id: "remove_btn", scheme: :danger, type: :submit)) do |c| %>
                Remove
              <% end %>
            <% end %>
          <% else %>
            <% dialog.with_show_button(scheme: :danger, test_selector: "grant_free_access_button") do %>
              Grant Free Access
            <% end %>

            <% dialog.with_header(show_divider: true) do %>
              <%= render(Primer::Beta::Heading.new(tag: :h4)) { "Grant Free Access To #{copilot_user.display_login}" } %>
            <% end %>

            <% dialog.with_body do %>
              <p class="text-bold">Reason for granting free access:</p>
              <fieldset>
                <div class="my-2">
                  <%= radio_button_tag "complimentary_access_reason", "y_combinator", false, required: true, class: "mr-1 mb-1 js-free-access-reason", id: "reason_y_combinator" %>
                  <%= label_tag "reason_y_combinator", "YCombinator User (One Year)", class: "f5 text-normal" %>
                </div>
                <div class="my-2">
                  <%= radio_button_tag "complimentary_access_reason", "complimentary_access", false, required: true, class: "mr-1 mb-1 js-free-access-reason", id: "reason_complimentary_access" %>
                  <%= label_tag "reason_complimentary_access", "Complimentary Access", class: "f5 text-normal" %>
                </div>
                <div id="y_combinator_details" hidden>
                  <hr role="separator">
                  <%= render(Primer::Beta::Flash.new) do %>
                    <p class="text-bold">YCombinator users get a year of free access to Copilot from when they sign up.</p>
                    <p>This user's access will end on <%= 1.year.from_now.to_date %>.</p>
                  <% end %>
                </div>
                <div id="complimentary_access_details" class="mr-1 mb-1" hidden>
                  <hr role="separator">
                  <p class="text-bold">Duration of free access</p>
                  <fieldset>
                    <div class="my-2">
                      <%= radio_button_tag "complimentary_access_duration", "unlimited", false, required: true, class: "mr-1 mb-1 js-complimentary-access-duration", id: "complimentary_access_duration_unlimited" %>
                      <%= label_tag "duration_unlimited", "Unlimited - this user's free access will never expire", class: "f5 text-normal" %>
                    </div>
                    <div class="my-2">
                      <%= radio_button_tag "complimentary_access_duration", "specified", false, required: true, class: "mr-1 mb-1 js-complimentary-access-duration", id: "complimentary_access_duration_specified" %>
                      <%= label_tag "duration_specified", class: "f5 text-normal" do %>
                        Ends On <%= select_tag "complimentary_access_duration_month", options_for_select(months), class: "form-control input-sm", required: true %><%= select_tag "complimentary_access_duration_day", options_for_select(days), class: "form-control input-sm", required: true %><%= select_tag "complimentary_access_duration_year", options_for_select(years), class: "form-control input-sm", required: true %>
                      <% end %>
                    </div>
                    <hr role="separator">
                    <div class="my-2">
                      <label class="text-bold" for="copilot-complimentary-access-textarea">Reason for this complimentary access</label>
                      <textarea class="form-control input-block" id="copilot-complimentary-access-textarea" name="complimentary_access_reason_explanation"></textarea>
                    </div>
                  </fieldset>
                </div>
                <% if has_active_subscription? %>
                  <hr>
                  <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
                    Note: This user has an active<%= has_trial_subscription? ? " trial " : " " %>subscription which will be cancelled.
                  <% end %>
                <% end %>
              </fieldset>
            <% end %>

            <% dialog.with_footer(show_divider: true) do %>
              <%= render(Primer::Beta::Button.new(id: "submit_btn", scheme: :danger, type: :submit)) do |c| %>
                Grant
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <h4>Copilot Free Access</h4>
    <p>
      Manage free access to Copilot for a user.
    </p>
  </div>
</div>
