<% if copilot_organization.on_free_trial? %>
  <li>
    Copilot Trial Enabled
  </li>
<% else %>
  <li>
    <% if copilot_organization.has_copilot_for_business? %>
      <%= primer_octicon(:check) %>
    <% else %>
      <%= primer_octicon(:x) %>
    <% end %>
    <%= copilot_organization.copilot_enablement_setting %>
  </li>
<% end %>
<li>
  <%= primer_octicon(:gear) %> <%= link_to "View settings", stafftools_user_copilot_settings_path(organization.display_login) %>
</li>
