<% if copilot_seats.total_entries > 0 %>
  <table class="site-admin-table" style="white-space:nowrap; overflow:hidden;">
    <tr>
      <th>Assigned User</th>
      <th>Assignment Type</th>
      <th>Created At</th>
      <th>Last Activity At</th>
      <% if can_be_canceled %>
        <th>Pending Cancellation Date</th>
      <% end %>
      <th>Actions</th>
    </tr>
    <% copilot_seats.each do |copilot_seat| %>
      <%
        user = copilot_seat.assigned_user
        blocks = administrative_blocks[user.id]
        blocked = blocks.present? && blocks.any? { |block| block.active? }
        warned = blocks.present? && blocks.any? { |block| block.warned? }
        revoked = blocks.present? && blocks.any? { |block| block.revoked? }

        # title = "Warned by @#{block.actor} on #{block.created_at.strftime("%b %-d, %Y")}",
        #   "Warned",
        #   block.reason,
      %>
      <tr>
        <td>
          <%= user.display_login %>
          <% if blocks.present? %>
            <% if blocked %>
              <%= render Primer::Beta::Label.new(scheme: :severe, title: "Blocked") do %>
                B
              <% end %>
            <% elsif warned %>
              <%= render Primer::Beta::Label.new(scheme: :danger, title: "Warned") do %>
                W
              <% end %>
            <% elsif revoked %>
              <%= render Primer::Beta::Label.new(scheme: :done, title: "Revoked") do %>
                R
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td><%= copilot_seat.seat_assignment.assignable_type %></td>
        <td><%= copilot_seat.created_at.to_date %></td>
        <td><%= copilot_seat.latest_activity_at %></td>
        <% if can_be_canceled %>
          <td><%= copilot_seat.pending_cancellation_date %></td>
        <% end %>
        <td>
          <%= render(Primer::Beta::Link.new(href: stafftools_user_copilot_settings_path(user.display_login), target: "_blank", title: "View User", muted: true, id: "user-link-#{user.id}")) do |component| %>
            <% component.with_tooltip(text: "Copilot page for #{user.display_login}") %>
            <%= render(Primer::Beta::Octicon.new(:"link-external")) %>
          <% end %>
          &nbsp;
          <% if can_be_canceled %>
            <% if copilot_seat.pending_cancellation_date %>
              <%= render Stafftools::Copilot::UncancelSeatComponent.new(
                copilot_seat,
                copilot_seat.seat_assignment,
                copilot_seat.next_metered_billing_cycle_starts_at.to_date - 1.day,
              ) %>
            <% else %>
              <%= render Stafftools::Copilot::CancelSeatComponent.new(
                copilot_seat,
                copilot_seat.seat_assignment,
                copilot_seat.next_metered_billing_cycle_starts_at.to_date - 1.day,
              ) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="paginate-container">
    <%= will_paginate copilot_seats %>
  </div>
  <br>
  <%= render Primer::Beta::Label.new(scheme: :severe, title: "Blocked") do %>
    B
  <% end %> = Administrative Blocked
  <%= render Primer::Beta::Label.new(scheme: :danger, title: "Warned") do %>
    W
  <% end %> = Warned
  <%= render Primer::Beta::Label.new(scheme: :done, title: "Revoked") do %>
    R
  <% end %> = Administrative Block Revoked

<% else %>
  No assigned seats
<% end %>
