<%= render(Primer::Beta::BorderBox.new(padding: :condensed, mt: 4)) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h2) do %>
      Copilot Plan
    <% end %>
  <% end %>
  <% component.with_row do %>
    <% if copilot_entity.is_a?(::Copilot::Business) && copilot_mixed_licenses_enabled? %>
      <%= render Stafftools::Copilot::DetailComponent.new(
        "Current Plan",
        "Mixed Licenses",
        "",
        label_scheme: :success
      ) %>
    <% else %>
      <%= render Stafftools::Copilot::DetailComponent.new(
        "Current Plan",
        copilot_mixed_licenses_enabled? ? "Mixed Licenses: #{current_copilot_plan.capitalize}" : current_copilot_plan.capitalize,
        copilot_entity.pending_plan_downgrade_date ? "Scheduled to be downgraded to Copilot Business on #{copilot_entity.pending_plan_downgrade_date}" : "",
        label_scheme: copilot_entity.pending_plan_downgrade_date ? :warning : :success
      ) %>
    <% end %>
  <% end %>
  <% if can_update_copilot_plan? %>
    <% component.with_row do %>
      <%= render(Primer::Alpha::Dialog.new(
        title: "Update Copilot Plan",
        subtitle: "",
        id: "update-copilot-plan-#{copilot_entity.id}",
        size: :xlarge,
      )) do |d| %>
        <% d.with_show_button(scheme: :secondary, title: "Update Copilot Plan", display: :flex, ml: :auto) do %>
          Update Copilot Plan
        <% end %>
        <% d.with_body do %>
          <div class="d-flex flex-justify-between flex-items-center ">
            <div class="pr-2">
              <div>
                <% if current_copilot_plan == "enterprise" && !copilot_entity.pending_plan_downgrade_date %>
                  <%= form_tag update_copilot_plan_path, :method => :post do %>
                    <%= hidden_field_tag :plan, candidate_copilot_plan, id: "update_copilot_plan_#{candidate_copilot_plan}" %>
                    <%= hidden_field_tag :schedule, true, id: "update_copilot_plan_schedule_#{candidate_copilot_plan}" %>
                    <%= render(Primer::Alpha::Banner.new(scheme: :warning)) do %>
                      This will schedule the Copilot Plan to be downgraded to Business at the end of the billing cycle.
                    <% end %>
                    <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger, id: "copilot-plan-update-button", test_selector: "copilot-plan-update-button")) do %>
                      Schedule Copilot Plan Downgrade to Copilot <%= candidate_copilot_plan.capitalize %>
                    <% end %>
                  <% end %>
                  <hr>
                <% end %>
                <%= form_tag update_copilot_plan_path, :method => :post do %>
                  <%= hidden_field_tag :plan, candidate_copilot_plan, id: "update_copilot_plan_#{candidate_copilot_plan}" %>
                  <%= render(Primer::Alpha::Banner.new(scheme: :danger)) do %>
                    This will update the Copilot Plan immediately. Copilot access and billing will change right now, instead of at the end of the billing cycle.
                  <% end %>
                  <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger, id: "copilot-plan-update-button", test_selector: "copilot-plan-update-button")) do %>
                    Update Copilot Plan to Copilot <%= candidate_copilot_plan.capitalize %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
