<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h2, test_selector: "copilot-seat-emissions") do %>
      Copilot Seat Emissions (<%= seat_emissions.total_entries %>)
    <% end %>
  <% end %>
  <% component.with_row do %>
    <table class="width-full px-1 mt-n1 boxed-group-table"><%# erblint:disable DeprecatedCustomCss %>
      <tr>
        <th>Occurred At</th>
        <th>Quantity</th>
        <th>Emission</th>
      </tr>
      <% seat_emissions.each do |seat_emission| %>
        <tr>
          <td><%= seat_emission.occurred_at %></td>
          <td><%= seat_emission.quantity %></td>
          <td>
            <%= render Primer::Beta::Details.new do |component| %>
              <% component.with_summary do %>
                Emission
              <% end %>
              <% component.with_body do %>
                <%= render(Primer::Beta::Markdown.new) do %>
                <dl>
                  <% seat_emission.emission.keys.each do |key| %>
                    <dt><%= key %></dt>
                    <dd><%= seat_emission.emission[key] %></dd>
                  <% end %>
                </dl>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <% component.with_footer do %>
    <div class="paginate-container">
      <%= will_paginate(seat_emissions, param_name: "seat_emissions_page", "aria-label": "Seat emissions pagination") %>
    </div>
  <% end %>
<% end %>
<br>
