<% if copilot_seat_assignments.total_entries > 0 %>
  <table class="site-admin-table" style="white-space:nowrap; overflow:hidden;">
    <tr>
      <th>Type</th>
      <th>Assignable</th>
      <th>Direct Seat Count</th>
      <th>Assignable Count</th>
      <th>Created</th>
      <th>Cancellation Date</th>
      <th>Actions</th>
    </tr>
    <% copilot_seat_assignments.each do |assignment| %>
      <tr>
        <td>
          <%= assignment.assignable_type %>
        </td>
        <td>
          <%= assignment.assignable_display_name %>
        </td>
        <td>
          <%= assignment.seat_count %>
        </td>
        <td>
          <%= assignment.assignable_count %>
        </td>
        <td>
          <span id="created_at_<%= assignment.id %>"> <%= assignment.created_at %></span>
          <%= render(Primer::Alpha::Tooltip.new(for_id: "created_at_#{assignment.id}", type: :description, text: "Created by #{assignment.assigning_user.display_login}", direction: :ne)) %>
        </td>
        <td>
          <%= assignment.pending_cancellation_date %>
        </td>
        <td>
          <%= render(Primer::Beta::Link.new(href: stafftools_enterprise_team_path(business.slug, assignment.assignable), target: "_blank", title: "View Team", muted: true, id: "team-link-#{assignment.assignable_id}")) do |component| %>
            <% component.with_tooltip(text: "Enterprise Team page for #{assignment.assignable_display_name}") %>
            <%= render(Primer::Beta::Octicon.new(:"link-external")) %>
          <% end %>
          &nbsp;
          <% unless assignment.pending_cancellation_date %>
            <%= render Stafftools::Copilot::StandaloneCancelSeatAssignmentComponent.new(
                assignment,
                business.next_metered_billing_cycle_starts_at.to_date - 1.day
              )
            %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="paginate-container">
    <%= will_paginate copilot_seat_assignments %>
  </div>
<% else %>
    This enterprise has no assigned seats.
<% end %>
