<%# erblint:counter DeprecatedInPrimerCounter 6 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%= form_tag survey_responses_path, method: :post, 'aria-labelledby': 'nominate_form', class: 'js-nominate-form', novalidate: true do %>
  <p class="text-normal text-mono f5-mktg mt-2 mb-6">Required fields are indicated with an asterisk (*)</p>

  <%
    return_to = if controller.action_name == "show"
      "#{request.path}?submitted"
    else
      "#{readme_index_path}?submitted"
    end
  %>

  <%= hidden_field_tag :return_to, return_to %>
  <%= hidden_field_tag :slug, Site::Readme::NominationSurvey::SLUG %>

  <%
    nominator_question = survey.questions.find do |question|
      question.short_text == "nominator_user_id"
    end

    nominator_choice = nominator_question.choices.first
  %>

  <%= hidden_field_tag "answers[#{nominator_question.id}][choice]", nominator_choice.id %>
  <%= hidden_field_tag "answers[#{nominator_question.id}][other][#{nominator_choice.id}]", current_user.try(:id) %>

  <%
    text_box_question_data = {
      nominee_name: {
        label: "Nominee’s name",
        placeholder: "Mona Lisa Octocat"
      },
      nominee_login: {
        label: "Nominee’s GitHub profile",
        placeholder: "github.com/monatheoctocat"
      },
      nominee_project: {
        label: "Project link",
        placeholder: "github.com/monatheoctocat/atom"
      }
    }
  %>

  <% text_box_question_data.each do |question_key, question_data| %>
    <%
      question = survey.questions.find { |question| question.short_text == question_key.to_s }
      choice = question.choices.first
    %>

    <div class="position-relative readme-input-container mb-6">
      <input
        type="hidden"
        name="<%= "answers[#{question.id}][choice]" %>"
        id="<%= "answers_#{question.id}_choice" %>"
        value="<%= choice.id %>"
        class="form-control"
      >

      <label
        class="text-normal text-mono f5-mktg d-block mb-3 color-text-white readme-input-label"
        for="<%= "answers_#{question.id}_other#{choice.id}" %>"
      >
        <%= question_data[:label] %>&nbsp;*
      </label>

      <input
        aria-describedby="question-required-<%= question.id %>"
        type="text"
        name="<%= "answers[#{question.id}][other]#{choice.id}" %>"
        id="<%= "answers_#{question.id}_other#{choice.id}" %>"
        placeholder="<%= question_data[:placeholder] %>"
        required
        value=""
        class="readme-input border-top-0 border-left-0 border-right-0 d-block width-full border-bottom color-text-white pb-2"
      >

      <span class="readme-input-border position-relative width-full d-block color-bg-default z-1"></span>

      <p id="question-required-<%= question.id %>" class="text-normal text-mono f5-mktg fgColor-danger mt-2 mb-0 d-none js-error">This field is required. Please fill it out.</p>
    </div>
  <% end %>

  <%
    nominee_roles_data = {
      open_source_maintainer: "Open source maintainer",
      open_source_contributor: "Open source contributor",
      developer: "Developer",
      open_source_team: "Open source team"
    }

    nominee_roles_question = survey.questions.find { |question| question.short_text == "nominee_role" }
  %>

  <fieldset class="position-relative readme-input-container mb-6">
    <legend class="text-normal text-mono f5-mktg d-block mb-3 color-text-white readme-input-label">
      Your nominee is a/an (check all that apply):
    </legend>

    <div class="d-md-flex flex-wrap">
      <% nominee_roles_data.each do |nominee_role_key, nominee_role_label| %>
        <%
          nominee_roles_choice = nominee_roles_question.choices.find do |choice|
            choice.short_text == nominee_role_key.to_s
          end
        %>

        <div class="position-relative col-md-6">
          <input
            type="checkbox"
            name="<%= "answers[#{nominee_roles_question.id}][choices][]" %>"
            id="<%= "answers_#{nominee_roles_question.id}_choices[#{nominee_roles_choice.id}]" %>"
            value="<%= nominee_roles_choice.id %>>"
            class="d-block position-absolute top-0 left-0 width-full height-full z-1 readme-checkbox"
          >

          <label
            for="<%= "answers_#{nominee_roles_question.id}_choices[#{nominee_roles_choice.id}]" %>"
            class="d-inline-block text-normal text-mono f5-mktg mb-3 color-text-white v-align-top readme-checkbox-label"
          >
            <%= nominee_role_label %>
          </label>
        </div>
      <% end %>
    </div>
  </fieldset>

  <%
    nominee_reason_question = survey.questions.find { |question| question.short_text == "nominee_reason" }
    nominee_reason_choice = nominee_reason_question.choices.first
  %>

  <div class="position-relative readme-input-container mb-6">
    <input
      type="hidden"
      name="<%= "answers[#{nominee_reason_question.id}][choice]" %>"
      id="<%= "answers_#{nominee_reason_question.id}_choice" %>"
      value="<%= nominee_reason_choice.id %>"
      class="form-control"
    >

    <label
      for="<%= "answers_#{nominee_reason_question.id}_other#{nominee_reason_choice.id}" %>"
      class="text-normal text-mono f5-mktg d-block mb-3 color-text-white readme-input-label"
    >
      Tell us about this person and project. How have they helped you or others? Are they subject matter experts in their field? Please provide as much detail as possible.&nbsp;*
    </label>

    <textarea
      aria-describedby="answer-required-<%= nominee_reason_question.id %>"
      name="<%= "answers[#{nominee_reason_question.id}][other]#{nominee_reason_choice.id}" %>"
      id="<%= "answers_#{nominee_reason_question.id}_other#{nominee_reason_choice.id}" %>"
      required
      class="readme-textarea d-block width-full border color-text-white pb-2"
    ></textarea>

    <p id="answer-required-<%= nominee_reason_question.id %>" class="text-normal text-mono f5-mktg fgColor-danger mt-2 mb-0 d-none js-error">This field is required. Please fill it out.</p>
  </div>

  <button type="submit" data-ga-click="ReadME Stories, click, ref_page:<%= request.fullpath %>;ref_cta:Submit;ref_loc:Nominate a maintainer" class="border-0 text-uppercase color-bg-default py-3 px-4 font-alt-mktg" style="letter-spacing:1px;">Submit</button>
<% end %>
