<%# erblint:counter DeprecatedInPrimerCounter 3 %>
<% page_info \
  title: "Nominate a developer or maintainer · The ReadME Project",
  description: "",
  class: "readme-project header-overlay",
  richweb: {
    title: "Nominate a developer or maintainer · The ReadME Project",
    url: request.original_url,
    description: "Nominate inspiring open source developers and projects you think we should include in The ReadME Project (it could be you!).",
    image: image_path("modules/site/social-cards/readme-project.jpg")
  }
%>

<div class="js-details-container">
  <div class="overflow-hidden width-full">
    <div class="position-relative d-flex flex-column flex-items-center font-mktg pt-11 pt-md-12 readme-bg-black">
      <%= render "site/readme/shared/bg_pattern" %>

      <div class="position-relative py-6 pt-lg-9">
        <a href="<%= readme_index_path %>" aria-label="ReadME Project Homepage" aria-label="The ReadME Project" class="d-inline-block">
          <%= svg("modules/site/readme/readme-logo-lockup", height: 50, width: 132, class: "d-block color-text-white", aria_hidden: true) %>
        </a>
      </div>

      <div class="js-build-in" data-build-margin-bottom="75">
        <%= render "site/readme/shared/navbar_dropdown" %>
        <%= render(Site::Readme::Shared::NavComponent.new(force_cache_miss: force_readme_cache_miss?)) %>

        <div class="position-relative">
          <div class="p-responsive-readme">
            <div class="position-relative container-readme rounded-2 py-6 py-md-9 px-lg-6">
              <div class="position-relative container-readme mx-auto d-lg-flex gutter-lg">
                <div class="col-lg-5">
                  <h1 class="h2-mktg lh-condensed-mktg color-text-white font-alt-mktg" style="font-weight: 400 !important" id="nominate_form">
                    Nominate a developer
                  </h1>

                  <p class="f2-mktg text-normal color-text-white mt-5 mt-md-6">
                    We’re always on the lookout for inspiring developers who passionately dedicate themselves to their communities. Know somebody whose story deserves to be told? Let us know, and they could end up being featured on The ReadME Project.
                  </p>
                </div>

                <div class="col-lg-6 offset-lg-1 mt-6 mt-lg-0 color-text-white">
                  <%= render "site/readme/nominate/form", survey: survey %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
