<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "New potential sponsorship of #{potential_sponsorable}", selected_link: :potential_sponsorships %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h1) do %>Log a potential sponsorship of <%= potential_sponsorable %><% end %>
  <% end %>

  <% if any_prior_acknowledged_potential_sponsorships %>
    <%= render Primer::Beta::Flash.new(scheme: :warning, icon: :alert, test_selector: "other-potential-sponsorships") do %>
      We've already encouraged this <%= potential_sponsorable.user? ? "user" : "organization" %> to sign up for
      Sponsors and they dismissed the banner. Are you sure you want to show another banner to them?
    <% end %>
  <% end %>

  <% unless potential_sponsorable.eligible_for_nudging_to_sign_up_for_sponsors? %>
    <%= render Primer::Beta::Flash.new(scheme: :warning, icon: :alert) do %>
      Are you sure you want to encourage this <%= potential_sponsorable.user? ? "user" : "organization" %>
      to sign up for GitHub Sponsors?
    <% end %>
    <ul class="list-style-none mb-3">
      <% unless potential_sponsorable.public_repositories.where(parent_id: nil).any? %>
        <li>
          <%= render Primer::Beta::Label.new(scheme: :danger).with_content("R") %>
          No public repositories that aren't forks
        </li>
      <% end %>
      <% if potential_sponsorable.created_at >= SponsorsListingStafftoolsMetadata::NEW_ACCOUNT_AGE_CUTOFF_IN_DAYS.days.ago %>
        <li>
          <%= render Primer::Beta::Label.new(scheme: :danger).with_content("A") %>
          Signed up for GitHub recently
        </li>
      <% end %>
      <% if potential_sponsorable.received_abuse_reports.any? %>
        <li>
          <%= render Primer::Beta::Label.new(scheme: :warning).with_content("A") %>
          Has received an abuse report
        </li>
      <% end %>
      <% if potential_sponsorable.user? %>
        <% if potential_sponsorable.time_zone_name.blank? %>
          <li>
            <%= render Primer::Beta::Label.new(scheme: :warning).with_content("T") %>
            No time zone
          </li>
        <% elsif !potential_sponsorable.sponsors_supported_time_zone? %>
          <li>
            <%= render Primer::Beta::Label.new(scheme: :danger).with_content("T") %>
            Time zone (<%= potential_sponsorable.time_zone_name %>) is not in a supported country
          </li>
        <% end %>
      <% end %>
      <% unless SponsorsListingStafftoolsMetadata.profile_customized_for_sponsors?(potential_sponsorable.profile) %>
        <li>
          <%= render Primer::Beta::Label.new(scheme: :danger).with_content("P") %>
          Has not customized GitHub profile page
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= render Stafftools::Sponsors::PotentialSponsorshipFormComponent.new(
    potential_sponsorship: potential_sponsorship,
    potential_sponsorable: potential_sponsorable,
  ) %>
<% end %>
