<div class="Box-row d-flex flex-justify-between">
  <div>
    <a href="<%= devtools_experiment_path(experiment.name) %>">
      <%= experiment.name %>
    </a>
    <% if experiment.running_too_long? %>
      <%= render Primer::Beta::Label.new(scheme: :danger, ml: 1, title: "Label: Running Too Long") do %>
        Running Too Long
      <% end %>
    <% end %>
  </div>
  <div>
    <% if experiment.mismatches? %>
      <%= render Primer::Beta::Label.new(scheme: :warning, ml: 1, title: "Label: Mismatches Count") do %>
        <%= experiment.total_mismatches %> Mismatches
      <% end %>
    <% end %>
    <span class="text-small">Runs for <%= experiment.percent %>% of calls</span>
  </div>
</div>
