<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info title: "Experiments", selected_link: :experiemnts %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_experiments_path %>">Experiments</a>
<% end %>

<nav class="subnav" aria-label="Add a new experiment">
  <a href="<%= new_devtools_experiment_path %>" class="btn btn-primary float-right" role="button">
    New experiment
  </a>

  <p class="lead">
    These experiments are running now. Don’t forget that experiments can hurt site performance!
    <a class="Link--inTextBlock" href="https://thehub.github.com/engineering/development-and-ops/dotcom/scientist/#how-to-science">
      Read the docs
    </a> to learn more about this process.
  </p>
</nav>

<div id="experiments">
  <div class="tabnav">
    <nav class="tabnav-tabs" aria-label="Experiments">
      <a class="tabnav-tab" href="<%= devtools_experiments_path(active: true) %>" <% if active %>aria-current="page"<% end %>>Active Experiments</a>
      <a class="tabnav-tab" href="<%= devtools_experiments_path(active: false) %>" <% if !active %>aria-current="page"<% end %>>Inactive Experiments</a>
    </nav>
  </div>

  <% if experiments.present? %>
    <% experiments.each do |experiment| %>
      <%= render partial: "devtools/experiments/experiment", locals: { experiment: experiment } %>
    <% end %>
  <% else %>
    <%= render Primer::BlankslateComponent.new(
      icon: "squirrel",
      title: "Welcome to Experiments!",
      large: true,
      spacious: true,
    ) do %>
      <p class="lead">
        There currently aren't any experiments meeting the given criteria. Don’t forget that experiments can hurt site performance!
        <a class="Link--inTextBlock" href="https://engineering-guide.githubapp.com/content/engineering/development-and-ops/experiment-flags/">
          Read the docs
        </a> to learn more about this process.
      </p>
    <% end %>
  <% end %>
</div>
