<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<% page_info :title => "New experiment" %>

<% content_for :pagehead_path do %>
  / <a href="<%= devtools_experiments_path %>">Experiments</a>
  / <strong>New experiment</strong>
<% end %>

<div class="Box">
  <div class="Box-header d-flex flex-items-center">
    <h3 class="Box-title flex-auto"> New experiment</h3>
  </div>

  <div class="Box-body">
    <%= form_for experiment, url: devtools_experiments_path, :method => :post do |f| %>
      <div class="form-group">
          <p class="note">If your experiment is going to be running for a long time (more than 2 weeks), we suggest you prefix it with "long_running" (e.g long_running_tags_experiment) so a warning is not displayed.</p>
        <div class="form-group-header">
          <%= f.label :name %>
        </div>
        <div class="form-group-body">
          <%= f.text_field :name, size: 30, autofocus: true %>
        </div>
          <p class="note">This will be the slug for your experiment flag. No spaces or numerals allowed, use "-" or "_" for multi-word names.</p>
        <% if experiment.errors[:name] %>
          <p class="color-fg-danger"><%= experiment.errors[:name].join %></p>
        <% end %>
      </div>

      <p class="form-actions">
        <%= submit_tag "Add experiment", :class => "btn btn-primary" %>
        <a href="<%= devtools_experiments_path %>" class="btn">Cancel</a>
      </p>
    <% end %>
  </div>
</div>
