<% page_info title: "Copilot Usage Metrics" %>
<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading(tag: :h2) do %>Copilot Organization Usage Metrics<% end %>
<% end %>
<%= render(Primer::Beta::Button.new(
  tag: :a,
  href: stafftools_user_copilot_usage_metrics_path(this_user, format: :json),
  target: "_blank",
)) do |_c| %>
  View As JSON
<% end %>
<br>
<% details.each do |detail| %>
  <%= render Primer::Beta::Details.new do |c| %>
    <% c.with_summary(button: false) do %>
      <%= detail[:day] %>
    <% end %>
    <% c.with_body do %>
      <table class="width-full boxed-group-table">
        <thead>
          <tr>

            <th>Editor</th>
            <th>Language</th>
            <th>Suggestions Count</th>
            <th>Acceptances Count</th>
            <th>Lines Suggested</th>
            <th>Lines Accepted</th>
            <th>Active Users</th>
            <th>Chat Acceptances</th>
            <th>Chat Turns</th>
            <th>Active Chat Users</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>All</th>
            <th>All</th>
            <td><%= detail[:total_suggestions_count] %></td>
            <td><%= detail[:total_acceptances_count] %></td>
            <td><%= detail[:total_lines_suggested] %></td>
            <td><%= detail[:total_lines_accepted] %></td>
            <td><%= detail[:total_active_users] %></td>
            <td><%= detail[:total_chat_acceptances] %></td>
            <td><%= detail[:total_chat_turns] %></td>
            <td><%= detail[:total_active_chat_users] %></td>
          </tr>
          <% detail[:breakdown].each do |metric| %>
            <tr>
              <td><%= metric[:editor] %></td>
              <td><%= metric[:language] %></td>
              <td><%= metric[:suggestions_count] %></td>
              <td><%= metric[:acceptances_count] %></td>
              <td><%= metric[:lines_suggested] %></td>
              <td><%= metric[:lines_accepted] %></td>
              <td><%= metric[:active_users] %></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>



    <% end %>
  <% end %>

<% end %>
