<div class="col-12 col-md-6 <%= @column_class %> d-flex float-left mb-5 mb-lg-0">
  <%= render(Primer::Beta::Link.new(
    href: @href,
    underline: false,
    bg: :subtle,
    p: [3, nil, 5, nil, nil],
    w: :full,
    h: :full,
    display: :flex,
    direction: :column,
    justify_content: :space_between,
    classes: "rounded resource-card arrow-target-mktg",
    data: analytics_click_attributes(**analytics)
  )) do %>
    <div class="clearfix mb-4">
      <div class="d-flex flex-justify-center flex-items-center circle p-3 float-left <%= @icon_theme %>">
        <%= render(Primer::Beta::Octicon.new(@icon, size: :medium, system_arguments: { font_weight: :bold })) %>
      </div>
    </div>
    <h3
      class="f3-mktg color-fg-default text-semibold mb-3"
      <%= test_selector("customer-stories-card-link-heading") %>
    >
      <%= @heading %>
    </h3>
    <p class="color-fg-default"><%= @body %></p>

    <div class="color-fg-default text-semibold mt-7">
      Learn more <span class="sr-only">about <%= @heading %></span>
      <%= svg("modules/site/icons/chevrow.svg") %>
    </div>
  <% end %>
</div>
