<li
  data-targets="testimonials-carousel.carouselItems"
  data-action="
    touchstart:testimonials-carousel#onTouchStart
    touchend:testimonials-carousel#onTouchEnd
  "
  class="customer-story-testimonial list-style-none mx-4"
  <%= "data-testimonial-active" if @active %>
  <%= test_selector "testimonial-profile" %>
>
  <figure class="m-0">
    <div class="customer-story-testimonial__image overflow-hidden border rounded-2">
      <%= render Site::ContentfulImageComponent.new(
      src: @profile[:url],
      height: 475,
      width: 370,
      alt: @profile[:description].present? ? @profile[:description] : "Profile picture of #{@profile[:title]}"
      ) %>
    </div>

    <blockquote class="customer-story-testimonial__quote f2-mktg mb-3 clearfix" <%= test_selector "testimonial-quote" %>>
      <span class="customer-story-testimonial__marker float-left lh-default" aria-hidden="true">“</span>
      <span class="clear-left float-left">
        <%= @testimonial[:quote] %>
      </span>
    </blockquote>

    <figcaption>
      <p class="mb-1">
        <strong>
          <%= @testimonial[:name] %>
        </strong>
      </p>
      <p class="text-mono">
        <%= @testimonial[:position] %>
        <% if @testimonial[:company].present? %>
          @ <%= @testimonial[:company] %>
        <% end %>
      </p>
    </figcaption>
  </figure>
</li>
