<%= render(Primer::Beta::Link.new(
  classes: "customer-story-card arrow-target-mktg rounded overflow-hidden no-underline Link--outlineOffset",
  position: :relative,
  mb: 6,
  display: :flex,
  direction: :column,
  w: :full,
  href: customer_story_path(@story[:url]),
)) do %>
  <div class="customer-story-card__background rounded overflow-hidden mb-5" <%= test_selector("story-preview") %>>
    <% if logo %>
      <div class="position-absolute top-3 left-3 d-flex flex-items-center" style="height: 40px">
        <img
          class="<%= class_names("height-auto width-full z-2 customer-story__logo", "customer-story__logo--colored" => @story[:keep_logo_color]) %>"
          src="<%= logo %>"
          alt=""
          loading="lazy"
          decoding="async"
        >
      </div>
    <% end %>

    <%= render Site::ContentfulImageComponent.new(
      src: @story[:hero_image_url],
      width: 1350,
      height: 900,
      classes: "customer-story-card__image width-full height-full",
      alt: "",
      sizes: "(max-width: 1240px) 30vw, 365px"),
      lazy: false
    %>
  </div>

  <%= preview_label if @story[:preview_story] %>

  <p class="f3-mktg color-fg-default text-semibold" <%= test_selector("story-lead") %>><%= @story[:lead] %></p>

  <div class="f4-mktg mt-auto text-semibold">
    Read the story <span aria-hidden="true"><%= svg("site/icons/chevrow.svg", class: "octicon") %></span>
  </div>
<% end %>
