<div <%= test_selector("customer-story-card")%> class="py-2 py-sm-4 mb-4 col-md-4">
  <a
    href="<%= customer_story_path(@story[:url]) %>"
    class="no-underline d-block rounded-1 Link--outlineOffset"
  >
    <span class="sr-only">Read more about <%= @story[:title] %>&apos;s customer story</span>
    <div class="mb-4 position-relative">
      <div style="height: 268px">
        <%= render Site::ContentfulImageComponent.new(src: @story[:hero_image_url], width: 1200, height: 1400, classes: "d-block width-full height-full object-fit-cover rounded-2", alt: "", sizes: "(max-width: 755px) 90vw, 40vw")  %>
      </div>
      <% if @story[:video_src] %>
        <div <%= test_selector("customer-story-card-video-icon") %> class="position-absolute top-0 right-0 mt-2 mr-2">
          <span
            class="d-inline-block rounded p-2 mx-auto"
            style="background-color: rgba(0,0,0,0.5);"
          >
            <%= render(Primer::Beta::Octicon.new(
              icon: "device-camera-video",
              display: :block,
              color: :on_emphasis,
            )) %>
          </span>
        </div>
      <% end %>
    </div>
    <h3 <%= test_selector("customer-story-card-title") %> class="f4-mktg color-fg-muted pb-2" aria-hidden="true"><%= preview_label if @story[:preview_story] %> <%=@story[:title]%></h3>
    <p <%= test_selector("customer-story-card-lead") %> class="h6-mktg color-fg-default py-1 pb-sm-4 text-semibold" aria-hidden="true"><%=@story[:lead]%></p>
    <p class="f4 d-block d-sm-inline no-underline text-semibold arrow-target-mktg color-fg-accent" aria-hidden="true">
      Read story <%= svg("site/icons/chevrow.svg", class: "octicon") %>
    </p>
  </a>
</div>
