<%# This inline SVG allows us to use Octicons with linear-gradient backgrounds. %>
<svg aria-hidden="true" height="0" width="0" class="position-absolute" <%= test_selector("highlighted-story-svg") %>>
  <defs>
    <% if @dark %>
      <linearGradient id="highlight-gradient-dark">
        <stop offset="0%" stop-color="#D2A8FF"/>
        <stop offset="40%" stop-color="#F778BA"/>
        <stop offset="100%" stop-color="#FF7B72"/>
      </linearGradient>
    <% else %>
      <linearGradient id="highlight-gradient-light">
        <stop offset="0%" stop-color="#8250DF"/>
        <stop offset="40%" stop-color="#D42A32"/>
      </linearGradient>
    <% end %>
  </defs>
</svg>

<div
  class="d-flex position-relative <%= @classes %>"
  data-color-mode="<%= @dark ? "dark" : "light" %>"
  data-dark-theme="dark"
  <%= @dark ? test_selector("story-highlight-dark") : test_selector("story-highlight-light") %>
>
  <%= render Site::ImageComponent.new(
    src: image_path("modules/site/customer-stories/highlighted-story-background.png"),
    width: 35,
    height: 42,
    classes: "position-absolute top-0 left-0 bottom-0 width-full height-full customer-story-img-cover",
    alt: "",
    sizes: ""
  ) if @dark %>

  <% circle_class_name = class_names(
    "position-absolute top-0 bottom-0 d-flex flex-items-center flex-justify-center customer-stories__fact-icon",
    "customer-stories__fact-icon--dark" => @dark,
    "customer-stories__fact-icon--light color-bg-inset circle" => !@dark,
  ) %>

  <dl class="position-relative d-flex flex-column flex-justify-between my-0 ml-3 ml-lg-0">
    <% @last_highlight = @highlights.last %>
    <% @highlights.each.with_index do |highlight, index| %>

      <% next unless ["Problem", "Solution"].include?(highlight[:name]) %>

      <dt <%= test_selector("highlighted-story-highlight") %> class="position-relative color-fg-default pl-5 pl-lg-7 mb-2 text-semibold <%= 'h3' if @large_names %>">
        <% icon = highlight[:name] == "Problem" ? :"issue-opened" : :"issue-closed" %>
        <span class="<%= circle_class_name %>">
          <%= render(Primer::Beta::Octicon.new(icon: icon, size: @icon_size)) %>
        </span>

        <%= highlight[:name] %>
      </dt>
      <dd class="story-highlights-richtext color-fg-muted pb-5 pl-5 pl-lg-7 mb-1 border-left">
        <%= helpers.contentful_customer_stories_rich_text(highlight[:value]) %>
      </dd>
    <% end %>

    <dt <%= test_selector("highlighted-story-highlight") %> class="position-relative color-fg-default pl-5 pl-lg-7 mb-2 <%= 'h3' if @large_names %>">
      <span class="<%= circle_class_name %>">
        <%= render(Primer::Beta::Octicon.new(icon: :stack, size: @icon_size)) %>
      </span>
      <%= "Product".pluralize(@products) %>
    </dt>
    <dd class="story-highlights-richtext color-fg-muted pb-5 pl-5 pl-lg-7 mb-1 border-left color-fg-accent">
      <%= render(Primer::Alpha::OcticonSymbols.new(icons: [{ symbol: "arrow-up-right" }])) %>
      <ul>
        <%# Enterprise / Teams need to appear first %>
        <% if @products.include?("GitHub Enterprise") %>
          <li class="mb-2">
            <%= link_to "GitHub Enterprise", @product_paths["GitHub Enterprise"], class: "story-highlights-richtext__products link-mktg" %>
            <%= render(Primer::Beta::Octicon.new(:"arrow-up-right", color: :accent, use_symbol: true)) %>
          </li>
        <% end %>
        <% if @products.include?("GitHub Team") %>
          <li class="mb-2">
            <%= link_to "GitHub Team", @product_paths["GitHub Team"], class: "story-highlights-richtext__products link-mktg" %>
            <%= render(Primer::Beta::Octicon.new(:"arrow-up-right", color: :accent, use_symbol: true)) %>
          </li>
        <% end %>

        <% @products.map do |product| %>
          <% next if ["GitHub Enterprise", "GitHub Team"].include?(product) %>
          <li class="mb-2">
            <%= link_to product, @product_paths[product], class: "story-highlights-richtext__products link-mktg" %>
            <%= render(Primer::Beta::Octicon.new(:"arrow-up-right", color: :accent, use_symbol: true)) %>
          </li>
        <% end %>
      </ul>
    </dd>
  </dl>
</div>
