<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% button_classes = "customer-stories-testimonials__direction circle flex-justify-center flex-items-center" %>

<testimonials-carousel>
  <%= render Site::SectionComponent.new do %>
    <div class="col-lg-12 d-lg-flex">
      <div class="col-lg-4" aria-live="polite" aria-atomic="true">
        <h3 id="testimonial-heading" class="h4-mktg mb-5">
          Here's what software leaders have to say about GitHub
          <span class="sr-only">Testimonials from our developers.</span>
        </h3>

        <p class="text-bold">
          <span aria-hidden="true" data-target="testimonials-carousel.currentDisplay">1 / <%= @testimonials.length %></span>
          <span class="sr-only" data-target="testimonials-carousel.currentAnnounce">1 of <%= @testimonials.length %></span>
        </p>
      </div>

      <div class="col-lg-7">
        <div class="width-full position-relative" data-target="testimonials-carousel.container">
          <%= render Primer::ButtonComponent.new(
            classes: "#{button_classes} customer-stories-testimonials__direction--prev",
            "data-target": "testimonials-carousel.prevButton",
            "data-action": "click:testimonials-carousel#moveToPrev",
            display: :flex,
            position: :absolute,
            border: true,
            bg: :default,
            disabled: true,
            aria: { label: "View previous testimonial" }
          ) do %>
            <%= render Primer::Beta::Octicon.new(icon: "arrow-left", color: :default) %>
          <% end %>

          <div class="width-full overflow-hidden">
            <ul data-target="testimonials-carousel.carousel" class="customer-stories-testimonials" <%= test_selector("testimonials-carousel") %>>
              <% @testimonials.each_with_index do |testimonial, index| %>
              <%= render Site::Contentful::CustomerStories::CarouselCardComponent.new(testimonial, (index == 0)) %>
              <% end %>
            </ul>
          </div>

          <%= render Primer::ButtonComponent.new(
            classes: "#{button_classes} customer-stories-testimonials__direction--next",
            "data-target": "testimonials-carousel.nextButton",
            "data-action": "click:testimonials-carousel#moveToNext",
            display: :flex,
            position: :absolute,
            border: true,
            bg: :default,
            disabled: true,
            aria: { label: "View next testimonial" }
          ) do %>
            <%= render Primer::Beta::Octicon.new(icon: "arrow-right") %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</testimonials-carousel>
