<div
  class="customer-story-testimonial js-story-testimonial d-flex my-5 my-lg-7 <%= 'customer-stories-body__breakout mb-7' if @profile %>"
>
  <% if @profile %>
    <div class="col-lg-4 mr-7 d-none d-lg-block" <%= test_selector("profile") %>>
      <div class="customer-story-testimonial__image">
        <%= render Site::ContentfulImageComponent.new(
          src: @profile.url,
          height: 490,
          width: 385,
          classes: "rounded-2",
          alt: @profile.description.present? ? @profile.description : "Profile picture of #{@profile.title}",
        ) %>
      </div>
    </div>
  <% end %>

  <div
    class="d-flex flex-column flex-justify-center position-relative <%= 'col-lg-7' if @profile %>"
  >
    <div
      <%= test_selector("quote") %>
      class="customer-story-testimonial__quote js-story-testimonial-quote f2-mktg flex-column d-flex mb-lg-4"
    >
      <div class="customer-story-testimonial__marker lh-default" aria-hidden="true">“</div>
      <%= @testimonial.quote %>
    </div>

    <p>
      <div class="text-bold d-inline">
        <%= @testimonial.name %>
      </div>
    </p>

    <p class="text-mono mb-4">
      <%= @testimonial.position %>
      <% if @testimonial.company.present? %>
        @ <%= @testimonial.company %>
      <% end %>
    </p>

    <%# hidden until we have the correct url param for the link %>
    <a
      target="_blank"
      hidden
      href="https://twitter.com/intent/tweet?text=<%= @encoded_tweet %>"
      class="color-fg-subtle js-testimoniial-tweet mt-3 <%= 'position-lg-absolute bottom-0 mt-lg-0 mb-3' if @profile %>"
    >
      <img src="<%= image_path "modules/site/icons/footer/twitter.svg" %>" height="16" width="20" class="d-block" loading="lazy" decoding="async" alt="">
      <div class="sr-only">Tweet <%= @testimonial.name %>'s quote about working with GitHub</div>
    </a>
  </div>
</div>
