<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<%= render Primer::Beta::Flash.new(py: 5, border: :bottom, classes: "js-notice", "data-ga-load": "Successors, see-add-admin-banner") do %>
  <div class="container-lg d-flex <%= responsive? ? "p-responsive" : "px-3" %>">
    <div class="col-8">
      <p class="f4">Ensure the future of your work!<br>Consider adding another owner to this organization.</p>
      <p class="color-fg-muted mb-4">
        <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/github/setting-up-and-managing-organizations-and-teams/maintaining-ownership-continuity-for-your-organization">Adding another organization owner</a> helps ensure the continuity of your work in case you are unable to access your account.
      </p>
      <a class="btn btn-primary" data-ga-click="Successors, view-org-members" href="<%= org_people_path(organization) %>">View organization members</a>
    </div>
    <div class="col-4 text-center">
      <%= form_tag dismiss_org_notice_path(organization), method: :delete, class: "js-notice-dismiss" do %>
        <input type="hidden" name="input[organizationId]" value="<%= organization.id %>">
        <input type="hidden" name="input[notice]" value="add_successor_prompt">
        <%= render Primer::Beta::CloseButton.new(
          type: :submit,
          float: :right,
          "aria-label": "Hide this notice forever",
          "data-ga-click": "Successors, dismiss-add-admin-banner",
          color: :muted) %>
      <% end %>
      <%= render partial: "orgs/add_admin_icon" %>
    </div>
  </div>
<% end %>
