<% if view.show_top_languages? %>
  <%= cache_if view.cache_top_languages?, view.top_languages_cache_key, skip_digest: true, ttl: 8.hours do %>
    <div class="<%= class_names(
      "mb-3",
      "Box" => !view.render_org_overview?,
      "my-3 py-3 border-top" => view.render_org_overview?,
    ) %>">
      <div class="<%= "Box-body" unless view.render_org_overview? %>">
        <h4 class="f4 mb-2 text-normal">Top languages</h4>
        <% view.top_language_names.each do |language_name| %>
          <a class="no-wrap color-fg-muted d-inline-block Link--muted mt-2"
             href="<%= view.top_language_path(language_name) %>">
            <%= render(Languages::BadgeComponent.new(name: language_name, ml: 0, mr: 2)) %>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
