<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# `view` is an instance of Orgs::Repositories::IndexPageView %>
<%
org_header_title(view.organization)
page_info \
  title: view.page_title,
  description: this_organization_meta_description,
  richweb: {
    title: view.page_title,
    url: user_url(view.organization),
    description: this_organization_meta_description,
    image: view.organization_avatar_url(280),
    username: view.organization_login,
    type: "profile",
  },
  canonical_url: request.original_url
%>

<% content_for :site_banner do %>
  <%= render Billing::SalesTaxBannerComponent.new(account: view.organization, current_user: current_user) %>
<% end %>

<% content_for :site_banner do %>
  <%= render Organizations::NewTermsOfServiceRequiredComponent.new(organization: view.organization) %>
<% end %>

<%= render Organizations::UpgradeInitiatedNoticeComponent.new(organization: view.organization, viewer: current_user)%>

<%= render Organizations::UpgradeToEnterpriseAccountComponent.new(organization: view.organization, location: "index_overview") %>

<% if view.kicked_out_due_to_two_factor_enforcement? %>
  <%= render(Primer::Beta::Flash.new(full: true, scheme: :warning)) do %>
    <div class="container-lg px-3">
      <%= form_tag org_destroy_removed_member_notifications_path(view.organization), :method => :delete do %>
        <button class="flash-close" type="submit"><%= render Primer::Beta::Octicon.new(icon: "x", aria: { label: "Close" }) %></button>
      <% end %>
      You were removed from <%= view.organization.safe_profile_name %> organization because you do not have two-factor authentication enabled.
      <a class="Link--inTextBlock" href="<%= settings_security_url %>">Enable two factor authentication</a>.
    </div>
  <% end %>
<% end %>

<%= render Organizations::ArchivedNoticeComponent.new(organization: view.organization)%>

<% if view.removed_due_to_saml_enforcement? %>
  <%= render(Primer::Beta::Flash.new(full: true, scheme: :warning)) do %>
    <div class="container-lg px-3">
      <%= form_tag org_destroy_removed_member_notifications_path(view.organization), :method => :delete do %>
        <button class="flash-close" type="submit"><%= render Primer::Beta::Octicon.new(icon: "x", aria: { label: "Close" }) %></button>
      <% end %>
      You were removed from the <%= view.organization.safe_profile_name %> organization because you must
      <a class="Link--inTextBlock" href="<%= org_idm_sso_path(view.organization) %>">Single Sign-on</a> to be a member.
    </div>
  <% end %>
<% end %>

<%= render "orgs/identity_management/banner", organization: current_organization %>

<% if view.show_notification_restrictions_banner?  %>
  <% if GitHub.flipper[:notifications_async_verified_domain_banner].enabled?(current_user) %>
    <%= render(
      VerifiableDomains::NotificationBannerComponent.new(
        organization: current_organization,
        deferred: true,
      )
    ) %>
  <% else %>
    <%= render partial: "verifiable_domains/verified_domain_notification_banner", locals: { org: current_organization } %>
  <% end %>
<% end %>

<%= render Sponsors::Orgs::LowCreditBalanceComponent.new(
  sponsor: current_organization,
  active_invoiced_sponsors_agreement: current_organization.active_invoiced_sponsors_agreement?,
  container_size: :xl
) %>

<div itemscope itemtype="http://schema.org/Organization">
  <%= render partial: "orgs/index_header", locals: {
    layout_data: layout_data,
    view: create_view_model(
      Orgs::OverviewView,
      organization: view.organization,
      show_new_business_org_message: flash[:show_new_business_org_message].present?,
    ),
  } %>

  <%= render Profiles::Organization::LayoutComponent.new(
    layout_data: layout_data,
  ) do %>

    <% track_render_partial(
      "orgs/tabs/overview",
      ["org_profile_readme_enabled:true"]
    ) do %>
      <%= render partial: "orgs/tabs/overview",
          locals: { layout_data: layout_data } %>
    <% end %>

  <% end %>
</div>
