<div class="border-bottom color-border-muted pb-2 my-3 table-list-header-toggle d-flex flex-wrap" <%= test_selector "filter-component" %>>
  <%= form_tag search_by_handle_path,
    method: :get,
    class: "subnav-search ml-0 mr-2",
    "data-autosearch-results-container": "child-listings-results" do %>
    <div class="auto-search-group">
      <input class="form-control subnav-search-input input-contrast auto-search-input"
        type="search" name="handle" value="<%= filter[:handle] %>"
        placeholder="Filter by maintainer" aria-label="Filter by maintainer" autocomplete="off" data-throttled-autosubmit>
      <%= primer_octicon(:search) %>
      <%= render(Primer::Beta::Spinner.new(size: :small, classes: "spinner")) %>
    </div>
  <% end %>

  <div class="ml-1">
    <details class="details-reset details-overlay select-menu d-inline-block mb-2 mr-2">
      <%= render Primer::Beta::Button.new(tag: :summary, classes: "select-menu-button") do %>
        <span class="text-italic">State:</span>
        <%= selected_listing_state(filter[:state]) %>
      <% end %>

      <details-menu role="menu" class="select-menu-modal position-absolute right-0" style="z-index: 99;" preload><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-header">
          <span class="select-menu-title">Filter by state</span>
        </div>

        <div class="select-menu-list">
          <a href="?<%= listing_state_all_params.to_query %>" class="<%= class_names(
            "select-menu-item",
            "selected" => false,
          ) %>">
            <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
            <span class="select-menu-item-text">All</span>
          </a>

          <% listing_states.each do |state| %>
            <% action_option = listing_state_all_params.merge(state: state) %>
            <a href="?<%= action_option.to_query %>" class="<%= class_names(
              "select-menu-item",
              "selected" => false,
            ) %>">
              <%= render Primer::Beta::Octicon.new(icon: "check", classes: "select-menu-item-icon") %>
              <span class="select-menu-item-text"><%= state.to_s.humanize %></span>
            </a>
          <% end %>
        </div>
      </details-menu>
    </details>
  </div>
</div>
