<%= render Primer::Beta::BorderBox.new(padding: :condensed, mb: 2) do |component| %>
  <% component.with_header do %>
    <%= render(Primer::Beta::Heading.new(tag: :h3, classes: "Box-title", test_selector: "child-listings-count")) do %>
      Child Listings
      <%= render(Primer::Beta::Counter.new(count: child_listings_count)) %>
    <% end %>
  <% end %>

  <% component.with_body(p: 0) do %>
    <% if child_listings.empty? %>
      <p class="p-3 m-0 color-fg-muted">
        No child listings for this GitHub Sponsors member
      </p>
    <% else %>
      <table class="stafftools-table">
        <thead>
          <th class="no-wrap billing-table-cell">Maintainer</th>
          <th class="no-wrap billing-table-cell">State</th>
        </thead>
        <tbody>
          <% child_listings.each do |child_listing| %>
            <%
              child_sponsorable = child_listing.sponsorable
              hovercard_attrs = if child_sponsorable.organization?
                hovercard_data_attributes_for_org(login: child_sponsorable.display_login)
              else
                hovercard_data_attributes_for_user(child_sponsorable)
              end
              hovercard_attrs["turbo_frame"] = "_top"
            %>
            <tr <%= test_selector("child-listing-#{child_listing.id}") %>>
              <td>
                <%= link_to stafftools_sponsors_member_path(child_sponsorable), data: hovercard_attrs do %>
                  @<%= child_sponsorable %>
                  <% unless child_sponsorable.profile_name == child_sponsorable.login %>
                    <span class="ml-1 color-fg-muted text-small text-normal"><%= child_sponsorable.profile_name %></span>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to stafftools_sponsors_member_path(child_sponsorable), data: { turbo_frame: "_top" } do %>
                  <%= render Stafftools::Sponsors::Members::SponsorsListingStateComponent.new(listing: child_listing) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% if child_listings_pages > 1 %>
      <div class="paginate-container">
        <div class="pagination">
          <%= will_paginate child_listings, params: {
            member_id: sponsorable_login,
            controller: "stafftools/sponsors/members/child_listings",
            action: :index
          } %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
