<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info(title: "Sponsors waitlist queue") %>

<div class="f3 border-bottom">
  <div class="container-xl py-3">
    <%= primer_octicon(:rocket, vertical_align: :baseline) %>
    <a href="<%= stafftools_path %>">Site admin</a> /
    <a href="<%= stafftools_sponsors_members_path %>">GitHub Sponsors</a> /
    <a href="<%= stafftools_sponsors_waitlist_queue_index_path %>">
      Sponsors waitlist queue
    </a>
  </div>
</div>
<% if listing.present? %>
  <% sponsorable = listing.sponsorable %>
  <div class="border-bottom color-bg-subtle">
    <div class="container-xl py-2 d-flex flex-justify-between">
      <div class="d-flex flex-items-center">
        <a href="<%= stafftools_sponsors_member_path(sponsorable) %>"
          target="_blank"
          rel="noopener noreferrer"
          class="branch-name"
        >
          <%= sponsorable %>
        </a>
        <%= render Primer::Beta::ClipboardCopy.new(value: stafftools_sponsors_member_url(sponsorable), "data-copy-feedback": "Copied!", "aria-label": "Copy", color: :muted, classes: "Link--onHover", ml: 1) %>
      </div>
      <div class="d-flex flex-items-center flex-justify-end">
        <% if listings.total_pages > 1 %>
          <div class="BtnGroup" <%= test_selector("pagination") %>>
            <% if listings.current_page > 1 %>
              <%= link_to "<", stafftools_sponsors_waitlist_queue_index_path(page: current_page - 1), class: "btn BtnGroup-item", "data-pjax" => true, "data-hotkey" => "j" %>
            <% else %>
              <%= render Primer::ButtonComponent.new(disabled: true, group_item: true) do %>&lt;<% end %>
            <% end %>

            <% if listings.current_page < listings.total_pages %>
              <%= link_to ">", stafftools_sponsors_waitlist_queue_index_path(page: current_page + 1), class: "btn BtnGroup-item", "data-pjax" => true, "data-hotkey" => "k" %>
            <% else %>
              <%= render Primer::ButtonComponent.new(disabled: true, group_item: true) do %>&gt;<% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container-xl mt-4 d-flex flex-justify-between" <%= test_selector "membership-#{sponsorable}" %>>
    <div class="col-3 mr-4">
      <%= render "stafftools/sponsors/members/sidebar", sponsorable: sponsorable,
          sponsors_listing: listing %>
    </div>
    <div class="col-9">
      <%= render "stafftools/sponsors/members/membership",
            sponsorable: sponsorable,
            manual_criteria: manual_criteria %>
    </div>
  </div>
<% else %>
  <div class="container-lg mt-4">
    <%= render Primer::Beta::Blankslate.new(spacious: true, mb: 2) do |c| %>
      <% c.with_heading(tag: :h2) do %>
        Couldn't find any items in the queue.
      <% end %>
    <% end %>
  </div>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle :settings %>
<% end %>
