<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# rubocop:disable GitHub/ContentFor %>
<div class="Header js-details-container Details flex-wrap flex-md-nowrap p-responsive" role="banner" <%= test_selector(logged_in? ? "header-logged-in" : "header-logged-out") %>>
  <div class="Header-item d-none d-md-flex">
    <%= render partial: "site/header/gists/logo" %>
  </div>

  <div class="Header-item d-md-none">
    <%= render Primer::ButtonComponent.new(scheme: :link, classes: "Header-link js-details-target", "aria-label": "Toggle navigation", "aria-expanded": "false") do %>
      <%= primer_octicon(:"three-bars", size: :medium) %>
    <% end %>
  </div>

  <div class="Header-item Header-item--full js-site-search flex-column flex-md-row width-full flex-order-2 flex-md-order-none mr-0 mr-md-3 mt-3 mt-md-0 Details-content--hidden-not-important d-md-flex">
    <% unless hide_search? %>
      <%= render partial: "site/header/gists/search" %>
    <% end %>

    <%= render partial: "site/header/gists/links" %>
  </div>

  <div class="Header-item Header-item--full flex-justify-center d-md-none position-relative">
    <% if content_for?(:header_title) %>
    <div class="css-truncate css-truncate-target width-fit position-absolute left-0 right-0 text-center"><%= yield :header_title %></div>
    <% else %>
    <%= render partial: "site/header/gists/logo" %>
    <% end %>
  </div>

  <% if logged_in? %>
    <div class="Header-item">
      <%= render Site::Header::NotificationsButtonComponent.new(use_header_redesign: false) %>
    </div>

    <div class="Header-item mr-0 mr-md-1">
      <%= render(Primer::Beta::IconButton.new(
        icon: :plus,
        "aria-label": "Create new gist",
        tag: :a,
        href: new_gist_path,
        classes: "Header-link",
        size: :small,
        scheme: :invisible)) %>
    </div>

    <div class="Header-item position-relative mr-0 d-none d-md-flex" id="user-links">
      <%= render(Primer::Alpha::ActionMenu.new) do |menu| %>
        <% menu.with_show_button(
          scheme: :invisible,
          size: :small,
          classes: "Header-link",
          aria: {
            label: "View profile and more"
          },
          data: {
            "analytics-event": analytics_click_attributes(
              category: "Header",
              action: "go to profile",
              label: "text:Signed in as"
            )
          }) do |button|
          button.with_trailing_action_icon(icon: "triangle-down")
          avatar_for(current_user, 20, :class => "avatar")
        end %>
        <% menu.with_item(
            href: user_path(current_user),
            content_arguments: {
              data: {
                "analytics-event": analytics_click_attributes(
                  category: "Header",
                  action: "go to profile",
                  label: "text:Signed in as"
                )
              }
            }
          ) do %>
          Signed in as <%= render(Primer::Beta::Truncate.new(font_weight: :bold)) do |t| %>
            <% t.with_item(max_width: 300) { current_user.display_login } %>
          <% end %>
        <% end %>
        <% menu.with_divider %>
        <% menu.with_item(
            href: user_gists_path(current_user),
            content_arguments: {
              data: {
                "analytics-event": analytics_click_attributes(
                  category: "Header",
                  action: "go to your gists",
                  label: "text:your gists"
                )
              }
            }
          ) do %>
          Your gists
        <% end %>
        <% menu.with_item(
            href: user_starred_gists_path(current_user),
            content_arguments: {
              data: {
                "analytics-event": analytics_click_attributes(
                  category: "Header",
                  action: "go to starred gists",
                  label: "text:starred gists"
                )
              }
            }
          ) do %>
          Starred gists
        <% end %>
        <% menu.with_item(
            href: GitHub.help_url,
            content_arguments: {
              data: {
                "analytics-event": analytics_click_attributes(
                  category: "Header",
                  action: "go to help",
                  label: "text:help"
                )
              }
            }
          ) do %>
          Help
        <% end %>
        <% menu.with_divider %>
        <% menu.with_item(
            href: "#{GitHub.url}/#{current_user.to_param}",
            content_arguments: {
              data: {
                "analytics-event": analytics_click_attributes(
                  category: "Header",
                  action: "go to profile",
                  label: "text:your profile"
                )
              }
            }
          ) do %>
          Your GitHub profile
        <% end %>
        <% menu.with_divider %>
        <% menu.with_item(
            href: gist_logout_url,
            form_arguments: {
              method: :post
            },
            content_arguments: {
              data: {
                turbo: "false",
                "analytics-event": analytics_click_attributes(
                  category: "Header",
                  action: "sign out",
                  label: "text:sign out"
                )
              }
            }
          ) do %>
          Sign out
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="Header-item f4 mr-0" role="navigation" aria-label="Sign in or sign up">
      <%= link_to(
        gist_login_url(return_to: return_to_path),
        class: "Header-link no-underline mr-3",
        "data-ga-click": "Header, sign in",
        data: sign_in_link_data_attributes(location_in_page: "gist header")
      ) do %>
        Sign&nbsp;in
      <% end %>
      <% if GitHub.signup_enabled? %>
        <%= link_to(
          gist_signup_path(source: "header-gist", return_to: return_to_path),
          class: "Header-link d-inline-block no-underline border color-border-default rounded px-2 py-1",
          "data-ga-click": "Header, sign up",
          data: sign_up_link_data_attributes(location_in_page: "gist header")
        ) do %>
          Sign&nbsp;up
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
