<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<nav aria-label="Global" class="d-flex flex-column flex-md-row flex-self-stretch flex-md-self-auto">
  <%= link_to "All gists", discover_gists_path, :class => "Header-link mr-0 mr-md-3 py-2 py-md-0 border-top border-md-top-0 border-white-fade", :"data-ga-click" => "Header, go to all gists, text:all gists" %>

  <%= link_to "Back to GitHub", GitHub.url, :class => "Header-link mr-0 mr-md-3 py-2 py-md-0 border-top border-md-top-0 border-white-fade", :"data-ga-click" => "Header, go to GitHub, text:Back to GitHub" %>

  <% if logged_in? %>
    <%= link_to user_gists_path(current_user),
        class: "Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-0 border-top border-md-top-0 border-white-fade",
        'aria-label': "View profile and more",
        'aria-expanded': "false",
        'aria-haspopup': "false" do %>
      <%= avatar_for current_user, 20, class: "avatar" %>
      <%= current_user.display_login %>
    <% end %>

    <%= form_tag gist_logout_url, :method => :post do %>
      <button
        type="submit"
        class="Header-link mr-0 mr-md-3 py-2 py-md-0 border-top border-md-top-0 border-white-fade d-md-none btn-link d-block width-full text-left"
        style="padding-left: 2px;"
        <%= safe_analytics_click_attributes(
          category: "Header",
          action: "sign out",
          label: "icon:logout"
        ) %>
      >
        <%= primer_octicon(:"sign-out", vertical_align: :middle) %>
        Sign out
      </button>
    <% end %>
  <% else %>
    <%= link_to(
      gist_login_url(return_to: return_to_path),
      class: "Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-0 border-top border-md-top-0 border-white-fade",
      "data-ga-click": "Header, sign in",
      data: sign_in_link_data_attributes(location_in_page: "gist header")
    ) do %>
      Sign in
    <% end %>

    <% if GitHub.signup_enabled? %>
      <%= link_to(
        gist_signup_path(source: "header-gist", return_to: return_to_path),
        class: "Header-link d-block d-md-none mr-0 mr-md-3 py-2 py-md-0 border-top border-md-top-0 border-white-fade",
        "data-ga-click": "Header, sign up",
        data: sign_up_link_data_attributes(location_in_page: "gist header")
      ) do %>
        Sign up
      <% end %>
    <% end %>
  <% end %>
</nav>
