<%= link_to new_gist_path, :class => "Header-link", :"data-hotkey" => "g d", :"aria-label" => "Gist Homepage #{GitHub.site_heading}" do %>
  <%= primer_octicon(:"mark-github", size: :medium, vertical_align: :middle, display: [:inline_block, nil, :none]) %>
  <%= primer_octicon(:"logo-github", size: :medium, vertical_align: :middle, display: [:none, nil, :inline_block]) %>
  <%= primer_octicon(:"logo-gist", size: :medium, vertical_align: :middle, display: [:none, nil, :inline_block]) %>
  <% if GitHub.site_heading.present? %>
    <span class="h4 pl-1 v-align-middle d-none d-md-inline"><%= GitHub.site_heading %></span>
  <% end %>
<% end %>
