<div class="header-search flex-self-stretch flex-md-self-auto mr-0 mr-md-3 mb-3 mb-md-0">
  <% if current_user&.feature_enabled?(:gist_header_a11y_quicksearch) %>
    <%= form_with(
      url: gist_search_path,
      method: :get,
    ) do %>
      <div class="d-flex">
        <%= render(Primer::Alpha::TextField.new(
          name: "q",
          label: "Search Gists",
          visually_hide_label: true,
          placeholder: "Search...",
          classes: "rounded-right-0"
        )) %>
        <%= render Primer::Beta::IconButton.new(
          icon: :search,
          "aria-label": "Search Gists",
          type: :submit,
          classes: "rounded-left-0"
        ) %>
      <% end %>
      </div>
  <% else %>
    <%= form_tag gist_search_path, method: :get, class: "position-relative js-quicksearch-form", role: "search", "aria-label": "Site" do %>
      <div class="header-search-wrapper form-control input-sm js-chromeless-input-container">
        <input type="text"
          class="form-control input-sm js-site-search-focus header-search-input<%= " js-navigation-enable js-quicksearch-field" if logged_in? %>"
          data-hotkey="s,/"<%# erblint:disable DataHotkey %>
          name="q"
          aria-label="Search"
          placeholder="Search…"
          autocorrect="off"
          autocomplete="off"
          autocapitalize="off">
      </div>

      <% if logged_in? %>
        <div class="gist-quicksearch-results js-quicksearch-results js-navigation-container" data-quicksearch-url="<%= gist_quicksearch_path %>"></div>
      <% end %>
    <% end %>
  <% end %>
</div>
