<% page_info title: "Google Play Store Lookup", selected_link: :billing_iap_google_lookups %>

<%= render layout: "stafftools/stafftools" do %>
  <div class="mb-5">
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
      <% component.with_header(id: "google-iap-search-label") do %>
        <h3 class="Box-title">
          Google Play Store Subscription Lookup
        </h3>
      <% end %>
      <% component.with_row do %>
        This will call Google's Play Store API and return the subscription details based on purchase token.
        <%= form_with url: stafftools_billing_iap_google_lookups_path, method: :post do |f| %>
          <div class="form-group">
            <%= f.text_field :purchase_token,
              value: purchase_token,
              id: "purchase_token",
              placeholder: "Purchase token",
              "aria-labelledby": "google-lookup-search-label"
            %>
            <%= render Primer::Beta::Button.new(type: :submit, display: :inline_block).with_content("Search") %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if json_details.present? %>
    <div class="mb-5">
      <%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
        <% component.with_header(id: "google-lookup-results-label") do %>
          <h3 class="Box-title">
            Fetched Results for <%= purchase_token %>
          </h3>
        <% end %>
        <% component.with_row do %>
          <pre><%= json_details %></pre>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
