<div class="color-fg-muted d-flex flex-items-center">
  <span data-autosearch-results <%= test_selector "repositories-count-#{collaborator.id}" %>>
    <%= render(Primer::Beta::Octicon.new(:"repo", ml: 1)) %>
    <%= collaborator.outside_collaborator_repositories(business: this_business).count %>
  </span>
  <span class="ml-5 mr-1" <%= test_selector "two-factor-status-#{collaborator.id}" %>>
    <%= render partial: "orgs/people/user_two_factor_details", locals: {
      user_login: collaborator.display_login,
      two_factor_enabled: two_factor_enabled,
      active_account_two_factor_requirement: active_account_two_factor_requirement,
      pending_account_two_factor_requirement: pending_account_two_factor_requirement,
      account_two_factor_required_by_date: account_two_factor_required_by_date,
    }%>
  </span>
</div>
