<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% view = Businesses::OutsideCollaboratorsView.new(query: query) %>

<details class="details-reset details-overlay select-menu mr-2">
  <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
    Visibility
  <% end %>
  <details-menu class="select-menu-modal position-absolute right-0" style="z-index: 99;"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
    <div class="select-menu-header">
      <span class="select-menu-title">Filter by repository visibility</span>
    </div>
    <div class="select-menu-list">
      <a href="<%= enterprise_outside_collaborators_path(this_business, query: view.apply_query_filters(visibility: nil)) %>"
        class="select-menu-item" aria-checked="<%= view.visibility.nil? %>" role="menuitemradio">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <div class="select-menu-item-text">All</div>
      </a>
      <% value = Platform::Enums::RepositoryVisibility.values["PUBLIC"].value %>
      <a href="<%= enterprise_outside_collaborators_path(this_business, query: view.apply_query_filters(visibility: value)) %>"
        class="select-menu-item" aria-checked="<%= view.visibility == value %>" role="menuitemradio">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <div class="select-menu-item-text">Public</div>
      </a>
      <% value = Platform::Enums::RepositoryVisibility.values["PRIVATE"].value %>
      <a href="<%= enterprise_outside_collaborators_path(this_business, query: view.apply_query_filters(visibility: value)) %>"
        class="select-menu-item" aria-checked="<%= view.visibility == value %>" role="menuitemradio">
        <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
        <div class="select-menu-item-text">Private</div>
      </a>
    </div>
  </details-menu>
</details>
