<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Terms of service update</title>
<style media="all" type="text/css">
@media only screen and (max-width: 620px) {
  table[class=body] h1,
  table[class=body] h2,
  table[class=body] h3,
  table[class=body] h4 {
    font-weight: 600 !important;
  }
  table[class=body] h1 {
    font-size: 24px !important;
  }
  table[class=body] h2 {
    font-size: 20px !important;
  }
  table[class=body] h3 {
    font-size: 16px !important;
  }
  table[class=body] .lead {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  table[class=body] .container {
    padding: 20px !important;
    width: 100% !important;
  }
  table[class=body] .btn table {
    width: 100% !important;
  }
  table[class=body] .btn a {
    display: block !important;
  }
  table[class=body] .header-padded,
  table[class=body] .body-padded {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
</style>
</head>

<body style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; height: 100% !important; line-height: 1.5; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 100% !important; background-color: #fff;">

<table class="body" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #fff;" width="100%" bgcolor="#fff">
	<tr>
		<td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top"></td>
		<td class="container" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top; display: block; margin: 0 auto !important; max-width: 580px; padding: 30px; width: 580px;" width="580" valign="top">
			<div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px;">


<span class="preheader" style="color: transparent; display: none; height: 0; max-height: 0; max-width: 0; opacity: 0; overflow: hidden; mso-hide: all; visibility: hidden; width: 0;">Updated Terms of Service and new Site Policy repository</span>
<div class="header" style="box-sizing: border-box; width: 100%; padding-top: 10px; padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px solid #eee;">
  <table style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;" width="100%">
    <tr>
      <td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top">
        <a href="https://github.com" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">
          <img src="<%= GitHub.mailer_asset_host_url %>/images/email/global/wordmark.png" width="102" height="28" alt="GitHub" style="-ms-interpolation-mode: bicubic; max-width: 100%;">
        </a>
      </td>
    </tr>
  </table>
</div>

<h1 style="color: #111111 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 500; line-height: 1.25; margin: 0 0 10px; font-size: 30px;">Updated Terms of Service and new Site Policy repository</h1>

<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;">We’re updating our <a href="<%= GitHub.help_url %>/articles/github-terms-of-service/" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">Terms of Service</a> and <a href="<%= GitHub.help_url %>/articles/github-corporate-terms-of-service/" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">Corporate Terms of Service</a>. These revisions are the result of community feedback, along with clarifications and improvements to the readability of both documents. All changes are in separate pull requests in a new working repository, <a href="https://github.com/github/site-policy" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">github/site-policy</a>. Here, you can view, comment, and suggest additional updates&mdash;or fork a copy to adapt for your own site.</p>

<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;">Please submit your comments by 5:00 pm PST on Friday, July 28. After that, we’ll take a week to go through your comments and make changes to improve the Terms. The new Terms will become effective on Monday, August 7.</p>

<h2 style="color: #111111 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 500; line-height: 1.25; margin: 0 0 10px; font-size: 24px;">Pull requests welcome</h2>

<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;">We welcome you to look over our changes and share your input using the new Site Policy repository. Please follow our <a href="https://github.com/github/site-policy/blob/master/CONTRIBUTING.md" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">Contributor Guidelines</a>, and let us know if you see anything you think should be different—whether it’s a missed typo or a rule that might have implications we haven’t thought of.</p>

<h2 style="color: #111111 !important; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: 500; line-height: 1.25; margin: 0 0 10px; font-size: 24px;">Overview of changes</h2>

<ul style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px; padding-left: 30px;">
  <li style="list-style-position: outside; line-height: 1.5; margin-right: 20px;">
    <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;"><a href="https://github.com/github/site-policy/pull/1" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">Updates to GitHub Terms of Service</a>: Added a “Private Repositories” section as Section E, updated the licenses granted in Section D for clarity, and updated the Complete Agreement subsection in Section S, “Miscellaneous”</p>
  </li>
  <li style="list-style-position: outside; line-height: 1.5; margin-right: 20px;">
    <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;"><a href="https://github.com/github/site-policy/pull/2" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">Updates to GitHub Corporate Terms of Service</a>: Added a "Private Repositories" section as Section E, updated the licenses granted in Section D for clarity, updated the Complete Agreement subsection, and added a Publicity subsection to Section S, "Miscellaneous"</p>
  </li>
  <li style="list-style-position: outside; line-height: 1.5; margin-right: 20px;">
    <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;">Added a product description to the <a href="<%= GitHub.help_url %>/articles/github-business-plan-addendum/" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">GitHub Business Plan Addendum</a></p>
  </li>
  <li style="list-style-position: outside; line-height: 1.5; margin-right: 20px;">
    <p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;">Updated the <a href="<%= GitHub.help_url %>/articles/amendment-to-github-terms-of-service-applicable-to-u-s-federal-government-users/" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">Amendment to GitHub Terms of Service Applicable to U.S. Federal Government Users</a> to reflect previous changes to notification policy</p>
  </li>
</ul>

<p style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; font-weight: normal; line-height: 1.5; margin: 0; margin-bottom: 15px;">Can’t comment before July 28? No problem! The site policy repository is always open, so you can send us feedback any time. Check out the <a href="<%= GitHub.blog_url %>/2017-07-06-open-sourcing-our-site-policies-and-new-changes-to-our-terms-of-service/" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">blog post</a> to learn more, or give us <a href="https://github.com/github/site-policy/issues/" style="box-sizing: border-box; color: #0366d6; text-decoration: underline;">your feedback</a>. We’d love to hear if our project helped you create policy foundations for your business.</p>


				<div class="footer" style="box-sizing: border-box; clear: both; width: 100%;">
					<hr class="footer-hr" style="height: 0; overflow: visible; margin-top: 30px; border: 0; border-top: 1px solid #eee; color: #999999; font-size: 12px; line-height: 18px; margin-bottom: 30px;">
		      <div class="footer-links" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px;">
		        <p class="footer-text" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; margin: 0; margin-bottom: 15px; color: #999999; font-size: 12px; line-height: 18px;">
							<a href="https://github.com/settings/emails" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px; text-decoration: none;">Email preferences</a> &middot;
							<a href="<%= GitHub.help_url %>/articles/github-terms-of-service/" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px; text-decoration: none;">Terms</a> &middot;
							<a href="<%= GitHub.help_url %>/articles/github-privacy-policy/" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px; text-decoration: none;">Privacy</a> &middot;
							<a href="https://github.com/login" style="box-sizing: border-box; color: #999999; font-size: 12px; line-height: 18px; text-decoration: none;">Sign into GitHub</a>
						</p>
		      </div>
		      <p class="footer-text" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-weight: normal; margin: 0; margin-bottom: 15px; color: #999999; font-size: 12px; line-height: 18px;">GitHub, Inc.<br style="color: #999999; font-size: 12px; line-height: 18px;"> 88 Colin P Kelly Jr St.<br style="color: #999999; font-size: 12px; line-height: 18px;"> San Francisco, CA 94107</p>
				</div>
			</div>

		</td>
		<td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top"></td>
	</tr>
</table>

</body>
</html>
