<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="confirm-removal-container Box-body p-4 border-0 mb-0 overflow-auto">
  <p>The following <%= pluralize(invitees.count, "user") %> will have all repository invitations canceled:</p>
  <div class="confirm-removal-list-container text-left">
    <ul class="list-style-none">
      <% invitees.each do |invitee| %>
        <li class="confirm-removal-list-item">
          <% if invitee.is_a?(User) %>
            <%= avatar_for(invitee, 16, class: "avatar") %>
          <% else %>
            <%= primer_octicon(:mail) %>
          <% end %>

          <%= invitee %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= form_tag org_people_cancel_pending_collaborator_invitations_path(org: organization), method: :put do %>
    <% invitations.each do |invitation| %>
      <input type="hidden" name="pending_collaborator_invitation_ids[]" value="<%= invitation.id %>">
    <% end %>
    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :danger, block: true) do %>Cancel invitations<% end %>
  <% end %>
</div>
