<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<li class="table-list-item member-list-item js-bulk-actions-item adminable" data-bulk-actions-id="<%= pending_collaborator_invitation.id %>">
  <div class="table-list-cell table-list-cell-checkbox py-3 v-align-middle pr-0 pl-3">
    <input
      type="checkbox"
      name="pending_collaborator_invitation_ids[]"
      value="<%= pending_collaborator_invitation.id %>"
      id="<%= dom_id %>"
      aria-label="<%= aria_label %>"
      class="js-bulk-actions-toggle"
      data-check-all-item>
  </div>
  <div class="table-list-cell py-3 pl-3 v-align-middle member-avatar-cell css-truncate">
    <% if email_invitation? %>
      <%= primer_octicon(:mail, height: 48, width: 48, color: :muted, test_selector: "collaborator_email_link") %>
    <% else %>
      <a href="<%= org_person_path(organization.display_login, pending_collaborator) %>" <%= test_selector("collaborator_avatar_link") %>>
        <%= avatar_for(pending_collaborator, 48, class: "avatar") %>
      </a>
    <% end %>
  </div>

  <div class="table-list-cell py-3 v-align-middle css-truncate pl-3">
    <% if email_invitation? %>
      <span class="d-block css-truncate-target f5 color-fg-default" itemprop="email" <%= test_selector("email_invitation_email_link") %>><%= obfuscated_mail_to(pending_collaborator) %></span>
    <% else %>
      <a class="css-truncate-target f4" href="<%= org_person_path(organization_login, pending_collaborator) %>">
        <%= name_or_login %>
      </a>
      <% if profile_name? %>
        <span class="d-block css-truncate-target f5 color-fg-default" itemprop="name" <%= test_selector("collaborator_has_name") %>><%= pending_collaborator %></span>
      <% end %>
    <% end %>
  </div>

  <div class="color-fg-muted table-list-cell py-3 v-align-middle f5 pr-3">
    <a href="<%= repository_access_management_path(organization_login, repository.name) %>" class="d-inline-block color-fg-muted" aria-label="Manage invitations for <%= repository.name_with_display_owner %>">
      <%= primer_octicon(:repo, color: :muted) %> <%= repository.name %>
    </a>
  </div>

  <div class="color-fg-muted table-list-cell py-3 v-align-middle f5 pr-3">
    <div class="dropdown float-right">
      <%= render(GitHub::DialogComponent.new(title: "Canceling #{pluralize [pending_collaborator_invitation].size, "invitations"} for #{pending_collaborator}")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
        <% dialog.with_summary do %>
          <summary
            class="btn btn-danger"
            button_text="Cancel invitation">
            Cancel invitation
          </summary>
        <% end %>
        <%= render(Organizations::People::CancelPendingCollaboratorOverlayComponent.new(
          organization: organization,
          invitations: [pending_collaborator_invitation],
          invitees: [pending_collaborator]
        )) %>
      <% end %>
    </div>
  </div>
</li>
