<%# erblint:counter DeprecatedInPrimerCounter 2 %>
<% fail "Card wasn't passed through redactor" unless activity.passed_redaction? %>

<% case activity.past_tense_event_type %>
<% when "created" %>
  added
<% when "deleted" %>
  removed
<% else %>
  <%= activity.past_tense_event_type %>
<% end %>

<% if activity.event_type == "convert" %>
  <% if activity.card_redacted? %>
    a note to an issue
  <% else %>
    <strong><%= activity.data.dig("changes", "old_note") %></strong> to an issue
  <% end %>

  <% if activity.card_redacted? %>
    <span class="redacted-activity tooltipped tooltipped-multiline tooltipped-n" aria-label="<%= redacted_card_message(activity.card_redacted_reason) %>"></span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
  <% elsif activity.card_converted_to_issue_with_title_change? %>
    named <strong><%= activity.card_title %></strong>
  <% end %>
<% else %>
  <% if activity.card_title %>
    <strong>
      <% if activity.active_card? %>
        <%= link_to activity.card_title, project_path(activity.project, anchor: "card-#{activity.card_id}"), class: "css-truncate-target" %>
      <% else %>
        <%= activity.card_title %>
      <% end %>
    </strong>
  <% elsif activity.card_redacted? %>
    <span class="redacted-activity tooltipped tooltipped-multiline tooltipped-n" aria-label="<%= redacted_card_message(activity.card_redacted_reason)%>">a card</span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
  <% else %>
    a card
  <% end %>

  <% if activity.event_type == "move" && activity.previous_column_name %>
    from <strong><%= activity.previous_column_name %></strong>
  <% end %>

  <% if activity.show_column_name? %>
    <%= activity.event_type == "archive" ? "from" : "to" %>
    <strong><%= activity.column_name %></strong>
  <% end %>

  <% if activity.automated? %>
    via
    <%= render Primer::Beta::Label.new(scheme: :secondary, title: "Label: automation") do %>
      automation
    <% end %>
  <% end %>
<% end %>
