<h3 class="f4 text-normal" <%= test_selector("business-level-ghas-usage") %>>GitHub Advanced Security</h3>

<% seat_usage = AdvancedSecurity::SeatUsageComponent.new(
  **AdvancedSecurity::SeatUsageComponent.kwargs_for(@business)
)%>

<% if seat_usage.banner_required? %>
  <%= render Primer::Alpha::Banner.new(mt: 2, **seat_usage.banner_arguments) do %>
    <%= seat_usage.banner_message %>
  <% end %>
<% end %>

<div class="d-flex flex-items-center mt-2 mb-4" <%= test_selector("enterprise-advanced-security-seats") %>>
  <%= render(seat_usage) %>
  <%= render(Billing::DownloadReportComponent.new(tag: :a, ml: 4, variant: :small, href: settings_download_active_committers_path(@business))) %>
</div>

<div
  class="js-ghas-entity-list-container"
  data-src="<%= settings_business_advanced_security_orgs_list_enterprise_path(slug: @business, page: @orgs_page) %>"
  data-ref="<%= AdvancedSecurityEntitiesLinkRenderer::PAGE_PARAM %>"
  <%= test_selector("ghas-org-list") %>
>
  <div class="text-center mt-3" data-loading>
    <%= render(Billing::Settings::UsageHeaderComponent.new(headers: ["Organization", "Active Committers", "Unique Committers", ""])) %>
    <p class="text-center mt-3">
    <%= render(Primer::Beta::Spinner.new("aria-label": "Loading...")) %>
    </p>
  </div>
  <p class="ml-1 mb-2 mt-2" data-show-on-error hidden>
    <%= render Primer::Beta::Octicon.new(icon: "alert") %>
    Sorry, something went wrong loading this data.
  </p>
  <div data-content-container>
  </div>
</div>

<% if show_ghas_usage_for_user_repos? %>
<div
  class="js-ghas-entity-list-container"
  data-src="<%= settings_business_advanced_security_users_list_enterprise_path(slug: @business, page: @users_page) %>"
  data-ref="<%= AdvancedSecurityUsersLinkRenderer::PAGE_PARAM %>"
  <%= test_selector("ghas-user-list") %>
  >
  <div class="mt-3" data-loading>
    <%= render(Billing::Settings::UsageHeaderComponent.new(headers: ["User Namespace", "Active Committers", "Unique Committers", ""])) %>
    <p class="text-center mt-3">
    <%= render(Primer::Beta::Spinner.new("aria-label": "Loading...")) %>
    </p>
  </div>
  <p class="ml-1 mb-2 mt-2" data-show-on-error hidden>
  <%= render Primer::Beta::Octicon.new(icon: "alert") %>
  Sorry, something went wrong loading this data.
  </p>

  <div data-content-container>
  </div>
</div>
<% end %>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "settings" %>
<% end %>
