<div class="flex-1 ml-1" <%= test_selector("ghas-seat-usage-component") %>>
  <div class="mb-1">
    <h4 <%= "class=h5" if @size == :small%>>Total committers used</h4>
  </div>
  <div class="d-flex flex-justify-between flex-items-center">
    <span class="f3" <%= test_selector("ghas-seat-usage") %>>
      <%= number_with_delimiter @consumed_licenses %>
    </span>
    <span class="<%= @allowance_exceeded ? "fgColor-danger" : "fgColor-muted" %>">
      <span <%= test_selector("ghas-seats-available") %>>
        <%= number_with_delimiter available_licenses %>
      </span>
      available
    </span>
  </div>
  <% unless @unlimited || @recalculating %>
    <div role="meter"
      aria-label="<%= @label.present? ? @label : 'Licenses' %>"
      aria-valuetext="<%= value_text %>"
      aria-valuenow=<%= @consumed_licenses %>
      aria-valuemax=<%= @purchased_licenses%>
    >
      <%= render(Primer::Beta::ProgressBar.new(size: @size, mt: 1)) do |component| %>
        <% if billable_entity? %>
          <% component.with_item(bg: :accent_emphasis, percentage: consumed_licenses_percent) %>
        <% else %>
         <% if entity_licenses_percent > 0 %>
          <% component.with_item(bg: :accent_emphasis, percentage: entity_licenses_percent) %>
        <% end %>
        <% component.with_item(bg: :success_emphasis, percentage: other_entities_licenses_percent) %>
        <% end %>
      <% end %>

      <% if !billable_entity? %>
        <%= render(Primer::Box.new(
          display: :flex,
          justify_content: :flex_end,
          mt: 1, test_selector: "ghas-seat-usage-legend"
        )) do %>
          <div>
            <%= render Primer::Beta::Octicon.new(:"dot-fill", color: :accent) %>
            This organization
            <span class="fgColor-muted">
              <%= entity_licenses %>
            </span>
          </div>
          <div class="ml-2">
            <%= render Primer::Beta::Octicon.new(:"dot-fill", color: :success) %>
            Other organizations
            <span class="fgColor-muted">
              <%= other_entities_licenses %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
