<%-
  # @comment is an AdvisoryCredit
  # @message is a Newsies::Emails::AdvisoryCredit
-%>
The maintainer of <%= @comment.repository_advisory.name_with_display_owner %> would like to credit you as <%= @comment.credit_type_articleized %> for your contributions to security advisory <%= @comment.repository_advisory.ghsa_id %>.
<br>
<a href="<%= @message.permalink %>">Review the advisory</a> and accept or decline the credit.

<%= @message.footer_html %>
<%= @message.json_ld_html %>
