<% content_for :header do %>
  <%= @message.heading %>
<% end %>

<%= render(Mail::BorderedRowComponent.new) do %>
  <%= render(Mail::HeaderTitleComponent.new(title: @message.workflow_run_jobs_conclusion_description, icon: "actions.png")) %>

  <%= render(Mail::ContainerComponent.new) do %>
    <%= render(Mail::ButtonComponent.new(
      text: "View workflow run",
      url: @message.comment.permalink,
      classes: "btn-large btn-primary",
      outlook_safe: true))
    %>
  <% end %>
  <%= render(Mail::SpacerComponent.new(size: 32)) %>
<% end %>

<%
  display_all_runs = @message.check_runs.count <= Newsies::Emails::CheckSuiteEventNotification::MAX_JOBS_PER_EMAIL
  latest_runs = @message.check_runs.first(Newsies::Emails::CheckSuiteEventNotification::MAX_JOBS_PER_EMAIL)
%>
<% latest_runs.each_with_index do |check_run, index| %>
  <% last = display_all_runs && (index == latest_runs.count-1) %>
  <%= render(Mail::BorderedRowComponent.new(last: last, skip_padding: true, classes: "text-left")) do %>
    <td class="pl-3 py-3 p-sm-4">
      <img src="<%= mailer_static_asset_path(@message.conclusion_icon_path(check_run)) %>" alt="<%= check_run.display_name %>" height="24" width="24">
    </td>
    <td style="width: 100%" class="p-3">
      <p class="mb-0">
        <b><%= @message.workflow_run_name_with_attempt %></b> / <%= check_run.display_name %>
        <br>
        <%= @message.detailed_conclusion_description(check_run) %>
      </p>
    </td>
    <td style="white-space: nowrap" class="pr-3 py-3">
      <% if check_run.annotation_count > 0 %>
        <a href="<%= @message.comment.permalink %>">
          <img src="<%= mailer_static_asset_path("images/email/icons/report-gray.png") %>" alt="annotations for <%= @message.workflow_name_with_attempt %> / <%= check_run.display_name %>" width="16" height="16">
          <span class="d-table-cell v-align-middle text-gray-light"> <%= check_run.annotation_count %> </span>
        </a>
      <% end %>
    </td>
  <% end %>
<% end %>

<% unless display_all_runs %>
  <%= render(Mail::BorderedRowComponent.new(last: true)) do %>
    <%= render(Mail::RowComponent.new(classes: "v-align-middle")) do %>
      <a href="<%= @message.comment.permalink %>" class="text-emphasized color-fg-accent">
        View all <%= @message.check_runs.count %> job statuses
      </a>
    <% end %>
  <% end %>
  <%= render(Mail::SpacerComponent.new(size: 16)) %>
<% end %>

<% content_for :footer_text do %>
  <%= @message.footer_html %>
<% end %>
