<%- if alert = @message.dependency_update_alert -%>
  <%- severity = alert.vulnerability.severity.humanize -%>
  <h4>
    This automated pull request fixes a
    <a href="<%= alert.permalink %>">security vulnerability</a> (<%= severity.downcase %> severity).
  </h4>

  <p>
    <a href="<%= GitHub.dependabot_security_updates_help_url %>" target="_blank">Learn more about Dependabot security updates</a>.
  </p>
  <% unless @comment.body_html.empty? %><hr><% end %>
<%- end -%>
<%= @comment.body_html(context: { for_email: true }) %>

<hr>

<h4>You can view, comment on, or merge this pull request online at:</h4>
<p>&nbsp;&nbsp;<a href='<%= @comment.permalink %>'><%= @comment.permalink %></a></p>

<h4>Commit Summary</h4>
<ul>
<%- @comment.changed_commits.each do |commit| -%>
  <li><a href="<%= @comment.permalink %>/commits/<%= commit.oid %>" class="commit-link"><%= commit.abbreviated_oid %></a>  <%= commit.short_message %></li>
<%- end -%>
</ul>

<h4 style="display: inline-block">File Changes </h4> <p style="display: inline-block">(<a href="<%= @comment.permalink %>/files"><%= @comment.historical_comparison.diffs.count %>&nbsp;<%= "file".pluralize(@comment.historical_comparison.diffs.count) %></a>)</p>
<ul>
<%- @comment.historical_comparison.diffs.each do |diff| -%>
  <li>
    <strong><%= diff.status %></strong>
    <a href="<%= @comment.permalink %>/files#<%= diff_file_anchor(diff.path) %>"><%= diff.path %></a>
    (<%= diff.changes %>)
  </li>
<%- end -%>
</ul>

<h4>Patch Links:</h4>
<ul>
  <li><a href='<%= @comment.permalink %>.patch'><%= @comment.permalink %>.patch</a></li>
  <li><a href='<%= @comment.permalink %>.diff'><%= @comment.permalink %>.diff</a></li>
</ul>

<%= @message.footer_html %>
<%= @message.json_ld_html %>
