<p><a href="<%= user_url(@message.user) %>" class="user-mention">@<%= @message.user.display_login %></a> pushed <%= @message.commits.size %> <%= "commit".pluralize(@message.commits.size) %>.</p>

<%- if @message.commits.any? -%>
<ul>
<%- @message.commits.each do |commit| %>
  <li><%= link_to commit.abbreviated_oid, base_url + commit_path(commit.oid, @message.repository), :class => "commit-link" %>  <%= commit.short_message %></li>
<%- end %>
</ul>
<%- end -%>

<%= @message.footer_html %>
<%= @message.json_ld_html %>
