<% content_for :header do %>
  <%= @message.heading %>
<% end %>

<%= render(Mail::BorderedRowComponent.new) do %>
  <%= render(Mail::HeaderTitleComponent.new(title: @message.description, icon: "actions.png")) %>

  <%= render(Mail::ContainerComponent.new) do %>
    <%= render(Mail::ButtonComponent.new(
      text: "Review pending deployments",
      url: @message.comment.permalink,
      classes: "btn-large btn-primary"))
    %>
  <% end %>
  <%= render(Mail::SpacerComponent.new(size: 32)) %>
<% end %>

<% @message.waiting_check_runs.each do |check_run| %>
  <%= render(Mail::BorderedRowComponent.new(skip_padding: true, classes: "text-left")) do %>
    <td class="pl-3 py-3 p-sm-4">
      <img src="<%= mailer_static_asset_path(@message.icon_path) %>" alt="<%= check_run.display_name %>" height="24" width="24">
    </td>
    <td style="width: 100%" class="p-3">
      <p class="mb-0">
        <b><%= @message.workflow_run.name %></b> / <%= check_run.display_name %>
        <br>
        <%= @message.environment_name(check_run) %> waiting for review
      </p>
    </td>
  <% end %>
<% end %>

<% content_for :footer_text do %>
  <%= @message.footer_html %>
<% end %>
