<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= render Comments::BlockFromCommentModalHeaderComponent.new(repo: repo, login: display_login) %>

<%= form_tag organization_settings_blocked_users_path(repo.owner.display_login), class: "overflow-auto" do %>
  <input type="hidden" name="login" value="<%= display_login %>">
  <input type="hidden" name="content_id" value="<%= id %>">
  <div class="Box-body overflow-auto">
    <p>
      Blocking a user prevents them from interacting with repositories of this organization, such as opening or commenting on pull requests or issues. Learn more about <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/blocking-a-user-from-your-organization/">blocking a user</a>.
    </p>
    <details class="position-relative details-reset details-overlay select-menu">
      <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
        <i>Block user:</i>
        <span data-menu-button>Until I unblock them</span>
      <% end %>
      <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" aria-label="Block options"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="select-menu-header">
          <span class="select-menu-title">Block options</span>
        </div>
        <div class="select-menu-list">
          <label class="select-menu-item"
                  tabindex="0"
                  role="menuitemradio"
                  aria-checked="false">
            <input type="radio" name="duration" value="1">
            <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
            <span class="select-menu-item-text" data-menu-button-text>For 1 day</span>
          </label>
          <label class="select-menu-item"
                  tabindex="0"
                  role="menuitemradio"
                  aria-checked="false">
            <input type="radio" name="duration" value="3">
            <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
            <span class="select-menu-item-text" data-menu-button-text>For 3 days</span>
          </label>
          <label class="select-menu-item"
                  tabindex="0"
                  role="menuitemradio"
                  aria-checked="false">
            <input type="radio" name="duration" value="7">
            <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
            <span class="select-menu-item-text" data-menu-button-text>For 7 days</span>
          </label>
          <label class="select-menu-item"
                  tabindex="0"
                  role="menuitemradio"
                  aria-checked="false">
            <input type="radio" name="duration" value="30">
            <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
            <span class="select-menu-item-text" data-menu-button-text>For 30 days</span>
          </label>
          <label class="select-menu-item"
                  tabindex="0"
                  role="menuitemradio"
                  aria-checked="false">
            <input type="radio" name="duration" value="0" checked>
            <%= primer_octicon(:check, classes: 'select-menu-item-icon') %>
            <span class="select-menu-item-text" data-menu-button-text>Until I unblock them</span>
          </label>
        </div>
      </details-menu>
    </details>

    <p class="h4 border-top mt-3 pt-3">More options</p>

    <div class="form-checkbox">
      <label>
        <input type="checkbox" name="send_notification" aria-describedby="help-text-for-notification" checked>
        Send user a notification and show activity in timeline
      </label>
      <p class="note" id="help-text-for-notification">
        You can notify <b><%= display_login %></b> as to why they're being blocked. A public timeline entry will show that this user was blocked. They will receive an email notification and a notice when they try to comment with the following message:
      </p>
      <div class="markdown-body mt-2 f6">
        <blockquote>
          <%= blocked_notification_html(repo.owner.display_login, repo.owner.email, url, repo.code_of_conduct&.url) %>
        </blockquote>
      </div>
    </div>
    <div class="form-checkbox">
      <label>
        <input type="checkbox" name="hide_comments" aria-describedby="help-text-for-hide">
        Hide this user's comments
      </label>
      <p class="note mb-1" id="help-text-for-hide">
        All of their comments in this organization <a class="Link--inTextBlock" href="<%= "#{GitHub.help_url}/articles/managing-disruptive-comments/#hiding-a-comment" %>">will be hidden</a> to all users and will display a reason.
      </p>
      <select class="form-select" aria-label="Hidden reason" name="hidden_reason">
        <option value="" disabled selected hidden>Choose a reason</option>
        <%= options_for_select(Platform::Enums::ReportedContentClassifiers.values.keys.map { |s| [s.titleize, s] }) %>
      </select>
    </div>

    <div class="mb-2">
      <%= render IgnoredUsers::NoteFieldComponent.new(
        text_field_id: "new-block-note-from-comment",
        visually_hide_label: false,
      ) %>
    </div>
  </div>
  <div class="Box-footer">
    <button type="submit" class="btn btn-block btn-danger" autofocus data-close-dialog>Block user from organization</button>
  </div>
<% end %>
