<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<span class="js-comment-edit-history">
  <span class="d-inline-block color-fg-muted">&#8226;</span>

  <details class="details-overlay details-reset d-inline-block dropdown hx_dropdown-fullscreen">
    <summary class="btn-link no-underline color-fg-muted js-notice">
      <div class="position-relative">
        <span>
          <%= edited_by %>
          <%= bot_tag %>
        </span>
        <%= primer_octicon(icon: "triangle-down", vertical_align: :middle) %>
      </div>
    </summary>
    <details-menu
      class="dropdown-menu dropdown-menu-s width-auto py-0 js-comment-edit-history-menu"
      style="max-width: 352px; z-index: 99;"
      src="<%= show_comment_edit_history_log_path(comment_id: comment.global_relay_id) %>"
      preload
    ><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
      <include-fragment class="my-3" style="min-width: 100px;" aria-label="Loading...">
        <%= render(Primer::Beta::Spinner.new(mx: :auto, display: :block)) %>
      </include-fragment>
    </details-menu>
  </details>
</span>
