<div id="<%= id %>" class="<%= comment_classes %>">
  <% if minimized_comment %>
    <%= minimized_comment %>
  <% else %>
    <%= header %>
    <%= body %>
    <%= edit_form %>
    <%= reactions %>
  <% end %>
</div>
