<%# erblint:counter ButtonComponentMigrationCounter 2 %>

<div class="dropdown-header px-3 py-2 border-bottom" <%= test_selector("comment-edit-history-log-#{comment.id}") %>>Edited <%= pluralize(number_with_delimiter(edit_count), "time") %></div>

<ul class="lh-condensed text-small" style="overflow-y:auto; max-height:250px">
  <% edits.each_with_index do |edit, index| %>
    <li class="border-bottom css-truncate">
      <% content = capture do %>
        <% if edit.editor %>
          <% display_login = edit.editor.is_a?(Bot) ? edit.editor.slug : edit.editor.display_login %>
          <img src="<%= edit.editor.primary_avatar_url(40) %>" width="20" height="20" class="<%= avatar_class_names(edit.editor) %> avatar-small v-align-middle mr-1" alt="@<%= display_login %>">
          <span class="css-truncate-target v-align-middle text-bold"><%= display_login %></span> <%= bot_identifier(edit.editor) %>
        <% else %>
          <img src="<%= User.ghost.primary_avatar_url(40) %>" width="20" height="20" class="<%= avatar_class_names(User.ghost) %> avatar-small v-align-middle mr-1" alt="@<%= GitHub.ghost_user_login %>">
          <span class="css-truncate-target v-align-middle text-bold"><%= GitHub.ghost_user_login %></span>
        <% end %>
        <span class="v-align-middle"><%= (index == (edits_total_count - 1) && includes_created_edit) ? "created" : "edited" %> <%= time_ago_in_words_js edit.edited_at %><%= (index == 0) ? " (most recent)" : "" %></span>
      <% end %>

      <% if !edit.diff.blank? && !edit.deleted_at %>
        <button type="button" class="btn-link dropdown-item p-2" role="menuitem" data-edit-history-url="<%= user_content_edit_path(id: edit.global_relay_id) %>">
          <%= content %>
        </button>
      <% elsif edit.deleted_at %>
        <details class="details-reset Details-element">
          <summary class="btn-link dropdown-item p-2 lh-default" role="menuitem">
            <div class="d-flex flex-items-center">
              <span class="flex-auto css-truncate-target" style="max-width: none;">
                <%= content %>
                <span class="v-align-middle">(deleted)</span>
              </span>
              <%= primer_octicon(:"chevron-down", mx: 1, classes: "flex-shrink-0 Details-content--closed") %>
              <%= primer_octicon(:"chevron-up", mx: 1, classes: "flex-shrink-0 Details-content--open") %>
            </div>
          </summary>
          <div class="color-bg-subtle border-top p-2">
            <% if edit.deleted_by %>
              <% display_login = edit.deleted_by.is_a?(Bot) ? edit.deleted_by.slug : edit.deleted_by.display_login %>
              <img src="<%= edit.deleted_by.primary_avatar_url(40) %>" width="20" height="20" class="avatar avatar-small v-align-middle mr-1" alt="@<%= display_login %>">
              <span class="css-truncate-target v-align-middle text-bold"><%= display_login %></span> <%= bot_identifier(edit.deleted_by) %>
            <% else %>
              <img src="<%= User.ghost.primary_avatar_url(40) %>" width="20" height="20" class="avatar avatar-small v-align-middle mr-1" alt="@<%= GitHub.ghost_user_login %>">
              <span class="css-truncate-target v-align-middle text-bold"><%= GitHub.ghost_user_login %></span>
            <% end %>
            <span class="v-align-middle text-italic">deleted this content <%= time_ago_in_words_js edit.deleted_at %></span>
          </div>
        </details>

      <% else %>
        <div class="css-truncate-target d-block width-fit p-2 color-fg-muted">
          <%= content %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
