
<%# erblint:counter DeprecatedComponentsCounter 9 %>

<% case author_association %>
<% when :member %>
  <%= render(Primer::Tooltip.new(
    label: "#{viewer_did_author? ? "You are" : "This user is"} a member of the #{repository.owner.name} organization.")) do %>
  <%= render(Primer::Beta::Label.new(ml: 1).with_content("Member")) %>
  <% end %>
<% when :owner %>
  <%= render(Primer::Tooltip.new(
    label: "#{viewer_did_author? ? "You are" : "This user is"} the owner of the #{repository.name} repository.")) do %>
    <%= render(Primer::Beta::Label.new(ml: 1).with_content("Owner")) %>
  <% end %>
<% when :mannequin %>
  <%= render(Primer::Tooltip.new(
    label: "This is a mannequin user.")) do %>
    <%= render(Primer::Beta::Label.new(ml: 1).with_content("Mannequin")) %>
  <% end %>
<% when :collaborator %>
  <%= render(Primer::Tooltip.new(
    label: "#{viewer_did_author? ? "You have" : "This user has"} been invited to collaborate on the #{repository.name} repository.")) do %>
    <%= render(Primer::Beta::Label.new(ml: 1).with_content("Collaborator")) %>
  <% end %>
<% when :contributor %>
  <%= render(Primer::Tooltip.new(
    label: "#{viewer_did_author? ? "You have" : "This user has"} previously committed to the #{repository.name} repository.")) do %>
    <%= render(Primer::Beta::Label.new(ml: 1).with_content("Contributor")) %>
  <% end %>
<% when :first_time_contributor %>
  <%= render(Primer::Tooltip.new(
    label: "#{viewer_did_author? ? "You are" : "This user is"} a first-time contributor to the #{repository.name} repository.")) do %>
    <%= render(Primer::Beta::Label.new(ml: 1).with_content("First-time contributor")) %>
  <% end %>
  <% if comment.try(:show_first_contribution_prompt?, current_user) %>
    <div class="Popover js-notice right-0">
      <div class="Popover-message Popover-message--large mt-6 mr-1 Box color-shadow-large">
        <%= form_tag dismiss_first_contribution_path, class: "js-notice-dismiss" do %>
           <%= render(Primer::ButtonComponent.new(type: :submit, p: 2, float: :right, classes: "btn-octicon", "aria-label": "Close", "data-ga-click": "Community profile popover, first-time contributor badge, dismiss")) do %>
              <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
           <% end %>
        <% end %>

        <div class="p-4">
          <%= emoji_tag(Emoji.find_by_alias("tada"), class: "emoji emoji-icon") %>
          Looks like you got your first contribution! Visit your community profile to learn more about recommended open source practices.

          <%= form_tag dismiss_first_contribution_and_redirect_path do %>
           <%= render(Primer::ButtonComponent.new(type: :submit, variant: :small, mt: 2, "data-ga-click": "Community profile popover, first-time contributor badge, click:link to community profile")) do %>
            <strong>Go to community profile</strong>
           <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% when :first_timer %>
  <%= render(Primer::Tooltip.new(
    label: "#{viewer_did_author? ? "This is your" : "This user’s"} first pull request on GitHub.")) do %>
    <%= render(Primer::Beta::Label.new(ml: 1).with_content("First-time GitHub contributor")) %>
  <% end %>
<% end %>
