<%= render Primer::Beta::Subhead.new(hide_border: true) do |component| %>
  <% component.with_heading(tag: :h2) do %>Active SSO sessions<% end %>
<% end %>

<div class="Box manage-member-sso-sessions js-user-sessions-container">
  <% if external_identity.sessions.active.any? %>
    <ul>
      <% external_identity.sessions.active.with_user_session.each do |session| %>
        <%- user_session = session.user_session -%>

        <li class="Box-row js-user-session" <%= test_selector "external-identity-session-details-#{session.id}" %>>
          <strong>
            <% if user_session.location.present? %>
              <%= user_session.location[:city] || user_session.location[:region_name] || user_session.location[:country_name] %>
              <span><%= user_session.ip %></span>
            <% else %>
              <%= user_session.ip %>
            <% end %>
          </strong>

          <% if user_session.ua %>
            <span class="d-block">
              <strong><%= user_session.ua.name %></strong>
              on
              <%= user_agent_platform(user_session.ua) %>
            </span>
          <% end %>

          <span class="note">
            Expires <%= time_ago_in_words_js session.expires_at %> • Last accessed on <time><%= user_session.accessed_at.in_time_zone(Time.zone).strftime('%b %d, %Y') %></time>
          </span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_heading(tag: :h2) do %>
        This <%= external_identity.user_id.present? ? "member" : "external identity" %> does not have any active SSO sessions.
      <% end %>
    <% end %>
  <% end %>
</div>
