<% page_info :title => "Personal Access Tokens - Pending approval from #{this_user}",
             :selected_link => :personal_access_token_requests %>

<%= render Primer::Beta::Subhead.new do |component| %>
  <% component.with_heading do %>
    <span>Grant requests pending approval</span>
    <%= render(Primer::Beta::Label.new(label: "Beta", title: "Label: Beta", ml: 1, scheme: :success, vertical_align: :middle))  { "Beta" } %>
  <% end %>
<% end %>

<turbo-frame id="personal-access-tokens-container" data-turbo-action="advance">
  <%= render(Primer::Beta::BorderBox.new) do |component| %>
    <% if grant_requests.any? %>
      <% grant_requests.each do |grant_request| %>
        <% access = grant_request.user_programmatic_access %>
        <% component.with_row do %>
          <span>
            <%= link_to \
              access.name,
              request_stafftools_user_personal_access_token_organization_path(access.owner, access, this_user) %>
          </span>
          <span style="float:right">Requested <%= time_ago_in_words grant_request.created_at %> ago</span>
        <% end %>
      <% end %>
    <% else %>
      <% component.with_body do %>
        This organization does not have pending access requests
      <% end %>
    <% end %>
  <% end %>

  <% if grant_requests.respond_to?(:total_pages) %>
    <div class="paginate-container">
      <%= will_paginate(grant_requests, renderer: TurboActionReplaceLinkRenderer) %>
    </div>
  <% end %>
</turbo-frame>

<%= render(Primer::Beta::BorderBox.new(padding: :condensed)) do |component| %>
  <% component.with_header do |h| %>
    <% h.with_title(tag: :h3) do %>
      Denied requests
    <% end %>
  <% end %>

  <% component.with_body do %>
    Grant requests for access to <%= profile_link(this_user, class: "Link--primary text-bold") %> can be found on <a class="Link--inTextBlock" href="<%= stafftools_audit_log_path(query: "personal_access_token.request_denied org:#{this_user}") %>">these audit log entries</a>
  <% end %>
<% end %>
