<%# erblint:counter DeprecatedComponentsCounter 7 %>
<%# view is Stafftools::User::TradeControlsView %>
<%
  page_info title: view.page_title
  user = view.user
  show_billing_info = view.show_billing_info || false
%>

<%= render Primer::Beta::Subhead.new do |component| %>
	<% component.with_heading(tag: :h2) do %>Trade Compliance<% end %>
<% end %>

<h3 class="f4">Account Overview</h3>
<% if stafftools_action_authorized?(
  controller: Stafftools::TradeCompliance::TradeScreeningRecordsController,
  action: :index,
) %>
  <div class="Box mt-3">
    <%= render(Stafftools::TradeCompliance::AccountOverviewComponent.new(target: user)) %>
  </div>
<% end %>
<hr>

<h3 class="f4">Trade Controls Restrictions</h3>
<% if user.organization? %>
  <p>Manage trade controls restrictions for this organization.</p>
<%else%>
  <p>Manage trade controls restrictions for this user.</p>
<%end%>

<% if user.has_any_trade_restrictions? %>
  <% if user.organization? %>
    <div class="Box mt-3">
      <ul>
        <%# if an org is suspended we don't want to override the full restrictions here since that would mean we also have to remove the spammy flag separately %>
        <% if !user.sdn_suspended? %>
          <li class="Box-row">
            <% if stafftools_action_authorized?(
              controller: Stafftools::Users::TradeCompliance::RestrictionsEnforcementController,
              action: :destroy,
            ) %>
              <div class="d-flex flex-justify-between flex-items-center">
                <div class="pr-2">
                  <label for="time-limit">Override Enforcement</label>
                  <p class="note">
                    Clearing the <%= view.trade_controls_restriction_type %> trade controls
                    restriction on this organization will restore lost functionality and cancel
                    any pending downgrade. If the downgrade has already been run, certain
                    features may not be automatically reinstated.
                  </p>
                </div>
                <%= render(
                  layout: "shared/details_dialog",
                  locals: {
                    button_text: "Override enforcement",
                    title: "Override restrictions enforcement for #{user.login}",
                    button_class: "btn btn-danger float-right ml-2",
                    details_class: "text-left",
                  },
                ) do %>
                  <%= form_tag(
                    stafftools_user_trade_compliance_restrictions_enforcement_path(user),
                    method: :delete,
                    class: "m-3",
                  ) do %>
                    <label class="mt-3" for="reason">Log reason</label>
                    <input
                      class="form-control input-block mt-1 mb-1"
                      type="text"
                      name="reason"
                      id="reason"
                      autofocus
                    >
                    <%= render Primer::ButtonComponent.new(
                      type: :submit,
                      block: true,
                      scheme: :danger,
                      "data-confirm": "Are you sure you want to unflag this organization's "\
                        "trade restriction?",
                      test_selector: "admin-org-override-restrictions-button",
                    ) do %>
                      Override restrictions
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="d-flex flex-justify-between flex-items-center">
                <div class="pr-2">
                  <label for="time-limit">Override Enforcement</label>
                  <p><%= stafftools_not_authorized_html %></p>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
        <%= render(
          "stafftools/users/trade_controls_violations",
          user: user,
          type: "organization",
        ) %>
        <% if user.has_tiered_trade_restrictions? %>
          <li class="Box-row">
            <% if stafftools_action_authorized?(
              controller: Stafftools::Users::TradeCompliance::RestrictionsEnforcementController,
              action: :update,
            ) %>
              <div class="d-flex flex-justify-between flex-items-center">
                <div class="pr-2">
                  <label for="time-limit">Update Restriction Level</label>
                  <p class="note">
                    Update the trade restriction level for this organization.
                  </p>
                </div>
                <%= render(
                  layout: "shared/details_dialog",
                  locals: {
                    button_text: "Update restriction",
                    title: "Update restriction level for #{user.login}",
                    button_class: "btn btn-danger float-right ml-2",
                    details_class: "text-left",
                  },
                ) do %>
                  <%= form_tag(
                    stafftools_user_trade_compliance_restrictions_enforcement_path(user),
                    method: :put,
                    class: "m-3",
                  ) do %>
                    <label class="mt-3" for="update-reason">Log reason</label>
                    <input
                      class="form-control input-block mt-1 mb-3"
                      type="text"
                      name="reason"
                      id="update-reason"
                      autofocus
                    >
                    <label class="mt-3" for="restriction_type">
                      Select level of restriction
                    </label>

                    <select
                      id="restriction_type"
                      name="restriction_type"
                      class="form-select input-block mt-1 mb-2"
                      required
                    >
                      <option value="" selected disabled hidden></option>
                      <% view.
                        trade_controls_restriction_events.
                        select { |evt| evt[0] != :unrestricted }.
                        each do |event| %>
                        <option value="<%= event[1] %>"><%= event[0].to_s.titleize %></option>
                      <% end %>
                    </select>

                    <%= render Primer::ButtonComponent.new(
                      type: :submit,
                      block: true,
                      scheme: :danger,
                      "data-confirm": "Are you sure you want to update this organization's "\
                        "trade restriction level?",
                      test_selector: "admin-org-update-restrictions-button",
                    ) do %>
                      Update
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <div class="d-flex flex-justify-between flex-items-center">
                <div class="pr-2">
                  <label for="time-limit">Update Restriction Level</label>
                  <p><%= stafftools_not_authorized_html %></p>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="Box mt-3">
      <ul>
        <li class="Box-row">
          <% if stafftools_action_authorized?(
            controller: Stafftools::Users::TradeCompliance::RestrictionsEnforcementController,
            action: :destroy,
          ) %>
            <div class="d-flex flex-justify-between flex-items-center">
              <div class="pr-2">
                <h4>OFAC Sanction Override</h4>
                <p>
                  This user has been <%= view.trade_controls_restriction_type %> trade
                  controls restricted.
                  <br>
                  <% if user.scheduled_ofac_downgrade %>
                    A downgrade has been scheduled to be executed on
                    <%= user.scheduled_ofac_downgrade.downgrade_on %>.
                    <br>
                  <% end %>
                  To unrestrict the user and cancel the downgrade, override the trade
                  controls restriction.
                </p>
              </div>
              <%= form_tag stafftools_user_trade_compliance_restrictions_enforcement_path(user), method: :delete do %>
                <div class="float-right ml-2">
                  <dl>
                    <dt><label for="reason">Reason</label></dt>
                    <dd>
                      <input
                        class="form-control width-full"
                        type="text"
                        name="reason"
                        id="reason"
                      >
                    </dd>
                  </dl>
                  <%= render Primer::ButtonComponent.new(
                    type: :submit,
                    scheme: :danger,
                    "data-confirm": "Are you sure you want to unflag this user's trade "\
                      "restriction?",
                    test_selector: "admin-user-override-restrictions-button",
                  ) do %>
                    Override OFAC Sanctions
                  <% end %>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex flex-justify-between flex-items-center">
              <div class="pr-2">
                <h4>OFAC Sanction Override</h4>
                <p><%= stafftools_not_authorized_html %></p>
              </div>
            </div>
          <% end %>
        </li>
        <%= render "stafftools/users/trade_controls_violations", user: user, type: "user" %>
      </ul>
    </div>
  <% end %>
<%else%>
  <% if user.organization? %>
    <div class="Box mt-3 mb-3">
      <ul>
        <li class="Box-row">
          <% if stafftools_action_authorized?(
            controller: Stafftools::Users::TradeCompliance::RestrictionsEnforcementController,
            action: :create,
          ) %>
            <div class="d-flex flex-justify-between flex-items-center">
              <div class="pr-2">
                <label for="time-limit"> Enforce restrictions</label>
                <p class="note">
                  Setting the trade controls flag for this organization will severely limit
                  functionality and schedule an account downgrade. This account currently has
                  a <strong><%= view.plan %></strong> plan.
                </p>
              </div>
              <%= render(
                layout: "shared/details_dialog",
                locals: {
                  button_text: "Enforce restrictions",
                  title: "Enforce restrictions for #{user.login}",
                  button_class: "btn btn-danger float-right ml-2",
                  details_class: "text-left",
                },
              ) do %>
                <%= form_for(
                  user,
                  url: stafftools_user_trade_compliance_restrictions_enforcement_path(user),
                  method: :post,
                  html: { class: "m-3" },
                  namespace: "trade_controls",
                ) do |f| %>
                  <input type="hidden" name="id" value="<%= user.name %>">
                  <label class="mt-3" for="restriction_reason">Log reason</label>
                  <input
                    class="form-control input-block mt-1 mb-1"
                    type="text"
                    name="reason"
                    id="restriction_reason"
                    autofocus
                  >
                  <label class="mt-3" for="restriction_type">
                    Select level of restriction
                  </label>
                  <select
                    id="restriction_type"
                    name="restriction_type"
                    class="form-select input-block mt-1 mb-2"
                    required
                  >
                    <option value="" selected disabled hidden></option>
                    <% view.trade_controls_restriction_events.each do |event| %>
                      <option value="<%= event[1] %>"><%= event[0].to_s.titleize %></option>
                    <% end %>
                  </select>

                  <%= render Primer::ButtonComponent.new(
                    type: :submit,
                    block: true,
                    scheme: :danger,
                    test_selector: "admin-org-enforce-restrictions-button",
                  ) do %>
                    Enforce restrictions
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex flex-justify-between flex-items-center">
              <div class="pr-2">
                <label for="time-limit"> Enforce restrictions</label>
                <p><%= stafftools_not_authorized_html %></p>
              </div>
            </div>
          <% end %>
        </li>
        <%= render(
          "stafftools/users/trade_controls_violations",
          user: user,
          type: "organization",
        ) %>
      </ul>
    </div>
  <% else %>
    <div class="Box mt-3 mb-3">
      <ul>
        <li class="Box-row">
          <% if stafftools_action_authorized?(
            controller: Stafftools::Users::TradeCompliance::RestrictionsEnforcementController,
            action: :create,
          ) %>
            <div class="d-flex flex-justify-between flex-items-center">
              <div class="pr-2">
                <label for="time-limit"> Enforce restrictions</label>
                <p class="note">
                  Setting the trade controls flag for this user will severely limit
                  functionality and schedule an account downgrade. This account currently has
                  a <strong><%= view.plan %></strong> plan.
                </p>
              </div>
              <%= render(
                layout: "shared/details_dialog",
                locals: {
                  button_text: "Enforce restrictions",
                  title: "Enforce restrictions for #{user.login}",
                  button_class: "btn btn-danger float-right ml-2",
                  details_class: "text-left",
                },
              ) do %>
                <%= form_for(
                  user,
                  url: stafftools_user_trade_compliance_restrictions_enforcement_path(user),
                  method: :post,
                  html: { class: "m-3" },
                  namespace: "trade_controls",
                ) do |f| %>
                  <input type="hidden" name="id" value="<%= user.name %>">
                  <label class="mt-3" for="restriction_reason">Log reason</label>
                  <input
                    class="form-control input-block mt-1 mb-1"
                    type="text"
                    name="reason"
                    id="restriction_reason"
                    autofocus
                  >
                  <label class="mt-3" for="restriction_type">
                    Select level of restriction
                  </label>

                  <select
                    id="restriction_type"
                    name="restriction_type"
                    class="form-select input-block mt-1 mb-2"
                    required
                  >
                    <option value="" selected disabled hidden></option>
                    <% view.trade_controls_restriction_events.each do |event| %>
                      <option value="<%= event[1] %>"><%= event[0].to_s.titleize %></option>
                    <% end %>
                  </select>

                  <%= render Primer::ButtonComponent.new(
                    type: :submit,
                    block: true,
                    scheme: :danger,
                    test_selector: "admin-user-enforce-restrictions-button",
                  ) do %>
                    Enforce restrictions
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="d-flex flex-justify-between flex-items-center">
              <div class="pr-2">
                <label for="time-limit"> Enforce restrictions</label>
                <p><%= stafftools_not_authorized_html %></p>
              </div>
            </div>
          <% end %>
        </li>
        <%= render(
          "stafftools/users/trade_controls_violations",
          user: user,
          type: "user",
        ) %>
      </ul>
    </div>
  <% end %>
<% end %>
<hr>

<% if user.organization? %>
  <h4>Organization Suspension</h4>
  <p>Manage suspension for this organization.</p>

  <div class="Box mt-3 mb-3">
    <ul>
      <% if user.sdn_suspended? %>
        <li class="Box-row">
          <% if stafftools_action_authorized?(
            controller: Stafftools::Users::TradeCompliance::SdnSuspensionController,
            action: :destroy
          ) %>
            <div class="d-flex flex-justify-between flex-items-center">
              <div class="pr-2">
                <label for="time-limit">Unsuspend organization</label>
                <p class="note">
                  This organization is currently suspended. Unsuspend this organization and undo the restrictions.
                </p>
              </div>
              <div class="float-right ml-2">
                <%= render(
                  layout: "shared/details_dialog",
                  locals: {
                    button_text: "Unsuspend organization",
                    title: "Unsuspend organization",
                    button_class: "btn btn-danger float-right ml-2",
                    details_class: "text-left",
                  },
                ) do %>
                  <%= form_tag(
                    stafftools_user_trade_compliance_sdn_suspension_path(user),
                    method: :delete,
                    class: "m-3",
                  ) do %>
                    <label class="mt-3" for="reason">Log reason</label>
                    <input
                      class="form-control input-block mt-1 mb-4"
                      type="text"
                      name="reason"
                      id="reason"
                      placeholder="Why are you unsuspending this organization?"
                      required
                      autofocus
                    >

                    <div class="d-flex flex-column mb-4">
                      <p class="mb-1"> This organization is a <%= user.paid_plan? ? "paying" : "free" %> organization and has:</p>
                      <div class="px-2"><strong><%= user.members_count %></strong> members</div>
                      <div class="px-2"><strong><%= user.public_repositories.count %></strong> public repositories</div>
                      <div class="px-2"><strong><%= user.private_repositories.count %></strong> private repositories</div>
                    </div>

                    <%= render Primer::ButtonComponent.new(
                      type: :submit,
                      block: true,
                      scheme: :danger,
                      "data-confirm": "Are you sure you want to unsuspend this organization?",
                      test_selector: "admin-org-unsuspend-button",
                    ) do %>
                      Unsuspend
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="d-flex flex-justify-between flex-items-center">
              <div class="pr-2">
                <label for="time-limit">Unsuspend organization</label>
                <p><%= stafftools_not_authorized_html %></p>
              </div>
            </div>
          <% end %>
        </li>
      <% else %>
        <li class="Box-row">
          <% if stafftools_action_authorized?(
            controller: Stafftools::Users::TradeCompliance::SdnSuspensionController,
            action: :create
          ) %>
            <div class="d-flex flex-justify-between flex-items-center">
              <div class="pr-2">
                <label for="time-limit">Suspend organization</label>
                <p class="note">
                  Suspending an organization will severely limit functionality and schedule an account downgrade.
                </p>
              </div>
              <div class="float-right ml-2">
                <%= render(
                  layout: "shared/details_dialog",
                  locals: {
                    button_text: "Suspend organization",
                    title: "Suspend organization",
                    button_class: "btn btn-danger float-right ml-2",
                    details_class: "text-left",
                  },
                ) do %>
                  <%= form_tag(
                    stafftools_user_trade_compliance_sdn_suspension_path(user),
                    class: "m-3",
                  ) do %>
                    <label class="mt-3" for="reason">Log reason</label>
                    <input
                      class="form-control input-block mt-1 mb-4"
                      type="text"
                      name="reason"
                      id="reason"
                      placeholder="Why are you suspending this organization?"
                      required
                      autofocus
                    >

                    <div class="d-flex flex-column mb-4">
                      <p class="mb-1"> This organization is a <strong><%= user.paid_plan? ? "paying" : "free" %></strong> organization and has:</p>
                      <div class="px-2"><strong><%= user.members_count %></strong> members</div>
                      <div class="px-2"><strong><%= user.public_repositories.count %></strong> public repositories</div>
                      <div class="px-2"><strong><%= user.private_repositories.count %></strong> private repositories</div>
                    </div>

                    <%= render Primer::ButtonComponent.new(
                      type: :submit,
                      block: true,
                      scheme: :danger,
                      "data-confirm": "Are you sure you want to suspend this organization?",
                      test_selector: "admin-org-suspend-button",
                    ) do %>
                      Suspend
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <%else%>
            <div class="d-flex flex-justify-between flex-items-center">
              <div class="pr-2">
                <label for="time-limit">Suspend organization</label>
                <p><%= stafftools_not_authorized_html %></p>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <hr>
<% end %>

<h4>Trade Screening Restrictions</h4>
<% if user.organization? %>
  <p>Manage trade screening restrictions for this organization.</p>
<%else%>
  <p>Manage trade screening restrictions for this user.</p>
<%end%>

<div class="Box mt-3 mb-3">
  <ul>
    <%= render(Stafftools::TradeCompliance::ScreeningRecordViewComponent.new(target: user, show_billing_info: show_billing_info)) %>
    <%= render(Stafftools::TradeCompliance::ManualScreeningComponent.new(target: user)) %>
    <%= render(Stafftools::TradeCompliance::SetScreeningStatusComponent.new(target: user))%>

    <li class="Box-row">
      <h4>Individual Suspension</h4>
      <% if stafftools_action_authorized?(
        controller: Stafftools::Users::TradeCompliance::SdnSuspensionController,
        action: :create
      ) %>
        <%= render(Stafftools::TradeCompliance::SdnSuspendIndividualComponent.new(user: user)) %>
        <%= render(Stafftools::TradeCompliance::SdnUnsuspendIndividualComponent.new(user: user)) %>
      <% else %>
        <p><%= stafftools_not_authorized_html %></p>
      <% end %>
    </li>

    <li class="Box-row">
      <h4>Delete Trade Screening Record</h4>
      <% if stafftools_action_authorized?(
        controller: Stafftools::Users::TradeCompliance::ScreeningProfileController,
        action: :destroy
      ) %>
        <%= render(Stafftools::TradeCompliance::DeleteScreeningRecordComponent.new(user: user)) %>
      <% else %>
        <p><%= stafftools_not_authorized_html %></p>
      <% end %>
    </li>

    <%= render(Stafftools::TradeCompliance::ContactMicrosoftTradeHelpComponent.new(target: user, staffer: current_user)) %>
  </ul>
</div>
<hr>
