<audio-player class="<%= container_classes %>"
   role="group"
   aria-label="<% if @aria_label.present? %><%= @aria_label %><% else %>Audio<% end %><% if @title.present? %>: <%= @title %><% end %>"
   <% if @theme.present? %>data-media-player-theme="audio-<%= @theme %>"<% end %>
   data-show-tooltips="false">
   <audio data-target="audio-player.media"<% if @src.present? %> src="<%= @src %>"<% end %> preload="metadata" crossorigin="anonymous" controls playsinline hidden>
    <% if @sources.present? %>
       <% @sources.each do |source| %>
         <source src="<%= source[:src] %>"<% if source[:type].present? %> type="<%= source[:type] %>"<% end %>>
       <% end %>
     <% end %>
   </audio>

   <div class="d-flex flex-items-center">
     <button type="button" data-action="click:audio-player#skipBackward" class="media-player-tooltip-container media-player-button" aria-label="Skip backward 10 seconds" disabled>
       <div class="media-player-tooltip media-player-tooltip-left" aria-hidden="true"><span class="px-2 py-1 rounded-2 text-bold media-player-tooltip-content no-wrap">Skip backward</span></div>
       <%= svg("site/icons/audio-player/skip-backward", class: "d-block", aria_hidden: "true") %>
     </button>

     <button type="button" data-target="audio-player.playToggleButton" data-action="click:audio-player#togglePlay" class="media-player-tooltip-container media-player-play-toggle media-player-button mx-6 mx-md-3 mx-lg-2" aria-label="Play" data-label-play="Play" data-label-pause="Pause" disabled>
       <div class="media-player-tooltip" aria-hidden="true"><span class="px-2 py-1 rounded-2 text-bold media-player-tooltip-content" data-target="audio-player.playTooltip">Play</span></div>
       <span class="media-player-play-icon">
         <%= svg("site/icons/audio-player/play", class: "d-block", aria_hidden: "true") %>
       </span>
       <span class="media-player-pause-icon">
         <%= svg("site/icons/audio-player/pause", class: "d-block", aria_hidden: "true") %>
       </span>
     </button>

     <button type="button" data-action="click:audio-player#skipForward" class="media-player-tooltip-container media-player-button" aria-label="Skip forward 10 seconds" disabled>
       <div class="media-player-tooltip" aria-hidden="true"><span class="px-2 py-1 rounded-2 text-bold media-player-tooltip-content no-wrap">Skip forward</span></div>
       <%= svg("site/icons/audio-player/skip-forward", class: "d-block", aria_hidden: "true") %>
     </button>
   </div>

   <div class="<% if !@mobile_layout_only %>d-md-flex flex-items-center <% end %>width-full">
     <div class="media-player-slider-wrapper media-player-slider-scrubber media-player-tooltip-container width-full position-relative mt-4 mb-2<% if !@mobile_layout_only %> my-md-0 mx-md-3<% end %>">
       <div data-target="audio-player.scrubberTooltip" class="media-player-tooltip" aria-hidden="true"><span class="px-2 py-1 rounded-2 text-bold media-player-tooltip-content"></span></div>
       <progress data-target="audio-player.bufferProgress" class="media-player-buffer-progress width-full height-full position-absolute top-0 left-0" value="0" aria-hidden="true"></progress>
       <progress data-target="audio-player.scrubberProgress" class="media-player-slider-progress width-full height-full position-absolute top-0 left-0 z-1" value="0" aria-hidden="true"></progress>
       <input type="range" min="0" value="0" data-target="audio-player.scrubber" aria-label="Seek" class="media-player-slider" disabled>
     </div>

     <div class="media-player-time d-flex flex-justify-between text-mono f5-mktg no-wrap<% if !@mobile_layout_only %> mr-lg-3<% end %>">
       <span data-target="audio-player.currentTimeLabel" class="mr-1"><span class="sr-only">Elapsed time: </span>00:00</span>
       <% if !@mobile_layout_only %><span class="d-none d-md-block">/</span><% end %>
       <span data-target="audio-player.totalTimeLabel" class="ml-1"><span class="sr-only">Total time: </span>00:00</span>
     </div>
   </div>

   <% if @download_src.present? %>
     <a href="<%= @download_src %>" download class="media-player-tooltip-container d-none<% if !@mobile_layout_only %> d-lg-inline-block<% end %> media-player-button" aria-label="Download">
       <div class="media-player-tooltip media-player-tooltip-right" aria-hidden="true"><span class="px-2 py-1 rounded-2 text-bold media-player-tooltip-content no-wrap">Download</span></div>
       <%= svg("site/icons/audio-player/download", class: "d-block", aria_hidden: "true") %>
     </a>
   <% end %>
 </audio-player>
