<nav aria-label="Breadcrumb" class="width-fit">
  <ol class="Truncate hx_breadcrumb-header-crumbs">
    <% breadcrumbs.each_with_index do |crumb, index| %>
      <li class="list-style-none Truncate-text ml-0" <%= test_selector(crumb[:test_selector]) if crumb.key?(:test_selector) %>>
        <% if index > 0 %>
          <span class="cursor-default mx-2 hx_breadcrumb-header-divider">/</span>
        <% end %>

        <% if crumb.key?(:octicon) && crumb[:octicon].present? %>
          <span class="mr-2"><%= render Primer::Beta::Octicon.new(icon: crumb[:octicon]) %></span>
        <% end %>

        <% if crumb.key?(:path) %>
          <%= link_to crumb[:text], sanitize(crumb[:path]), class: "Header-link py-3 mt-n3 mb-n3 #{crumb[:text_style]}" %>
        <% else %>
          <span class="py-3 mt-n3 mb-n3 <%= crumb[:text_style] %>"><%= crumb[:text] %></span>
        <% end %>
      </li>

      <% if crumb[:slot] %>
        <li class="list-style-none  Truncate-text ml-0">
          <span class="cursor-default mx-1 hx_breadcrumb-header-divider">/</span>
          <%= crumb[:slot].content %>
        </li>
      <% end %>
    <% end %>
  </ol>
</nav>
