<% cache_if @cache, cache_key do %>
  <%= content_tag(:div,
    id: @id,
    class: container_classes
  ) do %>
    <%= content_tag(:a, data: @data, class: card_classes, href: @url) do %>
      <% if @octicon.present? || @badge.present? %>
        <div class="d-flex flex-row flex-justify-between flex-items-center mb-3">
          <% if @octicon.present? %>
            <span class="card-icon-mktg d-flex lh-condensed-ultra circle p-2 color-bg-<%= @color %>">
              <%= render Primer::Beta::Octicon.new(icon: @octicon, size: :medium, color: @color, width: 20, height: 20, m: 1) %>
            </span>
          <% end %>

          <%= render(Primer::Beta::Label.new(scheme: :primary, px: 2, py: 1)) { @badge } if @badge.present? %>
        </div>
      <% end %>

      <%= content_tag(@heading_size, @header, class: header_classes) %>

      <p class="color-fg-muted f4-mktg my-auto">
        <%= strip_tags(@text) %>
      </p>

      <div class="f4-mktg text-semibold position-relative mt-3 color-fg-default">
        <%= @cta %> <%= svg("modules/site/icons/chevrow.svg") %>
      </div>
    <% end %>
  <% end %>
<% end %>
