<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="d-flex <%= container_classes %>">
  <div class="color-fg-subtle text-right user-select-none" style="<%= line_number_styles %>">
    <% if @file[:code].present? %>
      <% @file[:code].each_line.with_index(1) do |line, i| %>
        <%= content_tag(:div, i, class: "pr-2") %>
      <% end %>
    <% end %>
  </div>

  <div class="flex-1 overflow-x-auto" tabindex="0">
    <% if @file[:code].present? %>
      <% syntax_highlight(@file[:name], @file[:code]).each.with_index(1) do |line, i| %>
        <pre class="<%= font_size %>"><%= content_tag(:span, line, line_params(i, @file)) %></pre>
      <% end %>
    <% end %>

    <% if has_suggestions(@file) %>
      <div class="<%= suggestion_classes %>" style="<%= suggestion_styles %>">
        <%= svg("modules/site/copilot/components/bot.svg", width: 16, height: 15, class: "mr-1", aria_hidden: true) %>
        Copilot
      </div>
    <% end %>
  </div>
</div>

<% if show_replay_button? %>
  <div class="position-absolute width-full z-1 text-center bottom-0 left-0 mb-n6 f5-mktg js-type-row">
    <%= render(Primer::ButtonComponent.new(
      scheme: :link,
      color: :default,
      underline: false,
      classes: "js-type-restart"
    )) do |c| %>
      <% c.with_leading_visual_icon(icon: :sync) %>
      Replay
    <% end %>
  </div>
<% end %>
