<%= content_tag(:div,
  class: container_classes,
  **@options
) do %>
  <%= content_tag(:h5, @title, class: "text-center pt-2 color-fg-muted") if @title.present? %>

  <tab-container>
    <div class="tabnav pt-2 px-2 mb-0 width-full">
      <nav class="tabnav-tabs" aria-label="Code editor files" role="tablist">
        <% @files.each_with_index do |file, i| %>
          <%= button_tag(
              type: "button",
              role: "tab",
              id: file[:name].parameterize,
              "aria-selected": i == 0,
              class: "tabnav-tab",
              tabindex: "0",
          ) do %>
            <%= render Site::LanguageIconComponent.new(
              language: filename_language(file[:name]).try(:name),
              size: 16,
              classes: "octicon"
            ) %>

            <%= content_tag(:span, file[:name]) %>
          <% end %>
        <% end %>
      </nav>
    </div>

    <% @files.each_with_index do |file, i| %>
      <%= content_tag(
        :div,
        role: "tabpanel",
        "aria-labelledby": file[:name].parameterize,
        hidden: i > 0,
        class: panel_classes,
      ) do %>
        <%= render(Site::CodeBlockComponent.new(file: file, animated: @animated)) %>
      <% end %>
    <% end %>
  </tab-container>
<% end %>
