<div class="px-3 py-2 border-bottom color-border-muted d-flex flex-items-center lh-condensed f6 color-fg-muted no-wrap" <%= test_selector("enterprise-managed-header") %>>
  <div class="flex-sm-1 text-bold">
    <%= primer_octicon(:globe) %>
    <span class="ml-1 hide-sm">
      GitHub Enterprise
    </span>
  </div>

  <div class="ml-2 overflow-x-hidden">
    <%= render(Primer::Beta::Truncate.new) do %>
      <% if current_user.is_first_emu_owner? %>
        Viewing as <strong><%= current_user.display_login %></strong>
      <% else %>
        Users managed by

        <%= render(Primer::Beta::Link.new(
          href: enterprise_url(business),
          scheme: :primary,
          muted: true,
          underline: false,
          font_weight: :bold)
        ) { business.name } %>
      <% end %>
    <% end %>
  </div>
</div>
