<%= content_tag(:a,
  class: "eyebrow-banner d-inline-block no-underline color-fg-on-emphasis f5-mktg mb-4 border position-relative z-1 arrow-target-mktg text-left",
  data: @data,
  href: @url,
  **@options
) do %>
  <div class="d-flex flex-items-center">
    <% if @icon.present? %>
      <%= render Site::ImageComponent.new(
        src: icon_src,
        width: 88,
        height: 88,
        max_width: 44,
        classes: "eyebrow-banner-icon d-block width-auto flex-grow-0 flex-shrink-0 mr-3",
        alt: "",
        sizes: "44px",
        "aria-hidden": "true"
      ) %>
    <% else %>
      <%= content_tag(:div, @label, class: label_classes, data: {test_selector: 'label'}) if @label.present? %>
    <% end %>
    <div class="pr-3 mr-md-1 pl-md-1">
      <div class="text-semibold lh-condensed"><%= @title %></div>
      <%= content_tag(:div, @subtitle, class: "color-fg-subtle lh-condensed", data: {test_selector: "subtitle"}) if @subtitle.present? %>
    </div>

    <div class="ml-auto">
      <%= svg("modules/site/icons/chevrow.svg") %>
    </div>
  </div>
<% end %>
