<div class="position-relative faq-mktg-item" id="<%= @question.parameterize %>">
  <%= content_tag(:details,
  class: "position-relative border-bottom",
  data: @data
  ) do %>
    <summary class="position-relative list-style-none pl-4 py-4">
      <span class="faq-mktg-marker" aria-hidden="true"></span>
      <h3 class="d-inline-block v-align-top mt-n1 col-11 ml-1 ml-lg-6 mb-0 f3-mktg text-semibold color-fg-default">
        <%= @question %>
      </h3>
    </summary>
    <section class="ml-4 ml-lg-6 pl-1 pl-lg-4 mt-n3 mb-5 color-fg-muted f4-mktg position-relative z-1">
      <%= GitHub::Goomba::MarkdownPipeline.to_html(@answer, cache_settings: { use_cache: true }) if @answer.present? %>
      <%= content %>
    </section>
  <% end %>
  <div class="faq-mktg-item-hover-effect position-absolute bottom-0 left-0 width-full z-n1 border-bottom"></div>
</div>
