<div class="px-md-6 px-lg-0 mb-8 mt-6 mt-md-8 mt-lg-12 position-relative z-1 <%= @classes %>" <%= analytics_visible_data_attributes(category: "FAQ", text: "Frequently asked questions") %>>
  <div class="col-lg-8 mx-auto faq-mktg" id="faq">
    <h2 class="<%= section_headline_classes %>">Frequently asked&nbsp;questions</h2>

    <% cache cache_key do %>
      <% @items.each do |item| %>
        <%= render(Site::FaqItemComponent.new(**item)) %>
      <% end %>

      <% @groups.each do |group| %>
        <%= render(Site::FaqGroupComponent.new(**group)) %>
      <% end %>
    <% end %>

  </div>
</div>

<% cache structured_data_cache_key do %>
  <%= structured_data_script_tag %>
<% end %>
