<% cache_if @cache, cache_key do %>
  <card-skew class="overflow-hidden rounded-3 mb-3 mb-md-5">
    <%= tag.div(class: container_classes, data: {target: "card-skew.bounding"}) do %>
      <%= tag.div(class: content_classes) do %>
        <%= tag.p(
          GitHub::Goomba::SimplePipeline.to_html(
            @header,
            cache_settings: {
              use_cache: true
            }
          ),
          class: header_classes
        ) if @header.present? %>

        <%= tag.div(render(Site::LinkComponent.new(**@link))) if @link.present? %>
      <% end %>

      <%= tag.div(render(Site::ImageComponent.new(**@image)), class: image_container_classes) if @image.present? %>
      <%= tag.div(content, class: image_container_classes) if content.present? %>

      <div data-target="card-skew.shine" class="position-absolute bottom-0 right-0 events-none z-n1"></div>
    <% end %>
  </card-skew>
<% end %>
