<%= content_tag(:div,
  class: "py-8 px-3 color-bg-default",
  data: @dark ? mktg_color_theme_data : nil,
  **@options
) do %>
  <section class="container-xl">
    <div  class="<%= container_classes %>">
      <h2 class="h1-mktg mx-auto col-8-max color-fg-default mb-0"><%= GitHub::Goomba::SimplePipeline.to_html(@header, cache_settings: { use_cache: true }) %></h2>
      <p class="f3-mktg col-7-max mx-auto mt-4 color-fg-muted"><%= GitHub::Goomba::SimplePipeline.to_html(@text, cache_settings: { use_cache: true }) %></p>

      <div class="mt-4 mt-md-6 mb-4 position-relative">
        <%= content %>
      </div>
    </div>
  </section>
<% end %>
