<div class="position-relative">
  <%= image_tag(
    image_path(@background_image),
    alt: "",
    class: "position-absolute my-auto top-0 left-0 right-0 bottom-0 events-none",
    style: "width: 120%; margin-left: -10%; min-height: 480px;",
    loading: "lazy",
    decoding: "async"
  ) if @background_image.present? %>

  <div class="<%= card_classes %>">
    <%= tag.h2(
      GitHub::Goomba::SimplePipeline.to_html(@header, cache_settings: { use_cache: true }),
      class: "h2-mktg mx-auto col-7-max"
    ) %>
    <%= tag.p(@text, class: "f3-mktg color-fg-muted mt-4") if @text %>
    <% if @ctas.present? %>
      <div class="d-sm-flex flex-justify-center mt-6">
        <%= render Site::ButtonGroupComponent.new(buttons: @ctas, size: :large) %>
      </div>
    <% end %>
  </div>
</div>
