<footer class="<%= footer_classes %>" role="contentinfo" <%= test_selector "global_footer" %>>
  <h2 class='sr-only'>Footer</h2>

  <%= render(Businesses::FooterComponent.new(
    repository: current_repository,
    business_footer_enabled: business_footer_enabled
  )) %>

  <div class="<%= footer_container_classes %>">
    <div class="<%= footer_org_classes %>">
      <%= link_to GitHub.url, "aria-label": "Homepage", title: footer_mark_title, class: "footer-octicon mr-2" do %>
        <%= primer_octicon("mark-github", size: :medium) %>
      <% end %>

      <span>
        &copy; <%= Time.now.year %> GitHub,&nbsp;Inc.
      </span>
    </div>

    <nav aria-label="Footer">
      <h3 class="sr-only" id="sr-footer-heading">Footer navigation</h3>

      <ul class="<%= footer_ul_classes %>" aria-labelledby="sr-footer-heading">
        <% if can_toggle_site_admin_and_employee_status? %>
          <li class="mx-2">
            <%= render partial: "site/site_admin_and_employee_toggle_link" %>
          </li>
        <% end %>

        <% if GitHub.enterprise? %>
          <li class="mx-2">
            <%= render(Primer::Beta::Link.new(href: GitHub.enterprise_help_landing_page, scheme: :secondary)) { "Help" } %>
          </li>

          <li class="mx-2">
            <%= render(Primer::Beta::Link.new(href: GitHub.support_link_not_enterprise_default? ? GitHub.support_link_text_mailto_or_link : contact_path, scheme: :secondary)) { "Support" } %>
          </li>
        <% else %>
          <li class="mx-2">
            <%= render(Primer::Beta::Link.new(href: GitHub.terms_url, scheme: :secondary, data: analytics_click_attributes(category: "Footer", action: "go to Terms", label: "text:terms"))) { "Terms" } %>
          </li>

          <li class="mx-2">
            <%= render(Primer::Beta::Link.new(href: GitHub.privacy_url, scheme: :secondary, data: analytics_click_attributes(category: "Footer", action: "go to privacy", label: "text:privacy"))) { "Privacy" } %>
          </li>

          <li class="mx-2">
            <%= render(Primer::Beta::Link.new(href: GitHub.marketing_link(security_path), scheme: :secondary, data: analytics_click_attributes(category: "Footer", action: "go to security", label: "text:security"))) { "Security" } %>
          </li>

          <li class="mx-2">
            <%= render(Primer::Beta::Link.new(href: GitHub.status_url, scheme: :secondary, data: analytics_click_attributes(category: "Footer", action: "go to status", label: "text:status"))) { "Status" } %>
          </li>

          <li class="mx-2">
            <%= render(Primer::Beta::Link.new(href: helpers.docs_url("homepage"), scheme: :secondary, data: analytics_click_attributes(category: "Footer", action: "go to docs", label: "text:docs"))) { "Docs" } %>
          </li>

          <li class="mx-2">
            <%= render(Primer::Beta::Link.new(href: GitHub.support_url + "?tags=dotcom-footer", scheme: :secondary, data: analytics_click_attributes(category: "Footer", action: "go to contact", label: "text:contact"))) { "Contact" } %>
          </li>
        <% end %>

        <% if cookie_consent_enabled && !GitHub.single_or_multi_tenant_enterprise? %>
          <%= render "site/footer_cookie_consent_links" %>
        <% end %>
      </ul>
    </nav>
  </div>
</footer>
