
<%= content_tag(:"global-banner",
  role: "alert",
  "aria-label": "Announcement",
  class: container_classes,
  id: @uid,
  data: @data.merge(
    analytics_visible_attributes(category: "global_banner", text: @uid),
    helpers.mktg_color_theme_data(mode: @mode),
  ),
  **@options
) do %>
  <% if @icon.present? %>
    <% if  @icon.is_a?(Symbol) %>
      <%= render(Primer::Beta::Octicon.new(@icon, size: :small )) %>
    <% else %>
      <%= render Site::ImageComponent.new(
        src: icon_src,
        width: 32,
        height: 32,
        max_width: 16,
        classes: "d-inline-block width-auto v-align-middle",
        style: "margin-top: -3px",
        alt: "",
        sizes: "16px",
        "aria-hidden": "true"
      ) %>
    <% end %>
  <% end %>

  <%= content_tag(:span, @title, class: "global-banner--title") if @title.present? %>

  <%= content_tag(:"a",
    data: @analytics,
    href: @link,
    class: "global-banner--link Link--inTextBlock Link--outlineOffset",
    style: "color: currentColor",
  ) do %>
    <%= @link_label %>
  <% end %>

  <div class="global-banner--close position-absolute height-full d-flex flex-items-center top-0 right-2 right-md-3 right-lg-7">
    <%= render(Primer::Beta::CloseButton.new(
      color: :on_emphasis,
      data: analytics_click_attributes(
        category: "global_banner",
        action: "Dismiss global_banner_#{@uid}",
      ).merge({
        action: "click:global-banner#close"
      }),
    )) %>
  </div>
<% end %>

