<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<section aria-label="<%= type.to_s.capitalize %>" class="flash flash-full js-notice flash-<%= type %>" <%= test_selector("old_global_notice") %>>
  <div>
    <% case active
        when Billing::OFACCompliance::USER_NOTICE_FLAG %>
      <%= form_tag dismiss_notice_path(Billing::OFACCompliance::USER_NOTICE_FLAG), class: "js-notice-dismiss" do %>
        <%= render Primer::Beta::CloseButton.new(type: :submit, float: :right, aria: { label: "Hide this notice" }) %>
      <% end %>
      <div class="container-md">
        <%= helpers.trade_controls_user_account_restricted_notice %>
      </div>

    <% when :check_verified_emails %>
      <% if current_user.feature_enabled?(:actionable_two_factor_security_checkup) %>
        <%= render Primer::Beta::Octicon.new(icon: "alert") %>

        You do not have a verified email associated with your GitHub account. Add a verified email address from your email settings.

        <%= render Primer::Beta::Button.new(
          tag: :a,
          href: settings_email_preferences_path,
          classes: "flash-action"
        ) do %>
          Email settings
        <% end %>
      <% else %>
        <% if current_user.must_verify_email? %>
          <%= link_to settings_email_preferences_url(:host => GitHub.urls.host_name), :class => "flash-action btn btn-sm compact" do %>
            Configure email settings
            <%= render Primer::Beta::Octicon.new(icon: "arrow-right") %>
          <% end %>
          <h4>
            Please verify your email address to access all of GitHub’s features.
          </h4>
          An email containing verification instructions was sent to <%= current_user.primary_user_email.email %>.
        <% else %>
          <h4>
            You don’t have any verified emails.  We recommend <%= link_to("verifying", settings_email_preferences_url(:host => GitHub.urls.host_name), class: "Link--inTextBlock") %> at least one email.
          </h4>
          Email verification helps our support team verify ownership if you lose account access
            and allows you to receive all the notifications you ask for.
        <% end %>
      <% end %>

    <% when :check_billing_email %>
      <h4>
        Your billing email is invalid. Please update it in your <%= link_to("settings", settings_email_preferences_url(:host => GitHub.urls.host_name), class: "Link--inTextBlock") %>.
      </h4>
      We send receipts and billing notifications to your billing email so it’s important that it works.

    <% when :check_sponsorship_rollback %>
      <%= form_tag dismiss_notice_path(:sponsorship_rollback), class: "js-notice-dismiss-remote position-absolute top-0 right-0 m-2 mr-3" do %>
        <%= button_tag nil, type: "submit", class: "btn-link color-fg-muted", "aria-label" => "Dismiss" do %>
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
        <% end %>
      <% end %>
      <h4>
        We had a problem billing your account, and your sponsorship has been cancelled.
        Please check your <%= link_to("billing settings", billing_url(:host => GitHub.urls.host_name), class: "Link--inTextBlock") %>
        to update your billing information. After your billing information is updated, you‘ll need to recreate your sponsorship.
      </h4>

    <% when :check_personal_billing_trouble %>
      <h4>
        We are having a problem billing your account. Please <%= link_to("enter a new payment method", billing_url(:host => GitHub.urls.host_name), class: "Link--inTextBlock") %>
        or check with your payment provider for details on why the transaction failed.
      </h4>
      <% unless current_user.over_billing_attempts_limit? %>
        We’ll try billing your account again on <%= current_user.next_billing_date(with_dunning: true).to_formatted_s(:long) %>.
      <% end %>
      You can always <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> with any questions.

    <% when :check_org_billing_trouble %>
      <h4>
        We are having a problem billing the <%= troubled_org.name %> organization.
        Please <%= link_to("update your payment method", org_payment_url(troubled_org, :host => GitHub.urls.host_name), class: "Link--inTextBlock") %>
        or call your payment provider for details on why the transaction failed.
      </h4>
      <% unless troubled_org.over_billing_attempts_limit? %>
        We’ll try billing <%= troubled_org.name %> again on <%= troubled_org.next_billing_date(with_dunning: true).to_formatted_s(:long) %>.
      <% end %>
      You can always <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> with any questions.

    <% when :check_disabled_org_repos %>
      <h4>
        The organization <%= troubled_org.name %> is over its private repository subscription limit
        (<%= repo_count %>). Please
        <%= link_to('upgrade your subscription', settings_org_billing_url(troubled_org, :host => GitHub.urls.host_name), class: "Link--inTextBlock") %>,
        make private repositories public, or remove private repositories so that
        <%= troubled_org.name %> is within its subscription limit.
      </h4>
      The private repositories under the <em><%= troubled_org.name %></em>
      account have been locked until this is resolved. Thanks for understanding.
      You can <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> with any questions.

    <% when :check_disabled_personal_billing %>
      <% if current_user.invoiced? %>
        <h4>
          We have not received payment for your most recent invoice.
        </h4>
      <% else %>
        <h4>
          We are having a problem billing your account. Please <a class="Link--inTextBlock" href="<%= billing_url(:host => GitHub.urls.host_name) %>">update your payment method</a>
          or call your payment provider for details on why the transaction failed.
        </h4>
      <% end %>
      You can <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> with any questions.

    <% when :check_expired_education_coupon %>
      <h4>
        Your GitHub academic discount coupon has expired
      </h4>
      <ul class="pl-4 mb-2">
        <li>If you’re still eligible, you may <a class="Link--inTextBlock" href="https://education.github.com/benefits">re-apply</a>.</li>
        <li>If you’re no longer eligible, you may either <a class="Link--inTextBlock" href="<%= billing_url(host: GitHub.urls.host_name) %>">update your payment information</a>, or <a class="Link--inTextBlock" href="<%= plans_url(host: GitHub.urls.host_name) %>">downgrade your account</a>.</li>
      </ul>
      <p>
        If you have any questions, please visit the <a class="Link--inTextBlock" href="<%= GitHub.education_community_url %>">GitHub Education Community</a>.
      </p>

    <% when :check_disabled_org_billing %>
      <% if troubled_org.invoiced? %>
        <h4>
          We have not received payment for the most recent invoice for <%= troubled_org.name %>.
          Please <a class="Link--inTextBlock" href="<%= ent_contact_url %>">contact GitHub Sales</a> to resolve.
        </h4>
      <% else %>
        <h4>
          We are having a problem billing the <%= troubled_org.name %> organization.
          Please <%= link_to('update your payment information', settings_org_billing_url(troubled_org, :host => GitHub.urls.host_name), class: "Link--inTextBlock") %>
          or call your payment provider for details on why the transaction failed.
          You can <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a> with any questions.
        </h4>
      <% end %>

    <% when :check_billingless_org %>
      <h4>
        Please <%= link_to("enter a billing email", settings_org_profile_url(troubled_org, :host => GitHub.urls.host_name), class: "Link--inTextBlock") %>
        for your <em><%= troubled_org.name %></em> organization.
      </h4>
      We need this address to send you receipts and contact you if there’s a problem. Thanks.

    <% when :check_spammy %>
      <h4>Your account has been flagged.</h4>
      Because of that, your profile is hidden from the public. If you believe this is a mistake, <a class="Link--inTextBlock" href="<%= GitHub.contact_support_url %>/reinstatement">contact support</a> to have your account status reviewed.

    <% when :check_spammy_orgs %>
      <% if spammy_orgs.size == 1 %>
        <h4>The <%= spammy_orgs.first.display_login %> organization has been flagged.</h4>
        Because of that, your organization is hidden from the public. If you believe this is a mistake, <a class="Link--inTextBlock" href="<%= GitHub.contact_support_url %>/reinstatement">contact support</a> to have your organization’s status reviewed.
      <% else %>
        <h4>Several of your organizations have been flagged.</h4>
        Because of that, these organizations are hidden from the public. If you believe this is a mistake, please <a class="Link--inTextBlock" href="<%= GitHub.contact_support_url %>/reinstatement">contact support</a> to have your organizations’ statuses reviewed.
      <% end %>

    <% when :check_spammy_businesses %>
      <% if spammy_businesses.size == 1 %>
        <h4>The <%= spammy_businesses.first.name %> enterprise has been flagged.</h4>
        Because of that, organizations within your enterprise are hidden from the public.
        If you believe this is a mistake, <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a>
        to have your enterprise’s status reviewed.
      <% else %>
        <h4>Several of your enterprises have been flagged.</h4>
        Because of that, organizations within these enterprises are hidden from the public.
        If you believe this is a mistake, please <a class="Link--inTextBlock" href="<%= contact_path %>">contact support</a>
        to have your enterprises’ statuses reviewed.
      <% end %>

    <% when :check_two_factor_recovery_codes %>
      <h4>You could lose access to your GitHub account</h4>
      You enabled two-factor authentication, but you haven’t viewed your recovery codes.
      If you lose your two-factor device, GitHub support will not be able to recover your account for you. Go to the
      <%= link_to 'two-factor recovery codes page', settings_auth_recovery_codes_url(:host => GitHub.urls.host_name), class: "Link--inTextBlock" %>
      to view and print your <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/downloading-your-two-factor-authentication-recovery-codes">recovery codes</a>.

    <% when :check_staff_has_two_factor_enabled %>
      <h4>You do not have two-factor authentication enabled.</h4>
      <% if GitHub.single_business_environment? && GitHub.global_business %>
        <%= link_to 'Enable two-factor authentication', settings_user_2fa_intro_url(:host => GitHub.urls.host_name), class: "Link--inTextBlock" %>.
        Then sign out, and sign back in again if you would like access to administrator-only features.
      <% else %>
        <%= link_to 'Enable two-factor authentication', settings_user_2fa_intro_url(:host => GitHub.urls.host_name), class: "Link--inTextBlock" %>
        if you would like access to staff-only features.
      <% end %>

    <% when :check_license_expiration %>
      <a href="<%= download_new_license_url %>" class="flash-action btn btn-sm btn-primary">
        <% if license.evaluation? %>
          Upgrade to full license
        <% else %>
          Renew license
        <% end %>
      </a>
      <%= primer_octicon(:alert, height: 32, float: :left, classes: "ghe-license-expiry-icon") %>
      <h4>Your Enterprise Server license will expire in <%= pluralize(license.days_until_expiration, 'day') %></h4>
      <a class="Link--inTextBlock" href="<%= download_new_license_url %>">
        <% if license.evaluation? %>
          Upgrade to a full license
        <% else %>
          Renew your license
        <% end %>
      </a>
      or contact <a class="Link--inTextBlock" href="https://github.com/enterprise/contact" target="_blank" rel="noreferrer">our sales team</a> to avoid service interruption.

    <% when :check_license_seat_limit %>
      <%= form_tag(
        stafftools_license_notice_dismissals_url(type: :seat_limit, host: GitHub.urls.host_name),
        class: "flash-close js-notice-dismiss",
      ) do %>
        <%= render Primer::Beta::CloseButton.new(type: :submit, float: :right, aria: { label: "Hide this notice" }) %>
      <% end %>
      <h4>
        <% if license.seats_available.zero? %>
          You have no seats available.
        <% else %>
          You have only <%= pluralize(license.seats_available, 'more seat') %> available.
        <% end %>
      </h4>
      <a class="Link--inTextBlock" href="<%= download_new_license_url %>"><%= license_seat_limit_text %></a> to add additional people.

    <% when :check_certificate_expiration %>
      <%= form_tag(
        stafftools_certificate_notice_dismissals_url(host: GitHub.urls.host_name),
        class: "flash-close js-notice-dismiss",
      ) do %>
        <%= render Primer::Beta::CloseButton.new(type: :submit, float: :right, aria: { label: "Hide this notice" }) %>
      <% end %>
      <h4>
        The TLS certificate for your GitHub Enterprise installation will expire in
        <%= pluralize(certificate.days_until_expiration, "day") %>.
      </h4>
      <p>
        Please upload a valid new TLS certificate using the <%= link_to("Management Console", "/setup", class: "Link--inTextBlock") %>.
      </p>

    <% when :check_maintenance %>
      <h4>
        Maintenance is scheduled on <%= maintenance_scheduled %>
      </h4>
      <p><%= maintenance_mode_message %></p>
      <p>
        Access to GitHub Enterprise and all git repositories will be unavailable.
      </p>

    <% when :check_emails %>
      <h4>
        You don’t have an email address.  We recommend <%= link_to("adding", settings_email_preferences_url(:host => GitHub.urls.host_name), class: "Link--inTextBlock") %> at least one email.
      </h4>
      An email address lets you receive notifications via email, reset your password, and more.
      <% if !current_user.change_email_enabled? %>
        Your email addresses are managed in your Identity Provider. Contact your administrator to add an email address.
      <% end %>

    <% when :check_announcement %>
      <% if announcement.user_dismissible %>
        <%= form_with url: enterprise_announcement_dismissal_path(GitHub.global_business),
            :method => :post,
            :class => "js-notice-dismiss-remote",
            :"data-replace-remote-form" => true do |f| %>
          <input type="hidden" name="uuid" value="<%= announcement.uuid %>">
          <%= render Primer::Beta::CloseButton.new(type: :submit, float: :right, aria: { label: "Dismiss" }) %>
        <% end %>
      <% end %>
      <%= announcement.text_html %>

    <% when :check_reserved_accounts %>
      <% account_links = capture do %>
        <% reserved_account_logins.each do |display_login| %>
          <%= link_to display_login, stafftools_user_path(display_login, host: GitHub.urls.host_name), class: "Link--inTextBlock" %>
        <% end %>
      <% end %>
      <h4>Your GitHub Enterprise instance contains accounts using reserved names</h4>
      Accounts using reserved names can interfere with site functionality. Please rename the following accounts: <%= account_links %>

    <% when :check_two_factor_low_recovery_codes %>
      <%= render Primer::Beta::Octicon.new(icon: "alert") %>

      You only have <%= current_user.two_factor_credential.number_of_remaining_codes %> recovery codes remaining. View and generate new recovery codes now.

      <%= render Primer::Beta::Button.new(
        tag: :a,
          href: settings_auth_recovery_codes_path,
          classes: "flash-action"
        ) do %>
          View recovery codes
      <% end %>

    <% end %>
  </div>
</section>
