<li class="HeaderMenu-item position-relative flex-wrap flex-justify-between flex-items-center d-block d-lg-flex flex-lg-nowrap flex-lg-items-center js-details-container js-header-menu-item">
  <% if @groups.present? %>
    <% cache groups_cache_key do %>
      <button type="button" class="HeaderMenu-link border-0 width-full width-lg-auto px-0 px-lg-2 py-lg-2 no-wrap d-flex flex-items-center flex-justify-between js-details-target" aria-expanded="false">
        <%= @text %>
        <%= render(Primer::Beta::Octicon.new(:"chevron-down", ml: 1, opacity: 0.5, classes: "HeaderMenu-icon")) %>
      </button>
      <div class="<%= dropdown_classes %>">
        <% @groups.each do |group| %>
          <div class="<%= group_border_classes(group == @groups.last) %>">
            <% if group[:title].present? %>
              <% group_id = "#{@text}-#{group[:title]}-heading".parameterize %>
              <% if group[:url].present? %>
                <%= link_to group[:url], class: "d-block h4 color-fg-default my-1 Link--primary no-underline", id: group_id do %>
                  <%= group[:title] %>
                <% end %>
              <% else %>
                <%= tag.span(group[:title], class: "d-block h4 color-fg-default my-1", id: group_id) %>
              <% end %>
            <% end %>
            <ul class="list-style-none f5" <% if group[:title].present? %>aria-labelledby="<%= group_id %>"<% end %>>
              <% group[:items].each do |item| %>
                <%= render Site::HeaderDropdownItemComponent.new(
                  analytics: {
                    context: @text.gsub(" ", "_"),
                    location: "navbar",
                    tag: "link"
                  },
                  item_last: item == group[:items].last,
                  **item
                ) %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <%= link_to @text, @url, class: "HeaderMenu-link no-underline px-0 px-lg-2 py-3 py-lg-2 d-block d-lg-inline-block", data: @data %>
  <% end %>
</li>
