<header class="AppHeader" role="banner">
  <h2 class="sr-only">Navigation Menu</h2>

  <% track_render_partial("site/header_component/enterprise_managed_header", tracking_tags) do %>
    <%= render(Site::EnterpriseManagedHeaderComponent.new) %>
  <% end %>

  <% track_render_partial("site/header_component/global_bar", tracking_tags) do %>
    <div class="AppHeader-globalBar <%= "pb-2" if navigation_component %> js-global-bar">
      <div class="AppHeader-globalBar-start">
        <% if rich_content_enabled? %>
          <%= render Site::Header::DeferredSidePanelComponent.new(url: side_panels_path(panel: :global)) do |panel| %>
            <% panel.with_placeholder_global(true) %>
          <% end %>
        <% else %>
          <%= render Site::Header::GlobalSidePanelComponent.new(cookie_consent_enabled: cookie_consent_enabled) %>
        <% end %>

        <a
          class="AppHeader-logo ml-2"
          href="<%= home_url %>"
          data-hotkey="<%= hotkeys_for(current_user, :global, :go_to_dashboard) %>"
          aria-label="<%= "Homepage #{GitHub.site_heading(enterprise_managed_user: enterprise_managed_user?)}" %>"
          data-turbo="false"
          <%= safe_analytics_click_attributes(
            category: "Header",
            action: "go to dashboard",
            label: "icon:logo"
          ) %>
        >
          <%= primer_octicon(:"mark-github", height: 32, vertical_align: :middle, color: :default) %>
        </a>

        <% track_render_partial("site/header_component/context_region", tracking_tags) do %>
          <%= render(Site::Header::ContextRegionComponent.new(context_items: context_items, current_path: request.fullpath)) %>
        <% end %>
      </div>
      <div class="AppHeader-globalBar-end">
        <% unless hide_search? %>
          <div class="AppHeader-search" <%= test_selector("header-search") %>>
            <% if blackbird_enabled? %>
              <%= render partial: "site/header/blackbird_search", locals: { view: Site::HeaderView.new(
                current_user: current_user,
                current_repository: current_repository,
                current_organization: current_organization,
                is_mobile_request: mobile?,
                current_copilot_user: current_copilot_user,
                params: params,
                response: response,
              )} %>
            <% else %>
              <%# Blackbird search is disabled in GHES so we fall back to the legacy serach experience. %>
              <%= render partial: "site/header/search_redesigned", locals: { enable_jump_to: true} %>
            <% end %>
          </div>
        <% end %>

        <div class="AppHeader-actions position-relative">
          <%= render Site::Header::AddDropdownComponent.new(
            menu_id: "global-create-menu",
            user_can_create_organizations: user_can_create_organizations,
            repository: current_repository,
            react_global_create_menu: react_global_create_menu,
            memex_enabled: memex_enabled
          ) %>

          <%= render Primer::Beta::IconButton.new(icon: :"issue-opened", tag: :a, href: all_issues_path, aria: { label: "Issues" }, color: :muted, classes: "AppHeader-button", data: { **analytics_click_attributes(category: "Global navigation", action: "ISSUES_HEADER") }) %>
          <%= render Primer::Beta::IconButton.new(icon: :"git-pull-request", tag: :a, href: all_pulls_path, aria: { label: "Pull requests" }, color: :muted, classes: "AppHeader-button", data: { **analytics_click_attributes(category: "Global navigation", action: "PULL_REQUESTS_HEADER") }) %>
        </div>

        <%= render(Site::Header::NotificationsButtonComponent.new(use_header_redesign: true)) %>

        <%= render_nothing_on_error do %>
          <%= render Site::Header::CopilotChatPanelComponent.new %>
        <% end %>

        <div class="AppHeader-user">
          <%= render Site::Header::DeferredSidePanelComponent.new(
            url: side_panels_path(
              panel: :user,
              repository_id: current_repository&.id,
              organization_id: current_organization&.display_login,
            )
          ) do |panel| %>
            <% panel.with_placeholder_user(
              user_can_create_organizations: user_can_create_organizations,
              repository: current_repository,
              memex_enabled: memex_enabled,
              eager_load_global_nav: eager_load_global_nav,
              user: current_user,
              account_switcher_helper: @account_switcher_helper,
            ) %>
          <% end %>
        </div>

        <div class="position-absolute mt-2">
          <% track_render_partial("site/header/logged_in/user", tracking_tags) do %>
            <%= render partial: "site/header/logged_in/user", locals: { return_to: canonical_request.url } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if !hide_search? && !blackbird_enabled? %>
    <div class="AppHeader-globalBar second-row <%= navigation_component ? "pt-2 pb-0" : "pt-0" %> js-global-bar-second-row" hidden>
      <div class="AppHeader-search" <%= test_selector("header-search-narrow") %>>
        <div class="width-full d-block d-lg-none">
          <%= render partial: "site/header/search", locals: { enable_jump_to: false, hotkey: nil } %>
        </div>
      </div>
    </div>
  <% end %>

  <% if navigation_component %>
    <% track_render_partial("site/header_component/navigation", tracking_tags) do %>
      <div class="AppHeader-localBar" <%= test_selector("local-nav") %>>
        <%= render navigation_component %>
      </div>
    <% end %>
  <% end %>
</header>
