<li>
  <%= link_to @url, class: a_classes, target: ("_blank" if @external), data: @data do %>
    <% if @description %>
      <%= render(Primer::Beta::Octicon.new(@icon, size: :medium, color: :subtle, mr: 3)) if @icon %>
      <div>
        <%= tag.div(
          @text,
          class: "color-fg-default h4"
        ) %>
        <%= @description %>
      </div>
    <% else %>
      <%= @text %>
    <% end %>

    <%= render(Primer::Beta::Octicon.new(:"link-external", color: :subtle, classes: "HeaderMenu-external-icon")) if @external %>
  <% end %>
</li>
