<% cache_if @cache, cache_key do %>
  <%= content_tag(:div,
    class: container_classes,
    "data-hpc": "",
    **@options
  ) do %>
    <%= before %>
    <%= render Site::BadgeComponent.new(text: @badge, size: @badge_size) if @badge.present? %>
    <%= render Site::EyebrowBannerComponent.new(**@banner.symbolize_keys) if @banner.present? %>

    <h1 class="<%= heading_classes %>"><%= GitHub::Goomba::SimplePipeline.to_html(@header, cache_settings: { use_cache: true }) %></h1>
    <% if @text.present? %>
      <p class="<%= description_classes %>"><%= GitHub::Goomba::SimplePipeline.to_html(@text, cache_settings: { use_cache: true }) %></p>
    <% end %>

    <% if @ctas.present? || cta.present? %>
      <div class="mt-4 mt-md-6 mb-4 position-relative z-2 by-2 by-lg-0 bx-lg-2 d-flex flex-column flex-lg-row" <%= test_selector("hero-component-cta-parent-block") %>>
        <%= cta %>
        <% if @ctas.present? %>
            <%= render Site::ButtonGroupComponent.new(buttons: @ctas) %>
        <% end %>
      </div>
    <% end %>
    <%= after %>
  <% end %>
<% end %>
