<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="readability-extra d-flex flex-auto flex-column overflow-hidden">
  <div class="Box-header">
    <h1 id="keyboard-shortcuts-heading" class="Box-title">
      Keyboard shortcuts
    </h1>
  </div>
  <div class="Box-body p-0 overflow-scroll">
    <div class="d-flex">
      <div class="col-7">
        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Notifications",
          shortcuts: shortcuts(:notifications_v2),
          is_open: contexts.include?("notifications-v2")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Repositories",
          shortcuts: shortcuts(:repositories),
          is_open: contexts.include?("repository")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Code editor",
          shortcuts: shortcuts(:code_editor),
          is_open: contexts.include?("code-editor")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Source code browsing",
          shortcuts: shortcuts(:source_code),
          is_open: contexts.include?("source-code")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "File tree",
          shortcuts: shortcuts(:file_tree),
          is_open: contexts.include?("file-tree")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Issues",
          shortcuts: shortcuts(:issues),
          is_open: contexts.include?("issues")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Browsing commits",
          shortcuts: shortcuts(:commits),
          is_open: contexts.include?("commits")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Commit list",
          shortcuts: shortcuts(:commit_list),
          is_open: contexts.include?("commit-list")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Copilot chat",
          shortcuts: shortcuts(:copilot),
          is_open: contexts.include?("copilot")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Dashboards",
          shortcuts: shortcuts(:dashboards),
          is_open: contexts.include?("dashboards")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Notifications",
          shortcuts: shortcuts(:notifications),
          is_open: contexts.include?("notifications")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Pull request list",
          shortcuts: shortcuts(:pull_request_list),
          is_open: contexts.include?("pull-request-list")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Pull request - Conversation tab",
          shortcuts: shortcuts(:pull_request_conversation),
          is_open: contexts.include?("pull-request-conversation")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Pull request - Files changed tab",
          shortcuts: shortcuts(:pull_request_files_changed),
          is_open: contexts.include?("pull-request-files-changed")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Project card shortcuts",
          shortcuts: shortcuts(:project_cards),
          is_open: contexts.include?("project-cards")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Moving a card",
          shortcuts: shortcuts(:moving_a_card),
          is_open: contexts.include?("moving-a-card")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Moving a column",
          shortcuts: shortcuts(:moving_columns),
          is_open: contexts.include?("moving-columns")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Network graph",
          shortcuts: shortcuts(:network_graph),
          is_open: contexts.include?("network-graph")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Checks",
          shortcuts: shortcuts(:checks),
          is_open: contexts.include?("checks")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Navigating a Project",
          shortcuts: shortcuts(:memex_table_navigation),
          is_open: contexts.include?("memex-table-navigation")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Manipulating a Project",
          shortcuts: shortcuts(:memex_table_manipulation),
          is_open: contexts.include?("memex-table-manipulation")
        ) %>

        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Actions",
          shortcuts: shortcuts(:actions),
          is_open: contexts.include?("actions")
        ) %>
      </div>

      <div class="col-5">
        <%= render Site::KeyboardShortcuts::SectionComponent.new(
          title: "Site-wide shortcuts",
          shortcuts: shortcuts(:global),
          is_open: true
        ) %>

        <div class="m-4">
          <%= render(Primer::ButtonComponent.new(scheme: :outline, block: true, tag: :a, href:  helpers.docs_url("get-started/keyboard-shortcuts"), target: "_blank")) { "View all keyboard shortcuts" } %>
        </div>
      </div>
    </div>
  </div>
</div>
