<% cache_if @cache, cache_key do %>
  <div class="col-12 d-flex flex-column mt-6 mt-md-8">
    <div><%= render Primer::Beta::Octicon.new(icon: @octicon, height: 24, width: 24, display: :inline_block) if @octicon.present? %></div>
    <%= icon %>
    <%= content_tag(@header_tag, @header, class: "f4-mktg text-bold my-1 col-8-max") %>
    <p class="f4-mktg col-8-max mb-1 color-fg-muted"><%= @text %></p>
    <div><%= render Site::LinkComponent.new(**@link) if @link.present? %></div>
  </div>
<% end %>
