<a class="arrow-target-mktg position-relative read-more-link d-flex flex-column px-3 Link--secondary no-underline" href="<%= @url %>" <%= @analytics if @analytics.present? %>>
  <span <%= test_selector "header" %> class="f6-mktg text-mono text-normal text-uppercase mt-3 mb-0 color-fg-subtle d-block"><%= @header %><span class="sr-only">:</span></span>
  <span <%= test_selector "text" %> class="f4-mktg text-medium mb-3 color-fg-default d-block"><%= @text %> <%= svg("modules/site/icons/chevrow.svg") %></span>
</a>
