<% cache_if @cache, cache_key do %>
  <%= content_tag(:div,
    class: container_classes,
    data: {
      build_in_bottom: @build_in_bottom,
      build_in_stagger: @stagger
    },
    **@options
  ) do %>
    <% if background.present? %>
      <div class="pattern-container position-absolute z-n1 overflow-hidden" style="width: 200%; left: -50%;">
          <div class="container-xl position-relative height-full d-none d-md-block">
            <%= background %>
          </div>
      </div>
    <% end %>
    <div class="<%= content_classes %>">
      <div class="<%= content_inner_classes %>">
        <%= before %>
        <%= render Site::BadgeComponent.new(text: @badge) if @badge.present? %>
        <%= text %>
        <%= content_tag(@heading_level, @sub_header, class: sub_header_classes) if @sub_header.present? %>
        <%= content_tag(:p, GitHub::Goomba::SimplePipeline.to_html(@header, cache_settings: { use_cache: true }), class: header_classes, aria: { roledescription: "subtitle" }) if @header.present? && @sub_header.present? %>
        <%= content_tag(@heading_level, GitHub::Goomba::SimplePipeline.to_html(@header, cache_settings: { use_cache: true }), class: header_classes) if @header.present? && !@sub_header.present? %>
        <%= content_tag(:p, GitHub::Goomba::SimplePipeline.to_html(@text, cache_settings: { use_cache: true }), class: text_classes) if @text.present? %>
        <%= render Site::LinkComponent.new(**@link) if @link.present? %>
        <% if @read.present? %>
          <%= render Site::ReadMoreListComponent.new do |c| %>
            <% c.with_items(@read) %>
          <% end %>
        <% end %>
        <%= after %>
      </div>
    </div>

    <% if content.present? || @images.present? %>
      <div class="<%= illustration_classes %>">
        <div class="<%= images_classes %>">
          <%= content %>
          <% if @images.present? %>
            <% @images.each do |image| %>
              <%= render Site::ImageComponent.new(**image_with_default_river_sizes(image)) %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
