<% cache cache_key do %>
  <%= content_tag(:div, class: container_classes, data: @dark ? mktg_color_theme_data : nil) do %>
    <div class="<%= inner_container_classes %>">
      <%= link_to(
        @title,
        @url,
        class: "sub-nav-title-link Link--primary no-underline f3-mktg d-inline-block text-bold mr-4",
        data: @title_data
      ) if @title.present? %>

      <button
        type="button"
        class="btn-octicon sub-nav-mktg-toggle d-lg-none p-1 flex-order-1 float-right js-toggler-target mr-n1"
        aria-controls="sub-nav-dropdown"
        aria-label="Page navigation"
        aria-expanded="false"
      >
        <%= render(Primer::Beta::Octicon.new(icon: "chevron-down", size: :medium, classes: "on-hidden")) %>
        <%= render(Primer::Beta::Octicon.new(icon: "chevron-up", size: :medium, classes: "on-visible")) %>
      </button>

      <div class="<%= links_wrapper_classes %>" id="sub-nav-dropdown">
        <% @links.each do |link| %>
          <%= link_to(
            link[:text],
            link[:url],
            class: link[:classes],
            data: link[:analytics_data]
          ) unless link[:render] == false %>
        <% end %>
      </div>

      <% if @ctas.present? %>
        <div class="sub-nav-mktg-ctas ml-lg-3">
          <% @ctas.reverse_each do |button| %>
            <%= render Site::ButtonComponent.new(**button) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
