<div class="<%= container_classes %>" <%= mktg_color_theme_attributes if @dark %>>
  <% if @window_controls || @window_title %>
    <div class="px-4 pt-3 position-relative">
      <% if @window_controls %>
        <div class="d-flex flex-row flex-nowrap position-absolute mt-1" aria-hidden="true">
          <% 3.times do %>
            <span class="d-inline-block circle mr-2 color-bg-emphasis" style="width: 12px; height: 12px; opacity: .4;"></span>
          <% end %>
        </div>
      <% end %>

      <% if @window_title %>
        <div class="text-center text-small color-fg-subtle mb-n3">
          <%= @window_title %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= content_tag(:div,
    class: "p-4",
    data: {
      type_delay: @type_delay,
      type_row_delay: @type_row_delay
    }
  ) do %>
    <% first_input_rendered = false %>

    <% @rows.each do |row| %>
      <% is_input_row = row.starts_with?('$ ') %>

      <div class="<%= 'js-type-row' if first_input_rendered %>">
        <% if is_input_row %>
          <strong class="code-pink">→</strong>
          <strong class="color-fg-success">~/<%= @directory %></strong>
        <% end %>

        <%= content_tag(:span, GitHub::Goomba::SimplePipeline.to_html(row, cache_settings: { use_cache: true }), class: ('js-type-letters' if is_input_row)) %>
      </div>

      <% first_input_rendered = true if is_input_row %>
    <% end %>
  <% end %>
</div>
