<div class="<%= container_classes %> <%= @classes if @classes.present? %>">
  <% if @image.present? && @size == :large %>
    <div class="mb-4 mb-md-0 col-6 col-md-4">
      <img src="<%= @image %>" width="370" height="370" alt="" class="circle height-auto width-fit" loading="lazy" decoding="async">
    </div>
  <% end %>

  <div class="<%= quote_container_classes %>">
    <blockquote class="<%= blockquote_classes %>">
      <% if @size == :medium %>
        <%= svg("modules/site/icons/quote-gradient.svg", class: citation_mark_classes) %>
      <% else %>
        <span class="<%= citation_mark_classes %>">“</span>
      <% end %>
      <span class="color-fg-default"><%= @quote %></span>
    </blockquote>

    <% if @image.present? && @size == :medium %>
      <div class="d-flex flex-items-center">
        <img src="<%= @image %>" width="40" height="40" alt="" class="circle width-fit mr-2" loading="lazy" decoding="async">
    <% end %>

    <cite class="<%= cite_classes %>" style="font-style: normal">
      <%= content_tag(:span, @fullname, class: name_classes) %>
      <% if @size == :large %><span aria-hidden="true" class="unselectable">//</span><% end %>
      <%= content_tag(:span, @title, class: title_classes) %>
    </cite>

    <% if @image.present? && @size == :medium %>
      </div>
    <% end %>

    <% if @logo_src.present? && @size == :large %>
      <%= image_tag(@logo_src,
        loading: "lazy",
        decoding: "async",
        class: logo_classes,
        style: "max-height: 2rem",
        alt: @company) %>
    <% end %>
  </div>
</div>
