<video-player class="<%= container_classes %>"
  role="group"
  aria-label="<% if @aria_label.present? %><%= @aria_label %><% else %>Video<% end %><% if @title.present? %>: <%= @title %><% end %>"
  <% if @theme.present? %>data-media-player-theme="<%= @theme %>"<% end %>
  data-show-tooltips="true">
  <div class="position-relative overflow-hidden rounded-2">
    <% if @show_title_bar %>
      <div data-target="video-player.controlsTop" class="video-player-controls video-player-controls--top d-flex flex-items-center position-absolute rounded-2 width-full left-0 top-0 px-3 px-md-4 py-3 py-md-4" hidden>
        <% if @octicon.present? %>
          <div class="video-player-branding-icon mr-2 mr-md-3">
            <%= primer_octicon(@octicon.to_sym, height: 48, vertical_align: :middle) %>
          </div>
        <% end %>
        <% if @title.present? %>
          <div class="f2-mktg"><%= @title %></div>
        <% end %>
      </div>
    <% end %>
    <svg aria-hidden="true" width="<%= @width %>" height="<%= @height %>" class="width-full height-auto d-block"></svg>
    <video data-target="video-player.media"<% if @src.present? %> src="<%= @src %>"<% end %> width="<%= @width %>" height="<%= @height %>" class="<%= media_element_classes %>" controls playsinline crossorigin="anonymous" preload="metadata">
      <% if @sources.present? %>
        <% @sources.each do |source| %>
          <source src="<%= source[:src] %>"<% if source[:type].present? %> type="<%= source[:type] %>"<% end %>>
        <% end %>
      <% end %>

      <% if @subtitles.present? %>
        <% @subtitles.each do |subtitle| %>
          <track <%= "default " if subtitle[:default] %>kind="captions" srclang="<%= subtitle[:srclang] %>" src="<%= subtitle[:src] %>">
        <% end %>
      <% end %>
		</video>

    <div data-target="video-player.poster" class="video-player-poster d-flex flex-items-center flex-justify-center position-absolute z-1 top-0 left-0 width-full height-full" hidden>
      <%= poster %>
    </div>

    <% if @show_play_overlay %>
      <button type="button" data-target="video-player.overlay" class="video-player-overlay d-flex flex-items-center flex-justify-center position-absolute z-3 top-0 left-0 width-full height-full" aria-label="Play" hidden>
        <span class="video-player-big-play-button d-flex flex-row flex-nowrap flex-items-center flex-justify-center position-relative">
          <%= svg("site/icons/video-player/play", class: "d-block ml-2", aria_hidden: "true") %>
        </span>
      </button>
    <% end %>

    <% if @subtitles.present? %>
      <div class="video-player-captions-wrap f4-mktg position-absolute width-full z-2 mb-n3 text-center">
        <span data-target="video-player.captions" class="d-inline-block rounded-2 overflow-hidden px-3<% if !@mobile_layout_only %> px-md-5<% end %> py-2 mx-auto position-relative" hidden>
        </span>
      </div>
    <% end %>

    <div data-target="video-player.controls" class="video-player-controls video-player-controls--bottom d-flex flex-items-center position-absolute rounded-2 width-full left-0 bottom-0 px-3 px-md-4 py-3 py-md-4" hidden>
      <button type="button" data-target="video-player.playToggleButton" data-action="click:video-player#togglePlay" class="media-player-tooltip-container media-player-play-toggle media-player-button mr-3 mr-md-4" aria-label="Play" data-label-play="Play" data-label-pause="Pause" disabled>
        <div class="media-player-tooltip media-player-tooltip-left" aria-hidden="true"><span class="px-2 py-1 rounded-2 text-bold media-player-tooltip-content" data-target="video-player.playTooltip">Play</span></div>
        <span class="media-player-play-icon">
          <%= svg("site/icons/video-player/play", class: "d-block", aria_hidden: "true") %>
        </span>
        <span class="media-player-pause-icon">
          <%= svg("site/icons/video-player/pause", class: "d-block", aria_hidden: "true") %>
        </span>
      </button>

      <div class="media-player-slider-wrapper media-player-slider-scrubber media-player-tooltip-container position-relative width-full">
        <div data-target="video-player.scrubberTooltip" class="media-player-tooltip" aria-hidden="true"><span class="px-2 py-1 rounded-2 text-bold media-player-tooltip-content"></span></div>
        <progress data-target="video-player.bufferProgress" class="media-player-buffer-progress width-full height-full position-absolute top-0 left-0" value="0" aria-hidden="true"></progress>
        <progress data-target="video-player.scrubberProgress" class="media-player-slider-progress width-full height-full position-absolute top-0 left-0 z-1" value="0" aria-hidden="true"></progress>
        <input type="range" min="0" value="0" data-target="video-player.scrubber" aria-label="Seek" class="media-player-slider" disabled>
      </div>

      <div class="media-player-time d-flex flex-justify-between text-mono f5-mktg no-wrap ml-3 ml-md-4">
        <div data-target="video-player.diffTimeLabel" class="d-block<% if !@mobile_layout_only %> d-md-none<% end %>"><span class="sr-only">Elapsed time: </span>00:00</div>
        <div class="d-none<% if !@mobile_layout_only %> d-md-block<% end %>">
          <span data-target="video-player.currentTimeLabel"><span class="sr-only">Elapsed time: </span>00:00</span>
           /
          <span data-target="video-player.totalTimeLabel"><span class="sr-only">Total time: </span>00:00</span>
        </div>
      </div>

      <div class="media-player-live media-player-time text-mono f5-mktg no-wrap ml-3 ml-md-4 flex-nowrap flex-items-center">
        Live
      </div>

      <button type="button" data-target="video-player.captionsToggleButton" data-action="click:video-player#toggleCaptions" class="media-player-tooltip-container video-player-captions-toggle text-bold ml-3 ml-md-4 lh-condensed rounded-2 flex-grow-0 px-1 px-sm-2 py-1" aria-label="Disable captions" data-label-enable="Enable captions" data-label-disable="Disable captions" hidden>
        <div class="media-player-tooltip" aria-hidden="true"><span data-target="video-player.captionsTooltip" class="px-2 py-1 rounded-2 text-bold media-player-tooltip-content">Disable captions</span></div>
        CC
      </button>

      <button type="button" data-target="video-player.muteToggleButton" data-action="click:video-player#toggleMute" class="media-player-tooltip-container media-player-toggle-mute media-player-button ml-3 ml-md-4" aria-label="Mute" data-label-unmute="Mute" data-label-mute="Unmute" disabled>
        <div class="media-player-tooltip" aria-hidden="true"><span data-target="video-player.muteToggleTooltip" class="px-2 py-1 rounded-2 text-bold media-player-tooltip-content">Mute</span></div>
        <span class="media-player-volume-full-icon">
          <%= svg("site/icons/video-player/volume-full", class: "d-block", aria_hidden: "true") %>
        </span>
        <span class="media-player-volume-mid-icon">
          <%= svg("site/icons/video-player/volume-mid", class: "d-block", aria_hidden: "true") %>
        </span>
        <span class="media-player-volume-mute-icon">
          <%= svg("site/icons/video-player/volume-mute", class: "d-block", aria_hidden: "true") %>
        </span>
      </button>

      <div class="media-player-slider-wrapper media-player-slider-volume position-relative ml-2 d-none<% if !@mobile_layout_only %> d-md-block<% end %>">
        <progress data-target="video-player.volumeProgress" class="media-player-slider-progress width-full height-full position-absolute top-0 left-0 z-1" value="0" aria-hidden="true"></progress>
        <input type="range" value="0" step="10" data-target="video-player.volumeSlider" class="media-player-slider" aria-label="Volume" disabled>
      </div>

      <button type="button" data-target="video-player.fullscreenToggleButton" data-action="click:video-player#toggleFullscreen" class="media-player-tooltip-container video-player-fullscreen-toggle media-player-button ml-3 ml-md-4" aria-label="Enter Fullscreen" data-label-enter="Enter Fullscreen" data-label-exit="Exit Fullscreen" disabled>
        <div class="media-player-tooltip-right media-player-tooltip" aria-hidden="true"><span data-target="video-player.fullscreenTooltip" class="px-2 py-1 rounded-2 text-bold media-player-tooltip-content">Enter Fullscreen</span></div>
        <span class="video-player-enter-fullscreen-icon">
          <%= svg("site/icons/video-player/fullscreen-enter", class: "d-block", aria_hidden: "true") %>
        </span>
        <span class="video-player-exit-fullscreen-icon">
          <%= svg("site/icons/video-player/fullscreen-exit", class: "d-block", aria_hidden: "true") %>
        </span>
      </button>
    </div>
  </div>
</video-player>
