<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<% issue = card.references(viewer: current_user).issue %>
<div class="pl-5 p-2">
  <span class="card-octicon card-note-octicon position-absolute color-fg-muted">
    <%= primer_octicon(:note) %>
  </span>
  <div class="mr-4">
    <small class="color-fg-muted">Added by <%= link_to card.safe_creator.display_login, user_path(card.safe_creator), class: "color-fg-default Link--inTextBlock" %></small>
  </div>
</div>

<div class="mx-2 mb-2 rounded-2 color-shadow-small border">
  <div class="js-issue-note"
    <% ProjectCard.filter_attrs_for_content(issue, viewer: current_user).each do |attr_name, attr_value| %>
      data-card-<%= attr_name %>='<%= Array.wrap(attr_value).to_json %>'
    <% end %>
    >
    <div class="position-relative pl-5 p-2 js-project-issue-details-container">
      <%= render partial: "projects/cards/issue_details", locals: {
            issue: issue,
            render_task_list: true,
            project: card.project,
            status_direction: local_assigns[:status_direction],
            show_repository: true
          } %>
    </div>

    <% if issue.pull_request? %>
      <%= render partial: "projects/cards/review_status", locals: { pull_request: issue.pull_request } %>
    <% end %>

    <%= card_menu(card) do %>
      <button type="button" data-dialog-id="edit-note-<%= card.id %>" role="menuitem" class="dropdown-item btn-link text-left js-project-dialog-button">Edit note</button>
      <%= render partial: "projects/archive_card_button", locals: { card: card } %>
      <%= form_tag project_card_path(card), class: "js-remove-card-after-request", method: :delete do %>
          <input type="hidden" name="client_uid" class="js-client-uid-field">
          <button type="submit" class="dropdown-item btn-link btn-block text-left" data-confirm="This will remove this note from the project" role="menuitem">
            Delete note
          </button>
      <% end %>
    <% end %>
  </div>
</div>

<template id="edit-note-<%= card.id %>" class="js-edit-note-template">
  <%= render partial: "projects/note_form", locals: { card: card } %>
</template>
