<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<div class="pl-5 p-2 position-relative js-project-issue-details-container">
  <%= card_menu(card) do %>
    <%= render partial: "projects/archive_card_button", locals: { card: card } %>
    <%= form_tag project_card_path(card), class: "js-remove-card-after-request d-inline", method: :delete do %>
      <button type="submit" aria-label="Remove from project" class="dropdown-item btn-link btn-block text-left" data-confirm="This will remove this card from the project" role="menuitem">
        Remove from project
      </button>
      <input type="hidden" name="client_uid" class="js-client-uid-field">
    <% end %>
  <% end %>

  <%= render partial: "projects/cards/issue_details", locals: {
      issue: card.content,
      render_task_list: card.column.present?,
      project: card.project,
      status_direction: status_direction
  } %>
</div>

<% if card.persisted? %>
  <%
    close_issue_references_count = card.content.closed_by_pull_requests_references_for(
      viewer: current_user,
      unauthorized_organization_ids: cap_filter.unauthorized_resource_ids(current_user&.organizations, only: :saml)
    ).count
  %>
  <% if close_issue_references_count > 0 %>
  <%
    hydro_payload = {
      user_id: current_user&.id,
      project_id: card.project.id,
      card_id: card.id,
      issue_id: card.content.id
    };
    hydro_data_expanded = hydro_click_tracking_attributes("project_card_xref_toggle.click", hydro_payload.merge({ action: :EXPAND }))
    hydro_data_expanded_click = hydro_data_expanded["hydro-click"]
    hydro_data_expanded_click_hmac = hydro_data_expanded["hydro-click-hmac"]

    hydro_data_collapsed = hydro_click_tracking_attributes("project_card_xref_toggle.click", hydro_payload.merge({ action: :COLLAPSE }))
    hydro_data_collapsed_click = hydro_data_collapsed["hydro-click"]
    hydro_data_collapsed_click_hmac = hydro_data_collapsed["hydro-click-hmac"]
  %>
    <details class="Details-element details-reset" data-deferred-details-content-url="<%= project_card_closing_references_path(card) %>">
      <summary
        class="btn-link no-underline border-top position-relative p-2 color-fg-muted text-small js-project-card-closing-issue-summary"
        style="padding-left: 10px !important; width: 100%;"
        data-linked-pr-expanded="<%= hydro_data_expanded_click %>"
        data-linked-pr-hmac-expanded="<%= hydro_data_expanded_click_hmac %>"
        data-linked-pr-collapsed="<%= hydro_data_collapsed_click %>"
        data-linked-pr-hmac-collapsed="<%= hydro_data_collapsed_click_hmac %>"
      >
        <div class="d-flex flex-justify-between flex-items-center">
          <%= close_issue_references_count %> linked pull <%= "request".pluralize(close_issue_references_count) %>
          <%= primer_octicon(:"chevron-down", ml: 1, mr: 2, classes: "Details-content--closed") %>
          <%= primer_octicon(:"chevron-up", ml: 1, mr: 2, classes: "Details-content--open") %>
        </div>
      </summary>
      <div>
        <include-fragment>
          <div class="mb-2 text-small color-fg-muted" style="margin-left: 10px;">Loading...</div>
        </include-fragment>
      </div>
    </details>
  <% end %>
<% end %>

<% if card.content.pull_request? %>
  <%= render partial: "projects/cards/review_status", locals: { pull_request: card.content.pull_request } %>
<% end %>
