<%# erblint:counter ButtonComponentMigrationCounter 4 %>
<div class="pl-5 p-2">
  <%= card_menu(card) do %>
    <% if card.can_convert_to_issue?(converter: current_user) %>
      <button type="button" data-dialog-id="convert-to-issue-<%= card.id %>" class="dropdown-item btn-link btn-block text-left js-project-dialog-button" role="menuitem">
        Convert to issue
      </button>
    <% end %>

    <template id="convert-to-issue-<%= card.id %>">
      <%= render partial: "projects/convert_to_issue_form", locals: { card: card } %>
    </template>

    <button type="button" data-dialog-id="edit-note-<%= card.id %>" role="menuitem" class="dropdown-item btn-link text-left js-project-dialog-button">Edit note</button>
    <div class="dropdown-divider" role="none"></div>
    <%= render partial: "projects/archive_card_button", locals: { card: card } %>
    <%= form_tag project_card_path(card), class: "js-remove-card-after-request", method: :delete do %>
      <input type="hidden" name="client_uid" class="js-client-uid-field">
      <button type="submit" class="dropdown-item btn-link btn-block text-left" data-confirm="This will remove this note from the project" role="menuitem">
        Delete note
      </button>
    <% end %>
  <% end %>

  <span class="card-octicon card-note-octicon position-absolute color-fg-muted">
    <%= primer_octicon(:note) %>
  </span>

  <div class="mr-4">
    <div class="js-task-list-container">
      <task-lists disabled>
        <div class="js-comment-body">
          <%= github_card_markdown(card.note, { current_user: current_user }) %>
        </div>
      </task-lists>
      <% if card.writable_by?(current_user) %>
        <%= form_tag project_update_note_task_list_path(card),
            "data-type": "json",
            "data-note-version": card.note_version,
            method: :put,
            hidden: true,
            class: "js-comment-update" do %>
          <input type="hidden" name="client_uid" class="js-client-uid-field">
          <textarea type="text" class="js-task-list-field" name="note"><%= card.note %></textarea>
        <% end %>
      <% end %>
    </div>
    <small class="color-fg-muted">Added by <%= link_to card.safe_creator.display_login, user_path(card.safe_creator), class: "color-fg-default Link--inTextBlock" %></small>
  </div>
</div>

<%
  references = card.references(viewer: current_user)
  expand_references = references.accessible_reference_count == 1
%>
<% if references.accessible_reference_count > 0 %>
  <div class="Details <%= "Details--on" if expand_references %> js-details-container">
    <button type="button"
            class="btn-link no-underline border-top color-fg-muted p-2 js-details-target"
            style="width: 100%;"
            aria-expanded="<%= expand_references ? "true" : "false" %>"
            aria-label="Hide and Show References">
      <div class="d-flex flex-justify-between flex-items-center">
        <span class="pl-1 color-fg-muted text-small">
          <%= pluralize(references.accessible_reference_count, "Reference") %>
        </span>
        <%= primer_octicon(:"chevron-down", mr: 2, classes: "Details-content--shown") %>
        <%= primer_octicon(:"chevron-up", mr: 2, classes: "Details-content--hidden") %>
      </div>
    </button>

    <div class="Details-content--hidden">
      <% references.issues.each do |issue| %>
        <%= render partial: "projects/cards/issue_reference", locals: { issue: issue, project: card.project, status_direction: status_direction } %>
      <% end %>
      <% references.projects.each do |project| %>
        <div class="m-2 rounded-2 color-shadow-small border">
          <%= render partial: "projects/cards/reference", locals: { reference: project } %>
        </div>
      <% end %>
      <% references.discussions.each do |discussion| %>
        <div class="m-2 rounded-2 color-shadow-small border">
          <%= render partial: "projects/cards/reference", locals: { reference: discussion } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<template id="edit-note-<%= card.id %>" class="js-edit-note-template">
  <%= render partial: "projects/note_form", locals: { card: card } %>
</template>
