<%# erblint:counter ButtonComponentMigrationCounter 2 %>
<div class="pl-5 p-2">
  <%= card_menu(card) do %>
    <%= render partial: "projects/archive_card_button", locals: { card: card } %>
    <%if card.removable_by?(current_user) %>
      <%= form_tag "#{project_cards_path(card.project)}/#{card.id}", class: "js-remove-card-after-request d-inline", method: :delete do %>
        <button type="submit" aria-label="Remove from project" class="dropdown-item btn-link btn-block text-left" data-confirm="This will remove this card from the project" role="menuitem">
          Remove from project
        </button>
        <input type="hidden" name="client_uid" class="js-client-uid-field">
      <% end %>
    <% end %>
  <% end %>

  <div class="mr-2 color-fg-muted">
    <span class="card-octicon position-absolute v-align-bottom">
      <%= primer_octicon(redacted_card_icon(card.reason_for_redaction)) %>
    </span>

    <h5 class="mb-2"><%= redacted_card_title(card.reason_for_redaction) %></h5>
    <p class="f6 m-0"><%= redacted_card_message(card.reason_for_redaction) %></p>
    <% if card.removable_by?(current_user)  %>
      <%= form_tag "#{project_cards_path(card.project)}/#{card.id}", class: "js-remove-card-after-request d-inline", method: :delete do %>
        <button type="submit" aria-label="Remove from project" class="btn-link f6" data-confirm="This will remove this card from the project" role="menuitem">
          Remove from project
        </button>
        <input type="hidden" name="client_uid" class="js-client-uid-field">
      <% end %>
    <% end %>
    <p class="f6 mt-2">
      Added by <a href="<%= user_path(card.safe_creator) %>" class="color-fg-default Link--inTextBlock">
      <%= card.safe_creator.display_login %>
      </a>
      <%= time_ago_in_words_js(card.created_at) %>
    </p>
  </div>
</div>
