<div>
  <span class="mt-1 card-octicon position-absolute v-align-bottom">
    <%= primer_octicon(redacted_card_icon(:unauthorized)) %>
  </span>
  <div class="mr-2 color-fg-muted">
    <h5 class="mb-2"><%= redacted_card_title(:unauthorized) %></h5>
    <p class="f6 m-0"><%= link %></p>
    <p class="f6 mt-2">
      Added by <a href="<%= user_path(card.user) %>" class="color-fg-default Link--inTextBlock"><%= card.user.display_login %></a>
      <%= time_ago_in_words_js(card.created_at) %>
    </p>
  </div>
</div>
