<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="Box-row color-bg-subtle d-flex">
  <div class="mr-1" style="width: 20px;">
    <%= render Primer::Beta::Octicon.new(icon: profile_status_icon, color: profile_status_color) %>
  </div>
  <div class="flex-auto">
    Confirm your
    <%= render(GitHub::DialogComponent.new(title: "Confirm Your Identity", details_classes: "d-inline-block", variant: :wide, dialog_classes: "overflow-hidden")) do |dialog| %><%# erblint:disable A11yDetailsDialogMigration %>
      <% dialog.with_summary do %>
        <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :link, classes: "js-view-user-personal-profile") do %>identity<% end %>
      <% end %>
      <% dialog.with_body do %>
        <% if has_trade_screening_restriction? %>
          <%= render Sponsors::Sponsorables::TradeScreeningCannotProceedComponent.new(
            sponsor: sponsorable,
            show_title: false,
          ) %>
        <% end %>
        <% if show_linking_billing_information? %>
          <%= render Billing::Settings::BillingInformationLinkingComponent.new(
            actor: current_user,
            target: sponsorable,
            form_loaded_from: "SPONSORABLE",
            no_redirect: true,
            ) %>
        <% else %>
          <div <%= test_selector("billing-information") %>>
            <div class="js-name-address-collection-wrapper">
              <%= render Billing::Settings::NameAddressFormInputsComponent.new(
                profile: sponsorable_billing_information,
                target: sponsorable,
                wrapper_type: :form,
                payment_flow_loaded_from: "SPONSORABLE",
                actor: current_user,
                disable_form_inputs: disable_form_inputs?,

              ) %>
            </div>
          </div>
          <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "billing" %>
<% end %>
