<div class="color-bg-subtle border-top" <%= test_selector("publish-profile-component") %>>
  <div class="Box-body d-flex">
    <div class="d-flex <%= waiting_to_be_reviewed? ? "" : "flex-items-center" %> width-full">
      <div class="mr-1" style="width: 20px;">
        <%= render Primer::Beta::Octicon.new(icon: publish_status_icon, color: publish_status_color) %>
      </div>
      <div class="flex-auto">
        Publish your GitHub Sponsors profile
        <% if waiting_to_be_reviewed? %>
          <p class="mb-0 text-small" <%= test_selector("waiting-to-be-reviewed") %>>
            You've submitted your profile for approval! Your profile will go live as soon as it's approved by a staff member.
          </p>
        <% end %>
      </div>
      <% if show_publish_button? %>
        <%= button_to("Publish",
                      sponsorable_publish_listing_path(sponsorable_login),
                      class: "btn btn-sm",
                      data: test_selector_hash("publish-profile"),
                      disabled: !can_publish_listing?,
                      method: "post") %>
      <% end %>
    </div>
  </div>
</div>
