<div <%= test_selector "team-sidebar" %>>
  <img <%= test_selector "team-avatar" %> class="avatar rounded-2 mb-3" width="116" height="116"
    src="<%= team_primary_avatar_url %>" alt="@<%= team.combined_slug %>">

  <div class="d-flex pb-3 border-bottom">
    <%= render Primer::Beta::Heading.new(tag: :h2, style: "overflow-wrap: anywhere;", test_selector: "team-name").with_content(team.name) %>
    <% if show_enterprise_label? %>
      <%= render Primer::Beta::Label.new(
        ml: 2,
        display: :inline_block,
        align_self: :center,
        scheme: :secondary,
        title: "Team managed by an enterprise",
        test_selector: "team-enterprise-badge"
      ).with_content("Enterprise") %>
    <% end %>
    <% if team.secret? %>
      <%= render Primer::Beta::Label.new(
        ml: 2,
        display: :inline_block,
        align_self: :center,
        scheme: :secondary,
        title: "Only visible to its members and owners",
        test_selector: "team-secret-badge"
      ).with_content("Secret") %>
    <% end %>
  </div>

  <div class="d-flex mt-3 pb-3">
    <%= render Primer::Beta::Heading.new(flex: 1, tag: :h4).with_content("About") %>
  </div>

  <p class="description" <%= test_selector("team-description") %>>
    <% if team.description.present? %>
      <%= team.description %>
    <% else %>
      This team has no description
    <% end %>
  </p>

  <% if viewer_can_see_archive_link? && archived_team_posts? %>
    <div class="mt-4">
      <%= render Primer::Beta::Button.new(
        tag: :a,
        href: archived_team_posts_path(team.organization.display_login, team, team.slug, format: :json),
        scheme: :link,
        underline: false,
        color: :muted,
        test_selector: "team-archive-team-posts-link"
      ) do |button| %>
        <% button.with_leading_visual_icon(icon: :"comment-discussion") %>
        Team post archive
      <% end %>

      <% if user_on_team? %>
        <%= render(Primer::Alpha::Dialog.new(
          title: "Transfer team posts to discussions",
          classes: "Overlay--size-auto",
        )) do |d| %>
          <% d.with_show_button(
            data: analytics_click_attributes(category: "team discussions", action: "transfer modal opened"),
            scheme: :link,
            underline: false,
            color: :muted,
            test_selector: "transfer-team-posts-button"
          ) do |button| %>
            <% button.with_leading_visual_icon(icon: :"arrow-right") %>
            Transfer team posts to discussions
          <% end %>
          <% d.with_body(p: 0) do %>
            <%= render partial: "orgs/team_discussions/deprecation_dialog", locals: { organization: team.organization, team_slug: team.slug } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
