<%= view_context.page_info \
    title: "#{team.name} Team · Edit · Code Review",
    class: "team",
    dashboard_pinnable_item_id: team.id
  %>

<%= render Organizations::Teams::TeamSettingsSidebarComponent.new(
  org_login: org.display_login,
  team_slug: team_slug,
  selected_link: @selected_link,
) do |c| %>
  <%= c.with_settings_page do %>
    <%= form_tag update_team_review_assignment_path(org, team), class: "width-full", method: :put do %>
      <%= render Primer::Beta::Subhead.new do |component| %>
        <% component.with_heading(tag: :h2) do %>
          Code review
        <% end %>
      <% end %>
      <div class="<%= review_assignment_toggler_class_names %>" <%= test_selector(review_assignment_toggler_test_selector)%> >
        <div class="form-checkbox">
          <label>
            <%= check_box_tag("disable_notify_team", "1", !team.review_request_delegation_notify_team?, "aria-describedby": "disable_notify_team_desc") %>
            Only notify requested team members
          </label>
          <span class="note" id="disable_notify_team_desc">
            If both a team and one or more of its members are requested for review, don't notify the entire team.
          </span>
        </div>

        <div class="form-checkbox">
          <label>
            <input type="checkbox" name="review_assignment" class="js-toggler-target" aria-describedby="review_assignment_desc" <%= "checked" if team.review_request_delegation_enabled %>>
            Enable auto assignment
          </label>
          <span class="note" id="review_assignment_desc">
            This will automatically route this team's code review requests to individual team members.
          </span>
          <p class="note mt-2">
            Note: this won't assign members who have committed to the pull request or have set their status to Busy.
          </p>
        </div>

        <%= render Organizations::Teams::ReviewAssignmentFormComponent.new(team: team)%>
        <%= render Primer::Beta::Button.new(scheme: :primary, mt: 3, type: :submit) do %>Save changes<% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
