<%# erblint:counter DeprecatedComponentsCounter 3 %>
<div class="assignment_form">
  <hr class="form-hr">
  <dl class="<%= class_names(
    "form-group js-toggler-container team-member-exclusion-toggler",
    "on" => any_excluded_team_members?,
  ) %>">
    <dt>
      <label>
        How many team members should be assigned to review?
      </label>
    </dt>
    <dd>
      <details class="select-menu details-reset details-overlay">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span data-menu-button <%= test_selector "team-member-count" %>><%= current_team_member_count %></span>
        <% end %>
        <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-list">
            <% select_times.each do |i| %>
              <label
                class="select-menu-item"
                role="menuitemradio"
                tabindex="0"
                aria-checked="<%= selected?(i, current_team_member_count) %>"
                <%= test_selector("number-of-reviewers-menu-option") %>
              >
                <%= radio_button_tag "team_member_count", i, selected?(i, current_team_member_count) %>
                <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                <span data-menu-button-text><%= i %></span>
              </label>
            <% end %>
          </div>
        </details-menu>
      </details>
    </dd>
    <dt class="mt-4">
      <label>
        Routing algorithm
      </label>
    </dt>

    <dd>
      <details class="select-menu details-reset details-overlay">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button") do %>
          <span data-menu-button><%= routing_algorithm.humanize %></span>
        <% end %>
        <details-menu class="select-menu-modal position-absolute" style="z-index: 99;" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <div class="select-menu-list">
            <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="<%= selected?(routing_algorithm, "round_robin") %>">
              <%= radio_button_tag "algorithm", "round_robin", selected?(routing_algorithm, "round_robin") %>
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <span class="h5" data-menu-button-text>Round robin</span>
              Alternate reviews between each team member
            </label>

            <label class="select-menu-item" role="menuitemradio" tabindex="0" aria-checked="<%= selected?(routing_algorithm, "load_balance") %>">
              <%= radio_button_tag "algorithm", "load_balance", selected?(routing_algorithm, "load_balance") %>
              <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
              <h5 data-menu-button-text>Load balance</h5>
              Balance review load across the entire team
            </label>
          </div>
        </details-menu>
      </details>
    </dd>
    <dt class="mt-2">
      <div>
        <label class="text-normal">
          <%= check_box_tag("exclude_team_members", "1", any_excluded_team_members?, class: "js-toggler-target", "aria-describedby": "disable_notify_team_desc") %>
          Never assign certain team members
        </label>
      </div>
    </dt>
    <dd class="member-exclusion ml-3">
      <details class="select-menu details-overlay details-reset d-inline-block js-team-member-picker">
        <%= render Primer::ButtonComponent.new(tag: :summary, classes: "select-menu-button js-team-member-summary", "data-default-label": "Select team members") do %>
          <span class="js-team-member-summary-text">Select team members</span>
        <% end %>

        <details-menu class="select-menu-modal position-absolute js-team-member-menu" style="z-index: 99;" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
          <ul class="select-menu-list">
            <% never_assign_team_members.each do |member| %>
              <li>
                <label tabindex="0" class="select-menu-item text-normal" role="menuitemcheckbox" aria-checked="<%= member_selected?(member) %>">
                  <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
                  <input hidden
                    class="js-team-member"
                    type="checkbox"
                    value="<%= member.id %>"
                    name="excluded_members[]"
                    <%= "checked" if member_selected?(member) %>
                    data-team-member-text="<%= member %>">
                  <span class="select-menu-item-text">
                    <%= member.display_login %>
                  </span>
                </label>
              </li>
            <% end %>
          </ul>
        </details-menu>
      </details>
    </dd>
    <dt class="mt-4 mb-0">
      <label>
        Child team members
      </label>
    </dt>
    <dd>
      <label class="text-normal">
        <input type="checkbox" name="include_child_team_members" <%= include_child_team_members_checked?%> >
        Include the members of any child teams when assigning requests.
      </label>
    </dd>
    <dt class="mt-4 mb-0">
      <label>
        Count existing requests
      </label>
    </dt>
    <dd>
      <label class="text-normal">
        <input type="checkbox" name="count_members_already_requested" <%= count_members_already_requested_checked? %> >
        Count any members whose review has already been requested against the total number of members to assign.
      </label>
    </dd>
    <dt class="mt-4 mb-0">
      <label>
        Team review request
      </label>
    </dt>
    <dd>
      <label class="text-normal">
        <input type="checkbox" name="remove_team_request" <%= remove_team_request_checked? %> >
        When assigning team members, remove the review request for the team.
      </label>
    </dd>
  </dl>
</div>
