<%# erblint:counter DeprecatedComponentsCounter 3 %>
<dependabot-updates-paused>
  <%= render Primer::Beta::Flash.new(scheme: :warning, display: :flex, mt: 3, pt: 3, pr: 2, data: {target: "dependabot-updates-paused.bannerDismissal"}, test_selector: "dependabot-updates-paused-banner") do %>
    <p class="mt-0">
      <%= primer_octicon(:alert, mr: 3) %>
    </p>
    <div class="flex-column">
      <p class="text-bold mb-0 d-inline-block"> Dependabot updates are paused </p>
        <% if @interactive %>
          <%= form_tag dismiss_paused_banner_path, class: "js-notice-dismiss float-right ml-3 mr-2" do %>
            <%= render(Primer::IconButton.new(icon: :x, "aria-label": "Close", type: :submit, float: :right, classes: "flash-close", data: {action: "click:dependabot-updates-paused#dismissBanner"} ))%>
          <% end %>
          <%= render(Primer::ButtonComponent.new(scheme: :default, variant: :medium, type: :button, float: :right, mb: 4, mt: -2, tag: :a, href: dependabot_prs_link )) { "See Dependabot pull requests" } %>
        <% end %>
      <p>
        We noticed you haven't used Dependabot in a while, so we've paused new pull requests for you. Merge a Dependabot
        pull request to resume automatically creating Dependabot updates or disable security and version updates.
        <% unless @interactive %>
          <%= render(Primer::Beta::Link.new(href: dependabot_prs_link, classes: "Link--inTextBlock")) { "See open Dependabot pull requests" } %>
        <% end %>
      </p>
    </div>
  <% end %>
</dependabot-updates-paused>
