<% page_info title: "Proxima Service Rate Limits", selected_link: :proxima_service_rate_limits %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h1) do %>
      Proxima Service Rate Limits
    <% end %>
  <% end %>

  <span class="mr-3">
    <%= form_with url: stafftools_proxima_service_rate_limits_create_path, method: :post do %>
      <%= render Primer::Beta::Button.new(type: :submit, "data-show-dialog-id": "create-service-identity") do %>
        New registration
      <% end %>
    <% end %>

    <%= render(Primer::Alpha::Dialog.new(title: "Create registration", id: "create-service-identity")) do |dialog| %>
      <% dialog.with_body do %>
        <%= form_with url: stafftools_proxima_service_rate_limits_create_path, method: :post do |f| %>
          <div class="form-group d-block">
            <ul class="list-style-none">
              <li class="d-inline-block mb-3 lh-condensed">
                <span class="mb-2">Tenant Shortcode</span>
                <%= f.text_field :tenant_shortcode,
                  autofocus: true,
                  placeholder: "shortcode",
                  "aria-labelledby": "tenant-shortcode" %>
              </li>

              <li class="d-inline-block mb-3 lh-condensed">
                <span class="mb-2">Service Name</span>
                <%= f.select :service_name, options_for_select(ProximaServiceIdentity::REGISTERED_SERVICES.map { |service| [service, service] }), { include_blank: "Select a Service" } %>
              </li>

              <li class="d-inline-block mb-3 lh-condensed">
                <span class="mb-2">Rate Limit</span>
                <%= f.text_field :rate_limit,
                  placeholder: "5000",
                  "aria-labelledby": "rate-limit" %>
              </li>
            </ul>

            <div style="justify-content: right;">
              <%= render Primer::Beta::Button.new(type: :submit) do %>
                Create
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </span>

  <br>

  <!-- Filter Form for Selecting Service Name -->
  <%= form_with url: stafftools_proxima_service_rate_limits_path, method: :get, local: true, html: { id: "service_name_form" } do %>
    <div>
      <label for="service_name">Select a Service Name:</label>
      <%= select_tag :service_name, options_for_select(ProximaServiceIdentity::REGISTERED_SERVICES.map { |service| [service, service] }, params[:service_name]), include_blank: "Service Name", id: "service_name" %>
      <%= render Primer::Beta::Button.new(type: :submit) do %>
        Search
      <% end %>
    </div>
  <% end %>

  <br>

  <% if params[:service_name].present? %>
    <% filtered_identity_map = ProximaServiceIdentity.where(service_name: params[:service_name]).order(created_at: :desc) %>

    <%= render(Primer::Beta::BorderBox.new(
      padding: :condensed,
      mb: 3,
      test_selector: "proxima-tenant-rate-limit-details",
    )) do |component| %>

      <% component.with_header(p: 2) do |h| %>
        <% h.with_title(tag: :h2, display: :flex, justify_content: :space_between, align_items: :center) do %>
          <span <%= test_selector "proxima-service-rate-limits-title" %>>
            <%= filtered_identity_map.size %> tenant-bound <%= "service".pluralize(filtered_identity_map.size) %> registered for elevated rate limits.
          </span>
        <% end %>
      <% end %>

      <% if filtered_identity_map.any? %>
        <% component.with_body(p: 0, style: "filter: brightness(1.5);") do %>
          <table class="site-admin-table mb-0 border-0">
            <thead>
              <tr>
                <th>Service</th>
                <th>Tenant Shortcode</th>
                <th>Rate Limit (per hour)</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% filtered_identity_map.each_with_index do |identity, index| %>
                <tr <%= test_selector "proxima-service-rate-limit-registration-row" %>>
                  <td><%= identity.service_name %></td>
                  <td><%= identity.tenant_shortcode %></td>
                  <td><%= identity.rate_limit %></td>
                  <td>
                    <%= render(Primer::Box.new(test_selector: "action-buttons-#{index}", display: :flex, direction: :row)) do %>
                      <%= render Primer::Beta::IconButton.new(
                        "aria-label": "Update rate limit entry",
                        "data-show-dialog-id": "update-service-identity-#{identity.id}",
                        icon: "pencil",
                        mr: 1,
                      ) %>

                      <%= render(Primer::Alpha::Dialog.new(title: "Edit details", id: "update-service-identity-#{identity.id}")) do |dialog| %>
                        <% dialog.with_body do %>
                          <%= form_with url: stafftools_proxima_service_rate_limits_update_path(identity.id), method: :put do |f| %>
                            <div class="form-group d-block">
                              <ul class="list-style-none">
                                <li class="d-inline-block mb-3 lh-condensed">
                                  <span class="mb-2">Tenant Shortcode</span>
                                  <%= f.text_field :tenant_shortcode, autofocus: true, value: identity.tenant_shortcode, "aria-labelledby": "tenant-shortcode" %>
                                </li>
                                <li class="d-inline-block mb-3 lh-condensed">
                                  <span class="mb-2">Service Name</span>
                                  <%= f.select :service_name, options_for_select(ProximaServiceIdentity::REGISTERED_SERVICES.map { |service| [service, service] }, identity.service_name), "aria-labelledby": "service-name" %>
                                </li>
                                <li class="d-inline-block mb-3 lh-condensed">
                                  <span class="mb-2">Rate Limit</span>
                                  <%= f.text_field :rate_limit, value: identity.rate_limit.to_s, "aria-labelledby": "rate-limit" %>
                                </li>
                              </ul>
                              <div style="justify-content: right;">
                                <%= render Primer::Beta::Button.new(type: :submit) do %>
                                  Update
                                <% end %>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                      <% end %>

                      <%= render Primer::Beta::IconButton.new(
                        "aria-label": "Delete rate limit entry",
                        "data-show-dialog-id": "delete-service-identity-#{identity.id}",
                        icon: "trash",
                        color: :danger,
                      ) %>

                      <%= render(Primer::Alpha::Dialog.new(title: "Are you sure?", id: "delete-service-identity-#{identity.id}")) do |dialog| %>
                        <% dialog.with_body do %>
                          Deleting this record means the
                          <span class="text-emphasized color-fg-danger"><%= identity.service_name %></span>
                          service for the
                          <span class="text-emphasized color-fg-danger"><%= identity.tenant_shortcode %></span>
                          tenant will be subject to the default rate limit
                          (<%= ProximaServiceIdentity.default_rate_limit(identity.service_name) %> reqs/hour).
                        <% end %>
                        <% dialog.with_footer(display: :block, show_divider: true, align: :right) do %>
                          <%= form_tag stafftools_proxima_service_rate_limits_destroy_path(identity.id), method: :delete do %>
                            <%= render(Primer::Beta::Button.new(type: :submit, scheme: :danger)) do %>
                              Delete
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
