<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 2 %>

<div class="Box-header h5" <%= test_selector('merged-details-header') %>>
  <%= status_summary %>
</div>
<div class="overflow-auto" style="max-height: 296px;">
  <% contexts.each do |context| %>
    <div class="d-flex flex-items-baseline Box-row" <%= test_selector('merge-status-item') %>>
      <%-
        state = context.state || context.status
      -%>

      <div class="mr-3 flex-self-center flex-shrink-0 text-center" style="width: 16px;">
        <%= primer_octicon(**status_state_octicon_arguments(state)) %>
      </div>

      <% if context.respond_to?(:application) && context.application %>
          <a href="<%= context.application.url %>"
              class="d-inline-block tooltipped tooltipped-e Link--muted lh-0 mr-2 rounded-2"
              <%= test_selector "creator-icon" %>
              aria-label="<%= context.application.name %> (@<%= context.application.user.display_login %>) generated this status."
              style="background-color: #<%= context.application.async_preferred_bgcolor.sync %>"
          ><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
            <img src="<%= context.application.async_preferred_avatar_url.sync %>" width="20" height="20" alt="" class="avatar">
          </a>
      <% elsif context.creator %>
        <a href="<%= context.creator.permalink(include_host: false) %>"
            class="d-inline-block tooltipped tooltipped-e mr-2"
            <%= test_selector "creator-icon" %>
            aria-label="@<%= context.creator.display_login %> generated this status."
        ><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          <img src="<%= context.creator.primary_avatar_url %>" width="20" height="20" alt="@<%= context.creator.display_login %>" class="avatar">
        </a>
      <% end %>

      <%= render(Primer::Truncate.new(inline: true, color: :muted, flex: :auto, w: :fit, mr: 3)) do %>
        <strong class="text-emphasized">
          <%= context.context %>
        </strong>
        <%= context.description %>
      <% end %>

      <% if context.target_url %>
        <a href="<%= context.target_url %>">Details</a>
      <% end %>
    </div>
  <% end %>
</div>
