<div>
  <% if commit_count > 1 %>
    <%= render Primer::Beta::TimelineItem.new(pb: 1, id: "commits-pushed-#{commits.first.abbreviated_oid}", test_selector: 'pr-timeline-commit-group-header') do |component| %>
      <% component.with_badge(icon: "repo-push") %>
      <% component.with_body do %>
        <%= render PullRequests::TimelineEvents::CommitActorComponent.new(actor: commits.first.author_actor) %><% if multiple_authors? %><span <%= test_selector "multiple-authors" %>>and others</span><% end %>
        added <span <%= test_selector "pr-timeline-commits-count" %>><%= commit_count %></span> commits
        <%= render(Primer::Beta::Link.new(href: "#commits-pushed-#{commits.first.abbreviated_oid}", scheme: :secondary, classes: "Link--inTextBlock")) do %>
          <%= render(Primer::Beta::RelativeTime.new(datetime: commits.first.created_at, tense: :past)) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div <%= test_selector "pr-timeline-commits-list" %>>
    <% commits.each do |commit| %>
      <%= render Primer::Beta::TimelineItem.new(condensed: true) do |component| %>
        <% component.with_badge(icon: "git-commit") %>
        <% component.with_body do %>
          <%= render PullRequests::TimelineEvents::CondensedCommitDetailsComponent.new(commit: commit, pull_request: pull_request) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
