<% if has_visible_actor? %>
  <%= profile_link(visible_actor, class: "author Link--primary text-bold", data: { "test-selector" => "pr-timeline-events-commit-actor-profile-link" }) %>
  <%= bot_identifier(visible_actor) %>
<% elsif has_actor_name? %>
  <span class="author text-bold" <%= test_selector "pr-timeline-events-commit-actor-name" %>><%= actor_name %></span>
<% else %>
  <span class="author text-bold" <%= test_selector "pr-timeline-events-commit-actor-unknown-link" %>>Unknown author</span>
<% end %>
