<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="js-details-container Details js-socket-channel js-updatable-content">
  <div class="d-flex flex-md-row flex-column">
    <div class="d-flex flex-auto">
      <%= render Commits::AvatarStackComponent.new(commit: commit) %>
      <div class="pr-1 flex-auto min-width-0" <%= test_selector("commit-message") %>>
        <code>
          <%= link_markup_to commit_message_html,
                             commit_permalink,
                             title: commit.message&.rstrip,
                             data: { pjax: true },
                             class: commit_message_classes
          %>
        </code>

        <% if commit.message_body_html.present? %>
          <span class="hidden-text-expander inline">
            <%= render Primer::ButtonComponent.new(classes: "ellipsis-expander js-details-target", aria: { expanded: false }) do %>
              &hellip;
            <% end %>
          </span>
        <% end %>
        <% if commit.prelude_comment_count(repository) > 0 %>
          <%= link_to commit_comments_url, aria: { label: "View comments on this commit" }, class: "Link--secondary" do %>
            <%= primer_octicon(:"comment-discussion") %>
          <% end %>
        <% end %>
      </div>

      <div class="pr-1 d-md-inline-block d-none">
        <%= render "commit/deferred_badge", verifiable_global_relay_id: commit.global_relay_id, indicate_loading: commit.has_signature? %>
      </div>

      <div class="pr-1 flex-shrink-0" style="width: 16px;">
        <div class="js-socket-channel js-updatable-content" data-channel="<%= status_data_channel %>" data-url="<%= status_live_update_url %>">
          <%= render "statuses/deferred_icon", commit_oid: commit.oid, dropdown_direction: "w", url: check_statuses_rollups_path %>
        </div>
      </div>

      <div class="text-right ml-1">
        <code>
          <a href="<%= commit_permalink %>" class="Link--secondary"><%= commit.abbreviated_oid %></a>
        </code>
      </div>
    </div>
  </div>
  <% if commit.message_body_html.present? %>
    <div class="Details-content--hidden mt-2">
      <pre class="color-fg-muted ws-pre-wrap"><%= commit.message_body_html %></pre>
    </div>
  <% end %>
</div>
