<div
  class="js-socket-channel js-updatable-content"
  <% if !final_deployment_state? %>
    data-channel="<%= live_update_view_channel(websocket_channel) %>"
    data-url="<%= live_update_url %>"
  <% end %>
  data-gid="<%= pull_request.global_relay_id %>"
>
  <%= render(PullRequests::TimelineEvents::TimelineItemComponent.new(issue_event: issue_event, icon: :rocket)) do |component| %>
    <% component.with_body do %>
      <% if status&.log_url %>
        <%= safe_link_to description, status.log_url, title: status.description, target: "_blank", class: "Link--secondary" %>
      <% else %>
        <%= description %>
      <% end %>
      to
      <% if show_env_url %>
        <%= render(Primer::Beta::Link.new(test_selector: "environment-link", href: status.environment_url, scheme: :primary, font_weight: :bold).with_content(deployment.latest_environment))%>
      <% else %>
        <%= deployment.latest_environment %>
      <% end %>

      <% component.with_additional_details do %>
        <% unless deployment.state == "active" && show_env_url %>
          <%= render Repositories::DeploymentStatusComponent.new(state: deployment.state) %>
        <% end %>
      <% end %>

      <% if deployment.state == "active" && show_env_url %>
        <% component.with_action do %>
          <%= safe_link_to "View deployment", status.environment_url, class: "btn btn-sm float-right", target: "_blank" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
