<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render(PullRequests::TimelineEvents::TimelineItemComponent.new(issue_event: issue_event, icon: "git-branch")) do |component| %>
  <% component.with_body do %>
    <% if deleted? && can_restore_head_ref? %>
      <%= form_tag pull_request.async_restore_head_ref_path_uri.sync.to_s, method: :post, class: "pull-request-ref-restore js-immediate-updates js-needs-timeline-marker-header float-right" do %>
        <%= render(Primer::ButtonComponent.new(type: :submit, variant: :small,  "data-disable-with": "Restoring...", classes: "pull-request-ref-restore-text", icon: "git-branch")) do %>
          Restore branch
        <% end %>
      <% end %>
    <% end %>

    <%= action %> the
    <span class="commit-ref user-select-contain width-fit">
      <%= render(Primer::Truncate.new(
            tag: :span,
            inline: true,
            w: :fit,
            test_selector: "head-ref-#{action}-event-ref-name"
          )
      ) do %>
        <%= head_ref_name %>
      <% end %>
    </span>
    branch
  <% end %>
<% end %>
