<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render(Primer::Beta::TimelineItem.new(
  classes: class_names("Details js-details-container": show_commit_status?),
  id: "event-#{issue_event.id}",
  test_selector: "discussion-item-#{issue_event.event}",
)) do |component| %>
  <% component.with_badge(icon: "clock") %>
  <% component.with_body do %>
    <div class="d-flex flex-items-center">
      <div class="flex-auto">
        <%= render PullRequests::TimelineEvents::ActorComponent.new(actor: actor) %>
          <%= event_description %>
          <%= render(Primer::Beta::Link.new(
            href: "#event-#{issue_event.id}",
            scheme: :secondary,
            test_selector: "merge-queue-#{action}-event-timestamp"
          )) do %>
            <%= time_ago_in_words_js issue_event.created_at %>
          <% end %>
      </div>

      <% if show_commit_status? %>
        <%#
        This ButtonComponent works in concert with the top-level js-details-container
        class above and the Details-content--shown and Details-content--hidden elements
        below; a sort of deconstructed Details component (see
        https://primer.style/view-components/components/details).
        %>
        <%= render Primer::ButtonComponent.new(
          variant: :small,
          aria: { expanded: "false" },
          test_selector: "merge-queue-event-details-button",
          classes: "js-details-target",
        ) do %>
          <span class="Details-content--hidden">Hide details</span>
          <span class="Details-content--shown">View details</span>
        <% end %>
      <% end %>
    </div>

    <% if any_new_commits_will_not_be_merged? %>
      <div class="text-small" <%= test_selector("merge-queue-added-detail") %>>Any commits made after this event will not be merged.</div>
    <% end %>

    <% if branch_protection_failure? %>
      <div class="text-small" <%= test_selector("merge-queue-removed-detail") %>>
        You're not authorized to push to this branch. Visit "<a class="Link--inTextBlock" href="https://docs.github.com/articles/about-protected-branches" target="_blank">About protected branches</a>" for more information.
      </div>
    <% end %>

    <% if show_commit_status? %>
      <div class="color-fg-default mt-3 Box Box--condensed Details-content--hidden width-fit">
        <include-fragment
          src="<%= pull_request_commit_status_checks_partial_path(
            user_id: repository.owner,
            repository: repository,
            id: pull_request.number,
            event_id: issue_event.id,
          ) %>"
          loading="lazy"
        >
          <%= render Primer::Beta::Spinner.new(mx: :auto, display: :block, "aria-label": "Loading") %>
        </include-fragment>
      </div>
    <% end %>
  <% end %>
<% end %>
