<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<div class="TimelineItem js-details-container Details" id="<%= issue_event.permalink.split('#').last %>" <%= test_selector('merged-timeline-event') %>>
  <div class="TimelineItem-badge color-fg-on-emphasis color-bg-done-emphasis">
    <%= primer_octicon(:"git-merge") %>
  </div>
  <div class="TimelineItem-body">
    <% if viewer_can_revert? %>
      <%= form_tag revert_path.to_s, method: "post" do %>
        <%= render Primer::ButtonComponent.new(
          type: :submit,
          variant: :small,
          aria: { label: "Create a new pull request to revert these changes" },
          float: :right,
          ml: 2,
          classes: "tooltipped tooltipped-s",
          data: { "ga-click" => "Repository, revert, location:pull request event; text:Revert" }) do
        %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
          Revert
        <% end %>
      <% end %>
    <% end %>

    <% if status_at_merge %>
      <%= render Primer::ButtonComponent.new(
        variant: :small,
        aria: { expanded: "false" },
        float: :right,
        classes: "js-details-target") do %>
          <span class="Details-content--hidden">Hide details</span>
          <span class="Details-content--shown">View details</span>
      <% end %>
    <% end %>

    <% if merge_queue? || api_merge_queue? %>
      <% if merge_queue? %>
        Merged
      <% else %>
        <%= render PullRequests::TimelineEvents::ActorComponent.new(actor: issue_event.event_actor(viewer: current_user)) %> merged
      <% end %>
      via the queue into
      <%= render PullRequests::TimelineEvents::BaseRefComponent.new(pull_request: pull_request, repository: repository) %>
      <% if commit %>
        with commit <a href="<%= commit.permalink(include_host: false) %>"><code class="Link--primary text-bold"><%= commit.abbreviated_oid %></code></a>
      <% end %>
    <% else %>
      <%= render PullRequests::TimelineEvents::ActorComponent.new(actor: issue_event.event_actor(viewer: current_user)) %>

      <% if commit %>
        merged commit <a href="<%= commit.permalink(include_host: false) %>"><code class="Link--primary text-bold"><%= commit.abbreviated_oid %></code></a>
      <% else %>
        merged this pull request
      <% end %>
      into

      <%= render PullRequests::TimelineEvents::BaseRefComponent.new(pull_request: pull_request, repository: repository) %>
    <% end %>
    <a href="<%= issue_event.permalink %>" class="Link--secondary"><%= time_ago_in_words_js issue_event.created_at %></a>

    <% if status_at_merge %>
      <div class="f6 Details-content--shown" <%= test_selector('merged-event-footer') %>>
        <%= status_summary %>
      </div>

      <div class="color-fg-default mt-3 Box Box--condensed Details-content--hidden width-fit">
        <include-fragment
          src="<%= pull_request_commit_status_checks_partial_path(
            user_id: repository.owner,
            repository: repository,
            id: pull_request.number,
            event_id: issue_event.id,
          ) %>"
          loading="lazy"
        >
          <%= render(Primer::Beta::Spinner.new(mx: :auto, display: :block, "aria-label": "Loading")) %>
        </include-fragment>
      </div>
    <% end %>
  </div>
</div>

<div class="TimelineItem-break"></div>
