<%# erblint:counter DeprecatedComponentsCounter 2 %>
<div class="archived-project-cards-pane project-pane js-project-pane js-project-archived-cards-pane d-none border-left border-bottom position-relative bottom-0 top-0 right-0 color-bg-default overflow-auto ws-normal hide-sm height-full width-full project-touch-scrolling"
    data-back-to-label="Archived cards"
    data-back-to-class="js-show-archived-cards"
    data-project-archived-card-url="<%= project_archived_cards_resource_path %>/{card_id}">
  <div class="py-2 border-bottom color-bg-subtle">
    <%= render Primer::ButtonComponent.new(scheme: :link, position: :absolute, pt: 2, pr: 3, pb: 1, top: 0, right: 0, classes: "project-pane-close js-hide-project-menu", "aria-label": "Hide archived cards") do %>
      <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
    <% end %>
    <h4 class="pl-3 f5">
      <%= render Primer::ButtonComponent.new(scheme: :link, mr: 2, classes: "Link--secondary js-show-project-menu", "aria-label": "Hide archived cards") do %>
        <%= primer_octicon(:"chevron-left") %>
      <% end %>
      <%= primer_octicon(:archive) %> Archived cards
    </h4>
  </div>

  <include-fragment class="js-project-archived-cards-results" data-project-archived-cards-url="<%= project_archived_cards_resource_path %>">
    <div class="text-center py-3 f5 color-fg-muted">Loading archived cards…</div>
  </include-fragment>
</div>
