<%# erblint:counter DeprecatedComponentsCounter 6 %>
<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<div class="project-pane js-project-pane js-project-card-details-pane d-none border-left border-bottom position-relative bottom-0 top-0 right-0 overflow-auto ws-normal hide-sm height-full width-full project-touch-scrolling">
  <template class="js-project-card-details-loader-template">
    <div class="d-flex flex-auto flex-column">
      <div class="p-3 d-flex f4 lh-condensed project-comment-title-hover border-bottom">
        <div class="pr-2 flex-shrink-0 js-project-card-details-loader-octicon"></div>
        <div class="flex-auto overflow-hidden lh-default">
          <a href="#" class="Link--primary js-project-card-details-external-link" target="_blank" rel="noopener"><%# erblint:disable GitHub::Accessibility::LinkHasHref %>
            <span class="text-bold js-issue-title"></span>
            <span class="color-fg-muted js-issue-number"></span>
          </a>

          <div class="text-small pt-1">
            <span class="color-fg-muted">Opened in</span>
            <a href="#" class="color-fg-muted text-bold js-issue-repository"></a><%# erblint:disable GitHub::Accessibility::LinkHasHref %>
          </div>
        </div>
        <div class="d-flex flex-shrink-0">
          <div class="v-hidden">
            <%= render Primer::ButtonComponent.new(scheme: :link, mr: 2, px: 2, classes: "comment-action Link--muted", "aria-expanded": "false") do %><%= render(Primer::Beta::Octicon.new(icon: "pencil")) %><% end %>
          </div>
          <div>
            <%= render Primer::ButtonComponent.new(scheme: :link, classes: "project-pane-close js-hide-project-menu js-hide-project-card-details", "aria-label": "Hide details") do %>
              <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="flex-auto d-flex flex-column flex-items-center pt-4 js-project-card-details-loader">
        <%= render(Primer::Beta::Spinner.new) %>
        <br>
        Loading details…
      </div>

      <div class="flex-auto d-none d-flex flex-column flex-items-center pt-4 js-project-card-details-error">
        Failed to load details.
        <br>
        <%= render Primer::ButtonComponent.new(scheme: :link, classes: "js-project-card-details-retry") do %>Retry<% end %>
      </div>

      <div class="border-top flex-shrink-0 text-center p-3 color-shadow-medium">
        <a href="#" class="btn width-full js-project-card-details-external-link" target="_blank" rel="noopener"><%# erblint:disable GitHub::Accessibility::LinkHasHref %>
          <span class="pr-1">Go to <span class="js-issue-type"></span> for full details</span>
          <%= primer_octicon(:"link-external") %>
        </a>
        <%= render Primer::ButtonComponent.new(w: :full, mt: 2, classes: "disabled", disabled: true) do %>
          <span class="js-issue-state"></span> <span class="js-issue-type"></span>
        <% end %>
      </div>
    </div>
  </template>
  <template class="js-project-card-details-back-template">
    <%= render Primer::ButtonComponent.new(scheme: :link, mr: 2, classes: "Link--secondary js-project-card-details-back-link js-hide-project-card-details", "aria-label": "Hide details") do %>
      <%= primer_octicon(:"chevron-left") %>
    <% end %>
    Back to <span class="js-project-card-details-back-to-title"></span>
  </template>
  <div class="d-flex flex-column height-full">
    <div class="py-2 border-bottom color-bg-subtle flex-shrink-0 d-none js-project-card-details-header">
      <%= render Primer::ButtonComponent.new(scheme: :link, position: :absolute, pt: 2, pr: 3, pb: 1, top: 0, right: 0, classes: "Link--secondary js-hide-project-menu js-hide-project-card-details", "aria-label": "Hide details") do %>
        <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
      <% end %>
      <h4 class="pl-3 f5 js-project-card-details-back-container"></h4>
    </div>
    <div class="d-flex flex-column flex-auto js-project-card-details"></div>
  </div>
</div>
