<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="project-pane js-project-pane js-project-menu-pane d-none border-left border-bottom position-relative bottom-0 top-0 right-0 overflow-auto ws-normal hide-sm project-touch-scrolling">
  <div class="overflow-hidden">
    <div class="px-3 py-2 border-bottom color-bg-subtle">
      <h3 class="f5"><%= primer_octicon(:"three-bars") %> Menu</h3>
      <div class="position-absolute top-0 right-0 pt-2 pr-3">
        <%= render Primer::ButtonComponent.new(scheme: :link, classes: "project-pane-close js-hide-project-menu", "aria-label": "Close menu", "data-hotkey": "Escape") do %>
          <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
        <% end %>
      </div>
    </div>

    <%= render partial: "projects/panes/metadata", locals: { project_owner: project_owner, show_deprecation_announcement: show_deprecation_announcement} %>

    <div class="px-3 py-2 border-bottom color-bg-subtle">
      <h3 class="f5"><%= primer_octicon(:bell) %> Activity</h3>
    </div>
    <%= render partial: "projects/panes/activity",
          locals: { project_activity_resource_path: project_activity_resource_path, fullscreen: fullscreen } %>
  </div>
</div>
