<div class="d-flex flex-justify-between flex-items-center" <%= test_selector("invoice-#{invoice.number}") %>>
  <div class="mr-2">
    <a href="<%= invoice.hosted_invoice_url %>" class="text-bold" target="_blank" rel="noopener noreferrer">
      <%= formatted_invoice_amount %>
    </a>
    <div class="text-small color-fg-muted mt-2" <%= test_selector("invoice-metadata") %>>
      Created <%= time_ago_in_words_js(invoice.created_at) %> &middot; Invoice #<%= invoice.number %>
      <% if invoice.purchase_order_number.present? %>&middot; PO #<%= invoice.purchase_order_number %><% end %>
    </div>
  </div>
  <%= render Primer::Beta::Label.new(scheme: label_scheme, test_selector: "invoice-label").with_content(label_text) %>
</div>
