<% delivery_view = Hooks::DeliveryView.new(hook: hook, delivery: delivery) %>
<% delivery_path = hook_delivery_path(hook, delivery_view.delivery_id) %>
<%# NOTE: data-delivery-guid and data-redelivery were added to make is easier to differentiate between
canonical deliveries and redeliveries in the UI tests
%>
<li class="hook-delivery-item" data-delivery-guid="<%= delivery_view.delivery_guid %>" data-redelivery="<%= delivery_view.redelivery? %>">
  <details
    class="details-reset"
    data-deferred-details-content-url="<%= delivery_path %>"
    data-details-no-preload-on-hover>
    <summary data-sudo-required="true">
      <div class="col-lg-9 col-md-12 d-inline-block">
        <span class="item-status">
          <% case delivery_view.status_class %>
          <% when "pending" %>
            <%= render Primer::Beta::Octicon.new(:"dot-fill", color: :attention) %>
          <% when "success" %>
            <%= render Primer::Beta::Octicon.new(:check, color: :success) %>
          <% else %>
            <%= render Primer::Beta::Octicon.new(:alert, color: :danger) %>
          <% end %>
        </span>
        <span class="hook-delivery-guid no-underline">
          <%= render Primer::Beta::Octicon.new(:package) %>
          <%= delivery_view.delivery_guid %>
        </span>
        <% if delivery_view.activity_title %>
          <span class="hook-delivery-guid no-underline">
            <%= delivery_view.activity_title %>
          </span>
        <% end %>
        <% if delivery_view.redelivery? %>
          <%= render(Primer::Beta::Label.new(scheme: :info)) { "redelivery" } %>
        <% end %>
      </div>

      <div class="col-lg-3 col-md-4 d-inline-block d-inline-flex flex-lg-justify-end float-lg-right">
        <% if delivery_view.delivered_at %>
          <time class="text-small color-fg-muted mr-2">
            <%= delivery_view.delivered_at.strftime("%Y-%m-%d %H:%M:%S") %>
          </time>
        <% end %>

        <span class="hidden-text-expander"><span class="ellipsis-expander">&hellip;</span></span>
      </div>
    </summary>

    <include-fragment>
      <p class="text-center mt-3" data-hide-on-error>
        <%= render Primer::Beta::Spinner.new %>
      </p>
      <p class="flash flash-error mb-0 mt-2" data-show-on-error hidden>
        <%= render Primer::Beta::Octicon.new(:alert, color: :danger) %>
        Sorry, something went wrong and we weren't able to fetch this delivery's details.
      </p>
    </include-fragment>
  </details>
</li>
