<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render layout: "shared/details_dialog", locals: {
  safe_toggle_button_data_attributes: test_selector("redeliver-hook-delivery"),
  button_class: "btn btn-sm mt-1",
  button_text: "Redeliver",
  title: "Redeliver payload?",
  sudo_required: true
} do %>
  <% redelivery_path = redeliver_hook_delivery_path(hook, delivery_view.delivery_guid) %>
  <%= form_tag redelivery_path,
      class: "js-redeliver-hook-form redelivery-dialog" do %>
    <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
      <p class="pending-message">The payload will be delivered to <em><%= hook.url %></em> using the current webhook configuration.</p>
      <p class="failure-message">Oops, there was an error while trying to redeliver this payload.</p>
    <% end %>
    <div class="Box-footer">
      <%= render Primer::ButtonComponent.new(type: :submit, block: true, "data-disable-with": "Delivering payload…") do %>Yes, redeliver this payload<% end %>
    </div>
  <% end %>
<% end %>
