<%# TODO is this used anymore ???? aren't services gone? %>
<div class="tabnav">
  <div class="tabnav-extra float-right">
    <%= primer_octicon(:clock) %>
    Completed in <%= log_view.duration_in_seconds %>.
  </div>

  <%= render :partial => "hook_deliveries/redeliver_button", :locals => {:hook => current_hook, :log_view => log_view} %>

  <div class="tabnav-tabs" role="tablist">
    <button type="button" role="tab" class="tabnav-tab" aria-selected="true">Payload</button>

    <button type="button" role="tab" class="tabnav-tab">
      Remote Calls <%= render Primer::Beta::Counter.new(count: log_view.remote_calls.count) %>
    </button>

    <% if log_view.show_exception_to_user?(current_user) %>
      <button type="button" role="tab" class="tabnav-tab">Exception</button>
    <% end %>
  </div>
</div>

<div role="tabpanel">
  <%= log_view.highlighted_delivery_payload %>
</div>

<div role="tabpanel" hidden>
  <% if log_view.remote_calls.any? %>
    <% log_view.remote_calls.each_with_index do |remote_call, index| %>
      <h4 class="remote-call-header">Remote Call #<%= index + 1 %></h4>

      <% if remote_call.http? %>
        <label>Request Headers</label>
        <%= pre_ignoring_indentation do %>
          <strong>Request URL:</strong> <%= remote_call.url %>
          <%= log_view.request_headers_html(remote_call) %>
        <% end %>

        <% if log_view.connection_error?(remote_call) %>
          <label>Response</label>
          <p>
            We had a problem connecting to the server. The most common problem with these types of errors is a misconfigured SSL certificate.
            <% if current_hook.webhook? %>
              Try <a class="Link--inTextBlock" href="<%= log_view.ssl_verification_url %>">verifying your certificate chain</a>.
            <% end %>
          </p>
        <% else %>
          <label>Response Headers</label>
          <%= pre_ignoring_indentation do %>
            <strong>Response Status:</strong> <%= remote_call.response_status %>
            <strong>Call Duration:</strong> <%= pluralize remote_call.duration, "second" %>
            <%= log_view.request_headers_html(remote_call) %>
          <% end %>

          <label>Body</label>
          <%= log_view.delivery_response_body(remote_call) %>
        <% end %>
      <% else %>
        <pre><%= remote_call.raw %></pre>
      <% end %>
    <% end # remote_calls.each %>
  <% else %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_visual_icon(icon: "plug") %>

      <% c.with_heading(tag: :h2) do %>
        No remote calls were recorded for this delivery
      <% end %>

      <% c.with_description do %>
        Sorry, we’re unable to show you detailed request/response information for this delivery. Either this service does not record any remote call information or an error occurred before it was able to make a remote call.
      <% end %>
    <% end %>
  <% end %>
</div>

<% if log_view.show_exception_to_user?(current_user) %>
  <div role="tabpanel" hidden>
    <pre><%= log_view.exception %></pre>
  </div>
<% end %>
