<%# rubocop:disable Lint/InstanceVariable %>
<% deliveries_component = capture do %>
  <% if @error %>
    <p class="flash flash-error">
      <%= render(Primer::Beta::Octicon.new(icon: "alert")) %>
      Sorry, something went wrong and we weren’t able to fetch the deliveries for this hook.
    </p>
  <% else %>
    <% if paginated_deliveries? %>
      <%= render :partial => "hook_deliveries/deliveries_and_outages", :locals => {deliveries_view: @deliveries_view} %>
      <%= paginate_deliveries(current_hook, @deliveries_view.next_cursor, @query) %>
    <% else %>
      <% if @deliveries_view.deliveries&.any? %>
        <ul class="hook-deliveries-list boxed-group-list standalone js-hook-deliveries-container"><%# erblint:disable DeprecatedCustomCss %>
          <%= render :partial => "hook_deliveries/deliveries_and_outages", :locals => {deliveries_view: @deliveries_view} %>
          <%= paginate_deliveries(current_hook, @deliveries_view.next_cursor, @query) %>
        </ul>
      <% elsif !@query.blank? %>
        <p>No deliveries were found matching the query.</p>
      <% else %>
        <p>Detailed delivery information will be shown here once the hook has been triggered.</p>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= deliveries_component %>
