<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% page_info title: "#{this_business.name} #{action.to_s.humanize} Enterprise Agreement", selected_link: :business_overview %>

<%= render Primer::Beta::Subhead.new do |component| %>
	<% component.with_heading(tag: :h2) do %><%= action.to_s.humanize %> Enterprise Agreement<% end %>
<% end %>

<%= form_for enterprise_agreement, as: :enterprise_agreement, url: form_url do |f| %>
  <dl class="form-group">
    <dt>
      <%= f.label :agreement_id, "Agreement ID" %>
    </dt>
    <dd>
      <%= f.text_field :agreement_id, required: true %>
    </dd>
  </dl>

  <dl class="form-group">
    <dt>
      <%= f.label :seats, "Volume Seats" %>
    </dt>
    <dd>
      <%= f.text_field :seats, required: true, type: :number, placeholder: "100" %>
    </dd>
  </dl>

  <dl class="form-group">
    <dt>
      <%= f.label :category %>
    </dt>
    <dd>
      <%= f.select :category, options_for_select(categories, enterprise_agreement.category), required: true %>
    </dd>
  </dl>

  <dl class="form-group">
    <dt>
      <%= f.label :status %>
    </dt>
    <dd>
    <%= f.select :status, options_for_select(statuses, enterprise_agreement.status), required: true %>
    </dd>
  </dl>

  <%= f.submit "#{action.to_s.humanize} agreement", class: "btn" %>
<% end %>

<br>

<% if enterprise_agreement.persisted? %>
  <div class="Box Box--danger">
    <div class="Box-row">
      <%= render layout: "shared/details_dialog", locals: {
        button_text: "Delete enterprise agreement",
        button_class: "btn btn-danger",
        details_class: "float-right mt-1",
        title: "Delete this enterprise agreement?",
      } do %>
        <%= render Primer::Beta::Flash.new(full: true, scheme: :warning) do %>
          Woah there!
        <% end %>
        <div class="Box-body overflow-auto">
          <p>
            This will permanently delete this enterprise agreement.
          </p>
          <p>
            There's no going back. Are you sure you want to do this?
          </p>
          <p>
            <%= form_tag stafftools_enterprise_agreement_path(this_business, enterprise_agreement),
              method: :delete do %>
              <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger) do %>Delete enterprise agreement<% end %>
            <% end %>
          </p>
        </div>
      <% end %>

      <div class="listgroup-item-title">Delete enterprise agreement</div>
      <div class="listgroup-item-body">Once deleted, it will be gone forever. Please be certain.</div>
    </div>
  </div>
<% end %>
