<%= render(Primer::Beta::TimelineItem.new(condensed: true)) do |component|
  component.with_badge(color: status_color, icon: status_icon, mt: -2, style: extra_styles)
  component.with_body(mt: -3, pt: 1, mb: margin_btm, ml: -1) do %>
    <%= render(Primer::Beta::Subhead.new(hide_border: true)) do |subhead| %>
      <% subhead.with_heading(font_size: 4, font_weight: :bold, color: header_color) do %>
        <% task.title %>
      <% end %>
    <% end %>
    <%= render Primer::Box.new(display: :flex, flex_wrap: :wrap, border: true, border_radius: 2, p: 3, classes: "flex-items-center") do %>
      <div class="flex-1 pb-1">
        <%= body %>
        <% if task.help_link %>
          <div>
            <%= render(Primer::Beta::Link.new(href: task.help_link, text_size: :small)) { task.help_link_text } %>
          </div>
        <% end %>
      </div>
      <div class="ml-4">
        <% if task.task_link %>
          <% if completed? %>
            <%= render(Primer::Beta::Link.new(href: task.task_link, font_weight: :bold)) { task.task_link_text } %>
          <% else %>
            <%= render(Primer::Beta::Button.new(tag: :a, href: task.task_link, data: { **link_data_attributes, action: "click:task-component#completeTask" } )) { task.task_link_text } %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
