<%= content_tag(variant_mapping(:tag_type), class: variant_mapping(:list_wrapper)) do %>
  <% if complete_task_url %><task-component class="d-inline" data-task-key="<%= task.task_key %>" data-complete-task-url="<%= complete_task_url %>"><% end %>
  <%= content_wrapper do %>
    <div class="<%= variant_mapping(:icon_wrapper) %>" style="<%= variant_mapping(:icon_custom_style) %>">
      <% if completed? %>
        <%= render(Primer::Beta::Octicon.new(:"check-circle-fill", size: variant_mapping(:icon_size), color: :muted, display: :block)) %>
      <% else %>
        <%= render(Primer::Beta::Octicon.new(:circle, size: variant_mapping(:icon_size), color: :muted, display: :block)) %>
      <% end %>
    </div>

    <div class="<%= variant_mapping(:title_wrapper) %>" <% if completed? %>style="opacity:0.7;"<% end %>>
      <span class="<%= variant_mapping(:title_size) %> <%= completed? ? "text-normal color-fg-muted" : "color-fg-accent" %>">
        <%= task.title %>
      </span>
      <% if display_body? %>
        <div class="f6 <%= completed? ? "color-fg-muted" : "color-fg-muted" %>">
          <%= body %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if complete_task_url %>
    <%= form_with url: complete_task_url, hidden: true do %>
      <%= csrf_hidden_input_for complete_task_url, method: :patch, class: "js-data-url-csrf", data: {target: "task-component.token"} %>
    <% end -%>
    </task-component>
  <% end %>
<% end %>
