<% content_for :header_title do %>
  <a class="Header-link" href="<%= user_path(this_organization) %>"><%= this_organization.to_s %></a>
<% end %>

<% content_for :content do %>
  <main>
    <% if staff_view? %>
      <%= render Sponsors::StaffViewBannerComponent.new(
        account_login: this_organization.display_login,
        context: Sponsors::StaffViewBannerComponent::Context::OrganizationInsights,
      ) %>
    <% end %>

    <%= render Sponsors::Orgs::LowCreditBalanceComponent.new(
      sponsor: this_organization,
      active_invoiced_sponsors_agreement: active_invoiced_sponsors_agreement?,
    ) %>

    <%= render "orgs/header", view: create_view_model(
      Orgs::HeaderView,
      organization: this_organization,
      selected_nav_item: :sponsoring,
    ) %>

    <div class="container-xl p-responsive d-md-flex">
      <%= render Sponsors::Orgs::AdminSponsoringTabsComponent.new(
        org: this_organization,
        selected_link: selected_link,
        viewer_can_manage_sponsorships: this_organization.billing_manageable_by?(current_user)
      ) %>

      <div class="px-md-3 d-inline-flex width-full">
        <%= yield %>
      </div>
    </div>
  </main>
<% end %>

<%= render template: 'layouts/application' %>
