<% page_info \
     :title => "#{current_repository.name_with_owner} watchers" %>

<div class="site-admin-unboxed">
  <div class="site-admin-subhead <%= "ruleless" if users.empty? %>">
    <h2 class="site-admin-subhead-heading">
      Watchers
    </h2>
  </div>

  <% if users.any? %>
    <p>
      These users watch this repository, and will receive notifications for
      comments within it based on their individual notification preferences and
      interactions with each conversation.
    </p>

    <table class="site-admin-table">
      <thead>
        <th>
          User
        </th>
        <th>
          Participating setting
        </th>
        <th>
          Subscribed setting
        </th>
      </thead>
      <% users.each do |user| %>
        <tr>
          <td>
            <%= avatar_for user, 20, class: :avatar %>
            <%= link_to user, stafftools_user_path(user) %>
          </td>
          <td>
            <%= settings[user].participating %>
          </td>
          <td>
            <%= settings[user].subscribed %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="paginate-container">
      <%= will_paginate users %>
    </div>
  <% else %>
    <p class="site-admin-blankstate">
      No users are watching this repository.
    </p>
  <% end %>

</div>
