<li data-tab-item="<%= @tab_id %>" class="d-flex js-responsive-underlinenav-item" <%= test_selector(@test_selector) if @test_selector %>>
  <a class="UnderlineNav-item <%= @link_classes %>" href="<%= @url %>"<% if @hotkey.present? %> data-hotkey="<%= @hotkey %>"<% end %>><%# erblint:disable DataHotkey %>
    <%= render Primer::Beta::Octicon.new(icon: @icon, classes: "UnderlineNav-octicon") %>
    <%= @text %>
    <% if @counter_class.present? %>
      <%= render Primer::Beta::Counter.new(count: nil, classes: @counter_class) %>
    <% elsif @count %>
      <%= render Primer::Beta::Counter.new(count: @count, hide_if_zero: true) %>
    <% end %>
  </a>
</li>
