<%# erblint:counter DeprecatedComponentsCounter 6 %>
<% if @repository.plan_supports_pages? %>
  <% if spammy? %>
    <div <%= test_selector("build-status-spammy") %>>
      <%= render(Primer::Beta::Flash.new(scheme: :warning, icon: "alert", my: 3)) do %>
          Your account has been flagged.
          Because of that, <% if spammy_owner? %>
            your GitHub Pages site has been disabled.
          <% elsif spammy_user? %>
            pushes to this GitHub Pages site will not build.
          <% end %>
        If you believe this is a mistake, please <%= link_to "contact support", contact_path, class: "Link--inTextBlock" %>.
      <% end %>
    </div>
  <% elsif must_verify_email? %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, icon: "alert", my: 3)) do %>
      You need a verified email address to use GitHub Pages.
      You can verify your email on <%= link_to "the email settings page", :settings_email_preferences, class: "Link--inTextBlock" %>.
    <% end %>
  <% elsif pages_unbuilt? %>
    <%= render(Primer::Beta::Flash.new(icon: "info", my: 3)) do %>
        Your site is ready to be published at <%= link_to gh_pages_url, gh_pages_url, class: "Link--inTextBlock" %>
    <% end %>
  <% elsif build_error? %>
    <%= render(Primer::Beta::Flash.new(scheme: :warning, icon: "alert", my: 3)) do %>
      Your site is having problems building:
      <%= build_error_message %>
    <% end %>
  <% else %>
    <%= render(Primer::Beta::Flash.new(scheme: :success, icon: "check", my: 3)) do %>
        Your site is published at <%= link_to gh_pages_url, gh_pages_url, class: "Link--inTextBlock" %>
    <% end %>
  <% end %>
<% else %>
  <% if @repository.unsupported_pages? %>
    <%= render(Primer::Beta::Flash.new(scheme: :danger, icon: "alert", my: 3)) do %>
      Your subscription, GitHub Free, does not support GitHub Pages sites for
      private repositories. If you'd like to keep updating this site, you can make
      this repository public or upgrade to <a href="/account/upgrade?plan=pro">
      GitHub Pro</a>. You can also choose to <%= link_to "unpublish this site",
      repository_pages_settings_path, class: "Link--inTextBlock" %> now.
    <% end %>
  <% end %>
<% end %>
