<%# erblint:counter DeprecatedComponentsCounter 2 %>
<%= render(Primer::Beta::Flash.new(scheme: error_message[:scheme], mb: 4, display: :flex)) do |component| %>
    <div class="d-flex ">
          <%= render Primer::Beta::Octicon.new(icon: "stop", height: 32, animation: :pulse) %>
          <span id="pages-cname-field-error-message" >
            <div class="overflow-hidden ">
                <div class="Box-title ">
                    <%= error_message[:header] %>
                </div>
                <div <%= test_selector("pages-certificate-error-message") %>>
                    <%= sanitize error_message[:message] %>
                </div>
            </div>
          </span>
          <pre></pre>
          <% component.with_action do %>
              <%= form_tag gh_pages_request_https_certificate_path(@repository), :method => "put" do %>
                  <%= render(Primer::ButtonComponent.new(variant: :small, type: :submit)) { "Check again" } unless @state == :queued %>
              <% end %>
          <% end %>
      <% end %>
    </div>
