<div class="Box js-pages-certificate-status mt-4 mb-4" data-status-url="pages/certificate_status?display_approval_state=true">
  <div class="Box-body">
    <div class="mr-2 mt-0 mb-2">TLS certificate is being provisioned. This may take up to 15 minutes to complete.</div>
    <span class="text-small color-fg-muted mr-2"><%= progress_status %></span>
    <span class="Progress d-inline-flex" style="width: 160px">
      <div class="color-bg-<%= bg_color %>-inverse" style="width: <%= percentage %>"></div>
    </span>
    <div class="mt-1">
      <span class="text-bold text-small"><%= readable_state %>:</span>
      <span class="note">
        <%= state_description %>
        <% if error %>
          Please
          <% if @cname %>
            check <a class="Link--inTextBlock" <%= test_selector("pages-certificate-status-for-cname") %> href="<%= GitHub.help_url %>/en/github/working-with-github-pages/troubleshooting-custom-domains-and-github-pages#https-errors">help docs</a> or
          <% end %>
          contact <a class="Link--inTextBlock" href="<%= GitHub.contact_support_url(subject: "Page Certificate Failure") %>">support</a> for more info.
        <% end %>
      </span>
    </div>
  </div>
</div>
