<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if default_subdomain.present? %>
  <div class="js-pages-domain-status" data-domain-status-url="pages/domain_status" data-domain-state="<%= @state %>">
      <%= form_tag pages_custom_subdomain_path(repository: @repository, user_id: @repository.owner), :method => :put do %>
        <dl>
          <dt>
            <label for="pages-custom-subdomain-field">Custom subdomain</label>
            <p <%= test_selector("pages-custom-subdomain-display") %>>
              Custom subdomains allow you to serve your site with a subdomain other than <code><%= default_subdomain %></code>.
            </p>
          </dt>
          <dt <%= test_selector("pages-custom-subdomain-update-flash") %>>
            <% if show_update_domain_toast? %>
              <%= render(Primer::Beta::Flash.new(icon: :info, mb: 3)) { "Updating custom subdomain, will be available in few minutes." } %>
            <% end %>
          </dt>
          <dd>
            <div style="display:flex;">
            <div class="pr-1">
              <%= text_field_tag  :custom_subdomain, @repository.page.display_custom_subdomain,
                                  :class                => 'form-control pr-5',
                                  :id                   => 'pages-custom-subdomain-field',
                                  :autocomplete         => 'off',
                                  :disabled             => @repository.archived? %>
            </div>
            <div style="display:inline;">
              <%= render Primer::ButtonComponent.new(type: :submit, classes: "js-pages-custom-subdomain-save-btn", disabled: true, 'aria-label': 'Save custom subdomain button') do %>Save<% end %>
              <input type="submit" value="Remove" class="btn btn-danger js-pages-custom-subdomain-remove-btn" name="commit" <%= :disabled unless @repository.page.custom_subdomain.present? && !@repository.archived? %>>
            </div>
            </div>
          </dd>
        </dl>
      <% end %>
  </div>
<% end %>
