<%# erblint:counter DeprecatedComponentsCounter 1 %>
<div class="js-pages-domain-status" data-domain-status-url="pages/domain_status" data-domain-state="<%= @state %>">
  <%= form_tag pages_cname_path(repository: @repository, user_id: @repository.owner), :method => :put do %>
    <dl class="mt-0">
      <dt>
        <label for="pages-cname-field" class="sr-only">Custom domain</label>
        <p <%= test_selector("pages-custom-domain-display") %>>
          Custom domains allow you to serve your site from a domain other than <code><%= @repository.page.url.async_default_host_name.sync %></code>.
          <a class="Link--inTextBlock" href="<%= helpers.docs_url("pages/configuring-custom-domain") %>">Learn more about configuring custom domains</a>.
        </p>
      </dt>
      <dd>
        <div style="display:flex;">
          <div class="pr-1">
            <%= text_field_tag :cname, @repository.page.display_cname,
                              :class                => 'form-control pr-5',
                              :id                   => 'pages-cname-field',
                              :autocomplete         => 'off',
                              :disabled             => @repository.archived?,
                              'aria-describedby'    => "pages-cname-field-error-message"%>
          </div>
          <div style="display:inline;">
            <%= render Primer::ButtonComponent.new(type: :submit, classes: "js-pages-cname-save-btn", disabled: true) do %>Save<% end %>
            <input type="submit" value="Remove" class="btn btn-danger js-pages-cname-remove-btn" name="commit" <%= :disabled unless @repository.page.cname.present? && !@repository.archived? %>>
          </div>
        </div>
        <p style="display:flex;">
          <span class="status" style="display:block;">
            <% case @state %>
            <% when :pending, :queued %>
              <%= render Primer::Beta::Octicon.new(icon: "dot-fill", mr: 0, classes: "hx_dot-fill-pending-icon") %>
            <% when :both_valid, :valid %>
              <%= render Primer::Beta::Octicon.new(icon: "check", mr: 0, color: :success) %>
            <% when :primary_only %>
              <%= render Primer::Beta::Octicon.new(icon: "alert", mr: 0, color: :attention) %>
            <% when :invalid, :both_invalid, :alternate_only %>
              <%= render Primer::Beta::Octicon.new(icon: "alert", mr: 0, color: :danger) %>
            <% end %>
          </span>
          <span class="<%= state_class %>">
            <%= state_message %>
          </span>
        </p>
        <% if should_show_ascii_domain? %>
          <p>
            DNS records should point to the <a class="Link--inTextBlock" href="https://en.wikipedia.org/wiki/Internationalized_domain_name" target="_blank">internationalized domain name</a> <code style="white-space:nowrap;"><%= @repository.page.cname %></code>.
          </p>
        <% end %>
      </dd>
    </dl>
  <% end %>
    <hr style="clear:both;">
    <%= render Pages::CertificateErrorComponent.new(repository: repository, state: @state, primary_check: @primary_check, alt_check: @alt_check) if should_show_error? %>
</div>
