<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% if page && deployment.present? && !repository.archived? %>
  <div class="Box mb-2 p-3 gap-3 d-flex flex-items-center flex-wrap" <%= test_selector "deployment-status" %>>
    <div class="d-flex flex-column flex-auto" style="max-width: 550px">
      <span class="text-bold">Your site is live at <a class="Link--inTextBlock" href="<%= page.url %>"><%= page.url %></a></span>
      <% if workflow_run.present? %>
        <span class="f6 color-fg-muted m-0">
          Last <a class="Link--inTextBlock" href="<%= "#{repository_path(repository)}/actions/runs/#{workflow_run.id}" %>">deployed</a>
          by <%= avatar_for(actor, 14, class: "v-align-middle") %> <a class="Link--inTextBlock" href="/<%= actor_href %>"><%= actor&.display_login %></a>
          <% if started_at.present? %>
            <%= render Primer::Beta::RelativeTime.new(datetime: started_at, tense: :past) %>
          <% else %>
            now
          <% end %>
        </span>
      <% end %>
    </div>

    <div class="d-flex flex-nowrap gap-2">
      <%= render Primer::ButtonComponent.new(tag: :a, href: page.url, target: "_blank", classes: "flex-self-start") do %>
        <%= render Primer::Beta::Octicon.new(icon: "link-external") %>
        Visit site
      <% end %>

      <%= render(Primer::Alpha::ActionMenu.new) do |menu| %>
        <% menu.with_show_button(icon: "kebab-horizontal", "aria-label": "Additional site options") %>
        <% menu.with_item do %>
          <%=
            button_to(
              "Unpublish site",
              pages_delete_deployment_path(repository: repository, user_id: repository.owner),
              class: "dropdown-item btn-link",
              method: :delete
            )
          %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
