<% if display? %>
  <div <%= test_selector "deployment-workflow-link" %>>
    Your site was last deployed to the <a class="Link--inTextBlock" href="<%= "#{repository_path(repository)}/deployments?environment=github-pages#activity-log" %>">github-pages</a> environment by
    the <span><a class="Link--inTextBlock" href="<%= "#{repository_path(repository)}/actions/runs/#{id}" %>"><%= file_name %></a></span> workflow.
    <% if custom_workflow? %>
      <p><a class="Link--inTextBlock" href="<%= learn_more_url %>">Learn more about deploying to GitHub Pages using custom workflows</a></p>
    <% end %>
  </div>
<% end %>
