<%= form_tag pages_https_redirect_path(repository: @repository, user_id: @repository.owner), method: :put, class: "js-merge-features-form", data: { autosubmit: true } do %>
  <div class="form-checkbox my-0 js-repo-option">
    <input type="hidden" name="pages_https_redirect" value="0">
    <input type="checkbox" name="pages_https_redirect" value="1" id="pages-https-redirect-feature"
      <%= "disabled" unless https_redirect_toggleable? && !@repository.archived? %>
      <%= https_redirect_enabled? ? "checked" : "" %>
    >
    <label for="pages-https-redirect-feature">
      Enforce HTTPS
      <% if custom_domains_enabled? %>
        <% if !lets_encrypt_enabled? %>
          <span class="note d-inline">
            &mdash; Unavailable for your site because you have a custom domain configured
            (<a class="Link--inTextBlock" href="<%= pages_url %>"><code><%= pages_host_name %></code></a>)
          </span>
        <% elsif !https_domain_contains_valid_characters? %>
          <span class="note d-inline">
            &mdash; Unavailable for your site because your domain contains invalid characters
            (<a class="Link--inTextBlock" href="<%= pages_url %>"><code><%= pages_host_name %></code></a>)
            &mdash; <a class="Link--inTextBlock" href="<%= https_dns_help_url %>">Troubleshooting custom domains</a>
          </span>
        <% elsif https_redirect_required? %>
          <span class="note">
            &mdash; Required for your site because you are using the default domain
            (<code><%= pages_host_name %></code>)
          </span>
        <% elsif !https_available? && (certificate_issued? && !certificate_usable?) %>
          <span class="note d-inline">
            &mdash; Not yet available for your site because the certificate has not finished being issued.<br>
            Please allow 24 hours for this process to complete.
            (<a class="Link--inTextBlock" href="<%= pages_url %>"><code><%= pages_host_name %></code></a>)
          </span>
        <% elsif !https_available? && eligible_for_certificate? %>
        <span class="note d-inline">
          &mdash; Unavailable for your site because a certificate has not yet been issued for your domain
          (<a class="Link--inTextBlock" href="<%= pages_url %>"><code><%= pages_host_name %></code></a>)
        </span>
        <% elsif !https_available? && !eligible_for_certificate? %>
          <span class="note d-inline">
            &mdash; Unavailable for your site because your domain is not properly configured to support HTTPS
            (<a class="Link--inTextBlock" href="<%= pages_url %>"><code><%= pages_host_name %></code></a>)
            &mdash; <a class="Link--inTextBlock" href="<%= https_dns_help_url %>">Troubleshooting custom domains</a>
          </span>
        <% end %>
      <% elsif https_redirect_required? %>
        <span class="note">
          &mdash; Required for your site because you are using the default domain
          (<code><%= pages_host_name %></code>)
        </span>
      <% elsif !https_available? && GitHub.enterprise? %>
        <span class="note">
          &mdash; Unavailable because HTTPS support is not enabled
          (<code><%= pages_host_name %></code>)
        </span>
      <% end %>
      <span class="status-indicator js-status-indicator">
        <%= render(Primer::Beta::Octicon.new(icon: "check")) %>
        <%= render(Primer::Beta::Octicon.new(icon: "x")) %>
      </span>
    </label>
    <p class="note">
      HTTPS provides a layer of encryption that prevents others from snooping on or tampering with traffic to your site.<br>
      When HTTPS is enforced, your site will only be served over HTTPS.
      <a class="Link--inTextBlock" <%= test_selector("page-https-display") %> href="<%= help_url %>">Learn more about securing your GitHub Pages site with HTTPS</a>.
    </p>
  </div>
<% end %>
