<%# erblint:counter DeprecatedComponentsCounter 2 %>
<pages-jekyll-config data-initial-source="<%= safe_pages_branch %>" data-initial-subdir="<%= source_dir %>" data-initial-branch="<%= selected_branch_text %>">
  <%= form_tag pages_source_path(repository: @repository, user_id: @repository.owner), method: :put, data: { target: "pages-jekyll-config.form" } do %>
    <%= hidden_field_tag :show_tip, show_tip %>
    <strong>Branch</strong>
    <p>
      <% if !has_gh_pages? %>
        GitHub Pages is currently disabled.
        <% if @repository.heads.count > 0 %>
          Select a source below to enable GitHub Pages for this repository.
        <% else %>
          You must first add content to your repository before you can publish a GitHub Pages site.
        <% end %>
      <% else %>
        <% if page.present? %>
          Your GitHub Pages site is currently being built from
          <% if subdir_source? %>
            the <code>/docs</code> folder in
          <% end %>
          the <code><%= safe_pages_branch %></code> branch.
        <% else %>
          Make a commit to
            <% if subdir_source? %>
              the <code>/docs</code> folder in
            <% end %>
          the <code><%= safe_pages_branch %></code> branch to publish your GitHub Pages site.
        <% end %>
      <% end %>
      <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/configuring-a-publishing-source-for-github-pages/">Learn more about configuring the publishing source for your site</a>.
    </p>
    <% if !@repository.plan_supports_pages? %>
      <p class="note">Your plan does not support GitHub Pages.</p>
    <% else %>
      <%# New source menu (independent branch and folder) %>
      <div class="d-flex flex-items-center gap-2 mb-4">
        <span>
          <%= render Primer::Alpha::SelectPanel.new(
            title: "Select branch",
            dynamic_label: true,
            fetch_strategy: :local,
            id: "pages_select_branch",
            data: {
              target: "pages-jekyll-config.branchSelector",
              action: "itemActivated:pages-jekyll-config#selectBranch"
            }
          ) do |c| %>
            <% c.with_show_button(font_weight: :bold) do |button| %>
              <% button.with_leading_visual_icon(icon: :"git-branch", color: :muted) %>
              <span class="css-truncate-target"><%= selected_branch_text %></span>
              <% button.with_trailing_action_icon(icon: :"triangle-down") %>
            <% end %>

            <% pages_branch_names.each do |branch| %>
              <% c.with_item(name: "source", value: branch[:value], replace_text: branch[:heading], active: branch[:selected], label: branch[:heading], data: { name: branch[:value] ? branch[:value] : '' }) %>
            <% end %>
          <% end %>
        </span>
        <span class="js-jekyll-source-dir ml-1">
          <%= render Primer::Alpha::SelectPanel.new(
            title: "Select folder",
            dynamic_label: true,
            fetch_strategy: :local,
            id: "pages_select_dir",
            data: {
              target: "pages-jekyll-config.folderSelector",
              action: "itemActivated:pages-jekyll-config#selectFolder"
            }
          ) do |c| %>
            <% c.with_show_button(font_weight: :bold) do |button| %>
              <% button.with_leading_visual_icon(icon: :"file-directory-fill", color: :muted) %>
              <span class="css-truncate-target" data-menu-button><%= dir_button_text %></span>
              <% button.with_trailing_action_icon(icon: :"triangle-down") %>
            <% end %>

            <% select_dir.each do |dir| %>
              <% c.with_item(name: "source_dir", value: dir[:value], replace_text: dir[:heading], active: dir[:selected], label: dir[:heading], data: { name: dir[:value] ? dir[:value] : '' }) %>
            <% end %>
          <% end %>
        </span>
        <% button_starts_enabled = !archived? && (!has_gh_pages? || page&.build_type != "legacy") %>
        <%= render(Primer::ButtonComponent.new(
          ml: 1,
          hidden: archived?,
          disabled: !button_starts_enabled,
          data: {
            target: "pages-jekyll-config.submitButton",
            action: "click:pages-jekyll-config#submitForm",
          },
          "data-always-enabled" => button_starts_enabled,
        )) { "Save" } %>
      </div>

      <p class='mt-2'>
        <% if !page.nil? %>Learn how to <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/pages/setting-up-a-github-pages-site-with-jekyll/adding-a-theme-to-your-github-pages-site-using-jekyll">add a Jekyll theme</a> to your site.<% end %>
      </p>
    <% end %>

    <% if is_user_pages_repo? || !is_user_pages_repo? && has_gh_pages_branch? %>
      <p>
        <%= render Primer::Beta::Flash.new(scheme: :warning, classes: "js-disable-page-warning", hidden: true, test_selector: "cannot-disable-page-flash-banner") do %>
          <%= render Primer::Beta::Octicon.new(icon: "alert", color: :danger) %>
          <% if is_user_pages_repo? %>
            You can't disable GitHub Pages for this repository.
          <% else %>
            You can't disable GitHub Pages while having a <code>gh-pages</code> branch in this repository.
          <% end %> Read more on how to  <a class="Link--inTextBlock" href="<%= unpublish_documentation_url %>">unpublish your GitHub Pages site</a>.
        <% end %>
      </p>
    <% end %>

    <% if @repository.unsupported_pages? %>
      <include-fragment src="<%= gh_pages_status_path(@repository) %>"></include-fragment>
    <% end %>
  <% end %>
</pages-jekyll-config>
