<% if page  && is_feature_flag_enabled?  && !GitHub.enterprise?%>
  <% if use_only_self_hosted_runners? %>
    <%= render(Primer::Alpha::Banner.new(scheme: :danger, mb: 4, mt: 2, test_selector: "pages-on-self-hosted-runners-message")) do %>
      Your Enterprise is configured to use self-hosted runners exclusively. Please contact support to build pages on self-hosted runners.
    <% end %>
  <% elsif is_legacy_build? %>
    <% if is_past_june_2024?%>
      <%= render(Primer::Alpha::Banner.new(scheme: :danger, mb: 4, mt: 2, test_selector: "pages-for-legacy-build-message-past-deadline")) do %>
        Actions is currently unavailable for your repository, and your Pages site requires a Jekyll build step. To continue building your site on pushes, you need to enable Actions. <a href="<%= learn_more_link %>"> Learn how to enable GitHub Actions.</a>
      <% end %>
    <% else %>
      <%= render(Primer::Alpha::Banner.new(scheme: :warning, mb: 4, mt: 2, test_selector: "pages-for-legacy-build-message")) do %>
        After June 30, 2024, Pages sites will require GitHub Actions for the Jekyll build step. To prevent any disruption, GitHub Actions needs to be enabled in the Repository settings. <a href="<%= learn_more_link %>"> Learn how to enable GitHub Actions.</a>.
      <% end %>
    <% end %>
  <% end %>
<% end%>
