<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter ButtonComponentMigrationCounter 3 %>

<div class="container-lg py-2">
  <%= form_tag pages_source_path(repository: @repository, user_id: @repository.owner), :method => :put do %>
    <%= hidden_field_tag :show_tip, show_tip %>
    <strong>Source</strong>
    <p>
      <% if !has_gh_pages? %>
        GitHub Pages is currently disabled.
        <% if @repository.heads.count > 0 %>
          Select a source below to enable GitHub Pages for this repository.
        <% else %>
          You must first add content to your repository before you can publish a GitHub Pages site.
        <% end %>
      <% else %>
        <% if page.present? %>
          Your GitHub Pages site is currently being built from
          <% if subdir_source? %>
            the <code>/docs</code> folder in
          <% end %>
          the <code><%= safe_pages_branch %></code> branch.
        <% else %>
          Make a commit to
            <% if subdir_source? %>
              the <code>/docs</code> folder in
            <% end %>
          the <code><%= safe_pages_branch %></code> branch to publish your GitHub Pages site.
        <% end %>
      <% end %>
      <a class="Link--inTextBlock" href="<%= GitHub.help_url %>/articles/configuring-a-publishing-source-for-github-pages/">Learn more about configuring the publishing source for your site</a>.
    </p>
    <% if !@repository.plan_supports_pages? %>
      <p class="note">Your plan does not support GitHub Pages.</p>
    <% else %>
      <%# New source menu (independent branch and folder) %>
      <div>
        <span class="js-select-branch">
          <%= render(GitHub::MenuComponent.new(
            title: "Select branch",
            filterable: true,
            items: pages_branch_names.map { |item|
              GitHub::Menu::RadioComponent.new(
                name: "source",
                value: item[:value],
                text: item[:heading],
                checked: item[:selected],
                replace_text: item[:heading]
              )
            }
          )) do |menu| %>
            <% menu.with_summary do %>
              <summary class="btn select-menu-button d-block d-md-inline-block mb-md-0 mb-2" aria-haspopup="menu" <% if archived? %>hidden<% end %>>
                <span class="js-branch-icon color-fg-muted" <% if page.nil? %>hidden<% end %>><%= render Primer::Beta::Octicon.new(icon: "git-branch") %>Branch:</span>
                <span class="css-truncate-target" data-menu-button><%= selected_branch_text %></span>
              </summary>
            <% end %>
          <% end %>
        </span>
        <span class="js-select-source-dir ml-md-1 ml-0" <% if page.nil? %>hidden<% end %>>
          <%= render(GitHub::MenuComponent.new(
            title: "Select folder",
            items: select_dir.map { |item|
              GitHub::Menu::RadioComponent.new(
                name: "source_dir",
                value: item[:value],
                text: item[:heading],
                checked: item[:selected],
                replace_text: item[:heading]
              )
            }
          )) do |menu| %>
            <% menu.with_summary do %>
              <summary class="btn select-menu-button" aria-haspopup="menu" <% if archived? %>hidden<% end %>>
                <%= render Primer::Beta::Octicon.new(icon: "file-directory-fill") %>
                <span class="css-truncate-target" data-menu-button><%= dir_button_text %></span>
              </summary>
            <% end %>
          <% end %>
        </span>
        <button class="btn ml-2 js-update-page-source-btn" type="submit" disabled <% if archived? %>hidden<% end %>>Save</button>
      </div>
    <% end %>
    <% end %>
    <% if is_user_pages_repo? || !is_user_pages_repo? && has_gh_pages_branch? %>
      <p>
        <%= render Primer::Beta::Flash.new(scheme: :warning, classes: "js-disable-page-warning", hidden: true, test_selector: "cannot-disable-page-flash-banner") do %>
          <%= render Primer::Beta::Octicon.new(icon: "alert", color: :danger) %>
          <% if is_user_pages_repo? %>
            You can't disable GitHub Pages for this repository.
          <% else %>
            You can't disable GitHub Pages while having a <code>gh-pages</code> branch in this repository.
          <% end %> Read more on how to  <a class="Link--inTextBlock" href="<%= unpublish_documentation_url %>">unpublish your GitHub Pages site</a>.
        <% end %>
      </p>
    <% end %>


    <% if @repository.unsupported_pages? %>
      <include-fragment src="<%= gh_pages_status_path(@repository) %>"></include-fragment>
    <% end %>
</div>
