<%# erblint:counter DeprecatedComponentsCounter 2 %>
<% if @current_selected %>
  <button type="button" class="SelectMenu-item  width-full color-fg-default" <%= "aria-disabled=true" if disable_items? %>>
  <div class="ml-3">
    <%= primer_octicon(:check, classes: "select-menu-item-icon") %>
    <strong><%= name %></strong>
    <div class="select-menu-item-text">
      <div class="note"><%= description %></div>
      <% if disable_items? %>
      <span class="color-fg-attention" <%= test_selector("#{name.downcase}-current-selected-pages-menu-disabled") %>>Disabled by organization policy</span>
      <% end %>
    </div>
  </div>
  </button>
<% else %>
  <% dialog_id = "page-visibility-#{page.public? ? "private" : "public"}-confirmation" %>
  <details class="SelectMenu-item details-reset details-overlay details-overlay-dark" <%= "aria-disabled=true" if disable_items? %>>
    <summary class="color-fg-default" data-show-dialog-id="<%= dialog_id %>">
      <div class="ml-3"></div>
      <div class="ml-3">
        <div class="text-bold"><%= name %></div>
        <div class="note"><%= description %></div>
        <% if disable_items? %>
        <span class="color-fg-attention" <%= test_selector("#{name.downcase}-pages-menu-disabled") %>>
          Disabled by organization policy
        </span>
        <% end %>
      </div>
    </summary>
    <%= render(Primer::Alpha::Dialog.new(title: "Page Visibility", id: dialog_id, size: :medium_portrait, style: "position: fixed; z-index: 999;")) do |d| %>
      <% d.with_body(p: 0) do %>
        <%= render Primer::Beta::Flash.new(scheme: :warning, full: true) do %>
          <% if !page.public? %>
            The subdomain will be reset when switched to public visibility
          <% else %>
            Your page would be published at <strong> <%= url_if_page_were_private %> </strong>
          <% end %>
        <% end %>
        <div class="Box-body overflow-auto">
          <ul class="ml-3">
            <% if !page.public? %>
              <li>Public page will be published on a path at /<%= @repository.name %></li>
              <li>Please update the site to use the public path</li>
            <% else %>
              <li>Private pages are hosted on a dedicated subdomain.</li>
              <li>If you'd like to personalize the domain name, check out our documentation on <a class="Link--inTextBlock" href="<%= GitHub.pages_custom_domain_help_url %>">Customizing Your Domain</a>.</li>
              <li>If needed, please make sure to configure your site using the new subdomain.</li>
            <% end %>
          </ul>
        </div>
        <div class="Box-body mb-0 rounded-3">
          <p>Please type <strong><%= @repository.name_with_display_owner %></strong> to confirm.</p>
          <%= form_for 'pages_visibility_path',
            url: pages_visibility_path(repository: @repository, user_id: @repository.owner, return_to: params[:return_to]),
            html: { method: :put } do %>
          <p>
              <input hidden name="public" value="<%= !page.public %>" >
              <input type="text" class="form-control input-block" autofocus required
                  pattern="<%= case_insensitive_pattern @repository.name_with_display_owner %>"
                  aria-label="Type in the name of the repository to confirm that you want to create the subdomain."
                  name="verify">
          </p>
          <%= render Primer::ButtonComponent.new(type: :submit, block: true, scheme: :danger, "data-disable-invalid": "") do %>
              I understand, make this Page <%= !page.public? ? "public" : "private" %>
          <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </details>
<% end %>
