<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%= render(Primer::Beta::Flash.new(scheme: :warning, mb: 4, icon: :alert)) do %>
    <strong>Caution:</strong>
    <% if GitHub.enterprise? %>
      This repository is <%= @repository.internal? ? "internal" : "private" %>. The published site will be <%= GitHub.private_mode_enabled? ? "visible to all authenticated users" : "public" %>.
    <% else %>
      This repository is private but the published site will be public.
    <% end %>
<% end unless @repository.can_have_private_pages? || page.soft_deleted? %>


<% if @repository.can_have_private_pages? || page.soft_deleted? %>
    <% if pages_build_types? %>
      <%= render(Primer::Beta::Heading.new(tag: :h3, font_weight: :normal, mt: 6, mb: 3)) { "GitHub Pages visibility" } %>
    <% else %>
      <p class="mb-0" <%= test_selector("show-pages-visibility") %>>
        <strong>GitHub Pages visibility</strong>
      </p>
    <% end %>
    <p>Control who can view and access your site.</p>
    <div class="mt-2 <%= pb %>">
      <%# visibility selection dropdown %>
      <% if !archived? %>
        <details class="details-reset details-overlay d-inline-block" aria-haspopup="true">
          <%= render Primer::ButtonComponent.new(tag: :summary, "aria-haspopup": "menu") do %>
            <span><%= (page.private?? "Private" : "Public") %></span>
            <span class="dropdown-caret"></span>
          <% end %>
          <div class="SelectMenu">
            <div class="SelectMenu-modal">
              <div class="SelectMenu-list">
                <div class="select-menu-header">
                  <span class="select-menu-title">Select visibility</span>
                </div>
                <%= render(Pages::VisibilitySelectItemComponent.new(
                  render_button: :public,
                  current_selected: page.public,
                  repository: @repository)
                ) %>
                <%= render(Pages::VisibilitySelectItemComponent.new(
                  render_button: :private,
                  current_selected: !page.public,
                  repository: @repository)
                ) %>
              </div>
            </div>
          </div>
        </details>
      <% else %>
        <%= render Primer::ButtonComponent.new(type: :button, disabled: true) do %>
          <span><%= (page.private?? "Private" : "Public") %></span>
          <span class="dropdown-caret"></span>
        <% end %>
      <% end %>


      <%# visibility selection explanation note beside dropdown %>
      <span class="note m-2 ml-1">
        <% if GitHub.flipper[:private_pages_org_toggle].enabled?(@repository.organization) &&
          (
            (@repository.org_members_can_only_create_public_pages? && page.public) ||
            (@repository.org_members_can_only_create_private_pages? && !page.public) ||
            (!@repository.org_members_can_create_public_pages? && !@repository.org_members_can_create_private_pages?)
          )
        %>
          <%# explain restriction when visibility options are restricted %>
          <%= render Primer::Beta::Octicon.new(icon: "shield-lock") %>
          Modifying access controls for Pages has been disabled by organization policy.
        <% else %>
          <%# explain visibilities when both options are available %>
          <% if !page.public %>
            Only people with access to this repository can see this page.
          <% else %>
            Anyone on the internet can see this page.
          <% end %>
        <% end %>
      </span>
    </div>

    <% if @repository.is_user_pages_repo? %>
      <div class="mt-2">
        Private Pages aren't available for Organization-level repos. For more information, please see our <a class="Link--inTextBlock" href="<%= GitHub.pages_visibility_help_url %>">help docs</a>.
      </div>
    <% end %>
<% end %>
