<%= render(Primer::Box.new(border: true, border_color: :muted, border_radius: 2, p: 3, flex: 1, mt: 3, mr: 3, display: :flex, direction: :column, style: "min-width: 12em;")) do %>
  <%= render(Primer::Box.new(display: :flex, justify_content: :space_between)) do %>
    <p>
      <strong><%= name %></strong><br>
      <span class="text-small color-fg-subtle">By <%= author || "GitHub Actions" %></span>
    </p>
    <% if icon %>
      <div class="CircleBadge" style="background-color: var(--bgColor-white, var(--color-scale-white)); width: 40px; height: 40px;">
        <img class="CircleBadge-icon" src="<%= icon %>" alt="<%= name %> logo">
      </div>
    <% end %>
  <% end %>
  <p class="color-fg-subtle mb-4 wb-break-word pr-3 flex-1" style="min-height:3.5em;"><%= description %></p>
  <%= form_tag new_file_path(repository.owner, repository, repository.default_branch), method: :get do %>
    <%= hidden_field_tag :filename, ".github/workflows/#{id.split('/').last}.yml" %>
    <%= hidden_field_tag :pages_workflow_template, id %>
    <%= render Primer::Beta::Button.new(type: :submit, px: 3, "aria-label": "Configure #{name}") do %>
      Configure
    <% end %>
  <% end %>
<% end %>
