
<% if GitHub.enterprise? %>
  <div>
    <span class="text-bold"><%= reserved_login %></span>
  </div>
<% else %>
  <div>
    <span class="text-bold"><%= reserved_login.login %></span>
    <% if reserved_login.tombstoned? %>
      <span class="text-small mr-2">tombstone <%= expiry_date_in_words reserved_login.expires_at %></span>
    <% elsif stafftools_action_authorized?(controller: Stafftools::SearchController, action: :audit_log) %>
      <span class="text-small mr-2"><%= link_to "#{time_ago_in_words reserved_login.created_at} ago",
        stafftools_audit_log_path(query: driftwood_ade_query?(current_user) ?
        "webevents | where action startswith 'reserved_login.' and data.login == '#{reserved_login.login}'" :
        "action:reserved_login.* data.login:#{reserved_login.login}") %> </span>
    <% else %>
      <span class="text-small mr-2"><%= "#{time_ago_in_words reserved_login.created_at} ago" %></span>
    <% end %>
  </div>
  <% if stafftools_action_authorized?(controller: Stafftools::ReservedLoginsController, action: :destroy) %>
    <%= form_tag stafftools_reserved_login_path(login: reserved_login.login), class: "inline-form", method: :delete do %>
      <% if reserved_login.hardcoded? %>
        <%= button_tag "Unreserve", class: "btn btn-sm tooltipped tooltipped-w", disabled: true, :"aria-label" => "Reserved in config/initializers/denylist.rb and cannot be unreserved." %><%# erblint:disable Primer::Accessibility::TooltippedMigration %>
      <% elsif reserved_login.staff_reserved? %>
        <%= submit_tag "Unreserve", class: "btn btn-sm" %>
      <% elsif reserved_login.tombstoned? %>
        <%= submit_tag "Delete tombstone", class: "btn btn-sm", :"title" => "Login tombstoned #{time_ago_in_words reserved_login.created_at} ago" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
