<% page_info title: "Reserved Logins", selected_link: :reserved_logins %>

<%= render layout: "stafftools/stafftools" do %>
  <% unless GitHub.enterprise? %>
    <% if stafftools_action_authorized?(controller: Stafftools::ReservedLoginsController, action: :create) %>
      <div class="mb-5">
        <%= render Primer::Beta::Subhead.new do |component| %>
          <% component.with_heading(tag: :h2) do %>Reserve a login<% end %>
        <% end %>
        <%= form_for "reserve_login", url: stafftools_reserved_logins_path, method: :post do |f| %>
          <div class="d-flex">
            <div class="col-3 form-group my-0 mr-2">
              <%= label_tag "login", "Login to reserve", for: "login_to_reserve", class: "d-block mb-1" %>
              <%= text_field_tag "login", nil, placeholder: "Login", required: true, id: "login_to_reserve" %>
            </div>
            <div class="col-5 form-group my-0 mr-2">
              <%= label_tag "reason", "Why are you reserving the login?", class: "d-block mb-1" %>
              <%= text_field_tag "reason", nil, placeholder: "Reason for reserving" %>
            </div>
            <div class="col-4 d-flex flex-items-end">
              <%= f.submit "Reserve", class: "btn btn-danger" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Reserved logins<% end %>
    <% end %>
    <%= form_tag stafftools_reserved_logins_search_path, method: :get do %>
      <%= text_field_tag "login", nil, class: "form-control input-contrast", required: true, placeholder: "Search a login", :"aria-label" => "login" %>
      <%= submit_tag "Search", class: "btn" %>
    <% end %>

    <div class="Box mt-3">
      <% if reserved_logins.empty? %>
        <div class="Box-row text-center">No reserved logins</div>
      <% else %>
        <ul>
          <% reserved_logins.each do |reserved_login| %>
            <li class="Box-row d-flex flex-items-center flex-justify-between">
              <%= render partial: "stafftools/reserved_logins/reserved_login", locals: { reserved_login: reserved_login } %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <% if reserved_logins.any? && reserved_logins.total_pages > 1 %>
      <div class="paginate-container">
        <%= will_paginate reserved_logins %>
      </div>
    <% end %>

    <%= render Primer::Beta::Subhead.new(spacious: true) do |component| %>
      <% component.with_heading(tag: :h2) do %>Hardcoded Logins<% end %>
    <% end %>

    <div class="Box mt-3">
      <div class="Box-row text-center">Additional logins may also be reserved in <a class="Link--inTextBlock" target="_blank" href="https://github.com/github/github/blob/master/config/initializers/denylist.rb"><code>config/initializers/denylist.rb</code></a></div>
    </div>
  <% end %>

  <% if GitHub.enterprise? %>
    <%= render Primer::Beta::Subhead.new do |component| %>
      <% component.with_heading(tag: :h2) do %>Reserved logins<% end %>
    <% end %>

    <div class="text-center">The following logins are reserved by GitHub for internal use:</div>

    <div class="Box mt-3">
      <ul>
        <% if GitHub::DeniedLogins.empty? %>
          <div class="Box-row text-center">No reserved logins</div>
        <% else %>
          <% GitHub::DeniedLogins.each do |reserved_login| %>
            <li class="Box-row d-flex flex-items-center flex-justify-between">
              <%= render partial: "stafftools/reserved_logins/reserved_login", locals: { reserved_login: reserved_login } %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
