<%# erblint:counter ButtonComponentMigrationCounter 1 %>
<%= render(Mail::ContainerComponent.new(classes: "mb-4")) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <h4 class="text-left"><%= @type %></h4>
    <a href="<%= @alert_url %>" target="_blank" rel="noopener noreferrer" class="btn-link">
      <span>Review <%= @internal_type.start_with?("cp_") ? "custom pattern" : "secret" %> detected in <%= @alert_location_text%></span>
    </a>
  <% end %>
<% end %>
