<%= render(Mail::ContainerComponent.new) do %>
  <div class="mt-4" style="border: 1px solid #E1E4E8;"></div>
  <div class="f4 text-left pt-4" style="font-weight: 500;" <%= test_selector("next-steps-for-pat-heading") %>>Next steps</div>
  <%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      <div class="mt-4 d-flex" <%= test_selector("remediation-step-header") %>>
        <div style="flex-shrink: 0; width: 24px; height: 24px; line-height: 24px; border-radius: 50%; font-size: 14px; color: #fff; text-align: center; background: #0969DA">1</div>
        <div class="pl-2 f5 text-left" style="font-weight: 500;" <%= test_selector("remediation-step-message") %>>Ensure that your account security has not been compromised</div>
      </div>
      <%= render(Mail::ContainerComponent.new) do %>
        <%= render(SecretScanning::Mailers::RemediationSubStepComponent.new(
          link_url: "#{GitHub.help_url}/authentication/keeping-your-account-and-data-secure/preventing-unauthorized-access",
          link_text: "Review actions you can take to prevent unauthorized access",
          follow_up_text: nil,
        ))%>
        <%= render(SecretScanning::Mailers::RemediationSubStepComponent.new(
          link_url: "#{GitHub.help_url}/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log",
          link_text: "Review your security log",
          follow_up_text: "to ensure that no malicious activity has occurred."
        ))%>
      <% end %>
    <% end %>
  <% end %>
  <%= render(SecretScanning::Mailers::RemediationStepComponent.new(
    number: 2,
    message: @cta_message,
    review_link_text: nil,
    review_url: nil
  ))%>
  <%= render(Mail::ButtonComponent.new(
    text: @cta_button_text,
    url: @cta_button_url,
    classes: "btn-primary btn-large mt-4",
  )) %>
<% end %>
