<%= render(Mail::ContainerComponent.new) do %>
  <div class="mt-4" style="border: 1px solid #E1E4E8;"></div>
  <div class="f4 text-left pt-4" style="font-weight: 500;" <%= test_selector("next-steps-for-github-app-users-heading") %>>Next steps</div>
  <%= render(SecretScanning::Mailers::RemediationStepComponent.new(
    number: 1,
    message: "Ensure that your account security has not been compromised",
    review_link_text: "any unauthorized applications",
    review_url: @remediation_review_url
  ))%>
  <%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      <div class="mt-4 d-flex" <%= test_selector("learn-remediation-step-for-github-app-users") %>>
        <div style="flex-shrink: 0; width: 24px; height: 24px; line-height: 24px; border-radius: 50%; font-size: 14px; color: #fff; text-align: center; background: #0969DA"><%= 2.to_s %></div>
        <div class="pl-2 f5 text-left" style="font-weight: normal;">
          <%= render(Primer::Beta::Link.new(test_selector: "learn-remediation-sub-step-link", href: @docs_url)) { @docs_url_text } %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      <div class="mt-4 d-flex" <%= test_selector("remediation-step-header") %>>
        <div style="flex-shrink: 0; width: 24px; height: 24px; line-height: 24px; border-radius: 50%; font-size: 14px; color: #fff; text-align: center; background: #0969DA"><%= 3.to_s %></div>
        <div class="pl-2 f5 text-left" style="font-weight: normal;" <%= test_selector("remediation-step-message") %>>Check whether <b><%= @app_name %></b> is still authorized</div>
      </div>
    <% end %>
  <% end %>
  <%= render(Mail::ButtonComponent.new(
    text: @view_authorized_apps_text,
    url: @view_authorized_apps_url,
    classes: "btn-primary btn-large mt-4",
  )) %>
<% end %>
