<%= render(Mail::ContainerComponent.new) do %>
  <div class="mt-4" style="border: 1px solid #E1E4E8;"></div>
  <div class="f4 text-left pt-4" style="font-weight: 500;" <%= test_selector("next-steps-heading") %>>Next steps</div>
  <%= render(SecretScanning::Mailers::RemediationStepComponent.new(
    number: 1,
    message: "Ensure that your account security has not been compromised",
    review_link_text: @review_link_text,
    review_url: @review_url
  ))%>
  <%= render(SecretScanning::Mailers::RemediationStepComponent.new(
    number: 2,
    message: @cta_message,
    review_link_text: nil,
    review_url: nil
  ))%>
  <%= render(Mail::ButtonComponent.new(
    text: @cta_button_text,
    url: @cta_button_url,
    classes: "btn-primary btn-large mt-4",
  )) %>
<% end %>
