<%= render(Mail::ContainerComponent.new) do %>
  <div class="mt-4" style="border: 1px solid #E1E4E8;"></div>
  <div class="f4 text-left pt-4" style="font-weight: 500;" <%= test_selector("next-steps-for-apps-heading") %>>Next steps</div>
  <%= render(SecretScanning::Mailers::RemediationStepComponent.new(
    number: 1,
    message: "Ensure that your account security has not been compromised",
    review_link_text: @review_link_text,
    review_url: @review_url
  ))%>
  <%= render(Mail::RowComponent.new) do %>
    <%= render(Mail::ColumnComponent.new) do %>
      <div class="mt-4 d-flex" <%= test_selector("learn-remediation-step-for-apps") %>>
        <div style="flex-shrink: 0; width: 24px; height: 24px; line-height: 24px; border-radius: 50%; font-size: 14px; color: #fff; text-align: center; background: #0969DA"><%= 2.to_s %></div>
        <div class="pl-2 f5 text-left" style="font-weight: 500;">
          <%= render(Primer::Beta::Link.new(test_selector: "learn-remediation-sub-step-link", href: @apps_docs_url)) { @apps_docs_link_text } %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
