<%= render(Mail::RowComponent.new) do %>
  <%= render(Mail::ColumnComponent.new) do %>
    <div class="mt-4 d-flex" <%= test_selector("remediation-step-header") %>>
      <div class="flex-shrink-0" style="width: 24px; height: 24px; line-height: 24px; border-radius: 50%; font-size: 14px; color: #fff; text-align: center; background: #0969DA"><%= @number.to_s %></div>
      <div class="pl-2 f5 text-left" style="font-weight: 500;" <%= test_selector("remediation-step-message") %>><%= @message %></div>
    </div>
    <% if contains_substeps? %>
      <%= render(Mail::ContainerComponent.new) do %>
        <%= render(SecretScanning::Mailers::RemediationSubStepComponent.new(
          link_url: @review_url,
          link_text: "Review #{@review_link_text}",
          follow_up_text: "and remove any you don’t recognize."
        ))%>
        <%= render(SecretScanning::Mailers::RemediationSubStepComponent.new(
          link_url: "https://docs.github.com/authentication/keeping-your-account-and-data-secure/reviewing-your-security-log",
          link_text: "Review your security log",
          follow_up_text: "to ensure that no malicious activity has occurred."
        ))%>
      <% end %>
    <% end %>
  <% end %>
<% end %>
