<%# erblint:counter DeprecatedInPrimerCounter 3 %>
<%
  linked_pr = event.subject.is_a?(PlatformTypes::PullRequest)
  connected_event = event.is_a?(PlatformTypes::ConnectedEvent)
%>

<div>
  <% if !rollup %>
    <%= render "issues/events/actor", actor: event.actor %>
    <% if connected_event %>
      <% if linked_pr %>
        linked a pull request
        <a class="Link--secondary Link--inTextBlock" href="#event-<%= event.database_id %>"><%= time_ago_in_words_js event.created_at %></a>
        that will
        <span
          class="issue-keyword tooltipped tooltipped-se"
          aria-label="This issue will close when #<%= event.subject.number %> is merged">close</span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
        this issue
      <% else %>
        linked an issue
        <a class="Link--secondary Link--inTextBlock" href="#event-<%= event.database_id %>"><%= time_ago_in_words_js event.created_at %></a>
        that may be
        <span
          class="issue-keyword tooltipped tooltipped-se"
          aria-label="#<%= event.subject.number %> will be closed when this pull request is merged">closed</span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
        by this pull request
      <% end %>
    <% else %>
      removed a link to <%= linked_pr ? "a pull request" : "an issue" %>
      <a class="Link--secondary Link--inTextBlock" href="#event-<%= event.database_id %>"><%= time_ago_in_words_js event.created_at %></a>
    <% end %>
  <% elsif first %>
    This was
    <%= connected_event ? "linked to" : "unlinked from" %>
    <%= linked_pr ? "pull requests" : "issues" %>
    <%= time_ago_in_words_js event.created_at %>
  <% end %>
</div>

<div class="<% if rollup %>my-2<% else %>mt-2<% end %> d-flex flex-items-start">
  <div class="flex-auto wb-break-word">
    <%= content_tag(:a, href: event.subject.resource_path, class: "Link--primary f4 text-bold markdown-title", data: hovercard_data_attributes_for_issue_or_pr(event.subject)) do %>
      <%= title_markdown(event.subject.title) %>
      <span class="color-fg-muted text-normal"><%= event.subject.repository.name_with_display_owner if event.is_cross_repository? %>#<%= event.subject.number %></span>
    <% end %>
  </div>

  <% if event.is_cross_repository? && event.subject.repository.is_private? %>
    <span class="ml-3 tooltipped tooltipped-multiline tooltipped-n" aria-label="<%= explain_viewable_reference event.subject.repository.name_with_display_owner %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
      <%= primer_octicon(:lock) %>
    </span>
  <% end %>

  <div class="flex-shrink-0 ml-3">
    <% if event.subject.is_a?(PlatformTypes::PullRequest) %>
      <%= render(PullRequests::StateComponent.new(is_draft: event.subject.is_draft?, state: event.subject.state.downcase.to_sym, size: :small)) %>
    <% else %>
      <%= render Closables::StateComponent.new(closable: event.subject, size: :small) %>
    <% end %>
  </div>
</div>

<%= render "issues/events/task_list", issue_or_pull_request: event.subject unless rollup %>
