<%# erblint:counter DeprecatedInPrimerCounter 2 %>
<%
  source_repo = event.source.repository
  target_noun = event.target.__typename.titleize.downcase
  source_noun = event.source.__typename.titleize.downcase
  target_issue = defined?(current_issue) ? current_issue : nil
%>
<div <%= test_selector("cross_reference_header") %>>
<% if !rollup %>
  <%= render "issues/events/actor", actor: event.actor %>
  <% if event.source.is_a?(PlatformTypes::PullRequest) && event.source.state == "OPEN" && target_issue && target_issue.may_be_closed_by?(event.source.database_id) %>
    linked a <%= source_noun %>
    <a class="Link--inTextBlock Link--secondary" href="#<%= event.resource_path.fragment %>" <%= test_selector("cross_reference_anchor") %>>
      <%= time_ago_in_words_js event.referenced_at %>
    </a>

    that will
    <span
      class="issue-keyword tooltipped tooltipped-se"
      aria-label="This <%= target_noun %> will close when <%= event.source.number %> is merged">close</span><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
    this <%= target_noun %>
  <% else %>
    mentioned this <%= target_noun %>
    <a class="Link--secondary" href="#<%= event.resource_path.fragment %>" <%= test_selector("cross_reference_anchor") %>>
      <%= time_ago_in_words_js event.referenced_at %>
    </a>
  <% end %>
<% elsif first %>
  This was referenced <%= time_ago_in_words_js event.referenced_at %>
<% end %>
</div>

<div class="<% if rollup %>my-2<% else %>mt-2<% end %> d-flex flex-items-start <% if responsive? %>flex-column flex-md-row<% end %>">
  <div class="flex-auto wb-break-word" id="<%= event.resource_path.fragment %>" <%= test_selector("cross_reference_title") %>>
    <%= content_tag(:a, href: event.source.resource_path, class: "Link--primary f4 text-bold markdown-title", data: hovercard_data_attributes_for_issue_or_pr(event.source)) do %>
      <%= title_markdown(event.source.title) %>
      <span class="color-fg-muted text-normal" <%= test_selector("issue_num") %>><%= source_repo.name_with_display_owner if event.is_cross_repository? %>#<%= event.source.number %></span>
    <% end %>
  </div>

  <% if event.is_cross_repository? && source_repo.is_private? %>
    <span class="ml-3 tooltipped tooltipped-multiline tooltipped-n" aria-label="<%= explain_viewable_reference source_repo.name_with_display_owner %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
      <%= primer_octicon(:lock) %>
    </span>
  <% end %>

  <div class="flex-shrink-0 <% if responsive? %>my-1 my-md-0 ml-md-3<% else %>ml-3<% end %>">
    <% if event.source.is_a?(PlatformTypes::PullRequest) %>
      <%= render(PullRequests::StateComponent.new(is_draft: event.source.is_draft?, state: event.source.state.downcase.to_sym, size: :small)) %>
    <% else %>
      <%
        state_for_component = if event.source.state == "CLOSED" && event.source.state_reason
          "#{event.source.state}_#{event.source.state_reason}"
        else
          event.source.state
        end.downcase.to_sym
      %>
      <%= render Closables::StateComponent.new(closable: event.source, size: :small) %>
    <% end %>
  </div>
</div>

<%= render "issues/events/task_list", issue_or_pull_request: event.source unless rollup %>
