<%graphql
  fragment on ProjectEvent {
    project {
      name
      resourcePath
    }
    wasAutomated

    ... on AddedToProjectEvent {
      projectColumnName
      projectCard { resourcePath }
    }

    ... on RemovedFromProjectEvent {
      projectColumnName
    }

    ... on MovedColumnsInProjectEvent {
      projectColumnName
      previousProjectColumnName
      projectCard { resourcePath }
    }

    ... on ConvertedNoteToIssueEvent {
      projectColumnName
      projectCard { resourcePath }
    }
  }
%><%# erblint:disable NoGraphqlFragments %>
<%-
  event = Views::Issues::Events::ProjectEvents.new(event) unless event.is_a?(Issue::Adapter::ProjectEventAdapter)
  project_path = if event.respond_to?(:project_card) && event.project_card
                   event.project_card.resource_path
                 else
                   event.project.resource_path
                 end
-%>
<%- case event %>
<%- when PlatformTypes::AddedToProjectEvent, Issue::Adapter::AddedToProjectEventAdapter %>
  added this to <strong><%= event.project_column_name %></strong>
<%- when PlatformTypes::RemovedFromProjectEvent, Issue::Adapter::RemovedFromProjectEventAdapter %>
  removed this from <strong><%= event.project_column_name %></strong>
<%- when PlatformTypes::MovedColumnsInProjectEvent, Issue::Adapter::MovedColumnsInProjectEventAdapter %>
  moved this from <strong><%= event.previous_project_column_name %></strong>
  to <strong><%= event.project_column_name %></strong>
<%- when PlatformTypes::ConvertedNoteToIssueEvent, Issue::Adapter::ConvertedNoteToIssueEventAdapter %>
  created this issue from a note
<%- end %>
<%- if event.is_a?(PlatformTypes::AddedToProjectEvent) || !event.was_automated? %>
  in <a href="<%= project_path %>" class="Link--primary text-bold" ><%= event.project.name %></a>
  <%- if event.is_a?(PlatformTypes::ConvertedNoteToIssueEvent) %>
    (<strong><%= event.project_column_name %></strong>)
  <%- end %>
  <% if event.was_automated? %>
    via <%= render Primer::Beta::Label.new(scheme: :secondary) do %>automation<% end %>
  <% end %>
<%- end %>
