<% page_info \
  container_xl: true,
  title: "Autolink references",
  selected_link: :key_links_settings %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>Autolink references<% end %>
    <% component.with_actions do %>
      <%= link_to "Add autolink reference", new_key_link_path, class: "btn btn-sm" %>
    <% end %>
  <% end %>
  <p>
    References to GitHub issues, pull requests, and commits are automatically converted into links. Configure your own autolink references for non-GitHub URLs.
    <%= link_to "Learn more about automatic autolinks.", "#{GitHub.help_url}/articles/autolinked-references-and-urls/", class: "Link--inTextBlock" %>
  </p>

  <p>
    Autolinks can be either alphanumeric or numeric.
    <%= link_to "Read more about the differences between the two.", "#{GitHub.help_url}/repositories/managing-your-repositorys-settings-and-features/managing-repository-settings/configuring-autolinks-to-reference-external-resources", class: "Link--inTextBlock" %>
  </p>

    <% if key_links.any? %>
      <div class="Box mb-6">
        <div class="d-flex flex-column">
          <% key_links.each do |key_link| %>
            <%= render "settings/key_links/key_link", key_link: key_link %>
          <% end %>
        </div>
      <% else %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_visual_icon(icon: "link") %>
          <% c.with_heading(tag: :h2) do %>
            No custom autolink references have been created yet.
          <% end %>
        <% end %>
      <% end %>
  </div>

<% end %>
