<%# erblint:counter DeprecatedComponentsCounter 1 %>
<% page_info \
  container_xl: true,
  title: "Add autolink reference",
  selected_link: :key_links_settings %>

<%= render layout: "edit_repositories/edit" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h2) do %>
      <a href="<%= key_links_path %>">Autolink references</a> / Add new
    <% end %>
  <% end %>

  <%= form_for key_link do |f| %>
    <%= spamurai_form_signals %>

    <div class="form-checkbox">
      <label>
        <%= f.radio_button :is_alphanumeric, "1", { checked: true, class: "js-key-link-input" } %>
        Alphanumeric
      </label>
      <p class="note">
        Alphanumeric autolinks match <code>A-Z</code>, <code>0-9</code>, and <code>-</code>. They are not case
        sensitive.
      </p>
    </div>

    <div class="form-checkbox">
      <label>
        <%= f.radio_button :is_alphanumeric, "0", { class: "js-key-link-input" } %>
        Numeric
      </label>
      <p class="note">
        Numeric autolinks only match <code>0-9</code>.
      </p>
    </div>

    <%= f.text_group "Reference prefix", :key_prefix,
      required: true,
      class: "js-key-link-input",
      placeholder: "TICKET-",
      hint: <<~HINT
        This prefix appended by a string will generate a link any time it is found in an issue, pull request, or
        commit.
      HINT
    %>

    <% hint_markup = content_tag(:span) do %>
      <span>
        The URL must contain <code><%= KeyLinks::Public::URL_NUMBER_TEMPLATE %></code> for the reference number.
      </span>
    <% end %>
    <%= f.text_group "Target URL", :url_template,
      required: true,
      class: "js-key-link-input",
      placeholder: "https://example.com/TICKET?query=#{KeyLinks::Public::URL_NUMBER_TEMPLATE}",
      hint: hint_markup
    %>

    <div class="js-key-link-check" <%= "hidden" unless key_link.valid? %>
      src="<%= check_key_links_path %>">
      <%= render "settings/key_links/preview", key_link: key_link if key_link.valid? %>
    </div>
    <%= csrf_hidden_input_for check_key_links_path, class: "js-key-link-check-csrf" %>

    <%= render Primer::ButtonComponent.new(type: :submit, scheme: :primary, "data-disable-with": "") do %>Add autolink reference<% end %>
  <% end %>

<% end %>
