<%# erblint:counter DeprecatedComponentsCounter 3 %>
<%
  load_more_path = project_owner.is_a?(Organization) ? org_projects_path(project_owner.display_login) : user_projects_path(project_owner.display_login, type: "new")
  query = parsed_query.stringify
%>

<% if memexes.any? %>
  <% memexes.each do |memex| %>
    <%
      show_memex_path = project_owner.is_a?(Organization) ? show_org_memex_path(project_owner, memex.number) : show_user_memex_path(project_owner, memex.number)
      update_memex_path = project_owner.is_a?(Organization) ? update_org_memex_path(project_owner, memex.number) : update_user_memex_path(project_owner, memex.number)
      project_dom_id = "project_#{memex.id}"
    %>
    <div class="Box-row d-flex flex-row flex-auto flex-justify-between" <%= test_selector("memex-row") %>>
      <div class="d-flex flex-md-row flex-sm-column flex-auto">
        <div class="d-flex flex-1 flex-column col-12 width-full width-md-auto pr-4">
          <h4 class="mb-1 d-flex">
            <%= render(Primer::Beta::Octicon.new(icon: "table", color: :muted, mr: 2, mt: 1)) %>
            <a data-turbo="false" href="<%= show_memex_path %>" class="Link--primary mr-2 wb-break-word" id="<%= project_dom_id %>"><%= memex.display_title %></a>
            <% unless memex.public? %>
              <div class="no-wrap">
                <%= render Primer::Beta::Label.new(scheme: :secondary, vertical_align: :middle, mr: 1, mb: 1) do %>Private<% end %>
              </div>
            <% end %>
          </h4>
          <div class="f6 pr-sm-5 mb-2 mb-md-0 color-fg-muted">
            #<%= memex.number %> updated <%= time_ago_in_words_js memex.updated_at %>
          </div>
        </div>
        <% if memex.short_description.present? %>
          <div class="d-flex flex-1 flex-column markdown-body mb-1 pr-4" <%= test_selector("memex-description") %>>
            <div class="project-description f6 color-fg-muted wb-break-word">
              <%= memex.short_description %>
            </div>
          </div>
        <% end %>
      </div>
      <% if viewer_is_a_member %>
        <details class="details-reset details-overlay dropdown pl-1">
          <summary class="color-fg-muted mt-3" aria-labelledby="<%= project_dom_id %>">
            <%= primer_octicon(:"kebab-horizontal") %>
          </summary>
          <details-menu class="dropdown-menu dropdown-menu-sw <%= is_recent_selected ? "width-auto text-left" : "" %> mt-6 mr-1 top-0" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
            <%= form_tag update_memex_path, method: :put, role: "menuitem" do %>
              <input type="hidden" name="memex_number" value="<%= memex.number %>">
              <input type="hidden" name="closed" value="<%= memex.closed? ? "0" : "1" %>">
              <input type="hidden" name="client_uid" class="js-client-uid-field">
              <% if write_accessible_project_ids.include?(memex.id) %>
                <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, classes: "btn-link dropdown-item") do %>
                  <% if memex.closed? %>
                    <%= render(Primer::Beta::Octicon.new(icon: "sync", color: :muted, mr: 1)) %> Reopen
                  <% else %>
                    <%= render(Primer::Beta::Octicon.new(icon: "archive", color: :muted, mr: 1)) %> Close project
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% if is_recent_selected %>
              <%= form_tag remove_visited_org_memex_path(project_owner, memex.number), method: :delete, role: "menuitem" do %>
                <input type="hidden" name="memex_number" value="<%= memex.number %>">
                <input type="hidden" name="client_uid" class="js-client-uid-field">
                <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, pr: 3, classes: "btn-link dropdown-item") do %>
                  <%= render(Primer::Beta::Octicon.new(icon: "x", color: :muted, mr: 1)) %> Remove from recently viewed
                <% end %>
              <% end %>
            <% end %>
          </details-menu>
        </details>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% if parsed_query.full_text_query_terms.present? || parsed_query.state_filters.empty?  %>
    <%= render Primer::Beta::Blankslate.new do |c| %>
      <% c.with_visual_icon(icon: :table) %>

      <% c.with_heading(tag: :h2) do %>
        No projects matched your search
      <% end %>

      <% c.with_description do %>
        Create a new project or try a different search query.
      <% end %>
    <% end %>
  <% else %>
    <% if has_any_memex_projects %>
      <%= render Primer::Beta::Blankslate.new do |c| %>
        <% c.with_visual_icon(icon: :table) %>

        <% c.with_heading(tag: :h2) do %>
          <% if parsed_query.default_open_filter? %>
            No open projects
          <% else %>
            No matching projects
          <% end %>
        <% end %>

        <% c.with_description do %>
          <% if parsed_query.default_open_filter? %>
            No projects have been opened yet.
          <% else %>
            Create a new project or try a different search query.
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <% if viewer_is_a_member %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_visual_icon(icon: :table) %>

          <% c.with_heading(tag: :h2) do %>
            There aren't any projects yet
          <% end %>

          <% c.with_description do %>
            Try starting a new one.
          <% end %>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Blankslate.new do |c| %>
          <% c.with_visual_icon(icon: :table) %>

          <% c.with_heading(tag: :h2) do %>
            There aren't any public projects yet
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if has_next_page %>
  <div class="text-center d-block p-3 ajax-pagination-form js-ajax-pagination">
    <%= form_tag load_more_path, method: :get do %>
      <input type="hidden" name="cursor" value="<%= cursor %>">
      <input type="hidden" name="query" value="<%= query %>">
      <% if sort_query_cursor %>
        <input type="hidden" name="sort_query_cursor" value="<%= sort_query_cursor %>">
      <% end %>
      <input type="hidden" name="client_uid" class="js-client-uid-field">
      <%= render Primer::ButtonComponent.new(type: :submit, scheme: :link, test_selector: "project-load-more-button", "data-disable-with": "Loading more...") do %>Load more...<% end %>
    <% end %>
  </div>
<% end %>
