<%
  query_field_value = if is_recent_selected
    ""
  else
    parsed_query.stringify.present? ? parsed_query.stringify + " " : ""
  end

  selected_item_id = if is_recent_selected
    Memex::UIIndexSearch::Categories::Recent
  else
    Memex::UIIndexSearch::Categories::CreatedByMe
  end

  index_navigation_component_options = {
    selected_item_id: selected_item_id.serialize,
    recent_path: projects_dashboard_path,
    beta_path: nil,
    template_path: nil,
    created_by_me_path: projects_dashboard_path(query: "is:open creator:@me"),
    classic_path: nil
  }
%>
<%# TODO: How many of these are necessary? %>
<%
  page_info(
    title: "Projects",
    container_xl: true,
    skip_pjax_container: true,
    breadcrumb: "Projects",
  )
%>

<div class="<%= class_names(
    "clearfix",
    "pt-3",
    "container-lg" => !container_xl?,
    "container-xl" => container_xl?,
    "d-flex flex-auto p-0" => full_height?,
    "p-responsive" => responsive? && !full_height?
  ) %>">
  <%= render Memex::ProjectListContainerComponent.new(
        project_owner: nil,
        display_legacy_org_warning: display_legacy_org_warning,
        index_navigation_component_options: index_navigation_component_options
      ) do %>
    <%= render Memex::ProjectListComponent.new(
      context: MemexProject::ProjectsDashboardContext,
      projects: memexes,
      owner: current_user,
      is_recent_selected: is_recent_selected,
      has_next_page: has_next_page,
      cursor: cursor,
      sort_query_cursor: sort_query_cursor,
      parsed_query: parsed_query,
      open_memex_count: open_memex_count,
      closed_memex_count: closed_memex_count,
      load_more_path: projects_dashboard_path,
      write_accessible_project_ids: write_accessible_project_ids,
    ) do |list| %>
    <%= list.with_header do %>
      <%= render Memex::IndexHeadingComponent.new(
          project_owner: current_user,
          search_category: selected_item_id,
          display_visual_heading: true,
          include_context: false
        )
      %>
    <% end %>
      <%= list.with_controls do %>
        <%= render Primer::Box.new(ml: 0, flex: :auto) do %>
          <%= primer_form_with(method: :get) do |f| %>
            <%= render(Memex::ProjectList::SearchForm.new(f, parsed_query: parsed_query, context: MemexProject::ProjectsDashboardContext)) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<% content_for :scripts do %><%# erblint:disable NoContentForScripts %>
  <%= javascript_bundle "projects-splash-dialog" %>
<% end %>

<% content_for :head do %>
  <%= stylesheet_bundle "projects" %>
<% end %>
