<%= render Primer::Beta::Subhead.new(test_selector: "cache-subheading") do |component| %>
 <% component.with_heading(tag: :h2, danger: true) do %>Cache<% end %>
 <% component.with_actions do %>
    <%= form_tag stafftools_user_azure_exp_path(this_user), method: :delete, name: :clear_exp_cache, class: "d-flex flex-row flex-items-end", id: :clear_exp_cache do %>
      <div class="width-full d-flex flex-items-center flex-row mr-3">
        <label for="namespace-input" class="d-block f5 mr-2">Namespace</label>
        <select
          id="namespace-input"
          name="namespace"
          form="clear_exp_cache"
          value="<%= assignment_namespaces.first %>"
          class="form-select form-control width-full"
          required
          <%= test_selector("cache-namespace-selection") %>
        >
          <%= assignment_namespaces.map do |namespace| %>
            <option value="<%= namespace %>" <%= test_selector("option-#{namespace}") %>><%= namespace.humanize %></option>
          <% end %>
        </select>
      </div>
      <% if stafftools_action_authorized?(controller: Stafftools::Users::AzureExpController, action: :destroy) %>
        <%= render layout: "shared/details_dialog", locals: {
            button_text: "Clear cache",
            button_class: "btn btn-danger ml-1",
            title: "Clear cache?",
        } do %>
          <div class="Box-body overflow-auto">
            <p>
              This will clear this user's ExP cache, which will result in the next request for the variants going to Azure EXP.
            </p>
          </div>
          <div class="Box-footer">
              <%= render Primer::Beta::Button.new(
                type: :submit,
                block: true,
                scheme: :danger,
                test_selector: "cache-clearing-button",
              ) do %>Clear cache<% end %>
          </div>
        <% end %>
      <% else %>
        <%= render Primer::Beta::Button.new(
          scheme: :danger,
          disabled: true,
          "aria-label": stafftools_not_authorized_text,
        ) do %>
          Clear cache
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
