<% editable = false if local_assigns[:editable].nil? %>

<turbo-frame id="azure-exp-assignments">
  <div class="d-flex flex-1 flex-column m-auto">
    <%= render Primer::Box.new do %>
      <% namespaces.each do |namespace| %>
        <div class="mb-4 mt-1 flex-1">
            <%= render(Primer::Beta::Subhead.new(hide_border: true)) do |component| %>
              <% component.with_heading(tag: :h3, test_selector: "namespace-#{namespace.name}") do %>
                <%= namespace.name %>
              <% end %>
              <% component.with_description(test_selector: "namespace-#{namespace.name}-experiments-count") do %>
                <%= namespace.experiments.length %> active <%= "experiment".pluralize(namespace.experiments.length) %>
              <% end %>
            <% end %>
        <% namespace.experiments.each do |experiment| %>
          <%= render Stafftools::AzureExp::ExperimentAccordionComponent.new namespace:, experiment:, editable: %>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</turbo-frame>

