<% page_info title: "GitHub Models" %>

<%= render layout: "stafftools/stafftools" do %>
  <%= render Primer::Beta::Subhead.new do |component| %>
    <% component.with_heading(tag: :h1) do %>
      GitHub Models
    <% end %>
  <% end %>
  <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mt: 4)) do |component| %>
    <% component.with_header do |h| %>
      <% h.with_title(tag: :h2) do %>
        Job
      <% end %>
    <% end %>
    <% component.with_row(test_selector: "models-dialog-form") do %>
      <%= form_tag stafftools_models_update_path, method: :put do %>
        <%= render(Primer::Alpha::Dialog.new(
          title: "Update GitHub Models catalog data",
          id: "models-dialog",
        )) do |d| %>
          <% d.with_show_button { "Run catalog sync job" } %>
          <% d.with_body do %>
            <p>
              Clicking "Sync catalog" will fetch the latest GitHub Models catalog data from Azure. It may take a few minutes to complete.
            </p>
          <% end %>
          <% d.with_footer do %>
            <%= render(Primer::Beta::Button.new(scheme: :primary, type: :submit)) { "Sync catalog" } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% unless last_updated_at.nil? %>
    <%= render(Primer::Beta::BorderBox.new(padding: :condensed, mt: 4)) do |component| %>
      <% component.with_header do |h| %>
        <% h.with_title(tag: :h2) do %>
          Last updated at
        <% end %>
      <% end %>
      <% component.with_row(align_items: :center, test_selector: "models-dialog-form") do %>
        <p>
          <%= last_updated_at %> (<%= time_ago_in_words_js(last_updated_at) %>)
        </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
