<% view.suggestions.each do |user| %>
  <li class="member-suggestion typeahead-result" role="option" data-autocomplete-value="<%= user.display_login %>">
    <%= avatar_for(user, 24, :class => "avatar") %>
    <p class="member-suggestion-info">
      <strong class="member-login"><%= user.display_login %></strong>
      <span class="member-name">
        <%= user.profile_name %>
      </span>
    </p>
    <%= primer_octicon(:plus, float: :right) %>
  </li>
<% end %>
