<%# erblint:counter GoogleAnalyticsDeprecation 1 %>
<!--// Event //-->
<% if event.present? %>
  <div class="feed-item">
    <% if event.image.present? %>
      <a
        href="<%= event.url_for_mailer(auto_subscribed: @view.auto_subscribed) %>"
        style="display:block;margin-bottom:8px;"
        data-ga-click="Explore, go to event, location:explore mailer; text:<%= event.display_name %>"
      >
        <img
          style="display: block; max-width: 100%!important;"
          src="<%= image_path event.image %>" alt="<%= event.display_name %>"
          width="530"
        >
      </a>
    <% end %>

    <div style="margin-bottom:8px">
      <table>
        <tr>
          <td width="14px" valign="middle !important">
            <img
              alt=""
              src="<%= mailer_static_asset_path("images/email/explore/octocat.v2.png") %>"
              height="14"
              style="vertical-align:middle; margin-right:4px;"
            >
          </td>
          <td width="4"></td>
          <td style="font-size: 12px">
            Upcoming event recommended by GitHub
          </td>
        </tr>
      </table>
    </div>

    <table>
      <tr>
        <td width="72" style="vertical-align:top;text-align:center;">
          <div style="color:#cb2431; text-transform:uppercase;">
            <%= event.start_month %>
          </div>
          <div style="font-size:24px">
            <%= event.start_day %>
          </div>
        </td>
        <td colspan=2>
          <h3>
            <a href="<%= event.url_for_mailer(auto_subscribed: @view.auto_subscribed) %>" class="a-style-2">
              <%= event.display_name %>
            </a>
          </h3>
          <div style="color: #586069; margin: 4px 0;">
            <%= event.alternative_date_text.presence || event.long_date_range %>
          </div>
          <p><%= event.short_description %></p>
        </td>
      </tr>
    </table>
  </div>
<% end %>
