<!--// Collection //-->
<% if collection.present? %>
  <div class="feed-item">
    <a
      href="<%= email_link_with_tracking(
        url: collection_url(collection),
        email_source: "explore",
        auto_subscribed: @view.auto_subscribed,
      ) %>"
      style="display:block;"
    >
      <img
        style="display: block; width: 160px !important;"
        src="<%= collection.image_url %>"
        alt="<%= collection.display_name %>"
        width="160"
      >
    </a>

    <div style="margin-bottom:8px">
      <table>
        <tr>
          <td width="14px" valign="middle !important">
            <img
              alt=""
              src="<%= mailer_static_asset_path("images/email/explore/octocat.v2.png") %>"
              height="14"
              style="vertical-align:middle; margin-right:4px;"
            >
          </td>
          <td width="4"></td>
          <td style="font-size: 12px">
            Collection recommended by GitHub
          </td>
        </tr>
      </table>
    </div>

    <h3 style="margin-bottom:4px;">
      <a
        href="<%= email_link_with_tracking(
          url: collection_url(collection),
          email_source: "explore",
          auto_subscribed: @view.auto_subscribed,
        ) %>"
      >
        <%= collection.display_name %>
      </a>
    </h3>

    <div style="color: #586069;">
      <%= collection.description %>
    </div>

    <div style="color: #586069;">
      <a
        href="<%= email_link_with_tracking(
          url: collection_url(collection),
          email_source: "explore",
          auto_subscribed: @view.auto_subscribed,
        ) %>"
      >
        See the <%= pluralize(collection.items.size, 'item') %> in this collection
      </a>
    </div>
  </div>
<% end %>
