<div class="feed-item">
  <div style="margin-bottom:8px">
    <table>
      <tr>
        <td width="14px" valign="middle !important">
          <img
            alt=""
            src="<%= mailer_static_asset_path("images/email/explore/octicon-telescope.png") %>"
            height="14"
            style="vertical-align:middle; margin-right:4px;"
          >
        </td>
        <td width="4"></td>
        <td style="font-size: 12px">
          <%= @view.recommendation_reason_sentence(reason) %>
        </td>
      </tr>
    </table>
  </div>
  <table>
    <tr>
      <td width="18px" valign="middle !important" style="padding-bottom:0">
        <img
          src="<%= mailer_static_asset_path("images/email/explore/octicon-repo.png") %>"
          height="16"
          alt="repository"
          style="margin-top:4px;margin-right:4px;"
        >
      </td>
      <td width="4"></td>
      <td valign="middle !important" style="padding-bottom:0">
        <h3>
          <a
            href="<%= email_link_with_tracking(
              url: user_url(repository.owner),
              email_source: "explore",
              auto_subscribed: @view.auto_subscribed,
            ) %>"
          >
            <%= repository.owner.display_login %> /
          </a>
          <a
            href="<%= email_link_with_tracking(
              url: "#{GitHub.url}/#{repository.name_with_display_owner}",
              email_source: "explore",
              auto_subscribed: @view.auto_subscribed,
            ) %>"
            class="text-bold"
          >
            <%= repository.name %>
          </a>
        </h3>
      </td>
    </tr>
  </table>
  <div style="color: #586069;">
    <%= repository.description %>
  </div>
  <table>
    <tr>
      <% if repository.stargazer_count > 0 %>
        <td style="color: #586069;">
          &#9733;
          <%= @view.social_count(repository.stargazer_count) %>
          &nbsp;&nbsp;
        </td>
        <td width="8"></td>
      <% end %>
      <% if repository.forks_count > 0 %>
        <td width="14px" valign="middle !important">
          <img
            alt="fork"
            src="<%= mailer_static_asset_path("images/email/explore/octicon-fork.png") %>"
            height="14"
            style="margin-top:4px;"
          >
        </td>
        <td width="2"></td>
        <td style="color: #586069;">
          <%= @view.social_count(repository.forks_count) %>
        </td>
      <% end %>
    </tr>
  </table>

  <%
    good_first_issues = ExploreFeed::RepositoryGoodFirstIssue
      .fetch_by_repo_id(repository.id)
      .recommendable
      .explore_mailer_issues
  %>

  <% if good_first_issues.size.positive? %>
    <div style="margin-top:8px; margin-bottom:4px;">
      <strong>
        <a href="<%= email_link_with_tracking(
          url: "#{GitHub.url}/#{repository.name_with_display_owner}/contribute",
          email_source: "explore",
          auto_subscribed: @view.auto_subscribed,
        ) %>">Good first issues</a>
      </strong>
    </div>
    <% good_first_issues.each do |issue| %>
      <div style="margin-bottom: 4px;">
        <a href="<%= issue.permalink %>">
          <%= issue.title %>
        </a>
      </div>
    <% end %>
  <% end %>
</div>
