<!--// Spotlight //-->
<% if spotlight.present? %>
  <div class="feed-item">
    <% if spotlight.external_url.present? %>
      <a
        href="<%= email_link_with_tracking(
          url: spotlight.external_url,
          email_source: "explore",
          auto_subscribed: @view.auto_subscribed,
        ) %>"
        style="display:block;"
      >
    <% end %>
      <img
        style="display: block; max-width: 100%!important;margin-bottom:8px;"
        src="<%= spotlight.image %>"
        alt="<%= spotlight.heading %>"
        width="530"
      >

    <% if spotlight.external_url.present? %>
      </a>
    <% end %>

    <% if spotlight.content_type %>
      <div style="margin-bottom:8px">
        <table>
          <tr>
            <td width="14px" valign="middle !important">
              <img
                alt=""
                src="<%= mailer_static_asset_path("images/email/explore/octocat.v2.png") %>"
                height="14"
                style="vertical-align:middle; margin-right:4px;"
              >
            </td>
            <td width="4"></td>
            <td style="font-size: 12px">
              <%= spotlight.content_type %>
            </td>
          </tr>
        </table>
      </div>
    <% end %>

    <h3 style="margin-bottom:8px">
      <% if spotlight.external_url.present? %>
        <a
          href="<%= email_link_with_tracking(
            url: spotlight.external_url,
            email_source: "explore",
            auto_subscribed: @view.auto_subscribed,
          ) %>"
        >
      <% end %>
        <% if spotlight.repository? %>
          <img
            src="<%= mailer_static_asset_path("images/email/explore/octicon-repo.png") %>"
            height="16"
            alt="repository"
            style="vertical-align:middle; margin-right: 4px;"
          >
          <span class="font-weight:400 !important;">
            <%= spotlight.github_user %>
          </span>
          <%= "/ #{spotlight.github_repo}" %>
        <% else %>
          <%= spotlight.heading %>
        <% end %>
      <% if spotlight.external_url.present? %>
        </a>
      <% end %>
    </h3>

    <div style="color: #586069;">
      <%= spotlight.description %>
    </div>
  </div>
<% end %>
