<!-- Trending -->
<% if trending_repositories.any? %>
  <div style="margin-bottom: 16px;">
    <table>
      <tr>
        <td width="24px" valign="middle !important">
          <img
            alt=""
            src="<%= mailer_static_asset_path("images/email/explore/octicon-telescope.png") %>"
            height="24"
            style="vertical-align:middle; margin-right:4px;"
          >
        </td>
        <td width="4"></td>
        <td>
          <h2>Trending repositories</h2>
        </td>
      </tr>
    </table>

    <% trending_repositories.each do |repo| %>
      <%= render(
        "mailers/explore/trending_repo_row",
        repo: repo,
        stars: repo.stargazer_count,
      ) %>
    <% end %>
    <p>
      <%= link_to(
        "See more trending repositories →",
        email_link_with_tracking(
          url: "https://github.com/trending",
          email_source: "explore",
          auto_subscribed: @view.auto_subscribed
        ),
      ) %>
    </p>
  </div>
<% end %>

<% if trending_developers.any? %>
  <div style="margin-top:32px">
    <div style="margin-bottom:16px;">
      <table>
        <tr>
          <td width="24px" valign="middle !important">
            <img
              alt=""
              src="<%= mailer_static_asset_path("images/email/explore/octicon-telescope.png") %>"
              height="24"
              style="vertical-align:middle; margin-right:4px;"
            >
          </td>
          <td width="4"></td>
          <td>
            <h2>Trending developers</h2>
          </td>
        </tr>
      </table>
    </div>

    <% trending_developers.each do |user| %>
      <%= render(
        "mailers/explore/trending_developer_row",
        user: user,
      ) %>
    <% end %>
    <p>
      <%= link_to(
        "See more trending developers →",
        email_link_with_tracking(
          url: "https://github.com/trending/developers",
          email_source: "explore",
          auto_subscribed: @view.auto_subscribed
        ),
      ) %>
    </p>
  </div>
<% end %>
