<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Explore <%= @view.span %> on GitHub</title>
    <%= render "mailers/explore/styles" %>
  </head>

  <body bgcolor="#fafafa" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; height: 100% !important; line-height: 1.5; margin: 0; padding: 0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; width: 100% !important; background-color: #fafafa;">

    <table class="body" style="box-sizing: border-box; border-collapse: separate !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #fff;" width="100%" bgcolor="#fff">
      <tr>
        <td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top"></td>
        <td class="container" style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top; display: block; margin: 0 auto !important; max-width: 580px; padding: 24px; width: 580px;" width="580" valign="top">
          <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px;">

            <div class="mark" style="text-align: center;">
              <a href="<%= email_link_with_tracking(url: "https://github.com/explore", email_source: "explore", auto_subscribed: @view.auto_subscribed) %>" style="display:block;text-align: center;">
                <img src="<%= mailer_static_asset_path("images/email/global/wordmark.png") %>" width="102" height="28" class="center logo-wordmark" alt="GitHub">
              </a>
            </div>
            <h1 style="font-size: 1.6em; text-align: center; margin: 0 20px 24px;">
              <span style="color:#6a737d; font-weight:normal;">Explore code and developers on GitHub</span> <span class="text-bold"><%= @view.period_subtext %>.</span>
            </h1>

            <div class="panel">
              <h2 style="margin-bottom:32px;">
                Here's what we found based on your interests...
              </h2>

              <% @repository_recommendations.slice(0, 2).each do |repository_recommendation| %>
                <%= render(
                  "mailers/explore/recommended_repo",
                  repository: repository_recommendation.repository,
                  reason: repository_recommendation.reason,
                ) %>
              <% end %>

              <%= render(
                "mailers/explore/topics/topic",
                label: "GitHub topic recommendation",
                topic: ExploreFeed::Recommendation::Topic.all(for_user: @view.user).spotlight,
              ) %>

              <%= render "mailers/explore/spotlight", spotlight: @spotlights_in_feed.first %>

              <% (@repository_recommendations.slice(2, 2) || []).each do |repository_recommendation| %>
                <%= render(
                  "mailers/explore/recommended_repo",
                  repository: repository_recommendation.repository,
                  reason: repository_recommendation.reason,
                ) %>
              <% end %>

              <% (@repository_recommendations.slice(4, 2) || []).each do |repository_recommendation| %>
                <%= render(
                  "mailers/explore/recommended_repo",
                  repository: repository_recommendation.repository,
                  reason: repository_recommendation.reason,
                ) %>
              <% end %>

              <%= render "mailers/explore/event", event: @event %>

              <% (@repository_recommendations.slice(6, 2) || []).each do |repository_recommendation| %>
                <%= render(
                  "mailers/explore/recommended_repo",
                  repository: repository_recommendation.repository,
                  reason: repository_recommendation.reason,
                ) %>
              <% end %>

              <%= render "mailers/explore/featured_collection", collection: @featured_collection %>

              <% (@repository_recommendations.slice(8, 2) || []).each do |repository_recommendation| %>
                <%= render(
                  "mailers/explore/recommended_repo",
                  repository: repository_recommendation.repository,
                  reason: repository_recommendation.reason,
                ) %>
              <% end %>

              <%= render "mailers/explore/spotlight", spotlight: @spotlights_in_feed.second %>

              <%= render(
                "mailers/explore/trending",
                trending_repositories: @trending_repositories,
                trending_developers: @trending_developers,
              ) %>
            </div>

            <%= render "mailers/explore/footer" %>
          </div>
        </td>
        <td style="box-sizing: border-box; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; font-size: 14px; vertical-align: top;" valign="top"></td>
      </tr>
    </table>
  </body>
</html>
