<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<li>
  <details class="details-reset details-overlay details-overlay-dark">
    <summary class="stat-toggle">
      <strong class="tooltipped tooltipped-s preformatted-tooltip" aria-label="<%= view.auth_tooltip %>"><%# erblint:disable GitHub::Accessibility::NoAriaLabelMisuse, Primer::Accessibility::TooltippedMigration %>
        <%= view.auth_summary %>
      </strong> authz
    </summary>
    <details-dialog class="anim-fade-in fast Box Box--overlay Box-overlay--wide d-flex flex-column" aria-label="Features"><%# erblint:disable A11yDetailsDialogMigration %>
      <div class="Box-header">
        <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
          <%= render Primer::Beta::Octicon.new(icon: "x") %>
        </button>
        <h3>Authorization</h3>
      </div>
      <div class="Box-body overflow-auto">
        <h4>authzd requests</h4>
        <% if view.any_authz_stats? %>
          <table class="width-full">
            <tr class="color-bg-accent">
              <th class="p-1">Batch?</th>
              <th class="p-1">Action(s)</th>
              <th class="p-1">Time (ms)</th>
            </tr>

            <% row_num = 0 %>
            <% view.authzd_authorize_requests.each do |request| %>
              <% row_num += 1 %>
              <tr class="<%= row_num.even? ? "color-bg-subtle" : nil %>">
                <td class="p-1">No</td>
                <td class="p-1"><%= request[:action] %></td>
                <td class="p-1"><%= number_with_precision(request[:duration_ms], precision: 1) %></td>
              </tr>
            <% end %>

            <% view.authzd_batch_authorize_requests.each do |request| %>
              <% row_num += 1 %>
              <tr class="<%= row_num.even? ? "color-bg-subtle" : nil %>">
                <td class="p-1">Yes</td>
                <td class="p-1"><%= request[:actions].join(", ") %></td>
                <td class="p-1"><%= number_with_precision(request[:duration_ms], precision: 1) %></td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <p>No authzd requests were made</p>
        <% end %>

        <h4 class="pt-2">
          <a class="Link--inTextBlock" href="https://github.com/github/github/blob/master/lib/permission_cache.rb">
            PermissionCache
          </a>
          contents
        </h4>

        <% if PermissionCache.any? %>
          <table class="width-full">
            <tr class="color-bg-accent">
              <th class="p-1">Cache Key</th>
              <th class="p-1">Cache Value</th>
            </tr>

            <% row_num = 0 %>
            <% PermissionCache.each do |cache_key, value| %>
              <% row_num += 1 %>
              <tr class="<%= row_num.even? ? "color-bg-subtle" : nil %>">
                <td class="p-1"><%= cache_key.inspect %></td>
                <td class="p-1">
                  <% if value.is_a?(Enumerable) && value.size > 100 %>
                    <%= value.first(100).inspect %>
                    <p>
                      *<%= value.size - 100 %> more items not shown
                    </p>
                  <% else %>
                    <%= value.inspect %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        <% else %>
          <p>No PermissionCache keys were set during this request.</p>
        <% end %>
      </div>
    </details-dialog>
  </details>
</li>
