<table class="width-full mb-2">
  <thead>
    <tr>
      <th class="col-2 pr-3 border-bottom border-right"><strong>Query count</strong></th>
      <th class="pl-3 pr-3 pt-1 pb-1 width-full border-bottom border-right"><strong>Cluster name</strong></th>
      <th class="pl-3 border-bottom"><strong>Enabled</strong></th>
    </tr>
  </thead>

  <% clusters.each.with_index do |(name, count), index| %>
    <%- disabled = disabled_clusters.include?(name) -%>
    <%- last_row = index == clusters.length - 1 -%>

    <tr>
      <td class="col-2 pr-3 text-right border-right <%= "border-bottom" unless last_row %>">
        <%= disabled ? "-" : count %>
      </td>
      <td class="pl-3 pr-3 pt-1 pb-1 width-full border-right <%= "border-bottom" unless last_row %>">
        <%= name %>
      </td>
      <td class="pl-3 <%= "border-bottom" unless last_row %>">
        <% if disabled %>
          <%= render Primer::Beta::IconButton.new(
            icon: :"no-entry",
            size: :small,
            tag: :a,
            scheme: :invisible,
            "aria-label": "Re-enable queries to the #{name} cluster",
            href: "?#{request.query_parameters.merge(disable_clusters: disabled_clusters.excluding(name).join(",")).to_query}",
          ) %>
        <% else %>
          <%= render Primer::Beta::IconButton.new(
            icon: :"check",
            size: :small,
            tag: :a,
            scheme: :invisible,
            "aria-label": "Disable queries to the #{name} cluster",
            href: "?#{request.query_parameters.merge(disable_clusters: disabled_clusters.including(name).join(",")).to_query}",
          ) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
