<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%# erblint:counter DeprecatedInPrimerCounter 1 %>
<% view ||= Stafftools::Staffbar::Stats.new(request: request) %>
<ul class="stats js-stats" data-turbo-replace id="staffbar-stats">
  <% if view.response_time_stats %>
    <li class="js-pjax-stat" hidden style="line-height: 2.25">
      <%= render Primer::Tooltip.new(label: "PJAX Navigations", direction: :s) do %>
        <%= render Primer::Beta::Label.new(scheme: :success, size: :large) do %>
          ♻️ <span class="js-pjax-count color-fg-on-emphasis">0</span>
        <% end %>
      <% end %>
    </li>
    <li style="line-height: 2.25">
      <%= render Primer::Beta::Label.new(scheme: view.label_scheme, size: :large, classes: "color-text-white") do %>
        <%= render(Primer::Experimental::Dialog.new(
            dialog_id: "staffbar-stats-response-time",
            show_header_divider: true,
            show_footer_divider: false,
            header_variant: :large,
            width: :medium,
            title: "Response Time Details",
            color: :default,
          )) do |c| %>
          <% c.with_show_button(scheme: :link, classes: "color-text-white") do |s| %>
            <%= view.response_time_stats %> <%= view.reaction_emoji %>
          <% end %>
          <% c.with_body do %>
            <%= view.label_summary %>
          <% end %>
        <% end %>
        <%= render Stafftools::SoftNav::SoftNavStaffbarComponent.new %>
        <%= render Stafftools::React::ReactStaffbarComponent.new %>
        <%= render Stafftools::DataHpc::DatahpcStaffbarComponent.new %>
      <% end %>
    </li>
  <% end %>
</ul>
