<%# erblint:counter DeprecatedComponentsCounter 1 %>
<%= render Primer::Alpha::Dialog.new(
  id: "cancel-trial-#{business.id}",
  size: :large,
  title: "#{cancel_trial_flavor} trial for #{business.name}",
) do |dialog| %>
  <% dialog.with_show_button(
    test_selector: "cancel-button",
    scheme: :danger,
    size: button_size,
    data: {
      **analytics_click_attributes(
        category: "enterprise_trial_account",
        action: "cancel_enterprise_trial",
        label: "enterprise_id:#{business.id};location:enterprise_billing_settings")
    }
  ) do %>
    <%= cancel_trial_flavor %> trial
  <% end %>
  <% dialog.with_header(font_size: 3) do %>
    <%= cancel_trial_flavor %> trial for <%= business.name %>
  <% end %>

  <%= form_tag settings_billing_cancel_trial_enterprise_path(business), method: :put do %>
    <%= dialog.with_body do %>
      <%= render Primer::Beta::Flash.new(scheme: :warning, icon: "alert", my: 3) do %>
        Access to some organizations will be lost if you continue.
      <% end %>
      <p>If you <%= cancel_trial_flavor.downcase %> this trial, the following will happen:</p>
      <ul class="ml-3">
        <li>
          You will lose access to organizations created as part of the trial. You could
          <%= render(Primer::Beta::Link.new(
            href: "#{GitHub.help_url}/repositories/creating-and-managing-repositories/transferring-a-repository",
            rel: "noopener noreferrer",
            target: "_blank",
            classes: "Link--inTextBlock"
          )) { "transfer repositories to other organizations" } %>
          to avoid this.
        </li>
        <li>Invited organizations will be reverted to their previous plan.</li>
        <li>You and all administrators will lose access to the <%= business.name %> enterprise.</li>
      </ul>
      <div class="form-checkbox" aria-live="polite" <%= test_selector("cancel-trial-confirmation")%>>
        <input type="checkbox" class="form-checkbox-details-trigger" id="cancel_trial_confirmation" name="cancel_trial_confirmation">
        <label for="cancel_trial_confirmation" class="text-bold">
          I've read and understand the consequences of <%= cancelling_trial_flavor %> this trial.
        </label>
      </div>
    <% end %>

    <%= dialog.with_footer do %>
      <%= render(Primer::Beta::Button.new(data: { "close-dialog-id": "cancel-trial-#{business.id}" })) { "Cancel" } %>
      <%= render(Primer::Beta::Button.new(
        type: :submit,
        scheme: :danger,
        test_selector: "confirm-cancel-button",
        data: {
          **analytics_click_attributes(
            category: "enterprise_trial_account",
            action: "confirm_cancel_enterprise_trial",
            label: "enterprise_id:#{business.id};ref_loc:#{ref_loc}"
          ).merge("disable-with": "")
        }
      )) { "Proceed to #{cancel_trial_flavor.downcase} trial" } %>
    <% end %>
  <% end %>
<% end %>
