<%# erblint:counter DeprecatedComponentsCounter 4 %>
<% if emu_contribution_blocked?(current_repository) %>
  <%= render(Primer::Beta::Flash.new(mb: 3, scheme: :warning)) do %>
    <%= emu_contribute_block_warning %>
  <% end %>
<% elsif can_interact_with_repo? %>
  <%= render partial: "pull_requests/tip", locals: { current_repository: current_repository, current_user: current_user } if params[:show_onboarding_guide_tip].present? %>
  <%= render(Primer::Beta::Flash.new(mb: 3, display: :flex, justify_content: :space_between, align_items: :center, classes: "Details-content--shown"))  do %>
    <div <%= test_selector("pr-template-list") %>>
      Discuss and review the changes in this comparison with others.
      <%= render(Primer::Beta::Link.new(href: "#{GitHub.help_url}/articles/using-pull-requests", target: "_blank", classes: "no-wrap Link--inTextBlock")) do %>
        Learn about pull requests
      <% end %>

      <div class="d-flex flex-column flex-md-row ">
        <div class="flex-auto min-width-0">
          Don’t see your template here?
          <%= render(Primer::Beta::Link.new(href: compare_path(current_repository, range, expand: true), classes: "no-wrap Link--inTextBlock"), "data-hydro-click": blank_pull_request_hydro_attributes["hydro-click"], "data-hydro-click-hmac": blank_pull_request_hydro_attributes["hydro-click-hmac"] ) do %>
            Create a blank pull request.
          <% end %>
        </div>
      </div>
    </div>

    <details class="select-menu details-reset details-overlay">
      <%= render Primer::ButtonComponent.new(tag: :summary, scheme: :primary, variant: :medium, classes: "select-menu-button", "data-hydro-click": template_pull_request_hydro_attributes["hydro-click"], "data-hydro-click-hmac": template_pull_request_hydro_attributes["hydro-click-hmac"]) do %>
        Create pull request with a template
      <% end %>
      <details-menu class="SelectMenu" role="menu"><%# erblint:disable Primer::Accessibility::DetailsMenuMigration %>
        <div class="SelectMenu-modal position-absolute" style="z-index: 99;">
          <div class="select-menu-list">
            <% pull_request_templates.each do |template| %>
              <a href="<%=compare_path(current_repository, range, expand: true) + "&template=#{template.filename}" %>"
                class="select-menu-item text-normal f6"
                role="menuitemradio"
                tabindex="0"
                >
                <span class="select-menu-item-text" <%= test_selector("template-name") %> ><%= formatted_filename(template.filename) %></span>
              </a>
            <% end %>
          </div>
        </div>
      </details-menu>
    </details>
  <% end %>
<% else %>
  <%= render(Primer::Beta::Flash.new(mb: 3, scheme: :warning)) do %>
    <%= interaction_ban_copy(current_repository, current_user, "open a pull request") %>
  <% end %>
<% end %>
