<% if render_tabs? %>
  <div class="tabnav">
    <div class="tabnav-extra float-right"  <%= test_selector("compare-author-count") %>>
      <%= render(Primer::Beta::Octicon.new(icon: "organization")) %>
      <%= number_with_delimiter(author_count) %>
      <%= "contributor".pluralize(author_count) %>
    </div>

    <nav class="tabnav-tabs" aria-label="Compare Stats">
      <a href="#commits_bucket" class="<%= set_class(:commits_bucket) %>" data-hydro-click="<%= commits_hydro_attributes["hydro-click"] %>" data-hydro-click-hmac="<%= commits_hydro_attributes["hydro-click-hmac"] %>" <%= test_selector("compare-commit-count") %>>
        <%= render(Primer::Beta::Octicon.new(icon: "git-commit")) %>
        Commits
        <%= render Primer::Beta::Counter.new(count: commit_count) %>
      </a>

      <a href="#files_bucket" class="<%= set_class(:files_bucket) %>" data-hydro-click="<%= files_hydro_attributes["hydro-click"] %>" data-hydro-click-hmac="<%= files_hydro_attributes["hydro-click-hmac"] %>" <%= test_selector("compare-file-diff") %>>
        <%= render(Primer::Beta::Octicon.new(icon: "file-diff")) %>
          Files changed
        <%= render Primer::Beta::Counter.new(count: files_changed_count) %>
      </a>
    </nav>
  </div>
<% else %>
  <%= render(Primer::Box.new(mb: 3, classes: "Box")) do %>
    <ul class="d-block d-sm-flex list-style-none px-2" <%= test_selector("compare-stats-bar") %>>
      <%= render Compare::StatComponent.new(icon_name: "git-commit", item_count: commit_count, pluralized_item_name: "commit") %>
      <%= render Compare::StatComponent.new(icon_name: "file-diff", item_count: files_changed_count, pluralized_item_name: "file", description_suffix: "changed") %>
      <%= render Compare::StatComponent.new(icon_name: "people", item_count: author_count, pluralized_item_name: "contributor") %>
    </ul>
  <% end %>
<% end %>
